
html
{
	overflow-y: scroll;
}

html,
body,
#content
{
	height: auto;
}

body
{
	padding-top: 60px;
}
html.account body,
html.myfiles body
{
	padding-top: 0;
}

a:hover
{
	color: #D6363A;
}

.placeholder
{
	color: #aaa;
}


#header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border: none !important;
	z-index: 1000;
}
#header.header-scrolled
{
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
#user-nav
{
	position: fixed;
	z-index: 1000;
}
html.account #header,
html.account #user-nav
{
	position: relative;
	z-index: 0;
}




#anon_header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border: none !important;
	z-index: 1000;
	background: #fff;
}
#anon_header.header-scrolled
{
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
#anon_header .navbar, #anon_header .navbar-collapse
{
	background: none;
}

#anon_header .navbar-default .navbar-nav>.active>a,
#anon_header .navbar-default .navbar-nav>.active>a:hover,
#anon_header .navbar-default .navbar-nav>.active>a:focus
{
	background: none;
}
#anon_header .navbar-nav>li>a:hover
{
	border-bottom: 2px solid #ed1c24;
}

#anon_header h1 a {
	width: 220px;
	height: 42px;
}






.ff-bold
{
	font-weight: 600;
}





#ff-overlay
{
	background-color: rgba(221,68,0,0.95);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10000;
	display: none;
}
html.overlay-active #ff-overlay
{
	display: block !important;
}
#ff-overlay-inner
{
	padding: 50px 10px;
}
#ff-overlay-close
{
	position: fixed;
	top: 15px;
	right: 10px;
}
#ff-overlay-close .icon
{
	font-size: 30px;
	cursor: pointer;
	display: inline-block;
	color: #fff;
}
#ff-overlay-close .icon:hover
{
	color: #ff0;
}

#ff-overlay-logo
{
	text-align: center;
	padding-bottom: 30px;
}
#ff-overlay-logo h1
{
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 300px;
	height: 55px;
	background: transparent url('/img/logos/filefactory_white.svg') 50% 50% no-repeat;
	background-size: 300px 55px;
	text-align: center;
	outline: 0;
	text-indent: -9999px
}

#ff-overlay-menu
{
	text-align: center;
}
#ff-overlay-menu-option
{
}
.ff-overlay-menu-option a
{
	color: #fff;
	display: inline-block;
	margin: 20px 0;
	font-size: 26px;
	text-decoration: none;
}
.ff-overlay-menu-option a:hover
{
	color: #ff0;
	border-color: #ff0;
}
.ff-overlay-menu-option.active a
{
	color: #ff0;
	border-color: #ff0;
}









html.overlay-active #anon_header
{
	display: none !important;
}

#ff-navbar
{
}
#ff-navbar-inner
{
	max-width: 1100px;
	margin: 0 auto;
}

#ff-navbar-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
}
#ff-navbar-layout-left
{
	display: table-cell;
	padding: 0;
	vertical-align: middle;
	height: 60px;
}
#ff-navbar-layout-left a
{
	display: inline-block;
	min-width: 150px;
}
#ff-navbar-layout-right
{
	display: table-cell;
	padding: 0;
	vertical-align: middle;
	height: 60px;
	text-align: right;
	padding-right: 5px;
}
#ff-navbar-layout-overlay
{
	padding: 0;
	vertical-align: middle;
	height: 60px;
	text-align: right;
	padding-right: 10px;
	display: none;
}
#ff-navbar-overlay .icon
{
	font-size: 30px;
	cursor: pointer;
	color: #999;
}
#ff-navbar-overlay .icon:hover
{
	color: #d40;
}





#ff-navbar-menu
{
}
.ff-navbar-menu-option
{
	display: inline-block;
	vertical-align: middle;
    padding: 0 15px;
}
.ff-navbar-menu-option a
{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	color: #34495e;
	padding-bottom: 4px;
	border-bottom: 2px solid #d7d7d7;
}
.ff-navbar-menu-option a:hover
{
	text-decoration: none;
	border-color: #d40;
}
.ff-navbar-menu-option.active a
{
	border-color: #d40;
	font-weight: 600;
}








#global_footer
{
	padding: 30px 15px;
}
#global_footer_links
{
	max-width: 700px;
	margin: 0 auto;
}
#global_footer_links a
{
	margin: 0 5px;
	font-size: 15px;
	white-space: nowrap;
}
#global_footer_copyright
{
	margin-top: 25px;
	font-size: 15px;
}

#global_footer_logo
{
	text-align: center;
	margin-bottom: 10px;
}
#global_footer_logo img
{
	max-width: 300px;
}








/* BUTTONS */

.btn-primary
{
	border: #5cb85c;
	background: #5cb85c;
}
.btn-primary:hover
{
	border: #d6363a;
	background: #d6363a;
}

.btn-theme {
	padding: 12px 35px;
	font-size: 18px;
	background: none;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.btn-theme:hover {
	color: #fff;
}

a.btn-theme {
	color: #fff;
}

.btn-opacity {
	background-color: rgba(255, 255, 255, .2) !important;
	border: none !important;
	padding: 13px 36px !important;
}

.btn-line {
	background: transparent !important;
	border: 2px solid;
}


/* BUTTON WRAPPED FOR A LINE (FOR COLOR OVERLAY VERSION) */

.color-overlay .btn-theme {
	color: #fff !important;
	border: 2px solid #fff;
}


/* ANIMATIONS HOVER */

.pulse-hover:hover {
	-webkit-animation: pulse .3s;
			animation: pulse .3s;
-webkit-animation: pulse .5s;
animation: pulse .5s;
}

.no-pulse {
	-webkit-animation: none !important;
			animation: none !important;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}






h2 {
	font-size: 52px;
	font-weight: 200;
}

h3 {
	font-size: 34px;
	font-weight: 300;
}

h4 {
	font-size: 28px;
	font-weight: 300;
}




#set_language select
{
	font-size: 14px;
	padding: 6px 10px;
	height: auto;
	border-radius: 5px;
	border: 1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}

#set_language .btn
{
	font-size: 13px !important;
	padding: 7px 15px 9px 15px;
	border: none;
	display: inline-block;
	vertical-align: middle;
}

#set_language .btn:hover
{
	background-color: #D43739;
	color: #fff;
}












.ff-page
{
	font-size: 0;
}

.ff-page h1,
.ff-page h2,
.ff-page h3,
.ff-page h4,
.ff-page h5,
.ff-page h6
{
	margin: 0;
}
.ff-page h1
{
	margin-top: 0;
	font-size: 50px;
	font-weight: 600;
}
.ff-page h2
{
	margin-top: 0;
	font-size: 40px;
	line-height: 50px;	
	font-weight: 600;
	color: #444;
}
.ff-page h3
{
	margin-bottom: 5px;
	font-size: 26px;
	line-height: 36px;
	font-weight: 600;
	color: #555;
}
.ff-page h4
{
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: 600;
	color: #777;
}







.ff-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
	font-size: 0;
}
.ff-layout-row
{
	display: table-row;
}
.ff-layout-header
{
	display: table-cell;
	padding: 0;
	vertical-align: middle;
}
.ff-layout-cell
{
	display: table-cell;
	padding: 0;
	vertical-align: middle;
}







.ff-section
{
	padding-left: 10px;
	padding-right: 10px;
}
.ff-section-inner
{
	max-width: 1100px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}
.ff-section2
{
	background-color: #f9f9f9;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}
.ff-section2 h2
{
	color: #555;
}
.ff-section2-inner
{
	max-width: 1100px;
	margin: 0 auto;
	padding: 35px 15px;
}
.ff-section-top
{
	max-width: 850px;
	margin: 0 auto;
	margin-bottom: 35px;
}
.ff-section-top h2
{
	font-weight: 600;
}
.ff-section-top p
{
	font-size: 18px;
	line-height: 32px;
}










.ff-button,
.ff-button-passive
{
	border-radius: 5px;
	border: none;
	-webkit-transition: all 0.2s ease !important;
	-moz-transition: all 0.2s ease !important;
	-o-transition: all 0.2s ease !important;
	transition: all 0.2s ease !important;
	color: #fff;
	background-color: #5cb85c;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-weight: normal;
	margin-bottom: 0;
	display: inline-block;
	text-decoration: none;
}
.ff-button-passive
{
	background-color: #ddd;
	color: #999;
}
.ff-button:hover,
.ff-button-passive:hover
{
	color: #fff;
	text-decoration: none;
	background-color: #D43739;
	-webkit-transition: all 0.2s ease !important;
	-moz-transition: all 0.2s ease !important;
	-o-transition: all 0.2s ease !important;
	transition: all 0.2s ease !important;
}






.ff-header
{
	text-align: center;
}
.ff-header-inner
{
	padding: 25px 15px;
}
.ff-header-top
{
	margin-bottom: 50px;
}
.ff-header-bottom
{
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 20px;
}












.ff-content
{
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	padding: 0 10px;
}
.ff-content-inner
{
	padding-bottom: 20px;
	text-align: left;
	max-width: 1100px;
	margin: 0 auto;
}
.ff-content-body h1
{
	white-space: nowrap;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #333;
}
.ff-content-body h2
{
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	color: #333;
}
.ff-content-body h3
{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	margin-top: 30px;
	color: #333;
}
.ff-content-body h4
{
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	margin-top: 30px;
	color: #333;
}
.ff-content-body h5
{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	margin-top: 20px;
	color: #333;
}
.ff-content-body blockquote,
.ff-content-body p
{
	color: #888;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
}

.ff-content em
{
	color: #aaa;
}
.ff-content a
{
	font-weight: 600;
	padding: 0 1px;
}
.ff-content a.anchor
{
	font-size: 0;
	padding: 0;
}

.ff-content ol,
.ff-content ul
{
	margin: 10px 0;
	color: #888;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.ff-content li
{
	margin: 10px 0;
}
.ff-content li > ol > li,
.ff-content li > ul > li
{
	margin: 5px 0;
}
.ff-content li > div
{
}
.ff-content li > strong
{
	font-weight: 700;
	color: #555;
}
.ff-content li > em
{
	color: #aaa;
}
















.ff-content-form
{
}
.ff-content-form-body
{
}
.ff-content-form-label
{
	font-size: 14px;
	font-weight: 600;
	display: block;
	margin-bottom: 2px;
}
.ff-content-form-label strong
{
	color: #D6363A;
	font-size: 16px;
	padding-right: 2px;
}
.ff-content-form-field
{
	margin-bottom: 15px;
}
.ff-content-form-field input[type="password"],
.ff-content-form-field input[type="text"],
.ff-content-form-field textarea
{
	font-size: 16px;
	padding: 5px;
}
.ff-content-form-submit
{
	margin-top: 30px;
}
.ff-content-form-submit input[type="submit"]
{
	margin-right: 15px;
}

.ff-content-form .width-auto
{
	width: auto;
}
.ff-content-form .width-small
{
	width: 100%;
	max-width: 250px;
}
.ff-content-form .width-half
{
	width: 100%;
	max-width: 400px;
}
.ff-content-form .width-full
{
	width: 100%;
	max-width: 750px;
}

.ff-content-form-errors
{
	margin-bottom: 30px;
	color: #D6363A;
}
.ff-content-form-errors-prompt
{
	font-weight: 600;
}
.ff-content-form-errors ul
{
}
.ff-content-form-errors li
{
	color: #D6363A;
}








.ff-features
{
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	padding: 0;
}
.ff-features-inner
{
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 0;
}
.ff-features-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
}
.ff-features-layout-cell
{
	display: table-cell;
	padding: 0;
	vertical-align: top;
	width: 25%;
	min-width: 25%;
}
.ff-features-layout-cell:nth-child(1)
{
	padding-left: 7px;
	padding-right: 14px;
}
.ff-features-layout-cell:nth-child(2)
{
	padding: 0 7px;
}
.ff-features-layout-cell:nth-child(3)
{
	padding: 0 7px;
}
.ff-features-layout-cell:nth-child(4)
{
	padding-left: 14px;
	padding-right: 7px;
}
.ff-features-layout-cell h3
{
	margin: 30px auto 10px;
	white-space: nowrap;
}
.ff-features-layout-cell > p
{
	color: #999;
	font-size: 16px;
	line-height: 24px;
	line-height: 22px;
}
.ff-features-icon
{
	margin-bottom: 17px;
NO	display: inline-block;
NO	border-radius: 100px;
NO	padding: 40px 0;
NO	text-align: center;
NO	background-color: #D43739;
NO	width: 140px;
NO	height: 140px;
}
.ff-features-icon .icon
{
	display: inline-block;
	font-size: 60px;
	line-height: 60px;
	padding: 40px;
	color: #fff;
	border-radius: 100px;
	background-color: #D43739;
	width: 140px;
	height: 140px;

font-size: 72px;
line-height: 72px;
padding: 36px 30px;
}
.ff-features-layout-cell:nth-child(2) .ff-features-icon .icon,
.ff-features-layout-cell:nth-child(4) .ff-features-icon .icon
{
	background-color: #536270;
}
.ff-features-paths
{
	padding: 0 80px;
	padding-top: 30px;
}
.ff-features-paths img
{
	max-width: 100%;
}







.ff-features-icon .icon-server
{
	font-size: 64px;
	padding-top: 34px;
}
.ff-features-icon .icon-cloud-upload
{
	font-size: 80px;
	padding-top: 28px;
}
.ff-features-icon .icon-folder-open
{
	padding-left: 40px;
	padding-top: 32px;
}
.ff-features-icon .icon-piggy-bank
{
	font-size: 80px;
	padding-top: 30px;
}
















.ff-services
{
	text-align: center;
	font-size: 16px;
	line-height: 24px;
}
.ff-services-inner
{
	max-width: 960px;
	margin: 0 auto;
}
.ff-services-top
{
	margin-bottom: 40px;
}
.ff-services-top h3
{
	white-space: nowrap;
	font-size: 32px;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
}
.ff-services-top > p
{
	color: #999;
	font-size: 18px;
	line-height: 24px;
}
.ff-services-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
}
.ff-services-layout-cell
{
	display: table-cell;
	padding: 0;
	vertical-align: top;
	width: 33%;
}
.ff-services-layout-cell .icon
{
	font-size: 60px;
	line-height: 60px;
	color: #D43739;
	display: block;
	margin-bottom: 25px;
}
.ff-services-layout-cell .icon-cloud-download
{
	font-size: 80px;
}
.ff-services-layout-cell h3
{
	margin: 30px auto 10px;
	font-weight: 600;
	color: #777;
}
.ff-services-layout-cell > p
{
	color: #999;
	font-size: 16px;
	line-height: 24px;
}















.ff-features2
{
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	padding: 0;
}
.ff-features2-inner
{
	padding-top: 40px;
	padding-bottom: 50px;
}
.ff-features2-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
}
.ff-features2-layout-row
{
	display: table-row;
}
.ff-features2-layout-icon
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 10px 0;
	padding-right: 25px;
}
.ff-features2-layout-content
{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: left;
	padding: 10px 0;
}
.ff-features2-top
{
}
.ff-features2-top h3
{
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
}
.ff-features2-top > p
{
	color: #999;
	font-size: 18px;
	line-height: 24px;
}
.ff-features2-bottom
{
}
.ff-features2-layout-content > h4
{
	margin-bottom: 5px;
}
.ff-features2-layout-content > p
{
	color: #999;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}

.ff-features2-icon
{
	text-align: center;
}
.ff-features2-icon .icon
{
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	padding: 20px 0;
	padding-top: 18px;
	padding-bottom: 22px;
	color: #fff;
	border-radius: 100px;
	background-color: #D43739;
	width: 70px;
	height: 70px;
}
.ff-features2-icon .icon-import
{
	padding-top: 15px;
}
.ff-features2-icon .icon-reset
{
	font-size: 37px;
	line-height: 37px;
	padding-top: 14px;
}
.ff-features2-icon .icon-earth
{
	font-size: 37px;
	line-height: 37px;
	padding-top: 17px;
}
.ff-features2-icon .icon-plus
{
	padding-top: 21px;
}
.ff-features2-icon .icon-power
{
	padding-top: 22px;
}
.ff-features2-icon .icon-checkmark4
{
	padding-top: 20px;
}




















.ff-notice
{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #536270;
}
.ff-notice-inner
{
	max-width: 960px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
}
.ff-notice-body
{
	max-width: 850px;
	margin: 0 auto;
	color: #fff;
}
.ff-notice-body h2
{
	font-weight: 700;
	margin-bottom: 15px;
	color: #fff;
}
.ff-notice-body p
{
	font-size: 24px;
	line-height: 32px;
}
.ff-notice-arrow-below:after
{
	content: '';
	border-style: solid;
	border-width: 25px 30px 0;
	border-color: #536270 transparent;
	display: block;
	width: 0;
	position: absolute;
	left: 50%;
	margin-left: -30px;
}
.ff-notice-actions
{
	margin-top: 30px;
}




























.ff-details
{
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	padding: 0;
}
.ff-details-inner
{
	padding: 60px 15px;
	padding-bottom: 20px;
}
.ff-details-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
}
.ff-details-layout-row
{
	display: table-row;
}
.ff-details-layout-icon
{
	display: table-cell;
	padding: 0;
	padding-right: 25px;
	padding-bottom: 15px;
	vertical-align: middle;
	vertical-align: top;
	text-align: center;
	padding: 10px 0;
	padding-right: 25px;
}
.ff-details-layout-content
{
	display: table-cell;
	padding: 0;
	vertical-align: middle;
	width: 100%;
	text-align: left;
	padding: 10px 0;
	padding-bottom: 40px;
}
.ff-details-layout-row:last-child .ff-details-layout-content
{
	padding-bottom: 0;
}
.ff-details-top
{
}
.ff-details-top h3
{
	white-space: nowrap;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
}
.ff-details-top > p
{
	color: #999;
	font-size: 18px;
	line-height: 24px;
}
.ff-details-bottom
{
}
.ff-details-layout-content > h3
{
}
.ff-details-layout-content > h4
{
	margin-bottom: 5px;
}
.ff-details-layout-content > p
{
	color: #999;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}

.ff-details-icon
{
	text-align: center;
}
.ff-details-icon .icon
{
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	padding: 20px 0;
	padding-top: 18px;
	padding-bottom: 22px;
	color: #fff;
	border-radius: 100px;
	background-color: #D43739;
	width: 70px;
	height: 70px;
}
.ff-details-icon .icon-checkmark4
{
	padding-top: 20px;
}

.ff-details-content-row h4
{
	margin-top: 35px;
	margin-bottom: 15px;
	color: #555;
	font-weight: 700;
}
.ff-details-content-row ul
{
	margin: 10px 0;
}
.ff-details-content-row li
{
	margin: 15px 0;
}
.ff-details-content-row li > div
{
}
.ff-details-content-row li > strong
{
	font-weight: 700;
	color: #555;
}
.ff-details-content-row li > em
{
	color: #aaa;
	padding-top: 5px;
	display: block;
}



.price_info
{
	font-size: 16px;
}






#details,
#details_signup
{
	background: none;
}




#reseller .reseller-list-country h4
{
	color: #D6363A !important;
}

#reseller h2
{
	margin-top: 40px;
}

#reseller-learnmore h3
{
	margin-top: 0;
}

h1.reseller-header
{
	text-align: center;
	margin-bottom: 15px;
	font-size: 44px;
}

.reseller-options
{
	text-align: center;
	margin-bottom: 30px;
}









#home-header-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
}
#home-header-layout-left
{
	display: table-cell;
	padding: 0;
	padding-right: 30px;
	vertical-align: top;
	vertical-align: middle;
	width: 55%;
}
#home-header-left-screen
{
	padding-top: 3px;
}
#home-header-left-content
{
	margin-top: 15px;
	font-size: 14px;
	line-height: 21px;
	color: #888;
}
#home-header-left-screen img
{
	width: 100%;
	max-width: 450px;
	box-shadow: none;
	padding: 3px;
	border-radius: 3px;
x	cursor: pointer;
	background-color: #D43739;
}
.home-header-bottom-title
{
	font-size: 28px;
	line-height: 26px;
	margin-bottom: 25px;
	font-weight: 600;
display: none;
}
#home-header-layout-right
{
	display: table-cell;
	padding: 0;
	padding-left: 30px;
	padding-right: 15px;
	vertical-align: top;
	width: 45%;
}
#home-header-form
{
	min-width: 300px;
	margin: 0 auto;
}
.home-header-form-field
{
	margin-bottom: 15px;
	text-align: left;
}
.home-header-form-field input[type="text"],
.home-header-form-field input[type="password"],
.home-header-form-field select
{
	font-size: 14px;
	padding: 10px;
	height: auto;
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 100%;
}
#home-header-form-field-password #newPassword
{
	padding-right: 40px;
}
.home-header-form-field select
{
	width: auto;
	margin-right: 10px;
}
.home-header-form-field label
{
	display: block;
	font-size: 14px;
}
.home-header-form-field label a
{
	font-size: 12px;
}
#home-header-form .nowrap
{
	white-space: nowrap;
}
#home-header-form-field-password-action
{
	width: 30px;
	margin-left: -30px;
	color: #ccc;
}
#home-header-form-field-password-action .icon
{
	position: relative;
	font-size: 20px;
	display: inline-block;
	top: 4px;
	cursor: pointer;
}
#home-header-form-field-birthday #birthMonth
{
	max-width: 250px;
}
#home-header-form-field-birthday #birthDay
{
	max-width: 100px;
}
#home-header-form-field-birthday #birthYear
{
	max-width: 100px;
}
#home-header-form-field-submit
{
	padding-top: 5px;
}
#home-header-form-field-submit button
{
	width: 100%;
	border-radius: 5px;
	border: none;
	-webkit-transition: all 0.2s ease !important;
	-moz-transition: all 0.2s ease !important;
	-o-transition: all 0.2s ease !important;
	transition: all 0.2s ease !important;
}
#home-header-form-field-submit button:hover
{
	background-color: #D43739;
	-webkit-transition: all 0.2s ease !important;
	-moz-transition: all 0.2s ease !important;
	-o-transition: all 0.2s ease !important;
	transition: all 0.2s ease !important;
}
#home-header-form-field-tos
{
	font-size: 12px;
	line-height: 17px;
	color: #999;
	text-align: center;
}






#home-services .ff-services-layout-cell:nth-child(1)
{
	padding-right: 14px;
}
#home-services .ff-services-layout-cell:nth-child(2)
{
	padding: 0 7px;
}
#home-services .ff-services-layout-cell:nth-child(3)
{
	padding-left: 14px;
}






#home-pricing-inner
{
	padding-bottom: 60px;
}
.home-pricing-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
}
.home-pricing-layout-package
{
	display: table-cell;
	padding: 0;
	vertical-align: top;
	width: 32%;
	border-radius: 5px;
	background-color: #f3f3f3;
	color: #777;
	cursor: pointer;
	-webkit-transition: all 0.3s ease !important;
	-moz-transition: all 0.3s ease !important;
	-o-transition: all 0.3s ease !important;
	transition: all 0.3s ease !important;
}
#home-pricing-layout-package-popular
{
	background-color: #D43739;
	color: #fff;
}
.home-pricing-layout-divider
{
	display: table-cell;
	padding: 0;
	width: 3%;
}
.home-pricing-package
{
	padding: 30px 0;
	text-align: center;
}
.home-pricing-package-name
{
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	color: #555;
}
#home-pricing-layout-package-popular .home-pricing-package-name
{
	color: #fff;
}
.home-pricing-package-benefits > p
{
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	margin-bottom: 15px;
}
.home-pricing-package-benefits > p:last-child
{
	margin-bottom: 0;
}
.home-pricing-package-price
{
	background-color: rgba(212,55,57,0.2);
	color: #D43739;
	padding: 15px 0;
	margin-top: 25px;
	margin-bottom: 35px;
}
#home-pricing-layout-package-popular .home-pricing-package-price
{
	background-color: rgba(243,243,243,0.3);
	color: #fff;
	color: #ff0;
}
.home-pricing-package-price-dollar
{
	font-size: 32px;
	padding-right: 2px;
	font-weight: 600;
}
.home-pricing-package-price-amount
{
	font-size: 44px;
	font-weight: 600;
}
.home-pricing-package-benefits .icon
{
	padding-right: 10px;
	color: #5CB85C;
}
#home-pricing-layout-package-popular .home-pricing-package-benefits .icon
{
	color: #ff0;
}
.home-pricing-package-actions
{
	margin-top: 35px;
	margin-bottom: 15px;
	padding: 0 10px;
}
.home-pricing-package-action
{
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	border: 2px solid #D43739;
	border-radius: 50px;
	padding: 15px 30px;
	color: #D43739;
	display: inline-block;
	min-width: 150px;
}
.home-pricing-package-action:hover
{
	text-decoration: none;
	color: #D43739;
}
#home-pricing-layout-package-popular .home-pricing-package-action
{
	border-color: #fff;
	color: #ff0;
}







#home-companytrust-inner
{
	max-width: 800px;
	padding: 0;
}
#home-companytrust-top
{
	margin-bottom: 10px;
}
.home-companytrust-layout
{
	display: table;
	border-spacing: 0;
	width: 100%;
}
.home-companytrust-layout-row
{
	display: table-row;
}
.home-companytrust-layout-icon
{
	display: table-cell;
	padding: 0;
	padding-right: 30px;
	vertical-align: bottom;
	text-align: center;
}
.home-companytrust-layout-content
{
	display: table-cell;
	padding: 0;
	vertical-align: bottom;
	width: 100%;
	text-align: left;
}
.home-companytrust-layout-icon img
{
	max-width: 127px;
	max-width: 110px;
}
.home-companytrust-layout-content > p
{
	color: #999;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 0;
}







#affiliates-header .ff-header-top h1
{
	font-weight: 700;
	font-size: 68px;
	line-height: 74px;
	margin-bottom: 20px;
}
#affiliates-header .ff-header-top p
{
	font-size: 40px;
	line-height: 44px;
}
#affiliates-header .ff-header-bottom
{
	text-align: center;
}
#affiliates-header .ff-header-bottom img
{
	width: 100%;
	max-width: 820px;
	margin: 0 auto;
}





#affiliates-features .ff-features-layout-cell:nth-child(1) .ff-features-icon .icon,
#affiliates-features .ff-features-layout-cell:nth-child(3) .ff-features-icon .icon
{
	background-color: #118C4E;
}






#affiliates-features2 .ff-features2-icon .icon
{
	background-color: #118C4E;
}








#affiliates-details .ff-layout
{
	margin-top: 35px;
	margin-bottom: 45px;
	margin-left: 40px;
	width: 100%;
	max-width: 550px;
	border-collapse: collapse;
	border-spacing: 1px;
}
#affiliates-details .ff-layout-header
{
	text-align: center;
	border: 1px solid #dddddd;
	background-color: #F9F9F9;
	padding: 0;
}
#affiliates-details .ff-layout-header strong
{
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	margin: 0;
	padding: 10px 10px;
	display: block;
}
#affiliates-details .ff-layout-cell
{
	text-align: center;
	border: 1px solid #dddddd;
	padding: 10px 10px;
	width: 16%;
}
#affiliates-details .ff-layout-cell span
{
	font-size: 16px;
	line-height: 16px;
	display: block;
}
#affiliates-details .ff-layout-cell:first-child
{
	width: 36%;
}









#premium-comparison-top
{
	max-width: 100%;
}
#premium-comparison-bottom
{
	padding-right: 30px;
}
#premium-comparison table
{
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 45px;
	width: 100%;
	max-width: 750px;
	border-collapse: collapse;
	border-spacing: 1px;
}
#premium-comparison th
{
	text-align: center;
	border: 4px solid #f9f9f9;
	background-color: #F9F9F9;
	padding: 0;
	padding: 15px 10px;
	font-size: 16px;
}
#premium-comparison th:nth-child(2)
{
	background: #d6363a;
	color: #fff;
}
#premium-comparison th:nth-child(3)
{
	background: #4d4d4d;
	color: #fff;
}
#premium-comparison th:nth-child(4)
{
	background: #aaaaaa;
	color: #fff;
}
#premium-comparison th strong
{
	font-size: 18px;
	font-weight: 700;
	display: block;
}
#premium-comparison td
{
	text-align: center;
	border: 4px solid #f9f9f9;
	padding: 10px 10px;
	width: 20%;
	background: #e9e9e9;
	font-size: 15px;
	white-space: nowrap;
}
#premium-comparison td:nth-child(2)
{
	background: #d6363a;
	color: #fff;
}
#premium-comparison td:nth-child(3)
{
	background: #4d4d4d;
	color: #fff;
}
#premium-comparison td:nth-child(4)
{
	background: #aaaaaa;
	color: #fff;
}
#premium-comparison td span
{
	font-size: 16px;
	line-height: 16px;
	display: block;
}
#premium-comparison td:first-child
{
	width: 36%;
}







#legal-contact-content-inner abbr
{
	width: 34px;
	display: inline-block;
	border: none;
	margin-top: 2px;
}





















@media (max-width: 970px)
{
	.ff-services-layout-cell
	{
	}
	.ff-services-layout-cell .icon
	{
DEFAULT		font-size: 70px;
		margin-bottom: 10px;
		font-size: 60px;
	}
	.ff-services-layout-cell h3
	{
		margin: 0;
		margin-bottom: 15px;
		font-size: 22px;
		line-height: 30px;
	}
	.ff-services-layout-cell > p
	{
DEFAULT		font-size: 16px;
DEFAULT		line-height: 24px;
		font-size: 14px;
		line-height: 20px;
	}
}

@media (max-width: 900px)
{
}

@media (max-width: 800px)
{
	body
	{
		font-size: 50%;
	}
	.ff-services-layout,
	.ff-services-layout-cell
	{
		display: block;
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
		padding: 0 !important;
	}
	.ff-services-top h3
	{
		white-space: normal;
		font-size: 24px;
	}
	.ff-services-top p
	{
		white-space: normal;
		font-size: 14px;
		line-height: 20px;
	}
	.ff-services-layout-cell .icon
	{
		margin-top: 20px;
	}
	.ff-services-layout-cell:first-child .icon
	{
		margin-top: 0;
	}
	#premium-comparison th
	{
		font-size: 14px;
		line-height: 16px;
	}
	#premium-comparison th strong
	{
		font-size: 15px;
	}
	#premium-comparison td
	{
		font-size: 13px;
	}
}

@media (max-width: 700px)
{
	#ff-navbar-layout-right
	{
		display: none;
	}
	#ff-navbar-layout-overlay
	{
		display: table-cell;
	}
	#premium-comparison td
	{
		width: auto;
	}
	#premium-comparison td:first-child
	{
		width: auto;
	}
	#premium-comparison th
	{
		padding: 10px 10px;
		font-size: 12px;
		line-height: 15px;
	}
	#premium-comparison th strong
	{
		font-size: 13px;
	}
	#premium-comparison td
	{
		font-size: 11px;
	}
}


@media (max-width: 600px)
{
	#premium-comparison th
	{
		padding: 5px 5px;
		font-size: 10px;
		line-height: 13px;
	}
	#premium-comparison th strong
	{
		font-size: 11px;
	}
	#premium-comparison td
	{
		font-size: 10px;
	}
}


#reseller-feedback-form .ff-content-body h1,
#reseller-tokens-form .ff-content-body h1,
#reseller-claimedtokens-form .ff-content-body h1,
#reseller-search-form .ff-content-body h1,
#reseller-transactions-form .ff-content-body h1
{
	text-align: center;
}



#pi_genuine_tagline:before 
{
	top: -1px;
	border-top-color: #f9f9f9;
}