@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zhda02');
  src:  url('fonts/icomoon.eot?zhda02#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?zhda02') format('woff2'),
    url('fonts/icomoon.ttf?zhda02') format('truetype'),
    url('fonts/icomoon.woff?zhda02') format('woff'),
    url('fonts/icomoon.svg?zhda02#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e94a";
}
.icon-clapboard:before {
  content: "\e95a";
}
.icon-gamepad2:before {
  content: "\e96c";
}
.icon-pacman:before {
  content: "\e96e";
}
.icon-file-upload:before {
  content: "\e9a7";
}
.icon-folder-open:before {
  content: "\e9dc";
}
.icon-piggy-bank:before {
  content: "\ea0f";
}
.icon-reset:before {
  content: "\ea4b";
}
.icon-drawer3:before {
  content: "\ea83";
}
.icon-server:before {
  content: "\ea92";
}
.icon-database:before {
  content: "\ea93";
}
.icon-bubbles4:before {
  content: "\eac9";
}
.icon-bubble9:before {
  content: "\eadb";
}
.icon-users4:before {
  content: "\eb0c";
}
.icon-lock:before {
  content: "\eb50";
}
.icon-cog2:before {
  content: "\eb61";
}
.icon-cog3:before {
  content: "\eb62";
}
.icon-power:before {
  content: "\ec48";
}
.icon-menu7:before {
  content: "\ec71";
}
.icon-cloud-download:before {
  content: "\ec76";
}
.icon-cloud-upload:before {
  content: "\ec77";
}
.icon-import:before {
  content: "\ec81";
}
.icon-earth:before {
  content: "\ec96";
}
.icon-eye:before {
  content: "\ecae";
}
.icon-eye-blocked:before {
  content: "\ecb1";
}
.icon-plus:before {
  content: "\ed59";
}
.icon-info:before {
  content: "\ed63";
}
.icon-cross2:before {
  content: "\ed6d";
}
.icon-checkmark:before {
  content: "\ed6f";
}
.icon-checkmark3:before {
  content: "\ed71";
}
.icon-checkmark4:before {
  content: "\ed72";
}
.icon-share3:before {
  content: "\eee0";
}
.icon-file-word:before {
  content: "\ef40";
}

