/* CSS Document */

#minicupom #mc_titulo, #minicupom #mc_formulario, #minicupom fieldset{
margin:0px;
padding:0px;
border:0px;
outline:0px;
font-size:100%;
vertical-align:baseline;
background:transparent;
font-weight:normal;
font-style:normal;
}

#minicupom {
	
width:300px;
height:250px;
background-image: url(bg_veja.jpg);
border:px solid #262222;
}

	#minicupom #mc_titulo {
	width:300px;
	height:48px;
	float:right;
	text-align:center;
	color:#c20808;
	font: bold 18px Arial, Helvetica, sans-serif;
	line-height:20px; /*44px para chamadas com uma linha*/
	padding-right:5px;
	}	
	
	#minicupom #mc_formulario {
		color:#000000;
		float: right;
		font: 12px Arial,Helvetica,sans-serif;
		height: 124px;
		margin-top: 60px;
		padding-left:15px;
		padding-right: 15px;
		text-align: right;
		width: 275px;
	}
	
		#minicupom #mc_formulario fieldset{
		text-align: center;		
		}
		
		#minicupom #mc_formulario #mc_dados{
		padding-top: 30px;
		}
		
		#minicupom #mc_formulario #mc_compra{
		padding-top: 12px;
		width:290px;
		}
		
		#minicupom #mc_formulario input {
		border: solid 1px #cccccc;
		height:16px;
		margin-top:5px;
		color: #000000;
		}
		
		#minicupom #mc_formulario input.upperCase {
		text-transform: uppercase;
		}
		
		#minicupom #mc_formulario #NOME {
			width:100px;
		}
		
		#minicupom #mc_formulario #DT_NASCIMENTO {
			width:80px;
		}
		
		#minicupom #mc_formulario #EMAIL_RES {
			width:100px;
		}
		
		#minicupom #mc_formulario #NM_CEP_01 {
			width:87px;
		}
		
		#minicupom #mc_formulario #mc_preco {
		    color: #000000;
			float: left;
			font: bold 15px Arial,Helvetica,sans-serif;
			padding: 8px 0 10 0px;
			margin-top:20px;
		}
		
		#minicupom #mc_formulario #mc_botao {
    		background: url("bt_assinar.png") repeat scroll 0 0 transparent;
			border: 0 none;
			cursor: pointer;
			float: right;
			font: 12px Arial,Helvetica,sans-serif;
			height: 31px;
			width: 122px;
			padding: 0 0 0 30px;
            margin: 16px 10px 0px 10px;
		}