body {
           margin: 0px;
           padding: 0px;
}

#wrapper_barraAssine,#lojaAbril_barraAssine {
           width: 877px;
           height: 200px;
           margin: 0px;
}

#abas_barraAssine {
           width: 875px;
           height: 27px;
           margin: 0px;
}

#abas_barraAssine #aba1_barraAssine {
           width: 107px;
           margin: 7px 0px 0px -1px;
           float: left;
           border: none;
}

#abas_barraAssine #aba2_barraAssine {
           width: 107px;
           margin: 7px 0 0 -8px;
           float: left;
           border: none;
}

#abas_barraAssine #aba1_barraAssine_off {
           width: 107px;
           margin: 1px 0px 0px 0px;
           float: left;
           border: none;
}

#abas_barraAssine #aba2_barraAssine_off {
           width: 107px;
           margin: 6px 0 0 0;
           float: left;
           border: none;
		   display:none;
}

#abas_barraAssine #aba_null_barraAssine {
           border-bottom: solid 1px #d5d5d5;
           float: left;
           margin: 33px 0 0 0px;
           width: 653px;
}

#lojaAbril_barraAssine iframe {
           border: none;
           width: 100%;
           height: 180px;
           float:left;
}

#assineAbril_barraAssine {
           background: url(http://barrasassine.abril.com.br/novabarra/imagem/bg.png) no-repeat;
           height: 180px;
           margin: 0px 0 0;
           float: left;
           font-family: Arial, Helvetica, sans-serif;
           color: #444;
           font-size: 11px;
}

#assineAbril_barraAssine #vitrine_barraAssine {
           width: 845px;
           margin: 0px 0px 0px 0px;
           float: left;
           font-family: Arial, Helvetica, sans-serif;
           color: #444;
           font-size: 11px;
}


#assineAbril_barraAssine #vitrine_barraAssine .produto_barraAssine {
           width: 130px;
           height: 145px;
           margin: 0px 4px 0px 4px;
           float: left;
}

.capa_barraAssine {
           margin: 3px 0 0 0;
           text-align: center;
}

.nome_produto_barraAssine {
           text-align: center;
           margin: 0px;
           padding: 2px 0 0 0;
           height:10px;
           font-family: Arial, Helvetica, sans-serif;
           color: #444;
           font-size: 11px;
}

.oferta_barraAssine {
           text-align: center;
           margin: 0px;
           padding: 0px;
           font-weight: bold;
           font-size: 10px;
           height: 12px;
}

.preco_barraAssine {
           text-align: center;
           margin: 0px;
           padding: 0px;
           font-weight: bold;
           color: #005b45;
           font-size: 12px;
}

.botao_barraAssine {
           text-align: center;
           margin: 0px;
           padding: 3px 0 0 0;
           border: none;
}

.divisor_barraAssine {
           width: 2px;
           height: 130px;
           margin: 15px 0 0 0;
           float: left;
           background: url(http://barrasassine.abril.com.br/novabarra/imagem/divisor.png) no-repeat;
}

#assineAbril_barraAssine #bt_todos_barraAssine {
           width: 30px;
           margin: 30px 0px 0px 0px;
           float: left;
}

#rodape_barraAssine {
           width: 875px;
           height: 26px;
           margin: -33px 0 0 0px;
           padding: 0px;
           background: url(http://barrasassine.abril.com.br/novabarra/imagem/bg_rodape.png) no-repeat;
           float: left;
}

#rodape_barraAssine #bt_todos_barraAssine { 
     width: 580px; 
     margin: 0px; 
     padding: 4px 0px 0px 15px; 
     font-size: 13px; 
     float: left;
	 font-family:Arial, Helvetica, sans-serif;
} 
 
#rodape_barraAssine #bt_todos_barraAssine a { 
     text-decoration: none; 
     font-weight: bold; 
     color: #ffa200; 
} 
 
#rodape_barraAssine #divisor_barraAssine { 
     width: 3px; 
     height: 22px; 
     margin: 1px 0 0 0px; 
     float: left; 
     background: url(../imagem/divisor_rodape.png) no-repeat; 
} 
 
#rodape_barraAssine #divisor_logos_barraAssine { 
     width: 3px; 
     height: 30px; 
     margin: 1px 0 0 100px; 
     float: left; 
     background: url(../imagem/divisor_rodape.png) no-repeat; 
} 
 
#rodape_barraAssine #logo_abrilsac_barraAssine { 
     float: left; 
     margin: 5px 15px 0; 
     padding: 0; 
     top: 134px; 
     width: auto; 
} 
 
#rodape_barraAssine #logo_clube_barraAssine { 
     float: left; 
     margin: 5px 15px 0; 
     padding: 0; 
     top: 134px; 
     width: auto; 
}