body{
	background-color: #f7f7f7;
}

#modal{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 999;
}

.popup{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 500px;
	margin-left: -400px;
	margin-top: -250px;
}

.img_splash{
	margin-top: 25px;
	margin-left: 25px;
	position: absolute;
}

.bt_fechar{
	float: right;
	width: 24px;
	height: 24px;
	margin-top: 5px;
	margin-right: -45px;
	z-index: 2;
}

.background{
	width: 100%;
	position: absolute;
	text-align: center;
}

.background a{
	display: block;
	position: absolute;
	margin-top: 85px;
	width: 100%;
	text-indent: -15px;
}

@media screen and (max-width: 1436px){
	.background a{
		text-indent: -35px;
	}

	.background img{
		width: 100%;
		margin-left:2%;
	}
}

@media screen and (max-width: 1194px){
	.background img{
		display: none;
	}
}