.*{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#666;
}


body{
	margin:0;
	padding:0;
	background:#f7f7f7;
}

a{
	text-decoration:none;
	border:0;
	color:#696969;
}

.clear{
	clear:both;
}

/* BARRA SITES ABRIL */
#barra-abril {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8D9D3;
    height: 30px;
    min-width: 1003px;
    text-align: center;
    width: 100%;
	margin-left: -8px;	
}

#barra-abril #baContnr {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 1003px;
}
#barra-abril #baContnr ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#barra-abril #baContnr #baMenu {
    clear: both;
    height: 30px;
    width: 1003px;
}
#barra-abril #baContnr #baMenu.baBorda {
    background: url("http://www.abril.com.br/barrasup/s/i/baIcons.gif") repeat-x scroll 0 -97px transparent;
}
#barra-abril #baContnr #baMenu #baArv {
    background: url("http://www.abril.com.br/barrasup/s/i/baIcons.gif") no-repeat scroll 0 -3px transparent;
    float: left;
    height: 30px;
    margin: 0 9px;
    width: 25px;
}
#barra-abril #baContnr #baMenu .baSites {
    display: block;
    float: left;
    margin: 7px 0 0;
}
#barra-abril #baContnr #baMenu .baSites.baInsDir {
    float: right;
}
#barra-abril #baContnr #baMenu .baSites li.baNenhum {
    background: none repeat scroll 0 0 transparent;
    border-color: #333333;
    border-style: solid;
    border-width: 0 0 0 1px;
}
#barra-abril #baContnr #baMenu .baSites li.baNenhum.baInsOne {
    border: medium none;
    padding: 0 9px 0 5px;
}
#barra-abril #baContnr #baMenu .baSites li {
    background: url("http://www.abril.com.br/barrasup/s/i/baIcons.gif") no-repeat scroll -11px -47px transparent;
    color: #333333;
    display: block;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0 9px 0 13px;
}
#barra-abril #baContnr #baMenu .baSites li a {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
}
#barra-abril #baContnr #baMenu .baSites li #baNoBrdr #baMais {
    color: #008457;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    text-decoration: none;
}
#barra-abril #baContnr #baMenu .baSites li #baNoBrdr {
    float: left;
    height: 25px;
}
#barra-abril #baContnr #baMenu .baSites li #baNoBrdr.baNoBord {
    background-color: #FFFFFF;
}
#barra-abril #baContnr #baMenu #baGrupo {
    border-color: #333333;
    border-style: solid;
    border-width: 0 0 0 1px;
    color: #333333;
    float: right;
    font-family: arial;
    font-size: 12px;
    height: 18px;
    margin: 5px 0 0 5px;
    padding: 2px 0 0 15px;
    text-decoration: none;
    width: 94px;
}
#barra-abril #baContnr #baMenu #baGrupo span.baGrpAbr {
    font-weight: bold;
}
#barra-abril #baContnr #baLista {
    background-color: #FFFFFF;
    border-color: #D8D9D3;
    border-style: none solid solid;
    border-width: 1px;
    display: none;
    position: absolute;
    width: 1001px;
    z-index: 2147483583;
}
#barra-abril #baContnr #baLista ul {
    display: block;
    float: left;
    margin: 12px 0 0 38px;
    padding: 0 0 18px;
    text-align: left;
}
#barra-abril #baContnr #baLista ul li {
    color: #333333;
    display: block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    margin: 4px 0 0;
}
#barra-abril #baContnr #baLista ul li a {
    color: #333333;
    text-decoration: none;
}
/* BARRA SITES ABRIL */




/* TOPO ABRIL */
#topo{
	width:100%;
	position:relative;
	margin:0 auto;
	background:url(../images/bg_topo.png) repeat-x;
	height:98px;
}
.content_logo{
	margin: 0 auto;
	width:944px;
}

#box_logo{
	width: 210px;
	height:40px;
	float:left;
	margin:30px 0 0 0;
	border:0;
}

#box_menu{
	width: 430px;
	height: 40px;
	float: left;
	margin: 0px 0 0 120px;
	padding: 50px 0 0 0;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #696969;
}

#box_grupo{
	width:120px;
	height:38px;
	float: right;
	margin: 20px 0 0  0;
	border: 0;
}

#box_grupo ul{
	margin:0;
	padding: 0;
	list-style: circle;
}

#box_grupo ul li{
	margin:0;
	padding:0 0 0 2px;
	display:block;
	float:left;
	font-family: arial;
    font-size: 12px;
	color:#696969;
	text-align:center;
}

/* TOPO ABRIL */

.content{
	
	width:100%;
	height:auto;
	margin-top:20px;
}


/* TOPO PILARES */

#pilares{
	background:url(../images/bg_pilares.png) no-repeat;
	width:946px;
	height:97px;
	margin:0 auto;
	padding:0;
}

#pilares ul{
	margin:0;
	padding: 30px 0 0 0;
}

#pilares ul li{
	padding:0 0 0 0px;
	display:block;
	float:left;
	text-align:center;
	width:180px;
	margin:40 1px 0 1px;
	list-style:none;
	
} 

#pilares #logo_assine{
	padding-top: 10px;
}

/* TOPO PILARES */


/* BANNER */
.banner_home{
	width:946px;
	height:228px;
	margin: 0 auto;
	padding-top: 10px;
}

/* BANNER */


/* CONTEUDO PRINCIPAL */

.top_content{
	width:946px;
	margin:0px auto;
	height:10px;
	background:url(../images/bg_top_content.png) no-repeat;
}

#mid_content{
	width: 944px;
	margin: 0px auto;
	background: #FFFFFF;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	height: auto;
	padding-bottom: 50px;
}


/* COLUNA ESQUERDA */
#mid_content #sites{
	width:298px;
	margin:0;
	float:left;
}
#mid_content #sites h1{
	font-size:18px;
	color:#696969;
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 0 5px 10px;
	padding:0;
}

#mid_content #sites h1{
	font-size:18px;
	color:#696969;
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 0 5px 10px;
	padding:0;
}

#mid_content #sites p{
	font-size:11px;
	color:#036d49;
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	margin: -10px 15px 0 0;
	padding:0;
}

#mid_content #sites p a{
	color:#ffa500;
}

#mid_content #sites .line_tit{
	width:286px;
	height:3px;
	background:#97a39f;
	margin: 10px 2px 5px 2px;
	padding:0;
}

.divisor{
	width: 12px;
	height: 1150px;
	margin: 0px 0px 0px 0px;
	float: left;
	background: url(../images/divisor.png);
}

#mid_content #sites .tit{
	font-size:14px;
	color:#ee953a;
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 0 5px 10px;
	padding:0;
	float:left;
}

#mid_content #sites #capa{
	width: 90px;
	height:118px;;
	margin: 10px 5px 10px 10px;
	float:left;
}

#mid_content #sites #desc{
	width:165px;
	height:85px;
	float:left;
	margin: 10px 0 0 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#696969;

}

#mid_content #sites #botoes{
	width:82px;
	height:24px;
	float:left;
	margin: 10px 0 0 8px;
	border:0;
}

/* COLUNA ESQUERDA */

/* COLUNA MEIO */
#mid_content #feednews{
	width:310px;
	margin:0;
	float:left;
	height:auto;
}

#mid_content #feednews h1{
	font-size:18px;
	color:#696969;
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 0 5px 10px;
	padding:0;
}

#mid_content #feednews p{
	font-size:11px;
	color:#036d49;
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	margin: -10px 15px 0 0;
	padding:0;
}

#mid_content #feednews .line_tit{
	width:304px;
	height:3px;
	background:#97a39f;
	margin: 10px 2px 15px 2px;
	padding:0;
}

#mid_content #feednews #data{
	width: 40px;
	margin: 10px 5px 10px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#696969;
	float:left;
}

#mid_content #feednews #res_news{
	width: 245px;
	margin: 10px 5px 10px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
	color:#696969;
	float:left;
}

#mid_content #feednews hr{
width: 300px;
border: 1px #e0e0e0 solid;
margin: 10px 0 10px 0;
padding: 0;
height: 1px;
border-bottom-style: inherit;
float: left;
}

/* COLUNA MEIO */

/* COLUNA DIREITA */
#mid_content #outros{
	width:308px;
	margin:20px 0 0 0;
	float:right;
}

#mid_content #outros #abrAD_rectangle2{
	width: 300px;
	height: 250px;
	margin: 10px 0px;
}

#mid_content #outros #bn_calhau_retangle{
	width: 300px;
	height: 250px;
	margin: 25px 0px;
}

/*BOX REVISTAS */
.colEsq .box, .colDir .box, .colLat .box, .pbc-right1 {
margin-bottom: 24px;
}
.revistas.box {
border: none;
}
.colEsq .box, .colDir .box, .colLat .box {
float: left;
width: 300px;
}
.revistas {
z-index: 100;
height: 250px;
margin-bottom: 30px;
}
.breadcrumb, .box, .box * {
border-color: #D8D9D3;
}
.revistas {
z-index: 100;
}

.box {
border-right: 0;
border-bottom: 0;
border-left: 0;
margin: 0 0 30px 0;
clear: both;
padding: 0;
display: block;
overflow: hidden;
}

/* BOX REVISTA */


/* COLUNA DIREITA */



.bottom_content{
	width:946px;
	margin:0px auto;
	height:10px;
	background:url(../images/bg_bottom_content.png) no-repeat;
}


/* CONTEUDO PRINCIPAL */

#vitrine_G {
margin-bottom: 0 !important;
height: 250px !important;
overflow: hidden;
margin: 0px;
}

#assine{
	margin: 30px 0 0 5px;
}


/* RODAP? */

#rodape{
	background:url(../images/bg_rodape.png) no-repeat;
	width:946px;
	height:217px;
	margin:20px auto;
	padding:0;
}

/* RODAPE ASSINATURAS */
#rodape #assinaturas{
	width:200px;
	margin: 20px 30px 20px 30px;
	padding:0;
	float:left;
}

#rodape #assinaturas h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#696969;
}

#rodape #assinaturas hr{
width: 200px;
border: 1px #e0e0e0 solid;
margin: 0px 0 10px 0;
padding: 0;
height: 1px;
border-bottom-style: inherit;
float: left;
}

#rodape #assinaturas p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#696969;
	margin:0;
	padding:5px 0 0 0;
}

/* RODAPE ASSINATURAS */

/* RODAPE GRUPO */
#rodape #grupo{
	width:200px;
	margin: 20px 30px 20px 30px;
	padding:0;
	float:left;
}

#rodape #grupo h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#696969;
}

#rodape #grupo hr{
width: 200px;
border: 1px #e0e0e0 solid;
margin: 0px 0 10px 0;
padding: 0;
height: 1px;
border-bottom-style: inherit;
float: left;
}

#rodape #grupo p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#696969;
	margin:0;
	padding:5px 0 0 0;
}
/* RODAPE GRUPO */

/* RODAPE OUTROS */
#rodape #outros{
	width:200px;
	margin: 20px 30px 20px 30px;
	padding:0;
	float:left;
}

#rodape #outros h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#696969;
}

#rodape #outros hr{
width: 200px;
border: 1px #e0e0e0 solid;
margin: 0px 0 10px 0;
padding: 0;
height: 1px;
border-bottom-style: inherit;
float: left;
}

#rodape #outros p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#696969;
	margin:0;
	padding:5px 0 0 0;
}

/* RODAPE OUTROS */

.rdp-site {
margin: 0 auto;
padding: 20px 0;
display: table;
width: 960px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#696969;
}

.rdp-site .copyright {
height: 30px;
float: left;
font-size: 11px;
background: url(../images/rdp-logos.png) no-repeat scroll -31px -30px transparent;
padding: 0 0 0 26px;
}

.rdp-site .copyright p {
font: normal 11px arial;
color: #666;
padding: 8px 0 0;
}

.copyright.rodapeTermos {
float: right;
background: none;
}

li {list-style:none;}

/* RODAPE OUTROS */



/* PUBLICIDADE */
#abrAD_wallpaper{
        height: 600px;
        width: 100%;
        position: absolute;
    }
 
    #abrAD_wallpaper a {
        display:block;
        height:600px;
        position:absolute;
        text-indent:-2000px;
        width:100%;
    }
 
    #abrAD_wallpaper iframe, #abrAD_dhtml {
        position: absolute;
    }
    .conteudo {
        width: 960px;
        margin: 0 auto;
        position: relative;
    }
/* PUBLICIDADE */