.clear {
  content: "";
  display: table;
  clear: both;
}
.only-desktop {
  display: none;
}
@media only screen and (min-width: 950px) {
  .only-desktop {
    display: block;
  }
}
.only-mobile {
  display: none;
}
@media only screen and (max-width: 949px) {
  .only-mobile {
    display: block;
  }
}
/*------------------------------------*\
    #LINKS
\*------------------------------------*/
.navbar-services--links {
  text-align: right;
  width: 100%;
  position: absolute;
  left: -455px;
}
.navbar-services--links .links {
  display: inline-block;
  list-style: none;
  position: relative;
  z-index: 510;
}
.navbar-services--links .links li {
  border-right: 1px solid #8c090d !important;
  height: 18px;
}
.navbar-services--links .links .links__item--ajudabf {
  border: none !important;
}
.navbar-services--links .links > .links__item {
  display: inline-block;
  padding: 0 15px;
  /*border-right: 1px solid #8c090d;*/
  border: none;
}
.navbar-services--links .links > .links__item:first-child {
  padding-left: 0;
}
.navbar-services--links .links > .links__item:last-child {
  padding-right: 0;
  border: none !important;
}
.navbar-services--links .links > .links__item > a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding: 1px 0;
  text-decoration: none;
}
.navbar-services--links .links > .links__item > a:hover {
  text-decoration: underline;
  opacity: 0.9;
}
.navbar-services--links .links > .links__item > a strong {
  font-weight: 400;
}
.navbar-services--links .links:after {
  content: "";
  display: table;
  clear: both;
}
#header:not(.navbar) .navbar-services--links {
  float: right;
  margin-top: 8px;
  width: auto;
}
