/*------------------------------------*\
    #HEADER-GENERICO
\*------------------------------------*/
#header:not(.navbar) {
  background: #9c0105;
  margin-bottom: 1px;
  border-bottom: 1px solid #E8E8E8;
  /*AutoComplete da Busca*/
  /*reset ambiente seguro*/
  /*Menu Wrap*/
  /*SKIN HEADER*/
  /* Header */
  /* Links Header*/
  /* Meu carrinho */
}
#header:not(.navbar) #sli_autocomplete.rich {
  width: 447px!important;
  margin: 2px 0 0 -41px !important;
  border: 2px solid #6C010D!important;
  border-top: 0!important;
}
#header:not(.navbar) .security {
  border: 0;
  background: none;
}
#header:not(.navbar) .security .logo {
  height: 57px;
  margin: 26px 45px 0 0;
  background-position: 0 -62px;
}
#header:not(.navbar) .header .topHeader,
#header:not(.navbar) #header .security {
  position: relative;
  width: 100%;
}
#header:not(.navbar) .header .topHeader .wp {
  background: none;
  margin: 0 auto;
  position: relative;
  width: 990px;
}
#header:not(.navbar) .header .topHeader .wp #custom-menu {
  display: none !important;
}
#header:not(.navbar) .header .logo {
  background: url(../img/logo.png) no-repeat 0 0;
  float: left;
  height: 61px;
  overflow: hidden;
  text-indent: -9999px;
  width: 218px;
  margin: 26px 45px 0 0;
}
#header:not(.navbar) .home .header .logo {
  height: 43px;
}
#header:not(.navbar) .header .ident {
  padding: 3px 0;
  margin-top: 10px;
  margin-left: -18px;
  float: right;
}
#header:not(.navbar) .header .ident .login a {
  padding-right: 5px;
  float: left;
  line-height: 16px;
}
#header:not(.navbar) .header .ident .saudacao,
#header:not(.navbar) .header .ident .saudacao a,
#header:not(.navbar) .header .ident .login a {
  color: #fff;
}
#header:not(.navbar) .header .ident .saudacao #lnkLogOut {
  color: #f7941d;
  font-weight: 500;
  font-size: 12px;
}
#header:not(.navbar) .header .ident .saudacao {
  max-width: 180px;
  float: left;
  margin-right: -1px;
  padding-top: 4px;
}
#header:not(.navbar) .header .ident .saudacao span {
  font-weight: bold;
}
#header:not(.navbar) .header .ident .welcome {
  color: #fff;
  display: inline;
}
#header:not(.navbar) .header .welcome .login a {
  float: left;
  line-height: 18px;
  padding-right: 5px;
}
#header:not(.navbar) .header .servicos {
  position: absolute;
  top: 10px;
  left: 0;
}
#header:not(.navbar) .header .servicos li {
  float: left;
}
#header:not(.navbar) .header .servicos li a {
  display: block;
  padding: 1px 0 2px;
  background: url(../img/allImages.png) no-repeat -900px -205px;
  text-indent: -999em;
}
#header:not(.navbar) .header .servicos .atendimento a:hover {
  background-position: -900px -236px;
}
#header:not(.navbar) .header .servicos .teleVendas a {
  background-position: -996px -205px;
}
#header:not(.navbar) .header .servicos .teleVendas a:hover {
  background-position: -996px -236px;
}
#header:not(.navbar) .header .servicos .pedido a {
  background-position: -1220px -205px;
}
#header:not(.navbar) .header .servicos .pedido a:hover {
  background-position: -1220px -236px;
}
#header:not(.navbar) .header .siteSeguro {
  position: absolute;
  right: 7px;
  top: 53px;
  z-index: 1;
}
#header:not(.navbar) .header .siteSeguro a {
  background: url(../img/allImages.png) no-repeat -900px -86px;
  display: block;
  width: 49px;
  height: 40px;
  text-indent: -999em;
}
#header:not(.navbar) .header .siteSeguro a {
  display: none;
}
#header:not(.navbar) .menuWrap {
  clear: both;
  overflow: visible;
  background: none;
  border: none;
  width: 990px;
  margin: 0 auto;
}
#header:not(.navbar) .menuWrap #menu01 {
  display: none !important;
}
#header:not(.navbar) .header {
  background: #ba0216;
  border-bottom: 1px solid #fff;
}
#header:not(.navbar) .header .topHeader {
  height: 116px;
}
#header:not(.navbar) .header .logo {
  margin-top: 43px;
  margin-left: 0;
}
#header:not(.navbar) .header .topHeader .servicos li a {
  font-family: Tahoma;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  text-indent: 0;
  background: none;
  padding: 1px 0;
}
#header:not(.navbar) .header .topHeader .servicos li a strong {
  font-weight: 400;
}
#header:not(.navbar) .header .topHeader .servicos li a:hover {
  text-decoration: none;
}
#header:not(.navbar) .header .topHeader .servicos .pedido {
  height: 18px;
  display: block;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #8c090d;
}
#header:not(.navbar) .header .topHeader .servicos .atendimento {
  display: block;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #8c090d;
}
#header:not(.navbar) .header .topHeader .servicos .chat {
  display: block;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #8c090d;
}
#header:not(.navbar) .header .topHeader .servicos .teleVendas {
  display: block;
}
#header:not(.navbar) .header .topHeader .servicos .teleVendas a span {
  font-weight: 400;
}
#header:not(.navbar) .header .cesta {
  overflow: hidden;
  position: absolute;
  top: 44px;
  width: auto;
  border-radius: 0;
  right: 8px;
}
#header:not(.navbar) .header .cesta a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 5px 0 0 20px;
  margin-left: 2px;
}
#header:not(.navbar) .header .cesta a:hover {
  background: none;
}
#header:not(.navbar) .header .cesta a span {
  display: block;
  font-weight: 700;
  font-size: 13px;
  padding: 10px 0 0 13px;
}
#header:not(.navbar) .header .cesta .cestaCheia a {
  color: #6c010d;
  position: relative;
}
#header:not(.navbar) .header .cesta #itensCarrinho {
  border: none;
  display: none;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
  right: 99px;
  top: 3px;
  color: #f7941d;
  width: 30px;
  height: 18px;
  position: absolute;
  overflow: hidden;
}
#header:not(.navbar) .header .cesta #spnCarrinho {
  height: 51px;
  background: url(../img/bt-carrinho-menu.png) no-repeat;
  border: 0;
  border-radius: 0;
  padding-right: 0;
  padding-left: 23px;
}
#header:not(.navbar) .header .cesta #spnCarrinho.cestaCheia {
  color: #fff;
}
#header:not(.navbar) .header .cesta #spnCarrinho.cestaCheia a {
  color: #fff;
}
/*------------------------------------*\
    #BUSCA-OLD
\*------------------------------------*/
.busca:not(.box-busca) {
  /*Busca*/
  /*temp*/
  /*Lista de Casamento*/
}
.busca:not(.box-busca) select,
.busca:not(.box-busca) legend,
.busca:not(.box-busca) .buscaMarca {
  display: none !important;
}
.busca:not(.box-busca) select {
  height: 30px;
  font-size: 12px;
  margin-top: 2px;
  border: none;
}
.busca:not(.box-busca) .wp {
  margin-left: -225px;
  position: absolute;
  top: 44px;
  left: 50%;
  width: 491px;
  margin-left: -255px;
}
.busca:not(.box-busca) .barraBusca {
  border: 1px solid #b10c10;
  padding: 0;
  border: 0;
}
.busca:not(.box-busca) .barraBusca .wpr {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: visible;
  height: 50px;
  background: #fff;
  position: relative;
}
.busca:not(.box-busca) .barraBusca fieldset {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}
.busca:not(.box-busca) .type1 {
  background: none;
  border: none;
  outline: none;
  color: #404040;
  font-size: 14px;
  height: 45px;
  width: 311px;
  position: relative;
  padding-right: 10px;
  margin-left: 4px;
}
.busca:not(.box-busca) .type1:focus {
  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
}
.busca:not(.box-busca) .ok {
  display: block;
  position: absolute;
  right: -90px;
  top: 0;
  z-index: 10;
}
.busca:not(.box-busca) .ok .bt {
  color: #fff;
  background: #6f0306;
  height: 50px;
  margin: 0;
  width: 94px;
  display: block;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  text-indent: initial;
}
.busca:not(.box-busca) .ok .bt span {
  display: none;
}
.busca:not(.box-busca) .ok .bt:hover {
  background: #410305;
  border-color: #410305;
}
.busca:not(.box-busca) .listaCasamento .bt {
  display: none;
  width: 90px;
  top: 0;
  height: 34px;
  background: url(../img/header.png) 0 -1448px no-repeat;
  position: absolute;
  right: -105px;
  border: 3px solid #6c010d;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.busca:not(.box-busca) .listaCasamento .bt:hover {
  background-position: 0 -1414px;
}
.buscaBottom .type1,
.area-3 .type1,
.area-4 .type1,
.area-5 .type1,
.area-6 .type1,
.area-15 .type1,
.area-16 .type1 {
  margin-left: -85px;
  width: 559px!important;
}
.buscaBottom .listaCasamento,
.area-3 .listaCasamento,
.area-4 .listaCasamento,
.area-5 .listaCasamento,
.area-6 .listaCasamento,
.area-15 .listaCasamento,
.area-16 .listaCasamento {
  display: none;
}
