/*------------------------------------*\
    #MENU ANTIGO
\*------------------------------------*/
.busca-resultado,
body:not([id$=home]) {
  /* Novo Menu - RESULTADO DE BUSCA */
  /*.nav-title b{background:url(../img/header.png) no-repeat;display:block;text-indent:-9999em;height:15px;}
	.nav-item:hover .nav-title {z-index:501;}*/
  /*Menus Superiores e seus gradientes*/
  /*.nav-item.todasCategorias .nav-title {padding:5px 0 7px 0;}
	.nav-item.todasCategorias .nav-title b {background-position:0 4px;width:154px;height:30px;}
	.nav-item.todasCategorias:hover .nav-title b{background-position:0 -26px;}
	.nav-item.todasCategorias:hover .nav-title{background: #99050a;border-right:1px solid #99050a;}

	.nav-item.tecnologia .nav-title b{background-position:0 -63px;width:109px;}
	.nav-item.tecnologia:hover .nav-title b{background-position:0 -82px;}
	.nav-item.tecnologia:hover .nav-title{border-left:1px solid #676767;border-right:1px solid #676767;
	  background:#676767;
	  background: -moz-linear-gradient(top,#949494 0%,#676767 100%);
	  background: -webkit-linear-gradient(top,#949494 0%,#676767 100%);
	  background: linear-gradient(to bottom,#949494 0%,#676767 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#676767');}

	.nav-item.casa .nav-title b{background-position:0 -101px;width:69px;}
	.nav-item.casa:hover .nav-title b{background-position:0 -117px;}
	.nav-item.casa:hover .nav-title{border-left:1px solid #ff8503;border-right:1px solid #ff8503;
	  background: #ff8503;
	  background: -moz-linear-gradient(top,#ffab2d 0%,#ff8503 100%);
	  background: -webkit-linear-gradient(top,#ffab2d 0%,#ff8503 100%);
	  background: linear-gradient(to bottom,#ffab2d 0%,#ff8503 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab2d', endColorstr='#ff8503');}

	.nav-item.entretenimento .nav-title b{background-position:0 -133px;width:137px;}
	.nav-item.entretenimento:hover .nav-title b{background-position:0 -149px;}
	.nav-item.entretenimento:hover .nav-title{border-left:1px solid #a46edd;border-right:1px solid #a46edd;
	  background:#a46edd;
	  background: -moz-linear-gradient(top,#c48eec 0%,#a46edd 100%);
	  background: -webkit-linear-gradient(top,#c48eec 0%,#a46edd 100%);
	  background: linear-gradient(to bottom,#c48eec 0%,#a46edd 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c48eec', endColorstr='#a46edd');}

	.nav-item.estiloSaude .nav-title b{background-position:0 -166px;width:125px;}
	.nav-item.estiloSaude:hover .nav-title b{background-position:0 -183px;}
	.nav-item.estiloSaude:hover .nav-title{border-left:1px solid #bbb29e;border-right:1px solid #bbb29e;
	  background:#bbb29e;
	  background: -moz-linear-gradient(top,#ccc5b1 0%,#bbb29e 100%);
	  background: -webkit-linear-gradient(top,#ccc5b1 0%,#bbb29e 100%);
	  background: linear-gradient(to bottom,#ccc5b1 0%,#bbb29e 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc5b1', endColorstr='#bbb29e');}

	.nav-item.esportes .nav-title b{background-position:0 -199px;width:92px;}
	.nav-item.esportes:hover .nav-title b{background-position:0 -218px;}
	.nav-item.esportes:hover .nav-title{border-left:1px solid #6eae3b;border-right:1px solid #6eae3b;
	  background:#6eae3b;
	  background: -moz-linear-gradient(top,#8cca5a 0%,#6eae3b 100%);
	  background: -webkit-linear-gradient(top,#8cca5a 0%,#6eae3b 100%);
	  background: linear-gradient(to bottom,#8cca5a 0%,#6eae3b 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cca5a', endColorstr='#6eae3b');}

	.nav-item.criancasBebes .nav-title {margin-right:-2px;padding:9px 0 7px;}
	.nav-item.criancasBebes .nav-title b{background-position:0 -2116px;width:93px;height:26px;}
	.nav-item.criancasBebes:hover .nav-title b{background-position:0 -2149px;}
	.nav-item.criancasBebes:hover .nav-title{border-left-color:#fcd53f;border-right-color:#fcd53f;
	  background:#fcd642;
	  background: -moz-linear-gradient(top,#fff99c 0%,#fcd642 100%);
	  background: -webkit-linear-gradient(top,#fff99c 0%,#fcd642 100%);
	  background: linear-gradient(to bottom,#fff99c 0%,#fcd642 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff99c', endColorstr='#fcd642');}
  
	.nav-item.hoteisViagens .nav-title {margin-right:-2px;padding:9px 0 7px;}
	.nav-item.hoteisViagens .nav-title b{background-position:0 -2182px;width:101px;height:26px;}
	.nav-item.hoteisViagens:hover .nav-title b{background-position:0 -2215px;}
	.nav-item.hoteisViagens:hover .nav-title{border-left-color:#4e717d;border-right-color:#4e717d;
	  background:#4e717d;
	  background: -moz-linear-gradient(top,#6c99a8 0%,#4e717d 100%);
	  background: -webkit-linear-gradient(top,#6c99a8 0%,#4e717d 100%);
	  background: linear-gradient(to bottom,#6c99a8 0%,#4e717d 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c99a8', endColorstr='#4e717d');}

	.nav-item.ofertaHj .nav-title {margin-right:0; padding:9px 0 7px;}
	.nav-item.ofertaHj .nav-title b{background-position:0 -2248px;width:89px; height:26px;}
	.nav-item.ofertaHj:hover .nav-title b{background-position:0 -2281px;}
	.nav-item.ofertaHj .nav-title{border-left-color:#0e0e0e;border-right-color:#0e0e0e;
	  background:#1e1e1e;
	  background: -moz-linear-gradient(top,#1e1e1e 0%,#0e0e0e 100%);
	  background: -webkit-linear-gradient(top,#1e1e1e 0%,#0e0e0e 100%);
	  background: linear-gradient(to bottom,#1e1e1e 0%,#0e0e0e 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#0e0e0e');}
	.nav-item.ofertaHj:hover .nav-title{border-left-color:#31373b;border-right-color:#31373b; background:#000;}

	.nav-item.ofertaHj .navsub{ background:none; width:379px; height:252px; box-shadow:none; border:none; right:0;}
	.nav-item.ofertaHj .it-sbmn a:hover{color:#4aa67d;}
	.nav-item.ofertaHj .tit{ margin:0; padding:0;}
	.nav-item.ofertaHj .tit:hover{background:none;}
	.it.btofertaHj .tit a{ background:url(../img/oferta-dia.png) no-repeat;width:379px; height:252px;}*/
  /* Menu Todas as Categorias e Servicos */
  /*Temp*/
  /*Menu Destaques*/
  /*Menu Tecnologia*/
  /* Titulos Tecnologia*/
  /*Menu Casa*/
  /* Titulos Casa*/
  /*Menu Entretenimento*/
  /*Filtro e Titulos Menu Entretenimento*/
  /*Menu Estilo e Saude*/
  /* Titulos Estilo e Saude*/
  /*Menu Esportes*/
  /* Menu Criancas e Bebes */
  /* Titulos Criancas e Bebes */
}
.busca-resultado .header > div > .menuWrap,
body:not([id$=home]) .header > div > .menuWrap {
  display: none !important;
}
.busca-resultado .menuWrap .mn:hover,
body:not([id$=home]) .menuWrap .mn:hover {
  border: 0;
  margin: 0;
}
.busca-resultado .menuWrap .it-mn,
body:not([id$=home]) .menuWrap .it-mn {
  cursor: pointer;
  padding: 14px 0 13px 0;
  display: block;
  position: relative;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-right: -2px;
}
.busca-resultado .menuWrap .it-mn b,
body:not([id$=home]) .menuWrap .it-mn b {
  background: url(../img/header.png) no-repeat;
  display: block;
  text-indent: -9999em;
  height: 15px;
}
.busca-resultado .menuWrap .mn:hover .it-mn,
body:not([id$=home]) .menuWrap .mn:hover .it-mn {
  z-index: 501;
}
.busca-resultado .menuWrap .sbmn,
body:not([id$=home]) .menuWrap .sbmn {
  border-width: 7px;
  top: 100%;
  border-style: solid;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  position: absolute;
  z-index: 500;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
}
.busca-resultado .menuWrap .it-sbmn a,
body:not([id$=home]) .menuWrap .it-sbmn a {
  font-size: 12px;
  font-family: Tahoma,Verdana,Arial;
  color: #a0a0a0;
  padding: 4px 5px;
}
.busca-resultado .menuWrap .it-sbmn a:hover,
body:not([id$=home]) .menuWrap .it-sbmn a:hover {
  color: #fff!important;
  text-decoration: underline;
  font-weight: 400!important;
}
.busca-resultado .menuWrap .lt-it,
body:not([id$=home]) .menuWrap .lt-it {
  margin-right: 10px;
}
.busca-resultado .menuWrap .sbmn .it-sbmn,
body:not([id$=home]) .menuWrap .sbmn .it-sbmn {
  text-align: left;
  display: block;
}
.busca-resultado .menuWrap .mn .it.last,
body:not([id$=home]) .menuWrap .mn .it.last {
  border-right-width: 0;
}
.busca-resultado .menuWrap .mn:hover .sbmn,
body:not([id$=home]) .menuWrap .mn:hover .sbmn {
  visibility: visible;
  opacity: 1;
  -moz-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
}
.busca-resultado .menuWrap .tit,
body:not([id$=home]) .menuWrap .tit {
  display: block;
  padding: 5px 7px 0;
}
.busca-resultado .menuWrap .tit a,
body:not([id$=home]) .menuWrap .tit a {
  /*background:url(../img/header.png);display:block;text-indent:-9999em;*/
  font-size: 14px;
  color: #1e1e1e;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.busca-resultado .menuWrap .tit2,
body:not([id$=home]) .menuWrap .tit2 {
  text-align: left;
  font-size: 12px;
  font-family: Tahoma,Verdana,Arial;
  color: #474747;
  font-weight: bold;
  text-transform: uppercase;
}
.busca-resultado .menuWrap .tit,
body:not([id$=home]) .menuWrap .tit,
.busca-resultado .menuWrap .tit2,
body:not([id$=home]) .menuWrap .tit2 {
  margin: 10px 10px 5px 0;
}
.busca-resultado .menuWrap .vejaMais,
body:not([id$=home]) .menuWrap .vejaMais {
  font-family: Tahoma,Verdana,Arial;
  padding-left: 20px;
  float: left;
  margin: 10px 0 0 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  display: inline-flex;
}
.busca-resultado .menuWrap .vejaMais:before,
body:not([id$=home]) .menuWrap .vejaMais:before {
  content: " ";
  background: url('../img/icons/ic-header.png') no-repeat 0 -1098px;
  height: 12px;
  width: 12px;
  margin-right: 8px;
}
.busca-resultado .menuWrap .lnk,
body:not([id$=home]) .menuWrap .lnk {
  color: transparent!important;
  display: inline!important;
  padding: 0!important;
}
.busca-resultado .nav-list,
body:not([id$=home]) .nav-list {
  width: 972px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  left: -2px;
  text-align: center;
  letter-spacing: -4px;
  background: none;
}
.busca-resultado .nav-list:after,
body:not([id$=home]) .nav-list:after {
  content: '';
  display: block;
  clear: both;
}
.busca-resultado .nav-list li,
body:not([id$=home]) .nav-list li {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
}
.busca-resultado .nav-list .todasCategorias li,
body:not([id$=home]) .nav-list .todasCategorias li {
  display: block;
}
.busca-resultado .nav-list li a,
body:not([id$=home]) .nav-list li a {
  display: block;
}
.busca-resultado .nav-list li a b,
body:not([id$=home]) .nav-list li a b {
  font-family: pinguim, Tahoma, Arial, Helvetica, sans-serif;
  color: #b70f15;
  display: block;
  padding: 5px;
}
.busca-resultado .nav-list li a:hover b,
body:not([id$=home]) .nav-list li a:hover b,
.busca-resultado .menuWrap .nav-list li.selected b,
body:not([id$=home]) .menuWrap .nav-list li.selected b {
  background-color: #3E3F3F;
  background-image: linear-gradient(top, #3E3F3F 0%, #5E5E5E 100%);
  background-image: -moz-linear-gradient(top, #3E3F3F 0%, #5E5E5E 100%);
  background-image: -webkit-linear-gradient(top, #3E3F3F 0%, #5E5E5E 100%);
  background-image: -o-linear-gradient(top, #3E3F3F 0%, #5E5E5E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E3F3F', endColorstr='#5E5E5E');
  color: #fff;
}
.busca-resultado .nav-item,
body:not([id$=home]) .nav-item {
  position: relative;
  padding: 0;
  float: left;
}
.busca-resultado .nav-item:hover,
body:not([id$=home]) .nav-item:hover {
  border: 0;
  margin: 0;
}
.busca-resultado .nav-title,
body:not([id$=home]) .nav-title {
  cursor: pointer;
  padding: 14px 0 13px 0;
  display: block;
  position: relative;
  margin-right: -2px;
}
.busca-resultado .navsub,
body:not([id$=home]) .navsub {
  border-width: 7px;
  top: 100%;
  border-style: solid;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  position: static;
  left: 0;
  z-index: 500;
}
.busca-resultado .navsub .it-sbmn,
body:not([id$=home]) .navsub .it-sbmn {
  text-align: left;
  display: block;
}
.busca-resultado .nav-item .it.last,
body:not([id$=home]) .nav-item .it.last {
  border-right-width: 0!important;
}
.busca-resultado .nav-item:hover .navsub,
body:not([id$=home]) .nav-item:hover .navsub {
  visibility: visible;
  opacity: 1;
  -moz-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
}
.busca-resultado .nav-item .vejaMais,
body:not([id$=home]) .nav-item .vejaMais {
  display: none;
}
.busca-resultado .nav-item.todasCategorias:hover .navsub,
body:not([id$=home]) .nav-item.todasCategorias:hover .navsub {
  display: block;
}
.busca-resultado .nav-item.todasCategorias .navsub,
body:not([id$=home]) .nav-item.todasCategorias .navsub,
.busca-resultado .nav-item.todasCategorias .navsub *,
body:not([id$=home]) .nav-item.todasCategorias .navsub * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.busca-resultado .nav-item.todasCategorias .navsub,
body:not([id$=home]) .nav-item.todasCategorias .navsub {
  width: 956px;
  height: auto !important;
  border-color: #99050a;
  padding: 10px 0;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0 20px;
}
.busca-resultado .nav-item.todasCategorias .list-1 .it-sbmn,
body:not([id$=home]) .nav-item.todasCategorias .list-1 .it-sbmn,
.busca-resultado .nav-item.todasCategorias .list-2 .it-sbmn,
body:not([id$=home]) .nav-item.todasCategorias .list-2 .it-sbmn {
  border-right: 1px solid #e6e6e6;
}
.busca-resultado .nav-item.todasCategorias .list-3 .it-sbmn,
body:not([id$=home]) .nav-item.todasCategorias .list-3 .it-sbmn {
  border: none;
}
.busca-resultado .nav-item.todasCategorias .list-4 .it-sbmn,
body:not([id$=home]) .nav-item.todasCategorias .list-4 .it-sbmn {
  border-left: 1px solid #2a2928;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn.tit,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn.tit {
  color: #efc973;
  font-family: Tahoma,Verdana,Arial;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding-bottom: 10px;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn.tit:hover,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn.tit:hover {
  background: none;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn.first,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn.first {
  margin-top: 28px;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn a,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn a {
  font-weight: bold;
  padding: 6px 0;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn a:hover,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn a:hover {
  color: #9e0c10;
  text-decoration: underline;
}
.busca-resultado .nav-item.todasCategorias .lt-it,
body:not([id$=home]) .nav-item.todasCategorias .lt-it {
  padding: 0;
  overflow: hidden;
  margin: 0;
  float: left;
  width: 24%;
}
.busca-resultado .nav-item.todasCategorias .lt-it.list-4,
body:not([id$=home]) .nav-item.todasCategorias .lt-it.list-4 {
  width: 28%;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn .btNt,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn .btNt {
  color: #036c1c;
  background: url(../img/arvore-de-natal.gif) no-repeat 125px -2px;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn .btNt:hover,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn .btNt:hover {
  background: url(../img/arvore-de-natal.gif) no-repeat 125px -2px #EEEEEE;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn .btAr,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn .btAr {
  background: url(../img/splash-novo.gif) no-repeat 111px 8px;
}
.busca-resultado .nav-item.todasCategorias .it-sbmn .btAr:hover,
body:not([id$=home]) .nav-item.todasCategorias .it-sbmn .btAr:hover {
  background: url(../img/splash-novo.gif) no-repeat 111px 8px #EEEEEE;
}
.busca-resultado .nav-item.todasCategorias .lt-dst,
body:not([id$=home]) .nav-item.todasCategorias .lt-dst {
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
}
.busca-resultado .nav-item.todasCategorias .it-dst,
body:not([id$=home]) .nav-item.todasCategorias .it-dst {
  display: inline-block;
  margin: 2px;
  border: 2px solid #e6e6e6;
  padding: 11px 9px;
}
.busca-resultado .nav-item.todasCategorias .it-dst .it,
body:not([id$=home]) .nav-item.todasCategorias .it-dst .it {
  display: block;
}
.busca-resultado .nav-item.todasCategorias .it-dst:hover,
body:not([id$=home]) .nav-item.todasCategorias .it-dst:hover {
  border-width: 2px;
  padding: 11px 9px;
}
.busca-resultado .nav-item.todasCategorias .it.listaCasamento,
body:not([id$=home]) .nav-item.todasCategorias .it.listaCasamento {
  width: 150px;
  height: 15px;
}
.busca-resultado .nav-item.todasCategorias .it.cartaoPontofrio,
body:not([id$=home]) .nav-item.todasCategorias .it.cartaoPontofrio {
  width: 150px;
  height: 15px;
}
.busca-resultado .nav-item.todasCategorias .it.garantiaEstendida,
body:not([id$=home]) .nav-item.todasCategorias .it.garantiaEstendida {
  width: 150px;
  height: 15px;
}
.busca-resultado .nav-item.todasCategorias .it.tecnoponto,
body:not([id$=home]) .nav-item.todasCategorias .it.tecnoponto {
  width: 150px;
  height: 15px;
}
.busca-resultado .nav-item.todasCategorias .it.revelacaoDigital,
body:not([id$=home]) .nav-item.todasCategorias .it.revelacaoDigital {
  width: 150px;
  height: 18px;
  margin-bottom: -3px;
}
.busca-resultado .nav-item.todasCategorias .it.solucoesCorporativas,
body:not([id$=home]) .nav-item.todasCategorias .it.solucoesCorporativas {
  width: 200px;
  height: 21px;
  margin-bottom: -6px;
}
.busca-resultado .nav-item.todasCategorias .it.partiuViagens,
body:not([id$=home]) .nav-item.todasCategorias .it.partiuViagens {
  width: 150px;
  height: 21px;
  margin-bottom: -6px;
}
.busca-resultado .nav-item.todasCategorias .it-dst a span,
body:not([id$=home]) .nav-item.todasCategorias .it-dst a span {
  color: #474747;
  font-size: 13px;
  font-weight: bold;
}
.busca-resultado .nav-item.todasCategorias .it-dst a span:hover,
body:not([id$=home]) .nav-item.todasCategorias .it-dst a span:hover {
  color: #B70F15;
}
.busca-resultado .nav-item.todasCategorias .it.atacadoM,
body:not([id$=home]) .nav-item.todasCategorias .it.atacadoM {
  width: 150px;
  height: 15px;
}
.busca-resultado .nav-item.todasCategorias .it.iac,
body:not([id$=home]) .nav-item.todasCategorias .it.iac {
  width: 200px;
  height: 15px;
}
.busca-resultado .nav-item.tecnologia .navsub,
body:not([id$=home]) .nav-item.tecnologia .navsub {
  width: 955px;
  height: 375px;
  right: -708px;
}
.busca-resultado .nav-item.tecnologia .it,
body:not([id$=home]) .nav-item.tecnologia .it {
  min-height: 330px;
  text-align: left;
}
.busca-resultado .nav-item.tecnologia .it.tablets,
body:not([id$=home]) .nav-item.tecnologia .it.tablets {
  width: 12%;
  margin-left: -14px;
}
.busca-resultado .nav-item.tecnologia .it.informatica,
body:not([id$=home]) .nav-item.tecnologia .it.informatica {
  margin-left: 0px;
  width: 14%;
}
.busca-resultado .nav-item.tecnologia .it.eletronicos,
body:not([id$=home]) .nav-item.tecnologia .it.eletronicos {
  width: 33%;
}
.busca-resultado .nav-item.tecnologia .it.telefonesCelulares,
body:not([id$=home]) .nav-item.tecnologia .it.telefonesCelulares {
  width: 22%;
}
.busca-resultado .nav-item.tecnologia .it.cineFoto,
body:not([id$=home]) .nav-item.tecnologia .it.cineFoto {
  width: 15%;
}
.busca-resultado .nav-item.tecnologia .lt-lt,
body:not([id$=home]) .nav-item.tecnologia .lt-lt {
  padding-left: 14px;
}
.busca-resultado .nav-item.tecnologia .lt-dst,
body:not([id$=home]) .nav-item.tecnologia .lt-dst {
  padding: 10px;
  border-top: 1px solid #353433;
  width: 100%;
  overflow: hidden;
}
.busca-resultado .nav-item.tecnologia .it-dst a,
body:not([id$=home]) .nav-item.tecnologia .it-dst a {
  height: 16px;
  display: block;
  margin-left: 5px;
}
.busca-resultado .nav-item.tecnologia .it-dst.gps a,
body:not([id$=home]) .nav-item.tecnologia .it-dst.gps a {
  background-position: 2px -1831px;
  width: 40px;
  color: #efc973;
  font-size: 14px;
  font-weight: 700;
}
.busca-resultado .nav-item.tecnologia .it.eletronicos .lt-it,
body:not([id$=home]) .nav-item.tecnologia .it.eletronicos .lt-it {
  margin-left: 20px;
}
.busca-resultado .nav-item.tecnologia .it.eletronicos .it,
body:not([id$=home]) .nav-item.tecnologia .it.eletronicos .it {
  border-right: none;
  min-height: 290px;
}
.busca-resultado .nav-item.tecnologia .lt-lt,
body:not([id$=home]) .nav-item.tecnologia .lt-lt {
  padding-left: 0;
}
.busca-resultado .nav-item.tecnologia .tit2,
body:not([id$=home]) .nav-item.tecnologia .tit2 {
  display: block;
  color: #efc973;
}
.busca-resultado .eletronicos .tit2,
body:not([id$=home]) .eletronicos .tit2 {
  padding-left: 19px;
}
.busca-resultado .telefonesCelulares .tit,
body:not([id$=home]) .telefonesCelulares .tit {
  display: block;
  width: 70%;
}
.busca-resultado .nav-item.tecnologia .navsub,
body:not([id$=home]) .nav-item.tecnologia .navsub {
  display: block !important;
}
.busca-resultado .menuWrap .nav-item.tecnologia .tit,
body:not([id$=home]) .menuWrap .nav-item.tecnologia .tit {
  padding: 0 !important;
}
.busca-resultado .nav-item.tecnologia .tit a,
body:not([id$=home]) .nav-item.tecnologia .tit a,
.busca-resultado .nav-item.tecnologia .tit2 a,
body:not([id$=home]) .nav-item.tecnologia .tit2 a {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 13px;
  background: none;
  text-indent: 0;
  font-weight: bold;
  color: #efc973;
}
.busca-resultado .nav-item.tecnologia .tit a:hover,
body:not([id$=home]) .nav-item.tecnologia .tit a:hover,
.busca-resultado .nav-item.tecnologia .tit2 a:hover,
body:not([id$=home]) .nav-item.tecnologia .tit2 a:hover {
  text-decoration: none;
}
.busca-resultado .nav-item.casa .navsub,
body:not([id$=home]) .nav-item.casa .navsub {
  width: 905px;
  height: 463px;
  right: -615px;
}
.busca-resultado .nav-item.casa .it,
body:not([id$=home]) .nav-item.casa .it {
  min-height: 209px;
  width: 33%;
  text-align: left;
}
.busca-resultado .nav-item.casa .it.eletrodomesticos,
body:not([id$=home]) .nav-item.casa .it.eletrodomesticos,
.busca-resultado .nav-item.casa .it.utilidadesDomesticas,
body:not([id$=home]) .nav-item.casa .it.utilidadesDomesticas {
  margin-left: -2px;
}
.busca-resultado .nav-item.casa .lt-lt,
body:not([id$=home]) .nav-item.casa .lt-lt {
  padding-left: 2px;
}
.busca-resultado .nav-item.casa .md-casa1,
body:not([id$=home]) .nav-item.casa .md-casa1 {
  width: 202px;
  float: left;
}
.busca-resultado .nav-item.casa .md-casa2,
body:not([id$=home]) .nav-item.casa .md-casa2 {
  width: 701px;
  float: left;
}
.busca-resultado .nav-item.casa .md-casa1 .it.eletrodomesticos,
body:not([id$=home]) .nav-item.casa .md-casa1 .it.eletrodomesticos {
  border-bottom: none;
  min-height: 420px;
  width: 194px;
}
.busca-resultado .nav-item.casa .md-casa1 .it.eletrodomesticos .tit a,
body:not([id$=home]) .nav-item.casa .md-casa1 .it.eletrodomesticos .tit a {
  color: #efc973;
}
.busca-resultado .nav-item.casa .tit2,
body:not([id$=home]) .nav-item.casa .tit2 {
  font-size: 12px;
  display: block;
  margin: 10px 0 10px 25px;
  text-transform: inherit;
  color: #efc973;
}
.busca-resultado .nav-item.casa .it.arVentilacao,
body:not([id$=home]) .nav-item.casa .it.arVentilacao,
.busca-resultado .nav-item.casa .it.utilidadesDomesticas,
body:not([id$=home]) .nav-item.casa .it.utilidadesDomesticas {
  margin-left: -2px;
}
.busca-resultado .nav-item.casa .tit a,
body:not([id$=home]) .nav-item.casa .tit a {
  height: 15px;
  color: #efc973;
}
.busca-resultado .it.eletrodomesticos .tit a,
body:not([id$=home]) .it.eletrodomesticos .tit a {
  background-position: 0 -785px;
  width: 143px;
  color: #efc973;
}
.busca-resultado .it.moveis .tit a,
body:not([id$=home]) .it.moveis .tit a {
  background-position: 0 -805px;
  width: 185px;
  color: #efc973;
}
.busca-resultado .it.eletroportaveis .tit a,
body:not([id$=home]) .it.eletroportaveis .tit a {
  background-position: 0 -825px;
  width: 182px;
  height: 15px;
  color: #efc973;
}
.busca-resultado .it.utilidadesDomesticas .tit a,
body:not([id$=home]) .it.utilidadesDomesticas .tit a {
  background-position: 0 -846px;
  width: 182px;
  color: #efc973;
}
.busca-resultado .it.camaMesaBanho .tit a,
body:not([id$=home]) .it.camaMesaBanho .tit a {
  background-position: 0 -866px;
  width: 185px;
  color: #efc973;
}
.busca-resultado .it.ferramentas .tit a,
body:not([id$=home]) .it.ferramentas .tit a {
  background-position: 0 -887px;
  width: 182px;
  color: #efc973;
}
.busca-resultado .nav-item.casa .md-casa2 .it.arVentilacao .tit a,
body:not([id$=home]) .nav-item.casa .md-casa2 .it.arVentilacao .tit a {
  background-position: 0 -2482px;
  width: 143px;
  color: #efc973;
}
.busca-resultado .nav-item.entretenimento .tit a,
body:not([id$=home]) .nav-item.entretenimento .tit a {
  height: 15px;
  color: #efc973;
}
.busca-resultado .it.games .tit a,
body:not([id$=home]) .it.games .tit a {
  background-position: 0 -907px;
  width: 133px;
  height: 15px;
  color: #efc973;
}
.busca-resultado .it.dvdsBluray .tit a,
body:not([id$=home]) .it.dvdsBluray .tit a {
  background-position: 0 -927px;
  color: #efc973;
}
.busca-resultado .it.livros .tit a,
body:not([id$=home]) .it.livros .tit a {
  background-position: 0 -950px;
  width: 191px;
  color: #efc973;
}
.busca-resultado .it.papelaria .tit a,
body:not([id$=home]) .it.papelaria .tit a {
  background-position: 0 -1764px;
  width: 183px;
  color: #efc973;
}
.busca-resultado .nav-item.casa .lt-dst,
body:not([id$=home]) .nav-item.casa .lt-dst {
  padding: 10px;
  border-top: 1px solid #353433;
  width: 100%;
  overflow: hidden;
}
.busca-resultado .nav-item.casa .it-dst a,
body:not([id$=home]) .nav-item.casa .it-dst a {
  color: #efc973;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
}
.busca-resultado .nav-item.casa .it-dst,
body:not([id$=home]) .nav-item.casa .it-dst {
  display: inline-block;
  text-align: center;
  width: initial;
}
.busca-resultado .nav-item.entretenimento .navsub,
body:not([id$=home]) .nav-item.entretenimento .navsub {
  width: 790px;
  height: 430px;
  right: -390px;
}
.busca-resultado .nav-item.entretenimento .it,
body:not([id$=home]) .nav-item.entretenimento .it {
  min-height: 388px;
  text-align: left;
}
.busca-resultado .nav-item.entretenimento .it.games,
body:not([id$=home]) .nav-item.entretenimento .it.games {
  width: 18%;
}
.busca-resultado .nav-item.entretenimento .it.dvdsBluray,
body:not([id$=home]) .nav-item.entretenimento .it.dvdsBluray {
  width: 21%;
}
.busca-resultado .nav-item.entretenimento .it.livros,
body:not([id$=home]) .nav-item.entretenimento .it.livros {
  width: 30%;
}
.busca-resultado .nav-item.entretenimento .it.papelaria,
body:not([id$=home]) .nav-item.entretenimento .it.papelaria {
  width: 29%;
}
.busca-resultado .nav-item.entretenimento .filt a,
body:not([id$=home]) .nav-item.entretenimento .filt a {
  font-weight: 400;
}
.busca-resultado .nav-item.entretenimento .filt .last,
body:not([id$=home]) .nav-item.entretenimento .filt .last {
  margin-bottom: 10px;
}
.busca-resultado .nav-item.entretenimento .filt .last a,
body:not([id$=home]) .nav-item.entretenimento .filt .last a {
  margin-bottom: 10px;
}
.busca-resultado .nav-item.entretenimento .tit2,
body:not([id$=home]) .nav-item.entretenimento .tit2 {
  margin: 10px 0 0 4px;
  display: block;
  text-transform: uppercase;
  color: #efc973;
  font-size: 14px;
}
.busca-resultado .nav-item.entretenimento .lt-dst,
body:not([id$=home]) .nav-item.entretenimento .lt-dst {
  padding: 10px;
  border-top: 1px solid #353433;
  width: 100%;
  overflow: hidden;
}
.busca-resultado .nav-item.entretenimento .it-dst a,
body:not([id$=home]) .nav-item.entretenimento .it-dst a {
  color: #efc973;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
}
.busca-resultado .nav-item.casa .it-dst,
body:not([id$=home]) .nav-item.casa .it-dst {
  display: inline-block;
  text-align: center;
  width: initial;
}
.busca-resultado .nav-item.estiloSaude .navsub,
body:not([id$=home]) .nav-item.estiloSaude .navsub {
  width: 780px;
  height: 250px;
  border-color: #bbb29e;
  right: -277px;
}
.busca-resultado .nav-item.estiloSaude .it,
body:not([id$=home]) .nav-item.estiloSaude .it {
  border-right: 1px solid #2a2928;
  min-height: 250px;
  text-align: left;
}
.busca-resultado .nav-item.estiloSaude .it.belezaSaude,
body:not([id$=home]) .nav-item.estiloSaude .it.belezaSaude {
  width: 23%;
  margin-left: -34px;
}
.busca-resultado .nav-item.estiloSaude .it.malasAcessorios,
body:not([id$=home]) .nav-item.estiloSaude .it.malasAcessorios {
  width: 24%;
}
.busca-resultado .nav-item.estiloSaude .it.relogios,
body:not([id$=home]) .nav-item.estiloSaude .it.relogios {
  width: 15%;
}
.busca-resultado .nav-item.estiloSaude .it.perfumaria,
body:not([id$=home]) .nav-item.estiloSaude .it.perfumaria {
  width: 16%;
}
.busca-resultado .nav-item.estiloSaude .it.moda,
body:not([id$=home]) .nav-item.estiloSaude .it.moda {
  width: 21%;
}
.busca-resultado .nav-item.estiloSaude .lt-lt,
body:not([id$=home]) .nav-item.estiloSaude .lt-lt {
  padding-left: 14px;
}
.busca-resultado .nav-item.estiloSaude .tit a,
body:not([id$=home]) .nav-item.estiloSaude .tit a {
  height: 14px;
  color: #efc973;
}
.busca-resultado .it.belezaSaude .tit a,
body:not([id$=home]) .it.belezaSaude .tit a {
  background-position: 0 -972px;
  width: 146px;
  color: #efc973;
}
.busca-resultado .it.malasAcessorios .tit a,
body:not([id$=home]) .it.malasAcessorios .tit a {
  background-position: 0 -990px;
  width: 158px;
  color: #efc973;
}
.busca-resultado .it.relogios .tit a,
body:not([id$=home]) .it.relogios .tit a {
  background-position: 0 -1012px;
  width: 160px;
  height: 15px;
}
.busca-resultado .it.perfumaria .tit a,
body:not([id$=home]) .it.perfumaria .tit a {
  background-position: 0 -1033px;
  width: 135px;
  color: #efc973;
}
.busca-resultado .it.moda .tit a,
body:not([id$=home]) .it.moda .tit a {
  background-position: 0 -2506px;
  width: 120px;
  color: #efc973;
}
.busca-resultado .nav-item.esportes .navsub,
body:not([id$=home]) .nav-item.esportes .navsub {
  width: 370px;
  height: 310px;
  border-color: #6eae3b;
  right: -140px;
}
.busca-resultado .nav-item.esportes .it,
body:not([id$=home]) .nav-item.esportes .it {
  min-height: 247px;
  text-align: left;
  width: 50%;
}
.busca-resultado .nav-item.esportes .it,
body:not([id$=home]) .nav-item.esportes .it {
  margin-left: -5px;
  padding-top: 0;
  height: 290px;
}
.busca-resultado .nav-item.esportes .it.last,
body:not([id$=home]) .nav-item.esportes .it.last {
  margin-left: 0;
  border-right: 0;
}
.busca-resultado .nav-item.esportes .lt-it,
body:not([id$=home]) .nav-item.esportes .lt-it {
  padding-left: 5px;
}
.busca-resultado .it.esportes .tit a,
body:not([id$=home]) .it.esportes .tit a {
  background-position: 0 -1957px;
  width: 142px;
  color: #efc973;
}
.busca-resultado .nav-item.esportes .last,
body:not([id$=home]) .nav-item.esportes .last {
  padding-top: 42px;
}
.busca-resultado .it.esportes.suplementos .tit a,
body:not([id$=home]) .it.esportes.suplementos .tit a {
  background-position: 0 -2529px;
  width: 142px;
  padding-bottom: 15px;
}
.busca-resultado .nav-item.criancasBebes .navsub,
body:not([id$=home]) .nav-item.criancasBebes .navsub {
  width: 410px;
  height: 320px;
  border-color: #fcd642;
  right: -100px;
  margin-left: -187px !important;
}
.busca-resultado .nav-item.criancasBebes .it,
body:not([id$=home]) .nav-item.criancasBebes .it {
  text-align: left;
}
.busca-resultado .nav-item.criancasBebes .it.brinquedos,
body:not([id$=home]) .nav-item.criancasBebes .it.brinquedos {
  width: 48%;
  margin-left: -5px;
  min-height: 320px;
}
.busca-resultado .nav-item.criancasBebes .it.bebes,
body:not([id$=home]) .nav-item.criancasBebes .it.bebes {
  width: 52%;
}
.busca-resultado .nav-item.criancasBebes .lt-lt,
body:not([id$=home]) .nav-item.criancasBebes .lt-lt {
  padding-left: 5px;
}
.busca-resultado .nav-item.criancasBebes.tit a,
body:not([id$=home]) .nav-item.criancasBebes.tit a {
  height: 18px;
  color: #efc973;
}
.busca-resultado .it.brinquedos .tit a,
body:not([id$=home]) .it.brinquedos .tit a {
  background-position: 0 -1053px;
  width: 151px;
  color: #efc973;
}
.busca-resultado .it.bebes .tit a,
body:not([id$=home]) .it.bebes .tit a {
  background-position: 0 -1078px;
  width: 168px;
  color: #efc973;
}
/*------------------------------------*\
    #FOOTER ANTIGO
\*------------------------------------*/
.busca-resultado #footer,
body:not([id$=home]) #footer {
  overflow: hidden;
  clear: both;
  background: #f6f6f6;
  /*Lista Links*/
  /*Dúvidas*/
  /*Serviços*/
  /*Institucional*/
  /*Contatos*/
  /*Formas Pagamento*/
  /*Host*/
  /*Temp*/
  /*Temp*/
  /*Temp Ebit*/
  /*Temp Ebit*/
  /*Temp*/
  /*Temp*/
  /*Versão site*/
  /*Redes Sociais*/
  /*Mais Infos*/
}
.busca-resultado #footer .footer,
body:not([id$=home]) #footer .footer {
  width: 990px;
  padding: 20px 10px 10px;
  margin: 0 auto;
}
.busca-resultado #footer .footer .fArea1,
body:not([id$=home]) #footer .footer .fArea1 {
  width: 990px;
  float: left;
  border-bottom: 1px solid #E6E6E6;
  padding: 0 0 0 37px;
}
.busca-resultado #footer .footer .fArea2,
body:not([id$=home]) #footer .footer .fArea2 {
  width: 990px;
  float: left;
  border-bottom: 1px solid #E6E6E6;
  margin: 10px 0 0;
  padding: 0 0 0 27px;
}
.busca-resultado #footer .footer .fArea3,
body:not([id$=home]) #footer .footer .fArea3 {
  width: 237px;
  overflow: hidden;
}
.busca-resultado #footer .footer .fArea5,
body:not([id$=home]) #footer .footer .fArea5 {
  clear: both;
  padding: 0 0 0 27px;
}
.busca-resultado #footer .footer .titF,
body:not([id$=home]) #footer .footer .titF {
  color: #404040;
  font-size: 14px;
  font-weight: bold;
}
.busca-resultado #footer .footer .redesSociais .google,
body:not([id$=home]) #footer .footer .redesSociais .google {
  margin-bottom: 20px;
}
.busca-resultado #footer .footer .fArea1 a:hover,
body:not([id$=home]) #footer .footer .fArea1 a:hover {
  text-decoration: underline;
}
.busca-resultado #footer .listLks .li,
body:not([id$=home]) #footer .listLks .li {
  margin-bottom: 20px;
  /*clear:both;*/
  overflow: hidden;
  float: left;
}
.busca-resultado #footer .listLks .col1,
body:not([id$=home]) #footer .listLks .col1,
.busca-resultado #footer .listLks .col2,
body:not([id$=home]) #footer .listLks .col2 {
  width: 49.9%;
  float: left;
}
.busca-resultado #footer .listLks .col1 li,
body:not([id$=home]) #footer .listLks .col1 li,
.busca-resultado #footer .listLks .col2 li,
body:not([id$=home]) #footer .listLks .col2 li {
  margin-bottom: 2px;
}
.busca-resultado #footer .listLks .col2 li,
body:not([id$=home]) #footer .listLks .col2 li {
  padding-left: 15px;
}
.busca-resultado #footer .listLks .col2 .first,
body:not([id$=home]) #footer .listLks .col2 .first {
  padding-left: 14px;
}
.busca-resultado #footer .listLks .first,
body:not([id$=home]) #footer .listLks .first {
  padding-top: 5px;
}
.busca-resultado #footer .listLks a,
body:not([id$=home]) #footer .listLks a {
  color: #404040;
  background: url(../img/smallIco.png) no-repeat 0 -597px;
  padding-left: 10px;
}
.busca-resultado #footer .footer .duvidas,
body:not([id$=home]) #footer .footer .duvidas {
  width: 308px;
  border-right: 1px solid #E6E6E6;
  margin: 0 10px 0 0;
  float: left;
}
.busca-resultado #footer .footer .duvidas .col1,
body:not([id$=home]) #footer .footer .duvidas .col1 {
  width: 40%;
}
.busca-resultado #footer .footer .duvidas .col1 span,
body:not([id$=home]) #footer .footer .duvidas .col1 span {
  padding: 0 0 0 10px;
}
.busca-resultado #footer .footer .duvidas .col2 span,
body:not([id$=home]) #footer .footer .duvidas .col2 span {
  padding: 0 0 0 10px;
}
.busca-resultado #footer .footer .servicos,
body:not([id$=home]) #footer .footer .servicos {
  width: 304px;
  border-right: 1px solid #E6E6E6;
  margin: 0 0 0 15px;
  padding: 0 0 0 10px;
  float: left;
}
.busca-resultado #footer .footer .servicos .col1,
body:not([id$=home]) #footer .footer .servicos .col1 {
  width: 43%;
}
.busca-resultado #footer .footer .servicos .col2,
body:not([id$=home]) #footer .footer .servicos .col2 {
  width: 57%;
}
.busca-resultado #footer .footer .servicos .col1 span,
body:not([id$=home]) #footer .footer .servicos .col1 span {
  padding: 0 0 0 10px;
}
.busca-resultado #footer .footer .institucional,
body:not([id$=home]) #footer .footer .institucional {
  width: 290px;
  padding: 0 0 0 36px;
  float: left;
}
.busca-resultado #footer .footer .contatos,
body:not([id$=home]) #footer .footer .contatos {
  margin-bottom: 10px;
  overflow: hidden;
}
.busca-resultado #footer .footer .contatos li,
body:not([id$=home]) #footer .footer .contatos li {
  float: left;
  width: 40%;
  margin-bottom: 20px;
}
.busca-resultado #footer .footer .contatos .televendas,
body:not([id$=home]) #footer .footer .contatos .televendas {
  width: 292px;
  border-right: 1px solid #E6E6E6;
  padding: 0;
  margin: 0 10px 0 0;
}
.busca-resultado #footer .footer .contatos .televendas p,
body:not([id$=home]) #footer .footer .contatos .televendas p {
  padding: 0 32px 0 0;
}
.busca-resultado #footer .footer .contatos .televendas .infoTelevendas,
body:not([id$=home]) #footer .footer .contatos .televendas .infoTelevendas,
.busca-resultado #footer .footer .contatos .sac .infoSac,
body:not([id$=home]) #footer .footer .contatos .sac .infoSac {
  padding-left: 10px;
}
.busca-resultado #footer .footer .contatos .sac,
body:not([id$=home]) #footer .footer .contatos .sac {
  width: 450px;
}
.busca-resultado #footer .footer .contatos .tel,
body:not([id$=home]) #footer .footer .contatos .tel {
  color: #9e0b0f;
  display: block;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
.busca-resultado #footer .footer .contatos a:hover,
body:not([id$=home]) #footer .footer .contatos a:hover {
  text-decoration: none;
}
.busca-resultado #footer .footer .contatos .televendas .infoTelevendas a,
body:not([id$=home]) #footer .footer .contatos .televendas .infoTelevendas a {
  color: #404040;
  font-weight: bold;
}
.busca-resultado #footer .footer .contatos .sac .infoSac .lIntTel,
body:not([id$=home]) #footer .footer .contatos .sac .infoSac .lIntTel {
  background: url(../img/imgFooter.png) no-repeat -19px -517px;
  float: left;
  width: 190px;
  margin: 0;
  padding: 0 0 25px;
}
.busca-resultado #footer .footer .contatos .sac .infoSac .lIntTel p,
body:not([id$=home]) #footer .footer .contatos .sac .infoSac .lIntTel p {
  padding: 0 25px 0 0;
}
.busca-resultado #footer .footer .contatos .sac .infoSac .lFisicas,
body:not([id$=home]) #footer .footer .contatos .sac .infoSac .lFisicas {
  float: left;
  width: 240px;
  padding: 0 0 0 5px;
  border-right: 1px solid #E6E6E6;
}
.busca-resultado #footer .footer .contatos .sac .infoSac .lFisicas a,
body:not([id$=home]) #footer .footer .contatos .sac .infoSac .lFisicas a {
  color: #9e0b0f;
}
.busca-resultado #footer .footer .contatos .sac .infoSac .lFisicas span,
body:not([id$=home]) #footer .footer .contatos .sac .infoSac .lFisicas span {
  font-weight: bold;
}
.busca-resultado #footer .footer .contatos .sac .infoSac .lFisicas .tel,
body:not([id$=home]) #footer .footer .contatos .sac .infoSac .lFisicas .tel {
  font-size: 2em;
  margin: 28px 0 0;
  font-size: 20px;
}
.busca-resultado #footer .footer .contatos .sac .infoSac .lFisicas a:hover,
body:not([id$=home]) #footer .footer .contatos .sac .infoSac .lFisicas a:hover {
  text-decoration: underline;
}
.busca-resultado #footer .footer .contatos .rede,
body:not([id$=home]) #footer .footer .contatos .rede {
  width: 200px;
}
.busca-resultado #footer .footer .contatos .rede .btSocial,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial {
  padding: 0 0 0 20px;
}
.busca-resultado #footer .footer .contatos .rede .btSocial p,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial p {
  padding: 6px 0 0;
}
.busca-resultado #footer .footer .contatos .rede .btSocial ul,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial ul {
  margin: 10px 0 0;
}
.busca-resultado #footer .footer .contatos .rede .btSocial ul li,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial ul li {
  float: left;
  width: 26px;
  height: 27px;
  margin: 0 4px 0 0;
}
.busca-resultado #footer .footer .contatos .rede .btSocial ul li a,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial ul li a {
  background: url(../img/imgFooter.png) no-repeat;
  width: 28px;
  height: 28px;
  text-indent: -9999em;
  float: left;
}
.busca-resultado #footer .footer .contatos .rede .btSocial .btFac,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial .btFac {
  background-position: 0 -465px;
}
.busca-resultado #footer .footer .contatos .rede .btSocial .btTwi,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial .btTwi {
  background-position: -29px -465px;
}
.busca-resultado #footer .footer .contatos .rede .btSocial .btGoo,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial .btGoo {
  background-position: -93px -465px;
}
.busca-resultado #footer .footer .contatos .rede .btSocial .btYou,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial .btYou {
  background-position: -124px -465px;
}
.busca-resultado #footer .footer .contatos .rede .btSocial .btPin,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial .btPin {
  background-position: -155px -465px;
}
.busca-resultado #footer .footer .contatos .rede .btSocial .btIns,
body:not([id$=home]) #footer .footer .contatos .rede .btSocial .btIns {
  background-position: -62px -465px;
}
.busca-resultado #footer .footer .fArea4,
body:not([id$=home]) #footer .footer .fArea4 {
  width: 990px;
  clear: both;
  float: left;
  margin: 10px 0 0;
  padding: 0 0 0 27px;
}
.busca-resultado #footer .footer .formasPagamentoCartao,
body:not([id$=home]) #footer .footer .formasPagamentoCartao {
  width: 200px;
  float: left;
  border-right: 1px solid #E6E6E6;
  margin: 0 10px 0 0;
  padding: 0 0 25px 10px;
}
.busca-resultado #footer .footer .formasPagamentoCartao .titF,
body:not([id$=home]) #footer .footer .formasPagamentoCartao .titF {
  float: left;
  margin: 0 0 10px;
}
.busca-resultado #footer .footer .formasPagamentoCartao .cartao,
body:not([id$=home]) #footer .footer .formasPagamentoCartao .cartao {
  background: url(../img/imgFooter.png) no-repeat 90px -184px;
  width: 146px;
  height: 46px;
  float: left;
}
.busca-resultado #footer .footer .formasPagamentoCartao .cartao strong,
body:not([id$=home]) #footer .footer .formasPagamentoCartao .cartao strong {
  font-size: 10px;
  color: #404040;
  padding: 0 70px 0 0;
}
.busca-resultado #footer .footer .formasPagamentoCartao .cartao span,
body:not([id$=home]) #footer .footer .formasPagamentoCartao .cartao span {
  color: #404040;
  background: url(../img/smallIco.png) no-repeat 0 -597px;
  padding-left: 10px;
}
.busca-resultado #footer .footer .formasPagamentoCartao .cartao span:hover,
body:not([id$=home]) #footer .footer .formasPagamentoCartao .cartao span:hover {
  text-decoration: underline;
}
.busca-resultado #footer .footer .formasPagamento,
body:not([id$=home]) #footer .footer .formasPagamento {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 0 0 10px;
}
.busca-resultado #footer .footer .formasPagamento .titF,
body:not([id$=home]) #footer .footer .formasPagamento .titF {
  float: left;
  line-height: 17.5px;
  height: auto;
  width: auto;
  text-indent: inherit;
  margin: -4px 0 6px 2px;
  font-size: 14px;
  color: #404040;
}
.busca-resultado #footer .footer .formasPagamento p,
body:not([id$=home]) #footer .footer .formasPagamento p {
  clear: both;
  color: #666;
  font-size: 0.9em;
  padding: 4px 0;
  width: 100% !important;
}
.busca-resultado #footer .footer .formasPagamento p a,
body:not([id$=home]) #footer .footer .formasPagamento p a {
  text-decoration: underline;
  color: #666;
}
.busca-resultado #footer .footer .formasPagamento ul,
body:not([id$=home]) #footer .footer .formasPagamento ul {
  float: left;
}
.busca-resultado #footer .footer .formasPagamento ul .gpa,
body:not([id$=home]) #footer .footer .formasPagamento ul .gpa,
.busca-resultado #footer .footer .formasPagamento ul .cc,
body:not([id$=home]) #footer .footer .formasPagamento ul .cc,
.busca-resultado #footer .footer .formasPagamento ul .db,
body:not([id$=home]) #footer .footer .formasPagamento ul .db,
.busca-resultado #footer .footer .formasPagamento ul .bl,
body:not([id$=home]) #footer .footer .formasPagamento ul .bl,
.busca-resultado #footer .footer .formasPagamento ul .cl,
body:not([id$=home]) #footer .footer .formasPagamento ul .cl,
.busca-resultado #footer .footer .formasPagamento ul .mm,
body:not([id$=home]) #footer .footer .formasPagamento ul .mm,
.busca-resultado #footer .footer .formasPagamento ul .pp,
body:not([id$=home]) #footer .footer .formasPagamento ul .pp {
  background: url(../img/imgFooter.png) no-repeat;
  overflow: hidden;
  padding-top: 24px;
  height: 0;
  display: block;
  margin-top: 5px;
}
.busca-resultado #footer .footer .formasPagamento ul .gpa,
body:not([id$=home]) #footer .footer .formasPagamento ul .gpa {
  background-position: 0 0;
  width: 200px;
  padding-bottom: 26px;
  text-indent: -9999em;
}
.busca-resultado #footer .footer .formasPagamento ul .cc,
body:not([id$=home]) #footer .footer .formasPagamento ul .cc {
  background-position: -214px 0;
  padding: 0 0 50px;
  text-indent: -9999em;
  width: 120px;
}
.busca-resultado #footer .footer .formasPagamento ul .db,
body:not([id$=home]) #footer .footer .formasPagamento ul .db {
  background-position: -356px 0;
  width: 101px;
  float: left;
  padding-bottom: 26px;
  text-indent: -9999em;
}
.busca-resultado #footer .footer .formasPagamento ul .bl,
body:not([id$=home]) #footer .footer .formasPagamento ul .bl {
  background-position: -181px -54px;
  width: 66px;
}
.busca-resultado #footer .footer .formasPagamento ul .cl,
body:not([id$=home]) #footer .footer .formasPagamento ul .cl {
  background-position: 0 -104px;
  width: 35px;
}
.busca-resultado #footer .footer .formasPagamento ul .mm,
body:not([id$=home]) #footer .footer .formasPagamento ul .mm {
  background-position: -367px 0;
  width: 116px;
  padding-bottom: 26px;
  text-indent: -9999em;
  float: left;
}
.busca-resultado #footer .footer .formasPagamento ul .pp,
body:not([id$=home]) #footer .footer .formasPagamento ul .pp {
  background-position: -487px 0;
  width: 35px;
  text-indent: -9999em;
  height: 25px;
}
.busca-resultado #footer .footer .formasPagamento li,
body:not([id$=home]) #footer .footer .formasPagamento li {
  float: left;
  padding: 0 0 0 4px;
}
.busca-resultado #footer .footer .formasPagamento li:nth-child(2),
body:not([id$=home]) #footer .footer .formasPagamento li:nth-child(2) {
  margin: 0 40px;
}
.busca-resultado #footer .footer .formasPagamento li p,
body:not([id$=home]) #footer .footer .formasPagamento li p {
  font-size: 0.909em;
}
.busca-resultado #footer .footer .formasPagamento .cartao,
body:not([id$=home]) #footer .footer .formasPagamento .cartao {
  margin-left: 10px;
  background: url(../img/imgFooter.png) no-repeat 0 -184px;
  float: left;
  padding-top: 44px;
  height: 0;
  width: 148px;
  overflow: hidden;
}
.busca-resultado #footer .footer .formasPagamento .htpaypal,
body:not([id$=home]) #footer .footer .formasPagamento .htpaypal {
  background: url(../img/imgFooter.png) no-repeat -259px -50px;
  width: 36px;
  height: 40px;
  float: left;
  text-indent: -9999px;
}
.busca-resultado #footer .footer .formasPagamento .visa-electron,
body:not([id$=home]) #footer .footer .formasPagamento .visa-electron {
  float: left;
  height: 18px;
  margin: 34px 0 0 -101px;
  position: relative;
  text-indent: -9999px;
  width: 36px;
}
.busca-resultado #footer .footer .host,
body:not([id$=home]) #footer .footer .host {
  overflow: hidden;
  border-top: 1px solid #e2e2e2;
  padding: 5px 0;
  clear: both;
}
.busca-resultado #footer .footer .host .selos,
body:not([id$=home]) #footer .footer .host .selos {
  width: 212px;
  border-right: 1px solid #E6E6E6;
  margin: 10px 0 0 10px;
  float: left;
}
.busca-resultado #footer .footer .host .selos *,
body:not([id$=home]) #footer .footer .host .selos * {
  vertical-align: middle;
}
.busca-resultado #footer .footer .host .selos img,
body:not([id$=home]) #footer .footer .host .selos img {
  margin: 5px 0;
}
.busca-resultado #footer .footer .host .selos li,
body:not([id$=home]) #footer .footer .host .selos li {
  float: left;
  margin: 0 10px 0 0;
  vertical-align: middle;
  padding: 15px 11px 0 0;
}
.busca-resultado #footer .footer .host .selos li span,
body:not([id$=home]) #footer .footer .host .selos li span {
  overflow: hidden;
  display: block;
  height: 0;
  background: url(../img/imgFooter.png) no-repeat;
}
.busca-resultado #footer .footer .host .selos li.verisign,
body:not([id$=home]) #footer .footer .host .selos li.verisign {
  padding: 0;
  margin-top: 1px;
}
.busca-resultado #footer .footer .host .selos li.thawte img,
body:not([id$=home]) #footer .footer .host .selos li.thawte img {
  margin: 0;
}
.busca-resultado #footer .footer .host .selos .blindado,
body:not([id$=home]) #footer .footer .host .selos .blindado {
  padding: 8px 5px 0 0;
}
.busca-resultado #footer .footer .host .powHos,
body:not([id$=home]) #footer .footer .host .powHos {
  margin: 10px 0 0;
}
.busca-resultado #footer .footer .host .powHos .blindado h4,
body:not([id$=home]) #footer .footer .host .powHos .blindado h4 {
  font-size: 0.909em;
  padding-bottom: 11px;
}
.busca-resultado #footer .footer .host .selos .internetSegura,
body:not([id$=home]) #footer .footer .host .selos .internetSegura {
  padding: 30px 11px 0 0;
}
.busca-resultado #footer .footer .host .powHos .ebit-diamente,
body:not([id$=home]) #footer .footer .host .powHos .ebit-diamente {
  width: 140px;
  border-right: 1px solid #E6E6E6;
}
.busca-resultado #footer .footer .host .powHos .ebit-diamente a,
body:not([id$=home]) #footer .footer .host .powHos .ebit-diamente a {
  background: url(../img/imgFooter.png) no-repeat 0 -644px;
  width: 65px;
  height: 70px;
  margin: 5px 0 0 36px;
  display: block;
  text-indent: -9999em;
}
.busca-resultado #footer .footer .host .selos .verisign span,
body:not([id$=home]) #footer .footer .host .selos .verisign span {
  background-position: 0 -355px;
  padding-top: 34px;
  width: 76px;
  margin-top: 5px;
}
.busca-resultado #footer .footer .host .selos .camaranet span,
body:not([id$=home]) #footer .footer .host .selos .camaranet span {
  background-position: 0 -254px;
  padding-top: 20px;
  width: 93px;
}
.busca-resultado #footer .footer .host .selos .internetSegura span,
body:not([id$=home]) #footer .footer .host .selos .internetSegura span {
  background-position: 0 -231px;
  padding-top: 21px;
  width: 56px;
}
.busca-resultado #footer .footer .host .powHos li,
body:not([id$=home]) #footer .footer .host .powHos li {
  float: left;
  padding: 0;
}
.busca-resultado #footer .footer .host .powHos .gpa,
body:not([id$=home]) #footer .footer .host .powHos .gpa {
  padding-left: 40px;
}
.busca-resultado #footer .footer .host .powHos p,
body:not([id$=home]) #footer .footer .host .powHos p {
  font-size: 0.909em;
}
.busca-resultado #footer .footer .host .powHos .powered,
body:not([id$=home]) #footer .footer .host .powHos .powered {
  width: 170px;
  border-right: 1px solid #E6E6E6;
}
.busca-resultado #footer .footer .host .powHos .powered p,
body:not([id$=home]) #footer .footer .host .powHos .powered p {
  padding: 9px 0 0 30px;
}
.busca-resultado #footer .footer .host .powHos .hosted p,
body:not([id$=home]) #footer .footer .host .powHos .hosted p {
  padding-bottom: 5px;
}
.busca-resultado #footer .footer .host .powHos .gpa,
body:not([id$=home]) #footer .footer .host .powHos .gpa {
  width: 175px;
  padding: 0;
  border-right: 1px solid #E6E6E6;
}
.busca-resultado #footer .footer .host .powHos .gpa p,
body:not([id$=home]) #footer .footer .host .powHos .gpa p {
  padding: 9px 0 0 30px;
}
.busca-resultado #footer .footer .host .powHos .hosted a,
body:not([id$=home]) #footer .footer .host .powHos .hosted a,
.busca-resultado #footer .footer .host .powHos .powered a,
body:not([id$=home]) #footer .footer .host .powHos .powered a,
.busca-resultado #footer .footer .host .powHos .gpa a,
body:not([id$=home]) #footer .footer .host .powHos .gpa a {
  display: block;
  overflow: hidden;
  height: 0;
  background: url(../img/imgFooter.png) no-repeat;
}
.busca-resultado #footer .footer .host .powHos .hosted a,
body:not([id$=home]) #footer .footer .host .powHos .hosted a {
  width: 54px;
  padding-top: 26px;
  background-position: 0 -131px;
}
.busca-resultado #footer .footer .host .powHos .powered a,
body:not([id$=home]) #footer .footer .host .powHos .powered a {
  width: 86px;
  padding-top: 21px;
  background-position: 0 -757px;
  margin: 10px 0 0 30px;
}
.busca-resultado #footer .footer .host .powHos .gpa a,
body:not([id$=home]) #footer .footer .host .powHos .gpa a {
  float: left;
  width: 125px;
  padding-top: 35px;
  background-position: 0 -313px;
  margin: 10px 0 0 35px;
}
.busca-resultado #footer .footer .host .powHos li a:hover,
body:not([id$=home]) #footer .footer .host .powHos li a:hover {
  text-decoration: none;
}
.busca-resultado #footer .footer .host .powHos li span,
body:not([id$=home]) #footer .footer .host .powHos li span {
  height: 0;
  overflow: hidden;
  display: inline-block;
  background: url(../img/allImages.png) no-repeat;
  vertical-align: middle;
  margin-left: 5px;
}
.busca-resultado #footer .footer .host .powHos .verSite p,
body:not([id$=home]) #footer .footer .host .powHos .verSite p {
  padding: 9px 0 0 95px;
}
.busca-resultado #footer .footer .host .powHos .verSite a,
body:not([id$=home]) #footer .footer .host .powHos .verSite a {
  background: url(../img/imgFooter.png) no-repeat;
  color: #404040;
}
.busca-resultado #footer .footer .host .powHos .verSite ul,
body:not([id$=home]) #footer .footer .host .powHos .verSite ul {
  margin: 9px 0 0 70px;
  padding: 0;
}
.busca-resultado #footer .footer .host .powHos .verSite ul li,
body:not([id$=home]) #footer .footer .host .powHos .verSite ul li {
  float: left;
  padding: 0;
  font-size: 10px;
}
.busca-resultado #footer .footer .host .powHos .verSite .btDesktop,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btDesktop {
  width: 36px;
  margin: 0 15px 0 0;
}
.busca-resultado #footer .footer .host .powHos .verSite .btDesktop a,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btDesktop a {
  background-position: 5px -430px;
  width: 36px;
  height: 34px;
  float: left;
  margin: 5px 0 0;
}
.busca-resultado #footer .footer .host .powHos .verSite .btDesktop a:hover,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btDesktop a:hover {
  background-position: -105px -430px;
}
.busca-resultado #footer .footer .host .powHos .verSite .btDesktop a strong,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btDesktop a strong {
  font-weight: normal;
  padding: 27px 0 0 2px;
  float: left;
}
.busca-resultado #footer .footer .host .powHos .verSite .btDesktop a strong:hover,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btDesktop a strong:hover {
  text-decoration: underline;
}
.busca-resultado #footer .footer .host .powHos .verSite .btMobile,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btMobile {
  width: 50px;
  height: 38px;
  margin: 0 15px 0 0;
}
.busca-resultado #footer .footer .host .powHos .verSite .btMobile a,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btMobile a {
  background-position: -40px -430px;
  width: 36px;
  height: 34px;
  float: left;
  margin: 5px 0 0;
}
.busca-resultado #footer .footer .host .powHos .verSite .btMobile a:hover,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btMobile a:hover {
  background-position: -150px -430px;
}
.busca-resultado #footer .footer .host .powHos .verSite .btMobile a strong,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btMobile a strong {
  font-weight: normal;
  padding: 27px 0 0 2px;
  float: left;
}
.busca-resultado #footer .footer .host .powHos .verSite .btMobile a strong:hover,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btMobile a strong:hover {
  text-decoration: underline;
}
.busca-resultado #footer .footer .host .powHos .verSite .btTablet,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btTablet {
  width: 28px;
  height: 38px;
}
.busca-resultado #footer .footer .host .powHos .verSite .btTablet a,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btTablet a {
  background-position: -203px -430px;
  width: 36px;
  height: 34px;
  float: left;
  margin: 5px 0 0;
}
.busca-resultado #footer .footer .host .powHos .verSite .btTablet a:hover,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btTablet a:hover {
  background-position: -256px -430px;
}
.busca-resultado #footer .footer .host .powHos .verSite .btTablet a strong,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btTablet a strong {
  font-weight: normal;
  padding: 27px 0 0 10px;
  float: left;
}
.busca-resultado #footer .footer .host .powHos .verSite .btTablet a strong:hover,
body:not([id$=home]) #footer .footer .host .powHos .verSite .btTablet a strong:hover {
  text-decoration: underline;
}
.busca-resultado #footer .redesSociais,
body:not([id$=home]) #footer .redesSociais {
  margin-bottom: 10px;
}
.busca-resultado #footer .redesSociais .titF,
body:not([id$=home]) #footer .redesSociais .titF {
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 10px;
}
.busca-resultado #footer .redesSociais .siga,
body:not([id$=home]) #footer .redesSociais .siga {
  display: block;
  margin-bottom: 5px;
}
.busca-resultado #footer .redesSociais .twitter,
body:not([id$=home]) #footer .redesSociais .twitter {
  float: left;
  margin: 4px 20px 15px 0;
}
.busca-resultado #footer .redesSociais .api_googlePlus1,
body:not([id$=home]) #footer .redesSociais .api_googlePlus1 {
  float: left;
  margin-top: 0 !important;
}
.busca-resultado #footer .fAreaInfo,
body:not([id$=home]) #footer .fAreaInfo {
  background: #e2e2e2;
}
.busca-resultado #footer .fAreaInfo .maisInfos,
body:not([id$=home]) #footer .fAreaInfo .maisInfos {
  width: 990px;
  overflow: hidden;
  color: #333333;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}
.busca-resultado #footer .fAreaInfo .maisInfos a,
body:not([id$=home]) #footer .fAreaInfo .maisInfos a {
  color: #333333;
  padding: 0 0 0 2px;
}
.busca-resultado #footer .fAreaInfo .maisInfos a:hover,
body:not([id$=home]) #footer .fAreaInfo .maisInfos a:hover {
  text-decoration: underline;
}
