.clear {
  content: "";
  display: table;
  clear: both;
}
.only-desktop {
  display: none;
}
@media only screen and (min-width: 950px) {
  .only-desktop {
    display: block;
  }
}
.only-mobile {
  display: none;
}
@media only screen and (max-width: 949px) {
  .only-mobile {
    display: block;
  }
}
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/*------------------------------------*\
    #MENU
\*------------------------------------*/
body .nav-menu,
#header .nav-menu {
  background-color: #E5F1FB;
  position: absolute;
  width: 100%;
  z-index: 905;
}
@media only screen and (min-width: 950px) {
  body .nav-menu,
  #header .nav-menu {
    background-color: #121111;
    /*background-image: linear-gradient(top, #FDFCFC 0%, #E2E2E2 100%);
            background-image: -moz-linear-gradient(top, #FDFCFC 0%, #E2E2E2 100%);
            background-image: -webkit-linear-gradient(top, #FDFCFC 0%, #E2E2E2 100%);
            background-image: -o-linear-gradient(top, #FDFCFC 0%, #E2E2E2 100%);
            display: block;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFCFC', endColorstr='#E2E2E2');*/
    height: 49px;
    position: relative;
    overflow: visible;
    /*.box-shadow(0 1px 10px 0 #666);*/
  }
}
body .nav-menu .nav-collapse,
#header .nav-menu .nav-collapse {
  display: none;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-collapse,
  #header .nav-menu .nav-collapse {
    display: block;
  }
}
body .nav-menu .nav-collapse.nav-expand,
#header .nav-menu .nav-collapse.nav-expand {
  display: block;
}
@media only screen and (max-width: 949px) {
  body .nav-menu .nav-collapse.nav-expand,
  #header .nav-menu .nav-collapse.nav-expand {
    display: block !important;
  }
}
body .nav-menu .nav-top,
#header .nav-menu .nav-top {
  width: 100%;
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-top,
  #header .nav-menu .nav-top {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
body .nav-menu .nav-top:after,
#header .nav-menu .nav-top:after,
body .nav-menu .nav-top:before,
#header .nav-menu .nav-top:before {
  display: table;
  content: " ";
}
body .nav-menu .nav-top .headerMenu,
#header .nav-menu .nav-top .headerMenu {
  display: none;
}
body .nav-menu .nav-link,
#header .nav-menu .nav-link,
body .nav-menu .navsub-link,
#header .nav-menu .navsub-link {
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  display: table;
  cursor: pointer;
  vertical-align: middle;
  color: #A3ADB3;
  padding: 0 30px;
  width: 100%;
  text-align: left;
  height: 60px;
  line-height: 60px;
}
body .nav-menu .nav-link .description,
#header .nav-menu .nav-link .description,
body .nav-menu .navsub-link .description,
#header .nav-menu .navsub-link .description,
body .nav-menu .nav-link .back,
#header .nav-menu .nav-link .back,
body .nav-menu .navsub-link .back,
#header .nav-menu .navsub-link .back,
body .nav-menu .nav-link .ic-chevron-right,
#header .nav-menu .nav-link .ic-chevron-right,
body .nav-menu .navsub-link .ic-chevron-right,
#header .nav-menu .navsub-link .ic-chevron-right {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}
body .nav-menu .nav-link:hover,
#header .nav-menu .nav-link:hover,
body .nav-menu .navsub-link:hover,
#header .nav-menu .navsub-link:hover {
  text-decoration: none;
}
body .nav-menu .nav-link:before,
#header .nav-menu .nav-link:before,
body .nav-menu .navsub-link:before,
#header .nav-menu .navsub-link:before {
  display: none;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-link:before,
  #header .nav-menu .nav-link:before,
  body .nav-menu .navsub-link:before,
  #header .nav-menu .navsub-link:before {
    display: block;
  }
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-link:before,
  #header .nav-menu .nav-link:before,
  body .nav-menu .navsub-link:before,
  #header .nav-menu .navsub-link:before {
    display: block;
  }
}
body .nav-menu .nav-link:hover,
#header .nav-menu .nav-link:hover,
body .nav-menu .navsub-link:hover,
#header .nav-menu .navsub-link:hover {
  color: #000000;
}
body .nav-menu .nav-link .description,
#header .nav-menu .nav-link .description,
body .nav-menu .navsub-link .description,
#header .nav-menu .navsub-link .description {
  width: 100%;
  font-weight: 700;
}
body .nav-menu .nav-link .description:hover,
#header .nav-menu .nav-link .description:hover,
body .nav-menu .navsub-link .description:hover,
#header .nav-menu .navsub-link .description:hover {
  /*color: #fff;*/
}
body .nav-menu .nav-link .ic-chevron-right,
#header .nav-menu .nav-link .ic-chevron-right,
body .nav-menu .navsub-link .ic-chevron-right,
#header .nav-menu .navsub-link .ic-chevron-right {
  padding-left: 10px;
}
body .nav-menu .nav-link .back,
#header .nav-menu .nav-link .back,
body .nav-menu .navsub-link .back,
#header .nav-menu .navsub-link .back {
  width: 100%;
  padding-left: 10px;
}
body .nav-menu .nav-link .ic-chevron-right,
#header .nav-menu .nav-link .ic-chevron-right,
body .nav-menu .navsub-link .ic-chevron-right,
#header .nav-menu .navsub-link .ic-chevron-right {
  display: none;
}
@media only screen and (max-width: 949px) {
  body .nav-menu .nav-link .ic-chevron-right,
  #header .nav-menu .nav-link .ic-chevron-right,
  body .nav-menu .navsub-link .ic-chevron-right,
  #header .nav-menu .navsub-link .ic-chevron-right {
    display: table-cell;
  }
}
@media only screen and (max-width: 949px) {
  body .nav-menu .nav-link.active,
  #header .nav-menu .nav-link.active {
    display: none;
  }
  body .nav-menu .nav-link.active + .navsub,
  #header .nav-menu .nav-link.active + .navsub {
    display: block !important;
  }
}
body .nav-menu .nav-list,
#header .nav-menu .nav-list,
body .nav-menu .navsub-list,
#header .nav-menu .navsub-list {
  width: 100%;
  float: left;
  list-style: none;
  position: relative;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-list,
  #header .nav-menu .nav-list,
  body .nav-menu .navsub-list,
  #header .nav-menu .navsub-list {
    width: auto;
    float: none;
    text-align: center;
  }
  body .nav-menu .nav-list .navsub-list-controls,
  #header .nav-menu .nav-list .navsub-list-controls,
  body .nav-menu .navsub-list .navsub-list-controls,
  #header .nav-menu .navsub-list .navsub-list-controls {
    display: none;
  }
}
body .nav-menu .nav-list .nav-item,
#header .nav-menu .nav-list .nav-item,
body .nav-menu .navsub-list .nav-item,
#header .nav-menu .navsub-list .nav-item {
  width: 100%;
}
@media only screen and (max-width: 949px) {
  body .nav-menu .nav-list .nav-item,
  #header .nav-menu .nav-list .nav-item,
  body .nav-menu .navsub-list .nav-item,
  #header .nav-menu .navsub-list .nav-item {
    background-color: #FFFFFF;
    background-image: linear-gradient(to right, #fff, #fff 20px, #e4ebf1 20px, #e4ebf1 60px, rgba(255, 255, 255, 0)), linear-gradient(to left, #fff, #fff 20px, #e4ebf1 20px);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-list .nav-item,
  #header .nav-menu .nav-list .nav-item,
  body .nav-menu .navsub-list .nav-item,
  #header .nav-menu .navsub-list .nav-item {
    background: none;
  }
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-list .nav-item,
  #header .nav-menu .nav-list .nav-item,
  body .nav-menu .navsub-list .nav-item,
  #header .nav-menu .navsub-list .nav-item {
    padding: 0;
    position: static;
    border: none;
    float: left;
    width: 175px;
    height: 49px;
  }
  body .nav-menu .nav-list .nav-item:hover .navsub,
  #header .nav-menu .nav-list .nav-item:hover .navsub,
  body .nav-menu .navsub-list .nav-item:hover .navsub,
  #header .nav-menu .navsub-list .nav-item:hover .navsub {
    display: block;
  }
}
body .nav-menu .nav-list .controls,
#header .nav-menu .nav-list .controls,
body .nav-menu .navsub-list .controls,
#header .nav-menu .navsub-list .controls {
  display: block;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-list .controls,
  #header .nav-menu .nav-list .controls,
  body .nav-menu .navsub-list .controls,
  #header .nav-menu .navsub-list .controls {
    display: none;
  }
}
body .nav-menu .nav-list .controls .navsub-item--dpto .title,
#header .nav-menu .nav-list .controls .navsub-item--dpto .title,
body .nav-menu .navsub-list .controls .navsub-item--dpto .title,
#header .nav-menu .navsub-list .controls .navsub-item--dpto .title {
  color: #bc0206 !important;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  width: 100%;
}
body .nav-menu .navsub,
#header .nav-menu .navsub {
  display: none;
  background-color: #e9e9e9;
  position: absolute;
  width: 100%;
  top: 0;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .navsub,
  #header .nav-menu .navsub {
    background-color: #2a2928;
    border: 7px solid #2a2928;
    top: 49px;
    left: 0;
    width: 98.586%;
  }
}
body .nav-menu .navsub > .navsub-list > .navsub-item,
#header .nav-menu .navsub > .navsub-list > .navsub-item {
  /*border-right: 1px solid #2a2928;*/
  text-align: left;
}
body .nav-menu .navsub > .navsub-list > .navsub-item:last-child,
#header .nav-menu .navsub > .navsub-list > .navsub-item:last-child {
  border-right: none;
}
body .nav-menu .navsub .navsub-list,
#header .nav-menu .navsub .navsub-list {
  box-sizing: border-box;
  list-style: none;
}
body .nav-menu .navsub .navsub-list:after,
#header .nav-menu .navsub .navsub-list:after {
  content: "";
  display: table;
  clear: both;
}
body .nav-menu .navsub .navsub-list .margin,
#header .nav-menu .navsub .navsub-list .margin {
  margin-top: 32px;
}
body .nav-menu .navsub .navsub-list > .navsub-item,
#header .nav-menu .navsub .navsub-list > .navsub-item {
  box-sizing: border-box;
  display: block;
}
@media only screen and (max-width: 949px) {
  body .nav-menu .navsub .navsub-list > .navsub-item,
  #header .nav-menu .navsub .navsub-list > .navsub-item {
    background-color: #FFFFFF;
    background-image: linear-gradient(to right, #fff, #fff 20px, #e4ebf1 20px, #e4ebf1 60px, rgba(255, 255, 255, 0)), linear-gradient(to left, #fff, #fff 20px, #e4ebf1 20px);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 950px) {
  body .nav-menu .navsub .navsub-list > .navsub-item,
  #header .nav-menu .navsub .navsub-list > .navsub-item {
    background: none;
  }
}
body .nav-menu .navsub .navsub-list > .navsub-item.navsub-item-more,
#header .nav-menu .navsub .navsub-list > .navsub-item.navsub-item-more {
  box-sizing: border-box;
  display: none;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .navsub .navsub-list > .navsub-item.navsub-item-more,
  #header .nav-menu .navsub .navsub-list > .navsub-item.navsub-item-more {
    display: block;
  }
}
@media only screen and (min-width: 950px) {
  body .nav-menu .navsub .navsub-list > .navsub-item,
  #header .nav-menu .navsub .navsub-list > .navsub-item {
    cursor: default;
    display: list-item;
    font-weight: bold;
    font-size: 14px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: left;
  }
  body .nav-menu .navsub .navsub-list > .navsub-item.navsub-item--back,
  #header .nav-menu .navsub .navsub-list > .navsub-item.navsub-item--back {
    display: none !important;
  }
  body .nav-menu .navsub .navsub-list > .navsub-item .navsub-link,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navsub-link {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    height: auto;
    line-height: normal;
    padding: 5px;
    text-align: left;
    width: initial;
    font-weight: 400;
  }
  body .nav-menu .navsub .navsub-list > .navsub-item .navsub-link:hover,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navsub-link:hover {
    /*background-color: #EEE;*/
    color: #fff;
    /*text-decoration: underline;*/
    font-weight: 400;
  }
  body .nav-menu .navsub .navsub-list > .navsub-item .navsub-link:hover h4,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navsub-link:hover h4 {
    /*color:#efc973;*/
  }
  body .nav-menu .navsub .navsub-list > .navsub-item .navsub-link:hover h4:hover,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navsub-link:hover h4:hover {
    color: #fff;
  }
  body .nav-menu .navsub .navsub-list > .navsub-item .navsub-link.center,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navsub-link.center {
    text-align: center;
  }
  body .nav-menu .navsub .navsub-list > .navsub-item .navsub-link.new:after,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navsub-link.new:after {
    background: #CD7914;
    border-radius: 5px;
    color: #FFFFFF;
    content: "Novidade";
    font-size: 10px;
    line-height: 10px;
    margin: 0 5px;
    padding: 3px 5px;
  }
  body .nav-menu .navsub .navsub-list > .navsub-item .navsub-link.more,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navsub-link.more {
    font-size: 13px;
    font-weight: bold !important;
    display: none;
  }
  body .nav-menu .navsub .navsub-list > .navsub-item .navsub-link.more:before,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navsub-link.more:before {
    content: " + ";
    /*background: url('../img/icons/ic-header.png') no-repeat 0 -1098px;*/
    height: 12px;
    width: 12px;
    /*margin-right: 2px;*/
    font-weight: 700;
    font-size: 13px;
  }
}
@media only screen and (max-width: 949px) {
  body .nav-menu .navsub .navsub-list > .navsub-item.title,
  #header .nav-menu .navsub .navsub-list > .navsub-item.title {
    display: none;
  }
}
body .nav-menu .navsub .navsub-list > .navsub-item > .title,
#header .nav-menu .navsub .navsub-list > .navsub-item > .title,
body .nav-menu .navsub .navsub-list > .navsub-item > .subtitle,
#header .nav-menu .navsub .navsub-list > .navsub-item > .subtitle {
  border: none;
  color: #efc973;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
}
body .nav-menu .navsub .navsub-list > .navsub-item > .title,
#header .nav-menu .navsub .navsub-list > .navsub-item > .title {
  font-size: 14px;
  padding-bottom: 0;
  padding-left: 5px;
  text-transform: uppercase;
}
body .nav-menu .navsub .navsub-list > .navsub-item > .subtitle,
#header .nav-menu .navsub .navsub-list > .navsub-item > .subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #efc973;
  padding-left: 5px;
}
body .nav-menu .navsub .navsub-list > .navsub-item .navback-link,
#header .nav-menu .navsub .navsub-list > .navsub-item .navback-link {
  display: table;
  cursor: pointer;
  vertical-align: middle;
  color: #A3ADB3;
  padding: 0 30px;
  width: 100%;
  text-align: left;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: normal;
  padding: 0 12px;
}
body .nav-menu .navsub .navsub-list > .navsub-item .navback-link .description,
#header .nav-menu .navsub .navsub-list > .navsub-item .navback-link .description,
body .nav-menu .navsub .navsub-list > .navsub-item .navback-link .back,
#header .nav-menu .navsub .navsub-list > .navsub-item .navback-link .back,
body .nav-menu .navsub .navsub-list > .navsub-item .navback-link .ic-chevron-right,
#header .nav-menu .navsub .navsub-list > .navsub-item .navback-link .ic-chevron-right {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}
body .nav-menu .navsub .navsub-list > .navsub-item .navback-link:hover,
#header .nav-menu .navsub .navsub-list > .navsub-item .navback-link:hover {
  text-decoration: none;
}
body .nav-menu .navsub .navsub-list > .navsub-item .navback-link:before,
#header .nav-menu .navsub .navsub-list > .navsub-item .navback-link:before {
  display: none;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .navsub .navsub-list > .navsub-item .navback-link:before,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navback-link:before {
    display: block;
  }
}
@media only screen and (min-width: 950px) {
  body .nav-menu .navsub .navsub-list > .navsub-item .navback-link:before,
  #header .nav-menu .navsub .navsub-list > .navsub-item .navback-link:before {
    display: block;
  }
}
body .nav-menu .navsub .navsub-list > .navsub-item .navback-link > span,
#header .nav-menu .navsub .navsub-list > .navsub-item .navback-link > span {
  padding-right: 10px;
  text-transform: lowercase;
}
body .nav-menu .nav-list .nav-item--oferta,
#header .nav-menu .nav-list .nav-item--oferta {
  display: none;
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-list .nav-item--oferta,
  #header .nav-menu .nav-list .nav-item--oferta {
    display: block;
  }
}
@media only screen and (min-width: 950px) {
  body .nav-menu .nav-list,
  #header .nav-menu .nav-list {
    position: relative;
  }
  body .nav-menu .nav-list:after,
  #header .nav-menu .nav-list:after {
    content: "";
    display: table;
    clear: both;
  }
  body .nav-menu .nav-list .nav-item,
  #header .nav-menu .nav-list .nav-item {
    cursor: pointer;
    display: table-cell;
    position: static;
    /*padding: 0 5px;*/
  }
  body .nav-menu .nav-list .nav-item:not(:last-child):hover,
  #header .nav-menu .nav-list .nav-item:not(:last-child):hover {
    padding: 0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias {
    /*width: 165px;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias:hover {
    /*border-left: 1px solid #e9e9e9;
                            border-right: 1px solid #e9e9e9;*/
    background: #2a2928;
    /*.background-image(linear-gradient(to bottom, #C51C22 0%, @color 100%));*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias:hover .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias:hover .nav-link .description {
    /*background-position: -2px -28px;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias:hover:hover .description,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias:hover:hover .description {
    color: #a2a0a0;
    background: url('../img/menu-todas-categorias-hover.png') no-repeat 8px 18px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .title,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .title,
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .subtitle,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .subtitle,
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .more,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .more {
    /*color: @color;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .nav-link .description {
    background: url('../img/menu-todas-categorias-hover.png') no-repeat 8px 18px;
    padding: 0 0 0 25px;
    /*height: 30px;
                            width: 205px;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .nav-link .description:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .nav-link .description:hover {
    background: url('../img/menu-todas-categorias-hover.png') no-repeat 8px 18px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub {
    /*border-color: #e9e9e9 !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub .navsub-list,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub .navsub-list,
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub .navsub-item {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list:first-child > .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list:first-child > .navsub-item {
    min-height: 390px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-link,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-link {
    font-weight: 400;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-link:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-link:hover {
    /*color: @color;*/
    text-decoration: underline;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias {
    width: 75%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title),
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title) {
    /*border-left: 1px solid #CCC;*/
    min-height: 340px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title):first-child,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title):first-child {
    border-left: none;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title):nth-child(1),
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title):nth-child(1) {
    width: 30%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title):nth-child(2),
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title):nth-child(2) {
    width: 30%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title):nth-child(3),
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--categorias > .navsub-list > .navsub-item:not(.title):nth-child(3) {
    width: 40%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--servicos,
  #header .nav-menu .nav-list .nav-item.nav-item--todas-categorias .navsub > .navsub-list .navsub-item--servicos {
    width: 25%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia {
    width: auto;
    background: url(../img/divisor-menu.gif) no-repeat center right;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia:hover {
    /*border-left: 1px solid #e9e9e9;
                            border-right: 1px solid #e9e9e9;*/
    background-image: none;
    background: #2a2928;
    /*.background-image(linear-gradient(to bottom, #949494 0%, @color 100%));*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia:hover .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia:hover .nav-link .description {
    /*background-position: 0 -82px;*/
    color: #a2a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia h3.title,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia h3.title {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia h3.title:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia h3.title:hover {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .title,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .title,
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .subtitle,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .subtitle,
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .more,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .more {
    color: #a0a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .nav-link .description {
    /*background-position: 0 -63px;
                            height: 15px;
                            width: 109px;*/
    padding: 0 12px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list,
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-item {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub > .navsub-list:first-child > .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub > .navsub-list:first-child > .navsub-item {
    min-height: 380px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list {
    width: 100%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list .navsub-link:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list .navsub-link:hover {
    /*color: @color;*/
    text-decoration: underline;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list.destaque,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list.destaque {
    border-top: 1px solid #353433 !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list.destaque .title a .title,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .navsub-list.destaque .title a .title {
    color: #efc973 !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .exception > .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--tecnologia .navsub .exception > .navsub-item {
    width: 16.66666666666667%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa,
  #header .nav-menu .nav-list .nav-item.nav-item--casa {
    width: auto;
    background: url(../img/divisor-menu.gif) no-repeat center right;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--casa:hover {
    /*border-left: 1px solid #e9e9e9;
                            border-right: 1px solid #e9e9e9;*/
    background: #2a2928;
    /*.background-image(linear-gradient(to bottom, #FBAD09 0%, @color 100%));*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa:hover .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--casa:hover .nav-link .description {
    /*background-position: 0 -117px;*/
    color: #a2a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa h3.title,
  #header .nav-menu .nav-list .nav-item.nav-item--casa h3.title {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa h3.title:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--casa h3.title:hover {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .title,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .title,
  body .nav-menu .nav-list .nav-item.nav-item--casa .subtitle,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .subtitle,
  body .nav-menu .nav-list .nav-item.nav-item--casa .more,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .more {
    /*color: #1e1e1e;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .more:before,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .more:before {
    background-position: 0 -1116px !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .nav-link .description {
    /*background-position: 0 -101px;
                            height: 15px;
                            width: 69px;*/
    padding: 0 12px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list,
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-item {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .exception > .navsub-item:nth-child(1),
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .exception > .navsub-item:nth-child(1) {
    width: 25%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .exception > .navsub-item:nth-child(2),
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .exception > .navsub-item:nth-child(2) {
    width: 75%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list .navsub-item .navsub-link:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list .navsub-item .navsub-link:hover {
    /*color: @color;*/
    text-decoration: underline;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque {
    border-top: 1px solid #353433!important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque .navsub-link,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque .navsub-link {
    /*border-left: 1px solid @color;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque .navsub-link:first-child,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque .navsub-link:first-child {
    border-left: none;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque .navsub-link h3,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque .navsub-link h3 {
    color: #efc973 !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque .navsub-link h3:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--casa .navsub .navsub-list.destaque .navsub-link h3:hover {
    color: #efc973 !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento {
    width: auto;
    background: url(../img/divisor-menu.gif) no-repeat center right;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento:hover {
    /*border-left: 1px solid #e9e9e9;
                            border-right: 1px solid #e9e9e9;*/
    background: #2a2928;
    /*.background-image(linear-gradient(to bottom, #C48EEC 0%, @color 100%));*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento:hover .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento:hover .nav-link .description {
    /* background-position: 0 -149px;*/
    color: #a2a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento h3.title,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento h3.title {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento h3.title:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento h3.title:hover {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .subtitle,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .subtitle,
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .more,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .more {
    color: #a0a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .more:before,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .more:before {
    background-position: 0 -1134px !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .nav-link .description {
    /*background-position: 0 -133px;
                            height: 15px;
                            width: 137px;*/
    padding: 0 12px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub hr,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub hr,
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list,
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-item {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list .navsub-item .navsub-link:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list .navsub-item .navsub-link:hover {
    /*color: @color;*/
    text-decoration: underline;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque {
    border-top: 1px solid #353433!important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque .navsub-link,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque .navsub-link {
    border-left: 1px solid #e9e9e9;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque .navsub-link:first-child,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque .navsub-link:first-child {
    border-left: none;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque .navsub-link h3,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque .navsub-link h3 {
    color: #efc973 !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque .navsub-link h3:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .navsub-list.destaque .navsub-link h3:hover {
    text-decoration: underline;
    color: #efc973 !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .exception > .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--entretenimento .navsub .exception > .navsub-item {
    width: 25%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza {
    width: auto;
    background: url(../img/divisor-menu.gif) no-repeat center right;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza:hover {
    /*border-left: 1px solid #e9e9e9;
                            border-right: 1px solid #e9e9e9;*/
    background: #2a2928;
    /*.background-image(linear-gradient(to bottom, #E8E1CC 0%, @color 100%));*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza:hover .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza:hover .nav-link .description {
    /*background-position: 0 -183px;*/
    color: #a2a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza h3.title,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza h3.title {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza h3.title:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza h3.title:hover {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza .title,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .title,
  body .nav-menu .nav-list .nav-item.nav-item--beleza .subtitle,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .subtitle,
  body .nav-menu .nav-list .nav-item.nav-item--beleza .more,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .more {
    color: #a0a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza .more:before,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .more:before {
    background-position: 0 -1152px !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .nav-link .description {
    /*background-position: 0 -166px;
                            height: 15px;
                            width: 125px;*/
    padding: 0 12px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza .navsub,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .navsub {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza .navsub hr,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .navsub hr,
  body .nav-menu .nav-list .nav-item.nav-item--beleza .navsub .navsub-list,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .navsub .navsub-list,
  body .nav-menu .nav-list .nav-item.nav-item--beleza .navsub .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .navsub .navsub-item {
    /*border-color: @color !important;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza .navsub .navsub-item .navsub-link:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .navsub .navsub-item .navsub-link:hover {
    /*color: @color;*/
    text-decoration: underline;
  }
  body .nav-menu .nav-list .nav-item.nav-item--beleza .exception > .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--beleza .exception > .navsub-item {
    min-height: 240px;
    width: 20%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes {
    width: auto;
    background: url(../img/divisor-menu.gif) no-repeat center right;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes:hover {
    /*border-left: 1px solid #e9e9e9;
                            border-right: 1px solid #e9e9e9;*/
    background: #2a2928;
    /*.background-image(linear-gradient(to bottom, #8CCA5A 0%, @color 100%));*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes:hover .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes:hover .nav-link .description {
    /*background-position: 0 -218px;*/
    /*color: #fff;*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes h3.title,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes h3.title {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes h3.title:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes h3.title:hover {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes .title,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .title,
  body .nav-menu .nav-list .nav-item.nav-item--esportes .subtitle,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .subtitle,
  body .nav-menu .nav-list .nav-item.nav-item--esportes .more,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .more {
    color: #a0a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes .more:before,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .more:before {
    background-position: 0 -1170px !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .nav-link .description {
    /*background-position: 0 -199px;
                            height: 15px;
                            width: 92px;*/
    padding: 0 12px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes .navsub,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .navsub {
    border-color: #2a2928;
    left: 50%;
    margin-left: -200px;
    width: 510px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes .navsub hr,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .navsub hr,
  body .nav-menu .nav-list .nav-item.nav-item--esportes .navsub .navsub-list,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .navsub .navsub-list,
  body .nav-menu .nav-list .nav-item.nav-item--esportes .navsub .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .navsub .navsub-item {
    border-color: #353433;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes .navsub .navsub-item .navsub-link:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .navsub .navsub-item .navsub-link:hover {
    /*color: @color;*/
    text-decoration: underline;
  }
  body .nav-menu .nav-list .nav-item.nav-item--esportes .exception > .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--esportes .exception > .navsub-item {
    min-height: 240px;
    width: 50%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas {
    width: auto;
    background: url(../img/divisor-menu.gif) no-repeat center right;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas:hover {
    /*border-left: 1px solid #e9e9e9;
                            border-right: 1px solid #e9e9e9;*/
    background: #2a2928;
    /*.background-image(linear-gradient(to bottom, #FFF99C 0%, @color 100%));*/
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas:hover .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas:hover .nav-link .description {
    /*background-position: 0 -2149px;*/
    color: #a2a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas h3.title,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas h3.title {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas h3.title:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas h3.title:hover {
    color: #efc973;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas .title,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .title,
  body .nav-menu .nav-list .nav-item.nav-item--criancas .subtitle,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .subtitle {
    color: #a0a0a0;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas .more,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .more {
    color: #121111;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas .more:before,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .more:before {
    background-position: 0 -1188px !important;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .nav-link .description {
    /*background-position: 0 -2116px;
                            height: 26px;
                            width: 93px;*/
    padding: 0 12px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas .navsub,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .navsub {
    /*border-color: @color !important;*/
    left: 50%;
    margin-left: -190px;
    width: 510px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas .navsub hr,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .navsub hr,
  body .nav-menu .nav-list .nav-item.nav-item--criancas .navsub .navsub-list,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .navsub .navsub-list,
  body .nav-menu .nav-list .nav-item.nav-item--criancas .navsub .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .navsub .navsub-item {
    border-color: #353433;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas .navsub .navsub-item .navsub-link:hover,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .navsub .navsub-item .navsub-link:hover {
    /*color: @color;*/
    text-decoration: underline;
  }
  body .nav-menu .nav-list .nav-item.nav-item--criancas .exception > .navsub-item,
  #header .nav-menu .nav-list .nav-item.nav-item--criancas .exception > .navsub-item {
    min-height: 240px;
    width: 50%;
  }
  body .nav-menu .nav-list .nav-item.nav-item--oferta,
  #header .nav-menu .nav-list .nav-item.nav-item--oferta {
    width: 90px;
    background-color: #000;
  }
  body .nav-menu .nav-list .nav-item.nav-item--oferta:hover .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--oferta:hover .nav-link .description {
    background-position: 0 -2281px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--oferta .nav-link .description,
  #header .nav-menu .nav-list .nav-item.nav-item--oferta .nav-link .description {
    background-position: 0 -2248px;
    height: 26px;
    width: 89px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--oferta .navsub,
  #header .nav-menu .nav-list .nav-item.nav-item--oferta .navsub {
    background: none !important;
    border: none !important;
    left: 100%;
    /*margin-left: @width-oferta * -1;*/
    margin-left: -380px !important;
    width: 379px;
  }
  body .nav-menu .nav-list .nav-item.nav-item--oferta .navsub .oferta,
  #header .nav-menu .nav-list .nav-item.nav-item--oferta .navsub .oferta {
    background: url('../img/oferta-dia.png') no-repeat 0 0;
    display: block;
    height: 252px;
    text-indent: -99999em;
    width: 379px;
  }
  body .nav-menu .nav-list .nav-link,
  #header .nav-menu .nav-list .nav-link {
    display: table-cell;
    font-size: 14px;
    height: 49px;
    padding: 0;
    position: relative;
    color: #a2a0a0;
    line-height: 45px;
  }
  body .nav-menu .nav-list .nav-link:hover,
  #header .nav-menu .nav-list .nav-link:hover {
    color: #fff;
  }
  body .nav-menu .nav-list .nav-link:hover .description,
  #header .nav-menu .nav-list .nav-link:hover .description {
    background: none;
  }
  body .nav-menu .nav-list .nav-link .description,
  #header .nav-menu .nav-list .nav-link .description {
    /*background: url('../img/icons/ic-header.png') no-repeat 0 0;
                        display: block;
                        height: 15px;
                        text-indent: -9999em;*/
    /*background: url('../img/divisor-menu.gif') no-repeat center right;*/
  }
  body .nav-menu .nav-list .nav-link .description:hover,
  #header .nav-menu .nav-list .nav-link .description:hover {
    background: none;
  }
}
@media only screen and (min-width: 950px) {
  body .nav-menu .navsub-list,
  #header .nav-menu .navsub-list {
    float: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  body .nav-menu .navsub-list hr,
  #header .nav-menu .navsub-list hr {
    display: none;
    /*border-top: none;
                    border-right: none;
                    border-left: none;*/
    border: none;
    width: 90%;
  }
  body .nav-menu .navsub-list > .navsub-item a h3,
  #header .nav-menu .navsub-list > .navsub-item a h3 {
    font-size: 14px;
    padding-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #efc973;
  }
  body .nav-menu .navsub-list > .navsub-item > .navsub-list,
  #header .nav-menu .navsub-list > .navsub-item > .navsub-list {
    padding: 5px 5px 10px 5px;
  }
  body .nav-menu .navsub-list > .navsub-item > .navsub-list > .navsub-item,
  #header .nav-menu .navsub-list > .navsub-item > .navsub-list > .navsub-item {
    /*padding: 0 5px;*/
  }
  body .nav-menu .navsub-list.group,
  #header .nav-menu .navsub-list.group {
    padding: 0;
  }
  body .nav-menu .navsub-list.group > .navsub-item,
  #header .nav-menu .navsub-list.group > .navsub-item {
    /*border-right: 1px solid #2a2928;*/
    /*border-top: 1px solid #2a2928;*/
  }
  body .nav-menu .navsub-list.group > .navsub-item.col-2:nth-child(2n+0),
  #header .nav-menu .navsub-list.group > .navsub-item.col-2:nth-child(2n+0) {
    border-right: none;
  }
  body .nav-menu .navsub-list.group > .navsub-item.col-2:nth-child(1),
  #header .nav-menu .navsub-list.group > .navsub-item.col-2:nth-child(1),
  body .nav-menu .navsub-list.group > .navsub-item.col-2:nth-child(2),
  #header .nav-menu .navsub-list.group > .navsub-item.col-2:nth-child(2) {
    border-top: none;
  }
  body .nav-menu .navsub-list.group > .navsub-item.col-3:nth-child(3n+0),
  #header .nav-menu .navsub-list.group > .navsub-item.col-3:nth-child(3n+0) {
    border-right: none;
  }
  body .nav-menu .navsub-list.group > .navsub-item.col-3:nth-child(1),
  #header .nav-menu .navsub-list.group > .navsub-item.col-3:nth-child(1),
  body .nav-menu .navsub-list.group > .navsub-item.col-3:nth-child(2),
  #header .nav-menu .navsub-list.group > .navsub-item.col-3:nth-child(2),
  body .nav-menu .navsub-list.group > .navsub-item.col-3:nth-child(3),
  #header .nav-menu .navsub-list.group > .navsub-item.col-3:nth-child(3) {
    border-top: none;
  }
  body .nav-menu .navsub-list.group > .navsub-item.col-4:nth-child(4n+0),
  #header .nav-menu .navsub-list.group > .navsub-item.col-4:nth-child(4n+0) {
    border-right: none;
  }
  body .nav-menu .navsub-list.group > .navsub-item.col-4.col-2:nth-child(1),
  #header .nav-menu .navsub-list.group > .navsub-item.col-4.col-2:nth-child(1),
  body .nav-menu .navsub-list.group > .navsub-item.col-4.col-2:nth-child(2),
  #header .nav-menu .navsub-list.group > .navsub-item.col-4.col-2:nth-child(2),
  body .nav-menu .navsub-list.group > .navsub-item.col-4.col-2:nth-child(3),
  #header .nav-menu .navsub-list.group > .navsub-item.col-4.col-2:nth-child(3),
  body .nav-menu .navsub-list.group > .navsub-item.col-4.col-2:nth-child(4),
  #header .nav-menu .navsub-list.group > .navsub-item.col-4.col-2:nth-child(4) {
    border-top: none;
  }
  body .nav-menu .navsub-list.inline > .navsub-item,
  #header .nav-menu .navsub-list.inline > .navsub-item {
    float: left;
  }
  body .nav-menu .navsub-list.expanded,
  #header .nav-menu .navsub-list.expanded {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  body .nav-menu .navsub-list.destaque,
  #header .nav-menu .navsub-list.destaque {
    /*border-top: 1px solid #000;*/
    padding: 10px 0;
    width: 100%;
  }
  body .nav-menu .navsub-list.destaque > .navsub-item,
  #header .nav-menu .navsub-list.destaque > .navsub-item {
    border: none;
    display: inline-block;
    float: none;
    margin: 0 !important;
    text-align: center;
    width: initial;
    /*border-right: 1px solid;*/
    /*padding: 0 5px;*/
  }
  body .nav-menu .navsub-list.destaque > .navsub-item:last-child,
  #header .nav-menu .navsub-list.destaque > .navsub-item:last-child {
    border-right: none;
  }
  body .nav-menu .navsub-list.destaque > .navsub-item .title,
  #header .nav-menu .navsub-list.destaque > .navsub-item .title {
    padding: 0;
  }
}
