/* Skin Home 2016 v 3.0 */

*{
	margin:0;
	padding:0;
}

/*Areas*/

.home .area-3 { padding:0 !important; margin-bottom: 40px;}

.area-4, .area-5, .area-6, .area-7, .area-8, .area-9, .area-10{width:970px;overflow:hidden;margin: 0 auto;}

.area-5, .area-7, .area-9{ display: table;overflow: hidden;margin: 20px auto;border: 1px solid #e5e5e5!important;}

.area-6{margin: 20px auto 40px;overflow: hidden;}

.area-10{width: 100%;margin: 20px auto 0;float: left;}

.area-11{width:970px;overflow:hidden;margin:0 auto 30px;}

.area-11 .area-11-1{ margin-bottom: 40px; overflow: hidden;}


/* Banner's */

.dfp_superbanner{ position: relative; border: 1px solid #e5e5e5;margin: 40px auto;padding: 20px 0.625em;text-align: center; height: 100px; width: auto;}
.dfp_superbanner::after {color: #e5e5e5;content: "publicidade";cursor: default;font-family: "NeoSans",Arial;font-size: 10px;left: -7px;position: absolute;text-transform: uppercase;top: 45%;transform: rotate(270deg);width: 60px;}

.ctn_home {border: 1px solid #e5e5e5;margin: 40px auto;padding: 0 0.625em;text-align: center;width: auto!important;}
.ctn_home .ctn_topo{width: 100%;padding: 20px 0;margin-bottom: 0!important;}
.ctn_home .ctn_topo::after {color: #e5e5e5;content: "publicidade";cursor: default;font-family: "NeoSans",Arial;font-size: 10px;left: -7px;position: absolute;text-transform: uppercase;top: 45%;transform: rotate(270deg);width: 60px;}

.dfp_retangulo{ position: relative; border: 1px solid #e5e5e5;margin: 40px auto;padding: 20px 0.625em;text-align: center; height: 250px; width: auto;}
.dfp_retangulo::after {color: #e5e5e5;content: "publicidade";cursor: default;font-family: "NeoSans",Arial;font-size: 10px;left: -7px;position: absolute;text-transform: uppercase;top: 45%;transform: rotate(270deg);width: 60px;}
.dfp_retangulo > div { display: inline-block; margin: 0!important;}
.dfp_retangulo > div:first-child { margin-left: 0; }
.dfp_retangulo > div:last-child { margin-right: 0; }


.dfp_superbanner_bottom{ position: relative; border: 1px solid #e5e5e5;margin: 40px auto;padding: 20px 0.625em;text-align: center; height: 100px; width: auto;}
.dfp_superbanner_bottom::after {color: #e5e5e5;content: "publicidade";cursor: default;font-family: "NeoSans",Arial;font-size: 10px;left: -7px;position: absolute;text-transform: uppercase;top: 45%;transform: rotate(270deg);width: 60px;}


.brnBlog{ margin-bottom: 30px}


/*Prateleira*/

.prateleira .vitrineProdutos{ padding-left: 0;}
.home .prateleira .vitrineProdutos li{width: 33.1%; padding-bottom: 0; margin-left: 0;}
.home .area-4-5 .vitrineProdutos li{width: 33.2%; padding-bottom: 0; margin-left: 0;}
.home .lista-produto.prateleira{ margin-bottom: 0; width: 76%; float: left;}
.home .area-4-4 .lista-produto.prateleira, .home .area-4-5 .lista-produto.prateleira{ margin-bottom: 0; width: 100%;}
.home .area-11 .lista-produto.prateleira{border-top: none; margin-bottom: 0; width: 100%;}
.home .lista-produto.prateleira li{ border-right: 1px solid #e5e5e5; padding: 0;}
.home .lista-produto.prateleira li:last-child { border-right: none;}
.home .prateleira .hproduct, .home .comparacao .hproduct{margin-bottom: 0;}

.home .area-5 .prateleira .hproduct, .home .area-7 .prateleira .hproduct, .home .area-9 .prateleira .hproduct{ margin: 14px auto 0; width: 243px;}
.home .area-5 .prateleira .hproduct .link, .home .area-7 .prateleira .hproduct .link, .home .area-9 .prateleira .hproduct .link{ height: 460px; width: 243px;}
.home .area-5 .prateleira .productDetails, .home .area-7 .prateleira .productDetails, .home .area-9 .prateleira .productDetails{ width: 93%; left: 17px;}
.home .area-5 .prateleira .hproduct .productImage img, .home .area-7 .prateleira .hproduct .productImage img, .home .area-9 .prateleira .hproduct .productImage img{ width: 208px; height: 208px;}
.home .area-5 .prateleira .flags, .home .area-7 .prateleira .flags, .home .area-9 .prateleira .flags{ left: 15px;}
.home .area-5 .prateleira .name, .home .area-7 .prateleira .name, .home .area-9 .prateleira .name{ top: 268px; left: 17px;}
.home .area-5 .prateleira .smallRating, .home .area-7 .prateleira .smallRating, .home .area-9 .prateleira .smallRating{ left: 17px;}

.home .pRecomendacaoSku .lista-produto.prateleira,.home .pRecomendacaoUser .lista-produto.prateleiram { }
.home .pRecomendacaoSku .lista-produto.prateleira li, .home .pRecomendacaoUser .lista-produto.prateleira li{ border: none;}
.home .pRecomendacao .tit, .home .pRecomendacaoUser .lista-produto.prateleira h2.tit b{font-family:'NeoSans'; color:#404040; font-size:20px; font-weight:500; }
.home .pRecomendacao .tit{border-bottom: 1px solid #c6c6c6; padding-bottom: 2px; margin-bottom: 20px;}
.home .pRecomendacao small{border-bottom:1px solid #b70f15; padding-bottom: 5px;font-weight:500; margin-left: 90px;}


.home .pRecomendacaoSku .tit{}
.home .pRecomendacaoSku small{ font-size: 21px; color: #b70f15; padding-left: 20px; width: 76.6%;}
.home .pRecomendacaoSku .lista-produto.prateleira{}

.home .pRecomendacao{margin-bottom: 20px;}
.home .pRecomendacao .prateleira{}
.home .pRecomendacaoUser{margin-bottom: 0;}

.home .pRecomendacaoUser .prateleira{ margin-bottom: 35px;}
.home .pRecomendacaoUser .hproduct{ margin: 0;}
.home .pRecomendacaoUser .hproduct .link{ height: 350px;}

.home .prateleira-auto .reload{position:absolute;top:12px;left:206px;width:18px;height:20px;border:0;text-indent:-999em;z-index:1;display:block;cursor:pointer;background:url(../images/reload.png) no-repeat;}
.home .area-5-1-2 .lista-produto.prateleira, .home .area-7-1-1-2 .lista-produto.prateleira,.home .area-7-1-2-2 .lista-produto.prateleira, .home .area-9-1-2 .lista-produto.prateleira{ border-top: none;}
.home .prateleira .avise{ display: none;}
.home .prateleira .indisponivel {top: 280px;  left: 12px;}
.home .area-7-1-1-2 .prateleira .indisponivel { top: 338px; }

.home .area-4-2{width: 100%;float: left;overflow: initial;}
.home .area-4-4{width: 970px;margin: 20px auto;overflow: hidden;float: left;}

.home .area-4-5{width: 970px;margin: 20px auto;overflow: hidden;float: left;}
.home .area-4-5 .lista-produto.prateleira li, .home .area-4-5 .lista-produto.prateleira{ border: none;}
.home .area-4-5 .tit{border-bottom: 1px solid #c6c6c6;  display: block; margin-bottom: 20px; }
.home .area-4-5 .tit b{padding-bottom: 2px;font-family:'NeoSans'; color:#b70f15; font-size:20px; font-weight:500;}


.home .area-11{ margin: 0 auto; width: 970px; overflow: hidden; margin-bottom: 25px;}
.home .area-11 .lista-produto.prateleira li, .home .area-4-5 .lista-produto.prateleira{ border: none;}
.home .area-11 .tit{border-bottom: 1px solid #c6c6c6;  display: block; }
.home .area-11 .tit b{padding-bottom: 2px;font-family:'NeoSans'; font-size:20px; font-weight:500;}

/*Box Homes*/
.newsletter{background:url(../images/bg-box-news-pf.gif) no-repeat; width:310px; height:103px; border:none; margin:0; padding:0; float:left;}
.newsletter .tit{ margin:15px 0 0 15px;}
.newsletter label{ margin:10px 0 2px 15px;}
.newsletter .type1{ width:230px; margin:0 5px 0 15px;}
.newsletter p{padding:0 5px 0 0 !important;}
.newsletter .success,.newsletter .error{ font-weight:bold; padding:10px 0 0 17px;}
.newsletter .success em{font-weight:bold; padding:0 3px 0 0 !important;}
.bnr_hInformacoes{ width:310px; height:103px; margin:0 0 0 20px; float:left;}
.newsletter .voltar .bt{background:none;text-indent:0;line-height:14px;margin-top:10px;color:#f00;text-decoration:underline;}


/*Contador*/
.box-contador{padding-top:0;color:#696969;background-color:#f2f2f2;width:24%;height:475px;float: left; border-top: 1px solid #e5e5e5;};
.box-contador .time-measure{ margin: 0;}
.box-contador .time-measure.milisecond{display:none;}
.box-contador .number.milisecond{display:none;}
.box-contador .timer .number:after{top:3px;}
.box-contador .number.second:after{display:none;}
.box-contador .measure-numbers .number{font-size:28px;}
.box-contador .measures{ color: #828282; font-size: 12px; margin-bottom: 0;}
.box-contador a:hover{text-decoration:none;}
.box-contador *{color:#696969;font-family:'NeoSans',tahoma,sans-serif;}
.box-contador .time*{}
.box-contador .timer{position:static; background: #fff;}
.box-contador .timer .measures *{text-transform:lowercase;font-size:12px;font-weight:400; color: #323232;}
.box-contador .timer .measures{ position: relative; padding: 12px 0 0;}
.box-contador .timer .measures span{ text-align: center; width: 55px;}
.box-contador .timer .measures .hour{ left: 17px; position: absolute;}
.box-contador .timer .measures .minute{}
.box-contador .timer .measures .second{ left: 7px; position: relative;}

.box-contador .measure-numbers .number{font-size:42px; margin: 0 10px 0 0;}

.box-contador .timer .measure-numbers{ margin-left: 12px; margin-top: 0;}
.box-contador .timer .measure-numbers .hour{ color: #323232;}
.box-contador .timer .measure-numbers .minute{ color: #323232;}
.box-contador .timer .measure-numbers .second{ color: #b70f15;}

.box-contador .measure-numbers .hour, .box-contador .measure-numbers .minute, .box-contador .measure-numbers .second{ font-weight: 400 !important;}

.box-contador span.number::after{ right:-9px; top:10px; font-size: 32px;}

.box-contador .category-title{font-family:"NeoSans";text-align:center;margin:36px 0 33px;padding-top:34px;font-size:42px; }
.box-contador .category-title span{ display:block; margin:0 auto; word-wrap: break-word; line-height: 34px;font-weight: 200; text-transform: lowercase;}
.box-contador .more-offers{transition:background .2s ease-out;font-family: tahoma !important;font-size:14px;display:block;margin:80px auto 0;background:#696969;width: 80%;padding:15px;text-align:center;}
.box-contador .more-offers:hover{text-decoration:none!important;color:#FFF!important;opacity:1!important;background:#696969;}
.box-contador .more-offers span{color:#fff;font-weight: 700;}
.box-contador .number:after{top:5px;}


.box-contador .productDetails{padding-left:13px;}
.box-contador .prateleira .price.sale strong{left:-5px;}
.box-contador .counter-wrapper{box-sizing:border-box;padding:0; width: 216px; margin:0 auto;}
.box-contador .number.second:after{content:":";}
.box-contador .limited-offers{margin:0 auto;padding-top:10px;margin-top:10px;text-align:center;font-size:15px;}
.home .category-title::before{content:"";display:block;width:100%;height:32px;display:block;position:relative;bottom:15px;}

.box-contador .smartphones{background:url(../images/smartphonwe.png) no-repeat top center;}
.box-contador .eletrodom{background:url(../images/eletrodomestico.png) no-repeat top center;}
.box-contador .eletrodom{background:url(../images/eletrodomestico.png) no-repeat top center;}
.box-contador .tv{background:url(../images/tv-video.png) no-repeat top center;}
.box-contador .info{background:url(../images/informatica.png) no-repeat top center;}
.box-contador .imm{background:url(http://www.pontofrio-imagens.com.br/html/2016/home/skin/images/produtos-internacionais.png) no-repeat top center;}
.box-contador .moveis{background:url(../images/moveis.png) no-repeat top center;}
.box-contador .portateis{background:url(../images/eletroportateis.png) no-repeat top center;}
.box-contador .games{background:url(../images/games.png) no-repeat top center;}
.box-contador .tablets{background:url(../images/tablet.png) no-repeat top center;}
.box-contador .bebes{background:url(../images/bebes.png) no-repeat top center;}
.box-contador .ud{background:url(../images/utilidade-domestica.png) no-repeat top center;}

.area-5-1-1 .box-contador, .area-7-1-1-1 .box-contador, .area-9-1-1 .box-contador{ border-top: none; height: 475px;}

/*Carousel*/
.carousel .nextCarousel strong,.carousel .backCarousel strong{border-right:none;}
.nextCarousel span,.backCarousel span{background:url(../images/sprite-setas.png) no-repeat 0 0;width:18px;height:50px;margin-left:-8px;}
.nextCarousel,.backCarousel{width:18px;}
.nextCarousel span{background-position:0 -240px;}
.nextCarousel span:hover{background-position:0 -190px;}
.nextCarousel.desactive span{background-position:0 -140px;}
.backCarousel span{background-position:0 10px;}
.backCarousel span:hover{background-position:0 -40px;}
.backCarousel.desactive span{background-position:0 -90px;}

/*Servico*/
.boxserv h2.tit{ border-bottom:1px solid #c6c6c6;}
.boxserv h2.tit b{font-family:'NeoSans'; color:#404040; font-size:20px; font-weight:500;}
.boxserv li{ border:none; display:inline-block; margin:14px 10px 0; padding:0; width:98px; float:none; vertical-align:top; position: relative;}
.boxserv li a{ background:url(../images/sprite-servico.png) no-repeat; padding-top:57px;}
.boxserv li .bts1{background-position:66px 0;}
.boxserv li:hover .bts1{background-position:66px -170px;}
.boxserv li .bts2{background-position:-90px 0;}
.boxserv li:hover .bts2{background-position:-90px -170px;}
.boxserv li .bts3{background-position:-245px 0;}
.boxserv li:hover .bts3{background-position:-245px -170px;}
.boxserv li .bts4{background-position:-410px 0;}
.boxserv li:hover .bts4{background-position:-410px -170px;}
.boxserv li .bts5{background-position:-566px 0;}
.boxserv li:hover .bts5{background-position:-566px -170px;}
.boxserv li .bts6{background-position:-726px 0;}
.boxserv li:hover .bts6{background-position:-726px -170px;}
.boxserv li .bts7{background-position:-874px 0;}
.boxserv li:hover .bts7{background-position:-874px -172px;}
.boxserv li .bts8{background-position:-1043px 0;}
.boxserv li:hover .bts8{ background-position:-1043px -168px;}
.boxserv li{min-height:145px;}
.boxserv li:hover span{ color:#e6191e;}
.boxserv li span{font-family:'NeoSans'; color:#000; font-size:14px; font-weight:700; width:140px; display:block; margin:0 auto; text-transform:uppercase;}
.boxserv li p{  bottom: 0; color: #404040; font-family: "NeoSans"; font-size: 11px; position: absolute; height: 45px; padding: 0 28px; opacity: 0.8; filter: alpha(opacity=40);}
.boxserv li:hover p{  opacity: 1.0; filter: alpha(opacity=100);}

.area-5 > div, .area-7 > div, .area-7-1 > div, .area-9 > div { overflow: hidden;   display: table;    width: 100%;}

.home .ctn_topo{ height: 90px; margin-bottom: 40px;}

/*Efeito Menu TV*/
.Mhover .block a:hover{ background-color: rgb(255,255,255); opacity: 0.3; }



.home .area-4-5 .prateleira .flags, .home .area-11 .prateleira .flags{ top:222px;}
.home .area-4-5 .prateleira .name, .home .area-11 .prateleira .name{ top:270px;}
.home .area-4-5 .prateleira .productDetails{}
.home .area-4-5 .prateleira .smallRating{}
.home .area-11 .prateleira .hproduct{ height:410px; }
.home .area-11 .veja{display: block; float: right;font-size: 14px;}

/*============ Chamada Marketplace =================*/
.marketplacecadastro { background-color: #262626;display: inline-block; margin: 20px 0 40px; overflow: hidden; padding: 9px 8px; width: 970px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }  
.marketplacecadastro-thumb { float: left; margin: 7px 0 0 10px; }
.marketplacecadastro-texto { float: left; margin: 10px 0 0 14px; font-size: 1.1em; color: #ffffff; font-family: tahoma; }
.marketplacecadastro-destaque { color: #f7941d; font-weight: bold; }
.marketplacecadastro-textobold { font-size: 13px; color: #ffffff; font-weight: bold;}
.marketplacecadastro-botao { float: right; margin: 0 2px 0 0; }
.marketplacecadastro-botao a { background-color: #404040; border: 1px solid #404040; color: #fff; font-size: 14px; font-weight: bold; text-align: center; text-indent: 1px; line-height: normal; padding: 10px 26px; }
.marketplacecadastro-botao a:hover { background-color: #4c4b4b; }


/*Produto destaque 1x*/
.PaymentDiscount{ display: none; background: #f4f4f4; width: 204px; float: left; overflow: hidden; border: 1px solid #e0e0e0; border-radius: 5px; padding:7px 0 7px 7px;font-family: "NeoSans"; margin:9px 0 0; position: absolute; bottom: -54px; left: 0;} 
.PaymentDiscount:before { content: ""; display: none; width: 10px; height: 10px; border: 1px solid #e0e0e0; transform: rotate(-45deg); position: absolute; top: 75px; z-index: 999; border-left: none; border-bottom: none; background-color: #f4f4f4; left: 16px; }
.PaymentDiscount .for.price.discount { color: #b70f15; font-size: 12px; font-weight: 700; padding: 0;}
.PaymentDiscount .DiscountCondition { color: #666666; font-size: 10px; padding: 0 3px 0 0; font-weight: 700;}
.PaymentDiscount .DiscountText { color: #666666; font-size: 10px; font-weight: 400;}
.PaymentDiscount .DiscountInfo{ display: none;}

.home .area-5-2-2 .lista-produto.prateleira, .home .area-5-3-2 .lista-produto.prateleira, .home .area-7-2-2 .lista-produto.prateleira, .home .area-7-3-2 .lista-produto.prateleira,  .home .area-9-2-2 .lista-produto.prateleira, .home .area-9-3-2 .lista-produto.prateleira, .home .area-9-4-2 .lista-produto.prateleira, .home .area-7-1-2-2 .lista-produto.prateleira {border-top: 1px solid #e5e5e5}

