/* Novo banner tv v1.1 */

.home .area-3-1-1,
.home .area-3-1-2{
    display: none;
}
.home .area-3-1-3{
    width: 100%;
    max-width: none;
    min-width: auto;
    padding: 0;
}

/* Base do Slick - Início */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slider:after {
    content: "";
    display: table;
    clear: both;
}
.slick-list {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    height: inherit;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
    outline: 0;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
    outline: 0;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
/* Base do Slick - Fim */

.home .area-3-1-3 .brnTvAuto{
    background:url("http://www.pontofrio-imagens.com.br/html/banner-tv/novo/img/bg-banner-tv.png")no-repeat #fcfcfc center top;
    padding-top: 30px;
    height: 412px;
}
.home .area-3-1-3 .bnrAuto {
    width: auto;
    height: auto;
    margin: 0;
}
.home .area-3-1-3 .bnrAuto .slick-prev{
    top: 160px!important;
    left: 0!important;
}
.home .area-3-1-3 .bnrAuto .slick-next{
    top: 160px!important;
    right: 0!important;
}
.home .area-3-1-3 .slick-list{
    height: 373px;
    width: auto;
    margin:0 auto;
    background: none
}
.home .area-3-1-3 .slick-track{
    height: auto;
}
.home .area-3-1-3 .ofAuto .bannerConceitualLnk img{
    width: auto;
    height: auto;
}
.home .area-3-1-3 .ofAuto > div {
    width: auto;
    float: left;
    margin-left: 12px;
}
.home .area-3-1-3 .bnrAuto .slick-dots {
    position: absolute!important;
    text-align: center!important;
    background: none!important;
    border:none!important;
    border-radius: none!important;
    top: 380px!important;
    left: 0!important;
    padding: 0!important;
    width: 100%!important;
}
.home .area-3-1-3 .slick-slider .slick-dots li {
    border: medium none;
    display: inline-block;
    float: none;
    margin: 0 7px;
    padding: 0;
    vertical-align: middle;
    width: auto;
}
.home .area-3-1-3 .bnrAuto .slick-dots li button {
    height: 12px;
    margin: 2px;
    outline: 0 none;
    width: 12px;
    background-color: #b3bbc3;
    border: medium none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    text-indent: -999em;
}
.home .area-3-1-3 .slick-dots li.slick-active button {
    background-color: #474747;
    height: 16px;
    margin: 0;
    width: 16px;
}
.home .area-3-1-3 .slick-dots li.slick-active button:hover {
    background-color: #e62158;
    }
.home .area-3-1-3 .bnrAuto button.slick-prev, .home .area-3-1-3 .bnrAuto button.slick-next {
    display: block!important;
    cursor: pointer;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    border: none;
    font-size: 0;
}
.home .area-3-1-3 .bnrAuto button.slick-next{
    height:94px;
    width:50px;
    background:url("http://www.pontofrio-imagens.com.br/html/banner-tv/novo/img/seta-next.png")no-repeat;
}
.home .area-3-1-3 .bnrAuto button.slick-prev{
    height:94px;
    width:50px;
    background:url("http://www.pontofrio-imagens.com.br/html/banner-tv/novo/img/seta-prev.png")no-repeat;
}