/* Le classi definite qui sovrascrivono tutte le altre  */


/* START COUNTDOWN MONDIALI 2014 ( Non cancellare ! )
***************************************************************

#counterMondiali {
	display: none !important;
}

.main-header .searchbox {
	display: block !important;
	margin: 8px 0 0 0 !important;
}


@media only screen and (max-width: 1023px) and (min-width: 600px){
	.main-header  .logo-column {
		width: 100% !important;
	}
}

/* END COUNTDOWN MONDIALI 2014 ( Non cancellare ! )
***************************************************************/
/*@media only screen and (max-width: 599px) {
#counterMondiali .absolute-link {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 8;
}
}
 @media only screen and (max-width: 1023px) and (min-width: 600px) 
 {
	
	#counterMondiali {
	  left: 10px;
	}
}*/
/*
.blog{
	display: none;
}
.title-blogs{
	display: none;
}*/


.x25#newAdv {
	margin: 20px auto 14px auto !important;
}


/*css momentaneo attesa loghi ufficiali 2016 per compilazione totale */
#menuArea .subMenu#Categorie #laTuaSquadra .squadre>li a span.flag.crotone{
	background-position:-1165px 0;
}


/* css momentaneo fino ad aggiornamento dati calciomercato 2016 */
#calciomercato .CMSsport-Classifiche .section-list .seemore_btn.seemore_campetto{
	display: none;
}
body.sub-squadre div.giocherebbero_cosi{
	display: none;
}
/* css momentaneo fino ad aggiornamento dati calciomercato 2016 */

.ie8-desktop .video-bar .section-video-bar-large-12-column ul>li {
    width: 19.4%;
}

@media only screen and (min-width: 1440px) {
	.u011-opener-article .u011-opener-article-column .image-container.no-animate:hover .image-caption {
		bottom: -65px !important;
	}
}
@media only screen and (max-width: 1439px) and (min-width: 1024px) {
	.u011-opener-article .u011-opener-article-column .image-container.no-animate:hover .image-caption {
		bottom: -65px !important;
	}
}

.max-passioni .u051 .max-passioni-column .max-passioni-block .u025 .image-container .identifier {
    z-index: 1;
}


/* 2015.01.02 > regola provvisoria su pagina FotoGallery */
.type-fotogallery .u021 .u021-image-column .image-container .image-caption {
     position: absolute;
}


/*.livebox .u031 .scroll-wrapper {
	overflow-y: auto; 
}*/


/*MEDIA QUERIES PER BANNER APPLE*/


/*@media screen and (min-width: 320px) and (max-width: 1023px)  {
	.adv-pushbar-box.novesettanta {
		display: none !important;
	}

}

@media screen and (min-width: 1024px) and (max-width: 1440px)  {
	.adv-pushbar-box.novesettanta {
		display: block !important;
	}
	.adv-pushbar-box.hide.novesettanta {
		display: block !important;
	}
}

@media screen and (min-width: 1441px) {
	.adv-pushbar-box.novesettanta {
		display: block !important;
	}
	.adv-pushbar-box.hide.novesettanta {
		display: block !important;
	}
}

@media screen and (min-device-width: 768px) and (min-device-height: 1024px) and (orientation:portrait) {
  	.adv-pushbar-box.novesettanta {
		display: block !important;
	}
	.adv-pushbar-box.hide.novesettanta {
		display: block !important;
	}
}
*/


#cc_a1m li a, 
#cc_a2m li a, 
#cc_a1f li a {
	cursor: default !important;
}

#cc_a1m li a:hover, 
#cc_a2m li a:hover, 
#cc_a1f li a:hover {
	text-decoration: none;
}




@media only screen and (max-width: 599px) {
.video-bar .section-video-bar-large-12-column ul > li:first-child .detail {
  left: auto;
}
}

/* Ticket#2015081402000115 — occhielli tagliati nelle videobar (NO hp e calcio) */
section.main-container {overflow: visible !important;}


/* BOX SERIE A HIGHLIGHTS */
#last_results_container[data-id='21'] .right.highlights-link {display:none}
#last_results_container[data-id='21'] .home-team.left,
#last_results_container[data-id='21'] .guest-team.left { width: 37% !important; }
/* BOX SERIE B HIGHLIGHTS */
#last_results_container[data-id='105'] .right.highlights-link {display:none}
#last_results_container[data-id='105'] .home-team.left,
#last_results_container[data-id='105'] .guest-team.left { width: 37% !important; }


.video-bar .section-video-bar-large-12-column ul>li .detail .categoria {left: 0!important}

/* loghi serie b da portare in scss */
.i-teams-30x30.como{
	background-position: -106px -94px;
    width: 24px;
    height: 29px;
}

.i-teams-30x30.salernitana{
	background-position: -131px -94px;
    width: 29px;
    height: 29px;
}
.i-teams-30x30.ascoli{
	background-position: 2px -126px;
    width: 30px;
    height: 30px;
}
.i-teams-30x30.cagliari{
	background-position: -30px -125px;
    width: 25px;
    height: 30px;
}
.i-teams-30x30.cesena{
	background-position: -55px -125px;
    width: 29px;
    height: 29px;
}
.i-teams-30x30.novara{
	background-position: -85px -125px;
    width: 29px;
    height: 29px;
}

.tabellone-gruppo-mondiale .classifica ul li {
	display:none;
}

section.gznet h6.gznet {
	display: none !important;
}
section.gznet h6.orange,
section.row-big h6.orange{
	margin-left: 0 !important;
}

@media only screen and (max-width: 1439px) and (min-width: 1024px){
	body .main-container .adv-pushbar-box{
		margin: 0 -40px 20px -20px;
	}
}

body#calcio.sub-nazionale.type-categoria.sorteggi-europei-index {
	background-position: 50% 0 !important;
}

body.skin-verde .temporeale-container ul.temporeale-list li a:hover {
    color: #56a305;
}

body.skin-verde .CMSsport-Classifiche .section-list ul.widget-side-nav li span.name a {
    color: #56a305;
}

body.skin-verde .temporeale-container .CMSsport-Classifiche .section-list .seemore_btn a {
	color: #56a305;
}

body.skin-verde .CMSsport-Classifiche .section-list ul.widget-side-nav li span.name {
	color: #56a305;
}

body .tablepress-id-2 {
	display: none;
}



#oas_Frame2 {
	width: auto !important;
	height: auto !important;
}






@media only screen and (max-width: 599px) {
	#live .adv-opener.adv-collapse.fr1 {
		display: block!important;
		margin-left: 10px;
	}

	.wrapper_table_standings .standing.ext-widget {
   		 height: 395px!important;
	}
}


@media only screen and (max-width: 1440px) {}
	.wrapper_table_standings {
	 	display: block;
	}
}

#eurolega #sponsor-wrapper {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* 20160816 MF ICONE MANCANTI CAMPIONATO SERIE B */
.calcio-serieb-teams-icon.cittadella 	{ width: 30px; background: url('http://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/icons/all-teams-30x30-2015.png') no-repeat -120px -153px ; }
.calcio-serieb-teams-icon.benevento 	{ background: url('http://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/icons/all-teams-30x30-2015.png') no-repeat -54px -154px }
.calcio-serieb-teams-icon.carpi 		{ background: url('http://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/icons/all-teams-30x30-2015.png') no-repeat -103px 8px;width:30px }
.calcio-serieb-teams-icon.pisa 			{ width: 26px;background: url('http://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/icons/all-teams-30x30-2015.png') no-repeat -31px -154px; }
.calcio-serieb-teams-icon.verona 		{ width: 30px;background: url('http://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/icons/all-teams-30x30-2015.png') no-repeat -1px -155px; }
.calcio-serieb-teams-icon.frosinone 	{ background: url('http://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/icons/all-teams-30x30-2015.png') no-repeat -79px -29px; width: 26px; height: 32px; margin-top:6px; }
.calcio-serieb-teams-icon.spal  		{ background: url('http://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/icons/all-teams-30x30-2015.png') no-repeat -89px -153px;width: 30px; }

.MXXX-central-articles-main-column .calcio-serieb-teams-icon.cittadella { 
	width: 30px; 
	background: url('http://images2.gazzettaobjects.it/includes2013/LIBS/css/assets/icons/all-teams-30x30-2015.png') no-repeat -120px -153px; 
}



/* NUOVA TITOLAZIONE PER DISABILITAZIONE COMMENTI */
#Tam .section-title h3 {
	text-transform: none;
	font-family: 'TitleNarrow';
	margin-bottom: 20px;
}



/* NASCONDO LE NOTIFICHE MOMENTANEAMENTE PER LA SEZIONE SPORT INVERNALI */
li[data-name='sport-invernali'] .notification {
	display: none;
}