/***************
@cnBeta.com 2013/1/31
***************/
@charset "utf-8";
::selection{background:#333;color:white;text-shadow:none;}
::-moz-selection{background:#333;color:white;text-shadow:none;}
::-webkit-selection{background:#333;color:white;text-shadow:none;}
html{color:#000;background:#f5f5f5;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;vertical-align:baseline;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,td,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6,strong{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
button{background:none;border:none;}
table,td{border:none;}
ins{text-decoration:none;}
blockquote:before,blockquote:after, q:before, q:after{content: "";}
blockquote,q{quotes: "" "";}
hr{color:#f5f2ee;background-color:#f5f2ee;border:none;height:1px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
html{font-family:"Classic Grotesque W01","Hiragino Sans GB","Microsoft YaHei","STHeiti","WenQuanYi Micro Hei",Arial,SimSun,sans-serif;font-size:12px;}
a{color:#000;text-decoration:none;cursor:pointer;}
a:hover{color:#39c;text-decoration:underline;}
.clear{clear:both;height:0;font-size:0px;overflow:hidden;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{*zoom:1;}
input.disabled,textarea.disabled,select.disabled,button.disabled{cursor:not-allowed !important;text-shadow:1px 1px 0 #fff !important;}
textarea{line-height:24px;border-radius:4px;overflow:auto;padding:2px 5px;font-size:14px;border:1px solid #D8D8D8;}
dl dt a{color:#036;font-size:14px;font-weight:700;}
dt{margin-bottom:5px;}
dd{color:#999;}
p{word-wrap:break-word;word-break:break-all;}
.white{color:white !important;}
.gray{color:#999 !important;}
.green{color:#0ea74b !important;}
.org{color:#f60 !important;}
.red{color:#f00 !important;}
.none{display:none;}
.b{font-weight:700;}
.w{white-space:nowrap;}
.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.fr{float:right;display:inline;}
.fl{float:left;display:inline;}
.p5{padding:5px;}
.p15{padding:15px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.pt5{padding-top:5px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mb5{margin-bottom:5px;}
.blank10{height:10px;overflow:hidden;clear:both;}
.ccenter{text-align:center;}
.ccenter iframe{margin:0 auto !important;}
.wrapper{width:980px;margin:0 auto;position:relative;}
.main_content{overflow:hidden;background:none;}
.main_content_left{width:670px;overflow:hidden;float:left;}
.main_content_right{width:300px;float:right;}
.content_box{display:block;margin-bottom:6px;}
.topbar{z-index:10000;width:100%;background:#F5F5F5 url(../images/common/bg.png) repeat-x;*zoom:1;}
.topbar a{color:#fff}
.topbar:after{content: "";display: table;clear: both;}
.topbar .topbar_bd{margin:0 auto;width:980px;height:35px;-webkit-backface-visibility: hidden;*zoom:1;}
.topbar .topbar_bd .topbar_bd_l .menu, .topbar .topbar_bd .topbar_bd_r .menu{float: left;}
.topbar .topbar_bd .topbar_bd_l{float: left;}
.topbar .topbar_bd .topbar_bd_r{float: right;}
.topbar .topbar_bd .topbar_bd_r .topbar_pipe{float: left;height: 35px;line-height: 35px;}
.topbar .topbar_bd:after{content: "";display: table;clear: both;}
.topbar_fixed{position: fixed;top: 0;}
.topbar .nav .menu{padding:4px 8px 0;border-top:2px solid #447EB9}
.topbar .nav .menu a{display:inline-block;padding:3px 1px;vertical-align:top;text-decoration:none}
.topbar .nav .menu:hover{border-color:#fff}
.topnav{margin:0 0 0 216px;overflow:hidden}
.cb_box{background:#ffffff;border:1px solid #ddd;}
.content_body{background:#ffffff;padding:10px 6px 8px;}
.cber header{padding:0 0 0 10px;color:#fff;font-size:14px;}
.blue_bar, .blue_bar_v2, .yellow_bar{*zoom:1;height:31px;line-height:31px;position:relative;}
.blue_bar, .blue_bar_v2{background-color:#447EB9;}
.yellow_bar{border-left:1px solid #DCDCDC;border-right:1px solid #DCDCDC;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFDF0B9',endColorstr='#FFFFE57F');background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#FDF0B9),color-stop(100%,#FFE57F));background-image:-webkit-linear-gradient(top,#FDF0B9,#FFE57F);background-image:-moz-linear-gradient(top,#FDF0B9,#FFE57F);background-image:-o-linear-gradient(top,#FDF0B9,#FFE57F);background-image:linear-gradient(top,#FDF0B9,#FFE57F);background-color:#FEEA9A;}
.yellow_bar h4{color:#c00;}
.yellow_body_v1{background:url(../images/common/repeat_y_bg.png) repeat-y -1070px top;}
.yellow_body_v2{border-bottom:1px solid #DCDCDC;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.cb-rb-v3{background:url(../images/common/repeat_y_bg.png) repeat-y -758px top;border-bottom:1px solid #C4C4C4;border-left:1px solid #DCDCDC;border-right:1px solid #DCDCDC;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.read_more .more{height:42px;line-height:22px;}
.mod{padding-top:10px;border:0 none;}
.mod .hd{padding:0 0 10px;height:24px;line-height:24px;}
.mod .hd h3{font:bold 16px/24px \5FAE\8F6F\96C5\9ED1;color:#333;float:left;}
.mod .hd h3 a:link,.mod .hd h3 a:visited,.mod .hd h3 a:hover{color:#333;text-decoration:none;}
.mod .hd .more{color:#999;font-size:12px;}
.h-bd-box .hd{height:28px;padding:0;overflow:visible;border-bottom:2px solid #d6d6d6;}
.h-bd-box .hd h3{height:26px;position:relative;bottom:-2px;border-bottom:2px solid #9c9c9c;font-size:14px;}
.h-bd-box .hd .more{line-height:28px;}
.bd{padding-top:10px;}
/* head */
.head, .comments, .click, .score, .cb_prev, .cb_next, .cb_more, .dot_box li, .dot_box li.current, .pop_close{background:url(../images/common/head.png) no-repeat;}
.pop_close{float:right;width:15px;height:15px;overflow:hidden;text-indent:-2000em;background-position:-60px -16px;margin-left:10px;}
.pop_close:hover{background-position:-60px -1px;}
.repeat{background:url(../images/common/repeat_x_bg.png) repeat-x;}
.cb_prev, .cb_next, .cb_more{display:block;text-indent:-99999px;overflow:hidden;display:inline-block;}
.cb_prev{width:21px;height:15px;background-position:-2px -75px;}
.cb_prev:hover{background-position:-2px -90px;}
.cb_next{width:23px;height:15px;background-position:-23px -75px;}
.cb_next:hover{background-position:-23px -90px;}
.cb_more{width:44px;height:15px;background-position:-2px -105px;}
.icon_comment{background-position:0 -17px;width:16px;height:16px;display:inline-block;}
.icon_feed{background-position:0 0px;width:16px;height:16px;display:inline-block;}
.icon_expand, .icon_narrow{background-position:-39px 1px;width:18px;height:18px;display:inline-block;margin:4px;cursor:pointer;}
.icon_expand:hover{background-position:-39px -16px;}
.icon_narrow{background-position:-19px 1px;}
.icon_narrow:hover{background-position:-19px -16px;}
i.icon_comment, i.icon_feed{margin-top:-1px;vertical-align:middle;margin-right:2px;}
/* rss */
.cb_rss li{padding:0 3px;}
.cb_rss{float:right;}
.cb_rss li{display:inline;color:#ccc;}
.dot_box{height:19px;margin-right:6px;display:inline-block;}
.dot_box li{float:left;background-position:-18px -64px;width:9px;height:9px;margin:8px 5px 6px;text-indent:-99999px;cursor:pointer;}
.dot_box li.current{background-position:-2px -64px;}
.cbv{text-align:center;margin-bottom:5px}
.cbv p{margin:3px 0;}
.cbv iframe{margin:0 auto !important;display:normal !important;}
.global_head{height:105px;position:relative;z-index:1;}
.cnbeta_logo{width:187px;height:46px;position:absolute;left:0;background-position:left -163px;}
.cnbeta_logo a{display:block;width:187px;height:46px;text-indent:-99999px;overflow:hidden;}
.cnbeta_logo_cover{background:none;width:211px;height:48px;position:absolute;left:0px;top:0px;z-index:10;}
.tiny_bar{padding:3px 0 5px 0;text-align:right;height:27px;line-height:27px;overflow:hidden;}
.tiny_bar a{color:#666;}
.global_navi{height:35px;width:760px;background:#447EB9;position:relative;float:right;}
.global_navi .main_navi{height:35px;width:550px;}
.global_navi .main_navi li{height:35px;float:left;padding:0 17px;text-align:center;}
.global_navi .main_navi li.current{background:#32669A;}
.global_navi .main_navi li a{display:block;line-height:35px;color:#fff;font-size:15px;font-weight:700;}
.global_navi .main_navi li a:hover{color:#fc0;}
.global_navi .main_navi .dropdown{padding-right:10px;}
.global_navi .main_navi .dropdown a{padding-right:16px;background:url(../images/common/head.png) right -17px;}
.global_navi .main_navi .dropdown .sub_navi{position:absolute;left:0;height:28px;overflow:hidden;line-height:28px;padding:0 20px;background:#32669A;border-bottom-left-radius:2px;border-bottom-right-radius:2px;}
.global_navi .main_navi .dropdown .sub_navi li{height:28px;white-space:nowrap;padding:0 5px;}
.global_navi .main_navi .dropdown .sub_navi a{line-height:26px;background:none;color:#fff;font-size:12px;font-weight:normal;}
.global_navi .main_navi .dropdown .sub_navi a:hover{color:#fc0;}
#cb_search{background:#fff;height:26px;padding-left:2px;margin:5px 5px 0 0;float:right;}
#cb_search form{padding:0px 4px 0 0;}
#cb_search .search_btn{background-position:8px -137px;width:30px;height:22px;border:none;cursor:pointer;text-indent:-99999px;}
#cb_search .search_key{width:150px;padding:0;border:0;vertical-align:middle;height:26px;}
.tiny_head{padding:7px 0 8px;height:45px;}
.tiny_head .site_logo{float:left;height:30px;overflow:hidden;margin-left:11px;_margin-left:6px;}
.tiny_head .lang_nav{float:right;width:200px;text-align:right;color:#C0D7DF;padding-top:0.5em;font-size:14px;font-family:arial;}
.tiny_head .lang_nav span{color:#72A5B8;}
.tiny_head .lang_nav a, .lang_nav a:link, .lang_nav a:visited, .lang_nav a:hover, .lang_nav a:active{color:#72A5B8;}
/* banner */
.banner{height:80px;overflow:hidden;}
/*footer start*/
footer{border-top:1px solid #ebebeb;padding:15px 0;background:#f0f0f0;position:relative;margin-top:-1px;transition:transform .5s ease 0s}
#footer{padding:20px 0 0;margin-top:10px;color:#333;line-height:22px;text-align:right;}
#footer a:link{color:#003366;}
#footer .copyright{padding:5px 0;color:#333;}
#footer .sep{font-size:10px;margin:0 5px;}
.powered{color:#E8E8E8;display:none;}
/* gotop */
.goToTop{width:60px;text-indent:-999em;cursor:pointer;position:fixed;_position:absolute;right:50%;bottom:60px;margin:0 -560px 0 0;display:none;}
.goToTop a{display:block;width:60px;height:60px;background:url("../images/common/head.png") no-repeat;}
.goToTop a.toTop:link,.goToTop a.toTop:visited{background-position:-47px -75px;}
.goToTop a.toTop:hover,.goToTop a.toTop:active{background-position:-117px -75px;}
/* page */
#linkpager{padding:10px 0;margin-top:10px;text-align:center;}
.pages a,.pages strong{display:inline-block;line-height:28px;padding:0 10px;border:1px solid #d9d9d9;background-color:#ffffff;text-decoration:none;color:#666;font-family:Simsun;transition: all 0.2s ease-out;margin-right:3px;}
.pages a:hover{color:#fff;background-color:#25547e;border-color:#fff;text-decoration:none;}
.pages strong{color:#fff;background-color:#25567f;border-color:#fff;}
.pages span{padding:0 10px;line-height:23px;}
/* tips */
.loading_span16{height:16px;line-height:16px;}
.loading16{background:url(../images/common/loading.gif);margin-right:5px;display:inline-block;vertical-align:middle;width:16px;height:16px;}
.loading32{background:url(../images/common/loading32.gif);margin-right:8px;display:inline-block;vertical-align:middle;width:32px;height:32px;}
.loading48{background:url(../images/common/loading48.gif);margin-right:8px;display:inline-block;vertical-align:middle;width:48px;height:48px;}
.tips{border:1px solid #faebd2;background:#ffffe9;color:#666;line-height:16px;padding:5px 10px 6px;}
.tips_icon,
.tips_icon_error,
.tips_icon_success,
.tips_icon_help{background:url(../images/tips/small.png) 0 -60px no-repeat;padding:0 10px 0 20px;display:inline-block;vertical-align:middle;line-height:18px;min-height:18px;_height:18px;}
.tips_icon_error{background-position:-20px -40px;color:#B52828;}
.tips_icon_success{background-position:-40px -20px;color:#008800;}
.tips_icon_help{background-position:-60px 0px;}
.btn{color:#333;background:#e6e6e6 url(../images/bg-btn.png);border:1px solid #c4c4c4;border-radius:2px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);padding:4px 10px;display:inline-block;cursor:pointer;font-size:100%;line-height:normal;text-decoration:none;overflow:visible;vertical-align:middle;text-align:center;zoom: 1;white-space:nowrap;font-family:inherit;_position:relative;}
.btn_gray{font-size:14px;height:32px;width:100%;background-position:0 -105px;}
.btn_gray:hover{font-size:14px;height:32px;width:100%;background-position:0 -145px;}
.fixed_right{position:fixed;_position:absolute;top:0px;width:312px;}
.cb_login{float:right;font-family:"\5b8b\4f53";}
.cb_login .a{padding-right:14px;color:#666;}
.cb_login .t{float:left;background-position:0 2px;color:#666;}
.cb_login .app_login{float:left;margin:0 4px;}
.cb_login .app_login .login_icon{float:left; margin:5px 5px 0 0;}
.login_icon{display:inline-block; _display:inline; _zoom:1; overflow:hidden; vertical-align:middle;}
.login_icon{background:url("../images/common/login_icon.png") no-repeat -999em -999em;}
.icon-sina,.icon-qq,.icon-alipay,.icon-tsina,.icon-tqq,.icon-t163,.icon-douban,.icon-renren,.icon-taobao,.icon-msn{width:16px; height:16px; background-position:-20px -115px;}
.icon-qq{background-position:-38px -115px;}
.icon-alipay{background-position:-56px -115px;}
.icon-tsina{background-position:-74px -115px;}
.icon-tqq{background-position:-92px -115px;}
.icon-t163{background-position:-110px -115px;}
.icon-douban{background-position:-128px -115px;}
.icon-renren{background-position:-146px -115px;}
.icon-taobao{background-position:-164px -115px;}
.icon-msn{background-position:-182px -115px;}
.cb_login .headphoto{width:16px;height:16px;margin-right:5px;}
.icon-success-s16a,.icon-error-s16a,.icon-warning-s16a,.icon-question-s16a,.icon-info-s16a,
.icon-success-s16b,.icon-error-s16b,.icon-warning-s16b,.icon-question-s16b,.icon-info-s16b{width:16px; height:16px; background-position:0 0;}
.icon-error-s16a{background-position:-50px 0;}
.icon-warning-s16a{background-position:-100px 0;}
.icon-question-s16a{background-position:-150px 0;}
.icon-info-s16a{background-position:-200px 0;}
.icon-success-s16b{background-position:0 -16px;}
.icon-error-s16b{background-position:-50px -16px;}
.icon-warning-s16b{background-position:-100px -16px;}
.icon-question-s16b{background-position:-150px -16px;}
.icon-info-s16b{background-position:-200px -16px;}
.icon-success-s32,.icon-error-s32,.icon-warning-s32,.icon-question-s32,.icon-info-s32{width:32px; height:32px;}
.icon-success-s32{background-position:0 -32px;}
.icon-error-s32{background-position:-50px -32px;}
.icon-warning-s32{background-position:-100px -32px;}
.icon-question-s32{background-position:-150px -32px;}
.icon-info-s32{background-position:-200px -32px;}
.icon-success-s48,.icon-error-s48,.icon-warning-s48,.icon-question-s48,.icon-info-s48{width:48px; height:48px;}
.icon-success-s48{background-position:0 -64px;}
.icon-error-s48{background-position:-50px -64px;}
.icon-warning-s48{background-position:-100px -64px;}
.icon-question-s48{background-position:-150px -64px;}
.icon-info-s48{background-position:-200px -64px;}
/*notice*/
.notice{line-height:26px;padding:8px;}
.notice a{font-weight:bold;}
/*arrow top*/
.core-arrow-top{position:absolute;top:-24px;left:10px;width:40px;height:15px;margin-top:10px;padding:0 5px;}
.core-arrow-top span, .core-arrow-top em{position:absolute;width:0;height:0;padding:0;margin:-1px 0 0 2px;border-top:8px transparent dashed;border-right:8px transparent dashed;border-left:8px transparent dashed;overflow:hidden;}
.core-arrow-top span{border-bottom:8px #ffffff solid;}
.core-arrow-top em{border-bottom:8px #c1c1c1 solid;margin-top:-2px;}
/*arrow down*/
.core-arrow-bottom{position:absolute;bottom:9px;left:10px;padding:0 25px;}
.core-arrow-bottom span, .core-arrow-bottom em{position:absolute;width:0;height:0;padding:0;margin:9px 0 0 2px;border-bottom:8px transparent dashed;border-right:8px transparent dashed;border-left:8px transparent dashed;overflow:hidden;}
.core-arrow-bottom span{border-top:8px #ffffff solid;}
.core-arrow-bottom em{border-top:8px #c1c1c1 solid;margin-top:10px;}

.mask-layer{position:fixed;background:#000;z-index:99998;opacity:0.6;filter:alpha(opacity=60);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);left:0;right:0;bottom:0;top:0}
.mask-close{z-index:99999;cursor:pointer;background:#3c8dbc;border-color:#367fa9;color:#fff;font-size:14px;text-shadow:none;margin-left:44%}
.mask-box{z-index:99999;width:640px;height:330px;position:fixed;border:1px #d2d6de solid;left:50%;top:50%;margin-left:-480px;margin-top:-150px;border-radius: 3px;background: #ffffff;border-top: 2px solid #d2d6de;}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after{content: " ";display: table;}
.box-header:after,
.box-body:after,
.box-footer:after{clear: both;}
.box-header{color: #444;display: block;padding: 10px;position: relative;text-align:center}
.box-header.with-border{border-bottom: 1px solid #f4f4f4;}
.box-title{display: inline-block;font-size: 18px;margin: 0;line-height: 1;}
.box-body{border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;padding: 10px;line-height:30px;text-indent:2em;}