@charset "utf-8";
.form_input{border:1px solid #D8D8D8;height:23px;padding:1px 5px 0px;font-size:14px;}
.tab_gray{border-bottom:1px solid #ddd;height:30px;margin:0 0 0 10px;}
.tab_gray h2{float:left;height:26px;line-height:26px;margin:0 20px 0 13px;padding:2px 0px;font-size:16px;font-weight:bold;color:#003366}
.tab_item{font-size:14px;height:29px;line-height:29px;vertical-align:middle;}
.tab_item a{color:#888888;padding:0 5px 0 7px;margin-right:18px;text-decoration:none;display:block;}
.tab_gray .current{color:#036;border-bottom:2px solid #0182DE;font-weight:700}
.tab_gray li{float:left;}
.tab_gray li.right{position:absolute;right:0}
.blue_bar{color:#fff;}
.blue_bar h4{position:absolute;left:9px;top:5px;font-weight:normal;font-size:14px;}
.blue_bar em{color:#fc0}
.blue_bar li{display:inline;}
.blue_bar li a{color:#fff;padding:2px 8px 7px;vertical-align:middle}
.blue_bar ul{position:absolute;left:5px;z-index:2}
.blue_bar ul li a.current{background:#fff;color:#407BB7;font-weight:bold;height:24px;line-height:24px;}
.breadcrumbs{padding-left:10px;line-height:60px;height:60px;font-size:15px;background:#fff;border-bottom:1px solid #dedede;}
.breadcrumbs a,.breadcrumbs a:active,.breadcrumbs a:hover,.breadcrumbs a:visited{font-weight:normal;text-decoration:none;}
.breadcrumbs strong{font-weight:normal;width:80px;}
.breadcrumbs .sep{font-size:12px;padding:6px 8px 0}
.pinned{text-align:center;font-size:18px;font-weight:700}
.pinned div{height:32px;line-height:34px;overflow:hidden;padding:2px 0 8px;border:1px solid #fc6;background:#ffc}
.pinned a{color:#c00000}
.hd_main{background:url("../images/common/hl_bg.png") repeat-x 0 -5px}
.slide{background:#ffffff;width:240px;height:390px;overflow:hidden;float:left;position:relative}
.slide dt{height:310px;position:relative}
.slide dd{text-align:center;width:220px;height:60px;padding:10px;background:#3B61A7;background:rgba(68,126,185,1);color:#fff;font-size:14px;font-weight:700;overflow:hidden;text-shadow:0px 1px 1px #112;}
.slide dd a{color:#fff}
.slide_nav{position:absolute;right:2px;top:366px;z-index:6;width:240px;text-align:center}
.slide_nav li{display:inline-block;*display:inline;margin-left:2px;width:15px;height:13px;line-height:15px;text-align:center}
.slide_nav li a{display:inline-block;*display:inline;width:15px;height:13px;background:url("../images/common/head.png") no-repeat -18px -50px;text-indent:-99999px;}
.slide_nav li a.current{background-position:0 -50px;}
/* headline */
.headline{width:400px;margin:10px;float:right}
.headline_area{height:349px;overflow:hidden;}
.headline dl{height:auto;padding:0 0 8px 5px;border-bottom:1px solid #ddd;margin-top:-2px;position:relative}
.headline dl.on{border:1px solid #fc6;border-bottom:1px solid #fc6 !important;background:#ffc}
.headline dd{position:relative}
.headline dt{height:32px;line-height:32px;margin-bottom:3px;overflow:hidden}
.headline dt a{font-weight:normal}
.headline dt.ft{line-height:26px;}
.headline dt.ft a{font-size:18px;font-weight:700}
.headline dl.on dt a{color:#c00}
.headline .top_text{position:absolute;right:4px;top:-3px;width:282px;height:72px;overflow:hidden;font-size:12px;color:#999;word-wrap:break-word;}
.headline .top_text li{float:left;height:24px;line-height:24px;overflow:hidden;padding-left:6px;background:url("../images/common/dot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);background-position:0 -28px;margin-left:5px}
.headline .top_text li a{color:#333}
.headline .top_text li a:hover{color:#ba2636}
.headline .headline_more{text-align:center;color:#834D32;padding:10px 0 0;cursor:pointer;font-weight:700}
.headline .headline_more:hover{color:#AD6643}

/*nav*/
.part_tit{height:30px;line-height:30px;overflow:visible;text-indent:0px;background:#ffffff;border-top:none;border-bottom:1px solid #e3e3e3;padding:5px 0 0;margin:0 5px 10px 10px;position:relative}
.part_tit .tit_nav li{float:left;height:30px;line-height:30px;font-size:14px;cursor:pointer}
.part_tit .tit_nav li.current{font-weight:bold;border-bottom:1px solid #257cd9;}
.part_tit .tit_nav li.current a{color:#036;}
.part_tit .tit_nav a{font-size:14px;color:#888;padding:0 10px;margin:8px 0;line-height:12px;height:14px;display:inline-block;border-right:1px solid #cccccc;}
.part_tit .tit_nav a:hover{text-decoration:none;}
.part_tit .tit_nav a.last{border:none}
.part_tit .pin, .part_tit .pinned{text-indent:-2000em;width:20px;height:20px;margin:3px;cursor:pointer}
.part_tit .pin{background:url(../images/common/pin.png) no-repeat 2px 2px}
.part_tit .pinned{background:url(../images/common/pinned.png) no-repeat 2px 2px}
/* 今日必读 */
.focus{padding-left:10px;padding-right:5px;position:relative;height:215px;overflow:hidden;*zoom:1;background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#FFFFFF),color-stop(100%,#EFEFEF));background-image:-webkit-linear-gradient(top,#FFFFFF,#EFEFEF);background-image:-moz-linear-gradient(top,#FFFFFF,#EFEFEF);background-image:-o-linear-gradient(top,#FFFFFF,#EFEFEF);background-image:linear-gradient(top,#FFFFFF,#EFEFEF)}
.focus .items{float:left;width:315px;padding:5px 0}
.focus .items.ml{padding-left:6px;padding-right:5px}
.focus .items.mr{padding-left:5px;padding-right:0}
.focus .big dt{height:28px;line-height:23px;margin-bottom:4px;overflow:hidden}
.focus .big dd{position:relative}
.focus .big dd .desc{position:absolute;right:0;top:-3px;width:200px;height:80px;line-height:20px;overflow:hidden}
.focus .big dd .desc .blue{}
.focus ul.sublist{margin:15px 0;width:100%;}
.focus .sublist li{background:url("../images/common/dot.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height:25px;line-height:30px;overflow:hidden;background-position:0 -7px;padding:0 0 0 8px;}
.focus .sublist li a{color:#036}
.focus a:hover{color:#ba2636}
/* img */
.imgbox200x140{width:200px;height:140px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:122px;*font-family:Arial;}
.imgbox200x140 img{vertical-align:middle;max-width:200px;max-height:140px;scale:expression((this.offsetWidth>this.offsetHeight)?(this.style.width=this.offsetWidth>=200?"200px":"auto"):(this.style.height=this.offsetHeight>=140?"140px":"auto"));}
.imgbox240x310{width:240px;height:310px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:271px;*font-family:Arial;}
.imgbox240x310 img{vertical-align:middle;max-width:240px;max-height:310px;scale:expression((this.offsetWidth>this.offsetHeight)?(this.style.width=this.offsetWidth>=240?"240px":"auto"):(this.style.height=this.offsetHeight>=310?"310px":"auto"));}
.imgbox100x70{width:100px;height:70px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:61px;*font-family:Arial;}
.imgbox100x70:hover{border-color:#ccc}
.imgbox100x70 img{vertical-align:middle;max-width:100px;max-height:70px;scale:expression((this.offsetWidth>this.offsetHeight)?(this.style.width=this.offsetWidth>=100?"100px":"auto"):(this.style.height=this.offsetHeight>=70?"70px":"auto"));}
/* newslist */
i.new{position:absolute;left:53px;top:-6px;background-color:#D51938;border-radius:12px;color:#FFFFFF;cursor:pointer;font:400 12px/22px Arial;height:20px;text-align:center;z-index:9999}
i.new span{padding:0 6px}
.show_type{position:absolute;right:15px;top:6px;cursor:pointer}
.allinfo .content_body{padding:0px 0px 8px;}
.allinfo nav{height:32px;line-height:32px;font-size:12px}
.allinfo nav ul li a{padding-top:5px}
.allinfo nav ul li a.current{height:32px;line-height:36px;}
.all_news_wildlist .item{border:1px solid #b8bfc7;margin-bottom:5px;zoom:1;position:relative;*zoom:1;background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#FBFBFB),color-stop(100%,#EFEFEF));background-image:-webkit-linear-gradient(top,#FBFBFB,#EFEFEF);background-image:-moz-linear-gradient(top,#FBFBFB,#EFEFEF);background-image:-o-linear-gradient(top,#FBFBFB,#EFEFEF);background-image:linear-gradient(top,#FBFBFB,#EFEFEF)}
.all_news_wildlist .newsinfo strong{font-weight:700}
.all_news_wildlist .hd{background:url("../images/common/waterCover.png") no-repeat 380px 0;padding:13px 15px 0;margin-bottom:5px;font-size:13px;line-height:22px;color:#333;word-break:break-all;word-wrap:break-word;}
.all_news_wildlist .title{line-height:26px;width:522px;float:left;margin-bottom:7px}
.all_news_wildlist .title a{font-size:15px;color:#036;font-weight:700;}
.all_news_wildlist .title a:hover{color:#c00}
.all_news_wildlist .tj{margin-bottom:3px;font-size:12px}
.all_news_wildlist .tj span{color:#417daf;border-bottom:1px solid #ccc;padding-bottom:5px}
.all_news_wildlist .desc a{color:#333}
.all_news_wildlist .desc a:hover{color:#999;text-decoration:none}
.all_news_wildlist .desc{padding-right:5px}
.all_news_wildlist .tools{height:32px;line-height:35px;position:relative;margin:5px 0 0;padding:0 5px 0 15px;overflow:hidden;background-position:0 -460px}
.all_news_wildlist .tools .time{float:right;margin-right:10px}
.all_news_wildlist .tools .time a{color:#003366}
.all_news_wildlist .tools em{color:#666;}
.all_news_wildlist .tools li{float:left;padding-right:10px;height:23px}
.all_news_wildlist .picno{float:right;margin:40px 0 1px 5px;background: none repeat scroll 0 0 rgba(87, 120, 137, 0.1);box-shadow:0 0 6px #BDCCD4;border-radius:50%;height:100px;padding:4px;position:relative;width:100px;}
.all_news_wildlist .picno:hover{background:none;background:#f66214\9;cursor:pointer;}
:root .all_news_wildlist .picno:hover{background:none;}
.all_news_wildlist .picno:hover .pic{box-shadow:0 0 14px #f66214;}
.all_news_wildlist .pic{border-radius:50%;overflow:hidden;width:100px;height:100px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:87px;*font-family:Arial;}
.all_news_wildlist .pic img{border-radius:50%;vertical-align:middle;max-width:100px;max-height:100px;scale:expression((this.offsetWidth>this.offsetHeight)?(this.style.width=this.offsetWidth>=100?"100px":"auto"):(this.style.height=this.offsetHeight>=100?"100px":"auto"));display:inline !important;}
.all_news_wildlist .loading{border:1px solid #b8bfc7;background:#fff}
.read_more{padding:2px 10px 0;clear:both;}
.read_more .more{margin-top:10px;width:100%;cursor:pointer;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;border:1px solid #d3d3d3;font-size:16px}

/* index_comment */
.comments_nav{position:relative}
.comments_list{margin:2px 0px 2px 4px;width:292px;height:340px;overflow:hidden;}
.comments_list dl{border-bottom:1px solid #e8e8e8;margin-right:4px;}
.comments_list dd span.jh_bottom{display:block;width:14px;height:9px;margin:-1px 220px 0 8px;background-position:-21px -37px;overflow:hidden}
.comments_list dd{font-style:italic;color:#999;text-align:right;padding:0 10px 10px}
.comments_list dd a{color:#036;font-style:normal}
.comments_side{height:340px;overflow-x:hidden;overflow-y:auto}
.comments_jh dt {display:block;line-height:18px;border:1px solid #ddd;padding:10px;margin:8px 0 0;color:#666;background:#eee}
.comments_recommended dt{padding:5px 10px;font-size:14px}
.comments_recommended dt a{font-weight:normal}
.comments_recommended dd{text-align:left;font-style:normal}
#comments_jh_area{margin-left:4px}


/* cber */
.cber_body{padding:5px 10px 13px}
.cber_body dl{border-bottom:1px solid #e5e5bb;padding:10px 0;overflow:auto}
.cber_body dd{color:#666;line-height:18px;clear:both}
.cber_body dd img{max-width:278px;}
.cber_body .num{font-size:24px;font-style:italic;font-weight:bold;color:#E1E1B0;font-family:Arial;float:left}
.cber_body h4{float:left;line-height:18px;width:210px;padding:3px 0 0 7px}
.cber_body a{color:#000}
#job_box dt{margin-bottom:10px;font-size:14px;}
#job_box dd{color:#333333;font-size:14px;padding-left:0px;line-height:23px;}
/* share */
.share{margin:13px 0 0px;}
.share li{float:left;display:inline;margin-right:6px;height:23px;line-height:23px;}
.share .s-t{background:#C3C3C3;width:1px;height:16px;margin-right:12px;overflow:hidden;font-size:0}
.share a.sicon{width:16px;height:16px;display:block;overflow:hidden;line-height:500px;background:url(../images/share/icon.gif) no-repeat}
.share a.blg{background-position:0 0}
.share a.qq{background-position:0 -20px}
.share a.sina{background-position:0 -40px}
.share a.rrw{background-position:0 -60px}
.share a.db{background-position:0 -80px}
.share a.itb{background-position:0 -100px}
.popshare{padding:7px 0px 0px 5px;z-index:10;position:absolute;display:none;top:0px;left:0px}

.poll_content dl{border-bottom:none}
.poll_content dt{color:#003366;font-weight:bold;}
.poll_content dd{line-height:26px;}
.poll_content .btn{background-position:0px -70px;height:29px;line-height:16px;color:#fff;border-radius:4px 4px 4px 4px;cursor:pointer;}

.snews_list,.snews_list_left { padding:8px 0 0 36px; background:url(../images/rank/list_bg.png) no-repeat 6px 10px;overflow:hidden;}
.snews_list li {line-height:24px; height:24px;overflow:hidden; width:250px;}
.snews_list_left {float:left;}
.snews_list_left li,.snews_list_right li {line-height:24px; height:24px;overflow:hidden; width:112px;}

#eventContainer{padding-top:0;padding-left:0;}
.R_Cont01{float:none !important;margin:auto !important;padding:0;}
.clear10{height:0 !important;}