/*
Theme Name: The Morning After â€“ WordPress.com
Theme URI: http://theme.wordpress.com/themes/themorningafter/
Description: A classic magazine theme featuring a custom menu, header and background. The Morning After supports up to three widget areas on the home page, featured images for latest post and featured posts on the home page, and special style for Aside post format. It includes style for the Visual Editor, and has an optional full-width page template that removes the sidebar.
Version: 3.2.4
Author: WooThemes
Author URI: http://www.woothemes.com
License: GPL v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background: white;
	color: #333;
	line-height: 1;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,q:after {
	content: "";
}
blockquote,
q {
	quotes: "" "";
}
body {
	font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 75%;
	line-height: 1.5;
}
html > body {
	font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #111;
	font-family: Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
	line-height: 2;
}
h4 {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.25;
}
h5 {
	font-size: 1em;
	font-weight: bold;
}
h6 {
	font-size: 1em;
}
p {
	margin: 0 0 1.5em 0;
	text-align: left;
}
p.last {
	margin-bottom: 0;
}
p img {
	margin: 1.5em 1.5em 1.5em 0;
	padding: 0;
}
p img.top {
	margin-top: 0;
}
table img {
	margin: 0;
}
ul,ol {
	margin: 0 0 1.5em 1.5em;
}
ol {
	list-style-type: decimal;
}
dl {
	margin: 1.5em 0;
}
dl dt {
	font-weight: bold;
}
a {
	color: #125AA7;
	text-decoration: underline;
	outline: none;
}
a:hover {
	color: #000;
}
blockquote {
	color: #666;
	font-style: italic;
	margin: 1.5em 0 1.5em 1.5em;
}
strong {
	font-weight: bold;
}
var,
address,
cite,
em,
i {
	font-style: italic;
}
pre {
	background: #eee;
	border: 0.1em solid #ddd;
	margin-bottom: 1.3em;
	padding: 1.5em;
}
ins {
	background: none repeat scroll 0 0 #ffffcc;
	text-decoration: none;
}
code,
kbd,
tt {
	font: 0.9em Monaco,monospace;
}
sub {
    top: 0.5ex;
}
sup {
    bottom: 1ex;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
del {
	text-decoration: line-through;
}
big {
	font-size: 131.25%;
}
abbr,
acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}
hr {
	background: #B2CCFF;
	border: none;
	clear: both;
	color: #B2CCFF;
	float: none;
	height: 0.1em;
	margin: 0 0 1.4em 0;
	width: 100%;
}
* html hr {
	margin: 0 0 1.2em 0;
}
table {
	border-left: 0.1em solid #ddd;
	border-top: 0.1em solid #ddd;
	margin-bottom: 1.4em;
}
th,
td,
th {
	border-bottom: 0.1em solid #ddd;
	border-right: 0.1em solid #ddd;
	height: 1em;
	padding: 0.2em 0.4em;
}
th {
	font-weight: bold;
}
label {
	font-weight: bold;
}
p.small {
	font-size: 0.8em;
	margin-bottom: 1.875em;
	line-height: 1.875em;
}
p.large {
	font-size: 1.2em;
	line-height: 2.5em;
}
p.quiet {
	color: #666;
}
.hide {
	display: none;
}
.dquo {
	margin-left: -.7em;
}
p.incr,
.incr p {
	font-size: 0.83333em;
	line-height: 1.44em;
	margin-bottom: 1.8em;
}


/* grid.css
-------------------------------------------------------------- */

body {
	margin: 0;
	text-align: left;
}
.container {
	margin: 0 auto;
	padding: 0;
	position: relative;f
	text-align: left;
	width: 1175px;
}
.column {
	float: left;
	margin: 0 10px;
	padding: 0;
}
* html .column {
	overflow-x: hidden;
}
.border {
	border-right: 1px solid #ddd;
	margin-right: 0;
	padding-right: 9px;
}
.first {
	margin-left: 0;
}

.last {
	margin-right: 0;
}
.primary-sidebar,
.archive-info {
	width: 300px;
}
.secondary-sidebar {
	/*display:none;*/
        width: 335px;
}
.mid-column {
	width: 535px;
}
.primary-content {
	width: 855px;
}
.full-width {
	margin: 0;
	width: 1175px;
}
.box {
	background: #F0F0F0;
	margin-bottom: 1.5em;
	padding: 1.5em;
}
.clear {
	display: inline-block;
}
.clear:after,
.container:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clear {
	height: 1%;
}
.clear {
	display: block;
}
img {
	margin: 0 0 1.5em 0;
}
/* buttons.css */
a.button,
button {
	background-color: #f5f5f5;
	border-left: 0.1em solid #eee;
	border-top: 0.1em solid #eee;
	border: 0.1em solid #dedede;
	color: #565656;
	cursor: pointer;
	display: block;
	float: left;
	font-weight: bold;
	font: 100% "Lucida Grande",Tahoma,Arial,Verdana,sans-serif
	line-height: 130%;
	margin: 0 0.583em 0.667em 0;
	padding: 5px 10px 6px 7px;
	text-decoration: none;
}
button {
	overflow: visible;
	padding: 4px 10px 3px 7px;
	width: auto;
}
button[type] {
	line-height: 17px
	padding: 5px 10px 5px 7px;
}
*:first-child+html button[type] {
	padding: 4px 10px 3px 7px;
}
button img,a.button img {
	border: none;
	height: 16px;
	margin: 0 3px -3px 0 !important;
	padding: 0;
	width: 16px;
}
button:hover,
a.button:hover {
	background-color: #dff4ff;
	border: 0.1em solid #c2e1ef;
	color: #336699;
}
a.button:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}


/* Start The Morning After stylesheet
-------------------------------------------------------------- */

body {
	background: #ebeff2;
}
a {
	color: #000;
	text-decoration: none;
}
h2 {
	font-weight: normal;
}
.container {
	background: #fff;
	padding: 0px 20px 20px;
}


/* =Clear Setting
-------------------------------------------------------------- */

.clear {
	clear: both;
	display: block;
}
.clear-fix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


/* Header styles
-------------------------------------------------------------- */

#header {
	padding: 1.5em 0;
}
#header #logo {
	max-width: 531px;
}
#header #logo .title {
	color: #000;
	font: 700 3.45em arial, sans-serif;
	letter-spacing: -.050em;
	line-height: 1.2em;
	padding: 0.5em 0 0 0;
}
#header #logo .title .site-title {
	font-family: Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
	font-size: 1em;
	line-height: 1em;
}
#header #logo .title .desc {
	border-top: 1px solid #ccc;
	color: #666;
	font: 400 0.25em arial, sans-serif;
	letter-spacing: 0.2em;
	margin: 0.4em 0 0 0;
	padding: 0.6em 0 0 1.5em;
	text-align: right;
	text-transform: uppercase;
}
#header #logo .title a {
	color: #000;
	text-decoration: none;
}
#header #logo .title a:hover {
	background: #000;
	color: #fff;
}


/* Search and navigation
-------------------------------------------------------------- */

#header #search_menu {
	float: right;
	height: 90px;
	margin: 0 0 0 0.7em;
	width: 733px;
}
#header #search_menu #search {
	padding: 0 0 0 5px;
}
#menu {
	float: right;
	font-family: Helvetica, Arial;
	font-weight: bold;
	list-style: none;
	margin: 10px 0 0 2px;
	width: 400px;
}
#menu li {
	float: left;
	font-size: 0.9em;
	line-height: 1.6em;
	margin: 1px 12px 0 0;
	padding: 2px 0 3px 3px;
}
#menu li a {
	color: #000;
	padding: 0;
	text-decoration: none;
}
#menu li a:hover {
	padding: 0;
	text-decoration: underline;
}
#menu li span {
	display: block;
	float: left;
	padding: 0 0px 0 22px;
}
#menu li span.home {
	background: url(images/bg/home.gif) no-repeat;
}
#menu li span.about {
	background: url(images/bg/info.gif) no-repeat;
}
#menu li span.archives {
	background: url(images/bg/hourglass.gif) no-repeat;
}
#menu li span.subscribe {
	background: url(images/bg/favourite.gif) no-repeat;
}
#menu li span.contact {
	background: url(images/bg/mail.gif) no-repeat;
}


/* Top banner
-------------------------------------------------------------- */

#topbanner {
	border: solid #dadada;
	border-width: 1px 0;
	height: 70px;
}
#topbanner .pagetitle_prefix {
	background: #fff;
	color: #000;
	float: left;
	font: 700 2em arial, sans-serif;
	letter-spacing: -0.036em;
	margin: 20px 0 0 0;
	padding: 1px 5px 1px 0;
	text-transform: lowercase;
}
#topbanner .pagetitle {
	background: #fff;
	color: #000;
	float: left;
	font: 700 2em arial, sans-serif;
	letter-spacing: -0.036em;
	margin: 20px 0 0 0;
	padding: 1px 5px;
	text-transform: lowercase;
}


/* Home page columns
-------------------------------------------------------------- */

#home_left{
width: 500px;
}
#home_right{
	width: 655px;
}
#home_content {
	margin: 1.5em 0;
}
/* latest post */
#latest_post {
	padding: 0 0 1.5em 0;
}
#latest_post_image img {
	margin: 0 0 0.2em 0;
}
.latest_post_meta {
	font-size: 0.9em;
	line-height: 1.6em;
}
.latest_post_meta a {
	font-weight: bold;
}
.latest_post_meta a:hover {
	text-decoration: underline;
}
.latest_read_on {
	background: url(images/bg/readon.png) no-repeat top left;
	padding: 0 20px 1px 20px;
}
.latest_comments {
	background: url(images/bg/comment.png) no-repeat top left;
	padding: 0 20px 1px 20px;
}
.latest_category {
	background: url(images/bg/category.png) no-repeat top left;
	padding: 0 20px 1px 20px;
}
/* featured post */
#home_featured {
	background: #f2f2f2 url(images/bg/dot.png) repeat-x bottom left;
	margin: 0 0 1.1em 0;
	width: 100%;
}
.feat_content {
	padding: 0 0.7em 0.4em 0.7em;
	width: 453px;
}
.feat_content .attachment-featured_thumbnail {
	border: 1px solid #999;
	float: left;
	margin: 0.2em 1em 1em 0;
	padding: 0;
}
.feat_title {
	font: 700 12px georgia, serif;
	padding: 0 0 0.3em 0;
}
.feat_title a {
	color: #224970;
}
.feat_title a:hover {
	color: #000;
}
.feat_content .post_meta {
	padding:0;
}
.feat_exc a {
	color:#3A6999;
}
/* asides */
.format-aside {}

ul.arrow {
	list-style: none;
	margin: 0;
}
ul.arrow li {
	border-bottom: 1px solid #dadada;
	border-left: 5px solid #dadada;
	margin: 0 0 0.5em 0;
	padding: 0.3em 0 0.4em 12px;
}
ul.arrow li a {
	color: #3a6999;
}
ul.arrow li a:hover {
	background: #eee;
	color: #000;
}
/* about */
#feature {
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #dadada;
	margin: 0 0 1em 0;
	padding: 1.0em 0 0 0;
}
#feature p {
	text-align: left;
}
/* recent posts */
.home_recent_post {
	background: url(images/bg/dot.png) repeat-x bottom left;
	height: 62px;
	margin: 0 0 0.8em 0;
	padding: 0.1em 0 1.2em 0;
}
.home_recent_post img.woo-image {
	float: left;
	margin: 0 0 0.25em 0;
	margin: 0;
	padding: 0 10px 0 0;
}
.home_recent_title a {
	font-weight: bold;
}
.home_recent_date,
.home_recent_auth {
	color: #666;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}
.home_recent_exc p {
	color: #666;
	text-align: left;
}
/* Navigation */
#navigation {
	border-top: 1px solid #dadada;
	clear: both;
	display: block;
	font-size: 0.8em;
	font-weight: 700;
	margin: 0 auto;
	text-transform: uppercase;
	width: 1175px;
}
#navigation ul,
#navigation li {
	list-style: none;
	margin: 0;
}
#navigation ul.rss {
	background: url(images/ico-rss.png) no-repeat right 5px;
	margin: 0px;
	padding: 7px 15px 3px 0;
}
#navigation ul.rss li {
	display: inline;
	padding: 0 10px 0 0;
}
#navigation ul.rss li a {
	color: #c63f00;
	text-decoration: none;
}
#navigation ul.rss li a:hover {
	text-decoration: underline;
}
.nav {
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav a {
	color: #555;
	display: block;
	line-height: 18px;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}
.nav a:hover,
.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a {
	background: #eee;
}
.nav li {
	float: left;
	position: relative;
}
/* Drop-down menus */
.nav ul {
	background: #fff;
	border: 1px solid #dbdbdb;
	border-width: 1px 1px 0;
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 28;
	width: 200px;
	z-index: 999;
}
.nav ul li {
	background: #eee;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #fff;
	min-width: 200px;
}
.nav ul ul {
	left: 100%;
	top: -2px;
}
.nav ul a {
	color: #555;
	font-size: 0.8em;
	height: auto;
	padding: 8px 10px;
	width: 180px;
}
.nav ul li a:hover,
.nav ul li.current_page_item a,
.nav ul li.current-menu-item a {
	background: #eaeaea;
}
.nav li:hover > ul {
	display: block;
}
/** widgets **/
.widget {
	margin: 0 0 1.4em 0;
}

.widget a {
	color: #224970;
}
.widget a:hover {
	color: #000;
}
.widget ul,
.widget ol {
	list-style: none;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
.widget .children,
.widget .sub-menu {
	padding: 0.3em 0 0 0;
}
.widget ul li {
	background: url(images/bg/postbullet.png) no-repeat 0 2px;
	margin: 0 0 0.5em 0;
	padding: 0 0 0 20px;
}
.widget ol li {
	margin: 0 0 0.5em 0;
	padding: 0 0 0.3em 10px;
}
.widget > ul > li,
.widget > ol > li,
.widget > div > ul >li {
	border-bottom: 1px solid #dadada;
	padding: 0 0 0.3em 20px;
}
.widget img {
	margin: 0;
}
/*recent comments*/
ul#recentcomments li.recentcomments {
	background: url(images/bg/bubble.png) no-repeat 0 3px;
}
/*wp-calendar*/
table#wp-calendar {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 0;
	width: 100%;
}
table#wp-calendar caption {
	color: #175595;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	padding: 0 0 0.6em 0;
	text-transform: uppercase;
}
table#wp-calendar th,
table#wp-calendar td {
	border-right: 2px solid #fff;
	height: 1em;
	padding: 0.2em 0.4em;/*padding: 5px 7px;*/
	text-align: right;
}
table#wp-calendar td#prev {
	text-align: left;
}
table#wp-calendar th,
table#wp-calendar td#today {
	background: #dadada;
	border-bottom: 0;
	color: #000;
	font-weight: bold;
}
table#wp-calendar td#today {
	background: #f2f2f2;
	font-weight: bold;
}
table#wp-calendar td {
	border-bottom: 1px solid #efefef;
}
table#wp-calendar td a {
	font-weight: bold;
}
/*most e-mailed*/
.widget_email_most_emailed ul li {
	background: url(images/bg/doc.png) no-repeat 0 2px;
}
/*Authors*/
.widget_authors li img {
    margin: 0 5px 2px 0;
    vertical-align: middle;
}
/*Author Grid*/
.widget_author_grid .avatar {
	margin: 0;
}
/*Flickr widget*/
#flickr_badge_uber_wrapper,
#flickr_badge_wrapper {
	background-color: transparent!important;
	border: 0!important;
	margin: 0;
}
.widget_flickr td {
	border: 0;
	padding: 0;
}
.widget_flickr img {
	height: auto;
	width: auto;
}
.primary-sidebar .widget_flickr img {
	max-width: 190px;
}
.secondary-sidebar .widget_flickr img {
	max-width: 260px;
}
#post_content .widget_flickr tr,
#post_content .widget_flickr td {
	padding: 0;
}
/*Image widget*/
.widget_image .wp-caption {
	background-color: transparent;
	border: 0;
	padding: 0;
	text-align: left;
}
.widget_image .wp-caption p.wp-caption-text {
	padding-left: 0;
	text-align: left;
}
/*Recent Image widget*/
.recent_images {
	margin: 0;
	text-align: left;
}
/*Recent Comments widget*/
.recentcommentsavatar,
#post_content .recentcommentsavatar {
	border: 0;
	margin: 0;
}
.recentcommentsavatar td {
	border: 0;
}
td.recentcommentstextend,
td.recentcommentstexttop {
    vertical-align: middle;
}
td.recentcommentsavatartop,
td.recentcommentsavatarend {
    margin: 0;
    padding: 0 0 3px!important;
}
td.recentcommentstexttop,
td.recentcommentstextend {
	padding: 0 0 3px 10px!important;
}


/* Archive styles
-------------------------------------------------------------- */

#arch_content,
#post_content {
	margin: 1.5em 0;
}
.archive_meta {
	border-top: 1px solid #dadada;
	margin: 1.5em 0;

}
.archive_meta a {
	color: #666;
}
.archive_meta a:hover {
	color: #3a6999;
}
.archive_feed {
	background: url(images/bg/feedicon12.png) no-repeat 0 8px;
	border-bottom: 1px solid #dadada;
	color: #666;
	margin: 0;
	padding: 0.5em 1.5em;
}
.archive_number {
	background: url(images/bg/info.png) no-repeat 0 8px;
	border-bottom: 1px solid #dadada;
	color: #666;
	margin: 0;
	padding: 0.5em 1.5em;
}
.archive_post_block {
	border-bottom: 1px solid #dadada;
	margin: 0 0 1.2em 0;
	padding: 0.1em 0 0 0;
}
.archive_post_block img {
	height: auto;
	max-width: 540px;
}
.archive_post_block .wp-caption img {
	max-width: 530px;
}
.archive_post_meta {
	color: #666;
	font-size: 0.8em;
	padding: 0 0 0.6em 0;
	text-transform: uppercase;
}
.archive_post_meta a,
.post_meta a {
	color: #3a6999;
}
.archive_post_meta a:hover,
.post_meta a:hover {
	color: #000;
	text-decoration: underline;
}

/* Single post styles
-------------------------------------------------------------- */

.sticky {}

.post_meta {
	color: #666;
	font-size: 0.8em;
	padding: 0.3em 0 0.4em 0;
	text-transform: uppercase;
}
.post_meta_tag {
	color: #666;
}
.post_meta p img,
.post_meta a img {
	float: none;
	margin: 0;
	padding: 0;
}
.post_meta p {
	margin: 0 0 0.4em 0;
}
.post_text {
	margin: 0.9em 0 0 0;
}
.post_text p {
	line-height: 1.6em;
	margin: 0 0 1em 0;
	padding: 0;
}
.post_text a,
#latest_post p a,
.page .primary-content a {
	border-bottom: 1px solid #eee;
}
.post_text sup,
.post_text sub {
    font-size: 9px;
}
.post_text blockquote {
	color: #000;
	font-style: italic;
	font: bold 1.3em georgia, serif;
	letter-spacing: -0.048em;
	margin: 0 0 0 1.5em;
}
.post_text blockquote p {
	line-height: 1.5em;
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
.post_text img.size-auto,
.post_text img.size-full,
.post_text img.size-large,
.post_text img.size-medium,
.post_text .entry-attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	width: auto; /* Necessary for IE8 to resize images correctly. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
#post_content img.posttag {
	margin: 0 0.3em 0 0;
	padding: 0.1em 0 0 0;
}
#latest_post p a,
#post_content p a,
#arch_content p a,
.post_meta a,
.post_text a,
.page .primary-content a {
	color: #3a6999;
}
#latest_post p a:hover,
#post_content p a:hover,
#arch_content p a:hover,
.post_text a:hover,
.page .primary-content a:hover {
	color: #000;
	text-decoration: underline;
}
.primary-content table,
.mid-column table {
	margin: 0 0 22px 0;
	text-align: left;
	width: 100%;
}
.primary-content tr th,
.primary-content thead th,
.mid-column tr th,
.mid-column thead th {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
.primary-content tr td,
.mid-column tr td {
	padding: 6px 24px;
	vertical-align: middle;
}
.primary-content dd,
.mid-column dd {
    margin: 0 0 1em;
}
.primary-content ul ul,
.primary-content ul ul ul,
.primary-content ol ol,
.primary-content ol ol ol,
.mid-column ul ul,
.mid-column ul ul ul,
.mid-column ol ol,
.mid-column ol ol ol  {
	margin:0 0 0 1.5em;
}
#entry-author-info {
	background: #f5f5f5;
	border-top: 3px solid #999;
	clear: both;
	font-size: 12px;
	line-height: 18px;
	margin: 24px 0;
	overflow: hidden;
	padding: 9px 10px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -85px 0 0;
	padding: 5px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 85px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
#author-link a {
	color: #3A6999;
}
#author-link a:hover {
	color: #000;
	text-decoration: underline;
}


/* Comment area styles
-------------------------------------------------------------- */

#comments {
	margin: 3em 0 1em;
}
#commenthead {
	margin-bottom: 1em;
}
ol#commentlist,
ol#pinglist {
	list-style-type: none;
	margin: 0;
	padding: 0 0 12px 0;
}
ol#commentlist li.comment,
ol#pinglist li.comment {
	border-bottom: 1px solid #dadada;
	border-right: 3px solid #dadada;
	margin: 0 0 1.2em 0;
	padding: 0 1em 0 0;
}
ol#commentlist li.bypostauthor {
	border-bottom: 1px solid #000;
	border-right: 3px solid #000;
}
ol#commentlist li.alternate {
	border-bottom: 1px solid #dadada;
	border-right: 3px solid #999;
}
ol#commentlist cite {
	color: #818181;
	display: block;
	font-size: 0.8em;
	font-style: normal;
	text-align: left;
	text-transform: uppercase;
}
ol#commentlist cite a {
	color: #3a6999;
}
ol#commentlist cite a:hover {
	color: #000;
	text-decoration: underline;
}
ol#commentlist li blockquote {
	color: #818181;
	float: none;
	font: italic 1em arial, sans-serif;
	letter-spacing: 0;
	margin: 0.5em 0;
	padding: 0 2em 0 0;
	text-align: left;
	width: auto;
}
ol#commentlist li .commentauthor {
	font-weight: bold;
	color: #333;
}
ol#commentlist li .commentauthor a,
ol#commentlist li .commenttime a {
	font-weight: bold;
	color: #3a6999;
}
ol#commentlist li .commentauthor a:hover,
ol#commentlist li .commenttime a:hover {
	color: #000;
	text-decoration: underline;
}
ol#commentlist li .commnumber {
	float: left;
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	text-align: left;
	width: 30px;
}
ol#commentlist li .commentcont p {
	line-height: 1.6em;
	margin: 0 0 0.9em 0;
	padding: 0;
}
ol#commentlist li ul.children,
ol#commentlist li ul.children li ul {
	list-style: none;
	margin: 0 0 0 2em;
	padding: 0;
}
ol#commentlist li ul.children li,
ol#commentlist li ul.children li ul li {
	border-bottom: 0;
	border-right: 0;
	border-top: 1px dashed #bbb;
	margin: 0;
	padding: 1em 0 0 0;
}
.reply {
	margin: 0.6em 0 2em 0;
}
.reply a,
a#cancel-comment-reply-link {
	/*background: #3a6999;*/
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1em;
	padding: 0.2em 0.3em;
	text-transform: uppercase;
}
/* Target all Firefox to fix line-height issue */
@-moz-document url-prefix() {
	.reply a,
	a#cancel-comment-reply-link {
		padding: 0.3em 0.3em 0;
	}
}
.reply a:hover,
a#cancel-comment-reply-link:hover {
	/*background: #000;*/
	color: #fff;
}
.cancel-comment-reply {
	margin: 1em 0 1.6em 0;
}
.nocomments {
	padding:30px 0 0 0;
}
.page .nocomments {
	display:none;
}
h3#reply-title {
	margin: 0 0 20px 0!important;
}
#respond {
	padding: 1em 0 0 0;
}
/* Pings */
ol#pinglist .pingback a {
	color: #3a6999;
}
ol#pinglist .pingback a:hover {
	color: #000;
	text-decoration: underline;
}
ol#pinglist .pingback {
	color: #818181;
	font-size: 0.8em;
	font-style: normal;
	margin: 0.6em 0 2em;
	text-align: left;
	text-transform: uppercase;
}
/* comment form */
#commentform {
	width: 350px;
}
#commentform p {
	margin: 0 0 10px 0;
	text-align: left;
}
#commentform label {
	color: #000;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    text-transform: uppercase;
}
.comment-notes,
.form-allowed-tags,
.logged-in-as,
.must-log-in {
	font-size: 11px;
}
#commentform input[type="text"],
#commentform textarea {
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #999;
	border-right: 1px solid #dadada;
	border-top: 1px solid #999;
	padding: 2px;
	width: 98%;
}
#commentform input[type="text"]:focus,
#commentform input[type="text"]:hover,
#commentform textarea:focus,
#commentform textarea:hover {
	background: #f7f7f7;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #999;
	border-right: 1px solid #dadada;
	border-top: 1px solid #999;
}
#commentform textarea {
	height: 180px;
}
#reply-title a#cancel-comment-reply-link {
	font-size: 1em;
	margin: 0 0 0 10px;
}
/* archives page */
ul.archives,
ul.wp-tag-cloud {
	list-style: none;
	margin: 0 0 1.5em 0;
}
ul.archives li,
ul.wp-tag-cloud li {
	background: url(images/bg/doc.png) no-repeat 0 2px;
	padding: 0 0 0.2em 20px;
}
ul.archives li a,
ul.wp-tag-cloud li a {
	color: #224970;
}
ul.archives li a:hover,
ul.wp-tag-cloud li a:hover {
	background: #eee;
	color: #000;
}
/* contact form */
.contact-form label {
	color: #000;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    text-transform: uppercase;
}
.contact-form input[type="text"],
.contact-form textarea {
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #999;
	border-right: 1px solid #dadada;
	border-top: 1px solid #999;
	padding: 2px;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="text"]:hover,
.contact-form textarea:focus,
.contact-form textarea:hover {
	background: #f7f7f7;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #999;
	border-right: 1px solid #dadada;
	border-top: 1px solid #999;
}


/* Footer
-------------------------------------------------------------- */

#footer {
	background: url(images/bg/dot.png) repeat-x top left;
	color: #666;
	padding: 1em 0 0 0;
}
#footer p,
#footer img {
	float: none;
	margin: 0px;
}
#footer img {
	vertical-align: top;
}
#footer #credit p {
	text-align: right;
}
#copyright,
#credit{
	width: 470px;
}


/* Form styles
-------------------------------------------------------------- */

input.search_input {
	background: #fff url(images/bg/input.png) no-repeat;
	border: 0;
	color: #333;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 6px;
	width: 292px;
}
input.submit_input {
	background: /*#E0691A*/ url(images/bg/submit.png) no-repeat;
	border: 0;
	color: #fff;
	float: left;
	font: bold 0.9em arial, sans-serif;
	height: 24px;
	margin: 0 0 0 5px;
	padding: 0;
	width: 65px;
}
input.submit_input:hover {
	cursor: pointer;
}


/* Miscellaneous styles
-------------------------------------------------------------- */

/* heading styles */
.archive_name,
.post_name {
	font-size: 2em;
	letter-spacing: -0.04em;
}
.author_description {
	color: #666;
	font-size: 11px;
	line-height: 1.4em;
}
.post_cat {
	border-bottom: 1px solid #dadada;
	color: #999;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin: 0 0 1em 0;
	padding: 0 0 0.2em 0;
	text-transform: uppercase;
}
.post_cat a {
	color:#999;
}
h2.post_comm {
	background: url(images/bg/stripe.png) repeat;
	border-bottom: 1px solid #dadada;
	border-top: 3px solid #999;
	color: #000;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin: 0 0 0.2em 0;
	padding: 0.6em 0 0.4em 0.6em;
	text-transform: uppercase;
}
h2.post_comm2,
h3#reply-title {
	border-bottom: 1px solid #dadada;
	color: #000;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin: 0 0 0.2em 0;
	padding: 0.3em 0 0.2em 0;
	text-transform: uppercase;
}
.latest_post_title {
	font: bold 1.6em arial, sans-serif;
	letter-spacing: -.035em;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
}
h3.latest_post_title a:hover {
	background: #000;
	color: #fff;
}
h3.home_featured {
	background: url(images/bg/dot.png) repeat-x top left;
	color: #5f9410;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	padding: 1em 0.7em 0.9em 0.7em;
	text-transform: uppercase;
}
h3.mast {
	color: #a11b1b;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	padding: 0 0 0.6em 0;
	text-transform: uppercase;
}
h3.mast2 {
	color: #5f9410;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1.8em;
	padding: 0 0 0.2em 0;
	text-transform: uppercase;
}
h3.mast3 {
	color: #224970;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	padding: 0 0 0.2em 0;
	text-transform: uppercase;
}
h3.mast4 {
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	padding: 0 0 0.6em 0;
	text-transform: uppercase;
}
h3.mast5 {
	color: #5f9410;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	padding: 0 0 0.2em 0;
	text-transform: uppercase;
}
h3.archive_title {
	line-height: 1em;
	padding: 0 0 5px 0;

}
h3.archive_title a {
	color: #000;
	font: bold 1.0em arial, sans-serif;
	letter-spacing: -0.036em;
}
h3.archive_title a:hover {
	color: #fff;
	background: #000;
}
h4.gall {
	color: #5f9410;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	padding: 0 0 0.4em 0;
	text-transform: uppercase;
}
/* miscellaneous */
.none {
	display: none;
}
.border_left {
	border-left: 1px solid #ddd;
	margin-left: 0;
	padding-left: 9px;
}
.dot {
	font-family: "lucida sans unicode", "arial unicode ms", sans-serif;
}
.navigation {
	color: #818181;
}
input.Forms,
textarea.Forms {
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #999;
	border-right: 1px solid #dadada;
	border-top: 1px solid #999;
	padding: 2px;
}
input.buttonem {
	background: #dadada;
	float: left;
}
.filedunder {
	background: #111;
	color: #eee;
	font-size: 1em;
	line-height: 1em;
	padding: 0.1em 0.4em;
	text-transform: uppercase;
}
/* Target all Firefox to fix line-height issue */
@-moz-document url-prefix() {
	.filedunder {
		padding: 0.3em 0.3em 0;
	}
}
.fright {
	float: right;
	margin: 0 0 0.3em 0.7em;
}
.fright img {
	border: 3px solid #DADADA;
}
.clear {
	clear: both;
}
.fl {
	float: left
}
.fr {
	float: right
}
/* legacy image caption classes */
.captionleft {
	float: left;
	margin: 0 1.5em 1em 0;
	padding: 0.5em;
	text-align: left;
}
.captionright {
	float: right;
	margin: 0 0 1em 1.5em;
	padding: 0.5em;
	text-align: left;
}
.captionfull {
	margin: 0 0 1em 0;
	padding: 0;
	text-align: left;
}
.captionleft img,
.captionright img,
.captionfull img {
	display: block;
	margin: 0;
}
.captionleft p,
.captionright p,
.captionfull p {
	background: #eee;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	color: #555;
	font-size: 0.9em;
	line-height: 1.6em;
	margin: 0;
	padding: 0.5em;
}
/* image styles */
.aligncenter,
div.aligncenter {
	display: block;
	margin: 14px auto;
}
.alignleft {
	float: left;
	margin: 0 14px 10px 0;
}
.alignright {
	float: right;
	margin: 0 0 10px 14px;
}
.wp-caption {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #f3f3f3;
	border-radius: 3px;
	border: 1px solid #ddd;
	max-width: 100%;
	padding-top: 4px;
	text-align: center;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98%;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 14px;
	margin: 0;
	padding: 5px 4px 5px 5px;
	text-align: center;
}
p .wp-smiley {
	margin:0;
}
/*gallery thumbnails */
dt.gallery-icon a {
	border: 0;
}
dt.gallery-icon img {
	border: 5px solid #e7e7e7;
	margin: 0;
	padding: 0;
}
.gallery img {
	border: 0;
}
.gallery {
	margin: 0 0 1em 0;
	width: 100%;
}
dl.gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 dl.gallery-item {
	width: 50%;
}
.gallery-columns-4 dl.gallery-item {
	width: 25%;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
dd.gallery-caption {
	font-size: 0.8em;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 5px 0 3px 0;
	text-align: center;
	text-transform: uppercase;
}
.gallery br+br {
	display: none;
}
.entry-content-wrapper {
	padding: 1.5em 0 0 0;
	width: 940px;
}
.entry-attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* Page and Post navigation
-------------------------------------------------------------- */

.page-navigation {
	margin: 10px 0;
	word-spacing: 0.5em;
}
.page-navigation a {
	background-color: #e2e2e2;
	padding: 5px 8px;
}
.post-navigation a {
	color: #3A6999;
}
.post-navigation a:hover {
	color: #000;
	text-decoration: underline;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* Post navigation
-------------------------------------------------------------- */

p.attachment img {
	margin: 0;
}


/* =WP.com
----------------------------------------------- */

.sharing {
	clear: both;
}


/* IE7 styles
-------------------------------------------------------------- */

#ie7 .clear-fix {
	height: 1%;
}
#ie7 img {
	-ms-interpolation-mode: bicubic;
}
#ie7 h2.archive_name {
	letter-spacing: -0.07em;
}
#ie7 h3.archive_title a {
	letter-spacing: -0.05em;
}
#ie7 h3.latest_post_title {
	line-height: 1.6em;
}
#ie7 .home_recent_thumb {
	float: left;
	margin: 0 0 0.3em 0;
	padding: 0 8px 0 0;
}
#ie7 .archive_feed {
	background: url(images/bg/feedicon12.png) no-repeat 0 9px;
	border-bottom: 1px solid #dadada;
	margin: 0;
	padding: 0.5em 1.5em;
}
#ie7 .archive_post_block {
	padding: 0.6em 0 0 0;
}
#ie7 .archive_post_block {
	border-bottom: 1px solid #dadada;
	margin: 0 0 1em 0;
	padding: 0.1em 0 0 0;
}
#ie7 table#wp-calendar th {
	border-right: 0;
}
#ie7 table#wp-calendar td {
	border-right: 1px solid #fff;
}
#ie7 #flickr_badge_uber_wrapper,
#ie7 #flickr_badge_wrapper {
	margin: -10px 0 -10px -10px;
}
#ie7 .post_text ol {
	margin: 0 0 1.5em 2em;
}
#ie7 .post_text ol ol,
#ie7 .post_text ol ol ol {
	margin: 0 0 0 2em;
}
#ie7 .commentcont {
	height: 1%;
}
#ie7 .avatar {
	margin: 0;
}