

/* Start:/bitrix/templates/msu/calculator.css?147861352821753*/
.mobile-content {
  display: none !important;
}
/*------------calculator-header-pane------------------*/
.calculator-header-pane {
  margin-bottom: 5px;
  overflow: hidden;
}
.calculator-header-pane.pane-border {
  padding-bottom: 7px;
  border-bottom: 1px solid #dddddd;
}
.calculator-header-pane .calculator-header-pane-left {
  float: left;
}
.calculator-header-pane .calculator-header-pane-right {
  float: right;
}
.calculator-header-pane h1 {
  margin: 0 0 13px;
  line-height: normal;
}
.calculator-header-pane .city-list {
  margin: 0;
  padding: 0;
}
.calculator-header-pane .city-list li {
  margin: 0 0 0 16px;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.calculator-header-pane .city-list li:before {
  display: none;
}
.calculator-header-pane .city-list li.active a {
  text-decoration: none;
  color: #000000;
}
.calculator-header-pane .print {
  text-decoration: none;
  color: #000000;
}
.calculator-header-pane .print .ico-print {
  margin-top: 3px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  float: left;
  background: url("/images/ico-print2.svg") no-repeat;
  background-size: 100%;
}
/*------------education-categories-block------------------*/
.education-categories-block {
  margin-top: 26px;
  margin-left: -4px;
  line-height: 0;
  font-size: 0;
}
.education-categories-block .education-categories-item {
  margin-bottom: 4px;
  padding-left: 4px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.education-categories-block .education-categories-item a {
  text-decoration: none;
}
.education-categories-block .education-categories-item .education-categories-img img {
  width: 100%;
}
.education-categories-block .education-categories-item .education-categories-item-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  line-height: normal;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
/*------------passport-program-block------------------*/
.passport-program-block {
  margin: 23px 0 48px;
  overflow: hidden;
}
.passport-program-block .specialty {
  padding-top: 22px;
  width: 70%;
  float: left;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #000000;
}
.passport-program-block .specialty b {
  font-size: 22px;
}
.passport-program-block .specialty-preview {
  padding: 18px 5px 8px 25px;
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  line-height: normal;
  font-size: 14px;
  background: #f6f5f4;
}
.passport-program-block .specialty-preview .specialty-preview-item {
  margin-bottom: 13px;
  overflow: hidden;
}
.passport-program-block .specialty-preview .specialty-preview-item-name {
  margin-right: 18px;
  width: 110px;
  float: left;
  font-size: 12px;
  color: #878787;
}
.passport-program-block .specialty-preview .specialty-preview-item-value {
  overflow: hidden;
  zoom: 1;
}
/*------------passport-program-table------------------*/
.passport-program-table {
  margin-bottom: 24px;
  width: 100%;
  border: 1px solid #d5d5d5;
  font-size: 14px;
}
.passport-program-table b {
  font-size: 16px;
}
.passport-program-table tr:nth-child(even) td {
  background: #f6f5f4;
}
.passport-program-table tr td:first-child {
  padding-left: 19px;
}
.passport-program-table td {
  padding: 25px 37px 22px;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}
.passport-program-list {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.passport-program-list li {
  padding: 0 !important;
  margin-bottom: 7px !important;
  list-style: none;
}
.passport-program-list li:before {
  display: none !important;
}
.passport-program-list-name {
  margin-right: 12px;
  width: 120px;
  float: left;
}
.passport-program-list-value {
  overflow: hidden;
  zoom: 1;
  font-weight: bold;
}
/*------------calculator-filter-wrap------------------*/
.calculator-filter-wrap {
  margin-bottom: 32px;
}
.calculator-filter-top-pane {
  margin-bottom: 26px;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
}
.calculator-filter-top-pane .calculator-filter-select-block {
  width: 50%;
  float: left;
}
.calculator-filter-top-pane .calculator-filter-select-block .field_radio {
  margin: 0;
  width: 50%;
  float: left;
}
.calculator-filter-top-pane .calculator-filter-select-block .field_radio label {
  padding-top: 0;
  position: relative;
  top: 4px;
  font-size: 16px;
  font-weight: bold;
}
.calculator-filter-bottom-pane {
  margin-bottom: 40px;
  width: 100%;
  display: table;
}
.calculator-filter-bottom-pane .calculator-filter-select-subject {
  display: table-cell;
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field_radio {
  margin: 0 0 14px;
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field_radio label {
  padding: 0 9px 0 0;
  position: relative;
  /*top: 2px;*/
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field_radio .iradio_ichek {
	top: -2px; 
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field_radio .icheckbox_ichek {
	top: -2px; 
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field {
  display: inline-block;
  vertical-align: middle;
}
.entrance-tests-marks{
	margin: -11px 0 0 0 !important;	
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field input {
  padding: 0 7px;
  height: 28px;
  width: 96px;
  line-height: 29px;
  font-size: 14px;
  color: #000000;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.18);
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.18);
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field input::-webkit-input-placeholder {
  font-size: 11px;
  color: #767676;
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field input::-moz-placeholder {
  font-size: 11px;
  color: #767676;
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field input:-moz-placeholder {
  font-size: 11px;
  color: #767676;
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .field input:-ms-input-placeholder {
  font-size: 11px;
  color: #767676;
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .col-3 {
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
}
.calculator-filter-bottom-pane .calculator-filter-select-subject .col-2 {
  display: none;
}
.calculator-filter-num-mark {
  width: 22%;
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  font-size: 14px;
  color: #000000;
  border-left: 1px solid #dddddd;
}
.calculator-filter-num-mark b {
  font-size: 44px;
  font-weight: bold;
  color: #2f3950;
}
.calculator-filter-select-attainments {
  margin-bottom: 20px;
  padding-bottom: 20px;
  line-height: normal;
  font-size: 14px;
  color: #000000;
  border-bottom: 1px solid #dddddd;
  display: none;
}
.calculator-filter-select-attainments .field_radio {
  margin: 0 0 20px 22px;
  overflow: hidden;
}
.calculator-filter-select-attainments .field_radio .icheckbox_ichek {
  float: left;
}
.calculator-filter-select-attainments .field_radio label {
  display: block !important;
  overflow: hidden;
  zoom: 1;
  text-align: left;
  line-height: 20px;
  font-size: 13px;
  color: #4f4f4f;
}
.calculator-faculty-block {
  margin-bottom: 30px;
}
.calculator-faculty-block .calculator-faculty-title {
  margin-bottom: 24px;
}
.calculator-faculty-block .calculator-faculty-title a {
  line-height: normal;
  text-decoration: none;
  font-size: 18px;
  color: #364464;
  font-weight: bold;
  border-bottom: 1px solid #c2c7d0;
}
.calculator-faculty-block .calculator-faculty-title a:hover {
  border-bottom: 1px solid transparent;
}
.calculator-faculty-block .calculator-faculty-title .faculty-hide {
  margin-left: 32px;
  font-size: 13px;
  font-weight: normal;
  color: #848484;
}
.calculator-faculty-table{
	width: 100%;
}
.calculator-faculty-block .calculator-faculty-table tr {
  border-top: 1px solid #dddddd;
}
.calculator-faculty-block .calculator-faculty-table tr td {
  /*padding: 17px 14px 28px;*/
  padding: 17px 14px 0;
  max-width: 165px;
  text-align: left;
  vertical-align: top;
  line-height: 1.4;
  font-size: 12px;
  color: #7e7e7e;
}
.calculator-faculty-block .calculator-faculty-table tr td b {
  font-size: 16px;
  color: #000000;
}
.calculator-faculty-block .calculator-faculty-table tr td:first-child {
  padding-left: 0;
  padding-right: 0;
}
.calculator-faculty-block .calculator-faculty-table tr td:last-child {
  padding-right: 0;
}
.calculator-faculty-block .calculator-faculty-table th {
  padding: 8px 14px 5px;
  text-align: left;
  vertical-align: bottom;
  line-height: normal;
  font-size: 12px;
  font-weight: normal;
  color: #848484;
}
.calculator-faculty-block .calculator-faculty-table th:first-child {
  padding-left: 0;
}
.calculator-faculty-block .calculator-faculty-table th:last-child {
  padding-right: 0;
}
.calculator-faculty-block .va-middle {
  vertical-align: middle;
}
.calculator-faculty-block .min-mark {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #000000;
}
.calculator-faculty-block .ico-question {
  margin-top: 5px;
  margin-left: 5px;
  float: right;
  vertical-align: middle;
}
.calculator-faculty-block .t-red {
  color: #ff4847 !important;
}
.subject-list li {
  margin: 0 0 9px !important;
  padding: 0 !important;
  list-style: decimal !important;
  font-size: 13px;
  color: #000000 !important;
}
.subject-list li span {
  font-size: 12px;
}
.subject-list li:before {
  display: none !important;
}
.ico-question {
  width: 16px;
  height: 16px;
  background: url("/images/ico-question.svg") no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1025px) {
  .calculator-filter-top-pane .calculator-filter-select-block .field_radio {
    margin: 0 0 11px;
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 768px) {
  .desktop-content {
    display: none !important;
  }
  .mobile-content {
    display: block !important;
  }
  .wrap-calculator .aside_left {
    margin-top: 0;
    display: none;
  }
  .wrap-calculator .section_main {
    width: 100%;
    border: none;
  }
  .wrap-calculator .content {
    padding: 27px 20px 50px;
  }
  .wrap-calculator .logo {
    padding: 50px 0 0 0;
    width: 100%;
    height: 104px;
    font-size: 12px;
    line-height: 17px;
    float: none;
    text-align: left;
    background-position: 6px 50px;
  }
  .wrap-calculator .logo a {
    margin: 0 0 0 128px;
    width: 295px;
    display: block;
  }
  .wrap-calculator .header {
    display: none;
  }
  /*------------calculator-header-pane------------------*/
  .calculator-header-pane {
    text-align: center;
  }
  .calculator-header-pane.pane-border {
    padding-bottom: 0;
    border-bottom: none;
  }
  .calculator-header-pane .calculator-header-pane-left {
    float: none;
    font-size: 18px;
  }
  .calculator-header-pane .calculator-header-pane-right {
    float: none;
  }
  .calculator-header-pane .city-list {
    margin-bottom: 5px;
    text-align: center;
  }
  .calculator-header-pane .city-list li {
    margin: 0 14px;
  }
  .calculator-header-pane .city-list li a {
    font-size: 18px;
  }
  .calculator-header-pane h1 {
    margin: 0 0 13px;
    font-size: 32px;
  }
  .calculator-header-pane .print {
    display: none;
  }
  /*------------passport-program-block------------------*/
  .passport-program-block {
    margin: -10px 0 22px;
  }
  .passport-program-block .specialty {
    width: 100%;
    float: none;
    line-height: 1.3;
    font-size: 18px;
  }
  .passport-program-block .specialty b {
    font-size: 24px;
  }
  .passport-program-block .specialty-preview {
    margin: 20px 0 0;
    padding: 10px 20px;
    width: 100%;
    float: none;
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    text-align-last: justify;
  }
  .passport-program-block .specialty-preview:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }
  .passport-program-block .specialty-preview .specialty-preview-item {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: normal;
    font-size: 18px;
    text-align: left;
    text-align-last: left;
  }
  .passport-program-block .specialty-preview .specialty-preview-item-name {
    margin-bottom: 4px;
    width: 100%;
    float: none;
    font-size: 18px;
  }
  /*------------passport-program-table------------------*/
  .passport-program-table {
    margin-bottom: 43px;
    font-size: 18px;
  }
  .passport-program-table b {
    font-size: 24px;
  }
  .passport-program-table tr td:first-child {
    padding-left: 20px;
  }
  .passport-program-table td {
    padding: 23px 24px 21px 24px;
  }
  .passport-program-list-name {
    margin-right: 11px;
    width: 140px;
  }
  /*------------passport-program-description------------------*/
  .passport-program-description {
    line-height: 1.4;
    font-size: 20px;
  }
  .passport-program-description h2 {
    margin-bottom: 12px;
    line-height: normal;
    font-size: 20px;
  }
  /*------------calculator-filter-wrap------------------*/
  .calculator-filter-wrap {
    margin-bottom: 30px;
  }
  .calculator-filter-top-pane {
    margin-bottom: 20px;
    padding-bottom: 8px;
  }
  .calculator-filter-top-pane .calculator-filter-select-block .field_radio {
    margin: 0 0 11px;
    width: 100%;
    float: none;
  }
  .calculator-filter-top-pane .calculator-filter-select-block .field_radio label {
    top: 5px;
    font-size: 18px;
  }
  .calculator-filter-bottom-pane {
    display: block;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject {
    margin-bottom: 25px;
    display: block;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .field_radio label {
    padding: 0 12px 0 0;
    top: 5px;
    font-size: 18px;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .field {
    display: inline-block;
    vertical-align: middle;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .field input {
    padding: 0 8px;
    width: 100px;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .col-3 {
    display: none;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .col-2 {
    margin-right: -5px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .calculator-filter-num-mark {
    padding-bottom: 17px;
    width: 100%;
    display: block;
    font-size: 18px;
    border-left: none;
    border-bottom: 1px solid #dddddd;
  }
  .calculator-filter-num-mark b {
    font-size: 58px;
  }
  .calculator-filter-select-attainments {
    margin-bottom: 9px;
    padding-bottom: 25px;
    font-size: 18px;
  }
  .calculator-filter-select-attainments .field_radio {
    margin: 0 0 15px 11px;
  }
  .calculator-faculty-block .calculator-faculty-title {
    margin-bottom: 30px;
  }
  .calculator-faculty-block .calculator-faculty-title a {
    font-size: 24px;
  }
  .calculator-faculty-preview {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
  }
  .calculator-faculty-preview-item {
    margin-bottom: 17px;
  }
  .calculator-faculty-preview-item-name {
    padding-right: 45px;
    margin-right: -5px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    line-height: normal;
    font-size: 14px;
    color: #848484;
  }
  .calculator-faculty-preview-item-name b {
    font-size: inherit !important;
  }
  .calculator-faculty-preview-item-value {
    padding-right: 45px;
    margin-right: -5px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    line-height: 1.4;
    font-size: 14px;
    color: #7e7e7e;
  }
  .calculator-faculty-preview-item b {
    font-size: 20px;
    color: #000;
  }
  .calculator-faculty-block .ico-question {
    margin-top: 1px;
    margin-left: 18px;
    float: none;
    display: inline-block;
  }
  .calculator-faculty-block .min-mark {
    text-align: left;
    font-size: 34px;
  }
  .subject-list li {
    margin-left: 15px !important;
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  /*------------education-categories-block------------------*/
  .education-categories-block {
    margin: 19px 0 0 0;
  }
  .education-categories-block .education-categories-item {
    padding: 0;
    margin-bottom: 18px;
    width: 100%;
    height: 232px;
    overflow: hidden;
  }
  .education-categories-block .education-categories-item .education-categories-item-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 480px) {
  .wrap-calculator .content {
    padding-left: 13px;
    padding-right: 13px;
  }
  .calculator-header-pane h1 {
    font-size: 24px;
  }
  .passport-program-block .specialty-preview {
    margin: 20px 0 19px;
  }
  .passport-program-block .specialty-preview .specialty-preview-item {
    font-size: 14px;
  }
  .passport-program-block .specialty-preview .specialty-preview-item-name {
    font-size: 14px;
  }
  .passport-program-table tr td:first-child {
    padding-left: 10px;
  }
  .passport-program-table td {
    padding: 17px 7px 13px 10px;
    font-size: 14px;
    border: none;
  }
  .passport-program-table td b {
    font-size: 18px;
  }
  .passport-program-list li {
    margin-bottom: 5px;
  }
  .passport-program-list-name {
    margin-right: 13px;
    width: 110px;
  }
  .passport-program-description {
    font-size: 14px;
  }
  .passport-program-description h2 {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .field input {
    margin-left: 35px;
  }
  .calculator-filter-num-mark {
    padding-bottom: 14px;
  }
  .calculator-filter-num-mark b {
    font-size: 58px;
  }
  .calculator-filter-select-attainments {
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .calculator-filter-select-attainments .field_radio {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 320px) {
  .wrap-calculator .content {
    padding-left: 10px;
    padding-right: 10px;
  }
  /*------------calculator-header-pane------------------*/
  .calculator-header-pane .calculator-header-pane-left {
    padding: 0 11px;
    line-height: normal;
    font-size: 14px;
  }
  .calculator-header-pane .city-list {
    margin-bottom: 21px;
  }
  .calculator-header-pane .city-list li {
    margin: 0 10px;
  }
  .calculator-header-pane .city-list li a {
    font-size: 18px;
  }
  .calculator-header-pane h1 {
    margin-bottom: 8px;
    font-size: 24px;
  }
  /*------------education-categories-block------------------*/
  .education-categories-block {
    margin-top: 15px;
  }
  .education-categories-block .education-categories-item {
    margin-bottom: 15px;
    height: auto;
  }
  .education-categories-block .education-categories-item .education-categories-item-title {
    line-height: 28px;
    font-size: 24px;
  }
  .passport-program-block .specialty-preview {
    padding: 10px 8px;
  }
  .passport-program-block .specialty-preview .specialty-preview-item {
    max-width: 113px;
  }
  /*------------calculator-filter-wrap------------------*/
  .calculator-filter-wrap {
    margin-bottom: 15px;
  }
  .calculator-filter-top-pane {
    margin-bottom: 16px;
    padding-bottom: 14px;
  }
  .calculator-filter-top-pane .calculator-filter-select-block {
    width: 100%;
    float: none;
  }
  .calculator-filter-top-pane .calculator-filter-select-block .field_radio {
    margin: 0 0 13px;
    width: 100%;
    float: none;
  }
  .calculator-filter-top-pane .calculator-filter-select-block .field_radio label {
    top: 5px;
    font-size: 18px;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject {
    margin-bottom: 23px;
    display: block;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .field {
    display: block;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .col-3 {
    display: none;
  }
  .calculator-filter-bottom-pane .calculator-filter-select-subject .col-2 {
    display: none;
  }
  .calculator-filter-select-attainments {
    margin-bottom: 10px;
    padding-bottom: 0;
  }
}


#calc-preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('/images/calc-preloader.gif') 49% 49% no-repeat #000;
	opacity: 0.5;
	left: 0;
    top: 0;
    z-index: 100000;
	display: none;
}



#calc-filter .icheckbox_ichek,
#calc-filter .icheckbox_ichek.static:hover {
    background-position: -52px 0;
}
#calc-filter .icheckbox_ichek.hover,
#calc-filter .icheckbox_ichek:hover {

}
#calc-filter .icheckbox_ichek.checked {
	background-position:  -76px 0;
}
#calc-filter .icheckbox_ichek.disabled {
	background-position: right 0;
	cursor: default;
}
#calc-filter .icheckbox_ichek.checked.disabled {
	 background-position:  -76px 0;
}

#calc-result-programs .subject-list li.is-dvi {
	margin: 0 0 20px 0;
}
.wrap .msu-content .content{
	padding: 0;
}

.dvi-info-block {
	position: relative;
}

.dvi-text-block {
	display: none;
	position: absolute;
	top: 40px;
	right: -25px;
	width: 400px;
	background-color: #fff;
	border: 1px solid #dddddd;
	padding: 5px 10px;
	z-index: 1;
}
/* End */


/* Start:/bitrix/templates/msu/libs/fotorama/fotorama.css?140137076314242*/
/*!
 * Fotorama 4.5.1 | http://fotorama.io/license/
 */
.fotorama__html,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}.fotorama__img,.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}.fotorama__img{margin:-50% 0 0 -50%;width:100%;height:100%}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame{-webkit-transform:translateZ(0);transform:translateZ(0)}.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft{-webkit-transform:none!important;transform:none!important}.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-timing-function:cubic-bezier(0.1,0,.25,1);-webkit-transition-duration:0ms;transition-duration:0ms}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fotorama__nav,.fotorama__nav__frame{margin:0;padding:0}.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft{-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}.fotorama__wrap *{-moz-box-sizing:content-box;box-sizing:content-box}.fotorama__caption__wrap{-moz-box-sizing:border-box;box-sizing:border-box}.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{-webkit-tap-highlight-color:rgba(0,0,0,0)}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(/bitrix/templates/msu/libs/fotorama/fotorama.png) no-repeat}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi){.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(/bitrix/templates/msu/libs/fotorama/fotorama@2x.png) no-repeat;background-size:96px 160px}}.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}.fotorama{min-width:1px;overflow:hidden}.fotorama:not(.fotorama--unobtrusive)>:not(:first-child){display:none}.fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage{background:#000}.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr}.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}.fotorama__nav,.fotorama__stage{overflow:hidden;position:relative;max-width:100%}.fotorama__wrap--pan-y{-ms-touch-action:pan-y}.fotorama__wrap .fotorama__pointer{cursor:pointer}.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}.fotorama__stage__frame{overflow:hidden}.fotorama__stage__frame.fotorama__active{z-index:8}.fotorama__wrap--fade .fotorama__stage__frame{display:none}.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active{display:block;left:0;top:0}.fotorama__wrap--fade .fotorama__fade-front{z-index:8}.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}.fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;border:none!important}.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img{-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage{max-width:99999px!important}.fotorama__wrap--only-active .fotorama__stage__frame{visibility:hidden}.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}.fotorama__nav__frame{position:relative;cursor:pointer}.fotorama__nav--dots{display:block}.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}.fotorama__nav--thumbs{display:block}.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}.fotorama__dot{display:block;width:6px;height:6px;position:relative;top:12px;left:6px;border-radius:6px;border:3px solid}.fotorama__nav__frame.fotorama__active{pointer-events:none;cursor:default}.fotorama__nav__frame.fotorama__active .fotorama__dot{width:6px;height:6px;background: #fff}.fotorama__dot{border-color:#fff}.fotorama__active .fotorama__dot{background-color:#fff}.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:-webkit-linear-gradient(top left,rgba(255,255,255,.25),rgba(64,64,64,.1));background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))}.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption{display:none}.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img{-webkit-transition-property:opacity;transition-property:opacity;-webkit-transition-timing-function:linear;transition-timing-function:linear;-webkit-transition-duration:.3s;transition-duration:.3s}.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}.fotorama__select{cursor:auto}.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}@-moz-document url-prefix(){.fotorama__active{box-shadow:0 0 0 transparent}}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{position:absolute;z-index:11;cursor:pointer}.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}.fotorama__arr--prev{left:0;background-position:0 0}.fotorama__arr--next{right:0;background-position:-32px 0}.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}.fotorama__fullscreen-icon{width:32px;height:32px;top:0;right:0;background-position:0 -32px;z-index:20}.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;opacity:0}.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play{opacity:1;display:block}.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px}.fotorama__video-close{width:32px;height:32px;top:0;right:0;background-position:-64px 0;z-index:20;opacity:0}.fotorama__wrap--css2 .fotorama__video-close{display:none}.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--video .fotorama__video-close{display:block;opacity:1}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon,.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{opacity:0}.fotorama__wrap--css2.fotorama__wrap--no-controls .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls .fotorama__fullscreen-icon,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon{display:none}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{-webkit-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next,.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{-webkit-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transition-property:-webkit-transform,opacity;transition-property:transform,opacity;-webkit-transition-duration:.3s;transition-duration:.3s}.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}.fotorama__nav:before,.fotorama__stage:before{background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.2)25%,rgba(0,0,0,.3)75%,transparent),-webkit-radial-gradient(0 50%,farthest-side,rgba(0,0,0,.4),transparent);background-image:linear-gradient(transparent,rgba(0,0,0,.2)25%,rgba(0,0,0,.3)75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before{left:0}.fotorama__nav:after,.fotorama__stage:after{background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.2)25%,rgba(0,0,0,.3)75%,transparent),-webkit-radial-gradient(100% 50%,farthest-side,rgba(0,0,0,.4),transparent);background-image:linear-gradient(transparent,rgba(0,0,0,.2)25%,rgba(0,0,0,.3)75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after{right:0}.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before{display:none}



.fotorama__nav-wrap {
  padding: 10px 0 0 0;
}
/* End */


/* Start:/bitrix/templates/msu/styles.css?14776379409575*/
body {
	font: normal 14px Arial, sans-serif;
	line-height: 1.4;
	color: #404040;
}

div,
span,
em,
strong,
dl,
dt,
dd,
ol,
fieldset,
form,
label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
h1 {
	margin: 0 0 1em 0;
	font-size: 24px;
	color: #364464;
}
h2, h2 a {
	margin: 0 0 1em 0;
	font-size: 18px;
	color: #364464;
}
h2 a {
	text-decoration: none;
}

h3 {
	margin: 0 0 5px 0;
	font-size: 16px;
	color: #364464;
}
h4,
h5,
h6 {
	margin: 0 0 1em 0;
	font-size: 14px;
	color: #364464;
}
p {
	margin: 0 0 1em 0;
	padding: 0;
}
a {
	color: #415b97;
	text-decoration: underline;
	-webkit-transition: color, background 0.1s ease;
	-moz-transition: color, background 0.1s ease;
	-o-transition: color, background 0.1s ease;
	transition: color, background 0.1s ease;
}
a:hover {
	text-decoration: none;
}

.cellspacing_5 {
border-spacing: 5px;
}
.cellspacing_10 {
border-spacing: 10px;
}
.cellspacing_15 {
border-spacing: 15px;
}
.cellspacing_20 {
border-spacing: 20px;
}
.cellspacing_25 {
border-spacing: 25px;
}
.cellspacing_30 {
border-spacing: 30px;
}
.cellspacing_35 {
border-spacing: 35px;
}
.cellspacing_40 {
border-spacing: 40px;
}
.cellspacing_45 {
border-spacing: 45px;
}
.cellspacing_50 {
border-spacing: 50px;
}
.cellspacing_55 {
border-spacing: 55px;
}



table.cellpadding_5 tr  td {
	padding: 5px;
}
table.cellpadding_10 tr  td {
	padding: 10px;
}
table.cellpadding_15  tr td {
	padding: 15px;
}
table.cellpadding_20  tr td {
	padding: 20px;
}
table.cellpadding_25 tr  td {
	padding: 25px;
}
table.cellpadding_30 tr  td {
	padding: 30px;
}
table.cellpadding_35  tr td {
	padding: 35px;
}
table.cellpadding_40 tr  td {
	padding: 40px;
}
table.cellpadding_45 tr  td {
	padding: 45px;
}
table.cellpadding_50 tr  td {
	padding: 50px;
}
table.cellpadding_55 tr  td {
	padding: 55px;
}



table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}
table tr {
	margin: 0;
	padding: 0;
}
table tr td {
	margin: 0;

	vertical-align: top;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.msu-content table,
.table {
	margin: 0 0 35px 0;
	padding: 0;

	font-size: 12px;
	border-top: 2px solid #d3b98a;
	border-bottom: 2px solid #d3b98a;

}
table.table_reset {
margin: 0;
padding: 0;	
border: none;
}
table.table_reset table {
	
border: none;	

}
table.table_reset table tr td,
table.table_reset table tr th {
margin: 0;
padding: 0;
border: none;
font-weight: normal;

}

table.table_reset tr td {
margin: 0;
padding: 0;
border: none;
font-weight: normal;
}
table.table_reset tr {
margin: 0;
padding: 0;
}
table.table_reset tr th {
margin: 0;
padding: 0;
border: none;
font-weight: normal;
}



table[align="center"] {
margin-left: auto;
margin-right: auto;
}

table tr td[valign="top"], table tr th[valign="top"], table tr[valign="top"] { vertical-align: top;}
table tr td[valign="center"], table tr th[valign="center"], table tr[valign="center"] { vertical-align: top;}
table tr td[valign="bottom"], table tr th[valign="bottom"], table tr[valign="bottom"] { vertical-align: top;}


table tr td[align="left"], table tr th[align="left"], table tr[align="left"] {
	text-align: left;
}
table tr td[align="center"], table tr th[align="center"], table tr[align="center"] {
	text-align: center;
}
table tr td[align="right"], table tr th[align="right"], table tr[align="right"] {
	text-align: right;
}
table tr td[align="justify"], table tr th[align="justify"], table tr[align="justify"] {
	text-align: justify;
}

.table-scroll {
width: 100%;
margin-bottom: 15px;
overflow-x: auto;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
-ms-overflow-style: -ms-autohiding-scrollbar;
border: 1px solid #ddd;
}

.msu-content .table_head ,
.table_head {
	color: #364464;
	font-size: 14px;
	background: #EDE8DF!important;
	font-weight: bold;
}
.table tr.table_head td {
	padding: 13px 25px;
}
.table_body {
	border-bottom: 2px solid #d3b98a;
}
.msu-content tr th,
.table tr th {
	margin: 0;
	padding: 15px 0 15px 25px;
	font-size: 14px;
	font-weight: bold;
	color: #364464;
	text-align: left;
	vertical-align: middle;
	background: #ffffff;
	border-bottom: 1px solid #d3b98a;
}
.table_border tr:nth-child(odd) {
background: #fff;
}
.table tr:nth-child(odd) {
	background: #f4f1ec;
}
.msu-content tr  td,
.table tr td {
	margin: 0;
	padding: 0;
	padding: 13px 0 13px 25px;
	vertical-align: middle;
	
}
table.table_border {
	font-size: 12px;
border-collapse: separate;
}
.table_border tr  td {
border: 1px solid #E0DDD8;

}
.table td.h-line {
	border-top: 1px solid #d3b98a;
}
.msu-content tr  td {
	padding: 13px 14px 13px 14px;

}
blockquote,
.blockquote {
	margin: 10px 0 35px 0;
	padding: 30px 40px 40px 40px;
	width: auto;
	position: relative;
	display: inline-block;
	border-radius: 3px;
	background: #fcf8ec;
}
img {
	padding: 0;
	vertical-align: middle;
	border: none;
}


.section_main img[align="left"], body[contenteditable] img[align="left"]{
	margin: 0 15px 5px 0;
	float: left;
}
.section_main img[align="right"], body[contenteditable] img[align="right"] {
	margin: 0 0 5px 15px;
	float: right;
}
ul:not([class]) {
overflow: hidden;
}

.bx-editor ul,
 .section_main ul, body[contenteditable] ul{
	margin: 0 0 20px 0;
	padding: 0;
}
.bx-editor  ul li ul,
.section_main ul li ul {
	margin: 10px 0 0px 0;
	padding: 0;
}

.bx-editor ul > li,
.section_main ul > li, body[contenteditable] ul>  li {
	margin: 0;
	padding: 0 0 8px 27px;
	position: relative;

}
.section_main ul li:before {

}
.bx-editor  ul > li:before, 
.section_main ul > li:before, body[contenteditable]  ul  > li:before {
	content: ' ';
	width: 18px;
	height: 3px;
	display: block;
	position: absolute;
	top: 11px;
	left: 0;
	background: #ff4847;
}
.bx-editor ol,
.section_main ol, body[contenteditable] ol {
	margin: 0 0 20px 0;
	padding: 0;
counter-reset: section; 
}
.bx-editor ol > li,
.section_main ol > li, body[contenteditable] ol > li {
	margin: 0 0 8px 0;
/*	padding: 0 0 0 27px; */
	position: relative;
	list-style: none;

}
.bx-editor  ol  > li:before,
.section_main ol  > li:before,
 body[contenteditable] ol >  li:before {
 counter-increment: section;            
  content: counters(section,".") " ";
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #ff4847;
	background: transparent;
}
.bx-editor ol > li ol ol,
.bx-editor ol > li ul ol,
.bx-editor ol > li ul,
.bx-editor ol > li ol,
.section_main ol > li ol ol, body[contenteditable] ol > li ol ol,
.section_main ol > li ul ol, body[contenteditable] ol > li ul ol,
.section_main ol > li ul, body[contenteditable] ol > li ul,
.section_main ol > li ol, body[contenteditable] ol > li ol {
	margin: 10px 0;
	padding: 0 0 0 27px;

}
.bx-editor ol > li ul ol ol
.section_main ol > li ul ol ol, body[contenteditable] ol > li ul ol ol {
padding: 0 0 0 27px;
}
.bx-editor ol > li ul  ol,
.section_main ol > li ul  ol, body[contenteditable] ol > li ul  ol {
padding: 0 0 0 0px;
}

/*
.section_main ol > li ol > li:before, 
body[contenteditable] ol > li  ol > li:before {
	content: counter(parent) '.' counter(sub);
	counter-increment: sub;
} */


 .section_main ol.clear_ol > li:before, body[contenteditable] ol.clear_ol > li:before,
.bx-editor ol.clear_ol > li:before {
	display: none;
}

.useful-links-wrapper {
	margin: 0 0 0 25px;
	width: 290px;
	float: right;
	position: relative;
	z-index: 10;
}

.useful-links {
	position: relative;
	font-size: 12px;
	background: #ede8df;
}
.useful-links .useful-links-head {
	padding: 35px 0 45px 87px;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	color: #393939;
	background: transparent url(/bitrix/templates/msu/images/useful-bg.png) repeat-x 0 bottom;
}
.useful-links .useful-links-head:before,  body[contenteditable] .useful-links .useful-links-head:before {
	margin: -30px 0 0 0;
	content: ' ';
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 20px;
	background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -220px 0;
}
.useful-links ul,  body[contenteditable] .useful-links ul {
	margin: 0 ;
	padding: 25px 35px 10px 18px;
	list-style: none;
	font-style: italic;
	overflow: hidden;
	background: none;
}
.useful-links ul li,  body[contenteditable]  .useful-links ul li {
	margin: 0 0 15px 0;
	padding: 0 0 0 22px;
	position: relative;
	background: none;
	line-height: 18px;
}
.useful-links ul li:before,  body[contenteditable] .useful-links ul li:before {
	content: ' ';
	width: 10px;
	height: 3px;
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
	background: #d3b98a;
}
.useful-links-wrapper .useful-links .useful-links-head {
	padding: 20px 10px 30px 87px;
}
.larger {
	font-size: 16px;
}


.img-holder {
text-align: center;
}
.img-holder img {
max-width: 100%;
height: auto;
}

.snp-blockquote {
   font-style: italic;
   font-size: 15pt;
}



.holder-picture {
  margin: 0 auto  18px auto;
  width: 1%;
  display: table;
}
.holder-picture-img {
  margin: 0 0 7px 0;
  display: inline-block;
}
.holder-picture-img img {
  max-width: 300px;
}
.holder-picture .holder-picture-descr {
  margin: 0;
  padding: 0;
    font-size: 10px;
    font-style: italic;
    line-height: 14px;
    margin: 8px 0 15px;
  color: #000;
}


.holder-picture_left {
  margin: 0 20px 20px 0;
  float: left;
}
.holder-picture_right {
  margin: 0 20px 20px 0;
  float: right;
}
.js--fixed-top{
	padding-top: 20px;
	margin-top: -20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #fff;
	z-index: 100;
}
.js--fixed-top.fixed{
	margin-top: 0;
	position: fixed;
	top: 0;
}
.calculator-filter-top-pane{
	z-index: 100;
}
/* End */


/* Start:/bitrix/templates/msu/template_styles.css?148110056847775*/
@import "/bitrix/templates/msu/libs/sel2/select2.css";
@import "/bitrix/templates/msu/libs/coolform.css";

html,
body {
    height: 100%;
}
body {
    padding: 0;
    margin: auto 0;
    height: 100%;
    background: #232833 url(/bitrix/templates/msu/images/bg.png);
}
.hidden {display: none;}
.list {
    margin: 0 0 20px 0;
    padding: 0;
}
.list li {
    margin: 0;
    padding: 0 0 8px 27px;
}
.listNumeric {
    margin: 0 0 20px 0;
    padding: 0;
}
.listNumeric li {
    margin: 0 0 8px 0;
    padding: 0 0 0 27px;
    list-style: decimal ;
}


.home-page .wrap {
    background: #1c2029 url(/bitrix/templates/msu/images/home-bg.png) repeat-y 200px 0;
}
.science-page .wrap {
    background: #1c2029 url(/bitrix/templates/msu/images/science-bg.png) repeat-y 200px 0;
}
.wrap {
    margin: 0 auto -120px auto;
    padding: 0;
    max-width: 1200px;
    min-height: 100%;
    position: relative;
    width: 1200px;
    background: #fff;

}
/*
.header {
  padding: 0 0 0 200px;
  width: 100%;
  height: 105px;
  position: relative;
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
.header {
    margin: 0 0 0 200px;

    height: 105px;
    position: relative;
    background: #1c2029;
}
.header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.header-top {
    padding: 20px 0 0 0;
    height: 50px;
    background: #1c2029;
    font-size: 13px;
}
.lang-choose {
    margin: 0 0 0 28px;
    display: inline-block;
    font-size: 12px;
}
.lang-choose li {
    margin: 0 22px 0 0 ;
    padding: 15px 0 0 0;
    display: inline-block;
    border-top: 3px solid transparent;
}
.lang-choose li.lang-choose_act {
    border-top: 3px solid #ff4847;
}
.search {
    margin: 0 23px 0 0 ;
    display: inline-block;
}
.search a {
    width: 17px;
    height: 17px;
    display: inline-block;
    text-decoration: none;
    text-indent: -9999px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -199px -1px;
}
.social-pane {
    display: inline-block;
    position: relative;
    z-index: 101;
}
.social-pane > li {
    margin: 0 14px 0 0;
    width: auto;
    height: 17px;
    display: inline-block;
    position: relative;
    vertical-align: -4px;
}
.social-pane > li:hover .social-pane-sub {
    display: block;
}
.social-pane > li.social-pane-parent {
    padding-right: 10px;
    position: relative;
}
.social-pane > li.social-pane-parent:after {
    content: ' ';
    margin: -2px 0 0 0;
    width: 7px;
    height: 14px;
    display: block;
    position: absolute;
    top: 4px;
    right: 0;
    background: #1c2029 url('/bitrix/templates/msu/images/sprite.png') no-repeat -17px -27px;
    cursor: pointer;

}
.social-pane > li > .social-pane-sub {
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    font-size: 12px;
    background: #2f3950;
    -moz-box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.4);
}
.social-pane > li > .social-pane-sub > li {
    padding: 0 18px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.social-pane > li > .social-pane-sub > li:hover {
    background: #ff4847;
}
.ico-facebook,
.ico-twitter,
.ico-vk {
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -172px -25px;
}
.ico-facebook {
    padding: 0 9px 0 0;
    width: 13px;
}
.mobile-menu .ico-facebook {
    padding: 0;
}
.ico-twitter {
    background-position: -193px -25px;
}
.ico-vk {
    width: 30px;
    background-position: -177px -44px;
}
.menu-top {
    float: right;
    display: none;
}
.menu-top li {
    margin: 0 33px 0 21px;
    display: inline-block;
}
.menu-top li a {
    height: 40px;
    display: inline-block;
    line-height: 47px;
    border-color: #ff4847;
    border-top: 3px solid transparent;
}
.menu-top li a:hover {
    border-color: #ff4847;
}
.header-bottom {
    height: 35px;
    background: #292f3c;
    font-size: 13px;
}
.nav {
    margin: 0 2px 0 0;
    float: right;
    position: relative;
    z-index: 100;
}
.nav > li {
    margin: 0 8px 0 0;
    padding: 0 15px 0 15px;
    height: 32px;
    display: block;
    float: left;
    line-height: 30px;
    border-top: 3px solid transparent;
    -webkit-transition: color, background 0.1s ease;
    -moz-transition: color, background 0.1s ease;
    -o-transition: color, background 0.1s ease;
    transition: color, background 0.1s ease;
}
.nav > li.nav-item-parent {
    padding-right: 20px;
    position: relative;
}
.nav > li:hover {
    background: #4b6093;
    border-color: #ff4847;
}
.nav > li.nav-item-parent:hover .nav-level-1 {
    display: block;
}
.nav > li.nav-item-parent:hover {

}
.nav > li.nav-item-parent:after {
    content: ' ';
    margin: -2px 0 0 0;
    width: 6px;
    height: 4px;
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -17px -32px;
}
.nav > li.nav-item_act {
    border-color: #ff4847;
}
.nav > li > a {
    height: 30px;
    display: inline-block;
    line-height: 30px;

}
.nav > li > a:hover {
    border-color: #ff4847;
}
.nav > li .nav-level-1 {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    font-weight: bold;
    font-size: 14px;
    /*background: #2f3950; */
    background: #4b6093;
    -moz-box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0.4);
}
.nav > li .nav-level-1 li {
    padding: 0 23px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.nav > li .nav-level-1 li:hover {
    background: #ff4847;
}
.nav > li .nav-level-1 li.nav-item_act{
    background: #ff4847;
}
.logo {
    margin: 0 -200px 0 0;
    padding: 187px 15px 0 15px;
    width: 170px;
    height: 195px;
    position: relative;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 23px;
    background: #1c2029 url(/bitrix/templates/msu/images/logo.png) no-repeat center 64px;
}
.logo span {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 35px;
    left: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #a4a6a9;
}
.logo a {
    margin: 0 0 20px 0;
    padding: 187px 15px 45px  15px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-decoration: none;
    z-index: 2;

}
.aside_left {
    margin: 277px -200px 0 0;
    width: 200px;
    position: relative;
    float: left;
    background: #2f3950;
}
.home-page .aside_left {
    margin: 276px -200px 0 0;
}
.science-page .aside_left {
    margin: 231px -200px 0 0;
}
.home-page.en-home-page  .aside_left {
    min-height: 250px !important;
}


.menu-left {
    padding: 25px 15px 18px 22px;
    background: #2f3950;
    overflow: hidden;
    border-top: 3px solid #ff4847;
}

ul.menu-left ul {
    margin-top: 6px;
    margin-left: 10px;
}

.menu-left li {
    margin: 0 0 9px 0;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.menu-left li.menu-left_act > a {
    color: #ff4847;
}
.menu-left li a {
    display: inline-block;
    line-height: 13px;
    text-decoration: none;
    color: #fff;
}
.bx-no-touch .menu-left li a:hover {
    color: #ff4847;
}
.reson-pane {
    padding: 0 22px;
    color: #434343;
    background: #ede8df;
}
.reson-pane .btn {
    margin: 0 0 12px 0;
    width: 100%;
    border: 1px solid #d73938;
    background: #ff4847;
}
.reson-pane .btn:hover {
    background: #ff2f2d;
}
.reson-pane .btn_twitter {
    border: 1px solid #0087ba;
    background: #00aced;
}
.reson-pane .btn_twitter .ico-twitter {
    margin: 0 9px 0 0;
    width: 21px;
    height: 20px;
    position: relative;
    top: 5px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -173px 0;
}
.reson-pane .btn_twitter:hover {
    background: #00aced;
}
.reson-pane-img {
    margin: 0 -22px 15px -22px;
    width: 200px;
    height: 263px;
    line-height: 263px;
    background: #fff;
}
.reson-pane-img img {
    vertical-align: top;
}
.reson-pane-post {
    margin: 0 0 12px 0;
    display: inline-block;
}
.reson-pane-name {
    margin: 0 0 12px 0;
    display: inline-block;
}
.reson-pane-name a {
    font-weight: bold;
    color: #000;
}
.article-pane {
    margin: 21px 0 20px 0px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.article-pane li {
    margin: 0 0 20px 0;
    padding: 0 3px 7px 3px;
    width: 148px;
    text-transform: uppercase;
    border: 1px solid #2d3e63;
    background: #2d3e63;
}
.article-pane  .article-pane-img {
    margin: 0 -3px 7px -3px;
    width: 154px;
    height: 68px;
    display: inline-block;
}
.article-pane  a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.article-pane-item a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.article-pane-item {
    margin: 20px 0 0 22px;
    padding: 0 0 7px 0;
    width: 154px;
    text-transform: uppercase;
    border: 1px solid #2d3e63;
    background: #2d3e63;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.article-pane-item_2 {
    border-color: #39aed0;
    background-color: #39aed0;
}
.article-pane-item_3 {
    border-color: #ff4847;
    background-color: #ff4847;
}
.article-pane-item_4 {
    border-color: #7fbd13;
    background-color: #7fbd13;
}
.article-pane-item_5 {
    border-color: #ff4e00;
    background-color: #ff4e00;
}
.aside_right {
    margin-top: -539px;
    float: right;
    width: 500px;
    background: #445273;
}
.science-page .aside_right {
    margin-top: -400px;
    width: 333px;
}

.en-home-page .aside_right {
    margin-top: 0;
    width: 350px;
}
.en-home-page  .wrap-content {
    background-color: #FFF;
}

.aside_right .news-list {
    background: none;
}

.section_main {
    margin: 0 0 -120px 0;
    width: 100%;

    float: left;
    background: #fff;
    /*border-left: 200px solid #1c2029;*/
    border-left: 200px solid #2f3950;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mobile-info-pane {
    display: none;
}
.home-page .section_main {
    margin: 0 0 0 200px;
    width: 500px;
    float: left;
    background: #fff;
    border: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing:  content-box;
}
.science-page .section_main {
    width: 667px;
}
.home-page.en-home-page .section_main {
    width: 650px;
}

.wrap .msu-content {
    padding: 30px 45px 120px 62px;
    line-height: 23px;
}

.wrap .msu-content .content {
	padding: 0;
}

.home-page .msu-content {
    padding: 25px 20px 23px 30px;
    width: 450px;
    overflow: hidden;
}
.science-page  .msu-content {
    width : auto;
}
.home-page.en-home-page  .msu-content {
    padding: 0 0 23px 0;
    width: 650px;
}

.section_main ul.list-reset li:before {
    display: none;
}
ul.breadcrumbs {
    margin: 0;
    padding: 12px 0 12px 60px;
    display: block;
    overflow: hidden;
    font-weight: bold;
    background: #ede8df;
}
ul.breadcrumbs li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font-size: 10px;
    color: #1c2029;
}
ul.breadcrumbs li a {
    color: #1c2029;
    text-decoration: none;
}
ul.breadcrumbs li a:hover {
    color: #1c2029;
    text-decoration: underline;
}
ul.breadcrumbs li:before {
    content: '/';
    margin: 0 4px;
    height: auto;
    display: inline-block;
    position: static;
    background: transparent;
    color: #1c2029;
    font-weight: bold;
    width: auto;
}
ul.breadcrumbs li:first-child:before {
    content: '';
    margin: 0;
}
ul.pagination {
    margin: 10px 0 20px 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
ul.pagination li {
    margin: 0 5px 0 0;
    padding: 0 5px;
    width: auto;
    min-width: 16px;
    height: 26px;
    display: block;
    position: relative;
    float: left;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    background: #eaeaea;
    z-index: 2;
}
ul.pagination li:before {
    display: none;
}
ul.pagination li:hover {
    background: #ff4847;
}
ul.pagination li:hover a {
    color: #ffffff;
}
ul.pagination li:first-child {
    border-left: none;
}
ul.pagination li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #a0a0a0;
    position: relative;
}
ul.pagination li.pagination-devider a {
    color: #EAEAEA;
    bottom: 3px;
}
ul.pagination li.pagination-devider a:hover {
    color: #ff4847;
}
ul.pagination li.pagination-act {
    background: #ff4847;
}
ul.pagination li.pagination-act a {
    color: #ffffff;
}
ul.pagination li.pagination-devider {
    font-size: 24px;
    line-height: 36px;
    color: #eaeaea;
    background: transparent;
}
.table-date-list {
    margin: 0 0 30px 0;
}
.table-date-list td {
    font-style: italic;
    font-size: 12px;
    line-height: 22px;
}
.table-date-list td:first-child {
    padding: 0 5px 0 0;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
    color: #ff4847;
}
ul.photo-list {
    margin: 20px 0 0 -34px;
    padding: 0;
    overflow: hidden;
}
ul.photo-list li {
    margin: 0 0 33px 34px;
    padding: 0;
    position: relative;
    float: left;
}
ul.photo-list-named li {
    float: none;
    display: inline-block;
    vertical-align: top;
}
ul.photo-list li a {
    position: relative;
    display: block;
}
ul.photo-list li span {
    position: relative;
    display: block;
    width: 100%;
    max-width: 260px;
    line-height: 1.4;
    margin-top: 5px;
}
a.zoom {
    position: relative;
}
ul.photo-list li a:hover:after, a.zoom:hover:after {
    display: block;
}
ul.photo-list li a:after , a.zoom:after {
    content: ' ';
    margin: -34px 0 0 -34px;
    width: 67px;
    height: 67px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff url(/bitrix/templates/msu/images/sprite.png) -19px -62px;
    -webkit-box-shadow: 0 0 10px 0px #b7b7b7;
    -moz-box-shadow: 0 0 10px 0px #b7b7b7;
    box-shadow: 0 0 10px 0px #b7b7b7;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
}
ul.photo-list li:hover:after {
    display: block;
}
ul.photo-list li:hover img , a.zoom:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.article-img {
    margin: 0 0 0 25px;
    width: 290px;
    float: right;
    position: relative;
    z-index: 10;
}
.article-img .useful-links {
    margin-top: 50px;
}
.wrap-slider {
    margin: 0 500px 0 00px;
    width: 500px;
    height: 539px;
    float: right;
    background: #2f3950;
}
.en-home-page .en-page-teaser {
    padding: 30px 30px 35px 30px;
    margin: 0;
    width: auto;
    height: 100%;
    float: none;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    border-bottom: 5px solid #fd494c;
    background:transparent url(/img/en-teaser.jpg) no-repeat 50% 50%;
}
.en-home-page .en-page-teaser h2 {
    font-size: 24px;
    color: #fff;
}
.en-home-page .wrap-slider {
    margin: 0 0 0 0;
    width: 100%;
    height: 517px;
    float: none;
    background: #595959;
}


.science-page .wrap-slider {
    margin: 0 333px 0 00px;
    width: 667px;
    height: 400px;
}

.slider-item {
    height: 481px;
    position: relative;
}
.science-page .slider-item {
    height: 350px;
}

.science-page .fotorama__nav-wrap {
    padding: 6px 0 0 0;
}
.en-home-page .fotorama__nav-wrap {
    padding: 0;
}

.slider-item a.slider-item-caption {
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 2px;
    left: 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    z-index: 1;
}

.slider-item-caption .slider-caption-op {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity=30);
    opacity: 0.3;
    background: #000;
    z-index: -1;


}

.news-list {
    margin: 0;
    width: 100%;
    background: #fff;
    position: relative;
}
.news-rss {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat 0 0;
    vertical-align: text-top;
    margin: 0 15px;
}
.news-list h2 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #364464;
}

.news-list-item {
    margin: 0 0 30px 0;
    overflow: hidden;
}
.news-list-item.news-list-item-nomargin {
    margin: 0;
}
.news-list-tag-pane {
    position: relative;
}
.news-list-tag-dateonly {
    margin: 0 -55px 0 0;
    width: 55px;
    float:left;
}
.news-list_simple .news-list-item {
    margin: 0 0 20px 0;
}

.news-list_simple .news-list-tag-dateonly {
    margin: 0;
}
.news-list_simple  .news-list-item-text {
    margin: 0 0 0 55px;
}

.news-list_grant .news-list-item-head {
    margin-left: 100px;
}


.news-list-wide-date {
    width: 100px;
}

.news-list-item-date {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 18px;
    font-weight: bold;
    color: #ff4847;
}

.marked-date {
    font-size: 18px;
    display: inline-block;
    color: #ff4847;
}

.mark_red {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: #ff4847;
}
.mark_blue {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: #00aeef;
}

.news-list-item-publish-date {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    margin: -4px 0 25px;
}
.news-list-item-publish-date span{
    color: #ff4847;
    font-weight: bold;
}
.news-list-item-conf-date {
    float: left;
    min-width: 80px;
    margin-top: 4px;
    color: #a0a0a0;
}
.news-list-item-conf-month {
    font-size: 60px;
    line-height: 90%;
    text-align: center;
}
.news-list-item-conf-day {
    font-size: 14px;
    font-style: italic;
    line-height: 100%;
    text-align: center;
}
.news-list-item-conf-type {
    font-weight: normal;
    color: #404040;
}
.news-list-item-conf-info {
    line-height: 28px;
}

.news-list-item-conf-info-divider {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #404040;
}
.news-list-item-conf-registration .news-list-item-conf-info-divider {
    margin-left: 5px;
    margin-right: 5px;
}
.news-list-item-conf-sections .news-list-tag-list{
    display: inline-block;
    margin-left: 0;
}
.news-list-item-conf-registration-link {
    font-weight: bold;
}
.news-list-item-conf-registration-finished {
    color: #a0a0a0;
    font-weight: bold;
}
.news-list-item-conf-location {
    padding-bottom: 5px;
    font-weight: bold;
}
.news-list-item-conf-divisions {
    padding-bottom: 5px;
    font-weight: bold;
}
.conf-list-item-dates {
    color: #ff4847;
}
.news-list-tag-dateonly .news-list-item-date{
    position: static;
    line-height: 19px;
}

.tag-list-container ul.news-list-tag-list {
    margin: 0 0 20px 0;
}

.tag-list-container ul.news-list-tag-list li {
    margin-right: 4px;
}

.fr {
    float: right;
}

.tag-list-container ul.news-list-tag-list-clear {
    margin-bottom: 50px;
}

ul.news-list-tag-list {
    margin: 0 0 8px 55px;
    padding: 0;
}
ul.news-list-tag-list li {
    margin: 0 0 3px 0;
    padding: 0 10px;
    min-height: 20px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    background: #9bb200 ;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
ul.news-list-tag-list li:before {
    display: none;
}

ul.news-list-tag-list a {
    text-decoration: none;
    color: #FFF;
}

ul.news-list-tag-list li.news-list-tag_1 {
    background: #9bb200;
}
ul.news-list-tag-list li.news-list-tag_2 {
    background: #ff6633;
}
ul.news-list-tag-list li.news-list-tag_3 {
    background: #008ab2;
}
ul.news-list-tag-list li.news-list-tag_no_bg {
    background: none;
    color: #404040;
    padding-left: 3px;
}

.msu-content .news-detail .news-list-item-date-full {
    margin-left: 100px;
}

.news-list-item-head {
    margin: 0 0 13px 55px;
    font-weight: bold;
    line-height: 1.4;
}
.news-list_press .news-list-item-head {
    font-weight: normal;

}
.news-detail .news-list-item-head{
    margin: 0 0 13px 80px;
}

.news-list-item-head  .news-list-item-conf-daterange {
    font-weight: normal;
    color: #a0a0a0;
}
.news-list-item-head a {
    color: #000;
}
.news-list-item-conf {
    margin-top: 55px;
}
.news-list-item-conf .news-list-item-head {
    margin: 0 0 5px 200px;
}


.news-list-item-img {
    margin: 0 20px 0 0;
    float: left;
}
.news-list-item-img.news-list-item-img-right {
    margin: 0 0 0 20px;
    float: right;
}
.news-list-item-conf .news-list-item-img-group {
    overflow: hidden;
    float: left;
}
.news-list-item-conf .news-list-item-img {
    width: 80px;
}
.news-list-item-conf  .news-list-item-conf-date {
    float: right;
}
.news-list-item-text {
    font-size: 12px;
    line-height: 18px;
    color: #404040;
}
.news-list-item-conf .news-list-item-text {
    margin-left: 200px;
}
.news-list-more {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.news-list-more:hover {
    color: #000000;
}
.calendar {
    padding: 35px 22px 22px 22px;
    width: 256px;
    min-height: 216px;
    float: left;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: #ff4847;
}
.calendar:before {
    content: ' ';
    width: 55px;
    height: 55px;
    display: block;
    position: absolute;
    top: 20px;
    left: 21px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -115px 0;
}
.calendar .calendar-head {
    margin: 0 0 18px 63px;
    font-size: 14px;
}
.calendar .btn {
    padding: 0 15px;
    font-size: 14px;
    background: #f23433;
    border: 1px solid #ff7675;
}
.calendar .btn:hover {
    background: #f01c1b;
}
.calendar_inner {
    padding: 24px 12px 22px 12px;
    width: 176px;
    min-height: 0;
    float: none;
}
.calendar_inner .calendar-head {
    margin: 0 0 8px 70px;
}
.calendar-tab {
    position: relative;
}
ul.calendar-tab-head {
    padding: 0 0 9px 0;
    margin: 0;
    border-bottom: 1px dashed #ff7675;
}
ul.calendar-tab-head li {
    margin: 0 0 0 11px;
    padding: 0;
    width: 137px;
    display: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
ul.calendar-tab-head li a {
    color: #fff;
    text-decoration: none;
}
ul.calendar-tab-head li:before {
    display: none;
}
ul.calendar-tab-head li.calendar-tab-head_act {
    display: block;
}
.calendar-tab-prev,
.calendar-tab-next {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3px;
    left: 0;
}
.calendar-tab-prev:before,
.calendar-tab-next:before {
    content: ' ';
    width: 6px;
    height: 11px;
    display: block;
    position: absolute;
    top: 1px;
    left: 0px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -1px -28px;
}
.calendar-tab-next {
    left: 143px;
}
.calendar-tab-next:before {
    left: auto;
    right: 0;
    background-position: -8px -28px;
}
.calendar-tab-content {
    margin: 0 0 15px 0;
    padding: 13px 0 0 0;
    font-weight: normal;
}
.calendar-tab-item {
    opacity: 0;
    position: absolute;
    left: -9999px;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.calendar-tab-item_act {
    position: static;
    opacity: 1;
}
ul.calendar-tab-event {
    margin: 0;
    padding: 0;
}
ul.calendar-tab-event li {
    margin: 0;
    padding: 0;

    opacity: 0;
    position: absolute;
    left: -9999px;


    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;

}
ul.calendar-tab-event li.calendar-tab-event-item_act {

    position: static;
    opacity: 1;


}
ul.calendar-tab-event li:before {
    display: none;
}
.wrpa-calendar-tab-event {
    position: relative;
}
.calendar_inner .wrpa-calendar-tab-event  {
    margin: 18px 0 0 0;

}
.calendar-tab-event-date {
    margin: 0 0 5px 0;
    display: inline-block;
    font-size: 14px;
    text-decoration: underline;
    line-height: 19px;
    color: #fff;
}
.calendar-tab-event-date:hover {
    color: #fff;
}
.calendar-tab-event-text {
    margin: 0;
    padding: 0 0 1em 0;
    min-height: 55px;
    display: block;
    overflow: hidden;
}
.calendar-tab-event-next,
.calendar-tab-event-prev {
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    top: -3px;
    right: 35px;
    background: #f23433;
    border: 1px solid #ff7675;
}
.calendar_inner  .calendar-tab-event-next, .calendar_inner  .calendar-tab-event-prev {
    top: -27px;
}
.calendar-tab-event-next:before,
.calendar-tab-event-prev:before {
    content: ' ';
    width: 6px;
    height: 11px;
    display: block;
    position: absolute;
    top: 6px;
    left: 7px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -1px -28px;
}
.calendar-tab-event-next:hover,
.calendar-tab-event-prev:hover {
    background: #f01c1b;
}
.calendar-tab-event-prev {
    right: 0;
}
.calendar-tab-event-prev:before {
    left: 9px;
    background-position: -8px -28px;
}
.ref-pane {
    padding: 85px 22px 25px 22px;
    width: 156px;
    position: relative;
    float: right;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: #2f3950;
}
.ref-pane span {
    margin: 0 0 14px 0;
    display: inline-block;
}

.just-btn {
    margin: 0;
    padding: 0 5px;
    min-width: 156px;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 34px;
    color: #ffffff;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ref-pane a {
    height: 20px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #fff !important;
}
.ref-pane .btn, .just-btn {
    padding: 8px 0;
    height: auto;
    font-size: 14px;
    line-height: normal;
    background: #26314a;
    border: 1px solid #52648c;
}
.ref-pane .btn:hover, .just-btn:hover {
    background: #1d2639;
}
.ref-pane:before {
    content: ' ';
    width: 55px;
    height: 55px;
    display: block;
    position: absolute;
    top: 26px;
    left: 21px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -28px 0;
}
.addres-pane {
    padding: 85px 22px 25px 22px;
    width: 156px;
    position: relative;
    float: right;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: #445273;
}

.addres-pane  a {
    text-decoration: none;
    color: #fff;
}
.addres-pane  a:hover {
    text-decoration: underline;
    color: #fff;
}
.addres-pane span {
    margin: 0 0 21px 0;
    display: inline-block;
}
.addres-pane .btn, .news-pane .btn-blue {
    padding: 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
    background: #364464;
    border: 1px solid #52648c;
}
.news-pane .btn-blue {
    height: auto;
    line-height: normal;
    padding: 8px 0;
}
.addres-pane .btn:hover, .news-pane .btn-blue:hover {
    background: #2d3953;
}
.addres-pane:before {
    content: ' ';
    width: 32px;
    height: 55px;
    display: block;
    position: absolute;
    top: 18px;
    left: 31px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -83px 0;
}
.activity-pane {
    padding: 22px 15px 25px 29px;
    width: 256px;
    position: relative;
    float: left;
    background: #ede8df;
}
.en-home-page .activity-pane {
    background: #fff;
}

.activity-pane ul {
    margin: 0;
    padding: 0;
}
.activity-pane ul li {
    margin: 0 0 22px 0;
}
.activity-pane h2 {
    margin: 0 0 7px 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #364464;
}
.activity-pane .activity-pane-date {
    margin: 0 0 6px 0;
    width: 100%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #ff4847;
}
.activity-pane .activity-pane-head {
    margin: 0 0 8px 0;
    width: 100%;
    display: inline-block;
    font-weight: bold;
}
.activity-pane .activity-pane-head a {
    color: #000;
    font-weight: bold;
}
.activity-pane .activity-pane-text {
    font-size: 12px;
    line-height: 18px;
    overflow-wrap: break-word;
}
.activity-pane .activity-pane-more {
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.news-more{
    display: block;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.news-important {
    width: 300px;
    background: #39aed0;
    float: left;
    position: relative;
}
.news-important .news-important-img {
    width: 300px;
    height: 256px;
    position: relative;
}
.news-important .news-important-header {
    padding: 0 19px;
    width: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}
.news-important .news-important-header a {
    color: #fff;
    text-decoration: none;
}
.news-important .news-important-header_mobile {
    padding: 0 19px;
    position: static;
    display: none;
}
.news-important .news-important-text {
    padding: 23px 19px 27px 19px;
    position: relative;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    border-top: 2px solid #ff4847;
}
.news-important .news-important-text:before {
    content: ' ';
    margin: 0 0 0 -13px;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #ff4847;
}
.thanks-pane {
    padding: 20px 12px 24px 24px;
    width: 164px;
    float: right;
    background: #fff;
}
.thanks-pane h2 {
    margin: 0 0 7px 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    color: #1c2029;
}
.thanks-pane .thanks-list-date {
    margin: 0 0 4px 0;
    font-weight: bold;
    font-size: 14px;
    color: #ff4847;
}
.thanks-pane .thanks-list-head {
    margin: 0 0 11px 0;
}
.thanks-pane .thanks-list-head a {
    font-weight: bold;
    font-size: 14px;
    color: #000;
}
.thanks-pane .thanks-list-text {
    font-size: 12px;
    line-height: 18px;
}
.wrap-thanks-list {
    position: relative;
}
.wrap-thanks-list li {
    opacity: 0;
    position: absolute;
    left: -9999px;


    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.wrap-thanks-list li.thanks-list_act {
    opacity: 1;
    position: static;
}
.thanks-list-prev,
.thanks-list-next {
    content: ' ';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -33px;
    right: 25px;
    background: #869ed7;
    border: 1px solid #6a86c8;
}
.thanks-list-prev:before,
.thanks-list-next:before {
    content: ' ';
    width: 6px;
    height: 11px;
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -1px -28px;
}
.thanks-list-prev:hover,
.thanks-list-next:hover {
    background: #738fd1;
}
.thanks-list-next {
    right: 0;
}
.thanks-list-next:before {
    left: 7px;
    background-position: -8px -28px;
}
.news-pane {
    padding: 18px 15px 20px 20px;
    width: 165px;
    float: right;
    font-weight: bold;
    background: #445273;
}
.news-pane ul {
    margin: 0 0 30px 0;
}
.news-pane ul li {
    margin: 0 0 15px 0;
}
.news-pane h2 {
    margin: 0 0 9px 0;
    padding: 0;
    font-size: 14px;
    color: #ffffff;
}
.news-pane .news-pane-date {
    font-size: 14px;
    color: #839fe0;
    display: block;
}
.news-pane .news-pane-text, .news-pane .news-pane-text a {
    font-size: 12px;
    color: #fff;
}
.news-pane .news-pane-more {
    color: #fff;
}
.footer {
    margin: 0 auto;
    padding: 30px 0 10px 30px;
    width: 1170px;
    min-height: 80px;
    position: relative;
    font-size: 12px;
    color: #fff;
    background-color: #2f3950;
    z-index: 11;
}
.footer-admin{
	min-height: 180px;
}
.vidget-vk{
	margin-bottom: 20px;
	/*position: absolute;
    right: 219px;
    top: 59px;*/
}
#vk_groups,
#vk_groups iframe {
     width: 100% !important;
}
.vidget-facebook{
	/*position: absolute;
    right: 26px;
    top: 75px;*/
	padding: 14px 0;
	height: 20px;
	position: relative;
	text-align: center;
	background: #364464;
	border: 1px solid #52648c;
}
.aside_right{
	position: relative;
}
.vidgets__wrap{
	padding-top: 20px;
	height: 211px;
	width: 165px;
    float: right;
}
.vidgets{
	position: absolute;
	bottom: 20px;
	right: 0;
	/*padding: 142px 15px 20px 20px;*/
	padding: 0 15px 0 20px;
    width: 165px;
    float: right;
}
@media only screen and (max-width: 1024px){
	.vidgets__wrap{
		padding-top: 0;
		height: auto;
		width: auto;
	}
	.vidgets {
		padding-bottom: 20px;
		position: relative;
		right: auto;
		bottom: auto;
		padding-top: 18px;
		width: auto;
	}
}
@media only screen and (max-width: 768px){
	.vidgets__wrap{
		padding-top: 20px;
		height: 246px;
		width: 165px;
		float: right;
	}
	.vidgets {
		padding-bottom: 0;
		padding-top: 30px;
		width: auto;
		width: 165px;
		position: absolute;
		bottom: 20px;
		right: 0;
	}
	.vidget-vk{
		width: 165px !important;
	}
}
@media only screen and (max-width: 640px){
	.vidgets__wrap{
		padding-top: 0;
		height: auto;
		float: left;
		width: auto;
	}
	.vidgets {
		padding-top: 18px;
		float: left;
		padding-bottom: 20px;
		position: relative;
		right: auto;
		bottom: auto;
	}
	.vidget-vk{
	}
}
.footer a {
    color: #fff;
}
.nav-footer {
    position: absolute;
    top: 29px;
    right: 0;
    font-size: 13px;
    font-weight: bold;
}
.nav-footer li {
    margin: 0 30px 0 0;
    display: inline-block;
}
.nav-footer li a {
    text-decoration: none;
}
.nav-footer li a:hover {
    text-decoration: underline;
}
.wrap-mobile-menu-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.wrap-mobile-menu-scroll {
    padding: 9px 0 0 0;
    width: 50%;
    height: 100%;
    min-height: 100%;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #1c2029;
    z-index: 10;
}
.mobile-menu-scroll {
    height: 100%;
}
.wrap-mobile-menu-scroll_open {
    width: 50%;
    display: block;
}

.wrap-content {
    padding: 0 0 120px 0;
    min-height: 100%;
    position: relative;
    background: url("/img/left_bg.gif") repeat-y scroll 0 0;
    z-index: 10;
}
.wrap-content_menu-open {
    left: -50%;
    background:#fff;
}
.mobile-menu-btn {
    width: 49px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url(/bitrix/templates/msu/images/menu-mobile-btn.png) no-repeat 0 0;
}
.mobile-menu-back {
    padding: 14px;
    font-size: 16px;
}
.mobile-menu-back:hover {
    background: #ff4847;
}
.mobile-menu-back a {
    color: #fff;
    text-decoration: none;
}
.mobile-menu {
    border-top: 2px solid #ff4847;
    font-size: 16px;
}
.mobile-menu li .ico-facebook,
.mobile-menu li .ico-twitter {
    vertical-align: -2px;
    margin: 0 5px 0 0;
}
.mobile-menu li > ul {
    padding: 0 0 0 7px;

}
.mobile-menu li > ul li > a {
    padding: 12px 14px 12px 20px;
}
.mobile-menu li.mobile-menu_act > a {
    background: #ff4847;
}
.mobile-menu li > a {
    padding: 14px;
    display: block;
    color: #fff;
    text-decoration: none;
}
.mobile-menu li > a:hover {
    background: #ff4847;
}
.mobile-menu-close-btn-pane {
    padding: 0 15px;
    text-align: right;

}

.mobile-menu-close-btn {
    padding: 15px 0 15px 30px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background:transparent  url(/images/ico-mobile-menu-close.png) no-repeat 0 center;
}

.mobile-menu-search {
    padding: 15px;
    border-top: 2px solid #ff4847;
}
.wrap .mobile-menu-search input[type="text"] {
    padding: 0 10px;
    margin: 0 5px 0 0;
    width: 75%;
    height: 30px;
    border: none;
}
.mobile-menu-search .mobile-menu-search-btn {
    vertical-align: middle;
    width: 17px;
    height: 17px;
    display: inline-block;
    text-decoration: none;
    text-indent: -9999px;
    background: transparent url(/bitrix/templates/msu/images/sprite.png) no-repeat -199px -1px;
}
.wrap input[type="text"],
.wrap input[type="password"],
.wrap textarea {
    padding: 0 15px;
    margin: 0;
    height: 36px;
    font-family: inherit;
    font-size: inherit;
    border: 3px solid #f2e9da;
    outline: none;
    -webkit-appearance: none;
}
.wrap input[type="text"]:focus,
.wrap input[type="password"]:focus,
.wrap textarea:focus {
    outline: none;
    border-color: #d3b98a;
}
.lt-ie9 input[type="text"],
.lt-ie9 input[type="text"]:focus,
.lt-ie9 input[type="password"],
.lt-ie9 input[type="password"]:focus {
    line-height: 36px;
}
.field {
    margin: 0 0 15px 0;
    padding: 0;
}
.field .field-label {
    margin: 0 0 5px 0;
    font-weight: normal;
}
.field label {
    margin: 0 0 5px 0;
    display: inline-block;
    font-weight: normal;
}
.field input[type=text],
.field input[type=password] {
    padding: 0 15px;
    margin: 0;
    width: 100%;
    height: 36px;
    border: 3px solid #f2e9da;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.field input[type="text"]:focus,
.field input[type="password"]:focus,
.field textarea:focus {
    border-color: #d3b98a;
}

.field select {
    margin: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border: 3px solid #f2e9da;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.field select:focus {
    border-color: #d3b98a;
}

.field textarea {
    padding: 10px 0px 0 10px;
    width: 100%;
    height: 150px;
    background: #ffffff;
    resize: none;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lt-ie8 .field input[type=text],
.lt-ie8 .field input[type=password] {
    padding: 0;
}
.lt-ie8 .field textarea {
    padding: 0;
}
.field_radio label {
    width: auto;
    font-weight: normal;
    display: inline-block;
}
input[type="checkbox"],
input[type="radio"] {
    margin: 0 0 2px 0;
    vertical-align: middle;
}
input[type=submit],
input[type=reset],
#btnSavePositionData,
button,
.btn, .btn-blue {
    margin: 0;
    padding: 0 5px;
    min-width: 156px;
    height: 35px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 34px;
    color: #ffffff;
    border: 1px solid #f23433;
    background: #f23433;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


input[type=submit]:hover,
input[type=reset]:hover,
button:hover,
.btn:hover, .btn-blue:hover {
    text-decoration: none;
    color: #ffffff;
    background: #f01c1b;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type=submit]:focus,
input[type=reset]:focus,
button:focus,
.btn:focus {
    outline: none;
}
.field_error input[type="password"],
.field_error input[type="text"],
.field_error textarea,
.field_error select,
.field_error .select2-container .select2-choice,
.field_error input[type="password"]:focus,
.field_error input[type="text"]:focus,
.field_error textarea:focus,
.field_error select:focus {
    border-color: #f23433;
    color: #f23433;
}

.form-feedback {
    margin: 0 0 50px 0;
}
.form-feedback textarea {
    height: 170px;
}
.field label {
    margin: 0;
    padding: 7px 18px 0 0;
    width: 31%;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
.field input[type="password"],
.field input[type="text"],
.field textarea {
    width: 68%;
}
.field .select2-container ,
.field select {
    width: 68%;
}
.field_radio {
    padding: 0;
    margin-left: 31%;
}
.field_radio label {
    width: auto !important;
}
.field-btn {
    margin: 0 0 0 31%;
}
.field-btn .btn {
    margin: 0 18px 0 0 ;
}


.captcha-img {
    margin: 15px 0 20px 31%;

}

.img_left {
    padding: 0 10px 10px 0;
    float: left;
}
.img_right {
    padding: 0 0 10px 10px;
    float: right;
}



.t-center {
    text-align: center;
}
.t-left {
    text-align: left;
}
.t-right {
    text-align: right;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.f-none {
    float: none !important;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.req {
    color: red;
    font-weight: bold;
}
ul.photo-sections-list {
    padding: 0;
    overflow: hidden;
}
ul.photo-sections-list li {
    margin: 0 0 33px 0;
    padding: 0;
    position: relative;
    float: left;
    width: 48%;
    text-align: left;
    overflow: hidden;
}
ul.photo-sections-list .photo-section-name {
    font-weight: bold;
}
ul.photo-sections-list .photo-section-name a{
    text-decoration: none;
}
ul.photo-sections-list li .photo-section-image{
    float: left;
    margin: 0 15px 0 0;
}
ul.photo-sections-list li.photo-section-odd {
    clear: both;
}
ul.photo-sections-list li.photo-section-even {
    float: right;
    text-align: right;
}
ul.photo-sections-list  li.photo-section-even .photo-section-image{
    float: right;
    margin: 0 0 0 15px;
}


.row {
    overflow: hidden;
}
.col50 {
    padding: 0  0 0 2%;
    width: 48%;
    float: left;
}
.col50:first-child {
    padding: 0;
    width: 50%;
}
.col33 {
    padding: 0  0 0 2%;
    width: 31%;
    float: left;
}
.col33:first-child {
    padding: 0;
    width: 33%;
}
.col25 {
    padding: 0  0 0 2%;
    width: 23%;
}
.col25:first-child {
    padding: 0;
    width: 25%;
}




ul.menu-section-inline {
    margin: 0 0 35px 0;
    padding: 0;
    width: 100%;
    display: table;

    font-size: 12px;
    border-top: 2px solid #d3b98a;
    border-bottom: 2px solid #d3b98a;
}





ul.menu-section-inline > li {
    margin: 0;
    padding: 15px 0 15px 25px;
    width: 33%;
    display: table-cell;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.section_main ul.menu-section-inline > li:after,
.section_main ul.menu-section-inline > li:before {
    display: none;
}


.section-devider {
    padding: 20px 0;
    margin: 0 0 25px 0;
    border-top: 2px solid #d3b98a;
    border-bottom: 2px solid #d3b98a;
}
.conf-list .news-list-item {
    margin: 0 0 16px 0;
}
.conf-list .news-list-item-head {
    margin: 0 0 16px 0;
    font-weight: normal;
}

.conf-list .news-list-item-head  a {
    color: #415b97;
}

.phone-link {
    text-decoration: none;
    color: #404040;
}
.phone-link:hover {
    text-decoration: none;
    color: #404040;
}
.response-holder {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

#bx-composite-banner {
    float: right;
    margin: -25px 20px 0 0;
}
.footer-admin #bx-composite-banner{
	margin: 18px 20px 0 0;
}

.h1-addon {
    float: right;
}

.mar-top {
    margin-top: -68px;
}

h1 .h1-addon {
    display: inline-block;
    font-size: 13px;
    margin-left: 20px;
}

.share-dialog-inner-left {
    background: none;
}

.aside-wide .activity-pane, .aside-wide .calendar {
    width: auto;
    min-height: auto;
    float: none;
}

.aside-wide .calendar a {
    color: #FFF;
    float: right;
}

.list-tags {
    margin: 10px 0 20px 0;
}

.list-tags a {
    display: inline-block;
    margin: 0 10px 0 0;
}

.subtext {
    display: inline-block;
    font-size: 10px;
    font-style: italic;
    line-height: 14px;
    margin: 8px 0 15px;
    text-align: justify;
    width: 300px;
}
.message-pane {
    margin: 0 0 0 200px;

    padding: 5px 10px  5px 70px;
    position: relative;
    overflow: hidden;
    color: #fff;
    background: #FF4847;

}
.message-pane:after {
    content: '';
    width: 65px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -7px;
    background: #FFF;
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    transform: skewX(-15deg);
}
.message-pane:before {
    content: '';
    width: 33px;
    height: 40px;
    position: absolute;
    top: 2px;
    left: 10px;
    background: url(/bitrix/templates/msu/images/lamp.png) no-repeat 0 0;
    z-index: 2;
}
.message-pane  .btn {
    margin: 0 0 0 50px;
    border: 1px solid #FF7675;
}
.message-pane-text {
    font-size: 20px;
    line-height: 20px;
    vertical-align: -2px;
}
.message-pane-text  span {
    font-size: 14px;
}

/* eng-version
-----------------------------------------------------------------------------*/
.container-main-page-eng-version {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content-main-page-eng-version {
    padding: 0 333px 0 0;
}
.main-text-eng-version{
    padding:40px 50px 38px;
    position:relative;
    text-align:justify;
    color:#fff;
    background:url(/bitrix/templates/msu/images/main-page-eng-bg.jpg) no-repeat center top;
    background-size:768px;
    border-bottom:5px solid #fe4845;
}
.main-text-eng-version:before{
    content:'';
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    top:0;
    left:0;
    background:#000;
    opacity:0.6;
    z-index:1;
}
.content-main-text-eng-version{
    position:relative;
    z-index:2;
}
/* right-sidebar-eng-version
-----------------------------------------------------------------------------*/
.right-sidebar-eng-version {
    float: left;
    width: 333px;
    margin-left: -333px;
    position: relative;
    background: #FFACAA;
}

.content {
    padding: 30px 45px 28px 62px;
    line-height: 23px;
}
.home-page .content {
    padding: 25px 20px 23px 30px;
    width: 450px;
    overflow: hidden;
}

.box-unit-faculty-info h2 a {
    text-decoration: none;
    color: #364464;
}

.unit-faculty-info-index .box-unit-faculty-info {
    margin-bottom: 20px;
}

.blue-divider {
    background-color: #445273;
    height: 1px;
    width: 164px;
    float: right;
}

.news-list-item-conf img {
  max-width: 100px;
}


.footer-special {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 26px;
    font-size: 15px;
}

@media only screen and (max-width: 1024px) {
    .footer-special {
        margin: 0 0 10px 0;
        position: static;
        text-align: center;
    }
}
 
@media only screen and (max-width: 768px) {
    .header-special,
    .footer-special {
        display: none;
    }
}

.ico-special {
    margin: 0 5px 0 0;
    width: 18px;
    height: 12px;
    display: inline-block;
    background: url(/bitrix/templates/msu/images/ico-special.png) no-repeat 0 0;
}
.header-special {
    position: absolute;
    top: 38px;
    right: 24px;
}

.wcommunity_wrap{
	background: #2f3950;
}

/* End */
/* /bitrix/templates/msu/calculator.css?147861352821753 */
/* /bitrix/templates/msu/libs/fotorama/fotorama.css?140137076314242 */
/* /bitrix/templates/msu/styles.css?14776379409575 */
/* /bitrix/templates/msu/template_styles.css?148110056847775 */
