.fokusa4 a button {
    outline: none;
    padding: 3px 8px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background-color: #EB008B;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    border: 0;
    margin-top: 10px;
}
.ad-popup-wrap {
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    height: -webkit-calc(100vh - 70px);
    height: calc(100vh - 70px);
    top: 70px;
    left: 0;
    background-color: rgba(48, 48, 48, 0.95);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99999999;
}
.ad-popup-wrap a.close-ad {
    position: absolute;
    top: 23px;
    right: 25px;
}

.ad-popup-wrap a.close-ad svg {
    pointer-events: none;
}

.ad-popup-wrap .ad-popup-container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 301px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
.ad-popup-wrap .ad-popup-container .company-info a {
    text-decoration: none;
}
.ad-popup-wrap .ad-popup-container .company-info a img {
    vertical-align: middle;
    width: auto;
    height: 50px;
}
.ad-popup-wrap .ad-popup-container .company-info a span {
    vertical-align: bottom;
    padding-left: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.ad-popup-wrap .ad-popup-container .ad-video {
    position: relative;
    height: 188px;
    overflow: hidden;
    margin: 15px 0;
}
.ad-popup-wrap .ad-popup-container .ad-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ad-popup-wrap .ad-popup-container .ad-description-box .title-description {
    margin-bottom: 10px;
}
.ad-popup-wrap .ad-popup-container .ad-description-box .title-description a {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.ad-popup-wrap .ad-popup-container .ad-description-box .description p {
    font-size: 14px;
    color: #fff;
    margin-top: 0px;
}
@media (min-width: 992px) {
    .ad-popup-wrap .ad-popup-container {
        max-width: 782px;
    }
    .ad-popup-wrap .ad-popup-container .ad-video {
        height: 488px;
    }
    .ad-popup-wrap .ad-popup-container .ad-description-box .title-description a {
        font-size: 30px;
    }
    .ad-popup-wrap .ad-popup-container .ad-description-box .description p {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .ad-popup-wrap { top: 60px;  }
    .ad-popup-wrap .ad-popup-container {
        max-width: 90%;
    }
    .ad-popup-wrap .ad-popup-container .company-info a span {
        font-size: 18px;
    }
    .ad-popup-wrap .ad-popup-container .ad-video {
        height: 0px;
        padding-bottom: 56%;
    }
    .ad-popup-wrap .ad-popup-container .ad-description-box .title-description a {
        font-size: 20px;
    }
    .ad-popup-wrap .ad-popup-container .ad-description-box .description p {
        font-size: 16px;
    }

}
