@media all and (min-width: 959px) {

    .content .xdesktop{display:block;}
    .content .xmobile{display:none;}
}

@media all and (max-width: 720px) {

    .content .xdesktop{display:none;}
    .content .xmobile{display:block;}
}

@media all and (max-width: 479px) {

    .content .xdesktop{display:none;}
    .content .xmobile{display:block;}
}

.sadv {
    width: 300px;
    height: 250px;
    position:absolute;
    top:0px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cookiebanner {display:none;background:#333;position:fixed;bottom:0;left:0;width:100%}
.cookiecontainer {margin: 0 auto;width: 70%;color: #f0f0f0;padding:15px}
.buttoncookie {background: #CCC;color:black;padding: 5px 10px;border-radius: 3px}
.xdesktop {clear:both;width:968px;height:120px;border: 1px solid black;text-align:center;padding-top:23px}
.xmobile {clear:both;width:300px;border: 1px solid black}
.container {max-width:970px;margin-left:auto;margin-right:auto;padding-top:10px;background:black}
.header {background-color:#FFF000}
.leaderboard {clear:both;padding-top:20px;padding-bottom:20px}
.datebox {float:left;min-width: 90px;background:black;color:white;text-align:center}
.datebox span {font-size:28px}
.logobox {float:left; height:110px}
.chbuttonsbox {float:left;width:300px;}
.highlightsbox{border: 1px solid black}
.mainnavbar_a{float:left;width:300px;text-align: center;border: 1px solid black;background:black}
.mainnavbar_page{float:left;width:270px;text-align: center;border: 1px solid black;background:black}
.mainnavbar_time{float:left;width:270px; text-align: center;border:1px solid black;background:black}
.chpreviewbox {float:left;border: 1px solid black;color:white;background:black}
.singlechprevbox {clear:both;border: 1px solid black;color: white}
.thumbprevbox {float:left;border: 1px solid black}
.listingprevbox {float:left;width:37%;min-width:300px;min-height:230px;border:1px solid black;border-radius:12px;padding:8px;text-align:center}
.listingbox {float:left;width:37%;min-width:300px;min-height:430px;border:1px solid black;border-radius:12px;padding:8px;text-align:center;font-size: 14px}
.leftcolbox {float:left;max-width: 300px;border: 1px solid black;color: white}
.rightcolbox {float:left;width:300px;border: 1px solid black}
.stb1 {float:left;width:42px;height:41px;text-indent:-9999px}
.prgpreviewtext {font-size:small;font-weight:normal;text-align: left}
.footer{clear:both;text-align:center;color:white}
.spacer {clear:both;height:10px}
.schedatavbox {clear:both;max-width:640px;border: 1px;color: white}
.disqusbox {max-width:640px;padding: 10px;border: 1px}
.stb1 {
float:left;
display:block;
width:42px;
height:41px;
text-indent:-9999px;
}
.numerocanale {
	color: rgb(255, 255, 255);
	margin-left:auto;
	margin-right:0px;
	text-align:center;
	width:40px;
	height:39px;
	background:url(/a.jpg) -554px -123px no-repeat
}
.primatv {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -128px -163px no-repeat
}
.replica {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -86px -164px no-repeat
}
.live {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -639px -164px no-repeat
}
.diff {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -678px -164px no-repeat
}
.smile_4 {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -723px 2px no-repeat
}
.smile_5 {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -762px 2px no-repeat
}
.smile_6 {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -762px -40px no-repeat
}
.assistente {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -762px -80px no-repeat
}
.robot{
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -762px -121px no-repeat
}
.cerca{
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -762px -161px no-repeat
}
.inonda {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -841px -80px no-repeat
}
.twitter {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -723px -40px no-repeat
}
.facebook {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -722px -82px no-repeat
}
.sky_uno {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -762px -82px no-repeat
}
.youtube {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -723px -123px no-repeat
}
.googleplus {
    color: rgb(255, 255, 255);
    vertical-align: bottom;
    text-align: center;
    background:url(/a.jpg) -723px -163px no-repeat
}
.cinema {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -680px 1px no-repeat
}
.netflix {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -680px -40px no-repeat
}
.smile_happy {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -641px 2px no-repeat
}
.smile_love {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -638px -39px no-repeat
}
.smile_nothappy {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -639px -79px no-repeat
}
.smile_info {
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	text-align: center;
	background:url(/a.jpg) -639px -123px no-repeat
}
a.rai1:link {
background:url(/a.jpg) 0 0 no-repeat
}
a.rai2:link {
background:url(/a.jpg) -40px 0 no-repeat
}
a.rai3:link {
background:url(/a.jpg) -84px 0 no-repeat
}
a.rai4:link {
background:url(/a.jpg) -128px 0 no-repeat
}
a.rai5:link {
background:url(/a.jpg) -170px 0 no-repeat
}
a.rai_premium:link {
background:url(/a.jpg) -213px 0 no-repeat
}
a.raimovie:link {
background:url(/a.jpg) -255px 0 no-repeat
}
a.rai_sport_1:link {
background:url(/a.jpg) -297px 0 no-repeat
}
a.rai_sport_2:link {
background:url(/a.jpg) -341px 0 no-repeat
}
a.rai_storia:link {
background:url(/a.jpg) -384px 0 no-repeat
}
a.rai_gulp:link {
background:url(/a.jpg) -426px 0 no-repeat
}
a.rai_yoyo:link {
background:url(/a.jpg) -469px 0 no-repeat
}
a.la1:link {
background:url(/a.jpg) -469px -82px no-repeat
}
a.mya:link {
background:url(/a.jpg) -469px -123px no-repeat
}
a.apple:link {
background:url(/a.jpg) -468px -165px no-repeat
}
a.la2:link {
background:url(/a.jpg) -512px -82px no-repeat
}
a.euro_sport:link {
background:url(/a.jpg) -512px -123px no-repeat
}
a.windowsphone:link {
background:url(/a.jpg) -511px -164px no-repeat
}
a.sportitalia:link {
background:url(/a.jpg) -512px 0 no-repeat
}
a.sportitalia2:link {
background:url(/a.jpg) -552px 0 no-repeat
}
a.firefoxos:link {
background:url(/a.jpg) -551px 0 no-repeat
}
a.rai_scuola:link {
background:url(/a.jpg) -597px 0 no-repeat
}
a.laeffe:link {
background:url(/a.jpg) -554px -40px no-repeat
}
a.paramount_channel:link {
background:url(/a.jpg) -597px -40px no-repeat
}
a.frisbee:link {
background:url(/a.jpg) -597px -81px no-repeat
}
a.agonchannel:link {
background:url(/a.jpg) -595px -123px no-repeat
}
a.tv8:link {
background:url(/a.jpg) -512px -40px no-repeat
}
a.canale5:link {
background:url(/a.jpg) 0px -40px no-repeat
}
a.rete4:link {
background:url(/a.jpg) -41px -40px no-repeat
}
a.italia1:link {
background:url(/a.jpg) -84px -40px no-repeat
}
a.italia2:link {
background:url(/a.jpg) -128px -40px no-repeat
}
a.la5:link {
background:url(/a.jpg) -170px -40px no-repeat
}
a.mediaset_extra:link {
background:url(/a.jpg) -213px -40px no-repeat
}
a.iris:link {
background:url(/a.jpg) -255px -40px no-repeat
}
a.topcrime:link {
background:url(/a.jpg) -297px -40px no-repeat
}
a.boing:link {
background:url(/a.jpg) -341px -40px no-repeat
}
a.cartoonito:link {
background:url(/a.jpg) -383px -40px no-repeat
}
a.la7:link {
background:url(/a.jpg) -425px -40px no-repeat
}
a.la7d:link {
background:url(/a.jpg) -469px -40px no-repeat
}
a.focustv:link {
background:url(/a.jpg) 0px -81px no-repeat
}
a.giallotv:link {
background:url(/a.jpg) -41px -81px no-repeat
}
a.discovery_channel:link {
background:url(/a.jpg) -41px -122px no-repeat
}
a.super:link {
background:url(/a.jpg) -41px -164px no-repeat
}
a.k2:link {
background:url(/a.jpg) -84px -81px no-repeat
}
a.sky_cinema1:link {
background:url(/a.jpg) -84px -123px no-repeat
}
a.cielo:link {
background:url(/a.jpg) -128px -81px no-repeat
}
a.sky_cinema_family:link {
background:url(/a.jpg) -128px -123px no-repeat
}
a.dmax:link {
background:url(/a.jpg) -170px -81px no-repeat
}
a.sky_cinema_passion:link {
background:url(/a.jpg) -170px -123px no-repeat
}
a.realtime:link {
background:url(/a.jpg) -213px -81px no-repeat
}
a.cult_network:link {
background:url(/a.jpg) -213px -123px no-repeat
}
a.film:link {
background:url(/a.jpg) -213px -164px no-repeat
}
a.nove:link {
background:url(/a.jpg) -255px -81px no-repeat
}
a.sky_cinema_max:link {
background:url(/a.jpg) -255px -123px no-repeat
}
a.sport:link {
background:url(/a.jpg) -255px -164px no-repeat
}
a.classtv:link {
background:url(/a.jpg) -298px -81px no-repeat
}
a.sky_tg24:link {
background:url(/a.jpg) -297px -81px no-repeat
}
a.fox:link {
background:url(/a.jpg) -298px -122px no-repeat
}
a.docs:link {
background:url(/a.jpg) -298px -164px no-repeat
}
a.tv2000:link {
background:url(/a.jpg) -340px -81px no-repeat
}
a.mediaset_premium:link {
background:url(/a.jpg) -340px -122px no-repeat
}
a.kids:link {
background:url(/a.jpg) -341px -164px no-repeat
}
a.premium_cinema:link {
background:url(/a.jpg) -339px -122px no-repeat
}
a.nuvolari:link {
background:url(/a.jpg) -170px -165px no-repeat
}
a.fineliving:link {
background:url(/a.jpg) -382px -81px no-repeat
}
a.joi:link {
background:url(/a.jpg) -383px -122px no-repeat
}
a.sky:link {
background:url(/a.jpg) -383px -164px no-repeat
}
a.italia7_gold:link {
background:url(/a.jpg) -425px -81px no-repeat
}
a.premium_action:link {
background:url(/a.jpg) -425px -123px no-repeat
}
a.telefilm:link {
background:url(/a.jpg) -426px -165px no-repeat
}
a.siteboard:link {
background:url(/a.jpg) -552px -81px no-repeat
}
a.android:link {
background:url(/a.jpg) -552px -165px no-repeat
}
a.disney_channel {
background:url(/a.jpg) 0px -123px no-repeat
}
a.supertennis {
background:url(/a.jpg) 0px -165px no-repeat
}
.bbutton {
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border:0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-indent:0px;
	display:inline-block;
	color:#FFFFFF;
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	line-height:25px;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
}
.prisecbutton {
	background: rgb(202, 60, 60);
	width:100px;
	height:40px;
	font-size:15px;

}
.backfw {
	background: rgb(223, 117, 20);
	width:100px;
	height:40px;
	font-size:15px;
}

.classname:hover {
	background-color:#f2ab1e;
}

.classname:active {
	position:relative;
	top:1px;
}
