@charset "utf-8";/* CSS Document */
html,body,div,h1,h2,h3,h4,h5,h6,p,form,ul,li,dl,dt,dd,ol,table{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
fieldset,img{border:0;}
:focus{outline:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr,acronym{border:0;font-variant:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
code,kbd,samp,tt{font-size:100%;}
input,button,textarea,select{*font-size:100%;}
body{line-height:1.5;min-width: 1088px}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
sup,sub{font-size:100%;vertical-align:baseline;}
:link,:visited,ins{text-decoration:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
body{font-family:"Microsoft YaHei";font-size:14px;background-color: #faf8f2;color: #232323;}
a{color: #232323;}
a:hover{color: #591804;}
.body{}
.wrapBox{width:1088px;margin:0 auto;}

.header{height: 56px;position: relative;background: url(http://cimg.178.com/nga/s/new15/p52.png);line-height: 60px;margin-bottom: 47px;border-bottom: 1px solid #ede8da;overflow: hidden;}
.header .logo{background: url(http://cimg.178.com/nga/s/new15/p58.png) 0 50% no-repeat;height: 100%;position: absolute;top: 3px;left: 0;height: 100%;padding-left: 45px;color: #232323;font-size: 24px;}
.header .logo a{color: #232323;}
.header .wrapBox{position: relative;height: 100%;}
.header .urls{position: absolute;top: 0;right: 0;width: 700px;height: 100%;font-size: 16px;}
.header .urls a{float: right;border-left:1px solid #ede8da;height: 100%;padding:0 10px 0 35px;background-position: 9px 21px;background-repeat: no-repeat;}
.header .urls .a01{background-image: url(http://cimg.178.com/nga/s/new15/p53.png);}
.header .urls .a02{background-image: url(http://cimg.178.com/nga/s/new15/p54.png);}
.header .urls .a03{background-image: url(http://cimg.178.com/nga/s/new15/p55.png);}
.header .urls .a04{background-image: url(http://cimg.178.com/nga/s/new15/p56.png);}
.header .urls .a05{background-image: url(http://cimg.178.com/nga/s/new15/p57.png);background-position: right 27px;padding:0 30px 0 13px;border-right:1px solid #ede8da;}

.scrollA{width:100%;position:relative;}
.scrollB{width:100%;position:relative;overflow:hidden;margin:0 auto;height:100%;}
/*.scrollC{width:10000%;position:relative;height:100%;}*/
/*.scrollD{width:1%;float:left;height:100%;}*/
.scrollC{width:100%;position:relative;height:100%;}
.scrollD{width:100%;position:relative;height:100%;position: absolute;top: 0;left: 0;}
.scrollL,.scrollR{display:block;position:absolute;top:0;width:50px;height:100%;cursor:pointer;-webkit-animation: myfirst 1s linear .1s infinite alternate;}
.scrollL:hover,.scrollR:hover{-webkit-animation-delay: 500s;}
.scrollL{}
.scrollR{}

.scrollBox{}
.scrollTabs{position: absolute;right: 0;top: 9px;width: 0;background-color: #faf8f2;padding:0 16px;overflow: hidden;height: 16px;}
.scrollTab{width: 16px;height: 16px;display: block;background: url(http://cimg.178.com/nga/s/new15/p39.png) 50% 50% no-repeat;float: left;}
.scrollTab.cur{background: url(http://cimg.178.com/nga/s/new15/p40.png) 50% 50% no-repeat;}
.scrollTabLeft,.scrollTabRight{;display: block;position: absolute;top: 0;display: block;width: 16px;height: 16px;cursor: pointer;}
.scrollTabLeft{background: url(http://cimg.178.com/nga/s/new15/p37.png) 0 0 no-repeat;left: 0;}
.scrollTabRight{background: url(http://cimg.178.com/nga/s/new15/p38.png) 0 0 no-repeat;right: 0;}
.scrollTabLeft:hover,.scrollTabRight:hover{background-position: 0 bottom;}
.scrollOuter{position: relative;overflow: hidden;}
.scrollInner{position: relative;width: 10000%;}
.scrollBlock{width: 1%;float: left;}

.authorSection{height: 400px;margin:0 auto 0;width: 1088px;margin-top: 33px;position: relative;background: url(http://cimg.178.com/nga/s/new15/p64.png) 50% 0 repeat-y #fcfbf7;}
.authorSection .userBg{background-position: 50% 50%;background-repeat: no-repeat;height: 288px;width: 100%;display: block;position: absolute;top: 0;left: 0;}
.authorSection .change{background: url(http://cimg.178.com/nga/s/new15/p63.png) 0 0 no-repeat;width: 16px;height: 16px;position: absolute;top: -1px;right: -1px;cursor: pointer;transition:all .2s ease-out;}
.authorSection .change:hover{top: -3px;right: -3px;}
.authorSection .infor01{width: 160px;height: 160px;position: absolute;top: 177px;right: 48px;}
.authorSection .infor01 img{width:100%;height:100%;top: 0;left: 0;display: block;position: absolute;}
.authorSection .infor01 .mask{width:100%;height:100%;top: 0;left: 0;display: block;position: absolute;}
.authorSection .infor02{position: absolute;top: 248px;left: 728px;}
.authorSection .infor02 a{float: left;padding:2px 7px;background-color: #f8f8f8;color: #232323;margin-right: 19px;border-radius: 2px;position: relative;}
.authorSection .infor02 a:hover{background-color: #375b9d;color: #fff;}
.authorSection .infor02 .num{position: absolute;background-color: #ff0000;color: #fff;top: -12px;font-size: 12px;padding: 1px 2px;right: -6px;}
.authorSection .infor03{position: absolute;top: 248px;left: 33px;}
.authorSection .infor03 a{background: url(http://cimg.178.com/nga/s/new15/p61.png);color: #faf8f2;float: left;padding: 2px 8px;margin-right: 20px;border-radius: 2px}
.authorSection .infor03 a:hover{color: #f90;}
.authorSection .infor04{position: absolute;top: 308px;left: 23px;color: #4d4d4d;line-height: 24px;width: 580px;}
.authorSection .infor04 p{}
.authorSection .infor05{position: absolute;top: 298px;left: 720px;}
.authorSection .infor05 .nam{color: #232323;font-weight: bold;font-size: 24px;}
.authorSection .infor05 .tag{color: #ffffff;background-color: #c5a14b;font-size: 12px;padding: 3px 8px;border-radius: 2px;margin-left: 4px;position: relative;top: -4px;}
.authorSection .infor06{position: absolute;top: 352px;background: url(http://cimg.178.com/nga/s/new15/p62.png) 0 0 no-repeat;width: 192px;height: 30px;line-height: 30px;padding-top: 2px;right: 33px;}
.authorSection .infor06 span{float: left;width: 50%;text-align: center;color: #999999;font-size: 12px;}
.authorSection .infor06 span:hover{color: #4d4d4d}
.authorSection .infor07{position: absolute;top: 248px;left: 728px;}
.authorSection .infor07 a{float: left;padding:2px 7px;color: #fff;margin-right: 19px;border-radius: 2px;}
.authorSection .infor07 .a01{background-color: #ac4e31;}
.authorSection .infor07 .a01:hover{background-color: #e66740;}
.authorSection .infor07 .a02{background-color: #375b9d;}
.authorSection .infor07 .a02:hover{background-color: #5085e6;}

.clickTabBox{}
.clickTabs{}
.clickTab{cursor: pointer;}
.clickCon{}
.clickBlock{display: none;}

.addMore{width: 212px;height: 32px;margin:0 auto;background: url(http://cimg.178.com/nga/s/new15/more3.gif) no-repeat 50% 10px #f2ebda;display: none;}

.blockHotImgs{width: 1088px;height: 368px;margin:33px auto 38px;}
.blockHotImgs .pic{width: 1088px;height: 100%;display: block;position: relative;}
.blockHotImgs .pic img{width: 1088px;height: 100%;display: block;}
.blockHotImgs .scrollF{background: url(http://cimg.178.com/nga/s/new15/p01.png);width: 288px;height: 100%;position: absolute;top: 0;left: 0;overflow: hidden;}
.blockHotImgs .scrollD .txt{display: none;}
.blockHotImgs .txt{width: 225px;margin:0 auto;}
.blockHotImgs .tit{color: #faf8f2;font-size: 24px;line-height: 40px;padding:65px 0 20px;}
.blockHotImgs .dig{color: #cccac6;font-size: 14px;line-height: 24px;}
.blockHotImgs .scrollL{background:url(http://cimg.178.com/nga/s/new15/p02.png) 50% 50% no-repeat;left:-50px;}
.blockHotImgs .scrollR{background:url(http://cimg.178.com/nga/s/new15/p03.png) 50% 50% no-repeat;right:-50px;}
.blockHotImgs .scrollE{text-align: right;position: absolute;bottom: 15px;left: 0;font-size: 0;width: 100%;height: 16px;display: block;}
.blockHotImgs .scrollE span{background: url(http://cimg.178.com/nga/s/new15/p05.png) 0 0 no-repeat;width: 16px;height: 16px;display: inline-block;margin-right: 15px;position: relative;cursor: pointer;}
.blockHotImgs .scrollE canvas{display: none;}
.blockHotImgs .scrollE .il{background: url(http://cimg.178.com/nga/s/new15/p04l.png) 0 0 no-repeat;display: inline-block;width: 8px;height: 16px;position: absolute;top: 0;left: 0;}
.blockHotImgs .scrollE .ir{background: url(http://cimg.178.com/nga/s/new15/p04r.png) 0 0 no-repeat;display: inline-block;width: 8px;height: 16px;position: absolute;top: 0;right: 0;}
.blockHotImgs .scrollE .cur{background: none;}
.blockHotImgs .scrollE .cur canvas{display: block;}
.blockHotImgs .scrollE .iecur{background: url(http://cimg.178.com/nga/s/new15/p04.png) 0 0 no-repeat;}

.block01{color: #591804;background: url(http://cimg.178.com/nga/s/new15/p09.png) 0 bottom repeat-x;position: relative;height: 40px;margin-bottom: 9px;z-index: 2;}
.block01 .sub01{}
.block01 .sub01 li{float: left;line-height: 38px;height: 38px;padding-top: 2px;width: 96px;text-align: center;cursor:pointer;position: relative;}
/*.block01 .sub01 li{background: url(http://cimg.178.com/nga/s/new15/p06.png) repeat-x 0 0;}*/
.block01 .sub01 li a{display:block}
.block01 .sub01 li:hover{background: url(http://cimg.178.com/nga/s/new15/p08.png) no-repeat 0 0;}
.block01 .sub01 li.cur{background: url(http://cimg.178.com/nga/s/new15/p07.png) no-repeat #faf8f2;}
.block01 .sub01 .a01{background: url(http://cimg.178.com/nga/s/new15/p07.png) no-repeat #faf8f2;}
.block01 .sub01 .a02{width: 86px;padding-right: 10px;}
.block01 .sub01 .a03{text-align: left;text-indent: 18px;}
.block01 .sub01 .icon01{background: url(http://cimg.178.com/nga/s/new15/p41.png) no-repeat #faf8f2;width: 7px;height: 4px;display: block;position: absolute;top: 19px;right: 8px;}
.block01 .sub01 .icon02{background: url(http://cimg.178.com/nga/s/new15/p42.png) no-repeat #faf8f2;width: 20px;height: 17px;display: block;position: absolute;top: 12px;right: 16px;}

.block01 .sub01 .hideLi{position: absolute;top: 38px;left: 0;width: 126px;border:1px solid #e6e4df;border-bottom: none;display: none;text-align: left;}
.block01 .sub01 .hideLi .li{height: 30px;line-height: 30px;text-indent: 15px;border-bottom: 1px solid #e6e4df;}
.block01 .sub01 .hideLi a{color: #232323;display: block;background-color: #faf8f2;width:100%;height:100%;}
.block01 .sub01 .hideLi a:hover{color: #232323;background-color: #edebe6;}

.block01 .sub02{background: url(http://cimg.178.com/nga/s/new15/p11.png) 50% 50% no-repeat;height: 100%;width: 20px;position: absolute;right: 0;top: 0;cursor:pointer;}

.block02{}
.block02 .li{height: 144px;position: relative;padding:23px 0 25px;background: url(http://cimg.178.com/nga/s/new15/p12.png) repeat-x 0 bottom;}
.block02 .li.last-child,.block02 .li:last-child{background: none;margin-bottom: 7px}
.block02 .img{width: 288px;height: 144px;float:left;position: relative;overflow: hidden;}
.block02 .img a{display: block;width:100%;height:100%;color: #ffffff;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;}
.block02 .img img{display: block;width:100%;height:100%;}
.block02 .img .imghide{background: url(http://cimg.178.com/nga/s/new15/p81.png) 0 0 no-repeat;position: absolute;width:100%;height:100%;top: 0;left: 0;text-align: center;display: none;}
.block02 .img .imghide .posi{position: relative;top: 50px;}
.block02 .img .imghide .cn{font-size: 20px;border-bottom:2px solid #ffffff;padding-bottom: 4px;}
.block02 .img .imghide .en{font-size: 12px;display: block;padding-top: 4px}
.block02 .txt{width: 470px;float: right;height: 100%;}
.block02 .tit{margin-bottom: 5px;position: relative;top: -6px;height: 30px;line-height: 30px;   text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.block02 .tit a{color: #232323;font-size: 18px;font-weight: bold;}
.block02 .tit a:hover{color: #591804;}
.block02 .tag{color: #f5f3f2;background-color: #ac7531;padding:1px 3px;margin-right: 10px;}
.block02 .tag a{color: #f5f3f2;}
.block02 .dig{color: #4d4d4d;line-height: 24px;height: 72px;overflow: hidden;margin-bottom: 20px;}
.block02 .oth{color: #999999;font-size: 12px;}
.block02 .oth .d{background: url(http://cimg.178.com/nga/s/new15/p13.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block02 .oth .a{background: url(http://cimg.178.com/nga/s/new15/p14.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block02 .oth .f{background: url(http://cimg.178.com/nga/s/new15/p15.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block02 .oth .i{background: url(http://cimg.178.com/nga/s/new15/p16.png) 0 50% no-repeat;padding-left: 15px;color: #ac7531;float: right;}


.block03{min-height:657px;}
.block03 .tit01{margin-bottom: 25px;}
.block03 .li{position: relative;height: 120px;min-height: 120px;}
.block03 .img{float: left;width: 70px;width: 70px;height: 70px;position: relative;top: 4px;}
.block03 .img img{width:100%;height:100%;display: block;border-radius:50%}
.block03 .img a{width:100%;height:100%;display: block;border-radius:50%;overflow: hidden;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;}
.block03 .img .mask{width:100%;height:100%;display: block;}
.block03 .txt{float: right;width: 185px;}
.block03 .tit{color: #4d4d4d;font-weight: bold;margin-bottom: 5px;}
.block03 .tit a{color: #4d4d4d;}
.block03 .tit a:hover{color: #591804;}
.block03 .dig{color: #999999;line-height: 20px;font-size: 12px;height: 40px;overflow: hidden;margin-bottom:15px;}
.block03 .btn{width: 100%;position: relative;top: -10px;}
.block03 .btn .n01{background: url(http://cimg.178.com/nga/s/new15/p19.png) 0 0 no-repeat;width: 50px;height: 16px;display: block;float: right;}
.block03 .btn .n02{background: url(http://cimg.178.com/nga/s/new15/p20.png) 0 0 no-repeat;width: 50px;height: 16px;display: block;float: right;cursor: pointer;}
.block03 .btn .n02:hover{background: url(http://cimg.178.com/nga/s/new15/p21.png) 0 0 no-repeat;}

.block04{margin-bottom: 32px}
.block04 .tit01{margin-bottom: 15px;}
.block04 .li{float: left;height: 36px;line-height: 36px;float: left;width: 50%;overflow: hidden;}
.block04 .li a{display: block;color: #232323;background: url(http://cimg.178.com/nga/s/new15/p22.png) 0 50% no-repeat;padding-left: 20px;}
.block04 .li a:hover{color: #591804;}

.block05{margin-bottom: 32px}
.block05 .tit01{margin-bottom: 32px;}
.block05 .li{float: left;display: inline;margin-left: 17px;width: 76px;}
.block05 .first-child{margin-left: 6px;}
.block05 .li a{width: 76px;height: 76px;display: block;}
.block05 .li .p01{background: url(http://img5.178.com/ngacn/201502/216958599631/216958613133.jpg) 0 0 no-repeat;}
.block05 .li .p02{background: url(http://cimg.178.com/nga/s/new15/p24.png) 0 0 no-repeat;}
.block05 .li .p03{background: url(http://cimg.178.com/nga/s/new15/p25.png) 0 0 no-repeat;}
.block05 .li .p02:hover{background: url(http://cimg.178.com/nga/s/new15/p26.png) 0 0 no-repeat;}
.block05 .li .p03:hover{background: url(http://cimg.178.com/nga/s/new15/p27.png) 0 0 no-repeat;}

.block06{margin-bottom: 32px;overflow: hidden;}
.block06 .tit01{margin-bottom: 24px;}
.block06 .li{margin-bottom: 24px;}
.block06 .last-child{margin-bottom: 0}
.block06 .tit{font-size: 14px;font-weight: bold;margin-bottom: 5px;}
.block06 .tit a{color: #4d4d4d;}
.block06 .tit a:hover{color: #591804;}
.block06 .dig{color: #999999;margin-bottom: 5px;}
.block06 .dat{color: #ac7531;border:1px solid #ac7531;display: inline-block;padding:2px 3px;*display: inline;*zoom:1;}
.block06 .clickTabs{position: absolute;left: 0;top: 8px;width: 100%;text-align: right;font-size:0;}
.block06 .clickTab{border:2px solid #cccccc;background-color: #faf8f2;color: #591804;color: #591804;margin-left: 8px;padding:2px 3px;font-size:12px;}
.block06 .clickTab.cur{background-color: #591804;border-color: #591804;color: #f5f3f2;}

.block07{margin-bottom: 32px;}
.block07 .tit01{margin-bottom: 24px;}
.block07 .li{text-align: center;width: 100%;height: 80px;position: relative;margin-bottom: 24px;}
.block06 .last-child{margin-bottom: 0}
.block07 .li a{display: block;width:100%;height:100%;color: #f5f3f2}
.block07 .li img{display: block;width:100%;height:100%;}
.block07 .tit{position: absolute;font-size: 16px;top: 13px;width: 100%;text-shadow: 1px 1px 1px #000;}
.block07 .dig{position: absolute;font-size: 12px;top: 52px;width: 100%;display: none;}

.block08{}
.block08 .tit01{margin-bottom: 32px;}
.block08 .img{width: 140px;float: left;}
.block08 .ul{width: 112px;float: right;}
.block08 .li{margin-bottom: 12px;}
.block08 .li a{width: 112px;height: 34px;display: block;}
.block08 .n01{background: url(http://cimg.178.com/nga/s/new15/p29.png) 0 0 no-repeat;}
.block08 .n02{background: url(http://cimg.178.com/nga/s/new15/p30.png) 0 0 no-repeat;}
.block08 .n03{background: url(http://cimg.178.com/nga/s/new15/p31.png) 0 0 no-repeat;}
.block08 .n04{background: url(http://cimg.178.com/nga/s/new15/p32.png) 0 0 no-repeat;}
.block08 .n01:hover{background: url(http://cimg.178.com/nga/s/new15/p33.png) 0 0 no-repeat;}
.block08 .n02:hover{background: url(http://cimg.178.com/nga/s/new15/p34.png) 0 0 no-repeat;}
.block08 .n03:hover{background: url(http://cimg.178.com/nga/s/new15/p35.png) 0 0 no-repeat;}
.block08 .n04:hover{background: url(http://cimg.178.com/nga/s/new15/p36.png) 0 0 no-repeat;}

.block09{}
.block09 a{display: block;height: 46px;line-height: 46px;text-align: center;background-color: #faf6e6;border:1px solid #e6cc8b;font-size: 16px;margin-bottom: 32px;color: #593304;}
.block09 a:hover{background-color: #fff7d6;border-color: #e6cc8b}

.block10{}
.block10 .li{position: relative;padding:20px 0 22px;background: url(http://cimg.178.com/nga/s/new15/p12.png) repeat-x 0 bottom;}
.block10 .li.last-child,.block10 .li:last-child{background: none;margin-bottom: 7px}
.block10 .dig{color: #4d4d4d;line-height: 24px;height: 72px;overflow: hidden;margin-bottom: 15px;}
.block10 .dig a{color: #4d4d4d;}
.block10 .dig a:hover{color: #591804;}
.block10 .oth{color: #999999;font-size: 12px;}
.block10 .oth .d{background: url(http://cimg.178.com/nga/s/new15/p13.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block10 .oth .a{background: url(http://cimg.178.com/nga/s/new15/p14.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block10 .oth .f{background: url(http://cimg.178.com/nga/s/new15/p15.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block10 .oth .i{background: url(http://cimg.178.com/nga/s/new15/p16.png) 0 50% no-repeat;padding-left: 15px;color: #ac7531;float: right;}


.block11{margin-top: 25px;}
.block11 ul{position: relative;width: 784px;}
.block11 .li{width: 382px;background: #fcfbf7;border:1px solid #e6e4df;overflow: hidden;margin-bottom: 16px;}
.block11 .tit{padding:10px 10px 3px 15px;}
.block11 .tit h2{font-weight: bold;font-size: 18px;}
.block11 .dig{color: #4d4d4d;padding: 12px 10px 10px 15px;border-top: 1px solid #f0eee9;}
.block11 .oth{color: #999999;padding-left: 15px;padding: 9px 0 5px 15px;}
.block11 .oth .d{background: url(http://cimg.178.com/nga/s/new15/p13.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block11 .oth .a{background: url(http://cimg.178.com/nga/s/new15/p14.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block11 .oth .f{background: url(http://cimg.178.com/nga/s/new15/p15.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block11 .oth .i{background: url(http://cimg.178.com/nga/s/new15/p16.png) 0 50% no-repeat;padding-left: 15px;color: #ac7531;float: right;}
.block11 .img{position: relative;}
.block11 .img a{width: 100%;height: 100%;display: block;}
.block11 .img .mask{width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;background-color: rgba(255,255,255,0.1);display: none;}
.block11 .img:hover .mask{display: block;}
.block11 .img img{display: block;width: 100%;}
.block11 .img .size{color: #fff;position: absolute;right: -5px;bottom:8px;background: rgba(89,24,4,0.6);border-radius: 5px;padding:3px 10px 0 8px;}



.block12{}
.block12 .subl{width: 368px;float: left;}
.block12 .subr{width: 368px;float: right;}
.block12 .tit{background: url(http://cimg.178.com/nga/s/new15/p47.png) 0 bottom no-repeat;padding: 10px 0 8px;margin-bottom: 20px;}
.block12 .tit h2{color: #232323;font-weight: bold;font-size: 16px;}
.block12 li{height: 32px;line-height: 32px;position: relative;background: url(http://cimg.178.com/nga/s/new15/p46.png) 0 50% no-repeat;padding-left: 12px;}
.block12 li a{}
.block12 li a:hover{}
.block12 li .d{position: absolute;top: 0;right: 0;color: #999999;}

.block13{overflow: hidden;margin-top: 30px;}
.block13 ul{width: 111%;}
.block13 .li{width: 376px;height: 272px;position: relative;display: inline;float:left;border:2px solid #faf8f2;margin: 0 24px 28px 0;}
.block13 .li:hover{border-color:#ac4e31;}
.block13 .li a{display: block;width:100%;height: 100%;font-size: 16px;}
.block13 .li img{width: 100%;height: 215px;display: block;margin-bottom: 18px;}
.block13 .li .t{display: block;text-indent: 15px;}


.block14{overflow: hidden;margin-top: 22px;}
.block14 .tit{font-size: 20px;color:#591804;margin-bottom: 18px;}
.block14 .tit h2{font-weight: bold;}
.block14 ul{width: 111%;}
.block14 .li{width: 374px;height: 190px;float: left;border:1px solid #e6e4df;position: relative;font-size: 12px;display: inline;margin:0 32px 32px 0;}
.block14 .img{width: 88px;height: 88px;position: absolute;top: 15px;left: 15px;}
.block14 .img img{display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.block14 .img .mask{display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.block14 .txt{color: #4d4d4d;margin:0 16px 0 120px;padding-top:19px;min-height: 88px;height: 80px;margin-bottom: 11px;}
.block14 .txt .t{font-size: 16px;margin-bottom: 17px;}
.block14 .txt .g{background: #c5a14b;color: #fff;font-size: 12px;margin-left: 4px;padding: 1px 3px;border-radius: 2px;position: relative;top: -1px;}
.block14 .txt .z{}
.block14 .oth{color: #999999;margin-left: 15px;margin-bottom: 15px;}
.block14 .oth .d{background: url(http://cimg.178.com/nga/s/new15/p13.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block14 .oth .a{background: url(http://cimg.178.com/nga/s/new15/p14.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block14 .oth .f{background: url(http://cimg.178.com/nga/s/new15/p15.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block14 .oth .i{background: url(http://cimg.178.com/nga/s/new15/p16.png) 0 50% no-repeat;padding-left: 15px;color: #ac7531;float: right;}
.block14 .ding{text-align: right;font-size: 0;}
.block14 .ding span{display: inline-block;width: 48px;height: 24px;margin-right: 15px;cursor:pointer;*display: inline;*zoom:1;}
.block14 .ding .d01{background: url(http://cimg.178.com/nga/s/new15/p59.png) 0 0 no-repeat;}
.block14 .ding .d01:hover{background: url(http://cimg.178.com/nga/s/new15/p59.png) 0 bottom no-repeat;}
.block14 .ding .d02{background: url(http://cimg.178.com/nga/s/new15/p59.png) right 0 no-repeat;}
.block14 .ding .d02:hover{background: url(http://cimg.178.com/nga/s/new15/p59.png) right bottom no-repeat;}
.block14 .ding .d03{background: url(http://cimg.178.com/nga/s/new15/p60.png) 0 0 no-repeat;width: 96px;height: 24px;}


.block15{position: relative;border-top:1px solid #e6e4df;background: #f5f3ed url(http://cimg.178.com/nga/s/new15/p09.png) 0 bottom repeat-x}
.block15 .sub01{}
.block15 .sub01 li{height: 40px;line-height: 40px;border-right:1px solid #e6e4df;padding:0 15px;float:left;cursor:pointer;min-width: 60px;text-align: center;}
.block15 .sub01 .cur{background-color: #fffefa;}
.block15 .sub02{width: 190px;position: absolute;right: 0;top: 10px;font-size: 14px;}
.block15 .sub02 a{background: url(http://cimg.178.com/nga/s/new15/p71.png) 0 50% no-repeat;color:#591804;display: block;padding: 2px 0 0 25px;}
.block15 .sub02 a:hover{color: #781c00;}
.block15 .sub03{width: 190px;position: absolute;right: 0;top: 10px;font-size: 14px;}
.block15 .sub03 a{background: url(http://cimg.178.com/nga/s/new15/p78.png) 0 50% no-repeat;color:#591804;display: block;padding: 2px 0 0 25px;}
.block15 .sub03 a:hover{color: #591804;background-image: url(http://cimg.178.com/nga/s/new15/p79.png);}

.block16{background: #fffefa;padding-bottom: 25px;}
.block16 ul{margin-bottom: 30px}
.block16 .li{position: relative;margin:0 15px;height:235px;}
.block16 .tit{background: url(http://cimg.178.com/nga/s/new15/p65.png) 0 bottom repeat-x;position: relative;margin-bottom: 17px;height: 72px;}
.block16 .tit h2{font-weight: bold;font-size: 18px;position: absolute;top: 30px;left: 0;}
.block16 .tit a{}
.block16 .tit .g1{font-size: 14px;margin-right: 15px;background-color: #ac4e31;padding:3px 14px 1px;color: #fff;}
.block16 .tit .g2{font-size: 14px;margin-right: 15px;background-color: #c5a14b;padding:3px 14px 1px;color: #fff;position: absolute;top: 32px;left: 0;}
.block16 .tit .g3{font-size: 14px;margin-right: 15px;background-color: #375b9d;padding:3px 14px 1px;color: #fff;position: absolute;top: 32px;left: 0;}
.block16 .img{width: 288px;height: 144px;}
.block16 .img a{display: block;width:100%;height:100%;}
.block16 .img img{display: block;width:100%;height:100%;}
.block16 .txt{position: absolute;top: 85px;right: 10px;width: 430px;}
.block16 .aut{font-size: 12px;color: #999999;margin-bottom: 11px;}
.block16 .aut strong{font-weight: bold;color: #591804;font-size: 14px;}
.block16 .dig{color: #4d4d4d;font-size: 14px;line-height: 28px;height: 90px;overflow: hidden;}
.block16 .icon{color: #999999;position: absolute;bottom: 0;right: 10px;width: 430px;font-size: 12px;}
.block16 .icon span{padding-left: 20px;margin-right: 15px}
.block16 .icon .n01{background: url(http://cimg.178.com/nga/s/new15/p66.png) 0 50% no-repeat;}
.block16 .icon .n02{background: url(http://cimg.178.com/nga/s/new15/p67.png) 0 50% no-repeat;float: right;}
.block16 .icon .n03{background: url(http://cimg.178.com/nga/s/new15/p68.png) 0 50% no-repeat;float: right;}
.block16 .hideBtns{position: absolute;top: 32px;right: 0;width: 88px;z-index: 2}
.block16 .hideBtns .btn{background: url(http://cimg.178.com/nga/s/new15/p69.png) 0 0 no-repeat;display: block;width: 32px;height: 24px;cursor: pointer;top: 0;right: 0;position: absolute;}
.block16 .hideBtns .bul{border:1px solid #e6e4df;border-bottom: none;font-size: 12px;position: absolute;top: 23px;right: 0;width: 100%;display: none;}
.block16 .hideBtns .bli{background-color: #fffefa;border-bottom:1px solid #e6e4df;height: 30px;line-height: 30px;text-align: center;color: #232323;cursor:pointer;}
.block16 .hideBtns .bli:hover{background-color: #591804;color: #fffefa;}

.block16 .dat{position: absolute;right: 0;top: 2px;font-size: 12px;color: #999999;}

.block17{background: url(http://cimg.178.com/nga/s/new15/p70.png) 5px 50% no-repeat #fffefa;height: 40px;border: 1px solid #e6deca;position: relative;border-radius: 3px;margin: 0 0 30px;}
.block17 .txt{display: block;margin: 0;padding: 0;width: 85%;height: 100%;line-height: 40px;position: absolute;top: 0;left: 30px;color: #333;border:none;text-indent: 5px;color: #999999;background: #fffefa;}
.block17 .btn{display: none;}

.block18{overflow: hidden;padding-top: 16px;}
.block18 .tit{font-size: 20px;color:#591804;margin-bottom: 18px;}
.block18 .tit h2{font-weight: bold;}
.block18 ul{width: 111%;}
.block18 .li{width: 366px;height: 190px;float: left;border:1px solid #e6e4df;position: relative;font-size: 12px;display: inline;margin:0 0 32px 16px;}
.block18 .img{width: 88px;height: 88px;position: absolute;top: 15px;left: 15px;}
.block18 .img img{display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.block18 .img .mask{display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.block18 .txt{color: #4d4d4d;margin:0 16px 0 120px;padding-top:19px;min-height: 88px;height: 80px;margin-bottom: 11px;}
.block18 .txt .t{font-size: 16px;margin-bottom: 17px;}
.block18 .txt .g{background: #c5a14b;color: #fff;font-size: 12px;margin-left: 4px;padding: 1px 3px;border-radius: 2px;position: relative;top: -1px;}
.block18 .txt .z{}
.block18 .oth{color: #999999;margin-left: 15px;margin-bottom: 15px;}
.block18 .oth .d{background: url(http://cimg.178.com/nga/s/new15/p13.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block18 .oth .a{background: url(http://cimg.178.com/nga/s/new15/p14.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block18 .oth .f{background: url(http://cimg.178.com/nga/s/new15/p15.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block18 .oth .i{background: url(http://cimg.178.com/nga/s/new15/p16.png) 0 50% no-repeat;padding-left: 15px;color: #ac7531;float: right;}
.block18 .ding{text-align: right;font-size: 0;}
.block18 .ding span{display: inline-block;width: 48px;height: 24px;margin-right: 15px;cursor:pointer;*display: inline;*zoom:1;}
.block18 .ding .d01{background: url(http://cimg.178.com/nga/s/new15/p59.png) 0 0 no-repeat;}
.block18 .ding .d01:hover{background: url(http://cimg.178.com/nga/s/new15/p59.png) 0 bottom no-repeat;}
.block18 .ding .d02{background: url(http://cimg.178.com/nga/s/new15/p59.png) right 0 no-repeat;}
.block18 .ding .d02:hover{background: url(http://cimg.178.com/nga/s/new15/p59.png) right bottom no-repeat;}
.block18 .ding .d03{background: url(http://cimg.178.com/nga/s/new15/p60.png) 0 0 no-repeat;width: 96px;height: 24px;}


.block19{background: url(http://cimg.178.com/nga/s/new15/p70.png) 10px 50% no-repeat #fffefa;height: 46px;border: 1px solid #e6deca;position: relative;border-radius: 3px;margin: 0 0 30px;}
.block19:hover{border-color: #ac7531;}
.block19 .txt{display: block;margin: 0;padding: 0;width: 85%;height: 100%;line-height: 46px;position: absolute;top: 0;left: 30px;color: #333;border:none;text-indent: 5px;color: #999999;background: #fffefa;}
.block19 .btn{display: none;}

.block20{background-color: #fffefa;border: 1px solid #e6e4df;margin-bottom: 30px;height: 158px;position: relative;}
.block20 .img{width: 122px;height: 122px;position: absolute;top: 10px;left: 10px;}
.block20 .img a,.block20 .img img,.block20 .img .mask{width:100%;height:100%;position: absolute;top: 0;left: 0;}
.block20 .txtBox{width: 610px;position: absolute;top: 28px;left: 158px;}
.block20 .txt01{position: relative;height: 34px;border-bottom: 1px solid #e6e4df;margin-bottom: 4px;}
.block20 .txt02{}
.block20 .nam{color: #591804;font-size: 20px;font-weight: bold;}
.block20 .tag{color: #ffffff;font-size: 12px;background-color: #c5a14b;padding:1px 5px;margin-left:10px;position:relative;top:-3px;}
.block20 .nums{position: absolute;right: 0;top: 9px;color: #999999;font-size: 12px;width: 50%;text-align: right;}
.block20 .nums span{margin: 0 5px}
.block20 .nums span:hover{color: #4d4d4d;}
.block20 .dig{color: #4d4d4d;line-height: 24px;width: 310px;margin-bottom: 11px;height: 48px;overflow: hidden;}
.block20 .oth{color: #999999;font-size: 12px;position: absolute;top: 42px;left: 0;width: 100%;text-align: right;}
.block20 .oth .d{background: url(http://cimg.178.com/nga/s/new15/p13.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block20 .oth .a{background: url(http://cimg.178.com/nga/s/new15/p14.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block20 .oth .f{background: url(http://cimg.178.com/nga/s/new15/p15.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block20 .oth .i{background: url(http://cimg.178.com/nga/s/new15/p16.png) 0 50% no-repeat;padding-left: 15px;color: #ac7531;float: right;}
.block20 .new{font-size: 12px;}
.block20 .new a{color: #375b9d}
.block20 .ding{text-align: right;font-size: 0;position: absolute;top: 90px;right: 0;width: 140px;}
.block20 .ding span{display: inline-block;width: 48px;height: 24px;cursor:pointer;*display: inline;*zoom:1;}
.block20 .ding .d01{background: url(http://cimg.178.com/nga/s/new15/p59.png) 0 0 no-repeat;}
.block20 .ding .d01:hover{background: url(http://cimg.178.com/nga/s/new15/p59.png) 0 bottom no-repeat;}
.block20 .ding .d02{background: url(http://cimg.178.com/nga/s/new15/p59.png) right 0 no-repeat;}
.block20 .ding .d02:hover{background: url(http://cimg.178.com/nga/s/new15/p59.png) right bottom no-repeat;}
.block20 .ding .d03{background: url(http://cimg.178.com/nga/s/new15/p60.png) 0 0 no-repeat;width: 96px;height: 24px;}

.block21{background: url(http://cimg.178.com/nga/s/new15/p72.png) 50% 50px no-repeat;height: 560px;}
.block22{height: 560px;}
.block22 p{font-size: 24px;color: #999;text-align: center;padding-top: 35px;line-height: 2;}
.block22 p a{color: #999;text-decoration: underline;}

.block23{height: 40px;line-height: 40px;background: #f5f3ed url(http://cimg.178.com/nga/s/new15/p71.png) 15px 50% no-repeat;border:1px solid #e6e4df;border-right:none;border-left:none;color: #591804;padding-left: 35px;}
.block23 p{}

.block24{min-height: 1000px;}
.block24 .inner{padding:15px;}
.block24 .li{margin-bottom: 40px;position: relative;padding-left: 86px;}
.block24 .txt01{color: #999999;margin-bottom: 30px;}
.block24 font{font-size: 16px;position: relative;top: 3px;margin: 0 5px;}
.block24 .t{font-size: 16px;color: #232323;margin-right: 24px;position: absolute;top: 0;left: 0;}
.block24 .t2{font-size: 16px;color: #232323;margin-right: 24px;position: absolute;top: 10px;left: 0;}
.block24 .uppic{cursor: pointer;height: 30px;display: inline-block;line-height: 32px;padding:0 10px;background: #f0efeb;border:1px solid #dedede;color: #4d4d4d;font-size: 14px;*display: inline;*zoom:1;margin-right: 15px;}
.block24 .uppic:hover{background-color: #f5f3f0;}
.block24 .of{color: #999999;}
.block24 .text{background-color: #faf9f5;margin: 0;padding: 0;border:1px solid #e6e4df;height: 36px;line-height: 36px;color: #999999;text-indent: 15px;width: 470px;}
.block24 .text:hover{background-color: #faf9f5;border-color: #ac4e31;}
.block24 .textarea{background: #faf9f5;padding:10px 10px 0;border:1px solid #e6e4df;width: 600px;}
.block24 .textarea .inputtxt{color: #999999;text-align: right;padding: 15px 0 10px}
.block24 .textarea textarea{color: #999999;display: block;height: 220px;width: 97%;border:none;background: none;padding:0;margin:0;}
.block24 .isuser{color: #591804;font-weight: bold;}
.block24 .tags{border:1px solid #e6e4df;background-color: #faf9f5;padding: 8px;}
.block24 .tags .tag{background: #ac4e31 url(http://cimg.178.com/nga/s/new15/p73.png) right 50% no-repeat;color: #faf8f2;padding:2px 25px 2px 5px;border-radius: 3px;cursor:pointer;margin-right: 10px;}
.block24 .tags .editag{color: #999999;border:none;background: none;margin: 0;padding: 0;height: 24px;line-height: 24px;}
.block24 .tags .editag:focus{outline:#00FF00 dotted thick;}
.block24 .btns{text-align: center;}
.block24 .btns .btn01,.block24 .btns .btn02{display: inline-block;*display: inline;*zoom:1;margin:0 15px;}
.block24 .btns .btn01{background: url(http://cimg.178.com/nga/s/new15/p74.png) 0 0 no-repeat;width: 128px;height: 48px;overflow: hidden;text-indent: -99999px;cursor:pointer;}
.block24 .btns .btn01:hover{background: url(http://cimg.178.com/nga/s/new15/p76.png) 0 0 no-repeat;}
.block24 .btns .btn02{background: url(http://cimg.178.com/nga/s/new15/p75.png) 0 0 no-repeat;width: 128px;height: 48px;overflow: hidden;text-indent: -99999px;cursor:pointer;}
.block24 .btns .btn02:hover{background: url(http://cimg.178.com/nga/s/new15/p77.png) 0 0 no-repeat;}


.block25{overflow: hidden;margin-top: 22px;padding-bottom: 20px}
.block25 .tit{font-size: 20px;color:#591804;margin-bottom: 18px;}
.block25 .tit h2{font-weight: bold;}
.block25 ul{width: 111%;}
.block25 .li{width: 366px;height: 190px;float: left;border:1px solid #f5f3ed;position: relative;font-size: 12px;display: inline;margin:0 0 15px 15px;background:  url(http://cimg.178.com/nga/s/new15/p80.png) 0 0 repeat-x;}
.block25 .img{width: 88px;height: 88px;position: absolute;top: 15px;left: 15px;}
.block25 .img img{display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.block25 .img .mask{display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.block25 .txt{color: #4d4d4d;margin:0 16px 0 120px;padding-top:19px;min-height: 88px;height: 80px;margin-bottom: 15px;}
.block25 .txt .t{font-size: 16px;margin-bottom: 17px;}
.block25 .txt .g{background: #c5a14b;color: #fff;font-size: 12px;margin-left: 4px;padding: 1px 3px;border-radius: 2px;position: relative;top: -1px;}
.block25 .txt .z{}
.block25 .oth{color: #999999;margin-left: 15px;margin-bottom: 15px;}
.block25 .oth .d{background: url(http://cimg.178.com/nga/s/new15/p13.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block25 .oth .a{background: url(http://cimg.178.com/nga/s/new15/p14.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block25 .oth .f{background: url(http://cimg.178.com/nga/s/new15/p15.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.block25 .oth .i{background: url(http://cimg.178.com/nga/s/new15/p16.png) 0 50% no-repeat;padding-left: 15px;color: #ac7531;float: right;}
.block25 .ding{text-align: right;font-size: 0;}
.block25 .ding span{display: inline-block;width: 48px;height: 24px;margin-right: 15px;cursor:pointer;*display: inline;*zoom:1;}
.block25 .ding .d01{background: url(http://cimg.178.com/nga/s/new15/p59.png) 0 0 no-repeat;}
.block25 .ding .d01:hover{background: url(http://cimg.178.com/nga/s/new15/p59.png) 0 bottom no-repeat;}
.block25 .ding .d02{background: url(http://cimg.178.com/nga/s/new15/p59.png) right 0 no-repeat;}
.block25 .ding .d02:hover{background: url(http://cimg.178.com/nga/s/new15/p59.png) right bottom no-repeat;}
.block25 .ding .d03{background: url(http://cimg.178.com/nga/s/new15/p60.png) 0 0 no-repeat;width: 96px;height: 24px;}


.blockPage01{}
.blockPage01 .title{color: #232323;font-weight: bold;font-size: 32px;margin-bottom: 25px;}
.blockPage01 .other{color: #999999;font-size: 12px;background: url(http://cimg.178.com/nga/s/new15/p12.png) repeat-x 0 bottom;padding: 0 0 13px;margin-bottom: 24px;}
.blockPage01 .other .d{background: url(http://cimg.178.com/nga/s/new15/p13.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.blockPage01 .other .a{background: url(http://cimg.178.com/nga/s/new15/p14.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}
.blockPage01 .other .f{background: url(http://cimg.178.com/nga/s/new15/p15.png) 0 50% no-repeat;padding-left: 16px;margin-right: 15px;}

.authorWindow{padding-left: 155px;position: relative;background-color: #faf5eb;min-height: 170px;border:1px solid #ede5d1;color: #4d4d4d;margin-bottom: 25px;}
.authorWindow .img{width: 150px;position: absolute;top: 15px;left: 0;text-align: center;}
.authorWindow .img img{display: block;margin:0 auto 10px;}
.authorWindow .img .t{font-weight: bold;color: #4d4d4d;}
.authorWindow .img .g{color: #999999;font-size: 12px;}
.authorWindow .txt{line-height: 22px;background: url(http://cimg.178.com/nga/s/new15/p44.png) 0 24px no-repeat;padding-top: 46px;margin-right:30px;}
.authorWindow .txt p{background: url(http://cimg.178.com/nga/s/new15/p45.png) right bottom no-repeat;padding-bottom: 20px;}
.authorWindow .txt a{color: #ac7531;}
.authorWindow .icon{background: url(http://cimg.178.com/nga/s/new15/p43.png) 0 0 no-repeat;width: 64px;height: 24px;position: absolute;top: 8px;right: -2px;}

.authorWindowB{position: relative;background-color: #faf5eb;min-height: 170px;border:1px solid #ede5d1;color: #4d4d4d;margin-bottom: 25px;padding-left: 20px;}
.authorWindowB .txt{line-height: 22px;background: url(http://cimg.178.com/nga/s/new15/p44.png) 0 24px no-repeat;padding-top: 46px;margin-right:30px;}
.authorWindowB .txt p{background: url(http://cimg.178.com/nga/s/new15/p45.png) right bottom no-repeat;padding-bottom: 20px;}
.authorWindowB .txt a{color: #ac7531;}
.authorWindowB .icon{background: url(http://cimg.178.com/nga/s/new15/p43.png) 0 0 no-repeat;width: 64px;height: 24px;position: absolute;top: 8px;right: -2px;}

.pageContent{color: #232323;font-size: 16px;line-height: 1.8em;}
.pageContent h2{color: #232323;font-size: 20px;font-weight: bold;margin-bottom: 15px;}
.pageContent img{max-width: 100%;}
.pageContent p{margin-bottom: 25px;}

.shareBox{margin-bottom: 25px;text-align: right;border-bottom:1px solid #e6e4df;color: #4d4d4d;line-height: 30px;height: 30px;padding-bottom: 10px;}
.shareBox a{width: 30px;height: 30px;margin-left: 10px;float: right;opacity: 0.7;}
.shareBox a:hover{opacity: 1;}
.shareBox span{height: 30px;margin-left: 10px;float: right;}
.shareBox .a01{background: url(http://cimg.178.com/nga/s/new15/p48.png) 50% 50% no-repeat;}
.shareBox .a02{background: url(http://cimg.178.com/nga/s/new15/p49.png) 50% 50% no-repeat;}
.shareBox .a03{background: url(http://cimg.178.com/nga/s/new15/p50.png) 50% 50% no-repeat;}
.shareBox .a04{background: url(http://cimg.178.com/nga/s/new15/p51.png) 50% 50% no-repeat;}

.section01{margin-bottom: 80px;}
.section01 .boxL{width: 784px;}
.section01 .boxR{width: 272px;}

.section02{margin-bottom: 80px;background-color: #fffefa;border:1px solid #e6e4df;border-top: none;width: 1086px;}
.section02 .tit01 h2,.section02 .scrollTabs{background-color: #fffefa;}
.section02 .boxL{width: 782px;border-right: 1px solid #e6deca;}
.section02 .boxR{width: 272px;margin-right: 15px;}

.section03{margin-bottom: 80px;padding-top: 33px;}
.section03 .boxL{width: 784px;}
.section03 .boxR{width: 272px;}
.section03 .block16{border:1px solid #e6e4df;}


.floatSidebar{position: absolute;width: 272px;top:0;transition:right .5s ease-out;display: none;}

.boxL{float: left;display: inline;}
.boxR{float: right;display: inline;}

.tit01{border-left:4px solid #591804;height: 32px;position: relative;background: url(http://cimg.178.com/nga/s/new15/p18.png) 0 50% no-repeat;background-size: 70% 1px;}
.tit01 h2{font-weight: bold;color: #232323;font-size: 16px;position: absolute;top: 6px;left:0;background-color: #faf8f2;padding-right: 10px;text-indent: 10px;}
.tit01 .more{position: absolute;top: 5px;right: 0;}

.animate01 {
    -webkit-animation: myfirst .17s linear .1s infinite alternate;
    /*-webkit-animation-name: myfirst;*/
    /*-webkit-animation-duration:0.05s;*/
    /*-webkit-animation-timing-function:linear;*/
    /*-webkit-animation-delay: 0s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-webkit-animation-direction: alternate;*/
}
@-webkit-keyframes myfirst
{
    to {-webkit-transform: scale(1.15)}
}

/*导航*/
#mainMenu20150307 {font-size:13px;height:55px;overflow:hidden;margin-bottom:33px;margin-bottom: 0}
#mainMenu20150307 .menu .logo {width:158px;height:54px;background:url(http://img4.nga.178.com/ngabbs/nga_classic/logo8.png);float:left}
#mainMenu20150307 .menu {border-bottom:1px solid #E0C19E;height:54px;overflow:hidden;background:#FFF0CD}
#mainMenu20150307 .menu .left {}
#mainMenu20150307 .menu .right {float:right}
#mainMenu20150307 .menu .item {line-height:54px;height:54px;float:left;background:#591804}
#mainMenu20150307 .menu .item .half {padding-top:10px;line-height:18px;font-size:12px;text-align:center;}
#mainMenu20150307 .menu .item .spacer {line-height:10px;height:10px;width:10px}
#mainMenu20150307 .menu .item a {background:#FFF0CD;display:block;padding:0 1.5em;height:54px;text-decoration:none;color:#591804;}
#mainMenu20150307 .menu .item a:hover {height:50px;overflow:hidden;background-color:#FFF8E7;color:#b87563;}
#mainMenu20150307 .menu .item .active {height:50px;overflow:hidden}
#mainMenu20150307 .menu .item .invert {background:#591804;color:#fff}
#mainMenu20150307 .menu .item .invert:hover {background:#b87563;color:#fff}
#mainMenu20150307 .menu .clear {clear:both;line-height:0px;font-size:0px;}

.fridenLink{background-color: #2b2019;color: #795b48;padding:30px 0 0;}
.fridenLink h2{font-weight: bold;font-size: 20px;width: 1088px;margin:0 auto 20px;}
.fridenLink ul{width: 1088px;margin:0 auto;border-bottom: 1px solid #44342A;padding-bottom: 30px}
.fridenLink li{width: 16.666666%;float:left;}
.fridenLink a{color: #795b48;}
