/*
*2016.09.07
*/
/*导航*/
body {
  padding-top: 112px;
}
/*顶部一级导航*/
.ws-nav-bg {
  background: #4d4d4d;
  height: 30px;
}
.ws-nav {
  width: 1200px;
  min-width: 1200px;
  padding: 0;
  /*.ws-nav-login:hover .ws-nav-users{

        display: block;
    }*/
}
.ws-nav .ws-nav-ul {
  margin: 0;
  padding: 0;
}
.ws-nav .ws-nav-li {
  list-style: none;
  height: 30px;
  font-size: 1.4rem;
  padding-right: 20px;
  line-height: 30px;
  margin: 0;
}
.ws-nav a {
  color: #fff;
}
.ws-nav .ws-nav-touchIcon {
  display: inline-block;
  background-image: url(../images/sprite2.png);
  background-position: -104px -140px;
  width: 17px;
  height: 17px;
  position: relative;
  top: 4px;
  margin-right: 4px;
}
.ws-nav .ws-nav-yiduIcon {
  display: inline-block;
  background-image: url(../images/sprite2.png);
  background-position: -131px -115px;
  width: 17px;
  height: 17px;
  position: relative;
  top: 4px;
  margin-right: 4px;
}
.ws-nav .ws-nav-appIcon {
  display: inline-block;
  background-image: url('../images/sprite2.png');
  background-position: -104px -115px;
  width: 17px;
  height: 17px;
  position: relative;
  top: 4px;
  margin-right: 6px;
}
.ws-nav .ws-nav-searchIcon {
  /*display: inline-block;
  background-image: url('../images/sprite2.png');
  background-position: 0px -181px;
  width: 18px;
  height: 18px;
  cursor: pointer;*/
}
.ws-nav .ws-nav-search1 {

	color: #fff;
	padding-right: 26px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
}
.ws-nav .ws-nav-searchInp {
  outline: none;
  border: none;


}
.ws-nav .ws-nav-searchIcon {

}
.ws-nav-login .ws-icon-wrap{
	color: #fff;
	margin-right: 26px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	position: relative;
}

.ws-nav-login .ws-icon-wrap .ws-red-spot{
	position: absolute;
    top: 1px;
    left: 16px;
    min-width: 16px;
    padding: 0 4px;
    text-align: center;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    background: #f60;
    font-size: 12px;
    color: #fff;
}
.ws-nav-login .ws-icon-wrap .icon-tixing .ws-red-spot{
 	left: 12px;
}
/*登录与注册*/
.ws-nav-login {
  position: relative;
}
.ws-nav-login .ws-nav-loginA {
  font-size: 14px;
  line-height: 30px;
}
.ws-nav-login .ws-nav-loginI {
  padding: 0 8px;
  color: #fff;
  position: relative;
  top: 2px;
}
.ws-nav-login .ws-nav-headmap {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.ws-nav-login .ws-nav-headmap img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.ws-nav-login .ws-nav-headmap .ws-ping1-num {
  padding: 0 6px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 0;
  right: -18px;
  background: #E50012;
  border-radius: 12px;
  color: #fff;
}
.ws-nav-login .ws-nav-headmap .ws-ping1-num:hover {
  color: #fff!important;
}
.ws-nav-login .ws-nav-usersAnimate {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.ws-nav-login .ws-nav-users {
  display: none;
  position: absolute;
  top: 40px;
  right: -35px;
  z-index: 11;
  margin-left: -35px;
  width: 100px;
  background: #fff;
  box-shadow: 0 1px 15px rgba(18, 21, 21, 0.2);
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  text-transform: uppercase;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 10px 0;
}
.ws-nav-login .ws-nav-users .ws-nav-usersA {
  display: block;
  height: 38px;
  color: #333;
  line-height: 38px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  position: relative;
}
.ws-nav-login .ws-nav-users .ws-nav-usersA .ws-ping2-num {
  padding: 0 6px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 0px;
  right: 2px;
  background: #E50012;
  border-radius: 12px;
  color: #fff;
}
.ws-nav-login .ws-nav-users .ws-nav-usersA:hover {
  color: #f60;
}
/*顶部二级导航*/
.ws-fix-head {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}
.ws-head-bg {
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
.headroom--not-top .ws-nav-bg {
  display: none;
}
.headroom--top .ws-nav-bg {
  transition: 0.2s;
  display: block;
}
.ws-head {
  width: 1200px;
  min-width: 1200px;
  height: 80px;
  padding: 0;
  position: relative;
  /*.ws-head-col.ws-active:after{

        animation: underline .5s forwards;
        -moz-animation: underline .5s forwards;
        -webkit-animation: underline .5s forwards;
        -o-animation: underline .5s forwards;
    }

    .ws-head-col:after{

        width: 0;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        border-bottom: 1px solid #333;
        transition: 0.2s;

    }
    .ws-head-col:hover:after{
        width: 100%;
        position: absolute;
        top: 80px;
        left: 50%;
        content: '';
        border-bottom: 1px solid #333;

    }
    */
}
.ws-head .ws-head-icon {
  background-image: url('../images/logo2x.png');
  background-size: contain;
  width: 133px;
  height: 35px;
  position: relative;
  top: 50%;
  margin-top: -18px;
  margin-right: 62px;
  text-indent: -999em;
}
.ws-head .ws-head-col {
  font-size: 16px;
  height: 80px;
  line-height: 80px;
  /* margin-right: 48px;*/
  padding: 0 24px;
  cursor: pointer;
  position: relative;
}
.ws-head .ws-head-colNameLast {
  padding-left: 22px;
}
.ws-head .ws-head-colName {
  color: #333333;
  position: relative;
}
.ws-head .ws-head-colIcon {
  position: absolute;
  top: 7px;
  right: -18px;
  background-image: url('../images/sprite2.png');
  background-position: -143px -98px;
  width: 10px;
  height: 5px;
}
.ws-head .ws-head-colGold {
  position: absolute;
  top: 32px;
  left: -3px;
  background-image: url('../images/sprite2.png');
  background-position: -76px -115px;
  width: 18px;
  height: 18px;
}
.ws-head .ws-head-colList:after{
	    position: absolute;
    content: '';
    top: -20px;
    left: 50%;
    border: 10px solid transparent;
    border-bottom: 10px solid #f60;
    margin-left: -10px;
}
.ws-head .ws-head-colList {
  border-top: 3px solid #f60;
  display: none;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -100px;
  background: #fff;
  padding: 20px 15px;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  text-transform: uppercase;
  z-index: 3;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ws-head .ws-head-colList .ws-head-colListItem {
  width: 50%;
  text-align: center;
  border-right: 1px solid #f1f1f1;
  line-height: 40px;
  color: #333;
}
.ws-head .ws-head-colList .ws-head-colListItem:hover {
  color: #f60;
}
.ws-head .ws-head-colList .ws-head-colListItem:nth-child(even) {
  border-right: none;
}
.ws-head .ws-head-colList .ws-head-colListItem:last-child {
  border-bottom: none;
}
.ws-head .ws-head-colList .ws-head-colListItem:nth-last-child(2) {
  border-bottom: none;
}
.ws-head .ws-head-colList .ws-head-colListItem2 {
  display: block;
  height: 46px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  /*border-bottom: 1px solid #ccc;*/
  line-height: 46px;
  color: #333;
}
.ws-head .ws-head-colList .ws-head-colListItem2:last-child {
  border-bottom: none;
}
.ws-head .ws-head-col:hover .ws-head-colList {
  display: block;
  width: 200px;
  height: auto;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.ws-head .ws-head-col:hover .ws-head-colList2 {
  width: 160px;
  margin-left: -80px;
  padding: 0;
}
/*顶部banner广告部分*/
.ws-banner {
  width: 1200px;
  min-width: 1200px;
  padding: 0;
}
/*中间主要内容区域*/
.ws-content {
  width: 1200px;
  min-width: 1200px;
  padding: 0;
}
.ws-content-left {
  width: 240px;
  margin-right: 40px;
}
.ws-common-head {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #333;
  background: #f1f1f1;
  padding-left: 24px;
  position: relative;
}
.ws-common-head:after {
  content: '';
  height: 30px;
  width: 4px;
  background: #f60;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -14px;
}
.ws-common-head .ws-common-right{
	position: absolute;
    top: 0;
    right: 20px;
    font-size: 15px;
    font-weight: bolder;
    color: #666;
}
.ws-common-head .ws-common-right i{
	font-weight: normal;
    color: #f60;
    vertical-align: middle;
    padding-right: 2px;
    font-size: 18px;
}
.ws-content-md {
  width: 580px;
}
.ws-content-right {
  width: 300px;
}
/*快讯*/
.ws-newsflash {
  height: 466px;
  overflow: hidden;
  position: relative;
}
.ws-newsflash .ws-newsflash-parent {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ws-newsflash .ws-newsflash-parent .ws-newsflash-time {
  font-size: 14px;
  color: #f60;
  line-height: 1;
  padding: 6px 0 15px 0;
  font-weight: normal;
}
.ws-newsflash .ws-newsflash-parent .ws-newsflash-item:last-child {
  margin: 0;
}
.ws-newsflash .ws-newsflash-parent .ws-newsflash-item {
  padding: 5px 15px 0 20px;
  margin-bottom: 13px;
  position: relative;
}
.ws-newsflash .ws-newsflash-parent .ws-newsflash-item .ws-newsflash-icon {
  display: block;
  background-image: url('../images/sprite2.png');
  background-position: -15px -162px;
  width: 5px;
  height: 9px;
  position: absolute;
  top: 12px;
  left: 0;
}
.ws-newsflash .ws-newsflash-parent .ws-newsflash-item .ws-newsflash-cont {
  display: block;
  font-size: 14px;
  line-height: 1.7em;
  color: #333;
}
.ws-newsflash .ws-newsflash-parent .ws-newsflash-item .ws-newsflash-tips{
	display:none;
	position:absolute;
	left:205px;
	top:0;
}
.ws-newsflash .ws-newsflash-parent .ws-newsflash-item .ws-newsflash-source {
  font-size: 12px;
  color: #999;
  line-height: 1;
  padding-top: 11px;
}
.ws-newsflash .ws-newsflash-scroll {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  visibility: hidden;
}
.ws-newsflash .ws-newsflash-scrollBg {
  width: 5px;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background: #efefef;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}
.ws-newsflash .ws-newsflash-scrollBar {
  background: #a3a3a3;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  width: 7px;
  height: 110px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.ws-newsflash-more {
  width: 100px;
  margin: 0 auto;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  color: #f60;
  text-align: center;
  display: block;
  border: 1px solid #f60;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
}
.ws-newsflash-more a {
  color: #f60;
}
.ws-newsflash-more:hover,
.ws-newsflash-more:active,
.ws-newsflash-more:visited {
  color: #f60 !important;
}
#ws-newsflash-goodtip{
	position:absolute;
	width:320px;
	padding:14px;
	font-size:14px;
	color:#333;
	background:#fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	z-index:100;
	text-align:justify;
}
#ws-newsflash-goodtip span.ws-arrowleft{
    position: absolute;
    top: 18px;
    left: -18px;
    /* content: '\23F4 '; */
    color: #fff;
    font-size: 22px;
    width: 20px;
    height: 20px;
    line-height: 1;
    text-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
}
/*主编推荐*/
.ws-commend .ws-commend-item {
  padding: 5px 0 0 20px;
  margin-bottom: 15px;
  position: relative;
}
.ws-commend .ws-commend-item:last-child {
  margin-bottom: 0;
}
.ws-commend .ws-commend-icon {
  position: absolute;
  top: 16px;
  left: 0;
  background-image: url('../images/sprite.png');
  background-position: -163px -98px;
  width: 5px;
  height: 5px;
}
.ws-commend .ws-commend-con {
  display: block;
  font-size: 14px;
  color: #333;
  line-height: 1.7em;
}
/*数据*/
.ws-data .am-dropdown {
  width: 48%;
}
.ws-data-news ul,.ws-data-news ol{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	
	
}
.ws-data-news ul li,.ws-data-news ol li{
	position: relative;
	padding-left: 20px;
	margin-bottom: 15px;
}
.ws-data-news ol li i,.ws-data-news ul li i{
	    position: absolute;
    top: 9px;
    left: 0;
    background-image: url(../images/sprite.png);
    background-position: -163px -98px;
    width: 5px;
    height: 5px;
}


.ws-data .am-btn {
  height: 30px;
  padding: .6em 1em;
  font-size: 12px;
}
.ws-data .am-dropdown:first-child {
  float: left;
}
.ws-data .am-dropdown:last-child {
  float: right;
}
.ws-data .ws-data-btn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #f60;
  border: 1px solid #f60;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}
.ws-data .am-selected-btn {
  border-radius: 4px;
}
.ws-data .ws-data-img {
  width: 100%;
  display: none;
}
.ws-data .ws-data-img img{
	width:100%;
}
/*报告*/
.ws-report .ws-report-left {
  width: 42%;
}
.ws-report .ws-report-right {
  width: 54%;
}
.ws-report .ws-report-right .ws-report-rightH {
  font-size: 16px;
  color: #000;
  line-height: 1.7;
  position: relative;
  top: -6px;
}
.ws-report .ws-report-right .ws-report-rightC {
  font-size: 12px;
  color: #999;
  line-height: 18px;
  margin-top: 8px;
}
.ws-report-btn {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #f60;
  border: 1px solid #f60;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.ws-report-btn a {
  color: #f60;
  font-size: 12px;
  display: block;
}
/*找车*/
.ws-find-car-tab .ws-find-car-head{
	font-size: 14px;
	color: #f60;
	line-height: 1;
	padding: 0 14px;
}
.ws-find-car-tab .ws-find-car-headitem {
	border-left: 1px solid #E6E6E6;
	font-size: 14px;
	color: #666;
	line-height: 1;
	margin-bottom: 20px;
	padding: 0 13px;
	cursor: pointer;
}
.ws-find-car-switch{
	display: none;
	position: relative;
	height: 340px;
	overflow: hidden;
}
.ws-find-car-switch ol{
	padding: 6px 15px 0 0;
	list-style: none;
	margin-bottom: 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.ws-find-car-switch ol li{
	padding-left: 18px;
	position: relative;
}
.ws-find-car-switch ol li .ws-top{
		line-height: 1;
		margin-bottom: 14px;
		
}
.ws-find-car-switch ol li .ws-top .ws-product-icon{
	display: block;
    width: 3px;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 0;
    top: 4px;
}
.ws-find-car-switch ol li .ws-top .ws-div1{
	font-size: 13px;
	color: #989898;
}
.ws-find-car-switch ol li .ws-top .ws-div2{
	font-size: 12px;
	color: #f60;
	padding: 2px 4px;
	margin-left: 10px;
	border: 1px solid #f60;
	position: relative;
	top: -2px;
	border-radius: 4px;
}
.ws-find-car-switch ol li .ws-top .ws-div3{
	font-size: 13px;
	color: #ff0000;
}
.ws-find-car-switch ol li .ws-bottom {
	display: none;
}
.ws-find-car-switch ol li .ws-bottom-show {
	display: inline-block;
	padding-bottom:14px;
}
.ws-find-car-switch ol li .ws-bottom img{
	width: 120px;
	border: 1px solid #E6E6E6;
	
}
.ws-find-car .ws-show{
	display: block;
}
.ws-find-car-tab .ws-active{
	color: #f60;
}

.ws-find-car-scroll{
	    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    visibility: hidden;
}
.ws-find-car-scrollBg{
	    width: 5px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background: #efefef;
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
}
.ws-find-car-scrollBar{
	    background: #a3a3a3;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
    width: 7px;
    height: 110px;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

.ws-find-car-wrap .ws-find-select .am-dropdown {
  width: 48%;
}
.ws-find-car-wrap .ws-find-select .am-btn {
  height: 30px;
  padding: .6em 1em;
  font-size: 12px;
}
.ws-find-car-wrap .ws-find-select .am-dropdown:first-child {
  float: left;
}
.ws-find-car-wrap .ws-find-select .am-dropdown:last-child {
  float: right;
}
.ws-find-car-wrap .ws-find-select .ws-find-btn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #f60;
  border: 1px solid #f60;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}
.ws-find-car-wrap .ws-find-select .am-selected-btn {
  border-radius: 4px;
}
.ws-find-car-wrap .ws-find-btn{
	width: 100%;
    height: 30px;
    line-height: 30px;
    color: #f60;
    border: 1px solid #f60;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
/*产品*/
.ws-product .am-dropdown {
  width: 48%;
}
.ws-product .am-btn {
  height: 30px;
  padding: .6em 1em;
  font-size: 12px;
}
.ws-product .am-dropdown:first-child {
  float: left;
}
.ws-product .am-dropdown:last-child {
  float: right;
}
.ws-product .ws-product-btn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #f60;
  border: 1px solid #f60;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}
.ws-product .am-selected-btn {
  border-radius: 4px;
}
.ws-product .ws-product-new .ws-product-newH-parent{
  width: 80%;
  margin: 0 auto;
}

.ws-product .ws-product-new .ws-product-newH {
  margin: 20px 0 17px 0;
  font-size: 14px;
  color: #333;
  position: relative;
  width: 50%;
  text-align: center;
  line-height: 1;
}
.ws-product .ws-product-new .ws-product-newH:first-child{
  border-right: 1px solid #ceced0;
}
.ws-product .ws-product-new .ws-product-newH span{
  cursor: pointer;
}
.ws-product .ws-product-new .ws-active{
  color: #f60;
}
.ws-product .ws-product-new .ws-product-newC-parent{
  position: relative;
}
.ws-product .ws-product-new .ws-product-newC-parent:before{
  width: 100%;
  position: absolute;
  top: -6px;
  left: 0;
  content: '';
  border-bottom: 1px solid #e5e5e5;
}
.ws-product .ws-product-new .ws-product-newC{
  display: none;
}
.ws-product .ws-product-new .ws-product-newC1{
  display: block;
}
.ws-product .ws-product-new .ws-product-item {
  display: block;
  font-size: 14px;
  color: #999;
  line-height: 30px;
  padding-left: 18px;
  position: relative;
}
.ws-product .ws-product-new .ws-product-item .ws-product-itemC{
	word-wrap: break-word;
}
.ws-product .ws-product-new .ws-product-icon {
  display: block;
  width: 3px;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 14px;
}
/*企业*/
.ws-company .am-dropdown {
  width: 48%;
}
.ws-company .am-btn {
  height: 30px;
  padding: .6em 1em;
  font-size: 12px;
}
.ws-company .am-dropdown:first-child {
  float: left;
}
.ws-company .am-dropdown:last-child {
  float: right;
}
.ws-company .ws-company-btn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #f60;
  border: 1px solid #f60;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}
.ws-company .am-selected-btn {
  border-radius: 4px;
}
.ws-company .ws-company-new .ws-company-newH-parent{
  width: 80%;
  margin: 0 auto;
}
.ws-company .ws-company-new .ws-company-newH {
  margin: 20px 0 17px 0;
  font-size: 14px;
  color: #333;
  position: relative;
  width: 50%;
  text-align: center;
  line-height: 1;
}
.ws-company .ws-company-new .ws-company-newH.ws-active{
  color: #f60;
}
.ws-company .ws-company-new .ws-company-newH span{
  cursor:pointer;
}
.ws-company .ws-company-new .ws-company-newH:first-child{

  border-right: 1px solid #ceced0;
}
.ws-company .ws-company-new .ws-company-newC-parent{
  position: relative;
}
.ws-company .ws-company-new .ws-company-newC-parent:before {
  width: 100%;
  position: absolute;
  top: -6px;
  left: 0;
  content: '';
  border-bottom: 1px solid #e5e5e5;
}
.ws-company .ws-company-new .ws-company-newC{
  display: none;
}
.ws-company .ws-company-new .ws-company-newC1{
  display: block;
}
.ws-company .ws-company-new .ws-company-item {
  display: block;
  font-size: 14px;
  color: #999;
  line-height: 30px;
  padding-left: 18px;
  position: relative;
}
.ws-company .ws-company-new .ws-company-icon {
  display: block;
  width: 3px;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 14px;
}
/*中间中侧*/
/*轮播 ldon*/
.ws-slide {
  /* reset amaze */
  /* control */
}
.ws-slide .slidemodel {
  width: 580px;
  /*height:242px;*/
  /*outline:1px solid red;*/
  position: relative;
}
.ws-slide .am-slides > li {
  position: relative;
}
.ws-slide .ws-shadow-slide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
}
.ws-slide .slidemodel img {
  height: 290px;
}
.ws-slide .slidecontent {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-size: 20px;
  color: #fff;
  text-align: left;
}
.ws-slide .am-slider-default .am-direction-nav a {
  width: 54px;
  text-align: center;
}
.ws-slide .am-slider-default .am-direction-nav a:before {
  width: 14px;
  content: "";
  background: url("http://www.d1ev.com/2016gnev/image/prev.png") no-repeat;
}
.ws-slide .am-slider-default .am-direction-nav a.am-next:before {
  content: "";
  background: url("http://www.d1ev.com/2016gnev/image/next.png") no-repeat;
}
.ws-slide .am-slider-default .am-direction-nav .am-prev {
  left: 0;
}
.ws-slide .am-slider-default .am-direction-nav .am-next {
  right: 0;
}
.ws-slide .am-slider-default .am-control-nav {
  bottom: 10px;
}
.ws-slide .am-slider-default .am-control-nav li a.am-active {
  width: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.ws-slide .am-slider-default .am-control-nav li a {
  background: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  transition: all 0.3s ease-out;
}
.ws-slide .am-slider-default {
  margin: 0;
}
.ws-news {
  /* 包裹可以加inline-block */
  /* image */
  /* 内容*/
  /* 类型 */
}
.ws-news .article--wraped {
  display: block;
  width: 580px;
  height: 170px;
  /*outline:1px solid red;*/
  padding-bottom: 19px;
  position: relative;
}
.ws-news .ads-list-middle{
	margin-bottom:20px;
}
.ws-news .article--img {
  display: inline-block;
  position: relative;
}
.ws-news .article--img a {
  color: #fff;
}
.ws-news .article--img .ws-tip {
  width: 27px;
  height: 27px;
  background: url("http://www.d1ev.com/2016gnev/image/play.png");
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 4;
  cursor: pointer;
}
.ws-news .article--img .ws-tip:hover {
  background: url("http://www.d1ev.com/2016gnev/image/playhover.png");
}
.ws-news .article--img .tip {
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  background: rgba(255, 102, 0, 0.8);
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  /*   outline:1px solid red; */
}
.ws-news .article--img img {
  width: 225px;
  height: 150px;
  position: relative;
  z-index: 2;
}
.ws-news .article--content {
  width: 100%;
  padding-left: 225px;
  height: 150px;
  padding: 0 0 2px 245px;
  text-align: justify;
  position: absolute;
}
.ws-news .article--content > a {
  display: block;
}
.ws-news .article_p {
  font-size: 18px;
  text-align: left;
  color: #4a4a4a;
  font-weight: 600;
  display: block;
  min-height: 66px;
}
.ws-news .article--author {
  font-size: 12px;
  color: #999;
}
.ws-news .article--author span {
  display: inline-block;
  margin: 0 5px 0 0;
  line-height: 25px;
  height: 25px;
}
.ws-news .article--author .article--authorpic {
  margin-left: 0;
}
.ws-news .article--author .article--authorpic img {
  width: 25px;
  height: 25px;
  margin-top: -4px;
  border-radius: 50%;
}
.ws-news .article--type {
  font-size: 13px;
  text-align: left;
  color: #999;
}
.ws-news .article--type .icon {
  display: inline-block;
  margin-left: 15px;
  vertical-align: bottom;
}
.ws-news .article--type--tip a {
  color: #999;
}
.ws-news .article--type .first {
  display: inline-block;
  margin: 0 10px 0 0;
}
.ws-news .article--type--say {
  margin: 0;
}
/*图集*/
.ws-news {
  /* 包裹可以加inline-block */
  /* image */
}
.ws-news hr {
  margin: 0 auto 20px;
}
.ws-news .pictures--wraped {
  display: block;
  width: 580px;
  /*outline:1px solid red;*/
  /* padding-bottom:19px;*/
  position: relative;
}
.ws-news .pictures_p {
  font-size: 18px;
  color: #4a4a4a;
  margin: 20px auto;
  font-weight: 600;
  margin-top: 0;
  line-height: 1;
}
.ws-news .pictures--img {
  display: inline-block;
  position: relative;
}
.ws-news .pictures--img .tip {
  width: 27px;
  height: 27px;
  background: url("http://www.d1ev.com/2016gnev/image/play.png");
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 15px;
  /*   outline:1px solid red; */
}
.ws-news .pictures--img img {
  width: 188px;
  height: 125px;
  margin-left: 8px;
}
.ws-news .pictures--img.first img {
  margin-left: 0;
}
.ws-news .pictures--time {
  font-size: 13px;
  color: #999;
  margin: 20px auto;
  line-height: 1;
}
/*富资讯*/
.ws-rich {
  position: relative;
  /* 包裹可以加inline-block */
  /* image */
  /* 内容*/
}
.ws-rich .zhixun--wraped {
  width: 580px;
  height: 200px;
  padding-bottom: 19px;
  position: relative;
  overflow: hidden;
}
.ws-rich .ws-shadow-rich {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.ws-rich .zhixun--img {
  position: relative;
  width: 580px;
  height: 200px;
}
.ws-rich .zhixun--img > img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  /*margin-left: -300px\9;*/
}
.ws-rich .zhixun--content {
  height: 100%;
  position: absolute;
  width: 200px;
  top: 0;
  left: 0;
  padding: 20px 20px 15px;
  color: #fff;
}
.ws-rich .zhixun--author {
  font-size: 12px;
  color: #fff;
  margin: 0;
  position: absolute;
  bottom: 15px;
}
.ws-rich .zhixun--img .tip {
  display: inline-block;
  padding: 6px 9px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 14px;
  /* outline: 1px solid red; */
}
.ws-rich .zhixun--head {
	font-size: 20px;
	line-height: 1.7;
	margin: 18px auto 0;
	width: 540px;
	overflow: hidden;
	max-height: 68px;
	position: absolute;
	bottom: 15px;
	left: 20px;
}
.ws-rich .zhixun--author span {
  display: inline-block;
  margin: 0 5px 0 10px;
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
}
.ws-rich .zhixun--author .zhixun--authorpic {
  width: 25px;
  height: 25px;
  margin-left: 0;
  border: 1px solid green;
  border-radius: 50%;
  overflow: hidden;
}
/*ad图*/
.ws-advertise {
  /* 包裹可以加inline-block */
  /* image */
}
.ws-advertise .ad--wraped {
  display: inline-block;
  width: 580px;
  height: 150px;
  /*outline:1px solid red;*/
  position: relative;
}
.ws-advertise .ad--img {
  display: inline-block;
  position: relative;
}
.ws-advertise .ad--img > img {
  width: 580px;
  height: 150px;
}
/*加载更多*/
/* 包裹可以加inline-block */
.ws-newsmore {
  /* 包裹可以加inline-block */
  /* more */
}
.ws-newsmore .more--wraped {
  display: inline-block;
  width: 580px;
  height: 40px;
  border: 1px solid #ccc;
  position: relative;
  color: #999;
  /*margin:30px auto 80px;*/
  cursor: pointer;
}
.ws-newsmore .more--wraped:hover{
  border: 1px solid #f60;
}
.ws-newsmore .more--text {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}
.ws-newsmore .more--text:hover {
  color: #f60;
}
/*中间右侧*/
/*近期活动ldon*/
.ws-near {
  /* 背景图为60 改为60px */
  /* name */
}
.ws-near .ws-near-head{
	display: block;
	font-size: 16px;
	line-height: 28px;
	color: #333;
	margin: 6px 0 14px;
}
.ws-near .activity--wraped {
  width: 300px;
}
.ws-near .ws-near-head .ws-span1{
	display: inline-block;
	width: 56px;
	height: 24px;
	background: #48c880;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	line-height: 24px;
	margin-right: 10px;
	font-size: 12px;
	
}
.ws-near .ws-near-head .ws-span3{
	margin-right: 10px;
	display: inline-block;
	width: 56px;
	height: 24px;
	background: #5aaeee;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	
}
.ws-near .activity--wraped .activity {
  background: #f1f1f1;
  height: 50px;
  line-height: 50px;
  padding-left: 24px;
  position: relative;
  font-size: 20px;
}
.ws-near .activity--wraped .activity:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 4px;
  height: 30px;
  /*   outline:1px solid red; */
  background: #f60;
}
.ws-near .activity--wraped .activity--img img {
  margin: 10px auto 0;
  width: 300px;
  height: 150px;
}
.ws-near .activity--wraped .acitivity--icon {
  padding: 30px 4px 26px;
}
.ws-near .activity--wraped .acitivity--icon span.am-fl {
  width: 60px;
  height: 60px;
  margin-left: 56px;
  margin-right: 0;
}
.ws-near .activity--wraped .acitivity--icon span.first {
  margin-left: 0;
}
.ws-near .activity--wraped .activity--name {
  padding-bottom: 32px;
}
.ws-near .activity--wraped .activity--name .am-fl {
  width: 60px;
  /*   outline:1px solid red;
           */
  margin-left: 56px;
  margin-right: 0;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.ws-near .activity--wraped .activity--name .first {
  margin-left: 4px;
}
/*大牛说ldon*/
.ws-daniu {
  /* name */
  /* image */
}
.ws-daniu ul{
	padding: 0;
}
.ws-daniu ul li{
	list-style: none;
	margin-bottom: 22px;
}
.ws-daniu .ws-daniu-left{
	position: relative;
	margin-right: 20px;
}
.ws-daniu .ws-daniu-left img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.ws-daniu .ws-daniu-left i.iconfont{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border: 2px solid #fff;
    color: #fff;
    background: #f60;
    text-align: center;
    font-size: 12px;
    -webkit-transform: scale(0.9);
    border-radius: 100%;
}
.ws-daniu .ws-daniu-right{
	width: 216px;
}
.ws-daniu .ws-daniu-right a:hover *{
	color: #f60;
}
.ws-daniu .ws-daniu-right h4{
	font-size: 16px;
	color: #333;
	line-height: 1;
	margin-bottom: 10px;
	padding-top: 4px;
	font-weight: bold;
}
.ws-daniu .ws-daniu-right .ws-daniu-head{
	font-size: 14px;
	/*color: #333;*/
	color: #000;
	line-height: 24px;
	margin-bottom: 0;
}
/*热门评论 ldon*/
.ws-hotcomment {
  /* 内容*/
}
.ws-hotcomment .comments--wraped {
  width: 300px;
}
.ws-hotcomment .comments {
  background: #f1f1f1;
  height: 50px;
  line-height: 50px;
  padding-left: 24px;
  position: relative;
  font-size: 20px;
  color: #333;
}
.ws-hotcomment .comments:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 4px;
  height: 30px;
  /*   outline:1px solid red; */
  background: #f60;
}
.ws-hotcomment .comments--content {
  margin: 10px auto 12px;
  padding: 16px 16px 0;
  /* background: url("http://www.d1ev.com/2016gnev/image/comments.png") no-repeat; */
  background: #ebebeb;
  font-size: 12px;
  color: #333;
  position: relative;
  border-radius: 8px;
}
.ws-hotcomment .comments--content:after {
  /*content: '\f0d7';*/
  content: "";
  position: absolute;
  bottom: -19px;
  left: 34px;
  color: #ebebeb;
  font-size: 40px;
  border: 10px solid transparent;
  border-top: 10px solid #ebebeb;
}
.ws-hotcomment .comments--author {
  text-align: right;
  font-size: 12px;
  color: #999;
  margin: 20px auto 0;
  padding-bottom: 8px;
}
.ws-hotcomment .comments_text {
  /* height:76px;*/
  overflow: hidden;
}
.ws-hotcomment .comments--author span {
  display: inline-block;
  margin-right: 5px;
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
}
.ws-hotcomment .comments--author span a {
    display: inline-block;
    max-width: 107px;
    overflow: hidden;
}
.ws-hotcomment .comments--author .comments--authorpic {
  margin-left: 0;
}
.ws-hotcomment .comments--author .comments--authorpic a {
  position: relative;
  z-index: 1;
}
.ws-hotcomment .comments--author .comments--authorpic img {
  width: 25px;
  height: 25px;
  margin-top: -4px;
  border-radius: 50%;
}
.ws-hotcomment .comments_head {
  font-size: 13px;
  color: #999;
  margin: 12px auto 20px;
  height: 20px;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ws-hotcomment .comments_head a {
  color: #999;
  text-decoration: underline;
}
/*热文榜*/
.ws-hotdoc .ws-hotdoc-tabh {
  width: 124px;
  margin: 0 auto;
  color: #333;
  font-size: 14px;
  line-height: 1;
  padding-bottom: 15px;
}
.ws-hotdoc .ws-hotdoc-tabh1,
.ws-hotdoc .ws-hotdoc-tabh2 {
  position: relative;
  cursor: pointer;
}
.ws-hotdoc .ws-hotdoc-tabh1:after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  height: 14px;
  border-right: 1px solid #ceced0;
}
.ws-hotdoc .ws-active {
  color: #f60;
}
.ws-hotdoc .ws-hotdoc-tabc .ws-hotdoc-tabc2 {
  display: none;
}
.ws-hotdoc .ws-hotdoc-tabc .ws-hotdoc-tabcon {
  font-size: 14px;
  color: #333;
  line-height: 1.7;
}
.ws-hotdoc .ws-hotdoc-tabc .ws-hotdoc-tabcon .ws-hotdoc-tabconDiv {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
}
.ws-hotdoc .ws-hotdoc-tabc .ws-hotdoc-tabcon .ws-hotdoc-tabconDiv a {
  display: block;
}
.ws-hotdoc .ws-hotdoc-tabc .ws-hotdoc-tabcon .ws-hotdoc-tabconDiv:last-child {
  margin-bottom: 0;
}
.ws-hotdoc .ws-hotdoc-tabc .ws-hotdoc-tabcon .ws-hotdoc-tabconDiv:nth-child(1) .ws-hotdoc-tabconSpan,
.ws-hotdoc .ws-hotdoc-tabc .ws-hotdoc-tabcon .ws-hotdoc-tabconDiv:nth-child(2) .ws-hotdoc-tabconSpan,
.ws-hotdoc .ws-hotdoc-tabc .ws-hotdoc-tabcon .ws-hotdoc-tabconDiv:nth-child(3) .ws-hotdoc-tabconSpan {
  color: #ff6600;
}
.ws-hotdoc .ws-hotdoc-tabconSpan {
  position: absolute;
  height: 24px;
  font-size: 16px;
  line-height: 1.7;
  top: 0;
  left: 0;
}
/*企业新闻*/
.ws-companynew .ws-companynew-item {
  padding: 5px 0 0 20px;
  margin-bottom: 15px;
  position: relative;
}
.ws-companynew .ws-companynew-item:last-child {
  margin-bottom: 0;
}
.ws-companynew .ws-companynew-icon {
  position: absolute;
  top: 16px;
  left: 0;
  background-image: url('../images/sprite.png');
  background-position: -163px -98px;
  width: 5px;
  height: 5px;
}
.ws-companynew .ws-companynew-con {
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 1.7em;
}
/*企业新闻下面的广告*/
.ws-advert {
  width: 300px;
  height: 150px;
}
.ws-advert .ws-ad-img {
  display: block;
}
/*热门标签*/
.ws-tag .ws-tag-a {
  display: block;
  font-size: 14px;
  color: #666;
  border: 1px solid #ccc;
  padding: 0 12px;
  margin-right: 12px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  cursor: pointer;
}
.ws-tag .ws-tag-a:hover {
  color: #f60;
  border: 1px solid #f60;
}
/*金牌供应商logo部分*/
.ws-logo {
  width: 1200px;
  min-width: 1200px;
  padding: 0;
}
.ws-logo .ws-logo-h {
  font-size: 20px;
  color: #333;
  line-height: 1;
  padding-bottom: 30px;
  text-align: center;
}
.ws-logo .ws-logo-item:last-child {
  margin-bottom: 0;
}
.ws-logo .ws-logo-item:nth-child(3) .ws-logo-itemH{
	width:113px;
}
.ws-logo .ws-logo-itemH {
  font-size: 14px;
  color: #666;
  width: 110px;
  height: 45px;
  line-height: 45px;
  text-align: right;
  margin: 0;
}
.ws-logo .ws-logo-company {
  margin-bottom: 30px;
  width: 90px;
  height: 45px;
  margin-left: 5px;
}
.ws-logo .ws-logo-company img {
  max-width: 90px;
  max-height: 45px;
}
.ws-logo .ws-logo-itemC {
  width: 1086px;
}
.ws-logo .ws-logo-btnBg {
  position: relative;
}
.ws-logo .ws-logo-btn {
  display: block;
  width: 128px;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #f60;
  border: 1px solid #f60;
  cursor: pointer;
  border-radius: 4px;
}
/*友情链接*/
.ws-link {
  width: 1200px;
  min-width: 1200px;
  padding: 0;
}
.ws-link .ws-link-item {
  padding: 0 10px;
  color: #808080;
  font-size: 14px;
  position: relative;
}
.ws-link .ws-link-itemFirst {
  padding: 0 10px;
  color: #808080;
  font-size: 14px;
  position: relative;
}
.ws-link .ws-link-itemFirst {
  padding-right: 20px;
  position: relative;
}
.ws-link .ws-link-itemFirst:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  border-left: 1px solid #ceced0;
  height: 14px;
}
.ws-hr {
  border-top: 1px solid #e5e5e5;
  margin: 0;
}
.ws-fixed .ws-fixed-scroll {
  top: 120px;
}
/*footer部分*/
/*

.ws-foot-bg{
    padding-top: 40px;
    background: #fafafa;
}
.ws-foot{
    width:@width;
    min-width: @width;
    padding: 0;
    .ws-foot-list{
       width: 864px;
        margin: 0 auto;
    }
    .ws-foot-item{
        padding: 0 20px;
        position: relative;
        font-size: 14px;
        color: #787878;
    }
    .ws-foot-itemLast{
        padding: 0 20px;
        position: relative;
        font-size: 14px;
        color: #787878;
    }
    .ws-foot-item:after{
        content: '';
        position: absolute;
        top: 4px;
        right: 0;
        border-left: 1px solid #ceced0;
        height: 14px;
    }
    .ws-foot-copyright{
        text-align: center;
        font-size: 14px;
        color: #787878;
        padding: 20px 0 40px;
    }
    .ws-foot-copyrightA{
        color: #787878;
        padding: 0 5px;
    }
}

*/

/*首页流媒体*/
.ws-streaming-media{
	width: 600px;
	height: 400px;	
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	z-index: 11;
}
.ws-streaming-media img{
	width: 600px;
	height: 400px;	
}
.ws-streaming-media .ws-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
   /*opacity: 0.4;*/
    font-size: 16px;
    background: rgba(0,0,0,0.9);
    line-height: 30px;
    color: #fff;
	z-index:1;
}

/*今日推荐 直播*/
.ws-today-more{
	color: #999;
	font-size: 15px;
	font-weight: normal;
}

.ws-zhibo{
	position: relative;
	display: block;
	
}
.ws-zhibo-icon{
	position: absolute;
	top: 0;
	left: 0;
}
