@charset "utf-8";

/* summary ------------------------------------------------------
 reset
 base
 structure
 header
 footer
 contents
 ad
 question
 photo-zoom
 swiper
 print
 safariバグ対応
-------------------------------------------------------------- */

/**************************************
 reset
**************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-style: normal;
	font-weight: normal;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, time { 
	display:block;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
ins {
	color:#000;
	text-decoration:none;
}
mark {
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}
input, select {
	vertical-align:middle;
}
img {
	vertical-align:top;
	font-size:0;
	line-height:0;
}
a:focus {
	outline:none;
}

/**************************************
 base
**************************************/
html {
	font-size:10px;
	text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-o-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
}
	html.lt-ie10 {
		font-size:62.5%;
	}
body {
	color:#333;
	font-family:"ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
	position:relative;
	background:#fff;
}
input,button,select,textarea {
	font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
}
span, a, strong, h1, h2, h3, h4, h5, h6, p, i, dt, dd, li, th, td, textarea {
	line-height:1.5;
}
a {
	color:#1d5fb3;
}
	a:link {
		text-decoration:none;
	}
	a:visited {
		text-decoration:none;
	}
	a:hover {
		color:#3280de;
		text-decoration:underline;
	}
	a:active {
		color:#3280de;
		text-decoration:underline;
	}
/* clearfix */
.clearfix:before, .clearfix:after {
	content:"";display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	*zoom:1;
}
ul:before, ul:after, ol:before, ol:after {
	content:"";display:table;
}
ul:after, ul:after{
	clear:both;
}
ul, ol {
	*zoom:1;
}
/* speech */
.speech {
	position:absolute;
	top:-99999px;
	left:-99999px;
	overflow:hidden;
	font-size:0;
	height:0;
	width:0;
}
/*-- chgview --*/
div#chgview {
	text-align:center;
	margin:0 auto;
}
div#deviceKit {
	width:1060px;
	margin:0 auto;
}
div#deviceKit a {
	display:block;
	margin:0 0 15px 0;
	padding:10px 0 10px 0;
	background-color:#e6e6e6;
	border:1px solid #efefef;
	border-radius:10px;
	font-size:42x;
	font-size:4.2rem;
	text-align:center;
	color:#4b4b4b;
	text-decoration:none;
}
div#deviceKit a:hover {
	text-decoration:none;
}
div#deviceKit a:active {
	background-color:#f3f3f3;
	color:#666;
	text-decoration:none;
}

/**************************************
 structure
**************************************/
body {
	width:100%;
	min-width:1100px;
	margin:10px 0 0 0;
	text-align:center;
}
#SiteHeader {
	width:100%;
	margin:0;
}
#Contents {
	width:1060px;
	margin:0 auto;
	padding:0 20px;
	text-align:left;
}
#Contents:before, #Contents:after {
	content:"";display:table;
}
#Contents:after {
	clear:both;
}
#Contents {
	*zoom:1;
}
	#PrimaryContents {
		float:left;
		width:740px;
		overflow:hidden;
	}
	body.column-1 #PrimaryContents {
		float:none;
		width:1060px;
		overflow:hidden;
	}
	#SecondaryContents {
		float:right;
		width:300px;
		margin:0 0 20px 0;
	}
#SiteFooter {
	position:relative;
	width:100%;
	margin:0;
	padding:20px 0 10px 0;
	border-top:1px solid #e6e6e6;
	background:#f3f3f3;
}

/**************************************
 header
**************************************/
/* header-main  */
#SiteHeader .header-main {
	width:1060px;
	margin:0 auto;
	padding:0 0 10px 0;
	background:#fff;
	text-align:left;
}
#SiteHeader .header-main .logo {
	display:block;
	float:left;
	width:300px;
}
#SiteHeader .header-main .search-box {
	position:relative;
	float:left;
	width:500px;
	margin:0;
}
#SiteHeader .header-main .search-box input.search-word {
	position:absolute;
	top:18px;
	left:30px;
	width:375px;
	height:24px;
	margin:0;
	padding:2px;
	background:url(images/bg_header_003.png) no-repeat top left;
	border:1px solid #d4d4d4;
	border-right:none;
	font-size:14px;
	font-size:1.4rem;
}
	#SiteHeader .header-main .search-box input.search-word:focus {
		background:none;
		border-right:none;
	}
#SiteHeader .header-main .search-box input.button-submit {
	position:absolute;
	top:18px;
	left:410px;
	width:70px;
	height:30px;
	background:#979797;
	background-image:-ms-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-moz-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-o-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #a8a8a8), color-stop(100, #979797));
	background-image:-webkit-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:linear-gradient(to bottom, #a8a8a8 0%, #979797 100%);
	border:none;
	font-size:12px;
	font-size:1.2rem;
	color:#fff;
	cursor:pointer;
}
#SiteHeader .header-main .header-link {
	float:right;
	width:260px;
	margin:0;
}
#SiteHeader .header-main .header-link ul {
	margin:20px 0 0 0;
}
#SiteHeader .header-main .header-link ul li {
	float:left;
	margin:0 0 0 5px;
}
	#SiteHeader .header-main .header-link ul li:first-child {
		margin:0 10px 0 5px;
	}
/* header-navigation  */
#SiteHeader .header-navigation {
	margin:0 0 15px 0;
	background:url(images/bg_header_001.png) repeat-x top left;
}
#SiteHeader .header-navigation .global-navigation {
	width:1100px;
	margin:0 auto;
	text-align:left;
}
#SiteHeader .header-navigation .global-navigation ul.main-navigation {
	float:left;
	background:url(images/bg_header_002.png) repeat-y top left;
}
#SiteHeader .header-navigation .global-navigation ul.ad-alliance,
#SiteHeader .header-navigation .global-navigation ul.ad-alliance-fx {
	float:left;
}
#SiteHeader .header-navigation .global-navigation ul.main-navigation li,
#SiteHeader .header-navigation .global-navigation ul.ad-alliance li,
#SiteHeader .header-navigation .global-navigation ul.ad-alliance-fx li {
	float:left;
	height:40px;
	padding:0 10px 0 12px;
	background:url(images/bg_header_002.png) repeat-y top right;
}
#SiteHeader .header-navigation .global-navigation ul.main-navigation li a,
#SiteHeader .header-navigation .global-navigation ul.ad-alliance li a,
#SiteHeader .header-navigation .global-navigation ul.ad-alliance-fx li a {
	display:block;
	height:26px;
	padding:10px 5px 0 5px;
	font-size:14px;
	font-size:1.4rem;
	color:#fff;
	border-bottom:4px solid #3c7dcd;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;

}
	#SiteHeader .header-navigation .global-navigation ul.main-navigation li a:hover,
	#SiteHeader .header-navigation .global-navigation ul.ad-alliance li a:hover,
	#SiteHeader .header-navigation .global-navigation ul.ad-alliance-fx li a:hover {
		text-decoration:none;
		border-bottom:4px solid #ffd573;
	}
#SiteHeader .header-navigation .global-navigation ul.main-navigation li a.active,
#SiteHeader .header-navigation .global-navigation ul.ad-alliance li a.active,
#SiteHeader .header-navigation .global-navigation ul.ad-alliance-fx li a.active {
	text-decoration:none;
	border-bottom:4px solid #ffd573;
}

/**************************************
 footer
**************************************/
/* copyright */
#SiteFooter .copyright {
	width:1060px;
	margin:0 auto;
	margin-bottom:20px;
	text-align:left;
}
#SiteFooter .copyright img {
	float:left;
	margin:0 10px 0 0;
}
#SiteFooter .copyright span.text {
	display:block;
	padding:40px 0 0 0;
	font-size:12px;
	font-size:1.2rem;
	color:#ccc;
}
/* footer-navigation */
#SiteFooter .footer-navigation {
	width:1060px;
	margin:0 auto;
	margin-bottom:20px;
	padding:0 0 20px 0;
	border-bottom:1px solid #e6e6e6;
	text-align:left;
}
#SiteFooter .footer-navigation ul {
	margin:0;
}
#SiteFooter .footer-navigation ul li {
	float:left;
	margin:0 0 0 10px;
	padding:0 0 0 10px;
	border-left:1px solid #ddd;
	font-size:14px;
	font-size:1.4rem;
}
	#SiteFooter .footer-navigation ul li:first-child {
		border-left:none;
		margin:0;
		padding:0;
	}
#SiteFooter .footer-navigation ul li a {
	color:#777;
}
/* module-sankei-digital-servive  */
#SiteFooter .module-sankei-digital-servive {
	width:1060px;
	margin:0 auto;
	text-align:left;
}
#SiteFooter .module-sankei-digital-servive ul {
	margin:0;
}
#SiteFooter .module-sankei-digital-servive ul li {
	float:left;
	margin:0 25px 10px 0;
}
/* button-page-top  */
#SiteFooter .button-page-top-01 {
	position:relative;
	width:100%;
	width:1080px;
	margin:0 auto;
}
#SiteFooter .button-page-top-01 a {
	position:fixed;
	bottom:20px;
	right:auto;
	display:block;
	width:57px;
	height:57px;
	margin-left:1080px;
	background:#3475c4;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	opacity:0.5
}
#SiteFooter .button-page-top-01 a:hover {
	opacity:1;
}
	.lt-ie8  #SiteFooter .button-page-top-01 {
		position:relative;
		width:1060px;
		margin:0 auto;
	}
	.lt-ie8  #SiteFooter .button-page-top-01 a {
		position:absolute;
		top:-49px;
		right:0px;
	}
#SiteFooter .button-page-top-01 a img {
	margin:18px 0 0 0;
}
#SiteFooter .button-page-top-02 {
	position:relative;
	width:1060px;
	margin:0 auto;
}
#SiteFooter .button-page-top-02 a {
	position:absolute;
	top:-49px;
	right:0px;
	display:block;
	width:58px;
	height:58px;
	background:#3475c4;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	opacity:0.5
}
	#SiteFooter .button-page-top-02 a:hover {
		opacity:1;
	}
#SiteFooter .button-page-top-02 a img {
	margin:18px 0 0 0;
}

/**************************************
 contents
**************************************/

#Contents .topic-path {
	margin:0 0 15px 0;
}
#Contents .topic-path ol {
	margin:0;
}
#Contents .topic-path ol li {
	display:inline-block;
	margin:0;
	font-size:12px;
	font-size:1.2rem;
}
#Contents .topic-path ol li:before {
  content: " > ";
}
#Contents .topic-path ol li:first-child:before {
  content:"";
}
#Contents .topic-path ol li strong {
	font-weight:normal;
}


/* PrimaryContents------------------- */
/* just-in */
#PrimaryContents .just-in {
	margin:0 0 15px 0;
}
#PrimaryContents .just-in a {
	display:block;
	padding:5px;
	background:#333;
	text-decoration:none;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
}
#PrimaryContents .just-in a:hover {
	background:#5c5c5c;
}
#PrimaryContents .just-in a p {
	border:1px solid #fff;
	padding:10px 10px 8px 10px;
	font-size:24px;
	font-size:2.4rem;
	color:#fff;
}
/* title-common-01 */
#PrimaryContents .title-common-01 {
	position:relative;
	margin:0 0 10px 0;
	padding:2px 0 0 7px;
	border-left:5px solid #2b75b4;
	font-size:16px;
	font-size:1.6rem;
	font-weight:bold;
}
#PrimaryContents .title-common-01 span.PR {
	display:block;
	position:absolute;
	top:4px;
	right:0;
	font-size:12px;
	font-size:1.2rem;
	color:#999;
}
/* title-common-02 */
#PrimaryContents .title-common-02 {
	margin:0 0 10px 0;
	font-size:16px;
	font-size:1.6rem;
	font-weight:bold;
}
/* title-common-03 */
#PrimaryContents .title-common-03 {
	margin:0 0 15px 0;
	padding:5px 10px 3px 10px;
	background:#ddd;
	font-size:16px;
	font-size:1.6rem;
	font-weight:bold;
}
/* title-common-04 */
#PrimaryContents .title-common-04 {
	margin:0 0 10px 0;
	font-size:20px;
	font-size:2.0rem;
}
/* list-article-01 */
#PrimaryContents ul.list-article-01 {
	width:759px;/* ie8 */
	margin:0;
}
#PrimaryContents ul.list-article-01 li {
	float:left;
	width:234px;
	margin:0 0 19px 19px;
}
#PrimaryContents ul.list-article-01 li.first {
	clear:left;
	margin:0 0 19px 0;
}
#PrimaryContents ul.list-article-01 li a {
	position:relative;
	display:block;
	color:#000;
	text-decoration:none;
}
#PrimaryContents ul.list-article-01 li a .icon-new {
	position:absolute;
	top:0px;
	left:0px;
	z-index:99;
}
#PrimaryContents ul.list-article-01 li a .photo {
	margin:0 0 5px 0;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	opacity:1;
	z-index:1;
}
	#PrimaryContents ul.list-article-01 li a:hover .photo {
		opacity:0.6;
	}
#PrimaryContents ul.list-article-01 li a p {
	font-size:14px;
	font-size:1.4rem;
}
	#PrimaryContents ul.list-article-01 li a:hover p {
		color:#666;
		text-decoration:underline;
	}

/* list-article-02 */
#PrimaryContents ul.list-article-02 {
	margin:0;
}
#PrimaryContents ul.list-article-02 li {
	margin:0 0 5px 0;
	padding:0 0 0 12px;
	background:url(images/arrow_common_001.png) no-repeat left 6px;
}
	#PrimaryContents ul.list-article-02 li:last-child {
		margin:0;
	}
#PrimaryContents ul.list-article-02 li a {
	font-size:14px;
	font-size:1.4rem;
}
#PrimaryContents ul.list-article-02 li img {
	margin:0 0 0 5px;
	vertical-align:middle;
}
/* list-article-03 */
#PrimaryContents ul.list-article-03 {
	margin:0;
}
#PrimaryContents ul.list-article-03 li {
	position:relative;
	margin:0;
	padding:0 140px 5px 12px;
	background:url(images/arrow_common_001.png) no-repeat left 6px;
}
	#PrimaryContents ul.list-article-03 li:last-child {
		margin:0;
	}
#PrimaryContents ul.list-article-03 li a {
	font-size:14px;
	font-size:1.4rem;
}
#PrimaryContents ul.list-article-03 li img {
	margin:0 0 0 5px;
	vertical-align:middle;
}
#PrimaryContents ul.list-article-03 li time.article-date {
	position:absolute;
	top:1px;
	right:0;
	font-size:12px;
	font-size:1.2rem;
	color:#999;
}
/* list-topics-01 */
#PrimaryContents .list-topics-01 {
	margin:0 0 20px 0;
}
#PrimaryContents .list-topics-01 .photo {
	float:left;
	width:125px;
	border:1px solid #ddd;
	text-align:center;
}
#PrimaryContents .list-topics-01 .photo a {
	position:relative;
	display:block;
	width:125px;
	height:125px;
}
#PrimaryContents .list-topics-01 .photo a img {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	max-width:100%;
	max-height:100%;
	margin:auto;
}
#PrimaryContents .list-topics-01 .list {
	float:right;
	width:600px
}
#PrimaryContents .list-topics-01 .list ul {
	margin:0;
}
#PrimaryContents .list-topics-01 .list ul li {
	position:relative;
	margin:0;
	padding:0 0 5px 12px;
	background:url(images/arrow_common_001.png) no-repeat left 6px;
}
	#PrimaryContents .list-topics-01 .list ul li:last-child {
		margin:0;
	}
#PrimaryContents .list-topics-01 .list ul li a {
	font-size:14px;
	font-size:1.4rem;
}
#PrimaryContents .list-topics-01 .list ul li img {
	margin:0 0 0 5px;
	vertical-align:middle;
}



/* page-navigation-01 */
#PrimaryContents .page-navigation-01 {
	margin:0;
	text-align:center;
}
#PrimaryContents .page-navigation-01 a {
	display:inline-block;
	width:30px;
	height:25px;
	margin:0 1px 0 0;
	padding:5px 0 0 0;
	background:#3673c4;
	font-size:14px;
	font-size:1.4rem;
	color:#fff;
	text-decoration:none;
	text-align:center;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	cursor:pointer;
}
	#PrimaryContents .page-navigation-01 a:hover {
		background:#729dd8;
	}
#PrimaryContents .page-navigation-01 a.prev {
	width:50px;
	margin:0 19px 0 0;
	background:#fff url(images/arrow_pagenavi_001.png) no-repeat left 7px;
	font-size:14px;
	font-size:1.4rem;
	color:#4b4b4b;
	text-align:right;
}
#PrimaryContents .page-navigation-01 a.next  {
	width:50px;
	margin:0 0 0 19px;
	background:#fff url(images/arrow_pagenavi_002.png) no-repeat right 7px;
	font-size:14px;
	font-size:1.4rem;
	color:#4b4b4b;
	text-align:left;
}
	#PrimaryContents .page-navigation-01 a.prev:hover,
	#PrimaryContents .page-navigation-01 a.next:hover {
		color:#999;
	}
#PrimaryContents .page-navigation-01 span.active {
	display:inline-block;
	width:30px;
	height:25px;
	margin:0 1px 0 0;
	padding:5px 0 0 0;
	background:#e1e1e1;
	font-size:14px;
	font-size:1.4rem;
	color:#4b4b4b;
	text-align:center;
}
#PrimaryContents .page-navigation-01 span.none {
	display:inline-block;
	width:69px;
}
/* page-navigation-02 */
#PrimaryContents .page-navigation-02 {
	text-align:center;
	font-size:14px;
	font-size:1.4rem;
}
/* page-navigation-03 */
#PrimaryContents .page-navigation-03 {
	margin:0;
	text-align:center;
	font-size:14px;
	font-size:1.4rem;
}
#PrimaryContents .page-navigation-03 select {
	height:25px;
	margin:0 3px;
	border:1px solid #d4d4d4;
	background:#fff;
	font-size:14px;
	font-size:1.4rem;
	vertical-align:middle;
}
#PrimaryContents .page-navigation-03 input {
	width:60px;
	height:25px;
	background:#979797;
	background-image:-ms-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-moz-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-o-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #a8a8a8), color-stop(100, #979797));
	background-image:-webkit-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:linear-gradient(to bottom, #a8a8a8 0%, #979797 100%);
	border:none;
	font-size:12px;
	font-size:1.2rem;
	color:#fff;
	cursor:pointer;
}
/* module-pickup-topics */
#PrimaryContents .module-pickup-topics {
	margin:0 0 10px 0;
}
/* FaceBook */
.socialButton .fb_iframe_widget {
	margin:0 10px 0 0!important;
	vertical-align:top;
}
/* Twitter */
.socialButton .twitter-tweet-button {
	margin:0 10px 0 0!important;
	vertical-align:top;
}
/* GooglePlus */
.socialButton #___plusone_0 {
    width:65px!important; 
	vertical-align:top;
}
/* Push */
.btnPush {
    display:inline-block;
    margin:0;
    vertical-align:top;
}
.btnPush a:link,.btnPush a:visited {
    background:#f2941a;
    color:#fff;
    padding:2px 5px;
    border-radius:3px;
    display:inline-block;
    text-decoration:none;
}
.btnPush a:hover,.btnPush a:active {
	background:#ed8600;
	color:#fff;
	display:inline-block;
	text-decoration:none;
}
.btnPush span{
	margin:0;
	background:url(images/icon_push.png) no-repeat left top;
	padding-left:12px;
}



/* SecondaryContents------------------- */
/* title-common-01 */
#SecondaryContents .title-common-01 {
	position:relative;
	margin:0 0 10px 0;
	font-size:14px;
	font-size:1.4rem;
	font-weight:bold;
}
#SecondaryContents .title-common-01 span.PR {
	display:block;
	position:absolute;
	top:1px;
	right:0;
	font-size:12px;
	font-size:1.2rem;
	color:#999;
}
/* list-article-01 */
#SecondaryContents ul.list-article-01 {
	margin:0;
}
#SecondaryContents ul.list-article-01 li {
	margin:0 0 5px 0;
	padding:0 0 0 12px;
	background:url(images/arrow_common_001.png) no-repeat left 6px;
}
	#SecondaryContents ul.list-article-01 li:last-child {
		margin:0;
	}
#SecondaryContents ul.list-article-01 li a {
	font-size:14px;
	font-size:1.4rem;
}
/* wrapper-01 */
#SecondaryContents .wrapper-01 {
	margin:0 0 15px 0;
	background:url(images/bg_line_001.png) repeat-x left top;
	border:1px solid #ddd;
}
/* ranking */
#SecondaryContents .module-ranking {
	padding:9px;
}
#SecondaryContents .module-ranking ol {
	margin:0;
}
#SecondaryContents .module-ranking ol li {
	position:relative;
	margin:0 0 5px 0;
	padding:0 0 0 18px;
	font-size:14px;
	font-size:1.4rem;
}
#SecondaryContents .module-ranking ol li span.rank {
	position:absolute;
	top:0px;
	left:0px;
	display:block;
}
#SecondaryContents .module-ranking .more {
	font-size:14px;
	font-size:1.4rem;
	text-align:right;
}
#SecondaryContents .module-ranking .more a {
	padding:0 0 0 18px;
	background:url(images/arrow_common_002.png) no-repeat left center;
}
/* pickup-topics-sub-section */
#SecondaryContents .module-pickup-topics {
	padding:9px;
	border-top:1px dotted #ddd;
}
/* module-voice */
#SecondaryContents .module-voice {
	padding:9px;
}
#SecondaryContents .module-voice p {
	font-size:20px;
	font-size:2.0rem;
	margin:0 0 5px 0;
}
#SecondaryContents .module-voice p.description {
	font-size:14px;
	font-size:1.4rem;
}
/* module-question */
#SecondaryContents .module-question {
	padding:9px;
}
#SecondaryContents .module-question p {
	font-size:20px;
	font-size:2.0rem;
	margin:0 0 10px 0;
}
#SecondaryContents .module-question .button-continue {
	width:280px;
	margin:0 0 10px 0;
}
#SecondaryContents .module-question .button-continue a {
	display:block;
	padding:6px;
	background:#979797;
	background-image:-ms-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-moz-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-o-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #a8a8a8), color-stop(100, #979797));
	background-image:-webkit-linear-gradient(top, #a8a8a8 0%, #979797 100%);
	background-image:linear-gradient(to bottom, #a8a8a8 0%, #979797 100%);
	font-size:12px;
	font-size:1.2rem;
	color:#fff;
	text-decoration:none;
	text-align:center;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	opacity:1;
}
	#SecondaryContents .module-question .button-continue a:hover {
		opacity:0.9;
	}
#SecondaryContents .module-question .button-continue a img {
	margin:2px 5px 0 0;
	vertical-align:top;
}
#SecondaryContents .module-question .more {
	margin:0;
	font-size:14px;
	font-size:1.4rem;
	text-align:right;
}
#SecondaryContents .module-question .more a {
	padding:0 0 0 18px;
	background:url(images/arrow_common_002.png) no-repeat left center;
}
/* module-pickup-theme */
#SecondaryContents .module-pickup-theme {
	padding:9px;
}
#SecondaryContents .module-pickup-theme ul {
	margin:0;
}
#SecondaryContents .module-pickup-theme ul li {
	display:table;
	margin:0 0 10px 0;
}
	#SecondaryContents .module-pickup-theme ul li:last-child {
		margin:0;
	}
#SecondaryContents .module-pickup-theme ul li .image {
	display:table-cell;
	float:left;
	width:70px;
}
#SecondaryContents .module-pickup-theme ul li .image img {
	max-width:60px;
	max-height:60px;
}
#SecondaryContents .module-pickup-theme ul li .title {
	display:table-cell;
	font-size:14px;
	font-size:1.4rem;
	vertical-align:middle;
}
/* module-press-release */
#SecondaryContents .module-press-release {
	padding:9px;
}
/* module-information */
#SecondaryContents .module-information {
	padding:9px;
}
/* facebook-like-box */
#SecondaryContents .facebook-like-box {
	margin:0 0 15px 0;
}

/**************************************
 ad
**************************************/
/* ad-large-banner */
#Contents .ad-large-banner {
	margin:0 0 15px 0;
	text-align:center;
}
/* PrimaryContents------------------- */
/* ad-pr-text */
#PrimaryContents .ad-pr-text {
	margin:0 0 25px 0;
}
	/* 20150618 PRテキスト位置変更 */
	#PrimaryContents .article-detail-section .ad-pr-text {
		margin:0 0 10px 0;
	}
#PrimaryContents .ad-pr-text p {
	margin:0 0 5px 0;
	padding:0 0 0 12px;
	background:url(images/arrow_common_001.png) no-repeat left 6px;
	font-size:14px;
	font-size:1.4rem;
}
	#PrimaryContents .ad-pr-text p:last-child {
		margin:0;
	}
/* ad-contents-middle */
#PrimaryContents .ad-contents-middle {
	margin:0 0 30px 0;
}
#PrimaryContents .ad-contents-middle .banner {
	float:left;
	margin:0 25px 0 0;
}
/* ad-contents-under */
#PrimaryContents .ad-contents-under {
	margin:0 0 30px 0;
}
#PrimaryContents .ad-contents-under .banner {
	margin:0;
}
/* ad-news-under */
#PrimaryContents .ad-news-under {
	margin:0 0 30px 0;
}
#PrimaryContents .ad-news-under .banner {
	float:left;
	width:315px;
}
#PrimaryContents .ad-news-under p {
	padding:0 0 0 315px;
	font-size:14px;
	font-size:1.4rem;
}
/* ad-rectangle-box */
#PrimaryContents .ad-rectangle-box {
	margin:0 0 30px 0;
}
#PrimaryContents .ad-rectangle-box .wrapper {
	padding:9px;
	border:1px solid #ddd;
}
#PrimaryContents .ad-rectangle-box .wrapper .banner {
	float:left;
	width:234px;
}
#PrimaryContents .ad-rectangle-box .wrapper p {
	margin:0 0 10px 0;
	padding:0 0 0 239px;
	font-size:14px;
	font-size:1.4rem;
}
#PrimaryContents .ad-rectangle-box .wrapper p.title {
	padding:0 0 0 239px;
}
#PrimaryContents .ad-rectangle-box .wrapper .more {
	padding:0 0 0 239px;
	text-align:right;
}
#PrimaryContents .ad-rectangle-box .wrapper .more a {
	padding:0 0 0 18px;
	background:url(images/arrow_common_002.png) no-repeat left center;
}
/* ad-in-read */
#PrimaryContents .ad-in-read {
	margin:0 0 30px 0;
	text-align:center;
}
/* ad-sponsored */
#PrimaryContents .ad-sponsored {
	margin:0 0 20px 0;
}
#PrimaryContents .ad-sponsored .photo {
	float:left;
	width:125px;
	border:1px solid #ddd;
	text-align:center;
}
#PrimaryContents .ad-sponsored .photo a {
	position:relative;
	display:block;
	width:125px;
	height:125px;
}
#PrimaryContents .ad-sponsored .photo a img {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	max-width:100%;
	max-height:100%;
	margin:auto;
}
#PrimaryContents .ad-sponsored .text {
	float:right;
	width:600px
}
#PrimaryContents .ad-sponsored .text .lead {
	margin:0 0 5px 0;
	font-size:14px;
	font-size:1.4rem;
}
/* ec-module */
#PrimaryContents .ec-module {
	margin:0 0 30px 0;
}
#PrimaryContents .ec-module .wrapper {
	position:relative;
	padding:9px;
	border:1px solid #ddd;
}
#PrimaryContents .ec-module .wrapper .banner {
	float:left;
	width:324px;
}
#PrimaryContents .ec-module .wrapper ul.text {
	position:relative;
	float:right;
	width:381px;
}
#PrimaryContents .ec-module .wrapper ul.text li {
	margin:0 0 5px 0;
	padding:0 0 0 12px;
	background:url(images/arrow_common_001.png) no-repeat left 6px;
	font-size:14px;
	font-size:1.4rem;
}
#PrimaryContents .ec-module .wrapper .logo {
	position:absolute;
	right:10px;
	bottom:10px;
}
/* SecondaryContents------------------- */
/* ad-rectangle-banner */
#SecondaryContents .ad-rectangle-banner {
	margin:0 0 15px 0;
}
/* ad-small-banner */
#SecondaryContents .ad-small-banner {
	margin:0 0 15px 0;
}
/* ad-trend */
#SecondaryContents .ad-trend {
	padding:9px;
}
#SecondaryContents .ad-trend ul {
	margin:0;
}
#SecondaryContents .ad-trend ul li {
	margin:0 0 10px 0;
}
#SecondaryContents .ad-trend ul li:last-child {
	margin:0;
}
#SecondaryContents .ad-trend ul li .banner {
	float:left;
	width:70px;
}
#SecondaryContents .ad-trend ul li p {
	padding:0 0 0 70px;
	font-size:14px;
	font-size:1.4rem;
}
#SecondaryContents .ad-trend ul li p.title {
}
/* ad-tokudane */
#SecondaryContents .ad-tokudane {
	width:280px;/* ie8 */
	overflow:hidden;/* ie8 */
	padding:9px 9px 0 9px;
}
#SecondaryContents .ad-trend ul.large {
	margin:0;
}
#SecondaryContents .ad-tokudane ul.large li {
	margin:0 0 10px 0;
}
#SecondaryContents .ad-tokudane ul.large li .banner {
	float:left;
	width:60px;
}
#SecondaryContents .ad-tokudane ul.large li p {
	padding:0 0 0 70px;
	font-size:14px;
	font-size:1.4rem;
}
#SecondaryContents .ad-tokudane ul.large li p.title {
}
#SecondaryContents .ad-tokudane ul.small {
	width:285px;/* ie8 */
	margin:0;
}
#SecondaryContents .ad-tokudane ul.small li {
	float:left;
	width:130px;
	margin:0 5px 10px 0;
}
	#SecondaryContents .ad-tokudane ul.small li:nth-child(odd) {
		clear:left;
		margin:0 5px 10px 0;
	}
#SecondaryContents .ad-tokudane ul.small li .banner {
	float:left;
	width:45px;
}
#SecondaryContents .ad-tokudane ul.small li p {
	padding:0 0 0 55px;
	font-size:14px;
	font-size:1.4rem;
}
#SecondaryContents .ad-tokudane ul.small li p.title {
}
/* ad-special */
#SecondaryContents .ad-special {
	padding:9px;
}
#SecondaryContents .ad-special p {
	margin:0 0 5px 0;
	padding:0 0 0 12px;
	background:url(images/arrow_common_001.png) no-repeat left 6px;
	font-size:14px;
	font-size:1.4rem;
}
	#SecondaryContents .ad-special p.last-child {
		margin:0 0 5px 0;
		padding:0 0 0 12px;
		background:url(images/arrow_common_001.png) no-repeat left 6px;
		font-size:14px;
		font-size:1.4rem;
	}



#SecondaryContents .ad-special .banner {
	margin:0 0 10px 0;
}
/* ad-special */
#SecondaryContents .ad-rakuten {
	margin:0 0 15px 0;
}


#SecondaryContents {
    position: relative;
}
.sideFixedWrapper {
    width: 300px;
}
.sideFixedWrapper.fixed {
    position: fixed;
    top: 20px;
}

/**************************************
 question
**************************************/
.rtank-container * {
	margin:0!important;
	padding:0!important;
}
.rtank-title,
.rtank-explanation,
.rtank-additional,
dl.rtank-present {
	display:none!important;
}
.rtank-wrapper{
	text-align:left!important;
}
.rtank-questionnaire {
	margin:0 0 15px 0!important;
}
.rtank-questionnaire ul.rtank-question {
	margin:0 0 10px 0!important;
	padding:10px 10px 5px 10px!important;
	background:#f4f4f4!important;
}
.rtank-wrapper[data-rtank-style="small"] .rtank-questionnaire ul.rtank-question {
	margin:0 0 10px 0!important;
	padding:0!important;
	background:none!important;
}
.rtank-questionnaire ul.rtank-question li {
	margin:0 0 5px 0!important;
	font-size:14px;
	font-size:1.4rem;
}
.rtank-questionnaire ul.rtank-question li input {
	margin:0 2px 2px 0!important;
}
.rtank-questionnaire ul.rtank-question li label {
	font-size:14px!important;
	font-size:1.4rem!important;
}
	.rtank-questionnaire .rtank-entry:before,
	.rtank-questionnaire .rtank-entry:after {
		content:"";display:table!important;
	}
	.rtank-questionnaire .rtank-entry:after {
		clear:both!important;
	}
.rtank-questionnaire .rtank-entry {
	*zoom:1!important;
}
.rtank-wrapper[data-rtank-style="small"] .rtank-questionnaire .rtank-entry {
	width:280px!important;
}
.rtank-questionnaire .rtank-entry .rtank-vote {
	width:200px!important;
	margin:0 10px 0 0!important;
	padding:8px 0!important;
	background:#2f2f2f!important;
	border:none!important;
	font-size:14px!important;
	font-size:1.4rem!important;
	color:#fff!important;
	cursor:pointer!important;
	transition:all 0.2s ease-out!important;
	-webkit-transition:all 0.2s ease-out!important;
	-moz-transition:all 0.2s ease-out!important;
	-ms-transition:all 0.2s ease-out!important;
	-o-transition:all 0.2s ease-out!important;
	opacity:1!important;
}
.rtank-wrapper[data-rtank-style="small"] .rtank-questionnaire .rtank-entry .rtank-vote {
	display:block!important;
	float:left!important;
	width:135px!important;
	margin:0!important;
	padding:6px 0!important;
	font-size:12px!important;
	font-size:1.2rem!important;
}
	.rtank-questionnaire .rtank-entry .rtank-vote:hover {
		opacity:0.8!important;
	}
.rtank-questionnaire .rtank-entry .rtank-view {
	width:200px!important;
	padding:8px 0!important;
	background:#2f2f2f!important;
	border:none!important;
	font-size:14px!important;
	font-size:1.4rem!important;
	color:#fff!important;
	cursor:pointer!important;
	transition:all 0.2s ease-out!important;
	-webkit-transition:all 0.2s ease-out!important;
	-moz-transition:all 0.2s ease-out!important;
	-ms-transition:all 0.2s ease-out!important;
	-o-transition:all 0.2s ease-out!important;
	opacity:1!important;
}
.rtank-wrapper[data-rtank-style="small"] .rtank-questionnaire .rtank-entry .rtank-view {
	display:block;
	float:right!important;
	width:135px!important;
	padding:6px 0!important;
	font-size:12px!important;
	font-size:1.2rem!important;
}
	.rtank-questionnaire .rtank-entry .rtank-view:hover {
		opacity:0.8!important;
	}
	.rtank-results:before,
	.rtank-results:after {
		content:""!important;display:table!important;
	}
	.rtank-results:after {
		clear:both!important;
	}
.rtank-results {
	*zoom:1!important;
	margin:0!important;
}
.rtank-results dl.rtank-result-list {
	width:400px!important;
	float:right!important;
	padding:10px 10px 5px 10px!important;
	background:#f4f4f4!important;
}
.rtank-wrapper[data-rtank-style="small"] .rtank-results dl.rtank-result-list {
	float:none!important;
	width:auto!important;
	padding:0!important;
	background:none!important;
}
	.topics-detail-section .parts-other-module .item .rtank-results dl.rtank-result-list {
	width:340px!important;
}
.rtank-results dl.rtank-result-list dt {
	clear:both!important;
	float:left!important;
	margin:0 0 5px 0!important;
	font-size:14px!important;
	font-size:1.4rem!important;
}
.rtank-results dl.rtank-result-list dd {
	float:right!important;
	margin:0 0 5px 0!important;
	text-align:right!important;
	font-size:14px!important;
	font-size:1.4rem!important;
}
.rtank-results dl.rtank-result-list dt:before {
	margin:0 5px 0 0!important;
	color:#fff!important;
	content:" "!important;
	width:15px!important;
	height:15px!important;
	display:inline-block!important;
}
.rtank-results dl.rtank-result-list dt:nth-of-type(1):before {background-color:#f74c5d!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(2):before {background-color:#3475c4!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(3):before {background-color:#40a136!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(4):before {background-color:#f9873c!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(5):before {background-color:#f2d033!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(6):before {background-color:#4ab4c7!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(7):before {background-color:#7a5acb!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(8):before {background-color:#e665c9!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(9):before {background-color:#188c78!important;}
.rtank-results dl.rtank-result-list dt:nth-of-type(10):before {background-color:#bcbcbc!important;}
.rtank-results dl.rtank-result-list dt.active:before {
	background-image:url(images/icon_check_001.png)!important;
	background-repeat:no-repeat!important;
	background-position-x:50%!important;
	background-position-y:50%!important;
}
.rtank-results figure.rtank-result-graph {
	width:300px!important;
	float:left!important;
	text-align:center!important;
}
.rtank-wrapper[data-rtank-style="small"] .rtank-results figure.rtank-result-graph {
	float:none!important;
	width:auto!important;
}
.rtank-results figure.rtank-result-graph figcaption {
	margin:0 0 20px 0!important;
	font-size:14px!important;
	font-size:1.4rem!important;
	line-height:1.5!important;
}
.rtank-results figure.rtank-result-graph canvas {
	text-align:left!important;
}
.rtank-result-graph canvas span{
	font-size:12px!important;
	font-size:1.2rem!important;
	line-height:1.5!important;
	color:#ff0000!important;
}
/**************************************
 photo-zoom
**************************************/
body.photo-zoom {
	width:auto;
	min-width:100%;
	margin:10px auto;
	text-align:left;
}
body.photo-zoom #SiteHeader {
	width:auto;
	margin:0;
	padding:0 20px 10px 20px;
	border-bottom:2px solid #2b74b5;
}
body.photo-zoom #Contents {
	width:auto;
	margin:0 auto;
	padding:0;
	text-align:left;
}
body.photo-zoom #PrimaryContents {
	float:none;
	width:auto;
	padding:20px;
	overflow:hidden;
	text-align:center;
}
body.photo-zoom #SiteFooter {
	position:relative;
	width:auto;
	margin:0;
	padding:0;
	background:none;
	border:none;
}
body.photo-zoom #SiteHeader .header-main {
	width:auto;
	margin:0;
	padding:0;
	background:none;
	text-align:left;
}
body.photo-zoom #SiteHeader .header-main .logo {
	display:block;
	float:none;
	width:auto;
}
body.photo-zoom #SiteFooter .window-close {
	margin:0 20px 20px 0;
	font-size:14px;
	font-size:1.4rem;
	text-align:right;
}
body.photo-zoom #SiteFooter .window-close a {
	padding:0 0 0 18px;
	background:url(images/icon_close_001.png) no-repeat left center;
}
body.photo-zoom #SiteFooter .copyright {
	width:auto;
	margin:0;
	margin-bottom:0;
	padding:10px 20px 0 20px;
	border-top:2px solid #2b74b5;
	text-align:left;
}
body.photo-zoom #SiteFooter .copyright img {
	float:none;
	margin:0 10px 0 0;
}
body.photo-zoom #SiteFooter .copyright span.text {
	display:block;
	padding:0;
	font-size:12px;
	font-size:1.2rem;
	color:#4b4b4b;
}


/************************ swiperの基本スタイル ****************************/
/*
 * Swiper 2.6.1
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2014, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: May 6, 2014
*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}


/************************ スライド部のスタイル ****************************/
#newsSlider .swiper-container {
	width: 740px;
	height: 260px;
	margin-bottom: 30px;
}
#newsSlider .swiper-container .swiper-slide {
	width: 740px;
}

#newsSlider .swiper-container.loading {
	background-image: url(images/loading.gif);
	background-position: center 45%;
	background-repeat: no-repeat;
}
#newsSlider .swiper-container.loading .swiper-wrapper .swiper-slide {
	visibility: hidden;
}
.no-js #newsSlider .swiper-container.loading {
	background: transparent;
}
.no-js #newsSlider .swiper-container.loading .swiper-wrapper .swiper-slide {
	visibility: visible;
}






/************************ ナビゲーション部のスタイル ****************************/
#newsSlider .page-navigation-01 > span {
	display:inline-block;
	width:30px;
	height:25px;
	margin:0 1px 0 0;
	padding:5px 0 0 0;
	background:#3673c4;
	font-size:14px;
	font-size:1.4rem;
	color:#fff;
	text-decoration:none;
	text-align:center;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	cursor:pointer;
}
#newsSlider .page-navigation-01 .page:hover {
	background:#729dd8;
}
#newsSlider .page-navigation-01 .page.active {
	display:inline-block;
	width:30px;
	height:25px;
	margin:0 1px 0 0;
	padding:5px 0 0 0;
	background:#e1e1e1;
	font-size:14px;
	font-size:1.4rem;
	color:#4b4b4b;
	text-align:center;
	cursor: auto;
}
#newsSlider .page-navigation-01 .prev {
	width:50px;
	margin:0 19px 0 0;
	background:#fff url(images/arrow_pagenavi_001.png) no-repeat left 7px;
	font-size:14px;
	font-size:1.4rem;
	color:#4b4b4b;
	text-align:right;
	visibility: hidden;
}
#newsSlider .page-navigation-01 .prev:hover {
	color: #999;
}
#newsSlider .page-navigation-01 .next {
	width:50px;
	margin:0 0 0 19px;
	background:#fff url(images/arrow_pagenavi_002.png) no-repeat right 7px;
	font-size:14px;
	font-size:1.4rem;
	color:#4b4b4b;
	text-align:left;
}
#newsSlider .page-navigation-01 .next:hover {
	color: #999;
}

/**************************************
 print
**************************************/
body.print {
	width:auto;
	min-width:100%;
	margin:10px auto;
	text-align:left;
}
body.print #SiteHeader {
	width:auto;
	margin:0;
	padding:0 20px 10px 20px;
	border-bottom:2px solid #2b74b5;
}
body.print #Contents {
	width:auto;
	margin:0 auto;
	padding:0;
	text-align:left;
}
body.print #PrimaryContents {
	float:none;
	width:auto;
	padding:20px;
	overflow:hidden;
	background:none;
	}
body.print #SiteFooter {
	position:relative;
	width:auto;
	margin:0;
	padding:0;
	background:none;
	border:none;
}
body.print #SiteHeader .header-main {
	width:auto;
	margin:0;
	padding:0;
	background:none;
	text-align:left;
}
body.print #SiteHeader .header-main .logo {
	display:block;
	float:none;
	width:auto;
}
body.print #SiteFooter .button-print {
	margin:0 0 20px 0;
	text-align:center;
}
body.print #SiteFooter .button-print a {
	display:inline-block;
	margin:0;
	padding:5px 50px;
	background:#2f2f2f;
	border:none;
	font-size:14px;
	font-size:1.4rem;
	color:#fff;
	text-decoration:none;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	opacity:1;
}
body.print #SiteFooter .button-print a:hover {
	opacity:0.9;
}
body.print #SiteFooter .window-close {
	margin:0 20px 20px 0;
	font-size:14px;
	font-size:1.4rem;
	text-align:right;

}
body.print #SiteFooter .window-close a {
	padding:0 0 0 18px;
	background:url(images/icon_close_001.png) no-repeat left center;
}
body.print #SiteFooter .copyright {
	width:auto;
	margin:0;
	margin-bottom:0;
	padding:10px 20px 0 20px;
	border-top:2px solid #2b74b5;
	text-align:left;
}
body.print #SiteFooter .copyright img {
	float:none;
	margin:0 10px 0 0;
}
body.print #SiteFooter .copyright span.text {
	display:block;
	padding:0;
	font-size:12px;
	font-size:1.2rem;
	color:#5c5c5c;
}

	@media print{
	body.print #SiteFooter .button-print {
		display:none;
	}
	body.print #SiteFooter .window-close {
		display:none;
	}
	body.print .article-detail-section h1.headline {
		font-size:12pt;
	}
	body.print .article-detail-section .detail .article-meta time.article-date {
		font-size:8pt;
	}
	body.print .article-detail-section .detail .article-meta span.result {
		font-size:8pt;
	}
	body.print .article-detail-section .detail .article-meta span.term {
		font-size:8pt;
	}
	body.print .article-detail-section .detail .text a:link:after,
	body.print .article-detail-section .detail .text a:visited:after {
		content: " (" attr(href) ") ";
	}
	body.print .article-detail-section .detail .text p {
		font-size:8pt;
		line-height:1.5;
	}
	body.print .article-detail-section .detail .text .parts-title-01 {
		padding:0;
		background:none;
		font-size:8pt;
		font-weight:bold;
	}
	body.print .article-detail-section .detail .text .parts-explain-01 .parts-title {
		font-size:8pt;
	}
	body.print .article-detail-section .detail .text .parts-explain-01 .parts-text {
		font-size:8pt;
		line-height:1.5;
	}
	body.print .article-detail-section .detail .text .parts-link-list ul li {
		padding:0 0 0 12px;
		background:url(images/arrow_common_001.png) no-repeat left 4px;
	}
	body.print .article-detail-section .detail .text .parts-link-list ul li a {
		font-size:8pt;
	}
	body.print .article-detail-section .detail .text .parts-next-page span {
		font-size:8pt;
		padding:3px 15px 0 15px;
	}
	body.print .article-detail-section .detail .text .parts-next-page a {
		font-size:8pt;
	}
	body.print .rtank-results dl.rtank-result-list {
		width:300px!important;
	}
	}

