@charset "utf-8";

/* summary ------------------------------------------------------
 top
-------------------------------------------------------------- */


/**************************************
 pickup news
**************************************/
.pickup-news-section {
	margin:0;
}

/* top-news */
.pickup-news-section .top-news {
	margin:0 0 20px 0;
}
.pickup-news-section .top-news h1 {
	display:inline-block;
	margin:0 0 5px 0;
	padding:3px 15px;
	background:#fc203a;
	font-size:12px;
	font-size:1.2rem;
	color:#fff;
}
.pickup-news-section .top-news p {
	font-size:20px;
	font-size:2.0rem;
}
.pickup-news-section .top-news time.article-date {
	margin:0 0 10px 0;
    font-size:12px;
    font-size:1.2rem;
    color:#999;
}
.pickup-news-section .top-news p.lead {
	font-size:14px;
	font-size:1.4rem;
}


/* news-list */
.pickup-news-section .news-list {
	margin:0;
}
.pickup-news-section .news-list ul.list-01 {
	margin:0 0 20px 0;
}
.pickup-news-section .news-list ul.list-01 li  {
	float:left;
	width:245px;
	margin:0 2px 0 0;
}
	.pickup-news-section .news-list ul.list-01 li:last-child {
		margin:0;
	}

.pickup-news-section .news-list ul.list-01 li .photo a {
	position:relative;
	display:block;
	width:245px;
	height:245px;
	background:#000;
}
.pickup-news-section .news-list ul.list-01 li .photo a img {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	max-width:100%;
	max-height:100%;
	margin:auto;
 }
.pickup-news-section .news-list ul.list-01 li .title {
	padding:5px;
	font-size:14px;
	font-size:1.4rem;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #3c3b39 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#3c3b39 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#3c3b39 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.pickup-news-section .news-list ul.list-01 li .title a {
	color:#fff;
}

/* news-list */
.pickup-news-section .news-list ul.list-02 {
	margin:0 0 20px 0;
}
.pickup-news-section .news-list ul.list-02 li {
	position:relative;
	margin:0;
	padding:0 0 10px 12px;
	background:url(images/arrow_common_001.png) no-repeat left 7px;
}
	.pickup-news-section .news-list ul.list-02 li:last-child {
		margin:0;
	}
.pickup-news-section .news-list ul.list-02 li a {
	font-size:16px;
	font-size:1.6rem;
}
.pickup-news-section .news-list ul.list-02 li img {
	margin:0 0 0 5px;
	vertical-align:middle;
}

/**************************************
 topics list
**************************************/
.topics-list-section {
	margin:0 0 30px 0;
}
.topics-list-section .more {
	padding:0 0 0 249px;
	font-size:14px;
	font-size:1.4rem;
	text-align:right;
}
.topics-list-section .more a {
	padding:0 0 0 18px;
	background:url(images/arrow_common_002.png) no-repeat left center;
}


/**************************************
 category list
**************************************/
.category-list-section .category-list {
	margin:0 0 30px 0;
}
.category-list-section .category-list .photo {
	float:left;
	width:234px;
	border:1px solid #ddd;
	text-align:center;
}
.category-list-section .category-list .photo a {
	position:relative;
	display:block;
	width:234px;
	height:234px;
}
.category-list-section .category-list .photo a img {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	max-width:100%;
	max-height:100%;
	margin:auto;
 }
.category-list-section .category-list .list {
	float:right;
	width:491px
}
.category-list-section .category-list .list ul.list-question {
	margin:0 0 30px 0;
}
.category-list-section .category-list .list ul.list-question li {
	position:relative;
	padding:0 150px 5px 12px;
	background:url(images/arrow_common_001.png) no-repeat left 6px;
}
	.category-list-section .category-list .list ul.list-question li:last-child {
		margin:0;
	}
.category-list-section .category-list .list ul.list-question li a {
	font-size:14px;
	font-size:1.4rem;
}
.category-list-section .category-list .list ul.list-question li span.result {
	position:absolute;
	top:1px;
	right:0;
	font-size:12px;
	font-size:1.2rem;
	color:#999;
}
.category-list-section .category-list .list ul.list-question li span.term {
	position:absolute;
	top:1px;
	right:0;
	font-size:12px;
	font-size:1.2rem;
	color:#ff3333;
}
.category-list-section .category-list .list .more {
	padding:0 0 0 249px;
	font-size:14px;
	font-size:1.4rem;
	text-align:right;
}
.category-list-section .category-list .list .more a {
	padding:0 0 0 18px;
	background:url(images/arrow_common_002.png) no-repeat left center;
}
