@charset "utf-8";

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;} body { margin: 0;} article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary { display: block;} audio,canvas,progress,video { display: inline-block; vertical-align: baseline;} audio:not([controls]) { display: none; height: 0;} [hidden],template { display: none;} a { background-color: transparent;} a:active,a:hover { outline: 0;} abbr[title] { border-bottom: 1px dotted;} b,strong { font-weight: bold;} dfn { font-style: italic;} h1 { font-size: 2em; margin: 0.67em 0;} mark { background: #ff0; color: #000;} small { font-size: 80%;} sub,sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;} sup { top: -0.5em;} sub { bottom: -0.25em;} img { border: 0;} svg:not(:root) { overflow: hidden;} figure { margin: 1em 40px;} hr { box-sizing: content-box; height: 0;} pre { overflow: auto;} code,kbd,pre,samp { font-family: monospace, monospace; font-size: 1em;} button,input,optgroup,select,textarea { color: inherit; font: inherit; margin: 0;} button { overflow: visible;} button,select { text-transform: none;} button,html input[type="button"],input[type="reset"],input[type="submit"] { -webkit-appearance: button; cursor: pointer;} button[disabled],html input[disabled] { cursor: default;} button::-moz-focus-inner,input::-moz-focus-inner { border: 0; padding: 0;} input { line-height: normal;} input[type="checkbox"],input[type="radio"] { box-sizing: border-box; padding: 0;} input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button { height: auto;} input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box;} input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;} fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;} legend { border: 0; padding: 0;} textarea { overflow: auto;} optgroup { font-weight: bold;} table { border-collapse: collapse; border-spacing: 0;} td,th { padding: 0;}

body {padding: 0; background: #fffde3; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none;}
a {margin:0; padding:0; text-decoration:none; vertical-align:baseline;} a:link {color:#1020d0;} a:visited {color:#777;} a:hover, a:active {background:transparent; color:#1020d0;}
h1, h2, h3, h4, a, p, span, blockquote, li, th, td, dt, dd, input, .yeartime, .calendarBG {font-family:"San Francisco", "Segoe UI", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Roboto", Verdana, Arial, Helvetica, "ＭＳ Ｐゴシック", sans-serif, MS UI Gothic;}
b, big, .year, .time, #inq dt, #inq dd {background:transparent; word-break: break-all; word-wrap: break-word; overflow:hidden;}

.defs {display: none;}
#header {width: 100%; height: auto; margin: 0; padding: 0; background: #fff; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-align-items: baseline; align-items: baseline; -webkit-justify-content: space-between; justify-content: space-between;}
.logo {margin: 2px; padding:0; background: transparent;} .logo a {margin: 0;padding: 0;} .logo a:link, .logo a:visited, .logo a:hover, .logo a:active {background: transparent;}
.logo svg {width: 160px; height: 47px; margin: 0; padding: 0;}

#Google_TH {width: auto; height: auto; margin: 0;}
@media only screen and (min-width:960px) {#Google_TH {margin: 2px 2px 5px 2px;}}

#header .social-button {width:auto; height: auto; margin: 16px 5px auto 0; padding: 0; background: transparent;}
@media only screen and (min-width:375px) {.logo svg {width: 180px; height: 53px;} #header .social-button {margin: 17px 5px auto 0;}}
@media only screen and (min-width:412px) {.logo svg {width: 205px; height: 60px;} #header .social-button {margin: 19px 5px auto 0;}}
@media only screen and (min-width:960px) {#header .social-button {margin: auto 5px 0 0;}}
@media only screen and (min-width:1440px) {.logo svg {width: 425px; height: 125px;} #header .social-button {margin: auto 5px 0 0;}}
#header .social-button #push_off, #header .social-button #push_on {display:none; z-index:9888;}
#header .social-button a.fl-tw, #header .social-button a.fl-fb, #header .social-button a.fl-gp,#header .social-button #push_off img, #header .social-button #push_on img, #header .social-button #member img {width:30px; height:30px; display:inline-block;}
#header .social-button .fl-tw{background: #00aced; fill: #fff;}
#header .social-button .fl-fb{background: #305097; fill: #fff;}
#header .social-button .fl-gp{background: #db4a39; fill: #fff;}
#header .social-button svg {width:20px; height:20px; display:block; margin: 5px auto 5px; padding:0;}
@media only screen and (min-width:375px) {#header .social-button a.fl-tw, #header .social-button a.fl-fb, #header .social-button a.fl-gp,#header .social-button #push_off img, #header .social-button #push_on img, #header .social-button #member img {width:34px; height:34px; display:inline-block;} #header .social-button svg {width:24px; height:24px; display:block; margin: 5px auto 5px; padding:0;} }

#main > #section, #main > #article, #main > #latest, #main > #sub, #subtop {width: 100%; height: auto; margin: 0; padding: 0;display: block; -webkit-order: 0; order: 0;}
#main > #section, #main > #article {background: transparent;}
#main > #latest, #main > #sub, #subtop {background: #ffffff;}
.sbn {width:100%; height:auto; margin:5px auto 5px; padding:0; background: transparent; overflow:hidden;} .sbn img {width:100%; height:auto; overflow:hidden;}
@media only screen and (min-width:728px) {.sbn img {width:728px; height:auto;} .sbn #TC {width:728px; margin:0 auto 0; text-align:center;}}
@media only screen and (max-width: 467px) {.sbn #Google_TC {width:320px; height:auto; margin:0 auto 0; text-align:center;}}
@media only screen and (min-width: 468px) and (max-width: 727px) {.sbn #Google_TC {width:468px; height:auto; margin:0 auto 0; text-align:center;}}
@media only screen and (min-width: 728px) and (max-width: 1579px) {.sbn #Google_TC {width:728px; height:auto; margin:0 auto 0; text-align:center;}}


.content {margin:0; padding:0; width: 100%; min-height: 100px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
.content section {width: 49.5%; height:auto; margin:0; padding:0 0 20px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.content section .card{width:96%; margin:0 auto 0;padding:0; background: #fff; box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.content section .thumb{width:100%; margin:0 auto 0;padding:0; background:transparent;}
.thumb a:link, .thumb a:visited, .thumb a:hover, .thumb a:active{margin:0; padding: 0; background:transparent; display:block;}
.content section .thumb img{width:100%; height:auto; display:block; margin:0; padding: 0; overflow: hidden;}
.content section h2{display:block; width:100%; height:auto; margin:0 auto 0; padding: 0; font-size: .8em; line-height: 1.2em; word-wrap: break-word; background: #ffdd00;}
.content section h2 a{display:block; width:100%; height:4.8em; color:#333; background: #ffdd00;margin:0 auto 0; padding: 0; overflow: hidden;}
.content section h2 a span{display:block; padding: 1px 0 0 5px; word-wrap: break-word;}
.date {position: relative; display:block; width:100%; height:1.1em; margin:0 auto 0; padding:0; z-index:1; line-height: 1; background: #fff;}
.date time {position:absolute; top:2px; left:5px; background: transparent; word-wrap: break-word; margin:0; padding:0; font-weight:bold; font-size: .55em;}
.catab {position:absolute; top:2px; right:5px; z-index:3; background: transparent; word-wrap: break-word; margin:0; padding: 0; font-weight:bold; font-size: .55em;}
#nextpage {width:100%;margin:15px auto 15px;}
#nextpage a {width:95%;display:block;margin:0 auto 0;padding:10px 0 10px 0; font-size:1.1em;font-weight:bold;text-align:center; color:#333; background: #ffdd00; text-decoration: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25);}

.m-btn.green{border: 1px solid #c8c8c8;color:white;text-shadow:none;background-color:#35aa47;background-image:-webkit-gradient(linear,0 0,0 100%,from(#35aa47),to(#35aa47));background-repeat:repeat-x;}
.m-btn.green:hover,.m-btn.green:focus,.m-btn.green:active{background-color:#1d943b;background-image:-webkit-gradient(linear,0 0,0 100%,from(#1d943b),to(#1d943b));background-repeat:repeat-x;}
.m-btn.green:active{background-color:#35aa47;background-image:-webkit-gradient(linear,0 0,0 100%,from(#35aa47),to(#1d943b));background-repeat:repeat-x;}
#article .cntimage {width:100%; height:auto; margin: 0; padding:0; overflow: hidden;}
#fav_msg {padding:5px 15px 5px 15px; color:#ca0000; font-size:95%;font-weight:bold;}
.cntimage .yeartime {color:#777; font-size: .9em; font-weight: bold; display:inline-block; margin: 2px 0 2px 0;}
.cntimage .title{display:block; color: #000; background: #ffdd00; margin: 0 0 5px 0; padding:2px 1px 2px 5px; line-height: 1em; font-weight: bold; font-size: 1.2em; word-wrap: break-word;}
.cntimage h2 {color: #333; background: transparent; display:block; margin:0; padding:0 0 0 5px; border-left:7px solid #ffdd00; line-height: 1em; font-weight: bold; font-size: 1.1em; word-wrap: break-word;}
.cntimage blockquote {display:inline-block; border-left:4px solid #00582a; color:#003f1e; margin:4px 2px 4px 2px; padding:10px 10px 10px 6px; font-size: 1em;line-height:1.3em; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: none; overflow-wrap: break-word;}
blockquote.twitter-tweet p{word-break: break-all; word-wrap: break-word;}
.preface, .article{color: #333; font-size: 1em;line-height:1.3em; overflow-wrap: break-word;}
.preface{margin: 0; padding:1px 4px 1px 4px;}
.article{margin: 0; padding:19px 4px 14px 4px;}
.preface b {color: #000;}
.cntimage img {width:100%; height:auto; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; vertical-align:bottom; overflow: hidden;}
.cntimage span img{width: auto; height: auto; border-top: none; border-bottom: none; overflow: hidden;}
.cntimage .hsize img {width:auto; max-width:49.8%; height:auto; border-right:1px solid #e1e1e1;}
.dsize img {width:auto; max-width:100%; height:auto; border:1px solid #e1e1e1;}
.iframe-content {position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;}
.yt-playButton {position: relative; padding-bottom: 69.25%; padding-top: 30px; height: 0; overflow: hidden;}
.iframe-content iframe, .yt-playButton img, .yt-playButton iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:none;}
.yt-playButton .playButton {position:absolute; top:35%; left:40%;width:80px;height:80px;}
#EndFooter {width:300px; background:transparent; margin: 0 auto 0; padding: 0; display: block;}
.EF_Left {display:block; width:300px; height:260px; margin:0; padding:0; background: transparent;}
.EF_Right {display:block; width:300px; height:auto;margin:0; padding:0; background: transparent;}
.items {width:98%; height:auto; background: transparent; border-top: 1px solid #c2c2c2; margin:10px auto 10px; padding:0; text-align: left;} .items p {background: transparent; font-size:.875em; padding:0;}
.followbeta {position:relative; width:auto; height:80px; margin:10px 0 10px; padding:0; display:block;background:transparent;}
.followbeta dd {display:inline-block; margin:0; padding:0;}
.followbeta .tw {position:absolute; bottom:-25px; left:15px;}
.followbeta .fb {position:absolute; bottom:5px; left:100px;} .fb iframe {width:140px; height:30px; margin:0; padding:0; overflow:hidden;}
.followbeta .gl {position:absolute; bottom:0; left:170px;}
.followbeta .pk {position:absolute; bottom:0; left:230px;}
.arrow_box {position: relative; left: 0; top:-65px; position: relative; background: #fff; border: 1px solid #aaa; display: block; width: 69px; margin-bottom: -7px; padding: 8px 0 8px; text-align: center; border-radius: 3px;} .arrow_box:after, .arrow_box:before {top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;} .arrow_box:after {border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 5px; margin-left: -5px;} .arrow_box:before {border-color: rgba(170, 170, 170, 0); border-top-color: #aaa; border-width: 6px; margin-left: -6px;} .arrow_box a,.arrow_box {font-size:11px; }
.items .social-button a {width:100px; height:36px; display:inline-block;}
.items .social-button .fl-tw{background: #00aced; fill: #fff;}
.items .social-button .fl-yt{background: #da1725; fill: #fff;}
.items .social-button .fl-fb{background: #305097; fill: #fff;}
.items .social-button .fl-gp{background: #db4a39; fill: #fff;}
.items .social-button .fl-rs{background: #f49c52; fill: #fff;}
.items .social-button svg {width:24px; height:24px; display:block; margin: 6px auto 6px; padding:0;}
.btn-gray {color:#333; background-color: #f3f3f3; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7E7E7), to(#f3f3f3)); background: -webkit-linear-gradient(top, #f3f3f3, #E7E7E7); background: -moz-linear-gradient(top, #f3f3f3, #E7E7E7); background: -ms-linear-gradient(top, #f3f3f3, #E7E7E7); background: -o-linear-gradient(top, #f3f3f3, #E7E7E7); border: 1px solid #c8c8c8; text-shadow: none;} .btn-gray:hover {color:#333; background-color: #E7E7E7; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7E7E7), to(#E7E7E7)); background: -webkit-linear-gradient(top, #E7E7E7, #E7E7E7); background: -moz-linear-gradient(top, #E7E7E7, #E7E7E7); background: -ms-linear-gradient(top, #E7E7E7, #E7E7E7); background: -o-linear-gradient(top, #E7E7E7, #E7E7E7); text-shadow: none;}
#pagination {margin:15px 0 15px; padding:0; width:auto;}
#pagination ul {margin:0;padding:0; width: 100%; min-height: 50px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; -webkit-justify-content: center; justify-content: center; -webkit-justify-content: space-between; justify-content: space-between;}
#pagination li {width: 49.9%; list-style: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.next {text-align:left;} .prev {text-align:right;} .next span, .prev span {padding:2px; font-size:.875em; font-weight:bold;}
.next a {width:96%;display:block;margin:0 auto 0 2px; padding:2px; font-size:.875em; font-weight:bold; color:#333; background-color: #ffdd00; text-decoration: none; text-align:left;}
.prev a {width:96%;display:block;margin:0 2px 0 auto; padding:2px; font-size:.875em; font-weight:bold; color:#333; background-color: #ffdd00; text-decoration: none; text-align:left;}
.about {list-style: none; margin: 15px 0 0 -20px;} .about li {font-size: 1em;line-height:1.3em; margin: 1px 1px 15px -5px; padding:0;} .about li a{word-wrap: break-word;}
#inq, #inq dl, #inq dl dt, #inq dl dd{width:99%; margin:0 auto 0; padding:0;} #inq dl dt {font-weight:bold;} .description,.comment {font-size:.875em; color:#666; background:#fffde3;}
#inq .qmail, #inq .q1, #inq .q2 {padding:4px 2px; border:solid 1px #aacfe4; width:98%; margin:2px 0 20px 0; font-size:1em;} #inq .keystring {font-size:1.1em; padding:2px 0 2px 0; border:solid 1px #aacfe4; width:148px; margin:2px 0 30px 0;}
.req, .errormsg {padding-left:10px; color:#ff3300;}
#commit1 {width:99%; margin:15px auto 15px; padding-top:10px; padding-bottom:10px; font-weight:bold; font-size:1.1em; color:#333; background-color: #f3f3f3; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7E7E7), to(#f3f3f3)); background: -webkit-linear-gradient(top, #f3f3f3, #E7E7E7); background: -moz-linear-gradient(top, #f3f3f3, #E7E7E7); background: -ms-linear-gradient(top, #f3f3f3, #E7E7E7); background: -o-linear-gradient(top, #f3f3f3, #E7E7E7); border: 1px solid #c8c8c8; text-shadow: none;} #commit1:hover {color:#333; background-color: #E7E7E7; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7E7E7), to(#E7E7E7)); background: -webkit-linear-gradient(top, #E7E7E7, #E7E7E7); background: -moz-linear-gradient(top, #E7E7E7, #E7E7E7); background: -ms-linear-gradient(top, #E7E7E7, #E7E7E7); background: -o-linear-gradient(top, #E7E7E7, #E7E7E7); text-shadow: none;}
#recaptcha_challenge_image{width:100%; height:auto;}
#latest {width:auto; background-color: transparent; margin: 0; padding: 0;}
#latest #LT {width:100%; height:auto; margin:0 auto 5px; padding:0; background: transparent; overflow:hidden;} #latest #LT img {width:100%; height:auto; overflow:hidden;}
@media only screen and (max-width: 979px) {#latest #LT {width:300px; height:auto; margin:0 auto 0; text-align:center;} }
@media only screen and (min-width: 980px) and (max-width: 1349px) {#latest #LT {width:200px; height:auto; margin:0 auto 0; text-align:center;} }
@media only screen and (min-width: 1350px) {#latest #LT {width:300px; height:auto; margin:0 auto 0; text-align:center;}}
#latest h3 {margin:0 0 10px 0; padding:5px; color: #2F4F2F; background-color: #fef592; font-size:1em;}
#latest ul {list-style: square; margin: 0 0 15px -14px;}
#latest li {font-size: .875em;line-height:1.2em; margin: 1px 1px 10px -5px; padding:0;}
#latest li a{word-wrap: break-word;}
#Google_RT {width:300px; background:transparent; margin: 0 auto 10px; padding: 0; display: block;}
#subNav {width:100%; background:transparent; margin: 0 auto 0; padding: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
#subNav > .list-1, #subNav > .list-2, #subNav > .list-3 {background-color: transparent; margin: 0 auto 0; padding: 0; -webkit-flex: 1 1 auto; flex: 1 1 auto;}
#subNav dl {margin:0 0 10px 0; padding:0; background-color: transparent;}
#subNav dl dt {margin:0; padding:5px; color: #2F4F2F; background-color: #fef592; font-size:1em; font-weight: bold;}
#subNav dl dd {background: transparent;}

#calendar {width:300px; height:auto; margin:10px auto 10px; padding:0; background:#fff;}
.calendarBG {width:298px;margin:0;padding:0;background:#fff;}
.calendarBG .calendarHeader th {font-size: .875em;margin:0;padding:0;text-align:center;vertical-align:middle;}
.calendarBG td {font-size: .875em;margin:0;padding:0;text-align:center;}
.calendarBG .calendarHeader, .calendarBG .calendarMonthLinks {font-weight:bold;background:#ffdd00;color:#000;width:42px;height:36px;}
.calendarMonthLinks a,.calendarMonthLinks a:link, .calendarMonthLinks a:visited, .calendarMonthLinks a:hover {text-decoration:none;background:#ffdd00;color:#000;}
.calendarDayHeading {font-weight:bold;background:#ffdd00;color:#000;}
.calendarBlank {font-weight:bold;background:#fff;color:#ccc;}
.calendarCell, .calendarToday {width:40px; height:40px; margin:auto;font-weight:bold;background:#fff;color:#ccc;}
.calendarToday a,.calendarToday a:link {display:inline-block;padding:2px;text-decoration:none;background:#1020d0;color:#fff;}
.calendarToday a:visited {display:inline-block;padding:2px;text-decoration:none;background:#1020d0;color:#fff;}
.calendarToday a:hover {display:inline-block;padding:2px;text-decoration:none;background:#1020d0;color:#fff;}
.calendarCell a,.calendarCell a:link {text-decoration:none;background:#fff;color:#1020d0;}
.calendarCell a:visited {text-decoration:none;background:#fff;color:#777;}
.calendarCell a:hover {display:inline-block;padding:2px;text-decoration:none;background:#fff;color:#1020d0;}
.monthmenu{display:inline-block;margin:auto 0 auto;padding:0;}
.selmonth {width:298px; height:auto; margin:10px auto 0; padding:0; color:#333;}

#subNav .navi-list-2col{max-width:767px; margin:0; border-bottom:1px solid #acc7e8; background:#ffffff; overflow:hidden;}
#subNav .navi-list-2col:after{content:""; display:block; clear:both;}
#subNav .navi-list-2col dd{margin:0; width:50%; float:left; box-sizing:border-box; background:#fff;}
#subNav .navi-list-2col dd:nth-child(even){border-right:1px solid #d2dadd;}

#subNav .navi-list-2col dd a{position: relative; display:block; margin:0; padding:0; line-height:44px; margin-bottom:-1px; border-top:1px solid #d2dadd; border-bottom:1px solid #d2dadd;}
#subNav .navi-list-2col dd a:link, #subNav .navi-list-2col dd a:visited, #subNav .navi-list-2col dd a:hover, #subNav .navi-list-2col dd a:active {background:transparent; color:#1020d0;}
#subNav .navi-list-2col dd .iconcat{display: inline-block; width: 30px; height: 30px; margin:1em 0 0 .55em; padding: 0; display:inline-block; width:30px; height:30px; background-image:url(http://i.gzn.jp/images/caticons.png); background-repeat:no-repeat; background-size:30px 810px;}
.icon-catid34{background-position:0 0;} .icon-catid19{background-position:0 -30px;} .icon-catid12{background-position:0 -60px;} .icon-catid22{background-position:0 -90px;} .icon-catid17{background-position:0 -120px;} .icon-catid13{background-position:0 -150px;} .icon-catid18{background-position:0 -180px;} .icon-catid4{background-position:0 -210px;} .icon-catid5{background-position:0 -240px;} .icon-catid37{background-position:0 -270px;} .icon-catid6{background-position:0 -300px;} .icon-catid30{background-position:0 -330px;} .icon-catid29{background-position:0 -360px;} .icon-catid33{background-position:0 -390px;} .icon-catid9{background-position:0 -420px;} .icon-catid23{background-position:0 -450px;} .icon-catid20{background-position:0 -480px;} .icon-catid10{background-position:0 -510px;} .icon-catid31{background-position:0 -540px;} .icon-catid32{background-position:0 -570px;} .icon-catid15{background-position:0 -600px;} .icon-catid7{background-position:0 -630px;} .icon-catid14{background-position:0 -660px;} .icon-catid8{background-position:0 -690px;} .icon-catid16{background-position:0 -720px;} .icon-catid36{background-position:0 -750px;} .icon-catid21{background-position:0 -780px;}
#subNav .navi-list-2col dd a b{position: absolute; top: 8px; left: 40px; font-size: .875em; display: inline; margin:0; padding: 0; vertical-align:middle;}

#searchform {margin:0; padding:0;}
#searchform form {width:298px; margin:10px auto 10px; padding:0; overflow: hidden; position: relative;}
#searchform input.input[type="text"] {border-radius: 0; border-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:transparent; width: 254px; height: 40px; border: 1px solid #e1e1e1; background:#fff; margin:0; padding:0;}
#searchform input.reset[type="reset"], #searchform input.submit[type="submit"], #searchform button.submit[type="submit"] {border-radius: 0; border-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:transparent;}
#searchform .reset{position: absolute; top: 0; left: 226px; width: 30px; height: 40px; margin:0; padding:0; font-weight:bold;font-size:22px; vertical-align:middle; color:#757575;}
#searchform .submit{position: absolute; top: 0; left: 254px; width: 42px; height: 42px; margin:0; padding:0;}
#searchform button.submit[type="submit"]{background:#3b78e7; border: 1px solid #3367d6;}
#searchform .submit .icon{display: inline-block; width: 1em; height: 1em; margin: 0; padding: 0; fill:#fff;}
.rcontent{width:300px; height:auto; margin:0 auto 10px; padding:0; overflow:hidden;}
footer {width: 100%; height: auto; margin: 0; padding: 0;display: block; background: #ffdd00;}
footer .navi-list-2col{max-width:767px; margin:0; border-bottom:1px solid #acc7e8; background:#f9f9ff; overflow:hidden;}
footer .navi-list-2col:after{content:"";display:block;clear:both;}
footer .navi-list-2col dd{margin:0; width:50%; float:left; box-sizing:border-box; background:#fff;}
footer .navi-list-2col dd:nth-child(even){border-right:1px solid #d2dadd;}
footer .navi-list-2col dd a:link, footer .navi-list-2col dd  a:visited, footer .navi-list-2col dd  a:hover,  footer .navi-list-2col dd a:active {background:transparent; color:#1020d0;}
footer .navi-list-2col dd a, footer .navi-list-2col dd form{position: relative; display:block; margin:0; padding:0; line-height:44px; margin-bottom:-1px; border-top:1px solid #d2dadd; border-bottom:1px solid #d2dadd;}
footer .navi-list-2col dd a.tarekomi{border-top:1px solid #d2dadd;}
footer .navi-list-2col dd .icon{width: 1px; height: 1.5em; margin:1em 0 0 .55em; padding: 0;}
footer .navi-list-2col dd form .icon{width: 1px; height: 1.5em; margin:1em 0 0 .55em; padding: 0;}
footer .navi-list-2col dd a b{position: absolute; top: 1px; left: 10px; display: inline-block; padding:0; font-size: .675em;}
footer .navi-list-2col dd form input[type="submit"]{border-radius: 0; border-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:transparent; position: absolute; top: 14px; left: 10px; display: inline-block; padding:0; font-size: .675em; font-weight:bold; color:#1020d0;}
@media only screen and (min-width:412px) {footer .navi-list-2col dd a b{font-size: .875em;} footer .navi-list-2col dd form input[type="submit"]{position: absolute; top: 15px; left: 10px; font-size: .875em;}}
#UFad {width: 100%; height: auto; margin: 0; padding: 0;display: block; background: #ffdd00;}
.ufadbox {width:300px; height:270px; background:transparent; margin: 0 auto 0; padding: 10px 0 10px; display: block;}

@media only screen and (min-width: 568px) and (max-width: 767px) {.content section {width: 24.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}}


@media all and (min-width: 768px) {
#main {min-height: 800px; margin: 0; padding: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
#main > #article {-webkit-flex: 2 1 50%; flex: 2 1 50%; -webkit-order: 1; order: 1;}
.content section {width: 49.5%;}
.content section h2{font-size: 1em;} .content section h2 a{height:3.7em;} 
.date {height:1.5em;} .date time, .catab {font-size: .785em;}
#article .cntimage {width:auto; height:auto; margin: 0; padding:2px; overflow: hidden;}
.cntimage .title{font-size: 1.3em;}
.cntimage img {width:auto; max-width:99.8%; height:auto; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
.iframe-content, .yt-playButton {position: relative; padding-bottom: 0; padding-top: 0; width: auto; height: auto; overflow:visible;}
.iframe-content iframe, .yt-playButton img, .yt-playButton iframe {position: relative; width: 640px; height: 380px;}
.yt-playButton {width: 640px; height: 380px;} .yt-playButton .playButton {position:absolute; top:35%; left:40%;width:120px;height:120px;}
.yt-playButton img, .yt-playButton iframe {border-left:none; border-right:none;}
#EndFooter {width:640px; height:290px; background:transparent; margin: 0 auto 0; padding: 0; display:block;}
.EF_Left {display:block; width:300px; height:260px; margin:0 4px 0 0; padding:0; background: transparent; float:left;}
.EF_Right {display:block; width:336px; height:290px;margin:0; padding:0; background: transparent; float:left;}
#EndFooter:after {content:".";display:block;visibility:hidden;height:0.1px;font-size:0.1em;line-height:0;clear:both;}
#main > #latest {-webkit-flex: initial; flex: initial; width: 100%; -webkit-order: 2; order: 2;}
#latest #ad {list-style: none; margin: 0;}
#main > #sub {-webkit-flex: initial; flex: initial; width: 100%; -webkit-order: 3; order: 3;}
#subNav .navi-list-2col{max-width:979px; margin:0; border-bottom:1px solid #acc7e8; background:#ffffff; overflow:hidden;}
#subNav .navi-list-2col:after{content:""; display:block; clear:both;}
#subNav .navi-list-2col dd{margin:0; width:25%; float:left; box-sizing:border-box; background:#fff;}
#subNav .navi-list-2col dd:nth-child(odd){border-right:1px solid #d2dadd;}

footer .navi-list-2col {max-width:979px; margin:0; border-bottom:1px solid #acc7e8; background:#ffffff; overflow:hidden;}
footer .navi-list-2col:after{content:"";display:block;clear:both;}
footer .navi-list-2col dd {margin:0; width:33.33%; float:left; box-sizing:border-box; background:#ffffff;}
footer .navi-list-2col dd:nth-child(odd){border-right:1px solid #d2dadd;}
footer .navi-list-2col dd a, footer .navi-list-2col dd form{position: relative; display:block; margin:0; padding:0; line-height:44px; margin-bottom:-1px; border-top:1px solid #d2dadd; border-bottom:1px solid #d2dadd;}
footer .navi-list-2col dd .icon{width: 1px; height: 1.5em; margin:1em 0 0 .55em; padding: 0;}
footer .navi-list-2col dd form .icon{width: 1px; height: 1.5em; margin:1em 0 0 .55em; padding: 0;}
footer .navi-list-2col dd a b{position: absolute; top: 1px; left: 10px; display: inline-block; padding:0; font-size: .875em;}
footer .navi-list-2col dd form input[type="submit"]{border-radius: 0; border-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:transparent; position: absolute; top: 15px; left: 10px; display: inline-block; padding:0; font-size: .875em; font-weight:bold; color:#1020d0;}
}


@media all and (min-width: 980px) {
.content section {width: 24.5%;} .content section h2{font-size: 1.2em;} .content section h2 a{height:3.7em;}
.date {height:1.5em;} .date time, .catab {font-size: .8em;}
#main > #article {-webkit-flex: 1 1 65%; flex: 1 1 65%; -webkit-order: 2; order: 2;}
#article .cntimage {width:auto; height:auto; margin: 0; padding:0 4px 0; overflow: hidden;}
.cntimage .yeartime {font-size: 1em;} .cntimage .title{font-size: 1.2em;} .cntimage h2 {font-size: 1em;} .cntimage blockquote, .preface, .article {font-size: .875em;line-height:1.4em;}
.preface{margin: 0; padding:1px 0 1px 0;}
#main > #latest {-webkit-flex: none; flex: none; -webkit-order: 1; order: 1; width: 205px;}
#main > #sub {-webkit-flex: initial; flex: initial; width: 100%; -webkit-order: 3; order: 3;}
#subtop, #sub {border-top:1px solid #c2c2c2;}
#subNav {max-width:960px; background:transparent; margin: 10px auto 10px; padding: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
#subNav > .list-1, #subNav > .list-2, #subNav > .list-3 {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:300px; margin:0 10px 0 10px;}
#subNav .navi-list-2col{max-width:300px; margin:0; border-bottom:none; background:#fff; overflow:hidden;}
#subNav .navi-list-2col:after{content:""; display:block; clear:both;}
#subNav .navi-list-2col dd{margin:0; width:50%; float:left; box-sizing:border-box; background:#fff;}
#subNav .navi-list-2col dd:nth-child(even),#subNav .navi-list-2col dd:nth-child(odd){border-right:none;}

#subNav .navi-list-2col dd a{position: relative; display:block; margin:0; padding:0; line-height:1em; margin-bottom:-1px; border-top:none; border-bottom:none;}
#subNav .navi-list-2col dd .iconcat{display: inline-block; width: 30px; height: 30px; margin:0 0 0 .55em; padding: 0;}
#subNav .navi-list-2col dd a b{position: absolute; top: 6px; left: 40px; font-size: .875em; display: inline; margin:0; padding: 0; vertical-align:middle;}

footer .navi-list-2col {max-width:600px; margin:0 auto 0; border-bottom:none; background:transparent; overflow:hidden;}
footer .navi-list-2col:after{content:"";display:block;clear:both;}
footer .navi-list-2col dd {margin:10px 5px 0; width:190px; float:left; box-sizing:border-box; background:#ffffff;}
footer .navi-list-2col dd:nth-child(even),footer .navi-list-2col dd:nth-child(odd){border-right:none;}
footer .navi-list-2col dd a, footer .navi-list-2col dd form{position: relative; display:block; margin:0; padding:0; line-height:44px; margin-bottom:-1px; border-top:1px solid #ffffff; border-bottom:1px solid #ffffff;}
footer .navi-list-2col dd a.tarekomi{border-top:1px solid #ffffff;}
footer .navi-list-2col dd .icon{width: 1px; height: 1.5em; margin:1em 0 0 .55em; padding: 0;}
footer .navi-list-2col dd form .icon{width: 1px; height: 1.5em; margin:1em 0 0 .55em; padding: 0;}
footer .navi-list-2col dd a b{position: absolute; top: 1px; left: 10px; display: inline-block; padding:0; font-size: .875em;}
footer .navi-list-2col dd form input[type="submit"]{border-radius: 0; border-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:transparent; position: absolute; top: 13px; left: 10px; display: inline-block; padding:0; font-size: .875em; font-weight:bold; color:#1020d0;}
}


@media all and (min-width: 1250px) {
#main {min-height: 800px; margin: 0; padding: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-flex-flow: row; flex-flow: row;}
.content section h2{font-size: 1.5em; line-height: 1.24em;} .content section h2 a{height:3.74em;}
.date {height:1.6em;} .date time, .catab {font-size: 1em;}
#main > #article {-webkit-flex: 1 1 50%; flex: 1 1 50%; -webkit-order: 2; order: 2;}
.cntimage .yeartime {font-size: 1.1em;} .cntimage .title{font-size: 1.5em;} .cntimage h2 {font-size: 1.3em;} .cntimage blockquote, .preface, .article {font-size: .875em;line-height:1.4em;}
#main > #latest {-webkit-flex: none; flex: none; -webkit-order: 1; order: 1; width: 205px;}
#latest h3, #subNav dl dt {font-size:1.17em;}
#main > #sub {-webkit-flex: none; flex: none; -webkit-order: 3; order: 3; width: 300px;}
#sub {border-top:none;}
#sub #subNav {max-width:300px; background:transparent; margin: 0; padding: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
#sub #subNav > .list-1, #sub #subNav > .list-2, #sub #subNav > .list-3 {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:300px; margin:0;}

footer .navi-list-2col {max-width:1200px; margin:0 auto 0; border-bottom:none; background:transparent; overflow:hidden;}
footer .navi-list-2col dd a b, footer .navi-list-2col dd form input[type="submit"] {font-size: 1.05em;}
}
@media all and (min-width: 1350px) {
#main > #latest {-webkit-flex: none; flex: none; -webkit-order: 1; order: 1; width: 300px;} #main > #sub {-webkit-flex: none; flex: none; -webkit-order: 3; order: 3; width: 300px;}
}


@media all and (min-width: 1580px) {
.iframe-content, .yt-playButton {position: relative; padding-bottom: 0; padding-top: 0; width: auto; height: auto; overflow:visible;}
.iframe-content iframe, .yt-playButton img, .yt-playButton iframe {position: relative; width: 960px; height: 540px;}
.yt-playButton {width: 960px; height: 540px;} .yt-playButton .playButton {position:absolute; top:35%; left:40%;width:160px;height:160px;}
}
@media all and (min-width: 1601px) {
.content section {width: 19.8%;}
}


@media all and (min-width: 1890px) {
#main {max-width: 1920px;}
.content section h2{font-size: 1.6em;} .content section h2 a{height:3.75em;}
.date {height:1.9em;} .date time, .catab {font-size: 1.2em;}
.cntimage .yeartime {font-size: 1.2em;} .cntimage .title{font-size: 1.6em;} .cntimage h2 {font-size: 1.4em;} .cntimage blockquote, .preface, .article {font-size: 1.05em;line-height:1.6em;}
.iframe-content, .yt-playButton {position: relative; padding-bottom: 0; padding-top: 0; width: auto; height: auto; overflow:visible;}
.iframe-content iframe, .yt-playButton img, .yt-playButton iframe {position: relative; width: 1280px; height: 720px;}
.yt-playButton {width: 1280px; height: 720px;} .yt-playButton .playButton {position:absolute; top:35%; left:40%;width:200px;height:200px;}
.items p, .next span, .prev span, .next a, .prev a, #latest li, .calendarBG .calendarHeader th, .calendarBG td, .calendarMonthLinks a {font-size: .975em;}
}
