@charset "utf-8";
/* ptA */
.content .e_ad {width: 49.5%; height:auto; margin:0 auto 0; padding:0 0 20px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.content .e_ad .card{width:96%; margin:0 auto 0;padding:0; background: #fff; box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.content .e_ad .thumb{width:100%; margin:0 auto 0;padding:0; background:transparent;}
.content .e_ad .thumb a:link, .content .e_ad .thumb a:visited, .content .e_ad .thumb a:hover, .content .e_ad .thumb a:active{margin:0; padding: 0; background:transparent; display:block;}
.content .e_ad .thumb img{width:100%; height:auto; display:block; margin:0; padding: 0; overflow: hidden;}
.content .e_ad h2{display:block; width:100%; height:auto; margin:0 auto 0; padding: 0; font-size: .8em; line-height: 1.2em; word-wrap: break-word; background: #ffdd00;}
.content .e_ad h2 a{display:block; width:100%; height:4.8em; color:#333; background: #ffdd00;margin:0 auto 0; padding: 0; overflow: hidden;}
.content .e_ad h2 a span{display:block; padding: 1px 0 0 0; word-wrap: break-word;}
.content .e_ad .date {position: relative; display:block; width:100%; height:1.1em; margin:0 auto 0; padding:0; z-index:1; line-height: 1; background: #fff;}
.content .e_ad .adtag .catab {position:absolute; top:2px; right:5px; z-index:3; background: transparent; word-wrap: break-word; margin:0; padding: 0; font-weight:bold; font-size: .55em;}
@media only screen and (min-width: 568px) and (max-width: 767px) {.content .e_ad {width: 24.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}}
@media all and (min-width: 768px) {
.content .e_ad h2{font-size: 1em;} .content .e_ad h2 a{height:3.7em;}
.content .e_ad .date {height:1.5em;} .content .e_ad .adtag .catab {font-size: .785em;}
}
@media all and (min-width: 980px) {
.content .e_ad {width: 24.5%;} .content .e_ad h2{font-size: 1.2em;} .content .e_ad h2 a{height:3.7em;}
.content .e_ad .date {height:1.5em;} .content .e_ad .adtag .catab {font-size: .8em;}
}
/* common_v4.css
@media all and (min-width: 1250px) {
.content .e_ad h2{font-size: 1.5em; line-height: 1.24em;} .content .e_ad h2 a{height:3.74em;}
.content .e_ad .date {height:1.6em;} .content .e_ad .adtag .catab {font-size: 1em;}
}
*/
@media all and (min-width: 1490px) {
.content .e_ad h2{font-size: 1.5em; line-height: 1.24em;} .content .e_ad h2 a{height:3.74em;}
.content .e_ad .date {height:1.6em;} .content .e_ad .adtag .catab {font-size: 1em;}
}
@media all and (min-width: 1601px) {
.content .e_ad {width: 19.8%;}
}
@media all and (min-width: 1890px) {
.content .e_ad h2{font-size: 1.6em;} .content .e_ad h2 a{height:3.75em;}
.content .e_ad .date {height:1.9em;} .content .e_ad .adtag .catab {font-size: 1.2em;}
}
/* ptB */
.contentadleft {margin:0; padding:0; width: 100%; min-height: 100px;
 display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex;
 -webkit-justify-content: flex-start;
 justify-content:         flex-start;
}
.contentadleft .e_ad {width: 49.5%; height:auto; margin:0 0 0 0; padding:0 0 20px 0;}
.contentadleft .e_ad .card{width:96%; margin:0 auto 0;padding:0; background: #fff; box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.contentadleft .e_ad .thumb{width:100%; margin:0 auto 0;padding:0; background:transparent;}
.contentadleft .e_ad .thumb a:link, .contentadleft .e_ad .thumb a:visited, .contentadleft .e_ad .thumb a:hover, .contentadleft .e_ad .thumb a:active{margin:0; padding: 0; background:transparent; display:block;}
.contentadleft .e_ad .thumb img{width:100%; height:auto; display:block; margin:0; padding: 0; overflow: hidden;}
.contentadleft .e_ad h2{display:block; width:100%; height:auto; margin:0 auto 0; padding: 0; font-size: .8em; line-height: 1.2em; word-wrap: break-word; background: #ffdd00;}
.contentadleft .e_ad h2 a{display:block; width:100%; height:4.8em; color:#333; background: #ffdd00;margin:0 auto 0; padding: 0; overflow: hidden;}
.contentadleft .e_ad h2 a span{display:block; padding: 1px 0 0 0; word-wrap: break-word;}
.contentadleft .e_ad .date {position: relative; display:block; width:100%; height:1.1em; margin:0 auto 0; padding:0; z-index:1; line-height: 1; background: #fff;}
.contentadleft .e_ad .adtag .catab {position:absolute; top:2px; right:5px; z-index:3; background: transparent; word-wrap: break-word; margin:0; padding: 0; font-weight:bold; font-size: .55em;}
@media only screen and (min-width: 568px) and (max-width: 767px) {.contentadleft .e_ad {width: 24.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}}
@media all and (min-width: 768px) {
.contentadleft .e_ad h2{font-size: 1em;} .contentadleft .e_ad h2 a{height:3.7em;}
.contentadleft .e_ad .date {height:1.5em;} .contentadleft .e_ad .adtag .catab {font-size: .785em;}
}
@media all and (min-width: 980px) {
.contentadleft .e_ad {width: 24.5%;} .contentadleft .e_ad h2{font-size: 1.2em;} .contentadleft .e_ad h2 a{height:3.7em;}
.contentadleft .e_ad .date {height:1.5em;} .contentadleft .e_ad .adtag .catab {font-size: .8em;}
}
/* common_v4.css
@media all and (min-width: 1250px) {
.contentadleft .e_ad h2{font-size: 1.5em; line-height: 1.24em;} .contentadleft .e_ad h2 a{height:3.74em;}
.contentadleft .e_ad .date {height:1.6em;} .contentadleft .e_ad .adtag .catab {font-size: 1em;}
}
*/
@media all and (min-width: 1490px) {
.contentadleft .e_ad h2{font-size: 1.5em; line-height: 1.24em;} .contentadleft .e_ad h2 a{height:3.74em;}
.contentadleft .e_ad .date {height:1.6em;} .contentadleft .e_ad .adtag .catab {font-size: 1em;}
}
@media all and (min-width: 1601px) {
.contentadleft .e_ad {width: 19.8%;}
}
@media all and (min-width: 1890px) {
.contentadleft .e_ad h2{font-size: 1.6em;} .contentadleft .e_ad h2 a{height:3.75em;}
.contentadleft .e_ad .date {height:1.9em;} .contentadleft .e_ad .adtag .catab {font-size: 1.2em;}
}
/* ptC */
.contentadright {margin:0; padding:0; width: 100%; min-height: 100px;
 display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex;
 -webkit-justify-content: flex-end;
 justify-content:         flex-end;
}
.contentadright .e_ad {width: 49.5%; height:auto; margin:0 0 0 0; padding:0 0 20px 0;}
.contentadright .e_ad .card{width:96%; margin:0 auto 0;padding:0; background: #fff; box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.contentadright .e_ad .thumb{width:100%; margin:0 auto 0;padding:0; background:transparent;}
.contentadright .e_ad .thumb a:link, .contentadright .e_ad .thumb a:visited, .contentadright .e_ad .thumb a:hover, .contentadright .e_ad .thumb a:active{margin:0; padding: 0; background:transparent; display:block;}
.contentadright .e_ad .thumb img{width:100%; height:auto; display:block; margin:0; padding: 0; overflow: hidden;}
.contentadright .e_ad h2{display:block; width:100%; height:auto; margin:0 auto 0; padding: 0; font-size: .8em; line-height: 1.2em; word-wrap: break-word; background: #ffdd00;}
.contentadright .e_ad h2 a{display:block; width:100%; height:4.8em; color:#333; background: #ffdd00;margin:0 auto 0; padding: 0; overflow: hidden;}
.contentadright .e_ad h2 a span{display:block; padding: 1px 0 0 0; word-wrap: break-word;}
.contentadright .e_ad .date {position: relative; display:block; width:100%; height:1.1em; margin:0 auto 0; padding:0; z-index:1; line-height: 1; background: #fff;}
.contentadright .e_ad .adtag .catab {position:absolute; top:2px; right:5px; z-index:3; background: transparent; word-wrap: break-word; margin:0; padding: 0; font-weight:bold; font-size: .55em;}
@media only screen and (min-width: 568px) and (max-width: 767px) {.contentadright .e_ad {width: 24.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}}
@media all and (min-width: 768px) {
.contentadright .e_ad h2{font-size: 1em;} .contentadright .e_ad h2 a{height:3.7em;}
.contentadright .e_ad .date {height:1.5em;} .contentadright .e_ad .adtag .catab {font-size: .785em;}
}
@media all and (min-width: 980px) {
.contentadright .e_ad {width: 24.5%;} .contentadright .e_ad h2{font-size: 1.2em;} .contentadright .e_ad h2 a{height:3.7em;}
.contentadright .e_ad .date {height:1.5em;} .contentadright .e_ad .adtag .catab {font-size: .8em;}
}
/* common_v4.css
@media all and (min-width: 1250px) {
.contentadright .e_ad h2{font-size: 1.5em; line-height: 1.24em;} .contentadright .e_ad h2 a{height:3.74em;}
.contentadright .e_ad .date {height:1.6em;} .contentadright .e_ad .adtag .catab {font-size: 1em;}
}
*/
@media all and (min-width: 1490px) {
.contentadright .e_ad h2{font-size: 1.5em; line-height: 1.24em;} .contentadright .e_ad h2 a{height:3.74em;}
.contentadright .e_ad .date {height:1.6em;} .contentadright .e_ad .adtag .catab {font-size: 1em;}
}
@media all and (min-width: 1601px) {
.contentadright .e_ad {width: 19.8%;}
}
@media all and (min-width: 1890px) {
.contentadright .e_ad h2{font-size: 1.6em;} .contentadright .e_ad h2 a{height:3.75em;}
.contentadright .e_ad .date {height:1.9em;} .contentadright .e_ad .adtag .catab {font-size: 1.2em;}
}

#latest .e_ad {width: 100%; height:auto; margin:0; padding:0;}
#latest .e_ad .card{width:100%; margin:0;padding:2px 0 2px 0; background: #fff; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -js-display: flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
#latest .e_ad .thumb{width:72px; -webkit-flex: none; flex: none; -webkit-order: 2; order: 2;}
#latest .e_ad .thumb a:link, #latest .e_ad .thumb a:visited, #latest .e_ad .thumb a:hover, #latest .e_ad .thumb a:active{display:block; width: 65px; height: 65px; margin: 0 5px 5px 0; overflow: hidden; background-color: #888; border: 1px solid #e1e1e1;}
#latest .e_ad .thumb img{position: relative; top: 50%; left: 50%; width: auto; height: 100%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
#latest .e_ad h2{display:block; width:auto; height:auto; margin:0; padding: 0 0 2px 5px; font-weight:normal; font-size: .875em;line-height:1.2em; word-wrap: break-word; background: #fff;-webkit-flex: 1 1 60%; flex: 1 1 60%; -webkit-order: 1; order: 1;}
#latest .e_ad h2 a{display:inline; width:auto; height:auto; background: #fff;margin:0 auto 0; padding: 0; overflow: hidden;}
#latest .e_ad h2 a span{display:inline; padding: 1px 0 0 0; word-wrap: break-word;}
#latest .e_ad .date {-webkit-flex: initial; flex: initial; width: 100%; -webkit-order: 3; order: 3; height:1em;}
/* pt_A */
#latest .e_ad .adtag .catab{position:absolute; top:2px; left:5px; color: #333; word-wrap: break-word; margin:0; font-weight:bold; font-size: .675em;}
/* pt_B */
#latest .e_ad .adtag .catabright{position:absolute; top:2px; right:5px; color: #333; word-wrap: break-word; margin:0; font-weight:bold; font-size: .675em;}
@media all and (min-width: 1890px) {
#latest .e_ad h2 {font-size: .975em;}
/* pt_A */
#latest .e_ad .adtag .catab{font-size: .875em;}
/* pt_B */
#latest .e_ad .adtag .catabright{font-size: .875em;}
}
