/*@charset "UTF-8";*/

::-moz-selection{background:#009E3F;color:#fff;text-shadow:none}
::selection{background:#009E3F;color:#fff;text-shadow:none}

/*아이폰 폰트고정*/
html{
-webkit-text-size-adjust:none;
background-color:#fff;
background-image:none;
}
.er {display:none}

/*기본값*/
body{margin:0 auto;padding:0;background-color:#fff;background-image:none;color:#000;font-family:"굴림",tahoma;font-size:12px}
form, iframe, textarea, img{margin:0;padding:0;border-spacing:0;border:0;-webkit-border-radius:0;-webkit-appearance:none}

/*Jquery*/
.ui-selected, .ui-selecting{border:2px solid #000 !important;margin:-2px 0 0 -2px !important}
.highlight{
background-color:#CFFFD9;
font-weight:bold;
padding:1px;
}

/*투표*/
.vote_container{padding:0;width:120px;overflow-x:hidden}
.vote_container div ul{list-style:none;margin:0;padding:0}
.vote_title{line-height:130%}
.vote_memo{padding:10px 0 0 0}

/*마우스액션*/
a{margin:0;padding:0;text-decoration:none;cursor:pointer}
a:link{color:#000;text-decoration:none}
a:visited{color:#000;text-decoration:none}
a:hover{color:#009E3F;text-decoration:underline}
a:active{text-decoration:none}

/*파워링크*/
.powerlink{background-color:#fafafa;margin:5px 0 0 0;padding:0;width:968px;height:115px;border:1px solid #ccc;border-bottom:0}
.powerlink div{padding:10px 10px 0 10px}
.powerlink div ul{list-style:none;margin:0;padding:0}
.powerlink div ul li{float:left;margin:0 10px 0 0;width:32%;line-height:20px}
.powerad{position:relative;clear:both}
.powerad div{position:absolute;left:750px;top:-5px;width:200px;text-align:right}

.powerlink2{background-color:#fff;padding:0;width:288px;border:1px solid #ccc}
.powerlink2 div{padding:7px 10px}
.powerlink2 div ul{list-style:none;margin:0;padding:0}
.powerlink2 div ul li{margin:0 0 2px 0;padding:0;line-height:16px;text-align:left}
.powerad2{position:relative;clear:both}
.powerad2 div{position:absolute;left:70px;top:-2px;width:200px;text-align:right}

.powerlink3{background-color:#fafafa;margin:23px 0 5px 0;padding:0 10px;width:812px;overflow:auto;border:1px solid #ccc;border-left:0;border-right:0}
.powerlink3 div{padding:7px 0 5px 0}
.powerlink3 div ul{list-style:none;margin:0;padding:0}
.powerlink3 div ul li{margin:0 5px 8px 0;line-height:19px}
.powerad3{position:relative;clear:both}
.powerad3 div{position:absolute;right:0;top:0;text-align:right}

.powerlink4{background-color:#fff;padding:15px 0 0 0;width:120px;border-top:1px solid #e3e3e3}
.powerlink4 div ul{list-style:none;margin:0;padding:0}
.powerlink4 div ul li{margin:0 0 5px 0;padding:0;line-height:17px;text-align:left;word-wrap:break-word}
.powerad4{position:relative;clear:both}
.powerad4 div{padding:2px 0 10px 0;text-align:left}

.lazy{
background-color:#fff;
background-image:url('images/ico_loading2.gif?160403');
background-repeat:no-repeat;
background-position:center;
}

/*상단메뉴*/
#menu_btn .menu_btn_ctl li, #menu_more, #menu_logo, #menu_logo2, .login, .join, .mythome, .msg, .conn, #malert tr td{
background-image:url('images/menu/btn_menu_kor_160417.png?160417');
background-repeat:no-repeat;
}
#menuall{
margin:0;
padding:0;
width:100%;
/*background-image:url('images/menu/bg_menu_131225.png?160403');*/
background-image:url('images/menu/bg_menu_160417_loop.png?160403');
background-repeat:repeat-x;
background-position:50% 0;
text-align:center;
z-index:10000;
}
#menucon{margin:0 auto;width:970px}
#menu{
margin:0 auto 0 0;
padding:0;
text-align:center;
/*background-image:url('images/menu/bg_menu_131225.png?160403');*/
background-image:url('images/menu/bg_menu_160417.png?160417');
background-repeat:repeat-x;
background-position:50% 0;
width:970px;
height:67px;
}
#menu_top{
margin:0 auto;
padding:0;
width:970px;
height:36px;
}
#menu_logocon{float:left;margin:0;width:112px}
#menu_logocon div{float:left;margin:0;height:36px;cursor:pointer}
#menu_logocon div a{width:100%;height:36px;display:block}
#menu_logocon div span{position:relative;z-index:-1}

#menu_connect{
float:right;
margin:14px -1px 0 4px;
padding:0;
cursor:pointer;
width:34px;
text-align:center;
}
#menu_connect div{margin:0;padding:0;line-height:0}
.conn{margin:0;padding:0;height:7px;display:inline-block;font-size:0}
.s0{background-position:-472px -69px;width:6px}
.s1{background-position:-481px -69px;width:4px}
.s2{background-position:-488px -69px;width:5px}
.s3{background-position:-496px -69px;width:5px}
.s4{background-position:-503px -69px;width:6px}
.s5{background-position:-511px -69px;width:6px}
.s6{background-position:-519px -69px;width:6px}
.s7{background-position:-527px -69px;width:5px}
.s8{background-position:-534px -69px;width:6px}
.s9{background-position:-542px -69px;width:6px}

#login_back{
position:absolute;
left:0;
top:0;
width:100%;
height:67px;
background-color:#333;
opacity:0.6;filter:alpha(opacity:60);
display:none;
}
.menu_logo{
float:left;
margin:0;
background-position:-876px -40px;
width:81px;
}
.menu_logo2{
float:left;
margin:0;
background-position:-876px 0;
width:81px;
}
#menu_sub{
float:left;
position:relative;
top:0;
left:0;
margin:0;
padding:11px 0 0 0;
width:370px;
height:13px;
font-family:"돋움",verdana !important;
letter-spacing:-1px;
filter:dropshadow(color=#007B3D,offx=0,offy=1,positive=1);
text-shadow:0 1px 0 #007B3D;
text-align:left;
color:#fff;
overflow:hidden;
white-space:nowrap;
vertical-align:bottom;
}
#menu_sub a{color:#fff;font-size:12px;margin:0;padding:0}
#menu_sub a:hover{color:#97EFA2;}
#menu_more_menu{position:relative;display:none}
#menu_more_menu2{
position:absolute;
left:112px;
top:35px;
width:456px;
padding:7px;
background-color:#fff;
border:1px solid #009E3F;
opacity:0.95;
filter:alpha(opacity:90);
text-align:left;
line-height:22px;
z-index:100;
white-space:nowrap;
overflow-x:hidden;
}
#menu_more{
float:left;
margin:13px 6px 0 0;
padding:0;
background-position:-861px 0;
width:9px;
height:10px;
cursor:pointer;
}
#menu_right{
float:right;
margin:0;
padding:0;
height:24px;
}
#menu_right ul{
list-style:none;
margin:0;
padding:0;
}
#menu_right li{
float:left;
margin:12px 7px 0 0;
padding:0;
text-align:center;
filter:dropshadow(color=#007B3D,offx=0,offy=1,positive=1);
text-shadow:0 1px 0 #007B3D;
font-size:11px;
font-family:"돋움",verdana;
letter-spacing:-1px;
color:#fff;
}
#menu_right li a{display:block;color:#fff;text-decoration:none;font-size:11px;font-family:"돋움",verdana; }
#menu_right li a:hover{color:#a6ef97}
.rankimg{border:0;vertical-align:middle;margin:0 2px 0 2px}

#menu_bottom{
margin:0 auto;
width:970px;
height:30px;
font-size:1pt;
}
#menu_mythome{
float:left;
width:100px;
margin:0;
}
#menu_mythome a{padding:10px 0 0 0;height:18px;display:block}
#menu_mythome .login_after{display:none}
#layer_mythome_parent{
position:relative;
margin:0 auto;
width:0;
height:0;
z-index:1;
}
#layer_mythome_parent div a{color:#333}
#layer_loginok{
position:absolute;
top:-27px;
left:-485px;
padding:6px 0 0 0;
background-color:#f4f4f4;
width:97px;
height:19px;
font-size:11px;
font-family:"돋움",verdana;
letter-spacing:-1px;
color:#676767;
overflow:hidden;
text-align:left;
}
#layer_mythome{
position:absolute;
border:1px #ccc solid;
border-top:none;
border-bottom:none;
background-color:#fff;
top:-30px;
left:-485px;
margin:0;
padding:0;
width:560px;
height:30px;
display:none;
z-index:10;
}
#layer_mythome iframe{margin:0;padding:0}
#layer_mythome .close a{font-size:1pt;width:100%;height:30px;display:block;text-decoration:none}
#layer_mythome .close span{position:relative;z-index:-1}
#layer_mythome .close{
float:left;
background-image:url('images/menu/btn_myinti_close.png?160403');
background-repeat:no-repeat;
width:30px;
height:30px;
}
#layer_mythome .iframe_css{
float:left;
margin:0;
padding:0;
width:530px;
height:30px;
}
#menu_bottom ul{
float:left;
margin:0;
padding:0;
list-style:none;
}
#menu_bottom li{
float:left;
margin-top:1px;
height:28px;
font-family:"돋움",verdana;
font-size:11px;
letter-spacing:-1px;
text-align:left;
}
#menu_bottom li a{width:100%}
#menu_bottom li.login a{cursor:wait}

#menu_bottom li.login{width:41px;background-position:-101px -65px}
#menu_bottom li.join{width:42px;background-position:-143px -65px}
#menu_bottom li.mythome{width:41px;background-position:-188px -65px}
#menu_bottom li.msg{margin-left:7px;width:44px;background-position:-236px -65px}

#menu_bottom li.login:hover{background-position:-286px -65px}
#menu_bottom li.join:hover{background-position:-328px -65px}
#menu_bottom li.mythome:hover{background-position:-373px -65px}
#menu_bottom li.msg:hover{background-position:-421px -65px}

#menu_btn{
float:left;
padding:0 0 0 11px;
height:30px;
}
#menu_btn .menu_btn_ctl{
list-style:none;
margin:0;
padding:0;
height:31px;
}
#menu_btn .menu_btn_ctl li{
float:left;
margin:1px 7px 0 0;
}
#menu_btn .menu_btn_ctl li a{width:100%;height:28px;display:block;text-decoration:none}
#menu_btn .menu_btn_ctl li span{position:relative;z-index:-1;font-size:1pt}
#menu_btn .menu_btn_ctl .sp{margin:0 9px 0 2px;width:1px;height:30px;background-position:-10px -70px;display:none;}

/*평상시*/
#menu_btn .menu_btn_ctl .free{margin-left:3px;width:40px;background-position:0 -2px}
#menu_btn .menu_btn_ctl .market{width:20px;background-position:-46px -2px}
#menu_btn .menu_btn_ctl .fan{width:40px;background-position:-74px -2px}
#menu_btn .menu_btn_ctl .fanmarket{width:20px;background-position:-121px -2px}
#menu_btn .menu_btn_ctl .gs{width:39px;background-position:-148px -2px}
#menu_btn .menu_btn_ctl .writings{width:30px;background-position:-194px -2px}
#menu_btn .menu_btn_ctl .name_enter{width:40px;background-position:-231px -2px}
#menu_btn .menu_btn_ctl .beauty{width:19px;background-position:-278px -2px}
#menu_btn .menu_btn_ctl .ani{width:20px;background-position:-305px -2px}
#menu_btn .menu_btn_ctl .name{width:39px;background-position:-333px -2px}

#menu_btn .menu_btn_ctl .pt{margin-left:18px;width:40px;background-position:-395px -2px}
#menu_btn .menu_btn_ctl .pop{width:38px;background-position:-443px -2px}
#menu_btn .menu_btn_ctl .clip{width:40px;background-position:-489px -2px}
#menu_btn .menu_btn_ctl .fanclip{width:39px;background-position:-536px -2px}
#menu_btn .menu_btn_ctl .music{width:39px;background-position:-582px -2px}
#menu_btn .menu_btn_ctl .schedule{width:20px;background-position:-629px -2px}
#menu_btn .menu_btn_ctl .ichart{width:38px;background-position:-656px -2px}

#menu_btn .menu_btn_ctl .ogong{margin-left:14px;width:40px;background-position:-716px -2px}
#menu_btn .menu_btn_ctl .feel{width:21px;background-position:-763px -2px}
#menu_btn .menu_btn_ctl .draw{width:21px;background-position:-790px -2px}
#menu_btn .menu_btn_ctl .astro{margin-right:0;width:40px;background-position:-818px -2px}

/*마우스오버*/
#menu_btn .menu_btn_ctl .free:hover{margin-left:3px;width:40px;background-position:0 -32px}
#menu_btn .menu_btn_ctl .market:hover{width:20px;background-position:-46px -32px}
#menu_btn .menu_btn_ctl .fan:hover{width:40px;background-position:-74px -32px}
#menu_btn .menu_btn_ctl .fanmarket:hover{width:20px;background-position:-121px -32px}
#menu_btn .menu_btn_ctl .gs:hover{width:39px;background-position:-148px -32px}
#menu_btn .menu_btn_ctl .writings:hover{width:30px;background-position:-194px -32px}
#menu_btn .menu_btn_ctl .name_enter:hover{width:40px;background-position:-231px -32px}
#menu_btn .menu_btn_ctl .beauty:hover{width:19px;background-position:-278px -32px}
#menu_btn .menu_btn_ctl .ani:hover{width:20px;background-position:-305px -32px}
#menu_btn .menu_btn_ctl .name:hover{width:39px;background-position:-333px -32px}

#menu_btn .menu_btn_ctl .pt:hover{margin-left:18px;width:40px;background-position:-395px -32px}
#menu_btn .menu_btn_ctl .pop:hover{width:38px;background-position:-443px -32px}
#menu_btn .menu_btn_ctl .clip:hover{width:40px;background-position:-489px -32px}
#menu_btn .menu_btn_ctl .fanclip:hover{width:39px;background-position:-536px -32px}
#menu_btn .menu_btn_ctl .music:hover{width:39px;background-position:-582px -32px}
#menu_btn .menu_btn_ctl .schedule:hover{width:20px;background-position:-629px -32px}
#menu_btn .menu_btn_ctl .ichart:hover{width:38px;background-position:-656px -32px}

#menu_btn .menu_btn_ctl .ogong:hover{margin-left:14px;width:40px;background-position:-716px -32px}
#menu_btn .menu_btn_ctl .feel:hover{width:21px;background-position:-763px -32px}
#menu_btn .menu_btn_ctl .draw:hover{width:21px;background-position:-790px -32px}
#menu_btn .menu_btn_ctl .astro:hover{margin-right:0;width:40px;background-position:-818px -32px}

#login_outside{
background-color:#eee;
width:530px;
height:30px;
}
#login_outside div{float:left}
#login_outside div input{outline-style:none}
.box{
margin:7px 0 0 7px;
background-color:#fff;
background-repeat:no-repeat;
border:1px #b3b3b3 solid;
padding:1px;
width:120px;
height:12px;
font-size:11px;
font-family:tahoma, "돋움";
color:#000;
-webkit-border-radius:0;
-webkit-appearance:none;
}
.user_id{width:120px;background-image:url('images/menu/bg_input.png?160403');ime-mode:disabled}
.user_pass{width:100px;background-image:url('images/menu/bg_input.png?160403');background-position:0 -14px}

#toast{
position:absolute;
left:50%;
top:8px;
margin:0;
padding:0;
display:none;
}

/*영구보존*/
.btns0{
margin:0 3px;
padding:0;
background-image:url('images/ico_message_star.png?160403');
background-position:-12px 0;
width:12px;
height:12px;
font-size:0;
display:inline-block;
}
.btns1{
margin:0 3px;
padding:0;
background-image:url('images/ico_message_star.png?160403');
width:12px;
height:12px;
font-size:0;
display:inline-block;
}

.newmenu {width:100%;}
.newmenu td{padding:5px 0;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;font-size:12px;text-align:center;}
#smu{position:relative;}
.smi{position:absolute;left:470px;top:5px;width:320px;border: 1px solid #ccc;background-color: #fff;z-index: 100;}

/*설정닫기*/
.minipopup_parent{
position:absolute;
right:0;
margin:0;
padding:4px 3px 0 0;
cursor:pointer;
z-index:50;
white-space:nowrap;
}
.minipopup_parent a{
font-family:"돋움",verdana;
font-size:11px;
letter-spacing:-2px;
color:#9a9a9a !important;
}
.minipopup{
position:absolute;
left:194px;
top:3px;
margin:0 auto;
padding:0;
border: 1px solid #ccc;
border-radius: 5px;
background-color:#fff;
width:290px;
height:43px;
font-size:12px;
font-family:gulim;
text-align:center;
color:#666;
cursor:pointer;
z-index:10;
}
.minipopup ul{margin:0 auto;padding:0;width:279px;list-style:none}
.minipopup ul li{float:left;letter-spacing:-1px}
#messaging_parent table{margin:0;padding:0}
#messaging{width:230px;height:43px;line-height:130%;word-wrap:break-word}
#messaging_go{float:right;padding:5px 0 0 0;display:none}
.mess_img{padding:5px 0 0 0;width:39px}
.mess_img img{width:34px;height:34px}

#minipop{position:absolute;left:50%;top:32px;margin:0;padding:0;width:19px;text-align:left;z-index:5;display:none}
#minipop div{position:absolute;left:-432px;top:2px;width:49px;height:27px;text-align:right;background-image:url('../images/blank.gif?160403');cursor:pointer;z-index:100;opacity:0.9;filter:alpha(opacity:90)}
#messnum{
margin:0;
padding:1px 4px 1px 2px;
line-height:15px;
font-size:9px;
font-family:verdana,tahoma;
letter-spacing:-1px;
border:1px solid #fff;
color:#fff;
background-color:#14bf68;
border-radius:3px;
}

/*서브메뉴*/
.submenu_top{
position:relative;
margin:0 auto;
padding:0;
width:970px;
background-color:#ccc;
}
.submenu{
position:absolute;
margin:0;
padding:0;
top:-3px;
left:0;
background-color:#fff;
border:1px #5d5d5d solid;
cursor:pointer;
font-size:11px;
font-family:"돋움",tahoma;
letter-spacing:-1px;
color:#494949;
display:none;
z-index:10;
}
.submenu ul{
list-style:none;
margin:0;
padding:0;
}
.submenu ul li{
float:left;
width:85px;
line-height:14px;
margin:0;
padding:0;
white-space:nowrap;
display:block;
}
.submenu ul li a{padding:6px 0;color:#000;display:block}
.submenu ul li a:hover{color:#009E3F;text-decoration:underline}
#capslocks{
position:absolute;
left:169px;
top:-54px;
width:144px;
height:24px;
background-image:url('images/ico_capslock.png?160403');
display:none;
}

table, tr, td{
margin:0;
padding:0;
border-spacing:0;
border:0;
border-collapse:collapse;
}
textarea{
outline-style:none;
line-height:15px;
font-family:"굴림",tahoma;
font-size:12px;
ime-mode:active;
line-height:17px;
background-color:#fff;
resize:none;
}
select{
margin:0;
padding:2px;
border:1px solid #bbb;
background-color:#fff;
font-family:"굴림",tahoma;
font-size:12px;
}
.mcon{
padding:2px;
border:1px solid #DADADA;
background-color:#fff;
}

#popleft{position:fixed;right:20px;bottom:10px;padding:0 0 10px 0;z-index:10;opacity:0.9;filter:alpha(opacity:90)}
.popleft{margin:10px 0 0 0;border:1px solid #dbdbdb;background-color:#f3f3f3;line-height:22px;padding:10px;width:180px;max-height:100px;word-break:break-all;overflow:hidden}

.greentop{margin:0;padding:0;height:15px !important;text-align:center;line-height:15px !important}
.greentop2{margin:0;padding:0;height:45px !important;text-align:center}
.customStyleSelectBox{
padding:4px;
border:1px solid #ccc;
text-align:left;
display:block;
}
.customStyleSelectBoxInner{
background:url('images/btn_select_arrow.png?160403') no-repeat center right;white-space:nowrap;
}
.input{
margin:0;
outline-style:none;
border:1px solid #ccc;
background-color:#fff;
font-family:"굴림",tahoma;
font-size:12px;
-webkit-border-radius:0;
-webkit-appearance:none;
}
.captcha{
margin:0 0 4px 0;
-webkit-border-radius:0;
-webkit-appearance:none;
}

/* 자동 출처 */
.instiz-{display:none}
.instiz-stub{display:none}
.instiz-stub-extra{position:absolute;opacity:0}

/* Button Reset */
.button,.button a,.button button,.button input{position:relative;margin:0;padding:0;display:-moz-inline-stack;display:inline-block;text-decoration:none !important;border:0;font-size:12px;font-family:"굴림",tahoma;white-space:nowrap;background:url('images/bg_btn.png?160403') no-repeat;overflow:visible;color:#000}
.button3,.button3 a,.button3 button,.button3 input{position:relative;margin:0;padding:0;display:-moz-inline-stack;display:inline-block;text-decoration:none !important;border:0;font-size:12px;font-family:"굴림",tahoma;white-space:nowrap;background:url('images/bg_btn_big.png?160403') no-repeat;overflow:visible;color:#000}
.button2,.button2 a,.button2 button,.button2 input{position:relative;margin:0;padding:0;display:-moz-inline-stack;display:inline-block;text-decoration:none !important;border:0;font-size:12px;font-family:"굴림",tahoma;white-space:nowrap;background:url('images/bg_btn2.png?160403') no-repeat;overflow:visible;color:#fff;background-color:#009E14;}

.button, .button2{height:23px;padding:0;vertical-align:middle; background-position:left top}
.button3{height:54px;padding:0;vertical-align:middle; background-position:left top}
.button a,.button button,.button input, .button2 a,.button2 button,.button2 input, .button3 a,.button3 button,.button3 input{left:2px;vertical-align:top;cursor:pointer;-webkit-border-radius:0;-webkit-appearance:none;}

.button a,.button button,.button input, .button2 a,.button2 button,.button2 input{height:23px;padding:0 7px 0 5px;font-size:12px;line-height:23px;background-position:right top}
.button3 a,.button3 button,.button3 input{height:54px;padding:0 10px 0 8px;font-size:12px;line-height:54px;background-position:right top}

.button *:hover,.button *:active,.button *:focus, .button3 *:hover,.button3 *:active,.button3 *:focus{color:#009E3F}
.button2 *:hover,.button2 *:active,.button2 *:focus,.button2 *:visited{color:#fff !important}

.button.strong *, .button2.strong *, .button3.strong *{font-weight:bold !important}

/*실시간차트*/
#reallayer_bg{opacity:0.9;filter:alpha(opacity:90)}
#reallayer1{position:absolute;display:none;z-index:200;visibility:hidden}
#reallayer2{position:relative;}
.realabsol{
position:absolute;
left:0;
top:0;
}

/*인기글 버튼*/
.arrow{margin:0;padding:0;font-size:0;display:inline-block;border:0;}
.arrow1{width:7px;height:8px;background-image:url('../images/ico_arrow_up.png?160403');}
.arrow2{width:7px;height:8px;background-image:url('../images/ico_arrow_down.png?160403');}
.arrow3{width:8px;height:8px;background-image:url('../images/ico_arrow_bar.png?160403');}
.arrow4{width:22px;height:8px;background-image:url('../images/ico_arrow_new.png?160403');}
.arrow5{width:6px;height:5px;background-image:url('../images/ico_arrow_new.png?160403');}

/*실시간자동완성*/
.ajax_search{position:relative;margin:0 auto 0 0;width:0;height:0}
.ajax_search div{position:absolute;left:710px;top:-4px;border:2px solid #20c100;width:256px;overflow-x:hidden;display:none;z-index:99}
.aj{border-top:1px solid #dfdfdf}
#tbs{background-color:#fff; width:258px}
#tbs td{padding:0 0 0 5px;border-bottom:1px solid #f0f0f0;width:195px;height:25px;cursor:pointer}
#tbs td span{white-space:nowrap}

/*전광판*/
#Ubox{position:relative;height:15px;overflow:hidden}
#Ubox div{position:absolute;height:15px;clip:rect(0 627 15 0);left:0;top:0}
#Utxt{font-size:9pt;position:absolute;left:0;top:15px;text-align:left}

/*마우스 팝업*/
#helpbox{
position:absolute;
left:0;
top:0;
margin:0;
padding:3px;
width:auto;
background-color:#FFFAD6;
border:1px #000 solid;
font-size:12px;
font-family:"굴림",tahoma;
line-height:15px;
display:none;
white-space:nowrap;
z-index:100;
}

/*에러*/
.tb_err{margin:0;padding:0;width:100%;height:100%}
.tb_err_con{margin:20px auto;padding:0;max-width:600px;width:94%}
.tb_err_title{height:29px}
.tb_err_title ul{list-style:none;margin:0;padding:0}
.tb_err_title ul li{float:left;color:#009E3F;font-family:"돋움", verdana;font-size:14px;font-weight:bold}
.tb_err_left{margin:0 10px 0 0}
.tb_err_english{padding:0 0 10px 0}
.tb_err_memo{padding:15px 0;font-family:"굴림", verdana;font-size:9pt;line-height:1.8}

/*게시판 상단 공지*/
.notice{
width:970px;
margin:0 auto;
padding:10px 0 8px 0;
border-bottom:solid 1px #dbdbdb;
background-color:#fff;
}
.notice_leaf{background-position:-17px -106px;background-repeat:no-repeat}

.entersup{display: inline-block;font-family:tahoma;line-height:5px;margin: 0 -3px 0 2px;color: #999;font-size: 7px;}
.evt{position:relative;display:inline-block;z-index:200;*zoom:1;*display:inline;_display:inline}
.evt div{position:absolute;top:10px;left:-150px;width:240px;height:305px;background-color:#fff;border:1px solid #888;display:none}

/*댓글 레벨아이콘*/
.lv{position:relative}
.lv div{
position:absolute;
margin:1px 0 0 1px;
padding:0;
width:11px;
height:7px;
background-image:url('images/ico_lv.png?160403');
background-repeat:no-repeat;
font-size:0;
line-height:0;
z-index:10;
}
.lv1_3{background-position:0 -92px}
.lv1_4{background-position:0 -85px}
.lv1_5{background-position:0 0}
.lv1{background-position:0 -7px}
.lv2{background-position:0 -14px}
.lv2_5{background-position:0 -21px}
.lv3{background-position:0 -28px}
.lv4{background-position:0 -35px}
.lv5{background-position:0 -42px}
.lv6{background-position:0 -49px}
.lv7{background-position:0 -56px}
.lv8{background-position:0 -63px}
.lv9{background-position:0 -70px}
.lv0{background-position:0 -77px}
.lv10{background-position:0 -77px}

.reple{margin:7px 0 0 0;width:100%;line-height:13px !important}
.addimg{margin:6px 0 0 3px}
.addimg_th{margin:5px 7px 10px 0;float:left;border:1px solid #ccc;width:150px;cursor:pointer}

.cmt_refresh{width:15px;height:15px;margin:0 0 0 5px;}
.cmt_td{width:41px;text-align:left;vertical-align:top;line-height:22px}
.cmt_td img{width:34px;height:34px}
.cmt_sb{clear:left;padding:0 0 10px 40px;word-break:break-all}
.comment_r{
clear:left;
position:relative;
margin:10px 0 0 0;
word-wrap:break-word;
}
.comment_r_img{
position:absolute;
top:0;
width:32px;
height:32px;
left:-59px;
padding:0 0 0 19px;
z-index:20;
background-image:url('images/ico_reple.png?160403');
background-repeat:no-repeat;
}
.comment_r_img img{width:34px;height:34px}
#comment_ok{float:left;display:none}
.labelgif {position:absolute;padding:1px 2px;color:#fff;background-color:#747474;font-size:8px;font-family:verdana;border-radius:2px;line-height:10px;opacity:0.9;}

/*버튼*/
.btnnotice, .relate div, .btndraw, .btnic, .btnswf, .btnimg, .btnmobile, .greenwide, .greenwide2, .greenl, .greenr, .greenbtnl, .greenbtnr, .greencal, .btn19, .notice_leaf, .nowno, .btnup, .btndown{background-image:url('images/btn_set.png?160403')}
.btnswf, .btnimg, .btnmobile, .btnnew, .btnnew2, .relate div, .btnnotice,
.btn19, .btnvt, .btni, .btnig, .btni2, .btnig2, .btndraw, .btnic, .greenwide, .greenwide2, .greenl, .greenr, .greenbtnl, .greenbtnr, .greencal, .greenloading{margin:0;padding:0;font-size:0;display:inline-block;border:0}

.btnup{
background-position:-204px 0;
background-repeat:no-repeat;
float:left;
margin:0 5px;
padding:0;
width:36px;
height:36px;
cursor:pointer;
}
.btndown{
background-position:-238px 0;
background-repeat:no-repeat;
float:left;
margin:0;
padding:0;
width:36px;
height:36px;
cursor:pointer;
}
.nowno{
background-position:23px -167px;
background-repeat:no-repeat;
}
.greenwide{
background-position:0 0;
width:29px;
height:11px;
cursor:pointer;
}
.greenwide2{
background-position:-29px 0;
width:29px;
height:8px;
cursor:pointer;
}
.greenl{
background-position:-136px 0;
width:28px;
height:15px;
cursor:pointer;
vertical-align:-3px;
}
.greenr{
background-position:-164px 0;
width:29px;
height:15px;
cursor:pointer;
vertical-align:-3px;
}
.greenbtnl{
background-position:0 -39px;
width:21px;
height:21px;
cursor:pointer;
}
.greenbtnr{
background-position:-22px -39px;
width:21px;
height:21px;
cursor:pointer;
}
.greencal{
background-position:-44px -39px;
width:16px;
height:16px;
vertical-align:-3px;
}
.greenloading{
background-image:url('//static.instiz.net/images/ico_loading.gif?160403');
margin:4px;
width:13px;
height:13px;
background-size:13px 13px;
}
.btnswf{
margin:0 0 0 8px;
background-position:-197px -58px;
width:30px;
height:14px;
vertical-align:-3px;
}
.btnimg{
margin:0 0 0 8px;
background-position:-119px -1px;
width:13px;
height:12px;
vertical-align:-2px;
}
.btnmobile{
margin:0 3px 0 2px;
background-position:-42px -113px;
width:8px;
height:10px;
}
.btnnew2{
margin:0 0 0 8px;
background-image:url('images/ico_new.gif?160403');
width:6px;
height:6px;
}
.btnnew{
margin:0 0 0 8px;
background-image:url('images/ico_new.png?160403');
width:6px;
height:6px;
}
.btnnotice{
margin:0 0 11px 0;
width:42px;
height:12px;
background-position:-1px -43px;
}
.btn19{
margin:0 4px 0 0;
width:14px;
height:14px;
background-position:0 -63px;
vertical-align:-2px;
}
.btnvt{
margin:0 0 0 5px;
background-image:url('images/ico_vote.png?160403');
width:12px;
height:10px;
vertical-align:-2px;
}
.btni{
margin:0 0 0 6px;
background-image:url('images/ico_new.png?160403');
width:6px;
height:6px;
}
.btnig{
margin:0 0 0 6px;
background-image:url('images/ico_new_green.png?160403');
width:6px;
height:6px;
}
.btni2{
margin:0 0 0 6px;
background-image:url('images/ico_new.gif?160403');
width:6px;
height:6px;
}
.btnig2{
margin:0 0 0 6px;
background-image:url('images/ico_new_green.gif?160403');
width:6px;
height:6px;
}
.btndraw{
width:33px;
height:12px;
background-position:-1px -88px;
}
.btnic{
width:73px;
height:12px;
background-position:-1px -73px;
}

/*오른쪽*/
.fantimes{margin:0;padding:0;width:118px}
.voteleft{margin:0;padding:20px 0 10px 0 }

.bse{margin:0 auto 5px 0;padding:0;width:118px;border:1px solid #F0F0F0;background-color: #fafafa;text-align:center;}
.bse a{margin:0;padding:5px 0;width:17%;text-align:center;display:inline-block;}

.mainboard{
margin:0 auto 0 0;
width:835px;
text-align:left;
}
.mainboard tr td{border-bottom:1px #e3e3e3 solid;height:25px;line-height:25px;white-space:nowrap}
.bt{
margin:0 0 2px 0;
padding:0 0 8px 0;
border-bottom:1px #dbdbdb solid;
}
.realtime_twitter{border-top:1px solid #dfdfdf}
.writing{
padding:15px 0;
line-height:30px;
background-color:#fff;
border-top:1px solid #ccc;
}
.writing_img_list{
margin:0 0 5px 0;
padding:0;
width:835px;
border-bottom:1px solid #ccc;
line-height:0;
}
.scrapok{width:auto;height:28px;background-color:#04b500}
.scrapok_l{float:left;padding:4px 0 0 5px;width:80px;height:24px}
.scrapok_l select{width:80px}
.scrapok_r{float:left;padding:9px 0 0 0;width:175px;height:19px;color:#fff;text-align:center;cursor:pointer}

.scrap{width:74px;height:10px;vertical-align:-1px}
.href{color:#000;font-weight:bold}
.alwayscenter{text-align:center !important}
.alwayscenter table{margin:0 auto !important}
.alwayscenter p, .alwayscenter span, .alwayscenter font, .alwayscenter div{text-align:center !important}
.settingon{text-decoration:underline;color:#009e3f;}

/*인기글*/
.board_real_foot{clear:both;border-top:1px solid #b7b7b7;margin:10px 0 0 0;padding:8px 0 0 0;width:100%;height:22px;text-align:left}
.board_real_foot ul{margin:0 auto;padding:0;width:970px;list-style:none}
.board_real_foot ul li{float:left;margin:0;padding:0}
.board_real_sub{margin:0 auto}
.board_real_foot2{clear:both;border-top:1px solid #e9e9e9;margin:0;padding:0;width:100%;height:70px;text-align:left}
.board_real_foot2 ul{margin:0 auto;padding:0;width:970px;list-style:none}
.board_real_foot2 ul li{float:left;margin:0;padding:9px 0 0 0;line-height:23px }

/*광고*/
.board_img_foot{clear:both;border-top:1px solid #cfcfcf;margin:0;padding:0;width:100%;text-align:left}
.board_img_foot ul{list-style:none;margin:0 auto;padding:0;width:970px}
.board_img_foot ul li{height:250px}

.img_foot{margin:0;width:970px;text-align:center}
.space{position:relative;width:5px;height:5px;display:inline-block}
.memo{line-height:18px}
.links{font-size:9px;letter-spacing:-1px;font-family:verdana;color:#999}
.links a{color:#000}
.link{font-size:11px;font-family:"돋움",tahoma;cursor:pointer}
.issue{padding:0 0 0 15px}
.issue{font-size:11px;font-family:"돋움",tahoma;color:#fff;cursor:pointer}
.issue a:link,
.issue a:visited,
.issue a:hover,
.issue a:active{color:#ffffff}
.mlink a{font-size:11px;font-family:"돋움",tahoma;color:#666;letter-spacing:-1px}
.mlink a:link{color:#666}
.mlink a:visited{color:#666}
.mlink a:hover{color:#009e3f;}
.mlink a:active{color:#666}
.myalbum{margin:0 2px 2px 0;width:60px;height:60px}
.rank{font-size:9px;font-family:tahoma;font-weight:bold;color:#000}
.rank1{font-size:9px;font-family:tahoma;font-weight:bold}
.rank2{font-size:9px;font-family:tahoma}
.main_alert a{color:#373737}
.protectTable{margin:0 auto;width:100%}

.memberlayer {background-color:#fff;border:1px #999 solid; width:120px;}
.memberlayer_div {position:absolute;top:0;left:0;z-index:50;display:none}
.memberlayer tr td {width:80px;height:25px;text-align:center;font-size:11px;font-family:"돋움",tahoma;letter-spacing:-1px;border-bottom:1px solid #f3f3f3}
.memberlayer tr td a {color:#000}
.memberlayer tr td a:hover {font-weight:bold;letter-spacing:-2px}

.main_score{
font-family:"굴림",tahoma;
font-size:12px;
font-weight:bold;
color:#39c21a;
}

/*검색*/
.ks{margin:0 0 0 3px;padding:1px 0 0 0;border:0;width:123px;height:14px;-webkit-border-radius:0;background-repeat:no-repeat;background-position:left top;ime-mode:active;color:#333}
.kstype{margin:0;padding:0;height:14px;background-color:#fff;border:0;font-size:12px;color:#999;text-align:left;cursor:pointer;-webkit-border-radius:0;-webkit-appearance:none}
.kstypeon{color:#009E3F}
.suggest{width:121px;background-color:#fff;border:1px #ccc solid;overflow:hidden;white-space:nowrap}
.suggestf{padding:3px 0 0 2px;height:14px;cursor:pointer}
.subottom{border-top:1px solid #ccc}
.searchlist{padding:40px 0 0 0;height:409px !important;text-align:center;vertical-align:top}

.preview{
margin:0 0 20px 0;
padding:5px;
border:1px solid #ccc;
}
.topalert{
padding:7px 0;
border-bottom:1px solid #ccc;
width:auto;
text-align:center;
}

.myupload{list-style:none;margin:0 0 0 18px;padding:0}
.myupload li{position:relative;float:left;margin:0 5px 18px 0;padding:0;background-color:#fff;border:1px solid #ccc;width:88px;height:75px;cursor:pointer;text-align:center}
.myupload li div{position:absolute;left:-1px;top:-1px;padding:1px;background-color:#fff;border:1px solid #ccc}
.presave_con{clear:both;list-style:none;margin:0 auto;padding:0;width:100%;border-bottom:1px solid #dbdbdb;line-height:19px;overflow:auto}
.presave_con li{float:left;margin:0;padding:3px 0;width:auto;line-height:19px}
#lg,#lgs{margin:0;padding:0;border:0;width:23px;height:12px;line-height:12px;color:#000;font-family:tahoma;font-size:10px}

/*POPUP*/
.popup_top{
margin:0;
padding:0;
background-color:#e6e6e6;
width:auto;
height:31px;
}
.popup_sub_outer{
margin:0 0 0 15px;
}
.popup_sub_outer ul{
list-style:none;
margin:0;
padding:0;
}
.popup_sub_outer ul li{
float:left;
margin:6px 5px 0 0;
padding:7px 10px 0 10px;
height:18px;
background-color:#fff;
font-size:12px;
font-family:"굴림",verdana;
color:#333;
text-align:center;
border-radius: 7px 7px 0 0;
}
.popup_sub_outer ul li.popup_none{
background-color:#666;
cursor:pointer;
color:#fff;
background: rgb(107,107,107);
background: -moz-linear-gradient(top,  rgba(107,107,107,1) 0%, rgba(107,107,107,1) 64%, rgba(71,71,71,1) 100%);
background: -webkit-linear-gradient(top,  rgba(107,107,107,1) 0%,rgba(107,107,107,1) 64%,rgba(71,71,71,1) 100%);
background: linear-gradient(to bottom,  rgba(107,107,107,1) 0%,rgba(107,107,107,1) 64%,rgba(71,71,71,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#474747',GradientType=0 );
}
.gray{color:#959595;font-size:11px;font-family:dotum,tahoma;letter-spacing:-1px}

/*팝업*/
.popup_memo{background-color:#39c21a;border-spacing:3px;padding:0}
.popup_text_on{color:#09e3f;}
.popup_text{color:#fff}

/*인덱스*/
#indextable{text-align:center;margin:0 auto}
#indextable td{text-align:center;height:30px}
#indextable a{font-size:12px;font-family:"굴림",verdana;margin:0;padding:8px 7px;color:#666;letter-spacing:-1px;display:inline-block}
#indextable a:hover{font-size:14px;font-family:"돋움";font-weight:bold;color:#000}
#indextable .indexing1 a{font-weight:bold;text-decoration:underline;color:#009E3F;font-size:14px;}

/*게시판*/
.boardhead{margin:0 auto;padding-top:15px}
.checkbox{margin:0;padding:0;vertical-align:-1px}
.underline td{margin:0;padding:0;border-bottom:1px #e3e3e3 solid}
.underline_dotted{border-top:1px #ccc dotted}
.bttitle{font-weight:bold}
.texthead{color:#009E3F}
.texthead:link{color:#009E3F !important;}
.texthead:visited{color:#009E3F !important;}
.texthead:hover{color:#009E3F !important;}
.texthead:active{color:#009E3F !important;}
.texthead_notice{padding:7px 0 0 0;color:#009E3F !important;line-height:14px;font-weight:bold}
.tb_top{height:34px;border-bottom:2px solid #ccc;text-align:left}
.tb_spr{margin:0 5px;font-family:verdana;font-size:11px;letter-spacing:-1px;color:#dbdbdb !important;font-weight:normal !important;}
.tb_spr2{margin:0 4px;font-family:verdana;font-size:11px;letter-spacing:-1px;color:#dbdbdb !important;font-weight:normal !important;}

.tb_lr{border-bottom:1px solid #e8e8e8;height:29px;vertical-align:top}
.tb_left{padding:7px 0 0 0;float:left;text-align:left}
.tb_right{padding:9px 0;float:right;text-align:left}

.tb_rt{width:auto;height:32px;border:1px solid #dfdfdf;border-left:0;border-right:0;}
.tb_rt .tbb{float:left;height:32px;display:inline-block;text-align:center}
.tb_rt .tbb a{float:left;padding:10px;line-height:13px}
.relate{border-bottom:1px solid #dfdfdf;padding:9px 0 0 0}
.relate div{
float:left;
margin:0 5px 0 0;
padding:0 0 9px 13px;
background-position:0 -131px;
background-repeat:no-repeat;
white-space:nowrap;
height:15px;
}
.ritem_name{background:none !important;margin:0;padding:1px 0 0 0 !important;width:50px;height:24px;color:#6f6f6f;text-align:center}
.memo_content{
clear:both;
margin:0;
padding:20px 0;
width:970px;
overflow-x:hidden;
line-height:1.8;
font-size:12px;
word-break:break-all;
}
.memo_content a{text-decoration:underline}
.hide_con{margin:0 auto 0 0;width:99%}
.hide_btnname{cursor:pointer;font-weight:bold;color:#009E3F;background-image:url('images/ico_click.png?160403');background-repeat:no-repeat;background-position:right center;}
.hide_btncon{display:none !important}

.submit{border:1px #fff solid;font-size:12px;color:#fff;background-color:#999;height:18px}
.minitext, .minitext div{font-family:"돋움",verdana;font-size:11px;letter-spacing:-1px;color:#9a9a9a !important}
.minitext a, .minitext a:link, .minitext a:visited, .minitext a:hover, .minitext a:active{color:#9a9a9a}
.minitext2, .minitext2 div{font-family:"돋움",verdana;font-size:11px;letter-spacing:-1px}
.minitext3, .minitext3 div{font-family:"돋움",verdana;font-size:11px;letter-spacing:-1px;color:#707070 !important}
.minitext3 a, .minitext3 a:link, .minitext3 a:visited, .minitext3 a:hover, .minitext3 a:active{color:#707070}

.drawing_flash{border:1px #ccc solid}
.comment_memo{padding:0 0 10px 0;width:auto;text-align:left;font-size:12px;word-break:break-all;vertical-align:top}
.comment_memo div{word-break:break-all}
.comment_memo_spage{padding:0 0 10px 0;text-align:left;font-size:12px;word-break:break-all}

.comvote{vertical-align:-3px}
.cmt_l{float:left;padding:10px 0 7px 0;letter-spacing:-1px;height:19px}
.cmt_r{float:right;padding:10px 0 7px 0;}
.imgbox{border-top:1px solid #ccc}
.viewfoot{margin:0 auto;border-top:1px #ccc solid;height:10px;clear:both}

.list_header{height:18px;text-align:center}
.listno{text-align:center;font-family:tahoma;font-size:9px;color:#808080}
.listno a{color:#808080}
.listno a:visited{color:#D5D5D5}
.listnm{text-align:center}
.listsubject{padding:1px 0 0 0;text-align:left;font-family:"굴림",verdana;color:#999}
.listsubject a{padding:1px 0 0 0;text-align:left;font-family:"굴림",verdana;font-size:12px}
.cmt{margin:0 0 0 3px;font-family:verdana !important;font-size:9px !important;color:#009E3F !important;font-weight:normal}
.cmtbtn{padding:10px 0;width:100%;background-color:#f7f7f7;border:1px solid #DADADA;border-top:0;}

.cate_ad{margin:0}
.cate_title{margin:10px 0 0 0}
.cate_list{
width:120px;
height:19px;
}
#mystar{display:block}

.view_title1{font-family:Arial;font-size:11px;font-weight:bold;color:#333}
.view_title2{font-family:Arial;font-size:15px;letter-spacing:-1px;font-weight:bold;color:#333}
.view_left_menu{font-family:tahoma;font-size:10px;color:#666}
.myimg{border:1px #dfdfdf solid;cursor:pointer}