@charset "UTF-8";
a{margin:0;padding:0;}

.mainflash{position:absolute;left:0;top:0;width:260px;z-index:2;}
.mainsearch{float:left;position:relative;margin:0;text-align:right;}
#msubse{position:absolute;}
.msubse2{position:absolute;top:-1px;left:55px;z-index:50;}
.msubdiv{position:absolute;top:-4px;left:-2px;width:260px;}
.msubdiv input{padding:0;margin:0;line-height:22px;height: 24px;}

.ks{border-bottom:1px solid #dfdfdf !important;}
.mydraw{position:absolute;width:57px;height:57px;border:1px solid #ccc;z-index:20;}

#mytable tr td{height:18px;font-size:11px;font-family:"돋움";}
#realtime{width: 260px;height:67px;overflow-y:scroll;}

/*섹션*/
.tt{margin:0 0 5px 0;padding:0 0 0 7px;width:251px;height:29px;cursor:pointer;background-color:#f5f5f5;border:1px solid #f0f0f0;}
.tt a{padding:8px 0 10px 0;text-decoration:none;display:inline-block;}
.tt a:hover div{color:#333;}
.tt a div{color:#7f7f7f;font-family: "돋움",verdana;font-size: 11px;letter-spacing: -1px;}
.tt_wide{width:260px;}
.tt_left{float:left;width:188px;}
.tt_right{float:left;width:61px;}

.mainad{padding: 3px 0 0 0;width: 300px;border-top: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;height:253px;}
.mb_adbox li{list-style:none;float:left;margin:-12px 0 0 -40px;padding:0;}
#bottom{position:relative;z-index:0;}
#mytable{display:none;margin:0 auto;}

/*나의메뉴*/
.mypage{
margin:0;
padding:0;
height: 149px;
z-index:-1;
}
.mypagetop{display:none;width: 100%;margin:0 auto;}
.mypagemore{
position:absolute;
top:2px;
left:2px;
padding:2px 5px 0 5px;
background-color:#6d6d6d;
height:15px;
font-size:10px;
font-family:verdana;
color:#fff;
cursor:pointer;
display:block;
z-index:2;
opacity:0.6;
filter:alpha(opacity:60);
line-height:13px;
letter-spacing:-1px;
}

#reallayer{float:left;width:580px;padding:0}

/*mobile*/
.mt{float:left;}
.ml{
margin: 6px 0 0 0;
padding: 5px;
font-size: 11px;
position: absolute;
top: 147px;
background-color: #000;
width: 290px;
color: #fff;
height: 15px;
opacity: 0.7;filter:alpha(opacity:70);
line-height:13px;
font-size:11px !important;
letter-spacing:-2px;
}
.mb_imgbox{margin:10px auto 0 auto;height:178px;}