/*
Theme Name: Spike
Theme URI: http://mythemeshop.com/themes/spike
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: Spike is a bright and colorful WordPress blog theme. Spike is packed with a sleek post slider, all our widgets and shortcodes, plus our best optimizations. Spike is fully responsive and coded with the latest HTML5 and CSS3 techniques.
Version: 1.0

*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }




blockquote {
    padding-top: 20px;
    overflow: hidden; /* clearfix alternative */
    font-size: 18px;
    font-family: georgia,times,sans-serif;
    color: #454545;
    font-style: italic;

}
blockquote:before {
;
}
blockquote:after {

}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
a:link { -webkit-tap-highlight-color: #FF5E99 }
img, video, object, embed {
    /* max-width: 100%;
    height: auto!important;*/
}
iframe { max-width: 100% }

strong, b { font-weight: bold }
em, i, cite {
    font-style: italic;
    font-family: georgia;
}
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-family: monospace,consolas,sans-serif;
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFD700;
}
address { margin: 10px 0 }
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.sticky { }
.gallery-caption { }
.bypostauthor { }
.wp-caption-text { }
/*-[ Framework ]--------------------*/
body {
    font: 14px/23px arial, sans-serif;
    color: #868686;
    background-color: #EBEBEB;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 12px;
    font-family: Arial, sans-serif;
    color: #444;
}
h1 {
    font-size: 28px;
    line-height: 1.4;
}
h2 {
    font-size: 24px;
    line-height: 1.4;
}
h3 {
    font-size: 22px;
    line-height: 1.4;
}
h4 {
    font-size: 20px;
    line-height: 1.4;
}
h5 {
    font-size: 18px;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    line-height: 1.4;
}
.sub-title { font-size: 12px }
p { margin-bottom: 15px; text-align: justify; font-size: 15px;}
a {
    text-decoration: none;
    color: #20852c;
    -webkit-transition: background-color, color 0.2s linear;
    -moz-transition: background-color, color 0.2s linear;
    transition: background-color, color 0.2s linear;
}
a:hover { color: #00A8FF }
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container {
    width: 1250px;
    margin: 0px auto;
    max-width: 100%;
    background: #fff;
}
#page, .container {
    max-width: 1250px;
    min-width: 240px;
    overflow: visible;
}
#page {
    padding-top: 25px;
    min-height: 100px;
    float: none;
    clear: both;
    overflow: hidden;
}
/*-[ Header ]-----------------------*/
body > header {
    float: left;
    width: 100%;
    position: relative;
}
.main-header {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99;
 

}
#header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background: #fff;
	border-bottom: 1px solid #ddd;
}
#header h1, #header h2 {
    font-size: 44px;
    float: left;
    display: inline-block;
    line-height: 1;
    margin: 0 0 0 2%;
}
#logo a {
    float: left;
    display: inline-block;
    color: #fff;
}
.text-logo a {
    padding:0;
    letter-spacing: -3px;
    background-color: #fff;
}
.widget-header {
    float: right;
    max-width: 76%;
    margin-bottom: 12px;
}
.image-logo a { margin-top: 0px; margin-bottom: 0px;}
/*-[ Navigation ]-----------------*/
.main-navigation {
    display: block;
    float: left;
    width: 100%;
    margin-top: -1px;
}
.main-navigation #navigation ul ul { border-bottom: 1px solid #eee }
.main-navigation #navigation ul ul::after { border-color: transparent transparent rgba(238, 238, 238, 0.92) }
.main-navigation #navigation {
    border: 1px solid #EEE;
    width: 958px;
    max-width: 100%;
    border-top: 0;
}
.main-navigation #navigation ul li li {
    background: #fff;
    border: 1px solid #eee;
    border-bottom: 0;
}
.main-navigation #navigation ul li li a {
    color: #5a5a5a;
    text-shadow: 0 0;
}
.main-navigation li a {
    font-size: 14px;
    line-height: 1.2em;
    padding: 13px;
    color: #5a5a5a;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #eee;
}
.main-navigation li ul li a { margin-left: 0 }
.main-navigation .children { width: 100% }
.main-navigation .children li .sf-sub-indicator, .secondary-navigation .children li .sf-sub-indicator { display: none }
.secondary-navigation {
    display: block;
    float: right;
    max-width: 100%;
    margin-right: 2%;
}
.secondary-navigation a {
    font-size: 14px;
    color: #999;
    text-align: left;
    text-decoration: none;
    margin: 0 20px 10px;
}
.secondary-navigation a .sub {
    font-size: 11px;
    font-weight: normal;
    font-family: arial;
    color: #9B9B9B;
}
.sf-js-enabled li a.sf-with-ul {
    padding: 0 20px 0 20px;
    border-top: 1px solid #ddd !important;
}
.sf-js-enabled li  ul.sf-with-ul { padding-right: 20px }
#navigation .sf-sub-indicator {
    display: none;
    width: 11px;
    overflow: hidden;
    position: absolute;
    right: 7px;
    top: -3px;
}
#navigation ul ul .sf-sub-indicator { top: 8px }
#navigation {
    margin: 28px auto 0;
    font-size: 13px;
    float: left;
    width: 100%;
}
#navigation select { display: none }
#navigation ul { margin: 0 auto }
#navigation .menu { }
#navigation ul li {
    float: left;
    position: relative;
}
#navigation ul .header-search { float: right }
#navigation > ul > .search_li {
    border-right: none;
    margin-left: 40px;
}
.search_li { }
#navigation ul li a, #navigation ul li a:link, #navigation ul li a:visited {
    overflow: hidden;
    display: block;
    text-transform: uppercase;
    padding-top: 6px;
}
#navigation > ul > .current a {
    background: transparent;
    color: #5a5a5a !important;
}
#navigation ul li li {
    background: #fff;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
}
#navigation ul ul {
    position: absolute;
    width: 192px;
    padding: 20px 0 0 0;
    padding-top: 0;
    z-index: 400;
    font-size: 12px;
    margin-top: 0px;
    color: #798189;
    border-bottom: 1px solid #eee;
}
.sf-with-ul:hover {
    border-bottom: none !important;
    border-top: 1px solid #666;
}
#navigation ul ul li { padding: 0 }
#navigation ul ul a, #navigation ul ul a:link, #navigation ul ul a:visited {
    padding: 6px 20px;
    position: relative;
    width: 150px;
    border-left: 0;
    background: transparent;
    border-bottom: 0;
    border-top: none;
    border-right: 0;
    margin: 0;
}
#navigation ul ul a:hover {
    color: #444444;
    background: #f5f5f5;
}
#navigation ul ul li:first-child a { }
#navigation ul ul li:last-child a { border-bottom: none }
#navigation ul ul {
    opacity: 0;
    left: -999em;
}
#navigation ul li:hover ul {
    left: auto;
    opacity: 1;
}
#navigation ul ul ul { top: 0px }
#navigation li:hover ul ul, #navigation li:hover ul ul ul, #navigation li:hover ul ul ul ul {
    left: -999em;
    opacity: 0;
}
#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul, #navigation li li li li:hover ul {
    opacity: 1;
    left: 190px;
}
#menu-item-13 a:hover { border-top: 1px solid red }
/*-[ Content ]--------------------*/
.article {
    width: 68%;
    float: left;
    padding: 0 2%;
    padding-right: 0;
}
#content_box {
    float: left;
    width: 100%;
}
#content { overflow: hidden }
.error404 #content { margin-bottom: 30px; }
.post {
    float: left;
    width: 100%;
}
.single_post { width: 100%; line-height: 24px; font-size: 15px; min-height: 870px;}


.single_page {
    background-color: white;
    padding-top: 0;
}
.post-content {
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 13px;
    text-align: justify;
}
.ss-full-width .post-content { margin-left: 1px }
.post_excerpt_r .post-content { border-bottom: 0px solid #DDDDDD; line-height: 20px; font-size: 15px;}
.home_meta_comment_social {
    width: 100%;
    display: block;
    clear: both;
}
.home_meta_comment_social .thecomment {
    width: auto;
    float: left;
    clear: none;
    display: inline-block;
    color: #999999;
    font-size: 12px;
    margin-right: 4%;
}
.home_meta_comment_social .thecomment a { color: #999; }
.pereadore { font-style: italic }
.post-single-content {
    font-size: 14px;
    line-height: 22px;
    max-width: 680px;
    width: 80%;
    float: left;
}
.readMore {
    float: right;
    color: #7B7A79;
}
.readMore a { color: #c1bbb6 }
.ss-full-width {
    background: white;
    padding: 0 2%;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 0;
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.post.excerpt {
    clear: both;
    margin-bottom: 48px;
    overflow: hidden;
    background-color: #fff;
    width: auto;
}
.post_excerpt_l {
    float: left;
    width: 35.3%;
    margin-right: 20px;
}
.post_excerpt_r { overflow: hidden }
.post_excerpt_r header {
    width: 100%;
    float: left;
    display: block;
    clear: both;
}
.wp-post-image { float: left }
.post_excerpt_r .title { margin-bottom: 3px }
.post_excerpt_r .post-info, .post_excerpt_r .post-info a {
    font-size: 12px;
    color: #999999;
}
.post_excerpt_r .thecategory {
    background: url(images/pcat.png) 0 5px no-repeat;
    padding-left: 14px;
    margin-left: 10px;
}
.post_excerpt_r .thetime {
    background: url(images/ptime.png) 0 5px no-repeat;
    padding-left: 18px;
    margin-left: 2%;
}
.post_excerpt_r .title a {
    font-size: 28px;
    font-family: 'Alegreya Sans',sans-serif;

}
.post_excerpt_r .post-info {
    /* border-top: 1px solid #dddddd;*/
    border-bottom: 1px solid #dddddd;
    padding: 0px 0px;
}
.featured-thumbnail { max-width: 100% }
#featured-thumbnail {
    float: left;
    width: 100%;
    margin-top: 5px;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
}
.title {
    margin-bottom: 5px;
    font-size: 52px;
    line-height: 24px;
    clear: both;
    font-family: 'Alegreya Sans',sans-serif;

}
.single-title {
    float: left;
    padding: 0 0 0 0;
    line-height: 52px;
    font-family: 'Alegreya Sans',sans-serif;
}
.title a { color: #444 }
.page h1.title {
    margin-bottom: 20px;
    padding-top: 0;
    line-height: 25px;
}
.post-info {
    display: block;
    font-size: 13px;
    color: #AAAAAA;
    float: left;
    clear: both;
    width: 100%;
}
.post-info .thetime {
    margin-left: 10px;
    float: left;
}
.post-info .thecomment {
    float: left;
    margin-left: 10px;
}
.post-info .thecomment a { color: #999!important; }
.post-info .thecategory { 
    float: left; 
    margin-left: 0px; 
}
.post-info .theauthor { float: left; }
.single .theauthor {
    background: url(images/postedby.png) 0 6px no-repeat;
    float: left;
    padding-left: 17px;
}
.single .title {
    border-bottom: 1px solid #dddddd;
    font-weight: normal;
    padding-bottom: 10px;
    width: 100%;
    font-family: 'Alegreya Sans',sans-serif;
}
.home article header, .archive article header { margin-bottom: 15px }
article header {
    float: left;
    width: 100%;
}
.single article header {
    padding-bottom: 20px;
}
.post-info a { color: #919191 }
.single .post-info a { color: #20852c }
.article img.left, .article img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1.571em 0.5em 0;
    display: block;
    float: left;
}
.article img.right, .article img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1.571em;
    display: block;
    float: right;
}
.article img.center, .article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 0.5em auto;
    display: block;
}
.article img.aligncenter, .article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}
.article ul {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: circle;
}
.article ol {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal;
}
/*-[ Tab widget ]------------------------------*/
#tabber {
    display: block;
    height: auto;
    margin: 0;
    overflow: hidden;
    background-color: #FFF;
}
#tabber .inside {
    margin-top: 0;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 5.5%;
    padding-top: 0;
    padding-bottom: 15px;
}
#tabber ul.tabs {
    overflow: hidden;
    height: 41px;
    text-align: center;
    text-transform: uppercase;
}
#tabber ul.tabs li {
    background: none;
    float: left;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: none;
    width: 50%;
    text-align: center;
    margin-left: 0;
}
#tabber ul.tabs li a {
    background: #fff;
    color: #999;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    padding: 13px 0;
    line-height: 1;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    : ;
}
#tabber ul.tabs li a.selected {
    margin: 0;
    color: #444;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: none;
    width: 98.4%;
}
#tabber ul.tabs li.tab-recent-posts a {
    margin: 0;
    text-align: center;
}
#tabber ul.tabs li.tab-recent-posts a.selected {
    float: right;
    width: 99%;
}
#tabber ul.tabs li a:hover {
    color: #000;
    text-decoration: none;
}
#tabber .inside li {
    list-style: none;
    padding: 15px 0 0 0;
    margin-left: 0;
}
#tabber .inside li a { line-height: 18px }
#tabber .inside li .entry-title a {
    font-weight: normal;
    font-size: 14px;
    color: #696868;
}
#tabber .inside li div.info {
    display: table;
    top: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
#tabber .inside li div.info .entry-title {
    font-size: 13px;
    margin-bottom: 0;
    font-weight: bold;
}
#tabber .inside li .meta {
    display: block;
    font-size: 12px;
    color: #999;
}
.tab_meta {
    font-size: 12px;
    color: #999999;
}
#tabber .tab-thumb {
    border: 1px solid #f0f0f0;
    padding: 4px;
    background: #fff;
    float: left;
    display: inline;
    margin: 0px 12px 0px 0px;
}
.post-number {
    position: relative;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    bottom: 22px;
    background: #20852c;
}
#tabber .inside .tabsSep {
    margin-top: 7px;
    width: 100%;
    height: 1px;
    background-color: #e8e5de;
    clear: both;
    float: left;
}
.advanced-recent-posts a {
    color: #555 !important;
    font-size: 14px;
}
/*-[ Tweets Widget ]---------------------------*/
.tweets li {
    margin-bottom: 15px!important;
    background: url(images/twitter.png) 0 26px no-repeat !important;
    padding-left: 20px !important;
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
    list-style: none!important;
    margin-left: 0!important;
}
.tweets li:first-child {
    border-top: none !important;
    padding-top: 0 !important;
    background-position: 0 6px !important;
}
.twitter-follow {
    background: url(images/small_twitter.png) no-repeat center left;
    padding: 5px 0 5px 20px;
    margin-left: 5px;
    float: left;
}
/*-[ Form Input ]------------------*/
input, textarea, select {
    padding: 8px 12px;
    font-size: 12px;
    color: #999;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select { padding: 12px 20px }
input:focus, textarea:focus { }
::-webkit-input-placeholder {
    color: #585F65;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
::-moz-input-placeholder {
    color: #585F65;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
::-ie-input-placeholder {
    color: #585F65;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
::-o-input-placeholder {
    color: #585F65;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
::input-placeholder {
    color: #585F65;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 1px solid #F1F4F6;
}
thead {
    background: #F7F8F9;
    font-size: 14px;
    color: #585F65;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #F5F7F9;
}
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 297px;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
}
nav #searchform fieldset {
    border: 0;
    width: 100%;
    float: left;
    display: block;
    clear: both;
    min-width: 240px;
    margin-bottom: 9px;
}
#searchform fieldset { float: left }
.sbutton {
    padding: 10px 0 10px 0;
    border: 1px solid #20852c;
    width: 29.2%;
    cursor: pointer;
    background-color: #20852c;
    text-align: center;
    padding-top: 10px;
    color: white;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    height: 35px;
}
#searchform .sbutton:hover { background: #222 }
.main-header #s { padding: 7px 0 }
.main-header #search-image {
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 7px 0;
    height: 31px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    width: 29.4%;
}
.main-header #search-image:hover {
    background: #222;
    color: #fff;
}
#s {
    width: 70%;
    background-color: #fff;
    border: 1px solid #F1F1F1;
    float: left;
    padding: 9px 0;
    text-indent: 10px;
    border-right: 0;
}
.footer-widgets fieldset, #sidebars fieldset { width: 100% }
.breadcrumb {
    margin-bottom: 20px;
    
    font-size: 12px;
}
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin-bottom: 10px;
    clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    float: left;
    clear: both;
}
/*-[ Sidebar ]---------------------*/
#sidebars p { line-height: 20px }
.sidebar.c-4-12 {
    float: right;
    width: 26.3%;
    padding-right: 2%;
    line-height: 20px;
    max-width: 337px;
}
.sidebar.c-4-12 a { color: #868686 }
.widget {
    margin-bottom: 27px;
    clear: both;
    float: left;
    width: 100%;
}
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget li {
    list-style-type: square;
    margin-left: 15px;
    margin-bottom: 7px;
}
.widget h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    padding-bottom: 10px;
}
.advanced-recent-posts li, .popular-posts li, .category-posts li {
    list-style: none!important;
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    color: #aaa;
    padding-left: 0;
    background: none;
    margin-bottom: 10px;
}
.advanced-recent-posts p, .popular-posts p, .category-posts p { margin: 0 }
.category-posts a, .advanced-recent-posts a { display: block }
.popular-posts time { display: block }
/*-[ Social Buttons ]--------------------------*/
.share-item.facebookbtn, .share-item.linkedinbtn, .share-item.stumblebtn {
    width: 92px;
    float: left;
}
.shareit {
    padding: 0;
    overflow: hidden;
    clear: both;
    width: 90px;
    float: left;
}
.shareit .share-item {
    display: block;
    margin: 2px 0;
    float: left;
    height: 25px;
}
/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons { overflow: hidden }
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 5px 10px;
    padding: 0;
    text-indent: -999em;
}
.social-profile-icons ul li a {
    display: block;
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.social-profile-icons ul li a:hover { opacity: 0.7 }
.social-dribbble a { background: url(images/social-dribbble.png) no-repeat }
.social-email a { background: url(images/social-mail.png) no-repeat }
.social-facebook a { background: url(images/social-facebook.png) no-repeat }
.social-gplus a { background: url(images/social-googleplus.png) no-repeat }
.social-linkedin a { background: url(images/social-linkedin.png) no-repeat }
.social-pinterest a { background: url(images/social-pinterest.png) no-repeat }
.social-rss a { background: url(images/social-rss.png) no-repeat }
.social-stumbleupon a { background: url(images/social-stumbleupon.png) no-repeat }
.social-twitter a { background: url(images/social-twitter.png) no-repeat }
.social-youtube a { background: url(images/social-youtube.png) no-repeat }
.social-flickr a { background: url(images/social-flickr.png) no-repeat }
.social-lastfm a { background: url(images/social-lastfm.png) no-repeat }
.social-tumblr a { background: url(images/social-tumblr.png) no-repeat }
.social-vimeo a { background: url(images/social-vimeo.png) no-repeat }
/*-[ Footer ]-------------------*/
body > footer {
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    background: #f5f5f5;
	margin-top:20px;
}
body > footer .footeText {
    width: 960px;
    margin: 22px auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
body > footer .footeText a {
    color: #fff;
    border-bottom: 2px solid #ee3f02;
}
body > footer .widget { padding: 10px 0 0 0 }
body > footer .sidebar .widget .title {
    font-size: 135%;
    color: #D4D8DB;
}
footer .widget { margin-bottom: 20px }
footer .widget a { color: #666 }
footer {
    position: relative;
    overflow: hidden;
}
footer .container { }
footer p { color: #8D8D8D }
.footer-widgets {
    overflow: hidden;
    padding: 30px 2% 10px 2%;
    width: 96%;
    margin: 0;
}
.footer-widgets h3 { padding-bottom: 10px }
.f-widget {
    width: 28%;
    float: left;
    position: relative;
    color: #8D8D8D;
    margin-bottom: 30px;
    margin-right: 8%;
}
.copyrights {
    float: left;
    width: 100%;
    clear: both;
    background-color: #f5f5f5;
    padding-bottom: 10px;
    padding-top: 12px;
    color: #979494;
    border-top: 1px solid #eeeeee;
    font-size: 12px;
}
#copyright-note {
    width: 1200px;
    margin: 0 auto;
    clear: both;
    max-width: 96%;
    color: #bbbbbb;
}
.copyrights a { color: #535353 }
#sidebars .wp-post-image, footer .wp-post-image {
    margin-bottom: 0;
    margin-top: 3px;
    margin-right: 10px;
    overflow: hidden;
}
.postsby { margin-bottom: 25px }
.textwidget a:hover { color: #222!important }
/*-[ Related Posts ]---------------------------*/
.related-posts {
    float: left;
    width: 100%;
}
.postauthor p {
    padding-top: 0px;
    width: 100%;
}
.related-posts ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: 0;
}
.related-posts h5 {
    line-height: 20px;
    padding-left: 80px;
    color: #919191;
    text-transform: uppercase;
    font-size: 13px;
}
.related-posts h3 {
    font-size: 18px;
    margin: 0;
    color: #444;
    font-weight: normal;
}
.relatedthumb img {
    margin-top: 5px;
    margin-bottom: 0;
}
a.relatedthumb, a.relatedthumb span { color: #777777 }
.postauthor-top { margin-bottom: 10px }
.single_post_right {
    float: right;
    width: 17.3%;
}
.related-posts li {
    width: 100%;
    float: left;
    list-style: none;
    margin-right: 0%;
    min-height: 100px;
    margin-bottom: 18px;
}
.related-posts li a { color: #868686 }
.related-posts span { font-weight: normal }
.related-posts .rthumb { margin-bottom: 8px }
.rthumb { float: left; width: 100%; }
.related-posts .last { margin-right: 0 }
.tags {
    margin: 20px 0 20px 0;
    width: 100%;
    float: left;
}
.tags a { margin-left: 5px }
.postauthor {
    margin: 30px 0 0px 0;
    padding: 0;
    min-height: 125px;
    float: left;
    clear: both;
    width: 100%;
}
.postauthor h4 {
    font-weight: bold;
    font-size: 18px;
}
.postauthor h5 {
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 24px;
}
.postauthor h5 a { text-transform: capitalize }
.postauthor img {
    float: left;
    margin: 5px 25px 15px 0;
}
.postauthor h4 a { color: #473636 }
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
    font-size: 12px!important;
    /*    padding: 2px 10px;*/
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    color: #fff !important;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    display: inline-block;
}
.tagcloud a:hover {
    background: #272727;
    color: #fff;
}
.tagcloud a .tab_count, .tagcloud a .
 {
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 9px;
    float: left;
}
.tagcloud a .tab_count {
    color: #555;
    -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.43);
    -moz-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.43);
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.43);
    font-size: 14px;
}
/*-[ Subscribe Widget ]------------------------*/
.mts-subscribe input[type="text"] {
    border: 1px solid #F1F1F1;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    float: left;
    padding: 9px 0;
    text-indent: 10px;
    border-right: 0;
}
.mts-subscribe input[type="submit"] {
    background: #2DB2EB;
    cursor: pointer;
    color: white!important;
    padding: 10px 0;
    border: 0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    float: left;
    height: 35px;
    text-align: center;
    width: 30%;
}
.mts-subscribe input[type="submit"]:hover { background: #222 }
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
}
.ad-125 .evenad { float: right!important }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #F1F4F6;
    border-right: 1px solid #F1F4F6;
}
#wp-calendar caption {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
/*-[Comments]--------------*/
.total-comments {
    font-size: 18px;
    color: #444;
    font-weight: bold;
}
.cnumber { color: #2DB2EB }
#comments {
    padding: 3% 0;
    margin-top: 30px;
    float: left;
    clear: both;
    width: 100%;
}
#commentsAdd {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
}
#respond h4 span {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
    border: 1px solid #f2f2f2;
    padding: 4px;
}
.comment time {
    font-size: 11px;
    color: #999999;
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
}
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input { padding: 11px }
input#author, input#email, input#url {
    width: 404px;
    border: 1px solid #E9E9E9;
    background: #fff;
    font-size: 14px;
    float: left;
    max-width: 85%;
    margin-right: 10px;
}
input#author, input#email, input#url, #comment {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.contactform input[type="text"] { width: 380px }
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
.contact-submit, #cancel-comment-reply-link {
    color: red;
    cursor: pointer;
    margin-bottom: -20px;
    text-decoration: underline;
    z-index: 100;
    position: relative;
}
#commentform input#submit {
    line-height: 1;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#commentform input#submit:hover {
    background: #222;
    color: #fff;
}
.commentlist .comment-author {
    float: left;
    max-width: 78px;
    margin-right: 17px;
}
ol.commentlist { margin-left: 0 }
.commentlist li {
    list-style: none;
    margin: 0 0 24px 0;
    padding-left: 0;
    float: left;
    width: 100%;
}
.commentlist p {
    margin-bottom: 0;
    line-height: 21px;
}
.fn {
    font-size: 14px;
    line-height: 1.375em;
    font-weight: bold;
    font-family: arial;
}
.fn a {
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
.comment-meta {
    font-size: 12px;
    font-style: italic;
}
.comment-meta a { color: #888 }
.commentmetadata {
    overflow: hidden;
    border: 1px solid #dddddd;
    padding: 14px;
}
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.reply {
    overflow: hidden;
    float: right;
    margin-top: 10px;
    width: auto;
}
.reply a {
    border-radius: 3px;
    background: #444444;
    float: right;
    padding: 6px 12px;
    color: #fff;
    font-size: 12px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    line-height: 1;
}
.reply a:hover {
    color: #fff;
    background: #444;
}
.commentlist .children {
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 95%;
}
.commentlist .children li { padding-bottom: 0 }
.avatar { float: left }
#respond h3 {
    margin-top: 18px;
    font-size: 18px;
    margin: 15px 0 0 0;
    padding: 0 0 20px 0;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
    font-size: 14px;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
    width: 95%;
    border: 1px solid #E9E9E9;
    background: #fff;
    font-size: 14px;
    padding: 2%;
    line-height: 25px;
    font-family: georgia;
    font-style: italic;
    max-width: 515px;
    margin-top: 15px;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
.comment-form-comment { margin-bottom: 20px }
#commentform p label {
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
}
.required {
    font-size: 14px;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes {
    font-style: italic;
    display: none;
}
#respond {
    overflow: hidden;
    max-width: 542px;
}
/*-[ pagination ]------------------*/
.pagination {
    clear: both;
    overflow: hidden;
    float: left;
    width: 100%;
    font-family: arial;
    border-top: 1px solid #dddddd;
    background-color: #FFF;
    padding: 35px 0 35px;
}
.pagination ul {
    list-style: none;
    margin: 0;
}
.pagination ul li {
    float: left;
    padding: 0 2px;
}
.currenttext, .pagination a:hover {
    color: #fff;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1.2em;
    text-decoration: none;
    padding: 6px 10px;
    background: #00A8FF;
}
.pagination a, .pagination2 {
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1.2em;
    text-decoration: none;
    padding: 6px 10px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.pagination a:hover { color: #fff }
.pagination2 { clear: both }
.top { float: right }
.pnavigation2 {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 0 0 10px 0;
    float: left;
    margin-bottom: 30px;
}
.nav-previous { float: left }
.nav-next { float: right }
/*-----------------------------------------------
/* Shortcodes
/*---------------------------------------------*/
/*-[ Notifications ]---------------------------*/
.message_box { margin: 15px 0 }
pre {
    overflow: auto;
    background: #F7F7F7 url('images/code.png') 10px 2px no-repeat;
    padding: 2em 1em 1em 1em;
    border: 1px solid #DDD;
    margin: 15px 0;
}
.note {
    background: #FEF4C8;
    color: #666;
    border: 1px solid #FDEBA5;
}
.note p {
    padding: 0.5em 1em 0.5em 2.5em;
    background: url('images/thumb.png') left no-repeat;
    margin: 0.3em 0.8em;
}
.announce {
    background: #D7EFFB;
    color: #666;
    border: 1px solid #BEE5F8;
}
.announce p {
    padding: 0.5em 1em 0.5em 2.5em;
    background: url('images/speaker.png') left no-repeat;
    margin: 0.3em 0.8em;
}
.success {
    background: #E8F6D2;
    color: #666;
    border: 1px solid #DEF1BF;
}
.success p {
    padding: 0.5em 1em 0.5em 2.5em;
    background: url('images/tick.png') left no-repeat;
    margin: 0.3em 0.8em;
}
.warning {
    background: #FFE7E7;
    color: #666;
    border: 1px solid #FFDBDB;
}
.warning p {
    padding: 0.5em 1em 0.5em 2.5em;
    background: url('images/cross.png') left no-repeat;
    margin: 0.3em 0.8em;
}
/*-[ Buttons ]---------------------------------*/
.buttons {
    font-size: 12px;
    text-decoration: none;
    position: relative;
    padding: 10px 20px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 15px 25px 25px 0;
    padding: 12px 10px;
}
.single_post a.buttons { color: #fff!important }
.single_post a.btn_white { color: #4F4F4F!important }
.btn_brown {
    background-color: #D9C2A5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9C2A5), color-stop(100%, #C3A178));
    background-image: -webkit-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -moz-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -ms-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: -o-linear-gradient(top, #D9C2A5, #C3A178);
    background-image: linear-gradient(top, #D9C2A5, #C3A178);
    border-top: 1px solid #BD986A;
    border-right: 1px solid #BD986A;
    border-bottom: 1px solid #9A7445;
    border-left: 1px solid #BD986A;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #DFCC9F;
    -moz-box-shadow: inset 0 1px 0 0 #DFCC9F;
    box-shadow: inset 0 1px 0 0 #DFCC9F;
    color: white;
    font: bold 11px Arial, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #BA905E;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_brown:hover {
    background-color: #D1B593;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D1B593), color-stop(100%, #BC966B));
    background-image: -webkit-linear-gradient(top, #D1B593, #BC966B);
    background-image: -moz-linear-gradient(top, #D1B593, #BC966B);
    background-image: -ms-linear-gradient(top, #D1B593, #BC966B);
    background-image: -o-linear-gradient(top, #D1B593, #BC966B);
    background-image: linear-gradient(top, #D1B593, #BC966B);
    border-top: 1px solid #BD986A;
    border-right: 1px solid #BD986A;
    border-bottom: 1px solid #9A7445;
    border-left: 1px solid #BD986A;
    -webkit-box-shadow: inset 0 1px 0 0 #DFCC9F;
    -moz-box-shadow: inset 0 1px 0 0 #DFCC9F;
    box-shadow: inset 0 1px 0 0 #DFCC9F;
    cursor: pointer;
    color: white!important;
}
.btn_brown:active {
    border: 1px solid #B2824C;
    -webkit-box-shadow: inset 0 0 8px 2px #C19B70;
    -moz-box-shadow: inset 0 0 8px 2px #C19B70;
    box-shadow: inset 0 0 8px 2px #C19B70;
}
.btn_blue {
    background-color: #A5B8DA;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A5B8DA), color-stop(100%, #7089B3));
    background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: linear-gradient(top, #A5B8DA, #7089B3);
    border-top: 1px solid #758FBA;
    border-right: 1px solid #6C84AB;
    border-bottom: 1px solid #5C6F91;
    border-left: 1px solid #6C84AB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: white;
    font: bold 11px Arial, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #64799E;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_blue:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer;
    color: white!important;
}
.btn_blue:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6;
    -moz-box-shadow: inset 0 0 8px 2px #7e8da6;
    box-shadow: inset 0 0 8px 2px #7e8da6;
}
.btn_green {
    background-color: #6CB24C;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6CB24C), color-stop(100%, #52873A));
    background-image: -webkit-linear-gradient(top, #6CB24C, #52873A);
    background-image: -moz-linear-gradient(top, #6CB24C, #52873A);
    background-image: -ms-linear-gradient(top, #6CB24C, #52873A);
    background-image: -o-linear-gradient(top, #6CB24C, #52873A);
    background-image: linear-gradient(top, #6CB24C, #52873A);
    border-top: 1px solid #477532;
    border-right: 1px solid #477532;
    border-bottom: 1px solid #3A6029;
    border-left: 1px solid #477532;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #8FC477;
    -moz-box-shadow: inset 0 1px 0 0 #8FC477;
    box-shadow: inset 0 1px 0 0 #8FC477;
    color: white;
    font: bold 11px Arial, sans-serif;
    line-height: 1;
    padding: 12px 10px;
    text-shadow: 0 -1px 1px #416B2D;
    text-transform: uppercase;
}
.btn_green:hover {
    background-color: #5F9D43;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68AB49), color-stop(100%, #4A7834));
    background-image: -webkit-linear-gradient(top, #68AB49, #4A7834);
    background-image: -moz-linear-gradient(top, #68AB49, #4A7834);
    background-image: -ms-linear-gradient(top, #68AB49, #4A7834);
    background-image: -o-linear-gradient(top, #68AB49, #4A7834);
    background-image: linear-gradient(top, #68AB49, #4A7834);
    border-top: 1px solid #4E8037;
    border-right: 1px solid #4E8037;
    border-bottom: 1px solid #3A6029;
    border-left: 1px solid #4E8037;
    -webkit-box-shadow: inset 0 1px 0 0 #8FC477;
    -moz-box-shadow: inset 0 1px 0 0 #8FC477;
    box-shadow: inset 0 1px 0 0 #8FC477;
    cursor: pointer;
    color: white!important;
}
.btn_green:active {
    border: 1px solid #436D30;
    -webkit-box-shadow: inset 0 0 8px 2px #467131;
    -moz-box-shadow: inset 0 0 8px 2px #467131;
    box-shadow: inset 0 0 8px 2px #467131;
}
.btn_yellow {
    background-color: #FFDA6B;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFDA6B), color-stop(100%, #FEAE2D));
    background-image: -webkit-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -moz-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -ms-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: -o-linear-gradient(top, #FFDA6B, #FEAE2D);
    background-image: linear-gradient(top, #FFDA6B, #FEAE2D);
    border-top: 1px solid #D6AB00;
    border-right: 1px solid #D6AB00;
    border-bottom: 1px solid #BC9600;
    border-left: 1px solid #D6AB00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FFE599;
    -moz-box-shadow: inset 0 1px 0 0 #FFE599;
    box-shadow: inset 0 1px 0 0 #FFE599;
    color: #fff;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 1px 1px #BC9600;
    text-transform: uppercase;
    font: bold 11px Arial, sans-serif;
    line-height: 1;
    padding: 12px 10px;
}
.btn_yellow:hover {
    background-color: #FFD351;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD351), color-stop(100%, #FDA00B));
    background-image: -webkit-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -moz-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -ms-linear-gradient(top, #FFD351, #FDA00B);
    background-image: -o-linear-gradient(top, #FFD351, #FDA00B);
    background-image: linear-gradient(top, #FFD351, #FDA00B);
    border-top: 1px solid #D6AB00;
    border-right: 1px solid #D6AB00;
    border-bottom: 1px solid #BC9600;
    border-left: 1px solid #D6AB00;
    -webkit-box-shadow: inset 0 1px 0 0 #FFE599;
    -moz-box-shadow: inset 0 1px 0 0 #FFE599;
    box-shadow: inset 0 1px 0 0 #FFE599;
    cursor: pointer;
    color: #fff!important;
}
.btn_yellow:active {
    border: 1px solid #F29202;
    -webkit-box-shadow: inset 0 0 8px 2px #F29202;
    -moz-box-shadow: inset 0 0 8px 2px #F29202;
    box-shadow: inset 0 0 8px 2px #F29202;
}
.btn_red {
    background-color: #E83030;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E83030), color-stop(100%, #B71414));
    background-image: -webkit-linear-gradient(top, #E83030, #B71414);
    background-image: -moz-linear-gradient(top, #E83030, #B71414);
    background-image: -ms-linear-gradient(top, #E83030, #B71414);
    background-image: -o-linear-gradient(top, #E83030, #B71414);
    background-image: linear-gradient(top, #E83030, #B71414);
    border-top: 1px solid #9C1111;
    border-right: 1px solid #9C1111;
    border-bottom: 1px solid #890F0F;
    border-left: 1px solid #9C1111;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FF6B6B;
    -moz-box-shadow: inset 0 1px 0 0 #FF6B6B;
    box-shadow: inset 0 1px 0 0 #FF6B6B;
    color: white;
    font: bold 11px Arial, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #A01111;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_red:hover {
    background-color: #E63131;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E63131), color-stop(100%, #9C1111));
    background-image: -webkit-linear-gradient(top, #E63131, #9C1111);
    background-image: -moz-linear-gradient(top, #E63131, #9C1111);
    background-image: -ms-linear-gradient(top, #E63131, #9C1111);
    background-image: -o-linear-gradient(top, #E63131, #9C1111);
    background-image: linear-gradient(top, #E63131, #9C1111);
    border-top: 1px solid #9C1111;
    border-right: 1px solid #9C1111;
    border-bottom: 1px solid #890F0F;
    border-left: 1px solid #9C1111;
    -webkit-box-shadow: inset 0 1px 0 0 #FE4C4C;
    -moz-box-shadow: inset 0 1px 0 0 #FE4C4C;
    box-shadow: inset 0 1px 0 0 #FE4C4C;
    cursor: pointer;
    color: white!important;
}
.btn_red:active {
    border: 1px solid #890F0F;
    -webkit-box-shadow: inset 0 0 8px 2px #890F0F;
    -moz-box-shadow: inset 0 0 8px 2px #890F0F;
    box-shadow: inset 0 0 8px 2px #890F0F;
}
.btn_white {
    background-color: #F7F7F7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #E0E0E0));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -moz-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -ms-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: -o-linear-gradient(top, #F7F7F7, #E0E0E0);
    background-image: linear-gradient(top, #F7F7F7, #E0E0E0);
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #C4C4C4;
    border-left: 1px solid #CECECE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 0 #FFFFFF;
    -moz-box-shadow: inset 0 1px 0 0 #FFFFFF;
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    color: #4F4F4F;
    font: bold 11px Arial, sans-serif;
    line-height: 1;
    padding: 8px 25px;
    text-shadow: 0 -1px 1px #fff;
    text-transform: uppercase;
    padding: 12px 10px;
}
.btn_white:hover {
    background-color: #F4F4F4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4F4F4), color-stop(100%, #D3D3D3));
    background-image: -webkit-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -moz-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -ms-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: -o-linear-gradient(top, #F4F4F4, #D3D3D3);
    background-image: linear-gradient(top, #F4F4F4, #D3D3D3);
    border-top: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #C4C4C4;
    border-left: 1px solid #CECECE;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    cursor: pointer;
    color: #4F4F4F!important;
}
.btn_white:active {
    border: 1px solid #C1C1C1;
    -webkit-box-shadow: inset 0 0 8px 2px #C1C1C1;
    -moz-box-shadow: inset 0 0 8px 2px #C1C1C1;
    box-shadow: inset 0 0 8px 2px #C1C1C1;
}
/*-[ Video Shortcode ]-------------------------*/
.textwidget .youtube-video, .textwidget .vimeo-video, .textwidget .googlemaps { margin: 0 }
.youtube-video, .vimeo-video { margin: 10px 0 10px 0 }
/*-[ Google Maps ]-----------------------------*/
.googlemaps { margin: 5px 15px 10px 0 }
/*-[ Columns ]---------------------------------*/
.one_half { width: 48% }
.one_third { width: 30.66% }
.two_third { width: 65.33% }
.one_fourth { width: 22% }
.three_fourth { width: 74% }
.one_fifth { width: 16.8% }
.two_fifth { width: 37.6% }
.three_fifth { width: 58.4% }
.four_fifth { width: 67.2% }
.one_sixth { width: 13.33% }
.five_sixth { width: 82.67% }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    position: relative;
    margin-right: 4%;
    margin-bottom: 15px;
    float: left;
}
.column-last {
    margin-right: 0!important;
    clear: right;
}
/*-[ Tabs ]------------------------------------*/
.tab_widget {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}
.tab_widget ul.tabs {
    display: block;
    position: relative;
    list-style: none;
    height: 40px;
    border-bottom: 1px solid #DDD;
    margin: 0;
}
.tab_widget ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 39px;
    line-height: 39px;
    border: 1px solid #DDD;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -o-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(230,230,230)), color-stop(0.55, rgb(238,238,238)) );
}
.tab_widget ul.tabs li:first-child { border-left: 1px solid #DDD }
.tab_widget ul.tabs li a {
    text-decoration: none;
    color: #888!important;
    font-size: 12px;
    display: block;
    padding: 0 10px;
    outline: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
    border: none;
    border-left: 1px solid #F9F9F9;
}
.tab_widget ul.tabs li:first-child a { border-left: none }
.tab_widget ul.tabs li a:hover { background: none }
.tab_widget ul.tabs li.active, .tab_widget ul.tabs li.active a:hover {
    background: #FFF;
    border-bottom: 1px solid #FFF;
}
.tab_widget ul.tabs li.active { border-top: 1px solid #DDD }
.tab_widget ul.tabs li.active a { color: #777 }
.tab_widget .tab_container {
    display: block;
    border-top: none;
    overflow: hidden;
    position: relative;
    clear: both;
    background: #FFF;
    border: 1px solid #DDD;
    border-top: none;
}
.tab_widget .tab_content {
    display: block;
    position: relative;
    padding: 15px;
}
/*-[ Toggle ]-----------------------*/
.toggle {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
}
.toggle .togglet, .toggle .toggleta {
    display: block;
    position: relative;
    height: 36px;
    padding: 0 12px;
    background: #EEE;
    border: 1px solid #DDD;
    cursor: pointer;
    margin: 0;
}
.toggle .togglet span, .toggle .toggleta span {
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    padding-left: 20px;
    background: url("images/toggle-down.png") no-repeat left;
}
.toggle .toggleta span { background: url("images/toggle-up.png") no-repeat left }
.toggle .togglec {
    display: block;
    position: relative;
    padding: 15px;
    background: #FFF;
    border: 1px solid #DDD;
    border-top: none;
}
/*-[ Dividers ]--------------------------------*/
.divider {
    clear: both;
    display: block;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 5px solid #EEE;
}
.top-of-page {
    margin-bottom: 10px;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 5px solid #EEE;
}
/*-----------------------------------------------
/* Responsive
/*---------------------------------------------*/
@media screen and (max-width:1150px) { 
    .single_post_right .shareit { max-width: 90px }
    .article {
        width: 68%;
        padding-right: 0;
    }
    .sidebar.c-4-12 { width: 26.3% }
    .secondary-navigation { width: 98% }
    .slidertitle { font-size: 30px }
}
@media screen and (max-width:1000px) { 
    .main-header #search-image { padding: 7px 2% 6px }
    .flex-caption { top: 15% }
    .slidertitle { font-size: 22px }
    .slidertext { width: 100% }
}
@media screen and (max-width:960px) {
    .post-single-content {
        max-width: 100%;
        width: 98%;
    }
    .single_post_right {
        float: left;
        width: 98%;
    }
    .single_post_right .shareit {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        padding-top: 10px;
}
    .related-posts { max-width: 100% }
    .related-posts li {
        float: left;
        margin-right: 3%;
        width: 17%;
        font-size: 12px;
        line-height: 1.4;
    }
    .related-posts li:nth-child(5) { margin-right: 0 }
    img, embed {
        max-width: 100%;
        height: auto!important;
    }
    .ad-300 img { max-width: 100% }
    .ad-125 li { max-width: 40% }
    .footer-widgets #s, #sidebars #s { width: 68% }
    .ad-125 img {
        padding: 0;
        background: #FAFAFA;
        border: 0;
    }
    .mts-subscribe input[type="text"] { width: 70% }
    .article { padding-right: 0 }
    .secondary-navigation { margin-left: 0 }
    .main-header #search-image { padding: 7px 2% 6px }
}
@media screen and (max-width:900px) { 
    nav #searchform { display: none }
}
@media screen and (max-width:865px) { 
    .secondary-navigation { width: 50% }
    .main-navigation #navigation {
        text-align: center;
        border: none;
    }
    #navigation ul {
        float: none;
        display: inline-block;
    }
    .js #navigation > ul { display: none }
    .js #navigation select {
        display: inline-block !important;
        max-width: none;
        padding: 7px 15px;
        width: 80%;
        color: #fff;
        background: #303030;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        font-size: 12px;
        float: right;
        margin-right: 15px;
        border: 1px solid #000000;
    }
}
@media screen and (max-width:760px) { 
    #header { margin: 0 }
}
@media screen and (max-width:720px) { 
    .flex-caption {
        top: 55%;
        width: 92%;
    }
    .slidertitle { font-size: 24px }
    .slidertext { display: none }
    .secondary-navigation a {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .article { width: 96% }
    #content_box {
        padding-right: 0px;
        padding-left: 0px!important;
    }
    .sidebar.c-4-12 {
        float: left;
        width: 94%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .f-widget { width: 44% }
    .f-widget-2 { margin-right: 0 }
    .ad-125 li { max-width: 45% }
    .footer-widgets #s { width: 70% }
    #comments { margin-right: 0 }
}
@media screen and (max-width:600px) { 
    .widget-header {
        max-width: 96%;
        float: left;
    }
    .featured-thumbnail img { width: 100% }
    .slidertitle { font-size: 18px }
}
@media screen and (max-width:550px) { 
    .main-navigation { width: 100% }
    .main-header #s { width: 85% }
    .sbutton { float: right }
    .f-widget { width: 95% }
    footer #s { width: 65% }
}
@media screen and (max-width:480px) { 
    #header h1, #header h2 {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    #header h1 a, #header h2 a { float: none }
    #navigation {
        margin-top: 0;
        margin-bottom: 0;
    }
    .secondary-navigation {
        width: 100%;
        margin-right: 0;
    }
    .js #navigation select {
        width: 100%;
        margin-right: 0;
    }
    .related-posts li {
        width: 100%;
        font-size: 14px;
    }
    .rthumb { width: auto; }
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
        width: 100%;
        margin-right: 0;
    }
    .rthumb { margin-right: 15px }
}
@media screen and (max-width:400px) { 
    article header { overflow: hidden }
    .flex-caption { top: 18% }
    .main-header #s { width: 78% }
    #commentform textarea { width: 90% }
    .post_excerpt_l {
        width: 98%;
        margin-bottom: 10px;
    }
    .post_excerpt_r { width: 99% }
}
@media screen and (max-width:300px) { 
    nav fieldset, .js #navigation select {
        width: 100%;
        float: left;
    }
    .slidertitle { text-transform: none }
}

.tab_name { background-color: #20852c; padding: 1px 3px; margin: 3px; color: #fff;}