@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 300;
  src: local('Khand Light'), local('Khand-Light'), url(https://fonts.gstatic.com/s/khand/v4/rP6hqWWf6Plcg-nm4Yi6j_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  src: local('Khand'), local('Khand-Regular'), url(https://fonts.gstatic.com/s/khand/v4/i_h-R38R1oCmG56RuB-yBA.ttf) format('truetype');
}
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 500;
  src: local('Khand Medium'), local('Khand-Medium'), url(https://fonts.gstatic.com/s/khand/v4/mdaVYmn1KX1pHtEVadh7C_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 600;
  src: local('Khand Semibold'), local('Khand-Semibold'), url(https://fonts.gstatic.com/s/khand/v4/4fKMP5iEcrUqUTh4FTOMgvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  src: local('Khand Bold'), local('Khand-Bold'), url(https://fonts.gstatic.com/s/khand/v4/WSdrMJ1MdKALgePnsswoYfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
