@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: local('Gudea'), url(https://fonts.gstatic.com/s/gudea/v4/TJBgbd7QSbnZkQrnM77kmw.ttf) format('truetype');
}
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 700;
  src: local('Gudea Bold'), local('Gudea-Bold'), url(https://fonts.gstatic.com/s/gudea/v4/5_80veqYtMg_mX_C_gEF_PesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
