#salon_auto
{
	background:#f9f9f9;
	margin-bottom:2em;
	border-bottom:1px solid #eee;
}
#salon_left
{
	width:32%;
	float:left;
	margin:0 0 0 1%;
}
.arabic #salon_left
{
	float:right;
	margin:0 1% 0 0;
}
.habillage #salon_left
{
	width:28%;
}
#salon_right
{
	width:63%;
	float:left;
	background:#fff;
	margin:10px 0 10px 2%;
	border:1px solid #eee;
}
.habillage #salon_right
{
	width:67%;
}
.arabic #salon_right
{
	float:right; 
	margin:10px 2% 10px 0;
}

#salon_auto .salon_title
{
	display:block;
	border-top:4px solid #AC0000;
	margin:0 1% 0 0;
}
.arabic #salon_auto .salon_title
{
	margin:0 0 0 1%;
}
#salon_auto .salon_title h1
{
	background:#AC0000;
	display:inline-block;
	padding :0 0.4em 0.2em 0.4em;
	font-size : 1.3em;
	margin:0 0 1em 0;
	font-weight:bold;
	color:#fff;
}


#salon_left a
{ 
	display:block;
	background:#fff;
	margin:10px auto;
	border-bottom:2px solid #8A0000;
	font-size:1.4em;
	line-height:1.2em;
	padding:0.5em 2.5em 0.5em 0.5em;
	border-top:1px solid #eee;
	color:#555;
	background:url(../../images/arrow_right.png) no-repeat 98% center / auto 1.2em #fff;
}
.arabic #salon_left a
{
	padding:0.5em 0.5em 0.5em 2.5em;
	background:url(../../images/arrow_left.png) no-repeat 1% center / auto 1.2em #fff;
}
#salon_left a:hover
{ 
	background-color:#eee;
	border-top:1px solid #ddd;
}
#salon_left .selected
{ 
	background-color:#F1DCDC;
	border-top:1px solid #E8C6C6;
}
.arabic #salon_left .selected
{ 
	background-color:#F1DCDC;
	border-top:1px solid #E8C6C6;
}
#salon_left a span
{ 
	color:#000;
	font-weight:bold;
}
.salon_afficher_tout
{
	display:block;
	float:right;
	color:#fff;
	background:#AC0000;
	padding:0.3em 0.4em;
	margin:0.8em 3%;
	font-size:1.2em;
	border-radius:3px;
	font-weight:bold;
}
.arabic .salon_afficher_tout
{
	float:left;
}
#salon_nouveautes,#salon_disponible,#salon_coupsdecoeur
{
	display:none;
}
.salon_modele
{
	float:left;
	width:28.5%;
	margin:1em 1% 2em 3%;
	padding:2em 0 4.5em 0;
	position:relative;
}
.arabic .salon_modele
{
	float:right;
	margin:1em 3% 2em 1%;
}
#salon_coupsdecoeur .salon_modele
{
	width:20.5%;
	padding:3em 0 4.5em 0;
}
.salon_modele .titre
{
	font-size:1.2em;
	position:absolute;
	left:0;
	right:0;
	top:0px;
	padding:0.1em 0;
	display:block;
	color:#222;
	background:#fff;
	line-height:1.2em;
}

.salon_modele .image
{
	display:block;
}
.salon_modele .image img
{
	height:9em;
	width:100%;
}
#salon_coupsdecoeur .salon_modele .image img
{
	height:8em;
}
.salon_modele .moteur
{
	font-size:1.2em;
	font-weight:bold;
	background:#fff;
	bottom:2.9em;
	direction:ltr;
	position:absolute;
	left:0;
	right:0;
	padding:0em 0;
	display:block;
	color:#444;
	line-height:1em;
}

.salon_modele .prix_ttc
{
	font-size:1.3em;
	position:absolute;
	font-weight:bold;
	padding:0px;
	display:block;
	color:#910000;
	padding:0em 0;
	bottom:0px;
	left:0;
	right:0;
}


.salon_modele .partir
{
	font-size:1em;
	padding:0px;
	display:block;
	position:absolute;
	padding:0 0;
	color:#444;
	left:0;
	border-top:1px solid #eee;
	right:0;
	bottom:1.6em;
	height:1.6em;
	overflow:hidden;
}
#slide
{
	background:#e1e1e1;
	padding:0.5em 0.75% 0.5em 0.75%;
	width:59.5%;
	float:left;
	position:relative;
} 
.habillage #slide
{
	width:56.5%;
}
.slide_item , #slides_navigation
{
	display:none;
}
#slides_container
{
	position:relative;
	display:block;
	height:30em;
	overflow:hidden;
	background:#fff;
}
#slide_previous
{
	display:block;
	width:40px;
	color:#FFF;
	cursor:pointer;
	position:absolute;
	height:100%;
	z-index:2;
	top:0;
	left:0px;
	background:url(../../images/back.png) no-repeat left center;
}

#slide_next
{
	display:block;
	width:40px;
	color:#FFF;
	cursor:pointer;
	position:absolute;
	height:100%;
	z-index:2;
	top:0;
	right:0px;
	background:url(../../images/suivant.png) no-repeat right center;
}

#slide_img img
{
	width:100%;
	height:30em;
}
#slide_titre
{
	z-index:100px;
	position:absolute;
	bottom:0px;
	left:0px;
	width:98%;
	padding:1em 1%;
	background:#fff;
	text-shadow:0 1px 2px #fff;
	background:#f5f5f5;
	background:rgba(255,255,255,0.85);
	font-size:1.4em;
	font-weight:bold;
	color:#000;
}
.arabic #slide
{
	float:right;
}
#slide_news
{
	float:right;
	width:38%;
}
.arabic #slide_news
{
	float:left;
	margin-left:0px;
}
.habillage #slide_news
{
	width:41%;
}
#slide_news .article
{
	display:block;
	margin:0px 0px 5px 0px;
	background:#f1f1f1;
	padding:0 0.4em;
	list-style:none;
	overflow:hidden;
	height:5.75em;
	border:1px solid #e5e5e5;
}
#slide_news .article .image
{
	float:left;
	width:28%;
	margin:0.4em 0 0;
}
#slide_news .article .image img
{
	width:100%;
	height:4.95em;
}
#slide_news .article .titre
{
	font-size : 1.2em;
	padding:0em 1%;
	margin:0.4em 0 0 0;
	display:block;
	color:#000;
	float:right;
	width:69%;
	height:4.2em;
	overflow:hidden;
	line-height:1.35em;
}	
.arabic #slide_news .article .titre
{
	float:left;
}
.arabic #slide_news .article .image
{
	float:right;
}

#news
{
	margin-top:2.5em;
	margin-right:-10px;
}
.arabic #news
{
	margin-right:0px;
	margin-left:-10px!important;
}
#news .title
{
	display:block;
	border-top:4px solid #E88F0B;
	margin:0 1% 0 0;
}
.arabic #news .title
{
	margin:0 0 0 1%;
}
#news .title h2
{
	background:#E88F0B;
	display:inline-block;
	padding :0 0.4em 0.2em 0.4em;
	font-size : 1.4em;
	margin:0 0 1em 0;
	font-weight:bold;
	color:#fff;
}
#news .article
{
	display:block;
	margin:0em 1% 0.5em 0px;
	background:#f5f5f5;
	list-style:none;
	overflow:hidden;
	float:left;
	width:24%;
	height:13em;
	position:relative;
	padding:0;
}
.arabic #news .article
{
	float:right;
	margin:0em 0 0.5em 1%;
}
#news .article .image
{
	margin:0.5em;
}
#news .article .image img
{
	width:100%;
	height:12em;
}
#news .article .titre
{
	font-size : 1.15em;
	display:block;
	color:#000;
	position:absolute;
	bottom:0.4em;
	left:0.4em;
	line-height:1.1em;
	right:0.4em;
	background:#f5f5f5;
	background:rgba(255,255,255,0.85);
	padding:0.2em;
	margin:0;
}
#prix_occasion
{

}
.arabic #prix_occasion
{
	
}

#prix_occasion .title
{
	display:block;
	border-top:4px solid #365789;
}
#prix_occasion .title h2
{
	background:#365789;
	display:inline-block;
	padding :0 0.4em 0.2em 0.4em;
	font-size : 1.4em;
	margin:0 0 1em 0;
	font-weight:bold;
	color:#fff;
}




#prix_du_neuf
{
	margin:2.5em 0px 0px 0;
}
#prix_contenu
{
	float:left;
	width:70.5%;
}
.habillage #prix_contenu
{
	width:66.5%;
}
#prix_du_neuf_populaires
{
	float:right;
	width:28%;
	padding:0 0 0 1%;
	border-left:2px solid #eee;
}
.habillage #prix_du_neuf_populaires
{
	width:32%;
}
.arabic #prix_contenu
{
	float:right;
}
.arabic #prix_du_neuf_populaires
{
	float:left;
	border-left:none;
	border-right:2px solid #eee;
	padding:0 1% 0 0;
}
#prix_du_neuf_populaires .modele
{
	display:block;
	padding:0.5em;
	margin:0 -1px -1px 0;
	text-align:center;
	float:left;
	width:44%;
	padding:0.5em 2%;
	height:8.3em;
	position:relative;
	border:1px solid #ddd;
}
.arabic #prix_du_neuf_populaires .modele
{
	margin:0 0 -1px -1px;
	float:right;
}
#prix_du_neuf_populaires img
{
	width:100%;
	height:6.8em;
}
#prix_du_neuf_populaires span
{
	font-size:1.2em;
	color:#000;
	position:absolute;
	background:#f9f9f9;
	left:0;
	right:0;
	bottom:0.1em;
	padding:0.2em 0.5em;
	border-top:1px solid #f1f1f1;
	line-height:1.2em;
}
.afficher_tout
{
	float:right;
	color:#000;
	font-size:1.1em;
	font-weight:bold;
	padding:0.2em 0.4em;
	background:#f5f5f5;
}
.arabic .afficher_tout
{
	float:left;
}

#prix_du_neuf .title
{
	display:block;
	border-top:4px solid #BB0000;
}

#prix_du_neuf .title h2
{
	background:#BB0000;
	display:inline-block;
	padding :0 0.4em 0.2em 0.4em;
	font-size : 1.4em;
	margin:0 0 1em 0;
	font-weight:bold;
	color:#fff;
}

.promotion_label
{
	position:absolute;
	right:0;
	top:-0.3em;
}
.arabic .promotion_label
{
	left:0;
	top:-0.3em;
	right:auto;
}
#prix_du_neuf .marque
{
	float:left;
	width:15.6%;
	position:relative;
	margin:0em 1% 2em 0;
	display:block;
	height:7em;
	list-style:none;
	padding:0;
}
.habillage #prix_contenu .marque
{
	width:18.8%;
}
.arabic #prix_du_neuf .marque
{
	float:right;
	margin:0em 0 2em 1%;
}
#prix_du_neuf .label
{
	display:block;
	text-align:center;
	color:#666;
	cursor:pointer;
}
 #prix_du_neuf .marque span
{
	font-weight:bold;
	background:#f5f5f5;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	font-size:1.2em;
	padding:0px;
	display:block;
	text-align:center;
	color:#000;
	text-shadow: 0 0 2px #fff;
}
 #prix_du_neuf .marque .img
{
	display:block;
	height:4.7em;
	text-align:center;
	background-size:60% auto!important;
}
 #prix_du_neuf .marque img
{
	width:6em;
}


#estimateur 
{
	margin:2.5em 0 0 0;
	padding:0em 0px 3em 0px;
	float:left;
	width:37%;
}
.habillage #estimateur 
{
	width:42%;
}
.arabic #estimateur 
{
	float:right;
}
#estimateur p
{
	font-size:1.3em;
	font-weight:bold;
	margin:0px;
	color:#333;
	padding:1.3em 0px 0.5em;
}
#estimateur form
{
	margin:0px;
	padding:0px;
}
#estimateur select
{
	padding:0.2em 1%;
	width:47%;
	margin:0px 1% 0.3em 0px; 
	font-size:1.2em;
	border:1px solid #ddd;
}
#estimateur  #submit_occasion
{
	border:1px solid #ccc;
	padding:0.1em 1%;
	cursor:pointer;
	font-weight:bold;
	font-size:1.2em;
	color:#000;
	background:#eee;
}
#modeles_occasion
{
	float:right;
	width:61%;
}
.habillage #modeles_occasion 
{
	width:56%;
}
.arabic #modeles_occasion
{
	float:left;
}
#budget p
{
	font-size:1.3em;
	font-weight:bold;
	margin:0px;
	color:#333;
	padding:1.1em 0px 0.5em;
	border-top:2px solid #eee;
	margin:1.5em 0 0 0;
}
#budget form
{
	margin:0px;
	padding:0px;
}
#budget .input
{
	padding:0.2em 1%;
	width:70%;
	font-size:1.2em;
	margin-right:1%;
	margin-top:0px;
}
#budget  #submit_budget
{
	border:1px solid #ccc;
	padding:0.1em 1%;
	cursor:pointer;
	font-weight:bold;
	font-size:1.2em;
	color:#000;
	background:#eee;
}
#modeles_occasion
{
	margin:2.5em 0 0 0;
}
#modeles_occasion .modele
{
    display: block;
    float: left;
    margin: -1px 0 0 -1px;
	position:relative;
	width:24.6%;
	height:9em;
	border:1px solid #eee;
}
#modeles_occasion .modele img
{
	width:100%;
	height:8em;
}
#modeles_occasion .modele span
{
	position:absolute;
	left:0;
	right:0;
	color:#000;
	bottom:0;
	padding:0.1em 0em;
	  font-size: 1.2em;
	  background:#fff;
	  text-align:center;
}
.arabic #modeles_occasion .modele
{
	float:right;
	  margin: -1px -1px 0 0;
}



#facebook
{
	position:absolute;
	top:2.5em;
	right:0;
	width:300px;
}

.arabic #facebook
{
	left:0;
	right:auto;
}

#forum #facebook .title
{
	display:block;
	border-top:4px solid #0072C0;
}
#facebook .title a
{
	background:#0072C0;
	display:inline-block;
	padding :0 0.4em 0.2em 0.4em;
	font-size : 1.3em;
	margin:0 0 1em 0;
	font-weight:bold;
	color:#fff;
}
#forum
{
	padding:2.5em 320px 0 0;
	position:relative;
}
.arabic  #forum
{
	padding:2.5em 0 0 320px;
}


#forum .title
{
	display:block;
	border-top:4px solid #666;
}
#forum .title h2
{
	background:#666;
	display:inline-block;
	padding :0 0.4em 0.2em 0.4em;
	font-size : 1.4em;
	margin:0 0 0.5em 0;
	font-weight:bold;
	color:#fff;
}
#forum .topic
{
	margin:0.5em 0px 0px 0px;
	display:block;
	padding:0.3em 0px 0.3em 0.3em;
	background:#f9f9f9;
	direction:ltr;
	position:relative;
	border:1px solid #eee;
}
#forum .titre
{
	color:#222;
	font-size:1.3em;
	display:block;
	border-right:3px solid #ddd;
	margin:0 4em 0 0.3em;
	line-height:1.2em;
	padding:0 0.3em 0 0;
}
.arabic #forum .titre
{
	border-left:3px solid #ddd;
	border-right:none;
	margin:0 0.3em 0 5em;
	padding:0 0 0 0.3em;
}
#forum  .titre .date
{
	color:#D20000;
	font-size:0.9em;
	font-weight:100;
	display:block;
}
#forum .views
{
	color:#AC0000;
	text-align:center;
	font-size:1.3em;
	font-weight:bold;
	display:block;
	line-height:0.9em;
	position:absolute;
	top:0.5em;
	right:0.5em;
	width:3em;
}
.arabic #forum .views
{
	left:0.5em;
	width:4em;
	right:auto;
}
