@media (min-width:1300px)
{
	body 
	{
		font-size:13px;
	}
}
@media (max-width:1300px) and (min-width:1220px)
{
	body 
	{
		font-size:12px;
	}
}
@media (max-width:1220px) and (min-width:900px)
{
	body 
	{
		font-size:11px;
	}
}
@media (max-width:1200px)
{
	body 
	{
		font-size:11px;
	}
}
.arabic
{
	text-align:right;
	direction:rtl;
}
body 
{
	margin:0px;
	padding:0px;
}
body , input , select
{
   font-family: 'Open Sans', tahoma;
}
.arabic input,.arabic select
{
	font-family:tahoma!important;
}
A {
text-decoration : none;

}

h5 {
margin : 5px;
}

div {
color : black;
border-style : none;
}

img {
border : none;
}


input
{
	background:white;
}
.validation
{
	color:Red;
}
.input {
    border: 1px solid #ddd;
    border-radius: 1px;
    font-size: 1.2em;
    margin: 0.2em 0;
    padding: 0.4em 0.5em;
}
.input_hover_blue
{
	border:1px solid #b8d4ea;
	box-shadow:0px 0px 5px #c0e0f5;
}
.button_green
{
	background-color:#c3da9e;
	border:1px solid #83a84b;
	border-radius:1px;
	font-size:1.2em;
	cursor:pointer;
		padding:0.3em 0.5em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#3a4f18;
}

.button_blue
{
	background-color:#74b8f3;
	border:1px solid #6c8dbb;
	border-radius:1px;
	font-size:1.2em;
	cursor:pointer;
	padding:0.3em 0.5em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#385478;
}
.button_yellow
{
	background:#D7D700;
	border:1px solid #fab74f;
	border-radius:1px;
	font-size:1.2em;
	cursor:pointer;
	padding:0.3em 0.5em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#96632c;
}
.button_dark
{
	background:#4F4F4F;
	border:1px solid #1f1f1f;
	border-radius:1px;
	font-size:1.2em;
	cursor:pointer;
	padding:0.3em 0.5em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#fff;
}
.button_red
{
	background:#E30D0D;
	border:1px solid #880707;
	border-radius:1px;
	font-size:1.2em;
	cursor:pointer;
	padding:0.3em 0.5em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#fff;
}
.error_key_up
{
	background:#F32F2F;
	line-height:20px;
	padding:2px;
	padding-left:25px;
	border:1px solid #f06265; 
	border-radius:1px;
	box-shadow:0px 0px 2px #f5787b;  
	display:block;
	background-color:#fff;
	position:absolute;
}
#Clear{
    clear:both;
	font-size:1px;
}
.clear{
    clear:both;
	font-size:1px;
	display:block;
}
.sep
{
	margin-top:15px;
	margin-bottom:15px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ddd;
	background:#fff;
	height:1px;
}
body {
 
	text-align:center;
}
.boxed
{
	width:100%;
	padding:0 2%;
	max-width:1300px; 
	min-width:800px;
	text-align:left;
	box-sizing:border-box;
	margin:0 auto;
}
#html{
	text-align:center;
	padding:2.6em 0 0 0;
	 background: url(../images/body_bg.png) #eee;
}
.arabic .boxed
{
	text-align:right;
}
#topbar 
{  
	z-index:6;
	position:absolute; 
	border-bottom:1px solid #ddd;
	text-align:left;
	height:2.6em;
	top:0;
	left:0;
	right:0;
}
.arabic #topbar
{
	text-align:right;
}
#topbar a
{
	float:left;
	border-right:1px solid #d5d5d5;
	font-size:1.2em;
	color:#333;
	padding:0.5em 0.4em 0.3em;
	display:block;
	line-height:1.3em;
}
.arabic #topbar a
{
	float:right;
	border-right:none;
	border-left:1px solid #d5d5d5;
}
#topbar a img
{
	height:1.3em;
	display:block;
}
#topbar a#topbar_contact,#topbar a#topbar_publicite,#topbar a#topbar_language
{
	float:right;
	border-left:1px solid #d5d5d5;
	border-right:none;
}
.arabic #topbar a#topbar_contact,.arabic #topbar a#topbar_publicite,.arabic #topbar a#topbar_language
{
	border-left:none;
	border-right:1px solid #d5d5d5!important;
	float:left;
}
#topbar a#topbar_logo
{
	display:none; 
}
#topbar_mobile
{
	display:none; 
}
#logo
{
	float:left;
	text-align:center;
	margin:15px 0 0 0;
	width:20%;
}
#logo img
{
	max-width:100%;
}
#header {
    padding-bottom: 15px;
    padding-top: 15px;
	position:relative;
	  
}
.arabic #logo
{
	float:right;
}
#pub_header
{
	width:80%;
	float:right;
	overflow:hidden;
}
.arabic #pub_header
{
	float:left;
}
#pub_header_contenu
{
	margin:0 auto;
	width:728px;
}
@media (min-width:1040px)
{
	#logo
	{
		width:20%;
	}
	#pub_header
	{
		width:80%;
	}
}
@media (min-width:910px) and (max-width:1040px)
{
	#logo
	{
		width:15%;
	}
	#pub_header
	{
		width:85%;
	}
	#logo img
	{
		width:100%;
		margin-top:10px;
	}
}
@media (max-width:910px)
{
	#logo
	{
		display:none;
	}
	#pub_header
	{
		clear:both;
		width:100%;
	}
}
#sous_menu {
    background:#7c7c7c;
    clear: both;
    padding:0 0;
	position:relative;
	border:1px solid #666;
	border-top:none;
	border-top: 2px solid #AC0000;
}


#sous_menu a {
    border-right: 1px solid #666;
    color: #fff;
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.7em 0.5em;
	text-shadow: 0 0 2px #333;
}
.arabic #sous_menu a 
{
	float: right;
	border-left: 1px solid #666;
    border-right: none;
	padding: 0.65em 0.5em; 
}
#recherche_form
{
	float:right;
	display: block;
	padding:0.5em 0;
}
#recherche_submit
{
	background:#bbb;
	color:#000;
	border:1px solid #666;
	font-size:1.2em;
	padding:0.2em 0.4em;
	cursor:pointer;
}
#recherche_query
{
	border:1px solid #666;
	font-size:1.2em;
	padding:0.2em 0.4em;
	width:14em;
	margin:0 0.2em;
	background:#eee;
}
.arabic	#recherche_form
{
	float:left;
}
.arabic #recherche_query
{
	text-align:right;
}
#menu
{
	background:#ddd;
	position:relative;
	border-top:1px solid #ccc;
}
.arabic #menu
{
	
}
#menu_contenu
{
	padding:0 4em;
	position:relative;
}
#menu a {
    border-right: 1px solid #ccc;
    display: block;
    float: left;
	color: #000;
    font-weight: bold;
	margin:0px;
	padding: 0.8em 0.5em 0.7em;
	font-size: 1.2em;
	text-shadow: 0 0 2px #eee;
}
.arabic #menu a 
{
   float:right;
    border-left: 1px solid #ccc;
	border-right:none;
}

#menu #menu_accueil_a {
    background: url("../images/menu_home_bg.png") no-repeat scroll center center / 45% auto #B80C0C;
    width: 2.2em;
	position:absolute;
	border:1px solid #8A0909;
	border-bottom:none;
	left:0;
	top:-1px;
	bottom:0;

}
.arabic #menu  #menu_accueil_a 
{
	right:0;
	left:auto;

}

#menu #changer_langue
{
	background: none repeat scroll 0 0 #AC0000;
    position:absolute;
	top:-1px;
	bottom:0;
	right:0;
    font-size: 1.4em;
    padding: 0.5em 0.4em 0em;
	color:#fff;
	border:1px solid #8A0909;
	border-bottom:none;

	text-shadow:none;
}
.arabic #menu #changer_langue
{
	left:0;
	right:auto;
    font-size: 1.3em;

    padding: 0.6em 0.4em 0;
}
#menu #menu_user_agent_a
{
	display:none;
}
#page
{
	
	margin:0em 0 0 0;
	background:#fff;
	text-align:left;
	min-height:630px;
}

#contenu {
    
 
    padding: 15px 310px 15px 0;
	position:relative;
}
.arabic #contenu
{
	  padding: 15px 0px 15px 310px;
	text-align:right;
}
#pub_droite
{
	position:absolute;
	right:0;
	top:15px;
	text-align:center;
}
.arabic #pub_droite
{
	right:auto;
	left:0;
}
@media (max-width:1050px)
{
	#pub_droite
	{
		display:none;
	}
	#contenu,.arabic #contenu
	{
		padding: 15px 0;
		margin:0 5%;
	}
}
@media (max-width:930px)
{
	#pub_droite
	{
		display:none;
	}
	#contenu,.arabic #contenu
	{
		width:auto;
		margin:0 auto;
	}
}
#pub_droite_2
{
	display:none;
	margin-top:15px;
}
#footer
{
	background:#272727;
	border-top:2px solid #AC0000;
	text-align:left;
	position:relative;
}
.arabic #footer
{
	text-align:right;
}
#footer #copyrights {
    border-top: 2px solid #222;
    padding: 15px 0px;
	background:#353535;
	font-size:1.2em;
}
#footer #copyrights #logo_footer
{
	float:left;
	width:11%;

}
.arabic #footer #copyrights #logo_footer
{
	float:right;
}
#footer #copyrights #logo_footer img
{
	width:100%;
}
#footer #copyrights #description_footer
{
	float:right;
	width:87%;
	color:#bbb;
}
.arabic #footer #copyrights #description_footer
{
	float:left;
	text-align:right;
}
#footer a:hover
{
	color:#fff;
}

#footer .block {
	display: block;
	padding: 10px 1% 10px 0;
	float: left;
}
.arabic #footer .block {
float: right;
padding: 10px 0 10px 1%;
}
#footer_block_1 , #footer_block_2
{
	width:25%;
}
#footer_block_3
{
	width:40%;
}
#footer .block .marques a{
	display: block;
    float: left;
    width: 32%;
}
.arabic #footer .block .marques a{
	float:right;
}
#footer .block .long
{
	font-weight:bold;
	color:#fff;
	clear:both;
} 
#footer .block .title {
    border-bottom: 1px solid #555555;
    color: #FFFFFF;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 0 6px;
}
#footer .block  a{
	display: block;
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
	color: #ccc;
}
#footer_admin
{
	background:url(../images/menu_bg.png);
	height:44px;
	position:relative;
}
#footer_admin a {
    border-right: 1px solid #333;
    border-left: 1px solid #464646;
    color: #DDDDDD;
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    padding: 12px 1em;
    text-shadow: 0 0 3px #222222;
}
#footer_admin a:hover
{
	color:#fff;
}

#pagination
{
	text-align:center;
	height:40px;
	margin-top:30px;
}
#pagination a
{
	padding:4px 0.6em;
	border-radius:1px;
	margin:0px 0.2em;
	font-size:1.4em;
	font-weight:bold;
}
.arabic #pagination a
{
	float:right;
}
#pagination .page_current
{
	background:#F32F2F;
	border:1px solid #D90909;
	color:#fff;
}
#pagination  .page_arrow
{
	background:#343434;
	color:#fff;
	border:1px solid #000;
}
#pagination  .page_next
{
	background:#f5f5f5;
	border:1px solid #ccc;
	color:#666;
}
#flash-transparent
{
	position:fixed;
	top:70px;
	text-align:center;
	left:0;
	right:0;
}
#div-gpt-ad-1415537907591-0
{
	margin:0 auto;
}