/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.65em;
  margin: 0px !important;
  padding: 0px;
}

body.not-front {
  background-image: url(../../../themes/bibliocommons/images/masthead_bkg.png);
  background-repeat: repeat-x;
  background-position: left -18px;
}

body.logged-in {
  background-position: left 10px;  
}  

body.front {background: none transparent !important; padding-top: 40px}
/*
body.not-front #header {display:none}*/

#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#masthead {
  width: 100%;
  height: 75px;
  display:block;
}

#page {
}

/*
 * Header
 */
#header {
}

#header .section {
}

#search-box {
}

.region-header {
  clear: both; /* Clear the logo */
  margin: 0;
  padding:0;
  overflow:auto;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}

#main {
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 960px;
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.front #content {float: none}


.sidebar-first #content {

}

.sidebar-second #content {
  width: 760px;
  margin-left: 0; /* LTR */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
/*  width: 570px !important;
  padding-right: 20px;
  min-height: 2000px;*/
/*  margin-left: 200px;*/ /* LTR */ /* The width of .region-sidebar-first */
/*  margin-right: -760px;*/ /* LTR */ /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 0;
  padding: 0;
}

/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  width: 100%;
  display:block;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  /*height: 120px; *//* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}
#navigation h2 {display:none}
.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {

}

#navigation .section {
}

#navigation ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 0 0 0; /* LTR */
  margin: 0;
}

.front #navigation {float: none}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  width: 200px;
  margin-left: 0; /* LTR */
  margin-right: -200px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 0px 0 0; /* LTR */
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 200px;
  /*margin-left: 760px;*/ /* LTR */ /* Width of content + sidebar-first. */
  /*margin-right: -960px;*/ /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 0 0 20px; /* LTR */
  padding: 0;
}

/*
 * Footer
 */
#footer {
}

#footer .section {
}

/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/


.section-mechanics #content-area .node-type-page, .section-vision #content-area .node-type-page, .page-products-bibliocore #content-area .node-type-page,
.page-about #content-area .node-type-page, .page-jobs #content-area .node-type-page, .page-about-news #content-area .node-type-page,  .page-about-media #content-area .node-type-page, 
.page-about-team #content-area .node-type-page, .page-about-team #content-area .view-team,
.page-reviews-feedback-lifeblood-bibliocommons #content-area .node-type-page,
.page-reviews-reviews #content-area .node-type-page,
.page-about-media  #content-area .node-type-page,
.page-products-bibliocore-for-library-admins #content-area .node-type-page,#content-area .node-type-job, 
#content-area .node-type-webform
 {
  width: 570px;
  padding-right: 20px;
  float: left;
  border-right: 1px solid #CB430E;
  min-height: 500px;
}
.page-products-bibliocore #content-area .node-type-page,
.page-products-bibliocore-for-library-admins #content-area .node-type-page  
{
  border-right: 1px solid #D6DF27;
}

.page-reviews-feedback-lifeblood-bibliocommons #content-area .node-type-page,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-107.node
 {
  border-right: 1px solid #02CAE8
}

.section-vision #content-area .node-type-page {
  border-color: #660033;
}

.page-about #content-area .node-type-page, .page-jobs #content-area .node-type-page, .page-about-news #content-area .node-type-page,  .page-about-media #content-area .node-type-page, 
.page-about-team #content-area .node-type-page,  .page-about-team #content-area .view-team,
.page-about-media  #content-area .node-type-page,
.page-jobs-interface-developer-cms-integration #content-area .node-type-job, 
.page-jobs-quality-assurance-engineer #content-area .node-type-job,
.page-jobs-software-engineer-front-end #content-area .node-type-job,
.page-jobs-software-engineer-platform #content-area .node-type-job ,
.page-jobs-web-architect-cms-integration #content-area .node-type-job ,
.page-jobs-reference-form #content-area .node-type-webform ,
.page-jobs-application-form #content-area .node-type-webform 

   {


  border-color: #F0C644;
}

.section-mechanics #content-area .region-sidebar-second, .page-products-bibliocore #content-area .region-sidebar-second, 
.page-about #content-area .region-sidebar-second, .page-about-news #content-area .region-sidebar-second,  
.page-about-media #content-area .region-sidebar-second, 
.page-about-team #content-area .region-sidebar-second,
.page-reviews-feedback-lifeblood-bibliocommons #content-area .region-sidebar-second,
.page-about-media  #content-area  .region-sidebar-second,
{
 /* width: 260px;*/
 width: 260px;
  padding: 0 0px;
 float: right;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div.region
{
width: 273px;
padding: 0 20px;
/*float:right;*/
}
