/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  float: none !important;
  height: 90px;
}

.front #navigation {height: 70px}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
  display: block;
  margin: 0 auto !important;
  width: 784px !important;
/*  width: auto !important;*/
/*  height: 30px;*/
}

#main-menu li a {
  text-align: center;
  display: block;
  height: 22px;
  padding: 50px 33px 5px 33px;
  margin: 0 29px 0 0;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  line-height:22px;
  letter-spacing: -2px;
  color: #000;
  text-decoration: none;
  outline: none;  
  word-wrap: normal;
}

.front #main-menu li a {
  padding: 30px 33px 5px 33px;  
  margin: 0 29px 0 0;  
}  
#main-menu li.Products {width: 202px; overflow-x: hidden;}
#main-menu li.Howwework {width: 277px; overflow-x: hidden;}
#main-menu li.Reviews {width: 180px; overflow-x: hidden;}
#main-menu li.Vision {width: 174px; overflow-x: hidden;}
#main-menu li.About {width: 125px; overflow-x: hidden;} 
#main-menu li.About a {margin-right: 0px !important}
/*#main-menu li.last a { margin-right: 0;}*/

.section-products #main-menu li.active-trail a,.section-products #main-menu li.active a, #main-menu li.Products a:hover {
  border-bottom: 5px solid #d6df27;
}

.section-how-we-work #main-menu li.active-trail a, .section-how-we-work #main-menu li.active a, #main-menu li.Howwework a:hover
{
  border-bottom: 5px solid #cb430e;
}

.section-reviews #main-menu li.active-trail a, .section-reviews #main-menu li.active a, #main-menu li.Reviews a:hover,
.section-reviews #main-menu li.active-trail a, .section-reviews #main-menu li.active a, #main-menu li.Reviews a:hover  {
  border-bottom: 5px solid #02cae8;
}

.section-vision #main-menu li.active-trail a, .section-vision #main-menu li.active a, #main-menu li.Vision a:hover {
  border-bottom: 5px solid #660033;
}
.section-contact #main-menu li.active-trail a, .section-contact #main-menu li.active a, #main-menu li.Contact a:hover,
.section-about #main-menu li.active-trail a, .section-about #main-menu li.active a, #main-menu li.About a:hover {
  border-bottom: 5px solid #f0c644;
}

#block-menu-secondary-links {
  font-size: 12px;
  text-align: right;
  font-size: 11px;
  line-height:14px;
  font-weight: bold;
  margin: 0;
  padding:0;
  text-transform: uppercase;
  outline: none;  
}

#block-menu-secondary-links h2 {display: none}
#block-menu-secondary-links .content ul.menu {display: block;margin: 0 !important; padding: 0 !important; height: 37px}

.front #block-menu-secondary-links li.first {display: none}

#block-menu-secondary-links a {color: #666; text-decoration:none; padding: 5px 8px 5px 5px; background-color: #fff}
#block-menu-secondary-links a:hover {color: #666;}

#block-menu-secondary-links li {
  display: inline-block;
  margin: 0 0px;
  padding:15px 0 0 0;
  float: right;
}

#block-menu-secondary-links li.first{
  float: left; 
}  

#block-menu-secondary-links li.last{
  margin-right: 10px; 
}

.front #block-menu-secondary-links {
  position: absolute; top: 25px;right:0;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}

.sidebar {
  margin: 0 !important;
  padding: 0;
 /* float: none !important;*/
  width: 100%;
}

#sectionNav {display:block; width: 958px; overflow: auto; position:relative;
border: 1px solid #dddddd;
}

#sectionNav .block {margin-bottom: 0px; display: block; overflow: auto; width: 100%; /*background: #ededed;*/}

#block-menu-primary-links {}
  
#block-menu-primary-links .menu, #block-menu-primary-links .menu li{margin: 0; padding: 0}

#block-menu-primary-links h2.title
 {display:none}
 
 .section-products .menu li.active-trail,
 .section-Howwework .menu li.active-trail,
 .section-reviews .menu li.active-trail,
 .section-vision .menu li.active-trail,
 .section-about .menu li.active-trail,
 .menu li.active-trail ul li {
   display: block;
 }

.menu-level-2 ul.menu {
  margin: 0; padding: 0;
  display: block; width: 100%; /*background-image:url(../images/sub-nav-1st-lvl-bkg.png);*/
  background-position: left -12px;
  background-repeat:repeat-x; position: relative; overflow: auto;
  }


.menu-level-2 ul.menu li {
  display: block; float: left;
  }
  
.menu-level-2 ul.menu li a {
  padding: 7px 20px;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  display:block;
  text-decoration: none;
/*  text-shadow: 1px 1px #ddd;*/
  outline: none;
  word-wrap: normal;
  }  
  
.menu-level-2 ul.menu li a.active, .menu-level-2 ul.menu li.active-trail a  {
  color: white; /*background-image: url(../images/sub-nav-1st-lvl-active-bkg.png);*/
  background-repeat: no-repeat; background-position: 50% -10px;
  }   
  
.section-how-we-work .menu-level-2 ul.menu li a.active, .section-how-we-work .menu-level-2 ul.menu li.active-trail a  {
  /*background-image: url(../images/sub-nav-1st-lvl-mechanics-active-bkg.png) !important;  */
	background-color: #cb430e;
} 
.section-reviews .menu-level-2 ul.menu li a.active, .section-reviews .menu-level-2 ul.menu li.active-trail a  {
   /*background-image: url(../images/sub-nav-1st-lvl-mechanics-active-bkg.png) !important;  */
      background-color: #02cae8;
}
.section-about .menu-level-2 ul.menu li a.active, .section-about .menu-level-2 ul.menu li.active-trail a ,
 .section-jobs .menu-level-2 ul.menu li a.active, .section-jobs .menu-level-2 ul.menu li.active-trail a  {
   /*background-image: url(../images/sub-nav-1st-lvl-mechanics-active-bkg.png) !important;  */
       background-color: #f0c644;
   text-shadow: 0px;
} 

.section-products .menu-level-2 ul.menu li a.active, .section-products .menu-level-2 ul.menu li.active-trail a  {
  /*background-image: url(../images/sub-nav-1st-lvl-mechanics-active-bkg.png) !important;  */
	background-color: #d6df27;
} 
.section-reviews .menu-level-2 ul.menu li a.active, .section-reviews .menu-level-2 ul.menu li.active-trail a  {
  /*background-image: url(../images/sub-nav-1st-lvl-mechanics-active-bkg.png) !important;  */
	background-color: #02cae8;
} 
.section-about .menu-level-2 ul.menu li a.active, .section-about .menu-level-2 ul.menu li.active-trail a ,
.section-jobs .menu-level-2 ul.menu li a.active, .section-jobs .menu-level-2 ul.menu li.active-trail a  {
  /*background-image: url(../images/sub-nav-1st-lvl-mechanics-active-bkg.png) !important;  */
	background-color: #f0c644;
  text-shadow: 0px;
} 

.section-reviews .menu-level-2 ul.menu li a.active, .section-reviews .menu-level-2 ul.menu li.active-trail a,
.section-reviews .menu-level-2 ul.menu li a.active, .section-reviews .menu-level-2 ul.menu li.active-trail a   {
/*  background-image: url(../images/sub-nav-1st-lvl-reviews-active-bkg.png) !important;  */
}

.section-vision .menu-level-2 ul.menu li a.active, .section-vision .menu-level-2 ul.menu li.active-trail a  {
  background-image: url(../images/sub-nav-1st-lvl-vision-active-bkg.png) !important;  
}

.section-about .menu-level-2 ul.menu li a.active, .section-about .menu-level-2 ul.menu li.active-trail a,
.section-jobs .menu-level-2 ul.menu li a.active, .section-jobs .menu-level-2 ul.menu li.active-trail a,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#sectionNav div.region div.section div#block-menu_block-1.block div.content div.menu_block_wrapper ul.menu li.menu-mlid-1145 a

  {
/*  background-image: url(../images/sub-nav-1st-lvl-about-active-bkg.png) !important;  */
}
  
.menu-level-2 ul.menu li a:hover {color: #000;background-color: #DDDDDD;}   
.menu-level-3 ul.menu li a:hover, .menu-level-3 ul.menu li a:hover {
   color: #d6df27; font-weight: bold; 
   background-repeat: no-repeat; background-position: 50% -8px; 
   }
 .menu-level-3 ul.menu li a.active-trail:hover, .menu-level-3 ul.menu li a.active-trail:hover {
   color: #000; font-weight: bold; 
   background-repeat: no-repeat; background-position: 50% -8px; 
}

/*.menu li.active-trail ul li.expanded {height: 85px;}*/

.menu-level-3 ul.menu {margin: 0 !important; padding: 0; display:block; background-image:url(../images/sub-nav-2nd-lvl-bkg.png); background-position: 50% -10px;
background-repeat:repeat-x; width: 100%;overflow: auto}

.menu-level-3 ul.menu li {display: block; float: left;}

.menu-level-3 ul.menu li a {display: block; font-size: 11px; line-height: 11px; padding: 7px 20px; text-transform: uppercase; font-weight: bold; color: #666; text-decoration: none;  outline: none; }

.menu-level-3 ul.menu li a.active-trail, .menu-level-3 ul.menu li a.active {
  color: #000; font-weight: bold; background-image: url(../images/sub-nav-2nd-lvl-active-bkg.png);
  background-repeat: no-repeat; background-position: 50% -8px; color: #000;
  }
.section-about .menu-level-3 ul.menu li a:hover, .section-about .menu-level-3 ul.menu li a:hover,
.section-jobs .menu-level-3 ul.menu li a:hover, .section-jobs .menu-level-3 ul.menu li a:hover {
 color: #f0c644;
}    
.section-about .menu-level-3 ul.menu li a.active-trail:hover, .section-about .menu-level-3 ul.menu li a.active-trail:hover,
.section-jobs .menu-level-3 ul.menu li a.active-trail:hover, .section-jobs .menu-level-3 ul.menu li a.active-trail:hover {
 color: #000;
}  
  
#sectionNav .region .section .block .content .menu-level-3 ul.menu {margin: 0px !important}
  
.section-about .menu-level-3 ul.menu li a.active-trail, .section-about .menu-level-3 ul.menu li a.active,
.section-jobs .menu-level-3 ul.menu li a.active-trail, .section-jobs .menu-level-3 ul.menu li a.active
 {
  background-image: url(../images/sub-nav-2nd-lvl-about-active-bkg.png);
}    

.section-how-we-work .menu-level-3 ul.menu li a.active-trail, .section-how-we-work .menu-level-3 ul.menu li a.active {
  background-image: url(../images/sub-nav-2nd-lvl-mechanics-active-bkg.png);
}    

.section-reviews .menu-level-3 ul.menu li a.active-trail, .section-reviews .menu-level-3 ul.menu li a.active,
.section-reviews .menu-level-3 ul.menu li a.active-trail, .section-reviews .menu-level-3 ul.menu li a.active {
  background-image: url(../images/sub-nav-2nd-lvl-reviews-active-bkg.png);
}
.section-reviews .menu-level-3 ul.menu li a.active-trail:hover, .section-reviews .menu-level-3 ul.menu li a.active-trail:hover,
.section-reviews .menu-level-3 ul.menu li a.active:hover, .section-reviews .menu-level-3 ul.menu li a.active:hover,
.section-reviews .menu-level-3 ul.menu li a.active-trail:hover, .section-reviews .menu-level-3 ul.menu li a.active-trail:hover {
color: #000;
}
 .section-reviews .menu-level-3 ul.menu li a:hover, .section-reviews .menu-level-3 ul.menu li a:hover,
 .section-reviews .menu-level-3 ul.menu li a:hover, .section-reviews .menu-level-3 ul.menu li a:hover {
 color: #02cae8;
 }


.section-vision .menu-level-3 ul.menu li a.active-trail, .section-vision .menu-level-3 ul.menu li a.active {
  background-image: url(../images/sub-nav-2nd-lvl-vision-active-bkg.png);
}

.menu li.active-trail ul li ul li a:hover {color: #000; font-weight: bold;}

.BoxGlow_Grey2 {z-index: 9999; background-color: #fff; width: 960px}

/*#stayInPlace #header #block-menu-secondary-links ul li.last {position: fixed; top: 5px; right: 50%; margin-right: -390px; z-index: 9999;padding-top: 10px;}
#stayInPlace #header #block-menu-secondary-links ul li.last a { background-color: #fff; padding: 8px; border: 1px solid #fff}*/

.region-content-top .content ul.menu {list-style-type: none; display: block; margin: 20px 0 10px 0; padding: 0; width: 100%; overflow: auto; background-image: url(../images/content_top_nav_bkg.png); background-position: left bottom; background-repeat: repeat-x;}

.region-content-top .content ul.menu li {list-style-type: none; padding: 0; float: left; margin: 0; list-style-image: none}

.region-content-top .content ul.menu li.first {margin-left: 5px} 

.region-content-top .content ul.menu li.active {background-color: #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc}

.region-content-top .content ul.menu li a {  outline: none; line-height: 11px; display:block; padding: 5px 0px 2px 0px; margin: 3px 15px 3px 15px; outline: none; font-size: 11px; font-weight: normal; color: #666; text-transform: uppercase; text-decoration: none; color: #000}

.region-content-top .content ul.menu li.active a {color: #000; border-bottom: 3px solid #d6df27; font-weight: bold}


/*html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#sectionNav div.region div.section div#block-menu_block-1.block div.content div.menu_block_wrapper ul.menu li.leaf a.active-trail {
background-image: url("/sites/all/themes/bibliocommons/images/sub-nav-1st-lvl-mechanics-active-bkg.png");
    background-position: 50% -10px;
    background-repeat: no-repeat;
    color: #000001;
}*/


.meta ul.links.inline { padding: 0px;}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#sectionNav div.region div.section div#block-menu_block-2.block div.content div.menu_block_wrapper ul.menu { margin: 0;}
 body.page div#page-wrapper div#page div#stayInPlace div#header div.section div.region div#block-menu-secondary-links.block div.content ul.menu li.leaf,
html.js body.page div#page-wrapper div#page div#headeroooo div.section div.region div#block-menu-secondary-links.block div.content ul.menu li.leaf
 {
	margin-right: 0px;
}
