/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* Is this all it is?*/

/*
 * Body
 */
a:link {
	text-decoration: none;
	font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
    line-height: 1.5em;
    font-size: 100%;
    color: #666;
}

.front #page {position:relative}

a {outline: none; color: #19497b;
	text-decoration: none;
	font-weight: bold;

}
a:hover {color: #d6df27}
/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

.front #logo {
  width: 800px;
  margin: 15px auto 0 auto;
  clear: both;
  float: none;
  display: block;
  overflow: auto;
  height: 188px;
  overflow: hidden;
/*  border-bottom: 1px solid #dfdfdf;*/
}

.front #logo img {
  margin: 0px auto 0 auto;
  float: none;
  display:block;
}


#name-and-slogan /* Wrapper for website name and slogan */ {
}

.front #name-and-slogan #site-name {display:none}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  text-align: center;
}

#site-slogan h1 {
  font-family: georgia, garamond, times, serif;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -2px;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
.front #content {
  margin-top: 5px;
} 
.front #content h1.title{
  display: none;
}
.not-front #content {
  padding: 20px 27px 30px 27px;
  border: 1px solid #ddd;
  width: 904px;
/*  margin-bottom: 20px;*/
  min-height: 500px;
  margin-top: -1px;
}

#content .section {
}

.not-front .content {width: 100%;
  overflow:auto}

/*.page-about-contact-us-sales-thank-you .content {border-top: 1px solid #ddd}
*/

#content-area .content h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

#content-area .content h3, .page-about-participating-libraries #content-area .panel-display .pane-libraries h2.pane-title {
  font-size: 22px;
  line-height:20px;
  padding: 12px 10px 10px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; 
  color: #333; 
  clear:both;
  margin: 30px 0 10px;
}
#content-area h2 {color: #000;
/*margin-bottom: 10px;*/
}
#content-area h1.indented, 
#content-area h2.indented, 
#content-area h3.indented{
  padding: 13px 300px 10px 210px;
  margin: 15px 0;
}

.not-front #content-area .content div {
  display: block;
  overflow: auto;
}

.not-front #content-area .content div.mid{
  width: 360px;
  float: left;
  padding: 0 20px;
}

.content .wide {width: 590px !important}

#content-area .content .wide h1, #content-area .content .wide h2, #content-area .content .wide h3 {padding: 12px 10px 10px 10px}
#content-area .content .wide h4 {color: #666}
 
#content-area .content div.right
 {
  display: block;
  float: right;
  margin: 0;
  width: 300px;
  padding-top: 1em;
}

#content-area .content div.right p{
  padding: 0 25px 0 0;
}
#content-area .content div.right img {float: right; display: block}
#content-area .content div.mid p {
  display: block;
}

#content-area .content div.mid p strong {color: #000; font-size: 14px}

#content-area .content li {margin-bottom: 10px}

#content-area .content div.right h6, #content-area .content div.testimonial h6 {
  width: 226px;
  padding: 25px 25px 50px 25px;  
  display: block;
  float: right;
  background-color: #efefef;
  background-image: url(../images/content-quotes-top-bkg.png);
  margin: 0 0 2em 0;
  font-family: georgia, garamond, "times new roman", serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: normal;
  position:relative;
}

#content-area .content div.right h6 strong, #content-area .content div.testimonial h6 strong {
  text-align: right;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 25px 25px 25px;
  width: 226px;
  background-image: url(../images/content-quotes-bottom-bkg.png);
  background-position: left bottom;
}

#content-area .content div.left {
  display: block;
  width: 190px;
  float: left;
  padding-top: 1em;
}

.section-about .content .left {width: 575px !important; border-right: 1px solid #F0C644; padding-right: 25px}

#content-area .content div.left.alternative {
  width: 300px;
}

#content-area .content div.left a{
  font-size: 11px;
  color: #000;
  font-weight:bold;  
}  

#content-area .content div.left a:first-child {margin-top: 0px}
#content-area .content div.left a {display:block;margin-top: 25px;}

#content-area .content div.left img {margin-bottom: 5px}
  
.section-products #content-area .content h3 {
  border-color: #D6DF27;
}

.section-about #content-area .content h3, .page-about-participating-libraries #content-area .panel-display .pane-libraries h2.pane-title {border-color: #F0C644}

#mission /* The mission statement of the site (displayed on homepage) */ {
  text-align: center;
  font-family: georgia, garamond, times, serif;
  font-size: 26px;
  font-weight: normal;
  color: #000;
  width: 960px;
/*  word-spacing: .25em;*/
  letter-spacing: 0px;
  display: block;
  margin: 10px auto 0px;
  padding: 18px 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;  
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
  margin-bottom: 20px;
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

h1.title {
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  letter-spacing: -2px;
  color: #000;
  margin: 15px 0 10px;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}


ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 30px 0 0 0;
  display: inline;
/*  border-top: double #dfdfdf;*/
  padding: 10px;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}


#main-wrapper {
}
/*
 * Footer
 */
#footer {
	background-color: #F2F2F2;
    display: block;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;

}
#footer .block {
	/*display: table-cell;*/
	float:left;
	
    padding: 10px;
    width: 220px;
	text-transform:uppercase;
	color:#A5A7A6;
}
#footer .block h2{
	border-bottom: 1px solid #D9D9D9;
    color: #5A5859;
    font-size: 12px;
    padding-bottom: 5px;
}
#footer .block .content ul {
	list-style:none;
	font-size:12px;
	padding-left:0;
	margin-top:5px;
}
#footer .block .content ul a {
	text-decoration:none;
	font-weight:normal;
	color:#A5A7A6;
}

#footer .section {
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

.region-footer {
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
	display:block;
	clear:left;
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}



/** added by erwin for the panel pages */
.panel-flexible .left .pane-content {
  padding-right: 10px;
}

.panel-flexible .right .pane-content {
  padding-left: 10px;
}
.panel-flexible h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.panel-flexible h4 em, h4 em {display: inline-block; font-size: 16px; text-transform: uppercase; font-weight: bold; background-color: #D6DF27; padding: 5px 5px 2px 5px; font-style: normal; text-shadow: 1px 1px #dadfce;}

.section-mechanics h4 em {
  background-color: #CB430E;
  color: #4C1906;
  text-shadow: 1px 1px #FF5413;
}

.panel-flexible h3 {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  clear: both;
  color: #333333;
  font-size: 22px;
  line-height: 20px;
  padding: 12px 10px 10px;
  margin: 30px 0 15px 0;
} 

.panel-flexible .indented_heading_3 h3 {margin: 0px; padding: 10px 300px 10px 210px} 

.panel-flexible h3 {border-color: #D6DF27;} 
.panel-flexible ul {list-style-image: url(../images/bullets.png); color: #D6DF27; margin-bottom: 20px}
.panel-flexible ul li {margin: 10px 0 15px 0 !important; color: #666;}


.section-products .panel-flexible .fullWidth, .fullWidth, .content .fullWidth {width: 100% !important; overflow: auto; display: block}

.section-products .panel-flexible .fullWidth .half, .fullWidth .half {width: 46%; overflow: auto; display: block; float: right}

.section-products .panel-flexible .fullWidth .half:first-child, .fullWidth .half:first-child {width: 54%; float: left; overflow-x: hidden !important}

h6.quote, .quote {
    background-color: #EFEFEF;
    background-image: url("../images/content-quotes-top-bkg.png");
    display: block;
    float: right;
    font-family: georgia,garamond,"times new roman",serif;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    line-height: 22px;
    margin: 0 0 2em;
    padding: 35px 25px 50px;
    position: relative;
    width: 226px;
}

h6.quote strong, .quote strong {
  background-image: url("../images/content-quotes-bottom-bkg.png");
  background-position: left bottom;
  bottom: 0;
  font-weight: normal;
  font-size: 12px;
  padding: 0 25px 25px;
  position: absolute;
  right: 0;
  text-align: right;
  width: 226px;
}
.twitter ul.tweets-pulled-listing,
ul.tweets-pulled-listing
 {padding: 0; margin: 10px 0;}  
.twitter ul.tweets-pulled-listing li:first-child { }
ul.tweets-pulled-listing li,
 {font-size: 15px !important; line-height: 15px; margin: 0; margin-bottom: 0px !important; display:block; padding: 10px 1% 10px 7%; width: 92%; overflow:auto;min-height: 48px; border-bottom: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf; margin-top: -1px}
.twitter ul.tweets-pulled-listing li:hover,
.tweets-pulled-listing li:hover
 {background-color:#e8ecf5; border-color: #c9d2e7}
.twitter ul.tweets-pulled-listing li .tweet-authorphoto,
 {margin: 0px 10px 0 -53px; font-size: 0px; line-height: 0px}
.twitter ul.tweets-pulled-listing li .tweet-divider,
li .tweet-divider
 {display: none !important}
.twitter ul.tweets-pulled-listing li .tweet-author,
ul.tweets-pulled-listing li .tweet-author,
li span.tweet-author
 {display:block;  clear: right}
.twitter ul.tweets-pulled-listing li .tweet-author a,
li .tweet-author a

 {color: #121212; text-decoration: none}
.twitter ul.tweets-pulled-listing li:hover .tweet-author a,
.tweet-author a,
 {color: #1d449a; text-decoration:none}
.twitter ul.tweets-pulled-listing li .tweet-text,
ul.tweets-pulled-listing li .tweet-text
li .tweet-text
 {line-height: 19px}
.twitter ul.tweets-pulled-listing li .tweet-text a,
.tweets-pulled-listing li .tweet-text a,
 {color: #1d449a; text-decoration: none}
.twitter ul.tweets-pulled-listing li .tweet-text a:hover,
li .tweet-text a:hover,
 {color: #1d449a; text-decoration: underline}
.twitter ul.tweets-pulled-listing li .tweet-time,
li .tweet-time
 {font-size: 11px; line-height: 11px; height: 11px; overflow-y: visible !important; height: 14px}
.twitter ul.tweets-pulled-listing li .tweet-time a,
li .tweet-time a
 {text-decoration: none; color: #a1a1a1}
.twitter ul.tweets-pulled-listing li:hover .tweet-time a,
li:hover .tweet-time a
{color: #1d449a; text-decoration: none}
.twitter ul.tweets-pulled-listing li a:hover,
ul.tweets-pulled-listing li a:hover
 {text-decoration: underline !important}
.twitter ul.tweets-pulled-listing li a,
ul.tweets-pulled-listing li a
 {display: inline !important}

.twitter .twitLeft ul.tweets-pulled-listing,
.twitLeft ul.tweets-pulled-listing,
 {padding: 0; margin: 10px 0;}  
.twitter .twitLeft ul.tweets-pulled-listing li {font-size: 15px !important; line-height: 15px; margin: 0; margin-bottom: 0px !important; display:block; padding: 10px 1% 10px 11%; width: 88%; overflow:auto;min-height: 48px; border-bottom: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf; margin-top: -1px}
.twitter .twitLeft ul.tweets-pulled-listing li .tweet-authorphoto,
 {margin: 0px 10px 0 -53px; font-size: 0px; line-height: 0px; }





.twitLeft
 {float: left; width: 575px; display: block; overflow: auto; border-right: 1px solid #02CAE8; padding-right: 20px}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.right
 {
	width: 293px; border-right: none;float:right;border-left: 1px solid #02cAE8;padding-left: 12px;
overflow-x: hidden;
}


.twitter .right {padding-top: 0px !important}
.twitter .right div.tweets-pulled-listing {margin-bottom: 40px;}
.twitter .right h2,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.right h2

 {font-size: 1.9em; margin: 0px 0px 5px 0; letter-spacing: -1px}
.twitter .right  ul.tweets-pulled-listing li .tweet-author,
#content-area #node-189 .content .right  ul.tweets-pulled-listing li .tweet-author
 {margin-bottom: 7px}
.twitter .right  ul.tweets-pulled-listing li .tweet-author small,
#content-area #node-189 .content .right  ul.tweets-pulled-listing li .tweet-author small
 {color: #999}
.twitter .right  ul.tweets-pulled-listing li .tweet-text,
#content-area #node-189 .content .right  ul.tweets-pulled-listing li .tweet-text
 {display: block; overflow: auto;}
.twitter .right  ul.tweets-pulled-listing li .tweet-text img,
#content-area #node-189 .content .right  ul.tweets-pulled-listing li .tweet-text img
 {max-width: 270px; margin: 10px 0; float: none !important; clear: both}
.twitter .right ul.tweets-pulled-listing li {padding: 10px 5% 10px 5%; width: 90%; border-top: 0px}
.twitter .right ul.tweets-pulled-listing li.reply {padding: 10px 5% 10px 20%; width: 75%;} 
.twitter .right ul.tweets-pulled-listing li:hover {background-color:#fff; border-color: #dfdfdf}
.twitter .right ul.tweets-pulled-listing li:last-child {border-bottom: 0px}

 {max-width: 270px; margin: 10px 0; float: none !important; clear: both}
.twitter .right ul.tweets-pulled-listing li {padding: 10px 5% 10px 5%; width: 90%; border-top: 0px}
.twitter .right ul.tweets-pulled-listing li.reply,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.right div.tweets-pulled-listing ul.tweets-pulled-listing li.reply
 {padding: 10px 5% 10px 20%; width: 75%;} 
.twitter .right ul.tweets-pulled-listing li:hover {background-color:#fff; border-color: #dfdfdf}
.twitter .right ul.tweets-pulled-listing li:last-child {border-bottom: 0px}


.hasSidebar .hasSidebarContent{
  float: right;
  padding-left: 20px;
  padding-bottom: 40px;
  width: 660px;
/*  border-left: 1px solid #ccc;*/
  min-height: 400px;
}


.section-about .hasSidebar .hasSidebarContent {
  border-color: #F0C644;
}
.section-reviews .hasSidebar .hasSidebarContent {
  /*border-color: #02CAE8;*/
  border-left: 0px;
}


.hasSidebar .hasSidebarContent form {
  padding-bottom: 50px;
  margin-top: 0px;
}
.page-about-contact-request-info .hasSidebar .hasSidebarContent form h4 {border-bottom: 1px solid #dfdfdf; margin-bottom: 25px}
.page-about-contact-request-info .hasSidebar .hasSidebarContent form label, 
.page-about-contact-request-info .hasSidebar .hasSidebarContent form .radioButtons .label, .content #password-form.new_user label {
  width: 25%;
  text-align:right;
  display: block;
  float:left;
  padding: 5px 2% 5px 0;
  font-size: 13px;
  font-weight: bold;
  color: #333;
}



.page-about-contact-request-info .hasSidebar .hasSidebarContent form label.required, 
.page-about-contact-request-info .hasSidebar .hasSidebarContent form .radioButtons .label.required {
  padding-top: 0px;
}  

.page-about-contact-request-info .hasSidebar .hasSidebarContent form label span, 
.page-about-contact-request-info .hasSidebar .hasSidebarContent form .radioButtons .label span{
  color: #c00;
  font-size: 10px;
  clear: both; 
  display: block;
  line-height: 5px;
  font-weight:normal;
}  

.page-about-contact-request-info .hasSidebar .hasSidebarContent form label span.form-required, 
.page-about-contact-request-info .hasSidebar .hasSidebarContent form .radioButtons .label span.form-required{
  color: #c00;
  font-size: 20px;
  display: inline;
  line-height: 5px;
  font-weight:normal;
}

.page-about-contact-request-info .hasSidebar .hasSidebarContent form input[type=text], 
.page-about-contact-request-info .hasSidebar .hasSidebarContent form input[type=password], 
.page-about-contact-request-info .hasSidebar .hasSidebarContent form textarea  {  
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 15px;
  padding: 7px 5px;
  width: 270px;
  font-family: helvetica, arial, sans-serif;
  float:left;
}

.section-node-edit .hasSidebar .hasSidebarContent form label, 
.hasSidebar .hasSidebarContent form#comment-form label {clear: both; text-align: left}

.section-node-edit .hasSidebar .hasSidebarContent form input[type=text], 
.section-node-edit .hasSidebar .hasSidebarContent form input[type=password], 
.section-node-edit .hasSidebar .hasSidebarContent form textarea,
.hasSidebar .hasSidebarContent form#comment-form input[type=text], 
.hasSidebar .hasSidebarContent form#comment-form input[type=password], 
.hasSidebar .hasSidebarContent form#comment-form textarea {clear: both !important}

.section-node-edit .hasSidebar .hasSidebarContent form .form-item .description, .section-node-edit .hasSidebar .hasSidebarContent form fieldset,
form#comment-form .form-item .description, form#comment-form fieldset  {clear: both !important}

form#comment-form fieldset.collapsed {overflow: hidden; display: block}
form#comment-form fieldset.collapsed .fieldset-wrapper {display: none}

form#comment-form .wysiwygToolbar div {display: inline !important}

.hasSidebar .hasSidebarContent form#comment-form input[type=submit]#edit-preview {margin-left: 5px}
.hasSidebar .hasSidebarContent form#comment-form input[type=submit]#edit-submit {margin-left: 0px}

.section-reviews .meta {
  display: block;
  padding: 5px;
  font-size: 12px;
  font-family: georgia, garamond, times, serif;
  color: #999;
  border-bottom: 1px solid #DFDFDF;
/*  border-top: 1px solid #DFDFDF;  */
  overflow: auto;
}

.section-reviews .meta .terms-inline {
  display: inline-block;
  float: right;
  text-transform: capitalize;
  width: 50%;
}

.section-reviews .feedbackContentQuote,
.node-type-case-study-user div.content div.field div.field-items div.field-item p.feedbackContentQuote

{
  font-family: georgia, garamond, times, serif;
  font-size: 15px;
  color: #666;
  background-repeat: no-repeat;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 5px;
  background-image: url(../images/feedback_quotes.png);
  padding: 10px 0 0 30px;
}
html.js body.node-type-news div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.node div#bloggy div.content {
  font-family: georgia, garamond, times, serif;
  font-size: 14px;
  color: #666;
  background-repeat: no-repeat;
  line-height: 24px;
  margin-bottom: 5px;
  padding: 10px 0 0 0px;

}

.section-reviews .feedbackContentQuote:first-child {margin-top: 30px}
.section-reviews .feedbackContentQuoteAuthor {
  font-size: 12px;
  color: #333;
  font-weight: bold;
  text-indent: 300px;
  line-height: 12px;
}


.page-about-contact-request-info .hasSidebar .hasSidebarContent form hr {
  border: 0;
  color: #dfdfdf;
  background-color: #dfdfdf;
  height: 1px;
  width: 100%;
  text-align: left;
  margin: 15px 0;
}

.hasSidebar .hasSidebarContent form input[type=submit]{margin: 20px 0 0 27%; padding: 10px; background-color: #f0c644; font-size: 16px; font-weight: bold; color:#fff; text-transform: uppercase; border: 0px; font-family: helvetica, arial, sans-serif}

.section-node-edit .hasSidebar .hasSidebarContent form  input[type=submit] {margin: 20px 0 0 5px;}

.page-about-contact-request-info .hasSidebar .hasSidebarContent form textarea {width: 400px}

.page-about-contact-request-info .hasSidebar .hasSidebarContent form br {clear: both; margin-top: 20px}
.page-about-contact-request-info .hasSidebar .hasSidebarContent form .options {font-size: 13px;}
.page-about-contact-request-info .hasSidebar .hasSidebarContent form .options br  {clear: both; margin-top: 5px}

.page-about-contact-request-info .hasSidebar .hasSidebarContent form .radioButtons {display: block; width: 99%; overflow: auto;}


.hasSidebar .hasSidebarLeftContent,
#content-area.hasSidebar div.hasSidebarLeftContent div.region
 {
  width: 200px;
  float: left;
}

.hasSidebar .hasSidebarLeftContent ul.menu {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0px;
}  

.hasSidebar .hasSidebarLeftContent ul.menu li{
  list-style-type: none;
  margin: 0;
  display: block;
  width: 100%;
  float: left;
}
.hasSidebar .hasSidebarLeftContent ul.menu li a{
    color: #666666;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    outline: medium none;
    padding: 7px 20px 7px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.hasSidebar .hasSidebarLeftContent ul.menu li a.active{ color: #000;}

.section-reviews .hasSidebar .hasSidebarLeftContent {
  background-color: #f3f3f3;
  width: 200px;
  padding: 10px 10px 40px 10px;
  margin-top: 15px;
  min-height: 400px;
}

.section-reviews .hasSidebar .hasSidebarLeftContent a {color: #666;}

.section-reviews .hasSidebar .hasSidebarLeftContent h2 {font-size: 13px; text-transform: uppercase}

.front #main-wrapper {
  padding: 0 0 0px 0; margin: 0px 0 0 0;
  }
  
.front .divider {
  display: block;
  height: 1px;
  width: 960px;
  clear:both;
  border-top: 1px solid #dfdfdf;
  margin: 0 auto;
}  

.section-reviews .view-case-studies .views-row,
.section-reviews .view-FromUser .views-row,
.section-reviews .view-archivecasestudy .views-row,
.section-reviews .view-FromUser .views-row
 {
  display: block;
  border-top: 1px solid #dfdfdf;
}

.view-case-studies .views-row,
.view-FromUser .views-row,
.view-FromUser .views-row,
.view-archivecasestudy .views-row {
  border-bottom: 0px solid #02CAE8;
  padding: 20px 0;
  margin-bottom: 10px;
}

.view-case-studies .views-row .views-field-title,
.view-FromUser .views-row .views-field-title,
.view-FromUser .views-row .views-field-title,
.view-archivecasestudy .views-row .views-field-title

 {
  font-weight: bold;
  float: left;
  width: 65%;
}
.view-case-studies .views-row .views-field-created,
.view-FromUser .views-row .views-field-created,
.view-FromUser .views-row .views-field-created,
.view-archivecasestudy div.views-row div.views-field-created span.field-content

 {
  font-size: 12px;
  font-family: georgia, garamond, times, serif;
  color: #999;
  float: right;
  clear: right;
  width: 35%;
  text-align: right;
}

.view-case-studies .views-row .views-field-title .field-content a,
.view-FromUser .views-row .views-field-title .field-content a,
.view-FromUser .views-row .views-field-title .field-content a,
.view-archivecasestudy div.views-row div.views-field-title span.field-content a,
.views_view div.view-content div.views-row div.node h2.title a

 {
  font-size: 22px;
  letter-spacing: -1px;
  color: #19497B;
  text-decoration: none;
}

.view-case-studies .views-row .views-field-field-case-study-content-value, .node-type-case-study-user .field-field-case-study-content,
.view-FromUser .views-row .views-field-field-case-study-content-value, 
.view-archivecasestudy div.views-row div.views-field-field-case-study-content-value, 
.view-FromUser div.views-row div.views-field-field-case-study-content-value 
 {
  padding: 5px 0 0 50px;
  margin-top: 5px;
    border-top: 1px solid #dfdfdf;
  clear: left;
}

.node-type-case-study-user .field-field-case-study-content,
.node-type-FromUser-user .field-field-case-study-content {
  border-top: 0px;
  padding: 0 30px;
}

.view-case-studies .views-row .views-field-title .field-content a:hover {color: #000} 
.view-FromUser .views-row .views-field-title .field-content a:hover {color: #000} 

.view-case-studies .views-row .views-field-field-name-value,
.view-FromUser .views-row .views-field-field-name-value,
div.view-archivecasestudy div.views-row div.views-field-field-name-value ,
.hasSidebarContent div.views_view div.view-content div.views-row div.node div.taxonomy ul.links li a
 {font-weight:bold; clear: left;}



.view-case-studies .views-row  .views-field-field-case-study-content-value img {float: left; margin: 0 15px 15px 0}
.view-FromUser .views-row  .views-field-field-case-study-content-value img {float: left; margin: 0 15px 15px 0}

.view-case-studies .views-row  .views-field-view-node {display: inline-block; padding-left: 50px; font-family: georgia, garamond, times, serif; font-weight: bold}
.view-FromUser .views-row  .views-field-view-node {display: inline-block; padding-left: 50px; font-family: georgia, garamond, times, serif; font-weight: bold}

#productSuite {
  display: block;
  height: 441px;
  width: 550px;
  overflow: hidden;
  margin: 0 auto;
  clear: both;
  position: relative;
  background-image: url(/sites/all/themes/bibliocommons/images/content/ProductsLandingPage.png);
}

#productSuite a {display: block; position: absolute; overflow: hidden; background-position: left top; z-index: 3000;}
#productSuite a:hover {background-position: left bottom; z-index: 3500;}
#productSuite #microsites {
  width: 147px;
  height: 85px;
  background-image: url(/sites/all/themes/bibliocommons/images/content/ProductsLandingPage-microsites.png);
  top: 81px;
  left: 5px;
}

#productSuite #notifications {
  width: 171px;
  height: 83px;
  background-image: url(/sites/all/themes/bibliocommons/images/content/ProductsLandingPage-notifications.png);
  top: 287px;
  left: 20px;
}

#productSuite #cms {
  width: 156px;
  height: 60px;
  background-image: url(/sites/all/themes/bibliocommons/images/content/ProductsLandingPage-cms.png);
  top: 303px;
  left: 320px;
}

#productSuite #events {
  width: 183px;
  height: 55px;
  background-image: url(/sites/all/themes/bibliocommons/images/content/ProductsLandingPage-events.png);
  top: 158px;
  left: 363px;
}

#productSuite #mobile {
  width: 183px;
  height: 55px;
  background-image: url(/sites/all/themes/bibliocommons/images/content/ProductsLandingPage-mobile.png);
  top: 37px;
  left: 247px;
}

#productSuite #core {
  width: 268px;
  height: 268px;
  background-image: url(/sites/all/themes/bibliocommons/images/content/ProductsLandingPage-core.png);
  top: 81px;
  left: 117px;
}
table.views-view-grid {width: 100%}
table.views-view-grid tbody tr td {padding: 20px 0%; width: 25%; text-align:center; vertical-align: top;}

.page-about-participating-libraries .pane-libraries table.views-view-grid tbody tr td {padding: 5px 0; width: 33%}
.page-about-participating-libraries .pane-libraries table.views-view-grid {vertical-align: top}
/*.page-about-participating-libraries .pane-libraries table.views-view-grid .views-field-title {display: block; text-align: left; float: left; text-transform: uppercase; font-weight: bold; width: 190px; font-size: 14px; line-height: 14px; font-weight: bold}*/
.page-about-participating-libraries .pane-libraries table.views-view-grid .views-field-title {width: 140px; font-size: 14px; line-height: 14px; text-align:center;}
.page-about-participating-libraries .pane-libraries table.views-view-grid .views-field-title a, 
.view-id-libraries .views-field-title a
{text-decoration: none; color: #666; height: 66px; }
.page-about-participating-libraries .pane-libraries table.views-view-grid .views-field-title a:hover,
.view-id-libraries .views-field-title a:hover {text-decoration: underline}
/*.page-about-participating-libraries .pane-libraries table.views-view-grid .views-field-field-logo-fid {text-align: left; display: block; height: 75px; width: 85px; float: left}*/
.page-about-participating-libraries .pane-libraries table.views-view-grid .views-field-field-logo-fid {height: 75px; width: 140px;}
.page-about-participating-libraries .pane-libraries p.uppercase {text-transform: uppercase; font-size: 16px; font-weight: bold;}
.page-about-participating-libraries .pane-libraries p.uppercase em {text-transform: none; font-weight: normal; font-size: 12px; clear: left; display: block}
.page-about-participating-libraries .pane-libraries .more-link {text-align: left; padding-left: 15px; font-weight: bold; font-size: 11px; text-transform: uppercase}
#content.column .section #content-area #node-64.node .content .content .mid strong { 
color: black;
}
#content-area #node-47.node .content .content .mid strong {
color: black;
}
#content-area #node-48.node .content .content .mid strong {
color: black;
}
#content-area #node-49.node .content .content .mid strong {
color: black;
}

.item-list ul.pager {
  border-top: double #dfdfdf;
  padding: 10px;
  display: block;
	margin-right: 10px;
}

.view-media  .view-content .views-row {
  margin-bottom: 5px 0 5px 0;
  border-top: 1px solid #dfdfdf;
}

.node-type-media {
  position: relative;
  display: block;
  width: 100%;
  margin: 5px 0;
/*  background-image: url(../images/media-bkg.png);*/
  background-repeat: repeat-y;
  min-height: 100px;
}

.node-type-media img {
  position: relative;
/*  top: 10px;*/
  left: 0px;
  margin: 5px;
  max-width: 240px;
}

.node-type-media h2 {display: none}

.node-type-media .meta {position: absolute; top: 10px; left: 270px; line-height: 15px; font-size: 12px; font-family: georgia,garamond,times,serif;}

.node-type-media .mediaListing {position: absolute; left: 270px; font-size: 14px; font-weight: bold}

.node-type-case-study-library .field-field-name {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  margin-top: 15px;
}
.node-type-case-study-library .field-field-position {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;  
}

.node-type-case-study-library .content .field-field-case-study-content .feedbackContentQuote {margin-bottom: 30px;}
/*html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region {
width: 170px;
}*/
/*html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div.views_view div.view-content div.views-row .node ul.links li.comment_add a {
display: none;*/
}
/*ul.links li.comment_forbidden span {
display:none;
}*/
/*html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div.views_view div.view-content div.views-row .node ul.links li.comment_forbidden span {
display:none;
}*/
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region {
width: 164px;
}
#number {
  font-size: 15px;
   display:inline;
   font-weight: normal;
  margin-left: 6px;
  padding-bottom: 5px;
}
#newsfoot {
	margin-bottom: 40px;
}
#bloggy div.content {
/*
	padding-left: 30px;
	padding-right: 30px;
*/
	width: 680px;
}
.view-content div.views-row div.node div.links {
	padding-bottom: 40px;
}




.view-id-libraries .views-field-field-logo-fid {
	 height: 75px;
}
.view-id-libraries .views-field-title {
	height:65px;
}
.webform-client-form div div#edit-actions.form-actions input#edit-next.form-submit {
	background: url('/sites/default/files/apply.jpg') no-repeat;
	background-color: #F0C644;
    border: 0 none;
    color: #FFFFFF;
    font-family: helvetica,arial,sans-serif;
    font-size: 0px;
    font-weight: bold;
    margin: 20px 0 0 27%;
    padding: 10px;
    text-transform: uppercase;
    width: 133px;
    height: 43px;
}


.webform-client-form div div#edit-actions.form-actions input#edit-submit.form-submit {
background-color: #F0C644;
    border: 0 none;
    color: #FFFFFF;
    font-family: helvetica,arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 0 43%;
    padding: 10px;
    text-transform: uppercase;
}
.webform-client-form .form-text, .webform-client-form div div#webform-component-attach-a-file.webform-component div#edit-attach-a-file-wrapper.form-item input#edit-attach-a-file.form-file {
  border: 1px solid #CCCCCC;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    line-height: 15px;
    padding: 7px 5px;
    width: 270px;
	position: absolute;
	left: 237px;
}
#webform-client-form-197.webform-client-form .form-text, #webform-client-form-229.webform-client-form .form-text {
  border: 1px solid #CCCCCC;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    line-height: 15px;
    padding: 7px 5px;
    width: 270px;
	position: absolute;
	left: 498px;
}
#webform-client-form-229.webform-client-form .form-textarea { margin-left: 60px; width: 340px; }
.webform-component .form-item label {
display: inline;
}

.webform-client-form div .webform-component .form-item label {


color: #333333;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 2% 5px 0;
    width: 25%;
	position:relative;
	left:63px;
}
.webform-client-form div .webform-component .form-checkboxes .form-item label { width: auto; }
.field-field-description .field-label, 
.field-field-requirements .field-label {
	font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 0.667em;
    margin-top: 0.667em;
	color: #000000;
}
#edit-actions.form-actions input#edit-previous.form-submit {
	display: none;
}
#block-block-18.block ,
#block-block-19.block {
	border: 1px solid #dddddd;
	margin: 8px;
	padding-left: 8px;
}
#reference {
background-color: #F0C644;
    border: 0 none;
    color: #FFFFFF;
    font-family: helvetica,arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 17px 0 0;
    padding: 5px 5px 5px 12px;
    text-transform: uppercase;
    width: 66px;
    margin-bottom: 14px;
    position: relative;
	left: 40%;
    
}
#referenceII {
background-color: #F0C644;
    border: 0 none;
    color: #FFFFFF;
    font-family: helvetica,arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 17px 0 0;
    padding: 5px 5px 5px 12px;
    text-transform: uppercase;
    width: 66px;
    margin-bottom: 14px;
    position: relative;
	left: 32%;
    
}
#reference a, #reference a:visited {
	color: #ffffff;
}
#referenceII a, #reference a:visited {
	color: #ffffff;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-176.node div.content form#webform-client-form-176.webform-client-form div div#webform-component-position-ii.webform-component div#edit-submitted-position-ii-wrapper.form-item select#edit-submitted-position-ii.form-select {
position: absolute;
left: 236px;
width: 285px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-175.node div.content form#webform-client-form-175.webform-client-form div div#webform-component-position.webform-component div#edit-submitted-position-wrapper.form-item select#edit-submitted-position.form-select {

	position:absolute;
	left: 236px;
	width: 285px;
}
html.js body.page div#page-wrapper div#page div#headeroooo div.section div.region div#block-menu-secondary-links.block {
	position: relative;
	top: -13px;
}
#content-area.hasSidebar div.hasSidebarLeftContent {
  background-color: #f3f3f3;
  width: 200px;
  padding: 10px 10px 40px 10px;
  margin-top: 15px;
	text-transform: capitalize;
  min-height: 400px;
	color: #666666;
}
#block-views-case_studies_archive-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary li a {
	color: #666666;
}
#block-views-case_studies_tags-block_1.block div.content div.views_view div.view-content div.views-row div.views-field-name span.field-content a {
	color: #666666;
}
#block-views-case_studies_archive-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary li {
	margin-bottom: 0px;
	list-style: none;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region div#block-views-case_studies_archive-block.block div.content div.views_view div.view-content div.item-list ul.views-summary li {
	margin-bottom: 0px;
	list-style: none;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region div#block-views-archivecasestudy-block_2.block div.content div.views_view div.view-content div.item-list ul.views-summary li,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region div#block-views-archivecasestudy-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary li
 {
	margin-bottom: 0px;
	list-style: none;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region div#block-views-archivecasestudy-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary li {
	margin-bottom: 0px;
	list-style: none;
}
#content-area.hasSidebar div.hasSidebarContent h1.title {
	text-transform: capitalize;
}
div.meta div.terms ul.links li a{
	text-transform: capitalize;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region div#block-views-FromUser-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary li {
	margin-bottom: 0px;
	list-style: none;
}
.block h2.title {
	font-size: 13px;
	text-transform: uppercase;
	color: #666666;
}
div.views_view div.view-content div.item-list ul.views-summary li a {
	color: #666666;
}
#content.column div.section div#content-area div.region div.section .block h2.title {
	margin-top: 11px;
}
div#block-views-archivecasestudy-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary,
#block-views-FromUser-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary,
div#block-views-archiveblog-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary
 {
	margin-left: 0px;
	padding: 0;
	margin-bottom: 0px;
}
#block-views-archiveblog-block_1.block div.content div.views_view div.view-content div.item-list ul.views-summary li {
	margin-bottom: 0px;
}
#blogusers {
	margin-bottom: 0px;
}
div.hasSidebarLeftContent div.region div#block-block-20.block div.content div#blogusers a {
	color: #666666;
}
div#block-views-blog_tags_taxonomy-block_1.block div.content div.views_view div.view-content div.views-row div.views-field-name span.field-content a {
	color: #666666;
}
div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node {
/*	border-top: 1px solid #cccccc;*/
	padding-top: 18px;
}
.view-content div.views-row div.node div#bloggy div.content div.field div.field-items div.field-item {
	border-top: 1px solid #cccccc;
	width: 659px;
	margin-top: 11px;
}
div.hasSidebarContent div.views_view div.view-content div.views-row div.node div#bloggy div.content p {
	position: relative;	
	left: 50px;
	width: 600px;
  font-family: georgia, garamond, times, serif;
  font-size: 15px;
  color: #666;
  background-repeat: no-repeat;
  line-height: 24px;
  margin-bottom: 5px;

}
.hasSidebarContent div.views_view div.view-content div.views-row div.node div#bloggy div.content div.field div.field-items div.field-item span.date-display-single {
	position: relative;
	top: -25px;
}
.hasSidebarContent div.views_view div.view-content div.views-row div.node div#datenews span.date-display-single,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div#user div#datenews
 {
	position: static;
	font-weight: normal;
	    color: #999999;
	display:inline;
	float: right;
    font-family: georgia,garamond,times,serif;
    font-size: 12px;
}
#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div.taxonomy ul.links li a {
	display: none;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div#user a {
	color: #6666666;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div#user,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.node div#user
 {
	color: #666666;
	font-weight: bold;


}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div#user  a,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.node div#user a
 {
 color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node h2.titley {
	width: 456px;
	position: absolute;
    color: #19497B;
    font-size: 22px;
    letter-spacing: -1px;
    text-decoration: none;
     line-height: 1.2em;
	margin-top: 0px;

}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node h2.titley a:hover {
	color: black;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div#titlebar div#datenews {
	display: inline;
}
#titlebar {
float: left;
	width: 653px;
	height: 78px;
	border-top: 1px solid #cccccc;
	padding-top: 10px;



}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div#taxonomy {
	display: none;
}
/*html.js body.node-type-case-study-user div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent h1.title {
  border-top: 1px solid #DFDFDF;  
  padding-top: 10px;
}*/
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div.views_view div.view-content div.views-row div.node-type-case-study-user h2.title {
  border-top: 1px solid #DFDFDF;  
  padding-top: 10px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div.views_view div.view-content div.views-row div.node-type-case-study-user div.meta {
  border-bottom: 1px solid #DFDFDF;  
  padding-bottom: 10px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div.views_view div.view-content div.views-row div.node-type-case-study-library h2.title {
  border-top: 1px solid #DFDFDF;  
  padding-top: 10px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div.views_view div.view-content div.views-row div.node-type-case-study-library div.meta {
  border-bottom: 1px solid #DFDFDF;  
  padding-bottom: 10px;
}

html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region div#block-views-casestudytags-block_1.block div.content div.views_view div.view-content div.views-row div.views-field-name span.field-content a,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarLeftContent div.region div#block-views-casestudytags-block_2.block div.content div.views_view div.view-content div.views-row div.views-field-name span.field-content a
 {	color: #666666;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.node div#taxonomy {
	float: right;
	display: inline;
	position: relative;
	top: -20px;

}
#content-area.hasSidebar div.hasSidebarContent div.node div#break {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing {
		min-height: 600px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content {
	overflow-y: hidden;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.twitter {
	overflow-y: hidden;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.twitter div.tweets-pulled-listing ul.tweets-pulled-listing li span.tweet-text div.item-list ul.pager li.pager-current {
	display: inline;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content li div.tweet-authorphoto {
	float: left;
	margin-bottom: 4px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing div.tweets-pulled-listing ul.tweets-pulled-listing li div.tweet-authorphoto img {
	max-height: 40px;
	max-width: 40px;
	margin-bottom: 16px;
	margin-right: 8px;
}
 html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing div.tweets-pulled-listing ul.tweets-pulled-listing li{
	border-top: 1px solid #dfdfdf;
	padding-top: 5px;
	margin-right: 8px;

}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing li div.tweet-authorphoto img {
    margin-bottom: 17px;
    margin-right: 8px;
    max-height: 40px;
    max-width: 40px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.right div.tweets-pulled-listing ul.tweets-pulled-listing li {
	border-bottom: 0px;
	border-top: 0px;
        padding-bottom: 0px;
        margin-right: 0px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing li {
	border-top: 1px solid #dfdfdf;
	padding-top: 5px;
	margin-right: 5px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing div.item-list ul.pager li.pager-current,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing div.item-list ul.pager li.pager-item,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing div.item-list ul.pager li.pager-next,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing div.item-list ul.pager li.pager-last
 {
	border-top: 0px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-189.node div.content div.tweets-pulled-listing ul.tweets-pulled-listing div.tweet-divider {
	border-bottom: 0px;
}
html.js body.page-about-media div#page-wrapper div#page div#main-wrapper div#main.clearfix div#sectionNav div.region div.section div#block-menu_block-2.block {
display: none;
}
html.js body.page-about-media-bibliocommons div#page-wrapper div#page div#main-wrapper div#main.clearfix div#sectionNav div.region div.section div#block-menu_block-2.block {
	display:none;
}
html.js body.page-about-media div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div.meta div.terms {
	display: none;
}
html.js body.page-about-media-bibliocommons div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node div.meta div.terms {
	display: none;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content table.views-view-grid tbody tr.row-1 td.col-2 div.views-field-title span.field-content {
	width: 159px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content table.views-view-grid tbody tr.row-1 td.col-2 div.views-field-title span.field-content a {
	width: 159px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node-type-media div.content div.field div.field-items div.field-item span.date-display-single,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div#node-130.node div.content div.field div.field-items div.field-item span.date-display-single
 {
	left: 352px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node-type-media div.content div.field div.field-items div.field-item {
	height: 23px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div.views_view div.view-content div.views-row div.node-type-media div.content table tbody tr td a {
	position: relative;
	left: -102px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div#node-197.node,
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area.hasSidebar div.hasSidebarContent div#node-229.node {
	border-right: 0px;
}
html.js body.page div#page-wrapper div#page div#main-wrapper div#main.clearfix div#content.column div.section div#content-area div#node-64.node div.content div.content div.left a.lightbox-processed {
	width: 190px;
}
