/* $Id: slider.css,v 1.1 2008/10/15 10:04:26 marktheunissen Exp $ */

/**
 * Standard CSS for the slider.
 * Overrride these values in your theme's CSS file
 */

#sliderwrapper {
  width: 960px;
  margin: 0 auto;
}

#slider {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.scroll {
  height: 195px;
  width: 600px;
  margin: 0 auto;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  clear: left;
}

.scrollContainer div.panel {
  font-family: georgia, garamond, times, serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.75em;
  padding: 5px 0px 5px 0px;
  height: 185px;
  width: 600px;
  background-image: url(../../../themes/bibliocommons/images/content/slider_bkg.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.scrollContainer div.panel table {margin: 0px; padding: 0px;}
.scrollContainer div.panel table tr td { height: 185px; font-family: georgia, garamond, times, serif;}

.scrollContainer div.panel .node {
}



.scrollContainer div.panel .node .content{


}

.scrollContainer .content .field-field-testimonial-name {display:none}
.scrollContainer .content .field-field-testimonial-content {
/*  background-image: url(../../../themes/bibliocommons/images/slider-quote-top.png); */
  padding: 0 20px;
  background-repeat: no-repeat; 
  font-size: 16px;
  line-height: 22px;
  background-position: 0px 0}
.scrollContainer .content .field-field-author {
  text-align: right; 
  font-weight: bold;
  font-size: 12px; 
  margin-top: 0px; 
  padding: 0 20px 0 0; 
/*  background-image: url(../../../themes/bibliocommons/images/slider-quote-bottom.png); */
/*  background-repeat: no-repeat; 
  background-position: right -5px
*/
}
  
.scrollContainer .content .field-field-author-location {
  text-align: right;
  padding: 0 20px 0 0;
  font-size: 12px;
  line-height: 12px;
}
  

ul.slidenav {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
}

ul.slidenav .slidetab-active {
  background-color: #e6e6e6;
}

ul.slidenav li {
  display: inline;
  margin-right: 10px;
}

ul.slidenav a {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

ul.slidenav a:hover {
  background-color: #e6e6e6;
}

ul.slidenav a.selected {
  background-color: #fff;
}

ul.slidenav a:focus {
  outline: none;
}

.scrollButtons {
  position: absolute;
  top: 0px;
  display: block;
  height: 195px;
  width: 46px;
  overflow: hidden;
  cursor: pointer;
}

.scrollButtons:hover {
  background-position: left -195px;
}

.scrollButtons.left {
  left: 70px;
  background-image: url(../images/scroll_left_bkg.png);
}

.scrollButtons.right {
  right: 70px;
  background-image: url(../images/scroll_right_bkg.png);
}

.hide {
  display: none;
}

.front #content-area #slider-area {
  width: 960px;
  margin: 0px auto;
  height:195px;
  border-bottom: 0px solid #ccc;
  
}

