#pass-strength-result {
	background-color: #eee;
    border-color: #ddd !important;
    border-style: solid;
    border-width: 1px;
    margin: 13px 5px 5px 1px;
    padding: 3px 5px;
    text-align: center;
    width: 200px;
    display: none;
    color: #302f2f;
}
#pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c !important;
}
#pass-strength-result.good {
	background-color: #ffec8b;
	border-color: #fc0 !important;
}
#pass-strength-result.short {
	background-color:#ffa0a0;
	border-color:#f04040 !important;
}
#pass-strength-result.strong {
	background-color:#c3ff88;
    border-color:#8dff1c !important;
}