/*
Theme Name: TrendyBlog Premium Theme
Theme URI: http://trendyblog.different-themes.com/
Description: TrendyBlog Premium Wordpress Theme
Author: Different Themes
Author URI: http://www.different-themes.com/
Version: 2.0.2
Tags: 
License: GNU General Public License
License URI: README_License.txt
*/


/** Wordpress default clases */

.post.sticky { background: #f8f8f8; padding: 0px 0px 16px 0px; }

.sticky .article-content { padding: 0px 16px; }

.article-block-small-image.sticky .article-header { padding: 8px 20px 0px 16px; }

.gallery-caption { color: #888; font-size: 12px; margin: 0 0 12px; }

.bypostauthor {}

.main-menu-wrapper ul ul li a i { font-style: normal!important; }

.alignright  {}

.alignleft  {}

.aligncenter   {}

ul li a i { font-style: normal; }

.wp-caption-text {
  display: block;
}

.gallery-photo .loading {
	background: rgba(255,255,255,0.7) url(./images/loading.gif) no-repeat center center;
	line-height: 0px;
	min-height: 100px;
}

.waiter > img {
  position:relative;
}

.waiter.loading img {
	opacity:0.6!important;
	filter:alpha(opacity=60)!important;
}

.waiter.loading {
	display:inline-block;
	background:#fff url(./images/loading.gif) no-repeat center center;
	line-height:0px;
	min-height:400px;

}

.waiter.loading img {
	opacity:0.6;
	filter:alpha(opacity=60);
}

/* isotope transition styles */

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
  
#infscr-loading {
	background: -moz-linear-gradient(center top , #747D84 0%, #434F56 100%) repeat scroll 0 0 transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0;
	font-size: 0.8em;
	font-style: normal;
	font-weight: normal;
	height: 50px;
	left: 50%;
	margin-left: -45px;
	padding-top: 20px;
	position: fixed;
	text-align: center;
	z-index: 1000;
	width: 90px;
	background-repeat:no-repeat;
	background-position: center center;
}
	
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.bypostauthor {}

img { height: auto !important; }

  #makeMeScrollable
  {
    position: relative;
  }
  
  #makeMeScrollable div.scrollableArea img
  {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

.wpb_gallery.wpb_posts_slider.wpb_content_element p {
  height: 40px;
  overflow: hidden;
}

#popup {
  max-width: 90%;
}

#popup img {
  max-width: 100%;
}

#df_bglink {
  display:block;
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:0;
  text-indent:-5000em;
}

#wrapper {
  position:relative;
  z-index:10;
}