/*
 Theme Name:   TrendyBlog Premium Child Theme
 Theme URI:    http://trendyblog.different-themes.com/
 Description:  TrendyBlog Premium Wordpress Child Theme
 Author:       Different Themes
 Author URI:   http://www.different-themes.com/
 Template:     trendyblog-theme
 Version:      1.1.4
 Tags: 
 Text Domain:  trendyblog-theme-child
*/

@import url("../trendyblog-theme/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

ul, ol {
    padding: 5px 0px 0px 35px;
}

.post-share {
    margin-bottom: 0px;
}

/*  SECTIONS  */
/* line 5, ../sass/test.scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GRID OF THREE           ============================================================================= */
@media only screen and (min-width: 480px) {
  /* line 24, ../sass/test.scss */
  .span_3_of_3 {
    width: 100%;
  }

  /* line 28, ../sass/test.scss */
  .span_2_of_3 {
    width: 66.1%;
  }

  /* line 32, ../sass/test.scss */
  .span_1_of_3 {
    width: 32.2%;
  }

  /*  COLUMN SETUP  */
  /* line 37, ../sass/test.scss */
  .colm {
    display: block;
    float: left;
    /*margin: 1% 0 1% 1.6%;*/
  }

  /* line 42, ../sass/test.scss */
  .colm:first-child {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 48, ../sass/test.scss */
  .section {
    width: 100%; /* fix for Firefox */
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }


}

#header .header_meta {
    background-color: #1490cb;
}

.widget .widget_title {
    background-color: #ddd;
}

.item_content a {
color: #19B5FE;
}

.item_content a:hover {
color: #000000;
}

.item_content h4 {
font-size: 18px;
}

.item_content hr {
margin:0px;
}

.col {
margin-bottom: 10px;
}

.layout_post_1 {
    margin-bottom: 0px;
}

#gallery_filter {
    margin-bottom: 0px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 27px;
}

nav.site_navigation ul.menu > li > a {
    padding: 15px 5px;
}

nav.site_navigation ul.menu > li > a:hover {
    color: #19B5FE;
}

#header .header_main .site_brand {
    width: 18%;
}

#site_title {
    font-size: 34px;
}

#header {
    margin-bottom: 10px;
}

.banner-ad {
    width: 300px;
    height: 90px;
    margin: 0 auto;
    overflow: hidden;
}

.banner-ad iframe {
	width:728px;
	display: block;
}

@media (max-width:727px) {
.banner-ad {
	width:100%; height:95px; }
.banner-ad iframe {
	width:100%;
}
} 

@media (min-width:728px) {
.banner-ad {
	width:728px; height:95px; }
.banner-ad iframe {
	width:728px;
}
} 

@media (max-width:580px) {
.entry_content iframe {
	width:100%;
	height: auto;
}
}

nav.top_navigation ul.menu > li > a:hover {
    color: #222222;
}

.breaking-block a:hover {
color: #19B5FE;
}

.footer-links {
text-align:center;
}

.footer-links a {
color: #ffffff;
}

.footer-links a:hover {
color: #19B5FE;
}

#footer {
    padding-top: 0px;
    margin-top: 0px;
}

.post-inside {
text-align: left;
}

.post-inside table,
.post-inside thead,
.post-inside tbody,
.post-inside tfoot,
.post-inside tr,
.post-inside th,
.post-inside td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.post-inside th,
.post-inside td {
    display: inline;
}

.weather_forecast a {
color: #fff;
padding: 0 10px;
}

.weather_forecast a:hover {
color: #222222;
}

.layout_post_1 .item_content h4 {
    font-size: 18px;
}

iframe {
    width: none;
}

@media (max-width:600px) {
ul.children {
    margin: 0 0 0 25px;
}
} 