#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper {
  padding-bottom: 30px;
  padding-top: 30px;
}

#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper .scroll-up-button,
#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper .scroll-down-button {
  background-color: #23282D;
  cursor: pointer;
  height: 30px;
  width: 100%;
  z-index: 100000;
}

#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper .scroll-up-button {
  position: absolute;
  top: 0px;
}

#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper .scroll-down-button {
  position: absolute;
}

#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper .scroll-up-button .up-triangle,
#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper .scroll-down-button .down-triangle {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0; 
  margin: 8px auto;
  width: 0; 
}

#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper .scroll-up-button .up-triangle {
  border-bottom: 15px solid #9C9EA0;
}


#wpadminbar .menupop .ab-sub-wrapper.my-sites-scroll-wrapper .scroll-down-button .down-triangle {
  border-top: 15px solid #9C9EA0;
}