﻿body 
{
	margin: 0px;
	padding: 0;
	direction:rtl;
	background-color:#e0e0e0;
	font-family:Tahoma,arial;
	font-size:8pt;
}
input,select {font-family:Tahoma,arial;font-size:8pt;}
.DIR{direction :ltr;}
a {text-decoration:none;}
h1 {font-size:12pt;}
.DataText {line-height:25px;}
#Warpper
{
	width:100%;
	padding:0;
	margin:0;
}
/*header*/
#header-wrapper {
	width: 100%;
	height: 140px;
	background: url(images/site1rbHeader.png) repeat-x ;
	position:relative;
}
#header
{
	width:980px;
	height:140px;
	background: url(images/site1headerBg.png) no-repeat right top;
	margin: 0 auto;
	right:0px;
}
#header_Download
{
	width: 100%;
	height: 150px;
	background: url(images/site4rbHeader.png) repeat-x ;
	position:relative;
}
#header_Shop
{
	width: 100%;
	height: 140px;
	background: url(images/site7rbHeader.png) repeat-x ;
	position:relative;
}
/* Menu */
#menu-wrap
{
	width:980px;
	height:125px;
	margin: 0 auto;
	right:0px;
}
#inside_Top_Menu
{
/*	background: url(images/Inside_Top_Menu.png) no-repeat left bottom;
	width:303px;*/
	height:27px;
	padding:10px 40px 5px 0;
}
#inside_Top_Menu ul {
	margin: 0px;
	list-style: none;
}
#inside_Top_Menu li 
{
	float:right;
	font-family:tahoma;
	font-weight:bold;
	font-size:10px;
	text-align:center;
	display:block;
	color:#FFFFFF;
	margin:8px 0 0 0;
}
#Search
{
	/*background: url(images/Header_search.png) no-repeat left top;
	width:435px;
	height:77px;
	padding:3px 40px 0 0;*/
}
#menu
{
	height:26px;
	color:#000000;
	font-weight:bold;
	padding-top:17px;
	float:right;
	text-align:right;
	width:980px;
}
#menu ul {
	margin: 0px;
	list-style: none;
	float:right;
}

#menu li {
	display: inline;
	float:right;
}
#menu a {
	display: block;
	float: left;
	margin-left: 5px;
	padding: 5px 15px;
	background:url(images/Menu_B.png) repeat-x bottom;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	text-decoration: none;
	text-transform: uppercase;
	border-top: 2px solid #EBEAD1;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 12px;
	color: #000000;
}
#menu a:hover, #menu .active a {
	background:url(images/Menu_Home_BG.Gif) repeat-x bottom;
	color: #FFFFFF;
}

#menu_D
{
	height:26px;
	color:#000000;
	font-weight:bold;
	padding-bottom:19px;
	float:right;
	text-align:right;
}
#menu_D ul {
	margin: 0px;
	list-style: none;
	height:24px;
}

#menu_D li {
	display: inline;
}
#menu_D a {
	display: block;
	float: left;
	margin-left: 5px;
	padding: 4px 15px;
	background:url(images/Menu_B.png) repeat-x bottom;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	text-decoration: none;
	text-transform: uppercase;
	border-top: 2px solid #EBEAD1;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 12px;
	color: #000000;
}
#menu_D a:hover, #menu_D .active_D a {
	background:url(images/Menu_Download_BG.Gif) repeat-x bottom;
	color: #FFFFFF;
}
#menu_S
{
	height:26px;
	color:#000000;
	font-weight:bold;
	padding-top:17px;
	float:right;
}
#menu_S ul {
	margin: 0px;
	list-style: none;
	float:right;
}

#menu_S li {
	display: inline;
	float:right;
}
#menu_S a {
	display: block;
	float: left;
	margin-left: 5px;
	padding: 5px 15px;
	background:url(images/Menu_B.png) repeat-x bottom;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	text-decoration: none;
	text-transform: uppercase;
	border-top: 2px solid #EBEAD1;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 12px;
	color: #000000;
}
#menu_S a:hover, #menu_S .active_D a {
	background:url(images/Store_cat.png) repeat-x top;
	color: #FFFFFF;
}
.Menu_Link
{
	color:#000000;
	text-decoration:none;
}
#page 
{
	position:relative;
	width: 980px;
	margin:auto auto 2px auto;
	background-color:#ffffff;
}
#page-bgtop {
}

#page-bgbtm {
}
.H_Box_980
{
	width:980px;
	padding:5px 10px;
	margin:0 auto;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	border-bottom:solid 1px #dfdfdf;
	border-top:solid 1px #dfdfdf;
	background-color:#ffffff;
}
.H_Box_940
{
	width:940px;
	padding:5px 10px;
	margin:0 auto;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	border-bottom:solid 1px #dfdfdf;
	border-top:solid 1px #dfdfdf;
	background-color:#ffffff;
}
.H_Box_480
{
	width:485px;
	padding:5px 5px 0 5px;
	margin:0 0 5px;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	border-bottom:solid 1px #dfdfdf;
	border-top:solid 1px #dfdfdf;
	background-color:#ffffff;
}

.H_Box_770
{
	width:785px;
	padding:5px 5px 0 5px;
	margin:0 0 5px;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	border-bottom:solid 1px #dfdfdf;
	border-top:solid 1px #dfdfdf;
	background-color:#ffffff;
}

#D_Content
{
	float: left;
	width: 790px;
	vertical-align:top;
	margin-left:10px;
}
#D_Content_Left
{
	float: right;
	width: 500px;
	vertical-align:top;
}
.Cat_menu
{
	color:#1e5b7e;
	text-decoration:none;
	font-size:8pt;
}
.Cat_menu:hover
{
	text-decoration:underline;
}
#D_Content_Right
{
	float: right;
	width: 280px;
	vertical-align:top;
	margin-right:5px;
}
.s_Box_Top
{
	background:url(images/S_Box_Top.png) no-repeat;
	width:280px;
	height:32px;
}
.s_Box_B
{
	background:url(images/S_Box_B.png) repeat-y;
	width:280px;
}
.s_Box_D
{
	background:url(images/S_Box_D.png) no-repeat;
	width:280px;
	height:5px;
	margin-bottom:5px;
}
.V_Box_280
{
	width:260px;
	padding:0 10px;
	margin:5px auto;
	border-left:solid 1px #dfdfdf;
	border-right:solid 1px #dfdfdf;
	border-bottom:solid 1px #dfdfdf;
	border-top:solid 1px #dfdfdf;
	background-color:#ffffff;
}
#D_RSide
{
	float: left;
	width: 170px;
	margin-right:10px;
}
.D_Title
{
	border-top:#3f9508;
	border-top-style:solid;
	border-top-width:100%;
	font-size:14pt;
	color:#3f9508;
	font-family:tahoma;
	padding:5px 10px 5px 0;
	margin-bottom:5px;
}
#Title
{
	float: left;
	width: 960px;
	vertical-align:top;
	margin:0 10px 10px 10px;
	border-bottom:#3f9508;
	border-bottom-style:solid;
	border-bottom-width:100%;
	padding-bottom:10px;
}

.PageKeywordsPanel {list-style:none;margin-top:5px;padding:15px 0px;width:485px;border:solid 1px #e0e0e0;padding:5px;}
.PageKeywordsPanel a {color:Black;}
.HorizontalLine
{
	vertical-align:top;
	margin:0 10px 10px 10px;
	border-bottom:#63a5ff;
	border-bottom-style:solid;
	border-bottom-width:100%;
	text-align:right;
}

.FileKeywordsPanel {list-style:none;margin-top:5px;padding:15px 0px;width:785px;border:solid 1px #e0e0e0;padding:5px;}
.FileKeywordsPanel a {color:Black;}
.FileHorizontalLine
{
	vertical-align:top;
	margin:0 10px 10px 10px;
	border-bottom:#3f9508;
	border-bottom-style:solid;
	border-bottom-width:100%;
	text-align:right;
}

.Title_Default
{
	float: left;
	width: 960px;
	vertical-align:top;
	margin:0 10px 10px 10px;
	border-bottom:#63a5ff;
	border-bottom-style:solid;
	border-bottom-width:100%;
	padding-bottom:10px;
}
#Title_Default
{
	float: left;
	width: 960px;
	vertical-align:top;
	margin:0 10px 10px 10px;
	border-bottom:#63a5ff;
	border-bottom-style:solid;
	border-bottom-width:100%;
	padding-bottom:10px;
}
#Title_Shop
{
	float: left;
	width: 960px;
	vertical-align:top;
	margin:0 10px 10px 10px;
	border-bottom:#72a0ca;
	border-bottom-style:solid;
	border-bottom-width:100%;
	padding-bottom:10px;
}
.Top_Title
{
	font-family:Tahoma,arial;
	font-size:14pt;
	font-weight:bold;
	padding-top:20px;
}
#sidebar1 {
	float: left;
	width: 280px;
	margin-left:10px;
}
.PT_Top
{
	border:Solid 1px #62adc9;
	margin-bottom:5px;
	padding-bottom:5px;
}
.PT_Top #TopImage
{
	background:url(images/PT_Top.png) repeat-x;
	height:28px;
	margin-bottom:5px;
}
.PT_Bootom
{
	background:url(images/PT_Bottom.png) no-repeat;
	height:8px;
}
.PT_Bootom #F_Content
{
	width:770px;
	margin:0 10px;
	position:relative ;
}
#content {
	float: left;
	width: 500px;
	vertical-align:top;
	margin:0 5px;
}
#sidebar2 {
	float: right;
	width: 170px;
	margin-right:10px;
}
.Top_Cat
{
	background:url(images/Top_cat.png) repeat-x;
	height:30px;
	font-size:8pt;
	width:165px;
}
.Download_Top_Cat
{
	background:url(images/Download_cat.png) repeat-x;
	height:30px;
	font-size:8pt;
	width:165px;
}
.Shop_Top_Cat
{
	background:url(images/Store_cat.png) repeat-x;
	height:30px;
	font-size:10pt;
	width:165px;
}
.TopCat
{
	border-bottom:solid 1px #ced5db;
	border-left:solid 1px #ced5db;
	border-right:solid 1px #ced5db;
	height:27px;
	font-size:10pt;
	background-color:#f1f4f6;
	width:165px;
}
#foot
{
	width: 100%;
	background: url(images/siteId1hed.gif) ;
	position:relative;
}
.Title
{
	font-family:arial;
	font-weight:bold;
	font-size:12pt;
	color:#000000;
	text-decoration:none;
}
#Footer_Right {
	float: right;
	width: 484px;
	margin: 0 1px 20px 1px;
	vertical-align:top;
}
#Footer_Right ul {
	margin: 0px;
	list-style: none;
	color:#ffffff;
}
#Footer_Right li 
{
	float:left;
	width:70px;
	font-family:tahoma;
	font-weight:bold;
	font-size:8pt;
	text-align:center;
	display:block;
	color:#ffffff;
	vertical-align:top;
}
#Footer_Right li:hover 
{
	float:left; 
	font-size:8pt; 
	text-align:center ;  
	display:block;
	vertical-align:top;
	font-weight:bold;
}
#Footer_Right li a 
{
	color:#ffffff;
	text-decoration:none; 
	font-weight:normal; 
	font-size:8pt; 
	display:block; 
	vertical-align:top;
	font-weight:bold;
}
#Footer_Right li span{ display:block; padding:0 0 5px 0;}
#Footer_Right li a:hover {color:#FFFFFF; text-decoration:none;}
#Footer_Right li span {color:#FFFFFF; text-decoration:underline;}
#Footer 
{
	position:relative;
	width: 980px;
	margin: 0 auto 30px auto;
}
#Footer_Left {
	float: left;
	width: 300px;
	margin:0  2px 0 5px;
	color:#FFFFFF;
	text-align:center;
}
.News_Link
{
	font-family:Tahoma;
	font-size:8pt;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}
.News_Link:hover
{
	text-decoration:underline;
}
.Link
{
	font:tahoma 8pt;
	text-decoration:none;
	color:#1e5b7e;
}
.Link:hover
{
	text-decoration:underline;
}
.Link_Footer
{
	font:tahoma 8pt;
	text-decoration:none;
	color:#ffffff;
}
.Link_Footer:hover
{
	text-decoration:underline;
}
/*Search*/
#rb_navSearch {
	background:url(images/neoSearchWrapSprite.png) 0 0 no-repeat;
	_background:url(images/neoSearchWrapSprite.gif) 0 0 no-repeat;
	float:left;
	margin:6px 0 0 0;
	_margin:6px -3px 0 0;
}

#rb_navSearch .universalSearch {
	float:left;
	background:url(images/neoSearchWrapSprite.png) 100% -360px no-repeat;
	_background:url(images/neoSearchWrapSprite.gif) 100% -360px no-repeat;
	height:43px;
	margin:0 0 6px 10px;
	margin:0 0 1px 10px;
	padding:0 9px 0 0;
}

body .searchBoxWrap,
body.siteId1 .searchBoxWrap,
body.siteId3 .searchBoxWrap,
body.siteId4 .searchBoxWrap,
body.siteId7 .searchBoxWrap,
body.siteId53 .searchBoxWrap {
	background:url(images/neoSearchBoxSprite.gif) 0 -50px no-repeat;
	width:auto;
	height:25px;
	padding:0;
	margin:8px 0 0;
}

body .searchBoxWrap span {
	background:url(images/neoSearchBoxSprite.gif) 100% 0 no-repeat;
	display:block;
	height:25px;
	margin:0;
	position:relative;
	left:6px;
	float:left;
}

body #rb_navSearch .searchTarget,
body #rb_navSearch .searchFilterSelect {
	margin:11px 0 0 17px;
	_margin:9px 0 0 17px;
	height:auto;
	width:80px;
}


body #rb_navSearch .searchGo {
	margin:10px 0 0 11px;
	background:url(images/neoGo.png) no-repeat;
	_background:transparent;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="images/neoGo.png");
	width:35px;
	height:22px;
	border:0;
	text-indent:-2000px;
	overflow:hidden;
	text-transform:capitalize;
	cursor:pointer;
}

body .headerTextAd {
	right:10px;
	bottom:3px;
	text-align:right;
}

body.siteId3 .headerTextAd,
body.siteId7 .headerTextAd {
	bottom:37px;
	width:300px;
}

body .searchBox {
	height:16px;
	width:295px;
	padding:5px 5px 4px 0;
	padding:6px 7px 4px 0;
	font-weight:bold;
}
/*Always on*/
#Always_L
{
	background:url(images/always_L.png) no-repeat;
	height:32px;
	width:12px;
	float:left;
}
#Always_B
{
	background:url(images/always_B.png) repeat-x;
	height:32px;
	width:954px;
	float:left;
}
#Always_R
{
	background:url(images/always_R.png) no-repeat;
	height:32px;
	width:25px;
	float:left;
}
/********************************/
.Files
{
	/*background:url(images/ll.gif) no-repeat right;*/
	padding-right:2px;
	margin-right:2px;color:Orange;
}
.Box_T
{
	background:url(images/Box_T.png) no-repeat;
	height:28px;
	width:482px;
}
.Box_B
{
	background:url(images/Box_B.png) repeat-y;
	width:482px;
}
.Box_D
{
	background:url(images/Box_D.png) no-repeat;
	height:30px;
	width:482px;
}

#clear {clear:both;}
/***************************/
#Category #menuList {margin-bottom:5px;}
#Category ul { 
	margin: 0; 
	padding: 0; 
	list-style: none;
	width: 165px; /* Width of Menu Items */ 
} 

#Category ul li { 
	position: relative;
} 

#Category li ul { 
	position: absolute; 
	right: 155px; /*Set 1px less than menu width */ 
	top: 2px; 
	display: block; 
	border-top:solid 1px #ced5db;
	z-index:1000;
} 

#Category li:hover ul {
	display: block; 
} 

#Category li:hover ul { 
	visibility:visible; 
} 

#Category ul ul {
	visibility:hidden; 
} 

/* Fix IE. Hide from IE Mac \*/ 
* html #Category ul li { float: left; height: 1%; } 
* html #Category ul li a { height: 1%; } 
/* End */ 

/* Make-up syles */ 
#Category ul { 
	margin: 0 0 0 0; 
}
#Category li 
{
	margin: 0;
	padding: 0;
	border-bottom:solid 1px #ced5db;
	border-left:solid 1px #ced5db;
	border-right:solid 1px #ced5db;
	height:27px;
	background-color:#f1f4f6;
	width:165px;
} 

/* Styles for Menu Items */ 
#Category ul a { 
	display: block; 
	text-decoration: none; 
	color: #1e5b7e; 
	padding: 5px; 
} 

/* Hover Styles */ 
#Category ul a:hover { 
	color: #E2144A; 
	background: #f9f9f9; 
} 

/* Sub Menu Styles */ 
#Category li ul a { 
	text-decoration: none; 
	color: #1e5b7e; 
	padding: 5px; 
} 

/* Sub Menu Hover Styles */ 
#Category li ul a:hover { 
	color: #E2144A; 
	background: #f9f9f9; 
} 

/* Icon Styles */ 
#Category ul a.submenu {background:url("../r_arrow.gif") no-repeat left; } 
#Category ul a.submenu:hover {background:#f9f9f9 url("../r_arrow.gif") no-repeat left;}
/*************************************************/
.ajax__tab_yuitabview-theme .ajax__tab_header 
{
    font-family:tahoma;
    font-size:small;
    border-bottom:solid 3px #3f9508;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer 
{
    
    margin:0px 0 0px 5px;
    padding:1px 0px 0 0px;
    vertical-align:bottom;
    background:url(images/Menu_B.png) repeat-x;
	border-left:solid 1px #a3a3a3;
	border-right:solid 1px #a3a3a3;
	border-top:solid 1px #a3a3a3; 
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.35em 0.75em;    
    margin-right:0.01em;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer 
{
    background:url(images/Menu_Download_BG.Gif) repeat-x;
	border-left:solid 1px #a3a3a3;
	border-right:solid 1px #a3a3a3;
	border-top:solid 1px #a3a3a3; 
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#fff;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
    background:url(images/Menu_Download_BG.Gif) repeat-x;
	border-left:solid 1px #a3a3a3;
	border-right:solid 1px #a3a3a3;
	border-top:solid 1px #a3a3a3; 
}
.ajax__tab_yuitabview-theme .ajax__tab_body 
{
    font-family:tahoma;
    font-size:10pt;
    padding:0.25em 0.5em;   
    border:solid 1px #e0e0e0;
    border-top-width:0px;
}
.Link_Box
{
	font: bold 8pt tahoma;
	color:#000000;
	text-decoration:none;
}
.More
{
	border:solid 1px #c2d2e8;
	background-color:#f3f8fb;
	height:20px;
	padding:3px 5px;
	color:#000;
	text-decoration:none;
	font-size:7pt;
	font-weight:bold;
}
.More:hover
{
	text-decoration:underline;
}
.Save
{
	border:solid 1px #a0a0a0;
	background-color:#e0e0e0;
	padding:3px 10px;
	color:Black;
	text-decoration:none;
	font-weight:bold
}
.Save:Hover
{
	text-decoration:UnderLine;
}
.SubPage
{
	background:url(images/SubPage.png) right no-repeat;
	padding-right:20px;
	height:20px;
	color:#1e5b7e;
	text-decoration:none;
	font-size:8pt;
	font-weight:bold;
}
.RandomNews
{
	background:url(images/news.png) right no-repeat;
	padding-right:20px;
	height:20px;
	color:#000000;
	text-decoration:none;
	font-size:9pt;
}
.Translate
{
	float:right;
	width:50px;
	padding-right:70px;
	padding-top:65px;
}
 #UpdateProgress1 {
   background-color:#CF4342;
   color:#fff;
   top:0px;
   right:0px;
   position:fixed;
 }

#UpdateProgress1 img {
   vertical-align:middle;
   margin:2px;
 }
.Progress
 {
   background-color:#CF4342;
   color:White;
 }
 
.Progress img {
   vertical-align:middle;
   margin:2px;
 }
 
 .hsic
{
	width:80px;
	height:80px;
	border:1px solid #D4D4D4;
	-moz-box-shadow:0 2px 5px rgba(0,0,0,.3);
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,.3);
}

.hiscSep 
{
	background-image:url('images/row-shad.gif');
	height:19px;
	background-position:center;
	background-repeat:no-repeat;
	width:485px;	
}

.Page_Num
{
	color:Black;
	border:solid 1px #E0E0E0;
	margin:1px;	
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
}

.Page_Num:hover
{
	color:white;
	background-color:black;
	border:solid 1px #E0E0E0;
	margin:1px;	
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
}

.Page_Num_Selected
{
	color:white;
	background-color:#666666;
	border:solid 1px #E0E0E0;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
}
/* ... Rating */

.ratingStar {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0pt; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 16px; CURSOR: pointer; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.filledRatingStar {
	BACKGROUND-IMAGE: url(Images/FilledStar.png)
}
.emptyRatingStar {
	BACKGROUND-IMAGE: url(Images/EmptyStar.png)
}
.savedRatingStar {
	BACKGROUND-IMAGE: url(Images/SavedStar.png)
}

.sratingStar {
	PADDING-RIGHT: 0px; 
	DISPLAY: block; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 0pt; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	WIDTH: 13px; 
	CURSOR: pointer; 
	PADDING-TOP: 0px;
	BACKGROUND-REPEAT: no-repeat; 
	HEIGHT: 12px
}
.sfilledRatingStar {
	BACKGROUND-IMAGE: url(Images/sFilledStar.png)
}
.semptyRatingStar {
	BACKGROUND-IMAGE: url(Images/sEmptyStar.png)
}
.ssavedRatingStar {
	BACKGROUND-IMAGE: url(Images/sSavedStar.png)
}
.TopLinks
{color:White;text-decoration:none;}
.TopLinks:hover{text-decoration:underline;}

.TopFlag{background-image:url('images/TopFlag.png');background-repeat:no-repeat;width:60px;height:15px;text-align:center;padding-top:6px;}
.TopFlag a {color:#333333;text-decoration:none;font-size:6pt;}

.NoticeMenu
{
	background-color:Black;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity:0.7;
	height:30px;
}
#tracker{padding:10px 10px 10px 0;background-image:url('images/catNavArrow2.gif');background-position:right center;background-repeat:no-repeat;}
#tracker a {text-decoration:none;}

.RSSLink {margin:15px;padding:5px 15px 0 0;background-image:url('images/bullet.gif');background-position:right center;background-repeat:no-repeat;line-height:15px;}
.RSSLink a {text-decoration:none;}
.rss_reader{line-height:18px;}