input.gsc-input, .gsc-input-box,.gsc-input-box-hover,.gsc-input-box-focus {
	border:none !important;
    width: 115px;
	background-image: none !important;
	box-shadow: 0 0 0 transparent;
	font: 1em "Arial", Helvetica, Garuda, sans-serif;
	color:#222222 !important;
}
input.gsc-search-button,input.gsc-search-button:hover,input.gsc-search-button:focus {
	border:0;
    background-color: #FFFFFF;
    background-image: none;
    filter: none;
	background: url(../images/search.png) 0 0 no-repeat;
	width: 0px;
	margin: 6px 0 0 0;
	cursor: pointer;
}