	ul.form {
		position:relative;
		background:#fff;
		width:270px;
		margin:0 40px;
		padding:0;
		list-style: none;
		overflow:hidden;	
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;		
		/*-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.5);	*/
	}
#container {
-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
		box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.3);
}
	.form li a {
		width:260px;
		padding-left:20px;
		height:45px;
		line-height:50px;
		display:block;
		overflow:hidden;
		position:relative;
		text-decoration:none;
		//text-transform:uppercase;
		font-size:14px;
		color:#686868;	
		-webkit-transition:all 0.2s linear;
		-moz-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		transition:all 0.2s linear;			
	}

	.form li a:hover {
		background:#F8F8F8;
		border-left:15px solid #e33c39;
	}

	.form li a.profile {
		border-left:5px solid #008747;
	}

	.form li a.messages {
			border-left:5px solid #fecf54;
	}
		
	.form li a.settings {
			border-left:15px solid #cf2130;
	}

	.form li a.logout {
			border-left:15px solid #dde2d5;
	}	

	.form li:first-child a:hover, .form li:first-child a {
		-webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		border-radius: 10px 10px 0 0;
		font-size: 2em;
		font-family: 'MEBHeadFont', Helvetica, Garuda, sans-serif;
		border-left:0px solid #008747;
	}
	.form li:last-child a:hover, .form li:last-child a {
		-webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;	
	}

	.form li a:hover i {
		color:#ea4f35;

	}

	.form i {
		margin-right:15px;
		
		-webkit-transition:all 0.2s linear;
		-moz-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		transition:all 0.2s linear;	
	}

	.form em {
		font-size: 10px;
		background: #ea4f35;
		padding: 3px 5px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;		
		font-style: normal;
		color: #fff;
		margin-top: 17px;
		margin-right: 15px;
		line-height: 10px;
		height: 10px;		
		float:right;
	}

	.form li.selected a {
		background:#efefef;
	}