@media only screen and (min-width:768px) and (max-width:1200px) {

    .responsive .hiddenTablet   {display: none      !important;}
    .responsive .onlyDesktop    {display: none      !important;}
    .responsive .onlyPhone      {display: none      !important;}

    .responsive .visibleTablet {
        display:block!important;
        opacity:1!important;
        filter:alpha(opacity=100);
    }

    .responsive .clearTablet {
        clear: both;
        display: inline-block;
        float: none;
        width: 100% !important;
        padding-left:0 !important;
        padding-right:0 !important;
        margin-left:0 !important;
        margin-right:0 !important;
    }

    .responsive .w50LTablet {
        float:left;
        width:49%;
        margin-right:1%;
    }

    .responsive .w50RTablet {
        float:right;
        width:49%;
        margin-left:1%;
    }

    .responsive .txtLTablet         {text-align:left    !important;}
    .responsive .txtCTablet         {text-align:center  !important;}
    .responsive .txtRTablet         {text-align:right   !important;}

}
