@media only screen and (max-width: 767px) {

    .responsive .hiddenPhone        {display: none      !important;}
    .responsive .onlyDesktop        {display: none      !important;}
    .responsive .onlyTablet         {display: none      !important;}

    .responsive .visiblePhone {
        display:block!important;
        opacity:1!important;
        filter:alpha(opacity=100);
    }

    .responsive .clearPhone{
        clear: both !important;
        display: inline-block !important;
        float: none !important;
        width: 100% !important;
        padding-left:0 !important;
        padding-right:0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .responsive .txtLPhone      {text-align:left    !important;}
    .responsive .txtCPhone      {text-align:center  !important;}
    .responsive .txtRPhone      {text-align:right   !important;}
    
/* styles pour la pub html5 */
    
    ul.pubExpressWay{
        width:100%;
        background:url(/images/lc_fr/expressWayInfo_mob.png) no-repeat left center;
        clear:both;
        padding-left:70px !important;
    }
    .pubExpressWay li{
        width:auto !important;   
    }
    .pubExpressWay li.mR10{
        margin-right:0 !important;   
    }
    .pubExpressWay.rad5{
        border-radius:0;
    }
    .pubExpressWay li.bold{
        font-weight:400 !important;  
        letter-spacing:-0.4pt; 
    }
    .pubExpressWay span.pW15{
        padding-left:8px !important;
        padding-right:8px !important;
    }
    .pubExpressWay span.pW15{
        padding-left:8px !important;
        padding-right:8px !important;
    }

}

@media only screen and (max-width: 707px) {
    .toBeHidden1{
        display:none !important;   
    }
    .pubExpressWay li.bold{
        font-weight:400 !important;   
    }
}
@media only screen and (max-width: 507px) {
    .toBeHidden2{
        display:none !important;   
    }
}
@media only screen and (max-width: 320px) {
    .toBeHidden3{
        display:none !important;   
    }
}
/* fin pub html5 */