.bgRed:hover{
    background-color: #880102 !important;
}
/* CSS specifique HOME PAGE */
body{
    cursor: default!important;
} /* Hack contre les bandeaux de pubs qui redefinisse le cursor en js*/
#Habillage1 *{
    cursor: pointer;
} /* Hack contre les bandeaux de pubs qui redefinisse le cursor en js*/
#Habillage1{
    z-index: 100000;
}
.rubLinks > li.rubSell .msgDepotMenu{
    padding-top: 5px;
}
.line{
    margin: 0 0 15px;
}
.line1{
    margin-top: 10px;
}
.line2{
    overflow: hidden;
}
/* images principales home page*/

.homeMainImg{
    max-width: 100%;
    height: 335px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size:  cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
}
/* SearchEngine Promoneuve */
#specIE7{
    color: white;
}
#specIE7 ul{
    overflow: hidden;
}
#specIE7 ul li{
    display: table;
    margin-bottom: 5px;
    font-size: 12px;
    clear: both;
}
#specIE7 ul li img{
    display: table-cell;
    width: 15px;
    margin-right: 10px;
}
#specIE7 ul li span{
    display: table-cell;
}
/* SearchEngine */
.homeCloud{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}
.searchEngine{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: block;
    padding: 0;
    box-sizing: border-box;
}
.searchEngineCat{
    font-size: 0;
    white-space: nowrap;
    width: 300px;
    float: left;
}
#recherche > .searchEngineFields{
    background-color: rgba(0, 0, 0, 0.8);
    background: #000;
    filter: alpha(opacity=80);
}
.searchEngineCat li{
    position: relative;
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: top;
}
.searchEngineCat a{
    display: block;
    height: 25px;
    padding: 10px 0;
}
.searchEngineCat li a i{
    opacity: 0.75;
    filter: alpha(opacity=75);
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
}
.searchEngineCat li.active a i,
.searchEngineCat li:hover a i{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
}
.searchEngineCatSelector{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.searchEngine .searchEngineFields{
    overflow: hidden;
    width: auto;
    max-width: 768px;
    margin: 0 auto;
}
.searchEngine .boxSelect{
    position: relative;
}
.searchEngine .boxSelect i{
    border-color: #444;
    position: absolute;
    right: 5px;
    top: 8px;
    transform: scale(0.8);
}
.searchEngine select{
    font-size: 14px;
}
.searchEngine select,
.searchEngine .lienCategorie{
    color: #333;
    cursor: pointer;
    display: block;
    background: white url(/ressources/images/pictos/fleche_select.png) no-repeat center right;
    border: 0;
    border-right: 1px solid #333;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    float: left;
    line-height: 43px;
    height: 43px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 24px;
    border-radius: 0;
    padding-left: 6px;
}
@media only screen and (min-width: 421px) {
    .cat_auto .searchEngine select{
        width:107px;
    }
    .cat_auto .searchEngine select#region{
        width: 87px;
    }
    .cat_utils .searchEngine select,
    .cat_moto .searchEngine select{
        width: 123px;
    }
    .searchEngine #formulaire #energie{
        margin-bottom: 0;
    }
    .cat_loisir .searchEngine .lienCategorie,
    .cat_loisir .searchEngine select{
        width: 119px;
    }
}
@media only screen and (max-width: 420px) {
    .cat_moto .searchEngine select#prix_maxi,
    .cat_loisir .searchEngine select#prix_maxi{
        width:100% !important;
    }
}
.cat_loisir .searchEngine #div_category{
    width: 260px;
    height: 226px;
    top: 109px;
    left: auto;
    right: auto;
    margin-left: -1px;
    border-color: #000;
    border-left-color: #666;
    border-bottom-color: #666;
}
 .searchEngine select::-ms-expand{
    display: none;
} /* Masquage de la fleche du select native sur IE */
.searchEngine select option{
    padding: 1px 5px;
}
.searchEngine #Valider,
.ValiderPN{
    color: white;
    height: 43px !important;
    border-radius: 0;
    padding: 3px 18px;
}
.searchEngine .advancedSearch{
    font-size: 14px;
    color: white;
    line-height: 45px;
    text-align: center;
    text-decoration: underline;
    float: right;
    margin-right: 15px;
}
#compteur{
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: right;
    float: right;
    margin-right: 45px;
    line-height: 45px;
}
#recherche > #compteur,
#recherche > .advancedSearch{
    display: none; /* evite l'apparition a un mauvais emplacement lors d'un resize */
}
#pavePub{
    min-width: 300px;
    float: right;
    margin-right: 2px;
}
.fastAccessLine{
    overflow: hidden;
}
.fastAccessPages{
    overflow: hidden;
    margin-bottom: 40px;
}
.fastAccessPages a{
    width: 31%;
    margin-left: 2%;
    float: left;
    color: #333;
}
.fastAccessPages img{
    float: left;
    width: 35%;
    max-width: 90px;
}
.fastAccessPages a h2{
    font-size: 18px;
    margin-top: 10px;
}
.fastAccessPages a span{
    font-size: 14px;
}
.fastAccessPages > a:hover .circ.bgBlue,
.fastAccessPages > a:focus .circ.bgBlue,
.fastAccessPages > a:active .circ.bgBlue{
    background-color: #027094!important;
}
.fastAccessVehicles{
    overflow: hidden;
    padding: 0 15px 15px;
}
.fastAccessVehicles ul{
    width: 33%;
    float: left;
}
.cat_loisir .fastAccessVehicles ul{
    width: 16.6%;
}
.fastAccessVehicles li{
    clear: both;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 10px;
}
.fastAccessVehicles li a{
    display: block;
    padding: 0;
}
.fastAccessVehicles ul + ul li{
    margin-left: 5px;
}
.fastAccessVehicles h2,
.pubHomeTablet h2{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-bottom: 5px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 10px;
    margin-right: 10px;
}
.fastAccessVehicles .catScooter,
.fastAccessVehicles .catQuad{
    display: none;
}
.topBrands,
.topModels{
    width: 49%;
}
.topBrands{
    float: left;
}
.cat_loisir .topBrands{
    width: 100%;
}
.topModels{
    float: right;
}
.topBrands ul:last-child,
.topModels ul:last-child{
    width: 100%;
}
.cat_loisir .topBrands ul:last-child{
    width: 16.6%;
}
.topBrands ul:last-child li,
.topModels ul:last-child li{
    clear: none;
    width: 32%;
    margin: 0px;
}
.cat_loisir .topBrands ul:last-child li{
    clear: both;
    width: auto;
    margin: 0 5px 10px 5px;
}
.topBrands ul:last-child li:first-child,
.topModels ul:last-child li:first-child{
    float: left;
}
.cat_loisir .topBrands ul:last-child li:first-child{
    float: none;
}
.topBrands ul:last-child li:last-child,
.topModels ul:last-child li:last-child{
    float: right;
    width: 31%;
    margin-right: 2%;
}
.cat_loisir .topBrands ul:last-child li:last-child{
    float: none;
    width: auto;
    margin-right: 5px;
}
.commLine .btnBlue > span{
    line-height: normal !important;
    padding: 6px 0;
}
.zoomTitle{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
}
.zoomAds{
    overflow: hidden;
}
.zoomAds li{
    float: left;
    width: 12%;
    margin: 0 1%;
}
.zoomAds li:first-child{
    margin-left: 2%;
}
.zoomAds li a{
    font-size: 14px;
    color: #333;
    text-align: center;
}
.zoomAds li a img{
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
}
.zoomAds li a *{
    display: block;
}
.searchEngine #div_category{
    position: absolute;
    z-index: 100;
    background: white;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-top: 0;
    margin-top: -10px;
    margin-left: 1px; /* correctif pour navigateur imprecis */
    margin-right: -1px; /* idem */
}
.commLine{
    color: #333;
    margin-bottom: 50px;
}
.commLine1 ul{
    overflow: hidden;
}
.commLine li{
    display: inline-block;
    float: left;
    width: 50%;
}
.commTitle1{
    font-size: 18px;
    font-weight: bold;
}
.commLine li .imgComm img{
    max-width: 100%;
}
.commLine li .imgComm a{
    margin-right: 7%;
}
.widthAuxPetitsOignons{
    width: 580px !important;
}

@media only screen and (max-width: 767px){
    .cat_loisir .searchEngine .lienCategorie{
        width: auto !important;
        float: none;
        margin-bottom: 10px;
        padding-right: 0;
        overflow: hidden;
    }
    .cat_loisir .searchEngine #div_category{
        top: 158px;
        width: auto !important;
    }
    .searchEngine .searchEngineFields{
        max-width: 748px !important;
    }
    .cat_auto .searchEngine select#region{
        width: 100% !important;
    }
    .responsive .commLine{
        margin-bottom: 10px;
    }
    .responsive .commLine1 ul{
        padding-bottom: 3px;
    }
    .responsive .commLine li{
        float: none;
        width: 100%;
        clear: both;
        margin-bottom: 40px;
    }
    .responsive .commLine li:last-child{
        margin-bottom: 5px;
    }
    .responsive .commLine li img{
        display: none;
    }
    .responsive .commLine .zoomTitle{
        margin-top: 0;
    }
    .responsive .commLine .btnDepositAnnounce,
    .responsive .commLine .btnSearchPro{
        margin-top: 25px !important;
        text-align: center;
    }
    .responsive .commBlock{
        float: none !important;
        width: 100%;
    }
    .responsive .achatVenteVehic img{
        display: none;
    }
    .responsive .achatVenteVehic .floatL{
        float: none !important;
    }
    .responsive .achatVenteVehic .w50{
        width: 100% !important;
    }
    .responsive .achatVenteVehic .mT40{
        margin-top: 20px !important;
        margin-bottom: 20px;
    }
    .responsive .achatVenteVehic .mR60,
    .responsive .achatVenteVehic .mL60{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .responsive .achatVenteVehic .pL30{
        padding-left: 10px !important;
    }
    .responsive .searchEngine #prix_maxi{
        float:left;
        width:48% !important;
    }
}

@media only screen and (max-width:1200px){
    .responsive .cat_loisir .fastAccessVehicles ul{
        width: 33%;
    }
    .responsive .cat_loisir .fastAccessVehicles ul + ul + ul + ul{
        clear: left;
    }
    .responsive .cat_loisir .fastAccessVehicles ul + ul + ul + ul li{
        margin-left: 0;
    }
    .responsive .cat_loisir .fastAccessVehicles ul + ul + ul + ul + ul{
        clear: none;
    }
    .responsive .cat_loisir .fastAccessVehicles ul + ul + ul + ul + ul li{
        margin-left: 5px;
    }
}

@media only screen and (min-width:768px) and (max-width:1200px){
    .responsive .commLine li .imgComm{
        width: 40%;
    }
    .responsive .commBlock{
        width: 60%;
    }
    .responsive .commLine li{
        margin-bottom: 20px;
    }
    .responsive .commLine .btnDepositAnnounce,
    .responsive .commLine .btnSearchPro{
        margin-top: 25px !important;
    }
    .responsive .achatVenteVehic a .w50{
        width: 40% !important;
    }
    .responsive .achatVenteVehic img{
        width: 100%;
    }
    .responsive .achatVenteVehic a .hiddenOverflow{
        padding: 0 10px;
    }
    .responsive .achatVenteVehic .mT40{
        margin-top: 30px !important;
        margin-bottom: 20px;
    }
    .responsive .widthAuxPetitsOignons{
        width: 50% !important;
    }
    .responsive .achatVenteVehic .pL30{
        padding-left: 10px !important;
    }
    #pavePub{
        float:none !important;
    }
    .pubHomeTablet{
        margin-top:10px;
    }
}
