@media only screen and (max-width: 320px) {
    #enrichissement .VolumeCoffre{
        margin: 0!important;
    }
    .VolumeCoffre .divCoffre {
        width: 270px;
    }
    #enrichissement .emissionFuel{
        margin: 0!important;
    }
    #Conso, .EchelleCO2 {
        width: 260px;
        padding: 0 10px;
    }
    .responsive .infosGen .btnGrey {
        width:220px;
    }
    .searchEngineMob div.anneeMin ,
    .searchEngineMob div.anneeMax  {
        width:41%!important;
        float: left;
        margin: 0 1% 10px 1%;
    }
    .searchEngineMob #mileage_mini,
    .searchEngineMob #mileage{
        display:block;
    }
    .responsive .searchEngineMob  #mileage_mini,
    .responsive .searchEngineMob  #mileage{
        width:29%;
    }
    .responsive .searchEngineMob #prix_mini,
    .responsive .searchEngineMob #prix_maxi,
    .responsive .searchEngineMob #pfisc_mini,
    .responsive .searchEngineMob #pfisc_maxi,
    .responsive .searchEngineMob #pdin_mini,
    .responsive .searchEngineMob #pdin_maxi {
        width: 36%;
    }
    .responsive .searchEngineMob  #mileage_mini,
    .responsive .searchEngineMob  #mileage{
        width:32%;
    }
    .responsive .searchEngineMob  #length{
        width:89%;
        font-size:14px;
    }
    .inputRadioMoteurHome label {
        width: 50%;
    }
    .searchForm input[type=text],
    .searchForm input[type=number]{
        padding-right:0;
    }

	.marqueMobLinkLogo{
          display: block;
          float: initial;
          overflow: hidden;
    }
    .marqueMobLinkText{
          font-size: 13px!important;
          line-height: 18px!important;
    }
    .upCtrl {
        right:0px;
    }
}
@media only screen and (min-width:321px) and (max-width:375px) {
    .searchEngineMob div.anneeMin ,
    .searchEngineMob div.anneeMax  {
        width:40%!important;
        float: left;
        margin: 0 1% 10px 1%;
    }
    .responsive .searchEngineMob  #length{
        width:89%;
        font-size:14px;
    }

    .inputRadioMoteurHome label {
        width: 50%;
    }

	.marqueMobLinkLogo{
          display: block;
          float: initial;
          overflow: hidden;
    }
    .marqueMobLinkText{
          font-size: 13px!important;
          line-height: 18px!important;
    }
    .upCtrl {
        right:0px;
    }
}
@media only screen and (max-width: 375px) {
    .txtPictoR{
        width:75%;
        text-align:left;
        line-height:13px!important;
    }
    .kmYearPrice{
        display:block;
    }
    .kmYearPrice .flexBox {
        -webkit-justify-content:space-between;
        justify-content:space-between;
    }
    .kmYearPrice .flexBox div.fieldYear{
        flex-grow:inherit;
    }
    .flexBox.flexBoxFullW{
        -webkit-justify-content:flex-end;
        justify-content:flex-end;
        line-height:inherit !important;
    }
    .brandModelTitle{
        max-height:67px !important;
        text-overflow: ellipsis;
    }
    .version{
        text-overflow: ellipsis;
    }
    .subContRight{
        min-height:80px;
    }
    .fieldMileage{
        padding:0 10px !important;
    }
    .fieldPrice{
        padding-left:10px !important;
    }
    .fieldYear{
        padding-right:10px !important;
    }
}
@media only screen and (min-width:376px) and (max-width:435px) {
    .kmYearPrice{
        clear:both;
    }
    .searchEngineMob div.anneeMin ,
    .searchEngineMob div.anneeMax  {
        width:42%!important;
        float: left;
        margin: 0 1% 10px 1%;
    }
    .responsive .searchEngineMob  #length{
        width:100%;
        font-size:14px;
    }
    .inputRadioMoteurHome label {
        width: 50%;
    }
    .upCtrl {
        right:0px;
    }
}
@media only screen and (min-width:436px) and (max-width:767px) {
    .responsive .searchEngineMob  #length{
        width:89%;
        font-size:14px;
    }
}
@media only screen and (min-width:436px) and (max-width:767px) {
    .searchEngineMob div.marque ,
    .searchEngineMob div.modele  {
        width:44%!important;
        float: left;
        margin: 0 2% 10px 3%;
    }
}

@media only screen and (max-width: 767px) {
    .clearMob{
        clear:both;
        display:block;
    }
    .responsive #Habillage1 {
        width:100%;
    }
    .responsive .habillageL, .responsive .habillageR {
        display:none;
    }
    .responsive .containerSite{
        overflow:hidden;
    }
    .responsive .mainListing .mainCol {
        float:none;
        width:100%;
        min-width:auto;
        min-width:initial;
    }
	.responsive .mainListing .leftAndMainCol {
         float:none;
         width:100%;
         min-width:auto;
         min-width:initial;
    }
    .responsive .containerHeader .containerMenu {
        display:none;
    }

    /* Logo LC */
    .responsive .logoLink {
        margin:0;
    }

    .responsive #monServiceClient{
        display:block;
        padding:15px;
    }
    .responsive .containerMenu li {
        float:none;
    }
    .responsive .rubLinks {
        height:auto;
    }
    .responsive .rubLinks{
        position:static;
    }
    .responsive .rubLinks a {
        line-height:20px;
    }

    /* -- Nav mobile -- */

    .responsive .containerNavMobile {
        height:62px;
        display:block;
    }

    .responsive .navMobile {
        display:block;
        position:fixed;
        top:0;
        width:100%;
        z-index:10000000;
        background:#f6f6f6;
        padding:15px;
        box-sizing: border-box;
        text-align: center;
    }

    .responsive .navMobile #logo                    {width:auto; height:32px;}

    .responsive .navMobile ul                       {overflow:hidden; float:left;}
    .responsive .navMobile ul.toolbarMobileRight    {float:right;}
    .responsive .navMobile ul li                    {float:left;}
    .responsive .navMobile ul li > a                {border-radius: 5px; margin-right: 1px; padding: 0; width: 32px; font-size: 12px; height:32px;}

    .responsive .navMobile ul li:first-child > a {
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
    }

    .responsive .navMobile ul li:last-child > a {
        border-top-left-radius:0px;
        border-bottom-left-radius:0px;
    }

    /* -- Bouton menu -- */
    .responsive .btnOpenMobileMenu span         {display: inline-block; vertical-align: middle;}
    .responsive .btnOpenMobileMenu .iconLine    {background-color: white;}

    /* -- Bouton rechercher -- */
    .btSearchMobile i {transform: scale(0.9);}

    .responsive #navMobile,
    .responsive #searchMobile {
        background:#ececec;
        display:block;
        top:0;
        left:-70%;
        min-height: 100%;
        position:absolute;
        width:70%;
        z-index:10;
    }

    .responsive .openingHoursPopover{
        left:0px;
    }

    .responsive .openingHoursPopover .btnClose{
        font-size:20px;
    }

    .responsive .space{
        clear:none !important;
    }

    .responsive .mainContent {
        float:none;
    }
    .responsive .mainAside {
        float:none;
        width:auto;
    }
    .responsive .rubLinks {
        height:auto;
        position:static;
    }
    .responsive .rubLinks li > a {
        line-height:20px;
        background:#282b34;
        padding:10px 10px 10px 20px;
        border-bottom:1px solid #fff;
        text-transform:none;
        color:#fff !important;
    }
    .responsive .rubLinks li:last-child > a {
        border-bottom:0;
    }
    .responsive .rubLinks > li:first-child > a {
        border-top:0;
    }

    .responsive #copyright {
        border-top:0;
    }
    .responsive .adNav {
        margin:15px 10px;
        text-align:left;
        overflow:hidden;
        text-align:left !important;
        height: 35px;
        line-height: 35px;
    }
    #enrichissement .adNav {
        margin:15px 0 !important;   
    }
    .responsive .adNav a{
        width:auto;
    }
    .responsive .adNav.adNavTop a{
        margin-right: 15px;
    }
    .responsive .adNav a.carre {
        padding:0px!important;
        width:32px;
        height: 32px;
        text-align: center;
    }
    .responsive .adNav a.carre .icon-flech {
        margin:0 auto;
        width:32px;
    }
    .responsive .adNav .prevButton,
    .responsive .adNav .nextButton {
        padding:0;
    }
    .responsive .adNav a .icon-flech{
        height:32px;
        line-height: 32px;
        width:32px;
        padding:0;
        text-align: center;
        float:none!important;
        display:block;
    }
    .responsive .adNav .adCtrls {
        float:right;
        padding-left:10px;
    }
    .responsive .adNav .adCtrls a {
        background:white;
        padding:0;
        border:0;
        line-height:auto;
    }
    .responsive .adNav .adCtrls span {
        padding:0;
    }
    .responsive .adNav .adCtrls [class^=picto] {
        margin-right:0;
    }
    .responsive .adNav.adNavTop .floatR {
        float:none !important;
    }
    .responsive .adNav .nextButton .triangleR,
    .responsive .adNav .prevButton .triangleL {
        position:static;
        margin-left:0;
        margin-top:0;
    }
    .responsive .mainContent {
        width:100%;
    }
    .responsive .box {
        margin-left:10px;
        margin-right:10px;
    }

    .responsive .boxContact.horizontal{
        display:none;
    }

    .responsive .boxContact.horizontal.fixedContacts {
        display:block!important;
    }

    .responsive .boxContact.horizontal.fixedContacts .boxContent{
        width:100%;
    }

    .responsive .boxContact.horizontal.fixedContacts .btnRed{
        box-sizing: border-box;
        margin-right: 2%;
        width: 30%;
    }

    .responsive .boxContact.horizontal.fixedContacts .btnRed [class^="picto"],
    .responsive .boxContact.horizontal.fixedContacts .btnRed [class*=" picto"]{
        display:none;
    }

    .txtPictoR.onlyPhone{
        text-align:center;
        width:100% !important;
    }

    .responsive #banner_Container {
        display:block;
        float:none !important;
        text-align:center;
    }

    .responsive .toMoveOnLeft {
        width:50%;
        float:left;
    }
    .responsive .stockPro,
    .responsive .readMore {
        overflow:hidden;
    }
    .responsive .stockPro {
        padding-top:0 !important;
        border-top:0 !important;
    }
    .responsive .contAussi{
        padding-left:10px;
        padding-right:10px;
    }
    .responsive .blocksToMove {
        overflow:hidden;
        margin-left:10px;
        margin-right:10px;
    }
    .responsive .blocksToMove .box {
        margin-left:0;
        margin-right:0;
    }
    .responsive #movedBlocksForMobile .boxContact .btn {
        margin-right:85px;
    }
    .responsive #movedBlocksForMobile .boxReglSign {
        overflow:hidden;
    }
    .responsive #movedBlocksForMobile .cote a {
        margin-top:10px;
    }
    .responsive #movedBlocksForMobile .ficheTech {
        margin-right:20px;
    }
    .responsive #movedBlocksForMobile .ficheTech {
        margin-right:0;
    }
    .responsive .VolumeCoffre {
        margin: 20px 0 0;
    }
    .responsive .VolumeCoffre .divCoffre{
        margin: 20px 0 80px;
    }
    .responsive .VolumeCoffre.floatL {
        float:none !important;
    }
    .responsive #enrichissement .hiddenOverflow {
        margin: 10px 32px 30px 22px;
    }
    .responsive .boxOptions .w50 {
        float:none !important;
        width:auto !important;
        border-right:0;
    }
    .responsive .boxOptions dl.hiddenOverflow {
        margin:0 20px;
    }
    .responsive .infosGen .w50 {
        float:none !important;
        width:auto !important;
        border-right:0;
        overflow:hidden;
    }
    .responsive .infosGen dl.hiddenOverflow {
        margin:0 20px;
    }
    .responsive .boxCaution {
        display:none;
    }
    .responsive .boxServ {
        margin-top:0;
    }
    .responsive .blocksToMove > .toMoveOnLeft {
        float:none;
        width:auto;
    }
    .responsive .cote,
    .responsive .ficheTech,
    .responsive .contAussi,
    .responsive .meaApp {
        margin:0 10px 20px;
    }
    .responsive .cote {
        margin-top:20px;
        margin-left:0;
        margin-right:0;
    }
    .responsive .ficheTech {
        margin-left:0;
    }
    .responsive .cote a,
    .responsive .ficheTech a {
        display:inline-block;
        width:130px;
        width:auto;
        display:block;
        margin-top:0;
    }
    .responsive .blocksToMove .boxContact .toMoveOnLeft {
        float:none;
        width:auto;
    }
    .responsive #movedBlocksForMobile .boxContact .btn {
        margin-right:0;
        width:240px;
    }

    .responsive .popupGMfermer a{
        padding-right:10px;
    }

    #annuaireConcess a span:before{
        content : "Annuaire des concessions";
    }

    /**
    *  FOOTER
    */

    .responsive .containerFooter .col2 {margin-top:30px;}

    /**
	*  Others
	*/

    .responsive #AutoVisaLink .txtPictoR {

    }
    .responsive #AutoVisaLink strong {
        display:block;
        text-align:left;
    }
    .responsive .infosGen .btnGrey {
        min-width:220px;
        text-align:left;
    }
    .responsive .infosGen .btnGrey [class*="picto"] {
        margin-right:5px;
    }
    .responsive .infosGen p {
        float:none;
    }
    .responsive .pictoQuotation {
        position:relative;
        top:1px;
    }
    .responsive .mainInfos .floatL,
    .responsive .mainInfos .floatR {
        width:50%;
    }

    .responsive	#popupGMdetailTexte,
    .responsive #popupGM,
    .responsive #popupGM2,
    .responsive #popupGM3{
        width: auto;
        margin-right:19px;
        padding-right:0px;
    }
    .responsive .carouselThumbs {
        display:none;
    }
    .responsive .photoGallery.vertical .photoContainer.withCarousel {
        float:none;
        width:100%;
    }
    .responsive .pub,
    .responsive .leftCol {
        display:none;
    }
    .responsive #lioav .stretcher .block .block {
        width:47.5%;
        float:none;
        display:inline-block !important;
        padding:0;
    }
    .responsive #lioav .stretcher .mR20 {
        margin-right:5% !important;
        float:left;
    }
    .responsive #lioav .stretcher .isolImg {
        padding:10px 10px 0;
        display:block;
    }
    .responsive #lioav .stretcher a {
        width:99%;
        padding:0;
    }
    .responsive #lioav .stretcher img {
        width:100%;
    }
    .responsive .voirAussi,
    .responsive .annuairePro {
        margin:0 10px;
    }
    .responsive .sondage2 {
        padding:10px;
        border:1px solid #ccc;
        background:#ebebeb;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:20px;
    }
    .responsive .searchForm #DynVersionReload table,
    .responsive .searchForm #DynVersionReload > #version {
        margin:0 3% 10px;
    }
    .responsive .searchForm #warranty {
        margin:0 0 10px;
    }


    .responsive .breadCrumb {
        margin:0 15px;
    }


    /* pave resultats */

    .responsive .mainCol .nbResults .titleContainer{
        margin-right:3px;
        margin-left:3px;
        max-width:70%;
    }

    .responsive .mainCol .nbResults .txtAlert{
        text-transform:capitalize;
    }

    /* pave tri */

    .responsive .mainCol .triForm{
        display: inline-block;
        vertical-align: top;
        width:36%;
    }
    /*.responsive .mainCol .filters .linkSortOut{
        width:31% !important;
    }*/
    .responsive .mainCol .filters .linkSortOut select{
        padding-left:0px;
    }


    /* pave modeles et modeles commerciaux */

    .responsive .mainCol .enTete .wrapListModel{
        display:none;
    }

    .responsive 	.noPhotoListing, .responsive img.photoListing{
        width:105px;
        height:78px;
        clear:both;
    }

    .responsive .resultList .lowerLineTwo{
        clear:both;
    }

    .responsive  .lowerLineTwo span{
        margin:0px 5px;
        padding:4px 2px;
    }

    .responsive .searchForm .EquipOptContent {
        width:auto;
        margin-left:0;
        margin-right:0;
        left:2.5%;
        right:3%;
    }

    .responsive .mainCol #TriForm.triForm .filters .floatR{
        float:none !important;
        clear:both !important;
        padding-top:10px !important;
    }

    @media screen and (orientation:portrait) {
        .responsive  .lowerLineTwo span{
            margin-right:0px;
        }
    }

    .responsive .pictoVideo{
        left: 30px;
        top: 15px;
    }

    .responsive .btnReceiveByMail {
        display: block;
        text-align: left;
    }

    .responsive .btnReceiveByMail .pictoBellWhite {
        position:absolute;
    }

    .responsive .btnReceiveByMail > span {
        margin-left:0;
        text-align:left;
        padding:5px 0 5px 30px;
        line-height:16px;
    }

    /* Formulaire de contact en page detail */

    .responsive .popinMailDealer {
        margin:0;
    }
    .responsive #civilite,
    .responsive .fieldPhone
    {
        display:none;
    }

    .responsive .refineSearch {
        display:inline-block;
        width:62%;
    }

    .responsive .refineSearch a {
        background:#8e8e8e;
        color:white;
        font-size:14px;
        height:32px;
        line-height:32px;
        border-radius:5px;
        white-space: nowrap;
        padding:7px 4px;
    }

    .responsive .refineSearch .pictoZoomWhite{
        margin:0;
    }

    .responsive .refineSearch.noResult {
        box-sizing: border-box;
        display: block;
        width:auto;
    }

    .responsive .refineSearch.sticky {
        background-color: rgba(0, 0, 0, 0.6);
        position:fixed;
        bottom:0;
        left:0;
        padding: 15px 0;
        text-align: center;
        width:100%;
        z-index:10;
    }

    .responsive .refineSearch.sticky > a {
        padding-right:25px;
    }

    .pictoZoomWhite {
        background-position: -774px -35px !important;
        width: 25px;
    }
    .responsive .sortOutDescending {
        margin-right:25px;
    }


    .responsive .infosGen .hiddenOverflow .hiddenOverflow,
    .responsive .boxOptions .hiddenOverflow {
        margin:0 20px;
    }

    /* sondage en detail d'annonce */

    .responsive .sondage {
        margin:0 10px 20px;
    }
    .responsive #mymap {
        width:100% !important;
    }

    /* popin */

    .responsive .popin .popinBody {
        margin-top:15px;
    }

    .responsive .popinClose .popinCloseCross{
        font-size:18px;
    }

    /**
    * HOME PAGE BLOC LINES
    */

    .responsive .containerContent .line{
        margin-left:10px;
        margin-right:10px;
    }

    /*
    *	HOME PAGE : MENU MOBILE
    */

    .responsive .rubLinks{
        border-bottom-right-radius:0px;
    }

    .responsive .rubLinks > li.rubSell > a{
        border-top-left-radius:0px;
        background: none;
    }

    .rubLinks > li.rubSell a.msgDepotMenu {
        position: relative;
        right: inherit;
        margin-top: 0;
        padding:10px 10px 10px 20px;
        display:block;
        line-height:20px;
        background:white;
    }

    /**
    *	HOME PAGE : BLOC DERNIERES ANNONCES CONSULTEES
    */

    .responsive .zoomAds li{
        width: 47.5%;
    }
    .responsive .zoomAds li:nth-child(n+3) {
        display:none;
    }

    /**
    * HOME PAGE : MOTEUR DE RECHERCHE
    */

    .responsive .searchEngine{
        background-color:rgba(0, 0, 0, 0.8);
        position:static;
        padding:10px 10px 0;
    }
    .responsive .cat_moto .searchEngine,
    .responsive .cat_loisir .searchEngine {
        padding:10px;
    }
    .responsive .searchEngine .searchEngineFields {
        width:auto;
    }
    .responsive .searchEngine select {
        height:32px;
        line-height:32px;
        float:none;
        border-radius:3px;
        margin:10px 0;
        width:100%;
    }
    .responsive #recherche > .searchEngineFields {
        background:none;
    }
    .responsive .homeCloud {
        background:none;
        padding:0;
    }
    .responsive .searchEngine #prix_maxi{
        margin-top:0;
    }

    .responsive .cat_moto .searchEngine #region,
    .responsive .cat_loisir .searchEngine #region {
        clear:both;
        float:none;
        width:100%;
    }
    .responsive .searchEngine #energie{
        float:right;
        width:48% !important;
    }
    .responsive .searchEngine #Valider {
        height:32px !important;
        line-height:16px !important;
        border-radius:3px;
        width:100% !important;
        margin-bottom:10px;
    }
    .responsive #Promoneuve .btn.ValiderPN{
        height: 32px !important;
        line-height: 16px !important;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
    }
    .responsive .searchEngineCat {
        width:auto;
        float:none;
        border-bottom:1px solid white;
    }
    .responsive #compteur {
        display:block !important;
        float:none;
        line-height:inherit;
        margin-right:0;
        margin-bottom:5px;
    }
    .responsive .advancedSearch {
        display:block !important;
        margin-right:0;
        line-height:inherit;
        margin:5px 0 10px;
    }
    .responsive .searchEngineFields #compteur,
    .responsive .searchEngineFields .advancedSearch {
        display:none; /* evite l'apparition du compteur et de la recherche avancee aux mauvais emplacements le temps du chargement de page */
    }

    .cat_loisir .searchEngine #prix_maxi{
        width:100% !important;
    }

    /**
    * HOME PAGE : BLOCS TOP MARQUES / MODELES
    */

    .responsive .fastAccessVehicles{
        margin:15px 0px 0px 0px;
    }

    .responsive .fastAccessVehicles li{
        margin-bottom:10px;
    }

    .responsive .filters .w120p {
        width:90px !important;
    }

    .responsive .galerie .imgContent > img {
        height:auto;
        width:100%;
    }

    .responsive .galerie .adContainer {
        float:none;
        width:auto;
        margin-bottom:10px;
    }
    .responsive .galerie .adContainer .linkAd {
        margin-right:0;
    }
    .responsive .galerie .favContainer {
        right:10px;
    }
    .responsive .galerie .adLineContainer {
        margin-bottom:0;
    }
    .responsive .galerie .adContainer + .adContainer .linkAd {
        margin-left:0;
    }
    .responsive .assurcredit a {
        display:block;
        line-height:32px;
        float:none;
        clear:both;
    }
    .responsive .fastAccessVehicles .topBrands{
        border-right:none;
    }

    .responsive  .fastAccessVehicles .topModels{
        margin-top:20px;
    }

    .responsive .fastAccessLine{
        width:100%;
    }

    /**
    *	LISTING
    */
    .responsive .pictoAutovizaSmall {
        transform:scale(0.8);
    }

    /* MOTEUR DE RECHERCHE MOBILE */

    .responsive .searchEngineMob .menuCategory .menuCategoryContent ul li {
        width:20%;
    }
    .responsive .searchEngineMob #prix_mini,
	.responsive .searchEngineMob #prix_maxi,
    .responsive .searchEngineMob #pfisc_mini,
    .responsive .searchEngineMob #pfisc_maxi,
    .responsive .searchEngineMob #pdin_mini,
    .responsive .searchEngineMob #pdin_maxi{
        width:76%;
        font-size: 14px;
    }
    .responsive .searchEngineMob #mileage_mini,
	.responsive .searchEngineMob #mileage{
        width:76%;
        font-size: 14px;
    }
    .responsive .searchEngineMob #version {
        margin-left:0px;
    }
    .popin .popinClose {
        background:white;
    }
    .initialsMoney,
    .initialsKm,
    .initialsLength{
        text-align:right;
        padding-right:4px;
    }

    /* popin telechargement appli LC */

    .responsive .popinApp .popinBody{
        margin-top:0px;
    }

    /* Bloc infos gen detail */

    .responsive .infosGen .mL20 .btn {
        width:auto;
        max-width:174px;
        line-height:18px;
    }
    .responsive .infosGen .mL20 [class*=picto] {
        float:left;
    }
    .responsive .mainInfos .floatL .floatL .mH3 {
        margin:10px 0 !important;
    }

    /* Page conseils */


    .responsive .advicesHomePage .unit {width:100%;}
    .responsive .advicesHomePage .unit2{width:100%; padding-left:0px; margin-top:10px;}
    .responsive .advicesHomePage .unit2 .contentBlock {padding-left:0px;}
    .responsive .advicesHomePage .unit2{border-left:none; border-top:1px solid #c8c8c8;}

    .responsive .tzArnaques .unit{width:100%;}
    .responsive .tzArnaques .unit2{width:100%; clear:both;}
    .responsive .tzArnaques .unit2 div{width:100%; float:none !important;}

    .responsive .meaRight{margin-bottom:20px; width:100%; !important}
    .responsive .media {float:none;}
    .responsive .media  ul li{float:left; margin-right:10px;}

    /* menu categories (listing, page cote, services etc) */

    .responsive .menuCategory .menuCategoryContent{
        float:none;
    }

    .responsive .menuCategory .menuCategoryContent ul{
        margin:0px 0px 15px 0px;
    }

    .responsive .menuCategory .menuCategoryContent ul li {
        width:25%;
    }

    /* page services */

    .responsive .servicesPage{
        padding-right:10px;
        padding-left:10px;
    }

    .responsive .servicesPage .pave{
        float:none!important;
        width:100%;
        height:auto;
    }

    .responsive .servicesPage .warrantyMeca{
        width:100%;
    }

    .responsive .servicesPage .menuCategoryContainer{
        float:none;
    }

    /* Page Autoviza */

    .responsive .autovizaPage#LimitBody{
        margin:0px 10px;
    }

    .responsive .autovizaPage .topBlock{
        clear:both;
    }

    .responsive .autovizaPage .topBlock .autovizaImgContainer{
        float:none;
        width:auto;
    }

    .responsive .autovizaPage .topBlock .topBlockText{
        float:none;
        width:100%;
    }

    .responsive .autovizaPage .mainCol{
        width:100%;
    }

    .responsive .autovizaPage .sideBar{
        width:100%;
    }

    /* page qui sommes nous */

    .responsive .societyInfo {padding:0px;}
    .responsive .societyInfo .mainTitle {padding-left:0px; margin-top:0px; margin-bottom:10px;}
    .responsive .societyInfo .titleArticle {margin-bottom:15px;}
    .responsive .societyInfo .websitesList li {float:none;width:100%; margin-bottom:50px;}
    .responsive .societyInfo .websitesList li span {min-height:50px;}


    /* iframes partenaires */

    .responsive .announceContainer .announceContainerPhoto img{
        max-width:none;
    }

    /* customisation des titres de popin */

    .responsive .popinHeader .f18 {
        font-size:14px !important;
    }

    /* Infos detail */

    .responsive .title3Detail + .floatL {
        clear:both;
        position:absolute; /* Necessaire pour esquiver le passage a la ligne du au bloc parent floate */
        width:95%; /* Pas plus pour ne pas faire apparaitre la barre de defilement horizontale sur le body */
        margin-top:30px;
    }
    .responsive .title3Detail + .floatL .mR20 {
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .responsive .title3Detail {
        margin-bottom:50px;
    }
    .responsive .mainInfos .floatL .floatL .floatL + .floatL {
        width:auto;
        margin-left:20px;
        position:absolute;
        right:15px;
        margin-top:8px;
    }
    .responsive .title2Detail,
    .responsive .ofezhez {
        min-height:17px;
    }
    .responsive .blockInMob {
        display:block;
    }
    .responsive .boxContact .btnRed{
        text-align:center;
    }

    /* Correctifs suite a des retouches graphiques qui n'ont pas ete testees sur mobile */

    .responsive .mainListing .rightCol {
        float:none;
        width:auto;
    }
    .responsive .contCoteFichTech,
    .responsive .legende {
        margin-left:10px;
        margin-right:10px;
    }
    .responsive .contCoteFichTech .ficheTech {
        margin-right:0;
    }
    .responsive .contAussi {
        margin-left:0;
        margin-right:0;
    }
    .responsive .legende {
        margin-bottom:20px;
    }
    .lH18.f14.noWrap{
          white-space:normal !important;
          padding-left:48px;
    }
    .bgGreyF3.mR25.mH20.p15{
        margin:0 10px 20px !important;
    }

    /* ************ *
     * PAGE VENDRE  *
    /* ************ */

    .responsive .sellPage .mainCol {position: relative;padding-top: 0;}
    .responsive .sellPage .mainCol .breadCrumb,
    .responsive .sellPage .mainCol .menuCategoryContainer,
    .responsive .sellPage .mainCol h1 {position: relative;}
    .responsive .sellPage .mainCol .breadCrumb {top: 0;left: 0;}
    .responsive .sellPage .mainCol .menuCategoryContainer {top: 0;left: 0;}
    .responsive .sellPage .mainCol h1 {top: 0;left: 0;}
    .responsive .sellPage .mainTitle, .responsive .sellPage .menuCategoryContainer {margin-top:0;}

    .responsive .sellPage .menuCategoryContainer {float:none !important;}
    .responsive .sellPage .mainTitle {float:none; margin-bottom:10px;}
    .responsive .sellPage .subTitle {margin-top:20px;}

    .responsive .sellPage .mainCol {width:100%;}
    .responsive .sellPage .blockL {width:100%;}
    .responsive .sellPage .blockL > div > div:nth-child(1) {transform:scale(0.7); -webkit-transform:scale(0.7); -ms-transform:scale(0.7);}
    .responsive .sellPage .blockL > div > div:nth-child(2) {margin-left:0 !important; margin-top:35px !important; width: 55%;}
    .responsive .sellPage .blockL > div > div:nth-child(3) {margin-left:0; text-align:justify; width:100%;}
    .responsive .sellPage .blockL > div > div:nth-child(3) .dealText{width:100%;}
    .responsive .sellPage .blockL > div > div:nth-child(2).shieldLC {margin-top:24px !important;}
    .responsive .sellPage .blockL .bgCircBlue {margin-left: -12px;}
    .responsive .sellPage .blockL h3 {width:180px;}

    .responsive .sellPage .blockR {float:none; clear:both; width:100%;}

    .responsive  .sellPage .depositAnnounce {width:100%; margin-top:20px; margin-left:0;}
    .responsive .sellPage .depositAnnounce  a.btnRed,
    .responsive .sellPage .depositAnnounce  a.btnGrey {
        position: fixed;
        bottom: 0;
        width: 48%;
        display: block;
        text-align: center;
        z-index: 10000000;
        font-size: 14px;
        font-weight: bold;
    }
    .responsive .sellPage .depositAnnounce  a.btnRed {width:55%;left:0;}
    .responsive .sellPage .depositAnnounce  a.btnGrey{width:40%;right:0;}
    .responsive .sellPage .depositAnnounce .greyCard {display:block;}

    .responsive .sellPage .tarifAnnounce {width:100%;}
    .responsive .sellPage .tarifAnnounce > div { width:100%; margin-right:0; margin-bottom:5px;}
    .responsive .sellPage .tarifAnnounce > div > div {margin-right:0;}
    .responsive .sellPage .tarifAnnounce > div > div:nth-child(1){width:60%; float:left; box-sizing:border-box; height:55px;}
    .responsive .sellPage .tarifAnnounce > div > div:nth-child(2){width:40%; float:left;  box-sizing:border-box; height:55px; line-height:30px;}


    .responsive .sellPage select { margin-right:0; margin-bottom:25px;}

    .responsive .sellPage .moreInfo {width:100%; text-align:center; float:none;}
    .responsive .sellPage .moreInfo a {display:inline-block;}

    .inputRadioMoteurHome {
        border: 1px solid #c8c8c8;
        border-radius:5px;
        display:inline-block;
        overflow: hidden;
        vertical-align: middle;
        width:100%;
        margin-top:10px;
    }

    .inputRadioMoteurHome label {
        background-color: #e1e1e1;
        border-right: 1px solid #c8c8c8;
        box-sizing: border-box;
        color: #333;
        float: left;
        line-height: 32px;
        text-align: center;
        padding:0 15px;
        width: 50%;
    }

    .inputRadioMoteurHome label:last-child {
        border-right:none;
    }

    .inputRadioMoteurHome label:hover {
        background-color: #c8c8c8;
    }

    .inputRadioMoteurHome input[type="radio"]:checked + label {
        background-color: white;
        cursor:default;
        font-weight: bold;
    }

    .inputRadioMoteurHome input[type="radio"] {
        display: none;
    }

    .autovizaPage p{
        text-align: left!important;
        text-justify: auto!important;
    }
    .upCtrl {
        right:0px;
    }
}
