@media only screen and (min-width:768px) and (max-width:1200px) {

    .responsive #Habillage1 {
        width:100%;
    }

    .responsive .habillageL, .responsive .habillageR {
        display:none;
    }

	/*
	*	HOME PAGE : MENU MOBILE
	*/

    #annuaireConcess a span:before{
        content : "Concessions";
    }

	.rubLinks li > a{
        padding:0 12px !important;
    }
    .rubLinks > li.rubSell .msgDepotMenu {
        margin-right:10px;
    }

	.responsive .adNav {
		margin:10px;
		text-align:left;
		overflow:hidden;
        text-align:left!important;
	}
    .responsive .adNav a{
        width:auto;
        margin-right: 15px;
    }

    .responsive .adNav .prevButton,
    .responsive .adNav .nextButton {
        padding:0;
    }

    .responsive .adNav a .icon-flech{
		height:32px;
        line-height: 32px;
        width:32px;
		padding:0;
        text-align: center;
        float:none!important;
        display:block;
	}

	.responsive .adNav .nextButton .triangleR,
	.responsive .adNav .prevButton .triangleL {
		position:static;
		margin-left:0;
		margin-top:0;
	}
	.responsive .adNav .adCtrls {
		float:right;
		padding-left:10px;
	}
	.responsive .adNav .adCtrls a {
		background:white;
		padding:0;
		border:0;
		line-height:auto;
	}
	.responsive .adNav .adCtrls span {
		padding:0;
	}
	.responsive .adNav .adCtrls [class^=picto] {
		margin-right:0;
	}
	.responsive .adNav .floatR {
		float:none !important;
	}

    .responsive #banner_Container                                   {float:none; margin:0 auto 0;}
    .responsive #Express_way_Container                              {float:none; margin:10px auto 0!important; height:40px !important;}
    .responsive #Express_way_Container .pubExpressWay               {float:none !important;}
    .responsive #Express_way_Container .pubExpressWay .hiddenPhone  {display: none      !important;}
    .responsive #Express_way_Container ul.pubExpressWay             {background:url(/images/lc_fr/expressWayInfo_mob.png) no-repeat left center; clear:both; padding-left:70px !important;}

    .responsive .photoCont {
    	margin-bottom:0;
    }
	.responsive .containerSite {
		width:100%;
	}
	.responsive .containerFooter .floatL {
		width:33.333%;
	}
	.responsive .mainContent {
		box-sizing:border-box;
        width:100%;
	}
	.responsive .box {
		margin-left:10px;
		margin-right:10px;
	}

    .responsive .boxContact.horizontal{
        display:none;
    }

    .responsive .boxContact.horizontal.fixedContacts {
        display:block!important;
    }

    .responsive .boxContact.horizontal.fixedContacts .btnRed{
        box-sizing: border-box;
        margin-right: 2%;
        width: 30%;
    }

	.responsive .toMoveOnLeft {
		width:50%;
		float:left;
	}
	.responsive .stockPro,
	.responsive .readMore {
		overflow:hidden;
	}
	.responsive .stockPro {
		padding-top:0 !important;
		border-top:0 !important;
	}
	.responsive .blocksToMove {
		overflow:hidden;
		margin-left:10px;
		margin-right:10px;
	}
	.responsive .blocksToMove .box {
		margin-left:0;
		margin-right:0;
	}
	.responsive #movedBlocksForMobile .boxContact .btn {
		margin-right:85px;
	}
	.responsive #movedBlocksForMobile .boxReglSign {
		overflow:hidden;
	}
	.responsive #movedBlocksForMobile .cote a {
		margin-top:10px;
	}
	.responsive #movedBlocksForMobile .cote,
	.responsive #movedBlocksForMobile .ficheTech {
		margin-right:20px;
	}
	.responsive .VolumeCoffre {
    	margin:10px 0 0;
	}
    .responsive .VolumeCoffre .divCoffre {
        margin-left:0;
        margin-right:0;
    }

	.responsive #DIN,
	.responsive .EchelleCO2,
	.responsive #consomixte,
	.responsive #Conso {
		display:block;
	}
	.responsive .carouselThumbs {
		display:none;
	}
	.responsive .photoGallery.vertical .photoContainer.withCarousel {
    	float:none;
    	width:100%;
	}
	.responsive .particulier .boxContact {
		margin-right:20px;
		width:49%;
		float:left;
	}
	.responsive .particulier > .toMoveOnLeft  {
		overflow:hidden;
		float:none;
		width:auto;
		margin-top:10px;
	}
	.responsive .particulier .boxContact .toMoveOnLeft {
		width:75%;
	}
	.responsive #movedBlocksForMobile .particulier .cote,
	.responsive #movedBlocksForMobile .particulier .ficheTech {
    	margin-right:0;
	}
	.responsive .photoContainer .galleryPhotoBox .gallery img {max-width:100% !important;}
	.responsive .contCoteFichTech {
		margin-left:10px;
		margin-right:30px;
		clear:left;
	}

    .responsive .contAussi {
        clear:both;
        padding-top:10px;
        width:50%;
    }

	.responsive .contAussi .caradisiac {
        margin: 0 30px 0 10px;
	}
	.responsive .contCoteFichTech .ficheTech,
	.responsive .contAussi .voirAussi {
		overflow:hidden;
	}
	.responsive .contCoteFichTech p {
		margin-bottom:0;
	}
	.responsive .contCoteFichTech .cote a,
	.responsive .contCoteFichTech .ficheTech a {
		margin-top:0;
	}
	.responsive .contAussi .box {
		margin-left:0;
		margin-right:0;
	}
	.responsive #lioav .stretcher .block .block {
		width:47.5%;
		float:none;
		display:inline-block !important;
		padding:0;
	}
	.responsive #lioav .stretcher .mR20 {
		margin-right:5% !important;
		float:left;
	}
	.responsive #lioav .stretcher .isolImg {
		padding:10px 10px 0;
		display:block;
	}
	.responsive #lioav .stretcher a {
		width:99%;
		padding:0;
	}
	.responsive #lioav .stretcher img {
		width:100%;
	}
	.responsive .annuairePro {
		width:50%;
		clear:both;
	}

	.responsive .businessDirectory{
		margin:0 30px 20px 10px;
	}
	.responsive .mainListing .leftCol {
		width:235px;
		min-width:235px;
		overflow:visible;
	}
	.responsive .mainListing .mainCol {
		float:none;
		min-width:auto; /* Pour IE, qui ne lira pas la ligne suivante */
		min-width:initial;
		overflow:hidden;
		width:auto;
	}
	.responsive .mainListing .leftAndMainCol {
		float:none;
		min-width:auto; /* Pour IE, qui ne lira pas la ligne suivante */
		min-width:initial;
		overflow:hidden;
		width:auto;
	}
	.responsive #cp {
		display:block;
		width:205px;
        margin-left:0px;

	}
	.responsive #departement {
		margin-bottom:10px;
	}
	.responsive .searchForm #version {
		width:209px;
	}
	.responsive .searchForm .fixedSubmit {
		width:235px;
	}
	.responsive .galerie .imgContent > img {
    	height:auto;
   		width:100%;
	}
	.responsive .inputLab {
		display:block;
	}
	.responsive .inputLab + .inputLab {
		margin-top:10px;
	}
	.responsive .searchForm .PictoCont {
		padding-left:16px;
		width:84px;
	}
	.responsive .searchForm #div_category input {
		left:0;
	}
	.responsive .sondage2 {
		padding:10px;
		border:1px solid #ccc;
		background:#ebebeb;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:20px;
	}
	.responsive .meaApp {
		margin:0 30px 0 10px;
	}
	.responsive .searchForm #DynVersionReload table,
	.responsive .searchForm #DynVersionReload > #version {
		margin:0 3% 10px;
	}
	.responsive .searchForm #warranty {
		margin:0 0 10px 10px;
	}

	.responsive 	.searchForm input[name="reference"]{
		width:89%;
	}

	.responsive .searchForm .withValue {
		width:180px !important;
	}
	.responsive .breadCrumb {
		margin:0 15px;
	}
	.responsive .searchForm .EquipOptContent {
		width:auto;
		margin-left:0;
		margin-right:0;
		left:7px;
		right:6px;
	}
	.responsive .onLeftForTablet {
		float:left;
		width:50%;
	}
    .responsive .onRightForTablet {
		float:right;
		width:50%;
	}
	.responsive .mainAside {
		width:100%;
	}
	.responsive .boxReglSign {
		margin-left:0;
		margin-right:20px;
	}
	.responsive .refineSearch {
		display:inline-block;
	}
	.responsive .refineSearch a {
		background:#8e8e8e;
		color:white;
		font-size:12px;
		padding:6px 10px 8px;
		border-radius:5px;
		position:relative;
		top:-1px;
	}
	.responsive .filters {
		float:right;
	}
	.responsive .sortOutDescending {
		margin-right:25px;
	}

	.responsive .blockToHide{
		display:none !important;
	}
	.searchForm .labelanneeMin{
		margin: 8px 0px 0px 5px;
	}
	.searchForm .anneeMin ,
    .searchForm .anneeMax  {
      width:39%!important;
      float: left;
      margin: 0 1% 10px 1%;
    }
    .searchForm div.marque ,
    .searchForm div.modele  {
        width:44%!important;
        float: left;
        margin: 0 1% 10px 3%;
    }
	.responsive select {
		text-indent:5px;
	}

	/**
	* HOME PAGE BLOC LINES
	*/

	.responsive .containerContent .line{
		margin-left:10px;
		margin-right:10px;
	}

	/**
	*	HOME PAGE : BLOC DERNIERES ANNONCES CONSULTEES
	*/

	.responsive .zoomAds li{
		width:22.75%;
	}
	.responsive .zoomAds li:nth-child(n+5) {
		display:none;
	}

	/**
	*	HOME PAGE : BLOCS TOP MARQUES / MODELES
	*/

	.responsive .fastAccessVehicles .topBrands{
		border-right:none;
	}
	.responsive .fastAccessVehicles .topModels{
		padding-top:25px;
	}
/*	.responsive .fastAccessVehicles .catAuto li + li + li,
	.responsive .fastAccessVehicles .catAuto ul + ul + ul li + li {
		display:none;
	}
	.responsive .fastAccessVehicles .catAuto ul + ul + ul li:last-child {
		display:block;
	}
*/
	/**
	*	HOME PAGE : PUB REGIE
	*/

	.responsive ul.pubExpressWay {
		width:auto;
	}

    .responsive ul.pubExpressWay li {
        font-size: 13px!important;
        margin-right:0!important;
    }

    .responsive .linkSortOut.w200p {
        width:150px !important;
    }

    .linkSortOut select{
        padding-right: 25px !important;
        padding-left: 0px !important;
    }

    .responsive .sondage {
		clear:left;
	}

	.responsive .mainListing .rightCol {
		float:none;
		width:auto;
		overflow:hidden;
	}
	.responsive .rightCol .pub {
		float:left;
		width:50%;
	}

	/* popin */

	.responsive .popinClose .popinCloseCross{
		font-size:18px;
	}

	/**
	*	LISTING
	*/

	.responsive .mainListing {
		margin-top:10px;
	}
    .responsive .pictoAutovizaSmall {
        transform:scale(0.8);
    }
    .responsive .carabisiac,
    .responsive .publicitePartenaires{
        margin : 0 10px;
    }
    .responsive .publicitePartenaires{
        margin-top:10px;
    }

    /* MOTEUR DE RECHERCHE LISTING */

    .responsive .searchEngineListing #prix_mini,
	.responsive .searchEngineListing #prix_maxi,
    .responsive .searchEngineListing #pfisc_mini,
    .responsive .searchEngineListing #pfisc_maxi,
    .responsive .searchEngineListing #pdin_mini,
    .responsive .searchEngineListing #pdin_maxi{
        width:54%;
    }
    .responsive .searchEngineListing #prix_maxi{
        width:61%;
    }
    .responsive .searchEngineListing #yearmodel_mini,
	.responsive .searchEngineListing #yearmodel_maxi{
        width:90%;
    }
    .responsive .searchEngineListing #length{
        width:84%;
    }
    .responsive .searchEngineListing #mileage_mini,
    .responsive .searchEngineListing #mileage{
        width:43%;
    }
    .responsive .searchEngineListing #mileage{
        width:52%;   
    }
    .responsive .searchEngineListing .localizeRay {
        font-size: 11px
    }
    .labelDe,
    .labelA{
        flex-basis:18%;   
    }
    
    /* MOTEUR DE RECHERCHE MOBILE */

	.responsive .searchEngineMob  #prix_mini,
    .responsive .searchEngineMob  #prix_maxi,
    .responsive .searchEngineMob  #pfisc_mini,
    .responsive .searchEngineMob  #pfisc_maxi,
    .responsive .searchEngineMob  #pdin_mini,
    .responsive .searchEngineMob  #pdin_maxi{
        width:42%;
    }

   .responsive .searchEngineMob #version {
        margin-left:0px;
    }

	/* PAGE SERVICES */

	.responsive .servicesPage .menuCategory ul{
		margin:0px 0px 15px 0px;
	}

	.responsive .servicesPage{
		padding-right:10px;
		padding-left:10px;
	}

	.responsive .servicesPage .warrantyMeca{
		width:100%;
	}

	/* PAGE CONSEILS */

	.responsive .advicesHomePage .unit, .responsive .advicesHomePage .unit2 {width:49%;}
	.responsive .advicesHomePage .unit2 .contentBlock{padding-left:60px;}
	.responsive .tzArnaques .unit{width:100%;}
	.responsive .tzArnaques .unit2{width:100%; clear:both;}
	.responsive .tzArnaques .unit2 div{width:100%; float:left !important;}


	/* PAGE AUTOVIZA */

	.responsive .autovizaPage#LimitBody{
		margin:0px 10px;
	}

	/* IFRAMES PARTENAIRES */

	.responsive .announceContainer .mainInfosLeftContainer, .responsive .announceContainer .mainInfosRightContainer{
		width:100%;
	}
	.responsive .partnerContent .mainTitle {
		margin-top:20px;
	}

	.responsive .announceContainer .mainInfosLeftContainer  .infosLeftContent{
		border-right:none;
		margin-right:0px;
	}

	.responsive .announceContainer .topLeftInfo{
		width:45%;
	}

	.responsive .announceContainer .topRightInfo{
		width:55%;
	}


	/* PAGE VENDRE */

	.responsive .sellPage .mainCol, .responsive .sellPage .tarifAnnounce {width:100%;}
    .responsive .sellPage .mainCol {position: relative;padding-top: 120px;}
    .responsive .sellPage .mainCol .menuCategoryContainer,
    .responsive .sellPage .mainCol h1 {position: absolute;}
    .responsive .sellPage .mainCol .menuCategoryContainer {top: 0;left: 20px;}
    .responsive .sellPage .mainCol h1 {top: 60px;left: 20px;}
    .responsive .sellPage .mainTitle, .responsive .sellPage .menuCategoryContainer {margin-top:20px;}

	.responsive .sellPage .blockL {float:left; width:61%;}
    .responsive .sellPage .blockL .hiddenOverflow .mL{}
    .responsive	.sellPage .blockL  > div > div:nth-child(3) {width:80%;}
	.responsive	.sellPage .blockL  > div > div:nth-child(3) .dealText {width:100%; margin-bottom:10px;}

    .responsive .sellPage .blockR {float:right; width:39%;}
    .responsive .sellPage .blockR img,
    .responsive .sellPage .blockR .hiddenOverflow {float: right;}

	.responsive .sellPage .tarifAnnounce > div {width:25%; margin-right:0%;}
	.responsive .sellPage .tarifAnnounce.moto > div {width:33%;}
	.responsive .sellPage .tarifAnnounce > div > div {margin-right:10%;}

	.responsive .sellPage .moreInfo {width:100%; text-align:center; float:none;}
	.responsive .sellPage .moreInfo a {display:inline-block;}

    .responsive .sellPage .depositAnnounce .greyCard.moto {width: 250px;text-align: center;margin-left: 250px;}

    .modelBlocContent .logoMarqueLink{
        width: 45px;
    }

/* Pour que le block Depopass se comporte normalement sur tablette - passage ? la ligne */
    .lH18.f14.noWrap{
          white-space:normal !important;
    }
    /* mode debraye */
}
@media only screen and (min-width:768px) and (max-width:800px) {
	.responsive .blockInMob { /* Sert a ne pas faire passer le bloc d'infos (en haut droit de chaque detail) a la ligne lors du redimensionnement */
		display:block;
	}

	.searchEngineMob  #mileage_mini,
    .searchEngineMob  #mileage{
        width:40%;
    }
}
