/* Detail */

.mainContent {
	width:900px;
    box-sizing: border-box;
}
.mL10Desktop {
	margin-left:10px !important;
}
.adNav .prevButton img {
	position:relative;
	left:-30px;
}
.adNav .nextButton img {
	position:relative;
	left:38px;
}
.photoCont {
	margin-top:20px;
	margin-right:25px;
}
.searchForm .selectContainer.smallField{
    width:43%;
}
.searchForm .selectContainer.anneeMin,
.searchForm .selectContainer.anneeMax{
    width: 42%;
    float: left;
    margin: 0 0 10px;
}
#annuaireConcess a span:before{
    content : "Annuaire des concessions";
}

/* Listings */

.minHeight1200 {
	min-height:1200px;
}
.pub {
	min-height:274px;
}
