@charset "utf-8";

/*com共通css*/

/* =========================================================
initialisation
========================================================= */
body {
	line-height:1;
	color:#000;
	font-size:62.5%;
}

a { color: #039; text-decoration:none;}
a:link    { color: #039;text-decoration:none;}
a:visited { color: #039;text-decoration:none;}
a:hover   { color: #039;text-decoration:underline;}
a:active  { color: #039;text-decoration:underline;}

/* =========================================================
footerの固定
========================================================= */
body > #wrap {
    height: auto;
    min-height: 100%;
}

html, body, #wrap {
    height: 100%;
}

/* =========================================================
下付き、上付き文字
========================================================= */

sub{
	vertical-align:baseline;
}

/* =========================================================
margin
========================================================= */

/* マージン設定 */
.mb0{
	margin-bottom:0 !important;
}
	
.mbXS{
	margin-bottom:0.3em;}

.mbSS{
	margin-bottom:0.5em;}

.mbS{
	margin-bottom:1em;}

.mbM{
	margin-bottom:2em;}

.mbL{
	margin-bottom:3em;}

.mbLL{
	margin-bottom:4em;}

.premargin{
	margin-bottom:2em;
	}
	
.mb5em{
	margin-bottom:0.5em;
}

.mb10em{
	margin-bottom:1em;
}

.mb15em{
	margin-bottom:1.5em;
}

.bm20em{
	margin-bottom:2em;
}	
	
/* =========================================================
fontsize
========================================================= */
.f9px{
	font-size:0.9em;
	}

.f11px{
	font-size:1.1em;
	}


.f12px{
	font-size:1.2em;
	}
	
.f13px{
	font-size:1.3em;
	}

.f14px{
	font-size:1.4em;
	}
.f15px{
	font-size:1.5em;
	}
.f16px{
	font-size:1.6em;
	}
.f17px{
	font-size:1.7em;
	}
.f18px{
	font-size:1.8em;
	}
.f19px{
	font-size:1.9em;
	}
.f20px{
	font-size:2em;
	}
.f21px{
	font-size:2.1em;
	}
.f22px{
	font-size:2.2em;
	}
	
.f23px{
	font-size:2.3em;
	}
	
.f24px{
	font-size:2.4em;
	}
	
.f25px{
	font-size:2.5em;
	}
	
.f26px{
	font-size:2.6em;
	}
	
/* =========================================================
line-height
========================================================= */
.lh11{
	line-height:1.1em;
	}
.lh12{
	line-height:1.2em;
	}
.lh13{
	line-height:1.3em;
	}
.lh14{
	line-height:1.4em;
	}
.lh15{
	line-height:1.5em;
	}
.lh16{
	line-height:1.6em;
	}
.lh17{
	line-height:1.7em;
	}
.lh18{
	line-height:1.8em;
	}
.lh19{
	line-height:1.9em;
	}
.lh20{
	line-height:2em;
	}
.lh21{
	line-height:21em;
	}
.lh22{
	line-height:22em;
	}
.lh23{
	line-height:23em;
	}
.lh24{
	line-height:24em;
	}
.lh25{
	line-height:25em;
	}
.lh26{
	line-height:26em;
	}
	
/* =========================================================
画像の高さ揃え
========================================================= */
.vatop{
	vertical-align:top;}	

.vamiddle{
	vertical-align: middle;}	

.vabottom{
	vertical-align: bottom;}	

	
/* =========================================================
section
========================================================= */	
	
/* セクションのマージン設定 */	
.section{
	zoom:1;
	margin-bottom:3.5em;
	}

.section .section{
	zoom:1;
	margin-bottom:2em;
	}
	
.section .section .section{
	zoom:1;
	margin-bottom:1.3em;
	}
	
/* =========================================================
clearfix
========================================================= */

/* クリアフィックス */	
.clearfix:after{
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix{
  min-height:1px;
}

* html .clearfix{
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* =========================================================
リストスタイル
========================================================= */
ul.listlinkA li,
ul.listlinkB li,
ul.listlinkC li,
ul.listlinkD li,
ul.listlinkE li,
/*サンライト追加*/
ul.listlinkF li{
	line-height:1.5em;
	}

ul.listlinkA li a,
ul.listlinkB li a,
ul.listlinkC li a,
ul.listlinkD li a{
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	padding-left:10px;
	display:inline-block;
	}

ul.listlinkB li a,
ul.listlinkC li a,
ul.listlinkD li a{
	margin-right:15px;
	}
	
	
ul.listlinkB li{
	float:left;
	width:50%;
	}

	
ul.listlinkC li{
	float:left;
	width:33%;
	}

ul.listlinkD li{
	float:left;
	width:25%;
	}
	
ul.listlinkE li{
	margin-bottom:0.5em;}
	
ul.listlinkE li a{
	font-weight:bold;
	margin-right:5px;
	}
/*サンライト追加*/
ul.listlinkF li a{
	margin-right:5px;
	}

/* =========================================================
table style
========================================================= */

/*tableスタイルパターンA*/
table.tbstA{
	border:1px solid #999;
	width:100%;
	line-height:1.5em;
	}
	
table.tbstA th{
	padding: 5px;
	background:#EEE;
	border:1px solid #999;
	text-align:left;
	}
	
table.tbstA td{
	padding: 5px;
	border:1px solid #999;
	}
	
/*tableスタイルパターンB*/
table.tbstB{
	border:1px solid #999;
	width:100%;
	line-height:1.5em;
	}
	
table.tbstB th{
	padding: 5px;
	font-weight:bold;
	background:#EEE;
	border:1px solid #999;
	text-align:left;
	}
	
table.tbstB td{
	padding: 5px;
	border:1px solid #999;
	}

/*tableスタイルパターンC*/
table.tbstC{
	border:1px solid #999;
	width:100%;
	line-height:1.5em;
	}
	
table.tbstC th{
	padding: 5px;
	background:#EEE;
	border:1px solid #999;
	text-align:left;
	}

table.tbstC td{
	padding: 5px;
	background:#EEE;
	border:1px solid #999;
	}
	
/*tableスタイルパターンD*/	
table.tbstD{
	border:1px solid #999;
	width:100%;
	line-height:1.5em;
	}
	
table.tbstD th{
	padding: 5px;
	background:#EEE;
	border:1px solid #999;
	text-align:left;
	vertical-align:center;
	}
	
table.tbstD td{
	padding: 5px;
	border:1px solid #999;
	vertical-align:center;
	}
	
table.tbstD colgroup.tdtitle{
	background:#E5EAF5;
	}
	

/*tableスタイルパターンE*/	
table.tbstE{
	border:1px solid #999;
	width:100%;
	line-height:1.5em;
	}
	
table.tbstE th{
	padding: 5px;
	background:#EEE;
	border:1px solid #999;
	text-align:left;
	}
	
table.tbstE td{
	padding: 5px;
	border:1px solid #999;
	}
	
table.tbstE colgroup.tdtitle{
	background:#EEE;
	}
	
/*td右揃え*/
table .tdright{
	text-align:right;}

/*tableスタイルパターンF*/	
table.tbstF{
	border:1px solid #999;
	width:100%;
	line-height:1.5em;
	}
	
table.tbstF th{
	font-weight:bold;
	padding: 5px;
	background:#EEE;
	border:1px solid #999;
	text-align:left;
	vertical-align:center;
	text-align:center;
	}
	
table.tbstF td{
	padding: 5px;
	border:1px solid #999;
	vertical-align:center;
	}
	
table.tbstF colgroup.tdtitle{
	background:#E5EAF5;
	}

/*スペックテーブルスタイル*/
.specTable li{
	display:block;
	float:left;
	margin:0 11px 11px 0;
}

.specTableModel li{
	display:block;
	float:left;
	margin:0 5px 5px 0;
}	

/* =========================================================
news table
========================================================= */
#newswrapper{
	width:700px;
	}
	
table.newstable{
	width:100%;
	}
	
table.newstable th,
table.newstable td{
	padding:5px;}
	
/* =========================================================
news table
========================================================= */
.productlineuptable{
	width:100%;
	}
	
.productlineuptable .onecol{
	width:14.2%;}
	
.productlineuptable th{
	padding:5px 0;
	background:#E5EAF5;
	vertical-align:middle;
	font-weight:bold;
	vertical-align: middle;
	border-right:1px #FFF solid;
	}
.productlineuptable td{
	text-align:center;
	}

.productlineuptable td.truepadd{
	padding:0 0 6px 0;
	}
	
.productlineuptable .grey{
	background:#EEE;
	color:#000;}
	
.productlineuptable .grey2{
	background:#EEE;
	}
	
.productlineuptable .productimg td p{
	margin-top:10px;
	}
table.newstable th,
table.newstable td{
	padding:5px;}

/* =========================================================
linkstyle
========================================================= */
.linkicon{
	float:right;
	}

.linkicon a{
	font-weight:bold;
	margin-right:5px;
	}

/* =========================================================
カラムレイアウト
========================================================= */
/*2カラムのとき*/

.box1-2{
	width:340px;
	float:left;
	line-height:1.5em;
	}
	
.box1-2 p{
	line-height:1.5em;
}
	

/*3カラムのとき*/
.box1-3{
	width:223px;
	float:left;
	margin-right:20px;
	line-height:1.5em;
	}

/*5カラムのとき*/
.box1-5{
	width:134px;
	float:left;
	margin-right:10px;
	}

/* =========================================================
ニュートラルなカラムレイアウト
========================================================= */
/*2カラムのとき*/

.box1-2N{
	width:340px;
	float:left;
	}

/*3カラムのとき*/
.box1-3N{
	width:223px;
	float:left;
	margin-right:20px;
	}

/*5カラムのとき*/
.box1-5N{
	width:134px;
	float:left;
	margin-right:10px;
	}

/* =========================================================
ボーダー付きboxスタイル
========================================================= */
.borderbox{
	clear:both;
	border:1px solid #999;
	padding:15px;
	clear:both;
}


.borderbox p{
	line-height:1.5em;
	}
	
.borderbox h3{
	line-height:1.5em;
	}

/*2カラムのとき*/
.borderbox1-2{
	border:1px solid #999;
	padding:12px;
	width:320px;
	float:left;
}

.borderbox1-2 h3{
	line-height:1.5em;
	}
	
.borderbox1-2 p{
	line-height:1.5em;
	}

/*3カラムのとき*/
.borderbox1-3{
	border:1px solid #999;
	padding:10px;
	width:208px;
	float:left;
	margin-right:10px;
}

.borderbox1-3 p{
	line-height:1.5em;
	}

.borderbox1-3 h3{
	line-height:1.5em;
	}
	
	
.borderbox1-3n{
	border:1px solid #999;
	padding:5px 5px 5px 5px;
	width:218px;
	min-height:30px;
	float:left;
	margin-right:9px;
	background:url(/library/websites/com/common/img/arrow.gif) 213px center no-repeat;
	display:table;
	zoom:1;
}

* html .borderbox1-3n{
	position: relative; 
}  

*+html .borderbox1-3n{
	position: relative;
}

	
	
	
	

/*4カラムのとき*/
.borderbox1-4{
	border:1px solid #999;
	padding:10px;
	width:147px;
	float:left;
	margin-right:11px;
}

.borderbox1-4 h3{
	line-height:1.5em;
	}

.borderbox1-4 p{
	line-height:1.5em;
	}


/* =========================================================
太いボーダー付きboxスタイル
========================================================= */
.borderboldbox{
	line-height:1.5em;
	border:5px solid #999999;
	padding: 15px;
	}
	
.borderboldbox p{
	line-height:1.5em;
	}
	
.borderboldbox h3{
	line-height:1.5em;
	}
		
/* =========================================================
背景が青いboxスタイル
========================================================= */
.bluebox{
	line-height:1.5em;
	background:#E5EAF5;
	padding:15px;
	clear:both;
}

.bluebox p{
	line-height:1.5em;
}

.bluebox h3{
	line-height:1.5em;
}
	
.bluebox2{
	line-height:1.5em;
	background:#F6F6F4;
	padding:5px 10px;
	clear:both;
}

/* =========================================================
背景がグレーのboxスタイル
========================================================= */
.graybox{
	line-height:1.5em;
	background:#F6F6F4;
	padding:15px;
	clear:both;
	}
	
/* =========================================================
機能一覧box
========================================================= */	
.functionbox{
	clear:both;
	padding:20px;
	border:1px solid #999999;
	}
	
.functionbox table{
	width:100%;
	border:1px solid #999999;
	}
	
.functionbox table{
	line-height:1.5em;
	}
	
.functionbox table col{
	width:33%;}
	
.functionbox table td{
	padding:0 10px 10px 10px;
	border-right:1px solid #999999;
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	vertical-align:top;
	}

.functionbox table th{
	font-weight:bold;
	padding:10px;
	border-right:1px solid #999999;
	border-left:1px solid #999999;
	border-top:1px solid #999999;
	}
	
/* =========================================================
写真と写真のboxstyle
========================================================= */

/*写真右*/
p.figureA{
	float:right;
	margin:0 0 15px 15px;
	}

p.figureA2{
	float:right;
	margin:0 0 0 15px;
	}

/*写真左*/
p.figureB{
	float:left;
	margin:0 15px 15px 0;
	}

p.figureB2{
	float:left;
	margin:0 15px 0px 0;
	}

/* 写真のキャプション */	
span.figcaption{
	line-height:1.5em;
	display:block;
	}

/*写真右*/
.figureboxA{
	width:80px;
	float:right;
	}
.figureboxA2{
	width:210px;
	float:right;
	}
.figureboxA2caption{
	width:210px;
	float:right;
	margin-left:15px;
	}
.figureboxA2caption img{
	float:left;
	clear:left;
	}
	
.figureboxA3{
	width:100px;
	float:right;
	}

.figureboxA4{
	width:50px;
	float:right;
	}
	
.figureboxB5{
	width:180px;
	float:right;
	}

/*写真左*/
.figureboxB{
	width:80px;
	float:left;
	}
.figureboxB2{
	width:210px;
	float:left;
	}

.figureboxB2caption{
	width:210px;
	float:left;
	margin-right:15px;
	}
	
.figureboxB2caption img{
	float:left;
	clear:left;
	}
.figureboxB3{
	width:100px;
	float:left;
	}
.figureboxB4{
	width:50px;
	float:left;
	}
	
.figureboxB5{
	width:180px;
	float:left;
	}

.figureboxB6{
	width:140px;
	float:left;
	}


/*写真右 テキスト左*/
.figuretextboxA{
	line-height:1.5em;
	float:left;
	width:610px;
	}

.figuretextboxA p{
	line-height:1.5em;
	}
	
.figuretextboxA2{
	line-height:1.5em;
	float:left;
	width:480px;
	}
	
.figuretextboxA2 p{
	line-height:1.5em;
	}


/*写真左　テキスト右*/
.figuretextboxB{
	line-height:1.5em;
	float:right;
	width:610px;
	}
	
.figuretextboxB p{
	line-height:1.5em;
	}

.figuretextboxB h3{
	line-height:1.5em;
	}

.figuretextboxB2{
	line-height:1.5em;
	float:right;
	width:480px;
	}
	
.figuretextboxB2 p{
	line-height:1.5em;
	}


/* =========================================================
各ボックスごとの写真とテキストのスタイル
========================================================= */



/*2カラムのとき*/
.box1-2 .figuretextboxA{
	line-height:1.5em;
	float:left;
	width:225px;
}

.box1-2 .figuretextboxB{
	line-height:1.5em;
	float:right;
	width:225px;
	}
	
.box1-2 .figuretextboxc{
	line-height:1.5em;
	float:right;
	width:265px;
	padding:5px 0 5px 0;
	margin-bottom:0.5em;
	}	
	
	
	
.box1-2 ul.normalList{
	font-size:1em;
	}
	

/*3カラムのとき*/	
.box1-3 .figuretextboxA{
	line-height:1.5em;
	float:left;
	width:150px;
	}

.box1-3 .figuretextboxB{
	line-height:1.5em;
	float:right;
	width:130px;
	}
	
/*ボーダー付きボックスのとき*/
.borderbox .figuretextboxA{
	line-height:1.5em;
	float:left;
	width:580px;
	}

.borderbox .figuretextboxA2{
	line-height:1.5em;
	float:left;
	width:450px;
	}

.borderbox .figuretextboxB{
	line-height:1.5em;
	float:right;
	width:580px;
	}
	
.borderbox .figuretextboxB p{
	line-height:1.5em;
	}
	
.borderbox .figuretextboxB2{
	line-height:1.5em;
	float:right;
	width:450px;
	}

/*ボーダー付きボックス2/1サイズのとき*/
.borderbox1-2 .figuretextboxA{
	line-height:1.5em;
	float:left;
	width:225px;
}
.borderbox1-2 .figuretextboxB{
	line-height:1.5em;
	float:right;
	width:225px;
}

.borderbox1-2 .figuretextboxB3{
	line-height:1.5em;
	float:right;
	width:205px;
}

.borderbox1-2 .figuretextboxB4{
	line-height:1.5em;
	float:right;
	width:255px;
}

.borderbox1-2 .figuretextboxB6{
	line-height:1.5em;
	float:right;
	width:165px;
}


/*ボーダー付きボックス3/1サイズ　左写真*/
.borderbox1-3 .figuretextboxA{
	float:left;
	width:114px;
	line-height:1.5em;
}

.borderbox1-3 .figuretextboxB{
	float:right;
	width:114px;
	line-height:1.5em;
}

/*太いボーダー付きボックス3/1サイズ　左写真*/

.borderboldbox .figuretextboxB5{
	float:right;
	width:470px;
	line-height:1.5em;
}

/*青いボーダー付きボックス3/1サイズ*/

.bluebox .productpoint{
	float:left;
	width:200px;
	margin:0 13px;
	text-align:center;}

.bluebox .productpoint p.pointtitle{
}
	
.bluebox .productpoint p{
	margin-bottom:10px;
	font-weight:bold;}

.bluebox .productpoint p a{
	font-weight:bold;
	margin-right:5px;}


/* =========================================================
box共通スタイル
========================================================= */

/*box最後のスタイル*/
.boxlast{
	float:right !important;
	margin-right:0 !important;
}

/*ボーダー付きボックスの中のタイトルリンク*/
.borderbox1-2 h3 a,
.borderbox1-3 h3 a,
.borderbox1-4 h3 a{
	margin-right:5px;
	font-weight:bold;
}

/*ボックスの中のタイトル*/

.boxtitle{
	line-height:1.5em;
	margin-bottom:0.5em;
	font-weight:bold;
	}

.boxtitle_m{
	font-weight:bold;
	width:340px;
	clear:both;
	}
	


.boxtitle a{
	font-weight:bold;
	margin-right:5px;
	}
	
.boxtitle_m a{
	font-weight:bold;
	margin-right:5px;
	}
	

.boxtitle_ms a{
	font-weight:bold;
	margin-right:5px;
	}
	
.divtable{
	display: table;
	zoom:1;
	}

.celltable{
	display:table-cell;
    vertical-align: middle;
	zoom:1;
	}
	
.catchphrase{
	line-height:1.5em;
	font-weight:bold;
	margin-bottom:0.5em;
	}
	
/* =========================================================
バナー風のboxスタイル
========================================================= */
.borderbox1-3 .btnboxfigure{
	width:80px;
	display:table-cell;
	vertical-align:middle;
	vertical-align:middle;
	/display:inline;
	}

.borderbox1-3 .btnboxtext{
	display:table-cell;
	width:114px;
	vertical-align:middle;
	/display:inline;
	/zoom:1;
	}
	
.borderbox1-3 .btnboxtext p{
	padding-left:15px;}
	
	
.borderbox1-3 .btnboxfigure2{
	width:60px;
	display:table-cell;
	vertical-align:middle;
	/display:inline;
	/zoom:1;
	}

.borderbox1-3 .btnboxtext2{
	display:table-cell;
	width:134px;
	vertical-align:middle;
	/display:inline;
	/zoom:1;
	}
	
.borderbox1-3 .btnboxtext2 p{
	padding-left:12px;
	}


	.borderbox1-3 .btnboxfigure3{
	width:200px;
	display:table-cell;
	vertical-align:middle;
	/display:inline;
	/zoom:1;
	}

.borderbox1-3 .btnboxtext3{
	display:table-cell;
	width:200px;
	vertical-align:middle;
	/display:inline;
	/zoom:1;
	}
	

.borderbox1-3n .btnboxtext3 {
	display:table-cell;
	vertical-align:middle;
	line-height:1.5em;
	zoom:1;
	padding:0 20px 0 0;
	}
	
* html .borderbox1-3n .btnboxtext3 {
	position: absolute;
	top: 50%;
	zoom:1;  
}  
*+html .borderbox1-3n .btnboxtext3{
	position: absolute;
	top: 50%;
	zoom:1; 
}
	
	
	
.borderbox1-3n .btnboxtext3 p a{
	font-weight:bold;
	}


	
.box1-3 .btnboxfigure{
	width:80px;
	display:table-cell;
	vertical-align:middle;
	/display:inline;
	}

.box1-3 .btnboxtext{
	display:table-cell;
	width:130px;
	vertical-align:middle;
	/display:inline;
	/zoom:1;
	}
	
.box1-3 .btnboxtext p{
	padding-left:12px;
	}
	
	
	
/*(3カラム/枠なし)*/
.triple_ln {
		width:223px;
		float:left;
}
	
.triple_mn{
		width:223px;
		float:left;
		margin-left:20px;
}

.triple_rn {
		width:223px;
		float:left;
		margin-left:20px;
}
	
div.imgbox {
	height: 60px;  
	width: 60px;
	float:left;
	zoom:1;
　　 } 			

div.outer {
	display:table;  
	height: 60px;  
	width: 130px;
	float:left;
	padding-left:10px;
　　 }  

	* html div.outer {  
			position: relative;
			zoom:1; 
	}  
	*+html div.outer {  
			position: relative;
			zoom:1;  
	}
	
	
div.vertical_middle {  
	display: table-cell;
	vertical-align: middle;
	zoom:1;
	clear:both;
　　}  

	* html div.vertical_middle {  
			position: absolute; 
			top: 50%;
			zoom:1;
			clear:both;  
	}  
	*+html div.vertical_middle {  
			position: absolute; 
			top: 50%;
			zoom:1;
			clear:both; 
	} 
	
	
div.vertical_middle p.inner {
	font-size:1.2em;
　margin:0;
　padding:0 10px 0 10px;  
	zoom:1;
	clear:both;
	}	

	* html div.vertical_middle p.inner {  
	position: relative;
	top: -50%;
	zoom:1;
	clear:both;
	}  
	*+html div.vertical_middle p.inner {  
	position: relative;
	top: -50%;
	zoom:1; 
	clear:both;
	} 
	
	div.vertical_middle p.inner a {
	font-weight:bold;
	margin-right:5px;
	}
	
	
/*(3カラム/枠なし)*/				
	


/*(3カラム/枠)*/
.boderon .triplels{
	width:208px;
	float:left;
	border:1px solid #999999;
	padding:10px;

}


.boderon .triplems{
	width:208px;
	float:left;
	border:1px solid #999999;
	padding:10px;
  margin-left:10px;
}

.boderon .triplers{
	width:208px;
	float:left;
	border:1px solid #999999;
	padding:10px;
	margin-left:10px;

}


.boderon .triplels p{
	width:134px;
	float:right;
}


.boderon .triplems p{
	width:134px;
	float:right;
}


.boderon .triplers p{
	width:134px;
	float:right;
}



*:first-child+html .boderon .triplels{
	width:207px;
	float:left;
	border:1px solid #999999;
	padding:10px 10px 10px 10px;

}


*:first-child+html .boderon .triplems{
	width:207px;
	float:left;
	border:1px solid #999999;
	padding:10px;
  padding:10px 10px 10px 10px;

}

*:first-child+html .boderon .triplers{
	width:207px;
	float:left;
	border:1px solid #999999;
	padding:10px 10px 10px 10px;
	margin-left:10px;

}

.triple_lns {
	width:207px;
	float:left;
}

.triple_mns{
width:207px;
float:left;

}

.triple_rns {
width:207px;
float:left;

}

div.vertical_s {  
	display: table-cell;  
	width: 147px; 
	height:auto;
}  



div.outer1 {
	display:table;  
	width: 144px;
	float:left; 
	height:100%;
	min-height:60px;
　　 }  

* html div.outer1 {  
		position: relative;
}  
*+html div.outer1 {  
		position: relative;
}
	
	
div.vertical_middle1 {  
	display: table-cell;
	vertical-align: middle;
	zoom:1;
　　}  

	* html div.vertical_middle1 {  
			position: absolute; 
			top: 50%;
			zoom:1;  
	}  
	*+html div.vertical_middle1 {  
			position: absolute; 
			top: 50%;
			zoom:1; 
	} 
	
	
div.vertical_middle1 p.inner1 {
	font-size:1.2em;
  margin:0;
  padding:0 0 0 10px;  
	zoom:1;
	line-height:1.5em
	}	

	* html div.vertical_middle1 p.inner1 {  
	position: relative;
	top: -50%;
	zoom:1
	}  
	*+html div.vertical_middle1 p.inner1 {  
	position: relative;
	top: -50%;
	zoom:1; 
	} 
	
	div.vertical_middle1 p.inner1 a {
	font-weight:bold;
	margin-right:5px;
	}	

div.vertical_middle1 p.inner2,
div.vertical_middle p.inner2 {
	margin:0;
	padding:0 0 0 10px;  
	zoom:1;
	line-height:1.5em
	}	

* html div.vertical_middle1 p.inner2,
* html div.vertical_middle p.inner2 {  
	position: relative;
	top: -50%;
	zoom:1
	}  
*+html div.vertical_middle1 p.inner2,
*+html div.vertical_middle p.inner2 {  
	position: relative;
	top: -50%;
	zoom:1; 
	} 
	
div.vertical_middle1 p.inner2 a,
div.vertical_middle p.inner2 a {
	font-weight:bold;
	margin-right:5px;
	}	
	
/*(3カラム/枠)*/

/* =========================================================
関連リンク
========================================================= */
ul.relationlink{
	border:1px solid #999999;
	padding:15px 0 15px 15px;
	}
	
ul.relationlink li {
	line-height:1.5em;
	float:left;
	width:215px;
	margin-right:15px;
	margin-bottom:0.5em;
	}
	
ul.relationlink li span{
	padding-left:20px;
	background: url("../../../../../library/websites/com/common/img/box_arrow.gif") no-repeat left 3px;
	min-height:14px;
	border-bottom:1px solid #999999;
	display:block;
	padding-bottom:0.5em;
	margin-bottom:0.5em;
	}
	
ul.relationlink li a{
	font-weight:bold;
	}
	
	
ul.relationlink li li {
	float:none;
	background:url(/library/websites/com/common/img/arrow2.gif) no-repeat left 5px;
	padding-left:10px;
	width:inherit;
	}	
	
ul.relationlink li li a{
	font-weight:normal;
	border:none;
	padding-left:0px;
	zoom:1;
	background:none;
}

.listnavi{
	line-height:1.8em;
}
	
.listnavi a{
	font-weight:bold;
	}
	
.listnavi li{
	margin-bottom:1em;
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 7px;
	padding-left:10px;
	}
/* =========================================================
対応バーコード
========================================================= */
.supportbarcode{
	clear:both;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	padding:15px 0 15px 15px;
	line-height:1.5em;
	}
	
.supportbarcode ul{
	width:215px;
	float:left;
	margin-right:15px;
	}
	
.supportbarcode ul li{
	background: url("../../../../../library/websites/com/common/img/dot.gif") no-repeat left 5px;
	padding-left:10px;
	margin-right:15px;
	line-height:1.5em;
	}
	
.supportbarcode ul.long{
	width:665px;
	clear:left;
	}
	
.supportbarcode .supporttitle{
	border-left:13px #000 solid;
	padding-left:5px;
	margin-bottom:1em;
	line-height:1em;
}

/*IE7のもの*/
.boxpaddingie7{
	/padding:15px 15px 7px 15px;
}


	
/* =========================================================
機能アイコン
========================================================= */
.functionicon li{
	float:left;
	background: url("../../../../../library/websites/com/common/img/rcbox_cen.gif") repeat-y;
	text-align:center;
	margin-right:10px;
	width:134px;
	line-height:1.4em;
	font-weight:bold;
	}
	
.functionicon li p{
	background:url(/library/websites/com/common/img/rcbox_top.gif) no-repeat left top;
	padding-top:15px;
	}
	
.functionicon li p span{
	background:url(/library/websites/com/common/img/rcbox_btm.gif) no-repeat left bottom;
	padding:0 15px 15px 15px;
	display:block;
	}

/* =========================================================
boxにクリアフィックスをかける
========================================================= */
.boxcover:after,
.borderbox:after,
.borderboldbox:after,
.bluebox:after,
.relationlink:after,
.supportbarcode:after,
.premargin:after{
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.boxcover,
.borderbox,
.borderboldbox,
.bluebox,
.relationlink,
.supportbarcode,
.premargin{
  min-height: 1px;
  clear:both;
}

* html .boxcover,
* html .borderbox,
* html .borderboldbox,
* html .bluebox,
* html .relationlink,
* html .supportbarcode
* html .premargin{
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}	
	
/* =========================================================
breadcrumb
========================================================= */
#brotherbreadcrumb{
	width:100%;
	margin-top:13px;
	margin-bottom:13px;
	background-image:url(/library/websites/com/common/img/icon-home.gif);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:16px;
}

#brotherbreadcrumb:after{
    content: ""; 
    display: block; 
    clear: both;
}

.breadcrumb,
.loginRow{
	clear:both;
	padding:8px 10px 8px 0 !important;
	margin:0;
	vertical-align:middle;
}

#brotherbreadcrumb ul li{
	float:left;
	color:#333;
}

#brotherbreadcrumb ul li a{
	font-weight:normal;
	color:#039;
	display:block;
	padding:0 15px 0 0;
	background-image:url(/library/websites/com/common/img/icon-breadcrumb-arrow.gif);
	background-position:right center;
	background-repeat:no-repeat;
}

/* =========================================================
layout
========================================================= */
#parentContainer {
	width:960px;
	padding:0;
	margin:0 auto;
}

#contents{
	margin-bottom:20px;
	padding:0;
	border-bottom:1px solid #EDEDEB;
}

#mainContentInnder{
	margin-bottom:20px;	
}

.mainContentHolderWrap10{
	padding:0 10px;
	zoom:1;
	margin-bottom:15px;
}

#rightcol{
	float:right;
	width:710px;
}

#mainContentHolder

/* =========================================================
3 column layout
========================================================= */
#centercol{
	width:480px;
	float:left;
}

.centerHeader{
	height:65px;
}

#rightcol2{
	width:210px;
	float:right;
}

/* =========================================================
snsPart
========================================================= */
#snsPart{
	text-align:right;
	margin-bottom:0.5em;
}

/* =========================================================
sidecontents
========================================================= */
#leftCol{
	float:left;
	width:210px;
	clear:left;
}

#leftCol2{
	float:left;
	width:710px;
}

.leftNavi li {
    background-color: #F6F6F4;
    border-bottom: 1px solid #CCCCCC;
	clear:left;
	width:100%;
}

.leftNavi li span a {
	width:100%;
 	font-weight:bold;
   background: url("../../../../../library/websites/com/common/img/arrow-box.gif")
10px center  no-repeat;
    color: #333333;
    display: block;
    padding: 9px 10px 9px 30px;
	width:170px;
}

.leftNavi li.selected span a{
    color: #FFFFFF;
    text-decoration:none;
	background-color:#777777;
}

.leftNavi li span a:hover,
.leftNavi li span a:active{
	background-color:#777777;
	color:#FFF;
	text-decoration: underline;
	}
	
.leftNavi li.header {
    background:url("/library/websites/com/common/img/products-services.png") left top no-repeat;
    border:none;
    color: #FFFFFF;
    margin: 0 0 -5px 0;
    padding: 7px 5px 0 15px;
    position: relative;
    z-index: 1;
	height:26px;
}

.leftNavi li.header span {
    background-image: none;
    color: #FFFFFF;
    font-weight: bold;
}

.leftNavi li.header span a{
    background-image: none;
    color: #FFFFFF;
	display:block;
	font-weight: bold;
    padding: 0;
    text-decoration:none;
}

.leftNavi li.header span a:hover{
	background-color: transparent;
	text-decoration:underline;
}


.rightNavi  {
	width:210px;
	list-style:none;
}

.rightNavi  li {
	border-bottom:1px solid #ccc;
	background-color:#f6f6f4;
}

.rightNavi  li:hover {
	background-color:#777;
}

.rightNavi  li:hover, .rightNavi  li.selected {
	background-color:#969696;
}

.rightNavi  li span {
	display:block;
	padding:0;
	background-image:url("/library/websites/com/common/img/arrow.gif");
	background-position:30px 11px;
	background-repeat:no-repeat;
}


.rightNavi  li span.third{
	display:block;
	padding:0;
	background-image:url("/library/websites/com/common/img/arrow_thr.gif");
	background-position:45px 11px;
	background-repeat:no-repeat;
}



.rightNavi  li.header span {
	display:block;
	padding:0;
	background-image:none;
	color:#fff;
}

.rightNavi  li a {
	display:block;
	padding: 9px 10px 9px 40px;
	color:#333;
	text-decoration: none;

}

.rightNavi  li:hover a {
	color:#fff;
	text-decoration:underline;
	padding:9px 10px 9px 40px;
}

.rightNavi  li.selected a {
	color:#fff;
	text-decoration:none;
	padding:9px 10px 9px 40px;
}


.rightNavi  li.selected a:hover {
	color:#fff;
	text-decoration:underline;
	padding:9px 10px 9px 40px;
}


.rightNavi  li span.third a {
	display:block;
	padding:9px 10px 9px 55px;
	color:#333;

}

.rightNavi  li:hover span.third a {
	color:#fff;
	text-decoration:underline;
	padding:9px 10px 9px 55px;
}

.rightNavi  li.selected span.third a {
	color:#fff;
	text-decoration:none;
	padding:9px 10px 9px 55px;
}



/* =========================================================
common style
========================================================= */
.wide{
	width:710px;
}

.fLeft{
	float:left;
}

.fRight{
	float:right;
}

.cBoth{
	clear:both;
}

.greyBg{
	background:#F6F6F4;
}

.blueBg{
	background:#E5EAF5;
}

/* =========================================================
title style
========================================================= */
/*title_imgh1*/
h1.h1Img{
	margin-bottom:20px;	
}

/*title_h1*/
h1.h1Text{
    color:#071956;
    font-weight:bold;
	vertical-align:top;
	border-top:3px solid #6195FF;
    padding:10px 0;
}

/*title_h2*/
.h2Text{
    color:#071956;
    font-weight:bold;
    margin:0 0 10px;
	padding-bottom:5px;
    border-bottom:3px solid #6195FF;
	line-height:1.4em;
	clear:both;
}

.h2Border{
    color:#071956;
    font-weight:bold;
    margin:0 0 10px;
	padding-bottom:5px;
    border-bottom:1px solid #999;
	line-height: 1.2em;
	line-height:1.4em;
}

/*title_h2*/
.h2TextFold{
   color:#071956;
    font-weight:bold;
    margin:0 0 10px;
	padding-bottom:5px;
    border-bottom:3px solid #6195FF;
	padding-bottom:5px;
	line-height:1.4em;
}

/*title_h2*/
.underlineH2{
    margin:0 0 15px;
    border-bottom:3px solid #6195FF;
	padding:0 0 5px 0;
}

.underlineH2 h2{
   color:#071956;
    font-weight:bold;
	float:left;
	line-height:1.4em;
}

.underlineH2 p{
	float:right;
}

.underlineH2 a{
	padding-left:8px;
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left center;
	line-height:1.5em;
}

/*title_h2*/
h2{
    color:#071956;
    font-weight:bold;
}

.h2News{
    color:#071956;
    font-weight:bold;
    margin:0 0 15px;
	padding-bottom:10px;
    border-bottom:3px solid #6195FF;
	line-height:1.4em;
}

.h2News span{
	background:url(/library/websites/com/common/img/new.jpg) no-repeat right center;
	padding-right:50px;
}

/*title_h2
.columnL{
	width:340px;
	float:left;
}

.columnR{
	width:340px;
	float:right;
}
*/

/*title_h2*/
.box1-2 .underlineH2{
	width:340px;
}

/*title_h2
.columnL2{
	width:223px;
	margin-right:20px;
	float:left;
}

.columnR2{
	width:223px;
	float:right;
}
*/

/*title_h3*/
h3.h3base{
	font-weight:bold;
	margin-bottom:10px;
	line-height:1.4em;
	color:#071956;
}

h3.h3normal{
	font-weight:bold;
	margin-bottom:10px;
	line-height:1.5em;
}

/*title_h3*/
.h3TextFold{
	line-height:1.5em;
}

/*title_h3*/

.h3Link {
	line-height:1.5em;}

.h3Link h3{
	float:left;
	margin-right:15px;
}

.h3Link a{
	padding-right:8px;
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat right center;
}

/*title_h3*/
.h3News span{
	background:url(/library/websites/com/common/img/new.jpg) no-repeat right center;
	padding-right:50px;
	clear:left;
	line-height:1.5em;
}

/*title_h3*/
.box1-2 h3{
	margin-bottom:0.5em;
}

/*title_h3*/
.box1-3 h3{
	margin-bottom:0.5em;
}

/*title_h3*/
.h3UnderLine{
	border-bottom:1px solid #6195FF;
	color:#071956;
	padding-bottom:10px; 
	line-height:1.5em;
}

/*title_h3*/
.rightCol{
	width:210px;
	float:right;
}

/* =========================================================
text style
========================================================= */
.tar{
	text-align:right;
}

.tac{
	text-align:center;
}

.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}

.grey{
    color:#666666;
}

.txt_bold,
.txt_bold a{
	font-weight:bold;
}

.red{
	color:#E61717;
}

.blue{
	color: #0039AE;
}

.listIcon{
	padding-left:5px;
	vertical-align:middle;
}

.listIcon_l{
	padding-right:5px;
	vertical-align:middle;
}

/* numberList */
.numberList li{
	margin-left:25px;
	list-style:decimal;
}

.normalList li{
    background-image: url("../../../../../library/websites/com/common/img/dot.gif");
    background-position: left 3px;
    background-repeat: no-repeat;
    padding: 0 0 0 12px;
    text-indent: 1px;
}

/* discList */
.discList li{
	padding-left: 1em;
	text-indent: -1em;
}

/* lineList */
.lineList{
	display:block;
}

.lineList li{
    float:left;
    text-align:left;
	margin-right:25px;
	white-space:nowrap;
	margin-bottom:1em;}
	
.lineList1-3 {
	display:block;
	}

.lineList1-3 li{
	float:left;
	width:33%;
	margin-bottom:1em;
}

.lineList1-3 li a{
	margin-right:10px;}

.lineList1-4 li{
	float:left;
	width:24%;
	margin-bottom:1em;
}

.lineList1-4 li a{
	margin-right:10px;}


/* twoGroupList */
.twoGroupList {
	line-height:1.5em;
	border-bottom:1px solid #999;
}

.twoGroupList dt{
   float:left;
   clear:left;
   width:170px;
   border-top:1px solid #999;
   padding-top:10px;
   padding-bottom:10px;
   padding-right:0;
}

.twoGroupList dd{
	width:400px;
   margin-left:170px;
   padding-left:20px;
   padding-top:10px;
   padding-bottom:10px;
   padding-right:10px;
   border-top:1px solid #999;
}

.twoDateList2 dt{
   clear:left;
   float:left;
   width:120px;
   line-height:1.5em;
}

.twoDateList2 dd{
	 margin:0 10px 0 120px;
   line-height:1.5em;
}



.twoGroupList3{
	line-height:1.5em;
}

.twoGroupList3 dt{
   float:left;
   clear:left;
   width:120px;
}

.twoGroupList3 dd{
   margin-left:120px;
   margin-bottom:11px;
}


.arrow_ls{
    background-image: url("../../../../../library/websites/com/common/img/arrow.gif");
    background-position:left 8px;
    background-repeat:no-repeat;
    padding-left:8px;
	margin-left:-8px;
}

/* twoDateList */
.twoDateList {
	line-height:1.5em
	;}

.twoDateList dt{
   float:left;
   padding-bottom:0;
   padding-right:0;
}

.twoDateList dd {
   padding-left:20px;
   padding-bottom:5px;
   padding-right:10px;
}

/* qaBox */
.qaBox{
	background:#E5EAF5;
	width:690px;
	padding:10px;
	line-height:1.5em;
}

.qaBox dt{
	font-weight:bold;
	background:url(/library/websites/com/common/img/question.gif) left 5px no-repeat;
	padding:7px 0 7px 35px;
	margin-bottom:10px;
}

.qaBox dd{
	background:url(/library/websites/com/common/img/answer.gif) left 5px no-repeat;
	padding:7px 0 7px 35px;
}

.qaBox .imgR{
	float:right;
	padding:0 0 0 5px;
}

.qaBox2{
	background:#E5EAF5;
	width:690px;
	padding:10px;
	line-height:1.5em;
}

.qaBox2 dt{
	font-weight:bold;
	background:url(/library/websites/com/common/img/question.gif) left 5px no-repeat;
	padding:7px 0 17px 35px;
	
}

.qaBox2 dt p{
	background:url(/library/websites/com/common/img/arrow_old.gif) right center no-repeat;
	color:#0039AE;
	padding-right:15px;
}

.qaBox2 dd{
	border-top: 1px solid #999999;
	background:url(/library/websites/com/common/img/answer.gif) left 15px no-repeat;
	padding:17px 0 7px 35px;
	margin-bottom:5px;
}

.qaBoxCloseLink{
	text-align:center;
}

.qaBoxCloseErea{
	display:none;
}

.qaBoxCloseLink a{
	background:url(/library/websites/com/common/img/close_ico.gif) left center no-repeat;
	padding-left:13px;
}

.qaBox2Close dt p{
	background:url(/library/websites/com/common/img/arrow.gif) right center no-repeat;
}

.qaBox2Close dd,.qaBox2Close .qaBoxCloseLink{
	display:none;
}

.qaBox2Close dt{
	padding-bottom:7px;
}

/* textLink */
.popUp{
	background:url(/library/websites/com/common/img/otherwin_ico.gif) left center no-repeat;
	padding-left:15px;
	line-height:1.5em;
}

.lTBottom a{
	background:url(/library/websites/com/common/img/arrow_old.gif) left 7px no-repeat;
	padding-left:12px;
	display:inline-block;
	zoom:1;
	line-height:1.5em;
}

.lTTop a{
	background:url(/library/websites/com/common/img/arrow_start.gif) left 7px no-repeat;
	padding-left:12px;
	display:inline-block;
	zoom:1;
	line-height:1.5em;
}

.lTRight a{
	background:url(/library/websites/com/common/img/arrow.gif) left 7px no-repeat;
	padding-left:12px;
	display:inline-block;
	zoom:1;
	line-height:1.5em;
}

.lTRight2{
	float:right;
	}

.lTRight2 a{
	background:url(/library/websites/com/common/img/arrow.gif) left 5px no-repeat;
	padding-left:8px;
	display:block;
	line-height:1.5em;
}

.lTLeft a{
	background:url(/library/websites/com/common/img/arrow_re.gif) left 7px no-repeat;
	padding-left:12px;
	display:inline-block;
	zoom:1;
	line-height:1.5em;
}

.closeLink{
	float:left;
	margin-right:15px;
	}

.closeLink a{
	background:url(/library/websites/com/common/img/close_ico.gif) left center no-repeat;
	padding-left:13px;
	display:block;
	line-height:1.5em;
}

.iconlink{
	line-height:1.5em;}

.lineListBottom{
	display:block;
	line-height:1.5em;}

.lineListBottom li{
    float:left;
    text-align:left;
	margin-right:25px;
	white-space: nowrap;
	zoom:1;
}

.lineListBottom li a{
	background:url(/library/websites/com/common/img/arrow_old.gif) left center no-repeat;
	padding-left:12px;
	display:block;
}

.arranges{
	padding-right:5px;
}

/* manyrink */
.manyrink{
    display: block;
    margin: 20px auto;
    padding: 0 5px;
	line-height:2em;
    text-align: center;
}

.manyrink li{
    border-right: 1px solid #999999;
    display: inline;
    padding: 0 15px;
}

.manyrink li.last{
	border-right:none;
}

.manyrinkPrev{
	padding-right:5px;
}

.manyrinkNext{
	padding-left:5px;
}

/* icon text */
.iconText{
	width:615px;
	float:right;
}

/* greyborder box */
.greyborder{
    border: 1px solid #999999;
    padding: 15px;
}

.greyborder h3{
	margin-bottom:0.5em;}

.getAdobe{
	width:510px;
	float:right;
	line-height:1.5em;
}

.getWindow{
	width:580px;
	float:right;
	line-height:1.5em;
}

/*text_icon*/

.txt_btn p {
    margin: 0 0 5px 0;
    padding: 0px 0px 0px 5px;
    background: url("../../../../../library/websites/com/common/img/txt_btn_left.gif") left center no-repeat;
		zoom: 1;	/* for IE */
    display: table-cell; /* for modern browser */
}
 
.txt_btn p span{
    padding: 12px 7px 15px 0px;
    background: url("../../../../../library/websites/com/common/img/txt_btn_right.gif") right center no-repeat;
    
    zoom: 1;	/* for IE */
    display: table-cell; /* for modern browser */
}

.txt_btn p span.btn_txt{
	color:#000000;
}

.btn_text{
	float:left;
    background: url("../../../../../library/websites/com/common/img/txt_btn_right.gif") right center no-repeat;
	font-size:1.2em;
	}

	
.btn_text a{
    background: url("../../../../../library/websites/com/common/img/txt_btn_left.gif") left center no-repeat;
	display:block;
	padding:8px 7px;
	color:#000;
	}
	

	
	
.btn_text a:link,
.btn_text a:visited{
	color:#000;
	}
.btn_text a:hover,
.btn_text a:active{
	color:#000;
	text-decoration:underline;
	}


/* qBox */
.qBox{
	background:url(/library/websites/com/common/img/question.gif) left 5px no-repeat;
	padding:7px 0 7px 35px;
	line-height:1.5em;
}

.qBox a{
	color: #0039AE;
	font-weight:bold;
	}

.inputbox input{
	height:20px;
	margin-right:10px;
	}
	
.inputbox img{
	vertical-align:bottom;}

/* =========================================================
liststyle
========================================================= */

.numberList{
	line-height:1.5em;}

.normalList{
	line-height:1.5em;}

.numberList{
	line-height:1.5em;}
	
.discList{
	line-height:1.5em;}

/* =========================================================
navigation
========================================================= */
.buttonNav li{
	width:128px;
	height:45px;
	text-indent:-9999px;
	display:block;
	float:left;
	margin-right:8px;
}

.buttonNav li a{
	width:128px;
	height:45px;
	display:block;
}

.buttonNav li.buttonNav1 a,.buttonNav li.buttonNav1on{background:url(/library/websites/com/en/part/img/sn01.jpg) no-repeat;}
.buttonNav li.buttonNav2 a,.buttonNav li.buttonNav2on{background:url(/library/websites/com/en/part/img/sn02.jpg) no-repeat;}
.buttonNav li.buttonNav3 a,.buttonNav li.buttonNav3on{background:url(/library/websites/com/en/part/img/sn03.jpg) no-repeat;}
.buttonNav li.buttonNav4 a,.buttonNav li.buttonNav4on{background:url(/library/websites/com/en/part/img/sn04.jpg) no-repeat;}
.buttonNav li.buttonNav5 a,.buttonNav li.buttonNav5on{background:url(/library/websites/com/en/part/img/sn05.jpg) no-repeat;}
.buttonNav li.buttonNav6 a,.buttonNav li.buttonNav6on{background:url(/library/websites/com/en/part/img/sn06.jpg) no-repeat;}

.buttonNav li.buttonNav1 a:hover,
.buttonNav li.buttonNav2 a:hover,
.buttonNav li.buttonNav3 a:hover,
.buttonNav li.buttonNav4 a:hover,
.buttonNav li.buttonNav5 a:hover,
.buttonNav li.buttonNav6 a:hover{
	background-position:0 -45px;
}

.buttonNav li.buttonNav1on,
.buttonNav li.buttonNav2on,
.buttonNav li.buttonNav3on,
.buttonNav li.buttonNav4on,
.buttonNav li.buttonNav5on,
.buttonNav li.buttonNav6on{
	background-position:0 -45px;
}

.tabNav{
	width:690px;
	height:32px;
	background:url(/library/websites/com/en/part/img/tavnavbg.gif) bottom no-repeat;
	padding:0 10px;
}

.tabNav li{
	width:127px;
	height:32px;
	text-indent:-9999px;
	display:block;
	float:left;
	margin-right:10px;	
}

.tabNav li a{
	width:127px;
	height:32px;
	display:block;
}

.tabNav li.tabNav1 a,.tabNav li.tabNav1on{background:url(/library/websites/com/en/part/img/tab_dm1.jpg) no-repeat;}
.tabNav li.tabNav2 a,.tabNav li.tabNav2on{background:url(/library/websites/com/en/part/img/tab_dm2.jpg) no-repeat;}
.tabNav li.tabNav3 a,.tabNav li.tabNav3on{background:url(/library/websites/com/en/part/img/tab_dm3.jpg) no-repeat;}

.tabNav li.tabNav1on,
.tabNav li.tabNav2on,
.tabNav li.tabNav3on,
.tabNav li.tabNav1 a:hover,
.tabNav li.tabNav2 a:hover,
.tabNav li.tabNav3 a:hover{
	background-position:0 -32px;
}

.tabNavBox{
	width:678px;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
	padding:15px;
}

.navigation{
    display: block;
    margin: 25px auto 0;
    padding: 0 5px;
    text-align: center;
		line-height:2em;
}

.navigation li{
    border-right: 1px solid #CCCCCC;
		line-height:2em;
    display: inline;
    padding: 0 15px;
	  white-space: nowrap;
	  zoom:1;
}

.navigation li.last {
    border-right:none;
}

/* =========================================================
bottun
========================================================= */
.buttonBox{
	line-height:1.5em;
	width:690px;
	padding:10px;
	background-color:#E5EAF5;
}

.buttonContact{
	width:140px;
	margin-right:30px;
	margin-left:50px;
	padding:7px 0 7px 35px; 
	background:url(/library/websites/com/common/img/icon2_01.jpg) left 5px no-repeat;
	float:left;
	}

.buttonCatalog{
	width:140px;
	margin-right:15px;
	float:left;
	padding:7px 0 7px 35px; 
	background:url(/library/websites/com/common/img/icon2_03.jpg) left 5px no-repeat;
}

.buttonGuide{
	width:140px;
	float:right;
	padding:7px 0 7px 35px; 
	background:url(/library/websites/com/common/img/icon2_04.jpg) left 5px no-repeat;
	margin-right:50px;
}

.buttonBoxBlueL{
	width:325px;
	float:left;
	padding:10px;
	background-color:#E5EAF5;
}

.buttonBoxBlueR{
	width:325px;
	padding:10px;
	float:right;
	background-color:#E5EAF5;
}

.borderboldboxI{
	width:60px;
	float:left;
	margin-right:10px;
}

.buttonBoxBorderL{
	width:323px;
	float:left;
	padding:10px;
	border:1px solid #999;
}

.buttonBoxBorderR{
	width:323px;
	float:right;
	padding:10px;
	border:1px solid #999;
}

.borderboldboxTitle{
	width:80px;
	float:left;
	margin-right:15px;
}

.borderboldboxL{
	width:225px;
	float:left;
	margin-right:15px;
	padding-left:20px;
	border-left:1px solid #999;
}

.borderboldboxR{
	width:225px;
	float:left;
}

.buttonBoxI{
	width:60px;
	float:left;
}

.buttonBoxText{
	width:250px;
	float:right;
}

.ribbonBoxL{
	width:348px;
	float:left;
	border:1px solid #999;
	zoom:1;
	position:relative;
}

.ribbonBoxR{
	width:348px;
	float:right;
	border:1px solid #999;
	zoom:1;
	position:relative;
}

.buttonBoxRibbon{
	position:absolute;
	float:right;
	right:-3px;
	top:-4px;
}

.buttonBoxRibbon img{
	position:absolute;
}

.buttonList{
	width:710px;
}

.buttonList li{
	border:1px solid #999;
	width:200px;
	float:left;
	margin:0 14px 14px 0;
	padding:3px 15px 0 5px;
	font-size:1.2em;
	line-height:1.5em;
	background:url(/library/websites/com/common/img/arrow.gif) 210px center no-repeat;
}

.buttonList li.pt20{
	padding-top:15px;
	padding-bottom:5px;
}

.buttonList li a{
	font-weight:bold;
}

.buttonList li.buttonListR{
	margin-right:0;
}

/* =========================================================
left column
========================================================= */
ul.leftNavSmall{
	margin-bottom:20px;
	line-height:1.5em;
	font-size:1.2em;
	}
	
.leftNavSmall li a{
	display:inline-block;
	zoom:1;
	background-image: url("../../../../../library/websites/com/common/img/dot.gif");
    background-position: left 5px;
    background-repeat: no-repeat;
    padding: 0 0 0 12px;
    text-indent: 1px;
	margin-bottom:10px;
}

.leftNavSmall_2{
line-height:1.5em;
}

.leftNavSmall_2 li a{
		display:inline-block;
		background-image: url("../../../../../library/websites/com/common/img/dot.gif");
		background-position: left 5px;
		background-repeat: no-repeat;
		padding: 0 0 0 12px;
		text-indent: 1px;
		margin-bottom:10px;
}

.bannerList li{
	margin-bottom:10px;
}


.bannerlink li{
	margin-bottom:10px;
	border:1px solid #CCC;
	}
	
.bannerlink li a{
	text-decoration:none;
	padding:10px 10px;
	display:block;
	}

.bannerlink li a:hover,
.bannerlink li a:active{
	text-decoration:none;
	background:#EEE;
	}
/* =========================================================
right column
========================================================= */
.rightBox{
	margin-bottom:20px;
}

.rightBox_2{
margin-bottom:10px;
}

.thumbnailList{
	width:210px;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #999;	
}

.thumbnailListLast{
	width:210px;
	margin-bottom:10px;
	padding-bottom:10px;
}

.thumbnailImg{
	width:80px;
	float:left;
}

.thumbnailText{
	width:120px;
	float:right;
	line-height:1.5em;
}

.thumbnailText p{
	line-height:1.5em;
	}
	
.thumbnailText p.f14px{
	line-height:1.4em;
	}

.borderImg{
	border:1px solid #999;
}

.bnList img{
	border:1px solid #999;
	margin-bottom:15px;
}

.bnList .last img{
	margin-bottom:0;
}

.rcUnderLine{
border-bottom: 1px solid #999999;
padding-bottom:10px;
margin-bottom:10px;
}

.rcLine{
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	margin-bottom:10px;
	padding:10px 0;
}

.rcTL{
	float:left;
}

.rcTR{
	float:right;
	padding-top:2px;
	width:175px;
	line-height:1.5em;
}
	
.rcTR2{
	float:right;
	width:175px;
	padding-top:4px;
	line-height:1.5em;
}

.rcTR3{
	float:right;
	width:175px;
	line-height:1.5em;
}

.rcTR2 img{
	padding-left:5px;
}

.rcTR img{
	padding-left:5px;
}

.rcTR3 img{
	padding-left:5px;
}

.rightSubMenu li{
	border-bottom: 1px solid #999999;
	line-height:1.5em;
}

.rightSubMenu li a{
	display:block;
	padding:10px;
	font-weight:bold;
}

/* =========================================================
other
========================================================= */
.itemBox{
	padding:20px;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	width:668px;
}

.itemBoxLast{
	border:1px solid #999;
	padding:20px;
	width:668px;
}

.itemBox h2,
.itemBoxLast h2{
	margin-bottom:0.5em;
	line-height:1.4em;
	}
.itemBox h3,
.itemBoxLast h3{
	line-height:1.5em;
	}

.itemList li{
    background-image:url(/library/websites/com/common/img/dot.gif);
    background-position:left 6px;
    background-repeat:no-repeat;
    padding:0 0 0 12px;
    text-indent:1px;
	line-height:1.5em;
	font-weight:bold;
}

.iconList{
	width:200px;
	margin-bottom:5px;
}

.iconList div{
	width:20px;
	float:left;
	text-align:right;
}

.iconList p{
	width:175px;
	float:right;
}

.itemClumn{
	width:668px;
	margin-bottom:10px;
}

.itemClumnL{
	width:168px;
	float:left;
}

.itemClumnC{
	width:270px;
	float:left;
}
	
.itemClumnR{
	width:200px;
	float:right;
	padding-left:10px;
	margin-left:10px;
	border-left:1px solid #999;
}

.functionBox{
	width:668px;
	margin-bottom:10px;
}

.functionBox h3{
	margin-bottom:0;
}

.functionBoxL{
	width:320px;
	float:left;
}

.functionBoxL li{
	float:left;
	width:70px;
	float:left;
	margin-right:6px;
}

.itemTable{
	line-height:1.2em;
	}

.itemTable th,.itemTable td{
	padding: 5px;
	border:1px solid #999;
	width:130px;
	text-align:center;
	vertical-align:middle;
}

.itemTable td{
	line-height:1.5em;
}

.itemTable th{
	background:#E5EAF5;
	font-weight:bold;
}

.newProductImg{
	float:left;
	width:60px;}
	
.newProductText{
	float:right;
	width:635px;
	line-height:1.5em;
	}
	
.newProductText ul li{
	float:left;
	border-right:1px solid #CCC;
	margin-right:10px;
	padding-right:10px;
	}
	
.newProductText .txt_bold{
	clear:both;
	}

/* =========================================================
localeHolder
========================================================= */
#localeHolder{
	text-align:right;
	margin-bottom:10px;
}

#localeHolder .localeSelect{
	width:120px;
	height:20px;
	padding:0;
	margin:0;
	vertical-align:top;
	background-origin: content-box;
}

#localeHolder .searchTextBox{
	width:230px;
	height:16px;
	padding:0;
	margin:0;
	vertical-align:top;
}

#localeHolder .searchArrow {
	width:21px;
	height:20px;
	background-image: url("../../../../../library/websites/com/common/img/searchbox-arrow.jpg");
	background-position:left top;
	background-repeat:no-repeat;
}

#localeHolder .searchArrow:hover {
	background-position:left bottom;
	vertical-align:top bottom;
}

#localeHolder input,
#localeHolder textarea,
#localeHolder select,
#localeHolder option {
}

/* =========================================================
MainContents
========================================================= */
.mainContentsUnderLine{
	padding:20px 0 15px 0;
	border-bottom:1px solid #999;
	border-top:1px solid #999;
	margin-bottom:25px;
	clear:both;
}


.mainContentsUnderLine2{
	padding:0 0 15px 0;
	border-bottom:1px solid #999;
	margin-bottom:25px;
	clear:both;
}

.h1Erea{
	margin-bottom:30px;
}
/* =========================================================
archivelink
========================================================= */
.archivelink {
	margin-bottom:2em;
	clear:both;
	}

.archivelink p{
	float:left;
	font-weight:bold;
	width:50px;
	}

.archivelink ul{
	float:right;
	font-weight:bold;
	width:630px;
	}
	
.archivelink ul li{
	float:left;
	margin-right:30px;
	}
	
.archivelink ul li a{
	background:url(../img/arrow.gif) no-repeat left 4px;
	padding-left:10px;
	}

/* =========================================================
cautionarystatement
========================================================= */
.cautionarystatement{
	margin-bottom:2em;
	min-height:80px;
	background:url(../img/square.gif) no-repeat left top;
	clear:both;
	padding-left:90px;
	}
	
.cautionarystatement p{
	
	padding-top:20px;
	}

/* =========================================================
FooterLink--サンライト変更
========================================================= */
#contentTabUlFooter {
	display:block;
	margin:20px auto;
	text-align:center;
	padding:0 5px;
	clear:both;
}

#contentTabUlFooter li {
	display:inline;
	padding:0 15px;
	line-height:2em;
	border-right:1px solid #999;
		}
		
#contentTabUlFooter li.last {
	border:0;
}

*:first-child+html #contentTabUlFooter li.last {
	padding-right:0;
}


/* =========================================================
Related Contents
========================================================= */
#relatedcontents,#relatedcontents2{
	margin-bottom:2em;
}

#relatedcontents .boxcover,
#relatedcontents2 .boxcover{
	margin-bottom:1em;
}

#relatedcontents h3{
	border-bottom:3px solid #6195ff;
	margin-bottom:1em;
	padding-bottom:0.5em;
}

#relatedcontents .box1-2 .relatedimg,
#relatedcontents2 .box1-2 .relatedimg,
#relatedcontents .box1-2N .relatedimg,
#relatedcontents2 .box1-2N .relatedimg{
	float:left;
}

#relatedcontents .relatedLinksDetails{
	float:right;
	width:250px;
}

#relatedcontents .relatedLinksDetails h4,
#relatedcontents2 .relatedLinksDetails h4{
	line-height:1.3em;
}
	
#relatedcontents .relatedLinksDetails h4 a,
#relatedcontents2 .relatedLinksDetails h4 a{
	font-weight:bold;
}

#relatedcontents .relatedLinksDetails p,
#relatedcontents2 .relatedLinksDetails p{
	line-height:1.5em;
	word-wrap: break-word;
}

/* =========================================================
Related Contents2
========================================================= */
#relatedcontents2 h3{
	border-top:3px solid #6195ff;
	margin:65px 0 10px 0;
	padding:10px 0 5px;
	color:#071956;
	font-weight:bold;
	background-color:#fff;
}
	
#relatedcontents2 .box1-2{
	width:210px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #999;
}

#relatedcontents2 .last{
	border-bottom:none;}

#relatedcontents2 .relatedLinksDetails{
	float:right;
	width:120px;
}

/* =========================================================
bannerfooter
========================================================= */
#contentsfooterbanner {
	clear:both;
	background-color:#f6f6f6;
	padding:10px 0 0 10px;
}

#contentsfooterbanner p{
	float:left;
	margin-right:12px;
	padding-bottom:10px;
}

.boderon .tripleL,.boderon .tripleR{
    border:1px solid #999999;
    float:left;
    padding:10px;
    width:207px;
	display:inline;
	line-height:1.5em;
}

.boderon .tripleM{
    border:1px solid #999999;
    float:left;
    margin:0 10px;
    padding:10px;
    width:209px;
	display:inline;
	line-height:1.5em;
}

.boderon p{
	width:135px;
	float:right;
}

.boderon a{
	font-weight:bold;
}

.boderonImg{
	width:60px;
	float:left;
}

/* =========================================================
mainimg
========================================================= */
#mainimg{
	width:334px;
}
#mainimg p{
	margin:0;
	padding:0;
	height:215px;
	text-align:center;
}
#mainimg img{
	border:0;
}
#thumbnai{
	margin:10px 0 0 0;
}
#thumbnai img.selected{
	background:url(/library/websites/com/common/img/hightlight.gif) no-repeat;
}
#thumbnai ul{
	margin:0;
	padding:0;
}
#thumbnai li{
	width:79px;
	height:60px;
	float:left;
	list-style:none;
	text-align:center;
	margin:0 4px 0 0;
	background:url(/library/websites/com/common/img/hightlight.gif) left top no-repeat;
}
#thumbnai li img{
	margin:0;
	padding:8px 0 0 0;
}
#thumbnai a:link{
	display:block;
}
#thumbnai a:hover{
	width:79px;
	height:60px;
	background:url(/library/websites/com/common/img/hightlight.gif) no-repeat;
	display:block;
}

#thumbnai a{
	width:79px;
	height:60px;
	display:block;
	}

#thumbnai a:hover,
#thumbnai a:active{
	background:url(/library/websites/com/common/img/selected.gif) no-repeat left top;
}

#thumbnai li.selected{
	background:url(/library/websites/com/common/img/selected.gif) no-repeat left top;
}

/* =========================================================
mainimg2
========================================================= */
#mainimg2{
	width:450px;
	}
	
#mainimg2 p{
	float:left;
	margin:0;
	padding:0;
	width:270px;
	height:175px;
	text-align:center;
}

#thumbnai2{
	margin:50px 0 0 0;
	float:right;
}

#thumbnai2 ul{
	width:175px;}

#thumbnai2 li{
	width:79px;
	height:60px;
	float:left;
	list-style:none;
	text-align:center;
	margin:0 4px 0 0;
	background:url(/library/websites/com/common/img/hightlight.gif) left top no-repeat;
}

#thumbnai2 li img{
	margin:0;
	padding:8px 0 0 0;
}

#thumbnai2 a:link{
	display:block;
}

#thumbnai2 a:hover{
	width:79px;
	height:60px;
	background:url(/library/websites/com/common/img/hightlight_s.gif) no-repeat left -60px;
	display:block;
}

#thumbnai2 li.selected{
	background:url(/library/websites/com/common/img/hightlight_s.gif) no-repeat left -60px;
}



/*========================================================= 
=========================================================*/ 

.viewThumbnail {
	float:left;
	width:75px;
	padding:8px 2px 2px 2px;
	margin:0 5px 0 0;
	background-image:url(/library/websites/com/common/img/hightlight.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.viewThumbnail:hover, .selected, .viewThumbnail:focus {
	background-position:left bottom;
}

.productHeaderLeft_box_inr {
    display:block;
    float:left;
    width:360px;
    margin:0;
    padding:0;
}

.thumbnailHolder {
    display:block;
    float: left;
    width: 350px;
    margin-top:5px;
} 

.productHeaderLeft_box {
   display: block;
   float: left;
   margin: 0;
	 padding:0 10px 0 0;
   width: 360px;
} 

.darkblue {color:#071956;}


/*4 Colum*/
.lightgrey_bd{
	border-top:1px solid #EDEDEB;
	padding:20px 0 0 0;
}

.corp_footerlink{
	overflow:hidden;
}

.corp_footerlink p {
    float: right;
    width: 135px;
}

.corp_footerlink a {
    font-weight: bold;
}

.corp_footerlink .firstbox{
	width:208px;
	float:left;
	border:1px solid #999999;
	padding:10px;
	min-height:60px;
}


.corp_footerlink .normalbox{
	width:208px;
	float:left;
	border:1px solid #999999;
	padding:10px;
	margin-left:10px;
	min-height:60px;
}

.innerbox{
	float:left;
	width:208px;
}

.fSmall{font-size:86%;}

/* =========================================================
Product Lineup (Region18)
========================================================= */

.product-box{
	margin:0 0 30px 0;
	padding:10px;
	*padding:10px 10px 0 10px; /* IE7 and below */
	overflow:hidden;
	border:1px solid #999999;
}

.productgroup{
	float:left;
}

.productgroup h3{
	text-align:center;
	padding:15px 3px;
	background-color:#E5EAF5;
	margin:0;
	font-size:1.2em;
}

.productgroup h3 span.sfont{
	font-size:0.9em;
}

.productgroup .r-padding{padding:0 3px 10px 0 ;}
.productgroup .l-padding{padding:0 0 10px 3px ;}
.productgroup .lr-padding{padding:0 3px 10px 3px ;}

.productgroup table{}

.productgroup table th ,.productgroup table td{
	text-align:center;
}

.productgroup table th img{
	border:1px solid #999999;
}
	
.productgroup table td{
	font-size:1.1em;
	line-height:1.2em;
}

.productgroup table th{
	padding:10px 0 3px 0;
}

.productgroup table td a ,.productgroup table td a:hover ,.productgroup table td a:visited{
	color:#333333;
}

.productgroup table td ul{
	padding:5px 0 10px 0;
	*padding:10px 0 5px 0; /* IE7 and below */
	line-height:0.9em;
}

.productgroup table td ul li img{
	margin:5px 0 0 0;
	*margin:2px 0 0 0; /* IE7 and below */
}

.background_gr{
	background-color:#EEEEEE;
}