@charset "utf-8";

/* 英語サイト用CSS */

/* =========================================================
initialisation
========================================================= */
body {
font-family: Arial, Helvetica, sans-serif;
}

/* =========================================================
globalnavi
========================================================= */
#globalnavi{  
margin:0;  
padding:0;  
width:960px;  
height:33px;  
}  
      
#globalnavi ul{  
list-style-type: none;  
margin: 0;  
padding: 0;  
}  
      
#globalnavi li{  
text-indent: -9999px;  
float:left;  
width: 137px;  
margin: 0;  
padding: 0;
}  

#globalnavi li.w138{  
text-indent: -9999px;  
float:left;  
width: 138px;  
margin: 0;  
padding: 0;  
}  
 
#globalnavi a{
display: block;
width: 100%;
height: 33px;
background-image: url("../../../../../../library/websites/com/en/common/img/glnavi.jpg");
background-repeat: no-repeat;
}
 
#menu1 a{background-position: 0 0;}  
#menu2 a{background-position: -137px 0;}  
#menu3 a{background-position: -274px 0;}  
#menu4 a{background-position: -411px 0;}  
#menu5 a{background-position: -548px 0;}  
#menu6 a{background-position: -685px 0;}  
#menu7 a{background-position: -822px 0;}  
      
#globalnavi a:hover{  
background-image: url("../../../../../../library/websites/com/en/common/img/glnavi.jpg");  
background-repeat: no-repeat;  
}  
      
#menu1 a:hover{background-position: 0 -33px;}  
#menu2 a:hover{background-position: -137px -33px;}  
#menu3 a:hover{background-position: -274px -33px;}  
#menu4 a:hover{background-position: -411px -33px;}  
#menu5 a:hover{background-position: -548px -33px;}  
#menu6 a:hover{background-position: -685px -33px;}  
#menu7 a:hover{background-position: -822px -33px;} 

/* =========================================================
各パーツen用フォント指定
========================================================= */

#brotherbreadcrumb ul li{
	font-size:1.1em;
}

#brotherbreadcrumb ul li a{
	font-size:1.1em;
}

#relatedcontents h3,
#relatedcontents2 h3{
	font-size:1.4em;
}

	
#relatedcontents2 .relatedLinksDetails h4{
	font-size:1.2em;
}
	
#contentTabUlFooter{
	font-size:1.2em;
}

#localeHolder .localeSelect{
	font-size:1.2em;
}

.pagetop p{
	font-size:1.3em;
}

#leftCol #simpleAccordion{
	font-size:1.2em;
	}


/* =========================================================
各パーツen用フォント指定
========================================================= */

h1.h1Text{
	font-size:2.4em;
}

.h2Text{
	font-size:1.4em;
}

.h2Border{
	font-size:1.4em;
}

.h2TextFold{
	font-size:1.4em;
}

.underlineH2 h2{
 	font-size:1.4em;
}

.h2News{
 	font-size:1.4em;
}

h3.h3base{
	font-size:1.6em;
}

h3.h3normal{
	font-size:1.4em;
}

.h3TextFold{
	font-size:1.4em;
}

.h3Link h3{
	font-size:1.4em;
}

.h3Link p{
	font-size:1.2em;
}

.h3News span{
	font-size:1.4em;
}

.h3UnderLine{
	font-size: 1.4em;
}

/*tableスタイル*/
table.tbstA{
	font-size:1.2em;
	}
table.tbstB{
	font-size:1.2em;
	}

table.tbstC{
	font-size:1.2em;
	}
	
table.tbstD{
	font-size:1.2em;
	}
	
table.tbstE{
	font-size:1.2em;
	}
	
table.tbstF{
	font-size:1.2em;
	}
	
	
	


/*カラムレイアウト*/

.box1-2 ul li,
.box1-2 p{
	font-size:1.2em;
	}
	
.box1-2 .catchphrase{
	font-size:1.6em;
	}


.box1-3 {
	}
	
.box1-3 .btnboxtext{
	font-size:1.2em;
	}

.box1-5{
	}

/*title_h3*/
.box1-2 h3{
	font-size:1.4em;
}

.box1-2 .boxtitle{
	font-size:1.4em;
	}
	
.box1-2 .boxtitle_m{
	font-size:1.4em;
	}
	
	
.box1-3 h3{
	font-size:1.4em;
}



/*ボーダー付きカラム*/
.borderbox p{
	font-size:1.2em;
}
.borderbox h3{
	font-size:1.4em;
}

.borderbox ul{
	font-size:1.2em;
}


.borderbox1-2 p{
	font-size:1.2em;
}

.borderbox1-2 p.boxtitle{
	font-size:1.4em;
	}

.borderbox1-2 p.figuretextboxB4{
	font-size:1.2em;
	}


.borderbox1-2 h3{
	font-size:1.4em;
}



.borderbox1-3 p{
	font-size:1.2em;
}

.borderbox1-3 h3{
	font-size:1.4em;
}

.borderbox1-4 p{
	font-size:1.2em;
}

.borderbox1-4 h3{
	font-size:1.4em;
}



.borderbox1-2 p{
	font-size:1.2em;
}


.borderbox1-3 p{
	font-size:1.2em;
}

.borderbox1-3n p{
	font-size:1.2em;
	margin:0;
	padding:0;
	zoom:1;
	width:198px;
}

* html .borderbox1-3n p {
	position: relative;
	top: -50%;
	zoom:1
}  
*+html .borderbox1-3n p {
	position: relative;
	top: -50%;
	zoom:1; 
}

/*写真付きテキスト*/

.figuretextboxB p{
	font-size:1.2em;
	}
	
.figuretextboxB p.boxtitle{
	font-size:1.4em;
	}

.figuretextboxB h3{
	font-size:1.4em;
	}


.figuretextboxB2 p.boxtitle,
.figuretextboxA2 p.boxtitle{
	font-size:1.4em;
}

.figuretextboxB2 h3,
.figuretextboxA2 h3{
	font-size:1.4em;
}

.figuretextboxB2 p,
.figuretextboxA2 p{
	font-size:1.2em;
}


.borderbox h3{
	font-size:1.4em;
	}

.borderbox .figuretextboxB2,
.borderbox .figuretextboxA2{
	font-size:1em;
}

.borderbox .figuretextbox p,
.borderbox .figuretextbox p{
}


/*太いボーダー付きbox*/
.borderbox p{
	font-size:1.2em;
	}


/*太いボーダー付きbox*/
.borderboldbox p{
	font-size:1.2em;
	}
	
.borderboldbox h3{
	font-size:1.4em;
	}

.borderboldbox p.boxtitle{
	font-size:1.4em;
	}

/*背景が青いboxbox*/
.bluebox h3{
	font-size:1.4em;
	}

.bluebox p{
	font-size:1.2em;
	}


/*背景がグレーのbox*/
.graybox{
	font-size:1.2em;
	}

/*機能一覧box*/
.functionbox table{
	font-size:1.2em;
	}
		

/*パーツリストのフォントサイズ*/
.rightSubMenu li{
	font-size:1.2em;
	}
	
.rightSubMenu li a.ismLList{
	display:block;
	padding:10px 10px 10px 17px;
	font-weight:bold;
	background:url(/library/websites/com/common/img/arrow.gif) 8px 16px no-repeat;
}
	
span.figcaption{
	font-size:1.2em;
	}

	
.functionicon li{
	font-size:1.2em;
	}
ul.relationlink{
	font-size:1.2em;
}

.supportbarcode{
	font-size:1.2em;
}

.lineListBottom{
	font-size:1.2em;
}

.manyrink{
	font-size:1.2em;
}


.iconText{
	font-size:1.2em;
	}
	

.lineList{
	font-size:1.2em;
}

.lineList1-3{
	font-size:1.2em;
}

.lineList1-4{
	font-size:1.2em;
}

.iconList{
	font-size:1.2em;
	}
	
.iconList p{
	line-height:1.4em;
	}
	
.listnavi{
		font-size:1.2em;
}
	


.iconlink{
	font-size:1.2em;
	}
	
.pp{
	font-size:1.2em;
	}

.itemList {
	font-size:1.2em;
	}

.twoGroupList {
	font-size:1.2em;
}

.twoDateList{
	font-size:1.2em;
	}

.twoDateList2 dt{
   font-size:1.2em;
}

.twoDateList2 dd{
   font-size:1.2em;
}

.itemBox table,
.itemBoxLast table{
	font-size:1.2em;
}
	
.itemBox h2,
.itemBoxLast h2{
	font-size:1.4em;
}

.itemBox h3,
.itemBoxLast h3{
	font-size:1.4em;
}

.itemBox h3.pName,
.itemBoxLast h3.pName{
	font-size:2em;
	margin-bottom:10px;
}

.itemBox h4.tLarge,
.itemBoxLast h4.tLarge{
	font-size:1.4em;
	line-height:1.5em;
}

.qBox{
	font-size:1.2em;
}

.qaBox2,
.qaBox{
	font-size:1.2em;
}

.qaBox2 dt.bl,
.qaBox dt.bl{
	color:#0039AE;
}

.qaBox dt,
.qaBox2 dt,
.qaBox2 dd{
	min-height:26px;
	}


.navigation{
	font-size:1.2em;
	}
	
.buttonBox{
	font-size:1.2em;
	}

.underlineH2 p{
	font-size:1.2em;
}
	
.numberList,
.normalList,
.discList{
	font-size:1.2em;
	}
	
.greyborder h3{
	font-size:1.2em;
}

.pagetop2{
	font-size:1.3em;
	line-height:1.5em;
	}

.bannerlink li{
	font-size:1.2em;
	}
	
.bluebox .productpoint p.pointtitle{
	font-size:1.4em;
}

.newProductText{
	font-size:1.2em;
	}
	
.buttonContact{
	padding:0.3em 0 0 35px; 
	background:url(/library/websites/com/common/img/icon2_01.jpg) left 0.3em no-repeat;
	min-height:30px;
	}
	
.buttonContact a{
	display:inline-block;
	padding-top:4px;
	}

.buttonCatalog{
	padding:0.3em 0 0 35px; 
	background:url(/library/websites/com/common/img/icon2_03.jpg) left 0.3em no-repeat;
	min-height:30px;
}

.buttonCatalog a{
	display:inline-block;
	padding-top:4px;
}

.buttonGuide{
	padding:0 0 0 35px; 
	background:url(/library/websites/com/common/img/icon2_04.jpg) left 0.3em no-repeat;
	min-height:30px;
}

.arrow_ls{
    background-position:left 0.5em;
	}
	
.lTRight a{
	background:url(/library/websites/com/common/img/arrow.gif) left 0.4em no-repeat;
	}

.rcTR{
	padding-top:5px;
}

.lTLeft a{
	background:url(/library/websites/com/common/img/arrow_re.gif) left 5px no-repeat;
}

.txt_btn p span{
    padding: 14px 7px 15px 0px;
}


/*IE7のもの*/
.boxpaddingie7{
	/padding:15px 15px 4px 15px;
}

	
/* =========================================================
archivelink
========================================================= */
.archivelink{
	font-size:1.2em;
}

/* =========================================================
各パーツen用widthスタイル
========================================================= */

.twoDateList dt{
   width:90px;
}

.twoDateList dd {
   margin-left:90px;
}

/* =========================================================
sidecontents
========================================================= */
#leftCol{
	float:left;
	width:210px;
	clear:left;
}

#leftCol2{
	float:left;
	width:710px;
}

.leftNavi li {
    background-color: #F6F6F4;
    border-bottom: 1px solid #CCCCCC;
	clear:left;
	width:100%;
}

.leftNavi li span a {
	width:100%;
 	font-weight:bold;
    background: url("../../../../../../library/websites/com/common/img/arrow-box.gif") 10px center  no-repeat;
    color: #333333;
    display: block;
    padding: 9px 10px 9px 30px;
	width:170px;
	line-height:1.2em;
}

.leftNavi li.selected span a{
    color: #FFFFFF;
    text-decoration:none;
	background-color:#777777;
}

.leftNavi li span a:hover,
.leftNavi li span a:active{
	background-color:#777777;
	color:#FFF;
	text-decoration: underline;
	}
	
.leftNavi li.header {
    background:url("/library/websites/com/common/img/products-services.png") left top no-repeat;
    border:none;
    color: #FFFFFF;
    margin: 0 0 -5px 0;
    padding: 7px 5px 0 15px;
    position: relative;
    z-index: 1;
	height:26px;
}

.leftNavi li.header span {
    background-image: none;
    color: #FFFFFF;
    font-weight: bold;
}

.leftNavi li.header span a{
    background-image: none;
    color: #FFFFFF;
	display:block;
	font-weight: bold;
    padding: 0;
    text-decoration:none;
}

.leftNavi li.header span a:hover{
	background-color: transparent;
	text-decoration:underline;
}

.rightNavi  {
	width:210px;
	list-style:none;
}

.rightNavi  li {
	border-bottom:1px solid #ccc;
	background-color:#f6f6f4;
}

.rightNavi  li:hover {
	background-color:#777;
}

.rightNavi  li:hover, .rightNavi  li.selected {
	background-color:#969696;
}

.rightNavi  li span {
	display:block;
	padding:0;
	background-image:url("/library/websites/com/common/img/arrow.gif");
	background-position:30px 11px;
	background-repeat:no-repeat;
}


.rightNavi  li span.third{
	display:block;
	padding:0;
	background-image:url("/library/websites/com/common/img/arrow_thr.gif");
	background-position:45px 11px;
	background-repeat:no-repeat;
}



.rightNavi  li.header span {
	display:block;
	padding:0;
	background-image:none;
	color:#fff;
}

.rightNavi  li a {
	display:block;
	padding: 9px 10px 9px 40px;
	color:#333;
	text-decoration: none;

}

.rightNavi  li:hover a {
	color:#fff;
	text-decoration:underline;
	padding:9px 10px 9px 40px;
}

.rightNavi  li.selected a {
	color:#fff;
	text-decoration:none;
	padding:9px 10px 9px 40px;
}


.rightNavi  li.selected a:hover {
	color:#fff;
	text-decoration:underline;
	padding:9px 10px 9px 40px;
}


.rightNavi  li span.third a {
	display:block;
	padding:9px 10px 9px 55px;
	color:#333;

}

.rightNavi  li:hover span.third a {
	color:#fff;
	text-decoration:underline;
	padding:9px 10px 9px 55px;
}

.rightNavi  li.selected span.third a {
	color:#fff;
	text-decoration:none;
	padding:9px 10px 9px 55px;
}

