@charset "utf-8";

/*フッター用css*/

/* =========================================================
pagetop - 120311以下、各言語フッタより共通部のみ移動
========================================================= */
.pagetop{
	clear:both;
	text-align:right;
}

.pagetop a{
	background:url(/library/websites/com/common/img/arrow_start.gif) left center no-repeat;
	padding-left:10px;
	font-weight:bold;
}

.pagetop p{
	display:inline;
	font-weight:bold;
	font-size:1.3em;
	line-height:1.5em;
	margin-bottom:0.5em;
}

.pagetop2{
	clear:both;
	text-align:right;
}

.pagetop2 a{
	background:url(/library/websites/com/common/img/arrow_start.gif) left center no-repeat;
	padding-left:10px;
	font-weight:bold;
}

.pagetop2 p{
	display:inline;
	font-weight:bold;
	font-size:1.3em;
	line-height:1.5em;
	margin-bottom:0.5em;
}

/* =========================================================
footerSearch
========================================================= */
.footerSearch{
	float:right;
	width:280px;
	height:25px;
	padding:15px 0 15px 0;
	margin:0;
	background-color:#fff;
}

.footerSearchBoxBG {
	width:275px;
	height:20px;
	padding:0 0 0 10px;
	margin:0;
	background-image:url(/library/websites/com/common/img/search_box.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}

.footerSearchBox{
	display:inline-block;
	float:left;
	width:200px;
	height:16px;
	line-height:1.2em;
	/*>height:14px;*/
	border:0;
	padding:4px 0 0 10px;
	margin:0 5px 0 5px;
	background-image:url(/library/websites/com/common/img/search.gif);
	background-position:left top;
	background-repeat:no-repeat;
}

/* =========================================================
Feedback
========================================================= */
.btnFeedback {
    position:fixed;
    _position:absolute;
    top:300px;
    right:0;
    width:22px;
    height:256px;
}

.btnFeedback a {
	display:block;
	height:100%;
	width:100%;
	background-image:url(/library/websites/com/en/common/img/tab.gif);
	background-position:left top;
	background-repeat:no-repeat;
}

#footer{
	position:relative;
	margin:0 auto 0 auto !important;
	clear:both;
	width:960px;
	padding:0 !important;
	background-color:#fff;
} 

.comFooter{
	clear:both;
	width:960px;
	background:url(/library/websites/com/common/img/footer_mapbg.gif)  repeat-y;
	padding-top:5px;
}

.comFooter{width:100%;}
.comFooter:after{
    content: ""; 
    display: block; 
    clear: both;
}

.footerline{
	clear:both;
	margin-bottom:20px;
	width:960px;
}

.footerContent{
	clear:both;
}

.bannerFooter{
	clear:both;
	height:70px;
	border:1px solid #ededeb;
	background-color:#f6f6f6;
	padding:10px 10px 10px 10px;
	width:938px;
}

.bannerfooterColumn{
	float:left;
	width:220px;
	margin-right:12px;
}

.commonFooter1{
	float:left;
	min-height:366px;
	height:auto;
	margin:0;
	padding:0 0 0 15px;
	width:765px;
}

.commonFooter{
	float:left;
	min-height:290px;
	margin:0 15px 0 0;
	padding:0 0 10px 15px;
	width:150px;
}

.footerColumn{
	float:left;
	width:174px;
	padding:0;
	margin-right:8px;
	line-height:1.5em;
}

.footerColumn_left{
	float:left;
	width:140px;
	padding:0;
}

.footerColumn_left p{
	color:#0039ae;
	padding:0 0 0 18px;
	background-image:url(/library/websites/com/common/img/icon-home.gif);
	background-position:left 6px;
	background-repeat:no-repeat;
	width:100%;
	font-size:1.6em;
	line-height:1.5em;
	margin-bottom:10px;
}

.footerColumn_left p:after{
    content: ""; 
    display: block; 
    clear: both;
}

.footerColumn_left p a{
	font-weight:bold;
}

.footerLine{
	padding-bottom:10px;
	clear:left;
}

.footerLine{width:100%;}
.footerLine:after{
    content: ""; 
    display: block; 
    clear: both;
}

.footerColumn_1{
	float:left;
	width:230px;
	padding:0;
	margin-right:20px;
}

.footerColumn_1 p{
	color:#0039ae;
	font-weight:bold;
	font-size:1.6em;
	line-height:1.5em;
	margin-bottom:10px;
}

.footerColumn_1 p a{
	font-weight:bold;
}

.footerColumn_1 p.footerGlobalLink a{
	font-weight:bold;
}

.footerColumn_1 ul, .findByConsumables ul{
	margin:0;
	padding:0 0 10px 0;
}

.footerColumn_1 ul li{
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	margin:0 0 5px 0;
	padding-left:10px;
	line-height:1.5em;
	font-size:1.2em;
}

.footerColumn_1 ul li a{
	color:#333;
}

.footerColumn_1 ul li a strong{
	color:#333;
}

.footerColumn_2{
	float:left;
	width:145px;
	padding:0;
	margin-right:20px;
}

.footerColumn_2 p{
	font-size:1.3em;
	color:#0039ae;
	font-weight:bold;
	font-size:1.6em;
	line-height:1.5em;
	margin-bottom:10px;
}

.footerColumn_2 p a{
	font-weight:bold;
}

.footerColumn_2 p.footerGlobalLink a{
	font-weight:bold;
}

.footerColumn_2 ul, .findByConsumables ul{
	margin:0;
	padding:0 0 10px 0;
}

.footerColumn_2 ul li, .findByConsumables ul li{
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	margin:0 0 5px 0;
	padding-left:10px;
	font-size:1.2em;
	line-height:1.5em;
}

.footerColumn_2 ul li a{
	color:#333;
}

.footerColumn_2 ul li a strong{
	color:#333;
}

.footerColumn_3{
	float:left;
	width:190px;
	padding:0;
	margin-right:20px;
}

.footerColumn_3 p{
	color:#0039ae;
	font-weight:bold;
	font-size:1.6em;
	line-height:1.5em;
	margin-bottom:10px;
}

.footerColumn_3 p a{
	font-weight:bold;
}

.footerColumn_3 p.footerGlobalLink a{
	font-weight:bold;
}

.footerColumn_3 ul, .findByConsumables ul{
	margin:0;
	padding:0 0 10px 0;
}

.footerColumn_3 ul li, .findByConsumables ul li{
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	margin:0 0 5px 0;
	padding-left:10px;
	font-size:1.2em;
	line-height:1.5em;
}

.footerColumn_3 ul li a{
	color:#333;
}

.footerColumn_3 ul li a strong{
	color:#333;
}

.footerColumn_4 p{
	color:#0039ae;
	font-weight:bold;
	font-size:1.6em;
	line-height:1.5em;
	margin-bottom:10px;
}

.footerColumn_4 p a{
	font-weight:bold;
}

.footerColumn_4{
	float:left;
	width:500px;
	padding:0;
	margin-right:20px;
}

.footerColumn_4 p.footerGlobalLink a{
	font-weight:bold;
}

.footerColumn_4 ul, .findByConsumables ul{
	margin:0;
	padding:0 0 10px 0;
}

.footerColumn_4 ul li, .findByConsumables ul li{
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	margin:0 0 5px 0;
	padding-left:10px;
	font-size:1.2em;
	line-height:1.5em;
}

.footerColumn_4 ul li a{
	color:#333;
}

.footerColumn_4 ul li a strong{
	color:#333;
}

.footerColumn_5{
	float:left;
	width:160px;
	padding:0;
}

.footerColumn_5 p{
	color:#0039ae;
	font-weight:bold;
	font-size:1.6em;
	line-height:1.5em;
	margin-bottom:10px;
}

.footerColumn_5 p a{
	font-weight:bold;
}

.footerColumn_5 p.footerGlobalLink a{
	font-weight:bold;
}

.footerColumn_5 ul, .findByConsumables ul{
	margin:0;
	padding:0 0 10px 0;
}

.footerColumn_5 ul li, .findByConsumables ul li{
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	margin:0 0 5px 0;
	padding-left:10px;
	line-height:1.5em;
	font-size:1.2em;
}

.footerColumn_5 ul li a{
	color:#333;
}

.footerColumn_5 ul li a strong{
	color:#333;
}

.footerColumn_6{
	float:left;
	width:200px;
	padding:0;
	margin-right:20px;
}

.footerColumn_6 p{
	color:#0039ae;
	font-weight:bold;
	font-size:1.6em;
	line-height:1.5em;
	margin-bottom:10px;
}

.footerColumn_6 p a{
	font-weight:bold;
}

.footerColumn_6 p.footerGlobalLink a{
	font-weight:bold;
}

.footerColumn_6 ul, .findByConsumables ul{
	margin:0;
	padding:0 0 10px 0;
}

.footerColumn_6 ul li, .findByConsumables ul li {
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	margin:0 0 5px 0;
	padding-left:10px;
	line-height:1.5em;
	font-size:1.2em;
}

.footerColumn_6 ul li a{
	color:#333;
}

.footerColumn_6 ul li a strong{
	color:#333;
}

.footerGlobalLink{
	>width:146px;
	padding:0 0 0 18px;
	background-image:url(/library/websites/com/common/img/icon-globe.jpg);
	background-position:left center;
	background-repeat:no-repeat;
}

.footerGlobalLink p{
	font-weight:bold;
	padding:2px 0 0 0;
}

.footerColumn p.footerGlobalLink a{
	font-weight:bold;
}

.footerColumn ul, .findByConsumables ul{
	margin:0;
	padding:0;
}

.footerColumn ul li, .findByConsumables ul li{
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	margin:0 0 5px 0;
	padding-left:10px;
}

.footerColumn ul li a{
	color:#333;
}

.footerColumn ul li a strong{
	color:#333;
}

.footerColumn_left p.footerGlobalLink a{
	font-weight:bold;
}

.footerColumn_left ul, .findByConsumables ul{
	margin:0;
	line-height:1.5em;
	font-size:1.2em;
	padding:0;
}

.footerColumn_left ul li, .findByConsumables ul li{
	background:url(/library/websites/com/common/img/arrow.gif) no-repeat left 5px;
	margin:0 0 5px 0;
	padding-left:10px;
}

.footerColumn_left ul li a{
	color:#333;
}

.footerColumn_left ul li a strong{
	color:#333;
}

.poplink {
	clear:both;
	color:#000;
	padding:5px 0 0 0;
	height:30px;
}

.background_gf {
 background-color:#f6f6f6;
 padding:10px 0;
}

.copyRight {
	color:#7f7f7f;
	background-color:#fff;
	padding:5px 0 0 5px;
}

.copyRight_tn{
	float:left;
	width:350px;
	color:#7f7f7f;
	background-color:#fff;
	padding:0 0 0 2px;
	margin:5px 0 0 0;
	font-size:1.2em;
	line-height:1.5em;
}

.TabUlFooter1 {
	width:600px;
	float:right;
}

.TabUlFooter {
	display:block;
	margin:5px 0 0 0;
	text-align:right;
	font-size:1.2em;
}

.TabUlFooter li {
	display:inline;
	padding:0 5px 0 5px;
}

.TabUlFooter li img{
	padding:0 5px 0 5px;
}

.TabUlFooter li.breaklist{
	display:block;
	margin:0px;
	padding:0px;
}

.TabUlFooter li.last{
	border:0;
}

.TabUlFooter li a{
	color:#000;
}

.TabUlFooter li.selected a{
	color:#333;
}

.commonFooter1_tab{
	width:165px;
	height: 25px;
}

.commonFooter2_tab{
	float:left;
	width:960px;
	height: 25px;
}

#corp_footer_map_tabs{
	padding:0 0 0 180px;
	position:relative;
	width:780px;
}

#corp_footer_map_tabs:after{
    content: ""; 
    display: block; 
    clear: both;
}

#corp_footer_map_tabs li{
	float: left;
	width: 88px;
	height: 25px;
	margin: 0;
	background: url("../../../../../../library/websites/com/common/img/abs_footer_map.gif") no-repeat 0 0;
	font-size:1.3em;
	line-height:1.3em;
}

.rollover1 a:hover{
  background-position:left bottom;
}

#corp_footer_map_tabs li a{
	float: left;
	padding:5px 0 0 17px;
	margin: 0;
}
	
#corp_footer_map_tabs li a.selected{
	float: left;
	color:#000;
	padding:5px 0 0 17px;
	margin: 0;
	background:none;
}

/* =========================================================
for tabs js
========================================================= */
#corp_footer_map_tabs li.corp_current { background: url("../../../../../../library/websites/com/common/img/abs_footer_map_ac.gif") no-repeat 0 0;}
#corp_footer_map_tabs li.corp_current a { float: left; color:#000;  padding:5px 0 0 17px;margin: 0; background:none;}

/* =========================================================
for einy footer
========================================================= */
.poplink_e {
	clear:both;
	color:#000;
	padding:5px 0 0 0;
}

.background_gf_e {
 background-color:#f6f6f6;
	padding:2px;
}

.TabUlFooter_e {
	display:block;
}

.TabUlFooter_e li {
	display:inline;
	padding:0 5px 0 5px;
	line-height:1em;
	border-right:1px solid black;
}

.TabUlFooter_e li.breaklist{
	display:block;
	margin:0px;
	padding:0px;
}

.TabUlFooter_e li.last{
	border:0;
}

.TabUlFooter_e li.selected a{
	color:#333;
}

.TabUlFooter_e a{
	color:#000;
	text-decoration:none;
}

.TabUlFooter_e a:hover{
	text-decoration:underline;
}

.copyRight_tn_e{
	float:left;
	color:#7f7f7f;
	background-color:#fff;
	padding:0 0 10px 5px;
	margin:5px 0 0 0;
	font-size:1.2em;
	line-height:1.5em;
	line-height: 1.4em;
}