@charset "utf-8";

/*com共通ヘッダーcss*/

/* =========================================================
header style
========================================================= */
#parentContainer {
	width:960px;
	padding:0;
	margin:0 auto;
}

#header2{
font-size:16px;
line-height:1;
width:960px;
min-width:400px;
@max-width:960px;
margin-right:-150px;
height:59px;
color:#fff;
font-family: "arial","helvetica","sans-serif";

/* w3c */
background:linear-gradient(to right, #0d2ea0 20%, #071956 80%);
/* webkitp */
background:-webkit-gradient(linear, left top, right top, from(#0d2ea0), color-stop(0.2, #0d2ea0),  color-stop(0.8, #071956), to(#071956));
/* mozillap */
background:-moz-linear-gradient(left, #0d2ea0 20%, #071956 80%);
/* operap */
background:-o-linear-gradient(left, #0d2ea0 20%, #071956 80%);
background-repeat: repeat-y;
/* ie6_7 */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#0d2ea0', endColorstr='#071956');
/* ie8 */
-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#0d2ea0', endColorstr='#071956');
}

#search {
	float:right;
	width:auto;
}


#brabox {
	font-size:62.5%;
	width:auto;
}


*:first-child+html #brabox {
	width:275px;
	float:right;
	margin-right:18px
}



#brabox1 {
	float:right;
	margin-right:18px;
	padding-top:10px;
	width:150px;
}

*:first-child+html #brabox1 {
	margin-top:19px;
	padding-top:10px;
}



.bra_logo { 
  width:106px;
	text-align:left;
	padding-top:11px;
	padding-left:18px;
	float:left;
	}
	

.bra_logo a img { 
	border-style:none;
	}





#inner {
	margin:10px 20px 0 0;
}

#largeAlphaWrap {
	float:left;
	width:auto;
} 

*:first-child+html #largeAlphaWrap {
	float:left;
	width:160px;
	padding-left:40px;
}

#largeBetaWrap {
	float:right;
	 width:auto;
}


#aWrap {
	float:right;
	margin-right:5px;
}  

*:first-child+html #aWrap {
	float:right;
	margin-right:1px;
}


#bWrap {
	float:right;
	margin-right:7px;
	margin-top:1px;
	padding:0 0 0 40px;
	color:#fff;
	font-weight:bold;
	font-size: 1.1em;
}


html>/* */body #bWrap {
	float:right;
	margin-right:7px;
	margin-top/***/:0\9;
	padding:0 0 0 40px;
	color:#fff;
	font-weight:bold;
	font-size: 1.1em;
}


*:first-child+html #bWrap {
	margin-top:0;
	margin-bottom:0;
	float:right;
	padding:0 0 0 0;
	color:#fff;
	font-weight:bold;
	line-height:1.1em;
	font-size: 1.1em;
}




#cWrap { float:right;}  
#dWrap { 
   float:right;	
	 margin-left:2px;
	 }

*:first-child+html #dWrap { 
   float:right;	
	 text-align:left;
	 }
	 
	 
#dWrap a {
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
} 


#dWrap a:link  {
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
} 
  

#dWrap a:visited  {
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
}

#dWrap a:hover {
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
}

#dWrap a:active {
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
}


.clear { clear:both; }  
.clear hr { display:none; } 

	





input#search_box{
	height:14px;
	padding:0;
	margin:0;
	vertical-align:top;
}


html>body input#search_box{
	margin:0 2px 0 0;
}

#header form input{
	padding:0 0 0 2px;
	_padding:2px 0 0 2px;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
}



#header form {
	margin: 0;
	padding: 0 0 8px 0;
	}


.posi{
	position:relative;
	
}

*:first-child+html .posi{
	position:relative;
	margin-top:-20px;
}



/*--Search1--*/

.globalHeaderSearch {
	width: 150px; 
				}


.globalHeaderSearchDefault {
	background:url(/library/websites/com/common/img/input_off.gif) no-repeat;
	border: none;
	width: 150px;
	height: 17px;
	font-size:11px;
}

.globalHeaderSearchInputOff {
	background:url(/library/websites/com/common/img/input_off.gif) no-repeat;
	border: none;
	width: 150px;
	height: 17px;
	font-size:11px;
}


																																			
.globalHeaderSearchInputOn {
	background:url(/library/websites/com/common/img/input_on.gif) no-repeat;
	border: none;
	width: 150px;
	height: 17px;
	font-size:11px;
				}


#searchBtn4	{
	position: absolute;
	top: 1px;
	left: 125px;
	width: 25px;
	height: 15px;
	background:none;
	background-color:transparent;
	border:none;
}

html>/**/body  #searchBtn4 {
	position: absolute;
	top: 1px;
	left: 120px;
	width: 30px\9;
	height: 15px;
	background:none;
	background-color:transparent;
	border:none;
}

*:first-child+html #searchBtn4	{
	position: absolute;
	top: 1px;
	left: 125px;
	width: 25px;
	height: 15px;
	background:none;
	background-color:transparent;
	border:none;
}


.pad_top{
	padding-top:1px;}