@charset "UTF-8";

/*region5*/
.centerCol-block{
	font-size: 1.0em;
    line-height:1.8em;
	overflow:hidden;
	margin:10px 0;
}

.centerCol-block p{
	margin:0;
	font-size:1.2em;
	padding-bottom:20px;
}

.centerCol-block table{
	font-size:1.2em;
	margin-bottom:30px;
}

.centerCol-block ul, .centerCol-block dl, .centerCol-block ol{
	font-size:1.2em;
	margin-bottom:20px;
}

.centerCol-block h1{
	background-image:url(../img/main.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	width:960px;
	height:185px;
	position:relative;
}

.centerCol-block h1 a{
	cursor:pointer;
}

/*.mainimage{
	background-image:url(../img/main.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	width:960px;
	height:185px;
	position:relative;
}*/

.logoIcon{
	position:absolute;
	top:17px;
	left:43px;
}

.centerCol-block h2{
	clear:both;
	font-size:1.4em;
	margin-bottom:15px;
}

h2.dblue{
	border-bottom: 3px solid #6195FF;
	padding:0 0 5px 0;
	line-height:1.6;
}

/* text position */
.align-c{text-align:center;}
.align-r{text-align:right;}
.align-l{text-align:left;}
.valign-t{vertical-align:top;}
.valign-m{vertical-align:middle;}
.valign-b{vertical-align:bottom;}
.valign-s{vertical-align:super;}

.mar_r30{margin-right:30px;}

/* margin0 */
.mar0{margin-bottom:0px !important;}

/* padding0 */
.pad0{padding-bottom:0px !important;}

.pad_t7{padding-top:7px!important;}
.mar_t10{margin-top:10px;}
.mar_r10{margin-right:10px;}

/*sub*/
.centerCol-block sub{
	font-size:0.8em;
	font-size:1.0em\9; /* IE8 and below */
}

/* sup */
.centerCol-block sup{
	font-size:0.9em;
	font-size:1.1em\9; /* IE8 and below */
	vertical-align: baseline;
	position: relative;
	top: -1ex;
}

/* float */
.fl-r{float:right;}
.fl-l{float:left;}

/* clear */
.cboth{clear:both;}

/* bold */
.bold{font-weight:bold;}
.txt-normal{font-weight:normal;}

/* font color */
.g-txt{color:#666;}

/* smalltext */
span.smalltxt{
	font-size:92%;
}

/* frame grey */
.gframe{border:1px #CCC solid;}

/* indent */
ul.note{
}

ul.note li{
	text-indent:-1.0em;
	padding-left:1.0em;
}

/* caption */
ul.footnote{
	color: #666666;
	font-size: 1.0em;
	list-style:none;
}

ul.footnote li{
	padding-left: 2.0em;
	text-indent: -1.6em;
	line-height:1.6;
}


/*page top*/
p.page-top{
	text-align:right;
	clear:both;
}

p.page-top a{
	background: url("../../../../../library/websites/common/img/arrow_start.gif") no-repeat scroll left center #FFFFFF;
    padding-left:14px;
	font-weight:bold;
}

/*feedback*/
.mainarea{
	padding:20px 10px 10px 10px;
}

.cont-l{
	width:390px;
	float:left;
	margin:0 30px 0 0;
}

.cont-m{
	width:260px;
	float:left;
	margin:0 30px 0 0;
}

.cont-r{
	width:230px;
	float:right;
}

.subsection{
	padding-bottom:20px;
	overflow:hidden;
}

/*Information*/
.gbox{
	padding:10px;
	border:1px solid #999999;
	overflow:hidden;
}

.gbox p{
	padding-bottom:0;
	padding-left:10px;
	line-height:1.2;
}

.gbox p a{font-weight:bold;}

#w390{width:368px;}
#w190{width:168px;}

/*About Brother*/

.corp-img{
	float:left;
	margin:0 15px 0 0;
}

.corp-disc{
	float:left;
	width:197px;
}

.corp-disc h3{
	font-size:1.2em;
	margin-bottom:5px;
	clear:both;
}

.corp-disc ul{
	overflow:hidden;
	margin-bottom:10px;
}

.corp-disc ul li{
	float:left;
	border-left:1px solid #999999;
	padding:0 8px;
	line-height:1.2;
	margin:0 0 5px 0;
}

.corp-disc ul li.last{
	border-right:1px solid #999999;
}

/*Brother Group Websites*/
.map{
	background:url(../img/hom_02.jpg) no-repeat left top;
	width:260px;
	height:176px;
	position:relative;
}

.map p{
	line-height:1.2;
	text-indent:-0.8em;
	padding-left:0.8em;
}

.map p a{font-weight:bold;}

.eu{
	position:absolute;
	top:50px;
	left:105px;
	width:80px;
}

.us{
	position:absolute;
	top:70px;
	left:10px;
	width:100px;
}

.mid{
	position:absolute;
	top:100px;
	left:100px;
	width:95px;
}

.as{
	position:absolute;
	top:80px;
	left:190px;
	width:75px;
}

/*news*/

.icon{
	margin:0 5px 4px 0;
	vertical-align:middle;
}

dl.news{
	border-bottom:1px dashed #999999;
	margin-bottom:10px;
}

dl.news dt{
	margin-bottom:10px;
}

dl.news dd{
	margin-bottom:10px;
}

.mainarea form input{
	font-family: "arial","helvetica","sans-serif";
	padding:2px 5px;
	margin-right:5px;
}

table.t01{}

table.t01 th, table.t01 td{
	text-align:left;
}

table.t01 th{
	padding-right:20px;
}

table.t01 td input{
	margin-left:20px;
	margin-right:3px;
}

table.t01 td input.first{
	margin-left:0 !important;
}