@charset "utf-8";

/*com共通css*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	outline:0;
}
img{
	vertical-align:baseline;
}

body, img, a, div, td, th {
	font-size:inherit;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

h1, h2, h3, h4, h5, h6{
	font-size:100%;
}


ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}


* {
	margin:0;
	padding:0;
}