@charset "UTF-8";

.smartphonesite_link{
	padding: 30px 0 !important;
	font-size:1.2em !important;
	text-align: center !important;
	display: none;
}


/* モーダルウィンドウ
-----------------------------*/
#MDL_overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: #111;
	overflow: hidden;
	position: fixed;
	filter: alpha(opacity=90);
	opacity: 0.9;
	z-index: 1000;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
#MDL_window {
	margin-top: -200px;
	margin-left: -400px;
	top: 50%;
	left: 50%;
	width: 800px;
	text-align: left;
	display: none;
	background: #fff;
	border: #000000 5px solid;
	position: fixed;
	z-index: 1001
}
#MDL_window h2 {
	margin-bottom: 30px;
	padding: 10px;
	font-size: 36px;
	line-height: 1.3em;
	color: #000000;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
#MDL_window p {
	padding: 0 10px 20px 10px;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
#MDL_window .md_btn {
	width: 100%;
	text-align: center;
}
#MDL_window .md_btn a {
	margin: 0 15px;
	padding: 30px 5px;
	width: 290px;
	text-align: center;
	display: inline-block;
	border: 2px solid #aaaaaa;
	text-decoration: none;
	font-size: 36px;
	border-radius: 5px;
	color: #000000;
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
#MDL_window .day30 {
	padding: 40px 10px 40px;
	font-size: 36px;
	text-align: center;
}
#MDL_window .day30 input {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin: 0 10px 10px 0;
}

