html,body,h1,h2,h3,h4,h5,h6,p,em,strong,abbr,acronym,blockquote,q,cite,ins,del,dfn,a,div,span,pre,hr,address,br,b,i,sub,sup,big,small,tt,table,tr,caption,thead,tbody,tfoot,col,colgroup,form,input,label,textarea,button,fieldset,legend,select,option,optiongroup,ul,ol,dl,dt,dd,code,var,kdb,samp,img,object,param,map,area,bdo,iframe{margin:0;padding:0;}
*{font-family:Arial;}
html,body{height:100%;}
.sites {float:left;margin-left:10px;}
#pn_logo_serp{display:block;width:77px;height:34px;background:transparent url('../img/pn_sprite_6-2013.png') no-repeat top left;margin-right:5px;margin-left:5px;}
#s_web_icon{opacity: 0.75;display:block;width:19px;height:19px;background:transparent url('../img/pn_sprite_6-2013.png') no-repeat top right;}
#s_img_icon{opacity: 0.75;display:block;width:18px;height:16px;background:transparent url('../img/pn_sprite_6-2013.png') no-repeat -77px -20px;}
.pad{width:15px;}
.opt_clrfx{clear:both}
.wgt_logo{padding:0 12px;}
#upper_ads{margin-bottom:10px;}
.left_nav_top_fix{margin-top:-9px;padding-left:2px;}
.header{border-bottom:1px solid #bfbfbf;height:32px;}
.header .hostname{color:#000000;font-size:14px;font-weight:bold;text-decoration:none;line-height:22px;}
.headerLinks{font-size:12px;line-height:22px;}
.headerLinksInactive{font-weight:normal;}
.headerLinksActive{font-weight:bold;}
.inputFieldWrapper{border:1px solid #bfbfbf;padding:2px 10px 1px;}
#q{border:0 none;font-size:21px;font-weight:normal;height:24px;outline-color:#000000;outline-style:none;width:100%;}
#searchSubmit{font-size:16px;
              /*height:32px;width:96px;*/
              padding-top:9px;
              height: 24px; width: 98px;
              background: transparent url('../img/pn_search_btn_new.png') no-repeat top left;
              color: #ffffff; text-align: center; text-decoration: none;
              font-family: Arial; font-size: 13px; font-weight: bold;
              display: block;
}
.rubberPart{height:100%;max-height:686px;min-height:572px;}
.rubberSpacer70{max-height:70px;min-height:50px;}
.rubberSpacer74{max-height:74px;min-height:25px;}
.rubberSpacer100{max-height:74px;min-height:50px;}
a.gray{color:#363636;font-size:12px;padding:0 10px;text-decoration:none;}
a.serpleft{color:#363636;font-size:12px;text-decoration:none;}
a.blue{color:#0B94F3;font-size:12px;padding:0 10px;text-decoration:none;}
.active{font-size:12px;font-weight:bold;}
select.language{margin-bottom:2px;font-size:12px;}
a.language{color:#0B94F3;font-size:12px;line-height:22px;padding:0 6px;text-decoration:none;}
.ads_title{color:#35393c;display:block;font-size:11px;line-height:11px;padding-bottom:10px;}
.ads_content{margin-left:-4px;margin-right:-4px;}
.org_content{display:block !important;padding-bottom:16px;margin-top:7px;}
.sch-inf{display:block !important;height:24px;overflow:hidden;}
.sch-inf .in{color:#000000;direction:ltr;font-size:11px;height:24px;line-height:24px;}
.sch-itm{clear:both;list-style:none outside none;margin:0 0 5px;padding:6px 0 4px 0;position:relative;}
.sch-list .sch-itm .bd{color:#000000;font-size:13px;max-width:45em;}
#right_ads{width:240px !important;}
.sch-itm .tl,.sch-itm .tr,.sch-itm .bl,.sch-itm .br{display:none;height:4px;position:absolute;width:4px;}
.sch-itm .tl{background-position:0 -392px;left:-2px;top:-2px;}
.sch-itm .tr{background-position:-4px -392px;right:-2px;top:-2px;}
.sch-itm .bl{background-position:0 -396px;bottom:-2px;left:-2px;}
.sch-itm .br{background-position:-4px -396px;bottom:-2px;right:-2px;}
.sch-list a{color:#2907CD;cursor:pointer;outline:medium none;text-align:left;text-decoration:underline;}
.sch-itm:hover .tl,.sch-itm:hover .tr,.sch-itm:hover .bl,.sch-itm:hover .br{display:block;}
.sch-itm h3{font-size:16px;font-weight:normal;padding-bottom:1px;}
.sch-itm .inf{color:#7C7C7C;direction:ltr;font-size:11px;line-height:1.3em;}
.sch-itm cite{color:#0B734E;cursor:pointer;font-size:13px;font-style:normal;margin-right:1px;}
.pagin{line-height:22px;/*padding:40px 0 50px 0;*/padding:10px 0 50px 0;vertical-align:middle;}
.pagin a{color:#3366CC;display:inline-block;line-height:22px;text-decoration:none;}
.pagin a.arrow{color:#2200C1;font-size:13px;font-weight:bold;line-height:22px;text-decoration:none;}
.pagin a .w-l,.pagin a .w-r{display:inline-block;line-height:22px;padding-left:15px;padding-right:15px;}
.pagin .arr-l {display:inline-block;font-size:12px;height:22px;line-height:22px;width:10px;}
.pagin .arr-r{display:inline-block;font-size:12px;height:22px;line-height:22px;width:10px;}
.pagin .n{display:inline-block;font-size:13px;padding:0 6px 0;}
.pagin .n:hover{display:inline-block;text-decoration:underline;}
.pagin .n-act{display:inline-block;font-size:13px;font-weight:bold;line-height:22px;padding:0 6px;}
.pagin .n-act:hover{background:none repeat scroll 0 0 transparent;cursor:default;display:inline-block;text-decoration:none;}
.suggest_link{background-color:white;height:22px;line-height:22px;overflow:hidden;padding:2px 6px;z-index:9;}
.suggest_link_over{background-color:#F3F8FC;color:#000000;cursor:pointer;height:22px;line-height:22px;overflow:hidden;padding:2px 6px;z-index:9;}
.suggestPanel{background:url("../img/powerdby.jpg") no-repeat scroll 285px 99% white;border:1px solid #6A6A6A;display:none;font-family:Arial,Verdana,Helvetica;font-size:16px;padding-bottom:30px;position:absolute;text-align:left;z-index:10;}
.interfaceButton{font-size:16px;height:32px;width:200px;margin-top:10px;}
a{color:#003896;cursor:pointer;outline:medium none;text-decoration:underline;}
a:hover{text-decoration:none;}
fieldset{border:0 none;}
h1{font-size:28px;}
h2{font-size:22px;}
h3{font-size:16px;}
h4{font-size:11px;}
p{font-size:12px;}
img{border:0 none;}
input{vertical-align:middle;}
input.btn{cursor:pointer;overflow:visible;}
input.txt{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #DFDFDE;color:#000000;font:13px Arial,Helvetica,sans-serif;padding:3px 5px;}
li{list-style-type:square;margin-left:25px;}
textarea{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #D6D6D6;color:#000000;font:12px Tahoma,Geneva,sans-serif;padding:2px 4px;}
.btn-row{padding:16px 0 9px;}
.c-btn .l{float:left;padding:6px 0 6px 25px;}
.c-btn .r{float:left;padding:6px 0;width:46px;}
.c-btn2 .l{float:left;}
.c-btn2 .r{float:left;padding:6px 0;width:16px;}
.c-btn2 input.btn{background:none repeat scroll 0 0 transparent;border:0 none;color:#FFFFFF;font:bold 12px Arial,Helvetica,sans-serif;height:27px;overflow:visible;padding:0 10px 0 16px;vertical-align:top;z-index:9;}
.c-btn2{clear:both;color:white;display:inline-block;font-size:12px;font-weight:bold;height:27px;overflow:hidden;text-decoration:none;vertical-align:middle;}
.c-btn{clear:both;color:white;display:inline-block;font-size:12px;font-weight:bold;height:27px;overflow:hidden;text-decoration:none;vertical-align:middle;}
.cont-f h2{color:#006DAF;font-family:Arial,Helvetica,sans-serif;font-size:16px;font-weight:bold;padding-left:2px;}
.separator{height:1px;/*margin-bottom:30px;margin-top:20px;*/max-width:800px;margin-bottom:15px;margin-top:15px;}
.content h1{color:#006DAF;}
.content p{margin-top:10px;}
.content h2{color: #006DAF;font-size:16px;font-weight:bold;margin-top:20px;margin-bottom:5px;}
.content{color:#737373;/*padding-bottom:70px;*/padding-bottom:10px;line-height:22px;}
.dropdown b.value{display:none;}
.dropdown dd ul li span{display:block;padding:5px;}
.dropdown dd ul li span:hover{background-color:#6AAFD9;color:white;}
.dropdown dd ul li{cursor:pointer;list-style-type:none;margin-left:0;}
.dropdown dd ul {background-color:white;border:1px solid #C2C2C2;color:#5C616B;display:none;left:0;list-style:none outside none;width:338px;padding:5px 0;position:absolute;top:0;}
.dropdown dd{position:relative;z-index:10;}
.dropdown dd,.dropdown dt,.dropdown ul{margin:0;padding:0;}
.dropdown dt span{border-color:#C2C2C2 #D9D9D9 #D9D9D9;border-style:solid;border-width:1px;display:block;padding-right:20px;width:299px;}
.dropdown dt span{cursor:pointer;display:block;height:17px;padding:5px;}
.dropdown dt span:hover{border:1px solid #C2C2C2;color:#5D4617;}
.dropdown span{color:#5C616B;outline:medium none;text-decoration:none;}
.foot a:hover{text-decoration:underline;}
.foot ul li a:hover .i{text-decoration:underline;}
.footer td{font-size:12px;}
.footer .ico-fb:hover{background-position: -157px -136px;}
.footer .ico-tw:hover{background-position:-245px -148px;}
.footer-inner .foot ul li a:hover .i{background-position:0 -169px;}
.footer-inner .foot ul li a:hover{background-position:100% -146px;}
TABLE.form label{color:#5C616B;display:block;font-size:13px;padding-bottom:5px;}
TABLE.form textarea.txt{border-color:#C2C2C2 #D9D9D9 #D9D9D9;border-style:solid;border-width:1px;display:block;font-size:13px;height:232px;resize:none;width:338px;}
TABLE.form input.txt{background:none repeat scroll 0 0 #FFFFFF;border-color:#C2C2C2 #D9D9D9 #D9D9D9;border-style:solid;border-width:1px;color:#000000;display:block;font:13px Arial,Helvetica,sans-serif;height:25px;padding:0;width:308px;}
TABLE.form .req{color:#B6BBC4;font-size:11px;padding-left:10px;}
TABLE.form .form-row{padding-bottom:15px;}
.form .inp-sh{display:block;position:relative;}
.form .req{color:#B6BBC4;font-size:11px;padding-left:10px;}
.form{display:table;padding:13px 0 0;width:677px;}
.hrow .tabs li a:hover .i{text-decoration:underline;}
.lang-sel .c a:hover,.lang-sel-lr .c-lr a:hover{background:none repeat scroll 0 0 #F3F8FC;color:#3366CC;}
.main{max-width:1114px;min-width:960px;overflow:hidden;padding:10px 12px 10px 15px;}
.page{min-height:100%;min-width:800px;}
.pagin .n-act:hover{background:none repeat scroll 0 0 transparent;cursor:default;text-decoration:none;}
.pagin .n:hover{text-decoration:underline;}
.re_hrow .tabs li a:hover .i{color:#43888E;}
.sch-itm .bl{background-position:0 -396px;bottom:-2px;left:-2px;}
.sch-itm .br{background-position:-4px -396px;bottom:-2px;right:-2px;}
.sch-itm .tl{background-position:0 -392px;left:-2px;top:-2px;}
.sch-itm .tr{background-position:-4px -392px;right:-2px;top:-2px;}
.sch-itm:hover .tl,.sch-itm:hover .tr,.sch-itm:hover .bl,.sch-itm:hover .br{display:block;}
.search-block{width:598px;}
.side_menu .tabs li:hover{}
.sr_link a:hover{cursor:pointer;}
.text h2{color:#006DAF;font-size:16px;font-weight:bold;}
.text p,.text li{color:#5C616B;font-size:13px;line-height:1.2em;}
.text h2,.text h3,.text p,.text ul,.text ol{padding-bottom:11px;}
.dymean{margin-bottom:14px;}
.sites a {float:left;display:block;}
.deeplinks{margin-top:4px;}
.serp_wrap_fix{padding-left: 5px;}
#bottom_ads_wrapper {margin-top:17px;}
#warn{display:none;direction: ltr; color: red;font-size: 15px;display: inline-block;zoom: 1; *display: inline;padding-top:5px;}
#warn a {color:red;}
.headerlinks{color:#5C616B;font-size: 15px;float:left;text-align:left;direction: ltr;margin-bottom:10px;}
.errorMessage {color: red;}
.footer_height_adj { height:21px; min-height: 21px; max-height: 21px; width:330px; }
#footer_adjust_mid_box { direction: ltr; position: relative; max-height: 21px; min-height: 21px; height: 21px; margin: 0 auto; width:275px; max-width: 400px;}
#fbline_wrapper { width: 34%; height: 21px; display: inline-block; display: inline-block;}
#fbline_wrapper iframe { width: 130px; height: 21px; }
#gplus_wrapper { height: 19px; margin-top: 2px; float: left; width: 63%; }