@import "normalise.css";

html { height:100%; }

body {
	font-size:12px;
	font-family:Tahoma, Arial, sans-serif;
	background:#1a1818;
}

h1, h2, h3, h4, p {
	margin-bottom:0.5em;
}

h1 {font-size:36px; color:#555555}
h2 {font-size:30px; color:#555555}
h3 {font-size:146%;}
h4 {font-size:123%;}


a {color:#247acb;}
a:hover {color:#74b627;text-decoration:none;}
a:active {text-decoration:underline;}
a img {border:0;}

.clr {
	clear:both;
	border:0;
	height:0px;
	width:0px;
	font-size:1px;
	line-height:1px;
	float:none !important;
	overflow:hidden;
}

input[type*=submit],input[type*=button] {
	cursor:pointer;
}

input{
	outline:0px;
}

#pG {
	opacity:0;
}


.wrp {
	min-width:1000px;
	margin:0 auto;
	position:relative;
	width:1000px;
}

	.w1000 .wrp {width:1000px}
	.w1248 .wrp{width:1248px}
	.w1496 .wrp {width:1496px}
	.w1744 .wrp {width:1744px}
		
header.mh {
	position:relative;
	background:#212121;
	border-bottom:1px solid #0a0a0a;
}
	
	header .hd {
		position:absolute;
		top:0px;
		right:11px;
		width: 88px;
		height: 114px;
		background: url(../updatetube_images/hd.png) top left no-repeat;
		z-index:10;
		box-shadow:0px 0px 10px 0px #1b2c08;
	}

	nav.n1 {
		position:relative;
		height:28px;
		line-height:28px;
		padding-right:110px;
		text-align:right;
		color:#666;
	}
	
		.n1 a {
			color:#b8b8b8;
			margin:0px 5px 0px 5px;
		}
		
		.n1 a:hover {
			color:#74b627;
		}
		
		.n1 a img {
			position:relative;
			top:4px;
			left:-5px;
		}

	nav.n2 {
		position:relative;
		height:76px;
		background:#74b627;
		box-shadow:0px 1px 1px 0px #1b2c08;
		z-index:2;
		padding-right:110px;
	}
	
		header .logo {
			position:absolute;
			left:0px;
			top:0px;
			width:315px;
			height:75px;
			background:url('../updatetube_images/logo.png');
		}
		
		nav.n2 .srch {
			float:right;
			margin-left:20px;
			margin-top:22px;
			position:relative;
		}
		
            nav.n2 .srch input {
                width: 200px;
                border: 0px;
                height: 16px;
                border-radius: 30px;
                padding: 8px 34px 8px 10px;
                box-sizing: content-box;
            }
			
			nav.n2 .srch input:focus{
				background:#212121;
				color:#fff;
			}
			
			nav.n2 .srch button, nav.n2 .srch input[type*=submit] {
				position:absolute;
				top:0px;
				right:2px;
				width:32px;
				height:32px;
				border:0px;	
				background:transparent url('../updatetube_images/search.png') center center no-repeat;
                color:#FFFFFF;
			}
            
            nav.n2 .srch input[type*="submit"] {
                padding:0;
            }            
	
	nav.n3 {
		position:relative;
		padding-top:12px;
		padding-left:10px;
		padding-right:10px;
		height:42px;
		background:#354f17;
		line-height:42px;
		font-size:14px;
		overflow:hidden;
	}
	
		.n3 a {
			color:#fff;
			padding:0px 10px;
			float:left;
		}
		
		.n3 a:hover {
			background:#74b627;
		}
		
		.n3 a.active {
			text-decoration:none;
			background:#1b2c08;
		}
		
		.n3 .more {
			position:absolute;
			top:12px;
			right:10px;
			background:#354f17;
			text-decoration:none;			
		}
		
		.n3 .more span {
			border-bottom:1px dotted #fff;
		}
		
		.n3 .more b {
			border-left:1px solid #1b2c08;
			margin-right:8px;
		}
	
	nav.n4 {
		position:relative;
		overflow:auto;
	}
		.n4 a {		
			float:left;
			margin:10px;
			padding:5px 10px;
			border-radius:30px;		
			text-decoration:none;
			color:#fff;
		}
		
		.n4 a span {
			border-bottom:1px dotted #fff;
		}
		
		.n4 a:hover {
			background:#247acb;
		}
		
		.n4 a.active {
			background:#094b89;
		}
		
		.n4 a.active span{
			border-bottom:0px;
		}
		
		.n4 h1 {
			font-size:28px;
			font-weight:normal;
			margin:5px 0px;
			margin-left:250px;
			text-align:right;
			color:#fff;
		}
		
		.n4 h1 {
			text-align:left;
			margin-left:0px;
		}
		
footer {
	background:#212121;
	border-top:1px solid #313131;
}

section#content {
	border-top:1px solid #313131;
	position:relative;
	padding-top:10px;
	border-bottom:1px solid #0a0a0a;
}

	article#video {
		position:relative;
		display:block;
		overflow:visible;
		padding:4px;
		padding-bottom:10px;
		z-index:2;
	}
		
		#video figure {
			position:relative;
			width:240px;
			margin:4px;
			height:206px;
			float:left;
		}
		
			#video.cat figure {
				height:266px;
			}
			
			#video.albums figure {
				height:339px;
			}
		
		#video figure:hover {
			z-index:2;
		}
		
		#video figure .lnk {
			color:#fff;
			text-decoration:none;
			overflow:auto;
			display:block;
			font-size:14px;
		}
		
			#video figure .lnk .img {
				width:240px;
				height:180px;
				position:relative;
			}
		
			#video.cat figure .lnk .img {
				height:240px;
			}
		
			#video.albums figure .lnk .img {
				height:313px;
			}
				#video figure .lnk .img img {
					width:100%;
					height:100%;
				}
				
				#video figure figcaption {
					height:22px;
					width:230px;
					padding:0px 5px;
					padding-top:4px;
					float:left;
					overflow:hidden;
					text-overflow:ellipsis;
					white-space:nowrap;					
				}
				
				#video figure:hover figcaption {
					height:auto ;
					width:230px;
					padding:4px 5px;
					float:left;
					overflow:auto ;
					text-overflow:normal;
					white-space:normal;					
				}
		
		#video figure .ic {
			position:relative;
		}
		
		#video figure .ic .ai {
			display:none;
			padding:5px;
			color:#fff;
			position:relative;
		}
		
			#video figure .ic .ai p {
				padding-left:20px;
				background:url('../updatetube_images/tag.png') left 3px no-repeat;
			}
			
			#video figure .ic .ai  hr {
				position:absolute;
				top:0px;
				left:-2px;
				right:-2px;
				height:0px;
				border:0px;
				border-top:1px solid #4d771c;
				border-bottom:1px solid #7db43d;
			}
			
			#video figure .ic .ai a {
				color:#fff;
			}
		
		#video figure:hover .ic .ai{
			display:block;
		}
		
		#video figure .ic .bg {
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			box-shadow:0px 0px 1px 0px #aaa inset, 0px 2px 5px 0px #000;
			z-index:-1;
			background:#1a1818;
		}
				
		#video figure:hover .ic .bg {
			top:-2px;
			left:-2px;
			right:-2px;
			bottom:-2px;
			background:#66962e;
		}
		
/* --- Pagination --- */

div.ptb {
	overflow:auto;
	position:relative;
	height:50px;
	padding-top:11px;	
	padding-right:15px;
	z-index:0;		
}
	
	nav#pgn {
		position:relative;
		float:left;
		width:auto;
		border:1px solid #000;
		z-index:0;
	}
		nav#pgn a, nav#pgn .spacer, nav#pgn .dots {
			position: relative;
			display: block;
			float: left;
			text-decoration: none;
			width: 35px;
			height: 24px;
			padding-top: 12px;
			border-left: 1px solid black;
			text-align: center;
			background: #2E2E2E;
			color: white;
			font-size: 14px;
			font-family: Arial;
			z-index: 0;
		}
		
		nav#pgn a:hover {
			background-color:#74b627;
			color:white;
			top:-1px;
			left:-1px;
			z-index:1;
			border:1px solid #74b627;
			margin-right:-1px;
			margin-bottom:-2px;
		}
		
		nav#pgn a.active, nav#pgn a.active:hover {
			top:0px;
			left:0px;
			z-index:1;
			border:0;
			border-left:1px solid #2E2E2E;
			margin-right:0px;
			margin-bottom:0px;
			box-shadow:0px -5px 0px 0px #74b627 inset;			
			background: #2E2E2E;
		}
		
		nav#pgn .spacer{
			width:5px
			
		}
		
		nav#pgn a.next, nav#pgn a.prev {
			width:60px;
		}
		
	div.ptb  .info {
		float:left;			
		position:relative;
		padding-top:13px;
		font-size:12px;
		margin-left:20px;
		color:#fff;
	}
	
	div.ptb .n4 {		
		float:right;
		position:relative;
		top:5px;
	}

/* --- Footer --- */

footer.first {
	position:relative;
	height:186px;
	background:#212121;
	padding-left:15px;
	padding-right:15px;
	padding-top:30px;
	overflow:hidden;
	border-top:2px groove #333;
	border-color:rgba(70,70,70,0.5);
}

	footer.first .toolbar {
		position:relative;
		height:56px;
	}

		footer.first .toolbar .head {
			position:absolute;
			top:13px;
			left:-3px;
			width:99px;
			height:24px;
			padding-top:9px;
			padding-right:10px;
			text-align:center;
			background:url('../updatetube_images/sprites.png') no-repeat left top;
			line-height:100%;
			color:white;
		}

		footer.first .toolbar .search {
			position:absolute;
			top:13px;
			left:114px;
			width:254px;
			height:33px;
			background:url('../updatetube_images/sprites.png') no-repeat left -33px;
			background-color:transparent;
			overflow:hidden;
		}

		footer.first .toolbar .search.focus {
			background:url('../updatetube_images/sprites.png') no-repeat left -66px;
		}

			footer .toolbar .search  input.sch{
				color:#525252;
			}

	footer.first nav {
		font-family:Georgia;
		width:100%;
		margin-top:3px;
	}
		footer.first nav .block, footer.first nav .firstBlock  {
			float:left;
			width:22%;
			border-top:1px dotted #777;
			height:180px;
		}

		footer.first nav .block{
			margin-left:3.9%;
		}

		footer.first nav div.block:first-child, footer.first nav .block_first {
			margin-left:0px !important;
		}

		footer.first nav a {
			display:block;
			position:relative;
			color:#ccc;
			padding:7px 10px 6px 10px;
			text-decoration:none;
			border-bottom:1px dotted #777;
		}

		footer.first nav a:hover {
			background:#74b627;
			color:white;
			border-bottom:1px solid #74b627;
			top:-1px;
			margin-bottom:-1px;
			border-top:1px solid #74b627;
		}

footer.second {
	position:relative;
	height:49px;
	background:url('../updatetube_images/bg.png') repeat-x left -461px;
	padding-left:15px;
	padding-right:15px;
	border-top:2px groove #333;
	border-color:rgba(70,70,70,0.5);
	color:#525252;
}

	footer.second .userbar {
		display:block;
		position:absolute;
		right:0px;
		line-height:48px;
		height:50px;
		z-index:2;
		text-align:right;
		font-size:12px;
	}

	footer.second .copy {
		display:block;
		position:absolute;
		left:0px;
		line-height:48px;
		height:50px;
		z-index:2;
		text-align:right;
		font-size:12px;
	}

	footer.second a {

	}

	footer.second .copy a {
		margin-left:30px;
	}

	footer.second a:hover {

	}

	

/* --- Video Page start --- */
	
	section aside {
		position: relative;
		float: right;
		width: 300px;
	}
	
	.addthis_toolbox {
		height:50px;
	}
	
		#video-player {
			margin-right: 307px;
			background: black;
			position: relative;
		}
	
	#item-info {
		margin-right:307px;
		font-size:16px;
	}
		
.content .left .title
{
	float:left;
	color:#FFFFFF;
	font-size:1.25em;
}
.content .left ul {
	list-style: none;
	margin:0px;
	padding: 0px;
}
}

.content .left ul.tags
{
	float:right;
	width:54.6875%;	/* 350px / 640px */
}

.content .left ul.tags li
{
	float:right;
	font-size:0.875em;	
}

.content .left .hr {
	clear:left;
	border:0px;
	border-top:1px solid #000;
	border-bottom:1px solid #333;
}

.content .left .tag
{
	float:right;
	height:18px;
	background:url(http://i30.updatetube.com/updatetube_images/bg_tag.png) center left no-repeat;
	margin-left:10px;
	padding-left:7px;
	margin-bottom:5px;
}

.content .left .tag:hover
{
	background:url(http://i30.updatetube.com/updatetube_images/bg_tag_over.png) center left no-repeat;
}

.content .left .tag a
{
	background-color:#77be17;
	color:#1a1818;
	text-decoration:none;	
	padding:0px 10px 1px 10px;	
}

.content .left .tag a:hover
{
	background-color:#ec137f;
	color:#FFFFFF;
}

.content .left ul.download li
{
	float:left;
	padding:0.625em 0 0.625em 0;
}

.content div.downloand_mobile
{
	width:140px;
	height:44px;
	background:url(http://i30.updatetube.com/updatetube_images/downloand_mobile.png) top left no-repeat;
}

.content div.downloand_mobile:hover
{
	background:url(http://i30.updatetube.com/updatetube_images/downloand_mobile_over.png) top left no-repeat;	
}

.content div.download_quicktime
{
	width:150px;
	height:44px;
	background:url(http://i30.updatetube.com/updatetube_images/download_quicktime.png) top left no-repeat;
}

.content div.download_quicktime:hover
{
	background:url(http://i30.updatetube.com/updatetube_images/download_quicktime_over.png) top left no-repeat;	
}

.content div.download_wmv
{
	width:143px;
	height:44px;
	background:url(http://i30.updatetube.com/updatetube_images/download_wmv.png) top left no-repeat;
}

.content div.download_wmv:hover
{
	background:url(http://i30.updatetube.com/updatetube_images/download_wmv_over.png) top left no-repeat;	
}

.content div.download_fullhd
{
	width:200px;
	height:54px;
	background:url(http://i30.updatetube.com/updatetube_images/download_fullhd.png) top left no-repeat;
}

.content div.download_fullhd:hover
{
	background:url(http://i30.updatetube.com/updatetube_images/download_fullhd_over.png) top left no-repeat;	
}


.content .left ul.download li:last-child {
	margin-right:7px;
}

.content .left ul.download img
{
	border:0px;
}

.content .left .tags_block
{
	overflow:auto;
    padding:0px 0px 5px 0px; 
    margin-top:10px;
}

.content .left ul.info
{
	margin:0;
	padding:0px 0px 0px 0px;
	list-style:none;
	color:#FFFFFF;	
}

.content .left ul.info li
{
	float:left;
	padding:10px 0px 10px 0px;
}

.content .left ul.info li.models
{
	width:40%;
}

.content .left ul.info li.models p
{
	padding-left:20px;
}

.content .left ul.info li.models p span
{
	background:url(http://i30.updatetube.com/updatetube_images/icon_models.gif) left no-repeat;
	margin-left:-20px;
	padding-left:20px;	
}

.content .left ul.info li.rating
{
	width:30%;
	text-align:center;
}

.content .left ul.info li.rating p
{
	padding-left:20px;
}

.content .left ul.info li.rating p span
{
	background:url(http://i30.updatetube.com/updatetube_images/icon_rating.gif) left center no-repeat;
	margin-left:-20px;
	padding-left:20px;	
}

.content .left ul.info li.rating p img
{
	vertical-align:-moz-calc();	
}


.content .left ul.info li.categories
{
	width:30%;
	text-align:right;
}

.content .left ul.info li.categories p
{
	padding-left:20px;
}

.content .left ul.info li.categories p span
{
	background:url(http://i30.updatetube.com/updatetube_images/icon_category.gif) left center no-repeat;
	margin-left:-20px;
	padding-left:20px;	
}

.content .left ul.info li a
{
	color:#247acb;
	white-space:nowrap;
}

.left ul.info li a:hover
{
	color:#74b627;
	text-decoration:none;
}

.content .left .description
{
	color:#FFFFFF;
	font-size:0.875em;
	padding:12px;
	background-color:#212121;
	border:1px solid #333;
	clear:left;
}

.content .left .pi_review
{
	width:640px;
	height:230px;
	background:url(http://i30.updatetube.com/updatetube_images/bg_pi.jpg) top right no-repeat;	
}

.content .left .pi_review p
{
	padding:0px;
	margin:0px;
}

.content .left .pi_review a
{
	color:#247acb;
}

.content .left .pi_review a:hover
{
	text-decoration:none;
	color:#74b627;
}

.content .left .pi_review .pi_rating
{
	text-align:right;
	color:#FFFFFF;
	font-size:0.875em;
	font-weight:bold;
	padding:30px 5px 0px 0px;
}

.content .left .pi_review .pi_screenshot
{
	float:left;
	width:170px;
}

.content .left .pi_review .pi_description
{
	float:left;
	width:314px;
	padding:0px 0px 0px 10px;
	color:#FFFFFF;
	margin-top:-5px;
}

.content .left .pi_review .pi_description .title
{
	display:block;
	padding-bottom:5px;
	width:100%;
}

.content .left .pi_review .pi_screenshot img
{
	border:0px;
	width:170px;
	height:100px;
}

.content .left .pi_review .button
{
	background-color:#70b612;
	padding:10px 15px 10px 15px;	
	float:left;
	border:1px #9ad944 solid;
	border-radius:6px; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:10px;
}

.content .left .pi_review .button:hover
{
	background-color:#ec137f;
	border:1px #b5035c solid;		
}

.content .left .pi_review .button a
{
	color:#000000;
	font-weight:bold;
	text-decoration:none;
}

.content .left .pi_review .button:hover a
{
	color:#FFFFFF;
}

.content .left .pi_review .discount
{
	float:left;
	text-align:right;
	margin-left:90px;
}

.content .left .pi_review .discount .red
{
	color:#74b627;	
}

.content .left .pi_review .discount .green
{
	color:#6db211;
}

.content .left .pi_review .discount .grey
{
	color:#808080;
}

.discount {
	position:relative;
	height:108px;
	overflow:hidden;
	margin-top:10px;
}
	.discount .imgbg {
		position:absolute;
		top:1px;
		left:1px;
		width:170px;
		height:100px;
		padding:3px;
		background:transparent url(../updatetube_images/_sprites.png) -417px -295px;
		z-index:3;
	}
		.discount .imgbg img{
			width:170px;
			height:100px;
		}

	.discount .imgdsc {
		position:absolute;
		top:0px;
		left:0px;
		width:60px;
		height:50px;
		padding:3px;
		background:transparent url(../updatetube_images/_sprites.png) -360px -403px;
		z-index:4;
	}

	.discount .dbar {
		position:relative;
		margin-top:6px;
		margin-left:176px;
		margin-right:22px;
		font-size:20px;
		line-height:50px;
		padding-left:10px;
		height:50px;
		background:transparent url(../updatetube_images/_bg.png) repeat-x -0px -1069px;
		color:#1a1818;
		text-align:center;
	}
		.discount .dbar b:first-child {
			color:white;
		}

		.discount .dbar u {
			text-decoration:line-through;
		}

		.discount .dbar .bar-end{
			position:absolute;
			top:0px;
			right:-22px;
			width:22px;
			height:50px;
			background:transparent url(../updatetube_images/_sprites.png) -433px -403px;

		}

		.discount .dbar small {
			font-size:14px;
		}

		.discount .join {
			position:relative;
			display:block;
			margin-top:10px;
			margin-left:auto;
			margin-right:auto;
			/*top:65px;left:186px;*/
			height:43px;
			/*float:left;
			max-width:270px;*/
			text-decoration:none;
			max-width:500px;
		}

			.discount .join div{
				float:right;width:10px;
				height:43px;
				background:transparent url(../updatetube_images/_sprites.png) -10px -1015px;
			}

			.discount .join div:first-child{
				float:left;
				background-position:-0px -1015px;
			}

			.discount .join span {
				position:relative;
				margin-left:10px;
				margin-right:10px;
				display:block;
				line-height:40px;
				height:43px;
				padding:0px 10px;
				background:transparent url(../updatetube_images/_sprites.png) -20px -1015px;
				color:#1a1818;
				font-size:16px;
				text-decoration:none;
				font-weight:bold;
				text-align:center;
			}

			.discount .join:hover div {
				background-position:-10px -1058px;
			}


			.discount .join:active div {
				background-position:-10px -1101px;
			}

			.discount .join:hover span {
				color:white;
				background-position:-20px -1058px;
			}

			.discount .join:hover div:first-child {
				background-position:-0px -1058px;
			}


			.discount .join:active div:first-child {
				background-position:-0px -1101px;
			}

			.discount .join:active span {
				color:#000;
				background-position:-20px -1101px;
			}


			.discount .join  hr {
				clear:both;
				border:0;
				height:0px;margin:0;
			}

		.discount .discount-add {
			position:absolute;
			top:65px;
			right:25px;
			height:43px;
			float:left;
			font-weight:bold;
			text-align:center;
			line-height:21px;
			font-size:14px;
			color:white;
		}
			.discount .discount-add b {
				color:#e52a2a;
			}


#c2p {
    width: 628px !important;
    height: 366px !important;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -314px !important;
    margin-top: -183px !important;
    background: url('../updatetube_images/c2pbg.png?rnd=1') -0px -0px !important;
    z-index: 10000;
    display: none;
}


#c2p .title {
	position:absolute;
	top:1px;
	left:26px;
	width:155px;
	text-align:center;
	font-family:Tahoma, Arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-shadow:0px 1px 0px #3c1111;
	line-height:24px;
}

#c2p .img
{
    margin-top:35px;
    margin-left:-7px;
}

#c2p .img div {
    border: 0 !important;
    position: absolute;
    top: 30px;
    right: 14px;
}

#c2p .img div:last-child {
    left:14px;
    right:auto;
}

#c2p .btn {
    position: absolute;
    width: 284px;
    height: 51px !important;
    top: 290px;
    left: 50%;
    margin-left:-142px;
    cursor: pointer;
    background: url('../updatetube_images/_sprites.png?rnd=1') -0px -711px;
	line-height:51px;
	font-size:30px;
	color:#000;
	text-shadow:0px 1px 0px #ff6161;
	text-align:center;
	text-decoration:none;
}

#c2p .btn:hover {
    background-position:0px -762px;
	color:#fff;
	text-shadow:0px 1px 0px #000;
}

#c2p .btn:active {
    background-position:0px -813px;
	color:#999;
	text-shadow:0px 1px 0px #000;
}
		
            #c2p_small {
                position: absolute;                
                top: 50%;
                left: 50%;
                width: 328px;
                height: 367px;
                margin-top: -184px;
                margin-left: -164px;
                background: url(../updatetube_images/c2pbg.png?rnd=1) 0px bottom;
                display: none;
                z-index: 10000;
            }
        
            #c2p_small .title {
            	position:absolute;
            	top:1px;
            	left:26px;
            	width:155px;
            	text-align:center;
            	font-family:Tahoma, Arial, sans-serif;
            	font-size:10px;
            	font-weight:bold;
            	color:#fff;
            	text-shadow:0px 1px 0px #3c1111;
            	line-height:24px;
            }        
		
			#c2p_small .img {
				position:absolute;
				top:31px;
				left:14px;
				width:300px;
				height:250px;
				overflow:hidden;
			}
			
			#c2p_small .btn {
				position:absolute;
				top:291px;
				left:23px;
				width:283px;
				height:51px;
				cursor:pointer;
				background:url(../updatetube_images/_sprites.png?rnd=1) 0px -711px;/***/
            	line-height:51px;
            	font-size:30px;
            	color:#000;
            	text-shadow:0px 1px 0px #ff6161;
            	text-align:center;
            	text-decoration:none;                
			}

			#c2p_small .btn:hover {
				background-position:0px -762px;
			}
			
			#c2p_small .btn:active {
				background-position:0px -813px;
			}
		
/* --- Video Page end*/

/*-- ExoClick Ad. PopUp--*/
.allIM {
	display: block;
	width: 100%;
	left: 0px;
	bottom: 0px;
	position: fixed;
	z-index: 9998;
	height: 0;
}

.allIMwindow {
	display: block;
	width: 377px;
	height: 323px;
	top: 0px;
	right: 10px;
	position: absolute;
	z-index: 9999;
	background:url('../updatetube_images/_sprites.png') -0px -1278px;
	font-family: Arial;
	font-size: 11px;
}

.allIMwindow-header {
	line-height: 25px;
	width: 314px;
	height: 30px;
	background-repeat: repeaet-none;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-left: 14px;
	padding-bottom: 0px;
	margin: 0px;
}

.allIMwindow-header-close{
	display: block;
	position: absolute;
	top: 6px;
	right: 8px;
	width:26px;
	height:26px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	background:url('../updatetube_images/_sprites.png') 0px -1186px;
}

.allIMwindow-header-close:hover{
	background-position:-26px -1186px;
}

.allIMwindow-header-close:active{
	background-position:-52px -1186px;
}

.IMcontent {
	width: 300px;
	position:absolute;
	top:35px;
	left:40px;
}