.deactivated{background:#cccccc; cursor: default; border: 3px solid #ccc; pointer-events: none;}
.deactivated:hover{background:#cccccc!important; cursor: default; border: 3px solid #ccc;}
.deactivated:before{background:#cccccc!important;}
.activated{}
.pane{display:none;}
.valid{border: solid 1px #00ff00; background:#ddffdd;}
.invalid{border:solid 1px #ff0000;background:#ffdddd;}
.err{color:#cc0000; font-size:10px; font-weight:bold; line-height:12px; display:block; padding:6px 0;}
.required{color: #000; font-size: 10px;}
#mask{background-color:#000;z-index:99;}
#spinner, #mask{position:absolute; top:0px; left:0px; width:100%; height:100%; display:none; background-color:#fff; opacity:.7; height:100%;}
#spinner{display:block;}
.topnaverr {
    color: #bf0c0c !important;
    font-family: "LovinSansWeb-Regular", sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.tabWrap{bottom: 43px!important;}
.join-btn{font-size: 1.5rem!important;line-height: 35px!important; font-family: "LovinSansWeb-Medium"!important; width:100%;}
.join-btn-thanks{font-size: 1.5rem!important;line-height: 35px!important; font-family: "LovinSansWeb-Medium"!important;	width: auto; margin: 0 auto; margin-top: 20px;}
@media only screen and (max-width: 420px){
	.join-btn {padding-left: 10px; padding-right: 10px;
}


