@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot');
  src: local('FontAwesome'), url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
@font-face {
  font-family: 'Lobster';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Lobster.eot');
  src: local('Lobster'), url('../fonts/Lobster.eot?#iefix') format('embedded-opentype'), url('../fonts/Lobster.ttf') format('truetype'), url('../fonts/Lobster.svg#Lobster') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
@font-face {
  font-family: 'GNUTypewriter';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/GNUTypewriter.eot');
  src: local('GNUTypewriter'), url('../fonts/GNUTypewriter.eot?#iefix') format('embedded-opentype'), url('../fonts/GNUTypewriter.ttf') format('truetype'), url('../fonts/GNUTypewriter.svg#GNUTypewriter') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'GNUTypewriter';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
@font-face {
  font-family: 'BadScript-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/BadScript-Regular.eot');
  src: local('BadScript-Regular'), url('../fonts/BadScript-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BadScript-Regular.ttf') format('truetype'), url('../fonts/BadScript-Regular.svg#BadScript-Regular') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'BadScript-Regular';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
@font-face {
  font-family: 'PTSerif';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/PTSerif-Regular.eot');
  src: local('PTSerif'), url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif-Regular.ttf') format('truetype'), url('../fonts/PTSerif-Regular.svg#PTSerif') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'PTSerif';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
@font-face {
  font-family: 'PTSerif Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/PTSerif-Bold.eot');
  src: local('PTSerif Bold'), url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif-Bold.ttf') format('truetype'), url('../fonts/PTSerif-Bold.svg#PTSerif Bold') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'PTSerif Bold';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
@font-face {
  font-family: 'PTSerif Italic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/PTSerif-Italic.eot');
  src: local('PTSerif Italic'), url('../fonts/PTSerif-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif-Italic.ttf') format('truetype'), url('../fonts/PTSerif-Italic.svg#PTSerif Italic') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'PTSerif Italic';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
@font-face {
  font-family: 'PTSerif Bold-Italic';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/PTSerif-BoldItalic.eot');
  src: local('PTSerif Bold-Italic'), url('../fonts/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif-BoldItalic.ttf') format('truetype'), url('../fonts/PTSerif-BoldItalic.svg#PTSerif Bold-Italic') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'PTSerif Bold-Italic';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
@font-face {
  font-family: 'hsm';
  src: url('../fonts/hsm.eot?ejf7er');
  src: url('../fonts/hsm.eot?ejf7er#iefix') format('embedded-opentype'), url('../fonts/hsm.ttf?ejf7er') format('truetype'), url('../fonts/hsm.woff?ejf7er') format('woff'), url('../fonts/hsm.svg?ejf7er#hsm') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaFuturisLight';
  src: url('../fonts/FuturaFuturisLightC.eot');
  src: url('../fonts/FuturaFuturisLightC.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaFuturisLightC.woff') format('woff'), url('../fonts/FuturaFuturisLightC.ttf') format('truetype'), url('../fonts/FuturaFuturisLightC.svg#FuturaFuturisLightC') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'social';
  src: url('../fonts/social.eot?vnpvks');
  src: url('../fonts/social.eot?vnpvks#iefix') format('embedded-opentype'), url('../fonts/social.ttf?vnpvks') format('truetype'), url('../fonts/social.woff?vnpvks') format('woff'), url('../fonts/social.svg?vnpvks#social') format('svg');
  font-weight: normal;
  font-style: normal;
}
.caps {
  text-transform: uppercase;
}
.latest-block {
  border-top: 2px solid #c6c6c7;
  margin-top: 40px;
  margin-top: 8px;
}
.latest-block .title {
  font: normal 25px "FuturaFuturisNormal", Arial, Helvetica;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-top: -0.7em;
  clear: both;
}
.latest-block .title span {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
}
.latest-block .title a,
.latest-block .title a * {
  color: #000;
  text-decoration: none;
}
.latest-block .title {
  margin-bottom: 11px;
}
.latest-block .title h1 {
  color: #d81733;
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}
.latest-news {
  width: 340px;
  height: 598px;
  float: right;
  position: relative;
}
.latest-news-container {
  position: relative;
  height: 1570px;
  overflow: hidden;
  margin-top: -20px;
}
.latest-news .list {
  position: absolute;
  padding: 20px 0 0;
}
.latest-news .fade-top,
.latest-news .fade-bottom {
  height: 20px;
  width: 340px;
  position: absolute;
  background: url("../img/latest-news-fade.png") 0 0 repeat-x;
  left: 0;
}
.latest-news .fade-top {
  top: 0;
  background-color: #ffffff;
}
.latest-news .fade-bottom {
  bottom: 0;
  background-position: 0 -20px;
}
.latest-news .group {
  height: 100%;
  margin: 0 0 20px;
  display: block;
  overflow: hidden;
}
.latest-news .item {
  clear: both;
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #c6c6c7;
  min-height: 100px;
}
.latest-news .item:hover .item-title {
  text-decoration: underline;
}
.latest-news .item-date {
  color: #51514F;
  font: italic 11px Georgia, "Times New Roman", serif;
  margin-bottom: 6px;
}
.latest-news .item-img {
  float: left;
  display: block;
  margin-right: -100%;
  position: relative;
}
.latest-news .item-img img {
  vertical-align: top;
}
.latest-news .item-img .lbl {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 21px;
  padding: 0 20px 0 7px;
  font: 10px/21px Arial;
  color: #ffffff;
  text-transform: uppercase;
  background: url("../img/top-starhits-lbl.png") no-repeat right 0;
  text-decoration: none;
}
.latest-news .item-img .lbl.smaller {
  font-size: 70%;
}
.latest-news .item-img .lbl.orange {
  width: 108px;
  background: url("../img/top-starhits-lbl-2.png") no-repeat left 0;
}
.latest-news .item-descr {
  width: 205px;
  word-wrap: break-word;
  padding-left: 135px;
  font-size: 13px;
  margin-top: -2px;
}
.latest-news .item-title {
  font: normal 20px "FuturaFuturis", Arial, Helvetica, sans-serif;
  line-height: 18px;
  display: block;
  margin-bottom: 10px;
}
.latest-news .item-text {
  color: #51514F;
}
.latest-news .item:last-child {
  border: 0;
}
.latest-news .pages {
  display: block;
  float: left;
  font-size: 0;
  margin-right: -100%;
}
.latest-news .pages .arrow {
  display: block;
  float: left;
  overflow: hidden;
}
.latest-news .pages .arrow a {
  display: block;
  height: 20px;
  width: 58px;
  text-indent: -999em;
  background: url("../img/arrows-bigh-sp.png") 0 0 no-repeat;
  /* &:hover {
            background-position:left -20px;
          }

          &:active {
            background-position:left -40px;
          }*/
}
.latest-news .pages .next a {
  background-position: right 0;
  width: 57px;
  /*  &:hover {
          background-position:right -20px;
        }

        &:active {
          background-position:right -40px;
        }*/
}
.latest-news-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.latest-topic {
  width: 380px;
  float: left;
  overflow: hidden;
  position: relative;
}
.latest-topic .list {
  height: 468px;
}
.latest-topic .item {
  height: 468px;
  width: 380px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
.latest-topic .item:hover a.item-title {
  text-decoration: underline;
}
.latest-topic .item-descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 346px;
  padding: 10px 17px 30px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.latest-topic .item-title {
  font: normal 30px "FuturaFuturis", Arial, Helvetica, sans-serif;
  line-height: 1em;
  color: #fed08e;
  display: block;
  margin-bottom: .2em;
}
.latest-topic .arrow {
  position: absolute;
  top: 190px;
  width: 24px;
  height: 46px;
  z-index: 20;
}
.latest-topic .arrow .icon {
  background: url("../img/arrows-latest-topic.png") 0 0 no-repeat;
  width: 100%;
  height: 100%;
}
.latest-topic .arrow.prev {
  left: 15px;
}
.latest-topic .arrow.prev:hover .icon {
  background-position: 0 -46px;
}
.latest-topic .arrow.next {
  right: 15px;
}
.latest-topic .arrow.next:hover .icon {
  background-position: right -46px;
}
.latest-topic .arrow.next .icon {
  background-position: right top;
}
.thumb-slider {
  width: 100%;
  height: 130px;
  background-color: #979793;
  overflow: hidden;
  position: relative;
}
.thumb-slider .slide-next {
  position: absolute;
  width: 25px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 20;
}
.thumb-slider .slide-next img {
  width: 100%;
  height: 100%;
  display: block;
}
.thumb-slider .slide-prev {
  position: absolute;
  width: 25px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20;
}
.thumb-slider .slide-prev img {
  width: 100%;
  height: 100%;
  display: block;
}
.thumb-list {
  margin-top: 12px;
  position: relative;
  left: 0;
  letter-spacing: -0.31em;
}
.thumb-list li {
  letter-spacing: normal;
  word-spacing: normal;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
}
.thumb-list.centred {
  text-align: center;
}
.thumb-list .thumb {
  padding: 3px;
  margin-left: 2px;
  /*
          &:first-child {
            margin: 0;
          }*/
}
.thumb-list .thumb.active {
  background-color: #d4a786;
  position: relative;
}
.thumb-list .thumb.active:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 115px;
  height: 100px;
  background: url("../img/tr.ffffff.60.png") 0 0 repeat;
  cursor: pointer;
}
.thumb-list .thumb img {
  width: 115px;
}
.thumb-list a {
  display: block;
}
.exclusive-lister {
  margin-top: 20px;
}
.exclusive-block {
  border-top: 2px solid #c6c6c7;
  margin-top: 40px;
}
.exclusive-block .container {
  overflow: hidden;
}
.exclusive-block .title {
  font: normal 25px "FuturaFuturisNormal", Arial, Helvetica;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-top: -0.7em;
  clear: both;
}
.exclusive-block .title span {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
}
.exclusive-block .title a,
.exclusive-block .title a * {
  color: #000;
  text-decoration: none;
}
.exclusive-block .title a {
  color: #333333;
  text-decoration: none;
}
.exclusive-block .list {
  overflow: hidden;
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}
.exclusive-block .item {
  display: inline-block;
  width: 360px;
  font-size: 13px;
  margin-left: 20px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.exclusive-block .item-title {
  display: block;
  font: normal 21px "FuturaFuturisBold", Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-weight: bold;
  margin: 2px 0 15px;
}
.exclusive-block .section-link {
  margin: 0;
}
.exclusive-lister {
  padding-top: 20px;
}
.exclusive-block-main {
  width: 380px;
  float: left;
  margin-top: 20px;
}
.exclusive-block-main .container {
  background: #fff4d4;
  padding: 0 35px 15px;
}
.exclusive-block-main .container .title {
  font: normal 25px "FuturaFuturisNormal", Arial, Helvetica;
  text-transform: uppercase;
  text-align: center;
}
.exclusive-block-main .container .title a {
  color: #d81534;
  display: inline-block;
  padding: 20px 0;
  z-index: 10;
  line-height: 22px;
}
.exclusive-block-main .container .title a:hover {
  text-decoration: none;
}
.exclusive-block-main .container ul li {
  margin-bottom: 12px;
}
.exclusive-block-main .container ul li a img {
  display: block;
}
.exclusive-block-main .container ul li .item-title {
  font: bold 22px/19px "FuturaFuturisBold", Arial, Helvetica;
  display: block;
  padding: 7px 0;
  text-align: center;
  cursor: pointer;
}
.exclusive-block-main .container ul li .item-title:hover {
  text-decoration: underline;
  color: #d81534;
}
.photo-block {
  border-top: 2px solid #c6c6c7;
  margin-top: 40px;
}
.photo-block .title {
  font: normal 25px "FuturaFuturisNormal", Arial, Helvetica;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-top: -0.7em;
  clear: both;
}
.photo-block .title span {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
}
.photo-block .title a,
.photo-block .title a * {
  color: #000;
  text-decoration: none;
}
.photo-block .frame {
  height: 280px;
  width: 485px;
  background: url("../img/photo-frame.png") 0 0 no-repeat;
  padding: 15px 0;
  float: left;
}
.photo-block .photos-list .item {
  position: absolute;
  top: 0;
  left: 0;
  height: 280px;
}
.photo-block .container {
  margin-top: 10px;
  overflow: hidden;
  background: #000;
}
.photo-block .list {
  overflow: hidden;
  float: right;
  width: 215px;
  height: 285px;
  background: #bd9661;
  padding: 5px 20px 20px 20px;
}
.photo-block .list .item {
  width: 205px;
  border-bottom: 1px solid #d1b691;
  padding: 16px 0 15px;
  height: 70px;
  display: block;
  font: normal 21px "FuturaFuturis", Arial, Helvetica, sans-serif;
  line-height: 23px;
}
.photo-block .list .item a {
  color: #000;
}
.photo-block .list .active a {
  color: #fff;
}
.photo-block .video .icon {
  background: url("../img/photo-list-video.png") right bottom no-repeat;
}
.photo-frame-container {
  position: relative;
  height: 280px;
  overflow: hidden;
}
.interview-lister {
  margin-top: 20px;
}
.interview-block {
  width: 740px;
  margin-top: 42px;
  border-top: 2px solid #c6c6c6;
  text-align: center;
}
.interview-block .title {
  font: normal 25px "FuturaFuturis", Arial, Helvetica, sans-serif;
  line-height: normal;
  display: block;
  margin-top: -16px;
  text-transform: uppercase;
  color: #343434;
}
.interview-block .title a {
  color: #343434;
  text-decoration: none;
  background: #fff;
  padding: 0 20px;
}
.interview-block .list {
  padding: 20px 17px 0;
  overflow: hidden;
  text-align: justify;
}
.interview-block .list:after {
  content: '';
  width: 100%;
  display: inline-block;
}
.interview-block .section-link {
  margin-top: 29px;
}
.interview-block .item {
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: top;
  position: relative;
}
.interview-block .new-label:after {
  content: '';
  width: 150px;
  height: 49px !important;
  display: block;
  position: absolute;
  top: 154px;
  left: 35px;
  background: url("../img/main-new.png") 0px 0px no-repeat !important;
}
.interview-block .round {
  overflow: hidden;
  margin-bottom: 5px;
  display: block;
}
.interview-block .round img {
  width: 200px;
  height: 200px;
  margin-bottom: 13px;
  -webkit-border-radius: 106px;
  -moz-border-radius: 106px;
  -o-border-radius: 106px;
  -ms-border-radius: 106px;
  border-radius: 106px;
}
.no-borderradius .interview-block .round {
  position: relative;
}
.no-borderradius .interview-block .round .overlay {
  background: url("../img/interview-round.png") 0 0 no-repeat;
  height: 106px;
  width: 106px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.interview-block .name {
  font: normal 20px "FuturaFuturisBold", Arial, Helvetica, sans-serif;
  line-height: 22px;
  display: block;
  margin-bottom: 7px;
}
.interview-block .quote {
  font: italic 15px/17px Georgia, "Times New Roman", serif;
  padding: 0 8px;
  color: #51514F;
}
.interview-lister {
  padding-top: 20px;
}
.twoblock {
  margin: 39px 0;
}
.twoblock ul {
  text-align: justify;
}
.twoblock ul li {
  width: 360px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.twoblock ul li .title {
  color: #333;
  font: 25px "FuturaFuturis";
  display: block;
  text-align: center;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.twoblock ul li .title:hover {
  text-decoration: none;
}
.twoblock ul li .link p {
  color: #000;
  font: 20px/22px "FuturaFuturis";
  margin: 14px 0 10px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.twoblock ul li .link:hover p {
  color: #d81534;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.twoblock ul li p {
  color: #515151;
  font: 13px/16px Arial;
}
.twoblock ul:after {
  content: '';
  width: 100%;
  display: inline-block;
}
.seealso-block {
  clear: both;
  border-top: 2px solid #c6c6c7;
  margin-top: 40px;
}
.seealso-block .container {
  overflow: hidden;
}
.seealso-block .title {
  font: normal 25px "FuturaFuturisNormal", Arial, Helvetica;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-top: -0.7em;
  clear: both;
}
.seealso-block .title span {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
}
.seealso-block .title a,
.seealso-block .title a * {
  color: #000;
  text-decoration: none;
}
.seealso-block .list {
  margin-left: -20px;
  margin-top: 7px;
  overflow: hidden;
  margin-bottom: -10px;
}
.seealso-block .item {
  float: left;
  margin-left: 20px;
  width: 170px;
  display: block;
}
.seealso-block .item .image {
  display: block;
}
.seealso-block .item-title {
  font: normal 15px "FuturaFuturis", Arial, Helvetica, sans-serif;
  line-height: normal;
  color: #7f7f7f;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
}
.seealso-block .item-title a {
  color: #7f7f7f;
  text-decoration: none;
}
.seealso-block .item-top {
  display: block;
  padding: 10px 0 10px;
  margin: 0 0 12px;
  font: normal 14px "FuturaFuturisBold", Arial, Helvetica, sans-serif;
  line-height: normal;
  border-bottom: 1px solid #c6c6c7;
  line-height: 1.2em;
  /*.page-index & {
        border-bottom: 1px solid #c6c6c7;
        color: #d81534;
    }*/
}
.seealso-block .item-secondary {
  font: normal 13px "FuturaFuturis", Arial, Helvetica, sans-serif;
  line-height: 15px;
  margin: 0 0 13px;
}
.seealso-block .icon {
  height: 29px;
  background: url("../img/seealso-title.gif") 0 0 no-repeat;
}
.seealso-block .elle .icon {
  width: 40px;
}
.seealso-block .wday .icon {
  width: 76px;
  background-position: -51px 0;
}
.seealso-block .psy .icon {
  width: 92px;
  background-position: -133px 0;
}
.seealso-block .parents .icon {
  width: 88px;
  background-position: 100% 0;
}
.top-starhits-block {
  border-top: 2px solid #c6c6c7;
  margin-top: 40px;
}
.top-starhits-block .title {
  font: normal 25px "FuturaFuturisNormal", Arial, Helvetica;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-top: -0.7em;
  clear: both;
}
.top-starhits-block .title span {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
}
.top-starhits-block .title a,
.top-starhits-block .title a * {
  color: #000;
  text-decoration: none;
}
.top-starhits-block .item-date,
.top-starhits-block .item-text {
  color: #585858;
}
.top-starhits-block .item-title {
  font: 20px/18px "FuturaFuturisNormal";
  padding-top: 0;
}
.top-starhits-block .item-date {
  top: 15px;
}
.top-starhits-block .item-text {
  margin-top: 12px;
}
.top-starhits-block .info {
  margin-top: 7px;
}
.top-starhits-block .news-list-container .item .image {
  float: none;
  padding-right: 0;
}
.top-starhits-block .news-list-container .item .image-wrap {
  float: left;
  padding-right: 20px;
  position: relative;
}
.top-starhits-block .news-list-container .item .image-wrap .lbl {
  position: absolute;
  top: 79px !important;
  left: 0;
  height: 21px;
  padding: 0 20px 0 7px;
  font: 10px/21px Arial;
  color: #ffffff;
  text-transform: uppercase;
  background: url("../img/top-starhits-lbl.png") no-repeat right 0;
  text-decoration: none;
}
.top-starhits-block .news-list-container .item .image-wrap .lbl.smaller {
  font-size: 80%;
}
.top-starhits-block .dossier-faces {
  margin-bottom: 0px;
  padding-bottom: 2px;
}
.top-starhits-block .dossier-faces .item {
  width: 170px;
  margin-right: 17px;
  margin-bottom: 0;
}
.top-starhits-block .dossier-faces img {
  width: 170px;
}
