.b-ixbt_tv {
    height: auto;
    padding: 7px;
    background: #67609a url(/images/ixbttv_bg1.png) no-repeat center top;    
    color: white;
    border-radius: 2px;
    font-size: 14px;
    text-shadow: rgb(47, 42, 80) 0px -1px 0px;
    margin-bottom: 5px;
    max-width: 286px;
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
    .b-ixbt_tv a {
        color: white;
    }

    .b-ixbt_tv ul,
    .b-ixbt_tv li {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .b-ixbt_tv ul {
        width: auto;
        position: relative;
        margin-left: 0!important;
    }

    .b-ixbt_tv li {
        float: left;
    }
    
    .b-ixbt_tv img {
        max-width: 100%;
        height: auto;
    }

    .b-ixbt_tv .title {
        margin: 0 0 7px 2px;
        padding: 0;
    }

    .b-ixbt_tv .list-block {
        overflow: hidden;
        width: auto;
        position: relative;
    }
        .b-ixbt_tv .list-block:hover a.left {
            left: 0;
        }
        .b-ixbt_tv .list-block:hover a.right {
            right: 0;
        }        
   
        .b-ixbt_tv .list-block a {
            display: block;
            width: 20px;
            height: 155px;
            background: url(/images/pw_larr_bg.png) repeat-y center top;
            position: absolute;            
            top: 0;
            opacity: 0.4;
            z-index: 5;
            outline: none;
        }
            .b-ixbt_tv .list-block a:hover {
                opacity: 0.7;
            }
            .b-ixbt_tv .list-block a.left {
                left: -20px;
            }         
            .b-ixbt_tv .list-block a.right {
                right: -20px;
            }
               .b-ixbt_tv .list-block a.left:after,
               .b-ixbt_tv .list-block a.right:after {
                    display: block;
                    content: '';
                    width: 11px;
                    height: 21px;
                    top: 50%;
                    margin-top: -10px;
                    left: 50%;
                    margin-left: -5px;
                    position: absolute;
                }
                .b-ixbt_tv .list-block a.left:after {
                    background: url(/images/player_widget_arrows.gif) 0 0;
                }
                .b-ixbt_tv .list-block a.right:after {
                    background: url(/images/player_widget_arrows.gif) 0 -21px;
                }

    .b-ixbt_tv .rotation {
        display: block;
        width: 22px;
        float: right;
        margin-top: -3px;
        height: 22px;
        background: url(/images/player_widget_rotation.png);
    }
        .b-ixbt_tv .rotation.on {
            background-position: 0 -22px;
        }


    .b-ixbt_tv .item {
        cursor: pointer;
        width: 286px !important;
    }
        .b-ixbt_tv .item p {
            text-align: left;
            min-height: 2em;
            font-size: 12px;
            margin: 5px 0 0 0;
            height: 2.6em;
            overflow: hidden;
            padding-bottom: 2px;
        }

    .b-ixbt_tv .item-image {
        background: white;
        height: 155px;
        overflow: hidden;
    }


.b-ixbt_tv--popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 65535;
    color: white;
    text-align: right;
}
    .b-ixbt_tv--popup a {
        color: white;
        margin-right: 10px;
    }
    .b-ixbt_tv--popup .frame {
        margin-bottom: 10px;
    }
    .b-ixbt_tv--popup .paranja {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
    }   
    .b-ixbt_tv--popup .container {  
        position: absolute;
        width: 700px;
        height: 425px;
        background: black;
        box-shadow: 0 0 15px black;
        border-radius: 5px;
        top: 50%;
        margin-top: -280px;
        margin-left: -350px;
        left: 50%;        
        padding: 5px;          
    } 
        .b-ixbt_tv--popup .container iframe {
            width: 700px;
            height: 395px;
        }
    .b-ixbt_tv--popup .container.big {
        width: 1080px;
        height: 640px;
        margin-left: -540px;
    }
        .b-ixbt_tv--popup .container.big iframe {
            width: 1080px;
            height: 610px;
        }

    .b-ixbt_tv--popup .close {
        background: url(/images/close_player.png);
        width: 30px;
        height: 30px;
        position: absolute;
        right: -10px;
        top: -10px;
    }

    .b-ixbt_tv--popup .setSize {
        float: left;
        margin-left: 5px;
    }
        .b-ixbt_tv--popup .setSize.small:before,
        .b-ixbt_tv--popup .setSize.big:before {
            display: block;
            content: '';
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-top: -2px;
            background: url(/images/frame_size.png) no-repeat; 
        }

        .b-ixbt_tv--popup .setSize.small:before{
            background-position: -20px 0;
        }
        .b-ixbt_tv--popup .setSize.big:before{
            background-position: 0 0;            
        }


.b-ixbt_tv.index {
    max-width: 240px;
}
.b-ixbt_tv.index .item {
    width: 226px !important;
}

.b-ixbt_tv.index .item-image,
.b-ixbt_tv.index .list-block a {
    height: 120px;
}

#side_tv {
    height: 192px !important;
    margin-bottom: 10px !important;
}

#pw_container {
    background: #67609a url(/images/ixbttv_bg1.png) no-repeat center top;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-shadow: 0 -1px 0 #2f2a50;
    padding: 7px 0;
    position: relative;
}

.pw_loading {
    background: url(/images/widget_loading.gif) no-repeat center;
}

#pw_container h3 {
    color: #fff;
    padding: 0 7px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial;
    margin: 0 0 4px;
    background: none;
}

#pw_container .pw_items {
    margin: 0 7px;
    overflow: hidden;
    position: relative;
}

#pw_container .pw_items .pw_items_holder .pw_item {
    cursor: pointer;
    display: block;
    float: left;
    color: #fff;
    text-align: left !important;
    font-size: 12px;
    font-family: Arial;
}

#pw_container .pw_items .pw_items_holder .pw_item img {
    display: block;
    width: 100%;
    margin: 0 0 3px;
    background: url(/images/widget_loading.gif) no-repeat center;
}

.pw_item_name {
    height: 2.4em;
    display: block;
     line-height: 1.2em;
}

#pw_container .pw_sliding_trigger {
    position: absolute;
    right: 7px;
    top: 5px;
    height: 21px;
    width: 20px;
    background: url(/images/as_control.gif) -1px -22px;
    display: block;
}

#pw_container .pw_items_holder {
    position: absolute;
    //position: relative;
}

#pw_container .pw_st_enabled {
    background-position: -1px 0;
}

#pw_container .pw_left {
    display: block;
    width: 26px;
    height: 90px;
    background: url(/images/pw_larr_bg.png) repeat-y right top;
    position: absolute;
    left: -26px;
    top: 0;
    opacity: 0.4;
    z-index: 5;
    outline: none;
}

#pw_container .pw_left i {
    display: block;
    position: absolute;
    background: url(/images/player_widget_arrows.gif) 0 0;
    width: 11px;
    height: 21px;
    top: 50%;
    left: 5px;
    margin: -10px 0 0 0;
}

#pw_container .pw_right {
    display: block;
    position: absolute;
    width: 26px;
    height: 90px;
    background: url(/images/pw_rarr_bg.png) repeat-y right top;
    position: absolute;
    right: -26px;
    top: 0;
    z-index: 5;
    outline: none;
}

#pw_container .pw_right i {
    display: block;
    position: absolute;
    background: url(/images/player_widget_arrows.gif) 0 -21px;
    width: 11px;
    height: 21px;
    top: 50%;
    right: 5px;
    margin: -10px 0 0 0;
}

#pw_overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#flash_player_instance {
    top: 50%;
    left: 50%;
    background: black;
    position: absolute;
    z-index: 2001;
    padding: 5px;
    -moz-box-shadow: 0 0 15px #000;
    -webkit-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

#flash_player_instance h1 {
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    padding: 3px 0 4px;
    margin: 0;
}

#flash_player_instance #player_close {
    background: url(/images/close_player.png);
    width: 30px;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px; }

#flash_player_instance img { width: 100%; }

#html5_player_instance {
    top: 50%;
    left: 50%;
    background: black;
    position: absolute;
    z-index: 10001;
    padding: 5px;
    -moz-box-shadow: 0 0 15px #000;
    -webkit-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px #000;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#html5_player_instance h1 {
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    padding: 3px 0 4px;
    margin: 0;
}

#html5_player_instance #player_close {
    background: url(/images/close_player.png);
    width: 30px;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
}

#html5_player_instance img { width: 100%; max-width: 300px; }