@font-face {
  font-family: 'Aktiv Grotesk W01 Light1370681';
  src: url('../../en/CathayPacific/CathaySans_WCorp_Lt.eot');
  src: url('../../en/CathayPacific/CathaySans_WCorp_Lt.eot?#iefix') format('embedded-opentype'),
       url('../../en/CathayPacific/CathaySans_WCorp_Lt.woff2') format('woff2'),
       url('../../en/CathayPacific/CathaySans_WCorp_Lt.woff') format('woff'),
       url('../../en/CathayPacific/CathaySans_WCorp_Lt.ttf')  format('truetype'),
       url('../../en/CathayPacific/CathaySans_Lt.svg#Cathay Pacific Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 Regular';
  src: url('../../en/CathayPacific/CathaySans_WCorp_Rg.eot');
  src: url('../../en/CathayPacific/CathaySans_WCorp_Rg.eot?#iefix') format('embedded-opentype'),
       url('../../en/CathayPacific/CathaySans_WCorp_Rg.woff2') format('woff2'),
       url('../../en/CathayPacific/CathaySans_WCorp_Rg.woff') format('woff'),
       url('../../en/CathayPacific/CathaySans_WCorp_Rg.ttf')  format('truetype'),
       url('../../en/CathayPacific/CathaySans_Rg.svg#Cathay Pacific') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 Medium';
  src: url('../../en/CathayPacific/CathaySans_WCorp_Md.eot');
  src: url('../../en/CathayPacific/CathaySans_WCorp_Md.eot?#iefix') format('embedded-opentype'),
       url('../../en/CathayPacific/CathaySans_WCorp_Md.woff2') format('woff2'),
       url('../../en/CathayPacific/CathaySans_WCorp_Md.woff') format('woff'),
       url('../../en/CathayPacific/CathaySans_WCorp_Md.ttf')  format('truetype'),
       url('../../en/CathayPacific/CathaySans_Md.svg#Cathay Pacific Medium') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 Bold1370651';
  src: url('../../en/CathayPacific/CathaySans_WCorp_Bd.eot');
  src: url('../../en/CathayPacific/CathaySans_WCorp_Bd.eot?#iefix') format('embedded-opentype'),
       url('../../en/CathayPacific/CathaySans_WCorp_Bd.woff2') format('woff2'),
       url('../../en/CathayPacific/CathaySans_WCorp_Bd.woff') format('woff'),
       url('../../en/CathayPacific/CathaySans_WCorp_Bd.ttf')  format('truetype'),
       url('../../en/CathayPacific/CathaySans_Bd.svg#Cathay Pacific Bold') format('svg');
  font-weight: 300;
  font-style: normal;
}

/*Simplified Chinese*/
@font-face {
  font-family: 'Aktiv Grotesk W01 SC Light';
  src: url('../../sc/CathayPacific/CathaySans_W_SC_Lt.eot');
  src: url('../../sc/CathayPacific/CathaySans_W_SC_Lt.eot?#iefix')  format('embedded-opentype'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Lt.woff2')  format('woff2'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Lt.woff')  format('woff'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Lt.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 SC Regular';
  src: url('../../sc/CathayPacific/CathaySans_W_SC_Rg.eot');
  src: url('../../sc/CathayPacific/CathaySans_W_SC_Rg.eot?#iefix')  format('embedded-opentype'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Rg.woff2')  format('woff2'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Rg.woff')  format('woff'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Rg.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 SC Medium';
  src: url('../../sc/CathayPacific/CathaySans_W_SC_Md.eot');
  src: url('../../sc/CathayPacific/CathaySans_W_SC_Md.eot?#iefix')  format('embedded-opentype'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Md.woff2')  format('woff2'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Md.woff')  format('woff'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Md.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 SC Bold';
  src: url('../../sc/CathayPacific/CathaySans_W_SC_Bd.eot');
  src: url('../../sc/CathayPacific/CathaySans_W_SC_Bd.eot?#iefix')  format('embedded-opentype'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Bd.woff2')  format('woff2'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Bd.woff')  format('woff'),
       url('../../sc/CathayPacific/CathaySans_W_SC_Bd.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*Japanese*/
@font-face {
  font-family: 'Aktiv Grotesk W01 JP Light';
  src: url('../../jp/CathayPacific/CathaySans_JP_W_Lt.eot');
  src: url('../../jp/CathayPacific/CathaySans_JP_W_Lt.eot?#iefix')  format('embedded-opentype'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Lt.woff2')  format('woff2'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Lt.woff')  format('woff'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Lt.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 JP Regular';
  src: url('../../jp/CathayPacific/CathaySans_JP_W_Rg.eot');
  src: url('../../jp/CathayPacific/CathaySans_JP_W_Rg.eot?#iefix')  format('embedded-opentype'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Rg.woff2')  format('woff2'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Rg.woff')  format('woff'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Rg.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 JP Medium';
  src: url('../../jp/CathayPacific/CathaySans_JP_W_Md.eot');
  src: url('../../jp/CathayPacific/CathaySans_JP_W_Md.eot?#iefix')  format('embedded-opentype'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Md.woff2')  format('woff2'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Md.woff')  format('woff'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Md.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 JP Bold';
  src: url('../../jp/CathayPacific/CathaySans_JP_W_Bd.eot');
  src: url('../../jp/CathayPacific/CathaySans_JP_W_Bd.eot?#iefix')  format('embedded-opentype'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Bd.woff2')  format('woff2'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Bd.woff')  format('woff'),
       url('../../jp/CathayPacific/CathaySans_JP_W_Bd.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*Korean*/
@font-face {
  font-family: 'Aktiv Grotesk W01 KR Light';
  src: url('../../kr/CathayPacific/CathaySans_KR_W_Lt.eot');
  src: url('../../kr/CathayPacific/CathaySans_KR_W_Lt.eot?#iefix')  format('embedded-opentype'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Lt.woff2')  format('woff2'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Lt.woff')  format('woff'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Lt.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 KR Regular';
  src: url('../../kr/CathayPacific/CathaySans_KR_W_Rg.eot');
  src: url('../../kr/CathayPacific/CathaySans_KR_W_Rg.eot?#iefix')  format('embedded-opentype'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Rg.woff2')  format('woff2'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Rg.woff')  format('woff'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Rg.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 KR Medium';
  src: url('../../kr/CathayPacific/CathaySans_KR_W_Md.eot');
  src: url('../../kr/CathayPacific/CathaySans_KR_W_Md.eot?#iefix')  format('embedded-opentype'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Md.woff2')  format('woff2'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Md.woff')  format('woff'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Md.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Aktiv Grotesk W01 KR Bold';
  src: url('../../kr/CathayPacific/CathaySans_KR_W_Bd.eot');
  src: url('../../kr/CathayPacific/CathaySans_KR_W_Bd.eot?#iefix')  format('embedded-opentype'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Bd.woff2')  format('woff2'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Bd.woff')  format('woff'),
       url('../../kr/CathayPacific/CathaySans_KR_W_Bd.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*Traditional Chinese*/
/*US18283 Fallback to use System font for Traditional Chinese in order to reduce the load on Akamai Cache.
@font-face {
  font-family: 'Aktiv Grotesk W01 TC Light';
  src: url('../../zh/CathayPacific/CathaySans_W_TC_Lt.eot');
  src: url('../../zh/CathayPacific/CathaySans_W_TC_Lt.eot?#iefix')  format('embedded-opentype'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Lt.woff2')  format('woff2'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Lt.woff')  format('woff'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Lt.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 TC Regular';
  src: url('../../zh/CathayPacific/CathaySans_W_TC_Rg.eot');
  src: url('../../zh/CathayPacific/CathaySans_W_TC_Rg.eot?#iefix')  format('embedded-opentype'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Rg.woff2')  format('woff2'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Rg.woff')  format('woff'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Rg.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 TC Medium';
  src: url('../../zh/CathayPacific/CathaySans_W_TC_Md.eot');
  src: url('../../zh/CathayPacific/CathaySans_W_TC_Md.eot?#iefix')  format('embedded-opentype'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Md.woff2')  format('woff2'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Md.woff')  format('woff'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Md.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk W01 TC Bold';
  src: url('../../zh/CathayPacific/CathaySans_W_TC_Bd.eot');
  src: url('../../zh/CathayPacific/CathaySans_W_TC_Bd.eot?#iefix')  format('embedded-opentype'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Bd.woff2')  format('woff2'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Bd.woff')  format('woff'),
       url('../../zh/CathayPacific/CathaySans_W_TC_Bd.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}
*/