﻿body {	
} 
a:link, body_alink	{
	color: #000;
	text-decoration: none;
}
a:visited, body_avisited {
	color: #000;
	text-decoration: none;	
}
a:hover, a:active, body_ahover	{
	color: #000;	
	text-decoration: underline;	
}

.main {
	margin-top: 20%;
}
.img
{

}
.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.txt {
	text-align: center;
	margin-top: 2%;
	font-family: tahoma;
	font-size: medium;
	font-weight: bold;
}