a {
    color:#000;
    text-decoration:none;
}
a b {
    color:gray
}
a.DOWN {
    color:red;
    text-decoration:none
}
a.grid {
    color:#3969cb;
    text-decoration:none;
    font-weight:400
}
a.grid:link {
    color:#3969cb;
    text-decoration:none;
    font-weight:400;
    text-transform:capitalize
}
a.grid:visited {
    text-transform:none;
    color:#2d54a3
}
a.grid:hover {
    color:#000;
    text-decoration:underline;
    font-weight:400
}
a.tooltip span.tooltip {
    display:none;
    margin-left:35px;
    margin-top:-30px;
    width:130px;
    z-index:100;
    padding:2px 3px
}
a.tooltip:hover {
    background:#FFF;
    text-decoration:none;
    z-index:100
}
a.tooltip:hover span.tooltip {
    display:inline;
    position:absolute;
    border:1px solid #CCC;
    background:#666;
    color:#FFF;
    z-index:100
}
a.UP {
    color:green;
    text-decoration:none
}
a:visited {
    color: #2d54a3;
    text-decoration:none
}
a:hover {
    text-decoration:underline;
    color:#3970dc;
}
div#map_canvas {
    width:398px;
    height:300px;
    float:left
}
div.clear {
    clear:both;
    text-align:left
}
div.hidden {
    visibility:hidden;
    height:0;
    padding:0
}
div.show_updater {
    height:35px;
    color:red;
    font-weight:700;
    text-align:center;
    font-size:24px;
    background:#FF0;
    padding:20px
}
img {
    border:none
}
li.dummy {
    list-style-type:none;
    margin-left:0;
    height:5px;
    background:#fff
}
li.placeholder {
    list-style-type:none;
    height:100px;
    width:300px;
    background:#eee;
    border-color:#000;
    border-style:dashed;
    border-width:1px;
    margin:0;
    padding:0
}
span.DOWN {
    padding-left:22px;
    background-repeat:no-repeat;
    background-image:url(http://image.b4in.net/down_arrow.png);
    color:#000
}
span.epic {
    font-size:12px;
    font-weight:700;
    color:#F50
}
span.headline_timestamp {
    color:gray;
    float:left;
    font-family:Courier;
    font-size:x-small;
    width:36px;
    padding:4px 2px 0 0
}
span.hot {
    font-size:12px;
    font-weight:700;
    color:red
}
span.timestamp {
    font-family:"Lucida Grande", Verdana, Arial, sans-serif;
    font-size:xx-small;
    padding-left:22px;
    color:gray
}
span.UP {
    padding-left:22px;
    background-repeat:no-repeat;
    background-image:url(http://image.b4in.net/up_arrow.png);
    color:#000
}
table.views-table {
    background: url('http://image.b4in.net/bigboard/bg.gif') repeat;
    width:300px;
    border-collapse:collapse;
    font-size:.9em;
    line-height:1.3em;
    margin:0;
}
tr.odd {
    padding-left:.6em;
    padding-bottom:.1em;
    padding-top:.1em;
    border-bottom:1px solid #ccc;
}
tr.odd img {
    float:right;
    padding-top:1px;
    padding-left:1px
}
tr.odd, tbody th {
    border-color:#d5d6d7;
    border-style:solid;
    border-width:1px 0
;
}
ul.newsticker {
    position:relative;
    left:740px;
    font:bold 12px Verdana;
    list-style-type:none;
    margin:0;
    padding:0
}
ul.newsticker a {
    font:bold 12px Verdana;
    margin:0 15px 0 0;
    padding:0
}
ul.newsticker li {
    float:left;
    margin:0;
    padding:0
}
ul.newsticker span {
    margin:0 12px 0 0
}
.block {
    height: 299px;
    margin-top:6px;
    overflow:hidden;
    width: 320px;
}
.content {
    height:100%;
    overflow:hidden;
    text-align:left
}
.content-sponsored {
    padding-left:10px;
    font-size:x-small;
    line-height:1.2em;
    color:#666;
    padding-top:10px;
    display:table-cell;
    padding-bottom:3px
}
.content-sponsored a {
    padding-top:10px;
    padding-bottom:10px;
    color:#666;
    margin-top:10px;
    margin-bottom:10px
}
.content-sponsored img {
    vertical-align:middle;
    padding-bottom:11px
}
.content-top-block {
    min-height:40px;
    overflow:visible
}
.ellipsis {
    float:left;
    overflow:hidden;
    padding:3px 0;height: 17px;
}
.fancy-bg {
    position:absolute;
    border:0;
    width:20px;
    height:20px;
    z-index:1001;
    margin:0;
    padding:0
}
.fancybox-ie .fancy-bg {
    background:transparent !important
}
.fancybox-title-inside {
    text-align:center;
    color:#333;
    padding:10px 0
}
.fancybox-title-outside {
    padding-top:5px;
    color:#FFF;
    text-align:center;
    font-weight:700
}
.fancybox-title-over {
    color:#FFF;
    text-align:left
}
.grayButton:hover, .more a:hover {
    text-decoration:underline
}
.headline {
    overflow:visible;
    float:left
}
.headlinetop {
    width:350px;
    overflow:visible;
    float:left
}
.lowersearch {
    background-color:#e44fff;
    position:relative;
    height:30px;
    overflow:hidden;
    border-color:red;
    border-style:solid;
    border-width:1px
}
.MCol {
    text-align:left;
    float:left;
    width:373px;
    position:relative;
    font-size:12px;
    overflow: hidden;
}
.MCol ul li a, .RCol ul li a {
    color:#000;
    text-decoration:none;
    font-size:13px;
}
.MCol ul li a:hover, .RCol ul li a:hover {
    text-transform:none;
    margin:0;
    padding:0
}
.MCol ul li, .RCol ul li {
    border-bottom-color:#666;
    border-bottom-style:solid;
    border-bottom-width:1px;
    list-style-type:none;
    overflow:hidden;
    margin:0;
    padding: 0;
}
.more {
    font-size:13px;;
    font-weight:700;
    color:#3970dd;
    text-align:left;
    padding:0 0 0 25px
}
.more a {
    color: red;
    font-weight:700;
    text-decoration:none;
    text-align:right
}
.more a:link, .more a:visited {
    color: red
}
.radio_list_header {
    color:black;
    font-family:"Arial Black", Gadget, sans-serif;
    padding-left:10px;
    padding-bottom:0px;
}
.radio_state_active {
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:12px;
    line-height:18px;
    color:#FFF;
    padding-left:3px;
    background-image:url(http://image.b4in.net/radioimg/blink_red.gif);
    background-repeat:repeat
}
.radio_state_archived {
    font-family:Arial, Helvetica, sans-serif;
    color:#9F6;
    font-size:12px;
    line-height:18px;
    padding-left:3px;
    letter-spacing:0.2em;
    background-image:url(http://image.b4in.net/radioimg/trans_60.png);
    background-repeat:repeat
}
.radio_txt {
    font-family:Arial, Helvetica, sans-serif;
    color:#9F6;
    font-size:12px;
    line-height:18px;
    padding-left:3px;
    letter-spacing:0.2em;
    background-image:url(http://image.b4in.net/radioimg/trans_60.png);
    background-repeat:repeat;

}
.radio_txt a:link, .radio_txt a:visited {
    color:#94FF64;
    text-decoration:none
}
.RCol {
    text-align:left;
    float:left;
    width:373px;
    position:relative;
    font-size:12px;
}
html#ie6 .RCol{
    overflow:hidden;
}
.tickercontainer {
    width:740px;
    height:30px;
    right:0;
    overflow:hidden;
    margin:0;
    padding:4px
}
.tickercontainer .mask {
    position:relative;
    left:0;
    top:8px;
    width:740px;
    overflow:hidden
}
.toggle {
    color:#B60;
    cursor:default;

}
#adleft {
    left:0;
    top:0;
    position:absolute;
    float:left
}
#adright {
    right:0;
    top:0;
    position:absolute;
    float:right
}
#content-top1 h3, #content-top2 h3, #content-top3 h3 {
    color:#292516;
    font-size:18px;
    font-weight:400;
    text-align:left;
    margin:0;
}
#content-top1, #content-top2, #content-top3 {
    float:left;
    text-align:left;
    margin:1px 0 0;
    padding:0 0 0 10px
}
#date {
    display:none;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:21px;
    float:left;
    overflow:hidden;
    width:300px;
    text-transform:uppercase;
    position:relative;
    left:275px;
    color:#1b1c1c;
    bottom:23px
}#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}

#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('http://image.b4in.net/fancybox.png');
}

#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('http://image.b4in.net/fancybox.png') -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: none;
}

#fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
}

#fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url('http://image.b4in.net/blank.gif');
    z-index: 1102;
    display: none;
}

#fancybox-left {
    left: 0px;
}

#fancybox-right {
    right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
}

#fancybox-left-ico {
    background-image: url('http://image.b4in.net/fancybox.png');
    background-position: -40px -30px;
}

#fancybox-right-ico {
    background-image: url('http://image.b4in.net/fancybox.png');
    background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
    left: 20px;
}

#fancybox-right:hover span {
    left: auto;
    right: 20px;
}

.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001;
}

#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('http://image.b4in.net/fancybox-x.png');
}

#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('http://image.b4in.net/fancybox.png');
    background-position: -40px -162px;
}

#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('http://image.b4in.net/fancybox-y.png');
    background-position: -20px 0px;
}

#fancybox-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url('http://image.b4in.net/fancybox.png');
    background-position: -40px -182px;
}

#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('http://image.b4in.net/fancybox-x.png');
    background-position: 0px -20px;
}

#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('http://image.b4in.net/fancybox.png');
    background-position: -40px -142px;
}

#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('http://image.b4in.net/fancybox-y.png');
}

#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('http://image.b4in.net/fancybox.png');
    background-position: -40px -122px;
}

#fancybox-title {
    font-family: Helvetica;
    font-size: 12px;
    z-index: 1102;
}

.fancybox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative;
}

.fancybox-title-outside {
    padding-top: 10px;
    color: #fff;
}

.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left;
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('http://image.b4in.net/fancy_title_over.png');
    display: block;
}

.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px;
}

#fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto;
}

#fancybox-title-float-wrap td {
    border: none;
    white-space: nowrap;
}

#fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url('http://image.b4in.net/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0 0 3px 0;
    background: url('http://image.b4in.net/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url('http://image.b4in.net/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_close.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_nav_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
    height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
    position: absolute;
    margin-top: 0;
    top: expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://image.b4in.net/fancy_shadow_nw.png', sizingMethod='scale'); }

#follow {
    position:absolute;
    top:66px;
    right:329px;
    font:.7em "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#FFF;
    height:18px;
    width:171px
}
#follow a {
    color:#5e1714
}
#footer_ad {
    overflow:hidden;
    margin-top:0;
    margin-bottom:10px;
    text-align:center;
    width:100%;
    padding:20px 0
}

#joinbox {
    width:500px;
    border:3px solid #737299;
    margin-right:auto;
    margin-left:auto;
    padding:10px
}
#joinbox h2 {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:18px;
    font-weight:400;
    margin-top:5px;
    margin-left:5px;
    color:#006;
    margin-bottom:5px
}
#joinbox hr {
    border-top:thin solid #444F8F;
    width:99%
}
#joinbox a {
    color: blue;
}
#map_canvas {
    width:403px;
    border:1px solid #333;
    height:303px
}
#map_canvas #get_radio_program {
    height:110px;
    width:49%;
    float:right;
    margin-bottom:2px;
    margin-top:2px;
    margin-right:3px;
    background-repeat:repeat;
    text-align:center;

}
#map_canvas #start_player {
    margin-top: 15px;
    border-top-style: none;
    float:left;
    background-repeat:repeat;
    text-align:left;
    width:100%;
    overflow:hidden
}
#alternative_news_tab {
    background-position: right top;
    font-weight:700;
    margin-top:3px;
    width:190px;
    padding:2px 2px 2px 10px;
    background-color:#ccd3dd;
    background-image:url(http://image.b4in.net/home/top_tab_corner.png);
    background-repeat:no-repeat;
}


#popular_alternative_news_tab {
    background-position:202px 0;
    color:#900;
    cursor:pointer;
    float:left;
    font-weight:700;
    margin-top:3px;
    width:200px;
    padding:2px 2px 2px 10px;
    background-color:#acb3bb;
    background-image:url(http://image.b4in.net/home/top_tab_corner.png);
    background-repeat:no-repeat;

}
#popular_news_tab {
    background-position: right top;
    font-weight:700;
    margin-top:3px;
    width:115px;
    padding:2px 2px 2px 10px;
    background-color:#ccd3dd;
    background-image:url(http://image.b4in.net/home/top_tab_corner.png);
    background-repeat:no-repeat;
}
#ppn {
    left:585px;
    overflow:hidden;
    position:absolute;
    top:63px;
    width:200px
}
#random {
    display:block;
    color:#3970dc;
    overflow:hidden;
    text-decoration:none;
    width:740px
}
#random_headline {
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-bottom-color:#292516;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:20pt;
    font-variant:small-caps;
    text-align:center;
    padding-top:4px;
    padding-bottom:4px;
    width:750px;
    height:30px;
    background:#ebebeb;
    margin:0
}
#rightCol_wrapper {
    /*	height:301px;*/
    padding-bottom: 3px;
    position:relative;
    overflow:hidden;
}
#ticker {
    border-left-width: 2px;
    border-bottom-width: 1px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-color: #3c4147;
    border-style: solid;
    height: 32px;
    text-align:center;
    overflow:hidden;

}
#tickerarea {
    top:0;
    float:left;
    position:absolute;
    padding-bottom:2px;
    color:#FFF;
    height:60px
}
#tickerwrapper {
    width:760px;
    text-align:left;
    font:normal 1em Arial;
    color:#000;
    display:inline;
    float:right;
    margin:0 auto;
    padding:0
}
#topnewsinfo {
    width:747px;
    position:relative;
    height:250px
}
#topnews_wrapper {
    position:relative;
    width:747px;
    height:264px;
    padding:0;

}
#featured_nav {
    font-size: 14px;
    width:100%;
    height: 33px;
}
#featured_nav ul li {
    list-style:none;
    display:inline;
    font-family:Arial, Helvetica, sans-serif;
}

.topnav {
    height: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    font-size: 1.2em;
}
.topnav li {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 5px;
    height: 12px;
    float: left;
    margin: 0;
    position: relative; /*--Declare X and Y axis base--*/
}
.topnav li a{
    padding-left: 5px;
    padding-right: 5px;
    color: #272a2d;
    display: block;
    text-decoration: none;
    float: left;
}
.topnav li a:hover{
    color: white;
}

.topnav li span { /*--Drop down trigger styles--*/
    background-repeat: no-repeat;
    background-image: url(http://image.b4in.net/feature-down.png);
    width: 10px;
    height: 10px;
    float: left;
}
.topnav li span.subhover { cursor: pointer;background-repeat: no-repeat;
                           background-image: url(http://image.b4in.net/feature-down-white.png);} /*--Hover effect for trigger--*/

#featured_nav a {
    text-decoration: none;
}
#feat_icon {
    float:left;
    padding-right:10px;
    padding-left:10px
}
#featured_nav ul {
    margin: 0;
    padding:4px 0 10px;
}
#featured_nav ul li:hover {
    color:#FFF;
    cursor:auto;
}
.fancybox-ie #fancybox-close, .fancybox-ie #fancybox-left-ico, .fancybox-ie #fancybox-right-ico, .fancybox-ie #fancybox-title-left, .fancybox-ie #fancybox-title-main, .fancybox-ie #fancybox-title-over, .fancybox-ie #fancybox-title-right {
    background:transparent
}
.headline img {
    float:right
}
.radio_txt a:hover, #upload_radio a:link, #upload_radio a:visited {
    color:#FFF;
    text-decoration:none
}
.RCol ul, #ticker01 {
    margin:0;
    padding:0
}
#popular_alternative_news_section, #popular_news_section, #alternative_news_section {
    background-color:#ccd3dd;
    height:242px;
    overflow:hidden;
    width:373px;
    margin:0;
    padding:0;
}
#popular_alternative_news_section, #popular_news_section, #popular_news_tab {margin-left: 1px;}
#alternative_news_section, #alternative_news_tab {margin-left: 5px;}
#most_recent li, #popular_alternative_news li, #popular_news li {
    width:368px;
    margin:0;
    padding:1px 0 2px 5px;
    height:20px;
}
#most_recent li:hover, #popular_alternative_news li:hover, #popular_news li:hover {
    background:#FFF
}

#block_top_featured_contributors {
    display: block;
}
#block_top_featured_contributors .content {
    margin-left: 4px;
    margin-top: 2px;
}
#block_top_featured_contributors .contributor {
    width:70px;
    height:70px;
    padding:2px;
    float:left;
}
#block_top_featured_contributors a.viewall {
    color: #FAA417;
    float: right;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    margin-right: 8px;
    margin-top: -2px;
}
#block_top_featured_contributors a:hover.viewall {
    text-decoration:underline;
}
#block_top_books.block, #block_top_categories.block {
    height:auto;
    width:960px;
}
.comment_text {
    background: url("http://image.b4in.net/home/post_new_comment.jpg") no-repeat scroll left top transparent;
    margin-left: 3px;
    padding-bottom: 1px;
    padding-left: 18px;
}
.comment_text a {
    line-height: 16px;
}
.category_title .ellipsis,.book_title .ellipsis {
    font-size: 13.5px;
    line-height: 20px;
    padding: 0;
    width: 80%!important;
    text-overflow: ellipsis;
}

.category_title,a .book_title {
    border-bottom-color: #D5D6D7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 20px;
    padding-bottom: 1px;
    text-transform: capitalize;
    width: 31.3%;
    margin: 0px 1%;height:20px;
    font-size: 13.5px;
    float: left;
    white-space: nowrap;
}
.book_title img {
    float: right;
    padding-left: 1px;
    padding-top: 3px;
}
#block_top_categories {
    padding-top: 10px;
}

#videoslideshow {
    height:262px;
    width:396px;
    float:left;
    position:relative;
    margin:3px 3px 0 0;
    overflow: hidden;
    border: 1px solid #D0D0D0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-image: initial;
    background: none repeat scroll 0 0 #f7f7f7;
}
#videoslideshow #videoslide {
    position:absolute;
    top:0px;
    left:13px;
    display:none;
    z-index:11;
    height: 262px;
    width: 370px;
}
#videoslide .caption {
    bottom:0px;
}
#videoobject {
    z-index:1;
    height: 262px;
    width: 370px;
}
.jcarousel-skin-bin {
    z-index: 5;
}
.jcarousel-skin-bin .jcarousel-container-horizontal {
    width: 370px;
    padding: 0px 13px;
}
.jcarousel-skin-bin .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-bin .jcarousel-clip-horizontal {
    width:  370px;
    height: 262px;
    background-color:#4D535A;
}
.jcarousel-skin-bin .jcarousel-item {
    position: relative;
    width:  370px;
    height: 262px;
}
.jcarousel-skin-bin .jcarousel-item-horizontal {
    margin-left: 0;
}
.jcarousel-skin-bin .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
.jcarousel-skin-bin .jcarousel-next-horizontal {
    position: absolute;
    top: 113px;
    right: 0;
    width: 13px;
    height: 34px;
    cursor: pointer;
    background: transparent url(http://image.b4in.net/home/next-button.png) no-repeat 0 0;
}
.jcarousel-skin-bin .jcarousel-next-horizontal:hover {
    background: transparent url(http://image.b4in.net/home/next-button-hover.png) no-repeat 0 0;
}
.jcarousel-skin-bin .jcarousel-prev-horizontal {
    position: absolute;
    top: 113px;
    left: 0;
    width: 13px;
    height: 34px;
    cursor: pointer;
    background: transparent url(http://image.b4in.net/home/prev-button.png) no-repeat 0 0;
}
.jcarousel-skin-bin .jcarousel-prev-horizontal:hover{
    background: transparent url(http://image.b4in.net/home/prev-button-hover.png) no-repeat 0 0;
}
.video_thumbnail, .video_play, .video_caption {
    cursor: pointer;
    display: block;
}
.video_play, .video_caption {
    z-index: 7;
    position: absolute;
}
.video_thumbnail {
    z-index: 6;
}
.video_play {
    top: 105px;
    left: 160px;
}
a.video_caption {
    width: 350px;
    background-color: black;
    bottom: 0;
    overflow: hidden;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    color: white;
    padding: 5px 10px 7px;
    font-family: Arial,"Time New Roman",Tahoma;
    font-weight: bold;
}
a.video_caption:link, a.video_caption:visited {
    color: white;
    text-decoration: none;
}
a.video_caption:hover {
    color: yellow;
    text-decoration: none;
}
a.video_caption:active {
    color: white;
    text-decoration: none;
}
img.preload {
    position: relative;
    left: 165px;
    top: 97px;
    display: block;
}
#content_top_categories{
    width:100%!important;
}
.remove_ads{
    font-size: 11px;
    padding-top:10px;
    color:#909090;
    text-align: center;
}

/*** WRAPPER ***/
.home_wrapper {
    background-color:#FFF;
    padding: 15px 0px;


    display: inline-block;
    width: 100%;
}

#news {
    font-size:15px;
    line-height:1.3em;
    position:relative;
    float:left;
    color:#FFF;
    text-decoration:none;
    width: 960px;
    padding: 0px 8px;
}
#news h3 {
    padding:5px 10px;
    text-transform:uppercase;
    width:286px;
    height:18px;
    background:#e4e4e4;
    color:#292516;
    font-size:18px;
    font-weight:400;
    margin:0;
}
#news h3 a {
    color:#3970dc;
    text-decoration:none;
}
#news h3 a:hover {
    color: black;
    text-transform:uppercase;
    text-decoration:underline
}
#news ul {
    margin: 0;
    padding:0;
    text-align: left;
}
#news ul li {
    margin-left:0;
    margin-right:0;
    float: left
}
#news #block_top_books .title, #news #block_top_categories.block .title {
    text-align: center;
    width:930px;
}
#news h3 a.nounderline:hover {
    color:#3970dc;
    text-decoration:none;
}

/*** BIGBOARD ***/
#title_bigboard {
    background: url('/img/b4in/top-50-articles.png') no-repeat top left;
    height: 35px;
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #888;
}
#content_bigboard {
    float: left;
    padding-top: 2px;
    width: 630px;
}
#content_bigboard #top1_news,
#content_bigboard #top2_news {
    padding: 0;
    margin: 0;
}
#content_bigboard #top1_news {
    background: url('http://image.b4in.net/bigboard/bg.gif') repeat;

    height: 606px;
    position: relative;
}
#content_bigboard #top2_news {
    background: url('http://image.b4in.net/bigboard/bg.gif') repeat;
    height: 606px;
    position: relative;
}
#content_bigboard img {
    vertical-align: inherit;
}
#content_bigboard img.news-photo {
    float: right;
    padding-top: 4px;
    padding-right: 4px;
}
#content_bigboard img.news-video {
    float: right;
    padding-top: 4px;
    padding-right: 2px;
}
#content_bigboard img.none-photo,
#content_bigboard img.none-video {
    display: none;
}
#content_bigboard .page {
    position: absolute;
    height: 25px;
    color: #000;
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 0px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: .9em;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    opacity: 1 !important;
}
#content_bigboard .page:hover {color: blue;}
#content_bigboard .news-title {
    width: 530px;
    overflow: hidden;
    white-space: nowrap;

    display: inline-block;

    position: absolute;

    top: 3px;

    margin-left: 3px;

    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    text-overflow: ellipsis;
}
#content_bigboard .visitors {
    text-align: right;
    display: inline-block;
    line-height: 24px;
}
#content_bigboard .news-tooltip{
    display: none;
    position: absolute;
    left: 40%;
    bottom: 1px;
    width: 100%;
    padding:10px;
    border:1px solid #DCA;
    background:#fffAF0;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    z-index: 999;
    color: #000;
}
#content_bigboard div.page span.news-title{
    position: relative;
}
#content_bigboard div.page:hover div.news-tooltip{
    display: block;
}
#content_bigboard div.news-tooltip .callout {z-index:9999;position:absolute;bottom:1px;border:0;left:-12px;}
#content_bigboard div.news-tooltip .news-fulltitle {
    line-height: 11px !important;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Scada', "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #000;
    line-height: 18px !important;
}
#content_bigboard div.news-tooltip .news-image {
    float: left;
    margin-right: 5px;
    border: 1px solid #888;
    padding:1px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
#content_bigboard div.news-tooltip .news-contributor,
#content_bigboard div.news-tooltip .news-posted {
    font-weight: bold;
}
#content_bigboard div.news-tooltip .news-info {
    font: 12px Arial;
    margin-top: 3px;
    color: #444;
}
#content_bigboard div.news-tooltip .news-desc {
    font: 13px Arial;
    margin-top: 3px;
    text-align: justify;
}

/*** RIGHT CONTENT ***/
#news #content_right {
    float: right;
    margin-left: 20px;
    width: 303px;
    height:850px;
}
#most_recent_title {
    width: 300px;
    height: 34px;
    margin-top: 20px;
    padding-bottom: 3px;
    /*border-bottom: 1px solid #888;*/
}
#editors_picks_title {
    width: 300px;
    height: 31px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
}


/*** BOOKS ***/
#block_top_books .top-books-title {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
}

/*** ALL CATEGORIES ***/
#block_top_categories .top-categories-title {
    margin-top: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid #888;
}

/*** GOOGLE COLUMN AD ***/
div.ad_column {
    float:right;
    height:800px;
    width:165px;
    margin-right: 10px;
}
#google_column_ad {
    margin-left:0px;
    padding-bottom:3px;
    float: right;
    width: 160px;
    border: 1px solid #CCC;
}