
/*快訊-公用屬性*/

.flash_news {
	width: 100%;
	line-height: 18px;
}
.flash_news_wrapper {
	width:1200px;
	margin:0 auto;
	position:relative;	
}

.flash_news_advanced,
.flash_news_basic
 {
	/*display: block;	*/
	display: none;	
}
.botton-scroll {
	width:1100px; 
	position:relative;
	margin:0 auto; 
	z-index:0; 
	padding:0;
}
.botton-scroll ul { 
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
@media (max-width:1024px){
.flash_news_wrapper {
	width:98%;
}
.botton-scroll {
	width:100%;
}

}


/*快訊-進階版*/
.flash_news_advanced {
	width:100%;
	background:#D35400;
	height:120px;
	overflow:hidden;
}
@media (max-width: 1024px) {
.flash_news_advanced {
	height: 120px;
	display: none;	
}
}
@media (max-width: 640px) {
.flash_news_advanced {
	height:80px;
}
}

.featureBox1 { 
	width:90%; 
	margin:8px 5px;
	display:inline-block;
	background:#FFF;
	height:95px;
	border:2px #FFF solid;
	cursor:pointer;
	overflow:hidden;
}
.featureBox1:hover {
	border:2px #FFD48F solid;
}
.featureBox1_pic {
	width:143px;
	height:80px;
	margin:8px;
	float:left;
	text-align:center;
	overflow:hidden;
}
.featureBox1_pic img {
	width:auto;
	height:80px;
}
.featureBox1_txt {
	height:80px;
	margin:8px;
	margin-left:170px;
	text-align:left;
}
.featureBox1_txt_title {
	width:630px;
	margin: 10px 0 5px 0;
	color: #666;
	line-height:26px;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}
.featureBox1_txt_date {
	width:160px;
	font-size:15px;
	text-align:right;
	color:#999;
	float:right;
	margin:-30px 0 0 0;
	display:block;
}

@media (max-width:1024px){	
.featureBox1 { 
	width:90%; 
	margin:10px 0;
}
.featureBox1_pic {
	margin:7px;
}
.featureBox1_txt {
	margin-left:165px;
}
.featureBox1_txt_title {
	width:95%;
	margin: 10px 0 5px 0;
}
.featureBox1_txt_date {
	display:none;
}
}
@media (max-width: 640px) {
.featureBox1 { 
	width:83%;
	margin:8px 0;
	height:60px;
}
.featureBox1_pic {
	width:80px;
	height:55px;
	margin:3px;
}
.featureBox1_pic img {
	height:55px;
}
.featureBox1_txt {
	height:55px;
	margin:3px 0 0 0;
	margin-left:90px;
}
.featureBox1_txt_title {
	width:100%;
	font-size:15px;
	line-height:20px;
}
}

@media (max-width: 320px) {
.featureBox1_txt_title {
	font-size:14px;
	line-height:17px;
}
}
.flash_news_icon {
	width:60px;
	padding:5px;
	border-radius:5px;
	background:#F39A2D;
	text-align:center;
	color:#FFF;
	font-size:15px;
}
.flash_news_icon.basic {
	margin-top:5px;
	float:left;
	background:#FFF;
	color:#DCA401;
}

@media (max-width: 640px) {
.flash_news_icon {
	width:35px;
	padding:3px;
	border-radius:3px;
	font-size:13px;
	float:left;
	margin:0 0 5px 0;
}
.flash_news_icon.basic {
	margin-top:1px;
}
}

.flash_news_prev {
	width:30px;
	height:50px;
	display:block;
	position:relative;
	z-index:1;
	float:left;
	left:30px;
	top:-80px;
	text-align:center;
	cursor:pointer;
}
.flash_news_next {
	width:30px;
	height:50px;
	display:block;
	position:relative;
	z-index:1;
	float:right;
	right:40px;
	top:-80px;
	text-align:center;
	cursor:pointer;
}
.flash_news_prev img, .flash_news_next img {
	width:25px;
	height:auto;
}
.flash_news_close {
	width:30px;
	height:30px;
	position:absolute;
	z-index:2;
	right:0;
	top:40px;
	cursor:pointer;
}
.flash_news_close img {
	width:40px;
	height:auto;
}
@media (max-width:1024px){	
.flash_news_prev {
	left:0;
	top:-85px;
}
.flash_news_next {
	right:0;
	top:-85px;
}
.flash_news_close {
	display:none;
}
}
@media (max-width: 640px) {
.flash_news_prev {
	left:0;
	top:-60px;
	width:20px;
	height:auto;
}
.flash_news_next {
	right:0;
	top:-60px;
	width:20px;
	height:auto;
}
.flash_news_prev img, .flash_news_next img {
	width:18px;
	height:auto;
}
}
@media (max-width: 320px) {
.flash_news_prev {
	left:3px;
	top:-55px;
	width:13px;
}
.flash_news_next {
	right:3px;
	top:-55px;
	width:13px;
}
.flash_news_prev img, .flash_news_next img {
	width:13px;
	height:auto;
}
}



/*快訊-基本版*/
.flash_news_basic {
	width:100%;
	background:#DCA401;	
	overflow:hidden;
}
@media (max-width:1024px){
.flash_news_basic {
	height:50px;
}
}
@media (max-width: 640px) {
.flash_news_basic {
	height: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
}
}

.featureBox2 { 
	width:90%; 
	margin:5px;
	display:inline-block;
	height:40px;
	cursor:pointer;
	text-align:left;
	overflow:hidden;
}
@media (max-width:1024px){
.featureBox2 { 
	width:90%;
	margin:5px auto 0;
}
}
@media (max-width: 640px) {
.featureBox2 { 
	width:85%;
	margin:0 auto;
	height:30px;
}
}

.flash_news_prev_basic {
	width:15px;
	height:30px;
	display:block;
	position:absolute;
	z-index:1;
	float:left;
	left:30px;
	top:12px;
	text-align:center;
	cursor:pointer;
}
.flash_news_next_basic {
	width:15px;
	height:30px;
	display:block;
	position:absolute;
	z-index:1;
	float:right;
	right:35px;
	top:12px;
	text-align:center;
	cursor:pointer;
}
.flash_news_prev_basic img, .flash_news_next_basic img {
	width:15px;
	height:auto;
}
.flash_news_close_basic {
	width:28px;
	height:28px;
	position:absolute;
	z-index:2;
	right:-6px;
	top:12px;
	cursor:pointer;
}
.flash_news_close_basic img {
	width:28px;
	height:auto;
}
@media (max-width:1024px) {
.flash_news_prev_basic {
	left:5px;
	top:12px;
}
.flash_news_next_basic {
	right:5px;
	top:12px;
}
.flash_news_prev_basic img, .flash_news_next_basic img {
	width:15px;
	height:auto;
}
.flash_news_close_basic {
	display:none;
}
}
@media (max-width: 640px) {
.flash_news_prev_basic {
	left:3px;
	top:6px;
}
.flash_news_next_basic {
	right:3px;
	top:6px;
}
.flash_news_prev_basic img, .flash_news_next_basic img {
	width:12px;
	height:auto;
}
}

.featureBox2_txt_title {
	width: 700px;
	margin: 10px 0 0 20px;
	font-size: 17px;
	color: #FFF;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}
.featureBox2_txt_time {
	width:160px;
	margin:10px 5px 0 0;
	font-size:16px;
	color:#FFF;
	float:right;
	display:block;
}
@media (max-width:1024px){
.featureBox2_txt_title {
	width:80%;
	margin:10px 0 0 10px;
}
}
@media (max-width: 640px) {
.featureBox2_txt_title {
	width:80%;
	margin:5px;
	font-size:14px;
}
.featureBox2_txt_time {
	display:none;
}
}
@media (max-width: 320px) {
.featureBox2_txt_title {
	width:78%;
	margin:5px;
	font-size:14px;
}
}