

/*¤Ñ®ð*/
.weather_div {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 199;
	box-sizing: border-box;
	display: block;
	font-family: 微軟正黑體,Verdana, Geneva, Helvetica,Arial,Sans-serif,Tahoma;	
	top:75px;
}

.weather_box {
	width: 460px;
	border: 2px #CCC solid;
	background: #FFF;
	position: absolute;
	box-shadow: 1px 1px 12px -2px #000;
	display: none;
}

.weather_block {
	width:436px;
	border:2px solid #D3D3D3;
	margin:10px auto;
	box-sizing: border-box;
	overflow:hidden;
}
.weather_close {
	width:30px;
	height:30px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}
.weather_close img {
	width:30px;
	height:30px;
}
@media (max-width: 1024px) {
.weather_div {
	width: 1024px;	
}
}


@media (max-width: 800px) {
.weather_div {
	width: 90%;
	top: 64px;
}
.weather_box {
	width: 100%;
}
.weather_block {
	width:90%;
}
}
@media (max-width: 640px) {
.weather_div {
	width:95%;
	top: 54px;	
}
.weather_box {
	box-shadow:1px 1px 50px -2px #000;
	margin-right: ;
}
}


/*¤Ñ®ð¬d¸ß*/
.weather_search {
	width:95%;
	margin:20px auto 0;
	overflow:hidden;
}
.weather_search .txt {
	width:200px;
	padding:3px;
	float:left;
	margin:0 5px 0 0;
	border:1px #CCC solid;
	border-radius:20px;
}
.weather_search .txt_box {
	width:80%;
	border:0;
	color:#999;
	margin:0 0 0 8px;
	font-size:15px;
	font-family: Verdana, \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif;
}
.weather_search .search_button {
	width:60px;
	padding:3px;
	text-align:center;
	color:#FFF;
	background:#8F004B;
	border-radius:20px;
	cursor:pointer;
	float:left;
	transition: 0.5s;
}
.weather_search .search_button:hover {
	background:#8B3E5F;
}
@media (max-width: 640px) {
.weather_search {
	width:90%;
}
.weather_search .txt {
	width:150px;
}
.weather_search .txt_box {
	width:80%;
}
.weather_search .search_button {
	width:50px;
	margin-top:0px;
}
}


.weather_region {
	width:95%;
	padding:5px 0;
	margin:10px 20px;
	overflow:hidden;
}

.region_titel_setup {
	position:absolute;
	z-index:2;
	font-size:16px;
	left:100px;
	color:#999;
	cursor:pointer;
	top:20px;
}
.region_titel_setup img {
	width:18px;
	height:auto;
	vertical-align:middle;
	margin: 0 3px 3px 0
}
.region_titel_setup:hover > ul {
	display:block;
}
.region_titel_setup ul {
	display:none;
	font-size:15px;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
}
.region_titel_setup ul li {
	margin:0;
	padding:0;
	text-align:center;
}
.region_titel_setup ul li a {
	text-decoration: none;
	color:#FFF;
	background:#666;
	padding:5px;
	display: block;
}
.region_titel_setup ul li a:hover {
	background:#333;
	color:#FFF;
}
.region_titel_setup ul li:hover > ul {
	display: block;
}
.region_titel_setup ul li:hover a {
	background:#333;
}
.region_titel_setup ul li ul {
	margin:0;
	padding:0;
	display:none;
	position: absolute;
	left:100%;
	top:0;
	list-style:none;
	height:170px;
	background:#333;
}
.region_titel_setup ul li ul li {
	margin:0;
	padding:5px;
	background:#333;
	color:#FFF;
	display:block;
	width:60px;
	cursor:pointer;
}
.region_titel_setup ul li ul li:hover {
	color:#FC0;
}

.region_box {
	width:100%;
	margin:0 auto;
	padding:0 20px;
	overflow:hidden;
	box-sizing: border-box;
}

.weather_region span {
	white-space:nowrap;
}

.region_titel{
	color:#999;
	font-size:14px;
	padding-right:10px; 	
}
#region_title {
	font-size:22px;
	color:#8F004B;
	font-weight:bold;
}

.region_pm1 {
	font-size:20px;
	font-weight:bold;
	color:#666;
}
.region_pm1_s {
	font-size:16px;
	font-weight:bold;
	padding-left:5px;
}
.region_pm2 {
	font-size:20px;
	color:#8F004B;
	padding-left:5px;
	font-weight:bold;
}
.region_time {
	float:right;
	font-size:14px;
	color:#999;
	padding-top: 8px;
}
.region_info {
	width:95%;
	margin:10px auto;
	padding:5px;
	box-sizing: border-box;
	background:#E4D3DC;
	font-size:16px;
	color:#333;
}
.region_info a {
	color:#333;
	text-decoration:none;
}

@media (max-width: 640px) {
.weather_region {
	width:90%;
	margin:5px 20px;
}

.region_titel{
	font-size:14px;
	padding-right:5px; 	
}

#region_title {
	font-size:20px;
	font-weight:bold;
	padding-right:5px;
}
.region_pm1 {
	font-size:18px;
	font-weight:bold;
}
.region_pm1_s {
	font-size:14px;
}
.region_pm2 {
	font-size:18px;
	font-weight:bold;
}
.region_time {
	font-size:14px;
	padding-top: 4px
}
.region_titel_setup {
	top:15px;
}
}



.weather_today {
	display:block;
	width:100px;
	background:#FFF;
	border:2px #FFF solid;
	border-right:1px #FFF solid;
	float:left;
}
.weather_day {
	display:block;
	width:80px;
	padding-bottom:10px;
	background:#f2f2f2;
	border:1px #FFF solid;
	border-top:2px #FFF solid;
	border-bottom:2px #FFF solid;
	float:left;
}
@media (max-width: 980px) {
.weather_today {
	width:100%;
	height:80px;
	border:2px #FFF solid;
	border-right:2px #FFF solid;
	border-bottom:2px #FFF solid;
	box-sizing: border-box;
}

.weather_day {
	width:100%;
	height:50px;
	border:2px #FFF solid;
	border-top:0px;
	border-bottom:2px #FFF solid;
	box-sizing: border-box;
}
}

.weather_week {
	width:100%;
	background:#D4ACC1;
	padding:10px 0;
	text-align:center;
	font-size:14px;
	line-height:18px;
	border-bottom:2px #FFF solid;
}
.weather_week.today {
	background:#AF6C8F;
}
.weather_week p {
	font-weight: bold;
	margin:0;
}
.weather_icon {
	width:100%;
	height:70px;
	text-align:center;
}
.weather_icon img {
	width:auto;
	height:50px;
	margin-top:15px ;
}
.weather_icon.today img {
	width:auto;
	height:65px;
	margin:3px 0;
}
.weather_temperature {
	width:100%;
	margin:3px 0;
	text-align:center;
	font-size:15px;
	color:#9e9e9f;
}
.weather_temperature.today {
	padding-top: 5px;
	font-size:18px;
	color:#000;
}
@media (max-width: 980px) {
.weather_week {
	width:30%;
	display:inline-block;
	vertical-align:top;
	padding:6px 0;
	border:0;
}
.weather_week.today {
	border-top:0;
	height:50px;
	padding:16px 0 10px;
}
.weather_icon {
	width:25%;
	display:inline-block;
	vertical-align:top;
	margin:1px 0;
}
.weather_icon img {
	width:auto;
	height:40px;
	margin-top:3px;
}

.weather_temperature {
	width:20%;
	display:inline-block;
	vertical-align:top;
	margin:13px 0 0 0;
	font-size:15px;
	text-align:left;
}
.weather_temperature.today {
	font-size:18px;
	margin:25px 0 0 0;
}
}
@media (max-width: 640px) {
.weather_week {
	width:30%;
}
.weather_icon {
	width:30%;
}
.weather_temperature {
	width:40%;
}
}



/*¤Ñ®ð Sponsored*/
.weather_sponsored {
	width:95%;
	position:5px;
	margin:0 auto 10px;
	font-size:12px;
	color:#999;
	text-align:right;
}
.weather_sponsored img {
	width:auto;
	height:15px;
	margin-left:5px;
	vertical-align: text-top;
	border:0;
}
.weather_sponsored a {
	color:#999;
	text-decoration:none;
}
@media (max-width: 768px) {
.weather_sponsored {
	width:90%;
}
}


/*¤Ñ®ð Video*/
.weather_video {
	width:95%;
	height:230px;
	display:block;
	text-align:center;
	margin:5px auto 10px;
	padding:10px;
	background:#000;
	box-sizing: border-box;
}
@media (max-width: 980px) {
.weather_video {
	display:none;
}
}


/*¤Ñ®ð more*/
.weather_more {
	width:100%;
	display:block;
	margin:0;
	padding:10px;
	background:#EAEAEA;
	box-sizing: border-box;
	color:#555;
	overflow:hidden;
}
.weather_more a{
	color:#555;
}
.weather_more a:hover{
    color: #8F004B;
}
.weather_more_icon {
	width:30px;
	height:30px;
	float:right;
	cursor:pointer;
}
.weather_more_icon img {
	width:30px;
	height:30px;
}


