/* =============================================================================
   Caixa de tabela e rodada de campeonato
   ========================================================================== */ 
.championshipRound .game {
  border-bottom: 1px dashed #C3C3C3;
  display: block;
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.championshipRound .game h4 {
  font-size: 1em;
  font-weight: normal;
  line-height: 50px;
  color: #555;
  margin: 0;
  position: relative;
  text-align: center;
}
.championshipRound .game h4 .score {
  font-size: 1.5em;
  display: table-cell;
  color: #000;
  width: 10%;
  font-size: 27px;
}
.championshipRound .game h4 .vs {
  display: inline-block;
  color: #000;
  width: 5%;
}
.championshipRound .game h4 .home,
.championshipRound .game h4 .away {
  display: table;
  width: 47.5%;
}
.championshipRound .game h4 .flag {
  display: inline-block;
  width: 20%;
}
.championshipRound .game h4 .home {
  float: left;
}
.championshipRound .game h4 .home .team {
    width: 20%;
    display: table-cell;
    text-align: center;
    vertical-align: 0.1em;
}
.championshipRound .game h4 .home .flag {
  left: 0;
  display: table-cell;
}
.championshipRound .game h4 .away {
  float: right;
}
.championshipRound .game h4 .away .team {
  width: 20%;
  display: table-cell;
  text-align: center;
  vertical-align: 0.1em;
}
.championshipRound .game h4 .away .flag {
  display: table-cell;
}
.championshipRound .game .info {
  color: #666;
  font-size: 0.7em;
  position: absolute;
  font-weight: bold  ;
  text-align: center;
  top: 55px;
  text-transform: uppercase;
  width: 100%;
}
.championshipRound .game-list li {
  list-style-type: none;
}
.championshipRound .connect {
  position: relative;
  padding-left: 50%;
  width: 50%;
}
.championshipRound .connect .top,
.championshipRound .connect .bottom {
  border-left: 1px solid #ddd;
  clear: both;
  display: block;
  position: relative;
}
.championshipRound .connect .bottom {
  border-top: 1px solid #ddd;
}
.championshipRound .tab-container {
  display: block;
  min-height: 200px;
  overflow: hidden;
  position: relative;
}

.championshipRound {
  display: block;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.championshipRound h2{
  margin-bottom: 0;
}
.championshipRound h3 {
  padding: 0.3em 0 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: capitalize;
  font: 300 17px "folhaii-heavy",Georgia,serif;
  background-color: #F7F7F7;
  border-bottom: 1px solid #000;
  display: none;
}
.championshipRound.stage-2 .spacing {
  color: #666;
  font-size: 0.8em;
  line-height: 3em;
}
.championshipRound.stage-2 .stage {
  width: 50%;
}
.championshipRound.stage-2 .stage.left .game {
  padding: 0 10% 0 2%;
}
.championshipRound.stage-2 .stage.right .game {
  padding: 0 2% 0 10%;
}
.championshipRound.stage-2 .stage header {
  display: none;
}
.championshipRound.stage-2 .stage .team {
  display: inline-block;
  font-size: 0.85em;
  line-height: 1.2em;
  max-width: 60%;
  white-space: normal;
}
.championshipRound.stage-2 .stage .flag {
  top: 0;
}
.championshipRound.stage-2 .stage .score {
  display: inline-block;
  min-width: 30px;
}

.championshipRound .championship-round .game {
  text-align: center;
  color: #555;
}

.championshipRound .championship-round .team {
    float: left;
    padding: 0 5px;
    width: 80px;
}

.championshipRound .championship-round .name {
    display: inline-block;
    font-size: 9px;
    font-weight: 700;
    height: 12px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
}

.championshipRound .championship-round img.flag {
    height: 35px;
    width: 35px;
}

.championshipRound .championship-round .score {
    padding-top: 8px;
    font-weight: 700;
}

.championshipRound .championship-round .score .info {
    color: #00aeef;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
}

span.team-a {
    margin-right: 10px;
    font-size: 20px;
    line-height: 22px;
}

span.team-b {
    margin-left: 10px;
    font-size: 20px;
    line-height: 22px;
}


.championshipRound .championship-round .score {
    float: left;
    padding-top: 3px;
    width: 120px;
    line-height: 22px;
}

.championshipRound .game-list li {
  height: 50px;
}

.championshipRound .game .info {
      position: initial;
      top: 0;

}


.championshipTable .group {
  width: 100%;
}
.championshipTable h2{
  margin-bottom: 0;
}
.championshipTable h3{
  padding: 0.3em 0 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  text-align: center;
  font: 300 17px "metaserifpro-bold", Georgia, serif;
  background-color: #F7F7F7;
  border-bottom: 1px solid #000;
}
.championshipTable .group thead th {
  padding-bottom: 10px;
  padding-top: 12px;
}
.championshipTable .group thead th:first-child {
  padding-left: 1%;
}
.championshipTable .group tbody tr {
  border-top: 1px dashed #ddd;
}
.championshipTable .group tbody td {
  padding: 5px 0;
}
.championshipTable .group th,
.championshipTable .group td {
  text-align: center;
  width: 13%;
}
.championshipTable .group .bold {
  font-weight: bold;
  width: 7%;
}
.championshipTable .group .promoted,
.championshipTable .group .demoted {
  background: #4a8afe;
  display: inline-block;
  height: 25px;
  color: #fff;
  width: 30px;
}
.championshipTable .group .demoted {
  background: #f9d72a;
}
.championshipTable .group .text-col {
  text-align: left;
  width: auto;
}
.championshipTable .group .number-col {
  text-align: center;
  width: auto;
}
.championshipTable .group .text-col .flag {
  margin-right: 10px;
  margin-left: 10px;
}
.championshipTable a:focus{
  text-decoration: none;
}
.championshipTable .button{
  background-color: #00adef;
  border-radius: 2px;
  color: #FFF;
  padding: 7px 15px 7px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
}
.championshipTable .text-center{
  text-align: center;
  padding-top: 25px;
  width: 100%;
}