header , nav#mmenu
{
	display:none !important;
	z-index: 101;
}

.miniMenuIcon
{
	width: 27px;
	height: 27px;
	display: inline-block;
	margin: 0px 9px;
}

.miniMenu
{
	position: absolute;
	top: 12px;
	right: 63px;
}

.miniMenu a {
	text-decoration: none;
}

.miniMenu .fbIcon
{
	background: url("/images/mobile/jm_fb.png") no-repeat scroll 0% 0% / 100% auto transparent;
}

.miniMenu .newsIcon
{
	width: 22px !important;
	padding-top: 12px;
}
.miniMenu .newsIcon #pms_num:after {
	content: attr(data-unread_notifs_count);
	display: inline-block;
	background-color: #c91907;
	line-height: 16px;
	width: 16px;
	height: 16px;
	padding-right: 1px;
	position: absolute;
	top: -5px;
	right: 50px;
	text-align: center;
	border-radius: 33%;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-indent: 0;
	z-index: 1;
}

.miniMenu .messageIcon
{
    width: 28px !important;
    position: relative;
    top: -10px;
}

.miniMenu .accountDefaultIcon
{
	top: -11px;
	position: relative;
}

.miniMenu .accountIcon img {
	margin-top: -18px;
	margin-right: 7px;
}

.mobile-navigation a
{
	cursor:pointer;
}

.submenu
{
	display:none;
	position:absolute;
	top:0px;
	left:275px;
	width: 275px;
}

.mobile-navigation ul li ul li a
{
	color: #1B1C20;
	display: block;
	padding: 6px 0px 6px 20px;
	font-size: 17px;
}

#mm-m0-p0
{
	position:relative;
}

body > header > a > h1 {
	position: absolute !important;
	width: 220px !important;
	height: 35px !important;
	background: url(/images/mobile/joe_logo.png) no-repeat top left !important;
	text-indent: -9999px !important;
	left: 50px !important;
	top: 10px !important;
}


.morelink footer
{
	text-indent:0px !important;
}

@media screen and (max-width: 600px) {
	.leftTeam {
		width: 100%;
		position: relative;
	}

	.imprezaMain {
		margin-right: 0;
		margin-left: 5px;
	}

	.rightTeam, .teamMain {
		margin-left: 0;
	}

	.teamMain IMG {
		max-width: 100%
	}

	.imprezaLeft {
		width: 100%;
		position: static;
		margin-bottom: 15px;
	}

}

/* 640 to rozmar przy którym uznajemy klientów za mobilnych: przy zmianach grep MOBILE_WIDTH! */
@media screen and (max-width: 640px) {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		/* margin:0px;
		padding:0px; */
	}

	body {
		padding-top: 65px !important;
		background: #fff !important;
	}

	header , nav#mmenu	{
		display:block !important;
	}
	#topHeader , #menuContainer , #main_billboard , #prawa_glowna , .page-home .pb4, .page-home .text b {
		display:none !important;
	}

	body > header > a > h1 {
		position: absolute !important;
		width: 21px !important;
		height: 31px !important;
		background-color: #f00 !important;
		background-image: none !important;
		left: 52px !important;
		top: -9px !important;
	}

	body.page-gallery > header > a > h1 {
		top: 8px !important;
	}


	.page-home .morelink {
		padding: 5px;
		height: 40px;
		overflow: hidden;
		font-size: 15px;
		font-weight: bold !important;
		color: #999898  ;
		margin: 0;
	}

	.page-home HR	{
		display:none !important;
	}

	.page-home BR, .page-home .text strong, .page-home .text h2, .box_archive	{
		display:none;
	}

	.title {
		font-size: 23px !important;
		color: #c00;
	}

	.morelink {
		border: 0 !important;
	}

	.indexart div a img {
		border: 0;
		width: 100%;
	}

	.indexart div {
		max-height: 340px;
		overflow: hidden;
	}

	.page-home .morelink a {
		text-decoration: none;
		color: #555;
	}

	.sky {
		display: none;
	}

	.next-page {
		display:block !important;
		color:#fff !important;
	}

	.next-page span::after {
		display:none !important;
	}

	.linkiRight {
		display: none;
	}
	.linkiContainer {
		margin-right: 20px !important;
	}
	#profilColumn {
		position: relative;
		width: auto;
	}
	#profilMain {
		margin-right: 10px;
	}
}

@media screen and (max-width: 655px) {
	.page-szaffa-home .filesThumbs {
		height: 275px;
	}
}

@media screen and (max-width:  740px ) {
	#mainFileColumn {
		margin: 0 5px;
	}

	#rightFileColumn {
		display: none;
	}

	.teamHeader {
		border-bottom: solid 1px #ccc;
	}

	.subhead, td.subhead {
		display: none;
	}
}

/* INNE */
body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
/* Lists */
/* Layout / Container */
body > header,
.navbar {
	width: 100%;
	margin: 0 auto;
}

body[data-panel="open"] #mobile-content:after {
	content: "overlay";
	position: absolute;
	top: -100px;
	left: -200%;
	width: 4000px;
	height: 1000px;
	background: transparent;
	z-index: 94;
	text-indent: -9999px;
}
body[data-panel="open"] {
	overflow: hidden;
}
body[data-panel="open"]  #mobile-container {
	margin-left: 275px;
}
body[data-panel="open"]  > header {
	left: 275px;
}
body[data-panel="open"] > .mobile-navigation {
	left: 0;
	visibility: visible;
}
body[data-search="open"] > header > h1 {
	visibility: hidden;
}

body[data-search="close"] > header > form#searchForm
{
	width:auto !important;
	padding: 9px 15px 0px 0px !important;
}

body[data-search="open"] > header > form#searchForm
{
	width:100%;
	padding: 9px 15px 0px 50px;
}
/* Layout / Header */
body > header {
	height: 56px;
	padding: 13px 50px 0 50px;
	position: absolute;
	top: 0;left: 0;
	text-align: center;
	background-color: #f9f9f9;
	-webkit-transition: left 0.2s linear;
	transition: left 0.2s linear;
	z-index: 100;
	-webkit-box-shadow: 0px 1px 0px #fafbfc;
	box-shadow: 0px 1px 0px #fafbfc;
	border-bottom: 1px solid #cfcfcf;
	min-width: 310px;
	max-width: 100%;
}
body > header > h1 {
	display: inline-block;
	width: 220px;
	height: 35px;
	background: url(/images/mobile/joe_logo.png) no-repeat top left;
	text-indent: -9999px;
}
#showMenu {
	position: absolute;
	left: 13px;
	top: 16px;
	text-indent: -9999px;
	z-index: 200;
	cursor: pointer;
}
/* Search Form */
#searchForm {
	position: absolute;
	right : 0;
	top : 0;
	width: 100%;
	padding: 9px 15px 0 50px;
	min-height: 55px;
	height: auto;
	text-align: right;
	z-index: 150;
}
#searchForm > div {
	border: 0;
	padding: 6px 45px 0 5px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 45px;
	height: auto;
	min-height: 36px;
	z-index: 200;
}
#searchForm > div > input {
	-webkit-appearance: none;
	display: inline-block;
	visibility: hidden;
	border: 0;
	background: none;
	box-shadow: none;
	border: 0;
	height: 23px;
}
body[data-search="open"] #searchForm > div {
	width: 100%;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	box-shadow: inset 1px 1px 4px rgba(23, 16, 15, 0.22);
	background-color: #fff;
}

body[data-search="open"] #searchForm > div > input {
	width: 100%;
	visibility: visible;
}
#searchForm > div > #showSearchForm {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	cursor: pointer;
	position: absolute;
	display: block;
	right: 4px;
	top: 0px;
	text-indent: -9999px;
	text-align: left;
	border:0;
	z-index: 200;
}
/* Layout / Content */
#mobile-content {
	width: 100%;
	margin-top: 70px;
}
#mobile-content > h1 {
	color: #999;
	font-size: 24px;
	padding: 0 15px;
	height: auto;
	min-height: 40px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
#mobile-content  h2 {
	color: #999;
	font-size: 24px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
.empty-pic-list {
	padding: 15px;
}
.pictureWrapper {
	width: 100%;
}
.pictureWrapper h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	margin: 0 auto;
	text-align: left;
	height: auto;
	min-height: 40px;
	color: #ff0202;
	font-weight: bold;
}
.picwrapper {
	display: inline-block;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.author-nick {
	font-size: 10px;
	color: #888;
	opacity: 0.7;
	position: absolute;
	bottom: 25px;
	right: 20px;
	display: none;
}
.pictureWrapper > .picture {
	max-width: 640px;
	padding: 15px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.picture  > header {
	color: #ff0202;
	text-align: left;
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 10px;
	line-height: 110%;
}
.article-intro {
	font-size: 14px;
	color: #000;
	text-align: left;
	padding-bottom: 10px;
	font-weight: bold;
}
.footer-content {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}
.pictureWrapper > .picture > a {
	display: inline-block;
}
.pictureWrapper > .picture img {
	width: 100%;
}
/* Layout / Footer */
#mobile-container > footer {
	width: 100%;
	padding: 25px 0;
}
/* Left Panel/Navigation */
.mobile-navigation {
	position: fixed;
	top: 0;
	left: -275px;
	width: 275px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fafafa;
	visibility: hidden;
	-webkit-transition: left 0.2s linear, visibility 0.2s linear;
	transition: left 0.2s linear, visibility 0.2s linear;
	z-index: 100;
}
.mobile-navigation > h2 {
	width: 100%;
	height: 70px;
	overflow: hidden;
	position: relative;
	padding: 23px 0 0 66px;
	background-color: #fafafa;
	font-size: 18px;
	color: #1b1c20;
}
.mobile-navigation > h2 > img {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 15px;
	left: 15px;
}
.mobile-navigation  > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.mobile-navigation  > ul > li {
	display: block;
	position: relative;
	background-color: #fafafa;
	background-image: linear-gradient(bottom, rgba(247,247,247,1), rgba(255,255,255,1));
	background-image: -o-linear-gradient(bottom, rgba(247,247,247,1), rgba(255,255,255,1));
	background-image: -moz-linear-gradient(bottom, rgba(247,247,247,1), rgba(255,255,255,1));
	background-image: -ms-linear-gradient(bottom, rgba(247,247,247,1), rgba(255,255,255,1));
	background-image: -webkit-linear-gradient(bottom, rgba(247,247,247,1), rgba(255,255,255,1));
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;
	text-align: left;
}
.mobile-navigation > ul > li > a {
	font-weight: bold;
	color: #1b1c20;
	display: block;
	padding: 15px 0 16px 18px;
	text-decoration: none;
}
.mobile-navigation > ul > li > a:hover {
	background-color: #eee;
}
.mobile-navigation:after {
	content: "shadow";
	text-indent: -9999px;
	width: 8px;
	height: 100%;
	position: absolute;
	right: -3px;
	top: 0;
	background-image: linear-gradient(right, rgba(0,0,0,0.12), rgba(0,0,0,0));
	background-image: -o-linear-gradient(right, rgba(0,0,0,0.12), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(right, rgba(0,0,0,0.12), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(right, rgba(0,0,0,0.12), rgba(0,0,0,0));
	background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.12), rgba(0,0,0,0));
}
.mobile-navigation > ul > li.active {
	border-top: 1px solid #e30003;
	border-bottom: 1px solid #e30003;
}
.mobile-navigation > ul > li.active > a,
.mobile-navigation > ul > li > a:active {
	background: #ff0104;
	color: #fff;
}

.mobile-navigation > ul > li > a:hover
{
	text-decoration:none !important;
}
/* Picture Footer */
.pictureWrapper > footer {
	background: #ffffff;
	background-image: linear-gradient(bottom, rgba(243,243,243,1), rgba(255,255,255,1));
	background-image: -o-linear-gradient(bottom, rgba(243,243,243,1), rgba(255,255,255,1));
	background-image: -moz-linear-gradient(bottom, rgba(243,243,243,1), rgba(255,255,255,1));
	background-image: -ms-linear-gradient(bottom, rgba(243,243,243,1), rgba(255,255,255,1));
	background-image: -webkit-linear-gradient(bottom, rgba(243,243,243,1), rgba(255,255,255,1));
	border-bottom: 1px solid #d8d8d8;
	padding: 0 15px;
	text-align: center;
	height: 65px;
	overflow: hidden;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fcfcfc;
	box-shadow: 0 1px 0 #fff;
	color: #999898;
}
.pictureWrapper > footer a {
	color: #999898;
	font-weight: bold;
	text-shadow: 0 1px 0 #f6f7f8;
}
.article-voting {
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 15px 0;
	text-align: left;
	float: left;
}
.article-points {
	display: block;
	width: 50%;
	text-align: right;
	float: right;
}
.article-voting > a {
	background: url('/images/mobile/joe_sprite.png') no-repeat -9999px -9999px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 0;
	text-indent: -9999px;
	font-size: 24px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}
.article-voting  .article-voting-up {
	background-position: 0 -250px;
	margin-left: 9px;
	width: 34px;
	height: 40px;
	float:left;
}
.article-voting  .article-voting-down {
	background-position: 0 -35px;
	margin-top: 3px;
}
.article-voting .up_total_votes {
	width: auto;
	height: 36px;
	line-height: 33px;
	display: inline-block;
	vertical-align: top;
	font-size: 24px !important;
	padding: 0 10px;
	margin-top: 0;
}
.up_total_votes {
	text-align: center;
}
.article-voting .total_votes {
	display: block;
}

.total_votes {
	line-height: 0;
	margin: 6px 0 0;
	padding: 0;
	text-align: center;
}
.up_total_votes .up_votes {}
.up_total_votes .total_votes {
	font-weight: normal;
	font-size: 14px;
	position: relative;
	top: -2px;
	color: #626262;
}
.up_total_votes .total_votes:before {content: "("}
.up_total_votes .total_votes:after { content: ")"}
.article-points > div {
	display: inline-block;
	position: relative;
	height: 66px;
	width:64px;
}
.article-points > div:before {
	content: "left-border";
	text-indent: -9999px;
	position: absolute;
	width: 2px;
	height: 60px;
	bottom: 0;
	left: 0;
	text-align: left;
	background: url('/images/mobile/joe_sprite.png') no-repeat -32px -136px;
}
.article-fbshare {
	cursor: pointer;
	padding: 20px 9px 0 9px;
}
.article-comments {
	padding: 20px 9px 0 9px;
}
.article-fbshare > a,
.article-comments > a {
	display: inline-block;
	height: 36px;
	line-height: 30px;
	padding-left: 45px;
	position: relative;
	vertical-align: top;
	text-align: left;
	color: #8c8c8c !important;
	font-size: 20px !important;
	text-decoration: none !important;
}
.article-fbshare > a:before,
.article-comments > a:before {
	content: "icon";
	text-indent: -9999px;
	display: inline-block;
	width: 34px;
	height: 33px;
	background: url('/images/mobile/joe_sprite.png') no-repeat -9999px -9999px;
	position: absolute;
	left: 0;
	top: 0;
}
.article-fbshare > a:before { background-position: 0 -70px}
.article-comments > a:before { background-position: 0 -103px}
.next-page {
	display: none;
	width: 90%;
	max-width: 640px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 24px;
	border-radius: 2px;
	background: #ef0706;
	background-image: linear-gradient(bottom, rgba(228,19,16,1), rgba(245,1,1,1));
	background-image: -o-linear-gradient(bottom, rgba(228,19,16,1), rgba(245,1,1,1));
	background-image: -moz-linear-gradient(bottom, rgba(228,19,16,1), rgba(245,1,1,1));
	background-image: -ms-linear-gradient(bottom, rgba(228,19,16,1), rgba(245,1,1,1));
	background-image: -webkit-linear-gradient(bottom, rgba(228,19,16,1), rgba(245,1,1,1));
	box-shadow: 0px 1px 1px rgba(0,0,0,0.16);
	margin-top: 25px;
}
.next-page > span {
	padding-right: 31px;
	position: relative;
}

.next-page:hover
{
	color:#fff !important;
	text-decoration:none !important;
}

.next-page > span:after {
	content: "arrow-right";
	text-indent: -9999px;
	background: url('/images/mobile/joe_sprite.png') no-repeat 0px -186px;
	display: inline-block;
	width: 22px;
	height: 11px;
	position: absolute;
	right: 0;
	top: 9px;
}

.navbar-wrapper {
	position: relative;
}
.navbar-wrapper:before {
	content: "top-bg";
	text-indent: -9999px;
	width: 100%;
	height: 56px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #f7f8fa;
	background-image: linear-gradient(bottom, rgba(240,243,246,1), rgba(253,253,253,1));
	background-image: -o-linear-gradient(bottom, rgba(240,243,246,1), rgba(253,253,253,1));
	background-image: -moz-linear-gradient(bottom, rgba(240,243,246,1), rgba(253,253,253,1));
	background-image: -ms-linear-gradient(bottom, rgba(240,243,246,1), rgba(253,253,253,1));
	background-image: -webkit-linear-gradient(bottom, rgba(240,243,246,1), rgba(253,253,253,1));
}
.navbar {
	max-width: 640px;
	min-width: 300px;
	font-size: 0;
	position: relative;
	z-index: 90;
	height: 56px;
}
.navbar a {
	color: #8c8c8c;
	text-decoration: none;
	list-style-type: none;
}
.navbar > ul {
	width: 50%;
	vertical-align: top;
	display: inline-block;
	font-size: 18px;
	text-align: left;
	height: auto;
	max-height: 56px;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: max-height 0s linear;
	border-bottom: 1px solid #cfcfcf;
	box-shadow: 0 1px 0 #fff;
}
.navbar > ul > li {
	font-size: 18px;
	color: #999898;
	font-weight: bold;
	text-shadow: 0px 1px 0px #fff;
}
.navbar > ul > li > a {
	color: #999898;
}
.navbar > ul > li > a.active,
.navbar > ul > li > a:active {
	background-color: #ff0104;
	color: #fff;
	font-weight: normal;
	text-shadow: none;
}
.navbar > ul.navbar-period > li.current {
	border-left: 1px solid #cbcbcb;
}
.navbar input:checked + ul.navbar-period > li.current {
	border-left: 1px solid transparent;
}
.navbar input:checked + ul {
	max-height: 350px;
	transition: max-height 0.2s linear;
	background: #fafbfc;
	box-shadow: 0 2px 2px rgba(23,15,16,0.49);
}
.navbar input:checked + ul > li {
	border-bottom: 1px solid #cfcfcf;
}
.navbar input:checked + ul > li:last-child {
	border-bottom: 0;
}
.navbar input:checked + ul > li.current label:after {
	background-position: -15px -173px;
}
.navbar > ul.navbar-type {
	left: 0;
}
.navbar > ul.navbar-period {
	right: 0;
}
.navbar > ul > li {
	list-style-type: none;
	display: block;
	width: 100%;
	position: relative;
}
.navbar > ul > li.current label:after {
	content: "up-down";
	text-indent: -9999px;
	position: absolute;
	right: 15px;
	top: 23px;
	display: inline-block;
	width: 17px;
	height: 10px;
	background: url('/images/mobile/joe_sprite.png') no-repeat -15px -162px;
}
.navbar > ul > li > a,
.navbar > ul > li > label {
	display: block;
	width: 100%;
	height: 55px;
	line-height: 55px;
	padding: 0 15px;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.navbar > input {
	position: absolute;
	visibility: hidden;
	left: -9999px;
	top: 0;
}

/* Formularze */
.mobile-page-form {
	max-width: 480px;
	margin: 0 auto;
	text-align: left;
	padding: 20px 15px;
	color: #ccc;
}
.mobile-page-form h3 {
	font-size: 24px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 25px;
	color: #1b1c20;
}
header textarea,
header input[type="text"],
header input[type="password"],
header input[type="email"],
header input[type="search"] {
	display: block;
	width: 100%;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	height: 35px;
	background-color: #fff;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.09);
	-webkit-appearance: none;
	border:0;
	padding-left: 5px;
	border: 1px solid #bbbbbb;
	color: #1b1c20;
}
input:focus { outline: 0;}
header input[type="search"] {color: #1b1c20;}
::-webkit-input-placeholder {color: #1b1c20;}
header input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
:focus::-webkit-input-placeholder { color: transparent }

nav select {
	display: block;
	width: 200px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	height: 35px;
	box-shadow:inset 0px 3px 6px rgba(0,0,0,0.24);
	border: 1px solid #bbbbbb;
	padding-left: 5px;
}
header input[type="submit"] {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	border-radius: 2px;
	border-top: 1px solid #646568;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	border: 0;
	cursor: pointer;
}
header input[type="submit"]:hover {
	opacity: 0.9
}
.mobile-form {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dddddd;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
}
.mobile-form label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1b1c20;
}
.mobile-form input,
.mobile-form select,
.mobile-form textarea {margin-bottom: 15px;}
.mobile-form input[type="submit"] { margin-bottom:0 }
.facebook_login_button {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	background-color: #30487b;
	background-image: linear-gradient(bottom, rgba(47,71,123,1), rgba(69,97,156,1));
	background-image: -o-linear-gradient(bottom, rgba(47,71,123,1), rgba(69,97,156,1));
	background-image: -moz-linear-gradient(bottom, rgba(47,71,123,1), rgba(69,97,156,1));
	background-image: -ms-linear-gradient(bottom, rgba(47,71,123,1), rgba(69,97,156,1));
	background-image: -webkit-linear-gradient(bottom, rgba(47,71,123,1), rgba(69,97,156,1));
	border-top: 1px solid #5d78b2;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	text-shadow:0px -1px 0px rgba(47, 71, 122, 1);
	border: 0;
	margin-bottom: 20px;
}
.mobile-page-info a {
	font-size: 16px;
	color: #888888;
}
@media only screen and (max-width: 380px) {
	.navbar > ul > li > a,
	.navbar > ul > li > label {
		padding: 0 15px 0 10px;
	}
	.navbar > ul > li.current label:after {
		right: 6px;
	}
	.navbar > ul > li {
		font-size: 16px;
	}
	body > header {
		padding: 13px 40px 0 50px;
	}
	#searchForm {
		padding: 9px 5px 0 50px;
	}
	.article-voting .up_total_votes {
		padding: 0 5px;
		font-size: 18px;
	}
	.article-fbshare > a,
	.article-comments > a {
		font-size: 18px;
		padding-left: 40px;
	}
	.article-points > div:before {
		display: none;
	}
	.empty-pic-list {
		padding: 20px 10px;
	}
	.picture > header {
		font-size: 18px;
	}
}

@media only screen and (max-width: 480px) {
	#commentsContainer img {
		max-width: 100%;
		height: auto;
	}

	.commentAvatar {
		width: 30px;
		height: 20px;
	}

	.commentBoxHeader {
		margin: 3px 0 5px 40px;
		border-bottom: 0;
	}

	.commentDesc {
		margin: 0 0 5px 40px;
	}


	.comment-more-replies {
		margin: 5px 0 15px 45px;
	}

	.commentBox_reply {
		padding: 5px 5px 20px 45px;
	}

	.comnotok {
		margin-left: 42px;
	}
}

@media screen and (max-width: 518px) {
	.page-home #lewa_glowna {
		width: 100% !important;
		max-height: 800px;
		overflow: hidden;
		position: relative !important;
	}
	div#lewa_glowna {
		display: block !important;
	}
}