body {
	background: none;
}

.BoxTitle, td.BoxTitle {
	padding: 5px 0 2px 5px;
	margin-bottom: 5px;
	font-size: 18px;
	font-family: 'Roboto Slab', Arial, sans-serif;
	line-height: 140%;
	color: #555;
	font-weight: bold;
	text-decoration: none;
	text-shadow: none;
	background: none;
	border-width: 0;
	border-bottom: 4px solid #eee;

}

.BoxContent {
	background: none;
	padding: 0;
	margin-bottom: 15px;
}

.mtvHomeTitle a {
	color: #444;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0;
	display: block;
	font-family: 'Roboto Slab', Arial, sans-serif;
	background: none;
}

a.itemTitle { 
	font-family: 'Roboto Slab', Arial, helvetica;
	font-size: 18px;
}

.s, .s a {
	font-family: Arial;
	font-size: 11px;
	color: #999;
	text-decoration: none;
}

.morelink a {
	text-decoration: none;
	color: #666;
}

hr {
	height: 5px;
}

h2 {
	font-size: 20px;
	color: #333;
	line-height: 1.5em;
	font-family: 'Roboto Slab', Arial, sans-serif;
}

#title, .title, a.title, a.title:hover {
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 27px;
	text-decoration: none;
	line-height: 120%;
	margin: 0 0 5px;
	display: block;
	color: #c00;
}

.mtvHomeTitle a {
	font-family: 'Roboto Slab', Arial, sans-serif;
	font-size: 15px;
} 

.page-article .title {
	font-size: 40px !important;
}

/* zakładki bez cieni */

.idTabs a, .idTabs a:link {
	text-decoration: none;
	color: #555;
	background: none;
}

.idTabs li a.selected {
	line-height: 27px;
	padding: 0 10px 0;
	border-bottom: 4px solid #ccc;
	margin: 0 0 6px;
	background: none;
}

/* zakładki jasne */

.idTabs a:hover, .idTabs a.selected {
	text-decoration: none;
	border-bottom: 4px solid #ffdc00;
}

/* MENU GŁÓWNE */
/* pierwszy rządek */
#menuJM2, #menuJM2 li  {
	background: none;
	border: 0;
}

#menuJM2 ul.mainMenu {
    background: #ffdc00;
    overflow: hidden;
    border-bottom: 1px solid #E4C70E;
}

#menuJM2 a.men {
    background: none;
    color: #666;
}

#menuJM2 li.menuJMSelected a.men, .iehover a.men, .menuJMSelected a.men {
	background: none;
    color: #333;
    text-shadow: none;
}

.menuJMSelected li a.men, #menuJM2 li.iehover a.men {
	background: none;
    color: #333;
    text-shadow: none;
}

a.skoczek {
	display: none;
}

/* drugi rządek */

#menuJM2 ul ul {
	background: #fff !important;
}  

#menuJM2 ul ul li {
	background: none;
}
#menuJM2 ul ul li a {
	text-shadow: none;
}
#menuJM2 ul ul {
	background: none;
    margin-top: 1px;
}

/* font drugi rzadek */
#menuJM2 ul ul li a {
    font-size: 12px;
    color: #999;
    font-weight: normal;
    padding: 4px 9px 0 4px;
}

#menuJM2 ul ul li a:hover {
    color: #666;
}

/*polec menu*/
#polecMenu ul li a {
	background: white;
}
#polecMenu ul li a:hover {
    background: #ccc;
    color: red;
}

/* fieldset po nowemu */
fieldset {
	border: 0;
}

legend {
	font-family: 'Roboto Slab';
	font-size: 15px;
}

fieldset.podobne, fieldset.niepodobne {
	padding: 5px;
	margin-top: 20px;
}

.mtvNextMovieBox {
	padding: 5px;
}
