﻿@font-face {
	font-family: 'Intro';
	src: url('//s.exist.ru/font/intro1.eot');
	src: url('//s.exist.ru/font/intro1.eot?#iefix') format('embedded-opentype'),
		 url('//s.exist.ru/font/intro1.woff') format('woff'), 
		 url('//s.exist.ru/font/intro1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
	
	* { margin: 0; padding: 0; }
	body{overflow-y: scroll;}/*не убирать а то все вз*/
	html,
	body,
	.wrapper { height: 100%; font: 14px/20px Arial, Tahoma, Helvetica, sans-serif;background:#eee; position:relative;clear:both;}
	.wrapper::after {content:''; display:block; position:absolute;    width: 100%;    height: 45px;    background: #4E565A; top:0;}
	.clearfix {clear:both; width:100%;}
	h1, h2, h3 {font-weight:normal;}
	h1 {padding:0;font-size:18px;font-weight:normal; color:#363636;white-space:nowrap;line-height:25px;margin:0 0 10px 0; clear:left;}
	h2{font-size:15px; color:#c54141; font-weight:normal;padding: 15px 0 10px 0;}
	img {border:none;}
	html a { text-decoration: none; color: #256892;transition:background-color 0.3s ease;}
	html a:focus, img:focus {outline:none;}
	html a:hover { color: #C54141; }
	input, select, textarea {outline:none;font: 14px Arial, Tahoma, Helvetica, sans-serif;}
	select {border: 1px solid #c9d2db; height:26px;border-radius:2px; cursor:pointer;}
	select:hover, select:focus {border-color: #7f9db9;}	
	select:not(#ddlCountry) {background: #fff url('//s.exist.ru/img2/icons-new.png') calc(100% - 6px) -416px no-repeat;-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0 25px 0 5px;transition: border-color 0.3s ease;}
	select::-ms-expand {display: none;}
	select:hover:not(#ddlCountry), select:focus:not(#ddlCountry) {background-position: calc(100% - 6px) -372px;}
	input[type="text"], input[type="submit"], input[type="search"] {-webkit-appearance:none;}

	input[type="checkbox"], input[type="radio"]{display:none;}
	input[type="checkbox"] + label, input[type="radio"] + label {padding-left:20px; background:url(//s.exist.ru/img2/inputs.png) no-repeat; cursor:pointer;}
	input[type="radio"] + label {background-position:0 -60px;}
	input[type="checkbox"] + label:hover, input[type="radio"] + label:hover {color:#267bbb; background-position:0 -20px;}
	input[type="radio"] + label:hover {background-position:0 -80px;}
	input[type="checkbox"]:checked + label {background-position:0 -40px;}
	input[type="radio"]:checked + label {background-position:0 -100px;}
	input[type="text"]:focus, input[type="search"]:focus { border-color: #7f9db9;  }
	input[type="checkbox"]:disabled + label, input[type="radio"]:disabled + label {opacity:0.6; cursor:default;}
	input[type="radio"]:disabled:hover + label {background-position:0 -60px;}
	input[type="checkbox"]:disabled:hover + label {background-position:0 0;}


	/*input[type="checkbox"], input[type="radio"] {margin-right:3px;}*/

	/*input[type="search"]::-webkit-search-cancel-button {display:none;}*/
	input[type="text"]:focus, input[type="search"]:focus { border-color: #7f9db9;  }
	input.clicked-button{
	border:0;
	width:25px;
	height: 34px !important;
	background:transparent url('//s.exist.ru/img/loading.gif') no-repeat 0 0 !important;
	margin-left:10px !important;
	}
	input[type="submit"]:disabled {background:#e4e4e2; color:gray;cursor: default;}
	input[type="submit"]:disabled:hover {opacity:1; color:gray}
	::-webkit-input-placeholder {
		color: #9E9E9E; 
	}

	:-moz-placeholder { /* Firefox 18- */
		color: #9E9E9E;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: #9E9E9E;  
	}

	:-ms-input-placeholder {  
		color: #9E9E9E;  
	}
	.inp.ddlval {width:70px;}
	.invalid {background-color:#FEEFEF}
	table {border-collapse:collapse;}
	ul li {list-style:none;}
	.content-ul li {margin-left: 25px;list-style-type: disc;}
	.content { box-sizing: border-box; min-height: 100%; padding-bottom: 400px; background:#fff;position:relative; }        
	.maincenter {clear:both;min-height:100%;padding-bottom:40px;}
	.content-page {background:#fff; padding:0 20px 40px;margin:auto; /*min-width:920px;*/}
	.content-page>table {width:100%;}
	td.default-center {padding-right:20px;}
	.toold {
    position: absolute;
    font-size: 12px;
    margin-left: 10px;
    background-color: #f0f0f0;
    padding: 2px 10px;
    top: 54px;
    display: block;
    left: 77px;
        border-radius: 13px;
		
		}
	.toold f{font-weight: bold;
    font-size: 15px;}		
	.guestchooseoffice, .guestaddresses {color:#fff; line-height:45px;}
	.guestchooseoffice:hover, .guestaddresses:hover {color:#fff; opacity:0.8;}
	.guestchooseoffice {margin-left:15px; border-bottom:1px dotted #969696;}
	.guestclearoffice {display:inline-block;width:18px; height: 18px; background:url(//s.exist.ru/img2/icons-new.png)-14px -685px no-repeat;margin-left:10px;border:none !important;}

	/*Typeface Intro*/
	h1, h2, .mainmenu .mainmenuover ul li>a, .catdown>a, .mainheader .garage>a, .footer h6, .FloatPanel .mainpage-header, .login-box h3, .alerts .DDL .h i, .cat-block .title a {font-family: Intro, Arial, Tahoma, sans-serif; text-transform: uppercase;}
	/*Typeface Intro*/

	
	/*АНИМАЦИЯ*/

		/*transition opacity 0.5s*/

			.DropContainer .FloatPanel {transition: opacity 0.5s ease, margin .2s ease;}


		/*transition all 0.5s*/

			.carsel, .defaultMode .carsel, .carSelectionMode .carsel {transition: all 0.5s ease;}

		/*transition all 0.3s*/

			input[type="text"], input[type="search"] {transition: all 0.3s ease;}

		/*transition opacity 0.3s ease*/
			.descTip span, .search .history, a, input {transition:opacity 0.3s ease;}

		/*transition all 0.1s*/

			.shopaddr a, .DDL.loginname .h, mainmenu .catdropdown, .mainmenu .gardropdown, .mainmenu>ul li>a, .catdown a, .garage>a,
			.mainmenu .catdropdown i, .mainmenu .gardropdown i, .DDL .h i, .blTab ul li a, .newsbody .blTab ul li a, .cell2 div, .menu-root-node, .cSearchTip li {transition:all 0.1s ease;}

		/*transition transform 0.1s*/

			.DDL .h:after {transition:transform 0.1s ease;}

	

			@keyframes fadeIn {
				from { opacity: 0;}
				  to { opacity: 1;}
			}		

			@keyframes slideUp {
				from { left:-10px}
				  to { left:0;}
			}		

			@keyframes resize {
				from { max-height: 0px; }
				  to { max-height: 20px; }
			}

	/*АНИМАЦИЯ*/

	/*Header styles*/
.oldbrowser {
	background: #FDF73E;
	text-align: center;
	clear: both;
	height: 50px;
	width: 100%;
	left: 210px;
	top: 35px;
	font-size: 17px;
	padding: 10px 0;
}

.shop, .phone, .phonenum, .search, .search .searchinp, .mainmenu .mainmenuover ul li, .mainmenu .catdown, .garcounter, .logo, .search .find, .mainmenu .mainmenuover ul li > a, .catdown a, .mainheader .garage a, .loginname, .alerts, DDL.loginname, .register {
	float: left;
}

	.search .find, .mainmenu .mainmenuover ul li > a:hover, .mainmenu .mainmenuover ul li > a, .catdown > a, .catdown:hover > a, .mainheader .garage > a, .mainheader .garage:hover > a, .garcounter {
		color: #fff;
	}

.top {
	width: 100%;
	height: 45px;
	background: #4E565A;
	color: #fff;
	position: relative;
	z-index: 6;
}

.topcontent, .mainheader, .maincenter, .footerwrap, .bottom-panel, .content {
	margin: 0 auto; /*min-width: 960px;*/
	max-width: 1200px;
}

.mainheader {
	background: #fff;
	padding-top: 15px;
}

.topcontent {
	clear: both; /*min-width: 960px;*/
}

.shopaddr a {
	display: inline-block;
	max-width: 250px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 12px;
	border-bottom: 1px transparent dashed;
}

	.shopaddr a:hover {
		border-bottom: 1px dashed;
		opacity: 1 !important;
	}

.shopaddr a, .DDL.loginname .h {
	color: #fff;
}

	.DDL.loginname .h::after {
		display: none;
	}

	.DDL.loginname .h span {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		float: left;
	}

	.shopaddr a:hover, .DDL.loginname .h:hover, .DDLActive.loginname .h {
		color: #fff;
		opacity: 0.7;
	}

.shopicon, .shopmenumobile {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(//s.exist.ru/img2/icons-new.png) -12px -57px no-repeat;
	margin-right: 5px;
}

.shopmenumobile {
	display: none;
	height: 45px;
	width: 45px;
	background: #52585b url(//s.exist.ru/img2/icons-new.png) 0 -47px no-repeat;
}

.tophelp {
	float: left;
	color: #4E565A;
	background: #858a8d;
	padding: 7px 11px;
	border-radius: 25px;
	font-size: 23px;
	margin-top: 5px;
	margin-left: 10px;
	display: none;
}

	.tophelp.wide {
		position: absolute;
		z-index: 2;
		display: block;
		right: 10px;
	}

	.tophelp:hover {
		color: #4E565A;
		background: #9ca0a2;
	}

.switchoffice {
	display: inline-block;
	background: #858a8d url(//s.exist.ru/img2/icons-new.png)-6px -996px no-repeat;
	border-radius: 25px;
	font-size: 23px;
	margin-left: 10px;
	padding: 17px;
	margin-bottom: -7px;
	margin-top: 0 !important;
	opacity: 0;
}

.shopaddr:hover .switchoffice {
	opacity: 1;
}

.phone {
	margin-left: 15px;
}

.phonenum {
	color: #fff;
	height: 45px;
	line-height: 45px;
	padding: 0 0 0 25px;
	font-size: 15px;
	background: url(//s.exist.ru/img2/icons-new.png) -10px -450px no-repeat; /*max-width: 150px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

	.phonenum div {
		max-width: 0;
		float: right;
		transition: all 0.4s ease;
		margin-left: 5px;
	}

	.phonenum:hover div {
		max-width: 700px;
	}

	.phonenum > a {
		color: #fff;
	}

.workdays {
	display: inline-block;
	width: 30px;
	height: 45px;
	background: #52585b url(//s.exist.ru/img2/icons-new.png) -8px -90px no-repeat;
}

.login {
	float: right;
}

.DDL.loginname {
	padding: 2px 0;
	margin-top: 10px;
}

	.DDL.loginname.guest {
		background: #83b880;
		padding: 10px;
		margin-top: 0;
	}

	.DDL.loginname b {
		float: left;
		margin-right: 8px;
		width: 15px;
		height: 18px;
		background: url(//s.exist.ru/img2/icons-new.png)-15px -956px no-repeat;
	}

.register a {
	margin: 10px 20px 0 0;
	display: inline-block;
	padding: 4px 10px;
	color: #fff;
}

	.register a:hover {
		color: #fff;
		opacity: 0.8;
	}

.logo {
	width: 145px;
	height: 74px;
	margin: 8px 60px 7px 20px;
	position: relative;
}
	/*.logo img{width: 145px;}*/
	.logo .beta {
		position: absolute;
		bottom: 4px;
		right: 0;
		font-weight: bold;
	}

.search.mobile {
	display: none;
}

.mainheader .search {
	margin-top: 23px;
	position: relative;
	width: calc(100% - 520px);
}

	.mainheader .search .searchinp {
		height: 40px;
		border: 1px solid transparent;
		border-radius: 25px;
		min-width: calc(100% - 75px);
		font-size: 15px;
		padding: 0 55px 0 20px;
		background: #f5f5f5;
		box-shadow: 0 0 0px 5px #c9d5d5;
		transition: min-width 0.3s ease, border-color 0.3s ease;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

		.mainheader .search .searchinp:focus {
			background: #fff;
			box-shadow: 0 0 0px 5px #b8cdcd;
		}

.mainheader div.search input[type="submit"] {
	text-indent: -99999px;
	width: 40px !important;
	margin-left: -55px;
	background: transparent url(//s.exist.ru/img2/icons-new.png) -5px -1128px no-repeat;
	float: left;
}

.mainheader .search .cSearchTip {
	width: calc(100% - 12px);
	left: 0;
	top: 40px;
}

.mainheader .search .find {
	height: 40px;
	padding: 0 15px;
	background: #73a2b9;
	border-radius: 2px;
	line-height: 40px;
}

.mainheader .search .history {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(//s.exist.ru/img2/icons-new.png) -8px -142px no-repeat;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	opacity: 0.7;
}

	.mainheader .search .history:hover {
		opacity: 1;
	}

.mainheader .search-button-mobile {
	display: none;
}

.shopdata {
	float: left;
}

.shopfunctions {
	float: right;
	margin-top: 21px;
}

	.shopfunctions a {
		float: right;
		margin-bottom: 10px;
		display: inline-block;
		height: 25px;
		padding-left: 30px;
		line-height: 30px;
		margin-right: 20px;
		color: #6f6f6f;
		position: relative;
		transition: background 0.3s ease;
	}

		.shopfunctions a:hover {
			color: #6f6f6f;
		}

	.shopfunctions .cart, .shopfunctions .orders {
		display: inline-block;
		height: 42px;
		border-radius: 2px;
		line-height: 42px;
		width: 90px;
		text-align: center;
		box-shadow: 0 0 0 3px #c9d5d5;
	}

	.shopfunctions .cart {
		background: #EBEEEF url(//s.exist.ru/img2/icons-new.png) 5px -227px no-repeat;
		border-color: #CFD6D8;
	}

		.shopfunctions .cart.cartfull {
			background: #FBEAB7 url(//s.exist.ru/img2/icons-new.png) 5px -227px no-repeat;
			border-color: #f0ca5a;
			box-shadow: 0 0 0 3px #ecd07c;
		}

		.shopfunctions .cart:hover {
			background: #f0ca5a url(//s.exist.ru/img2/icons-new.png) 5px -227px no-repeat;
			color: #fff;
			box-shadow: 0 0 0 3px #e9ba2e;
		}

	.shopfunctions .orders {
		background: #EBEEEF url(//s.exist.ru/img2/icons-new.png) 5px -271px no-repeat;
		border-color: #CFD6D8;
	}

		.shopfunctions .orders:hover {
			opacity: 0.8;
		}

#fulltel {
	position: absolute;
	background: #52585b;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	cursor: pointer;
}

	#fulltel::after {
		content: '';
		position: absolute;
		right: 5px;
		top: 5px;
		width: 7px;
		height: 7px;
		background: url(//s.exist.ru/img2/icons-new.png)0 0 no-repeat;
	}

	#fulltel .drop-car {
		display: none;
	}

.basketcount {
	position: absolute;
	right: -9px;
	top: -9px;
	display: inline-block;
	background: #e0595d;
	color: #fff;
	font-size: 11px;
	padding: 0 6px;
	border-radius: 15px;
	line-height: 18px;
	font-weight: bold;
}

.mainmenu {
	clear: both;
	height: 45px;
	background: #256892;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

	.mainmenu .catdown {
		padding-left: 20px;
	}

	.mainmenu .garage {
		float: right;
		width: 130px;
		background: #cc5e5e;
		position: absolute;
		right: 0;
	}

.garcounter {
	line-height: 45px;
	opacity: 0.7;
}

.mainmenu .catdropdown, .mainmenu .h.gardropdown {
	width: 30px;
	background: rgba(255,255,255,0.3);
	padding: 0;
	height: 45px;
	float: right;
	opacity: 0.7;
	cursor: pointer;
	border: none;
	border-radius: 0;
	margin: 0;
}

	.mainmenu .catdropdown i, .mainmenu .h.gardropdown::after {
		display: inline-block;
		width: 16px;
		height: 9px;
		background: url(//s.exist.ru/img2/icons-new.png) -15px -20px no-repeat;
		margin-left: 6px;
		margin-top: 19px;
	}

	.mainmenu .h.gardropdown::after {
		margin: 0;
		top: 19px;
		left: -6px;
	}

	.mainmenu .catdropdown i, .mainmenu .h.gardropdown:hover::after {
		background: url(//s.exist.ru/img2/icons-new.png) -15px -20px no-repeat;
	}

.mainmenu #garageFloat .b {
	right: 0;
	top: 45px;
	overflow: hidden;
}

.mainmenu .h.gardropdown i {
	display: none;
}

.mainmenu .catdropdown:hover, .mainmenu .gardropdown:hover, .active .catdropdown, .active .gardropdown {
	opacity: 1;
}

	.active .catdropdown i, .active .gardropdown i {
		transform: rotate(180deg);
	}

.mainmenu .mainmenuover ul li > a, .catdown a, .mainheader .garage > a {
	display: block;
	padding: 0 15px;
	font-size: 14px;
	line-height: 45px;
}

.garage > a {
	width: 70px;
}

.mainmenu .mainmenuover ul li > a {
	margin: 0 10px;
}

	.mainmenu .mainmenuover ul li > a:hover, .catdown > a:hover, .mainheader .garage > a:hover {
		opacity: 0.7;
	}

.cat-block-menu {
	float: left;
	width: 100%;
}

	.cat-block-menu:hover {
		background-color: #E3EAEC;
	}

	.cat-block-menu a {
		font-size: 17px; /*  background: url(//s.exist.ru/img2/cat-icons.png) no-repeat;*/
		text-decoration: none;
		display: block;
		float: left;
		/*padding-left: 40px;*/
		height: 30px;
		line-height: 35px;
	}
	
	/*Header styles*/

	/*Footer styles*/
div.footer {
	height: 380px;
	margin-top: -400px;
	background: #d9e5e8;
	padding-top: 20px;
	font-size: 13px;
	position: relative;
	z-index: 2;
}

div.footerwrap {
	height: 275px;
}

div.footer .col {
	width: 20%;
	float: left;
}

	div.footer .col.right {
		float: right;
		width: 15%;
	}

div.footer .footer-error {
	float: right;
	background-color: #9cb6c3;
	padding: 5px 20px 5px 20px;
	color: #fff;
	margin: -60px 0 0 0;
	line-height: 20px;
}

div.footer .backtoold {
	float: right;
	margin-top: -64px;
	color: #c54141;
	margin-right: 210px;
}

div.footer .rightsInfo {
	float: left;
	margin-top: -64px;
}

div.footer h6 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
	color: #505050;
}

div.footer .col a {
	font-size: 13px;
	color: #717584;
}

div.footer ul {
	margin-bottom: 10px;
}

div.footer .left {
	float: left;
	width: 100%;
}

div.footer .cards .russia {
	background: url(//s.exist.ru/img/logo/payment3.png) no-repeat;
	width: 300px;
	height: 35px;
	float: left;
}

.footer .bottom-panel {
	border-top: 1px solid #c5d1d7;
	padding-top: 20px;
}

div.footer .bottom-panel .temot {
	background: url(//s.exist.ru/img2/counters.png) -303px top no-repeat;
	height: 50px;
	width: 85px;
	display: inline-block;
	float: right;
	margin-left: 20px;
}		

.footer .bottom-panel .nepsmall {
	background:url(//s.exist.ru/img2/nep-logo-small.png) no-repeat;	
	height: 54px;
	width: 125px;
	display:inline-block;
	float:right;
}
	.bottom-panel {clear:both;line-height: 37px;}
	.bottom-panel>div {margin-right:20px;    margin-top: 10px;}
	.bottom-panel .cards {float:left;}
	.bottom-panel .copyright {float:left;color:gray;}
	.footer .bottom-panel .partners {float:right; margin:0;}
	.counters {display:none;}
	.footer .counter {display:block;}
	div.footer .cards .belarus {
    background: url(//s.exist.ru/img/logo/paymentbel.png) no-repeat;
    width: 230px;
    height: 60px;
}
	/*Footer styles*/

/*Стили выпадающих меню гаража и каталогов*/
	.DropContainer
	{
		position: relative;
		height:45px;
		width: 30px;
		float: right;
	}
	.DropContainer .FloatPanel
	{
		visibility:hidden;
		opacity:0;
		position: relative;
		z-index: 2;
		box-shadow: 0px 0px 9px 0px rgba(0,0,0,.2);
		background: White;
		height:0;
		width:0;
		position: absolute;
		border: 1px solid #e4e4e2;
		margin-top: 2px;
		max-height: 447px;
		overflow-y: auto;
		overflow-x: noscroll;
		top: 45px;
	}
	
	.DropContainer.active {opacity:1; height:auto;}
	.DropContainer.active .FloatPanel
	{
		display: block;
		visibility:visible;
		opacity:1;
		padding: 20px;
		height:auto;
		width: auto;
		z-index:50;
	}

	.DropContainer .cat-main ul li {clear:both;}
	#menutop {float:left; width:100%;}
	#menutop a {display:block;line-height:40px;width:calc(100% - 30px);}
	#menutop a:hover {background:#e9eff1}
	.carsel {min-height:10px;}
	.carSelectionMode .carsel {max-height:1000px;margin-bottom:55px;}

	.cat-main{float: left;width:50%;line-height: 21px;}
	.carname {float:left; margin-left:5px;}
	.carname .carname {margin:0;}
	.carname div {padding:0;}
	#mainContextCar #phActionsDiv .secBtn {display:none;}
	#phActionsDiv {clear:both; overflow:hidden;}
	#phActionsDiv ul li {float:left;margin-bottom:5px; clear:both;}
	#garageFloat.DDLActive .b {max-height:500px !important;padding:20px;}
/*Стили выпадающих меню гаража и каталогов*/

/*Список машин*/

.DDLCars .addnew .listimg {
	display: none;
}

.DDLCars .loadmore {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background: #f5f5f5;
	text-transform: uppercase;
	font-size: 12px;
	color: gray;
	margin-bottom: 20px;
	cursor: pointer;
}

	.DDLCars .loadmore:hover {
		background: #e4e4e2;
	}


.addnewcar {
	text-align: center;
	height: 55px;
	font-size: 18px;
	font-weight: normal;
	color: #6e9b41;
	border-radius: 2px;
	min-height: 0;
	padding: 0;
	float: none;
	margin: 0 auto;
	background-color: #E4F1DF;
}

.carsel .addnew {
	text-align: center;	
	background-color: #69c6a0;
	position: absolute;
	bottom: 20px;
	width: 100%;
	width:calc(100% - 40px);
	cursor:pointer;
}

.carsel .addnew:hover {
	background:#63c49d;
}

.addnewcar {
	line-height: 55px;
	cursor: pointer;
	margin-top: 15px;
	font-size: 15px;
	display: block;
	float: none !important;
}

	.addnewcar:hover {
		box-shadow: none;
		background: #97c06e;
		color: #fff;
	}

.carsel .addnew:hover .listcar b {
	color: #fff;
}

.carsel .addnew .listcar {
	float: none;
	padding-top: 0 !important;
	max-width: 100%;
}

	.carsel .addnew .listcar b {
		color:#fff;
		line-height: 45px;
		text-transform: uppercase;
		font-weight:bold;
		font-size: 12px;
	}

.carsel .addnew .listimg {
	display:none;
}
.DDLCars > div::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #27556F;
	opacity: 0;
}

.DDLCars > div:hover::after {
	opacity: 0.1;
}

.DDLCars > div.DDLSelected {
	box-shadow: 0 0 0px 3px #fae3bb inset;
}

	.DDLCars > div.DDLSelected:hover::after, .carsel .DDLCars .addnew:hover::after {
		display: none;
	}

.searchPanel {
	float: left;
	margin-top: -5px;
}

.garage-switch .searchPanel {
	margin-left: 10px;
}
	.searchPanel a {
		text-indent: -99999px;
		width: 40px !important;
		margin-left: -40px;
		background: transparent url(//s.exist.ru/img2/icons-new.png) -5px -1400px no-repeat;
		float: left !important;
		height:35px;
	}

	.searchPanel input {
		height: 29px;
		border: 1px solid #c3c3c3;
		border-radius: 25px;
		width: 200px;
		padding: 0 40px 0 20px;
		background: #F9F8F8;
		transition: all 0.3s ease;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-size:13px;
		float:left;
		margin-top:3px;
	}
	.searchPanel input:focus {background:#fff; border-color:#c3c3c3;}

/*Список машин*/

/* Стили выпадающего списка */
.DDL .h	{
	border: 1px solid #c9d2db;
    background: #fff ;
    cursor: pointer;
    margin: 0;
    position: relative;
    z-index: 1;
    width: auto;
    overflow: hidden;
    border-radius: 2px;
    padding: 2px 5px;
	position:relative;	
	height:21px;
}

.DDL .h>span {float:left;}

.DDL .h::after {content:''; position:relative; float:right; display:inline-block; width:12px; height:8px;background:url('//s.exist.ru/img2/icons-new.png') no-repeat -33px -425px;right: 0px;top: 8px; margin-left: 5px}

.DDL .h:hover::after {
    background-position: -33px -381px;
}

.DDLActive .h::after { background-position: -33px -381px; transform:rotate(180deg); top:7px;}

.DDL .h i {display: inline-block; width: 12px; height: 7px;background: url(//s.exist.ru/img2/icons-new.png) -33px -335px no-repeat;float:right;margin-top:6px;margin-left:3px;}
.DDL .h:hover i {opacity:1;}

.DDL .h:hover {
	
}

	
.DDL .b	{
	opacity:0;
	background:White;
	padding:0;
	position:absolute;
	width:auto;
	z-index:0;
	margin:0;
	max-height:0 !important;
	overflow:hidden;
	margin-top:20px;		
	z-index:7!important;
	transition: opacity 0.3s ease, margin .1s ease, max-height 0s ease, visibility 0s ease, padding 0s ease;
	transition-delay:0s, 0s, 0.3s, 0.3s, 0.3s;

	}
.DDLActive .h{
	border-color: #7F9DB9;
	z-index:8!important;	
	}


.DDLActive .h i {
	transform: rotate(180deg);
}
	
.DDLActive .b{
	opacity:1;
	height:auto;
	max-height:400px !important;
	margin-top:2px;
	padding:10px;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,.2);
	margin:0;
	overflow-y:auto;
	overflow-x: noscroll;
	transition: opacity 0.4s ease, margin .2s ease, max-height 0s ease;
	transition-delay:0s, 0s, 0s;
	min-width:100px;
	}

.DDL .b ul li {margin-bottom:5px !important;}

/* Стили выпадающего списка */ 

/*Стили инпутов*/
.inp {
	border:1px solid #c9d2db; 
	height:25px; 
	line-height:20px; 
	width:100px;
	margin:0;
	outline:none;
	transition:border-color 0.2s ease;
	padding:0 0 0 4px;
	border-radius:2px;
	}

select.inp {
	height:27px;
}

.inp:focus {
	border-color:#7f9db9;
}


/*Стили инпутов*/

/*Стили логина*/
.DDL.loginname .h {border:none; background:transparent; }
.login .DDLActive .b {padding:20px;    max-height: 541px !important;}
.login-box {padding-top:10px;}
.login .login-box {padding:0;}
.login-box h3 {
	font-size:15px; color:#363636; margin-bottom:15px;
}
.login-element {
	margin-bottom:10px;
	overflow:hidden;
	position:relative;
}
.login-element .inp {
	width:98%;
	width:calc(100% - 6px);
	float:left;
	height: 35px;
}

.login-element .inp[type="password"] {
	padding-right:120px;
	width:54%;
	width: calc(100% - 126px);
}
.loginname .login-button {
	float:right;
}

.login-element .login-button {
	height:40px;
    padding: 0 20px;
    background: #73a2b9;
    border-radius: 2px;
    border: none;
    float: right;
    width: auto !important;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    clear: left;
	font-size:15px;
}

.login-element .login-button:hover {
	background:#7eabc1;
}

.errorlabel {
	display:none;
	color:#c54141;
}

.login-box {margin:0 20px;}

.login-box .mem {float:left; width: auto;margin-top:10px;}

.social {
	overflow: hidden;
	margin: 20px 0 10px 0;
	border-top: 2px solid #e4e4e2;
	padding-top: 10px;
	clear:both;
}

.login-box-url {margin:20px 20px 0 20px;}
.login-box-url a{float:left; margin-right:10px;}
.login-box-url a:first-of-type {margin-top:4px;}

.login-box-url br {display:none;}

.welcomeBack {	
	color:#363636;
	text-align:center;
	width:270px;
}

.welcomeBack p {
	font-size:17px;
	margin-bottom:5px;
}

.welcomeBack span {
	display:block;
	color:gray;
	margin-bottom:15px;	
}

.welcomeBack a {
	clear:both;
	display:inline-block;
	background:#83b880;
	color:#fff;
	padding: 7px 20px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}

.welcomeBack a:hover {
	background:#72ad6f;
	color:#fff;
}

.social a.icon {
	float:left;
	margin-right:11px;
	text-indent:-9999px;
	width:28px;
	height:28px;
	background:url('//s.exist.ru/img2/social-new.png') no-repeat;
	opacity:0.7;
	filter: alpha(opacity = 70);
	}
	
.social a.icon:hover {
	opacity:1;
	filter: alpha(opacity = 100);	
	}
	
.social #mr {
	background-position:-142px top;
	}
	
.social #fb {
	background-position:-71px top;
	}
	
.social #ya {
	background-position:-37px top;
	}
	
.social #vk {
	background-position:-107px top;
	}
	
.social #go{
	background-position:0 0;
	}
	
.social #lv {
	background-position:-178px top;
	}

.social a.icon:last-of-type {
	margin:0;
}
.DDL.loginname {position:static;}
.login .b {
	right:0;
	top:45px;
}
.login .DDLActive  .b{
	
	overflow:visible;
}

.login .DDLActive  .b::after {
	    content: '';
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -16px;
    right: 15px;
}

.login-box.auth {width:230px; margin:0;}

.login-box hr {		
		border:none;
		border-bottom:2px solid #e4e4e2;
		margin:5px 0 5px 10px;
	}
	
	.mysettings {position:relative;margin-top: 3px;}
	.mysettings a {text-transform:uppercase; color:gray; font-size:11px;margin-left:20px;}
	.usravatar a {float:left;width:40px;height:40px;border:2px solid #e4e4e2; border-radius:25px;margin:-2px 10px 0px 0px; overflow:hidden;}
	.usravatar a img {width:100%; height:100%;}
	.lkcommon {font-size:17px;margin-bottom:5px;position:relative;padding-bottom: 10px;border-bottom: 2px solid #e4e4e2;}
	.lkcommon #logout {display:block;width:28px; height:28px; border-radius:28px; background:#eee;position: absolute;right: 0;top: 20px;}
	.lkcommon #logout:hover {background:#e4e4e4;}
	.lkcommon #logout i {position:relative;display:block;width:16px; height:16px; background:url(//s.exist.ru/img2/lk-icons-small.png)0 -16px no-repeat;top:6px; left:6px;}
	.login-wrapp ul {clear:both;}
	.login-wrapp ul li {position:relative;}
	.login-wrapp ul li a {display:inline-block;width:85%; padding: 7px 0px 7px 15%;}
	.login-wrapp ul li a:hover {background:#e9eff1;}
	.login-wrapp ul li i, .mysettings i {position:absolute; display:inline-block; width:16px; height:16px; background:url(//s.exist.ru/img2/lk-icons-small.png) no-repeat;left: 5px;top:8px;}
	.login-wrapp .mysettings i {background-position:0 0;left: 55px; top: 2px;}
	.login-wrapp .mybalance i{background-position:0 -32px;}
	.login-wrapp .mynote i{background-position:0 -48px;}
	.login-wrapp .mymgr i{background-position:0 -64px;}
	.login-wrapp .myprofile i{background-position:0 -80px;}
	.login-wrapp .myfriends i{background-position:0 -96px;}
	.login-wrapp .myaddress i{background-position:0 -112px;}
	.login-wrapp .myfavorite i{background-position:0 -128px;}
	.login-wrapp .myrequests i{background-position:0 -144px;}
	.login-wrapp .req-mypoint i{background-position:0 -160px;}
	.login-wrapp .logout i{background-position:0 -16px;}
	.login-wrapp .orders i{background-position:0 -192px;}
	.login-wrapp .garage i{background-position:0 -208px;}

/*Стили логина на странице*/

.login-element {
	width:100%;
	overflow:hidden;
	padding:0 0 2px 0;
	position:relative;
	}

.remindtop {position: absolute;
    right: 7px;
    top: 8px;
    font-size: 12px;
	color:gray;
}

.remindtop:hover {opacity:0.8; color:gray;}
	
.errorlabel {
	display:none;
	background: #FEEFEF;
	border: 1px solid #900;
	color: #900;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 0 5px;
	width: 100px;
	margin-bottom:5px;
	font-size:11px;
	}

.mem input, .login-element input {
	float:left
	}
	
.mem {
	width:100%;
	overflow:hidden;
	}
	
.mem input {
	display:none;
	}
	
.mem label {
	float:left;
	line-height:16px;
	padding:0 0 0 5px;
	color:#047; 
	cursor:pointer
	}
	
/*.login-box p {
	padding-left:14px
	}*/
	
.login-box a {
	text-decoration:none
	}
	
.login-box img {
	padding-right:7px;
	top:3px; 
	margin-bottom:-3px;
	}
	
.login-box p a {
	text-decoration:none
	}
	
.login-box p a:hover {
	text-decoration:underline
	}
	
.login-form-text{
	color:#A0A0A0;
	position:absolute;
	padding-left:6px;
	padding-top:3px
	}

	
.login-box-url{
	text-align:right;
	padding-top:1px;	
	}

	
.oauthval {
	margin:10px auto;
	clear:both; 
	width:350px
	}
	

.social32 {
	margin-top:10px;
	overflow:hidden;
	}

	


/*Стили логина*/

/*Стили селектов выбора машины*/

.CarDrpDn {
	padding: 0 10px !important;
	}
	
.CarDrpDn img {
	position:relative;
	padding-left:3px;
	top:0px;
	}
	
.CarDrpDn select {
	width:115px;
	clear:both;
	display:block;
	float:left;
	font-size:13px;
	height:25px;
	}
.CarDrpDn .active { background:url(//s.exist.ru/img/pointer2.png) no-repeat right 15px center}

.CarDrpDn .refresh { background:url(//s.exist.ru/img/loading.gif) no-repeat right 15px center}
	
.CarDrpDn .aspNetDisabled {
	font:normal 11px Arial, sans-serif;
	height:20px;
	border-radius:0;
	-moz-border-radius:0;
	}
.red-dot {
    width: 138px;
    height: 22px;
    margin-bottom: 7px;
}

input[type="submit"].aspNetDisabled, select[disabled] {
    color: #a1a1a1;
    display: inline;
    background-color: #F5F5F5;
    white-space: nowrap;
    text-decoration: none;
    cursor: default;
}
dd#phCarType select {
	font-weight:normal;
	margin:0;
}

/*Стили селектов выбора машины*/

/* Стили каталога, выпадающего по кнопке */


	
	
		
/* Стили каталога, выпадающего по кнопке */

.add i {
  display: inline-block;
  width: 22px;
  height: 22px;
  background:url(//s.exist.ru/img2/add2.png) no-repeat;
  margin-right: 5px;
  margin-bottom: -5px;
}

.fieldset {
	background: #f3f2e9;
	border: 1px solid transparent;
	color: #363636;
	padding: 5px 15px 15px;
	margin: 0 0 10px;
	overflow:hidden;
	border: 1px solid #e5e3d2;
	}
	
.fieldset h1 {
	font-size: 15px;
	color: #900;
	padding: 5px 0;
	margin: 0;
	}
	
.fieldset h2 {
	font-size: 13px;	
	padding: 5px 0;
	margin: 0;
	}
	
.fieldset li {
	list-style:none;
	}
	
/*alerts*/

.alerts { display: inline-block; width: 30px; height: 45px; background:#52585b url(//s.exist.ru/img2/icons-new.png) -8px -179px no-repeat;margin-right:10px;}
.emptyalerts {display: none}
.alerts .DDL {position:static;}
	.alerts .DDL .h i {background:#e67a7d; color:#fff;width:auto; height:auto; padding:0px 5px; opacity:1; font-style:normal; font-size:11px; border-radius:15px;line-height:16px;right:-7px; top:3px; position:relative;}
	.alerts .DDL .h {border:none; background:transparent;overflow:visible;height:45px; padding:0;}
	.alerts .DDL .h::after {display:none;}
.alerts .DDLActive .b {
	max-height: 365px;
	min-height: 41px;
	width: 353px;
	top: 43px;
	right: 0px;
	overflow: auto;
	background-color: #fff;
	border:none;
	padding:10px;
}
.alerts .DDL .h span.empty i {display:none}
.alerts .DDL .loading {background: #f5f5f5 url('//s.exist.ru/img/loading.gif') center center no-repeat;}
.alerts .DDLActive .h::after {
	display:none;
	}
.alerts .DDL .b div {max-height:204px;overflow-y: auto;}


.alerts .DDL a.item {
    overflow:hidden;
    height:40px;
    display:block;
	color:#363636;    
    padding:5px 5px 5px 30px;
    font-weight:normal;
    background-color:#f6f4e8;
    border-bottom:1px solid #e4e4e2;
    position:relative;	
    text-overflow: ellipsis;
    white-space: nowrap;
    }

.alerts .DDL a.item:last-of-type {
	border:none;
}
                       
.alerts .DDL a.item:hover {
	background:#f5f5f5;
	}

.alerts .DDL a.item:visited {
	background:#fff;
	}


.alerts .DDL a.item:visited span{
	color:gray
	}
	
.alerts .DDL a.item:visited:hover {
	background:#f5f5f5;
}

.alerts .DDL a.item i {
	position:absolute;
	left:5px;
	top:7px;
	width: 16px;
	height:16px;
	background:url("//s.exist.ru/img2/notifications.png") no-repeat;
	}
	
.alerts .DDL a.item b {
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#f9a254;
	right:10px;
	top:50%;
	}
	

	
.alerts .DDL a.item.Welcome i {
	background-position:0 -48px;
	}
.alerts .DDL a.item.ApproveQuery i,
.alerts .DDL a.item.ApproveCar i {
	background-position:0 0;
	}
.alerts .DDL a.item.AnswerManager i {
	background-position:0 -16px;
	}
.alerts .DDL a.item.PrivateMessage i {
	background-position:0 -32px;
	}
.alerts .DDL a.item.DiscussionCar i {
	background-position:0 -64px;
	}
.alerts .DDL a span {color:rgb(171, 26, 26);display:block; font-size:11px;font-weight: bold;}
.alerts .loading {
	width:16px;
	height: 40px;
	background: #fff url(//s.exist.ru/img/loading.gif) no-repeat scroll 120px 10px;
	}
.alerts .DDLActive .h i {
	transform: rotate(0deg)
}

.center-content-rightbar{
	float:right;
	white-space:nowrap
	}
	
.center-content-rightbar img{
	vertical-align:top
	}

/* <АЛЬТЕРНАТИВНЫЕ ТАБЫ (синие со стрелками)> */
.hidden{
	display:none
	}
	
.blTab ul {
	overflow:hidden;
	height:auto;		
	}
	
.blTab  ul li {
	float:left;
	height:auto;
	padding:0;
	}
	
	
.blTab {
	font-size:14px;
	border:none;
	margin-bottom:10px;
	height:auto;
	margin:0;
	}

.blTab ul li a {
	
	display:block;
	white-space:nowrap; 
	margin:0 0 10px;
	position:relative;
	border-bottom:3px solid #e4e4e2;
	margin-right:30px;
	font-size:16px;
	}		

.blTab ul li a:hover {
	border-color:#EFBABC;
	color:#0d5891;
	opacity:1;	
	}		

.blTab ul li .selected-button, .blTab ul li .selected-button:hover {	
	color:#363636;		
	border-color:#e67a7d
	
	}

	
/* </АЛЬТЕРНАТИВНЫЕ ТАБЫ (синие со стрелками)> */


/*Пейджинг*/

	.pager {float:left;}
	.pager:hover {background:transparent !important;}
	tr.pager {margin-top:10px;}
	.pager a, .pager span {font-size:16px; margin:0 7px;padding: 5px;}
	.pager span {color:gray;background: rgba(0,0,0,0.06);}
	.pager a {cursor:pointer;}
	p.shw-rw {float:left; color:gray;line-height:21px;}
	.pager table, .pager tr, .pager td, .pager table:hover, .pager tr:hover, .pager td:hover {border:none !important; background:transparent !important;padding:0 !important;}
	
/*Пейджинг*/

/*descTip*/

a.question {
	float:left; 
	background:url(//s.exist.ru/img/q2.gif) no-repeat; 
	width:8px; 
	height:9px; 
	text-indent:-9999px; 
	overflow:hidden; 
	margin: 3px 5px 0 2px 
	}
	
.descTip {
	
	cursor:pointer;
	display:inline-block;
	font-weight:normal;	
	position:relative;
	width: 16px;
	  height: 16px;
	  background: url(//s.exist.ru/img2/tip.png) no-repeat;
	  opacity: 0.66;
	  margin: 0 0 -3px 5px;
	}

.descTip:hover {
  opacity: 1;
}
	
.descTip span {
	background: #f9f9f9;
	border: 1px solid #d2d2d2;
	box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.4);
	color:#4D6280;
	cursor:auto;
	visibility:hidden;
	font-size:12px;
	line-height:normal;
	font-weight:normal;
	height:auto;
	margin-top:15px;
	max-width:300px;
	padding:10px !important;
	position:absolute;
	text-align:left;
	z-index:9;
	min-width: 190px;
	left:0;
	opacity:0;
	text-transform:none;
	}

.descTip span img {border:1px solid #e4e4e2;}
	
.descTip:hover span	{
	display:block;
	opacity:1;
	visibility:visible;
	}
a.descTip:hover	{
	text-decoration:none !important;
	}	

/*descTip*/

/*СайтМэп*/

.center-content-sitemap {float:left; margin-bottom:20px;}
.center-content-sitemap span {margin-right:3px;}
.menu-curent-node {color:gray;}
.menu-root-node {    background: url(//s.exist.ru/img/icon/home9.png) no-repeat;
    width: 0px;
    overflow: hidden;
    float: left;
    padding-left: 15px;
    height: 17px;
	margin-right:10px;
	opacity:0.7;
}
.menu-root-node:hover {opacity:1;}


/*rightbar*/

.center-content-rightbar {float:right;}

/*dotted*/

.dotted-link{
	border-bottom:1px dotted;	
	text-decoration:none;
	} 
	
.dotted-link:hover ,.dotted-link2:hover ,.dotted-link3:hover {
	opacity:0.7;
	}

/*input submit*/

input[type="submit"], input[type="button"], .trdBtn, .baloon-select {
	display:inline-block;
	height: 40px;
    padding: 0 15px;
    background: #73a2b9;
    border-radius: 2px;
    line-height: 40px;
	border:none;
	color:#fff;
	cursor:pointer;
}

.tbl .trh input[type="submit"]{ height:27px; line-height:27px;}

.baloon-select {
	height:32px;
	line-height:32px;
	margin-top:6px;
}

input[type="submit"]:hover, input[type="submit"]:hover,  .trdBtn:hover, .baloon-select:hover {
	opacity:0.9;
	color:#fff;
}

.secBtn {
	display:inline-block;
	background: #EBEEEF;
    padding: 6px 14px;
    border-radius: 2px;
    color: #636262; 
	cursor:pointer;	
}

.secBtn:hover {
	opacity:0.8;
	color: #636262;
}

.secBtn.greenBtn {
	background: #83B880;
	color:#fff;
	padding: 10px 14px;
}
.secBtn.greenBtn:hover {
	background:#91ca71;
	color:#fff;
}

.secBtn.greenBtn.service {
	position:relative;
	padding-left:40px !important;
}

.secBtn.greenBtn.service::after {content:''; display:block; position:absolute; width:20px; height:20px; background:url(//s.exist.ru/img2/icons-new.png) -12px -1498px no-repeat;top:8px; left:13px;}

/* <ВСПЛЫВАЮЩАЯ ПОДСКАЗКА> */
	
.tip {
		position: absolute;
		background: #363636;
		color: white;
		padding: 2px 10px;
		left: -10px;
		top: -30px;
		display:none;
		font-size:11px;
		}
		
	.tip::after {
		content:"";
		display:block;
		position:absolute;
		border-color:#363636 transparent transparent;
		border-width:6px;
		border-style:solid;
		bottom: -12px;
		left:7px;
		}
		
/* </ВСПЛЫВАЮЩАЯ ПОДСКАЗКА> */

/* <КОНТРОЛ МАШИНЫ> */

#cr-nm {
	font-size:18px;
	font-weight:normal;
	padding-bottom:5px;
	float:left;
	clear:both;
	}

h1#cr-nm, .carInfo dd h1 {
	font-family: Arial, Tahoma, sans-serif;
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	text-transform: none;
	font-size: 18px;
}
	
#cr-nm .gray-text {
	cursor:text !important;
	}

#cr-yr{
	 float: left;
    clear: both;
    color: gray;
    font-size: 12px;
	}
#cr-eng {
	float:left;
	clear:both;
	padding-left:10px;
	}

.carInfo {
	width:auto;
	clear:both;
	overflow:hidden;	
	}
	
.carInfo.rt {
	overflow:hidden;	
	float:left;
	cursor:pointer;
	padding: 15px 0 10px;
	position:relative;
	width:100%;
	height:100px;
	}

.carInfo.rt::after {
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #27556F;
    opacity: 0;
    transition: all 0.2s ease;
}
.carInfo.rt:hover::after {	
	opacity: 0.08;
}
	
.carInfo dt	{
	float:left;
	width:190px;
	text-align: center;
	clear:both;
	/*background: url(//s.exist.ru/img/loading.gif) no-repeat scroll center top;*/
}

.carInfo dt>* {float:left;}
	
.carInfo dt.Cars{background:url(//s.exist.ru/img2/nocar.png) no-repeat;}
.carInfo dt.Commercial{background:url(//s.exist.ru/img2/novan.png) no-repeat;}
.carInfo dt.Motorcycles{background:url(//s.exist.ru/img2/nobike.png) no-repeat;}
.carInfo dt.Trucks{background:url(//s.exist.ru/img2/notruck.png) no-repeat;}	
.carInfo dt.ATV{background:url(//s.exist.ru/img2/noquad.png) no-repeat;}	
.carInfo dt.Snowmobile{background:url(//s.exist.ru/img2/nosnow.png) no-repeat;}	

.mainnew .add {	
	opacity: 1;
	float: left;
	clear: both;	
	height: auto;
	font-size: 11px;
	margin:0;
	width: 100%;
	width: calc(100% - 7px);
	background-color: #69c6a0;
	padding: 5px 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight:bold;
}
.mainnew .add:hover {	
    background: #58b992;
}
.mainnew .add i {background: url(//s.exist.ru/img2/icons-new.png) -14px -1314px;margin-right:0;}

.carInfo dt.Cars,
.carInfo dt.Trucks,
.carInfo dt.Commercial,
.carInfo dt.Motorcycles,
.carInfo dt.ATV,
.carInfo dt.Snowmobile {
	float: left;
    width: 190px;
	height:90px;
    text-align: center;
    clear: both;
}

.carInfo dt.Cars img,
.carInfo dt.Trucks img,
.carInfo dt.Commercial img,
.carInfo dt.Motorcycles img,
.carInfo dt.ATV img,
.carInfo dt.Snowmobile img{display:none}

.carInfo dd	{
	float:left;
	padding-left:10px;
	}

.carInfo dd b {
	font-weight:normal; font-style:italic; color:gray;
}
	
.carInfo dd p {
	padding-top:10px
	}
		
.carInfo dd div span {
	float:left;
	}
	
.carInfo engine{
	color:#990000;
	font-weight:bold
	}
	
.carInfo .na {
	min-height:100px;
	min-width:150px;
	margin-right:10px;
	}
	
.carInfo h3 {
	font-weight:normal;
	font-size:15px;
	margin-bottom:5px;
	white-space:normal;
	}
	
.caryears {
	clear:both;
	width:auto; 
	font-size:11px; 
	color:#666;
	}

.cell2.Active.onsale .image,
.carInfo.onsale #carimg {
	position:relative;
}

.cell2.Active.onsale .image::after,
.carInfo.onsale #carimg::after {
	content: 'На продаже';
    position: absolute;
    left: 30px;
    bottom:0;
    background: #ffeb00;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 8px;
    border: 2px solid black;
    font-size: 11px;
    border-radius: 3px;
}

/* </КОНТРОЛ МАШИНЫ> */

/*Таблицы*/
.tbl {
	background-color:#ffffff;
	margin:0;
	}
	
.tbl tr td {
	height:25px;
	border-bottom:1px solid #e4e4e2;
	vertical-align:top;
	padding:4px;
	}
	
.tbl tr td.price {font-size:15px;width:8%;font-family: Intro, Arial, Tahoma, sans-serif;color: #646464;}
.tbl tr:hover {	
	background:url('//s.exist.ru/img2/trhover.png') repeat top left;
	}
	
.tbl th {
	background-color:#d8e6eb;
	height:30px;
	font-weight:normal;
	border-right: 1px solid #e8f1f4;
	color: #507B8A;
	text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
	}

.tbl td.lnkPrice {text-align:right;white-space:nowrap}

.tbl .lnkPrice a {color: gray; border: 2px solid #f0ca5a;background:#FBEAB7 ; padding: 3px 10px;border-radius: 2px; display: inline-block;transition: all 0.3s ease;font-size:13px;}
.tbl .lnkPrice a:hover {background:#f0ca5a; color:#fff;}
.tbl tr td>div {float:left; padding-left:5px;}

.tbl .firmname {font-weight:bold;width:125px;padding:0; padding-left:10px;}
.tbl .art {color:gray; padding:0;}
.tbl i {color:gray;}

.tbl th .DDL .h {background:rgba(255,255,255,0.5)!important;}

.tbl th .DDL .b table p {font-weight:normal;}
.DDL .b table td {padding:5px; white-space:nowrap;}

.tbl th .DDL .b table tr:hover {background:transparent !important;}

.tabletitle {
    background-color: #F5F5F5 !important;
    height: 29px;
    color: #c54141;
    padding-left: 17px;
    font-size: 15px;
	}
/*Таблицы*/

/*IFRAME*/

#moveframe{cursor:move; position:relative; z-index:2; width:100%; height:20px; margin-bottom:-20px;}
#fancybox-frame{ background: url("//s.exist.ru/img/loading.gif") no-repeat 50px 50px;}
	

#tip_f {
	clear:both;
	background-color:#fff; 
	overflow:auto;
	border:0;
	padding:0;
	margin:0;
	max-height:461px; /*не менять!*/
	margin-top:20px;
	}
#frame-loading{
	width:100px;
	height:50px;
	position:absolute;
	display:none;
	background: url("//s.exist.ru/img/loading.gif") no-repeat 10px 10px;
	}

.float-title{
	position: absolute;
	display:none;
	z-index:999;		
	box-shadow:0px 0px 12px 0px rgba(0,0,0,0.2);
	border:1px solid #bcbcbc;
	line-height:0;
	background-color:#fff;
	margin:0;
	padding:15px;
	transition: opacity 0.4s ease;
	opacity:0;
}

.float-title.main:before {
	content:"";
	display:block;
	position:absolute;
	border-width:12px;
	border-style:solid;
	border-color: transparent transparent #bcbcbc;
	top:-24px;
	left:20px;
	}
	
.float-title.main:after {
	content:"";
	display:block;
	position:absolute;
	border-width:11px;
	border-style:solid;
	border-color: transparent transparent #fff;
	top:-22px;
	left:21px;
	}

.float-title .close-btn, .popwin .close-btn {
	background: url("//s.exist.ru/img2/iframe-close.png") 0 0 no-repeat;
	cursor:pointer;
	text-align:right;
	height:15px;
	width:15px;
	margin:0;
	position:relative;	
	margin: 2px 2px 0 0;
	padding:3px;

position: absolute;
z-index: 3;
right: 5px;
top: 10px;

	}

.float-title #form1 {padding:15px;}
	
.float-title .close-btn:hover {
	opacity:0.8;
}

#frame-container {margin:0!important;}
	
.move{
	cursor:move !important;
	}
	
/**/.float-title td[style="cursor:move"] {
	-webkit-transition:background .2s ease;
	-moz-transition:background .2s ease;
	-o-transition:background .2s ease;
	transition:background .2s ease;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;	
	}
	
.float-title td[style="cursor:move"]:hover {
	background: #f5f5f5;
	}
	
.centerLayer{ 
position: absolute;
left: 30% !important;
}


.iframe-layer{
	clear:both;
	}

.float-title .counter {display:none;}
#datalayer {padding:15px;}

.fancybox-title-over {margin-left: 40px !important;bottom: 40px !important;}
	
/*IFRAME*/

/*Корзина в прайсе*/

td.basket a, td.tablecart a {
	width:37px;
	height:30px;
	display:inline-block;	
	border-radius:2px;
	background:#F7D881  url(//s.exist.ru/img2/icons-new.png) -4px -231px no-repeat;
	opacity:0.7;
	position:relative;
	float:right;
}

tr:hover td.basket a {
	opacity:1;
}

td.basket a:hover {
	background: #f0ca5a url(//s.exist.ru/img2/icons-new.png) -4px -231px no-repeat;
}

td.basket a.inbasket, td.tablecart a.inbasket, td.inBasket a{
	width:37px;
	height:30px;
	display:inline-block;	
	border-radius:2px;
	border-color:#83b880;
	background: #83b880 url(//s.exist.ru/img2/icons-new.png) -4px -1040px  no-repeat;
	opacity:1;
	position:relative;
	float:right;
}

td.basket a i {
	position: absolute;right: -12px; top:-7px; display:inline-block; background:#e67a7d; color:#fff; font-size:12px; padding:0 7px; border-radius:15px; line-height:19px;font-style:normal;
}

td.artMerge {
    background-color: #fff;
}

/*Корзина в прайсе*/

/*Tablerow*/

.mainpage_column1	{
	vertical-align: text-bottom;
	border: 0px solid black;
	float: left;
	width: 200px;
	padding: 0 10px 0 0;
	background: url('//s.exist.ru/img/dots.gif') repeat-x bottom right;
	}
	
.mainpage_column2 {
	border: 0px solid black;
	float: left; 
	text-align: left;
	}


	
.mainpage_column3 { 
	float:left;
	border: 0px solid black;
	}
	
.mainpage_column4 {
	border: 0px solid black;
	float: right;
	width: 300px;
	vertical-align: top;
	height:auto;
	}
	
.c1_text {
	background-color: #fff;
	}
	
.tablerow{
	/*line-height:1.1em;*/
	margin-top: 10px;
	height:auto;
	clear:both;
	zoom:1;
	float: left;
	}
	
.tablerowheader	{
	clear:both;
	font-weight:bold;
	padding: 10px 0 0 0;
	}

/*Tablerow*/

/*Аккордион*/

.expanded {
	background: url("//s.exist.ru/img/toggleup.png") 0px 20px no-repeat;
	}
	
.collapsed {
	    background: url("//s.exist.ru/img/toggledown.png") 4px 20px no-repeat;
	}
	
.child td:first-child {
	padding-left:18px
	}

/*Аккордион*/

/*Zeform*/

.ZeForm > div { 
	clear:left;
	line-height:20px; 	
	float:left;
	}
	
.ZeForm > h2 { 
	clear:left;
	font-size:1.2em;
	}
	
.ZeForm>div>span{
	top:0px;
	margin-top:5px;
	float:left;
	}
	
.ZeForm>div>div {
	margin-bottom: 1px;
	float:left;
	background: url('//s.exist.ru/img/dots.gif') repeat-x bottom right;
    width: 200px;
	}
	
.ZeForm>div>div>span {
	top:4px;
	background-color:#fff;
	padding:0 4px 2px 0;
	line-height:27px;
	position:relative;	
    color: gray;    
	}

.ZeForm  select{
	width:200px
	}

/*Zeform*/

/*ValSum*/

.valSummary	{
	background:#feefef;
	margin-top: 10px;
	padding: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align:left;
	}
	
.valSummary b {
	font-weight:normal;
	font-size:15px;
	color:#900;
	}
	
.valSummary li	{
	padding:0 0 0 20px;
	background:url(//s.exist.ru/img/bullet-2.gif) no-repeat 9px 6px
	}

/*ValSum*/

.wCheck {
	background: rgb(201,85,80);
	border:1px solid #900;
	padding:5px 10px;
	float:left;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	}
.wCheck:hover {
	text-decoration:none !important;
	background:#cf615c;
	color:#fff;
	}
.wCheck:hover i {
	background-position:-544px -16px;
	}
.wCheck i {
	width:15px;
	height:15px;
	display:inline-block;
	background:url(//s.exist.ru/img2/icons.png) -544px top no-repeat;
	margin:0 5px -4px 0;
	}

.vinBtn {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	border:1px solid #d0d0d0;
	-moz-border-radius:5px;
	border-radius:5px;
	position:relative;
	cursor:pointer;
	}
	
.vinBtn:hover {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 65%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(65%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 65%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 65%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 65%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 65%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow:0 0 4px rgba(0,0,0,0.3);
	border:1px solid #c5c5c5;
	}


/*Warning Messages*/

.message-error, .message-success, .message-information, .message-warning {
	padding: 40px 10px 10px 10px; 
	margin: 10px 0 20px 0;
	display:block;  
	font-weight:normal;
}
.message-error{	
	background:#fce3d3 url(//s.exist.ru/img/status-e.png) no-repeat left top; 	
	color:#400909; 
	}
	
.message-success{
	background:#edf3e1 url(//s.exist.ru/img/status2.gif) no-repeat left; 
	color:#063005; 
	padding: 20px 10px 10px 40px;
	}
	
.message-information{
	background:#ddebfa url(//s.exist.ru/img/status-i.png) no-repeat left top;
	color:#193d58; 
	}
	
.message-warning{
	background: #ffe39d url(//s.exist.ru/img/status-w.png) no-repeat left top; 
	color:#392906; 
	}

/*Warning messages*/

/*CSearch*/

#ucSearch {
	display:inline-block;
	position:relative;
}

.cSearchTip	{
border: 1px solid #e4e4e2;
  padding: 5px;
  color: #4d6280;
  display: block;
  text-align: left;
  position: absolute;
  top: 27px;
  left:3px;
  z-index: 999999;
  background-color: White;
  min-width: 213px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.4);
   
}

.cSearchTip	 li{list-style-type:none;list-style: none; padding:2px 5px; cursor:pointer;}
.cSearchTip	 li:hover {background:#f5f5f5;}
.cSearchTip	 li.sel { background-color: #f5f5f5; }
.autosearch {display:inline-block; position:relative; }
.cSearchTip	 li a {display: block;}
.cSearchTip	 li a:hover {text-decoration:none;}

.catalog-column {
	float:left;
	width:19.9%
	}
	
.catalog-column ul {
	width:100%;
	overflow:hidden
	}
	
.catalog-column ul li {
	width:100%;
	float:left;
	padding:2px 0
	}
	
.catalog-column ul li a {
	/*font-weight:bold; */
	text-decoration:none 
	}
	
.catalog-column ul li a:hover {
	text-decoration:underline
	}

.top-r {padding: 20px 0 20px 50px;clear:both; background: #f0f2f4; padding-left: 50px; margin-bottom: 25px;overflow:hidden;}

/* TREE */
ul.tree					{padding:0 0 10px; margin-top:5px;}
ul.tree div				{padding:2px 0 2px 15px;cursor:pointer;background: url("//s.exist.ru/img/toggledown.png") 4px no-repeat}
ul.tree li ul			{margin-left:15px;}
ul.tree a				{display:inline-block; margin: 2px 0 2px 15px;}
ul.tree a:hover			{text-decoration:underline}
ul.tree div.nodeexp		{background: url("//s.exist.ru/img/toggleup.png") 2px 7px no-repeat; font-weight:bold; }
ul.tree .diagram		{text-indent:-9999px; display:inline-block; width:18px; height:18px; background:url('//s.exist.ru/img2/scheme.png') no-repeat; margin-left:10px;}
ul.tree div>.diagram	{display:none;}

/* TREE */

#tbText {height:38px; margin-right:5px;}
div.mainpage-header {border:none;}
.mainpage-header h4 {
	font-size:20px;
}

.mainpage-header {font-size: 15px;
    color: #c54141;
    font-weight: normal;
    padding: 15px 0 10px 0;
    border-top: 1px solid #e4e4e2;
    margin-top: 10px;
    clear: both;}

/*Баннеры UCat'а на титульной странице*/
#phUCatBanners.loading{ min-height:50px ; min-width:100px; background: #fff url('//s.exist.ru/img/loading.gif') center center no-repeat;}
.topbanner{float:left; width:48%; margin:0 1% 20px 0; border:1px solid #fff;}
.topbanner:hover {
					-moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
					box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
					border: 1px solid #DEDEDE;}
.topbanner:hover .rowheader{display:block}
.topbanner:hover .favoritesfon{display:block}

.separator{ overflow:hidden }
.rowheader{ display:none}

.name.grpname {color:gray;}
.right-box .right-box-content .name-price .name{padding: 0 0 10px !important; color: gray;font-size: 13px;}
.right-box .right-box-content .name-price {padding: 8px;}
/*Баннеры UCat'а на титульной странице*/

/* <БАННЕРЫ НА ГЛАВНОЙ (запчасти для машины)> */

.forcaracc {
	float: left;
	margin-top: 5px;	
}

	.forcaracc .name {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #363636;
		display: block;
		margin-bottom:5px;
	}

	.forcaracc .price {
		font-family: Intro, Arial, Tahoma, sans-serif;
		font-size: 17px;
		color: #c54141;
		height: 31px;
		line-height: 22px;
		width: auto;
		padding: 0;
		display: block;
	}

.forcar2 .name-price {
	padding-right: 15px;
}
.forcaracc img {	
	display: inline-block;
	clear: both;
	margin-bottom:5px;
}

#phBAcc .fieldset span {float:left;clear:both;}

a.forcar2 .forcarimg.noimg {
    background: url('//s.exist.ru/img2/nogoods.png') no-repeat;
    margin:0 auto;
    height: 100px;
    width: 100px;
    position: relative;
}

div#slider-model {
	width:100%;
}

.banner_parts {
	width:33.3% !important;
}


.banners {
	float:left;
	width:97%;
	}
	
.forcar2 .name {
	font-weight:normal;
	font-size:16px;
	line-height:16px;
	color:#363636;
	padding:10px 0;
	display:block;
	height:23px;
	overflow:hidden;
	margin-bottom:5px;
	margin-left:15px;
	color:gray;
	}

.forcar2 .name.grpname {
	font-size:14px;
	padding-top:0;
	margin-bottom: 15px;
	margin-top:15px;
	color:gray;
}

.forcar2:hover .name.grpname, .forcar2:hover .name {
	color:#363636;
}
	
.forcar2 .price {
	font-family:Intro, Arial, Tahoma, sans-serif;
	color:#c54141;
	font-size:19px;		
	width:auto;
	padding:0;
	float:right;
	margin-bottom:10px;
	}

.forcar2 h3 {
	font-size:16px;
	margin-bottom:3px;
	margin-left:15px;
}

	
.forcar2 img {
	margin:0 auto;
	display:block;max-height:100px;background:url('//s.exist.ru/img/loading.gif') no-repeat center;
	transition:opacity 0.3s ease;
	}


.forcar2 .ucatimg {
	height:100px;	
}

.forcarimg {height:100px;
			width:100%;
		
}

.forcarimg.loading {background:url('//s.exist.ru/img/loading.gif') no-repeat center}
	
.forcar2 {
	float:left;
	width:calc(100% - 1px);
	padding:30px 0;
	border-bottom: 1px solid #e4e4e2;
    border-right: 1px solid #e4e4e2;
	transition: opacity 0.3s ease;
	position:relative;
	right:-2px;
	}
	
.forcartable {
	width:100%;
	border-spacing:5px;
	}
	
.forcar2:hover {
	/*border:1px dotted #5d7991;*/
	}

/*.forcar2::after {content:'';position:absolute; width:100%; top:0; bottom:0; background:#829dac; opacity:0; transition:opacity 0.3s ease;}
.forcar2:hover::after {opacity:0.1;}*/

.forcar2 .name-price {max-height:0; width:calc(100% - 15px); overflow:hidden; position:absolute; bottom:0; left:0; transition:all 0.7s ease; background:rgba(233,239,241,0.9);z-index:5; opacity:0;}
.forcar2:hover .name-price{ max-height:120px; opacity:1;}
	
.forcartable tr td a:hover{
	text-decoration:none;
	}

table.carInfo {
	overflow:visible;
}

	
/* </БАННЕРЫ НА ГЛАВНОЙ (запчасти для машины)> */

.banner1 {max-width:240px; float:right;}

/* <ВЫПАДАЮЩИЙ СПИСОК> */
	
	
.DDLSelected .hover-active{
	background-color:#f3f2e9 !important;
	border:none;
	}
	
#searchdiv2 select {
	height:27px;
	color: #3f3f3f;
	background: #fff url(//s.exist.ru/img/search_ctgr1.gif) right -2px no-repeat;	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	outline:none;
	border:1px solid #c9d2db;
	transition:border-color 0.2s ease;	
}

#searchdiv2 select:focus {
	border-color:#7f9db9
}

#searchdiv2 .DDL {
	float:left;
	font-size:11px;
	}
#searchdiv2 .DDL .h {
	background: url('//s.exist.ru/img/arrow-small.png') no-repeat right 8px;
	}
	
#searchdiv2 .DDL .h span {
	color:#60758A;
	}
	
#searchdiv2 .DDL .b {
	color:#60758A;
	}
	
	
.DDL .list div:hover {
	background-color:#fff;
	}
	
.DDL .list div .hover-active {
	background:none;
	padding:10px 0;
	border:1px solid transparent;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	position:relative;
	top:2px;
	overflow:hidden;
	    width: 350px;
	    border-bottom: 1px solid #e4e4e2;
		cursor:pointer;
	}


.DDL .list div .hover-active::after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#BAC6D2;
	opacity:0;
	transition:opacity 0.3s ease;
}

.DDL .list div .hover-active:hover::after {
	opacity:0.2;
}

.DDL .CarTypeSelector {
    clear: both;
    display: block;
    padding: 10px 0 10px 16px;
    cursor: pointer;
	background-position:4px 15px;
	    color: #256892;
}

.DDL li {list-style:none;}


.hover-active.addnew .listimg{
	background: transparent;
}

.listcar {float:left;    max-width: 280px;}

.listcar b{font-weight:normal; }
.listcar ul {font-size:12px; color:gray;clear:both;}
section.listcar>span{float:left;}

.listimg img {width:65px; display:inline-block;vertical-align:middle;}

.listimg {width:65px; height:45px; float:left; margin-right:5px;font: 0/0 a; background:#fff;}

.listimg:before {   
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
}

	
/* </ВЫПАДАЮЩИЙ СПИСОК> */

/* фон для всплывающего окна showtiplayer*/
.popwinbackmain{background:rgba(0,0,0,0.4);height:100%;width:100%;left:0;filter:alpha(opacity=50);position:fixed;top:0; display:none; z-index:55;}
.popwinbackmain.loading{background:rgba(0,0,0,0.4) url(//s.exist.ru/img/loader2.gif) center center no-repeat;}



/* <bubble> */

	.bubble {
		width:202px;
		position:relative;
		margin-bottom:15px;
		}
	
	.bubble p {
		color:#363636;
		}
	
	.infotext {
		background-image:url(//s.exist.ru/img2/text-info-back.png);
		border-radius:0 !important;
		-moz-border-radius:0 !important;
		position:relative;
		padding:8px 10px 0;
		z-index:5;
		background-repeat: no-repeat;
		}
	
	.infotext p {
		position:relative;
		z-index:3;
		color:#363636;
		}

	.infotext span {
		position:relative;
		z-index:3;
		font-size:11px;
		color:#363636;
		}
	
	.bubble_arrow {
		width:18px;
		height:20px;
		background:url(//s.exist.ru/img2/text-info-back.png) right -83px no-repeat;
		position:absolute;
		margin:-1px 0 0 5px;
		z-index:6;
		padding-left:30px;
		}
	
	.bubble_arrow_left {
		width:13px;
		height:21px;
		background:url(//s.exist.ru/img2/text-info-back.png) right -103px no-repeat;
		position:absolute;
		margin:-27px 0 0 -10px;
		z-index:6;
		padding-left:0px;
		}
		
	.bubble_arrow_top {
		width:21px;
		height:13px;
		background:url(//s.exist.ru/img2/text-info-back.png) -367px bottom no-repeat;
		position:absolute;
		margin:-27px 0 0 -10px;
		z-index:6;
		padding-left:0px;
		}
	
	.bubble_arrow_down
	{
		width: 21px;
height: 23px;
background: url(//s.exist.ru/img2/text-info-back.png) -385px -80px no-repeat;
position: absolute;
margin: 21px 0 0 20px;
z-index: 6;
padding-left: 0px;
}
	
	.bubble label {
		position:relative;
		top:-2px;
		color:#000 !important;
		}
	
	.text-info-bottom {
		width:202px;
		height:23px;
		background:url(//s.exist.ru/img2/text-info-back.png) top right no-repeat;
		margin-top:-13px;
		position:relative;
		z-index:2;
		}
	
	/* </bubble> */
	
	/* <растягивающийся bubble> */	
	
	.str-bubble {
		background:#f7f2e3; 
		border:1px solid #e6e0cc; 
		position:relative; 
		padding:5px 10px; 
		max-width:70%;
		box-shadow: 2px 2px 16px -3px rgba(0,0,0,0.2);
		}
		
	.str-bubble.ofc {
		position: absolute;
		right: -200px;
		top: 25px;
		color:#363636;
		-webkit-animation:fadeIn 0.5s;
		-moz-animation:fadeIn 0.5s;
		animation:fadeIn 0.5s;
		}
		
	.str-bubble.ofc p {
		float:left;
		margin-top:3px;
		}
		
	.str-bubble.ofc .bubble_arrow_top {
		margin:0;top: -13px;left: 31px;
		}
	
	/* </растягивающийся bubble> */	

	/*car create links*/

	.bit a.selected {background:#fae3bb; color:#363636;}
	.bit a {display:inline-block;padding:2px 5px;}

	/*car create links*/


.drop-car {
	display:inline-block;
	width:22px;
	height:22px;
	background:url('//s.exist.ru/img2/close.png') no-repeat;
	opacity:0.7;
	text-indent:-99999px;
	cursor:pointer;
}

.drop-car:hover {
	opacity:1;
}

/*Stars*/

.favorites{background:url(//s.exist.ru/img2/star.png); height:16px; display:block}
.favoritesfon{background:url(//s.exist.ru/img2/star.png) left -16px; height:16px; width:90px; display:block;margin:0 0px 2px;}


.filter div.clr a {
	right:15px;
}

div.favoritescount {
	padding:10px;
}
div.favoritescount span {padding:0 2px;}

.cell {
    float: left;
    height: 110px;
    width: 120px;
    padding: 10px;
    border: 1px solid #fff;
    font-weight: bold;
    color: #363636;
}

.cell a {font-weight:normal;}

#modalGarageCars {
    max-height: 300px;
    overflow: auto;
    clear: both;
}

/* КОНТРОЛ ВЫБОРА ГОДА */
.DDL .b .ytable span.title-year{
	font-weight:bold;
	padding-bottom:2px; 
	color:#666; 
	}
	
.remtext {
	padding:5px
	}
	
.DDL .b .table b,
.DDL .b .table a{
	padding:3px;
	margin:5px;
	white-space:nowrap;
	line-height:20px;
	font-size:14px;
	}
	
.DDL .b .table {
	float:left
	}

.DDL .b span div .table {
	width:540px
	}
	
.DDL .b span div .table  div{
	width:20%;
	white-space:nowrap
	}
	
.DDL .b .ytable {
	float:left; 
	padding-right:10px
	}
	
.DDL .b .ytable span{
	display:block;	
	font-size:14px;
	}
	
.DDL .b .ytable span:hover{
	
	}
	
.DDL .b .ytable span:first-of-type:hover{
	background-color:transparent;
	}
	
.DDL .b .ytable span a {
	margin-bottom:5px;
	display:block;	
	}
	
.DDL .b .ytable span b {
	padding:1px 1px 1px 4px; 
	display:block;
	background-color:#fae3bb; 
	font-weight:normal;
	    margin-left: -4px;
	}
	
.DDL .b div>i{
	color:gray;
	padding-left:5px;
	font-style:normal;
	text-transform:uppercase;
	font-size:12px;
	}

.CarColumn.upper>div {
	margin-bottom:5px;
}

/* /КОНТРОЛ ВЫБОРА ГОДА */


	.popwinback{background-color:Black;height:100%;width:100%;left:0;opacity:0.5;filter:alpha(opacity=50);position:fixed;top:0;z-index:50;}
	
	.popwin h3					{float:left;padding:3px 0; font-size:15px; font-weight:normal; color:#c54141;margin-bottom:5px;}
	.popwin .drop-car				{margin:3px 0;padding:0;float:right;cursor:pointer}
	.popwin ul					{clear:both; zoom:1; overflow:auto; max-height:295px;}
	.popwin ul li					{width:95%;overflow:hidden;}
	.popwin ul li:hover			{}
	.popwin ul li>a:first-child	{display:block;width:100%;clear:both;border:1px none;overflow:hidden;}
	.popwin ul li a				{cursor:pointer;}
	.popwin ul li a:hover			{text-decoration:none;}
	.popwin ul li a div			{float:left;width:150px;height:100px}
	.popwin ul li a div.noimg		{background:url(//s.exist.ru/img2/nocar.png) no-repeat left top}
	.popwin ul li a div img		{border-radius:5px}
	.popwin ul li a dl dt.h		{color:#363636; font-weight:bold; padding-bottom:10px}
	.popwin ul li a dl			{float:left;padding-left:5px;color:#666;font-size:11px;width:225px;}
	.popwin ul li a dl dt			{clear:left;float:left;padding-right:5px}
	.popwin ul li a dl dd			{font-weight:bold;float:left}	
	.popwin .cell .select			{display:block;margin-left:0;}
	.popwin .cell:hover {border-color:#e4e4e2}
	.popwin .cell:hover .select			{background-color:#526C91}
	.popwin .vinBtSel {position:absolute; bottom:10px; left:10px; background-color:#579029; color:#fff; padding:0 4px; border-radius:3px; -moz-border-radius:3px; font-size:11px;}
	.popwin textarea { width:99%; height: 100px; overflow: auto; }
	.popwin {position:absolute;width:420px;-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);background:White;padding:30px 20px 20px;z-index:60;overflow:hidden;left:calc(50% - 210px); top:30%}

	.gray-text {color:gray;}

	.rightcol{vertical-align:top;max-width:240px;padding-left:10px;padding-top:22px}/*убрать когда баннеры переведутся на DIV*/

	div.cat-block a {font-size:17px;}

	#Works>div>div, #Features>div>div {margin-bottom:5px;}
	.works hr {margin:10px 0;}

	.js-validator{    background-color: #900;
    color: #fff;
    top: 0;
    float: left;
    width: 100%;
    height: 41px;
    z-index: 9999;
    padding-top: 18px;
    text-align: center;
    font-size: 31px;
    position:fixed;
		}

	.addnote i {display: inline-block; width: 21px; height: 21px;background: url(//s.exist.ru/img2/notepad2.png) 0 -21px no-repeat; margin: -1px 5px -5px 0;}
	.addnote:hover i {background-position:0 0;}
	.addnote.added i, .addnote.added i:hover, .addnote.added, .addnote.added:hover {background-position:0 -42px;}
	.addnote.loading i {background: url(//s.exist.ru/img2/notepad.gif) 0 0 no-repeat;}
	.addblog.added i, .addblog.added i:hover, .addblog.added, .addblog.added:hover {background-position:-42px -42px;}

	.item-remove, .addnote, .item-edit, .addblog {display:block;width:22px; height:22px; position: relative; cursor:pointer;text-indent:-99999px;}
	.item-remove:hover {opacity:1;}
	.item-remove {background:url('//s.exist.ru/img2/close2.png') 0 -22px no-repeat;opacity:0.7;}
	.addnote {background:url('//s.exist.ru/img2/notepad2.png') 0 -21px no-repeat;}
	.addnote:hover {background-position:0 0 ;}
	.item-edit {background:url('//s.exist.ru/img2/notepad2.png') -21px -21px no-repeat;}
	.item-edit:hover {background-position:-21px 0 ;}
	.addblog {background:url('//s.exist.ru/img2/notepad2.png') -42px -21px no-repeat;}
	.addblog:hover {background-position:-42px 0 ;}

	.textRedB {       background: #FFF5EA;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 2px dashed #EFB06F;}
	.function-panel {
			background-color: #f1eeea;
			width:100%;
			min-height:43px;
			clear:both;
			float:left;
			margin-bottom:10px;
			}
	.function-panel .function-panel-sec {float:left; clear:both; width:100%; background:rgba(255,255,255,0.3); border-top:1px solid #d9d5d0;}

    
.cat-main ul li a date {
    color: gray;
    padding-left: 20px;
    font-style: italic;
    font-size: 13px;
}

	/*MEDIA QUERIES*/

	
		
		

	@media only screen and (max-width: 1050px)
		{.commercial {
			display: none !important;			
		}
		tr td.default-center {
		   padding-right: 0;
				}
		 }

	@media only screen and (max-width: 1320px) {
		a.tophelp.wide {display:none;}
		a.tophelp {display:block}
	}

	@media only screen and (max-width: 1215px) {
		div.footer{padding: 20px 20px 0 20px;}
		div.top {padding:0 20px; width:calc(100% - 40px)}
	}

	@media only screen and (max-width: 850px) {		
		div.search .history {right:90px;}
		.search-header {display:none;}		
		.wrapper div.footer .cards .russia {width: 295px;float:none; margin:0 auto;}
		.wrapper div.footer {padding:5px 0 0 0;height:auto;}
		div.footerwrap div.col {max-height:40px; clear:both; width:100%; overflow:hidden; border-bottom:1px solid #c5d1d7;transition: max-height 0.3s ease}
		div.footerwrap div.col.expandedSubMenu {max-height:350px}
		div.footerwrap div.col h6 {padding: 10px 0 10px 30px; position:relative; cursor:pointer;}
		div.footerwrap div.col h6::after {content:''; position:absolute; width:13px; height:9px; background: url(//s.exist.ru/img2/icons-new2.png) -12px -873px no-repeat; left:8px; top:15px;transition:all 0.2s ease}
		div.footerwrap div.col.expandedSubMenu h6::after {transform: rotate(90deg);top:12px;left:9px;}
		div.footerwrap div.col ul li {padding-bottom:10px;}
		div.footerwrap div.col ul li a {font-size:14px;}
		div.footerwrap div.col ul {padding-left:30px; }
		div.footer .bottom-panel {border:none;padding:0;}
		.footer div.footerwrap {height:auto;}
		div.bottom-panel>div {width:100%; margin:0; text-align: center;margin-bottom:10px;}
		div.footer .bottom-panel .partners a {float:none;}
		div.footer div.footer-error {float:none; text-align:center; margin-top:0; width: calc(100% - 40px);}
		div.footer a.backtoold {float:none;margin: 0 auto;display: block;text-align: center;padding:10px 0;}
		div.footer a.rightsInfo {float:none;margin: 0 auto;display: block;text-align: center;padding: 10px 0 0px;}
		 div.content-page {overflow: auto;}
		a.shopmenumobile {float:left; display:block;}
		div.top {padding:0; width:100%;}	
		.shopdata {position:absolute;visibility:hidden; padding:0; margin:0; opacity:0; width:0; height:0; transition:opacity 0.3s ease; background:#4E565A;top: 45px; z-index: 2;}
		.shopdata.active { opacity:0.93; visibility:visible;width:100%;padding:15px 0;  height:auto;}
		 div.shopfunctions a {margin-right:10px;}
		div.shopfunctions .cart, div.shopfunctions .orders {border-radius: 20px;width: 9px;text-indent: -999999px; margin-right:10px;}
		span.basketcount {text-indent:0; right:-2px;}
		div.shopfunctions .cart, div.shopfunctions .cart:hover, div.shopfunctions .cart.cartfull {background-position:0 -227px}
		div.shopfunctions .orders, div.shopfunctions .orders:hover {background-position:-2px -272px;}
		.mainheader div.search {width: calc(100% - 340px);}
		.mainheader div.search .searchinp {min-width:calc(100% - 10px)}
		 .mainheaderdiv.search .history {display:none;}
		 .mainmenu a.actions, .mainmenu a.stock {display:none !important;}
		 
	}
	@media only screen and (max-width: 700px) {
		.mainmenuover {position:absolute;visibility:hidden; padding:0; margin:0; opacity:0; width:0; height:0; transition:opacity 0.3s ease; background:#256892;top: 45px; z-index: 2; box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);}
			.mainmenuover div, .mainmenuover li {clear:both; width:100%;    border-bottom: 1px solid #3B769A;}
			.mainmenu .mainmenuover li a, .mainmenu .mainmenuover .catdown a ,
			.mainmenu .mainmenuover li a:hover, .mainmenu .mainmenuover .catdown a:hover
			{float:none;}
			.mainmenuover.active { opacity:0.93; visibility:visible;width:100%;padding:15px 0;  height:auto;}
			.menubutton {width:29px; height:29px; background:url(//s.exist.ru/img2/icons-new.png) -10px -908px no-repeat;margin-left: 10px; margin-top: 9px; float: left;cursor:pointer; opacity:0.7;    margin-right: 10px; display:block;}			
			div.mainmenu .catdown {padding-left:0px;}
			div.mainmenu .catdown a {padding-left:25px;}
			.catdropdown {display:none;}		
			.DropContainer {height:0;}
			.DropContainer.active .FloatPanel {position:relative;left:0 !important; width:auto !important; top:0;}
			.mainmenu a.actions, .mainmenu a.stock {display:block !important;}
		
	}
	@media only screen and (max-width: 640px) {	
			/*@font-face { font-family: 'Fira'; src: url('//s.exist.ru/font/FiraSansOT-Regular.otf') format('otf'),url('//s.exist.ru/font/FiraSansRegular.woff') format('woff'), url('//s.exist.ru/font/FiraSans-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
			@font-face { font-family: 'Fira'; src: url('//s.exist.ru/font/FiraSansBold.eot') format('eot'), url('//s.exist.ru/font/FiraSansBold.woff') format('woff'), url('//s.exist.ru/font/FiraSansBold.ttf') format('truetype'); font-weight: bold; font-style: normal; }
			@font-face { font-family: 'Fira'; src: url('//s.exist.ru/font/FiraSansItalic.eot') format('eot'), url('//s.exist.ru/font/FiraSansItalic.woff') format('woff'), url('//s.exist.ru/font/FiraSansItalic.ttf') format('truetype'); font-weight: normal; font-style: italic; }*/			
			body {-webkit-text-size-adjust: none;}		
			input[type='text'],
			input[type='search'],
			input[type='number'],
			input[type='password'],
			textarea {
				font-size: 16px;
			}
		    div.content-page{padding: 0 10px 40px 10px;max-width: 100%;}
			.viewedPanel h2 {text-align:center;}		
			
			.shopfunctions {margin-top:11px;}					
			div.phone {margin-left:10px; clear:both;}
			div.shop {margin-left:10px;}
			a.alerts {width:45px; background-position:0 -179px;}
			div.login .b {width: calc(100% - 40px);}			
			a.logo {width: 55px;height: 51px;margin: 5px 10px 20px 10px;background:url(//s.exist.ru/img2/exist-logo-small.png) no-repeat; background-size: contain;}
			a.logo .beta {display:none;}
			a.logo img {max-width:100%; display:none;}
			.mainheader div.search {width: calc(100% - 200px); margin-top:13px;}
			.mainheader div.search .searchinp {min-width:100%;     max-width: 100%;}
			.mainheader div.search .searchinp:focus {    position: absolute;   min-width: calc(100% + 110px);  z-index: 5;}
			.mainheader div.search input[type="submit"] {position: absolute; right:5px; transition:right 0.3s ease;}
			.mainheader div.search .searchinp:focus + .cSearchTip + input[type="submit"] {z-index: 6;right: -100px;}
			a.toold {display:none;}
		
			/*div.search.mobile {    transition: max-height 0.3s ease, min-height 0.3s ease; margin: 0; background: rgba(255,255,255,0.9); max-height:0px; min-height:0px; overflow:hidden;}
			div.search.mobile.active {max-height:50px; min-height:50px;}
			div.search.mobile input[type="submit"] {text-indent:-99999px; width:40px !important;margin-left:-45px;background:transparent url(//s.exist.ru/img2/icons-new.png) -5px -1128px no-repeat;}			
			div.search.mobile input.searchinp {width:100%;}*/
			
			
			div.catalog-column {width:49.9%}
			
			.forcar2 div.name-price {
				max-height:120px;
				opacity:1;
				position:relative;
				background:#fff;
			}
			#phBMdl #slider-model, #phBU {
				max-height:225px;
				min-height:225px;
			}
			#pnlViewProductsPad {
				max-height:260px;
			}
			.center-content-sitemap {
				display:none;
			}
			div.center-content-rightbar {float:left;margin-bottom:15px;}
			div.mainmenu #garageFloat .b {width:calc(100% - 20px)}
			div#mainContextCar {width:100%;}
			div.cat-main {margin-left:10px; width:calc(100% - 10px)}
			div.carname {margin-left:10px;}
			div#garageFloat.DDL .b {max-height:900px;}
			div.DDLCars {width:100%;}
			div.DDLCars .listimg {display:none;}
			div.DDLCars .listcar {margin-left:10px;}
			div.DDLCars>div {min-height:0;}
			div.ZeForm>div>span{
					margin-top:0;
					float:left;
					clear:both;
					}
	
				div.ZeForm>div>div {				
					background: transparent;
					width: 182px;
					}
				a.tophelp {display:none;}
				div.register a {margin-right:10px;}
				.DDL.loginname.guest {margin-right:10px;}
			.mainmenu .garage {position:static}
			.banner1 {display:none;}
	}

	@media only screen and (max-width: 400px){
		.DDL.loginname .h span{max-width: 140px;}
	}

	@media print {
	.left-sidebar,.sub-nav-box, .top-menu, .header-tel, .location, .nav-box, .bg span, .commercial, .footer, #footer3, .copyright, .search, .shopfunctions, .mainmenu, .mainheader, .top {display:none !important}
	.center {margin:0 !important;}
	.tbl tr td {border-bottom:1px solid #e4e4e2 !important;}
	}

	.js-warning-message { 
		width: 100%;
    height: 45px;
    background-color: yellow;
    color: black;
    clear: both;
    position: absolute;
    top: 0;
    z-index: 999;
	}
	.js-warning-message .close-btn{float:right}