﻿.carLIstTitle {
	max-height: 37px;
	overflow: hidden;
}

.carListImage {
	border: 3px solid gray;
	border-radius: 50px;
	width: 100px;
	height: 100px;
}

	.carListImage img {
		max-width: 80px;
		max-height: 80px;
		padding: 20px 9px;
	}

.carlistrow {
	float: left;
	padding-right: 20px;
}

#phPageSelector {
	float: right;
}

#removeCar {
	margin-left: 15px;
	margin-top: 3px;
	width: 15px;
	height: 15px;
	background: url(//s.exist.ru/img2/iframe-close.png) no-repeat;
	position: relative;
}

.tiles {
	display: none;
}

.center-content-sitemap.titleCat {
	display: none;
}

#bannerbutton_phBMdl {
	display: none;
}

#banners_model {
	display: none;
}

#phBMdl.loading {
	height: 180px;
	background: url('//s.exist.ru/img/loading.gif') no-repeat 20px 20px;
	opacity: 0.3;
}

#phBU, #slider {
	height: auto !important;
	overflow: hidden;
}

#footer3 {
	clear: both !important;
}

#carUnChecked .top-r {
	background: #f0f2f4;
	padding-left: 50px;
	margin-bottom: 25px;
}

#carUnChecked {
	display: none;
}

#carChecked {
	position: relative;
	width: 100%;
}

	#carChecked.loading {
		height: 150px;
	}

.tip {
	text-indent: 0;
}

.sliderbutton {
	display: none;
}

#phPageActionsDiv .mainpage-header {
	display: none;
}

#phPageActionsDiv.loading {
	opacity: 0;
	height: 50px;
	background: url('//s.exist.ru/img/loading.gif') no-repeat 20px 20px;
}

#phPageActionsDiv {
	-webkit-transition: opacity 1s ease-out 0.5s;
	-moz-transition: opacity 1s ease-out 0.5s;
	-o-transition: opacity 1s ease-out 0.5s;
	transition: opacity 1s ease-out 0.5s;
	opacity: 1;
	float: left;
	width: 66%;
	margin: 40px 0 0;
	padding: 0;
	/*
	background:url(//s.exist.ru/img2/func-fon2.png) left no-repeat;
		*/
}

.cat-main ul li a {
	color: #5E7990;
}

	.cat-main ul li a:hover {
		color: #c54141;
	}

	.cat-main ul li a date {
		color: gray;
		padding-left: 20px;
		font-style: italic;
		font-size: 13px;
	}

.carinfodiv {
	position: relative;
	float: left;
	width: 34%;
}

/*блоки баннеров*/

#phBMdl #slider-model, #phBU {
	max-height: 160px;
	min-height: 160px;
	overflow: hidden;
	position: relative;
	transition: all 0.7s ease;
	animation: fadeIn 2s ease;
}

#pnlViewProductsPad {
	max-height: 205px;
	overflow: hidden;
	transition: all 0.7s ease;
	width: 100%;
}

	#pnlViewProductsPad h2 {
		background: url(//s.exist.ru/img2/wavy-pattern.png) repeat-x;
		padding-top: 20px;
	}

#phBMdl.resetheight #slider-model, #phBU.resetheight {
	max-height: 900px;
}

#pnlViewProductsPad.resetheight {
	max-height: 1016px;
}

.pagination {
	display: none;
}

.mainpage-header.ban {
	border-top: none;
	margin-top: 0;
	/*color: #BDBDBD;*/
	padding: 0;
	margin-bottom: 10px;
}

	.mainpage-header.ban span {
		display: none;
	}

.banner_parts {
	float: left;
	width: 25% !important;
}

.carInfo.mainnew {
	overflow: visible;
	float: left;
	margin-bottom: 0;
}

	.carInfo.mainnew i.chain {
		float: left;
		width: 35px;
		height: 35px;
		background: url(//s.exist.ru/img2/icons-new.png) -5px -813px no-repeat;
		clear: both;
		margin-top: 15px;
		font-style: normal;
		position: relative;
	}

.mainnew span#cr-nm {
	width: 160%;
	font-size: 18px;
	position: relative;
}

.mainnew #cr-nm a, .mainnew #cr-nm p {
	float: left;
}

.mainnew #changeCar {
	float: left;
	margin-left: 10px;
	position: relative;
}

.mainnew .year {
	color: gray;
	padding-left: 6px;
}

.bannerbutton, .showall {
	cursor: pointer;
	margin: 15px 0;
	float: right;
	text-transform: uppercase;
	font-size: 11px;
	color: #929292;
	font-weight: bold;
}

h2.hideblocks {
	display: none;
}

.top-r a:hover {
	text-decoration: none !important;
	border-bottom: 1px dotted black;
}

.block-header {
	display: none;
}

	.block-header.visible-header {
		display: block;
	}

.commercial .fieldset,
.fieldset.acc {
	margin-bottom: 20px;
	background: #f5f5f5;
	border: none;
}

.bannerCarModel {
	text-transform: uppercase;
	color: #929292;
	font-size: 12px;
	font-weight: bold;
}


.fieldset.acc .forcaracc {
	width:100%;
}

.fieldset.acc .forcaracc img {
	width:100%;
}
