﻿/*.carsbuttons .btn{ display:none}
.carsbuttons:hover .btn{ display:block}*/

#phCarCatalogs{ min-height:50px}
#vk_groups iframe {width:250px !important;}
#vk_poll  iframe {width:250px !important;}
.right-box-content {overflow:hidden;}
.right-box-content a:last-of-type {margin-bottom:15px;}
.right-box-content .help{float:left;padding:7px 0 0 11px}

.engine {display:none}
.carname div span {width:155px;display:block}
.carname div {padding:0 20px 0 10px}
.banner-hidden{display:none}
.banner-show{ display:block}
.rightcol {display:none}
#banner_acc{display:none}
.top{ border-bottom:0 !important}
.main-help {background-position:left top;background-repeat:no-repeat;padding-left:34px; margin:2px 0 6px; float:left;clear:both}
.main-help:last-of-type {margin-bottom:0;}
.header-figth .bg span a.tonew {background-position:left top;background-repeat:no-repeat;padding-left:34px; margin:0; padding:0; float:left;clear:both; line-height:normal;}
.default-center span.tip {white-space:nowrap;left:-5px;width:auto; display:none;}
#changeCar {display:block;background:url(//s.exist.ru/img2/refresh.png) left top no-repeat; width:26px; height:26px;opacity:0.8;}
.mainnew #changeCar {background:url(//s.exist.ru/img2/refresh2.png) left top no-repeat;width:22px; height:22px;}
#changeCar:hover {opacity:1;}
#changeCar:hover .tip, #removeCar:hover .tip, .mr-cr:hover .tip, .add:hover .tip, .cr-lst:hover .tip, .del-cr:hover .tip, .buySell:hover .tip, .edCr:hover .tip, .feat:hover .tip, .footer-center ul li.seo, i.chain:hover .tip {display:inline; z-index:50; white-space:nowrap;}
.mr-cr, .cr-lst, .buySell, .edCr, .feat {width:16px; height:16px; float:left; background-image:url(//s.exist.ru/img2/icons.png); background-repeat:no-repeat; position:relative; margin-right:5px;}
.del-cr {float:left; width:22px; height:22px; background:url(//s.exist.ru/img2/close.png) no-repeat; opacity:0.8; position:relative;}
.del-cr:hover {opacity:1;}
.mr-cr {margin:0 5px 0 0; background-position:-480px top;}
.mr-cr:hover {background-position:-480px bottom;}
.add {opacity:0.7; margin-left: 10px;}
.add:hover {opacity:1} 
.buySell {background-position:-560px top;}
.buySell:hover {background-position:-560px bottom;}
.feat {background-position:-640px top;}
.feat:hover {background-position:-640px bottom;}
.edCr {background-position:-576px top;}
.edCr:hover {background-position:-576px bottom;}
.cr-lst {background-position:-512px top;}
.cr-lst:hover {background-position:-512px bottom;} 
.b .del-cr {display:none; position:absolute;right:5px; bottom:5px;}
.b .del-cr, .btn {-webkit-animation:fadeIn 0.3s ease;animation:fadeIn 0.3s ease;}
.b .del-cr .tip:after{left:31px;}
.b .del-cr .tip {left:-30px;}
.hover-active:hover .del-cr{display:block;}
.savecar {
	float: left;
	position: relative;
	padding: 10px 15px;
	}
#paramsCar {margin-top:5px;}
#paramsCar a {
	position:relative;
	}
/*#paramsCar.sd {
	position: absolute;
	top: 78px;
	left: 163px;
	}*/
.sem-trns {
	opacity:0.5;-webkit-transition:opacity 0.2s ease;-moz-transition:opacity 0.2s ease;transition:opacity 0.2s ease;
	}	
.opaque {
	opacity:1;-webkit-transition:opacity 0.2s ease;-moz-transition:opacity 0.2s ease;transition:opacity 0.2s ease;
	}
.btn {float:left;}
.btn .ad-cr, .btn .cr-lst {margin:5px 0 0 5px;}
div.DDL .white-form .b.list {
	min-width: 350px;
	font-size:11px;
	}
.guestArr {
	margin:0;top:20px;left:-11px;
	position:absolute;
	background:url(//s.exist.ru/img/icon/arrowhintdn.png) left top no-repeat;
	width: 58px;
	height: 68px;
	left: -58px;
	top: 10px;
	}
.gray-text{ cursor:default !important; color:gray  !important; }		
.gray-text:hover{ cursor:default  !important; text-decoration:none  !important; color:gray  !important; }

/* CATS */	

.cats-cnt{
	padding-top:20px;
	}

.cats .catalog {
	float: left;
	width: 135px;
	height: 80px;
	margin-bottom: 15px;
	position: relative;
	text-align: center;
	margin-right: 10px;
	}
	
.cats .catalog i {
	display:block;
	width:50px;
	height:50px;
	background:url(//s.exist.ru/img2/icons-new-main2.png) no-repeat;
	margin-left: 45px;	
	}
	
.cats .catalog:hover i {
	opacity:0.8;
	}
	
.cats .OriginalCat i{
	background-position:-600px 0;
	}
	
.cats .General i{
	background-position:-150px 0;
	}
	
.cats .Accessory i{
	background-position:-200px 0;
	}
	
.cats .Maintenance i{
	background-position:-550px 0;
	}
	
.cats .MahleCat i{
	background-position:-450px 0;
	}
	
.cats .TiCat i{
	background-position:-500px 0;
	}
	
.cats .Glass i{
	background-position:-100px 0;
	}
	
.cats .Tyre i{
	background-position:0 0;
	}
	
.cats .Disk i{
	background-position:-50px 0;
	}
	
.cats .Unknown i{
	background-position:-400px 0;
	}
	
.cats .Chemical i{
	background-position:-350px 0;
	}
	
.cats .Universal i{
	background-position:-300px 0;
	}
	
.cats .Accumulator i{
	background-position:-250px 0;
	}
.cat-main{float: left;width: 50%;line-height: 21px;}
/* CATS */	

.cats.loading, .cats.loading a, .cats.loading h2{color:#F4F4F5; background-image:none	} 
.cats.loading img{display:none}
.cats.loading {background:url('//s.exist.ru/img/loading.gif') no-repeat center}
	




/* НОВОСТИ */
	
.newsdiv{
	float:left;
	width:100%;
	}
.newstext{
	float: left;
	width: 400px;
	padding: 2px 0;
	}
.newstext span{ 
	font-size: 11px;
	color: #c54141;
	font-weight: bold;
	float: left;
	margin-right: 5px;
	}
	
.newsdiv .newstext {
	width:46%;
	padding:8px 4% 10px 0;	
	margin-bottom: 5px;
	}

.newstext p {
	color:#363636;
}

.newsdiv .newstext:hover {
	text-decoration:none;
	
}

.newsdiv .newstext:hover p {
	color: #518a9c;
}

#hlCancelYear {
	float:right;
	width:100%;
	text-align:right;
	padding:0 30px 0px 0;
	position:relative;
	margin-top:-15px;
	font-size:13px;
	}

/* НОВОСТИ */



.mainpage-header {
	font-size:15px;
	color:#c54141;		
	font-weight:normal;
	padding:15px 0 10px 0;
	border-top: 1px solid #e4e4e2;
	margin-top:10px;
	clear:both;
	}

.mainpage-header span {
	font-family:Arial,Tahoma, Helvetica, sans-serif;
	text-transform:none;
	font-size: 13px;
	background: #e4e4e2;
	display: inline-block;
	padding: 2px 9px;
	color: #606060;
	position:relative;
	margin-left:10px;
}

.mainpage-header span::after {
	content:'';
	position:absolute;
	border-width: 7px;
	border-color: transparent #e4e4e2 transparent transparent;
	border-style: solid;
	left: -14px;
	top: 6px;
}

.mainpage-header h4 {
	font-weight:normal;
}
	
/*.ban {
	background: white url('//s.exist.ru/img/ar_new.gif') no-repeat 2px 16px;
	width:170px;
	border-width:0;
	}*/
	
.fullBlock div .linkBtn {
	float:right;
	}
	
.vehicle {
	float:left;
	width:32px;
	height:32px;
	margin-right:10px;
	background:url(//s.exist.ru/img2/vehicle.png) no-repeat;
	opacity:0.5;
	filter: alpha(opacity = 50);
	}
	
.vehicle:hover {
	opacity:1;
	filter: alpha(opacity = 100);
	}
	
.vehicle.def {
	background-position:0 top;
	}
	
.vehicle.van {
	background-position:-32px top;
	}
	
.vehicle.truck {
	background-position:-64px top;
	}
	
.vehicle.bike {
	background-position:-96px top;
	}
	
/*.Cars img {
	display:none;
	}*/
	




#phCarType select{border: 1px solid #fff;outline: none; color:Gray; font-size: 16px;width: 208px;font-weight: bold;margin-left: -11px;}
#phCarType select:hover{border: 1px solid #7f9db9;}
.topbanner .favoritesfon{float:left; display:none}
.carInfo{padding:0 !important}
.selectcar{ cursor:pointer}


.autogoda {
	display:block;
	width:103px;
	height:37px;
	background:url('//s.exist.ru/img/autogoda2.png') 0 0 no-repeat;
}

.autogoda:hover {background-position:0 -37px;}

/*Селект машины*/

.carselector {
	max-width:220px;
	padding:0 0 0 10px;
	float:left;
	margin-top:-2px;
	}
	
	.carselector .DDL {	
	width: 120px;
	}
	
	.carselector .DDL .h 
	{
	
	}
	

	
										
	.carselector .white-form	
	{
	
	}
	
	.carselector .DDL .white-form .h span{
	
	font-size:15px;
	}		

	.catalog {margin-bottom:20px;}
	
	/*.listwrap, .tilewrap {animation: fadeIn 2s ease;}*/
	.tiles {opacity:1;width:100%;overflow:hidden; margin-bottom:15px; position:relative;}
	.tiles .tile {width:100%; width:calc(100% - 5px); min-height:58px; background: #f5f5f5; float:left; margin:0 0 5px 5px;position:relative;}
	.tiles .tile:hover, .tiles .simplelink:hover, .tiles .tile.small:hover {background:#e9eff1}
	.tiles .tile.large::before {content:'';position:absolute; width:100%; top:0; bottom:0;background:#000; transition:opacity 0.3s ease;opacity:0}
	.tiles .tile.large:hover::before {opacity:0.1}
	.tiles.general .tile.large::after {content:'Все детали и узлы. Поиск по схемам. Требуется регистрация.';max-height:0; position:absolute;width: calc(100% - 40px);top: 70px;left:0;background: rgba(0,0,0,0.5);color: #fff; padding:0 20px;transition:max-height 0.3s ease-in-out, padding 0.3s ease-in-out ; overflow:hidden}
	.tiles.general .tile.large:hover::after {left:0;max-height:90px;padding: 10px 20px;}
	.tiles .tilecol {float:left; width:33.3%}
	.tiles .tilecol.first .tile {margin-left:0; width:100%;}
	.tiles .tile.large {height:187px;}
	.tiles .tile.medium {height:90px;}
	.tiles .tile.small {background:transparent; border-top:2px solid #e4e4e2; border-bottom:2px solid #e4e4e2;}
	.tiles .tile.micro {width:calc(50% - 10px);}
	.tiles .simplelink {font-size: 11px; margin-left: 5px;color: #73808A;clear: both;float: left;position: relative;width: calc(100% - 25px);padding: 10px 15px;font-family: Intro, Arial, Tahoma, sans-serif;text-transform: uppercase;}

	.tiles .tile h3 {color:#73808A;margin:20px 5px 10px 15px; font-size:13px;font-family:Intro, Arial, Tahoma, sans-serif; text-transform:uppercase;}
	.tiles .tile.large h3 {font-size:14px;}
	.tiles .tile.medium h3{font-size:13px; float:left;}
	.tiles .tile.small h3{font-size:13px;float:left;}
	.tiles .tile.micro h3{font-size:13px;margin-top:7px;}
	.tiles .tile i {display:block; width:100px; height:100px; background:url(//s.exist.ru/img2/mainpageicons.png) no-repeat; margin: 0 auto;opacity:0.3;transition:opacity 0.3s ease;}
	.tiles .tile:hover i {opacity:1;}
	.tiles .tile.large i {margin-top:15px;opacity:1;}
	.tiles .tile.medium i {width:72px; height:70px; float:right; margin:10px 15px 0 0;position:absolute; right:0;}
	.tiles .tile.small i {width:60px; height:42px; float:right;margin:8px 6px 0 0;position:absolute; right:0;}
	.tiles .tile.micro i {display:none;}
	.tiles.fluids .tilecol.second .tile, .tiles.electro .tilecol.second .tile {margin-left:0; width:100%;}
	.tiles.fluids .tilecol.first .tile, .tiles.electro .tilecol.first .tile {margin-left:5px; width:calc(100% - 5px);}
	.tiles .original h3, .tiles .engineoil h3, .tiles .accessories h3, .tiles .battery h3 { color: #fff; }
	.tiles.electro .tilecol.first h3 { color: #fff; }
	a.simplelink.seeall {font-weight:bold;}
	.catalogListItem  a.simplelink.seeall {display:none;}
	/*.tiles .simplelink.seeall::after {content:'';position:absolute; display:block;	 width:11px; height:40px; background:url(//s.exist.ru/img2/seeall-point.png)0 0 no-repeat; right:0px; top:0px;}*/
	

	.tiles .tile .catbycar-icon, .simplelink .catbycar-icon {display:none;}
	.catbycar .catbycar-icon{display:block !important;position:absolute; bottom:5px; right:5px;width:28px; height:28px;animation:fadeIn 2s ease}	
	.catbycar:hover .catbycar-icon .flipper {transform: rotateY(180deg);}
	.catbycar .catbycar-icon .flipper {transition:all 0.6s ease;transform-style: preserve-3d;position: relative;width:28px; height:28px;}
	.catbycar .catbycar-icon .front, .catbycar .catbycar-icon .back {backface-visibility: hidden;width:20px; height:20px;background:#fff url(//s.exist.ru/img2/icons-new.png)-21px -787px no-repeat;padding:4px;border-radius:15px; position:absolute; top:0; left:0; box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.7);}
	.catbycar .catbycar-icon .front {z-index: 2;transform: rotateY(0deg);}
	.catbycar .catbycar-icon .back {background-color:#4E565A; background-image: url(//s.exist.ru/img2/icons-new.png); background-position: 4px -760px;transform: rotateY(180deg);}
	.catbycar .catbycar-icon .back p {position: absolute;right: 28px;text-align: right;color: #fff;background-color: #4E565A;top: 0;white-space: nowrap;padding: 4px 10px; max-width:0; overflow:hidden; transition:max-width 0.6s ease; visibility:hidden; border-radius: 15px 0 0 15px;line-height:20px;}
	.catbycar .catbycar-icon:hover .back p { max-width:220px; visibility:visible; text-overflow: ellipsis;}
	.catbycar .catbycar-icon:hover .back {border-radius:0 15px 15px 0;}	
	.forcar2 .catbycar-icon {top:5px; bottom:auto;}

	.tiles.general .large {background:#4B89AF;}
	.tiles.fluids .large {background:#C54661;}
	.tiles.acces .large {background:#e8c03e;}
	.tiles.electro .large {background:#5BC19B;}
	
	/*.tiles.fluids .second a:hover, .tiles.fluids .third a:hover{background:#ECDED2}
	.tiles.acces .second a:hover, .tiles.acces .third a:hover{background:#F3F1CB}
	.tiles.electro .second a:hover, .tiles.electro .third a:hover{background:#C9EAE9}*/
	
	
	
	
	/*.tiles.general .large h3, .tiles.fluids .large h3, .tiles.acces .large h3, .tiles.electro .large h3 { color:#fff;}*/

	.tiles .tile.original i{background-position:21px 0;}
	.tiles .tile.catto i{background-position:-101px -18px;}
	.tiles .tile.cattecdoc i{background-position:-195px -32px;}
	.tiles .tile.glass i{background-position:-316px -33px;}
	.tiles .tile.suspension i{background-position:-408px -32px;}
	.tiles .tile.piston i{background-position:0 0;}
	.tiles .tile.catuniversal i{background-position:0 0;}
	.tiles .tile.engineoil i{background-position:0px -100px;}
	.tiles .tile.breakfluid i{background-position:-114px -110px;}
	.tiles .tile.cosmetics i{background-position:-215px -130px;}
	.tiles .tile.transmission i{background-position:-312px -130px;}
	.tiles .tile.antifreeze i{background-position:-411px -131px;}
	.tiles .tile.autochemy i{background-position:0 0;}
	.tiles .tile.enamel i{background-position:0 0;}
	.tiles .tile.wheels i{background-position:-20px -224px;    height: 57px;}
	.tiles .tile.tires i{background-position:-113px -214px;}
	.tiles .tile.accessories i{width:178px;height:90px;background:url(//s.exist.ru/img2/acc-icon.png)0 25px no-repeat;}
	.tiles .tile.books i{background-position:-308px -232px;}
	.tiles .tile.sto i{background-position:-411px -233px;}
	.tiles .tile.tools i{background-position:0 0;}
	.tiles .tile.nut i{background-position:0 0;}
	.tiles .tile.battery i{background-position:7px -300px;}
	.tiles .tile.light i{background-position:-110px -320px;}
	.tiles .tile.dashcams i{background-position:-220px -332px;}
	.tiles .tile.fuse i{background-position:-320px -333px}
	.tiles .tile.navigation i{background-position:-410px -336px;}
	.tiles .tile.sound i{background-position:0 0;}
	.tiles .tile.speakers i{background-position:0 0;}

	.tiles .tilecol.second .tile {border-top:2px solid;}
	.tiles .tilecol.second .tile:last-of-type {border:none;}
	.tiles.general .tilecol.second .tile, .tiles.general .tile.small {border-top-color:#89c1e1}
	.tiles.fluids .tilecol.second .tile, .tiles.fluids .tile.small {border-top-color:#e1a0ae}
	.tiles.acces .tilecol.second .tile, .tiles.acces .tile.small {border-top-color:#F7CF4F}
	.tiles.electro .tilecol.second .tile, .tiles.electro .tile.small {border-top-color:#7BD6B4}

	/*banners*/

	.banners-mp-container {
		float:left;
		width:100%;
		display:none;
	}

	.banners-mp-container .banner-mp {
		float:left;
		width:100%;
		height:122px;
		margin-bottom:20px;
	}
	.banners-mp-container .banner-mp img {		
		display:none;
	}

	.banners-mp-container .banner-mp img.active {
		display:block;
	}

	/*.banners-mp-container .banner-mp.verse1 {
		background-color:#e9c75d;
	}

	.banners-mp-container .banner-mp.verse2 {
		background-color:#93bcbc;
	}

	.banners-mp-container .banner-mp.verse3 {
		background-color:#91c286;
	}*/

	.banners-mp-container .banner-mp span {			
		font-size:20px;
	}

	.banners-mp-container .banner-mp a {
		display:block;
		clear:both;
		position:relative;
		margin:0 auto;
		width:250px;
		color:#fff;
		background:#cc5e5e;
		margin-top:15px;
		padding:7px 0;
	}

	.banners-mp-container .banner-mp a:hover {
		background:#ea6868;
	}

	.banners-mp-container .banner-mp a::after,
	.banners-mp-container .banner-mp a::before {
		content:'';
		position:absolute;
		width:110px;
		border-bottom:2px solid #fff;
		top:50%;
	}
	.banners-mp-container .banner-mp a::before {
		left:-125px;
	}
	.banners-mp-container .banner-mp a::after {
		right:-125px;
	}

	@media only screen and (max-width: 850px) {	
		div.banner_parts {width:50% !important;}
		.tiles.general .tilecol.third,
		.tiles.fluids .tilecol.third,
		.tiles.electro .tilecol.third {
			clear:both;
			width:100%;
		}
		.tiles.general .tilecol, .tiles.fluids .tilecol, .tiles.electro .tilecol, .tiles.acces .tilecol {width:50%;}
		.tiles.general .tile.small, .tiles.fluids .tile.small, .tiles.electro .tile.small {width:50%;margin-left:0;height: 116px;}
		.tiles.general .simplelink, .tiles.fluids .simplelink, .tiles.electro .simplelink {width:50%; clear:none;width: calc(50% - 50px);}
		
		.tiles.acces .tilecol.second {
			clear:both;
			width:100%;
		}
		.tiles.acces .tile.medium {
			width:calc(50% - 10px);
		}
		.tiles.acces .tile.medium:first-of-type {margin-left:0; width:50%}
		.newsdiv .newstext {width:96%}
	}

	@media only screen and (max-width: 600px) {
		div.banner_parts {width:100% !important;}
		.tiles.general .tilecol, .tiles.fluids .tilecol, .tiles.electro .tilecol, .tiles.acces .tilecol,
		.catalogListItem.general .tilecol, .catalogListItem.fluids .tilecol, .catalogListItem.electro .tilecol, .catalogListItem.acces .tilecol {width:100%;clear:both;}
		.tiles .tilecol .tile, .catalogListItem .tilecol .tile {clear:both; margin-left:0 !important; width:100% !important}
		.tiles.general .tile.small, .tiles.fluids .tile.small, .tiles.electro .tile.small {height: auto; border-width:1px;}
		div#phPageActionsDiv {clear:both;width:100%; margin-top:0;background:transparent; padding:0;}
		div.carinfodiv {width:100%;margin:0;height:150px;}
		div.carInfo>dl {float:none;}
		div.mainnew span#cr-nm {width:100%;padding-bottom:5px;}
		.bannerbutton, .showall {width: 100%;text-align: center; text-transform:uppercase;font-size:12px; background:#f5f5f5; color:gray; padding: 5px 0;}
		.tilecol .tile.medium {background:transparent !important;}
		.tilecol a {height:50px !important;margin-bottom:0!important;min-height:50px!important;border-top:1px solid #e4e4e2 !important; border-bottom-width:0px !important; padding-top:0 !important; padding-bottom:0 !important; font-size:16px !important; color:#363636 !important}
		.tilecol .simplelink {line-height:50px; font-size:16px; font-family:Arial, Tahoma, sans-serif; text-transform:none;color:#256892 !important;}
		div.tilecol .tile h3 {font-size:16px !important; float:left;margin: 15px 0 10px 0; font-family:Arial, Tahoma, sans-serif; text-transform:none;color:#256892;}
		.tilecol .tile i {float:right; display:none;}
		div.tilecol .simplelink {width:100%!important; margin:0; padding:5px 0;}
		.tiles .tile.large.catbycar::after, .tiles .tile.medium.catbycar::after, .tiles .tile.small.catbycar::after, .tiles .simplelink.catbycar::after {padding:0 5px;}
		.tiles .tile.large {background:#fff !important;}
		.tiles .tile.large h3 { color:#256892 !important;}
		.tiles>div:first-of-type::after, .catalogListItem>div:first-of-type::after {content:''; position:absolute; height:4px; width:100%; left:0 ;top:0;}
		.tiles.general>div:first-of-type::after, .catalogListItem.general>div:first-of-type::after {background:#258CC8}
		.tiles.fluids>div:first-of-type::after, .catalogListItem.fluids>div:first-of-type::after {background:#C54661}
		.tiles.acces>div:first-of-type::after, .catalogListItem.acces>div:first-of-type::after{background:#e8c03e}
		.tiles.electro>div:first-of-type::after, .catalogListItem.electro>div:first-of-type::after{background:#5BC19B}
		.blocks-toggle-background {display:none;}
		.newsdiv {width:100%;}
		div.catalogListItem {clear:both; width:100%;}
		div.catalogListItem a{width:100%;}
		.tiles .tile.large:hover::before, .tiles.general .tile.large:hover::after {display:none;}
		div.catalogListItem .seeall-list {display:none;}		
		div.catalogListItem .tile.catbycar .catbycar-icon, div.catalogListItem .simplelink.catbycar .catbycar-icon {right:5px;}
		a.simplelink.seeall {background:none;}
		a.simplelink.seeall::after {display:none !important;}
	}

	.catalogListItem  {width:50%; float:left; margin-bottom:20px;opacity:1; position:relative;}
	.catalogListItem a, .catalogListItem h3 {font-size:14px; clear:both; float:left; border:none;height: 27px;}	
	.catalogListItem .tile, .catalogListItem .simplelink {position:relative;}
	.catalogListItem .tile.catbycar .catbycar-icon, .catalogListItem .simplelink.catbycar .catbycar-icon {right:-45px;}
	.catalogListItem .tile .catbycar-icon, .catalogListItem .simplelink .catbycar-icon {display:none;}

	div.viewedPanel {clear:both;overflow: hidden;padding-bottom:25px; position:relative;transition:max-height 0.7s ease; }

.blocks-toggle-background {
	width: 100%;
	height: 19px;
	clear: both;
	margin-bottom: 10px;
}

	.blocks-toggle-background a {
		color: gray;
		font-size: 11px;
		text-transform: uppercase;
		float: right;
		position: relative;
		opacity: 0.7;
		transition: all 0.3s ease;
		font-weight:bold;
	}

		.blocks-toggle-background a::after {
			content: '';
			width: 20px;
			height: 19px;
			background: url(//s.exist.ru/img2/blocks-toggle.png) no-repeat;
			display: inline-block;
			position: absolute;
			left: -25px;
		}

		.blocks-toggle-background a.active, .blocks-toggle-background a.active:hover {
			opacity: 1;
		}

		.blocks-toggle-background a.listbtn.blocks {
			margin-right: 42px;
		}

		.blocks-toggle-background a.listbtn.list::after {
			background-position: -42px 0;
		}

		.blocks-toggle-background a.listbtn.blocks::after {
			background-position: 0 0;
		}

		.blocks-toggle-background a.listbtn.list.active::after {
			background-position: -42px -38px;
		}

		.blocks-toggle-background a.listbtn.blocks.active::after {
			background-position: 0 -38px;
		}

		.blocks-toggle-background a:hover {
			opacity: 0.6;
		}

	.tiles .seeall-list {display:none;}

	.catalogListItem .seeall-list {display:block; font-size:15px; padding-top:10px; height: 30px;	margin:0;width:100%; border-top:2px solid;    font-family: Intro, Arial, Tahoma, sans-serif;text-transform: uppercase;}

	.catalogListItem.general .seeall-list {border-color:#258CC8;}
	.catalogListItem.fluids .seeall-list {border-color:#C54661;}
	.catalogListItem.acces .seeall-list {border-color:#e8c03e;}
	.catalogListItem.electro .seeall-list {border-color:#5BC19B;}
		