/* START SASS VARIABLES */
/* START SASS MIXINS */
/* START GENERAL STYLING */
/* line 79, style.scss */
body {
	background: #f6f8f8;
	font-family:'Avenir Next Cyr W00 Regular', "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
}

/* line 82, style.scss */
p {
    font-family:'Avenir Next Cyr W00 Regular', "Helvetica Neue", sans-serif;
	font-weight: 500;
}

.light{
    font-family:'Avenir Next Cyr W00 Light', "Helvetica Neue", sans-serif;
	font-weight: 400;
}

/* line 86, style.scss */
.wholewrap {
  width: 100%;
  padding: 0 30px;
}
/* line 16, style.scss */
.wholewrap {
  *zoom: 1;
}
/* line 18, style.scss */
.wholewrap:before, .wholewrap:after {
  content: "";
  display: table;
}
/* line 22, style.scss */
.wholewrap:after {
  clear: both;
}
@media only screen and (max-width: 560px) {
  /* line 86, style.scss */
  .wholewrap {
    padding: 0 15px;
  }
}

/* line 95, style.scss */
.flatlist {
  margin: 0;
  padding: 0;
}
	#navwrap.slack-app .flatlist{
		visibility: hidden;
	}
/* line 98, style.scss */
.flatlist li {
  list-style: none;
/*   display: inline-block; */
	text-align: center;
}

/* line 103, style.scss */
.lazy {
  display: none;
}

/* START SCREENSIZE STYLING */
/* line 109, style.scss */
.screensize {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: blue;
  display: none !important;
}
@media only screen and (min-width: 1001px) {
  /* line 109, style.scss */
  .screensize {
    background: #e74c3c;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 109, style.scss */
  .screensize {
    background: #e67e22;
  }
}
@media only screen and (max-width: 800px) {
  /* line 109, style.scss */
  .screensize {
    background: #1abc9c;
  }
}
@media only screen and (max-width: 560px) {
  /* line 109, style.scss */
  .screensize {
    background: #3498db;
  }
}
/* line 130, style.scss */
.screensize p {
  color: white;
  font-size: 0.8em;
  text-align: center;
  line-height: 50px;
  margin: 0;
}

/* START NAVBAR STYLING */
/* line 142, style.scss */
.navfullactive {
}

/* line 145, style.scss */
#navwrap {
  background: #3eb8d2;
  position: fixed;
  top: 0px;
  z-index: 11;
}
	#navwrap.slack-app{
		position: static;
	}
/* line 150, style.scss */
#navwrap .row .navlogo img {
  max-width: 300px;
  margin-top: 25px;
  border: none;
}
/* line 155, style.scss */
#navwrap .row #navlist {
  float: right;
  width: auto;
}
/* line 158, style.scss */
#navwrap .row #navlist li {
	display: inline-block;
  /*
  				#login {
  					margin-right: 0;
  					color: white;
  					background: $dteal;
  					line-height: 1;
  					padding: 15px;
  					border-radius: 3px;

  					&:hover {
  						background: white;
  						color: $teal;
  					}
  				}
  */
}
/* line 159, style.scss */
#navwrap .row #navlist li .navactive {
  color: white !important;
  background-image: url(../img/nav-active.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 20px 10px;
}
/* line 166, style.scss */
#navwrap .row #navlist li .navitem {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  color: #275c6a;
  line-height: 100px;
  font-size: 0.9em;
  margin: 0 15px;
  display: block;
}
/* line 176, style.scss */
#navwrap .row #navlist li .navitem:hover {
  color: white;
}
/* line 195, style.scss */
#navwrap .row #navlist li #anchorinstall{
    padding: 15px; 
    background: #e74c3c;  
}
#navwrap .row #navlist li #anchorinstall:hover{
    background: #c0392b;
}
#navwrap .row #navlist li #anchorinstall,
.link-texting-wrapper .link-texting-btn,
#installwrap .row .column .installbtn.new{
  border-radius: 3px;
  line-height: 1;
  color: white;
}
/* line 202, style.scss */
#navwrap .row #navlist li #anchorinstall:hover,
.link-texting-wrapper .link-texting-btn:hover,
#installwrap .row .column .installbtn.new:hover{
  color: white;
}

@media only screen and (max-width: 800px) {
  /* line 215, style.scss */
  #navwrap .row .navlogo {
	  float: left;
  }
  #navwrap .row .navlogo img {
    max-width: 100%;
    margin: 23px auto;
	 width: 330px;
  }
  /* line 220, style.scss */
  #navwrap .row #navlist {
    float: right;
    width: intrinsic;
    margin: 0 auto;
  }
  #navwrap .row #navlist #navfeat {
	  display: none;
  }
  #navwrap .row #navlist li {
	  display: none;
  }
  #navwrap .row #navlist #liinstall {
	  display: block;
  }
  #navwrap .row #navlist #liinstall #anchorinstall {
	  padding: 13px;
	  margin: 25px 0 0;
	  font-size: 1em;
  }
}
@media only screen and (max-width: 560px) {
  /* line 215, style.scss */
  #navwrap .row .navlogo {
	  float: none;
	  float: left;
  }
  #navwrap .row .navlogo img {
    max-width: 100%;
    margin: 23px auto 23px;
    width:255px;
  }
  /* line 220, style.scss */
  #navwrap .row #navlist {
    float: none;
    width: intrinsic;
    margin: 0 auto;
/*     width: 100%; */
	float: right;
  }
  #navwrap .row #navlist #navfeat {
	  display: none;
  }
  #navwrap .row #navlist li {
	  display: none;
  }
  #navwrap .row #navlist #liinstall {
	  display: block;
  }
  #navwrap .row #navlist #liinstall #anchorinstall {
	  padding: 12px;
	  margin: 26px 0 0;
	  font-size: 0.8em;
	  text-align: center;
	  }
}
@media only screen and (max-width: 400px) {
  /* line 278, style.scss */
/*
  #navwrap .row #navlist {
    display: block;
  }
  #navwrap .row #navlist #navfeat {
	  display: none;
  }
  #navwrap .row #navlist li {
	  display: none;
  }
  #navwrap .row #navlist #liinstall {
	  display: block;
  }
  #navwrap .row #navlist #liinstall #anchorinstall {
	  margin: 0;
	  padding: 22px 33px;
  }
*/




  /* line 215, style.scss */
  #navwrap .row .navlogo {
	  float: none;
	  float: left;
  }
  #navwrap .row .navlogo img {
    max-width: 100%;
    margin: 23px auto 23px;
    width: 226px;
  }
  /* line 220, style.scss */
  #navwrap .row #navlist {
    float: none;
    width: intrinsic;
    margin: 0 auto;
/*     width: 100%; */
	float: right;
  }
  #navwrap .row #navlist #navfeat {
	  display: none;
  }
  #navwrap .row #navlist li {
	  display: none;
  }
  #navwrap .row #navlist #liinstall {
	  display: block;
  }
  #navwrap .row #navlist #liinstall #anchorinstall {
	  padding: 8px;
	  margin: 26px 0 0;
	  font-size: 0.6em;
	  text-align: center;

/*
	  background: #419ab1;
	  color: white;
*/
/* 	background: #275c6a; */
/* 	color: #3eb8d2; */
  }







}
/* START FOOTER STYLING */
/* line 301, style.scss */
#footwrap {
  background: #2e2e2e;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 306, style.scss */
#footwrap .row .socialwrap {
  float: right;
}
/* line 16, style.scss */
#footwrap .row .socialwrap {
  *zoom: 1;
}
/* line 18, style.scss */
#footwrap .row .socialwrap:before, #footwrap .row .socialwrap:after {
  content: "";
  display: table;
}
/* line 22, style.scss */
#footwrap .row .socialwrap:after {
  clear: both;
}
/* line 309, style.scss */
#footwrap .row .socialwrap .socialitem {
  margin: 0 0 10px;
}
/* line 321, style.scss */
#footwrap .row .socialwrap p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
  color: #484848;
  text-align: left;
}
/* line 327, style.scss */
#footwrap .row .socialwrap p a {
  color: inherit;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 331, style.scss */
#footwrap .row .socialwrap p a:hover {
  color: white;
}
/* line 337, style.scss */
#footwrap .row .footlist-small {
  display: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
/* line 340, style.scss */
#footwrap .row .footlist-small li {
  margin: 0 10px;
}
/* line 342, style.scss */
#footwrap .row .footlist-small li a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #419ab1;
  text-decoration: none;
  font-size: 0.8em;
}
/* line 348, style.scss */
#footwrap .row .footlist-small li a:hover {
  color: white;
}
/* line 354, style.scss */
#footwrap .row .footlist {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0 80px 0 0;
  float: left;
}
/* line 359, style.scss */
#footwrap .row .footlist li {
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  list-style: none;
  margin: 5px 0;
}
/* line 364, style.scss */
#footwrap .row .footlist li:first-child {
  color: white;
}
/* line 367, style.scss */
#footwrap .row .footlist li a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #419ab1;
  text-decoration: none;
  font-size: 0.8em;
}
/* line 373, style.scss */
#footwrap .row .footlist li a:hover {
  color: white;
}


@media only screen and (max-width: 700px) {
	/* line 306, style.scss */
	#footwrap .row .socialwrap {
	  float: none;
	  margin: 0 auto;
	  display: block;
	  width: intrinsic;
	}
	#footwrap .row .socialwrap .socialitem {
	  margin: 10px 10px 10px 0;
	  display: inline-block;
	}
	#footwrap .row .socialwrap #gpluswrap {
		margin-left: 20px;
	}
	#footwrap .row .socialwrap p {
	  text-align: center;

	}
}



@media only screen and (max-width: 560px) {
  /* line 384, style.scss */
  #footwrap .row .socialwrap {
    float: none;
    margin-bottom: 30px;
  }
  /* line 387, style.scss */
  #footwrap .row .socialwrap .socialitem {
/*     display: none; */
	float: none;
	width: 100%;
	display: block;
	margin: 10px auto;
  }
	#footwrap .row .socialwrap #gpluswrap {
		margin-left: 0px;
	}
  /* line 390, style.scss */
  #footwrap .row .socialwrap p {
    text-align: center;
  }
  /* line 394, style.scss */
  #footwrap .row .footlist-small {
    display: block;
    float: none;
    margin: 0 auto;
    width: intrinsic;
    line-height: 24px;
  }
  /* line 400, style.scss */
  #footwrap .row .footlist {
    display: none;
  }
}
/* START SUBPAGE STYLING */
/* line 412, style.scss */
#privacywrap,
#toswrap,
#aboutwrap {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f6f8f8;
}
/* line 417, style.scss */
#privacywrap .row .border,
#toswrap .row .border,
#aboutwrap .row .border {
  width: 80%;
  border-bottom: 3px solid #ecf0f1;
  margin: 50px auto;
}
/* line 422, style.scss */
#privacywrap .row p, #privacywrap .row em,
#toswrap .row p,
#toswrap .row em,
#aboutwrap .row p,
#aboutwrap .row em {
  color: #5f7f9f;
}


#landingwrap .row #lpheadline{
	font-weight: 400 !important;
}


/* line 425, style.scss */
#privacywrap .row h1, 
#privacywrap .row h3,
#toswrap .row h1,
#toswrap .row h3,
#aboutwrap .row h1,
#aboutwrap .row h3 {
  font-weight: 600;
  color: #34495e;
}
/* line 432, style.scss */
#privacywrap .row p,
#toswrap .row p,
#aboutwrap .row p {
  line-height: 1.6em;
  font-size: 1.2em;
}
/* line 439, style.scss */
#privacywrap .row em,
#toswrap .row em,
#aboutwrap .row em {
  font-size: 0.8em;
}

/* START LANDING PAGE STYLING */
/* line 449, style.scss */
#landingwrap {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 80px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
    #landingwrap.mainImg{
        background-color: transparent;
        padding-bottom: 50px;
    }
/* line 453, style.scss */
#landingwrap .row {
  position: relative;
}
/* line 456, style.scss */
#landingwrap .row #lpheadline {
  font-weight: 600;
  font-size: 3.75em;
  line-height: 1.3em;
  margin: 0px 0 0;
  color: #34495e;
  text-align: center;
  display: none;
}
/* line 465, style.scss */
#landingwrap .row p {
  line-height: 1.6em;
  color: #34495e;
  font-size: 1.2em;
}
#landingwrap .row p.pro{
    font-size: 42px;
}
/* line 471, style.scss */
#landingwrap .lpimg {
  margin: 50px auto 0;
  position: relative;
  max-width: 1200px;
  /* 		display: none; */
}
/* line 477, style.scss */
#landingwrap .lpimg img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  top: 0;
  left: 0;
  position: absolute;
  			/*
  position: absolute;
  			background: blue;
  */
}
/* line 489, style.scss */
#landingwrap .lpimg .lpimgplaceholder {
  /* 			position: absolute; */
  background: none;
  max-width: 1200px;
  width: 100%;
  padding-bottom: 56%;
  /* 			top: 0; */
}
/* line 497, style.scss */
#landingwrap .lpimg .showoffbadge, #pricingWrap .showoffbadge{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #e74c3c;
  color: white;
  padding-top: 20px;
  line-height: 1.3em;
  z-index: 10;
  left: 5%;
  top: -5%;
/*
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
*/
}
#pricingWrap .showoffbadge{
  font-size: 9px;
  padding-top: 24px;
  width: 100px;
  height: 100px;
  left:-5px;
  top: -80px;
}
    #pricingWrap .showoffbadge > .ebp{
        font-size: 12px;
    }
/* line 519, style.scss */
#landingwrap .lpimg .showoffbadge:hover {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  /* line 529, style.scss */
  #landingwrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /* line 532, style.scss */
  #landingwrap .row {
    /*
    			.installbtn {
    				margin: 0 auto;
    			}
    */
  }
  /* line 533, style.scss */
  #landingwrap .row h1, #landingwrap .row p {
    text-align: center;
  }
  /* line 542, style.scss */
  #landingwrap img {
    max-width: 70%;
    margin: 0 auto;
    display: block;
  }
}
@media only screen and (max-width: 560px) {
  /* line 553, style.scss */
  #landingwrap .row #lpheadline {
    font-size: 2.4em;
  }

  /* line 558, style.scss */
  .showoffbadge {
/*     display: none; */
  }
  #landingwrap .lpimg .showoffbadge{
    display: block;
    width: 60px;
    height: 60px;
    font-size: 0.6em;
    padding-top: 15px;
  }
  #pricingWrap .showoffbadge{
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  /* line 563, style.scss */
  #landingwrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }
      #landingwrap.pro{
          display: block;
      }
  #landingwrap .row #lpheadline {
    font-size: 2.1em;
  }
  #landingwrap > .row > .column.pro{
/*     height: 36vw; */
    padding-bottom: 40% !important;
  }
  #pricingWrap .showoffbadge{
    display: none;
  }

}
/* line 568, style.scss */
#landingdlwrap {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e8eded;
}
/* line 573, style.scss */
#landingdlwrap .row .installbtn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  display: block;
  text-decoration: none;
  background: #e74c3c;
  color: white;
  width: intrinsic;
  padding: 25px;
  border-radius: 3px;
  margin: 0 auto;
  width: 265px;
  text-align: center;
  font-size: 1.2em;
}
/* line 589, style.scss */
#landingdlwrap .row .installbtn:hover {
  background: #c0392b;
}

/* START BIG FEATURES STYLING */
/* line 598, style.scss */
#featurewrap,
#slack-app-feature-one {
  background: #3eb8d2;
}
    #featurewrap.contactlist,
    #bigfeatwrap.photosync{
        background: #90D2EF;
    }
/* line 602, style.scss */
#featurewrap .row .column h2, 
#featurewrap .row .column p, 
#featurewrap .row .column a {
  text-align: left;
}
/* line 605, style.scss */
#featurewrap .row .column p {
  color: #34495e;
}

/* line 611, style.scss */
#bigfeatwrap,
#slack-app-feature-two {
  background: #419ab1;
}

/* line 615, style.scss */
#featurewrap,
#bigfeatwrap {
  padding-top: 100px;
  padding-bottom: 100px;
}

#bigfeatwrap .text-wrapper{
    float: right;
}
#bigfeatwrap .img-wrapper{
    float: left;
}

/* line 620, style.scss */
#featurewrap .row .column h2, 
#featurewrap .row .column p, 
#featurewrap .row .column a,
#bigfeatwrap .row .column h2,
#bigfeatwrap .row .column p,
#bigfeatwrap .row .column a {
  color: white;
}
/* line 623, style.scss */
#featurewrap .row .column h2,
#bigfeatwrap .row .column h2 {
	font-weight: 500;
	font-size: 3em;
	line-height: 1.2em;
	margin: 0;
}
/* line 628, style.scss */
#featurewrap .row .column p,
#bigfeatwrap .row .column p {
  line-height: 1.6em;
  color: #2c3e50;
  font-size: 1.5em;
}
/* line 633, style.scss */
#featurewrap .row .column .learnmorebtn,
#bigfeatwrap .row .column .learnmorebtn {
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: block;
  width: intrinsic;
  padding: 30px 60px;
  border-radius: 3px;
  background: #34495e;
  text-decoration: none;
  width: 240px;
  text-align: center;
}
/* line 646, style.scss */
#featurewrap .row .column .learnmorebtn:hover,
#bigfeatwrap .row .column .learnmorebtn:hover {
  background: #2c3e50;
}

#featurewrap.pro.last-pro-wrap .row .column.right,
#bigfeatwrap.pro .row .column.right{
    float: right;
    text-align: right;
}

#featurewrap.pro img, #bigfeatwrap.pro img{
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

#featurewrap.pro img.graphic{
	max-width: 388px;
}


@media only screen and (max-width: 800px) {
  /* line 655, style.scss */
  .slack-install-wholewrap,
  #smallfeatwrap,
  #featurewrap,
  #bigfeatwrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /* line 660, style.scss */
  .slack-install-wholewrap .row .column h2,
  #featurewrap .row .column h2, #featurewrap .row .column p,
  #bigfeatwrap .row .column h2,
  #bigfeatwrap .row .column p {
    text-align: center;
  }
  /* line 663, style.scss */
  #featurewrap .row .column .learnmorebtn,
  #bigfeatwrap .row .column .learnmorebtn {
    margin: 0 auto;
  }
  /* line 666, style.scss */
  #featurewrap .row .column img,
  #bigfeatwrap .row .column img {
    margin: 0 auto 20px;
    display: block;
  }
  
  /*   START KEVIN CSS */
  .showoffbadge {
    display: none;
  }

    #pricingWrap .innerContent{
/*
        top: 10px;
        right: 10px;
        left: 10px;
        bottom: 10px;
*/
    }
        #pricingWrap > .innerContent span.planPrice{
            font-size: 72px;
        }
        #pricingWrap > .innerContent p.planDescription{
            font-size: 36px;
            margin-top: 24px;
        }
        #pricingWrap > .innerContent .annualPrice{
            font-size: 16px;
            margin: 30px 0px;
        }
            #pricingWrap .toggleButton{
                font-size: 28px;
            }
    #featurewrap img.pro, #bigfeatwrap img.pro{
        max-width: 200px;
    }

/* END KEVIN CSS */

}

@media only screen and (max-width: 400px) {
	#bigfeatwrap .row .column h2,
	#featurewrap .row .column h2 {
		font-size: 2.1em !important;
	}
	#bigfeatwrap .row .column p,
	#featurewrap .row .column p {
		font-size: 1.3em !important;
/* 		text-align: justify !important; */
	}

/*   START KEVIN CSS */
    #logoWrap.pro{
        margin-bottom: 20px;
    }
        #logoWrap.pro.mainImg{
            margin-bottom: 0px;
        }

    #pricingWrap .innerContent{
/*
        top: 10px;
        right: 10px;
        left: 10px;
        bottom: 10px;
*/
    }
        #pricingWrap > .innerContent span.planPrice{
            font-size: 2em;
        }
        #pricingWrap > .innerContent p.planDescription{
            font-size: 2em;
        }
        #pricingWrap > .innerContent .annualPrice{
            font-size: .8em;
            margin: 15px 0px;
        }
            #pricingWrap .toggleButton{
                font-size: 1.5em;
            }
    #featurewrap img.pro, #bigfeatwrap img.pro{
        max-width: 125px;
    }

/*
    #landingwrap .row .column {
        height: 100%;
    }
*/
/* END KEVIN CSS */
}

@media only screen and (max-width: 320px) {/* IPHONE SPECIFIC STYLING */
    #navwrap .row .navlogo img{
        width: 180px;
    }
    #logoWrap .innerContent, #pricingWrap .innerContent{
/*         border: 1px solid blue; */
        height: 150px;
    }
        #pricingWrap > .innerContent .planPrice{
            font-size: 1.6em;
        }
        #pricingWrap > .innerContent .planDescription{
            font-size: 1.6em;
        }
        #pricingWrap > .innerContent .annualPrice{
            font-size: .8em;
            margin: 10px 0px;
        }
            #pricingWrap .toggleButton{
                font-size: 1.2em;
            }

}



/*
@media only screen and (max-width: 400px) {
  #bigfeatwrap .row .column h2,
  #featurewrap .row .column h2 {

  }
}
*/

/* START SMALL FEATURES STYLING */
/* line 677, style.scss */
#smallfeatwrap,
#slack-app-feature-three {
  padding-top: 70px;
  padding-bottom: 70px;
}
/* line 680, style.scss */
#smallfeatwrap .row {
  margin: 20px auto;
}
/* line 682, style.scss */
#smallfeatwrap .row .installbtn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  display: block;
  text-decoration: none;
  background: #e74c3c;
  color: white;
/*   width: intrinsic; */
  width: 265px;
  padding: 30px;
  margin: 20px auto 0;
  border-radius: 3px;
  text-align: center;
}
/* line 697, style.scss */
#smallfeatwrap .row .installbtn:hover {
  background: #c0392b;
}
/* line 702, style.scss */
#smallfeatwrap .row .column h3, #smallfeatwrap .row .column p, #smallfeatwrap .row .column a {
  margin: 0;
}
/* line 705, style.scss */
#smallfeatwrap .row .column h3 {
  color: #34495e;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
}
/* line 713, style.scss */
#smallfeatwrap .row .column p {
  line-height: 1.6em;
  color: #34495e;
  font-size: 1.1em;
}
/* line 718, style.scss */
#smallfeatwrap .row .column a {
  color: #3498db;
}

/* START INSTALL STYLING */
/* line 728, style.scss */
#installwrap {
  padding-bottom: 100px;
}
/* line 731, style.scss */
#installwrap .row {
  margin: 100px auto 0;
}
/* line 734, style.scss */
#installwrap .row .column .installstep {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0;
  background: #e74c3c;
  text-align: center;
  color: white;
  border-radius: 50%;
  font-size: 1.5em;
}
/* line 746, style.scss */
#installwrap .row .column h3 {
  font-weight: 500;
  color: #34495e;
  font-size: 2.3em;
  margin: 10px 0 0;
}
/* line 752, style.scss */
#installwrap .row .column h3 a {
  text-decoration: none;
  font-size: 0.8em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 757, style.scss */
#installwrap .row .column h3 a:hover {
  color: #2980b9;
}
/* line 762, style.scss */
#installwrap .row .column a {
  color: #3498db;
}
/* line 765, style.scss */
#installwrap .row .column p {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #5f7f9f;
}
/* line 770, style.scss */
#installwrap .row .column .installbtn.new {
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  top: -16px;
  display: inline-block;
}

#installwrap .row .column .installbtn.old {
  background: #010101 url(../img/btn-gp.png);
  width: 180px;
  height: 70px;
  border-radius: 5px;
  display: block;
}

/* line 778, style.scss */
#installwrap #brotabwrap {
  margin-top: 20px;
}
/* line 780, style.scss */
#installwrap #brotabwrap .tabnamstyle {
  padding: 0;
  background: white;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
/* line 786, style.scss */
#installwrap #brotabwrap .tabnamstyle li {
  margin: 0;
}
/* line 788, style.scss */
#installwrap #brotabwrap .tabnamstyle li a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1em;
  color: #34495e;
  text-decoration: none;
  line-height: 50px;
  border-radius: 0;
  border: none !important;
}
/* line 801, style.scss */
#installwrap #brotabwrap .tabnamstyle li.active a {
  border: none !important;
  background: #3eb8d2;
  color: white;
}
/* line 808, style.scss */
#installwrap #brotabwrap .tab-content {
  padding: 30px;
  /* 			border: 1px solid #eee; */
  background: #fefefe;
  border-bottom: 3px solid #ddd;
}
/* line 815, style.scss */
#installwrap #brotabwrap .tab-content .tab-pane b {

  font-size: 1.4em;
}

#installwrap #brotabwrap .tab-content .tab-pane b{
  color: #34495e;    
}

#installwrap #brotabwrap .tab-content .tab-pane .unstyled-instructions,
#installwrap #brotabwrap .tab-content .tab-pane ol li{
  color: #5f7f9f;    
}

/* line 820, style.scss */
#installwrap #brotabwrap .tab-content .tab-pane ol li {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 5px 0;
}
/* line 825, style.scss */
#installwrap #brotabwrap .tab-content .tab-pane ol li a {
  color: #3498db;
}
/* line 830, style.scss */
#installwrap #brotabwrap .tab-content .tab-pane .webappbtn {
	font-family:'Avenir Next Cyr W00 Regular', "Helvetica Neue", sans-serif;	
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	display: block;
	background: #34495e;
	color: white;
	width: intrinsic;
	text-decoration: none;
	padding: 30px;
	border-radius: 3px;
	margin: 50px auto 0;
	display: none;
}
/* line 845, style.scss */
#installwrap #brotabwrap .tab-content .tab-pane .webappbtn:hover {
  background: #2c3e50;
}

@media only screen and (max-width: 800px) {
	#smallfeatwrap{
		padding-top: 50px;
		padding-bottom:50px;
	}
  /* line 855, style.scss */
  #installwrap {
    padding-bottom: 60px;
  }
  /* line 858, style.scss */
  #installwrap .row {
    margin: 60px auto 0;
  }
  /* line 861, style.scss */
  #installwrap .row .column .installstep {
    margin: 0 auto;
  }
  /* line 864, style.scss */
  #installwrap .row .column h3 {
    text-align: center;
  }
  /* line 873, style.scss */
  #installwrap .row .column p {
    text-align: center;
  }
  /* line 876, style.scss */
  #installwrap .row .column .installbtn {
    margin: 0 auto;
  }
}
/* line 912, style.scss */
#tabinstallwrap {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #3eb8d2;
}
/* line 917, style.scss */
#tabinstallwrap .row h2, 
#tabinstallwrap .row p {
  margin: 0;
}
/* line 920, style.scss */
#tabinstallwrap .row h2 {
  font-weight: 500;
  font-size: 3.5em;
  color: white;
  line-height: 1.2em;
  margin-top: 80px;
}
/* line 927, style.scss */
#tabinstallwrap .row p {
  color: #34495e;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-top: 20px;
}
/* line 933, style.scss */
#tabinstallwrap .row .installbtn {
  background: #010101 url(../img/btn-gp.png);
  width: 180px;
  height: 70px;
  border-radius: 5px;
  display: block;
  margin: 30px 0 0;
}

@media only screen and (max-width: 800px) {
  /* line 943, style.scss */
  #tabinstallwrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /* line 947, style.scss */
  #tabinstallwrap .row h2, #tabinstallwrap .row p {
    text-align: center;
  }
  /* line 954, style.scss */
  #tabinstallwrap .row .installbtn {
    background: #010101 url(../img/btn-gp.png);
    width: 180px;
    height: 70px;
    border-radius: 5px;
    display: block;
    margin: 30px auto 0;
  }
  /* line 961, style.scss */
  #tabinstallwrap .row img {
    margin: 40px auto;
  }
}
@media only screen and (max-width: 560px) {
  /* line 972, style.scss */
  #tabinstallwrap .row h2 {
    margin-top: 0;
  }
}
/* line 984, style.scss */
#gtextinstallwrap {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #419ab1;
}
/* line 989, style.scss */
#gtextinstallwrap .row h2, #gtextinstallwrap .row p {
  margin: 0;
}
/* line 992, style.scss */
#gtextinstallwrap .row h2 {
  font-weight: 500;
  font-size: 3.5em;
  color: white;
  line-height: 1.2em;
}
/* line 998, style.scss */
#gtextinstallwrap .row p {
  color: #34495e;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-top: 20px;
}
/* line 1004, style.scss */
#gtextinstallwrap .row .installbtn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  display: block;
  text-decoration: none;
  background: #e74c3c;
  color: white;
  width: intrinsic;
  padding: 30px;
  margin: 30px 0 0;
  border-radius: 3px;
  text-align: center;
}
/* line 1018, style.scss */
#gtextinstallwrap .row .installbtn:hover {
  background: #c0392b;
  cursor:pointer;
}

a#install-chrome-ext{
	text-decoration: underline;
}

a#install-chrome-ext:hover{
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
  /* line 1025, style.scss */
  #gtextinstallwrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /* line 1029, style.scss */
  #gtextinstallwrap .row h2, #gtextinstallwrap .row p {
    text-align: center;
  }
  /* line 1036, style.scss */
  #gtextinstallwrap .row .installbtn {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
    display: block;
    text-decoration: none;
    background: #e74c3c;
    color: white;
    width: intrinsic;
    padding: 30px;
    margin: 30px auto 0;
    border-radius: 3px;
  }
  /* line 1049, style.scss */
  #gtextinstallwrap .row .installbtn:hover {
    background: #c0392b;
  }
  /* line 1053, style.scss */
  #gtextinstallwrap .row img {
    margin: 40px 0;
  }
}
























#presswrap {
	padding-top: 40px;
	padding-bottom: 40px;
}
#presswrap .row {
	padding: 0 0 80px;
}
#presswrap .rownomar {
	padding: 0 !important;
}
#presswrap h1 {
	font-weight: 500;
	color: #34495e;
	text-align: center;
	font-size: 4em;
}
#presswrap .pressdate {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
	font-size: 0.8em;
	color: #34495e;
/* 	background: red; */

}
.prd {
	background: #3eb8d2;
	width: 80px; height: 80px;
	border-radius: 50%;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
}
.smalllink {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
	text-decoration: none;
	color: #5f7f9f;
	margin: 15px 0;
	display: block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.smalllink:hover {
	color: #3eb8d2;
}
.arttitle {
	font-weight: 600;
	color: #34495e;
	text-decoration: none;
	font-size: 1.4em;
	line-height: 1.4em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    	text-shadow: 0 1px white;
}
.arttitle:hover {
	color: #3eb8d2;
}
.artp {
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
	line-height: 1.6em;
	font-size: 1.2em;
	color: #5f7f9f;
	margin: 0;
	padding: 0;
}


@media only screen and (max-width: 800px) {
	#presswrap {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#presswrap .row {
		padding: 0 0 40px;
	}
	#presswrap h1 {
		text-align: center;
		font-size: 3.4em;
	}
	.prd {
		margin: 30px auto;
	}
	.arttitle,
	.artp,
	.smalllink {
		text-align: center;
	}
	.arttitle {
		display: block;
	}
	.smalllink {
		margin: 0 0 10px;
	}
	.artp {
		font-size: 1em;
		line-height: 1.4em;
	}
}










#modalalert {
	position: fixed;
	width: 400px;
	background: #f6f8f8;
	border-radius: 2px;
	padding: 40px;
	top: -55%;
	left: 50%;
	margin-left: -200px;
	z-index: 1050;
	display: block;
	opacity: 0;
	box-shadow: 0 8px rgba(0,0,0,0.4);
	overflow: hidden;
}
.modalxout {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: #3eb8d2;
	color: white;
	font-weight: bold;
	line-height: 50px;
	padding: 0 20px;
	cursor: pointer;
}
#modalalert h1 {
	text-align: center;
  font-weight: 500;
  font-size: 3.5em;
  color: #34495e;
}
#modalalert p {
  color: #5f7f9f;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  line-height: 1.5em;
}
#modalalert a {
	color: #3498db;
}
.modaloverlay {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 0;
	z-index: 1040;
}
.notshown {
	display: none !important;
}


/* START KEVINS CSS FOR NEW PRO PAGE */

#logoWrap, #pricingWrap{
    padding-bottom: 40%;
}
    #logoWrap.mainImg{
      padding-bottom: 30%;
    }
    .innerContent{
        position:absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
    }
#lpimgshot.pro{
    display:block;
    height: 90%;
    width: auto;
    margin: 5% auto;
}
    .mainImg #lpimgshot.pro{
        height: 100%;
        margin: 0 auto;
    }

.mightyClearfix:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
    .test:after{
        
    }   
    .jumbotron a{
        text-decoration: none;
    }
    .titleLogo, .jumbotron{
/*         float: left; */
    }
    .titleLogo{
    }
        .titleLogo img{
            height: 210px;
        }
    .jumbotron{
        position: relative;
        top: 50%;
        color: #34495E;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
/*         padding: 30px 0px; */
/*         width:100%; */
/*         margin: 0 auto; */
    }
        .planDescription{
            font-weight: 400;
            margin-bottom: 0px;
            text-align: center;
            margin-top: 0px;
            font-size: 48px;
/*             font-size: 6vh; */
        }
            .jumbotron .planPrice{
                font-size: 92px;
/*                 font-size: 16vh; */
                line-height:0.9em;
                position:relative;
            }
            .planTitle, .planPrice{
                font-weight: 400;
            }
        .earlyBirdWrapper{
            position: absolute;
            top: -1px;
/*             top: 28px; */
/*
            right: -74px;
            font-size: 12px;
*/
            right: -12px;
            font-size: 10px;
            color: #8A8787;
            font-weight: 500;
        }
            .earlyBirdWrapper img{
                margin-top: -5px;
            }
            .earlyBirderWrapper:hover{
                cursor: default;
            }
/*         OVERRIDING BOOTSTRAP TOOLTIP CSS JUST FOR THIS CASE */
        .jumbotron .tooltip{
            min-width: 108px;
            top: 6px !important;
        }
            .jumbotron .tooltip-inner{
                background-color: #000;
                color: #fff;
            }
            .jumbotron .tooltip.right .tooltip-arrow{
                top: 10% !important;
                left: 0px;
                margin-top: -7px;
                border-color: transparent;
                border-bottom-color: transparent !important;
                border-top-color: #000;
                border-width: 5px;
            }
        .jumbotron .titleText, .jumbotron .planPrice{
            cursor: default;
        }
        .ctaWrapper{
            text-align: center;
        }
            .ctaSignUp{
                font-weight: 400;
                position: relative;
                text-shadow: none;
                background-color: #E74C3C;
                background-image: none;
                padding: 15px 50px;
                font-size: 20px;
                border: 0px;
                color: #fff;
            }
                .ctaSignUp:hover, .ctaSignUp:focus, .ctaSignUp:active{
                    background-color: #FA5241;
                }
        .annualPrice{
            text-align:center;
            font-size: 20px;
/*             font-size: 2.5vh; */
            opacity: 0.8;
            color:#419ab1;
            margin: 40px 0px;
            font-weight: 400;
        }
        .planToggleContainer{
/*
            margin-top: 20px;
            margin-bottom: 25px;
*/
        }
            .divider{
                font-size: 24px;
            }
            .planToggleWrapper{
                text-align: center;
                font-weight: 400;
            }
                .toggleButton{
                    color: #7A7979;
                    font-size: 36px;
/*                     font-size: 5vh; */
                    margin: 0px 17px;
                }
                    .toggleButton:hover{
                        text-decoration: none;
                    }
                    .toggleButton:hover, .toggleButton.active{
                        color: #34495E;
                    }
                    .toggleButton.active{
                        border-bottom: 3px solid #34495E;
/*                         font-weight: 500; */
                    }
                    #annualPlan{
                        
                    }
                    #monthlyPlan{
                        
                    }
                    
/* new profeature styling */

.pro-feature{
    background-image: url(../img/ribbononly.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% auto;
    width: 47px;
    height: 16px;
    position: absolute;
    top: -20px;
    left: -13px;
}

/* Desktop App Install Page */

.mltextwrap{
    color: #34495E;    
}
    .desktop-title{
        font-size: 48px;
        font-weight: 500;
        text-align: center;
        margin: 1em 0px;
    }
    .install-btn-wrapper{
        padding-bottom: 50px;
        text-align: center;
    }
        .install-btn{
            display: inline-block;
            padding: 50px 40px;
            margin: 0px 15px 20px;
            border: 1px solid #CCC;
            border-radius: 5px;
        	transition: all 0.2s ease;
    		-moz-transition: all 0.2s ease;
    		-o-transition: all 0.2s ease;
    		-webkit-transition: all 0.2s ease;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            width: 340px;
        }
            .install-content{
                color: #34495E;
                margin-bottom: 20px;
                font-size: 24px;
/*                 max-width: 240px; */
/*                 font-weight: 100; */
                line-height: 1.2em;
            }
                .install-content: hover{
                    text-decoration: none;
                }
            .logo-wrapper > .logo{
                height: 200px;
                width: auto;
            }
        .install-btn:hover{
            -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 1px 10px rgba(0,0,0, 0.75);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.75);
        }
/* New install buttons on /install */
a.new-install-btn{
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    font-family:'Avenir Next Cyr W00 Regular', "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #FFF !important;
    display: inline-block;
    padding: 30px 30px 30px 80px;
    border-radius: 3px;
    background-color: #3EB8D2;
    font-size: 25px;
    font-weight: 400;
    margin: 15px 0px 15px 10px;
    background-repeat: no-repeat;
    width: 530px;
    background-size: 36px auto;
    background-position: 16px center;
}
    a.new-install-btn:hover{
        background-color: #389BB5;
        cursor: pointer;
    }
    a.new-install-btn,
    a.new-install-btn:hover,
    a.new-install-btn:focus{
        text-decoration: none !important;
    }
a#install-chrome-ext{
    background-position: 24px center;
    background-image: url(../img/chrome_logo_128x128.png);
}
a#launch-webapp{
    background-image: url(../img/mighty-computer.png); 
    background-size: 44px auto;
    background-position: 21px center;
}

a#install-chrome-ext:hover{
}
#dlchrome ul{
    list-style: none;
    font-size: 22px;
    padding-left: 20px;
}

.link-texting-wrapper .link-texting-btn,
#installwrap .row .column .installbtn.new{
    font-size: 18px;
    padding: 12px 18px;
    height: 44px;
    background-color: #3EB8D2;
/*
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
*/
}
    .link-texting-wrapper .link-texting-btn:hover,
    #installwrap .row .column .installbtn.new:hover{
        background-color: #389BB5;
    }
.link-texting-wrapper .link-texting-btn.success{
    background-color: transparent;
    color: green;
}
    .link-texting-wrapper .link-texting-btn.success:hover{
        cursor: default;
    }
.link-texting-wrapper .link-texting-btn{
    font-family:'Avenir Next Cyr W00 Regular', "Helvetica Neue", sans-serif;
    font-weight: 400;
    width: auto;
    min-width: 182px;
}
.link-texting-wrapper .link-texting-btn{
    width: 234px;
}
    .link-texting-wrapper{
    }
        #link-texting-inner-wrapper{
            margin: 15px 0px;
        }
            #link-texting-action-wrapper{
                width: auto;
                display: block;
            }
                #link-texting-action-wrapper .link-texting-input{
                    height: 44px;
                }
    #install-action-separator{
        position: relative;
        top: -16px;
        color: #5F7F9F;
        font-weight: 500;
        font-size: 16px;
        margin: 0px 5px;
    }
@media only screen and (max-width: 800px) {
    #link-texting-action-wrapper{
        text-align: center;
    }
}
#dlopera ol,
#dlsafari ol,
#dlff ol{
    padding-left: 0px;
}
#dlopera li,
#dlsafari li,
#dlff li {
    list-style: none;
}

#slack-landing-container{
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
}
.slack-install-wholewrap{
	padding: 60px 0px;
}
	.slack-install-wholewrap.center{
		text-align: center;
	}
#slack-app-landingwrap{
	background-color: #fff;
}
	.landing-headline,
	.landing-content{
		line-height: 1.3em;
	}
	.landing-headline{
		font-size: 38px;
		font-weight: bold;
		margin: 32px 0px;
	}
		#slack-app-landingwrap .landing-headline{
			font-size: 64px;
			margin: 60px 0px;
			font-weight: normal;
		}
	.landing-content{
		font-size: 20px;
		margin-bottom: 32px;
	}
	#slack-app-install-btn{
	    border: 2px solid #5bc4de;
	    border-radius: 4px;
	    display: inline-block;
	    padding: 16px 32px;
	    font-size: 24px;
	    font-weight: bold;
	    color: #222;
	}
		#slack-app-install-btn:hover{
			cursor: pointer;
			border-color: #419ab1;
		}
		#slack-app-install-btn > .button-icon{
			width: 28px;
			margin-right: 8px;
		}
		#slack-app-install-btn > *{
			display:inline-block;
			vertical-align: middle;
		}
	#mt-slack-main-graphic-img{
		max-width: 500px;
	}
#slack-app-feature-one,
#slack-app-feature-two{
	color: #fff;
}
	#mt-slack-feat-two-graphic{
		margin-top: 30px;
	}
	#mt-slack-feat-one-graphic-img{
		max-width: 780px;
	}
	.beta-badge{
		color: red;
		font-size: 13px;
		font-weight: bold;
		position: relative;
		top: -10px;
		left: -10px;
		line-height: inherit;
		vertical-align: super;
	}
		.landing-headline .beta-badge{
			top: -14px;
			left: -14px;
			font-size: 15px;
		}
		.landing-content .beta-badge{
			top: -9px;
			left: -10px;
		}
		#slack-app-landingwrap .beta-badge{
			top: -20px;
			left: -14px;
			font-size: 15px;
		}
		.secondary-action-wrapper{
			margin-top: 15px;
			text-align: center;
		}
			#slack-integration-explanation{
				display: inline-block;
				text-decoration: underline;
				color: #419ab1;
				font-weight: bold;
				font-size: 16px;
			}
				#slack-integration-explanation:hover{
					cursor: pointer;
					color: #275c6a;
				}
	.custom-modal{
		position: relative;
		text-align: left;
	}
		.custom-modal-header,
		.custom-modal-body{
			padding: 25px;
		}
		.custom-modal-header {
		    background-color: #3eb8d2;
		    color: #fff;
		    font-size: 20px;
		    border-radius: 4px 4px 0px 0px;
		    font-weight: bold;
		}
			.custom-modal .close-btn{
				position: absolute;
				top: 27px;
				right: 27px;
			}
				.custom-modal .close-btn i.material-icons{
					font-size: 16px;
				}
				.custom-modal .close-btn:hover{
					cursor: pointer;
					color: #AAA;
				}
		.custom-modal-body{
			border-radius: 0px 0px 4px 4px;
			background-color: #fff;
			font-size: 18px;
		}
			.custom-modal-body > p{
			    margin: 15px 0px;
			    line-height: 1.3em;
			}
				.custom-modal-body > p:first-of-type{
					margin-top: 0px;
				}
				.custom-modal-body > p:last-of-type{
					margin-bottom: 0px;
				}
	#slack-app-feature-three .secondary-action-wrapper{
		margin-top: 25px;
	}
		.mt-for-slack-disclaimer{
			display:inline-block;
			text-decoration: underline;
			color: #a9a9a9;
		}
			.mt-for-slack-disclaimer:hover{
				color: #333;
				cursor: pointer;
			}
	.login-btn {
	    background-color: #3eb8d2;
	    padding: 8px 10px;
	    border-radius: 2px;
	    text-decoration: none;
	    color: #fff;
	    display: inline-block;
	}
		.login-btn:hover{
			cursor: pointer;
			background-color: #419ab1;
		}
#landingwrap,
#installwrap,
#privacywrap, 
#toswrap, 
#aboutwrap,
#presswrap,
.desktop-install-container,
#tablet-iframe-container{
	margin-top: 100px;
}
@media only screen and (max-width: 560px) {
	#landingwrap,
	#installwrap,
	#privacywrap, 
	#toswrap, 
	#aboutwrap,
	#presswrap,
	.desktop-install-container,
	#tablet-iframe-container{
		margin-top: 86px;
	}	
}

.desktop-install-container{
	padding-top: 1px;
}