@import url("style-base.css");
::-webkit-input-placeholder {color: #ccc;}
:-moz-placeholder {color: #ccc;}
::-moz-placeholder {color: #ccc;}
:-ms-input-placeholder {color: #ccc;}
body {color: #ccc; background: #6a223f;}
a {color: #fff;}
a:hover {color: #f3354f;}
div.header {height: 100px;}
div.logo {top: 21px;}
ul.topmenu {left: auto; right: 125px;}
/* search field */
div.search {background: #571d35; border-color: #852d50;}
div.search input.sf {color: #ddd;}
div.search button.sb:after {color: #fff;}
.autocomplete-suggestions {border-color: #852d50; background:#571d35;}
.autocomplete-suggestion {color: #eee;}
.autocomplete-selected {background: #3e1425; color: #fff;}
.autocomplete-suggestions strong {color: #f3354f;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50%;}
#lngselect strong {color: #fff;}
#lngselect.down:after {border-bottom-color: #852d50;}
#lngselect ul {background-color: #61223c; border-color: #852d50;}
/* headers */
h1,h2,div.h {color: #f2e2b6; border-bottom: 1px solid #571d35; box-shadow: 0 1px 0 #852d50;}
h1,h2 {font-size: 20px; font-weight: 400;}
div.h h1, div.h h2 {background: none; border: none; box-shadow: none;}
div.tbookshare {right: -5px;}
/* buttons */
div.sort a, div.durgrp a, div.pages a {border: 1px solid #d02c62; margin-right: 0;}
div.pages a, div.pages>span {border: 1px solid #d02c62; margin-left: 0; border-right: none;}
div.pages>span.ptitle {border: none;}
div.pages a.deltan {border-right: 1px solid #d02c62;}
div.sort a:hover, div.durgrp a:hover, div.pages a:hover {}
div.sort a.current, div.durgrp a.current, div.pages a.current {background: #d02c62; color: #fff;}
/* content and thumb categories */
ul.content li, ul.tcats li {border-color: #752746; background: #5b1f38;}
ul.content li h3 {color: #f2e2b6; background-color: #501b31; border-bottom: 1px solid #61213c;}
ul.content li span.src a {color: #ccc;}
ul.content li span.src a:hover {color: #f3354f;}
ul.content li span.tl {border-top: 1px solid #61213c;}
ul.content li span.tl a,ul.content li span.tl span {}
ul.content li span.tl a:hover {}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after {color: #b04b73;}
div.az ul li:after, div.related a:after {color: #b04b73;}
/* text categories */
div.az ul li.letter {background: none; color: #f2e2b6; border-bottom: 1px solid #571d35; box-shadow: 0 1px 0 #852d50; padding-left: 2px;}
/* back to top button */
#back_to_top a#back-to-top {background: #d02c62;}
/* banners */
.ads3b {border-color: #752746; background: #60213b;}



@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px;}
	ul.content li, ul.tcats li, ul.content li:hover, ul.tcats li:hover {border-color: #6a223f; box-shadow: inset 0 0 1px #be2d67;}
	div.sort, div.durgrp, div.pages {border-spacing: 0;}
}
@media all and (max-width: 767px) {
	div.header {height: 100px; background: none;}
	div.search {top:auto;}
	div.logo {top: 5px;}
	ul.content li a.report {color: #b04b73;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
}

