/**
 * Size: desktop
 * Browsers: 
 */

.section table tr td > img[data-dz-rel-audio],.section table tr td > span[data-dz-rel-audio].sp,.section table tr td > img[data-dz-rel-ltec],.section table tr td > span[data-dz-rel-ltec].sp,.section table tr td > img[onclick],.section table tr td > span[onclick].sp {
	opacity:0.6;
	cursor:default;
}
.section table tr td.text,.section table tr td.text b,.section table tr td.text b a,.section table tr td.text span {
	color:black;
	cursor:default;
}
#nplayer {
	left:-300px;
}
