/* errors */
.berrors {background: #fce5ba; color: #a76846; margin: 0 0 20px 0; padding: 10px 20px;}
.berrors a { color: #aa4e43; text-decoration:underline; }

/* Votes */
.vote-box {}
.vote-title {font-size:18px; line-height:21px; margin-bottom:20px;}
.vote {margin-bottom:10px;}
.vote:after {content: ""; display: table; clear: both;}
.vote input {display:none;}
.vote label {position:relative;}
.vote label:before { content:""; float:left; margin:1px 10px 0 0; cursor:pointer; 
width:16px; height:16px; border-radius:8px; background-color:#2a2a2a;}
.vote input:checked + label:before {box-shadow:inset 0 0 0 3px #2a2a2a; background-color:#ffd700;}
.vote label:hover {cursor:pointer; color:#06c;}
.vcount {margin-top:10px;}

.vote-buts {padding:10px 0 0 0;}
.vote-buts button {float:left;}
.votebuts button:hover {opacity:0.8;}
.vvote {margin-right:8px;}
.vres, .vall {width:auto; background:#f6f6f6 !important; margin-left:10px; color:#2a2a2a;}
.vres:hover, .vall:hover {background:#f0f0f0 !important;}
.vote-buts i {color:#2a2a2a;}

/* Content-other */
.ui-icon, .close { display: block; overflow: hidden; text-indent: -9999px; white-space: nowrap; }
#pollbox { border-bottom: 1px dashed #E3E3E3; padding-bottom: 22px }
#dle-poll-list, #searchtable, .pm-status { padding: 20px; border-radius: 6px; background-color:#fff; 
border:10px solid #f0f0f0; }

/*---BB CODES ---*/
.bbcodes,.bbcodes_poll,{ margin:10px 10px 0 0;}
.bbcodes_poll{width:100px}
.fbutton {margin-right:10px;}

/* forms */
.tableform {width:100%;}
.tableform td, .tableform th {border-top:1px dotted #e3e3e3; padding:10px 0; text-align:left; }
.tableform tr:first-child td, .tableform tr:first-child th {border:0 none;}
.tableform th, .tableform .label, .tableform .addnews {width:25%; font-weight:normal; vertical-align:top; padding-right:10px; padding-top:8px;}
.fieldtr select, .f_textarea, .f_input, .xfields textarea, .xprofile textarea, .tdfield select, .lfield input, 
.editor input[type="text"], #category, textarea.ui-corner-all, .pm select,
.xfields input, .xprofile input, .xfields select, .xprofile select, .mass_comments_action select, 
.bbeditor select, .textin, select.rating {padding:5px;}

.recipient select { width: 298px; }
.checkbox { color: #787878; padding: 4px 0; line-height: 1em; }
.checkbox input { margin-top: -2px; vertical-align: middle; }

/*--- NEW FORM ---*/
.form-wrap {padding:0px;}
.form-wrap h1 {font-size:24px; margin-bottom:20px;}
.form-wrap > div, .form-vote > div {margin-bottom:20px;}
.form-item {margin-bottom:20px; padding-left:200px; position:relative;}
.form-item > label {display:block; float:left; width:200px; margin-left:-200px; padding-top:10px;}
.form-item > input[type="text"], .form-item > input[type="password"], .form-item > input[type="file"] {float:left; max-width:600px;}
.imp > label:after {content: "*"; margin: 0 0 0 10px; color: #e85319;}
.form-buts input[type="button"], .form-buts a {width:48%; float:left; display:block; text-align:center; box-shadow:none; border-radius:0; font-size:14px;}
.form-buts a {float:right;}
.findrelated {background: #ffc; border:1px solid #9E9E9E; padding:5px;}
.form-textarea > label {display:block; padding:10px 20px; background-color:#444; color:#fff; font-size:16px;}
#category {width:100% !important;}
.form-xfield .addnews {vertical-align:middle;}
.form-checks input#allow_main {margin-left:50px;}
.form-checks label, #allow_subscribe + label {display:inline-block; line-height:30px; margin-left:5px; position:relative; top:1px;}
.form-submit button:last-child {margin-left:10px;}
.form-secur {width:100%; float:right;}
.form-secur input {display:inline-block; max-width:300px; vertical-align:top;}
.form-secur > a {display:inline-block; vertical-align:top; margin-left:10px;}
.form-secur select {width:100%; max-width:600px;}
.form-item > input[type="button"] {position:absolute; right:0; top:0; height:40px; line-height:40px;}
#result-registration {text-align:center;}


/*--- XFIELDS ---*/
.xfields textarea, .xprofile textarea {height:200px;}
.xfields input, .xprofile input {max-width:250px; display:inline-block;}
.xfields_table td {vertical-align:top;}
.xfields .bb-editor {margin-top:10px;}


/* Userinfo */
.user-prof {border:1px solid #ddd; background-color:#fff; margin-bottom:20px;}
.up-first {padding:30px 170px 0 150px; position:relative; background:#222 url(../images/bg.jpg) center top fixed no-repeat; background-size:100% auto; 
color:#FFF; height:100px; z-index:20;}
.up-first:before {content:""; width:100%; height:100%; position:absolute; left:0; top:0; background-color:rgba(0,0,0,0.6);}
.up-first > * {position:relative; z-index:10;}
.up-img {width:100px; height:100px; border-radius:3px; border:5px solid #FFF; box-shadow:2px 2px 5px 0 rgba(0,0,0,0.2); 
position:absolute; left:30px; bottom:-30px;}
.up-first h1 {font-size:18px; font-weight:400; margin-bottom:10px; color:#fff;}
.up-group span {color:#fff !important; font-weight:700;}
.up-status {text-align:center; width:100px; position:absolute; left:30px; bottom:-73px;}
.offline, .online {padding: 5px 10px; display:inline-block; 
color: #fff; background-color: #626262; border-radius:3px;}
.online {background:#99ce1b;}
.up-second {height:100px; background-color:#f6f6f6; padding:20px 30px 20px 150px;}
.up-second li {width:23%; display:flex; flex-direction:column; justify-content:center; text-align:center; font-weight:700;}
.up-second li p {font-weight:400; font-size:12px; text-transform:uppercase; margin-top:10px;}
.up-second li:first-child {border-right:1px solid #ddd;}
.up-second li a {padding:0 10px; line-height:40px !important; font-size:10px;}
.up-third {padding:0 30px; background: linear-gradient(to bottom, #fff 0px,#fff 50px, #f6f6f6 51px, #f6f6f6 100px); 
background-repeat:repeat; background-size:100px 100px; 
border-bottom:1px solid #e3e3e3; border-top:1px solid #e3e3e3; box-shadow:inset 0 5px 5px -5px rgba(0,0,0,0.2);}
.up-third li {padding:0 20px 0 0; width:48%; display:inline-block; line-height:50px; 
white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.up-third li a {text-decoration:underline; color:#06c;}
.up-edit {padding:20px;}
.up-edit a {padding:0 10px; line-height:40px !important; display:block; text-align:center;}

.user-popup {padding:20px 0; position:relative; margin:-20px;}
.upop-left {width:28%; float:left; position:relative; z-index:50; text-align:center;}
.upop-left .up-img {position:static; display:block; margin:0 auto 10px auto;}
.upop-right {width:72%; float:right;}
.upop-right li {padding:5px 0;}


@media screen and (max-width: 1220px) {
.up-second {height:auto; padding:10px 30px 10px 150px;}
.up-second li {width:48%; padding:5px 0; border:0 !important;}
.up-third li {padding:0; width:100%;}
}
@media screen and (max-width: 760px) {
.up-first {padding:20px 10px; height:auto; text-align:center;}
.up-img {position:relative; margin:10px auto; left:0; bottom:0;}
.up-status {position:relative; margin:0 auto; left:0; bottom:0;}
.up-second, .up-edit {padding:20px 10px;}
.up-third {padding:0 10px;}
}


/* search */
.search-page {margin-bottom:20px;}
.searchstyle { width: 480px }
.search { padding: 0 }
#searchtable, #searchtable td { vertical-align: top; text-align: left }
#searchtable fieldset { font-size: 11px; border: 1px solid #d7d7d7; padding: 10px; text-align: left; 
margin: 0 4px 4px 0 !important; border-radius: 6px }
fieldset legend { font-size: 11px; font-weight: bold; color: #696969; }
#searchtable table, #searchtable form { margin: 0; width:100%;}
#searchtable select { background-color: #fff }
#searchuser, #searchinput { width: 90% !important; }
.search > div {margin-bottom:10px;}
.search input[type="text"], .search select {display:block; width:100% !important; margin-bottom:10px;}
.search input[type="checkbox"], .search input[type="radio"] {margin-right:5px;}
#searchinput + br, #searchinput + br + br {display:none;}

.sres-wrap {background-color:#fff; display:block; padding:15px 15px 15px 230px; border:1px solid #e3e3e3; position:relative;}
.sres-wrap:nth-child(2n) {background-color:#f6f6f6;}
.sres-wrap:hover {z-index:100; border-color:#04a2dc; box-shadow:0 0 10px 0 rgba(4,162,220,0.5);}
.sres-img {float:left; margin-left:-215px; width:200px; position:relative;}
.sres-img img {width:100%;}
.sres-text { float:right; width:100%; color:#000;}
.sres-text h2 {font-size:16px; color: #CF151E; margin-bottom:20px; display:block;}
.sres-date {position:absolute; left:0; top:0; padding:10px; background-color:rgba(0,0,0,0.7); color:#FC0;}

/* statistics */
.stat-list {min-height:70px; width:33.33%; float:left;}
.stat-list li {padding:0 15px 10px 1px;}
.statistics h4 {font-weight:400; font-size:16px;}
.statsbox li {padding:8px 0;}


/* PM */
.pm-menu {height:60px; white-space:nowrap; overflow-y:hidden; overflow-x:auto;}
.pm-menu li {display:inline-block; margin-right:10px;}
.pm-menu a {padding:0 15px; background:#f5f5f5; line-height: 40px; display:block;}
.pm-menu a:hover {background:#444; color:#fff;}
.pm-status {margin-bottom:40px;}
.pm_progress_bar {border-radius:4px; background-color:#f5f5f5; margin:10px 0; overflow:hidden;}
.pm_progress_bar span {background:#fb643c; font-size:0; text-indent:-2000em; height:20px; display:block; overflow:hidden;}
.table-resp {overflow-y:hidden; overflow-x:auto;}
.pm, .userstop {border:1px solid #ccc; width:100%;}
.pm tr td, .userstop tr td {padding:10px; border:1px solid #ccc; font-size:12px; }
.pm tr:nth-child(1) {background-color:#444; color:#FFF;}
.pm tr:nth-child(2n+2), .userstop tr:nth-child(2n+2) {background-color:#f9f9f9;}
.pm select {width:100%; margin-bottom:10px;}











#dle-pm-preview .bform { display: none; }

/*--- AJAX---*/
#loading-layer {display: block !important;background-color: #000;background-color: rgba(0,0,0,0.5);z-index:8888 !important;
position: fixed;top: 0; left: 0; right: 0; bottom: 0;width: 100%; height: 100%; text-indent: -9999px;overflow: hidden;white-space: nowrap;}
#loading-layer:before, #loading-layer:after {content: "";border-radius: 50%;background-color: #7db625;position: absolute;left: 50%; top: 50%;}
#loading-layer:before {width: 100px; height: 100px;margin: -50px 0 0 -50px;}
#loading-layer:after {width: 40px; height: 40px;background-color: #cd3560;margin: -20px 0 0 -20px;}
#loading-layer:before {animation: load1 1s infinite ease;}
#loading-layer:after {animation: load2 1s infinite -0.32s ease;}
@keyframes load1 {0%, 80%, 100% { transform: scale(1,1); } 40% { transform: scale(.6,.6); }}
@keyframes load2 {0%, 80%, 100% { transform: scale(1,1); } 40% { transform: scale(.5,.5); }}

/*--- QUOTES ---*/
.scriptcode, .title_spoiler, .text_spoiler { padding: 3px 5px; background: #f0f0f0; border: 1px solid #e3e3e3; }
.title_quote { margin-top: 2px; font-weight: bold; }
.quote { margin: 5px 0 5px 10px; padding: 15px; border-left: 4px solid #4e8ccc;
 font-family: Georgia, serif; font-style: italic; color: #000; background-color:#f5f5f5 }
.title_spoiler { margin-top: 2px; }
.text_spoiler { margin-bottom: 2px; }
.title_spoiler img { vertical-align: middle !important; margin:0 5px 0 0; border:0;}
.scriptcode { color: #4c6d0f; text-align: left; font-family: "Courier New" }
.title_spoiler { font-weight: normal; }
.text_spoiler { border-top: 0; text-align: justify; }
.hide { background-color: #f0f0f0; padding: 5px; color: #000; margin: 0 0 1em 0 }
.hide a { text-decoration: underline; } 
.hide a:hover { text-decoration: none }
.inhide { border: 1px solid #d1e3ef; padding: 5px; background-color: #fff; margin-bottom: 5px }

/*--- CALENDAR---*/
.calendar { font-size:12px; width: 100%; color:#444; }
.calendar td, .calendar th { padding: 7px 0; vertical-align: middle; text-align: center; }
.calendar td.day, .calendar td.day-active-v, .calendar th.workday { border: 1px solid #e9e9e9; background-color: #fff; }
.calendar td.weekday, .calendar td.day-active, .calendar th.weekday { border: 1px solid #e3e3e3; background-color: #f6f6f6; }
.weekday-active-v, .day-active-v, .weekday-active, .day-active { font-weight: bold; }
.day-active a, .day-active-v a {color:#94bee6;}
.calendar td.day-current { background: #94bee6; }
.day-current a, .day-current { color: #fff !important; }

th.monthselect { text-align: left; padding-bottom:5px; }
th.monthselect b { font-weight: normal; }
th.monthselect center { text-align: right; }



/*---BB CODES ---*/

.bbcodes, .bbcodes_poll {
    color: #383838;
    padding: 2px 9px 5px 9px;
    margin-bottom: 2px !important;
    height: 24px;
    font-weight: bold;
    cursor: pointer;
}
.bbcodes:hover, .bbcodes_poll:hover {}
.bbcodes_poll {
    width: 100px;
}

/*---BB EDITOR ---*/



.bb-pane { height: 1%; overflow: hidden; border: 1px solid #BBB; background-image: url("../bbcodes/bg.gif"); }
.bb-btn, .bb-sep { height: 25px; float: left; display: block; overflow: hidden; text-indent: -9999px; white-space: nowrap; }
.bb-sel { float: left; padding: 4px 2px 0 2px; }
.bb-sel select { font-size: 11px; }
.bb-sep { width: 5px; background-image: url("../bbcodes/brkspace.gif"); }
.bb-btn { cursor: pointer; width: 23px; }

#b_font { width: 118px;}
#b_size { width: 65px;}
#b_font select { padding: 0px;}
#b_size select { padding: 0px;}
#b_b { background-image: url("../bbcodes/b.gif"); }
#b_i { background-image: url("../bbcodes/i.gif"); }
#b_u { background-image: url("../bbcodes/u.gif"); }
#b_s { background-image: url("../bbcodes/s.gif"); }
#b_img { background-image: url("../bbcodes/image.gif"); }
#b_up { background-image: url("../bbcodes/upload.gif"); }
#b_emo { background-image: url("../bbcodes/emo.gif"); }
#b_url { background-image: url("../bbcodes/link.gif"); }
#b_leech { background-image: url("../bbcodes/leech.gif"); }
#b_mail { background-image: url("../bbcodes/email.gif"); }
#b_video { background-image: url("../bbcodes/mp.gif"); }
#b_audio { background-image: url("../bbcodes/mp3.gif"); }
#b_hide { background-image: url("../bbcodes/hide.gif"); }
#b_quote { background-image: url("../bbcodes/quote.gif"); }
#b_code { background-image: url("../bbcodes/code.gif"); }
#b_left { background-image: url("../bbcodes/l.gif"); }
#b_center { background-image: url("../bbcodes/c.gif"); }
#b_right { background-image: url("../bbcodes/r.gif"); }
#b_color { background-image: url("../bbcodes/color.gif"); }
#b_spoiler { background-image: url("../bbcodes/spoiler.gif"); }
#b_fla { background-image: url("../bbcodes/flash.gif"); }
#b_yt { background-image: url("../bbcodes/youtube.gif"); }
#b_tf { background-image: url("../bbcodes/typograf.gif"); }
#b_list { background-image: url("../bbcodes/list.gif"); }
#b_ol { background-image: url("../bbcodes/ol.gif"); }
#b_tnl { background-image: url("../bbcodes/translit.gif"); }
#b_br { background-image: url("../bbcodes/pbreak.gif"); }
#b_pl { background-image: url("../bbcodes/page.gif"); }

.bb-editor textarea { 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 2px; border: 1px solid #bcc0c2; width: 100%; background: #fff url("../images/fields.png") repeat-x;
}
.editorcomm .bb-editor { width: 465px;}
.editorcomm .bb-editor textarea { height: 156px; }

button.fbutton span { cursor: pointer; display: block }

.editor { background: #f7f2cb }
.editorcomm .editor { width: 96% !important }
.editorcomm .editor textarea { width: 100% !important; background: #fbfbfb; border: 0 none }
.editor_button { float: left; cursor: pointer; padding-left: 0; padding-right: 0 }
.editor_button img { display: block }
.editor_buttoncl { float: left; cursor: pointer; padding-left: 1px; padding-right: 1px; border-left: 1px solid #bbb; border-right: 1px solid #bbb }
.editbclose { float: right; cursor: pointer; display: none }
.editor_button select { font-size: 11px }
.editor_button img, .editor_button_brk img, .editbclose img { margin: 0; padding: 0; }
.editor_button_brk { height: 25px }


/*--- quick edit fields---*/
.quick-edit-text {padding: .4em;width: 350px;}
.quick-edit-textarea {height: 250px;padding: 2px; border: 1px solid #d7d7d7;width: 100%;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}


/*--- DROP NENU ---*/
#dropmenudiv { font: 12px Arial; padding: 10px; display: none; background: #fff; 
border-radius: 8px;  box-shadow: 0 0 50px 0 rgba(0,0,0,0.22); z-index:200 !important;}
#dropmenudiv a { display: block; text-decoration: none; padding: 5px 8px; width: 154px }

/*--- ---*/
fieldset {border: 1px solid #bfced6;padding: 5px;text-align: left;}

/*--- HIGHSLIDE GALLERY ---*/
.highslide-wrapper, .highslide-outline { background: #fff }
.highslide-image { border: 2px solid #fff }
.highslide-active-anchor { visibility: hidden } 
.highslide-active-anchor img { visibility: hidden }
.highslide-dimming { background-color: black }
.highslide-html { background-color: white }
.highslide-loading { display: block; color: white; font-size: 9px; font-weight: bold; text-decoration: none; padding: 3px; border: 1px solid white; background-color: black }
a.highslide-full-expand { background: url("../dleimages/fullexpand.gif") no-repeat; display: block; margin: 0 10px 10px 0; width: 34px; height: 34px }
.highslide-display-block { display: block }
.highslide-display-none { display: none }
.highslide-caption { display: none; padding: 5px; background: white }
.highslide-controls { width: 195px; height: 40px; background: url("../../../engine/classes/highslide/graphics/controlbar-black-border.gif") no-repeat 0 -90px; margin-right: 15px; margin-bottom: 10px; margin-top: 10px }
.highslide-controls ul { position: relative; left: 15px; height: 40px; list-style: none; margin: 0; padding: 0; background: url("../../../engine/classes/highslide/graphics/controlbar-black-border.gif") no-repeat 100% -90px }
.highslide-controls li { float: left; padding: 5px 0; }
.highslide-controls a { background: url("../../../engine/classes/highslide/graphics/controlbar-black-border.gif"); display: block; float: left; height: 30px; width: 30px; outline: none }
.highslide-controls a.disabled { cursor: default }
.highslide-controls a span { display: none }
 
/*---The CSS sprites for the controlbar---*/
.highslide-controls .highslide-previous a { background-position: 0 0 }
.highslide-controls .highslide-previous a:hover { background-position: 0 -30px }
.highslide-controls .highslide-previous a.disabled { background-position: 0 -60px !important }
.highslide-controls .highslide-play a { background-position: -30px 0 }
.highslide-controls .highslide-play a:hover { background-position: -30px -30px }
.highslide-controls .highslide-play a.disabled { background-position: -30px -60px !important }
.highslide-controls .highslide-pause a { background-position: -60px 0 }
.highslide-controls .highslide-pause a:hover { background-position: -60px -30px }
.highslide-controls .highslide-next a { background-position: -90px 0 }
.highslide-controls .highslide-next a:hover { background-position: -90px -30px }
.highslide-controls .highslide-next a.disabled { background-position: -90px -60px !important }
.highslide-controls .highslide-move a { background-position: -120px 0 }
.highslide-controls .highslide-move a:hover { background-position: -120px -30px }
.highslide-controls .highslide-full-expand a { background-position: -150px 0 }
.highslide-controls .highslide-full-expand a:hover { background-position: -150px -30px }
.highslide-controls .highslide-full-expand a.disabled { background-position: -150px -60px !important }
.highslide-controls .highslide-close a { background-position: -180px 0 }
.highslide-controls .highslide-close a:hover { background-position: -180px -30px }

/*--- TAGS CLOUD ---*/
.clouds_xsmall, .clouds_small, .clouds_medium, .clouds_large, .clouds_xlarge {display:inline-block; 
border-radius:6px; margin:0 3px 6px 0;}
.clouds_xsmall { font-size: 1em }
.clouds_small { font-size: 1.1em; font-weight: bold }
.clouds_medium { font-size: 1.2em; font-weight: bold }
.clouds_large { font-size: 1.3em }
.clouds_xlarge { font-size: 1.4em }
.clouds_xsmall:hover, .clouds_small:hover, .clouds_medium:hover, .clouds_large:hover, .clouds_xlarge:hover {}
.cloud-tags span a {display:block; padding:5px 7px; border:1px solid #ccc;}
.cloud-tags span a:hover {background-color:#fff; box-shadow:0 0 10px 0 rgba(0,0,0,0.2); color:#2a2a2a;}
.tags_more {margin-top:10px;}

/*--- SEARCH SUGGESTIONS---*/
#searchsuggestions {z-index: 99998; width: 320px; font-size: 12px; background: #fff; 
border-radius: 5px; box-shadow: 0 0 1.6em rgba(0,0,0, 0.2) }
#searchsuggestions:after {}
#searchsuggestions a, #searchsuggestions span.notfound { padding:8px 10px; display: block; text-decoration: none; 
border-bottom: 1px solid #e3e3e3; font-weight:normal;}
#searchsuggestions a { color: #444; }
#searchsuggestions a:hover { text-decoration:none; color:#444; background-color:#f5f5f5}
#searchsuggestions span.searchheading { display: block; margin-bottom: .2em; font-weight:700; }
#searchsuggestions span.seperator { display: block; }
#searchsuggestions span.seperator a { padding: 10px 0; text-align: center; border: 0 none; 
    background-color:#8c45c5; color: #fff; }
#searchsuggestions span.notfound { padding: 15px 20px; display: block; }
#searchsuggestions .break { display: none; }

#searchsuggestions a:after, #searchsuggestions span.notfound:after 
{content: ""; display: table; clear: both;}

/*--- UI WIDGETS ---*/
.ui-widget-overlay { background: #000; opacity:0.5; left: 0; top: 0; right: 0; bottom: 0; position: fixed }
.ui-helper-clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden }
.ui-helper-clearfix { display: inline-block }
* html .ui-helper-clearfix { height: 1% }
.ui-helper-clearfix { display: block }

.ui-dialog { background-color: #fff; overflow: hidden; padding: 0; position: absolute; width: 300px; 
box-shadow:0 0 40px 0 rgba(0,0,0,0.3); border-radius:3px;}
.ui-dialog-titlebar { padding:20px 20px; background-color:#28a1d8;}
.ui-dialog-title { margin-top: 2px; float: left; font-size: 16px; color: #fff;}

.ui-dialog .ui-dialog-content {padding:20px; border: 0; overflow: auto; position: relative; zoom: 1; }
.ui-dialog-content h2 { display: inline; font-size: 1em; font-weight: bold }
.ui-dialog .ui-dialog-buttonpane { border-top: 1px solid #ddd; padding: 15px 20px; text-align: center; background-color:#f6f6f6; }

.ui-dialog .ui-resizable-se { bottom: 3px; height: 14px; right: 3px; width: 14px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-state-error { background: #fef1ec 50% 50% repeat-x !important; border: 1px solid #cd0a0a; color: #cd0a0a; }

.ui-icon-closethick {cursor: pointer; position:absolute; right:10px; top:18px; width:30px; height:30px;}
.ui-icon-closethick:before {content:"X"; width:30px; height:30px; line-height:30px; text-align:center; color:#fff; 
position:absolute; right:0; top:0; text-indent:0; font-size:28px; transform:scale(1,0.7);}
a:hover .ui-icon-closethick {opacity:0.8;}
.ui-dialog .ui-dialog-buttonset button { margin-right:10px !important; line-height:15px !important; font-size:12px; padding:0 10px;}


/*--- VOTE BARS ---*/
.voteprogress,.pollprogress{overflow:hidden;height:15px;margin-bottom:5px;background-color:#f7f7f7;background:linear-gradient(to bottom, #f5f5f5, #f9f9f9);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);border-radius:4px}
.voteprogress span,.pollprogress span{color:#ffffff;text-align:center;text-indent:-2000em;height:15px;display:block;overflow:hidden;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background:#0e90d2;background:linear-gradient(to bottom, #149bdf, #0480be)}
.voteprogress .vote2, span.poll1{background-color:#dd514c;background:linear-gradient(to bottom, #ee5f5b, #c43c35)}
.voteprogress .vote3, span.poll2{background-color:#5eb95e;background:linear-gradient(to bottom, #62c462, #57a957)}
.voteprogress .vote4, span.poll3{background-color:#4bb1cf;background:linear-gradient(to bottom, #5bc0de, #339bb9)}
.voteprogress .vote5, span.poll4{background-color:#faa732;background:linear-gradient(to bottom, #fbb450, #f89406)}

/* ---  UI MENU --- */
.ui-autocomplete { position: absolute; cursor: default; }
* html .ui-autocomplete { width:1px } /* without this, the menu expands to 100% in IE6 */
.ui-menu { list-style:none; padding: 2px; margin: 0; display:block; float: left; background: #fff 50% bottom repeat-x; border: 1px solid #dedede; color: #222; }
.ui-menu .ui-menu { margin-top: -3px; }
.ui-menu .ui-menu-item { margin:0; padding: 0; zoom: 1; float: left; clear: left; width: 100%; }
.ui-menu .ui-menu-item a { text-decoration:none; display:block; padding:.2em .4em; line-height:1.5; zoom:1; }
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; border: 1px solid #a7a7a7; color: #4e4e4e; font-weight: bold; }

/*--- TEXT [code]---*/
pre code { display: block; padding: 0.5em; background: #f9fafa; border: 1px solid #dce7e7; overflow:auto; white-space: pre; }
pre .comment, pre .template_comment, pre .diff .header, pre .doctype, pre .lisp .string, pre .javadoc { color: #93a1a1; font-style: italic; }
pre .keyword, pre .css .rule .keyword, pre .winutils, pre .javascript .title, pre .method, pre .addition, pre .css .tag, pre .lisp .title { color: #859900; }
pre .number, pre .command, pre .string, pre .tag .value, pre .phpdoc, pre .tex .formula, pre .regexp, pre .hexcolor { color: #2aa198; }
pre .title, pre .localvars, pre .function .title, pre .chunk, pre .decorator,
pre .builtin, pre .built_in, pre .lisp .title, pre .identifier, pre .title .keymethods, pre .id { color: #268bd2; }
pre .tag .title, pre .rules .property, pre .django .tag .keyword { font-weight: bold; }
pre .attribute, pre .variable, pre .instancevar, pre .lisp .body, pre .smalltalk .number, pre .constant, pre .class .title,
pre .parent, pre .haskell .label { color: #b58900; }
pre .preprocessor, pre .pi, pre .shebang, pre .symbol,
pre .diff .change, pre .special, pre .keymethods, pre .attr_selector, pre .important, pre .subst, pre .cdata { color: #cb4b16; }
pre .deletion { color: #dc322f; }
pre .tex .formula { background: #eee8d5; }

/*--- MARK AND SHARE ---*/
#marker-bar,#txtselect_marker{display:block;visibility:hidden;position:absolute;bottom:0;z-index:1200;opacity:0;transition:opacity .4s, visibility .1s linear .4s}
#txtselect_marker{cursor:pointer;width:32px;height:32px;background:url(../dleimages/marker.png) -0px -0px no-repeat}
#txtselect_marker:hover{background-position:-0px -32px}
#marker-bar{border:1px solid #ccc;border-radius:15px;background:#fff;padding:5px 10px;cursor:default;box-shadow:0px 0px 4px #ccc}
#marker-bar.show,#txtselect_marker.show{visibility:visible;transition:opacity .4s, visibility 0s;opacity:1}
#marker-bar .masha-social,#marker-bar .masha-marker{cursor:pointer;display:block;margin:0 5px;float:left}
#marker-bar .masha-marker{line-height:1em;color:#aaa;border-bottom:1px dotted #aaa;margin-right:10px}
#marker-bar .masha-marker:hover{color:#ea3e26;border-color:#ea3e26}
.user_selection,.user_selection_true{background:#c4f47d;padding:2px 0}
.user_selection a.txtsel_close,.user_selection_true a.txtsel_close{display:none}
.user_selection .closewrap,.user_selection_true .closewrap{position:relative}
.user_selection.hover a.txtsel_close,.user_selection_true.hover a.txtsel_close{display:inline-block;position:absolute;top:-7px;left:-5px;width:33px;height:33px;background:url(../dleimages/closemarker.png) -0px -0px no-repeat}
.user_selection.hover a.txtsel_close:hover,.user_selection_true.hover a.txtsel_close:hover{background-position:-0px -33px}
#share-popup{background:#fff;border:1px solid #aaa;border-radius:5px;box-shadow:0 0 5px rgba(0,0,0,0.5);position:absolute;width:414px;display:none;z-index:100;padding:10px 0;opacity:0;transition:opacity .4s, visibility .1s linear .4s}
#share-popup.show{display:block;opacity:1;transition:opacity .4s, visibility 0s}
#share-popup .social{padding:0 0 10px 17px;height:40px}
#share-popup .social p{padding-bottom:10px;margin:0;font-weight:bold}
#share-popup .social ul{list-style:none;margin:0;padding:0}
#share-popup .social ul li{float:left;margin-right:20px;padding-top:2px;position:relative}
#share-popup .social ul a{text-decoration:none;font-size:11px;display:inline-block;color:#aaa;padding-left:25px}
#share-popup .social ul a:hover{text-decoration:underline;color:#ea3e26}
#share-popup .social a span{cursor:pointer;width:20px;height:20px;background:url(../dleimages/social-icons.png) 20px 20px no-repeat;position:absolute;left:0;top:0}
#share-popup .social .tw span{background-position:0 -20px}
#share-popup .social .tw:hover span{background-position:0 0}
#share-popup .social .fb span{background-position:-20px -20px}
#share-popup .social .fb:hover span{background-position:-20px 0}
#share-popup .social .vk span{background-position:-40px -20px}
#share-popup .social .vk:hover span{background-position:-40px 0}
#share-popup .social .gp span{background-position:-60px -20px}
#share-popup .social .gp:hover span{background-position:-60px 0}
#share-popup .link{clear:both;border-top:1px solid #d9d9d9;padding:10px 5px 0 10px;line-height:1.2;overflow:hidden;margin:0 7px}
#share-popup .link p{font-weight:bold;padding:0 0 3px 0;margin:0}
#share-popup .link span{color:#999;font-size:10px;display:block;padding-top:3px}
#share-popup .link a{display:block}
	
/*--- UPDATES TO NEW VERSIONS ---*/
.comments-tree-list {display: block;margin: 0;padding: 0;list-style: none;}
.comments-tree-list .comments-tree-list {padding-left: 30px;}
.comments-tree-item {display: block; margin: 0; padding: 0;}
#dlefastreplycomments {padding:10px; background: #f7f6e5; margin: 10px 0 5px 30px;}
.commentsreplyname {padding: 2px; border: 1px solid #bcc0c2; width: 200px; background: #fff;}
#dlereplypopup form > div {margin-bottom:5px;}
#dlereplypopup form input[type="text"] {height:30px; line-height:30px;}
#dlereplypopup form textarea {height:80px;}
.pollallvotes {text-align: center; margin-top: 10px;}

/*--- 11 ---*/
.emoji {border: none;vertical-align: middle;width: 22px;height: 22px;}

.xfieldsrow {padding-top:5px;clear: both;}
.xfieldscolleft {float: left; width: 30%;}
.xfieldscolright {float: left;width: 70%;}
.file-box {width: 95%;max-width: 437px;border:1px solid #B3B3B3; border-radius: 3px;background-color: #F5F5F5;padding: 10px;margin-top: 10px;}
.qq-uploader { position:relative; width: 100%;}
.qq-upload-button {display:inline-block;padding:0 10px;margin-top:5px; line-height:40px !important;cursor:pointer;}
.qq-upload-drop-area {position:absolute; top:0; left:0; width:100%; height:100%; z-index:2;max-width: 437px;background:#FF9797; text-align:center; }
.qq-upload-drop-area span {display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;}
.qq-upload-drop-area-active {background:#FF7171;}
.uploadedfile {width: 115px;height: 130px;margin: 10px 5px 5px 5px;border:1px solid #B3B3B3;box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
text-align: center;background:#ffffff;}
.uploadedfile .uploadimage {margin-top: 5px;width: 115px;height: 90px;display: table-cell;text-align: center;vertical-align:middle;}
.uploadedfile .info {text-align: left;white-space: nowrap;margin: 0px 5px 0px 5px;overflow: hidden;}
.progress {overflow:hidden;margin-top:10px;margin-bottom:10px;background-color:whitesmoke;height:10px;
border-radius:8px;background:#eee;box-shadow:0 1px 0 white, 0 0px 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.2) inset;}
.progress .progress-bar {float:left;width:0%;font-size:12px;line-height:20px;color:white;text-align:center;background-color:#428bca;
box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15);transition:width 0.6s ease;border-radius:8px;box-shadow:none;height:8px;}
.progress-bar span{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0 0 0 0);border:0;}
.progress-blue {background-image:linear-gradient(to bottom, #9bcff5 0%, #6db9f0 100%);background-repeat:repeat-x;border:1px solid #55aeee;}


@media screen and (max-width: 600px) {
.form-wrap h1 {font-size:16px;}
.form-item {padding-left:0;}
.form-item > label {float:none; width:100%; margin-left:0; padding:0 0 10px 0;}
.form-item > input[type="text"], .form-item > input[type="password"], .form-item > input[type="file"] {float:none;}
.form-item > input[type="button"] {display:none;}
.form-checks input#allow_main {margin-left:10px;}
.form-buts input[type="button"], .form-buts a {width:50%; padding:0; font-size:12px;}
.stat-list {width:100%; float:none;}
.bb-pane{padding:0 0 0 5px;height:50px !important;
white-space:nowrap; overflow-y:hidden; overflow-x:auto;}
.bb-btn{float:none;}
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.5.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}.fa-reddit-alien:before{content:"\f281"}.fa-edge:before{content:"\f282"}.fa-credit-card-alt:before{content:"\f283"}.fa-codiepie:before{content:"\f284"}.fa-modx:before{content:"\f285"}.fa-fort-awesome:before{content:"\f286"}.fa-usb:before{content:"\f287"}.fa-product-hunt:before{content:"\f288"}.fa-mixcloud:before{content:"\f289"}.fa-scribd:before{content:"\f28a"}.fa-pause-circle:before{content:"\f28b"}.fa-pause-circle-o:before{content:"\f28c"}.fa-stop-circle:before{content:"\f28d"}.fa-stop-circle-o:before{content:"\f28e"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-hashtag:before{content:"\f292"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-percent:before{content:"\f295"}
      