*{background:transparent;margin:0;padding:0;outline:none;border:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
table{border-collapse:collapse;border-spacing:0;}
input, select{vertical-align:middle;}
article, aside, figure, figure img, hgroup, footer, header, nav, section, main{display:block;}
body{font:14px/20px Tahoma, Geneva, sans-serif;line-height:normal;padding:0;margin:0;color:#2a2a2a;background:#000 url(/uploads/yolki.jpg) center -1px fixed no-repeat;height:100%;width:100%;font-weight:normal;font-style:normal; background-size: cover;}
img{max-width:100%;}
.clr{clear:both;}
.clearfix:after{content:"";display:table;clear:both;}
a{color:#2a2a2a;text-decoration:none;}
a:hover, a:focus{color:#8c45c5;text-decoration:none;}
h1, h2, h3, h4, h5{font-weight:400;font-size:18px;}
.pages{padding:20px 20px 0 20px;}
.form-wrap{}
.sub-title h1{margin-bottom:15px;font-size:24px;}
.pm-page, .search-page, .static-page, .tags-page{}
.button, .up-second li a, .up-edit a, .qq-upload-button, button:not(.color-btn), html input[type="button"], input[type="reset"], input[type="submit"]{padding:0 20px;color:#fff;display:inline-block;height:40px;line-height:40px;border-radius:20px;cursor:pointer;font-size:14px;background:linear-gradient(to bottom, #8c45c5 0%,#5e1f91 100%);}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0;}
button[disabled], input[disabled]{cursor:default;}
.button:hover, .up-second li a:hover, .up-edit a:hover, .qq-upload-button:hover,
button:not(.color-btn):hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{background:linear-gradient(to top, #8c45c5 0%,#5e1f91 100%);color:#fff;}
button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active{box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.1);}
input[type="submit"].bbcodes, input[type="button"].bbcodes, input.bbcodes, .ui-button{font-size:12px !important;height:30px !important;line-height:30px !important;padding:0px 10px;border-radius:3px;}
input[type="text"], input[type="password"]{display:block;width:100%;height:40px;line-height:40px;padding:0 15px;color:#000000;background-color:#f5f5f5;border-radius:4px;-webkit-appearance:none;box-shadow:0 0 0 1px #EDEDED;}
input[type="text"]:focus{}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
select{height:40px;border:1px solid #e3e3e3;background-color:#FFF;}
textarea{display:block;width:100%;padding:10px;border:1px solid #e3e3e3;background-color:#FFF;border-radius:0 0 6px 6px;box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.1);overflow:auto;vertical-align:top;resize:vertical;}
.img-box{overflow:hidden;position:relative;background-color:#CCC;}
.img-box img{width:100%;min-height:100%;}
.square-img img{display:block;width:150%;max-width:150%;margin-left:-25%;}
.nowrap{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
button, .show-login{transition:all .3s;}
.ser-i:before{transition:color .3s, background-color .3s, opacity .3s;}
.flex-row{display:flex;flex-flow:row wrap;justify-content:space-between;}
.flex-col{display:flex;flex-direction:column;justify-content:center;}
.ic-l span.fa{margin-right:10px;}
.ic-r span.fa{margin-left:10px;}
.ps-link, .ps-link2{cursor:pointer;}
.wrap{position:relative;}
.center{min-width:320px;max-width:1050px;margin:0 auto;position:relative;z-index:200;}
.header{background-color:#15161a;margin-bottom:240px;background:linear-gradient(to bottom, #424550 0%,#15161a 100%);border-bottom:5px solid #8c45c5;position:relative;z-index:888;}
.header-in{height:65px;padding:0 180px 0 230px;}
.main{background-color:#FFF;min-height:400px;box-shadow:0 0 20px 0 rgba(0,0,0,0.6);}
.footer{background:url(../images/bg-gradient.png) left -100px repeat-x;}
.cols{position:relative;padding-left:250px;background:url(../images/bg-gradient.png) left -100px repeat-x;}
.cols:before{content:"";width:250px;position:absolute;left:0;top:6px;bottom:0;background-color:#15161a;box-shadow:inset -40px 0 20px -20px #000;}
.sidebar{width:250px;margin-left:-250px;float:left;position:relative;z-index:100;padding:20px;}
.content{width:100%;float:right;}
.cols-actor{margin:-20px;}
.logotype{height:60px;width:230px;display:block;position:absolute;left:0;top:0;background:url(../images/logo.png) left center no-repeat;overflow:hidden;text-indent:-1000px;background-size2:contain;}
.header-menu .fa{color:#ffcc00;}
.header-menu > li{display:inline-block;position:relative;}
.header-menu > li > a{display:block;line-height:65px;font-size:14px;color:#FFF;padding:0 10px;}
.header-menu > li > a:hover, .menuactive > a{background-color:#8c45c5;color:#FFF;}
.hidden-menu{width:600px;box-shadow:0 20px 20px 0 rgba(0,0,0,0.3);background-color:#fff;position:absolute;left:0;top:100%;display:none;z-index:888;padding:15px 5px 3px 10px;background:linear-gradient(to bottom, #f0f0f0 0%,#fff 40%,#f0f0f0 100%);}
.hidden-menu li{width:32%;margin:0 0.66% 0 0.66%;float:left;}
.hidden-menu a{display:inline-block;padding:7px 10px;border-bottom:1px dashed #ccc;}
.hidden-menu a:before{content:"\f105";margin-right:7px;font-family:'FontAwesome';color:#8c45c5;}
.menuactive:after{bottom:0%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(255, 255, 255, 0);border-bottom-color:#f0f0f0;border-width:10px;margin-left:-10px;}
.submenu > a:after{content:"\f107 ";font-family:'FontAwesome';margin-left:7px;}
.show-login{position:absolute;right:0;top:12px;background-color:#8c45c5;color:#fff;padding:0 20px;display:inline-block;height:40px;line-height:40px;border-radius:20px;cursor:pointer;}
.show-login:hover{background-color:#ffcc00;color:#000;}
.main-soc{text-align:right;}
.main-soc > div{background-color:#FFF;display:inline-block;padding:10px;border-radius:3px 3px 0 0;}
.main-top{padding:20px;background-color:#15161a;background:radial-gradient(ellipse at center, #4c505e 0%,#15161a 100%);}
.main-top > *{display:inline-block;}
.vk-btn, .fav-btn{line-height:40px;border-radius:4px;text-align:center;font-size:18px;width:18%;cursor:pointer;}
.fav-btn{background-color:#ffcc00;color:#000;background:linear-gradient(to bottom, #fff600 0%,#ffcc00 100%);}
.vk-btn{background-color:#28a1d8;color:#fff;background:linear-gradient(to bottom, #28a1d8 0%,#096f9d 100%);}
.fav-btn:hover{background:linear-gradient(to top, #fff600 0%,#ffcc00 100%);}
.vk-btn:hover{background:linear-gradient(to top, #28a1d8 0%,#096f9d 100%);}
.search-box{width:60%;}
.search-inner{width:100%;position:relative;}
.search-inner input, .search-inner input:focus{width:100%;height:40px;line-height:40px;padding:0 40px 0 10px;background-color:#fff;color:#5c5c5c;box-shadow:none;text-transform:uppercase;}
.search-box button{position:absolute;right:0;top:0;box-shadow:none;background:transparent;color:#2a2a2a;padding:0;width:40px;text-align:center;border-radius:3px;}
.main-top + .section{background:url(../images/bg-gradient.png) left -100px repeat-x;}
.section{padding:30px 0 20px 0;}
.section-head{padding:0 110px 0 20px;height:40px;line-height:40px;margin:0 0 10px 0;}
.section-head > *:first-child{font-size:24px;}
.section-head h1, .section-head h2, .section-head h3, .section-head > *:first-child div{font-size:24px;display:inline-block;}
.section-head > *:first-child span{color:#8c45c5;margin-right:10px;}
.section-head .button{background:transparent;color:#2a2a2a;box-shadow:inset 0 0 0 2px #8c45c5;}
.section-head .button:hover{color:#fff;}
.section-content{padding:0 20px;}
.ser-section .section-content{padding:0 30px;}
.ser-section .section-head{padding:0 20px;margin-bottom:30px;}
.sc-in .owl-stage-outer{}
.more-btn{padding:20px 0 0 0;text-align:center;}
.more-btn a{background-color:#ffcc00;color:#000;background:linear-gradient(to bottom, #fff600 0%,#ffcc00 100%);display:inline-block;line-height:40px;padding:0 20px;border-radius:4px;font-size:16px;box-shadow:inset 0 0 20px -10px #fff,0 0 0 3px #fff,0 2px 10px 0 rgba(0,0,0,0.3);}
.more-two a{margin:0 20px;}
.more-btn a:hover{background:linear-gradient(to top, #fff600 0%,#ffcc00 100%);}
.darken{background:#f7f8f9 url(../images/bg.png);box-shadow:inset 0 25px 20px -20px rgba(0,0,0,0.15),inset 0 -25px 20px -20px rgba(0,0,0,0.15);}
.descr{padding:30px 40px;text-align:justify;}
.descr-left{width:300px;height:250px;float:left;background-color:#CCC;margin:0 20px 0 0;}
.full .descr-left{width:600px;height:300px;}
.descr a{text-decoration:underline;color:#8c45c5;}
.descr2 a{color:#ffcc00;}
.descr2{color:#FFF;background-color:#15161a;background:radial-gradient(ellipse at center, #4c505e 0%,#15161a 100%);}
.descr img{display:block;margin:0 auto 15px auto;border-radius:20px;}
.descr-title{font-size:24px;margin-bottom:15px;}
.cat-section{padding:0 10px;}
.cols + .descr{padding:30px 20px;}
.descr h2, .descr h3, .descr h4{font-size:18px;margin:20px 0;}
.descr ul{margin:15px 0;}
.descr ul li{list-style:disc;margin:5px 0 5px 40px;}
.descr .section-head{padding:0;}
.orangen .section-head > *:first-child span{color:#F44336;}
.orangen .button{box-shadow:inset 0 0 0 2px #f44346;}
.orangen .owl-prev, .orangen .owl-next{box-shadow:inset 0 0 0 2px #F44336;}
.orangen .mov-meta{background-color:#F44336;}
.orangen .mov-short:hover{box-shadow:inset 0 0 0 1px #F44336,inset 0 0 10px 0 #F44336;}
.orangen .owl-prev:hover, .orangen .owl-next:hover{background-color:#F44336;color:#FFF;}
.orangen .button:hover{background:linear-gradient(to top, #F44336 0%,#db5101 100%);}
.bluen .section-head > *:first-child span{color:#28a1d8;}
.bluen .button{box-shadow:inset 0 0 0 2px #28a1d8;}
.bluen .owl-prev, .bluen .owl-next{box-shadow:inset 0 0 0 2px #28a1d8;}
.bluen .mov-meta{background-color:#2887d8;}
.bluen .mov-short:hover{box-shadow:inset 0 0 0 1px #28a1d8,inset 0 0 10px 0 #28a1d8;}
.bluen .owl-prev:hover, .bluen .owl-next:hover{background-color:#28a1d8;color:#FFF;}
.bluen .button:hover{background:linear-gradient(to top, #28a1d8 0%,#096f9d 100%);}
.green .section-head > *:first-child span{color:#3ba740;}
.green .button{box-shadow:inset 0 0 0 2px #3ba740;}
.green .owl-prev, .green .owl-next{box-shadow:inset 0 0 0 2px #3ba740;}
.green .mov-meta{background-color:#3ba740;}
.green .mov-short:hover{box-shadow:inset 0 0 0 1px #3ba740,inset 0 0 10px 0 #3ba740;}
.green .owl-prev:hover, .green .owl-next:hover{background-color:#3ba740;color:#FFF;}
.green .button:hover{background:linear-gradient(to top, #98d02d 0%,#3ba740 100%);}
.mov-short{width:20%;float:left;padding:20px 19px;position:relative;border-radius:3px;}
.owl-item .mov-short{width:100%;float:none;}
.mov-img{height:235px;display:block;}
.mov-title{margin:15px 0 0 0;display:block;height:49px;overflow:hidden;}
.mov-meta{display:inline-block;padding:5px 5px;position:absolute;left:5px;top:3px;background-color:#8c45c5;color:#FFF;font-size:12px;border-radius:0px 9px 0 9px;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.31);text-shadow:0 0.5px 0 rgba(10, 10, 10, 0.46);}
.mov-short:hover{z-index:100;box-shadow:inset 0 0 0 1px #8c45c5,inset 0 0 10px 0 #8c45c5;}
.cat-section .mov-short{width:25%;padding:10px 15px;margin-bottom:10px;}
.ser-item{display:block;float:left;width:31.33%;height:146px;position:relative;padding:10px 120px 0 100px;margin:0 1% 20px 1%;background-color:#FFF;border:3px solid #d9dde6;}
.ser-img{width:80px;height:120px;position:absolute;left:10px;top:10px;}
.ser-ser{display:inline-block;padding:5px 10px;box-shadow:inset 0 0 0 2px #F44336;border-radius:3px;position:absolute;right:10px;top:10px;}
.ser-o-title{text-transform:uppercase;margin-top:5px;color:#888;}
.ser-item:hover{color:#2a2a2a;border-color:#28a1d8;box-shadow:0 0 10px 0 rgba(4,162,220,0.5);}
.fcols{padding:30px 40px;}
.fbottom{background-color:#f7f8f9;padding:20px;}
.fmenu{width:25%;float:left;color:#656565;}
.fmenu-title{margin-bottom:15px;font-size:20px;}
.fmenu-title .fa{color:#28a1d8;}
.fmenu a{display:block;color:#727272;margin-bottom:7px;padding-left:25px;}
.fmenu a:before{content:"\f105";margin-right:7px;font-family:'FontAwesome';color:#28a1d8;}
.fmenu a:hover{color:#28a1d8;text-decoration:underline;}
.fsoc{float:right;text-align:right;padding:20px;display:inline-block;background-color:#f7f8f9;box-shadow:inset 0 0 20px 0 rgba(0,0,0,0.15);}
.fbottom div{line-height:31px;}
.counters{display:inline-block;background-color:#CCC;height:31px;min-width:88px;}
.speedbar{padding:10px 20px;color:#ccc;background:linear-gradient(to bottom, #424550 0%,#15161a 100%);border-top:5px solid #8c45c5;}
.speedbar a{color:#fff;}
.speedbar a:hover{text-decoration:underline;}
.speedbar + .section{padding-top:20px;}
.speedbar.flex-row{align-items:center;}
.speedbar.flex-row > span{max-width:75%;}
.top-t{font-size:18px;color:#FFF;margin-bottom:20px;}
.top-t .fa, .top-item .fa{color:#ffcc00;margin-right:10px;}
.top-item a, .films-list a{display:block;padding:10px 0;color:#CCC;border-top:1px solid #000;box-shadow:0 -1px #333;}
.top-item a:hover, .films-list a:hover{color:#FFF;text-decoration:underline;}
.actor-cont h1{margin-bottom:0 !important;}
.actor-wrap{background-color:#333;padding:10px;margin-bottom:20px;color:#FFF;border-bottom:5px solid #fc0;}
.act-face{padding:0 5px;}
.act-face img{display:block;width:100%;max-width:180px;margin:0 auto;}
.act-name{font-size:16px;padding-bottom:10px;}
.act-name h2{font-size:16px;}
.act-name div{color:#e3e3e3;font-size:14px;margin:10px 0;}
.act-line{margin-top:10px;color:#ccc;padding-bottom:10px;border-bottom:1px dashed #777;font-size:12px;}
.act-line div{color:#fff;margin-bottom:5px;}
.act-line:last-child{padding-bottom:0;border-bottom:0;}
.act-descr{padding:20px;margin-top:6px;}
.act-search{position:relative;margin-bottom:20px;}
.act-search [type="submit"]{position:absolute;right:0;top:0;border-radius:4px;}
.article-item{padding-left:200px;margin:15px 10px 0 10px;position:relative;}
.article-img{height:130px;width:200px;margin-left:-200px;float:left;}
.article-img:hover{opacity:0.7;}
.article-date{position:absolute;left:0;bottom:0;color:#fff;font-size:14px;padding:10px;background-color:rgba(0,0,0,0.5);display:inline-block;}
.article-text{width:100%;float:right;padding:0 0 0 20px;}
.article-title{display:block;font-weight:700;margin-bottom:10px;text-transform:uppercase;}
.article-title:hover{color:#000;text-decoration:underline;}
.article-desc{color:#5c5c5c;font-size:12px;line-height:18px;text-align:justify;}
.article-item .more{color:#28a1d8;text-decoration:underline;display:block;margin-top:10px;}
.bottom-nav{line-height:40px;text-align:center;font-size:14px;padding:20px 10px 0 10px;}
.pagi-nav{white-space:nowrap;overflow-y:hidden;overflow-x:auto;max-width:100%;background-color:#FFF;border:1px solid #e3e3e3;border-radius:3px;display:inline-block;}
.pagi-nav > span{display:inline-block;}
.pprev, .pnext{}
.pprev{border-right:1px solid #e3e3e3;}
.pnext a, .pprev a, .pprev > span, .pnext > span{display:block;width:40px;text-align:center;}
.navigation{text-align:center;}
.navigation a, .navigation span{display:inline-block;padding:0 5px;min-width:38px;color:#444;border-right:1px solid #e3e3e3;margin-right:-4px;}
.navigation span, .pagi-nav a:hover{background-color:#8c45c5;color:#fff;}
.navigation span.nav_ext{background-color:transparent;color:#888;}
.dle-comments-navigation .pagi-nav{margin-bottom:0;padding-bottom:20px;}
.top-cols{padding:20px 20px 20px 540px;height:340px;overflow:hidden;}
.top-left{width:500px;height:300px;margin-left:-520px;float:left;}
.top-right{width:100%;float:right;}
.top-soc .vk-btn, .top-soc .fav-btn{width:30%;font-size:16px;}
.top-soc{margin-bottom:10px;}
.top-soc .search-box{width:66%;}
.top-cols .section-head > *:first-child{font-size:18px;margin-left:-20px;}
.top-cols .section-head > *:first-child div{font-size:18px;}
.top-cols .section-content, .top-cols .section{padding:0;}
.top-cols .sc-in{opacity:0;}
.top-cols .section-content{margin:0;}
.top-cols .mov-short{padding:0 5px;border:0;box-shadow:none;}
.top-cols .mov-img{height:160px;}
.top-cols .mov-title{margin:15px 0 0 0;white-space:nowrap;text-overflow:ellipsis;font-size:12px;height:auto;}
.cols-full{padding-left:340px;position:relative;}
.full-left{width:340px;margin-left:-340px;padding:20px;float:left;position:relative;}
.full-right{width:100%;padding:20px 20px 20px 0;float:right;min-height:200px;}
.f-info-cols{padding-right:280px;}
.f-rkl{width:240px;height:400px;margin-right:-260px;float:right;background-color:#CCC;}
.f-info{width:100%;float:left;}
.cols-first{border-bottom:1px solid #e3e3e3;box-shadow:0 10px 10px -10px rgba(0,0,0,0.2);background:url(../images/bg-gradient.png) left -100px repeat-x;padding-top:6px;}
.f-rkl2{height:255px;width:300px;background-color:#CCC;position:absolute;left:20px;bottom:20px;}
.edit-btn{position:absolute;right:10px;top:10px;font-size:24px;}

.cols-second .full-left22 {min-height:500px;}
.scroller {}
.scroller::-webkit-scrollbar{width:0;}
.scroller__bar{position:absolute;left:0;z-index:1;top:0;width:10px;background:#8c45c5;border-radius:0;opacity:0.7;display:none;}
.scroller:hover .scroller__bar{opacity:1;}
.masked:before{content:'';position:absolute;z-index:1;bottom:0px;left:0;right:0;height:120px;pointer-events:none;background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);}
.f-info h1{font-size:24px;margin-bottom:10px;}
.f-original{color:#5c5c5c;text-transform:uppercase;margin-bottom:15px;}
.f-rows{align-items:center;}
.f-rows-in{width:80%;}
.f-row{margin-bottom:20px;}
.f-row span{color:#e4504c;}
.f-time{width:80px;text-align:center;}
.f-time .fa{font-size:24px;color:#F44336;}
.f-time div{font-weight:700;margin-top:5px;}
.rates{}
.rates > div{display:inline-block;margin-right:20px;line-height:30px;}
.rates > div:before{content:attr(data-label);display:inline-block;padding:0 10px;margin-right:10px;}
.r-kp:before{box-shadow:inset 0 0 0 1px #f60;}
.r-imdb:before{box-shadow:inset 0 0 0 1px #fc0;}
.f-actors{padding:20px;height:195px;overflow:hidden;position:absolute;left:0;bottom:0;width:100%;background-color:#f7f8f9;box-shadow:inset 0 0 20px 0 rgba(0,0,0,0.15);}
.actor-item{width:78px;float:left;margin:0 20px 60px 0;}
.actor-img{height:105px;border:2px solid #FFF;box-shadow:0 0 0 1px #e3e3e3;border-radius:3px;}
.actor-title{margin-top:10px;height:25px;text-align:center;text-transform:uppercase;font-size:10px;overflow:hidden;display:block;}
.owl-item .actor-item{float:none;margin:0 auto;}
.f-fix{min-height:430px;margin-bottom:15px;position:relative;padding-bottom:210px;}
.f-poster{position:relative;background-color:#CCC;height:430px;}
.trailer-box{display:none;}

.Rating_Block{margin:20px 0 30px 0;text-align:center;width:100% !important;}
.rating{width:240px !important;height:16px;margin:0 auto;float:none !important;}
.unit-rating{list-style:none;margin:0px;padding:0px;width:240px;height:26px;position:relative;
    background-image:url("../images/rating.png");background-position:top left;
    background-repeat:repeat-x;}
.unit-rating li{text-indent:-90000px;padding:0px;margin:0px;float:left;}
.unit-rating li a{display:block;width:24px;height:26px;text-decoration:none;
    text-indent:-9000px;z-index:17;position:absolute;padding:0px;}
.unit-rating li a:hover{background-image:url("../images/rating.png");
    background-position:0px -26px;z-index:2;left:0px;}
.unit-rating a.r1-unit{left:0px;}
.unit-rating a.r1-unit:hover{width:24px;}
.unit-rating a.r2-unit{left:24px;}
.unit-rating a.r2-unit:hover{width:48px;}
.unit-rating a.r3-unit{left:48px;}
.unit-rating a.r3-unit:hover{width:72px;}
.unit-rating a.r4-unit{left:72px;}
.unit-rating a.r4-unit:hover{width:96px;}
.unit-rating a.r5-unit{left:96px;}
.unit-rating a.r5-unit:hover{width:120px;}
.unit-rating a.r6-unit{left:120px;}
.unit-rating a.r6-unit:hover{width:144px;}
.unit-rating a.r7-unit{left:144px;}
.unit-rating a.r7-unit:hover{width:168px;}
.unit-rating a.r8-unit{left:168px;}
.unit-rating a.r8-unit:hover{width:192px;}
.unit-rating a.r9-unit{left:192px;}
.unit-rating a.r9-unit:hover{width:216px;}
.unit-rating a.r10-unit{left:216px;}
.unit-rating a.r10-unit:hover{width:240px;}
.unit-rating li.current-rating{background-image:url("../images/rating.png");
    background-position:left bottom;position:absolute;height:26px;display:block;
    text-indent:-9000px;z-index:1;}

.rate3{height:60px;position:relative;text-align:center;padding:0 35px;overflow:hidden;margin:5px 0;}
.rate3 span[id*="ratig-layer"]{display:none;}
.pluss, .minuss{cursor:pointer;width:30px;height:60px;line-height:60px;position:absolute;top:0;left:0;color:#00b75f;}
.minuss{color:#e04a3b;left:auto;right:0;line-height:70px;}
.rate3 span.fa{font-size:24px;}
.pluss:hover{color:#028c19;}
.minuss:hover{color:#a12702;}
.rate-info{height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;}
.ratebar{width:100%;min-height:10px;height:10px;border-radius:4px;overflow:hidden;margin:3px 0 1px 0;position:relative;background-color:#e04a3b;}
.ratefill{width:0%;height:100%;position:absolute;left:0;top:0;background-color:#00b75f;transition:width 1s linear;}
.rateperc{margin-right:5px;}
.rate-sub{font-size:12px;font-style:italic;}
.full-left .more-btn{padding:0;}
.full-left .more-btn a{display:block;padding:0;}
.dl-action{margin-top:20px;align-items:center;}
.dl-text{font-size:16px;font-weight:bold;}
.dl-text div{font-size:11px;color:#888;font-weight:normal;margin-top:5px;}
.dl-btn div{font-size:11px;text-align:right;padding-right:75px;background:url(../images/stars.png) right center no-repeat;}
.dl-btn .button{margin-top:10px;font-size:16px;font-weight:bold;width:175px;text-align:center;}
.desc-title{font-size:19px;font-weight:500;margin-bottom:15px;position:relative; display: flex;}
.desc-title .fa{color:#8c45c5;margin-right:10px;font-size:20px;}
.desc-text{background-color:#f5f5f5;border:1px solid #e3e3e3;padding:20px;border-radius:4px;margin-bottom:20px;}
.news-h-title{font-size:22px;font-weight:700;margin-bottom:15px;position:relative;}
.desc-news-text{margin-bottom:0px;}
.tor-table{border:1px solid #e3e3e3;border-bottom:0;border-right:0;margin-bottom:0px;}
.tor-row{border-bottom:1px solid #e3e3e3;color:#5c5c5c;}
.tor-cell{border-right:1px solid #e3e3e3;text-align:center;float:left;width:12%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:50px;line-height:50px;}
.tor-cell:first-child{text-align:left;width:76%;padding:0 10px;}
.tor-row:first-child{background:linear-gradient(to bottom, #424550 0%,#15161a 100%);color:#fff;font-size:16px;border-bottom:5px solid #8c45c5;font-weight:500;}
.tor-row:first-child .tor-cell{border-right:1px solid #849f48;}
.tor-row:nth-child(2n+1){background-color:#f5f5f5;}
.tor-cell > span{color:#888;margin-left:10px;font-size:12px;}
.tor-cell a{color:#06c;text-decoration:underline;}
.tor-cell span .fa{color:#8c45c5;margin-right:5px;}
.tor-cell:last-child a{display:block;width:40px;height:40px;text-align:center;line-height:48px;border-radius:50%;background-color:#8c45c5;margin:5px auto 0 auto;}
.tor-cell:last-child .fa{font-size:24px;color:#fff;}
.full-text embed, .full-text object, .full-text video, .full-text iframe, .full-text frame{width:100% !important;height:450px;}
.trailer-box iframe{height: 450px!important;}
.full-text{line-height:20px;color:#5c5c5c}
.full-text img{margin:0 10px 10px 0;max-width:100%;}
.full-text a{text-decoration:underline;color:#06c;}
.full-text a:hover{text-decoration:underline;}
.full-text h2, .full-text h3, .full-text h4, .full-text h5{color:#51553c;margin-bottom:15px;font-style:italic;font-family:Georgia, "Times New Roman", Times, serif;}
.full-text h2{font-size:18px;}
.full-text h3{font-size:18px;}
.full-text h4{font-size:16px;}
.full-text h5{font-size:16px;}
.full-text p{margin-bottom:15px;}
.full-text ul li{list-style:disc;margin-left:40px;}
.full-text ol{counter-reset:li;padding:0;list-style:none;margin-left:25px;}
.full-text ol li{position:relative;margin:0 0 5px 0;padding-left:30px;min-height:20px;}
.full-text ol li:before{content:counter(li);counter-increment:li;font-size:11px;position:absolute;top:2px;left:0;width:20px;height:20px;line-height:20px;text-align:center;color:#fff;background:#0297dc;font-weight:bold;border-radius:50%;}
.full-text table{width:100%;text-align:left;}
.full-text table tr td{padding:10px;border:1px solid #ccc;font-size:12px;}
.full-text table tr:nth-child(1){background-color:#0297dc !important;color:#FFF;font-size:14px !important;}
.full-text table tr:nth-child(2n+1){background-color:#f9f9f9;}
.full-text table img{display:block;margin:0;border:0;max-width:350px}
.attach{line-height:40px;background-color:#f5f5f5;padding:0 15px 0 0;border-radius:4px;margin:10px 0;overflow:hidden;}
.attach .download-link{color:#FFF !important;text-decoration:none !important;margin-right:15px;float:left;display:inline-block;padding:0 15px;background:#0297dc;}
.attach-info{float:right;}
.attach i{margin-right:5px;}
.dcont{border:1px solid #e3e3e3;padding:0 15px 15px 15px;margin:20px 0;line-height:20px;}
.polltitle{display:block;padding:5px 15px;margin:0 -15px 15px -15px;font-size:18px;background-color:#f5f5f5;line-height:normal;}
.full-taglist{margin:10px 0 20px 0;font-size:11px;}
.full-taglist-t{margin-bottom:5px;font-weight:bold;}
.full-taglist a:hover{text-decoration:underline;}
.full-nav{text-align:center;margin-bottom:20px;}
.full-nav a{color:#06c;text-decoration:none;}
.full-nav a:hover{color:#06c;text-decoration:underline;}
.full-nav-pages{margin:0 15px;}
.full-nav-pages span, .full-nav-pages a{display:inline-block;margin:0 5px;}
.full-comms{}
.comms-head{margin:0 0 20px 0;text-align:center;}
.comms-title{font-size:20px;line-height:40px;float:left;}
.comms-title sup{color:#E70C2F;}
.comms-title > .fa{color:#8c45c5;margin-right:10px;}
.add-commbtn{float:right;text-align:center;border-radius:4px;font-size:13px;height:35px;line-height:35px;padding:0 15px;}
#add-comm-form2{display:none;margin:20px 0;}
#add-popup{display:noneж}
.add-comm-form{}
.ac-soc{}
.ac-soc:before{content:attr(data-label);display:inline-block;vertical-align:top;line-height:30px;margin-right:5px;}
.ac-soc a{display:inline-block;margin:0 0 0 3px;vertical-align:top;}
.ac-soc img{display:block;width:30px;}
.add-comm-form, .ac-inputs, .ac-textarea{margin-bottom:15px;}
.ac-av{width:40px;height:40px;border-radius:50%;float:left;margin-right:10px;background:#000 url(../dleimages/noavatar.png) no-repeat;background-size:contain;}
.ac-title{font-weight:700;margin-bottom:15px;font-size:16px;}
.ac-inputs input{width:49%;}
.ac-textarea textarea{height:85px;}
.ac-submit button{display:block;text-align:center;width:100%;}
.ac-textarea > br, .ac-textarea > input, .ac-textarea > label{display:none !important;}
.active .ac-textarea > br, .active .ac-textarea > input, .active .ac-textarea > label{display:inline-block !important;}
.sec-answer + .sec-label{margin-top:10px;}
.ac-protect{margin-top:-10px;display:none;}
.ac-protect .label{font-size:12px;}
.ac-protect .sep-input{padding:10px 10px 10px 160px;}
.mass_comments_action{text-align:right;padding:5px 15px;background-color:#f0f0f0;margin:20px 0;display:none;}
.last-comm-link{font-size:16px;margin-bottom:10px;}
.last-comm-link a{text-decoration:underline;color:#06c;}
.comments-items{margin:0 0 20px 0;}
.comm-item{margin-bottom:20px;}
.comm-one{position:relative;height:40px;}
.comm-one > div{height:100%;float:left;line-height:20px;font-size:12px;max-width:150px;overflow:hidden;}
.comm-one22:before{content:"";width:8px;height:8px;position:absolute;left:-2px;bottom:0;background-color:#ccc;border-radius:50%;}
.status-online:before{background-color:#3C0;}
.comm-av{width:40px;border-radius:50%;margin-right:10px;}
.comm-author, .comm-author a{color:#06c;text-transform:uppercase;}
.comm-author a:hover{text-decoration:underline;}
.comm-date, .comm-num{font-size:12px;color:#888;}
.comm-one > div.comm-ratebox{float:right;margin-right:0;}
.comm-two{background-color:#f5f5f5;padding:10px;border-radius:3px;margin:10px 0;border:1px solid #e3e3e3;}
.signature{font:italic 11px Georgia, "Times New Roman", Times, serif;margin-top:10px;padding-top:10px;border-top:1px dashed #e3e3e3;}
.comm-three ul{text-align:right;text-transform:uppercase;}
.comm-three ul li{margin-left:5px;display:inline-block;}
.comm-three li:first-child, .comm-three li.comm-q{float:left;margin-left:0;margin-right:10px;}
.comm-three ul li a{font-size:10px;}
.comm-three ul li span.fa{margin-right:10px;color:#888;}
.comm-three a:hover{text-decoration:underline;}
.comments-tree-list .comments-tree-list{}
.comm-rate{background-color:#f5f5f5;background:linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%);border-radius:4px;overflow:hidden;box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);height:24px;line-height:24px;position:relative;padding:0 30px;text-align:center;}
.comm-rate a{display:block;color:#fff;background-color:#7db625;width:24px;height:24px;position:absolute;top:0;left:0px;line-height:24px;font-size:12px;}
.comm-rate a:nth-child(2){background-color:#cd3560;left:auto;right:0;}
.comm-rate a:hover{opacity:0.7;}
.comm-rate > span > span.ratingzero{color:#444444;}
.comm-rate > span > span.ratingtypeplus{color:#06b601;}
.comm-rate > span > span.ratingplus{color:#95c613;}
.comm-rate > span > span.ratingminus{color:#ff0e0e;}
.comments-tree-list .comments-tree-list{padding-left:0 !important;}
.ac-soc{position:static;}
.ac-inputs input{width:100%;margin-top:10px;}
.ac-protect{}
.ac-protect .form-item{padding-left:0;}
.ac-protect .form-item > label{float:none;width:100%;margin-left:0;padding:0 0 10px 0;}
.ac-protect .form-item > input[type="text"]{float:none;}
.login-box{background-color:#FFF;padding:20px;display:none;}
.lb-user{margin:-20px -20px 20px -20px;padding:20px;background-color:#eaf2fc;display:flex;flex-flow:row wrap;justify-content:center;align-items:center;}
.lb-ava{width:80px;height:80px;border-radius:50%;margin-right:20px;}
.lb-name div{font-size:18px;font-weight:700;}
.lb-name a{margin-top:10px;}
.lb-menu a{display:block;line-height:30px;padding:0 10px;background-color:#f5f5f5;}
.lb-menu a:hover, .lb-menu a:hover .fa{background-color:#8c45c5;color:#fff;}
.lb-menu a .fa{color:#8c45c5;}
.login-box input[type="text"], .login-box input[type="password"], .login-box button, .lb-check{display:block;margin-bottom:20px;width:100%;background-color:#FFF;}
.lb-check input{display:none;}
.lb-check input + label:before{width:14px;height:14px;margin-right:7px;cursor:pointer;position:relative;top:3px;border-radius:3px;border:1px solid #ccc;content:"";background-color:#f6f6f6;display:inline-block;}
.lb-check input:checked + label:before{background-color:#e5050b;}
.lb-soc{margin:20px -20px -20px -20px;padding:20px;background-color:#eaf2fc;text-align:center;}
.lb-soc a{display:inline-block;margin:10px 3px 0 3px;vertical-align:top;}
.lb-soc img{display:block;width:30px;}
.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.owl-carousel .owl-animated-in{z-index:0;}
.owl-carousel .owl-animated-out{z-index:1;}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
@-webkit-keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}}
@keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}}
.owl-height{transition:height 500ms ease-in-out;}
.owl-carousel{display:none;-webkit-tap-highlight-color:transparent;position:relative;z-index:1;transition:opacity .3s;}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px, 0px, 0px);}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;user-select:none;}
.owl-carousel.owl-loaded{display:block;opacity:1;}
.owl-carousel.owl-loading{opacity:0;display:block;}
.owl-carousel.owl-hidden{opacity:0;}
.owl-carousel .owl-refresh .owl-item{display:none;}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.owl-carousel .owl-item img{display:block;}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto;}
.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab;}
.owl-carousel.owl-rtl{direction:rtl;}
.owl-carousel.owl-rtl .owl-item{float:right;}
.no-js .owl-carousel{display:block;}
.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity 400ms ease;}
.owl-carousel .owl-item22 img{transform-style:preserve-3d;}
.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000;}
.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url("owl.video.play.png") no-repeat;cursor:pointer;z-index:1;transition:scale 100ms ease;}
.owl-carousel .owl-video-play-icon:hover{transition:scale(1.3, 1.3);}
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon{display:none;}
.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity 400ms ease;}
.owl-carousel .owl-video-frame{position:relative;z-index:1;}
.owl-controls{position:absolute;z-index:998;top:-45px;right:0;}
.owl-nav{}
.owl-prev, .owl-next{width:30px;height:30px;line-height:30px;box-shadow:inset 0 0 0 2px #8c45c5;display:inline-block;margin-left:10px;border-radius:20px;background2:linear-gradient(to bottom, #8c45c5 0%,#5e1f91 100%);color2:#FFF;}
.owl-prev{padding-left:8px}
.owl-next{text-align:right;padding-right:8px;}
.owl-nav div:hover{background-color:#8c45c5;color:#FFF;}
#owl-slider .owl-controls{position:absolute;top:25px;right:40px;}
.owl-dot{width:10px;height:10px;border-radius:50%;background-color:#fff;display:inline-block;margin:5px;}
.owl-dot.active{background-color:#d7295e;}
.f-actors .owl-controls{position:static;margin:10px 8px 0 8px;text-align:center;}
.f-actors .owl-dots{}
.f-actors .owl-dot{width:12px;height:12px;border-radius:6px;margin:0 5px;display:inline-block;background-color:#FFF;box-shadow:inset 1px 1px 2px 0 rgba(0,0,0,0.3);}
.f-actors .owl-dot.active{background:linear-gradient(to bottom, #8c45c5 0%,#5e1f91 100%);}
.f-actors .owl-stage{height:140px;overflow:hidden;}
@media(min-width:980px){.fix-slider .owl-item .mov-short .mov-img{width:165px;margin:0px auto;}
}

.cat-header {background-color: #f7f8f9; box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.15); padding:20px; margin: 0 0 20px 0;}
.cat-rkl {width:500px; height:280px; background-color:#ccc;}
.chooser {width:calc(100% - 520px);}
.ch-header {font-weight:700; font-size:18px; margin-bottom:20px;}
.ch-select, .ch-radio {margin-bottom:20px;}
.ch-radio input {vertical-align:middle; margin-right:5px; top:-1px; position:relative;}
.ch-select select {width:47%; height:30px;}
.ch-submit button {width:100%; text-align:center;}

.pages #dle-content {counter-reset:top;}
.mov-top {position:relative;}
.mov-top:before {content:counter(top); counter-increment:top;
width:116px; height:110px; text-align:center; line-height:105px; 
font-size:28px; font-weight:700; position:absolute; right:10px; bottom:75px; margin:0; color:#fff; z-index:200;
background:url(../images/medal.png) -2px 0 no-repeat; transform:scale(0.7,0.7);}

.mov-top:nth-child(1):before, .mov-top:nth-child(2):before, .mov-top:nth-child(3):before, 
.mov-top:nth-child(4):before, .mov-top:nth-child(5):before { 
color:#ffdd00; background:url(../images/medal2.png) -2px 2px no-repeat;
}

.podb-links {margin-bottom:20px;}
.podb-links a {display:inline-block; margin:0 5px 7px 0; padding:6px 10px; 
background: linear-gradient(to bottom, #fff 0%,#f2f2f2 100%);
border-radius: 3px; border:1px solid #e3e3e3;}
.podb-links a:hover{background:linear-gradient(to top, #8c45c5 0%,#5e1f91 100%);color:#fff;}

.podb-text h1 {font-size:19px;font-weight:500;margin-bottom:15px;}
.podb-head {padding: 20px 20px !important;margin:0 !important;}

li.podb-li {width:100% !important;margin:0;float:none;padding:15px;align-items:center;}
.podb-li select {width:150px;}

.show-menu{display:none;}
@media screen and (max-width:1220px){.center{max-width:1000px;}
.show-login{right:10px;}
.main-top{padding:20px 10px;}
.section-head{padding:0 90px 0 10px;}
.section-content{padding:0 0px;}
.ser-section .section-content{padding:0 0px;}
.ser-section .section-head{padding:0 10px;}
.descr{padding:30px 10px;}
background-color:#15161a;box-shadow:inset -40px 0 20px -20px #000;.cat-section{padding:0 0px;}
.cols + .descr{padding:30px 10px;}
.owl-controls{right:10px;}
.show-menu{display:block;width:60px;height:65px;text-align:center;line-height:65px;font-size:24px;cursor:pointer;color:#FFF;}
.header-menu{background-color:#15161a;position:absolute;left:0;top:100%;padding:0px;z-index:888;display:none;border-top:5px solid #8c45c5;box-shadow:0 20px 20px 0 rgba(0,0,0,0.3);max-width:600px;width:100%;}
.header-menu > li{display:block;}
.header-menu > li > a{line-height:30px;}
.hidden-menu{width:100%;position:static;display:none;}
.mov-short{padding:20px 10px 10px 10px;}
.fcols{padding:30px 10px;}
.fbottom{padding:20px 10px;}
.speedbar{padding:10px;}
.top-cols{padding:20px 10px 20px 520px;}
.top-left{margin-left:-510px;}
.top-cols .section-head > *:first-child{margin-left:-10px;}
}
@media screen and (max-width:950px){.main{overflow:hidden;}
.center{max-width:768px;}
.vk-btn, .fav-btn{width:24%;}
.search-box{width:46%;}
.owl-controls {top:-33px;}
.section-head a {margin-top:-10px; display:none}
.section-head {height:auto; line-height:20px;}
.section-head > *:first-child{font-size:18px;max-width:80%;}
.section-head h1, .section-head h2, .section-head h3, .section-head > *:first-child div{font-size:18px; display:inline;}
.section-head22 > *:first-child:before{content:'';position:absolute;z-index:1;bottom:0px;right:0;top:0;pointer-events:none;background:linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);width:100px;}
.darken .section-head > *:first-child:before{background:linear-gradient(to right, rgba(245,245,245,0) 0%, #f5f5f5 100%);}
.descr-title{font-size:18px;}
.ser-item{width:48%;}
.fmenu{width:50%;margin-bottom:20px;}
.fsoc{float:none;width:100%;text-align:center;}
.cols{padding-left:0}
.cols:before{content:"";width:250px;position:absolute;left:0;top:6px;bottom:0;background-color:#15161a;box-shadow:inset -40px 0 20px -20px #000;display:none;}
.sidebar{width:100%;margin-left:0;float:none;background-color:#15161a;box-shadow:inset 0 40px 20px -20px #000;}
.content{width:100%;float:none;}
.speedbar > div{display:none;}
.top-cols{display:none;}
.cols-first{padding-left:240px;}
.cols-first .full-left{width:240px;margin-left:-240px;padding:20px 10px;}
.cols-first .full-right{padding:20px 10px 20px 0;}
.cols-second{padding-left:0;}
.cols-second .full-left{width:100%;margin-left:0;padding:20px 10px;float:none;}
.cols-second .full-right{width:100%;padding:20px 10px;float:none;border-bottom:1px solid #e3e3e3;box-shadow:0 10px 10px -10px rgba(0,0,0,0.2);}
.f-rkl2{position:static; margin:0 auto;}
.f-fix{min-height:330px;}
.f-poster{height:330px;}
    .mov-top {width: 25%;}
}
@media screen and (max-width:760px){.center{max-width:640px;}
.hidden-menu li{width:48%;margin:0 1%;}
.hidden-menu a{padding:7px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.vk-btn, .fav-btn, .section-head a, .dl-action {display:none;}
.search-box{width:100%;}
.sc-in{opacity:0;}
.cat-section .mov-short{width:33.33%;}
.speedbar{font-size:12px;}
.cols-first{padding-left:0;}
.cols-first .full-left{width:100%;margin:0;padding:20px 10px;float:none;background:#f7f8f9 url(../images/bg.png);box-shadow:inset 0 25px 20px -20px rgba(0,0,0,0.15),inset 0 -25px 20px -20px rgba(0,0,0,0.15);}
.cols-first .full-right{padding:20px 10px;float:none;}
.cols-first .full-left > *{width:220px;margin-left:auto;margin-right:auto;}
.f-poster{height:220px;border-radius:50%;}
.f-poster img{margin-top:-50px;}
.f-poster .mov-meta{display:none;}
.full .descr-left{width:100%;height:auto;margin:0 0 20px 0;float:none;}
.tor-cell{width:15%;font-size:12px;}
.tor-cell:first-child{width:70%;}
.f-info h1, .desc-title{font-size:18px;}
.sub-title h1{font-size:18px;line-height:24px;}
.trailer-box iframe{height:auto!important;}
    
.cat-rkl {display:none;}
.chooser {width:100%;}
    .mov-top {width: 33.33%;}
.podb-li select {width:100px;}
}
@media screen and (max-width:590px){.center{max-width:480px;}
.header-in{padding:0 0 0 130px;}
.logotype{width:130px;background-size:contain;}
.main-soc, .mov-meta{display:none;}
.header{margin-bottom:140px;}
.mov-img{height:124px;}
.more-two a{font-size:14px;margin:0 10px;}
.descr-left{width:100%;float:none;margin:0 0 20px 0;}
.ser-section .section-content{padding:0 10px;}
.ser-item{float:none;width:100%;margin:0 0 10px 0;}
.fmenu{width:100%;margin-bottom:20px;float:none;}
.fmenu-title{font-size:18px;}
.full-text embed, .full-text object, .full-text video, .full-text iframe, .full-text frame{width:100% !important;height:300px;}
.ui-dialog{width:100% !important;}
.upop-left, .upop-right{float:none !important;width:100% !important;margin:0;padding:0 20px;}
.upop-left{margin-bottom:10px;text-align:center;}
.ui-dialog-buttonset button{display:block;margin:0 0 5px 0;width:100%;}
#dofullsearch, #searchsuggestions span.seperator{display:none !important;}
.attach .download-link{margin:0 -15px 0 0;float:none;display:block;padding:0 10px;}
.attach-info{float:none;}
}
@media screen and (max-width:470px){.center{max-width:320px;}
.show-login .fa{display:none;}
.more-two a{font-size:16px;margin:10px;}
.section-head > *:first-child{max-width:90%;}
.cat-section .mov-short{width:50%;}
.article-item{padding-left:0;}
.article-img{display:none;}
.article-text{float:none;padding:0;}
.f-rows-in{width:100%;}
.f-time, .dl-btn div{display:none;}
.dl-btn, .dl-text{width:100%;text-align:center;}
.tor-cell{width:20%;}
.tor-cell:first-child{width:60%;}
    .mov-top {width: 50%;}
.podb-li select {width:100%; margin:5px 0;}
}
.bolds{font-weight:bold;color:#222327!important;}
.black{color:#222327!important;}
.ya-share2,#vk_like{display:inline-block;vertical-align:top;}

.l-wrapper {
    padding: 20px;
}
.l-col-50 {
    width: 50%;
    float: left;
}
.file-block {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 20px 20px 13px 20px;
}
.file-block p {
    margin: 0;
    font-size: 16px;
    text-align: center;
    padding: 0px 10px 6px 55px;
    background: url('../images/hideguard/file-block-icon.png') no-repeat 0 0;
}
.sec-col-text p {
    padding: 0 0 0 20px;
}
.hg-download {
    position: relative;
    height: 154px;
    margin: 60px -40px 30px -40px;
    background: url('../images/hideguard/hg-bg.png') repeat-x 0 0;
}
.hg-dwn-button {
    float: left;
    margin: 25px 0 0 40px;
}
.hg-dwn-button a {
    display: block;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    padding: 7px 20px 9px 20px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.4);
    background: url('../images/hideguard/btn-bg.png') repeat-x 0 0;
}
.hg-dwn-button a:hover {
    text-decoration: none;
    box-shadow: 0 3px 7px rgba(0,0,0,0.5), inset 0 0 16px rgba(255,255,255,0.6);
}
.hg-dwn-button a:active {
    box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 1px 3px rgba(0,0,0,0.7);
}
.hg-dwn-button img {
    vertical-align: middle;
    margin: 0 20px 0 0;
}
.hg-dwn-button p {

}
.hg-version {
    color: #fff;
    font-size: 11px;
    margin: 15px 0 0 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.45);
}
.hg-logo {
    float: left;
    width: 597px;
    height: 167px;
    margin: -13px 0 0 75px;
    background: url('../images/hideguard/hideguard-logo.png') no-repeat 0 0;
}
.screens {

}
.screen {
    float: left;
    padding: 0 20px;
    text-align: center;
}
.screen img {
    margin: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}
.screen p {
    margin: 15px 0;
}
.arrows {
    float: left;
    width: 278px;
    height: 360px;
    position: relative;
    background: url('../images/hideguard/arrows.png') no-repeat center bottom;
}
.file-title {
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 28px;
}
.file-title img {
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.table-screen {
    text-align: center;
}
.table-screen img {
    margin: 30px 0 0 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}
.attention-mess {
    padding: 50px 30px 45px 60px;
    margin: 30px 0;
    border-radius: 10px;
    border: 3px dashed #e7a007;
}
.attention-mess .symbol {
    float: left;
    font-size: 131px;
    margin: 23px 51px 0 0;
    color: #e7a007;
    font-weight: bold;
}
.attention-mess .text {
    float: left;
}
.text .text-title {
    font-size: 40px;
    font-weight: bold;
}
.text p {
    font-size: 18px;
    width: 778px;
    margin: 25px 0 0 0;
}
.hg-dwn-bottom {
    margin-bottom: 0;
    margin-top: 30px;
}
.step-1 {
    position: absolute;
    top: -60px;
    left: 65px;
    padding: 10px 0px 40px 70px;
    background: url('../images/hideguard/line-1.png') no-repeat 0 bottom;
}
.step-1 .step-text {
    padding: 0 0 0 45px;
    width: 240px;
    background: url('../images/hideguard/step-1.png') no-repeat 0 center;
}

.step-2 {
    position: absolute;
    padding: 47px 120px 5px 8px;
    background: url('../images/hideguard/line-2.png') no-repeat right bottom;
}
.step-2 .step-text {
    padding: 0 0 0 45px;
    width: 275px;
    background: url('../images/hideguard/step-2.png') no-repeat 0 center;
}
#ru_blocked .ru-block {
    border: 1px solid #e6e6e6;
    background: #f6f6f6;
    padding: 20px 20px 13px 20px;
}
.ru-block .f-icon {
    margin: 0;
    font-size: 16px;
    text-align: center;
    padding: 12px 10px 15px 55px;
    background: url('../images/hideguard/file-block-icon.png') no-repeat 0 0;
}
.ru-block .m-link {
    text-align: center;
}
.ru-block .m-link a {
    font-size: 16px;
}


.timer li, .timer ul{padding:0px;margin: 0px 0px 0px 5px}
.timer {display:table;width:100%;overflow: hidden;padding: 0;background: linear-gradient(120deg,#FFF 0%,#FFF 50%,#F9F9F9 50%,#FFF 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=1);border-bottom: 1px solid #E9E9E9;margin: 0 0 20px;border-top: 1px solid #E9E9E9;}
.timer .lt {vertical-align:top;width: 55%;display:table-cell;padding: 20px 0;}
.timer .rt {vertical-align:top;width: 45%;display:table-cell;padding: 22px 0;}
.timer .countdown-title{margin:0px;text-transform: uppercase;font-size: 14px;display: inline-block;padding: 0 0 5px;line-height: 22px;color: #28a1d8;}
.timer .countdown-text {font-size: 13px;color: #344960;line-height: 16px;}
.timer .countdown-text span {font-weight: bold;}
.countdown li {display: inline-block;text-align: center;}
.countdown li:first-child .value {color: #28a1d8;}
.countdown .value {font-size: 25px;width: 42px;line-height: 30px;}
.countdown .unit {margin: 8px 0 0;}

.film-info{position:relative;background: #340707 url('/uploads/otrbaa.jpg') 50% 0% no-repeat;height: 233px;box-shadow: 0 -25px 10px -30px rgba(0, 0, 0, 0.58) inset, 0 28px 15px -30px #000 inset;border-radius: 40px;overflow: hidden;margin: 20px 0px;}
.film-info-bg{height:100%;width:100%;transition:all 0.5s;text-align: center;}
.film-info-bg:hover{background: rgba(0, 0, 0, 0.7);}
.film-info-url{text-decoration: none!important;display:inline-block;margin: 0 auto;color: #eee!important;font-size: 26px;padding: 15px 20px;border: 3px solid #eee;border-radius: 10px;opacity:0;transition:all 0.5s;z-index:10;position: relative;top: 80px;}
.film-info:hover .film-info-url{opacity:1;}
.film-info:hover .film-info-url:hover{border: 3px solid #FF302A;}
.full-news {height: 186px; border-radius: 0px 40px 0 40px; margin-bottom: 17px;}
.search-best {font-size: 16px;}
.filmeactor {color: #6b6b6b; padding:10px;}
.filmeactor a {color:#06c; text-decoration:underline;}
.filmeactor h1, .filmeactor h2, .filmeactor h3 {font-size:18px; font-weight:700; margin-bottom:20px; color:#2a2a2a;}
.filmeactor table {width:100%; margin-bottom:20px;}
.filmeactor tr td {padding:10px;}
.filmeactor table tbody tr:first-child {background-color:#111; border-bottom:5px solid #8c45c5;}
.filmeactor tr th {padding:10px; text-align:left; color:#fff; font-size:16px;}
.filmeactor table tbody tr:nth-child(2n) {background-color:#f1efef;}
.filmeactor tr td:nth-child(1) {width:70%;}
.filmeactor tr td:nth-child(2) {width:15%;}
.filmeactor tr td:nth-child(3) {width:15%;}

.year-links {text-align: center; width: 100%; display: table;}
.label-year {margin: 10px 0px; width: calc(45% - 5px); text-align: center; display: inline-block; padding: 18px 0px; color: #A2A2A2; border-radius: 10px; text-decoration: none !important; box-shadow: 0 0 8px #000 inset, 0 0 0 1px rgba(255, 255, 255, 0.23) inset; float: left;}
.year-links .label-year:nth-child(even){margin-left:5px;}
.year-links .label-year:nth-child(odd){margin-right:5px;}
.top-c{margin-bottom:25px;}