body {
	margin:0px; 
	padding:0px;
	font-family : Verdana, arial; 
	font-weight : normal; 
	font-size : 11px; 
	color : #696969;
	background-color : #FFFFFF;
	}
p{
	margin:4px;
	padding:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:1px dotted #F4F4F4;
	font-size: 11px;
}
img{
max-width:180px;
}
form{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
}
a img,:link img,:visited img{border:none;}
a:link{text-decoration:none;color:#006699;}
a:visited{text-decoration:none;color:#006699;}
a:active {text-decoration:none;color:#000000;}
.left {text-align:left;}
.right {text-align:right;}
.center {text-align:center;}
.jatt a{display: inline-block;padding: 10px 5px;}
.jatt:hover{background-color:#E6E6E6;}
.jatt > a:hover {
    color: #333;
    font-weight: bold;
}
.head{
	padding: 5px;
	background:#ef3434;
	font-weight:bold;
	color:#fff;
	margin-top:1px;
	text-transform:capitalize;
}
.footer
	{
	padding:5px;
	background:#595959; repeat-x;
	color:#cccccc;
	border:1px solid #595959;
	font-weight:bold;
	margin-top:1px;
	}
.footer a 
	{ 
	color: #fff;
	}
.style94 {color: #FF0000}

.blue-border {
    border: 1px dashed #1a83cd;
}
#tfnewsearch input:first-child {
    border: 1px solid #1a83cd;
}
.style98 {
	color: #009900;
	font-weight: bold;
}.margin-left{
margin:0 0 0 5px;    
}

.jatt > img {
    vertical-align: middle;
    width: 27px;
}
.jatt a {
    display: inline-block;
    padding: 10px 5px;
}






.fb_sh {
    background: #efefef none repeat scroll 0 0;
    padding: 3px 5px;
}
.serch {
    background: #434343 none repeat scroll 0 0;
    bottom: -1px;
    margin: 0 0 -1px;
    padding: 5px 6px;
}
.jatt:nth-child(2n+2) {
    background: #eee none repeat scroll 0 0;
}
.r1 {
    background: #379fc5 none repeat scroll 0 0;
    border-radius: 0 16px 0 0;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    height: 12px;
    padding: 4px 0;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.serch > h3 {
    color: #fff;
    margin: 0;
    padding: 3px 0;
}
.new {
    background: #ef3434 none repeat scroll 0 0;
    border: 2px dotted #dd2222;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    padding: 0 3px;
}
.fb_sh > p {
    color: #6c2c21;
}