/* $Id: local.css,v 1.14 2011/04/15 00:59:47 bob Exp $ */

#timeline_bell {
	position: absolute; right: 0; top: -180px;
}

#history_oranges {
	position: absolute; left: -15px; top: -195px;
}

#portalA.colA, #portalB.colB, #portalC.colC { padding-bottom: 0 !important; }

#portalA.colA {
	background: #f3f2ec url(/images/design6/frequently_used_column.gif) 0% 0% no-repeat;
	padding-top: 40px;
}

#portalB.colB { background: none; }

#portalC.colC {
	background: url(/images/design6/colC_divider.gif) 0% 0% repeat-y;
}

.nav_fixed { position: fixed; width: 230px; }

ul.index_nav { margin-top: 0.25em; }

ul.index_nav li {
	float: left; list-style-image: none; list-style: none; margin: 0;
	width: 1.5em; font-size: 1.3em; line-height: 2em;
}

ul.index_nav li a { text-align: center; width: 1em; display: block; }

ul.index { margin-top: 1em; }

ul.index li {
	line-height: 1.25em; list-style-image: none; list-style: none;
	text-indent: -1em; margin: 0.5em 0 2px 1em;
}

.index_label {
	margin-top: 1.5em; padding-left: 10px; color: #c65d17;
	border-top: 1px solid #999; border-bottom: 1px solid #999;
}

#ie6_notice {
	margin-top: 3em;
	padding: 2px 0 0 64px;
	background: url(/images/design6/browsers_f3f2ed.gif) 0% 0% no-repeat;
}

#ie6_notice li { margin-left: 16px; }

.l_link_overlay { margin-left:-738px; }

/* vim:set shiftwidth=4 ts=4: */
