
.eventBlackfriday .top-area {
  background: #000;
}
.eventBlackfriday .swiper-pagination-bullet {
  border: 2px #fff solid;
}
.eventBlackfriday .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
.eventBlackfriday .swiper-button-play-pause:before,
.eventBlackfriday .swiper-button-play-pause:after {
  background: #fff;
}
.eventBlackfriday .swiper-button-play-pause[data-playing="false"]:before {
  border-color: #fff;
}
.eventBlackfriday .swiper-button-prev,
.eventBlackfriday .swiper-button-next {
  border: 2px #fff solid;
}
.eventBlackfriday .mainbanner .swiper-slide {
  background: none;
}
.eventBlackfriday .mainbanner .product-responsive .product-info:before {
  border-left: 4.5em solid #000;
}
.eventBlackfriday .spacey-departamentos {
  background: #000;
}
.eventBlackfriday .spacey-departamentos-title,
.eventBlackfriday .spacey-departamentos-link,
.eventBlackfriday .spacey-departamentos-text {
  color: #fff;
}
@media (max-width: 400px) {
  .eventBlackfriday .swipe .swiper-wrapper,
  .eventBlackfriday .main-carousel-box .swiper-wrapper {
    margin-bottom: 0;
  }
}
@media (min-width: 401px) and (max-width: 900px) {
  .eventBlackfriday .swipe .swiper-wrapper,
  .eventBlackfriday .main-carousel-box .swiper-wrapper {
    margin-bottom: 38px;
  }
}
.eventBlackfriday .mainbanner .product-responsive .product-title,
.eventBlackfriday .p-rating-reviews,
.eventBlackfriday .mainbanner .product-responsive .product-price .label,
.eventBlackfriday .mainbanner .product-responsive .product-price-secondary .product-installment,
.eventBlackfriday .mainbanner .product-responsive .product-price-currency,
.eventBlackfriday .mainbanner .product-responsive  .product-brandcard{
  color: #fff!important;
}
.eventBlackfriday .mainbanner .product-responsive  .product-brandcard .icon.logo{
  fill: #fff!important;
}
.eventBlackfriday .mainbanner .product-responsive .product-info {
  background: #000;
}
