/** Font sizes **/
.landing .jumbotron {
  background: none, -webkit-gradient(linear, left 0%, left 100%, from(#1c84c6), to(#2f4050));
  background: none, -webkit-linear-gradient(top, #1c84c6, 0%, #2f4050, 100%);
  background: none, -moz-linear-gradient(top, #1c84c6 0%, #2f4050 100%);
  background: none, linear-gradient(to bottom, #1c84c6 0%, #2f4050 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c84c6', endColorstr='#ff2f4050', GradientType=0);
  padding-top: 30px;
  padding-bottom: 0;
  overflow: hidden;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .landing .jumbotron {
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 529px) {
  .landing .jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.landing .jumbotron h1 {
  text-align: center;
  margin-bottom: 30px;
}
.landing .jumbotron h2 {
  text-align: center;
  margin: -25px 0 30px;
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .landing .jumbotron h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 529px) {
  .landing .jumbotron h2 {
    line-height: 120%;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.landing .jumbotron img {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(35, 198, 200, 0.75);
  box-shadow: 0px 0px 15px 3px rgba(35, 198, 200, 0.75);
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .landing .jumbotron img {
    margin-bottom: 15px;
  }
}
.landing .jumbotron .summary {
  padding-bottom: 30px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .landing .jumbotron .summary {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 529px) {
  .landing .jumbotron .summary {
    padding-bottom: 0;
  }
}
.landing .jumbotron .summary h4 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  margin: 15px 0 30px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .landing .jumbotron .summary h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 529px) {
  .landing .jumbotron .summary h4 {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.landing .jumbotron .btn {
  margin-bottom: 30px;
  white-space: normal;
}
@media only screen and (max-width: 529px) {
  .landing .jumbotron .btn {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.landing .item {
  margin-top: 30px;
  background: #fff;
  border: 1px solid #e7eaec;
  padding: 15px;
}
@media only screen and (max-width: 529px) {
  .landing .item {
    margin: 0 0 15px 0;
  }
}
.landing .item .source {
  border-top: 1px dashed #d1dade;
  padding-top: 10px;
  margin-bottom: 0;
}
.landing .item .title {
  margin-top: 0;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .landing .item .title {
    font-size: 16px;
  }
}
@media only screen and (max-width: 529px) {
  .landing .item .title {
    font-size: 16px;
  }
}
.landing .item .country {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border-top: 1px dashed #d1dade;
  margin-top: 10px;
  padding-top: 15px;
}
.landing .item .country img {
  vertical-align: text-bottom;
}
.contribute {
  background: #2f4050;
  color: #fff;
  padding: 30px 0;
  margin-top: 30px;
}
@media only screen and (max-width: 529px) {
  .contribute {
    margin-top: 15px;
    padding: 15px 0;
  }
}
.contribute h3 {
  margin: 0;
  text-align: left;
  font-weight: 300;
  line-height: 140%;
  font-size: 20px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .contribute h3 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 529px) {
  .contribute h3 {
    font-size: 16px;
    text-align: center;
    line-height: 120%;
  }
}
.contribute h3 strong {
  color: #23c6c8;
}
@media only screen and (max-width: 529px) {
  .contribute .btn {
    font-size: 20px;
    margin-top: 15px;
  }
}
.contribute .form {
  background: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin-top: 30px;
}
.home .jumbotron {
  margin-bottom: 30px;
  padding-bottom: 30px;
  background: url(../img/torrent-bg.png) 30px bottom no-repeat, -webkit-gradient(linear, left 0%, left 100%, from(#1c84c6), to(#2f4050));
  background: url(../img/torrent-bg.png) 30px bottom no-repeat, -webkit-linear-gradient(top, #1c84c6, 0%, #2f4050, 100%);
  background: url(../img/torrent-bg.png) 30px bottom no-repeat, -moz-linear-gradient(top, #1c84c6 0%, #2f4050 100%);
  background: url(../img/torrent-bg.png) 30px bottom no-repeat, linear-gradient(to bottom, #1c84c6 0%, #2f4050 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c84c6', endColorstr='#ff2f4050', GradientType=0);
  text-align: center;
}
@media only screen and (max-width: 529px) {
  .home .jumbotron {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}
.home .jumbotron h3 {
  line-height: 140%;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (max-width: 529px) {
  .home .jumbotron h3 {
    line-height: 120%;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.home .jumbotron-action {
  padding: 15px 15px 30px 15px;
  background: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 529px) {
  .home .jumbotron-action {
    padding: 10px;
  }
}
.home .jumbotron-action p {
  font-size: 16px;
  color: #fff;
}
@media only screen and (max-width: 529px) {
  .home .jumbotron-action p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.home .jumbotron .btn:before {
  content: '';
  position: absolute;
  border-width: 15px 15px 15px 0;
  border-style: solid solid solid none;
  border-color: transparent #1ab394 transparent;
  top: 18px;
  left: -15px;
  z-index: 2;
}
@media only screen and (max-width: 529px) {
  .home .jumbotron .btn:before {
    display: none;
  }
}
.home .jumbotron .btn:hover:before,
.home .jumbotron .btn:focus:before,
.home .jumbotron .btn:active:before {
  border-right-color: #14866f;
}
.home .jumbotron .input-xl,
.home .jumbotron .btn-xl {
  height: 66px;
}
@media only screen and (max-width: 529px) {
  .home .jumbotron .input-xl,
  .home .jumbotron .btn-xl {
    height: auto;
  }
}
.home .bittorent a {
  display: block;
  padding: 15px 15px 10px;
  white-space: normal;
}
@media only screen and (max-width: 529px) {
  .home .bittorent a {
    margin-top: 15px;
  }
}
.home .bittorent a h3 {
  margin: 0 0 5px 0;
}
@media only screen and (max-width: 529px) {
  .home .bittorent a h3 {
    font-size: 20px;
  }
}
.home .bittorent a p {
  margin: 0;
  text-transform: capitalize;
  font-family: "Open Sans", Arial, sans-serif;
}
.home .items {
  margin-top: 30px;
}
.home .item {
  background: #fff;
  border: 1px solid #e7eaec;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.home .item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 24px;
  background: #14866f;
  text-align: center;
  top: 0;
  left: 0;
  opacity: 0;
  color: #fff;
  padding-top: 70px;
  font-weight: bold;
  font-family: "Nunito", Arial, sans-serif;
  -webkit-transition: all 0.15s ease-in 0s;
  transition: all 0.15s ease-in 0s;
}
.home .item .thumbnail {
  position: relative;
  border: none;
  border-bottom: 1px solid #e7eaec;
  margin: 0;
  padding: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 263px;
  height: 163px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .home .item .thumbnail {
    width: 345px;
    height: 200px;
  }
}
@media only screen and (max-width: 529px) {
  .home .item .thumbnail {
    width: 290px;
  }
}
.home .item:hover {
  border-color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}
.home .item:hover .overlay {
  opacity: 0.9;
}
.home .item .caption h4 {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
  /* footer height */
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  background: #f3f3f4;
  color: #2f4050;
}
.main {
  padding-top: 50px;
  /* header height */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", Arial, sans-serif;
}
.btn-hero {
  color: #fff;
  background: #1ab394;
  border-color: #1ab394;
}
.btn-hero:hover {
  background: #14866f;
  border-color: #14866f;
  color: #fff;
}
.btn-primary {
  position: relative;
  color: #fff;
  border: none;
}
.btn-primary:hover {
  top: 2px;
  border: none;
}
.btn-primary.btn--green {
  background: #1ab394;
  -webkit-box-shadow: 0 4px #14866f;
  box-shadow: 0 4px #14866f;
}
.btn-primary.btn--green:hover {
  background: #1dc9a6;
  -webkit-box-shadow: 0 2px #14866f;
  box-shadow: 0 2px #14866f;
}
.btn-primary.btn--orange {
  background: #f6921e;
  -webkit-box-shadow: 0 4px #d87809;
  box-shadow: 0 4px #d87809;
}
.btn-primary.btn--orange:hover {
  background: #f79e37;
  -webkit-box-shadow: 0 2px #d87809;
  box-shadow: 0 2px #d87809;
}
.btn,
input {
  font-family: "Nunito", Arial, sans-serif;
}
.input-xl,
.btn-xl {
  font-size: 32px;
}
@media only screen and (max-width: 529px) {
  .input-xl,
  .btn-xl {
    font-size: 16px;
  }
}
label {
  font-weight: normal;
}
label.required {
  position: relative;
  padding-right: 10px;
}
label.required:after {
  content: "*";
  color: #23c6c8;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-inverse {
  background: #2f4050;
  border: none;
}
.navbar-inverse .navbar-nav li {
  padding: 10px 0;
  margin-left: 5px;
}
@media only screen and (max-width: 529px) {
  .navbar-inverse .navbar-nav li {
    padding: 5px 10px;
    margin-left: 0;
  }
}
.navbar-inverse .navbar-nav li a {
  padding: 5px 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #8095a8;
}
.navbar-inverse .navbar-nav li.active a {
  background: #1c84c6;
  color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-family: "Nunito", Arial, sans-serif;
}
.navbar-inverse .navbar-toggle {
  border: none;
  background: rgba(255, 255, 255, 0.1);
}
.jumbotron {
  color: #fff;
  border-bottom: 1px solid #d1dade;
}
.jumbotron h1 {
  font-weight: bold;
  text-shadow: 1px 1px 2px #2f4050;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .jumbotron h1 {
    margin-top: 0;
    font-size: 46px;
  }
}
@media only screen and (max-width: 529px) {
  .jumbotron h1 {
    margin-top: 0;
    font-size: 32px;
  }
}
#footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #1c2630;
}
#footer p {
  margin: 15px 0;
  color: #8095a8;
  text-align: right;
}
@media only screen and (max-width: 529px) {
  #footer p {
    font-size: 12px;
    text-align: center;
  }
}
#footer p a {
  color: #fff;
}
