#gv_frame {
    overflow: auto;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    width: 585px;
    height: 250px;    
}

.downloadurl {
	background-image: url(imgs/downloadurl.gif);
	height: 38px;
	width: 357px;
	margin: 0px;
	float: left;
	border: 1px solid #F2F2F2;
	font-family: "Trebuchet MS", Arial;
	font-size: 24px;
	color: #262d30;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	background-repeat: no-repeat;
}

form {
	background-image: url(imgs/form.gif);
	background-repeat: no-repeat;
	background-position: 0px -69px;
	padding:0xp;
	margin:0px;
	font-family: "Trebuchet MS", Arial;
}

div.pb_input_wrap {
	
	padding-left:100px;
}

span.pbar_item
{
	border:1px solid blue;
	background-color:#b8defe;
	color:green;
	font-weight:bolder;
}

div.pbar_container
{
	padding:3px 3px 3px 0px;
	width:495px;
	border: 1px solid #808080;
	background-color:#fefee0;
	margin-top:10px;
	margin-left:0px;
}

div.error, #conv.error {
	font-family: "Trebuchet MS", Arial;
	font-size: 16px;
	color: #990000;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

div.dl_link  {
	font-family: "Trebuchet MS", Arial;
	font-size: 16px;
	color: blue;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 125px;
} 

div.dl_link a:link, div.dl_link a:visited  {
	color: blue;
}

div.dp_link_text  {
	font-family: "Trebuchet MS", Arial;
	font-size: 20px;
	color: blue;
	font-weight: bold;
	text-align: center;	
	margin-top: 15px;
	margin-bottom: 10px;
}

div.dp_link_text a:link, div.dp_link_text a:visited  {
	color: blue;
}

#queue_problem {
    display: none;
    color: #990000;
	font-family: arial;
	font-size: 13px;
    line-height: 16px;
	font-weight: bold;
    margin: 6px 3px;    
}

#queue_place_wrapper {
    display: none;
    color: blue;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
    margin: 10px 3px;
    text-align: center;
}

#queue_place {
    display: inline;
    display: none;
    color: #000;
}

#download_link {
    display: none;
}

#queue_msg {
    display: block;
	font-family: arial;
	font-size: 13px;
    line-height: 15px;
	font-weight: bold;
	color: #000;
    margin: 6px 3px;
}

#conv h3, #conv h2 {
margin: 0px;
}


#conv  {
    display: block;
	font-family: arial;
	font-size: 13px;
    line-height: 15px;
	font-weight: bold;
	color: #000;
	text-align: center;
    margin: 6px 3px;

}