@charset "utf-8";
* {	margin: 0px;	padding: 0px; }
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #444444;
	background-color: #10bdf3;
	background-image: url(./imgs/bg.gif);
	background-repeat: repeat-x;
}
#container {
	margin-right: auto;
	margin-left: auto;
	width: 1070px;
}
#copyright {
	text-align: center;
	color: #FFFFFF;
	margin-top: 20px;
	font-size: 11px;
}

#container #main {
	background-image: url(./imgs/mainbg.gif);
	background-repeat: repeat-y;
    background: #fff;
	margin-right: auto;
	margin-left: auto;
	width: 1070px;
    min-height: 700px;
	padding-left: 3px;
	padding-right: 3px;
    padding-bottom: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#container #main #head .logo {
	float: left;
	padding-left: 8px;
}
#container #main #head {
	float: left;
	padding-top: 33px;
	padding-left: 61px;
}
#container .banner {
	float: left;
	padding-top: 10px;
	padding-left: 30px;
	display: inline;
}
#container #main #linkarea .left .text .info .text .back {
	font-size: 16px;
	color: #009933;
	font-weight: bold;
}

#container #main #nav {
	background-image: url(./imgs/nav_long.gif);
	height: 46px;
	width: 1070px;
	margin-top: 10px;
	background-repeat: no-repeat;
}
#container #main #nav ul {
	display: inline;
}
#container #main #nav li {
	display: inline;
	float: left;
	padding-top: 12px;
}
#container #main #nav li a {
	color: #000000;
	font-size: 13px;
	text-decoration: none;
}
#container #main #nav .text {
	margin-top: 2px;
	font-size: 11pt;
	font-weight: bold;
}
#container #main #nav .first {
	padding-left: 16px;
}
#container #main #nav .second {
	padding-left: 42px;
}
#container #main #nav .third {
	padding-left: 40px;
}
#container #main #nav .forth {
	padding-left: 45px;
}
#container #main #nav .fifth {
	padding-left: 40px;
}
#container #main #nav .sixth {
	padding-left: 40px;
}
#container #main #nav .seventh {
	padding-left: 40px;
}

#container #main #nav .sixth a,#container #main #nav .sixth a:visited {
	color: #800000;
}
#container #main #nav .seventh a,#container #main #nav .seventh a:visited {
	color: red;
}

#container #main #linkarea {
	margin-top: 4px;
}
#container #main #linkarea .left {
	float: left;
	width: 750px;
}
#container #main #linkarea .left .text .top {
	background-image: url(./imgs/texttop.gif);
	height: 7px;
	width: 740px;
	background-repeat: no-repeat;
	font-size: 1px;
}
.info {
    border-radius: 6px;
    background: #eaf8fc;
    padding: 10px;
    border: solid 1px #cbe0ea;
    margin: 10px;
}
#container #main #linkarea .left .text .info .title {
	padding-right: 5px;
	padding-left: 5px;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
#container #main #linkarea .left .text .info .text {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}
#container #main #linkarea .left .text .info .text .question {
	font-weight: bold;
	color: #5E892E;
}
#container #main #linkarea .left .text .info .text .answer {
	font-weight: bold;
	color: #333333;
}


#container #main #linkarea .left .text .bottom {
	background-image: url(./imgs/textbottom.gif);
	height: 6px;
	width: 740px;
	background-repeat: no-repeat;
	font-size: 1px;
}
#form {
	background: url(./imgs/form.gif) no-repeat top center;
    position: relative;
    height: 175px;
}

#urlform {
    width: 500px;
    background: #900;
    position: absolute;
    top: 30px;
    left: 200px;
}

.pb_input_wrap {
    position: absolute;
    width: 400px;
    top: 43px;
    left: -120px;
}

.enter_url {
    position: absolute;
    top: -18px;
    left: 100px;
}

#downloadbutton {
    position: absolute;
    top: 1px;
    left: 465px;
}

.downloadurl {
	background-image: url(./imgs/downloadurl.gif);
	height: 44px;
	width: 350px;
	margin: 0px;
	float: left;
/*	border: 1px solid #F2F2F2;*/
	font-family: "Trebuchet MS", Arial;
	font-size: 24px;
	color: #262d30;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
	background-repeat: no-repeat;
}




#container #main #linkarea .right {
	float: right;
	width: 300px;
	padding: 5px;
    margin: 0px 10px 0px 0px;
	color: #777;
    background: #ecf3fb;
}
#container #main #linkarea .right .adsense .top {
	background-image: url(./imgs/adsensetop.gif);
	background-repeat: no-repeat;
	height: 7px;
	width: 165px;
	font-size: 1px;
}
#container #main #linkarea .right .adsense .adsense {
	background-image: url(./imgs/adsensebg.gif);
	background-repeat: repeat-y;
	width: 165px;
	text-align: center;
}
#container #main #linkarea .right .adsense .bottom {
	background-image: url(./imgs/adsensefooter.gif);
	background-repeat: no-repeat;
	height: 6px;
	width: 165px;
	font-size: 1px;
}












#container #main .clean {
	clear: both;
}
#container #main .underformadsense {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
#container #main #footerarea .top {
	height: 8px;
	width: 749px;
	background-repeat: no-repeat;
	font-size: 1px;
}
#container #main #footerarea .middle {
	width: 749px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}
#container #main #footerarea .middle a {
	width: 749px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	color: #333333;
}
#container #main #footerarea .bottom {
	height: 8px;
	width: 749px;
	background-repeat: no-repeat;
	font-size: 1px;
}
#container #main #linkarea .left .text .info .text .method {
	font-weight: bold;
	color: #0886C5;
}
#container  #main  #linkarea  .left  .text  .info  .text  .tos li {
	list-style-position: inside;
	margin-top: 3px;
	font-size: 11px;
}
.howtouse     {
	font-weight: bold;
	color: #0D9CD9;
}





#container #footer {
	background-image: url(./imgs/footerbg.gif);
	height: 19px;
}

.howto {
    margin-top: 10px;
    padding-left:5px;
}

.howto  li {
	list-style-position: inside;
	margin-top: 3px;
	color: #07618B;
    font-size: 10px;
    margin-left: 0px;
}

#container #main #linkarea .left .text .info .text .error {
	font-size: 16px;
	color: #990000;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

#autho {
	text-align: center;
	color: #FFFFFF;
	margin-top: 20px;
	font-size: 11px;
}
#container  #main  #linkarea  .left  .text  .info  .text  #changed {
	font-size: 16px;
	color: #990000;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
#container #main #linkarea .right .adsense .supports {
	background-image: url(./imgs/adsensebg.gif);
	background-repeat: repeat-y;
	width: 165px;
	text-align: center;
}
.supporthighlight  {
	color: #222;
}
.explain {
	color: #dd6e2a;
}
.supported  {
	font-weight: bold;
	color: #99CC00;
	padding-right: 15px;
    font-size: 14px;
    text-align: center;
}
#container #main #linkarea .left .downloadanother {
	text-align: right;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
#container   #main   #linkarea   .left   .downloadanother   .text  a {
	color: #0EA6D7;
	font-weight: bold;
}
#container #main #linkarea .left .text .info .text .wb {
	font-size: 16px;
	color: #006600;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.disclaimer {
	text-align: left;
	font-size: 10px;
    color: #555;
    margin-top: 10px;
}
.seo {
	text-align: center;
	color: #FFFFFF;
	margin-top: 20px;
	font-size: 11px;
}
#container  #main  #footerarea  .middle  #currently {
	font-size: 11px;
}
#container #main #footerarea .middle #currently .number {
	color: #DD6E2A;
	font-size: 14px;
	font-weight: bold;
}

#queue_problem {
    display: none;
}

#download_link {
    display: none;
}

.index_top {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
}

.btext {
    font-weight: bold;
    text-align: center;
    color: #000000;
    font-family: verdana,sans-serif;    
}

.btext_small {
    font-weight: bold;
    text-align: center;
    font-size: 11px;
    color: #000000;
    font-family: verdana,sans-serif;    
}

.etext {
    font-weight: bold;
    text-align: center;
    color: red;
    font-family: verdana,sans-serif;
    margin-bottom: 15px;
}

#container #main #linkarea #search_form {
    text-align: center;
}

.res_table {
    text-align: center;
    width: 752px;
    border: 1px solid #000;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.res_table td {
    border: 1px solid #000;
    padding: 4px;
}

#search_below {
	width: 726px;
	font-family: arial;
	font-size: 18px;    
    margin-top: 20px;
    margin-left: 24px;
    display: none;
}

#search_below_details {
	width: 726px;
	font-family: arial;
	font-size: 18px;    
    margin-top: 20px;
    margin-left: 24px;    
}

#artist_nav {
	width: 726px;
	font-family: arial;
	font-size: 18px;    
    margin-top: 20px;
    margin-left: 24px;
}

#loading {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; 
}

#results {
	width: 726px;
    display: none;
}

#results_details {
	width: 726px;    
}

#home_boxes {
	width: 726px;
}

#artists {
	width: 726px;
}

#artist_dir {
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
    font-family: verdana,sans-serif;
    font-size: 8pt;
}

#artist_dir a, #artist_dir a:link, #artist_dir a:visited, #artist_dir a:active {
    text-decoration: none;
    color: blue;
    font-family: verdana,sans-serif;
    font-size: 8pt;    
}

#artist_dir a:focus, #artist_dir a:hover {
    text-decoration: underline;
    color: blue;
    font-family: verdana,sans-serif;
    font-size: 8pt;    
}

#error_page {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-family: verdana,sans-serif;
    font-size: 8pt;    
}

#share_top {
    margin-top: 17px;
    margin-bottom: 35px;    
    text-align: center;
    color: #000000;
    font-family: verdana,sans-serif;
    font-weight: bold;
    font-size: 16pt;    
}

#share_theiremail {
    margin-bottom: 25px;
}

#share_theiremail input {
    width: 225px;   
}

.share_friendemail {
    color: #000000;
    font-family: verdana,sans-serif;
    font-style: italic;
    font-size: 11px;
    margin-bottom: 4px;
}

.share_friendemail input {
    width: 225px;
}

#share_submit {
    margin-top: 15px;
}

#share_success {
    font-weight: bold;
    text-align: center;
    color: #000000;
    font-family: verdana,sans-serif;
    padding-top: 20px;
    padding-bottom: 15px;
}

#last_searches_wrapper {
    text-align: center;
    width: 752px;    
}

#last_searches {
    text-align: center;
    color: #000000;
    font-family: verdana,sans-serif;
    margin: 0px auto;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    font-style: italic;
    width: 720px;
}

#last_searches a, #last_searches a:visited {
    color: #0072BC;
    text-decoration: underline;
}

#last_searches a:hover, #last_searches a:active, #last_searches a:focus {
    color: #45B5DD;
}

/* Frank's crap */
.contentNext {
	clear: both;
	width: 702px;
	height: 38px;
	background-image: url(images/dotsDiv.gif);
    background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-left: 24px;
}

.contentClear {
	clear: both;
	height: 1px;
}

#searchLine {
	width: 726px;
	margin-left: 24px;
    display: none;
}

#searchLine_home {
	width: 726px;
	margin-left: 24px;    
}

#searchLine_artists {
	width: 726px;
	margin-left: 24px;    
}

.dlContent {
	width: 726px;
	margin-left: 24px;
}

.btnHolder {
	width: 206px;
	float: left;
}

.rtBtn {
	width: 165px;
	height: 54px;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 2;
	float: left;
}

a.rtBtn {
     display: block;
     width: 165px;
     height: 54px;
	 outline: none;
     background-image: url(images/ringtone.jpg);
     background-repeat: no-repeat;
	 background-position: 0px 0px;
	 z-index: 2;
}
	 
a.rtBtn:hover {
     background-position: 0px -54px;
	 z-index: 2;
}

.dlBtn {
	width: 165px;
	height: 54px;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 2;
	float: left;
}

a.dlBtn {
     display: block;
     width: 165px;
     height: 54px;
	 outline: none;
     background-image: url(images/download.jpg);
     background-repeat: no-repeat;
	 background-position: 0px 0px;
	 z-index: 2;
}
	 
a.dlBtn:hover {
     background-position: 0px -54px;
	 z-index: 2;
}

.dotsSpace {
	width: 40px;
	height: 54px;
	background-image: url(images/dotsSpace.gif);
    background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}

.songTitleDL {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #0072bc;
	width: 480px;
	padding-top: 9px;
	margin-left: 205px;
	margin-bottom: 6px;
}

.songTitleDL a:link {
   color: #0072bc;
   text-decoration: none;
}

.songTitleDL a:visited {
   color: #0072bc;
   text-decoration: none;
}

.songTitleDL a:hover {
   color: #6fb21b;
   text-decoration: none;
}

.songTitleDL a:active {
   color: #0072bc;
   text-decoration: none;
}

.songInfoDL {
	font-family: arial;
	font-size: 11px;
	color: #333333;
	width: 100px;
	height: 20px;
	float: left;
}

.songSourceDL {
	font-family: arial;
	font-size: 11px;
	color: #333333;
	width: 220px;
	height: 20px;
	margin-right: 150px;
	padding-left: 41px;
	background-image: url(images/dotsUpright.gif);
    background-repeat: no-repeat;
	background-position: 0px 0px;
	float: right;
}

.paginationDL {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #6fb21b;
	word-spacing: 5px;
}

.paginationDL a:link {
   color: #0072bc;
   text-decoration: none;
}

.paginationDL a:visited {
   color: #0072bc;
   text-decoration: none;
}

.paginationDL a:hover {
   color: #0072bc;
   text-decoration: underline;
}

.paginationDL a:active {
   color: #0072bc;
   text-decoration: none;
}

.searchFieldHolder {
	margin-top: 25px;
	margin-bottom: 20px;
}

.licol {
    float: left;
    width: 205px;
	margin-top: 20px;
	margin-left: 24px;
	margin-bottom: 15px;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 8px;
}

.navlist {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #6fb21b;
}

.navlist a:link {
   color: #0072bc;
   text-decoration: none;
}

.navlist a:visited {
   color: #0072bc;
   text-decoration: none;
}

.navlist a:hover {
   color: #0072bc;
   text-decoration: underline;
}

.navlist a:active {
   color: #0072bc;
   text-decoration: none;
}

ul.browseLists {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	color: #444444;
}

.browseLists li {
	padding-top: 1px;
	padding-left: 30px;
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 .5em;
}

ul li.browseLists {
    margin: 0;
    padding 0;
}

.browseLists a:link {
   color: #0072bc;
}

.browseLists a:visited {
   color: #0072bc;
}

.browseLists a:hover {
   color: #45b5dd;
}

.browseLists a:active {
   color: #0072bc;
}

.contactFields {
	font-family: verdana, arial;
	font-size: 12px;
	line-height: 14px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	color: #333333;
	padding: 5px;
	width: 250px;
	border: 1px solid #7a9bb8;
	background-color: #e5ecf1;
}

.labelHolder {
	margin-top: 0px;
	margin-left: 186px;
}

.submitHolder {
	margin-top: 0px;
	margin-left: 10px;
	float: left;
}

.fieldHolder {
	margin-top: 3px;
	padding-left: 186px;
	margin-right: 10px;
	width: 250px;
	float: left;
}

.contactForm {
	margin: 0px;
	padding: 0px;
}

.contactLabel {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.liMore {
    float: left;
    width: 295px;
	margin-top: 20px;
	margin-left: 24px;
	margin-bottom: 15px;
	border: 1px solid #c2e177;
	padding: 20px;
}

ul.moreLists {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: arial;
	font-size: 12px;
	line-height: 24px;
	color: #444444;
}

.moreLists li {
	padding-top: 1px;
	padding-left: 30px;
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 .5em;
}

ul li.moreLists {
    margin: 0;
    padding 0;
}

.moreLists a:link {
   color: #0072bc;
}

.moreLists a:visited {
   color: #0072bc;
}

.moreLists a:hover {
   color: #45b5dd;
}

.moreLists a:active {
   color: #0072bc;
}

.moreTitle {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #434343;
	margin-bottom: 5px;
}

#introText {
	margin-top: 20px;
	margin-left: 24px;
	padding-right: 45px;
	margin-bottom: 20px;
}

.introText {
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
	color: #434343;
}

.introText a:link {
   color: #0072bc;
}

.introText a:visited {
   color: #0072bc;
}

.introText a:hover {
   color: #45b5dd;
}

.introText a:active {
   color: #0072bc;
}

.songDetails {
	font-family: arial;
	font-size: 11px;
	color: #333333;
	margin-bottom: 7px;
	padding-right: 30px;
}

.songDetails a:link {
   color: #0072bc;
   text-decoration: none;
}

.songDetails a:visited {
   color: #0072bc;
   text-decoration: none;
}

.songDetails a:hover {
   color: #6fb21b;
   text-decoration: none;
}

.songDetails a:active {
   color: #0072bc;
   text-decoration: none;
}

.detailsHolder {
	margin-left: 207px;
}

.songTitleDetails {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #0072bc;
	padding-top: 9px;
	padding-right: 30px;
	margin-bottom: 6px;
}

.songTitleDetails a:link {
   color: #0072bc;
   text-decoration: none;
}

.songTitleDetails a:visited {
   color: #0072bc;
   text-decoration: none;
}

.songTitleDetails a:hover {
   color: #6fb21b;
   text-decoration: none;
}

.songTitleDetails a:active {
   color: #0072bc;
   text-decoration: none;
}

.radioHolder {
	padding-top: 7px;
	margin-left: 186px;
	clear: both;
}

#dl_mp3player {
    margin-top: 30px;
    color: red;
    font-size: 15px;
}

#dl_mp3player a, #dl_mp3player a:visited {
    color: red;
    font-size: 15px;
}


ol {
 	padding-left: 30px;
}

hr {
	height: 0;
	border-top: 1px;
	margin-bottom: 10px;
}



#indextab {
	margin: 0 auto;

}

#indextab a {
	color: #aedb15;
}

#indextab #tabs {
	height: 68px;
	margin: 10px;
	margin-bottom: 0;
	background-image: url(imgs/indextab/tab_bg.png);
}

#indextab p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#indextab #tabcontent {
	background-color: #f9f9f9;
	border: 1px solid #d3d3d3;
	border-top: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin: 10px;
	margin-top: 0;
	color: #9d9d9d;
	padding: 30px;
}

#indextab #tabcontent ul {
	list-style: none;
	background-image: url(imgs/indextab/tab_bar.png);
	width: 674px;
	height: 38px;
	margin-bottom: 20px;
}

#indextab #tabcontent ul li {
	float: left;
	height: 38px;
	text-align: center;
	color: #666666;
	background-image: url(imgs/indextab/tab_bar_devider.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 10px;
}

#indextab #tabcontent ul li:first-child {
	background-image: none;
}

#indextab #tabcontent ul.bar4 li {
	width: 25%;
}

#indextab #tabcontent ul.bar5 li {
	width: 20%;
}

#indextab #tabcontent form {
	background-image: none;
	margin-top: 10px;
}

#indextab #tabcontent form input[type=text] {
	border: 1px solid #b9b9b9;
	width: 70%;
	height: 46px;
	float: left;
	margin-right: 10px;
	font-size: 150%;
	padding-left: 10px;
	margin-bottom: 5px;
}


#indextab #tab_demand {
	background-image: url(imgs/indextab/tab_demand.png);
	width: 361px;
	height: 68px;
	text-indent: -3000px; 
	display: block;
	float: left;
}

#indextab #tab_demand.active {
	background-image: url(imgs/indextab/tab_demand_active.png);
}

#indextab #tab_demand.inactive:hover {
	background-image: url(imgs/indextab/tab_demand_hover.png);
}


#indextab #tab_desktop {
	background-image: url(imgs/indextab/tab_desktop.png);
	width: 361px;
	height: 68px;
	text-indent: -3000px; 
	display: block;
	float: right;
}
#indextab #tab_desktop.active {
	background-image: url(imgs/indextab/tab_desktop_active.png);
}
#indextab #tab_desktop.inactive:hover {
	background-image: url(imgs/indextab/tab_desktop_hover.png);
}


#indextab #tabcontent_desktop {
	text-align: center;
}

#indextab #tabcontent_desktop a {

}


#indextab #tabcontent_desktop strong {
	line-height: 60px;
	color: #4f7421;
}

