.category01-titlebg{padding:8px 15px;margin-bottom:10px;background-color:#d0debb;width:40%;text-align:right;float:right;font-size:22px;}.category02{width:50%;float:right;margin-bottom:20px;}.category02-pull-left{float:right;width:44%;margin-left:10px;}.category02-heading{float:right;}.category02-date{float:right;}.category01img{margin-top:10px;}.category01img img{width:100%;}.img-hover:hover{opacity:0.8;}header.carousel{height:50%;}header.carousel .item,header.carousel .item.active,header.carousel .carousel-inner{height:100%;}header.carousel .fill{width:100%;height:100%;background-position:center;background-size:cover;}.error-404{font-size:100px;}.price{display:block;font-size:50px;line-height:50px;}.price sup{top:-20px;left:2px;font-size:20px;}.period{display:block;font-style:italic;}@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}