@import url("font-awesome-animate.css");

@font-face {
  font-family: 'Nafees';
  src: url('../font_print/nafees-nastaleeq-webfont.eot');
  src: url('../font_print/nafees-nastaleeq-webfont.eot?#iefix') format('embedded-opentype'), url('../font_print/nafees-nastaleeq-webfont.woff') format('woff'), url('../font_print/nafees-nastaleeq-webfont.ttf') format('truetype'), url('../font_print/nafees-nastaleeq-webfont.svg#NafeesRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fixed-side-button{
  position: fixed;
  z-index: 99999;
  top: 0px;
  right: -300px;
  height: 100%;
  background: #fff;
  box-shadow: 1px 1px 5px #8C8787;
  border: 1px solid #F1F1F1;
  border-right: 0px;
}
.jang-news-panel span,.jang-news-panel h2{
  font-family: 'Nafees' !important;
}
.fixed-side-button hr{
  margin: 10px 0px;
}
.geo-news-panel.fixed-side-button{
  background:#1e222b;
  color: #ffffff;
}
.jang-news-panel.fixed-side-button{
  background: #16538c;
  color: #ffffff;
}
.fixed-side-button img{
  height: 50px;
  text-align: center;
  margin: 22px auto 0 auto;
  display: table;
}
.category-body{
  max-height: 49%;
  overflow: hidden;
  overflow-y: auto;
}
.bottomMainFixed .content-section .btn{
  margin-left: 5px;
  margin-right: 5px;
}
.the-news-panel.bell-section{
  bottom: inherit;
  top: 25%;
}
.geo-news-panel.bell-section{
  bottom: inherit;
  top: 23%;
  background: #a90909;
}
.the-news-panel.fixed-side-button{
  background: #0088d6;
  color: #ffffff;
}
.the-news-panel .column-category-vertical span{
  color: #ffffff;
}
.geo-news-panel.fixed-side-button h2,.fixed-side-button .fa{
  color: #ffffff;

  }
.jang-news-panel .column-category-vertical{
  padding: 6px 10px;
}
.jang-news-panel .btn-primary{
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
  margin-top: 8px !important;
}
.jang-news-panel.fixed-side-button h2{
  text-align: right;
  margin-right: 20px;
  font-size: 24px;
  padding-top: 10px;
}
.jang-news-panel.bell-section {
  right: inherit;
  top: 25%;
  left: 20px;
}
.jang-news-panel .column-category-vertical{
  background: #123b61;
}
.jang-news-panel.fixed-side-button .closeSideBar{
  float: left;
}
.jang-news-panel .column-category-vertical [type="checkbox"]{
  float: right;
  margin-right:15px;
}
.jang-news-panel .column-category-vertical span{
  float: right;
  margin-right: 15px;
  font-size: 16px;
}
.the-news-panel{
  font-family: sans-serif !important;
}
.the-news-panel.bottomMainFixed{
  background: #0088d6;
}

.the-news-panel.responsive-fixed-area{
  background: #0088d6;
}
.the-news-panel .btn.btn-danger.subscribe-t-btn,.the-news-panel .btn.btn-danger.close-bottom-panel{
  width: 70px;
}
.responsive-fixed-area{
  display: none;
  position: fixed;
  bottom: 0px;
  height: 75px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 999999;
  text-align: center;
}
.responsive-fixed-area a{
  width: 100%;
  clear: both;
  display: block;
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
  line-height: 15px;
  text-align: center;
}
.responsive-fixed-area img{
  height: 13vh;
  float: left;
}
.responsive-fixed-area h2{
  float: left;
  color: #fff;
  padding-left: 20px;
  padding-top: 13px;
  font-family: Arial;
  margin: 0;
}
.bell-section{
  display: block;
  /*background: #0B3367;*/
  background: #a90909;
  width: 50px;
  height: 50px;
  padding: 13px 15px;
  border-radius: 50%;
  position: fixed;
  float: left;
  color: #ffffff;
  font-size: 20px;
  bottom: 25%;
  z-index: 99999999999;
  right: 30px;
}
.the-news-panel.bell-section{
  /*background: #0088d6;*/
}
.bell-section .fa{
  color: #ffffff !important;
}
.fixed-side-button .buttonBody{
  width: 295px;
  padding: 10px;
  min-height: 710px;
  height: 100%;
  position: relative;
}
.fixed-side-button .btn{
  display: table;
  float: none;
  margin: 25px auto 0 auto;
}
.fixed-side-button .powered-text{

  width: 100%;
  text-align: center;
  color: #ccc !important;
  margin-top: 15px;
}
.the-news-panel.fixed-side-button .powered-text{
  margin-top: 0px;
}
.the-news-panel.fixed-side-button .btn{
  background-color: #c9302c;
  border-color: #ac2925;
}
.the-news-panel.fixed-side-button img {
  height: 62px;
   margin:0 auto;
}
.fixed-side-button .buttonBody .sub-section{
  width: 100%;
  clear: both;
  position: relative;
}
.close-side-button{
  float: right;
  margin-right: 20px;
}
.bottomMainFixed.jang-news-panel .powered-text{
  margin-top: 5px;
}
.fixed-side-button h2{
  font-family: Arial;
  font-size: 18px;
  margin: 0px;
}
.fixed-side-button .buttonBody .sub-section [type="checkbox"]{
  float: left;
  margin-right: 8px;
}
.jang-news-panel.fixed-side-button .buttonBody .sub-section [type="checkbox"]{
  float: right;
  margin-right: 25px;
}
.fixed-side-button .buttonBody .sub-section span{
  float: left;
  font-family: Arial;
  font-size: 14px;
}
.jang-news-panel.fixed-side-button .buttonBody .sub-section span{
  float: right;
  margin-right: 16px;
}
.fixed-side-button .buttonBody p{
  font-size: 14px;
  text-align: center;
}
.fixed-side-button.disable,.fixed-side-button .disable, .responsive-fixed-area.disable, .bottomMainFixed.disable, .bottomMainFixed .disable,.bell-section.disable{
  display: none;
}
.powered-text{
  margin: 0 auto;
  display: table;
  color: #ccc !important;
  font-size: 12px;

}

.bottomMainFixed{
  position: fixed;
  bottom: 0px;
  height: 75px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  padding: 6px 20px;
  z-index: 999999;
  font-family: Arial;
}
.bottomMainFixed .content-section h2{
  font-size: 21px;
  padding-top: 15px;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  font-family: Arial;

}
.the-news-panel.bottomMainFixed .content-section h2{
  font-weight: 800;
}
.bottomMainFixed .content-section img{
  height: 72px;
}
.bottomMainFixed .content-section .btn{
  margin-top: 11px;
}
.bottomMainFixed .cross-icons{
  position: absolute;
  right: 10px;
  top: 3px;
/* right: 0; */
  color: #ffffff;
  font-size: 20px;

}
.category-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(0,0,0,0.8);
}
.category-listing-popup{
  position: absolute;
  background: #ffffff;
  width: 600px;
  height: 250px;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  border-radius: 8px;
  padding: 10px;
}
.column-category{
  width: 25%;
  float: left;
  padding:0px 5px;
  margin: 10px 0;
}
.column-category-vertical{
  width: 100%;
  margin: 1px 0;
  padding: 10px 10px;
}
.bottomMainFixed.jang-news-panel{
  background: rgb(22, 83, 140);
}
.geo-news-panel .column-category-vertical{
  background: #343d46;
}

.the-news-panel .column-category-vertical{
background:rgb(0, 105, 165);
}
.column-category-vertical span{
  margin-left: 8px;
}
.geo-news-panel.fixed-side-button h2{
  font-family:"Lato", sans-serif
}
.column-category span{
  display: inline-block;
  vertical-align: text-bottom;
  text-transform: capitalize;
}
.jang-news-panel .row{
  background: transparent;
}
.jang-news-panel .col-xs-2,.jang-news-panel .col-xs-7{
  float: right;
}
.jang-news-panel.bottomMainFixed .content-section img{
  height: 50px;
  margin-top: 6px;
}
.jang-news-panel.bottomMainFixed .content-section .btn{
  width: 100px;
  margin-top: 18px;
}
.jang-news-panel .column-category-vertical.highTonColor{
  background: #1682e6;
}
.the-news-panel .column-category-vertical.highTonColor{
  background: #0f3558;
}
@media (max-width:990px){
  .bottomMainFixed{
    height: 72px;
    display: none;
  }
  a.small-white-btn{
    padding: 2px 0px;
    line-height: 26px;
    border-radius: 4px;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
    margin-right: 10px;
    text-align: center;
    width: 54px;
    display: table;
    float: left;
    clear: none;
  }
  .responsiveControlsContainer{
    display: table;
    margin: 0 auto;
  }
  .bottomMainFixed .content-section img{
    height: auto;
  }
  .bottomMainFixed .content-section h2{
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
  }
  .bottomMainFixed .content-section .btn{
    margin-top: 0px;
  }
  .responsive-fixed-area{
    display: block;
  }
  .responsive-fixed-area a.cross-responsive-bar{
    position: absolute;
    display: table;
    top: -28px;
    right: 5px;
    font-size: 21px;
    padding: 0px;
    background: #ffffff;
    height: auto;
    border-radius: 50%;
    border: 2px solid #000000;
    z-index: 9999999;
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    color: #000 !important;
  }
  .jang-news-panel.responsive-fixed-area a.cross-responsive-bar{
    right: inherit;
    left: 5px;
  }
  .responsive-fixed-area a.cross-responsive-bar i{
    margin: 0 auto;
    float: none;
  }
  .responsive-fixed-area h2{
    font-family: Arial;
    width: 100%;
    font-size: 22px;
  }
  .fixed-side-button{
    overflow-y: auto;
    overflow-x: hidden;
  }
  .bell-section{
    top: inherit !important;
    bottom: 18% !important;
    right: 5px;
  }
  #transparent_div + .scrollToTop{
    bottom: 0 !important;
  }
  .jang-news-panel.bell-section {
    top: 29% !important;
    bottom: inherit;
    left: 5px;
  }

}

@media (max-width: 535px) {
  .responsive-fixed-area img{
    height: 10vh;
  }
  .responsive-fixed-area h2{

    padding-top: 0px;
    font-size: 18px;
    line-height: 21px;
  }
}
