h5 {
	font-size:10px;
	margin-top: 1px;
	margin-bottom: 0px;
	text-align: center;
}

h6 {
	font-size:12px;
	margin-top: 1px;
	margin-bottom: 0px;
	font-weight: bold;
	text-align: center;
}

iframe.twitter-follow-button {
	width: 306px!important;
}

li a{
	line-height: 38px;
}

ruby {
	display: inline-table;
	margin: 10px 0 0;
	padding: 0;
	border: none;
	white-space: nowrap;
	text-indent: 0;
	vertical-align: text-bottom;
}
rb {
	display: table-row;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 100%;
	text-align: center;
}
rt {
	display: table-header-group;
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	line-height: 100%;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size:14px;
}
rp {
	display: none;
}
rt.hide {
	visibility: hidden;
}
