

.imobile_infeed_body

-----------------------------------------------------


/*スポット*/
.imobile_infeed_spot{
	
	/*スポットの幅を500pxにする*/
	/*width:500px !important;*/
	
	/*スポットの高さを228pxにする*/
	/*height:228px !important;*/
}

/*インフィード*/
.imobile_infeed{
	
	/*インフィード記事一つの幅500pxにする*/
	/*width:500px !important;*/
	
	/*インフィード記事一つの高さを114pxにする*/
	/*height:114px !important;*/


	/*インフィード記事のトップに罫線を加える*/
	/*border-top:solid 5px #FF9900;*/
	
	/*インフィード記事のボトムに罫線を加える*/
	/*border-bottom:solid 5px #FF9900;*/
	
	margin-top: -5px !important;
	margin-bottom: -5px !important;
}

/*インフィード最初の記事*/
.imobile_infeed:first-child{
	
	/*インフィード最初の記事に対してのボトムに罫線を加える*/
	/*border-bottom:solid 5px #FF9900;*/
}

/*画像コンテナー*/
.imobile_infeed_img_container{

	/*画像の四隅にサブトンを付ける*/
	/*background-color:#000000;*/
	/*padding:10px 10px 10px 10px !important;*/

	/*画像を右に配置する*/
	/*float:right !important;*/
	
	/*画像を無しにする*/
	/*display:none;*/
}

/*画像*/
.imobile_infeed_img_19{

	/*画像の四隅にサブトンを付ける*/
	/*background-color:#000000;*/
	/*padding:5px 5px 5px 5px !important;*/
	
	/*画像の大きさを114pxに変える*/
	/*width:114px !important;*/
	/*height:114px !important;*/
	
	/*画像を角丸にする*/
	/*border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;*/
}

/*タイトル、本文*/
.imobile_infeed_body{
	
	/*タイトル、本文の色を変更する*/
	/*color:#00FFFF;*/
	color:#555555;
}

/*タイトル*/
.imobile_infeed_title{
	
	/*タイトルを無しにする*/
	/*display:none !important;*/

	/*タイトルの色を変更する*/
	/*color:#FF00FF;*/

	/*タイトルのフォントサイズを変更する*/
	/*font-size:20px !important;*/
}

/*タイトルの前*/
.imobile_infeed_title:before{

	/*タイトルの前に[PR]文字列を挿入する*/
	/*content: "[PR]";*/
	content: "[PR]";
	
	/*タイトルの前にPR画像を表示する*/
	/*content: url("pr.png");*/
}

/*本文*/
.imobile_infeed_description {
	
	/*本文を無しにする*/
	/*display:none !important;*/
	
	/*本文の色を変更する*/
	/*color:#FFFF00;*/
	
	/*はみ出た文字を...にする*/
	/*overflow: hidden !important;*/
	/*white-space: nowrap !important;*/
	/*text-overflow: ellipsis !important;*/

	/*本文のフォントサイズを変更する*/
	/*font-size:20px !important;*/
	font-size:12px !important;
}