@charset "UTF-8";

#page-top{
	width:60px;
	height:60px;
	display:none;
	position:fixed;
	right:0px;
	bottom:50px;
}
 
#page-top p{
	margin:0;
	padding:0;
	text-align:center;
	font-size: 12px;
	background-color: rgba(128,128,128,0.6);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
 
#page-top p:hover{
	background:#8b8b8b;
}
 
#move-page-top{
	color:#fff;
	line-height:50px;
	text-decoration:none;
	display:block;
	cursor:pointer;
}
