@import url("../Divi/style.css");
/*
Theme Name: Divi-child
Theme URI: http://www.elegantthemes.com/gallery/divi/
Description: Child theme for the Divi theme
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
Template: Divi
Version: 1.0.0
*/

html {
	font-size: 20px;
}

body {
	font-family: "HelveticaNeueW01-57Cn", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

/* Tyopgraphy */

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeueW01-77BdCn_692722", Helvetica, Arial, sans-serif;
}

h1.light, h2.light {
	font-family: "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 981px) {
	h1.large {
		font-size: 2.5em;
	}
}

h3 {

}

@media only screen and (min-width: 981px) { 
	h3 {
		font-size: 1.2em !important;
	}
}

p {
	padding-bottom: 0.7em !important;
}

a {
	font-family: "HelveticaNeueW01-77BdCn_692722", Helvetica, Arial, sans-serif;
}

.button {
    background: #565656;
    border-width: 0px !important;
    border-radius: 0px;
    color: #ffffff !important;
    display: inline-block;
    font-family: "HelveticaNeueW01-77BdCn_692722", Helvetica, Arial, sans-serif;
    font-size: 0.75em;
    letter-spacing: 1px;
    margin: 5px 0 !important;
    padding: 0.3em 1em !important;
    text-transform: uppercase;
}

.button:hover {
	background: #454545;
}

.button.green {
	background: #71bf43;
	color: #fff !important;
}

.button:hover.green {
	background: #6EAE48;
}

	.et_pb_button {
    	background: #50535a;
    	border-width: 0px !important;
		color: #ffffff !important;
    	font-family: "HelveticaNeueW01-77BdCn_692722", Helvetica, Arial, sans-serif;
		font-size: 15px;
		letter-spacing: 1px !important;
	}

	.et_pb_button:hover {
		background: #454545;
		color: #ffffff !important;
		letter-spacing: 1px !important;
	}

	body #page-container .et_pb_promo .et_pb_button:hover {
		letter-spacing: 1px !important;
	}

	@media (min-width: 981px) {	
		#main-header .container {
			width: 100%;
			max-width: 981px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}

/* Layout style overrides */

@media (min-width: 981px) {
	.et_pb_section {
	    padding: 2% 0;
	}
}

@media (min-width: 981px) {
	.et_pb_fullwidth_section {
	    padding: 0;
	}
}

@media (min-width: 981px) {
	.et_pb_section.home-products {
		padding: 2.25% 0 5%;
	}
}

@media (min-width: 981px) {
	.home-products .et_pb_row.et_pb_equal_columns {
		padding: 0.9% 0;
	}
}
@media (min-width: 981px) {
	.home-products .et_pb_column_1_4, .home-products .et_pb_row .et_pb_column_1_4 {
		width: 23.875%;
	}
}

@media (min-width: 981px) {
	.home-products .et_pb_column, .home-products .et_pb_row .et_pb_column {
		margin-right: 2%;
	}
}

@media (min-width: 981px) {
	.home-products  .et_pb_column_1_3, .home-products .et_pb_row .et_pb_column_1_3 {
		width: 32.666%;
	}
}

/* Slideshow and  Banner Areas */

.entry-content {

}

.entry-content > .et_pb_fullwidth_section {
	border-bottom: 5px solid #71bf43;
}

.et_pb_slider .et_pb_container, .et_pb_fullwidth_header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-moz-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
}

	.et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description {
		background-color: rgba(0,0,0,0.4);
		margin: 28% 8% 0;
		padding: 1.5em 2.3em 0;
	}

		@media only screen and (min-width: 981px)
			.et_pb_slide_description .et_pb_slide_title {
			    font-size: 52px;
			}
		}

.header-content {
	max-width: 650px;
	margin-bottom: 0 !important;
	padding: 1.5em 2.2em !important;
}

.header-content h1, .et_pb_slide_description h2.et_pb_slide_title {
	font-family: "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
}

	.header-content h1, .et_pb_slide_description h2.et_pb_slide_title a {
		font-family: "HelveticaNeueW01-45Ligh", Helvetica, Arial, sans-serif;
	}

.et_pb_slide_content {
	font-family: "HelveticaNeueW01-47LtCn_692686", Helvetica, Arial, sans-serif;
}

	@media (min-width: 991px) {
		.header-content h1, .et_pb_slide_description h2.et_pb_slide_title {
			font-size: 2.5em;
		}
	}

	@media only screen and (min-width: 767px) {
		.et_pb_slide_content, .et_pb_best_value {
		    font-size: 36px !important;
		}
	}

	body #page-container .et_pb_slider .et_pb_slide_0.et_pb_slide .et_pb_button {
    	font-family: "HelveticaNeueW01-77BdCn_692722", Helvetica, Arial, sans-serif;
		font-size: 15px !important;
	}

	body #page-container .et_pb_fullwidth_slider_0.et_pb_slider .et_pb_button:hover {
		letter-spacing: 1px !important;
	}

.et_pb_fullwidth_header {
	min-height: 630px;
	padding-bottom: 0;
}

	.header-content-container {
		background-color: rgba(0,0,0,0.4);
		margin: 20% 8% 0;
		padding: 1.5em 2.3em 0;
	}

/* Top Header */

#top-header {
	font-size: 0.775rem; /* 15.5px */
}

	#top-header .container {
		font-weight: 400;
		padding-top: 0.516129em; /* 8px */
	}

		#top-header .container #et-secondary-menu {
			float: left;
		}

		#top-header .container #et-secondary-menu #et-secondary-nav a {
			font-family: "HelveticaNeueW01-57Cn", Helvetica, Arial, sans-serif;
		}

		#top-header .container #et-info {
			padding-bottom: 0.516129em; /* 8px */
		}

			#top-header .et-social-icons {
				margin-left: 2em;
			}

/* Navigation */

#main-header {
	background-color: rgba(80,83,90,0.45) !important;
	-ms-background-blend-mode: multiply;
	background-blend-mode: multiply;
}
	
	#main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu {
		background-color: #50535a !important;
	}
@media (min-width: 981px) {
	.et_header_style_left #et-top-navigation {
		padding-top: 0 !important;
	}
}

#logo {
	max-height: none;
}

#main-header.et-fixed-header {
	background-color: rgba(80,83,90,1) !important;
}

	@media (min-width: 981px) {

		#et_top_search {
			margin-top: 33px !important;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.et-fixed-header #et_top_search {
			margin-top: 20px !important;
		}
	}

#top-menu-nav, #top-menu {
	font-size: 0.775rem; /* 15.5px */
}

#top-menu > li > a {
	padding-top: 33px;
	padding-left: 10px;
	padding-right: 10px;
}

	@media (min-width: 981px) {
		.et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li > a, .et_header_style_split .et-fixed-header #et-top-navigation nav > ul > li > a {
			padding-top: 20px !important;
		}
	}

	#top-menu li li a {
		text-transform: none;
		line-height: 1.3;
	}

	#top-menu li li.current-menu-item a {
		color: #71bf43 !important;
	}

	@media (min-width: 981px) {
		.et-fixed-header #top-menu li li.current-menu-item a {
			color: #71bf43 !important;
		}
	}

#top-menu > li.current-menu-ancestor > a, #top-menu > li.current-menu-item > a {
	color: white;
	background-color: rgba(80,83,90,0.45);
	-ms-background-blend-mode: multiply;
	background-blend-mode: multiply;
}

#top-menu > .menu-item-has-children > a:first-child, #et-secondary-nav > .menu-item-has-children > a:first-child {
	padding-right: 10px;
}

#top-menu .menu-item-has-children > a:first-child:after, #et-secondary-nav .menu-item-has-children > a:first-child:after {
	content: "";
}



/* Homepage */

.homepage-video a {
	display: block;
	width: ;
}

	.homepage-video a {

	}

.home-products .et_pb_row_3 .et_pb_column, .home-products .et_pb_row_4 .et_pb_column {
	border: 1px solid #a2a4a8;
	border-top: 6px solid #71bf43;
	padding: 1.5em 0.25em;
	position: relative;
}

	.home-products .et_pb_row_3 .et_pb_column:after, .home-products .et_pb_row_4 .et_pb_column:after {
		top: 0;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(113, 192, 67, 0);
		border-top-color: #71bf43;
		border-width: 9px;
		margin-left: -9px;
	}

.resource-hub {
}
	.resource-hub .et_pb_promo, .resource-hub .et_pb_text {
		font-size: 17.5px;
	}

	.featured-content {
		text-align: center;
	}

	.resource-hub h2 {
		color: #71bf43 !important;
		font-size: 16px;
		text-transform: uppercase;
		padding-bottom: 24px;
	}

	.resource-hub .featured-content h2 {
		color: #50535a !important;
		text-align: center;
	}

	.resource-hub h3 {
		font-size: 24px !important;
		font-family: "HelveticaNeueW01-57Cn", Helvetica, Arial, sans-serif;
		padding-bottom: 6px;
	}

	.resource-hub .featured-content h3 {
		text-align: center;
	}

	.resource-hub hr {
		margin-left: 0;
		max-width: 50px;
		color: white;
		border-color: white;
	}

	.resource-hub .featured-content hr {
		margin-left: auto;
	}

	.resource-hub .et_pb_promo_button {
		background-color: transparent;
		border-color: #71bf43 !important;
		color: #71bf43 !important;
	}

	.resource-hub .et_pb_promo_button:hover {
		background-color: rgba(255,255,255,0.2);
	}

	.resource-hub .featured-content .et_pb_button {
		background-color: transparent;
		border-color: #ffffff !important;
		color: #ffffff !important;
	}

.home-justify-logos p {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.et_pb_row.home-testamonial {
	max-width: 960px;
	color: #71bf43;
}

.et_pb_row.testamonial {
	max-width: 960px;
}

	.home-testamonial h3, .testamonial h3 {
		font-family: "HelveticaNeueW01-57Cn", Helvetica, Arial, sans-serif;
		text-transform: none;
		color: #71bf43;
		font-size: 30px!important;
		line-height: 36px;
	}

	.home-testamonial p {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 700;
	}

	.testamonial p {
		text-transform: uppercase;
		font-weight: 700;
	}

	.testamonial p a.button {
		font-weight: normal;
	}

/* About Page */

.by-the-numbers .et_pb_number_counter .percent .percent-value {
 	border-bottom: 6px solid #71bf43;
	padding-bottom: 0.25em;
	position: relative;
	color: #565656;
}

	.by-the-numbers .et_pb_number_counter .percent .percent-value:after {
		bottom: -24px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(113, 192, 67, 0);
		border-top-color: #71bf43;
		border-width: 9px;
		margin-left: -9px;
	}

.by-the-numbers .et_pb_promo {
	margin-top: 3em;
}

	.by-the-numbers .et_pb_promo h2 {
		text-transform: uppercase;
	}

.by-the-numbers .et_pb_circle_counter {
	max-width: 150px;
	margin-bottom: 4.8% !important;
}

	.by-the-numbers .et_pb_circle_counter + .et_pb_promo {
		margin-top: 0;
	}

.experts {
	font-size: 17.5px;
}
	
	.experts strong {
		font-family: "HelveticaNeueW01-77BdCn_692722", Helvetica, Arial, sans-serif;
		font-size: 24px;
		font-weight: normal;
	}

	.experts .fa {
		color: #71bf43;
		margin-right: 0.25em;
	}

	.experts p + p {
		margin-left: 2em;
	}

/* Products Pages */

.products-ctas .et_pb_column h3 {
	border-bottom: 6px solid #71bf43;
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
	position: relative;
}

	.products-ctas .et_pb_column h3:after {
		bottom: -24px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(113, 192, 67, 0);
		border-top-color: #71bf43;
		border-width: 9px;
		margin-left: -9px;
	}

.products-ctas .et_pb_row_3 .et_pb_column .et_pb_promo {
	
}

.products_feature {

}
	
	@media (min-width: 981px) {

		.products_feature .hidden_product_cta {
			background-color: transparent;
			transition: all 0.3s ease-in-out;
		}	

			.products_feature .hidden_product_cta .et_pb_button {
				display: none;
			}

			.products_feature .hidden_product_cta .et_pb_button:hover {				
				background: #6EAE48;
			}

		.products_feature .hidden_product_cta:hover {
			background-color: rgba(80,83,90,0.52);
			-ms-background-blend-mode: multiply;
			background-blend-mode: multiply;
		}

			.products_feature .hidden_product_cta:hover .et_pb_button {
				display: block;
			}

	}

/* Contact Page */

.contact-ctas .et_pb_column h3 {
	border-bottom: 6px solid #71bf43;
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
	position: relative;
}

	.contact-ctas .et_pb_column h3:after {
		bottom: -24px;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(113, 192, 67, 0);
		border-top-color: #71bf43;
		border-width: 9px;
		margin-left: -9px;
	}

/* Portfolio Slider */
.et_pb_slider.portfolio-slider {
	overflow: visible;
}

.et_pb_slider.portfolio-slider .et_pb_container {

}

	.et_pb_slider.portfolio-slider .et_pb_slide_description {
		margin: 35% auto -5%;
		padding: 0;
	}

	.et_pb_slider.portfolio-slider .et_pb_slide {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.et_pb_slider.portfolio-slider .et_pb_slide .et_pb_button {

	}

/*Footer styles*/
#main-footer {
	background-color: #50535a;
	font-size: 0.8rem;
}
	
	@media (min-width: 1170px) {
		#main-footer {
			background-image: url('//k12.bbhqbox.com/wp-content/uploads/2016/04/schoolhouse-icon.png');
			background-position: right 84%;
			background-repeat: no-repeat;
		}
	}

	#main-footer h3 {
		color: white;
		font-size: 1em !important;
		text-transform: uppercase;
	}

	#main-footer h4 {
		font-family: "HelveticaNeueW01-57Cn", Helvetica, Arial, sans-serif;
		font-size: 1.5em;
	}

	#main-footer a {
		color: white;
	}

	#main-footer a:hover {
		text-decoration: underline;
	}

	#footer-widgets .footer-widget .fwidget {
		margin-bottom: 1.65em !important;
	}

		@media (min-width: 981px) {
			#footer-widgets .footer-widget .fwidget {
				clear: left;
			}
		}

	#footer-widgets .footer-widget .fwidget.simple-social-icons {
		margin-left: -1.3em;
	}

	#footer-widgets .footer-widget .fwidget.simple-social-icons li:before {
		content: none;
		display: none;
	}

	#footer-widgets .mktoForm input {
		height: 27px!important;
	}

	#footer-widgets .mktoForm div, #footer-widgets .mktoForm span, #footer-widgets .mktoForm label, #footer-widgets .mktoForm p {
		font-family: "HelveticaNeueW01-57Cn", Helvetica, Arial, sans-serif;
		font-size: 16px!important;
	}

	@media (min-width: 768px) {
		#footer-widgets .mktoForm div, #footer-widgets .mktoForm span, #footer-widgets .mktoForm label, #footer-widgets .mktoForm p {
			text-align: right!important;
		}
	}

	#footer-widgets .mktoForm .mktoErrorMsg {
		background-color: rgb(229, 27, 0);
	    background-image: none;
	    box-shadow: none;
	    border: 0;
	    text-shadow: none;
	}

	#footer-widgets .mktoForm .mktoRequiredField label.mktoLabel {
		font-weight: 400;
	}

	#footer-widgets .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
		background-color: #71bf43;
		border-color: #71bf43;
		background-image: none;
	}

	#footer-widgets .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
		background-color: #6eae48;
		border-color: #6eae48;
		background-image: none;
	}