@media (min-width: 640px) {
  [attrname="MoreBelowWidgit_2"] {
    min-height: 166px; } }

@media (min-width: 640px) {
  .imgcont {
    min-height: 175px; } }

.share_image_cont:not(.loaded) {
  min-height: 200px; }

.more_bt_widget.botscrollheadcaret {
  line-height: 60px; }
  @media (max-width: 640px) {
    .more_bt_widget.botscrollheadcaret {
      margin-bottom: 20px; } }

.rm-img-attr [style='font-size: x-small;'],
.rm-img-attr .attributioncont .attribution {
  display: none; }

@media (max-width: 640px) {
  .menu-item-object-category {
    text-transform: capitalize; } }

.single-top-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .single-top-share span {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media (max-width: 640px) {
      .single-top-share span:first-child {
        margin-right: 3px; }
      .single-top-share span:last-child {
        margin-left: 3px; } }

#div-gpt-ad-1467996295635-0 {
  max-width: 100vw;
  clear: both; }

#div-gpt-ad-1435676297597-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.two-webrecs-instead-leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#div-gpt-ad-1473458987912-0,
#div-gpt-ad-1473458987912-1 {
  height: 250px;
  width: 300px; }

#div-gpt-ad-1474639054102-0 {
  margin: auto; }
  @media (min-width: 640px) {
    #div-gpt-ad-1474639054102-0 {
      width: 550px;
      height: 550px; } }
  @media (max-width: 640px) {
    #div-gpt-ad-1474639054102-0 {
      width: 300px;
      height: 250px; } }

@media (min-width: 640px) {
  #div-gpt-ad-1447272833518-0.advertisement {
    position: relative;
    margin-top: 32px;
    border: 1px solid #3c3c3c; }
    #div-gpt-ad-1447272833518-0.advertisement:after {
      content: 'advertisement';
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 100%;
      text-transform: uppercase;
      color: #676767;
      font-size: 10px; } }

.under-image-ad-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0s;
  transition: height 0s; }
  .under-image-ad-wrap.active {
    -webkit-transition: height .25s;
    transition: height .25s; }
    @media (min-width: 640px) {
      .under-image-ad-wrap.active {
        height: 90px; } }
    @media (max-width: 640px) {
      .under-image-ad-wrap.active {
        height: 50px; } }

.under-image-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 640px) {
    .under-image-ad {
      width: 728px;
      height: 90px; } }
  @media (max-width: 640px) {
    .under-image-ad {
      width: 320px;
      height: 50px; } }

/*grid wall*/
#grid-wall-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 40px); }
  #grid-wall-container .grid-wall-item {
    width: 240px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #A6A6A6;
    box-sizing: border-box;
    font-size: 1em;
    -webkit-transition: box-shadow .25s;
    transition: box-shadow .25s;
    position: relative;
    overflow: hidden;
    background: #fff; }
    #grid-wall-container .grid-wall-item:hover {
      box-shadow: 0px 0px 1px 1px #5C5C5C; }
    #grid-wall-container .grid-wall-item a {
      color: #777777;
      text-decoration: none !important; }
    #grid-wall-container .grid-wall-item:last-child {
      margin: 0; }
    #grid-wall-container .grid-wall-item .grid-item-thumb {
      line-height: 0;
      background: rgba(128, 128, 128, 0.1);
      box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2); }
      #grid-wall-container .grid-wall-item .grid-item-thumb:not(.loaded) {
        height: 240px; }
    #grid-wall-container .grid-wall-item strong, #grid-wall-container .grid-wall-item b {
      font-size: 1em; }
    #grid-wall-container .grid-wall-item .grid-item-bottom {
      padding: 10px; }
      #grid-wall-container .grid-wall-item .grid-item-bottom .grid-wall-title {
        font-size: 1.2em;
        font-family: "Oswald";
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 7px; }
      #grid-wall-container .grid-wall-item .grid-item-bottom .grid-wall-content {
        color: rgba(0, 0, 0, 0.7);
        line-height: 18px; }
    #grid-wall-container .grid-wall-item.current-post {
      width: 495px; }
      #grid-wall-container .grid-wall-item.current-post .grid-item-thumb {
        background: #393335; }
        #grid-wall-container .grid-wall-item.current-post .grid-item-thumb:not(.loaded) {
          height: 260px; }
        #grid-wall-container .grid-wall-item.current-post .grid-item-thumb img {
          float: right; }
        #grid-wall-container .grid-wall-item.current-post .grid-item-thumb:after {
          content: '';
          display: block;
          clear: both; }
      #grid-wall-container .grid-wall-item.current-post .grid-item-left {
        position: absolute;
        height: 240px;
        width: 100%;
        top: 0;
        padding-top: 15px; }
      #grid-wall-container .grid-wall-item.current-post .button {
        content: "VIEW STORY";
        display: inline-block;
        width: 126px;
        box-sizing: border-box;
        text-align: center;
        padding: 4px 0px;
        border-radius: 3px;
        font-size: 1.3rem;
        line-height: initial;
        color: #fff;
        font-family: "Oswald";
        margin-left: calc(50% - 120px - 75px);
        margin-top: 25px; }
      #grid-wall-container .grid-wall-item.current-post .grid-wall-title {
        max-width: 60%;
        padding-left: 5px;
        color: #fff;
        left: 0;
        font-size: 1.8em;
        line-height: initial; }
        #grid-wall-container .grid-wall-item.current-post .grid-wall-title span {
          background: #393335;
          padding: 0px 10px;
          -webkit-box-decoration-break: clone;
                  box-decoration-break: clone;
          font-family: "Oswald"; }
    #grid-wall-container .grid-wall-item.shorten .grid-item-bottom {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.2);
      padding: 5px;
      line-height: 1.1rem;
      font-size: .9em; }
    #grid-wall-container .grid-wall-item.shorten .grid-wall-content {
      display: none; }
    #grid-wall-container .grid-wall-item.shorten .grid-wall-title {
      color: #fff; }
  #grid-wall-container:after {
    content: '';
    display: block;
    clear: both; }

.gridWall-col {
  width: 240px;
  margin-right: 15px; }
  .gridWall-col:last-child {
    margin: 0; }

.bg-prime {
  background: #32B3D2; }

#svg-home {
  display: none; }

.loader {
  width: 100px;
  margin: 60px auto 20px; }

#grid-wall-container.columns-3 .grid-wall-item {
  width: 410px; }
  #grid-wall-container.columns-3 .grid-wall-item.current-post {
    width: 835px; }

#grid-wall-container.columns-3 .gridWall-col {
  width: 410px; }

.first-gal-page #pages .page_of {
  display: none; }

.first-gal-page #pages .prevpage.hidden {
  display: none; }

.first-gal-page #pages .nextpage {
  width: 100%;
  border-radius: 5px; }

@media (max-width: 640px) {
  .first-gal-page #pages.paged_gallery a.prevpage,
  .first-gal-page #pages.paged_gallery a.nextpage {
    box-sizing: border-box;
    padding-right: 7px;
    padding-left: 7px; }
    .first-gal-page #pages.paged_gallery a.prevpage [class^='bt-arrow-'],
    .first-gal-page #pages.paged_gallery a.nextpage [class^='bt-arrow-'] {
      margin: 0; }
  .first-gal-page #pages.paged_gallery a.prevpage.hidden ~ a.nextpage {
    font-size: 10.3vw !important; } }

.img-ph-wrap, .imgcont, .share_image_cont,
.archive-image, .trend-item-img, [attrname="LatestPaws"],
.grid-item-thumb {
  line-height: 0;
  position: relative; }
  .img-ph-wrap:not(.loaded):after, .imgcont:not(.loaded):after, .share_image_cont:not(.loaded):after,
  .archive-image:not(.loaded):after, .trend-item-img:not(.loaded):after, [attrname="LatestPaws"]:not(.loaded):after,
  .grid-item-thumb:not(.loaded):after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('data:image/svg+xml;utf8,<svg id="svg-loading" width="94px" height="94px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-default"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(0 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(30 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.08333333333333333s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(60 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.16666666666666666s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(90 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.25s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(120 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.3333333333333333s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(150 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.4166666666666667s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(180 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.5s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(210 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.5833333333333334s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(240 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.6666666666666666s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(270 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.75s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(300 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.8333333333333334s" repeatCount="indefinite"/></rect><rect  x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#cec9c9" transform="rotate(330 50 50) translate(0 -30)">  <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.9166666666666666s" repeatCount="indefinite"/></rect></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color: #fff; }
  .img-ph-wrap:not(.loaded) img, .imgcont:not(.loaded) img, .share_image_cont:not(.loaded) img,
  .archive-image:not(.loaded) img, .trend-item-img:not(.loaded) img, [attrname="LatestPaws"]:not(.loaded) img,
  .grid-item-thumb:not(.loaded) img {
    opacity: 0; }
  .img-ph-wrap img, .imgcont img, .share_image_cont img,
  .archive-image img, .trend-item-img img, [attrname="LatestPaws"] img,
  .grid-item-thumb img {
    opacity: 1; }

.share_image_cont:not(.loaded) {
  min-height: 200px; }

[class^='bt-arrow-'] {
  display: inline;
  width: 20px;
  height: 1px;
  background: currentColor;
  position: relative; }
  [class^='bt-arrow-']:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-width: 1px 1px 0 0;
    border-color: currentColor;
    border-style: solid;
    top: -5px; }
  [class^='bt-arrow-'][class$='right'] {
    margin-left: 10px; }
    [class^='bt-arrow-'][class$='right']:after {
      right: 1px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  [class^='bt-arrow-'][class$='left'] {
    margin-right: 10px; }
    [class^='bt-arrow-'][class$='left']:after {
      left: 1px;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }

#wpadminbar .admin-site-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  overflow: hidden; }
  #wpadminbar .admin-site-icon img {
    width: 20px;
    height: auto;
    max-width: 100%; }

#sidebars {
  height: 100%; }

.sidebar {
  position: relative;
  max-width: 336px;
  height: 100%; }

.article {
  margin-right: auto; }

.single.article-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 640px) {
    .single.article-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .single.article-block > aside.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    height: inherit; }
    .single.article-block > aside.sidebar > [id="sidebars"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

@media (min-width: 640px) {
  #sidebar_list_sticky_id.sticky {
    width: 336px;
    position: fixed;
    top: 50px;
    right: calc(50% - 520px);
    border-top: 20px solid #fff;
    border-bottom: calc(100vh - 618px) solid #fff; }
    #sidebar_list_sticky_id.sticky .sidebar_list {
      margin: 0; }
      #sidebar_list_sticky_id.sticky .sidebar_list li.widget {
        margin: 0; } }
  @media (min-width: 640px) and (max-width: 1040px) {
    #sidebar_list_sticky_id.sticky {
      right: auto;
      left: calc(1040px - 336px); } }

@media (min-width: 640px) {
    #sidebar_list_sticky_id.sticky.stick-to-bottom {
      bottom: 0;
      top: auto;
      position: absolute;
      right: 0 !important;
      left: 0 !important; } }

#sidebar_list_sticky_id.sticky div#sidebar_list_sticky_id {
  padding-bottom: calc(100vh - 726px);
  margin-top: 100px; }

@media (min-width: 640px) {
  body.extended_desktop #sidebar_list_sticky_id.sticky {
    right: calc(50% - 552px); } }
  @media (min-width: 640px) and (max-width: 1040px) {
    body.extended_desktop #sidebar_list_sticky_id.sticky {
      right: auto;
      left: calc(1104px - 336px); } }

.facebook-box {
  min-height: 214px;
  text-align: center; }
  .facebook-box.single-footer-facebook-box {
    margin: 20px 0; }
  @media (max-width: 640px) {
    .facebook-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.sidebar-social-buttons {
  height: 100px; }

@media (min-width: 640px) {
  #google-sidebar-adds {
    height: 600px; } }

@media (min-width: 640px) {
  .most-bt-sticky.active {
    height: 638px; } }

.widget.widget_mts_recent_posts_widget.moved {
  list-style: none; }
  .widget.widget_mts_recent_posts_widget.moved ul {
    margin: 0; }
    .widget.widget_mts_recent_posts_widget.moved ul a {
      display: inline-block; }
      .widget.widget_mts_recent_posts_widget.moved ul a .imgcont {
        height: auto !important; }
        .widget.widget_mts_recent_posts_widget.moved ul a .imgcont img {
          position: relative;
          left: 0;
          width: 100% !important;
          height: auto !important;
          max-width: 100% !important; }
        .widget.widget_mts_recent_posts_widget.moved ul a .imgcont .video_overlay img {
          width: auto !important;
          height: auto !important;
          max-width: auto !important; }

body {
  overflow: hidden; }

ul.menu .right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

body.extended_desktop .main-container {
  width: 1104px;
  max-width: 1104px; }

body.extended_desktop .article {
  width: 728px; }

.latest + .traveler {
  margin-left: 15px;
  margin-right: 0;
  margin-top: 0; }
  .latest + .traveler h2 {
    margin-bottom: 0;
    height: 105px;
    display: block; }

.embed-container {
  clear: both; }
