/*
 Theme Name:   Boredom
 Description:  Theme for boredomtherapy.com
 Version:      1.0.0
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button, input, select, textarea {
    margin: 0
}

:focus {
    outline: 0
}

img, video, object {
    max-width: 100%;

}

img {
    height: auto !important;
}

iframe {
    max-width: 100%
}

blockquote {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    padding: 0 10px 20px 27px;
    position: relative;
    margin-top: 25px;
}

blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    width: 50px;
    top: 0;
    left: 0;
}

blockquote p {
    margin-bottom: 10px
}

strong, b {
    font-weight: bold;
    font-size: 22px
}

em, i, cite {
    font-style: italic
}

small {
    font-size: 100%
}

figure {
    margin: 10px 0
}

code, pre {
    font-weight: normal;
    font-style: normal;
}

pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}

code {
    padding: 0 8px;
    line-height: 1.5;
}

mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}

address {
    margin: 10px 0;
    font-style: italic;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

body {
    font: 14px/23px Noto Sans, sans-serif;
    color: #555;
}

::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}

::selection {
    background: #222;
    color: white;
    text-shadow: none;
}

#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.post-single-content h1, .post-single-content h2, .post-single-content h3, .post-single-content h4, .post-single-content h5, .post-single-content h6 {
    text-transform: uppercase
}

.post-single-content h2 {
    font-size: 24px
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 12px;
    color: #444;
}

h1 {
    font-size: 28px;
    line-height: 1.4;
}

h2 {
    line-height: 1.4
}

h3 {
    font-size: 22px;
    line-height: 1.4;
}

h4 {
    font-size: 20px;
    line-height: 1.4;
}

h5 {
    font-size: 18px;
    line-height: 1.4;
}

h6 {
    font-size: 16px;
    line-height: 1.4;
}

.main-container {
    margin: 0 auto;
    clear: both;
    display: block;
    overflow: hidden;
}

#page, .container {
    width: 996px;
    min-width: 240px;
}

#page {
    min-height: 100px;
    float: none;
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.article {
    width: 65.8%;
    float: left;
    padding-top: 28px;
    padding-left: 2.7%;
    padding-right: 2.6%;
    padding-bottom: 25px;
    position: relative;
    background: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.article:after {
    content: "";
    height: 100%;
    width: 1px;
    background: #E8E8E8;
    position: absolute;
    right: -1px;
    top: 0;
}

.article.left {
    float: left
}

.article.right {
    float: right
}

.post {
    float: left;
    width: 100%;
}

.single_post {
    background-color: #fff;
    width: 100%;
}

.single_post .post-info span, .single_post .post-info a {
    font-size: 13px
}

.single_page {
    background-color: white;
    padding-top: 0;
}

.post-content {
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    clear: both;
}

.post-single-content {
    overflow: hidden;
    clear: both;
}

.title {
    margin-bottom: 5px;
    clear: both;
}

.single-title {
    color: #555;
    float: left;
    padding: 0 0 0 0;
    font-size: 26px;
    font-weight: 800;
}

.title a {
    color: #555
}

.page h1.title {
    padding-top: 0
}

.post-info {
    display: block;
    color: #AAAAAA;
    clear: both;
    width: 100%;
    margin-bottom: 15px;
    font-size: 13px;
}

.post-info a {
    color: #E03F00
}

.post-info span {
    margin-right: 7px
}

article header {
    margin-bottom: 20px;
    width: 100%;
}

.single article header {
    margin-bottom: 10px
}

.single_post header {
    width: 100%;
    margin-bottom: 8px;
}

.article img.left, .article img.alignleft, .wp-caption.alignleft {
    margin: 1em 0.5em 0.5em 1em;
    display: block;
    float: left;
}

.article img.right, .article img.alignright, .wp-caption.alignright {
    margin: 1em 0 0.5em 1em;
    display: block;
    float: right;
}

.article img.center, .article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 0.5em auto;
    display: block;
}

.article img.aligncenter, .article img.alignnone {
    margin-top: 1em;
    margin-bottom: 0em !important;
    display: block;
    clear: both;
}

.article ul {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: square;
}

.article ol {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal;
}

.article ul ul, .article ol ol, .article ul ol, .article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.textwidget {
    line-height: 23px
}

/*-[ Form Input ]------------------*/
input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    color: #666;
    border: 1px solid #D8D8D8;
    font-family: inherit;
}

textarea {
    overflow: auto;
    resize: vertical;
}

select {
    padding: 6px 10px;
    border-color: #D8D8D8;
}

input:focus, textarea:focus {

}

#sidebars p {
    line-height: 20px
}

.sidebar.c-4-12 {
    float: right;
    width: 34.2%;
    line-height: 20px;
    background: #F5F5F5;
    padding: 2%;
    padding-top: 31px;
    border-left: 1px solid #E8E8E8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar a {
    color: #777
}

#sidebars .wp-post-image, footer .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
}


.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li, .widget_tabs2 .tab-content li {
    list-style: none !important;
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    padding-left: 0;
    background: none;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #ccc;
}

.sidebar .menu li, .footer .menu li {
    font-family: "Droid Serif"
}

.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p, .widget_tabs2 .tab-content p {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
}

.single_post header a, .theauthor a, .thecategory a, .thecomment a {
    color: #A5A5A5
}

.single_post header a:hover, .theauthor a:hover, .thecategory a:hover, .thecomment a:hover {
    text-decoration: underline
}

.clear {
    clear: both
}

.left {
    float: left
}

.right {
    float: right
}

.last {
    margin-right: 0
}

input.text-input, #commentform input {
    padding: 11px
}

a:hover {
    color: #E03F00
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #E03F00
}

body {
    background: white;
    margin-top: 44px;
}

h1 {
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 30px;
    color: #E03F00;
}

h2 {
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 26px;
    color: #E03F00;
}

h3 {
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 22px;
    color: #E03F00;
}

h4 {
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 20px;
    color: #E03F00;
}

h5 {
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 18px;
    color: #E03F00;
}

h6 {
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 16px;
    color: #E03F00;
}

body {
    font-family: 'Droid Serif';
    font-weight: normal;
    font-size: 14px;
    color: #777777;
}

p {
    line-height: 22px;
}

h1.single-title, h2.single-title {
    font-weight: normal;
    color: #494949;
    font-size: 26px;
    line-height: 1.4;
    text-decoration: none;
    margin-bottom: 10px;
}

#boredom-ads-holder {
    height: 0px;
    overflow: hidden;
}

.post-info {
    color: #A5A5A5;
    font-family: Roboto;
    line-height: 20px;
}

.post-info a {
    font-family: Roboto;
}

.single-top-share {
    margin-bottom: 15px;
}

.single-top-share #ssba_facebook_share img {
    vertical-align: text-bottom;
    padding-bottom: 3px;
}

.fb-share-big:hover, .fb-share-big img:hover, .fb-share-big a:hover, .fb-share-big-mobile:hover {
    box-shadow: 0 1px 1px rgba(5, 15, 30, .3);
    background-image: -webkit-linear-gradient(bottom, #5272cb 0, #3b55a0 100%);
    background-image: linear-gradient(to bottom, #5272cb 0, #3b55a0 100%);
    border-color: #314786;
    text-shadow: 0 1px 1px #263768;
}

.fb-share-big:active, .fb-share-big img:active, .fb-share-big a:active, .fb-share-big-mobile:active {
    background: #3b55a0;
    border-color: #263768;
    -webkit-box-shadow: inset 0 1px 2px #344b8d;
    box-shadow: inset 0 1px 2px #344b8d;
    text-shadow: 0 1px 1px #263768;
}

.single-top-share #ssba_twitter_share img {
    height: 23px !important;
    vertical-align: text-bottom;
    padding-bottom: 4px;
}

.dshare {
    color: #FFF;
    border: 1px solid #425DA9;
    background-repeat: repeat-x;
    text-shadow: 0px 1px 1px #3B55A0;
    font-family: "Segoe UI", "Avenir Next", Avenir, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    line-height: 44px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    display: inline-block;
    width: 210px;
    cursor: pointer;
    margin-right: 5px;
}

.dshare:hover {
    text-shadow: 0 1px 1px #007696;
}

.subenvelop {
    display: inline-block;
    width: 28px;
    height: 19px;
    background: url(images/email.png);
    margin-right: 10px;
    margin-bottom: -3px;
}

.subarrow {
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-left: 5px;
}

.subarrow.down {
    background: url(images/downarrow.png);
    height: 7px;
}

.subarrow.up {
    background: url(images/uparrow.png);
}

.ssba_email_subscribe, .ssba_email_subscribe a:link, .ssba_email_subscribe a:visited {
    background-color: #ff534a;
    border: 1px solid #425DA9;
    /*
        background-image: -webkit-linear-gradient(bottom, #526EBC 0px, #ff534a 100%);
        background-image: linear-gradient(to bottom, #526EBC 0px, #ff534a 100%);
    */
    background-repeat: repeat-x;
}

.fbicon {
    display: inline-block;
    width: 12px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: -4px;
    background: url(images/tiny_fb.png);
}

.fb-share-big, .fb-share-big a:link, .fb-share-big a:visited, .fb-share-big-mobile {
    background-color: #4B68B9;
    border: 1px solid #425DA9;
    background-image: -webkit-linear-gradient(bottom, #526EBC 0px, #4765B8 100%);
    background-image: linear-gradient(to bottom, #526EBC 0px, #4765B8 100%);
}

.twicon {
    display: inline-block;
    width: 27px;
    height: 23px;
    margin-right: 10px;
    margin-bottom: -4px;
    background: url(images/tiny_twitter.png);
}

.twitter-share-big, .twitter-share-big a:link, .twitter-share-big a:visited, .twitter-share-big-mobile {
    background-image: -webkit-linear-gradient(bottom, #0DCBFF 0px, #00C6FC 100%);
    background-image: linear-gradient(to bottom, #0DCBFF 0px, #00C6FC 100%);
    background-repeat: repeat-x;
    border: 1px solid #0096BF;
    margin-right: 0 !important;
}

.twitter-share-big:hover, .twitter-share-big a:hover, .twitter-share-big-mobile:hover {
    background-image: -webkit-linear-gradient(bottom, #1cceff 0, #00b2e3 100%);
    background-image: linear-gradient(to bottom, #1cceff 0, #00b2e3 100%);
    background-repeat: repeat-x;
    border-color: #0096bf;
    text-shadow: 0 1px 1px #007696;
    color: #fff;
    transition: none;
}

.twitter-share-big:active, .twitter-share-big a:active, .twitter-share-big-mobile:active, .twitter-share-big-mobile:focus {
    background: #00b2e3;
    box-shadow: inset 0 1px 2px #009ec9;
    text-shadow: 0 -1px 0 #00b2e3;
    transition: none;
}

.subscribeform {
    background-color: #dcf2f7;
    padding: 10px;
    margin-top: -14px;
    margin-bottom: 13px;
    display: none;
}

.subscribeform p {
    padding-top: 10px;
    font-size: 18px;
    font-family: Oswald;
    color: #393235;
}

.subscribeform .left {
    border-right: solid 2px #32b3d2;
    width: 450px;
}

.subscribeform .right {
    min-width: 160px;
    text-align: center;
}

.subscribeform input {
    border: 0;
    width: 285px;
}

.subscribeform button {
    background-color: #ff534a;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 20px;
    font-family: Oswald;
    font-size: 14px;
}

.post-single-content p {
    margin: 1em 0;
    font-size: 17px;
}
[id^="img_id_"]{
    margin: 1em 0;
}

.post-single-content a:hover {
    text-decoration: underline;
}

.post-single-content p img {
    border: 0;
    max-width: 664px;
    width: 664px;
}

.custom_dialog img, a {
    outline: none;
}

.custom_dialog_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.8;
    z-index: 999999;
}
.modal-content{
    text-align: center;
}
.custom_dialog{
    position: fixed;
    padding: 20px;
    background: #fff;
    text-align: center;
    outline: none;
    top: -700px;
    max-width: 500px;
    height: auto;
    z-index: 9999999;
    left: 0px;
    right: 0px;
    margin: auto;
}

.custom_dialog h1 {
    margin: 0px 0px 10px;
}

.custom_dialog p {
    margin: 5px 0px 20px;
    font-size: 18px;
}
.share-popup .modal-content-wrap{
    width: 540px;
}
.share-popup .share_btns a,
.custom_dialog .share_btns a {
    float: left;
    margin: 0px 2px;
}

#like_dialog {
    -webkit-transition: margin-top 300ms ease;
    -o-transition: margin-top 300ms ease;
    transition: margin-top 300ms ease;
}

@media (max-width: 800px) {
    #like_dialog {
        margin-top: 0 !important;
    }
}

.popup_close .closemark {
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    width: 9px;
    height: 9px;
    background: url(images/cross.png) no-repeat center;
    text-indent: -9999px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

#move-to-top {
    display: none;
}

.embed-container {
    position: relative;
}

.image-rollover {
    display: none;
    z-index: 200;
    position: absolute;
    left: -8px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
}

.embed-container:hover .image-rollover {
    display: block;
}

.image-rollover:before {
    font-family: FontAwesome;
    margin-right: 10px;
    font-size: 18px;
}

.rollover-facebook {
    top: 100px;
    background: #3e5ea2;
    top: calc(50% - 60px);
}

.rollover-facebook:before {
    content: "\f09a";
}

.rollover-twitter {
    top: 146px;
    background: #14c6f7;
    top: calc(50% - 10px);
}

.rollover-twitter:before {
    content: "\f099";
}

html .post-content, .post-single-content, .main-container {
    overflow: visible;
}

.main-container {
    background-color: white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 1040px;
    max-width: 1040px;
    min-width: 1000px;
}

.article:after {
    display: none;
}

.imgcont {
    display: block;
}

.imgcont img {
    display: block;
    position: relative;
}

/*sidebar widgets*/
.sidebar .widget_calendar a {
    color: #E03F00
}

.sidebar .widget_calendar a:hover {
    text-decoration: underline
}


.widget {
    margin-bottom: 27px;
    clear: both;
    width: 100%;
    float: none;
    padding: 18px;
    background-color: #E0F4F8;
    box-sizing: border-box;
}

.sidebar .widget h3 {
    color: #555
}

.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}

.widget li {
    list-style-type: square;
    /*margin-left: 17px;*/
    margin-bottom: 7px;
}

.widget h3 {
    margin: 0px 0 15px 0;
    padding-top: 0;
    font-size: 19px;
}

.widget li:last-child {
    margin-bottom: 0
}

.widget.widget_mts_recent_posts_widget {
    background-color: #D7F0F5;
    padding: 0;
    width: 336px;
}
.widget.widget_mts_recent_posts_widget .imgcont > img {
    height: 175px !important;
}

.widget_mts_recent_posts_widget .widget-title {
    font-size: 19px;
    background-color: #32b3d2;
    color: white !important;
    padding: 10px 18px;
    margin-bottom: 0;
    font-family: Oswald;
}

.widget_mts_recent_posts_widget .titlearrow {
    color: #32b3d2;
    font-size: 50px;
    margin-left: 30px;
    margin-top: -23px;
}

.widget_mts_recent_posts_widget ul {
    padding: 0 18px 18px;
}

.widget_mts_recent_posts_widget li {
    padding: 0;
    margin-bottom: 15px;
    border: 0;
}

#sidebars .widget_mts_recent_posts_widget .wp-post-image {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.widget_mts_recent_posts_widget .posttitle {
    padding: 10px;
    clear: both;
    background-color: white;
    color: #393235;
}
#sidebars li.widget.widget-sidebar.widget_mts_recent_posts_widget > ul > li > header > div > span > a:hover {
    text-decoration: none;
}

#sidebars li.widget.widget-sidebar.widget_mts_recent_posts_widget > ul > li > header > div > span > a {
    font-weight: normal !important;
}

.widget_image {
    display: block;
}

.widget_item {
    position: relative;
}
/*media queries*/
@media (min-width: 641px) {
    .dif_mobile, .dif_mobile_block, #beforesign, #mc_embed_signup {
        display: none !important;
    }

    .layout-standard .advanced-recent-posts li:nth-child(n + 8),
    .layout-video .advanced-recent-posts li:nth-child(n + 4) {
        display: none;
    }

}

@media (max-width: 640px) {
    .dif_nomobile {
        display: none !important;
    }

    .dif_mobile {
        display: inline;
    }

    .dif_mobile_block {
        display: block;
    }

    #ad_top_nomobile {
        display: none !important;
    }

    .fb-share-big {
        float: none !important;
    }

    .s_next_post,
    .s_prev_post {
        font-size: 14px;
    }

    .prev_story_cont a, .next_story_cont a {
        padding: 4px 8px;
    }

    #logo a img {
        max-height: 50px;
        margin: 50px auto 0;
    }

    .home #logo a img, .archive #logo a img {
        margin-top: 0;
    }

    .fb-share-big, .fb-share-big a:link, .fb-share-big a:visited, .fb-share-big-mobile,
    .twitter-share-big, .twitter-share-big a:link, .twitter-share-big a:visited, .twitter-share-big-mobile {
        width: 47%;
        display: inline-block;
        text-align: center;
        color: white;
        border-radius: 5px;
        font-size: 20px;
        padding: 9px 0;
        line-height: 28px;
    }

    #page, .container, .article {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .main-container {
        padding: 0 3%;
        width: 94vw !important;
        max-width: 94vw !important;
        min-width: 94vw !important;
    }

    .single-post #header {
        margin-top: 0 !important;
    }

    .main-header {
        width: 100% !important;
    }

    .topmenu {
        display: none !important;
    }

    footer {
        display: none;
    }

    .sidebar.c-4-12 {
        width: 100% !important;
        margin: 0 auto;
    }

    .widget.widget_mts_recent_posts_widget {
        max-width: 100% !important;
    }

    .home article, .archive article, .search article, .infibox article {
        float: left !important;
        clear: left !important;
        width: 48% !important;
        margin: 10px 0 !important;
    }

    .home article:nth-child(2n), .archive article:nth-child(2n), .search article:nth-child(2n), .infibox article:nth-child(2n) {
        float: right !important;
        clear: right !important;
        margin-right: 0;
    }

    .infibox {
        clear: both;
    }

    .home article h2, .archive article h2, .search article h2, .infibox h2 {
        line-height: 17px !important;
        font-size: 15px !important;
        padding: 0 !important;
        width: 100% !important;
        height: auto !important;
    }



    .home article h2 a, .archive article h2 a, .search article h2 a, .infibox h2 a {
        padding: 10px 5px !important;
        display: inline-block;
    }

    .home article header, .archive article header, .search article header, .infibox article header {
        display: none;
    }

    .home article .post-info, .archive article .post-info, .search article .post-info, .infibox article .post-info {
        padding: 10px 5px;
    }

    .article p img {
        margin: 10px 0 !important;
        width: 100% !important;
    }

    #google-sidebar-adds {
        padding: 0 !important;
        margin: 10px auto !important;
        width: 300px;
    }

    h1.single-title, h2.single-title {
        font-size: 20px;
        line-height: 26px;
        margin: 10px 0 15px;
    }

    body p {
        font-size: 17px !important;
        line-height: 24px !important;
    }

    article.infinitesquareadcont {
        clear: both !important;
        width: 100% !important;
        margin: 10px auto !important;
    }

    .search h1, .archive h1 {
        margin-bottom: 0 !important;
    }

    .infinitesquareadcont.first {
        display: none;
    }

    #mc_embed_signup, #beforesign {
        display: none;
    }

    .botscrollhead {
        padding: 20px !important;
    }

    article .imgcont {
        position: relative;
        overflow-x: hidden;
        height: 32vw !important;
        width: 100%;
    }

    article .imgcont img {
        position: absolute;
        top: 0;
        left: -8vw;
        width: 62vw !important;
        max-width: 62vw !important;
        height: 32vw !important;
    }

    .latest article h2 {
        height: auto !important;
    }

    .latest article img {
        top: 0 !important;
    }

    .latest article, .latest article a.imgcont, .latest article h2 {
        width: 100% !important;
        height: auto !important;
    }

    .latest article a.imgcont {
        max-height: 300px !important;
    }

    .latest article header {
        width: 100% !important;
    }

    .latest article .imgcont {
        height: 48vw !important;
    }

    .latest article .imgcont img {
        height: 48vw !important;
        width: 100% !important;
        max-width: 100% !important;
        left: 0;
    }

    #toplike {
        overflow-x: hidden;
        vertical-align: bottom;
    }
}

@media (min-width: 750px) and (max-width: 996px) {
    .fb-share-big {
        float: none !important;
    }

    .post-single-content p img {
        max-width: 432px !important;
    }

}

@media (min-width: 641px) and (max-width: 662px) {
    .fb-share-big {
        float: none !important;
    }
}

@media screen and (max-width: 640px) {
    .likeus-text-mobile {
        display: inline !important;
    }
}

.likeus-text-mobile {
    display: none;
    font-size: 14px;
    color: #777;
    font-weight: normal;
    padding-right: 5px;
}

.header-static-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8888;
    width: 100%;
    height: 45px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 7.74px 1.26px rgba(0, 0, 0, 0.9);
    display: none;
}

.header-static-bar .fb-like {
    display: inline-block;
    margin: 5px 0 0 10px;
    vertical-align: top;
}

@media screen and (max-width: 640px) {
    .header-static-bar {
        display: block;
    }

    .single-post #header {
        margin-top: 50px;
    }

    .page-like-button {
        width: 100%;
    }

    .likeus-text {
        display: none;
    }

    .likeus-text-mobile {
        display: inline-block;
    }

    #single-past-add iframe iframe #ad_iframe {
        margin-left: 300px !important;
    }
}

.prev_story_cont {
    float: left;
}

.next_story_cont {
    float: right;
}

.prev_story_cont a,
.next_story_cont a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #7DC244;
}

#google-sidebar-adds {
    margin: 0 auto;
    padding: 18px;
    background-color: #E0F4F8;
    text-align: center;
}

#google-sidebar-adds img, #google-sidebar-adds video, #google-sidebar-adds object {
    max-width: 300px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

.sidebar-social-buttons {
    margin-bottom: 13px;
}

.single .sidebar-social-buttons {
    margin-bottom: 0;
}

.sidebar-social-button {
    background-color: white;
    float: left;
    height: 90px;
    padding-bottom: 10px;
    width: 96px;
    margin-right: 5px;
}

@media (max-width: 1024px) {
    .sidebar-social-button {
        margin-right: 1px;
    }
}

.sidebar-social-button .social_link {
    display: block;
    width: 49px;
    height: 49px;
    margin: 10px auto;
}

.sidebar-social-button-facebook .social_link {
    background: url(images/sidebar_fb.png) no-repeat;
}

.sidebar-social-button-gplus .social_link {
    background: url(images/sidebar_googleplus.png) no-repeat;
}

.sidebar-social-button-twitter .social_link {
    background: url(images/sidebar_twitter.png) no-repeat;
}

.sidebar-social-button .sidebar-social-widget {
    text-align: center;
    display: block;
}

.sidebar-social-button-twitter {
    margin: 0;
}

.sidebar-social-button-gplus .sidebar-social-widget {
    padding: 0 15px;
}

.sidebar-social-widget div#___follow_0, .sidebar-social-widget div#___follow_0 iframe {
    position: static !important;
    width: auto !important;
    height: 20px !important;
}

.social-widget {
    padding: 15px 18px;
    background-color: #e0f4f8;
    margin-bottom: 20px;
}

.home .social-widget, .archive .social-widget, .search .social-widget {
    margin-bottom: 0;
}

.logo-wrap {
    display: none;
}

#ad_top_nomobile {
    margin: 20px auto;
    width: 728px;
    height: 90px;
    text-align: center;
}

#div-gpt-ad-1409984205459-20 {
    padding-top: 5px;
    width: 728px;
    height: 90px;
}

.copyrights {
    border: 0;
    background-color: transparent;
    color: #333;
}

.copyrights a {
    color: #333;
    font-weight: bold;
}

.copyrights span {
    display: none;
}

.copyrights .top {
    float: none;
}

.share_btns .vfbshar,
.share_btns .vtshar {
    margin-left: 5px;
    margin-right: 5px;
}

.share_btns > span {
    cursor: pointer;
    width: 140px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 45px;
}

.post-share-like-buttons {
    cursor: pointer;
}

.post-share-like-buttons img {
    display: block;
    margin: auto;
}

.g {
    overflow: visible !important;
}

.advanced-recent-posts a {
    font-size: 19px;
    line-height: 20px;
    font-family: Oswald;
}


@media (min-width: 641px) {
    .widget {
        min-width: 300px;
    }
}

.sidebar-social-button .fb_iframe_widget {
    margin-left: 5px;
}

.post-info .fb_iframe_widget {
    width: 86px !important;
}

.post-info .fb_iframe_widget span {
    width: 450px !important;
}

.like_btns .fb_iframe_widget {
    width: 86px !important;
}

.like_btns .fb_iframe_widget span {
    width: 450px !important;
}


#mc_embed_signup p {
    margin-bottom: 10px;
    font-family: Oswald;
    font-size: 14px;
    text-align: center;
}

#mc_embed_signup {
    padding: 25px;
    font-size: 14px;
    line-height: 1.3;
    background-color: #d6f0f6;
    color: #393235;
}

#beforesign {
    font-size: 50px;
    color: #d6f0f6;
    margin-bottom: -20px;
    padding-left: 65px;
}

#mc-embedded-subscribe {
    background-color: #ff534a;
    color: white;
    border-color: #ff534a;
    border-radius: 4px;
    padding: 5px 70px;
    font-size: 16px;
    vertical-align: bottom;
    display: block;
    margin: 10px auto 0;
}

#mc_embed_signup .email {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 0;
}

#sidebarsub {
    margin-top: 12px;
    text-align: center;
    background-color: white;
    padding: 10px;
}

#beforesidebarsign {
    font-size: 50px;
    color: white;
    float: left;
    margin-left: -14px;
    margin-top: 15px;
}

#sidebarsub .email {
    width: 90%;
    background-color: #e1e0e1;
    color: #393235;
    margin-bottom: 10px;
}

#sidebarsub .button {
    background-color: #ff534a;
    color: white;
    border-color: #ff534a;
    border-radius: 4px;
    padding: 5px 70px;
    Font-family: Oswald;
    font-size: 17px;
}

#sidebarsub div {
    margin-top: 10px;
}

#homebotad, #singlebotad {
    text-align: center;
    clear: both;
}

#singlebotad {
    margin-top: 15px;
    margin-bottom: 15px;
}

#page {
    min-height: 0;
}

/* fixed ad on left side of content */

.adfloatleft {
    width: 160px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: -170px;
}

#adcontleftfloat.fixed {
    position: fixed;
    top: 40px;
}

.navigation ul li > a {
    transition: background 0.2s linear 0s;
}

.navigation ul li:hover > a {
    background: #E03F00 !important;
    color: #fff !important;
}

.pagination .currenttext, .pagination a:hover {
    background-color: #000 !important;
    padding: 7px 10px !important;
}

.pagination a {
    transition: background-color 0.2s ease 0s;
    background-color: #E03F00;
    color: #FFF;
    padding: 7px 10px !important;
}

.stb-content h5 {
    line-height: 1.6;
}

.stb-bottom-right-container .stb-close {
    display: none;
}

#ingageunit {
    margin-top: 10px auto;
}

.toggle-mobile-menu {
    display: none !important;
}

.page h1.title {
    color: #494949;
}

.page .post-content {
    padding-top: 0;
    margin-top: 0;
}

.article {
    width: 664px;
    padding: 0;
}

.article ol {
    margin-left: 1.5em;
    line-height: 23px;
}

.article-ad-spacer {
    position: relative;
    z-index: 10;
    padding: 3% 0;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.article-ad-spacer:before {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 500%;
    height: 100%;
    background-color: #333;
    z-index: -5;
}

.dif_mobile_block.single-top-share {
    margin-top: 10px;
}

#load-posts a {
    clear: both;
}

.btn-default,
#load-posts a {
    border: 1px solid #eee;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.btn-default:hover,
#load-posts a:hover {
    color: #fff;
    background: #E03F00;
}

.not-shown {
    position: absolute;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.infinite-progress {
    position: relative;
}

.infinite-progress:after {
    content: "";
    height: 35px; /* Can be anything */
    background: #555;
    /*display: block;*/
    /*padding: 10px;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
    color-stop(.25, rgba(255, 255, 255, .2)),
    color-stop(.25, transparent), color-stop(.5, transparent),
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.75, rgba(255, 255, 255, .2)),
    color-stop(.75, transparent), to(transparent)
    );
    background-image: -webkit-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    background-image: -moz-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    background-image: -ms-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    background-image: -o-linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent
    );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -ms-animation: move 2s linear infinite;
    -o-animation: move 2s linear infinite;
    animation: move 2s linear infinite;
    overflow: hidden;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@-ms-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.sidebar.c-4-12 {
    width: 336px;
    padding: 0;
    border: 0;
    background-color: white;
}

.thecategory, .thecategory a {
    color: red !important;
}

#logo {
    display: none !important;
}

#page, .container {
    width: 1040px;
    max-width: 1040px;
    min-width: 1000px;
}

#sidebars {
    max-width: 336px;
}
@media (max-width:640px){
    #sidebars {
        max-width: 100%;
    }
    .widget.widget_mts_recent_posts_widget{
        width: 100%;
    }
}
.sidebar_list {
    margin-top: 20px;
}

.postsby {
    border: 0;
    padding: 0;
    color: #32b3d2;
}

.home .article, .archive .article, .search .article {
    width: 100%;
}

.home article, .archive article, .search article, .infibox article {
    float: left;
    width: 336px;
    margin: 20px 15px 0 0;
    position: relative;
}

.single .infibox article {
    width: 320px;
}

.home article header, .archive article header, .search article header, .infibox article header {
    position: absolute;
    top: 0;
    padding: 5px 0 15px 5px;
    width: 331px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    margin: 0;
}

.single .infibox article header {
    width: 315px;
}

.latest article header {
    width: 682px;
}

.home article .post-info, .archive article .post-info, .search article .post-info, .infibox .post_info {
    margin: 0;
    line-height: 13px;
}

.home article h2 a, .archive article h2 a, .search article h2 a, .infibox h2 a {
    color: black;
}

.home article h2, .archive article h2, .search article h2, .infibox h2 {
    line-height: 23px;
    font-size: 20px;
    background-color: #e0f4f8;
    color: black;
    padding: 10px;
    min-height: 85px;
    font-family: Oswald;
}

.latest article h2 a {
    color: white;
    text-shadow: 0 1 1 rgba(0, 0, 0, .95);
}

.latest article h2 {
    min-height: initial;
    padding: 0;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
    position: absolute;
    bottom: 0px;
    padding: 10px;
    margin: 0;
    width: 667px;
}

.latest article {
    width: 687px;
    height: 300px;
    max-height: 300px;
    margin: 0;
}

.latest article a.imgcont {
    display: block;
    overflow-y: hidden;
    width: 687px;
    height: 300px;
}

.latest article img {
    width: 100%;
    display: block;
    position: relative;
    top: -28px;
}

.infibox > article:nth-of-type(3n) {
    margin-right: 0 !important;
}

.infibox > article:nth-of-type(3n+1) {
    clear: left;
}

.single .infibox article:nth-child(2n) {
    margin-right: 0;
    float: right;
}

.home .thecategory, .home .thecategory a, .archive .thecategory, .search .thecategory, .archive .thecategory a, .search .thecategory a, .infibox .thecategory a {
    color: white !important;
    font-size: 13px;
    font-family: Oswald;
    text-shadow: 0 1 1 black;
}

.infibox .icon-tags {
    color: white;
}

.infibox a:hover {
    text-decoration: none !important;
}

.topmenu {
    background-color: #32b3d2;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 7.74px 1.26px rgba(0, 0, 0, 0.9);
}

.menucontainer {
    padding-left: 280px;
    position: relative;
    margin: 0 auto;
    max-width: 830px;
}

.topcont {
    max-height: 50px;
    overflow-y: hidden;
}

.topmenu .menu {
    line-height: 50px;
    font-size: 16px;
    height: 50px;
}

.btlogo {
    width: 280px;
    height: 50px;
    display: block;
    background-image: url(images/logo.jpg);
    position: absolute;
    left: 0px;
}

ul.menu li {
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
    font-size: 15px;
    font-family: Oswald;
}

.menu-item-14975 {
    border-right: solid 1px #393235;
    padding-right: 40px;
}

ul.menu .right {
    margin-left: 0;
    cursor: auto;
    width: 180px;
}

ul.menu .right a {
    margin: 0 7px;
}

ul.menu li a {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

ul.menu a.darrow .fa {
    margin-left: 5px;
}

#moremenu {
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

ul.menu .right:after {
    display: none;
}

#searchicon {
    margin-right: 5px;
    margin-left: 10px;
}

ul.menu a {
    display: inline-block;
    position: relative;
}

ul.menu a:before {
    color: white !important;
    font-size: 20px;
    margin-left: 10px;
}

.dcaret {
    display: block;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
}

.dcaret:before {
    content: "\f0d8";
    font-family: 'FontAwesome';
    font-size: 30px;
    color: #c9f3fd;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20px;
    display: none;
}

li:hover .dcaret:before, li.active .dcaret:before {
    display: inline-block;
}

li.right:hover .dcaret:before {
    display: none;
}

li.right #searchicon:hover .dcaret:before, li.right #searchicon.active .dcaret:before {
    display: inline-block;
    top: 44px;
    left: 4px;
}

#trendingtop .dcaret:before, #videotop .dcaret:before {
    top: 19px;
}

#searchbox {
    display: none;
    width: 380px;
    padding: 10px;
    background-color: #c9f3fd;
    position: absolute;
    right: 55px;
    z-index: 1001;
}

#msearch .fa-caret-up {
    color: #d6f0f6;
    font-size: 20px !important;
    position: absolute;
    left: 15px;
    bottom: -11px;
    display: none;
}

#msearchbox {
    display: none;
    width: 100%;
    padding: 10px 0;
    background-color: #c9f3fd;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 1001;
}

#searchbox.native input {
    border: 0;
    width: 248px;
    padding: 6px 10px;
}

#msearchbox input {
    border: 0;
    width: 60%;
    padding: 6px 10px;
}

#searchbox button {
    background-color: #ff534a;
    padding: 6px 20px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    border: 0;
    font-size: 13px;
    font-family: Oswald;
}

#msearchbox button {
    background-color: #ff534a;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 13px;
    font-family: Oswald;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

#msearchbox.active {
    display: block;
}

#dropmenu {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1003;
    background-color: #c9f3fd;
    color: #393235;
    border-bottom: 5px solid #32b3d2;
}

#dropmenu .menucontainer {
    padding-left: 0;
    max-width: 1110px;
}

#dropmenu .dropcontainer {
    display: none;
    position: relative;
}

#dropmore {
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Oswald;
}

#dropmore a {
    color: #393235;
    margin-left: 40px;
}

#menu-item-14975, #menu-item-14974, #menu-item-14973, #menu-item-14972, #menu-item-14971 {
    display: none;
}

/*
@media (max-width:1139px) {
	#menu-item-14975 { display:inline-block;}
	#videotop{display:none;}
}

@media (max-width:1039px) {
	#menu-item-14974 { display:inline-block;}
	#sciencetop{display:none;}
}

@media (max-width:939px) {
	#menu-item-14971 { display:inline-block;}
	#culturetop{display:none;}
	.topcont {width:690px;}
}

@media (max-width:839px) {
	#menu-item-14972 { display:inline-block;}
	#lifetop{display:none;}
	.topcont {width:590px;}
}

@media (max-width:779px) {
	#menu-item-14973 { display:inline-block;}
	#enttop{display:none;}
	.topcont {width:530px;}
}
*/
.submenu {
    float: left;
    width: 215px;
    height: 200px;
    color: #393235;
    text-align: right;
    background-color: #9ee2f3;
    padding: 15px 0;
}

.submenu a {
    color: #393235;
    display: block;
    font-size: 16px;
    font-family: Oswald;
    padding: 5px 25px 5px 0;
}

.submenu .menu-item:hover a, .submenu .menu-item.active a {
    background-color: #c9f3fd;
    padding-right: 8px;
}

.submenu .menu-item:hover a:after, .submenu .menu-item.active a:after {
    content: ">";
    margin-left: 10px;
}

.menuposts {
    position: absolute;
    top: 0;
    display: none;
    left: 215px;
    padding: 15px 10px;
}

.submenu .menu-item:hover .menuposts, .submenu .menu-item.active .menuposts {
    display: block;
}

.submenu .menu-item:hover .menuposts a, .submenu .menu-item.active .menuposts a {
    padding: 0;
}

.menuposts a {
    color: #393235;
    margin-right: 10px;
    width: 200px;
    float: left;
    padding: 0;
    text-align: left;
}

.submenu .menu-item:hover .menuposts a:after, .submenu .menu-item.active .menuposts a:after {
    display: none;
}

.menuposts a:nth-child(4) {
    margin: 0;
}

@media (max-width: 1079px) {
    .menuposts a:nth-child(4) {
        display: none;
    }

    .menuposts a:nth-child(3) {
        margin: 0;
    }
}

@media (max-width: 869px) {
    .menuposts a:nth-child(3) {
        display: none;
    }

    .menuposts a:nth-child(2) {
        margin: 0;
    }
}

@media (max-width: 659px) {
    .menuposts a:nth-child(2) {
        display: none;
    }

    .menuposts a:nth-child(1) {
        margin: 0;
    }
}

.menuposts a div {
    width: 200px;
    font-size: 15px;
    font-family: Oswald;
}

.menuposts img {
    max-width: 200px;
    max-height: 100px;
}

.infiniteleaderadcont {
    text-align: center;
    height: 90px;
    clear: both;
}

article.infinitesquareadcont {
    text-align: center;
    height: 292px;
    overflow: hidden;
}

.admin-bar .topmenu {
    top: 32px;
}

#mc-embedded-subscribe-form {
    font-family: Oswald;
}

#mc-embedded-subscribe-form div {
    margin: 0 !important;
}

#mc-embedded-subscribe-form p {
    font-size: 19px;
    margin-bottom: 8px;
}

#mc-embedded-subscribe-form h4 {
    font-size: 23px;
}

body .post-content, body .post-single-content {
    font-size: 15px;
    font-family: Roboto;
    color: black;
}

.botscrollhead {
    background-color: #d6f0f6;
    color: #393235;
    font-family: Oswald;
    font-size: 21px;
    padding: 10px 30px;
    margin-top: 30px;
}

.botscrollheadcaret:before {
    color: #d6f0f6;
    font-family: FontAwesome;
    content: "\f0d7";
    font-size: 60px;
    padding-left: 65px;
    display: block;
    margin: -25px 0 -30px;
}

#stb-30 {
    display: none !important;
}

#ingageunit #adplayer_iframeDiv {
    max-width: 100%;
}

footer {
    margin-top: 20px;
    background-color: #393235;
    height: 50px;
    display: none;
    margin-bottom: -1px;

    position: relative;
    z-index: 1;
}

.page footer {
    display: block;
}

.single footer {
    display: block;
}

footer li, footer ul {
    display: inline;
    line-height: 50px;
    vertical-align: top;
}

footer ul {
    margin-left: 10%;
}

@media (max-width: 450px) {
    footer ul {
        display: none;
    }
}

footer li {
    margin-left: 60px !important;
}

.copyrights {
    padding: 0;
    float: none;
    margin: 0;
}

.copyrights .container {
    margin: 0 auto;
    width: 1110px;
    max-width: 1110px;
    font-family: Oswald;
    font-size: 15px;
    line-height: 50px;
    max-height: 50px;
    color: white;
    overflow-y: hidden;
    text-align: center;
}

.copyrights a {
    color: white;
}

.cpnote {
    float: right;
    display: inline-block !important;
}

footer .btlogo {
    position: static;
    display: inline-block;
}

.post-single-content strong {
    font-family: Oswald;
    font-size: 22px;
    color: #393235;
    font-weight: normal;
}

.post-single-content h2 {
    text-transform: none !important;
}

.share_image_cont {
    position: relative;
}

.share_image_cont span:before {
    display: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 50%;
    color: white;
    font-family: FontAwesome;
    cursor: pointer;
    margin-bottom: 10px;
    cursor: pointer;
}

.sharebutcont {
    position: absolute;
    left: -25px;
    width: 50px;
    text-align: center;
    z-index: 1;
}

.disable_href {
    cursor: default;
    pointer-events: none;
}

.sharebutcont > span {
    display: inline-block;
    cursor: pointer;
}

.share_image_cont:hover span:before {
    display: block;
}

.imgsharef:before {
    background-color: #3b5998;
    content: "\f09a";
}

.imgsharet:before {
    background-color: #00aced;
    content: "\f099";
}

.imgsharep:before {
    background-color: #bd081c;
    content: '\f231';
}

.popup-content h2 {
    color: #32b3d2;
    font-size: 52px;
    font-weight: normal;
}

.popup-content p {
    font-family: Oswald;
    color: #393235;
    font-size: 23px !important;
    line-height: 29px !important;
    margin-bottom: 10px;
}

.like_btns {
    height: 76px;
    vertical-align: bottom;
}

.like_btns .fb-like {
    display: inline-block;
    padding: 20px 40px;
    background-color: #d4eff5;
    border-radius: 10px;
    top: 20px;
    position: relative;
    margin-bottom: 40px;
}

.popuparrow {
    background-image: url(images/popuparrow.png);
    width: 67px !important;
    height: 76px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    margin-right: -105px;
    top: -30px;
    position: relative;
}

.wpsr-floatbar-float_left {
    z-index: 999 !important;
}

.mmenu {
    /*float:left;*/
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff534a;
    padding-left: 10px;
    z-index: 10;
}

.mmenu .fa {
    font-size: 29px;
    line-height: 29px;
    color: white;
    background-color: #393235;
    padding: 8px 7px;
}

.menu-mobile-menu-container {
    position: absolute;
    top: 45px;
    left: 0;
    padding-left: 10px;
    background-color: #ff534a;
}

.menu-mobile-menu-container .menu {
    display: none;
    background-color: #393235;
}

.menu-mobile-menu-container .menu.active {
    display: block;
}

.menu-mobile-menu-container ul.menu li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 10px;
}

.menu-mobile-menu-container ul.menu li a {
    font-family: Oswald;
    font-size: 17px;
    display: block;
    padding: 5px 0;
    border-bottom: solid 1px #6d6a6a;
    text-align: left;
}

.menu-mobile-menu-container ul.menu .menu-item-object-category a:before {
    font-family: FontAwesome;
    font-size: 15px;
    content: "\f111";
    color: #6d6a6a !important;
    margin-right: 10px;
}

.smenu {
    float: right;
    color: #373637;
    margin: 12px 10px 0 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE2cHgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE2IDE2IiB3aWR0aD0iMTZweCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjx0aXRsZS8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9Ikljb25zIHdpdGggbnVtYmVycyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMzNzM2MzciIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIC0zODQuMDAwMDAwKSI+PHBhdGggZD0iTTAsMzg4IEw2Ljc1LDM4OCBMNC4yNSwzOTAgTDIsMzkwIEwyLDM5NyBMMTIsMzk3IEwxMiwzOTUgTDE0LDM5My40IEwxNCwzOTkgTDAsMzk5IFogTTE2LDM5MCBMMTEsMzk0IEwxMSwzOTIuMDA4Mjg5IEM3LjY2NzM4ODY3LDM5MS44ODgwMDEgNS42NjEwNjc2OCwzOTMuMzcyOTEgMy45NjY4NTc5MSwzOTUuMDIzMDcxIEMzLjk2Njg1NzkxLDM5MS4xMDA3NDcgNy40NjA0NTkzNywzODguMDExMzQyIDExLDM4Ny45NzY3OTQgTDExLDM4NiBaIE0xNiwzOTAiIGlkPSJSZWN0YW5nbGUgMjA0IGNvcHkiLz48L2c+PC9nPjwvc3ZnPg==);
    background-size: 100% 100%;
    width: 30px;
    height: 22px;
}

.smenu .fa {
    font-size: 29px;
    line-height: 29px;
    padding-top: 5px;
}

#msearch {
    float: right;
    color: #393235;
    padding: 5px 10px;
    position: relative;
}

#msearch .fa {
    font-size: 29px;
    line-height: 29px;
    padding-top: 3px;
}

#msharemenu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #c9f3fd;
    padding: 10px;
    display: none;
}

#msharemenu.active {
    display: block;
}

#msharemenu:before {
    font-family: FontAwesome;
    font-size: 30px;
    color: #c9f3fd;
    content: "\f0d8";
    position: absolute;
    top: -18px;
    right: 20px;
}

#msharemenu a {
    display: block;
    border-bottom: solid 1px #393235;
    color: #393235;
    font-family: Oswald;
    font-size: 15px;
    padding: 10px 0;
    text-align: left;
}

#msharemenu a:last-child {
    border-bottom: 0;
}

#mfshare {
    display: inline-block;
    margin-top: 3px;
}

#mfshare img {
    border-radius: 4px;
}

#mobilelogo {
    width: 210px;
    height: 29px;
    margin-top: 9px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    background-image: url(images/mobilelogo.png?v=1.1);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

#msharelike {
    margin: 6px 0 0 7%;
    float: left
}

#msingle {
    display: none;
}

#msingle.active {
    display: block;
}

#mcommon,
#msingle {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    box-sizing: border-box;
}

div#msingle {
    position: relative;
    top: -50px;
    transition: top 500ms ease;
    -webkit-transition: top 500ms ease;
    -moz-transition: top 500ms ease;
    -o-transition: top 500ms ease;
    /*visibility: hidden;*/
}

div#msingle.active {
    top: 0;
    /*visibility: visible;*/
}

#ingageunit #adplayer_iframeDiv {
    max-width: 100%;
}

.fb_iframe_widget_fluid {
    display: inline-block !important;
}

#ajaxinsertion {
    margin-top: 10px;
    clear: both;
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: #e0f4f8;
    padding: 10px;
}

#ajaxinsertion .fa {
    margin-right: 15px;
}

.bolt-video-container video, .bolt-video-container object, .bolt-ad-container video, .bolt-ad-container object {
    height: 100% !important;
}

.dfp-bg {
    top: 0px;
    left: 0px;
    display: none;
    visibility: hidden;
    background: #000;
    position: fixed;
    z-index: 9998;
}

.dfp_wrapper {
    display: none;
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
}

.dfp-container {
    overflow: hidden;
    background: #000000;
}

.close-ad {
    float: right;
    color: #ffffff;
    margin: 9px;
    padding: 4px;
    font-size: 20px;
    text-align: center;
    background-color: #FF3B00;
    border-radius: 3px;
}

.dfp_wrapper, .dfp-container {
    width: 100%;
    height: 100%;
}

.dfp-container > div {
    margin: 0 auto;
}

@media only screen
and (min-width: 320px)
and (max-width: 479px) {
    .dfp-container > div {
        width: 320px;
        height: 480px;
    }
}

@media only screen
and (min-width: 480px)
and (max-width: 767px) {
    .dfp-container > div {
        width: 480px;
        height: 320px;
    }
}

/*For iPads/Tablets (landscape)*/
@media only screen
and (min-width: 1024px) {
    .dfp-container > div {
        width: 1024px;
        height: 768px;
    }
}

/*For iPads/Tablets (portrait)*/
@media only screen
and (min-width: 768px)
and (max-width: 1023px) {
    .dfp-container > div {
        width: 768px;
        height: 1024px;
    }
}

.icon-tags:before {
    font-family: FontAwesome;
    content: "\f02c";
}

.icon-calendar:before {
    font-family: FontAwesome;
    content: "\f073";
}

#mc_embed_signup_br {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 17.1px 1.9px rgba(0, 0, 0, 0.7);
    width: 260px;
    padding: 10px;
    font-family: Oswald;
    z-index: 200;
}

#mc_embed_signup_br input {
    display: block;
    margin: 15px auto;
}

#mc_embed_signup_br input[type="email"] {
    background-color: #e5e5e5;
    border: 0;
    width: 230px;
    font-size: 18px;
    padding: 9px;
}

#mc_embed_signup_br input[type="submit"] {
    width: 100px;
    font-size: 14px;
    padding: 10px 0px;
}

#mc_embed_signup_br p.title {
    color: #67c7de;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
}

#mc_embed_signup_br p#closeme {
    color: #ff534a;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
}

#closesubscribe {
    float: right;
    cursor: pointer;
}

.vfbshar {
    background-color: #3b5998;
    border-radius: 5px;
}

.vtshar {
    background-color: #00abf0;
    border-radius: 5px;
}

#share_dialog .share_btns,
.popup-content .share_btns,
.share-popup .share_btns {
    margin-top: 10px;
    color: white;
    font-family: Oswald;
    Font-size: 17px;
    line-height: 50px;
}
#like_dialog .share_btns{
    line-height: 0;
}

iframe.fb_iframe_widget_lift {
    max-width: none;
}

.footermobilead {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

#sidebars .wp-post-image.lazy-image[src^="data:image"] {
    width: 300px;
    height: 157px !important;
}

.attributioncont {
    display: block;
    /*margin-bottom:1em;*/
}

.attributioncont img {
    margin-bottom: 0 !important;
    width: 100%;
}

.attribution {
    font-size: 10px;
    color: #808080;
    line-height: 1.25;
    margin-bottom: 0 !important;
    text-align: left;
    font-style: italic;
    display: block;
}

.attribution a {
    color: inherit;
}

.attribution a:hover {
    text-decoration: none;
}

.pages a {
    box-sizing: border-box;
    width: calc(50% - 115px);
    font-size: 18px;
    color: white;
    background: #ff3720;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    padding: 10px 20px;
    border-radius: 5px;
    line-height: 18px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
}

@media (max-width: 640px){
    .pages a{
        width: 120px;
    }
}
.pages.paged_gallery a.nextpage:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3720+0,c91a1a+100 */
    background: #ff3720; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3720 0%, #c91a1a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff3720 0%,#c91a1a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff3720 0%,#c91a1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3720', endColorstr='#c91a1a',GradientType=0 ); /* IE6-9 */
}
.pages.paged_gallery a.prevpage:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+20,ede7e7+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 20%, #ede7e7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 20%,#ede7e7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 20%,#ede7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ede7e7',GradientType=0 ); /* IE6-9 */
}
.pages.paged_gallery a.nextpage:active {
    background:#C91A1A;
}
.pages.paged_gallery a.prevpage:active {
    background:#ede7e7;
}
.pages.paged_gallery a, .pages.prevnextlinks a {
    text-shadow: none;
    width: 303px;
    font-size: 20px;
    padding: 9px 0;
    line-height: 31px;
}

@media screen and ( max-width: 782px ) {
    .pages.paged_gallery a, .pages.prevnextlinks a {
        width: 47%;
    }
}

.pages.paged_gallery .prevpage, .pages.prevnextlinks .prevpage {
    background-color: white;
    color: #ff3720;
}

.pages.paged_gallery > img, .pages.prevnextlinks > img {
    height: 50px !important;
}

.pages a:hover {
    text-decoration: none;
}

.pages a.hidden {
    visibility: hidden;
}

.pages {
    background-color: #e0f4f8;
    padding: 10px;
    margin-bottom: 8px !important;
    text-align: center;
    color: #393235;
    font-size: 15px;
    font-family: Oswald;
    line-height: 40px;
    margin-top: 10px;


    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;

    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.pages.paged_gallery .page_of{
    display: none;
}
.pages.paged_gallery, .pages.prevnextlinks {
    height: 49px;
    max-width: 100%;
}

.pages .prevpage {
    float: left;
}

.pages.paged_gallery .prevpage, .pages.prevnextlinks .prevpage {
    border-radius: 5px 0 0 5px;
}
.pages.paged_gallery .nextpage, .pages.prevnextlinks .nextpage {
    border-radius: 0 5px 5px 0;
}

.pages .prevpage .fa {
    margin-right: 10px;
}

.pages .nextpage {
    float: right;
}

#pages.paged_gallery{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
#pages.paged_gallery a{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
#pages.paged_gallery a.prevpage {
    margin-right: auto;
}
#pages.paged_gallery a.nextpage {
    margin-left: auto;
}
#pages.paged_gallery:after {
    content: '';
    display: block;
    clear: both;
}

.pages a .fa {
    margin-left: 10px;
    font-size: 20px;
}
.pages.paged_gallery a .fa {
    margin-left: 10px;
    font-size: 33px;
}

.pages .dif_nomobile {
    display: inline;
}

.pages .page_of {
    line-height: 45px;
}

.galleryRightArrow {
    /*background:url(images/popuparrow.png) no-repeat;*/
    background-image: url(images/popuparrow.png);
    /*display:block;*/
    /*width:20px;*/
    /*height:20px;*/
    /*background-color:red;*/

    /*background-image: url("/rsrc.php/v2/yW/r/xd0zVqpU6kr.png");*/
    background-repeat: no-repeat;
    background-size: 500px 542px;
    background-position: -30px -476px;
    height: 45px;
    width: 27px;
    top: 20px;
    background-color: #3b5998;

    position: absolute;
    left: -25px;
    width: 50px;
    text-align: center;

    display: inline-block;
    /*content:"\f09a";*/
}

@media (max-width: 450px) {
    .pages {
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 29px;
    }

    .pages a {
        width: 105px;
        font-size: 15px;
        padding: 14px 7px;
        line-height: 15px;
    }

    .pages .dif_nomobile {
        display: none;
    }
}

.facebook-box > iframe {
    display: table;
    margin: auto;
}

div.fb-page {
    width: 300px;
}

.brightcove-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.brightcove-responsive .BrightcoveExperience {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}

#div-gpt-ad-1409984205459-12 {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 10px;
}

.btcaption {
    clear: both;
}

#div-gpt-ad-1431519452903-0 {
    float: left;
    padding: 0 15px 15px 0;
}

/* contact form 7 layout */

form.wpcf7-form div.cf7fn {
    width: 260px;
    float: left;
    font-size: 18px;
    line-height: 34px;
}

form.wpcf7-form p {
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;

}

form.wpcf7-form textarea {
    /*border: solid 1px;*/
    float: left;
    padding-left: 10px;
    /*width: 300px;*/
    width: 100px;
}

form.wpcf7-form div.cf7line input, form.wpcf7-form div.cf7line textarea {
    clear: both;
    width: 260px;
}

form.wpcf7-form div.cf7submit input {
    text-align: center;
    width: 280px;
    margin-left: 10px;
    background-color: #32b3d2;
    margin-bottom: 10px;
}

form .wpcf7-validation-errors, form .wpcf7-response-output, form .wpcf7-mail-sent-ok {
    clear: both;
    text-align: center;
    padding: 10px;
}

@media (min-width: 570px) {
    form.wpcf7-form div.cf7submit input {
        margin-left: 5px;
        float: right;
        margin-right: 120px;
        width: 265px;
    }
}

form.wpcf7-form input[type="submit"] {
    width: 50%;
    background-color: #005684;
    color: white;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
}

form.wpcf7-form {
    margin-top: 30px;
    margin-bottom: 200px;
}

.galleryArrowsL, .galleryArrowsR {
    /*border: solid 1px;*/
    position: absolute;
    width: 50%;
    top: 225px;
    height: 50px;
}

.galleryArrowsL {
    left: 0;
}

.galleryArrowsR {
    right: 0;
}

.galleryArrowsL span:before, .galleryArrowsR span:before {
    display: block;
}

.imgArrowRight:before {
    /*background-color:#3b5998;*/
    background: transparent;
    content: ">";
}

.imgArrowLeft:before {
    /*background-color:#3b5998;*/
    background: transparent;
    content: "<";
}

/* hide amazone tracking image inserted by gumgum */
img[width="0"] {
    display: none;
}

.gallery_mode img {
    width: auto !important;
    margin-left: auto;
    margin-right: auto
}

.post-single-content p img {
    /*width: auto!important;*/
    margin-left: auto !important;
    margin-right: auto !important;
}

.header-static-bar .fb-like {
    animation-duration: 2s;
    animation-name: blinkborder;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: blinkborder;
    -webkit-animation-iteration-count: infinite;
    border: 2px solid red;
    margin: 5px 0 0 8px;
    border-radius: 5px;
}

.fb-like {
    width: 85px !important;
}

@keyframes blinkborder {
    from {
        padding: 1px;
        margin: 4px 0 0 9px;
    }

    to {
        padding: 5px;
        margin: 0 0 0 5px;
    }
}

@-webkit-keyframes blinkborder {
    from {
        padding: 1px;
        margin: 4px 0 0 9px;
    }

    to {
        padding: 5px;
        margin: 0 0 0 5px;
    }
}

#exit_intent_dialog.custom_dialog {
    max-width: 100%;
    background: none;
    pointer-events: none;
}

#exit_intent_dialog.custom_dialog .popup-content {
    background: #fff;
    padding: 40px 20px 20px;
    display: inline-block;
    max-width: 90%;
    position: relative;
    pointer-events: all;
}

.popup-content {
    position: relative;
}

.exit_intent_content {
    margin: 20px auto 0;
}

.imgcont {
    display: block;
    position: relative;
}

#exit_intent_dialog article .imgcont {
    max-height: 177px;
    overflow: hidden;
}
#exit_intent_dialog article .imgcont img{
    position: relative;
    top: auto;
    left: auto;
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
}
#exit_intent_dialog article .imgcont > img {
    width: 100% !important;
}
.exit_intent_content article {
    float: left;
    width: 336px;
    max-width: calc(33.3333333333% - (40px / 3));
    margin-right: 20px;
    position: relative;
    text-align: left;
    font-family: Oswald;
}
@media (max-width:869px){
    #exit_intent_dialog.custom_dialog{
        max-width: 400px;
    }
    #exit_intent_dialog.custom_dialog .popup-content{
        overflow-y: scroll;
        max-height: 90vh;
    }

    .exit_intent_content article {
        max-width: 100%;
        width: 100%;

        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
    .exit_intent_content article a.imgcont{
        width: 100%;
    }

    .exit_intent_content h2,
    .exit_intent_content .video_overlay{
        width: 100%;
        box-sizing: border-box;
    }
}

.exit_intent_content article:last-of-type {
    margin-right: 0;
}

.exit_intent_content article header {
    display: none;
}

.exit_intent_content h2 {
    background-color: #E0F4F8;
    color: #000;
    /*font-size: 20px;*/
    /*padding: 10px;*/
    /*min-height: 85px;*/

    line-height: 18px;
    font-size: 18px;
    min-height: 4em;
    padding: 5px 10px;
}
.three-posts .exit_intent_content h2{
    line-height: 23px;
}

.exit_intent_content h2 a {
    color: #000;
}

/*!* For Matomy Native ads *!*/
/*@media (max-width: 640px) {*/
    /*.sponsored {*/
        /*display: block;*/
        /*width: 97%;*/
    /*}*/
/*}*/


#div-gpt-ad-1420466308609-0 {
    height: 1px;
}

.gallery_promotion_title {
    font-family: "Oswald";
    font-weight: normal;
    color: #494949;
    font-size: 24px;
    line-height: 1.4;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 0px;
}

#div-gpt-ad-1409984205459-22 {
    height: 600px;
    width: 160px;
    position: fixed;
    top: 70px;
    left: 238px;
}

.video_overlay {
    position: absolute !important;
    top: 0px;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3);

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
@media all{
    .video_overlay img{
        position: relative !important;
        width: auto !important;
        height: auto !important;
        top: 0 !important;
        left: 0 !important;
    }
    article .video_overlay img{
        position: relative !important;
        width: auto !important;
        height: auto !important;
        top: 0 !important;
        left: 0 !important;
    }
}

.page-like-button {
    padding-bottom: 0px !important;
}

#div-gpt-ad-1443653126402-0 {
    text-align: center;
    margin-bottom: 10px;
}

@media only screen
and (min-width: 1024px) {
    .sticky_content {
        width: 664px;
    }

    #div-gpt-ad-1443653126402-0 {
        display: none;
    }
}


#div-gpt-ad-1446470908789-0 {
    margin-bottom: 18px;
}

.close-popup {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 26px;
    height: 26px;
}

.css-icon-exit-shadow,
.css-icon-exit {
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.css-icon-exit-shadow:before, .css-icon-exit-shadow:after,
.css-icon-exit:before,
.css-icon-exit:after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    position: absolute;
    top: 13px;
    border-radius: 2px;
}
.css-icon-exit-shadow:before,
.css-icon-exit:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.css-icon-exit-shadow:after,
.css-icon-exit:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.css-icon-exit-shadow:before, .css-icon-exit-shadow:after {
    /*box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

.css-icon-exit:before, .css-icon-exit:after {
    background: #32b3d2;
}


@media(min-width: 869px) {
    #exit_intent_dialog.six-posts article {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
    }

    #exit_intent_dialog.six-posts article:nth-of-type(3n) {
        margin-right: 0;
    }

    #exit_intent_dialog.six-posts article:nth-of-type(3n + 1) {
        clear: both;
    }

    #exit_intent_dialog.six-posts article:nth-last-of-type(1),
    #exit_intent_dialog.six-posts article:nth-last-of-type(2),
    #exit_intent_dialog.six-posts article:nth-last-of-type(3) {
        margin-bottom: 0;
    }

    #exit_intent_dialog.six-posts article h2 {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        bottom: 0;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    #exit_intent_dialog.six-posts article h2 a{
        color:#fff;
    }
}

#div-gpt-ad-1447272833518-0{
    margin-bottom: 10px;
}

#div-gpt-ad-1442156834110-0{
    float: left;
    margin-bottom: 20px;
}
.js-gal{
    display: none;
    font-size: 19px;
    line-height: 29px;
}
.show{
    display: block;
}

.big_cont_recommend{
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.big_cont_recommend p {
    text-align: center;
    width: 100%;
}

.big_cont_recommend p a{
    color: black;
    font-size: 22px;
    font-family: "Oswald";
    text-align: center;
    font-weight: 400;
}

.big_cont_recommend img{
    width: 100%!important;
    max-width: 100%!important;
    height: auto;
}

.big_cont_recommend .desc{
    font-size: 19px!important;
    color: #393235;
    font-family: Oswald;
    font-weight: 400;
    line-height: 29px;
}

@media (max-width: 640px) {
    .big_cont_recommend p a{
        font-size: 15px!important;
    }

    .big_cont_recommend img{
        width: 100%!important;
        max-width: 100%!important;
        height: auto;
    }

   .big_cont_recommend .desc{
        font-size: 13px!important;
    }
    .share_image_cont,
    .embed-container{
        margin: 0 -3vw;
    }
}

#div-gpt-ad-1467996295635-0 {
    margin-top: 10px;
}