/* Mixins *******************************************/
/*easeInOutQuint*/
/* line 1, ../../../workspace/styles/games/_games-base.scss */
.hero {
  position: relative;
}
/* line 5, ../../../workspace/styles/games/_games-base.scss */
.hero .hero-image {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100%;
}
/* line 13, ../../../workspace/styles/games/_games-base.scss */
.hero .game-logo {
  bottom: 236px;
  left: 50%;
  position: absolute;
}
/* line 18, ../../../workspace/styles/games/_games-base.scss */
.no-touch .hero .game-logo {
  -webkit-backface-visibility: hidden;
}
/* line 23, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow {
  position: absolute;
  /*@include transition(opacity $transition-time ease);*/
  -webkit-backface-visibility: hidden;
}
/* line 25, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow img {
  width: 128px;
  height: 70px;
  opacity: 0;
  display: none;
  -moz-transition: opacity 20ms ease;
  -ms-transition: opacity 20ms ease;
  -webkit-transition: opacity 20ms ease;
  transition: opacity 20ms ease;
}
/* line 33, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow span.preview-display-name {
  font-size: 10px;
  width: 128px;
  background-color: #333333;
  padding: 2px 1px;
  opacity: 0;
  display: none;
  -moz-transition: opacity 20ms ease;
  -ms-transition: opacity 20ms ease;
  -webkit-transition: opacity 20ms ease;
  transition: opacity 20ms ease;
}
/* line 44, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow#heroNext img {
  float: left;
  margin-left: 20px;
}
/* line 48, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow#heroNext span.preview-display-name {
  margin-left: 20px;
  float: left;
}
/* line 55, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow#heroPrev img {
  float: right;
  margin-right: 20px;
}
/* line 59, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow#heroPrev span.preview-display-name {
  margin-right: 20px;
  float: right;
}
/* line 69, ../../../workspace/styles/games/_games-base.scss */
.hero .btn-large-arrow.inactive {
  cursor: default;
  opacity: 0;
}
/* line 76, ../../../workspace/styles/games/_games-base.scss */
.hero #heroNext, .hero #heroPrev {
  top: 145px;
}
/* line 80, ../../../workspace/styles/games/_games-base.scss */
.hero #heroNext {
  right: 0;
}
/* line 84, ../../../workspace/styles/games/_games-base.scss */
.hero .game-nav {
  display: none;
}

/* line 90, ../../../workspace/styles/games/_games-base.scss */
.hero-more {
  display: none;
}
/* line 93, ../../../workspace/styles/games/_games-base.scss */
.no-touch .hero-more {
  -webkit-transform-style: preserve-3d;
}

/* line 98, ../../../workspace/styles/games/_games-base.scss */
.hero-mouse-scrolldown {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  display: none;
}

/* line 106, ../../../workspace/styles/games/_games-base.scss */
.icon-mouse-scrolldown {
  cursor: pointer;
  text-shadow: #000000 1px 1px 2px;
  position: absolute;
  margin-left: -38px;
  bottom: 0px;
  color: white;
  font-size: 73px;
  -webkit-animation: mouse 1s ease 0s infinite;
  animation: mouse 1s ease 0s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mouse {
  /* line 120, ../../../workspace/styles/games/_games-base.scss */
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  /* line 121, ../../../workspace/styles/games/_games-base.scss */
  50% {
    -webkit-transform: translate3d(0px, -10px, 0px);
  }

  /* line 122, ../../../workspace/styles/games/_games-base.scss */
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
}

/* Standard syntax */
@keyframes mouse {
  /* line 127, ../../../workspace/styles/games/_games-base.scss */
  0% {
    transform: translate3d(0px, 0px, 0px);
  }

  /* line 128, ../../../workspace/styles/games/_games-base.scss */
  50% {
    transform: translate3d(0px, -10px, 0px);
  }

  /* line 129, ../../../workspace/styles/games/_games-base.scss */
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

@media only screen and (min-width: 641px) {
  /* line 3, ../../../workspace/styles/games/_games-600.scss */
  .hero .hero-image {
    height: 490px;
  }
  /* line 7, ../../../workspace/styles/games/_games-600.scss */
  .hero #heroNext, .hero #heroPrev {
    top: 240px;
  }
  /* line 12, ../../../workspace/styles/games/_games-600.scss */
  .hero #heroNext .icon-cover-next {
    position: absolute;
    right: 12px;
    top: 44px;
  }
  /* line 20, ../../../workspace/styles/games/_games-600.scss */
  .hero #heroPrev .icon-cover-prev {
    position: absolute;
    left: 12px;
    top: 44px;
  }
  /* line 27, ../../../workspace/styles/games/_games-600.scss */
  .hero .game-logo {
    bottom: 459px;
  }
  /* line 32, ../../../workspace/styles/games/_games-600.scss */
  .hero .btn-large-arrow img {
    display: block;
  }
  /* line 36, ../../../workspace/styles/games/_games-600.scss */
  .hero .btn-large-arrow span.preview-display-name {
    display: inline-block;
  }
}
@media only screen and (min-width: 960px) {
  /* line 3, ../../../workspace/styles/games/_games-960.scss */
  .hero .hero-image {
    height: 100%;
  }
  /* line 7, ../../../workspace/styles/games/_games-960.scss */
  .hero .circle-wrap {
    left: -23px;
    position: absolute;
  }
  /* line 12, ../../../workspace/styles/games/_games-960.scss */
  .hero .game-logo {
    bottom: 43px;
    left: auto;
    right: 22px;
  }
  /* line 18, ../../../workspace/styles/games/_games-960.scss */
  .hero #heroNext, .hero #heroPrev {
    top: 240px;
    display: inline;
  }
  /* line 23, ../../../workspace/styles/games/_games-960.scss */
  .hero #heroNext {
    /*@include transition(margin-right 250ms ease);*/
    margin-right: 0px;
  }
  /* line 26, ../../../workspace/styles/games/_games-960.scss */
  .hero #heroNext.intro {
    margin-right: -50px;
  }
  /* line 32, ../../../workspace/styles/games/_games-960.scss */
  .hero #heroPrev {
    /*@include transition(margin-left 250ms ease);*/
    margin-left: 0px;
  }
  /* line 35, ../../../workspace/styles/games/_games-960.scss */
  .hero #heroPrev.intro {
    margin-left: -50px;
  }

  /* line 43, ../../../workspace/styles/games/_games-960.scss */
  .hero-more {
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    -moz-transition: opacity 250ms ease;
    -ms-transition: opacity 250ms ease;
    -webkit-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    width: 100%;
  }
  /* line 56, ../../../workspace/styles/games/_games-960.scss */
  .hero-more.fade {
    opacity: 0;
    cursor: default;
  }

  /* line 63, ../../../workspace/styles/games/_games-960.scss */
  .hero-mouse-scrolldown {
    display: block;
  }
}