/* Mixins *******************************************/
/* line 3, ../../../workspace/styles/master-class.scss */
#master-class {
  border-bottom: 1px solid #404040;
  padding: 40px 20px;
}
/* line 7, ../../../workspace/styles/master-class.scss */
#master-class h1 {
  background-position: 50% 0, 50% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  min-width: 54px;
  padding: 8px 0;
  text-align: center;
  margin: 30px 0 30px;
}

/* line 20, ../../../workspace/styles/master-class.scss */
.master-class-container {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  justify-content: center;
}
/* line 29, ../../../workspace/styles/master-class.scss */
.master-class-container .item {
  background-color: black;
  box-sizing: border-box;
  flex-basis: calc(33.33% - 30px);
  padding: 0;
  margin: 15px;
  overflow: hidden;
}
/* line 37, ../../../workspace/styles/master-class.scss */
.master-class-container .item .title {
  color: #fff;
  padding: 4px;
  font-size: 20px;
  font-size: 2.0rem;
  font-family: "din-condensed-web", "Helvetica", Arial, sans-serif;
  text-transform: none;
  white-space: nowrap;
}
/* line 47, ../../../workspace/styles/master-class.scss */
.master-class-container .item .visual {
  position: relative;
  overflow: hidden;
}
/* line 51, ../../../workspace/styles/master-class.scss */
.master-class-container .item .visual:hover .desc {
  /*transform: translate(0, 0);*/
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  /*transition-delay: 100ms;*/
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  -ms-transition-delay: 100ms;
  transition-delay: 100ms;
}
/* line 62, ../../../workspace/styles/master-class.scss */
.master-class-container .item .visual:hover .time {
  /*display: none;*/
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  /*transform: translate(0,-100%);*/
}
/* line 70, ../../../workspace/styles/master-class.scss */
.master-class-container .item .time {
  position: absolute;
  top: 0;
  padding: 10px 4px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "din-condensed-web", "Helvetica", Arial, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  /*transition: transform 150ms ease;*/
  -moz-transition: transform 150ms ease;
  -ms-transition: transform 150ms ease;
  -webkit-transition: transform 150ms ease;
  transition: transform 150ms ease;
}
/* line 85, ../../../workspace/styles/master-class.scss */
.master-class-container .item .time span {
  padding: 0 4px;
  font-size: 13px;
}
/* line 91, ../../../workspace/styles/master-class.scss */
.master-class-container .item .desc {
  color: #ffffff;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 10px 8px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  font-family: "din-condensed-web", "Helvetica", Arial, sans-serif;
  /*transition: transform 250ms ease;*/
  /*transform: translate(0, -150%);*/
  -moz-transition: transform 250ms ease;
  -ms-transition: transform 250ms ease;
  -webkit-transition: transform 250ms ease;
  transition: transform 250ms ease;
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
  transform: translate(0, -150%);
}
/* line 109, ../../../workspace/styles/master-class.scss */
.master-class-container .item .link {
  background-color: #ed324c;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  font-family: "din-condensed-web", "Helvetica", Arial, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
}
/* line 119, ../../../workspace/styles/master-class.scss */
.master-class-container .item .link a.cta-btn {
  width: 100%;
  background: transparent;
  text-transform: none;
  height: 42px;
  line-height: 46px;
  line-height: 4.6rem;
  font-style: normal;
  padding: 0 10px;
}

@media only screen and (max-width: 960px) {
  /* line 136, ../../../workspace/styles/master-class.scss */
  .master-class-container .item {
    flex-basis: calc(50% - 30px);
  }
}
@media only screen and (max-width: 640px) {
  /* line 144, ../../../workspace/styles/master-class.scss */
  .master-class-container .item {
    flex-basis: 100%;
  }
}