/* Mixins *******************************************/
/*easeInOutQuint*/
/* line 178, sprite-global-mobile/*.png */
.sprite-global-mobile-sprite {
  background: url('images/sprites/sprite-global-mobile-s0eca87e9f0.png') no-repeat;
}

/**/
/* line 10, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-type-ajax .modal-content-wrap, .modal-type-inline .modal-content-wrap {
  position: relative;
}

/* line 15, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.block-modal {
  background: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}
/* line 25, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.block-modal canvas {
  display: none;
}

/* line 31, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay {
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  padding: 60px 0;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(10, 10, 10, 0.8);
  -moz-transition: background-color 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: background-color 250ms cubic-bezier(0.86, 0, 0.07, 1);
}
/* line 46, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay .icon-close, .modal-overlay .close {
  -webkit-backface-visibility: hidden;
  opacity: 0.8;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: 250ms 100ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: 250ms 100ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: 250ms 100ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: 250ms 100ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity, transform;
}
/* line 52, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay .icon-close:hover, .modal-overlay .close:hover {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
/* line 58, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay .select2-container.error .select2-choice {
  border: 1px solid #FD1E1E !important;
}
/* line 64, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.modal-type-iframe, .modal-overlay.modal-type-image {
  background-color: black;
}
/* line 66, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.modal-type-iframe .modal-container, .modal-overlay.modal-type-image .modal-container {
  background: none;
}
/* line 69, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.modal-type-iframe .modal-content-wrap, .modal-overlay.modal-type-image .modal-content-wrap {
  background: none;
  height: 100%;
  width: 100%;
}
/* line 73, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.modal-type-iframe .modal-content-wrap img, .modal-overlay.modal-type-image .modal-content-wrap img {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 0;
  width: 100%;
}
/* line 81, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.modal-type-iframe .modal-content-wrap.purchase-modal, .modal-overlay.modal-type-image .modal-content-wrap.purchase-modal {
  text-align: center;
}
/* line 83, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.modal-type-iframe .modal-content-wrap.purchase-modal img, .modal-overlay.modal-type-image .modal-content-wrap.purchase-modal img {
  width: auto;
}
/* line 90, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.modal-type-image button.close {
  right: auto;
  top: 0;
  display: inline-block;
}
/* line 97, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.modal-type-ajax .modal-container, .modal-overlay.modal-type-inline .modal-container {
  background: #fff;
}
/* line 101, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay .spinner {
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
  opacity: 0;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -moz-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity, transform;
}
/* line 111, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.overlay-hiding {
  pointer-events: none;
  background-color: rgba(10, 10, 10, 0);
}
/* line 114, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-overlay.overlay-hiding .modal-container {
  opacity: 0;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* line 121, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready {
  pointer-events: none;
  text-align: center;
}
/* line 126, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready .spinner {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 132, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready.modal-type-ajax .modal-container, .modal-not-ready.modal-type-inline .modal-container {
  background: none;
}
/* line 139, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready .modal-container .icon-close, .modal-not-ready .modal-container .close {
  opacity: 0;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 143, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready .modal-container .arrow-left {
  -moz-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
}
/* line 146, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready .modal-container .arrow-right {
  -moz-transform: translate(50px, 0);
  -ms-transform: translate(50px, 0);
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
}
/* line 149, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready .modal-container .modal-content-wrap > div {
  opacity: 0;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
  visibility: hidden;
}
/* line 156, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready .modal-container .social-sharing li {
  opacity: 0;
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
}
/* line 164, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-not-ready canvas {
  display: inline-block;
}

/* line 172, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.overlay-gallery .modal-container .arrow {
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  opacity: 1;
  pointer-events: auto;
}

/* line 180, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.overlay-hide .modal-container {
  opacity: 0;
  -moz-transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity, transform;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 187, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container {
  min-height: 100%;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity, transform;
  z-index: 10;
}
/* line 198, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .modal-content > div {
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: 250ms 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: 250ms 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: 250ms 300ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: 250ms 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity, transform;
  background: #FFF;
}
/* line 205, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .modal-iframe-scaler {
  height: 0;
  opacity: 1;
  overflow: hidden;
  overflow: visible;
  padding-top: 56.25%;
  position: relative;
  visibility: visible;
  width: 100%;
}
/* line 214, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .modal-iframe-scaler iframe {
  background: black;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 223, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .modal-iframe-scaler .close {
  top: -50px;
}
/* line 228, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .social-sharing li {
  opacity: 1;
  -moz-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity, transform;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 235, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .social-sharing li:nth-child(1) {
  -webkit-transition-delay: 650ms;
  -moz-transition-delay: 650ms;
  -o-transition-delay: 650ms;
  transition-delay: 650ms;
}
/* line 235, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .social-sharing li:nth-child(2) {
  -webkit-transition-delay: 750ms;
  -moz-transition-delay: 750ms;
  -o-transition-delay: 750ms;
  transition-delay: 750ms;
}
/* line 235, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .social-sharing li:nth-child(3) {
  -webkit-transition-delay: 850ms;
  -moz-transition-delay: 850ms;
  -o-transition-delay: 850ms;
  transition-delay: 850ms;
}
/* line 240, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container iframe {
  background: none;
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  padding-top: 60px;
  z-index: 400;
}
/* line 246, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .arrow {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
  display: block;
  margin-top: -7px;
  opacity: 0;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  z-index: 506;
  -moz-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: 250ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity, transform;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 262, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .arrow.next {
  right: 0;
}
/* line 265, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .arrow.prev {
  left: 0;
}
/* line 268, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-container .arrow.inactive {
  opacity: 0;
  pointer-events: none;
}

/* line 276, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.locale-redirection,
.age-gate-container {
  background: #000 !important;
  max-width: 612px;
}
/* line 281, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.locale-redirection .close,
.age-gate-container .close {
  background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -50px;
  height: 21px;
  width: 21px;
  margin: 25% 0 0 48%;
  right: auto;
  text-align: left;
  text-indent: -100px;
  overflow: hidden;
  opacity: 1;
}
/* line 291, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.locale-redirection .close:after,
.age-gate-container .close:after {
  content: '';
  display: none;
}
/* line 297, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.locale-redirection ~ .social-sharing,
.age-gate-container ~ .social-sharing {
  display: none;
}

/* line 303, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap {
  vertical-align: top;
  padding-bottom: 30px;
}
/* line 307, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .modal-content-wrap-inner {
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 311, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.mfp-iframe-holder .modal-content-wrap, .mfp-image-holder .modal-content-wrap {
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
/* line 319, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .mfp-figure:before, .modal-content-wrap .mfp-figure:after {
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
/* line 322, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .centered-content {
  margin: 5%;
}
/* line 325, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap h1 {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #222121;
  /* Old browsers */
  background: -moz-linear-gradient(top, #222121 0%, #0f0f0f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222121), color-stop(100%, #0f0f0f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #222121 0%, #0f0f0f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #222121 0%, #0f0f0f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #222121 0%, #0f0f0f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #222121 0%, #0f0f0f 100%);
  /* W3C */
  font-size: 16px;
  font-size: 1.6rem;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}
/* line 350, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap h2, .modal-content-wrap h3 {
  color: #454545;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: normal;
  display: block;
}
/* line 358, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.support-and-patches-container .modal-content-wrap h2 {
  font-family: "adobe-caslon-pro", "Georgia", serif;
  font-style: italic;
}
/* line 362, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap a {
  color: #000;
  text-decoration: none;
}
/* line 366, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap ol {
  list-style: decimal-leading-zero;
  margin: 0 0 45px 30px;
}
/* line 369, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap ol li {
  line-height: 24px;
  line-height: 2.4rem;
  width: 100%;
}
/* line 374, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap ol a {
  color: #454545;
  text-decoration: underline;
}
/* line 380, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .terms-of-service h2,
.modal-content-wrap .back-to-top {
  margin-bottom: 10px;
  display: block;
}
/* line 383, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .terms-of-service h2 span,
.modal-content-wrap .back-to-top span {
  background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -91px;
  height: 10px;
  width: 9px;
  display: inline-block;
}
/* line 390, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .terms-of-service strong,
.modal-content-wrap .privacy-policy strong {
  font-weight: bold;
}
/* line 394, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .privacy-policy ol {
  counter-reset: list-count;
  list-style: none;
  margin: 0 40px 45px 0;
}
/* line 398, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .privacy-policy ol > li {
  margin-left: 40px;
}
/* line 400, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .privacy-policy ol > li:before {
  content: "Q " counter(list-count,decimal-leading-zero) ".";
  counter-increment: list-count;
  float: left;
  margin-left: -40px;
  width: 40px;
}
/* line 410, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .contact-us a, .modal-content-wrap .print-friendly-link {
  color: rgba(69, 69, 69, 0.8);
  display: block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-style: normal;
  margin: 6px 0 0;
}
/* line 417, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .contact-us a:after, .modal-content-wrap .print-friendly-link:after {
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 0;
  content: ' ';
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid rgba(69, 69, 69, 0.8);
  content: "";
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
/* line 427, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.no-touch .modal-content-wrap .contact-us a:hover, .no-touch .modal-content-wrap .print-friendly-link:hover {
  color: #454545;
}
/* line 433, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .print-friendly-wrap {
  display: block !important;
}
/* line 436, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .print-friendly-wrap .print-friendly-link {
  margin-top: 0;
}
/* line 441, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .close {
  display: block;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 0;
  z-index: 9999;
}
/* line 451, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .close:after {
  color: #d3d3d3;
  content: "\e018";
  font-family: "ubisoft-icons";
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
}
/* line 459, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap [class*="icon-"] {
  color: #d3d3d3;
  font-size: 28px;
  font-size: 2.8rem;
  margin: 0 10px;
  opacity: .8;
}
/* line 466, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection .close {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #222121;
  /* Old browsers */
  background: -moz-linear-gradient(top, #222121 0%, #0f0f0f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222121), color-stop(100%, #0f0f0f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #222121 0%, #0f0f0f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #222121 0%, #0f0f0f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #222121 0%, #0f0f0f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #222121 0%, #0f0f0f 100%);
  /* W3C */
  height: 50px;
  line-height: 50px;
  width: 100%;
}
/* line 490, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .social-sharing {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
/* line 500, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .social-sharing > li {
  display: inline-block;
}
/* line 506, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-modal h2 {
  color: #404040;
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-weight: normal;
}
/* line 512, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-modal h3 {
  color: #454545;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-weight: bold;
}
/* line 518, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-modal .fixes ul {
  margin: 1em 0;
}
/* line 521, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-modal .fixes li, .modal-content-wrap .game-modal p {
  color: #454545;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 24px;
  line-height: 2.4rem;
  list-style: disc;
  margin-left: 1em;
}
/* line 529, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-modal .fixes p.release {
  margin-left: 0;
}
/* line 532, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-modal .download {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 30px;
}
/* line 536, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-modal .download a {
  background: #c61a16;
  color: #fff;
  margin: 30px 0;
}
/* line 542, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-modal .fixes {
  padding-bottom: 20px;
}
/* line 547, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements .centered-content {
  margin: 0;
  padding-bottom: 10px;
}
/* line 551, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements ul {
  margin-bottom: 3%;
  overflow: hidden;
}
/* line 555, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements li {
  display: block;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 0 3%;
  overflow: hidden;
  padding: 1em 0;
  width: 90%;
}
/* line 563, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements li:last-child {
  border: none;
}
/* line 566, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements strong {
  float: left;
  font-weight: bold;
  height: 100%;
  width: 100%;
}
/* line 572, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements p {
  height: 100%;
  float: left;
  margin: 0;
  overflow: hidden;
  width: 70%;
}
/* line 579, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements p.title {
  width: 30%;
}
/* line 583, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements li p.padding,
.modal-content-wrap .system-requirements li p.recommended {
  display: none;
}
/* line 586, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements li.header {
  background: #eeeeee;
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}
/* line 594, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .system-requirements li.header strong {
  width: 3%;
}
/* line 599, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article hgroup {
  margin: 0 auto 1.4em;
  width: 72%;
}
/* line 603, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article h2 {
  background: none;
  color: #c61a16;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "adobe-caslon-pro", "Georgia", serif;
  font-style: italic;
  height: auto;
  line-height: 30px;
  line-height: 3rem;
  padding-left: 0;
  text-align: center;
  text-transform: none;
  width: 100%;
}
/* line 616, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article h3 {
  color: #454545;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  line-height: 1.4rem;
  font-weight: normal;
  text-align: center;
  text-transform: none;
}
/* line 624, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article strong {
  color: #454545;
  display: block;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  line-height: 1.4rem;
  font-weight: bold;
  padding-bottom: 20px;
}
/* line 632, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article .article {
  margin: 0 auto;
}
/* line 635, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article .article:nth-of-type(1) {
  margin-top: 15px;
}
/* line 638, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article .article:nth-of-type(1) figure:first-child {
  padding-top: 0;
}
/* line 643, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article .game-video {
  height: 0;
  margin: 20px 0;
  padding-top: 56.25%;
  position: relative;
  width: 90%;
}
/* line 649, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article .game-video iframe {
  left: -6.2%;
  height: 100%;
  padding: 0;
  position: absolute;
  width: 123.6%;
  height: 100%;
  top: 0;
}
/* line 659, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article figure {
  padding: 2em 0;
  width: 100%;
}
/* line 663, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article figure img {
  display: block;
  margin: 0 auto;
}
/* line 667, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article p {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  line-height: 1.4rem;
  margin-left: 0;
}
/* line 672, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .game-article .social-sharing {
  border-top: 1px lightgrey solid;
  position: relative;
  padding: 30px 0;
  margin-top: 26px;
}
/* line 680, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection,
.modal-content-wrap .game-age-gate {
  /* input {
       display: inline-block;
       margin: 0 5px;
       width: 86px;
   }*/
  /* select {
       display: none;
   }*/
}
/* line 682, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection .invalid,
.modal-content-wrap .game-age-gate .invalid {
  border: 1px solid red;
  color: #f00;
}
/* line 686, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection .denied-access,
.modal-content-wrap .game-age-gate .denied-access {
  display: none;
}
/* line 688, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection .denied-access h1,
.modal-content-wrap .game-age-gate .denied-access h1 {
  margin: 1em 0;
}
/* line 691, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection .denied-access .circle-btn-large,
.modal-content-wrap .game-age-gate .denied-access .circle-btn-large {
  font-size: 13px;
  font-size: 1.3rem;
}
/* line 694, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection .denied-access .go-button,
.modal-content-wrap .game-age-gate .denied-access .go-button {
  margin-top: 63px;
}
/* line 699, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection + .close,
.modal-content-wrap .game-age-gate + .close {
  display: block;
}
/* line 704, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection h2,
.modal-content-wrap .game-age-gate h2 {
  color: #fff;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "din-condensed-web", "Helvetica", Arial, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  height: auto;
  margin-bottom: 20px;
}
/* line 716, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection h2.white,
.modal-content-wrap .game-age-gate h2.white {
  color: #fff;
}
/* line 719, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection h2.border-2,
.modal-content-wrap .game-age-gate h2.border-2 {
  background-position: 50% 0, 50% 100%;
  background-repeat: no-repeat;
  min-width: 54px;
  padding: 8px 0;
  text-align: center;
}
/* line 726, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection h2.border-2.white,
.modal-content-wrap .game-age-gate h2.border-2.white {
  background-image: url(images/header-border-white.png), url(images/header-border-white.png);
}
/* line 730, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection h1,
.modal-content-wrap .game-age-gate h1 {
  background: none;
  color: #fff;
  font-size: 30px;
  font-size: 3rem;
  line-height: 26px;
  line-height: 2.6rem;
  height: auto;
  text-align: center;
  font-style: italic;
  letter-spacing: .5rem;
  margin-bottom: 17px;
}
/* line 741, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection form,
.modal-content-wrap .game-age-gate form {
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 751, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection select,
.modal-content-wrap .game-age-gate select {
  display: inline-block;
  margin: 0 5px;
  width: 86px;
}
/* line 756, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection input[type="submit"],
.modal-content-wrap .game-age-gate input[type="submit"] {
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}
/* line 765, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection .go-button,
.modal-content-wrap .game-age-gate .go-button {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
/* line 771, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .back-top {
  font-size: 13px;
  font-size: 1.3rem;
  color: rgba(69, 69, 69, 0.8);
  font-family: "Helvetica", Arial, sans-serif;
  display: block;
  line-height: 13px;
  line-height: 1.3rem;
  margin: 0 0 20px 0;
  opacity: 1;
  text-decoration: none;
  width: auto;
}
/* line 782, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .back-top:hover {
  color: #454545;
}
/* line 786, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .back-top .icon-arrow-up {
  color: #454545;
  left: -10px;
  margin: 0;
  position: relative;
  top: 7px;
}
/* line 795, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 19px;
  line-height: 1.9rem;
  margin: 20px 0;
  position: relative;
  text-align: center;
}
/* line 803, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .locale-redirection .mask-inner {
  top: 5px;
}
/* line 807, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-content-wrap .mask-inner {
  top: 0;
}

/* line 812, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-page-circle-inner {
  padding: 0;
}
/* line 816, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-page-circle-inner .modal-container {
  height: 100%;
}
/* line 820, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-page-circle-inner .modal-content-wrap {
  height: 100%;
  padding: 0;
}
/* line 825, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-page-circle-inner .modal-content-wrap > div {
  background: #000;
  height: 100%;
  padding-top: 100px;
}
/* line 833, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-page-circle-inner .centered-content {
  margin: 0;
}
/* line 838, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.modal-page-circle-inner .close,
.modal-page-circle-inner .icon-close {
  display: none;
}

/* line 846, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.no-touch .modal-content-wrap [class*="icon-"] {
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
/* line 850, ../../../workspace/styles/templates/modules/modals/_modal-base.scss */
.no-touch .modal-content-wrap [class*="icon-"]:hover {
  opacity: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 4, ../../../workspace/styles/templates/modules/modals/_modal-mobile-portrait.scss */
  .modal-overlay.modal-type-image .modal-content-wrap img {
    margin-top: 25%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 2, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-type-ajax .modal-container, .modal-type-inline .modal-container {
    max-width: 670px;
  }
  /* line 5, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-type-ajax .modal-content-wrap, .modal-type-inline .modal-content-wrap {
    position: relative;
  }

  /* line 10, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content {
    position: relative;
  }

  /* line 14, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-overlay {
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(10, 10, 10, 0.8) !important;
  }
  /* line 20, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-overlay.modal-type-iframe h1, .modal-overlay.modal-type-image h1 {
    display: none;
  }
  /* line 23, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-overlay.modal-type-iframe .modal-container, .modal-overlay.modal-type-image .modal-container {
    display: table;
  }
  /* line 26, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-overlay.modal-type-iframe .modal-content-wrap, .modal-overlay.modal-type-image .modal-content-wrap {
    display: table-cell;
    vertical-align: middle;
  }
  /* line 32, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-overlay.modal-type-image button.close {
    right: 0;
  }
  /* line 37, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-overlay.modal-type-ajax .modal-container, .modal-overlay.modal-type-inline .modal-container {
    background: none;
  }

  /* line 43, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .print-friendly-wrap {
    margin-top: 26px;
    border-top: 1px solid #e9e9e9;
    padding-top: 30px;
  }

  /* line 49, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: static;
    width: 70%;
    top: auto;
  }
  /* line 57, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container.mfp-iframe-holder, .modal-container.mfp-image-holder {
    width: 100%;
  }
  /* line 58, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container.mfp-iframe-holder h1, .modal-container.mfp-image-holder h1 {
    display: none;
  }
  /* line 63, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container iframe {
    padding-top: 0;
  }
  /* line 66, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .arrow {
    margin-top: -55px;
  }
  /* line 69, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .arrow:after {
    border: 0;
  }
  /* line 73, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .modal-iframe-scaler .close {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
  }
  /* line 80, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .close {
    height: 50px;
    width: 60px;
    background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -133px;
    left: auto;
    margin: 0 -60px 0 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-indent: -100px;
    right: 0;
  }
  /* line 92, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .close:after {
    content: "";
    display: none;
  }
  /* line 97, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .close:hover {
    height: 50px;
    width: 60px;
    background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -183px;
  }
  /* line 102, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .mfp-iframe-holder .modal-container .close, .mfp-image-holder .modal-container .close {
    margin: 0 -54px 0 0;
  }
  /* line 105, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .mfp-iframe-holder .modal-container .close {
    top: -40px;
    margin-top: 41px;
  }

  /* line 112, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .overlay-gallery .arrow-left {
    background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -293px;
    height: 60px;
    width: 50px;
    display: block;
    opacity: 1;
    left: 0;
  }
  /* line 118, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .overlay-gallery .arrow-left:hover {
    background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -353px;
    height: 60px;
    width: 50px;
  }
  /* line 123, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .overlay-gallery .arrow-right {
    background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -233px;
    height: 60px;
    width: 50px;
    display: block;
    opacity: 1;
    right: 0;
  }
  /* line 129, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .overlay-gallery .arrow-right:hover {
    background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -413px;
    height: 60px;
    width: 50px;
  }

  /* line 137, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .centered-content {
    padding: 50px;
    margin: 0;
  }
  /* line 142, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-modal .centered-content {
    padding: 0px;
    margin: 5%;
  }
  /* line 148, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .locale-redirection h2.border-2, .modal-content-wrap .game-age-gate h2.border-2 {
    margin-bottom: 0;
  }
  /* line 151, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .locale-redirection .go-button, .modal-content-wrap .game-age-gate .go-button {
    position: absolute;
    bottom: 75px;
  }
  /* line 157, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .locale-redirection h2.border-2 {
    margin-top: -5px;
  }
  /* line 160, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .locale-redirection .go-button {
    bottom: 85px;
  }
  /* line 164, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap form {
    margin: 0;
  }
  /* line 167, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap h1 {
    background: #d4d3d3;
    color: #454545;
    font-size: 13px;
    font-size: 1.3rem;
    padding-left: 3%;
    text-align: left;
  }
  /* line 174, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap #mfp-ajax-content {
    float: left;
    width: 100%;
  }
  /* line 178, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-modal h1 {
    background: #404040;
    color: #fff;
  }
  /* line 182, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-blue h1 {
    background: #03F;
    color: #fff;
  }
  /* line 186, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap img.mfp-img {
    padding: 0;
  }
  /* line 190, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .mfp-iframe-holder .modal-content-wrap, .mfp-image-holder .modal-content-wrap {
    background: none;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    position: relative;
    width: 70%;
  }
  /* line 200, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-article .centered-content {
    margin: 7.47%;
  }
  /* line 205, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-article .game-video iframe {
    left: -9.7%;
    width: 130.6%;
  }
  /* line 210, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-article hgroup {
    margin: 0 0 1.4em;
    width: 100%;
  }
  /* line 214, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-article h2 {
    font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
    line-height: 3rem;
    background: none;
    color: #c61a16;
  }
  /* line 220, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-article h3 {
    font-family: "adobe-caslon-pro", "Georgia", serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 18px;
    line-height: 1.8rem;
  }
  /* line 226, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-article strong {
    color: #c61a16;
    font-family: "adobe-caslon-pro", "Georgia", serif;
    font-size: 20px;
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
    line-height: 27px;
    line-height: 2.7rem;
    padding-bottom: 0;
  }
  /* line 236, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-article .article:nth-of-type(1) {
    margin-top: 45px;
  }
  /* line 240, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-article p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  /* line 246, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .game-blue.game-article h2,
  .modal-content-wrap .game-blue.game-article strong {
    color: #03F;
  }
  /* line 250, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements ul {
    display: table;
    width: 100%;
  }
  /* line 254, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements ul.mobile {
    display: none;
  }
  /* line 257, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements li {
    display: table-row;
    margin: 0 5%;
    padding: 0;
  }
  /* line 262, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements li p {
    border-bottom: 1px solid #d1d1d1;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 15px;
    line-height: 1.5rem;
    display: table-cell;
    float: none;
    padding: 1em 0.5em;
    vertical-align: top;
  }
  /* line 271, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements li p.title {
    width: 15%;
  }
  /* line 274, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements li p.recommended {
    display: table-cell;
  }
  /* line 279, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements li:last-child p,
  .modal-content-wrap .system-requirements li.header p,
  .modal-content-wrap .system-requirements li p.padding {
    border: none;
  }
  /* line 282, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements li p.padding {
    display: table-cell;
    width: 4%;
  }
  /* line 288, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-content-wrap .system-requirements p,
  .modal-content-wrap .system-requirements strong {
    width: auto;
  }

  /* line 297, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container div.locale-redirection,
  .modal-container div.age-gate-container {
    background: none !important;
    margin: auto;
  }
  /* line 300, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container div.locale-redirection .close,
  .modal-container div.age-gate-container .close {
    background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -50px;
    height: 21px;
    width: 21px;
    margin: 10% 0 0 48%;
    text-indent: -9999px;
    overflow: hidden;
  }

  /* line 312, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-page-circle-inner .modal-container {
    width: 610px;
  }
  /* line 315, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-page-circle-inner .close {
    display: none;
  }
  /* line 318, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-page-circle-inner .icon-close {
    left: 50%;
    margin-left: -14px;
    position: absolute;
    top: 90px;
  }
  /* line 325, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-page-circle-inner .modal-content-wrap > div {
    background: none;
  }

  /* line 336, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection,
  .modal-container .mfp-content .game-age-gate,
  .modal-container .modal-content-wrap .locale-redirection,
  .modal-container .modal-content-wrap .game-age-gate {
    background: none;
    height: 610px;
    margin: 0 auto;
    position: relative;
    width: 610px;
    /*input {
        display: inline-block;
        margin: 0 8px;
        width: 100px;
    }*/
    /* select {
         display: none;
     }*/
  }
  /* line 344, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection ~ .social-sharing,
  .modal-container .mfp-content .game-age-gate ~ .social-sharing,
  .modal-container .modal-content-wrap .locale-redirection ~ .social-sharing,
  .modal-container .modal-content-wrap .game-age-gate ~ .social-sharing {
    display: none;
  }
  /* line 348, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection + .close,
  .modal-container .mfp-content .game-age-gate + .close,
  .modal-container .modal-content-wrap .locale-redirection + .close,
  .modal-container .modal-content-wrap .game-age-gate + .close {
    background: url('images/sprites/sprite-global-mobile-s798f8a5286.png') no-repeat 0 -533px;
    height: 21px;
    width: 21px;
    left: 50%;
    margin: 0 0 0 -10px;
    opacity: .8;
    top: 189px;
  }
  /* line 356, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection + .close:hover,
  .modal-container .mfp-content .game-age-gate + .close:hover,
  .modal-container .modal-content-wrap .locale-redirection + .close:hover,
  .modal-container .modal-content-wrap .game-age-gate + .close:hover {
    opacity: 1;
  }
  /* line 361, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .denied-access,
  .modal-container .mfp-content .game-age-gate .denied-access,
  .modal-container .modal-content-wrap .locale-redirection .denied-access,
  .modal-container .modal-content-wrap .game-age-gate .denied-access {
    margin-top: -5px;
  }
  /* line 363, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .denied-access h1,
  .modal-container .mfp-content .game-age-gate .denied-access h1,
  .modal-container .modal-content-wrap .locale-redirection .denied-access h1,
  .modal-container .modal-content-wrap .game-age-gate .denied-access h1 {
    margin: 0 0 0.5em;
  }
  /* line 366, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .denied-access .circle-btn-large,
  .modal-container .mfp-content .game-age-gate .denied-access .circle-btn-large,
  .modal-container .modal-content-wrap .locale-redirection .denied-access .circle-btn-large,
  .modal-container .modal-content-wrap .game-age-gate .denied-access .circle-btn-large {
    font-size: 19px;
    font-size: 1.9rem;
  }
  /* line 369, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .denied-access .go-button,
  .modal-container .mfp-content .game-age-gate .denied-access .go-button,
  .modal-container .modal-content-wrap .locale-redirection .denied-access .go-button,
  .modal-container .modal-content-wrap .game-age-gate .denied-access .go-button {
    bottom: 45px;
  }
  /* line 373, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .gain-access,
  .modal-container .mfp-content .game-age-gate .gain-access,
  .modal-container .modal-content-wrap .locale-redirection .gain-access,
  .modal-container .modal-content-wrap .game-age-gate .gain-access {
    margin-top: -5px;
  }
  /* line 376, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .centered-content,
  .modal-container .mfp-content .game-age-gate .centered-content,
  .modal-container .modal-content-wrap .locale-redirection .centered-content,
  .modal-container .modal-content-wrap .game-age-gate .centered-content {
    margin: 0;
    padding: 33.333% 0;
    position: relative;
  }
  /* line 381, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .circle-background,
  .modal-container .mfp-content .game-age-gate .circle-background,
  .modal-container .modal-content-wrap .locale-redirection .circle-background,
  .modal-container .modal-content-wrap .game-age-gate .circle-background {
    background: #00000b;
    border-radius: 50%;
    height: 610px;
    position: absolute;
    padding-bottom: 96%;
    width: 100%;
  }
  /* line 391, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .circle-btn-large .mask-inner,
  .modal-container .mfp-content .game-age-gate .circle-btn-large .mask-inner,
  .modal-container .modal-content-wrap .locale-redirection .circle-btn-large .mask-inner,
  .modal-container .modal-content-wrap .game-age-gate .circle-btn-large .mask-inner {
    top: 0;
  }
  /* line 401, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection select,
  .modal-container .mfp-content .game-age-gate select,
  .modal-container .modal-content-wrap .locale-redirection select,
  .modal-container .modal-content-wrap .game-age-gate select {
    display: inline-block;
    margin: 0 8px;
    width: 100px;
  }
  /* line 409, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection h1,
  .modal-container .mfp-content .game-age-gate h1,
  .modal-container .modal-content-wrap .locale-redirection h1,
  .modal-container .modal-content-wrap .game-age-gate h1 {
    font-size: 53px;
    font-size: 5.3rem;
    line-height: 48px;
    line-height: 4.8rem;
    margin: 27px 0;
  }
  /* line 414, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection h2,
  .modal-container .mfp-content .game-age-gate h2,
  .modal-container .modal-content-wrap .locale-redirection h2,
  .modal-container .modal-content-wrap .game-age-gate h2 {
    margin-bottom: 2em;
  }
  /* line 417, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .go-button,
  .modal-container .mfp-content .game-age-gate .go-button,
  .modal-container .modal-content-wrap .locale-redirection .go-button,
  .modal-container .modal-content-wrap .game-age-gate .go-button {
    margin-top: 0;
  }
  /* line 423, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection h1,
  .modal-container .modal-content-wrap .locale-redirection h1 {
    margin-bottom: 30px;
  }
  /* line 426, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .modal-container .mfp-content .locale-redirection .mask-inner,
  .modal-container .modal-content-wrap .locale-redirection .mask-inner {
    top: 10px;
  }

  /* line 434, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .circle-vert-align {
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
  }
  /* line 439, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .circle-vert-align .modal-container {
    width: 610px !important;
  }
  /* line 443, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .circle-vert-align .modal-content-wrap {
    display: table;
  }
  /* line 447, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .circle-vert-align .modal-content {
    display: table-cell;
    padding-top: 0 !important;
    vertical-align: middle;
  }
  /* line 453, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .circle-vert-align .modal-content > .close {
    display: none;
  }
  /* line 459, ../../../workspace/styles/templates/modules/modals/_modal-600.scss */
  .circle-vert-align .modal-content-inner .close {
    display: block;
    left: 0;
    right: auto;
  }
}
@media only screen and (min-width: 960px) {
  /* line 2, ../../../workspace/styles/templates/modules/modals/_modal-960.scss */
  .modal-type-ajax .modal-container, .modal-type-inline .modal-container {
    width: 670px;
  }

  /* line 10, ../../../workspace/styles/templates/modules/modals/_modal-960.scss */
  .mfp-image-holder .mfp-content, .mfp-image-holder .modal-content-wrap {
    width: auto;
  }
  /* line 18, ../../../workspace/styles/templates/modules/modals/_modal-960.scss */
  .mfp-content .locale-redirection .denied-access h1,
  .mfp-content .game-age-gate .denied-access h1, .modal-content-wrap .locale-redirection .denied-access h1,
  .modal-content-wrap .game-age-gate .denied-access h1 {
    margin: 1em 0;
  }

  /* line 27, ../../../workspace/styles/templates/modules/modals/_modal-960.scss */
  .locale-redirection-container button.mfp-close,
  .game-age-gate-container button.mfp-close {
    margin: 15% 0 0 48%;
  }
}
