﻿.floating-cta {
  text-decoration: none;
  color: #fff;
}
.floating-button {
  position: fixed;
  z-index: 100;
  background: #E91E63;
  border-radius: 50%;
  margin-top: -25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -kthtml-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-style: normal;
  line-height: 48px;
  background: rgba(198, 26, 22, 0.92);
  box-sizing: border-box;
  color: #fff;
  width: 58px;
  height: 58px;
  font-size: 30px;
  right: 10px;
  bottom: 10px;
  animation: notificationpulse 1.5s ease 3s 2;
  -webkit-animation: notificationpulse 1.5s ease 3s 2;
  -moz-animation: notificationpulse 1.5s ease 3s 2;
}
.floating-button:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  margin-top: -30px;
}
.floating-button:active {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
  margin-top: -32px;
}
.tooltip-survey {
  display: none;
  position: fixed;
  right: 116px;
  bottom: 200px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
}
.tooltip-survey .arrow-box {
  display: table;
  background: rgba(198, 26, 22, 0.92);
  width: 144px;
  height: 60px;
  padding: 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -kthtml-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.tooltip-survey .arrow-box:after {
  right: -10px;
  top: 50%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(198, 26, 22, 0.92);
}
.tooltip-survey .arrow-box .text-wrap {
  display: table-cell;
  vertical-align: middle;
}

.icon-bubbles:before {
  content: "\e800";
}


@keyframes notificationpulse {
  30% {
    transform: scale(1.2);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes notificationpulse {
  30% {
    transform: scale(1.2);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes notificationpulse {
  30% {
    transform: scale(1.2);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 960px) {

.floating-cta .tooltip-survey {
    display: block;
  }
  .floating-cta:hover .tooltip-survey .arrow-box {
    width: 148px;
    height: 65px;
  }
  .floating-button {
    height: 78px;
    width: 78px;
    font-style: normal;
    line-height: 48px;
    background: rgba(198, 26, 22, 0.92);
    box-sizing: border-box;
    right: 24px;
    bottom: 194px;
    color: #fff;
    font-size: 40px;
  }
  .floating-button:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: -30px;
  }

}

