FONT		    {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
TD		        {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
BODY		    {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
P		        {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
DIV		        {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
INPUT		    {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
TEXTAREA	    {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
FORM 		    {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px}
A:link          {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:active        {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:visited       {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:hover         {BACKGROUND: none; COLOR: #002D97; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}

A.menu_cabecera:link          {BACKGROUND: none; COLOR: #EBE59E; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A.menu_cabecera:active        {BACKGROUND: none; COLOR: #EBE59E; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A.menu_cabecera:visited       {BACKGROUND: none; COLOR: #EBE59E; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
A.menu_cabecera:hover         {BACKGROUND: none; COLOR: #EBE59E; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}

.bloqtitulo     {BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}



.title 		    {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.content 	    {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica}
.storytitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.storycat	    {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.boxcontent 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica}
.option 	    {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tiny		    {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.footmsg        {BACKGROUND: none; COLOR: #CCCCCC; FONT-SIZE: 8px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.footmsg_l	    {BACKGROUND: none; COLOR: #CCCCCC; FONT-SIZE: 8px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.box		    {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 10px; border: 1px solid #000000; background-color: #FFFFFF}



.nopaginar
{
    color: white;
    background-color: #4777B2;
    padding: 5px;
    border: 1px solid black;
    font-size: 10px;
    font-weight: bold;
    font-family: verdana, helvetica;
    text-decoration: none;
}


A.paginar:link
{
    color: #CCCCCC;
    background-color: #153D6E;
    padding: 3px;
    border: 1px solid black;
    font-size: 10px;
    font-weight: bold;
    font-family: verdana, helvetica;
    text-decoration: none;
}
A.paginar:active
{
    color: #CCCCCC;
    background-color: #153D6E;
    padding: 3px;
    border: 1px solid black;
    font-size: 10px;
    font-weight: bold;
    font-family: verdana, helvetica;
    text-decoration: none;
}
A.paginar:visited
{
    color: #CCCCCC;
    background-color: #153D6E;
    padding: 3px;
    border: 1px solid black;
    font-size: 10px;
    font-weight: bold;
    font-family: verdana, helvetica;
    text-decoration: none;
}
A.paginar:hover
{
    color: white;
    background-color: #4777B2;
    padding: 3px;
    border: 1px solid black;
    font-size: 10px;
    font-weight: bold;
    font-family: verdana, helvetica;
    text-decoration: none;
    padding: 3px;
}



