﻿@charset "utf-8";
/*可关闭的广告*/
/*.ad_img {left:0;right:0;top:31px;position:fixed;z-index:2222222;background:url(../temp/md-ad.jpg) no-repeat center;height:560px;}
.close_ad {position:absolute;top:0;right:0;width:50px;height:50px;background:url(../imagesv3/close_ad.png) no-repeat;}
.ad_alink {display:block;width:100%;height:100%}
*/ /* 楼层 */
.moreg {
	float: right;
	font-size: 12px;
	line-height: 52px;
	margin-right: 10px;
}

.moreg a {
	color: #fff;
}

.moreg a:hover {
	color: #ff6600;
}

.floor-tit h2,.t-bt2,.elect-a h3,.f-floor li,.g-top,.l-S-pop-bt {
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
}

.floor-tit h2 span,#scrollDiv li a,.may-like li p i,.may-like li p s,.l-S-pop-bt span
	{
	font-family: "Arial";
}

.elect-a h3 a,.i-link a,.elect-a h3 a {
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
}

.elect-a h3 a:hover {
	color: #ff6600;
}

.f-floor li,.web-nav b,.cont-c-list li h3 a,.g-top,.l-S-pop-bt {
	font-size: 14px;
}

.may-like li h4,.elect-a h3 a {
	font-size: 12px;
}

.industry-list li a,.ziyun-list li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a.a {
	color: #aaa;
}

a.a:hover {
	color: #0088cc;
}

a.a:hover,.slid-list li a:hover,.cont-c-list li p a:hover,.f-table td a:hover,.industry-list li a:hover,.ziyun-list li a:hover,.web-nav a:hover,.i-link a:hover,.g-top a:hover
	{
	text-decoration: none
}

.floor-cont {
	border: 1px solid #e6e6e6;
	height: 358px;
	border-left: none;
}

.sild-l {
	position: relative;
	float: left;
	width: 220px;
	height: 358px;
}

.slid4adv {
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #e6e6e6;
}

.slid4adv li {
	float: left;
	height: 54px;
}

.border-b {
	border-bottom: 1px solid #e6e6e6;
}

.border-r {
	border-right: 1px solid #e6e6e6;
}

.slid-list {
	margin-top: 3px
}

.slid-list li {
	background: url(../imagesv3/list-bg.gif) no-repeat left top;
	margin: 0 10px;
	padding-left: 22px;
	height: 26px;
	line-height: 26px;
	overflow: hidden
}

.slid-list li img {
	margin-left: 5px
}

.slid-list li a:hover {
	color: #0088cc;
}

.slid-list li.a1 {
	background-position: 0 6px;
}

.slid-list li.a2 {
	background-position: 0 -20px;
}

.slid-list li.a3 {
	background-position: 0 -47px;
}

.slid-list li.a4 {
	background-position: 0 -71px;
}

.slid-list li.a1 a,.slid-list li.a2 a,.slid-list li.a3 a,.slid-list li.a4 a
	{
	display: table-cell; +
	display: inline; +
	zoom: 1;
	_display: inline;
	_zoom: 1;
}

.slid-list li.a1 a img,.slid-list li.a2 a img,.slid-list li.a3 a img,.slid-list li.a4 a img
	{
	float: right;
	margin-top: 5px;
}

.sild-r {
	overflow: hidden;
	position: relative;
	float: right;
	width: 520px;
	height: 358px;
	border-left: 1px solid #e6e6e6;
}

.sild-r .hd {
	position: absolute;
	left: 230px;
	bottom: 8px;
	overflow: hidden;
	z-index: 1;
	height: 9px;
}

.sild-r .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
}

.sild-r .hd ul li {
	float: left;
	text-align: center;
	cursor: pointer;
	margin-left: 5px;
	width: 9px;
	height: 9px;
	line-height: 0;
	background: url(../imagesv3/number_bg.png) no-repeat left top;
}

.sild-r .hd ul li.on {
	background-position: right top
}

.sild-r .bd {
	position: relative;
	height: 100%;
	z-index: 0;
}

.sild-r .bd li {
	zoom: 1;
	vertical-align: middle;
}

.cont-c {
	margin-left: 221px;
	margin-right: 521px;
}

.cont-c-list {
	padding-left: 10px;
	margin-top: 3px;
	overflow: hidden;
}

.cont-c-list li {
	width: 50%;
	float: left;
	margin-top: 14px
}

.cont-c-list li h3 {
	padding: 0 10px;
	margin-bottom: 4px;
	font-size: 12px;
}

.cont-c-list li p {
	padding: 0 0 0 10px;
	height: 44px;
	overflow: hidden
}

.cont-c-list li h3 a {
	height: 22px;
	line-height: 22px;
	color: #3c3c3c;
	font-weight: bold;
}

.cont-c-list li h3 strong {
	font-size: 12px;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
}

.cont-c-list li h3 a:hover {
	text-decoration: none;
	color: #ff6600;
}

.cont-c-list li p a {
	height: 16px;
	line-height: 16px;
	margin: 3px 14px 3px 0;
	display: inline-block;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
}

.cont-c-list li p a:hover {
	color: #ff6600;
}

.s-l-nobg li {
	background: none;
	padding-left: 0;
	color: #aaa;
	margin: 0 10px 0 5px;
	overflow: hidden
}

.floor_solid.sild-r .sidebar-box {
	width: 520px;
	height: 358px;
	overflow: hidden;
}

.sidebar-box .sidebar-left {
	float: left;
	width: 280px;
	height: 358px;
	border-right: 1px solid #e6e6e6;
}

.sidebar-left .up-img {
	width: 280px;
	height: 210px;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
}

.sidebar-left .down-img {
	width: 280px;
	height: 147px;
	overflow: hidden;
}

.sidebar-box .sildbar-right {
	float: right;
	width: 239px;
	height: 358px;
	margin-right: -4px;
}

.up-img img,.down-img img,sildbar-right img {
	border: none;
}

.textRed {
	height: 42px;
	overflow: hidden;
}

.textRed li {
	height: 42px;
	line-height: 42px;
	padding: 0 10px
}

.textRed li a {
	color: #ff0000;
}

.f-table-box {
	margin: 0 -1px
}

.f-table {
	width: 100%;
	height: 88px;
	background-color: #f8f8f8;
	color: #3c3c3c;
}

.f-table td {
	border: 1px solid #e7e7e7;
	text-align: center;
	width: 78px
}

.sl-img {
	height: 130px;
	border-bottom: 1px solid #e6e6e6;
}

.t-bt2 {
	border-bottom: 2px solid #e2e2e2;
	height: 30px;
	padding-top: 20px;
	line-height: 30px;
	font-size: 18px;
	color: #666666
}

.t-bt2 a span {
	color: #ff6600
}

.t-bt2 a:hover {
	color: #ff6600;
	text-decoration: none
}

.elect-3 {
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.elect-a {
	border-right: 1px solid #e6e6e6;
	height: 276px;
	width: 332px;
	float: left
}

.elect-a h3 {
	color: #666666;
	font-weight: normal;
	height: 37px;
	line-height: 37px;
	padding: 0 10px;
	font-size: 16px
}

.elect-a h3 a {
	color: #3c3c3c;
	float: right;
}

.industry-list {
	margin-top: 12px
}

.industry-list li {
	background: url(../imagesv3/i-linst-bg01.gif) no-repeat 1px center;
	margin: 0 10px;
	padding-left: 12px;
	height: 26px;
	line-height: 26px;
}

.industry-list li a {
	display: block;
	width: 100%
}

.ziyun-list {
	height: 110px
}

.ziyun-list li {
	width: 160px;
	float: left;
}

.ziyun-list p {
	margin-right: 10px;
	line-height: 22px;
}

.ziyun-list li.l-img {
	float: left;
	width: 120px !important;
	height: 110px;
	margin-left: 10px
}

.ziyun-list li.l-img img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border: none;
	margin-right: 4px;
}

.ziyun-list li.r-title a {
	color: #0088cc;
	font-weight: bold
}

.ziyun-list li.r-title a:hover {
	text-decoration: underline
}

.ziyun-list li a {
	line-height: 26px;
	line-height: 26px
}

.ziyun-list li.t-cont {
	white-space: normal !important;
	line-height: 26px;
}

.tjh-list li {
	background: url(../imagesv3/i-linst-bg02.gif) no-repeat 1px center;
}

.Good-item {
	margin-top: 10px;
	height: 250px;
	margin-bottom: 20px;
}

.Good-item-A {
	width: 229px;
	height: 250px;
	float: left;
	border-left: none;
}

.Good-item-A .hd {
	left: 178px;
	top: 6px;
	height: 10px;
}

.Good-item-A .hd ul li {
	margin-left: 2px;
	width: 10px;
	height: 10px;
	background: #dfdfdf;
}

.Good-item-A .hd ul li.on {
	background: #3399cc
}

.Good-item-A .bd img {
	width: 229px;
	height: 250px;
}

.Good-item-B {
	width: 520px;
	height: 250px;
	float: left;
	margin-left: 10px;
}

.Good-item-B .top_half_img {
	overflow: hidden;
}

.top_half_img img {
	float: left;
	width: 250px;
	height: 120px;
	overflow: hidden;
}

.top_half_img img:first-child {
	margin-right: 10px;
}

.Good-item-B-b {
	margin-top: 10px;
	height: 120px
}

.Good-item-B-b img {
	float: left;
	display: block;
	margin-right: 10px
}

.Good-item-C {
	float: left;
	width: 210px;
	height: 250px;
	overflow: hidden;
	margin-right: 10px;
}

.Good-item-C img {
	width: 210px;
	height: 250px;
	border: none;
}

.Good-item-D {
	width: 210px;
	height: 250px;
	float: left;
	display: none
}

.Good-item-D img {
	width: 210px;
	height: 250px;
	border: none;
}
/*浮动楼层*/ /*浮动楼层*/ /*2015.10.29修改*/
.f-floating {
	position: fixed;
	margin-left: -50px;
	bottom: 48px;
	width: 60px;
	background-color: #fff;
	overflow: hidden;
}

.f-floor li {
	position: relative;
	float: left;
	border-bottom: 1px dashed #ededed;
	width: 40px;
	height: 40px;
	line-height: 18px;
	color: #757575;
	padding-left: 6px;
	cursor: pointer;
	background-color: #fff;
}

.f-floor li span {
	font-size: 12px;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
}

.f-floor li .b {
	display: none;
	margin-top: 2px;
	margin-right: 10px;
	float: right;
	width: 34px;
}

.f-floor li.textCC {
	padding-left: 0;
}

.f-floor li.on,.f-floor li:hover {
	color: #f64400;
	text-align: left;
}

.f-floor li:hover .a {
	display: none;
}

.f-floor li:hover .b {
	display: block;
	margin-right: 3px;
}

.f-floor li.on .b {
	display: block;
	margin-right: 3px;
}

.f-floor li.on .a {
	display: none;
}

.f-floor li span.a {
	position: absolute;
	left: 13px;
	top: 12px;
	width: 20px;
	font-size: 14px;
	text-align: center;
}

.f-floor li.textCC .b:hover {
	color: #f64400;
}

.f-floor li.textCC .b {
	display: block;
	color: #757575;
	margin-right: -4px;
}

.f-floor li.textCC.on .b {
	display: block;
	color: #f64400;
	margin-right: -4px;
}

.f-floor li .f-hot {
	display: inline-block;
	height: 12px;
	width: 20px;
	background: url(../imagesv3/common/t_hot.png) no-repeat 0 0;
	vertical-align: 8px;
	margin-left: 2px
}

.g-top {
	border-bottom: 1px solid #ededed;
	background-color: #f4f4f4;
	height: 40px;
	line-height: 40px;
	color: #757575;
}
/*2015.10.29修改*/
.g-top a {
	display: block;
	color: #757575;
	text-indent: 1em;
}

.g-top a:hover {
	color: #f64400;
}

.g-top a i {
	float: right;
	margin: -7px 20px 12px 0;
	width: 17px;
	height: 20px;
	background: url(../imagesv3/common-pic.png) no-repeat -210px -106px;
}

.g-top a:hover i {
	width: 17px;
	height: 20px;
	background: url(../imagesv3/common-pic.png) no-repeat -210px -76px;
}

.g-top a.b {
	display: none;
}
/*首页链接提示*/
.show_tips {
	position: absolute;
	display: none;
	height: 22px;
	text-align: center;
	line-height: 22px;
	top: 0;
	left: 0;
	border: 1px solid #f64400;
	border-bottom: none;
	background: #fff;
	z-index: 10;
	overflow: hidden;
	z-index: 999999;
}

.show_tips a {
	color: #f64400;
	text-decoration: none;
}

.show_tips_company {
	display: none;
	line-height: 22px;
	border: 1px solid #f64400;
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px;
	background: #fff;
	z-index: 999998;
}

.show_tips_a {
	display: block;
	background: url(../imagesv3/tips-bg11.png) #fff9bf no-repeat 0 0;
	height: 22px;
	line-height: 22px;
	padding-right: 4px;
	color: #0088cc !important;
}

.show_tips_a s {
	width: 46px;
	padding-right: 12px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: inline-block;
}

.show_tips_b {
	display: block;
	margin-top: 2px;
	background: url(../imagesv3/tips-bg22.png) #fff9bf no-repeat 0 0;
	height: 22px;
	line-height: 22px;
	padding-right: 4px;
	color: #0088cc !important;
}

.show_tips_b s {
	width: 46px;
	padding-right: 12px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: inline-block;
}
/*帮我找首页添加 0104*/
.Teacher_daybg {
	padding-top: 31px;
	background: url(../imagesv3/holiday-bg.jpg) no-repeat center 31px;
} 
/* .Teacher_daybg {
	padding-top: 31px;
} */
.header_ad {
	width: 1190px;
	height: 60px;
	overflow: hidden;
}

.header_ad img {
	border: none;
	width: 1190px;
	height: 60px;
	overflow: hidden;
}

.helpfind {
	width: 1190px;
	height: 60px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.helpfind img {
	border: none;
	width: 1190px;
	height: 60px;
}
/*单品通免费申请试用首页修改　4.22 修改影响原来效果*/
.h138 {
	height: 138px
}

.h150 {
	height: 150px;
}

.i-red {
	color: #F00
}
/*150场单品交易会 6.23 去掉这个时，这段代码要去掉*/
.lilh28 li {
	height: 28px;
	line-height: 28px;
	background: url(../imagesv3/hli28bg.gif) no-repeat 5px 12px;
}

.slli28 li {
	height: 28px;
	line-height: 28px;
}
/*--mid-autumn　01.04　dh--*/
/*--mid-autumn　01.04　dh--*/
.bIren {
	position: absolute;
	left: 50%;
	margin-left: -695px;
	top: 260px;
	width: 99px;
	height: 109px;
	z-index: 10001;
}



@
keyframes text-big { 0%{
	transform: rotate(-5deg)
}

100%{
transform
:rotate(5deg)
}
}
@
-o-keyframes text-big { 0%{
	transform: rotate(-5deg)
}

100%{
transform
:rotate(5deg)
}
}
@
-moz-keyframes text-big { 0%{
	transform: rotate(-5deg)
}

100%{
transform
:rotate(5deg)
}
}
@
-webkit-keyframes text-big { 0%{
	transform: rotate(-5deg)
}

100%{
transform
:rotate(5deg)
}
}
#animImg {
	left: 0;
	position: absolute;
	top: 0;
}

.m_zl .bd {
	background-color: #FFF
}

.nianhui {
	position: absolute;
	position: absolute;
	left: 50%;
	margin-left: -621px;
	top: 515px;
	width: 26px;
	height: 105px;
	z-index: 10002;
}

/* 楼层 floors */
.floors {
	margin-bottom: 20px;
}

.floor_title {
	width: 220px;
	height: 50px;
	background: url(../imagesv3/common-pic.png) no-repeat;
	position: absolute;
	top: -1px;
}

.floor_title.home_flool01 {
	background-position: right top;
}

.floor_title.home_flool02 {
	background-position: right -54px;
}

.floor_title.home_flool03 {
	background-position: right -108px;
}

.floor_title.home_flool04 {
	background-position: right -162px;
}

.floor_title.home_flool05 {
	background-position: right -216px;
}

.floor_title.home_flool06 {
	background-position: right -270px;
}

.floor_title.home_flool07 {
	background-position: right -324px;
}

.floor_title.home_flool08 {
	background-position: right -378px;
}

.floor_title.home_flool09 {
	background-position: right -432px;
}

.floor_title.home_flool10 {
	background-position: right -486px;
}

.floor_title.home_flool11 {
	background-position: right -540px;
}

.floor_title.home_flool12 {
	background-position: right -594px;
}

.floor_title span {
	font-family: "Arial";
	font-size: 20px;
	position: absolute;
	top: 3px;
	left: 0px;
}

.floor_title .span1 {
	color: #ffbd60;
}

.floor_title .span2 {
	color: #f48b80;
}

.floor_title .span3 {
	color: #81cfed;
}

.floor_title .span4 {
	color: #6ed79b;
}

.floor_title .span5 {
	color: #ffa66d;
}

.floor_title .span6 {
	color: #89c4f4;
}

.floor_title .span7 {
	color: #fb9dbe;
}

.floor_title .span8 {
	color: #92d7b3;
}

.floor_title .span9 {
	color: #a9c7c9;
}

.floor_title .span10 {
	color: #cda4e1;
}

.floor_title .span11 {
	color: #77cdf5;
}

.floor_title .span12 {
	color: #f2cd7a;
}

.floor_title h2 {
	position: absolute;
	left: 50px;
	top: 9px;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
}

.flool_text {
	position: absolute;
	top: 76px;
	left: 18px;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
}

.flool_text p {
	font-size: 22px;
}

.flool_text span {
	font-size: 16px;
	line-height: 34px;
}

.flool_text_color01 {
	color: #663300;
}

.flool_text_color02 {
	color: #660000;
}

.flool_text_color03 {
	color: #006666;
}

.flool_text_color04 {
	color: #006633;
}

.flool_text_color05 {
	color: #993300;
}

.flool_text_color06 {
	color: #003399;
}

.flool_text_color07 {
	color: #660033;
}

.flool_text_color08 {
	color: #006633;
}

.flool_text_color09 {
	color: #006666;
}

.flool_text_color10 {
	color: #330066;
}

.flool_text_color11 {
	color: #003366;
}

.flool_text_color12 {
	color: #996600;
}

.box_img {
	position: absolute;
	top: 49px;
	width: 220px;
	height: 310px;
	overflow: hidden;
}

.box_img img {
	width: 220px;
	height: 310px;
	border: none;
}
/* 视频 */
.h280 {
	height: 280px;
}

.zxmb {
	border: 1px solid #e6e6e6;
	border-top: none;
	background-color: #fff;
}

.zxmbbt {
	border-bottom: 1px solid #e6e6e6;
	height: 42px;
	line-height: 42px;
	position: relative;
}

.zxmbbt a.more {
	color: #3c3c3c;
	float: right;
	font-size: 12px;
	margin-right: 3px;
}

.zxmbbt a.more:hover {
	color: #ff6600;
}

.zxmbbt a.pm {
	background-color: #ff6600;
	border-radius: 1px;
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	margin-right: 10px;
	margin-top: 8px;
	padding: 0 8px;
}

.zxmbbt h2 {
	color: #3c3c3c;
	display: inline-block;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
	font-size: 16px;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.zxmbbt h2 span {
	background-color: #f64400;
	height: 2px;
	left: -1px;
	position: absolute;
	top: -1px;
	width: 100%;
}

.zxzt_list {
	margin-left: 10px;
	margin-top: 10px;
}

.zxzt_list li {
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

.zxzt_list li a {
	display: block;
	position: relative;
}

.zxzt_list li a span {
	background: url("../imagesv3/black_bg2.png") repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	height: 30px;
	left: 0;
	line-height: 30px;
	position: absolute;
	right: 0;
	text-align: center;
}

.btnplay {
	background: url("../imagesv3/black_bg.png") repeat scroll center center;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.btnplay div {
	background: url("../imagesv3/btnplay.png") repeat scroll center center;
	height: 60px;
	margin-left: 84px;
	margin-top: 49px;
	width: 60px;
}

.zxzt_list .btnplay div {
	left: 50%;
	margin-left: -30px;
	margin-top: -45px;
	position: absolute;
	top: 50%;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.no_marginBottom {
	margin-bottom: 0px;
}
/*2015.11.19*/
.sild-l {
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.sild-l:hover .flool_text p {
	font-size: 24px;
}

.sild-l:hover .flool_text span {
	font-size: 18px;
}

.sild-l:hover .n-box_img img {
	width: 224px;
	height: 314px;
	margin-left: -2px;
	margin-top: -2px;
}

.J-floor_solid img {
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.J-floor_solid img:hover {
	margin-left: 10px;
}

.full-ad {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1188px;
	height: 88px;
	border: 1px solid #e6e6e6;
}

.full-ad img {
	width: 1188px;
	height: 88px;
	border: none;
	overflow: hidden;
}

.fudong {
	position: fixed;
	top: 261px;
	margin-left: 1190px;
	width: 80px;
	height: 288px;
	background: url(../imagesv3/fudong.jpg) no-repeat;
	cursor: pointer;
}

.fudong-animate {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 85px;
	background-color: #ef3244;
	z-index: 999999;
}

.fudong-animate .animate-wrap {
	position: relative;
	margin: 0 auto;
	width: 1190px;
	height: 85px;
}

.fudong-animate .animate-wrap img {
	width: 1190px;
	height: 85px;
}

.fudong-animate .animate-wrap i {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 13px;
	height: 13px;
	background: url(../imagesv3/fudong_animate_close.png) no-repeat center;
	cursor: pointer;
}

/* 2016.07.27 */
.header-show-time {
	top: 31px;
	position: fixed;
	z-index: 2222222;
	height: 570px;
}

.header-show-close {
	margin: -560px 10px 10px 10px;
	position: relative;
	z-index: 3333333;
	float: right;
	width: 30px;
	height: 30px;
	background: url(../imagesv3/close-cj.png) no-repeat center top;
	cursor: pointer;
}