﻿/*---------------------header--------------------------------*/
.top_logo {
	float: left;
	position: relative;
	margin-top: 20px;
	height: 82px;
	overflow: hidden;
}

.top_logo a:hover {
	text-decoration: none;
}

.top-2 {
	width: 1190px;
	height: 110px;
}

.top-2 h1 {
	margin-top: 20px;
	float: left;
	overflow: hidden;
	height: 82px;
	position: relative;
}
/*search*/
.search {
	margin: 20px 6px 0 40px;
	height: 81px;
}

.searchTab {
	height: 14px;
}

.searchTab ul {
	margin-left: -13px;
	float: left;
}

.searchTab ul li {
	float: left;
	width: 60px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	border-right: 1px solid #dfdfdf;
	text-align: center;
}

.searchTab ul li a {
	font-size: 12px;
	display: inline-block;
	color: #333;
}

.searchTab ul li.on a,.searchTab ul li a:hover {
	font-weight: 600;
	color: #ff6921;
}

.searchTab ul li.searLast {
	border-right: none;
}

.searchCon {
	position: relative;
	height: 36px;
	background-position: -19px 0;
	margin-top: 6px;
	z-index: 3;
}
/*.searchCon .searchTxt{float:left;width:391px;padding-left:10px;height:30px;line-height:30px;background:#fff;border:3px solid #ff6600;font-size:12px;color:#b3b3b3;float:left;}*/
.searchCon .searchTxt {
	float: left;
	width: 391px;
	height: 14px;
	line-height: 14px;
	background: #fff;
	padding: 8px 0 8px 10px;
	outline: none;
	border: 3px solid #ff6600;
	font-size: 12px;
	color: #b3b3b3;
	float: left;
}

.searchCon .searchBtn {
	float: left;
	width: 90px;
	height: 36px;
	background: #ff6600;
	text-indent: none;
	border: none;
	float: left;
	overflow: hidden;
	cursor: pointer;
	color: #fff;
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
	font-size: 16px;
}

.keyWord {
	color: #666;
	height: 25px;
	line-height: 25px;
}

.keyWord span {
	color: #333;
}

.keyWord a {
	padding: 0 15px 0 0;
	color: #333;
}

.keyWord a:hover {
	color: #ff6600;
}
/*头部搜索下拉*/
.search_toplist {
	position: absolute;
	left: 0;
	top: 36px;
	padding: 20px 10px;
	width: 467px;
	border: 3px solid #ff6600;
	border-top: none;
	background: #fff;
	z-index: 10000;
	display: none;
}

.search_t_title {
	padding-left: 26px;
	margin-bottom: 10px;
	overflow: hidden;
	background: url(../imagesv3/icon_sear.png) no-repeat left 3px;
	height: 24px;
	line-height: 24px;
	color: #aaa;
	font-size: 14px;
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
}

.sear_sou {
	margin-top: 20px;
	background-position: left -29px;
}

.sear_cate a {
	margin-bottom: 10px;
}

.sear_cate a.s_cate {
	display: block;
	padding: 0 15px;
	margin-right: 10px;
	float: left;
	height: 28px;
	line-height: 28px;
	border: 1px solid #e6e6e6;
	background: #f6f6f6;
	color: #08c;
}

.sear_cate a.hot_key {
	display: block;
	float: left;
	font-size: 12px;
	padding-right: 20px;
	color: #666;
	line-height: 22px;
}

.sear_cate a.s_size1 {
	font-size: 22px;
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
}

.sear_cate a.s_size2 {
	font-size: 18px;
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
}

.top_rs {
	padding: 10px 0;
	width: 195px;
}

.top_rs p {
	line-height: 18px;
}

.rs_l {
	padding-top: 28px;
	float: left;
	width: 90px;
	text-align: center;
}

.rs_l a {
	color: #f64400;
}

.rs_r {
	position: relative;
	float: left;
	width: 294px;
}

.rs_close {
	position: absolute;
	top: 5px;
	right: 0;
	display: block;
	background: url(../imagesv3/base_h_close.gif) no-repeat;
	width: 11px;
	height: 11px;
	cursor: pointer;
}

.search_srtxt {
	padding: 0;
	width: 487px;
}

.search_srtxt li {
	line-height: 24px;
}

.search_srtxt li a {
	display: block;
	padding: 0 10px;
}

.search_srtxt li a:hover {
	background: #f8f8f8;
}

.search_srtxt .sear_num_r {
	float: right;
}

.search_srtxt li .sear_key_p a {
	padding-left: 20px;
}

.keyPoint {
	color: #ff0000;
	font-weight: bold;
}

/*nav*/
.navWrap {
	background: #f64400;
	width: 100%;
	height: 40px;
}

.nav {
	margin: 0 auto;
	height: 40px;
	position: relative;
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
}

.nav ul li {
	position: relative;
	float: left;
	height: 40px;
	float: left;
	text-align: center;
	width: 100px;
}

.nav ul li:nth-child(2) {
	padding-left: 1px;
}

.nav ul li:first-child {
	width: 180px;
	text-align: left;
	text-indent: 2.4em;
	cursor: pointer;
}

.nav ul li:last-child {
	padding-right: 1px;
}

.nav ul li a {
	width: 100%;
	color: #fff;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}

.nav ul li a:hover {
	font-weight: 600;
	background: #ff6600;
	text-decoration: none;
	color: #fff;
}

.nav ul li.on a {
	font-size: 14px;
	background: #ff6600;
}

.nav ul li i {
	position: absolute;
	display: block;
	top: -3px;
	right: 24px;
	width: 20px;
	height: 12px;
}

.nav ul li i.t_hot {
	background: url(../imagesv3/t_hot.png) no-repeat;
}

.nav ul li i.t_new {
	background: url(../imagesv3/t_new.png) no-repeat;
}

.home-market {
	display: none;
	width: 180px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #ffcec4;
	background-color: #ff500b;
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
}

.home-market .nav-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	background: url(../imagesv3/common-pic.png) no-repeat -37px 0;
}
/*2016-01-15*/
.header {
	position: relative;
	z-index: 5555;
}

.nav .shop-list {
	display: none;
	position: absolute;
	top: 39px;
	left: 280px;
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ff6600;
	text-align: left;
	z-index: 100000;
	paddding: 0 10px;
}

.nav .shop-list a {
	color: #666;
	display: block;
	float: left;
	font-weight: normal;
	height: 40px;
	text-align: center;
	width: 70px;
}

.nav .shop-list a:hover {
	text-decoration: underline;
	background-color: #fff;
	color: #ff6600;
	font-weight: normal;
}

/*-----------------------------------footer-------------------------------------*/
.may-like-box {
	overflow: hidden;
	width: 1190px;
	margin: 0 auto;
}

.may-like {
	margin: 10px 0;
	height: 260px;
	overflow: hidden;
	width: 1008px;
}

.may-like li {
	float: left;
	height: 260px;
	padding-right: 8px;
	width: 160px;
}

.m-l-img-box {
	position: relative;
	width: 160px;
	height: 160px;
}

.d-add {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 28px;
	line-height: 28px;
	background: url(../imagesv3/c-0-3.png) repeat left top;
	padding-left: 10px
}

.d-add img {
	vertical-align: middle;
	margin-top: 6px
}

.f-new {
	position: absolute;
	left: 1px;
	top: 2px;
	height: 46px;
	width: 46px
}

.may-like li h4 {
	font-weight: normal;
	line-height: 22px;
	margin-top: 9px;
	margin-bottom: 3px
}

.may-like li p {
	line-height: 22px;
}

.may-like li p span {
	color: #aaaaaa
}

.may-like li p s {
	color: #ff0000;
	font-weight: bold;
	text-decoration: none
}
/*友情链接*/
.c-vx b {
	display: block;
	width: 196px;
	padding: 9px 0 4px;
	border-bottom: 1px solid #e6e6e6;
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
}

.i_zt_a {
	margin-top: 10px;
	background: #dedede;
	height: 29px;
	line-height: 29px;
	text-align: left;
}

.i_zt_a .z_l {
	float: left;
	padding-right: 10px;
}

.i_zt_a .z_txt {
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
	font-size: 14px;
}

.i_zt_p {
	padding-top: 10px;
}

.i_zt_p img {
	width: 58px;
	height: 58px;
	margin-right: 10px;
}

.bg-f8 {
	background-color: #f8f8f8;
	width: 100%;
}

.i-link-img {
	overflow: hidden;
	width: 1190px;
	margin-bottom: 10px;
	margin-top: 20px;
	height: 70px;
}

.i-link-img img {
	display: block;
	float: left;
	margin-right: 8px;
}

.i-link-img .bd .tempWrap {
	width: 1190px;
}

.i-link-img .bd ul li {
	float: left;
	overflow: hidden;
}

.web-nav {
	width: 158px;
	float: left;
	height: 150px
}

.web-nav b {
	font-size: 14px;
	color: #3c3c3c;
	font-weight: bold;
	margin-top: 9px;
	margin-bottom: 5px;
	display: block
}

.web-nav a {
	display: block;
	height: 26px;
	line-height: 26px;
}

.i-link {
	border-top: 1px solid #dfdfdf;
	padding-top: 18px;
	padding-bottom: 13px;
}

.i-link h4 {
	padding-bottom: 5px;
	font-weight: bold
}

.i-link a {
	height: 26px;
	line-height: 26px;
	display: block;
	float: left; +
	float: auto;
	padding-right: 16px;
	margin-left: -8px;
	padding-left: 9px;
	background: url(../imagesv3/gary-line.gif) no-repeat left center; +
	float: auto; +
	display: inline; +
	zoom: 1;
	_display: inline;
	_zoom: 1
}

.i-link a:hover {
	color: #08c
}

.c-vx {
	float: right;
	margin-top: 10px;
	width: 260px;
	height: 140px;
	margin-bottom: 10px;
}

.c-vx h2 {
	font-size: 14px;
	font-family: "宋体";
	color: #3c3c3c;
}

.c-vx h2 a {
	font-weight: normal;
	color: #ff6600;
}

.c-vx h2 a:hover {
	text-decoration: underline;
}

.c-vx p {
	line-height: 30px;
}

.c-vx .two-code {
	padding: 6px;
	width: 246px;
	background-color: #efefef;
	overflow: hidden;
}

.two-code .left {
	width: 80px;
	height: 80px;
	overflow: hidden;
	float: left;
}

.two-code .left img {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border: none;
}

.two-code .right {
	float: left;
}

.two-code .right p {
	margin-left: 10px;
	font-size: 12px;
	font-family: "宋体";
	color: #3c3c3c;
}

.two-code .right .icons {
	width: 140px;
	height: 20px;
	line-height: 20px;
	background-color: #e6e6e6;
	margin-bottom: 6px;
	border-radius: 50px;
	margin-left: 15px;
	font-size: 12px;
	font-family: "宋体";
	color: #3c3c3c;
}

.right .icons .i1 {
	float: left;
	width: 15px;
	height: 15px;
	background: url(../imagesv3/common-pic.png) no-repeat -32px -393px;
	margin: 0 6px;
}

.right .icons .i2 {
	float: left;
	width: 15px;
	height: 15px;
	background: url(../imagesv3/common-pic.png) no-repeat -32px -429px;
	margin: 0 6px;
}

.i_zt_a {
	margin-top: 10px;
	background: #dedede;
	height: 29px;
	line-height: 29px;
	text-align: left;
}

.i_zt_a .z_l {
	float: left;
	padding-right: 10px;
}

.i_zt_a .z_txt {
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
	font-size: 14px;
}

.i_zt_p {
	padding-top: 10px;
}

.i_zt_p img {
	width: 58px;
	height: 58px;
	margin-right: 10px;
}

.footer_middle {
	width: 100%;
	background: #f64400;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}

.footer_middle a {
	color: #fff;
	padding: 0 10px;
}

.footer_middle a:hover {
	color: #fff;
}

.footer_con {
	text-align: center;
	padding: 10px 0;
	background: #eee;
}

.footer_con p {
	line-height: 26px;
}

.f_rz_p {
	padding-top: 10px;
}

.f_rz_p a {
	padding-left: 10px;
}

.f_wa {
	color: #336699;
}

.f_wa span {
	font-weight: bold;
	color: #3c3c3c
}

.f_wa a {
	display: inline-block;
	padding: 0 2px;
	color: #336699;
	font-size: 12px;
	font-family: Arial;
}

/*登陆后完善信息引导*/
.m_guide_pop {
	position: absolute;
	left: 28px;
	top: 26px;
	width: 135px;
	height: 68px;
	padding-top: 10px;
	background: url(../imagesv3/m_guide_bg.png) repeat left top;
	z-index: 22;
}

.m_guide_pop a {
	display: inline-block;
	font-size: 14px;
	color: #3c3c3c;
	font-family: 'Hiragino Sans GB', "Microsoft Yahei";
	line-height: 170%
}

.m_guide_pop a:hover {
	color: #ff6600;
	text-decoration: underline
}

.m_guide_cont {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 68px;
	width: 135px;
}

.m_guide_gb {
	position: absolute;
	right: -4px;
	top: 7px;
	height: 15px;
	width: 15px;
	text-indent: -9999px;
	background: url(../imagesv3/m_g_ganbi.png) repeat left top;
}
/*ad*/
.search {
	margin: 20px 6px 0 20px;
}

.top_rs {
	padding: 0;
	width: 386px;
}

.top_rs .rs_l {
	padding-top: 38px;
}

.rs_r a {
	color: #000;
}

.rs_r .ad_rightBox {
	margin-right: 35px;
	margin-top: 10px;
	float: right;
	width: 48px;
	height: 48px;
	background: url(../imagesv3/common-pic.png) no-repeat;
}

.rs_r .ad_rightBox1 {
	background-position: -98px -284px;
}

.rs_r .ad_rightBox2 {
	background-position: -98px -339px;
}

.rs_r .ad_rightBox3 {
	background-position: -98px -395px;
}

.rs_r .ad_rightBox1:hover {
	background-position: -98px -453px;
}

.rs_r .ad_rightBox2:hover {
	background-position: -98px -508px;
}

.rs_r .ad_rightBox3:hover {
	background-position: -98px -564px;
}

.ad_rightBox p {
	margin-top: 54px;
	Width: 48px;
	Height: 18px;
	Overflow: hidden;
}