﻿body {
	font-family: tahoma, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.w1190 {
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
}
/*之上为公用样式*/
.wk_show {
	display: block;
}

.wk_hide {
	display: none;
}

.positionR {
	position: relative;
}

.gofl {
	float: left;
	display: inline;
}

.grayBtn {
	height: 18px;
	background: url(../imagesv3/base_t_jbBg.png) repeat-x;
	line-height: 18px;
	font-size: 12px;
	padding: 0 10px;
	border: 1px solid #999;
	color: #3c3c3c !important;
	display: inline-block;
	zoom: 1;
	font-family: "Microsoft Yahei", "Hiragino Sans GB"
}

.w161 {
	width: 161px !important;
}

.mL10 {
	margin-left: 10px;
}

.top_out {
	background: #fff;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0; /*border-bottom:1px solid #dfdfdf;*/
}

.top_top {
	overflow: hidden;
	width: 100%;
}

.top-1 {
	height: 30px;
	width: 100%;
	margin: 0 auto;
	background: #fafafa;
	border-bottom: 1px solid #dfdfdf;
}

.top-1-L {
	float: left;
	display: inline;
	width: 500px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #666;
	position: relative;
}

.top-1-L .font-top-wk {
	color: #ff6600;
}

.top-1-L .show-code {
	width: 260px;
	position: absolute;
	top: 31px;
	left: 0px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-top: none;
	padding: 10px;
	padding-right: 15px;
}

.show-code .right {
	float: left;
	overflow: hidden;
	width: 175px;
}

.show-code .c-vx .two-code {
	width: 255px;
}

.show-code .right .icons {
	float: left;
	width: 130px;
}

.top-1-L a {
	color: #0088cc;
}

.top-1-L a .china-wk {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
}

.top-1-L p {
	float: left;
	line-height: 30px;
	height: 30px;
}

.top-1-L .user {
	float: left;
	color: #666666;
	line-height: 30px;
	height: 30px;
	padding: 0 10px 0 8px;
	margin-right: 8px;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	position: relative;
	zoom: 1;
	z-index: 9999;
}

.top-1-L .user.z-hov {
	height: 31px;
	background: #fff url(../imagesv3/up.png) no-repeat right center;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	z-index: 110
}

.top-1-L .user .hdbox {
	display: none
}

.top-1-L .user .hdbox .imgbox {
	float: left;
	display: inline;
}

.top-1-L .user .hdbox .cnt {
	float: left;
	display: inline;
}

.hdbox .cnt .icon {
	margin-right: 4px;
}

.kb-price {
	margin-bottom: 4px;
	width: 220px;
}

.kb-price span {
	color: #F00;
	font-family: Arial;
}

.top-1-L .user.z-hov .hdbox {
	position: absolute;
	left: -1px;
	top: 31px;
	border: 1px solid #e6e6e6;
	border-top: none;
	width: 240px;
	height: 60px;
	background: #FFF;
	padding: 10px;
	display: block;
	z-index: 1;
}

.top-1-L .user.z-hov .hdbox .imgbox {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.top-1-L .user.z-hov .hdbox .cnt {
	padding-left: 10px;
	width: 146px;
	line-height: 18px
}

.top-1-L .user.z-hov .hdbox .cnt .it {
	padding-bottom: 3px;
}

.top-1-L .user.z-hov .hdbox .cnt .it .set {
	color: #0066cc;
}

.top-1-L .user.z-hov .hdbox .cnt .icon {
	float: left;
}

.top-1-L a:hover {
	text-decoration: underline;
}

.top-1-L .phoneLibrary {
	position: relative;
	margin-right: 6px;
	display: block;
	width: 90px;
	color: #666;
	float: left;
	border-left: 1px solid #fafafa;
	border-right: 1px solid #fafafa;
}

.top-1-L .phoneLibrary:hover {
	color: #666;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #fff;
}

.top-1-L .phoneLibrary.now {
	color: #666;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #fff;
}

.phoneLibrary .i-san {
	font-style: normal;
	width: 9px;
	height: 4px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -30px -10px;
	position: absolute;
	top: 14px;
	right: 6px;
}

.phoneLibrary .i-san1 {
	width: 9px;
	height: 4px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -30px -18px;
	position: absolute;
	top: 14px;
	right: 6px;
}

.top-1-R {
	float: right;
	display: inline;
}

.top-1-R li {
	float: left;
	height: 30px;
	text-align: center;
	background: url(../imagesv3/base_t_topLiBg.jpg) no-repeat right center;
	_overflow: hidden;
}

.top-1 .login {
	color: #ff6622;
}

.top-1-L .regist {
	color: #666;
}

.top-1-L .regist:hover {
	color: #ff6622;
}

.top-1-R li a {
	color: #666;
}

.top-1-R li a:hover {
	color: #f60;
	text-decoration: underline;
}

.top-1-R li .toSet a,.top-1-R li .shoppingListno a {
	color: #fff;
}

.i-single {
	font-style: normal;
	float: left;
	margin: 8px 3px 0 3px;
	width: 11px;
	height: 14px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -30px -30px;
}

.buy_order_icon {
	width: 15px;
	height: 15px;
	float: left;
	background: url(../imagesv3/top-common-pic.png) no-repeat -30px -50px;
	vertical-align: middle;
	margin: 7px 6px 0 0;
}

.snMenu {
	padding: 0 11px;
	position: relative;
	z-index: 100;
}

.topTwoBorder {
	display: inline-block;
	cursor: pointer;
	height: 31px;
}

.snMenu a span {
	display: inline-block;
	float: left;
	line-height: 31px;
}

.snMenu a b {
	width: 9px;
	height: 4px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -30px -10px;
	display: inline-block;
	overflow: hidden;
	margin: 15px 0 0 6px;
}

.snMenuHover {
	border: 1px solid #dfdfdf;
	border-top: none;
	background: #fff;
	padding: 0 10px;
	width: auto;
	z-index: 1;
}

.snMenuHover li {
	height: 30px;
}

.snMenuHover a span {
	display: inline-block;
	float: left;
	line-height: 31px
}

.snMenuHover a b {
	width: 9px;
	height: 4px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -30px -18px;
	display: inline-block;
	overflow: hidden;
	margin: 15px 0 0 6px;
}

.shoppingList {
	position: absolute;
	width: 285px;
	border: 1px solid #dfdfdf;
	border-top: none;
	padding: 5px;
	left: -1px;
	background: #fff;
	top: 31px;
	display: none;
	_left: -50px;
}

.shoppingListCon {
	height: 20px;
	padding: 5px 0 5px 5px;
}

.shoppingListCon p {
	float: left;
	height: 20px;
	line-height: 20px;
	width: 170px;
	overflow: hidden;
	padding: 0 5px;
	text-align: left;
}

.shoppingListCon .num {
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	display: inline-block;
	float: left;
}

.shoppingListCon .num a {
	display: inline-block;
	width: 15px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	float: left;
	cursor: pointer;
}

.shoppingListCon .num a:hover {
	text-decoration: none;
}

.shoppingListCon .num input {
	float: left;
	width: 33px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border: 1px solid #7f9db9;
}

.shoppingListCon .end {
	float: left;
	width: 19px;
	height: 20px;
	background: url(../images/common_01.png);
	overflow: hidden;
}

.p0 {
	padding: 8px 0 0 0
}

.toSet {
	height: 36px;
	background-color: #f8f8f8;
	margin-top: 5px
}

.toSet p {
	float: left;
	text-align: left;
	padding-left: 10px;
	line-height: 36px;
	color: #555
}

.toSet p span {
	color: #ff6600
}

.toSet a {
	float: right;
	margin: 5px 10px 0;
	height: 26px;
	color: #fff;
	text-align: center;
	background: #ff7300;
	line-height: 26px;
	font-size: 12px;
	display: block;
	width: 80px;
}

.toSet a:hover {
	color: #fff;
}

.shoppingListno {
	position: absolute;
	width: 144px;
	border: 1px solid #dfdfdf;
	border-top: none;
	padding: 5px;
	left: -1px;
	background: #fff;
	top: 31px;
	display: none;
	padding: 26px 70px;
	_left: -11px;
}

.shoppingListno p {
	height: 28px;
	line-height: 28px;
	color: #666
}

.shoppingListno a {
	display: block;
	height: 25px;
	width: 109px;
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-weight: bold;
	background: url(../imagesv3/top_abj.jpg) no-repeat;
	margin: 15px 0 0 20px;
}

.topBuyC {
	position: absolute;
	border: 1px solid #dfdfdf;
	border-top: none;
	padding: 5px;
	left: -1px;
	width: 73px;
	background: #fff;
	top: 31px;
	display: none;
}

.topBuyC a {
	height: 25px;
	line-height: 25px;
	display: inline-block;
	text-align: left;
}

.topBuyCno {
	position: absolute;
	width: 276px;
	border: 1px solid #dfdfdf;
	border-top: none;
	padding: 5px;
	left: -1px;
	background: #fff;
	top: 31px;
	display: none;
	_left: -11px;
}

.topbuycon {
	float: left;
	display: inline;
	width: 82px;
	margin-left: 10px;
	text-align: left;
}

.topbuycon p {
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	color: #666;
}

.topbuycon ul li {
	height: 25px;
	line-height: 25px;
	width: 82px;
	background: none;
	text-align: left;
	padding: 0;
	overflow: hidden;
}

.top-1-R li.li_height {
	display: inline-block;
}

.top-1-R li.topMenu_sitemap {
	background: url(../imagesv3/base_t_topLiBg.jpg) no-repeat right center
}

.topMenu_sitemap .topBuyC {
	width: 277px;
	right: -1px;
	left: auto;
	padding-top: 10px;
}

.site_hy {
	margin-bottom: 15px;
}

.site_hy dt {
	float: left;
	padding: 0 15px 0 5px;
	width: 55px;
	color: #f64400;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
}

.site_hy dd {
	float: left;
	width: 202px;
	padding-right: 0;
	text-align: left;
}

.site_hy dd span {
	height: 24px;
	line-height: 24px;
	display: inline-block;
	white-space: pre-wrap;
	word-break: break-all;
}

.site_hy dd a {
	width: auto;
	height: 24px;
	line-height: 24px;
}

.plw_hy {
	margin-bottom: 15px;
}

.plw_hy dt {
	float: left;
	padding: 0 15px 0 5px;
	width: 81px;
	color: #f64400;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
}

.plw_hy dd {
	float: left;
	width: 175px;
	padding-right: 0;
	text-align: left;
}

.plw_hy dd span {
	height: 24px;
	line-height: 24px;
	display: inline-block;
	white-space: pre-wrap;
	word-break: break-all;
}

.plw_hy dd a {
	width: auto;
	height: 24px;
	line-height: 24px;
}

.sp_line {
	background: url(../imagesv3/sp_line.jpg) no-repeat center center;
	width: 8px;
	*margin-left: -8px;
	*width: 20px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
}

.top-1-R li.y-right {
	padding-right: 24px
}

.top-1-R li.y-right .yellow_bg {
	right: 5px;
}
/*二维码*/
.c-vx {
	float: right;
	width: 260px;
	height: 113px;
	margin-bottom: 10px;
}

.c-vx h2 {
	font-size: 14px;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
	color: #3c3c3c;
	text-align: left
}

.c-vx h2 a {
	font-weight: normal;
	color: #ff6600;
}

.c-vx h2 a:hover {
	text-decoration: underline;
}

.c-vx p {
	line-height: 30px;
}

.c-vx .two-code {
	padding: 6px;
	width: 246px;
	background-color: #efefef;
	overflow: hidden;
}

.two-code .left {
	width: 80px;
	height: 80px;
	overflow: hidden;
	float: left;
}

.two-code .left img {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border: none;
}

.two-code .right {
	float: left;
	Overflow:hidden;
}

.two-code .right p {
	margin-left: 10px;
	font-size: 12px;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
	color: #3c3c3c;
}

.two-code .right .icons {
	width: 130px;
	height: 20px;
	line-height: 20px;
	background-color: #e6e6e6;
	margin-bottom: 6px;
	border-radius: 50px;
	margin-left: 15px;
	font-size: 12px;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
	color: #3c3c3c;
}

.right .icons .i1 {
	float: left;
	width: 15px;
	height: 15px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -6px -6px;
	margin: 0 6px;
}

.right .icons .i2 {
	float: left;
	width: 15px;
	height: 15px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -6px -35px;
	margin: 0 6px;
}
/* 橙色数字背景 */
.yellow_bg {
	right: 18px;
	position: absolute;
	top: 2px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	background: url(../imagesv3/base_t_numBg.png) no-repeat;
	color: #fff;
	display: inline-block;
	*display: inline;
	zoom: 1;
	z-index: 150
}

.yellow_bg.lh10 {
	line-height: 10px;
}

.m-btn {
	text-align: center;
	margin: 8px 0 4px
}

.m-btn .grayBtn {
	margin: 0 5px
}

.m-list {
	margin: 0 6px;
}

.m-list li {
	border-bottom: 1px dashed #e6e6e6;
	width: 100%;
	float: none;
	height: 36px;
	padding: 0;
	text-align: left;
	background: none
}

.m-list li a {
	float: left;
	display: block;
	height: 36px;
	line-height: 36px;
	color: #666666;
	text-decoration: none;
}

.m-list li i {
	margin: 12px 14px 0 0;
	float: left;
	width: 16px;
	height: 11px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -6px -82px;
}

.m-list li:hover i {
	margin: 12px 14px 0 0;
	float: left;
	width: 16px;
	height: 11px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -6px -60px;
}

.m-list li a s {
	color: #ff6600;
	font-weight: bold;
	text-decoration: none
}

.m-list li a:hover {
	color: #ff6600;
	text-decoration: underline;
}

.positionR .snMenu a span {
	margin-right: 0
}

.top-1-R li.snMenu {
	padding: 0 6px !important
}

.li_height.snMenu a b {
	margin: 15px 0 0 18px;
}

.snMenu a:hover {
	text-decoration: none
}
/*已登录*/
.i_photo {
	float: left;
	padding-left: 24px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -30px -70px;
}

.i_photo a {
	color: #0088cc;
}

.i_photo a:hover {
	color: #f64400;
}

.user b {
	width: 9px;
	height: 4px;
	background: url(../imagesv3/top-common-pic.png) no-repeat -30px -10px;
	display: inline-block;
	overflow: hidden;
	margin: 15px 0 0 6px;
}

.z-hov b {
	background-position: -30px -18px;
}

.i_collect {
	padding-left: 15px;
	margin-left: 4px;
	background: url(../imagesv3/base_t_collect.png) no-repeat left 2px;
}

a.i_exit {
	color: #3c3c3c;
}

a.i_exit:hover {
	color: #ff6600;
	text-decoration: none;
}
/*未登录*/
.is_span {
	padding: 0 10px;
}

.btn_lr {
	display: inline-block;
	width: 44px;
	height: 31px;
	text-align: center;
}

.top-1-L .login {
	background: #f64400;
	color: #fff;
}

.top-1-L .login:hover {
	background-color: #ff6600;
}

.top-1-L .login:hover {
	color: #fff;
}

.top-1-L .regist {
	background: #eee;
	height: 30px;
}

/*登陆后完善信息引导*/
.m_guide_pop {
	position: absolute;
	left: 28px;
	top: 26px;
	width: 135px;
	height: 68px;
	padding-top: 10px;
	background: url(../imagesv3/m_guide_bg.png) repeat left top;
	z-index: 22;
}

.m_guide_pop a {
	display: inline-block;
	font-size: 14px;
	color: #3c3c3c;
	font-family: "Microsoft Yahei", "Hiragino Sans GB";
	line-height: 170%
}

.m_guide_pop a:hover {
	color: #ff6600;
	text-decoration: underline
}

.m_guide_cont {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 68px;
	width: 135px;
}

.m_guide_gb {
	position: absolute;
	right: -4px;
	top: 7px;
	height: 15px;
	width: 15px;
	text-indent: -9999px;
	background: url(../imagesv3/m_g_ganbi.png) repeat left top;
}

.top-1-R li.bgno {
	background: none
}

.addIcon {
	position: absolute;
	top: 24px;
	left: 40px;
	width: 200px;
	height: 21px;
	text-indent: 8px;
	line-height: 22px;
	background: url(../imagesv3/topIco.png) no-repeat 0 -27px;
	left: 40px;
}

.top-1-L .addIcon a {
	color: #fff;
}

.top-1-L .addIcon a:hover {
	color: #fff;
	text-decoration: underline;
}

.top-1-L .addIcon em {
	float: right;
	margin: 5px 6px 0 0;
	width: 12px;
	height: 12px;
	background: url(../imagesv3/topIco.png) no-repeat -133px 0;
	cursor: pointer;
}