@charset "utf-8";

/* @group news */
div#news{position:relative;border-bottom:1px solid #c7c7c7;background:url(http://www.nhk.or.jp/topmenu/1203_img/bg_news.gif) repeat-y;margin:0 0 10px 0;}
/*div#news div.inner{width:auto;position:static;overflow:visible;background:url(http://www.nhk.or.jp/topmenu/1203_img/bg_news_inner.gif) repeat-x 0 100%;margin:0;padding:0 10px 8px 12px;}*/

/*\*//*/
div#news div.inner{padding:33px 10px 8px 12px;}
/**/
div#news h2, div#news ul.tabMenu li{font-size:1px;text-indent:-99999px;}
div#news h2{height:32px; margin: 0 1px;position:relative; background: url(http://www.nhk.or.jp/topmenu/1203_img/bg_news2012_header.png) repeat-x;}
\div#news h2{text-indent:0;letter-spacing:-100px;}
div#news h2 a, div#news ul.tabMenu li a{position:absolute;}
div#news h2 a, div#news ul.tabMenu li a{display:block;color:#f0f0f0;}
div#news h2 a{width:162px;height:25px;top:0;left:-1px;background:url(http://www.nhk.or.jp/topmenu/1403_img/bt_news2016.png) no-repeat;}
div#news h2 a:hover{background-position:-162px 0;}

div#news ul.tabMenu li a{text-decoration:none;}
div#news div.inner { overflow:inherit;}
/* @group menu default */

div.default ul.tabMenu{top:5px;left:112px; display: none;}
div.default div.inner{width:auto;position:static;overflow:visible;margin:0;padding:0 2px 8px 12px;}
div.default div.main p.banner{position:absolute;top:84px;left:283px;}
div.default div.main ul.list{ display: none;}
/* @end */
/* @group menu tabs */
div.tabs div.inner{width:auto;position:static;overflow:visible;margin:0;padding:0 2px 8px 12px;}
div.tabs ul.tabMenu li a{width:89px;height:32px; top:2px; background:url(http://www.nhk.or.jp/topmenu/1403_img/tab_news2013.png) no-repeat;}
div.tabs ul.tabMenu li a.item0{width:81px; left:165px;background-position:0 0;}
div.tabs ul.tabMenu li a.item1{width:56px; left:247px;background-position:-82px 0;}
div.tabs ul.tabMenu li a.item3{width:73px; left:304px;background-position:-139px 0;}
div.tabs ul.tabMenu li a.item2{width:56px; left:378px;background-position:-213px 0;}

div.tabs ul.tabMenu li a.item0:hover{background-position:0 -35px;}
div.tabs ul.tabMenu li a.item1:hover{background-position:-82px -35px;}
div.tabs ul.tabMenu li a.item3:hover{background-position:-139px -35px;}
div.tabs ul.tabMenu li a.item2:hover{background-position:-213px -35px;}

div.tabs ul.tabMenu li.selected a, div.tabs ul.tabMenu li a:active{height:32px;}
div.tabs ul.tabMenu li.selected a.item0, div.tabs ul.tabMenu li.selected a.item0:active{background-position:0 -35px;}
div.tabs ul.tabMenu li.selected a.item1, div.tabs ul.tabMenu li.selected a.item1:active{background-position:-82px -35px;}
div.tabs ul.tabMenu li.selected a.item3, div.tabs ul.tabMenu li.selected a.item3:active{background-position:-139px -35px;}
div.tabs ul.tabMenu li.selected a.item2, div.tabs ul.tabMenu li.selected a.item2:active{background-position:-213px -35px;}

div.tabs div.bottomContents{background: url(http://www.nhk.or.jp/topmenu/1203_img/bg_bottomcontents.gif) no-repeat left bottom;}
div#content div.tabs div.main{position:relative; margin: 0 0 10px; 0;}
*html div#content div.tabs div.main{height: 212px;}
div.tabs div.inner{width:auto;position:static;overflow:visible;;margin:0;padding:0 2px 8px 13px;}
/* @end */
div#news div.content{padding:0 0 6px 0;}
div#news div.main{position:relative;}
div#news div.main p.more a:hover {opacity: 0.4; filter:alpha(opacity=40);}

div#news div.main div#tabContents1 p.banner{position:absolute;top:177px;left:283px;}
div#news div.main div#tabContents1 table{width:560px;}
div#news div.main  div#tabContents1 table tr td ul, div#news div.main div#tabContents1 table tr td p{font-size:100%;}
div#tabContents1 ul.ajaxNewsList{width:277px; min-height: 172px; margin:0 6px 0 0; padding: 0 0 0 0;}
div#tabContents1 ul.ajaxNewsList li{padding:4px 8px; background: url("http://www.nhk.or.jp/topmenu/1203_img/bg_news_line.gif") repeat-x 0 0;}
* html div#tabContents1 ul.ajaxNewsList li{height:1%;padding:8px 4px;}
/*\*//*/
* html ul.ajaxNewsList li{height:inherit;}
/**/
div#tabContents1 ul.ajaxNewsList li.first{font-weight:bold;background:none;}
div#tabContents1 ul.ajaxNewsList li img{margin:0 4px;}
div#news div.main div#tabContents1 table tr td.image{padding:3px 0 0 0;}
div#news div.main div#tabContents1 table tr td.image p{margin:0;padding:0; text-align: center;}
div#news div.main div#tabContents1 table tr td.date{vertical-align:bottom;padding:0 0 6px 0;}
div#news div.main div#tabContents1 p.more { margin: 0 0 1em 8px; padding: 8px 0 0 0;}
div#tabContents1 div#ajaxNewsImage{padding:8px 0 10px 0; position:relative; text-align: left; width: 276px; background: #e9e9e9; text-align: left;}
*html div#tabContents1 div#ajaxNewsImage { height: auto;}
div#tabContents1 { min-height:214px;}
div#tabContents1 div#ajaxNewsImage img { margin: 0 0 0 35px;}
div#tabContents1 div#ajaxNewsImage span.text { display: block; padding:10px 0 0 0; font-size: 10px !important; font-family:"Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Verdana, sans-serif;}
div#newsslider { overflow:hidden;}
div#newsslider, div#newsslider ul{position:relative;}
div#newsslider{width:205px;left:35px;min-height: 142px;}
div#newsslider ul{z-index:1; min-height: 142px;}
div#newsslider ul li{float:left;text-align:center;width:205px; overflow:hidden; min-height: 142px;}
div#newsslider ul li img{vertical-align:bottom; width: 205px !important;-ms-interpolation-mode: bicubic; margin:0 !important;}
div#tabContents1 div#ajaxNewsImage p{position:absolute;top:8px; margin:0;}
div#tabContents1 div#ajaxNewsImage p img { margin: 0;}
div#tabContents1 div#ajaxNewsImage p.newsprev{left:18px;}
div#tabContents1 div#ajaxNewsImage p.newsnext{left:240px;}
div#tabContents1 div#ajaxNewsImage p.newsprev a:hover img,
div#tabContents1 div#ajaxNewsImage p.newsnext a:hover img { opacity: 0.4; filter:alpha(opacity=40);}
div#news div.main div#tabContents2 { padding: 0 6px 0 2px; min-height: 205px;}
div#news div.main div#tabContents2 div.clmL {float: left; width: 278px;}
div#news div.main div#tabContents2 div.clmR {float: right; width: 278px;}
div#news div.main div#tabContents2 ul { margin: 0 0 .8em 0;}
div#news div.main div#tabContents2 li { clear: both; line-height: 1.8;}
div#news div.main div#tabContents2 li p {font-size: 100%; float: left;}
div#news div.main div#tabContents2 li p.date {min-width: 55px; float: right;}
*html div#news div.main div#tabContents2 li p.date { width:55px;}
div#news div.main div#tabContents2 p.more { clear: both; text-align: right; margin: 0 5px 1em 0;}
div#news div.main div#tabContents2 p.banner { margin: 0 0 4px 0;}
div#news div.main div#tabContents2 ul:after,
div#news div.main div#tabContents2:after{content:".";display:block;height:0px;clear:both;visibility:hidden;}

div#news div.main div#tabContents3 { padding: 0 0 0 2px;}
div#news div.main div#tabContents3 li { float: left; line-height: 0; font-size: 1px;}
div#news div.main div#tabContents3 li img { margin: 0 9px 5px 0;}
div#news div.main div#tabContents3 p.more { clear: both; text-align: center; margin: 0 12px 4px 0;}
div#news div.main div#tabContents3 p.more a { display:block; background: #8692a0; padding: 2px 0;}

div#news div.main div#tabContents4 p.banner{ padding: 4px 0 0 2px; margin: 0 0 4px 0;}
div#news div.main div#tabContents4 table{width:560px;}
div#news div.main  div#tabContents4 table tr td ul, div#news div.main div#tabContents1 table tr td p{font-size:100%;}
div#tabContents4 ul.ajaxNewsList{width:277px;margin:0 6px 0 0; padding: 0 0 0 0;}
div#tabContents4 ul.ajaxNewsList li{padding:4px 8px; background: url("http://www.nhk.or.jp/topmenu/1203_img/bg_news_line.gif") repeat-x 0 0;}
* html div#tabContents4 ul.ajaxNewsList li{height:1%;padding:8px 4px;}
div#tabContents4 ul.ajaxNewsList li.first{font-weight:bold;background:none;}
div#tabContents4 ul.ajaxNewsList li img{margin:0 4px;}
div#news div.main div#tabContents4 table tr td.image{padding:3px 0 0 0;}
div#news div.main div#tabContents4 table tr td.image p{margin:0;padding:0; text-align: center;}
div#news div.main div#tabContents4 table tr td.date{vertical-align:bottom;padding:0 0 6px 0;}
div#news div.main div#tabContents4 p.more { margin: 0 0 1em 8px; padding: 8px 0 0 0;}
div#tabContents4 div#ajaxNewsImage2 {
    padding: 10px 5px;
    position: relative;
    text-align: left;
    width: 268px;
	text-align: center;
	background: #e9e9e9;
}
div#tabContents4 div#ajaxNewsImage2 h3 { font-size: 1px; line-height: 0; margin: 0 0 2px 0;}
div#tabContents4 div#ajaxNewsImage2 p.image { background: #fff; text-align: center;}
div#news div#tabContents4 div#ajaxNewsImage2 p.image {margin: 0 6px; padding: 5px 0 0 0;}
div#tabContents4 div#ajaxNewsImage2 p.image span { display: block; font-size: 12px; padding: 3px;}
p#ajaxNewsDate{font-size:10px!important;font-family:"Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Verdana, sans-serif;color:#454547;line-height:16px;text-align:left;padding:4px 8px 2px 8px; position: absolute; right: 0; top:0;}
div#news div.bottomContents{padding:0; margin: 0 0 0 2px;}
div#news p.newsBn { padding: 8px 2px;}
ul#specially { margin: 0 0 7px 0; clear:both;}
ul#specially li{width:135px;float:left;border:1px solid #808080;background:url(http://www.nhk.or.jp/topmenu/1203_img/bg_specially.gif) repeat-x #969696;margin:0 2px;}
ul#specially li.blue{border:1px solid #4f678f;background:url(http://www.nhk.or.jp/topmenu/1203_img/bg_specially_blue.gif) repeat-x #637eae;}
ul#specially li.sky{border:1px solid #489da7;background:url(http://www.nhk.or.jp/topmenu/1203_img/bg_specially_sky.gif) repeat-x #35afbe;}
ul#specially li.green{border:1px solid #86a042;background:url(http://www.nhk.or.jp/topmenu/1203_img/bg_specially_green.gif) repeat-x #95b142;}
ul#specially li.red{border:1px solid #b92421;background:url(http://www.nhk.or.jp/topmenu/1203_img/bg_specially_red.gif) repeat-x #d85454;}
ul#specially li.orange{border: 1px solid #d5761b;background:url(http://www.nhk.or.jp/topmenu/1203_img/bg_specially_orange.gif) repeat-x #ef9138;}
ul#specially li a{display:block;color:#fff;padding:.6em 5px .6em 5px;}
/* @end */
/* @group program */
