#app_signup_style_css {display:none}

.signup-form  { width: 400px; background: #fff; }
.signup-form .form-header,
.login-form .form-header { background: #f1f5f8; padding: 20px 30px; }
.signup-form .label-register {display: block; margin-top: 10px}
.signup-form .label-register.sex-access { width: 270px; float: left; padding-right: 0px; }

.signup-form .gender-select {background: url(../profile/img/gender.png) 0 -131px; width: 23px; height: 22px; margin: 0 5px 0 0; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
.signup-form .gender-select.gender-w {background-position: 0 -32px}
.signup-form .checked .gender-select.gender-w {background-position: 0 0}
.signup-form .checked .gender-select.gender-m {background-position: 0 -96px}

.signup-form .title-label {display: block; color: #58595b}
.signup-form .description-label { display: block; color: #aaa; font-size: 10px; width: 100%; text-align: center; }
.signup-form .description-label a { color: #aaa; text-decoration: underline; }
.signup-form .description-label a:hover { color: #008BC8; }
.signup-form .btn-registr { margin: 5px 0 0; font-size: 21px; width: 340px; }

.signup-form .form-content { padding: 20px; }
.signup-form .form-label { width: 75px }
.signup-form .form-input { width: 228px }
.signup-form .form-data { margin-left: 95px; }
.signup-form .form-radiobox { margin-bottom: 0; }
.signup-form .usersex-radio { line-height: 22px; vertical-align: top; }
#userBirthdayDay,
#userBirthdayMonth,
#userBirthdayYear {display: inline-block; *display: inline; *zoom: 1; margin-right: 10px;}
#external-need-form #userBirthdayMonth {width: 89px; }
#userBirthdayDay input { width: 26px; }
#userBirthdayMonth input {width: 56px; }
#userBirthdayYear input {width: 36px; }
#userBirthdayYear {margin-right: 0;}
.login-form .form-content { padding: 20px 30px; }
.login-form { background: #fff; width: 410px; }
.login-form .title-login { background: #F1F5F8; padding: 20px 30px; }
.login-form .fs-login-form-block { float: none; }
.login-form .form-label { width: 100%; float: none; text-align: left; }
.login-form .form-input { width: 322px; }
.login-form .form-data { width: 365px; margin: 0; }
.login-form .register-link { display: inline-block; *display: inline; *zoom: 1; line-height: 16px; padding: 5px 0; }
.login-form #recaptcha_response_field { width: 322px; padding: 3px 8px; }
.login-form .popup-footer .btn { float: none; margin-left: 0; margin-right: 10px;}
.signup-popup-title {font-size:16px; font-weight: bold; line-height: 20px;}
.signup-social-wrap.signup-social-wrap-5 .btn-social, .login-social-wrap.signup-social-wrap-5 .btn-social {
    min-width: 130px;
}
.signup-social-wrap.signup-social-wrap-6 .btn-social, .login-social-wrap.signup-social-wrap-6 .btn-social {
    min-width: 120px;
}

.signup-form .form-footer,
.login-form .form-footer { background: #F1F5F8; padding: 20px 10px 20px 30px;  }
.signup-form .form-footer .btn,
.login-form .form-footer .btn { margin-right: 10px;}
.signup-form .form-footer .btn.last,
.login-form .form-footer .btn.last { margin-right: 0px;}

.form-footer.signup-social-wrap-5, .form-footer.signup-social-wrap-6 {padding: 20px 10px 20px 30px;}
.form-footer.signup-social-wrap-6 .btn {margin-right: 5px;}
.form-footer.signup-social-wrap-6 .btn.btn-social.btn-ok { padding-left: 32px; padding-right: 8px; }
.form-footer.signup-social-center { padding-left: 0; padding-right: 0; text-align: center; background: none;}

#carousel-items { overflow: hidden; position: relative; width: 100%; height: 365px; }
#carousel-items .item { position: absolute; top: 0px; left: 0px; width: 100%; }
#carousel-items .item.active { display: block; }
#carousel-items .pic-block { width: 100%; text-align: center; height: 267px; margin-top: 15px; position: absolute; top: 75px; left: 0px; }
#carousel-items .pic-block .pic-wrap {height: 100%; width: 1px; margin-left: -1px; display: inline-block; vertical-align: middle; *zoom: 1; *display: inline; }
#carousel-items .pic-block img { vertical-align: middle; display: inline-block; *zoom: 1; *display: inline; max-height: 100%; }
#carousel-pagination { position: relative; overflow: hidden; text-align: center; }
#carousel-pagination .pager { display: inline-block; width: 15px; height: 15px; background: url(fs-signup-carousel-pagers.png) no-repeat -23px 0px; cursor: pointer; *zoom: 1; *display: inline; }
#carousel-pagination .pager.active { background-position: -3px 0; cursor: default; }

/* mobile version logout */

.bg-50-black.mobile-logout-flag {height: auto !important; }
.bg-50-black.mobile-logout-flag .mobile-logout-block {display: block;}
.bg-50-black.mobile-logout-flag #carousel-wrap{display: none;}
.bg-50-black .mobile-logout-block {position: relative;}
.bg-50-black .mobile-logout-block h3{font-size: 18px; font-family: Trebuchet MS}
.bg-50-black .mobile-logout-block h3 a{float: right; color: #008BC8}
.bg-50-black .mobile-logout-block p {font-style: normal; font-size: 13px; margin-top: 10px }
.bg-50-black .mobile-logout-block .wrap-img-and-block {margin-top: 20px; position: relative;}
.bg-50-black .mobile-logout-block ul {margin: 0 0 0 15px; display: block; width: 100%; }
.bg-50-black .mobile-logout-block ul li {list-style: square; margin-top: 8px; width: 100%; list-style-type: disc}
.bg-50-black .mobile-logout-block  #mobile-icons {width: 261px; height: 271px;}
#position-mobile-img {width: 18px; height: 18px; position: absolute; top: 101px; left: 74px;}
#position-mobile-img2 {width: 15px; height: 15px; position: absolute; top: 143px; left: 15px;}
#position-mobile-name {font-size: 6px; color: #58595B; position: absolute; top: 101px; left: 95px; max-width: 68px; overflow: hidden;}
#position-mobile-name2 {font-size: 5px; color: #58595B; position: absolute; top: 149px; left: 33px;}

#btnRegister:focus { -moz-box-shadow: 0px 0px 4px #f30; box-shadow: 0px 0px 4px #f30;}
.gender-select:focus { -webkit-box-shadow: 0px 0px 4px #3A86C2; -moz-box-shadow: 0px 0px 4px #3A86C2; -ms-box-shadow: 0px 0px 4px #3A86C2; box-shadow: 0px 0px 4px #3A86C2; }
#mobile-logout-form {margin-right: 15px; margin-top: 25px; background: #f1f1f1; padding: 26px; float: right; width: 220px; -moz-box-shadow: 0 0 1px #C5C5C5; box-shadow: 0 0 1px #C5C5C5; clear: both;}
#mobile-logout-form input {background: #fff; font-size: 22px;
    border:solid 1px #d1d0d0; padding: 6px; margin: 17px 0; width: 206px; text-align: center; color: #7b7b7b;
    }
#mobile-logout-form span{font-size: 17px; color: #58595b;}
#mobile-logout-form .btn-b{font-size: 21px; display: block; padding-top: 7px; padding-bottom: 7px; }

#userExistsPopup { margin-bottom: 20px;}
#userExistsPopup .form-message { padding: 8px 12px; margin: 0 0 20px; background: #DFE6EB; color: #50616D; }
#userExistsPopup .form-user-img { width: 48px; height: 48px; float: left; }
#userExistsPopup .form-user-name { margin: 0 0 5px 60px; display: block; max-height: 28px; max-width: 320px; overflow: hidden; }
#userExistsPopup .form-user-info { color: #AAAAAA; margin: 0 0 0 60px; }
#userExistsPopup .popup-footer .btn { width: 50px;}

#login-signup-popup { overflow: inherit; height: auto; }
#login-signup-popup.onAnimate { overflow: hidden; }
#login-signup-popup .form-message { padding: 8px 12px; margin: 0 0 20px; background: #DFE6EB; color: #50616D; }
#login-signup-popup .form-user-img { width: 48px; height: 48px; float: left; }
#login-signup-popup .form-user-name { margin: 0 0 5px 60px; display: block; max-height: 28px; max-width: 320px; overflow: hidden; }
#login-signup-popup .form-user-info { color: #AAAAAA; margin: 0 0 5px 60px; }
#login-signup-popup .form-user-notme { margin: 0 0 0 60px; }
#login-signup-popup #register-form .btn-registr {width: 354px}
#login-signup-popup .usersex-radio input {position: absolute}
#login-signup-popup #register-form .form-data {margin-left: 95px;}
#login-signup-popup .signup-form, #login-signup-popup .login-form {
    width: auto;
    -webkit-transition: top 0.3s ease-in-out; -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out; transition: top 0.3s ease-in-out;
}
.signup-form.social-prior { width: auto; }

#signup-form-captcha {margin-left: 39px;}

.fs-signup-tooltip {z-index: 9999 !important;}

/*------------recoverpassword--------------*/
.fs-login-form-block .fs-login-form-title { background: #f1f5f8; padding: 20px 30px; }
.fs-login-form-block { background: #fff; width: 400px; }
.fs-login-form-block .title-login { background: #F1F5F8; padding: 20px 30px; }
.fs-login-form-block .fs-login-form-info  { width: 100%; float: none; text-align: left; margin: 10px 0 10px 0;}
.fs-login-form-block .fs-login-form-label { width: 100%; float: none; text-align: left; margin: 10px 0 10px 0;}
.fs-login-form-block .input-txt { width: 328px; }
.fs-login-form-block #recaptcha_response_field { width: 322px; padding: 3px 8px; }
.fs-login-form-body { padding: 20px 30px; }


/*New signup popup SPLITTER*/
#signup-container-signup-split .form-field {
    background: #e9ecee;
    padding: 17px 0 0 0;
}
#signup-container-login-split .grey-border-first {
    background: #e9ecee;
    padding: 10px 15px 5px 15px;
}
#signup-container-login-split .grey-border-last {
    background: #e9ecee;
    padding: 5px 15px 20px 15px;
}
#signup-container-login-split .login-form .form-content {
    padding: 20px;
}
#signup-container-signup-split #btnRegister {
    height: 40px;
    width: 230px;
    float: right;
    font-size: 18px;
}
#signup-container-login-split #loginPopupSubmitButton, #signup-container-signup-split #btnRegister {
    border-color: #1279b4;
    background: linear-gradient(to bottom, #228cc8 0%,#1279b4 100%);
}
#signup-container-signup-split #signup-label-authorize-text {
    display: none !important;
}
#signup-container-signup-split #label-user-btn a, #signup-container-login-split .register-link a {
    color: #747d83;
    text-decoration: #a2abb1;
    text-decoration: underline;
}
#signup-container-signup-split #label-user-btn,
#signup-container-login-split .login-button {
    display: none !important;
}
#signup-container-signup-split span.description-label{
    display: block;
    color: #aaa;
    font-size: 10px;
    width: 100%;
    text-align: center;
}
#signup-container-signup-split #signup-additional-block a{
    color: #747d83;
    text-decoration: #a2abb1;
    text-decoration: underline;
}
#signup-container-signup-split #signup-additional-login {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    margin-bottom: -10px;
}
#signup-container-signup-split button {
    margin-top: -20px;
    margin-right: 20px;
}
#signup-container-signup-split .signup-form,
#signup-container-login-split .login-form {
    width: inherit !important;
}
#signup-container-login-split #user_password,
#signup-container-login-split #user_email
{
    width: 365px;
}
#signup-container-signup-split #userName,
#signup-container-signup-split #userEmail
{
    width: 273px !important;
}
#signup-container-signup-split #userBirthdayDay input,
#signup-container-signup-split #userBirthdayMonth input,
#signup-container-signup-split #userBirthdayYear input {
    width: 50px;
}
#signup-container-signup-split #userBirthdayDay .form-select-header,
#signup-container-signup-split #userBirthdayMonth .form-select-header,
#signup-container-signup-split #userBirthdayYear .form-select-header {
    width: 70px;
}
#signup-container-signup-split .form-radiobox.usersex-radio {
    margin-right: 30px !important;
}
#signup-container-login-split .register-link {
    font-size: 12px;
}
/*--------------------------------------------------------*/