#home-promo, #home-promo * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	line-height: 1;
	vertical-align: top;
}									

#home-promo {
	width: 100%;
	height: 240px;
	overflow: hidden;
	border: none;
	margin-bottom: 6px;
	vertical-align: top;
}
#home-promo-image {
	width: 500px;
	height: 236px;
	overflow: hidden;
	position: relative;
	padding: 2px;
	border: 1px solid #ccc;
	background: #fff;
}
#home-promo-image a {
	color: #fff;
	text-decoration: none;
	display: block;
	width: 500px;
	position: absolute;
}
#home-promo-image div {
	left: 0;
	top: 0;
	width: 500px;
	overflow: hidden;
	background-position: top left;
	background-repeat: no-repeat;
}
#home-promo-image blockquote {
	background: #222;
	background: rgba(0,0,0,0.8);	
	display: block;
	margin-top: 186px;
	padding: 10px 16px;
	white-space: nowrap;
	overflow: hidden;
	font: italic 18px/30px Cambria, Georgia, serif;
}
#home-promo-list {
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#home-promo-list div {
	height: 40px;
	margin: 0;
	padding: 0;
	border: 0;
}
#home-promo-list div a {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: block;
	height: 40px;
	text-decoration: none;
	font-size: 12px;
	line-height: 14px;
	color: inherit;
}
#home-promo-list div.last a {
	border-bottom: none;
}
#home-promo-list div a b {
	display: block;
	padding: 12px 12px 0 12px;
	overflow: hidden;
}
@media screen and (max-width: 1240px) {
	#home-promo-list div a {
		font-size: 11px;
	}
	#home-promo-list div a b {
		display: block;
		padding: 8px 12px 0 12px;
		height: 28px;
		line-height: 12px;
	}
}


#home-promo-list div a {
	border-bottom: 1px solid #ccc;	
}
#home-promo-list div a.selected, #home-promo-list div a.selected:hover {
	background: #565656;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#565656');
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#565656));
	background: -moz-linear-gradient(top,  #454545,  #565656);
	background: -o-linear-gradient(top, #454545,  #565656);
	color: #fff;
	text-shadow: #000 0 1px 1px;
}
#home-promo-list div a {
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top,  #fff,  #eee);
	background: -o-linear-gradient(top, #fff,  #eee);
}
#home-promo-list div a:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbedc1', endColorstr='#efd999');
	background: -webkit-gradient(linear, left top, left bottom, from(#fbedc1), to(#efd999));
	background: -moz-linear-gradient(top,  #fbedc1,  #efd999);
	background: -o-linear-gradient(top, #fbedc1,  #efd999);
}
