﻿*{font-family:tahoma;font-size:9pt;margin:0px;padding:0px;}
html{overflow-y:scroll;}
body{margin:0px;padding:0px;font-family:tahoma;font-size:9pt;background-color:white;text-align:center;}
.textbox{border: 1px solid #C0C0C0; width:194px;background-color:white;display:block;padding:8px;}
#wrapper {width:700px;background-color:white;height:300px;position:relative}
.center {text-align:center;display:inline-block;}
form{margin:0px;padding:0px;}
input {border-radius: 0;}

@font-face {
	font-family: 'Yekan';
	src: url('/static/fonts/Yekan.eot?#') format('eot'),   url('/static/fonts/Yekan.woff') format('woff'),    url('/static/fonts/Yekan.ttf') format('truetype');  
   font-weight: normal;
   font-style: normal;
}

a:link{color:#0288d1;text-decoration:none;}
a:visited  {color:#0288d1;text-decoration:none;}
a:hover{color:#01579b;text-decoration:none;}

#loginbox {background-color:#fafafa;width:235px;height:100%;float:left;position:relative;text-align:center;display:inline-block;}
#loginform{position:absolute;left:50%;right:50%;top:0px;bottom:0px;width:230px;margin-left:-115px;}
#loginlink {display:inline-block;width:210px;direction:rtl;padding-top:10px;line-height:200%;margin-bottom:70px;position:absolute;top:130px;left:10px;}

#luster {background-color:#2196f3;width:460px;height:100%;float:left;position:relative;margin-left:5px;}
#luster .imgbox{max-height:220px;overflow:hidden;}
#luster .imgbox img{max-width:100%;width:100%;padding:0px;margin:0px;max-height:220px;}
#luster .txtbox{width:100%;text-align:right;direction:rtl;padding-top:10px;max-width:100%;}
#luster .txtbox span{line-height:200%;font-family:Yekan,Arial;font-size:13px;color:white;display:block;padding:10px;direction:rtl;text-align:right}


#firstspc {height:70px;}
#menu {font-size:9pt;background-color:white;text-align:center;margin-top:10px;margin-bottom:10px;direction:rtl;color:gray;line-height:200%;padding-left:5px;padding-right:5px;}
.clear{clear:both;}

#newsbox { font-size:9pt;background-color:white;border:1px solid #dddddd;max-width:100%;text-align:left;margin-top:10px;margin-bottom:10px;}
#newsbox .head{float:right;background-color:#fafafa;width:70px;padding:5px;text-align:right;}
#newsbox .content {float:right;padding:5px;text-align:right;}

#logo{text-align:left;width:100%;}
#logo img{max-width:100%;max-height:30px;}


.btn {-webkit-appearance: none; border-radius: 0; padding:6px;background-color:#2196f3;color:white;border:0px;font-family: Tahoma; font-size: 9pt;}
.btn:hover {-webkit-appearance: none; border-radius: 0;padding:6px;background-color:#1976d2;color:white;border:0px;font-family: Tahoma; font-size: 9pt;}




@media screen and (max-width: 700px){
	#wrapper {background-color:white;height:300px;position:relative;width:100%;max-width:100%;padding:0px;margin:0px;}
	#loginbox {background-color:#fafafa;width:100%;height:100%;position:relative;text-align:center;display:block;}
	#luster {background-color:#2196f3;width:100%;margin:0px;height:auto;max-width:100%;}
	#menu_old {font-size:9pt;background-color:white;text-align:center;margin-top:10px;margin-bottom:10px;direction:rtl;color:gray;line-height:200%;padding-left:5px;padding-right:5px;}
	#firstspc {height:10px;}
}