@charset "utf-8";
/* CSS Document */

/* ==========================================================================
   begin normalize css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}

body {
    margin: 0;
	background-color:#EFEEEA;
	font-size:13px;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    margin: 0; 
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}

input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear{
	clear:both;
}

/* ==========================================================================
   end normalize css
   ========================================================================== */
   
   
/* begin top nav bar */

#top-nav{
	background-color:#000;
	width:100%;
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:2000;
}

.main-nav{
	height:65px;
	width:960px;
	margin:0 auto;
	position:relative;
}
.main-nav a{
	text-decoration:none;
}

.main-nav h1 {
	margin:0px;
	float:left;
	height: 65px;
	width: 112px;
}

.main-nav h1 a { 
	display: block;
	height: 65px;
	width: 110px;
	background: url(/images/quickmeme.png) center no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
.main-nav h1 a:hover { 
	background: url(/images/quickmemehover.png) center no-repeat #2b2b2b;	
}

.menu-items{
	float:left;
	margin-left: 5px;
}
.new{
	display:none!important;
}
.menu-items ul{
	overflow: hidden;
	list-style-type: none;
	margin:0px;
	padding:0px;
}

.menu-items ul li{
	float:left;
}

.menu-items ul li a{
	display: block;
	color: #fff;
	line-height: 65px;
	height: 65px;
	padding: 0 15px;
}

.menu-items ul li a.current{
	color:#FFBF00;
}
.menu-items ul li a.current:hover{
	color:#FFBF00;
}
.menu-items ul li a:hover{
	color:#FFBF00;
	background-color: #333;
}

.user-functions{
	float:left;
	margin-top: 13px;
	margin-left:20px;
}
.user-functions a{
color: #fff;
border-top: #555 1px solid;
background-color: #383838;
padding: 10px 15px;
float: left;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
a.make-meme{
	background: url(/images/create.png) 10px center no-repeat #383838;
}
a.make-meme:hover{
	background: url(/images/createdark.png) 10px center no-repeat #333;
	color:#FFBF00;
	border-top: #333 1px solid;
}
.make-meme span{
	padding-left:20px;
	display:block;
}
a.upload-meme{
	background: url(/images/upload.png) 10px center no-repeat #383838;
}
a.upload-meme:hover{
	background: url(/images/uploaddark.png) 10px center no-repeat #333;
	color:#FFBF00;
	border-top: #333 1px solid;
}
.upload-meme span{
	padding-left:20px;
	display:block;
}
a.random-meme{
	background: url(/images/random.png) center no-repeat #383838;
	text-indent:-9999px;
	overflow:hidden;
	width:20px;
}
a.random-meme:hover{
	background: url(/images/randomdark.png) center no-repeat #333;
	color:#999;
	border-top: #333 1px solid;
}
.user-functions ul{
	overflow: hidden;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.user-functions ul li{
	float:left;
	margin-right:10px;
}

.nav-search{
	float:left;
	margin-top:17px;
}
.search-query{
	height: 20px;
	border-radius: 4px;
	background: #222;
	border: 1px solid #444;
	width: 105px;
	padding: 4px;
	color:#eee;
}
.user-login{
	float:right;
}
.user-login #fblogin img{
	width:30px;
	margin-top: 15px;
}
#shownsfw {
	display:none;
}
/* end top nav bar */

/* begin sub-nav bar */

.sub-navbar{
	position:fixed;
	background-color:#fff;
	width:100%;
	border-bottom:1px solid #E7E4DA;
	top:65px;
	right:0;
	left:0;
	z-index:1999;
	box-shadow: 0 5px 5px -5px #ccc;
	-moz-box-shadow:0 5px 5px -5px #ccc;
	-webkit-box-shadow:0 5px 5px -5px #ccc;
}

.sub-navwrap{
	height: 35px;
	width: 960px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	text-transform: lowercase;
}

.sub-heading{
	float:left;
	height:25px;
	display:block;
	margin-top:5px;
	width:555px;
	overflow:hidden;
	margin-left:5px;
}
.sub-heading ul li span{
	color:#999;
}
.sub-heading ul{
	position:relative;
	list-style-type:none;
	margin:0px;
	padding:0px;
	display:block;
	float:left;
	height:25px;
	overflow:hidden;
}
.sub-heading ul li{
	display:inline-block;
	float:left;
	padding-top:4px;
	margin-right: 15px;
}
.sub-heading ul li a{
	display:inline-block;
	float:left;
	color:#8ca7dd;
}
.sub-heading ul li a:hover{
	color:#8ca7dd;
}
.sub-heading ul li a.current{
border-bottom: 2px solid #8ca7dd;
padding-bottom: 2px;
color: #111;
}
.sub-heading ul li a:hover{
border-bottom: 2px solid #8ca7dd;
padding-bottom: 2px;
color: #111;
}

.fade a{
	float:right;
	background:#555;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	padding:5px;
	color:#fff;
}
.fade a:hover{
	background:#8ca7dd;
	color:#fff;
}
.fade{
	margin-top: 0px;
	display: block;
	position: absolute;
	right: 0;
	z-index: 100;
	height: 25px;
	width: 50px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 14%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(14%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 14%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 14%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 14%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 14%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.more-cats{
	display:none;
}
/* end sub-nar bar */

/*begin page content */

a {
	color:#222;
	text-decoration:none;
}
a:hover {
	color:#8ca7dd;
}

#container{
	position:relative;
}
.page-content{
	width: 960px;
	margin: 102px auto 40px;
	overflow: hidden;
	position:relative;
}

.post-wrap{
	width:580px;
	float:left;
	position:relative;
}

#posts{
	margin: 20px 60px 0 0;
	width:520px;
	position:relative;
}
#loadmoreajaxloader {
	margin:0 auto;
	width:500px;
}

/* begin caption / submit page */
.button {
cursor: pointer;
font-size: 20px;
display: inline-block;
width: 280px;
color: #FFF;
font-weight: bold;
background-color: #3b5998;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
text-decoration: none;
padding: 10px;
margin: 20px 2px 20px;
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
text-align: center
}
#fbloginnotice {
width: 320px;
margin: 0 auto;
background: #fff;
padding: 30px;
text-align: center;
position:relative;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
#fbloginnotice h3 {
color: #444;
font-size: 20px;
margin-top: 0px;
margin-bottom:10px;
}
.fbloginnotice-info {
display: block;
text-align: left;
width: 300px;
margin: 0 auto;
color: #333;
line-height: 1.4em;
font-size: 15px;
}
.overlay-close{
	position: absolute;
	top: -10px; 
	left: 360px; 
	width: 34px; 
	height: 34px; 
	background-image: url(/images/overlay_close.png);
	z-index:2500;
}
	
/* end caption / submit page */


/* begin viewpost page */
.view-meme{
	display:block;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	text-align:center;
	margin-top:20px;
}
.view-meme .post-header{
	position:relative;
	padding:15px 15px;
}
h2.viewpost-title{
	margin:0px;
	padding:0px;
	font-size:28px;
}
.viewpagead-block{
	width:300px;
	height:250px;
}
.viewpost-image{
	width:550px;
}
.popnownext{
text-align: left;
width: 550px;
margin: 20px auto 0px;
}
.popnownext a{
display: block;
padding: 20px;
background-color: #fff;
border: 1px solid #ddd;
}
.popnownext a:hover{
	background-color:#eee;
}
.popnownext-imgholder{
	width:180px;
	height:100px;
	overflow:hidden;
	float:left;
}
.popnownext img{
width: 180px;
top: -25px;
position: relative;
min-height: 125px;
}
.popnownext-label{
font-size: 13px;
color: #999;
margin-bottom: 3px;
display:block;
margin-top:0px;
}
.popnownext-title{
float: left;
margin-left: 10px;
width: 310px;
}
.popnownext-title h3{
	margin:0px;
}
.followqm{
	height: 50px;
	border-bottom: #0085F7 1px solid;
	width: 550px;
	margin: 15px auto 0px;
}
.followqm h3{
	color: #0085F7;
	display: block;
	float: left;
	margin: 0px;
	margin-top: 15px;
}
.follow-love{
	float: left;
	margin-top: 15px;
}
.follow-love ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	float: left;
}
.follow-love ul li{
	float: left;
	margin-left: 10px;
}
.topposts-container{
	position: relative;
overflow: hidden;
min-height: 70px;
margin-bottom: 15px;
}
.topposts-container{
color: #999;
text-decoration: none;
font-size: 12px;
display: block;
position: relative;
min-height: 70px;
}
.topposts-container a{
color:#333;
font-weight:normal;
display: block;
height: 70px;
}
.topposts-container a:hover{
	color:#000;
}
.topposts-title{
	margin-left: 130px;
}
.topposts-title h3{
color: #333;
font-size: 13px;
line-height: 1.2em;
margin: 0 0 4px;
font-weight:normal;
padding: 5px 5px 5px 0px;
}
.topposts-imgholder{
	position: absolute;
top: 0;
left: 0;
background-color: #f4f4f4;
overflow: hidden;
width: 120px;
height: 70px;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
}
.topposts-imgholder img{
width: 120px;
display: block;
margin-top: -5px;
min-height: 75px;
}
.viewpost-info{
	position: relative;
	padding: 0px;
	width: 550px;
	margin: 0 auto;
	text-align: left;
	height:55px;
}
.viewpost-info .sharecounts{
height: 54px;
text-transform: uppercase;
overflow: hidden;
font-size: 11px;
float: left;
min-width: 50px;
}
.viewpost-info .sharecounts strong{
	display:block;
	font-size:18px;
}
.viewpost-info .share-buttons {
	float:left;
}
.viewpost-info .share-buttons ul{
float: left;
list-style-type: none;
margin: 10px 0;
padding-left: 10px;
margin-left: 5px;
border-left: 1px solid #ddd;
}
.viewpost-info .share-buttons ul li{
float: left;
margin-right: 5px;
}
.viewpost-info .share-buttons ul li a{
display: block;
width: 34px;
height: 34px;
text-indent: -999px;
overflow: hidden;
background-color: #f3f3f3;
border-radius: 3px;
}
.viewpost-info .share-buttons ul li a.shareonfb{
background:#3B5998 url(/images/fbtwitsocialicons.png) 3px 9px no-repeat;
}
.viewpost-info .share-buttons ul li a.shareonfb:hover{
background-color:#B1C0E3;
}
.viewpost-info .share-buttons ul li a.shareontwit{
background:#00ACED url(/images/fbtwitsocialicons.png) 7px -53px no-repeat;
}
.viewpost-info .share-buttons ul li a.shareontwit:hover{
background-color:#9CE5FE;
}
.viewpost-info .share-buttons ul li a.shareongp{
background:	#da4e3b url(/images/socialicons.png) 3px -88px no-repeat;
}
.viewpost-info .share-buttons ul li a.shareongp:hover{
background-color:#F2C0B9;
}
.viewpost-info .share-buttons ul li a.shareonpin{
background:	#CB1F27 url(/images/socialicons.png) 3px -28px no-repeat;
}
.viewpost-info .share-buttons ul li a.shareonpin:hover{
background-color:#F2A9AD;
}
.viewpost-info .share-buttons ul li a:hover{
	color:#8ca7dd;
}
.viewpost-user{
font-weight: normal;
font-size: 11px;
margin: 0px;
color: #999;
}
.viewpost-user a{
	color:#999;
}
.viewpost-user a:hover{
	color:#8ca7dd;
}
/* end viewpost page */

.post{
	background:#fff;
	display:block;
	padding-bottom:10px;
	margin-bottom:50px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	text-align:center;
	min-height:375px;
	box-shadow: 0 5px 5px -5px #ccc;
	-moz-box-shadow:0 5px 5px -5px #ccc;
	-webkit-box-shadow:0 5px 5px -5px #ccc;
	position:relative;
}

.post-header{
	position:relative;
	padding:15px 30px;
}

.action-box ul{
	overflow: hidden;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.action-box a {
	color:#999;
}
.vote-buttons ul li{
	margin-bottom:2px;
}
.voteup{
	display: block;
	background: url(/images/happyqm.png) center 8px no-repeat #E1E0DD;
	height: 50px;
	width: 60px;
	border-radius:0px 4px 4px 0px;
	-webkit-border-radius:0px 4px 4px 0px;
	-moz-border-radius:0px 4px 4px 0px;
	box-shadow: 1px 0 0 rgba(0,0,0,0.07) inset;
}
a.voteup:hover{
	background: url(/images/happyqm.png) center 8px no-repeat #FF8B60;
	color:#fff;
}
a.voteup.selected{
	background: url(/images/happyqm.png) center 8px no-repeat #FF8B60;
	color:#fff;
}
.voteup span{
	padding-top: 30px;
	display: block;
}

.votedown{
	display: block;
	background: url(/images/mehqm.png) center 8px no-repeat #E1E0DD;
	height: 50px;
	width: 60px;
	border-radius:0px 4px 4px 0px;
	-webkit-border-radius:0px 4px 4px 0px;
	-moz-border-radius:0px 4px 4px 0px;
	box-shadow: 1px 0 0 rgba(0,0,0,0.07) inset;
}
a.votedown:hover{
	background: url(/images/mehqm.png) center 8px no-repeat #9494FF;
	color:#fff;
}
a.votedown.selected{
	background: url(/images/mehqm.png) center 8px no-repeat #9494FF;
	color:#fff;
}
.votedown span{
	padding-top: 30px;
	display: block;
}
.facebook-share{
	display: block;
	width: 60px;
	height: 60px;
	background: url(/images/grayfb.png) center 10px no-repeat;
	border-radius: 0px 4px 4px 0px;
}
a.facebook-share:hover{
	background: url(/images/colorfb.png) center 10px no-repeat #D8DFEA;
	color:#3B579D;
}
a.facebook-share.selected{
	background: url(/images/colorfb.png) center 10px no-repeat #D8DFEA;
	color:#3B579D;
}
.facebook-share span{
	padding-top: 40px;
	display: block;
}
.create-button{
	display: block;
	width: 60px;
	height: 60px;
	background: url(/images/createdark.png) center 15px no-repeat;
}
a.create-button:hover{
	background: url(/images/createdarker.png) center 15px no-repeat;
	color:#222;
}
.create-button span{
	padding-top: 38px;
	display: block;
}
.share-more{
	display: block;
	width: 60px;
	height: 60px;
	background: url(/images/speachbubble.png) center 15px no-repeat;
}
a.share-more:hover{
	background: url(/images/speachbubbledark.png) center 15px no-repeat;
	color:#222;
}
.share-more span{
	padding-top: 38px;
	display: block;
}
.share-menu-dropdown{
	display:none;
}
h2.post-title{
	margin:0px;
	padding:0px;
	font-size:22px;
}

.post-image{
	width:460px;
}

.float-wrap{
	position:absolute;
	left:auto;
	right:-60px;
	top:10px;
	width:60px;
}
.recaption-wrap{
	width:170px;
	position:relative;
	margin:0 auto;
	padding-top: 5px;
}
.recaption-button{
	background:url(/images/recaptionwhite.png) 7px center no-repeat #8ca7dd;
	padding:7px;
	color:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	display:block;
	position:relative;
}
a.recaption-button:hover{
	background:url(/images/recaptionwhite.png) 7px center no-repeat #555;
	padding:7px;
	color:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	display:block;
	position:relative;
}
.recaption-button span{
	padding-left:25px;
}
.post-info{
	position: relative;
	padding: 0px;
	width: 460px;
	margin: 0 auto;
	text-align: left;
	height:55px;
}
.post-info .sharecounts{
height: 54px;
text-transform: uppercase;
overflow: hidden;
font-size: 11px;
float: left;
min-width: 50px;
}
.post-info .sharecounts strong{
	display:block;
	font-size:18px;
}
.share-buttons {
	float:left;
}
.share-buttons ul{
float: left;
list-style-type: none;
margin: 10px 0;
padding-left: 10px;
margin-left: 5px;
border-left: 1px solid #ddd;
}
.share-buttons ul li{
float: left;
margin-right: 5px;
}
.share-buttons ul li a{
display: block;
width: 34px;
height: 34px;
text-indent: -999px;
overflow: hidden;
background-color: #f3f3f3;
border-radius: 3px;
}
.share-buttons ul li a.shareonfb{
background:#3B5998	 url(/images/socialicons.png) 3px 4px no-repeat;
}
.share-buttons ul li a.shareonfb:hover{
background-color:#B1C0E3;
}
.share-buttons ul li a.shareontwit{
background:#00ACED	 url(/images/socialicons.png) 3px -58px no-repeat;
}
.share-buttons ul li a.shareontwit:hover{
background-color:#9CE5FE;
}
.share-buttons ul li a.shareongp{
background:	#F2C0B9 url(/images/socialicons.png) 3px -88px no-repeat;
}
.share-buttons ul li a.shareongp:hover{
background-color:#da4e3b;
}
.share-buttons ul li a.shareonpin{
background:	#F2A9AD url(/images/socialicons.png) 3px -28px no-repeat;
}
.share-buttons ul li a.shareonpin:hover{
background-color:#CB1F27;
}
.share-buttons ul li a:hover{
	color:#8ca7dd;
}
.cat-info{
float: left;
height: 54px;
overflow: hidden;
max-width: 230px;
}
.cat-info ul{
float: left;
list-style-type: none;
margin: 10px 0;
padding-left: 10px;
margin-left: 5px;
border-left:1px solid #ddd;
}
.cat-info ul li{
float: left;
margin-right: 5px;
}
.cat-info ul li a{
display: block;
height: 14px;
border-radius: 3px;
padding: 10px 0px;
color: #999;
font-size: 11px;
}
.cat-info ul li a:hover{
color: #8ca7dd;
}
.post-info a.heart{
	background: url(/images/heart.png) center left no-repeat;
	padding-left: 21px;
	border-left: none;
}
.img-holder{
	position:relative;
	overflow:hidden;
}

.img-holder span.play {
position: absolute;
top: 50%;
margin-top: -35px;
left: 50%;
margin-left: -30px;
height: 75px;
width: 79px;
text-indent: -999px;
overflow: hidden;
background: url(/images/playgif.png) no-repeat;
}
#page-next{
display: block;
height: 14px;
border-radius: 3px;
padding: 10px 0px;
background-color: #fff;
text-align:center;
width:520px;
}
#page-prev{
display: block;
height: 14px;
border-radius: 3px;
padding: 10px 0px;
background-color: #fff;
text-align:center;
width:520px;
margin-bottom:5px;
}
.cattitle{
background: #fff;
border-radius: 4px;
margin-top: 20px;
display: block;
color: #222;
padding: 5px 20px;
width: 480px;
text-align: center;
}
/*begin right column */

#right-sidebar{
	width:300px;
	float:right;
	padding:20px 0 0 20px;
	position:relative;
}
.side-block{
	width:300px;
	display:block;
	position:relative;
	margin-bottom:20px;
}
.fixed-block{
	position:fixed;
}
.ad-block{
	width:300px;
	height:250px;
	display:block;
	position:relative;
	margin-bottom:20px;
}
.social-block{
width: 390px;
padding: 5px 5px 0px;
display: block;
position: relative;
float: left;
height: 30px;
}
.social-block h3{
margin-bottom: 0px;
margin-top: 5px;
font-weight: normal;
color: #999;
float: left;
padding-right: 10px;
font: 12px Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;
}
.social-block .follow-fb{
width: 95px;
float: left;
height: 30px;
overflow: hidden;
margin-top: 2px;
}
.social-block .follow-twt{
display: block;
height: 30px;
margin-bottom: 0px;
float: left;
overflow: hidden;
margin-top: 2px;
width: 69px;
}
.social-block .follow-g{
height: 30px;
display: block;
float: left;
margin-top: 2px;
}
.social-block .follow-gplus{
	background: url(/images/googleplusicon.png) left center no-repeat;
	height:20px;
	display:block;
	width:20px;
}
/*end right column */

/* begin caption - submit page */
#contentmemes{
margin-top: 20px;
position: relative;
display: block;
width: 960px;
text-align: center;
margin: 20px auto;
float: left;
}
.memecapwrap{
position: relative;
width: 220px;
float: left;
height: 225px;
margin-right: 10px;
margin-bottom: 40px;
margin-left: 10px;
}
.memecaptitle{
position: relative;
text-align: center;
padding-bottom: 10px;
height: 13px;
overflow: hidden;
font-size: 12px;
font-weight: bold;
color: #222;
overflow:hidden;
}
.memecapimgholder{
position: relative;
width: 220px;
height: 200px;
overflow: hidden;
}
.memecapimgholder img{
width: 220px;
min-height: 200px;
cursor: pointer;
}
.memecapimgholder img:hover{
width: 225px;
min-height: 205px;	
}
.memecapimgholder:hover{
-moz-box-shadow: 0px 0px 5px #000;
-webkit-box-shadow: 0px 0px 5px #000;
box-shadow: 0px 0px 5px #000;
}

.makeoptions{
height: 50px;
display: block;
position: relative;
text-align: left;
margin-bottom: 20px;
background: #fff;
padding: 5px 10px;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
}
.meme-uploadwrap{
	float:left;
	margin-right:20px;
}
.meme-uploadwrap span{
margin-right: 10px;
color: #000;
font-weight: bold;
}
a.btn.size-30 {
height: 30px;
line-height: 30px;
padding: 0 10px;
border-radius: 3px;
font-size: 12px;
font-weight: bold;
cursor: pointer;
}
a.btn-custom-meme {
margin: 7px 0;
cursor: pointer;
}
a.btn {
background-color: #444;
display: inline-block;
cursor: pointer;
color:#fff;
}
.meme-uploadbtn{
	cursor:pointer;
}
#contentcaptioner{
display: block;
float: left;
width: 960px;
margin-top: 20px;
}
.captionedimg{
width: 580px;
float: left;
}
.captionswrap{
width: 360px;
float: right;
position: relative;
display: block;
}
#caption-title{
width: 320px;
height: 50px;
padding: 16px 18px;
border-radius: 4px;
border: 1px solid #ddd;
font: 20px/26px Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
background-color: #fff;
margin-bottom:20px;
}
#top-caption{
width: 320px;
height: 50px;
padding: 16px 18px;
border-radius: 4px;
border: 1px solid #ddd;
font: 20px/26px Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
background-color: #fff;
font-weight:bold;
margin-bottom:20px;
}
#bottom-caption{
width: 320px;
height: 50px;
padding: 16px 18px;
border-radius: 4px;
border: 1px solid #ddd;
font: 20px/26px Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
background-color: #fff;
font-weight:bold;
margin-bottom:20px;
}
.postnsfw{
	display:block;
	width:360px;
	float:left;
}
#canvas {
display: block;
margin: 0 auto;
max-width:580px;
}
#create-div input[type='button'] {
font-size: 18px;
font-weight: bold;
color: #fff;
width: 360px;
height: 60px;
line-height: 60px;
background-color: #0F8AFB;
border-radius: 3px;
margin-top: 10px;
border: none;
cursor: pointer;
}
#create-div input[type='button']:hover {
background-color: #0D6DD2;
}
#fileupload {
background-color: #f4f4f4;
height: 20px;
padding: 9px;
border: 1px solid #ddd;
border-radius: 3px;
margin: 6px 0;
box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
width:460px;
}
#imageurl {
background-color: #fff;
height: 20px;
padding: 9px;
border: 1px solid #ddd;
border-radius: 3px;
margin: 6px 0;
box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
width:460px;
}
#title {
background-color: #fff;
height: 20px;
padding: 9px;
border: 1px solid #ddd;
border-radius: 3px;
margin: 6px 0;
box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
width:460px;
height:50px;
}
#submitform{
width: 480px;
margin: 0 auto;
background: #fff;
padding: 20px;
border-radius: 4px;
}
/* end caption - submit page */

/* begin user profile page */
.userinfo{
background: #000;
border-radius: 4px;
margin-top: 20px;
display: block;
height: 190px;
color: #fff;
}
.userpicwrap{
float: left;
width: 120px;
text-align: center;
height: 150px;
background: #444;
padding: 20px;
border-radius: 4px 0px 0px 4px;
}
.userpicwrap img{
	width:120px;
	height:120px;
}
.userpicwrap h3{
	margin:5px 0px 0px;
}
.userstats{
	float: left;
margin-left: 20px;
padding: 20px;
}
.userstats h3{
	margin-top:0px;
}
/* end user profile page */

/*end page content */
