*{
	/*outline:1px solid red !important;*/
}

@media all and (max-width: 930px){
	#maincontentouter{
		display:none !important;
	}

	#content{
		width:100% !important;
		margin:0 !important;
		min-width:0 !important;
	}
	
	.table2 tr td,.table2 tr th,.table3 tr td,.table3 tr th{
		display:none;
	}
	
	.repo img{
		max-width:100% !important;
	}
	
	.repo,.torrentinfo td,a.molp{
		  word-break: break-word;
	}
	
	.fileline{
		word-wrap: break-word;
	}
	
	
	.table2 tr td:first-child,.table2 tr th:first-child,.table3 tr td:first-child,.table3 tr th:first-child{
		display:table-cell;
		border-right:0 !important;
		 
	}
	
	.table3 tr td:first-child,.table3 tr th:first-child{
		padding: 10px 0;
	 }
	
	.table3 {
		width: 100% !important;
	}
	
	.torrentinfo{
		float:none !important;
		  display: inline-block !important;
	}
	
	
	.tt-name{
		float:none !important;
	}
	
	.search_stat p,.search_stat a,.search_stat .active,.search_stat .disabled{
		display:inline-block !important;
	}
	
	form[name="f1"] input{
		width:97% !important;
	}
	
	form[name="f1"] textarea{
		width:97% !important;
	}
	
	.tt-options{
		display:none !important;
	}
	
	.tt-name .csprite_dl14{
		display:none !important;
	}
	
	.tt-name a{
		display:block;
	}
	
	
	#headerleft{
		float:none !important;
	}
	
	#logo{
		width:100% !important;
		margin:0 !important;
		padding-top:10px;
		
	}
	
	#logo p{
		margin-left:0 !important;
		display:none !important;
	}
	
	.csprite_logo{
		width:auto !important;
		max-width:390px !important;
		margin:0 auto !important;
	}
	
	#header{
		height:auto !important;
		float:none !important;
		background: rgb(205, 229, 161) !important;
		width:auto !important;
	}
	
	.recentsearch a{
		word-wrap: break-word;		
	}
	
	#search{
		width:auto !important;
		float:none !important;
		margin-left:0 !important;
		padding: 0 10px !important;
		height: auto !important;
	}
	
	#searchfieldouter{
		margin:0 !important;
		padding:0 !important;
	}
	
	#searchdiv{
		float:none !important;
		background: white !important;
		border:1px solid gray !important;
		height: auto !important;
		width:auto !important;
	}
	.searchfield{
		width: auto !important;
		display: block;
	}
	
	
	#searchbutton{
		float:none !important;
		height: auto !important;
		margin: 0 auto;
		padding: 10px 0;
	
	}
	
	.torrentvoting{
		display:none !important;
	}
	
}