@charset "utf-8";
/* CSS Document */
.site-hey .media-inf.mid{
	z-index: 1;
}

.site-hey div.md.hspacegrid .gdu.u2-4{
	width: 316px;
}

.site-hey div.hspacehey{
    margin-left: 10px;
    margin-right: 10px;
}

.site-hey div.gdu.u2-4.u-last div.md.hspace.item{
	margin-left: 5px;
}

.site-hey div.md.hspace figcaption.media-desc {
	/*position: absolute;*/
	height: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	/*top: 212px;*/
	padding: 6px 12px 8px;
	text-align: center;
	background-color: #000;
	background-color: rgba(0,0,0,.8);
}
	
.site-hey div.md.hspace.hcustom figure.mg {
	position: relative;
	width:315px;
}

.site-hey div.md.hspace figure.mg a.lnk{
	display: block;
	font-family: "UtopiaBold",serif;
	font-size: 20px;
	line-height: 100%;
	color: #dfa520;
}

.site-hey div.md.hspace figure.mg div.mt {
	position: absolute;
	top: -5px;
	left: 80px;
	width: 120px;
	margin: 5px;
	padding: 5px;
	background: #b4151b;
	color: #FFF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	text-align:center;
	border-bottom-left-radius: 5px;;
	font-size:12px;
}

.site-hey div.md.hspace figure.mg div.mt h1.kicker.fgc2 a.lnk{
	color: #FFF;
	text-decoration: none;
	font-size:12px;
	text-transform: uppercase;
}

/*Long Square*/
.site-hey div.md.hspaceLong figcaption.media-desc {
	/*position: absolute;*/
	height: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	/*top: 517px;*/
	padding: 6px 12px 8px;
	text-align: center;
	background-color: #000;
	background-color: rgba(0,0,0,.8);
}
	
.site-hey div.md.hspaceLong figure.mg {
	position: relative;
	/*height: 595px*/
}

.site-hey div.md.hspaceLong figure.mg a.lnk{
	display: block;
	font-family: "UtopiaBold",serif;
	font-size: 20px;
	line-height: 100%;
	color: #dfa520;
}

.site-hey div.md.hspaceLong figure.mg div.mt {
	position: absolute;
	top: -5px;
	left: 80px;
	width: 120px;
	margin: 5px;
	padding: 5px;
	background: #b4151b;
	color: #FFF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	text-align:center;
	border-bottom-left-radius: 5px;;
	font-size:12px;
}

.site-hey div.md.hspaceLong figure.mg div.mt h1.kicker.fgc2 a.lnk{
	color: #FFF;
	text-decoration: none;
	font-size:12px;
	text-transform: uppercase;
}

/* END LONG SQUARE */ 

/* BIG SQUARE */

.site-hey div.md.hspaceBig figcaption.media-desc {
	position: absolute;
	height: auto;
	bottom: 0;
	left: 0;
	right: 0;
	top: 435px;
	padding: 6px 12px 8px;
	text-align: center;
	background-color: #000;
	background-color: rgba(0,0,0,.8);
}
	
.site-hey div.md.hspaceBig figure.mg {
	position: relative;
	width: 100%;
	height: 516px;
}

.site-hey div.md.hspaceBig figure.mg a.lnk{
	display: block;
	font-family: "UtopiaBold",serif;
	font-size: 28px;
	line-height: 100%;
	color: #dfa520;
}

.site-hey div.md.hspaceBig figure.mg div.mt {
	position: absolute;
	top: -5px;
	left: 245px;
	width: 120px;
	margin: 5px;
	padding: 5px;
	background: #b4151b;
	color: #FFF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	border-bottom-left-radius: 5px;
	font-size: 12px;
}

.site-hey div.md.hspaceBig figure.mg div.mt h1.kicker.fgc2 a.lnk{
	color: #FFF;
	text-decoration: none;
	font-size:12px;
	text-transform: uppercase;
}

/* END BIG SQUARE */


/* CARTELERA */
	
.site-hey div.md.hspaceCart figure.mg {
	position: relative;
	width: 634px;
	margin: 0 17px 6px;
	height: auto;
}

.site-hey div.md.hspaceCart .media-inf {
	display: block;
	position: absolute;
	left: 5px;
	bottom: 58px;
	overflow: hidden;
	line-height: 6em;
	text-indent: -666em;
	background: url(images/bg-spr_common.png) no-repeat;
}


/* END CARTELERA */


/* ENCUESTRA */
	
.site-hey div.md.hspaceEnc figure.mg {
	position: relative;
	width: 280px;
	height: 220px;
	background: url(images/headerEnc.jpg) repeat-x top #232323;
	color: #FFFFFF;
	margin-top: 0;
	margin-right: 17px;
	margin-bottom: 6px;
	margin-left: 17px;
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 10px;
}
.site-hey div.md.hspaceEnc figure.mg div.mt {
	position: absolute;
	top: -5px;
	left: 80px;
	width: 120px;
	margin: 5px;
	padding: 5px;
	background: #f4a200;
	color: #FFF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	border-bottom-left-radius: 5px;
	font-size: 12px;
}

.site-hey div.md.hspaceEnc figure.mg div.mt h1.kicker.fgc2 a.lnk{
	color: #FFF;
	text-decoration: none;
	font-size:12px;
	text-transform: uppercase;
}

.site-hey div.md.hspaceEnc figure.mg a.lnk{
	display: block;
	font-family: "UtopiaBold",serif;
	font-size: 20px;
	line-height: 100%;
	color: #dfa520;
}

.site-hey .squaredFour {
	width: 20px;	
	margin-bottom: 10px;
	position: relative;
	float:left;
}

.site-hey .squaredFour label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	background: #f2f2f2;
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e7e7e7 40%, #e7e7e7 100%);
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e7e7e7 40%, #e7e7e7 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%, #e7e7e7 40%, #e7e7e7 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%, #e7e7e7 40%, #e7e7e7 100%);
	background: linear-gradient(top, #f2f2f2 0%, #e7e7e7 40%, #e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#b3bead',GradientType=0 );
	left: 1px;
}

.site-hey .squaredFour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.site-hey .squaredFour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.site-hey .squaredFourContext {
	width: 242px;	
	margin-bottom: 10px;
	position: relative;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	margin-left:10px;
}

.site-hey .squaredFourConbtn {
	width: 242px;	
	margin-bottom: 10px;
	position: relative;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	margin-left:0px;
}

.site-hey .ContadorVotos {
	width: 250px;	
	margin-bottom: 10px;
	position: relative;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:10px;
	margin-left:0px;
}

.site-hey .iconten {
	width:280px;
	height:150px;
	margin-left:15px;
	margin-right:15px;
	margin-top:15px;
	color:#FFF;
}

/* END ENCUESTRA */



.site-hey .cartelera {
	float: left;
	height: 350px;
	width: 638px;
	margin: 5px auto;
}
.site-hey .carteleraHeader {
	background-image: url(images/carteleraHeader.jpg);
	height: 52px;
	width: 638px;
}
.site-hey .carteleraContent {
	float: left;
	height: 298px;
	width: 638px;
}


/* BIG SQUARE
.hspaceHeader figcaption.media-desc {
	position: absolute;
	height: auto;
	bottom: 0;
	left: 0;
	right: 0;
	top: 445px;
	padding: 6px 12px 8px;
	text-align: center;
	background-color: #000;
	background-color: rgba(0,0,0,.8);
	width: 610px;
}
	
.hspaceHeader figure.mg {
	position: relative;
	width: 651px;
	height: 445px;
	margin-top: 0;
	margin-right: 17px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.hspaceHeader figure.mg a.lnk{
	display: block;
	font-family: "UtopiaBold",serif;
	font-size: 28px;
	line-height: 100%;
	color: #dfa520;
}

.hspaceHeader figure.mg div.mt {
	position: absolute;
	top: -5px;
	left: 245px;
	width: 120px;
	margin: 5px;
	padding: 5px;
	background: #b4151b;
	color: #FFF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	border-bottom-left-radius: 5px;
	font-size: 12px;
}

.hspaceHeader figure.mg div.mt h1.kicker.fgc2 a.lnk{
	color: #FFF;
	text-decoration: none;
	font-size:12px;
	text-transform: uppercase;
}
 */
/* END BIG SQUARE */

.site-hey .upHeader{
	background:#232323;
	height: 445px;
}

/*Manuel Salas MILHeyTitularesBMO*/
.site-hey .mhey-titulares{
	background-color: #131313;
	overflow: hidden;
	margin:0 -3px;
}
.site-hey .mhey-titulares .headline.small{
	height:130px;
	margin-top: 15px;
	text-align: center;
}
.site-hey .mhey-titulares .headline.small .lnk{
    color: #dfa520;
    font-family: "UtopiaSemibold",serif;
    line-height: 110%;
    font-size: 32px;
}
.site-hey .mhey-titulares .headline.mt{
	font: 11px/1.1 Arial,Helvetica,sans-serif;
	margin:0;

}
.site-hey .mhey-titulares .headline{
    color: #dfa520;
    font-family: "UtopiaSemibold",serif;
    line-height: 110%;
}

.site-hey .mhey-titulares .headline .lnk {
    color: #EEEEEE;
    font-size: 14px;
}
.site-hey .mhey-titulares .mg {
    margin-right: 10px;
}
.site-hey .mhey-titulares .mt {
    position:relative;
    padding: 0px 20px;
}
.site-hey .mhey-titulares .item {
    border-bottom: 1px solid #ffb200;
    padding: 10px 0;
    position: relative;
    background-color: #131313;
}
.site-hey .mhey-titulares .item:last-child {
	border-top: 0;
    border-bottom: 0;
}

.site-hey .mhey-titulares div.section {
    background: none repeat scroll 0 0 #B4151B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    left: 80px;
    margin: 5px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: -5px;
    width: 120px;
}
/*END Manuel Salas MILHeyTitularesBMO*/
/*BEGIN Manuel Salas MILHeyPorSiTeLoPerdiste*/
.site-hey  div.porsiteloperdiste .col{
 	width: 214px;
 }

.site-hey  div.porsiteloperdiste div.column{
 	float:left;
 	width:214px;
 	height: 435px;
 }
.site-hey  div.porsiteloperdiste div.column.middle{
	border:1px solid #666;
	border-bottom:none;
	border-top:none;
 }
.site-hey  div.porsiteloperdiste li{
 	min-height: 145px;
 	width: 214px;
 	float:left;
 	position: relative;
 }
.site-hey  div.porsiteloperdiste li figcaption.media-desc a.lnk{
 	color: #DFA520;
    display: block;
    font-family: "AmplitudeRegular",serif;
    font-size: 14px;
    line-height: 16px;
 }
.site-hey  div.porsiteloperdiste li figcaption.media-desc{
 	height: 60px;
 	float:left;
 	opacity:.75;
 	background-color: #000;
 	margin: -65px 0px;
 	padding:5px 5px 0px;
 	line-height: 18px;
 	width:204px;
 	position: relative;
 	text-align: center;
 }
.site-hey  div.porsiteloperdiste li.middle{
 	background: url("../images/milheycontentbmo_porsiteloperdiste_centro.jpg") no-repeat;
 	height: 145px;
 }

.site-hey div.porsiteloperdiste .media-inf.mid.gal{
	background-position: -1px -734px;
}

/*END Manuel Salas MILHeyPorSiTeLoPerdoste*/

/*GENERAL*/
.site-hey 	.section .bkn.headline.kicker.fgc2{
		font-family: "UtopiaBold", serif;
		font-size: 13px;
		color: #FFF;
		text-transform: uppercase;
	}
/*END GENERAL*/

/*BEGIN MILHeyFirmasBMO  by lenchux */
.site-hey div.md.hspaceFir {
	background: url("../../MILMilenio/images/mil_bg-mask-diag-stripe_sk-md3.png");
	width:643px;
}

.site-hey div.md.hspacegrid .md.hspace{
	margin: 0;
	padding: 0;
	width: 315px;
	margin-top: 15px;
}

.site-hey div.md.hspaceFir .mg.signings {
	background: url('../../MILMilenio/images/headerEnc.jpg') repeat-x top #232323;
	color: #FFFFFF;
	/*padding: 0 10px;*/
}

.site-hey div.md.hspaceFir .mg.signings div.mt.signings {	
	top: -5px;
	left: 263px;
	width: 96px;
	margin: 5px;
	padding: 5px;
	background: #f4a200;
	color: #FFF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	border-bottom-left-radius: 5px;
	font-size: 12px;
	position: relative;
	z-index: 99999;
}

.site-hey div.md.hspaceFir .mg.signings div.mt.signings .kicker.fgc2 .lnk{
	color: #000000;
	font-family: "UtopiaBold",serif;
	text-transform: uppercase;
	font-size: 13px;
}

.site-hey div.md.hspaceFir .hcaruselFir ul {
  margin: 0;
  /*padding: 10px 15px;*/
  list-style: none;
  display: block;
}
  
.site-hey div.md.hspaceFir .hcaruselFir li {
  display: block;
  float: left;
  padding: 0;
  height: 142px;

}
.site-hey div.md.hspaceFir .hcaruselFir li .md-itemdx-oped .authorship .author.fgc2{
	width: 135px;
	margin-top: 10px;
}

.site-hey div.md.hspaceFir .hcaruselFir li .md-itemdx-oped .authorship .author.fgc2 .lnk{
	color: #999;
	font-size: 18px;
	text-decoration: none;
}

.site-hey div.md.hspaceFir .hcaruselFir li .md-itemdx-oped .weblog{
	color: #999;
	font-size: 10px;
	text-decoration: none;
    font-family: AmplitudeRegular,serif;
}
.site-hey div.md.hspaceFir .hcaruselFir li .md-itemdx-oped .entry-short{
	padding-top: 5px;
	width: 150px;
}

.site-hey div.md.hspaceFir .hcaruselFir li .md-itemdx-oped .entry-short .lnk{
	color: #FFF;
	text-decoration: none;
}

.site-hey div.md.hspaceFir .md-scr-columnists .scr-container{
	height: 142px;
}

.site-hey .twice-carousel .carousel-strip{
    clear: both;
    margin-top: -30px;
    overflow: hidden;
}

.site-hey .twice-carousel .carousel-strip.scr-container{
	background: none;
}

.site-hey .twice-carousel .carousel-strip .sl-nav a{
	height: 22px;
  margin-top: -11px;
  width: 22px;
	background: url('../../MILMilenio/images/bg-spr_common.png');
	border-radius: 2px 2px 2px 2px;
  margin: 0 -5px;
  overflow: hidden;
  position: absolute;
  top: 40%;
  background-color: #DFA520;
}

.site-hey .twice-carousel .carousel-strip .sl-nav .prev{
	background-position: -1px -423px;
	left: 0;
}

.site-hey .twice-carousel .carousel-strip .sl-nav .next{
	background-position: -24px -423px;
	right: 0;
}

/*END MILHeyFirmasBMO  by lenchux */


/*BEGIN MILHeySingningsSidebarBMO  by lenchux */
.site-hey div.hspaceFirSidebar {
	border-radius: 3px 3px 3px 3px;
	margin: 5px;
  width: 320px;
  position: relative;
}

.site-hey div.hspaceFirSidebar .mg.signings-1col {
	color: #000;
}


.site-hey div.hspaceFirSidebar .hcaruselFir1 ul {
  margin: 0;
  list-style: none;
  display: block;
}
  
.site-hey div.hspaceFirSidebar .hcaruselFir1 li {
  display: block;
  float: left;
  padding: 0;
  width: 310px;
  height: 300px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin-left: 5px;
}

.site-hey div.hspaceFirSidebar .hcaruselFir1 .md-itemdx-oped.md{
  background: none repeat scroll 0 0 #DFA520;
  border-radius: 3px 3px 3px 3px;
  margin-left: -3px;
  margin-top: 3px;
  width: 316px;
}

.site-hey div.hspaceFirSidebar .hcaruselFir1 .bkn.headline.small{
	margin-left: 10px;
}

.site-hey div.hspaceFirSidebar .hcaruselFir1 .md-itemdx-oped.md .mt{
	float: left;
	margin-left: 15px;
	width: 220px;
}

.site-hey div.hspaceFirSidebar .hcaruselFir1 li .md-itemdx-oped .authorship .author.fgc2 .lnk{
	font-family: AmplitudeLight,serif;
	font-size: 26px;
	text-decoration: none;
  color:#000;
}

.site-hey div.hspaceFirSidebar .hcaruselFir1 li .md-itemdx-oped .authorship .weblog{
	font-size: 26px;
	text-decoration: none;
  font-family: AmplitudeBold,serif;
  margin-bottom: -10px;
}


.site-hey div.hspaceFirSidebar .hcaruselFir1 li h3.entry-short .lnk{
	color: #b91700;
	font-family: UtopiaBold, serif;
	text-decoration: none;
	font-size: 20px;
}

.site-hey div.hspaceFirSidebar .hcaruselFir1 li .container .md-itemdx-oped .pict{
	margin-top: -3px;
}

.site-hey div.hspaceFirSidebar .hcaruselFir1 li figure.pict.content{
	float: left;
	border: 3px solid #FFF;
	margin-right: 3px; 
}

.site-hey div.hspaceFirSidebar .hcaruselFir1 li .summary p{
	color: #58585a;
	font-family: "Arial Regular", serif;
	font-size: 13px;
	display: table;
	width: 200px;
	padding: 5px 15px;
}

.site-hey .once-carousel .carousel-strip{
	  clear: both;
}

.site-hey .once-carousel .carousel-strip .sl-nav a{
	height: 22px;
  margin-top: -11px;
  width: 22px;
	background: url('../../MILMilenio/images/bg-spr_common.png');
	border-radius: 2px 2px 2px 2px;
  margin: 0 -5px;
  overflow: hidden;
  position: absolute;
  top: 40%;
  background-color: #DFA520;
}

.site-hey .once-carousel .carousel-strip .sl-nav .prev{
	background-position: -1px -423px;
	left: 7px;
}

.site-hey .once-carousel .carousel-strip .sl-nav .next{
	background-position: -24px -423px;
	right: 6px;
}
.site-hey .once-carousel.md-scr-columnists .scr-container{
	height: 310px;
}
.site-hey .once-carousel.md-scr-columnists .md-planetajairo{
	background: none;
}

.site-hey .barrita{
	background: none repeat scroll 0 0 red;
  height: 50px;
  margin-left: -3px;
  width: 320px;
  z-index: -1;
}


/*MILHeyHome  por si te lo perdiste by lenchux*/

div.md-heyhome {
		background: #DFA51F !important;
}

div.md-heyhome .bd{
	border-color: #DFA51F;
}

div.md-heyhome .bd li{
 	float:left;
 	position: relative;
 	margin: 5px;
}
div.md-heyhome.sk-md1 .hd{
	background: none !important;
	border-top: none !important;
}

div.md-heyhome.md .hd .inner_hey:before, div.md-heyhome.md .hd .inner_hey:after {
    content: "";
    display: table;
}
div.md-heyhome.md .hd .inner_hey:after {
    clear: both;
}
div.md-heyhome.md .hd .inner_hey:before, div.md-heyhome.md .hd .inner_hey:after {
    content: "";
    display: table;
}

div.md-heyhome.sk-md1 .hd .inner_hey {
  background-color: #333333 !important;
  border:none !important;
  border-radius: 3px 3px 0 0 !important;
  margin: -5px -9px;
  height: 41px;
}

div.md-heyhome.sk-md1 .hd .inner_hey a.lnk.showmore {
	color: #FFFFFF;
}

div.md-heyhome.sk-md1 .hd .inner_hey .hey-logo {
    /*background: url("../images/logohey.png") no-repeat scroll 0 -11px transparent;*/
    background: url("/static/MILMilenio/images/hey/hey_bg-spr_logos.png") no-repeat scroll transparent;
    clip: rect(0px, 292px, 177px, 0px);
    display: block;
    height: 90px;
    margin-bottom: -54px;
    overflow: hidden;
    position: relative;
    text-indent: -666em;
    top: -16px;
    width: 250px;
    z-index: 1;
    left: -10px;
    background-position: 0px -223px;
}

div.md-heyhome.sk-md1 .hd, div.md-heyhome.sk-md1 .hd .inner_hey {
    padding: 5px 9px;
}

div.md-heyhome.sk-md1 .hd{
    margin: -1px;
}

div.md-heyhome .bd li figcaption.media-desc a.lnk{
 	color: #DFA520;
  display: block;
  font-family: "AmplitudeRegular",serif;
  font-size: 20px;
  line-height: 20px;
}

div.md-heyhome .bd li .picture figure.mg{
	background: #DFA51F !important;
}

div.md-heyhome .bd li figcaption.media-desc{
 	height: 60px;
 	float:left;
 	opacity:.75;
 	background-color: #000;
 	margin: -65px 0px;
 	padding:5px 5px 0px;
 	line-height: 20px;
 	width: 312px;
 	position: relative;
 	text-align: center;
}

div.md-heyhome .bd li figcaption.media-desc h3{
	margin: 3px 15px;
}

div.md-heyhome .bd .media-inf.mid.gal{
	background-position: -1px -734px;
}

/******************************************************/
/************ Estilando a la Rigo Tovar ***************/
/******************* by lenchux ***********************/
/******************************************************/

.site-hey .page-wrap .rg-header .media-bar{
	margin-bottom:22px;	
}

.site-hey .md-listing-item {
    border-top: 3px solid #DFA520;s
}


.site-hey .pullquote p {
    border: 1px solid #DFA520;
}

.site-hey .brd-t, .site-hey .brd2-t {
    border-top-color: #DFA520;
}


.site-hey .gd-wrap.bordered {
    padding: 0 0 10px 0;
}

.site-hey .md-browse-index .index-title {
    display: none;
}

.site-hey .brd-t, .site-hey .brd2-t {
    border-top-color: #DFA520;
}

.site-hey .az-results .tag {
    color: #DFA520;
}

#cboxWrapper.site-hey #cboxClose {
    background: url("../images/bg-spr_common.png") no-repeat scroll -406px -133px transparent;
    height: 32px;
    right: 21px;
    top: 24px;
    width: 32px;
}

/*Test*/
/*Custom for live block by Lenchux*/

.site-hey .md-mtv-watch-live.hspace.md .media-inf {
	position: inherit;
}

.site-hey .md-mtv-watch-live.hspace.md figure.mg a.lnk {
	color: inherit;
}
