.flex_wrap{
    display: flex;
    align-items: center;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
}
#confetti{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.auth_loader_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.7);
}

.auth_back_arrow {
    position: absolute;
    left: 16px;
    top: 16px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
    transition: 0.2s;
    width: 24px;
    height: 24px;}
.auth_back_arrow:hover {
    transition: 0.2s;
    color: #fd764a; }

.auth_back_arrow2 {
    position: absolute;
    left: 40px;
    top: 6px;
    font-size: 28px;
    cursor: pointer;
    color: #000;
    transition: 0.2s; }
.auth_back_arrow2:hover {
    transition: 0.2s;
    color: #fd764a; }

.auth_container_modal {
    width: 390px;
    margin: 0 auto; }

.auth_container {
    border: solid 1px rgba(32, 35, 56, 0.1);
    background-color: #ffffff;
    position: relative;
    /*width: 384px;*/
    border-radius: 10px;
    /*opacity: 0;*/
    min-height: 420px;
    margin: 16px auto;
    width: 384px;
    padding-bottom: 60px;
    box-shadow: 0 2px 4px 0 rgba(32, 35, 56, 0.1);
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";}

.auth_container.anim-open {
    -webkit-animation-name: anim-open;
    animation-name: anim-open;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s; }

.auth_container.anim-close {
    -webkit-animation-name: anim-close;
    animation-name: anim-close; }

.auth_logo {
    margin: 0 auto;
    text-align: center;
    /*width: 96px;
    height: 36px;

    background: url("//st.biglion.ru/v3/img/auth/logo-text.svg");
    background-size: contain;*/ }
.auth_logo.elem-anim-open {
    -webkit-animation: anim-elem 0.3s both;
    animation: anim-elem 0.3s both;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s; }

.auth_header {
    margin-top: 34px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14;
    color: #202438; }
.auth_header.elem-anim-open {
    -webkit-animation: anim-elem 0.3s both;
    animation: anim-elem 0.3s both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.block_subheader2 {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    color: rgba(32, 36, 56, 0.4);
    margin: 20px 0 24px 0; }
.block_subheader {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    color: rgba(32, 36, 56, 0.4);
    margin: 20px 0 24px 0; }
.block_subheader::before {
    display: inline-block;
    content: '';
    width: 32px;
    height: 1px;
    background-color: rgba(32, 35, 56, 0.05);
    vertical-align: middle;
    margin-right: 18px; }
.block_subheader::after {
    display: inline-block;
    content: '';
    width: 32px;
    height: 1px;
    background-color: rgba(32, 35, 56, 0.05);
    vertical-align: middle;
    margin-left: 18px; }

.auth_form {
    padding-left: 48px;
    padding-right: 48px; }
.auth_form .string_input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 16px auto;
    height: 50px;
    border-radius: 4px;
    border: solid 1px rgba(32, 35, 56, 0.2);
    text-align: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    outline: none;
    background-position: 16px center;
    background-repeat: no-repeat;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";

}
.auth_form .string_input::-webkit-input-placeholder {color:rgba(32, 36, 56, 0.4);}
.auth_form .string_input::-moz-placeholder          {color:rgba(32, 36, 56, 0.4);}
.auth_form .string_input:-moz-placeholder           {color:rgba(32, 36, 56, 0.4);}
.auth_form .string_input:-ms-input-placeholder      {color:rgba(32, 36, 56, 0.4);}

.auth_form .string_input.auth_form .string_input:hover{
    border: solid 1px rgba(32, 35, 56, 0.4);
}
.auth_form .has-error .string_input{
    border: 1px solid #ff4355;  }
.auth_form .has-success .string_input{
    border: 1px solid #43d167;  }

.auth_form .string_input:active,
.auth_form .string_input:focus {
    border: solid 1px #1b68ff;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px #1b68ff;
}
.auth_form .has-error .string_input.email {
    background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24-err.svg");
    background-size: 16px 12px; }
.auth_form .has-error .string_input.pass {
    background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24-err.svg");
    background-size: 14px 17px; }
.auth_form .has-error .string_input.name {
    background-image: url("//st.biglion.ru/v3/img/auth/iconname-24-err.svg");
    background-size: 18px 18px; }

.auth_form .has-success .string_input.email {
    background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24-suc.svg");
    background-size: 16px 12px; }
.auth_form .has-success .string_input.pass {
    background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24-suc.svg");
    background-size: 14px 17px; }
.auth_form .has-success .string_input.name {
    background-image: url("//st.biglion.ru/v3/img/auth/iconname-24-suc.svg");
    background-size: 18px 18px; }


.auth_form .string_input.email {
    background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24.svg");
    background-size: 16px 12px; }
.auth_form .string_input.pass {
    background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24.svg");
    background-size: 14px 17px; }
.auth_form .string_input.name {
    background-image: url("//st.biglion.ru/v3/img/auth/iconname-24.svg");
    background-size: 18px 18px; }
.auth_form .string_input.promo {
    background-image: url("//st.biglion.ru/v3/img/auth/iconpromocode-24.svg");
    background-size: 26px 23px; }
.auth_form .string_input.hidden {
    display: none; }

.auth_mail_block .auth_mail_header.block_subheader {
    margin: 12px 0 24px 0; }
.auth_mail_block.elem-anim-open {
    -webkit-animation: anim-elem 0.3s both;
    animation: anim-elem 0.3s both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }

.auth_switch_block,
.auth_switch_block2{
    text-align: center;
    margin: 32px 0 0 0; }
.auth_switch_block.elem-anim-open,
.auth_switch_block2.elem-anim-open{
    -webkit-animation: anim-elem 0.3s both;
    animation: anim-elem 0.3s both;
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s; }
.auth_switch_block span,
.auth_switch_block2 span{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #202438; }
.auth_switch_block span a, .auth_switch_block span.show_promo {
    cursor: pointer;
    color: #fd764a;
    text-decoration: none;
    transition: 0.25s; }
.auth_switch_block2 span a {
    /*color: #fd764a;*/
    text-decoration: none;
    transition: 0.25s; }
.auth_switch_block span a:hover {
    text-decoration: none;
    color: #bf481f;
    transition: 0.25s; }
.auth_switch_block2 span a:hover{
    background: #e86d41;
    color: #fff;
    transition: 0.25s;

}
.auth_terms_block{
    margin-top: 43px;
}
.auth_terms_block.elem-anim-open {
    -webkit-animation: anim-elem 0.3s both;
    animation: anim-elem 0.3s both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
.auth_terms_block .auth_center_divider {
    display: block;
    margin: 0 auto;
    width: 117px;
    height: 1px;
    background-color: rgba(32, 35, 56, 0.05); }
.auth_terms_block .auth_terms {
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
    color: rgba(43, 49, 72, 0.4);
    margin: 16px 0; }
.auth_terms_block .auth_terms a {
    font-weight: 700;
    color: rgba(43, 49, 72, 0.4);
    text-decoration: none; }

.auth_notice {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    /*z-index: 999;*/
    margin: 16px auto 0 auto;
    box-sizing: border-box;
    width: 390px; }
.auth_notice.error {
    background-color: #ff4355;
    opacity: 1;
    height: auto;
    transition: 0.3s; }
.auth_notice.warning {
    background-color: #ff7642;
    opacity: 1;
    height: auto;
    transition: 0.3s; }
.auth_notice.msg {
    background-color: #43d167;
    opacity: 1;
    height: auto;
    transition: 0.3s; }
.auth_notice.hidden {
    opacity: 0;
    height: 0;
    transition: 0.3s;
    margin: 0;
    padding: 0; }
.auth_notice .notice_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    color: rgba(32, 35, 56, 0.8);
    font-size: 20px;
    cursor: pointer; }
.auth_notice .notice_txt {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    text-align: center;
    color: #ffffff; }

.auth_notice_flashes {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    /*z-index: 999;*/
    margin: 16px auto 0 auto;
    box-sizing: border-box;
    width: 390px; }
.auth_notice_flashes.error {
    background-color: #ff4355;
    opacity: 1;
    height: auto;
    transition: 0.3s; }
.auth_notice_flashes.warning {
    background-color: #ff7642;
    opacity: 1;
    height: auto;
    transition: 0.3s; }
.auth_notice_flashes.msg {
    background-color: #43d167;
    opacity: 1;
    height: auto;
    transition: 0.3s; }
.auth_notice_flashes.hidden {
    opacity: 0;
    height: 0;
    transition: 0.3s;
    margin: 0;
    padding: 0; }
.auth_notice_flashes .notice_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    color: rgba(32, 35, 56, 0.8);
    font-size: 20px;
    cursor: pointer; }
.auth_notice_flashes .notice_txt {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    text-align: center;
    color: #ffffff; }


.recaptcha_resize {
    transform-origin: left;
    transform: scale(0.955);
    margin-top: 16px;}
.link-btn{
    display: inline-block;
    text-decoration: none;}
.link-btn:hover,
.link-btn:active{
    color: #fff;
}
.btn_wrap {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.btn-round {
    display: inline-block;
    padding: 0 56px;
    height: 52px;
    border-radius: 100px;
    background-color: #ff7642;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 52px;
    border: 0;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.2s; }
.btn-round.disabled {
    color: rgba(32, 36, 56, 0.2);
    background-color: rgba(32, 35, 56, 0.05); }
.btn-round:hover{
    background-color: #e86d41;
    transition: 0.2s;
}
.btn-round:active{
    background-color: #d26540;
    transition: 0.1s;
}
.instructions {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    color: rgba(32, 36, 56, 0.8);
    margin-top: 20px;
    padding: 0 20px; }
.instructions.elem-anim-open {
    -webkit-animation: anim-elem 0.3s both;
    animation: anim-elem 0.3s both;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s; }
.user_avatar{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #f1f1f1;
    margin: 24px auto 14px auto;
    background-size: contain;

}

@media screen and (max-width: 480px) {
    /*.auth_loader_wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255,255,255,0.7);
    }*/

    .auth_back_arrow {
        position: absolute;
        left: 16px;
        top: 16px;
        font-size: 24px;
        cursor: pointer;
        color: #000;
        transition: 0.2s;
        width: 24px;
        height: 24px;}
    .auth_back_arrow:hover {
        transition: 0.2s;
        color: #fd764a; }

    .auth_back_arrow2 {
        position: absolute;
        left: 40px;
        top: 6px;
        font-size: 28px;
        cursor: pointer;
        color: #000;
        transition: 0.2s; }
    .auth_back_arrow2:hover {
        transition: 0.2s;
        color: #fd764a; }

    .auth_container_modal {
        width: 100%;
        margin: 0 auto; }

    .auth_container {
        box-shadow: none;
        border: 0;
        background-color: #ffffff;
        position: relative;
        /*width: 384px;*/
        border-radius: 0;
        /*opacity: 0;*/
        min-height: 420px;
        height: auto;
        margin: 16px auto;
        width: 100%;
        font-variant-numeric: lining-nums;
        -moz-font-feature-settings: "lnum";
        -webkit-font-feature-settings: "lnum";
        font-feature-settings: "lnum";}

    .auth_logo {
        margin: 0 auto;
        text-align: center;
        /*width: 96px;
        height: 36px;
        
        background: url("//st.biglion.ru/v3/img/auth/logo-text.svg");
        background-size: contain;*/

    }
    .auth_logo a img{
        width: 30%;
        height: auto;
    }
    .auth_logo.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.35s;
        animation-delay: 0.35s; }

    .auth_header {
        margin-top: 34px;
        text-align: center;
        font-family: 'Raleway';
        font-size: 28px;
        font-weight: 700;
        line-height: 1.14;
        color: #202438; }
    .auth_header.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; }
    .block_subheader2 {
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        text-align: center;
        color: rgba(32, 36, 56, 0.4);
        margin: 20px 0 24px 0; }
    .block_subheader {
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        text-align: center;
        color: rgba(32, 36, 56, 0.4);
        margin: 20px 0 24px 0; }
    .block_subheader::before {
        display: inline-block;
        content: '';
        width: 32px;
        height: 1px;
        background-color: rgba(32, 35, 56, 0.05);
        vertical-align: middle;
        margin-right: 18px; }
    .block_subheader::after {
        display: inline-block;
        content: '';
        width: 32px;
        height: 1px;
        background-color: rgba(32, 35, 56, 0.05);
        vertical-align: middle;
        margin-left: 18px; }

    .auth_form {
        padding-left: 24px;
        padding-right: 24px; }
    .auth_form .string_input {
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 16px auto;
        height: 50px;
        border-radius: 4px;
        border: solid 1px rgba(32, 35, 56, 0.2);
        text-align: center;
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 400;
        outline: none;
        background-position: 16px center;
        background-repeat: no-repeat;
        font-variant-numeric: lining-nums;
        -moz-font-feature-settings: "lnum";
        -webkit-font-feature-settings: "lnum";
        font-feature-settings: "lnum";}

    .auth_form .string_input:hover{
        border: solid 1px rgba(32, 35, 56, 0.4);
    }
    .auth_form .has-error .string_input{
        border: 1px solid #ff4355;  }
    .auth_form .has-success .string_input{
        border: 1px solid #43d167;  }

    .auth_form .string_input:active,
    .auth_form .string_input:focus {
        border: solid 1px #1b68ff;
        box-sizing: border-box;
        box-shadow: 0px 0px 0px 1px #1b68ff;
    }
    .auth_form .string_input.email {
        background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24.svg");
        background-size: 16px 12px; }
    .auth_form .string_input.pass {
        background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24.svg");
        background-size: 14px 17px; }
    .auth_form .string_input.name {
        background-image: url("//st.biglion.ru/v3/img/auth/iconname-24.svg");
        background-size: 18px 18px; }
    .auth_form .string_input.promo {
        background-image: url("//st.biglion.ru/v3/img/auth/iconpromocode-24.svg");
        background-size: 26px 23px; }
    .auth_form .string_input.hidden {
        display: none; }

    .auth_form .has-error .string_input.email {
        background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24-err.svg");
        background-size: 16px 12px; }
    .auth_form .has-error .string_input.pass {
        background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24-err.svg");
        background-size: 14px 17px; }
    .auth_form .has-error .string_input.name {
        background-image: url("//st.biglion.ru/v3/img/auth/iconname-24-err.svg");
        background-size: 18px 18px; }

    .auth_form .has-success .string_input.email {
        background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24-suc.svg");
        background-size: 16px 12px; }
    .auth_form .has-success .string_input.pass {
        background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24-suc.svg");
        background-size: 14px 17px; }
    .auth_form .has-success .string_input.name {
        background-image: url("//st.biglion.ru/v3/img/auth/iconname-24-suc.svg");
        background-size: 18px 18px; }

    .auth_mail_block .auth_mail_header.block_subheader {
        margin: 12px 0 24px 0; }
    .auth_mail_block.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s; }

    .auth_switch_block {
        text-align: center;
        margin: 32px 0; }
    .auth_switch_block.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.55s;
        animation-delay: 0.55s; }
    .auth_switch_block span {
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        color: #202438; }
    .auth_switch_block span a {
        color: #fd764a;
        text-decoration: none;
        transition: 0.25s; }
    .auth_switch_block span a:hover {
        text-decoration: none;
        color: #bf481f;
        transition: 0.25s; }

    .auth_terms_block.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s; }
    .auth_terms_block .auth_center_divider {
        display: block;
        margin: 0 auto;
        width: 117px;
        height: 1px;
        background-color: rgba(32, 35, 56, 0.05); }
    .auth_terms_block .auth_terms {
        font-family: 'Raleway';
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        text-align: center;
        color: rgba(43, 49, 72, 0.4);
        margin: 16px 0; }
    .auth_terms_block .auth_terms a {
        font-weight: 700;
        color: rgba(43, 49, 72, 0.4);
        text-decoration: none; }

    .auth_notice {
        border-radius: 0px;
        text-align: center;
        padding: 28px;
        /*z-index: 999;*/
        margin: 0 auto;
        box-sizing: border-box;
        width: 100%;
        z-index: 1;
        top: -4px;
        position: absolute;
    }
    .auth_notice.error {
        background-color: #ff4355;
        opacity: 1;
        height: auto;
        transition: 0.3s; }
    .auth_notice.warning {
        background-color: #ff7642;
        opacity: 1;
        height: auto;
        transition: 0.3s; }
    .auth_notice.msg {
        background-color: #43d167;
        opacity: 1;
        height: auto;
        transition: 0.3s; }
    .auth_notice.hidden {
        opacity: 0;
        height: 0;
        transition: 0.3s;
        margin: 0;
        padding: 0; }
    .auth_notice .notice_close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
        height: 16px;
        color: rgba(32, 35, 56, 0.8);
        font-size: 20px;
        cursor: pointer; }
    .auth_notice .notice_txt {
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29;
        text-align: center;
        color: #ffffff; }

    .recaptcha_resize {
        transform-origin: left;
        transform: scale(1.035); }
    .link-btn{
        display: inline-block;
        text-decoration: none;}
    .link-btn:hover,
    .link-btn:active{
        color: #fff;
    }
    .btn_wrap {
        text-align: center;
        margin-top: 32px; }
    .btn-round {
        padding: 0 56px;
        height: 52px;
        border-radius: 100px;
        background-color: #ff7642;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 52px;
        border: 0;
        color: #fff;
        outline: none;
        cursor: pointer; }
    .btn-round.disabled {
        color: rgba(32, 36, 56, 0.2);
        background-color: rgba(32, 35, 56, 0.05); }
    .btn-round:hover{
        background-color: #e86d41;
        transition: 0.2s;
    }
    .btn-round:active{
        background-color: #d26540;
        transition: 0.1s;
    }
    .instructions {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        color: rgba(32, 36, 56, 0.8);
        margin-top: 20px;
        padding: 0 20px; }
    .user_avatar{
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: #f1f1f1;
        margin: 24px auto 14px auto;

    }
}

@media screen and (max-width: 320px) {
    /*.auth_loader_wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255,255,255,0.7);
    }*/

    .auth_back_arrow {
        position: absolute;
        left: 12px;
        top: 0;
        font-size: 28px;
        cursor: pointer;
        color: #000;
        transition: 0.2s; }
    .auth_back_arrow:hover {
        transition: 0.2s;
        color: #fd764a; }

    .auth_back_arrow2 {
        position: absolute;
        left: 40px;
        top: 6px;
        font-size: 28px;
        cursor: pointer;
        color: #000;
        transition: 0.2s; }
    .auth_back_arrow2:hover {
        transition: 0.2s;
        color: #fd764a; }

    .auth_container_modal {
        width: 100%;
        margin: 0 auto; }

    .auth_container {
        box-shadow: none;
        border: 0;
        background-color: #ffffff;
        position: relative;
        /*width: 384px;*/
        border-radius: 0;
        /*opacity: 0;*/
        min-height: 420px;
        height: auto;
        margin: 16px auto;
        width: 100%;
        font-variant-numeric: lining-nums;
        -moz-font-feature-settings: "lnum";
        -webkit-font-feature-settings: "lnum";
        font-feature-settings: "lnum";}

    .auth_logo {
        margin: 0 auto;
        text-align: center;
        /*width: 96px;
        height: 36px;

        background: url("//st.biglion.ru/v3/img/auth/logo-text.svg");
        background-size: contain;*/

    }
    .auth_logo a img{
        width: 30%;
        height: auto;
    }
    .auth_logo.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.35s;
        animation-delay: 0.35s; }

    .auth_header {
        margin-top: 34px;
        text-align: center;
        font-family: 'Raleway';
        font-size: 28px;
        font-weight: 700;
        line-height: 1.14;
        color: #202438; }
    .auth_header.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; }
    .block_subheader2 {
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        text-align: center;
        color: rgba(32, 36, 56, 0.4);
        margin: 20px 0 24px 0; }
    .block_subheader {
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        text-align: center;
        color: rgba(32, 36, 56, 0.4);
        margin: 20px 0 24px 0; }
    .block_subheader::before {
        display: inline-block;
        content: '';
        width: 32px;
        height: 1px;
        background-color: rgba(32, 35, 56, 0.05);
        vertical-align: middle;
        margin-right: 18px; }
    .block_subheader::after {
        display: inline-block;
        content: '';
        width: 32px;
        height: 1px;
        background-color: rgba(32, 35, 56, 0.05);
        vertical-align: middle;
        margin-left: 18px; }

    .auth_form {
        padding-left: 24px;
        padding-right: 24px; }
    .auth_form .string_input {
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 16px auto;
        height: 50px;
        border-radius: 4px;
        border: solid 1px rgba(32, 35, 56, 0.2);
        text-align: center;
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 400;
        background-position: 16px center;
        background-repeat: no-repeat;
        font-variant-numeric: lining-nums;
        -moz-font-feature-settings: "lnum";
        -webkit-font-feature-settings: "lnum";
        font-feature-settings: "lnum";}

    .auth_form .string_input:hover{
        border: solid 1px rgba(32, 35, 56, 0.4);
    }
    .auth_form .has-error .string_input{
        border: 1px solid #ff4355;  }
    .auth_form .has-success .string_input{
        border: 1px solid #43d167;  }

    .auth_form .string_input:active,
    .auth_form .string_input:focus {
        border: solid 1px #1b68ff;
        box-sizing: border-box;
        box-shadow: 0px 0px 0px 1px #1b68ff;}
    .auth_form .string_input.email {
        background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24.svg");
        background-size: 16px 12px; }
    .auth_form .string_input.pass {
        background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24.svg");
        background-size: 14px 17px; }
    .auth_form .string_input.name {
        background-image: url("//st.biglion.ru/v3/img/auth/iconname-24.svg");
        background-size: 18px 18px; }
    .auth_form .string_input.promo {
        background-image: url("//st.biglion.ru/v3/img/auth/iconpromocode-24.svg");
        background-size: 26px 23px; }
    .auth_form .string_input.hidden {
        display: none; }

    .auth_form .has-error .string_input.email {
        background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24-err.svg");
        background-size: 16px 12px; }
    .auth_form .has-error .string_input.pass {
        background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24-err.svg");
        background-size: 14px 17px; }
    .auth_form .has-error .string_input.name {
        background-image: url("//st.biglion.ru/v3/img/auth/iconname-24-err.svg");
        background-size: 18px 18px; }

    .auth_form .has-success .string_input.email {
        background-image: url("//st.biglion.ru/v3/img/auth/iconmail-24-suc.svg");
        background-size: 16px 12px; }
    .auth_form .has-success .string_input.pass {
        background-image: url("//st.biglion.ru/v3/img/auth/iconpassword-24-suc.svg");
        background-size: 14px 17px; }
    .auth_form .has-success .string_input.name {
        background-image: url("//st.biglion.ru/v3/img/auth/iconname-24-suc.svg");
        background-size: 18px 18px; }

    .auth_mail_block .auth_mail_header.block_subheader {
        margin: 12px 0 24px 0; }
    .auth_mail_block.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s; }

    .auth_switch_block {
        text-align: center;
        margin: 32px 0; }
    .auth_switch_block.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.55s;
        animation-delay: 0.55s; }
    .auth_switch_block span {
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        color: #202438; }
    .auth_switch_block span a {
        color: #fd764a;
        text-decoration: none;
        transition: 0.25s; }
    .auth_switch_block span a:hover {
        text-decoration: none;
        color: #bf481f;
        transition: 0.25s; }

    .auth_terms_block.elem-anim-open {
        -webkit-animation: anim-elem 0.3s both;
        animation: anim-elem 0.3s both;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s; }
    .auth_terms_block .auth_center_divider {
        display: block;
        margin: 0 auto;
        width: 117px;
        height: 1px;
        background-color: rgba(32, 35, 56, 0.05); }
    .auth_terms_block .auth_terms {
        font-family: 'Raleway';
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        text-align: center;
        color: rgba(43, 49, 72, 0.4);
        margin: 16px 0; }
    .auth_terms_block .auth_terms a {
        font-weight: 700;
        color: rgba(43, 49, 72, 0.4);
        text-decoration: none; }

    .auth_notice {
        border-radius: 0px;
        text-align: center;
        padding: 20px;
        /*z-index: 999;*/
        margin: 0 auto;
        box-sizing: border-box;
        width: 100%;
        z-index: 1;
    }
    .auth_notice.error {
        background-color: #ff4355;
        opacity: 1;
        height: auto;
        transition: 0.3s; }
    .auth_notice.warning {
        background-color: #ff7642;
        opacity: 1;
        height: auto;
        transition: 0.3s; }
    .auth_notice.msg {
        background-color: #43d167;
        opacity: 1;
        height: auto;
        transition: 0.3s; }
    .auth_notice.hidden {
        opacity: 0;
        height: 0;
        transition: 0.3s;
        margin: 0;
        padding: 0; }
    .auth_notice .notice_close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
        height: 16px;
        color: rgba(32, 35, 56, 0.8);
        font-size: 20px;
        cursor: pointer; }
    .auth_notice .notice_txt {
        font-family: 'Raleway';
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29;
        text-align: center;
        color: #ffffff; }

    .recaptcha_resize {
        transform-origin: left;
        transform: scale(0.85); }
    .link-btn{
        display: inline-block;
        text-decoration: none;}
    .link-btn:hover,
    .link-btn:active{
        color: #fff;
    }
    .btn_wrap {
        text-align: center;
        margin-top: 32px; }
    .btn-round {
        padding: 0 56px;
        height: 52px;
        border-radius: 100px;
        background-color: #ff7642;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 52px;
        border: 0;
        color: #fff;
        outline: none;
        cursor: pointer; }
    .btn-round.disabled {
        color: rgba(32, 36, 56, 0.2);
        background-color: rgba(32, 35, 56, 0.05); }

    .instructions {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        color: rgba(32, 36, 56, 0.8);
        margin-top: 20px;
        padding: 0 20px; }
    .user_avatar{
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: #f1f1f1;
        margin: 24px auto 14px auto;

    }
}
.auth_form .via_promo_field{
    margin-top:0;
}

@-webkit-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0); }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0); } }
@keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0); }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); } }
@-webkit-keyframes anim-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0); }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0); } }
@keyframes anim-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0); } }