#user_present_sertificate ol{list-style-type:decimal; padding:0 0 0 18px;}

#top_user_pannel #pre_user_btn { margin: 0; width: 132px; cursor: default; }
#top_user_pannel #pre_user_btn a { font-size: 13px; font-weight: bold; text-decoration: none; display: block; position: relative; padding-left: 19px; float: left; }
#top_user_pannel #pre_user_btn a:hover { text-decoration: underline; }
#top_user_pannel #pre_user_btn a.header-auth-link { color: #f6753e; margin-bottom: 5px; }
#top_user_pannel #pre_user_btn a.header-auth-link div { width: 14px; height: 7px; background: url(//st.biglion.ru/v3/img/main_sprite_v4.png) -160px -184px no-repeat; position: absolute; left: 0; top: 4px; }
#top_user_pannel #pre_user_btn a.header-reg-link { color: #313a44; font-size: 15px; }
#top_user_pannel #pre_user_btn a.header-reg-link div { width: 15px; height: 13px; background: url(//st.biglion.ru/v3/img/main_sprite_v4.png) -160px -193px no-repeat; position: absolute; left: 0; top: 0; }
#top_user_pannel .rw_notation_first{
    display: none;
    position: relative;
    float: right;
    right: -145px;
    border-radius: 50%;
    border: solid;
    width: 20px;
    height: 17px;
    text-align: center;
    color: white;
    background-color: red;
    box-shadow: 2px 3px 8px rgba(0,0,0,0.5);
    border-width: 0px;
    padding-top: 3px;
}
#top_user_pannel #user_menu .to_partner_shares .rw_notation{
    display: none;
    position: relative;
    float: right;
    top: -33px;
    border-radius: 50%;
    border: solid;
    width: 20px;
    height: 17px;
    text-align: center;
    color: white;
    background-color: red;
    box-shadow: 2px 3px 8px rgba(0,0,0,0.5);
    border-width: 0px;
    padding-top: 3px;
}

#citylist-mbl {
    padding: 7px 0 0; width: 100%; height: 464px;
}

body.mobile #topHorMenu { top: 80px !important;}
