@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/raleway-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
