@import url(//st.biglion.ru/v3/css/raleway.css);
.w976 {
  width: 976px;
  margin: 0 auto; }

.mobileApp__block {
  height: 288px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
  font-family: 'Raleway';
  margin-top: 40px;
  margin-bottom: 40px; }
  .mobileApp__block * {
    font-family: 'Raleway', Arial;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum"; }
  .mobileApp__block .phones_block, .mobileApp__block .form_block {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden; }
  .mobileApp__block .phones_block .phone_iphone {
    background-image: url("../img/iphone/i-phone-6.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 196px;
    height: 270px;
    position: absolute; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
      .mobileApp__block .phones_block .phone_iphone {
        background-image: url("../img/iphone/i-phone-6@2x.png"); } }
    .mobileApp__block .phones_block .phone_iphone .phone_screen {
      background: #fff;
      left: 13px;
      top: 49px;
      width: 169px;
      height: 100%; }
      .mobileApp__block .phones_block .phone_iphone .phone_screen .top_bar {
        width: 169px;
        height: 29px;
        background-image: url("../img/iphone/ios-bar.png");
        background-size: contain;
        background-repeat: no-repeat; }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
          .mobileApp__block .phones_block .phone_iphone .phone_screen .top_bar {
            background-image: url("../img/iphone/ios-bar@2x.png"); } }
      .mobileApp__block .phones_block .phone_iphone .phone_screen .do_img img {
        width: 169px; }
  .mobileApp__block .phones_block .phone_android {
    background-image: url("../img/android/android_p.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 198px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 198px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
      .mobileApp__block .phones_block .phone_android {
        background-image: url("../img/android/android_p@2x.png"); } }
    .mobileApp__block .phones_block .phone_android .phone_screen {
      background: #fff;
      left: 8px;
      top: 43px;
      width: 181px;
      height: 100%; }
      .mobileApp__block .phones_block .phone_android .phone_screen .top_bar {
        width: 181px;
        height: 32px;
        background-image: url("../img/android/android-bar.png");
        background-size: contain;
        background-repeat: no-repeat; }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
          .mobileApp__block .phones_block .phone_android .phone_screen .top_bar {
            background-image: url("../img/android/android-bar@2x.png"); } }
      .mobileApp__block .phones_block .phone_android .phone_screen .do_img img {
        width: 181px; }
  .mobileApp__block .phones_block .phone.back_plane {
    bottom: -30px;
    left: 120px;
    z-index: 1; }
  .mobileApp__block .phones_block .phone.front_plane {
    bottom: 0;
    left: 250px;
    z-index: 2; }
  .mobileApp__block .phones_block .phone .divider {
    width: 156px;
    height: 1px;
    opacity: 0.05;
    background-color: #000000;
    margin: 0 auto; }
  .mobileApp__block .phones_block .phone .do_discount {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    color: #fd7c3e;
    padding: 6px 0 6px 10px; }
  .mobileApp__block .phones_block .phone .do_title {
    opacity: 0.3;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    color: #000000;
    margin: 10px; }
  .mobileApp__block .form_block h3 {
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    color: #202438;
    margin-top: 48px;
    margin-right: 25%; }
  .mobileApp__block .form_block .subheader_text {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: rgba(32, 36, 56, 0.6);
    margin-right: 32%;
    margin-top: 18px;
    min-height: 48px; }
    .mobileApp__block .form_block .subheader_text.success {
      color: #43d167; }
    .mobileApp__block .form_block .subheader_text.error {
      color: #ff0000; }
  .mobileApp__block .form_block .btns_wrap {
    margin-top: 18px;
    margin-right: 70px; }
    .mobileApp__block .form_block .btns_wrap.err {
      animation: error 100ms linear infinite; }
    .mobileApp__block .form_block .btns_wrap .go_to_appstore {
      float: left;
      display: block;
      width: 21px;
      height: 25px;
      background: url("../img/apple.svg") no-repeat;
      background-size: contain;
      margin-left: 24px;
      margin-top: 11px;
      transition: 0.3s; }
      .mobileApp__block .form_block .btns_wrap .go_to_appstore:hover {
        background: url("../img/applehover.svg") no-repeat;
        transition: 0.3s; }
    .mobileApp__block .form_block .btns_wrap .go_to_gplay {
      float: left;
      display: block;
      width: 22px;
      height: 25px;
      background: url("../img/g-play.svg") no-repeat;
      /*background-size: contain;*/
      margin-left: 24px;
      margin-top: 12px;
      transition: 0.3s; }
      .mobileApp__block .form_block .btns_wrap .go_to_gplay:hover {
        background: url("../img/g-playhover.svg") no-repeat;
        transition: 0.3s; }
    .mobileApp__block .form_block .btns_wrap .round_orange_btn {
      float: left;
      display: block;
      cursor: pointer;
      width: 152px;
      height: 52px;
      border-radius: 100px;
      background-color: #ff7642;
      transition: 0.3s;
      text-align: center;
      overflow: hidden;
      background-position: center center; }
      .mobileApp__block .form_block .btns_wrap .round_orange_btn:hover {
        background: #eb622e;
        background-position: center center;
        transition: 0.2s; }
      .mobileApp__block .form_block .btns_wrap .round_orange_btn.inactive {
        background-color: rgba(0, 0, 16, 0.4);
        cursor: not-allowed; }
      .mobileApp__block .form_block .btns_wrap .round_orange_btn.success {
        background-color: #43d167; }
      .mobileApp__block .form_block .btns_wrap .round_orange_btn.success-finish {
        background-image: url("../img/icon-success-32.svg");
        background-repeat: no-repeat;
        transition-duration: 0.2s; }
      .mobileApp__block .form_block .btns_wrap .round_orange_btn .btn_content {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.7px;
        color: #fff;
        line-height: 52px; }
      .mobileApp__block .form_block .btns_wrap .round_orange_btn .btn_bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0; }
    .mobileApp__block .form_block .btns_wrap .form_inner_wrap {
      float: left; }
      .mobileApp__block .form_block .btns_wrap .form_inner_wrap.disabled {
        display: none;
        margin-left: -247px; }
      .mobileApp__block .form_block .btns_wrap .form_inner_wrap.enabled {
        display: block; }
      .mobileApp__block .form_block .btns_wrap .form_inner_wrap .phone_number_inp {
        width: 247px;
        height: 52px;
        line-height: 52px;
        border-radius: 4px;
        border: solid 2px #1b68ff;
        font-size: 16px;
        /*font-weight: 500;*/
        font-style: normal;
        font-stretch: normal;
        /*color: rgba(32, 36, 56, 0.4);*/
        font-variant-numeric: lining-nums;
        -moz-font-feature-settings: "lnum";
        -webkit-font-feature-settings: "lnum";
        font-feature-settings: "lnum";
        color: #000000;
        font-weight: 600;
        box-sizing: border-box;
        padding-left: 48px;
        background: url("../img/iconphone-24_gray.svg") no-repeat;
        background-position: 16px center; }
        .mobileApp__block .form_block .btns_wrap .form_inner_wrap .phone_number_inp.completed {
          border: solid 2px #43d167;
          color: #000000;
          font-weight: 600;
          background: url("../img/iconphone-24.svg") no-repeat;
          background-position: 16px center; }

.links_to_stores_block {
  text-align: center;
  padding: 20px 0;
  background-color: #202438;
  margin-bottom: -20px; }
  .links_to_stores_block .big_btn_app_load + .big_btn_app_load {
    margin-left: 10px; }
  .links_to_stores_block .big_btn_app_load {
    display: inline-block;
    width: 300px;
    height: 64px;
    text-decoration: none;
    background: #4c4f5f;
    border-radius: 4px;
    transition: 0.3s; }
    .links_to_stores_block .big_btn_app_load .bb_inner_wrap {
      height: 30px;
      margin: 15px auto;
      text-align: center; }
      .links_to_stores_block .big_btn_app_load .bb_inner_wrap img {
        display: inline-block;
        height: 30px;
        margin-right: 10px; }
      .links_to_stores_block .big_btn_app_load .bb_inner_wrap .bb_txt {
        display: inline-block;
        text-align: left; }
        .links_to_stores_block .big_btn_app_load .bb_inner_wrap .bb_txt .sm_top {
          font-size: 14px;
          font-weight: 400;
          font-family: 'Raleway';
          color: #c4c5ca;
          margin: 0; }
        .links_to_stores_block .big_btn_app_load .bb_inner_wrap .bb_txt .big_bottom {
          font-size: 18px;
          font-weight: 400;
          font-family: 'Raleway';
          color: #fff;
          margin: 0; }
    .links_to_stores_block .big_btn_app_load:hover {
      background: #797b87;
      transition: 0.3s; }

.loader {
  position: relative;
  margin: 0px auto;
  width: 32px;
  margin-top: 10px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }
@keyframes color {
  100%,
  0% {
    stroke: #fff; } }
@keyframes error {
  0% {
    left: 0; }
  50% {
    left: 15px; }
  100% {
    left: 0; } }

/*# sourceMappingURL=senderLinkMobApp.css.map */
