body { font-size:14px; padding:0; margin:0; font-family:宋体; color:#2f2f2f; }
ul { list-style:none; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, button{padding:0; margin:0; font-weight:normal}
div,form,img,ul,ol,li,dl,dt,dd,p {margin:0; padding:0; border:0; list-style-type:none; min-height:none;  }
img { vertical-align:top; *vertical-align:middle; }
a { text-decoration:none;  color:#212121; }
a:hover { text-decoration:underline}

h1 { font-size:32px; height:55px; line-height:50px; font-family:"微软雅黑"; text-align:center; width:680px; overflow:hidden; }
h3 { font-size:16px; font-weight:bold; }
h4 { font-size:14px; font-weight:bold; line-height:30px; }

/*通用*/
.clear  { clear:both; padding:0px; margin:0px; }
.fff , .fff a { color:#fff; }
.fff a:hover { color:#fdffde}
.f60 { color:#f60;}
.f90 a { color:#F60; }
.f_left { float:left; }
.f_right { float:right; }

.font12 { font-size:12px; }

.l_h22 { line-height:22px; }
.l_h40 { line-height:40px; }

.w_20 { width:20px; }
.w_88 { width:88px; }
.w_120 { width:120px; }
.w_120b { width:100px; color:#993300; }
.w_305 { width:305px; }
.w_315 { width:315px; overflow:hidden; }
.w_320 { width:320px; overflow:hidden; }
.w_330 { width:330px; overflow:hidden; }
.w_680 { width:680px; }
.w_690 { width:690px; }
.w_285 { width:285px; }
.w_1000 { width:1000px; margin:0 auto; overflow:hidden; }

.p_t8 { padding-top:8px; *padding-top:4px;  }
.p_t9 { padding-top:9px; }
.p_sx17 { padding:17px 0; }
.p_s10x17 { padding:10px 0 17px;  *padding:6px 0 17px;}
.p_s10x18{ padding:10px 0 17px;  *padding:6px 0 17px; background:url(../images/quxzj.jpg) center bottom no-repeat}
.p_s10x19{ padding:16px 0 17px;  *padding:6px 0 17px; background:url(../images/quxzj.jpg) center bottom no-repeat}
.p_s10x20 { padding:6px 0 8px;  *padding:6px 0 8px;}

.m_t5 { margin-top:5px; }
.m_t10 { margin-top:10px; }
.m_t15 { margin-top:15px; }
.m_t20 { margin-top:20px; }
.m_t30 { margin-top:30px; }
.m_l30 { margin-left:30px; display:inline; }
.m_l25 { margin-left:25px; display:inline; }
.m_l20 { margin-left:20px; display:inline; }

.b_ts1 { border-top:1px solid #e1e1e1; }
.dian_box { background:url(http://i1.cqnews.net/cqnews/137909.files/images/bg3_07.jpg) repeat-x; height:1px; margin:18px 0; }

.bt_box { line-height:40px; height:40px; }
.bt_box1 { line-height:40px; height:42px; border-bottom:1px solid #e1e1e1; }
.more a { padding-left:10px; float:right; font-size:12px; text-align:right; }
.more_y { float:right; width:18px; height:18px; padding-top:5px; }
.more_y a { background:url(../images/sybj.png) no-repeat scroll -300px 0px; width:18px; height:18px; display:block; text-align:right; }
.more1 a { background:url(../images/sybj.png) no-repeat scroll -273px 3px; padding-right:25px; float:right; font-size:12px; height:20px; line-height:20px; text-align:right; }
.lb_box li { line-height:30px; height:30px; width:330px; overflow:hidden; }
.tu_zi_box { padding-top:17px; }
.tu_zi_box img { width:146px; height:98px; float:left; }
.tu_zi_box div { float:right; width:166px; }
.tu_zi_box div h4 { overflow:hidden; width:166px; height:30px; }
.tu_zi_box div p { text-indent:2em; width:166px; height:70px; overflow:hidden; padding-top:4px; font-size:12px; line-height:22px;}
.tu2_box { width:150px; padding-top:17px; font-size:12px; line-height:28px; text-align:center; }
.tu2_box img { width:146px; height:98px; padding:0px 2px 5px 2px; display:inline  }

/*广告*/
.gg285x122 { width:285px; height:122px; margin-bottom:17px; }
.gg302x75 { width:302px; height:75px; margin-bottom:17px; }
.gg1000x60_x { width:1000px; height:60px; margin:10px auto; }
.gg320x135 { width:320px; height:135px;}

/*头条*/
.toutiao_box { width:1000px; height:90px; padding-bottom:10px; margin:15px auto 0; border-bottom:1px solid #e1e1e1; }
.toutiao_xbox { font-size:12px; line-height:24px; text-align:center;}
.toutiao_xbox span { padding:0 3px}

/*焦点图板块*/
.jdt_box { width:360px; height:300px; margin:30px 16px 0 0; }
.jdt_news { width:320px; margin-top:25px; }
.jdt_news h2 { font-size:16px; height:36px; line-height:36px; overflow:hidden; text-align:center; font-weight:bold; }
.jdt_news p { font-size:12px; height:68px; line-height:24px; text-indent:2em;}
/* 焦点图 */
.slideBox{ width:360px; height:300px; overflow:hidden; position:relative;  }
.slideBox .hd{ height:28px;  width:360px; overflow:hidden; position:absolute; bottom:6px; z-index:1; background:url(../images/sybj.png) no-repeat scroll 20px -165px;  }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left; padding:15px 0 0 88px}
.slideBox .hd ul li{ float:left; margin-right:12px;  width:20px; height:5px; line-height:14px; text-align:center; background:#bdbdbd; cursor:pointer; }
.slideBox .hd ul li.on{ background:#cf0017;  }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:360px; height:230px; display:block;  }
.slideBox .bd p { height:36px; background:#4f4f4f; color:#fff; text-align:center; line-height:36px; font-size:14px; }
.slideBox a { text-decoration:none !important; }
/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:1%; top:42%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;}
.slideBox .next{ left:auto; right:1%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

/* 网络问政 */
.rxdh_box { display:block; float:left; color:#d1140e; font-size:12px; width:110px; }
.wytc_box a { width:64px;  height:22px; line-height:22px; border-radius:3px; font-size:12px; text-align:center; display:block; margin-top:10px; background:#e75800; color:#fff; }
.wytc_box a:hover { color:#fff; background:#dd3400; }
.wlwz_box b { line-height:30px; }
.wlwz_box p { font-size:12px; line-height:24px; height:60px; border-bottom:1px solid #e1e1e1; }
/* 社区 */
.ljsq_bt li { font-weight:bold; height:20px; line-height:20px; margin-top:10px; float:left; width:85px; }
.ljsq_bt .active { font-size:16px; }
.ljsq_box img { width:110px; height:74px; float:left; padding-top:10px; }
.ljsq_box div { padding:8px 0 0 10px; font-size:12px; line-height:24px; float:left; width:160px; }
.ljsq_box div li { line-height:26px; height:26px; width:160px; overflow:hidden; }
/* 云视听 */
.yst_box p { float:left; margin:15px 11px 13px; width:140px; position:relative; height:106px; border:1px solid #dfdfdf; display:inline; line-height:24px; font-size:12px; text-align:center; }
.yst_box p span { position:absolute; width:25px; height:25px; left:15px; z-index:10; bottom:32px; background:url(../images/sybj.png) no-repeat scroll -220px 0px; }
.yst_box p img { width:120px; height:70px; padding:10px 10px 0; }
.yst_li li { background:url(../images/sybj.png) no-repeat scroll -298px -19px; padding-left:20px !important; }

/* 三大栏目 */
.big3_box { width:257px; padding:13px; border:1px solid #e1e1e1; margin-bottom:17px; height:142px; } 
.big3_box img { width:256px; height:95px; margin-top:8px; }
.big3_1 { background:url(../images/sybj.png) repeat scroll 0px 0px; width:89px; height:32px; float:left; }
.big3_1 a { width:89px; height:32px; display:block; }
.big3_2 { background:url(../images/sybj.png) repeat scroll 0px -40px; width:92px; height:32px; float:left; }
.big3_2 a { width:92px; height:32px; display:block; }
.big3_3 { background:url(../images/sybj.png) repeat scroll 0px -80px; width:60px; height:32px; float:left; }
.big3_3 a { width:60px; height:32px; display:block; }
.big3_qi { width:70px; height:22px; line-height:22px; text-align:center; color:#fff; font-size:12px; background:#175294; float:left; margin:6px 0 0 10px; display:inline; }
/*文字广告 */
.wzgg_box { width:958px; overflow:hidden; margin:20px auto 10px; position:relative; font-size:12px; padding:20px; border:1px solid #e9e9e9; background:#f6f6f6; }
.wzgg_box li { width:218px; border-right:1px solid #ebebeb; text-align:left; line-height:26px; float:left; padding-left:20px}
.wzgg_box .hadong { background:#f6f6f6; width:18px; right:10px; height:100%; position:absolute; }
/*美丽沙坪坝 */
.spb_box {  background:url(../images/sybj.png) repeat scroll 0px -120px; width:330px; height:40px; margin-top:24px }
.spb_box a { width:330px; height:40px; display:block; }
/*华龙百家 */
.hlbj_box { width:257px; padding:15px 13px; border:1px solid #e1e1e1; margin-bottom:17px; height:300px; } 
.hlbj_box li { float:left; width:118px; padding:10px 5px 0px; *padding:0px 5px 0px; text-align:center; }
.hlbj_box li .hlbj_tu img { width:118px; height:80px; }
.hlbj_box li p { font-size:12px; line-height:24px; padding-top:5px; }
.hlbj_box li span { width:31px; height:14px;  background:url(../images/sybj.png) repeat scroll -100px -70px; }
.hlbj_bt { background:url(../images/sybj.png) repeat scroll -100px 0px; font-size:16px; line-height:26px; font-weight:bold; text-indent:32px; float:left; }
/*数字报*/
.szb_box { width:257px; padding:20px 13px 15px; border:1px solid #e1e1e1; height:128px; } 
.picScroll-left{ width:256px;  overflow:hidden; position:relative; margin-top:10px; *margin-top:2px;}
.picScroll-left { overflow:hidden; position:absolute; z-index:1; width:256px;  height:100px;  }
.picScroll-left .prev,.picScroll-left .next{ display:block;  width:10px; height:15px; margin-top:38px; *margin-top:28px; overflow:hidden; cursor:pointer; }
.picScroll-left .next { float:left;  }
.picScroll-left .prev { float:right; }
.picScroll-left .bd { padding:10px 0 0 10px; *padding:0 0 0 10px; }
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li { margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center; }
.picScroll-left .bd ul li .pic { text-align:center; }
.picScroll-left .bd ul li .pic img { width:59px; height:65px; display:block;  border:1px solid #ccc; }
.picScroll-left .bd ul li .title { line-height:28px; font-size:12px; }
/*愉生活*/
.ysh_bt { width:1000px; height:60px; line-height:56px; margin:15px auto 0; border-bottom:1px solid #e6e6e6; border-top:4px solid #e6e6e6; }
.ysh_bt h2 { font-size:24px; font-family:"微软雅黑"; width:300px; color:#000; }
.ysh_lef { width:305px; }
.ysh_mid { width:345px; }
.ysh_mid h2 { font-size:20px; text-align:center; font-family:"微软雅黑"; line-height:34px; }
.ysh_mid p { font-size:12px; line-height:22px; text-indent:2em; height:50px; }
.ysh_mid ul { padding-top:8px;}
.ysh_mid li { font-size:14px; line-height:30px; }
.ysh_mid_box { background:#f7f7f7; margin-top:10px; height:25px; width:345px; line-height:25px; font-size:12px; text-align:center; }
.ysh_mid_box span { padding:0 3px;}
.ysh_rig { width:300px; }
.ysh_rig li { padding-top:10px; height:95px; clear:both; }
.ysh_rig li img { width:148px; height:106px; float:left; }
.ysh_rig li div { float:right; width:135px;}
.ysh_rig li div p { font-size:12px; line-height:22px; text-indent:2em; }
/*愉生活焦点图*/
.slideBox1 { width:305px; height:200px; overflow:hidden; position:relative; border:1px solid #ddd; }
.slideBox1 .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:10px; z-index:10; }
.slideBox1 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox1 .hd ul li{ float:left; margin-right:5px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox1 .hd ul li.on{ background:#f00; color:#fff; }
.slideBox1 .bd{ position:relative; height:100%; z-index:0; }
.slideBox1 .bd li{ zoom:1; vertical-align:middle; }
.slideBox1 .bd li span { width:305px; position:absolute; bottom:0px; z-index:6; color:#fff; text-indent:10px; height:36px; line-height:36px;}
.slideBox1 .bd li p { width:305px; height:36px; background:#000; opacity: 0.7;filter:Alpha(opacity=70); position:absolute; bottom:0px; z-index:5; }
.slideBox1 .bd img{ width:305px; height:200px; display:block;  }
/*频道通用*/
.pd_box { width:320px; }
.pd_box ul { padding-top:8px; *padding-top:5px; }
.pd_box li { line-height:30px; height:30px; width:320px; overflow:hidden; }
.blxzi_box { padding-top:17px; }
.blxzi_box li { font-size:12px; line-height:24px; }
.bsdt_more { background:url(../images/sybj.png) repeat scroll -100px -30px; float:right; width:89px; height:29px; }
.bsdt_more a { width:89px; height:29px; display:block; }
.bsdt_box { padding-top:8px; }
.bsdt_box li { font-size:12px; float:left; width:106px; line-height:30px; }





/*以前的样式*/
.fl {
	float: left;
}
.blank5 {
	height: 5px;
	line-height: 5px;
}
.blank6 {
	height: 6px;
}
.blank10 {
	height: 10px;
}
.blank15 {
	height: 15px;
}
.blank20 {
	height: 20px;
}
.blank30 {
	height: 30px;
}
h6 {
	clear: both;
	line-height: 0;
	font-size: 0;
	height: 0;
}
.width4 {
	padding-left: 4px;
}
.width5 {
	padding-left: 5px; _padding-left: 4px;
}
.hello {
	background:url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) -381px -2px;
	width:56px;
	height:15px;
	display:block;
	margin:5px 0 0 0;
	_margin:4px 0 0 0;
}
.guanggao498 {
	width: 498px;
	_display: inline;
	float: left;
}
.guanggao498 div{padding-bottom:6px}
.guanggao330, .guanggao330_bottom {
	width: 330px;
	_display: inline;
	float: left;
}
.guanggao330 div{padding-bottom:6px}
.guanggao330_bottom{padding-bottom:6px}

.guanggao247, .guanggao247_bottom {
	width: 247px;
	_display: inline;
	float: left;
}
.guanggao247 div{padding-bottom:6px}
.guanggao247_bottom{padding-bottom:6px}

/****************************************************************************************/

.top_wrap {
	height: 45px; font-size:12px;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg1_02.jpg) repeat top;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}
.wrapper_ad_b{width:1000px; margin:0 auto}
.wrapper_ad_b div{padding:20px 0 0}
.wrapper_ad{width:1000px; margin:0 auto}
.wrapper_ad div{padding-bottom:6px}
/****************************************************************************************/
.dh1 {
	line-height: 40px;
	color: #6b6b6b;
}
.srk1 {
	width: 86px;
	height: 18px;
	border: 1px #CCCCCC solid;
	margin: 12px 0 0 10px;
}
.mm {
	float: left;
	width: 140px;
	line-height: 40px;
	height: 40px;
}
.gd, .tq {
	line-height: 43px;
	height: 43px;
}
.gdb {
	line-height: 43px;
	height: 43px;
}
.fd {
	float: left;
	margin-right: 50px;
}
.kd {
	width: 90px;
	float: left;
}
.tq1 {
	float: left;
	margin: 0 10px 0 15px;
	line-height: 43px;
	height: 43px;
}
.tq2 {
	float: left;
	width: 17px;
	margin: 15px 8px 0 0;
	line-height: 14px;
	height: 14px;
}
.tq {
	line-height: 26px;
	height: 26px;
	padding: 8px 15px 0 15px;
	float: left;
}
.wz {
	float: left;
	line-height: 43px;
	height: 43px;
}
.wz1 {
	float: left;
	margin: 0 15px 0 0;
	line-height: 43px;
	height: 43px;
}
.wz1a {
	float: left;
	padding-top:15px;
	margin: 1px 0 0 10px;
	height: 10px;
}
.tc {
	float: left;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) 0 0 no-repeat;
	width: 10px;
	height: 13px;
	margin: 15px 8px 0 0;
}
.khd {
	float: left;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) 0 -13px no-repeat;
	width: 16px;
	height: 13px;
	margin: 14px 8px 0 0;
}
.sjb {
	float: left;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) 0 -26px no-repeat;
	width: 9px;
	height: 15px;
	margin: 14px 8px 0 0;
}
.swsy {
	float: left;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) 0 -41px no-repeat;
	width: 13px;
	height: 14px;
	margin: 14px 8px 0 0;
}
.sc {
	float: left;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) 0 -55px no-repeat;
	width: 14px;
	height: 11px;
	margin: 15px 8px 0 0;
}
.jg {
	position:relative;
	width: 1000px;
	margin: 10px auto 15px auto;
}
.jg1 {
	margin-right: 8px;
}
.jg2 {
	margin: 0 40px 0 0;
	background: url(http://www.cqnews.net/images/logo/sy_logo.jpg) no-repeat;
	width: 136px;
	height: 68px;
}
.sousuo {
	width: 334px;
	height: 33px;
	border: #c2c2c2 1px solid;
	margin: 6px 0 0 0;
	position:relative
}
.gg1 {
	margin: 6px 0 0 0;
}
.zn {
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) -211px -14px no-repeat;
	width: 8px;
	height: 5px;
	line-height: 5px;
	margin: 15px 0 0 1px;
	overflow: hidden;
	display: block;
}
.zz {
	width: 65px;
	_width: 70px;
	border-right: 1px #c2c2c2 solid;
	overflow: hidden;
}
.wz2 {
	line-height: 33px;
	width:38px;
	text-align:center;
	font-size: 14px;
	color: #61605e;
	margin: 0 7px;
}
.ss_tp {
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) -16px 0 no-repeat;
	width: 66px;
	height: 35px;
	margin: 6px 15px 0 0;
	cursor: pointer;
	border: none;
}
.sousuo_font {
	width: 258px;
	_width: 248px;
	height: 32px;
	_height: 28px;
	border: 0 none;
	line-height: 32px;
	color: #CCCCCC;
	font-size: 14px;
	margin-left: 10px;
	overflow: hidden;
}
.dh_link {
	width: 1000px; margin:0 auto;
	height: 75px;
	background-color: #0055a6;
}
.dh_link1 {
	width: 220px;
	_width: 210px;
	padding: 8px 0 0 25px;
	_padding: 8px 0 0 25px;
	float: left;
	overflow: hidden;
}
.dh_link1 li {
	float: left;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	margin: 0 13px 0 0;
}
.dh_link1 li a {
	color: #FFFFFF;
}
.dh_link2 {
	width: 160px;
	padding: 8px 5px 0 0;
	_padding: 8px 5px 0 0;
	float: left;
	overflow: hidden;
}
.dh_link2 li {
	float: left;
	line-height: 26px;
	font-size: 14px;
	margin: 0 13px 0 0;
}
.dh_link2 li a {
	color: #FFFFFF;
}
.dh_link2a {
	width: 140px;
	padding: 8px 5px 0 8px;
	_padding: 8px 5px 0 8px;
	float: left;
	overflow: hidden;
}
.dh_link2a li {
	float: left;
	line-height: 26px;
	font-size: 14px;
	margin: 0 13px 0 0;
}
.dh_link2a li a {
	color: #FFFFFF;
}
.dh_link3 {
	width: 220px;
	_width: 220px;
	padding: 8px 0 0 8px;
	float: left;
	overflow: hidden;
}
.dh_link3 li {
	float: left;
	line-height: 26px;
	font-size: 14px;
	margin: 0 13px 0 0;
}
.dh_link3 li a {
	color: #FFFFFF;
}
.dh_link4 {
	width: 200px;
	_width: 200px;
	padding: 8px 0 0 30px;
	_padding: 8px -5px 0 35px;
	float: left;
	overflow: hidden;
}
.dh_link4 li {
	float: left;
	line-height: 26px;
	font-size: 14px;
	margin: 0 12px 0 0;
}
.dh_link4 li a {
	color: #FFFFFF;
}
.dh_link5 {
	width: 157px;
	padding: 5px 10px 0 10px;
	_padding: 5px 10px 0 5px;
	float: left;
	overflow: hidden;
}
.dh_link5 li {
	float: left;
	line-height: 26px;
	font-size: 14px;
	margin: 0 12px 0 0;
}
.dh_link5 li a {
	color: #FFFFFF;
}

.dh_link6 {
	width: 240px;
	_width: 240px;
	padding: 5px 0 0 12px;
	float: left;
	overflow: hidden;
}
.dh_link6 li {
	float: left;
	line-height: 26px;
	font-size: 14px;
	margin: 0 12px 0 0;
}
.dh_link6 li a {
	color: #FFFFFF;
}
.qxqw {
	margin: 20px auto;
	width: 1000px;
}
.wz3 {
	line-height:22px;
	width:35px;
	_width:40px;
	padding:2px 0 0 10px;
	_padding:0px 0 0 2px;
}
.liebiao {
	width: 870px;
 *width: 874px;
	_width: 878px;
	overflow: hidden;
}
.qxqw_liebiao {
	width: 870px;
 *width: 874px;
	_width: 878px;
	padding-left:10px;
 *padding-left:0px;
	_padding-left:0;
	float: left;
	margin-top: 1px;
}
.qxqw_liebiao li {
	font-size:13px;
	line-height:22px;
	float:left;
	margin:0 4px 0 11px;
}
.qxqw_liebiao li a {
	color: #414141;
}
.wz4 {
	color: #fd0024; font-size:12px;
	padding-top: 4px;
	text-align: center;
	width:60px;
}
.wz4 a {
	color: #fd0024;
}
.fr {
	float: right;
}
.txy {
	padding-left:13px;
	border-left: 1px #e6e6e6 solid;
}
.txy_tp {
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) -219px 0 no-repeat;
	width: 15px;
	height: 14px;
	margin: 5px auto;
	display: block;
}
/***********************************华龙图库*****************************************************/
.hltk_dh {
	border-top: 2px solid #9c9c9c;
	height: 74px;
	width: 1000px; margin:20px auto 0;
	margin-top:20px
}
.hltk_dhwz {
	float: left;
	width: 255px;
	overflow: hidden;
	padding: 30px 0 0 0
}
.yw {
	float: left;
	font-family: "Arial";
	font-size: 15px;
	line-height: 30px;
}
.hltk_dhwz .banner_tit {
	float:left;
	width:170px;
	font-family:"微软雅黑";
	font-size:22px;
	font-weight:bold;
	letter-spacing:2px;
}
.hltk_dhwz .more11 {
	height: 30px;
	line-height: 30px;
	color: #414141;
	font-size: 12px;
	float: right;
	display:block;
}
.hltk_dhwz p {
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) -15px -37px no-repeat;
	width: 17px;
	height: 16px;
	display: block;
	float: right;
	margin-left: 1px;
	margin-top: 8px;
}
.hltk_dhnr {
	float: left;
	width: 745px;
	overflow: hidden;
}
.hltk_dhnr li {
	float: left;
	font-size: 16px;
	font-family: "微软雅黑";
	line-height: 58px;
	height: 58px;
	padding-top: 16px;
	width: 228px;
	overflow: hidden;
	margin-right: 20px;
}
.hltk_nr {
	width: 240px;
	overflow: hidden;
	margin-right: 13px;
	float: left;
	height: 275px;
}
.hltk_nr2 {
	width: 240px;
	overflow: hidden;
	float: left;
	height: 275px;
}
.hltk_nr_wz {
	width: 240px;
	height: 41px;
	border-top: 2px #393939 solid;
	font-size: 16px;
	font-family: "微软雅黑";
	line-height: 41px;
}
.hltk_nr_wz2 {
	width: 240px;
	height: 55px;
	border-top: 2px #393939 solid;
	font-size: 16px;
	font-family: "微软雅黑";
	line-height: 55px;
	margin-top: 18px;
}
/*************************************华龙图库***************************************************/
/*************************************世界小点重庆大点***************************************************/
.sjddcqxd {
	width: 1000px;
	margin: 30px auto;
}
.sj_dh {
	width: 1000px;
	height: 78px;
	border-top: 2px #9c9c9c solid;
	margin-top: 10px;
}
.sj_dh1 {
	float: left;
	width: 94px;
	font-family: "Arial";
	font-size: 22px;
	line-height: 78px;
	padding-left: 20px;
}
.sj_dh2 {
	float: left;
	width: 191px;
	height: 28px;
	margin-right: 224px;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) 0 -230px no-repeat;
	margin: 22px 0 0 28px;
}
.sj_dh3 {
	float: right;
	font-size: 13px;
	font-family: "Arial";
	line-height: 78px;
	color: #0b509e;
	font-weight: 600;
	text-align: right;
}
.sj_dh3 a {
	color: #0b509e;
}
.sj_nr {
	width: 974px;
	margin: 0 13px;
}
.sj_nr1 {
	width: 296px;
	margin-right: 20px;
	float: left;
}
.ywz1 {
	width: 296px;
	height: 30px;
	font-family: "Arial";
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
}
.sj_nr2 {
	width: 343px;
	margin-right: 20px;
	float: left;
}
.sj_nr2 ul {
	margin-top: 7px;
}
.sj_nr2 ul li {
	width: 343px;
	height: 22px;
	font-family: "Arial", "Helvetica", "sans-serif";
	line-height: 22px;
	font-size: 14px;
	overflow: hidden;
}
.sj_nr2 ul li a{font-family: "Arial", "Helvetica", "sans-serif";}
.ywz2 a{	font-family: "Arial", "Helvetica", "sans-serif";
}
.ywz2 {
	width:343px;
	height:36px;
	font-family: "Arial", "Helvetica", "sans-serif";
	line-height:36px;
	font-weight:600;
	font-size:16px;
	overflow:hidden;
}
.ywz3 {
	width: 343px;
	height: 66px;
	font-family: "Arial";
	line-height: 22px;
	font-size: 12px;
	overflow: hidden;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg5_03.jpg) bottom repeat-x;
	padding-bottom: 7px;
}
.sj_nr3 {
	width: 295px;
	float: left;
}
.sj_nr3a1 {
	float: left;
	width: 140px;
	height: 147px;
	overflow: hidden;
	font-family: "Arial";
	line-height: 18px;
	font-size: 12px;
	margin-right: 15px;
}
.sj_nr3a2 {
	float: left;
	width: 140px;
	height: 146px;
	overflow: hidden;
	font-family: "Arial";
	line-height: 18px;
	font-size: 12px;
}
.sj_nr3_b {
	background-color: #e2e2e2;
	width: 285px;
	height: 30px;
	line-height: 30px;
	font-family: "Arial";
	font-size: 16px;
	padding-left: 10px;
	margin-top: 3px;
	text-align:center;
}
/*************************************世界小点重庆大点***************************************************/

/*****友情链接*****/
.wrapper_yq {
	width: 958px;
	border: 1px solid #e3e3e3;
	padding: 15px 20px 0 20px;
	margin: 34px auto 0; font-size:12px;
 *margin-top: 0;
	color: #666;
}
.wrapper_yq a {
	color: #666;
}
.wrapper_yq .yqleft {
	width: 570px;
	float: left;
	border-bottom: 1px solid #ddd;
	height: 30px;
	font-size: 15px;
	font-family: "微软雅黑";
	color: #111;
}
.wrapper_yq .cont li {
	line-height: 30px;
	padding: 0 8px;
}
.wrapper_yq .hd {
	width: 388px;
	height: 26px;
	padding-top: 4px;
	position: relative;
	float: right;
	text-align: right;
	border-bottom: 1px solid #ddd;
}
.wrapper_yq .hd ul {
	float: right;
}
.wrapper_yq .hd li {
	display:inline;
	cursor: pointer;
	color: #888;
	padding-left: 10px;
}
.wrapper_yq .hd li a {
	font-size: 12px;
}
.wrapper_yq .hd li.on {
	color: red;
}
.wrapper_yq .bd ul {
	zoom: 1;
}
.wrapper_yq .bd li {
	line-height: 26px;
	padding: 15px 5px;
	display: none;
}
/****更多访问方式*****/
.wrapper_morefs {
	width: 968px;
	border: 1px solid #e3e3e3;
	padding: 20px 20px 15px 10px;
	margin: 0 auto;
	margin-top: 28px;
	color: #666;
	display:none
}
.wrapper_morefs li {
	float: left;
	text-align:center;
	font-size: 14px;
	font-family: 微软雅黑;
	line-height:28px;
	margin-right:5px;
	padding-left:12px;
}
.wrapper_morefs li.m1 {
	width: 133px;
	line-height: 30px;
	padding-top: 15px;
	margin-right: 14px;
}
.wrapper_morefs li.m1 .gdfw {
	width: 133px;
	height: 49px;
	margin-top:25px;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) -316px -115px no-repeat;
	display: block;
}
.wrapper_morefs li.m3 {
	font-size: 14px;
	font-family: 微软雅黑;
	color: #132c33;
	width: 64px;
	padding-right: 18px;
	line-height: 27px;
	padding-top: 15px;
	padding-left: 12px;
}
.wrapper_morefs li.m4 {
	font-size: 14px;
	font-family: 微软雅黑;
	color: #132c33;
	width: 80px;
	line-height: 27px;
	padding-top: 15px;
	padding-left: 12px;
	padding-right:12px;
}
.wrapper_morefs li.m5 {
	font-size: 13px;
	font-family: 微软雅黑;
	color: #132c33;
	width: 120px;
	padding-right: 10px;
	line-height: 27px;
	padding-top: 15px;
	padding-left: 12px;
}
.wrapper_morefs li.m6 {
	font-size: 13px;
	font-family: 微软雅黑;
	color: #132c33;
	width: 80px;
	line-height: 27px;
	padding-top: 26px;
	padding-left: 12px;
}
.wrapper_morefs img {
	border:1px #CCCCCC solid;
}
.station {
	position:absolute;
	left:0px;
	top:35px;
	z-index:1000px;
	width:63px;
	display:none
}
.station ul {
	margin:0;
	padding:0;
	background:#fff;
	width:63px;
	border:1px solid #ccc;
	position:relative
}
.station li {
	list-style:none;
	text-align:center;
	line-height:33px;
	width:43px;
	overflow:hidden;
	margin:0;
	height:33px;
	font-size: 14px;
	color: #61605e;
	padding:0 10px;
	cursor:pointer;
}
.wz1a { position:relative; z-index:9999; }
.wz1a ul { position:absolute; width:56px; top:27px; left:-7px; background:#f1f1f1; z-index:9999; padding:0 4px; padding-top:12px; display:none; border:3px solid #eee; border-top:0 none; }
.wz1a ul li { width:50px; display:block; height:28px; line-height:28px; text-align:center; padding:0 3px; border-bottom:1px dotted #bbb; }


.gundong_news {
	width: 1000px;
	height: 35px;
	background-color: #f6f6f6;
	overflow: hidden;
}
.gd {
	float: left;
}
.gd a{display:block; margin-right: 18px; line-height:35px}
.gd2 {
	line-height: 35px;
	float: left;
}
.gd a, .gd2 a {
	color: #313131
}
/**华龙调查**/
.vote {margin:0; margin-top:15px;width: 334px;overflow: hidden; padding-bottom:4px}
.hldc{border-bottom:1px solid #e1e1e1; margin-top:11px}
.vote_b {
	position:relative;
	margin: 2px 0;
	width: 334px;
	height: 80px;
	*margin:0;
	*padding-top:-7px;
	*line-height:24px;
	*height:24px;
	_line-height: 24px;
	_height: 24px;
	_margin:2px 0;
	_padding-top:0;
}

.vote1 {
	float: left;
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) -184px -54px no-repeat;
	width: 14px;
	height: 16px;
	margin: 2px 10px 0 0;
}
.vote2 {
    font-size:12px;
	font-weight: bold;
	line-height: 22px;
	width: 310px;
	overflow: hidden;
	height: 22px;
	float: left;
}
.vote_b p { font-size:12px;
	float: left;
	display: block;
	height: 22px;
	line-height:29px;
	*height:23px;
	*line-height:25px;
}
.vote_b a { font-size:12px;
	position:absolute;
	bottom:0;
	right:0;
	display: block;
	background-color: #3d86d3;
	width: 40px;
	height: 22px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
}
.vote_b input {
	margin-top: 5px;
}
.cont li {
	line-height: 30px;
	padding: 0 8px;
}
.bt8 {
	font-size:16px;
	line-height:40px;
	width:105px;
	font-weight:bold;
	float:left;
	margin-right:120px;
}
.more3 {
	color: #b1b1b1;
	font-family: "宋体";
	font-size: 12px;
	float: left;
	line-height: 42px;
	width: 85px;
}
.more3 a {
	color: #414141;
}
.more2 {
	background: url(http://i1.cqnews.net/cqnews/137909.files/images/bg.png) -185px -41px no-repeat;
	width: 17px;
	height: 14px;
	float: left;
	margin: 13px 0 0 2px;
	display: block;
}
/**华龙网左距A-华龙调查左边**/
.yjyss{padding-top:10px}