@charset "utf-8";
/* CSS Document */

html {font-size:62.5%;font:1.4rem/1.5;}
body { margin:0px; padding:0px;overflow-x: hidden;font-family:"微软雅黑";}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;/* color:#118194*/}
a:active {text-decoration: none;}
div,section { margin:0 auto; }
a { color:#333;}
img  { border:0;}
.clear { clear:both;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.fleft { float:left}
.fright { float:right}
h1,h2,h3,h4,dd,dl,dt,ul,li,input,form,img ,p{ padding:0; margin:0; list-style:none; font-weight:normal;}
.blue , .blue a { color:#2b73df}
.orange , .orange a { color:#F90}
.fff , .fff a { color:#fff}

.m10sx { margin:1rem 0; }
.m5sx { margin:0.5rem 0; }
.h5px { height:0.5rem; }
.h10px { height:1rem; }
.h15px { height:1.5rem; }
.h20px {height:2rem;}
#_h5_box { display:none; width:100%; overflow-x:hidden; }

/*loading*/
#_h5_loading { width:100%;height:100%;left:0;top:0;z-index:10000; position:fixed; background:url(http://www.cqnews.net/common/cache/images/loading_img.gif) no-repeat 50% 40%,url(http://www.cqnews.net/common/cache/images/loading_txt.jpg) no-repeat 50% 72%; background-color:#ffffff; background-size:45%,65%; }

/*导航*/
header {color: #fff;overflow: hidden;background-color: #2B73DF;}
header a{
	width: 12%;
    display: block;
    float: right;
}
header img{
    margin: 0.5rem auto;
    display: block;
    height: 3rem;
    display: block;
}
/*header p{
	font-size: 0.8rem;
    text-align: center;
    color: #fff;
    font-family: "微软雅黑";}*/
.w-p31 {height: 4rem;padding: 0 0 0 3%;}
.logo {
	height: 3rem;
    width: 9rem;
    background: url(http://www.cqnews.net/images/logo/logo.png) left center no-repeat;
    background-size: 90%;
    margin-top:0.5rem}
.w-p31 span {
	color: #fff;
	display: block;
	width: 3rem;
	height: 3rem;
    float: right;
    margin: 0 0.25rem;
    background-size: 50% 50%;
    font-size: 1.2rem;
   /* text-indent: 0.5rem;*/
    text-align: center;
    line-height: 7rem;
    font-family: "Microsoft Yahei";}
/*搜索*/
.search{    
    height: 2.2rem;
    padding: 0.8rem 0;
    background-color: #699de9
}
#contentKey{
    border: 1px solid #4a89e7;
    border-right: 0px solid #4a89e7;
    border-radius: 5px 0 0 5px;
    margin-left: 5%;
    height: 2.2rem;
    line-height: 2.2rem;
    resize: none;
    overflow: hidden;
    font-family: "微软雅黑";
    font-size: 1.1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    -webkit-box-flex: 1;
    width: 80%;
    float: left;
    color: #999;
    text-indent: 0.5rem;
}
#search_btn{
    width: 10%;
    height: 2.2rem;
    white-space: nowrap;
    line-height: 2.2rem;
    letter-spacing: -1px;
    border: 1px solid #38f;
    box-sizing: inherit;
    font-size: 1rem;
    text-align: center;
    border-radius: 0 5px 5px 0;
    float: left;
    background: #f7f7f7 url(http://i1.cqnews.net/cqnews/177709.files/search.png) center center no-repeat;
    background-size: 40%;
}


 /*正文*/
.dhbox { font-size:1.4rem; padding-right:1.6rem; line-height:4.5rem;}
.dhbox1 { background: url(http://www.cqnews.net/images/h5/tu3.png) 50%  center no-repeat;background-size:30% auto;}
.dhbox2 { background: url(http://www.cqnews.net/images/h5/tu2.png) 50%  center no-repeat;background-size:30% auto; }
.nav_near_arrow{display: none;}
.nav_top{padding: 0rem 2%;}
.nav_down{
	position: absolute;
    padding: 0rem 2% 0.5rem 2%;
    width: 96%;
    left: 0px;
    background-color: rgb(24, 88, 185);
	display: none;}
nav {background-color:#1858b9;overflow:hidden;padding: .5rem 0;}
nav div { overflow:hidden; }
nav div a {
	color: #fff;
    float: left;
    width: 16.66%;
    line-height: 2.6rem;
    font-family: "微软雅黑";
    font-size: 1.8rem;
    height: 2.6rem;
    display: block;
    text-align: center;}
.h5_nav_content {/* margin:0.5rem 0;*/ }
.w22 { width:auto; padding-left:6.1%; }


/*头条*/
.topnews{width: 100%;margin: 1.2rem 0;}
.topnews a{color:#000;}
.big_top_news{
	font-size: 2.2rem;
    font-weight: bold;
    font-family: "微软雅黑";
	line-height: 3rem;
    text-align: center;
    height: 3rem;
    margin: 0.5rem 2%;
    overflow: hidden;
    display: block;  
}
.small_top_news{	
    font-size: 1.4rem; 
	font-family: "微软雅黑";
    text-align: center;
    line-height: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 2%;
    overflow: hidden;
    display: block;
}


/*slider*/

.slider {
	margin: 0rem 2.5%;
    min-height: 13rem;
    width: 95%;
    overflow: hidden;
    position: relative;
}
.slider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 13rem;
    overflow: hidden;
}
.slider li {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}
.slider a{display: block;width: 100%;}
.slider img{
	width: 100%;border: 1px solid #d8d8d8;
}
#slider p{
	position: absolute;
    color: #fff;
    background:-ms-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.8));        /* IE 10 */
	background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.8));/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(0,0,0,0)), to(rgba(0,0,0,0.8)));      /* Safari 4-5, Chrome 1-9*/
	background:-webkit-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.8));   /*Safari5.1 Chrome 10+*/
	display: block;
    width: 100%;
    margin: -3.7rem 0%;
    text-indent: 0.4rem;
    font: 1.6rem/3.3rem "微软雅黑";
	height: 3.3rem;
}
#slider2 p{
	position: absolute;
    color: #fff;
	display: block;
    width: 100%;
    margin: -3.7rem 0%;
    text-indent: 0.4rem;
    font: 1.6rem/3.3rem "微软雅黑";
	height: 3.3rem;
}
.slider em{
	font: 1.5rem/3.3rem "微软雅黑";
    float: right;
    margin-right: 0.4rem;
}
#slider2{margin-top:1rem;}
@media only screen and (min-width: 100px) and (max-width: 320px) {
	.slider,.islider-outer,.slider img{
		min-height:152px!important;
	}
	.slider img{
		max-height:152px!important;
	}
	/*.resize_magrin{
		margin-top:175px!important;
	}*/

} 
@media only screen and (min-width: 321px) and (max-width: 375px) {
	.slider,.islider-outer{
		min-height:178.125px!important;
	}
	.slider img{
		max-height:178.125px!important;
	}
	/*.resize_magrin{
		margin-top:212px!important;
	}*/
	.w-p31 {
    padding: 0.5rem 0 0.5rem 3%;
	}
}        
 @media only screen and (min-width: 376px) and (max-width: 414px) {
	.slider,.islider-outer{
		min-height:196.65px!important;
	}
	.slider img{
		max-height:196.65px!important;
	}
	/*.resize_magrin{
		margin-top:225px!important;
	}*/
	.w-p31 {
    padding: 0.5rem 0 0.5rem 3%;
	}
}     
/*新闻列表*/
.boxlb { padding:0 3.1%; overflow:hidden; }
.boxlb li { overflow:hidden; height:4.3rem; line-height:4.3rem; font-size:1.8rem; border-bottom: 1px solid #eceef0;box-shadow: 0 1px 1px #fff; }
.boxlb li:last-of-type { border-bottom: none;box-shadow: none;/* display: none; */}
.boxlb li a { display:inline-block; font-size:1.8rem;font-family:"微软雅黑";}
.boxlb li i { display:inline-block; margin-right: 4px; width: 2.2rem; text-align:center; line-height:1.2rem; height:1.2rem;  vertical-align: 2px; background:#3076e0;border-radius:0.4rem; color:#fff; font-style:normal; font-size:0.8rem; }
.boxlb span{ top: -0.3rem;position: relative;/*对齐标题*/background: #337ad6;color: #fff;font: 0.8rem/1.5rem "微软雅黑";padding: 0.3rem;margin-right: 0.5rem;border-radius: 0.4rem;}

.m10sx { margin:1rem 0; }
.m5sx { margin:0.5rem 0; }
.h5px { height:0.5rem; }
.h10px { height:1rem; }
.h15px { height:1.5rem; }
.boxbt { background:url(lanmu_title.png) no-repeat; height:3rem; line-height:3rem;margin: 0 2.5%; background-size:100% 100%; }
.boxbt1 { background:url(lanmu_title.jpg) no-repeat; background-size:100%; }
.boxbt .title1 {
    float: left;
    font-size: 1.8rem;
    width: 27%;
    text-align: center;
    font-family: "微软雅黑";
    color: #000;
    font-weight: bold;
}
.boxbt1 .title1 {
  width: 49%;
}
.boxbt .title2 {
    color: #c14545;
    text-align: right;
    font-size: 1.2rem;
    line-height: 3rem;
    float: right;}
.boxbt .title2 a { float:right; display:block; margin-left:1rem;}

.boxbt .title3 {color: #c14545; font-family: "微软雅黑";text-align:right;font-size:1.4rem;line-height:3.8rem; float:right;  }
.boxbt .title3 a { float:right; display:block; margin-left:1rem;}

.huanicon{
	background: url(change.png) no-repeat center center;
    display: block;
    float: right;
    width: 2rem;
    height: 3rem;
    background-size: 50%;
}

/*列表title*/
.boxrmtj {  padding:0 3%;}
.boxrmtj li { padding:1.2rem 0; overflow:hidden; display:block; position:relative; border-bottom: 1px solid #f2f2f2; }
.boxrmtj li > a {
	display: block;
    width: 28%;
    min-height: 6.5rem;
    max-width: 10.5rem;
    float: left;}
.boxrmtj li > a:empty { background: url(http://www.cqnews.net/images/h5/noimg.jpg) no-repeat; background-size: 100%; }
.boxrmtj li:last-of-type {border-bottom: none;box-shadow: none;/* margin-bottom:.5rem;  display: none; */}
.boxrmtj li img { width:100%; height:auto; max-width:10.5rem; }
.boxrmtj li .rmtj_rig {
    float: left;
    width: 72%;
    font-size: 1.8rem;
    line-height: 2rem;
    padding-left: 0.6rem;
    box-sizing: border-box;
    font-family: 微软雅黑;
    height: 4.2rem;
}
.rmtj_rig a:first-of-type {
	font-size: 1.8rem;
    line-height: 2rem;
	display:block;
}
.boxrmtj li .rmtj_rig .rmtj_rig_x {
    position: absolute;
    width: 67%;
    font-size: 1rem;
    height: 1.2rem;
    line-height: 1.6rem;
    bottom: 2.2rem;
}
.rmtj_rig_x span{
	color: #4998e7;
    padding: 0.2rem;
    border: 1px #4998e7 solid;
    border-radius: 0.4rem;}
.spec_icon span{
    color: #4998e7;
    padding: 0.2rem;
    border: 1px #4998e7 solid;
    border-radius: 0.4rem;
    font-size: 1rem;
    line-height: 1.5rem;
    position: absolute;
    bottom: 1.6rem;
}	
	
/*广告栏目*/
.h5gg_a{
	display: block;
    width: 28%;
    min-height: 0rem !important;
    max-width: 6rem  !important;
    float: left;
}

.h5gg_a :empty { background: url(http://www.cqnews.net/images/h5/noimg.jpg) no-repeat; background-size: 100%; }

.h5gg_img{width:100%; height:auto; max-width:6rem !important; }

.h5gg_type{
	position: absolute;
    width: 69%;
    font-size: 1rem;
    height: 1.2rem;
    line-height: 1.6rem;
	bottom: 1.2rem;
	text-align: right;
}

.h5gg_type span{
	border: 0;
	background-color: #B7B7B5;
	color: #fff;
	padding: 0.1rem 0.3rem;
	border-radius: 0;
}

.timeago{
	float: right;
    color: #8c8c8c;}
.timeicon{
	float: right;
    background: url(timeago.png) no-repeat center right;
    background-size: 85%;
    color: #8c8c8c;
    width: 1.5rem;
    height: 1.5rem;
}
.rmtj_xbox_t { background: url(http://www.cqnews.net/images/h5/index_04.jpg) left center no-repeat;background-size:auto 60% ; padding-left:1.4rem; }
.three_pic{
	font-size: 1.6rem;
    line-height: 2rem;}
.three_pic img{
	width: 31.33%;
    margin: 0 1%;
	display: block;
    float: left;}
.three_pic p{margin-bottom: 0.5rem;font: 1.8rem/3.8rem "微软雅黑";}  
.more { height: 3.5rem;line-height: 3.5rem;margin: 0 3.1%;border-radius:0.4rem; border: 1px solid #efefef;background-color: #f6f5f5;text-align: center;}
.more a { width:100%; height:3.5rem; color:#666; }
.more span {font-size:1.6rem; background:url(more.png) 99% center no-repeat;padding:0.7rem 2.5rem 0.5rem 0;background-size: auto 70%;}
/*问政*/
.boxwz{ padding:0 3%; overflow:hidden; width: 94%; }
.boxwz li{
	overflow: hidden;
    height: 6rem;
    line-height: 3rem;
    font-size: 1.8rem;
    border-bottom: 1px solid #eceef0;
    box-shadow: 0 1px 1px #fff;
	padding-top: 1rem;}
.boxwz li:last-of-type{border-bottom:0;}
.boxwz li a {width:100%;height: 3rem;overflow: hidden;display:inline-block; font-size:1.8rem;font-family:"微软雅黑";}
.boxwz span{
	color: #595656;
    font: 1.4rem/1.4rem "微软雅黑";
    margin-right: 0.5rem;
}
.boxwz em{font-style: normal;
    color: #337ad6;}


/*视听*/
.play_video{
	width: 10% !important;
    margin: -16% 9%;
    position: absolute;
    display: block;
}
/*区县双图*/
.boxtp { padding:0 3%; overflow:hidden;margin-top: 1rem!important;}
.boxtp a { float: left; width: 47%; padding:0 1.5%;text-align:center;font-family:"微软雅黑"; }
.boxtp a img { max-width:280px;display: block; width: 93.5%; margin:0 auto; }
.boxtp a p {
	font-size: 1.3rem;
    line-height: 2.4rem;
    padding-top: 0.6rem;}

/*华龙百家*/
.boxhlbj { padding:0 3%; overflow:hidden;}
.boxhlbj li { float: left;width: 31.33%;margin: 0 1%;}
.boxhlbj img { max-width:280px;display: block; width: 100%; margin:0 auto;border: 1px solid #DDD; }
.boxhlbj p {color: #414040;width: 100%; margin:0.4rem auto;font-size:1.3rem;line-height: 1.5rem; overflow: hidden;}
.hlbj {width: 93.5%; margin:0 auto; height:2.4rem; text-align:left;}
.goumai {width:2.8rem;margin-top:1rem;}
.goumai a { display:inline-block;  width: 2.5rem; text-align:center; line-height:1.5rem; height:1.5rem;border-radius:0.4rem; vertical-align:2px;color:#337ad6; font-style:normal; font-size:1rem;border: 1px solid #337ad6}
.z18 { font-size:1.8rem; font-weight:bold; padding-left:.5rem; }
.z1 { font-size:1rem; font-weight:bold}
.orign{color:#999;text-decoration: line-through;}

/*图库*/
.boxtk { padding:0 3%; overflow:hidden;}
.boxtk a { float: left; width: 47%; padding:0 1.5%;text-align:center; }
.boxtk a img { max-width:280px;display: block; width: 93.5%; margin:0 auto; }
.boxtk p { 
	font-size:1.3rem; line-height:2.4rem; 
    position: absolute;
    color: #fff;
    background-color: rgba(11, 10, 10, 0.2);
    max-width: 280px;
    display: block;
    width: 41%;
    margin: -2.3rem 1.5%;}
/*广告*/
.gg1 {margin: 1rem 3% 0;text-align: center;}
.gg1 img { width:100%; height:auto; display:block; }



/*footer*/
.footicon{
	/*margin-top: -.5rem;*/
    padding: 1.5rem 3%;
    line-height: 2.6rem;
    font-size: 1.6rem;
    height: 6rem;
    text-align: center;
}
.footicon a{
	width: 25%;
    display: block;
    float: left;}
.footicon img{
	width: 50%;
    float: left;
    margin: 0 25%;
}
.footicon p{
	font-size: 1.2rem;
    text-align: center;}
.footdh{    
	background: #1d71b7;
    margin-top: -.5rem;
    padding: 0.6rem 3%;
    line-height: 2.6rem;
    font-size: 1.6rem;
    height: 2.6rem;
    text-align: center;}
.foot{
    background: #e0f2ff;
    padding: 1.4rem 0;
    line-height:2rem;
    font-size: 1.2rem;
    text-align: center;
    color:#666767;
    }
.foot p,.foot a{font-size:1.4rem;padding-bottom:.6rem;color:#666767;}
a.backToTop{
	width: 32px;
    height: 32px;
    background: url(http://i1.cqnews.net/cqnews/177709.files/gotop.png) no-repeat center center;
    text-indent: -999em;
    background-size: 100%;}
