@font-face {
  font-family: 'Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Basic Regular'), local('Basic-Regular'), url(http://fonts.gstatic.com/s/basic/v6/79PZwRoHmGkEVJdRp2tA_Q.ttf) format('truetype');
}
