/*
Theme Name: Guatevision
Theme URI: https://guatevision.com
Author: FrontOffice - Prensa libre
Author URI: 
Description: 
Version: 2
License:
License URI: 
Tags: 
Text Domain: guatevision


*/

body{
    background-color:#fff !important;
}
.container-header {
    padding-top: 15px !important;
}


.header-image-background{
    /* background: url(img/background.png?v=0.1); */
}

.page-header.header-small {
    height: auto;
    padding-bottom: 0px;
}

#logo-header{
    height: 75px;
    margin-top: 10px;
    margin-left: 15px;
}

.container-header {
    padding-top: 15px !important;
    min-height: 90px;
}


@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
    margin:0px 2px;
}

/* ESTADO DEL TIEMPO */


#header-forecast{
    display:inline-flex;
    margin-top: 20px;
}

#hora_header{
    width: 260px;
}
.separador_temp {
    margin-left: 8px;
    margin-right: 8px;
    border-left: 1px solid #fff;
}

.separador_temp_fc {
    margin-left: 8px;
    margin-right: 8px;
    border-left: 1px solid #000;
}

.temp_baja{
    color:#b7ddff;
}

.temp_alta{
    color:#fff;
}

#forecast td{
    border-top: none !important;
}

#forecast th{
    border-bottom:1px solid #fff;
    text-shadow: #474747 3px 2px 3px;
}

.cerrar_pronostico{
    color: #fff !important;
}

.forecast-icon{
    color: #fff;
    text-shadow: #474747 3px 2px 3px;
}



#weather {
    width: 175px; 
    text-transform: uppercase;
    margin-left:18px;
}

i{
    font-family: weather;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather .titulo_forecast {
    margin:0px;
    font-size: 30px;
    font-weight: 370;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    cursor:pointer;
}

#weather ul {
    margin: 0;
    padding: 0;
}

#weather li {
    background: #fff;
    background: rgba(255,255,255,0.90);
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
}

#weather .currently {
    margin: 0 20px;
}

/* FIN ESTADO DEL TIEMPO */

/* SEARCH */
#header-search{
    color:#fff;
}

#header-search::-webkit-input-placeholder {
    color: #fff;
}

#header-search:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

#header-search::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;  
}

#header-search:-ms-input-placeholder {  
    color: #fff;  
}

.white-input.is-focused .form-control{
    background-image: linear-gradient(#f8f8f8, #f8f8f8), linear-gradient(#D2D2D2, #D2D2D2) !important;

}

/* MEGA MENU */

.megamenu-contenedor{
    width: 980px;
    padding:20px;
}

#megamenu-programas{
    background:rgba(17,86,159,0.95);
    padding-bottom: 0px;
}

#megamenu-bbc{
    background:rgba(202,9,20,0.90);
}

.content-wrapper-megamenu {
    float: left;
    width: 100%;
}

.content-megamenu {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 320px;
    clear: both;
    overflow: hidden;
}

.sidebar-megamenu {
    margin:10px auto;
    text-align: center !important;
    position: relative;
    width: 320px;
    padding-top:0px;
    margin-left: -320px;
    float: right;
    overflow: hidden;
    text-align: right;
    padding-bottom: 0px;
}

#matriz-programas{
    padding-top: 0px; 
    padding-bottom: 0px;
}

#container-matriz-programas{
    padding-top:0px;
    width: auto;
}

#container-matriz-programas .info {
    max-width: 320px;
    margin: 0 auto;
    padding: 10px 0 10px;
}


#container-matriz-programas .info-title {
    margin: 5px 0 5px;
}

#container-matriz-programas ul li{
    padding: 4px 0; 
}

#container-matriz-programas ul li a{
    color:#999999;
    background:none;
    padding: 0px;
}

#container-matriz-programas ul li a:hover,#container-matriz-programas ul li a:link{
    background:none;
    box-shadow: none;
}

#container-matriz-programas .card{
    margin-bottom:0px;
}


/* LO ULTIMO */
.lo-ultimo{
    text-align: left;
}


#lo-ultimo-banner{
    text-transform:uppercase;
    margin-top: 0;
    width: 116px;
}

.content-wrapper-lo-ultimo {
    float: left;
    width: 100%;
}

.content-lo-ultimo {
    margin-right: 335px;
    clear: both;
    overflow: hidden;
}

.sidebar-lo-ultimo {
    position: relative;
    width: 370px;
    padding-top:0px;
    margin-left: -370px;
    float: right;
    overflow: hidden;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 15px;
}

.sidebar-lo-ultimo button{
    margin-left:7px;
}

.progress{
    height: 2px;
}

.progress .progress-bar.progress-bar-success {
    background-color: #1156B0;
}

.progress.progress-line-success {
    background: rgba(17, 86, 159, 0.2);
}


.list_carousel {  
    min-width:285px !important;
    height: 35px; 
    overflow: hidden; 
}

.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    text-align: left;
    padding: 0;
    margin: 10px 0px 6px 0px;
    display: block;
    float: left;
    width: 100%;
}

.text-lo-ultimo:link, .text-lo-ultimo:visited{
    color:#777;
}

.text-lo-ultimo:hover{
    color:#000000;
}

/* CONTENT AND SIDEBAR */

.main-raised {
    margin: 0px auto;
    max-width: 1180px;
    box-shadow:none;
    margin-top: -15px;
}


.content-wrapper-layout {
    float: left;
    width: 100%;
}

.content-layout {
    margin-right: 320px;
    clear: both;
    overflow: hidden;
    padding: 10px;
}


.sidebar-layout {
    position: relative;
    width: 320px;
    margin-left: -320px;
    float: right;
    overflow: hidden;
    padding: 10px;
}




@media (max-width: 400px) {
    #hora_header {
        font-size: 11px !important;
    }

    #weather{
        font-size: 17px !important;
        margin-left: 7px !important;
        width: 95px !important;
    }

    #weather h2 {
        font-size: 17px !important;
    }

    .forecast-icon {
        font-size: 25px !important;
    }
    .separador_temp {
        margin-left: 4px !important;
        margin-right: 4px !important;
    }

    #hora_mobile{
        display: block;
    }
    #hora_desktop{
        display: none;
    }

    .nbs-flexisel-nav-left{
        top:0px;
    }

    .nbs-flexisel-nav-right{
        top:0px;
    }

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {

    #contenedor-search-header{
        margin-right:-27px !important;
    }
    #contendor-botones-derecha-menu {
        margin-left: -5px;
    }

    #contendor-botones-derecha-menu li{
        display: inline-flex;
    }

    .card-programacion .content{
        background-image: none !important;    
    }

    #forecast{
        border:none;
    } 

    #lo-ultimo-banner {
        width: 100px;
        margin-left: 15px;

    }
    .main-raised {
        max-width: 750px;
    }

    .navbar.navbar-transparent {
        background-color: rgba(17, 86, 159, 1);
        background-image: url(img/logo-menu.png);
        background-repeat: no-repeat;
        background-position: 30px 15px;
        background-size: 170px;

    }

    #logo-content{
        display: none;
    }

    .main-raised {
        border-radius: 0px;
    }


    .cl, .cc, .cr{
        padding-left:15px !important;
        padding-right:15px !important;
    }

    #megamenu-programas {
        width:auto !important;
    }

    #megamenu-bbc{
        width: auto !important;
    }

    .content-wrapper-layout {
        clear:both;
    }

    .content-layout {
        clear: both;
        margin-right: 0px;
    }

    .sidebar-layout {
        clear: both;
        width: 100% !important;
    }

    .content-wrapper-lo-ultimo {
        clear:both;
    }

    .content-lo-ultimo {
        margin-right: 14px;
        clear: both;
    }

    .sidebar-lo-ultimo {
        clear: both;
        width: 100% !important;
    }

    .content-wrapper-megamenu {
        clear:both;
    }

    .content-megamenu {
        margin-right: 14px;
        clear: both;
    }

    .sidebar-megamenu {
        clear: both;
        width: 100% !important;
        text-align: center;
        margin: 10px auto 0 auto;

    }


    .content-megamenu {
        padding-right:0px;
    }

    .page-header {
        min-height: auto;
    }

    #weather{
        width: 120px;
    }

    #weather h2{
        font-size: 20px;
    }

    .forecast-icon{
        font-size: 32px;
    } 

    #hora_header {
        width: 230px;
        font-size: 12px;
        line-height: 14px;
    }

    #header-forecast{
        margin-bottom: 10px;
    }

    #txt-search{
        width: 275px;
        float: left;
        margin-right: 20px;
    }



    #tabla-forecast td:nth-child(6), #tabla-forecast td:nth-child(7), #tabla-forecast th:nth-child(6), #tabla-forecast th:nth-child(7) {
        display: none;
    }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 767px) and (max-width: 992px) { 
    .main-raised {
        max-width: 757px;
    }

    .page-header {
        min-height: auto;
    }



    #lo-ultimo-banner{
        width: 90px;
        margin-left: 10px;
    }



    #megamenu-programas {
        width:641px !important;
    }

    #megamenu-bbc{
        width: 538px !important;
    }

    .content-wrapper-megamenu {
        clear:both;
    }

    .content-megamenu {
        margin-right: 14px;
        clear: both;
    }

    .sidebar-megamenu {
        clear: both;
        width: 100% !important;
    }


    .content-megamenu {
        padding-right:0px;
    }

}




@media (min-width: 992px ) and (max-width: 1200px) {
    #megamenu-programas {
        width: 881px;

    }

    #megamenu-bbc{
        width: 778px;
    }

    .main-raised {
        max-width: 980px;
    }

    .page-header {
        min-height: auto;
    }

}

@media (min-width: 1200px ) {

    .main-raised {
        max-width: 1180px;
    }

    #megamenu-programas {
        width: 1081px;
    }

    #megamenu-bbc{
        width: 978px;
    }

    .page-header {
        min-height: auto;
    }
}


/* STREAMING */

.titulo-programacion-cintillo{
    font-size: 1em;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 3px;
}

.titulo-programacion-cintillo .fa {
    font-size: 14px !important;
    top:0 !important;
}

.titulo-programacion-card{
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
}

.separador{
    margin: 10px;
}

.titulo-proximos{
    line-height: 1em;
}

.card-contenido{
    padding: 5px 15px !important;
}

.programacion-card{
    margin-bottom: 10px;
}

.programacion-card .card-description{
    margin-bottom: 0px;
}


/* NOTAS */

#contenido-notas{
    margin-top:35px;
}

.card-destacado-notas{
    background:#231f20;
}

.card-title-destacado-notas a, .card-description-destacado-notas{
    color:#fff;    
}

.card-title-destacado-notas a:hover{
    background:transparent !important;    
}

.card-social-notas{
    margin-top:0px !important;
}



/* PROGRAMACION */


.cl, .cc, .cr{
    padding-right: 0px;   
    padding-left: 0px;  
}



.content-programacion{
    background:rgba(0,0,0,0.7);
    color:#fff;
}

.content-programacion .row{
    border-bottom: 1px solid #fff;
    margin-right: 0px;
    margin-left: 0px;
}

.card-programacion{
    margin-bottom: 0px;
    margin-top: 5px;
    min-height: 100%;
    height: 100%;
    background:none;
}

.card-hora-progra{
    margin-bottom: 0px;
    padding: 12px 0;
    border-bottom:0;
}

.card-hora-progra a:active, .card-hora-progra a:link, .card-hora-progra a:visited{
    color:#999999;
}

.card-hora-progra a:hover{
    color:#fff;
}

.card-programacion .content {
    padding: 7px 15px;
    border-radius: 5px;
}

.card-programacion .content-info{
    padding: 10px 10px;
}

.card-programacion .footer{
    margin-top:0px;

}

.card-programacion .author span{
    color:rgba(255, 255, 255, 0.8);
}

.nav-pills.nav-pills-black > li.active > a, .nav-pills.nav-pills-black > li.active > a:focus, .nav-pills.nav-pills-black > li.active > a:hover {
    background-color: #000;
    box-shadow: 0 16px 26px -10px rgba(177, 177, 177, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgb(142, 142, 142);
}


.card-hora-progra{
    padding:0px 0px !important;
}

.card-hora-progra ul{
    margin:0px auto !important;
}

.link-programacion-parrilla{
    color:#000 !important;

}
/* FOOTER */

.container-footer{
    margin-top:65px;
    padding-bottom: 15px;
}


/* BUTONS PROGRAMAS */

.banner{
    border: none;
    width: 100%;
    font-size: 15px;
    border-radius: 2px;
}


/* CAROUSEL PROGRAMAS */

.content-sliders-programas{
    width:300px;
    margin: 5px auto;
}

/* MEGAMENU BBC */

.bbc-mm-content{
    background:#000;    
}

.bbc-mm h4{
    font-size:15px;
    line-height: 17px;
}

.bbc-mm h4 a:hover, .bbc-mm h4 a:active, .bbc-mm h4 a:link{
    background:none;
}

.bbc-mm h6, .bbc-mm h6{
    font-size:13px;
    line-height: 16px;
}
.bbc-mm h6 i{
    font-size: 17px;
    top: 4px !important;
}

.bbc-mm p{
    font-size:13px;
    line-height: 17px;
}



.navbar{
    font-family: "Helvetica";
}

.pagination-bbc > .active > a{
    background: #fff !important;
    color: #000 !important;
}

#navigation-portada{
    margin-top:10px;
}

.navbar.navbar-transparent {
    padding-top: 0px;
}


#container-matriz-programas .row{
    margin-right: -18px;
    margin-left: -15px;
    padding-right: 10px;
}


.content-pronostico{
    background: linear-gradient(60deg, #2491e5, #0e4784);
    color:#fff;
}

.ahora-programacion {
    background: green;
}

.ahora-programacion ul li {
    color: #fff;
}

.contenedor-redes-sociales a, .contenedor-redes-sociales-sm a, .contenedor-redes-sociales-xs a{
    width:80px;
    text-align: center !important;
    margin:auto;
}

.contenedor-redes-sociales-sm a{
    width:60px;
}

.contenedor-redes-sociales-xs a{
    width:49px;
}

.tooltip-inner {
    max-width: 250px;
    width: 250px; 
    opacity: 0.9;
}


.features-5 .container [class*="col-"] {
    border: none;
}


.features-5 {
    margin-top: 10px;
    margin-bottom: 20px;
}


.text-lo-ultimo {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.aligncenter{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    max-width: 100%;
    height: initial;
}

.alignright {
    float:right; 
    margin:0 0 1em 1em; 
    text-align: right;
    max-width: 100%;
    height: initial;
}

.alignleft {
    float:left; 
    margin:0 1em 1em 0; 
    text-align: left;
    max-width: 100%;
    height: initial;
}

img.alignright {
    float:right; 
    margin:0 0 1em 1em
}
img.alignleft {
    float:left; 
    margin:0 1em 1em 0
}
img.aligncenter {
    display: block; 
    margin-left: auto; 
    margin-right: auto
}
a img.alignright {
    float:right; 
    margin:0 0 1em 1em
}
a img.alignleft {
    float:left; 
    margin:0 1em 1em 0
}
a img.aligncenter {
    display: block; 
    margin-left: auto; 
    margin-right: auto
}

iframe{
    max-width:100% !important;
}

.container-pauta-header{
    min-height: 0px;
}

div[id^='attachment_'] {
    width: 100% !important; 
}

img[class^='wp-image-']{
    max-width: 100%;
    height: inherit;
}


.autores-list ul li{
    padding: 5px;
    
}

.autores-list a{
    color:black;
    
}

    
