@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  src: local('Cairo Black'), local('Cairo-Black'), url(https://fonts.gstatic.com/s/cairo/v1/7yDa7MkmUiJR2nvF_tTJBvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
