﻿@charset "UTF-8";
/* CSS Document */

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/

/*Normal - uses Medium font*/
@font-face{
font-family:"AvantGardeGothic";
src:url("/Fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix");
src:url("/Fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix") format("embedded-opentype"),url("/Fonts/43b723ac-a6f2-4d5d-9d72-c50aea85ecee.woff") format("woff"),url("/Fonts/9093e944-c2da-4954-953f-ca2eb3a227dd.ttf") format("truetype"),url("/Fonts/e3929a31-b148-4180-91be-4b490bdac87d.svg#e3929a31-b148-4180-91be-4b490bdac87d") format("svg");
}

/*Bolded - uses Demi font*/
@font-face{
font-family:"AvantGardeGothic";
src:url("/Fonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix");
src:url("/Fonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix") format("embedded-opentype"),url("/Fonts/c18aee57-7585-4a8b-9a1c-69d226301d73.woff") format("woff"),url("/Fonts/44ccbb2b-0fbc-4d95-b1da-0aa73bd26fb0.ttf") format("truetype"),url("/Fonts/f2de529c-11d2-43b7-be7c-05c5aaeaf133.svg#f2de529c-11d2-43b7-be7c-05c5aaeaf133") format("svg");
font-weight:bold;
}

