/* Andro4all Theme */

.difoosion-button {
  background: #6ab344;
  background-image: -webkit-linear-gradient(top, #6ab344, #6ab344);
  background-image: -moz-linear-gradient(top, #6ab344, #6ab344);
  background-image: -ms-linear-gradient(top, #6ab344, #6ab344);
  background-image: -o-linear-gradient(top, #6ab344, #6ab344);
  background-image: linear-gradient(to bottom, #6ab344, #6ab344);
  border-bottom: none !important;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff !important;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none  !important;
}

.difoosion-button:hover {
  background: #6ab344;
  background-image: -webkit-linear-gradient(top, #6ab344, #91b57d);
  background-image: -moz-linear-gradient(top, #6ab344, #91b57d);
  background-image: -ms-linear-gradient(top, #6ab344, #91b57d);
  background-image: -o-linear-gradient(top, #6ab344, #91b57d);
  background-image: linear-gradient(to bottom, #6ab344, #91b57d);
  text-decoration: none;
}