/*
Theme Name:NewAndro4all
Theme URI:http://difoosion.com/
Description:Andro4all Theme
Author:Difoosion
Author URI:http://difoosion.com/
Template:NewDifoosion
Version:1.0.2
Tags:two-columns, fixed-width

License:Todos los derechos servados
License URI:http://difoosion.com/legal
*/
@import url(../NewDifoosion/css/1.0/bootstrap.min.css);
@import url(base.css);
body { margin:40px 0 0 }
.blog_content table { width:100% }
.blog_content th { background-color:#AEBE5A; color:#FFF; padding:10px }
.blog_content th a { color:#FFF !important }
.blog_content tr { text-align:center; color:#222221 }
.blog_content tr:nth-child(odd) { background-color:#D5DDAB }
.blog_content tr:nth-child(even) { background-color:#fff }
.blog_content td:first-child { font-weight:bold }
.post_summary p { color:#090603 }
.hr { border-bottom:1px dotted #16100C }
.categoriesbar { background-color:#222221 }
#cat-preview { background-color: #222221 }
.special_link a:hover { color:#FF5050 }
.sidebar h3 { background-color:#AEBE5A }
.sidebar h3 a { color:#FFF }
.sidebar h3 a:hover { color:#222221; text-decoration:none }
.wp-pagenavi .current { background-color:#222221; color:#fff; font-size:13px; border:none; margin:2px; padding:10px }
.post_content a { color:#1A5893; border-bottom:1px dotted #287DBD }
.post_content a:hover { color:#287DBD; border-bottom:1px dotted #287DBD }
.comment { background-color:#D5DDAB }
.comment a { color:#222221; font-weight:bold }
h2 a:hover, h3 a:hover, .tagcloud a:hover, .menu-blogroll-container li a:hover, .post_category a:hover, .post_author a { color:#AEBE5A }
h3,.special_link a,.post_excerpt,.post_content ul,.post_content ol,.post_content li,.post_content h2,.post_content h3,.post_content h4,.comment p,.comment-meta,.entry-content p,#commentform .help-inline { color:#090603 }
.categoriesbar li a:hover,.post_info a:hover { color:#AEBE5A; text-decoration:none }
.tagcloud a,.menu-blogroll-container li a,.post_category a,.post_info a,.post_author,.post_author a:hover,.post_count a:hover,.wp-pagenavi a:hover,.post_more a:hover { color:#222221 }
.post_count,.post_more { background-color:#AEBE5A; color:#FFF }
.post_count a,.post_more a { color:#fff }
.wp-pagenavi .pages,.wp-pagenavi .extend,.wp-pagenavi .last,.wp-pagenavi .first,.wp-pagenavi .page,.wp-pagenavi .nextpostslink,.wp-pagenavi .previouspostslink { background-color:#AEBE5A; color:#FFF; font-size:13px; border:none; margin:2px; padding:10px }