@charset "utf-8";

/*
********************************************************************
サイト全体に共通の基本定義
********************************************************************
*/

/* ▼余白、リストのデフォルト形状、fontなど▼ */
* {
list-style:none;
margin-left:0px;
padding: 0px;
text-decoration: none;
color:#222222;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

body {
margin:0px;
padding:0px;
background-position:0px;
text-align:center;
margin:0px auto 0px auto;
border-bottom: 5px solid #EFECDB;
}

#wrapper{
position:relative;
width:1000px;
margin:0px auto 0px auto;
padding:0px;
z-index:0;
}
#main-column-wrapper{
padding:10px 0px;
position:relative;
clear:both;
}
#main-column{
background-color:#fff;
}

a.noborder, 
a.noborder:link, 
a.noborder:hover, 
a.noborder:active, 
a.noborder:visited, 
img{
border: 0;
vertical-align:bottom;
}

/* ▼リンク、画像border、hr▼ */
a,
a:link, 
a:active{
color: #000000;
border-bottom: 0px solid ;
text-decoration:none;
} 
a:focus{
outoline:none;
}
a:visited{
color: #666;
border-bottom: 0px solid ;
text-decoration:none;
}
a:hover{
color: #7d7137;
text-decoration:none;
}
a#top{
display:none;
}

/* ▼アンダーライン▼  */
u{
text-decoration:underline;
}

/* ▼打ち消し線▼ */
strike,del,s{
text-decoration:line-through;
}

/*
********************************************
▼floatをクリアするためのCSS▼
********************************************
 */
 
.clearfix:after {
content: " ";
display: block;
height: 0;
visibility: hidden;
clear: both;
}

.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*
********************************************
▼大枠のレイアウト関連CSS▼
********************************************
 */

body {
margin:0px;
padding:0px;
background-position:0px;
text-align:center;
margin:0px auto 0px auto;
}
body *{
text-align:left;
}

#sitenavi-menu{
float:left;
width:1000px;
margin:0px 0px 0px 0px;
}

/* トップ以外のメインカラム */
#main-column{
position:relative;
float:left;
width:680px;
margin:0px;
padding:0px;
background-color:#fff;
}

#main-contents{
width:650px;
margin:10px auto 0px auto;
padding:0px;
background-color:#fff;
}

/* トップ以外のサブカラム */
#sub-column{
position:relative;
top:0px;
right:0px;
float:right;
width:300px;
margin:0px;
padding:0px;
z-index:1000;
}


/*
*****************************************************
▼フッター部分▼
*****************************************************
*/

#footer{
position:relative;
clear:both;
width:100%;
margin:25px 0px 0px 0px;
padding:0px;
text-align:center;
color:#666;
font-size:10px;
}
