@charset "utf-8";

/* ----------------------------------------------- */
/* トップページ、記事で共通使用しているもの        */
/* ----------------------------------------------- */

/* ------------------------------------------------ */
/* グローバルナビのレイアウト                       */
/* ------------------------------------------------ */

/* ▼メインメニュー部の定義（大枠）▼ */

#g-navi{
width:100%;
height:22px;
overflow:hidden;
margin:0px auto 0 auto;
padding: 4px 0px 4px 0px;
background-color:#fff;
border-bottom:3px solid #efecdb;
}
#g-navi-wrapper{
width:1000px;
height:22px;
margin:auto;
}

/* ▼メインメニュー部のサイト名▼ */

#g-navi .sitename{
float:left;
padding-top:4px;
height:20px;
line-height:20px;
font-size:10px;
font-weight:bold;
color:#000;
background-color: #fff;
}

/* ▼メインメニュー部のナビ部分▼ */
#g-navi .tab-menu{
	float:right;
	width:820px;
	height:100%;
	margin:0px;
}

#g-navi .tab-menu ul{
	margin:0;
	padding:0;
	float:right;
}

#g-navi .tab-menu ul li{
	float:left;
	height:22px;
	margin:0px;
	padding:0px 2px 0px 0px;
	border-right:2px solid #EFECDB;
}
#g-navi .tab-menu ul li a{
	background-image:url(/common/images/v5/sitenavi/gnavi-v5_20160405.jpg?rd=201604051051);
	background-repeat:no-repeat;
	display:block; text-indent:-1000em;
	height:100%; width:77px;
}
#g-navi .tab-menu.six ul li a{
	background-image:url(/common/images/v5/sitenavi/gnavi-v5_20160916.jpg?rd=201609261027);
}

#g-navi .tab-menu ul li#sp-shukatsu,
#g-navi .tab-menu ul li#sp-seminar{margin:0;}

#g-navi .tab-menu ul li#diamond a{width:92px;background-position:0px 0;}
#g-navi .tab-menu ul li#dhbr a{background-position:-97px 0;}
#g-navi .tab-menu ul li#zai a{background-position:-179px 0;}
#g-navi .tab-menu ul li#books a{background-position:-266px 0;}
#g-navi .tab-menu ul li#itbiz a{background-position:-347px 0;}
#g-navi .tab-menu ul li#kadai a{width:87px;background-position:-433px 0;}
#g-navi .tab-menu ul li#career a{width:60px;background-position:-530px 0px;}
#g-navi .tab-menu ul li#cfo a{width:50px;background-position:-435px 0px;}
#g-navi .tab-menu ul li#sp-menshealth a{background-position:-592px 0;}
#g-navi .tab-menu.six ul li#sp-menshealth a{background-position:-494px 0;}
#g-navi .tab-menu ul li#sumai a{background-position:-670px 0;}
#g-navi .tab-menu.six ul li#sumai a{background-position:-575px 0;}
#g-navi .tab-menu.six ul li#smartaging a{width:67px;background-position:-652px 0;}
#g-navi .tab-menu.six ul li#six a{width:80px;background-position:-727px 0;}

#g-navi .tab-menu ul li#golf a{width:67px;background-position:-750px 0;}


/* -- マウスオーバー時 -- */
#g-navi .tab-menu ul li#diamond a:hover{background-position:0px -26px;}
#g-navi .tab-menu ul li#dhbr a:hover{background-position:-97px -26px;}
#g-navi .tab-menu ul li#zai a:hover{background-position:-179px -26px;}
#g-navi .tab-menu ul li#books a:hover{background-position:-266px -26px;}
#g-navi .tab-menu ul li#itbiz a:hover,
#g-navi .tab-menu ul li#itbiz.current a{background-position:-347px -26px;}
#g-navi .tab-menu ul li#kadai a:hover{width:87px;background-position:-433px -26px;}
#g-navi .tab-menu ul li#career a:hover{background-position:-530px -26px;}
#g-navi .tab-menu ul li#cfo a:hover{width:50px;background-position:-435px -26px;}

#g-navi .tab-menu ul li#sp-menshealth a:hover{background-position:-592px -26px;}
#g-navi .tab-menu.six ul li#sp-menshealth a:hover{background-position:-494px -26px;}
#g-navi .tab-menu ul li#sumai a:hover{background-position:-670px -26px;}
#g-navi .tab-menu.six ul li#smartaging a:hover{width:67px;background-position:-652px -26px;}
#g-navi .tab-menu.six ul li#sumai a:hover{background-position:-575px -26px;}
#g-navi .tab-menu.six ul li#six a:hover{width:80px;background-position:-727px -26px;}

#g-navi .tab-menu ul li#golf a:hover{background-position:-750px -26px;}


/* ------------------------------------------------ */
/* サイトナビのレイアウト                           */
/* ------------------------------------------------ */

/* ▼メインメニュー部の定義（大枠）▼ */
#sitenavi-menu{
position:relative;
width:100%;
height:65px;
overflow:hidden;
margin:0px;
padding:0px 0px 0px 0px;
font-size:13px;
color:#fff;
background-color:#efecdb;
border-style:solid;
border-width:0px 0px 0px 0px;
border-color:#7d7137;
border-radius:3px 3px 0px 0px;
}
#sitenavi-menu *{
position:static;
}
/* ▼動的なメインナビ大枠(内側) */
#navi-menu{
float:left;
margin:0px 0px;
padding:0px;
width:100%;
background-color:#7D7137;
/*webkit系ベンダープレフィックス */
background: -webkit-linear-gradient(top, #7D7137, #beaf6b); 
/*標準型（方向はデフォルトの to bottom ）*/
background: linear-gradient(#7D7137, #af9e4f);
}

#sitenavi-menu ul{
margin:0px;
padding:0px;
}

#sitenavi-menu ul li{
margin-top:0px;
padding:0px;
clear:none;
float:left;
border:0px;
color:#fff;
background-color:#7D7137;
}

/* メインメニューはliで表現する */
#sitenavi-menu li.main{
display:block;
padding:0px;
height:35px;
text-align:center;
color:#fff;
background-color:#7D7137;
/*webkit系ベンダープレフィックス */
background: -webkit-linear-gradient(top, #7D7137, #beaf6b); 
/*標準型（方向はデフォルトの to bottom ）*/
background: linear-gradient(#7D7137, #af9e4f);
}

/* 標準のメインメニューの形状 */
#sitenavi-menu li.main > a{
display:block;
margin-top:10px;
height:1em;
line-height:1em;
padding:0px 0.8em;
color:#fff;
border-right:1px double #af9e4f;
}

/* 通常のメインメニューの形状 */
#sitenavi-menu li.main.normal{}

/* 現在地、およびマウスオーバー時のメインメニューの形状 */
#sitenavi-menu li.main.current,#sitenavi-menu li.main:hover{
height:35px;
background-color:#232010;
/*webkit系ベンダープレフィックス */
background: -webkit-linear-gradient(top, #232010, #7D7137); 
/*標準型（方向はデフォルトの to bottom ）*/
background: linear-gradient(#232010, #7D7137);
}
#sitenavi-menu li.main.current > a,#sitenavi-menu li.main:hover > a{
border-color:transparent;
}


/* ▲メインメニュー部の定義▲ */

/* ▼サブメニュー部の定義▼ */
#sitenavi-menu * .box{
display: none;
clear:both;
float:left;
width:100%;
height:28px;
margin:0;
padding:0;
color:#000;
background-color:#efecdb;
}
#sitenavi-menu1-box{
display:block;
}
#sitenavi-menu * .box ul{
float:left;
height:100%;
background-color:transparent;
}
#sitenavi-menu * .box ul li{
display:block;
clear:none;
height:100%;
margin:0px;
padding:0px;
font-size:12px;
line-height:12px;
color:#000;
background-color:transparent;

}
#sitenavi-menu * .box ul li:hover{
background-color:#333
}
#sitenavi-menu * .box a{
display:block;
height:100%;
margin:0px;
padding:0px 9px;
color:#000;
font-size:12px;
line-height:30px;
}

#sitenavi-menu * .box a:hover{
color:#fff;
}

/* 上から何番目か、によって表示位置やビジュアルを変えることもできる */
#sitenavi-menu1-box,#sitenavi-menu2-box,#sitenavi-menu3-box,#sitenavi-menu4-box,#sitenavi-menu5-box,#sitenavi-menu6-box,#sitenavi-menu7-box,#sitenavi-menu8-box,#sitenavi-menu9-box,#sitenavi-menu10-box,#sitenavi-menu11-box,#sitenavi-menu12-box{ /*共通部分*/
/* width:100%; */
position:absolute;/* 親要素のliがabsoluteの基点となる */
top:35px;
left:0px;
}

/* 検索窓 */
#sitenavi-menu .H-list{
position:absolute;
width:250px;
right:5px;
bottom:3px;
}
.H-list{
clear:none;
float:left;
width:240px;
text-align:right;
padding:5px 0 0 0;
margin-bottom:0px;
}
.H-list .H-search{
clear:none;
float:left;
width:100%;
margin:0px 0px 0px 4px;
}
#gsrchInput{
width:180px;
height:18px;
float:left;
padding:2px;
border:1px solid #7d7039;
}
.sp-itbiz * #gsrchInput{
float:left;
width:240px;
margin-left:15px;
}
#srchBtn{
clear:none;
float:right;
border: 0;
background: url(/common/images/v5/search-btn.gif) no-repeat 0px 0px;
width: 52px;
height: 23px;
cursor: pointer;
}
#srcBtn{
clear:none;
float:left;
border: 0;
background: url(/common/images/v5/search-btn.gif) no-repeat 0px center;
width: 52px;
height: 25px;
cursor: pointer;
margin-left:5px;
}
.sp-itbiz * #srcBtn{
float:right;
}

/* ▲サブメニュー部の定義▲ */


/*
*****************************************************
▼▼ ヘッダー部分 ▼▼
*****************************************************
*/

#header{
	position:relative;
	padding:10px 0px;
	width:100%;
	height:auto;
	margin:0px;
}
#header.top{
	height:70px;
}
#header #header-sns{
	position:absolute;
	left:0px;
	bottom:5px;
	width:192px;
	height:20px;
	overflow:hidden;
}
#header.top #header-sns{
	position:absolute;
	right:0px;
	left:auto;
	bottom:5px;
}
#header #header-sns span.tw-btn{
display:inline-block;
width:90px;
overflow:hidden;
}
#header #header-sns span.rss-btn{
display:block;
clear:none;
float:right;
margin-left:4px;
height:20px;
}
#header #header-sns span.rss-btn img{
height:100%;
}

.H-logo{
float:left;
width:344px;
}

#header .H-logo h1{
display:block;
width:344px;
height:70px;
text-indent:-1110em;
background:transparent url("/common/images/v5/dol_logo.jpg") no-repeat scroll 0px center;
margin:0;
padding:0;
}
/*superbanner用*/
#header #superbanner{
clear:none;
float:right;
width:728px;
height:90px;
margin:8px 0px;
padding:0px;
border:none;
background-color:transparent;
}
#header #superbanner > p{
margin:0px;
padding:0px;
border:none;
}
/*スーパーバナー（DOLクレジットカード誘導用&同形式のスーパーバナー）*/
.creditcard-superbanner,
.dol-common-superbanner{
border:solid 1px #030333!important;
clear:none;
float:right;
width:728px;
height:auto;
max-height:90px;
margin:0px 0px 10px 0px;
padding:0px;
border:none;
background-color:transparent;
}
.creditcard-superbanner dl,
.dol-common-superbanner dl{padding:0; margin:0;}
.creditcard-superbanner dl dt,
.creditcard-superbanner dl dd,
.dol-common-superbanner dl dt,
.dol-common-superbanner dl dd{float:left;}
.creditcard-superbanner dl dd.b-dd,
.dol-common-superbanner dl dd.b-dd{border-right:solid 1px #030333;}
.creditcard-superbanner dl dd,
.dol-common-superbanner dl dd{padding:3px 6px 3px 6px; width:291px;}
* html .creditcard-superbanner dl dd,
* html .dol-common-superbanner dl dd{width:303px;}
.creditcard-superbanner dl dd img,
.dol-common-superbanner dl dd img{float:right; border:solid 1px #bbbbbe;}
.creditcard-superbanner dl dd strong,
.dol-common-superbanner dl dd strong{display:block; float:left; width:160px; font-size:14px; line-height:1.2; padding-top:5px;}
.creditcard-superbanner dl dd a strong,
.dol-common-superbanner dl dd a strong{color:#004da0!important;}
.creditcard-superbanner dl dd a:hover strong,
.dol-common-superbanner dl dd a:hover strong{text-decoration:underline;}



.H-logo.superbanner{
width:200px;
}
.H-logo.superbanner h1{
width:200px;
}
.H-holder{
float:right;
width:500px;
height:25px;
}
/* お知らせ */
.H-info{
position:absolute;
top:10px;
left:360px;
font-weight:bold;
font-size:12px;
margin:0px;
padding:0px;
color:#cc0000;
}
.H-info2{
position:absolute;
top:40px;
left:250px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 60px;
height:16px;
font-weight:bold;
font-size:13px;
line-height:16px;
color:#cc0000;
background-image:url(/common/images/v1/top/red_info.jpg);
background-repeat:no-repeat;
background-position:left top;
}
.H-info2 a,.H-info2 a:visited{
margin-top:-1px;
padding-top:0px;
color:#cc0000;
}


/*▼▼プリント等レイアウト▼▼*/

/* toolbar start */
.tools{
cursor:pointer;
width:72px;
float:left;
margin-left:0px;
margin-right:2px;
padding:1px;
text-align:left;
}
#service-menu.v4 .tools{
margin-right:0px;
}
.tools img{
border:none;
margin:2px;
margin-right:3px;
vertical-align: middle;
}
.tools ul{
list-style-type: none;
list-style-position: outside;
margin:0px;
padding:0px;
}
* html .tools ul {
position:absolute;
}
.tools ul li{
margin:0;
}
.tools ul li a{
display: block;
margin:0;
}
* html .tools ul li a {
display:inline;
width:72px;
}
* html .tools ul li.on a {
display:block;
width:72px;
}
.tools ul li ul{
display: none;
}
.tools ul li.off ul{
display: none;
}
.tools ul li.on ul {
display: block;
position: absolute;
z-index: 999;
/*width:130px;*/
background-color:#302e2c;
/*padding:5px;*/
}
.tools ul li.on ul li {
float:left;
line-height:0px;
margin:0;
}
.tools ul li.on ul li a{
display:block;
padding:3px 5px;

}
#toolrss ul li.on ul {width:140px;}
#toolrss ul li.on ul li {width:140px;}
* html #toolrss ul li.on ul li a{width:140px;}

#toolsbm ul li.on ul {width:170px;}
#toolsbm ul li.on ul li {width:170px;}
* html #toolsbm ul li.on ul li a{width:170px;}

#toolblogs ul li.on ul {width:100px;}
#toolblogs ul li.on ul li {width:100px;}
* html #toolblogs ul li.on ul li a{width:100px;}

#toolresize ul li.on ul {width:100px;}
#toolresize ul li.on ul li {width:100px;}
* html #toolresize ul li.on ul li a{width:100px;}

#toolprint ul li.on ul {width:100px;}
#toolprint ul li.on ul li {width:100px;}
* html #toolprint ul li.on ul li a{width:100px;}
/* toolbar end */

#service-menu.v5 .tools{
line-height:1;
vertical-align:baseline;
float:left;
width:auto;
}
#service-menu.v5 .tools img{margin:0;}
#service-menu.v5 #toolresize ul li a.big-char,
#service-menu.v5 #toolresize ul li a.small-char{margin-top:0;}

/* ボタンの表示状態（デフォルト）
--------------------*/
#fsmall a {
background-image: url(http://jbpress.ismedia.jp/common/images/v1/btn_fontS-over.gif);
background-repeat: no-repeat;
background-position: 5px 5px;
}
#flarge a {
background-image: url(http://jbpress.ismedia.jp/common/images/v1/btn_fontL.gif);
background-repeat: no-repeat;
background-position: 0 5px;
}
#fsmall a:hover {
background-image: url(http://jbpress.ismedia.jp/common/images/v1/btn_fontS-over.gif);
}
#flarge a:hover {
background-image: url(http://jbpress.ismedia.jp/common/images/v1/btn_fontL-over.gif);
}


#fsmall2 a {
background-image: url(http://jbpress.ismedia.jp/common/images/v1/btn_fontS-over.gif);
background-repeat: no-repeat;
background-position: 5px 5px;
}
#flarge2 a {
background-image: url(http://jbpress.ismedia.jp/common/images/v1/btn_fontL.gif);
background-repeat: no-repeat;
background-position: 0 5px;
}
#fsmall2 a:hover {
background-image: url(http://jbpress.ismedia.jp/common/images/v1/btn_fontS-over.gif);
}
#flarge2 a:hover {
background-image: url(http://jbpress.ismedia.jp/common/images/v1/btn_fontL-over.gif);
}

/*
*****************************************************
▼▼ カンバン(signage)部分 ▼▼
*****************************************************
*/

#signage{
position:relative;
width:650px;
padding:0px;
margin:0px auto;
background-color:#fff;
}

#signage.small{
height:80px;
}

#signage * {
color:#333;
}

#signage #breadcrumb{
margin:0px 0px 5px 0px;
font-size:10px;
}
#signage #breadcrumb img{
margin:0 4px 3px 4px;
vertical-align:middle;
}
#signage #kanban{
border:0px;
text-align:center;
margin-top:7px;
}
#signage #kanban.text{
width:auto;
margin:8px 0px 5px 0px;
padding:5px 5px 2px 5px;
border:0px solid #7D7137;
text-align:left;
font-size:16px;
height:20px;
line-height:20px;
vertical-align:bottom;
font-weight:bold;
color:#fff;
background-color:#a0a0a0;
}
#signage #kanban.text.category{
width:492px;
margin:auto;
}
#signage #kanban.text a,#signage #kanban.text a:hover,#signage #kanban.text a:visited{
color:#fff;
}
* html #signage #kanban{
margin-left:10px;
}
#signage #kanban img{
float:none;
margin-left:0px;
padding-left:0px;
border-width:1px;
border-color:#ccc;
border-style:solid;
}

#signage img.img_leaf{
width:100%;
margin-bottom:18px;
}

/*
*****************************************************
▼▼ footer部分 ▼▼
*****************************************************
*/
#footer{
	/*レイアウト情報はbaseに記載*/
	color:#7d7137;
	font-size:10px;
}
	#footer .footer-inner{
	width:100%;
	margin:0px 0px;
	padding:0px;
}
.footer_logo a.totop{
	display:block;
	float:right;
	background: url(/common/images/v5/common/totop.gif) no-repeat 10px center;
	background-color:#7d7137;
	color:#fff; font-size:11px; line-height:21px;
	width:90px; height:21px;
	padding-left:25px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-top:10px;
}
* html .footer_logo a.totop{width:115px;}
#footer ul {
	margin: 5px 0px;
	padding:10px 0 0px;
	width: 100%;
	text-align:left;
	border-top:solid 1px #7d7137;
}
#footer ul li{
	display:inline;
	font-size:12px;
	height:30px;
	text-align:left;
	letter-spacing: 0em;
}
#footer #company-site{
	margin-top:20px;
	padding-bottom:15px;
	text-align:left;
}
#footer #company-site ul li{
	font-size:11px;
}
#footer #company-site title{
	color:#7a6e36;
	padding-left:10px;
	font-weight:bold;
	font-size:12px;
}
#footer .company-logo{
	text-align:center!important;
	/* border-bottom:solid 5px #00006d; */
	padding-bottom:9px;
	display:block;
}
#footer .company-logo img{margin:0 auto!important;}

/*
*****************************************************
▼▼ ページ繰り ▼▼
*****************************************************
*/

#mp-ie{
position:relative;
clear:both;
width:620px;
height:25px;
margin-bottom:15px;
}
#multipage{
float:none;
margin:0px auto;
padding:3px;
text-align:center;
}
* html #mp-ie{
margin:0px;
text-align:center!important;
}
.back_p{
display:block;
float:left;
width:110px;
border-style:solid;
border-width:0px;
}
.back_p img{
margin-top:0px;
}
.next_p{
display:block;
float:right;
width:110px;
border-style:solid;
border-width:0px;
}
.next_p img{
margin-top:0px;
}
.current_p{
display:block;
width:18px;
height:23px;
float:left;
padding:0px 5px 0px 5px;
color:#fff;
font-size:16px;
line-height:23px;
text-indent:0.2em;
font-weight:bold;
text-align:center;
background-color:#7d7137;
border-left:solid 1px #7d7137;
}
* html .current_p{
width:25px;
text-indent:0em;
}
.other_p{
display:block;
width:15px;
height:20px;
color:#000;
float:left;
padding:0px 5px 0px 5px;
font-size:14px;
line-height:20px;
text-align:center;
border-left:solid 1px #ccc;
}
* html .other_p{
width:25px;
}
.last_p{
border-right:solid 1px #ccc;
}
.other_p a{
display:block;
width:100%;
text-indent:0em;
text-align:center!important;
border:0;
text-decoration:none;
color:#000;
border-bottom: 0px solid ;
}
.other_p a:hover, .other_p a:visited:hover{
display:block;
width:100%;
text-indent:0em;
text-align:center!important;
border:0;
text-decoration:none;
color:#000;
border-bottom: 0px solid ;
}
#backtotop{
position:absolute;
right:0px;
bottom:0px;
}


/*
*****************************************************
▼▼ ページ繰り(画面上部　小バージョン) ▼▼
*****************************************************
*/

#multipage-top{
clear:both;
float:right;
margin:0px 0px 0px 0px;
padding:3px;
text-align:center;
}
.back_p-top{
display:block;
float:left;
width:25px;
border-style:solid;
border-width:0px;
}
.back_p-top img{
margin-top:3px;
}
*:first-child+html .back_p-top img{
vertical-align:top;
}
.next_p-top{
display:block;
float:right;
width:25px;
border-style:solid;
border-width:0px;
}
.next_p-top img{
margin-top:3px;
}
*:first-child+html .next_p-top img{
vertical-align:top;
}
.current_p-top{
display:block;
width:16px;
height:20px;
float:left;
padding:0px 3px 0px 3px;
color:#fff!important;
font-size:13px;
line-height:23px;
font-weight:bold;
text-align:center!important;
background-color:#7d7137;
border-left:solid 1px #7d7137;
}
* html .current_p-top{
width:22px;
}
.other_p-top{
display:block;
width:16px;
height:20px;
color:#000;
float:left;
padding:0px 3px 0px 3px;
font-size:13px;
line-height:23px;
text-align:center!important;
border-left:solid 1px #ccc;
}
* html .other_p-top{
width:22px;
}
.last_p-top{
border-right:solid 1px #ccc;
}
.other_p-top a{
display:block;
width:100%;
text-indent:0em;
text-align:center!important;
border:0;
text-decoration:none;
color:#000;
border-bottom: 0px solid ;
}
.other_p-top a:hover, .other_p-top a:visited:hover{
display:block;
width:100%;
text-indent:0em;
text-align:center!important;
border:0;
text-decoration:none;
color:#000;
border-bottom: 0px solid ;
}

/*
*****************************************************
▼▼ サブカラム　トップ、記事共通部品 ▼▼
*****************************************************
*/
#pr1,#pr1-small{
margin:25px 0px 25px 0px;
}
#pr1 a {
border:none;
text-decoration:none;
}
#pr2,#pr2top{
margin:0 0 25px 0;
}
#pr2 a,#pr2top a{
border:none;
text-decoration:none;
}

.side-badge{
clear:both;
margin:25px 0px;
}

/*おススメの本*/
.authorbook{
  border-bottom:solid 0px #000099;
  font-size:14px;
  font-weight:bold;
  color:#666
  font-family:'Hiragino Mincho ProN', serif;
}
.authorbook-wrapper{
  /*background-color:#8c8566;*/
  padding:5px 6px 0px 6px;
  width:288px;
  margin-top:1px;
}
* html .authorbook-wrapper{
  width:300px;
}
.book{
  background-color:#fff;
  width:272px;
  margin:0;
  padding:8px;
}
* html .book{
  width:288px;
}
.book dl{
  padding:0;
  margin:0;
}
.book dl dt{
  float:left;
  width:75px;
  margin-bottom:10px;
}
.book dl dt img{
  border:solid 1px #999;
}
.book dl dd{
  float:right;
  width:180px;
  font-size:0.95em;
  font-weight:bold;
  margin-bottom:10px;
}
.book p{
  font-size:0.8em;
  line-height:1.3em;
  clear:both;
}
.book ul{
  clear:both;
  padding:0 0 45px 0;
  margin:0;
}
.book ul li{
  display:inline;
  width:136px !important;
  height:80px;
  float:left;
}
.book ul li span{
  font-size:10px;
  width:;
  display:block;
}
.book ul li a.dolbook{
  background: url(/common/images/v1/common/dolbook.gif) no-repeat;
  /*text-indent:-9999px;*/
  text-align: left;
  display:block;
  height:22px;
  margin-right:1px;
}
.book ul li a.amazon{
  background: url(/common/images/v1/common/amazon.gif) no-repeat;
  height:22px;
  display:block;
  /*text-indent:-9999px;*/
  text-align: left;
}
.book ul li a span{
  display:none;
}
/*雑誌紹介*/
/*1冊*/
.book1{
  background-color:#fff;
  width:272px;
  margin:0;
  padding:8px;
}
* html .book1{
  width:288px;
}
.book1 dl{
  padding:0;
  margin:0;
}
.book1 dl dt{
  float:left;
  width:75px;
  margin-bottom:10px;
}
.book1 dl dt img{
  border:solid 1px #999;
}
.book1 dl dd{
  float:right;
  width:180px;
  font-size:0.95em;
  font-weight:bold;
  margin-bottom:10px;
}
.book1 p{
  font-size:0.8em;
  line-height:1.3em;
  clear:both;
}
.book1 ul{
  clear:both;
  padding:0;
  margin-left:40px;
  margin-top:0;
  margin-bottom:0;
}
.book1 ul li{
  display:inline;
  float:left;
  font-size:13px;
  line-height:14px;
  background: url(/common/images/v1/common/icon-blue.gif) no-repeat 0 2px;
  padding-left:11px;
  margin-right:15px;
}
.book1 ul li span{
  font-size:10px;
  display:block;
}
.book1 ul li a span{
  display:none;
}


/********▼ランキング▼*********************/
.subcolumn-ranking{
margin-bottom:25px;
}
.top .subcolumn-ranking{
margin-bottom:0px;
}
.subcolumn-ranking .tab{padding-bottom:3px; background: url(/common/images/v3/subcolumn/rank-bg2014.gif) repeat-x 0 bottom;}
.subcolumn-ranking .tab img{float:left;margin:-2px auto auto -2px;}
.subcolumn-ranking .tab ul#ranking-tab{float:right; margin:0px;}
.subcolumn-ranking .tab ul#ranking-tab li{float:left;}
.subcolumn-ranking .tab ul#ranking-tab li a{
display:block;
width:44px; height:25px;
background-image: url(/common/images/v5/subcolumn/rank-tab.jpg);
background-repeat:no-repeat;
}
.subcolumn-ranking .tab ul#ranking-tab li.hourly a{background-position:0 0;}
.subcolumn-ranking .tab ul#ranking-tab li.hourly.current a{background-position:0 -25px;}
.subcolumn-ranking .tab ul#ranking-tab li.daily a{background-position:-44px 0;}
.subcolumn-ranking .tab ul#ranking-tab li.daily.current a{background-position:-44px -25px;}
.subcolumn-ranking .tab ul#ranking-tab li.weekly a{background-position:-88px 0;}
.subcolumn-ranking .tab ul#ranking-tab li.weekly.current a{background-position:-88px -25px;}
.subcolumn-ranking .tab ul#ranking-tab li.monthly a{background-position:-132px 0;}
.subcolumn-ranking .tab ul#ranking-tab li.monthly.current a{background-position:-132px -25px;}

.subcolumn-ranking .tab ul#ranking-tab li a span,
.subcolumn-ranking .tab ul#ranking-sc-tab li a span{display:none;}
.subcolumn-ranking .rank-main, .subcolumn-ranking .rank-sc-main{background-color:#fff;}
.subcolumn-ranking ul.rank-common-list{display:none;}
.subcolumn-ranking ul.rank-common-list.selected{display:block;
background-color:#fff;
border-left:1px solid #7d7137;
border-right:1px solid #7d7137;
border-bottom:1px solid #7d7137;
}

ul.rank-common-list{
padding:0 5px 0 5px;
background-color:#fff;
margin:0;
}
ul.rank-common-list li{
padding:7px 0;
border-bottom:dotted 1px #666;
}
ul.rank-common-list li:last-child{border:none;}
ul.rank-common-list li a img.icon{display:none;}
ul.rank-common-list li a:hover img.icon{border:solid 3px #1919c2;}
ul.rank-common-list li .r-w, ul.rank-common-list li .sr-w{float:left; width:auto; margin:0; }
ul.rank-common-list li div p{clear:both;float:left;margin:0px; font-size:13px; line-height:1.4; font-weight:bold;}
ul.rank-common-list li .r-w a.catename, ul.rank-common-list li .sr-w a.catename{
padding:0 0 0 20px;
background-repeat:no-repeat;
float:left;
margin-bottom:2px;
}
ul.rank-common-list li.more,#sub-column div.more,#ad-wrapper div.more{
  float:right;
  margin:5px;
  padding:0px;
  border:none;
  font-size:11px;
}
#sub-column div.more,#ad-wrapper div.more{
  display:none;
  margin:5px 10px 0px 0px;
}
#sub-column  div.more.first,#ad-wrapper div.more.first{
  display:block;
}

.rank1{background: url(/common/images/v5/subcolumn/rank1.gif);}
.rank2{background: url(/common/images/v5/subcolumn/rank2.gif);}
.rank3{background: url(/common/images/v5/subcolumn/rank3.gif);}
.rank4{background: url(/common/images/v5/subcolumn/rank4.gif);}
.rank5{background: url(/common/images/v5/subcolumn/rank5.gif);}

/* Google ad */
#sub-column .google-ad{
margin-bottom:25px;
}

/********▼ソーシャルランキング2015.3.17▼*********************/
.subcolumn-ranking .tab ul#ranking-tab li.sc a{
display:block;
height:25px;
width:24px;
background-image: url(/common/images/v5/subcolumn/rank-tab.jpg);
background-repeat:no-repeat;
}
.subcolumn-ranking .tab ul#ranking-tab li.sc.fb a{background-position:-177px 0;border-right:1px solid #ccc}
.subcolumn-ranking .tab ul#ranking-tab li.sc.fb.current a{background-position:-177px -25px;}
.subcolumn-ranking .tab ul#ranking-tab li.sc.tw a{background-position:-260px 0;}
.subcolumn-ranking .tab ul#ranking-tab li.sc.tw.current a{background-position:-260px -25px;}

ul.rank-common-list li .sr-w .icon-fb,
ul.rank-common-list li .sr-w .icon-tw{float:right; font-size:12px; padding-right:3px; line-height:1.2;}
ul.rank-common-list li .icon-fb{
background: url(/common/images/v5/subcolumn/icon-fb.jpg) no-repeat left 0;
padding-left:15px;
}
ul.rank-common-list li .icon-fb,.rank-sc-main ul.rank-common-list li .icon-tw{color:#3b5998;}
ul.rank-common-list li .icon-tw{
background: url(/common/images/v5/subcolumn/icon-tw.jpg) no-repeat left 0;
padding-left:17px;
}
ul.rank-common-list li .sr-w a.catename span{font-size:11px; float:left; display:block; width:200px; float:left;overflow:hidden; height:16px; color:#555; line-height:1.6;}

/* ランキング一覧ページ用 */
/*
.list-title {
    position: relative;
    width:99%;
    color: #000;
    background: #efefef;
    font-size: 22px;
    line-height:22px;
    border: 3px solid #4769e7;
    margin: 25px 0px 10px 0px;
    padding: 20px 0px 10px 0px;
    border-radius: 4px;
    box-shadow:2px 3px 7px 0px  #666666 ;
    vertical-align:middle;
}
.list-title span{
    padding:0px 20px;
}
*/
/*
.list-title:after, .list-title:before {
    content: "";
    position: absolute;
    top: 100%;
    height: 0;
    width: 0;
}
*/
/*
.list-title:after {
    left: 40px;
    border: 10px solid transparent;
    border-top: 10px solid #efefef;
}
.list-title:before {
    left: 37px;
    border: 13px solid transparent;
    border-top: 13px solid #4769e7;
}
*/

/* ランキング一覧ページなどでのメニュー */
#main-contents .menu-in-page{
width:658px;
margin-bottom:25px;
background-image:url(/common/images/v5/subcolumn/rank-bg2014.gif);
background-repeat:repeat-x;
background-position:left bottom;
}
#main-contents .menu-in-page ul li{
clear:none;
float:left;
width:130px;
margin:0px 2px 5px 0px;
padding:2px 0px;
border:none;
text-align:center;
border-radius:2px 2px 0px 0px;
color:#fff;
background-color:#4769e7;
/*webkit系ベンダープレフィックス */
background: -webkit-linear-gradient(top, #6f6f6f, #414141); 
/*標準型（方向はデフォルトの to bottom ）*/
background: linear-gradient(#6f6f6f, #414141);
}
#main-contents .menu-in-page ul li:last-child{margin:0px;}
#main-contents .menu-in-page ul li.current,#main-contents .menu-in-page ul li:hover{
background-color:#4769e7;
/*webkit系ベンダープレフィックス */
background: -webkit-linear-gradient(top, #4769e7, #2425cb); 
/*標準型（方向はデフォルトの to bottom ）*/
background: linear-gradient(#4769e7, #2425cb);
}
#main-contents .menu-in-page ul li a,#main-contents .menu-in-page ul li a:visited{
color:#fff;
}

ul.all-items.ranking li{
position:relative;
padding-left:50px;
}
ul.all-items.ranking li .order{
position:absolute;
top:20px;
left:0px;
font-weight:bold;
font-size:20px;
color:#2425cb;
}
.icon-list .icon-fb,
.icon-list .icon-tw{position:absolute;top:5px;right:5px;float:right; font-size:14px; padding-right:3px; line-height:1.2;}
.icon-list .icon-fb{
background: url(/common/images/v5/subcolumn/icon-fb.jpg) no-repeat left 0;
padding-left:15px;
}
.icon-list .icon-fb,.icon-list .icon-tw{color:#3b5998;}
.icon-list .icon-tw{
background: url(/common/images/v5/subcolumn/icon-tw.jpg) no-repeat left 0;
padding-left:17px;
}


#sub-column .icon-list,#section,#recommend,#sub-column-special,#sub-column .kadai-matome{
clear:both;
width:280px;
margin-top:0px;
margin-bottom:25px;
padding:0px 9px 0px 9px;
border-top:5px double #000099;
background-color:#fff;
border-left:1px solid #7d7137;
border-right:1px solid #7d7137;
border-bottom:1px solid #7d7137;
}
#sub-column .kadai-matome{
margin-bottom:0px;
}
#sub-column .kadai-matome .subtitle{
display:inline;
}
#sub-column .kadai-matome + .more{
margin-bottom:25px;
}
.kadai-matome ul li a,.kadai-matome ul li a:visited{
color:#000;
}
.kadai-matome ul li a span,.kadai-matome ul li a:visited span{
color:#c00;
}
.kadai-matome ul li a:hover{
text-decoration:underline;
}
.kadai-matome ul li a:hover,.kadai-matome ul li a:hover span{
color:#7D7137;
}

/* サブカラム内の特集 */
#sub-column-special{
}
#sub-column-special .main-area{
padding-top:10px;
}
#sub-column-special .main-area img{
display:block;
float:left;
width:100px;
margin:0px 0px 0px 0px;
border:1px solid #ccc;
}
#sub-column-special .main-area .text{
clear:none;
float:right;
width:170px;
}

#sub-column-special .main-area .text h2{
margin:0px 0px 5px 0px;
padding:0px;
font-size:15px;
line-height:1.2em;
}
#sub-column-special .main-area .text p{
margin:0px;
font-size:12px;
line-height:1.2em;
}
#sub-column-special ul li{
font-size:12px;
line-height:1.2em;
font-weight:bold;
padding:0px 0px 5px 15px;
background: url("/common/images/v5/common/icon-yellow.gif") no-repeat 0 1px;
}
#sub-column-special.premium ul li{
padding-bottom:10px;
}
#sub-column-special ul li a:hover{
text-decoration:underline;
}
#sub-column .kadai-matome ul{
margin:3px 0px;
}
#sub-column .kadai-matome ul li{
font-size:13px;
line-height:1.4em;
font-weight:bold;
padding:3px 0px 3px 20px;
background: url("/common/images/v5/common/icon-yellow.gif") no-repeat 0 6px;
border-bottom:1px dotted #7D7137;
}
#sub-column .kadai-matome ul li:last-child{
border:none;
}

/* アイコン付きランキングのリスト */
#section * .topics-ranklist-icon,#recommend * .topics-ranklist-icon,#sub-column .icon-list .topics-ranklist-icon{
clear:none;
float:left;
margin:5px 0px;
border-style:solid;
border-width:1px;
border-color:#ccc;
}
#section * .topics-ranklist-icon.article,#recommend * .topics-ranklist-icon.article,#sub-column .topics-ranklist-icon.article{
/*display:none;*/
border:1px solid #ccc;
}
#section * .topics-ranklist-body,#recommend * .topics-ranklist-body,#sub-column .topics-ranklist-body{
clear:none;
float:right;
width:225px;
font-size:13px;
margin-top:3px;
line-height:1.3em;
font-weight:bold;
}
#section * .topics-ranklist-body .catename,#recommend * .topics-ranklist-body .catename{
font-weight:normal;
}
#section * .topics-ranklist-body.article,#recommend * .topics-ranklist-body.article{
/*
width:auto;
float:left;
*/
}

#section * .topics-ranklist-body .date,#recommend * .topics-ranklist-body .date{  display:none;
}
ul.rank-common-list li .r-w a.catename,#recommend * .topics-ranklist-body .catename{font-size:11px; line-height:1.6; width:auto; overflow:hidden; height:16px; color:#555;}

/*話題の記事下広告*/
#recommend ul li div.figure-left{
float:left;
}

/* 順位強調付きランキングのリスト */
#section * .topics-ranking-index,#recommend * .topics-ranking-index{
clear:none;
float:left;
margin:0px 0px;
text-align:center!important;
font-size:15px;
font-weight:bold;
width:30px;
color:#fff;
background-color:#7d7137;
}
#section * .topics-ranking-items,#recommend * .topics-ranking-items{
clear:none;
float:right;
width:240px;
font-size:12px;
margin-top:0px;
}
#sub-column .icon-list ul,#recommend ul{
padding:0;
margin:0;
}
#recommend ul>li:first-child,#sub-column .icon-list ul>li:first-child{
border:none;
}
#recommend ul li,#sub-column .icon-list ul li{
border-top:1px dotted #666666;
clear:both;
padding:3px 0;
}
.diamondonline-recommend,.diamondonline-special,.diamondonline-kadai{
clear:both;
margin-top:25px;
}
.diamondonline-recommend h3,.diamondonline-special h3,.diamondonline-kadai h3 {
background: url("/common/images/v5/subcolumn/title_recommend.gif") no-repeat scroll 0 0;
height: 18px;
margin: 0px;
padding: 0;
width: 100%;
}
#sub-column .icon-list-title{
cler:both;
margin-top:25px;
}
#sub-column .icon-list-title h3{
margin:0px;
padding:0px;
font-size:14px;
font-weight:bold;
color:#000;
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
text-shadow: 0px 0px 1px #666;

}
.diamondonline-special h3 {
background: url("/common/images/v5/subcolumn/title_special.gif") no-repeat scroll 0 0;
}
.diamondonline-special.premium h3 {
width:50%;
float:left;
background:none;
}
.diamondonline-kadai h3 {
background: url("/common/images/v5/subcolumn/title_kadai.gif") no-repeat scroll 0 0;
}
.diamondonline-recommend h3 span,.diamondonline-special h3 span,.diamondonline-kadai h3 span {
display: none;
}
.diamondonline-special.premium h3 span{
display:inline;
font-size:15px;
font-weight:normal;
text-shadow: 1px 1px 1px #666;
}
.diamondonline-special.premium span.ad{
float:right;
height:23px;
line-height:30px;
font-size:13px;
color:#333;
}


/* 記事サブカラム　経営戦略最新記事 */

.sub-column-management-title {
    clear: both;
    margin-top: 25px;
}
.sub-column-management-title h3 {
    background: url("/common/images/v5/management/title_management.gif") no-repeat scroll 0 0;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sub-column-management-title h3 span{
display: none;
}
.sub-column-management-title h3 span.subtitle{
margin-left:20px;
color:#2425CB;
font-size:11px;
display:block;
float:right;
}
#sub-column .sub-column-management {
    background-color: #fff;
    border-color: #000099 #7d7137 #7d7137;
    border-style: double solid solid;
    border-width: 5px 1px 1px;
    clear: both;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px 10px 0px 10px;
    width: 280px;
}

/* サブカラム　今月の主筆 */
.sub-column-management .this-month{
border-bottom:none;
padding-bottom:0px;
margin-bottom:5px;
border-bottom:1px solid #7d7137;
}

.sub-column-management .this-month .image{
	border-bottom:none;
	float:left;
	border: 1px solid #cbcbcb;
	width: 100px;
	height: 100px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-right:10px;
	margin-bottom:10px;
}
.sub-column-management .this-month .image img{
	width:100%;
}

.sub-column-management .this-month .text{
	float:left;
	width:140px;
}

.sub-column-management .this-month .article-title{
font-size:18px;
margin-bottom:10px;
font-weight:bold;
	color:#000070;
}

.sub-column-management .this-month .name{
font-size:16px;
font-weight:bold;
line-height:16px;
padding-bottom:4px;
border-bottom:1px solid #7d7137;
margin-bottom:4px;
}

.sub-column-management .this-month .position{
font-size:12px;
line-height:14px;
}


.sub-column-management .this-month .title{
font-size:14px;
font-weight:bold;
line-height:1.4em;
/*text-decoration:underline;*/
margin-bottom:4px;
}
.sub-column-management .this-month:hover .title{
	color:#7d7137;
	font-weight:bold;
}


/* サブカラム　トップインタビュー */
.sub-column-management .top-interview{
border-bottom:none;
padding-bottom:0px;
margin-bottom:5px;
border-bottom:1px solid #7d7137;
}


.sub-column-management .top-interview .article-title{
font-size:14px;
margin-bottom:8px;
font-weight:bold;
	color:#000070;
}


.sub-column-management .top-interview .image{
	border-bottom:none;
	float:left;
	border: 1px solid #cbcbcb;
	width: 60px;
	height: 60px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-right:10px;
	margin-bottom:10px;
}
.sub-column-management .top-interview .image img{
	width:100%;
}

.sub-column-management .top-interview .text{
	float:left;
	width:210px;
}

.sub-column-management .top-interview .title{
font-size:13px;
font-weight:bold;
line-height:18px;
/*text-decoration:underline;*/
margin-bottom:4px;
}
.sub-column-management .top-interview:hover .title{
	color:#7d7137;
}

.sub-column-management .top-interview .name{
font-size:14px;
line-height:16px;
padding-bottom:4px;
border-bottom:1px solid #7d7137;
margin-bottom:4px;
}

.sub-column-management .top-interview .position{
font-size:12px;
line-height:14px;
}


/* サブカラム　経営課題解決のヒント */
.sub-column-management .management-hint{
border-bottom:none;
padding-bottom:0px;
margin-bottom:5px;
border-bottom:1px solid #7d7137;
}


.sub-column-management .management-hint .article-title{
font-size:14px;
margin-bottom:8px;
font-weight:bold;
	color:#000070;
}


.sub-column-management .management-hint .image{
	border-bottom:none;
	float:left;
	border: 1px solid #cbcbcb;
	width: 60px;
	height: 60px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-right:10px;
	margin-bottom:10px;
}
.sub-column-management .management-hint .image img{
	width:100%;
}

.sub-column-management .management-hint .text{
	float:left;
	width:190px;
}

.sub-column-management .management-hint .title{
font-size:13px;
font-weight:bold;
line-height:18px;
/*text-decoration:underline;*/
margin-bottom:4px;
}
.sub-column-management .management-hint:hover .title{
	color:#7d7137;
}

.sub-column-management .management-hint .column-title{
font-size:14px;
line-height:16px;
padding-bottom:4px;
}

/* サブカラム　ダイヤモンド・オンライン　特任論説委員室 */
.sub-column-management .special-commissioner{
border-bottom:none;
padding-bottom:0px;
margin-bottom:0px;
}


.sub-column-management .special-commissioner .article-title{
font-size:14px;
margin-bottom:8px;
font-weight:bold;
	color:#000070;
}


.sub-column-management .special-commissioner .image{
	border-bottom:none;
	float:left;
	border: 1px solid #cbcbcb;
	width: 60px;
	height: 60px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-right:10px;
	margin-bottom:10px;
}
.sub-column-management .special-commissioner .image img{
	width:100%;
}

.sub-column-management .special-commissioner .text{
	float:left;
	width:190px;
}

.sub-column-management .special-commissioner .title{
font-size:13px;
font-weight:bold;
line-height:18px;
/*text-decoration:underline;*/
margin-bottom:4px;
}
.sub-column-management .special-commissioner:hover .title{
	color:#7d7137;
}

.sub-column-management .special-commissioner .name{
font-size:13px;
line-height:16px;
padding-bottom:4px;
margin-bottom:4px;
}

/********▼ロイター用モジュール▼*********************/
.subcolumn-reuters-module{margin:25px 0;}
.subcolumn-reuters-module::after{content:"";clear:both;display:block;}
.subcolumn-reuters-module .title h3{display:block;width:134px;heignt:23px;background:url(/common/images/v5/subcolumn/title-latest-biznews.gif) no-repeat;text-indent:150%;overflow:hidden;white-space:nowrap;float:left;margin:0;}
.subcolumn-reuters-module .title span{float:right;margin-bottom:5px;}
.subcolumn-reuters-module .title span img{width:100px;}
.subcolumn-reuters-module .title::after{content:"";display:block;clear:both;}
.subcolumn-reuters-module .list-slide{background:#efecdb;padding:10px;height:330px;width:300px;margin:0 auto;}
.subcolumn-reuters-module .list-ul-inner{background:#fff;padding:10px;min-height:275px;}
.subcolumn-reuters-module .list-ul-inner ul{margin:0;}
.subcolumn-reuters-module .list-ul-inner ul li{font-size:13px;border-bottom:dotted 1px #7d7137;padding:7px 0;display:block;max-height:40px;height:40px;overflow:hidden;}
.subcolumn-reuters-module .list-ul-inner ul li:last-child{border-style:none;}
.subcolumn-reuters-module .slick-prev::before,
.subcolumn-reuters-module .slick-next::before{color:#7d7137 !important;font-size:30px;}
.subcolumn-reuters-module .slick-prev{left:-15px;z-index:999;}
.subcolumn-reuters-module .slick-next{right:-5px;z-index:999;}
.subcolumn-reuters-module .slick-dots{bottom:0;}
.subcolumn-reuters-module .slick-dotted.slick-slider{margin-bottom:0;}

/*
*****************************************************
▼▼ ページ下部の部分 ▼▼
*****************************************************
*/
#article-end{
clear:both;
float:left;
width:660px;
margin:0px auto;
padding:0px;
background-color:#fff;
}


/* 記事末関連記事 */
#article-end ul#related-list{
width:100%;
}
#article-end ul#related-list li{
clear:none;
float:right;
width:310px;
}
#article-end ul#related-list li.odd{
clear:both;
float:left;
}
#article-end ul#related-list li .article-category-body{
width:225px;
}

/* 記事末広告 */
#article-end #dmp-ad{
clear:both;
margin-bottom:25px;
}
#article-end #dmp-ad div{
margin:auto;
}
#article-end #auto_recommend{
text-align:center;
}

#article-end #article-sptopics{
width:620px;
margin:0px 15px 0px 15px;
padding:0px;
}

#article-end #article-sptopics table{
margin:0 0 0 10px;
width:605px;
padding:0;
border-collapse:collapse;
}
#article-end #article-sptopics table * td {
font-size:12px;
line-height:20px;
background:url("/common/images/v5/ad/tri_red_sp.gif");
background-repeat:no-repeat;
background-position:0px 7px;
border-bottom:dotted 1px #666;
padding:5px 0 5px 20px;
}
#article-end #article-sptopics ul{
margin:0 0 0 10px;
padding:5px 0;
width:605px;
}

#article-end #article-sptopics ul li{
font-size:12px;
line-height:20px;
background:url("/common/images/v5/ad/tri_red_sp.gif");
background-repeat:no-repeat;
background-position:0px 7px;
padding-left:20px;
}

/* ggl-ad */
#ggl-ad{
width:468px;
float:none;
margin:20px auto;
}
* html #ggl-ad{
margin-left:89px;
}

#article-end ul li{
margin:0px 0px 5px 0px;
color:#000;
font-weight:normal;
font-size:13px;
padding:3px 0;
border-bottom:1px dotted #666666;
/*
border-style:dotted;
border-width:0px 0px 1px 0px;
border-color:#fff;
*/
}

#article-end * .toptitle{
display:inline;
margin-right:12px;
font-weight:normal;
font-size:12px;
}
#article-end * .date,#article-end * .author{
font-weight:normal!important;
font-size:12px;
}
#article-end .more{
clear:both;
float:right;
margin:15px 0px;
font-size:13px;
font-weight:bold;
}
#article-end .blocktitle,#theme-content h3,#article-end .diamondonline-kadai h3,.special-section .blocktitle{
position:relative;
clear:both;
float:left;
width:100%;
height:24px;
margin:0px 0px 5px 0px;
padding:1px 0px 1px 0px;
background:url(/common/images/v5/bg_title_line.gif) no-repeat 0 bottom;
color:#333;
font-size:13px;
font-weight:bold;
text-indent:20px;
}
#article-end .diamondonline-kadai h3 span{
display:inline;
}
.diamondonline-kadai h3 span.subtitle{
margin-left:20px;
color:#2425CB;
font-size:11px;
}
#sub-column .diamondonline-kadai h3 span.subtitle{
display:block;
float:right;
}
#article-end .diamondonline-kadai .more{
margin:5px 0px 0px 0px;
}
#article-end .diamondonline-kadai .more a,#article-end .diamondonline-kadai .more a:visited{
color:#000;
font-weight:normal;
}
#article-end .diamondonline-kadai .more a:hover{
text-decoration:underline;
}
#theme-content * h3{
text-indent:0em;
}

#article-end .blocktitle a,#article-end .blocktitle a:visited{
color:#333;
font-weight:bold;
}

#article-end .blocktitle div.more{
position:absolute;
bottom:10px;
right:5px;
font-size:12px;
line-height:14px;
margin:0px!important;
}

#article-end .blocktitle div.more{background: url(/common/images/v5/tri_dgold.gif) no-repeat left top;}
#article-end .blocktitle span{
color:#cc0000;
margin-right:5px;
}
#article-end .blocktitle span.ad{
display:block;
float:right;
font-weight:normal;
color:#333;
}
#article-end-underline{
clear:both;
/*float:left;*/
width:660px;
/*margin:0px 0px 0px 8px;*/
margin:0;
padding:0px;
height:20px;background-image:url(/common/images/v5/article/bg_articleb.gif);
text-indent:-1000em;
line-height:1px;
}

#theme-content .main-area{
clear:both;
float:left;
}


#article-end .kadai-matome{
margin-bottom:25px;
}
#article-end .kadai-matome ul{
margin:3px 0px;
}
#article-end .kadai-matome ul li{
clear:none;
float:left;
width:48%;
margin-right:1%;
font-size:15px;
line-height:1.4em;
font-weight:bold;
padding:3px 0px 3px 0px;
background: url("/common/images/v5/common/icon-yellow.gif") no-repeat 0 6px;
border-bottom:1px dotted #7D7137;
text-indent:20px;
}
#article-end .kadai-matome ul li:nth-child(2n){
float:right;
margin-right:0px;
}
#article-end .kadai-matome .more{
margin-top:0px;
}
#article-end .kadai-matome .more a,#article-end .kadai-matome .more a:visited{
color:#000;
}
#article-end .kadai-matome .more a:hover{
color:#7d7137;
text-decoration:underline;
}

#article-end-information{
clear:both;
float:left;
width:400px;
margin:10px 0px 10px 120px;
padding:3px;
font-size:13px;
text-align:center;
border-style:solid;
border-color:#666 #333 #666 #666;
border-width:0px 1px 1px 0px;
background-color:#efefef;
}
* html #article-end-information{
margin-left:60px;
}
#article-end-information a,#article-end-information a:visited{
font-weight:normal;
color:#ff0000;
}
#ncrelated{
position:relative;
clear:both;
float:left;
font-size:12px;
/* text-align:right; */
}
#ncrelated ul{
clear:both;
float:left;
width:620px;
margin:10px 0px 5px 0px;
padding-left:0px;
text-align:left;
}
#ncrelated .poweredby{
position:absolute;
right:10px;
top:12px;
font-weight:bold;
z-index:10;
}
#ncrelated .blocktitle{z-index:5;}
/*
#ncrelated a{
width:100px;
}
*/
/*
*****************************************************
▼▼記事末サービスメニュー▼▼
*****************************************************
*/
#article-end-servce-menu{
width:620px;
margin:10px 15px;
}

#article-end-servce-menu .service-menu{
background-color:#cee3ed;
padding:10px 30px;
}


/* ページ下部のテーマ・コンテンツ */
#theme-content{
width:100%;
margin-bottom:25px;
}
#theme-content .main-area{
width:100%;
margin:10px 0px 0px 0px;
}
#theme-content .main-area ul{
width:100%;
margin-top:0px;
margin-bottom:6px;
}
#theme-content .main-area ul li{
width:33%;
clear:none;
float:left;
border-right:1px dotted #7D7137;
border-bottom:none;
text-align:center;
}
#theme-content .main-area ul li:last-child{
border:none;
}
#theme-content .main-area ul li img{
width:90%;
margin:0px auto;
border:1px solid #ccc;
}
#theme-content .main-area ul li h2{
width:90%;
margin:10px auto;
font-size:14px;
line-height:1.2em;
}
#theme-content .main-area ul li:hover h2{
text-decoration:underline;
color:#7D7137;
}
#theme-content .sub-area ul{
clear:none;
float:left;
width:49%;
margin:0px;
padding:0px;
border-right:1px dotted #7D7137;
}
#theme-content .sub-area ul:last-child{
border:none;
}
#theme-content .sub-area ul li{
height:33px;
margin:0px 10px 0px 0px;
padding:6px 10px 2px 10px;
border-bottom:1px dotted #7D7137;
background-image: url("/common/images/v5/arrow-icon-gold.png");
background-repeat: no-repeat;
background-position: right center;
background-size:20px;
}
#article-end #theme-content .sub-area ul li{
margin-right:3px;
padding-left:3px;
}
#theme-content .sub-area ul li:first-child{
border-top:1px dotted #7D7137;
}
#theme-content .sub-area ul:last-child li{
margin:0px 0px 0px 10px;
}
#theme-content .sub-area ul li a{
display:block;
width:100%;
height:100%;
}
#theme-content .sub-area ul li a:hover,#theme-content .sub-area ul li a:hover h4,#theme-content .sub-area ul li a:hover h3{
text-decoration:underline;
}
#theme-content .sub-area ul li h3{
width:auto;
height:1.2em;
margin:3px 20px 0px 0px;
padding:0px;
font-size:13px;
line-height:1.2em;
border:none;
background:none;
}
#theme-content .sub-area ul li h4{
margin:0px;
font-size:12px;
line-height:1.2em;
color:#7D7137;
}

/* テーマコンテンツdfpstyle */
#theme-content .main-area.theme-block{height:210px;}
#theme-content .main-area.theme-block div{float:left;width:196px!important;}
#theme-content .main-area.theme-block div{padding:0 8px 8px 8px;}
#theme-content .main-area.theme-block div img{display:block;}
#theme-content .main-area.theme-block div p{margin-top:10px;}
#theme-content .main-area.theme-block div p a{font-weight:bold;font-size:14px;line-height:1.2;}

/*
*****************************************************
▼▼ 広告関連スタイル ▼▼
*****************************************************
*/

#pr2,#pr2top{
margin:0 0 25px 0;
}
#pr2 a,#pr2top a{
border:none;
text-decoration:none;
}
#pr2.dfp,#pr2top.dfp{
margin:25px 0px;
}

#sub-column .pickup-inside{
margin:0px 0px 25px 0px;
padding:0px;
border:none;
}

/*ダイヤモンドオンラインplus*/
.diamondonline-plus{
background-color:#fff;
margin:25px 0px;
}
.diamondonline-plus h3{
background: url("/common/images/v5/subcolumn/title_topics.gif") no-repeat;
width:300px;
height:23px;
margin:0 0 0 0;
padding:0;
}
.diamondonline-plus.ad h3{
background: url("/common/images/v5/subcolumn/title_topics_pr.png") no-repeat;
}
.diamondonline-plus h3 span{
display:none;
}
.diamondonline-plus.ad h3 span.ad{
display:block;
text-align:right;
font-size:13px;
font-weight:normal;
line-height:30px;
color:#333;
}
.diamondonline-plus .dolplus{
padding:5px 0 8px 0;
margin:0;
background-color:#fff;
border-left:1px solid #7d7137;
border-right:1px solid #7d7137;
border-bottom:1px solid #7d7137;
background: url(/common/images/v3/subcolumn/rank-bg2014.gif) repeat-x 0 top;
}
.diamondonline-plus .dolplus a{
display:block;
padding:5px 10px 4px 23px;
font-size:12px;
font-weight:bold;
line-height:1.4em;
border-bottom:dashed 1px #999;
background: url("/common/images/v5/common/icon-blue.gif") no-repeat 10px 6px;
}
.diamondonline-plus .dolplus a{
color:#333;
}
.diamondonline-plus .dolplus a:visited{
color:#333;
}

/*
*****************************
text-c(記事下、幅468pxバナー)
*****************************
*/
.text-c{
margin:0px auto 25px auto;
text-align:center;
}


/*
*****************************
GIFテキスト
*****************************
*/
.ad-box-photo{
width:288px;
border:solid 2px #7d7137;
padding:5px;
background-color:#fff;
margin-bottom:15px;
}
* html .ad-box-photo{
width:300px;
}
.ad-box-photo img{
float:left;
}
.ad-box-photo div.title{
width:225px;
float:right;
font-size:12px;
}
.ad-box-photo div.title a{
font-weight:bold;
font-size:14px;
}

.text-ad-chumoku{
clear:both;
float:left;
margin-top:15px;
margin-bottom:0px;
}
.text-ad-chumoku img{
clear:none;
float:left;
}
.text-ad-body{
clear:none;
float:left;
margin-left:10px;
font-size:13px;
}
* html .text-ad-body{
margin-left:5px;
}
.text-ad-body a{
line-height:20px;
}

#sptopics{
clear:both;
margin-top:0px;
margin-left:40px;
width:543px;
padding-top:0px;
padding-bottom:0px;
float:none;
background:url(/common/images/v1/ad/bg_sp_middle.jpg) ;
border:2px solid #00006e;
border-radius:0.5em;
}

#sptopics ul li{
margin-top:0px;
list-style:none;
background:url(/common/images/v5/ad/tri_red_sp.gif) no-repeat 10px 8px;
font-size:12px;
line-height:20px;
padding-left:30px;
width:480px;
font-weight:bold;
}

#special-upperline{
clear:both;
margin:20px 0px 0px 40px;
height:30px;
float:none;
background-image:url(/common/images/v5/ad/bg_sp_top.jpg);
background-repeat:no-repeat;
text-indent:-1000em;
}
#special-underline{
clear:both;
margin-left:40px;
margin-bottom:20px;
height:15px;
float:none;
background-image:url(/common/images/v5/ad/bg_sp_bottom.jpg);
background-repeat:no-repeat;
text-indent:-1000em;
}
.google-twin-ad{clear:both;width:615px;margin:25px auto;}
.ad-box-left{width:300px;margin-right:15px;float:left;}
.ad-box-right{width:300px;float:right;}

ul#ucpc{
width:618px;
padding:0px;
clear:both;
float:none;
margin:25px auto;
}
#article-end ul#ucpc{
margin:25px auto;
}
ul#ucpc li{
clear:none;
float:left;
/* width:295px; */
width:305px;
margin:0px 0px 5px 0px;
padding:3px 0px;
border:0!important;
}
#top-latest-wrapper ul#ucpc li{
}
#ucpc img{
width:100px;
height:100px;
float:left;
margin-right:10px;
border:0;
}
#ucpc div.ucpc-body{
clear:none;
float:left;
width:180px;
padding:0px;
font-size:14px;
}
#ucpc div.ucpc-body a{
display:block;
width:180px;
font-size:13px;
font-weight:bold;
}
#ucpc div.ucpc-body p{
margin:0px auto;
width:180px;
padding:0px;
font-size:12px;
line-height:14px;
}

#article-end-af{
margin:20px auto;
font-size:16px;
text-align:center!important;
}
#article-end-af a,#article-end-af a:visited{
color:#1010AA;
}

/*Sepcial Topics*/
#common-special-topics{
width:660px;
margin:0px 0px 25px 0px;
}
#common-special-topics .sp-title{
position:absolute;
left:13px;
top:-10px;
}
#common-special-topics ul li span{
font-size:13px;
font-weight:bold;
color:#00006e;
padding-left:10px;
}
#common-special-topics ul#sp-list{
width:100%;
margin:0;
padding:0;
}
#common-special-topics ul#sp-list li{
clear:both;
font-size:15px;
line-height:18px;
background: url("/common/images/v5/common/icon-blue.gif") no-repeat 0 6px;
margin:0px 0px 2px 0px;
padding:3px 0px;
width:100%;
border-bottom:1px dotted #999999;
font-weight:bold;
}

#common-special-topics.top ul#sp-list li{
background: url("/common/images/v5/common/icon-yellow.gif") no-repeat 0 5px;
}
* html #article-end #common-special-topics ul li{
width:565px;
}
#common-special-topics table{
margin:0 0 0 30px;
padding:0;
border-collapse:separate;

}
#common-special-topics table * td {
font-size:14px;
line-height:22px;
background: url("/common/images/v5/common/icon-blue.gif") no-repeat 0 3px;padding-left:15px;
width:550px;
border-bottom:1px dashed #999999;
font-weight:bold;
}
#common-special-topics * a,.common-special-topics * a:visited{
color:#333;
}

/*
*****************************************************
▼▼ラージgif-text▼▼
*****************************************************
*/
.giftext-wrapper{
clear:both;
float:left;
margin:25px 0px 0px 0px;
padding:0px;
}.large-gif-text{
clear:both;
float:left;
width:628px;
height:150px;
border-style:solid;
border-width:1px;
border-color:#666;
margin:0px 0px 30px 10px;
}
/* large-gif-text */
.giftext-wrapper{
width:100%;
margin:0px 0px 0px 0px;
}
.large-gif-text{
  clear:both;
  width:100%;
  height:120px;
  border-style:solid;
  border-width:1px;
  border-color:#666;
  margin:0px 0px 20px 0px;
}
.large-gif-text img{
  float:left;
  height:120px;
  margin-right:10px;
}

.large-gif-text h5{
  margin:10px 0px 10px 0px;
  font-size:20px;
}
.large-gif-text a:visited{
  color:#000;
}
.large-gif-text a:hover{
  color:#7D7137;
}
.large-gif-text p{
  padding-right:10px;
  font-size:13px;
  line-height:1.6em;
}


/* トップページ用 */
#top-latest-wrapper .top-category-latest .giftext-wrapper{
width:100%;
margin:0px 0px 30px 0px;
}
* html .large-gif-text{
width:630px;
margin-left:5px;
}
.large-gif-text img{
float:left;
margin-right:10px;
}
* html .large-gif-text img{
margin-right:5px;
}
.large-gif-text h5{
/*margin:10px 0px 20px 0px;*/
font-size:20px;
margin:10px 0 15px 0;
line-height:24px;
}
.large-gif-text p{
padding-right:10px;
font-size:13px;
line-height:1.6em;
}

/*
*****************************************************
▼▼フッターバナー▼▼
*****************************************************
*/
/*#top-latest-wrapper .footer-banner{*/
.footer-banner{
width:468px;
margin:0px auto 25px auto;
}


/*
*****************************************************
▼▼DOL Special▼▼
*****************************************************
*/

#article-end #article-end-special,#top-end-special{
border-bottom-color: #0000CF;
border-bottom-style: solid;
border-bottom-width: 3px;
clear: both;
margin:0px 10px 20px 15px;
width: 620px;
}
#article-end #article-end-special.dw-article{
margin-top:45px;
}

#article-end #article-end-special h3, #top-end-special h3{
border-bottom-color: #0000CF;
border-bottom-style: solid;
border-bottom-width: 3px;
margin-bottom: 5px;
margin-left: 0;
margin-right: 0;
margin-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
}

#article-end #article-end-special ul,#top-end-special ul{
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
padding-bottom: 5px;
padding-left: 0;
padding-right: 0;
padding-top: 5px;
}
#article-end #article-end-special ul li,#top-end-special ul li{
background-color: #FFFFFF;
float: left;
margin-bottom: 0;
margin-left: 0px;
margin-right: 4px;
margin-top: 0;
width: 300px;
height:56px;
}

#article-end #article-end-special ul li h5,#top-end-special ul li h5{
font-weight:normal;
margin:0;
padding:0;
}

#article-end #article-end-special .article-category-body,#top-end-special .article-category-body{
float: right;
width: 250px;
}

#article-end #article-end-special .article-category-icon,.article-category-body  .article-category-icon{
float: left;
margin-right: 5px;
width: 40px;
}

/*
*****************************************************
▼▼fbコメント▼▼
*****************************************************
*/
#article-end #page-fb-comments{
clear: both;
float:left;
margin:10px 0px 20px 0px;
width: auto;
}

/*
*****************************************************
▼▼記事下広告枠2枠の誘導口▼▼
*****************************************************
*/

#ad-article-special{
clear:both;
margin:5px 10px 30px 10px;
}

#ad-article-special .ad-section{
float:left;
width:300px;
margin-left:10px;
}

* html #ad-article-special .ad-section{
float:left;
width:300px;
margin-left:5px;
}

#ad-article-special .ad-section img{
float:left;
width:100px;
}

#ad-article-special .ad-section .title{
float:left;
width:190px;
padding:5px;
background-color:#e4e4e4;
height:90px;
}

* html #ad-article-special .ad-section .title{
float:left;
width:190px;
padding:5px;
background-color:#e4e4e4;
height:100px;
}

#ad-article-special .ad-section .title h4{
font-size:12px;
margin:0 0 3px 0;
padding:0;
line-height:1.3em;
}

#ad-article-special .ad-section .title p{
font-size:11px;
margin:0;
padding:0;
line-height:1.3em;
}
