@charset "utf-8";
@import "base.css?20160630";
@import "common-parts.css?20160927";

/*
*****************************************************
▼▼ トップ専用スタイル ▼▼
*****************************************************
*/
.top #main-column{
clear:both;
float:left;
width:auto;
}

#top-ad-wrapper{
position:relative;
width:1000px;
height:665px;
margin:5px 0px 25px 0px;
padding:0;

}

#feature{
  float:left;
  width:680px;
  padding:10px 0px 10px 0px;
}

#feature-img{
  width:350px;
  float:left;
  height:425px;
  background-color:#000;
  overflow:hidden;
  position:relative;
  border-width:1px;
  border-style:solid;
  border-color:#ccc;
}
#feature-img .feature-img-item{
  height:425px;
}
#feature-img img{
  margin:0;
}
#feature-img p{
  padding:10px 8px;
  font-size:14px;
  line-height:20px;
  color:#fff;
  margin:0;
}
#feature-img p span{
  font-weight:bold;
}
#feature-img p span a,
#feature-img p span a:active,
#feature-img p span a:visited{
  color:#7d7137;
}
#feature-img p span a:hover{
  color:#d7cea8;
}
#feature-img .alt-title{
  position:absolute;
  top:80px;
  left:10px;
  width:330px;
  height:200px;
  /*padding:5px;*/
  background-color:#f3f3f3;
  font-size:25px;
  filter:alpha(opacity=60);
  -moz-opacity:0.60;
  opacity:0.60;
  z-index:1;
}
#feature-img .alt-title-text{
  z-index:10;
  color:#006699;
  /*filter:alpha(opacity=100);
  -moz-opacity:1.0;
  opacity:1.0;*/
  width:300px;
  position:absolute;
  top:90px;
  left:20px;
  font-size:18px;
  font-weight:bold;
}
#feature-list{
  float:right;
  width:310px;
}
#feature ul{
  padding:0;
  margin:0;
}
#feature ul li{
  border-bottom:dashed 1px #999;
  padding:3px 0px 5px 0px;
  margin:0px 0px 0px 0px;
  height:52px;
}
#feature #feature-list ul li h3{
  font-size:15px;
  line-height:1.2em;
  font-weight:bold;
  margin:0;
  padding:2px 0px 0px 17px;
}
#feature ul li h3 a{
  color:#000;
}
#feature ul li h3 span{
  font-size:12px;
  font-weight:normal;
  color:#7d7137;
  display:block;
}
#feature ul li.current{
  font-weight:bold;
  background:#fff;
  /*webkit系ベンダープレフィックス */
  background: -webkit-linear-gradient(left, #fff, #e7e2c9); 
  /*標準型（方向はデフォルトの to bottom ）*/
  background: linear-gradient(to right,#fff, #e7e2c9);

}
#feature ul li.current h3{
  font-weight:bold;
  color:#7d7137;
  background-image:url("/common/images/v5/top/feature-back.jpg");
  background-repeat:no-repeat;
  background-position:left 2px;
}
#feature ul li.current h3 a{
  font-weight:bold;
  color:#7d7137;
}
#feature ul li.current h3 span{
  font-weight:normal;
}

#control-wrapper{
  clear:right;
}
.control{
  float:left;
  width:13px;
}
#control-wrapper dl{
  float:right;
  padding:0;
  margin:5px 0 0 0;
}
#control-wrapper dl dt{
  display:inline;
}
#top-sub-feature{
  clear:both;
  float:left;
  width:100%;
  margin-top:25px;
}
#top-sub-feature ul{
  width:100%;
  margin:0px 0px 0px 0px;
  padding:0px;
}
#top-sub-feature ul li{
  clear:none;
  float:left;
  margin-right:10px;
  padding:0px;
  width:160px;
  height:100%;
  border:none;
  text-align:center;
}
#top-sub-feature ul li:hover .text h3{
color:#7D7137;
}
#top-sub-feature ul li:last-child{
  margin-right:0px;
}
#top-sub-feature ul li span.trimming{
position:relative;
display:block;
width:160px;
height:120px;
border:1px solid #ccc;
overflow:hidden;
}
#top-sub-feature ul li .trimming img{
position:absolute;
left:-34px;
}
#top-sub-feature ul li .text{
  text-align:left;
}
#top-sub-feature ul li .text h3{
  font-size:14px;
  line-height:16px;
  font-weight:bold;
  margin:10px 0px 0px 0px;
  padding:0px;
}


#ad-wrapper{
  float:right;
  width:300px;
  margin:0px auto 0px auto;
  padding:10px 0 0px 10px;
  background-image:none;
}
#ad-wrapper #pr1{
  margin-top:0px;
  margin-bottom:25px;
}

/*
********************************
左　サブカラム等
********************************
*/
.top #sub-column {
    background-image: url("/common/images/v5/bg_base3.jpg");
    background-image:none;
    float: left;
    padding: 0px 10px 0 0;
    width: 300px;
}
/* facebookの誘導口 */
#dol-facebook{
  margin:0px 0px 20px 0px;
  padding:0px;
}

/*
********************************
右　新着等
********************************
*/
#top-latest-wrapper{
	clear:both;
	float:left;
	width:100%;
	margin:0px 0px 0px 0px;
	padding:0px;
}
#main-latest{
	position:relative;
	background-color:#fff;
	width:675px;
	float:right;
	padding:0px 0px 10px 10px;
	margin:0px 0px 0px 0px;
}
#main-latest h3{
	height:auto;
	background-image: url("/common/images/v5/top/category-underline.gif");
	background-repeat:repeat-x;
	background-position:left bottom;
	padding:0 0 7px 0;
	margin:0px 0px 10px 0px;
	text-indent:0px;
}
#main-latest h3 span{
	background: url("/common/images/v5/common/icon-box.gif") no-repeat 0px center;
	padding-left:15px;
	font-size:14px;
	line-height:14px;
}
#main-latest h3 span.ad{
	background:none;
	float:right;
	font-weight:normal;
	color:#333;
}

/*カテゴリ別新着記事*/
.top-category-latest{
	margin-bottom:0px;
}
#top-latest-wrapper .top-category-latest h3{margin-bottom:20px;}
.top-category-latest .category-box{
	width:auto;
	height:auto;
	float:left;
	margin:0px 0px 25px 0px;
}
div.top-category-latest div.category-box:nth-of-type(2n){
	clear:none;
	margin-left:25px;
}
div.top-category-latest div.category-box:nth-of-type(2n+1){
	clear:both;
}
.category-box h4,
.special-box h4{
	margin:0 0 5px 0;
	padding:0;
}
.category-box h4 span.category-name,
.special-box h4 span.category-name{
	background: url("/common/images/v5/top/category-name-bg.gif") no-repeat;
	font-size:12px;
	color:#fff;
	min-width:125px;
	_width:125px;
	height:23px;
	padding:2px 0 0 10px;
	display:block;
	float:left;
}
.category-box h4 span.category-list-url{
	font-size:12px;
	color:#534a1f;
	font-weight:normal;
	margin-top:5px;
	margin-left:0px;
	float:left;
}
.category-box ul{
	clear:both;
	margin:0 0 0 5px;
	padding:0;
}
.category-box ul li{
	margin-bottom:15px;
}
.category-box ul li:not(:target){margin-bottom:0¥9;}

.top-category-latest .category-box.col2{
	width:100%;

}
.top-category-latest .category-box.col2 ul{
}
.top-category-latest .category-box.col2 ul li{
	width:320px;

}
.top-category-latest .category-box.col2 ul li:nth-of-type(2n+1){
	clear:both;
	float:left;
}
.top-category-latest .category-box.col2 ul li:nth-of-type(2n){
	clear:none;
	float:right;
}

.article-category-icon{
	margin-right:5px;
	width:40px;
	float:left;
}
.article-category-icon img{
	border-width:1px;
	border-style:solid;
	border-color:#ccc;
}
.article-category-body{
	width:265px;
	float:right;
	margin-left:10px;
}
.article-category-body h5{
	font-size:15px;
	line-height:1.2em;
	font-weight:bold;
	margin:0;
	padding:0;
}
.article-category-body h5 span{
	font-size:12px;
	line-height:14px;
	font-weight:normal;
	color:#7d7137;
	margin-bottom:2px;
	display:block;
}
.article-category-body h5 a{
	/* color:#333; */
}
.article-category-body h5 a:visited{
	/* color:#666; */
}
.article-category-body h5 a:hover{
	color:#7d7137;
}
.article-category-body h5 span a,.article-category-body h5 span a:visited{
	color:#7d7137;
}
.article-category-body h5 span a:hover{
	font-weight:normal;
}
.article-category-body h5 a img.new{vertical-align:middle; margin-left:3px; margin-bottom:2px;}
/**/
.article-category-body-sp{
	width:245px;
	float:right;
	font-size:12px;
	line-height:16px;
}
.article-category-body-sp a span{
	color:#7d7137;
}
.article-category-body-sp a:hover{
	text-decoration:underline;
}
.category-box ul li div.figure-left{
	float:left;
}

/*Twitter*/
.top-twitter{
	clear:both;
	margin:20px 0 0 0;
}


.twitter-title{
	background: url(/common/images/v5/top/category-underline.gif) repeat-x left bottom;
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	clear:both;
}
.twitter-comment{
	float:left;
	width:100%;
}
.twitter-comment p{
	font-size:0.9em;
	margin:0 0 10px 0;
}
.twitter-comment strong{
	font-size:0.8em;
	color:#cc0000;
}
.twitter-comment ul{
	border-top:solid 1px #666;
	border-bottom:solid 1px #666;
	padding:5px 0;
	margin:0;
}
.twitter-comment ul li{
	font-size:0.8em;
	line-height:1.2em;
	margin-bottom:15px;
}
.twitter-comment ul li span{
	font-size:0.85em;
	color:#666;
	display:block;
}
.twitter-follow{
	float:right;
	background-color:#ddd;
	width:175px;
}
