/*sprite CSS rules for flag images:*/
/*#drop_down_list li {
   background: white url(../images/flags/flags-sprite.gif) no-repeat top left;
}*/
.country-list{ 
	list-style-type:none; 
	position:relative; 
	left:-35px;
	top:15px;
	width:28px;
	margin:-5px 0px;
}

.sprite-adflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 0;  } 
.sprite-aeflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -63px;  } 
.sprite-afflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -126px;  } 
.sprite-agflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -189px;  } 
.sprite-aiflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -252px;  } 
.sprite-alflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -315px;  } 
.sprite-amflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -378px;  } 
.sprite-aoflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -441px;  } 
.sprite-aqflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -504px;  } 
.sprite-arflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -567px;  } 
.sprite-asflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -630px;  } 
.sprite-atflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -693px;  } 
.sprite-auflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -756px;  } 
.sprite-awflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -819px;  } 
.sprite-axflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -882px;  } 
.sprite-azflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -945px;  } 
.sprite-baflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1008px;  } 
.sprite-bbflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1071px;  } 
.sprite-bdflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1134px;  } 
.sprite-beflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1197px;  } 
.sprite-bfflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1260px;  } 
.sprite-bgflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1323px;  } 
.sprite-bhflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1386px;  } 
.sprite-biflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1449px;  } 
.sprite-bjflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1512px;  } 
.sprite-blflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1575px;  } 
.sprite-bmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1638px;  } 
.sprite-bnflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1701px;  } 
.sprite-boflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1764px;  } 
.sprite-bqflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1827px;  } 
.sprite-brflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: 0 -1890px;  } 
.sprite-bsflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px 0;  } 
.sprite-btflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -63px;  } 
.sprite-bvflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -126px;  } 
.sprite-bwflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -189px;  } 
.sprite-byflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -252px;  } 
.sprite-bzflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -315px;  } 
.sprite-caflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -378px;  } 
.sprite-ccflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -441px;  } 
.sprite-cdflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -504px;  } 
.sprite-cfflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -567px;  } 
.sprite-cgflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -630px;  } 
.sprite-chflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -693px;  } 
.sprite-ciflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -756px;  } 
.sprite-ckflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -819px;  } 
.sprite-clflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -882px;  } 
.sprite-cmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -945px;  } 
.sprite-cnflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1008px;  } 
.sprite-coflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1071px;  } 
.sprite-crflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1134px;  } 
.sprite-cuflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1197px;  } 
.sprite-cvflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1260px;  } 
.sprite-cwflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1323px;  } 
.sprite-cxflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1386px;  } 
.sprite-cyflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1449px;  } 
.sprite-czflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1512px;  } 
.sprite-deflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1575px;  } 
.sprite-djflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1638px;  } 
.sprite-dkflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1701px;  } 
.sprite-dmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1764px;  } 
.sprite-doflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1827px;  } 
.sprite-dzflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -74px -1890px;  } 
.sprite-ecflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px 0;  } 
.sprite-eeflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -63px;  } 
.sprite-egflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -126px;  } 
.sprite-ehflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -189px;  } 
.sprite-erflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -252px;  } 
.sprite-esflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -315px;  } 
.sprite-etflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -378px;  } 
.sprite-fiflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -441px;  } 
.sprite-fjflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -504px;  } 
.sprite-fkflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -567px;  } 
.sprite-fmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -630px;  } 
.sprite-foflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -693px;  } 
.sprite-frflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -756px;  } 
.sprite-gaflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -819px;  } 
.sprite-gbflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -882px;  } 
.sprite-gdflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -945px;  } 
.sprite-geflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1008px;  } 
.sprite-gfflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1071px;  } 
.sprite-ggflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1134px;  } 
.sprite-ghflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1197px;  } 
.sprite-giflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1260px;  } 
.sprite-glflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1323px;  } 
.sprite-gmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1386px;  } 
.sprite-gnflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1449px;  } 
.sprite-gpflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1512px;  } 
.sprite-gqflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1575px;  } 
.sprite-grflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1638px;  } 
.sprite-gsflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1701px;  } 
.sprite-gtflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1764px;  } 
.sprite-guflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1827px;  } 
.sprite-gwflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -148px -1890px;  } 
.sprite-gyflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px 0;  } 
.sprite-hkflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -63px;  } 
.sprite-hmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -126px;  } 
.sprite-hnflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -189px;  } 
.sprite-hrflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -252px;  } 
.sprite-htflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -315px;  } 
.sprite-huflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -378px;  } 
.sprite-idflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -441px;  } 
.sprite-ieflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -504px;  } 
.sprite-ilflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -567px;  } 
.sprite-imflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -630px;  } 
.sprite-inflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -693px;  } 
.sprite-ioflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -756px;  } 
.sprite-iqflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -819px;  } 
.sprite-irflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -882px;  } 
.sprite-isflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -945px;  } 
.sprite-itflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1008px;  } 
.sprite-jeflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1071px;  } 
.sprite-jmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1134px;  } 
.sprite-joflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1197px;  } 
.sprite-jpflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1260px;  } 
.sprite-keflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1323px;  } 
.sprite-kgflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1386px;  } 
.sprite-khflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1449px;  } 
.sprite-kiflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1512px;  } 
.sprite-kmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1575px;  } 
.sprite-knflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1638px;  } 
.sprite-kpflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1701px;  } 
.sprite-krflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1764px;  } 
.sprite-kwflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1827px;  } 
.sprite-kyflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -222px -1890px;  } 
.sprite-kzflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px 0;  } 
.sprite-laflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -63px;  } 
.sprite-lbflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -126px;  } 
.sprite-lcflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -189px;  } 
.sprite-liflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -252px;  } 
.sprite-lkflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -315px;  } 
.sprite-lrflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -378px;  } 
.sprite-lsflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -441px;  } 
.sprite-ltflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -504px;  } 
.sprite-luflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -567px;  } 
.sprite-lvflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -630px;  } 
.sprite-lyflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -693px;  } 
.sprite-maflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -756px;  } 
.sprite-mcflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -819px;  } 
.sprite-mdflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -882px;  } 
.sprite-meflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -945px;  } 
.sprite-mfflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1008px;  } 
.sprite-mgflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1071px;  } 
.sprite-mhflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1134px;  } 
.sprite-mkflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1197px;  } 
.sprite-mlflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1260px;  } 
.sprite-mmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1323px;  } 
.sprite-mnflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1386px;  } 
.sprite-moflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1449px;  } 
.sprite-mpflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1512px;  } 
.sprite-mqflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1575px;  } 
.sprite-mrflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1638px;  } 
.sprite-msflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1701px;  } 
.sprite-mtflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1764px;  } 
.sprite-muflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1827px;  } 
.sprite-mvflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -296px -1890px;  } 
.sprite-mwflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px 0;  } 
.sprite-mxflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -63px;  } 
.sprite-myflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -126px;  } 
.sprite-mzflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -189px;  } 
.sprite-naflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -252px;  } 
.sprite-ncflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -315px;  } 
.sprite-neflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -378px;  } 
.sprite-nfflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -441px;  } 
.sprite-ngflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -504px;  } 
.sprite-niflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -567px;  } 
.sprite-nlflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -630px;  } 
.sprite-noflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -693px;  } 
.sprite-npflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -756px;  } 
.sprite-nrflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -819px;  } 
.sprite-nuflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -882px;  } 
.sprite-nzflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -945px;  } 
.sprite-omflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1008px;  } 
.sprite-paflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1071px;  } 
.sprite-peflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1134px;  } 
.sprite-pfflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1197px;  } 
.sprite-pgflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1260px;  } 
.sprite-phflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1323px;  } 
.sprite-pkflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1386px;  } 
.sprite-plflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1449px;  } 
.sprite-pmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1512px;  } 
.sprite-pnflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1575px;  } 
.sprite-prflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1638px;  } 
.sprite-psflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1701px;  } 
.sprite-ptflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1764px;  } 
.sprite-pwflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1827px;  } 
.sprite-pyflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -370px -1890px;  } 
.sprite-qaflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px 0;  } 
.sprite-reflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -63px;  } 
.sprite-roflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -126px;  } 
.sprite-rsflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -189px;  } 
.sprite-ruflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -252px;  } 
.sprite-rwflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -315px;  } 
.sprite-saflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -378px;  } 
.sprite-sbflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -441px;  } 
.sprite-scflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -504px;  } 
.sprite-sdflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -567px;  } 
.sprite-seflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -630px;  } 
.sprite-sgflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -693px;  } 
.sprite-shflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -756px;  } 
.sprite-siflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -819px;  } 
.sprite-sjflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -882px;  } 
.sprite-skflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -945px;  } 
.sprite-slflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1008px;  } 
.sprite-smflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1071px;  } 
.sprite-snflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1134px;  } 
.sprite-soflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1197px;  } 
.sprite-srflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1260px;  } 
.sprite-stflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1323px;  } 
.sprite-svflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1386px;  } 
.sprite-sxflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1449px;  } 
.sprite-syflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1512px;  } 
.sprite-szflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1575px;  } 
.sprite-tcflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1638px;  } 
.sprite-tdflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1701px;  } 
.sprite-tfflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1764px;  } 
.sprite-tgflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1827px;  } 
.sprite-thflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -444px -1890px;  } 
.sprite-tjflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px 0;  } 
.sprite-tkflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -63px;  } 
.sprite-tlflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -126px;  } 
.sprite-tmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -189px;  } 
.sprite-tnflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -252px;  } 
.sprite-toflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -315px;  } 
.sprite-trflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -378px;  } 
.sprite-ttflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -441px;  } 
.sprite-tvflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -504px;  } 
.sprite-twflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -567px;  } 
.sprite-tzflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -630px;  } 
.sprite-uaflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -693px;  } 
.sprite-ugflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -756px;  } 
.sprite-umflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -819px;  } 
.sprite-usflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -882px;  } 
.sprite-uyflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -945px;  } 
.sprite-uzflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1008px;  } 
.sprite-vaflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1071px;  } 
.sprite-vcflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1134px;  } 
.sprite-veflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1197px;  } 
.sprite-vgflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1260px;  } 
.sprite-viflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1323px;  } 
.sprite-vnflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1386px;  } 
.sprite-vuflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1449px;  } 
.sprite-wfflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1512px;  } 
.sprite-wsflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1575px;  } 
.sprite-yeflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1638px;  } 
.sprite-ytflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1701px;  } 
.sprite-zaflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1764px;  } 
.sprite-zmflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1827px;  } 
.sprite-zwflag{ background: white url(../images/flags/flags-sprite.gif) no-repeat top left; background-position: -518px -1890px;  } 
