/* THESE STYLES CAN BE CUSTOMISED FOR COOKIE MESSAGE */
.cookiepolicyimplied {
	background-color:#0373A9;
    color: #eee;
    font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    width=950px;
}

.cookiepolicyimplied a:link,
.cookiepolicyimplied a:active,
.cookiepolicyimplied a:visited {
    color: #eee;
    text-decoration: underline;
}

.cookiepolicyimplied a:hover {
    color: #fff;
    text-decoration: underline;
}

/* ONLY CHANGE IF YOUR <BODY> ELEMENT HAS PADDING/MARGIN */
#oupcookiepolicy_message {
    width:980px;
    margin: 0 auto;
}