html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    color: #565658;
    font-size: 0.7em;
    font-family: Verdana, Arial, Tahoma, Helvetica, Sans-Serif;
}

#wrapper {
    margin: 0px auto;
    padding-bottom: 15px;
    width: 974px;
}

/*------------------------------------------------*/
/* Default Headings */

h1, h2 {
    padding: 0px;
    letter-spacing: -1px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 6px;
    color: #0575B3;
    font-weight: normal;  
    font-size: 2.5em;
    line-height: 1.1em;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #0776B3;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1em;
}

h3 {
    margin: 0px 0px 25px 0px;
    color: #0776B3;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1em;
}

h4 {
    margin: 0px;
    color: #001E57;
    font-weight: normal;
    font-size: 1.15em;
    line-height: 1em;
}

/*------------------------------------------------*/
/* Default Paragraphs and Lists (in content columns) */

p {
    line-height: 1.3em;
}

#lower_one_column .content_block p, #lower_two_column_right .content_block p {
    max-width: 600px;
}

#lower_one_column ul, #lower_two_column_right ul, #lower_three_column_centre ul, #lower_three_column_right ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    line-height: 1.4em;
}

#lower_one_column ul, #lower_two_column_right ul {
    max-width: 600px;
}

#lower_one_column ul li, #lower_two_column_right ul li, #lower_three_column_centre ul li, #lower_three_column_right ul li {
    margin-left: 0px;
    padding: 2px 0px 2px 16px;
    background-image: url("../images/regular_ul_arrow.gif");
    background-repeat: no-repeat;
    background-position: 0px 5px;
}

/*------------------------------------------------*/
/* Default Links */

a {
    color: #0373A9;
    text-decoration: underline;
}

a:hover {
    color: #2393C9;
    text-decoration: underline;
}

a img {
    border: none;
}

/*------------------------------------------------*/
/* Large & Blue Text Styles */

.large, span.large, p.large, ul.large, div.large_text {
    font-size: 1.1em;
}

.large, span.large, p.large, div.large_text span, div.large_text p {
    line-height: 1.5em;
}

.light_blue, span.light_blue, p.light_blue {
    color: #0373A9;
}

.blue, span.blue, p.blue, ul.blue li, div.blue_text span, div.blue_text p, div.blue_text ul li, div.blue_text label {
    color: #022A60;
}

ul.large li, div.large_text ul li {
    padding-left: 20px !important;
    background-image: url("../images/large_ul_arrow.gif") !important;
    background-position: 0px 4px !important;
}

ul.large li *, div.large_text ul li * {
    font-size: 1em;
}

div#lower_three_column_centre h2 {
    line-height: 1.3em;
}

/*-------------------------------------------------------------------------------*/
/* Contact Form */

.contact_form {
    width: 80%;
    border-collapse: collapse;
}

.contact_form td {
    padding: 5px 10px;
    width: 40%;
    vertical-align: top;
}

.contact_form .field_name {
    text-align: right;
}

.contact_form .field_control {
    text-align: left;
}

.contact_form .field_control input[type=text], .contact_form .field_control textarea {
    width: 200px;
}

/*-------------------------------------------------------------------------------*/
/* Site Header */

#header {
    padding-left: 17px;
    width: 957px;
    height: 79px;
}

#header #home_link {
    display: block;
    float: left;
    margin-top: 12px;
    width: 153px;
}

#header_column_right {
    float: right;
    width: 500px;
}

/*------------------------------------------------*/
/* Section Navigation */

#section_links {
    float: right;
    margin: 14px 0px;
	min-width: 290px;
}

#section_inner {
    float: right;
}

#section_links a {
    display: block;
    float: left;
    padding: 0px 6px;
    color: #565658;
    text-decoration: none;
    border-left: 1px solid #C4E4F4;
    border-right: 1px solid #56B2DF;
}

#section_links a.first {
    border-left: none;
}

#section_links a.last {
    border-right: none;
}

#section_links a:hover {
    color: #363638;
    text-decoration: underline;
}


/*---------------------------------------------------*/
/* country_navigation2 */

#country_navigation2 {
    position: relative;
    z-index: 200;
    float: right;
    margin-right: 24px;
    height: 30px;
}

#country_navigation2 #drop_down_top {
    padding-right: 31px;
    min-width: 156px;
    background-color: #D2E3F5;
    border: 1px solid #A1A1A5;
    background-image: url(../images/country_drop_down_arrow.gif);
    background-repeat: no-repeat;
    background-position: top right;
}

#country_navigation2 #drop_down_top img, #country_navigation2 #drop_down_list img {
    float: left;
    width: 24px;
    height: 13px;
}

#country_navigation2 #drop_down_top img {
    margin: 5px 10px 5px 5px;
}

#country_navigation2 #drop_down_list img {
    margin: 5px 0px 5px 7px;
}

#country_navigation2 #drop_down_top span, #country_navigation2 #drop_down_list a {
    font-weight: bold;
    font-size: 0.9em;
}

#country_navigation2 .countrySel {
	
}

#country_navigation2 #drop_down_top span {
    color: #033D6F;
    line-height: 21px;
}

#country_navigation2 #drop_down_list a {
    display: block;
    float: right;
    padding-top: 3px;
    width: 126px;
    color: #133D6F;
    text-decoration: none;
    line-height: 15px;
}

#country_navigation2 #drop_down_list a:hover {
    color: #335D8F;
    text-decoration: underline;
}

#country_navigation2 #drop_down_list {
    position: absolute;
    display: none;
    z-index: 500;
    top: 25px;
    right: 0px;
    width: 225px;
    height: 80px;
    overflow: auto;
    background-color: #D2E3F5;
    border: 1px solid #A1A1A5;
    text-align: center;
}

#country_navigation2:hover #drop_down_list, #country_navigation2.menuHover #drop_down_list {
    display: block;
}

/*------------------------------------------------*/
/* country_navigation11 */

#country_navigation1 {
    position: relative;
    z-index: 200;
    float: right;
    margin-right: 24px;
    height: 30px;
}

#country_navigation1 #drop_down_top {
    padding-right: 31px;
    min-width: 156px;
    background-color: #D2E3F5;
    border: 1px solid #A1A1A5;
    background-image: url(../images/country_drop_down_arrow.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}

#country_navigation1 #drop_down_top img, #country_navigation1 #drop_down_list img {
    float: left;
    width: 24px;
    height: 13px;
}

#country_navigation1 #drop_down_top img {
    margin: 5px 10px 5px 5px;
}

#country_navigation1 #drop_down_list img {
    margin: 5px 0px 5px 7px;
}

#country_navigation1 #drop_down_top span, #country_navigation1 #drop_down_list a {
    font-weight: bold;
    font-size: 0.9em;
}

#country_navigation1 .countrySel {
	
}

#country_navigation1 #drop_down_top span {
    color: #033D6F;
    line-height: 21px;
}

#country_navigation1 #drop_down_list a {
    display: block;
    float: right;
    padding-top: 3px;
    width: 126px;
    color: #133D6F;
    text-decoration: none;
    line-height: 15px;
}

#country_navigation1 #drop_down_list a:hover {
    color: #335D8F;
    text-decoration: underline;
}

#country_navigation1 #drop_down_list {
    position: absolute;
    display: none;
    z-index: 500;
    top: 22px;
    right: 0px;
    width: 225px;
    height: 80px;
    overflow: auto;
    background-color: #D2E3F5;
    border: 1px solid #A1A1A5;
    text-align: center;
}

#country_navigation1.menuHover #drop_down_list {
    display: block;
}



/*------------------------------------------------*/
/* Country Navigation */

#country_navigation {
    position: relative;
    z-index: 200;
    float: right;
    margin-right: 24px;
    height: 30px;
}

#country_navigation #drop_down_top {
    padding-right: 31px;
    min-width: 156px;
    background-color: #D2E3F5;
    border: 1px solid #A1A1A5;
    background-image: url(../images/country_drop_down_arrow.gif);
    background-repeat: no-repeat;
    background-position: top right;
}

#country_navigation #drop_down_top img, #country_navigation #drop_down_list img {
    float: left;
    width: 24px;
    height: 13px;
}

#country_navigation #drop_down_top img {
    margin: 5px 10px 5px 5px;
}

#country_navigation #drop_down_list img {
    margin: 5px 0px 5px 7px;
}

#country_navigation #drop_down_top span, #country_navigation #drop_down_list a {
    font-weight: bold;
    font-size: 0.9em;
}

#country_navigation #drop_down_top span {
    color: #033D6F;
    line-height: 21px;
}

#country_navigation #drop_down_list a {
    display: block;
    float: right;
    padding-top: 3px;
    width: 126px;
    color: #133D6F;
    text-decoration: none;
    line-height: 15px;
}

#country_navigation #drop_down_list a:hover {
    color: #335D8F;
    text-decoration: underline;
}

#country_navigation #drop_down_list {
    position: absolute;
    display: none;
    z-index: 500;
    top: 25px;
    right: 0px;
    width: 187px;
    height: 160px;
    overflow: auto;
    background-color: #FFFFFF;
    border: 1px solid #A1A1A5;
}

#country_navigation:hover #drop_down_list, #country_navigation.menuHover #drop_down_list {
    display: block;
}

#welcome_text {
    display: block;
    float: right;
    margin-right: 8px;
    font-size: 1.8em;
    line-height: 20px;
}

/*-------------------------------------------------------------------------------*/
/* Top Navigation */

#nav_container {
    margin-bottom: 4px;
    width: 974px;
    height: 32px;
    background-image: url("../images/nav_container_bg.gif");
    background-repeat: repeat-x;
}

#nav_container + h1 {
	border-top: 15px solid #EAEDF2;
    color: #022D62;
    margin: 0;
    padding: 10px 0;
}

#nav_container #border_left {
    float: left;
}

#nav_container #border_right {
    float: right;
}

#nav_container #top_navigation {
    float: left;
    padding-left: 7px;
    width: 965px;
    height: 32px;
}


/*------------------------------------------------*/
/* First Tier */

#top_navigation ul {
    position: relative;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    top: 0px;
}

#top_navigation ul li {
    position: relative;
    display: inline;
    float: left;
    list-style: none;
}

#top_navigation ul li a {
    display: block;
    padding: 8px 30px 0px 10px;
    color: #FFFFFF;
}

#top_navigation ul li a {
    margin: 0px 1px;
    text-decoration: none;
    font-weight: bold;
    background-image: url("../images/nav_tier_1_bg.jpg");
    background-position: top right;
    background-repeat: no-repeat;
}

.nav_text {
    margin: 0px 1px;
    text-decoration: none;
    font-weight: bold;
    background-image: url("../images/nav_tier_1_bg.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    padding: 8px 30px 0 10px;
}
.nav_text:hover {
    margin: 0px 0px 0px -4px;
    padding-left: 14px;
    height: 40px;
    color: #00609E;
    border: 1px solid #BEC0C2;
    border-bottom: none;
    background-color: #FFFFFF;
    background-image: none;
}

#top_navigation ul li:hover a, #top_navigation ul li:hover .nav_text, #top_navigation ul li.menuHover a {
    margin: 0px 0px 0px -4px;
    padding-left: 14px;
    height: 40px;
    color: #00609E;
    border: 1px solid #BEC0C2;
    border-bottom: none;
    background-color: #FFFFFF;
    background-image: none;
}

.nav_last {
    background-image: url("../images/nav_tier_1_bg_last.jpg");
}
/*------------------------------------------------*/
/* Second Tier */

#top_navigation ul li:hover ul, #top_navigation ul li.menuHover ul {
    visibility: visible;
}

#top_navigation ul ul {
    position: absolute;
    visibility: hidden;
    margin-left: -4px;
    padding: 13px 1px;
    top: 100%;
    min-width: 100%;
    border: 1px solid #BEC0C2;
    border-top: none;
    background-color: #FFFFFF;
}

#top_navigation ul ul li {
    clear: left;
}

#top_navigation ul ul li a {
    margin: 0px;
    padding: 3px 15px;
    height: 13px;
    white-space: nowrap;
    color: #565658 !important;
    font-weight: normal;
    background-image: none;
}

#top_navigation ul li:hover ul a, #top_navigation ul li.menuHover ul a, #top_navigation ul ul li a:hover {
    margin: 0px;
    padding: 3px 15px;
    height: 13px;
    border: none;
}

#top_navigation ul ul li a:hover {
    color: #363638 !important;
    text-decoration: underline;
}

/*-------------------------------------------------------------------------------*/
/* Homepage Content */

/*------------------------------------------------*/
/* jQuery Banner */

#banner_container {
    position: relative;
    margin-bottom: 6px;
    width: 974px;
    min-height: 364px;
    background-color: #00609E;
}

#banner_container .banner img {
    display: none;
}

#banner_container .banner .copy {
    float: left;
    width: 310px;
    font-size: 1em;
    background-color: #00609E;
}

#banner_container .banner .copy.extended {
    float: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 467px;
    height: 320px;
}

#banner_container .banner img {
    width: 974px;
    height: 364px;
}

#banner_container .banner .copy p {
    margin: 10px 12px;
    color: #FFFFFF;
    line-height: 1.3em;
}

#banner_container .banner .copy a.more_link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

#banner_container .banner .copy a.more_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

#banner_container .banner .copy .close_button {
    position: absolute;
    display: block;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 18px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    line-height: 18px;
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
    border: 1px solid #FFFFFF;
}

#banner_navigation {
    position: absolute;
    z-index: 100;
    right: 32px;
    bottom: 30px;
    height: 20px;
}

#banner_navigation a, #banner_navigation span {
    display: block;
    float: left;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
    line-height: 18px;
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
    border: 1px solid #FFFFFF;
}

#banner_navigation span {
    display: none;
    font-size: 1.25em;
    border: none;
    width: auto;
}

/*------------------------------------------------*/
/* Content Block*/

#home_column_content {
    width: 972px;
    border: 1px solid #A1A1A5;
}

#intro_text {
    display: inline;
    float: left;
    margin: 13px 17px;
    width: 283px;
    color: #022A60;
    font-size: 1.3em;
    line-height: 1.6em;
}

#learn_more {
    float: left;
    margin-bottom: 16px;
    width: 652px;
    height: 100%;
}

#learn_more #title_text {
    display: block;
    padding: 8px 0px;
    width: 642px;
    font-size: 1.7em;
    border-bottom: 1px solid #A1A1A5;
}

#learn_more .link_block {
    display: inline;
    float: left;
    margin-right: 10px;
}

#learn_more .link_block .block_text {
    display: block;
    margin: 10px 0px;
    color: #0373A9;
    text-decoration: none;
    font-size: 1.2em;
}

#learn_more .link_block .block_text:hover {
    color: #2393C9;
    text-decoration: underline;
}

/*-------------------------------------------------------------------------------*/
/* Lower Page Content */

/*------------------------------------------------*/
/* Page Headers */

#lower_header_block {
    width: 974px;
    height: 169px;
}

#lower_header_image {
    float: left;
    border-bottom: 1px solid #CBD4DF;
    border-top: 1px solid #94A7BD;
}

#lower_header_section_image {
    float: left;
}

#lower_header_copy {
    float: left;
    padding-top: 25px;
    overflow: hidden;
}

#lower_header_copy * {
    color: #FFFFFF;
}

#lower_header_copy ul {
    padding-left: 0px;
    font-size: 1.1em;
    line-height: 1.7em;
}

#lower_header_copy ul li {
    padding-left: 8px;
    margin-left: 14px;
}

#lower_header_copy a {
    color: #36BBF9;
}

#lower_header_copy a:hover {
    color: #56DBF9;
}

/*---------------*/
/* Annual Report (deprecated)

#lower_header_block.annual_report #lower_header_copy {
    padding-left: 70px;
    width: 546px;
    height: 142px;
    border-top: 1px solid #D2D2B1;
    border-bottom: 1px solid #E2E2C1;
    background-color: #8B8D08;
}

#lower_header_block.annual_report #lower_header_copy h1 {
    margin-bottom: 25px;
    font-size: 2.3em;
}

#lower_header_block.annual_report #lower_header_copy p {
    margin: 25px 0px;
    font-size: 1.1em;
    line-height: 1.6em;
}
*/
/*---------------*/
/* About */

#lower_header_block.about {
    height: auto !important;
    background-color: #002D62;
    border-top: 1px solid #94A7BD;
    border-bottom: 1px solid #CBD4DF;
}

#lower_header_block.about #lower_header_copy {
    padding-left: 55px;
    width: 503px;
}

#lower_header_block.about #lower_header_copy h1 {
    margin-bottom: 25px;
    font-size: 2.3em;
}

#lower_header_block.about #lower_header_copy p {
    margin: 25px 0px;
    font-size: 1.1em;
    line-height: 1.6em;
}

/*---------------*/
/* Worldwide, People, Press, News, Annual Report & Subsection\General Content */

#lower_header_block.worldwide #lower_header_copy,
#lower_header_block.people #lower_header_copy,
#lower_header_block.press #lower_header_copy,
#lower_header_block.news #lower_header_copy,
#lower_header_block.subsection #lower_header_copy,
#lower_header_block.annual_report #lower_header_copy {
    padding-left: 25px;
    width: 702px;
    height: 142px;
    border-top: 1px solid #94A7BD;
    border-bottom: 1px solid #CBD4DF;
    background-color: #002D62;
}

#lower_header_block.worldwide #lower_header_copy h1,
#lower_header_block.people #lower_header_copy h1,
#lower_header_block.press #lower_header_copy h1,
#lower_header_block.news #lower_header_copy h1,
#lower_header_block.subsection #lower_header_copy h1,
#lower_header_block.annual_report #lower_header_copy h1 {
    color: #36CBF9;
    font-size: 3em;
}

#lower_header_block.worldwide #lower_header_copy h1 {
    margin-bottom: 20px;
}

#lower_header_block.people #lower_header_copy h1,
#lower_header_block.press #lower_header_copy h1,
#lower_header_block.news #lower_header_copy h1,
#lower_header_block.subsection #lower_header_copy h1,
#lower_header_block.annual_report #lower_header_copy h1 {
    margin-bottom: 8px;
}

#lower_header_block.worldwide #lower_header_copy p,
#lower_header_block.people #lower_header_copy p,
#lower_header_block.press #lower_header_copy p,
#lower_header_block.news #lower_header_copy p,
#lower_header_block.subsection #lower_header_copy p,
#lower_header_block.annual_report #lower_header_copy p {
    font-size: 1.3em;
    line-height: 1.4em;
}

#lower_header_block.worldwide #lower_header_copy p {
    margin: 20px 0px;
}

#lower_header_block.people #lower_header_copy p,
#lower_header_block.press #lower_header_copy p,
#lower_header_block.news #lower_header_copy p,
#lower_header_block.subsection #lower_header_copy p,
#lower_header_block.annual_report #lower_header_copy p{
    margin: 8px 0px;
}

/*------------------------------------------------*/
/* Column Structure */

#lower_one_column, #lower_column_left, #lower_three_column_centre, #lower_three_column_right, #lower_two_column_right {
    display: inline;
    margin-top: 10px;
}

#lower_one_column {
    float: left;
    width: 974px;
}

#lower_column_left {
    float: left;
    margin-right: 22px;
    width: 224px;
}

#lower_two_column_right {
    float: left;
    width: 728px;
}

#lower_one_column.gradient_bg, #lower_two_column_right.gradient_bg {
    background-image: url("../images/column_gradient_bg.jpg");
    background-repeat: repeat-x;
}

#lower_one_column .content_block, #lower_two_column_right .content_block {
    padding: 20px 20px;
}

#lower_three_column_centre {
    float: left;
    width: 499px;
}

#lower_three_column_right {
    float: right;
    width: 191px;
}

div.clearer {
    clear: both;
}

/*------------------------------------------------*/
/* Archive Block (Right Column) */

#archive_block {
    padding: 0px 10px 0px 10px;
    width: 171px;
    background-image: url("../images/archive_gradient_bg.gif");
    background-repeat: repeat-x;
}

#archive_block h4 {
    margin: 0px;
    padding: 10px 0px;
    color: #022A60;
    font-weight: normal;
    font-size: 1.2em;
    border-bottom: 1px solid #CDE9F6;
}

#archive_block .document_links a {
    display: block;
    margin: 6px 0px;
    padding-left: 20px;
    color: #022A60;
    line-height: 15px;
    background-image: url("../images/icon_pdf.gif");
    background-repeat: no-repeat;
}

/*------------------------------------------------*/
/* Timeline (History Page) */

#timeline_block {
    position: relative;
    margin: 20px 0px;
    width: 100%;
    border-bottom: 1px solid #A1A1A5;
    overflow: auto;
}

.jcarousel-clip {
    margin-left: 65px;
    width: 844px;
}

#timeline_list li {
    display: block;
    float: left;
    margin-right: 8px;
    width: 134px;
    height: 230px;
}

#timeline_list span {
    display: block;
    padding-left: 4px;
    height: 30px;
    color: #022A60;
    font-size: 1.7em;
    line-height: 24px;
    font-family: Georgia, Garamond, "Times New Roman", Serif;
}

#timeline_list p {
    margin: 14px 4px 30px 4px;
    font-size: 1.1em;
}

#timeline_button_previous, #timeline_button_next {
    position: absolute;
    top: 30px;
    width: 60px;
    height: 88px;
}

#timeline_button_previous:hover, #timeline_button_next:hover {
    cursor: pointer;
}

#timeline_button_previous {
    left: 0px;
}

#timeline_button_next {
    right: 0px;
}

/*------------------------------------------------*/
/* Inset Block (Press Page) */

.inset_block {
    margin: 10px;
    padding: 5px 15px;
    border: 1px solid #595959;
    background-color: #FFFFFF;
}

/*------------------------------------------------*/
/* Coloured Inset Blocks (About Section) */

.coloured_block {
    float: left;
    margin-bottom: 9px;
    margin-right: 9px;
    padding: 10px;
    width: 220px;
}

.coloured_block *, .coloured_block *:hover {
    color: #FFFFFF;
}

.coloured_block h4 {
    margin: 0px 0px 6px 0px;
    padding: 0px 0px 10px 0px;
    font-size: 1.7em;
    border-bottom: 1px solid #FFFFFF;
    font-weight: normal;
    line-height: 1.1em;
    letter-spacing: -1px;
}

.coloured_block a {
    display: block;
    padding: 6px 0px;
    text-decoration: none;
    font-weight: bold;
}

.coloured_block a:hover {
    text-decoration: underline;
}

.green_block  { background-color: #6B6D09; }
.blue_block   { background-color: #005DA9; }
.red_block    { background-color: #B50937; }
.purple_block { background-color: #34427F; }

/*------------------------------------------------*/
/* World Map (Worldwide Page) */

#world_map_block {
    position: relative;
    margin-bottom: 10px;
    width: 727px;
    height: 363px;
}

#world_map_block img {
    border: none;
}

area:hover {
    cursor: pointer;
}

#alternate_map_navigation a {
    display: block;
    float: left;
    margin-bottom: 4px;
    width: 100px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

#region_1:hover {
    cursor: pointer;
}

/*------------------------------------------------*/
/* Address Block (Worldwide Page) */

#office_address_block {
    width: 727px;
    min-height: 294px;
    background-image: url("../images/column_gradient_bg.jpg");
    background-repeat: repeat-x;
}

.region_block {
    padding-left: 20px;
    width: 707px;
    text-align: left;
}

.region_block h2 {
    margin: 0px;
    padding-top: 10px;
}

.address_column {
    float: left;
    padding-top: 15px;
    width: 350px;
}

.address_column h4 {
    font-weight: bold;
}

.address_column p {
    margin-top: 2px;
    margin-bottom: 12px;
}

.address_column a {
    color: #001E57;
}

/*------------------------------------------------*/
/* People Page */

.people_block {
    float: left;
    margin-right: 50px;
    width: 196px;
}

.people_block.last {
    margin-right: 0px;
}

/*------------------------------------------------*/
/* News */

.news_listing {
    clear: both;
}

.news_listing h2 {
    margin: 0px;
    color: #001E57;
    font-weight: normal;
    font-size: 1.15em;
    line-height: 1em;
    letter-spacing: 0px;
}

.news_listing .thumbnail {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 180px;
    height: 80px;
    overflow: hidden;
    background-color: #DDDDDD;
}

.news_listing .thumbnail img {
    width: 180px;
    height: 80px;
    border: none;
}

.news_article .article_image { 
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 180px;
    height: 200px;
    border: none;
}

.news_article h3 {
    margin-bottom: 4px;
    font-size: 1.3em;
}

.news_listing p {
    margin: 0px;
}

.news_listing .date, .news_article .date {
    margin: 4px 0px 8px 0px;
    font-weight: bold;
}

/*-------------------------------------------------------------------------------*/
/* Lower Navigation */

#lower_navigation {
    padding: 8px 0px;
    width: 222px;
    min-height: 299px;
    border: 1px solid #B4B4B9;
    background-color: #F0F1F2;
}

/*------------------------------------------------*/
/* First Tier */

#lower_navigation ul {
    margin: 0px;
    padding: 0px;
    float: left;
}

#lower_navigation ul li {
    margin: 0px;
    padding: 0px;
    float: left;
    list-style: none;
}

#lower_navigation ul li a, #lower_navigation ul li span {
    display: block;
    margin: 2px 0px;
    padding: 0px 0px 0px 28px;
    width: 194px;
    color: #024A90;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.4em; 
}

#lower_navigation ul li a, #lower_navigation ul li span.multi_line {
    background-image: url("../images/lower_nav_tier_1_arrow.jpg");
    background-repeat: no-repeat;
    background-position: 1px 3px;
}

#lower_navigation ul li a:hover {
    text-decoration: underline;
}

/*------------------------------------------------*/
/* Second Tier */

#lower_navigation ul ul li a {
    color: #024A90;
    font-weight: normal;
    background-image: url("../images/lower_nav_tier_2_arrow.jpg");
}

/*------------------------------------------------*/
/* Third Tier */

#lower_navigation ul ul ul li a, #lower_navigation ul ul ul li span.multi_line {
    color: #022A60;
    font-weight: normal;
    background-image: url("../images/lower_nav_tier_3_arrow.jpg");
}

#lower_navigation ul ul ul li span.multi_line a {
    display: inline !important;
    margin: 0px;
    padding: 0px;
    width: auto;
    background-image: none;
}

/*-------------------------------------------------------------------------------*/
/* Footer */

#footer {
    margin-top: 15px;
    text-align: center;
    font-size: 1em;
}

#footer a {
    color: #0373A9;
    text-decoration: none;
}

#footer a:hover {
    color: #2393C9;
    text-decoration: underline;
}
/*---------------------------- Added for country selector --------------------*/
#country_selector {
   height: 30px;
   float: right;
}
#country_selector_welcome {
   font-size: 1.2em;
   line-height: 20px;
}
.placeHolderText{
	color:#A9A9A9;
}
.ui-autocomplete-input{
	  	border: 1px solid #A1A1A5;
  		width: 190px;
     }
.ui-autocomplete {
      padding: 0;
      list-style: none;
      background-color: #fff;
      width: 190px;
      border: 1px solid #B0BECA;
      max-height: 350px;
      overflow-y: scroll;
       z-index: 500 !important;
      height:160px;
}
.ui-autocomplete .ui-menu-item a {
      border-top: 1px solid #B0BECA;
      display: block;
      padding: 4px 6px;
      color: #133D6F;
      cursor: pointer;
      font-weight: bold;
      font-size:0.9em;
}
.ui-autocomplete .ui-menu-item:first-child a {
      border-top: none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover {
       font-weight: bold;
       background-color: #D5E5F4;
       color: #335D8F;
       text-decoration:underline;
    
      
}
#changeCountry{
    padding: 0px 3px;
    color: #565658;
    text-decoration: none;
    font-size :0.8em;

	
      
}
#changeCountry:hover {
    color: #363638;
    text-decoration: underline;
}
