#header-top-banner-rss{
	width: 858px;
	float: right;
	padding: 5px 0 0 0;
}

	#oshirase{
		margin:4px 0 0px 3px;
	}
	#headline li {
    height: 139px;
}
#rt-controller-container #rt-controller-next {
    margin: 7px 0 0 0;
    width: 25px;
    height: 303px;
    overflow: hidden;
    float: left;
}
#rt-controller-container #rt-controller-prev {
    margin: 7px 0 0 0;
    width: 25px;
    height: 303px;
    overflow: hidden;
    float: left;
}

#headline {
	width:822px;
}

#headline dl {
    border-radius: 4px;
    height: 146px;
	width: 154px;
    top: 7px;
}

#headline dl dt {
    height: 80px;
    margin: 0 0 5px;
    padding: 8px 10px 0;
}
#headline dl dd {
}

#headline dl img {
	width: 158px;
	height: 80px;
}

#headline li div.c_rank {
    background: url("http://jin115.com/archives/materials/fire_back.png") no-repeat scroll left top transparent;color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    padding-right: 10px;
    padding-top: 11px;
    position: absolute;
    text-align: right;
    width: 68px;
    z-index: 115;
}

#headline li div.c_rank a:link,
#headline li div.c_rank a:visited{
	color:#fff;
}

#headline li div.c_rank a:hover,
#headline li div.c_rank a:active {
	color:#ffffcc;
}




#headline li {
height: 155px;
width: 154px;
}



#headline .headline_comments div.popularArticlesWithImage {
margin: 0 0 2px;
height: 130px;
overflow: hidden;
}

#headline .headline_comments div.popularArticlesWithImage ul {
margin: 0;
padding: 0;
text-align: center;
margin-left: -5px;
}

#headline .headline_comments div.popularArticlesWithImage .image {
cursor:pointer;
height: 65px;
margin: 0 0 0 1px;
padding: 0;
width: 140px;
overflow: hidden;
}

#headline .headline_comments div.popularArticlesWithImage div.title {
cursor: pointer;
position: absolute;
bottom: auto;
left: 0;
top: 70px;
width: auto;
height: 43px;
padding: 0;
background: none !important;
color: #333 !important;
font-weight: normal;
font-size: 86%;
line-height: 1.2em;
opacity: 1;
overflow: hidden;
}

#headline .headline_comments div.popularArticlesWithImage div.title:hover {
	text-decoration:underline;
}



#headline .headline_comments div.popularArticlesWithImage div.retweet,
#headline .headline_comments div.popularArticlesWithImage div.comment,
 #headline .headline_comments div.popularArticlesWithImage div.pv {
position: absolute;
top: -10px;
left: -13px;
right: auto;
display: inline-block;
padding: 12px 10px 2px 3px;
background: url("http://jin115.com/archives/materials/fire_back.png") no-repeat scroll left top transparent !important;
font-weight: bold;
font-size: 13px;
overflow: hidden;
height: 31px;
width: 68px;
color: #FFF;
text-align: right;
text-shadow: none;
}


#headline .headline_comments div.popularArticlesWithImage ul li {
position: relative;
vertical-align: top;
height: 126px;
margin-left: 8px;
margin-bottom: 20px;
width: 150px;
border: solid 1px #BBB;
background: #EFEFEF;
text-align: left;
border-radius: 4px;
display: inline;
list-style-type: none;
}


#headline .headline_comments div.popularArticlesWithImage ul li a {
display: block;
border-width: 3px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.8);
padding: 0px !important;
background: none !important;
text-decoration: none;
width: 143px;
height: 112px;
top: 8px;
position: absolute;
border: none;
left: 9px;
}

