@charset "EUC-JP";
/*================================================================================================

	Reset Browser Style

=================================================================================================*/

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, table, th, td, form, input, textarea, select, option, address, pre, strong, em {
	padding: 0;
	margin: 0 auto;
	font-family:'ＭＳ Ｐゴシック', 'MS PGothic', 'Mona', 'mona-gothic-jisx0208.1990-0', 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
	font-size: 14px;
	*font-size:small;
	*font:small;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2;
	text-decoration: none;
	letter-spacing: 0;
	zoom:1;
}
/*kill 'font-size Duplication'
________________________________________*/

td p, td li, td td, td th, td select, td option, td textarea, td h2, td h3, td h4, td h5, td dt, td dd, th p, th li, th td, th th, th select, th option, th textarea, th h2, th h3, th h4, th h5, th dt, th dd, li li, li h3, li h4, li h5, li p, li dt, li dd, li td, li th, li caption, dt p, dt li, dt td, dt th, dt select, dt textarea, dt h2, dt h3, dt h4, dd p, dd li, dd td, dd th, dd select, dd textarea, dd h2, dd h3, dd h4, dd input {
	font-size: inherit;
	font-size: 99%;
	line-height: 1.6em !important;
	line-height: 1.5em;
}
/*Redefinition
________________________________________*/

strong {
	font-weight: bold;
}
th, td {
	vertical-align: top;
}
li {
	list-style: none;
}
blockquote {
	padding: 10px;
	margin: 0px;
	border:#000000 1px solid;
	text-align: left;
	background-color: #EFEFEF;
	overflow:hidden;
}
abbr {
	text-decoration:none;
}
/*Clearfix
________________________________________*/

ul:after, dl:after, #header:after, #header_ad:after, #contents:after, #container:after, .article_header:after, .article_footer:after, #comment:after, #footer:after, .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html ul, * html dl, * html #header, * html #header_ad, * html #contents, * html #container, * html .article_header, * html .article_footer, * html #comment, * html #footer, * html .clearfix {
	zoom: 1;
} /* IE6 */
*:first-child+html ul, *:first-child+html dl, *:first-child+html #header, *:first-child+html #header_ad, *:first-child+html #contents, *:first-child+html #container, *:first-child+html .article_header, *:first-child+html .article_footer, *:first-child+html #comment, *:first-child+html #footer, *:first-child+html .clearfix {
	zoom: 1;
} /* IE7 */
/*================================================================================================

	Common Link Navigation

=================================================================================================*/

/*Common class
________________________________________*/

.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
}
/*Link
________________________________________*/		

a:link {
	color:#1a7bbc;
	text-decoration:none;
}
a:visited {
	color:#4e5b6f;
	text-decoration:none;
}
a:hover {
	color:#011431;
	text-decoration:underline;
}
#container #contents .article .article_header h1 a:link, #container #contents .article .article_header h1 a:visited {
	color:#fff;
}
#container #contents .article .article_header a:hover, #container #contents .article .article_header h1 a:hover {
	color:#1a7bbc;
	text-decoration:none;
}

#container #contents .article h2 a:link, #container #contents .article h2 a:visited {
	color:#FFF;
}

#container #contents .article_body a:link img, #container #contents .article_body a:visited img, #container #contents .article_bodymore a:link img, #container #contents .article_bodymore a:visited img {
	border-color:#000000;
}

#container #contents .article_body a:link, #container #contents .article_body a:visited, #container #contents .article_bodymore a:link, #container #contents .article_bodymore a:visited {
	color:#0a9fb1;
}


body#index #container #contents #headline dl dd a:hover,
body#article_template #container #contents #hot_tweet dl dd a:hover {
	text-decoration:underline;

}


/* css hack for Firefox */ 
body#article_template #container #contents #hot_tweet dl dd, x:-moz-any-link 
	{margin-top:-6px;}

#footer a:link, #footer a:visited {
	color:#cbdaf0;
}
#footer a:hover {
	color:#fff;
}

body {
	min-width:1320px;
	background: #C9DCF2;
	}

/*Navigation
________________________________________*/		

.paging-first a:link, .paging-first a:visited {
	display: none;
}
.paging-prev a:link, .paging-prev a:visited, .prev a:link, .prev a:visited {
	display:inline-block;
	background:url(http://jin115.com/common_images/ic_link_L.png) no-repeat 3px center;
	padding:5px 5px 5px 22px;
}
.paging-last a:link, .paging-last a:visited {
	display:none;
}
.paging-next a:link, .paging-next a:visited, .next a:link, .next a:visited {
	display:inline-block;
	background:url(http://jin115.com/common_images/ic_link_R.png) no-repeat 98% center;
	padding:5px 30px 5px 5px;
}
.paging-first a:hover {
	display:none;
}
.paging-prev a:hover, .prev a:hover {
	display:inline-block;
	background:url(http://jin115.com/common_images/ic_link_L.png) no-repeat 3px center #48A2DB;
	padding:5px 5px 5px 22px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:FFF !important;
}
.paging-last a:hover {
	display:none;
}
.paging-next a:hover, .next a:hover {
	display:inline-block;
	background:url(http://jin115.com/common_images/ic_link_R.png) no-repeat 98% center #48a2db;
	padding:5px 30px 5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:FFF !important;
}
/*================================================================================================

	Container article

=================================================================================================*/

bodyjack {
    background:url("http://jin115.com/image/jack_120907_bg.jpg") no-repeat scroll center top #C9DCF2;

}


/*Header
________________________________________*/


/* 追加ヘッダー 2011.09 by YAMADA*/

#top-header {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
#top-header, #footer-menu {
    background-image: url("http://jin115.com/common_images/top_header_bg.jpg");
    display: block;
    height: 32px;
    margin: 0 auto 0;
    width: 1320px;
    padding:0;
	overflow:hidden;
}

#top-header ul.submenu, #footer-menu ul.submenu { 
        display: block;
	color:#FFF;
	margin:0 0 0 5px;
	padding-top:2px;	
	overflow:hidden;
	height: 31px;
	width:540px;
	float:left;
}

#top-header ul.submenu2, #footer-menu ul.submenu2  {
        display: block;
	margin:0;
	width:550px;
	color:#FFF;
	padding-top:2px;	
	overflow:hidden;
	height: 31px;
	float:right;
	text-align:right;
}

#top-header ul.submenu li,
#top-header ul.submenu2 li,
#footer-menu ul.submenu li,
#footer-menu ul.submenu2 li {
	display:inline-block;
	float:left;
	color:#FFF;
	font-size:12px;
	height: 31px;
	line-height:28px;
}
#top-header ul.submenu2 li, #footer-menu ul.submenu2 li {
	padding-right:10px;
	float:right;
	}

#top-header ul.submenu li a,
#top-header ul.submenu li a:link,
#top-header ul.submenu2 li a,
#top-header ul.submenu2 li a:link,
#footer-menu ul.submenu li a,
#footer-menu ul.submenu li a:link,
#footer-menu ul.submenu2 li a,
#footer-menu ul.submenu2 li a:link {
	color:#FFF;	
	padding:0;
	font-size:12px;
	}

#top-header ul.submenu li a:visited,
#top-header ul.submenu2 li a:visited,
#footer-menu ul.submenu li a:visited,
#footer-menu ul.submenu2 li a:visited {
	display:inline-block;
	color:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#top-header ul.submenu li a:hover,
#top-header ul.submenu2 li a:hover,
#footer-menu ul.submenu li a:hover,
#footer-menu ul.submenu2 li a:hover {
	text-decoration:none;
	color:#538ac8;
}

#top-header form, #footer-menu form{
	display:inline;
	}

/* ここまで */

#header {
    background-color:#ffffff;
    display: block;
/*    height: 95px;*/
    margin: 0 auto 0;
    padding: 0;
/*    position: relative;*/
    width: 1320px;
	border-left:1px solid #AAAAAA;
	border-right:1px solid #AAAAAA;
}


#header #logo {
	width:443px;
	float: left;
	padding: 6px 3px;
}

#header #header-top-banner {
	width:728px;
	height:90px;
	position:absolute;
	top:5px;
	left:449px;
	padding:0;
	margin:0;
}

#header .search {
	position:absolute;
	top:8px;
	right:90px;
	width:170px;
	overflow:hidden;
	color:#ffffff;
        line-height:10px;
        font-size:10px;
}
#header .search .text {
	width:120px;
	height:16px;
	line-height:1;
}
#header .search .button {
	height:26px;
}
#header .twitter {
	float:right;
    text-align:center;
	width:250px;
	display:block:
}

#header .twitter-follow {
    width:70px;
    height:20px;
    overflow:hidden;
	display:inline;
}

#new-tab ul.navi {
	color:#FFF;
	overflow:hidden;
	width:768px;
	display:block;
	margin:0 auto;
}

#new-tab ul.navi li {
	display:inline-block;
	float:left;
	white-space: nowrap;
	color:#FFF;
	background:#48a2db;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width:150px;
	margin-left:3px;
}

#new-tab ul.navi li a,
#new-tab ul.navi li a:link{
	color:#FFF;	
	padding:10px 0px;
	font-weight:bold;
	font-size:18px;
	width:150px;
	display:inline-block;
	text-align:center;
	}

#header ul.navi li a:visited {
	display:inline-block;
	color:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#new-tab ul.navi li a:hover {
	text-decoration:none;
	color:#4e5b6f;
}
#header_ad {
	width:1110px;
	margin:0 auto 10px auto;
	padding:10px;
	background:#9cbee3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#header a img {
	border-width:0;
	border-style:none;
}
/*Container
________________________________________*/						
#container {
	margin: 0 auto;
	padding: 5px 3px;
	width: 1314px;
        background:#ffffff;
	border-left:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
}

#top-container{
	width: 1320px;
	margin: 0 auto;
	position: relative;	
}

#container #contents {
    float: right;
    width: 770px;
}

#contents_left {
    float: left;
    width: 977px;
    margin: 1px 0 0 0;

}
#container #contents .article {
	background-color:#ffffff;
	text-align:left;
	margin-bottom:10px;
	padding-bottom:10px;
	word-wrap: break-word;
}

#container_index {
    margin: 0 auto;
    padding: 0;
    width: 1320px;
}

#sponsered {
   float: left;
    margin: 2px 0 0 10px;
    padding: 0;
    width: 325px;
}

#sponsered_title {
    background: url("http://jin115.com/common_images/bg_gray.png") repeat scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    padding: 10px;
    width: 298px;
    border: 1px solid #bbbbbb;
}

#sponsered_contents {
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    height: 268px;
    width: 318px;
	border: 1px solid #cccccc;
}

#sponsered_contents_fix {
    padding: 8px 0 0 8px;
}

#headline {
    float: left;
	width:950px !important;
	overflow:hidden;
        overflow-x: hidden;
}
/*Container Headline
________________________________________*/

#headline a img {
	padding-bottom:7px;
}

/*Contents Header
________________________________________*/

#container #contents .article .article_header {
	margin-bottom:15px;
	border-bottom:1px solid #666666;
	background-color:#cccccc;
}
#container #contents .article h2 {
	font-size:140%;
	font-weight:bold;
	color:#ffffff;
	padding:10px;
	background:#011431;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
#container #contents .article .article_header ul {
	float:right;
	padding:0;
}
#container #contents .article .article_header li {
	display:inline-block;
	font-size:86%;
	color:#333333;
	padding:8px 0 0 5px;
	float:left;
	vertical-align:middle;
}

#container #contents .article .article_header li a,
#container #contents .article .article_header li a:link,
#container #contents .article .article_header li a:visited
{
	color:#555555;

}

#container #contents .article .article_header li a:hover{
	text-decoration:underline;
	}
/*Article
________________________________________*/

#container #contents .article_body {
	width:720px;
	padding:0 20px;
	margin-bottom:40px;
}
#container #contents .article_body a img {
	border:1;
}
#container #contents .article .read_more {
	margin-bottom:15px;
	font-size:140%;
	line-height:1;
	padding:0 20px;
}
#container #contents .article .read_more a {
	background:url(http://jin115.com/common_images/ic_readmore.png) no-repeat 3px center;
	display:inline-block;
	padding:5px 4px 5px 30px;
}
#container #contents .article .article_footer ul.outward_plugins {
	float:left;
}
#container #contents .article .related-articles {
	margin:30px 0;
	width:720px;
	padding:0 20px;
}
.related-articles.with-image .related-article-title {
	font-size:140%;
	}
#container #contents .article .ad_amazon {
	margin:20px 0 20px 0;
	width:720px;
	padding:0 20px;
}
#container #contents .article .related-articles h3 {
	font-size:120%;
	width:710px;
	font-weight:bold;
	color:#666666;
	background:#e4e4e4;
	padding:8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom:10px;
}
#container #contents .article .related-articles ul {
	margin-bottom:20px;
}
#container #contents .article .related-articles li {
	background: url(http://jin115.com/common_images/ic_link_R.png) no-repeat left center;
	padding-left:20px;
	margin:0 0 10px 10px;
}

/*Container Footer
________________________________________*/		

#container #contents .article .article_footer {
	width:730px;
	margin-top:30px;
	padding:0 10px 0 20px;
	vertical-align:bottom;
}
#container #contents .article ul.outward_plugins {
	width:720px;
	margin-bottom:20px;
}
#container #contents .article .outward_plugins li {
	float:left;
	font-size:80%;
	padding-right:5px;
}

#container #contents .article .outward_plugins li img{
	border:0;
}

#container #contents .article .article_footer .paging {
	text-align:center;
	margin:20px 0 10px 0;
	width:720px;
}
#container #contents .article .article_footer .paging {
	display:inline-block;
	font-size:90%;
	margin:0 4px;
}
#container #contents .article .article_footer a img{
border:0;
}
#container #contents .button_top {
	float:right;
	vertical-align:bottom;
	width:56px;
}
#container #contents .button_top a img{
	border:0;
	}
	
#container #contents .article .article_footer dt, #container #contents .article .article_footer dd {
	font-size:80%;
}
#footer_navi {
	text-align:center;
	margin:30px 0;
}
#footer_navi li {
	display:inline-block;
	font-size:90%;
	margin:0 4px;
}
/*Container comment
________________________________________*/


#container #contents #comment{
	background:#efefef;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border:1px solid #aaaaaa;
}



body#article_template #container #contents #comment h3, body#article_template #container #contents #comment_list h3 {
	font-size:140%;
	font-weight:bold;
	color:#011431;
	background:url(http://jin115.com/common_images/title_h3.png) no-repeat left bottom;
	padding:0 0 5px 10px;
	margin-bottom:10px;
}
#container #contents .comment_form {
	width:720px;
	padding:20px;
}
#container #contents .comment_form dl {
	width:700px;
	padding-left:20px;
	margin:20px auto 10px auto;
}
#container #contents .comment_form dt {
	float:left;
	padding-right:10px;
	width:100px;
	text-align:right;
}
#container #contents .comment_form #author {
	width:190px;
	border:1px solid #909090;
	margin-bottom:5px;
	height:24px;
}
#container #contents .comment_form #text, #container #contents .comment_form #text2 {
	width:500px;
	margin-bottom:5px;
	border:1px solid #909090;
}
#container #contents .comment_form #author:focus, #container #contents .comment_form #text:focus {
	background-color: #E4FBF5;
}
#container #contents .comment_form .submit {
	text-align:center;
	background:#efefef;
}
#container #contents .comment_form .submit .button {
	color:#ffffff;
	text-decoration:none;
	background:#011431;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:10px 20px;
	font-size: 22px;
	font-weight: bold;
}
/*Container comment_list
________________________________________*/

#comment h3{
	width:100%;
	}

#container #contents #comment_list {
	width:740px;
	padding:20px;
}
#container #contents #comment_list li {
	margin-bottom: 35px;
}
#container #contents #comment_list dl {
	margin-bottom:10px;
}
#container #contents #comment_list dt span {
	color:#011431;
	font-weight:bold;
}
#container #contents #comment_list dd {
	margin:5px 0 15px 18px;
	line-height:1 !important;
	word-break: break-all;
}
#container #contents #comment .button_top {
	padding-right:10px;
}
/*Side
________________________________________*/	


#side_left {
    float: left;
    width: 200px;
}


#side_left .sidewrapper {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FFF;
	margin-bottom:10px;
	padding-bottom:5px;
    border: 1px solid #DDDDDD;
}

#side_right .sidewrapper {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FFF;
	margin-bottom:10px;
	padding-bottom:10px;
    border: 1px solid #dddddd;
}



#side_left .sidetitle {
    background: url("http://jin115.com/common_images/bg_gray.png") repeat scroll 1px 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    padding: 10px;
    width: 178px;
    border-bottom: 1px solid #dddddd;
}


#side_right .sidetitle {
    background: url("http://jin115.com/common_images/bg_gray.png") repeat scroll 1px 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    padding: 10px;
    width: 298px;
    border-bottom: 1px solid #dddddd;
}


#side_lefttop .sidewrapper {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FFF;
	margin-bottom:10px;
	padding-bottom:10px;
    border: 1px solid #bbbbbb;
}


#side_lefttop .sidetitle {
    background: url("http://jin115.com/common_images/bg_gray.png") repeat scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    padding: 10px;
    width: 200px;
}


#side_left .side {
	padding:10px;
}
#side_left .left, #side_left .right {
	width:160px;
}
#side_left .plugin-recent_articles .sidebody, #side_left .plugin-monthly .sidebody {
	margin-bottom:5px;
	padding:0 5px;
}
#side_left .side .left {
	clear:right;
}
#side_left .side .left {
	padding-left:5px;
}
#side_left .side .right {
	padding-right:5px;
}
#side_left .clearfix {
	margin-bottom:10px;
}

#side_lefttop {
    float: left;
    width: 200px;
}


#side_lefttop .side {
	padding:10px;
}
#side_lefttop .left, #side_lefttop .right {
	width:160px;
}
#side_lefttop .plugin-recent_articles .sidebody, #side_lefttop .plugin-monthly .sidebody {
	margin-bottom:5px;
	padding:0 5px;
}
#side_lefttop .side .left {
	clear:right;
}
#side_lefttop .side .left {
	padding-left:5px;
}
#side_lefttop .side .right {
	padding-right:5px;
}
#side_lefttop .clearfix {
	margin-bottom:10px;
}

#side_right {
    float: right;
    width: 320px;
    margin: 1px 0 0 0;
}


#side_right .side {
    padding: 10px 10px 10px;
}

#side_right .left, #side_right .right {
	width:160px;
}
#side_right .plugin-recent_articles .sidebody, #side_right .plugin-monthly .sidebody {
	margin-bottom:5px;
	padding:0 5px;
}
#side_right .side .left {
	clear:right;
}
#side_right .side .left {
	padding-left:5px;
}
#side_right .side .right {
	padding-right:5px;
}
#side_right .clearfix {
	margin-bottom:10px;
}

.right_ad_fix {
    margin: 0 0 0 16px;
}

#side_right #floatside {
	width:198px;
	padding-bottom:15px;
	margin-bottom:20px;
}


/*Footer
________________________________________*/


#footer {
	width:1320px;
	margin:0 auto;
	padding:0;
	text-align:center;
	vertical-align:bottom;
	color:#cbdaf0;
	border-left:1px solid #000000;
	border-right:1px solid #000000;

}
#footer #footer_inner {
	background-color:#002c70;
	padding:20px 0px 10px 5px;
}

#footer #footer_inner .sidebody {
	margin-bottom:30px;
}
#footer #footer_inner .sidetitle {
	font-size:110%;
	font-weight:bold;
	margin-bottom:20px;
}
#footer #footer_inner li {
	display:inline-block;
	vertical-align:middle;
}
#footer #footer_inner .sidewrapper {
	width:340px;
	float:left;
	padding:0 15px 30px 20px;
}
#footer #footer_inner .sidewrapper .sidetitle {
	margin-bottom:10px;
	text-align:left;
}
#footer #footer_inner .plugin-categorize, #footer #footer_inner .plugin-popular_articles {
	text-align:left;
}
#footer #footer_inner .plugin-categorize .sidebody {
	margin-bottom:5px;
}
/*================================================================================================

	Individual Style

=================================================================================================*/

/*Article
________________________________________*/

body#article_template #container #contents .article .article_header ul {
	float:right;
	max-width:560px;
}
body#article_template #container #contents .article .article_header ul#out_button {
	float:left;
	max-width:300px;
}
body#article_template #container #contents .article .article_header ul#out_button li{
	padding:5px;
	width:105px;
	max-width:260px;
	height:19px;
	} 

body#article_template #container #contents .article h1 {
	font-size:140%;
	font-weight:bold;
	color:#ffffff;
	padding:10px;
	background:#011431;
}

body#article_template #container #contents .article h2 {
	font-size:140%;
	font-weight:bold;
	color:#011431;
	background:url(http://jin115.com/common_images/title_h2.png) no-repeat left bottom;
	padding:0 0 5px 10px;
	margin-bottom:10px;
}
body#article_template #container #contents .article {
	background-color:#ffffff;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;	
	border-bottom-right-radius: 0px;
	text-align:left;
	margin-bottom:0;
	padding-bottom:0;
	border-top:1px solid #aaaaaa;
	border-left:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
	border-bottom:none;

}
body#article_template #container #contents .article_bodymore {
	width:720px;
	padding:20px 20px 0 20px;
	margin:0 4px 95px ;
	font-size: 14px;
	line-height:160%;
	color: #3A575E;
}

body#article_template #container #contents #hot_tweet {
	margin:10px 0 20px 0;
	padding:0 20px;
}
#other_news_website {
	margin:10px 0 20px 0;
	padding:0 20px;
}
#other_news_website h2 {
	font-size:140%;
	font-weight:bold;
	color:#011431;
	background:url(http://jin115.com/common_images/title_h2.png) no-repeat left bottom;
	padding:0 0 5px 10px;
	margin: 0 0 10px 10px;
	text-align:left;
}
body#article_template #container #contents #hot_tweet li {
	display:inline-block;
	width:174px;
	position: relative;
	height:154px;
	float:left;
	padding-right:5px;
	margin-bottom:10px;
}
body#article_template #container #contents #hot_tweet li.last {
	padding-right:0;
}
body#article_template #container #contents #hot_tweet li .tweet {
	background:url(http://jin115.com/common_images/topics_tweet_bg4.png) no-repeat top left;
	width:65px;
	height:40px;
	z-index:115;
	text-align:center;
	padding-top:7px;
	font-weight:bold;
	color:#FFF;
	position:absolute;
}
body#article_template #container #contents #hot_tweet dl {
	background:#efefef;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #BBBBBB;
	width:171px;
	height:135px;
	z-index:0;
	position:absolute;
	top:19px;
	left:3px;
}
body#article_template #container #contents #hot_tweet dl a,
body#article_template #container #contents #hot_tweet dl a:link,
body#article_template #container #contents #hot_tweet dl a:visited,
body#article_template #container #contents #hot_tweet dl a:hover{
	color:#006EEE;
}

body#article_template #container #contents #hot_tweet dl dt {
	padding:10px 10px 0px 10px;
	overflow:hidden;
}
body#article_template #container #contents #hot_tweet dl dt a img{
	border:0;
	padding:0;
	overflow:hidden;
	}
body#article_template #container #contents #hot_tweet dl dd {
	padding:0px 10px;
	font-size:86%;
	line-height:1 !important;
	overflow:hidden;
	height:36px;
	word-break:break-all;
}


body#article_template #container #contents #hot_tweet dl dd a,
body#article_template #container #contents #hot_tweet dl dd a:link,
body#article_template #container #contents #hot_tweet dl dd a:hover,
body#article_template #container #contents #hot_tweet dl dd a:visited
	{
	color:#666666;
	}

body#article_template #container #contents #hot_tweet li .tweet a,
body#article_template #container #contents #hot_tweet li .tweet a:link,
body#article_template #container #contents #hot_tweet li .tweet a:visited{
	color:#FFFFFF;
	}

body#article_template #container #contents #hot_tweet li .tweet a:hover{
	color:#ffe829;
	}

/*fixfooter*/

#fixfooter{
	width:40px;
	height:130px;
	float:right;
	position:fixed;
	bottom:45px;
	margin-left:1320px;	
}


#fixfooter ul {
	margin:0;
	padding:0;
}
#fixfooter ul li {
	list-style:none;
	width:40px;
	margin:0;
	padding:0;
}
#fixfooter li img {
	border:0 !important;
	vertical-align:bottom;
}
#fixfooter img {
	filter:Alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
}
#fixfooter a:hover img {
	filter:Alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
}

/*Archives
________________________________________*/

body#archives_template #container #contents #archive_title {
	background:url(http://jin115.com/common_images/ic_archives_title.png) no-repeat left bottom;
	height:48px;
	padding-left:108px;
}
body#archives_template #container #contents #archive_title h1 {
	padding:10px;
	background:#568bca;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display:inline-block;
	font-size:120%;
	font-weight:bold;
	color:#FFF;
}
/*Index
________________________________________*/

#headline {
}
#headline li {
	display:inline-block;
	position: relative;
	width:180px !important;
	height:155px !important;
	float:left;
	padding-right:10px;
}
#headline li.last {
	padding-right:0;
}
#headline li .tweet {
	background:url(http://jin115.com/common_images/topics_tweet_bg4.png) no-repeat top left;
	width:65px;
	height:40px;
	z-index:115;
	text-align:center;
	padding-top:7px;
	font-weight:bold;
	color:#FFF;
	position:absolute;
}

#headline li .tweet a,
#headline li .tweet a:link,
#headline li .tweet a:visited
{	color:#ffffff;
	}

#headline li .tweet a:hover{
	color:#ffe829;
	}


#headline dl {
	border: 1px solid #bbbbbb;
	background:none repeat scroll 0 0 #efefef;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:178px !important;
	height:146px !important;
	z-index:0;
	position:absolute;
	top:8px;
	left:3px;
}
#headline dl dt {
	padding:10px 10px 0px 10px;
	margin:0;
	height:75px;
	overflow:hidden;
}
#headline dl dd {
	padding:0 10px;
	font-size:86%;
	line-height:1.2 !important;
	margin:0;
	overflow: hidden;
	height: 43px;
	word-break: break-all;
}

#headline dl a,
#headline dl a:link,
#headline dl a:hover,
#headline dl a:visited{
	color:#333333;
	}

#headline dl img{
	border:none;
	}
/* フッターtw　*/
#foot_tw {
	width:1320px;
	margin:0px auto;
	border:1px solid #aaaaaa;
	background-color:#ffffff;
}
#foot_tw li {
	display:inline-block;
	width:160px;
	position: relative;
	height:148px;
	float:left;
	padding-right:10px;
}
#foot_tw li.last {
	padding-right:0;
}
#foot_tw li .tweet {
	background:url(http://jin115.com/common_images/topics_tweet_bg4.png) no-repeat top left;
	width:65px;
	height:40px;
	z-index:115;
	text-align:center;
	padding-top:7px;
	font-weight:bold;
	color:#FFF;
	position:absolute;
}

#foot_tw li .tweet a,
#foot_tw li .tweet a:link,
#foot_tw li .tweet a:visited
{	color:#ffffff;
	}

#foot_tw li .tweet a:hover{
	color:#ffe829;
	}


#foot_tw dl {
	border: 1px solid #bbbbbb;
	background:none repeat scroll 0 0 #efefef;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:160px;
	height:135px;
	z-index:0;
	position:absolute;
	top:8px;
	left:3px;
}
#foot_tw dl dt {
	padding:10px 10px 0px 10px;
	margin:0;
	height:75px;
	overflow:hidden;
}
#foot_tw dl dd {
	padding:0 10px;
	font-size:86%;
	line-height:1.2 !important;
	margin:0;
}

#foot_tw dl a,
#foot_tw dl a:link,
#foot_tw dl a:hover,
#foot_tw dl a:visited{
	color:#333333;
	}

#foot_tw dl img{
	border:none;
	}


#oshirase {
	height:26px;
	width:770px;
	padding:0px 5px;
	margin:4px 0 7px 3px;
	background-image: url("http://jin115.com/common_images/oshirase_bg.jpg");
	color:#ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-left: 5px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size:12px;	
	float:left;
	overflow:hidden;
}

/* トップページ以外 */
#oshirase2 {
	height:26px;
	width:825px;
	padding:0px 5px;
	margin: 7px 0 7px 0;
	background-image: url("http://jin115.com/common_images/oshirase_bg.jpg");
	color:#ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:12px;	
	border-left: 5px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	float:left;
	overflow:hidden;
}

#oshirase #oshirase-box,
#oshirase2 #oshirase-box
{
	height:14px;
	width:765px;
	padding:6px 5px;
	float:left;
	display:inline;
	overflow:hidden;
	}

#oshirase #oshirase-box a,
#oshirase #oshirase-box a:link,
#oshirase2 #oshirase-box a,
#oshirase2 #oshirase-box a:link{
	color:#666666;
}

.message-board {
	display:inline;
	}

body#index #oshirase #rt-box{
	width:200px;
	height:26px;
	margin:0px;
	float:right;
	overflow:none;
	}


body#index #oshirase #rt-box ul.rt-tab {
	display: inline-block;
	list-style: none;
	border: none;
	height: 26px;
	padding: 0px;
	overflow:none;
}
body#index #oshirase #rt-box ul.rt-tab li {
	display: inline-block;
	width:46px;
	height:14px;
	padding:6px 5px;
	margin:0 5px;
	font-size: 12px;
	text-align:center;
	float: left;
	overflow:none;
	font-weight:bold;
	letter-spacing:0.1em;
	color: #4f86c3;
}
body#index #oshirase #rt-box ul.rt-tab li.act {
	background:url(http://jin115.com/common_images/rt-tab.gif) no-repeat 4px 3px;
	color: #4f86c3;
}
body#index #oshirase #rt-box ul.rt-tab li a {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
}
body#index #oshirase #rt-box ul.rt-tab li.act a{
	color: #4f86c3;
}
body#index #oshirase #rt-box ul.rt-tab li a:visited {
	color: #ffffff;
}
body#index #oshirase #rt-box ul.rt-tab li.act a:visited {
	color: #4f86c3;
}

body#index #oshirase #rt-box ul.rt-tab li:hover a{
	color: #cc0000;
}

#headline #tab_content_1 {
}

#headline #tab_content_2 {
	display:none;
}

#rt-controller-next {
	margin:4px 7px 0 0;
	width:52px;
	height:27px;
	overflow:hidden;
	float:right;
}

#rt-controller-prev {
	display:none;
	margin:4px 0 0 5px;
	width:52px;
	height:27px;
	overflow:hidden;
	float:left;
}

/* デザインリニューアル 2011年09月追加分 by YAMADA */


.index_article_container{
	display:block;
	background-color:#EFEFEF;
	text-align:left;
	width:748px;
	padding:10px 10px 0 10px;
	min-height:140px;
	border-top:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	border-bottom:3px solid #dddddd;
	margin-bottom:-1px;
	overflow:hidden;
}

.index_article{
	width:748px;
	display:block;
	max-height:220px;
	overflow:hidden;
}

.index_article_header{
	display:block;
	width:474px;
	float:right;
}

.index_article_header h2,
.index_article_header h2 a:link,
.index_article_header h2 a:hover,
.index_article_header h2 a:visited
{
	color:#006eee;
	font-size:24px;
	margin-top:15px;
	margin-bottom:5px;
	min-height: 65px;
}

.index_article_header ul {
	float:left;
	width:474px;
	margin-top:10px;
	margin-bottom:5px;
	display:block;
	overflow:hidden;
}

.index_article_header li {
	color:#000000;
	display:inline;
	float:left;
	font-size:12px;
	vertical-align;middle;
	line-height:14px;
}

.index_article_header li a,
.index_article_header li a:link,
.index_article_header li a:hover,
.index_article_header li a:visited
{
	color:#ec7500;
	font-size:12px;
	vertical-align;middle;
	line-height:14px;
}

.index_article_header_header{
	height:20px;
	line-height:20px;
	}

.index_article_header_date{
	display:block;
	float:left;
	width:120;
	line-height:20px;
	}

.index_article_header_category{
	float:left;
	max-width:300;
	color:#000000;
	overflow:hidden;		
}

.index_article_header_category a,
.index_article_header_category a:link,
.index_article_header_category a:hover,
.index_article_header_category a:visited{
	color:#ec7500;
	}

.index_article_header_tweet{
	float:right;
	width:67px;
	overflow:hidden;
	}

.index_article_body{
	display:block;
	width:255px;
	float:left;
	color:#676767;
	font-size:12px;
	line-height:14px;
	overflow:hidden;
	text-align:center;
	position:relative;
}

.index_article_body img{
	width:248px;
	height:126px;
	margin:0;
	padding:0;
}

.index_article_body a:hover{
	text-decoration:none;
	}


.index_article_footer{
	width:485px;
	height:31px;
	line-height:31px;
	display:block;
	margin-bottom:5px;
}

.index_article_footer_comment{
	display:block;
	width:200px;
	text-align:right;
	font-size:18px;
	float:right;
	overflow:hidden;
	color:#342C19;
	padding-top:1px;
}

.index_article_footer_comment a,
.index_article_footer_comment a:link,
.index_article_footer_comment a:visited{
	color:#4E5B6F;
}


.index_article_footer_comment a:hover{
	color:#342C19;
	}

.index_article_footer .read_more{
	height:31px;
	float:right;
	width:130px;
	}

.index_article_footer .read_more a {
	width:128px;
	float:right;
	overflow:hidden;
}

.index_article_footer .read_more a:hover img{
opacity:0.8;filter:alpha(opacity=80);-ms-filter: "alpha( opacity=80 )";
}



.article ul#tags {
	display:block;
	overflow:hidden;
	margin-left:20px;
	margin-bottom:10px;
}

.article ul#tags li {
	display:inline;
	float:left;
	font-size:12px;
	vertical-align;middle;
	line-height:14px;
}

.article ul#tags li a,
.article ul#tags li a:link,
.article ul#tags li a:hover,
.article ul#tags li a:visited
{
	color:#ec7500;
	font-size:12px;
	vertical-align;middle;
	line-height:14px;
}
/*タグh2処理*/
body#article_template #container #contents .article #tags h2 {
  font-size: 100%;
  font-weight: normal;
  background: inherit;
}

/* NEW TAB */

#new-tab {
	color:#ffffff;
	margin-bottom:5px;
/*	padding:10px;
	background:#48a2db;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;*/
}


/*================================================================================================

	Google AdSense

=================================================================================================*/

.google-user-ad {
        margin-left:1px;
}
.ad-center {
	text-align:center;
}
.google-user-ad-728 {
	margin:10px auto 10px;
	text-align:center;
}
.google-user-ad-728-top {
	margin:0px auto 10px;
	text-align:center;
}
.google-user-ad-336 {
  text-align:center;
}
.ad-type-side {
	margin:0;
}
.ad-type-bnr {
}
.ad-outer {
	text-align:left;
	margin:0 auto;
	padding:0;
}
.jlisting-user-ad .ad-outer {
	text-align:center;
}

div.google-2ad {
 margin:20px 50px; 
 height:250px;
}
div.g-ad1 {
 float:left;
 margin-left:0px; 
}
div.g-ad2 {
 float:left;
 margin-left:50px; 
}


/* ads by */
.ad-by {
	margin-bottom:4px;
	font-size:11px;
}
.ad-by a, .ad-by a:hover {
	color:#000000 !important;
}
/* link */
.ad-box a {
	text-decoration:none;
	padding:4px 10px;
	display:block;
	line-height:1.5;
}
.ad-box a:hover {
	text-decoration:none;
	padding:3px 9px;
	background:#f9f6e5;
	border:1px solid #f9f6e5;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
* html .ad-outer .ad-box a {
	height:1%;
}
*+html .ad-outer .ad-box a {
	height:1%;
}
/* title */
.ad-box a span.ad-title {
	font-size:15px;
	color:#0044CC;
	font-weight:bold;
	text-decoration:underline;
}
.ad-box a:hover span.ad-title {
	text-decoration:none;
}
/* url */
.ad-box a span.ad-url, .ad-box a:hover span.ad-url {
	font-size:12px;
	color:#008000;
	margin-left:10px;
}
/* description */
.ad-box a span.ad-description, .ad-box a:hover span.ad-description {
	font-size:13px;
	color:#000000;
	display:block;
}
/* link */
.ad-box-ncb {
	text-align:left;
	padding:6px 8px;
	display:block;
	line-height:1.5;
}
.ad-box-ncb:hover {
	padding:4px 6px;
	background:#f9f6e5;
	border:2px solid #f9f6e5;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
/* title */
.ad-box-ncb span.ad-title a {
	font-size:15px;
	color:#0044CC !important;
	font-weight:bold;
	text-decoration:underline;
}
.ad-box-ncb span.ad-title a:hover {
	text-decoration:none;
}
/* url */
.ad-box-ncb span.ad-url a {
	font-size:12px;
	color:#008000 !important;
	margin-left:10px;
}
.ad-box-ncb span.ad-url a:hover {
	text-decoration:underline;
	background:none;
}
/* description */
.ad-box-ncb span.ad-description {
	font-size:13px;
	color:#000000 !important;
	display:block;
}


/*==========================================================================================================

	tooltip tuika bun

===========================================================================================================*/

img.pictm_enu {
	border: 1px solid #C4DBFD;
	padding: 2px;
	margin: 4px 0;
	max-height: 320px;
	max-width: 320px;
}
.ree {
	margin: 3px 0 0 10px;
}
.quote_enu {
	background-color: #FAFCFF;
	border-color: #94BDFB;
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	font-size: 14px;
	line-height: 150%;
	margin: 6px 0 0;
	padding: 5px 8px;
}
img.pict_enu {
	border: 1px solid #C4DBFD;
	padding: 2px;
	margin: 4px 0;
	max-height: 500px;
	max-width: 460px;
}
hr.jin_enu {
	color: #A9C5ED;
	margin: 55px 0 -18px;
}
.enu_square {
	color: #3A88F7;
}
.enu_title {
	color: #6095DF;
	font-weight: bold;
}
.tooltip {
	display:none;
	position:fixed;
	padding:8px 12px;
	margin-top: 0px;
	width:480px;
	background:#FFF;
	border:1px solid #000000;
	color: #000;
	word-break: break-all;
	right: 20px;
	bottom: 20px;
	z-index: 10;
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.2);
}

.referred_comment {
	margin-top: 20px;
	font-size: 90%;
	color: #999;
	word-break: break-word;
}

.referred_comment a {
	padding: 0 3px;
}
/*==========================================================================================================

	sina tuika bun

===========================================================================================================*/

.g-tools_body img {
	width: 79px;
}
.g-tools_img img {
	width: 160px;
}
.hhh {
	float:left;
	padding-left:5px;
	width:320px;
}
.re {
	color:#3A575E;
	font-size:14px;
	line-height:160%;
	margin:0 0 20px;
	font-weight:bold;
	padding:0px;
}
.fonts1 {
	font-weight:bold;
	color:#cc0000;
}
.fonts2 {
	font-weight:bold;
	color:#5D73EF;
}
.fonts3 {
	font-weight:bold;
	color:#27BD3F;
}
.fonts4 {
	font-weight:bold;
	color:#EF34CA;
}
.resn {
	font-size:12px;
}
.resg {
	color:green;
	font-weight:bold;
}
.anc {
	color:blue;
	text-decoration:underline;
}
/*==========================================================================================================

	Use for article

===========================================================================================================*/	

span.AA1 {
	font-family: "ＭＳ Ｐゴシック";
	font-size: 12px;
	line-height: 100%;
	display: block;
	text-align: left;
}
span.AA2 {
	font-family: "ＭＳ Ｐゴシック";
	font-size: 16px;
	line-height: 100%;
	display: block;
	text-align: left;
}
span.AA3 {
	font-family: "ＭＳ Ｐゴシック";
	font-size: 8px;
	line-height: 100%;
	display: block;
	text-align: left;
}
span.AA4 {
	font-family: "ＭＳ Ｐゴシック";
	font-size: 14px;
	line-height: 100%;
	display: block;
	text-align: left;
}
/* 椎名追加分 */



.re2 {
	padding-top: 5px;
	padding-left: 10px;
	margin: 5px 0;
	font-size: 18px;
	line-height:160%;
	font-weight: bold;
	color: #3300ff;
	text-align: left;
}
.re3 {
	padding-top: 5px;
	line-height:160%;
	padding-left: 10px;
	margin: 5px 0;
	font-size: 20px;
	font-weight: bold;
	color: #ff0066;
	text-align: left;
}
.re a img, .re2 a img, .re3 a img {
	padding: 0;
	margin: 8px 0;
	text-align: left;
}
/* 椎名追加分 ここまで */

#search_frame {
	visibility: hidden;
}
.aa {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", "Mona", "mona-gothic-jisx0208.1990-0", sans-serif;
	font-size: 16px;
	line-height: 18px;
}
.twitter_tool {
	float:right;
	margin:0 10px 15px 0;
	padding:0;
}
 #example70% {
 zoom: 70%;
}
.sfbtn {
}
.moblogbody, .linkme, .skypeme {
	text-align: center;
}
.afbody {
	padding-bottom: 10px;
	text-align: center;
}
.afbody img {
	margin-bottom: 3px;
}
.photo {
	text-align: center;
}
.nickname {
	padding: 5px 0;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.message {
	height: 130%;
	padding: 10px 0;
	margin-bottom: 10px;
	font-size: 10px;
	text-align: left;
}
.newslist {
	padding: 5px 5px 0 0;
	text-align: left;
}
.blogtimes {
	margin: 10px auto;
	text-align: center;
}
.quotetable {
	width: 170px;
	color: #000;
	background: #000;
}
.quotetable img {
	width: 160px;
	text-align: left;
}
.quote {
	padding: 1px;
	font-size: 12px;
	text-align: left;
	background: #fff;
}
.quote a {
	color: #0f1f3f;
}
.blogbody iframe {
	width: 300px;
	margin: 10px auto;
	text-align: center;
}
a.adurl {
	color: #9a9a9a;
	text-decoration: none;
	text-align: left;
}
span.plat {
	font-size: x-small;
	text-align: left;
}
/* for banner type */

.ad-type-top {
	margin: 10px 40px;
}
.ad-type-bnr {
	margin: 0;
}
.ad-type-bnr .ad-outer {
	zoom: 1;
}
.ad-type-bnr .ad-outer:after {
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
	content: ".";
}
.ad-type-bnr .ad-box {
	float: left;
	width: 49%;
}
.ad-type-bnr .ad-box a span.ad-url {
	margin-left: 10px;
}

/* コメントエリア */

.comment_e {
	color:#0A5299;
	font-size:16px;
	font-weight:bold;
	margin:0 0 15px;
}
.comment_e2 {
	color:#0A5299;
	font-size:16px;
	font-weight:bold;
	margin:0 0 15px;
}
.com_name {
	color:#00FF00;
	font-weight:bold;
}
.comment_area_entry {
	background-color:#FEFEFE;
	border:1px solid #CCCCCC;
	line-height:130%;
	margin:0 auto 20px;
	padding:15px 15px 10px;
	text-align:left;
}
.entry_title {
	background:url("http://jin115.com/title.gif") no-repeat scroll 0 0 transparent;
	font-size:16px;
	font-weight:bold;
	margin-bottom:20px;
	padding:6px 0 6px 32px;
	text-align:left;
}
.entry_title a:link {
	color:#ffffff;
	text-decoration:none;
}
.entry_title a:hover {
	color:#ffffff;
	text-decoration:none;
}
.entry_title a:visited {
	color:#ffffff;
	text-decoration:none;
}
.side_report {
	font-size:12px;
	line-height:140%;
	margin:0;
	text-align:left;
}
.AAA {
	font-family:"ＭＳ Ｐゴシック", "MS PGothic";
	font-size:12px;
	line-height:100%;
	margin:8px 0 0 0;
	padding:0;
}

/* ここまで */

used.banner_f {
    margin: 5px 0 -6px 3px;
}

/* カテゴリ最新記事リストの下「○○の記事一覧」*/

#category-link{
	padding-left:20px;
	padding-top:5px;
	font-size:14px;
}

#category-link a{
	color:#1a7bbc;
	text-decoration:none;
	font-size:14px;
	}


#category-link a:hover{
	text-decoration:underline;
	}

#jin115_ad_b {
    *height: 132px;
    margin: 0px auto 10px;
    padding:0;
    width: 1300px;
}
#jin115_ad_b img {
    width: 1300px;
    height: auto;
}

#jin115_ad_b_left {
    float: left;
    margin: 0;
    padding:0;
    overflow:hidden;
}

#jin115_ad_b_right {
    float: right;
    margin: 0;
    padding:0;
    overflow:hidden;
}

/*

#dummy_left {
    float: left;
    margin-left: -202px;
}

/* 新レイアウトが崩れるため以下idにheight*90pxを指定しました 2011.10 by Yamada */
#dummy_right {
    margin-left: 1182px;
    height:90px;
}

*/

/*　記事本文内テーブルを左揃えに */

body#article_template #container #contents table.article_bodymore,
body#article_template #container #contents table.article_bodymore td{
 text-align:left;
}

/* Amazon Ranking（4列ver）2011.09山田追加分あり */

.amaranktxt1 {
	text-align: left;
	font-size: medium;
	color: #CC0000;
	font-weight: bold;
	margin-top:5px;
}
.amaranktxt2 {
	text-align: left;
	margin-bottom:3px;
	color: black;
	font-weight: bold;
}
p.amathumb1 {
	z-index:1;
	margin-bottom:5px;
	max-height:200px;
	vertical-align: middle;
	line-height:160px;
}
/* rank1の画像サイズをwidth/heightに指定 */
p.amathumb1 a {
	display:inline;
	margin: auto;
	max-width:160px;
	height:160px
	z-index:1;
	vertical-align: middle;
}
/* rank1の画像サイズをwidth/heightに指定 */
p.amathumb1 a img {
	z-index:1;
	max-width:160px;
	max-height:160px;
	margin:auto;
	padding:auto;
	vertical-align: middle;
}
p.amathumb2 {
	float:center;
	margin-bottom:5px;
	margin-top:0;
	vertical-align: middle;
	line-height:160px;
}
/* rank2-5の画像サイズをwidth/heightに指定 */
p.amathumb2 a {
	display:inline;
	margin: auto;
	z-index:1;
	max-width:160px;
	height:160px;
	vertical-align: middle;
}
/* rank2-5の画像サイズをwidth/heightに指定 */
p.amathumb2 a img {
	max-width:160px;
	max-height:180px;
	vertical-align: middle;
	margin:auto;
	padding:auto;
}

.entry_top {
	height:40px;
}


#container #contents .article .ad_amazon table.ad_amazon_rank tbody .amaranktxt1 {
	color:#ba0f0f;
	margin-bottom:3px;
	font-size:120%;
	font-weight:bold;
}
#container #contents .article .ad_amazon table.ad_amazon_rank tbody .amaranktxt2 {
	margin-bottom:3px;
	color: black;
	font-weight: bold;
}

#container #contents .article .ad_amazon table.ad_amazon_rank{
	width:720px;
	border: solid 1px #aaaaaa;
	border-collapse: collapse;
	}

#container #contents .article .ad_amazon table.ad_amazon_rank tbody tr th{
	background-color:#48A2DB;
	color:#ffffff;
	margin:0;
	padding:0;
	border: solid 1px #aaaaaa;
	text-align:center;
	font-weight:bold;
}


#container #contents .article .ad_amazon table.ad_amazon_rank tbody tr td{
	border: solid 1px #aaaaaa;
}

#container #contents .article .ad_amazon table.ad_amazon_rank_sep{
	border-spacing:0;
	margin-bottom: 10px;
	text-align:center;
	}

#container #contents .article .ad_amazon table.ad_amazon_rank_sep tbody tr th,
#container #contents .article .ad_amazon table.ad_amazon_rank_sep tbody tr td{
	margin:0;
	padding:5px 10px 0px 10px;
	width:180px;
	text-align:center;
	border: none;
	border-spacing:0;	
}
		
.rank-item{
	margin-bottom:8px;
	line-height:16px;
	min-height: 180px;
	max-height: 250px;
	}

.pict{
	margin:0;
	padding:0;
	}

.fix_e {
    margin: 0 0 0 -5px;
    padding: 0;
}

/* Amazon Ranking Sidebar */

.rank-item2{
	margin-bottom:8px;
	line-height:16px;
	text-align:center;
	}

p.amathumb_s {
	z-index:1;
	margin-bottom:5px;
	max-height:250px;
	vertical-align: middle;
	line-height:120px;
	text-align:center;
}

.side table.ad_amazon_rank_sep tbody tr th{
    background-color: #48a2db;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
    font-size: 12px;
}

.side table.ad_amazon_rank_sep tbody tr td .rank-item2 {
	max-height:280px;
	min-height:150px;
	}

.side table.ad_amazon_rank_sep tbody tr td .rank-item2 p.amathumb2 a img {	max-height:200px;
	max-width:170px;
		}

#container #contents .article .ad_amazon table.ad_amazon_rank_sep tbody tr td .rank-item2{
	height:250px;
	}

.message-board{
	color:#666666;
	font-size:12px;
	}

.message-board strong{
	color:#666666;
	font-size:12px;
	}

.message-board a,
.message-board a:link,
.message-board a:visited{
	text-decoration:underline;
	}

.message-board a:hover{
	text-decoration:none;
	}

#headline a:hover img,
.ad_amazon a:hover img,
#hot_tweet a:hover img,
#side_right a:hover img,
#side_left a:hover img{opacity:0.6;filter:alpha(opacity=60);-ms-filter: "alpha( opacity=60 )";}

li.clap{
	border: 2px solid #333333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	height:23px;
	padding:10px 10px 7px 5px;
}

li.clap a{
	font-size:16px;
	font-weight:bold;
	}

span.clap{
	padding:0;
	}

table#characters tr td{
	text-align:center;
	width:200px;
	padding:10px 20px;
	vertical-align:bottom;
	}

a:hover img{
opacity:0.8;filter:alpha(opacity=80);-ms-filter: "alpha( opacity=80 )";
}

.index_article_body a img{
	border: 1px solid #000000;
	}


/* blogroll */

.blogroll a{ color:#666;}
.blogroll a:hover{
      text-decoration:underline;
}
.blogroll .blogroll-channel .blogroll-list{
      border-bottom: 1px dashed #CCC;
}
.blogroll {
      overflow-x: hidden;
      overflow-y: scroll;
      background-color:#F5F5F5;
	width:768px;
	height:129px;
	border:1px solid #999;
}
.blogroll .blogroll-channel{
      padding:0 !important;
}
.blogroll .blogroll-link{
      text-decoration:none;
	}

/* ============================
    footer blogroll
   ============================*/

.footer-blogroll{
width:1320px;
height;270px;
margin:0px auto;
padding:10px 0;
background-color:#FFF;
border-left: 1px solid #aaaaaa;
border-right: 1px solid #aaaaaa;
}

.ent_ad_f {
    text-align: center;
}

.ent_ad_md {
    text-align: center;
}

.dix_ad_d {
margin: 0 0 6px 20px;
}

.dix_ad_n {
margin: 6px 0;
}

.center iframe.twitter-tweet-rendered {
margin-left: auto !important;
margin-right: auto !important;
}


li.monthly_rank ul li.cmnt {
margin: 0 0 0 10px;
font-weight:bold;
font-size:12px;
float:right;
}

li.monthly_rank ul li.twtr {
margin: 0 0 0 10px;
font-weight:bold;
font-size:12px;
float:right;
text-decoration:underline;
color:#009999;
background-color:#CCFFFF;
}

li.monthly_rank {
margin: 15px 10px;
border-bottom: 1px solid #BBB;
}

li.monthly_rank span {
float:left;
font-weight:bold;
margin: 0 10px 0 0;
font-size:16px;
}

li.monthly_rank a {
float:left;
font-size:16px;
font-weight:bold;
width: 620px;
}

li.monthly_rank ul {
clear:both;
text-align:right;
}


/* article_footer social btns */
.footer_social_ad { margin-left: 21px; }
.footer_social_ad .ent_ad_f { text-align: left; float:left; }
.footer_social_ad ul.social_links { margin-left: 20px; display: inline-block; }
.footer_social_ad ul.social_links li { margin-bottom: 7px; }

/* gamehard sales numbers */
.gamehard {
	float:left;
	font-size:80%;
	font-weight: bold;
	margin-bottom: 1px;
	padding: 3px 5px;
	font-family: 'Mona', 'mona-gothic-jisx210.199-0', 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W4', 'Hiragino Kaku Gothic Pro', sans-serif;
}
.gamehard_num {
	float:right;
	font-size:80%;
	margin-bottom: 1px;
	padding: 3px 5px;
	font-family: 'Mona', 'mona-gothic-jisx210.199-0', 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W4', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.game_graph {
	width: 154px;
	padding: 0px 5px;
	margin-bottom: 9px;
}

.game_bar {
	display: block;
	background-color: #47A098;
	height: 7px;
}

/*count.jsoonの設定*/
.twitter-share-buttoon iframe {
	width:110px !important;
}