@import url("//fonts.googleapis.com/css?family=Roboto");

@font-face {
	font-family:"Glyphicons Halflings";
	src:url("//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/fonts/glyphicons-halflings-regular.eot");
	src:url("//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
		 url("//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/fonts/glyphicons-halflings-regular.woff") format("woff"), 
		 url("//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/fonts/glyphicons-halflings-regular.ttf") format("truetype"), 
		 url("//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

body {
	overflow-y:scroll;
}

body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:Roboto,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color:#1b7ab5;
}

h1 {
	font-size:21px;
	color:#555555;
	margin:0px 0px 10px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color:#47A4BE;
}

.dropdown-menu {
	max-height:700px;
	min-width:235px;
	overflow:hidden;
	overflow-y:auto;
}

.page-header {
	margin:0px 0px 20px;
}

.panel-default > .panel-heading {
	font-weight:bold;
}

.row {
	padding:0px;
}

.navigation a .glyphicon {
	margin-right:5px;
}

.tooltip-inner {
	white-space:nowrap;
	max-width:none;
}

a.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events:auto;
}

.navbar {
	background-image:-webkit-linear-gradient(#A2DCEA, #47A4BE);
	background-image:-o-linear-gradient(#A2DCEA, #47A4BE);
	background-image:linear-gradient(#A2DCEA, #47A4BE);
}

.navbar-brand {
	font-size:21px;
}

.badge {
	background-color:#47A4BE;
}

.list-group-item {
	padding:10px;
}

.navbar > .glyphicon {
	font-size:12px;
}


.right-inner-addon {
	position:relative;
}

.right-inner-addon input {
	padding-right:30px;		
}

.right-inner-addon i {
	position:absolute;
	right:0px;
	padding:10px 12px;
	cursor:pointer;
}

.pagination {
	margin-left:auto;
	margin-right:auto;
}

.no_overflow {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.scroll-top-wrapper {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
	background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
	visibility:visible;
	cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.g-recaptcha div {
	margin-left:auto;
	margin-right:auto;
}

.g-recaptcha-left div {
	margin-left:0px;
}

.table-striped td {
    vertical-align: middle !important;
}

.downloadstatus {
	width:12px;
	height:12px;
	border-radius:10px;
	border:1px solid rgba(0,0,0,0.25);
	display:inline-block;
	vertical-align:middle;
	margin-right:3px;
}

.downloadstatus-online {
	background-color:#00CC00;
}

.downloadstatus-offline {
	background-color:#FF6600;
}

.downloadstatus-unknown {
	background-color:silver;
}

.grecaptcha-badge {
	display:none;
}