

body {
	margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px;
}
ul, li 
{	
	text-align:left; margin:0px; padding:0px;
}
img {
	border:0px;
}


img, ol, ul, li,
 video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
} 

SELECT {
	border: 1px solid #999a9d;
            
            text-align: center; background-color:#ffffff;
            background: #ffffff; 
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eeeeee)); 
            background: -webkit-linear-gradient(#ffffff, #eeeeee); 
            background: -moz-linear-gradient(#ffffff, #eeeeee); 
            background: -ms-linear-gradient(#ffffff, #eeeeee); 
            background: -o-linear-gradient(#ffffff, #eeeeee); 
            background: linear-gradient(#ffffff, #eeeeee); 
            -pie-background: linear-gradient(#ffffff, #eeeeee); 
			font-family:Arial, Helvetica, sans-serif; 
			font-weight: normal; 			
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: #aaaaaa 0px 2px 3px;
            -moz-box-shadow: #aaaaaa 0px 2px 3px; 
            box-shadow: #aaaaaa 0px 0px 3px;
			clear:left; 
			font-size:10px; 
			color:#000000; 
			text-align:left; 
			height:18px;
}
/* Buttons Starts */

a {
	 -webkit-transition:all 0.5s ease;
	 -moz-transition:all 0.5s ease;
	 -o-transition:all 0.5s ease;
	 -ms-transition:all 0.5s ease;
	 transition:all 0.5s ease;	 
}
a:hover {
	 -webkit-transition:all 0.5s ease;
	 -moz-transition:all 0.5s ease;
	 -o-transition:all 0.5s ease;
	 -ms-transition:all 0.5s ease;
	 transition:all 0.5s ease;	
}




