.add-block {
    margin:0px auto;
    padding: 3px;
    background-color: #bb2224;
    color: #fff;
}

    .add-block a {
        color: #fff;
        font-size: 14px;
        font-family: arial !important;
        line-height: 18px; margin-right:15px; font-weight:normal;
    }
        .add-block a:hover {
            color: #f0ff00; text-decoration:none;
        }








.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 5px !important;
	list-style: none;	
	border-radius: 4px;
	background-color: #fff !important;
}
.breadcrumb>li {
	display: inline-block; font-size:20px;
}
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0"
}
.breadcrumb>.active {
	color: #777
}


.white, white a {
	color:#fff;
}


a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}

.telugu-font {
	font-family:Jyothi_ie,Jyothi;
}

.margin-top {
	margin-top:10px;
}

.square-add {
	width:100%; float:left;
}
.telugu-font {
	font-family:Jyothi_ie,Jyothi;
}

.english-font {
	font-family:Verdana, Geneva, sans-serif; font-size:8px;
}
.grey-bg {
	width:100%; background-color:#eff0f3; padding-bottom:10px; padding-top:10px;
}
/* Margin Paddings Starts */
.padd-left {
	padding-left:10px;
}
.padd-left-resp {
	padding-left:0px;
}
/* Margin Paddings Ends */












	
@media (min-width:768px) and (max-width:992px) {
.padd-left {
	padding-left:0px; float:left; width:100%;
}
.padd-left-resp {
	padding-left:10px; float:left; width:100%;
}
.center-content {
	background-color: #fff; width:100%;
	padding:5px; float:left; min-height:auto;
}
.heights {
	min-height:500px;
}
.padd-left-resp-right {
	padding-left:0px; float:left; width:100%;
}

}

@media (min-width:992px) {
.padd-left {
	padding-left:10px; float:left; width:100%;
}
.heights {
	min-height:1635px;
}
.padd-left-resp-right {
	padding-left:10px; float:left; width:100%;
}
.pad-sm-0 {
        padding-left: 0px !important; padding-right:0px !important;
    }

}

@media (max-width:767px) {

.heights {
	min-height:500px;
}
.padd-left-resp-right {
	padding-left:0px; float:left; width:100%;
}
.padd-left {
	padding-left:0px; float:left; width:100%;
}
.padd-left-resp {
	padding-left:0px; float:left; width:100%;
}
.center-content {
	background-color: #fff; width:100%;
	padding:5px; float:left; min-height:auto;
}

    .pad-sm-0 {
        padding-left: 0px !important; padding-right:0px !important;
    }

}