a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}




/* Header Part Starts */
.top-block-I {
	background-color:#122b44; background-image:url(http://cdn1.andhrajyothy.com/images/Top-scroll-bg.jpg); background-position:top center; height:29px; vertical-align:middle; color:#ffffff; background-repeat:no-repeat; font-family:Jyothi_ie,Jyothi; font-size:20px; text-align:center;
}


.top-block-II {
	background-color:#3aa7c8; background-image:url(http://cdn1.andhrajyothy.com/images/Top-link-bg.jpg); background-position:top center; height:25px; vertical-align:middle; color:#ffffff; background-repeat:no-repeat; font-family:Jyothi_ie,Jyothi; font-size:20px; text-align:center;
}

.icons {
	width:100%; float:left;
}
.icons ul li {
	list-style-type:none; display:inline;
}
.icons ul li a img {
	border:0px; display:inline;
}
.icons ul li a:hover img {
	opacity:.9;
}

.top-sub-menu ul li {
	text-align:center; list-style-type:none; display:inline; margin-top:2px; float:left;
}
.top-sub-menu ul li a {
	padding:3px; padding-left:10px; padding-right:14px; color:#fff; text-decoration:none; font-family:Verdana, Geneva, sans-serif; font-size:13px; display:block;
}
.top-sub-menu ul li a:hover {
	 color:#000; text-decoration:none; background-color:#fff;
}
.date {
	font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#FFF; margin-top:4px;
}



.abn-scroll {
	background-image:url(http://cdn1.andhrajyothy.com/images/Top-ABN-Scroll-BG.jpg); display:block; background-position:top center; padding-bottom:2px; vertical-align:top; padding-top:2px;	
}
.abn-scroll-logo {
	width:207px; height:32px; overflow:hidden; float:left;
}
.abn-scroll-raasi {
	width:168px; height:32px; overflow:hidden; float:right;
}
.abn-scroll-block {
	background-color:#184387; height:32px; background-image:url(http://cdn1.andhrajyothy.com/images/abn-scroll-bg.jpg); background-position:top; border-top:0px #fff solid; border-bottom:0px #fff solid; float:left; font-family:Jyothi_ie,Jyothi; font-size:23px; text-align:left; color:#fff;
}





/* Header Part Ends */

.grey-bg {
	width:100%; background-color:#eff0f3; padding-bottom:10px;
}
.wht-bg {
	width:100%; background-color:#fff; padding-bottom:10px;
}

.telugu-font {
	font-family:Jyothi_ie,Jyothi;
}


/* Margin Paddings Starts */
.margin-top {
	margin-top:10px;
}
.padd-left {
	padding-left:10px;
}
.padd-left-resp {
	padding-left:0px;
}
/* Margin Paddings Ends */



/* Main News Starts */
.main-news {
	border:1px #a2a2a2 solid; float:left;
}
.main-news p {
	background-color:#ff9600; padding:7px; font-size:24px; color:#fff; font-weight:normal; margin:0px;
}
.main-news ul li {
	border-bottom:1px #cecece solid; float:left; list-style-type:none; width:100%; padding-right:3px;
}
.main-news ul li a {
	background-image:url(http://cdn1.andhrajyothy.com/images/red-arrow.png); padding-left:12px; background-position:top left; background-repeat:no-repeat;
	 font-size:21px; color:#3b6fae;  text-decoration:none; display:block; padding-bottom:5px; padding-top:5px; line-height:21px;
}
.main-news ul li a:hover {
	 background-image:none; text-decoration:none; display:block; background-color:#ffecd9; color:#000000; 
}
/* Main News Ends */


/* Andhra Pradesh Block Starts */
.block {
	background-color:#ffffff; border:1px #dadadc solid; border-bottom:2px #f0c8c9 solid; float:left; width:100%; padding:5px; float:left; 
}
.block h1 {
	background-color:#f53801; padding:4px; padding-bottom:2px; padding-top:2px; font-family:Jyothi_ie,Jyothi; font-size:27px; color:#fff; vertical-align:middle; margin:0px;
}
.block p {
	color:#f5261f; padding-bottom:4px; line-height:18px; font-size:200%; padding-left:12px; padding-right:12px; padding-top:6px; float:left; margin:0px; border-bottom:2px #f5261f solid; width:73%; margin-bottom:5px;
}
.block span a {
	float:right; font-size:12px; padding-bottom:6px; color:#000000; display:block; padding-left:6px; padding-right:6px; width:27%; border-bottom:2px #f5261f solid; text-align:right; padding-top:8px;
}
.block span a:hover {
	color:#ffffff; background-color:#F00; text-decoration:none;
}
.block ul 
{
    width:100%; float:left;
    
}
.block ul li {
	border-bottom:1px #cecece solid; display:block; float:left; width:100%;
}
.block ul li a {
	background-image:url(http://cdn1.andhrajyothy.com/images/red-arrow.jpg); padding-left:12px; background-position:top left; background-repeat:no-repeat; height:51px;
	 font-size:21px; color:#3b6fae;  text-decoration:none; display:block; padding-bottom:5px; padding-top:5px; line-height:21px;
}
.block ul li a:hover {
	 font-size:21px; background-image:none; color:#ff0000; line-height:22px;  text-decoration:none; display:block; background-color:#ffecd9; color:#000000; padding-left:5px;
}
.block-article {
	width:100%; float:left;
}
.block-article a {
	width:100%; float:left; text-decoration:none; display:block;
}
.block-article a img {
	width:100%; display:block; float:left;
}
.block-article a span {
	  font-size:21px;font-weight:normal; width:100%; background-color:#ffffff; color:#ff0000; line-height:22px; float:left; padding-top:4px; padding-left:5px; float:left; padding-top:3px; height:49px;
}
.block-article a:hover span {
	background-color:#fff8ef; color:#0098d7;
}

/* Andhra Pradesh Block Ends */	


/* Mukhyam Block Starts */
.mukhyam-block {
	background-color:#ffffff; border:1px #dadadc solid; border-bottom:2px #f0c8c9 solid; float:left; width:100%; padding:2px; float:left; 
}
.mukhyam-block h1 {
	background-color:#f53801; padding:4px; padding-bottom:2px; padding-top:2px; font-family:Jyothi_ie,Jyothi; font-size:27px; color:#fff; vertical-align:middle; margin:0px;
}


.more-block ul li {
	border-bottom:1px #cecece solid; display:block; float:left; width:100%;
}
.more-block ul li a {
	background-image:url(http://cdn1.andhrajyothy.com/images/red-arrow.jpg); padding-left:12px; background-position:top left; background-repeat:no-repeat; height:auto;
	 font-size:21px; color:#3b6fae;  text-decoration:none; display:block; padding-bottom:5px; padding-top:5px; line-height:21px;
}
.more-block ul li a:hover {
	 background-image:none; color:#ff0000; line-height:22px;  background-color:#ffecd9; color:#000000; padding-left:5px;
}


.mukhyam-main-article ul li {
	list-style-type:none; float:left;
}
.mukhyam-main-article ul li p {
	font-size:24px; width:100%; background-color:#ffe6ae; color:#000; list-style-type:none; margin-top:5px; margin:0px;
}
.mukhyam-main-article ul li p a {
	display:block; padding:4px; color:#000; border-bottom:1px #fff solid; padding-top:6px; padding-bottom:4px; list-style-type:none; font-size:20px;
}
.mukhyam-main-article ul li p a:hover {
	background-color:#fff; color:#f53801; border-bottom:1px #f53801 solid; text-decoration:none;
}
.mukhyam-main-article img {
	margin:3px 5px 3px 0px; float:left;
}
.mukhyam-main-article span {
	text-align:left; font-size:19px; color:#000; margin-top:20px; line-height:20px;
}


.mukhyam-add {
    widht;
}
/* Mukhyam Block Starts */


.square-add {
	width:100%; float:left;
}
	


/* Navya Block Starts */
.navya-block {
	background-color:#3d5770; display:block; padding:5px; overflow:hidden; float:left; min-height:445px;
}
.navya-block p {
	background-image:url(http://cdn1.andhrajyothy.com/images/Navya-Logo.png); background-color:#3d5770; height:65px; background-position:left top; background-repeat:no-repeat; margin:0px; padding:0px; width:73%; float:left;
}
.navya-block span a {
	float:right; font-size:12px; color:#fff; display:block; padding-right:10px; width:27%; text-align:right; padding-top:8px; height:30px; font-family:Jyothi_ie,Jyothi;
}
.navya-block span a:hover {
	color:#980202; background-color:#fff; text-decoration:none;
}
.navya-block ul {
	width:100%; float:left;
}
.navya-block ul li {
	width:100%; float:left; margin-bottom:10px; list-style-type:none; margin-top:10px;
}
.navya-block ul li a img {
	height:69px; text-decoration:none; display:block; float:left; margin-right:6px; border:1px #fff solid;
}
.navya-block ul li a {
	font-family:Jyothi_ie,Jyothi; font-size:21px; height:69px; font-weight:normal; color:#fff; line-height:19px; text-decoration:none; width:100%; float:left;
}
.navya-block ul li a:hover {
	background-color:#F90; color:#000; text-decoration:none;
}
.navya-block ul li a span {
	line-height:19px; vertical-align:bottom; height:69px; padding-top:5px; display:block; float:none;
}

/* Navya Block Ends */





/* Cinema Block Starts */
.cinema-block {
	width:100%; float:left;
}
.cinema-block p {
	background-image:url(http://cdn1.andhrajyothy.com/images/Cinema-Icon.jpg); background-position:left top; padding-bottom:5px; vertical-align:middle; padding-left:45px; height:37px; background-repeat:no-repeat; color:#577700; border-bottom:3px #93d800 solid; font-size:24px; font-weight:normal; padding-top:9px; display:block; margin:0px; width:73%; float:left;
}
.cinema-block span a {
	padding-bottom:5px; vertical-align:middle; padding-left:45px; height:37px; color:#000; border-bottom:3px #93d800 solid; font-size:22px; font-weight:normal; padding-top:9px; display:block; margin:0px; width:27%; float:left; text-align:right; padding-right:5px;
}
.cinema-block span a:hover {
	color:#ffffff; background-color:#F00; text-decoration:none;
}

.cine-prim-art a {
	width:100%; float:left; display:block; text-decoration:none;
}
.cine-prim-art a img {
	width:100%;
}
.cine-prim-art a span {
	background-color:#ffd6b2; display:block; font-size:21px; color:#000000; padding-top:5px; line-height:22px; text-align:center; text-decoration:none;
}
.cine-prim-art a:hover span {
	background-color:#b1e346; text-decoration:blink;
}
.cine-gal {
	width:100%; 
}
.cine-gal ul li {
	width:100%; float:left; margin-bottom:10px; list-style-type:none; background-color:#f6f6f6;
}
.cine-gal ul li a img {
	height:57px; text-decoration:none; display:block; float:left; margin-right:6px;
}
.cine-gal ul li a {
	font-family:Jyothi_ie,Jyothi; font-size:21px; height:57px; font-weight:normal; background-color:#f6f6f6; color:#d38f0a; line-height:19px; text-decoration:none; width:100%; float:left;
}
.cine-gal ul li a:hover {
	background-color:#b1e346; color:#ffffff; text-decoration:none;
}
.cine-gal ul li a span {
	line-height:19px; vertical-align:bottom; height:57px; padding-top:5px; display:block; float:none;
}
/* Cinema Block Ends */


/* Photo Gallery Block Starts */
.photo-gal {
	width:100%; float:left;
}
.photo-gal p {
	background-image:url(http://cdn1.andhrajyothy.com/images/Photo-Icon.jpg); background-position:left top; padding-bottom:5px; vertical-align:middle; padding-left:45px; height:37px; background-repeat:no-repeat; color:#ff6700; border-bottom:3px #ff6700 solid; font-size:24px; font-weight:normal; padding-top:9px; display:block; margin:0px; width:73%; float:left;
}
.photo-gal span a {
	padding-bottom:5px; vertical-align:middle; padding-left:45px; height:37px; color:#000; border-bottom:3px #ff6700 solid; font-size:22px; font-weight:normal; padding-top:9px; display:block; margin:0px; width:27%; float:left; text-align:right; padding-right:5px;
}
.photo-gal span a:hover {
	color:#ffffff; background-color:#F00; text-decoration:none;
}
.photo-gal-img ul {
	 border:1px #ff0000 solid;
}
.photo-gal ul li {
	float:left; display:inline; margin:0 auto; text-align:center; margin-top:5px; margin-left:0px; list-style-type:none; 
}
.photo-gal ul li a {
	width:100%; background-color:blueviolet; text-decoration:none;
}
.photo-gal ul li a img {
	float:none; width:100%; text-align:center; margin:0 auto; text-align:center;
}
.photo-gal ul li a span  {
	background-color:#FFF; color:#00a4e8; display:block; width:100%; font-size:22px; height:45px; text-align:center; text-decoration:none; padding-top:5px; line-height:20px; float:none; margin:0 auto;
}
.photo-gal ul li a:hover span  {
	list-style-type:none; background-color:#ff6700; color:#ffffff; text-align:center; text-decoration:none;
}

/* Photo Gallery Block Ends */



/* Editors Block Starts */
.editor-block {
	border:1px #ececec solid; background-color:#FFF; padding:3px; width:100%;
}
.editor-block p {
	padding:5px; border-bottom:2px #fd7100 solid; color:#fd7100; width:100%; font-size:25px; padding-top:10px; margin:0px;
}
.editor-block-cont {
	min-height:183px; vertical-align:top; font-size:20px; line-height:18px; padding-top:5px; width:100%;
}
.editor-block-cont img {
	margin-right:5px;
}
/* Editors Block Ends */


/* Business Block Starts */

.business-block {
	width:100%; float:left; border-top:8px #abda1e solid; background-color:#FFF; padding:4px;
}

.Tech-block {
	border-top:8px #fbc030 solid;
}

.tech-block-main a {
	width:100%; float:left; display:block; text-decoration:none; background-color:#fdead1; text-align:center; padding:5px;
}
.tech-block-main a:hover {
	background-color:#e6e6e6;
}

.business-block p {
	padding-bottom:0px; vertical-align:middle; padding-left:10px; padding-top:7px; color:#577700; font-size:24px; font-weight:normal; display:block; margin:0px; float:left; width:73%; padding-bottom:5px;
}
.business-block span a {
	padding-bottom:0px; vertical-align:middle; padding-left:10px; padding-top:7px; color:#577700; font-size:22px; font-weight:normal; display:block; margin:0px; width:27%; padding-bottom:5px; float:left; text-align:right; padding-right:5px;
}
.business-block span a:hover {
	color:#ffffff; background-color:#F00; text-decoration:none;
}












.business-block-main a {
	width:100%; float:left; display:block; text-decoration:none; background-color:#f2fecc; text-align:center; padding:5px;
}
.business-block-main a img {
	width:100%;
}
.business-block-main a:hover {
	background-color:#e6e6e6;
}

.business-block-news {
	width:100%; float:left;
}
.business-block-news ul li {
	width:100%; float:left; margin-bottom:9px; list-style-type:none; border-bottom:1px #dedede solid;
}
.business-block-news ul li a {
	font-size:21px; width:100%; font-weight:normal; background-color:#ffffff; color:#11498d; line-height:19px; float:left; padding-top:6px; padding-left:5px;
}
.business-block-news ul li a:hover {
	font-size:21px; font-weight:normal; background-color:#f2ffd8; color:#ff0000; line-height:19px; float:left; padding-top:6px; padding-left:5px; text-decoration:none; width:100%;
}

/* Business Block Ends */


/* Cooking Starts */

.Cooking-block {
	background-color:#ffffff; border:1px #dadadc solid; border-bottom:2px #f0c8c9 solid; float:left; width:100%; padding:5px; float:left; 
}
.Cooking-block p {
	color:#fff; padding-bottom:4px; font-size:200%; padding-left:12px; padding-right:12px; padding-top:10px; float:left; margin:0px; width:73%; margin-bottom:5px; background-color:#e00000; float:left;
}
.Cooking-block span a {
	float:right; font-size:12px; padding-bottom:6px; color:#fff; display:block; padding-left:6px; padding-right:6px; width:27%; background-color:#e00000; text-align:right; padding-top:8px;
}
.Cooking-block span a:hover {
	color:#ff0000; background-color:#d9d9d9; text-decoration:none;
}


.Cooking-article a {
	width:100%; float:left; text-decoration:none; display:block;
}
.Cooking-article a img {
	width:100%; display:block; float:left;
}
.Cooking-article a span {
	  font-size:21px;font-weight:normal; width:100%; background-color:#ffffff; color:#ff0000; line-height:22px; float:left; padding-top:4px; padding-left:5px; float:left; padding-top:3px; height:54px; text-align:center;
}
.Cooking-article a:hover span {
	background-color:#e00000; color:#fff;
}
/* Cooking Ends */

/* epaper Starts */
.epaper-article {
	width:100%; text-align:center; padding-bottom:8px; float:left; min-height:215px;
}
.epaper-article a {
	margin-right:10px; float:left; text-decoration:none; display:block; text-align:center;
}
.epaper-article a img {
	display:block; float:none; margin:0 auto; width:100%;
}
.epaper-article a:hover img {
	display:block; float:left; border:2px #ff0000 solid;
}
/* epaper Ends */


.video-block {
	border:1px #e30303 solid; padding:3px; float:left; 
}

.video-block p {
	color:#f5261f; padding-bottom:4px; line-height:18px; font-size:200%; padding-left:35px; padding-right:12px; padding-top:6px; float:left; margin:0px; border-bottom:2px #f5261f solid; width:80%; margin-bottom:5px; background-image:url(http://cdn1.andhrajyothy.com/images/Video-Icon.jpg); background-repeat:no-repeat; background-position:left;
}
.video-block span a {
	float:right; font-size:12px; padding-bottom:6px; color:#000000; display:block; padding-left:6px; padding-right:6px; width:20%; border-bottom:2px #f5261f solid; text-align:right; padding-top:8px;
}
.video-block span a:hover {
	color:#ffffff; background-color:#F00; text-decoration:none;
}

.video-block ul {
	width:100%; float:left;
	
}
.video-block ul li {
	float:left; display:inline; margin:0 auto; text-align:center; margin-top:5px; margin-left:0px;
}
.video-block ul li a {
	width:95%;
}
.video-block ul li a img {
	float:none; width:98%; text-align:center; margin:0 auto; text-align:center;
}
.video-block ul li a span  {
	background-color:#FFF; color:#00a4e8; display:block; width:98%; height:80px; text-align:center; text-decoration:none; padding-top:5px; float:none; margin:0 auto;
}
.video-block ul li a:hover span  {
	list-style-type:none; background-color:#ff6700; color:#ffffff; height:80px; text-align:center; text-decoration:none; padding-top:5px;
}	


.cartoon-text {
	font-size:21px; line-height:22px;
}

.footer {
	background-color:#0080b1; padding:6px;
}
.footer p {
	color:#ffffff; border-bottom:2px #fff solid; font-weight:normal; font-size:14px; font-family:Verdana, Geneva, sans-serif; padding:6px; text-align:left; margin:0px; padding-left:3px; margin-bottom:8px;
}

.footer h1 {
	color:#ffffff; border-bottom:1px #4ba6c9 solid; font-weight:normal; font-size:13px; font-family:Verdana, Geneva, sans-serif; padding:6px; text-align:left; padding-left:5px; margin:0px;
}

.footer ul li {
	border-bottom:1px #4ba6c9 solid; padding-bottom:0px; padding-top:0px; text-align:left; color:#FFF; list-style-type:none;
}
.footer ul li a {
	font-size:21px; font-weight:normal; color:#fff; line-height:18px; display:block; padding:5px; padding-top:8px;
}
.footer ul li a:hover {
	background-color:#fff; color:#0080b1; text-decoration:none;
}

.footer icons {
	padding-bottom:0px; padding-top:0px; text-align:left; color:#FFF; list-style-type:none; display:inline;
}
.footer icons a img {
	font-size:21px; font-weight:normal; color:#fff; line-height:18px; display:block; padding:5px; padding-top:8px; width:20%;
}
.footer icons a:hover img {
	background-color:#fff; color:#0080b1; text-decoration:none;
}


.footer ol li {
	border-bottom:1px #4ba6c9 solid; padding-bottom:0px; padding-top:0px; text-align:left; color:#FFF; list-style-type:none;
}
.footer ol li a {
	font-size:14px; font-weight:normal; color:#fff; line-height:18px; display:block; padding:5px; padding-top:8px;
}
.footer ol li a:hover {
	background-color:#fff; color:#0080b1; text-decoration:none;
}


@media (min-width:768px) and (max-width:992px) {
    .menu-top {
        margin-top: 5px;
    }
.padd-left {
	padding-left:0px;
}
.padd-left-resp {
	padding-left:10px;
}
}

@media (min-width:992px) {
    .menu-top {
        margin-top: 0px;
    }
.padd-left {
	padding-left:10px;
}
}

@media (max-width:767px) {
 .menu-top {
        margin-top: 5px;
    }
.padd-left {
	padding-left:0px;
}
.padd-left-resp {
	padding-left:0px;
}
}