img, ol, ul, li,
 video {
  margin:0;
  padding:0;
  border:0;
}                  



/* Ticker Styling */
.ticker-wrapper.has-js {
	
	width: 768px;
	height: 32px;
	display: block;
	font-size: 0.75em;
}
.ticker {
	width: 682px;
	height: 32px;
	display: block;
	position: relative;
	overflow: hidden;
	background-image:url(../images/abn-scroll-bg.jpg);
    font-family: Jyothi_ie,Jyothi;
}
.ticker-title {
	padding-top:2px;
	color: #ffffff;
	font-weight: bold;
	background-image:url(../images/abn-scroll-bg.jpg);
    font-family: Jyothi_ie,Jyothi;
	text-transform: uppercase;
}
.ticker-content {
	margin: 0px;
	padding-top: 2px;
	position: absolute;
	color: #ffffff;
	font-weight: normal;
	background-image:url(../images/abn-scroll-bg.jpg);
    font-family: Jyothi_ie,Jyothi;
	overflow: hidden; font-size:24px;
	white-space: nowrap;
	line-height: 1.2em;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	color: #1F527B;
}
.ticker-content a:hover {
	text-decoration: underline;
    font-family: Jyothi_ie,Jyothi;	
	color: #0D3059;
}
.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-image:url(../images/abn-scroll-bg.jpg);
    font-family: Jyothi_ie,Jyothi;
	display: block;
	width: 788px;
	height: 32px; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-image:url(../images/abn-scroll-bg.jpg);
    font-family: Jyothi_ie,Jyothi;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
    font-family: Jyothi_ie,Jyothi;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
.ticker-controls li.jnt-play-pause {
	background-image: url('controls.png');
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('controls.png');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('controls.png');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('controls.png');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}

.news-item {
    font-family: Jyothi_ie,Jyothi; font-size:20px;
}