/* CMS by http://pyxol.com/ */

/* @20160816 - New Menu */
#new_header_menu { display: block; margin: auto 64px auto 90px; font-family: f700 !important; font-size: 13px; color: #bbb; text-align: left; }
	#new_header_menu.inactive { display: none; }
.header_menu_items { display: table; width: 100%; }
	.header_menu_items > li { list-style: none; margin: 0; padding: 0; display: inline-block; position: relative; }
		.header_menu_items > li > .menu_item_anchor { display: inline-block; color: #bbbbbb; padding: 0 8px; }
			.header_menu_items > li:hover > .menu_item_anchor { color: #ffffff; }
			.header_menu_items > li > .menu_item_anchor .icon { margin-right: 7px; top: 2px; display: inline-block; }
			.header_menu_items > li:hover > .menu_item_anchor { box-shadow: 0 -5px 0 #c8a600 inset; }

.header_menu_items > li > ul.children { display: none; background: #ffffff; list-style-type: none; width: auto; min-width: 144px; height: auto; border-radius: 4px; box-shadow: 0 3px 8px rgba(0,0,0,.24); padding: 10px; position: absolute; z-index: 50; top: 90%; left: -10px; }
	.header_menu_items > li > ul.children:after { bottom: 100%; left: 28px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(136, 183, 213, 0); border-bottom-color: #fff; border-width: 8px; margin-left: -8px; }
	.header_menu_items > li.has_children:hover > ul.children { display: block; }
	.header_menu_items > li > ul.children > li { position: relative; display: block; list-style: none; margin: 0; padding: 0; font-size: 13px; line-height: 30px; }
		.header_menu_items > li > ul.children > li > .child_item_anchor { display: block; color: #666; border-radius: 3px; padding: 0 8px; border-radius:3px; }
			.header_menu_items > li > ul.children > li > .child_item_anchor:hover { color: #ffffff; }
			.header_menu_items > li > ul.children > li > .child_item_anchor .icon { margin-right: 7px; top: 2px; display: inline-block; }
			.header_menu_items > li > ul.children > li > .child_item_anchor:hover { background: #c8a600; }

.header_menu_items ul.children > li > ul.children { display: none; position: absolute; z-index: 60; top: 0; left: 134px; background: #ffffff; list-style: none; width: auto; min-width: 144px; height: auto; border-radius: 4px; box-shadow: 0 3px 8px rgba(0,0,0,.24); padding: 10px; }
	.header_menu_items ul.children > li > ul.children:after { top: 10px; right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(136, 183, 213, 0); border-right-color: #fff; border-width: 8px; margin-left: -8px; }
	.header_menu_items ul.children > li.has_children:hover > ul.children { display: block; }
	.header_menu_items ul.children > li > ul.children > li { position: relative; display: block; list-style: none; margin: 0; padding: 0; font-size: 13px; line-height: 30px; }
		.header_menu_items ul.children > li > ul.children > li > .grandchild_item_anchor { display: block; color: #666; border-radius: 3px; padding: 0 8px; border-radius:3px; }
			.header_menu_items ul.children > li > ul.children > li > .grandchild_item_anchor:hover { color: #ffffff; }
			.header_menu_items ul.children > li > ul.children > li > .grandchild_item_anchor .icon { margin-right: 7px; top: 2px; display: inline-block; }
			.header_menu_items ul.children > li > .grandchild_item_anchor:hover { background: #c8a600; }

#new_header_menu .menu_dropdown { display: inline-block; }
	.menu_dropdown > .expand_nav { padding: 0 12px; }
	.menu_dropdown .dropdown_list { display: none; background: #ffffff; list-style-type: none; width: auto; min-width: 144px; height: auto; border-radius: 4px; box-shadow: 0 3px 8px rgba(0,0,0,.24); padding: 10px; position: absolute; z-index: 50; top: 90%; left: -10px; }
		.menu_dropdown .dropdown_list:after { bottom: 100%; left: 28px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(136, 183, 213, 0); border-bottom-color: #fff; border-width: 8px; margin-left: -8px; }
	.menu_dropdown.active_dropdown .dropdown_list, .menu_dropdown:hover .dropdown_list { display: block; }
		.menu_dropdown .dropdown_list li { position: relative; display: block; list-style: none; margin: 0; padding: 0; font-size: 13px; line-height: 30px; }
		.menu_dropdown .dropdown_list li .dropdown_item_anchor { display: block; color: #666; border-radius: 3px; padding: 0 8px; border-radius:3px; }
			.menu_dropdown .dropdown_list li .dropdown_item_anchor:hover { color: #ffffff; }
			.menu_dropdown .dropdown_list li .icon { margin-right: 7px; top: 2px; display: inline-block; }
			.menu_dropdown .dropdown_list li .dropdown_item_anchor:hover { background: #c8a600; }

/* menu cleanup before JS processes */
#new_header_menu .header_menu_items > li.hide_before { display: none; }

.form_container .error { color: #ff0000; font-weight: bold; }
.form_container .success { color: #00ff00; font-weight: bold; }

.center_block { text-align: center; }
.media_below_container { background: #ffffff; padding: 5px; margin-bottom: 8px; }

/* hide menu items based on window size */
.pages.unprocessed_menu a.hide_before {display:none;}
.mo-item6, .mo-item7, .mo-item8, .mo-item9, .mo-item10, .mo-item11, .mo-item12, .mo-item13{display:block}

.header .pages { display: block; }

.header, .header > .wrap { line-height: 53px; }
.footer p { display: block; text-align: center; margin-bottom: 3px; }
	.footer p:last-child { margin-bottom: 0; }

.owl { display: block; }
	a.owl img { border: 0; }

.efukt-widget { background-color: #ffffff; max-height: 122px; overflow-y: hidden; }
	.efukt-widget .meta .title a { text-decoration: underline; }

.cat_pulldown li.selected { background-color: rgba(0, 0, 0, 0.2); color: #fff !important; }

.page_content {
	background-color: #fafafa;
	padding: 12px;
	margin: 8px auto;
}
	.page_content .page_title { font-weight: bold; font-size: 24px; line-height: 28px; }
	.page_content p { margin: 8px 0; }
	.page_content a { color: #080808; font-weight: bold; }
		.page_content a:hover { color: #666; }
	.page_align_center { text-align: center; }

.hardlinks { font-size: 11px; }

.search_limit_timespans { list-style: none; display: block; text-align: center; margin: 0 auto; padding: 0; }
	.search_limit_timespans li { list-style: none; display: inline-block; margin: 0 3px; padding: 0; }
		.search_limit_timespans li.title { font-weight: bold; font-size: 20px; line-height: 28px; }
		.search_limit_timespans li a { display: inline-block; border: 1px solid #000; padding: 4px 6px; font-weight: bold; font-size: 18px; line-height: 28px; }
			.search_limit_timespans li.active a { color: #f00; }

.full_search_form {  }
	.full_search_form input, .full_search_form select { vertical-align: top; font-size: 14px; line-height: 22px; height: 28px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	.full_search_form input[type='text'] { margin-right: 5px; padding: 2px 5px; }
	.full_search_form select { margin-right: 5px; padding: 3px 10px; }
	.full_search_form input[type='submit'], .full_search_form input[type='button'] { font-weight: bold; }

.tiles .tile .meta .hilight strong { font-weight: inherit !important; background-color: #ffe500; }

.gallery a { vertical-align: top; }
.content-video .gallery a img { height: 100px; }
.content-gif .imageview img { width: auto; max-width: 72%; }
.content_comments { background: #fff; padding: 16px; margin-bottom: 8px; }
	.content_comments .load_comments { width: 100%; max-width: 320px; padding: 12px 24px; border: 1px solid #c0c0c0; max-width: calc(320px - 24px - 24px - 2px); box-shadow: 0 0 0 transparent; background-color: #f0f0f0; font-weight: bold; cursor: pointer; display: block; color: #000000; margin: 0 auto; font-size: 13px; line-height: normal; font-family: Arial; }
.prepend_external_block { text-align: center; margin-bottom: 8px; }
.mobile_header_external_container { width: 90%; background: #ffffff; margin: 0 auto 8px auto; }
.tile .thumb { border: 1px solid #000000; top: 7px; height: auto; }
	.tile .thumb img { display: block; }
.tile .desc { max-height: 42px; font-size: 12px; line-height: 14px; }
	.tile .desc a { font-weight: bold; }

.image_viewer { display: block; position: relative; background-color: #000; margin-bottom: 8px; text-align: center; }
	.image_viewer.has_pager.has_pager_next { padding-left: 64px; }
	.image_viewer.has_pager.has_pager_prev { padding-right: 64px; }
	.iamge_viewer .image_anchor { display: block; width: 100%; text-align: center; }
	.image_viewer .image_content { display: block; max-width: 100%; height: auto; margin: 0 auto; }
	.image_viewer .image_pager { display: none; position: absolute; top: 0; bottom: 0; width: 64px; text-align: center; cursor: pointer; color: #666666; }
		.image_viewer .image_pager .fa { width: 100%; height: auto; font-size: 18px; line-height: 18px; text-align: center; position: absolute; top: 50%; margin-top: -9px; left: 0; }
			.image_viewer .image_pager:hover { color: #f0f0f0; }
		.image_viewer .image_pager.image_pager-next { left: 0; }
		.image_viewer .image_pager.image_pager-prev { right: 0; }
		.image_viewer.has_pager.has_pager_next .image_pager.image_pager-next { display: block; }
		.image_viewer.has_pager.has_pager_prev .image_pager.image_pager-prev { display: block; }
	.image_viewer .image_counter { display: none; padding: 3px 0; text-align: center; font-size: 11px; line-height: 11px; font-weight: bold; color: #ffffff; }
		.image_viewer.has_counter .image_counter { display: block; }

@media screen and (max-width: 480px) {
	.image_viewer.has_pager.has_pager_next { padding-left: 32px; }
	.image_viewer.has_pager.has_pager_prev { padding-right: 32px; }
	.image_viewer .image_pager { width: 32px; }
}

@media screen and (min-width: 481px) {
	.tile .thumb img { max-height: 100px; }
}

.imageview .title { margin-bottom: 6px; }
.imageview .desc { margin: 0 6px 12px 6px; }
	.imageview .desc a { color: #080808; font-weight: bold; }
		.imageview .desc a:hover { color: #666; }

.gallery_container { background-color: #fff; padding: 12px 0; margin-bottom: 8px; }
.gallery_container > .title { margin: 0 6px; font-size: 32px; line-height: 40px; }
.gallery_container .desc { margin: 0 6px 12px 6px; font-size: 17px; }
	.gallery_container .desc a { color: #080808; font-weight: bold; }
		.gallery_container .desc a:hover { color: #666; }
.gallery_pictures { display: block; width: 100%; text-align: center; }
	.gallery_pictures > a { display: block; width: 100%; text-align: center; margin-bottom: 12px; }
		.gallery_pictures > a img { display: block; width: 90%; height: auto; border: 1px solid #000; margin: 0 auto; }

.paginate { margin-bottom: 8px; padding: 6px; background-color: #fff; text-align: center; font-size: 14px; line-height: 16px; }
	.paginate a { display: inline-block; font-weight: bold; color: #080808; border: 1px solid #080808; padding: 2px 5px; }


@media screen and (max-width: 480px) {
	.gallery_container .title { font-size: 22px; line-height: 28px; }
	.gallery_container .desc { font-size: 14px; }
	.tile .desc { max-height: none; }
}


@media screen and (max-width: 480px) {
	#new_header_menu { margin-right: 0; }
	.header .show-search, .header .hide-search { display: none; }
}

@media screen and (max-width: 419px){
	body { padding-top: 56px; }
	.header { padding-top: 0; }
	
	.header .logo { width: 56px; }
	#new_header_menu { display: block; /*margin: auto 32px auto 65px;*/ margin: auto 0 auto 65px; }
		.header_menu_items > li > .menu_item_anchor { padding-left: 6px; padding-right: 6px; }
		/*.menu_dropdown > .expand_nav { padding-left: 3px; padding-right: 3px; }*/
		.menu_dropdown .dropdown_list { left: -52px; }
			.menu_dropdown .dropdown_list:after { margin-left: 32px; }
}