* {padding:0;margin:0;}
html {font-family:arial,Helvetica,sans-serif; font-size:62.50%;}
* html {overflow:none;}
*:first-child+html {overflow:auto;}
body {font-size:1em;}
.m100 {width:100%;float:left;padding:0;margin:0;}
.dummy {display:block;width:100%;height:100px;border:7px solid #f2f2f2;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.container {margin:0 auto; width:980px; clear:both;}
*:first-child+html .container {width:1002px;//calcula de forma incorrecta los ems;}
.unit {margin:0;float:left;}
#wrapper {padding:0 0 20px 0; margin:0 auto;width:100%;float:left;display:inline;}
.popup #wrapper {text-align: center;}
*:first-child+html #wrapper {display:table;}

.c100{width:100%;}
.c99{width:99%;}  .c98{width:98%;} .c97{width:97%} .c96{width:96%} .c95{width:95%} .c94{width:94%} .c93{width:93%} .c92{width:92%} .c91{width:91%} .c90{width:90%}
.c89{width:89%;}  .c88{width:88%;} .c87{width:87%} .c86{width:86%} .c85{width:85%} .c84{width:84%} .c83{width:83%} .c82{width:82%} .c81{width:81%} .c80{width:80%}
.c79{width:79%;}  .c78{width:78%;} .c77{width:77%} .c76{width:76%} .c75{width:75%} .c74{width:74%} .c73{width:73%} .c72{width:72%} .c71{width:71%} .c70{width:70%}
.c69{width:69%;}  .c68{width:68%;} .c67{width:67%} .c66{width:66%} .c65{width:65%} .c64{width:64%} .c63{width:63%} .c62{width:62%} .c61{width:61%} .c60{width:60%}
.c59{width:59%;}  .c58{width:58%;} .c57{width:57%} .c56{width:56%} .c55{width:55%} .c54{width:54%} .c53{width:53%} .c52{width:52%} .c51{width:51%} .c50{width:50%}
.c49{width:49%;}  .c48{width:48%;} .c47{width:47%} .c46{width:46%} .c45{width:45%} .c44{width:44%} .c43{width:43%} .c42{width:42%} .c41{width:41%} .c40{width:40%}
.c39{width:39%;}  .c38{width:38%;} .c37{width:37%} .c36{width:36%} .c35{width:35%} .c34{width:34%} .c33{width:33%} .c32{width:32%} .c31{width:31%} .c30{width:30%}
.c29{width:29%;}  .c28{width:28%;} .c27{width:27%} .c26{width:26%} .c25{width:25%} .c24{width:24%} .c23{width:23%} .c22{width:22%} .c21{width:21%} .c20{width:20%}
.c19{width:19%;}  .c18{width:18%;} .c17{width:17%} .c16{width:16%} .c15{width:15%} .c14{width:14%} .c13{width:13%} .c12{width:12%} .c11{width:11%} .c10{width:10%}
.c9{width:9%;}    .c8{width:8%;}   .c7{width:7%}   .c6{width:6%}   .c5{width:5%}   .c4{width:4%}   .c3{width:3%}   .c2{width:2%}   .c1{width:1%}   .c0{width:0%}

.comp {width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; margin-bottom: 5px;padding:0 4px;float:left;}
.comp2 {padding-left:10px}
.comp2 .comp {padding-left:0px}
* html .comp {width:auto;display:inline;}
*:first-child+html .comp {width:100%;}
*:first-child+html .comp {width:auto; overflow:hidden; float:none;}



/* HACK IE7: *:first-child+html .container {width:1000px;} */
/* HACK IE8: .container {width:1000px\0/;} */


/*EDL selection*/
.c100.b_rollovered {background-color: #99CC99;}
.c100.b_selected {background-color: #CCFFCC;}
.b_rollovered .dummy{border: 2px solid #99CC99;}
.b_selected .dummy{border: 2px solid #CCFFCC;}
.m100.b_rollovered {background-color: #99CCFF;}
.m100.b_selected {background-color: #CCFFFF;}
.m100.b_selected:hover {background:no-repeat olive; opacity:1;filter: alpha(opacity=50);    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;}


.b_rollovered.b_selected {background-color: #CCFFFF;}

.c100.b_rollovered,
.c99.b_rollovered, .c98.b_rollovered, .c97.b_rollovered, .c96.b_rollovered, .c95.b_rollovered, .c94.b_rollovered, .c93.b_rollovered, .c92.b_rollovered, .c91.b_rollovered, .c90.b_rollovered,
.c89.b_rollovered, .c88.b_rollovered, .c87.b_rollovered, .c86.b_rollovered, .c85.b_rollovered, .c84.b_rollovered, .c83.b_rollovered, .c82.b_rollovered, .c81.b_rollovered, .c80.b_rollovered,
.c79.b_rollovered, .c78.b_rollovered, .c77.b_rollovered, .c76.b_rollovered, .c75.b_rollovered, .c74.b_rollovered, .c73.b_rollovered, .c72.b_rollovered, .c71.b_rollovered, .c70.b_rollovered,
.c69.b_rollovered, .c68.b_rollovered, .c67.b_rollovered, .c66.b_rollovered, .c65.b_rollovered, .c64.b_rollovered, .c63.b_rollovered, .c62.b_rollovered, .c61.b_rollovered, .c60.b_rollovered,
.c59.b_rollovered, .c58.b_rollovered, .c57.b_rollovered, .c56.b_rollovered, .c55.b_rollovered, .c54.b_rollovered, .c53.b_rollovered, .c52.b_rollovered, .c51.b_rollovered, .c50.b_rollovered,
.c49.b_rollovered, .c48.b_rollovered, .c47.b_rollovered, .c46.b_rollovered, .c45.b_rollovered, .c44.b_rollovered, .c43.b_rollovered, .c42.b_rollovered, .c41.b_rollovered, .c40.b_rollovered,
.c39.b_rollovered, .c38.b_rollovered, .c37.b_rollovered, .c36.b_rollovered, .c35.b_rollovered, .c34.b_rollovered, .c33.b_rollovered, .c32.b_rollovered, .c31.b_rollovered, .c30.b_rollovered,
.c29.b_rollovered, .c28.b_rollovered, .c27.b_rollovered, .c26.b_rollovered, .c25.b_rollovered, .c24.b_rollovered, .c23.b_rollovered, .c22.b_rollovered, .c21.b_rollovered, .c20.b_rollovered,
.c19.b_rollovered, .c18.b_rollovered, .c17.b_rollovered, .c16.b_rollovered, .c15.b_rollovered, .c14.b_rollovered, .c13.b_rollovered, .c12.b_rollovered, .c11.b_rollovered, .c10.b_rollovered,
.c9.b_rollovered,  .c8.b_rollovered,  .c7.b_rollovered,  .c6.b_rollovered,  .c5.b_rollovered,  .c4.b_rollovered,  .c3.b_rollovered,  .c2.b_rollovered,  .c1.b_rollovered,  .c0.b_rollovered
{background:none;outline-style: solid; outline-color: #FFCC99;}




.c100.b_selected,
.c99.b_selected, .c98.b_selected, .c97.b_selected, .c96.b_selected, .c95.b_selected, .c94.b_selected, .c93.b_selected, .c92.b_selected, .c91.b_selected, .c90.b_selected,
.c89.b_selected, .c88.b_selected, .c87.b_selected, .c86.b_selected, .c85.b_selected, .c84.b_selected, .c83.b_selected, .c82.b_selected, .c81.b_selected, .c80.b_selected,
.c79.b_selected, .c78.b_selected, .c77.b_selected, .c76.b_selected, .c75.b_selected, .c74.b_selected, .c73.b_selected, .c72.b_selected, .c71.b_selected, .c70.b_selected,
.c69.b_selected, .c68.b_selected, .c67.b_selected, .c66.b_selected, .c65.b_selected, .c64.b_selected, .c63.b_selected, .c62.b_selected, .c61.b_selected, .c60.b_selected,
.c59.b_selected, .c58.b_selected, .c57.b_selected, .c56.b_selected, .c55.b_selected, .c54.b_selected, .c53.b_selected, .c52.b_selected, .c51.b_selected, .c50.b_selected,
.c49.b_selected, .c48.b_selected, .c47.b_selected, .c46.b_selected, .c45.b_selected, .c44.b_selected, .c43.b_selected, .c42.b_selected, .c41.b_selected, .c40.b_selected,
.c39.b_selected, .c38.b_selected, .c37.b_selected, .c36.b_selected, .c35.b_selected, .c34.b_selected, .c33.b_selected, .c32.b_selected, .c31.b_selected, .c30.b_selected,
.c29.b_selected, .c28.b_selected, .c27.b_selected, .c26.b_selected, .c25.b_selected, .c24.b_selected, .c23.b_selected, .c22.b_selected, .c21.b_selected, .c20.b_selected,
.c19.b_selected, .c18.b_selected, .c17.b_selected, .c16.b_selected, .c15.b_selected, .c14.b_selected, .c13.b_selected, .c12.b_selected, .c11.b_selected, .c10.b_selected,
.c9.b_selected,  .c8.b_selected,  .c7.b_selected,  .c6.b_selected,  .c5.b_selected,  .c4.b_selected,  .c3.b_selected,  .c2.b_selected,  .c1.b_selected,  .c0.b_selected
{background:none;outline-style: solid; outline-color: #FF9966;}



.unit.c100.b_selected {background-color: #CCFFCC;}
/*EDL selection*/
/*Correccion para que todos los titulos en portada sean iguales a  El estilo es HelveticaNeue BlackCond 30 pt #595959 */
.modtitle h3, .modtitle h5 {color: #595959 !important;font-family: HelveticaNeueBlackCond !important;font-size: 30pt !important;}
.minivid .modtitle h3, .minivid .modtitle h5 {color: #595959 !important;font-family: HelveticaNeueBlackCond !important;font-size: 30pt !important;}
.enimagenes h2 span {color: #595959 !important;font-family: HelveticaNeueBlackCond !important;font-size: 30pt !important;}
h3.modulos {color: #595959 !important;font-family: HelveticaNeueBlackCond !important;font-size: 30pt !important;float:left !important}
.funniest .titleseccion h2 {color: #595959 !important;font-family: HelveticaNeueBlackCond !important;font-size: 30pt !important;}
.modtitle {margin-bottom:10px !important}


/* Estilos para arrastrables */
div.media_vle, div.media_vle_hl  {border-radius: 0px 0px 0px 0px; position: relative; display: inline; float: left; width: 100%;}
div.media_vle p {margin-bottom: 5px;}
div.media_vle_hl p {margin-bottom: 5px; padding-left:10px}
div.media_vle_hl {}
div.media_vle_hl .retranca {font-size: 10px;font-weight: bold;}
div.media_vle_hl .titulo a {color: #FFFFFF;font: 16px/16px 'Open Sans',arial;}
div.media_vle_hl .exc a {color: #FFFFFF;font-family: 'Open Sans',Arial,Helvetica,sans-serif;font-size: 11px;}


div.media_vle .texto {background:url("img/comun/slider-description-bckgrnd.png") repeat scroll 0 0 transparent; padding:5px;}
div.media_vle .texto .title_vle{font-size:1.4em; color:#CFCFCF; font-family:'open_sans_condensedbold'; font-weight:normal; line-height:1.1em; margin-bottom:3px;}
div.media_vle .texto p{color:#CCCCCC; font-size:1.2em; line-height:1.15em;}
div.media_vle .texto .title_vle a{color:#CFCFCF; font-size:1.2em; line-height:1.15em;}
div.media_vle .texto .title_vle a:hover{color:#CCCCCC; font-size:1.2em; line-height:1.15em;}
div.media_vle .texto p a{color:#CCCCCC; font-size:1.0em; line-height:1.15em;}
div.media_vle .texto p a:hover{color:#CCCCCC; font-size:1.0em; line-height:1.15em;}

div.media_gallery_vle .photogallery-wrapper .thickbox img {width:100%;}
div.media_gallery_vle .photogallery-wrapper .playerPreview img {width:100%!;}
div.media_gallery_vle #conteudo-galleries {padding:0 4px;}

div.media_gallery_vle .photogallery-wrapper .photo-description p {color:#CCCCCC;}


div.news_vle, div.news_vle_hl  {border-radius: 0px 0px 0px 0px; position: relative; display: inline; float: left; width: 100%; margin-bottom: 5px;}
div.news_vle .heading, div.news_vle_hl .heading {background: url("img/comunes/bg_introdestacado_portada.gif") repeat-x scroll left top #7E9D01; border-radius: 0px 0px 0px 0px; display: inline; float: left; margin-bottom: 5px; width: 100%;}
div.news_vle .heading h4, div.news_vle_hl .heading h4 {color: #FFFFFF; display: inline; font-family: 'Open Sans',Arial,Helvetica,sans-serif; font-size: 14px; padding: 0 0 0 4px; text-transform: uppercase;}
div.news_vle.titulo, div.news_vle_hl.titulo {font-family: 'Open Sans',arial; font-weight: bold; line-height: 15px; margin: 3px 0;}
div.news_vle ul.related_column, div.news_vle_hl ul.related_column {width:90%;padding-left:10px}
div.news_vle .section_vle {margin-bottom: 5px;font-family: Arial, Helvetica, sans-serif;font-weight: normal;color: #999999;text-transform: uppercase;font-size: 1.1em;line-height: 1em;}
.news_vle .title_vle{margin-top:-3px;font-size: 1.7em;line-height: 1.07em;letter-spacing: -0.035em;margin-bottom: 0.3em;font-family: 'open_sansextrabold';font-weight: normal;}
.news_vle  .description_vle a{font-family: Arial, Helvetica, sans-serif;font-weight: normal;color: #777777;font-size: 1.2em;line-height: 1.15em;font: normal 12px Arial, Helvetica, sans-serif;}
.news_vle .foto{margin-bottom: 3px;}
.c75 > .comp .news_vle .title_vle,.c100 > .comp .news_vle .title_vle,.c76 > .comp .news_vle .title_vle{font-size: 4.4em;line-height: 1.07em;letter-spacing: -0.05em;margin-bottom: 0.2em;font-family: 'open_sansextrabold';font-weight: normal}
.c65 > .comp .news_vle .title_vle{font-size: 3.5em;line-height: 1.07em;letter-spacing: -0.05em;margin-bottom: 0.2em;font-family: 'open_sansextrabold';font-weight: normal}
.comp .media_vle .playerPreview img{width:100%;border-radius: 0px 0px 0px 0px}
 
div.news_vle_hl p {margin-bottom: 5px; padding-left:10px}
div.news_vle_hl {}
div.news_vle_hl .retranca {font-size: 10px;font-weight: bold;}
div.news_vle_hl .titulo a {color: #FFFFFF;font: 16px/16px 'Open Sans',arial;}
div.news_vle_hl .exc a {color: #FFFFFF;font-family: 'Open Sans',Arial,Helvetica,sans-serif;font-size: 11px;}
div.news_vle_hl ul.related_column li a {color:white !important}

div.post_vle, div.post_vle_hl  {border-radius: 0px 0px 0px 0px; position: relative; display: inline; float: left; width: 100%;margin-top:10px; nargin-bottom:10px}
div.post_vle .texto, div.post_vle_hl .texto  {width: 70% !important; margin-left:20px}
div.post_vle img, div.post_vle_hl img {float:left}
div.post_vle ul.related_column, div.post_vle_hl ul.related_column {width:90%;padding-left:10px}
div.post_vle p {margin-bottom: 5px;}
div.post_vle_hl p {margin-bottom: 5px; padding-left:10px}
div.post_vle_hl {}
div.post_vle_hl .retranca {font-size: 10px;font-weight: bold;}
div.post_vle_hl .titulo a {color: #FFFFFF;font: 16px/16px 'Open Sans',arial;}
div.post_vle_hl .exc a {color: #FFFFFF;font-family: 'Open Sans',Arial,Helvetica,sans-serif;font-size: 11px;}
div.post_vle_hl ul.related_column li a {color:white !important}

div.vle_gallery { width: 100%;float: left; background: #000; text-align: center; margin: -5px 0;}
div.vle_gallery .picture_thumbs {background-color: #000;}
div.vle_gallery div.foto {padding-bottom:20px;width:96%;padding-left:2%}
div.vle_gallery .advance_left img, div.vle_gallery .advance_right img  {background-color:#000;border-radius:0 0 0 0}

div.vle_gallery div.foto .midia-largura-vle {float: left;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 0;overflow-x: hidden;overflow-y: hidden;width: 100%;}
div.vle_gallery div.foto .midia-largura-vle .strong {display: block;}

.t00 {font-size:12px !important}
.t01 {font-size:1.7em !important}
.t02 {font-size:2em !important}
.t03 {font-size:2.8em !important}
.t04 {font-size:4.4em !important}


.picture, .pictureL, .pictureR {float:left; position: relative; display: inline; background-color: transparent !important;}
.picture {width: 100%;}
.pictureL, .pictureR{width: 39%;}
.pictureR{float:right; padding-left:8px;}
.pictureL{padding-right:8px;}

.pictureL img, .pictureR img, .picture img{border-radius:0px 0px 0px 0px; width:100%}
.news_vle .pictureL img, .news_vle .pictureR img,.news_vle .picture img{border-radius:0px 0px 0px 0px; width:100%}


div.title_vle{}
div.section_vle{}
div.description_vle{}

div.title_vle a{text-decoration:none;}
div.section_vle a{text-decoration:none;}
div.description_vle a{text-decoration:none;}

div.pictureL .vle_player {float:left;position:relative;width:47%; padding-top:3px}
div.pictureL .vle_infographic {float:left;position:relative;width:47%;height:150px;}
.c100 > .comp div.pictureL .vle_infographic {height:215px !important;}
div.pictureL .texto {}

div.pictureR .vle_player {float:right;position:relative;width:47%; padding-top:3px}
div.pictureR .vle_infographic {float:right;position:relative;width:47.8%;height:150px;}
.c100  > .comp div.pictureR .vle_infographic {height:215px !important;}
div.pictureR .texto {}

.c100 > .comp .picture .vle_infographic{height:430px !important;}
.comp .picture .vle_infographic{height:150px}

.c65 > .comp .cmp-author-vle .opinion-author-wrapper .author-bio,.c75 > .comp .cmp-author-vle .opinion-author-wrapper .author-bio,.c100 > .comp .cmp-author-vle .opinion-author-wrapper .author-bio{width:70% }
.c65 > .comp .cmp-author-vle .opinion-author-wrapper .author-photo,.c75 > .comp .cmp-author-vle .opinion-author-wrapper .author-photo,.c100 > .comp .cmp-author-vle .opinion-author-wrapper .author-photo{width:30% }
.c50 > .comp .cmp-author-vle .opinion-author-wrapper .author-bio{width:62%}
.c50 > .comp .cmp-author-vle .opinion-author-wrapper .author-photo{width:38%}
.comp .cmp-author-vle .opinion-author-wrapper .author-bio{width:100%}
.comp .cmp-author-vle .opinion-author-wrapper .author-photo{width:auto}

.margin-10 {margin-top: 10px;}
.margin-15 {margin-top: 15px;}
.margin-30 {margin-top: 30px;}

.c75 .c43 {width: 42.5%;}
.c65 .opinion-wrapper {height: 400px;}
.c65 .author-description {height: 165px;}
.c50 .opinion-wrapper {height: 480px;}
.c50 .author-description {height: 175px;}
.c75 .nwsContainer {height: 135px;}
.c65 .nwsContainer {height: 180px;}
.c50 .nwsContainer {height: 235px;}

.right {float:right;}
.left {float:left;}

/* Estilos para Microsites */
div#header_micro_table, div#header_micro_table > div.unit.c100 {float:none !important;}
div#footer_micro_table, div#footer_micro_table > div.unit.c100 {float:none !important;}
