
/* Extras para News */
div.news_vle div.mod-big { border-bottom:none !important;padding-bottom:16px;margin-top:-4px; }
div.news_vle div.mod-small { border-top:none !important;border-bottom:none !important;padding-bottom:15px;margin-top:-16px; }
div.news_vle.noborder div.mod-big { border-bottom:none !important;padding-bottom:8px;margin-top:0px; }
div.news_vle div.mod-big p,div.news_vle div.mod-small p { line-height:1.25 !important;color:#555555; }

/* div.news_vle.fvertical div.mod-big figure img {display:block;clear:both;width:410px !important;height:450px !important; } */

/* Artículo con imagen vertical */
div.news_vle.fvertical div.mod-big {display:block;clear:both;width:410px !important;height:auto !important;overflow:hidden; }
div.news_vle.fvertical.TextOver div.mod-big h1 { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; bottom: 30px !important; height: auto; left: 10px !important; line-height: 1.1; padding: 5px 10px 10px !important; position: absolute; width: 60%; letter-spacing:-0.02em; font-size:24px !important; }
div.news_vle.fvertical div.mod-big figure img {display:block;clear:both;width:410px !important;height:450px !important; }


div.unit.c66 div#main_content article div.comp div.c100.disclaimer { margin-top:15px;border-top:1px solid #7f939d; font-family:open_sansregular,Arial,Helvetica,sans-serif; color:#7f939d; padding-top:15px;font-size:13px; }

/* Meme y Minimeme - Parámetros básicos */
div.news_vle.TextOver div.mod-big { height:352px; }
div.news_vle.TextOver.escom_box_gray div.mod-big { height:332px; }
div.news_vle.TextOver div.mod-big img { height:100%; }
div.news_vle.TextOver div.mod-big p { display:none; }
div.news_vle.TextOver div.mod-big h1 { background:rgba(0,0,0,0.5);padding:5px 10px 10px 10px !important;position:relative;bottom:100px;height:30px;left:10px;width:72%;height:auto;line-height:1.1; }
div.news_vle.TextOver div.mod-big h1 a { color:#efefef;font-size:1.1em; }
div.news_vle.TextOver div.mod-big h1 a:hover { color:#8cd6ef; }
div.news_vle.TextOver div.mod-big h2 { display:none; }
div.news_vle.TextOver div.mod-big .article-credits { display:none; }

div.news_vle.TextOverMega div.mod-big { height:410px;margin-bottom:-2px;overflow:hidden; }
div.news_vle.TextOverMega div.mod-big img { height:100%; }
div.news_vle.TextOverMega div.mod-big p { display:none; }
div.news_vle.TextOverMega div.mod-big h1 { background:rgba(0,0,0,0.5);padding:5px 10px 10px 10px !important;position:relative;bottom:240px;height:30px;left:10px;width:74%;height:auto;line-height:1.1; }
div.news_vle.TextOverMega div.mod-big h1 a { color:#efefef;font-size:1.5em !important; }
div.news_vle.TextOverMega div.mod-big h1 a:hover { color:#8cd6ef; }
div.news_vle.TextOverMega div.mod-big h2 { display:none; }
div.news_vle.TextOverMega div.mod-big .article-credits { display:none; }

div.news_vle.TextOver.BigTitle div.mod-big h1,div.news_vle.TextOverVertical.BigTitle div.mod-big h1 { width:80%;bottom:118px;line-height:1.0 !important; }
div.news_vle.TextOver.MegaTitle div.mod-big h1,div.news_vle.TextOverVertical.MegaTitle div.mod-big h1 { width:68%;bottom:134px;line-height:0.95 !important; }
div.news_vle.TextOver.BigTitle div.mod-big h1 a,div.news_vle.TextOverVertical.BigTitle div.mod-big h1 a { font-family:'open_sansextrabold';font-size:1.5em !important;letter-spacing:-0.045em !important;line-height: 0.9 !important;padding-bottom:0px;padding-top:0px; }
div.news_vle.TextOver.MegaTitle div.mod-big h1 a,div.news_vle.TextOverVertical.MegaTitle div.mod-big h1 a { font-family:'open_sansextrabold';font-size:2.0em !important;letter-spacing:-0.065em; }



div.news_vle.TextOver.TopLeft div.mod-big h1,div.news_vle.TextOverVertical.TopLeft div.mod-big h1 { bottom:340px !important; }
div.news_vle.TextOver.TopRight div.mod-big h1,div.news_vle.TextOverVertical.TopRight div.mod-big h1 { bottom:340px !important;margin-right:20px;text-align:right;float:right; }
div.news_vle.TextOverMega.TopLeft div.mod-big h1 { bottom:480px !important; }
div.news_vle.TextOverMega.TopRight div.mod-big h1 { bottom:480px !important;margin-right:20px;text-align:right;float:right; }

div.news_vle.TextOver.TextBlack div.mod-big h1,div.news_vle.TextOverMega.TextBlack div.mod-big h1 { color:#000000 !important; }
div.news_vle.TextOver.TextBlack div.mod-big h1 a,div.news_vle.TextOverMega.TextBlack div.mod-big h1 a { color:#000000 !important; }
div.news_vle.TextOver.TextBlack div.mod-big h1 a:hover,div.news_vle.TextOverMega.TextBlack div.mod-big h1 a:hover { color:#333333 !important; }
div.news_vle.TextOver.TextYellow div.mod-big h1,div.news_vle.TextOverMega.TextYellow div.mod-big h1 { color:#edeb4b !important; }
div.news_vle.TextOver.TextYellow div.mod-big h1 a,div.news_vle.TextOverMega.TextYellow div.mod-big h1 a { color:#edeb4b !important; }
div.news_vle.TextOver.TextYellow div.mod-big h1 a:hover,div.news_vle.TextOverMega.TextYellow div.mod-big h1 a:hover { color:#f5f47f !important; }
div.news_vle.TextOver.TextRed div.mod-big h1,div.news_vle.TextOverMega.TextRed div.mod-big h1 { color:#ff1a1a !important; }
div.news_vle.TextOver.TextRed div.mod-big h1 a,div.news_vle.TextOverMega.TextRed div.mod-big h1 a { color:#ff1a1a !important; }
div.news_vle.TextOver.TextRed div.mod-big h1 a:hover,div.news_vle.TextOverMega.TextRed div.mod-big h1 a:hover { color:#e73a3a !important; }
div.news_vle.TextOver.TextFucsia div.mod-big h1,div.news_vle.TextOverMega.TextFucsia div.mod-big h1 { color:#e63390 !important; }
div.news_vle.TextOver.TextFucsia div.mod-big h1 a,div.news_vle.TextOverMega.TextFucsia div.mod-big h1 a { color:#e63390 !important; }
div.news_vle.TextOver.TextFucsia div.mod-big h1 a:hover,div.news_vle.TextOverMega.TextFucsia div.mod-big h1 a:hover { color:#db4b95 !important; }


div.news_vle.TextOverMega div.mod-big h1 a { font-family:'open_sansextrabold';font-size:1.8em !important;letter-spacing:-0.045em !important;line-height: 0.9 !important;padding-bottom:0px;padding-top:0px; }
div.news_vle.TextOverMega.BigTitle div.mod-big h1 a { font-family:'open_sansextrabold';font-size:2.1em !important;letter-spacing:-0.045em !important;line-height: 0.9 !important;padding-bottom:0px;padding-top:0px; }
div.news_vle.TextOverMega.MegaTitle div.mod-big h1 a { font-family:'open_sansextrabold';font-size:2.5em !important;letter-spacing:-0.085em; }


div.news_vle.TextOver.Bg00 div.mod-big h1,div.news_vle.TextOverMega.Bg00 div.mod-big h1,div.news_vle.TextOverVertical.Bg00 div.mod-big h1 { background:rgba(0,0,0,0.0); }
div.news_vle.TextOver.Bg10 div.mod-big h1,div.news_vle.TextOverMega.Bg10 div.mod-big h1,div.news_vle.TextOverVertical.Bg10 div.mod-big h1 { background:rgba(0,0,0,0.1); }
div.news_vle.TextOver.Bg20 div.mod-big h1,div.news_vle.TextOverMega.Bg20 div.mod-big h1,div.news_vle.TextOverVertical.Bg20 div.mod-big h1 { background:rgba(0,0,0,0.2); }
div.news_vle.TextOver.Bg30 div.mod-big h1,div.news_vle.TextOverMega.Bg30 div.mod-big h1,div.news_vle.TextOverVertical.Bg30 div.mod-big h1 { background:rgba(0,0,0,0.3); }
div.news_vle.TextOver.Bg40 div.mod-big h1,div.news_vle.TextOverMega.Bg40 div.mod-big h1,div.news_vle.TextOverVertical.Bg40 div.mod-big h1 { background:rgba(0,0,0,0.4); }
div.news_vle.TextOver.Bg50 div.mod-big h1,div.news_vle.TextOverMega.Bg50 div.mod-big h1,div.news_vle.TextOverVertical.Bg50 div.mod-big h1 { background:rgba(0,0,0,0.5); }
div.news_vle.TextOver.Bg60 div.mod-big h1,div.news_vle.TextOverMega.Bg60 div.mod-big h1,div.news_vle.TextOverVertical.Bg60 div.mod-big h1 { background:rgba(0,0,0,0.6); }
div.news_vle.TextOver.Bg70 div.mod-big h1,div.news_vle.TextOverMega.Bg70 div.mod-big h1,div.news_vle.TextOverVertical.Bg70 div.mod-big h1 { background:rgba(0,0,0,0.7); }
div.news_vle.TextOver.Bg80 div.mod-big h1,div.news_vle.TextOverMega.Bg80 div.mod-big h1,div.news_vle.TextOverVertical.Bg80 div.mod-big h1 { background:rgba(0,0,0,0.8); }
div.news_vle.TextOver.Bg90 div.mod-big h1,div.news_vle.TextOverMega.Bg90 div.mod-big h1,div.news_vle.TextOverVertical.Bg90 div.mod-big h1 { background:rgba(0,0,0,0.9); }
div.news_vle.TextOver.Bg100 div.mod-big h1,div.news_vle.TextOverMega.Bg100 div.mod-big h1,div.news_vle.TextOverVertical.Bg100 div.mod-big h1 { background:rgba(0,0,0,1.0); }






/* Cajas grises para relacionados  */
.escom_box_gray { width:calc(100% - 20px) !important;padding:10px !important;background-color:#ededed !important;margin-left:auto;margin-right:auto;margin-bottom:15px; }
.escom_box_gray.noborder.nomarginbottom { margin-bottom:-10px !important; }
.escom_box_gray.noborder.nomarginright { margin-right:-10px !important; }
.escom_box_gray.noborder.nomarginleft { margin-left:-10px !important; }


/* Cajas cyan - por ejemplo - Módulo elecciones EE.UU.  */
.escom_box_light_cyan { background-color: #c8e7fb !important; margin-left: auto; margin-right: auto; padding: 10px !important; width: calc(100% - 20px) !important; }
.escom_box_light_cyan.noborder.nomarginbottom { margin-bottom:-10px !important; }
.escom_box_light_cyan.noborder.nomarginright { margin-right:-10px !important; }
.escom_box_light_cyan.noborder.nomarginleft { margin-left:-10px !important; }


/* Cajas rosadas para Día de la Mujer  */
.escom_box_pink { width:calc(100% - 20px) !important;padding:10px !important;background-color:#edafc6 !important;margin-left:auto;margin-right:auto;margin-bottom:15px; }
.escom_box_pink.noborder.nomarginbottom { margin-bottom:-10px !important; }
.escom_box_pink.noborder.nomarginright { margin-right:-10px !important; }
.escom_box_pink.noborder.nomarginleft { margin-left:-10px !important; }


/* Contenidos relacionados  */
.news_vle.large_related ul.related-content li, div.news_vle.large_related div.highlight.borders-h ul.related-content.margins-h li,.news_vle.medium_related ul.related-content li, div.news_vle.medium_related div.highlight.borders-h ul.related-content.margins-h li  { display:inline !important;width:auto !important;clear:none !important;margin-right:15px; }
div.news_vle.large_related div.highlight.borders-h ul.related-content.margins-h li div.description,div.news_vle.large_related div.highlight.borders-h ul li div.description,div.news_vle.medium_related div.highlight.borders-h ul.related-content.margins-h li div.description,div.news_vle.medium_related div.highlight.borders-h ul li div.description { width:auto !important;display:inline; }


/* Módulo Expansión  */
.unit.c100.last.mod_expansion { width:calc(100% - 30px) !important;background:url('http://am-elsalv-cdn.agilecontents.com/resources/png/4/1/1445879344214.png');background-repeat:no-repeat;padding:75px 15px 4px 15px;margin-bottom:20px; }
.unit.c100.last.mod_expansion div div div.c67.first { width:65% !important;float:left; }
.unit.c100.last.mod_expansion div div div.c33.last { width:34% !important;float:right; }
.unit.c100.last.mod_expansion div div div.c33.last div.comp { padding:10px;background-color:#FDF0DF; }
.unit.c100.last.mod_expansion div div div.c67 div.comp div article div.mod-big,.unit.c100.last.mod_expansion div div div.c33.last div.comp div article div.mod-big,.unit.c100.last.mod_expansion div div div.c33.last div.comp div article div.mod-small { margin-bottom:0px;padding-bottom:0px;border-bottom:none !important; }
.unit.c100.last.mod_expansion div div div.c33.last div.comp div article div.mod-small div.article-credits { display:none; }
.unit.c100.last.mod_expansion div div div.c33.last div.comp div article div.mod-small h1.t01 a { font-size:16px !important; }

/* Módulo Expansión 2  */
.unit.c100.first.mod_expansion_short { width:calc(100% - 30px) !important;background:url('http://am-elsalv-cdn.agilecontents.com/resources/png/4/1/1445879344214.png');background-repeat:no-repeat;padding:75px 15px 4px 15px;margin-bottom:20px; }
.unit.c100.first.mod_expansion_short div div div.c63.first { width:63% !important;float:left; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c63.first div.comp div.news_vle.TextOver { height:380px !important; } 
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c63.first div.comp div.news_vle.TextOver img { height:380px !important; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c63.first div.comp div.news_vle.TextOver div.mod-big h1 { left:10px;bottom:85px;font-size:20px;line-height:1.1;width:84%; } 
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c63.first div.comp div.news_vle.TextOver div.mod-big h1 a:hover, div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c63.first div.comp div.news_vle div.mod-big h1 a:hover { color:#FF3300 !important; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last { width:35% !important;float:right; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last div.comp { padding:4px;background-color:none; }
.unit.c100.first.mod_expansion_short div div div.c63 div.comp div article div.mod-big,.unit.c100.first.mod_expansion_short div div div.c37.last div.comp div article div.mod-big,.unit.c100.first.mod_expansion_short div div div.c37.last div.comp div article div.mod-big { margin-bottom:0px;padding-bottom:0px;border-bottom:none !important; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last div.comp div article div.mod-big div.article-credits { display:none; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last div.comp div article div.mod-big h1 a, div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last div.comp div article div.mod-big h1 { font-size:14px !important; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last div.comp div article div.mod-big h2 { display:none; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last div.comp div article div.mod-big h1 a:hover { color:#FF3300 !important; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last div.comp div article div.mod-big { /* border-bottom:1px dotted #f05731 !important; */ padding-bottom:8px !important; }
div.unit.c100.first.mod_expansion_short div.unit.c100.last div.unit.c37.last div.comp div.news_vle.picture.elsalv_news_vle article div.mod-big div.playerPreview a figure img { width:202px;height:114px; }

/* Módulo Expansión manual - portadistas  */
.escom_box_expansion { background-color: #fcdeba !important; margin-left: auto; margin-right: auto; padding-bottom: 10px !important; padding-left: 10px !important; padding-right: 10px !important; padding-top: 14px !important; width: calc(100% - 20px) !important; margin-bottom:-10px !important; }
div.comp div.news_vle.escom_box_expansion article div.mod-big hgroup h1 a:hover { color:#ff3300; }
.unit.c50 .escom_box_expansion { width:97%; }
.unit.c50 .escom_box_expansion { width:95% !important;margin-bottom:15px !important; }
.unit.c50.last .escom_box_expansion { margin-left:-4px; !important; }

/* Módulo Tv-online  */
div.tv-online { display:block;clear:both;height:auto;background-color:#efefef;border:1px solid #c9c9c9;padding:10px 10px 0px 10px;margin-bottom:16px; }
div.tv-online div.comp h1 { font-size:20px;line-height:1.1; }
div.tv-online div.comp h2 { font-size:11px;line-height:1.1;font-family:'Roboto Slab';font-weight:700;margin-top:7px;margin-bottom:4px; }


/* Para colorear nota de Mujeres */
.escom_box_mujeres { background-color: #a5e1f0 !important; margin-left: auto; margin-right: auto; padding-bottom: 10px !important; padding-left: 10px !important; padding-right: 10px !important; padding-top: 14px !important; width: calc(100% - 20px) !important; }
div.comp div.news_vle.escom_box_mujeres article div.mod-big hgroup h1 a:hover { color:#ff206b; }


/* Temporal */
/* div.unit.c25.last div.comp article div.mod-big.media_vle.te_salvcomunid.picture.elsalv_assets_vle { margin-top:-4px; }
div.unit.c25.last div.comp article div.mod-big.media_vle.te_salvcomunid.picture.elsalv_assets_vle hgroup h1 { font-size:17px;line-height:1.1; }
div.unit.c25.middle div.comp div.news_vle.te_salvcomunid.picture.elsalv_news_vle article div.mod-big hgroup h1 { width:94%; }
div.unit.c25.middle div.comp div.news_vle.te_salvcomunid.picture.elsalv_news_vle article div.mod-big p { width:94%; }
div.unit.c25.middle div.comp div.news_vle.picture article div.mod-big div.article-credits,div.unit.c25.first div.comp div.news_vle.picture article div.mod-big div.article-credits,div.unit.c25 div.comp article div.mod-big.media_vle.picture div.article-credits { display:none !important; }
*/

/* Ajustes a declaraciones de estilos */

/* div.highlight.borders-h ul.related-content.margins-h li .description a { font-weight:normal;font-size:12px;top:3px; }
.highlight .related-content .article { background-size:21px 21px;background-position: 0 0 !important; }
div.highlight.borders-h ul.related-content.margins-h li { padding-left:25px; } */


/* Módulo de 3 abajo de principal al 100% del 66% */
div.unit.c100.last div.unit.c66 div.unit.c100.last div.unit.c100.first div.unit.c100.last div.unit.c100.first div.unit.c100.last div.unit.c33.first { width:32%;margin-right:1%; }
div.unit.c100.last div.unit.c66 div.unit.c100.last div.unit.c100.first div.unit.c100.last div.unit.c100.first div.unit.c100.last div.unit.c33.last { width:32%;margin-left:1%; }
div.unit.c100.last div.unit.c66 div.unit.c100.last div.unit.c100.first div.unit.c100.last div.unit.c100.first div.unit.c100.last div.unit.c34.middle { width:33%; }


div.news_vle.TextOver div.mod-big { margin-bottom:24px;}
div.mod-small p { min-height:70px; }
div.highlight.borders-h.padding-b { margin-top:-22px;margin-bottom:10px;background-color:transparent;border-top:none;border-bottom:none; }
div.highlight.borders-h ul.related-content { margin-left:0px; }
div.highlight.borders-h ul.related-content.margins-h li { min-height:14px; }
.highlight .related-content .description { width:95%; }
div.highlight.borders-h ul.related-content.margins-h li .description a { font-weight:bold;font-size:12px;color:#000000;letter-spacing:0.01em; }
div.highlight.borders-h ul.related-content.margins-h li .description a:hover { color:#0099cd; }
.highlight .related-content .image { background:url("http://static.elsalvador.com/escom/css/img/comun/icons/ico-camara.png"); }
.highlight .related-content .video { background:url("http://static.elsalvador.com/escom/css/img/comun/icons/ico-video.png"); }
.highlight .related-content .audio { background:url("http://static.elsalvador.com/escom/css/img/comun/icons/ico-audio.png"); }
.highlight .related-content .article { background:url("http://static.elsalvador.com/escom/css/img/comun/icons/ico-article.png"); }
.highlight .related-content .image,.highlight .related-content .video,.highlight .related-content .article,.highlight .related-content .audio { background-repeat:no-repeat;background-size:14px 14px; }
div.highlight.borders-h ul.related-content.margins-h li.image, div.highlight.borders-h ul.related-content.margins-h li.article, div.highlight.borders-h ul.related-content.margins-h li.video, div.highlight.borders-h ul.related-content.margins-h li.link, div.highlight.borders-h ul.related-content.margins-h li.audio { background-position:0px 0px;padding-left:20px;  }
		
div.unit.c66 div.unit.c100.last div.unit.c100.first div.unit.c100.last div.unit.c100.first div.comp div.TextOver div.highlight.borders-h { margin-top:-42px; }
		
/* Corrigiendo tamaño de Player en columna estrecha */
div.unit.c32.last div.news_vle article div.mod-big div.playerPreview a .img_play,div.unit.c37.float-right div article div.mod-big div.playerPreview a .img_play { left:60%;top:66%;width:44px !important;height:44px !important; }

/* Módulo de Lucha Contra el Cáncer */
div.unit.c100.first.mod_lucha_contracancer { background:url('http://static.elsalvador.com/escom/img/2015/bg-modulo-expansion.jpg') !important;background-position:top center; }
div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c60.first { width:58% !important; }
div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c60.first div.comp h1 { font-size:24px; }
div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c60.first div.comp h1 a:hover, div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c40.last div.comp h1 a:hover  { color:#c05275; }
div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c40.last { float:right; }
div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c40.last img { height:auto !important; }
div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c60.first div.article-credits { display:none; }
div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c40.last div.article-credits { display:none; }
div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c40.last div.mod-big { padding-bottom:0px; }
/* div.unit.c100.first.mod_lucha_contracancer div.unit.c100.last div.unit.c40.last div.mod-big p { display:none; } */




/* Módulo de videos */
div.unit.c100.first.mod_multimedia { padding:10px 11px 0px 11px !important;background:url('http://static.elsalvador.com/escom/img/backgrounds/bg-mod-videos.png');width:calc(100% - 20px);display:block;clear:both;margin-bottom:14px; }
div.unit.c100.first.mod_multimedia div div.unit.c18 div.comp article div.mod-big div.playerPreview a .img_play, div.unit.c100.first.mod_multimedia div div.unit.c15 div.comp article div.mod-big div.playerPreview a .img_play { width:40px !important;height:40px !important;left:109px !important;top:71px !important; }

div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 { width:19%; }
div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18.middle { margin-left:6px;margin-right:6px; }
div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18.first { margin-right:5px; }
div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18.last { margin-left:5px; }

div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big div.vle_player { height:100px;overflow:hidden; }
div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big hgroup h1, div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big hgroup h1.default { line-height:1.1 !important;font-family:'open_sansregular' !important;margin-top:5px !important;margin-bottom:0px !important;display:block !important;clear:both !important;font-weight:400 !important; }
div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big hgroup h1 a, div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big hgroup h1.default a { color:#333333 !important;font-size:11px !important;font-family:'open_sansregular' !important;line-height:1.1 !important;letter-spacing:-0.003em;margin-top:5px !important;font-weight:400 !important; }

div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big.media_vle h1, div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big.media_vle h1.default { line-height:0.38 !important;font-family:'open_sansregular' !important;margin-top:5px !important;margin-bottom:0px !important;display:block !important;clear:both !important;font-weight:400 !important; }
div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big.media_vle h1 a, div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big.media_vle h1.default a { line-height:0.38 !important; }

div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big hgroup h1 a:hover,div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big hgroup h1.default a:hover  { color:#0099cd !important; }
div.unit.c100.first.mod_multimedia div.unit.c100.last div.unit.c18 div.comp article div.mod-big div.article-credits { display:none; }



/* Ocultar elementos */
#boxplayer_vle_113309 { display:none; }

/* Go Pro */

	div.myvp-gridcontent div.myvp-w300.middle div.itemtop { margin-bottom:-47px; }
	.mod_video_gopro { background:url('http://static.elsalvador.com/escom/img/backgrounds/bg-videos-extremos-gopro.jpg'); background-repeat:no-repeat; padding:42px 10px 0px 18px !important; display:block; clear:both; min-height:150px; width:calc(100% - 20px); }
	
div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c25 hgroup h1 a { color:#efefef !important;font-size:11px !important;font-family:'open_sansregular' !important;line-height:1.3 !important;letter-spacing:-0.003em;margin-top:5px !important;font-weight:400 !important;display:block !important;clear:both !important; }
div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c25 hgroup h1 a:hover { color:#93c8f4 !important; }
	

	
	div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c20 { width:19% !important;margin-right:1%; }
	div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c20 div.comp article div.mod-big hgroup h2 { display:none; }
	div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c20 div.comp article div.mod-big hgroup h1 { line-height:0.5 !important; }
	div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c20 div.comp article div.mod-big hgroup h1 a { color:#efefef !important;font-size:11px !important;font-family:'open_sansregular' !important;line-height:1.3 !important;letter-spacing:-0.003em;margin-top:5px !important;font-weight:400 !important;display:block !important;clear:both !important; } 
	div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c20 div.comp article div.mod-big hgroup h1 a:hover { color:#93c8f4 !important; }
	div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c20 div.comp article div.mod-big p { display:none; }
	div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c20 div.comp article div.mod-big div.article-credits { display:none; }
	div.unit.c100.first.mod_video_gopro div.unit.c100.last div.unit.c20 div.comp article div.mod-big div.playerPreview figure div.vle_player.picture div.playerPreview a div.div_img_play img.img_play { width:44px !important;height:44px !important; left:62% !important; top:65% !important; }

	.mod_vidapro_extra { background-color:#C9DDDD; padding:10px !important; display:block; clear:both; min-height:250px; width:calc(100% - 20px);margin-top:20px;margin-bottom:20px; }
	
/* estilos para portadas especiales */

.main-zona-maras2015 {
	display:block;
	clear:both;
	width:100%;
	height:319px;
    background: url("http://static.elsalvador.com/escom/css/img/2015/zona-maras-cabecera-bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    margin-top: -15px;
}
	
	div.maras201511-articles {
    background: url('http://static.elsalvador.com/escom/img/2015/zonas-maras/zonas-maras-bg-articulos.jpg');
    padding: 70px 20px 15px 2px;
    margin-bottom: 24px;
}

	div.maras2-articles {
    background: url('http://static.elsalvador.com/escom/img/2015/zonas-maras/zonas-maras-bg-articulos-2.jpg');
    padding: 70px 20px 15px 2px;
    margin-bottom: 0px;
}

	div.maras3-articles {
    background: url('http://static.elsalvador.com/escom/img/2015/zonas-maras/zonas-maras-bg-articulos-3.jpg');
    padding: 70px 20px 15px 2px;
    margin-bottom: 0px;
}

	div.maras4-articles {
    background: url('http://static.elsalvador.com/escom/img/2015/zonas-maras/zonas-maras-bg-articulos-4.jpg');
    padding: 70px 20px 15px 2px;
    margin-bottom: 0px;
}



/* Módulo Rio2016 - 3 notas horizontal */
/* ================================================================= */

div.unit.c33 div.comp div.news_vle.m3rio2016, div.unit.c34 div.comp div.news_vle.m3rio2016 { background-color:#ffde00 !important;padding:15px 8px 10px 8px;margin-top:-4px;margin-bottom:20px;width:96% !important;height:248px; }
div.unit.c33 div.comp div.news_vle.m3rio2016 article div.mod-big hgroup h1.default, div.unit.c34 div.comp div.news_vle.m3rio2016 article div.mod-big hgroup h1.default { line-height:0.7 !important; }
div.unit.c33 div.comp div.news_vle.m3rio2016 article div.mod-big hgroup h1.default a, div.unit.c34 div.comp div.news_vle.m3rio2016 article div.mod-big hgroup h1.default a { font-family:"open_sansbold",Arial,Helvetica,sans-serif;color:#134785;font-size:16px;line-height:0.9 !important;letter-spacing:-0.02em; }
div.unit.c33 div.comp div.news_vle.m3rio2016 article div.mod-big hgroup h1.default a:hover, div.unit.c34 div.comp div.news_vle.m3rio2016 article div.mod-big hgroup h1.default a:hover { color:#3890cd; }
div.unit.c33 div.comp div.news_vle.m3rio2016 article div.mod-big hgroup h2, div.unit.c34 div.comp div.news_vle.m3rio2016 article div.mod-big hgroup h2 { display:none; }
div.unit div.comp div.news_vle.m3rio2016 article div.mod-big div.article-credits { display:none; }
div.unit div.comp div.news_vle.m3rio2016 article div.mod-big a p { color:#535353; margin-top:10px; }
