.menu_wrapper ul li a {
text-transform: uppercase;
}

.menu_tags_wrapper .de-interes {
text-transform: uppercase;
}

.menu_bottom a {
text-transform: uppercase !important;	
}

.btext-wmargin {
margin-left: 5px;
}

/* START TOTAL COMMENTS NEWS CUNSTOM  */

.total-comments-wrapper{
background: url("img/comun/mini-icon-to-comments.png") no-repeat scroll left center rgba(0, 0, 0, 0);
color: #000000;
display: inline;
float: left;
font-family: "open_sansregular",Arial,Verdana,tahoma,serif;
font-size: 13px;
font-weight: bold;
margin-left: 10px;
padding-left: 22px;
}

.total-comments-wrapper h2 {
font-weight: bold;
}
#omments .open {display: none;}
/* END TOTAL COMMENTS NEWS CUNSTOM  */

/* START RELATED GALLERY NEWS CUNSTOM  */

.slider-wrapper_news{
 width:100% !important;	
}

.slider-wrapper_news .left-button{
 margin-top:160px !important;	
}

.slider-wrapper_news .right-button{
 margin-top:160px !important; 
 right:343px !important;
}

.slider-wrapper_news  .slider{
 height:430px !important;	
}

.slider-wrapper_news .slider  .slider-item{
 height:411px !important;
}

.slider-wrapper_news .slider  .slider-item  .image-description{  
 width: 605px !important; 
 height: 48px !important; 
 margin-left: 1px !important;	
}

/* END RELATED GALLERY NEWS CUNSTOM  */

.photo-description p{
 font-family: "open_sansbold";
 font-size: 11px;
}

.photo-description{
 width: 100%;	
 padding: 0px !important;
 margin-top: 3px;
 margin-left: 2px;
 margin-bottom: 0px;
}

.wrapper_content .c100 .slider-wrapper .slider .slider-item .image-description{
 width: 97.5%;
 left: 2px;
 padding: 11px;
}

.wrapper_content .c100 .slider-wrapper_news .slider .slider-item  .image-description{
  padding: 8px !important;
  left: 0px !important;
} 

span.list-author{
 text-transform: none !important;
}

.wrapper_content ul li{
	list-style:none!important;
}

.busqueda-page .wrapper_content .search-options{
  margin: 0;
}

#mod-most-reading-video table tr.dark td,#mod-most-commented-video table tr.dark td, #mod-most-reading-audio table tr.dark td,#mod-most-commented-audio table tr.dark td, #mod-most-reading-gallery table tr.dark td,#mod-most-commented-gallery table tr.dark td {
	background-color: #FFF;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #CCC;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#mod-most-reading-video table tr.white td,#mod-most-commented-video table tr.white td, #mod-most-reading-audio table tr.white td,#mod-most-commented-audio table tr.white td, #mod-most-reading-gallery table tr.white td,#mod-most-commented-gallery table tr.white td {
	background-color: #ededed;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#mod-most-reading-video table tbody,#mod-most-commented-video table tbody, #mod-most-reading-audio table tbody,#mod-most-commented-audio table tbody, #mod-most-reading-gallery table tbody,#mod-most-commented-gallery table tbody { border:1px solid #cccccc; }
div#mod-most-reading-video table tbody tr td a,div#mod-most-commented-video table tbody tr td a, div#mod-most-reading-audio table tbody tr td a,div#mod-most-commented-audio table tbody tr td a, div#mod-most-reading-gallery table tbody tr td a,div#mod-most-commented-gallery table tbody tr td a { color:#000000; }
div#mod-most-reading-video table tbody tr td a:hover,div#mod-most-commented-video table tbody tr td a:hover, div#mod-most-reading-audio table tbody tr td a:hover,div#mod-most-commented-audio table tbody tr td a:hover, div#mod-most-reading-gallery table tbody tr td a:hover,div#mod-most-commented-gallery table tbody tr td a:hover { color:#0099cc; }
#mod-most-reading-video table tr.dark img,#mod-most-commented-video table tr.dark img,#mod-most-reading-video table tr.white img,#mod-most-commented-video table tr.white img, #mod-most-reading-audio table tr.dark img,#mod-most-commented-audio table tr.dark img,#mod-most-reading-audio table tr.white img,#mod-most-commented-audio table tr.white img, #mod-most-reading-gallery table tr.dark img,#mod-most-commented-gallery table tr.dark img,#mod-most-reading-gallery table tr.white img,#mod-most-commented-gallery table tr.white img  { width:18px;height:18px; }

#tabcontent-04,#tabcontent-05,#tabcontent-06, #tabcontent-07, #tabcontent-08 { background-color:#000000;padding:3px 8px; color:#8cd6f2; font-family:'oswald',Arial,Helvetica,Tahoma,Verdana,serif;font-size:1.3em;font-weight:700;text-transform:uppercase;cursor:pointer;height:14px;letter-spacing:0.03em; }
#tabcontent-03, #tabcontent-05, #tabcontent-07 { background-color:#ededed;color:#000000;border:1px solid #cccccc;border-bottom:1px solid #ededed; }

.c59 .mod-small .div_img_play_news{
	margin-left: 55px;
    margin-top: 20px;
    position: absolute;
    width: 11%;
}

.c59 .mod-big .div_img_play_news{
	margin-left: 130px;
    margin-top: 60px;
    position: absolute;
    width: 9%;
}

.c37 .mod-big .div_img_play_news{
	margin-left: 70px;
    margin-top: 20px;
    position: absolute;
    width: 9%;
}

.play-button-by-section{
	margin-left: 100px;
    margin-top: 40px;
    position: absolute;
    width: 7%;
}


#body-list-searcher #bloque #listao .mod-small:first-child{
    border-top: none;
}

.pager-wrapper .page-ellipse {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    float: left;
    font-family: "open_sansbold";
    font-size: 15px;
    line-height: 1;
    list-style: outside none none;
    margin: 0 2px;
    padding: 2px 0 3px;
    text-align: center;
    width: 26px;
}

.pager-wrapper ul {
    margin: 0 auto;
    width: 210px;
}

.gallery-by-section .comp{
    padding: 0px !important;
}

/* cmp-last-videos, cmp-last-audios, cmp-last-galleries*/
#cmp-last-videos div.scrollable div.items div, #cmp-last-audios div.scrollable div.items div, 
#cmp-last-galleries div.scrollable div.items div{width: 145px;}
#cmp-last-videos div.scrollable div.items div.image-wrapper, #cmp-last-audios div.scrollable div.items div.image-wrapper, 
#cmp-last-galleries div.scrollable div.items div.image-wrapper {width:145px;height:82px;overflow:hidden;margin;0px;padding:0px;}
#cmp-last-videos div.scrollable div.items div img.video01.active, #cmp-last-audios div.scrollable div.items div img.video01.active, 
#cmp-last-galleries div.scrollable div.items div img.video01.active{border:1px solid #ccc;}
#cmp-last-videos div.scrollable div.items div img.video01:hover, #cmp-last-audios div.scrollable div.items div img.video01:hover,
#cmp-last-galleries div.scrollable div.items div img.video01:hover{cursor:default;}
#cmp-last-videos div.scrollable div.items div img.video01, #cmp-last-audios div.scrollable div.items div img.video01,
#cmp-last-galleries div.scrollable div.items div img.video01{height:auto;}
#cmp-last-videos div.scrollable div.items div span.play-button:hover, #cmp-last-audios div.scrollable div.items div span.play-button:hover,
#cmp-last-galleries div.scrollable div.items div span.play-button:hover {cursor:pointer;}
/* end cmp-last-videos, cmp-last-audios, cmp-last-galleries*/

div.article-credits span.article-date {
    clear: both;
    color: #1d9dd1;
    font-family: "open_sansregular",arial,verdana,serif;
    font-size: 11px;
    float:none !important;
}

.wrapper_content .c100 .home-gallery .slider-wrapper .slider .slider-item .image-description {
	margin-bottom:10px;
}

.wrapper_content .c100 .home-gallery .slider-wrapper .slider .slider-item {
	height:auto!important;
}

.wrapper_content .c100 .home-gallery .slider-wrapper {
	position:relative;
}

.wrapper_content .c100 .home-gallery .slider-wrapper .slider .slider-item .image-description{
	width:96.1%;
}

.wrapper_content .c100  .home-gallery .slider-wrapper .slider{
	height:auto!important;
}

.wrapper_content .c100 .home-gallery .slider-wrapper .right-button{
	right:10px!important;
}

.wrapper_content .c100 .home-gallery .slider-wrapper .right-button, .wrapper_content .c100 .home-gallery .slider-wrapper .left-button{
	margin-top: 145px;
}

#gallery_hem .image-wrapper, #audio_hem .image-wrapper, #video_hem .image-wrapper{
	height: 83px;
}

#gallery_hem .image-description, #audio_hem .image-description, #video_hem .image-description{
	top: 90px;
}

/*-------Formularios SU-------*/
.create-account-page .login-box p, .login-page .login-box.create-account-box p {margin: 10px 0;}
.create-account-page .menu_wrapper .search-form input[type="text"]{height:19px;}
.msg-error {
    color: #DD0000 !important;
}
.error p.msg {
    background-color: #EF1306;
    color: #FFFFFF;
    font: bold 11px Arial,Helvetica,sans-serif;
    margin-right: 3%;
    margin-top: 5px;
    padding: 5px 15px;
    position: relative;
    width: auto;
}
.login-box #reminder img {
	margin-right: 10px;
	width: 200px;
	float: left;
}
.input-wrapper select { background:transparent; -webkit-appearance: none;}
.input-wrapper .date { float:left; width:31%; margin-right:2%}
.input-wrapper .radioFieldsBlock {margin-top:10px;height: 26px;}
.input-wrapper .registerBlock {width: 100%;height: 34px;}
.login-box .input-wrapper .input-radio { width:25%; float:left;margin-left:20px}
.login-box ul#c.input-wrapper {width: 100%;}
.login-box ul#c.input-wrapper li input[type=radio] {width: auto;}
.login-box ul#c.input-wrapper li input[type=text] {border: 1px solid #c9c9c9; width: 50%;}
.login-box .comp .input-wrapper img#imgAvatar {width: 20%;float: none;}
#alert{ position: absolute; top:0; left:0; background:url(./img/bg-black.png) repeat 0 0; width:100%; height:100%; display:none; z-index:9999}
#alert .ms{ position:fixed; left:40% ; top:40%;width:400px; display:block; padding:15px; background-color:#efefef;}
#alert .ms h2{border-bottom: 2px solid #004A8A; color: #404040;font-family: Arial,Helvetica,sans-serif; font-size: 14px;padding-bottom: 5px;margin: 2px 0 0 0;}
#alert .ms .txt{ padding:15px 0}
#alert .ms .txt p	{color: #232323; font: 13px Arial,Helvetica,sans-serif;margin-bottom:5px;}
#alert .ms .txt p span, .ep-registro .ms .txt p strong{color:#0099CC}
#alert .ms .txt p.p1 {text-align:center}
#alert .ms .txt p a{background-color:#0099CC; color:#FFF; padding:5px 20px; margin:10px 0; font-size:12px; margin-right:10px;cursor:pointer;}
#alert .ms .txt p.p1 a.deleteDisabled{background-color: #BFBFBF;pointer-events: none;}

#userdown{ position: absolute; top:0; left:0; background-color:url(./img/bg-black.png) repeat 0 0; width:100%; height:100%; display:none; z-index:9999}
#userdown .ms{ position:fixed; left:40% ; top:40%;width:400px; display:block; padding:15px; background-color:#efefef;}
#userdown .ms h2{border-bottom: 2px solid #004A8A; color: #404040;font-family: Arial,Helvetica,sans-serif; font-size: 14px;padding-bottom: 5px;margin: 2px 0 0 0;}
#userdown .ms .txt{ padding:15px 0}
#userdown .ms .txt p	{color: #232323; font: 13px Arial,Helvetica,sans-serif;margin-bottom:5px;}
#userdown .ms .txt p span, .ep-registro .ms .txt p strong{color:#0099CC}
#userdown .ms .txt p.p1 {text-align:center}
#userdown .ms .txt p a{background-color:#0099CC; color:#FFF; padding:5px 20px; margin:10px 0; font-size:12px; margin-right:10px}

.Error-500 {
	font-family: "open_sansbold";
	font-size: 30px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	height: auto;
	width: 540px;
	background-color: #004472;
	display: block;
	clear: both;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.icon-500 {
	padding: 0px;
	height: 191px;
	width: 173px;
	display: block;
	float: left;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.container-error-500 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	padding: 0px;
	width: 50%;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	float: left;
	height: auto;
}

.c59-error500{width:80%;}

.container-error-500 ul li {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}

.Error-banned {
	font-family: "open_sansbold";
	font-size: 30px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	height: auto;
	width: 540px;
	background-color: #004472;
	display: block;
	clear: both;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.icon-banned{
	padding: 0px;
	height: 191px;
	width: 173px;
	display: block;
	float: left;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.container-error-banned {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	padding: 0px;
	width: 50%;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	float: left;
	height: auto;
}

.c59-errorbanned{width:80%;}

.container-error-banned ul li {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}

/*-------END Formularios SU -------*/

.c59-error404 ul li {
    list-style: outside url("..img/comun/list-bullet.png") disc !important;
}

/*-------START EDL News -------*/

.news_vle p{
  margin-bottom: 0px !important;
}

.mod-small .playerPreview{
   width: 40%;
   float: left;
}

.wrapper_content .mod-small img{
   width: 95%;
}

.wrapper_content #body-list-searcher .mod-small img{
   width: 40%;
}

.c37 .elsalv_news_vle .mod-big h1 {
   font-size: 1.7em;
   line-height: 1.1;	
}
/*-------END EDL News-------*/

/* RSS */
.wrapper_content .container .channels-rss{ background-color: #E0DFDF;border: 5px solid #B5B3B3;margin: 20px 0 0;padding: 30px 28px;position: relative;line-height: 18px;}
.wrapper_content .container .channels-rss div{overflow: hidden;}
.wrapper_content .container .channels-rss .cats{float: left;min-height: 24px;width: 185px;list-style:none;cursor:pointer}
.wrapper_content .container .channels-rss .cats a{background: url("img/comun/listado_rss_2.png") no-repeat scroll transparent;font-weight: bold;height: 18px;padding-left: 20px; font-size: 11px;}
.wrapper_content .container .channels-rss .cats a:hover{text-decoration:underline}
.wrapper_content .container .channels-rss .rss-submenu{display:none;line-height: 15px;padding:0 0 5px 0}
.wrapper_content .container .channels-rss .cats .rss-submenu  li a{list-style:none;background:none;}
.wrapper_content .container .channels-rss .cats .rss-submenu  li {line-height: 18px;}
.wrapper_content .container .channels-rss .group-container{float:left;width:180px;}
.wrapper_content .container  .canales-rss .texto{font-size:12px;line-height: 18px;font-family: Arial, Helvetica, sans-serif;font-weight: normal;color: #77777;}

/* PUBLICIDAD
.top-menu-bar {
  height: 21px;
} */

/* TAGS */

.form-tags{
  display: inline;
  font-family: "open_sansregular",Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
}

/* TAGS */

/* start cmp-las-caricatures-home*/

.epapers div img, .cartoons div img {
	height: 153px !important;
    width: 130px  !important;
}

.cartoons a{
	color: #ffffff;
}

/* end cmp-las-caricatures-home*/

#mod-most-commented-video, #mod-most-commented-gallery, #mod-most-commented-audio { display:none;clear:both;margin-top:3px;border: 1px solid #c9c9c9 !important; }

.comp .media_vle .playerPreview img{
	float: none !important;
}

/* start cmp-more-news-by-sponsor */
.comp.more-news-by-sponsor .header-comp .title.extra-width { width:auto !important; padding-right:10px; }
.comp.more-news-by-sponsor .box_marcasxl .article {overflow:hidden;}
.comp.more-news-by-sponsor .box_marcasxl .article img.img-sponsor{margin-left:10px;}
.comp.more-news-by-sponsor .box_marcasxl .article img.img-sponsor.pair{margin-bottom:14px;}
/* end cmp-more-news-by-sponsor */

/* start cmp-sponsor-header */
.header-marcasxl .sponsored img {max-width:90px;}
/* end cmp-sponsor-header */

/* start cmp-last-new-by-sponsor */
.box_marcasxl .sponsored {overflow:hidden;}
.box_marcasxl .sponsored img.img-sponsor {max-width:90px;margin-left:10px;}
/* end cmp-last-new-by-sponsor */

/* start cmp-highlight-videos-by-section */
.body-video p{
	word-spacing: 0em !important;
}
/* end cmp-highlight-videos-by-section */

/* start cmp-last-caricatures */
#cmp-last-caricatures .slider-group .slider-item .image-wrapper img{
	width:148px !important; height:92px !important;
}
#cmp-last-caricatures .slider-group .slider-item .image-description{
	left:0px !important;
	top:95px !important;
	height: 45px !important;
	overflow:hidden;
}
/* end cmp-last-caricatures */

.register-form .input-wrapper .styled-select, .input-wrapper div .styled-select select {
  background: none repeat scroll 0 0 transparent;	
}

.humor-sponsored .comp{
  padding-right: 0;	
}

.humor-sponsored .div-body-car{
  float: right;
}

.wrapper_content #body-list-searcher .mod-small img{
  max-height: 139px;
}

.textHolder .text{
  color: #ffffff;
}

.widgetPane .controlBar .searchField {
    height: 12px;
    margin: 4px;
}

.meta-video-description {
  margin-bottom: 10px;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

#comic01 .social-buttons{
  margin: 10px 0 -10px;
}

.home-gallery .margins-v{
  margin-top: -12px;
}

.wrapper_content .c100 .slider-wrapper .right-button, .wrapper_content .c100 .slider-wrapper .left-button{
  margin-left: 6px !important;
}

#audio_hem .slider-wrapper, #gallery_hem .slider-wrapper, #video_hem .slider-wrapper {
    width: 100%;
}

.gallery-detail-description  .slider-item{
   height: 543px !important;
}

.gallery-detail-description  .image-description{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	padding: 0px !important;
}

.gallery-detail-description  .image-description p{
  color: #222222 !important;
  margin-bottom: 4px !important;
}

#div-body-sup-news, #div-body-sup, #div-lateral-1, #div-lateral-2{
   margin-bottom: -5px !important;
}

.ad-bottom-front-page .comp {
    margin: 0;
    padding: 0;
}

.wrapper_content #distribution .filter-list li .item-name {float:none!important;}
.wrapper_content #distribution .filter-list li.active img {float:right;text-decoration:none;width:16px;}

.wrapper_content #distribution .section-title h3{text-transform:none!important;font-size:1.3em;}


.slider-wrapper .comp .pagination .right-button{    
   left: 575px;
}


.slider-wrapper.wgroup .slider-group.full{
   width: 620px !important;	
}

#comentarios{
   width: 97% !important;
}

#searcherpage .menu_tags_wrapper .menu-tags, .create-account-page .menu_tags_wrapper .menu-tags{ 
	padding: 10px 10px 10px 0;
}

#searcherpage .menu_tags_wrapper .de-interes, .create-account-page .menu_tags_wrapper .de-interes{
	margin-top: 1px;
}

#portada .menu_tags_wrapper .de-interes, #webmap .menu_tags_wrapper .de-interes{
	margin-top: 3px;
}

#portada .menu_tags_wrapper .menu-tags, #webmap .menu_tags_wrapper .menu-tags{ 
	padding: 5px 10px 10px 0;
}

#disqus_thread{
	padding:0px 4px 0px 0px;
}

#infscr-loading {
	margin-left: auto;
	margin-right: auto;
	width: 220px;
}

/* Results Search bar
--------------------------------------------------------------------*/

.elsalv-search-bar{
    margin-bottom: -15px;
} 
    
.elsalv-search-bar form {
    margin-bottom: 15px;
    padding: 10px 10px 5px;
    background-color: #efefef;
    height: 65px;
    padding-left: -5px;
}

.elsalv-search-bar input,
.elsalv-search-bar select {
    margin: 0;
    color:#333;
    font-size: 13px;
    font-family: 'open_sansbold';
    cursor: hand !important;
}

.searchb1 {
    width: 385px;
    margin-right: 10px;
    display: block;
    float:left;
}

.searchb1 input {
    height: 24px;
    padding: 0 5px;
    border-radius: 5px;
    border:none;
    width: 100%;
    font-family: 'open_sansbold';
    color:#999999;
}

.searchb2 {
    width: 200px;
    float: right;
    margin-right: 10px;
    display: inline-block;
    font-family: 'open_sansbold';
    margin-top: 3px;
}

.searchb2 select {
    width: 190px;
    height: 24px;
    padding: 0 5px;
    border-radius: 5px;
    float: left;

}
.searchb2 select:first-child {margin-right: 10px;}

.searchb3 {
    width: 130px;
    float: right;
    margin-top: 12px;
    margin-right: 20px;
}

.searchb3 input {
    width: 60px;
    height: 24px;
    font-size: 12px;
    font-family: 'open_sansbold';
    color:#FFF;
    text-transform:uppercase;
    border:none;
    border-radius: 5px;
    float: left;
}
.searchb3  input[type=button] {margin-right: 10px;background-color: #024a8a; cursor: hand !important;}
.searchb3  input[type=button]:hover {background-color: #024a8a; color: #0099CC; cursor: hand !important;}
.searchb3  input[type=reset] {background-color: #024a8a; cursor: hand !important;}
.searchb3  input[type=reset]:hover {background-color: #024a8a;  color: #0099CC; cursor: hand !important;}
/* Num */
.elsalv-search-bar .searchnum {margin-bottom: 15px;padding-bottom: 15px;font-size: 13px; border-bottom: solid 1px #ccc; color:#636363;font-family: 'open_sansbold';}

.hide {
    display: none;
}

/* Results Search bar FIN
--------------------------------------------------------------------*/