.wrapper_footer {width:100%;display:block;clear:both;min-height:64px;height:64px; }
.wrapper_footer .container {width:100%; float:left; background:#1d1d1d; color:#cccccc;padding-left:0px !important; padding-right:0px !important; }
.wrapper_general div.container .wrapper_footer .container { border-left:none;border-right:none; }
.bgfooter { background:url("img/footer/mini-logo.png");padding-top:26px;padding-bottom:5px;color:#FFFFFF;text-align:center; }
.menu_bottom { background-color:#e5e5e5;min-height:45px;height:45px;text-align:right; }
.menu_bottom a { padding-left:28px;text-align:left;line-height:45px;margin-right:12px;height:32px;padding-top:8px;padding-bottom:10px; }


.bg_link_map { background:url("img/footer/bg_link_map.png");background-repeat:no-repeat;height:60px !important;width:18%; }
.bg_link_legal { background:url("img/footer/bg_link_legal.png");background-repeat:no-repeat;height:60px !important;width:18%; }
.bg_link_contact { background:url("img/footer/bg_link_contact.png");background-repeat:no-repeat;height:60px !important;width:18%; }
.bg_link_faq { background:url("img/footer/bg_link_faq.png");background-repeat:no-repeat;height:60px !important;width:18%; }
.bg_link_rss { background:url("img/footer/bg_link_rss.png");background-repeat:no-repeat;height:60px !important;width:18%; }

.wrapper_footer .container p, ul li {color:#cccccc; font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size:1.1em; line-height:1.2em;}
.wrapper_footer .container h2 {color:#fff; text-transform:uppercase; font-size:2em; line-height:1em; font-family: 'open_sansbold'; font-weight:normal; margin:0 0 15px 0 }
.wrapper_footer .container ul {float:left; margin: 15px 0 0 0;}
.wrapper_footer .container ul li {font-size:1em; float:left; width:33%}


.wrapper_footer .social-icons  {display:block;clear:both;margin:-1px 0px 0px 0px;background-color:#efefef;width:100%;height:auto;min-height:44px;border-bottom:1px solid #ffffff; }
.social-icons a.social-icon {text-align:center;padding:14px 0px 14px 0px;width:18%;border-left:1px solid #FFFFFF; }
.social-icons a.social-icon.first { border-left:none; }

.wrapper_footer .comp {padding:25px}
.wrapper_footer .contactenos .comp {border-right:1px solid #fff; border-left:1px solid #fff; height:100%;}

/*-----------------Disclamer Tag Navegg---------------------*/
#overlayCookies{
	background: rgba(0, 0, 0, 0.85);
	position: fixed;
	left: 0%;
	bottom: 0;
	color: #fff;
	width: 100%;
	z-index: 9999;
	font-size: 9px !important;
	text-align: left;
	padding: 10px 30px 10px 20px;
	/*display: none;*/
	font-family:'open_sansregular',arial;
}
#overlayCookies a,
#overlayCookies a:hover
{
	color: #FFF;
}

#overlayCookies div#closeDisclamer{
	display: block;
	float: right;
	margin-right: 0px;
	width: 10%;
	margin-top:5px;

}
#overlayCookies div#closeDisclamer a {
	background:url('img/footer/close_disclamer.png') no-repeat right;
	display: block;
	width: 68px;
	height: 20px;
}
#disclamer950{
	display:block;
	width: 950px;
	margin: 0 auto
	
}

#overlayCookies div#disclamer{
	display: block;
	float:left;
	width: 85%;
	font-size: 12px;
	line-height: 1.3;
}

#overlayCookies div#disclamer a {
	color:#71d6f2 !important;
	font-weight:bold;
}

#overlayCookies div#disclamer a:hover {
	text-decoration:underline;
}

/*----------------- Termina Disclamer Tag de navegg---------------------*/