.header {
    width: 100%;
    height: 30px;
    background-color: #9CCB3A ;
    
}

.header .left, .header .right{
    width: 30%;
}

.header img {
    margin-top: 10px;
    margin-left: 5px;
    
}
.left {
    float: left;
    width: 48%;
    font-family: Arial;
    font-size: 15px;
    color: #505050;
    clear: both;
}

.follow {
    color:white;
    float: left;
    
}

.left a, 
.right a {
    font-family: Arial;
    font-size: 15px;
    color: #505050;
    text-decoration:none;
 }

.right {
    float: right;
    width: 48%;
    font-family: Arial;
    font-size: 15px;
    color: #505050;
}

.left img, .right img {
    margin: 8px;
    margin-top: 5px;
    margin-right: 5px;
}

.left .social a img, 
.right .social a img {
    margin: 8px;
    margin-top: 5px;
    margin-right:0px;
}

div.divisor {
    position: absolute;
    left: 50%;
    width: 5px;
    height: 150px;
}

.followText {
    margin-bottom: 8px;
    display: block;
    margin-top: 9px;
    margin-left: 10px;
    font: normal 11px Arial, Helvetica, sans-serif;
}

.left a.boton,
.right a.boton {
    display: inline-block;
    width: 100px;
    height: 15px;
    background-color:#9BCB39;        
    color: white;
    padding: 5px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.botonContainer {
    text-align: right;
}

div.right a img.logo {
    margin-right:20px;
}