.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 764px;
  }
  .offset11 {
    margin-left: 702px;
  }
  .offset10 {
    margin-left: 640px;
  }
  .offset9 {
    margin-left: 578px;
  }
  .offset8 {
    margin-left: 516px;
  }
  .offset7 {
    margin-left: 454px;
  }
  .offset6 {
    margin-left: 392px;
  }
  .offset5 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 268px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 144px;
  }
  .offset1 {
    margin-left: 82px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%;
  }
  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%;
  }
  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%;
  }
  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%;
  }
  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%;
  }
  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%;
  }
  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%;
  }
  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%;
  }
  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%;
  }
  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%;
  }
  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%;
  }
  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 710px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 648px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 586px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 524px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 462px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 400px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 338px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 276px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 214px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 152px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 90px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 28px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 20px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}
@media (min-width: 980px) {
  body > #footer #site-map .menu-site-map-container div:nth-child(4) {
    margin-right: 0px !important;
    padding-left: 20px;
    text-align: right;
  }
  body > #footer #site-map .menu-site-map-container div:nth-child(n+5) {
    margin-right: 0px !important;
    margin-left: 20px;
    text-align: right;
  }
  body > #footer .footer-logo img {
    margin-top: -50px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #header-menu .student-header-menu,
  #header-menu .faculty-staff-header-menu {
    width: 735px !important;
  }
  #header-menu .priority-links-container ul {
    width: 735px !important;
  }
  #header-menu .priority-links-container ul li a {
    width: 182px !important;
  }
  #header-menu .student-header-menu .local-header-menus,
  #header-menu .faculty-staff-header-menu .local-header-menus,
  #header-menu .student-header-menu .student-staff-quick-links,
  #header-menu .faculty-staff-header-menu .student-staff-quick-links {
    max-height: 226px !important;
  }
  #header-menu .student-header-menu .local-header-menus .column,
  #header-menu .faculty-staff-header-menu .local-header-menus .column,
  #header-menu .student-header-menu .student-staff-quick-links .column,
  #header-menu .faculty-staff-header-menu .student-staff-quick-links .column {
    width: 98px !important;
  }
  #global-nav {
    margin-top: 0px !important;
  }
  .banner {
    margin-left: -20px;
    margin-right: -20px;
  }
  .banner .column:last-child:before {
    right: 0;
  }
  #content.home .hero-unit {
    height: 279px;
  }
  body > #footer {
    text-align: right;
  }
  body > #footer #sub-footer #social-footer-widget-container #social-footer-widget {
    width: 724px;
  }
  body > #footer #sub-footer #footer-widget-container #footer-widget {
    width: 724px;
  }
  #content #main-content .horizontal-menu li a {
    width: 361px !important;
  }
  body.single-format-video #wrapper {
    min-height: initial;
  }
  body.single-format-video #footer {
    min-height: 100%;
  }
}
@media (max-width: 767px) {
  #parent-mobile-bar .nav {
    background-color: #E0E0E0;
    border-bottom: solid 1px #ffffff;
    height: auto;
  }
  #parent-mobile-bar .nav li {
    float: none;
  }
  .mobile-bar .nav {
    border-bottom: solid 1px #ffffff;
  }
  .mobile-bar .menu a {
    padding: 10px 44px !important;
  }
  .banner {
    margin-left: 0;
    margin-right: 0;
  }
  .banner .column:before {
    display: none !important;
  }
  .banner .column {
    padding: 5px 15px;
    height: auto !important;
  }
  .banner .column h2 {
    font-size: 16px;
  }
  .action {
    padding: 15px;
  }
  .action h3 {
    font-size: 14px;
  }
  .box {
    height: auto !important;
  }
  .featured article {
    height: auto !important;
  }
  .thumbnail {
    width: auto !important;
    height: auto !important;
    float: none !important;
  }
  .thumbnail img {
    width: 100% !important;
  }
  .box .thumbnail + section {
    margin-left: 0 !important;
  }
  body {
    padding: 0;
  }
  .mobile-bar .icon {
    background-position: 0 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    display: block;
  }
  .mobile-bar .icon-home-gsu {
    background-image: url(../gsu-core/img/icon-home.png);
  }
  .mobile-bar .icon-campus-map {
    background-image: url(../gsu-core/img/icon-campus-map.png);
  }
  .mobile-bar .icon-phone-gsu {
    background-image: url(../gsu-core/img/icon-phone.png);
  }
  .mobile-bar .icon-az {
    background-image: url(../gsu-core/img/icon-az.png);
  }
  .mobile-bar .icon-search-gsu {
    background-image: url(../gsu-core/img/icon-search.png);
  }
  .mobile-bar .tab-pane.active {
    background-color: #636363;
    color: white;
  }
  .mobile-bar #search {
    padding: 5px 15px;
    line-height: 24px;
  }
  .mobile-bar #search form {
    margin: 0;
  }
  .mobile-bar #search input {
    line-height: 1;
    width: 100%;
    height: 32px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mobile-bar .nav {
    height: 44px;
    background: #E0E0E0;
    margin: 0;
    clear: both;
  }
  .mobile-bar .nav li {
    margin: 0;
    border: none;
    float: left;
  }
  .mobile-bar .nav li.album88 {
    float: right;
  }
  .mobile-bar .nav li a {
    color: #333333 !important;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 7px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .mobile-bar .nav li .icon-album88 {
    background: url('../gsu-core/img/glyphicons-halflings.png') no-repeat -408px -22px;
    width: 16px;
    height: 16px;
  }
  .mobile-bar .nav li.menu a {
    background-image: url('/wp-content/themes/gsu-core/img/menu-grip.png');
    background-position: left 0px;
    background-repeat: no-repeat;
    padding-left: 44px;
  }
  .mobile-bar .nav li.menu.active a {
    background-image: url('/wp-content/themes/gsu-core/img/menu-grip-white.png');
  }
  .mobile-bar .nav li.pull-right {
    float: right;
  }
  .mobile-bar .nav li.search {
    float: right;
  }
  .mobile-bar .nav li.active a {
    background-color: #636363;
    color: white;
  }
  .mobile-bar .nav + .nav {
    border-top: solid 1px #ffffff;
  }
  .mobile-bar .menu {
    padding: 0;
    margin: 0;
    /*border-top: solid 1px @white;*/
  }
  .mobile-bar .menu a {
    color: white;
    line-height: 24px;
    display: block;
  }
  .mobile-bar .menu > li {
    background: #636363;
    display: block;
    list-style: none;
  }
  .mobile-bar .menu > li > a {
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-bottom: solid 1px #ffffff;
    display: block;
  }
  .mobile-bar .menu > li > .sub-menu {
    padding: 10px 0;
    margin: 0;
    display: none;
  }
  .mobile-bar .menu > li > .sub-menu li {
    display: block;
    list-style: none;
  }
  .mobile-bar .menu > li > .sub-menu li a {
    padding: 0 20px;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    border: none;
  }
  .mobile-bar .menu > li > .sub-menu li .sub-menu {
    margin: 0;
    padding: 0 0 10px;
  }
  .mobile-bar .menu > li > .sub-menu li .sub-menu li a {
    font-weight: normal;
    text-shadow: none;
  }
  .mobile-bar .menu > li:hover {
    background: #315AAD;
  }
  .mobile-bar .menu > li:hover > a {
    background: url('/wp-content/themes/gsu-core/img/chevron-down-white.png') right no-repeat;
  }
  .mobile-bar .menu > li:hover > .sub-menu {
    display: block;
  }
  #logo {
    width: auto;
    margin-top: 0px;
    text-align: center;
  }
  #content {
    margin-bottom: 0px!important;
  }
  #content #main-content .horizontal-menu li {
    width: 100%;
  }
  #content #main-content .horizontal-menu li a {
    width: 100% !important;
  }
  body.home #masthead {
    /* Carousel */
  }
  body.home #masthead .carousel .carousel-inner .item .outer {
    position: relative;
  }
  body.home #masthead .carousel .carousel-inner .item .outer .inner {
    width: auto;
    height: auto;
  }
  body.home #masthead .carousel .carousel-inner .item .outer .inner blockquote {
    position: relative;
    width: auto;
    margin: 0;
  }
  body.home #masthead .carousel .carousel-control {
    top: 120px;
  }
  body.home #content {
    padding: 0 20px;
    margin-bottom: 0;
  }
  body.home #content > .container {
    background: none;
    padding: 0;
  }
  body.home #content .featured {
    background: white;
  }
  body.home #content .featured article {
    border-bottom: 1px dashed #0064cd;
    margin-bottom: 20px;
  }
  body.home #content .featured article:after {
    content: none;
    display: none;
  }
  body.home #content #events {
    background: none;
    padding: 0 10px;
    margin: 0 -10px;
  }
  body.home #content #events h4 {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
  body.home #content #events .event {
    background-color: #7c796f;
    background-image: -moz-linear-gradient(top, #8a8577, #676762);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8a8577), to(#676762));
    background-image: -webkit-linear-gradient(top, #8a8577, #676762);
    background-image: -o-linear-gradient(top, #8a8577, #676762);
    background-image: linear-gradient(to bottom, #8a8577, #676762);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a8577', endColorstr='#ff676762', GradientType=0);
    padding: 0 20px;
    float: none;
  }
  body.home #content #events .event:after {
    content: none;
    display: none;
  }
  body > #footer {
    text-align: right;
  }
  body > #footer #sub-footer #social-footer-widget-container #social-footer-widget {
    width: 100%;
  }
  body > #footer #sub-footer #footer-widget-container #footer-widget {
    width: 100%;
  }
  body > #footer .container {
    padding: 0 20px;
  }
  body > #footer #site-map {
    min-height: 0;
    text-align: left;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  body > #footer .footer-address span:nth-child(n+2) {
    border: none;
  }
  body > #footer .footer-legal a {
    padding-top: 5px !important;
  }
  body > #footer .footer-legal span {
    padding-top: 5px !important;
  }
  #content .container > .row {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
  }
  #content .column .thumbnail + section {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
  #content .column:after {
    border-left: none !important;
    border-right: none !important;
  }
  /* Hero Unit */
  .hero-unit {
    padding: 0 !important;
    min-height: 0;
    height: auto;
  }
  .hero-unit img {
    position: relative;
  }
  .hero-unit .well {
    width: auto !important;
    margin: 20px;
  }
  .hero-unit .well.well-left,
  .hero-unit .well.well-right,
  .hero-unit .well.well-topleft,
  .hero-unit .well.well-topright,
  .hero-unit .well.well-bottomleft,
  .hero-unit .well.well-bottomright {
    float: none;
    position: relative !important;
    left: 0px;
    top: 0px;
  }
  #content.home .hero-unit {
    margin: 0;
  }
  /* End Hero Unit */
  /*Home Image*/
  #content.home .home-image {
    margin: 0;
  }
  /* News */
  .news ul li {
    width: auto;
    display: block;
    margin: 15px;
  }
  body.home .news {
    margin-left: -20px;
    margin-right: -20px;
  }
  /* End News */
  /* Social Toolbar Pro */
  #wp-social-toolbar {
    display: none !important;
  }
  /* Single Post */
  body #main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  body #content.home #main-content {
    padding-left: 0;
    padding-right: 0;
  }
  body #content.video-post #main-content {
    padding-left: 0;
    padding-right: 0;
  }
  /* Masonry */
  .masonry .block {
    width: auto !important;
    float: none !important;
  }
  .masonry .block img {
    width: 100%;
    height: auto;
  }
  .masonry .block.primary.masonry-brick {
    left: 20px;
    right: 20px;
  }
  body.single-format-video #wrapper {
    min-height: initial;
  }
  body.single-format-video #footer {
    min-height: 100%;
  }
}
.retina {
  display: none;
}
.non-retina {
  display: block;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .retina {
    display: block;
  }
  .non-retina {
    display: none;
  }
  #distinctions #distinctions-carousel .item blockquote.rankings:before {
    background-image: url(img/icon-mortar-board@2x.png);
  }
  #distinctions #distinctions-carousel .item blockquote.recognition:before {
    background-image: url(img/icon-paper-airplane@2x.png);
  }
  #distinctions #distinctions-carousel .item blockquote.reputation:before {
    background-image: url(img/icon-quote@2x.png);
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 735px !important;
  }
  #content .home-page {
    background-image: none;
  }
  #content .home-page .masthead .post {
    height: 400px;
  }
  #content .home-page .masthead.fullwidth {
    height: 400px;
  }
  #content .home-page .masthead.fullwidth .post {
    max-height: 400px;
  }
  #content .home-page .masthead.fullwidth .content {
    width: 720px;
  }
  #content .home-page .masthead.fullwidthbanner {
    height: 400px;
  }
  #content .home-page .masthead.fullwidthbanner .post {
    max-height: 400px;
  }
  #content .home-page .masthead.fullwidthbanner .content {
    width: 720px;
  }
  #content .home-page .masthead .post .link .wrapper,
  #content .home-page .masthead .post-hover .link .wrapper {
    height: auto !important;
  }
  #content .home-page .masthead .post .link .wrapper .content h3,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 {
    font-size: 30px;
  }
  #content .home-page .masthead .post .link .wrapper .content h3 .font50,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font50,
  #content .home-page .masthead .post .link .wrapper .content h3 .font51,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font51,
  #content .home-page .masthead .post .link .wrapper .content h3 .font52,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font52 {
    font-size: 38px;
  }
  #content .home-page .masthead .post .link .wrapper .content h3 .font53,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font53,
  #content .home-page .masthead .post .link .wrapper .content h3 .font54,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font54 {
    font-size: 40px;
  }
  #content .home-page .masthead .post .link .wrapper .content h3 .font55,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font55 {
    font-size: 41px;
  }
  #content .home-page .masthead .post .link .wrapper .content h3 .font56,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font56,
  #content .home-page .masthead .post .link .wrapper .content h3 .font57,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font57 {
    font-size: 42px;
  }
  #content .home-page .masthead .post .link .wrapper .content h3 .font58,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font58,
  #content .home-page .masthead .post .link .wrapper .content h3 .font59,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font59,
  #content .home-page .masthead .post .link .wrapper .content h3 .font60,
  #content .home-page .masthead .post-hover .link .wrapper .content h3 .font60 {
    font-size: 44px;
  }
  #content .home-page nav ul li a {
    width: 366.3px;
  }
  #content .home-page .main-content {
    float: none;
    width: auto;
  }
  #content .home-page .main-content #news-container {
    margin-right: -15px;
  }
  #content .home-page .main-content .post,
  #content .home-page .main-content .wb-container,
  #content .home-page .main-content .twitter-feed,
  #content .home-page .main-content .social-media-box {
    width: 235px;
    height: 235px;
  }
  #content .home-page .main-content .social-media-box {
    margin: 15px 0px 0px 0px;
  }
  #content .home-page .main-content .social-media-box .tab-content {
    height: 187px;
  }
  #content .home-page .main-content .social-media-box .tab-content article {
    height: 139px !important;
  }
  #distinctions #distinctions-carousel .carousel-inner .item blockquote {
    width: 312px;
  }
  #distinctions #distinctions-carousel .carousel-inner .item blockquote p {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  body.home #page-top .nav {
    margin-bottom: 0;
  }
  body.home #logo {
    position: relative;
    width: auto;
    height: 200px;
    padding: 18px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    z-index: 10;
    top: 0;
    left: auto;
    margin-left: 0;
    background: url(img/logo-large.png) no-repeat center center;
  }
  body.home #logo img {
    display: none;
  }
  body.home #logo:after {
    display: none;
  }
  body.home #global-nav {
    margin-left: 0;
  }
  body.home #content {
    padding: 0 !important;
  }
  #content .home-page {
    background-image: none;
  }
  #content .home-page .post h3 br {
    display: none !important;
  }
  #content .home-page .masthead {
    background: #ffffff;
    height: auto;
  }
  #content .home-page .masthead.fullwidth {
    max-height: 495px;
    height: auto;
  }
  #content .home-page .masthead.fullwidth .content {
    width: auto;
  }
  #content .home-page .masthead.fullwidthbanner .content {
    width: auto;
  }
  #content .home-page .masthead .hero-unit .well {
    min-height: 0;
    margin: 15px;
  }
  #content .home-page .masthead .post .link,
  #content .home-page .masthead .post.hover .link {
    text-decoration: none;
  }
  #content .home-page .masthead .post .link .wrapper,
  #content .home-page .masthead .post.hover .link .wrapper {
    position: relative;
    background: none !important;
    height: auto !important;
  }
  #content .home-page .masthead .post .link .wrapper h3,
  #content .home-page .masthead .post.hover .link .wrapper h3 {
    font-size: 24px;
    margin-top: 0;
  }
  #content .home-page .masthead .post .link .wrapper h3 .font50,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font50,
  #content .home-page .masthead .post .link .wrapper h3 .font51,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font51,
  #content .home-page .masthead .post .link .wrapper h3 .font52,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font52,
  #content .home-page .masthead .post .link .wrapper h3 .font53,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font53,
  #content .home-page .masthead .post .link .wrapper h3 .font54,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font54,
  #content .home-page .masthead .post .link .wrapper h3 .font55,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font55,
  #content .home-page .masthead .post .link .wrapper h3 .font56,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font56,
  #content .home-page .masthead .post .link .wrapper h3 .font57,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font57,
  #content .home-page .masthead .post .link .wrapper h3 .font58,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font58,
  #content .home-page .masthead .post .link .wrapper h3 .font59,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font59,
  #content .home-page .masthead .post .link .wrapper h3 .font60,
  #content .home-page .masthead .post.hover .link .wrapper h3 .font60 {
    font-size: 24px;
  }
  #content .home-page .masthead .post .link .wrapper h4,
  #content .home-page .masthead .post.hover .link .wrapper h4 {
    font-size: 20px;
  }
  #content .home-page .masthead .post .link .wrapper .content,
  #content .home-page .masthead .post.hover .link .wrapper .content {
    color: #333333 !important;
  }
  #content .home-page .masthead .post .link .wrapper .excerpt,
  #content .home-page .masthead .post.hover .link .wrapper .excerpt {
    display: none !important;
  }
  #content .home-page nav {
    display: block;
    width: auto;
    border-top: 1px solid #f2f1f1;
    margin-top: 0px;
  }
  #content .home-page nav ul li {
    width: 100%;
  }
  #content .home-page nav ul li a {
    width: 100%;
  }
  #content .home-page .main-content {
    width: auto;
    float: none;
    margin: 0px;
  }
  #content .home-page .main-content .post,
  #content .home-page .main-content .wb-container,
  #content .home-page .main-content .twitter-feed,
  #content .home-page .main-content .social-media-box {
    margin: 15px;
    width: auto;
    height: 260px;
    float: none;
  }
  #content .home-page .main-content .social-media-box article {
    height: 164px !important;
  }
  #content .home-page-nav {
    background-color: #333 !important;
  }
  #content .home-page-nav.left {
    left: -138px !important;
  }
  #content .home-page-nav.right {
    right: -138px !important;
  }
  #distinctions {
    padding: 0 20px;
  }
  #distinctions #distinctions-carousel .carousel-inner .item blockquote {
    position: relative;
    width: auto;
    min-height: 0;
  }
  #distinctions .carousel-control {
    display: none;
  }
  body.single #main-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  body.single-format-gallery.featured-post .gallery.featured section.gallery .container {
    width: auto;
  }
}
@media (max-width: 430px) {
  #gsu-home-page .news .news-outer .news-inner span.excerpt {
    display: none;
  }
  body.featured-post .featured header .container .logo {
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
  body.featured-post .featured header .container .util-bar {
    width: 100%;
    display: block;
    border-top: 1px groove #ffffff;
  }
  body.featured-post .featured header .container .util-bar .util-group {
    display: block;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  body.featured-post .featured header .container .util-bar .util-group .util-item {
    border: none;
  }
  body.featured-post .featured header .container .util-bar .util-group .util-item .close {
    border: none;
  }
  body.featured-post .featured #main-content .container {
    padding-top: 109px;
  }
}
