#sm-forced-wrapper {
  width: 260px;
  height: 260px;
  margin: 20px;
  overflow: visible;
}
#content .social-media-box {
  position: relative !important;
  overflow: visible !important;
}
#content .social-media-box .nav-tabs {
  padding: 0;
  margin: 0;
  display: block;
  border: none;
}
#content .social-media-box .nav-tabs li {
  padding: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  list-style: none;
  display: block;
  background-color: #eeeeee;
  -webkit-transition: all 0;
  -moz-transition: all 0;
  -o-transition: all 0;
  transition: all 0;
}
#content .social-media-box .nav-tabs li[data-index="0"] {
  -webkit-box-shadow: inset -2px -2px 2px #cccccc;
  -moz-box-shadow: inset -2px -2px 2px #cccccc;
  box-shadow: inset -2px -2px 2px #cccccc;
  float: left;
}
#content .social-media-box .nav-tabs li[data-index="1"] {
  -webkit-box-shadow: inset 2px -2px 2px #cccccc;
  -moz-box-shadow: inset 2px -2px 2px #cccccc;
  box-shadow: inset 2px -2px 2px #cccccc;
  float: right;
}
#content .social-media-box .nav-tabs li.social-tab-instagram a {
  background: transparent url('img/social_media_tabs.png') right bottom no-repeat;
}
#content .social-media-box .nav-tabs li.social-tab-instagram.active {
  background-color: #3f729b;
}
#content .social-media-box .nav-tabs li.social-tab-instagram.active a {
  background: transparent url('img/social_media_wh.png') center bottom no-repeat;
}
#content .social-media-box .nav-tabs li.social-tab-instagram.active:after {
  background-color: #3f729b;
}
#content .social-media-box .nav-tabs li.social-tab-facebook a {
  background: transparent url('img/social_media_tabs.png') center center no-repeat;
}
#content .social-media-box .nav-tabs li.social-tab-facebook.active {
  background-color: #3959a6;
}
#content .social-media-box .nav-tabs li.social-tab-facebook.active a {
  background: transparent url('img/social_media_wh.png') center center no-repeat;
}
#content .social-media-box .nav-tabs li.social-tab-facebook.active:after {
  background-color: #3959a6;
}
#content .social-media-box .nav-tabs li.social-tab-twitter a {
  background: transparent url('img/social_media_tabs.png') left top no-repeat;
}
#content .social-media-box .nav-tabs li.social-tab-twitter.active {
  background-color: #00b7f7;
}
#content .social-media-box .nav-tabs li.social-tab-twitter.active a {
  background: transparent url('img/social_media_wh.png') center top no-repeat;
  display: block;
}
#content .social-media-box .nav-tabs li.social-tab-twitter.active:after {
  background-color: #00b7f7;
}
#content .social-media-box .nav-tabs li a {
  line-height: 24px;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  display: table-cell;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#content .social-media-box .nav-tabs li a:hover {
  border: none;
}
#content .social-media-box .nav-tabs li span.join {
  display: none;
  padding: 6px;
  padding-left: 0;
  line-height: 18px;
  height: 36px;
  margin: 0;
  margin-left: 48px;
  font-weight: bold;
  color: #ffffff;
  color: rgba(256, 256, 256, 0.8);
}
#content .social-media-box .nav-tabs li.active {
  width: auto !important;
  float: none !important;
  margin-left: 48px;
  margin-right: 48px;
}
#content .social-media-box .nav-tabs li.active a {
  display: block;
  float: left;
}
#content .social-media-box .nav-tabs li.active span.join {
  display: table-cell;
  vertical-align: middle;
}
#content .social-media-box .tab-content {
  width: 100%;
  height: 212px;
  position: relative;
  overflow: visible;
}
#content .social-media-box .tab-content .tab-pane {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: white;
}
#content .social-media-box .tab-content .tab-pane.active {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#content .social-media-box .tab-content .tab-pane header {
  height: 48px;
  line-height: 24px;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}
#content .social-media-box .tab-content .tab-pane header .pull-right {
  float: none;
  position: absolute;
  top: 11px;
  right: 6px;
}
#content .social-media-box .tab-content .tab-pane article {
  overflow: hidden;
  margin: 0;
  border: none;
  width: 100%;
  height: 214px;
  background: #f4f4f4;
}
#content .social-media-box .tab-content .tab-pane article .duration {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #99A5AC;
  font-size: 12px;
}
#social-box-instagram header {
  background: #3f729b;
}
#social-box-instagram header h2 {
  color: white;
  font-size: 13px;
  padding-left: 24px;
  background: transparent url('img/gsu_sm_logo_wh.png') left center no-repeat;
  height: 22px;
  margin: 0;
  line-height: 22px;
}
#social-box-instagram header h2 a {
  color: white;
  text-decoration: none;
}
#social-box-instagram header .sm-action {
  background: white;
  color: #3f729b;
  padding: 0 4px;
  font-weight: normal;
  font-size: 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#social-box-instagram header .sm-action a {
  color: #3f729b;
}
#social-box-instagram header .sm-action a:hover {
  text-decoration: none;
}
#content #social-box-facebook header {
  background: #3959a6;
}
#content #social-box-facebook header h2 {
  color: white;
  font-size: 13px;
  padding-left: 24px;
  background: transparent url('img/gsu_sm_logo_wh.png') left center no-repeat;
  height: 22px;
  margin: 0;
  line-height: 22px;
}
#content #social-box-facebook header h2 a {
  color: white;
  text-decoration: none;
}
#content #social-box-facebook header .pull-right {
  margin-top: 2px;
}
#content #social-box-facebook header .pull-right.share-icon {
  width: 24px;
  height: 24px;
  float: left;
  display: block;
}
#content #social-box-facebook header .pull-right.share-icon .share-facebook-icon {
  width: 24px;
  height: 24px;
  float: left;
  display: block;
  background: url('img/facebook-share.png') center no-repeat;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#content #social-box-facebook header .pull-right.share-icon .share-facebook-icon:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#content #social-box-facebook article {
  position: relative;
}
#content #social-box-facebook article .fb-message {
  padding: 8px;
  line-height: 15px;
  font-size: 13px;
  max-height: 121px;
}
#content #social-box-facebook article .facebook-like-box {
  position: absolute;
  left: 4px;
  bottom: 1px;
}
#social-box-twitter header {
  background: #00b7f7;
}
#social-box-twitter header h2 {
  color: white;
  font-size: 13px;
  padding-left: 24px;
  background: transparent url('img/gsu_sm_logo_wh.png') left center no-repeat;
  height: 22px;
  margin: 0;
  line-height: 22px;
}
#social-box-twitter header h2 a {
  color: white;
  text-decoration: none;
}
#social-box-twitter header .pull-right {
  margin-top: 2px;
}
#social-box-twitter article {
  position: relative;
}
#social-box-twitter article .twitter-message {
  padding: 10px;
  line-height: 15px;
  font-size: 13px;
}
#social-box-twitter article .twitter-actions {
  position: absolute;
  bottom: 6px;
  left: 0;
  height: 20px;
}
#social-box-twitter article .twitter-actions ul {
  margin: 0;
  padding: 0;
}
#social-box-twitter article .twitter-actions ul li {
  list-style-type: none;
  float: left;
  padding-left: 6px;
  font-size: 9px;
}
#social-box-twitter article .twitter-actions ul li a {
  color: #9AA5AD;
}
#social-box-twitter article .twitter-actions ul li a:hover {
  text-decoration: none;
}
#social-box-twitter article .twitter-actions ul li i {
  background: transparent url('img/twitter_sprite.png') no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: text-bottom;
}
#social-box-twitter article .twitter-actions ul li i.reply {
  background-position: 0 0;
}
#social-box-twitter article .twitter-actions ul li i.retweet {
  background-position: -20px 0px;
}
#social-box-twitter article .twitter-actions ul li i.favorite {
  background-position: -37px 0;
}
.twitter-message s {
  text-decoration: none;
}
