	.text000 {font: 10pt ; font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; color: #3366CC;}

	.text1 {color: #FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	.text1a {font: 15px; font-family: Arial; color: black;  font-weight: bold; }
	.text1b {color: #FFFFFF; font-family:Arial; font-size:20; font-weight:bolder; text-decoration: none; padding-right: 1px; }
	.text1c {color: #FFFFFF; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	.text1c_1 {color: #000; font-family:Arial; font-size:15; }
	.text2 {font: 10px; font-family: Tahoma; color:#000000; font-weight: bold; }
	.text3 {font: 12px; font-family: Arial; color:#000000; font-weight: bold; }
	.text4 {color:#000000; font-family:Arial; font-size:16; font-weight:bold; }
	.text4_1 {color:#000000; font-family:Arial; font-size:16; font-weight:bold; }
	.text4a {color: #000000; font-family: Arial; font-size: 15; font-weight: bold; padding-right: 1px; }
	.text4b {color: #990000; font-family: Arial; font-size: 18; font-weight: bolder; padding-right: 1px; }
	.text4c {color:#000000; font-family:Arial; font-size:15; font-weight:bold; letter-spacing: 0px; padding-right: 1px; }
	.text4d {color:#E6373A; font-family:Arial; font-size:16; font-weight:bold; letter-spacing: 0px;}
	.text4e {color:#0073AA; font-family:Arial; font-size:16; font-weight:none; letter-spacing: 0px;}
	.text4f {color:#FF0000; font-family:Arial; font-size:17; font-weight:bold; letter-spacing: 0px;}
	.text4g {color:#003366; font-family:Arial; font-size:15; font-weight:bold; letter-spacing: 0px; padding-right: 1px; }
	.text4h {color:#003366; font-family:Arial; font-size:16; font-weight:bold; letter-spacing: 0px;}
	.text5 {color:#000000; font: 18px; font-family: Arial; font-weight: bold; padding-right: 1px; }
	.text5a {color:#000000; font: 18px; font-family: Arial; font-weight: bold; background-color: #FFE682; }
	.text5b {color:#000000; font: 22px; font-family: Arial; font-weight: bold; }
	.text5c { color:#004600; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; background-color: transparent; }
	.text6 {color:#000000; font-family:Arial; font-size:14; font-weight:bold; padding-right: 1px; }
	.text6a {color:#000000; font-family:Arial; font-size:14; font-weight:none; }
	.text6b {color:#828282; font-family:Arial; font-size:16; font-weight:none; }
	.text7 {color:#FFF0DC; font-family:Arial; font-size:14; font-weight:bold; }
	.text8 {color: #000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	.textArrow {color:#848577; font-family:Arial; font-size:15; font-weight:bold; }
	.text_1a {font: 15px; font-family: Arial; color: black;  font-weight: bold; padding-right: 1px; }
	.text_1b { color:#000000;font-family:Arial;font-size:13px;font-weight:bold; }
	.text_1b_eng { color:#000000;font-family:Arial;font-size:10px;font-weight:bold; }
	.text_1c { color:#000000;font-family:Arial;font-size:15px;font-weight:none; padding-right: 1px; }


	.style1 {color:#000000; font-family:Arial; font-size:16; font-weight:bold; }
	.style2 {color:#FF0000; font-family:Arial; font-size:16; font-weight:bold; }
	.style3 {color:#0000FF; font-family:Arial; font-size:16; font-weight:bold; }
	.style4 {color:#6600CC; font-family:Arial; font-size:16; font-weight:bold; }
	.style5 {color:#000066; font-family:Arial; font-size:16; font-weight:bold; }


	#Banner {font-size:0; } 


	.body { color:#000000; font-family: Arial; font-size:15px; font-weight:bold; }
	.body2 { color:#000000;font-family:Arial;font-size:15px;font-weight:bold;}
	select.selectstyle {background:#FFFFFF; color:#000000; border:0px solid #000000; font-size:11px;}
	select.selectstyle1 {background:#FFFFFF; color:#000000; border:0px solid #000000; font-size:12px;}

	.iewrap1{
		position:relative;}
	.iewrap2{
		position:absolute;}


		INPUT.SmallButt {
		font-family: tahoma, Arial;
		font-size: 12px;
		font-weight: none;
		color: #FFFFFF;
		background-color: #000000;
		border : 1px black solid;
		border-color: #000000;
		width : 80px;
		height: 20px;
		cursor : hand;
	}

	INPUT.SmallButt1 {
		font-family: tahoma, Arial;
		font-size: 12px;
		font-weight: none;
		color: #FFFFFF;
		background-color: #000000;
		border : 1px black solid;
		border-color: #FFFFFF;
		width : 80px;
		height: 20px;
		cursor : hand;
	}



	a.MenuLink:link{font-size:20; font-family:Arial; color:#000000; font-weight:bold; text-decoration: none; background-color: transparent; }
	a.MenuLink:visited{font-size:20; font-family:Arial; color:#000000; font-weight:bold; text-decoration: none; background-color: transparent; }
	a.MenuLink:active{font-size:20; font-family:Arial; color:#000000; font-weight:bold; text-decoration: none; background-color: transparent; }
	a.MenuLink:hover {font-size:20; font-family:Arial; color:#786E5F; font-weight:bold; text-decoration: none; background-color: transparent; }	

	
	a.Link1:link{color: #003366; font-family:Arial;font-size:17;font-weight:bold; text-decoration: none; }
	a.Link1:visited{color: #003366; font-family:Arial;font-size:17;font-weight:bold; text-decoration: none; }
	a.Link1:active{color: #003366; font-family:Arial;font-size:17;font-weight:bold; text-decoration: none; }
	a.Link1:hover {color: #FFFFFF; font-family:Arial;font-size:17;font-weight:bold; text-decoration: none; background-color: #003366; }	

	a.Link2:link{color: #003366; font-family:Arial;font-size:15;font-weight:bold; text-decoration: none; }
	a.Link2:visited{color: #003366; font-family:Arial;font-size:15;font-weight:bold; text-decoration: none; }
	a.Link2:active{color: #003366; font-family:Arial;font-size:15;font-weight:bold; text-decoration: none; }
	a.Link2:hover {color: #FFFFFF; font-family:Arial;font-size:15;font-weight:bold; text-decoration: none; background-color: #003366; }	

	a.Link3:link{color:#003366; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link3:visited{color:#003366; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link3:active{color:#003366; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link3:hover {color:#FFFFFF; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; background-color: transparent; }



	a.Link3W:link{color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link3W:visited{color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link3w:active{color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link3w:hover {color:#000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; background-color: transparent; }



	a.Link3a:link{color:#4582FC; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3a:visited{color:#4582FC; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3a:active{color:#4582FC; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3a:hover {color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link3b:link{color:#0000FE; font-family:Arial; font-size:15; font-weight:bold; text-decoration: underline; }
	a.Link3b:visited{color:#0000FE; font-family:Arial; font-size:15; font-weight:bold; text-decoration: underline; }
	a.Link3b:active{color:#0000FE; font-family:Arial; font-size:15; font-weight:bold; text-decoration: underline; }
	a.Link3b:hover {color:#FFFFFF; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link3c:link{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3c:visited{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3c:active{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3c:hover {color:#0000FE; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link3d:link{color:#4582FC; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link3d:visited{color:#4582FC; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link3d:active{color:#4582FC; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link3d:hover {color:#000000; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; background-color: transparent; }


	a.Link3f:link{color:#ff0000; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link3f:visited{color:#ff0000; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link3f:active{color:#ff0000; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link3f:hover {color:#000000; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link3e:link{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3e:visited{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3e:active{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link3e:hover {color:#4582FC; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; background-color: transparent; }



	a.Link3g:link{color:#FE9A00; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link3g:visited{color:#FE9A00; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link3g:active{color:#FE9A00; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link3g:hover {color:#FFFFFF; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; background-color: #FE9A00; }

	a.Link4:link{color:#003366; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link4:visited{color:#003366; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link4:active{color:#003366; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link4:hover {color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; background-color: #003366; }

	a.Link5:link{color:#003366; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; padding-right: 1px; }
	a.Link5:visited{color:#003366; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; padding-right: 1px; }
	a.Link5:active{color:#003366; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; padding-right: 1px; }
	a.Link5:hover {color:#FFFFFF; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; background-color: #003366; padding-right: 1px; }

	a.Link5a:link{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link5a:visited{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link5a:active{color:#000000; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }
	a.Link5a:hover {color:#0000FF; font-family:Arial; font-size:14; font-weight:bold; text-decoration: none; }

	a.Link6:link{color:#000000; font-family:Arial; font-size:13; font-weight:bold; text-decoration: none; }
	a.Link6:visited{color:#000000; font-family:Arial; font-size:13; font-weight:bold; text-decoration: none; }
	a.Link6:active{color:#000000; font-family:Arial; font-size:13; font-weight:bold; text-decoration: none; }
	a.Link6:hover {color:#000000; font-family:Arial; font-size:13; font-weight:bold; text-decoration: none; background-color: transparent; }
	
	a.Link7:link{color:#003366; font-family:Arial; font-size:16; font-weight:bold; letter-spacing: 0px; text-decoration: none; }
	a.Link7:visited{color:#003366; font-family:Arial; font-size:16; font-weight:bold; letter-spacing: 0px; text-decoration: none; }
	a.Link7:active{color:#003366; font-family:Arial; font-size:16; font-weight:bold; letter-spacing: 0px; text-decoration: none; }
	a.Link7:hover {color:#FFFFFF; font-family:Arial; font-size:16; font-weight:bold; letter-spacing: 0px; text-decoration: none; background-color: #003366; }

	a.Link8:link{color:#000000; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link8:visited{color:#000000; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link8:active{color:#000000; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link8:hover {color:#000000; font-family:Arial; font-size:15; font-weight:bold; text-decoration: underline; background-color: transparent; }

	a.Link11:link{color:#FFFFFF; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link11:visited{color:#FFFFFF; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link11:active{color:#FFFFFF; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; }
	a.Link11:hover {color:#FFFFFF; font-family:Arial; font-size:15; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link11a:link{color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11a:visited{color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11a:active{color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11a:hover {color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link11b:link{color:#000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11b:visited{color:#000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11b:active{color:#000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11b:hover {color:#000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; background-color: transparent; }
	
	a.Link11c:link{color:#FFC061; font-family:Arial; font-size:19; font-weight:bold; text-decoration: none; }
	a.Link11c:visited{color:#FFC061; font-family:Arial; font-size:19; font-weight:bold; text-decoration: none; }
	a.Link11c:active{color:#FFC061; font-family:Arial; font-size:19; font-weight:bold; text-decoration: none; }
	a.Link11c:hover {color:#FFC061; font-family:Arial; font-size:19; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link11d:link{color:#000000; font-family:Arial; font-size:17; font-weight:none; text-decoration: none; }
	a.Link11d:visited{color:#000000; font-family:Arial; font-size:17; font-weight:none; text-decoration: none; }
	a.Link11d:active{color:#000000; font-family:Arial; font-size:17; font-weight:none; text-decoration: none; }
	a.Link11d:hover {color:#000000; font-family:Arial; font-size:17; font-weight:none; text-decoration: none; background-color: transparent; }

	a.Link11e:link{color:#000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11e:visited{color:#000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11e:active{color:#000000; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; }
	a.Link11e:hover {color:#FFFFFF; font-family:Arial; font-size:17; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link11g:link{color:#000000; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link11g:visited{color:#000000; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link11g:active{color:#000000; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; }
	a.Link11g:hover {color:#FFFFFF; font-family:Arial; font-size:16; font-weight:bold; text-decoration: none; background-color: transparent; }

	a.Link10:link{color: #CC0000; font-size: 14px; text-decoration: underline; background-color: transparent; font-weight: bold; font-family: tahoma, Arial;}
	a.Link10:visited{color: #CC0000; font-size: 14px; text-decoration: underline; font-family: tahoma, Arial ; font-weight: bold;}
	a.Link10:active{color: #CC0000; font-size: 14px; text-decoration: underline; font-family: tahoma, Arial ; font-weight: bold;}
	a.Link10:hover {color: #CC0000; font-family: tahoma, Arial ; text-decoration: underline; font-weight: bold;}

	a.Link9:link{color: #000000; font-size: 12px; text-decoration: none; background-color: transparent; font-weight: none; font-family: tahoma, Arial;}
	a.Link9:visited{color: #000000; font-size: 12px; text-decoration: none; font-family: tahoma, Arial ; font-weight: none;}
	a.Link9:active{color: #000000; font-size: 12px; text-decoration: none; font-family: tahoma, Arial ; font-weight: none;}
	a.Link9:hover {color: #000000; font-family: tahoma, Arial ; text-decoration: underline; font-weight: none;}

	a.Link11f:link{color: #003366; font-family:Arial;font-size:14;font-weight:none; text-decoration: none; }
	a.Link11f:visited{color: #003366; font-family:Arial;font-size:14;font-weight:none; text-decoration: none; }
	a.Link11f:active{color: #003366; font-family:Arial;font-size:14;font-weight:none; text-decoration: none; }
	a.Link11f:hover {color: #FFFFFF; font-family:Arial;font-size:14;font-weight:none; text-decoration: none; background-color: #003366; }	

	a.BodyLink:link{color: #0000FF; font-size: 10px; text-decoration: none; background-color: transparent; font-weight: none; font-family: tahoma, Arial;}
	a.BodyLink:visited{color: #0000FF; font-size: 10px; text-decoration: none; font-family: tahoma, Arial ; font-weight: none;}
	a.BodyLink:active{color: #0000FF; font-size: 10px; text-decoration: none; font-family: tahoma, Arial ; font-weight: none;}
	a.BodyLink:hover {color: #0000FF; font-family: tahoma, Arial ; text-decoration: none; font-weight: none;}
	
	a.JQLinkA:link{color:#FF0000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none; }
	a.JQLinkA:visited{color:#FF0000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}
	a.JQLinkA:active{color:#FF0000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}
	a.JQLinkA:hover {color:#000000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}
	
	a.JQLinkB:link{color:#000000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none; }
	a.JQLinkB:visited{color:#000000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}
	a.JQLinkB:active{color:#000000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}
	a.JQLinkB:hover {color:#FF0000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}

	a.ExtraLinks:link{color: #0000FF; font-family:Arial; font-size:20px; font-weight:bold; text-decoration: none; }
	a.ExtraLinks:visited{color: #0000FF; font-family:Arial; font-size:20px; font-weight:bold; text-decoration: none; }
	a.ExtraLinks:active{color: #0000FF; font-family:Arial; font-size:20px; font-weight:bold; text-decoration: none; }
	a.ExtraLinks:hover {color: #000000; font-family:Arial; font-size:20px; font-weight:bold; text-decoration: none; }

	
	a.QAs:link{color:#000000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none; }
	a.QAs:visited{color:#000000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}
	a.QAs:active{color:#000000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}
	a.QAs:hover {color:#000000; font-family:Arial; font-size:16; font-weight:none; text-decoration: none; font-weight: none;}


	.Body_Style {
		background-color:#000000;	
		scrollbar-3dlight-color:#FFEACB;
		scrollbar-arrow-color:#000000;
		scrollbar-base-color:#FFCB7F;
	    scrollbar-track-color:#FFEACB;
		scrollbar-darkshadow-color:#FFEACB;
	    scrollbar-face-color:#FFCB7F;
		scrollbar-highlight-color:#FFEACB;
		scrollbar-shadow-color:#FFEACB;
	}


	INPUT.txtbox1 {
		background:#FFFFFF;
		color:#000000;
		border:1px solid #7F9DB9;
		width:200px;
		height:20px;
		font-size:11px;
		}

	INPUT.txtbox2 {
		background:#FFFFFF;
		color:#000000;
		border:1px solid #7F9DB9;
		width:140px;
		height:20px;
		font-size:11px;
		}

	.TxtArea {
		background:#FFFFFF;
		font-family: verdana, arial;
		font-size: 11px;
		width: 200px;
		height: 130px;
		font-weight: none;
		color: #000000;
		border:1px solid #7F9DB9;
		background-color : #FFFFFF;}

.TxtArea1 {
		background:#FFFFFF;
		font-family: verdana, arial;
		font-size: 11px;
		width: 200px;
		height: 260px;
		font-weight: none;
		color: #000000;
		border:1px solid #7F9DB9;
		background-color : #FFFFFF;}

span.playlist { width:15px; background:url(images/playlist_b_n.png) no-repeat; display:inline-block; cursor: pointer; float: center; width: 15px}
span.playlist_over { background:url(images/playlist_b_n.png) no-repeat -25px; }
span.playlist_on { background:url(images/playlist_b_n.png) no-repeat -25px; }
span.playlist_over_dupl { background:url(images/playlist_b_n.png) no-repeat -50px; }

/*span.playlist { width:15px; background:url(images/playlist_b.png) no-repeat; display:inline-block; cursor: pointer; display: none}*/


.cls_nav_active { color: #000; background-color: #fedca1; border: solid 1px #fff0dc; cursor: pointer;  }
.cls_nav_active:hover { color: #000; background-color: #faa322; border: solid 1px #000; cursor: pointer; }

.cls_nav_current { font-family: arial; font-size:15; color: #000; background-color: #faa322; border: solid 1px #fff0dc; cursor: pointer; }
.cls_nav_current:hover { color: #000; background-color: #faa322; border: solid 1px #000; cursor: pointer; }

a.nav_link:link {color: #000; font-family: arial; font-size:15; font-weight:none; text-decoration: none; }
a.nav_link:visited {color: #000; font-family: arial; font-size:15; font-weight:none; text-decoration: none; }
a.nav_link:active{color: #000; font-family: arial; font-size:15; font-weight:none; text-decoration: none; }
a.nav_link:hover {color: #000; font-family: arial; font-size:15; font-weight: none; text-decoration: none;}

a.nav_curr_link:link {color: #000; font-family: arial; font-size:15; font-weight:none; text-decoration: none; }
a.nav_curr_link:visited {color: #000; font-family: arial; font-size:15; font-weight:none; text-decoration: none; }
a.nav_curr_link:active{color: #000; font-family: arial; font-size:15; font-weight:none; text-decoration: none; }
a.nav_curr_link:hover {color: #000; font-family: arial; font-size:15; font-weight:none; text-decoration: none; }