div#global-navi {
margin: 4px auto 0;
width: 950px;
height: 33px;
text-align: left;
background: #FFFFFF url(/images/common/global_navi20150401.png) no-repeat scroll left top;
}

div#global-navi h2 {
position: absolute;
left: 0;
top: 0;
overflow: hidden;
width: 0;
height: 0;
font-size: 0;
color: #fff;
background: #FFFFFF;
}

div#global-navi ul {
width: 950px;
height: 33px;
}

div#global-navi ul li {
display: inline;
height: 33px;
float: left;
overflow: hidden;
text-indent: -9999px;
}

div#global-navi ul li#baseball {
left:0px;
}

div#global-navi ul li#soccer {
left:70px;
}

div#global-navi ul li#battle {
left:150px;
}

div#global-navi ul li#sports {
left:221px;
}

div#global-navi ul li#olympic {
left:302px;
}

div#global-navi ul li#society {
left:370px;
}

div#global-navi ul li#entertainment {
left:438px;
}

div#global-navi ul li#gamble {
left:508px;
}

div#global-navi ul li#shopping {
left:594px;
}

div#global-navi ul li#money {
left:687px;
}

div#global-navi ul li#gravure {
left:740px;
}

div#global-navi ul li#pachi {
left:812px;
}

div#global-navi ul li#car {
 left:898px;
}

div#global-navi ul li#baseball a, div#global-navi ul li#soccer a, div#global-navi ul li#battle a,div#global-navi ul li#sports a, div#global-navi ul li#olympic a, div#global-navi ul li#society a, div#global-navi ul li#entertainment a, div#global-navi ul li#gamble a, div#global-navi ul li#shopping a,div#global-navi ul li#money a, div#global-navi ul li#gravure a, div#global-navi ul li#pachi a, div#global-navi ul li#car a {
display: block;
height: 33px;
background-image: url("/images/common/global_navi20150401.png");
text-decoration: none;
}

div#global-navi ul li#baseball a {
 width: 70px;
 background-position: 0 0;
 }

div#global-navi ul li#soccer a {
 width: 80px;
 background-position: -70px 0;
 }

div#global-navi ul li#battle a {
 width: 71px;
 background-position: -150px 0;
 }

div#global-navi ul li#sports a {
 width: 81px;
 background-position: -221px 0;
 }

div#global-navi ul li#olympic a {
 width: 68px;
 background-position: -302px 0;
 }

div#global-navi ul li#society a {
 width: 68px;
 background-position: -370px 0;
 }

div#global-navi ul li#entertainment a {
 width: 70px;
 background-position: -438px 0;
 }

div#global-navi ul li#gamble a {
 width: 86px;
 background-position: -508px 0;
 }

div#global-navi ul li#shopping a {
 width: 93px;
 background-position: -594px 0;
 }

div#global-navi ul li#money a {
 width: 53px;
 background-position: -687px 0;
 }

div#global-navi ul li#gravure a {
 width: 72px;
 background-position: -740px 0;
 }

div#global-navi ul li#pachi a {
 width: 86px;
 background-position: -812px 0;
 }

div#global-navi ul li#car a {
 width: 52px;
 background-position: -898px 0;
 }

div#global-navi ul li#baseball a:hover {
 width: 70px;
 background-position: 0 -33px;
 }

div#global-navi ul li#soccer a:hover {
 width: 80px;
 background-position: -70px -33px;
 }

div#global-navi ul li#battle a:hover {
 width: 71px;
 background-position: -150px -33px;
 }

div#global-navi ul li#sports a:hover {
 width: 81px;
 background-position: -221px -33px;
 }

div#global-navi ul li#olympic a:hover {
 width: 68px;
 background-position: -302px -33px;
 }

div#global-navi ul li#society a:hover {
 width: 68px;
 background-position: -370px -33px;
 }

div#global-navi ul li#entertainment a:hover {
 width: 70px;
 background-position: -438px -33px;
 }

div#global-navi ul li#gamble  a:hover {
 width: 86px;
 background-position: -508px -33px;
 }

div#global-navi ul li#shopping  a:hover {
 width: 93px;
 background-position: -594px -33px;
 }

div#global-navi ul li#money  a:hover {
 width: 53px;
 background-position: -687px -33px;
 }

div#global-navi ul li#gravure a:hover {
 width: 72px;
 background-position: -740px -33px;
 }

div#global-navi ul li#pachi a:hover {
 width: 86px;
 background-position: -812px -33px;
 }

div#global-navi ul li#car a:hover {
 width: 52px;
 background-position: -898px -33px;
 }

div#global-navi ul li#baseball a#on {
 width: 70px;
 background-position: 0 -33px;
 }

div#global-navi ul li#soccer a#on {
 width: 80px;
 background-position: -70px -33px;
 }

div#global-navi ul li#battle a#on {
 width: 71px;
 background-position: -150px -33px;
 }

div#global-navi ul li#sports a#on {
 width: 81px;
 background-position: -221px -33px;
 }

div#global-navi ul li#olympic a#on {
 width: 68px;
 background-position: -302px -33px;
 }

div#global-navi ul li#society a#on {
 width: 68px;
 background-position: -370px -33px;
 }

div#global-navi ul li#entertainment a#on {
 width: 70px;
 background-position: -438px -33px;
 }

div#global-navi ul li#gamble  a#on {
 width: 86px;
 background-position: -508px -33px;
 }

div#global-navi ul li#shopping  a#on {
 width: 93px;
 background-position: -594px -33px;
 }

div#global-navi ul li#money a#on {
 width: 53px;
 background-position: -687px -33px;
 }

div#global-navi ul li#gravure a#on {
 width: 72px;
 background-position: -740px -33px;
 }

div#global-navi ul li#pachi a#on {
 width: 86px;
 background-position: -812px -33px;
 }

div#global-navi ul li#car a#on {
 width: 52px;
 background-position: -898px -33px;
 }

body#worldcup2010 div#global-navi {
margin: 4px auto 0;
width: 950px;
height: 33px;
text-align: left;
background: #FFFFFF url("/images/common/global_navi20150401.png") no-repeat scroll left top;
}

body#worldcup2010 div#global-navi ul li#wc2010 a, body#worldcup2010 div#global-navi ul li#soccer a,body#worldcup2010 div#global-navi ul li#baseball a, body#worldcup2010 div#global-navi ul li#battle a,body#worldcup2010 div#global-navi ul li#sports a, body#worldcup2010 div#global-navi ul li#society a,body#worldcup2010 div#global-navi ul li#entertainment a, body#worldcup2010 div#global-navi ul li#gamble a,body#worldcup2010 div#global-navi ul li#shopping a, body#worldcup2010 div#global-navi ul li#gravure a,body#worldcup2010 div#global-navi ul li#olympic a, body#worldcup2010 div#global-navi ul li#pachi a,body#worldcup2010 div#global-navi ul li#car a{
display: block;
height: 33px;
background-image: url("/images/common/global_navi20150401.png");
text-decoration: none;
}

div#local-navi {
background: #FFFFFF url(/images/common/local_navi_bg.jpg) repeat-x scroll left top;
}

div#local-navi h3 {
position: absolute;
left: 0;
top: 0;
overflow: hidden;
width: 0;
height: 0;
font-size: 0;
color: #fff;
background: #FFFFFF;
}

div#local-navi ul {
padding: 6px 0 6px 10px;
text-align: left;
}

div#local-navi ul li {
display: inline;
padding-left: 6px;
background: url(/images/common/local_navi_li.jpg) no-repeat scroll left top;
}

div#local-navi ul li a {
padding: 10px;
}

div#local-navi ul li a:link,div#local-navi ul li a:visited {
color: #666666;
text-decoration: none;
}

div#local-navi ul li a:hover,div#local-navi ul li a:focus,div#local-navi ul li a:active {
color: #000066;
text-decoration: underline;
}

div#local-navi-wc2010 {
height: 28px;
background: #FFFFFF url(/images/common/local_navi_wc_bg.png) repeat-x scroll left top;
}

div#local-navi-wc2010 h3 {
position: absolute;
left: 0;
top: 0;
overflow: hidden;
width: 0;
height: 0;
font-size: 0;
color: #fff;
background: #FFFFFF;
}

div#local-navi-wc2010 ul {
width: 950px;
height: 28px;
}

div#local-navi-wc2010 ul li {
display: inline;
height: 28px;
float: left;
overflow: hidden;
text-indent: -9999px;
}

div#local-navi-wc2010 ul li#top_wc {
 left:0px;
 }

div#local-navi-wc2010 ul li#news {
 left:50px;
 }

div#local-navi-wc2010 ul li#photo {
 left:125px;
 }

div#local-navi-wc2010 ul li#result {
 left:174px;
 }

div#local-navi-wc2010 ul li#schedule {
 left:249px;
 }

div#local-navi-wc2010 ul li#group {
 left:333px;
 }

div#local-navi-wc2010 ul li#team {
 left:437px;
 }

div#local-navi-wc2010 ul li#data {
 left:495px;
 }

div#local-navi-wc2010 ul li#stadium {
 left:549px;
 }

div#local-navi-wc2010 ul li#special {
 left:630px;
 }

div#local-navi-wc2010 ul li#japan {
 left:678px;
 }

div#local-navi-wc2010 ul li#yosen {
 left:748px;
 }

div#local-navi-wc2010 ul li#top_wc a, div#local-navi-wc2010 ul li#news a,div#local-navi-wc2010 ul li#photo a, div#local-navi-wc2010 ul li#result a,div#local-navi-wc2010 ul li#schedule a, div#local-navi-wc2010 ul li#group a,div#local-navi-wc2010 ul li#team a, div#local-navi-wc2010 ul li#data a,div#local-navi-wc2010 ul li#stadium a, div#local-navi-wc2010 ul li#special a,div#local-navi-wc2010 ul li#japan a, div#local-navi-wc2010 ul li#yosen a{
display: block;
height: 28px;
background-image: url("/images/common/local_navi_wc.png");
text-decoration: none;
}

div#local-navi-wc2010 ul li#top_wc a {
 width: 50px;
 background-position: 0 0;
 }

div#local-navi-wc2010 ul li#news a {
 width: 75px;
 background-position: -50px 0;
 }

div#local-navi-wc2010 ul li#photo a {
 width: 49px;
 background-position: -125px 0;
 }

div#local-navi-wc2010 ul li#result a {
 width: 75px;
 background-position: -174px 0;
 }

div#local-navi-wc2010 ul li#schedule a {
 width: 84px;
 background-position: -249px 0;
 }

div#local-navi-wc2010 ul li#group a {
 width: 104px;
 background-position: -333px 0;
 }

div#local-navi-wc2010 ul li#team a {
 width: 58px;
 background-position: -437px 0;
 }

div#local-navi-wc2010 ul li#data a {
 width: 54px;
 background-position: -495px 0;
 }

div#local-navi-wc2010 ul li#stadium a {
 width: 81px;
 background-position: -549px 0;
 }

div#local-navi-wc2010 ul li#special a {
 width: 48px;
 background-position: -630px 0;
 }

div#local-navi-wc2010 ul li#japan a {
 width: 70px;
 background-position: -678px 0;
 }

div#local-navi-wc2010 ul li#yosen a {
 width: 48px;
 background-position: -748px 0;
 }

div#local-navi-wc2010 ul li#top_wc a:hover {
 width: 50px;
 background-position: 0 -28px;
 }

div#local-navi-wc2010 ul li#news  a:hover {
 width: 75px;
 background-position: -50px -28px;
 }

div#local-navi-wc2010 ul li#photo  a:hover {
 width: 49px;
 background-position: -125px -28px;
 }

div#local-navi-wc2010 ul li#result a:hover {
 width: 75px;
 background-position: -174px -28px;
 }

div#local-navi-wc2010 ul li#schedule a:hover {
 width: 84px;
 background-position: -249px -28px;
 }

div#local-navi-wc2010 ul li#group a:hover {
 width: 104px;
 background-position: -333px -28px;
 }

div#local-navi-wc2010 ul li#team a:hover {
 width: 58px;
 background-position: -437px -28px;
 }

div#local-navi-wc2010 ul li#data a:hover {
 width: 54px;
 background-position: -495px -28px;
 }

div#local-navi-wc2010 ul li#stadium a:hover {
 width: 81px;
 background-position: -549px -28px;
 }

div#local-navi-wc2010 ul li#special  a:hover {
 width: 48px;
 background-position: -630px -28px;
 }

div#local-navi-wc2010 ul li#japan  a:hover {
 width: 70px;
 background-position: -678px -28px;
 }

div#local-navi-wc2010 ul li#yosen a:hover {
 width: 48px;
 background-position: -748px -28px;
 }

div#local-navi-wc2010 ul li#top_wc a#on_wc {
 width: 50px;
 background-position: 0 -28px;
 }

div#local-navi-wc2010 ul li#news  a#on_wc {
 width: 75px;
 background-position: -50px -28px;
 }

div#local-navi-wc2010 ul li#photo  a#on_wc {
 width: 49px;
 background-position: -125px -28px;
 }

div#local-navi-wc2010 ul li#result a#on_wc {
 width: 75px;
 background-position: -174px -28px;
 }

div#local-navi-wc2010 ul li#schedule a#on_wc {
 width: 84px;
 background-position: -249px -28px;
 }

div#local-navi-wc2010 ul li#group a#on_wc {
 width: 104px;
 background-position: -333px -28px;
 }

div#local-navi-wc2010 ul li#team a#on_wc {
 width: 58px;
 background-position: -437px -28px;
 }

div#local-navi-wc2010 ul li#data a#on_wc {
 width: 54px;
 background-position: -495px -28px;
 }

div#local-navi-wc2010 ul li#stadium a#on_wc {
 width: 81px;
 background-position: -549px -28px;
 }

div#local-navi-wc2010 ul li#special  a#on_wc {
 width: 48px;
 background-position: -630px -28px;
 }

div#local-navi-wc2010 ul li#japan  a#on_wc {
 width: 70px;
 background-position: -678px -28px;
 }

div#local-navi-wc2010 ul li#yosen a#on_wc {
 width: 48px;
 background-position: -748px -28px;
 }
