/*
************************************************************

 Copyright (C) SPORTS NIPPON NEWSPAPERS.
 Since : 2008-04-01
 Last Modified : 2016-03-15

************************************************************
*/

/*////////////////////////////////////////////

	スポニチ大阪用スタイル

	Content

		1. obi-osaka
		2. osaka-special(大阪企画特集)
		3. news H01 大阪トップ用(記事エリア)
		4. catetop-pickup-blockH01 大阪トップ用ピックアップ
		5. news H02 まるごとトップ用(記事エリア)
		6. catetop-pickup-blockH02 まるごと用ピックアップ
		7. catetop-pickup-blockH02H まるごと阪神用ピックアップ
		8. news H03 記事用
		9. mini-midashi(h3)	
		
		
////////////////////////////////////////////*/


/* ----------------------------------------
 * 1. obi
 * ---------------------------------------- */

div.obi-osaka{
	width: 890px;
	height: 31px;
	}

h1.obi-osaka{
	width: 890px;
	height: 31px;
	}

/* ----------------------------------------
 * 2. osaka-special(大阪企画特集)
 * ---------------------------------------- */

div#content-sub dl#osaka-special {
	margin-top: 7px;
	}

div#content-sub dl#osaka-special dt {
	background-color:#FEF5E9;
	font-size:1px;
	height:25px;
	line-height:1;
	}

div#content-sub dl#osaka-special dd {
	background:#FFFFE8 url(/osaka/images/content_sub/osaka_special_bg.jpg) no-repeat scroll left bottom;
	}

div#content-sub dl#osaka-special dd ul {
	padding: 10px;
	}

div#content-sub dl#osaka-special dd ul li {
	}


/* ----------------------------------------
 * 3.news H01 大阪トップ用(記事エリア)
 * ---------------------------------------- */

div#content-main div.heading-newsH01 {
	margin-top: 10px;
	}

div#content-main div.heading-newsH01 h2 {
	font-size: 140%;
	font-weight: bold;
	}

div#content-main div.text-blockH01 {
	margin-top: 10px;
	}

/* ----- clearfix ----- */

div#content-main div.text-blockH01 {
	/*\*/
	overflow: hidden;
	_height: 1px;
	_overflow: visible;
	zoom: 1;
	/**/
	/*\*//*/
	overflow: hidden;
	display: inline-block;
	/**/
	}

div#content-main div.text-blockH01:after{
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	}

div#content-main div.text-blockH01 .table-miniphotoH01 {
	float: left;
	}

div#content-main div.text-blockH01 .caption-miniphotoH01 {
	font-size: x-small;
	}

div#content-main div.text-blockH01 p.news-dateH01 {
	text-align: right;
	}

div#content-main div.heading-news-listH01 {
	margin-top: 10px;
	padding: 0.2em 0 0 0.2em;
	border-top: 2px solid #000099;
	border-bottom: 1px solid #CCCCCC;
	background-color: #ECECFF;
	}

/* ----- clearfix ----- */

div#content-main div.heading-news-listH01 {
	/*\*/
	overflow: hidden;
	_height: 1px;
	_overflow: visible;
	zoom: 1;
	/**/
	/*\*//*/
	overflow: hidden;
	display: inline-block;
	/**/
	}

div#content-main div.heading-news-listH01:after {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	}


div#content-main div.heading-news-listH01 h3 {
	float: left;
	font-size: 120%;
	font-weight: bold;
	}

div#content-main div.heading-news-listH01 div.list-blockH01 {
	float: right;
	padding-top: 0.1em;
	text-align: right;
	}

div#content-main div.heading-news-listH01 div.list-blockH01 li {
	display: inline;
	padding-right: 5px;
	}

div#content-main div.heading-news-listH01 div.list-blockH01 li a.listH01{
	padding-left: 13px;
	background: url(/osaka/images/content_main/list_arrow.gif) no-repeat center left;
	}

div#content-main div.news-list-blockH01 {
	margin-top: 5px;
	}

div#content-main div.news-list-blockH01 ul.news-listH01 {
	}

div#content-main div.news-list-blockH01 ul.news-listH01 li {
	margin-bottom: 0.1em;
	}

/* ----------------------------------------
 * 4.catetop-pickup-blockH01(左右両バージョン)
 *  .catetop-pickup-blockH01S(左側のみバージョン)
 *　（大阪トップ用ピックアップ）
 * ---------------------------------------- */

/* ******************　　　　ブロック      *******************
------------------------------------------------------------------------ */

/* ----- 左右両バージョン ----- */

div#content-main div.catetop-pickup-blockH01 {
	width: 620px ;
	margin-top: 10px ;
	background: url(/osaka/images/content_main/catetop_pickup_blockH01_bg.gif) repeat-y top center;
	}

/* ----- 左側のみバージョン ----- */

div#content-main div.catetop-pickup-blockH01S {
	width: 620px ;
	margin-top: 10px ;
	background: url(/osaka/images/content_main/catetop_pickup_blockH01S_bg.gif) repeat-y top center;
	}

/* ----- clearfix ----- */

div#content-main div.catetop-pickup-blockH01,
div#content-main div.catetop-pickup-blockH01S {
	/*\*/
	overflow: hidden;
	_height: 1px;
	_overflow: visible;
	zoom: 1;
	/**/
	/*\*//*/
	overflow: hidden;
	display: inline-block;
	/**/
	}

div#content-main div.catetop-pickup-blockH01:after,
div#content-main div.catetop-pickup-blockH01S:after {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	}


/* ----- ピックアップ左側ブロック ----- */

div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH01,
div#content-main div.catetop-pickup-blockH01S div.pickup-unit-blockH01 {
	float: left;
	width: 305px ;
	}

/* ----- ピックアップ右側ブロック ----- */

div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH02 {
	float: left;
	margin-left: 10px;
	width: 305px ;
	}

/* ----- 見出しブロック ----- */

div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH01 div.heading-pickup-unitH01,
div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH02 div.heading-pickup-unitH02,
div#content-main div.catetop-pickup-blockH01S div.pickup-unit-blockH01 div.heading-pickup-unitH01 {
	padding: 0.2em;
	border-top: 2px solid #2D4358;
	border-bottom: 1px solid #cccccc;
	background-color: #EFF3F8;
	}

/* ----- 見出し ----- */

div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH01 div.heading-pickup-unitH01 h3,
div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH02 div.heading-pickup-unitH02 h3,
div#content-main div.catetop-pickup-blockH01S div.pickup-unit-blockH01 div.heading-pickup-unitH01 h3 {
	font-weight: bold;
	}

/* ----- 説明 ----- */

div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH01 div.description-blockH01,
div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH02 div.description-blockH02,
div#content-main div.catetop-pickup-blockH01S div.pickup-unit-blockH01 div.description-blockH01 {
	padding: 0.4em;
	}

/* ----- 画像回り込み ----- */

div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH01 div.description-blockH01 img.imgH01,
div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH02 div.description-blockH02 img.imgH02,
div#content-main div.catetop-pickup-blockH01S div.pickup-unit-blockH01 div.description-blockH01 img.imgH01 {
	float: left;
	margin: 0 7px 4px 0;
		}

/* ----- リスト ----- */

div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH01 div.description-blockH01 p.list,
div#content-main div.catetop-pickup-blockH01 div.pickup-unit-blockH02 div.description-blockH02 p.list,
div#content-main div.catetop-pickup-blockH01S div.pickup-unit-blockH01 div.description-blockH01 p.list {
		}


/* ----------------------------------------
 * 5.news H02 まるごとトップ用(記事エリア)
 * ---------------------------------------- */

div#content-main div.heading-newsH02 {
	margin-top: 10px;
	}

div#content-main div.heading-newsH02 h2 {
	font-size: 140%;
	font-weight: bold;
	}

div#content-main div.text-blockH02 {
	margin-top: 10px;
	}

/* ----- clearfix ----- */

div#content-main div.text-blockH02 {
	/*\*/
	overflow: hidden;
	_height: 1px;
	_overflow: visible;
	zoom: 1;
	/**/
	/*\*//*/
	overflow: hidden;
	display: inline-block;
	/**/
	}

div#content-main div.text-blockH02:after{
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	}

div#content-main div.text-blockH02 .table-miniphotoH02 {
	float: left;
	}

div#content-main div.text-blockH02 .caption-miniphotoH02 {
	font-size: x-small;
	}

div#content-main div.text-blockH02 p.news-dateH02 {
	text-align: right;
	}

div#content-main div.heading-news-listH02 {
	margin-top: 10px;
	padding: 0.2em 0 0 0.2em;
	border-top: 2px solid #000099;
	border-bottom: 1px solid #CCCCCC;
	background-color: #ECECFF;
	}

/* ----- clearfix ----- */

div#content-main div.heading-news-listH02 {
	/*\*/
	overflow: hidden;
	_height: 1px;
	_overflow: visible;
	zoom: 1;
	/**/
	/*\*//*/
	overflow: hidden;
	display: inline-block;
	/**/
	}

div#content-main div.heading-news-listH02:after {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	}


div#content-main div.heading-news-listH02 h3 {
	float: left;
	font-size: 120%;
	font-weight: bold;
	}

div#content-main div.heading-news-listH02 div.list-blockH02 {
	float: right;
	padding-top: 0.1em;
	text-align: right;
	}

div#content-main div.heading-news-listH02 div.list-blockH02 li {
	display: inline;
	padding-right: 5px;
	}

div#content-main div.heading-news-listH02 div.list-blockH02 li a.listH02{
	padding-left: 13px;
	background: url(/osaka/images/content_main/list_arrow.gif) no-repeat center left;
	}

div#content-main div.news-list-blockH02 {
	margin-top: 5px;
	}

div#content-main div.news-list-blockH02 ul.news-listH02 {
	}

div#content-main div.news-list-blockH02 ul.news-listH02 li {
	margin-bottom: 0.1em;
	}


/* ----------------------------------------
 * 6.catetop-pickup-blockH02(左右両バージョン)
 *  .catetop-pickup-blockH02S(左側のみバージョン)
 *　（まるごと用ピックアップ）
 * ---------------------------------------- */


/* ******************　　　　ブロック      *******************
------------------------------------------------------------------------ */


/* ----- 左右両バージョン ----- */

div#content-main div.catetop-pickup-blockH02 {
	width: 620px ;
	margin-top: 10px ;
	background: url(/osaka/images/content_main/catetop_pickup_blockH02_bg.gif) repeat-y top center;
	}


/* ----- 左右両バージョン ----- */

div#content-main div.catetop-pickup-blockH02S {
	width: 620px ;
	margin-top: 10px ;
	background: url(/osaka/images/content_main/catetop_pickup_blockH02S_bg.gif) repeat-y top center;
	}

/* ----- clearfix ----- */

div#content-main div.catetop-pickup-blockH02,
div#content-main div.catetop-pickup-blockH02S {
	/*\*/
	overflow: hidden;
	_height: 1px;
	_overflow: visible;
	zoom: 1;
	/**/
	/*\*//*/
	overflow: hidden;
	display: inline-block;
	/**/
	}

div#content-main div.catetop-pickup-blockH02:after,
div#content-main div.catetop-pickup-blockH02S:after {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	}


/* ----- ピックアップ左側ブロック ----- */

div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH01,
div#content-main div.catetop-pickup-blockH02S div.pickup-unit-blockH01 {
	float: left;
	width: 305px ;
	}

/* ----- ピックアップ右側ブロック ----- */

div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH02 {
	float: left;
	margin-left: 10px;
	width: 305px ;
	}

/* ----- 見出しブロック ----- */

div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH01 div.heading-pickup-unitH01,
div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH02 div.heading-pickup-unitH02,
div#content-main div.catetop-pickup-blockH02S div.pickup-unit-blockH01 div.heading-pickup-unitH01 {
	padding: 0.2em;
	border-top: 2px solid #2D4358;
	border-bottom: 1px solid #cccccc;
	background-color: #EFF3F8;
	}

/* ----- 見出し ----- */

div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH01 div.heading-pickup-unitH01 h3,
div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH02 div.heading-pickup-unitH02 h3,
div#content-main div.catetop-pickup-blockH02S div.pickup-unit-blockH01 div.heading-pickup-unitH01 h3 {
	font-weight: bold;
	}

/* ----- 説明 ----- */

div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH01 div.description-blockH01,
div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH02 div.description-blockH02,
div#content-main div.catetop-pickup-blockH02S div.pickup-unit-blockH01 div.description-blockH01 {
	padding: 0.4em;
	}

/* ----- 画像回り込み ----- */

div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH01 div.description-blockH01 img.imgH01,
div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH02 div.description-blockH02 img.imgH02,
div#content-main div.catetop-pickup-blockH02S div.pickup-unit-blockH01 div.description-blockH01 img.imgH01 {
	float: left;
	margin: 0 7px 4px 0;
	}

/* ----- リスト ----- */

div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH01 div.description-blockH01 p.list,
div#content-main div.catetop-pickup-blockH02 div.pickup-unit-blockH02 div.description-blockH02 p.list,
div#content-main div.catetop-pickup-blockH02S div.pickup-unit-blockH01 div.description-blockH01 p.list {
	}


/* ----------------------------------------
 * 7.catetop-pickup-blockH02H(左右両バージョン)
 *  .catetop-pickup-blockH02HS(左側のみバージョン)
 *　（まるごと阪神用ピックアップ）
 * ---------------------------------------- */


/* ******************　　　　ブロック      *******************
------------------------------------------------------------------------ */


/* ----- 左右両バージョン ----- */

div#content-main div.catetop-pickup-blockH02H {
	width: 620px ;
	margin-top: 10px ;
	background: url(/osaka/images/content_main/catetop_pickup_blockH02H_bg.gif) repeat-y top center;
	}

/* ----- 左右両バージョン ----- */

div#content-main div.catetop-pickup-blockH02HS {
	width: 620px ;
	margin-top: 10px ;
	background: url(/osaka/images/content_main/catetop_pickup_blockH02HS_bg.gif) repeat-y top center;
	}

/* ----- clearfix ----- */

div#content-main div.catetop-pickup-blockH02H,
div#content-main div.catetop-pickup-blockH02HS {
	/*\*/
	overflow: hidden;
	_height: 1px;
	_overflow: visible;
	zoom: 1;
	/**/
	/*\*//*/
	overflow: hidden;
	display: inline-block;
	/**/
	}

div#content-main div.catetop-pickup-blockH02H:after,
div#content-main div.catetop-pickup-blockH02HS:after {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	}

/* ----- ピックアップ左側ブロック ----- */

div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH01,
div#content-main div.catetop-pickup-blockH02HS div.pickup-unit-blockH01 {
	float: left;
	width: 305px ;
	}

/* ----- ピックアップ右側ブロック ----- */

div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH02 {
	float: left;
	margin-left: 10px;
	width: 305px ;
	}

/* ----- 見出しブロック ----- */

div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH01 div.heading-pickup-unitH01,
div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH02 div.heading-pickup-unitH02,
div#content-main div.catetop-pickup-blockH02HS div.pickup-unit-blockH01 div.heading-pickup-unitH01 {
	padding: 0.2em;
	border-top: 2px solid #939000;
	border-bottom: 1px solid #D9D9D9;
	background-color: #FFFFCA;
	}

/* ----- 見出し ----- */

div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH01 div.heading-pickup-unitH01 h3,
div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH02 div.heading-pickup-unitH02 h3,
div#content-main div.catetop-pickup-blockH02HS div.pickup-unit-blockH01 div.heading-pickup-unitH01 h3 {
	font-weight: bold;
	}

/* ----- 説明 ----- */

div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH01 div.description-blockH01,
div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH02 div.description-blockH02,
div#content-main div.catetop-pickup-blockH02HS div.pickup-unit-blockH01 div.description-blockH01 {
	padding: 0.4em;
	}

/* ----- 画像回り込み ----- */

div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH01 div.description-blockH01 img.imgH01,
div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH02 div.description-blockH02 img.imgH02,
div#content-main div.catetop-pickup-blockH02HS div.pickup-unit-blockH01 div.description-blockH01 img.imgH01 {
	float: left;
	margin: 0 7px 4px 0;
	}

/* ----- リスト ----- */

div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH01 div.description-blockH01 p.list,
div#content-main div.catetop-pickup-blockH02H div.pickup-unit-blockH02 div.description-blockH02 p.list,
div#content-main div.catetop-pickup-blockH02HS div.pickup-unit-blockH01 div.description-blockH01 p.list {
	}


/* ----------------------------------------
 * 8. news H03 記事用
 * ---------------------------------------- */


div#content-main div.heading-newsH03 {
	margin-top: 10px;
	background-color: #e3e3e3;
	}

div#content-main div.heading-newsH03 h2,
div#content-main div.heading-newsH03 h1 {
	font-size: 140%;
	font-weight: bold;
	}

div#content-main div.text-blockH03 {
	margin-top: 10px;
	}

/* ----- clearfix ----- */

div#content-main div.text-blockH03 {
	/*\*/
	overflow: hidden;
	_height: 1px;
	_overflow: visible;
	zoom: 1;
	/**/
	/*\*//*/
	overflow: hidden;
	display: inline-block;
	/**/
	}

div#content-main div.text-blockH03:after{
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	}

div#content-main div.text-blockH03 .table-miniphotoH03 {
	float: left;
	margin-right: 0.5em;
	}

div#content-main div.text-blockH03 .caption-miniphotoH03 {
	font-size: x-small;
	}

div#content-main div.text-blockH03 p.news-dateH03 {
	text-align: right;
	}

div#content-main div.heading-news-listH03 {
	margin-top: 10px;
	padding: 0.2em 0 0.2em 0.3em;
	border-top: 2px solid #000099;
	border-bottom: 1px solid #CCCCCC;
	background-color: #ECECFF;
	}

div#content-main div.heading-news-listH03 h3 {
	font-size: 120%;
	font-weight: bold;
	}


div#content-main div.news-list-blockH03 {
	margin-top: 5px;
	}

div#content-main div.news-list-blockH03 ul.news-listH03 {
	}

div#content-main div.news-list-blockH03 ul.news-listH03 li {
	margin-bottom: 0.1em;
	}
	
	
/* ----------------------------------------
 * 9. mini-midashi(h3)
 * ---------------------------------------- */

div#content-main h3.mini-midashiH01 {
	margin-top: 5px;
	padding: 0.2em 0.4em;
	border-bottom: solid 1px #CCCCCC;
	background-color: #333333;
	color: #FFFFFF;
	font-weight: bold;
	}
