div.rio2016-block{
margin-top: 10px;
border:  1px solid #F57921;
}

div.rio2016-block h2.heading-rio2016-block{
font-size:1px;
height:27px;
line-height:1;
}

div.rio2016-block div.rio2016-unit-block{
background-color: #FFFFFF;
}

div.rio2016-block div.rio2016-unit-block div.list-navi-section{
padding: 5px;
}

div.rio2016-block div.rio2016-unit-block div.list-navi-section ul.area-list-navi{
}

div.rio2016-block div.rio2016-unit-block div.list-navi-section ul.area-list-navi li {
display: inline;
margin-right: 0.5em;
}


div.rio2016-block div.rio2016-unit-block div.list-navi-section ul.area-list-navi li a.arrow {
margin-left: 2px;
padding-left: 10px;
background: url(/images/common/arrow_green.gif) no-repeat scroll left 40%;
}
