.listPickup a{
    background:none;
    padding:0;
}
.tabActive a{
    color:#b70000;
}
#tab01 ul li{
    //background:#f2f2f2;
	display:block;
	text-decoration:none;
	position:relative;
	padding:10px 10px 0 10px;
	min-height:50px;
}
#tab01 ul li .linkBox{
	padding:0 0 0 58px;
}
#tab01 ul li .imgBox{
	width:50px;
	height:50px;
	overflow:hidden;
	position:absolute;
	top:10px;
	left:10px;
	background-color:#ddd;
}
#tab01 ul li .imgBox img{
	display:none;
}
#tab01 ul li .linkBox .ttl{
	font-size:14px;
	line-height:1.3571;
}
#tab01 ul li .linkBox .dateBox{
	overflow:hidden;
}
#tab01 ul li .linkBox .dateBox .date{
	padding-right:10px;
	font-size:12px;
}
#tab01 ul li .linkBox .dateBox .cateName{
	font-size:13px;
}
#tab01 ul li .linkBox .dateBox .date,
#tab01 ul li .linkBox .dateBox .cateName{
	float:left;
}
