	@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
	html
{
	height:100%
}
	*,*:after,*:before
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	margin:0
}

	a
{
	color:#555;
	text-decoration:none;
	outline:none
}
	a:hover
{
	color:#000
}

.slideRight
{
	right:240px
}
.bb-item
{
	margin:0;
	padding:0;
	border:0
}
.content
{
	top:0;
	left:0;
	height:100%;
	-webkit-font-smoothing:subpixel-antialiased;
	background:#15293E;
	z-index:5
}
.content,.entry-info,.entry-info h1,.top-icons,#bb-nav-prev,#bb-nav-next
{
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}
.content h2
{
	font-weight:300;
	font-size:4em;
	padding:0 0 10px;
	color:#333;
	margin:0 1% 40px;
	text-align:left;
	box-shadow:0 10px 0 rgba(0,0,0,0.02);
	text-shadow:0 0 2px #fff
}
.content p
{
	font-size:1.2em;
	line-height:1.6;
	font-weight:300;
	padding:5px 8%;
	text-align:justify
}
.content .background
{
	position:absolute;
	max-width:none!important;
	max-height:none!important
}
.content .entry-info {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 29px;
    direction: rtl;
    height: 228px;
    position: absolute;
    right: 100px;
    width: 513px;
	/* background:-moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0.25) 20%,rgba(0,0,0,0.75) 100%);
	background:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,0,0,0)),color-stop(20%,rgba(0,0,0,0.25)),color-stop(100%,rgba(0,0,0,0.75)));
	background:-webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0.25) 20%,rgba(0,0,0,0.75) 100%);
	background:-o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0.25) 20%,rgba(0,0,0,0.75) 100%);
	background:-ms-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0.25) 20%,rgba(0,0,0,0.75) 100%);
	background:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0.25) 20%,rgba(0,0,0,0.75) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#bf000000',GradientType=1) */

}
.entry-info hgroup
{
	padding:46px;
	width:100%;
}
.entry-info h1
{
	text-shadow:3px 3px 0px rgba(0,0,0,0.6);
	filter:dropshadow(color=#000000,offx=1,offy=1);
	color:#fff;
	font-size:36px;
	line-height:50px;
	margin:-13px 0 10px
}
.content .article-meta
{
	font-size:14px;
	line-height:14px;
	margin:0 0 20px;
	padding:0;
	white-space:nowrap
}
.article-date
{
	color:#fff;
	font-size:11px
}
.article-category,.article-category a
{
	color:#fff;
	font-size:11px
}
.article-category
{
	background:#f7bb03;
	padding:0 5px 5px;
	margin:0 0 0 8px
}
	@media all and (max-width: 800px)
{
.content .entry-info h1
{
	font-size:30px
}

}
	@media all and (max-width: 600px)
{
.content .entry-info h1
{
	font-size:25px;
	line-height:35px
}

}
	@media all and (max-height: 560px), all and (max-width: 1000px)
{
.content .entry-info
{

}

}
	@media all and (max-width: 400px),  all and (max-height: 300px)
{
.content .entry-info
{
	width:100%
}
.content .entry-info h1
{
	font-size:25px;
	line-height:35px
}

}
.top-icons
{
	position:absolute;
	top:20px;
	right:20px;
	z-index:1000
}
.home-icon
{
	height:32px;
	width:32px;
	position:relative;
	overflow:hidden;
	background:#15293E;
	border-radius:50%;
	display:block
}
.home-icon:hover
{
	background:#214162
}
.home-icon i
{
	width:10px;
	height:8px;
	border:4px solid #fff;
	border-top-width:3px;
	border-bottom-width:0px;
	top:50%;
	position:absolute;
	left:50%;
	margin-left:-5px
}
.home-icon i:before
{
	content:'';
	width:16px;
	height:8px;
	bottom:100%;
	border:8px solid transparent;
	border-top-width:0px;
	border-bottom-color:#fff;
	display:block;
	position:absolute;
	left:50%;
	margin:0 0 3px -8px
}
.home-icon i:after
{
	content:'';
	display:block;
	width:2px;
	height:7px;
	background:#fff;
	position:absolute;
	bottom:100%;
	left:50%;
	margin:0 0 3px 3px
}
.home-icon .home
{
	height:0px;
	width:0px;
	border-width:8px;
	border-style:solid;
	border-color:transparent transparent #fff transparent;
	position:absolute;
	bottom:50%;
	left:25%
}
.home-icon .home:after
{
	content:'';
	background-color:transparent;
	height:8px;
	top:8px;
	width:10px;
	position:absolute;
	right:-5px;
	border-left:4px solid #fff;
	border-right:4px solid #fff
}
.home-icon .home:before
{
	content:'';
	width:2px;
	height:3px;
	top:8px;
	left:0;
	background-color:#fff;
	position:absolute;
	margin-left:-1px
}
.home-icon .chimney
{
	width:2px;
	height:7px;
	bottom:50%;
	left:50%;
	margin-left:3px;
	background:#fff;
	position:absolute
}
	#bb-nav-prev,#bb-nav-next
{
	position:absolute;
	background:url(arrows.png) 0 0;
	width:27px;
	height:47px;
	left:10px;
	top:50%;
	margin-top:-19px;
	z-index:100;
	cursor:pointer
}
	#bb-nav-next
{
	left:auto;
	right:10px;
	background-position:0 -47px
}
	#bb-nav-prev.disabled,#bb-nav-next.disabled
{
	opacity:0;
	cursor:auto
}
.idle #bb-nav-prev,.idle #bb-nav-next,.idle .top-icons
{
	opacity:0
}
.comments-links
{
	margin:20px 0 0;
	padding:20px 0 0;
	border-top:2px solid #fff;
	color:#fff;
	display:inline-block;
	padding-left:50px;
	font-size:11px
}
.comments-links a
{
	color:#fff
}
.comments-links a:hover
{
	text-decoration:underline
}
	div.background
{
	top:0;
	bottom:0;
	right:0;
	left:0
}
.bar
{
	position:absolute;
	top:50%;
	right:50%;
	margin:-10px -100px;
	height:20px;
	width:200px;
	background-color:rgba(0,0,0,.1);
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-ms-border-radius:25px;
	border-radius:20px;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	-ms-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1)
}
.bar span
{
	display:inline-block;
	height:100%;
	width:100%;
	border:1px solid #9B0E0E;
	background-color:#d3d3d3;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-image:-webkit-linear-gradient(-45deg,#9B0E0E 25%,transparent 25%,transparent 50%,#9B0E0E 50%,#9B0E0E 75%,transparent 75%,transparent);
	background-image:-moz-linear-gradient(-45deg,#9B0E0E 25%,transparent 25%,transparent 50%,#9B0E0E 50%,#9B0E0E 75%,transparent 75%,transparent);
	background-image:-ms-linear-gradient(-45deg,#9B0E0E 25%,transparent 25%,transparent 50%,#9B0E0E 50%,#9B0E0E 75%,transparent 75%,transparent);
	background-image:linear-gradient(-45deg,#9B0E0E 25%,transparent 25%,transparent 50%,#9B0E0E 50%,#9B0E0E 75%,transparent 75%,transparent);
	-webkit-background-size:50px 50px;
	-moz-background-size:50px 50px;
	-ms-background-size:50px 50px;
	background-size:50px 50px;
	-webkit-animation:move 2s linear infinite;
	-moz-animation:move 2s linear infinite;
	-ms-animation:move 2s linear infinite;
	animation:move 2s linear infinite;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	overflow:hidden;
	-webkit-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-moz-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-ms-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	box-shadow:inset 0 10px 0 rgba(255,255,255,.2)
}
	@-webkit-keyframes move
{
	0%
{
	background-position:0 0
}
	100%
{
	background-position:50px 50px
}

}
	@-moz-keyframes move
{
	0%
{
	background-position:0 0
}
	100%
{
	background-position:50px 50px
}

}
	@-ms-keyframes move
{
	0%
{
	background-position:0 0
}
	100%
{
	background-position:50px 50px
}

}
	@keyframes move
{
	0%
{
	background-position:0 0
}
	100%
{
	background-position:50px 50px
}

}
.no-js-message
{
	position:absolute;
	top:0;
	right:0;
	display:table;
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	z-index:9999;
	background:#15293e;
	background:-moz-linear-gradient(top,#162c42 0%,#224466 35%,#24486c 46%,#214162 60%,#172d44 88%,#15293e 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#162c42),color-stop(35%,#224466),color-stop(46%,#24486c),color-stop(60%,#214162),color-stop(88%,#172d44),color-stop(100%,#15293e));
	background:-webkit-linear-gradient(top,#162c42 0%,#224466 35%,#24486c 46%,#214162 60%,#172d44 88%,#15293e 100%);
	background:-o-linear-gradient(top,#162c42 0%,#224466 35%,#24486c 46%,#214162 60%,#172d44 88%,#15293e 100%);
	background:-ms-linear-gradient(top,#162c42 0%,#224466 35%,#24486c 46%,#214162 60%,#172d44 88%,#15293e 100%);
	background:linear-gradient(to bottom,#162c42 0%,#224466 35%,#24486c 46%,#214162 60%,#172d44 88%,#15293e 100%);
	background-repeat:repeat-x;
	background-color:#15293e
}
.no-js-message .inner
{
	display:table-cell;
	vertical-align:middle
}
.no-js-message p
{
	font-size:18px;
	margin:20px 0
}
.js .no-js-message
{
	display:none
}

