/*============================================================================
  Social Icon Buttons v1.0
  Author:
    Carson Shold | @cshold
    http://www.carsonshold.com
  MIT License
==============================================================================*/
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?qhrhpx");
  src: url("fonts/icons.eot?qhrhpx#iefix") format("embedded-opentype"), url("fonts/icons.ttf?qhrhpx") format("truetype"), url("fonts/icons.woff?qhrhpx") format("woff"), url("fonts/icons.svg?qhrhpx#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="flaticon-"], [class*=" flaticon-"]{   
	font-family: Flaticon;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.flaticon-print:before {
	content: "\f127";
}
.flaticon-send:before {
	content: "\f111"; 
}

.icon-fancy:before {
  content: "\46";
}

.icon-twitter:before {
  content: "\54";
}

.icon-facebook:before {
  content: "\66";
}

.icon-google:before {
  content: "\67";
}

.icon-pinterest:before {
  content: "\70";
}

.icon-reddit:before {
  content: "\52";
}

.icon-linkedin:before {
  content: "\69";
}

.icon-skype:before {
  content: "\e900";
}


/*================ Social share buttons ================*/
.reading-bar .social-sharing {
	margin: 0;
}
.reading-bar .social-sharing li {
    list-style: outside none none;
    overflow: hidden;
    /* width: 170px; */
	float: left;
}
.social-sharing {
    font-family: 'droid arabic naskh', 'tahoma';
	/* padding: 15px 0 0; */
	margin: 10px 0;
	direction: ltr;
    /* column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4; */
  /*================ Large Buttons ================*/
}.details .social-sharing {    font-family: 'droid arabic naskh', 'tahoma';	/* padding: 15px 0 0; */	margin: 10px 0;	direction: ltr;    column-count: 1;    -moz-column-count: 1;    -webkit-column-count: 1;  /*================ Large Buttons ================*/}.details .is-large .share-title {  padding-right: 10px;  }

.social-sharing li{
	list-style: none;
	text-align: center; 
	float: left;
}

.infograph-page .social-sharing li{
	float: left;
}
.social-sharing * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.social-sharing a {
  display: inline-flex;
  color: #fff;
  border-radius: 2px;
  margin: 0 10px 0px 0;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
  font-weight: normal;
}

.social-sharing a:hover {
  color: #fff;
}

.social-sharing span {
  display: inline-block;
  vertical-align: top;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

.social-sharing .icon {
  padding: 0 5px 0 10px;
}

.social-sharing .icon:before {
  line-height: 22px;
}

.social-sharing.is-large a {
  height: 40px;
  line-height: 40px;
}

.social-sharing.is-large a span {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

.social-sharing.is-large a .icon {
  padding: 0 5px 0 11px;
}

.social-sharing.is-large a .icon:before {
  line-height: 40px;
}

.share-title {
  font-weight: 900;
  font-size: 12px;
  padding-right: 10px;
}

.is-large .share-title {
  padding-right: 16px;
  font-size: 11px !important;
}

.share-print {
  background-color: #0385bb;
}

.share-print:hover {
  background-color: #01628a;
}
.share-send {
  background-color: #0dbf04;
}

.share-send:hover {
  background-color: #088a01;
}

.share-facebook {
  background-color: #3b5998;
}

.share-facebook:hover {
  background-color: #2d4373;
}

.share-twitter {
  background-color: #00aced;
}

.share-twitter:hover {
  background-color: #0087ba;
}

.share-pinterest {
  background-color: #cb2027;
}

.share-pinterest:hover {
  background-color: #9f191f;
}

.share-fancy {
  background-color: #4999dc;
}

.share-fancy:hover {
  background-color: #2780cb;
}

.share-google {
  background-color: #dd4b39;
}

.share-google:hover {
  background-color: #c23321;
}

.share-reddit {
  background-color: #5f99cf;
}

.share-reddit:hover {
  background-color: #3a80c1;
}

.share-linkedin {
  background-color: #0077b5;
}

.share-linkedin:hover {
  background-color: #005582;
}

.share-skype {
  background-color: #00aff0;
}

.share-skype:hover {
  background-color: #008abd;
}

.share-rss {
  background-color: #a103fb;
}

.share-rss:hover {
  background-color: #7d04c2;
}


.share-count {
  position: relative;
  background-color: #fff;
  padding: 0 8px;
  margin-right: -2px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  border-radius: 0 2px 2px 0;
  border: 1px solid #ececec;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.share-count.is-loaded {
  opacity: 1;
}

.share-count:before,
.share-count:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid;
}

.share-count:before {
  left: -6px;
  border-right-color: #ececec;
}

.share-count:after {
  left: -5px;
  border-right-color: #fff;
}

a:hover .share-count {
  background-color: whitesmoke;
}

a:hover .share-count:after {
  border-right-color: whitesmoke;
}

.is-large .share-count {
  font-size: 18px;
  padding: 0 14px;
}

/*================ Clean Buttons ================*/
.social-sharing.is-clean a {
  background-color: #fff;
  border: 1px solid #ececec;
  color: #333;
  height: 30px;
  line-height: 30px;
}

.social-sharing.is-clean a span {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}

.social-sharing.is-clean a:hover {
  background-color: #ececec;
}

.social-sharing.is-clean a:hover .share-count {
  background-color: #fff;
}

.social-sharing.is-clean a:hover .share-count:after {
  border-right-color: #fff;
}

.social-sharing.is-clean a .share-title {
  font-weight: normal;
}

.social-sharing.is-clean .share-count {
  top: -1px;
}

.social-sharing.is-clean .icon-facebook {
  color: #3b5998;
}

.social-sharing.is-clean .icon-twitter {
  color: #00aced;
}

.social-sharing.is-clean .icon-pinterest {
  color: #cb2027;
}

.social-sharing.is-clean .icon-fancy {
  color: #4999dc;
}

.social-sharing.is-clean .icon-google {
  color: #dd4b39;
}

.social-sharing.is-clean .icon-reddit {
  color: #5f99cf;
}

.social-sharing.is-clean .icon-linkedin {
  color: #0077b5;
}

.social-sharing.is-clean .icon-skype {
  color: #00aff0;
}



/*================ 3d Buttons ================*/
.social-sharing.is-3d a {
  /* background-color: #425597; */
  border: 1px solid #ececec;
  color: #333;
  height: 30px;
  line-height: 30px;
}

.social-sharing.is-3d a span {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}

.social-sharing.is-3d a:hover {
  background-color: #ececec;
}

.social-sharing.is-3d a:hover .share-count {
  background-color: #fff;
}

.social-sharing.is-3d a:hover .share-count:after {
  border-right-color: #fff;
}

.social-sharing.is-3d a .share-title {
  font-weight: normal;
}

.social-sharing.is-3d .share-count {
  top: -1px;
}

.social-sharing.is-3d .icon-facebook {
  color: #FFF;
  background: #425597;
}

.social-sharing.is-3d .icon-twitter {
  color: #00aced;
}

.social-sharing.is-3d .icon-pinterest {
  color: #cb2027;
}

.social-sharing.is-3d .icon-fancy {
  color: #4999dc;
}

.social-sharing.is-3d .icon-google {
  color: #dd4b39;
}

.social-sharing.is-3d .icon-reddit {
  color: #5f99cf;
}

.social-sharing.is-3d .icon-linkedin {
  color: #0077b5;
}

.social-sharing.is-3d .icon-skype {
  color: #00aff0;
}


.rcircle{width:9px;height:9px;border-radius:5px;background:#E3B518;margin-right: -13px;margin-top: 6px;position: absolute;}

.weather{width:300px;height:293px;background:#f7bb03;overflow:hidden;color: #fff;}
.wthcircle {
   background: #dca808 none repeat scroll 0 0;
    border-radius: 88px;
	-moz-border-radius:88px;
	-webkit-border-radius:88px;
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: bold;
    height: 92px;
    margin-right: 108px;
    padding: 29px 10px;
    width: 96px;
}
.wh1 {height: 70px;}
.wh11 {float:right;margin: 10px;color: #fff;}
.wh12 {float:left;margin: 5px;}
.wh2 {
    height: 136px;
    margin-top: 28px;text-align: center;
}
.wh31 {
    color: #fff;
    float: right;
    margin-right: 15px;
    text-indent: 7px;
    width: 43px;direction: ltr;
}
.wh33 {
    float: left;
    margin-left: 9px;
}
.wh32 {
    color: #fff;
    float: right;
    margin-right: 120px;
    text-indent: 3px;
    width: 45px;direction: ltr;
}
.hitfol {
    float: right;
}
.followunfollow {
    float: left;
}
.hashheader h3 {
    margin-bottom: 20px;
    text-indent: 10px;
}
.hitfol{color:#fff;}
.hashfollows {
    background: #f7bb03 none repeat scroll 0 0;
    border-radius: 0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
    padding: 0 10px;
}
.hashhits {
    background: #1c3b4f none repeat scroll 0 0;
    border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	-webkit-border-radius:4px 0 0 4px;
    padding: 0 10px;
}
a.hfollow {
    background: #f7bb03 none repeat scroll 0 0;
    border-radius: 8px 0;
    padding: 2px 25px;color:#fff;
}
a.hunfollow {
    background: #1c3b4f none repeat scroll 0 0;
    border-radius: 8px 0;
	-moz-border-radius:8px 0;
	-webkit-border-radius:8px 0;
    padding: 2px 25px;color:#fff;
}
.hashrow {
    background: #eee none repeat scroll 0 0;
    margin: 15px 0;
}
.hashrow img{
	margin-left: 10px;
}

.hashmore {
    border: 1px solid #ccc;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
    border-radius: 50%;
    display: block;
    font-size: 13px;
    height: 100px;
    padding: 29px 20px;
    width: 100px;margin:auto;
}.hashmore:hover{color:#f7bb03;border-color:#f7bb03;}
.hashmore:hover .hashmoreicon{border-color: #f7bb03  transparent transparent;}
.hashmoreicon {width: 0;
height: 0; margin: 13px 16px;
border-style: solid;
border-width: 10px 10px 0 10px;
border-color: #1c3b4f transparent transparent}
.currency {
    background: #1c3b4f none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    line-height: 38px;
    padding: 16px;position:relative;
	margin-bottom: 25px;
}
.dollarsign::before{
    color: #0f232f;
    content: "$";
    font-size: 100px;
    left: 40px;
    position: absolute;
    top: 81px;
    z-index: 0;font-weight: bold;
}
.govs {
    background: #363636 none repeat scroll 0 0;
    height: 633px;
    overflow: hidden;
}
.mapbig{  background: rgba(0, 0, 0, 0) url("../../../../../../img/egdot.jpg") no-repeat scroll center center;
    height: 419px;
    margin: 116px -675px;
    position: relative;right:50%;
    width: 753px;float:right}

.gav{ border: 3px solid #ccc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
    border-radius: 10px;
    cursor: pointer;
    height: 0;
    margin-right: -231px;
    margin-top: -14px;
    position: absolute;
    width: 0;}



#gov1{ right: 472px;
    top: 30px;}

#gov2{ right: 442px;
    top: 77px;}

#gov3{  right: 521px;
    top: 23px;}

#gov4{   right: 544px;
    top: 18px;}

#gov5{ right: 580px;
    top: 20px;}

#gov6{ right: 705px;
    top: 31px;}

#gov7{ right: 517px;
    top: 35px;}

#gov8{  right: 539px;
    top: 29px;}

#gov9{ right: 562px;
    top: 34px;}

#gov10{ right: 609px;
    top: 40px;}

#gov11{ right: 635px;
    top: 30px;}

#gov12{  right: 539px;
    top: 49px;}

#gov13{ right: 567px;
    top: 47px;}

#gov14{ right: 514px;
    top: 53px;}

#gov15{ right: 555px;
    top: 56px;}

#gov16{   right: 580px;
    top: 64px;}

#gov17{ right: 546px;
    top: 71px;}

#gov18{ right: 594px;
    top: 81px;}

#gov19{ right: 549px;
    top: 91px;}

#gov20{ right: 586px;
    top: 105px;}

#gov21{ right: 526px;
    top: 122px;}

#gov22{ right: 494px;top: 141px;}

#gov23{ right: 446px;top: 154px;}

#gov24{ right: 462px;top: 177px;}

#gov25{ right: 373px;top: 178px;}

#gov26{ right: 572px;top: 204px;}

#gov27{   right: 446px;top: 274px;}



.gav:hover{ background:url(../../../../../../img/blueball.png) no-repeat left;}
.tipr_content
{
     color: #333; 
     background-color: #fff;
     padding: 5px;
	 text-align:center;
	 font-size:9pt;
	 font-weight:bold;
	 
}
.tipr_container_bottom
{
     display: none;
     position: absolute;
     margin-top: 13px;
     z-index: 1000;
}
.tipr_container_top
{
     display: none;
     position: absolute;
     top: -50px;
     z-index: 1000;
	 left:-1px;
	 width:120px;
}
.tipr_point_top, .tipr_point_bottom 
{
     position: relative;
	background: #fff;
	border: 1px solid #dcdcdc;
}
.tipr_point_top:after, .tipr_point_top:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	top: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_top:after
{
	border-top-color: #fff;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.tipr_point_top:before 
{
	border-top-color: #dcdcdc;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}
.tipr_point_bottom:after, .tipr_point_bottom:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	bottom: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_bottom:after
{
	border-bottom-color: #fff;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.tipr_point_bottom:before 
{
	border-bottom-color: #dcdcdc;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}



.ticker-wrapper.has-js{ width: auto !important;}
.ticker-swipe{background:none repeat scroll 0 0 #1A3B4E !important;}
.ticker-content a{ 
	font-family: droid arabic kufi !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
	
}
.right .ticker-controls{ margin-top:18px !important;}

.gcontent{position:relative;}
.popUpdiv {
   background: #1a3b4e none repeat scroll 0 0;
    color: #f7bb03;
    display: block;
    float: left;
    height: 633px;
    position: relative;
    width: 530px;
	/* overflow:hidden; */
}
.popUpdiv .tit_1 {
    background: #f7bb03 none repeat scroll 0 0;
    color: #fff;
    /*  height: 101px; */
    padding: 12px 6px;
    position: absolute;
    right: -38px;
    text-align: center;
    top: 73px;
    width: 125px;
	z-index: 20;
}
.popUpdiv .name {
    font-family: "droid arabic kufi";
    font-size: 21pt;
    font-weight: bold;
}
.contentlist {
    width: 100%;
}
.firstgovrow {

    height: 245px;
    overflow: hidden;
    padding: 0px 17px;
    width: 100%;
	margin-bottom: 5px;
}
.firstgovrow .govrowimg > img {
    height: 218px;
    width: 489px;
}
.firstgovrow .govrowtitle {
	background: rgba(192,187,140,1);
	background: -moz-linear-gradient(left, rgba(192,187,140,1) 21%, rgba(192,187,140,1) 22%, rgba(192,187,140,0) 50%, rgba(192,187,140,0) 54%);
	background: -webkit-gradient(left top, right top, color-stop(21%, rgba(192,187,140,1)), color-stop(22%, rgba(192,187,140,1)), color-stop(50%, rgba(192,187,140,0)), color-stop(54%, rgba(192,187,140,0)));
	background: -webkit-linear-gradient(left, rgba(192,187,140,1) 21%, rgba(192,187,140,1) 22%, rgba(192,187,140,0) 50%, rgba(192,187,140,0) 54%);
	background: -o-linear-gradient(left, rgba(192,187,140,1) 21%, rgba(192,187,140,1) 22%, rgba(192,187,140,0) 50%, rgba(192,187,140,0) 54%);
	background: -ms-linear-gradient(left, rgba(192,187,140,1) 21%, rgba(192,187,140,1) 22%, rgba(192,187,140,0) 50%, rgba(192,187,140,0) 54%);
	background: linear-gradient(to right, rgba(192,187,140,1) 21%, rgba(192,187,140,1) 22%, rgba(192,187,140,0) 50%, rgba(192,187,140,0) 54%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0bb8c', endColorstr='#c0bb8c', GradientType=1 );

	color: #fff;
    float: left;
    font-size: 14px;
    height: 218px;
    left: 20px !important;
    position: absolute;
    top: 26px;
    width: 100%;
}
.firstgovrow .govrowtitle > h3 {
    float: left;
    font-size: 16pt;
    left: 10px;
    position: absolute;
    top: 60px;
    width: 195px;
	text-shadow: 0 0 2px #000;
}
.firstgovrow .govrowcat {
    background: #f7bb03 none repeat scroll 0 0;
    color: #fff;
    float: left;
    left: 140px;
    padding: 2px 7px;
    position: absolute;
    top: 50px;
}
.govrow {
     height: 120px;
    overflow: hidden;
    padding: 8px 12px;
}
.govrow .govrowimg > img {
    float: right;
    height: 106px;
    width: 165px;
}
.govrow .govrowtitle > h3 {
    display: block;
    float: right;
    font-size: 14pt;
    margin-right: 10px;
    width: 293px;
	color: #FFF;
}
.govrow  .govrowcat {
    background: #162e3d none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 2px 8px;
	 margin-top: 14px;
}
.govrowcat > h5 {
    font-family: droid arabic naskh;
    padding: 3px 9px;
	font-weight: bold;
	font-size: 12pt;
}
.dhficon {
    margin-right: -46px !important;
    margin-top: -2px;
    position: absolute;
}
.dhficon .dropdown-menu, .dropdown-menu2 {
    background: #e6e6e6 none repeat scroll 0 0;
    color: #1c3b4f;
    padding: 10px;
    text-align: right;
	 z-index: 10;
	margin-left: -52px;
}
.dhficon .dropdown-menu{
	width: 345px !important;
   	font-size: 8pt;
	max-height: 402px;
    
}
 .dropdown-menu2{
	animation: 7s ease 0s normal none 1 running notification;
    border-radius: 8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
    margin-right: -219px;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 300px;
	font-size: 11px;
   
	}
.dhficoncount {
    background: #e5ad03 none repeat scroll 0 0;
    border-radius: 100px;
    display: block;
    font-size: 14px;
    height: 21px;
    left: 13px;
    min-width: 21px;
    padding: 2px 4px;
    position: absolute;
    text-align: center;
    top: -9px;
    z-index: 1111;
	
}
.unreaded .hnotifrowtit a {
    color: #000 !important;
}
@keyframes notification {
    0% {opacity: 0;}10% {opacity: 1;} 80% {opacity: 1;}100% {opacity: 0;}
}
@-webkit-keyframes notification {
    0% {opacity: 0;}10% {opacity: 1;} 80% {opacity: 1;}100% {opacity: 0;}
}
@-moz-keyframes notification {
 0% {opacity: 0;}10% {opacity: 1;} 80% {opacity: 1;}100% {opacity: 0;}
}
@-o-keyframes notification {
   0% {opacity: 0;}10% {opacity: 1;} 80% {opacity: 1;}100% {opacity: 0;}
}

@keyframes notification2 {
    0% {opacity: 0;}5% {opacity: 1;} 80% {opacity: 1;}100% {opacity: 0;}
}
@-webkit-keyframes notification2 {
    0% {opacity: 0;}5% {opacity: 1;} 80% {opacity: 1;}100% {opacity: 0;}
}
@-moz-keyframes notification2 {
 0% {opacity: 0;}5% {opacity: 1;} 80% {opacity: 1;}100% {opacity: 0;}
}
@-o-keyframes notification {
   0% {opacity: 0;}5% {opacity: 1;} 80% {opacity: 1;}100% {opacity: 0;}
}
.notarrow{
	width: 0;
height: 0;
border-style: solid;
border-width: 0 10px 10px 10px;
border-color: transparent transparent #e6e6e6 transparent;
line-height: 0px;
_border-color: #000000 #000000 #e6e6e6 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
position: absolute;
    right: 185px;
    top: -10px;
}
.dropdown-menu .notarrow{ right: 265px;}
.hnotif .hashcircle {
    display: inline-block;
    float: none;
    font-size: 9pt;
    height: 20px;
    width: 20px;
	  position: relative;
    top: 5px;
}
.hnotifhashname {
    color: #1c3b4f;
    font-family: masr-bold;
    font-size: 10pt;
    padding: 0 4px;
}
.hnotifrowtit a {
    color: #1c3b4f !important;
    font-size: 9pt !important;
    overflow: hidden;
}
.hnotifrow {
    border-bottom: 1px solid #ccc;
    margin-top: 8px;
    overflow: hidden;
    padding-top: 8px;
    width: 100%;
}
.hnotifcnt {
    font-weight: bold;
}
.hnotifrowimg {
    float: right;
    height: 50px;
    width: 50px;
}
.hfrom {
    font-size: 7pt;
    margin-right: 10px;
}
.hnotifrowtit {
    float: right;
    margin-right: 8px;
    width: 240px;
}
#hashtagresults {
    max-height: 379px;
    overflow: hidden;
	position:relative;
}
.hnotifcnt a {
    color: #1c3b4f !important;
    font-size: 11pt !important;
    font-weight: bold;
}
.hnotifhashhead a {
    color: #1c3b4f !important;
	 font-size: 11pt !important;
}
.hnotifheader {
    background: #ddd none repeat scroll 0 0;
    padding-right: 8px;
}
#mt-notify-realtime{
	 bottom: 127px;
	 height: auto;
	 left: 70px;
	 position: fixed;
	 direction: rtl;
	 z-index: 99999;
}
.mtrealnotify{
    background: #eee none repeat scroll 0 0;
    animation: 10s ease 1s normal none 1 running notification;
    border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
    box-shadow: 0 5px 8px -3px #ccc;
    display: none;
    height: auto;  
    overflow: hidden;
    padding: 10px;
    text-align: right;
    width: 200px;
	display: block;
	opacity:0;
	margin:20px 0;
}
.mtrealnotify a{font-size:14px;}
.nclose {
    background: #ccc none repeat scroll 0 0;
    float: left;
    font-family: Verdana;
    font-size: 11px;
    left: 0;
    padding: 1px 4px;
    position: relative;
    top: -4px;
}

._50d1 {
    border-radius: 4px;
    bottom: 30px;
    left: 30px;
    list-style: outside none none;
    margin: 0;
    opacity: 0.96;
    position: fixed;
    width: 245px;
    z-index: 401;
}
._3sod {
    background-color: #e9eaed;
    border: 1px solid #9daccb;
    border-radius: 3px;
    font-size: 11px;
    margin-top: 3px;
    opacity: 0;
    position: relative;
    top: -30px;
    transition: top 0.2s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
	    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    margin-top: 4px;
    transition: top 0.2s ease-in-out 0s, opacity 0.3s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
	list-style: none;

}
 ._3sod {
    font-size: 12px;
}
._3soj {
    padding: 10px;
}
._38vo {
    position: relative;
	margin-left: 8px;
}
._38vo::after {
    border: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
._3soc {
    float: right;
    height: 12px;
    margin: 10px 10px 8px 8px;
    width: 12px;
}
._1x8t {
    height: 16px;
    margin-right: 6px;
    width: 16px;
}

._3soe {
    opacity: 1;
    top: 0;
}
._3sof {
    display: none;
}

._3sod:hover {
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.lfloat {
    float: left;
}
.rfloat {
    float: right;
}
._3sok {
    height: 28px;
    width: 28px;
}
.fwb {
    font-weight: bold;
}
._3soc {
    float: left;
    height: 12px;
    margin: 10px 10px 8px 8px;
    width: 12px;
}
#mt-notify-realtime .flaticon-clock::before {
    font-size: 11pt !important;
    margin-left: 5px;
}
#sync2 .owl-item {
    opacity: 0.6;
}
#sync2 .center + .active {
   opacity: 1;
}
.details.covers{
	margin:20px 0 5px;
}
.covertitle {
    background: #f7bb03 none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    float: right;
    font-family: masr-bold;
    line-height: 2;
    padding: 0 25px;
}
.coveritems{
	width: 100%;
	overflow: hidden;
	border-top: 3px solid #f7bb03;
	padding-top: 5px 0;
}
.coveritem {
    float: right;
    font-size: 14px;
    /* height: 120px; */
    margin: 5px;
    width: 355px;
}
.coveritem h3 {
    font-family: masr-bold;
    font-size: 12pt;
    line-height: 1.5;
    padding: 8px;
    text-align: right;
}
.coveritem span img{
	margin: 0!important;
}

.coveritem:hover{
	background: #1c3b4f ;
}
.coveritem:hover h3{
	color: #FFF ;
}
.coverimg {
    float: right;
    height: 80px;
    padding-left: 10px;
    width: 100px !important;
}
 