@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

@import url(font/flaticon.css);

@import url(share.css?v=1.1);



@font-face {

    font-family: "Masr-bold";

    font-style: normal;

    font-weight: normal;

    src: url("fonts/masr-bold.eot?#iefix") format("embedded-opentype"), url("fonts/masr-bold.woff") format("woff"), url("fonts/masr-bold.ttf") format("truetype");

}



@font-face {

    font-family: "Masr-light";

    font-style: normal;

    font-weight: normal !important;

    src: url("fonts/masr-light.eot?#iefix") format("embedded-opentype"), url("fonts/masr-light.woff") format("woff"), url("fonts/masr-light.ttf") format("truetype");

}

* {

	margin: 0;

	padding: 0;

}



a {

	text-decoration: none;

	color: #1c3b4f;

	font-weight: normal !important;

}



/* This class is added on scroll */

.fixed {

	position: fixed;

	top: 0;

	height: 70px;

	z-index: 1;

}

body {

	margin: 0;

	padding: 0;

	direction: rtl;

	color: #1c3b4f;

	background: #FFF;

	font-family: 'Droid Arabic Naskh', serif;

	font-size: 18px;

}

body > .wrapper{

	padding-bottom: 70px;

	overflow-x: hidden;

	min-width: 1065px;

}



h1, h2, h3, h4, h5, h6 {

    font-family: 'Masr-bold', "Droid Arabic Naskh",serif;

    font-weight: 400;

}

li{

	list-style: none;

}

header {

	margin: auto;

	width: 1600px;

	/* border-bottom: 3px solid #f7bb03; 

	overflow: hidden;*/

}

header.header-wrap{

	width: 100% !important; 

}

.min-header{

	height: 40px;

	width: 100%;

	margin:  auto;

	background: #162e3d;



}

.main-header{

	height: 70px;

	margin: auto;

	width: 100%;

	background: #1c3b4f;

	border-bottom: 3px solid #f7bb03;



}

.main-header .moduletable {

    overflow: visible; 

}

header .container {

    margin: auto;

    width: 1300px;

}



.date {

    color: #fff;

    line-height: 30px;

    overflow: hidden;

    padding: 5px 15px 0;

	font-size: 9pt;

	float: right;

	font-family: Tahoma;

	color: #688ea6;

}

.date .manager{

	color: #a0a1a2;

}

.date .full-date b{

	color: #f7bb03;

	font-weight: normal;

}

.search{

	float: left;

	width: 215px;

}



#top_icon > a {

    color: #fff;

    display: inline-block;

    margin-right: 10px;

	font-size: 18pt;

	color: #FFF;

}

#top_icon > a:hover {

	color: #f7bb03;

}

.logo{

	float: right;

	padding: 15px 0 0;

	width: 140px; 

	/* margin-left: 20px; */

}



.topmenu{

	float: right;

}

.topmenu ul.nav li{

	float: right;

	list-style: none;

	padding: 17px 5px;

}

.topmenu ul.nav li.active, .topmenu ul.nav li:hover{

	background: #21465d;

	border-top: 5px solid #f7bb03;

	padding-top: 12px;

}

.navbar-brand, .navbar-nav > li > a{

	line-height: 20px !important;

	padding: 5px 7px !important;

	color: #FFF;

	font-size: 13pt;

	font-family: Masr-light;

}

.navbar-brand, .navbar-nav > li:hover > a{

	color: #f7bb03;

}

.nav > li {

    display: block;

    position: static;

} 

.open > .dropdownmenu {

    display: block;

}

/* .dropdown:hover .dropdownmenu {

	display: block;

} 

.dropdown.open:hover{

		background: #21465d;

	border-bottom: 5px solid #f7bb03;



}*/



.dropdownmenu {

    background: #162e3d none repeat scroll 0 0;

    color: #fff;

    display: none;

    float: left;

    height: 41px;

    left: 0;

    line-height: 41px;

    margin: 0 auto;

    min-width: 160px;

   /*  padding: 5px 0; */

    position: absolute;

    text-align: center;

    top: 63px;

    width: 100%;

    z-index: 1000;

}



.dropdownmenu > li > a {

    clear: both;

    color: #fff;

    display: block;

    font-weight: normal;

    line-height: 1.42857;

    padding: 3px 20px;

    white-space: nowrap;

	font-family: 'Masr-bold';

	font-size: 12pt;

}



.dropdownmenu li {

    display: inline-block;

    padding: 5px 0 5px !important;

}

.dropdownmenu li:hover {

	border: 0 !important;

	border-right: 3px solid #f7bb03 !important;

	padding-right: 12px !important;

}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {

    background-color: none !important;

    border-color: none !important;

}

.dropdown-toggle {

    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;

}

.nav .open > a{

	color: #f7bb03;

}

.dropdown-menu > li:hover > a, .dropdown-menu > li:focus > a

{

	background: none !important; 

	color: #f7bb03;	

	border-bottom: 3px solid #f7bb03;

	padding-bottom: 9px;

	

}





.social-icons{

	float: left;

	padding: 20px 0 0;

}

section{

	width: 100%;

	overflow: hidden;

}

/****** Footer ******/

.footer{

	width: 100%;

	/* height: 100px; */

	background-color: #1c3b4f;

}

.page-footer {

    background: #1c3b4f none repeat scroll 0 0;

	color: #FFF;

	position: fixed; 

	bottom: 0;

	width: 100%;

	z-index: 1000;

}

.page-footer .footer-nav{

	display: none;

	max-height: 310px;

	overflow: hidden;

	border-top: 1px solid #3e4b5c;

	border-bottom: 1px solid #3e4b5c;



}

.page-footer .footer-nav .nav-item .wingify-logo:hover {

    opacity: 1;

}

.page-footer .copyright-block {

    padding: 2px 0;

	border-top: 1px solid #3e4b5c;

}

.page-footer .copyright-block ul {

    list-style: outside none none;

}

.page-footer .copyright-block ul li {

    color: #a3a3a3;

    display: inline-block !important;

    font-size: 12px;

    line-height: 22px;

    vertical-align: baseline;

}

.page-footer .copyright-block ul li a {

    color: #e8ebef;

    display: inline-block !important;

    font-family: droid arabic naskh;

    font-size: 11pt;

}

.page-footer .copyright-block ul li::after {

    content: "/";

    display: inline;

    padding: 0 5px;

}

.page-footer .copyright-block ul li:last-of-type::after {

    display: none;

}

.page-footer .copyright-block .col-links {

    float: left;

}

.page-footer .copyright-block .col-lang {

    float: right;

}



.page-footer .footer-nav #top_icon > a {

    border-radius: 50%;

    color: #fff;

    display: inline-block;

    font-size: 18pt;

    height: 40px;

    margin: 10px 1px;

    padding: 3px;

    text-align: center;

    width: 40px;

}



.footer-wrapper{

	min-height: 300px;

}

.footer .social-icons > a {

    margin: 0 !important;

    padding: 3px 10px;

}

.footer .social-icons > a {

    margin: 0 !important;

    padding: 3px 10px;

}

.footer .navbar-nav {

    padding-top: 20px;

}

.footer .navbar-brand, .footer .navbar-nav > li > a {

    color: #fff;

    font-family: droid arabic naskh;

    font-size: 13pt;

    line-height: 20px !important;

    padding: 10px;

}

/* .footer-menus .moduletable {

    float: right;

    margin: 0 10px;

    width: 30%;

} */



.footer-menus h3.modulehead {

    border-bottom: 1px solid #eaeaea;

    display: block;

    font-family: droid arabic naskh;

    font-size: 21px;

    font-weight: bold !important;

    margin-bottom: 10px;

    padding: 10px 15px 5px;

    position: relative;

}



.footer-menus h3.modulehead a {

    color: #FFF;

    font-weight: bold !important;

}

.footer-nav .footer-menus .navbar-nav li{

	width: 100%;

}

.footer-nav .footer-menus .navbar-nav li a{

    font-family: droid arabic naskh;

	font-size: 10pt;

	font-weight: normal;

}

.footer-nav .footer-menus .navbar-nav li .dropdownmenu{

	display: none !important;

}



.container{

	width: 1065px;

	margin: 10px auto;

	overflow: hidden;

}

.slider-left{

	float: left;

	width: 300px;

	height: 500px;

	overflow: hidden;

}

.slider{

	float: right;

	width: 740px;

	height: 500px;

	overflow: hidden;

}

.slideshow .owl-item {

	width: 740px;

	height: 500px;

	position: relative;

} 

.slideshow .owl-item .fullscreen-icon::before, .flipslider .fullscreen-icon::before{

	font-size:31pt;

	color: #e9e5e0;

	cursor: pointer;

}



.slideshow .owl-item .fullscreen-icon, .flipslider .fullscreen-icon{

	position: absolute;

	top: 10px;

	left: 25px;

	width: 35px;

	height: 35px;



}

.slideshow .share-icons, .flipslider .share-icons , .slider-featured .share-icons {

    position: absolute;

    right: 97px; 

    top: 10px;

    width: 290px;

	z-index: 3;

}

.slideshow .share-icons .icons, .flipslider .share-icons .icons, .slider-featured  .share-icons .icons {

    border-radius: 50%;

    color: #fff;

    font-size: 12pt;

    height: 35px;

	line-height: 35px;

    text-align: center;

    width: 35px;

	list-style: none;

	float: right;

	margin: 0 5px;

}

.slideshow .share-icons .icons > a, .flipslider .share-icons .icons > a, .slider-featured .share-icons .icons > a{

	color: #FFF;

}

.slideshow .share-icons .icons > a .glyph-icon::before, .flipslider .share-icons .icons > a .glyph-icon::before , .slider-featured .share-icons .icons > a .glyph-icon::before {

	color: #fff;

    font-size: 12pt;

    padding: 0;

    line-height: 2.2;

}

.slideshow .owl-item .item-title{

	position: absolute;

	bottom: 0px;

	padding: 80px 20px 20px;

	width: 740px;

	min-height: 100px;

	

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );



}

.slideshow .owl-item .item-title a h4{

	color: #f7bb03;

    font-size: 14pt;

	font-weight: bold;

    line-height: 40px;

	font-family: "Droid Arabic Naskh",serif;

}

.slideshow .owl-item .item-title a h2{

	font-size: 26px;

	color: #FFF;

}



.sliderelated {

    color: #f1f1f1;

    font-size: 12px;

    left: 90px !important;

    position: absolute;

    top: 140px;

    width: 250px;

	overflow: hidden;

}

.sliderelated li {

    background: #59564b none repeat scroll 0 0;

    border-right: 4px solid #f7bb03;

    color: #f1f1f1;

    cursor: pointer;

    line-height: 21px;

    list-style: outside none none;

    margin: 6px 0;

    min-height: 37px !important;

    padding: 5px 8px;

    width: 249px;

}

.sliderelated li a {

    color: #f1f1f1;

    font-size: 13px;

    font-weight: bold !important;

}

.sliderelated li.reven {background: #9D9681 none repeat scroll 0 0;}

a.slidehashlink {

    color: #fff;

    font-family: "Masr-bold", serif;

    font-size: 17px;

}

a.slidehashlink:hover {color:#f7bb03}





.slideshow .owl-nav [class^="flaticon-"]::before, .slideshow .owl-nav [class*=" flaticon-"]::before, .slideshow .owl-nav [class^="flaticon-"]::after, .slideshow .owl-nav [class*=" flaticon-"]::after {

	font-size: 26pt !important;

}

.slideshow .owl-nav .owl-prev{

	position: absolute;

	top: 225px;

	left: 5px;

	color: #FFF;

}

.slideshow .owl-nav .owl-next{

	position: absolute;

	top: 225px;

	color: #FFF;

	right: 5px;

}





/*** HashTag ***/

.hashtag {

    height: 103px;

	margin: 15px auto;

	overflow: hidden;

}

.hashcircle {

    background: #f7bb03 none repeat scroll 0 0;

    border: 1px solid #f7bb03;

    border-radius: 50%;

    color: #fff;

    float: right;

    font-size: 30px;

    font-weight: bold;

    height: 50px;

    line-height: 1.7;

    overflow: hidden;

    position: relative;

    text-align: center;

    top: 29%;

    width: 50px;

}

.hashcircle::after {content:"#";}

.hashline { 

    width: 1px;

    height:100px;position: relative;right: 60px;top: -35px;

}



.hashline::before, .hashline::after {

    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(247, 187, 3, 1) 40%, rgba(0, 0, 0, 0) 67%) repeat scroll 0 0;

    content: "";

    display: block;

    height: 127px;

    width: 1px;

}

.hashhead {

    float: right;

    height: 70px;

    overflow: hidden;

    vertical-align: middle;

    width: 73px;

}

.hashcontent {

    float: right;

    width: 990px;

    height: 90px;

    min-width: 200px;

    position: relative; 

}

.hashcontenttext {

    background: #eaeaea none repeat scroll 0 0;

    border-radius: 6px 0 0 6px;

    color: #284558;

    font-size: 12pt;

    padding: 2px 5px;

}

.hashcontenttext:hover {font-weight:bold; padding: 2px 5px;}

.hashcontent a {

    background: #7d7d7d none repeat scroll 0 0;

    border-radius: 5px;

    float: right;

    height: 35px;

    margin-bottom: 15px;

    margin-left: 25px;

    padding: 0 2px;

}

.hashcontent  a:hover {background:#f7bb03;font-weight:bold;}

.hashsymb {

    color: #fff;

    font-size: 20px;

    line-height: 1.7;

    padding: 0 4px;

}



a.hashfolcnt{

	background:#1c3b4f;color:#f7bb03; height: 35px;

}



a.hashfolcnt:hover .hashno{color:#fff}

.hashfoltext{font-size:10px;color:#fff;padding-right:6px}



.hashno {

    color: #f7bb03;

    float: right;

    font-size: 26px;

    line-height: 1.5;

    padding: 0 4px 0 0;

}

.hashheader  {

    overflow: hidden;

    font-family: Masr-light;

    font-size: 13pt;

    border-bottom:2px solid #ccc;margin-bottom:20px;padding:20px 0;

	

}

.hashheader > a {

	color: green;

    float: left;

    position: relative;

	border:1px solid #ccc;border-bottom:none;

	

}



.article .hashcontent {

    float: right;

    width: 664px;

    height: 90px;

    min-width: 200px;

    position: relative; 

}

.article .hashfoltext{font-size:21px;color:#f7bb03;padding-right:6px}

.article .hashcontenttext {

    color: #284558;

    font-size: 12pt;

    padding: 2px 5px 0;

}

.article a.hashfolcnt:hover .hashfoltext{color:#fff}

.article .photogallery {

    background: #444 none repeat scroll 0 0;

    padding: 5px;

	position: relative;

	width: 737px;

}



.most .nav-tabs > li{

	background: #f7f7f7;

}

.nav-tabs > li > a{

	color:#1c3b4f;

	font-family: 'masr-light', serif;

	font-weight:normal;

	font-size: 13pt;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus

{

	color: #f7bb03 !important;

}

.most .nav-tabs > li > a{

	color:#878787;

	font-family: 'masr-bold', serif;

	font-weight:normal;

	font-size: 13pt;

}

.most .disabled {

    background: #eaeaea none repeat scroll 0 0 !important;

    color: #1c3b4f;

    height: 46px;

    line-height: 40px;

    padding: 4px 15px;

	font-family: 'masr-light', serif;

	font-weight:normal;

	font-size: 12pt;



}

.most .tab-content{

	padding: 20px 15px 0;

	background: #eaeaea;

	overflow: hidden;

}

.most-large{

	width: 420px;

	float: right;

	overflow: hidden;

	margin-left: 15px;

}

.most-wide{

	width: 600px;

	float: right;

	overflow: hidden;

	column-count: 2;

	-webkit-column-count: 2;

	-moz-column-count: 2;

}

.most-wide .small-item{

	height: 211px;

	margin-bottom: 20px !important;

}



.most .tab-content .most-large .small-item:nth-child(1){

	overflow: hidden;

	display: block;

	width: 420px;

	height: 300px;

	float: right;

	position: relative;

	margin-bottom: 16px;



}

.most .tab-content .most-large .small-item:nth-child(1) img {

	width: 420px;

	height: 300px;

	float: right;



}

.most .tab-content .most-large .small-item:nth-child(1) .titles{

	/*position: absolute;

	bottom: 0px;

	 background: rgba(247, 187, 3, 0.8); 

	padding: 10px;

	width: 100%;*/

}



.most .tab-content .most-large .small-item:nth-child(2), .most .tab-content .most-large .small-item:nth-child(3){

	width: 200px;

	height: 125px;

	float: right;

}

.most .tab-content .most-large .small-item:nth-child(2){

	margin-left:20px;

}

.most .tab-content  .large-item  a .titles, .most .tab-content  .small-item  a .titles{

	color: #1c3b4f;

}



.most .tab-content .titles h3 {

    font-size: 12pt;

    font-weight: normal;

    line-height: 1.5;

	color: #FFF;

}

.most .tab-content .titles h6 {

	font-family: 'Masr-light';

    font-size: 12pt;

    font-weight: normal;

    line-height: 1.7;

	color: #f7bf13;

	min-height: 20px;

}





.most .tab-content .small-item{

	overflow: hidden;

	display: block;

	margin-bottom: 11px;

	position: relative;

}

.most .tab-content .small-item .titles{

	width: 100%;

	position: absolute;

	bottom: 0px;

	padding: 10px 5px;

	min-height: 70px;

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );



}



.most-mini .small-item{

	overflow: hidden;

	display: block;

	margin-bottom: 11px;

	position: relative;

}

.most-mini .small-item .titles{

	width: 100%;

	position: absolute;

	bottom: 0px;

	padding: 40px 5px 10px;

	min-height: 70px;

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );



}

.most-mini .most-large .small-item) img {

	width: 420px;

	height: 300px;

	float: right;



}

.most-mini .most-large .small-item .titles{

	/*position: absolute;

	bottom: 0px;

	 background: rgba(247, 187, 3, 0.8); 

	padding: 10px;

	width: 100%;*/

}





.most-mini  .large-item  a .titles, .most-mini  .small-item  a .titles{

	color: #1c3b4f;

}



.most-mini .titles h3 {

    font-size: 12pt;

    font-weight: normal;

    line-height: 1.5;

	color: #FFF;

}

.most-mini .titles h6 {

	font-family: 'Masr-light';

    font-size: 12pt;

    font-weight: normal;

    line-height: 1.7;

	color: #f7bf13;

	min-height: 20px;

}





.right{

	float: right;

	overflow: hidden;

	width: 737px;

}

.left{

	float: left;

	width: 300px;

	overflow: hidden;

}

 

h3.modulehead {

    border-bottom: 1px solid #eaeaea;

    display: block;

    font-family: droid arabic naskh;

    font-size: 21px;

    font-weight: bold !important;

    margin-bottom: 10px;

    padding: 10px 15px 5px;

    position: relative;

}

.left h3.modulehead {

	padding-right: 0 !important;

	padding-left: 0 !important;

}

h3.modulehead a{

	font-weight: bold !important;

	color: #1c3b4f ;

}



.moduletable  {

	overflow: hidden;

}

.more .large-item {

    float: right;

    margin-left: 20px;

    position: relative;

	width: 360px;

	margin-bottom: 19px;

	overflow: hidden;

}

.more .large-item .titles{



	background: rgba(247, 187, 3, 0.9) none repeat scroll 0 0;

    bottom: 0;

    padding:0 10px;

    position: absolute;

    width: 366px;

	height: 49px;

}

.more .large-item .titles > h4 {

    color: #fff;

	font-family: 'droid arabic naskh';

}



.more .small-item{

	float: right;

	width: 232px;

	position: relative;

	margin-left: 20px;

	margin-top: 10px;



}



.more .small-item img{

	float: right;

	/* width:177px;

	height: 140px; */

	margin-left: 10px;

}

.more .small-item .titles{

	position: absolute;

	bottom: 0;

	padding: 10px;

		

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ); 

	

    transition: all 0.2s ease-in-out 0s;



	color: #FFF;

} 

.more .small-item .titles h6 {

    color: #f7bb03;

    font-family: "Droid Arabic Naskh";

    font-size: 11pt;

    font-weight: bold;

}



.more_news .large-item .titles h3{

	font-family: "Masr-bold";

    font-size: 13pt;

    line-height: 1.3;

    padding: 5px;

}

.more .small-item .titles h3{

	font-size: 12pt;

	font-weight: bold;

	font-family: "Droid Arabic Naskh";

}



.more .small-item:nth-child(2), .more .small-item:nth-child(3){

	float: left;

	width: 355px;

	position: relative;

	margin-bottom: 20px;

	margin-left: 0;

		margin-top: 0px;



}

.more .small-item:last-child{

	margin-left: 0 !important;



}

.more .small-item:nth-child(2) img, .more .small-item:nth-child(3) img{

	float: right;

	width:100px;

	height: 100px;

}

.more .small-item:nth-child(2) .titles, .more .small-item:nth-child(3) .titles{

	position: relative;

	background: transparent !important;

	color: #1c3b4f;

}

.more .small-item:nth-child(2) .titles h6, .more .small-item:nth-child(3) .titles h6{

	display:block;

}

.more .small-item:nth-child(2) .titles h3, .more .small-item:nth-child(3) .titles h3{

	font-size: 10pt;

	line-height: 1.7;

	font-weight: bold;

}

.more_news .small-item:nth-child(4) .titles , .more_news .small-item:nth-child(5) .titles , .more_news .small-item:nth-child(6) .titles {

	text-align: center;

}

.more_news .small-item:nth-child(4):hover .titles , .more_news .small-item:nth-child(5):hover .titles , .more_news .small-item:nth-child(6):hover .titles {

	top: 0;

	padding-top: 60px;

	background: rgba(28, 59, 79, 0.8)

}



.most_news .small-item:hover .share-icons {

	top: 0;

}

.most_news .small-item .share-icons{

	background: rgba(255, 255, 255, 0.54) none repeat scroll 0 0;

    height: 47px;

    line-height: 40px;

    padding: 5px;

    position: absolute;

    width: 100%;

    top: -47px;

    transition: all 0.2s ease-in-out 0s;

    z-index: 1000;

}

.most_news .small-item .share-icons li{

	float: right;

	list-style: none;

	margin: 0 5px;

}

.most_news .small-item .share-icons .icons {

	border-radius: 50%;

    color: #fff;

    font-size: 12pt;

    height: 35px;

    text-align: center;

    width: 35px;

}



.most_news .small-item .share-icons [class^="glyph-"]:before, .most_news .small-item .share-icons [class*=" glyph-"]:before {

	

    color: #fff;

    font-size: 14pt;

	line-height: 2;

    

}



.most_news .small-item .share-icons li.count {

    color: #f7bb03;

    float: left;

    font-size: 22pt;

}

.most_news .most-large .small-item:nth-child(2):hover .share-icons, .most_news .most-large .small-item:nth-child(3):hover .share-icons {

	top: 0;

}



.most_news .most-large .small-item:nth-child(2) .share-icons, .most_news .most-large .small-item:nth-child(3) .share-icons{

	background: rgba(255, 255, 255, 0.54) none repeat scroll 0 0;

    height: 37px;

    line-height: 33px;

    position: absolute;

    width: 100%;

    top: -37px;

    transition: all 0.2s ease-in-out 0s;

    z-index: 1000;

}

.most_news .most-large .small-item:nth-child(2) .share-icons .icons, .most_news .most-large .small-item:nth-child(3) .share-icons .icons {

	border-radius: 50%;

    color: #fff;

    font-size: 12pt;

    height: 27px;

    text-align: center;

    width: 27px;

}



.most_news .most-large .small-item:nth-child(2) .share-icons [class^="glyph-"]:before, .most_news .most-large .small-item:nth-child(2) .share-icons [class*=" glyph-"]:before , .most_news .most-large .small-item:nth-child(3) .share-icons [class^="glyph-"]:before, .most_news .most-large .small-item:nth-child(3) .share-icons [class*=" glyph-"]:before {

    color: #fff;

    font-size: 12pt;

	line-height: 1.5;

    

}



.most_news .most-large .small-item:nth-child(2) .share-icons li.count, .most_news .most-large .small-item:nth-child(3) .share-icons li.count {

    color: #f7bb03;

    float: left;

    font-size: 15pt;

}



.writers-module .arrows{

	float: left;

}

.writers-module .arrows .owl-nav {

    width: 50px;

}

.writers-module .arrows .owl-nav .owl-prev, .writers-module .arrows .owl-nav .owl-next {

    background: #eaeaea none repeat scroll 0 0;

	padding: 0 5px;

    cursor: pointer;

    float: left;

	width: 23px;

	height: 23px;

	line-height: 22px;

}



.writers-module .arrows .owl-nav .owl-next {

    float: right;

}

.writers-module .arrows .owl-nav .owl-prev:before, .writers-module .arrows .owl-nav .owl-next:before {

	font-size: 10pt;

	color: #f4bb0e;			

}



.writers li{

	overflow: hidden;

	background: #eaeaea;

	list-style: none; 

}

.writers .titles > a {

    display: block;

    line-height: 1.6;

}

.writers .wrt {

    float: right;

    line-height: 1.7 !important;

    padding: 3px 0 0; 

}

.writers li:nth-of-type(2n+2) {

	background-color: #dfdfdf;

}

.writers .writerimg{

	float: right;

	width:80px;

	margin-left: 11px;

}

.writers li img{

	float: right;

	width: 80px;

	overflow: hidden;

	margin-left: 15px;

	border-left: 5px solid #ebc21d;

}

.writers .titles{

	padding: 5px 0; 



}

.writers .titles a h4{

	padding: 5px ;

	font-size: 13px;

	/*min-height: 50px;

	border-bottom: 1px dotted #CCC;

	 display: inline; */

	font-family: droid arabic naskh;

	font-weight: bold;



}

.writers .titles a h5{

	color: #f7bb03;

	font-size: 10pt;

	/* display: inline-flex; */

	font-family: droid arabic naskh;

	float: right;

}

.arrow-left {

	float: left;

	margin: 6px 6px;

	 width: 0;

	height: 0;

	border-style: solid;

	border-width: 5px 8.7px 5px 0;

	border-color: transparent #06305c transparent transparent;

	line-height: 0px;

	_border-color: #000000 #06305c #000000 #000000;

	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

}

section.videos{

	/* background: #eee; */

	min-height: 550px;

	margin-bottom: 25px;

}

section.videos h3.modulehead {

    border: none !important;

	margin-bottom: 0;

}

.head-tabs {

	float: left;

}

.head-tabs .nav{

	border-bottom: none;

}

.head-tabs .nav  li a{

	 cursor: pointer;

    font-family: droid arabic naskh;

    font-size: 16pt;

    font-weight: bold !important;

    padding: 0 10px;

}

article .more_news {

    column-count: 3;

    -moz-column-count: 3;

    -webkit-column-count: 3;

	

    column-gap: 10px;

    -moz-column-gap: 10px;

    -webkit-column-gap: 10px;

}

article .more_news .news-item{

	position: relative;

	overflow: hidden;

	margin-bottom: 10px;

}

article .more_news .title{

	color: #FFF;

	position: absolute;

    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;

    bottom: 0;

    min-height: 75px;

    padding: 10px;

    position: absolute;

    width: 100%;

}
.writers-page .promo-section{
	overflow: hidden;
	width: 100%;
}
.promo-section.blog.col-lg-3 {

    margin: 0;

    padding: 0;

}

.next-article.static{

 animation: 1s ease 0s normal none 1 running fade-in-up;

    backface-visibility: hidden;

    bottom: 32px;

    overflow: visible;

    position: fixed;

	

}



.next-article.static{

 animation: 1s ease 0s normal none 1 running fade-in-up;

    backface-visibility: hidden;

    bottom: 32px;

    overflow: visible;

    position: fixed;

	

}



.next-article h3 {

    background: #f7bb03 none repeat scroll 0 0;

    left: 74px;

    line-height: 23px;

    padding: 5px 10px;

    position: absolute;

    text-align: center;

    top: -18px;

}

.next-promo-text h5{

	color: #FFF;

	position: absolute;

    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;

    bottom: 0;

    min-height: 75px;

    padding: 10px;

    position: absolute;

    width: 100%;



}



.mini .news-item{

	float: right;

	width: 235px;

	height: 95px;

	margin-left: 16px;

	margin-bottom: 15px;

}

.mini .news-item .titles h3 {

    color: #1c3b4f;

    font-family: "droid arabic naskh";

    font-size: 13px;

	line-height: 1.5;

    font-weight: bold;

}



.mini .news-item h5.category{

	color: #f7bb03;

    font-family: "droid arabic naskh";

    font-size: 14px;

    font-weight: bold;

    padding-top: 10px;

}

.mini .news-item h5.category a{

	color: #f7bb03;

    font-family: "droid arabic naskh";

    font-size: 14px;

    font-weight: bold !important;

    padding-top: 10px;

}

.mini .news-item:nth-child(6),.mini .news-item:nth-child(9),.mini .news-item:nth-child(12){

	margin-left: 0;

}

.mini .news-item img {

    float: right;

    height: 94px;

    margin-left: 5px;

    width: 86px;

}

.mini .news-item:nth-child(1), .mini .news-item:nth-child(2), .mini .news-item:nth-child(3){

	float: right;

	width: 235px;

	height: 200px;

	margin-left: 16px;

	margin-bottom: 20px;

	overflow: hidden;

	position: relative;

}

.mini .news-item:nth-child(3){

	margin-left: 0;

}

.mini .news-item:nth-child(1) img, .mini .news-item:nth-child(2) img, .mini .news-item:nth-child(3) img{

	width: 235px;

	height: 200px;

}

.mini .news-item:nth-child(1) .titles, .mini .news-item:nth-child(2) .titles, .mini .news-item:nth-child(3) .titles{

	background: rgba(247, 187, 3, 0.9) none repeat scroll 0 0;

    bottom: 0;

    padding:0 4px;

    position: absolute;

    width: 100%;

	height: 50px;

}



.mini .news-item:nth-child(1) .titles h3, .mini .news-item:nth-child(2) .titles h3, .mini .news-item:nth-child(3) .titles h3{

    font-family: droid arabic naskh;

    font-size: 9.6pt;

    font-weight: bold;

    line-height: 1.6;

    padding: 5px 0;

}

.mini .news-item:nth-child(1) h5.category, .mini .news-item:nth-child(2) h5.category, .mini .news-item:nth-child(3) h5.category {

    background: #2c90f7 none repeat scroll 0 0;

    color: #fff;

    font-family: droid arabic naskh;

    font-size: 10pt;

    padding: 3px 15px;

    position: absolute;

    right: 10px;

    top: 10px;

}

.mini .news-item:nth-child(1) h5.category a, .mini .news-item:nth-child(2) h5.category a, .mini .news-item:nth-child(3) h5.category a{

    color: #fff;

	    font-family: droid arabic naskh;

    font-size: 10pt;

	font-weight: bold;



}

.next.morearticles {

    border-radius: 0 !important;

    float: left !important;

    margin: 0;

    position: relative;

    top: 12px;

    width: 130px !important;

	background-image: none !important; 

}

.next.morearticles .flaticon-plus-black-symbol {

    background: #f7bb03 none repeat scroll 0 0;

    padding: 3px 10px 6px;

	border-radius: 5px 5px 0 0;

}

.next.morearticles .flaticon-plus-black-symbol:before {

	font-size:12pt;

}

.next.morearticles a {

    color: #1c3b4f;

    float: left;

    font-family: masr-bold;

    font-size: 13pt;

    font-weight: bold !important;

    line-height: 39px;

}

#featuredvideos.tab-pane,#recentvideos.tab-pane{

    height: 548px;

    overflow: hidden;

}

.propertyThumbnails{height:794px !important;}

.video-items {

	-webkit-column-count: 3;

    -moz-column-count: 3;

    -moz-column-gap: 5px;

	column-count: 3;

	-webkit-column-gap: 5px;

	column-gap: 5px;

	height: 550px;

	width: 4000px;

	margin: auto;

}

.video-items .item{

	height: 272px;

	overflow: hidden;

	margin-bottom: 4px;

	position: relative;

	direction: rtl;

}

.video-items .item:nth-of-type(3n){

	height: 550px;

	text-align: center;

}

.video-items .item img{

	width: 100%;

}

.video-mask {

    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;

    border: medium none;

    bottom: 0;

    left: 0;

    position: absolute;

    right: 0;

    top: 0;

}

.video-items .item:hover .video-mask{

	background: rgba(0, 0, 0, 0) ;

}

.video-items .item:nth-of-type(3n) img{

	height: 550px;

}

.video-items .item .cat-title{

	 float: right;

    font-size: 10pt;

    font-weight: bold;

    padding: 10px;



}

.video-items .item .category-filter [class^="flaticon-"]::before, .video-items .item .category-filter [class*=" flaticon-"]::before, .video-items .item .category-filter [class^="flaticon-"]::after, .video-items .item .category-filter [class*=" flaticon-"]::after {

    font-family: Flaticon;

    font-size: 13pt;

    font-style: normal;

}

.video-items .item .category-filter{

	background: #f7bb03;

}

.video-items .item:hover .category-filter{

	top: 10px;

}



.video-items .item .item-title h2{

	font-family: "droid arabic naskh" !important;

	font-size: 15pt;

	font-weight: bold;

	line-height: 1.5;



}

.video-items .item .item-title {

    bottom: 0;

	padding: 10px;

    color: #fff;

    position: absolute;

    text-align: center;

	width: 100%;

	 

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

}

.video-items .item:hover  .play-icon:before{

	color: #f7bb03;

}

.video-items .item  .play-icon:before{

	font-size: 35pt;

	color: #FFF;

	background: rgba(54, 59, 63, 0.74);

	border-radius: 50%;

}

.video-items .item .play-icon {

    position: absolute;

    right: 48%;

    top: 40%;

}

/* .cat-title{

	position: absolute;

	top: 20px;

	right: 20px;

	background: red;

} */

.latest h3.modulehead{

	text-align: center;	

}

.latest .latest-news, .infograph-page.latest-news {

/* 	column-count: 3;

	-moz-column-count: 3;

	-webkit-column-count: 3;

 */	position: relative;

	overflow: hidden;

	background: #f2f2f2;

	/* padding: 20px; */

}

.latest-news .grid, .infograph-page .grid{

	width:300px;

	min-height:100px;

	padding: 1px;

	background:#fff;

	margin:5px;

	font-size:12px;

	float:right;

	/* box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4); */

	

	-webkit-transition: top 1s ease, left 1s ease;

	-moz-transition: top 1s ease, left 1s ease;

	-o-transition: top 1s ease, left 1s ease;

	-ms-transition: top 1s ease, left 1s ease;

}

.infograph-page .grid{

	width:256px !important;
}

.latest-news .grid strong{

	margin:10px 0;

	display:block;

	padding:0 0 5px;

	font-size:15px;

}

.latest-news .grid  .latest-info{

	padding:5px 10px;

}

.latest-news .grid .imgholder img{

	max-width:100%;

	background:#ccc;

	display:block;

}

.latest-news .grid .category-title{

	background: #f7bb03;

	color: #fff;

    font-weight: bold;

    padding: 7px 11px;

    right: 1px;

}





/*--------- Article -----------*/

.reading-bar {

    background: #1c3b4f none repeat scroll 0 0;

    border-bottom: 1px solid #fff;

    height: 61px;

    left: 0;

    padding: 10px;

    position: fixed;

    top: 0;

    transform: translate(0px, -100%);

    transition: transform 0.5s ease 0s, visibility 0.5s ease 0s;

    visibility: hidden;

    width: 100%;

    z-index: 999999999;

	overflow: visible !important;

}

.reading-bar.active {

    transform: translate(0px, 0px);

    visibility: visible;

}

.reading-bar .min-logo{

	float: right;

	cursor: pointer;

}

.reading-bar .fixed-menu{

	float: right;

	cursor: pointer;

	color: #FFF;

	margin: 0 15px 0 5px;

}

.reading-bar .fixed-menu:hover{

	color: #f7bb03;

}

.reading-bar h1 {

    color: #fff;

    float: right;

    font-size: 14pt;

    line-height: 13px;

    padding: 0 15px;

}

.reading-bar .reading-menu {

    background: #444 none repeat scroll 0 0;

    height: 54px;

    position: absolute;

    right: 0;

    top: 61px !important;

    width: 100%;

	display: none;

}

.reading-bar .reading-menu .navbar-nav > li > a{

	padding: 17px 20px !important;

}

.reading-bar .reading-menu .dropdownmenu{

	top: 53px !important;

	

}

.fullscreen {

    height: 480px;

    margin: auto;

    width: 850px;

}



.outer-container {

    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;

    bottom: 10px;

    color: #fff;

    display: block;

    margin: 4%;

    overflow: hidden;

    padding: 20px;

    position: absolute;

    width: 450px;

}



.story-top {

    position: relative;

	overflow: hidden;

	margin-bottom: 20px;

	margin-top: 0!important;

	height: 480px;

	

}

.story-top h2{

	color: #f7bb03;

}

.category-title{

	position: absolute;

	top: 10px;

	right: 10px;

	background: #f7bb03;

	padding: 5px;

	z-index: 2;

}

.image-caption {

    background: #444 none repeat scroll 0 0;

    bottom: 10px;

    color: #fff;

    font-size: 12pt;

    left: 10px;

    padding: 11px;

    position: absolute;

    z-index: 2;

}

.article .details {

    color: #71777d;

    font-size: 15pt !important;

    font-weight: normal;

    line-height: 1.9;

    text-align: justify;

	/* padding: 20px 0; */

	overflow: hidden;

	margin: 5px 0;

}

.tagopen{

	color: #f54203 !important;

}





.article-image {

    height: 480px;

    overflow: hidden;

}

.article-image > img{

	width: 100%;

	height: 100%;

}

.article-image .fullscreen-icon {

    color: #fff;

    height: 40px;

    left: 70px;

    position: absolute;

    top: 10px;

    width: 40px;

    z-index: 10;

	cursor: pointer;

}

.article-image .fullscreen-icon:before {

	font-size:30pt;

}



.more-info{

	border-bottom: 1px solid #EEE;

	padding:10px 0;

	margin-bottom:10px;

	overflow: hidden;

}

.title3{

	float: right;

	width: 480px;

}

.more-info .editor-info{

	float: left;

	width: 250px;

	text-align: left;

}

.more-info .editor-info img{

	float: left;

	width: 100px;

	height: 90px;

	margin-right: 17px;

}

.more-info .editor-name{

	float: left;

	color: #f7bb03;

	font-size: 12pt;
	font-family: masr-bold;

}

.editor-info .author > div {

    display: block;

    float: right;

    font-size: 10pt;

    width: 133px;

}



.more-info .created{

	float: left;

	color: #787878; 

}

.more-info .created > i{

	float: right;

	line-height: 0.6;

}



.details img{

	width: 100%;

	margin: 10px 0;

	/* max-height: 450px;

	border: 5px solid #666 !important; */

}

figure.image {

    background: #777 none repeat scroll 0 0;

    color: #fff;

    padding: 5px;

    width: 100%;

	margin: 20px 0;

} 

.details .related_module {

    float: right;

    margin: 15px 0 15px 15px;

	position: relative;

	z-index: 100;

}

.details .related-items{

	float: right;

	width: 260px;

	overflow: hidden;

	margin: 8px 0 15px 15px;

	background: #eee;

}

.related-items h3.related-head{

	background: #1c3b4f;

	color: #FFF;

	padding: 3px;

	text-align: center;

}

#related > ul {

    padding: 0 5px;

}

#related > ul li{

	list-style: none;

	margin: 7px 0;

	float: right;

}

.related-item > a {

    display: block;

    line-height: 1.1;

}

.related-item img {

    float: right;

    margin: 0 0 0 7px;

    padding: 0;

    width: 60px;

}



.related-item h5 {

    display: inline;

	font-size: 11pt;

}



.details blockquote{

	float: left;

	width: 260px;

	border-right: 4px solid #112532;

	margin: 20px;

	padding-right: 20px;

}

blockquote {

  background: #f9f9f9;

  border-left: 10px solid #ccc;

  margin: 1.5em 10px;

  padding: 0.5em 10px;

  quotes: "\201C""\201D""\2018""\2019";

}

blockquote:before {

  color: #f7bb03;

  content: open-quote;

  font-size: 4em;

  line-height: 0.1em;

  margin-right: 0.25em;

  vertical-align: -0.4em;

}

blockquote p {

  display: inline;

}

.tags-items li{

	float: right;

	list-style: none;

	font-size: 9pt;

}

.tags-items li a {

    background: #e9e9e9 none repeat scroll 0 0;

    border-radius: 3px;

    color: #2f2f2f;

    display: block;

    float: right;

    font-size: 0.8em;

    margin: 5px 5px 0 0;

    padding: 5px 10px;

    text-decoration: none;

}

.tags-items li a:hover {

    background: #fb8104 none repeat scroll 0 0 !important;

    color: white !important;

}



#sticky_item.fixed{

    animation: 1s ease 0s normal none 1 running fade-in-up;

    backface-visibility: hidden;

    bottom: 32px;

    overflow: visible;

    position: fixed;

	left:0;

}

#sticky_item{

    overflow: visible;



}

 

 .next-items{

	padding: 20px 0;

	background: #1c3b4f ;

 }

 .article .article-album{

	 width: 737px;

	 overflow: hidden;

 }



/******* Category *******/



.c5-main-header-wrap {

	background: #111 none repeat scroll 0 0;

	display: block;

	position: relative;

}

.c5-main-header-wrap .c5-page-background {

    background-size: cover;

    display: block;

    margin: auto;

    max-width: 1170px;

    padding: 100px 0;

    position: relative;

}

.c5-main-header-wrap .c5-page-background .c5-page-header-data {

    color: #f8f8f8;

    display: block;

    margin: auto;

    max-width: 500px;

    text-align: center;

		text-shadow: 2px 2.5px 3px rgba(0, 0, 0, 0.8);



}

.c5-main-header-wrap .c5-page-background .c5-page-header-data p{

	text-shadow: 2px 2.5px 3px rgba(0, 0, 0, 0.8);

	font-size: 12pt;

}

.c5-main-header-wrap .c5-page-background::before, .c5-main-header-wrap .c5-page-background::after {

    content: "";

    display: block;

    height: 100%;

    position: absolute;

    top: 0;

    z-index: 6;

}

.c5-main-header-wrap .c5-page-background::before {

    background-color: rgba(17, 17, 17, 0);

    background-image: -moz-linear-gradient(left center , #111 0%, rgba(17, 17, 17, 0) 100%);

    left: 0;

    width: 25%;

}

.c5-main-header-wrap .c5-page-background::after {

    background-color: rgba(17, 17, 17, 0);

    background-image: -moz-linear-gradient(left center , rgba(17, 17, 17, 0) 0%, #111 100%);

    right: 0;

    width: 25%;

}

header.section{

	height: auto !important; 

	width: 100%;

} 

.category header{

	background: #CCC;

	padding:3px 10px;

	height: 50px;

}

.category header .toggle{

	float: left;

}

.featured, .blog {

    overflow: hidden;

}

.blog h3.head{

	background: #CCC;

	padding:10px;

	overflow: hidden;

	margin-top:20px;

}

.featured .featured-tile {

    float: right;

    overflow: hidden;

    width: 250px;

	position:relative;

}

.featured .featured-tile:first-child {

	width:500px;

	margin-left:20px;

}

.featured .featured-title {

    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;

    bottom: 0;

    color: #fff;

    font-size: 9pt;

    line-height: 29px;

    min-height: 90px;

    padding: 20px 10px 0;

    position: absolute;

    width: 250px;

}

.featured .featured-tile:first-child .featured-title{

	width: 500px;

}

.category #infinite{

	overflow: hidden;

	position: relative;

}

.btn-group .btn-default{

	padding: 1px 10px;

	font-size: 11pt;

}

.list .news{

	width:100%;

	height: 140px;

	margin: 10px 0;

	float: right;

	position: relative;

}



.list .news .c5-img{

	float: right;

	margin-left: 15px;

}

.list .news img{

	width: 170px;

	height: 140px;

}

.list .news .article-titles {

	width: 375px;

    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 14%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;

    bottom: 0;

    color: #fff;

    padding: 10px;

    position: absolute;

	min-height: 100px;

	

}

.list .news :hover .article-titles {

	top: 0;

	background: rgba(0, 0, 0, 0.5);

	transition: all 0.6s ease 0s;

}

.list .news .item-intro {

	display: none;

}

.list .news :hover  .item-intro {

	display: block;

}

.list .news  .article-titles h5 {

	color: #f7bb03;



}

.list .news :hover  .article-titles h5 {

	color: #FFF;



}

.list .news  .article-titles h3 {

	margin: 5px 0;

}

.list .news :hover .article-titles h3 {

	color: #f7bb03;

	margin: 5px 0;

}

.list .news .content .c5_meta_data {

    border-top: 1px solid #ccc;

    bottom: 4px;

    padding-top: 3px;

    position: absolute;

    right: 180px;

}

.list .content {

    overflow: hidden;

    padding-top: 5px;

}

.list .content .article-intro {

    font-size: 12pt;

	color: #555;

}

.list .content h3 {

    box-sizing: border-box;

    display: block;

    flex-direction: row;

    left: 0;

    margin: 2px 0;

    overflow: hidden;

    padding: 0 8px;

    text-overflow: ellipsis;

    white-space: nowrap;

    width: 100%;

    z-index: 2;

    padding-bottom: 10px;

	font-size: 13pt;

}

.list .news .content .c5_meta_data li{

	color: #444;

	font-size: 10pt;

}



ul.c5_meta_data li .glyphicon {

    margin-left: 5px;

    margin-right: 0;

}

ul.c5_meta_data li .glyphicon:before {

	font-size: 11pt; 

}

/***** Grid *****/

.jscroll .grid{

	margin:10px -10px;

}

.grid .news {

    float: right;

    margin: 10px;

    overflow: hidden;

    width: 358px;

	position: relative;

	background: #EEE;

}

.grid .news .c5-img img {

    width: 100%;

}



.list .news:nth-of-type(odd) {

    background: #f2f2f2 none repeat scroll 0 0;

}

.grid .news .content {

    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;

    bottom: 0;

    display: block;

    left: 0;

    padding: 15px;

    position: absolute;

    width: 100%;

    z-index: 1000;

	height: 120px;

}

.grid .news .content h3 a{

	color: #FFF;

    font-size: 18px;

    line-height: 1.3;

}

.grid .news .content .c5_meta_data {

	position: absolute;

	bottom: 10px;

	font-size: 11pt;

}

.grid .news .content .c5_meta_data .glyphicon, .list .news .content .c5_meta_data .glyphicon {

	color: #f5b903;

}



.grid .list-icon:before{

	font-family: Flaticon;

	content: "\f118";

}

.list .list-icon:before{

	font-family: Flaticon;

	content: "";

}



.grid .article-intro{

	display: none;

}

.news .content .c5_meta_data li{

	float: right;

	list-style: none;

	color: #FFF;

	margin: 0 5px;

	font-size: 10pt; 

}

.categoryarticles .news-img{

	float: right;

	margin-left: 10px;

}

.categoryarticles .news-item {

    overflow: hidden;

	padding:5px;

	background: #f0efef none repeat scroll 0 0;

}

.categoryarticles .news-item:nth-of-type(odd) {

    background: #ebe8e8 none repeat scroll 0 0

}

.categoryarticles  .news-item h3 {

    display: inline;

}



#end {

    background-image: linear-gradient(to bottom, #162e3d 0%, #1c3b4f 100%);

    border-radius: 5px;

    color: #fff;

    display: block;

    float: none;

    height: 42px;

    line-height: 42px;

    margin: 0 auto;

    overflow: hidden;

    text-align: center;

    width: 280px;

}

.btn-warning:hover, .btn-warning:focus {

    background-color: #1c3b4f;

    background-position: 0 -15px;

}



.loader-image-wrapper {

    bottom: 0;

    position: absolute;

    text-align: center;

    width: 100%;

	z-index: 100000;

}



/****** writers-page ******/

.writers-page .row{

	margin-left: -10px !important;

	margin-right: -10px !important;

}

.writers-page .tile-boost {

    float: right;

    margin: 5px;

    overflow: hidden;

    width: 241px;

	position: relative;

}

.writers-page  .tile-boost img {

	width: 100%;

	height: 187px;

}

.writers-page .writer-image > img {

    border: 3px solid #fff;

    border-radius: 30px;

    height: 60px !important;

    position: absolute;

    right: 10px;

    top: 5px;

    width: 60px !important;

}



.article-titles {

    background: #1c3b4f none repeat scroll 0 0;

    bottom: 0;

    color: #fff;

    font-size: 9pt;

    height: 69px;

    padding: 10px;

    position: relative;

    text-align: center;

    width: 100%;

}



.article-titles a{

	color: #FFF;

}.article-titles h5 a{

	color: #f7bb03;

}



.writers-page h3.tit_1 {

    background: #1b1b1d;

    color: #fff;

    font-weight: normal;

    margin: 0 0 10px;

    padding: 12px 11px;

    position: relative;

}

.writers-page h3.tit_1 a{

	color: #FFF;

}

.tit_1 .flaticon-storage20::before{

	margin-right:10px;

	color: #f7bb03;

}

a.filter-btn{

    color: #fff;

    float: left;

    margin-left: 8px;

}

a.filter-btn:hover, a.filter-btn:focus{

	color: #f7bb03;

}



.collapse.in{

	margin-bottom: 10px;

}

.well{

	overflow: hidden;

}

.well li {

    float: right;

    margin: 0 -1px -1px 0;

    text-align: center;

}



.well li a {

    border: 1px solid #EEE;

    display: block;

    font-size: 0.9em;

    padding: 4px 0;

    width: 29.7pt;

}



.pane-content ul {margin:0}

.pane-content li{list-style: none;}

.pane-content li.title {padding: 5px 9px;}

.pane-content li {float: right;margin: 0 -1px -1px 0;text-align: center;}

.pane-content a {border: 1px solid #EEE;display: block;font-size: 0.9em;padding: 4px 0;width: 29.7pt;}

.pane-content a:hover,.pane-content a.active {background-color:#f7bb03;color:#fff;text-shadow:1px 1px 0 rgba(0, 0, 0, 0.6)}





.writer-info {

    background: #f2f2f2 none repeat scroll 0 0;

    margin: 6px;

    overflow: hidden;

    padding: 10px;

}

.writer-info  .box-body {

	overflow: hidden;

	background: #FFF;

}

.writer-info  img {

    border-radius: 3px;

    float: right;

    height: 211px;

    margin: 10px;

}

.writer-info  h2 {

	margin: 20px 0 0;

}

.writer-social i{

	float: left;

}

.blog_img {

	position: relative;

	margin-bottom: 30px;

}

.news-description {

    background: rgba(0, 0, 0, 0.52) none repeat scroll 0 0;

    bottom: 10px;

    color: #fff;

    position: absolute;

    text-align: right;

    width: 100%;

}

.news-description .author-image {

    float: right;

    height: 100px;

    margin-right: 1%;

    position: relative;

    width: 21%;

}

.news-description .author-image img {

    border: 4px solid #fff;

    border-radius: 50%;

    color: #fff;

    height: 130px;

    min-height: auto;

    position: absolute;

    right: 0;

    text-align: right;

    top: -18px;

    width: 130px;

}

.news-description .news-date {

    direction: rtl;

    font-size: 14px;

    padding-top: 15px;

}



.news-description h1 {

    direction: rtl;

    font-size: 22px;

    line-height: 140%;

    margin: 0;

    max-width: 570px;

    padding: 12px 0 0 10px;

}

.writers_latest  .author-image {

    float: right;

    height: 70px;

    margin-right: 1%;

    position: relative;

    width: 70px;

}

.writers_latest .author-image img {

    border: 4px solid orange;

    height: 60px;

    top: 5px;

    width: 60px;

}

.writers_latest .news-date > h2 {

    color: orange;

    font-size: 10pt;

}

.writers_latest .news-date > h3 {

    font-size: 14pt;

}

/***** FIXED HEADER *****/

.fixed-header{

	position: fixed;

	top: 0;

	background: #1c3b4f ;

	line-height:60px;

	height: 0px;

	width: 100% !important;

	right: 0;

	display: block;

	overflow: hidden;

	-webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

}

.fixed-header.fixed{

	display: block;

	height: 80px;



	-webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

}

.fixed-header.fixed .share{

	float: left;

	width: 50%;

}

.fixed-header.fixed .share ul{

	margin: 0;

	padding: 0;

}

.fixed-header.fixed h1{

	float: right;

	margin: 0;

	color: #FFF;

	font-size: 20pt;

}

.scroll-bar {

  height: 10px;

  z-index: 1000;

  position: fixed;

  background-color: #f7bb03;

  /*opacity: 0.5;*/

  width: 50px;

  top: 55px;

  right: 0;

}



/***** Videos *****/



.featured-videos .item .play-icon::before {

    background: rgba(54, 59, 63, 0.74) none repeat scroll 0 0;

    border-radius: 50%;

    color: #fff;

    font-size: 40pt;

}

.featured-videos .item .play-icon {

    position: absolute;

    right: 48%;

    top: 40%;

	cursor: pointer;

}

.featured-videos .item:hover .play-icon::before{

	color: #f7bb03;

	

}

.video-categories{

	overflow: hidden;

	margin-bottom:20px;

}

.category-videos img{

	width: 100%;

	min-height: 260px;

}

.video-categories h3.modulehead{

	padding: 8px 0;

	border-bottom: 5px solid #f7bb03;

}

.video-categories h3 a{

	font-size:16pt;

	padding:0 5px;

	/* border-bottom: 5px solid #f7bb03; */

}

.video-categories h3 a:after{

	border-left: 8px solid transparent;

    border-right: 8px solid transparent;

    border-top: 10px solid #f7bb03;

    bottom: 0;

    content: "";

    height: 0;

    margin-bottom: -13px;

    position: absolute;

    right: 5px;

    width: 0;

}

.video-item {

	position: relative;

    overflow: hidden !important;

	margin-bottom: 15px;

	padding: 0 !important;

	margin: 5px;

	width:340px !important;

	float: right;

}

.category-filter{

	position: absolute;

	display: table;

    top: -45px;

	left: 0;

    transition: all 0.2s ease-in-out 0s;

    z-index: 1000;

}

.video-item:hover .category-filter{

	top: 0px;

}

.category-lable{

	float: right;

}

.socialmedia{

	float: right;

	padding: 5px 10px;

	background: #1c3b4f;

	color: #FFF;

}

.socialmedia a{

	color: #FFF;

}

.socialmedia a:hover{

	color: #f7bb03;

}

.video-item .video-title{

   background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0%, rgba(24, 25, 45, 0.87) 100%) repeat scroll 0 0;

    bottom: 0;

    left: 0;

	right: 0;

	color: #FFF;

    padding: 60px 15px 15px;

    position: absolute;

}

.video-item .video-title	h2{

	font-weight: normal;

	font-size: 12pt;

}

.video-item .meta-info{

	font-size:8pt;

	margin:5px 0 0;

}

.video-item  .play:before{

	font-size: 40pt;

	color: #FFF;

	background: rgba(0, 0, 0, 0.5);

	border-radius: 50%;

}

.video-item  .play{

	position: absolute;

	right: 40%;

    top: 30%;

}

.video-item:hover  .play:before{

	color: #f5b903;

}

.video-item .c5_meta_data li {

    color: #fff;

    float: right;

    list-style: outside none none;

    margin: 0 5px;

}

.video-item .c5_meta_data .glyphicon {

	color: #f5b903;

}

.caption{

	overflow: hidden;

	border-bottom: 1px solid #eaeaea;

	padding-bottom: 5px;

}

.caption h1{

	font-size: 1.6em;

}

.caption .meta-info{

	float: right;

}

.caption .meta-other{

	float: left;

}

.video_details{

    color: #97a0bb;

    line-height: 180%;

    padding-top: 10px;

}

.breadcrumb > li {

    display: inline-block;

    font-size: 11pt;

}

.more-featured .item{

	overflow: hidden;

	margin-bottom: 5px;

}

.more-featured .item img{

	width: 100%;

	height: 160px;

}







/****** Category Tabs ******/

.category-tab-items{

	overflow: hidden;

}

#categorytabs{

	position: relative;

	min-height: 300px; 

}

#categorytabs .tabs-loading {

    bottom: 120px;

    position: absolute;

    text-align: center;

    width: 100%;

    z-index: 100000;

}



#categorytabs .news-item:first-child{

	width:340px;

	height: 340px;

	float: right;

	margin-left: 20px;

}

#categorytabs .news-item:first-child img{

	width: 340px;

	height:220px;

}

#categorytabs .news-item {

    float: right;

    height: 100px;

    overflow: hidden;

    width: 375px;

	margin-bottom:20px;

}

#categorytabs .news-item img {

    float: right;

    height: 100px;

    margin-bottom: 10px;

    margin-left: 10px;

    width: 100px;

}

#categorytabs .news-item  h3{

	font-family: "Droid Arabic Naskh";

	font-size: 15px;

	font-weight:bold;

}

.category-tab-items .nav-tabs{

	margin: 10px 0 15px;

    border-bottom: 3px solid #f7bb03;

}



#categorytabs .news-item .intro{

	display: none;

	font-size: 10pt;

	line-height: 2;

}

#categorytabs .news-item:first-child .intro{

	display: block;

}

#categorytabs .news-item:first-child .titles{

	margin: 10px 0;

}



.category-tab-items .nav-tabs > li {

    height: 50px;

    text-align: right;

    width: 147.4px;

}



.category-tab-items .nav-tabs > li > a {

    border-radius: 0;

    color: #1c3b4f;

    font-family: "masr-bold";

    font-size: 13pt;

    font-weight: bold;

    line-height: 39px;

    margin: 5px 0;

    padding: 5px 0;

	cursor: pointer;

}

.category-tab-items .nav-tabs > li.active > a {

	color: #f7bb03;

}

.category-tab-items .nav-tabs > li.active > a:after {

    border-left: 8px solid transparent;

    border-right: 8px solid transparent;

    border-top: 10px solid #f7bb03;

    bottom: 0;

    content: "";

    height: 0;

    margin-bottom: -6px;

    position: absolute;

    right: 25%;

    width: 0;

}



/****** Vote ******/

.vote .votetitle{

	background:#f7bb03;

	min-height: 70px;

	margin-bottom: 20px;

	border-right: 5px solid #1c3b4f;

	line-height: 23px;

	padding: 13px;

	font-size: 12pt;

	color: #FFF;

}

.vote .votetitle {

		background: #f7bb03 none repeat scroll 0 0;

		border-right: 5px solid #1c3b4f;

		color: #fff;

		font-size: 12pt;

		line-height: 23px;

		margin-bottom: 10px;

		min-height: 70px;

		padding: 13px;

	}

	.vote .votetitle h4 {

		color: #fff;

		font-family: masr-bold;

		font-size: 13pt;

	}

	.ansimage{

		float: left;

		margin-right: 20px;

	}

	

	.progress {

	  overflow: hidden;

	  height: 11px;

	  margin-bottom: 0px;

	  background-color: #f5f5f5;

	  border-radius: 0px;

	  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

	  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

	}

	.progress-bar {

	  float: left;

	  width: 0%;

	  height: 100%;

	  font-size: 12px;

	  line-height: 20px;

	  color: #ffffff;

	  text-align: center;

	  background-color: #337ab7;

	  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);

	  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);

	  -webkit-transition: width 0.6s ease;

	  -o-transition: width 0.6s ease;

	  transition: width 0.6s ease;

	}



.vote-module h3.modulehead {

    border-bottom: 0 none;

    display: block;

    margin-bottom: 30px;

    margin-top: 20px;

}



.vote-module #end{

	top: 0 !important;

	height: 36px;

}

.vote-module .vote {

    background: #eee none repeat scroll 0 0;

    margin-bottom: 20px;

	position: relative;

}



.allvotes {

    float: left;

    font-size: 10px;

}

.votecap {

    height: 28px;

    left: -3px;

    position: relative;

    text-align: left;

    top: -9px;

}

.votemessage {

	padding-top: 60px;

	background: rgba(28, 59, 79, 0.8);

    color: #fff;

    display: none;

    height: 295px;

    line-height: 40px;

    margin-top: 10px;

    overflow: hidden;

    position: absolute;

    text-align: center;

    top: 63px;

    width: 300px;

}



.vote .layer1 {

    border-bottom: 1px solid #eaeaea;

    cursor: pointer;

    margin: 2px 0;

    overflow: hidden;

    padding: 15px 0;

}

.vote .layer1:last-child {

	border-bottom: 0;

}

.vote .answers {

    padding: 0 5px;

}



	

/****** Photo Albums ******/



section .photos-wrap{

    margin: auto;

    padding: 20px 0;

    width: 1260px;

	margin: auto;

}



.photos-wrap .infograph {

    background: #2d2d2d none repeat scroll 0 0;

	height: 570px;padding:0;

   /*  float: right;

    width: 311px;

	margin-left: 19px; */



}

.infograph .owl-nav [class^="flaticon-"]::before, .infograph .owl-nav [class*=" flaticon-"]::before, .infograph .owl-nav [class^="flaticon-"]::after, .infograph .owl-nav [class*=" flaticon-"]::after {

    font-size: 11pt !important;

}

.infograph-carousel .item  img {

    height: 570px;

}

.infograph-carousel .item {

    height: 270px;

    margin-bottom: 5px;

    overflow: hidden;

    position: relative;

}

.infograph-carousel .item .item-title {

    background: none repeat scroll 0 0 #f7bb03;

    bottom: 0;

    font-size: 8pt;

    padding: 6px 12px;

    position: absolute;

    width: 100%;

}

.infograph-carousel .item .item-title a{color:#fff}

.infograph-carousel {

    position: relative;

}

.infograph-carousel .owl-controls {

    background: #f7bb03 none repeat scroll 0 0;

    position: absolute;

    text-align: left;

    top: 0;

    width: 100%;

	padding:10px 15px;

}



.infograph-carousel .owl-controls .owl-prev,.infograph-carousel .owl-controls .owl-next {

    background: #daaa18 none repeat scroll 0 0;

    border-radius: 50%;

	-moz-border-radius:50%;

	-webkit-border-radius:50%;

    color: #fff;

    font-size: 20px;

    font-weight: bold;

    height: 32px;

    overflow: hidden;

    width: 32px;

	text-align: center;

	line-height: 1.5;

	float: left;

	margin-left: 6px;

}





.album-items .album-item{

	height: 180px;

	overflow: hidden;

	position: relative; 

	padding-right: 5px;

}

.album-items .album-item:first-child{

	width:100%;

	height: 385px;

	margin-bottom: 5px;

	overflow: hidden;

}

.album-items .album-item:last-child{

	margin-left: 0;

}





.album-items .album-item img{

	min-width: 100%;

}

.album-items .album-item .album-title{

	background: -webkit-linear-gradient(top, rgba(42, 42, 42, 0.07) 0%, rgba(55, 55, 55, 0.33) 40%, rgba(55, 55, 55, 0.62) 81%, rgba(55, 55, 55, 0.7) 100%);

	background: -o-linear-gradient(top, rgba(42, 42, 42, 0.07) 0%, rgba(55, 55, 55, 0.33) 40%, rgba(55, 55, 55, 0.62) 81%, rgba(55, 55, 55, 0.7) 100%);

	background: -ms-linear-gradient(top, rgba(42, 42, 42, 0.07) 0%, rgba(55, 55, 55, 0.33) 40%, rgba(55, 55, 55, 0.62) 81%, rgba(55, 55, 55, 0.7) 100%);

	background: -moz-linear-gradient(top, rgba(42, 42, 42, 0.07) 0%, rgba(55, 55, 55, 0.33) 40%, rgba(55, 55, 55, 0.62) 81%, rgba(55, 55, 55, 0.7) 100%);

	background: linear-gradient(to bottom, rgba(42, 42, 42, 0.07) 0%, rgba(55, 55, 55, 0.33) 40%, rgba(55, 55, 55, 0.62) 81%, rgba(55, 55, 55, 0.7) 100%);



    bottom: 0;

    color: #fff;

    padding: 10px;

    position: absolute;

    text-align: center;

    width: 100%;

	min-height: 110px;

}

.album-items  .album-title > h3 {

    bottom: 10px;

    left: 0;

    position: absolute;

    right: 0;

}

.album-items .album-item h3.album-title a{

	font-family: 'Droid Arabic Naskh', serif;

	color: #FFF;

}

section.photos-section {

	background: #2d2d2d;

    margin:50px auto;

    max-width: 1600px;

    overflow: visible !important;

}

.photos-wrap .moduletable {

	overflow: visible !important;

}

.photos-wrap .modulebody {

	overflow: hidden !important;

}

.photos-wrap h3.modulehead {

    border-bottom: 0 !important ;

    display: block;

    font-size: 15pt;

    font-weight: bold;

    margin-bottom: 10px;

    padding: 10px 15px 5px;

    position: absolute;

    text-align: center;

    top: -61px;

    width: 100%;

}

.photos-wrap h3.modulehead a{

	color: #1c3b4f;	

	font-family: 'Droid Arabic Naskh', serif;



}

/****** Banners ******/

.banners{

	/* margin-top: 30px; */

}

.banners .banner-item{

	overflow: hidden;

	position: relative;

}

.banners .banner-title {

    bottom: 10px;

    line-height: 1.6;

    position: absolute;

    text-align: center;

    width: 100%;

}

.banners .banner-title h3, .banners .banner-title h5{

	font-size: 12pt;

	color: #f7bb03;

	font-family: 'Droid Arabic Naskh', serif;

}

.banners .banner-title h5{

	color: #FFF;

}

.banner-image{

	position: relative;

}

.image-mask{

	position: absolute;

	bottom: 0;

	height: 83px;

	width: 300px;

	background: url("../images/mask.png") no-repeat;

}

.banners .owl-nav [class^="flaticon-"]::before, .banners .owl-nav [class*=" flaticon-"]::before, .banners .owl-nav [class^="flaticon-"]::after, .banners .owl-nav [class*=" flaticon-"]::after {

	font-size: 23pt !important;

}

.banners .owl-nav .owl-prev{

	position: absolute;

	top: 60px;

	left: 10px;

	color: #FFF;

}

.banners .owl-nav .owl-next{

	right: 10px;

	position: absolute;

	top: 60px;

	color: #FFF;



}

/****** Section ******/



.slider-featured .sync1 .item{

    background: #1c3b4f;

    padding: 2px 0px;

    margin: 0px;

	margin-bottom: 5px;

    color: #FFF;

    text-align: center;

	position: relative;

}

.slider-featured .sync2 .item{

    background: #1c3b4f;

    padding: 2px 0px;

    margin: 0px;

	margin-bottom: 5px;

    color: #FFF;

    text-align: center;

    cursor: pointer;

	position: relative;

}

.slider-featured .item .titles{

	position: absolute;

	bottom: 0;

	width: 100%;

}



.slider-featured .sync2 .item .titles, .slider-featured .sync1 .item .titles {

	width: 100%;

	position: absolute;

	bottom: 0px;

	padding: 10px;

	min-height: 70px;

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );



}

.slider-featured .sync1 .item .titles h2{

	text-align: right;

	padding: 5px 10px;

	color: #FFF;

}



.slider-featured .sync1 .item .titles h4{

	text-align: right;

	padding: 0px 10px;

	color: #f7bb03;

	    font-family: droid arabic naskh;



}

.slider-featured .sync2 .item .titles h2{



    font-family: droid arabic naskh;

    font-size: 13pt;

    font-weight: normal;

    padding: 0 10px;

}

.slider-featured .sync2 .synced .item{

  background: #0c83e7;

}

/* .slider-featured .sync2 .item  img{

	opacity: 0.6;

}

.slider-featured .sync2 .item .active.center  img{

	opacity: 1;

} */



.slider-featured .owl-nav [class^="flaticon-"]::before, .slider-featured .owl-nav [class*=" flaticon-"]::before,  

.slider-featured .owl-nav [class^="flaticon-"]::after, .slider-featured .owl-nav [class*=" flaticon-"]::after {

	font-size: 26pt !important;

}

.slider-featured .owl-nav .owl-prev{

	position: absolute;

	top: 225px;

	left: 10px;

	color: #FFF;

}

.slider-featured .owl-nav .owl-next{

	position: absolute;

	top: 225px;

	color: #FFF;

	right: 10px;

}





.sub-category{

	overflow: hidden;

}

.sub-category .more_news{

	position:  relative;

}

.sub-category .more_news .news-item .titles{

	width: 100%;

	position: absolute;

	bottom: 0px;

	padding: 10px;

	min-height: 70px;

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );



}

.sub-category .more_news .news-item {

    float: right;

    height: 165px;

    margin: 0 7px 15px;

	padding: 0;

    overflow: hidden;

    position: relative;

    width: 285px;

}

.sub-category .more_news .news-item img{

	width: 100%;

}

.sub-category .more_news .news-item:first-child{

	width: 445px;

	height: 344px;

}

.sub-category .more_news .news-item:nth-child(4), .sub-category .more_news .news-item:nth-child(5){

	width: 215px;

	height: 164px;

	overflow: hidden;

	float: right;

	position: relative;

}

.sub-category .more_news .news-item .titles h5{

	font-family: 'droid arabic naskh';

	color: #f7bb03;

	font-size: 11pt;

}

.sub-category .more_news .news-item .titles h3{

	font-family: 'droid arabic naskh';

	color: #FFF;

	font-size: 13pt;

	

}

.sub-category .more-views{

	position:  relative;

}

.sub-category .more-views .news-item:nth-child(1) , .sub-category .more-views .news-item:nth-child(2)

{

	height: 235px;

	width: 380px;

}

.sub-category .more-views .news-item:nth-child(1) .titles, .sub-category .more-views .news-item:nth-child(2) .titles{

	width: 100%;

	position: absolute;

	bottom: 0px;

	padding: 10px;

	min-height: 70px;

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );



}

.sub-category .more-views .news-item:nth-child(1) img,.sub-category .more-views .news-item:nth-child(2) img{

	width: 380px;

	height: 235px;

}

.sub-category .more-views .news-item:nth-child(1) .titles h5,.sub-category .more-views .news-item:nth-child(2) .titles h5{

	font-family: 'droid arabic naskh';

	color: #f7bb03;

	font-size: 11pt;

}

.sub-category .more-views .news-item:nth-child(1) .titles h3,.sub-category .more-views .news-item:nth-child(2) .titles h3{

	font-family: 'droid arabic naskh';

	color: #FFF;

	font-size: 13pt;

	

}



.sub-category .more-views .news-item {

    float: right;

    height: 100px;

    overflow: hidden;

    position: relative;

	margin-bottom: 15px;

	

}



.sub-category .more-views .news-item img{

	width: 140px;

	height: 100px;

	margin-left: 10px;

	float: right;

}

.sub-category .more-views .news-item .titles h5{

	font-family: 'droid arabic naskh';

	color: #f7bb03;

	font-size: 11pt;

}

.sub-category .more-views .news-item .titles h3{

	font-family: 'droid arabic naskh';

	color: #1c3b4f;

	font-size: 13pt;

	

}



.videos-cats.gallery, .photos-cats.gallery {

    background: #eee none repeat scroll 0 0;

    padding: 5px 0;

}



.gallery .item .category-filter [class^="flaticon-"]::before, .gallery .item .category-filter [class*=" flaticon-"]::before, .gallery .item .category-filter [class^="flaticon-"]::after, .gallery .item .category-filter [class*=" flaticon-"]::after {

    font-family: Flaticon;

    font-size: 13pt;

    font-style: normal;

}

.gallery .item .category-filter {

    background: #f7bb03 none repeat scroll 0 0;

}

.gallery .item:hover .category-filter {

    top: 10px;

}

.gallery .item .play-icon::before {

    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;

    border-radius: 50%;

    color: #fff;

    font-size: 30pt;

}

.gallery .item .cat-title {

    float: right;

    font-size: 10pt;

    font-weight: bold;

    padding: 10px;

}

.gallery .item .play-icon {

    position: absolute;

    right: 48%;

    top: 40%;

}



.gallery .item{

    /* background: #1c3b4f; */

    padding: 2px 0px;

    margin: 0px;

	margin-bottom: 5px;

    color: #FFF;

    text-align: center;

    cursor: pointer;

	position: relative;

	    height: 230px;



}

.gallery .item img{

	height: 230px;

}



.gallery .item .titles{

	position: absolute;

	bottom: 0;

	width: 100%;

}



.gallery .item .titles, .gallery .item .titles {

	width: 100%;

	position: absolute;

	bottom: 0px;

	padding: 10px;

	min-height: 50px;

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );



}



.gallery .item .titles h2{



    font-family: "masr-bold";

    font-size: 13pt;

    font-weight: normal;

    padding: 0 10px;

	color: #FFF;

}



.gallery .owl-nav [class^="flaticon-"]::before, .gallery .owl-nav [class*=" flaticon-"]::before,  

.gallery .owl-nav [class^="flaticon-"]::after, .gallery .owl-nav [class*=" flaticon-"]::after {

	font-size: 26pt !important;

}

.gallery .owl-nav .owl-prev{

	position: absolute;

	top: 95px;

	left: 10px;

	color: #FFF;

}

.gallery .owl-nav .owl-next{

	position: absolute;

	top: 95px;

	color: #FFF;

	right: 10px;

}



.sub-category .more_news .news-item:hover .share-icons {

    top: 0;

}

.sub-category .more_news .news-item .share-icons {

    background: rgba(255, 255, 255, 0.54) none repeat scroll 0 0;

    height: 47px;

    line-height: 40px;

    padding: 5px;

    position: absolute;

    top: -47px;

    transition: all 0.2s ease-in-out 0s;

    width: 100%;

    z-index: 1000;

}

.sub-category .more_news .news-item .share-icons li {

    float: right;

    list-style: outside none none;

    margin: 0 5px;

}

.sub-category .more_news .news-item .share-icons .icons {

    border-radius: 50%;

    color: #fff;

    font-size: 12pt;

    height: 35px;

    text-align: center;

    width: 35px;

}

.sub-category .more_news .news-item .share-icons [class^="glyph-"]::before, .sub-category .more_news .news-item .share-icons [class*=" glyph-"]::before {

    color: #fff;

    font-size: 14pt;

    line-height: 2;

}

.sub-category .more_news .news-item .share-icons li.count {

    color: #f7bb03;

    float: left;

    font-size: 22pt;

}





.sub-category .more-views .news-item:hover .share-icons {

    top: 0;

}

.sub-category .more-views .news-item .share-icons  {

	

    height: 47px;

    line-height: 40px;

    padding: 5px;

    position: absolute;

	right: 10px;

    top: -47px;

    transition: all 0.2s ease-in-out 0s;

    width: 370px;

    z-index: 1000;

}

.sub-category .more-views .news-item .share-icons .count{

	display: none;

}

.sub-category .more-views .news-item:nth-child(1) .share-icons,.sub-category .more-views .news-item:nth-child(2) .share-icons {

	background: rgba(255, 255, 255, 0.54) none repeat scroll 0 0 !important;

}



.sub-category .more-views .news-item:nth-child(1) .share-icons .count,.sub-category .more-views .news-item:nth-child(2) .share-icons .count{

	display: block;

}

.sub-category .more-views .news-item .share-icons li {

    float: right;

    list-style: outside none none;

    margin: 0 5px;

}

.sub-category .more-views .news-item .share-icons .icons {

    border-radius: 50%;

    color: #fff;

    font-size: 12pt;

    height: 35px;

    text-align: center;

    width: 35px;

}

.sub-category .more-views .news-item .share-icons [class^="glyph-"]::before, .sub-category .more-views .news-item .share-icons [class*=" glyph-"]::before {

    color: #fff;

    font-size: 14pt;

    line-height: 2;

}

.sub-category .more-views .news-item .share-icons li.count {

    color: #f7bb03;

    float: left;

    font-size: 22pt;

}

/****** Photos ******/

.photogallery .container{

	position: relative;

}

.photogallery .grid{

	overflow: hidden;

}

.photogallery .grid .latest-info {

    bottom: 0;

    font-size: 14pt;

	width: 100%;

	position: absolute;

	bottom: 0px;

	color: #FFF;

	padding: 20px 10px;

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(14%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 14%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

}

.photogallery .category-filter {

    display: table;

    left: 0;

    position: absolute;

    top: -55px;

    transition: all 0.2s ease-in-out 0s;

    z-index: 1000;

}

.photogallery .grid .cat-title{

	 float: right;

    font-size: 10pt;

    font-weight: bold;

    padding: 10px;

}



.photogallery .grid .category-filter [class^="flaticon-"]::before, .photogallery .grid .category-filter [class*=" flaticon-"]::before, .photogallery .grid .category-filter [class^="flaticon-"]::after, .photogallery .grid .category-filter [class*=" flaticon-"]::after {

    font-family: Flaticon;

    font-size: 13pt;

    font-style: normal;

}

.photogallery .grid .category-filter{

	/* background: #f7bb03; */

}

.photogallery .grid:hover .category-filter{

	top: 10px;

}

.album-gallery h2{

	float: right;

	margin: 11px;

}

.album-gallery .album-title {

    border-bottom: 5px solid #f7bb03;

    padding-bottom: 10px;

	height: 60px;

	/* margin-top: 40px; */

}

.album-gallery .share {

	float: left;

}

.album-gallery .social-sharing{

	padding: 10px 0 0 ;

}







.main-container {

    margin:auto;

    width: 1065px;

	margin-bottom: 20px;

	/* overflow:hidden; */

}

.padding-bottom{

	padding-bottom: 80px;

}

.leftAds {

	display: block !important;

   /*  float: left; */

    margin: 0 1075px -610px 0px !important;

    position: relative ;

	z-index: 0;

	width: 120px;

}

.leftAds.is_stuck,.rightAds.is_stuck{

	float: none !important;

}

.rightAds {

	display: block !important;

    /* float: right; */

    margin: 0 -130px -650px 0px !important;

    position: relative;

	z-index:0;

	width: 120px;

	top: -26px;

}

.header-ads {

    background: #FFF none repeat scroll 0 0;

    margin: 0;

}

#addBox {

	display: block;

    margin: 0 auto;

    padding:  0;

	opacity: 0;

	transition: all 0.2s ease-in-out 0s;

    height: 0px !important;

	transition: visibility 0s, opacity 0.5s linear;

}

#addBox.active {

	display: block;

	padding: 8px 0;

	opacity: 1;

	transition: all 0.2s ease-in-out 0s;

    height: 102px !important;

}



#addBox .close{

    cursor: pointer;

    float: right;

    position: absolute;

	color: #FFF;

}



/****** Comments ******/

.comments{

	margin: 15px auto;

}



.comments > li {

	background: #3c5a98 none repeat scroll 0 0;

    border-radius: 10px 10px 0 0;

    float: right;

    height: 44px;

    line-height: 2.6;

    margin: 0 5px 0 0;

    padding-right: 20px;

    text-align: right;

    width: 40%;

	color: #ffc001 !important;

	list-style: none;

}

.comments iframe{

	border-top: 3px solid #3c5a98;

	

}



/***** infograph *****/

.infograph-latest .item{

	overflow: hidden;

}



.infograph-latest .item img{

	width: 100%;

	list-style: none;

} 

.infograph-latest .item .item-title h3{

	font-family: "droid arabic naskh" !important;

	font-size: 12pt;

	font-weight: bold;

	line-height: 1.5;



}

.infograph-latest .item .item-title {

    bottom: 0;

	left: 15px;

	right: 15px;

	padding: 10px;

    color: #fff;

    position: absolute;

    text-align: center;

	 

	background: rgba(0,0,0,0);

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));

	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

}

.infograph-latest .grid {

    background: none none repeat scroll 0 0;

    overflow: hidden;

	margin-bottom: 10px;

}

.photogallery .grid .category-filter {

	/* background: #f7bb03; */

}
.infograph-page article {
    background: #eee none repeat scroll 0 0;
    font-size: 12pt;
    margin: 10px 0 0;
    padding: 10px;
}

.infograph-page .grid .latest-info {



	position: relative;

	bottom: 0px;

	color: #555;

	background: transparent !important;

}

.infograph-page .share-icons .icons{

    border-radius: 50%;

    color: #fff;

    float: right;

    font-size: 12pt;

    height: 35px;

    line-height: 35px;

    list-style: outside none none;

    margin: 0 5px;

    text-align: center;

    width: 35px;

}

.infograph-page .share-icons .icons > a{

	color: #FFF;

}

.infograph-page .share-icons .icons > a .glyph-icon::before{

    color: #fff;

    font-size: 15pt;

    margin-top: 25px;

    padding: 0;

}



.rslts .tab {

    background: #162e3d none repeat scroll 0 0;

    color: #fff;

    font-size: 12pt;

    margin: 0 0 0 10px;

    padding: 5px 20px;

	border-radius: 5px 5px 0 0;

}

.tab > a {

    color: #fff;

}

.tab.active > a {

    color: #f7bb03;

}

.rs {    border-bottom: 1px solid #ccc;    padding-bottom: 10px;}.head2{   background: url(./templates/muslim/img/gray.png);border-radius: 5px ;height: 35px;margin: 5px;padding: 5px;}	.ldng{color:#999; margin:3px;}	.op2{background:#999;height:25px;line-height:16px;margin-right:15px;padding:3px 0 1px 5px;width:180px;}	.op2:hover{ box-shadow:-1px 1px 1px  #999 inset;}			.cse input.gsc-search-button, input.gsc-search-button{ background:#555; border:0; padding:3px; border-radius:12px;}	.cse input.gsc-search-button:hover, input.gsc-search-button:hover{ background:#FFC000 ;border:0;}	.gsc-input-box{ height:24px; border:none; background:url(./templates/muslim/images/ss.gif) no-repeat 40px 0  #999  !important}	.gsc-input{ height:20px !important;  background:none !important; color:#fff; font-family:tahoma; font-size:9pt !important; }	.gsc-search-box-tools .gsc-search-box .gsc-input{padding-right:2px;}	.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus{box-shadow:none !important; background:none}	.gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover{box-shadow:none !important;  background:none}		.gsc-control-cse, .gsc-control-cse .gsc-table-result{font-size:9pt; font-family:tahoma;}	.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title *{font-size:14pt; text-decoration:none;font-family: "Times New Roman", Times, serif;}	.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl{font-size:8pt;}	.gsc-cursor-page{border-radius:5px; margin-top:5px; border:1px solid #1C4354 !important;  padding:5px; color:#fff !important; background-color:#647F8B !important}	.gsc-cursor-page:hover{background-color: #1C4354 !important}	.gsc-results .gsc-cursor-box .gsc-cursor-current-page{background-color:#ccc !important; border:1px solid #aaa !important;}	.gsc-results .gsc-cursor-box{margin-top: 21px;text-align: left;}	#gsc-i-id1{ box-shadow:none !important;}    .gsib_a{ padding:0;}	.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus{box-shadow:none !important; background:none !important}	.gsc-search-box .gsc-input > input:hover, .gsc-input-box-hover{box-shadow:none !important;  background:none !important}



.searchitems .searchtitle > h2{

	font-size: 12pt;

}

.searchitems .searchtitle > p {

    font-size: 10pt;

}

.searchitems .searchcat {

    color: #f7bb03;

    font-size: 10pt;

	font-family: masr-light;

}

.searchitem {

    margin: 20px 0;

    overflow: hidden;

}

.searchimage {

    float: right;

    margin-left: 16px;

}

.searchtotal {

    font-family: verdana;

    font-size: 13px;

}

.more-next{

	float: right !important;

	margin: 0 0px 0 10px !important;

}

.more-next a{

	color: #FFF;

}

.more-next:hover a{

	color: #f7bb03;

}

.showcaseDiv .showcase {
    background: #ddd none repeat scroll 0 0;
    width: 740px !important;
}
