@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  src: local('Adamina'), local('Adamina-Regular'), url(https://fonts.gstatic.com/s/adamina/v8/6FkaXkveXKT6_fNDsDBhAQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  src: local('Sarala'), local('Sarala-Regular'), url(https://fonts.gstatic.com/s/sarala/v1/Jj4NOmlqPfHs5hQt4z9pLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  src: local('Sarala Bold'), local('Sarala-Bold'), url(https://fonts.gstatic.com/s/sarala/v1/NktIEkUOaTGbiS3SsqVszaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
