.horofb-row { overflow:hidden; margin-bottom:2em; }

.horofb-icon { display:block; margin:0 auto 1em auto; width:55px; height:55px;
	background:transparent url("../images/signs.png") top left no-repeat; }
.horofb-icon-aries { background-position:0 0; }
.horofb-icon-taurus { background-position:0 -55px; }
.horofb-icon-gemini { background-position:0 -110px; }
.horofb-icon-cancer { background-position:0 -165px; }
.horofb-icon-leo { background-position:0 -220px; }
.horofb-icon-virgo { background-position:0 -275px; }
.horofb-icon-libra { background-position:0 -330px; }
.horofb-icon-scorpio { background-position:0 -385px; }
.horofb-icon-sagittarius { background-position:0 -440px; }
.horofb-icon-capricorn { background-position:0 -495px; }
.horofb-icon-aquarius { background-position:0 -550px; }
.horofb-icon-pisces { background-position:0 -605px; }

.horofb-title { font-weight:bold; text-align:center; font-size:147%; margin-bottom:1em; }

.horofb-pager { overflow:hidden; }
.horofb-pager .horofb-next { float:right; }
.horofb-pager .horofb-prev { float:left; }

.shortcode-content ul.horofb-nav,
ul.horofb-nav { overflow:hidden; margin-bottom:4em; }
.shortcode-content ul.horofb-nav li,
ul.horofb-nav li { float:left; margin:0 0 1em 0; padding:0; list-style-type:none; width:16.667%; text-align:center; }
ul.horofb-nav li .horofb-icon { margin-bottom:0.5em; }
ul.horofb-nav li .horofb-title { font-size:100%; margin-bottom:0.5em; }