/*
Part of Most Read Posts FB Wordpress plugin.
Basic UI styling for the tabbed view mostly.
*/
.mrfb-root * {
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -khtml-box-sizing:border-box; box-sizing:border-box;
}
.mrfb-root ul.mrfb-titles { margin:0; padding:0; list-style-type:none; display:flex; flex-direction:row; overflow:hidden; }
.mrfb-root ul.mrfb-titles li { /*float:left; width:33%;*/ text-align:center; list-style-type:none; cursor:pointer; clear:none;
	flex:1 1 auto; }
.mrfb-root ul.mrfb-titles li.selected { text-decoration:underline; }
.mrfb-root ol.mrfb-posts-list { margin:0; padding:0; list-style-type:none; }
.mrfb-root ol.mrfb-posts-list li { margin:0; padding:0; list-style-type:none; display:block; float:none; }