@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Lucida Grande", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem;
  color: #333;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.post-article .article-content {
  padding-bottom: 3em;
}
.post-article .article-content:last-child {
  padding-bottom: 0;
}
.post-article .post-meta-user-icon-pr {
  top: 1px;
  left: 1px;
}

#list_content {
  padding: 2em 0;
}

.article-area .article-text {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 22px;
}
.article-area .article-image-area .rel {
  margin: 10px 0 0 0;
}
.article-area .article-image img {
  display: block;
  max-width: 690px;
  max-height: 690px;
}
.article-area .article-image-text {
  position: relative;
  overflow: hidden;
  padding-top: .75em;
}
.article-area .article-image-desc {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 21px;
}
.article-area .article-image-desc,
.article-area .outbound-link {
  word-break: break-all;
}
.article-area .collabo-credit, .article-area .collabo-credit-compathy, .article-area .collabo-credit-gu, .article-area .collabo-credit-zozo {
  width: 70px;
  height: auto;
  margin-top: 10px;
}
.article-area .collabo-credit-compathy {
  width: auto;
}
.article-area .collabo-credit-gu {
  width: 30px;
}
.article-area .collabo-credit-zozo {
  width: 72px;
}
.article-area .link {
  padding: 0 0 2px 8px;
  border-left: 3px solid #eee;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.5em;
  cursor: pointer;
  margin: 0 0 .65em 0;
}
.article-area .article-tweet {
  width: 70%;
}
.article-area .sortable-item-inner {
  width: 100%;
}
.article-area .sortable-item-inner iframe {
  max-width: 100%;
}
.article-area .article-instagram .user-icon {
  margin-bottom: .5em;
}
.article-area .article-instagram .user-icon img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  vertical-align: middle;
}
.article-area .article-instagram .user-icon span {
  vertical-align: middle;
}
.article-area .article-product .article-image {
  position: relative;
  float: left !important;
  margin-right: 15px;
}
.article-area .article-product .article-image a img {
  max-width: 310px !important;
}
.article-area .article-product .article-image .rel img {
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
}
.article-area .article-product .article-image .rel .sponsored {
  float: right;
  margin-top: -2px;
}
.article-area .article-product .article-product-info {
  position: relative;
}
.article-area .article-product .article-product-info:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.article-area .article-product .article-image-text {
  padding-top: 30px;
}
.article-area .article-product .article-image-text .article-product-title {
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  margin: 16px 0;
}
.article-area .article-product .article-image-text .article-product-price {
  margin-top: 8px;
  font-size: 16px;
  color: #a9a099;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}
.article-area .article-product .article-image-text .article-product-price span {
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
}
.article-area .article-product .article-image-text .article-product-desc {
  margin-top: 8px;
  color: #666;
  font-size: 13px;
  line-height: 1.5em;
}
.article-area .article-product .article-image-text .btn-item-area .btn {
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 48px;
  width: 218px;
  height: 48px;
  background-color: #7eceef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  background-image: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.article-area .article-product .article-image-text .btn-item-area .btn:hover {
  opacity: 0.8;
}
.article-area .article-product .article-image-text .btn-item-area .btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25px;
  margin: auto;
}
.article-area .article-gurunavi .article-image {
  position: relative;
  float: left;
  margin-right: 15px;
}
.article-area .article-gurunavi .article-image a img {
  width: 250px;
  height: auto;
}
.article-area .article-gurunavi .article-image > img {
  margin-top: 10px;
}
.article-area .article-gurunavi .article-gurunavi-info {
  overflow: hidden;
}
.article-area .article-gurunavi .article-gurunavi-title {
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  margin: 16px 0;
}
.article-area .article-gurunavi .article-gurunavi-info-detail dt, .article-area .article-gurunavi .article-gurunavi-info-detail dd {
  line-height: 1.6;
}
.article-area .article-gurunavi .article-gurunavi-info-detail dt {
  float: left;
}
.article-area .article-gurunavi .article-gurunavi-info-detail dd {
  margin: 0 0 6px 60px;
}
.article-area .rel {
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 16px;
  margin-top: .5em;
  color: #999;
}
.article-area .rel a {
  text-decoration: underline;
  color: #999;
}
.article-area .rel a:hover {
  text-decoration: none;
  color: #999;
}
.article-area .text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 16px;
}

.article-headline,
.article-headline-second,
.article-headline-third {
  margin: 0;
}

.article-headline {
  background-color: #eff9fd;
  padding: 12px 22px;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
.article-headline input {
  width: 100%;
  display: block;
  border: none;
  padding: 0;
  background-color: #eff9fd;
}

.article-headline-second {
  border-left: 6px solid #7eceef;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  padding-left: 18px;
  margin: 0;
}

.article-headline-third {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
}

#tag-edit-area {
  padding: 10px;
  background: #f5f5f5;
}
#tag-edit-area form {
  display: inline-block;
}
#tag-edit-area .sort-tag {
  cursor: default;
}

#close-tag-edit {
  color: #555;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 16px;
  text-decoration: underline;
  padding-left: 10px;
}

.index-navigation {
  margin: 20px 0 0 0;
  padding: 20px;
  background-color: #f8f8f8;
  position: relative;
}
.index-navigation .index-navigation-title {
  font-size: 16px;
  font-size: 1.6rem;
  color: #a9a099;
  margin: 0 0 15px;
}
.index-navigation .index-navigation-sub-list-item {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: .65em;
  text-indent: -1.4em;
  padding-left: 1.4em;
  position: relative;
}
.index-navigation .index-navigation-sub-list-item:before {
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #7eceef;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.keep-right {
  text-align: right;
  margin-bottom: 15px;
}
.keep-right .to-page-top {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #a9a099;
  padding-left: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.keep-right .to-page-top::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -1px;
  margin: auto;
  display: block;
  width: 8px;
  height: 8px;
  background: transparent;
  border-top: 1px solid #7eceef;
  border-left: 1px solid #7eceef;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.article-footer {
  margin-bottom: 30px;
  padding: 5px;
}
.article-footer .disclaimer {
  color: #a9a099;
  font-size: 10px;
  font-size: 1rem;
  font-weight: normal;
}

.questionnaire-wrapper {
  margin: 30px 0 50px;
}
.questionnaire-wrapper .title {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 3px solid #7eceef;
  padding-bottom: 10px;
  margin: 0;
  color: #7eceef;
}
.questionnaire-wrapper .form-wrapper {
  margin-top: 17px;
}
.questionnaire-wrapper .lead {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
}
.questionnaire-wrapper dl {
  margin: 20px 0 0;
}
.questionnaire-wrapper dt {
  font-weight: bold;
  font-size: 16px;
  font-size: 1.6rem;
}
.questionnaire-wrapper dt ~ dt {
  border-top: 1px dashed #d5d5d5;
  padding-top: 20px;
}
.questionnaire-wrapper dd {
  margin-left: 0;
  padding-bottom: 20px;
}
.questionnaire-wrapper dd:last-child {
  padding-bottom: 0;
}
.questionnaire-wrapper .radio-list, .questionnaire-wrapper .checkbox-list {
  font-size: 0;
}
.questionnaire-wrapper .radio-list li, .questionnaire-wrapper .checkbox-list li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 13px 30px 0 0;
}
.questionnaire-wrapper input[type=radio], .questionnaire-wrapper input[type=checkbox] {
  display: none;
}
.questionnaire-wrapper .radio, .questionnaire-wrapper .checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  line-height: 1.3;
}
.questionnaire-wrapper .radio:after, .questionnaire-wrapper .checkbox:after {
  content: " ";
  display: block;
  position: absolute;
  border: 1px solid #d5d5d5;
}
.questionnaire-wrapper .radio {
  padding-left: 24px;
}
.questionnaire-wrapper .radio:after {
  top: 1px;
  left: 0;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.questionnaire-wrapper input[type=radio]:checked + .radio:after {
  border: 5px solid #7eceef;
}
.questionnaire-wrapper .checkbox {
  padding-left: 28px;
  word-break: break-all;
}
.questionnaire-wrapper .checkbox:after {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.questionnaire-wrapper input[type=checkbox]:checked + .checkbox:after {
  background-color: #7eceef;
  border-color: #7eceef;
}
.questionnaire-wrapper .checkbox:before {
  position: absolute;
  top: 4px;
  left: 7px;
  display: block;
  width: 5px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: " ";
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 10;
}
.questionnaire-wrapper input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}
.questionnaire-wrapper .select-wrapper {
  width: 217px;
  margin-top: 13px;
  position: relative;
}
.questionnaire-wrapper .select-wrapper:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 10;
  background: transparent;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.questionnaire-wrapper .select-wrapper select {
  position: relative;
  z-index: 20;
  outline: 0;
  width: 100%;
  height: 43px;
  font-size: 14px;
  font-size: 1.4rem;
  border-color: #d5d5d5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
  -moz-appearance: none;
}
.questionnaire-wrapper .select-wrapper select::-ms-expand {
  display: none;
}
.questionnaire-wrapper .form-textarea {
  margin-top: 13px;
  border: 1px solid #d5d5d5;
  width: 100%;
  height: 170px;
  outline: 0;
  font-size: 14px;
  font-size: 1.4rem;
}
.questionnaire-wrapper .text {
  color: #a9a099;
  font-size: 11px;
  font-size: 1.1rem;
  margin: 10px 0 0;
}
.questionnaire-wrapper .button-wrapper {
  margin-top: 20px;
}
.questionnaire-wrapper .submit-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #f69292;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  border: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.questionnaire-wrapper .submit-button:hover {
  opacity: 0.8;
}
.questionnaire-wrapper .submit-button:focus {
  outline: 0;
}
.questionnaire-wrapper .submit-button.js-disable {
  background-color: #cec8c8;
  pointer-events: none;
}
.questionnaire-wrapper .js-questionnaire-result {
  display: none;
  text-align: center;
  margin: 30px 0 50px;
  font-size: 15px;
  font-size: 1.5rem;
}

.breadcrumb-wrapper {
  width: 100%;
  height: 50px;
}
.breadcrumb-wrapper .breadcrumb {
  width: 1010px;
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #a9a099;
}
.breadcrumb-wrapper .breadcrumb li {
  position: relative;
  display: inline-block;
  height: 50px;
  margin: 0 0 0 36px;
  overflow: visible;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 50px;
}
.breadcrumb-wrapper .breadcrumb li:first-child {
  margin-left: 0;
}
.breadcrumb-wrapper .breadcrumb li:last-child span {
  font-weight: bold;
}
.breadcrumb-wrapper .breadcrumb li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -28px;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  border-top: 1px solid #a9a099;
  border-right: 1px solid #a9a099;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.breadcrumb-wrapper .breadcrumb li a, .breadcrumb-wrapper .breadcrumb li span {
  display: block;
  max-width: 360px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.breadcrumb-wrapper .breadcrumb li a {
  line-height: 50px;
  color: #a9a099;
}

.breadcrumb-bottom {
  display: block;
  width: 1010px;
  margin: 20px auto 30px auto;
  padding: 0;
  min-width: 1010px;
  color: #a9a099;
}
.breadcrumb-bottom li {
  display: inline-block;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
  margin-right: 1px;
  font-size: 12px;
  font-size: 1.2rem;
  position: relative;
}
.breadcrumb-bottom li:not(:last-child) a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  border-top: 1px solid #a9a099;
  border-right: 1px solid #a9a099;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.breadcrumb-bottom span {
  font-weight: normal;
}
.breadcrumb-bottom span:last-child a {
  background: none;
}
.breadcrumb-bottom a {
  padding-right: 15px;
  background-position: right 2px;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #a9a099;
}
.breadcrumb-bottom a:hover {
  text-decoration: underline;
  color: #a9a099;
}

.btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 0 .75em;
  cursor: pointer;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 45px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #eee;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  text-decoration: none;
}
.btn:hover {
  text-decoration: none;
  background-color: #dedede;
}

.btn.btn-small {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 30px;
  width: 100px;
  white-space: nowrap;
}
.btn.btn-small.btn-article-overwrite {
  width: 200px;
}

.btn-pink {
  background-color: #7eceef;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.btn-pink:hover {
  opacity: 0.8;
  background-color: #7eceef;
  color: #fff;
}

.btn-white {
  background: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
}
.btn-white:hover {
  background: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
}

.btn-gray {
  background: #f5f5f5;
  color: #666;
}
.btn-gray:hover {
  background: #dbdbdb;
  color: #666;
}

.btn-black {
  background: #aaa;
  color: #fff;
}
.btn-black:hover {
  background: #999;
  color: #fff;
}

.btn-fullwidth {
  width: 100%;
  display: block;
}

.btn-article-link {
  display: block;
  width: 262px;
  line-height: 20px;
  padding: 10px;
}

.btn-article-link-white {
  background: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  background-image: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background-image: linear-gradient(top, #fff, #f0f0f0);
  background-repeat: repeat-x;
}
.btn-article-link-white:hover {
  background: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
}

.btn-article-link-blue {
  border: none;
  background: #99d3f8;
  color: #fff;
}
.btn-article-link-blue:hover {
  background: #58b9f7;
  color: #fff;
}

.btn-article-link-pink {
  border: none;
  background: #fda4a2;
  color: #fff;
}
.btn-article-link-pink:hover {
  background: #fc7c79;
  color: #fff;
}

.btn-article-link-yellow {
  border: none;
  background: #fbc981;
  color: #fff;
}
.btn-article-link-yellow:hover {
  background: #f7b658;
  color: #fff;
}

.btn-article-link-iphone,
.btn-article-link-android {
  width: 260px;
  height: 65px;
  text-indent: -9999px;
}

.footer-wrapper {
  min-width: 1010px;
  padding: 40px 0;
  background-color: #f8f8f8;
  color: #2fa3cd;
}
.footer-wrapper p {
  padding: 0;
  margin: 0;
}
.footer-wrapper a {
  font-size: 11px;
  font-size: 1.1rem;
}

.footer {
  width: 1010px;
  margin: 0 auto;
}

.footer-logo {
  width: 169px;
  float: left;
  position: relative;
}
.footer-logo a {
  display: block;
  overflow: hidden;
}

.footer-logo,
.footer-col {
  min-height: 140px;
}

.footer-col {
  float: left;
  letter-spacing: normal;
  vertical-align: top;
  padding: 10px 0 10px 19px;
  border-left: 1px solid #eee;
}
.footer-col p {
  margin-bottom: 15px;
}
.footer-col ul {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  margin-bottom: 10px;
  margin-right: 20px;
}
.footer-col ul li {
  margin-bottom: 6px;
  font-size: 12px;
  font-size: 1.2rem;
}
.footer-col a {
  font-size: 11px;
  font-size: 1.1rem;
}

.footer-list-cat p,
.footer-list-about p {
  font-size: 11px;
  font-size: 1.1rem;
  color: #7eceef;
}

.footer-list-cat {
  width: 350px;
}
.footer-list-cat li {
  display: inline-block;
  width: 140px;
}

.footer-list-about {
  width: 270px;
  margin-right: 0;
}
.footer-list-about ul {
  margin-right: 0;
  letter-spacing: -.4em;
}
.footer-list-about ul li {
  width: 125px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
  letter-spacing: normal;
  padding-right: 7px;
}

.footer-list-keyword {
  min-height: 0;
  margin-left: 180px;
  word-break: break-word;
  border-left: none;
  padding-left: 0;
}
.footer-list-keyword p {
  color: #a9a099;
  font-size: 12px;
  font-size: 1.2rem;
}
.footer-list-keyword .footer-keyword-link {
  margin-right: 15px;
  display: inline-block;
  color: #7eceef;
  font-weight: bold;
}

.tagline-wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 1010px;
  position: relative;
  background-color: #7eceef;
  color: #fff;
  font-size: 11px;
  font-size: 1.1rem;
}
.tagline-wrapper p {
  color: #fff;
}
.tagline-wrapper a {
  color: #fff;
}
.tagline-wrapper a:hover {
  color: #fff;
}
.tagline-wrapper .tagline {
  display: block;
  width: 1010px;
  min-height: 42px;
  margin: 20px auto;
  position: relative;
}

.tagline-policy {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  bottom: 0;
  text-align: left;
}

.tagline-text {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
}

.tagline-share {
  position: relative;
  display: block;
  width: 1010px;
  min-height: 26px;
  height: auto;
  margin: 0 auto;
}
.tagline-share .sns-list {
  position: absolute;
  top: 20px;
  right: 0;
}
.tagline-share .sns-list .twitter {
  display: block;
  float: left;
  width: 110px;
}
.tagline-share .sns-list .google-plus {
  display: block;
  float: left;
  width: 68px;
}
.tagline-share .sns-list .facebook {
  display: block;
  float: left;
  width: 164px;
}
.tagline-share .sns-list .hatena {
  display: block;
  float: left;
  width: 118px;
}

.tagline-copyright {
  position: absolute;
  display: block;
  width: auto;
  height: 17px;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: auto;
  text-align: right;
}

.border-title-wrapper {
  margin: 0;
}

.border-title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: left;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 20px;
  color: #7eceef;
  margin: 9px 0 17px 0;
}

.border-titlemeta {
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 16px;
  float: right;
  color: #999;
  margin: 14px 0 17px 0;
}

.border-title-rss {
  margin: 14px 0 0 0;
  float: left;
}

.related-tag-title {
  font-size: 14px;
  font-size: 1.4rem;
}

.sidebar-post-list-content {
  padding: 20px 0 0 0;
}
.sidebar-post-list-content:first-child {
  padding-top: 0;
}

.post-list-content {
  display: table;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 1em 0;
}
.post-list-content .post-list-thumb,
.post-list-content .post-list-info {
  display: table-cell;
}
.post-list-content .post-list-info {
  width: 90%;
  vertical-align: top;
}
.post-list-content:first-child {
  padding-top: 0;
}

.post-list-thumb {
  width: 10%;
}
.post-list-thumb a {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  background-color: #e3e3e3;
  overflow: hidden;
  -webkit-border-radius: 8px 0 8px 0;
  -moz-border-radius: 8px 0 8px 0;
  -ms-border-radius: 8px 0 8px 0;
  -o-border-radius: 8px 0 8px 0;
  border-radius: 8px 0 8px 0;
}
.post-list-thumb .crop-image {
  -webkit-border-radius: 8px 0 8px 0;
  -moz-border-radius: 8px 0 8px 0;
  -ms-border-radius: 8px 0 8px 0;
  -o-border-radius: 8px 0 8px 0;
  border-radius: 8px 0 8px 0;
}

.post-list-title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 0;
  padding: 0;
}
.post-list-title a:hover {
  color: #3d3a38;
  text-decoration: underline;
}

.post-list-lead {
  font-size: 10px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  color: #a9a099;
  margin: 3px 0 5px;
}

.post-list-thumb-link {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
.post-list-thumb-link:hover {
  opacity: 0.8;
}
.post-list-thumb-link img {
  opacity: 0;
}

.post-meta-tags {
  padding: 0 0 4px 0;
  position: relative;
}
.post-meta-tags li:nth-of-type(2):before {
  content: ' > ';
}

.post-list-content .post-list-info {
  padding-left: 15px;
}
.post-list-content .post-list-thumb a {
  overflow: visible;
}

.post-meta {
  display: block;
  color: #a9a099;
}
.post-meta li {
  display: inline-block;
}

.post-meta-view {
  font-style: italic;
}

.post-meta-user,
.post-meta-username {
  float: right;
}

.post-meta-user-icon-pr {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: 2px;
  left: 2px;
}

.sponsor-name-text {
  display: inline-block;
}

.post-main-title {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post-lead {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7;
  color: #3d3a38;
}

/* admin? */
.post-title {
  background: #efefef;
  padding: 12px 16px;
  border-left: 3px solid #3295b1;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* admin? */
.post-title-large {
  margin: 20px 0;
  border-left: 3px solid #3295b1;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-title {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 15px;
}

.page-title-small {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 15px;
}

.page-title-norm {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 15px;
}
.page-title-norm a {
  text-decoration: underline;
}
.page-title-norm a:hover {
  text-decoration: none;
}

.page-title-border-bottom {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 1.3em;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #c6d6e3;
}
.page-title-border-bottom a {
  text-decoration: underline;
}
.page-title-border-bottom a:hover {
  text-decoration: none;
}

.page-title-small-border-bottom {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3em;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #c6d6e3;
}
.page-title-small-border-bottom a {
  text-decoration: underline;
}
.page-title-small-border-bottom a:hover {
  text-decoration: none;
}

.page-title-error {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 15px;
  color: #fc7c79;
}

.page-lead {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 22px;
  color: #888;
}

.page-title-sub {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c6d6e3;
}

.user-page-title {
  margin-top: 0;
  padding: 13px 0 10px 10px;
  border: 1px solid #dfd8d4;
  background: #faf7f7;
  color: #333;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 16px;
  *zoom: 1;
}
.user-page-title:before, .user-page-title:after {
  display: table;
  content: "";
}
.user-page-title:after {
  clear: both;
}
.user-page-title p {
  float: right;
  width: 130px;
  margin: 0;
  border-left: 1px solid #c6d6e3;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
}

.meta-text {
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 16px;
  color: #a9a099;
}
.meta-text a {
  display: inline-block;
  color: #a9a099;
}
.meta-text a:hover {
  color: #a9a099;
}

.pageview-text {
  padding-right: 3px;
}

.text-user-role {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 16px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Lucida Grande", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit;
  word-wrap: break-word;
}

a {
  color: #3d3a38;
  text-decoration: none;
}
a:hover {
  color: #3d3a38;
  text-decoration: underline;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  background-image: none;
  color: #3d3a38;
}

input,
select,
textarea {
  border: 1px solid #ddd;
  background-color: #fff;
}

pre {
  color: #3d3a38;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

p {
  color: #3d3a38;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d3a38;
}

.border-wrapper {
  padding: 2em;
  border: 3px solid #eee;
}
.border-wrapper .page-title-sub {
  margin-top: 0;
}

.input-file {
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1em;
  vertical-align: text-bottom;
}

.input-border,
.input-border-radius {
  padding: 4px 5px 5px 5px;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: normal;
}

.input-border-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.linkto {
  text-align: right;
  margin-top: 10px;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 16px;
}
.linkto a {
  color: #ffbfc2;
  text-decoration: none;
  position: relative;
}
.linkto a:hover {
  text-decoration: underline;
}
.linkto a:before {
  content: "";
  position: absolute;
  top: 4px;
  left: -13px;
  margin: auto;
  width: 6px;
  height: 6px;
  border-top: 1px solid #a9a099;
  border-right: 1px solid #a9a099;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.required-label {
  display: inline-block;
  margin-left: 8px;
  padding: .4em .5em .3em .5em;
  background: #fc7c79;
  color: #fff;
  font-size: 10px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.notice,
.alert {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 230px;
  padding: 1em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  z-index: 1010;
}

.validate-message {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  color: #fc7c79;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 16px;
}

.error-explanation,
#error-explanation {
  margin: .5em 0 1em 0;
  padding: .5em 1em;
  border-left: 3px solid #fc7c79;
  color: #fc7c79;
}

.error-explanation li,
.error_explanation li,
#error-explanation li,
#error_explanation li {
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 16px;
  color: #fc7c79;
}

.pre-style-1 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 26px;
  margin: 0;
}

.preview {
  padding: 1em 2em;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #333;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 20px;
}
.preview p {
  text-align: center;
  margin: 0;
}

.ui-autocomplete {
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
}
.ui-autocomplete li {
  padding: .5em;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.ui-autocomplete li:last-child {
  border-bottom: none;
}

.crop-image {
  background-color: #eee;
}

.css-rank {
  position: relative;
}

.css-rank-num {
  font-size: 10px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 20px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 18px;
  margin: 0;
  z-index: 1;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
.css-rank-num:before {
  content: " ";
  border-right: 28px solid transparent;
  border-bottom: 28px solid #7eceef;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.mtn {
  margin-top: 0;
}

.mbn {
  margin-bottom: 0;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.form-button-to {
  width: 200px;
  display: inline-block;
}

.whats_this_site-wrapper {
  position: relative;
  width: 1010px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}

.whats_this_site-content p {
  padding: 0 20px;
}

.whats_this_site-header {
  border-bottom: 2px solid #b1dbc1;
  margin-bottom: 20px;
}
.whats_this_site-header h2 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 20px;
}

.navbar-wrapper {
  position: relative;
  z-index: 1060;
  width: 100%;
  min-width: 1010px;
  background: -moz-linear-gradient(left, #f9f9f9 0%, #ffffff 50%, #f9f9f9 100%);
  background: -webkit-linear-gradient(left, #f9f9f9 0%, #ffffff 50%, #f9f9f9 100%);
  background: linear-gradient(to right, #f9f9f9 0%, #ffffff 50%, #f9f9f9 100%);
  height: 80px;
}

.navbar {
  margin: 0 auto;
  height: 80px;
}

.navbar-logo {
  width: 88px;
  height: 27px;
  position: absolute;
  top: 18px;
  right: 0;
  left: 0;
  margin: auto;
}
.navbar-logo a {
  overflow: hidden;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.navbar-logo a:hover {
  opacity: 0.8;
}

.navbar-logo-text {
  font-size: 10px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  color: #7eceef;
  position: absolute;
  right: 0;
  bottom: 15px;
  left: 0;
  margin: auto;
}

.navbar-menu {
  display: inline-block;
  position: absolute;
  height: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: right;
}
.navbar-menu li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-right: 18px;
  font-size: 11px;
  font-size: 1.1rem;
  vertical-align: middle;
}
.navbar-menu li a {
  color: #a9a099;
  display: block;
}
.navbar-menu .sign-up a,
.navbar-menu .sign-in a {
  padding-left: 22px;
  position: relative;
}
.navbar-menu .sign-up a:before,
.navbar-menu .sign-in a:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-menu-user img {
  margin: 0 2px 0 0;
  vertical-align: top;
  -webkit-border-radius: 100em;
  -moz-border-radius: 100em;
  -ms-border-radius: 100em;
  -o-border-radius: 100em;
  border-radius: 100em;
}

.navbar-menu-setting-dropdown {
  display: none;
  position: absolute;
  top: 25px;
  right: 3px;
  width: 146px;
  padding: 0;
  border: 2px solid #eee;
  background: #fff;
  z-index: 1000;
}
.navbar-menu-setting-dropdown li {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #555;
  border-bottom: 1px solid #eee;
  height: 36px;
  line-height: 36px;
}
.navbar-menu-setting-dropdown li:last-child {
  border-bottom: none;
}
.navbar-menu-setting-dropdown a {
  display: block;
  padding: 0 10px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #555;
}

.navbar-menu-setting-toggle {
  padding-right: 12px;
  display: inline-block;
  position: relative;
}

.notification-badge {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  margin: -2px 0 0 2px;
  padding: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 9px;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 16px;
  background-color: #fc7c79;
  color: #fff;
}

.page-wrapper {
  position: relative;
  width: 1010px;
  min-height: 400px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.error-page-wrapper {
  padding-top: 4em !important;
  text-align: center;
}

.site-common-wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.contact-list-item {
  border-bottom: 1px solid #c6d6e3;
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.contact-list-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contact-list-item-title {
  margin-top: 0;
}

.contact-form-wrapper label {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 16px;
  display: block;
  margin: 20px 0 5px 0;
}
.contact-form-wrapper a {
  text-decoration: underline;
}

.contact-input-common {
  width: 400px;
}

.contact-textarea-like-input {
  height: 31px;
}

.contact-report-content {
  width: 678px;
  height: 200px;
}

.contact-report-btn-wrapper {
  margin-top: 1em;
}

.search-btn:before,
.fav-area .like-btn,
.fav-area .liked-btn,
.top-list-content .border-title:before,
.sidebar-title-wrapper .title-access-ranking,
.sidebar-title-wrapper .title-special-article,
.sidebar-title-wrapper .title-featured-article,
.sidebar-title-wrapper .title-latest-article,
.sidebar-title-wrapper .title-related-keywords,
.sidebar-title-wrapper .title-popular-curator,
.post-content-wrapper .border-title:before,
.big-category-scroll-follow li a:before,
.navbar-search-form .search-button,
.navbar-menu .sign-up a:before,
.navbar-menu .sign-in a:before,
.post-content-sns-share a,
.genre-list .supple-title-wrapper:before,
.sidebar-title-wrapper.has-icon .sidebar-title:before,
.big-category-catch-info-title:before,
.post-content-cat-list-info .name:before,
.article-product-info:before,
.btn-item-area .btn:before,
.post-meta-user-icon-pr {
  background-image: url("/static/images/pc-sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-background-size: 684px 321px;
  -moz-background-size: 684px 321px;
  -ms-background-size: 684px 321px;
  -o-background-size: 684px 321px;
  background-size: 684px 321px;
}

.post-meta-user-icon-pr {
  width: 18px;
  height: 12px;
  background-position: -534px -60px;
}

.post-meta-user-icon-pr.white {
  background-position: -508px -60px;
}

.btn-item-area .btn:before {
  width: 23px;
  height: 23px;
  background-position: -328px -203px;
}

.article-product-info:before {
  width: 60px;
  height: 30px;
  background-position: -4px -203px;
}

.post-content-cat-list-info .name.healthcare:before {
  background-position: -4px -299px;
}

.post-content-cat-list-info .name.heathyfood:before {
  background-position: -662px -267px;
}

.post-content-cat-list-info .name.diet:before {
  background-position: -30px -299px;
}

.post-content-cat-list-info .name.skincare:before {
  background-position: -636px -241px;
}

.post-content-cat-list-info .name.cosme:before {
  background-position: -56px -299px;
}

.post-content-cat-list-info .name.lifestyle:before {
  background-position: -636px -267px;
}

.post-content-cat-list-info .name.pregnancy:before {
  background-position: -584px -267px;
}

.post-content-cat-list-info .name.sick:before {
  background-position: -662px -241px;
}

.post-content-cat-list-info .name.mental:before {
  background-position: -610px -267px;
}

.post-content-cat-list-info .name.trend:before {
  background-position: -610px -241px;
}

.big-category-catch-info-title.healthcare:before {
  background-position: -410px -241px;
}

.big-category-catch-info-title.heathyfood:before {
  background-position: -352px -241px;
}

.big-category-catch-info-title.diet:before {
  background-position: -468px -241px;
}

.big-category-catch-info-title.skincare:before {
  background-position: -62px -241px;
}

.big-category-catch-info-title.cosme:before {
  background-position: -526px -241px;
}

.big-category-catch-info-title.lifestyle:before {
  background-position: -294px -241px;
}

.big-category-catch-info-title.pregnancy:before {
  background-position: -178px -241px;
}

.big-category-catch-info-title.sick:before {
  background-position: -120px -241px;
}

.big-category-catch-info-title.mental:before {
  background-position: -236px -241px;
}

.big-category-catch-info-title.trend:before {
  background-position: -4px -241px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.healthcare:before {
  background-position: -232px -203px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.heathyfood:before {
  background-position: -200px -203px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.diet:before {
  background-position: -264px -203px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.skincare:before {
  background-position: -656px -159px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.cosme:before {
  background-position: -296px -203px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.lifestyle:before {
  background-position: -168px -203px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.pregnancy:before {
  background-position: -104px -203px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.sick:before {
  background-position: -72px -203px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.mental:before {
  background-position: -136px -203px;
}

.sidebar-title-wrapper.has-icon .sidebar-title.trend:before {
  background-position: -624px -159px;
}

.genre-list .supple-title-wrapper:before {
  width: 18px;
  height: 18px;
  background-position: -584px -241px;
}

.post-content-sns-share .facebook-btn {
  background-position: -516px -159px;
}

.post-content-sns-share .twitter-btn {
  background-position: -300px -159px;
}

.post-content-sns-share .hatena-btn {
  background-position: -408px -159px;
}

.navbar-search-form .search-button {
  background-position: -584px -241px;
}

.navbar-menu .sign-up a:before {
  background-position: -387px -203px;
}

.navbar-menu .sign-in a:before {
  background-position: -620px -87px;
}

.big-category-nav-all a:before {
  background-position: -605px -203px;
}

.big-category-nav-healthcare a:before {
  background-position: -106px -299px;
}

.big-category-nav-heathyfood a:before {
  background-position: -653px -203px;
}

.big-category-nav-diet a:before {
  background-position: -154px -299px;
}

.big-category-nav-skincare a:before {
  background-position: -620px -135px;
}

.big-category-nav-cosme a:before {
  background-position: -202px -299px;
}

.big-category-nav-lifestyle a:before {
  background-position: -557px -203px;
}

.big-category-nav-pregnancy a:before {
  background-position: -461px -203px;
}

.big-category-nav-sick a:before {
  background-position: -413px -203px;
}

.big-category-nav-mental a:before {
  background-position: -509px -203px;
}

.big-category-nav-trend a:before {
  background-position: -620px -111px;
}

.big-category-nav-all.selected a:before {
  background-position: -581px -203px;
}

.big-category-nav-healthcare.selected a:before {
  background-position: -82px -299px;
}

.big-category-nav-heathyfood.selected a:before {
  background-position: -629px -203px;
}

.big-category-nav-diet.selected a:before {
  background-position: -130px -299px;
}

.big-category-nav-skincare.selected a:before {
  background-position: -644px -111px;
}

.big-category-nav-cosme.selected a:before {
  background-position: -178px -299px;
}

.big-category-nav-lifestyle.selected a:before {
  background-position: -533px -203px;
}

.big-category-nav-pregnancy.selected a:before {
  background-position: -437px -203px;
}

.big-category-nav-sick.selected a:before {
  background-position: -644px -135px;
}

.big-category-nav-mental.selected a:before {
  background-position: -485px -203px;
}

.big-category-nav-trend.selected a:before {
  background-position: -644px -87px;
}

.top-list-content .border-title:before {
  width: 496px;
  height: 19px;
  background-position: -4px -60px;
}

.sidebar-title-wrapper .title-access-ranking {
  width: 300px;
  padding-top: 16px;
  background-position: -312px -135px;
}

.sidebar-title-wrapper .title-special-article {
  width: 300px;
  padding-top: 16px;
  background-position: -4px -87px;
}

.sidebar-title-wrapper .title-featured-article {
  width: 300px;
  padding-top: 16px;
  background-position: -4px -111px;
}

.sidebar-title-wrapper .title-latest-article {
  width: 300px;
  padding-top: 16px;
  background-position: -4px -135px;
}

.sidebar-title-wrapper .title-related-keywords {
  width: 300px;
  padding-top: 16px;
  background-position: -312px -87px;
}

.sidebar-title-wrapper .title-popular-curator {
  width: 300px;
  height: 16px;
  background-position: -312px -111px;
}

.post-content-wrapper .title-category-list:before {
  width: 676px;
  height: 20px;
  background-position: -4px -32px;
}

.post-content-wrapper .title-related-article:before {
  width: 676px;
  height: 20px;
  background-position: -4px -4px;
}

.fav-area .like-btn {
  width: 140px;
  height: 36px;
  background-position: -152px -159px;
}

.fav-area .liked-btn {
  width: 140px;
  height: 36px;
  background-position: -4px -159px;
}

.search-btn:before {
  width: 17px;
  height: 18px;
  background-position: -32px -80px;
}

.navbar-logo a,
.footer-logo a {
  background-image: url("/static/images/logo.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  height: 0;
  background-position: 0 0;
}

.navbar-logo a {
  width: 88px;
  padding-top: 27px;
  -webkit-background-size: 88px 27px;
  -moz-background-size: 88px 27px;
  -ms-background-size: 88px 27px;
  -o-background-size: 88px 27px;
  background-size: 88px 27px;
}

.footer-logo a {
  width: 111px;
  padding-top: 34px;
  -webkit-background-size: 111px 34px;
  -moz-background-size: 111px 34px;
  -ms-background-size: 111px 34px;
  -o-background-size: 111px 34px;
  background-size: 111px 34px;
}

.link-web {
  position: relative;
  overflow: hidden;
}
.link-web:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 14px;
}

.link-web {
  background-image: url("/static/images/icon-web.png");
}

.link-am {
  background-image: url("/static/images/icon-ameblo.png");
}

.link-tw {
  background-image: url("/static/images/icon-tw.png");
}

.link-fb {
  background-image: url("/static/images/icon-fb.png");
}

.user-data-article {
  background-image: url("/static/images/user-data-article.png");
}

.user-data-view {
  background-image: url("/static/images/user-data-view.png");
}

.user-data-like {
  background-image: url("/static/images/user-data-like.png");
}

.border-title-rss {
  margin: 12px 0 0 0;
}

.preview {
  margin: -40px 0 40px;
}

.search-list-wrapper .post-list-info,
.post-related-list-content .post-list-info {
  padding-top: 12px;
}

.top-list-content-wrapper .post-list-thumb .post-list-thumb-link {
  background: transparent;
}

.post-content-wrapper #list_content {
  margin-bottom: 50px;
  padding: 0;
}
.post-content-wrapper #list_content .article-content {
  margin-top: 30px;
  padding: 0;
}
.post-content-wrapper .post-related-list-content,
.post-content-wrapper .post-content-keyword-wrapper {
  margin-bottom: 50px;
}
.post-content-wrapper .post-content-keyword-wrapper {
  padding-top: -10px;
}

.image-item-section .image-item-sns-wrapper .image-item-shs-btn-twitter span {
  background-image: url("/static/images/icon-btn-tweet.png");
  background-position: 0 11px;
  background-repeat: no-repeat;
}
.image-item-section .image-item-sns-wrapper .image-item-shs-btn-facebook span {
  background-image: url("/static/images/icon-btn-facebook.png");
  background-position: 0 9px;
  background-repeat: no-repeat;
}

.search-result-wrapper .post-list-title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  appearance: button;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 200px;
  height: 30px;
  padding-left: 8px;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 28px;
  background-image: url("/static/images/select-bg.png");
  background-position: right top;
  background-repeat: no-repeat;
  cursor: pointer;
}

.loading {
  position: fixed;
  bottom: 50%;
  top: 50%;
  right: 50%;
  left: 50%;
  margin: -42px 0 0 -40px;
  width: 80px;
  height: 85px;
  background-image: url("/static/images/loading-bg.png");
  background-position: left top;
  background-repeat: no-repeat;
  z-index: 1050;
}
.loading img {
  display: block;
  margin: 28px 0 0 31px;
}

.notification-list-heart .notification-list-time {
  background-image: url("/static/images/icon-notification-heart.png");
  background-position: 0 2px;
  background-repeat: no-repeat;
}

.notification-list-award .notification-list-time {
  background-image: url("/static/images/icon-notification-award.png");
  background-position: 0 1px;
  background-repeat: no-repeat;
}

.like-btn,
.liked-btn {
  display: inline-block;
  vertical-align: top;
}
.like-btn:hover,
.liked-btn:hover {
  opacity: 0.8;
}

.like-pop {
  display: inline-block;
  position: relative;
  height: 36px;
  margin-left: 4px;
  padding: 8px 8px 0 8px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  font-size: 1.2rem;
}
.like-pop:after {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  content: ' ';
  background-image: url("/static/images/like-pop-arrow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: -11px;
  margin-left: -15px;
}

.tagline-wrapper {
  text-align: center;
}

.user-data-article,
.user-data-view,
.user-data-like {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn-article-link-iphone {
  background-image: url("/static/images/link-btn-iphone.png");
  background-repeat: no-repeat;
}

.btn-article-link-android {
  background-image: url("/static/images/link-btn-android.png");
  background-repeat: no-repeat;
}

.user-created-list .col-like span {
  position: relative;
}
.user-created-list .col-like span:before {
  content: " ";
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 20px;
  background-image: url("/static/images/icon-list-like.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*.curator-catch-content {

   .curator-data-article {
    @include backgroundImage(/static/images/unquote("nav-edit.png"));
    background-position: 6px -4px;
    background-repeat: no-repeat;
    background-size: 11px 65px;
  }
  .curator-data-view {
    @include backgroundImage(/static/images/unquote("icon-view.png"));
    background-position: 4px 7px;
    background-repeat: no-repeat;
    color: $pc-text-color-pre;
    .pageview-text {
      font-weight: normal;
    }
  }
  .curator-data-like {
    @include backgroundImage(/static/images/unquote("icon-like.png"));
    background-position: 6px 7px;
    background-repeat: no-repeat;
  }

}*/
.article-area .article-quote {
  margin: 0;
  padding: 1.3em 2em 1.3em 40px;
  background-color: #f5f5f5;
  background-image: url("/static/images/quote-bg.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
.article-area .article-quote p {
  color: #333;
  margin: 0;
}
.article-area .article-text {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 28px;
}
.article-area .article-text .article-content {
  line-height: 30px;
}
.article-area .article-image img {
  max-width: 680px;
  max-height: 680px;
}

.edit-post-add-tab li a {
  background-image: url("/static/images/edit-menu.png");
  background-repeat: no-repeat;
}
.edit-post-add-tab li a:hover {
  background-color: #ddd;
}
.edit-post-add-tab .add-text a {
  background-position: 0 0;
}
.edit-post-add-tab .add-image a {
  background-position: -71px 0;
}
.edit-post-add-tab .add-quote a {
  background-position: -142px 0;
}
.edit-post-add-tab .add-headline a {
  background-position: -213px 0;
}
.edit-post-add-tab .add-link a {
  background-position: -284px 0;
}
.edit-post-add-tab .add-tweet a {
  background-position: -355px 0;
}
.edit-post-add-tab .add-product a {
  background-position: -426px 0;
}
.edit-post-add-tab .add-movie a {
  background-position: -568px 0;
}
.edit-post-add-tab .add-html a {
  background-position: -781px 0;
}
.edit-post-add-tab .add-playbuzz a {
  background-position: -639px 0;
}

#photo_find_from_library,
#product_find_from_keyword,
#tweet_find_from_api {
  padding-left: 15px;
  background-image: url("/static/images/icon-tw-search.png");
  background-position: left 2px;
  background-repeat: no-repeat;
}

#product_find_from_url {
  color: #c6c6c6;
}

.edit-item-top,
.edit-item-up,
.edit-item-down,
.edit-item-bottom,
.edit-item-edit,
.edit-item-delete,
.edit-item-move span {
  background-position: 8px 6px;
  background-repeat: no-repeat;
}

.edit-item-top {
  background-image: url("/static/images/edit-item-top.png");
}

.edit-item-up {
  background-image: url("/static/images/edit-item-up.png");
}

.edit-item-down {
  background-image: url("/static/images/edit-item-down.png");
}

.edit-item-bottom {
  background-image: url("/static/images/edit-item-bottom.png");
}

.edit-item-edit {
  background-image: url("/static/images/edit-item-edit.png");
}

.edit-item-delete {
  background-image: url("/static/images/edit-item-delete.png");
}

.edit-item-move span {
  background-image: url("/static/images/edit-item-move.png");
}

.add-here a span {
  display: block;
  height: 20px;
  background-image: url("/static/images/add-here.png");
  background-position: left top;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.add-here-edit .close-menu {
  position: absolute;
  right: 10px;
  top: 9px;
  width: 16px;
  height: 16px;
  margin: 0;
  background-image: url("/static/images/btn-delete.png");
  background-position: left top;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.fancybox-close {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer !important;
  background-image: url("/static/images/icon-popup-close.png");
  background-position: left top !important;
  background-repeat: no-repeat !important;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.fancybox-close:hover {
  opacity: 0.6;
}

#fancybox-loading, .fancybox-prev span, .fancybox-next span {
  background-image: url("/static/images/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background-image: url("/static/images/fancybox_loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  /* helps IE */
  background-image: url("/static/images/blank.gif");
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background-image: url("/static/images/fancybox_overlay.png");
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-prev span, .fancybox-next span {
    background-image: url("/static/images/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("/static/images/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
table.tablesorter thead tr .header {
  background-image: url("/static/images/bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
  background-image: url("/static/images/asc.gif");
}

table.tablesorter thead tr .headerSortDown {
  background-image: url("/static/images/desc.gif");
}
