




/*
     FILE ARCHIVED ON 4:13:17 Feb 15, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:49:09 Aug 22, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.mnlmaincolour {BACKGROUND-COLOR: #cccc99}

sub {
	color:#AE0000;
	font-size:11px;
	margin-left:5px;
}

.tbody{
	FONT-SIZE: 9pt; 
	COLOR: #000000; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tbody a:link{
	COLOR: navy; TEXT-DECORATION: none
}
.tbody a
	{COLOR: navy; TEXT-DECORATION: none
}
.tbody a:active{
	COLOR: navy; TEXT-DECORATION: none
}
.tbody a:hover{
	COLOR: navy; TEXT-DECORATION: none
}


.tbodybig{
	FONT-SIZE: 11pt; 
	COLOR: #000000; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tbodybig a{
	COLOR: navy; TEXT-DECORATION: none
}
.tbodybig a:link{
	COLOR: navy; TEXT-DECORATION: none
}
.tbodybig a:active{
	COLOR: navy; TEXT-DECORATION: none
}
.tbodybig a:hover{
	COLOR: navy; TEXT-DECORATION: none
}


.tbodysmall{
	FONT-SIZE: 8pt; 
	COLOR: #000000; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tbodysmall a{
	COLOR: navy; TEXT-DECORATION: none
}
.tbodysmall a:link{
	COLOR: navy; TEXT-DECORATION: none
}
.tbodysmall a:active{
	COLOR: navy; TEXT-DECORATION: none
}
.tbodysmall a:hover{
	COLOR: navy; TEXT-DECORATION: none
}


.mnllinklist {
	FONT-SIZE: 10pt; 
	COLOR: #6384ad; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mnllinklist a {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnllinklist a:link {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnllinklist a:active {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnllinklist a:hover div,  .mnllinklist .down:hover{
	COLOR: #3300CC; TEXT-DECORATION: underline
}

.mnllinklist b{
	font-weight:normal;
}

.mnllinklist span {
	COLOR: #6384AD;
}

.mnlcategorylist {
	FONT-SIZE: 10pt; 
	COLOR: #3300CC; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mnlcategorylist a {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlcategorylist a:link {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlcategorylist a:active {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlcategorylist a:hover {
	COLOR: #3300CC; TEXT-DECORATION: underline
}

.mnlcolumnheading {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #CCFFFF;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.mnlcategorymenu {
	FONT-SIZE: 10pt; 
	COLOR: #3300CC; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mnlcategorymenu a {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlcategorymenu a:link {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlcategorymenu a:active {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlcategorymenu a:hover {
	COLOR: #3300CC; TEXT-DECORATION: underline
}


.mnlcategorylistsmall {
	FONT-SIZE: 9pt; 
	COLOR: #6384ad; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mnlcategorylistsmall a {
	COLOR: #6384ad; TEXT-DECORATION: none
}
.mnlcategorylistsmall a:link {
	COLOR: #6384ad; TEXT-DECORATION: none
}
.mnlcategorylistsmall a:active {
	COLOR: #6384ad; TEXT-DECORATION: none
}
.mnlcategorylistsmall a:hover {
	COLOR: #6384ad; TEXT-DECORATION: underline
}


.mnlmainmenu {
	FONT-SIZE: 10pt; 
	COLOR: #3300CC; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, sans-serif, Helvetica, Arial
}
.mnlmainmenu a {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlmainmenu a:link {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlmainmenu a:active {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlmainmenu a:hover {
	COLOR: #3300CC; TEXT-DECORATION: underline
}


.mnlbreadcrumbs {
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-FAMILY: Verdana, sans-serif, Helvetica, Arial;
	BACKGROUND-COLOR: #FF6600;
}
.mnlbreadcrumbs a {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlbreadcrumbs a:link {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlbreadcrumbs a:active {
	COLOR: #3300CC; TEXT-DECORATION: none
}
.mnlbreadcrumbs a:hover {
	COLOR: #3300CC; TEXT-DECORATION: underline
}


.mnlhighlightheading {
	FONT-SIZE: 10pt; 
	COLOR: #000000;
	BACKGROUND-COLOR: #FF6600;
	TEXT-DECORATION: none; 
	LINE-HEIGHT: normal; 
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.mnlsearchcategory { 
	FONT-SIZE: 8pt;  
	COLOR: #006633; 
	FONT-FAMILY: arial,helvetica,sans-serif;
}
.mnlsearchcategory a { 
	COLOR: #333399; TEXT-DECORATION: underline; 
}
.mnlsearchcategory a:link  { 
	TEXT-DECORATION: underline;
}
.mnlsearchcategory a:visited { 
	TEXT-DECORATION: underline;
	}
.mnlsearchcategory a:active { 
TEXT-DECORATION: underline;
}
.mnlsearchcategory a:hover { 
COLOR: #006633; 
}


.formelement {
	BORDER-RIGHT: #666666 1px solid; 
	BORDER-TOP: #666666 1px solid; 
	FONT-SIZE: 8pt; 
	BACKGROUND: #ffffff; 
	BORDER-LEFT: #666666 1px solid; 
	COLOR: #333333; 
	BORDER-BOTTOM: #666666 1px solid; 
	FONT-FAMILY: Verdana, sans-serif, Helvetica, Arial
}

/* header login area  */
/* clearing floats */
.clearfix:after {
  content: "&nbsp;";
  font-size: 0;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.clear {
  clear: both; }

/*-----------------*/
.loged-in-holder {
  float: right; }

.login-navi {
  float: right; }

ul.navi-loged-out {
  display: block;
  margin: 0px;
  padding: 0px; }
  ul.navi-loged-out li {
    list-style-type: none;
    display: inline-block; }
    ul.navi-loged-out li a {
      color: #000;
      text-decoration: none;
      display: inline-block;
      padding: 0 5px; }
      ul.navi-loged-out li a:hover {
        text-decoration: underline; }

.storyDetail {
  background-color: #ffe461;
  margin: 60px auto;
  max-width: 733px;
  padding: 20px 19px 20px 48px;
  position: relative;
  text-align: left;
  z-index: 503; }

.storyDetail .mfp-close {
  width: 16px;
  height: 17px;
  background: url(../image/close-story.png) 0px 0px no-repeat;
  top: 20px;
  right: 20px;
  z-index: 9999; }

.login-form-holder {
  max-width: 500px;
  padding: 10px 0px;
  margin: 0 auto; }
  .login-form-holder .form-row {
    padding: 0 0 15px;
    font-family: Arial, sans-serif; }
    .login-form-holder .form-row span {
      display: block;
      padding: 0 0 4px; }

.myInput {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #999;
  border-radius: 3px; }

.mySubmit {
  background-color: #123456;
  border: 1px solid white;
  color: white;
  font-size: 19px;
  font-weight: unset;
  width: 38%;
  height: 28px;
  cursor: pointer; }

ul.submenu {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 200px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #333;
  display: none;
  background: #fff; }
  ul.submenu li {
    display: block;
    padding: 10px 0px; }

ul.navi-loged-in {
  margin: 0px;
  padding: 0px;
  display: block; }
  ul.navi-loged-in li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    /*        &:hover{
                ul.submenu{
                    display:block;
                }
            }*/ }
    ul.navi-loged-in li.notifications-list {
      padding-right: 7px; }
    ul.navi-loged-in li .notifications {
      position: absolute;
      top: -7px;
      left: 14px;
      background: #f00;
      color: #fff;
      border-radius: 5px;
      padding: 2px 3px;
      text-align: center;
      font-weight: bold;
      border: 2px solid #333; }
    ul.navi-loged-in li a {
      display: inline-block;
      padding: 0 3px 0; }
    ul.navi-loged-in li img {
      width: 27px;
      height: 27px; }

ul.notifacationos-here {
  left: -180px; }
  ul.notifacationos-here li {
    display: block;
    border-bottom: 1px solid #333;
    padding: 10px 0px; }
    ul.notifacationos-here li:last-child {
      border-bottom: 0px solid #333; }
    ul.notifacationos-here li span.notice-image {
      float: left;
      display: block;
      width: 30px; }
      ul.notifacationos-here li span.notice-image img {
        width: 30px;
        height: 30px;
        border-radius: 50%; }
    ul.notifacationos-here li span.notice {
      float: left;
      display: block;
      width: 155px;
      padding-left: 7px; }

ul.submenu li {
  display: block;
  padding: 10px 0px; }
  ul.submenu li a {
    display: block;
	text-decoration:none;
	background:none;
	 }

ul.userinfo {
  left: -180px;
  background:#ff6600;
  padding:0px; }
  ul.userinfo li{ 
  	padding:5px;
  }
  ul.userinfo li a{  
  	text-decoration:none;
	padding:5px 10px;
	display:block;
	color:#fff;
  }
    ul.userinfo li a:hover {  
		background:#94208b;
		color:#fff;
	}
