#age_button_area
		{
			padding-top:10px;
			position: relative;
			width: 100%;
			bottom: 5px;
			padding-top:5px;
		}
		
		#ageEnterButton
		{
			border-color:;
			background:;
			color: ;
		}

		#ageLeaveButton
		{
			border-color:;
			background:;
			color: ;
		}
		
		#popup_content
		{
			overflow-y:hidden;			overflow-x: auto;
			height: 100%;
			width:100%;
		}
		
		#itro_popup
		{
			position: fixed;
			background-image: 			background-repeat: no-repeat;
			background-position: center center;
			margin: 0 auto;
			left:30px;
			right:30px;
			z-index: 2147483647 !important;
			width: 700px;
			height: ;
			background-color: #000000;
			padding-bottom: 11px;
			box-shadow: 0 0 100px 0 rgba(0,0,0,.8);   			}

		#close_cross
		{
			cursor:pointer; 
			width:20px; 
			position:absolute; 
			top:0px; 
			right:0px;
			padding: 2px;
			background: rgba(0,0,0,0.5);
			border-radius: 5px;
		}

		#popup_countdown 
		{
			color: #fff;
			width: 100%;
			padding-top: 1px ;
			padding-bottom:1px ;
			background-color: #000000;
			height:  ;
			overflow: hidden;
			position:absolute;
			bottom:0px;
			left:0px;
			border-bottom-left:8px;
			border-bottom-right:8px;
		}

		#itro_opaco{
			position:fixed;
			background-color:  rgba(0,0,0,0.3);
			font-size: 10px;
			font-family: Verdana;
			top: 100px;    
			width: 100%;
			height: 100%;
			z-index: 2147483646 !important;
			left: 0px ;
			right: 0px;
			top: 0px;
			bottom: 0px;
			opacity: 0.95 ;
			filter:alpha(opacity = 95); /* For IE8 and earlier */
		}
			@media screen and (max-width: 1024px)
			{
				#itro_popup{display: none !important;}
				#itro_opaco{display: none !important;}
			}