body a { color: #3d87ce; }
	
	#header-outer:not([data-lhe="animated_underline"]) header#top nav > ul > li > a:hover, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, header#top nav > ul > li.button_bordered > a:hover, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-item > a,
	header#top nav .sf-menu li.current_page_item > a .sf-sub-indicator i, header#top nav .sf-menu li.current_page_ancestor > a .sf-sub-indicator i,
	#header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current_page_ancestor > a, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-ancestor > a, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current_page_item > a,
	body header#top nav .sf-menu li.current_page_item > a .sf-sub-indicator [class^="icon-"], header#top nav .sf-menu li.current_page_ancestor > a .sf-sub-indicator [class^="icon-"],
    .sf-menu li ul li.sfHover > a .sf-sub-indicator [class^="icon-"], #header-outer:not(.transparent) #social-in-menu a i:after,
	ul.sf-menu > li > a:hover > .sf-sub-indicator i, ul.sf-menu > li > a:active > .sf-sub-indicator i, ul.sf-menu > li.sfHover > a > .sf-sub-indicator i,
	.sf-menu ul li.current_page_item > a , .sf-menu ul li.current-menu-ancestor > a, .sf-menu ul li.current_page_ancestor > a, .sf-menu ul a:focus ,
	.sf-menu ul a:hover, .sf-menu ul a:active, .sf-menu ul li:hover > a, .sf-menu ul li.sfHover > a, .sf-menu li ul li a:hover, .sf-menu li ul li.sfHover > a,
	#footer-outer a:hover, .recent-posts .post-header a:hover, article.post .post-header a:hover, article.result a:hover,  article.post .post-header h2 a, .single article.post .post-meta a:hover,
	.comment-list .comment-meta a:hover, label span, .wpcf7-form p span, .icon-3x[class^="icon-"], .icon-3x[class*=" icon-"], .icon-tiny[class^="icon-"], body .circle-border, article.result .title a, .home .blog-recent .col .post-header a:hover,
	.home .blog-recent .col .post-header h3 a, #single-below-header a:hover, header#top #logo:hover, .sf-menu > li.current_page_ancestor > a > .sf-sub-indicator [class^="icon-"], .sf-menu > li.current-menu-ancestor > a > .sf-sub-indicator [class^="icon-"],
	body #mobile-menu li.open > a [class^="icon-"], .pricing-column h3, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color h4, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color .interval,
	.comment-author a:hover, .project-attrs li i, #footer-outer #copyright li a i:hover, .col:hover > [class^="icon-"].icon-3x.accent-color.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,
	#header-outer .widget_shopping_cart .cart_list a, .woocommerce .star-rating, .woocommerce-page table.cart a.remove, .woocommerce form .form-row .required, .woocommerce-page form .form-row .required, body #header-secondary-outer #social a:hover i,
	.woocommerce ul.products li.product .price, body .twitter-share:hover i, .twitter-share.hovered i, body .linkedin-share:hover i, .linkedin-share.hovered i, body .google-plus-share:hover i, .google-plus-share.hovered i, .pinterest-share:hover i, .pinterest-share.hovered i, .facebook-share:hover i, .facebook-share.hovered i, .woocommerce-page ul.products li.product .price, .nectar-milestone .number.accent-color, header#top nav > ul > li.megamenu > ul > li > a:hover, header#top nav > ul > li.megamenu > ul > li.sfHover > a, body #portfolio-nav a:hover i,
	span.accent-color, .nectar-love:hover i, .nectar-love.loved i, .portfolio-items .nectar-love:hover i, .portfolio-items .nectar-love.loved i, body .hovered .nectar-love i, header#top nav ul #search-btn a:hover span, header#top nav ul .slide-out-widget-area-toggle a:hover span, #search-outer #search #close a span:hover, 
	.carousel-wrap[data-full-width="true"] .carousel-heading a:hover i, #search-outer .ui-widget-content li:hover a .title,  #search-outer .ui-widget-content .ui-state-hover .title,  #search-outer .ui-widget-content .ui-state-focus .title, .portfolio-filters-inline .container ul li a.active,
	body [class^="icon-"].icon-default-style, .svg-icon-holder[data-color="accent-color"], .team-member a.accent-color:hover, .ascend .comment-list .reply a, .wpcf7-form .wpcf7-not-valid-tip, .text_on_hover.product .add_to_cart_button, .blog-recent[data-style="minimal"] .col > span, .blog-recent[data-style="title_only"] .col:hover .post-header .title, .woocommerce-checkout-review-order-table .product-info .amount,
	.tabbed[data-style="minimal"] > ul li a.active-tab, .masonry.classic_enhanced  article.post .post-meta a:hover i,  .masonry.classic_enhanced article.post .post-meta .icon-salient-heart-2.loved, .single #single-meta ul li:not(.meta-share-count):hover i, .single #single-meta ul li:not(.meta-share-count):hover a, .single #single-meta ul li:not(.meta-share-count):hover span, .single #single-meta ul li.meta-share-count .nectar-social a:hover i, #project-meta  #single-meta ul li > a, #project-meta ul li.meta-share-count .nectar-social a:hover i,  #project-meta ul li:not(.meta-share-count):hover i, #project-meta ul li:not(.meta-share-count):hover span,
	div[data-style="minimal"] .toggle:hover h3 a, div[data-style="minimal"] .toggle.open h3 a, .nectar-icon-list[data-icon-style="border"][data-icon-color="accent-color"] .list-icon-holder[data-icon_type="numerical"] span, .nectar-icon-list[data-icon-color="accent-color"][data-icon-style="border"] .content h4
	{	
		color:#3d87ce!important;
	}
	
	.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.accent-color.alt-style.hovered, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,
	.ascend #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap:not(.has_products) .icon-salient-cart {
		color:#3d87ce!important;
	}
	
	
	.orbit-wrapper div.slider-nav span.right, .orbit-wrapper div.slider-nav span.left, .flex-direction-nav a, .jp-play-bar,
	.jp-volume-bar-value, .jcarousel-prev:hover, .jcarousel-next:hover, .portfolio-items .col[data-default-color="true"] .work-item:not(.style-3) .work-info-bg, .portfolio-items .col[data-default-color="true"] .bottom-meta, 
	.portfolio-filters a, .portfolio-filters #sort-portfolio, .project-attrs li span, .progress li span, .nectar-progress-bar span,
	#footer-outer #footer-widgets .col .tagcloud a:hover, #sidebar .widget .tagcloud a:hover, article.post .more-link span:hover, #fp-nav.tooltip ul li .fp-tooltip .tooltip-inner,
	article.post.quote .post-content .quote-inner, article.post.link .post-content .link-inner, #pagination .next a:hover, #pagination .prev a:hover, 
	.comment-list .reply a:hover, input[type=submit]:hover, input[type="button"]:hover, #footer-outer #copyright li a.vimeo:hover, #footer-outer #copyright li a.behance:hover,
	.toggle.open h3 a, .tabbed > ul li a.active-tab, [class*=" icon-"], .icon-normal, .bar_graph li span, .nectar-button[data-color-override="false"].regular-button, .nectar-button.tilt.accent-color, body .swiper-slide .button.transparent_2 a.primary-color:hover, #footer-outer #footer-widgets .col input[type="submit"],
	.carousel-prev:hover, .carousel-next:hover, body .products-carousel .carousel-next:hover, body .products-carousel .carousel-prev:hover, .blog-recent .more-link span:hover, .post-tags a:hover, .pricing-column.highlight h3, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight h3 .highlight-reason, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color:before, #to-top:hover, #to-top.dark:hover, body[data-button-style="rounded"] #to-top:after, #pagination a.page-numbers:hover,
	#pagination span.page-numbers.current, .single-portfolio .facebook-share a:hover, .single-portfolio .twitter-share a:hover, .single-portfolio .pinterest-share a:hover,  
	.single-post .facebook-share a:hover, .single-post .twitter-share a:hover, .single-post .pinterest-share a:hover, .mejs-controls .mejs-time-rail .mejs-time-current,
	.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
	article.post.quote .post-content .quote-inner, article.post.link .post-content .link-inner, article.format-status .post-content .status-inner, article.post.format-aside .aside-inner, 
	body #header-secondary-outer #social li a.behance:hover, body #header-secondary-outer #social li a.vimeo:hover, #sidebar .widget:hover [class^="icon-"].icon-3x, .woocommerce-page div[data-project-style="text_on_hover"] .single_add_to_cart_button,
	article.post.quote .content-inner .quote-inner .whole-link, .masonry.classic_enhanced article.post.quote.wide_tall .post-content a:hover .quote-inner, .masonry.classic_enhanced article.post.link.wide_tall .post-content a:hover .link-inner, .iosSlider .prev_slide:hover, .iosSlider .next_slide:hover, body [class^="icon-"].icon-3x.alt-style.accent-color, body [class*=" icon-"].icon-3x.alt-style.accent-color, #slide-out-widget-area, #slide-out-widget-area-bg.fullscreen, #slide-out-widget-area-bg.fullscreen-alt .bg-inner,
	#header-outer .widget_shopping_cart a.button, body[data-button-style="rounded"] .wpb_wrapper .twitter-share:before, body[data-button-style="rounded"] .wpb_wrapper .twitter-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .nectar-social:hover > *:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share.hovered:before,  #header-outer a.cart-contents .cart-wrap span, .swiper-slide .button.solid_color a, .swiper-slide .button.solid_color_2 a, .portfolio-filters, button[type=submit]:hover, #buddypress button:hover, #buddypress a.button:hover, #buddypress ul.button-nav li.current a, 
	header#top nav ul .slide-out-widget-area-toggle a:hover i.lines, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before, header#top nav ul .slide-out-widget-area-toggle[data-icon-animation="simple-transform"] a:hover i.lines-button:after,  #buddypress a.button:focus, .text_on_hover.product a.added_to_cart, .woocommerce div.product .woocommerce-tabs .full-width-content ul.tabs li a:after, 
    .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.minus, .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.plus, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce .span_4 input[type="submit"].checkout-button,
    .portfolio-filters-inline[data-color-scheme="accent-color"], body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:after, .select2-container .select2-choice:hover, .select2-dropdown-open .select2-choice,
    header#top nav > ul > li.button_solid_color > a:before, #header-outer.transparent header#top nav > ul > li.button_solid_color > a:before, .tabbed[data-style="minimal"] > ul li a:after, .twentytwenty-handle, .twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after, .masonry.classic_enhanced .posts-container article .meta-category a:hover, .masonry.classic_enhanced .posts-container article .video-play-button, .bottom_controls #portfolio-nav .controls li a i:after, .bottom_controls #portfolio-nav ul:first-child li#all-items a:hover i, .nectar_video_lightbox.nectar-button[data-color="default-accent-color"],  .nectar_video_lightbox.nectar-button[data-color="transparent-accent-color"]:hover,
    .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote.is-selected p, .nectar-recent-posts-slider .container .strong span:before, #page-header-bg[data-post-hs="default_minimal"] .inner-wrap > a:hover,
    .single .heading-title[data-header-style="default_minimal"] .meta-category a:hover, body.single-post .sharing-default-minimal .nectar-love.loved, .nectar-fancy-box:after, .divider-small-border[data-color="accent-color"], .divider-border[data-color="accent-color"], div[data-style="minimal"] .toggle.open i:after, div[data-style="minimal"] .toggle:hover i:after, div[data-style="minimal"] .toggle.open i:before, div[data-style="minimal"] .toggle:hover i:before,
    .nectar-animated-title[data-color="accent-color"] .nectar-animated-title-inner:after, #fp-nav:not(.light-controls).tooltip_alt ul li a span:after, #fp-nav.tooltip_alt ul li a span:after, .nectar-video-box[data-color="default-accent-color"] a.nectar_video_lightbox, .span_12.dark .owl-theme .owl-dots .owl-dot.active span, .span_12.dark .owl-theme .owl-dots .owl-dot:hover span, .nectar_image_with_hotspots[data-stlye="color_pulse"][data-color="accent-color"] .nectar_hotspot, .nectar_image_with_hotspots .nectar_hotspot_wrap .nttip .tipclose span:before, .nectar_image_with_hotspots .nectar_hotspot_wrap .nttip .tipclose span:after 
	{
		background-color:#3d87ce!important;
	}
	
	.col:hover > [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered, .col:hover > [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered, body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,
	.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered, .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered {
		background-color:#3d87ce!important;
	}
	

	.bottom_controls #portfolio-nav ul:first-child  li#all-items a:hover i { box-shadow: -.6em 0 #3d87ce, -.6em .6em #3d87ce, .6em 0 #3d87ce, .6em -.6em #3d87ce, 0 -.6em #3d87ce, -.6em -.6em #3d87ce, 0 .6em #3d87ce, .6em .6em #3d87ce;  }
	
	.tabbed > ul li a.active-tab, body[data-form-style="minimal"] label:after, body .recent_projects_widget a:hover img, .recent_projects_widget a:hover img, #sidebar #flickr a:hover img, body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,
	#footer-outer #flickr a:hover img, body[data-button-style="rounded"] .wpb_wrapper .twitter-share:before, body[data-button-style="rounded"] .wpb_wrapper .twitter-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .nectar-social:hover > *:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share.hovered:before,  #featured article .post-title a:hover, #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a:after, body #featured article .post-title a:hover, div.wpcf7-validation-errors, body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:before, body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:after, body[data-fancy-form-rcs="1"] input[type="checkbox"]:checked + label > span, .select2-container .select2-choice:hover, .select2-dropdown-open .select2-choice,
	#header-outer:not(.transparent) header#top nav > ul > li.button_bordered > a:hover:before, .single #single-meta ul li:not(.meta-share-count):hover a, .single #project-meta ul li:not(.meta-share-count):hover a, div[data-style="minimal"] .toggle.default.open i, div[data-style="minimal"] .toggle.default:hover i, div[data-style="minimal"] .toggle.accent-color.open i, div[data-style="minimal"] .toggle.accent-color:hover i,
	.nectar_image_with_hotspots .nectar_hotspot_wrap .nttip .tipclose {
		border-color:#3d87ce!important;
	}

	#fp-nav:not(.light-controls).tooltip_alt ul li a.active span, #fp-nav.tooltip_alt ul li a.active span { box-shadow: inset 0 0 0 2px #3d87ce; -webkit-box-shadow: inset 0 0 0 2px #3d87ce; }

	.default-loading-icon:before { border-top-color:#3d87ce!important; }

	#header-outer a.cart-contents span:before, #fp-nav.tooltip ul li .fp-tooltip .tooltip-inner:after { border-color: transparent #3d87ce!important; }
	
	body .col:not(#post-area):not(.span_12):not(#sidebar):hover .hovered .circle-border, body #sidebar .widget:hover .circle-border, body .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote .bottom-arrow:after, body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote .bottom-arrow:after, .portfolio-items[data-ps="6"] .bg-overlay, .portfolio-items[data-ps="6"].no-masonry .bg-overlay { border-color:#3d87ce; }

	.gallery a:hover img { border-color:#3d87ce!important; }@media only screen 
		and (min-width : 1px) and (max-width : 1000px) {
			
			body #featured article .post-title > a { background-color:#3d87ce; }
			
			body #featured article .post-title > a { border-color:#3d87ce; }
		}
		
		.nectar-button.regular-button.extra-color-1, .nectar-button.tilt.extra-color-1 { background-color: #30b545!important; }
		
		.icon-3x[class^="icon-"].extra-color-1:not(.alt-style), .icon-tiny[class^="icon-"].extra-color-1, .icon-3x[class*=" icon-"].extra-color-1:not(.alt-style) , body .icon-3x[class*=" icon-"].extra-color-1:not(.alt-style)  .circle-border, .woocommerce-page table.cart a.remove, #header-outer .widget_shopping_cart .cart_list li a.remove,  #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, .nectar-milestone .number.extra-color-1, span.extra-color-1,
		.team-member ul.social.extra-color-1 li a, .stock.out-of-stock, body [class^="icon-"].icon-default-style.extra-color-1, body [class^="icon-"].icon-default-style[data-color="extra-color-1"], .team-member a.extra-color-1:hover, 
		.pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-1 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1 .interval,
		.svg-icon-holder[data-color="extra-color-1"], div[data-style="minimal"] .toggle.extra-color-1:hover h3 a, div[data-style="minimal"] .toggle.extra-color-1.open h3 a, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-1"] .list-icon-holder[data-icon_type="numerical"] span, .nectar-icon-list[data-icon-color="extra-color-1"][data-icon-style="border"] .content h4 {
			color: #30b545!important;
		}
		
		.col:hover > [class^="icon-"].icon-3x.extra-color-1:not(.alt-style), .col:hover > [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-1:hover,
		body .col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, body .col:not(#post-area):not(#sidebar):not(.span_12):hover a [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style),
		.portfolio-filters-inline[data-color-scheme="extra-color-1"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1:before, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-1 h3 .highlight-reason, .nectar-button.nectar_video_lightbox[data-color="default-extra-color-1"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-1"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-1"]:after, .divider-small-border[data-color="extra-color-1"], .divider-border[data-color="extra-color-1"], div[data-style="minimal"] .toggle.extra-color-1.open i:after, div[data-style="minimal"] .toggle.extra-color-1:hover i:after, div[data-style="minimal"] .toggle.open.extra-color-1 i:before, div[data-style="minimal"] .toggle.extra-color-1:hover i:before,
		.nectar-animated-title[data-color="extra-color-1"] .nectar-animated-title-inner:after, .nectar-video-box[data-color="extra-color-1"] a.nectar_video_lightbox, .nectar_image_with_hotspots[data-stlye="color_pulse"][data-color="extra-color-1"] .nectar_hotspot
		{
			background-color: #30b545!important;
		}
		
		body [class^="icon-"].icon-3x.alt-style.extra-color-1, body [class*=" icon-"].icon-3x.alt-style.extra-color-1, [class*=" icon-"].extra-color-1.icon-normal, .extra-color-1.icon-normal, .bar_graph li span.extra-color-1, .nectar-progress-bar span.extra-color-1, #header-outer .widget_shopping_cart a.button, .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale, .woocommerce span.onsale, .woocommerce-page span.onsale, .woocommerce-page table.cart a.remove:hover, .swiper-slide .button.solid_color a.extra-color-1, .swiper-slide .button.solid_color_2 a.extra-color-1, .toggle.open.extra-color-1 h3 a {
			background-color: #30b545!important;
		}
		
		.col:hover > [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered, .no-highlight.extra-color-1 h3,
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered {
			color: #30b545!important;
		}
		
		body .col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-1.hovered .circle-border, .woocommerce-page table.cart a.remove, #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, body #sidebar .widget:hover .extra-color-1 .circle-border, .woocommerce-page table.cart a.remove,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote .bottom-arrow:after, div[data-style="minimal"] .toggle.open.extra-color-1 i, div[data-style="minimal"] .toggle.extra-color-1:hover i { border-color:#30b545; }
		
		.pricing-column.highlight.extra-color-1 h3 { background-color:#30b545!important; }
		
		
		
		.nectar-button.regular-button.extra-color-2, .nectar-button.tilt.extra-color-2 { background-color: #ffffff!important; }
			
		.icon-3x[class^="icon-"].extra-color-2:not(.alt-style), .icon-3x[class*=" icon-"].extra-color-2:not(.alt-style), .icon-tiny[class^="icon-"].extra-color-2, body .icon-3x[class*=" icon-"].extra-color-2  .circle-border, .nectar-milestone .number.extra-color-2, span.extra-color-2, .team-member ul.social.extra-color-2 li a, body [class^="icon-"].icon-default-style.extra-color-2, body [class^="icon-"].icon-default-style[data-color="extra-color-2"], .team-member a.extra-color-2:hover,
		.pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-2 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2 .interval,
		.svg-icon-holder[data-color="extra-color-2"], div[data-style="minimal"] .toggle.extra-color-2:hover h3 a, div[data-style="minimal"] .toggle.extra-color-2.open h3 a, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-2"] .list-icon-holder[data-icon_type="numerical"] span, .nectar-icon-list[data-icon-color="extra-color-2"][data-icon-style="border"] .content h4 {
			color: #ffffff!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-2:hover, 
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style), .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-2 h3 .highlight-reason,  .nectar-button.nectar_video_lightbox[data-color="default-extra-color-2"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-2"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-2"]:after, .divider-small-border[data-color="extra-color-2"], .divider-border[data-color="extra-color-2"], div[data-style="minimal"] .toggle.extra-color-2.open i:after, div[data-style="minimal"] .toggle.extra-color-2:hover i:after, div[data-style="minimal"] .toggle.open.extra-color-2 i:before, div[data-style="minimal"] .toggle.extra-color-2:hover i:before,
		.nectar-animated-title[data-color="extra-color-2"] .nectar-animated-title-inner:after, .nectar-video-box[data-color="extra-color-2"] a.nectar_video_lightbox, .nectar_image_with_hotspots[data-stlye="color_pulse"][data-color="extra-color-2"] .nectar_hotspot
		{
			background-color: #ffffff!important;
		}
	
	
		body [class^="icon-"].icon-3x.alt-style.extra-color-2, body [class*=" icon-"].icon-3x.alt-style.extra-color-2, [class*=" icon-"].extra-color-2.icon-normal, .extra-color-2.icon-normal, .bar_graph li span.extra-color-2, .nectar-progress-bar span.extra-color-2, .woocommerce .product-wrap .add_to_cart_button.added, .woocommerce-message, .woocommerce-error, .woocommerce-info, 
		.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range, .swiper-slide .button.solid_color a.extra-color-2, .swiper-slide .button.solid_color_2 a.extra-color-2, .toggle.open.extra-color-2 h3 a,
		.portfolio-filters-inline[data-color-scheme="extra-color-2"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2:before {
			background-color: #ffffff!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered, .no-highlight.extra-color-2 h3, 
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered {
			color: #ffffff!important;
		}
		
		body .col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-2.hovered .circle-border, body #sidebar .widget:hover .extra-color-2 .circle-border,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote .bottom-arrow:after, div[data-style="minimal"] .toggle.open.extra-color-2 i, div[data-style="minimal"] .toggle.extra-color-2:hover i { border-color:#ffffff; }
		
		.pricing-column.highlight.extra-color-2 h3 { background-color:#ffffff!important; }
		
		
		.nectar-button.regular-button.extra-color-3, .nectar-button.tilt.extra-color-3 { background-color: #333333!important; }
			
	    .icon-3x[class^="icon-"].extra-color-3:not(.alt-style) , .icon-3x[class*=" icon-"].extra-color-3:not(.alt-style) , .icon-tiny[class^="icon-"].extra-color-3, body .icon-3x[class*=" icon-"].extra-color-3  .circle-border, .nectar-milestone .number.extra-color-3, span.extra-color-3, .team-member ul.social.extra-color-3 li a, body [class^="icon-"].icon-default-style.extra-color-3, body [class^="icon-"].icon-default-style[data-color="extra-color-3"], .team-member a.extra-color-3:hover,
	    .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-3 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3 .interval,
	    .svg-icon-holder[data-color="extra-color-3"], div[data-style="minimal"] .toggle.extra-color-3:hover h3 a, div[data-style="minimal"] .toggle.extra-color-3.open h3 a, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-3"] .list-icon-holder[data-icon_type="numerical"] span, .nectar-icon-list[data-icon-color="extra-color-3"][data-icon-style="border"] .content h4 {
			color: #333333!important;
		}
	    .col:hover > [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-3:hover,
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style),
		.portfolio-filters-inline[data-color-scheme="extra-color-3"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3:before, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-3 h3 .highlight-reason,  .nectar-button.nectar_video_lightbox[data-color="default-extra-color-3"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-3"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-3"]:after, .divider-small-border[data-color="extra-color-3"], .divider-border[data-color="extra-color-3"], div[data-style="minimal"] .toggle.extra-color-3.open i:after, div[data-style="minimal"] .toggle.extra-color-3:hover i:after, div[data-style="minimal"] .toggle.open.extra-color-3 i:before, div[data-style="minimal"] .toggle.extra-color-3:hover i:before,
		.nectar-animated-title[data-color="extra-color-3"] .nectar-animated-title-inner:after , .nectar-video-box[data-color="extra-color-3"] a.nectar_video_lightbox, .nectar_image_with_hotspots[data-stlye="color_pulse"][data-color="extra-color-3"] .nectar_hotspot
		{
			background-color: #333333!important;
		}
		
		body [class^="icon-"].icon-3x.alt-style.extra-color-3, body [class*=" icon-"].icon-3x.alt-style.extra-color-3, .extra-color-3.icon-normal, [class*=" icon-"].extra-color-3.icon-normal, .bar_graph li span.extra-color-3, .nectar-progress-bar span.extra-color-3, .swiper-slide .button.solid_color a.extra-color-3, .swiper-slide .button.solid_color_2 a.extra-color-3, .toggle.open.extra-color-3 h3 a  {
			background-color: #333333!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered, .no-highlight.extra-color-3 h3,
		.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered {
			color: #333333!important;
		}
		
		body .col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-3.hovered .circle-border, body #sidebar .widget:hover .extra-color-3 .circle-border,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote .bottom-arrow:after, div[data-style="minimal"] .toggle.open.extra-color-3 i, div[data-style="minimal"] .toggle.extra-color-3:hover i { border-color:#333333; }
		
		.pricing-column.highlight.extra-color-3 h3 { background-color:#333333!important; }
		.divider-small-border[data-color="extra-color-gradient-1"], .divider-border[data-color="extra-color-gradient-1"], .nectar-progress-bar span.extra-color-gradient-1 {
			background: #27CCC0; 
		    background: linear-gradient(to right, #27CCC0, #2ddcb5); 
		}
		.icon-normal.extra-color-gradient-1,  body [class^="icon-"].icon-3x.alt-style.extra-color-gradient-1, .nectar-button.extra-color-gradient-1:after, .nectar-button.see-through-extra-color-gradient-1:after {
			background: #27CCC0; 
		    background: linear-gradient(to bottom right, #27CCC0, #2ddcb5); 
		}

		.nectar-button.extra-color-gradient-1, .nectar-button.see-through-extra-color-gradient-1 {
			 border: 3px solid transparent;
		    -moz-border-image: -moz-linear-gradient(top right, #27CCC0 0%, #2ddcb5 100%);
		    -webkit-border-image: -webkit-linear-gradient(top right, #27CCC0 0%,#2ddcb5 100%);
		    border-image: linear-gradient(to bottom right, #27CCC0 0%, #2ddcb5 100%);
		    border-image-slice: 1;
		}
		.nectar-gradient-text[data-color="extra-color-gradient-1"][data-direction="horizontal"] * { background-image: linear-gradient(to right, #27CCC0, #2ddcb5);  }
		.nectar-gradient-text[data-color="extra-color-gradient-1"] *, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-gradient-1"] .list-icon-holder[data-icon_type="numerical"] span {
			 color: #27CCC0;
			  background: linear-gradient(to bottom right, #27CCC0, #2ddcb5); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: inline-block;
		}
		
		[class^="icon-"][data-color="extra-color-gradient-1"]:before, [class*=" icon-"][data-color="extra-color-gradient-1"]:before,
		[class^="icon-"].extra-color-gradient-1:not(.icon-normal):before, [class*=" icon-"].extra-color-gradient-1:not(.icon-normal):before {
			  color: #27CCC0;
			  background: linear-gradient(to bottom right, #27CCC0, #2ddcb5); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: initial; 
		}
		.nectar-button.extra-color-gradient-1 .hover, .nectar-button.see-through-extra-color-gradient-1 .start {
			  background: #27CCC0; 
			  background: linear-gradient(to bottom right, #27CCC0, #2ddcb5); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: initial; 
		}
		.nectar-button.extra-color-gradient-1.no-text-grad .hover, .nectar-button.see-through-extra-color-gradient-1.no-text-grad .start {
			 background: transparent!important;
			 color: #27CCC0!important; 
		}.divider-small-border[data-color="extra-color-gradient-2"], .divider-border[data-color="extra-color-gradient-2"], .nectar-progress-bar span.extra-color-gradient-2 {
			background: #2AC4EA;
		    background: linear-gradient(to right, #2AC4EA, #32d6ff);
		}
		.icon-normal.extra-color-gradient-2, body [class^="icon-"].icon-3x.alt-style.extra-color-gradient-2, .nectar-button.extra-color-gradient-2:after, .nectar-button.see-through-extra-color-gradient-2:after {
			background: #2AC4EA;
		    background: linear-gradient(to bottom right, #2AC4EA, #32d6ff);
		}
		.nectar-button.extra-color-gradient-2, .nectar-button.see-through-extra-color-gradient-2 {
			 border: 3px solid transparent;
		    -moz-border-image: -moz-linear-gradient(top right, #2AC4EA 0%, #32d6ff 100%);
		    -webkit-border-image: -webkit-linear-gradient(top right, #2AC4EA 0%,#32d6ff 100%);
		    border-image: linear-gradient(to bottom right, #2AC4EA 0%, #32d6ff 100%);
		    border-image-slice: 1;
		}
		.nectar-gradient-text[data-color="extra-color-gradient-2"][data-direction="horizontal"] * { background-image: linear-gradient(to right, #2AC4EA, #32d6ff);  }
		.nectar-gradient-text[data-color="extra-color-gradient-2"] *, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-gradient-2"] .list-icon-holder[data-icon_type="numerical"] span {
			 color: #2AC4EA;
			  background: linear-gradient(to bottom right, #2AC4EA, #32d6ff); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: inline-block;
		}

		[class^="icon-"][data-color="extra-color-gradient-2"]:before, [class*=" icon-"][data-color="extra-color-gradient-2"]:before,
		[class^="icon-"].extra-color-gradient-2:not(.icon-normal):before, [class*=" icon-"].extra-color-gradient-2:not(.icon-normal):before {
			  color: #2AC4EA; 
			  background: linear-gradient(to bottom right, #2AC4EA, #32d6ff); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: initial; 
		}
		.nectar-button.extra-color-gradient-2 .hover, .nectar-button.see-through-extra-color-gradient-2 .start {
			  background: #2AC4EA; 
			  background: linear-gradient(to bottom right, #2AC4EA, #32d6ff); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: initial; 
		}
		.nectar-button.extra-color-gradient-2.no-text-grad .hover, .nectar-button.see-through-extra-color-gradient-2.no-text-grad .start {
			background: transparent!important;
			color: #2AC4EA!important; 
		}

		body #header-outer, body #search-outer { background-color:#ffffff; }body #header-outer, body[data-header-color="dark"] #header-outer { background-color: rgba(255,255,255,100); }header#top nav > ul > li > a, header#top #logo, header#top .span_9 > .slide-out-widget-area-toggle i, .sf-sub-indicator [class^="icon-"], body[data-header-color="custom"].ascend #boxed #header-outer .cart-menu .cart-icon-wrap i,  body.ascend #boxed #header-outer .cart-menu .cart-icon-wrap i, .sf-sub-indicator [class*=" icon-"], header#top nav ul #search-btn a span, header#top #toggle-nav i, header#top #toggle-nav i, header#top #mobile-cart-link i, #header-outer .cart-menu .cart-icon-wrap .icon-salient-cart, #search-outer #search input[type="text"], #search-outer #search #close a span { color:#333333!important; }header#top nav ul .slide-out-widget-area-toggle a i.lines, header#top nav ul .slide-out-widget-area-toggle a i.lines:after, .slide-out-widget-area-toggle[data-icon-animation="simple-transform"]:not(.mobile-icon) .lines-button:after, header#top nav ul .slide-out-widget-area-toggle a i.lines:before { background-color:#333333!important; }header#top nav > ul > li.button_bordered > a:before { border-color:#333333; }#header-outer:not([data-lhe="animated_underline"]) header#top nav > ul > li > a:hover, body #header-outer:not(.transparent) #social-in-menu a i:after, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav > ul > li > a:hover, header#top #logo:hover, .ascend #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap:not(.has_products) .icon-salient-cart, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current-menu-item > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current_page_item > a .sf-sub-indicator i, body header#top nav .sf-menu > li.current_page_ancestor > a .sf-sub-indicator i, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current_page_ancestor > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current-menu-ancestor > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current-menu-ancestor > a i,  body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current_page_item > a, body header#top nav .sf-menu > li.current_page_item > a .sf-sub-indicator [class^="icon-"], body header#top nav .sf-menu > li.current_page_ancestor > a .sf-sub-indicator [class^="icon-"], body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.current-menu-ancestor > a, body .sf-menu > li.sfHover > a .sf-sub-indicator [class^="icon-"], body .sf-menu > li:hover > a .sf-sub-indicator [class^="icon-"], body .sf-menu > li:hover > a, header#top nav ul #search-btn a:hover span, header#top nav ul .slide-out-widget-area-toggle a:hover span, #search-outer #search #close a span:hover { color:#3d87ce!important; }header#top nav ul .slide-out-widget-area-toggle a:hover i.lines, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after, body header#top nav ul .slide-out-widget-area-toggle[data-icon-animation="simple-transform"] a:hover .lines-button:after, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before { background-color:#3d87ce!important; }#header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a:after { border-color:#3d87ce!important; }#search-outer .ui-widget-content, header#top .sf-menu li ul li a, header#top nav > ul > li.megamenu > ul.sub-menu, body header#top nav > ul > li.megamenu > ul.sub-menu > li > a, #header-outer .widget_shopping_cart .cart_list a, #header-secondary-outer ul ul li a, #header-outer .widget_shopping_cart .cart_list li, .woocommerce .cart-notification, #header-outer .widget_shopping_cart_content { background-color:#ffffff!important; }header#top .sf-menu li ul li a:hover, body header#top nav .sf-menu ul li.sfHover > a, header#top .sf-menu li ul li.current-menu-item > a, header#top .sf-menu li ul li.current-menu-ancestor > a, header#top nav > ul > li.megamenu > ul ul li a:hover, header#top nav > ul > li.megamenu > ul ul li.current-menu-item a, #header-secondary-outer ul ul li a:hover, body #header-secondary-outer .sf-menu ul li.sfHover > a, #header-outer .widget_shopping_cart .cart_list li:hover, #header-outer .widget_shopping_cart .cart_list li:hover a, #search-outer .ui-widget-content li:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background-color:#ffffff!important; }#search-outer .ui-widget-content li a, #search-outer .ui-widget-content i, header#top .sf-menu li ul li a, body #header-outer .widget_shopping_cart .cart_list a, #header-secondary-outer ul ul li a, .woocommerce .cart-notification .item-name, .cart-outer .cart-notification, .sf-menu li ul .sf-sub-indicator [class^="icon-"], .sf-menu li ul .sf-sub-indicator [class*=" icon-"], #header-outer .widget_shopping_cart .quantity { color:#333333!important; }#search-outer .ui-widget-content li:hover a .title, #search-outer .ui-widget-content .ui-state-hover .title,  #search-outer .ui-widget-content .ui-state-focus .title, #search-outer .ui-widget-content li:hover a, #search-outer .ui-widget-content li:hover i,  #search-outer .ui-widget-content .ui-state-hover a,  #search-outer .ui-widget-content .ui-state-focus a,  #search-outer .ui-widget-content .ui-state-hover i,  #search-outer .ui-widget-content .ui-state-focus i, #search-outer .ui-widget-content .ui-state-hover span,  #search-outer .ui-widget-content .ui-state-focus span,  body header#top nav .sf-menu ul li.sfHover > a,  header#top nav > ul > li.megamenu > ul ul li.current-menu-item a, body #header-outer .widget_shopping_cart .cart_list li:hover a, #header-secondary-outer ul ul li:hover > a, body #header-secondary-outer ul ul li:hover > a i, body header#top nav .sf-menu ul li.sfHover > a .sf-sub-indicator i,  #header-outer .widget_shopping_cart li:hover .quantity, body header#top nav .sf-menu ul li:hover > a .sf-sub-indicator i, body header#top nav .sf-menu ul li:hover > a, header#top nav > ul > li.megamenu > ul > li > a:hover, header#top nav > ul > li.megamenu > ul > li.sfHover > a, body header#top nav .sf-menu ul li.current-menu-item > a, body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu ul li.current-menu-item > a, body header#top nav .sf-menu ul li.current_page_item > a .sf-sub-indicator i, body header#top nav .sf-menu ul li.current_page_ancestor > a .sf-sub-indicator i, body header#top nav .sf-menu ul li.sfHover > a, #header-secondary-outer ul li.sfHover > a,  body header#top nav .sf-menu ul li.current_page_ancestor > a, body header#top nav .sf-menu ul li.current-menu-ancestor > a, body header#top nav .sf-menu ul li.current_page_item > a, body header#top nav .sf-menu ul li.current_page_item > a .sf-sub-indicator [class^="icon-"], body header#top nav .sf-menu ul li.current_page_ancestor > a .sf-sub-indicator [class^="icon-"], body header#top nav .sf-menu ul li.current-menu-ancestor > a, body header#top nav .sf-menu ul li.current_page_item > a, body .sf-menu ul li ul li.sfHover > a .sf-sub-indicator [class^="icon-"], body ul.sf-menu > li > a:active > .sf-sub-indicator i, body ul.sf-menu > li.sfHover > a > .sf-sub-indicator i, body .sf-menu ul li.current_page_item > a , body .sf-menu ul li.current-menu-ancestor > a, body .sf-menu ul li.current_page_ancestor > a, body .sf-menu ul a:focus , body .sf-menu ul a:hover, body .sf-menu ul a:active, body .sf-menu ul li:hover > a, body .sf-menu ul li.sfHover > a, .body sf-menu li ul li a:hover, body .sf-menu li ul li.sfHover > a, body header#top nav > ul > li.megamenu ul li:hover > a { color:#3d87ce!important; }
		
		html body #header-outer header#top .container nav .sf-menu li#menu-item-9284 a:hover,
		html body #header-outer header#top .container nav .sf-menu li#menu-item-9284 a:active,
		html body #header-outer header#top .container nav .sf-menu li#menu-item-9284 a:focus,
		html body #header-outer header#top .container nav .sf-menu li#menu-item-9284.current-menu-item a:hover,
		html body #header-outer header#top .container nav .sf-menu li#menu-item-9284.current-menu-item a:active,
		html body #header-outer header#top .container nav .sf-menu li#menu-item-9284.current-menu-item a:focus {
			background-color:#F47C21; 
			color:#fff !important;
		}
		
		html body #header-outer header#top .container nav .sf-menu li#menu-item-9284.current-menu-item a {
			color: #F47C21 !important;
		}
		
		#header-secondary-outer { background-color:#ffffff!important; }#header-secondary-outer nav > ul > li > a, body #header-secondary-outer nav > ul > li > a span.sf-sub-indicator [class^="icon-"], #header-secondary-outer #social li a i { color:#333333!important; }#header-secondary-outer #social li a:hover i,  #header-secondary-outer nav > ul > li:hover > a, #header-secondary-outer nav > ul > li.current-menu-item > a, #header-secondary-outer nav > ul > li.sfHover > a, #header-secondary-outer nav > ul > li.sfHover > a span.sf-sub-indicator [class^="icon-"], #header-secondary-outer nav > ul > li.current-menu-item > a span.sf-sub-indicator [class^="icon-"], #header-secondary-outer nav > ul > li.current-menu-ancestor > a,  #header-secondary-outer nav > ul > li.current-menu-ancestor > a span.sf-sub-indicator [class^="icon-"], body #header-secondary-outer nav > ul > li:hover > a span.sf-sub-indicator [class^="icon-"] { color:#3d87ce!important; }#call-to-action { background-color:#f8f8f8!important; }#call-to-action span { color:#333333!important; }body #slide-out-widget-area-bg { background-color: rgba(0,0,0,0.8); }#nectar_fullscreen_rows { background-color: #333333; }
	  #header-outer { padding-top: 28px; }
	  
	  #header-outer #logo img { height: 26px; }

	  header#top nav > ul > li:not(#social-in-menu) > a {
	  	padding-bottom: 30px;
		padding-top: 2px;
	  }
	   header#top nav > ul > li#social-in-menu > a {
	   	margin-bottom: 30px;
		margin-top: 2px;
	   }
	  #header-outer .cart-menu {
	 		padding-bottom: 31px;
			padding-top: 31px;
		 }header#top nav > ul li#search-btn, header#top nav > ul li.slide-out-widget-area-toggle {
	  	 padding-bottom: 2px;
		 padding-top: 3px;
	  }

	  header#top .sf-menu > li.sfHover > ul { top: 22px; }

	 .sf-sub-indicator { height: 20px; }

	 #header-space { height: 82px;}
	 
	 body[data-smooth-scrolling="1"] #full_width_portfolio .project-title.parallax-effect { top: 82px; }
	 
	 body.single-product div.product .product_title { padding-right:0px; } @media only screen and (max-width: 1000px) { 
	 	body header#top #logo img, #header-outer[data-permanent-transparent="false"] #logo .dark-version { 
	 		height: 26px!important; 
	 	} 
	 	header#top .col.span_9 {
	 		min-height: 50px; 
	 		line-height: 30px; 
	 	}
	 } .nectar-slider-loading .loading-icon, .portfolio-loading, #ajax-loading-screen .loading-icon, .loading-icon, .pp_loaderIcon { background-image: url("http://adamhyderdev.wpengine.com/wp-content/uploads/2014/06/ajax-loader.gif"); } @media only screen and (min-width: 1000px) and (max-width: 1300px) {
	    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
	    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 45px!important;
			line-height: 51px!important;
		}

		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
	    .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 18px!important;
			line-height: 31.2px!important;
		}
	}
	
	@media only screen and (min-width : 690px) and (max-width : 1000px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 33px!important;
			line-height: 39px!important;
		}

		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
	    .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 13.2px!important;
			line-height: 24px!important;
		}
	}
	
	@media only screen and (max-width : 690px) {
		.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content h2, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content h2 {
			font-size: 15px!important;
			line-height: 21px!important;
		}

		.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"]  .swiper-slide .content p, 
	    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content p {
			font-size: 10px!important;
			line-height: 17.52px!important;
		}
	}
	@media only screen and (min-width: 1000px) {
			
			    .container, .woocommerce-tabs .full-width-content .tab-container, .nectar-recent-posts-slider .flickity-page-dots {
			      max-width: 1425px; 
				  width: 100%;
				  margin: 0 auto;
				  padding: 0px 90px; 
			    } 

			    body .container .page-submenu.stuck .container:not(.tab-container), .nectar-recent-posts-slider .flickity-page-dots {
			    	  padding: 0px 90px!important; 
			    }	
				
				.swiper-slide .content {
				  padding: 0px 90px; 
				}
				
				body .container .container:not(.tab-container):not(.recent-post-container) {
					width: 100%!important;
					padding: 0!important;
				}
				
				
				body .carousel-heading .container {
					padding: 0 10px!important;
				}
				body .carousel-heading .container .carousel-next { right: 10px; } body .carousel-heading .container .carousel-prev { right: 35px; }
				.carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link { left: 90px; }
				.carousel-wrap[data-full-width="true"] .carousel-heading { margin-left: -20px; margin-right: -20px; }
				.carousel-wrap[data-full-width="true"] .carousel-next { right: 90px!important; } .carousel-wrap[data-full-width="true"] .carousel-prev { right: 115px!important; }
				.carousel-wrap[data-full-width="true"] { padding: 0!important; }
				.carousel-wrap[data-full-width="true"] .caroufredsel_wrapper { padding: 20px!important; }
				
				#search-outer #search #close a {
					right: 90px;
				}
	
	
				#boxed, #boxed #header-outer, #boxed #header-secondary-outer, #boxed #slide-out-widget-area-bg.fullscreen, #boxed #page-header-bg[data-parallax="1"], #boxed #featured, body[data-footer-reveal="1"] #boxed #footer-outer, #boxed .orbit > div, #boxed #featured article, .ascend #boxed #search-outer {
				   max-width: 1400px!important;
				   width: 90%!important;
				   min-width: 980px;
				}

				body[data-hhun="1"] #boxed #header-outer:not(.detached), body[data-hhun="1"] #boxed #header-secondary-outer {
					width: 100%!important;
				}


				#boxed #search-outer #search #close a {
					right: 0!important;
				}

				#boxed .container {
				  width: 92%;
				  padding: 0;
			    } 
				
				#boxed #footer-outer #footer-widgets, #boxed #footer-outer #copyright {
					padding-left: 0;
					padding-right: 0;
				}

				#boxed .carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link { left: 35px; }
				#boxed .carousel-wrap[data-full-width="true"] .carousel-next { right: 35px!important; } #boxed .carousel-wrap[data-full-width="true"] .carousel-prev { right: 60px!important; }

				
			 }.pagination-navigation { -webkit-filter: url("#goo"); filter: url("#goo"); }	
	body, .toggle h3 a, body .ui-widget, table, .bar_graph li span strong, #slide-out-widget-area .tagcloud a, body .container .woocommerce-message a.button, #search-results .result .title span, .woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3, .row .col.section-title .nectar-love span, body .nectar-love span, body .nectar-social .nectar-love .nectar-love-count, body .carousel-heading h2, .sharing-default-minimal .nectar-social .social-text, body .sharing-default-minimal .nectar-love 
	{		font-family: Open Sans;font-size:16px;		
		line-height:29px;
		font-weight:300;			}.bold, strong, b { font-family: Open Sans; font-weight: 600; } .nectar-fancy-ul ul li .icon-default-style[class^="icon-"] {line-height:29px!important;}	
	
		
	header#top nav > ul > li > a
	{	
		font-family: Open Sans;text-transform: uppercase;font-size:16px;	
		line-height:22.4px;		font-weight:600;			}#header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a,
	    	header#top nav > ul > li.button_solid_color > a, body #header-outer.transparent header#top nav > ul > li.button_solid_color > a,
			#header-outer[data-lhe="animated_underline"] header#top nav > ul > li.button_solid_color > a { margin-left: 13px!important;  margin-right: 13px!important; }#header-outer[data-lhe="default"] header#top nav > ul > li > a { padding-left: 13px;  padding-right: 13px; }header#top nav > ul > li.button_solid_color > a, body #header-outer.transparent header#top nav > ul > li.button_solid_color > a, #header-outer[data-lhe="animated_underline"] header#top nav > ul > li.button_solid_color > a { padding-left: 23px!important; padding-right: 23px!important; }header#top nav > ul > li.button_solid_color > a:before, #header-outer.transparent header#top nav > ul > li.button_solid_color > a:before { 
	    		height: 27.4px; 
	    	}header#top nav > ul > li.button_bordered > a:before, #header-outer.transparent header#top nav > ul > li.button_bordered > a:before { 
	    		height: 37.4px; 
	    	}	
	
	
	
		
	header#top .sf-menu li ul li a, #header-secondary-outer nav > ul > li > a, #header-secondary-outer ul ul li a, #header-outer .widget_shopping_cart .cart_list a
	{	
		font-family: Open Sans;text-transform: uppercase;font-size:13px;			
		line-height:13px;		font-weight:600;			}	
	
	@media only screen 
	and (min-width : 1px) and (max-width : 1000px) 
	{
	  header#top .sf-menu a {
	  	font-family: Open Sans!important;
	  	font-size: 14px!important;
	  }
	}	
	
		
	#page-header-bg h1, body h1, body .row .col.section-title h1, .full-width-content .recent-post-container .inner-wrap h2
	{	
		font-family: Open Sans;letter-spacing: -0.5px;font-size:40px;	
		line-height:40px;		font-weight:400;			}	

	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
		body .row .col.section-title h1, body h1, .full-width-content .recent-post-container .inner-wrap h2 {
			font-size: 28px;
			line-height: 28px;
		}
	}
	@media only screen and (max-width: 1000px) and (min-width: 690px) {
		body .row .col.section-title h1, body h1 {
			font-size: 26px;
			line-height: 26px;
		}
		.full-width-content .recent-post-container .inner-wrap h2 {
			font-size: 24px;
			line-height: 24px;
		}
	}
	@media only screen and (max-width: 690px) {
		body .row .col.section-title h1, body h1 {
			font-size: 24px;
			line-height: 24px;
		}
		.full-width-content .recent-post-container .inner-wrap h2 {
			font-size: 18px;
			line-height: 18px;
		}
	}
	
	
		
	#page-header-bg h2, body h2, article.post .post-header h2, article.post.quote .post-content h2, article.post.link .post-content h2, article.post.format-status .post-content h2,
	#call-to-action span, .woocommerce .full-width-tabs #reviews h3, .row .col.section-title h2
	{	
		font-family: Open Sans;letter-spacing: -0.5px;font-size:30px;	
		line-height:30px;
		font-weight:400;			}
	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
	 	body h2 {
	 		font-size: 25.5px;
			line-height: 25.5px;
		}
		.row .span_2 h2, .row .span_3 h2, .row .span_4 h2, .row .vc_col-sm-2 h2, .row .vc_col-sm-3 h2, .row .vc_col-sm-4 h2 { 
			font-size: 21px;
			line-height: 21px;
		}
	}

	@media only screen and (max-width: 690px) {
	.col h2 {
			font-size: 25.5px;
			line-height: 25.5px;
		}
	}
	
	
		
	body h3, .row .col h3, .toggle h3 a, .ascend #respond h3, .ascend h3#comments, .woocommerce ul.products li.product.text_on_hover h3, 
	.masonry.classic_enhanced .masonry-blog-item h3.title 
	{	
		font-family: Open Sans;letter-spacing: -0.5px;font-size:20px;	
		line-height:20px;
		font-weight:400;			}	
	@media only screen and (min-width: 1000px) {
		.ascend .comments-section .comment-wrap.full-width-section > h3, .blog_next_prev_buttons[data-post-header-style="default_minimal"] .col h3 {
			font-size: 34px!important;
			line-height: 42px!important;
		}

		.masonry.classic_enhanced .masonry-blog-item.large_featured h3.title {
			font-size: 30px!important;
			line-height: 30px!important;
		}
	}

	@media only screen and (min-width: 1300px) and (max-width: 1500px){
		body .portfolio-items.constrain-max-cols.masonry-items .col.elastic-portfolio-item h3 {
			font-size: 17px!important;
			line-height: 17px;
		}
	}

	@media only screen and (max-width: 1300px) and (min-width: 1000px), (max-width: 690px) {
		.row .span_2 h3, .row .span_3 h3, .row .span_4 h3, .row .vc_col-sm-2 h3, .row .vc_col-sm-3 h3, .row .vc_col-sm-4 h3 {
			font-size: 14px;
			line-height: 14px;
		}
	}
	
		
	body h4, .row .col h4, .portfolio-items .work-meta h4, .list-icon-holder[data-icon_type="numerical"] span, .portfolio-items .col.span_3 .work-meta h4, #respond h3, h3#comments, .portfolio-items[data-ps="6"] .work-meta h4
	{	
		font-family: Open Sans;letter-spacing: -0.5px;font-size:18px;	
		line-height:18px;		font-weight:700;			}	
	@media only screen and (min-width: 690px) {
		.portfolio-items[data-ps="6"] .wide_tall .work-meta h4 {
			font-size: 30.6px!important;
			line-height: 38.6px!important;
		}

	}
	
		
	body h5, .row .col h5, .portfolio-items .work-item.style-3-alt p
	{	
		font-family: Open Sans;letter-spacing: -0.5px;font-size:16px;	
		line-height:16px;		font-weight:800;			}


	body .wpb_column > .wpb_wrapper > .morphing-outline .inner > h5 {
		font-size: 22px!important;
	}
	
	
		
	body h6, .row .col h6
	{	
		font-family: Open Sans;	
				font-weight:800;			}	


		
	body i, body em, .masonry.meta_overlaid article.post .post-header .meta-author > span, #post-area.masonry.meta_overlaid article.post .post-meta .date,
	#post-area.masonry.meta_overlaid article.post.quote .quote-inner .author, #post-area.masonry.meta_overlaid  article.post.link .post-content .destination
	{	
		font-family: Open Sans;letter-spacing: -0.5px;	
				font-weight:400;font-style: italic			}

		
	form label, .woocommerce-checkout-review-order-table .product-info .amount, .woocommerce-checkout-review-order-table .product-info .product-quantity,
	.nectar-progress-bar p, .nectar-progress-bar span strong i, .nectar-progress-bar span strong, .testimonial_slider blockquote span
	{	
			
							}


		
	.nectar-dropcap
	{	
			
							}
	
		
	body #page-header-bg h1, html body .row .col.section-title h1, .nectar-box-roll .overlaid-content h1
	{	
		font-family: Open Sans;	
				font-weight:400;			}
	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		#page-header-bg .span_6 h1, .overlaid-content h1 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		#page-header-bg .span_6 h1, .nectar-box-roll .overlaid-content h1 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 1300px) and (max-width: 1500px) {
		#page-header-bg .span_6 h1, .nectar-box-roll .overlaid-content h1 {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		#page-header-bg.fullscreen-header .span_6 h1, .overlaid-content h1 {
			font-size: ;
			line-height: ;
		}
	}


		
	body #page-header-bg .span_6 span.subheader,  body .row .col.section-title > span, .nectar-box-roll .overlaid-content .subheader
	{	
		font-family: Open Sans;	
				font-weight:400;			}	
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		body #page-header-bg:not(.fullscreen-header) .span_6 span.subheader,  body .row .col.section-title > span {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body #page-header-bg.fullscreen-header .span_6 span.subheader, .overlaid-content .subheader {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		body #page-header-bg.fullscreen-header .span_6 span.subheader, .overlaid-content .subheader {
			font-size: ;
			line-height: ;
		}
	}



		
	body #slide-out-widget-area .inner .off-canvas-menu-container li a, body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
	body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a
	{	
		font-family: Open Sans;	
				font-weight:600;			}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
		body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a  {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
		body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
			font-size: ;
			line-height: ;
		}
	}



		
	#slide-out-widget-area .menuwrapper li small
	{	
			
							}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		#slide-out-widget-area .menuwrapper li small {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		#slide-out-widget-area .menuwrapper li small {
			font-size: ;
			line-height: ;
		}
	}

	
		
	.swiper-slide .content h2
	{		font-family: Open Sans;text-transform: capitalize;letter-spacing: -0.5px;font-size:34px;	
		line-height:34px;
		font-weight:600;			}
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 27.2px!important;
			line-height: 42.4px!important;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 20.4px!important;
			line-height: 20.4px!important;
		}
	}

	@media only screen and (max-width: 690px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 17px!important;
			line-height: 17px!important;
		}
	}
	
	
		
	#featured article .post-title h2 span, .swiper-slide .content p, #portfolio-filters-inline #current-category, body .vc_text_separator div
	{	
		font-family: Open Sans;letter-spacing: -0.5px;font-size:21px;	
		line-height:21px;		font-weight:400;			}	
	
	#portfolio-filters-inline ul { line-height: 40px!important; }.swiper-slide .content p.transparent-bg span { 	     line-height:46px;	}
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		.full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 16.8px!important;
			line-height: 32px!important;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		.full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 14.7px!important;
			line-height: 14.7px!important;
		}
	}

	@media only screen and (max-width: 690px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		body .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 14.7px!important;
			line-height: 14.7px!important;
		}
	}



		
	.testimonial_slider blockquote, .testimonial_slider blockquote span, blockquote
	{	
		font-family: Open Sans;letter-spacing: -0.5px;	
				font-weight:300;			}	
	
	

	
	
		
	#footer-outer .widget h4, #sidebar h4, #call-to-action .container a, .uppercase, .nectar-button, .nectar-button.medium, .nectar-button.small, .nectar-3d-transparent-button, body .widget_calendar table th, body #footer-outer #footer-widgets .col .widget_calendar table th, .swiper-slide .button a,
	header#top nav > ul > li.megamenu > ul > li > a, .carousel-heading h2, body .gform_wrapper .top_label .gfield_label, body .vc_pie_chart .wpb_pie_chart_heading, #infscr-loading div, #page-header-bg .author-section a, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .ascend input[type="submit"], .ascend button[type="submit"],
	.widget h4, .text-on-hover-wrap .categories a, .text_on_hover.product .add_to_cart_button, .woocommerce-page div[data-project-style="text_on_hover"] .single_add_to_cart_button, .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.qty, .woocommerce-page #respond input#submit,
	.meta_overlaid article.post .post-header h2, .meta_overlaid article.post.quote .post-content h2, .meta_overlaid article.post.link .post-content h2, .meta_overlaid article.post.format-status .post-content h2, .meta_overlaid article .meta-author a, .pricing-column.highlight h3 .highlight-reason,
	.blog-recent[data-style="minimal"] .col > span, .masonry.classic_enhanced .posts-container article .meta-category a, .nectar-recent-posts-slider .container .strong, #page-header-bg[data-post-hs="default_minimal"] .inner-wrap > a, .single .heading-title[data-header-style="default_minimal"] .meta-category a, .nectar-fancy-box .link-text
	{	
		font-family: Open Sans;text-transform: uppercase!important;font-size:16px;				
		font-weight:600;
			}	
	
	
	html body .demand-float .nectar-button.medium {
		font-size: 12px;
	}

	
		
	.team-member h4, .row .col.section-title p, .row .col.section-title span, #page-header-bg .subheader, .nectar-milestone .subject, .testimonial_slider blockquote span 
	{	
	font-family: Open Sans;			
		font-weight:400;					
	}	
	
	article.post .post-meta .month { line-height:-6px!important; }
	


@media only screen and (min-width: 691px) {
	
	.container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	
}

/* temp fix for buttons bar */

.fix-left-alignment,
.vc_row-fluid.vc_row.full-width-content.standard_section {
	margin-left: 0 !important;
	left: 0;
}