/*//////////////////////////Edited/Required CSS after Sapient Theme////////////////////////////////////////////
////////////////////////////////////////////////Without Responsiveness//////////////////////////////////////*/

.trapeziumspacefrist{
    height: 2px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #f2f2f2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f2f2f2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f2f2f2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #f2f2f2;/*#e0e0e0;*/
}

/*::-webkit-input-placeholder, :-moz-placeholder {
   color: red!important;
}
::-webkit-input-placeholder {
 color: red!important; #F2F2F2;
}

:-moz-placeholder {  Firefox 18- 
   color: red;#989899;  
}

::-moz-placeholder {   Firefox 19+ 
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}*/
/*Full form*/
.headerBox{   
    font-family: 'Open Sans'!important;
    padding: 5px;   
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    /*Commented_for_issue_of_button_going_up*/
/*    height:auto;
    width:100%;*/
    font-size: 20px;
    table-layout: fixed;
    alignment-adjust: central;
    color: black;
}
/*Initial content befor the questions*/
.headline{
font-family: 'Open Sans'!important;
text-align: justify;  
font-size: 28px;
font-weight: normal!important;
line-height: 1.9!important;
color: #444;
letter-spacing: -0.5px;
-webkit-font-smoothing:antialiased;       
}
.q_480{
    display: none!important;
}

h7{
font-family: 'Open Sans'!important;
    color:#676767; /*#989899;*/
    font-weight: normal!important; 
    line-height: 1.9!important;
}
.bodyp{
    text-align: left;
    font-weight: lighter!important;
    line-height: 1.4;
    color:#676767; 
    letter-spacing:  0.5px;
text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
}
.q_bodyContent
{
    font-size:16px;
        color:#676767; 
    /*color:#989899;*/
font-weight: lighter!important;
    line-height:1.6!important;  
}
.q_bodyContent1
{
    font-size:16px;
        color:#676767; 
    /*color:#989899;*/
font-weight: lighter!important;
    line-height:26px!important;  
    display: block;
}
.textboxtd{
	font-family: 'Open Sans'!important;
    background-color:#f8f8f8!important;
    width:270px;
}
.textboxcss{
font-family: 'Open Sans'!important;
height: 40px;
border:1px solid #CCCCCC!important;
font-size: 16px!important;
text-align: center;
border-radius: 5px;
font-weight: 300;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
width: 70%!important;

margin-left: 2.5em;
}
.questiontablecss{
font-family: 'Open Sans'!important;
    /*background-color: rgba(233, 233, 233, 0.34)!important;*/
}
.questiontd{
font-family: 'Open Sans'!important;
color:  #676767;
background-color:#f8f8f8!important;
width: auto;
}
.questiontd td{
/*padding-left: 2.2em!important;*/
font-size: 16px!important;
text-align: center;  
letter-spacing:-0.5px;
line-height:15px;
font-family: 'Open Sans'!important;
}
.buttonCal{
font-family: 'Open Sans'!important;
 /*Commented_for_issue_of_button_going_up*/
margin-top: 1%;
font-size: 18px!important;
background-color: #3d87ce!important;
font-weight: normal!important;
display: inline-block;
vertical-align: middle;
margin-left: 46%;
color:#FFFFFF;
height: 40px;
width: 150px;
padding:1em;
clear:both;
outline:0;
-webkit-border-radius: 5px!important; 
-moz-border-radius: 5px!important; 
border-radius: 5px!important;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
letter-spacing: 1.5px!important;
}

.footer1{ 
	 font-family: 'Open Sans'!important;
    width: 100%;
background-color:#f8f8f8!important;
/*Changed_from_height:9em_for_issue_of_button_going_up*/
height:auto;/*5em;*/
padding:0em 1em 1em 1em;
}
.RoiResultsubcss{
	font-family: 'Open Sans'!important;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 28.8px;
        float: left;
        color: #676767;
}
.tableFunneltd {
	font-family: 'Open Sans'!important;
    width: 65%;}
.formulatdcss{
	font-family: 'Open Sans'!important;
    width: 35%;
}
.tableFunnel{  
	font-family: 'Open Sans'!important;
    width: 100%;
    height: 50%;
    margin-left:2.5em;
}
.tableFunnel1{
	font-family: 'Open Sans'!important;
    float: left; width:50%;
             /*margin-left:2em;*/}
.tableFunnel2{
font-family: 'Open Sans'!important;
margin-top:1.5em;
float: right;
width:50%;}
.bodyp1{    
	font-family: 'Open Sans'!important;
    text-align: left;
	font-weight: 300;
        letter-spacing:  0.5px;
	line-height: 28.8px;
        color: #333333;
}
.bodyp2{
	font-family: 'Open Sans'!important;
    text-align: left;
	font-weight: 300;
	line-height: 28.8px;
        letter-spacing:  0.5px;
        color: #676767;
}
.btnImgBackcss{
	font-family: 'Open Sans'!important;
    height:20%!important;
    width: 100%
}


.spancss1{
	font-family: 'Open Sans'!important;
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;height:30px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .3em;
    margin-left: -6em;
}
.spancss2{
	font-family: 'Open Sans'!important;
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .4em;  
}

.funnelCostcss{                
		font-family: 'Open Sans'!important;
        font-family: Open Sans!important;
        font-size: 25px;
	text-align: center;
	font-weight: bold;
	line-height: 1.2!important;
       margin-left: 35%;
        color: #000;
        letter-spacing: 0.8px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;       
}
.ROiValues{
	font-family: 'Open Sans'!important;
    margin-top: 16em;
    height:auto;
}

	
.values{   
	font-family: 'Open Sans'!important;
    width: 100%;
    height: 3em;
    text-align: left;
    font-weight: 300;
    line-height: 28.8px;
    color: #676767;
    letter-spacing: 0.5px;   
    margin-left: 2em; 
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
}
.values1{    width: 20%;
	font-family: 'Open Sans'!important;
    width: 20%;
    float: left;
    display: inline;
    text-align: right;
    margin-right: .5em;
    font-size: 17px;}
.values2{
	font-family: 'Open Sans'!important;
    width:150px!important;
    float: left;
    display: inline;
/*    text-align: right; margin-right: .5em;*/
}
.values21{
font-family: 'Open Sans'!important;
width:150px!important;
display: inline;border: 1px solid #CCCCCC;
padding:   .2em 1.5em .2em 1.5em;    
border-radius: 5px;
display: inline;
text-align: center;
color:black;
letter-spacing:  0.5px;
font-weight: bold;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
/*padding: 1.5em;*/ 
white-space:nowrap;  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.values3{
	font-family: 'Open Sans'!important;
    width:11%;
display: inline;
}
.footer2{    	
	font-family: 'Open Sans'!important;
    width: 6%;	
    background-color: rgba(247, 105, 4, 0.78);
    height: 3px;
      float: right; 
margin-right: 58%;
margin-top:.5em;
}
#trapezoid1 {
width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 15px solid rgba(247, 105, 4, 0.78);
    border-bottom: 6px solid transparent;
    float: right;
    margin-top: -.22em;
      
}
.values4{    
	font-family: 'Open Sans'!important;
    width: 52%;
    float: right;
    display: inline;
    margin-right: 3em;
    margin-top: -.9em;
    font-size: 16px;}
.imgvalues3{
       height: 8px!important;
    width: 5em!important;
    margin-left:.5em;
    margin-top:.5em;
}
.pdfbtn1css1{
font-family: 'Open Sans'!important;
color: #fff!important;
    /* padding: 1.1em 1.1em 0.8em 1.1em !important; */
    font-size: 1em!important;
    font-weight: 600!important;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 32%;
    color: #FFFFFF;
    height: 62px;
    background-color: #EF1977 !important;
    border-bottom: 2px solid #BD135D!important;
   

border-radius: 5px!important;
    -webkit-border-radius: 5px!important; 
-moz-border-radius: 5px!important; 

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: .5em;
    margin-bottom: .5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1em;

}
.addresscss{
font-family: 'Open Sans'!important;
font-weight: 300;
line-height: 28.8px;
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
margin-left:40%;
    margin-top: 15px;

}
.addressLink{
font-family: 'Open Sans'!important;
font-weight: 300;
line-height: 28.8px;
color:blue; 
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;  

}
.contactcss{
font-family: 'Open Sans'!important;
font-weight: 300;
line-height: 28.8px;
color:black; 
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
margin-left: 10%;
    margin-top: 15px;
}
.btnImgBackcss1{
 height:25% !important;
width: 100%;  
}

.RoiResultcss{
       font-family: 'Open Sans'!important;
   font-size: 30px!important;
	text-align: left;
	font-weight: bold!important;
	line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;        
}
.trapezium1 {
    border-top: 35px solid #FF0066;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
     font-size: 16px;
	font-family: 'Open Sans'!important;
}
.trapezium2 {
    border-top: 35px solid #FF0066;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 125px;    
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
     font-size:16px;
	font-family: 'Open Sans'!important;
}

.trapezium3 {
    border-top: 35px solid  #7254BC;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 147px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
     font-size: 16px;
	font-family: 'Open Sans'!important;
}

.trapezium4 {
    border-top: 35px solid  #3D87CE;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 169px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF; font-size: 16px;
    text-align: center;
	font-family: 'Open Sans'!important;	
    
}

.trapezium5 {
    border-top: 35px solid  #30B544;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 191px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF; font-size: 16px;
    text-align: center;
    font-family: 'Open Sans'!important;
}

.trapezium6 {
    border-top: 35px solid  #989899;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 213px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF; font-size:16px;
    text-align: center;
    font-family: 'Open Sans'!important; 
}
.trapezium7 {   
    height: 6px;
    width: 221px;
    background-color: #989899;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
     font-family: 'Open Sans'!important;      
}

.trapeziumspace{
    height: 2px;
    color: #FFFFFF;
    text-align: center;
    z-index: 1;
    margin-top: -27px!important;
	font-family: 'Open Sans'!important;
}
#table1,
#table1 tr,
#table1 td { border: 0;line-height: normal;}
.trapeziumspace1{
    height: 1px;
}
#trapezoid {
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 20px solid white;
/*margin-left: 48%;*/
margin-left:auto;
margin-right:auto;
	
}
.footer{    width: 100%;
  background-color:#f8f8f8;
         /*Changed_from_height:9em_for_issue_of_button_going_up*/
     height:auto;/*9em;*/
     padding:0em 1em 1em 1em;}


@media screen and (max-width:1200px) {

  .headerBox{   
    font-family: Open Sans!important;
    padding: 5px;   
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    height:auto;
    width:100%;
    font-size: 20px;
    table-layout: fixed;
    alignment-adjust: central;
    color: black;
}

.headline{
    text-align: justify;  
   font-size: 28px;
	font-weight: 300;
	line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;       
}
h7{
    color: #676767; /*#989899;*/
    font-weight: 450;}
.btnImgBackcss{
    height:20%!important;
    width: 100%
}
.textboxcss{
height: 40px;
border:1px solid #CCCCCC!important;
font-size: 16px!important;
text-align: center;
border-radius: 5px;
font-weight: 300;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
    width: 70%!important;
    margin-left: 2.5em;
}
table .questiontd{
color: #676767;
letter-spacing:-0.5px;
font-size: 18px!important;
line-height:15px;
text-align: center;     
}

.buttonCal{
    margin-top: 2%;
    font-size: 18px!important;
    background-color: #3D87CE!important;
    font-weight: 300!important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 46%;
color:#FFFFFF;
height: 50px;
width: 150px;
clear:both;
outline:0;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
}
.bodyp{
    text-align: left;
    font-weight: 300;
    line-height: 28.8px;
    color:#676767; 
    letter-spacing:  0.5px;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
}
.bodyp1{    
    text-align: left;
	font-weight: 600;
        letter-spacing:  0.5px;
	line-height: 28.8px;
        color: #333333;
}
.bodyp2{
    text-align: left;
	font-weight: 300;
	line-height: 28.8px;
        letter-spacing:  0.5px;
        color: #676767;
}
.RoiResultsubcss{
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 28.8px;
        float: left;
        color: #676767;
}
.tableFunneltd {
    width: 65%;}
.formulatdcss{
    width: 35%;
}
.tableFunnel{  
    width: 100%;
    height: 50%;
    /*Changed After removing 94 errors*/
    margin-left:1em;
}
.tableFunnel1{
    float: left; width:50%;
             /*margin-left:2em;*/}
.tableFunnel2{
margin-top:1.5em;
float: right;
width:50%;
    margin-right: -4em;}
.spancss1{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .3em;
    margin-left: -6em;
}
.spancss2{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .4em;  
}

.funnelCostcss{                
        font-family: Open Sans!important;
        font-size: 25px;
	text-align: center;
	font-weight: bold;
	line-height: 1.2!important;
       margin-left: 35%;
        color: #000;
        letter-spacing: 0.8px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;       
}
/*.values{
    width: 100%;
height: 7em;
font-size: 15px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 5px 0 15px 0;
background-color: #f9fbf1;
margin-left: -.1em;margin-top:2em;}
.values1{width:70%;float: left;display: inline;font-size:15px;margin-bottom: 1em;text-align: left;}
.values2{
    width:30%!important;
    float: right;
    display: inline;
    text-align: right; margin-right: .5em;
}
.values21{width:30%!important; display: inline;font-size:15px;border:1px solid #CCCCCC;    
        padding: 2px; border-radius: 5px;}
.values3{display: none;}
.values4{width:90%;float: right;font-size:15px;margin-bottom: 3em;margin-left: .5em;}*/
.values{   
    width: 100%;
height:2em;
font-size: 15px;
/*border: 1px solid #ccc;*/
/*border-radius: 5px;*/
padding: 5px 0 15px 0;
/*background-color: #f9fbf1;*/
margin-left: -.1em;
margin-top:2em;
    /*display: block;*/
}
.values1{  width: 20%;
    float: left;
    display: inline;
    text-align: right;
    margin-right: .5em;
}
.values2{
    width:120px!important;
    float: left;
    display: inline;
/*    text-align: right; margin-right: .5em;*/
}
.values21{
width:120px!important;
display: inline;border: 1px solid #CCCCCC;
padding:   .2em 1.5em .2em 1.5em;    
border-radius: 5px;
display: inline;
text-align: center;
color:black;
letter-spacing:  0.5px;
font-weight: bold;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
/*padding: 1.5em;*/ 
white-space:nowrap;  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.values3{
    width:11%;
display: inline;
}
.footer2{    
    width: 6%;
    background-color:rgba(247, 105, 4, 0.78);
    height: 2px;
      float: right; 
margin-right: 58%;
margin-top:.5em;
}
#trapezoid1 {
	    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid rgba(239, 113, 24, 0.56);
    border-bottom:5px solid transparent;
     float:right;
margin-top: -.25em;
      
}
.values4{
       width: 55%;
    float: right;
    display: inline;
    margin-right: 1em;
}
.imgvalues3{display: none;}
.pdfbtn1css1{
    color:#fff!important; 
    border:1px solid #BD135D!important;
    
    background-color: #3D87CE!important;
    font-size: 16px;
    line-height: normal;
    font-weight: 300!important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30%;
    color: #FFFFFF;
    height: 80px;
    width: auto;/*180px;*/
    background-color: #EF1977 !important;
    border-bottom: 2px solid #BD135D!important;
    border-radius: 2px;
    border-bottom: 2px solid #BD135D!important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: .5em;
    margin-bottom: .5em;
    /*
     color:#fff!important; 
    border:1px solid #BD135D!important;
    font-size: 1em!important;
font-weight: 600;
    line-height: 15px;
    font-weight: 300!important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40%;
    color: #FFFFFF;
    height: 65px;
    width: auto;
    border-radius: 2px;
    background-color: #EF1977 !important;
    border-bottom: 2px solid #BD135D!important;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: .5em;
    
    
    */

}
.addresscss{
font-weight: 300;
line-height: 28.8px;
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
margin-left:40%;
/*margin-top: -5em;*/
}
.addressLink{
font-weight: 300;
line-height: 28.8px;
color:blue; 
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;  
}
.contactcss{
font-weight: 300;
line-height: 28.8px;
color:black; 
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
margin-left: 10%;
}
.btnImgBackcss1{
 height:25% !important;
width: 100%;  
}

.RoiResultcss{
       font-family: Open Sans!important;
   font-size: 30px!important;
	text-align: left;
	font-weight: bold!important;
	line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;        
}
.trapezium1 {
    border-top: 35px solid #FF0066;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
     font-size: 16px;
}
.trapezium2 {
    border-top: 35px solid #FF0066;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 125px;    
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
     font-size:16px;
}

.trapezium3 {
    border-top: 35px solid  #7254BC;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 147px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
     font-size: 16px;
}

.trapezium4 {
    border-top: 35px solid  #3D87CE;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 169px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF; font-size: 16px;
    text-align: center;
    
}

.trapezium5 {
    border-top: 35px solid  #30B544;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 191px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF; font-size: 16px;
    text-align: center;
    
}

.trapezium6 {
    border-top: 35px solid  #989899;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 213px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF; font-size:16px;
    text-align: center;
    
}
.trapezium7 {   
    height: 6px;
    width: 220px;
    background-color: #989899;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
        
}

.trapeziumspace{
    height: 2px;
    color: #FFFFFF;
    text-align: center;
    z-index: 1;
    margin-top: -25px;
}
#table1,
#table1 tr,
#table1 td { border: 0;}
.trapeziumspace1{
    height: 1px;
}
#trapezoid {
	    width: 0;
    height: 0;
    border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid white;
margin-left: 48%;
	
}
.footer{    width: 100%;
   background-color:#f8f8f8;
         /*Changed_from_height:9em_for_issue_of_button_going_up*/
   height:auto;padding:0em 1em 1em 1em;margin-top: 2em;}
.footer1{    width: 100%;
   background-color:#f8f8f8;
         /*Changed_from_height:9em_for_issue_of_button_going_up*/
  height:auto;padding:0em 1em 1em 1em;}
}
                          

@media only screen and (max-width : 860px){
    h7{color: #676767; /*#989899;*/
       font-weight: 400;}
   .headerBox{   
    font-family: Open Sans!important;
    padding: 5px;   
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    height:auto;
    width:100%;
    font-size: 20px;
    table-layout: fixed;
    alignment-adjust: central;
    color: black;
}
.headline{
    text-align: justify;  
   font-size: 24px;
	font-weight: 300;
	line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;       
}

.btnImgBackcss{
    height:20%!important;
    width: 100%
}
.textboxcss{
height: 40px;
border:1px solid #CCCCCC!important;
font-size: 16px!important;
text-align: center;
border-radius: 5px;
font-weight: 300;    margin-left: 5px;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
}
table .questiontd{
color: #676767;
letter-spacing:-0.5px;
font-size: 18px!important;
line-height:15px;
text-align: center;     
}

.buttonCal{
/*margin-top: -15%;*/
font-size: 16px!important;
background-color: #3D87CE!important;
font-weight: 300!important;
display: inline-block;
vertical-align: middle;
margin-left:36%;
color:#FFFFFF;
height: 45px;
width: 150px;
clear:both;
outline:0;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
}
.bodyp{
    text-align: left;
    font-weight: 300;
    line-height: 28.8px;
    color:#676767; 
    letter-spacing:  0.5px;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
}
.bodyp1{    
    text-align: left;
	font-weight: 600;
        letter-spacing:  0.5px;
	line-height: 28.8px;
        color: #333333;
}
.bodyp2{
    text-align: left;
	font-weight: 300;
	line-height: 28.8px;
        letter-spacing:  0.5px;
        color: #676767;
}
.RoiResultsubcss{
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 28.8px;
        float: left;
        color: #676767;
}
.tableFunneltd {
    width: 65%;}
.formulatdcss{
    width: 35%;
}
.tableFunnel{  
    width: 100%;
    height: 50%;
    margin-left:2em;
}
.tableFunnel1{
    float: left; width:50%;
             /*margin-left:2em;*/}
.tableFunnel2{
margin-top:1.5em;
float: right;
width:50%;}
.spancss1{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .3em;
      margin-left: -3em;
}
.spancss2{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .4em;  
}
.trapezium7 {   
    height: 6px;
       width: 216px;
    background-color: #989899;
    /*margin-left: -5px;*/
    margin-right: auto;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
        
}
.funnelCostcss{                
font-family: Open Sans!important;
font-size: 25px;
text-align: center;
font-weight: bold;
line-height: 1.2!important;
margin-left: 10%;
color: #000;
letter-spacing: 0.8px;
-webkit-font-smoothing:antialiased;
white-space: nowrap;
}

.values{
    width: 100%;
height: 7em;
font-size: 15px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 5px 0 15px 0;
background-color: #f9fbf1;
margin-left: -.1em;margin-top:2em;}
.values1{width:70%;float: left;display: inline;font-size:15px;margin-bottom: 1em;text-align: left;}
.values2{
   width:20%!important;
    float: right;
    display: inline;
/*    text-align: right;*/
margin-right: .5em;
}
.values21{ width:30%!important;display: inline;font-size:15px;border:1px solid #CCCCCC;    
        padding: 2px; border-radius: 5px;}
.values3{display: none;}
.values4{width:95%;float: left;font-size:15px;margin-bottom: 3em;}
.imgvalues3{display: none;}
.pdfbtn1css1{
color:#fff!important; 
    border:1px solid #BD135D!important;
    
    background-color: #3D87CE!important;

font-size: 16px;
line-height: normal;
font-weight: 300!important;
display: inline-block;
vertical-align: middle;
    margin-left: 15%;
    color: #FFFFFF;
    height: 90px;
    width: 400px;
background-color: #EF1977 !important;
    border-bottom: 2px solid #BD135D!important;
    border-radius: 2px;
    border-bottom: 2px solid #BD135D!important;
text-align: center;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
cursor: pointer;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;  
margin-bottom: 1.5em;
/*margin-top: -22em;



    color:#fff!important; 
    border:1px solid #BD135D!important;
    
    background-color: #3D87CE!important;
    font-size: 16px;
    line-height: 15px;
    font-weight: 300!important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40%;
    color: #FFFFFF;
    height: 65px;
    width: auto;
    background-color: #EF1977 !important;
    border-bottom: 2px solid #BD135D!important;
    border-radius: 2px;
    border-bottom: 2px solid #BD135D!important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: .5em;

*/
}

.addresscss{
font-family: Open Sans!important;
font-size: 14px;
font-weight: 300;
line-height: 28.8px;
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
margin-left: 30%;
margin-top: 1em;
}

.contactcss{
font-family: Open Sans!important;
font-size: 14px;
font-weight: 300;
line-height: 28.8px;
color:blue; 
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
/*margin-left: 30%;*/
/*margin-top: -10em;*/
float: left;
}
.btnImgBackcss1{
 height:35% !important;
width: 100%;
}

.RoiResultcss{
       font-family: Open Sans!important;
   font-size: 30px!important;
	text-align: left;
	font-weight: bold;
	line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;        
}

.trapezium2 {
    border-top: 35px solid #FF0066;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 125px;    
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}

.trapezium3 {
    border-top: 35px solid  #7254BC;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 147px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}

.trapezium4 {
    border-top: 35px solid  #3D87CE;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 169px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}

.trapezium5 {
    border-top: 35px solid  #30B544;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 191px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}

.trapezium6 {
    border-top: 35px solid  #989899;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
        width: 212px;
    /*margin-left: -3px;*/
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}
.trapezium1 {
    border-top: 35px solid #FF0066;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}
.trapeziumspace{
    height: 2px;
    color: #FFFFFF;
    text-align: center;
    z-index: 1;
    margin-top: -25px;
}
#table1,
#table1 tr,
#table1 td { border: 0;}
.trapeziumspace1{
    height: 1px;
}
}
            
@media only screen and (max-width: 690px){      
 h7{color: black;font-weight: 500;}
   .headerBox{   
    font-family: Open Sans!important;
    padding: 5px;   
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    height:auto;
    width:100%;
    font-size: 20px;
    table-layout: fixed;
    alignment-adjust: central;
    color: black;
}
.headline{
    text-align: justify;  
   font-size: 30px;
 font-weight: bold;
 line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;       
}

.btnImgBackcss{
    height:20%!important;
    width: 100%
}
.textboxcss{
height: 40px;
border:1px solid #CCCCCC!important;
font-size: 16px!important;
text-align: center;
border-radius: 5px;
font-weight: 300;    margin-left: 5px;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
}
table .questiontd{
color: #676767;
letter-spacing:-0.5px;
font-size: 18px!important;
line-height:15px;
text-align: center;     
}

.buttonCal{
/*margin-top: -15%;*/
font-size: 16px!important;
background-color: #3D87CE!important;
font-weight: 300!important;
display: inline-block;
vertical-align: middle;
margin-left:36%;
color:#FFFFFF;
height: 45px;
width: 150px;
clear:both;
outline:0;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
}
.bodyp{
    text-align: left;
    font-weight: 300;
    line-height: 28.8px;
    color:#676767; 
    letter-spacing:  0.5px;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
}
.bodyp1{    
    text-align: left;
 font-weight: 600;
        letter-spacing:  0.5px;
 line-height: 28.8px;
        color: #333333;
}
.bodyp2{
    text-align: left;
 font-weight: 300;
 line-height: 28.8px;
        letter-spacing:  0.5px;
        color: #676767;
}
.RoiResultsubcss{
 font-style: normal;
 font-variant: normal;
 font-weight: 300;
 line-height: 28.8px;
        float: left;
        color: #676767;
}
.tableFunneltd {
    width: 65%;}
.formulatdcss{
    width: 35%;
}
.tableFunnel{  
    width: 100%;
    height: 50%;
    margin-left:2em;
}
.tableFunnel1{
    float: left; width:50%;
             /*margin-left:2em;*/}
.tableFunnel2{
margin-top:1.5em;
float: right;
width:50%;}
.spancss1{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .3em;
      margin-left: -3em;
}
.spancss2{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .4em;  
}    
.funnelCostcss{                
font-family: Open Sans!important;
font-size: 25px;
text-align: center;
font-weight: bold;
line-height: 1.2!important;
margin-left: 10%;
color: #000;
letter-spacing: 0.8px;
-webkit-font-smoothing:antialiased;
white-space: nowrap;
}

.values{
    width: 100%;
height: 7em;
font-size: 15px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 5px 0 15px 0;
background-color: #f9fbf1;
margin-left: -.1em;margin-top:2em;}
.values1{width:70%;float: left;display: inline;font-size:15px;margin-bottom: 1em;text-align: left;}
.values2{
   width:20%!important;
    float: right;
    display: inline;
/*    text-align: right;*/
margin-right: .5em;
}
.values21{ width:30%!important;display: inline;font-size:15px;border:1px solid #CCCCCC;    
        padding: 2px; border-radius: 5px;}
.values3{display: none;}
.values4{width:95%;float: left;font-size:15px;margin-bottom: 3em;}
.imgvalues3{display: none;}
.pdfbtn1css1{
color:#fff!important; 
    border:1px solid #BD135D!important;
    
    background-color: #3D87CE!important;

font-size: 16px;
line-height: normal;
font-weight: 300!important;
display: inline-block;
vertical-align: middle;
margin-left: 5%;
    color: #FFFFFF;
    height: 100px;
    width: 350px;
background-color: #EF1977 !important;
    border-bottom: 2px solid #BD135D!important;
    border-radius: 2px;
    border-bottom: 2px solid #BD135D!important;
text-align: center;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
cursor: pointer;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;    
}

.addresscss{
font-family: Open Sans!important;
font-size: 14px;
font-weight: 300;
line-height: 28.8px;
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
margin-left: 30%;
margin-top: 1em;
}

.contactcss{
font-family:Open Sans!important;
font-size: 14px;
font-weight: 300;
line-height: 28.8px;
color:blue; 
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
/*margin-left: 30%;*/
/*margin-top: -10em;*/
float: left;
}
.btnImgBackcss1{
 height:35% !important;
width: 100%;
}

.RoiResultcss{
       font-family: Open Sans!important;
   font-size: 30px!important;
 text-align: left;
 font-weight: bold;
 line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;        
}

.trapezium2 {
    border-top: 35px solid #FF0066;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 125px;    
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}

.trapezium3 {
    border-top: 35px solid  #7254BC;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 147px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}

.trapezium4 {
    border-top: 35px solid  #3D87CE;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 169px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}

.trapezium5 {
    border-top: 35px solid  #30B544;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 191px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}  
    
    .trapezium6 {
    border-top: 35px solid  #989899;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
        width: 212px;
    margin-left: -3px;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}
.trapezium7 {   
    height: 6px;
    width: 216px;
    background-color: #989899;
    margin-left: -5px;
    margin-right: auto;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
        
}
.trapezium1 {
    border-top: 35px solid #FF0066;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
    
}
.trapeziumspace{
    height: 2px;
    color: #FFFFFF;
    text-align: center;
    z-index: 1;
    margin-top: -28px;
}
#table1,
#table1 tr,
#table1 td { border: 0;}
.trapeziumspace1{
    height: 1px;
}
      } 

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */    
@media only screen and (max-width: 480px){
    h7{color: #676767; /*#989899;*/
       font-weight: 300;}
    .headerBox{   
    font-family: Open Sans!important;
    padding: 5px;   
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    height:auto;
    width:100%;
    font-size: 20px;
    table-layout: fixed;
    alignment-adjust: central;
    color: black;  
}
.q_480{
    display: block!important;color:#676767;width:200px!important;font-family: Open Sans!important;font-size: 18px;
}
.headline{
    text-align:left;  
   font-size: 24px;
	font-weight: 300;
	line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;      
          /*display: block;*/
    word-wrap:break-word;
    width:280px;
    white-space: normal
}
.btnImgBackcss{
    height:20%!important;
    width: 100%
}
.questiontablecss1{
width: 50%!important;
    display: block;
    margin-top: -52em;
}
.questiontablecss{
width: 30%!important;
margin-right: auto;
}
.questiontd{
    display: block!important;
    height: 50px;
      width: 250px!important;
    padding: 0em 0em 0em 3em!important;
    margin: -18em 2em 10em -1em!important;
}
.questiontd td{
    color: #676767;display: none!important;
    font-size: 16px!important;
    font-weight: 100!important;
    text-align: left;
/*     padding:1em .5em 0em 3em!important;*/
    margin: .2em 2em 3em -3em!important;
}
.questiontablecss tr,td{display: block!important;}
.textboxcss{
height: 40px;
width:200px!important;
color: black;
border: 1px solid #CCCCCC;
font-size: 16px;
letter-spacing: -0.5px;
text-align: center;
border-radius: 5px;
font-weight: 300;
padding:0px;   
margin-bottom:1.9em!important;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
::-webkit-input-placeholder { color: blue; opacity: 1 !important; }
:-moz-placeholder { color: blue;}
::-moz-placeholder {color: blue;}
:-ms-input-placeholder {color: blue;}

}



.buttonCal{
/*margin-top: -8%;*/
font-size: 16px!important;
background-color: #3D87CE!important;
font-weight: 300!important;
display: inline-block;
vertical-align: middle;
margin-left:25%;
color:#FFFFFF;
height: 40px;
width: 150px;
clear:both;
outline:0;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
-webkit-transition: opacity .2s ease-out,left .2s ease-out;
margin-top:6em;
}
.buttonCal:hover{
    background-color: #3D87CE!important;
}
.footer1{    width: 100%;
   background-color:#f8f8f8!important;
  height:auto;padding:0em 1em 1em 1em;
margin-top:5em;}
#trapezoid1 {
width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 15px solid rgba(247, 105, 4, 0.78);
    border-bottom: 6px solid transparent;
    float: right;
    margin-top: -.22em; 
}
.bodyp{
    text-align: left;
    font-weight: 300;
    line-height: 28.8px;
    color:#676767; 
    letter-spacing:  0.5px;
    text-align: left;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
}
.bodyp1{    
    text-align: left;
	font-weight: 600;
        letter-spacing:  0.5px;
	line-height: 28.8px;
        color: #333333;
}
.bodyp2{
    text-align: left;
	font-weight: 300;
	line-height: 28.8px;
        letter-spacing:  0.5px;
        color: #676767;
}
.RoiResultsubcss{
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 28.8px;
        float: left;
        color: #676767;
}
.tableFunneltd {
    width: 65%;}
.formulatdcss{
    width: 35%;
}
.tableFunnel{  
    width: 100%;
    height: 50%;
    margin-left:-.1em;
}
.tableFunnel1{
    float: left; width:50%;
             /*margin-left:2em;*/}
.tableFunnel2{
margin-top:1.5em;
float: right;
width:50%;}
.spancss1{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .31em!important;
    height:29px!important;
      /*margin-left: 1em;*/
}
.spancss2{
    border:1px solid #CCCCCC;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    color:black; 
    letter-spacing:  0.5px;
    font-weight: bold;
    -webkit-transition: opacity .2s ease-out,left .2s ease-out;
    padding: .15em;
    margin-top: .4em;  
}
.funnelCostcss{                
font-family: Open Sans!important;
font-size: 15px;
text-align: center;
font-weight: bold;
line-height: 1.2!important;
margin-left: 10%;
color: #000;
letter-spacing: 0.8px;
-webkit-font-smoothing:antialiased;
white-space: nowrap;
}
.values{    width: 98%;
height: 12em;margin-top:5em;
font-size: 15px;
border: 1px solid #ccc;    border-radius: 5px;
padding:5px 0 10px 5px;
margin-left:-.1em;
    margin-bottom: -10px;
background-color: #f9fbf1;}
.values1{width:65%;float: left;display: inline;font-size:15px;margin-bottom: 1em;text-align: left;}
.values2{
    width:22%!important;
    float: right;
    display: inline;
/*    text-align: right;*/
margin-right: .5em;
}
.values21{ width:32%!important;display: inline;font-size:15px;border:none;}
.values3{display: none;}
.values4{width:95%;float: right;font-size:15px;margin-bottom: -1em;margin-left:.1em;margin-top:1em;}
.imgvalues3{display: none;}
.pdfbtn1css1{
    color:#fff!important; 
    border:1px solid #BD135D!important;
    font-size: 12px;
    line-height: normal;
    font-weight: 200!important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
    color: #FFFFFF;
    height: auto;
    width: auto;
    background-color: #EF1977 !important;
    border-bottom: 2px solid #BD135D!important;
    border-radius: 2px;
    border-bottom: 2px solid #BD135D!important;
text-align: center;
text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 1.5em;
    /* margin-top: 2em;
    
    */
}
.addresscss{
font-family: Open Sans!important;
font-size: 14px;
font-weight: 300;
line-height: 28.8px;
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
margin-left: 20%;
/*margin-top: 2em;*/
}
.contactcss{
font-family: Open Sans!important;
font-size: 14px;
font-weight: 300;
line-height: 28.8px;
color:black; 
letter-spacing:  0.5px;
-webkit-font-smoothing: subpixel-antialiased;
display: block;
margin-left: 10%;
float: left;
/*margin-top:-1em;*/
}
.btnImgBackcss1{
 height:35% !important;
width: 100%;  
}
.RoiResultcss{
       font-family: Open Sans!important;
   font-size: 30px!important;
	text-align: left;
	font-weight: bold;
	line-height: 1.2!important;
        float: left;
        color: #444;
        letter-spacing: -0.5px;
        /*font-style: inherit;*/
        -webkit-font-smoothing:antialiased;        
}
.trapezium1 {
border-top: 34px solid #FF0066;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
height: 0;
width: 29.8px;
margin-left:6em!important;
margin-right: auto;
font-size: 10px;
color: #FFFFFF;
text-align: center;
}
.trapezium2 {
border-top: 35px solid #FF0066;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
height: 0;
width:50px;
margin-left:5em;
margin-right: auto;
font-size: 10px;
color: #FFFFFF;
text-align: center;
}
.trapezium3 {
border-top: 35px solid  #7254BC;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
height: 0;
width:70px;
margin-left:4em;
margin-right: auto;
font-size: 10px;
color: #FFFFFF;
text-align: center;
}
.trapezium4 {
border-top: 35px solid  #3D87CE;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
height: 0;
width:90px;
margin-left: 3em;
margin-right: auto;
font-size: 10px;
color: #FFFFFF;
text-align: center;
}
.trapezium5 {
border-top: 30px solid  #30B544;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
height: 0;
width:110px;
margin-left: 2em;
margin-right: auto;
font-size: 10px;
color: #FFFFFF;
text-align: center;
}
.trapezium6 {
border-top: 30px solid  #989899;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
height: 0;
width:130px;
margin-left: 1.2em;
margin-right: auto;
font-size: 8px;
color: #FFFFFF;
text-align: center;
}
.trapezium7 {   
height: 6px;
width: 136px;
background-color: #989899;
margin-left: .7em;
margin-right: auto;
font-size: 10px;
color: #FFFFFF;
text-align: center;
}
.trapeziumspace{
height: 2px;
font-size: 12px;
color: #FFFFFF;
text-align: center;
z-index: 1;
line-height: 1;
}
.trapeziumspace1{
    height: 1px;
}
.textboxtd {
    width: auto!important;
    
}
}
