.formcss{
    /*background-color: white;*/
    float:right;
    width: 50%; 
    height: auto;//150%;
}
.privacycss{
    width: 350px!important;
    line-height: 1.3;
    margin-left: 11px!important;
    font-size: 11.2px;
    font-family: "Open Sans",sans-serif!important;
    color:#333!important;
}
.firstdivcss{
/*    background-color: red;*/
    width: 550px!important; 
    height: 100%;
    float: left!important;
}

input[type=text]:focus, textarea:focus {
 outline: none;//width:455px!important;
 border:1px solid #3d87cf !important;
}

.txtcss{
/*    background-color: blue;*/
text-align: center;
height: 35%;
/* vertical-align: middle;*/
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
margin-top: 25px;
width:100%;
margin-left: 10%;
margin-right: auto;
}

.imgcssdiv{
/*   background-color: green;*/
   text-align: center;
   margin-top: 5%;
      width: 70%!important;
      overflow: hidden;
    object-fit: cover;
     background-size: cover;
}
.image-container {
  background-image: url('http://web.jobvite.com/rs/703-ISJ-362/images/Q216_mobile_app_announcement_LP.png');
  background-size:cover;
  background-repeat:no-repeat;
  width: 70%!important;
     height: 150px;
    text-align: center;
    margin-left: 20%;
    margin-top: 7.5%; 
}
.imgcss{
   /*width: 70%!important;*/
    height: auto;
    /*margin-top: -5%;*/
    left: 100px; 
    margin-bottom: -75px;
    position: absolute; 
    /*bottom: 0;*/ 
    /*margin: 0 auto;*/ 
    text-align: center; 
    display: block; 
}

.divbackcss{
    background-color:#3D87CE;   
    height: 332px;//50%;
    width: 100%;
}

.bannerdiv{
    /*background-color: red;*/
    padding: 19px;
    float:left;
}
#table1,
#table1 tr,
#table1 td { border: 0; }

.mktInput{
    float: right;
}

.txtoutbannercss{
    //color:#4294DE;
    font-size:18px;
    font-family: "Open Sans",sans-serif!important;
    //text-align: center;
    line-height: 1.4;
}

.poutofbannercss{
  color:#333!important;
    font-size:19px!important;
    font-family: "Open Sans",sans-serif!important;
    text-align: left;
    font-weight: 600!important;
    line-height: 1.2!important;
}
.percentagecss{
    font-family: "Open Sans",sans-serif!important;
    text-align: left;
    font-size:14px;
}

.pcss{    
    color:white;
    font-size:30px!important;
    font-family: "Open Sans",sans-serif!important;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    
}

.trackingcss{
/*    width: 36%!important;
    float: left;
    margin-left: 115px!important;*/
margin-bottom: 2%; //width:50%;
}
.contentcss{
  background-color: #f1f1f1;  
  width: 380px!important;
  height: 450px;    
  border-radius: 3px;    
  margin-left: 5.4%;// 3.6%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 1px 3px 1px rgb(0,0,0.15);
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
  font-family: "Open Sans",sans-serif!important;
}

.boxformcss{
    
}

.shape {
    border-top: 20px solid black;
    border-left: 20px solid transparent;
    height: 0;
    width: 0;   
    //margin-top: -32%;
    
}

.Submitbtncss{    
}

.blackboxcss{
   font-family: "Open Sans",sans-serif!important;
   background-color: #444; 
   width: 320px; 
   height: 45px;
   border:1px solid #444; 
   display: flex; 
}

.blackBox{
    /*margin-top: -465px!important;*/
    margin-top: -2%!important;
    z-index:1;
    margin-left: 1.2%;
    position: absolute; 
}

.formContentcss{
float:left!important;
margin-top: 7%!important;
}

.h3css{
   text-align: center!important;
   color: white;
   width:auto;
   font-size: 20px!important;
   font-family: "Open Sans",sans-serif!important;
   margin-left: auto!important;
   margin-right: auto!important;
   vertical-align: middle!important;
   margin-top: 9px;
   font-weight: 400;
}

.tablecss{
    margin-left: 2%;  
    width: 50%;
    height: 90%;
}

.lblcss{
    font-family: "Open Sans",sans-serif!important;
    font-size:1.1em;
    color:#666;
    font-weight: bolder;
    float:left;
    line-height: 1.2em;
    width: 180px!important;
}

.lblcss1{
    font-family: "Open Sans",sans-serif!important;
    font-size:16px;
    color:#333!important;
    line-height: 1.3em!important;     
    font-weight: 500!important;
    display: block;
    text-align: left!important; 
  margin-left: 40px!important;/*  margin-left: 25px!important;*/
margin-top: 12px;
}

.divbtncss{
	margin-top: -30px!important;
    margin-left: auto;
    margin-right: auto;
}
.pdfGeneration{    
    border:1px solid #BD135D!important;
    padding:1.1em 1.1em 0.8em 1.1em !important;
    background-color: #EF1977 !important;
    background-image: none!important;
    border-bottom: 2px solid #BD135D!important;
    border-radius: 2px;
    min-width: 165px;
    text-transform: uppercase;
    font-weight: 600;
    /*cursor: point;*/
    color:#fff!important;
    font-size: 1.3em!important;
    margin-left: 20%!important;
}

.astrict{
    color:red;    
    float:left;
}

.mktFReq{
    width: 150px!important;
    height: 29px!important;
    border-radius: 2px!important;
    border:2px;
    -mox-box-sizing:border-box;
    box-sizing: border-box;
    border:1px solid #D9DAD9 !important;
    font-family: "Open Sans",sans-serif!important;
    color:#333333;
    float:right;
/*    line-height: 1.2em;*/
background-color: #FFFFFF!important;
    
}
select::-ms-expand {    
    border:none; -moz-appearance: none; 
/*    -webkit-appearance: none; 
    appearance: none;*/
    background-color: transparent;
}
.mktFormSelect{
    border-radius: 0px!important;
    border:1px solid #333333!important;
    height: 29px!important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
     color:#333333;
    padding: 5px!important;
}

.bannertxtcss{
    color:white;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5px;
}

/* Z-INDEX */
 .formError { z-index: 990; }
    .formError .formErrorContent { z-index: 991; }
    .formError .formErrorArrow { z-index: 996; }

    .ui-dialog .formError { z-index: 5000; }
    .ui-dialog .formError .formErrorContent { z-index: 5001; }
    .ui-dialog .formError .formErrorArrow { z-index: 5006; }




.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
	text-align: left;
}

.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}

.formError .formErrorContent {
	width: 100%;
	background: #FFEEEE;
	position:relative;
	color: #666666;
	min-width: 120px;
	font-size: 12px;
	border: 2px solid #CC0000;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #CC0000;
	border-right: 2px solid #CC0000;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	-o-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #FFEEEE;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #CC0000/*#ddd*/;
	border-right: 2px solid #CC0000;
	border-bottom: 0 solid #CC0000;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #CC0000;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #CC0000;
}

#menu li{   
    color:transparent;
}

@media only screen and (min-width: 1120px){
    .container{
        padding: 0px !important;
    }
    .contentcss{
        margin-top: 10%;
	height: 470px!important;
    }
    .trackingcss{width:45%!important;}
}
@media only screen  and (max-width: 1120px) and (min-width: 1000px){
    .container{
        padding: 0px !important;
    }
    .contentcss{
        margin-top: -54%;
	height:460px!important;
    }
    .trackingcss{width:45%!important;}
}
@media only screen and (max-width: 1000px) and (min-width: 800px){
    .container{
        max-width: 100% !important;
    }
    .contentcss{
        margin-top: -54%;
        margin-left: 3.4%;
	height: 500px!important;
    }
    .formcss{
        height:80%!important;
    }
    .trackingcss{width:45%!important;} 
    .image-container{
        width: 60%!important;
        margin-left: 10%;
        margin-top: 7.5%;
    }
    .blackBox{
        margin-left: -.4%;
    }
    .privacycss{
        margin-top: 1%;
    }
}
@media only screen and (max-width: 800px) and (min-width: 690px){
    .container{
        max-width: 100% !important;
    }
    .trackingcss{
        width:90%!important;}
    
    .divbackcss{
        width: auto;      
        background-color: #36648B!important;
    }
    .blackBox{
        display: none;
    }
    .privacycss{
        display: none;
    }
    .contentcss{
        margin-top: 48%;
        margin-left: -92%;
        width:186%!important;
        height:680px!important;
    }
    .formcss{
        height:270%!important;
    }
    .astrict{float:none!important;}
    .mktFReq {
        width: 200%!important;float:none!important;
        
    }
    .mktInput{
         width: 120%!important;float:none!important;
    }
   
.lblcss{
    width: auto!important;
}
/*.main-content ul li {
	list-style:  disc!important;
	list-style-position: outside;
}
.main-content ul li mktFReq{
	margin-top: 0%;
}*/
.formContentcss{
    margin-top: 0%!important;height: 850%!important;
}
.poutofbannercss{
    width:200%!important;
}
.pdfGeneration{
    margin-top: 0%;
    margin-left: 70%!important;
}
.lblcss1{
    z-index: 100;
    position: absolute;
    text-align: justify!important;
}
}

@media only screen and (max-width: 690px) and (min-width: 480px){
    .container{
        max-width: 100% !important;
    }
    .firstdivcss{
        width:100%!important;
    }
    .image-container{
        width: 90%!important;
        margin-left: 10%;
        margin-top: 10%;
    }
    .divbackcss{
        width: auto;      
        background-color: #36648B!important;
    }
    
    .blackBox{
        display: none;
    }
    .privacycss{
        display: none;
    }
    .contentcss{
        margin-top: 90%;
        margin-left: -92%;
        width:200%!important;
        height:680px!important;
    }
    .formcss{
        height:270%!important;
    }
    .astrict{float:none!important;}
    .mktFReq {
        width: 130%!important;float:none!important;
        
    }
    .mktInput{
         width: 120%!important;float:none!important;
    }
   

.lblcss{
    width: auto!important;
}
/*.main-content ul li {
	list-style:  none!important;
	list-style-position: outside;
}*/
.formContentcss{
    margin-top: 0%!important;height: 850%!important;
}
.poutofbannercss{
    width:200%!important;
}
.pdfGeneration{
    margin-top: 10%;
    margin-left: 30%!important;
}
.lblcss1{
    z-index: 100;
    position: absolute;
}
    
}

@media only screen and (max-width: 480px) and (min-width: 0px){
    .container{
        max-width: 100% !important;
    }
    .firstdivcss{
        width:80%!important;
        margin-left: 10%;
    }
    .image-container{
/*       background-size: contain; 
       width: 100%!important;
       height: 100%;
        margin-left: 7%;
        margin-top: 46.5%;*/
width: 90%!important;background-size: contain; height:100%;
        margin-left: 18%;//margin-left: 23%;
        margin-top: 36.6%;//margin-top: 17%;
    }
    .divbackcss{
        width: auto;      
        background-color: #36648B!important;
    }
    .blackBox{
        display: none;
    }
    .privacycss{
        display: none;
    }
    .formcss{
        height:280%!important;
    }
    .contentcss{
        margin-top: 174%;
        margin-left: -92%;
        width:180%!important;
        height:670px;
    }
    .astrict{float:none!important;}
    .mktFReq {
        width: 95%!important;float:none!important;
        
    }
    .mktInput{
         width: 120%!important;float:none!important;
    }
   

/*.main-content ul li {
	list-style:  none!important;
	list-style-position: outside;
}*/
.lblcss{
    width: auto!important;
}
.formContentcss{
    margin-top: 0%!important;
    height: 850%!important;
}
.poutofbannercss{
    width:200%!important;
}
.pdfGeneration{
    margin-top: 10%;
    margin-left: 14%!important;
}
.lblcss1{
    z-index: 100;
    position: absolute;
}

}

.overlay_mkto_miniROI
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 1200px;
    width: 1200px;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
/*    background-image: url('../image/pleasewait.gif');*/
}