@charset "UTF-8";

.u-facet_module{
	padding: 15px 10px 0 10px;
	border-top: solid 1px #E6E6E6;
	margin-bottom: 15px;
}

.mod-facet_appList dt{
	margin-bottom: 8px;
	color: #666;
	font-size: 12px;
}

.mod-facet_appList dd{
	display: table;
	margin-bottom: 15px;
}

.mod-facet_appListIcon,
.mod-facet_appDownloadList{
	display: table-cell;
	vertical-align: top;
}

.mod-facet_appListIcon{ padding-right: 10px; }

.mod-facet_appDownloadList li{
	margin-top: 2px;
	font-size: 12px;
}

.mod-facet_appDownloadList li:first-child{ margin-top: 0; }

.mod-facet_appDownloadList .u-hoverLink{ display: block; }

.mod-facet_appSnsList:after{
	content: "";
	clear: both;
	display: table;
}

.mod-facet_appSnsList li{
	float: left;
	margin-left: 5px;
}

.mod-facet_appSnsList li:first-child{ margin-left: 0; }

.icon.mod-facet_iconNewsMail{
	padding-left: 34px;
	font-size: 12px;
	background: url(/cm/0000/sc_image/inc/p_osa0040001/bg-icon-newsMail.png) 0 0 no-repeat;
}






/*---------------------------------------------------------------------*/




.rightcolapp .mod-facet_appListIcon img{width:60px; height:auto;}

.rightcolapp .mod-facet_appDownloadList{width:210px;}


