@charset "UTF-8";
/*
/*----------------------
*elements.css
【概要】共通スタイルの設定
*PC版
	-要素
	-カラム定義
	-共通パーツ
	-ヘッダー
	-フッター
	-ナビゲーション
	-検索
	-お知らせエリア
	-ファセット
	-ぱんくず
----------------------*/

/*----------------------

*要素

----------------------*/


body{
	color: #333;
	font-family: "モトヤLシーダ3等幅", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "helvetica", sans-serif;
	font-family: sans-serif\9;
	font-size: 16px;
	line-height: 1.5;
	word-break: break-all;
	word-wrap: break-word;
}

body:not(:target){ font-family: "モトヤLシーダ3等幅", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "helvetica", sans-serif\9; }

a{
	color: #225496;
	text-decoration: underline;
}

a:hover{
	color: #D43500;
	text-decoration: underline;
}

a:hover img{ opacity: 0.7; }

img{
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
}

b,
em,
strong{ font-weight: bold; }

/* Android版Chrome用hack */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl{ max-height: 100%; }

@media (max-width: 1000px){
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li,
	dt,
	dd{ background-image: url(/co/common/images/bg-text.png); }
}


/*----------------------

*RIA用定義

----------------------*/

#wrapper .is-disabled .is-hide{ display: none; }

.is-pointer{ cursor: pointer; }

.is-hide{ display: none; }

/*----------------------

*カラム定義

----------------------*/

#wrapper{ min-width: 1000px; }

#header{
	min-width: 1000px;
	margin-bottom: 20px;
}

#mainContent{
	margin-bottom: 60px;
	padding: 0 10px;
}

#footer{ clear: both; }

.row{
	clear: both;
	margin-bottom: -20px;
}

.row:after{
	content: "";
	clear: both;
	display: table;
}

/* ミニ商品詳細ウィンドウ */
.miniItemDetailWindow #wrapper,
.miniItemDetailWindow #header{
	min-width: 880px;
}

.miniMapWindow #wrapper{
	min-width: auto;
}
.miniMapWindow #mainContent{
	margin-bottom: 0;
}
/* カラムリセット用クラス */

.oneColumnWrap{ clear: both; }

/* 汎用2カラム */
.row.col2Wrap{ padding-right: 20px; }


.col2Inner{
	float: left;
	width: 50%;
	margin-right: 20px;
}

.col2Inner.last{ margin-right: -20px; }

/* 汎用3カラム */
.row.col3Wrap{ padding-right: 80px; }

.col3Inner{
	float: left;
	width: 33.3%;
	margin-right: 40px;
}

.col3Inner.last{ margin-right: -80px; }

/*----------------------
**FR-02
----------------------*/
.col2FasetLeft .mainColumn{
	float: left;
	width: 100%;
}

.col2FasetLeft .columnInner{ margin-left: 200px; }

.col2FasetLeft .mainColumn + .faset{ margin-left: -100%; }

/*----------------------
**FR-02_01
----------------------*/
.col2FasetLeft .faset{
	float: left;
	position: relative;
	width: 180px;
	margin-right: -100%;
}


/*----------------------
**FR-02_02
----------------------*/
.col2FasetLeft.var-col1 .mainColumn{
	float: none;
}

.col2FasetLeft.var-col1 .columnInner{ margin-left: 0; }

/*----------------------
**FR-03
----------------------*/

.productContent{ margin-bottom: 40px; }

.productContent:after{
	clear: both;
	content: "";
	display: table;
}

.productContentImg{
	float: left;
	width: 355px;
}

.productContentDetails{
	margin-left: 375px;
}


/*----------------------
**FR-05
----------------------*/
.col3FasetRight{ margin-bottom: 20px; }

.col3FasetRight .mainColumn{
	width: 100%;
	float: left;
	margin-right: -250px;
}

.col3FasetRight .columnInner{ margin-right: 250px; }

.col3FasetRight .columnInnerLeft{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-right: 10px;
}

.col3FasetRight .columnInnerRight{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-left: 10px;
}

.col3FasetRight .faset{
	float: right;
	width: 230px;
}

/*----------------------
**FR-06
----------------------*/

.col3 .mainColumn{
	width: 100%;
	float: left;
	margin-right: -320px;
}

.col3 .mainColumn .columnInner{
	margin: 0 320px 0 200px;
}

.col3 .fasetPrimary{
	width: 180px;
	float: left;
	margin-right: -200px;
	position: relative;
}

.col3 .fasetSecondary{
	float: right;
	width: 300px;
	position: relative;
}

/*----------------------
**FR-07,FR-08,FR-09,FR-10
----------------------*/

.widthFixedContent{
	width: 980px;
	margin: 0 auto 0 auto;
}

.col2FasetRight.row{
	display: table;
	width: 100%;
}

.col2FasetRight.row > form:first-child{
	display: table;
}

.col2FasetRight .mainColumn{
	width: 100%;
	min-width: 980px;
	float: left;
	margin-right: -230px;
}

.col2FasetRight .columnInner{ margin-right: 250px; }

.col2FasetRight .faset{
	width: 230px;
	position: relative;
}


/*----------------------
**FR-11
----------------------*/

.col2FasetRightTable{
	display: table;
	width: 100%;
}

.col2FasetRightTable .mainColumn,
.col2FasetRight .faset{
	display: table-cell;
	vertical-align: top;
}

.col2FasetRightTable .mainColumn{
	width: 100%;
	padding-right: 20px;
}

.col2FasetRightTable .faset{ width: 230px; }


/*----------------------
**FR-POP
----------------------*/

#popupWrapper{ min-width: 720px; }


/*----------------------
**FR-TP01
----------------------*/

.topFasetRight .mainColumn{
	width: 100%;
	float: left;
	margin-right: -300px;
}

.topFasetRight .columnInner{ margin-right: 320px; }

.topFasetRight .faset{
	float: right;
	width: 300px;
	position: relative;
}


/*----------------------
**FR-TP02
----------------------*/

.row.topFaset3col .col2FasetLeft.row{ margin-bottom: 0; }

.topFaset3col > .mainColumn{
	width: 100%;
	float: left;
	margin-right: -300px;
}

.topFaset3col > .columnInner{ margin-right: 320px; }

.topFaset3col > .faset{
	float: right;
	width: 300px;
	position: relative;
}

.topFaset3col .col2FasetLeft .columnInner{ margin-right: 320px; }

.is-tablet .topFaset3col > .mainColumn{
	width: 100%;
	float: none;
	margin-right: 0;
}

.is-tablet .topFaset3col > .columnInner{ margin-right: 0; }

.is-tablet .topFaset3col > .faset{
	clear: both;
	float: none;
	width: auto;
	margin-top: 20px;
	margin-left: 200px;
}

.is-tablet .topFaset3col .col2FasetLeft .columnInner{ margin-right: 0; }

.topFaset2col .col2FasetLeft{ margin-bottom: 0; }

/*----------------------
**FR-TP03
----------------------*/

.topFasetLeft{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.topFasetLeft .mainColumn{
	width: 100%;
	float: right;
	margin-left: -300px;
}

.topFasetLeft .columnInner{ margin-left: 320px; }

.topFasetLeft .faset{
	float: left;
	width: 300px;
}

/*----------------------
**FR-nanaco01
----------------------*/

.row.nanacoFasetRight{ margin: 0 auto 0 auto; }

.nanacoFasetRight .mainColumn{
	width: 100%;
	float: left;
	margin-right: -300px;
}

.nanacoFasetRight .columnInner{ margin-right: 320px; }

.nanacoFasetRight .faset{
	float: right;
	width: 300px;
}



/*----------------------

*共通パーツ

----------------------*/

/*heading*/

.h1ProductName{
	margin-bottom: 30px;
	padding-bottom: 0;
	font-size: 18px;
	font-weight: bold;
	border: none;
}

h1,
.headingH1{
	margin-bottom: 20px;
	padding-bottom: 5px;
	font-size: 24px;
	line-height: 1.3;
	border-bottom: solid 3px #F2F2F2;
}

h2,
.headingH2{
	margin-top: 40px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: solid 3px #F2F2F2;
	font-size: 18px;
}

.headingH1 em,
h2 em,
.headingH2 em{ font-weight: normal; }

h3,
.headingH3{
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	background-color: #F2F2F2;
}

.headingH3 h3{
	display: inline;
	margin: 0;
	padding: 0;
}

.headingH3Txt{
	display: inline;
	margin-left: 0.5em;
	font-weight: normal;
	font-size: 12px;
}

h1 + h2,
h1 + headingH2,
headingH1 + headingH2,
h2 + h3,
h1 + .headingH3,
h2 + .headingH3{ margin-top: 20px; }

h4,
.headingH4{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}

h5,
.headingH5{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: bold;
}


/*text*/

.txtNormal{
	margin-bottom: 20px;
	word-break: normal;
}

.txtSS{ font-size: 12px !important; }

.txtS{ font-size: 14px !important; }

.txtM{ font-size: 16px !important; }

.txtL{ font-size: 18px !important; }

.txtLL{ font-size: 20px !important; }

.txtLeft{ text-align: left !important; }

.txtCenter{ text-align: center !important; }

.txtRight{ text-align: right !important; }

.txtAlert{ color: #C00 !important; }

.txtAttention{ color: #D43500 !important; }

.txtSale{ color: #933 !important; }

.txtDelete{ text-decoration: line-through !important; }

.txtDelete .u-unit{ padding:0; }

.txtDelete .u-inTax{ font-size: 14px; }

.txtDelete .u-dash{ padding:0; }

.txtDelete b{ font-weight: 100; }

.txtNotes{ color: #666; }

.txtAlert .txtNotes{ color: #666 !important; }

.bulletNotes{
	display: block;
	position: relative;
	padding-left: 1em;
	text-indent: -1em;
	word-break: normal;
}

.bulletNotes:before{
	content: "\00203b";
	position: relative;
	left: 0;
}

.bulletError{
	display: block;
	position: relative;
	margin-bottom: 7px;
	padding-left: 1.125em;
}

.bulletError:before{
	content: "\0025bc";
	position: absolute;
	top: 0;
	left: 0;
}

.txtLeadL{ line-height: 1.75; }

.txtLeadS{ line-height: 1.3; }

/*lists*/

ul.listNormal{
	margin: 20px;
	word-break: normal;
}

ol.orderNormal{
	margin: 20px;
	counter-reset: li;
	word-break: normal;
}

ul.listNormal > li,
ol.orderNormal > li{
	position: relative;
	margin: 0 0 5px 1.25em;
	text-indent: -1.25em;
}

ul.listNormal > li .bullet,
ol.orderNormal > li .bullet{ text-indent: 0; }



ul.listNormal > li:before,
ol.orderNormal > li:before{
	display: inline-block;
	position: relative;
	top: 0;
	left: 1.25em;
	width: 1.25em;
	color: #999;
}

ul.listNormal.txtCenter > li:before,
ol.orderNormal.txtCenter > li:before{
	left: 0.5em;
	left: 1.25em\9;
}

ul.listNormal.txtCenter > li:not(:target):before,
ol.orderNormal.txtCenter > li:not(:target):before{ left: 0.5em\9; }

ul.listNormal.txtRight > li:before,
ol.orderNormal.txtRight > li:before{
	left: -.25em;
	left: 1.25em\9;
}

ul.listNormal.txtRight > li:not(:target):before,
ol.orderNormal.txtRight > li:not(:target):before{ left: -.25em\9; }

ul.listNormal > li:before{
	content: "\0025c6";
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

ol.orderNormal > li:before{
	content: counter(li)".";
	counter-increment: li;
	font-weight: bold;
}

/*link*/

.boxedLink{
	display: inline-block;
	padding: 2px 5px 1px 5px;
	text-decoration: none;
	background-color: #F2F2F2;
	border-radius: 3px;
}

.boxedLink.bulletNotes{ padding-left: 1.4em; }

.boxedLink.bulletNotes:before{ left: 0.4em; }


.bullet{
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
}

.bullet:hover{
	color: #D43500 !important;
	text-decoration: underline;
}

.bullet.bulletLink.txtM{ background-position: 2px 0.4em; }

.bullet.bulletLink.txtSS{ background-position: 2px 0.3em; }

.bulletLink{
	padding-left: 15px;
	background-image: url(/co/common/images/bg-icon-arrow-09.png);
	background-position: 2px 0.35em;
}

.bulletLinkExternal{
	background-image: url(/co/common/images/bg-icon-link-external.png);
	padding-left: 17px;
	background-position: 0 0.35em;
}

.bulletIndexUp{
	padding-left: 17px;
	background-image: url(/co/common/images/bg-icon-index-up.png);
	background-position: 0 0.35em;
}

.bulletIndexDown{
	padding-left: 17px;
	background-image: url(/co/common/images/bg-icon-index-down.png);
	background-position: 0 0.35em;
}

.bulletLinkModal{
	padding-left: 19px;
	background-image: url(/co/common/images/bg-icon-link-modal.png);
	background-position: 0 0.35em;
}

dl.listDropDown{ position: relative; }

dl.listDropDown dt .listBtn{
	position: relative;
	padding-right: 12px;
	color: #333;
	text-decoration: none;
}

dl.listDropDown dt .listBtn:hover{ text-decoration: none; }

dl.listDropDown dt .listBtn:after{
	content: "";
	position: absolute;
	top: 0.4em;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-width: 4px 4px 0 4px\9;
	border-color: #999 transparent transparent transparent;
}

dl.listDropDown dt .listBtn:not(:target):after{ border-width: 5px 4px 0 4px\9; }

dl.listDropDown dt .listBtn:before{ content: none; }

dl.listDropDown dd{
	display: none;
	position: absolute;
	z-index: 9;
}

dl.listDropDown.is-selected dd{ display: block; }

dl.listDropDown ul{
	width: 168px;
	border: solid 1px #B3B3B3;
	border-radius: 4px;
	box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

dl.listDropDown li{
	padding: 3px;
	border-top: solid 1px #CCC;
	background-color: #FFF;
}


dl.listDropDown li:first-child{
	border-top: none;
	border-radius: 4px 4px 0 0;
}

dl.listDropDown li:last-child{ border-radius: 0 0 4px 4px; }

dl.listDropDown li:hover{
	border-top-color: #E6E6E6;
	background-color: #F2F2F2;
}

dl.listDropDown li.is-active{ background-color: #666; }

dl.listDropDown .dropDownLink{
	display: block;
	padding: 6px 16px;
	color: #333;
	font-size: 14px;
	text-decoration: none;
}

dl.listDropDown .dropDownLink:hover{ text-decoration: none; }

dl.listDropDown .is-active .dropDownLink{
	color: #FFF;
	font-weight: bold;
}

.pipedLink:after{
	content: "";
	display: table;
	clear: both;
}

.pipedLink li{ float: left; }

.pipedLink .u-hoverLink{
	display: block;
	color: #767676;
}

.pipedLinkTxt{
	display: inline-block;
	vertical-align: middle;
	padding: 0 0.9em 0 0.9em;
	line-height: 1.2;
	border-left: solid 1px #CCC;
}

.u-hoverLink > .pipedLinkTxt:hover{ text-decoration: underline; }

.pipedLink li:first-child .pipedLinkTxt{
	padding: 0 0.9em 0 0;
	border-left: none;
}

.pipedLink li .pipedLinkTxt.bullet{
	padding-left: 2em;
	background-position: 1.2em center;
}

.pipedLink li:first-child .pipedLinkTxt.bullet{
	padding-left: 1em;
	background-position: 0.3em center;
}

/*breadcrumb*/

.breadcrumbWrap{
	margin: 20px 0 20px 0;
	overflow: hidden;
}

ol.breadcrumb li{
	float: left;
	padding-left: 20px;
	font-size: 12px;
	background: url(/co/common/images/bg-icon-arrow-03.png) 7px center no-repeat;
}

ol.breadcrumb li:first-child{
	padding-left: 0;
	background: none;
}

.breadcrumbLink{
	color: #767676;
	text-decoration: none;
}

.breadcrumbLink:hover{ text-decoration: underline; }


/* login, share */

.listShare{
	margin: 20px 0 20px 0;
	font-size: 0;
}

.listShare dt,
.listShare dd{
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
}

.listShare dt{ width: 65px; }

.listShare dd{ margin-left: 10px; }

.listShare dt + dd{ margin-left: 0; }


/* btn_shoppinglist_m01 */

.addingBox{ position: relative; }

.addingBox .boxBalloon{
	display: none;
	position: absolute;
	bottom: 6px;
}

.addingBox.is-selected .boxBalloon{ display: inline-block; }

.addingBox .boxBalloon:after,
.addingBox .boxBalloon:before{ left: 33%; }


/*table*/

.table{
	width: 100%;
	margin-bottom: 20px;
	font-size: 14px;
	border-top: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
}

caption .txtNormal{ margin-bottom: 10px; }

.tableSummary{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

.table	> thead > tr > th,
.table	> tbody > tr > th{
	padding: 10px;
	border-top: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	background-color: #F2F2F2;
	border-left: solid 1px #E6E6E6;
}

.table th[scope="col"],
.table th[scope="colgroup"]{ text-align: center; }

.table th[scope="row"],
.table th[scope="rowgroup"]{ text-align: left; }

.table	> thead > tr > td,
.table	> tfoot > tr > td,
.table	> tfoot > tr > th,
.table	> tbody > tr > td{
	padding: 10px;
	border-top: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	border-left: solid 1px #E6E6E6;
}

.table > thead > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tfoot > tr > th:first-child,
.table > tfoot > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tbody > tr > th + td{ border-left: none; }


.table.tableAddress .cellDelete{
	width: 60px;
	text-align: center;
}

.table .cellDeleteLink{
	display: inline-block;
	padding: 3px 3px 3px 11px;
	background: url(/co/common/images/bg-icon-delete.png) 0 center no-repeat;
}

.cellDeleteLink{ text-decoration: none; }

.table .cellCheck .formLabel{
	width: 25px;
	height: 26px;
	padding: 15px 10px 15px 10px;
}

.table .cellCheck input[type=checkbox]{
	top: 18px;
	left: 15px;
}

.table .cellCheck .labelTxt{
	display: inline-block;
	display: none\9;
	width: 25px;
	height: 26px;
	background: url(/co/common/images/bg-btn-checkbox-l.png) center 0 no-repeat;
}

.table .cellCheck .labelTxt:not(:target){ display: inline-block\9; }

.table .cellCheck input[type=checkbox] + .labelTxt:hover,
.table .cellCheck input[type=checkbox]:focus + .labelTxt{ background: url(/co/common/images/bg-btn-checkbox-l.png) center -138px no-repeat; }

.table .cellCheck input[type=checkbox]:checked + .labelTxt{ background: url(/co/common/images/bg-btn-checkbox-l.png) center -275px no-repeat; }

.table td.cellPrice{
	width: 100px;
	text-align: right;
}

.table td .inTax{ font-size: 10px; }

.table.tableAddress{ width: 100%; }

.table.tableAddress td{
	width: 12.5%;
	border-left: solid 1px #E6E6E6;
}

.table.tableAddress th{ border-left: solid 1px #E6E6E6; }

.table.tableAddress tfoot td{
	padding: 0;
	border-left: none;
}

.table.tableAddress .cellCheck{ border-left: none; }

.table.tableAddress tfoot td .btnWrap{ float: right; }

.table.tableAddress .cellCheck{ width: 50px; }

.table.tableAddress .cellDelete{ width: 60px; }


/*button*/

.btnWrap{ font-size: 0; }

.btnWrap:after{
	content: "";
	clear: both;
	display: table;
}

.btnWrap > li{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.btnWrap > li:first-child{ margin-left: 0; }

.btnStrongest,
.btnStrong,
.btnFunction,
.btnNormal{
	display: table;
	position: relative;
	margin-bottom: 0;
	text-align: center;
	border-collapse: separate;
	border-radius: 4px;
}


.linkBtn{
	display: table-cell;
	line-height: 1.2;
	vertical-align: middle;
	border: solid 1px transparent;
	border-radius: 4px;
	background: none;
	box-sizing: content-box;
	cursor: pointer;
	-webkit-appearance: none;
}

button.linkBtn{
	font-family: "モトヤLシーダ3等幅", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	font-size: 100%;
}


.linkBtnL,
.linkBtnM,
.linkBtnS{ max-width: 480px; }

.specialLinkBtn{
	font-size: 21px;
	min-height: 66px;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
}

.specialLinkBtn:hover{
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
}

.linkBtnL{
	font-size: 14px;
	min-height: 44px;
}

.linkBtnM{
	font-size: 14px;
	min-height: 34px;
}

.linkBtnS{
	font-size: 12px;
	min-height: 24px;
}

.specialLinkBtn .linkBtn{
	min-width: 438px;
	min-height: 42px;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
}

.linkBtnL .linkBtn{
	min-width: 188px;
	min-height: 22px;
	padding: 10px 20px 10px 20px;
}

.linkBtnM .linkBtn{
	min-width: 188px;
	min-height: 22px;
	padding: 5px 20px 5px 20px;
}

.linkBtnS .linkBtn{
	min-width: 138px;
	min-height: 18px;
	padding: 2px 10px 2px 10px;
}

.specialLinkBtn a.linkBtn{ height: 42px; }

.linkBtnL a.linkBtn{ height: 22px; }

.linkBtnM a.linkBtn{ height: 22px; }

.linkBtnS a.linkBtn{ height: 18px; }

.linkBtnS .icon{
	min-height: 15px;
	padding-top: 1px;
}

.linkBtnL.flexible .linkBtn,
.linkBtnM.flexible .linkBtn,
.linkBtnS.flexible .linkBtn{ min-width: 0; }

.btnStrong,
.btnStrongest{
	background-color: #F59B14;
	background-image: -webkit-linear-gradient(top, #F59B14 0%, #E99312 100%);
	background-image: -ms-linear-gradient(top, #F59B14 0%, #E99312 100%);
	background-image: linear-gradient(to bottom, #F59B14 0%, #E99312 100%);
}

.btnStrong:hover,
.btnStrongest:hover{
	background-color: #EDA943;
	background-image: -webkit-linear-gradient(top, #EDA943 0%, #E99315 100%);
	background-image: -ms-linear-gradient(top, #EDA943 0%, #E99315 100%);
	background-image: linear-gradient(to bottom, #EDA943 0%, #E99315 100%);
}

.btnStrongest .linkBtn,
.btnStrong .linkBtn{
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.btnStrongest .bulletLinkExternal,
.btnStrong .bulletLinkExternal{ background-image: url(/co/common/images/bg-icon-link-external-02.png); }

.btnStrongest .bullet:hover,
.btnStrong .bullet:hover{
	color: #FFF !important;
	text-decoration: none;
}

.btnFunction{
	background-color: #F5F5F5;
	background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(top, #F5F5F5 0%, #F2F2F2 100%);
	background-image: linear-gradient(to bottom, #F5F5F5 0%, #F2F2F2 100%);
}

.btnFunction:hover{
	background-color: #F2F2F2;
	background-image: none;
}

.btnFunction .linkBtn{
	border: solid 1px #CCC;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

.btnFunction:hover .linkBtn{
	color: #D43500;
	text-decoration: underline;
	border-color: #B2B2B2;
}

.btnFunction.cartBtn:hover .linkBtn{ text-decoration: none; }

.js-productInfoDefaultBtn{ cursor: not-allowed; }

.linkBtn[disabled]{ cursor: text; }

.btnStrong .linkBtn.is-disabled,
.btnStrong .linkBtn[disabled],
.btnStrong:hover .linkBtn.is-disabled,
.btnStrong:hover .linkBtn[disabled],
.cartBtn.btnStrong:hover .linkBtn[disabled],
.cartBtn.btnStrongest:hover .linkBtn[disabled],
.btnStrongest .linkBtn.is-disabled,
.btnStrongest .linkBtn[disabled],
.btnStrongest:hover .linkBtn.is-disabled,
.btnStrongest:hover .linkBtn[disabled]{
	color: #F2DFC2;
	background-color: #E8B972;
	background-color: #F7EAD7\9;
}

.btnStrong .linkBtn[disabled]:not(:target),
.btnStrong:hover .linkBtn[disabled]:not(:target),
.cartBtn.btnStrong:hover .linkBtn[disabled]:not(:target),
.cartBtn.btnStrongest:hover .linkBtn[disabled]:not(:target),
.btnStrongest .linkBtn[disabled]:not(:target),
.btnStrongest:hover .linkBtn[disabled]:not(:target){ background-color: #E8B972\9; }

.cartBtn.btnFunction .linkBtn[disabled],
.btnFunction .linkBtn[disabled]{
	color: #CCC;
	border-color: #E6E6E6;
	background-color: #F3F3F3;
	background-image: none;
}

.cartBtn.btnFunction:hover .linkBtn[disabled],
.btnFunction:hover .linkBtn[disabled]{
	color: #CCC;
	border-color: #E6E6E6;
	background-color: #F3F3F3;
	text-decoration: none;
}

.btnNormal .linkBtn[disabled]{
	color: #B8BFD2;
	background-color: #FBFBFB;
}

.btnNormal:hover .linkBtn[disabled]{
	border-color: #CCC;
	color: #B8BFD2;
	text-decoration: none;
}

.cartBtn:hover .linkBtn{
	color: #FFF;
}

.cartBtn .icon{ background: url(/co/common/images/bg-icon-cart-btn-s-02.png) -464px center no-repeat; }

.addBtn .icon{
	background: none;
	position: relative;
}
.addBtn .icon:before,
.addBtn .icon:after{
	content: "";
	display: block;
	background-color: #999;
	position: absolute;
	top: 50%;
}

.btnStrong.addBtn .icon:before,
.btnStrong.addBtn .icon:after{ background-color: #FFF; }

.addBtn .icon:before{
	height: 12px;
	width: 2px;
	left: 5px;
	margin-top: -6px;
}

.addBtn .icon:after{
	height: 2px;
	width: 12px;
	left: 0;
	margin-top: -1px;
}

.addBtn .linkBtn{ padding-left: 10px; }

.btnStrong.cartBtn:hover,
.btnFunction.cartBtn:hover{
	color: #FFF;
	background-color: #EDA943;
	background-image: -webkit-linear-gradient(top, #EDA943 0%, #E99315 100%);
	background-image: -ms-linear-gradient(top, #EDA943 0%, #E99315 100%);
	background-image: linear-gradient(to bottom, #EDA943 0%, #E99315 100%);
}

.btnFunction.cartBtn .icon{ background: url(/co/common/images/bg-icon-cart-btn-s-02.png) 0 center no-repeat; }

.btnFunction.cartBtn:hover .icon{ background-position: -464px center }

.btnStrongest.cartBtn:hover .linkBtn[disabled] .icon,
.btnStrong.cartBtn:hover .linkBtn[disabled] .icon,
.btnFunction.cartBtn:hover .linkBtn[disabled] .icon,
.cartBtn .linkBtn[disabled] .icon{ background: url(/co/common/images/bg-icon-cart-btn-s-02.png) -944px center no-repeat; }



.btnFunction.cartBtn .linkBtn:hover{
	text-decoration: none;
	border: solid 1px transparent;
}

.listBtn .icon{
	padding-left: 28px;
	background: url(/co/common/images/bg-icon-list-btn.png) 0 0 no-repeat;
}

.summaryBtn .icon{
	padding-left: 28px;
	background: url(/co/common/images/bg-icon-matome-btn.png) 0 0 no-repeat;
}

.listBtn:hover .icon,
.summaryBtn:hover .icon
{ text-decoration: underline; }

.btnNormal{
	background-color: #F2F2F2;
	background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: linear-gradient(to bottom, #F9F9F9 0%, #F2F2F2 100%);
}

.btnNormal .linkBtn{
	border: solid 1px #CCC;
	color: #225496;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
	border-radius: 4px;
	background: none;
}

.btnNormal:hover{
	background-color: #F7F7F7;
	background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #F7F7F7 100%);
	background-image: -ms-linear-gradient(top, #FBFBFB 0%, #F7F7F7 100%);
	background-image: linear-gradient(to bottom, #FBFBFB 0%, #F7F7F7 100%);
}

.btnNormal .linkBtn:hover{
	border-color: #B3B3B3;
	color: #D43500;
	text-decoration: underline;
}

.btnWrap .closeBtn{
	position: relative;
	border: 1px solid #E6E6E6;
	background-color: #F7F7F7;
	border-radius: 9px;
}

.btnWrap .closeBtn .linkBtn{
	padding: 1px 20px 0px 9px;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}

.btnWrap .closeBtn:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 9px;
	width: 7px;
	height: 7px;
	margin-top: -4px;
	background: url(/co/common/images/bg-btn-close.png) 0 top no-repeat;
	cursor: pointer;
}

.btnWrap .closeBtn:hover{ border: 1px solid #B2B2B2; }

.btnWrap .closeBtn:hover:before{ background-position: 0 bottom; }

.linkBtnS.mapBtn .linkBtn{
	width: 138px;
	padding-left: 7px;
}

.mapBtn:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 13px;
	margin-top: -7px;
	margin-left: -3.5em;
	font-size: 12px;
	background: url(/co/common/images/bg-icon-map-btn-s.png) 0 bottom no-repeat;
	cursor: pointer;
}

.btnSoldout{
	background-color: #F2F2F2;
	background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: linear-gradient(to bottom, #F9F9F9 0%, #F2F2F2 100%);
}

.btnSoldout .linkBtn{
	border: solid 1px #CCC;
	color: #999;
	font-weight: bold;
	text-decoration: none;
}


/*form*/

.inputSelect{
	margin-bottom: 15px;
	font-size: 16px;
	height: 2em;
}

select{
	max-width: 600px;
	height: 1.7em;
}

.formCheckBoxL li ~ li,
.formCheckBoxS li ~ li,
.formRadioBtnL li ~ li,
.formRadioBtnS li ~ li,
.formCheckBoxL p ~ p,
.formCheckBoxS p ~ p,
.formRadioBtnL p ~ p,
.formRadioBtnS p ~ p{ margin-top: 20px; }

.fasetPrimary .formRadioBtnS li ~ li,
.col2FasetLeft > .faset .formRadioBtnS li ~ li{ margin-top: 5px; }

.formLabel{
	display: inline-block;
	position: relative;
}

h2 .formLabel{ display: block; }

.labelTxt{ cursor: pointer; }

input:disabled + .labelTxt{
	cursor: text;
	color: #CCC;
}

.formLabel > input[type=checkbox]{
	float: left\9;
	position: absolute;
	position: static\9;
	top: 7px;
	left: 6px;
	z-index: 6;
	overflow: hidden;
	width: 1px;
	width: auto\9;
	height: 1px;
	height: auto\9;
	margin-top: 0.25em\9;
	vertical-align: top\9;
	-moz-transform: scale(0.25, 0.25);
	-webkit-transform: scale(0.25, 0.25);
	-o-transform: scale(0.25, 0.25);
	-ms-transform: scale(0.25, 0.25);
	-webkit-appearance: none;
}

.formLabel > input[type=radio]{
	float: left\9;
	position: absolute;
	position: static\9;
	top: 7px;
	left: 6px;
	z-index: 7;
	overflow: hidden;
	width: 1px;
	width: auto\9;
	height: 1px;
	height: auto\9;
	margin-top: 0.25em\9;
	vertical-align: top\9;
	-moz-transform: scale(0.25, 0.25);
	-webkit-transform: scale(0.25, 0.25);
	-o-transform: scale(0.25, 0.25);
	-ms-transform: scale(0.25, 0.25);
	-webkit-appearance: none;
}

.formLabel > input[type=checkbox]:not(:target),
.formLabel > input[type=radio]:not(:target){
	float: none\9;
	position: absolute\9;
	top: 4px\9;
	width: 1px\9;
	height: 1px\9;
	margin-top: 0\9;
}

input:focus + .labelTxt{
	border-radius: 1px;
	box-shadow: 0 0 2px 2px rgba(0, 116, 190, 0.5), 0 0 1px 1px rgba(0, 116, 190, 0.5) inset;
}

.formLabel > .labelTxt{
	position: relative;
	position: static\9;
	display: inline-block;
	display: block\9;
	min-height: 25px;
	box-sizing: border-box;
	z-index: 8;
}

.formCheckBoxL .labelTxt{
	min-height: 26px;
	padding-left: 35px;
	padding-left: 22px\9;
	background: url(/co/common/images/bg-btn-checkbox-l.png) 0 0 no-repeat;
	background: none\9;
	box-sizing: border-box;
}

.formCheckBoxL .labelTxt:not(:target){
	padding-left: 35px\9;
	background: url(/co/common/images/bg-btn-checkbox-l.png) 0 0 no-repeat\9;
}

.formCheckBoxL .labelTxt:hover,
.formCheckBoxL input:focus + .labelTxt{
	background: url(/co/common/images/bg-btn-checkbox-l.png) 0 -138px no-repeat;
	background: none\9;
}

.formCheckBoxL .labelTxt:hover:not(:target),
.formCheckBoxL input:focus + .labelTxt:not(:target){ background: url(/co/common/images/bg-btn-checkbox-l.png) 0 -138px no-repeat\9; }

.formCheckBoxL input:checked + .labelTxt{ background: url(/co/common/images/bg-btn-checkbox-l.png) 0 -275px no-repeat; }

.formCheckBoxL input:disabled + .labelTxt{ background: url(/co/common/images/bg-btn-checkbox-l-disabled.png) 0 0 no-repeat; }

.formCheckBoxL input:disabled:checked + .labelTxt{ background: url(/co/common/images/bg-btn-checkbox-l-disabled.png) 0 -126px no-repeat; }

.formCheckBoxS .labelTxt{
	min-height: 17px;
	padding-left: 21px;
	font-size: 14px;
	background: url(/co/common/images/bg-btn-checkbox-s.png) 0 2px no-repeat;
	background: none\9;
	box-sizing: border-box;
}

.formCheckBoxS .labelTxt:not(:target){ background: url(/co/common/images/bg-btn-checkbox-s.png) 0 2px no-repeat\9; }

.formCheckBoxS .labelTxt:hover,
.formCheckBoxS input:focus + .labelTxt{
	background: url(/co/common/images/bg-btn-checkbox-s.png) 0 -140px no-repeat;
	background: none\9;
}

.formCheckBoxS .labelTxt:hover:not(:target),
.formCheckBoxS input:focus + .labelTxt:not(:target){ background: url(/co/common/images/bg-btn-checkbox-s.png) 0 -140px no-repeat\9; }

.formCheckBoxS input:checked + .labelTxt{ background: url(/co/common/images/bg-btn-checkbox-s.png) 0 -283px no-repeat; }

.formCheckBoxS input:disabled + .labelTxt{ background: url(/co/common/images/bg-btn-checkbox-s-disabled.png) 0 2px no-repeat; }

.formCheckBoxS input:disabled:checked + .labelTxt{ background: url(/co/common/images/bg-btn-checkbox-s-disabled.png) 0 -133px no-repeat; }

.formRadioBtnL .formLabel > input[type=radio]{
	top: 6px;
	left: 3px;
}

.formRadioBtnL .labelTxt{
	min-height: 25px;
	padding-left: 35px;
	padding-left: 22px\9;
	background: url(/co/common/images/bg-btn-radio-l.png) 0 0 no-repeat;
	background: none\9;
	box-sizing: border-box;
}

.formRadioBtnL .labelTxt:not(:target){
	padding-left: 35px\9;
	background: url(/co/common/images/bg-btn-radio-l.png) 0 0 no-repeat\9;
}

.formRadioBtnL .labelTxt:hover{
	background: url(/co/common/images/bg-btn-radio-l.png) 0 -138px no-repeat;
	background: none\9;
}

.formRadioBtnL .labelTxt:hover:not(:target){ background: url(/co/common/images/bg-btn-radio-l.png) 0 -138px no-repeat\9; }

.formRadioBtnL input:checked + .labelTxt{ background: url(/co/common/images/bg-btn-radio-l.png) 0 -275px no-repeat; }

.formRadioBtnL input[type=radio]:disabled + .labelTxt{ background: url(/co/common/images/bg-btn-radio-l-disabled.png) 0 0 no-repeat; }

.formRadioBtnL input[type=radio]:disabled:checked + .labelTxt{ background: url(/co/common/images/bg-btn-radio-l-disabled.png) 0 -125px no-repeat; }

.formRadioBtnS .labelTxt{
	min-height: 17px;
	padding-left: 21px;
	font-size: 14px;
	background: url(/co/common/images/bg-btn-radio-s.png) 0 2px no-repeat;
	background: none\9;
	box-sizing: border-box;
}

.fasetPrimary .formRadioBtnS .labelTxt,
.col2FasetLeft > .faset .formRadioBtnS .labelTxt{ font-size: 12px; }

.formRadioBtnS .labelTxt:not(:target){ background: url(/co/common/images/bg-btn-radio-s.png) 0 2px no-repeat\9; }

.formRadioBtnS .labelTxt:hover{
	background: url(/co/common/images/bg-btn-radio-s.png) 0 -141px no-repeat;
	background: none\9;
}

.formRadioBtnS .labelTxt:hover:not(:target){ background: url(/co/common/images/bg-btn-radio-s.png) 0 -141px no-repeat\9; }

.formRadioBtnS input[type=radio]:checked + .labelTxt{ background: url(/co/common/images/bg-btn-radio-s.png) 0 -283px no-repeat; }

.formRadioBtnS h2 .labelTxt{
	display: block;
	font-size: 18px;
	background: url(/co/common/images/bg-btn-radio-s.png) 0 5px no-repeat;
	background: none\9;
}

.formRadioBtnS h2 .labelTxt:not(:target){ background: url(/co/common/images/bg-btn-radio-s.png) 0 5px no-repeat\9; }

.formRadioBtnS h2 .labelTxt:hover{
	background: url(/co/common/images/bg-btn-radio-s.png) 0 -138px no-repeat;
	background: none\9;
}

.formRadioBtnS h2 .labelTxt:hover:not(:target){ background: url(/co/common/images/bg-btn-radio-s.png) 0 -138px no-repeat\9; }

.formRadioBtnS h2 input[type=radio]:checked + .labelTxt{ background: url(/co/common/images/bg-btn-radio-s.png) 0 -280px no-repeat; }

.formRadioBtnS input[type=radio]:disabled + .labelTxt{ background: url(/co/common/images/bg-btn-radio-s-disabled.png) 0 2px no-repeat; }

.formRadioBtnS input[type=radio]:disabled:checked + .labelTxt{ background: url(/co/common/images/bg-btn-radio-s-disabled.png) 0 -133px no-repeat; }

.formTxt{
	max-width: 958px;
	min-height: 24px;
	padding: 4px 10px;
	border: solid 1px #CCC;
	border-radius: 4px;
	background-color: #FFF;
	box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
}

.formTxt:hover{ border-color: #999; }

.formTxt[disabled]{
	border-color: #D9D9D9;
	background-color: #E6E6E6;
	box-shadow: 0 0 0 0;
}

.formTxt[disabled]:hover{
	border-color: #D9D9D9;
	cursor: text;
}

.formTxt:focus{ border: solid 1px #B3B3B3; }

.formTxt::-webkit-input-placeholder{ color: #CCC; }

.formTxt:-moz-placeholder{
	color: #CCC;
	opacity: 1;
}

.formTxt::-moz-placeholder{
	color: #CCC;
	opacity: 1;
}

.formTxt:-ms-input-placeholder{ color: #CCC; }

.is-error .formTxt{
	border: solid 1px #C00;
	background-color: #FFF4F0;
}

/*評価*/

.starsContainer{ font-size: 0; }

.markingStar{
	display: inline-block;
	overflow: hidden;
	width: 27px;
	height: 0;
	margin-bottom: 0;
	padding: 26px 4px 0 0;
	letter-spacing: 0;
	text-indent: 100%;
	white-space: nowrap;
	vertical-align: bottom;
	background: url(/co/common/images/bg-icon-marking.png) -31px 0 no-repeat;
	cursor: pointer;
}

.markingStar.is-selected{ background-position: 0 0; }

.reviewStarImg{ margin-bottom: 3px; }

.reviewStarL{
	overflow: hidden;
	display: inline-block;
	width: 108px;
	height: 19px;
	margin-bottom: 4px;
	white-space: nowrap;
	text-indent: 100%;
	background: url(/co/common/images/bg-icon-review-l.png) right 0 no-repeat;
}

.reviewStarL.threeStars{ width: 63px; }

.reviewStarL.rating10{ background-position: -88px bottom; }

.reviewStarL.rating15{ background-position: -66px 0; }

.reviewStarL.rating20{ background-position: -66px bottom; }

.reviewStarL.rating25{ background-position: -44px 0; }

.reviewStarL.rating30{ background-position: -44px bottom; }

.reviewStarL.rating35{ background-position: -22px 0; }

.reviewStarL.rating40{ background-position: -22px bottom; }

.reviewStarL.rating45{ background-position: 0 0; }

.reviewStarL.rating50{ background-position: 0 bottom; }

.reviewStarS{
	overflow: hidden;
	display: inline-block;
	width: 70px;
	height: 12px;
	margin-bottom: 4px;
	white-space: nowrap;
	text-indent: 100%;
	background: url(/co/common/images/bg-icon-review-s.png) right 0 no-repeat;
}

.reviewStarS.threeStars{ width: 41px; }

.reviewStarS.rating10{ background-position: -56px bottom; }

.reviewStarS.rating15{ background-position: -42px 0; }

.reviewStarS.rating20{ background-position: -42px bottom; }

.reviewStarS.rating25{ background-position: -28px 0; }

.reviewStarS.rating30{ background-position: -28px bottom; }

.reviewStarS.rating35{ background-position: -14px 0; }

.reviewStarS.rating40{ background-position: -14px bottom; }

.reviewStarS.rating45{ background-position: 0 0; }

.reviewStarS.rating50{ background-position: 0 bottom; }

.tableReviewBar{
	font-size: 12px;
	line-height: 15px;
	border-collapse: separate;
	border-spacing: 0 3px;
}

.tableReviewBar .score{ padding-right: 10px; }

.tableReviewBar .graphBase{
	width: 103px;
	background-color: #F2F2F2;
}

.tableReviewBar .graph{
	overflow: hidden;
	height: 0;
	padding-top: 15px;
	white-space: nowrap;
	background-color: #F90;
}

.tableReviewBar.is-empty th,
.tableReviewBar.is-empty td{ color: #CCC; }

.tableReviewBar .amount{
	padding-left: 10px;
	color: #666;
}

/*div (variation)*/

.boxError{
	padding: 10px;
	color: #C00;
	border: solid 1px #C00;
	background-color: #FFF4F0;
}

.frame01{
	margin-bottom: 30px;
	padding: 17px;
	position: relative;
	background-color: #FFF;
	border: 3px solid #F2F2F2;
	border-radius: 8px;
}

.frame01.boxBalloon{ box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25); }

.box01,
.box02,
.box03,
.box04,
.box05,
.box06{ padding: 10px; }

.box01{ background-color: #FFF; }

.box02,
.box03{ background-color: #F2F2F2; }

.box04{
	color: #735E50;
	background-color: #FFF2C5;
}

.box05{
	color: #735E50;
	background-color: #FFF5E5;
}

.box06{
	background: #FBF8E0;
	border: 1px solid #CDD2A3;
}
.boxInteractive{ border-radius: 4px; }

.btnClose{
	width: 26px;
	height: 26px;
	margin-bottom: 0;
}

.btnCloseLink{
	display: block;
	width: 26px;
	height: 26px;
	text-align: center;
}

.boxInteractive .btnClose{
	float: right;
	position: relative;
	top: -20px;
	right: -9px;
	margin-left: -26px;
}

.box02.boxInteractive .iconClose,
.box03.boxInteractive .iconClose{ background-position: right -20px; }

.box04.boxInteractive .iconClose{ background-position: right -60px; }

.box05.boxInteractive .iconClose{ background-position: right -80px; }

.boxFrame{
	border-style: solid;
	border-width: 1px;
}

.box01.boxFrame{ border-color: #E6E6E6; }

.box02.boxFrame,
.box03.boxFrame{ border-color: #CCC; }

.box04.boxFrame{ border-color: #FAD166; }

.box05.boxFrame{ border-color: #E5CAA1; }

.boxBalloon{ z-index: 10; }

.box01.boxBalloon,
.box02.boxBalloon,
.box03.boxBalloon,
.box04.boxBalloon,
.box05.boxBalloon{
	position: relative;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.box01.boxBalloon{ border-color: #E6E6E6; }

.is-error .box01.boxBalloon{ border-color: #C00; }

.box02.boxBalloon,
.box03.boxBalloon{ border-color: #CCC; }

.box04.boxBalloon{ border-color: #E6CAA1; }

.box05.boxBalloon{ border-color: #E6C3B8; }

.boxBalloon:after,
.boxBalloon:before{
	left: 50%;
	content: "\0025bc";
	display: block;
	position: absolute;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.frame01.boxBalloon:after{
	bottom: -9px;
	margin-left: -10px;
	color: #FFF;
	line-height: 13px;
	font-size: 19px;
}

.frame01.boxBalloon:before{
	bottom: -18px;
	margin-left: -10px;
	color: #F2F2F2;
	font-size: 19px;
	line-height: 19px;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.box01.boxBalloon:after,
.box02.boxBalloon:after,
.box03.boxBalloon:after,
.box04.boxBalloon:after,
.box05.boxBalloon:after{
	bottom: -10px;
	margin-left: -8px;
	font-size: 15px;
	line-height: 15px;
}

.box01.boxBalloon:after{ color: #FFF; }

.box02.boxBalloon:after,
.box03.boxBalloon:after{ color: #F2F2F2; }

.box04.boxBalloon:after{ color: #FFF5E5; }

.box05.boxBalloon:after{ color: #FFF4F0; }

.box01.boxBalloon:before,
.box02.boxBalloon:before,
.box03.boxBalloon:before,
.box04.boxBalloon:before,
.box05.boxBalloon:before{
	bottom: -13px;
	margin-left: -8px;
	font-size: 15px;
	line-height: 15px;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.box01.boxBalloon:before{ color: #E6E6E6; }

.is-error .box01.boxBalloon:before{ color: #C00; }

.box02.boxBalloon:before,
.box03.boxBalloon:before{ color: #CCC; }

.box04.boxBalloon:before{ color: #E6CAA1; }

.box05.boxBalloon:before{ color: #E6C3B8; }

/*アイコン*/

.icon{
	display: inline-block;
	min-height: 16px;
	padding-left: 22px;
	text-decoration: none;
	background-image: url(/co/common/images/bg-icon-16.png);
	background-position: 0 0.15em;
	background-repeat: no-repeat;
}

h2 .icon,
.headingH2 .icon,
h3 .icon,
.headingH3 .icon,
h4 .icon,
.headingH4.icon,
h5 .icon,
.headingH5.icon{ padding-left: 26px; }

h2 .icon,
.headingH2 .icon{ background-position: 0 0.25em; }

.icon.txtM,
h3 .icon,
.headingH3 .icon{ background-position: 0 0.2em; }

h4 .icon,
.headingH4.icon{ background-position: 0 0.15em; }

.icon.txtSS,
h5 .icon,
.headingH5.icon{ background-position: 0 0; }


.icon.iconQuestion{
	min-height: 19px;
	padding-left: 25px;
	background-image: url(/co/common/images/bg-icon-question.png);
}

.icon.txtS.iconQuestion{ background-position: 0 1px; }

.icon.txtSS.iconQuestion{ background-position: 0 0; }

.icon.iconAdding{
	font-size: 12px;
	background-image: url(/co/common/images/bg-icon-accordion.png);
	background-position: 0 0;
}

.iconStore{ background-image: url(/co/common/images/bg-icon-store.png); }

.iconSeven{ background-image: url(/co/common/images/img-icon-16-seven.png); }

.iconCircle{ background-image: url(/co/common/images/img-icon-16-seven-circle.png); }

.iconIY{ background-image: url(/co/common/images/img-icon-16-yokado.png); }

.iconSS{ background-image: url(/co/common/images/img-icon-16-seibu-sogo.png); }

.iconAK{ background-image: url(/co/common/images/img-icon-16-akachan.png); }

.iconLoft{ background-image: url(/co/common/images/img-icon-16-loft.png); }

.iconNissen{ background-image: url(/co/common/images/img-icon-16-nissen.png); }

.icon7net{ background-image: url(/co/common/images/img-icon-16-7net.png); }

.icon7tabi{ background-image: url(/co/common/images/img-icon-16-seven-tabi.png); }

.icon7culture{ background-image: url(/co/common/images/img-icon-16-seven-culture.png); }

.iconTransport{ background-image: url(/co/common/images/bg-icon-16-transport.png); }

.iconReceipt{ background-image: url(/co/common/images/bg-icon-16-recieving-store.png); }

.iconListBtn{ background-image: url(/co/common/images/img-icon-list-btn.png); }

.iconSchedule{ background-image: url(/co/common/images/bg-icon-schedule.png); }

.iconComment{ background-image: url(/co/common/images/bg-icon-comment.png); }

.iconNanaco{ background-image: url(/co/common/images/bg-icon-nanaco.png); }

.iconService{ background-image: url(/co/common/images/bg-icon-service.png); }

.iconPoint{ background-image: url(/co/common/images/bg-icon-point.png); }

.iconDocument{ background-image: url(/co/common/images/bg-icon-file.png); }

.iconBeginner{ background-image: url(/co/common/images/bg-icon-beginner.png); }

.iconSearch{ background-image: url(/co/common/images/bg-icon-search.png); }

.iconCart{ background-image: url(/co/common/images/bg-icon-cart.png); }

.iconList{ background-image: url(/co/common/images/bg-icon-list.png); }

.iconGourmet{ background-image: url(/co/common/images/bg-icon-gourmet.png); }

.icon7i{ background-image: url(/co/common/images/bg-icon-7i.png); }

.iconDelivery{ background-image: url(/co/common/images/bg-icon-delivery.png); }

.iconTransportHurry{ background-image: url(/co/common/images/bg-icon-16-transportHurry.png); }

.iconExpress{ background-image: url(/co/common/images/bg-icon-express.png); }

.iconStar{ background-image: url(/co/common/images/bg-icon-star.png); }

.iconDay{ background-image: url(/co/common/images/bg-icon-day.png); }

.iconNight{ background-image: url(/co/common/images/bg-icon-night.png); }

.iconStore{ background-image: url(/co/common/images/bg-icon-store.png); }

.iconCalendar{ background-image: url(/co/common/images/bg-icon-calendar.png); }

.iconPDF{ background-image: url(/co/common/images/bg-icon-pdf.png); }

.iconHouse{ background-image: url(/co/common/images/bg-icon-house.png); }

.iconPreview{ background-image: url(/co/common/images/bg-icon-preview.png); }

.iconNoshi{ background-image: url(/co/common/images/bg-icon-gifts.png); }

.iconAlert{ background-image: url(/co/common/images/bg-icon-alertS.png); }

.iconEntry{ background-image: url(/co/common/images/bg-icon-entry-info.png); }

.iconHistory{ background-image: url(/co/common/images/bg-icon-buy-history.png); }

.iconLottery{ background-image: url(/co/common/images/bg-icon-lottery.png); }

.iconCheck{ background-image: url(/co/common/images/bg-icon-check.png); }

.iconDennys{
	background-image: url(/co/common/images/img-icon-20-dennys.png);
	padding-left: 42px;
}

.icon.iconCancel{
	position: relative;
	padding-left: 16px;
	background-image: none;
}
.icon.iconCancel:after{
	content: "\002715";
	position: absolute;
	top: 3px;
	left: 3px;
	color: #999;
	font-size: 10px;
}

.bullet.iconAudition{
	position: relative;
	padding-right: 20px;
}

.bullet.iconAudition:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	background: url(/co/common/images/bg-icon-audition.png) 0 0 no-repeat;
}


.imgCard{
	margin: 0 10px 0 0;
	vertical-align: text-top;
}

.iconAttention{ background-image: url(/co/common/images/bg-icon-attention-02.png); }

.iconAttentionHigher{ background-image: url(/co/common/images/bg-icon-attention-01.png); }

.iconAttentionLower{ background-image: url(/co/common/images/bg-icon-attention-02.png); }

.iconAttentionNormal{ background-image: url(/co/common/images/bg-icon-attention-03.png); }

.iconInformation{ background-image: url(/co/common/images/bg-icon-infor.png); }

.icon.iconFreeDial{
	padding-left: 30px;
	font-size: 14px;
	background: url("/co/common/images/bg-icon-freedial.png") no-repeat 0 center;
}

.iconClose{
	display: inline-block;
	overflow: hidden;
	width: 12px;
	height: 12px;
	margin-top: 8px;
	text-indent: 100%;
	vertical-align: top;
	white-space: nowrap;
	background: url(/co/common/images/bg-btn-box-close.png) right 0 no-repeat;
}

.icon.iconFreeDial{
	background: url("/co/common/images/bg-icon-freedial.png") no-repeat 0 center;
	padding-left: 25px;
}


/* OMNI_DEV-4195 【商品T】【HTML：PC】画像の表示方法について */

.iconImg{ display: table; }

.iconImgInner{
	display: table-cell;
	vertical-align: top;
}

.iconImgInner:first-child{ padding: 0 10px 0 0; }

.iconImg:hover .iconImgInner .u-img{ opacity: 1; }

.iconImg16 .iconImgInner:first-child,
.iconImg20 .iconImgInner:first-child{ padding: 0 6px 0 0; }

.iconImg16 .u-img{
	height: 16px;
	vertical-align: text-top;
}

.iconImg20 .u-img{ max-height: 21px; }

.iconImg24 .u-img{ height: 24px; }

.iconImg32 .u-img{ height: 32px; }

.iconImg48 .u-img{ height: 48px; }


/* icon_alert_explain */

.explainList:after{
	content: "";
	clear: both;
	display: table;
}

.explainList{ font-size: 12px; }

.explainList > dt{
	float: left;
	width: 6em;
	margin-bottom: 5px;
}

.explainList > dd{ margin: 0 0 5px 6em; }

.explainBox{ position: relative; }

.explainBox:after{
	content: "";
	clear: both;
	display: table;
}

.explainBox .boxBalloon{
	display: none;
	position: absolute;
	bottom: 24px;
	left: -6em;
	width: 270px;
	padding: 25px 14px 14px 14px;
	line-height: 1.4;
}

.explainBox dt{ margin-bottom: 10px; }

.linkExplain{ margin-left: 4px; }

.explainBox.is-selected .boxBalloon{ display: inline-block; }

.explainBox .boxBalloon:after,
.explainBox .boxBalloon:before{ left: 46%; }



/*商品紹介タグ*/

.listTag{
	margin: 0 -5px -5px 0;
	font-size: 0;
}

.tag{
	display: inline-block;
	height: 20px;
	margin: 0 5px 5px 0;
	vertical-align: top;
}

.tag img{ width: auto; }


/*数字*/

.txtCount{
	display: inline-block;
	min-width: 2.5em;
	margin-left: 5px;
	padding: 1px 3px;
	color: #FFF;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	vertical-align: text-top;
	border-radius: 4px;
	background-color: #666;
	box-sizing: border-box;
}

.txtCount.bgAttention{ background-color: #D43500; }

/*ランキング*/

.rank{
	display: inline-block;
	background-position: 0 0;
	background-position: 0 0.15em\9;
	background-repeat: no-repeat;
}

.rank:not(target){ background-position: 0 0\9; }

.ranking01{ background-image: url(/co/common/images/bg-icon-ranking-01.png); }

.ranking02{ background-image: url(/co/common/images/bg-icon-ranking-02.png); }

.ranking03{ background-image: url(/co/common/images/bg-icon-ranking-03.png); }

.rank.ranking01,
.rank.ranking02,
.rank.ranking03{ padding-left: 20px; }

/*img*/

.bnrImgWrap{
	display: inline-block;
	border-radius: 4px;
}

.bnrImgWrap .bnrImg{
	position: relative;
	z-index: -1;
	border-radius: 4px;
}

.listMoviePR{
	width: 360px;
	margin: 0 -5px -5px 0;
}

.listMoviePR:after{
	content: "";
	clear: both;
	display: table;
}

.listMoviePR li{
	float: left;
	margin: 0 5px 5px 0;
}

.imgCoverWrap{ position: relative; }

.imgCover{
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.topFasetRight .faset .imgCover{
	width: 270px;
    cursor: default;
}

.bnrWrap{ margin-bottom: 10px; }

/* OMNI_DEV-6533 【ガイドライン】バナーへのボーダー付与依頼（CSSスタイル追加） */
.bnrWrap a{
	display: block;
	position: relative;
	z-index: 1;
}

.bnrWrap a:after{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	content: "";
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	border: solid 1px #E6E6E6;
}

.bnrWrap a:hover:after{ opacity: 0.7; }

.bnrWrap.u-img{
	position: relative;
	z-index: -1;
}

.bnrWrap .bnrImgWrap{ display: block; }

.bnrWrap .bnrImgWrap:after{ border-radius: 4px; }

.bnrWrap .bnrImgWrap .u-img{ border-radius: 4px; }


/*arrow*/

.detailViewer{
	overflow: hidden;
	width: 355px;
}
.detailViewer .viewport{
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
.detailViewer .sliders li{ float: left; }
.detailViewer .sliders li.is-hide{ display: none; }
.detailViewer .loupe, .detailViewer .directionNav .prev,
.detailViewer .directionNav .next{
	height: 30px;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	width: 30px;
	word-wrap: normal;
}
.detailViewer .loupe{
	background: url("/co/common/images/bg-btn-detailViewer-loupe.png") no-repeat center top;
	bottom: 0;
	right: 0;
}
.detailViewer .directionNav .prev,
.detailViewer .directionNav .next{
	margin-top: -15px;
	top: 50%;
	z-index:1;
}
.detailViewer .directionNav .prev{
	background: url("/co/common/images/bg-btn-carousel-prev-s.png") no-repeat center top;
	left: 0;
}
.detailViewer .directionNav .next{
	background: url("/co/common/images/bg-btn-carousel-next-s.png") no-repeat center top;
	right: 0;
}
.detailViewer .loupe:hover,
.detailViewer .directionNav .prev:hover,
.detailViewer .directionNav .next:hover{ background-position: center bottom; }
.detailViewer .controlThumbs{ overflow: hidden; }
.detailViewer .controlThumbs dt{
	font-size: 12px;
	font-weight: bold;
}
.detailViewer .controlThumbs li,
.detailViewer .controlThumbs dd{
	float: left;
	height: 48px;
	margin: 0 5px 5px 0;
	width: 48px;
}

.detailViewer .controlThumbs li .controlThumbsLink{ display: block; }

.detailViewer .controlThumbs li .controlThumbsLink .u-img{ width: 50px; }

/*top_arrow*/

.linkPageTop{
	display: block;
	overflow: hidden;
	width: 84px;
	height: 0;
	padding-top: 64px;
	white-space: nowrap;
	background: url(/co/common/images/bg-btn-page-top.png) 0 0 no-repeat;
}

.linkPageTop:hover{ background-position: 0 bottom; }


/*tabMenu*/

/*tabMenu 可変*/
.mod-flexibleTab_menu{ overflow: hidden; }

.mod-flexibleTab_menu li{
	float: left;
	font-size: 18px;
	border: 1px solid #E6E6E6;
	border-left: none;
}

.mod-flexibleTab_link{
	display: block;
	min-width: 62px;
	height: 24px;
	padding: 9px 15px 5px;
	color: #767676;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	background-color: #FFF;
}

.mod-flexibleTab_link:hover{
	text-decoration: underline;
	color: #D43500;
}

.mod-flexibleTab_menu .is-activePrev{ border-right: none; }

.mod-flexibleTab_menu .is-active{
	font-weight: bold;
	color: #333;
	border-top: 3px solid #E6E6E6;
	border-right: 3px solid #E6E6E6;
	border-left: 3px solid #E6E6E6;
	cursor: text;
}

.mod-flexibleTab_menu li:first-child{ border-left: 1px solid #E6E6E6; }

.mod-flexibleTab_menu li.is-active:first-child{ border-left: 3px solid #E6E6E6; }

/*上バージョン*/
.mod-flexibleTab-varTop .mod-flexibleTab_menu{ background: url(/co/common/images/bg-line-tabMenu.png) center bottom repeat-x; }

.mod-flexibleTab-varTop .mod-flexibleTab_menu li{ border-bottom: none; }

.mod-flexibleTab-varTop .mod-flexibleTab_menu .is-active{ border-bottom: none; }

.is-active .mod-flexibleTab_link{
	padding: 8px 15px 7px;
	color: #333;
	text-decoration: none;
	cursor: text;
}


/*下バージョン*/

.mod-flexibleTab-varBottom .mod-flexibleTab_menu{ background: url(/co/common/images/bg-line-tabMenu.png) center top repeat-x; }

.mod-flexibleTab-varBottom .mod-flexibleTab_menu li{
	margin-top: 3px;
	border-top: none;
}

.mod-flexibleTab-varBottom .mod-flexibleTab_menu .is-active{
	margin-top: 0;
	border-top: none;
	border-left: 3px solid #E6E6E6;
	border-bottom: 3px solid #E6E6E6;
}


/* tabMenu_l_lower_02 */

.tabMenu li{
	display: table;
	float: left;
	min-width: 110px;
	max-width: 20%;
	height: 30px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #E6E6E6;
	border-left: none;
	border-bottom: 1px solid #CCC;
	box-sizing: border-box;
}

.tabMenu .is-active{
	z-index: 1;
	position: relative;
	border: 1px solid #CCC;
	border-bottom-color: transparent;
}

.tabMenu .is-activePrev{ border-right: none; }

.tabMenu .tabMenuLink{
	display: table-cell;
	padding: 5px;
	color: #767676;
	text-decoration: none;
	vertical-align: middle;
}

.tabMenu .tabMenuLink:hover{
	color: #D43500;
	text-decoration: underline;
}

.tabMenu .is-active .tabMenuLink{
	padding: 5px 5px 6px 5px;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	cursor: text;
}


/*pagen_navi*/

.mod-searchResultNav .paginationNav{ text-align: right; }

.paginationNav{ font-size: 0; }

.paginationNav .paginationNavBtn,
.paginationNav .paginationNavBtnWrap{
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: bottom;
}

.paginationNav li{ margin-left: 10px; }

.paginationNav li:first-child{ margin-left: 0; }

.paginationNav .paginationNavLink,
.paginationNav .prev,
.paginationNav .next{
	display: block;
	height: 32px;
	font-size: 14px;
	line-height: 34px;
	text-decoration: none;
	border: solid 1px #CCC;
	border-radius: 4px;
	background-color: #F2F2F2;
	background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: linear-gradient(to bottom, #F9F9F9 0%, #F2F2F2 100%);
}

.paginationNav .paginationNavLink:hover,
.paginationNav .prev:hover,
.paginationNav .next:hover{
	border-color: #B2B2B2;
	background-color: #F7F7F7;
	background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #F7F7F7 100%);
	background-image: -ms-linear-gradient(top, #FBFBFB 0%, #F7F7F7 100%);
	background-image: linear-gradient(to bottom, #FBFBFB 0%, #F7F7F7 100%);
}

.paginationNav .paginationNavLink{
	min-width: 28px;
	padding: 0 2px 0 2px;
}

.paginationNav .is-current{
	display: block;
	min-width: 28px;
	height: 32px;
	padding: 0 2px 0 2px;
	color: #FFF;
	font-size: 14px;
	line-height: 34px;
	text-decoration: none;
	border: solid 1px #CCC;
	border-radius: 4px;
	background-color: #666;
	cursor: text;
}

.paginationNav .omission{
	display: inline-block;
	margin-bottom: 14px;
	color: #333;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
}

.paginationNav .prev,
.paginationNav .next{ padding: 0 10px 0 10px; }

.paginationNav .prev{ margin-right: 10px; }

.paginationNav .next{ margin-left: 10px; }

.paginationNav .paginationNavLink:hover,
.paginationNav .prev:hover,
.paginationNav .next:hover{
	text-decoration: underline;
	border-color: #B3B3B3;
	background-color: #F7F7F7;
	background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #F7F7F7 100%);
	background-image: -ms-linear-gradient(top, #FBFBFB 0%, #F7F7F7 100%);
	background-image: linear-gradient(to bottom, #FBFBFB 0%, #F7F7F7 100%);
}

/*dayPicker (calendar)*/

table.dayPicker{
	width: 272px;
	table-layout: fixed;
	border-collapse: separate;
	font-weight: normal;
	border: none;
}

table.dayPicker caption{
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #E6E6E6;
	text-shadow: 1px 1px 1px #F2F2F2;
}

table.dayPicker th{
	text-align: center;
	width: 37px !important;
	height: 19px;
	padding: 0;
	font-size: 12px;
	border-top: none;
	border-right: none;
	border-bottom: solid 1px #D9D9D9;
	background-color: #E6E6E6;
}

table.dayPicker td{
	height: 26px;
	padding: 3px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	background: #F2F2F2 url(/co/common/images/bg-icon-day-picker.png) -6px 0 no-repeat;
	border-top: solid 1px #FBFBFB;
	border-right: solid 1px #D9D9D9;
	border-bottom: solid 1px #D9D9D9;
	border-left: solid 1px #FBFBFB;
	cursor: pointer;
}

table.dayPicker .dayPickerLink{
	display: block;
	width: 31px;
	height: 26px;
	color: #333;
	line-height: 26px;
	text-decoration: none;
	cursor: pointer;
}

table.dayPicker .dayPickerLink:hover{
	color: #D43500;
	text-decoration: underline;
}

table.dayPicker td + td + td + td + td + td{
	background-color: #CFCFFF;
	background-image: none;
}

table.dayPicker td + td + td + td + td + td + td{
	background-color: #FFCFCF;
	background-image: none;
}

table.dayPicker td.is-current{
	font-weight: bold;
	background: #F2F2F2 url(/co/common/images/bg-icon-day-picker.png) 0 0 no-repeat;
}

table.dayPicker td + td + td + td + td + td.is-current{
	background: #CFCFFF url(/co/common/images/bg-icon-day-picker.png) -48px 0 no-repeat;
}

table.dayPicker td + td + td + td + td + td + td.is-current{
	background: #FFCFCF url(/co/common/images/bg-icon-day-picker.png) -48px 0 no-repeat;
}

table.dayPicker td.is-disabled{
	color: #CCC;
	border-top: solid 1px #F2F2F2;
	border-left: solid 1px #F2F2F2;
	background-color: #E6E6E6;
	background-image: none;
	cursor: text;
}

table.dayPicker td.is-disabled:hover{ text-decoration: none; }

table.dayPicker td.is-checked{
	font-weight: bold;
	text-decoration: none;
	background-color: #666;
	background-image: none;
	border-top: none;
	border-left: none;
}

table.dayPicker td.is-checked .dayPickerLink{ color: #FFF; }

table.dayPicker td.is-current.is-checked{ background: #666 url(/co/common/images/bg-icon-day-picker.png) -48px 1px no-repeat; }

table.dayPicker tr td:first-child{ border-left: none !important; }

.dayPickerWrap{
	overflow: hidden;
	position: relative;
	width: 272px;
	clear: both;
}

.dayPickerWrap .dayPickerList li{ float: left; }

.dayPickerWrap .dayPickerList li ~ li{ margin-top: 0; }


.dayPickerNav{
	position: absolute;
	top: 0;
	left: 0;
}

.dayPickerNavLink{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 239px;
	width: 34px;
	height: 0;
	padding-top: 42px;
	background-image: url(/co/common/images/bg-btn-calendar-next.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.dayPickerNav li:first-child .dayPickerNavLink{
	left: 0;
	background-image: url(/co/common/images/bg-btn-calendar-prev.png);
}

/* map */

.map{
	position: relative;
	width: 580px;
	height: 590px;
}

.mapBalloon{
	position: absolute;
	display: table;
	min-height: 45px;
	padding: 17px;
	letter-spacing: -0.04em;
	text-align: center;
	border: solid 3px #B3B3B3;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
	z-index: 4;
}

.mapBalloon .mapBalloonInner{
	display: table-cell;
	vertical-align: middle;
}

.mapBalloon .storeName{
	width: 260px;
	color: #333;
}

.mapBalloon .btnClose{
	position: absolute;
	top: 0;
	right: 0;
	width: 26px;
	height: 26px;
	margin-bottom: 0;
}

.mapBalloon .btn p{
	margin-top: 5px;
	background-color: #6B634E;
	background-image: -webkit-linear-gradient(top, #898271 0%, #6B634E 100%);
	background-image: -ms-linear-gradient(top, #898271 0%, #6B634E 100%);
	background-image: linear-gradient(to bottom, #898271 0%, #6B634E 100%);
	border-radius: 4px;
}

.mapBalloon .btn input{
	width: 100%;
	height: 24px;
	border: none;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background: none;
	cursor: pointer;
}

.mapBalloon:after,
.mapBalloon:before{
	left: 50%;
	content: "\0025bc";
	display: block;
	position: absolute;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.mapBalloon:after{
	bottom: -11px;
	margin-left: -9px;
	color: #FFF;
	font-size: 18px;
	line-height: 18px;
}

.mapBalloon:before{
	bottom: -20px;
	margin-left: -12px;
	color: #B3B3B3;
	font-size: 24px;
	line-height: 23px;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.mapIcon{
	position: absolute;
	width: 27px;
	height: 27px;
	z-index: 3;
}

.mapOverlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(/co/common/images/bg-map-overlay.png) left top repeat;
	z-index: 2;
}

/*PGN-04*/

.displaySwitching ul:after{
	content: "";
	display: table;
	clear: both;
}

.displaySwitching li:first-child{ margin-left: 0; }

.displaySwitching li{
	position: relative;
	float: left;
	margin-left: 17px;
	padding-bottom: 6px;

}

.displaySwitching li.is-active{ border-bottom: 3px solid #E6E6E6; }

.displaySwitching .displaySwitchingGritBtn,
.displaySwitching .displaySwitchingListBtn{
	overflow: hidden;
	display: block;
	width: 18px;
	height: 16px;
	text-indent: 100%;
	white-space: nowrap;
}

.displaySwitching .displaySwitchingGritBtn{ background: url(/co/common/images/bg-btn-displaySwitching-grid.png) 0 bottom no-repeat; }

.displaySwitching .displaySwitchingListBtn{ background: url(/co/common/images/bg-btn-displaySwitching-list.png) 0 bottom no-repeat; }

.displaySwitching li:hover .displaySwitchingGritBtn,
.displaySwitching li:hover .displaySwitchingListBtn{ background-position: 0 0; }

.displaySwitching li.is-active .displaySwitchingGritBtn,
.displaySwitching li.is-active .displaySwitchingListBtn{
	background-position: 0 -17px;
	cursor: text;
}

/*arrow_01*/

.arrowFlow{ position: relative; }

.arrowFlow:after{
	content: "";
	position: absolute;
	bottom: -40px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 29px 0 29px;
	border-color: #E6E6E6 transparent transparent transparent;
}
.mod-nanacoCardSelect .mod-nanacoCardSelect_body .mod-nanacoCardSelect_selectTitle .arrowFlow:after{
	content: "";
	position: absolute;
	bottom: 22px;
	right: 50%;
	width: 0;
	height: 0;
	margin-right: -12px;
	border-style: solid;
	border-width: 12px 12px 0 12px;
	border-color: #999999 transparent transparent transparent;
}

/* icon_not_stock, icon_sale */

.productDetailsThumbs{ font-size: 0; }

.productDetailsThumbs li{
	display: inline-block;
	vertical-align: top;
	width: 50px;
	margin: 0 5px 5px 0;
}

.productDetailsThumbs .bnrImgWrap{
	border-radius: 0;
	position: relative;
	background-color: #E6E6E6;
	z-index: 1;
}

.productDetailsThumbs .bnrImgWrap:after{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	content: "";
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	border: solid 1px #E6E6E6;
}

.productDetailsThumbs .is-active .bnrImgWrap:after{ border: 1px solid #D43500; }

.productDetailsThumbs .is-disabled .bnrImgWrap{ cursor: text; }

.productDetailsThumbs .is-disabled .bnrImgWrap:after{ border: 1px solid #CCC; }

.productDetailsThumbs .bnrImgWrap .bnrImg{ border-radius: 0; }

.productDetailsThumbs .is-disabled .bnrImg,
.productDetailsThumbs .is-disabled .thumbsTag img{ opacity: 0.5; }

.productDetailsThumbs .is-disabled .bnrImgWrap:hover img{ opacity: 0.5; }

.productDetailsThumbs .u-img{ width: 50px; }

.productDetailsThumbs .thumbsTag{
	position: absolute;
	left: 1px;
	bottom: 1px;
}

.productDetailsTxt{
	margin-top: 4px;
	font-size: 10px;
}

/* icon_carousel_navi */

.carouselNav{
	display: table;
	padding: 5px 19px 5px 19px;
	background-color: #E6E6E6;
}

.carouselNav:after{
	content: "";
	display: table;
	clear: both;
}

.carouselNav li{
	display: table-cell;
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.carouselNavLink{
	display: block;
	width: 15px;
	padding: 5px 1px 5px 1px;
}

.carouselNavIcon{
	display: block;
	overflow: hidden;
	width: 15px;
	height: 5px;
	background: url(/co/common/images/bg-btn-carousel-pager-02.png) 0 0 no-repeat;
	text-indent: 100%;
	white-space: nowrap;
}

.carouselNavLink:hover .carouselNavIcon{ background-position: 0 center; }

.is-selected .carouselNavIcon,
.is-selected.carouselNavLink:hover .carouselNavIcon{ background-position: 0 bottom; }


/* icon_carousel_stop */

.carouselStop{
	display: table;
	padding: 5px 15px 5px 15px;
	background-color: #E6E6E6;
}

.carouselStop:after{
	content: "";
	display: table;
	clear: both;
}

.carouselStopLink{
	display: table-cell;
	width: 9px;
	height: 9px;
	padding: 3px;
	vertical-align: middle;
}

.carouselStopIcon{
	display: block;
	overflow: hidden;
	width: 9px;
	height: 9px;
	background: url(/co/common/images/bg-btn-carousel-pager-stop.png) 0 0 no-repeat;
	text-indent: 100%;
	white-space: nowrap;
}

.carouselStopLink:hover .carouselStopIcon{ background-position: 0 center; }

.is-selected .carouselStopIcon,
.is-selected.carouselStopLink:hover .carouselStopIcon{ background-position: 0 bottom; }

/* icon_list_nm */

.shoppingListWrap{
	display: table;
	min-width: 167px;
}

.shoppingListTitle{
	display: table-cell;
	height: 24px;
	font-size: 11px;
	vertical-align: middle;
}

.shoppingListTitle .icon.iconListBtn{
	min-height: 18px;
	padding-top: 1px;
	padding-left: 27px;
	background: url(/co/common/images/bg-icon-list-02.png) 0 0 no-repeat;
	box-sizing: border-box;
}

.shoppingListNum{
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.shoppingListNumLink{
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.shoppingListNumLink:hover{
	color: #D43500;
	text-decoration: underline;
}

/* BAN_01 */

.bnrImgTxtWrap{
	display: table;
	overflow: hidden;
	width: 148px;
	height: 48px;
	border: solid 1px #E6E6E6;
	border-radius: 4px;
}

.bnrImgTxtCol{
	display: table-cell;
	width: 49px;
	vertical-align: middle;
}

.bnrImgTxtCol.bnrImgTxt{
	width: 69px;
	padding: 10px 20px 10px 10px;
	background: url(/co/common/images/bg-icon-arrow-01.png) 87px center no-repeat;
	font-size: 12px;
}

/* arrow_next_01_01 */

.thumbnailCarousel{
	overflow: hidden;
	position: relative;
	width: 718px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}

.thumbnailCarouselViewport{
	overflow: hidden;
	width: 580px;
	margin: 0 auto 0 auto;
}

.thumbnailCarouselSliders{
	position: relative;
	width: 10000px;
}

.thumbnailCarouselSliders li{
	float: left;
	width: 120px;
	margin: 0 16px 0 16px;
	font-size: 12px;
}

.thumbnailCarouselImg{
	margin-bottom: 5px;
	overflow: hidden;
}

.thumbnailCarouselImgLink{
	display: block;
	overflow: hidden;
	width: 120px;
	height: 120px;
	box-sizing: border-box;
}

.thumbnailCarouselImgLink:hover{ border: solid 1px #D43500; }

.thumbnailCarouselImgLink:hover .thumbnailCarouselImgLinkImg{ margin: -1px; }

.thumbnailCarouselNextBtn,
.thumbnailCarouselPrevBtn{
	overflow: hidden;
	position: absolute;
	top: 65px;
	width: 30px;
	height: 30px;
	text-indent: 100%;
	white-space: nowrap;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.thumbnailCarouselPrevBtn:hover,
.thumbnailCarouselNextBtn:hover{ background-position: 0 bottom; }

.thumbnailCarouselPrevBtn{
	left: 30px;
	background-image: url(/co/common/images/bg-btn-carousel-prev-nobg-s.png);
}

.thumbnailCarouselNextBtn{
	right: 30px;
	background-image: url(/co/common/images/bg-btn-carousel-next-nobg-s.png);
}


/* 特集エリア */

.spe-col .row,
.spe-bnr .row{ margin-bottom: 0; }

.spe-bnr .row ~ .row{ margin-top: 20px; }

.spe-btn{ text-align: center; }

.spe-bnr img{ width: 980px; }

.col2FasetLeft .spe-bnr .u-img,
.col2FasetLeft .spe-col .u-img{ width: 780px; }

.spe-txtBox{
	clear: both;
	min-width: 100%;
	margin: 40px -10px 20px -10px;
}

.spe-txtBox:after{
	content: "";
	clear: both;
	display: table;
}

.spe-txtBox_col{
	float: left;
	padding: 0 10px 0 10px;
	box-sizing: border-box;
}

.spe-txtBox_col .u-img{ max-width: 100%; }

.spe-txtBox_col .txtL{ margin-bottom: 10px; }

.spe-txtBox_col .txtL + .txtS{ margin-bottom: 20px; }

.spe-txtBox_col .txtLink { font-size: 14px; }

.spe-txtBox_col-3{ width: 25%; }

.spe-txtBox_col-4{ width: 33.3%; }

.spe-txtBox_col-6{ width: 50%; }

.spe-txtBox_col-8{ width: 66.6%; }

.spe-txtBox_col-9{ width: 75%; }

.spe-txtBox_col-12{ width: 100%; }

.spe-txtBox_col-6 .u-img{ width: 480px; }

.spe-txtBox_col-4 .u-img{ width: 300px; }

.spe-txtBox_col-3 .u-img{ width: 230px; }

.col2FasetLeft .spe-txtBox_col-6 .u-img{ width: 380px; }

.col2FasetLeft .spe-txtBox_col-4 .u-img{ width: 250px; }

.col2FasetLeft .spe-txtBox_col-3 .u-img{ width: 180px; }

.col2FasetLeft .spe-bnr .col2Inner .u-img{ max-width: 380px; }

.spe-bnr .col3Inner img{ max-width: 300px; }

.spe-tabWrap{
	clear: both;
	min-width: 100%;
	margin: 0 -10px 20px -10px;
}

.spe-tabWrap:after{
	content: "";
	clear: both;
	display: table;
}

.spe-tab{
	float: left;
	padding: 0 10px 0 10px;
	box-sizing: border-box;
}

.spe-tabWrap.spe-tabWrapNoImg .spe-tab .bnrImgWrap.u-hoverLink{ height: 60px; }

.spe-tabWrap.spe-tabWrap_col-3{
	min-width: 0;
	margin: 0 0 20px 0;
	padding-right: 80px;
}

.spe-tabWrap_col-3 .spe-tab.last{ margin-right: -80px; }

.spe-tabWrap_col-3 .spe-tab{
	width: 33.3%;
	padding: 0;
	margin-right: 40px;
}

.spe-tabWrap_col-4 .spe-tab{ width: 25%; }

.spe-tabWrap_col-5 .spe-tab{ width: 20%; }

.spe-tab .bnrImgWrap{
	display: block;
	position: relative;
	font-size: 14px;
	z-index: 1;
}

.spe-tab .bnrImgWrap:after{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	content: "";
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	border: solid 1px #E6E6E6;
	border-radius: 4px;
}

.spe-tab .bnrImgWrap.is-current:after{ border-color: #333; }

.spe-tab .bnrImgWrap .bnrImg{
	width: 100%;
	min-height: 60px;
}

.spe-tabWrapNoImg .spe-tab .bnrImgWrap .bnrImg{ height: 60px; }

.spe-tab .bnrImgWrap.u-hoverLink{
	color: #666;
	font-weight: bold;
}

.spe-tab .bnrImgWrap.is-current{
	color: #333;
	font-weight: bold;
}

.spe-tab .bnrImgWrap .u-img{
	max-width: 60px;
	border-radius: 0 4px 4px 0;
}

.spe-tab .iconImgInner{
	text-align: right;
	vertical-align: middle;
}

.spe-tab .iconImgInner:first-child{
	text-align: left;
	padding-left: 10px;
}

.spe-tab .u-hoverLink:hover .iconImgInner:first-child{ text-decoration: underline; }

.spe-heading .bulletNotes:before{ content: "注）"; }

.spe-heading h3,
.spe-heading .headingH3{ margin-top: 20px; }

.spe-movieArea{ text-align: center; }

.spe-movieBox:after{
	content: "";
	display: table;
	clear: both;
}

.spe-movieBox_col{
	float: left;
	width: 480px;
}

.mainColumn .spe-movieBox_col{ width: 380px; }

.spe-movieBox_col + .spe-movieBox_col{ margin-left: 20px; }

.spe-movieBox_col .txtL{ margin-bottom: 10px; }

.spe-movieBox_col_movieArea{ margin-top: 10px; }

/* プレースホルダー */
.fakePlaceholder{
	display: block;
	color: #ccc;
	position: absolute;
}

/* OMNI_DEV-6072 iOSリンクアクション対策 */
.is-iOS a:hover img { opacity: 1;}
.is-iOS a:active img { opacity: 0.7;}