@charset "UTF-8";

/* IE8だけ余白が大きいので調整 */
@page{
	margin: 1cm 1.5cm 1.5cm\9;
}

#header,
#footer,
.mod-pageTop,
.mod-btnWrap_nonPrint{ display: none; }

#header.mod-header-varReceiptForPrinting{ display: block; }

.mod-header-varReceiptForPrinting .mod-header_headerLogo{ margin-top: 10px; }

.mod-tableSet_04 .colOpenLinkTxt{ position: relative; }

#wrapper{ min-width: 980px; }

#mainContent{
	margin: 0;
	padding: 0;
}

.row{
	display: table;
	width: 100%;
}

.row > form{
	display: table-row;
	vertical-align: top;
}

.topFaset3col .row{
	width: auto;
}

.topFaset3col > .mainColumn{
	width: auto;
	float: none;
	margin-right: 0;
}

.topFaset3col > .columnInner{ margin-right: 0; }

.topFaset3col > .faset{ float: none; }

.topFaset3col .col2FasetLeft .columnInner{ margin-right: 0; }


.row .mainColumn{
	display: table-cell;
	width: auto;
	min-width: 0;
	float: none;
	margin: 0;
	padding: 0 20px 0 0;
	vertical-align: top;
}


.row.col2FasetLeft .faset + .mainColumn{ padding: 0 0 0 20px; }

.row .columnInner{ margin: 0; }

.row .faset{
	display: table-cell;
	float: none;
	vertical-align: top;
	margin-top: 0 !important;
}

.col2FasetLeft .faset{ margin-right: 0; }

.col3 .mainColumn{
	width: auto;
	display: table-cell;
	float: none;
	vertical-align: top;
	margin-right: 0;
}

.col3 .mainColumn .columnInner{
	margin: 0;
}

.col3 .fasetPrimary{
	display: table-cell;
	float: none;
	vertical-align: top;
	margin-right: 0;
	padding-right: 20px;
}

.col3 .fasetSecondary{
	display: table-cell;
	float: none;
	vertical-align: top;
}


.widthFixedContent{ margin: 0; }

.widthFixedContent .row{ max-width: 980px;}

.u-optionsList dd:before{
	padding-right: 0.5em;
	letter-spacing: -0.5em;
}

.mod-productDetails3Column_mainColumn{
	display: table-cell;
	float: none;
	width: auto;
	vertical-align: top;
}
.miniItemDetailWindow .mod-productDetails3Column,
.mod-productDetails3Column_bodyInner,
.mod-productDetails3Column_columnInner{
	display: table;
	width: 100%;
	margin: 0;
	float: none;
}

.mod-productDetails3Column_colMovie{ width: auto; }

.mod-productDetails3Column_colProductDetails{ width: auto; }

.miniItemDetailWindow .productContentDetails,
.mod-productDetails3Column_colMovie,
.mod-productDetails3Column_colProductDetails,
.mod-productDetails3Column_colCart{
	display: table-cell;
	vertical-align: top;
	margin: 0;
	float: none;
}

.mod-productDetails3Column_colProductDetails > .box03,
.mod-productDetails3Column_colProductDetails .productDetailsInner{ margin-left: 0; }

.mod-productDetails3Column .viewport{ width: 335px; }

.mod-productDetails3Column_colProductDetails > .box03{ margin: 0; }


.mod-productsCarousel_nav{ display: none !important; }


.formTxt{ max-width: 68%; }

.mod-ptclb_txtArea,
.mod-bank_txtArea,
.mod-aboutNanaco_usefulList dl{
	display: table;
	width: 100%;
	box-sizing: border-box;
}


.mod-return{
	font-size: 10pt;
}

.mod-return h1{
	margin-bottom: 15pt;
	font-size: 14pt;
}

.mod-return .headingH3{
	margin-top: 16pt;
	margin-bottom: 8pt;
	font-size: 8pt;
	padding: 4pt;
}

.mod-return .box02{ padding: 8pt; }

.mod-return_figure{
	max-width: 100%;
	max-height: 72pt;
}

.mod-return .txtNormal{ margin-bottom: 8pt; }

.mod-return .txtS{ font-size:8pt !important; }

.icon.iconFreeDial{ font-size: 10pt; }

.mod-return_slipTitle{
	height: 21pt;
	font-size: 14pt;
}

.mod-return_slipTitle:after{
	border-top: solid 21pt #000;
}

.mod-return_barCodeTitleTxt{ font-size: 11pt; }

.mod-return_barCodeTitle{ width: 60pt; }

.mod-return_barCodeTitle .mod-return_slipTitle{
	height: 36pt;
	padding: 3pt;
	font-size: 15pt;
}

.mod-return_barCodeTitle .mod-return_slipTitle:after{ border-top-width: 42pt; }

.mod-return_barCodeWrap{ padding-left: 40pt; }

.mod-return_barCodeTxt{ font-size: 11pt; }

.mod-return_address{ font-size: 13pt; }

.mod-return_storeName{ font-size: 14pt; }

.mod-return_tel dd{ font-size: 14pt; }

.mod-return_storeLogo{ margin-bottom: -8pt; }

.mod-return_scissorUpper{
	top: -8pt;
	bottom: auto;
}

.mod-return .mod-btnWrap{ display: none; }


/* other_set_57, other_set_91, other_set_92 */
.mod-carouselPromotion{ width: 980px !important; }
.mod-carouselPromotion_sliders{ margin-left: -635px !important; }
.mod-carouselPromotion_sliders li,
.mod-carouselPromotion_sliders .mod-carouselPromotion_slidersLink{
	width: 750px !important;
	height: 250px !important;
}

.mod-carouselPromotion_prevWrap,
.mod-carouselPromotion_nextWrap{ width: 76px !important; }

.col2FasetLeft .mod-carouselPromotion{ width: 780px !important; }
.col2FasetLeft .mod-carouselPromotion_sliders{ margin-left: -552px !important; }
.col2FasetLeft .mod-carouselPromotion_sliders li,
.col2FasetLeft .mod-carouselPromotion_slidersLink{
	width: 628px !important;
	height: 210px !important;
}

.topFasetRight .mod-carouselPromotion{ width: 660px !important; }
.topFasetRight .mod-carouselPromotion_sliders{ margin-left: -432px !important; }
.topFasetRight .mod-carouselPromotion_sliders li,
.topFasetRight .mod-carouselPromotion_slidersLink{
	width: 508px !important;
	height: 170px !important;
}

.topFaset3col .col2FasetLeft .mod-carouselPromotion{ width: 460px !important; }
.topFaset3col .col2FasetLeft .mod-carouselPromotion_sliders{ margin-left: -232px !important; }
.topFaset3col .col2FasetLeft .mod-carouselPromotion_sliders li,
.topFaset3col .col2FasetLeft .mod-carouselPromotion_slidersLink{
	width: 308px !important;
	height: 103px !important;
}

.col3 .mainColumn .columnInner .mod-carouselPromotion{ width: 460px !important; }
.col3 .mainColumn .columnInner .mod-carouselPromotion_sliders{ margin-left: -232px !important; }
.col3 .mainColumn .columnInner .mod-carouselPromotion_sliders li,
.col3 .mainColumn .columnInner .mod-carouselPromotion_slidersLink{
	width: 308px !important;
	height: 103px !important;
}

.mainColumn .mod-categoryTabCarousel{
	width: 660px;
	overflow: hidden;
}

.mod-categoryTabCarousel_prev,
.mod-categoryTabCarousel_next{ display: none !important; }

/* form-set-20 */
.mod-locationSearchSelect .btnWrap{ margin-bottom: 30px; }


.mod-productsCarousel_box{
	display: inline-block;
	float: none;
}

.mod-headingStore,
.mod-headingWrap{ page-break-after: avoid; }

.topFaset3col .mod-shoppingContents_item{ width: auto !important; }


.col2FasetLeft .mod-productsCarousel_carousel{ width: 720px !important; }

.col2FasetLeft .mod-productsCarousel_box{ margin: 0 10px 0 10px !important; }

.topFaset3col .is-gridDisplay .mod-shoppingContents_item .productImg .u-img,
.topFaset3col .is-gridDisplay .mod-shoppingContents_item{ width: 133px !important; }

.topFaset3col .col2FasetLeft .mod-productsCarousel_carousel{ width: 400px !important; }

.topFaset3col .col2FasetLeft .mod-productsCarousel_box{ margin: 0 10px 0 10px !important; }

.topFasetRight .mod-productsCarousel_carousel{ width: 600px !important; }

.topFasetRight .mod-productsCarousel_box{ margin: 0 10px 0 10px !important; }

.topFaset3col .mod-shoppingContents .is-gridDisplay .linkBtnL .linkBtn{ min-width: 113px; }

.mod-cartSideNav.u-modMarginBottom{
	margin-bottom: 0;
	padding-bottom: 150px;
}


