@font-face {

	font-family: "tribuna-icon";
	src: url('//st.s5o.ru/build/assets/fonts/tribuna-icon/tribuna-icon.eot'),
		 url('//st.s5o.ru/build/assets/fonts/tribuna-icon/tribuna-icon.eot?#iefix') format('embedded-opentype'),
		 url('//st.s5o.ru/build/assets/fonts/tribuna-icon/tribuna-icon.woff') format('woff'),
		 url('//st.s5o.ru/build/assets/fonts/tribuna-icon/tribuna-icon.ttf') format('truetype'),
		 url('//st.s5o.ru/build/assets/fonts/tribuna-icon/tribuna-icon.svg#tribuna-icon') format('svg');


}

[class^="icon-"],[class*=" icon-"] {

	position: relative;
	display: inline-block;
	font-family: "tribuna-icon";
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	text-align: center;
	text-decoration: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}



.icon-android:before { content: "\f200" }  
.icon-apple:before { content: "\f201" }  
.icon-arrow-down-a:before { content: "\f202" }  
.icon-arrow-down-d:before { content: "\f203" }  
.icon-arrow-left-a:before { content: "\f204" }  
.icon-arrow-left-c:before { content: "\f205" }  
.icon-arrow-left:before { content: "\f206" }  
.icon-arrow-right-a:before { content: "\f207" }  
.icon-arrow-right-c:before { content: "\f208" }  
.icon-arrow-right:before { content: "\f209" }  
.icon-arrow-up-c:before { content: "\f20a" }  
.icon-arrow-up-d:before { content: "\f20b" }  
.icon-back:before { content: "\f20c" }  
.icon-burger:before { content: "\f20d" }  
.icon-check-a:before { content: "\f20e" }  
.icon-check:before { content: "\f20f" }  
.icon-close:before { content: "\f210" }  
.icon-death:before { content: "\f211" }  
.icon-fb:before { content: "\f212" }  
.icon-forward:before { content: "\f213" }  
.icon-gg:before { content: "\f214" }  
.icon-insta:before { content: "\f215" }  
.icon-mail:before { content: "\f216" }  
.icon-mailru:before { content: "\f217" }  
.icon-minus:before { content: "\f218" }  
.icon-notification:before { content: "\f219" }  
.icon-ok:before { content: "\f21a" }  
.icon-pause:before { content: "\f21b" }  
.icon-play:before { content: "\f21c" }  
.icon-play_small:before { content: "\f21d" }  
.icon-plus:before { content: "\f21e" }  
.icon-refresh:before { content: "\f21f" }  
.icon-replay:before { content: "\f220" }  
.icon-resize:before { content: "\f221" }  
.icon-resize_out:before { content: "\f222" }  
.icon-rss:before { content: "\f223" }  
.icon-search:before { content: "\f224" }  
.icon-settings:before { content: "\f225" }  
.icon-share:before { content: "\f226" }  
.icon-sound:before { content: "\f227" }  
.icon-sound_mute:before { content: "\f228" }  
.icon-sound_slow:before { content: "\f229" }  
.icon-tl:before { content: "\f22a" }  
.icon-tw:before { content: "\f22b" }  
.icon-vk-new:before { content: "\f22c" }  
.icon-vk:before { content: "\f22d" }  
.icon-whatsapp:before { content: "\f22e" }  
.icon-ya:before { content: "\f22f" }  