/* Home Page Css */
#headernav_wrap {transition:all linear 0s}

body {padding-right:0!important; overflow-x:hidden}
.heightauto {height:auto !important}
.padd_top0{padding-top:0px;}
.padd_bottom0{padding-bottom:0px;}
.padd_right30 {padding-right:30px;}

#headernav_wrap.srchbar_h .shadownone {box-shadow: 0 0px 0px 0px #d0d0d0;}
#empuser_wrap {padding: 7px 0px;}
#empuser_wrap span {color:#FFF; padding:0 10px}
#empuser_wrap a {color:#FFF; font-family:Tahoma, Geneva, sans-serif; font-size:13px;}
#empuser_wrap a:hover {text-decoration:none}
#empuser_wrap .butCon {background: #92a53a;    display: block;    padding: 5px 19px;    border-radius: 10px;    margin-left: 40px;    position: relative;    height: 48px;}
#empuser_wrap span.user {display:inline-block; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat 0 0; width:34px; height:35px; vertical-align:top; padding:0}
#empuser_wrap .linkSec {display:inline-block; vertical-align:top; margin-left:15px;}
#empuser_wrap a.emplink {color:#FFF; width:124px; text-transform:uppercase; letter-spacing:2px; margin-bottom:4px; margin-top:-1px; display:inline-block; font-size:12px; font-family: 'Roboto', sans-serif; transition:all ease-in-out 0.2s;}

#empuser_wrap a.emplinkactive {padding:12px 0;}
.otherLinksnone {display:none}
#empuser_wrap a.emplink span.icon-arrow {display: inline-block; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat -36px 0; width:8px; height:7px; vertical-align:top; margin-left:10px; margin-top:3px}
#empuser_wrap .empDrop_down {position:absolute; top:40px; left:0; width:100%; background:#92a53a; max-height: 0; transition: max-height 0.2s ease-out; overflow: hidden; border-radius:0 0 10px 10px;}
#empuser_wrap .empDrop_down ul {margin:0; padding:10px; list-style:none}
#empuser_wrap .empDrop_down ul li {border-bottom:1px solid #a6bb44}
#empuser_wrap .empDrop_down ul li a {padding:5px; display:block; transition:all ease-in .2s;}
#empuser_wrap .empDrop_down ul li a:hover {background:#432b5d; color:#FFF; padding-left:10px;}
#empuser_wrap .empDrop_downactive {  max-height: 200px; transition: max-height 0.2s ease-in;}
#jobuser_wrap {padding: 18px 0 0 0;}
#jobuser_wrap span {color:#FFF; padding:0 10px}
#jobuser_wrap a {color:#ffa801; font-family:Tahoma, Geneva, sans-serif; font-size:13px;}
#jobuser_wrap a:hover {color: #FFF;}
#jobuser_wrap a:hover {text-decoration:none}
#jobuser_wrap .butCon {background:#311d47; display:block; padding:10px 19px; border-radius:10px 10px 0 0 ; margin-left:40px; position:relative; height:55px; width:218px;}
#jobuser_wrap span.user {display:inline-block; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat 0 -42px; width:34px; height:35px; vertical-align:top; padding:0}
#jobuser_wrap .linkSec {display:inline-block; vertical-align:top; margin-left:15px;}
#jobuser_wrap span.joblink {color:#FFF; width:124px; text-transform:uppercase; letter-spacing:2px; margin-bottom:4px; margin-top:-1px; display:inline-block; font-size:12px; font-family: 'Roboto', sans-serif; transition:all ease-in-out 0.2s; padding:0}

.hm_srch_bar .fileUpload {    position: relative;    overflow: hidden;    margin: 0px;	background:#28173a;	float:right;	font-size:12px;	letter-spacing:1px;	border-radius:0 0 10px 10px;	border:0;	padding:11px 15px 11px 14px; width:218px;}
.hm_srch_bar .fileUpload .upload-icon {display:inline-block; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat 0 -85px; width:35px; height:26px; vertical-align:inherit; padding:0; margin-right:12px;}
.hm_srch_bar .fileUpload input.upload {position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0);}

.hm_srch_bar {background: #432b5d; padding:11px 15px 33px 15px !important; border-bottom: 0px #d6d6d6 solid; height:168px; transition:all ease-in 0.2s}
.hm_srchbarinnr {width:794px; margin:0 0 0 30px;}
.hm_srchbarinnr .txtbox {background:#FFF; margin-right:0px; border-radius:5px;}
.hm_srchbarinnr .row .col {padding-left: 0px; padding-right: 0px;}
.hm_srchbarinnr .row .col {padding-left: 0px; padding-right: 0px; border-right: #dcdcdc 0px solid;}
.hm_srchbarinnr .row .col:nth-child(3) {border-right: #dcdcdc 0 solid;}
.hm_srchbarinnr .row .col input {border: #c2c2c2 1px solid;}
.hm_srchbarinnr .row .col:nth-child(3) input {border-right: #dcdcdc 0 solid; border-radius: 0 3px 3px 0}
.hm_srchbarinnr .ui-corner-all a { left:0 !important; width: 100% !important; border-radius: 0!important; border: 0!important; font-size: 14px!important; padding:3px 7px!important; height:auto !important; color:#999!important}

.hm_srchbarinnr .ui-corner-all a:hover { background:#CCC !important; left:0 !important; width: 100% !important; border-radius: 0!important; border: 0!important; font-size: 14px!important; padding:3px 7px!important; color:#432b5d !important}
.hm_srchbarinnr .ui-autocomplete {left:0 !important; background: #FFF !important; z-index:10 !important; padding:0 !important}
.hm_srchbarinnr .ui-autocomplete .bg_white {padding:0!important;}

.hm_srchbarinnr .ui-corner-all .bg_white a, .hm_srchbarinnr .ui-corner-all .bg_white a:hover  {padding: 0 !important}

.hm_srchbarinnr #show_search_suggestions {background:#FFF}
.hm_srchbarinnr .search_suggestion_header {    padding:5px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #e7e7e7;}
.hm_srchbarinnr .search_suggestion_body {padding:5px 15px;}
.hm_srchbarinnr .search_suggestion_body ul {padding:0; margin:0}
.hm_srchbarinnr .search_suggestion_body li { display:inline-block}
.hm_srchbarinnr .search_suggestion_body li .suggested_word {    padding: 5px 10px;    display: inline-block;    background-color: #f2f5e4;    border: 1px solid #ddd;    text-decoration: none;    margin: 0 0 2px 0;    font-size: 12px;}
.hm_srchbarinnr .mpower_close_btn {width: 12px; height: 12px;}
.hm_srchbarinnr .search_suggestion_body li .suggested_word:hover {
    background-color: #FF7800;
    border-color: #FF7800;
    color: #fff;
    text-decoration: none;
}
.hm_srchbarinnr .close_search_suggestions {position: absolute;top: 8px !important;z-index: pointer;cursor: pointer;right: 10px;}
.hm_srchbarinnr .close_search_suggestions:after {content: 'x'; position: absolute; top: -6px; left: 2px; color:#000}


.occAsionBg { background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/day-homepage.jpg) no-repeat top center #432b5d; background-size:cover}
.occasionBanner { float:right; margin-bottom:10px}
#exp_container {    display: block;
    width: 100%;
    height: 38px;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: Tahoma, Geneva, sans-serif;}
	
#exp_container:after {right: 12px;    top: 100%;    border: solid transparent;    content: " ";    height: 0;    width: 0;    position: absolute;    pointer-events: none;    border-top-color: #555555;    border-width: 5px;	margin-left:0px;    margin-top: -22px;}

.single_select{    width: 100% !important;
    height: 120px;
    overflow-y: auto;
    text-align: left;
    background: #FFF;
    top: 38px;
    position: absolute;
    left: 0;
	z-index:10}
	
	.single_select ul {margin:0; padding:0; list-style:none}
	.single_select ul li {padding:0;}
	.single_select ul li a {padding:2px 5px 2px 20px; display:block; text-decoration:none}
	.single_select ul li a:hover {background:#f1f1f1}
	
	#selExp {outline:none; padding:12px 12px 10px 12px !important; width:100% !important; box-sizing:border-box; font-size: 14px; color: #a2a2a2;}
	.open_singleselect {width:100%; cursor:pointer}
	.open_singleselect .dropdown_smaller_wrapper {width:100% !important}
	
	#hmheadernav_wrap .placeholder_cmmn label {font-size: 14px !important; color: #a2a2a2 !important;}
	#hmheadernav_wrap .headernav_main.fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 8px 8px -8px #d0d0d0;
}
	
	
	
#cii {z-index:9999999999999999999999999999999999999}


.hm_srchbarinnr .row .col .inpicon:after
{
    content:url('http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/loc-icon.png');
	position:absolute;top:12px; right:10px;
}

.hm_srchbarinnr .row .col select.Borleft {border-left: #dcdcdc 1px solid;}

.hm_srchbarinnr h1 {color:#FFF; margin:15px 0 5px 0; font-size:21px;}
.hm_srchbarinnr .row .col:nth-child(1) input {border-radius:3px 0 0 3px;}
.hm_srchbarinnr .row .col:nth-child(3) select {border-radius:0 3px 3px 0;}
.hm_srchbarinnr .row .colsub {padding-left: 10px; padding-right: 0px;}
.hm_srchbarinnr .form-control {border:0;}
.hm_srchbarinnr .form-control {display: block; width: 100%; height: 38px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 0px solid #ccc; border-radius: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;	font-family:Tahoma, Geneva, sans-serif;}
.hm_srchbarinnr .btn_orange {    background: #ff7e00;	font-family:Tahoma, Geneva, sans-serif;    color: #fff !important;    margin-right: 0px;    padding: 6px 0px;	border-radius:3px;	font-size:16px;	text-transform:uppercase;	letter-spacing:1px;}

.hm_srchbarinnr .browsejobsul {margin:20px 0 0 0; padding:0; list-style:none; background:#311d47; border-radius:5px;}
.hm_srchbarinnr .browsejobsul .head {padding:5px 10px; text-transform:uppercase}
.hm_srchbarinnr .browsejobsul li { display:inline-block; color:#FFF; font-size:12px; position:relative}
.hm_srchbarinnr .browsejobsul li a { display:block; padding:5px 9px; color:#c9c9c9; line-height: 22px;}
.hm_srchbarinnr .browsejobsul li a:hover {text-decoration:none; background:#51366f}

.hm_srchbarinnr .browsejobsul ul { position:absolute; z-index:2; top:27px; padding:0; margin:0; border-radius:5px; background:#51366f; display:none; width:auto}
.hm_srchbarinnr .browsejobsul ul li {display:block}
.hm_srchbarinnr .browsejobsul ul li a { display:block; padding:3px 30px 3px 5px; color:#c9c9c9; font-size:12px; border-bottom:#9c78c4 1px solid}
.hm_srchbarinnr .browsejobsul ul li a:hover {color:#28173a; background:#FFF}

.hm_srchbarinnr .browsejobsul li a .icon-arrow {display: inline-block; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat -36px -10px; width:8px; height:6px; vertical-align:top; margin-left:5px; margin-top:7px}

.headerarrow {width:29px; height:0px; background:none; margin:0 auto}
.headerarrow1 {width:29px; height:13px; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat 0 -136px; margin:0 auto}
.headerarrow2 {width:29px; height:13px; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat 0 -155px; margin:0 auto}
.headerarrow3 {width:29px; height:13px; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat 0 -174px; margin:0 auto}
.headerarrow4 {width:29px; height:13px; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat 0 -191px; margin:0 auto}

.hmwidth .logoimg img { border:#bfbfbf 1px solid; width:120px; height:45px}
.hmwidth .logoimg .col {margin-bottom:2px; width:141px}

.hmwidth h2 { margin:18px 0 28px 15px; font-size:26px; font-weight:400; color:#414141}
.crouselcss h2 { margin:7px 0 10px 15px}

.hmwidth .adsBlock1 { position:absolute; top:10px; right:30px; z-index:1}
.hmwidth .adsBlock1 img {width:auto; height:auto}
.posRel {position:relative}

.hmwidth .adsbanner {margin-top:10px;}

.hmwidth .adsbanner img {width:100%}
.hmwidth {width:1348px; padding:0 0px;}

.sectionHm {padding:0px}
.whiteCssBack {width:100%; background:#FFF}
.mobwhiteCssBack {width:100%; background:transparent}
.p574a97CssBack {width:100%; background:#574a97}
.pe8e8e8CssBack {width:100%; background:#e8e8e8}
.p5d4f9fCssBack {width:100%; background:#5d4f9f}

.nologos {padding:0}
.nologosnone {display:none !important}


.crouselcss {padding-bottom:35px;}
.crouselcss .paddnomoe {height:26px; display:block}
.crouselcss .panel {margin-bottom:0px; background-color: #fff; border: 1px solid #f0f0f0; border-radius: 0px; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);  box-shadow: 0 1px 1px rgba(0,0,0,0);}
.crouselcss .panel-default .panel-heading {    color: #FFF; padding:0;    background-color: #fb7600;	text-transform:uppercase;	font-size:22px;	text-align:center;	font-weight:400; width:100%; text-decoration:none; transition:all linear 0.2s}
.crouselcss .panel-default .panel-heading a { color: #FFF; text-decoration:none; display:block; padding:10px 15px;}
.crouselcss .panel-default .panel-heading:hover {background-color: #432b5d;}

.crouselcss .panel-default .panel-heading {    color: #FFF;    background-color: #fb7600;	text-transform:uppercase;	font-size:22px;	text-align:center;	font-weight:400}
.crouselcss .panel-default .panel-footer {    background-color: #FFF;border:0;	padding-top:0;	padding-bottom:0;}
.crouselcss .panel-default .panel-footer button {    background-color: #92a53a;	color:#FFF;	border:0;	padding:5px 20px;	transition: all ease-in-out 0.2s;	}

.crouselcss .panel-default .panel-footer a {    background-color: #92a53a;	color:#FFF;	border:0;	padding:5px 20px;	transition: all ease-in-out 0.2s; display:inline-block}
.crouselcss .panel-default .panel-footer a:hover {    background-color: #432b5d;    color: #FFF;    border: 0}

.crouselcss .panel-default .panel-footer button:hover {    background-color: #432b5d;    color: #FFF;    border: 0;    padding: 5px 20px;}
.crouselcss .panel-body {	padding:0;	margin:15px 15px 10px 15px;}
.crouselcss .panelbodyb {	padding-bottom:0px;	padding-top:10px;	border-top:1px solid #cccccc;}
.crouselcss .panel-body .post, .crouselcss .panel-body .companyName, .crouselcss .panel-body .location, .crouselcss .panel-body .experin {	font-size:16px;	margin-bottom:5px;	font-weight:400;	color:#282828; text-overflow: ellipsis; width: 200px; overflow: hidden; white-space: nowrap;}

.crouselcss .panel-body .companyName {	color:#f17200;	font-size:14px;}
.crouselcss .panel-body .location, .crouselcss .panel-body .experin {	font-size:13px;}
.crouselcss .more-links {	text-align:right;	padding-bottom:10px; padding-right:15px;}
.crouselcss .more-links a {	font-size:12px;	font-weight:500;	color:#fb7600;}

.owl-buttons .owl-prev, .owl-buttons .owl-next {display: inline-block; width: 26px; height: 22px; border: 0px solid #450a72; border-radius: 3px; margin-left: 5px; opacity: 1; position: relative;     text-indent: -999999999px;    overflow: hidden;}
.owl-buttons .owl-prev {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/arrowcross.png) no-repeat 8px -35px;}
.owl-buttons .owl-next {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/arrowcross.png) no-repeat 8px 4px;}



.owl-buttons {position: absolute; text-align: right; padding: 0px; top: -26px; left: 5px; display:none}

.crouselcss .owl-buttons {position: relative; text-align: right; padding: 0px;}


.crouselcss .case2box .applySec { display:inline-block; width:49%; vertical-align:top}
.crouselcss .indianoneCr {display:none}

.crouselcss .case2box {width:648px; float:left}
.crouselcss .case2boxb {float:left; width:330px;}
.crouselcss .indianone {display:none}
.crouselcss .case2width {width:980px; margin:0 auto}

.crouselcss .case2box .applySec:nth-child(3) .panelbodyb {border:0; padding-top:0}

.crouselcss .case1width .case2box {width: 100%; float:none; text-align:center}

.crouselcss .case1width .case2box .applySec {width: 24%; text-align: left;}
.crouselcss .case1width .case2box .applySec:nth-child(4) .panelbodyb, .crouselcss .case1width .case2box .applySec:nth-child(5) .panelbodyb {border: 0; padding-top: 0;}

.gulfCrousel {}

#hmheadernav_wrap .navbar_brand_noswitch {height: 36px !important; padding: 16px 0 !important;}
#hmheadernav_wrap  .navbar-header {padding: 12px 15px 0 15px !important;  margin-right: 10px !important;  margin-bottom: -10px !important;}

.appSec { padding:30px 0}
.appSec img {max-width:100%}
.appSec .head {font-size:27px; color:#e8e8e8; font-weight:400; margin-bottom:30px; margin-top:80px}
.appSec .head span {color:#f49820}

.appSec .content {font-size:16px; color:#d3d2d2; font-weight:400; line-height:24px; margin-bottom:50px}
.appSec .content span {font-size:20px; color:#FFF; font-weight:400}
.appSec .applink a { margin-right:20px;}

.carrrerSection .carPaid { padding:0; background:#FFF; margin-bottom:30px; -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2); box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.2);}

.carrrerSection h3 {text-align:center; margin: 20px 0 5px 0; font-size: 26px; font-weight: 400; color:#333333}
.carrrerSection h6 {text-align:center; margin: 0px 0 20px 0; font-size: 15px; font-weight: 400; color:#7a787b}

.carrrerSection .img {width:100%; height:90px;}
.carrrerSection .pic1 {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/pic1.jpg) no-repeat; background-size:cover;}
.carrrerSection .pic2 {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/pic2.jpg) no-repeat; background-size:cover;}
.carrrerSection .pic3 {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/pic3.jpg) no-repeat; background-size:cover;}
.carrrerSection .pic4 {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/pic4.jpg) no-repeat; background-size:cover;}

.carrrerSection .cartxt {padding:15px; font-size:14px; color:#414141}

.carrrerSection .cartxt p {line-height:19px; margin-bottom:10px; min-height:57px;}

.carrrerSection .cartxt a {display:block; font-size:18px; color:#FFF; background:#ff7e00; border:2px dotted #FFF; text-align:center; padding:10px; font-weight:500; text-decoration:none}

.carrrerSection .cartxt a.color839a1b {background:#839a1b}
.carrrerSection .cartxt a.color531680 {background:#531680}
.carrrerSection .cartxt a.colore5073e {background:#e5073e}

.carrrerSection .cartxt span {margin-bottom:5px; display:block}

.carrrerSection .cartxt span a {color:#642891; font-size:17px; background:transparent; text-align:left; border:0; padding:0px; font-weight:700;}

.carrrerSection .cartxt {padding:15px;}

.carrrerSection .requestCss { width:431px; margin:0 auto 40px auto}
.carrrerSection .requestCss .input {width:246px;}
.carrrerSection .requestCss input {width:100%; border:#5e50a1 1px solid; border-radius:5px 0 0 5px; color:#515151; padding:10px; font-size:14px;}
.carrrerSection .requestCss input.error {border:#FF0000 1px solid;}
.carrrerSection .requestCss .but {width:185px;}
.carrrerSection .requestCss  button {width:100%; border:#5e50a1 1px solid; border-radius:0 5px 5px 0; color:#FFF; background:#5e50a1; padding:8px 0 7px 0; font-size:18px; font-weight:400}

.careerPad {padding-right:35px; background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/careerBor.gif) no-repeat right center}

.career4box {padding-right:0; background:none}
.career4box .row:first-child {margin-left:0px;}
.career4box .row {width:50%; display:inline-block; vertical-align:top; margin-left:15px;}
.career2box {background:none; padding:0}
.career2box .row {width:50%; margin:0 auto;}

.eduCss {padding-left:35px;}
.eduCss .panel { border:0; border-radius:0;}
.eduCss .panel { border:0; border-radius:0;}
.eduCss .panel-heading { background:#00aeef; text-align:center; padding:40px 0}
.eduCss .contxt {font-size:13px; color:#414141}
.eduCss .contxt p { color:#414141; line-height:18px}
.eduCss .contxt span { font-weight:700; color:#642891; display:block; margin-bottom:5px;}

.eduCss a.view {display:block; font-size:18px; color:#FFF; background:#2890ca; border:2px dotted #FFF; text-align:center; padding:20px; font-weight:500}

.eduCss .eduCol { padding:10px; border:#f1f1f1 1px solid; -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.32); -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.32); box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.32); margin-bottom:30px; color:#282828; display:block; text-decoration:none}

.eduCss .eduCol .edutit {color:#282828; font-size:17px; font-weight:400; margin-bottom:5px;}
.eduCss .eduCol .eduCourse {color:#f17200; font-size:15px; font-weight:500; margin-bottom:5px;}
.eduCss .eduCol span {font-size:15px; display:block; margin-bottom:5px}
.eduCss .eduCol p span {font-size:15px; display:inline-block; margin-bottom:0}
.eduCss .eduCol p {margin:0}
.eduCss .eduCol .icon-square {display:inline-block; width:9px; height:9px; background:#808080; margin-right:10px	}

.monsterSection { padding:50px 0 30px 0}
.monsterSection .monsterAch {background:#ffffff; min-height:313px;}
.monsterSection .monsterAch .img {width:100%; height:150px;}

.monsterSection .monsterAch .logo {margin-bottom:10px;}
.monsterSection .monsterAch .pic1 {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/mpic1.jpg) no-repeat; background-size:cover;}
.monsterSection .monsterAch .pic2 {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/mpic2.jpg) no-repeat; background-size:cover;}
.monsterSection .monsterAch .pic3 {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/mpic3.jpg) no-repeat; background-size:cover;}

.monsterSection .monsterAch .monstxt {padding:15px; font-size:14px; color:#414141}
.monsterSection .monsterAch .monstxt span {display:block; margin-bottom:5px; font-size:14px;}
.monsterSection .monsterAch .monstxt p {line-height:19px; margin:0; margin-bottom:5px}
.monsterSection .monsterAch .monstxt p.fSize12 {font-size:12px; line-height:17px;}

.monsterSection .monsterAch .imgindex {text-align:center; height:auto; padding: 15px 15px 0 15px; box-sizing:border-box}
.monsterSection .monsterAch .imgindex img {max-width:100%}
.monsterSection .monsterAch .monstxt p.text1 {color:#5e50a4; font-size:15px; font-weight:500; margin-bottom:10px; line-height:26px;}
.monsterSection .monsterAch .monstxt p.text1 strong {display:inline-block; padding:3px; background:#5e50a4; color:#FFF; font-weight:500}

.monsterSection .monsterAch .monstxt p.text2 {font-size: 14px; font-weight: 300; margin-bottom: 0px; line-height: 20px;}


.monsterSection .monsterAch .radio-inline.custom label {    padding-left: 29px;    font-weight: 400;	padding-top:1px;}
.monsterSection .monsterAch .radio-inline {display:block; margin:15px 0}
.monsterSection .monsterAch button {width:100%; border:#92a53a 1px solid; border-radius:0 5px 5px 0; color:#FFF; background:#92a53a; padding:8px 0 7px 0; font-size:14px; font-weight:400; text-transform:uppercase; margin-top:10px}
.monsterSection .pollheight2 { min-height:240px}


.homeHeader {/*position:relative;*/ width:100%; z-index:101}
.headerSpaceHm {height:0; transition:all linear 0.3s}
.hm_scrollHeight {height:96px; transition:all linear 0.3s}
.hmscrollVisibil {visibility:hidden; opacity:0; transition:all linear 0.1s}
.marginTophomeJob {margin-top:-17px; transition:all linear 0.3s}
.hm_srchbarinnr {transition:all linear 0.3s}
.widthScroll {float:none; transition:all linear 0.3s}

/* home page end*/


/* pop up start */
.modal-dialog {top:100px}
.popup_wrap .rgt {float: right;}
.popup_wrap .lft {float: left}
.pop_bg {top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; position: fixed; background: #252525; opacity: 0.6; filter: alpha(opacity=50); display: none;}
.popup_wrap {    top: 0;    left: 0;    right: 0;    bottom: 0;    z-index: 9999;    position: relative;    background: none;  }
.popup_wrap .popup_parser{background:#f2f2f2;border-radius: 5px; position:relative; margin: auto; top: 0; left: 0; bottom: 0; right: 0; width:830px; height:496px; z-index:99999}
.popup_wrap .popup_parser .left_panel{width:550px; border-radius:5px 0px 0px 5px; background:#fff; box-shadow:3px 0px 6px rgba(0,0,0,0.1);padding:20px; }
.popup_wrap .popup_parser .left_panel .parser_header{color:#5d266a; font-weight: 500;}
.popup_wrap .popup_parser .left_panel .parser_header .txt_1{font-size:20px;}
.popup_wrap .popup_parser .left_panel .parser_header .txt_2{font-size:50px; margin:0px 10px 0px 5px;}
.popup_wrap .popup_parser .left_panel .parser_header .txt_3{font-size:20px; padding-top:25px;}
.popup_wrap .popup_parser .left_panel .or{position: relative;margin:30px 0px;}
.popup_wrap .popup_parser .left_panel .or:before{width: 100%;height: 1px; top: 50%; content: ''; position: Absolute; background: #d7d7e4;}
.popup_wrap .popup_parser .left_panel .or .h1 {display: inline-block;margin: 0;font-size: 12px;text-transform: uppercase;color: #737373;line-height: 30px;position: relative;background: #fff;border-radius: 20px;box-shadow: 0px 0px 7px rgba(0,0,0,0.5);width: 30px;height: 30px;text-align: center;font-weight: bold; left:50%; margin-left:-20px;}
.popup_wrap .popup_parser .left_panel .own{width:315px; margin:0 auto;}
.popup_wrap .popup_parser .left_panel .own .txt{font-size:18px; color:#737373; margin-right:10px;}
.popup_wrap .popup_parser .left_panel .own  a{background:#cccccc; color:#000; padding:10px 20px; border-radius:18px; text-decoration:none;font-size:16px;}
.popup_wrap .popup_parser .right_panel{width:280px; height:520px; border-radius:0px 5px 5px 0px;}
.popup_wrap .popup_parser .right_panel .close{width:280px; height:40px; position:relative}
.popup_wrap .popup_parser .right_panel .close .close_button{background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/icon_close.png) no-repeat; right:-10px; top:-20px; width:32px; height:32px; position:absolute}
.popup_wrap .popup_parser .right_panel .txt_1{font-size:18px; text-align:center; margin-top:30px;}
.popup_wrap .popup_parser .right_panel .txt_2{font-size:35px; text-align:center; margin-top:5px; color:#71509d;}
.popup_wrap .popup_parser .right_panel .txt_3{font-size:18px; text-align:center; margin-top:10px; color:#818181}
.animatepophm {    -webkit-animation: animatezoom 0.2s;    animation: animatezoom 0.2s}
@-webkit-keyframes animatezoom {from {-webkit-transform: scale(0)}     to {-webkit-transform: scale(1)}}
@keyframes animatezoom {from {transform: scale(0)}     to {transform: scale(1)}}

.popup_wrap .rg_container{width:985px;margin:0 auto;margin-top:20px;position:relative; }
.popup_wrap .rg_frmwrap{width:675px;padding:5px;background:#fff;box-shadow:0px 0px 20px 0px #bbb;position:relative;}
.popup_wrap .rg_frmrow{margin-top:15px;}
.popup_wrap .frm_inputbox{height:38px;line-height:38px;color:#b5b5b5;display: block;border: 1px #dddddd solid;padding:0px 5px 0px 45px;background: #ffffff;box-shadow:inset 0px 0px 0px 0px #aaa;position:relative;border-radius:2px;font-size:14px;}
.popup_wrap .frm_inputbox label {  color:#b5b5b5;   font-size:14px;  font-weight:normal;  position:absolute;  pointer-events:none;  left:45px;  top:12px;  transition:0.2s ease all;   -moz-transition:0.2s ease all;   -webkit-transition:0.2s ease all;}
.popup_wrap .frm_inputbox input:focus ~ label, .popup_wrap .frm_inputbox input:valid ~ label {top:-10px; font-size:11px;  color:#8b8b8b;  background:#dddddd;  padding:3px 5px;  border-radius:10px;}
.popup_wrap .left label {width: auto !important; font-size: 12px;}:after {right:50%;}
.popup_wrap .frm_inputbox.mobcode{padding:0px 5px !important;}
.popup_wrap .frm_inputbox .frmhovermsg{background: #efefef;width: 100%;border: 1px #b2b2b2 solid;border-top: none; position: absolute;left: -1px;top:39px;z-index: 10;font-size: 11px;padding: 5px 0px;color: #969696;  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);display: none;line-height:16px;}
.popup_wrap .frm_inputbox .frmhovermsg .innr{padding: 3px 5px;}

.popup_wrap .frm_inputbox .frm_input{position:relative;display:block;background:#FFF;border:0;margin:0;height:36px;line-height:38px;font-size:14px;color:#b5b5b5;outline:0;width:100%;}
.popup_wrap .frm_inputbox:before{position:absolute;content:attr(data-val);left:45px;top:12px;font-size:14px;color:#b5b5b5;line-height:14px;transition:all 0.2s linear;}

.popup_wrap .frm_inputbox:after, .popup_wrap .rg_frmrow .dropdown_small_wrapper:after, .popup_wrap .rg_frmrow .dropdown_smaller_wrapper:after{position:absolute;width:25px;height:25px;content:'';left:10px;top:10px;}
.popup_wrap .frm_inputbox.fname:after{background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat -53px 0px; width:16px; height:17px}
.popup_wrap .frm_inputbox.mob:after{background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat -53px -24px;}
.popup_wrap .clr_f:after{clear:both;content:'';display:block;}
.popup_wrap .frm_txt1{font-size:14px;color:#aeaeae;padding-left:10px;margin-bottom:5px;}
.popup_wrap .frm_txt2{margin-top:3px;font-size:10px;color:#aeaeae;padding-left:10px;}
.popup_wrap .frmsubmit_btn{width:100%;padding:0;margin:0;display:block;cursor:pointer;background:#869b1c;height:40px;line-height:40px;color:#fff;text-align:center;font-size:20px;border:0;outline:0;border-radius:2px;font-family:Arial, Helvetica, sans-serif}
.popup_wrap .frmsubmit_btn:hover{box-shadow:0px 0px 8px #aaa;}
.popup_wrap	.error {border:1px solid #FF0000}

/* pop up end */
.slider {padding-left:15px; position:relative; z-index:0}
.slider .item {width:100%; text-align:center}
.slider .item img {margin: 2px 0 0 0;}
.singleslide .owl-wrapper, .singleslide .owl-item , .singleslide .item { width:100%!important; text-align:center}
.hmwidth .logoimg .singleslide img { width:auto; margin-right:15px;}

.hmwidth .widthlogoos .adsBlock1 {top:-3px;}

.hmwidth .adsBlock1 .mn_headershoskele_big {margin-right:159px}
.hmwidth .showsAdd .mn_headershoskele_big {margin-right:0}

.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -25%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 25%;
}
.multi-item-carousel .carousel-inner .next {
  left: 25%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -25%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
.notobanner {}
.widthlogoos {width:1030px; margin:0 auto; float:none}
@media (max-width: 1358px) {
	.hm_srchbarinnr {    margin-left:15px;}
	.padd_right30 { padding-right: 15px;}	
}
@media (max-width:1350px){
	.hm_srchbarinnr .browsejobsul li a { padding:5px 8px;}
}


@media (max-width:1300px){
	.hm_srchbarinnr .browsejobsul li a { padding:5px;}
	.hmwidth {    width: 100%;}
	.hmwidth .logoimg .col {width: 120px; margin-right: 14px; padding:0 0 0 15px}
	.hmwidth .logoimg .col img {width:100%}
}
@media (max-width:1277px){
	.hmwidth .logoimg .col {width: 117px;}
	.hmwidth .logoimg img {width: 117px; height: 44px;}	
}
@media (max-width:1249px){
	.hmwidth .logoimg .col {width: 114px;}
	.hmwidth .logoimg img {width: 114px; height: 43px;}	
	
}
@media (max-width:1245px){
	.hm_srchbarinnr .browsejobsul li a { padding:5px 3px;}
	
}

@media (max-width:1221px){
	.hmwidth .logoimg .col {width: 110px;}
	.hmwidth .logoimg img {width: 110px; height: 41px;}		
}

@media (max-width:1184px){
	.hmwidth .logoimg .col {width: 106px;}
	.hmwidth .logoimg img {width: 106px; height: 40px;}		
}

@media (max-width:1146px){
	.hmwidth .logoimg .col {width: 103px;}
	.hmwidth .logoimg img {width: 103px; height: 39px;}		
}

@media (max-width:1118px){
	.hmwidth .logoimg .col {width: 99px;}
	.hmwidth .logoimg img {width: 99px; height: 37px;}		
}

@media (max-width:1130px){
	#empuser_wrap .butCon {margin-left:0; padding: 10px 5px;}
	#empuser_wrap .linkSec {margin-left: 5px;}
}
@media (max-width:1165px){
.hm_srchbarinnr .browsejobsul li a {
    padding: 5px 2px;
}
.hm_srchbarinnr .browsejobsul .head {
    padding: 5px 2px;
}
.hm_srchbarinnr .browsejobsul li {font-size: 11px;}
.hm_srchbarinnr .browsejobsul li a .icon-arrow {margin-left:2px}
}
@media (max-width:1081px){
	.hmwidth .logoimg .col {width: 95px;}
	.hmwidth .logoimg img {width: 95px; height: 36px;}		
}
@media (max-width:991px){
	
	.hmwidth .logoimg .col {width: 85px;}
	.hmwidth .logoimg img {width: 85px; height: 32px;}		
	
.crouselcss .case1width .case2box .applySec {
    width: 100%;
    text-align: left;
}
.crouselcss .case2width {
    width: 100%;
}
.crouselcss .case2box, .crouselcss .case2boxb {
    width: auto;
    float: none;
}
.crouselcss .case2box .mobnone, .crouselcss .mobnone  {
    display: none;
}
.crouselcss .case2box .applySec  {
    width:100%
}
	.hm_srchbarinnr #show_search_suggestions {width: 100%!important;}
	.headernav_main.fix {position: relative !important}
	#headernav_wrap {
    height: 52px !important;
}
.hm_srch_bar {padding: 10px 15px 15px 15px;}
.crouselcss .panel {margin-bottom: 5px}
.crouselcss .customNavigation {display:block}

.multi-item-carousel .carousel-inner .active.left {
  left: -300%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 100%;
}
.multi-item-carousel .carousel-inner .next {
  left: 100%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -300%;
}

	.headerarrow {background:url(http://media.monsterindia.com/seeker_2014/seeker_responsive/images/homepage/sprite_home.png) no-repeat 0 -118px}
	.homeHeader {/*position: relative*/}
    .hm_srch_bar {height:auto}
    .marginTophomeJob {margin-top:0}
    .widthScroll {width: auto; margin: 0;}
    .mobwhiteCssBack {display:block !important; opacity:1 !important}         
    .mobwhiteCssBack {width:100%; background:#FFF}

	#empuser_wrap {float:none !important; padding:5px 0}
	#empuser_wrap .butCon {
    padding: 10px 19px;
    border-radius: 0px;
    margin-left: 0px;
	position:relative;
	z-index:20;
	height:52px;
}

.modal-backdrop {z-index:1040}
	.appSec .head {
    font-size: 24px;
    color: #e8e8e8;
    margin-bottom: 10px;
    margin-top: 50px;
	
	
}

.applink {margin-top:30px}
.applink img {width:28%}

.appSec .head span {
    display:block
}
	
	.hm_srchbarinnr .row .colsub {
    padding-left: 0px;
	margin-top:10px
}
.hm_srchbarinnr .row .col:nth-child(1) input {
    border-radius: 3px 3px 0 0;}
	.hm_srchbarinnr .row .col select {
    border: #c2c2c2 1px solid;
    border-top: 0px; */
    border-bottom: 0px; */
}
.hm_srchbarinnr .row .col:nth-child(3) select {
    border-radius: 0 0 3px 3px;
	border-top:0;
}

.hm_srchbarinnr {
    width: 95.5%;
    margin-left: 15px;
}
}
@media(min-width:500px){
.applink {margin-top:0px}
.applink img {margin-bottom:20px}
}
@media (min-width:768px){
.hm_srchbarinnr {
    width: 96.8%;
}

}
@media (max-width:767px){
		.hm_srchbarinnr {
    margin: 0 0 0 30px;
}
.hmwidth {
    padding: 0 15px;
}
.crouselcss .mobnone {display:none}
.applink img {margin-bottom:10px}
.applink {margin-top:0px}
.appSec .head {
    margin-bottom: 30px;
}
	.hmwidth h2 {
    margin: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
}
	#u_odt .mn_chkwrap {margin-left:0px !important;}
.hm_srchbarinnr {
    width: 92%;
}
}
@media (max-width:560px){	
.hm_srchbarinnr {
    width: 84%;
}	

.appSec .head {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top:10px;
}
.appSec .applink a {
    margin-right: 10px;
}
.applink img {
    width: 40%;
}

.crouselcss .panel-default>.panel-heading {
    font-size: 18px;
}

.appSec {
    padding: 10px 0 15px 0;
}

}