@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Yekan";
  src: url('http://cdn41.akairan.com/BYekan.woff') format("woff");
  font-weight: normal;
  font-style: normal; }
.form-container {
  width: 100%;
  display: block; }
  .form-container form {
    width: 100%; }
  .form-container input[type="text"], .form-container textarea, .form-container select {
    width: 100%;
    padding: 0.2em 0.3em;
    font-family: Tahoma, Arial;
    font-size: 1em;
    line-height: 160%;
    outline: none;
    border: 1px solid #bbbbbb;
    transition: all 0.2s; }
    .form-container input[type="text"]:focus, .form-container textarea:focus, .form-container select:focus {
      border: 1px solid #2f1d53; }
  .form-container label {
    font-size: 0.9em;
    font-family: "Yekan";
    line-height: 210%;
    color: #595959; }

textarea {
  line-height: 180% !important; }

.radio-box {
  line-height: 100%;
  margin-left: 0.7em;
  display: inline-block; }
  .radio-box input[type="radio"], .radio-box input[type="checkbox"] {
    margin-top: 0.2em;
    float: right;
    margin-left: 0.5em; }
  .radio-box label {
    float: right;
    line-height: 100%; }

input[type="submit"], input[type="reset"], input[type="button"] {
  font-family: "Yekan";
  font-size: 0.9em;
  line-height: 100%;
  background: none;
  border: 1px solid #cccccc;
  outline: none;
  cursor: pointer;
  padding: 0.7em 0.7em 0.9em;
  transition: all 0.5s;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px; }

.success-btn {
  background: #109917 !important;
  border: 1px solid #0b6b10 !important;
  color: #FFF; }
  .success-btn:hover {
    background: #0b6b10 !important; }

.danger-btn {
  background: #990d0d !important;
  border: 1px solid #6a0909 !important;
  color: #FFF; }
  .danger-btn:hover {
    background: #6a0909 !important; }

.warning-btn {
  background: #dbae13 !important;
  border: 1px solid #ac890f !important;
  color: #FFF; }
  .warning-btn:hover {
    background: #ac890f !important; }

.default-btn {
  background: #139bdb !important;
  border: 1px solid #0f7aac !important;
  color: #FFF; }
  .default-btn:hover {
    background: #0f7aac !important; }

.btn-submit-contact {
  background: #612441 !important;
  position: static;
  padding: 14px 21px 15px 17px !important;
  font-size: 0.9em !important;
  text-shadow: none;
  border-color: #17080f !important;
  color: #FFF; }
  .btn-submit-contact:hover {
    background: #3c1628 !important; }

.alarm input {
  border-color: #990d0d !important; }

.success input {
  border-color: #109917 !important; }

.warning input {
  border-color: #dbae13 !important; }

.danger-icon {
  font-style: normal;
  line-height: 150%;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #990d0d;
  color: #FFF;
  visibility: visible;
  position: absolute;
  left: 20px;
  bottom: 13%;
  font-size: 0.8em; }
  .danger-icon:before {
    content: "\e006" !important;
    font-family: "Flaticon"; }

.success-icon {
  font-style: normal;
  line-height: 150%;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #109917;
  color: #FFF;
  visibility: visible;
  position: absolute;
  left: 20px;
  bottom: 13%;
  font-size: 0.8em; }
  .success-icon:before {
    content: "\e003" !important;
    font-family: "Flaticon"; }

.warning-icon {
  font-style: normal;
  line-height: 150%;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #dbae13;
  color: #FFF;
  visibility: visible;
  position: absolute;
  left: 20px;
  bottom: 13%;
  font-size: 0.8em; }
  .warning-icon:before {
    content: "\e008" !important;
    font-family: "Flaticon"; }

.required {
  color: #990d0d;
  margin-left: 0.25em;
  font-size: 1em;
  font-family: tahoma;
  line-height: 200%; }

.links-sidebar ul li a, .entertainment-item a, .slide-content, #slider-fullwidth > .item {
  display: block;
  margin-right: -0.9375em !important;
  margin-left: -0.9375em !important; }
  .row:before, .links-sidebar ul li a:before, .entertainment-item a:before, .slide-content:before, #slider-fullwidth > .item:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .row:after, .links-sidebar ul li a:after, .entertainment-item a:after, .slide-content:after, #slider-fullwidth > .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.row-zero, .menu-top-time, #logo-wrapper, .ads-banners, .category-menu-row, .list-content-megamenu-item, .wrapper, .content-boxes-sidebars, .gallery-box, .content-gallery, .slider-fullwidth-wrapper {
  display: block;
  margin-right: 0;
  margin-left: 0; }
  .row-zero:before, .menu-top-time:before, #logo-wrapper:before, .ads-banners:before, .category-menu-row:before, .list-content-megamenu-item:before, .wrapper:before, .content-boxes-sidebars:before, .gallery-box:before, .content-gallery:before, .slider-fullwidth-wrapper:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .row-zero:after, .menu-top-time:after, #logo-wrapper:after, .ads-banners:after, .category-menu-row:after, .list-content-megamenu-item:after, .wrapper:after, .content-boxes-sidebars:after, .gallery-box:after, .content-gallery:after, .slider-fullwidth-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.grid-1 {
  width: 8.33333%;
  float: right; }
.grid-2
{
 width: 23%;
  float: right;
}
 .gallery-item, #thumbs li, .pagination-slider a {
  width: 16.66667%;
  float: right; }

.grid-3  {
  width: 25.0%;
  float: right; }
.quick-links li {
  width: 25.0%;
  float: right; }

.grid-4 {
  width: 33.33333%;
  float: right; }

.grid-5 {
  width: 41.66667%;
  float: right; }

.grid-6 {
  width: 50.0%;
  float: right; }
.grid-6-1 {
  width: 40.0%;
  float: right; }
.grid-6-2 {
  width: 58.0%;
  float: left; }

.grid-6-3 {
  width: 38.0%;
  float: right; }
.grid-6-4 {
  width: 62.0%;
  float: left; }


.grid-7 {
  width: 77%;
  float: left; }

.grid-8 {
  width: 66.66667%;
  float: right; }

.grid-9 {
  width: 75.0%;
  float: right; }

.grid-10 {
  width: 83.33333%;
  float: right; }

.grid-11 {
  width: 91.66667%;
  float: right; }

.grid-12, .links-sidebar ul li {
  width: 100.0%;
  float: right;
 }
.sidebar .grid-12 {
  
max-width:170px; }

[class^=grid-]:before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }
[class^=grid-]:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.grid-1,
.grid-2,
.gallery-item,
#thumbs li,
.pagination-slider a,
.grid-3,
.quick-links li,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.links-sidebar ul li {
  padding-right: 0.9375em;
  padding-left: 0.9375em;
  position: relative; }

.container {
  width: 92%;

  min-width: auto;
  margin: auto;
  display: table
  /* 2 */ }
  .container:before {
    clear: both; }
  .container:after {
    clear: both; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */


* {
  box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?h5ggmj");
  src: url("../fonts/icomoon.eot?#iefixh5ggmj") format("embedded-opentype"), url("../fonts/icomoon.woff?h5ggmj") format("woff"), url("../fonts/icomoon.ttf?h5ggmj") format("truetype"), url("../fonts/icomoon.svg?h5ggmj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  }

.icon-youtube:before {
  content: "\e600"; }

.icon-feed:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-twitter2:before {
  content: "\e603"; }

.icon-instagram:before {
  content: "\e604"; }

.icon-facebook:before {
  content: "\e605"; }

.icon-facebook2:before {
  content: "\e606"; }

.icon-google-plus:before {
  content: "\e607"; }

.icon-google-plus2:before {
  content: "\e608"; }

.icon-magic-wand:before {
  content: "\e609"; }

.icon-search:before {
  content: "\e60a"; }

.icon-world:before {
  content: "\e60b"; }

.icon-local-movies:before {
  content: "\e60c"; }

.icon-chevron-up:before {
  content: "\e60d"; }

.icon-chevron-down:before {
  content: "\e60e"; }

.icon-newspaper-o:before {
  content: "\e60f"; }

.icon-chevron-left:before {
  content: "\e610"; }

.icon-chevron-right:before {
  content: "\e611"; }

.pagination {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Yekan"; }
  .pagination ul {
    list-style-type: none;
    display: table;
    text-align: center;
    margin: auto; }
    .pagination ul li {
      float: right;
      text-align: center;
      border: 1px solid #bfbfbf;
      border-left-width: 0; }
      .pagination ul li.active {
        padding: 0.6em 1em;
        background: #eee;
        color: #FFF; }
      .pagination ul li:last-child, .pagination ul li:first-child {
        font-family: tahoma !important;
        font-size: 1em; }
      .pagination ul li:last-child {
        border-left-width: 1px;
        border-top-left-radius: 3px;
       border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        border-bottom-left-radius: 3px; }
      .pagination ul li:first-child {
        border-right-width: 1px;
       border-top-right-radius: 3px;
       border-bottom-right-radius: 3px;
        
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; }
      .pagination ul li a {
        float: right;
        padding: 0.6em 1em;
        background: #e6e6e6;
        color: #666666; }
        .pagination ul li a:hover {
          background: #cccccc; }

.text-center {
  text-align: center  !important; }

.text-right, #slider-fullwidth {
  text-align: right  !important; }

.text-left {
  text-align: left  !important; }

.pull-left, .more-btn-entertainment, .ads-column {
  float: left !important; }

.pull-right {
  float: right !important; }

.rtl, .menu-top-time, .category-menu-row, .nav-sidebar, .new-contents, .quick-links, .latest-content-aka-item, .title-content-boxes, .top-content-slider, .list-top-content-slider, .contents-style-1, .contents-style-2, .entertainment-box, .gallery-box, #copyright, .content-item article, .page article, .row-header, #thumbs {
  direction: rtl; }

.ltr {
  direction: ltr; }

.s_text, #logo, #faraidea a {
  text-indent: -99999px;
  font-size: 1px; }
body
{
overflow-y: scroll;
overflow-x: hidden;
direction:rtl;
line-height:25px !important;
}
body, html {
  background: #2f1d53 none repeat scroll 0 0;
  font-family: yekan,Tahoma, Arial;
  font-size: 0.9em;
  line-height: 100%;
width:100%;

 }

h1, h2, h3, h4, h5 {
  font-family: "Yekan"; }

a {
  color: #040a4d;
  text-decoration: none; }

.menu-top-time {
  font-family: "Yekan";
  color: #636363;
  background: #dcdcdc;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.1em; }
  .menu-top-time nav {
    display: inline-block; }
    .menu-top-time nav ul {
      float: right; }
      .menu-top-time nav ul li {
        display: inline-block;
        border-left: 1px solid #636363; }
        .menu-top-time nav ul li:last-child {
          border-left: none; }
        .menu-top-time nav ul li a {
          padding-left: 0.7em;
          padding-right: 0.7em;
          display: block;
          color: #636363; }
          .menu-top-time nav ul li a:hover {
            color: #4a4a4a; }

.time-header {
  color: #fff;
    float: left;
    font-family: Yekan;
    font-size: 14px;
    padding: .7em;
 }

#logo-wrapper {
height:105px;
background:#2f1d53 none repeat scroll 0 0;
 }
  #logo-wrapper .ads-banners {
    margin: 0; }

#logo {
  background: url(../images/logo.jpg) no-repeat;
  width: 124px;
  height: 65px;
  float: right; }
  #logo a {
    display: block;
    width: 124px;
    height: 65px; }

.ads-banners {
  margin: 1.5em 0; }
  .ads-banners img {
    max-width: 100%;
    display: block; }

.category-menu-row {
  background: #222222;
  height: 38px; }
  .category-menu-row .container {
    position: relative; }
  .category-menu-row nav {
    display: inline-block;
    font-family: "Yekan"; }
    .category-menu-row nav > ul  {
      float: right; }
      .category-menu-row nav > ul > li {
        font-size: 1.25em;
        display: inline-block; }
        .category-menu-row nav > ul > li:hover > a {
          color: gray !important; }
        .category-menu-row nav > ul > li:hover > .category-megamenu-l1 {
          opacity: 1;
          visibility: visible; }
        .category-menu-row nav > ul > li > a {
          display: block;
          padding: .7em 0.65em;
          color: white;
          transition: all 0.4s;
font-size:14px;
 }
          .category-menu-row nav > ul > li > a:hover {
            color: gray; }

.category-megamenu-l1 {
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  min-height: 38px;
  box-shadow: 0 1px 3px #a6a6a6;
  background: white;
  position: absolute;
  right: 0;
  top: 38px;
  background: white;
  z-index: 5; }
  .category-megamenu-l1 > ul {
    font-size: 0.9em; }
    .category-megamenu-l1 > ul > li {
      float: right; }
      .category-megamenu-l1 > ul > li:hover {
        background: #f7f7f7; }
        .category-megamenu-l1 > ul > li:hover > a {
          border-bottom: 3px solid #2f1d53;
          color: #2f1d53 !important; }
        .category-megamenu-l1 > ul > li:hover .category-megamenu-l2 {
          opacity: 1;
          visibility: visible; }
      .category-megamenu-l1 > ul > li:last-child:before {
        width: 0; }
      .category-megamenu-l1 > ul > li:before {
        content: '';
        width: 1px;
        height: 1em;
        background: #b3b3b3;
        float: left;
        margin-top: 1.2em; }
      .category-megamenu-l1 > ul > li > a {
        display: inline-block;
        padding: 1.08em 1.5em;
        color: #595959 !important;
        border-bottom: 3px solid transparent;
        transition: all 0.2s; }
        .category-megamenu-l1 > ul > li > a:hover {
          background: #f7f7f7;
          border-bottom: 3px solid #2f1d53;
          color: #2f1d53 !important; }

.category-megamenu-l2 {
  z-index: 30000000000;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  min-height: 200px;
  background: #f7f7f7;
  position: absolute;
  top: 52px;
  right: 0;
  box-shadow: 0 2px 2px #a6a6a6;
  border-top: 1px solid #cccccc;
  padding-top: 1em;
  padding-bottom: 1em; }

.search-box {
overflow: hidden; height: 55px;
max-width:281px;
margin:0 auto;
   }
  .search-box i {
   cursor: pointer;
    float: left;
    font-size: 1.7em;
    padding: 0.45em;
    position: relative;
    top: -40px;
    transition: all 0.3s ease 0s; }
    .search-box i:hover {
      color: #999999; }

.search-form-top {
 
  background: #f8f8f8;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 0.5em;
 
  left: 0;
  width: 100%;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 2px 3px #e6e6e6;
  z-index: 1; }
  .search-form-top input {
    outline: none;
    font-family: Tahoma;
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    padding: 1em;
    display: block;
    transition: all 0.2s; }
    .search-form-top input:focus {
      border: 1px solid #2f1d53; }

.top-content-megamenu {
  line-height: 1.8em; }
  .top-content-megamenu img {
    width: 100%;
    display: block;
    border: 1px solid #999999;
    padding: 0.3em; }
  .top-content-megamenu .row-zero, .top-content-megamenu .menu-top-time, .top-content-megamenu #logo-wrapper, .top-content-megamenu .ads-banners, .top-content-megamenu .category-menu-row, .top-content-megamenu .list-content-megamenu-item, .top-content-megamenu .wrapper, .top-content-megamenu .content-boxes-sidebars, .top-content-megamenu .gallery-box, .top-content-megamenu .content-gallery, .top-content-megamenu .slider-fullwidth-wrapper {
    padding: 0.3em; }
  .top-content-megamenu h2 {
    font-family: "Yekan";
    margin-bottom: 0em;
    font-size: 1.1em; }
  .top-content-megamenu p {
    font-family: Tahoma;
    font-size: 0.8em; }

.more-btn {
  background: #2f1d53;
  border-bottom: 3px solid #6d131d;
  color: white;
  font-family: "Yekan";
  display: inline-block;
  padding: 0.2em 1em 0.2em 0.7em;
  margin-top: 0.2em;
  transition: all 0.3s; }
  .more-btn i {
    font-size: 0.8em;
    float: left;
    margin-right: 0.7em;
    margin-top: 0.7em; }
  .more-btn:hover {
    background: #6d131d; }

.list-content-megamenu-item {
  line-height: 1.8em;
  margin-bottom: 0.8em;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 0.8em; }
  .list-content-megamenu-item img {
    float: right;
    margin-left: 0.5em;
    border: 1px solid #999999;
    padding: 0.2em; }
  .list-content-megamenu-item h2 a {
    color: #333333; }
    .list-content-megamenu-item h2 a:hover {
      color: #1a1a1a; }

.time-content {
  font-size: 0.6em;
  color: #999999; }

.wrapper {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
.sidebar
{
text-align:center;
}
.nav-sidebar {
text-align:right;
  width: 100%;
  font-family: "Yekan";
  box-shadow: 0 1px 0px #e6e6e6;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }
  .nav-sidebar > ul {
    border: 1px solid #e6e6e6;
    border-right: none;
    width: 100%; }
    .nav-sidebar > ul > li {
border-bottom: 1px solid #e6e6e6;
      position: relative;
      width: 100%;
      display: block;
      border-right: 5px solid #2f1d53;
      transition: all 0.3s; }
      .nav-sidebar > ul > li.open {
        background: #f2f2f2;
        border-right: 5px solid #4d4d4d; }
        .nav-sidebar > ul > li.open > a {
          color: #2f1d53; }
      .nav-sidebar > ul > li:hover .drop-menu-navbar-wrapper {
        visibility: visible;
        opacity: 1;
        right: 100%; }
      .nav-sidebar > ul > li > a {
        color: #4d4d4d;
        
        padding: 0.8em;
        display: inline-block; }
      .nav-sidebar > ul > li:hover {
        background: #f2f2f2;
border-bottom: 1px solid #e6e6e6;
        border-right: 5px solid #4d4d4d; }
        .nav-sidebar > ul > li:hover > a {
          color: #2f1d53; }

.sub-menu-navbar {
  background: #faf8fa; }
  .sub-menu-navbar > li {
    border-bottom: 1px solid #d9d9d9;
    transition: all 0.3s; }
    .sub-menu-navbar > li > a {
      transition: all 0.3s;
      color: #595959;
      display: block;
      padding: 0.8em 0.8em 1em;
line-height:18px; }
      .sub-menu-navbar > li > a:before {
        content: "»";
        font-family: Tahoma;
        margin-left: 0.7em;
        float: right;
        margin-top: 0;
font-size:11px;
 }
      .sub-menu-navbar > li > a:hover {
        background: #d9d9d9; }

.drop-menu-navbar-wrapper {
  transition: all 0.2s;
  position: absolute;
  top: -2px;
  right: 95%;
  z-index: 4;
  width: 579px;
  visibility: hidden;
  opacity: 0; }

.drop-menu-navbar-container {
  background: white;
  border: 1px solid #eee;
  padding: 0;
  display: inline-block; }
  .drop-menu-navbar-container h3 {
    background: #2f1d53;
    padding: 0.6em 0.6em 0.8em;
    color: white; }

.columns-navbar {
  padding: 0.5em 0.7em;
  float: right; }
  .columns-navbar ul li {
    float: right;
    width: 100%;
    display: block;
    margin-bottom: 0.3em;
    margin-top: 0.3em; }
    .columns-navbar ul li:before {
      margin-left: 0.3em;
      margin-right: 0 !important;
      margin-top: 0.05em !important;
      content: 'ï¿½' !important;
      float: right !important;
      font-family: Tahoma;
      font-size: 1em; }
  .columns-navbar h4 {
    padding: 0em 0 0.6em;
    border-bottom: 1px solid #666666; }
    .columns-navbar h4:before {
      margin-left: 0.5em;
      margin-right: 0;
      margin-top: 0.25em;
      width: 7px;
      height: 7px;
      background: #2f1d53;
      content: ' ';
      float: right;
      border-radius: 100%; }

aside.sidebar .ads-banners img {
  margin: auto; }

.moduletable,.moduletable-banners {
  margin-bottom: .4em; }

.title-boxes {
  padding: 0.85em 1em 1em;
  background: #2f1d53;
  color: white;
  text-align: center !important;
  font-size: 1em;
  line-height: 1em; }
.content-boxes-sidebars2
{
text-align:center;
}
.content-boxes-sidebars2>div{
  box-shadow: 0 2px 0px #e6e6e6;
  border: 1px solid #e6e6e6; }

.content-boxes-sidebars,#banslider{
  box-shadow: 0 2px 0px #e6e6e6;
  border: 1px solid #e6e6e6; }

.newspapers-sidebar article.grid-12 {
  line-height: 1.5em;
  text-align: center; }
  .newspapers-sidebar article.grid-12 img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: block;
    padding: 0.3em;
    border: 1px solid #cccccc; }
  .newspapers-sidebar article.grid-12:last-child .title-items-newspaper {
    border-bottom: 0; }

.title-items-newspaper {
  padding-bottom: 0.8em;
  border-bottom: 1px solid #cccccc; }

.new-contents {
  line-height: 1.8em; }
  .new-contents article.grid-12 {
    padding-top: 0.8em; }
    .new-contents article.grid-12:last-child h2 {
      border-bottom: 0; }
    .new-contents article.grid-12 h2 {
      padding: 0 0 0.8em;
      border-bottom: 1px solid #d9d9d9; }
    .new-contents article.grid-12 img {
      width: 100%;
      display: block;
      padding: 0.3em;
      border: 1px solid #cccccc; }

.title-dotted:before {
  content: ' ';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #2f1d53;
  border-radius: 100%;
  margin-left: 0.5em; }
.title-dotted a {
  color: #4d4d4d; }

.links-sidebar ul {
  font-family: "Yekan";
  text-align: center; }
  .links-sidebar ul li {
    display: block;
    float: none; }
    .links-sidebar ul li:last-child a {
      border-bottom: 0; }
    .links-sidebar ul li a {
      background: white;
      display: block;
      padding: .8em 0;
      border-bottom: 1px solid #d9d9d9;
      transition: all 0.3s; }
      .links-sidebar ul li a:hover {
        background: #f2f2f2; }

.quick-links {
  border: 1px solid #b3b3b3;
  padding: 1em 0 1.5em;
  font-size: 0.9em; }
  .quick-links li {
    text-align: center; }
    .quick-links li:last-child:after {
      width: 0; }
    .quick-links li:after {
      background: grey;
      width: 1px;
      height: 3em;
      content: ' ';
      display: inline-block;
      /* margin-right: 4em; */
      float: left;
      position: absolute;
      top: 0.8em;
      left: 0; }
    .quick-links li:last-child {
      border-left: 0; }
    .quick-links li a {
      color: #333333; }
    .quick-links li i {
      font-size: 2em;
      display: block;
      margin-bottom: 0.5em; }
    .quick-links li span {
      font-family: "Yekan"; }

.latest-content-aka-item {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  line-height: 1.5em;
  border-bottom: 1px solid #e6e6e6; }
  .latest-content-aka-item img {
    float: right;
    margin-left: 0.6em; }

.lastest-content-aka.bw .latest-content-aka-item:nth-child(odd) {
  background: #f7f7f7; }

.ads-two-columns .ads-banners img {
  margin: auto; }

.top-ads-content img {
  margin: auto; }

.title-content-boxes {
  margin-bottom: 1.0em;
  color: #2f1d53;
  font-size: 1.4em;
border-bottom:1px solid #2f1d53;
 }
  .title-content-boxes span {
    padding-left: 0.7em;
    padding-right: 0.7em;
    background: white;
    margin-right: 0.7em;
font-size:17px;
position:relative;
top:3px;
 }

.top-content-slider {
  line-height: 1.7em;
  padding: 0em 0 1em;
border-bottom:1px solid #ccc;
max-height:175px;
overflow:hidden;
margin:15px;
 }
  .top-content-slider img {
    padding: 0.3em;
    border: 1px solid #cccccc;
    float: right;
    margin-left: 1em; }
  .top-content-slider p {
    font-size: 0.94em; }

.title-top-content {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #999999;
  line-height: 1.8em; }
  .title-top-content a {
    color: #666666; }
    .title-top-content a:hover {
      color: #2f1d53; }

#top-content-slider {
  position: relative; }
  #top-content-slider .item {
    width: 100%;
    padding-left: 3em;
    padding-right: 3em; }
  #top-content-slider .slidesjs-pagination {
    display: none; }

.list-top-content-item {
  padding: 0.7em 0;
  font-size: 1.0em; }
  .list-top-content-item h3:before {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.25em;
    width: 7px;
    height: 7px;
    background: #2f1d53;
    content: ' ';
    float: right;
    border-radius: 100%; }
  .list-top-content-item h3 a {
    display: block;
    color: #4d4d4d; }
    .list-top-content-item h3 a:hover {
      color: #2f1d53; }

.slidesjs-navigation {
  font-size: 2em;
  position: absolute;
  top: 40%;
  z-index: 12; }
  .slidesjs-navigation:hover {
    color: #666666; }
  .slidesjs-navigation.slidesjs-next {
    right: 0; }
  .slidesjs-navigation.slidesjs-previous {
    left: 0; }

.content-boxes {
  margin-bottom: 1.7em;
  position: relative;
  z-index: 1; }

.top-content img,.lastitem .itemn img {
  max-width: 100%;
  width: 100%;
  padding: 0.3em;
  border: 1px solid #cccccc; }

.list-content-dotted .list-top-content-item {
  border-bottom: 1px dashed #999999;
  padding: 1em 0; }
  .list-content-dotted .list-top-content-item:last-child {
    border-bottom: none; }

.more-btn-content-box {
  background: #2f1d53;
  color: white;
  top: 14px;
  left: 0;
  position: absolute;
  padding: 0.5em 0.6em 0.6em;
  font-family: "Yekan";
  transition: all 0.3s; }
  .more-btn-content-box:hover {
    background: #4d4d4d; }
  .more-btn-content-box:after {
    float: left;
    content: '+';
    font-size: 1.5em;
    margin-right: 0.3em; }

.entertainment-box {
  margin-bottom: 1.3em; }
  .entertainment-box h2 {
    margin-bottom: 0.58em;
    font-size: 1.6em;
    color: #c42234; }

.content-entertainment-box {
clear:both;
  max-height: 117px;
  overflow: hidden;
  margin-bottom: 1.3em;
  border: 1px solid #cccccc;
  transition: all 0.5s; }
  .content-entertainment-box .row-zero, .content-entertainment-box .menu-top-time, .content-entertainment-box #logo-wrapper, .content-entertainment-box .ads-banners, .content-entertainment-box .category-menu-row, .content-entertainment-box .list-content-megamenu-item, .content-entertainment-box .wrapper, .content-entertainment-box .content-boxes-sidebars, .content-entertainment-box .gallery-box, .content-entertainment-box .content-gallery, .content-entertainment-box .slider-fullwidth-wrapper {
    border-bottom: 1px solid #cccccc; }
    .content-entertainment-box .row-zero:last-child, .content-entertainment-box .menu-top-time:last-child, .content-entertainment-box #logo-wrapper:last-child, .content-entertainment-box .ads-banners:last-child, .content-entertainment-box .category-menu-row:last-child, .content-entertainment-box .list-content-megamenu-item:last-child, .content-entertainment-box .wrapper:last-child, .content-entertainment-box .content-boxes-sidebars:last-child, .content-entertainment-box .gallery-box:last-child, .content-entertainment-box .content-gallery:last-child, .content-entertainment-box .slider-fullwidth-wrapper:last-child {
      border-bottom: 0; }
  .content-entertainment-box.open {
    max-height: 500px; }

.entertainment-item {
  border-left: 1px solid #cccccc;
  text-align: center;
  font-family: "Yekan"; }
  .entertainment-item:nth-child(6) {
    border-left: 0; }
  .entertainment-item a {
    display: block;
    padding: 1em 0;
    transition: all 0.3s; }
    .entertainment-item a:hover {
      background: #f2f2f2; }

.more-btn-entertainment {
  line-height: 1.8em;
  font-size: 1.0em; }

.ads720 img {
  margin: auto; }

.gallery-box {
  margin-bottom: 1em; }
  .gallery-box h2 {
    margin-bottom: 0.58em;
margin-right:5px;
    font-size: 1.6em;
    color: #c42234; }
.posuser3
{
position: relative;height:0px;  z-index: 1; left: 330px;float:left;
}
.content-boxes.contents-style-1.live
{
float:none !important;
margin-left:0px !important;

}
.bannertop {
    margin-left: 20px;
    height: 100px !important;
    overflow: hidden;
}
.content-gallery {
  border: 1px solid #cccccc; }

.content-footer {
  margin-top: 0.5em; }
.leftbar
{
z-index:2;
}
.gallery-item {
  text-align: center;
  padding-top: 1.2em;
  padding-bottom: 1.2em; }
  .gallery-item:last-child:after {
    width: 0; }
  .gallery-item:after {
    background: #cccccc;
    width: 1px;
    height: 5.5em;
    content: ' ';
    display: inline-block;
    /* margin-right: 4em; */
    float: left;
    position: absolute;
    top: 3em;
    left: 0;
    content: ' '; }
  .gallery-item img {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 0.3em;
    margin: auto;
    display: block;
    margin-bottom: 0.7em; }

footer#footer {
  font-family: "Yekan";
  padding: 1em 0;
  background: #eee;
border-top: 1px solid #000;
 }

#copyright {
  float: right;
  height: 41px;
  padding-right: 85px;
  background: url("../images/logo-footer.png") right no-repeat;
  font-size: 1.1em;
  line-height: 1.6em;
color:#222;
 }

#faraidea {
  width: 150px;
  text-align: center;
  float: left; }
  #faraidea a {
    display: block;
    margin: auto;
    width: 105px;
    height: 25px;
    background: url("../images/faraidea.png") no-repeat center;
    margin-top: 10px; }

.content-item .time-content {
  font-family: "Yekan"; }
.content-item article {
  line-height: 2.5em; }
  .content-item article header {
    font-size: 1.5em;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 0.6em; }
    .content-item article header h2 {
      padding-top: 0.6em; }
  .content-item article footer {
    padding-top: 1.5em;
    font-family: "Yekan"; }
  .content-item article p {
    margin-bottom: 1.8em; }

.page .time-content {
  font-family: "Yekan"; }
.page article {
  line-height: 2.5em; }
  .page article header {
    font-size: 1.5em;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 0.6em; }
    .page article header h2 {
      padding-top: 0; }
  .page article footer {
    padding-top: 1.5em;
    font-family: "Yekan"; }
  .page article p {
    margin-bottom: 1.5em; }

.content-item-top-img {
  width: 100%;
  display: block; }

.resource {
  width: 100%;
  margin-bottom: 1.2em; }

.title-share-resource {
  padding: 0.5em 0.7em 0.7em;
  display: inline-block;
  height: 47px;
  background: #f2f2f2;
  color: #4d4d4d;
  float: right; }

.link-resource {
  background: #2f1d53;
  color: white;
  padding: 0.5em 0.7em 0.7em;
  display: inline-block;
  height: 47px;
  border-left: 1px solid #831723;
  transition: all 0.4s; }
  .link-resource:hover {
    background: #ae1e2e; }

.sharelink {
  padding: 0.5em 0.7em 0.7em;
  display: inline-block;
  height: 47px;
  width: 47px;
  text-align: center;
  transition: all 0.3s; }
  .sharelink i {
    font-size: 1.6em;
    color: #FFF;
    margin-top: 0.3em;
    display: inline-block; }

.fb {
  background: #4862a3; }
  .fb:hover {
    background: #384d80; }

.tt {
  background: #55acee; }
  .tt:hover {
    background: #2795e9; }

.plus {
  background: #dd4b39; }
  .plus:hover {
    background: #c23321; }

.digg{
  background: #1B5891; }
  .digg:hover {
    background: #1B4881; }
.cloob{
  background: #3CB54C; }
  .cloob:hover {
    background: #0CB34C; }
.stumbleupon{
  background: #EB4924; }
  .stumbleupon:hover {
    background: #cB4924; }
.facenama{
  background: #49b6b0; }
  .facenama:hover {
    background: #4996b0; }



.report {
  margin-top: 1em; }
  .report a {
position:relative;
top:-5px;
    border: 1px solid #2f1d53;
    padding: 0.4em 1.7em 0.5em;
    background: white;
    color: #c42234;
    transition: all 0.4s;
    border-radius: 5px;
    font-size: 1.1em; }
    .report a:hover {
      background: #c42234;
      color: white;

 }

.row-header {
  background: #c42234;
  color: white;
  padding: 2.5em 0 2.6em; }

.title-category {
  font-size: 2em;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.5); }
  .title-category i {
    font-size: 0.7em;
    float: right;
    margin-left: 0.5em; }

.blue-theme a {
  color: #009ce5; }
.blue-theme .more-btn {
  background: #009ce5;
  color: white;
  border-bottom-color: #00577f; }
  .blue-theme .more-btn:hover {
    background: #00577f; }
.blue-theme .category-megamenu-l1 li:hover {
  background: #f7f7f7; }
  .blue-theme .category-megamenu-l1 li:hover > a {
    border-bottom: 3px solid #009ce5;
    color: #009ce5 !important; }
  .blue-theme .category-megamenu-l1 li:hover .category-megamenu-l2 {
    opacity: 1;
    visibility: visible; }
.blue-theme .category-megamenu-l2 .top-content-megamenu a {
  color: #009ce5; }
.blue-theme .nav-sidebar > ul > li {
  border-right-color: #009ce5; }
  .blue-theme .nav-sidebar > ul > li:hover {
    background: #f2f2f2;
    border-right: 5px solid #4d4d4d; }
    .blue-theme .nav-sidebar > ul > li:hover > a {
      color: #009ce5; }
.blue-theme .drop-menu-navbar-container h3 {
  background: #009ce5; }
.blue-theme .columns-navbar a {
  color: #009ce5 !important; }
.blue-theme .columns-navbar h4:before {
  background: #009ce5; }
.blue-theme .sidebars-boxes .title-boxes {
  background: #009ce5; }
.blue-theme .sidebars-boxes .content-boxes-sidebars .title-items-newspaper a {
  color: #009ce5; }
.blue-theme .links-sidebar ul li a {
  color: #009ce5; }
.blue-theme .title-content-boxes {
  color: #009ce5; }
.blue-theme .slidesjs-navigation {
  color: #009ce5; }
.blue-theme .title-top-content a:hover {
  color: #009ce5; }
.blue-theme .list-top-content-item h3:before {
  background: #009ce5; }
.blue-theme .list-top-content-item h3 a:hover {
  color: #009ce5; }
.blue-theme .more-btn-content-box {
  color: white;
  background: #009ce5; }
  .blue-theme .more-btn-content-box:hover {
    background: #4d4d4d; }
.blue-theme .entertainment-box h2 {
  color: #009ce5; }
.blue-theme .gallery-box h2 {
  color: #009ce5; }
.blue-theme .row-header {
  background: #009ce5; }
.blue-theme .link-resource {
  background: #009ce5;
  color: white;
  border-left: 1px solid #0079b2; }
  .blue-theme .link-resource:hover {
    background: #0079b2; }
.blue-theme .report a {
  border-color: #009ce5; }
  .blue-theme .report a:hover {
    background: #009ce5; }
.blue-theme .title-dotted a {
  color: #4e4e4e; }
  .blue-theme .title-dotted a:hover {
    color: #009ce5; }
.blue-theme .title-dotted:before {
  background: #009ce5; }

.slide-content {
  position: relative; }
  .slide-content.w-pagination .slidesjs-navigation {
    display: none; }
  .slide-content.w-pagination .slidesjs-pagination {
    display: block !important;
    text-align: center; }
    .slide-content.w-pagination .slidesjs-pagination li {
      display: inline-block;
      margin-left: 0.3em; }
      .slide-content.w-pagination .slidesjs-pagination li a,.active_page {
        color: #FFF;
        background: gray;
        display: block;
        border-radius: 3px;
        width: 20px;
        height: 20px;
        line-height: 1.5em; }
        .slide-content.w-pagination .slidesjs-pagination li a.active {
          background: #cccccc; }
  .slide-content .slidesjs-container {
    padding-top: 2px; }
  .slide-content .slidesjs-control > section {
    padding-left: 30px;
    padding-right: 30px; }
  .slide-content .slidesjs-pagination {
    display: none; }

.slider-fullwidth-wrapper {
 }

#slider-fullwidth > .item {
  float: left; }

.column-left-sfullwidth ul li {
  font-family: "Yekan";
  border-bottom: 1px solid #cccccc;
  transition: all 0.3s; }
  .column-left-sfullwidth ul li:last-child {
    border-bottom: none; }
  .column-left-sfullwidth ul li:hover {
    background: #f2f2f2; }
  .column-left-sfullwidth ul li a {
    display: inline-block;
    padding: 1em 0 1.2em;
    color: #2b2b2b;
line-height:20px;
 }
    .column-left-sfullwidth ul li a:before {
      content: '»';
      float: right;
      margin-left: 0.5em;
      margin-right: 0.5em;
      font-family: Tahoma; }

.slider-fullwidth-container {
  position: relative; 
background:#fff;
}
body > .container
{
background:#fff;
}
#nextprev {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  top: 45%; }
  #nextprev #next {
    position: absolute;
    right: -40px; }
  #nextprev #prev {
    position: absolute;
    left: -40px; }

#thumbs {
  width: 100%;
  font-family: "Yekan"; }
  #thumbs li {
    position: relative;
    top: -1px;
    float: left;
    text-align: center; }
    #thumbs li a {
      padding: 1em 0;
      border: 1px solid #d9d9d9;
      display: block; }
      #thumbs li a.selected {
        color: #4d4d4d;
        background: #d9d9d9; }

.pagination-slider {
  font-family: "Yekan";
  position: relative; }
  .pagination-slider a {
    text-align: center;
    padding: 1em 0;
    border: 1px solid #d9d9d9; }
    .pagination-slider a.selected {
      color: #4d4d4d;
      background: #d9d9d9; }

.ads-column {
  background: white;
  z-index: 100000000000000000;
  position: absolute; }
  .ads-column .ads-banners {
    margin-top: 0; }
#slider li a
{
font-family:Yekan;
line-height:20px  !important;
}
#slider span
{
color:#666666 !important;
opacity:.6;
}
.tabs h6
{
font-family:Yekan;
}
.slide
{
width:280px !important;
}
#banslider
{
    margin-bottom: 5px;
    padding-bottom: 15px !important;
}
#banslider .tabs img
{
width: 10px; margin-right: 4px; float: right; display: block; margin-top: 12px; margin-left: 5px;
}
#ban47,#ban41
{
text-align:center;
}
.selmenu
{
background-color:#faf8fa;

}
.moduletable
{
clear:both;
display:block;
}
.live {
    color: #c42234;
    font-family: yekan;
    margin-right: 5px;
    position: relative;
    top: -18px;
}
.datao1 .list-top-content-item {
    animation-delay: 0s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: myfirst;
    animation-play-state: running;
    animation-timing-function: linear;
   
}
@keyframes myfirst {
0% {
    background: none repeat scroll 0 0 #fd8cab;
}
100% {
    background: none repeat scroll 0 0 #fff;
}
}
.contentpaneopen_text,.contentpaneopen_text div
{
 font-family: yekan !important;
    line-height: 32px !important;
font-size:14px;
text-align:justify;
}
.contentpaneopen_text span,.contentpaneopen_text p
{
    font-family: yekan !important;
    line-height: 32px !important;
font-size:14px;
text-align:justify;
margin-bottom:1.9em;

}
.moduletable-banner
{
clear:both;
}
.active {
    display: none;
}
.allmode_pagenav
{
margin:4px;
}
.tblc
{
width:100% !important;
}
p
{
font-family: yekan; line-height: 22px;
}
.tblc li
{
display:inline-block;
margin-bottom:3px;
}
.slider-fullwidt
{
position:relative;
}
.slider-fullwidt  .slidesjs-control
{
left:22px !important;
}
.slider-fullwidt .slidesjs-navigation i
{
color:#e2e2e2;
}
.open
{
max-height: 100% !important;
}
.fgh2
{
display: inline-block; max-width: 500px;
}
.fgh3
{
display: inline-block; text-align: left; width: 140px;
}
.leftbar .content-boxes-sidebars2:first-child >div
{
border:none;
}
.leftbar
{
margin-top:-495px !important;
}
.leftbar .content-boxes-sidebars2:first-child >div>div
{
width:auto !important;
}
.leftbar .content-boxes-sidebars2:first-child 
{
margin:0 auto;
background:none !important;
}
.caroufredsel_wrapper
{
height:480px !important;
width:100% !important;
}
.rowrc
{
width: 73%; float: right;
}
.content-boxes-sidebars2 > div > div
{
margin-bottom:2px;
}
.sidebar .moduletable-banner
{
border:1px solid #e2e2e2;
}
#logo-wrapper
{
background:url('../images/bgg.jpg');
min-height:90px;
}
.has-submenu:hover .undermenu
{
display:block;
}
.undermenu
{
cursor:pointer;
display:none;
z-index:5;
 background: url(../images/adown.png) no-repeat;
width: 24px; height: 24px;float: left; position: relative; top: 8px; left: 3px;
}
.underads
{
display: block;
       margin-right: 25px;
    margin-top: -100px;
    width: 70%;
}
.lastitem .itemn {
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(166, 166, 166, 1);
    margin: 7px 3px;
    padding: 5px;
margin-top:12px;
text-align:justify;
}
.lastitem .itemn_image {
    float: right;
    margin-left: 12px;
    margin-top: 3px;
    width: 80px;
}
.lastitem {
    font-family: yekan;
    line-height: 29px;
}
.item_titr
{
display: block; border-bottom: 1px solid rgb(204, 204, 204); margin-right: 90px; padding: 0px; text-align: right;
color:#c42234;
}
.continue
{
color:#2f1d53
}
.title_wrapper {
    background-color: #e1e1e1;
    box-shadow: 0 0 8px rgba(51, 51, 51, 0.7);
    margin: 2px 3px 10px;
    padding: 5px 10px 5px 5px;
}
.rss_icon {
    float: left;
}
.rss_icon img
{
width:22px;
}
.titlem {
    color: #95020c;
    display: inline;
    font-size: 1.3em;
}
.moduletable-banner > div > div > div {
    margin-bottom: 3px;
    margin-top: 3px;
}

.news_top_image
{
float:right;
padding-right:3px;
}
.news_main
{
padding:4px;
}
#news_full_show
{
font-family: homa;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
  background-color: #e1e1e1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #95020c;
    height: 28px;
    margin-right: 25px;
    padding-top: 7px;
    width: 151px;
margin-top:10px;
}
.news_information
{
clear: both;
    color: #888888;
    font-size: 0.8em;
    height: 70px;
    overflow: hidden;
    padding-right: 10px;
    position: relative;
width: 292px;
}
.news_content
{
border-radius: 0 10px 10px;
box-shadow:0 2px 4px rgba(166, 166, 166, 1);
background-color: #fff;
    border: medium none;
    clear: both;
}
.details #detail {
    background-color: white;
    border-left: 1px solid #95020c;
    border-right: 1px solid #95020c;
    border-top: 1px solid #95020c;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #95020c;
    float: left;
    font-family: homa;
    font-size: 14px;
    font-weight: normal;
    margin-top: 3px;
    opacity: 0.8;
    padding: 7px 22px;
    position: relative;
    z-index: 999;
}
.news_more {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #95020c;
    box-shadow: 0 2px 4px rgba(166, 166, 166, 1);
    height: 80px;
    margin-top: -70px;
}
#news_full_show {
    background-color: #e1e1e1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #95020c;
    font-family: homa;
    font-size: 14px;
    font-weight: normal;
    height: 28px;
    margin-right: 25px;
    margin-top: 10px;
    padding-top: 7px;
    white-space: nowrap;
    width: 151px;
}
.news_information {
    clear: both;
    color: #888888;
    font-size: 0.8em;
    height: 70px;
    overflow: hidden;
    padding-right: 10px;
    position: relative;
    width: 292px;
}
.plus2 ul li {
    list-style: none outside none;
}
.plus2 ul li a {
    color: #FFFFFF;
    font-family: yekan;
    font-size: 18px;
    line-height: 45px;
    margin: 0px;
padding:0px;
padding-right:2px;
    text-shadow: none;
	text-decoration: none;
	float:right;
font-size:14px;
width:125px;
}
.plus2 hafez a
{
font-size:14px !important;
}
.plus2 ul li {
    display: inline-block;
    height: 45px;
    list-style: none outside none;
    margin: 5px;
    width: 170px;
}
.plus2 .imgbtn
{
	width:40px;
	height:40px;
	float:left;
	margin:0px;
padding:0px;
}
.plus2
{
text-align:center;
}
.plus2 li
{
	background: #2f1d53;
}
.plus2 li:hover
{
	background: #222;cursor:pointer;
}
.plus1
{
	width:100%;
display:inline-block;
}
.plus1 .item:hover
{
	box-shadow:0px 0px 5px #333;
}
.plus1 .item:hover .imgbtn2
{
		border:2px solid #EF4FB4;
}
.plus1 .item:hover .imgbtn3
{
		border:2px solid #EF4FB4;
			background-color:#EF4FB4;
			cursor:pointer;
}
.plus1 .item
{
	float:left;
	margin:5px;
}
.plus1 .imgbtn2
{
	height:48px;
	width:95px;
	display:block;
	border:2px solid #333;
	border-radius:5px 5px 0 0;
}
.plus1 .imgbtn3
{
	background-color:#333;
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	display:block;
	border:2px solid #333;
	border-radius:0 0 5px 5px;
	text-align:center;
	width:95px;
	margin:0 auto;
height:30px;
line-height:13px;
}
table.buttmtbl
{
width:100%;
}

#_mc_tmp
{
width:100% !important;
}
.buttmtbl .buttmtbl
{
    width: 30%;
}
strong
{
font-weight:bold;
}
.buttmtbl a{
     height: 45px;
text-align:center;
    list-style: outside none none;
    margin: 5px;
    width: 170px;
    color: #222;
    float: right;
    font-family: Yekan,tahoma;
    font-size: 14px;
    line-height: 45px;
       text-decoration: none;
    text-shadow: none;
    width: 90%;


}
.more_news_link 
{
 color: white;
    display: block;
    float: left;
    height: 35px;
    margin-left: 10px;
    margin-top: 41px;
    width: 186px;
}
#news_full_show
{
font-family: homa;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
  background-color: #e1e1e1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #95020c;
    height: 28px;
    margin-right: 25px;
    padding-top: 0px;
    width: 151px;
margin-top:10px;
}
.news_information
{
clear: both;
    color: #888888;
    font-size: 0.8em;
    height: 70px;
    overflow: hidden;
    padding-right: 10px;
    position: relative;
width: 292px;
}
.news_top_image
{
float:right;
padding-right:3px;
}
.news_main
{
padding:4px;
}
.news_content
{
border-radius: 0 10px 10px;
box-shadow:0 2px 4px rgba(166, 166, 166, 1);
background-color: #fff;
    border: medium none;
    clear: both;
}
.news_more
{
background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #95020c;
    box-shadow: 0 2px 4px rgba(166, 166, 166, 1);
    height: 80px; margin-top: -70px;
}
.column-left-sfullwidth
{
display:none;
}
.jz
 {

    border-radius: 10px;
    color: #fff;
    float: right;
    height: 110px;
    max-width: 340px;
    overflow: hidden;
    padding: 4px;
    width: 100px;
transition: width 1s;
}
.jz:hover
{
    background: #999 none repeat scroll 0 0;
    width: 240px !important;

}
.jz span
{
    color: #222;
    float: left;
    max-width: 120px;
    vertical-align: top;
    word-wrap: break-word;
}
#ban57 >div>div
{
    max-height: 98px !important;
}
#oktoheader {
    padding-top: 2px !important;
}
#oktoheader .si
{
height:95px;
}
.content-boxes.contents-style-1.live {
    left: -15pxd;
    position: relative;
}
