#digito .Slide,#digiatocomlor0 .Slide  {
    display: block !important;
width:100% !important;
}
#oktoheader
{

    max-width: 800px !important;

padding-top:3px !important;
}
.comment
{
direction:rtl;
}
.bannertop
{
    height: auto !important;
}
.header > section {
    height: auto !important;
}
.flas {
    width: 450px;
}
.grid-1.fla {
    width: 450px;
}
.moduletable-banner img
{
padding:0px !important;
margin:0px !important;
}
.telegram-box div
{
font-family:yekan;
line-height:20px;
}
.si300 {
padding:0px;
border-radius:0px;
}
.logoh
{
display:none;
}
.posuser3 .moduletable {

    float: left;
    overflow: hidden;
    width: 300px;
}
.leftbar
{
width:27.5% !important;
}
.rowrc
{
width:72.5% !important;
}
.leftbar .moduletable-banner {


}
.navbar-main-menu .item .line::before
{
left:-10px  !important;
}
.category-megamenu-l1 > ul > li > a
{
height:60px;
}
.megn2  > ul > li > a
{
height:50px !important;
}
.contentpaneopen_text  h2 {
    display: inline-block;
    font-weight: normal;
}
.contentpaneopen_text .contentsearch
{
color:#000  !important;
}

.plus2
{
margin: 0px auto; width: 540px; display: block;
}
td.buttmtbl:hover {
    background: none repeat scroll 0 0 #c42234;
}
.category-menu-row nav > ul > li > a
{
padding:0.9em 0.65em  !important;
}
.grid-3.rtl.column-left-sfullwidth
{
display:none;
}
.content-item article header
{
border:none;
}
.time-content {
    opacity: 0.6;
}
#scrollToTop {
    background: none repeat scroll 0 0 #222222;
    border-radius: 5px;
    bottom: 15px;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9em;
    padding: 8px;
    position: fixed;
    right: 15px;
    text-align: center;
    transition: background-color 0.2s ease-in-out 0s;
    z-index: 9999;
}
.arrow {
    background: url("http://ser8.akairan.com/mbed/arrow-left.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
        position: relative;
    top: 6px;
    width: 16px;
}
.time {
    display: inline-block;
    float: left;
    position: relative;
    top: 0px;
}

td.buttmtbl:hover {
    background: none repeat scroll 0 0 #c42234;
}
td.buttmtbl:hover a{
color:#fff;
}
@media all and (-ms-high-contrast:none)
     {
.posuser3 { left:310px !important};
*::-ms-backdrop, .posuser3 { left:310px !important};
     .rowrc { width: 72%} /* IE10 */
     *::-ms-backdrop, .rowrc { width: 72%} /* IE11 */
     }
.buttmtbl {
    
    border: 1px solid #ccc;
    color: #fff;
      padding: 10px;
}

.nav-sidebar>ul
{
display:block !important;
}
.moduletable-banner
{
text-align:center;
}
.leftbar
{
min-width:300px !important;;
}
.content-boxes-sidebars2
{
overflow:hidden;
}
.sidebar
{
min-width:120px;


}
.sidebar .moduletable,.sidebar .moduletable-banner
{
background:none repeat scroll 0 0 #f7f7f7;
}
.content-item img
{
max-width:600px !important;
margin:10px auto;
display:block;
}
.share-box-content img
{
margin:0px  !important;
}
.contentpaneopen_text .top-content h3
{
font-size:12px;
}
.contentpaneopen_text .grid-6-1 .picnew
{
max-width:140px !important;
}

@media only screen and (min-width: 1023px) {
.leftbar .moduletable,.leftbar .moduletable-banner
{
width:305px;
}
}
@media only screen and (max-width: 1270px) {

}
@media only screen and (max-width: 1100px) {
#oktoheader
{
width:100% !important;
min-width:100% !important;
max-width:100% !important;
}
#oktoheader .si728
{
width:100% !important;
min-width:100% !important;
max-width:100% !important;
}
.posuser3 {left:310px !important;}
.top-content-slider img{width:20%}
.top-content-slider{margin-top:45px;}
.live{display:none !important;}
.slider-fullwidth-wrapper .column-right-sfullwidth{width:65% !important;}
.grid-7{width:70%}
.sidebar{width:30%}
.column-left-sfullwidth{display:none !important;}
.rowrc{width:65% !important;}
.slider-fullwidth-container
{
display:none !important;}
.slider-fullwidth-wrapper
{
display:none !important;}
.slider-fullwidt
{
display:none !important;
}
.leftbar
{
margin:0px !important;
}
.navbar-main-menu-outer
{
display:none;
}
.content-item img {
     max-width: 400px !important;
}

#meshop-m468
{
display:block !important;
width:auto !important;
}
#meshop-m468 img
{
width:100% !important;
}
.title-share-resource
{
display:none !important;
}
}

@media only screen and (max-width: 1000px) {
.si728
{
min-width:auto !important;
}
.si468
{
min-width:auto !important;
}
.fla
{
display:none;
}
.title-items-newspaper > a {
    display: block;
    height: 50px !important;
}
.telegram-box div {
    float: left;
    font-size: 12px;
    padding-right: 0 !important;
    width: 85% !important;
}
#logo-wrapper {
    min-height: auto !important;
}
.search-box
{
display:none;
}
.custom.telegram-box img {
    height: auto !important;
    width: 15%;
}
.category-menu-row
{
position:static !important;
}

#oktoheader
{
padding-top:0px !important;; 
}
#oktoheader .si728 {
    display: block !important;
    width: auto !important;

}

#oktoheader .si728 img {
width:100% !important;
}
.fgh2
{
width:100% !important;
}
header nav>ul> li
{
margin-left:20px;
}
.top-content-slider img{width:auto}
.top-content-slider{margin-top:0px;}
.grid-12{width:30%}
.posuser3{left:50px !important;}
#newsbody  table{width:100% !important;}
.grid-7{width:100% !important;}
.leftbar{width:100% !important;top:0px !important;margin:0px !important;padding:0px !important; }
.sidebar{width:100% !important;}
.rowrc{width:100% !important;}
.new-contents article.grid-12 img{width:auto !important;margin:0 auto; }
.nav-sidebar{display:none !important;}
.report{display:none !important;}
.slider-fullwidth-wrapper{display:none;}


}
@media only screen and (max-width: 860px) {
#paye
{
display:none !important;
}
#footer {
    height: 130px !important;
}
.digitoo .grid-12 img {
    margin: 0 auto !important;
    text-align: center;
    
}
.digitoo .grid-12 {
    margin: 0 auto;
    text-align: center !important;
    width: 50% !important;
}
.shix,.slider-fullwidt,.digik
{
width:300px;
margin:0 auto;
}
.ws_bullets {
   position: static !important;
    float: none !important;
    margin: 0 auto;
    display: inline-block !important;
    margin-right: 40%;
}
.category-megamenu-l1 > ul > li > a
{
font-size:14px;
width:115px;
line-height:17px;
padding:0.8em 0.2em;
}

.posuser3{left:50px !important;}
.content-item table img
{
display:none !important;
}
.content-item img
{
max-width:800px !important;
display:block;
}
#logo{display:none;}
.live{display:none;}
.slider-fullwidth-wrapper{display:none;}

#meshop-m468
{
display:block !important;
width:auto !important;
}
#meshop-m468 img
{
width:100% !important;
}
.si728{display:none !important; }
.slider-fullwidt
{
display:block !important;
}
#oktoheader .si728 {
    display: none !important;
    width: auto !important;
}
 .sidebar{top:0px !important;
padding:0px;
}
}
@media only screen and (max-width: 750px) {

.titry {
margin-right:40px !important;
display:block;
text-align:center;
}
.lastitem .item_titr
{
border-bottom:none !important;

}
.lastitem .item_content {
    display: none;
}
.logoh
{
display:none;
}
.container
{
width:100% !important; 
}
.leftbar .grid-12
{
min-height:100px;

}
.sidebar .grid-12
{
height:170px;
}
.slide {
    width: 100% !important;
}
.leftbar
{
position:inherit !important;
}

.time
{
display:none;
}
.navbar-main-menu-outer
{
display:none;
}
.moduletable-banner
{
display:inline-block;
}
.menu6
{
display:none;
}
.menu6 p
{
    border-bottom: 1px solid #e6e6e6;
    float: left;
    height: 35px;
    line-height: 1.5em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    width: 50%;
}

.search-box
{
position: absolute; top: 150px;
width:100%;max-width:100%;
}
#slider
{
width:100% !important;
}
#footer
{
height:210px;
}

.leftbar
{
text-align:center;
}
.leftbar .moduletable
{
text-align:right;
}
.title-content-boxes
{
margin-bottom:2em
}

.posuser3{left:50px !important;}
.content-item img
{
max-width:650px !important;
display:block;
}
.grid-7{width:100%}
.grid-7{width:100%}
}

@media only screen and (max-width: 700px) {

.slidesjs-container {
    height: 200px !important;

}
.picsl 
{
    width: 150px !important;
    height: 150px !important;
}
#slider,.slide
{
.sidebar .grid-12
{
width:50%;
}

.title-items-newspaper > a {
    display: block;
    height: 50px !important;
}
height:auto !important;}

.title-content-boxes span
{
font-size:15px;
}
#bantime2{display:none;}
.grid-6-2{width:55%!important;}
.content-boxes{margin-right:15px;}
.posuser3{left:50px !important;}
.content-item img
{
max-width:450px !important;
display:block;
}

#logo{display:block;} 
.slider-fullwidt{display:none;}

#meshop-m468
{
display:block !important;
width:auto !important;
}
#meshop-m468 img
{
width:100% !important;
}
.si728{display:none !important;}
.slider-fullwidt
{
display:block !important;
}
#oktoheader .si728 {
    display: block !important;
    width: auto !important;
}
.leftbar
{
top:0px !important;
}
}
@media only screen and (max-width: 500px) {
.ws_bullets
{
margin-right:15% !important;
}
.digitoo .grid-12 {
    margin: 0 auto;
    text-align: center !important;
    width: 100% !important;
}
.si468
{
display:block !important;
}
.slhsh {
    width: 303px !important;
    margin: 0 auto;
}
.grid-7
{
padding-left:2px !important;
padding-right:2px !important;
}
.contentpaneopen_text {
    padding: 0px 5px;
}
.newcommnet {
    direction: rtl;
}
.si468 {
    display:block !important;
    width: auto !important;
}
#oktoheader
{
float:none !important;
}
.si468 img ,.si728 img,#oktoheader .si728 img{
    width: 100% !important;
min-width:100% !important;
}
.cover4x {
    width: auto !important;
}
.si468,si728,#oktoheader .si728 {
margin:0 auto;
    width: 100% !important;
min-width:100% !important;
}
.slider-fullwidt img
{
width: 150px !important;
min-width:150px !important;
}
.grid-12{width:50%}

.title-items-newspaper > a {
    display: block;
    height: 50px !important;
}

.category-menu-row nav > ul
{
height:35px !important;
overflow:hidden;
}

.contentpaneopen_text{max-width:500px;overflow:hidden;};
.grid-12{width:100%}
.posuser3{left:50px !important;}
.content-item img
{
max-width:320px !important;
display:block;
}

.gallery-item, #thumbs li, .pagination-slider a{
width:50%;
}
.gallery-item > h3 {
    height: 50px;
}
#banmerge2 .content-footer{display:none !important;}
.container{width:100% !important;}
.more-btn-content-box::after{font-size:.8em !important;}
.more-btn-content-box{font-size:.8em !important;}

}
@media only screen and (max-width: 320px) {

.grid-7
{
padding-left:2px !important;
padding-right:2px !important;
}

.si468 img,.si728 img,#oktoheader .si728 img {
    width: 100% !important;
}
.si468,si728,#oktoheader .si728 {
    width: 100% !important;
min-width:100% !important;
}
.picsl 
{
    width: 150px !important;
    height: 150px !important;
}
.cover4x  
{
width:auto !important;
}
.flas
{
display:none;
}
.picsl {
    height: 240px !important;
    width: 240px !important;
}
.slider-fullwidt .slidesjs-control {
    left: 82px !important;
}
.slidesjs-container {
    height: 290px !important;
}
.GoodGrid {
    max-width: 275px !important;
}
.felesh 
{
display:none !important;
}
.si300 {
    width: 282px !important;
    min-width: 282px !important;
}

.si300 img {
    width: 275px !important;

}
.cover3x,GoodGrid
{
    max-width: 275px !important;
}
.slhsh
{
width:280px !important;
}
.boxgrid3 {
    max-width: 275px !important;
}
.sidebar .grid-12
{
height: 150px !important;
}
.bxgrid
{
width: 146px !important;
}
.fci
{
display:none !important
}
.fci.si300 {
    padding: 0px !important;
    min-width: 275px !important;
    max-width: 275px !important;
    overflow: hidden;
display:block !important;
}
.fci.si300 > iframe {
    width: 280px !important;
}
.fci.si120 {
    display: block !important;
    width: 120px !important;
    float: left;
}
.fci.si275 {
    display: block !important;
}
.grid-12{width:100%}
.sidebar .grid-12
{
height:140px;
}
.gallery-item
{
width:100%;
}

.contentpaneopen_text{max-width:320px;overflow:hidden;};
.slidesjs-container {
    height: 200px !important;
width:275px !important;
}
.leftbar
{
min-width:275 !important;;
}
.leftbar
{
min-width:100% !important;;
}
.top-content img{width:90%}
.content-item img
{
max-width:220px !important;
display:block;
}
.grid-6-1 .top-content{text-align:center !important;}
.grid-7 {
   
    padding: 0px !important;
    width: 100%;
}
.title-content-boxes span
{
font-size:13px;
}
.content-boxes{margin-right:0px;}
.grid-6-2{width:100% !important;}
.grid-6-1{width:100% !important;}
.container{width:100% !important;}


}
.Uimg {
    text-align: center !important;
}
.Uimg {
}
.imgsource {
    display: inline-block;
    position: relative;
    top: 11px;
}
.source {

    margin: 0;
    padding: 0;
}
#digito .Slide {
    display: block !important;
}
.imgsource  img {
    margin: 0px !important;
}
