body.td-animation-stack-type0 .td-animation-stack .entry-thumb,body.td-animation-stack-type0 .post img{opacity:100;}.sharediv{background-color:#3B5999;border-radius:20px;height:45px;padding:3px;text-decoration:none!important;}.share{font-size:150%;text-decoration:none!important;padding:10px;color:white!important;margin-left:5px;margin-right:5px;display:inline-block;width:calc(100% - 20px);text-align:center;}.share a:hover{text-decoration:none;}@media only screen and (max-width: 600px) {#mtphr-dnt-758{display:none;}#facebook-count{display:none;}#facebook-count-bottom{display:none;}.share{font-size:22px;}}.article-extras{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin-bottom:15px;padding:15px 0;overflow:hidden;width:100%;}.article-extras .left img{display:block;}.article-extras .right{float:left;width:499px;padding:20px 0 0 20px;}.article-extras h4{margin-bottom:15px;}.article-extras h2.widgettitle{float:left;}.entry-content .article-extras ul{margin:0;}.entry-content .article-extras li{list-style-type:none;font-size:16px;line-height:1.428571429;padding-bottom:20px;}.entry-content .article-extras ul li:last-child{padding-bottom:0;}.article-extras a{color:#3daad4;}@media only screen and (min-width: 767px) {.mobile-show{display:none;}.article-extras .left{float:left;width:336px;}p.ad-notice-small{color:#000!important;font-size:10px!important;margin:0!important;text-align:center;}.arrowRight a{position:fixed;z-index:100;right:-5px;top:45%;padding:15px 10px;-webkit-transition:.2s ease-in;-moz-transition:.2s ease-in;-o-transition:.2s ease-in;transition:.2s ease-in;}.arrowRight a:hover{right:0;-webkit-transition:.2s ease-in;-moz-transition:.2s ease-in;-o-transition:.2s ease-in;transition:.2s ease-in;color:#fff;}.arrowNav a,a:visited{background:#801013;color:#fff;text-decoration:none;font-size:22px;}@media (max-width: 767px)
body .arrowRight a {
       background-color: #801013;
  }
.arrowRight a {
       background-color: #801013;
  }
  body .arrowRight a
  {
       background-color: #801013;
  }