
/* Global tax newsletters */
div.upper-margin {
	margin-top: 20px;
}
#newsletterlayout {
	width: 100%; 
	background-color: #FFF; 
	margin-bottom: 20px;
}
#pwcmobile div#newsletterthumb {
	display: block;
	float: none;
	width: 100% !important;
}
#newsletterthumb {
	float: left; 
	width: 17%; 
	padding: 8px 8px 8px 0;
}
#newsletterthumb a img {
	width: 102px;
	border: 1px solid #ccc;
}
#pwcmobile div#newsletterdesc {
	display: block;
	float: none;
	width: 100% !important;
}
#newsletterdesc {
	width: 77%; 
	float: right; 
	padding: 8px;
}
hr.lightweight {
	color: #fff;
	background-color: #fff;
	border: 1px dotted #C7C8CA;
	border-style: none none dotted;
}
#download:link, #download:visited, #showAll, #showLess {
    background-color: #DC6900;
    color: #FFFFFF !important;
    display: inline-block;
    font-family: georgia,times;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    margin-top: 25px;
    padding: 5px 10px;
    text-decoration: none !important;
}
.view-more {
margin-top: 30px; text-align: right;
}

.view-more a img.action {
margin-left: 10px; vertical-align: middle;
}

