.lhnentryLarge ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.leftnav li div {
	border-top: 1px dotted #a32020;
}
.leftnav{
	border-top:2px solid #a32020;	
}
.lhnLarge { 
border-top: 4px solid #a32020;
border-bottom: 2px solid #a32020;
}
.lhnLarge div a:link { color: #a32020 !important; }

/* Hover for non-selected items */
.leftnav div:hover { color: #a32020 !important; }
.leftnav #selected .lhnentry { background-image: url(/etc/designs/pwc/css_common/image/sprites-arrow.gif);}
	
/* Links */
.lhnentry a:hover { text-decoration: none; color: #a32020 !important; }
	
.leftnav #selected .lhnentry a:link, .leftnav #selected .lhnentry a:visited { color: #a32020 !important;}
.leftnav #selected ul li .lhnentry a:hover { color: #a32020 !important; } /* No colour on lower li's */

.contactlink, .contactLink {
	background-image: url(/etc/designs/pwc/css_common/image/burgundy_arrow.gif);
}


/* add custom style */
.wbtile {
    position: relative;
	color: #fff;
    padding: 10px;
	display: block;
    margin: 10px 0;
	text-align: left !important;
}

.bgbase {
	background-color: #a32020;
}

/* webtile add */

.webtile {
	padding-top: 0px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

.webtile a:link,.webtile a:visited {
	font-size: 100%;
	font-family: georgia;
	color: #404041;
	padding-right: 10px;
	line-height: 1.3em;
}
.webtile a { border:0; }
      
.wbtile.old { background-color: #fff !important; }

a.wbtile { color: #fff !important; text-decoration: none !important; }
.wbtile .wbtilesection {
	color: #fff;
	font-size: 0.9em;
	font-weight: normal;
	padding-bottom: 3px;
	display: block;
}
.wbtile .wbtilehead {
	color: #fff;
	font-family: Georgia, "Times New Roman";
	font-size: 1.2em;
	font-style: italic;
	line-height: 1.2em;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
	display: block;
}
.wbtile .wbtiledesc {
	font-size: 1em;
	font-weight: normal;
	text-decoration: underline;
	padding-right: 10px;
	background-image: url(/etc/designs/pwc/css_common/image/wbtile-white-arrow.gif);
	background-position: right bottom;
	background-repeat: no-repeat;
	line-height: 1.125em;
	font-family: Arial, Helvetica, sans-serif;
}
* html .wbtile .wbtiledesc { background-image: none; }
*:first-child+html .wbtile .wbtiledesc { background-image: none; }

* html .wbtile {
	background-image: url(/etc/designs/pwc/css_common/image/wbtile-white-arrow.gif);
	background-position: 96% 85%;
	background-repeat: no-repeat;
}
*:first-child+html .wbtile {
	background-image: url(/etc/designs/pwc/css_common/image/wbtile-white-arrow.gif);
	background-position: 96% 85%;
	background-repeat: no-repeat;
}
/* DPE Accordion */
.panel-title a.active {
background-image: url(/etc/designs/pwc/css_common/image/black_minus.gif);
background-color: #6d6e71;
}
.panel-title a, .panel-title a.collapsed {
background-image: url(/etc/designs/pwc/css_common/image/burgundy_plus.gif);
background-color: #a32020;
}
/* DPE Tabs */
.nav-tabs {
	border-bottom: 1px solid #a32020;
}
.nav-tabs > li > a {
	color: #a32020;
}
.nav-tabs > li > a {
	border-top: 3px solid #968c6d;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-top: 3px solid #a32020;
	border-right: 1px solid #a32020;
	border-left: 1px solid #a32020;
	color: #a32020;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	border-top: 3px solid #a32020;
}

/* Text button style */
.text a.btn:hover
{ color:#fff !important; background:#a32020; }
.text a.btn:focus
{ color:#fff !important; background:#be6262; }

/* Burgundy #a32020 */

.bgbright { background-color: #e0301e; }

.pwccol3-home h2,
.pwccol3-home h2 a,
.pwccol3-home h3,
.pwccol3-home h3 a,

.pwccol4-home h2,
.pwccol4-home h2 a,
.pwccol4-home h3,
.pwccol4-home h3 a,

.pwccol4-home-c h2,
.pwccol4-home-c h2 a,
.pwccol4-home-c h3,
.pwccol4-home-c h3 a
{ color: #a32020 !important; }

.pwccol4-home-c-c3 h2,
.pwccol4-home-c-c3 h2 a,
.pwccol4-home-c-c3 h3,
.pwccol4-home-c-c3 h3 a,

.pwccol4-home-c-c3 h2,
.pwccol4-home-c-c3 h2 a,
.pwccol4-home-c-c3 h3,
.pwccol4-home-c-c3 h3 a,

.pwccol4-home-c-c3 h2,
.pwccol4-home-c-c3 h2 a,
.pwccol4-home-c-c3 h3,
.pwccol4-home-c-c3 h3 a,

.pwccol3-landing-c-c2 h2,
.pwccol3-landing-c-c2 h2 a,
.pwccol3-landing-c-c2 h3,
.pwccol3-landing-c-c2 h3 a,

.pwccol3-landing-c-c2 h2,
.pwccol3-landing-c-c2 h2 a,
.pwccol3-landing-c-c2 h3,
.pwccol3-landing-c-c2 h3 a,

.pwccol3-landing-c-c2 h2,
.pwccol3-landing-c-c2 h2 a,
.pwccol3-landing-c-c2 h3,
.pwccol3-landing-c-c2 h3 a

{ color: #ffffff !important; }

/* MG: PR-1052 */
.leftnav { border-color: #a32020 !important; }
.leftnav li div { border-top: 1px dotted #939598; }

/* Tabs tag rendition PR-1305 */
.nav-tabs.displayTags > li > a:hover,
.nav-tabs.displayTags > li.active > a:hover {
background-color: #a32020;
border-color: #a32020;
}
.nav-tabs.displayTags > li > a:focus,
.nav-tabs.displayTags > li.active > a:focus {
background-color: #be6262;
border-color: #be6262;
}
