html, body {
	color: #404041;
	border: 0;
	margin: 0;
	font-size: 100%;
 	font-family: Arial, Helvetica, sans-serif;
}
#wrapper { padding: 10px 20px; font-family: arial; }
#wrapper a { text-decoration: none !important; color: #404041; }
#wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5 { font-family: Georgia, "Times New Roman"; }
#wrapper .cloned { display: none !important; }
/*#searchfield, #navblock, #popupclose, #searchsubmit, #livesearchbutton { display: none; }*/
/*#left { visibility: hidden; }*/
/*#container { padding-left: 0; }*/
#center { padding-left: 0; }
#pagetoolbox { display: none; }
#footer, #intllayer { display: none; }
#footerlinks { border-top: 1px solid #6d6e71; }
#footerlinks ul { display: none; }
#headerlogo img { display: inline !important; }
#headerlang, #translation { display: none; }
#headerleft, #headerright { float: left; }
#headerleft { 
	float: left;
	width: 350px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#headerright { 
	float: right;
	width: 550px;
	text-align: right;
	padding-top: 4px;
}
#navbaseline { clear: left; height: 1px; }

#homeslider .items { width: 100%; }
#homeslider .items .slide { float: none; }
#homeslider a.browse, #homeslider .navi, #homeslider .sliderfooter { display: none; }
#homeslider { padding: 0; height: auto !important; width: 100% !important; font-family: Georgia, "Times New Roman"; }
#homeslider .items .slide { width: auto !important; height: auto !important;}
#homeslider .feature100, #homeslider .feature50, #homeslider .feature25, #homeslider .feature12 { float: none; padding: 10px; width: 100%; background-image: none !important; background-color: #fff !important; border-bottom: 1px dotted #ccc;}
#homeslider div.content { width: 100% !Important; }
#homeslider div.content a { font-size: 1.2em; }
#homeslider div.content a span {font-size: 0.8em; display: block; }
#homefollow { display: none; }
.homecolumn { height: auto !important; }