/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){

}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){

}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){

}

/* #### iPhone 6 Portrait or Landscape #### */
@media screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2){

}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){

}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){

}

/* #### Desktops #### */
@media screen and (min-width: 768px){
    #header #header_up{font-size: 94%;}
    #header.f_article {
        height: 4em;
        min-height: 4em;
    }
}
/* #### Desktops #### */
@media screen and (min-width: 1000px){

}

@media screen and (min-width: 1136px){

}
/* #### Desktops #### */
@media screen and (min-width: 1200px){
    #header #header_up{font-size: 94%;}
    #header #header_up.fixLeft{padding-left: 9vw;}
    #header.f_article #header_up.fixLeft{padding-left: 0vw;}
    #header.f_article.f_blog #header_up{padding-left: 9vw;}
    #header.f_article {
        height: 4em;
        min-height: 4em;
    }
}

@media screen and (min-width: 1322px){

}

@media screen and (min-width: 1340px){

}

@media screen and (min-width: 1400px){
    #header #header_top_section.menuPinned.pinnedTop #header_up #blogViewButton{display: inline-block;}
    #header #header_up{font-size: 100%;}
    #header #header_up.fixLeft{padding-left: 0vw;}
    #header.f_article #header_up.fixLeft{padding-left: 0vw;}
    #header.f_article.f_blog #header_up{padding-left: 0vw;}
    #header.f_article {
        height: 4.2em;
        min-height: 4.2em;
    }
}

/* #### Desktops #### */

@media screen and (min-width: 1550px){   

}
@media screen and (min-width: 1590px){   
    .linkLeft,.linkRight {display: block;}
}
@media screen and (min-width: 1600px){
      #header #main_header .headerSocialLeftArea{left:19%;}
      #header #main_header .headerSocialRightArea{right:19%;}
}
@media screen and (min-width: 1640px){

}
/* #### Desktops #### */
@media screen and (min-width: 1900px){
    
}

@media screen and (min-width: 1910px){
   
}

.black_white_bg,.grayscale{
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
}
