/* START RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html{-webkit-font-smoothing: antialiased; position:relative;}
div,a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
input,textarea,p,h1,h2,h3,h4,h5{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select:  text;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.animationShortSlow{
    transition: all 0.8s ease-in-out  0s;
    -moz-transition: all 0.8s ease-in-out  0s;
    -webkit-transition: all 0.8s ease-in-out  0s;
    -o-transition: all 0.8s ease-in-out  0s;
    -ms-transition: all 0.8s ease-in-out 0s;
    translate3d(0, 0, 0);
}
.animationShort{
    transition: all 0.28s ease-in-out  0s;
    -moz-transition: all 0.28s ease-in-out  0s;
    -webkit-transition: all 0.28s ease-in-out  0s;
    -o-transition: all 0.28s ease-in-out  0s;
    -ms-transition: all 0.28s ease-in-out 0s;
    translate3d(0, 0, 0);
}
.animationShort2{
    transition: all 0.2s ease-in-out  0s;
    -moz-transition: all 0.2s ease-in-out  0s;
    -webkit-transition: all 0.21s ease-in-out  0s;
    -o-transition: all 0.2s ease-in-out  0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    perspective: 1000;
    translate3d(0, 0, 0);
}
.animationShortFast{
    transition: all 0.12s ease-in-out  0s;
    -moz-transition: all 0.12s ease-in-out  0s;
    -webkit-transition: all 0.12s ease-in-out  0s;
    -o-transition: all 0.12s ease-in-out  0s;
    -ms-transition: all 0.12s ease-in-out 0s;
    perspective: 1000;
    translate3d(0, 0, 0);
}
.animationColor{
    transition: color 0.15s,background-color 0.15s ease-in-out  0s;
    -moz-transition: color 0.15s,background-color 0.15s ease-in-out  0s;
    -webkit-transition: color 0.15s,background-color 0.15s ease-in-out  0s;
    -o-transition: color 0.15s,background-color 0.15s ease-in-out  0s;
    -ms-transition: color 0.15s,background-color 0.15s ease-in-out 0s;
}
.animationColorFast{
    transition: color 0.12s,background-color 0.12s linear  0s;
    -moz-transition: color 0.12s,background-color 0.12s linear  0s;
    -webkit-transition: color 0.12s,background-color 0.12s linear  0s;
    -o-transition: color 0.12s,background-color 0.12s linear  0s;
    -ms-transition: color 0.12s,background-color 0.12s linear 0s;
}
.animationAllColorFast{
    transition: border-color 0.2s,color 0.2s,background-color 0.2s linear  0s;
    -moz-transition: border-color 0.2s,color 0.2s,background-color 0.2s linear  0s;
    -webkit-transition: border-color 0.2s,color 0.2s,background-color 0.2s linear  0s;
    -o-transition: border-color 0.2s,color 0.2s,background-color 0.2s linear  0s;
    -ms-transition: border-color 0.2s,color 0.2s,background-color 0.2s linear 0s;
}
.animationOpacity{
    transition: opacity 0.22s ease-in-out  0s;
    -moz-transition: opacity 0.22s ease-in-out  0s;
    -webkit-transition: opacity 0.22s ease-in-out  0s;
    -o-transition: opacity 0.22s ease-in-out  0s;
    -ms-transition: opacity 0.22s ease-in-out 0s;
}
.webkitForceHardwareAcceleration{
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg) translate3d( 0, 0, 0);
    /* Firefox */
    -moz-transform: rotate(-90deg) translate3d( 0, 0, 0);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}
.mc-old-browser{overflow-x: hidden !important;}
input{outline:none;}
a{-moz-outline-style: none; outline:none;color: #013E51;}
/* END RESET */
body{
    font-size:100%; position:relative; background-color: #f1f2ec; width:100%; min-width: 320px; margin: 0 auto;color: #77787b;
}
.ui-loader{display: none;}
.overflow_hidden{overflow: hidden;}
a:link, a:visited{outline:none;text-decoration:none;}
sup{ vertical-align: super }
.s_strong{ font-weight: bold;}
.vcenter{padding-top: 0.1em;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.relative{position:relative;}
.absolute{position:absolute;}
.hidden{display:none;}
.white{color:#ffffff;}
.full_width{width: 100%;}
.full_height{height: 100%;}
.f_table{display: table}
.f_table_row{display: table-row;}
.f_table_cell{display: table-cell;vertical-align: middle;}
.blockSelect{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.text_center{text-align: center}

/*headers*/
h1{font-size: 1em;}
h2{font-size: 1.6em;}
h3{font-size: 1em;}
h4{font-size: 1em;}
h5{font-size: 1em;}

.backgroundImageCover{
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
}
.backgroundImageContain{
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-background-size: contain;
}
