/* Copyright Cannibal_Athens (http://www.fonts.gr) */

@font-face {
    font-family: 'cf_reklamaregular';
    src: url('CFReklama-webfont.eot');
    src: url('CFReklama-webfont.eot?#iefix') format('embedded-opentype'),
		 url('CFReklama-webfont.ttf') format('truetype'),
         url('CFReklama-webfont.woff2') format('woff2'),
         url('CFReklama-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
