@charset "UTF-8";
@import url(hf-high.css?20150917) screen and (min-width: 1400px);
@import url(hf-normal.css?20150917) screen and (min-width: 1100px) and (max-width: 1399px);
@import url(hf-mini.css?20150917) screen and (min-width: 768px) and (max-width: 1099px);
@import url(hf-note.css?20150917) screen and (min-width: 481px) and (max-width: 767px);
@import url(hf-mobile.css?20150917) screen and (max-width: 480px);

body, div, p{
    font-family: 微軟正黑體, Arial, Helvetica, Verdana;
}
a, a:link, a:active, a:visited, a:hover{
    text-decoration: none;
}
#main-header div, #main-header p{
    line-height: 22px;
}
footer div, footer p{
    line-height: 22px;
}
#main-header-wrap {
    color: #555;
    position:relative;
}
#main-header-wrap a, #main-header-wrap a:link, #main-header-wrap a:active, #main-header-wrap a:visited, a:hover{
    color: #ea5b7c;
    text-decoration: none;
}

ul.pureCssMenu span {
    background-image: none !important;
    padding-right: 0px !important;
}
ul.pureCssMenu,ul.pureCssMenu ul {
    padding: 0px !important;
}

ul.pureCssMenu ul {
    right: 0px !important;
}
ul.pureCssMenu, ul.pureCssMenu ul {
    border-style: none !important;
}

/*header*/
#main-header {
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.1);
}
#logo-menu-wrap {
    width: 100%;
    height: 75px;
}
#logo {
    padding-top: 5px;
    float: left;
}
#login-wrap {
    position: absolute;
    right: 0px;
    top: 0px;
}
#main-header .vw-logo .logo-img {
    max-height: 65px;
    float: left;
    border: none;
}
#main-header .vw-logo .logo-text {
    max-height: 65px;
    float: left;
    border: none;
    margin-right: 10px;
}
#menu .menu-list {
    float: left;
}
#menu .menu-list a {
    color: #666;
    font-weight: bold;
    text-align: center;
    border-left: 1px dashed #ddd;
    padding: 45px 20px 0px 20px;
    width: 55px;
    height: 30px;
    display: block;
    font-size: 16px;
    box-sizing: content-box;
}
#menu .menu-list a:hover {
    background-color: #fff;
}
#menu .guide {
    background: url("../images/menu-guide1.png") no-repeat center 7px;
}
#menu .forum {
    background: url("../images/menu-forum1.png") no-repeat center 7px;
}
#menu .column {
    background: url("../images/menu-column1.png") no-repeat center 7px;
}
#menu .vendor {
    background: url("../images/menu-vendor1.png") no-repeat center 7px;
}
#menu .fb {
    background: url("../images/menu-fb1.png") no-repeat center 7px;
}
#menu .wl {
    background: url("../images/menu-wedlife1.png") no-repeat center 7px;
    border-right: 1px dashed #ddd;
}

/*三層肉選單*/
#mwt_fb_tab {
    position: fixed;
    color: #fff;
    text-align: center;
    z-index: 100;
    left: 0px;
    top: 0px;
}
#mwt_fb_tab span {
    background: center center no-repeat transparent;
    background-color: #ff7494;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwOtARMDHQBdLGFBYt+nkR2KjEhxQqvIYaR7cD2glSWMo0mY3DiJo5Edi4ZPEqZ7nMSP5pPRon60qB9NwpQDgAADAMIxHUJvWs/TAAAAAElFTkSuQmCC);
    width: 70px;
    height: 75px;
    display: block;
    line-height: 999px;
    overflow: hidden;
    cursor: pointer;
}
#mwt_mwt_slider_scroll {
    top: 0;
    left: -280px;
    width: 280px;
    position: fixed;
    z-index: 99;
}
#mwt_slider_content {
    background: rgba(5, 5, 5, 0.9);
    text-align: left;
    padding-top: 75px;
    z-index: 99;
}
#m-menu li {
    position: relative;
}
#m-menu li a {
    display: block;
    border-bottom: thin solid #666 !important;
    padding: 10px 20px;
    color: #ff8ca6 !important;
    background: rgba(0, 0, 0, 0);
}

/*search*/
#search-icon {
    float: right;
    width:65px;
    height:75px;
    line-height:80px !important;
    border-left:1px dashed #ddd;
    text-align:center;
}
#search-icon .fa-2x{
    font-size: 30px !important;
    color: #d8d8d8 !important;
}
#search-bg {
    background-color: #eee;
    width:100%;
    display:none;
}
#search-bar {
    width:97%;
    display:none;
    height: 33px;
    padding-top:5px;
    background-color: #eee;
    margin: 0px auto;
    text-align: left;
}
#search-bar .vwlink-search {
    height: 25px;
    width: 385px;
    border: 1px solid #ddd;
    float: right;
}
#search-bar .search{
    width: 369px;
    height:25px;
    background-color: #fff;
    color: #666;
    border: none;
    font-size: 15px;
    padding: 2px;
    padding-left:90px;
    -webkit-appearance: none;
}
#search-bar input:focus {
    outline:0;
}
#search-bar .search-btn {
    background: #eee url("../images/search-btn-bg1.gif") no-repeat -2px -1px;;
    padding: 0px 7px 0px 17px;
    border: none;
    width: 25px;
    color: #777;
    font-family: 微軟正黑體;
    font-size: 15px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    border-radius: 0px;
    background-size: cover;
}
#search-bar .vwlink-hotkey {
    margin: 5px 0px 5px 0px;
    font-size: 14px;
    float: left;
}
#search-bar .select-style select {
    background: transparent;
    width: 104px;
    padding: 3px 0px 3px 10px;
    font-size: 13px;
    height: 27px;
    -webkit-appearance: none; /*for chrome*/
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    text-decoration:none;
    outline:none;
}
#search-bar .select-style {
    width: 85px;
    height: 27px;
    top:5px;
    border-right:thin solid #ddd;
    overflow: hidden;
    position:absolute;
}
#search-bar .select-arrow {
        position:absolute;
        border-style:solid;
        border-width:4px;
        border-color:transparent;
        border-top:4px solid #ddd;
        border-bottom-width:0;
        width:0;
        height:0;
        font-size:0;
        line-height:0;
        top:12px;
        right:7px;
}


#m-menu #search-wrap {
    padding: 10px;
    color: #fff;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
#m-menu #search-wrap a {
    color: #f97a97;
}
#m-menu .vwlink-search {
    height: 30px;
    width: 100%;
    position: relative;
    margin-right: 15px;
    float: left;
}
#m-menu .search {
    width: 95%;
    height: 29px;
    border: 1px solid #50a8a9;
    background-color: #fff;
    color: #666;
    border: none;
    font-size: 18px;
    padding-left: 77px;
    border-radius: 0px;
    -webkit-appearance: none;
    outline:none;
}
#m-menu .search-btn {
    background: #eee url("../images/search-btn-bg1.gif") no-repeat center center;
    padding: 0px 7px 0px 17px;
    border: none;
    color: #777;
    font-family: 微軟正黑體;
    font-size: 15px;
    height: 29px;
    float: right;
    position: absolute;
    right: 0;
    cursor: pointer;
    border-radius: 0px;
}
#m-menu .vwlink-hotkey {
    margin: 5px 0px 5px 0px;
    font-size: 14px;
    float: left;
}
#m-menu .select-style select {
    background: transparent;
    width: 90px;
    padding: 3px 0px 3px 7px;
    font-size: 13px;
    height: 29px;
    -webkit-appearance: none; /*for chrome*/
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    text-decoration:none;
    outline:none;
}
#m-menu .select-style {
    width: 75px;
    height: 29px;
    top:0px;
    border-right:thin solid #ddd;
    overflow: hidden;
    position:absolute;
}
#m-menu .select-arrow {
        position:absolute;
        border-style:solid;
        border-width:4px;
        border-color:transparent;
        border-top:4px solid #ddd;
        border-bottom-width:0;
        width:0;
        height:0;
        font-size:0;
        line-height:0;
        top:15px;
        right:5px;
}

/*登入登出*/
.login-out {
    position: relative;
    float: right;
    color: #666;
    text-decoration: none;
    font-size: 22px;
}
.login-out .loginin-wrap {
    padding: 0px 30px 0px 0px;
}
.login-out .member-login {
    font-size: 14px;
    height: 75px;
    line-height: 75px;
}
.login-out .count {
    border-radius: 5px;
    background: #ea5b7c !important;
    box-shadow: 0 0 2px rgba( 0, 0, 0, 0.3 );
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    text-indent: 0;
    text-align: center;
    text-shadow: none;
    line-height: 18px;
    display: block;
    min-width: 10px;
    height: 18px;
    padding: 0 3px !important;
    position: absolute;
    top: -2px;
    font-family: 微軟正黑體 !important;
}
.login-out .account {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    float: left;
    font-family: 微軟正黑體;
    font-size: 14px;
    margin-top: 5px;
}
.login-out .triangle {
    width: 0;
    height: 2px;
    border-style: solid;
    border-width: 8px 7.5px 0 7.5px;
    border-color: #999 transparent transparent transparent;
    margin: 13px 0px 0px 5px;
    float: right;
}
.login-out ul.pureCssMenu ul {
    display: none;
}
.login-out ul.pureCssMenu li:hover>ul {
    display: block;
}
.login-out ul.pureCssMenu ul {
    position: absolute;
    right: 0px;
    top: 20px;
    text-align: center;
    z-index: 9999;
}
.login-out ul.pureCssMenu,ul.pureCssMenu ul {
    margin: 0px;
    list-style: none;
    padding: 0px 1px 1px 0px;
}
.login-out ul.pureCssMenu {
    display: block;
    zoom: 1;
    float: left;
}
.login-out ul.pureCssMenu li {
    display: block;
    float: left;
    position: relative;
}
.login-out ul.pureCssMenu .pureCssMenu-first {
    display: block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 22px;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 22px 0px 15px;
}
.login-out ul.pureCssMenu ul li a {
    display: block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    height: 30px;
    padding: 5px 40px 0px 20px;
    background: #333;
    border-bottom: 1px solid #000;
    font-family: 微軟正黑體 !important;
    width: 100px;
}
.login-out ul.pureCssMenu ul li {
    float: none;
}
.login-out ul.pureCssMenu ul a {
    text-align: left;
    white-space: nowrap;
    font-family: 微軟正黑體 !important;
}
.login-out ul.pureCssMenu li:hover{
    position: relative;
}
.login-out ul.pureCssMenu li a:hover{
    position: relative;
}
#login-wrap .fa-2x {
    cursor: pointer;
    font-size:20px;
    color:#666;
}
#login-wrap #login-msn {
    height: 54px;
    width: 180px;
    padding: 9px;
    font-size: 11px;
    text-align: left;
    color: #aaa;
}
#login-wrap #login-msn img{
    width:60px;
}
#login-wrap #login-msn span {
    display: block;
}
#login-wrap #login-msn #alias {
    position:absolute;
    top: 12px;
    left: 77px;
    font-size: 14px;
    width: 75px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
#login-wrap #login-msn #logout {
    float: right;
    margin-top: 2px;
    color:#aaa;
}
#login-wrap #login-msn ul {
    position:absolute;
    top: 41px;
    left: 77px;
}
#login-wrap #login-msn li {
    display:inline;
}
#m-menu #menu-logout a, #m-menu #menu-logout a:link {
    color: #aaa !important;
}

/*footer*/
footer {
    background: #f1f0ec;
    padding: 20px;
    margin-top: 10px;
    font-size: 13px;
    color: #666;
    text-align: left;
}
footer .col {
    width: 21.6%;
    float: left;
}
.footer-link .sub-col {
    width: 50%;
}
.footer-link-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin: 0px 10px 5px 10px;
}
.footer-link {
    margin: 0px 10px 0px 10px;
}
.footer-link a {
    color: #333 !important;
}
.footer-link a:hover {
    color: #ea5b7c !important;
}
.footer-link ul {
    float: left;
}
#verywed-intro {
    width: 35%;
    float: left;
}
#verywed-intro .title {
    font-size: 23px;
    color: #333;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 5px;
    border-left: 3px solid #aaa;
}
#verywed-intro .title .en {
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
}
#verywed-intro .descri {
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 15px;
    color: #777;
    line-height: 27px;
}
#copyright {
 text-align: center;
 line-height: 19px;
 margin-top: 15px;
 padding-top: 15px;
 border-top: 1px solid #ddd;
}
.seo-h1 {
 display: none;
}

/*opposeie6*/
#opposeie6 {
    background: #fffad0;
    text-align: center;
    padding:10px 0px;
    width: 100%;
    font-size: 13px;
}
#opposeie6 #close {
    float: right;
    margin: 0px 10px;
}

footer #copyright a {
 color: #ea5b7c;
}

/*notice*/
#login-wrap #notice #mail_list {
    width:200px;
    top:30px !important;
    left:-180px !important;
    text-align:left;
    z-index:999;
    display:none;
}
#login-wrap #notice #mail_list a, #login-wrap #notice #mail_list a:link {
    color:#fff;
}
#login-wrap #notice #mail_list li {
    cursor: pointer;
    display:block;
    width:190px;
    padding:10px !important;
    max-height:45px;
    background-color: rgba(5,5,5,0.9);
    line-height: 15px;
    color:#fff;
}
#login-wrap #notice #mail_list li .txt {
    height:30px;
    width:140px;
    display:inline-block;
}
#login-wrap #notice #mail_list li .ago {
    width:50px;
    text-align:right;
    display:inline-block;
}
#login-wrap #notice #msn_list {
    width:200px;
    top:30px !important;
    left:-140px !important;
    text-align:left;
    z-index:999;
    display:none;
}
#login-wrap #notice #msn_list a, #login-wrap #notice #msn_list a:link {
    color:#fff;
}
#login-wrap #notice #msn_list li {
    cursor: pointer;
    display:block;
    width:190px;
    padding:10px !important;
    max-height:45px;
    background-color: rgba(5,5,5,0.9);
    line-height: 15px;
}
#login-wrap #notice #msn_list li .txt {
    height:30px;
    width:140px;
    display:inline-block;
}
#login-wrap #notice #msn_list li .ago {
    width:50px;
    text-align:right;
    display:inline-block;
}

/*read mail*/
#mail-div {
	position:absolute;
	z-index:99;
	padding:0px 5px;
	width:90%;
    max-width:600px;
	border:1px solid #ddd;
	background-color:#fff;
	top:150px;
	-moz-box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
	-webkit-box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
	box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
}
.mask {
    z-index:98;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.8);
}
#mail-div #close {
	cursor: pointer;
	position:absolute;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	right:0px;
	top:0px;
	color:#fff;
	background-color:#ddd;
}
#mail-div .sub_tools_blk{
        margin:3px;
        height:20px;
}
#mail-div table#mail{
        width:100%;
        margin:5px auto;
}
#mail-div table#mail th,table#mail td{
        padding:2px;
        text-align:right;
        border:1px solid #ddd;
        background:#aaa;
        color:#fff;
}
#mail-div table#mail th{
        width:5em;
}
#mail-div table#mail td{
        text-align:left;
        padding:2px 5px;
        background:#FFFFFF;
        color:#000;
}

