/*header*/
#main-header-wrap {
    max-width: 1300px;
    position: relative;
    margin: 0px auto;
}
#logo-menu-wrap {
    width: 70%;
}
#login-wrap {
    width: 30%;
    float: left;
    top: 0px !important;
}
#login-wrap #login-msn li {
	margin-right:15px !important;
}
#login-wrap #login-msn #got-mail {
        right:36px !important;
}
#login-wrap #login-msn #got-msn {
        right:4px;
}
#search-bar {
    max-width: 1270px;
    display: block !important;
}

/*三層肉選單*/
#mwt_fb_tab {
    display: none;
}
