/*login-out*/
#login-wrap #login-msn {
    width: 143px !important;
}
#login-wrap #login-msn #hi,#login-wrap #login-msn #logout {
}
#login-wrap #login-msn #alias{
        font-size: 16px !important;
        top:9px !important;
    left: 47px !important;
}
#login-wrap #login-msn img {
    width: 30px !important;
}
#login-wrap #login-msn ul {
        top:40px !important;
    left: 47px !important;
}
#login-wrap #login-msn li {
        margin-right:15px !important;
}
#login-wrap #login-msn #got-mail {
        right:40px !important;
}
#login-wrap #login-msn #got-msn {
        right:5px;
}
#login-wrap #login-msn .fa-2x {
        font-size:24px;
}
#search-icon {
    border-right: none !important;
}
#search-bar {
    display: block !important;
}

/*header*/
#logo-menu-wrap {
    height: 75px;
}
#logo {
}
#menu {
}
#mwt_fb_tab {
    display: none;
}
#login-wrap {
    width: 213px;
}
#menu .menu-list a {
    padding: 45px 7px 0 !important;
}
#main-header .vw-logo .logo-text {
    margin-right: 0px !important;
    max-height: 50px !important;
    margin-top: 5px;
}
#main-header .vw-logo .logo-img {
    max-height: 50px !important;
    margin-top: 5px;
}
#search-icon {
    right: 180px !important;
    width: 50px !important;
}
#menu .menu-list a {
    width: 52px !important;
}
/*footer*/
#verywed-intro .title {
    font-size: 18px !important;
    margin-top: 5px !important;
}
#verywed-intro .descri {
    font-size: 13px !important;
    line-height: 20px !important;
}
