/*loginout*/
/*login-out*/
#login-wrap #login-msn {
        width:80px !important;
	height:42px !important;
}
#login-wrap #login-msn #alias{
        font-size: 16px !important;
        top:9px !important;
	left:12px !important;
}
#login-wrap #login-msn ul {
        top:38px !important;
	left:12px !important;
}
#login-wrap #login-msn li {
        margin-right:18px !important;
}
#login-wrap #login-msn #got-mail {
        right:42px !important;
}
#login-wrap #login-msn #got-msn {
        right:7px;
}
#login-wrap #login-msn .fa-2x {
        font-size:20px;
}
#search-icon {
        display:none;
}
.login-out {
    margin-top: 0px !important;
}
#login-wrap #login-msn #hi,#login-wrap #login-msn #logout,#login-wrap #login-msn img {
	display:none;
} 

/*header*/
#logo-menu-wrap {
    height: 60px !important;
}
#logo {
    margin-left: 75px;
}
#mwt_fb_tab span {
    height: 60px !important;
}
#main-header .vw-logo .logo-img {
    height: 55px !important;
}
#main-header .vw-logo .logo-text {
    height: 55px !important;
}
#menu {
    display: none;
}
#login-wrap {
    width: 30%;
}
#login-wrap .vwlink-hotkey {
    display: none;
}
#login-wrap .vwlink-search {
    display: none;
}
#mwt_fb_tab span {
    width: 50px !important;
}
#logo {
    margin-left: 50px;
}
.folderContent {
    display: none;
}

/*footer*/
footer {
    padding: 10px 5px !important;
}
footer .col {
    width: 32.5% !important;
}
#verywed-intro {
    display: none;
}
.footer-link .sub-col {
    width: 100% !important;
}
#copyright {
 font-size: 11px !important;
}

/*hidden*/
#hd-vw5, #ad5, #ad2-vw5 {
    display: none;
}
