/*login-out*/
#login-wrap #login-msn {
	width:150px !important;
}
#login-wrap #login-msn #hi,#login-wrap #login-msn #logout {
        display:none;
}
#login-wrap #login-msn #alias{
	font-size: 16px !important;
	top:9px !important;
}
#login-wrap #login-msn ul {
	top:40px !important;
}
#login-wrap #login-msn li {
	margin-right:15px !important;
}
#login-wrap #login-msn #got-mail {
	right:40px !important;
}
#login-wrap #login-msn #got-msn {
	right:5px;
}
#login-wrap #login-msn .fa-2x {
	font-size:24px;
}
#search-icon {
	display:none;
}

/*header*/
#logo-menu-wrap {
    height: 75px;
}
#logo {
    margin-left: 75px;
}
#menu {
    display: none;
}
#login-wrap {
    width: 50%;
}

/*footer*/
footer .col {
    width: 32.5% !important;
}
#verywed-intro {
    display: none;
}

/*hidden*/
#hd-vw5, #ad5, #ad2-vw5 {
    display: none;
}
