/*三層肉選單*/
#mwt_fb_tab {
    display: none;
}


/*header*/
#login-wrap {
    width: 30%;
}
#login-wrap #login-msn li {
	margin-right:15px !important;
}

#login-wrap #login-msn #got-mail {
        right:36px !important;
}
#login-wrap #login-msn #got-msn {
        right:4px;
}
#search-bar {
    max-width: 1270px;
    display: block !important;
}
