﻿/*index container*/
#index-container {
	max-width: 1300px;
}
.model-wrap {
    height: 50px !important;
    width: 11.2%;
}
#forum-area .model-wrap .image a {
    height: 50px !important;
    width: 50px !important;
}

/*header*/
#main-header-wrap {
	max-width: 1300px;
	position: relative;
	margin: 0px auto;
}
#logo-menu-wrap {
	width: 70%;
}
#login-wrap {
	width: 30%;
	float: left;
}

/*三層肉選單*/
#mwt_fb_tab {
	display: none;
}

/*topic tab7*/
#topic-tab7 .col1 {
	width: 100%;
	height: 450px;
	position: relative;
}
#topic-tab7 .collage1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(33.2% - 2px);
	height: 225px;
	margin-bottom: 5px;
}
#topic-tab7 .collage1 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage2 {
	position: absolute;
	top: 0px;
	left: calc(33.2% + 4px);
	width: calc(16.6% - 4px);
	height: 225px;
	margin-bottom: 5px;
}
#topic-tab7 .collage2 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage3 {
	position: absolute;
	top: 0px;
	left: calc(49.8% + 6px);
	width: calc(16.6% - 4px);
	height: 225px;
	margin-bottom: 5px;
}
#topic-tab7 .collage3 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage4 {
	position: absolute;
	top: 0px;
	left: calc(66.4% + 8px);
	width: calc(16.6% - 4px);
	height: 225px;
	margin-bottom: 5px;
}
#topic-tab7 .collage4 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage5 {
	position: absolute;
	top: 0px;
	left: calc(83% + 10px);
	width: calc(16.6% - 4px);
	height: 225px;
	margin-bottom: 5px;
}
#topic-tab7 .collage5 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage6 {
	position: absolute;
	top: 230px;
	left: 0px;
	width: calc(16.6% - 4px);
	height: 225px;
	margin-bottom: 5px;
}
#topic-tab7 .collage6 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage7 {
    position: absolute;
    top: 230px;
    left: calc(16.6% + 2px);
    width: calc(16.6% - 4px);
    height: 225px;
    margin-bottom: 5px;
}
#topic-tab7 .collage7 .img {
    width: 100%;
    height: 225px;
    display: block;
}
#topic-tab7 .collage8 {
    position: absolute;
    top: 230px;
    left: calc(33.2% + 4px);
    width: calc(16.6% - 4px);
    height: 225px;
    margin-bottom: 5px;
}
#topic-tab7 .collage8 .img {
    background-position: -36px center !important;
    width: 100%;
    height: 225px;
    display: block;
}
#topic-tab7 .collage9 {
    position: absolute;
    top: 230px;
    left: calc(49.8% + 6px);
    width: calc(16.6% - 4px);
    height: 225px;
    margin-bottom: 5px;
}
#topic-tab7 .collage9 .img {
    width: 100%;
    height: 225px;
    display: block;
}
#topic-tab7 .collage10 {
    position: absolute;
    top: 230px;
    left: calc(66.4% + 8px);
    width: calc(16.6% - 4px);
    height: 225px;
    margin-bottom: 5px;
}
#topic-tab7 .collage10 .img {
    width: 100%;
    height: 225px;
    display: block;
}
#topic-tab7 .collage11 {
    position: absolute;
    top: 230px;
    left: calc(83% + 10px);
    width: calc(16.6% - 4px);
    height: 225px;
    margin-bottom: 5px;
}
#topic-tab7 .collage11 .img {
    width: 100%;
    height: 225px;
    display: block;
}
#topic-tab7 .collage12 {
    position: absolute;
    top: 230px;
    left: calc(83% + 10px);
    width: calc(16.6% - 4px);
    height: 225px;
    margin-bottom: 5px;
}
#topic-tab7 .collage12 .img {
    width: 100%;
    height: 225px;
    display: block;
}
