@import url(high.css?20160701) screen and (min-width: 1400px);
@import url(normal.css?20160701) screen and (min-width: 1100px) and (max-width: 1399px);
@import url(mini.css?20160701) screen and (min-width: 768px) and (max-width: 1099px);
@import url(note.css?20160701) screen and (min-width: 481px) and (max-width: 767px);
@import url(mobile.css?20160701) screen and (max-width: 480px);

body {
	color: #555;
	padding: 0;
	margin: 0;
	/*background: #f1f0ec;*/
	text-align: left;
	-webkit-text-size-adjust: 100%;
}
body, div, p{
	font-family: 微軟正黑體, Arial, Helvetica, Verdana;
	line-height: 22px;
}
p{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover{
	color: #ea5b7c;
	text-decoration: none;
}
ul, li {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none inside none;
}
textarea {
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	border-radius: 5px !important;
	font-size: 18px !important;
	padding: 5px !important;
}
img {
 border: none;
}
.clear{
	clear:both;
}

/*index container*/
#index-container {
	background: #fff;
	margin: 30px auto;
	position: relative;
    width:calc(100% - 50px);
    max-width:1300px;
}
#index-container #ad2-vw5 {
    display: block;
}

/*area title*/
.area-title {
	font-size: 20px;
	border-bottom: 3px solid #ddd;
	margin: 0px 0px 10px 0px;
    padding:0px 0px 10px 0px;
    font-weight: bold;
}
.area-title a,
.area-title a:hover{
	color: #333;
}
.area-title img {
    cursor;pointer;
}
.area-title .more{ 
    float:right;
}
.area-title .more a{
    font-size: 14px;
    color: #fff;
    background: #ea5b7c;
    padding: 5px;
    margin:0px 0px 0px 10px;
}
.area-title .more a:hover{
    background: #ff7494;
}



/*黃金廣告*/
#golden-ad {
	width: 60%;
	float: left;
}
.swiper-container {
	height: 100%;
}
.swiper-container img {
	width: 100%;
}
.swiper-descri {
	position: absolute;
	bottom: 20px;
	left: 0px;
	padding: 15px 20px;
	background: #000;
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	filter:alpha(opacity=70);
}
.swiper-descri a {
	color: #fff;
}
.swiper-descri .title {
	font-size: 20px;
	display: block;
	border-bottom: 1px solid #aaa;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.swiper-descri .descri {
	font-size: 15px;
	display: block;
}

/*討論區*/
#forum-area {
	margin-left: 30px;
    float:right;
    width:calc(40% - 30px);
    position:relative;
}
#forum-area #Description{
    font-size:12px;
    margin: 0px 0px 20px 0px;
    background:#ff7494;
    color:#ffffff;
    padding:10px;
    display:none;
    position:absolute;
    z-index:99;
    top:30px;
    width:220px;
}
#forum-area #Description .triangle{
    display: block;
    border-color: transparent transparent #ff7494;
    border-style: solid;
    border-width: 0 7.5px 10px;
    height: 0;
    left: 90px;
    position: absolute;
    top: -10px;
    width: 0;
}
.article-wrap {
	border-bottom: 1px dashed #ddd;
    margin:0px 0px 10px 0px;
    padding:0px 0px 10px 0px;
}
#forum-area .article-wrap .image{
    display: block;
	border: 1px solid #ddd;
	float: left;
    width:75px;
    height:75px;
}
#forum-area .article-wrap .Content{
    float:right;
    width:calc(100% - 90px);
}
#forum-area .article-wrap.forum .Content{
    width:100%;
}

#forum-area .article-wrap .Content .Evaluate {
    position:relative;
}
#forum-area .article-wrap .Content .Evaluate span{
    float:left;
}
#forum-area .article-wrap .Content .Evaluate .Title{
    color:#333333;
    font-size:16px;
    max-width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#forum-area .article-wrap.forum .Content .Evaluate .Title{
    color:#333333;
    font-size:16px;
    line-height:30px;
    max-width:calc(100% - 120px);
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#forum-area .article-wrap.forum .Content .Evaluate .MemborID{
    color:#999999;
    font-size:12px;
    float:right;
    width:100px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#forum-area .article-wrap .Content .Text{
    width:100%;
    margin:5px 0px 0px 0px;
    color:#999999;
    font-size:12px;
    line-height:16px;
    position:relative;
}
#forum-area .article-wrap .Content .Text span{
    max-width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-style:italic;
    font-size:12px;
    line-height:26px;
    color:#999999;
    float:left;
}
#forum-area .article-wrap .Content .MemborInfor {
    margin:0;
}
#forum-area .article-wrap .Content .MemborInfor span{
    color:#999999;
    font-size:12px;
    font-style:italic;
    float:left;
}
#forum-area .article-wrap .Content .MemborInfor span:first-child{
    max-width:35%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#forum-area .article-wrap .Content .MemborInfor span:first-child:before{
    content: "-";
    margin: 0px 0px 0px 5px;
}
#forum-area .article-wrap .Content .MemborInfor span:nth-child(2):before{
    content:"/";
}
#forum-area .article-wrap .Content .MemborInfor .Score{
    color:#ea5b7c;
    font-size:14px;
    float:right;
    font-weight:bold;
    font-style: normal;
}
#forum-area .article-wrap .title {
	max-height: 67px;
	overflow: hidden;
}
#forum-area .article-wrap .title a {
	font-weight: bold;
	color: #333;
}
#forum-area .article-wrap .descri {
	font-size: 13px;
	color: #666;
	height: 45px;
	overflow: hidden;
}
#forum-area .article-wrap .descri a {
	color: #666;
}
#forum-area .article-wrap .author {
	text-align: right;
	margin-top: 5px;
}
#forum-area .article-wrap .author a {
	color: #666;
	font-size: 13px;
}
/*model-wrap*/
.model-title {
    padding:15px;
}
.model-wrap {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    margin: 3px 0px 3px 5px;
		float: left;
}
.model-wrap:hover {
    border: 1px solid #ccc;
}
.model-wrap a {
    color: #555;
    font-size: 14px;
}
#forum-area .model-wrap .image a {
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px;
}
#forum-area .model-wrap .nick-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#forum-area .model-wrap .author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*topic area*/
#topic-area {
	margin: 30px auto;
}
#topic-wrap ul, #topic-wrap li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#topic-wrap .tabs {
	width: 100%;
	border-bottom: 3px solid #ddd;
    height: 39px;
	text-align: center;
}
#topic-wrap .tabs li {
	display: inline;
	margin: 0 0 -1px 5px;
	height: 32px;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}
#topic-wrap .tabs li.active {
	border-bottom: 3px solid #ea5b7c;
	color: #333;
	font-size: 20px;
}
#topic-wrap .tabs li.hover{
	border-bottom: 3px solid #ea5b7c;
}
#topic-wrap .tabs span {
	display: inline-block;
	overflow: hidden;
	padding: 7px 10px 4px 10px;
}
#topic-wrap .tab_container {
	clear: both;
	padding-top: 10px;
}
#topic-wrap .tab_container ul {
	position: relative;
	height: 450px;
	overflow: hidden;
}
#topic-wrap .tab_container .tab_content li {
	position: absolute;
	height: 100%;
	width: 100%;
}
#topic-wrap .tab_container .tab_content li img {
	display: block;
	float: left;
	margin-right: 15px;
}
#topic-wrap .tab_container .tab_content li h3 {
	font-size: 22px;
	line-height: 22px;
	margin: 5px 0 15px;
}

/*topic img*/
/*黑色漸層*/
.descri-black {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 48%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(48%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 48%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 48%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 48%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 48%,rgba(0,0,0,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 90%;
	padding: 5%;
	color: #fff !important;
	font-size: 14px;
}
.descri-black:hover {
	color: #fff;
}
.descri-black .title {
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

/*白色漸層*/
.descri-white {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 32%, rgba(255,255,255,0.95) 63%, rgba(255,255,255,0.95) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(32%,rgba(255,255,255,0.75)), color-stop(63%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,0.95))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 32%,rgba(255,255,255,0.95) 63%,rgba(255,255,255,0.95) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 32%,rgba(255,255,255,0.95) 63%,rgba(255,255,255,0.95) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 32%,rgba(255,255,255,0.95) 63%,rgba(255,255,255,0.95) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 32%,rgba(255,255,255,0.95) 63%,rgba(255,255,255,0.95) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f2ffffff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 90%;
	padding: 5%;
	color: #333 !important;
	font-size: 14px;
}
.descri-white:hover {
	color: #333;
}
.descri-white .title {
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

/*滑動白底*/
.slide-block-white {
	background: #fff;
	position: absolute;
	bottom: -130px;
	left: 0px;
	width: 90%;
	height: 150px;
	padding: 5%;
	color: #333 !important;
	font-size: 14px;
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	filter:alpha(opacity=70);
	transition: bottom 0.5s ease;
	-moz-transition: bottom 0.5s ease;
	-webkit-transition: bottom 0.5s ease;
	-ms-transition: bottom 0.5s ease;
	-o-webkit-transition: bottom 0.5s ease;
}
.slide-block-white:hover {
	color: #fff;
	bottom: 0px;
}
.slide-block-white .title {
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
	line-height: 28px;
}

/*置中大標*/
.descri-center {
	text-align: center;
	display: block;
}
/*廠商評價標題*/
.h3-seo{
       padding: 0;
       margin:0;
       color:#999999;
       font-size:16px;
}
/*討論區標題文字*/
.h3-seo-forum{
       padding: 0;
       margin:0;
       color:#333;
       font-size:16px;
       max-width: calc(100% - 120px);
       overflow:hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       float: left;
       font-weight: normal;
}
/*精選內容選單*/
.h2-seo{
       margin:0;
       font-size:20px;
       font-weight: normal;
}
/*在head中地標籤不顯示*/
.head-span{
       display: none;
}
.descri-center .title {
	position: absolute;
	left: 0px;
	top: 35%;
	color: #fff;
	font-size: 22px;
	width: 100%;
	vertical-align: middle;
	line-height: 36px;
}
.descri-center .filter {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity:0.3;
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	filter:alpha(opacity=30);
}

/*圖片拼貼*/
.collage-wrap {
	position: relative;
	display: block;
	overflow: hidden;
}
.collage-wrap {
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	filter: alpha(opacity=100);
	transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-webkit-transition: opacity 0.5s ease;
}
.collage-wrap:hover {
	opacity: 0.8;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	filter: alpha(opacity=80);
}
/*.collage-wrap .img {
	height: 100% !important;
	transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-webkit-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
	-o-webkit-transition: width 0.5s ease;
	transition: height 0.5s ease;
	-moz-transition: height 0.5s ease;
	-webkit-transition: height 0.5s ease;
	-ms-transition: height 0.5s ease;
	-o-webkit-transition: height 0.5s ease;
}
.collage-wrap:hover .img {
	height: 110% !important;
}*/

/*topic tab1*/
#topic-tab1 .col1 {
	width: calc(30% - 10px);
	float: left;
}
#topic-tab1 .collage1 {
	width: 100%;
	height: 303px;
	margin-bottom: 2px;
}
#topic-tab1 .collage1 .img {
	width: 100%;
	height: 303px;
	display: block;
}
#topic-tab1 .collage2 {
	width: 100%;
	height: 145px;
	float: left;
}
#topic-tab1 .collage2 .img {
	width: 100%;
	height: 145px;
	display: block;
}
#topic-tab1 .col2 {
	width: 40%;
	float: left;
	padding-left: 2px;
}
#topic-tab1 .collage3 {
	width: 100%;
	height: 450px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
#topic-tab1 .collage3 .img {
	width: 100%;
	height: 450px;
	display: block;
}
#topic-tab1 .col3 {
	width: 30%;
	float: left;
	margin-left: 2px;
}
#topic-tab1 .collage4 {
	width: 100%;
	height: 203px;
	margin-bottom: 2px;
}
#topic-tab1 .collage4 .img {
	width: 100%;
	height: 203px;
	display: block;
}
#topic-tab1 .collage5 {
	width: 100%;
	height: 245px;
	float: left;
}
#topic-tab1 .collage5 .img {
	width: 100%;
	height: 245px;
	display: block;
}

/*topic tab2*/
#topic-tab2 .col1 {
	width: calc(30% - 4px);
	float: left;
}
#topic-tab2 .collage1 {
	width: 100%;
	height: 450px;
	margin-bottom: 5px;
}
#topic-tab2 .collage1 .img {
	width: 100%;
	height: 450px;
	display: block;
}
#topic-tab2 .collage2 {
	width: 100%;
	height: 140px;
	float: left;
}
#topic-tab2 .collage2 .img {
	width: 100%;
	height: 140px;
	display: block;
}
#topic-tab2 .col2 {
	width: 40%;
	float: left;
	padding-left: 2px;
}
#topic-tab2 .collage2 {
	width: 100%;
	height: 273px;
	clear: both;
	margin-bottom: 2px;
}
#topic-tab2 .collage2 .img {
	width: 100%;
	height: 273px;
	display: block;
}
#topic-tab2 .collage3 {
	width: calc(50% - 2px);
	height: 175px;
	float: left;
	margin-right: 2px;
	margin-bottom: 5px;
}
#topic-tab2 .collage3 .img {
	width: 100%;
	height: 175px;
	display: block;
}
#topic-tab2 .collage4 {
	width: 50%;
	height: 175px;
	float: left;
	margin-bottom: 5px;
}
#topic-tab2 .collage4 .img {
	width: 100%;
	height: 175px;
	display: block;
}
#topic-tab2 .col3 {
	width: 30%;
	float: left;
	margin-left: 2px;
}
#topic-tab2 .collage5 {
	width: 100%;
	height: 173px;
	float: left;
	margin-right: 5px;
	margin-bottom: 2px;
}
#topic-tab2 .collage5 .img {
	width: 100%;
	height: 173px;
	display: block;
}
#topic-tab2 .collage6 {
	width: 100%;
	height: 275px;
	float: left;
}
#topic-tab2 .collage6 .img {
	width: 100%;
	height: 275px;
	display: block;
}

/*topic tab3*/
#topic-tab3 .col1 {
	width: calc(30% - 4px);
	float: left;
}
#topic-tab3 .collage1 {
	width: 100%;
	height: 268px;
	margin-bottom: 2px;
}
#topic-tab3 .collage1 .img {
	width: 100%;
	height: 268px;
	display: block;
}
#topic-tab3 .collage2 {
	width: 100%;
	height: 180px;
	margin-bottom: 5px;
}
#topic-tab3 .collage2 .img {
	width: 100%;
	height: 180px;
	display: block;
}
#topic-tab3 .collage3 {
	width: 100%;
	height: 203px;
	margin-bottom: 2px;
}
#topic-tab3 .collage3 .img {
	width: 100%;
	height: 203px;
	display: block;
}
#topic-tab3 .col2 {
	width: 35%;
	float: left;
	padding-left: 2px;
}
#topic-tab3 .collage4 {
	width: 100%;
	height: 245px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
#topic-tab3 .collage4 .img {
	width: 100%;
	height: 245px;
	display: block;
}
#topic-tab3 .collage5 {
	width: 100%;
	height: 243px;
	float: left;
	margin-bottom: 2px;
}
#topic-tab3 .collage5 .img {
	width: 100%;
	height: 243px;
	display: block;
}
#topic-tab3 .col3 {
	width: 35%;
	float: left;
	margin-left: 2px;
}
#topic-tab3 .collage6 {
	width: 100%;
	height: 210px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
#topic-tab3 .collage6 .img {
	width: 100%;
	height: 210px;
	display: block;
}

/*topic tab4*/
#topic-tab4 .col1 {
	width: calc(30% - 4px);
	float: left;
}
#topic-tab4 .collage1 {
	width: 100%;
	height: 183px;
	margin-bottom: 2px;
}
#topic-tab4 .collage1 .img {
	width: 100%;
	height: 183px;
	display: block;
}
#topic-tab4 .collage2 {
	width: 100%;
	height: 265px;
	margin-bottom: 5px;
}
#topic-tab4 .collage2 .img {
	width: 100%;
	height: 265px;
	display: block;
}
#topic-tab4 .col2 {
	width: 30%;
	float: left;
	padding-left: 2px;
}
#topic-tab4 .collage3 {
	width: 100%;
	height: 450px;
	margin-bottom: 5px;
}
#topic-tab4 .collage3 .img {
	width: 100%;
	height: 450px;
	display: block;
}
#topic-tab4 .col3 {
	width: 40%;
	float: left;
	margin-left: 2px;
}
#topic-tab4 .collage4 {
	width: 100%;
	height: 243px;
	float: left;
	margin-bottom: 2px;
}
#topic-tab4 .collage4 .img {
	width: 100%;
	height: 243px;
	display: block;
}
#topic-tab4 .collage5 {
	width: calc(50% - 2px);
	height: 210px;
	float: left;
	margin-right: 2px;
	margin-bottom: 5px;
}
#topic-tab4 .collage5 .img {
	width: 100%;
	height: 210px;
	display: block;
}
#topic-tab4 .collage6 {
	width: 50%;
	height: 210px;
	float: left;
	margin-bottom: 5px;
}
#topic-tab4 .collage6 .img {
	width: 100%;
	height: 210px;
	display: block;
}

/*topic tab5*/
#topic-tab5 .col1 {
	width: calc(30% - 4px);
	float: left;
}
#topic-tab5 .collage1 {
	width: 100%;
	height: 273px;
	margin-bottom: 2px;
}
#topic-tab5 .collage1 .img {
	width: 100%;
	height: 273px;
	display: block;
}
#topic-tab5 .collage2 {
	width: 100%;
	height: 175px;
}
#topic-tab5 .collage2 .img {
	width: 100%;
	height: 175px;
	display: block;
}
#topic-tab5 .col2 {
	width: 40%;
	float: left;
	padding-left: 2px;
}
#topic-tab5 .collage3 {
	width: calc(50% - 2px);
	height: 173px;
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
}
#topic-tab5 .collage3 .img {
	width: 100%;
	height: 173px;
	display: block;
}
#topic-tab5 .collage4 {
	width: 50%;
	height: 173px;
	float: left;
	margin-bottom: 2px;
}
#topic-tab5 .collage4 .img {
	width: 100%;
	height: 173px;
	display: block;
}
#topic-tab5 .collage5 {
	width: 100%;
	height: 275px;
	clear: both;
	margin-bottom: 5px;
}
#topic-tab5 .collage5 .img {
	width: 100%;
	height: 275px;
	display: block;
}
#topic-tab5 .col3 {
	width: 30%;
	float: left;
	margin-left: 2px;
}
#topic-tab5 .collage6 {
	width: 100%;
	height: 273px;
	float: left;
	margin-bottom: 2px;
}
#topic-tab5 .collage6 .img {
	width: 100%;
	height: 273px;
	display: block;
}
#topic-tab5 .collage7 {
	width: 100%;
	height: 175px;
	float: left;
	margin-right: 5px;
}
#topic-tab5 .collage7 .img {
	width: 100%;
	height: 175px;
	display: block;
}

/*topic tab6*/
#topic-tab6 .col1 {
	width: calc(30% - 4px);
	float: left;
}
#topic-tab6 .collage1 {
	width: 100%;
	height: 303px;
	margin-bottom: 2px;
}
#topic-tab6 .collage1 .img {
	width: 100%;
	height: 303px;
	display: block;
}
#topic-tab6 .collage2 {
	width: 100%;
	height: 145px;
	float: left;
}
#topic-tab6 .collage2 .img {
	width: 100%;
	height: 145px;
	display: block;
}
#topic-tab6 .col2 {
	width: 40%;
	float: left;
	padding-left: 2px;
}
#topic-tab6 .collage3 {
	width: 100%;
	height: 450px;
	clear: both;
	margin-bottom: 5px;
}
#topic-tab6 .collage3 .img {
	width: 100%;
	height: 450px;
	display: block;
}
#topic-tab6 .col3 {
	width: 30%;
	float: left;
	margin-left: 2px;
}
#topic-tab6 .collage4 {
	width: 100%;
	height: 203px;
	margin-bottom: 2px;
}
#topic-tab6 .collage4 .img {
	width: 100%;
	height: 203px;
	display: block;
}
#topic-tab6 .collage5 {
	width: 100%;
	height: 245px;
	float: left;
}
#topic-tab6 .collage5 .img {
	width: 100%;
	height: 245px;
	display: block;
}

/*company area*/
#company-area {
}
#company-wrap ul, #company-wrap li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#company-wrap .tabs {
    width: 100%;
    border-bottom: 3px solid #ddd;
    height: 39px;
    text-align: center;
}
#company-wrap .tabs li {
    display: inline;
    margin: 0 0 -1px 5px;
    height: 32px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
#company-wrap .tabs li.active {
    border-bottom: 3px solid #ea5b7c;
    color: #333;
    font-size: 20px;
}
#company-wrap .tabs li.hover{
    border-bottom: 3px solid #ea5b7c;
}
#company-wrap .tabs span {
    display: inline-block;
    overflow: hidden;
    padding: 7px 10px 4px 10px;
}
#company-wrap .tab_container {
    clear: both;
    padding-top: 10px;
}
#company-wrap .tab_container ul {
    position: relative;
    height: 450px;
    overflow: hidden;
}
#company-wrap .tab_container .tab_content li {
    position: absolute;
    height: 100%;
    width: 100%;
}
#company-wrap .tab_container .tab_content li img {
    display: block;
    float: left;
    margin-right: 15px;
}
#company-wrap .tab_container .tab_content li h3 {
    font-size: 22px;
    line-height: 22px;
    margin: 5px 0 15px;
}

/*window area*/
#window-area {
	margin: 0px 0px 30px 0px;
}
#window-wrap ul, #window-wrap li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#window-wrap .tabs {
	width: 100%;
	border-bottom: 3px solid #ddd;
	height: 39px;
	text-align: center;
}
#window-wrap .tabs li {
	display: inline;
	margin: 0 0 -1px 5px;
	height: 32px;
	cursor: pointer;
}
#window-wrap .tabs li.active {
	border-bottom: 3px solid #ea5b7c;
	color: #333;
	font-size: 19px;
}
#window-wrap .tabs li.hover{
	border-bottom: 3px solid #ea5b7c;
}
#window-wrap .tabs span {
	display: inline-block;
	overflow: hidden;
	padding: 7px 15px 5px 15px;
}
#window-wrap .tab_container {
	clear: both;
	padding-top: 10px;
}
#window-wrap .tab_container ul {
	position: relative;
	height: 450px;
	overflow: hidden;
}
#window-wrap .tab_container .tab_content li {
	position: absolute;
	height: 100%;
	width: calc(100% + 10px);
}
#window-wrap .tab_container .tab_content li img {
	display: block;
	float: left;
	margin-right: 15px;
}
#window-wrap .tab_container .tab_content li h3 {
	font-size: 22px;
	line-height: 22px;
	margin: 5px 0 15px;
}

/*三則文字LINK*/
#ad2-vw5 {
	background: #f1f0ec;
    margin:0px 0px 30px 0px;
}
#ad2-vw5 div {
	width: 32%;
	display: inline-block;
	text-align: center;
}
#ad2-vw5 a {
	font-size: 14px;
    line-height:60px;
}

/*column area*/
#column-area {
	margin: 0px 0px 30px 0px;
}
#column-wrap ul, #column-wrap li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#column-wrap .tabs {
	width: 100%;
	border-bottom: 3px solid #ddd;
	height: 39px;
	text-align: center;
}
#column-wrap .tabs li {
	display: inline;
	margin: 0 0 -1px 5px;
	height: 32px;
	cursor: pointer;
}
#column-wrap .tabs li.active {
	border-bottom: 3px solid #ea5b7c;
	color: #333;
	font-size: 19px;
}
#column-wrap .tabs li.hover{
	border-bottom: 3px solid #ea5b7c;
}
#column-wrap .tabs span {
	display: inline-block;
	overflow: hidden;
	padding: 5px 5px 5px 15px;
}
#column-wrap .tab_container {
	clear: both;
	padding-top: 10px;
}
#column-wrap .tab_container ul {
	position: relative;
	height: 405px;
	overflow: hidden;
}
#column-wrap .tab_container .tab_content li {
	position: absolute;
	height: 100%;
	width: 100%;
}
#column-wrap .tab_container .tab_content li img {
	display: block;
	float: left;
	margin-right: 15px;
}
#column-wrap .tab_container .tab_content li h3 {
	font-size: 22px;
	line-height: 22px;
	margin: 5px 0 15px;
}

/*column list three*/
.column-list-three {
	background: #fff;
	width: calc(33% - 10px);
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	-moz-box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	overflow: hidden;
	position: relative;
	float: left;
	margin-right: 10px;
	height: 440px;
}
.column-list-three .img {
	width: 100%;
	height: 260px;
	display: block;
}
.column-list-three .title {
	color: #333;
	font-size: 20px;
	padding: 25px 20px 0px 20px;
	display: block;
}
.column-list-three .descri {
	color: #999999;
	font-size: 15px;
	padding: 5px 20px 20px 20px;
	display: block;
}
.column-list-three .circle {
	background: #ea5b7c;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	top: 240px;
	right: 10px;
	height: 90px;
	width: 90px;
	text-align: center;
	line-height: 90px;
}
.column-list-three .square {
	background: #ea5b7c;
	color: #fff;
	position: absolute;
	top: 245px;
	right: 10px;
	text-align: center;
	padding: 5px 15px;
}

/*column list big*/
.column-list-big {
	background: #fff;
	width: 50%;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	-moz-box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	overflow: hidden;
	position: relative;
	float: left;
	margin-right: 5px;
	height: 401px;
}
.column-list-big .img {
	width: 100%;
	height: 300px;
	display: block;
}
.column-list-big .title {
	color: #333;
	font-size: 20px;
	padding: 10px 20px 0px 20px;
	display: block;
}
.column-list-big .descri {
	color: #999999;
	font-size: 15px;
    margin: 5px 20px 20px 20px;
    max-height: 45px;
    overflow: hidden;
	display: block;
}
.column-list-big .circle {
	background: #ea5b7c;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	top: 240px;
	right: 10px;
	height: 90px;
	width: 90px;
	text-align: center;
	line-height: 90px;
}
.column-list-big .square {
	background: #ea5b7c;
	color: #fff;
	position: absolute;
	top: 280px;
	right: 10px;
	text-align: center;
	padding: 5px 15px;
}

/*column list small*/
.column-list-sml {
	background: #fff;
	width: 48.5%;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	-moz-box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	box-shadow: 0 1px 5px rgba(204,204,204,0.75);
	overflow: hidden;
	position: relative;
	float: right;
	margin-bottom: 5px;
}
.column-list-sml .img {
	width: 124px;
	height: 129px;
	display: block;
	float: left;
}
.column-list-sml .title {
	color: #333;
	font-size: 20px;
	padding: 15px 20px 0px 20px;
	float: left;
	display: block;
	width: 65%;
}
.column-list-sml .descri {
	color: #999999;
	font-size: 14px;
	margin: 5px 20px 20px 20px;
	float: left;
	display: block;
	width: 65%;
    overflow: hidden;
    max-height: 45px;
}
.column-list-sml .square {
	background: #ea5b7c;
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 1px 8px;
	font-size: 13px;
	text-align: center;
}

