﻿/*index container*/

/*header*/
#logo-menu-wrap {
	height: 75px;
}
#logo {
}
#menu {
}
#login-wrap {
	width: 50%;
	float: right !important;
}

/*黃金廣告*/
.swiper-descri {
	padding: 10px 15px !important;
}
.swiper-descri .descri {
	font-size: 13px !important;
}
.swiper-descri .title {
	font-size: 16px !important;
	padding-bottom: 5px !important;
	margin-bottom: 5px !important;
}
#golden-ad {
    width: 100% !important;
    float: none !important;
    margin:0px auto 30px !important;
}


/*討論區*/
#forum-area {
    margin:0px auto 30px !important;
    float: none !important;
    width: 100% !important;
}
.model-title {
    padding: 10px !important;
    margin-bottom: 0px !important;
}
#forum-area .article-wrap .image a {
	height: 50px !important;
	width: 50px !important;
}
.model-wrap {
    width: 17.7%;
    padding: 5px !important;
}
#model-wrop2 {
    display: none;
}
#forum-area .article-wrap .author {
    margin-top: 0px !important;
}
#forum-area .title a {
	height: 40px !important;
	overflow: hidden !important;
	display: block !important;
    font-size: 15px;
}

/*置中標題*/
.descri-center .title {
	font-size: 22px !important;
}

/*三則文字LINK*/
#ad2-vw5 div {
	width: 49% !important;
}
#ad2-vw5 .text-link3 {
	display: none;
}

/*window area*/
#window-wrap .tab_container ul {
	height: 460px !important;
}

/*column list three*/
.column-list-three .img {
	height: 200px !important;
}
.column-list-three .square {
	top: 183px !important;
}
.column-list-three {
	height: 430px !important;
}

/*column area*/
.column-list-big {
	height: 400px !important;
}
.column-list-big .img {
	height: 278px !important;
}
.column-list-sml .title {
	width: 57% !important;
	padding: 10px 15px 0px !important;
	font-size: 17px !important;
	max-height: 43px !important;
	overflow: hidden;
}
.column-list-sml .descri {
	width: 57% !important;
	margin: 0px 15px 0px !important;
}
.column-list-big .circle {
	top: 200px !important;
}

/*topic tab7*/
#company-wrap .tab_container ul {
    height: 403px !important;
}
#topic-tab7 .col1 {
	width: 100%;
	height: 450px;
	position: relative;
}
#topic-tab7 .collage1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(33.2% - 1px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage1 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage2 {
    position: absolute;
    top: 0px;
    left: calc(33.2% + 2px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage2 .img {
    background-position: -70px center !important;
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage3 {
    position: absolute;
    top: 0px;
    left: calc(49.8% + 3px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage3 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage4 {
    position: absolute;
    top: 0px;
    left: calc(66.4% + 4px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage4 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage5 {
    position: absolute;
    top: 0px;
    left: calc(83% + 4px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage5 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage6 {
    position: absolute;
    top: 203px;
    left: 0px;
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage6 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage7 {
    position: absolute;
    top: 203px;
    left: calc(16.6% + 1px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage7 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage8 {
    position: absolute;
    top: 203px;
    left: calc(33.2% + 2px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage8 .img {
    background-position: -45px center !important;
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage9 {
    position: absolute;
    top: 203px;
    left: calc(49.8% + 3px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage9 .img {
    background-position: -55px center !important;
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage10 {
    position: absolute;
    top: 203px;
    left: calc(66.4% + 4px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage10 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage11 {
    position: absolute;
    top: 203px;
    left: calc(83% + 4px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage11 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage12 {
    position: absolute;
    top: 203px;
    left: calc(83% + 4px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage12 .img {
    width: 100%;
    height: 200px;
    display: block;
}

/*footer*/
#verywed-intro .title {
	font-size: 18px !important;
	margin-top: 5px !important;
}
#verywed-intro .descri {
	font-size: 13px !important;
	line-height: 20px !important;
}
