﻿/*loginout*/
.login-out {
    margin-top: 15px;
}

/*黃金廣告*/
#golden-ad {
    width: 100% !important;
    float: none !important;
    margin:0px auto 30px !important;
}
.swiper-container {
	height: auto !important;
}
.swiper-container-horizontal > .swiper-pagination {
	display: none !important;
}
.swiper-button-next,.swiper-button-prev{
	width:27px !important;
	height:20px !important;
}
.swiper-button-next {
	display: none !important;
}
.swiper-button-prev {
	display: none !important;
}
.swiper-descri {
	padding: 10px 32px !important;
	bottom: -5px !important;
	line-height: 18px !important;
}
.swiper-descri .title {
	font-size: 17px !important;
	margin-bottom: 3px !important;
	padding-bottom: 3px !important;
}
.swiper-descri .descri {
	font-size: 13px !important;
}
.jaf-container {
	padding: 2px 0 !important;
}

/*header*/
#logo-menu-wrap {
    height: 60px !important;
}
#logo {
	margin-left: 75px;
}
#mwt_fb_tab span {
	height: 60px !important;
}
#main-header .vw-logo .logo-img {
	height: 55px !important;
}
#main-header .vw-logo .logo-text {
	height: 55px !important;
}
#menu {
	display: none;
}
#login-wrap {
	width: 50%;
	float: right !important;
}
#login-wrap .vwlink-hotkey {
	display: none;
}
#login-wrap .vwlink-search {
	display: none;
}
#mwt_fb_tab span {
	width: 50px !important;
}
#logo {
	margin-left: 50px;
}
.folderContent {
	display: none;
}

/*討論區*/
#forum-area {
    margin:0px auto 30px !important;
    float: none !important;
    width: 100% !important;
}
.area-title {
	clear: both;
}
#forum-area .image a {
	margin: 0 10px 0 5px !important;
}
.model-wrap {
    width: 41%;
}
#model-wrop2 {
    display: none;
}

/*topic tab*/
#topic-wrap .tabs {
	height: 76px !important;
}
#topic-tab1 .col1, #topic-tab1 .col2, #topic-tab1 .col3 {
	width: 99% !important;
	clear: both;
}
#topic-tab1 .col2 {
	padding-left: 0px !important;
}
#topic-tab1 .col3 {
	margin-left: 0px !important;
}
#topic-tab1 .collage3, #topic-tab1 .collage4, #topic-tab1 .collage5 {
	width: 100% !important;
}
#topic-tab2 .col1, #topic-tab2 .col2, #topic-tab2 .col3 {
	width: 99% !important;
	clear: both;
}
#topic-tab2 .col2 {
	padding-left: 0px !important;
}
#topic-tab2 .col3 {
	margin-left: 0px !important;
}
#topic-tab2 .collage3, #topic-tab2 .collage4 {
	width: 49.2% !important;
}
#topic-tab3 .col1, #topic-tab3 .col2, #topic-tab3 .col3 {
	width: 99% !important;
	clear: both;
}
#topic-tab4 .col1, #topic-tab4 .col2, #topic-tab4 .col3 {
	width: 100% !important;
	clear: both;
}
#topic-tab4 .col2 {
	padding-left: 0px !important;
}
#topic-tab4 .col3 {
	margin-left: 0px !important;
}
#topic-tab4 .collage6, #topic-tab4 .collage7 {
	width: 49.2% !important;
}
#topic-tab5 .col2 {
	padding-left: 0px !important;
}
#topic-tab5 .col3 {
	margin-left: 0px !important;
}
#topic-tab5 .col1, #topic-tab5 .col2, #topic-tab5 .col3 {
	width: 100% !important;
	clear: both;
}
#topic-tab5 .collage3, #topic-tab5 .collage4 {
	width: 49.2% !important;
}
#topic-tab6 .col1, #topic-tab6 .col2, #topic-tab6 .col3 {
	width: 100% !important;
	clear: both;
}
#topic-tab6 .collage4, #topic-tab6 .collage5, #topic-tab6 .collage6 {
	width: 100% !important;
}
#topic-wrap .tab_container ul {
	height: 1350px !important;
}
#company-wrap .tab_container ul {
    height: 750px !important;
}


/*topic tab7*/
#company-wrap .collage-wrap .img {
    height: 120px !important;
}
#company-wrap .collage-wrap {
    margin: 2px !important;
}

#topic-tab7 .col1 {
	width: 100% !important;
	clear: both;
}
#topic-tab7 .collage1 {
    width: calc(97% + 1px);
	float: left;
	margin-right: 10px;
}
#topic-tab7 .collage1 .img {
	width: 100%;
	display: block;
}
#topic-tab7 .collage2 {
	width: 48%;
	float: left;
}
#topic-tab7 .collage2 .img {
	width: 100%;
	display: block;
}
#topic-tab7 .collage3 {
	width: 48%;
	float: left;
	margin-right: 10px;
}
#topic-tab7 .collage3 .img {
	width: 100%;
	display: block;
}
#topic-tab7 .collage4 {
	width: 48%;
	float: left;
}
#topic-tab7 .collage4 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage5 {
	width: 48%;
	float: left;
	margin-right: 10px;
}
#topic-tab7 .collage5 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage6 {
	width: 48%;
	float: left;
}
#topic-tab7 .collage6 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage7 {
	width: 48%;
	float: left;
	margin-right: 10px;
}
#topic-tab7 .collage7 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage8 {
	width: 48%;
	float: left;
}
#topic-tab7 .collage8 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage9 {
	width: 48%;
	float: left;
}
#topic-tab7 .collage9 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage10 {
	width: 48%;
	float: left;
    margin-right: 10px;
}
#topic-tab7 .collage10 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage11 {
	width: 48%;
	float: left;
}
#topic-tab7 .collage11 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage12 {
	width: 48%;
	float: left;
    margin-right: 10px;
}
#topic-tab7 .collage12 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage13 {
	width: 48%;
	float: left;
}
#topic-tab7 .collage13 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage14 {
	width: 48%;
	float: left;
    margin-right: 10px;
}
#topic-tab7 .collage14 .img {
	width: 100%;
	height: 155px;
	display: block;
}

/*三則文字LINK*/
#ad2-vw5 {
	margin-top: 10px;
}
#ad2-vw5 div {
	width: 99% !important;
	padding-top: 5px;
}
#ad2-vw5 a {
	font-size: 15px !important;
}

/*column list big*/
.column-list-big {
	width: 99.5% !important;
}
.column-list-sml {
	width: 99.5% !important;
}
.column-list-sml .img {
	width: 110px !important;
	height: 110px !important;
}
.column-list-sml .title {
	padding: 10px 15px 0 !important;
	width: 56% !important;
	font-size: 17px !important;
}
.column-list-sml .descri {
	margin: 3px 15px 0 !important;
	width: 56% !important;
	max-height: 45px;
	overflow: hidden;
}

/*column list three*/
.column-list-three {
	width: calc(100% - 12px) !important;
	height: 450px !important;
}

/*window area*/
#window-wrap .tab_container ul {
	height: 920px !important;
}

/*column area*/
#column-wrap .tab_container ul {
	height: 790px !important;
}

/*footer*/
footer {
	padding: 10px 5px !important;
}
footer .col {
	width: 32.5% !important;
}
#verywed-intro {
	display: none;
}
.footer-link .sub-col {
	width: 100% !important;
}
#copyright {
 font-size: 11px !important;
}
