﻿/*index container*/

/*三層肉選單*/
#mwt_fb_tab {
	display: none;
}

/*topic tab7*/
#company-wrap .tab_container ul {
    height: 405px !important;
}
#topic-tab7 .col1 {
	width: 100%;
	height: 450px;
	position: relative;
}
#topic-tab7 .collage1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(33.2% - 1px);
	height: 200px;
	margin-bottom: 5px;
}
#topic-tab7 .collage1 .img {
	width: 100%;
	height: 200px;
	display: block;
}
#topic-tab7 .collage2 {
	position: absolute;
	top: 0px;
	left: calc(33.2% + 2px);
	width: calc(16.6% - 2px);
	height: 200px;
	margin-bottom: 5px;
}
#topic-tab7 .collage2 .img {
	width: 100%;
	height: 200px;
	display: block;
}
#topic-tab7 .collage3 {
	position: absolute;
	top: 0px;
	left: calc(49.8% + 3px);
	width: calc(16.6% - 2px);
	height: 200px;
	margin-bottom: 5px;
}
#topic-tab7 .collage3 .img {
	width: 100%;
	height: 200px;
	display: block;
}
#topic-tab7 .collage4 {
	position: absolute;
	top: 0px;
	left: calc(66.4% + 4px);
	width: calc(16.6% - 2px);
	height: 200px;
	margin-bottom: 5px;
}
#topic-tab7 .collage4 .img {
	width: 100%;
	height: 200px;
	display: block;
}
#topic-tab7 .collage5 {
	position: absolute;
	top: 0px;
	left: calc(83% + 4px);
	width: calc(16.6% - 2px);
	height: 200px;
	margin-bottom: 5px;
}
#topic-tab7 .collage5 .img {
	width: 100%;
	height: 200px;
	display: block;
}
#topic-tab7 .collage6 {
	position: absolute;
	top: 203px;
	left: 0px;
	width: calc(16.6% - 2px);
	height: 200px;
	margin-bottom: 5px;
}
#topic-tab7 .collage6 .img {
	width: 100%;
	height: 200px;
	display: block;
}
#topic-tab7 .collage7 {
    position: absolute;
    top: 203px;
    left: calc(16.6% + 2px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage7 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage8 {
    position: absolute;
    top: 203px;
    left: calc(33.2% + 2px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage8 .img {
    background-position: -45px center !important;
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage9 {
    position: absolute;
    top: 203px;
    left: calc(49.8% + 3px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage9 .img {
    background-position: -55px center !important;
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage10 {
    position: absolute;
    top: 203px;
    left: calc(66.4% + 4px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage10 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage11 {
    position: absolute;
    top: 203px;
    left: calc(83% + 4px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage11 .img {
    width: 100%;
    height: 200px;
    display: block;
}
#topic-tab7 .collage12 {
    position: absolute;
    top: 203px;
    left: calc(83% + 4px);
    width: calc(16.6% - 2px);
    height: 200px;
    margin-bottom: 5px;
}
#topic-tab7 .collage12 .img {
    width: 100%;
    height: 200px;
    display: block;
}
/*header*/
#login-wrap {
 width: 30%;
}

.model-wrap {
    width: 11.7%;
    padding: 5px !important;
}
