﻿/*index container*/

/*header*/
#logo-menu-wrap {
	height: 75px;
}
#logo {
	margin-left: 75px;
}
#menu {
	display: none;
}
#login-wrap {
	width: 50%;
	float: right !important;
}

/*黃金廣告*/
#golden-ad {
	width: 100% !important;
	float: none !important;
    margin:0px auto 30px !important;
}
.swiper-container {
	height: auto !important;
}
.swiper-button-next {
        display: none !important;
}
.swiper-button-prev {
        display: none !important;
}


/*forum area*/
#forum-area {
    margin:0px auto 30px !important;
    float: none !important;
    width: 100% !important;
}
.model-wrap {
    width: 28%;
}

/*topic tab*/
#topic-tab1 .col1, #topic-tab1 .col2, #topic-tab1 .col3 {
	width: 99% !important;
	clear: both;
}
#topic-tab1 .col2 {
	padding-left: 0px !important;
}
#topic-tab1 .col3 {
	margin-left: 0px !important;
}
#topic-tab1 .collage3, #topic-tab1 .collage4, #topic-tab1 .collage5 {
	width: 100% !important;
}
#topic-tab2 .col1, #topic-tab2 .col2, #topic-tab2 .col3 {
	width: 99% !important;
	clear: both;
}
#topic-tab2 .col2 {
	padding-left: 0px !important;
}
#topic-tab2 .col3 {
	margin-left: 0px !important;
}
#topic-tab2 .collage3, #topic-tab2 .collage4 {
	width: 49.2% !important;
}
#topic-tab3 .col1, #topic-tab3 .col2, #topic-tab3 .col3 {
	width: 99% !important;
	clear: both;
}
#topic-tab4 .col1, #topic-tab4 .col2, #topic-tab4 .col3 {
	width: 100% !important;
	clear: both;
}
#topic-tab4 .col2 {
	padding-left: 0px !important;
}
#topic-tab4 .col3 {
	margin-left: 0px !important;
}
#topic-tab4 .collage6, #topic-tab4 .collage7 {
	width: 49.5% !important;
}
#topic-tab5 .col2 {
	padding-left: 0px !important;
}
#topic-tab5 .col3 {
	margin-left: 0px !important;
}
#topic-tab5 .col1, #topic-tab5 .col2, #topic-tab5 .col3 {
	width: 100% !important;
	clear: both;
}
#topic-tab5 .collage3, #topic-tab5 .collage4 {
	width: 49.5% !important;
}
#topic-tab6 .col1, #topic-tab6 .col2, #topic-tab6 .col3 {
	width: 100% !important;
	clear: both;
}
#topic-tab6 .collage4, #topic-tab6 .collage5, #topic-tab6 .collage6 {
	width: 32.7% !important;
}
#topic-wrap .tab_container ul {
	height: 1350px !important;
}

/*topic tab7*/
#company-wrap .collage-wrap .img {
    height: 185px !important;
}
#company-wrap .collage-wrap {
    margin: 2px !important;
}
#company-wrap .tab_container ul {
    height: 1135px !important;
}
#topic-tab7 .col1 {
	width: 100% !important;
	clear: both;
}
#topic-tab7 .collage1 {
    width: calc(98% + 4px);
	float: left;
	margin-right: 10px;
}
#topic-tab7 .collage1 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage2 {
	width: 49%;
	float: left;
}
#topic-tab7 .collage2 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage3 {
	width: 49%;
	float: left;
	margin-right: 10px;
}
#topic-tab7 .collage3 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage4 {
	width: 49%;
	float: left;
}
#topic-tab7 .collage4 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage5 {
	width: 49%;
	float: left;
	margin-right: 10px;
}
#topic-tab7 .collage5 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage6 {
	width: 49%;
	float: left;
}
#topic-tab7 .collage6 .img {
	width: 100%;
	height: 225px;
	display: block;
}
#topic-tab7 .collage7 {
	width: 49%;
	float: left;
	margin-right: 10px;
}
#topic-tab7 .collage7 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage8 {
	width: 49%;
	float: left;
}
#topic-tab7 .collage8 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage9 {
	width: 49%;
	float: left;
}
#topic-tab7 .collage9 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage10 {
	width: 49%;
	float: left;
    margin-right: 10px;
}
#topic-tab7 .collage10 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage11 {
	width: 49%;
	float: left;
}
#topic-tab7 .collage11 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage12 {
	width: 49%;
	float: left;
    margin-right: 10px;
}
#topic-tab7 .collage12 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage13 {
	width: 49%;
	float: left;
}
#topic-tab7 .collage13 .img {
	width: 100%;
	height: 155px;
	display: block;
}
#topic-tab7 .collage14 {
	width: 49%;
	float: left;
    margin-right: 10px;
}
#topic-tab7 .collage14 .img {
	width: 100%;
	height: 155px;
	display: block;
}

/*三則文字LINK*/
#ad2-vw5 div {
	width: 49% !important;
}
#ad2-vw5 .text-link3 {
	display: none;
}

/*column list big*/
.column-list-big {
	width: 99.5% !important;
}
.column-list-sml {
	width: 99.5% !important;
}

/*column list three*/
.column-list-three {
	width: calc(50% - 12px) !important;
	height: 450px !important;
}

/*window area*/
#window-wrap .tab_container ul {
	height: 460px !important;
}

/*column area*/
#column-wrap .tab_container ul {
	height: 820px !important;
}

/*footer*/
footer .col {
	width: 32.5% !important;
}
#verywed-intro {
	display: none;
}
