@charset "UTF-8";
/* 
   1        all.css
   2        top.css
   3        block.css
*/
/* vim: filetype=scss
*/
/* 1024px, 1240px, 1300px, 1440px */
#my-window {
  height: 100%;
  width: 100%;
  font-family: Tahoma,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  color: #000000; }

body {
  margin: 0;
  background: #FFFFFF; }

img, table {
  border: 0 none; }

a {
  text-decoration: underline;
  color: #311FD0; }

a:visited {
  color: #311FD0; }

a:hover {
  color: #FF7500; }

.aa {
  color: #311FD0; }

.aaa {
  text-decoration: none;
  color: #311FD0; }

h1 {
  font-size: 11pt;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0;
  color: #111111; }

h2 {
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0;
  color: #111111; }

h3 {
  font-size: 9pt;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0;
  color: #111111; }

.small1 {
  font-size: 8pt; }

.small2 {
  font-size: 7pt; }

.error {
  font-weight: bold;
  color: #FF0000; }

.bigbutton, .biggbutton {
  font-family: Tahoma,Arial,Helvetica,sans-serif;
  font-weight: bold;
  background: #F1F1F1;
  color: #030390; }

.bigbutton {
  font-size: 12pt; }

.biggbutton {
  font-size: 11pt; }

input, password, select, textarea, td .ff {
  font-family: "Courier New",Courier,mono;
  font-size: 9pt; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.taj {
  text-align: justify; }

hr.hr, hr {
  width: 100%;
  background-color: #808080;
  color: #808080;
  border: 0;
  height: 1px; }

hr.help {
  width: 100%;
  background-color: #9999ff;
  color: #9999ff;
  border: 0;
  height: 1px;
  margin: 4px 0 6px 0; }

.red {
  color: #FF0000; }

.cboth {
  clear: both; }

.nowrap {
  white-space: nowrap; }

/* 994px -> 980px main page size */
/* Красная строка */
.redline {
  width: 100%;
  border: solid 1px red;
  text-align: center;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0; }

table[class=redline] > tbody > tr > td {
  padding: 0; }

table[class*=td-pad0] td {
  padding: 0; }

.pad0td td {
  padding: 0; }

td.w240 {
  width: 240px;
  padding: 8px 3px 3px;
  vertical-align: top; }

td.w740s {
  padding: 0;
  vertical-align: top;
  width: 100%; }

h1.cat_teaser {
  margin: 0px 0 3px 5px; }

.w700.banner {
  width: 700px;
  height: 163px;
  overflow: hidden;
  margin: 0px auto 22px; }

.w980 {
  width: 980px; }

.w994 {
  width: 994px; }

.w978 {
  width: 978px; }

.w400 {
  width: 400px; }

.w700 {
  width: 700px; }

.w880 {
  width: 880px; }

.w600 {
  width: 600px;
  border-spacing: 0; }

.pad4.pad4 {
  padding: 4px 4px 3px; }

table.catmenu .ny.ny {
  color: #ff7500; }

img.w980x1 {
  width: 980px;
  height: 1px; }

.cart_cont {
  width: 0.39638;
  /* (994px - 600px)/994 */
  vertical-align: top;
  padding: 0; }

/* BB */
.wmain-left {
  padding: 0;
  vertical-align: top; }

.wmain-left h2 {
  margin-left: 18px;
  margin-right: 28px;
  line-height: 21px;
  font-size: 10pt;
  margin-bottom: 11px; }

h2.jc {
  margin: 5px 28px 0px 18px;
  line-height: 21px;
  font-size: 10pt; }

.wmain-news div {
  margin: 12px 0 4px;
  line-height: 12px;
  font-weight: bold; }

.wmain-right {
  width: 191px;
  vertical-align: top; }

.wmain-mission-text {
  padding: 3px; }

.wmain-banner {
  padding: 19px 3px 21px;
  margin: 10px auto 10px; }

.wmain-banner .w978 {
  margin: 10px auto 10px; }

.wmain-welcome {
  padding: 3px; }

.wmain-ctable td {
  vertical-align: top; }

.w100h15 {
  width: 100px;
  height: 15px; }

.w134 {
  width: 134px; }

.w140 {
  width: 140px; }

.w185 {
  width: 185px; }

.w740 {
  width: 740px; }

/* shop.pl */
.h7 {
  height: 7px; }

.h16 {
  height: 16px; }

.h30 {
  height: 30px; }

.w150h7 {
  width: 150px;
  height: 7px; }

.w100h1 {
  width: 100px;
  height: 1px; }

.w100h7 {
  width: 100px;
  height: 7px; }

.w100h5 {
  width: 100px;
  height: 5px; }

.w100h4 {
  width: 100px;
  height: 4px; }

.w184 {
  width: 184px; }

.w252 {
  width: 252px; }

.w560 {
  width: 560px; }

.w100p {
  width: 100%; }

.w50p {
  width: 50%; }

.w49p {
  width: 49%; }

.w2p {
  width: 2%; }

.pad0 {
  padding: 0; }

.pad3.pad3 {
  padding: 3px; }

/* --- shop.pl */
#t1r1 td.c1 {
  width: 300px;
  height: 64px;
  padding-left: 2px; }

/* #hat td{ padding: 0 } */
/* all.css from old design */
.search_form_slider {
  width: 150px;
  margin-left: 4px; }

.search_form_slider .ui-slider-range {
  background: #222; }

.search_form_slider .ui-slider-handle {
  border-color: #222; }

/* advanced filters */
div.f-outer-d {
  padding-left: 19px;
  position: relative; }

div.flabel {
  font-family: Arial;
  padding-bottom: 3px;
  font-size: 10pt; }

.revealed-switcher {
  text-decoration: none;
  padding-left: 10px; }

.revealed-i-closed {
  width: 150px;
  height: 1em;
  display: inline-block;
  position: relative;
  line-height: 1;
  background: transparent url(/_all/arrow_right.gif) no-repeat left 0.4em; }

.revealed-i-open {
  width: 150px;
  height: 1em;
  display: inline-block;
  /*	position: relative; */
  line-height: 1;
  background: transparent url(/_all/arrow_down.gif) no-repeat left 0.5em; }

/*.ui-accordion .ui-accordion-header { position: static } */
.ui-accordion h3.ui-accordion-header {
  position: relative; }

.revealed {
  display: none; }

div.revealed-ptype, div.revealed-rtype, div.revealed-otype, div.revealed-stype, div.revealed-ttype {
  padding-left: 7px; }

div.revealed-stype div {
  padding-left: 6px; }

.revealed-switcher span {
  color: #000;
  border-bottom: 1px dotted; }

.ui-accordion .ui-accordion-content {
  padding: 1em 0.8em 0.5em 1.0em; }

form.type1 .text {
  width: 160px; }

form.type1 input.names {
  width: 220px; }

form.type1 select.names {
  width: 220px; }

form.type1 select {
  border-spacing: 0; }

form.type1 #order_by1 {
  width: 150px; }

input[name=search] {
  width: 240px; }

.tablet {
  background-color: #EFEFFF;
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px; }

.tablet_sale {
  font-weight: bold;
  color: #D00049;
  background-color: #FFFFEF;
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px; }

/* good_list */
.list_border {
  padding: 3px 3px 3px 3px;
  border: 3px solid #EFEFFF; }

.padding0333 {
  padding: 0px 3px 3px 3px; }

.padding3bl {
  padding-bottom: 3px;
  padding-left: 3px; }

.padding3 {
  padding: 3px; }

.list_border_tr {
  border-top: 3px solid #EFEFFF;
  border-right: 3px solid #EFEFFF; }

.list_border_rb {
  border-right: 3px solid #EFEFFF;
  border-bottom: 3px solid #EFEFFF; }

.nolb {
  border-left: none 0px; }

.norb {
  border-right: none 0px; }

.bgcolor_2 {
  background-color: #EFEFFF; }

.underline {
  text-decoration: underline; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.none {
  text-decoration: none; }

.fontnormal {
  font-size: 9pt; }

.collapse {
  border-collapse: collapse; }

.h7px {
  height: 7px;
  line-height: 1px; }

.h5px {
  height: 5px;
  line-height: 1px; }

.h4px {
  height: 4px;
  line-height: 1px; }

.lh14px {
  line-height: 14px; }

.lh15px {
  line-height: 15px; }

.lh1px {
  line-height: 1px;
  font-size: 1px; }

td.lh1px {
  font-size: 1px; }

.lh2px {
  line-height: 2px;
  font-size: 2px; }

td.lh2px {
  font-size: 2px; }

.search_h1 {
  color: #111111;
  font-size: 11pt;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 5px;
  max-width: 1020px;
  overflow: hidden; }

.search_h2 {
  color: #111111;
  max-width: 1020px;
  overflow: hidden;
  margin-bottom: 5px; }

.d5px {
  height: 5px; }

.d4px {
  height: 4px; }

.tablet_sale a {
  color: #D00049; }

.extra_goods_info h4 {
  margin: 8px 0px 6px; }

.lsmall1 ul li {
  font-size: 12px;
  line-height: 12px; }

.lsmall1 li span {
  font-size: 8pt; }

.lsmall1 li div {
  font-size: 8pt;
  line-height: 12px; }

.leftpadding2 {
  padding-left: 2px; }

.h4px {
  height: 4px;
  line-height: 1px; }

.h6px {
  height: 6px;
  line-height: 1px; }

.pl8px {
  padding-left: 8px; }

.ma0 {
  margin-left: auto;
  margin-right: auto; }

.mal {
  text-align: left;
  margin-left: auto;
  margin-right: auto; }

.mar {
  text-align: right;
  margin-left: auto;
  margin-right: auto; }

.mac {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.maj {
  text-align: justify;
  margin-left: auto;
  margin-right: auto; }

.mp0 {
  margin: 0;
  padding: 0; }

.floatl {
  float: left; }

.floatr {
  float: right; }

form.quirks {
  margin-bottom: 12px; }

a.quirks {
  font-size: 9pt; }

p.quirks {
  margin-top: 0; }

h2.quirks {
  margin-bottom: 5px; }

td.vat {
  vertical-align: top; }

td.vab {
  vertical-align: bottom; }

td.vam {
  vertical-align: middle; }

body {
  margin: 0px; }

.floatl24 {
  float: left;
  margin: 2px 4px; }

.floatl25 {
  float: left;
  margin: 2px 5px; }

.static25 {
  margin: 2px 5px; }

.floatl28 {
  float: left;
  margin: 2px 8px; }

.float_person {
  float: left;
  margin: 2px 15px 2px 8px; }

.floatzip {
  float: left;
  margin: 2px 4px;
  border: none 0px;
  width: 38px;
  height: 38px; }

.img_norm {
  margin: 8px 8px; }

/* IE 6 compat */
.ui-state-active .ui-icon {
  background-image: url("/_all/jquery/images/ui-icons_454545_256x240.gif"); }

.ui-state-default .ui-icon {
  background-image: url("/_all/jquery/images/ui-icons_222222_256x240.gif"); }

a.myshop_logo_title {
  display: block;
  height: 8px;
  line-height: 10px;
  letter-spacing: 3.1px;
  color: #A9ADFF;
  text-decoration: none;
  font-size: 8px;
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 1px;
  font-family: Tahoma, Arial,Helvetica, sans-serif; }

a.myshop_logo_title:visited {
  color: #A9ADFF; }

img.myshop_logo_title {
  margin: 0px 0 0 0;
  /* margin-left: 0px */
  left: 2px;
  top: 10px;
  position: absolute; }

td.telephone_box {
  width: 400px;
  padding-right: 0px;
  vertical-align: top;
  text-align: right;
  line-height: 1px; }

div.telephone_n0 {
  height: 11px;
  line-height: 1px; }

div.telephone_n1 {
  padding-right: 132px;
  line-height: 14px;
  height: 14px;
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 0px; }

div.telephone_n2 {
  padding-right: 132px;
  line-height: 14px;
  height: 14px;
  font-size: 12px;
  font-weight: normal; }

div.telephone_n1, div.telephone_n2 {
  font-family: Arial, Helvetica, sans-serif; }

.telephone1 {
  color: #B5B3DA;
  white-space: nowrap; }

.telephone2 {
  color: #070605;
  white-space: nowrap; }

form.top_search {
  margin: 0px; }

td.top_find {
  border-radius: 0px 4px 4px 0px;
  background: #9999ff url(/_all/top/vezde-puzzle.gif) no-repeat;
  width: 73px;
  text-align: center; }

#search_submit {
  -webkit-appearance: none; }

td.top_vezde {
  text-align: center;
  vertical-align: top;
  background-color: #ddddff;
  width: 56px; }

.personal {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px; }

a#homepage {
  display: block;
  width: 143px; }

table.homepage {
  margin-top: 4px; }

td.homepage_menul {
  vertical-align: top;
  text-align: left; }

td.homepage_menuc {
  vertical-align: top;
  text-align: center; }

td.homepage_menuc.last {
  padding-right: 6px; }

div.busketc_hat, span.busketc_hat {
  display: block;
  text-align: center;
  height: 13px;
  width: 40px;
  background: url(/_all/top/busketc.gif) no-repeat 0px 0px; }

#hat td.cartl {
  padding-top: 4px;
  width: 81px; }

#hat td.cartr {
  padding-top: 4px;
  width: 140px; }

div.cartl div, div.cartr div {
  padding-top: 3px; }

td.cartc {
  width: 40px;
  text-align: center;
  background: url(/_all/top/busketc.gif) no-repeat 0px -14px;
  height: 40px; }

#hat td.cartc div {
  text-align: center;
  padding-left: 0px;
  line-height: 20px;
  padding-top: 7px; }

/* all suggest without borders */
.suggest a {
  color: #311fd0;
  text-decoration: none; }

.suggest a:hover {
  color: #ff7500;
  text-decoration: underline; }

a.personal:hover {
  color: #000; }

a.new_underline {
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: #333; }

a.new_underline {
  border-bottom: 1px solid  #777; }

a.new_underline:visited {
  color: #333; }

a.personal {
  display: block; }

a.new_underline.orange {
  color: #ff7500; }

a.new_underline.orange {
  border-bottom-color: #ff7500; }

a.new_dotted {
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 1px dotted #777;
  text-decoration: none;
  color: #333; }

a.new_dotted:visited {
  color: #333; }

.new_dotted {
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 1px dotted #777;
  text-decoration: none;
  color: #333; }

td.homepage_s {
  font-size: 1px;
  line-height: 1px;
  width: 7px; }

td.homepage_m {
  font-size: 1px;
  line-height: 1px;
  width: 24px; }

td.checkbox {
  width: 14px;
  text-align: left;
  height: 16px;
  line-height: 1px; }

td.checkbox input[type=checkbox] {
  margin: 3px 2px 0px; }

td.top_category {
  text-align: left;
  width: 162px;
  padding-right: 4px; }

td.top_advs {
  text-align: right;
  width: 162px;
  padding-right: 4px; }

div.top_search {
  background-color: #F2F0ED;
  padding: 4px 4px 2px;
  border-radius: 0px; }

#top_search {
  width: 100%;
  min-width: 600px; }

a.asearch_link, a.asearch_link:visited {
  color: #333; }

.f14_6 {
  border: 0px none;
  border-radius: 5px 0px 0px 5px;
  padding: 0 4px;
  margin: 0px;
  height: 23px;
  background-color: white; }

#f14_6 {
  font-size: 12px;
  font-family: Tahoma, Arial,Helvetica, sans-serif;
  border: 0px none;
  margin: 0px;
  height: 23px;
  padding: 0;
  outline: none; }

#search_submit {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #9999ff;
  margin: 0px;
  height: 23px;
  padding: 0px; }

#search_submit:focus {
  outline: blue dotted 1px; }

table.cart_top {
  float: right; }

div.cartl {
  text-align: center;
  vertical-align: top;
  background: url(/_all/top/busketl-82x23.gif) no-repeat right top;
  height: 23px;
  margin-right: 10px;
  padding-right: 6px; }

div.cartr {
  text-align: center;
  vertical-align: top;
  background: url(/_all/top/busketr-126x23.gif) no-repeat left top;
  height: 23px;
  padding-left: 0px;
  margin-left: 8px; }

a.cart1, a.cart2 {
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif; }

a.cart1:visited, a.cart2:visited {
  color: #000; }

a.cart1, a.cart1 {
  font-weight: bold;
  font-size: 14px; }

a.cart2 {
  font-size: 16px; }

table.myshadow {
  border: 0px none; }

td#popup_p1, td#popup_p2, td#popup_p3 {
  text-align: left;
  vertical-align: top;
  padding-bottom: 4px;
  padding-top: 4px; }

td#popup_p1 div.line, td#popup_p2 div.line, td#popup_p3 div.line {
  line-height: 13px;
  text-indent: 0px;
  margin-bottom: 6px; }

td#popup_p1 {
  padding-left: 8px;
  padding-right: 6px; }

td#popup_p2 {
  padding-left: 6px;
  padding-right: 6px; }

td#popup_p3 {
  padding-left: 6px; }

div.catmenu_container {
  margin: 6px auto 0;
  width: 100%;
  position: relative; }

/* wmain --- size */
table.catmenu0 {
  width: 100%; }

table.catmenu1 {
  position: absolute;
  right: 0;
  top: 30px;
  display: none;
  background: white;
  z-index: 900; }

table.catmenu a {
  color: #202025;
  text-decoration: none;
  font-weight: bold; }

table.catmenu a:visited {
  color: #202025; }

table.catmenu td.sel a, table.catmenu td.sel a:visited {
  color: #fff; }

table.catmenu td.top_sel a, table.catmenu td.top_sel a:visited {
  color: #fff; }

table.catmenu a.orange, table.catmenu a.orange:visited {
  color: #ff7500; }

table.catmenu td {
  height: 29px;
  background: #DDDDFF url(/_all/top/bg-blob1.gif) no-repeat;
  color: #202025;
  padding: 0 2px 0 16px;
  text-transform: uppercase;
  font-size: 11px; }

table.catmenu td.sub_last {
  padding-left: 14px;
  padding-right: 4px; }

table.catmenu td.sub_0 {
  background-image: none;
  padding-left: 9px; }

/* Полукруг на еще внизу --- не сочетается с пробелом между менюшками */
/* .catmenu td.bottom_sel  { background: #ddddff url(/_all/top/popup-pip.gif) no-repeat 15px 0} */
.catmenu .sel {
  background: #9999ff url(/_all/top/bg-blob2.gif) no-repeat;
  color: #fff; }

.catmenu .asel {
  background: #DDDDFF url(/_all/top/bg-blob3.gif) no-repeat;
  color: #202025; }

.mi0 .sub_last {
  background: #DDDDFF url(/_all/top/bg-blob3.gif) no-repeat;
  color: #202025; }

.mi1 .sub_last {
  background: #DDDDFF url(/_all/top/bg-blob3.gif) no-repeat;
  color: #202025; }

table.catmenu td.top_sel {
  background: #9999ff url(/_all/top/bg-blob2.gif) no-repeat;
  color: #fff; }

table.popup {
  display: none;
  position: absolute;
  border: 0px none #B5B5FF;
  background-color: #fff;
  max-width: 850px;
  background: #fff 100% 0%  no-repeat;
  z-index: 1000;
  border-spacing: 0; }

.popup td {
  padding: 0; }

table.popup tr.pip td {
  background: url(/_all/top/popup-pip.gif) 0 0 no-repeat; }

img.popup_img {
  margin-top: 8px;
  width: 200px;
  height: 200px; }

table.popup_img {
  height: 205px;
  width: 200px; }

.popup_p1, .popup_p2 {
  padding-top: 4px; }

ul#ui-id-1, .myshadow {
  box-shadow: 0 0 0 transparent, 3px 3px 2px rgba(122, 122, 122, 0.5), 0px 3px 2px rgba(122, 122, 122, 0.5), -3px 3px 2px rgba(122, 122, 122, 0.5);
  border: none 0px; }

ul#ui-id-1 {
  border-top: 1px solid #f2f0ed; }

/* ul#ui-id-1  .ui-menu-item { border: none 0px; background-color: white; font-size: 12px; color: #311fd0 } */
table.menu_popup2 {
  display: none;
  position: absolute;
  border: 0px none #B5B5FF;
  width: 124px;
  background-color: white;
  /* background-color: #dadaff */
  background: #fff url(/_all/top/vezde-pip.gif) 23px 0 no-repeat;
  padding-top: 4px;
  padding: 4px 0 0 0;
  z-index: 1000; }

table.menu_popup2 td a.item2 {
  display: block;
  text-decoration: none;
  font-size: 12px; }

table.menu_popup3 {
  display: none;
  position: absolute;
  border: 0px none #B5B5FF;
  background-color: white;
  /* background-color: #dadaff */ }

table.menu_popup3 a.item2 {
  display: block;
  font-size: 12px; }

table.menu_popup3 td {
  padding: 0 4px;
  text-align: left; }

div.cmode_v {
  width: 14px;
  height: 16px;
  background: url(/_all/top/vvv-14.gif) no-repeat bottom right; }

table.menu_popup {
  display: none;
  position: absolute;
  border: 0px none #B5B5FF;
  padding-top: 4px;
  background-color: #fff;
  z-index: 1000; }

table.menu_popup a.item, table.menu_popup td a.item {
  color: #000;
  text-decoration: underline;
  cursor: pointer; }

table.menu_popup a.sel {
  display: none; }

span#menu_title {
  text-align: center; }

#menu_selector {
  margin-top: 4px;
  cursor: pointer;
  padding: 0 4px 0 0px;
  text-align: center; }

#menu_selector div {
  background: url(/_all/top/vvv-14.gif) no-repeat bottom right;
  padding-right: 8px;
  padding: 0 10px 0 2px; }

/* removing quirks */
h1 {
  margin-bottom: 5px; }

div.br2 {
  height: 15px; }

div.br3 {
  height: 30px; }

/* top bottom */
.top-bottom {
  padding-top: 30px;
  text-align: center;
  /* IE 6 only */ }

/* wmain size */
div.copyright_line {
  width: 100%;
  padding: 5px 0 8px;
  background-color: #9999ff;
  text-align: center;
  color: #FFFFFF;
  font-size: 11px; }

div.copyright_line a {
  color: #FFFFFF;
  font-size: 11px; }

/* bottom counter */
/* wmain size */
table.bottom-counter {
  width: 100%;
  border-spacing: 0; }

.bottom-counter table.t0 {
  vertical-align: top;
  margin: 0 auto;
  border-spacing: 0;
  border: 0px none; }

.bottom-counter .t0 td {
  vertical-align: top;
  text-align: left;
  padding: 0px 12px 7px;
  font-size: 11px;
  /* small1 */
  line-height: 16px; }

.bottom-counter .r0 table.t0 {
  padding: 0;
  border-spacing: 0; }

.bottom-counter .r0 {
  padding: 0; }

.bottom-counter td.r1 {
  padding: 3px 0; }

.bottom-counter td.ricon1, .bottom-counter td.ricon2 {
  padding-right: 20px; }

.bottom-counter td.ricon3 {
  padding-right: 12px; }

/* */
.bottom-counter table.r1partner {
  margin: 0 auto;
  border: 1px solid #000000;
  border-spacing: 1px; }

.bottom-counter .r1partner td {
  padding: 3px; }

.bottom-counter .r1partner .c_1 {
  padding-top: 4px; }

/* hat */
table#hat {
  position: relative;
  margin: 0 auto;
  width: 100%; }

/* wmain size */
td#popup_img {
  width: 200px;
  height: 205px; }

.top_middle {
  text-align: left;
  margin: 10px auto 0;
  border-spacing: 0;
  border: 0;
  width: 100%; }

/* from MyHTML_user */
.color_1 {
  background-color: #E5E5FF; }

.color_2 {
  background-color: #EFEFFF; }

.color_3 {
  background-color: #F7F7FF; }

a.bh_a {
  font-size: 12px;
  font-weight: normal; }

a.bh_h, span.bh_h {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 16px; }

a.bh_h:visited {
  color: black; }

a.bh_h:active {
  color: black; }

a.bh_h:hover {
  color: black;
  text-decoration: underline; }

.jcarousel-wrapper {
  margin: 0px auto;
  margin: 0px auto 22px;
  position: relative;
  padding: 0 0px 0 20px; }

.jcarousel-wrapper.anons {
  padding: 0;
  margin: 3px 0 6px; }

.jcarousel.last {
  margin-bottom: 0px auto 18px; }

/** Carousel **/
.jcarousel {
  position: relative;
  overflow: hidden;
  margin: 0 auto 0 0;
  border: solid 3px #efefff; }

.anons .jcarousel {
  position: relative;
  overflow: hidden;
  margin: 0 auto 0 0;
  border: solid 1px blue;
  border: none 0px; }

/*  185, 151, 246, 167 */
.jcarousel.p1 {
  width: 752px;
  /* width : 151 * $i(5-7) - 3 */ }

.jcarousel.p2 {
  width: 665px;
  /* width : 167 * $i(4-6) -3 */ }

@media screen and (min-width: 1140px) {
  /* 185 + 151 * $i + 3 + 40  | i = 6 */
  .jcarousel.p1 {
    width: 903px; } }
@media screen and (min-width: 1291px) {
  /* 185 + 151 * $i + 3 + 40  | i = 7 */
  .jcarousel.p1 {
    width: 1054px; } }
@media screen and (min-width: 1127px) {
  /* 246 + 167 * $i + 3 + 40 + 3 | i = 5 */
  .jcarousel.p2 {
    width: 832px; } }
@media screen and (min-width: 1294px) {
  /* 246 + 167 * $i + 3 + 40 + 3 | i = 6 */
  .jcarousel.p2 {
    width: 999px; } }
@media screen and (min-width: 1344px) {
  .anons .jcarousel-control-prev {
    left: -30px; } }
.hb2_i0 {
  height: 300px; }

/* блоки анонсы */
.jcarousel.anons3 {
  width: 960px;
  /* width : 167 * $i(4-6) -3 */
  height: 65px; }
  .jcarousel.anons3 .hb2_i3 {
    font-style: normal;
    line-height: 12px;
    overflow: hidden;
    height: 49px; }
    .jcarousel.anons3 .hb2_i3 a {
      font-weight: bold;
      color: #333; }
  .jcarousel.anons3 .hb2_i0 {
    width: 312px; }

@media screen and (min-width: 1240px) {
  /* 185 + 151 * $i + 3 + 40  | i = 6 */
  .jcarousel.anons3 {
    width: 1240px;
    /* width : 167 * $i(4-6) -3 */ } }
.jcarousel.anons1 {
  width: 960px;
  /* width : 167 * $i(4-6) -3 */ }
  .jcarousel.anons1 .hb2_i3 {
    font-style: normal; }
  .jcarousel.anons1 .hb2_i0 {
    width: 189px; }

.jcarousel.anons2 {
  width: 960px; }
  .jcarousel.anons2 .hb2_i3 {
    font-style: normal; }
  .jcarousel.anons2 .hb2_i0 {
    width: 236px; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  float: left; }

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(/_all/block/arrow_3.gif) no-repeat;
  display: block;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3); }

.anons .jcarousel-control-prev, .anons .jcarousel-control-next {
  top: 15px;
  background-color: white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7); }

.normal .jcarousel-control-prev, .normal .jcarousel-control-next {
  top: 90px; }

.jcarousel-control-next {
  background-image: url(/_all/block/arrow_1.gif); }

.jcarousel-control-prev {
  left: 3px; }

.jcarousel-control-next {
  right: 6px; }

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .3;
  cursor: default; }

.anons .jcarousel-control-prev.inactive,
.anons .jcarousel-control-next.inactive {
  opacity: 0; }

/* Горизонтальные блоки v0 (общая часть)*/
.hb2_i2, .hb2_i3 {
  padding: 0 3px;
  line-height: 14px; }

.hb_text a {
  text-decoration: none;
  color: black; }

.hb_text a:visited, a.hb2_text:hover {
  text-decoration: underline; }

.hb_text a:hover {
  color: #ff7500; }

/* Ссылки в анонанонсах  */
.anons3 .hb2_i3 a:hover {
  color: #ff7500; }

/* Горизонтальные блоки v1 */
.hb_person, .hb_producer {
  font-style: italic;
  color: black;
  font-size: 7pt; }

a.hb_producer {
  font-size: 7pt; }

a.hb_title {
  font-size: 8pt; }

/* Горизонтальные блоки v2 */
.hb2_i2 {
  font-size: 12px;
  font-weight: bold; }

.hb2_i3 {
  font-size: 10.6667px;
  line-height: 12px; }

.p1, .p2 .hb2_i3 {
  font-style: italic; }

.jc_action {
  text-align: center; }
  .jc_action img {
    border-radius: 50%;
    /*-webkit-border-radius: 50%; -moz-border-radius: 50%; */
    border: 5px solid #ff7500;
    box-sizing: content-box;
    /*-webkit-box-sizing: content-box; -moz-box-sizing: content-box; */
    margin-left: -5px;
    margin-top: 2px; }
  .jc_action .hb2_i0 {
    background-color: #EFEFFF;
    /* to fill all background */
    height: 300px; }
  .jc_action .hb2_i3 {
    margin-top: 2px; }

.p2 .hb2_i0 {
  width: 167px; }

.p1 .hb2_i0 {
  width: 151px; }

.jc_action a {
  text-decoration: none;
  color: black; }

a .hb2_i2:hover {
  color: #ff7500; }

.jc_producer img {
  border-color: #99F; }

.jc_custom img {
  border-color: #D0001D; }

.buy_buttons {
  min-height: 30px; }
  .buy_buttons form {
    margin: 0; }
  .buy_buttons input[type=text] {
    font-size: 11pt; }
  .buy_buttons input[name=to_cart] {
    width: 140px;
    padding: 2px 0;
    margin: 2px 4px;
    color: white;
    background-color: #9999ff;
    cursor: pointer; }
  .buy_buttons input[name=to_order] {
    width: 140px;
    padding: 2px 0;
    margin: 2px 4px;
    color: white;
    background-color: #ff7500;
    /*
    	border-color:  black;
    */
    cursor: pointer; }
  .buy_buttons a.delay_good {
    display: none; }

.custom_producers img {
  border: 5px solid #99f;
  border-radius: 50%;
  box-sizing: content-box;
  margin-left: -5px;
  margin-top: 2px; }

.custom_producers td {
  width: 16.5%;
  padding: 0; }

.custom_producers .item {
  width: 210px;
  height: 200px;
  float: left; }

div.custom_producers {
  vertical-align: top;
  margin: 0 auto;
  width: 1080; }

.custom_producers .hb2_i3 {
  font-style: italic; }

@media screen and (max-width: 1099px) {
  div.custom_producers {
    width: 100%; }

  .custom_producers .item {
    width: 19.5%; } }
@media screen and (min-width: 1100px) {
  div.custom_producers {
    width: 100%; }

  .custom_producers .item {
    width: 19.5%; } }
@media screen and (min-width: 1270px) {
  div.custom_producers {
    width: 100%; }

  .custom_producers .item {
    width: 16.6%; } }
/* vim: ts=4 shiftwidth=4 softtabstop=4
 * space2tab: ok
 */
.w100bsp0 {
  width: 100%;
  border-spacing: 0; }

.bs0 {
  border-spacing: 0; }

.cscp0 {
  border-spacing: 0; }

.cscp0 > tbody > tr > td {
  padding: 0; }

.wmain {
  border-spacing: 0; }

.catmenu {
  border-spacing: 0; }

[id=hat] {
  border-spacing: 0; }

[id=hat] > tbody > tr > td {
  padding: 0; }

[id=top_search] {
  border-spacing: 0; }

[id=top_search] > tbody > tr > td {
  padding: 0; }

/* vim: filetype=scss 
space2tab: ok
 */
ul.unslide {
  margin: 0;
  padding: 0;
  list-style: none; }

ul.unslide > li {
  float: left; }

.banner form p {
  margin: 0; }

/*.banner li { list-style: none; } */
.banner object {
  display: block; }

.banner {
  position: relative;
  overflow: auto;
  display: none; }

div.banner {
  overflow: hidden; }

.banner h4 {
  margin: 0; }

.banner .dots {
  position: absolute;
  left: 450px;
  right: 0;
  bottom: 20px; }

.banner .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .9;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s; }

.banner .dots li.active {
  background: #fff;
  opacity: 1; }

.banner .pagination {
  bottom: 0;
  position: absolute;
  visibility: hidden;
  padding: 4px 4px 11px;
  height: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  text-align: center;
  margin: 0 auto; }

.banner .pagination a {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  background: none repeat scroll 0 0 #fff;
  border-radius: 14px;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  margin-right: 2px;
  min-width: 14px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  color: black;
  opacity: 1; }

.banner .pagination a.active {
  background: none repeat scroll 0 0 #ff7500;
  color: #fff;
  opacity: 1; }

div.h2.floatl {
  color: #111111;
  font-size: 11pt;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 1px 0px 1px; }

div.h2.floatr {
  padding: 0 2px 4px 2px; }

h1.mycart {
  margin: 0; }

.tr1 .col3 {
  height: 83px; }

.cart_buttons {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px; }

.cart_c {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0px; }
  .cart_c .col3 {
    width: 80px;
    vertical-align: middle;
    padding: 0; }
  .cart_c img {
    margin: 0 auto; }
  .cart_c .col7 {
    text-align: right; }
  .cart_c .col9 {
    text-align: center; }

.tr00 td {
  padding: 0; }
.tr00 .col1 {
  padding: 0 0 7px 0; }
.tr00 .col2 {
  text-align: right;
  vertical-align: bottom;
  padding: 0 2px 4px; }

tr.tr0 td {
  text-align: center;
  padding: 3px;
  border: 2px solid #efefff;
  font-weight: bold; }
tr.tr0 .col4, tr.tr0 .col5, tr.tr0 .col7, tr.tr0 .col8 {
  white-space: nowrap; }
tr.tr0 .col6 {
  white-space: nowrap; }
tr.tr0 .col12 {
  width: 48px; }
tr.tr0 img {
  margin-left: 4px;
  margin-bottom: -4px;
  width: 10px;
  height: 17px; }
tr.tr0 img.help2 {
  width: 10px;
  height: 10px;
  margin: 0; }

tr.tr1 td {
  padding: 3px;
  border: 2px solid #efefff;
  text-align: center; }
tr.tr1 .col4 {
  text-align: left; }
tr.tr1 .col5 {
  text-align: right; }
tr.tr1 .col6 {
  white-space: nowrap;
  text-align: right; }

tr.tre1 td {
  padding: 4px 3px 3px;
  text-align: center;
  border: 2px solid #efefff;
  background-color: #efefff; }
tr.tre1 .col1 {
  text-align: left;
  height: 22px;
  vertical-align: middle; }
tr.tre1 .col2 {
  padding: 4px 1px 3px; }
tr.tre1 .col3, tr.tre1 .col4, tr.tre1 .col5 {
  text-align: right; }

tr.tre2 td {
  padding: 4px 3px 3px;
  border: none; }
tr.tre2 .col1, tr.tre2 .col2 {
  text-align: right;
  font-size: 14pt;
  margin-bottom: 12px; }
tr.tre2 .col2 {
  padding: 4px 0px 3px; }

table.mysave {
  margin-bottom: 30px; }

a.selected_remove, a.selected_save {
  display: none; }

.cart_buttons input[name=to_main1], .cart_buttons input[name=to_main2] {
  background-color: #9999ff;
  color: white;
  cursor: pointer;
  margin: 0px 2px 0px 0px;
  padding: 3px 0;
  line-height: 18px; }

.cart_buttons input[name=to_order1], .cart_buttons input[name=to_order2] {
  background-color: #ff7500;
  color: white;
  cursor: pointer;
  margin: 0px 2px 0px 0px;
  padding: 3px 0;
  line-height: 18px; }

.cart_buttons input[name=to_main2] {
  margin: 0px 0px 0px 2px; }

.cart_buttons input[name=to_order2] {
  margin: 0px -2px 0px 0px; }

input[name=to_cart] {
  padding-left: 0;
  padding-right: 0; }

.li_136 {
  width: 136px;
  vertical-align: top;
  border: 3px solid #efefff;
  padding: 3px;
  border-right: 0 none; }

.w716 {
  width: 716px;
  padding: 3px 3px 3px 8px; }

.li_wright {
  padding: 3px 3px 3px 4px; }

.w256 {
  width: 256px;
  padding: 3px; }

.h10px {
  height: 10px; }

@media screen and (min-width: 1221px) {
  div.lista, div.listb {
    width: 49%;
    width: 49.5%;
    float: left;
    min-width: 465px; }

  div.listbb {
    padding-left: 3px; }

  div.listaa {
    padding-right: 3px; }

  .listi_long {
    display: none; } }
@media screen and (max-width: 1220px) {
  .listi_short {
    display: none; }

  div.lista, div.listb, div.listpager {
    width: 716px; } }
div.listpager {
  clear: both; }

.pad35 {
  padding: 3px 5px; }

td.pad_teaser_h1.pad_teaser_h1 {
  padding: 0 5px 18px; }

.w264 {
  width: 264px; }

.w416 {
  width: 416px; }

.h370 {
  height: 370px; }

.w330h7 {
  width: 330px;
  height: 7px; }

.hidden {
  display: none; }

.month_select {
  text-align: center;
  font-weight: bold;
  font-size: 11pt;
  background-color: #9999ff;
  color: white;
  border-radius: 5px;
  font-size: 9pt;
  padding: 2px; }

.month_select.inactive {
  background-color: #f2f0ed;
  color: #333; }

.month_select.pointer {
  cursor: pointer;
  text-decoration: underline; }

.bsp30px {
  border-spacing: 30px; }

.bsp20px {
  border-spacing: 20px 0; }

.bsp10px {
  border-spacing: 10px; }

.bsp0 {
  border-spacing: 0; }

.w800 {
  width: 800px; }

.w800x {
  width: 100%; }

.w49p {
  width: 49%; }

.wmain {
  width: 100%;
  max-width: 1296px; }

.media_extra {
  display: none; }

/* file = file/menu-offset.pl                                          ( 130 | 44 ) == (18+48, 18+46 | 44) */
/* [0, 50, 153, 251, 309, 385, 443, 525, 613, 658, 753, 843, 918, 974, 1042, 1100, 1150, 1216, 1280, 1324] */
/* [0, 50, 153, 251, 309, 385, 443, 525, 613, 658, 753, 843, 918, 974, 1042, 1100, 1150, 1216, 1280, 1324] */
/* [0, 0,    0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,1042, 1104, 1154, 1220, 1283, 1326]       */
/* [970,1026,1094,1152,1202,1288] */
@media screen and (min-width: 1052px) {
  .media_extra.m1 {
    display: table-cell; }

  .catmenu1 .m1 {
    display: none; }

  .catmenu1 .m2 {
    background-image: none;
    padding-left: 4px; }

  .mi0 .sub_last {
    background-image: url(/_all/top/bg-blob1.gif); }

  .mi1 .sub_last {
    background: #DDDDFF url(/_all/top/bg-blob3.gif) no-repeat;
    color: #202025; } }
@media screen and (min-width: 1122px) {
  .media_extra.m2 {
    display: table-cell; }

  .catmenu1 .m2 {
    display: none; }

  .catmenu1 .m3 {
    background-image: none;
    padding-left: 4px; }

  .mi1 .sub_last {
    background-image: url(/_all/top/bg-blob1.gif); }

  .mi2 .sub_last {
    background: #DDDDFF url(/_all/top/bg-blob3.gif) no-repeat;
    color: #202025; } }
@media screen and (min-width: 1182px) {
  .media_extra.m3 {
    display: table-cell; }

  .catmenu1 .m3 {
    display: none; }

  .catmenu1 .m4 {
    background-image: none;
    padding-left: 4px; }

  .mi2 .sub_last {
    background-image: url(/_all/top/bg-blob1.gif); }

  .mi3 .sub_last {
    background: #DDDDFF url(/_all/top/bg-blob3.gif) no-repeat;
    color: #202025; } }
/* 
@media screen and (min-width: 1232px) { // 4
    .media_extra.m4 {display: table-cell}
    .catmenu1 .m4   {display:none}
    .catmenu1 .m5 {background-image:none;padding-left:4px}
    .mi3 .sub_last  {background-image:url(/_all/top/bg-blob1.gif)}
    .mi4 .sub_last  {background: #DDDDFF url(/_all/top/bg-blob3.gif) no-repeat; color:#202025} 
}

@media screen and (min-width: 1300px) { // 5
    .media_extra.m5 {display: table-cell}
    .media_extra.m6 {display: table-cell}
    .catmenu1 .m5 {display:none}
    .catmenu1 .m6 {display:none}
    .mi5 .sub_last {background-image:url(/_all/top/bg-blob1.gif)}
    .mi6 .sub_last {background: #DDDDFF url(/_all/top/bg-blob3.gif) no-repeat; color:#202025} 
    .sub_last.m7 { display: none; } // Кнопка еще
} 
*/

/*# sourceMappingURL=ribbon.css.map */
