@charset "utf-8";
body {margin: 0;background-color: #f0f0f0;font:12px/18px "Hiragino Sans GB","Microsoft Yahei",sans-serif;color:#333333;line-height:1.4;-webkit-font-smoothing: antialiased;}
ul, li ,ol{list-style: none;padding-left:0;list-style-type:none;}
h1,h2,h3,h4,h5,h6,p,ul,ol,form{margin: 0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
img {border: 0;}
input,img{vertical-align: middle;}
a {text-decoration: none;color: #4c4c4c;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a:hover{text-decoration: none; }
a,area {blr:expression(this.onFocus=this.blur()) }
:focus {outline: none; }
.clearfix {zoom: 1;}
.clearfix:after {content: " ";display: block;clear: both;height: 0;}
button { border:0 none; cursor:pointer;}
.verticalAlign{vertical-align:middle; display:inline-block; height:100%; width:1px; margin-left:-1px;}
/*.hdfloat {position: fixed !important;left: 0;top: 0;z-index: 10000;margin:0 !important;}*/
.hdfloat {position: fixed !important;left: 0;top: 0;z-index: 10000;margin:0 !important;background-color: #ffffff;border-bottom:1px solid #cdcdcd;/*padding-left: 30px;*/}
.hdfloat .head_rt{right:0 !important;}
.hdfloat .slider{top:70px !important;}
/*
.hdfloat .head_bd{margin:0 0 0 30px !important;}
*/
.w1000{width:1000px;}
.w1280{width:1280px;}
.bdwd{width:1220px; height:auto;}
.bdn{border:0 !important;}
.bg_wt{background-color: #ffffff;}


.back-top {width: 34px;height:34px;display:none;cursor: pointer;position: fixed;bottom: 112px;right: 50% !important;margin-right: -638px;z-index: 999;background: url(../img/totop34.png) no-repeat 0 -34px;background-size:34px auto!important;outline: 0;}
.back-top:hover {background-position: 0 0;}
.ctback-top {width: 34px;height:34px;display:none;cursor: pointer;position: fixed;bottom: 74px;left: 50% !important;margin-left: -548px;z-index: 999;background: url(../img/totop34.png) no-repeat 1px -34px;background-size:34px auto!important;outline: 0;}
.ctback-top:hover {background-position: 1px 0;}
div.jGrowl{z-index:9999;color:#fff;font-size:12px}
#error_p{background-color:#fff;position:relative}
.t_404{position:absolute;top:0}
.m_404{position:absolute;top:50%;margin-top:-95px}
.b_404{position:absolute;bottom:0}
div.ie6{position:absolute}
div.ie6.top-right{right:auto;bottom:auto;left:expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )}
div.ie6.top-left{left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )}
div.ie6.bottom-right{left:expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )}
div.ie6.bottom-left{left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )}
div.ie6.center{left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );width:100%}
div.jGrowl{position:absolute}
body>div.jGrowl{position:fixed}
div.jGrowl.top-left{left:100px;top:0}
div.jGrowl.top-right{right:800px;top:0}
div.jGrowl.bottom-left{left:0;bottom:0}
div.jGrowl.bottom-right{right:0;bottom:0}
div.jGrowl.center{top:0;width:50%;left:25%}
div.center div.jGrowl-closer,div.center div.jGrowl-notification{margin-left:auto;margin-right:auto}
div.jGrowl div.jGrowl-closer,div.jGrowl div.jGrowl-notification{background-color:#000;opacity:.85;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";filter:alpha(Opacity=85);zoom:1;width:235px;padding:10px;margin-top:5px;margin-bottom:5px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:1em;text-align:left;display:none;-moz-border-radius:5px;-webkit-border-radius:5px}
div.jGrowl div.jGrowl-notification{min-height:40px}
div.jGrowl div.jGrowl-closer,div.jGrowl div.jGrowl-notification{margin:10px}
div.jGrowl div.jGrowl-notification div.jGrowl-header{font-weight:700;font-size:.85em}
div.jGrowl div.jGrowl-notification div.jGrowl-close{z-index:99;float:right;font-weight:700;font-size:1em;cursor:pointer}
div.jGrowl div.jGrowl-closer{padding-top:4px;padding-bottom:4px;cursor:pointer;font-size:.9em;font-weight:700;text-align:center}
@media print{div.jGrowl{display:none}
}

.v3-pt001{ padding-top: 10px; }