#pagesurvey-trgt {
	background: #d0e1cf;
	padding: 0 0 10px 0;
	margin: 0 auto 0 auto;
	max-width: 855px;
}

#pagesurvey-trgt legend {
    margin: 0 0 0 0;
    float: left;
}

#pagesurvey-hdr {
	font-size: 140%;
	display: block;
	color: #fff;
	padding: 12px 0 15px 65px;
	margin: 0 auto 0 auto;
	max-width: 855px;
	height: auto;
	background: #366334 url('../images/Page_Survey_Invite_Icon.png') left 20px top 12px no-repeat;
}

#pagesurvey-ombnum {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	background: #d0e1cf;
	text-align: center;
	max-width: 855px;
	font-size: 90%;
}

#pagesurvey-trgt a:focus,
#pagesurvey-trgt input:focus,
#pagesurvey-trgt button:focus,
#pagesurvey-trgt textarea:focus {
  outline: 3px solid #EDB864;
}
#pagesurvey-trgt #container{
  margin: 55px auto 0;
}
#pagesurvey-trgt #container #intro {
  width: 500px;
  margin: auto;
  text-align: center;
}

#pagesurvey-trgt fieldset{
  border:none;
}

#pagesurvey-trgt a img {
  border: 0 none;
}

#pagesurvey-trgt textarea {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%;
}

span.vocradio {
	display: table;
	padding: 0 0 0 10px;
	float: left;
}

span.voccheckbox {
	display: inline-table;
	padding: 5px 0 0 0;
}

.vocradio input[type='radio'] {
	-webkit-appearance: radio;
	width: 17px;
	height: 17px;
	display: table-cell;
}

.vocradio input[type='radio'] + label,
.voccheckbox input[type='checkbox'] + label {
	vertical-align: middle;
	display: table-cell;
	padding: 0 0 0 5px;
}

.voccheckbox input[type='checkbox'] {
	-webkit-appearance: checkbox;
	width: 17px;
	height: 17px;
	display: table-cell;
}

#pagesurvey-trgt > #thank_you_text {
	font-weight: bold;
	padding: 25px 25px 25px 25px;
	text-align: center;
}


/* --------------------
   Question list styles */

ul.showList {
	font-weight: normal;
	color: #000;
	line-height: normal;
	padding: 25px 25px 0 25px;
	margin: 0px;
}

li.outter {
	margin: 0px 0px 10px 10px;
	padding: 0px;
	list-style-type: none;
	list-style-position: outside;
  text-align: left;
}

.vocquestiontext {
    font-weight:bold;
}

.vocquestionnumber { }

.required_question { }


/* --------------
   Question types */

.vocradiosshort { }  /* combined answer text <= 90 chars */
.vocradioslong { }   /* > 90 chars */
.place_vert { }
.place_horiz { }
.vocradio { }

.vocdropdown { }

.vocmultiselect { }

.voccheckboxes { }
.voccheckbox { }

.voctextfield { }
.voctextarea { }
.text_question_area {
  width: 100%;
  height: 80px;
  margin: 10px 0 0 0;
}


/* ----------------------------
   Page-level visibility toggle */

.current_page { }

.hidden_page {
	display: none;
}


/* -----------------------------
   Required field error messages */

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


/* ----------------------
   Survey page navigation */

div.surveyNav {
	color: rgba(0,0,0,0);
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	margin: 10px 0px 10px;
	padding: 0px;
	text-align: center;
}

span.surveyNavPrev {
	display: inline-block;
}

span.surveyNavNext {
	display: inline-block;
}

span.surveyNavSub {
	text-align: left;
	display: inline-block;
	padding: 0px 0px 0px 10px;
}

.start-survey, a.surveyNav, a.surveyNav:link, a.surveyNav:visited, .surveyNavSub input {
  color: #fff;
  text-decoration: none;
  border: 1px #366334 solid;
  display: inline-block;
  padding: 4px 8px;
  background-color:#366334;
}

.surveyNavNext > a.surveyNav:after {
  content: '  >';
}

.surveyNavPrev > a.surveyNav:before {
	content: '<  ';
}

.surveyNavSub input {
	font-size: 1.1em;
	font-weight: bold;
}

.surveyNavPrev a.surveyNav, .surveyNavPrev a.surveyNav:link, .surveyNavPrev a.surveyNav:visited {
  color:#000;
  background: #fff;
  border: 1px #fff solid;
}
.start-survey{
  margin: auto;
}
.start-survey:hover, .start-survey:active,
a.surveyNav:hover, a.surveyNav:active,
.surveyNavSub input:hover, .surveyNavSub input:hover {
  cursor: pointer;
  text-decoration: underline;
}


/* ---------------------
   System Thank You page */

#thank_you_text { }

#important_to_us { }


/* ------------
   Poll Results */

#poll_results_title { }

#poll_results { }

.question_results {
	margin: 20px 0px;
}

.question_statement { }

.poll_answers { }

.poll_answer {
	margin: 5px 0px;
}

.answer_statement { }

.bar_container { }

.poll_result_bar {
	background-color: LightBlue;
	display: inline-block;
	margin: 0px 5px;
}

.answer_percentage { }

.total_question_answers { }


@media (max-width: 991px) {
	#pagesurvey-hdr {
		font-size: 120%;
	}

	span.vocradio {
		display: table;
		padding: 0 0 0 10px;
		float: left;
	}

	span.voccheckbox {
		display: inline-table;
		padding: 10px 0 0 0;
	}


}

@media (max-width: 480px) {
	#pagesurvey-trgt legend {
    margin: 0 0 0 0;
    float: none;
    }   

}
