
img#logo {
    margin-left: 100%;
}

@-moz-document url-prefix() {
    img#logo {
        margin-left: 45%;
    }
}

.engtoggle a {
    display: none;
}

.kidstoggle a {
    display: none;
}

.volver {
    display: none;
}

#pagesurvey-hdr {
    display: none;
}

#pagesurvey-trgt {
    display: none;
}

#pagesurvey-ombnum {
    display: none;
}

.sclmedia {
    display: none;
}

#footer {
    display: none;
}
