/*
Override Header Nav Hover Effect

Original hover effect was applied to <span>.
When navs wrap to 2 lines, it showed 2 bottom borders.
This code overrides the span styles and applies the hover effect to the <button>.
This applies to Hover as well as Active, Focus, and Expanded states.
*/
/*sg-12/15/16 - added*/
.sm-image {
	padding-left: 10px;
}

@media screen and (min-width: 951px) {
.usa-logo img {
	max-width: 250px;
	position: relative;
	left: -8px;
}
.cntrlogo:lang(es), .usa-logo:lang(es) {
	height: auto;
	padding: 0 0 0 0;
}
.cntrlogo:lang(es) img, .usa-logo:lang(es) img {
	max-width: 345px;
}
.usa-nav-secondary-links li:first-child::after {
	content: '';
	padding-left: 1rem;
}
.usa-nav-link:hover, .usa-nav-link:active, .usa-nav-link:focus {
	padding-bottom: 0;
}
.usa-nav-link span {
	padding-bottom: 1rem;
	display: block;
	border-bottom: 0.7rem solid transparent;
	height: 47px;
}
.usa-nav-primary > li {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 0;
}
.usa-nav-primary button[aria-expanded=false] {
	padding-bottom: 0;
	border-bottom: 0;
}
.usa-nav-primary button[aria-expanded=true] {
	padding-bottom: 0;
	border-bottom: 0;
}
/*
  Override Search box width
  */
.usa-nav-secondary .usa-search {
	display: block;
}
[role="search"] {
	width: 35rem;
}
.usa-header .usa-search {
	max-width: none;
}
.usa-megamenu {
	padding-top: .15rem;
	padding-bottom: .15rem;
}
.usa-nav-submenu {
	background-color: #16375b;
}
.usa-megamenu::before {
	background-color: #16375b;
}
.usa-megamenu::after {
	background-color: #16375b;
}
.usa-nav-submenu a:hover {
	background-color: #16375b;
}
.usa-nav-submenu a:focus {
	text-decoration: underline;
}
.usa-logo a, .usa-logo a:visited {
	display: inline-block;
}
.usa-nav-secondary {
	top: -6rem;
}
/*.usa-nav-secondary-links li:nth-child(2)::after {
    content: '|';
    padding-left: 0rem;
  }*/
	
.usa-nav-secondary-links a:hover, .usa-nav-secondary-links a:focus {
	color: #154285;
	text-decoration: underline;
}
}

@media screen and (max-width: 950px) {
.cntrlogo:lang(es) img, .usa-logo:lang(es) img {
	max-width: 318px;
}
.usa-nav-secondary-links a:hover, .usa-nav-secondary-links a:focus, .usa-nav-secondary-links a:active {
	color: #fff;
	text-decoration: underline;
}
/*.usa-header-extended .usa-nav-primary button[aria-expanded=false] {
		border-bottom: 1px solid;
		padding: 1rem 2rem 1rem 0rem;
	}*/
		
.usa-header-extended .usa-nav-primary button[aria-expanded=true] {
	position: relative;
	background-image: url(../img/minus-white.png); /* TODO: Add png for white minus icon */
	background-image: url(../uswds-0.12.1/img/minus-white.svg);
	background-color: #16375b;
	color: #fff;
	padding: 1rem 2rem 1rem 0rem;
}
.usa-nav-submenu {
	position: relative;
	background-color: #16375b;
}
.usa-nav-primary a {
	color: #fff;
	padding-left: 1rem;
}
.usa-nav-primary a:hover {
	padding-left: 1rem;
}
.usa-nav-primary ul li:before {
	content: none;
	display: table-cell;
	padding-right: 0.4em;
}
.usa-nav-submenu::before, .usa-nav-primary button::before {
	background-color: #16375b;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0px;
	width: 1000%;
	right: 100%;
}
.usa-nav-submenu::after, .usa-nav-primary button::after {
	background-color: #16375b;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 1000%;
	left: 100%;
}
.usa-nav {
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.usa-nav ul li:before {
/*content: none;*/
}
.usa-nav-close, .usa-nav-close:hover {
	margin: 0;
	width: auto;
	height: 4rem;
	padding-left: 1rem;
	padding-right: 4rem;
	color: #5b616b;
	background-color: white;
	background-image: url(../uswds-0.12.1/img/close.png);
	background-image: url(../uswds-0.12.1/img/close.svg);
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 2rem;
}
.usa-nav-close:hover {
	color: #5b616b;
}
.usa-nav-secondary {
	background: #595f68;
	padding: 1rem;
}
.usa-nav-secondary .usa-search {
	display: block;
	clear: both;
	margin: 0;
	margin-top: 5rem;
}
.usa-nav-secondary-links a, .usa-nav-secondary-links .usa-header-search-button {
	color: #fff;
}
}
body {
/*margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family:  Tahoma, Verdana, Arial, Sans-serif;*/
  /*font-size: 150%;
  background-color: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;*/
}
a {
	color: #154285;
}
a:visited {
	color: #595959;
}
a:focus, input:focus, button:focus, textarea:focus, select:focus, a:active, input:active, button:active, textarea:active, select:active {
	outline: #ff8c00 solid 3px;
}
.usa-logo:lang(es) {
	height: auto;
	padding: 0 0 0 0;
}
#usasearch_sayt .ui-menu {
	height: auto;
}
ul li:before {
	position: absolute;
	content: "";
	display: initial;/* padding-right: 0.4em;*/
}
ul li:after, ol li:after {
	content: "";
	display: initial;/*margin-bottom: 0.5em;*/
}
.hptoggles ul li:before {
	position: absolute;
	content: "";
}
.hptoggles ul li {
	display: inline-table;
}
.usa-header-extended .usa-nav-primary button[aria-expanded=false] {
	background-position: 95% 40%;
	color: #154285;
}
.usa-header-extended .usa-nav-primary button[aria-expanded=true] {
	background-position: 95% 40%;
	background-color: #16375b;
	color: #fff;
}
.vidscrpt button:hover, .vidscrpt button:active {
	background-color: #fff;
}
#searchForm [type="submit"] {
	display: block;
	margin-bottom: 0;
	margin-top: 0;
}
#searchForm input, #searchForm input[type="text"] {
	max-width: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.search-input-btn-container [type="submit"] {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	padding: 0 0 0 0;
}
.usa-nav-submenu a:visited {
	color: #ffffff;
}
#cah-container .cah-bottom-buttons button {
	color: #fff;
}
.steps li button {
	color: #000;
}
#cah-container .steps li button:active {
	color: #154285;
}
#cah-container legend {
	font-size: 1.6rem;
	font-weight: normal;
}
#cah-container textarea {
	max-width: none;
}
.seller_address_container .seller_address label {
	margin: 10px 5px 0 0;
	float: right;
}
#cah-container label {
	max-width: none;
}
.voccheckboxeslong legend {
	font-size: 2rem;
}
#pagesurvey-trgt legend {
	margin: 0 0 0 0;
	float: none;
}
#featurebox header h3 {
	clear: none;
}
.usa-footer-primary-section {
	background-color: #4b4b4d;
}
.usa-footer-secondary_section {
	background-color: #d9d9d9;
}
.usa-footer .usa-footer-primary-link:hover {
	text-decoration: none;
}
.usa-menu-btn {
	background-color: #1B50A0;
}
.usa-footer button, [type="submit"] {
	background-color: #1B50A0;
}
.usa-footer-big ul .usa-footer-primary-link > * {
	color: #fff;
}
.usa-footer .usa-footer-contact-links li {
	display: inline-block;
}
.usa-footer a {
	color: #fff;
}
.usa-sign_up-header {
	color: #fff;
}
.usa-sign_up-block label {
	color: #fff;
}
.usa-footer .usa-footer-secondary_section a {
	color: #212121;
}
.usa-social_link, .usa-link-facebook, .usa-link-twitter, .usa-link-youtube, .usa-link-rss {
	width: 3.4rem;
	left: .1rem;
}
.usa-link-email, .usa-link-snapchat {
	margin: 2.5rem 1rem 1.5rem 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 3rem;
	display: inline-block;
	height: 4.4rem;
	left: -1.6rem;
	position: relative;
	text-align: center;
	width: 3.4rem;
}
.usa-link-email span, .usa-link-snapchat span {
	position: absolute;
	left: -999em;
}
/*sg - 12/15/16* - deleted/
/*	
.usa-link-facebook {
  background-image: url("../images/Icon_Connect_Facebook.png");
}

.usa-link-twitter {
  background-image: url("../images/Icon_Connect_Twitter.png");
}

.usa-link-youtube {
  background-image: url("../images/Icon_Connect_Youtube.png");
}

.usa-link-rss {
  background-image: url("../images/Icon_Connect_RSS.png");
}

.usa-link-snapchat {
  background-image: url("../images/Icon_Connect_Snapchat.png");
  margin: 0 0 0 1rem;
  left: .2rem;
}*/

.hidden-title {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
}

@media screen and (min-width: 1201px) {
.usa-footer-primary-section .usa-grid .usa-width-one-fourth, .usa-footer-primary-section .usa-grid-full .usa-width-one-fourth {
	float: left;
	display: block;
	margin-right: 2.35765%;
	width: 28.23176%;
}
}

@media screen and (max-width: 600px) {
.cntrlogo:lang(es) img, .usa-logo:lang(es) img {
	max-width: 190px;
}
.usa-link-snapchat {
	margin: 2.5rem 1rem 1.5rem 0;
	left: .1rem;
}
ul.usa-footer-primary-content {
	border-top: 1px solid #fff;
}
.usa-footer-big ul:last-child {
	border-bottom: 1px solid #fff;
}
.usa-footer-big ul.hidden .usa-footer-primary-link {
	background-image: url(../images/arrow-Right.png);
	background-image: url(../images/arrow-right-white.svg);
}
.usa-footer-big ul .usa-footer-primary-link {
	background-image: url(../images/Arrow-Down.png);
	background-image: url(../images/arrow-down-white.svg);
}
}
.usa-link-email {
	background-image: url("../images/Icon_Connect_Email.png");
	margin: 0 0 0 1rem;
	left: 1.2rem;
}

/*
Used in footer to vertically align lists when seperating
one list of links into two columns in the footer.
*/
/*.footer-list-continued{
	margin-top: 5rem;
}*/

@media screen and (min-width: 951px) {
.usa-nav-primary button {
	padding-right: 2rem;
	padding-bottom: 1.9rem;
	padding-left: 1rem;
	color: #5b616b;
	font-size: 1.5rem;
	font-weight: 700;
	width: initial;
}
.usa-nav-primary {
	display: flex;
	justify-content: space-between;
}
.usa-nav-primary button {
	padding-right: 2rem;
	padding-bottom: 1.9rem;
	padding-left: 1rem;
	color: #5b616b;
	font-size: 1.5rem;
	font-weight: 700;
	width: initial;
}
}

@media screen and (max-width: 950px) {
.mrtp {
	display: block;
	margin: 0 0 3px 0;
}
.mrtp div {
	display: inline-block;
	display: -moz-groupbox;
	margin: 0 0 0 0;
}
.mrtp button {
	display: -moz-inline-grid;
}
.mrtp button .bttn {
	width: 100%;
	max-inline-size: 75%;
}
.mrtp button h2 {
	margin: 8px 0 0 0;
}
.mrtp button:hover {
	text-decoration: underline;
	color: #fff;
}
div.mrtpc.minus {
	float: right;
	height: 40px;
	width: 40px;
	background: url("../images/Icon_Minuss.png") no-repeat;
	background-position: center center;
	background-size: 25px;
	background-color: #fff;
	margin: 0 0 0 0;
}
div.mrtpc {
	height: 40px;
	width: 40px;
	background: url("../images/Icon_Plus.png") no-repeat;
	background-position: center center;
	background-size: 25px;
	background-color: #fff;
	float: right;
	margin: 0 0 0 0;
}
.shade {
	padding: 0 0 5px 0;
	margin: 0 0 20px 0;
	display: none;
}
.shade header h2 {
	margin: 0 auto 0 auto;
}
.dwn ul li a {
	padding: 10px 10px 10px 45px;
}
.arrowLft {
	padding-left: 40px;
}
.show-leftnav {
	display: block;
}
.test1 {
	margin: 20px 0 0 0;
}
.dwn {
	border-left: 3px solid #ebe6de;
	border-right: 3px solid #ebe6de;
}
.currentt header h2 {
	padding: 15px 10px 20px 10px;
}
.currentt ul li a {
	padding: 10px 10px 10px 25px;
}
}
.usa-search.usa-search-small [type="search"], .usa-search.usa-search-small .usa-search-input {
	width: calc(100% - 4.5rem);
}
.usa-nav-secondary-links li {
	padding-left: 1rem;
}
.usa-nav-secondary-links .usa-header-search-button {
	display: none;
}
a.usa-nav-link {
	display: inline-table;
}

@media screen and (max-width: 951px) {
.usa-nav-secondary-links li:last-child:before {
	content: "";
	padding-right: .5rem;
	-moz-padding-start: .5rem;
}
/*added to remove the separator before Contact Us -sg- 11/10/16*/
.usa-nav-secondary-links li:first-child:after {
	content: '';
}
.usa-logo img {
	max-width: 190px;
}
.usa-navbar {
	height: 5rem;
}
.usa-menu-btn {
	height: 5rem;
	font-size: 1.7rem;
}
.usa-header-extended .usa-nav-primary button[aria-expanded=true] {
	padding-left: 1rem;
}
}

@media screen and (max-width: 480px) {
/*sg-12/15/16 - added*/
.sm-image {
	padding: 20px 10px 0px 0px;
}
}
