﻿ @media(min-width:974px) and (max-width:1169px){.inner-el{width:970px}.top-nav{margin-right:50px;width:540px}.top-nav a{margin-left:15px}.main-navigation{width:625px}.main-navigation ul li a{padding:1px 11px}.todays-top{width:550px}.top-ads .ad-big,.middle-ads .ad{display:block;float:none!important}.top-ads .ad-big img,.middle-ads .ad img{margin:0 auto 10px;display:block}.top-ads .ad.half-ads{max-width:100%}.site-content{width:650px}.post-sabet{width:320px}.post-content{width:465px}.download-toolbar-btn .right{padding:16px 2px 16px 0}.top-post .thumb,.top-post .ratings-views{float:none;margin:0 auto 10px;display:table}
	 .type-post .single-post-top:before {
		display: none !important;
	 }
	 .single-post-top .post-thumb{margin-left:6px}
 }
 @media(min-width:967px) and (max-width:1169px){.top-nav{margin-right:50px;width:540px}.top-nav a{margin-left:15px}
 	 .type-post .single-post-top:before {
		display: none !important;
	 }
	 .single-post-top .post-thumb{margin-left:6px}
 }
 @media(max-width:973px){.post .image-holder,.post-content{float:none;width:auto}.post .image-holder:after,.post .image-holder:before,.post-content:before,.post-content:after{clear:both;display:block;content:""}.post-content{width:auto}.post .image-holder img,.post .image-holder .views.date.block{float:right}.post .image-holder img{margin-right:10px}.post .image-holder .views.date.block{display:block}.data-holder{padding-top:12px}.post .data-holder span,.post .image-holder .views.date.block{float:none;display:block}.post .data-holder .icon{margin-right:12px}.inner-el{width:100%;padding:0 5px}.header{padding-top:10px}.top-nav{width:auto}.top-nav a{margin-left:15px}.top-ads{box-sizing:border-box;clear:both;margin:60px 5px 5px;max-width:100%;padding:7px 7px 0;width:auto}.top-ads .ad-big,.middle-ads .ad{display:block;float:none!important}.top-ads .ad-big img,.middle-ads .ad img{margin:0 auto 10px;display:block}.top-ads .ad.half-ads{max-width:100%}.sidebar{width:32%}.site-content{width:67%}.post-content{margin-right:0;width:100%}.post-sabet{width:48.5%}.posts-block-content .desc{width:100%}.posts-block-content .desc .cm{display:none}.posts-block-content .thumbnail img{display:none}.posts-block-content .thumbnail span{float:right;margin-top:-20px}.ads-block .block-body>a{display:block}.ads-block .block-body>a img{width:100%}.download-toolbar-btn .right{padding:16px 0 0}.download-toolbar-btn .iconic{width:40px}.top-post{margin-left:5px}.top-post .thumb,.top-post .ratings-views{float:none;margin:0 auto 10px;display:table}.comment-notes .icon,.comment-notes .notes{float:none;margin-bottom:15px}.single-postinfo{width:100%;margin-top:15px}.postmeta{height:auto}.postmeta li{margin-bottom:6px}.single-postinfo .circle{display:none}.fixed-ads{display:none}
  	 .type-post .single-post-top:before {
		display: none !important;
	 }
	 .single-post-top .post-thumb{margin-left:6px}
 }
 @media(max-width:860px){.top-boxes{background:#fffcf4;border:1px solid #ece3ca;border-radius:3px;margin-bottom:17px;position:relative}.top-boxes .col{float:none;width:auto}.last-notifications{background:transparent;border:0;border-radius:0;margin-bottom:0;position:static;padding:0}.last-notifications .top-boxes-content{height:0;visibility:hidden;opacity:0;overflow:hidden;transition:.4s}.last-notifications.active{padding:63px 15px 12px}.last-notifications.active .top-boxes-content{height:auto;visibility:visible;opacity:1;overflow:visible}.last-notifications h3{background-color:#dbd8d0;position:absolute;top:0;padding:0 10px;right:257px;top:10px;border-radius:0;cursor:pointer;transition:.4s;border-radius:4px;color:#9f9c94}.last-notifications.active h3,.last-notifications h3:hover{background-color:#ffbb02;opacity:1;color:#fff}.last-notifications.go-left h3{right:10px}.last-notifications h3 .ribbon{display:none}.left-icons{opacity:0;visibility:0;transition:.4s}.last-notifications.active .left-icons{opacity:1;visibility:visible}}
 @media(min-width:670px) and (max-width:966px){.main-navigation ul li a{padding:1px 20px}.todays-top{width:57%}.featured-slider-wrap{width:41%}}
 @media(min-width:481px) and (max-width:966px){.header h1,.header .site-title{margin:0 auto;float:none;display:block}.header{margin-bottom:15px}.top-nav{margin-right:0}.main-navigation{float:none;width:100%;margin-bottom:7px}.searchform.top{width:100%;margin-bottom:12px;float:none}.download-toolbar-btn .iconic{display:none}}
 @media(min-width:900px) and (max-width:973px){.main-navigation{width:65%;float:right;margin-bottom:0}.main-navigation ul li a{padding:1px 7px}.searchform.top{width:33%;float:left}}
 @media(max-width:669px){.featured-slider-wrap{width:98%;height:auto;max-height:198px;margin:10px auto;float:none;clear:both}.todays-top{float:none;width:98%;margin:10px auto}.top-post{width:46%;margin-left:12px}.top-post:nth-child(3n){margin-left:12px}.top-post .thumb,.top-post .ratings-views{float:none;margin:0 auto 10px;display:table}}
 @media(max-width:767px){.responsive-menu-toggle{display:inline-block}.main-navigation{display:none}.searchform.top{width:80%;float:left}.social-box{float:none;height:40px;margin:10px auto 30px;clear:both}.posts-block-content .thumbnail span{float:none;margin-top:0;display:none}.searchform.bot input{width:85%}.forum-posts,.site-statistics,.latest-user-comments{float:none;width:97%;margin:10px auto}.download-toolbar-btn .iconic{display:block}.forum-posts .posttitle{height:20px;overflow:hidden}.download-area .dl-links{float:none;width:100%;margin-bottom:25px}.post-general-links{float:none;width:100%}.comment-send input[type="text"],.comment-send input[type="email"],.comment-send textarea{width:100%}.notfound404 img{float:none;margin:10px auto;display:block}.notfound-texts{float:none;width:100%}.notfound-texts .en,.notfound-texts .fa{text-align:center}}
 @media(max-width:580px){.header h1,.header .site-title{margin:0 auto;float:none;display:block}.top-nav{margin-right:0;float:none;width:100%}.top-nav a{width:30%;margin:0 0 10px 3px;text-align:center}.social-box{float:none;height:40px;margin:10px auto 30px}.featured-slider-wrap{width:98%;height:auto;max-height:198px;margin:10px auto;float:none}.todays-top{float:none;width:98%;margin:10px auto}.hide-top-ads .top-ads,.hide-all-ads .top-ads{display:none}.top-ads a{width:95%;display:block;float:none!important;margin:0 auto 10px!important}.site-content{float:none;width:100%;padding:0 5px}.post-sabet{float:none;width:100%;margin-bottom:12px}.posts-area-top .seperator{width:98.5%;overflow:hidden}.post .category{display:none}.post-content:before{content:" ";clear:both;display:block;height:10px}.post-content{float:none;width:100%;clear:both;margin-right:0}.postnote,.read-more-btn{float:none;display:block;margin:12px auto;text-align:center}.wp-pagenavi a,.wp-pagenavi span{margin-bottom:7px}.hide-middle-ads .middle-ads,.hide-all-ads .middle-ads{display:none}.middle-ads a{display:block;float:none!important;width:98%;margin:7px auto}.sidebar{width:100%;margin:0 auto;float:none;padding:0 5px}.prefooter-wrap{margin-top:12px}.footer .webpars,.footer .copyright,.footer .sitelogo-down{display:block;margin:5px auto;float:none}.posts-block-content .desc{width:80%}.posts-block-content .thumbnail img{display:block}.posts-block-content .desc .cm,.posts-block-content .thumbnail span{display:inline-block}.top-post{width:47%}.top-post:nth-child(3n){margin-left:12px}.top-post .thumb,.top-post .ratings-views{float:none;margin:0 auto 10px;display:table}.top-ads{margin:60px 10px 10px}}
 @media(max-width:480px){.top-post{width:100%;float:none;margin-left:0}.top-post:nth-child(3n){margin-left:0}.top-post .thumb,.top-post .ratings-views{float:none;margin:0 auto 10px;display:table}}
 @media(max-width:440px){.last-notifications.active{padding-top:46px}.last-notifications h3{font-size:13px;height:auto;line-height:inherit;padding:0 6px}.last-notifications.go-left h3{right:142px}}
 @media(max-width:440px){.last-notifications.active{padding-top:86px}.last-notifications.col h3{right:10px;top:46px}.last-notifications.col.go-left h3{top:10px}}@media(max-width:605px){.last-notifications ul li a>span{max-width:none;min-width:auto;width:8%}.last-notifications p{width:86%}}