/*
Theme Name: Senego Mobile
Theme URI: http://senego.com
Author: Senego
Author URI: http://senego.com
Description: Thème pour Senego sur le mobile 
Version: 1.0
License: senego
License URI: http://senego.com
Text Domain: Senego

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	border:0;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
	list-style-type:none;
}

body {
    background-color: #EBEFF2;
    font-family: Helvetica,Arial,sans-serif;
}

a
{
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    color: #111;
    font-weight: 900;
}
p {
    margin-bottom: 10px;
}
b, strong {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.senego-contact,.appel-single,.nav,.widget-areas-single,.pub-haut,#menu-bas,#content-hori,.content-haut,.cat-right-avant,.cat-right-avant2,.column-content-1,.social_content,.nom-auteur,.partage-count{
display: none !important;
}

.entry-content iframe, 
.entry-content object, 
.entry-content embed {
    width: 100%;
    height: 300px;
}
#mobile {
	width: 100%;
	height: 100px;
	border: 2px solid #000;
}
.menu-wrapper {
    background: #FFF none repeat scroll 0% 0%;
    height: 42px;
    width: 100%;
    position: fixed;
    top: 0px;
    box-shadow: 0px 0px 5px #888;
    z-index: 3;
}
.nav {height: 42px; padding: 0px}
.logo-desktop {
	float: left;
	padding: 5px;
	left: 15px;

}
.item-logo {
   display: none;
}
.logo-desktop img{
	width: 160px;
	height: 30px;

}

.logo-desktop {
    width: 150px;
    height: 28px;
    margin: 7px 0 0 20px;
    text-decoration: none;
    border: 0;
    padding: 0;
    background: url("/wp-content/themes/1/images/logo_mobile.png") no-repeat 0 0;
}
a.logo-desktop img
{
	width:150px;
	height:auto;
}
#main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#title {
  color: #f6f6f6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2em;
}
#fitvid0{height: 300px; width: 100%;}
#fitvid1{height: 300px; width: 100%;}
#fitvid2{height: 300px; width: 100%;}

.col-pub-liste {
margin-left: auto;
margin-right: auto;
text-align: center;
padding: 5px 0;
width: 100%;
min-height: 300px;
display: inline-block;
margin-bottom: 10px;
border-radius: 5px;
}

#btn {
  position: fixed;
  z-index: 5;
  top: 10px;
  right: 15px;
  cursor: pointer;
  -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn div {
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #FF9007;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
}

#btn:hover > div { box-shadow: 0 0 1px #00DFFC; }

#btn.active { left: 230px; }

#btn.active div { background-color: #FF9007; }

#btn.active:hover > div { box-shadow: 0 0 1px #343838; }

#btn.active #top {
  -webkit-transform: translateY(10px) rotate(-135deg);
  -ms-transform: translateY(10px) rotate(-135deg);
  transform: translateY(10px) rotate(-135deg);
}

#btn.active #middle {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#btn.active #bottom {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  left: -275px;
  width: 275px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: #f6f6f6;
  color: #343838;
  -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box.active {
  left: 0px;
  opacity: 1;
}

#items {
  position: relative;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  margin-top: 30px;
  
}
span.diviseur {
    height: 2px;
    width: 260px;
    float: left;
    border-bottom: 1px solid #DDD;
    padding-bottom: 25px;
    position: fixed;
    background-color: #F6F6F6;
    z-index: 9;
}
.items-liste {
  position: relative;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #ddd;  
  
}
.item-logo {
    position: fixed;
    cursor: pointer;
    padding: 1px 30px;
    transition: all 250ms ease 0s;
    height: 40px;
    background-color: #F6F6F6;
    z-index: 99;
    top: 0px;
}

#items .item {
  position: relative;
  cursor: pointer;
  font-size: 1.1em;
  padding: 5px 30px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

#items .item a{
  color: #343838;
  text-decoration: none;
}

#items .item:hover {
  padding: 5px 45px;
  background-color: rgba(52, 56, 56, 0.2);
}


#content {
    background: #f4f4f2 none repeat scroll 0 0;
    width: 100%;
    margin-left: auto;
    margin-top: 50px;
    position: relative;
    margin-right: auto;
    height: auto;
    clear: both;
}

/* CSS accueil */
#article-en-avant {
    width: 100%;
    height: auto;
    clear: both;
    overflow: hidden;
}

#article-en-avant .la-une
{
	width:97%;
	height:auto;
	padding:6px;
	display:table;
	position:relative;
	float:left;
	vertical-align:top;
}

#article-en-avant .image-une {
    width: 100%;
    height: auto;
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#article-en-avant .la-une .image-une img {
	width:100%;
	height:auto;
}

#article-en-avant .la-une .image-une h1
{
	position:absolute;
	width:96%;
	color:#fff;
	bottom:0;
	padding:10% 2% 2%;
	font-size:1.5em;
	background:linear-gradient(0deg,rgba(0,0,0,.95) 0,rgba(0,0,0,0) 100%);
}

#article-en-avant .la-une h1 a
{
	color:#fff;
	text-decoration:none;
}


#column-content
{
	width:100%;
	clear:both;
	float:left;
	margin-bottom:50px;
}

.ligne-top {
    border-top: 2px solid #272626;
    margin: 10px 0;
    width: 100%;
}

.wrapper-last-posts {
    width: 98%;
    padding: 0 2%;
}

.last-posts {
    width: 96%;
    padding: 2%;
    display: block;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.image-last-posts {
    float: left;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    max-width: 525px;
}

.last-posts img
{
	float:left;
	width:100%;
	height:100%;
}

h2.titre-last-posts {
    display: inline-block;
    width: 100%;
    margin: 15px 10px;
}
.last-posts h2 {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.4;
}
h2.titre-last-posts a{
    color: #000;
}

.pub-liste {
    border: 0 none;
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    text-align: center;
    width: 94%;
    padding: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pub-liste img{
    margin: 15px 0;
}

.info-latests {
    font-size: 0.8em;
    font-weight: 200;
    color: #9F9E9E;
    width: 545px;
    bottom: 10px;
    height: 30px;
    border-top: 1px solid #CCC;
    float: left;
    margin: 15px 0 0 -10px;
    text-transform:uppercase;
}
.meta_direct,.suite {
	width:180px;
	float: left;
	text-align: center;
	border-left: 1px solid #CCC;
    padding-top: 10px;
    height: 30px;
	}
.suite p, .meta_direct p {
    height: auto;
    width: auto;
    position: absolute;
    margin-left: 15px;
}
.meta_direct img, .suite img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.suite a
{
	color:#9F9E9E;
}

.malinky-load-more__button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: auto;
    height: 42px;
    line-height: 44px;
    background: #6E6E6E;
    color: #fff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 4px;
    padding: 0 20px;
    display: inline-block;
    position: relative;
    -webkit-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    -moz-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#nav-above
{
	width:96%;
	padding:2%;
	border-radius:3px;
	border:0 none;
	margin-left:auto;
	margin-right:auto;
	display:table;
	text-align:center;
	font-size:1.6em;
	font-weight:700;
	margin-top:4%;
	margin-bottom:80px;
	background:#FFF none repeat scroll 0 0;
	border:solid #dfdfdd;
	border-width:0 .1rem .1rem 0;
	text-transform:uppercase;
}

#nav-above .nav-previous a
{
	color:#6B6666;
	text-decoration:none;
}

.nav-previous .prec
{
	font-size:2rem;
	font-weight:400;
	float:left;
}

.nav-previous .suiv
{
	font-size:2rem;
	font-weight:400;
	float:right;
}

/* Fin CSS accueil */

/* css catergorie  */

.entete-carre
{
	float:left;
	width:100%;
	margin-bottom:10px;
	border-radius:3px;
	border:0 none;
	display:block;
	box-shadow:0 0 2px 0 rgba(43,59,93,0.29);
	background:#FFF none repeat scroll 0 0;
	overflow:hidden;
	padding:5px 0;
}

.entete-carre p
{
	float:left;
	padding:5px 10px 2px;
	color:#FF9007;
	font-size:20px;
	font-weight:500;
	margin:5px 0 0;
	text-transform:uppercase;
}

.wrapper-categorie
{
	width:100%;
	overflow:hidden;
}

.categorie {
    width: 96%;
    padding: 2%;
    float: left;
    position: relative;
    margin-bottom: 20px;
    height: auto;
}

/* fin css catergorie  */
#primary {
    overflow: hidden;
    width: 94%;
    float: left;
    padding: 3%;
    margin-bottom: 50px;
}
.materialise {
    background: #FFF none repeat scroll 0 0;
    border: solid #dfdfdd;
    border-width: 0 .1rem .1rem 0;
}

.entry-header {
    padding: 20px 0;
    overflow: hidden;
}
.entry-header h1 {
    font-size: 1.5em;
}
#primary .info-post {
    width: 100%;
    height: 40px;
    float: left;
    color: #b5b5b5;
    font-size: 0.9em;
    border: 0.01em solid rgba(181, 181, 181, 0.46);
    margin-bottom: 15px;
    line-height: 1.3;
}
.author {
	border-right: 1px solid #CCC;
}
.entry-date, .author {
    float: left;
    height: 30px;
    width: 49%;
    text-align: center;
    padding-top: 10px;
}

.author p, .entry-date p {
    height: auto;
    width: auto;
    margin-left: 5px;
    border: 0;
    float: left;
}

.author img, .entry-date img{
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 5px;
}

.image-single {
    margin-bottom: 15px;
    text-align: center;
}

.titre-pub {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    height: 10px;
    padding: 10px 0;
}

.pub-bas-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: table;
    text-align: center;
    width: 100%;
}
.entry-content p {
    font-size: 1.2rem;
    text-align: justify; 
    font-weight: 400;
    line-height: 1.5;
    margin: 1em 0;
    color: #444;
}
.entry-content {
	margin-top: 15px;
}
.share-button {
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    overflow: hidden;
}
.share-button p {
    font-size: 1.8em;
    float: left;
    margin: 7px 0 0 25px;
}

.share-button .facebook-button img {
    width: 50px;
    height: 50px;
    float: left;
    left: 10px;
}

.share-button a.facebook-button {
    color: #fff;
    text-decoration: none;
}
.share-button .facebook-button {
    width: 75%;
    height: 50px;
    background-color: #2255ad;
    display: table;
    float: left;
    text-align: center;
}
.share-button .twitter-button {
    width: 25%;
    height: 50px;
    background-color: #41abe1;
    display: table;
    float: left;
    text-align: center;
}
.share-button .twitter-button img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.entete-horizontale {
    float: left;
    width: 97.4%;
    margin-bottom: 10px;
    padding-left: 1.25%;
    padding-right: 1.25%;
    height: 90px;
    border: 1px solid #EFECEC;
}
.entete-horizontale .buzz-icon {
    background-image: url(/wp-content/themes/senego/images/icons/top.png);
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 5px;
}
.entete-horizontale p {
    float: left;
    color: #FF9007;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 18px 12px 0;
}
.counter {
    float: right;
    width: 150px;
    height: auto;
    font-size: 0.8em;
    color: #fff;
    position: relative;
    background: #FF9007 none repeat scroll 0 0;
    margin: 12px;
    padding: 5px;
}
.counter #wau_wid_bdf5d348 {
    float: left;
    margin-left: 5px;
}


#content-other{
	margin-bottom:15px;
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
}
.wrapper-top-article {
    font-size: 100%;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 0.01em solid rgba(181, 181, 181, 0.46);
}

.wrapper-top-article img
{
	font-size:100%;
	width:100%;
	height:auto;
}

.image-top-article {
    position: relative;
    width: 98%;
    height: auto;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    text-align: center;
    clear: both;
}

.wrapper-top-article h2.entry-title
{
	color:#000;
	font-size:1.4em;
	font-weight:400;
	line-height:1.3;
	margin:10px 0 18px;
}

.wrapper-top-article h2.entry-title a
{
	color:#000;
}

.wrapper-top-article img
{
	font-size:100%;
	width:100%;
	height:auto;
}

.classement-plus-commentes
{
	color:#FFF;
	font-size:20px;
	font-weight:700;
	background:#FF9007 none repeat scroll 0 0;
	z-index:2;
	width:23px;
	height:23px;
	line-height:normal;
	right:10px;
	border-radius:100%;
	display:inline-block;
	text-align:center;
	position:absolute;
	bottom:-10px;
	padding:5px;
	vertical-align:middle;
	border:4px solid #fff;
}

.num-top-article
{
	color:#FFF;
	font-size:20px;
	font-weight:700;
	background:#FF9007 none repeat scroll 0 0;
	z-index:2;
	width:23px;
	height:23px;
	left:15px;
	border-radius:100%;
	display:inline-block;
	text-align:center;
	position:absolute;
	top:15px;
	padding:5px;
	vertical-align:middle;
	border:4px solid #fff;
}


#comments {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    float: left;
    width: 100%;
}
.comment {
    list-style: outside none none;
    position: relative;
    margin: 0 0 2%;
    border-bottom: 1px solid #EFECEC;
    float: left;
    width: 100%;
    padding: 15px 0;
}

.comment-body {
	float: left;
}
.comment p {
	font-style: italic;
    float: left;
    width: 100%;
}
.comment p:first-letter {
    text-transform: uppercase;
}

.comment cite {
	font-style: normal;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

.comment .says {
	font-style: normal;
    padding: 15px 0;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    color: #ccc;
}

.comment-meta {
    padding: 0;
    float: left;
    color: #ccc;
    margin: 17px;
    font-size: 13px;
    height: 30px;
}
.comment-meta a{
    color: #CCC;
}
.comment-author {
	float: left;
	}
img.avatar {
    float: left;
    width: 50px;
    height: 50px;
}
.auteur-com {
    float: left;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #606060;
    line-height: 3.9rem;
    font-weight: bold;
}

.comment-content {
    display: block;
    width: 97%;
    margin: 0 1.5%;
    float: left;
    position: relative;
}
.comment-content p {
    font-size: 1.7rem !important;
    font-weight: 400;
    width: 100%;
    border-top: 1px solid #E3E1E1;
    padding-top: 5px;
    float: left;
    text-align: left !important;
    color: #6C6C6C;
    font-style: italic;
}


.comment-content p:first-letter {
    text-transform: uppercase;
}
.comment-meta-bas {
    width: 100%;
    line-height: 1.5;
    float: left;
    margin: 10px 0;
    font-size: 1.3rem;
}
.reply {
    float: left;
    margin-top: 10px;
}
.reply a{
    color: #ccc;
}
.reply a
{
	padding:0;
}
.date-com{
	float: left;
    padding: 0;
    color: #ccc;
}

#comments .children {
    background: #f8f6f6;
    float: right;
    width: 710px;
    padding: 15px;
    margin-top: 15px;
    margin-left: 0;
    }

.children .comment {
    margin: 0;
    padding: 0;
    border: none;
    width: 710px;
}

.children .comment-content {
    display: block;
    width: 97%;
    margin: 0 1.5%;
    float: left;
    position: relative;
}
.children .comment-content p {
    font-size: 1.7rem !important;
    font-weight: 400;
    width: 100%;
    border-top: 1px solid #E3E1E1;
    padding-top: 5px;
    float: left;
    text-align: left !important;
    color: #6C6C6C;
    font-style: italic;
}

.children .gravatar {
	width: 40px;
	height: 40px;
} 
.comment .children img {
	width: 40px;
	height: 40px;
}




#respond label
{
	width:47%;
	font-weight:700;
}

.comment-form-author, .comment-form-email{
    width: 100%;
}

#email,#author
{
	width:100%;
}

#commentform {
    border-radius: 0 0 3px 3px;
    border: 0 none;
    display: block;
    padding: 15px 0;
    width: auto;
}

commentform p
{
	width:90px;
	margin:0 auto;
}

.montrer
{
	width:100%;
	height:300px;
	border:solid 1px #000;
}

#commentform textarea {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    height: 80px;
    border-radius: 5px;
    box-sizing: content-box;
    border: 1px solid #D4D4D4;
    box-shadow: 0 1px 4px 0 rgba(168,168,168,0.6) inset;
    margin: 10px 0;
    padding: 3.5%;
    width: 92%;
}

#commentform input {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    height: 20px;
    border-radius: 5px;
    box-sizing: content-box;
    border: 1px solid #D4D4D4;
    box-shadow: 0 1px 4px 0 rgba(168,168,168,0.6) inset;
    padding: 3.5%;
    width: 92%;
    margin: 8px 0;
}

.comment-form-author .author
{
	font-size:16px;
	font-weight:500;
	position:relative;
	height:80px;
	border-radius:5px;
	box-sizing:content-box;
	border:1px solid #D4D4D4;
	box-shadow:0 1px 4px 0 rgba(168,168,168,0.6) inset;
	margin-top:4px;
	padding:10px;
	width:95.8%;
}

.entete-comment
{
	float:left;
	margin:10px 0;
	width:99.87%;
	border:1px solid #DDD;
	border-radius:3px;
	padding:5px 0;
}

.entete-comment p
{
	float:left;
	padding:5px 10px 2px;
	color:#FF9007;
	font-size: 0.8em;
	font-weight:500;
	margin:8px 0 0;
	text-transform:uppercase;
}

.entete-comment .comment-icon
{
	display:inline-block;
	background-image:url(images/icons/comment1.png);
	height:40px;
	width:40px;
	float:left;
	margin-left:15px;
}

.entete-commentaire-liste {
    float: left;
    margin: 0 0 15px;
    width: 99.87%;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 5px 0;
}

.entete-commentaire-liste p
{
	float:left;
	padding:5px 10px 2px;
	color:#FF9007;
	font-size:20px;
	font-weight:500;
	margin:8px 0 0;
	text-transform:uppercase;
}

.entete-commentaire-liste .comment-icon
{
	display:inline-block;
	background-image:url(images/icons/comment1.png);
	height:40px;
	width:40px;
	float:left;
	margin-left:15px;
}


.pub-mobile
{
	padding:10px 0 5px;
	bottom:0;
	text-align:center;
	max-width:640px;
	height:50px;
	z-index:9;
	position:fixed;
	border:1px solid #a6b4bb;
	background:none repeat scroll 0 0 #fff;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.col-pub-bas-mobile
{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}