
#btn,#box,#mobile,#items{
display: none !important;
visibility: hidden !important;
}
.pub-dans-contenu,.pub-mobile,.item{
display: none !important;
visibility: hidden !important;
}

table
{
	border-collapse:separate;
	border-spacing:0;
	border-width:1px 0 0 1px;
	margin:0;
	width:100%;
}

html
{
	font-size:50%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body
{
	background:#f4f4f2 none repeat scroll 0 0;
}

b, strong {
    font-weight: 700;
    font-size: 2.2rem;
}

.entry-content p
{
	font-size: 2.2rem;
	/* text-align: justify;*/
	font-weight: 400;
	line-height: 1.5;
	margin: 1em 0;
}

.entry-content ul,.entry-content ol
{
	margin:10px 20px;
	padding:10px 20px;
}

.entry-content li
{
	margin-bottom:5px;
}

.infos-responsabilite p{
	font-size: 11px;
	color: #959595 !important;
	
	}
ul
{
	list-style:disc;
}

ol
{
	list-style:decimal;
}

.entry-content li> ul,.entry-content li> ol
{
	margin:10px 5px;
	padding:10px 5px;
}

dt
{
	font-weight:700;
}

dd
{
	margin:0 10px 10px;
}

.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley
{
	border:none;
	margin-bottom:0;
	margin-top:0;
	padding:0;
}	
}

.wp-caption
{
	width:97.8%;
	margin-left:auto;
	margin-right:auto;
	padding:0 10px 10px;
	text-align:left;
	color:#464A3D;
}

.wp-caption img[class*="wp-image-"]
{
	display:block;
	margin:0 auto;
	max-width:98%;
}

.wp-caption .wp-caption-text
{
	margin:10px;
}

.wp-caption-text
{
	font-size:14px;
	font-size:1.4rem;
	text-align:center;
}

img
{
	height:auto;
	max-width:100%;
	vertical-align:bottom;
}

.entry-content iframe,.entry-content object,.entry-content embed
{
	width:100%;
	height:400px;
}

.menu-wrapper
{
	background:#FFF none repeat scroll 0 0;
	height:50px;
	position:fixed;
	top:0;
	box-shadow:0 0 5px #D4D1D1;
	z-index:9;
	text-align:center;
	right:0;
	left:0;
	margin-right:auto;
	margin-left:auto;
	width:100%;
}

.nav
{
	height:50px;
	padding:0;
}

a.logo-desktop
{
	float:left;
	padding:5px!important;
}

.nav,input
{
	font-size:14px;
}

.nav
{
	cursor:default;
	display:inline-block;
	position:relative;
	z-index:500;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

.nav > li
{
	display:block;
	float:left;
}

a.first-cat
{
	margin-left:0;
	font-size:25px;
	color:#444!important;
}

.first-cat .accueil-button
{
	background-image:url("/wp-content/themes/senego/images/icons/accueil1.png ");
	height:30px;
	width:30px;
	margin-top:-8px;
}

.nav > li:first-child > span
{
	border-left:medium none;
	border-radius:3px 0 0 3px;
}

.nav > li > a,.nav > li > span
{
	background:#FFF none repeat scroll 0 0;
	border-right:1px solid #ddd;
	display:block;
	color:#343838;
	font-weight:700;
	padding:0 20px;
	position:relative;
	text-shadow:0 0 1px rgba(0,0,0,0.35);
	z-index:510;
	margin:15px 0 0;
	cursor:pointer;
}

.nav > li:hover > a,.nav > li:hover > span
{
	text-decoration:underline;
}

.nav > li:first-child > a
{
	border-left:none;
	border-radius:3px 0 0 3px;
}

.nav > li > span.recherche
{
	background:#FFF url(/wp-content/themes/senego/images/search-icon-button.png) no-repeat center center;
	display:block;
	color:#FCFCFC;
	font-weight:700;
	height:25px;
	padding:0 20px;
	position:relative;
	z-index:510;
	cursor:pointer;
	border-right:0;
	margin-top:10px;
}

div.form-search-1
{
	height:80px;
	padding:10px 0;
}

div.search-form
{
	text-align:left;
	vertical-align:top;
	display:inline-block;
	white-space:normal;
	width:100%;
	height:70px;
	border-right:1px solid #333;
	font-size:14px;
	float:left;
}

#search_box
{
	border-radius:5px;
	padding:5px;
	width:600px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	background:#ddd;
}

#champs-recherche
{
	border:none;
	color:#333;
	font:bold 24px Helvetica,Arial,sans-serif;
	width:75%;
	height:40px;
	padding:10px;
	float:left;
	margin-right:5px;
}

.search_btn
{
	background:#FF9007 url(/wp-content/themes/senego/images/search-icon.png) no-repeat scroll center center;
	cursor:pointer;
	width:125px;
	height:60px;
	border:1px solid #D47807;
	border-radius:0 3px 3px 0;
	font-size:20px;
	float:left;
}

.nav > li > div
{
	background:#FFF none repeat scroll 0 0;
	position:absolute;
	display:block;
	left:0;
	opacity:0;
	overflow:hidden;
	top:50px;
	transition:all .3s ease .15s;
	visibility:hidden;
	width:100%;
	box-shadow:0 0 5px 0 #888;
}

.nav > li:hover > div
{
	opacity:1;
	overflow:visible;
	visibility:visible;
}

.nav .nav-column
{
	float:left;
	padding:5px 0;
	width:15%;
	border-right:1px solid #CCC;
}

.nav .nav-column:last-child
{
	border-right:none;
}

.nav .nav-column h3
{
	color:#372f2b;
	font-size:14px;
	font-weight:700;
	margin:20px 0 10px;
	text-transform:uppercase;
}

.nav .nav-column h3.orange
{
	color:#ff722b;
}

.nav .nav-column li a
{
	color:#888;
	display:block;
	font-weight:700;
	padding:10px 15px 5px;
}

.nav .nav-column li a:hover
{
	color:#666;
}

#content
{
	background:#f4f4f2 none repeat scroll 0 0;
	width:1200px;
	margin-left:auto;
	margin-top:70px;
	position:relative;
	margin-right:auto;
	height:auto;
	display:table;
	clear:both;
}

.materialise
{
	background:#FFF none repeat scroll 0 0;
	border:solid #dfdfdd;
	border-width:0 .1rem .1rem 0;
}

.content-haut
{
	float:left;
	width:100%;
	margin-bottom:15px;
	height:auto;
}

.pub-haut
{
	height:auto;
	width:auto;
	text-align:center;
	margin:0 auto;
	padding:10px;
}

#content-other
{
	float:left;
	width:100%;
	margin-bottom:15px;
}
#content-hori
{
	float:left;
	width:100%;
	margin-bottom:15px;
}

.wrapper-hori
{
	width:23.62%;
	padding-right:1.8%;
	float:left;
}

.wrapper-hori:last-of-type
{
	padding-right:0;
}

.wrapper-hori4
{
	width:23.2%;
	vertical-align:top;
	display:inline-block;
}

.contenu-hori
{
	font-size:100%;
	height:320px;
	width:100%;
	margin-right:0;
}

.quatrieme
{
	float:right;
	margin-right:0!important;
}

.trois-derniers
{
	float:left;
}

.image-hori
{
	position:relative;
	width:98%;
	height:180px;
	display:block;
	margin-left:1%;
	margin-right:1%;
	margin-top:1%;
	text-align:center;
}

.contenu-hori h1.entry-title
{
	color:#000;
	font-size:18px;
	font-weight:400;
	margin:18px;
}

.contenu-hori h1.entry-title a
{
	color:#000;
}

.contenu-hori img
{
	font-size:100%;
	width:100%;
	height:100%;
}

.classement-plus-commentes
{
	color:#FFF;
	font-size:20px;
	font-weight:700;
	background:#FF9007 none repeat scroll 0 0;
	z-index:2;
	width:23px;
	height:23px;
	right:10px;
	border-radius:100%;
	display:inline-block;
	text-align:center;
	position:absolute;
	bottom:-18px;
	padding:5px;
	vertical-align:middle;
	border:4px solid #fff;
}

#article-en-avant
{
	width:1200px;
	height:358px;
	display:block;
	clear:both;
}

#article-en-avant .la-une
{
	width:591px;
	height:341px;
	padding:4px;
	margin-right:17px;
	display:table;
	position:relative;
	float:left;
	vertical-align:top;
}

#article-en-avant .image-une {
    width: 571px;
    height: 321px;
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#article-en-avant .la-une .image-une img {
    width: 571px;
    height: 321px;
}

#article-en-avant .la-une .image-une h1
{
	position:absolute;
	width:96%;
	color:#fff;
	bottom:0;
	padding:10% 2% 2%;
	font-size:1.5em;
	background:linear-gradient(0deg,rgba(0,0,0,.95) 0,rgba(0,0,0,0) 100%);
}

#article-en-avant .la-une h1 a
{
	color:#fff;
	text-decoration:none;
}

.cat-right-avant
{
	float:right;
	width:582px;
	margin-bottom:15px;
}

.cat-right-avant2
{
	float:right;
	width:582px;
}

.cat-lg-titre6
{
	width:46%;
	padding:1% 2% 2%;
	float:right;
	margin-left:2%;
	height:20px;
	font-size:1em;
	font-weight:700;
	text-transform:uppercase;
}

.cat-lg-titre6 a
{
	color:#000;
}

.cat-lg-titre6 a:hover
{
	color:#000;
	text-decoration:underline;
}

.cat-lg-liste6
{
	width:275px;
	float:left;
	margin-right:17px;
	height:96px;
	padding:3px;
}

.cat-lg-liste6:last-of-type
{
	margin-right:0;
}

.image-cat-lg-liste6
{
	float:left;
	width:96px;
	height:96px;
}

.cat-lg-liste6 img
{
	float:left;
	width:100%;
	height:100%;
}

h2.titre-cat-lg-liste6
{
	display:inline-block;
	vertical-align:top;
}

.cat-lg-liste6 h2
{
	font-size:.9em;
	margin-left:10px;
	width:160px;
	font-weight:400;
	margin-top:10px;
}

.wrapper-pop-une
{
	width:282px;
	vertical-align:top;
	display:inline-block;
	float:left;
	height:235px;
	margin-left:0;
}

.wrapper-pop-une:last-of-type
{
	margin-left:17px;
}

.pop-une
{
	font-size:100%;
	height:98%;
	width:98%;
	margin-right:0;
	position:relative;
	display:block;
	padding:1%;
}

.quatrieme
{
	float:right;
	margin-right:0!important;
}

.pop-une img
{
	width:100%;
	height:100%;
}

.pop-une h2.entry-title
{
	color:#fff;
	font-size:1.1em;
	font-weight:400;
	position:absolute;
	bottom:1%;
	background:linear-gradient(0deg,rgba(0,0,0,.95) 0,rgba(0,0,0,0) 100%);
	width:90%;
	padding:4% 4% 8%;
	text-align:left;
}

.pop-une h2.entry-title a
{
	color:#fff;
}

.cat-pop-une
{
	color:#FFF;
	font-size:.9em;
	font-weight:700;
	background:#F5DDC1 none repeat scroll 0 0;
	z-index:2;
	width:98%;
	height:23px;
	display:inline-block;
	text-align:center;
	position:absolute;
	bottom:0;
	vertical-align:middle;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:1%;
	padding:1% 0;
	text-transform:uppercase;
}

#column-content
{
	width:100%;
	clear:both;
	float:left;
	margin-bottom:50px;
}

.ligne-top
{
	border-top:2px solid #272626;
	margin:20px 0 10px;
	width:100%;
}

.wrapper-last-posts {
    width: 544px;
    float: left;
}

.last-posts {
    width: 524px;
    padding: 10px;
    float: right;
    display: block;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #EAE7E7
}

.image-last-posts {
    float: left;
    width: 525px;
    height: 200px;
    display: block;
    position: relative;
}

.last-posts img
{
	width:100%;
	height:100%;
}

h2.titre-last-posts
{
	display:inline-block;
	vertical-align:top;
}

.last-posts h2 {
    font-size: 1.4em;
    margin: 20px 5px;
    width: 515px;
    line-height: 1.5;
    font-weight: 500;
}
.social_text{
	font-size: 1.4em;
	color: #FFF;
	float: left;
	}
.social_button {
	float: left;
	margin-left: 10px;
	}
.social_content {
    margin: 15px;
    width: 514px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    text-align: center;
    padding: 15px;
    background: #FF9007;
	}
.pub-liste {
    margin: 15px;
    width: 524px;
    border: 0 none;
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    text-align: center;
    padding: 10px;
}

.pub-liste img{
    margin: 15px 0;
}
.info-latests {
    font-size: 0.8em;
    font-weight: 200;
    color: #9F9E9E;
    width: 545px;
    bottom: 10px;
    height: 30px;
    border-top: 1px solid #CCC;
    float: left;
    margin: 15px 0 0 -10px;
    text-transform:uppercase;
}
.meta_direct,.suite {
	width:180px;
	float: left;
	text-align: center;
	border-left: 1px solid #CCC;
    padding-top: 10px;
    height: 30px;
	}
.nom-auteur {
    width: 180px;
    float: left;
    text-align: center;
    padding-top: 10px;
    height: 30px;
}
.nom-auteur p,.suite p, .meta_direct p {
    height: auto;
    width: auto;
    position: absolute;
    margin-left: 15px;
}
.nom-auteur img, .meta_direct img, .suite img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.suite a
{
	color:#9F9E9E;
}

.malinky-load-more__button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: auto;
    height: 42px;
    line-height: 44px;
    background: #6E6E6E;
    color: #fff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 4px;
    padding: 0 20px;
    display: inline-block;
    position: relative;
    -webkit-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    -moz-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#nav-above
{
	width:96%;
	padding:2%;
	border-radius:3px;
	border:0 none;
	margin-left:auto;
	margin-right:auto;
	display:table;
	text-align:center;
	font-size:1.6em;
	font-weight:700;
	margin-top:4%;
	margin-bottom:80px;
	background:#FFF none repeat scroll 0 0;
	border:solid #dfdfdd;
	border-width:0 .1rem .1rem 0;
	text-transform:uppercase;
}

#nav-above .nav-previous a
{
	color:#6B6666;
	text-decoration:none;
}

.nav-previous .prec
{
	font-size:2rem;
	font-weight:400;
	float:left;
}

.nav-previous .suiv
{
	font-size:2rem;
	font-weight:400;
	float:right;
}

.column-content-1
{
	width: 636px;
	float:right;
	padding-bottom:7px;
}

.cat-liste-content
{
	float:right;
	width:100%;
}

.content-emissions
{
	float:left;
	overflow:hidden;
	width: 302px;
}

.wrapper-cat-article {
    float: left;
    margin-bottom: 10px;
    height: 268px;
    width: 302px;
}
.wrapper-cat-article:last-of-type
{
	margin-bottom:0;
}

.cat-article {
    height: 266px;
    width: 302px;
    position: relative;
}

.cat-article img {
    width: 282px;
    height: 246px;
    margin: 10px;
}

.NomEmission {
    color: #fff;
    font-size: .9em;
    position: absolute;
    top: 10px;
    text-align: center;
    padding: 5px 5px 2px;
    background-color: RGB(255, 144, 7);
    left: 10px;
    text-transform: uppercase;
    font-weight: 100;
}

.cat-article h2.entry-title {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    position: absolute;
    background: linear-gradient(0deg,rgba(0,0,0,.95) 0,rgba(0,0,0,0) 100%);
    bottom: 10px;
    text-align: left;
    padding: 10px;
    width: 262px;
    margin: 0 10px;
}

.cat-article h2.entry-title a
{
	color:#FFF;
}

.cat-liste
{
	width:92.5%;
	padding:2%;
	float:right;
	margin-left:3%;
}

.image-cat-liste
{
	float:left;
	width:20%;
}

.cat-liste img
{
	float:left;
	width:100%;
	height:auto;
}

h2.titre-cat-liste
{
	display:inline-block;
	vertical-align:top;
}

.cat-liste h2
{
	font-size:1.3em;
	margin-left:1.1rem;
	width:67%;
}

.content-cat-liste
{
	width:47.3%;
	float:left;
}

.cat-lg-titre3
{
	width:96%;
	padding:2%;
	float:left;
	height:20px;
	font-size:1em;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:10px;
}

.cat-lg-titre3 a
{
	color:#000;
}

.cat-lg-titre3 a:hover
{
	color:#000;
	text-decoration:underline;
}

.cat-liste-seule3
{
	width:96%;
	padding:2%;
	float:left;
	height:101.5px;
}

.image-cat-liste-seule3
{
	float:left;
	width:35%;
}

.image-cat-liste-seule3 img
{
	float:left;
	width:100%;
	height:auto;
}

h2.titre-liste-seule3
{
	display:inline-block;
	vertical-align:top;
}

.cat-liste-seule3 h2
{
	font-size:.9em;
	margin-left:1.1rem;
	width:60%;
	font-weight:400;
	margin-top:10px;
}

.content-cat-liste5
{
	width:50%;
	float:right;
}

.cat-lg-titre5
{
	width:96%;
	padding:1% 0 2% 4%;
	float:left;
	height:20px;
	font-size:1em;
	font-weight:700;
	text-transform:uppercase;
}

.cat-lg-titre5 a
{
	color:#000;
}

.cat-lg-titre5 a:hover
{
	color:#000;
	text-decoration:underline;
}

.cat-liste-seule5
{
	width:96%;
	padding:2%;
	float:left;
	height:124px;
}

.image-cat-liste-seule5
{
	float:left;
	width:40%;
}

.image-cat-liste-seule5 img
{
	float:left;
	width:100%;
	height:auto;
}

h2.titre-liste-seule5
{
	display:inline-block;
	vertical-align:top;
}

.cat-liste-seule5 h2
{
	font-size:.9em;
	margin-left:1.1rem;
	width:50%;
	font-weight:400;
	margin-top:10px;
}

.pub-droit-accueil
{
	width:300px;
	float:right;
	padding:9px;
}

.content-cat-liste4
{
	width: 318px;
	float:right;
}

.cat-liste-seule4 {
    width: 318px;
    height: 211px;
    float: left;
    margin-bottom: 10px;
}

.cat-lg-titre4 {
    width: 272px;
    float: right;
    height: 20px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.cat-lg-titre4 a
{
	color:#000;
}

.cat-lg-titre4 a:hover
{
	color:#000;
	text-decoration:underline;
}

.image-cat-liste-seule4
{
	float:left;
	width:100%;
	height:135px;
	display:block;
	position:relative;
}

.image-cat-liste-seule4 img
{
	float:left;
	width:100%;
	height:100%;
}

h2.titre-liste-seule4
{
	display:inline-block;
	vertical-align:top;
}

.cat-liste-seule4 h2
{
	font-size:.9em;
	width:95%;
	font-weight:400;
	margin:10px;
}

.cat-lg-titre
{
	font-size:100%;
	height:350px;
	width:300px;
	margin-right:0;
	position:relative;
}

.wrapper-cat-lg
{
	width:47%;
	vertical-align:top;
	display:inline-block;
	float:left;
}

.cat-lg
{
	font-size:100%;
	height:350px;
	width:99%;
	position:relative;
	text-align:center;
	padding:2px;
}

.cat-lg img
{
	width:99%;
	height:250px;
}

.cat-lg h2.entry-title
{
	color:#000;
	font-size:1em;
	font-weight:400;
	text-align:left;
	padding:10px;
}

.cat-lg h2.entry-title a
{
	color:#000;
}

.cat-lg-titre2
{
	width:96%;
	padding:2%;
	float:right;
	margin-left:2%;
	height:20px;
	font-size:1em;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:10px;
}

.cat-lg-titre2 a
{
	color:#000;
}

.cat-lg-titre2 a:hover
{
	color:#000;
	text-decoration:underline;
}

.cat-lg-liste
{
	width:49%;
	padding:.7%;
	float:right;
	height:109px;
}

.image-cat-lg-liste
{
	float:left;
	width:35%;
}

.cat-lg-liste img
{
	float:left;
	width:100%;
	height:100%;
}

h2.titre-cat-lg-liste
{
	display:inline-block;
	vertical-align:top;
}

.cat-lg-liste h2
{
	font-size:.9em;
	margin-left:1.1rem;
	width:57%;
	font-weight:400;
}

.wrapper-categorie
{
	width:100%;
	overflow:hidden;
}

.categorie
{
	width:540px;
	padding:2%;
	float:left;
	position:relative;
	margin-bottom:20px;
	height:150px;
}

.categorie:nth-last-of-type(2),.categorie:nth-last-of-type(4),.categorie:nth-last-of-type(6),.categorie:nth-last-of-type(8),.categorie:nth-last-of-type(10),.categorie:nth-last-of-type(12),.categorie:nth-last-of-type(14),.categorie:nth-last-of-type(16),.categorie:nth-last-of-type(18),.categorie:nth-last-of-type(20)
{
	margin-left:20px;
}

.image-categorie
{
	float:left;
	width:50%;
	height:120px;
}

.categorie img
{
	float:left;
	width:100%;
	height:100%;
}

h2.titre-categorie
{
	display:inline-block;
	vertical-align:top;
}

.categorie h2
{
	font-size:1.1em;
	margin-left:2%;
	width:48%;
}

.categorie .pub-liste
{
	margin:4% 2% 0;
	width:92%;
	padding:2%;
	border-radius:3px;
	border:0 none;
	box-shadow:0 1px 2px rgba(43,59,93,0.29);
	background:#FFF;
	margin-left:auto;
	margin-right:auto;
	display:table;
	position:relative;
	text-align:center;
}

.primary-page
{
	overflow:hidden;
	width:1160px;
	float:left;
	padding:20px;
}

#primary
{
	overflow:hidden;
	width:810px;
	float:left;
	padding:20px;
	margin-bottom: 50px;
}

.entry-header h1
{
	font-size:2em;
}

#primary .bread
{
	float:left;
	margin-right:15px;
	font-size:1.5rem;
	margin-bottom:20px;
}

.info-post {
    width: 812px;
    height: 40px;
    float: left;
    color: #b5b5b5;
    font-size: 0.9em;
    border: 0.01em solid rgba(181, 181, 181, 0.46);
    margin-bottom: 15px;
    line-height: 1.5;
    text-transform: uppercase;
}
.info-post p {
    height: auto;
    width: auto;
    position: absolute;
    margin: 10px 15px;
    line-height: 1.7;
}

.author {
    float: left;
    height: 40px;
    width: 268px;
	border-right: 1px solid #CCC;
}
.entry-date {
    float: left;
    height: 40px;
    width: 268px;
	border-right: 1px solid #CCC;
}

.partage-count {
    height: 40px;
    width: 268px;
    float: left;
}
.partage-count img, .author img, .entry-date img{
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 5px;
}

.image-single
{
	margin-bottom:15px;
	text-align:center;
}

.entry-content p
{
	color:#444;
}
.entry-content a
{
	color:#0073aa;
}

.entry-content img {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 10px;
    border: 5px solid #E3E3E3;
}

#primary .share-button
{
	max-width:100%;
	margin-top:10px;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	width:100%;
}

#primary .share-button .facebook-button
{
	width:250px;
	height:60px;
	background-color:#2255ad;
	display:table;
	float:left;
}

#primary .share-button .facebook-button img
{
	width:50px;
	height:50px;
	float:left;
	left:10px;
}

#primary .share-button a.facebook-button
{
	color:#fff;
	text-decoration:none;
}

#primary .share-button .facebook-button p
{
	float:left;
	font-size:1.5em!important;
	color:#fff;
	margin:15px 0 0 15px;
}

#primary .share-button .twitter-button
{
	width:150px;
	height:60px;
	background-color:#41abe1;
	display:table;
	float:left;
	text-align:center;
}

#primary .share-button .twitter-button img
{
	width:40px;
	height:40px;
	margin-top:10px;
}

#primary .share-button .senego-contact
{
	width:370px;
	height:50px;
	background-color:#F5F1F1;
	display:table;
	float:left;
	padding:5px 20px;
	font-size:1em;
	font-weight:300;
	color:#000;
}

#primary .share-button .senego-contact a
{
	font-weight: bold;
	color: #000;
}

#primary .share-button .senego-contact i
{
	color: #000;
	float: left;
}

.appel-single {
    float: left;
    width: auto;
    height: 20px;
    font-size: 16px;
    color: #000;
    position: relative;
    margin: 5px 5px 5px 0;
}

.appel-single .info-appel{
	float:left;
}

.appel-single p {
    float: left;
    margin-left: 6px;
	color: #FF9007;
    margin-top: -2px;
    font-weight: bold;
    font-size: 20px;
}

.appel-single .icon-phone{
	background-image:url(/wp-content/themes/senego/images/icons/phone-icon.png);
	height:30px;
	width:30px;
	float:left;
	margin-top: -5px;
}

.wrapper-top-article
{
	width:48.5%;
	overflow:hidden;
	float:left;
	margin-bottom:20px;
	border:1px solid #EFECEC;
	height:380px;
}

.wrapper-top-article:nth-last-child(1),.wrapper-top-article:nth-last-child(3)
{
	float:right;
}

.image-top-article img
{
	width:385px;
	height:225px;
}

.image-top-article
{
	position:relative;
	width:98%;
	height:228px;
	display:block;
	margin-left:1%;
	margin-right:1%;
	margin-top:1%;
	text-align:center;
}

.wrapper-top-article h2.entry-title
{
	color:#000;
	font-size:1.2em;
	font-weight:700;
	margin:18px;
}

.wrapper-top-article h2.entry-title a
{
	color:#000;
}

.image-top-article img
{
	font-size:100%;
	width:100%;
	height:100%;
}

.num-top-article
{
	color:#FFF;
	font-size:20px;
	font-weight:700;
	background:#FF9007 none repeat scroll 0 0;
	z-index:2;
	width:23px;
	height:23px;
	left:15px;
	border-radius:100%;
	display:inline-block;
	text-align:center;
	position:absolute;
	top:15px;
	padding:5px;
	vertical-align:middle;
	border:4px solid #fff;
}

.widget-areas-single
{
	clear:none;
	float:right;
	width:330px;
}

.ad-right-single
{
	height:auto;
	width:auto;
	border:0;
	margin:10px;
}

.articles-list
{
	margin-bottom:20px;
	float:left;
	width:100%;
}

.nomcat
{
	width:96%;
	padding:3% 0 2% 4%;
	height:20px;
	font-size:1em;
	font-weight:700;
	text-transform:uppercase;
}

.wrapper-cat-sidebar
{
	width:100%;
	vertical-align:top;
	display:inline-block;
	float:left;
	margin-bottom:15px;
}

.cat-sidebar
{
	font-size:100%;
	height:350px;
	width:99%;
	position:relative;
	text-align:center;
	padding:2px;
}

.cat-sidebar img
{
	width:300px;
	height:250px;
	margin-top:10px;
}

.cat-sidebar h2.entry-title
{
	color:#000;
	font-size:1.2em;
	font-weight:400;
	text-align:left;
	padding:10px;
}

.cat-sidebar h2.entry-title a
{
	color:#000;
}

#right-column
{
	float:right;
	border:1px solid #000;
	margin:10px;
	width:300px;
}

#left-column
{
	float:left;
	border:1px solid #000;
	margin:10px;
	width:300px;
}

#related-posts
{
	padding:5px 0;
	margin:0;
	float:right;
	width:100%;
}

.related-posts
{
	font-size:100%;
	width:31%;
	height:auto;
	margin-bottom:15px;
	float:left;
	margin-left:14px;
}

.related-posts img
{
	font-size:100%;
	width:100%;
	height:159px;
}

.related-posts h2.entry-title
{
	font-size:15px;
	font-weight:400;
	bottom:5%;
	color:#151111;
	height:90px;
	padding:5px 10px;
	text-align:left;
}

.right-cat-content-2
{
	padding:0;
	margin:0;
	float:right;
	width:44.5%;
}

.right-cat-content
{
	padding:0;
	margin:0;
	float:right;
	width:57.5%;
}

.right-cat
{
	font-size:100%;
	height:auto;
	margin-bottom:15px;
	float:left;
	width:100%;
}

.right-cat-pub
{
	float:left;
	width:47%;
	height:315px;
	margin-bottom:15px;
	margin-left:18px;
	text-align:center;
}

.right-cat img
{
	width:100%;
	min-height:250px;
}

.right-cat h2.entry-title
{
	color:#151111;
	padding:5px 10px 15px;
	font-size:150%;
	font-weight:700;
	margin:0;
}

.titre-pub-2
{
	text-align:center;
	font:1em/1.6em;
	color:#000;
	font-size:12px;
	border-top:1px solid #E9E9E9;
}

#cat-line-2
{
	padding:5px 0;
	margin:0;
	float:right;
	width:100%;
	border-left:1px solid #E9E9E9;
}

.cat-line-2
{
	font-size:100%;
	width:47%;
	height:285px;
	margin-bottom:15px;
	float:left;
	margin-left:3%;
}

.cat-line-2 img
{
	font-size:100%;
	width:100%;
	height:auto;
}

.cat-line-2 h2.entry-title
{
	font-size:16px;
	font-weight:400;
	bottom:5%;
	padding:10px;
	color:#151111;
	height:80px;
	width:100%;
}

.trait-horizontal-sans-marge
{
	margin:0;
	float:left;
	width:100%;
	border-bottom:1px solid #E9E9E9;
}

.trait-horizontal
{
	margin-top:10px;
	margin-bottom:0;
	float:left;
	width:100%;
	border-bottom:1px solid #E9E9E9;
}

.col-pub-liste
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px 0;
	width:100%;
	min-height:300px;
	display:inline-block;
	margin-bottom:10px;
	border-radius:5px;
}

.single-pub-droite
{
	text-align:center;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	margin-bottom:15px;
	padding:15px 0;
}

.col-pub-bas
{
	margin-top:35px;
	float:left;
	width:100%;
	border:0;
}

.titre-pub {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    height: 10px;
    padding: 10px 0;
}

.pub-dans-contenu
{
	width:100%;
	float:left;
	text-align:center;
	margin-bottom:20px;
}

.pub-bas-content
{
	width:100%;
	float:left;
	text-align:center;
	margin-bottom:20px;
}

.pub-bas-centre
{
	width:336px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:15px;
}

.pub-bas-gauche
{
	width:336px;
	height:300px;
	float:left;
	display:block;
	margin-top:15px;
}

.pub-bas-droite
{
	width:336px;
	height:300px;
	float:right;
	display:block;
	margin-top:15px;
}

.image-en-direct-liste
{
	width:100%;
	height:auto;
	display:block;
	float:left;
}

hashtag-twiiter
{
	margin:0 0 15px;
	float:right;
	width:100%;
	border:1px solid #E8E8E8;
}

#widget-right
{
	margin:0;
	float:right;
	max-width:44.5%;
}

#actu-direct
{
	margin:0 0 15px;
	float:right;
	width:100%;
	border-right:1px solid #E8E8E8;
	border-top:1px solid #E8E8E8;
	border-left:1px solid #E8E8E8;
	background:#fff;
}

.actu-direct
{
	font-size:100%;
	width:100%;
	height:auto;
	float:left;
	border-bottom:1px solid #E8E8E8;
	padding:10px!important;
}

.actu-image-en-direct
{
	width:24%;
	height:79px;
	display:block;
	float:left;
}

.actu-direct img
{
	width:100%!important;
	height:100%;
}

.actu-direct h2.entry-title
{
	clear:none!important;
	font-size:15px;
	float:left;
	font-weight:700;
	color:#151111;
	position:relative;
	width:68%;
	margin:0 10px 10px;
	height:40px;
	display:block;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
}

.actu-direct h2.entry-title:after
{
	content:"\02026";
}

.titre-continu
{
	border-bottom:3px solid #FF9007;
	font-size:16px;
	letter-spacing:1px;
	text-transform:uppercase;
	margin:0 0 5px;
	font-weight:700;
	float:left;
	width:100%;
}

.titre-continu p
{
	background:#FF9007 none repeat scroll 0 0;
	float:left;
	margin-bottom:0;
	padding:5px 10px 2px;
	color:#fff;
}

.entete-horizontale
{
	float:left;
	width:97.4%;
	margin-bottom:10px;
	padding-left:1.25%;
	padding-right:1.25%;
	height:50px;
	border:1px solid #EFECEC;
}

.entete-horizontale p
{
	float:left;
	color:#FF9007;
	font-weight:500;
	text-transform:uppercase;
	font-size:20px;
	margin:18px 12px 0;
}

.appel {
	float:right;
	width:auto;
	height:20px;
	font-size:16px;
	color: #FF9007;
	position:relative;
	margin:12px;
	padding:5px;
}

.appel .info-appel{
	float:left;
	margin-left: 5px;
	color: #000;
}

.appel p {
    float: left;
    margin-left: 6px;
	color: #FF9007;
    margin-top: -2px;
    font-weight: bold;
    font-size: 20px;
}

.appel .icon-phone{
	background-image:url(/wp-content/themes/senego/images/icons/phone-icon.png);
	height:30px;
	width:30px;
	float:left;
	margin-top: -5px;
}

.counter
{
	float:right;
	width:200px;
	height:20px;
	font-size:16px;
	color:#fff;
	position:relative;
	background:#FF9007 none repeat scroll 0 0;
	margin:12px;
	padding:5px;
}

.counter #wau_wid_bdf5d348{
	float:left;
	margin-left: 5px;
}
.counter p {
    float: left;
    margin-left: 6px;
	font-size:13px;
    color: #fff;
    margin-top: 2px;
} 

.entete-horizontale .buzz-icon
{
	background-image:url(/wp-content/themes/senego/images/icons/top.png);
	height:40px;
	width:40px;
	float:left;
	margin-top:5px;
}

.entete-carre
{
	float:left;
	width:100%;
	margin-bottom:10px;
	border-radius:3px;
	border:0 none;
	display:block;
	box-shadow:0 0 2px 0 rgba(43,59,93,0.29);
	background:#FFF none repeat scroll 0 0;
	overflow:hidden;
	padding:5px 0;
}

.entete-carre p
{
	float:left;
	padding:5px 10px 2px;
	color:#FF9007;
	font-size:20px;
	font-weight:500;
	margin:5px 0 0;
	text-transform:uppercase;
}

.result-search
{
	float:left;
	width:100%;
	margin-bottom:10px;
	border-radius:3px;
	border:0 none;
	display:block;
	box-shadow:0 0 2px 0 rgba(43,59,93,0.29);
	background:#FFF none repeat scroll 0 0;
	overflow:hidden;
}

.result-search p
{
	float:left;
	padding:5px 10px 2px;
	color:#FF9007;
	font-size:20px;
	font-weight:500;
	margin:8px 0 0;
	text-transform:none;
}

.result-search i
{
	background:#FF9007 none repeat scroll 0 0;
	float:left;
	text-align:center;
	width:40px;
	height:40px;
	border-radius:100%;
	font-size:20px;
	margin:5px 0 5px 10px;
	color:#fff;
}

.icon-news
{
	background:#FF9007 none repeat scroll 0 0;
	float:left;
	text-align:center;
	width:40px;
	height:40px;
	border-radius:100%;
	margin:5px 0 5px 10px;
	padding-left:3px;
}

.partage-home
{
	width:auto;
	float:right;
}

.partage-home .facebook
{
	margin-right:10px;
}

.partage-home .fa-facebook-square,.partage-home .fa-twitter
{
	margin-right:5px;
}

.facebook-jaime
{
	float:left;
	margin:6px 0 0 15px;
}

.avez-vous
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:15px;
}

.float-left-info
{
	float:left;
}

.meta-style
{
	float:left;
	height:auto;
	width:100%;
	margin:5px 0;
}

.wpcf7 input,.wpcf7 textarea
{
	font-size:16px;
	font-weight:500;
	position:relative;
	border-radius:5px;
	box-sizing:content-box;
	border:1px solid #D4D4D4;
	box-shadow:0 1px 4px 0 rgba(168,168,168,0.6) inset;
	margin-top:4px;
	padding:10px;
}

.widget-areas-middle
{
	clear:none;
	float:right;
	max-width:58%;
}

.post-thumb2
{
	position:relative;
}

.widget-areas-middle .middle
{
	margin-bottom:20px;
	float:left;
}

.post-thumb2 img
{
	width:100%;
}

.icon-video
{
	position:absolute;
	z-index:2;
	left:40%;
	width:40px;
	height:40px;
	background-image:url(/wp-content/themes/senego/images/play-video-2.png);
	top:35%;
}

.icon-photos
{
	position:absolute;
	z-index:2;
	left:40%;
	width:40px;
	height:40px;
	background-image:url(/wp-content/themes/senego/images/icon-photos.png);
	top:35%;
}




button,input[type="button"],input[type="reset"],input[type="submit"]
{
	padding:10px 20px;
}

#respond p.comment-form-comment textarea
{
	margin-top:20px;
}

li> ul,li> ol
{
	margin-bottom:0;
	margin-left:20px;
}

p
{
	margin-bottom:20px;
}

.widget
{
	margin:0 0 20px;
}

.main-navigation ul ul a
{
	margin:0 0 0 20px;
}

blockquote
{
	margin:40px 0;
}

address
{
	margin:0 0 20px;
}

pre
{
	margin-bottom:20px;
	padding:20px;
}

.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6
{
	margin:20px 0;
}


#comments {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    float: left;
    width: 810px;
}
.comment {
    list-style: outside none none;
    position: relative;
    margin: 0 0 2%;
    border: 1px solid #EFECEC;
    float: left;
    width: 780px;
    padding: 15px;
}

.comment-body {
	float: left;
}
.comment p {
	font-style: italic;
    float: left;
    width: 100%;
}
.comment p:first-letter {
    text-transform: uppercase;
}

.comment cite {
	font-style: normal;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

.comment .says {
	font-style: normal;
    padding: 15px 0;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    color: #ccc;
}

.comment-meta {
    padding: 0;
    float: left;
    color: #ccc;
    margin: 17px;
    font-size: 13px;
    height: 30px;
}
.comment-meta a{
    color: #CCC;
}
.comment-author {
	float: left;
	}
img.avatar {
    float: left;
    width: 50px;
    height: 50px;
}
.auteur-com {
    float: left;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #606060;
    line-height: 3.9rem;
    font-weight: bold;
}

.comment-content {
    display: block;
    width: 97%;
    margin: 0 1.5%;
    float: left;
    position: relative;
}
.comment-content p {
    font-size: 1.7rem !important;
    font-weight: 400;
    width: 100%;
    border-top: 1px solid #E3E1E1;
    padding-top: 5px;
    float: left;
    text-align: left !important;
    color: #6C6C6C;
    font-style: italic;
}


.comment-content p:first-letter {
    text-transform: uppercase;
}
.comment-meta-bas {
    width: 100%;
    line-height: 1.5;
    float: left;
    margin: 10px 0;
    font-size: 1.3rem;
}
.reply {
    float: left;
    margin-top: 10px;
}
.reply a{
    color: #ccc;
}
.reply a
{
	padding:0;
}
.date-com{
	float: left;
    padding: 0;
    color: #ccc;
}

#comments .children {
    background: #f8f6f6;
    float: right;
    width: 710px;
    padding: 15px;
    margin-top: 15px;
    margin-left: 0;
    }

.children .comment {
    margin: 0;
    padding: 0;
    border: none;
    width: 710px;
}

.children .comment-content {
    display: block;
    width: 97%;
    margin: 0 1.5%;
    float: left;
    position: relative;
}
.children .comment-content p {
    font-size: 1.7rem !important;
    font-weight: 400;
    width: 100%;
    border-top: 1px solid #E3E1E1;
    padding-top: 5px;
    float: left;
    text-align: left !important;
    color: #6C6C6C;
    font-style: italic;
}

.children .gravatar {
	width: 40px;
	height: 40px;
} 
.comment .children img {
	width: 40px;
	height: 40px;
}


a
{
	color:#333;
	text-decoration:none;
}


table
{
	border-collapse:separate;
	border-spacing:0;
	border-width:1px 0 0 1px;
	margin:0;
	width:100%;
}

table,th,td
{
	border:1px solid rgba(0,0,0,0.1);
}

caption,th,td
{
	font-weight:400;
}

th
{
	border-width:1px;
	font-weight:700;
	padding:5px 10px;
}

td
{
	border-width:1px;
	padding:0;
}

body,button,input,select,textarea
{
	color:#333;
	font-size:18px;
	font-size:1.8rem;
	line-height:130%;
	word-wrap:break-word;
}

h1,h2,h3,h4,h5,h6
{
	clear:both;
	color:#111;
	font-weight:900;
}

.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6
{
	margin:10px 0;
}

p
{
	margin-bottom:5px;
}

b,strong
{
	font-weight:700;
	font-size: 2.2rem;
}

dfn,cite,em,i
{
	font-style:italic;
}

blockquote
{
	clear:both;
	display:inline-block;
	font-style:italic;
	margin:5px 0;
	opacity:.5;
}

blockquote p
{
	margin-left:80px;
}

blockquote:before
{
	content:'\f106';
	float:left;
	font-size:400%;
	font-style:normal;
	font-weight:400;
	opacity:.4;
}

address
{
	margin:0 0 5px;
}

pre
{
	font-size:14px;
	font-size:1.4rem;
	margin-bottom:5px;
	max-width:100%;
	overflow:hidden;
	padding:5px;
}

code,kbd,tt,var
{
	font-size:14px;
	font-size:1.4rem;
}

abbr,acronym
{
	cursor:help;
}

mark,ins
{
	text-decoration:none;
}

sup,sub
{
	font-size:75%;
	height:0;
	position:relative;
	vertical-align:baseline;
}

sup
{
	bottom:1ex;
}

sub
{
	top:.5ex;
}

small
{
	font-size:75%;
}

big
{
	font-size:125%;
}

h1.site-title
{
	font-size:73px;
	font-size:7.3rem;
}

.site-description
{
	opacity:.5;
}

h1
{
	font-size:52px;
	font-size:5.2rem;
}

h2
{
	font-size:47px;
	font-size:4.7rem;
}

h3
{
	font-size:32px;
	font-size:3.2rem;
}

h4
{
	font-size:29px;
	font-size:2.9rem;
}

h1.widget-title,h5
{
	font-size:20px;
	font-size:2rem;
}

h6
{
	font-size:18px;
	font-size:1.8rem;
}

#infinite-footer .blog-info,#infinite-footer .blog-credits,#infinite-handle span
{
	font-weight:700;
	text-transform:uppercase;
}

.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer
{
	display:none;
}

#menu-bas {
    border-top: 1px solid #AAA;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 9;
    font-size: 14px;
    background: #FFF none repeat scroll 0 0;
    box-shadow: 0 0 5px #888;
    border-bottom: 4px solid #FF9007;
    display: block;
}

#manu-bas .container
{
	border-left:1px solid #A6B4BB;
	border-right:1px solid #A6B4BB;
}

.menu-footer
{
	float:left;
	margin:0 10px;
	padding-right:10px;
	color:#000;
	border-right:1px solid #A6B4BB;
}

.menu-footer a
{
	color:#000;
}

.pull-right
{
	float:right;
	margin:0 15px;
	padding-left:10px;
	color:#000;
	border-left:1px solid #A6B4BB;
}

#manu-bas .container a
{
	color:#000;
}

html
{
	font-size:55%;
}

.hentry
{
	padding:0;
}

.wp-caption
{
	margin-bottom:20px;
}

#colophon
{
	padding:40px 0;
}

#masthead
{
	padding:0;
}

h1.widget-title
{
	margin-bottom:10px;
}

.button-block
{
	margin:0 -60px 0 0;
}

button,input[type="button"],input[type="reset"],input[type="submit"]
{
	padding:5px 10px;
}

#respond p.comment-form-comment textarea
{
	margin-top:10px;
}


p
{
	margin-bottom:10px;
}

.main-navigation ul ul a
{
	margin:0 0 0 10px;
}

blockquote
{
	margin:20px 0;
}

address
{
	margin:0 0 10px;
}

pre
{
	margin-bottom:10px;
	padding:10px;
}

.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6
{
	margin:10px 0;
}
#crumbs {
	margin-bottom: 20px;
}
widget-areas-right
{
	clear:none;
	width:27%;
}

#site-branding
{
	padding-top:40px;
}

.comment-navigation .nav-previous,.paging-navigation .nav-previous,.post-navigation .nav-previous
{
	float:left;
	margin-bottom:0;
	width:48%;
}

.comment-navigation .nav-next,.paging-navigation .nav-next,.post-navigation .nav-next
{
	float:right;
	margin-top:0;
	width:48%;
}

img.alignright
{
	margin-left:10px;
}

img.alignleft
{
	margin-right:10px;
}

h1.site-title,h1
{
	font-size:100%;
}

h2
{
	font-size:160%;
}

h3
{
	font-size:150%;
}

h4
{
	font-size:140%;
}

h1.widget-title,h5
{
	font-size:130%;
}

h6
{
	font-size:100%;
}


#respond label
{
	width:47%;
	font-weight:700;
}

.comment-form-author
{
	width:47%;
	float:left;
	padding-left:0!important;
	padding-right:0;
}

#email,#author
{
	width:100%;
}

.comment-form-email
{
	width:47%;
	float:right;
	padding-left:0!important;
	padding-right:15px;
}

#commentform
{
	border-radius:0 0 3px 3px;
	border:0 none;
	display:block;
	overflow:hidden;
	padding:15px;
	width:auto;
	border:1px solid #DDD;
	border-radius:3px;
}

commentform p
{
	width:90px;
	margin:0 auto;
}

.montrer
{
	width:100%;
	height:300px;
	border:solid 1px #000;
}

#commentform textarea
{
	font-size:16px;
	font-weight:500;
	position:relative;
	height:80px;
	border-radius:5px;
	box-sizing:content-box;
	border:1px solid #D4D4D4;
	box-shadow:0 1px 4px 0 rgba(168,168,168,0.6) inset;
	margin-top:4px;
	padding:10px;
	width:96%;
}

#commentform input
{
	font-size:16px;
	font-weight:500;
	position:relative;
	height:20px;
	border-radius:5px;
	box-sizing:content-box;
	border:1px solid #D4D4D4;
	box-shadow:0 1px 4px 0 rgba(168,168,168,0.6) inset;
	margin-top:4px;
	padding:10px;
	width:95%;
}

.comment-form-author .author
{
	font-size:16px;
	font-weight:500;
	position:relative;
	height:80px;
	border-radius:5px;
	box-sizing:content-box;
	border:1px solid #D4D4D4;
	box-shadow:0 1px 4px 0 rgba(168,168,168,0.6) inset;
	margin-top:4px;
	padding:10px;
	width:95.8%;
}

.entete-comment
{
	float:left;
	margin:10px 0;
	width:99.87%;
	border:1px solid #DDD;
	border-radius:3px;
	padding:5px 0;
}

.entete-comment p
{
	float:left;
	padding:5px 10px 2px;
	color:#FF9007;
	font-size:20px;
	font-weight:500;
	margin:8px 0 0;
	text-transform:uppercase;
}

.entete-comment .comment-icon
{
	display:inline-block;
	background-image:url(images/icons/comment1.png);
	height:40px;
	width:40px;
	float:left;
	margin-left:15px;
}

.entete-commentaire-liste {
    float: left;
    margin: 0 0 15px;
    width: 99.87%;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 5px 0;
}

.entete-commentaire-liste p
{
	float:left;
	padding:5px 10px 2px;
	color:#FF9007;
	font-size:20px;
	font-weight:500;
	margin:8px 0 0;
	text-transform:uppercase;
}

.entete-commentaire-liste .comment-icon
{
	display:inline-block;
	background-image:url(images/icons/comment1.png);
	height:40px;
	width:40px;
	float:left;
	margin-left:15px;
}