body {
        font: 12px Arial, sans-serif;
        color: #3a3a3a;
        background: #f7f8fa url(../images/bg.jpg) repeat-x top;
        margin: 0;
}

a {
        color: #5a5e5e;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

a:active {
        text-decoration: none;
        border: 0;
}
a.bluelink {color: #37C1E5; } 
ul, form {
        margin:0;
        padding:0;
}

#container {
        width: 926px;
        margin-left: auto;
        margin-right: auto;
}

#container-big {
        width: 962px;
        margin-left: auto;
        margin-right: auto;
}

#header {
        float: left;
        width: 926px;
}

#header-bg {
        float: left;
        width: 962px;
}

#logo {
        float: left;
        width: 215px;
        height: 64px;
        margin-top: 33px;
}

#navigation {
        float: right;
        width: 601px;
        height: 36px;
                background: url("../images/top.jpg");
                background-repeat:repeat-x;
        background-position:right top;
}


#navigation2 li{
        Height: 36px;
        background: url("../images/sep.jpg") no-repeat;
        background-position:right top;
}

#navigation .lang {
        float: left;


        margin-left: 10px;
}

#navigation .lang ul {
        width:90px;
        position: absolute;
        list-style:none;
        margin-top:7px;
}

#navigation .lang ul li {
        text-align:left;
        padding:3px;
}

#navigation .lang ul li a {
        color:#fff;
        text-decoration:none;
        display:block;
        width:100%;
}

#navigation .lang ul li.top a {
        color: #444;
}

#navigation .lang img {
        border:none;
        margin-right:3px;
}

#navigation .lang ul li {
        display:none;
        background:#424242;
        border:1px solid transparent;
}

#navigation .lang ul .top {
        display:block;
        background:none;
        border:none;
}

#navigation .lang ul li:hover {
        border-color:#555;
}

#navigation .lang ul:hover li {
        display:block;
}
#navigation2{
        float: right;
        height: 36px;
        background: url("../images/r_right.jpg") no-repeat;
        background-position:left top;

        display:inline-block;

        
}
.links {
        float: right;

        padding-right:25px;
        background: url("../images/l_right.jpg") no-repeat;
        background-position:right top;
        padding-left:25px;


}

#navigation2 .links a {
        float: left;
        padding-right: 12px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        background: url("../images/sep.jpg") no-repeat;
        background-position:right top;
        display:inline-block;
        height:39px;
        line-height:25px;
        padding-left:12px;
}
#navigation2 .links a.first {
        float: left;
        padding-right: 12px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        background:none;
        background-position:right top;
        display:inline-block;
        height:39px;
        line-height:25px;
        padding-left:12px;
}


#navigation2 .links a:hover {
        text-decoration: underline;
}

#navigation .links a:active {
        text-decoration: none;
        border: 0;
}

#navigation-logged {
        float: right;
        width: 700px;
        height: 36px;
        
}

.lang {
        float: left;
        margin-top: 7px;
        padding-left:10px;
}

.lang ul {
        width:90px;
        position: absolute;
        list-style:none;
        z-index: 2;
}

.lang ul li {
        text-align:left;
        padding:3px;
}

.lang ul li a {
        color:#fff;
        text-decoration:none;
        display:block;
        width:100%;
}

.lang ul li.top a {
        color: #444;
}

.lang img {
        border:none;
        margin-right:3px;
}

.lang ul li {
        display:none;
        background:#424242;
        border:1px solid transparent;
}

.lang ul .top {
        display:block;
        background:none;
        border:none;
}

.lang ul li:hover {
        border-color:#555;
}

.lang ul:hover li {
        display:block;
}

#navigation-logged .links {
                float: right;

        padding-right:25px;
        background: url("../images/l_right.jpg") no-repeat;
        background-position:right top;
        padding-left:25px;
        
}

#navigation-logged .links a {
        float: left;
        padding-right: 18px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
}

#navigation-logged .links a:hover {
        text-decoration: underline;
}

#navigation-logged .links a:active {
        text-decoration: none;
        border: 0;
}

#navigation-big {
        float: right;
        width: 341px;
        height: 36px;
        background: url("../images/navigation.png") no-repeat;
}

#navigation-big .lang {
        float: left;
        margin-top: 7px;
        margin-left: 10px;
}

#navigation-big .lang ul {
        width:90px;
        position: absolute;
        list-style:none;
}

#navigation-big .lang ul li {
        text-align:left;
        padding:3px;
}

#navigation-big .lang ul li a {
        color:#fff;
        text-decoration:none;
        display:block;
        width:100%;
}

#navigation-big .lang ul li.top a {
        color: #444;
}

#navigation-big .lang img {
        border:none;
        margin-right:3px;
}

#navigation-big .lang ul li {
        display:none;
        background:#424242;
        border:1px solid transparent;
}

#navigation-big .lang ul .top {
        display:block;
        background:none;
        border:none;
}

#navigation-big .lang ul li:hover {
        border-color:#555;
}

#navigation-big .lang ul:hover li {
        display:block;
}

#navigation-big .links {
        float: left;
        margin-top: 6px;
        margin-left: 114px;
}

#navigation-big .links a {
        float: left;
        padding-right: 24px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
}

#navigation-big .links a:hover {
        text-decoration: underline;
}

#navigation-big .links a:active {
        text-decoration: none;
        border: 0;
}


#top_ad_logged {
        float:right;
        margin-right:60px;
}
#top_ad {
        margin-top:10px;
        float:right;
        margin-right:20px;
}
.trf {
        height:11px;
        width:16px;
        background-image:url("../images/flags.png");
        background-repeat:no-repeat;
        overflow:hidden;
        display:inline-block;
        margin-right:3px;
        #padding-top: 2px;
}

.trf-za {
        background-position:-24px 0;
}

.trf-al {
        background-position:-48px 0;
}

.trf-arabic {
        background-position:-72px 0;
}

.trf-by {
        background-position:-96px 0;
}

.trf-bg {
        background-position:-120px 0;
}

.trf-catalonia {
        background-position:-144px 0;
}

.trf-cn {
        background-position:-168px 0;
}

.trf-tw {
        background-position:-192px 0;
}

.trf-hr {
        background-position:-216px 0;
}

.trf-cz {
        background-position:-240px 0;
}

.trf-dk {
        background-position:-264px 0;
}

.trf-nl {
        background-position:-288px 0;
}

.trf-ee {
        background-position:-312px 0;
}

.trf-fi {
        background-position:-336px 0;
}

.trf-french {
        background-position:-360px 0;
}

.trf-galicia {
        background-position:-384px 0;
}

.trf-german {
        background-position:-408px 0;
}

.trf-gr {
        background-position:-432px 0;
}

.trf-il {
        background-position:-456px 0;
}

.trf-in {
        background-position:-480px 0;
}

.trf-hungary {
        background-position:-504px 0;
}

.trf-indonesia {
        background-position:-528px 0;
}

.trf-it {
        background-position:-552px 0;
}

.trf-is {
        background-position:-576px 0;
}

.trf-ie {
        background-position:-600px 0;
}

.trf-japan {
        background-position:-624px 0;
}

.trf-kr {
        background-position:-648px 0;
}

.trf-lv {
        background-position:-672px 0;
}

.trf-lt {
        background-position:-696px 0;
}

.trf-mk {
        background-position:-720px 0;
}

.trf-my {
        background-position:-744px 0;
}

.trf-mt {
        background-position:-768px 0;
}

.trf-no {
        background-position:-792px 0;
}

.trf-ir {
        background-position:-816px 0;
}

.trf-polish {
        background-position:-840px 0;
}

.trf-pt {
        background-position:-864px 0;
}

.trf-ro {
        background-position:-888px 0;
}

.trf-russian {
        background-position:-912px 0;
}

.trf-rs {
        background-position:-936px 0;
}

.trf-sk {
        background-position:-960px 0;
}

.trf-sl {
        background-position:-984px 0;
}

.trf-spanish {
        background-position:-1008px 0;
}

.trf-ke {
        background-position:-1032px 0;
}

.trf-se {
        background-position:-1056px 0;
}

.trf-ph {
        background-position:-1080px 0;
}

.trf-thai {
        background-position:-1104px 0;
}

.trf-turkish {
        background-position:-1128px 0;
}

.trf-ua {
        background-position:-1152px 0;
}

.trf-vn {
        background-position:-1176px 0;
}

.trf-wales {
        background-position:-1200px 0;
}

.trf-europeanunion {
        background-position:-1224px 0;
}

#utmodes {
        width: 500px;
}

#content {
        float: left;
        width: 926px;
        
        margin-top: 23px;
        
}

#bcontent {
        float: left;
        width: 926px;
        margin-top: 33px;
}

#content .icon {
        float: left;
        width: 159px;
        height: 125px;
        margin-top: 74px;
        margin-left: 58px;
        background: url("../images/icon.png") no-repeat;
		}
/* pre-holiday
#content .icon {
        float: left;
        width: 150px;
        height: 300px;
        margin-top: 1px;
        margin-left: 1px;
        background: url("../images/icon_holiday.jpg") no-repeat;
}
*/
#content .info {
        float: right;
        margin-top: 30px;
        margin-right: 32px;
}

#content .upload-video {
        float: left;
        width: 259px;
        height: 36px;
        margin-top: 68px;
                margin-left: 42px;
        background: url("../images/upload-video.jpg") no-repeat;
}
/*pre-holiday
#content .upload-video { 
        float: left;
        width: 300px;
        height: 103px;
        margin-top: 1px;
                margin-left: 1px;
        background: url("../images/upload-video1.jpg") no-repeat;
}*/
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
/*Ram add*/
#content .upload-affad {
        float: left;
        width: 453px;
        height: 60px;
        margin-top: 0px;
                margin-left: 42px;
        /* background: url("../images/aff_main.png") no-repeat;*/
}


.mid_content .icon {
        float: left;
        width: 159px;
        height: 125px;
        margin-top: 74px;
        margin-left: 58px;
       background: url("../images/icon.png") no-repeat;
}

.mid_content .info {
        float: right;
        margin-top: 30px;
        margin-right: 32px;
}

.mid_content .upload-video {
        float: left;
        width: 259px;
        height: 36px;
        margin-top: 68px;
        background: url("../images/upload-video.jpg") no-repeat;
}

.mid_content .download-file {
        float: left;
        width: 917px;
        margin-top: 35px;
        margin-left: 45px;
        font-size: 22px;
        color: #555555;
}

.mid_content .requested-file {
        float: left;
        width: 917px;
        margin-top: 7px;
        margin-left: 45px;
        color: #555555;
}

.mid_content .requested-file a {
        color: #2facd2;
        text-decoration: none;
}

.mid_content .requested-file a:hover {
        text-decoration: underline;
}

.mid_content .premium-download {
        float: left;
        margin-top: 55px;
        margin-left: 481px;
}

.mid_content .free-download {
        float: right;
        margin-top: -39px;
        margin-left: 24px;
}

.mid_content .prices {
        float: left;
        width: 822px;
        height: 316px;
        margin-top: 50px;
        margin-left: 65px;
        background: url("../images/prices.png") no-repeat;
}

.mid_content .prices .description {
        float: left;
        width: 230px;
        margin-top: 54px;
        margin-left: 20px;
        color: #696969;
}

.mid_content .prices .description .line {
        float: left;
        width: 230px;
        margin-top: 9px;
}

.mid_content .prices .free {
        float: left;
        width: 185px;
        margin-top: 54px;
        margin-left: 3px;
        color: #696969;
}

.mid_content .prices .free .line {
        float: left;
        width: 185px;
        margin-top: 9px;
        text-align: center;
}

.mid_content .prices .free .line-i {
        float: left;
        width: 185px;
        margin-top: 11px;
        text-align: center;
}

.mid_content .prices .premium {
        float: left;
        width: 194px;
        margin-top: 54px;
        margin-left: 2px;
        color: #696969;
}

.mid_content .prices .premium .line {
        float: left;
        width: 194px;
        margin-top: 9px;
        text-align: center;
}

.mid_content .prices .premium .line-i {
        float: left;
        width: 194px;
        margin-top: 11px;
        text-align: center;
}

.mid_content .prices .registered {
        float: left;
        width: 183px;
        margin-top: 54px;
        margin-left: 2px;
        color: #696969;
}

.mid_content .prices .registered .line {
        float: left;
        width: 183px;
        margin-top: 9px;
        text-align: center;
}

.mid_content .prices .registered .line-i {
        float: left;
        width: 183px;
        margin-top: 11px;
        text-align: center;
}

#bcontent .plans {
        float: left;
        width: 847px;
        height: 168px;
        margin-top: 30px;
        background: url("../images/plans.png") no-repeat;
        padding-left:118px;
        margin-bottom:50px;
}

#bcontent .plans .font1 {
font-family: arial;
font-style:bold;
font-size:19px;
color:#424141;
}

#bcontent .plans .font2 {
font-family: arial;
font-size:13px;
color:#646363;
}

#bcontent .plans .price {
        margin-top:20px;
        margin-left:30px;
}

#bcontent .plans .duration {
        margin-top:30px;
        margin-left:25px;

}

#bcontent .prices {
        float: left;
        width: 822px;
        height: 316px;
        margin-top: 30px;
        background: url("../images/prices.png") no-repeat;
}

#bcontent .prices .description {
        float: left;
        width: 230px;
        margin-top: 54px;
        margin-left: 20px;
        color: #696969;
}

#bcontent .prices .description .line {
        float: left;
        width: 230px;
        margin-top: 9px;
}

#bcontent .prices .free {
        float: left;
        width: 185px;
        margin-top: 54px;
        margin-left: 3px;
        color: #696969;
}

#bcontent .prices .free .line {
        float: left;
        width: 185px;
        margin-top: 9px;
        text-align: center;
}

#bcontent .prices .free .line-i {
        float: left;
        width: 185px;
        margin-top: 11px;
        text-align: center;
}

#bcontent .prices .premium {
        float: left;
        width: 194px;
        margin-top: 54px;
        margin-left: 2px;
        color: #696969;
}

#bcontent .prices .premium .line {
        float: left;
        width: 194px;
        margin-top: 9px;
        text-align: center;
}

#bcontent .prices .premium .line-i {
        float: left;
        width: 194px;
        margin-top: 11px;
        text-align: center;
}

#bcontent .prices .registered {
        float: left;
        width: 183px;
        margin-top: 54px;
        margin-left: 2px;
        color: #696969;
}

#bcontent .prices .registered .line {
        float: left;
        width: 183px;
        margin-top: 9px;
        text-align: center;
}

#bcontent .prices .registered .line-i {
        float: left;
        width: 183px;
        margin-top: 11px;
        text-align: center;
}

#upload_div {
        float: left;
        width: 575px;
        margin-top: 35px;
        margin-left: 42px;
}

.upload_block {
        height:180px;
        min-height:180px;
}

html>body .upload_block {
        height:auto;
}

#progress_div {
        position:absolute;
        top:-9999px;
}

#div_ff {
        position:static;
        top:-9999px;
}

#div_url, #div_rs, #div_tt, #div_file, #div_ftp {
        position:absolute;
        top:-9999px;
}

#optidiv, #optidiv2 {
        position:absolute;
        top:-9999px;
        margin-top:7px;
        padding:3px;
}

.terms {
        float: left;
        margin-top: 20px;
}

.upload {
        float: left;
}

#tos {
        float: left;
        margin-top: 20px;
        margin-left: 40px;
}

.tos {
        float: left;
        margin-top: 20px;
        margin-left: 3px;
        font-size: 14px;
        text-decoration: underline;
        color: #2faed5;
}

.submit {
        float: left;
        margin-left: 172px;
}

.recipientemail {
        float: left;
        width: 195px;
        height: 30px;
        margin-left: 3px;
        line-height: 25px;
        padding-left: 5px;
        background: url("../images/recipientemail.png") no-repeat;
        border: 0;
}

.linkpassword {
        float: left;
        width: 135px;
        height: 30px;
        line-height: 25px;
        padding-left: 5px;
        background: url("../images/linkpassword.png") no-repeat;
        border: 0;
}

.retext {
        float: left;
        margin-top: 7px;
        font-size: 13px;
}

.lptext {
        float: left;
        margin-top: 7px;
        /*margin-left: 32px;*/
        margin-left: 0px;
        margin-right:-1px;
        font-size: 13px;
}

#footer {
        float: left;
        width: 926px;
        margin-top: 25px;
        margin-bottom:100px;

}

#footer ul {
        float: left;
        list-style: none;
}

#footer ul li {
        float: left;
}

#footer .separator {
        float: left;
        margin-left: 5px;
        padding-right: 5px;
}

#footer .info {
        float: left;
        margin-left: 226px;
        font-size: 10px;
        color: #bbbbbb;
}

#footer .logo {
        float: left;
        width: 97px;
        height: 27px;
        margin-top: -7px;
        margin-left: 14px;
}

.uploadifyQueueItem {
        font: 11px Verdana, Geneva, sans-serif;
        border: 1px solid #E5E5E5;
        background-color: #F5F5F5;
        margin-top: 5px;
        padding: 5px;
        width: 350px;
        text-align:left;
}

.uploadifyError {
        border: 2px solid #FBCBBC !important;
        background-color: #FDE5DD !important;
}

.uploadifyQueueItem .cancel {
        float: right;
}

.uploadifyProgress {
        background-color: #FFFFFF;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-right: 1px solid #C5C5C5;
        border-bottom: 1px solid #C5C5C5;
        margin-top: 6px;
        width: 100%;
}

.uploadifyProgressBar {
        background-color: #0099FF;
        width: 1px;
        height: 3px;
        float:left;
}

#fileQueue{
        margin-top: 5px;
        padding: 3px;
        background-color: white;
        border: 1px solid #cecece;
        overflow: auto;
        height: 170px;
        width: 400px;
}

.custom-checkbox, .custom-radio { position: relative; }
        
.custom-checkbox input,
.custom-radio input {
        position: absolute;
        left: 2px;
        top: 3px;
        margin: 0;
        z-index: 1;
}

.custom-checkbox label,
.custom-radio label {
        display: block;
        position: relative;
        z-index: 1;
        line-height: 1;
        padding: .5em 0 0 24px;
        cursor: pointer;
}

.custom-checkbox label { background: url("..images/checkboxes.png") no-repeat; }

.custom-radio label { background: url("../images/radiobuttons.png") no-repeat; }

.custom-checkbox label, .custom-radio label {
        background-position: -10px -14px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
        background-position: -10px -114px;
}

.custom-checkbox label.checked,
.custom-radio label.checked {
        background-position: -10px -214px;
}

.custom-checkbox label.checkedHover,
.custom-checkbox label.checkedFocus {
        background-position: -10px -314px;
}

.custom-checkbox label.focus,
.custom-radio label.focus {
        outline: 1px dotted #ccc;
}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxClose{cursor:pointer;}
#cboxOverlay{background:#000;}
#colorbox{}
#cboxContent{}
#cboxLoadedContent{padding:5px;}
#cboxLoadingOverlay{background:#000;}
#cboxLoadingGraphic{background:url("../images/loading.gif") no-repeat center center;}
#cboxClose{position:absolute; top:-3px; right:0; display:block; background:url("../images/close.png") no-repeat top center; width:29px; height:29px; text-indent:-9999px;}

#loginform {width: 398px; height: 230px; background: url("../images/login-bg.png") no-repeat;}

#loginform .user-login {
        float:left;
        width: 110px;
        height: 29px;
        margin-top: 15px;
        margin-left: 28px;
        background: url("../images/user-login.jpg") no-repeat;
}

#loginform .table {
        float: left;
        margin-top: 25px;
        margin-left: 44px;
        font-size: 13px;
        color: #5b5b5b;
}

#loginform .table .input {
        width: 238px;
        height: 27px;
        background: url("../images/login-input.png") no-repeat;
        line-height: 24px;
        padding-left: 5px;
        border: 0;
        font-size: 12px;
}

#loginform .forgot {
        float: left;
        margin-top: 4px;
        margin-left: 224px;
}

#loginform .submit {
        float: left;
        margin-top: 15px;
        margin-left: 270px;
}

#signupform {width: 398px; height: 435px; background: url("../images/signup-bg.png") no-repeat;}

#signupform .signup1 {
        float:left;
        width: 84px;
        height: 29px;
        margin-top: 21px;
        margin-left: 28px;
        background: url("../images/signup.jpg") no-repeat;
}

#signupform .table {
        float: left;
        margin-top: 25px;
        margin-left: 14px;
        font-size: 12px;
        color: #5b5b5b;
}

#signupform .table .input {
        width: 216px;
        height: 27px;
        background: url("../images/signup-input.png") no-repeat;
        line-height: 24px;
        padding-left: 5px;
        border: 0;
        font-size: 12px;
}

#signupform .table .small-input {
        width: 145px;
        height: 27px;
        background: url("../images/payment-input.png") no-repeat;
        line-height: 24px;
        padding-left: 5px;
        border: 0;
        font-size: 12px;
}

#signupform .table .captcha_code {
        width: 86px;
        height: 27px;
        background: url("../images/code-input.png") no-repeat;
        line-height: 24px;
        padding-left: 5px;
        border: 0;
        font-size: 12px;
}

#signupform .forgot {
        float: left;
        margin-top: 4px;
        margin-left: 224px;
}

#signupform .submit {
        float: left;
        margin-top: 20px;
        margin-left: 264px;
}

#signupform .select {
        width: 65px;
        line-height: 24px;
}

#signupform small {
        font-size: 10px;
        color: #9d9d9d;
}

.paging {margin:10px 0 5px 0;font:13px Arial;}
.paging a, .paging a:visited {border: 1px solid #9aafe5;margin-right:3px;padding:1px 7px;text-decoration: none;color: #2e6ab1;}
.paging a:hover {border: 1px solid #2b66a5;color: #000;background-color: lightyellow;}
.paging b {margin-right:3px;padding:1px 7px;font-weight: bold;color: #FFF;background-color: #2e6ab1;border: 1px solid #0e4a91;}
.paging small {font:11px Arial;color:#777;line-height:18px;}

.result_slot {background: #F3F6FB; border:1px solid #c3d3dc;text-align:left;color:#111;padding:3px;}
.result_slot td {font:13px Arial;}
.result_slot input, .result_slot textarea {border:1px solid #AAA;color:#444;}
.file_slot {background:#ECF3F9;border:0px solid #CAD6E6;font: 13px Arial;}
.file_slot tr.hdr td {background-color:#DCE3E9; font-weight: bold; text-align:center;}
.captcha_code {border: 1px solid #777;font: 19px Arial;width:50px;text-align:center;}
.pic {border:1px solid #909090;}

.div1, .file_list {text-align: left; color: #484B50; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}
.div1 {width: 500px; padding: 5px; top:-9999px;}
.myForm {font: 12px Arial; border: 1px solid #636363; margin-top: 1px;}
.xrow {background:#32cdfe;border:1px solid #e5e5e7;padding:2px;margin-top:2px;font: 12px Arial;-moz-border-radius: 2px;border-radius: 2px; padding:5px;width:875px;}
.xrow input {font: 12px Arial; border: 1px solid #c3c3c3; margin-top: 1px;}
.xrow input.input_url {font: 12px Arial; border: 1px solid #636363; margin-top: 1px; width: 90%;}
.xrow a img {border:none;float:right;width:16px;height:16px;}
.xfname  {color: #004960;font-weight:bold;float:left;height:16px;}
.xdescr  {color: #004960;font: 12px Arial;}
.fdescr {width: 325px;}

.ok {font:bold 13px Arial;color:#1b1;}
.err {font:bold 13px Arial;color: #911;}
#news {font-family: Arial, Tahoma, Verdana; font-size:13px;}
#news a.title {font-family: Tahoma, Arial,'Trebuchet MS',Verdana,Sans-Serif;color:#3399CC;font-size:17px;text-decoration:none;}
#news_last {margin-top:7px;width:560px;text-align:left;}
#news_last a {color:#447;}
a.cmt_link {background: url(../images/comments.gif) no-repeat left center; padding-left: 16px;color:#336699;}
.cmt_hdr {background-color:#c7cfd4;padding:4px;font-size:11px;}
.cmt_hdr a {text-decoration:none;}
.cmt_hdr b, .cmt_hdr b a {font-size:13px;color: #202020;}
.cmt_txt {padding: 5px;margin-bottom:10px;}
.sinput input, .sinput textarea {font:12px Arial;border:1px solid #707070;margin:2px;}

.file_block {margin-top:5px;width:100%;border-collapse: collapse;}
.file_block TR TD {padding:3px;/*border:1px dotted #999;*/}
.file_block div.link {width:200px;overflow:hidden;margin-top: 3px;text-align: left;}
.file_block div.link a {font-weight:bold;text-decoration:none;color:rgb(70,122,167);font-family: Tahoma;font-size: 13px;}
.file_block div.link a:hover  {text-decoration:none;color: rgb(42, 90, 138);}
.file_block div.link a:visited {color:rgb(42,90,138);}
img.cat_img {/*border:1px solid #b3b3b3;padding:26px;background:#edf3fa;*/max-height:111px;max-width:200px;}
.url2 {font-size:12px;color:#227;text-decoration:none;}

.uploadv {text-align: center; overflow: hidden; width: 400px; height: 30px; background:url(btn2.gif) no-repeat;color: #444; font: bold 20px Arial; line-height:30px; background-color: #a3a3a3;}
.uploadv input {margin-top: -50px; margin-left:-410px;  -moz-opacity: 0;  filter: alpha(opacity=0);   opacity: 0;  font-size: 140px; height: 100px;}

.data {border-collapse:collapse; background-color: #e9e9e9; width: 400px; margin-bottom: 3px;}
.data TR TD {border: 1px solid #a3a3a3; font: 12px Arial;}
.bar1 {border: 1px solid #a3a3a3; background-color: #f6f6f6; text-align: left; vertical-align: middle; height: 20px; width: 98%;}
.bar2 {width: 1%; background-color: #c9c9c9; height: 20px; text-align: left;}
.message {width: 400px; border: 1px solid #909090; font: 11px Arial; margin-top: 5px; text-align: left; padding-left: 3px; background-color: #f9f9f9;}
.myLink  {font: bold 13px Arial; color: #303030; text-decoration: none;}
.myForm {font: 12px Arial; border: 1px solid #636363;margin-right:2px;}
.btn     {font: 15px Verdana; margin-top: 3px; margin-bottom: 5px; width:200px;}
.btn2, .btndiv {font: 12px Arial;border:1px solid #909090;background:#e9e9e9;}
.btndiv  {width:120px;height:16px;text-align:center;padding:1px 4px 0px 4px;margin:auto;margin-top:1px;}
div.tabbertab div.hover { background-color:#30b9e3; }

.tbl1 {text-align:left;border-collapse: collapse;}
.tbl1 tr td, .tbl1 tr th {border:1px solid #c3c3c3; padding:3px;}
.tbl1 tr td {background-color: #FFFFFF; font-size: 12px;}
.tbl1 tr.hi td {background-color: #F3F3F3;}
.tbl1 tr:hover td {background-color: #E9F0FF;}
.tbl1 tr td.pub {background-color: #E0FFE0;}
.tbl1 tr.hdr td, .tbl1 th, .hdr {background-color:#d3d3d3; font-weight: bold; text-align:center;}

.tbl1 tr.hi2 td {background-color: #D9ECFF;}

.rrd {width:680px;background: transparent;}
.rrd h1, .rrd p {margin:0 10px;}
.rrd h1 {font-size:2em; color:#fff;}
.rrd p {padding-bottom:0.5em;}
.rrd .b1, .rrd .b2, .rrd .b3, .rrd .b4, .rrd .b1b, .rrd .b2b, .rrd .b3b, .rrd .b4b {display:block; overflow:hidden; font-size:1px;background:#e9e9e9;}
.rrd .b1, .rrd .b2, .rrd .b3, .rrd .b1b, .rrd .b2b, .rrd .b3b {height:1px;}
.rrd .b2 {border-left:1px solid #fff; border-right:1px solid #eee;}
.rrd .b3 {border-left:1px solid #fff; border-right:1px solid #ddd;}
.rrd .b4 {border-left:1px solid #fff; border-right:1px solid #aaa;}
.rrd .b4b {border-left:1px solid #eee; border-right:1px solid #999;}
.rrd .b3b {border-left:1px solid #ddd; border-right:1px solid #999;}
.rrd .b2b {border-left:1px solid #aaa; border-right:1px solid #999;}
.rrd .b1 {margin:0 5px; background:#fff;}
.rrd .b2, .rrd .b2b {margin:0 3px; border-width:0 2px;}
.rrd .b3, .rrd .b3b {margin:0 2px;}
.rrd .b4, .rrd .b4b {height:2px; margin:0 1px;}
.rrd .b1b {margin:0 5px; background:#999;}
.rrd .boxcontent {display:block;  background:#e9e9e9; border-left:1px solid #fff; border-right:1px solid #999;}

.tabberlive .tabbertabhide {display:none;}
.tabber {}
.tabberlive {margin-top:1px;}
ul.tabbernav{margin:0;padding: 3px 0;border-bottom: 1px solid #778;font: bold 12px Verdana, sans-serif;}
ul.tabbernav li{list-style: none;margin: 0;display: inline;}
ul.tabbernav li a {background: #F3F6FB; border: 1px solid #778; padding: 3px 3px;margin-left: 3px;border-bottom: none;text-decoration: none;}
ul.tabbernav li a:link { color: #2ca1c4; }
ul.tabbernav li a:visited { color: #2ca1c4; }
ul.tabbernav li a:hover{color: #000;background: #a0dbeb;border-color: #227;}
ul.tabbernav li.tabberactive a{background-color: #fff;border-bottom: 1px solid #fff;color: #004f67;}
ul.tabbernav li.tabberactive a:hover{color: #000;background: white;border-bottom: 1px solid white;}
.tabberlive .tabbertab {padding:5px;border:1px solid #aaa;border-top:0;background-color:#FFF;text-align:center;}
.tabberlive .tabbertab h2 {display:none;}

.top_content
{
float:left;
background-image:url(../images/content_top.jpg);
background-repeat:no-repeat;

width:926px;
height:22px;
}
.btm_content
{
float:left;
background-image:url(../images/content_btm.jpg);
background-repeat:no-repeat;

width:926px;
height:22px;
}
.mid_content
{
background-image:url(../images/content_mid.jpg);
background-repeat:repeat-y;
float:left;
width:886px;
height:auto;
padding-left:20px;
padding-right:20px;
}
