/*
author:chenlijian;
design:huangjunkai;
update:2015-10-16;
*/
html{height: 100%;position: relative;}
body{position: relative;width: 100%;height: 100%;position: relative;overflow: hidden;font:12px/1.5 tahoma,arial,\5FAE\8F6F\96C5\9ED1,sans-serif;font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";background: #000;}
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,p,table,input{margin:0;padding:0;font-weight: normal;}
table{width:auto;border-collapse: collapse;border-spacing: 0;}
li{list-style: none;vertical-align: bottom;}
em,i{font-style: normal;}
a{outline: none;text-decoration: none;transition: color .3s,opacity .3s,transform .3s;-webkit-transition: color .3s,opacity .3s,transform .3s;}
a:hover{outline: none;text-decoration: underline;}
img{border: 0;}
.hidden{display: none;}
.hide_txt{text-indent: -9999em;font-size: 0;line-height: 0;}
.clearfix:after{display:block;content:"";visibility:hidden;clear:both;height:0;}
.clearfix{zoom:1;}

.footer{position: absolute;bottom: -91px;left: 0;transition: bottom .3s;-webkit-transition: bottom .3s;z-index: 8;}
.footer.show{bottom: 0;}

.wrap{height: 100%;position: relative;overflow: hidden;}
.wrapper{height: 100%;position: relative;overflow: hidden;}
.content{position: relative;width: 1200px;margin: 0 auto;}

.product_list{position: relative;height: 100%;}
.product_box{position: absolute;width: 100%;height: 100%;top: 0;left: -9999px;}
.bg_box{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-position: center center;background-repeat: no-repeat;transition: transform 15s linear;background: #000;}
.bg_main{width: 1000px;height: 100%;position: absolute;top: 0;left: 50%;margin-left: -500px;background-position: center center;background-repeat: no-repeat;}
.bg_box img{position: absolute;top: 50%;left: 50%;}
.bg_box canvas{position: absolute;top: 50%;left: 50%;z-index: 10;}

.product_box .content{width: 1000px;height: 100%;position: absolute;top: 0;left: 50%;margin-left: -500px;z-index: 15;transform-origin: center center;-webkit-transform-origin: center center;}
.product_box .main_box{position: relative;height: 100%;left: -9999px;top: 50%;}
.product_list .show{left: 0;}
.product_list .show .main_box{left: 0;}
.product_box h2{position: absolute;top: 50%;left: 50%;background-size: 100% 100%;}
.product_box h2 span{position: absolute;}
.btn_product{position: absolute;top: 50%;left: 50%;text-align: center;border-width: 1px;border-style: solid;transition: all .3s;-webkit-transition: all .3s;overflow: hidden;}
.product_list .btn_product:hover{text-decoration: none;/*transform: scale(1.04);-webkit-transform: scale(1.04);*/ color: #000}
.btn_product:before{content: "";position: absolute;top: -1px;left: 0;margin-left: -1px;width: 150%;height: 100%;border: 1px solid rgba(255,255,255,1);background:rgba(255,255,255,1);opacity: 0;z-index: -1;transition: all .3;-webkit-transition: all .3s;transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);transform-origin: 0% 100%;-webkit-transform-origin: 0% 100%;}
.btn_product:hover:before{/*opacity: .6;width: 100%;left: 0;*/opacity: 1;background-color: rgba(255,255,255,0.7);transform: rotate3d(0, 0, 1, 0deg);-webkit-transform: rotate3d(0, 0, 1, 0deg);transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);}

.product_box.show .bg_box{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);}
.product_box.show h2{animation:tt_effect .6s .3s linear both;-webkit-animation:tt_effect .6s .3s linear both;}
.product_box.show .btn_product{animation:opacity .5s 1s linear both;-webkit-animation:opacity .5s 1s linear both;}

.show.xnet .bg_box{-webkit-animation:brightness 2s linear both infinite;}
@-webkit-keyframes brightness {
    0% {-webkit-filter:brightness(1)}
    50% {-webkit-filter:brightness(1.2)}
    100% {-webkit-filter:brightness(1)}
}


.show.xnet .bg_box img{animation:brightness2 2s linear both infinite;}
@keyframes brightness2 {
    0% {filter:brightness(1)}
    50% {filter:brightness(1.2)}
    100% {filter:brightness(1)}
}



.xnet .btn_product{border-color: #999;border-color: rgba(255,255,255,0.5);color:#fff;}
.member .btn_product{border-color: #999;border-color: rgba(255,255,255,0.5);color:#fff;}
.xav .btn_product{border-color: #999;border-color: rgba(255,255,255,0.5);color:#fff;}

.product_btns{position: absolute;width: 100%;bottom: 116px;z-index: 6;transition: bottom .3s;-webkit-transition: bottom .3s;z-index: 10;}
.product_btns.show{bottom: 116px;}
.product_btns.down{bottom: 160px;}
.product_btns .content{width: 1000px;position: absolute;bottom: 0;left: 50%;margin-left: -500px;}
.product_btns .btns_area{margin: 0 auto;border-bottom: 3px solid #92a0b4;border-color: rgba(255,255,255,0.2);+zoom: 1;}
.product_btns .btns_box{position: absolute;width: 100%;height: 84px;top: 3px;font-size: 0;line-height: 0;}
.product_btns .btns_box a{display: inline-block;+display: inline;+zoom: 1;position: relative;}
.product_btns .btns_box a span{display: block;background-repeat: no-repeat;cursor: pointer;position: absolute;top: 0;left: 50%;}
.product_btns .btns_box a:hover,.product_btns .btns_box a.cur{background: url(about:blank);}

.product_btns .ic_line{position: absolute;height: 3px;background: #fff;left: 0;bottom: 0;transition: left .3s;-webkit-transition: left .3s;}

.rpt_bg{position: absolute;bottom: 0;left: 0;width: 100%;height: 238px;background: url('../img/rpt_bg.png') repeat-x;opacity: 0;transition: opacity .3s;-webkit-transition: opacity .3s;z-index: 5;left: -9999px;}
.rpt_bg.show{opacity: 1;left: 0;}

.download_wp{position: absolute;width: 100%;height: 140px;+zoom: 1;bottom: -160px;left: 0;z-index: 10;transition: bottom .3s;-webkit-transition: bottom .3s;}
.download_wp.show{bottom: 0;}
.download_wp .content{width: 1000px;position: absolute;top: 50%;left: 50%;margin:-70px 0 0 -500px;height: 140px;}
.download_wp .opc_bg{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #fff;opacity: .1;filter: alpha(opacity=10);}
.download_wp .ic_arr{position: absolute;bottom: 100%;left: 50%;width: 0;height: 0;font-size: 0;line-height: 0;border-width: 16px 10px;border-style: dashed dashed solid dashed;border-color: transparent transparent #fff transparent;opacity: .1;filter: alpha(opacity=10);}
.xnet_download .ic_arr{margin-left: -110px;}
.xav_download .ic_arr{margin-left: 90px;}

.download_box{font-size: 0;line-height: 0;text-align: center;padding: 25px 0;}
.download_box a{display: inline-block;+display: inline;+zoom: 1;position: relative;width: 100px;margin: 0 25px;padding-top: 60px;font-size: 16px;color: #fff;line-height: 30px;font-weight: lighter;white-space: nowrap;transition: transform .3s;-webkit-transition: transform .3s;}
.download_box a:hover{text-decoration: none;transform: translate(0,-4px);-webkit-transform: translate(0,-4px);}
.download_box .ic_download{position: absolute;top: 9px;left: 50%;height: 42px;background-image: url('../img/ic_l/ic_download.png');background-repeat: no-repeat;cursor: pointer;}
.download_box .ic_mac{background-position: 0 0;width: 35px;margin-left: -17px;}
.download_box .ic_win{background-position: -64px 0;width: 39px;margin-left: -20px;}
.download_box .ic_android{background-position: -140px 0;width: 43px;margin-left: -21px;}
.download_box .ic_ios{background-position: -220px 0;width: 25px;margin-left: -12px;}
.download_box .ic_ipad{background-position: -280px 0;width: 29px;margin-left: -14px;}
.download_box .img_code{position: absolute;width: 152px;height: 157px;bottom: 100%;left: -9999px;margin-left: -76px;opacity: 0;transition: opacity .4s;-webkit-transition: opacity .4s;}
.download_box a:hover .img_code{left: 50%;opacity: 1;}
.xav_download .download_box a{left: 100px;}

/*small=mid*.8=big*.8*.8*/

/*big size*/
.big_view .btn_product{margin-left: -82px;width: 164px;height: 52px;line-height: 52px;font-size: 18px;}

.big_view .xnet h2{width: 493px;height: 56px;margin: -335px 0 0 -247px;background-image: url('../img/ic_l/txt_1.png');}
.big_view .xnet .btn_product{top: 50%;margin-top: -240px;width: 148px;height: 46px;line-height: 46px;}
.big_view .xnet .btn_left{right: 50%;left: auto;margin-right: 24px;margin-left: 0;}
.big_view .xnet .btn_right{margin-left: 24px;}

.big_view .member h2{width: 679px;height: 66px;margin: -143px 0 0 -340px;background-image: url('../img/ic_l/txt_2.png');}
.big_view .member .btn_product{margin-top: -30px;}

.big_view .xav h2{width: 673px;height: 61px;margin: -63px 0 0 -337px;background-image: url('../img/ic_l/txt_3.png');}
.big_view .xav .btn_product{margin-top: 30px;}


.big_view .product_btns .btns_area{/*width: 471px;_width: 472px;width: 371px;_width: 373px;*/width: 272px;_width: 274px;height: 84px;}
.big_view .product_btns .btns_box{height: 84px;}
.big_view .product_btns .btns_box a{width: 70px;height: 84px;margin: 0 15px;}
.big_view .product_btns .btns_box a span{height: 68px;background-image: url('../img/ic_l/ic_spr.png');}
.big_view .product_btns .btns_box a:hover span,.big_view .product_btns .btns_box a.cur span{_height: 69px;}
.big_view .product_btns .ic_line{width: 70px;}
.big_view .product_btns .btns_box .btn_xnet9{margin: 0 15px 0 0;}
.big_view .product_btns .btns_box .btn_xav{margin: 0 0 0 15px;}

.big_view .ic_shoulei{background-position: 0 0;width: 61px;margin-left: -30px;}
.big_view a:hover .ic_shoulei,.big_view a.cur .ic_shoulei{background-position: 0 -108px;}
.big_view .ic_xnet{background-position: -106px 0;width: 65px;margin-left: -32px;}
.big_view a:hover .ic_xnet,.big_view a.cur .ic_xnet{background-position: -106px -108px;}
.big_view .ic_member{background-position:  -224px 0;width: 48px;margin-left: -24px;}
.big_view a:hover .ic_member,.big_view a.cur .ic_member{background-position: -224px -108px;}
.big_view .ic_xkn{background-position: -318px 0;width: 55px;margin-left: -27px;}
.big_view a:hover .ic_xkn,.big_view a.cur .ic_xkn{background-position: -318px -108px;}
.big_view .ic_xav{background-position: -406px 0;width: 55px;margin-left: -27px;}
.big_view a:hover .ic_xav,.big_view a.cur .ic_xav{background-position: -406px -108px;}
.big_view .ic_ipr{background-position: -522px 0;width: 39px;margin-left: -20px;}
.big_view a:hover .ic_ipr,.big_view a.cur .ic_ipr{background-position: -522px -108px;}
.big_view .ic_xnet9{background-position: -606px 0;width: 61px;margin-left: -30px;}
.big_view a:hover .ic_xnet9,.big_view a.cur .ic_xnet9{background-position: -606px -108px;}


/*mid size*/
.mid_view .btn_product{margin-left: -66px;width: 132px;height: 42px;line-height: 42px;font-size: 14px;}


.mid_view .xnet h2{width: 394px;height: 45px;margin: -268px 0 0 -197px;background-image: url('../img/ic_m/txt_1.png');}
.mid_view .xnet .btn_product{top: 50%;margin-top: -192px;width: 118px;height: 36px;line-height: 36px;}
.mid_view .xnet .btn_left{right: 50%;left: auto;margin-right: 20px;margin-left: 0;}
.mid_view .xnet .btn_right{margin-left: 20px;}

.mid_view .member h2{width: 543px;height: 53px;margin: -114px 0 0 -272px;background-image: url('../img/ic_m/txt_2.png');}
.mid_view .member .btn_product{margin-top: -24px;}

.mid_view .xav h2{width: 538px;height: 49px;margin: -50px 0 0 -269px;background-image: url('../img/ic_m/txt_3.png');}
.mid_view .xav .btn_product{margin-top: 24px;}


.mid_view .product_btns .btns_area{/*width: 376px;_width: 380px;width: 298px;_width: 299px;*/width: 217px;_width: 218px;height: 68px;}
.mid_view .product_btns .btns_box{height: 68px;}
.mid_view .product_btns .btns_box a{width: 56px;height: 68px;margin: 0 12px;}
.mid_view .product_btns .btns_box a span{height: 55px;background-image: url('../img/ic_m/ic_spr.png');}
.mid_view .product_btns .btns_box a:hover span,.mid_view .product_btns .btns_box a.cur span{_height: 56px;}
.mid_view .product_btns .ic_line{width: 56px;}
.mid_view .product_btns .btns_box .btn_xnet9{margin: 0 12px 0 0;}
.mid_view .product_btns .btns_box .btn_xav{margin: 0 0 0 12px;}

.mid_view .ic_shoulei{background-position: 0 0;width: 49px;margin-left: -25px;}
.mid_view a:hover .ic_shoulei,.mid_view a.cur .ic_shoulei{background-position: 0 -87px;}
.mid_view .ic_xnet{background-position: -84px 0;width: 53px;margin-left: -27px;}
.mid_view a:hover .ic_xnet,.mid_view a.cur .ic_xnet{background-position: -84px -87px;}
.mid_view .ic_member{background-position:  -178px 0;width: 40px;margin-left: -20px;}
.mid_view a:hover .ic_member,.mid_view a.cur .ic_member{background-position: -178px -87px;}
.mid_view .ic_xkn{background-position: -254px 0;width: 45px;margin-left: -23px;}
.mid_view a:hover .ic_xkn,.mid_view a.cur .ic_xkn{background-position: -254px -87px;}
.mid_view .ic_xav{background-position: -324px 0;width: 45px;margin-left: -23px;}
.mid_view a:hover .ic_xav,.mid_view a.cur .ic_xav{background-position: -324px -87px;}
.mid_view .ic_ipr{background-position: -417px 0;width: 33px;margin-left: -17px;}
.mid_view a:hover .ic_ipr,.mid_view a.cur .ic_ipr{background-position: -417px -87px;}
.mid_view .ic_xnet9{background-position: -485px 0;width: 50px;margin-left: -25px;}
.mid_view a:hover .ic_xnet9,.mid_view a.cur .ic_xnet9{background-position: -485px -87px;}

.mid_view .product_btns.down{bottom: 132px;}
.mid_view .download_wp{height: 112px;}
.mid_view .download_wp .content{height: 112px;margin-top: -56px;}
.mid_view .xnet_download .ic_arr{margin-left: -90px;}
.mid_view .xav_download .ic_arr{margin-left: 70px;}
.mid_view .download_box{padding: 20px 0;}
.mid_view .download_box a{width: 80px;margin: 0 20px;padding-top: 48px;font-size: 14px;line-height: 24px;}
.mid_view .download_box .ic_download{top: 7px;height: 34px;background-image: url('../img/ic_m/ic_download.png');}
.mid_view .download_box .ic_mac{background-position: 0 0;width: 28px;margin-left: -14px;}
.mid_view .download_box .ic_win{background-position: -51px 0;width: 31px;margin-left: -15px;}
.mid_view .download_box .ic_android{background-position: -112px 0;width: 34px;margin-left: -17px;}
.mid_view .download_box .ic_ios{background-position: -176px 0;width: 20px;margin-left: -10px;}
.mid_view .download_box .ic_ipad{background-position: -223px 0;width: 24px;margin-left: -12px;}
.mid_view .xav_download .download_box a{left: 80px;}

/*small size*/
.small_view .btn_product{margin-left: -53px;width: 106px;height: 34px;line-height: 34px;font-size: 11px;}

.small_view .xnet h2{width: 315px;height: 36px;margin: -214px 0 0 -158px;background-image: url('../img/ic_s/txt_1.png');}
.small_view .xnet .btn_product{top: 50%;margin-top: -154px;width: 94px;height: 28px;line-height: 28px;}
.small_view .xnet .btn_left{right: 50%;left: auto;margin-right: 16px;margin-left: 0;}
.small_view .xnet .btn_right{margin-left: 16px;}

.small_view .member h2{width: 434px;height: 42px;margin: -91px 0 0 -217px;background-image: url('../img/ic_s/txt_2.png');}
.small_view .member .btn_product{margin-top: -19px;}

.small_view .xav h2{width: 430px;height: 39px;margin: -40px 0 0 -215px;background-image: url('../img/ic_s/txt_3.png');}
.small_view .xav .btn_product{margin-top: 19px;}


.small_view .product_btns .btns_area{/*width: 306px;_width: 309px;width: 242px;_width: 243px;*/width: 176px;_width: 177px;height: 54px;}
.small_view .product_btns .btns_box{height: 54px;}
.small_view .product_btns .btns_box a{width: 45px;height: 54px;margin: 0 10px;}
.small_view .product_btns .btns_box a span{height: 44px;background-image: url('../img/ic_s/ic_spr.png');}
.small_view .product_btns .btns_box a:hover span,.small_view .product_btns .btns_box a.cur span{_height: 45px;}
.small_view .product_btns .ic_line{width: 45px;}
.small_view .product_btns .btns_box .btn_xnet9{margin: 0 10px 0 0;}
.small_view .product_btns .btns_box .btn_xav{margin: 0 0 0 10px;}

.small_view .ic_shoulei{background-position: 0 0;width: 39px;margin-left: -20px;}
.small_view a:hover .ic_shoulei,.small_view a.cur .ic_shoulei{background-position: 0 -69px;}
.small_view .ic_xnet{background-position: -67px 0;width: 43px;margin-left: -22px;}
.small_view a:hover .ic_xnet,.small_view a.cur .ic_xnet{background-position: -67px -69px;}
.small_view .ic_member{background-position:  -143px 0;width: 32px;margin-left: -15px;}
.small_view a:hover .ic_member,.small_view a.cur .ic_member{background-position: -143px -69px;}
.small_view .ic_xkn{background-position: -203px 0;width: 36px;margin-left: -18px;}
.small_view a:hover .ic_xkn,.small_view a.cur .ic_xkn{background-position: -203px -69px;}
.small_view .ic_xav{background-position: -259px 0;width: 37px;margin-left: -19px;}
.small_view a:hover .ic_xav,.small_view a.cur .ic_xav{background-position: -259px -69px;}
.small_view .ic_ipr{background-position: -334px 0;width: 27px;margin-left: -14px;}
.small_view a:hover .ic_ipr,.small_view a.cur .ic_ipr{background-position: -334px -69px;}
.small_view .ic_xnet9{background-position: -389px 0;width: 40px;margin-left: -20px;}
.small_view a:hover .ic_xnet9,.small_view a.cur .ic_xnet9{background-position: -389px -69px;}

.small_view .product_btns{bottom: 100px;}
.small_view .product_btns.down{bottom: 112px;}
.small_view .download_wp{height: 90px;}
.small_view .download_wp .content{height: 90px;margin-top: -45px;}
.small_view .xnet_download .ic_arr{margin-left: -74px;}
.small_view .xav_download .ic_arr{margin-left: 54px;}
.small_view .download_box{padding: 16px 0;}
.small_view .download_box a{width: 64px;margin: 0 16px;padding-top: 39px;font-size: 12px;line-height: 20px;}
.small_view .download_box .ic_download{top: 6px;height: 27px;background-image: url('../img/ic_s/ic_download.png');}
.small_view .download_box .ic_mac{background-position: 0 0;width: 22px;margin-left: -11px;}
.small_view .download_box .ic_win{background-position: -41px 0;width: 25px;margin-left: -12px;}
.small_view .download_box .ic_android{background-position: -90px 0;width: 27px;margin-left: -13px;}
.small_view .download_box .ic_ios{background-position: -141px 0;width: 16px;margin-left: -8px;}
.small_view .download_box .ic_ipad{background-position: -179px 0;width: 19px;margin-left: -9px;}
.small_view .xav_download .download_box a{left: 64px;}


/*页面适配*/
@media only screen and (min-width: 1680px) and (max-width: 1910px) {
    .product_list .content,.product_btns .content,.download_wp .content{transform:scale(0.95,0.95);-webkit-transform:scale(0.95,0.95);}
    .download_wp{height: 133px;}
    .product_btns.down{bottom: 152px;}
}
@media only screen and (min-width: 1600px) and (max-width: 1679px) {
    .product_list .content,.product_btns .content,.download_wp .content{transform:scale(0.9,0.9);-webkit-transform:scale(0.9,0.9);}
    .download_wp{height: 126px;}
    .product_btns.down{bottom: 144px;}
}
@media only screen and (min-width: 1536px) and (max-width: 1599px) {
    .product_list .content,.product_btns .content,.download_wp .content{transform:scale(0.85,0.85);-webkit-transform:scale(0.85,0.85);}
    .download_wp{height: 119px;}
    .product_btns.down{bottom: 136px;}
}
@media only screen and (min-width: 1440px) and (max-width: 1535px) {
    .product_list .content,.product_btns .content,.download_wp .content{transform:scale(0.8,0.8);-webkit-transform:scale(0.8,0.8);}
    .download_wp{height: 112px;}
    .product_btns.down{bottom: 122px;}
}
@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .product_list .content,.product_btns .content,.download_wp .content{transform:scale(0.75,0.75);-webkit-transform:scale(0.75,0.75);}
    .download_wp{height: 105px;}
    .product_btns{bottom: 90px;}
    .product_btns.down{bottom: 110px;}
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .product_list .content,.product_btns .content,.download_wp .content{transform:scale(0.7,0.7);-webkit-transform:scale(0.7,0.7);}
    .download_wp{height: 98px;}
    .product_btns{bottom: 82px;}
    .product_btns.down{bottom: 102px;}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .product_list .content,.product_btns .content,.download_wp .content{transform:scale(0.65,0.65);-webkit-transform:scale(0.65,0.65);}
    .download_wp{height: 91px;}
    .product_btns{bottom: 74px;}
    .product_btns.down{bottom: 94px;}
}
@media only screen and (max-width: 1023px) {
    .product_list .content,.product_btns .content,.download_wp .content{transform:scale(0.6,0.6);-webkit-transform:scale(0.6,0.6);}
    .download_wp{height: 84px;}
    .product_btns{bottom: 66px;}
    .product_btns.down{bottom: 82px;}
}

/*news sec*/
.news_sec .header .nav_li{width: 140px;}
.news_sec .header .btn_nav{width: 100px;margin-left: -50px;}
.news_sec .header .btn_nav:hover{margin-left: -52px;}
.news_sec .header .news_nav{width: 180px;left: -20px;}
.news_sec .header .news_nav li{padding: 0;}
.news_sec .header .news_nav .ic_dot{top: 114px;}

.news_sec{background: #f8f8f8;position: relative;overflow-x: hidden;overflow-y:auto;height: auto;}
.news_sec .wrap,.news_sec .wrapper{height: auto;}

.news_sec .banner_box{height: 536px;position: relative;}
.news_sec .banner_box ul{position: absolute;width: 100%;height: 100%;top: 0;left: 0;overflow: hidden;}
.news_sec .banner_box li,.news_sec .banner_box li a{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.news_sec .banner_box li img{position: absolute;height: 100%;top: 0;left: 50%;margin-left: -960px;}
.news_sec .banner_btns{position: absolute;width: 100%;left: 0;bottom: 40px;font-size: 0;line-height: 0;text-align: center;}
.news_sec .banner_btns a{display: inline-block;+display: inline;+zoom: 1;background: url('../img/news_spr.png') no-repeat -112px 0;width: 10px;height: 10px;margin: 0 10px;}
.news_sec .banner_btns a.cur,.news_sec .banner_btns a:hover{background-position: -90px 0;}
.news_sec .banner_box .btn_prev,.news_sec .banner_box .btn_next{position: absolute;width: 60px;height: 92px;top: 50%;margin-top: -46px;z-index: 5;transition: none;-webkit-transition: none;}
.news_sec .banner_box .btn_prev:hover,.news_sec .banner_box .btn_next:hover{background: #000;filter:alpha(opacity=50);opacity: 0.5;}
.news_sec .banner_box .ic_arr{position: absolute;cursor: pointer;width: 19px;height: 51px;top: 20px;left: 20px;background-image: url('../img/news_spr.png');}
.news_sec .banner_box .btn_prev{left: 120px;}
.news_sec .banner_box .btn_prev .ic_arr{background-position: 0 0;}
.news_sec .banner_box .btn_next{right: 120px;}
.news_sec .banner_box .btn_next .ic_arr{background-position: -50px 0;}

.news_wp{padding-top: 30px;}
.news_feed{width: 1000px;padding: 24px 99px;border: 1px solid #fcfcfc;background: #fcfcfc;margin-bottom: 30px;}
.news_feed:hover{box-shadow: 0 0 8px rgba(0,0,0,0.4);+border-color: #ccc;}
.news_feed .news_tt h2{font-size: 20px;color:#000;line-height: 40px;}
.news_feed .news_tt h2 a{display: block;position: relative;+zoom: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color:#000;}
.news_sec .txt_brief{margin-top: 2px;line-height: 28px;color:#a4a4a4;}
.news_sec .txt_brief span{float: left;}
.news_sec .txt_type{padding: 0 8px;border-radius: 3px;font-size: 16px;color:#fff;margin-right: 18px;display: block;}
.news_sec .txt_brief .orange{background: #e9614d;}
.news_sec .txt_brief .blue{background: #3ea5fa;}
.news_sec .txt_brief .yellow{background: #ff8d37;}
.news_sec .txt_brief .green{background: #62bc41;}
.news_sec .txt_time{font-size: 16px;margin-right: 14px;}
.news_feed .txt_read{position: relative;+zoom: 1;padding-left: 25px;font-size: 14px;}
.news_feed .ic_read{position: absolute;top: 50%;left: 0;background: url('../img/news_spr.png') no-repeat -80px -32px;width: 21px;height: 12px;margin-top: -6px;}
.news_feed .news_cont{margin: 8px 0;}
.news_feed .news_cont img{display: block;width: 750px;height: 300px;}
.news_feed .txt_news{font-size: 16px;line-height: 30px;color:#777;margin-bottom: 26px;}
.news_feed .btn_read{float: right;font-size: 16px;line-height: 20px;color:#2aa3e9;}
.news_feed .news_bot{margin-top: -26px;}

.news_sec .loading_box{width: 1000px;padding: 24px 99px;border: 1px solid #fcfcfc;background: #fcfcfc;font-size: 0;line-height: 0;text-align: center;}
.news_sec .loading_box .txt_load{color:#999;font-size: 16px;line-height: 26px;position: relative;display: inline-block;+display: inline;+zoom: 1;padding-left: 32px;}
.news_sec .loading_box .ic_load{position: absolute;top: 0;left: 0;background: url('../img/news_spr.png') no-repeat -106px -24px;width: 23px;height: 26px;}

.news_detail_sec .content{padding-top: 130px;}
.news_sec .news_detail_wp{}
.news_sec .news_detail_wp:hover{box-shadow: 0 0 8px rgba(0,0,0,0.4);}
.news_sec .news_detail_cont{width: 1000px;padding: 0 99px 30px;background: #fcfcfc;border: 1px solid #f0f0f0;border-top: 0;}
.news_sec .detail_tt{padding-top: 60px;}
.news_sec .detail_tt h2{font-size: 26px;line-height: 34px;color:#000;}
.news_sec .detail_msg{position: relative;margin-top: 6px;height: 32px;}
.news_sec .action_box{position: absolute;top: 0;right: 0;padding-right: 120px;}
.news_sec .num_box a{float:left;font-size: 14px;color:#a4a4a4;line-height: 32px;position: relative;+zoom: 1;padding-left: 28px;margin-right: 5px;}
.news_sec .num_box .btn_read{cursor: default;}
.news_sec .num_box .btn_read:hover{text-decoration: none;}
.news_sec .news_detail_cont .ic_read{position: absolute;background: url('../img/news_spr.png') no-repeat -4px -58px;width: 28px;height: 16px;top: 8px;left: 0;cursor: default;}
.news_sec .news_detail_cont .ic_love{position: absolute;background: url('../img/news_spr.png') no-repeat -40px -58px;width: 22px;height: 19px;top: 6px;left: 0;}
.news_sec .news_detail_cont .love{background-position: -70px -58px;}
.news_sec .news_detail_cont .share_box{position: absolute;top: 0;right: 0;}
.news_sec .news_detail_cont .share_box a{position: relative;float: left;width: 32px;height: 32px;background-image: url('../img/news_spr.png');margin-left: 10px;}
.news_sec .news_detail_cont a.wechat{background-position: -4px -80px;}
.news_sec .news_detail_cont a.sina{background-position: -46px -80px;}
.news_sec .news_detail_cont a.qzone{background-position: -88px -80px;}
.news_detail_cont .share_box .code_box{position: absolute;width: 110px;height: 110px;padding: 10px;background: #fff;border-radius: 4px;left: -9999px;margin-left: -65px;bottom: 40px;opacity: 0;transition: opacity .2s;-webkit-transition: opacity .2s;}
.news_detail_cont .share_box a:hover .code_box{left: 50%;opacity: 1;}
.news_detail_cont .share_box .code_box .ic_arr{font-size: 0;line-height: 0;position: absolute;width: 0;height: 0;border-width: 8px;border-style: solid dashed dashed dashed;border-color: #fff transparent transparent transparent;left: 50%;margin-left: -8px;top: 100%;}
.news_detail_cont .share_box .code_box img{display: block;height: 100%;height: 100%;}
.news_sec .detail_cont{padding-top: 30px;line-height: 30px;}
.news_sec .detail_cont p{text-indent: 32px;}
.news_sec .detail_cont img{display: block;margin: 8px auto;}
.news_sec .detail_cont .txt_detail{font-size: 16px;line-height: 30px;text-indent: 32px;color:#5b5b5b;}
.news_sec .detail_cont .txt_stitle{font-size: 18px;line-height: 32px;color:#000;margin-top: 10px;}

.news_sec .news_catalog{width: 1000px;padding: 30px 99px;background: #fcfcfc;border: 1px solid #f0f0f0;border-top: 0;border-bottom-width: 3px;}
.news_sec .news_catalog a{font-size: 18px;color:#a4a4a4;line-height: 28px;}
.news_sec .news_catalog a:hover{text-decoration: none;color:#2aa3e9;}

.news_sec .btn_totop{position: fixed;bottom: 50px;_position: absolute;_bottom: 20px;right: 40px;background: url('../img/news_spr.png') no-repeat -136px -2px;width: 46px;height: 45px;z-index: 10;}
.news_sec .btn_totop:hover{background-position: -136px -52px;}

.news_sec .header{position: absolute;}
.news_sec .header .head{width: 1200px;margin: 0 auto;}
.news_sec .footer{background: #9a9d9d;position: relative;padding-bottom: 15px;}
.news_sec .footer .main_links{padding: 50px 0 25px;}
.news_sec .footer .foot,.news_sec .footer .links a{color:#f6f6f6;}
.news_sec .header .news_nav .ic_bg{background: #000;position: absolute;top: 0;left: 0;width: 100%;height: 100%;filter:alpha(opacity=50);opacity: 0.5;}
.news_sec .header .news_nav .ic_arr{display: none;}
.news_sec .header .news_nav ul{background: none;border: 0;}
.news_sec .header .news_nav a{color:#bbb;}
.news_sec .header .news_nav a:hover{color:#fff;}

.news_detail_sec .header{position: fixed;}
.news_detail_sec .header{background: #1c9fe8;}
.news_detail_sec .header .btn_nav:hover{border-color: #65dcec;}
.news_detail_sec .header .news_nav{background: none;}
.news_detail_sec .header .news_nav .ic_arr{display: block;}
.news_detail_sec .header .news_nav ul{background: #fff;border: 1px solid #f1f1f1;}
.news_detail_sec .header .news_nav a{color:#909090;}
.news_detail_sec .header .news_nav a:hover{color:#575a5e;}
.news_detail_sec .header .news_nav .ic_bg{display: none;}
.news_detail_sec .header .news_nav ul{transform-origin: center top;-webkit-transform-origin: center top;transform: scale(0);-webkit-transform: scale(0);transition: transform .3s;-webkit-transition: transform .3s;}
.news_detail_sec .header .news_on ul{transform: scale(1);-webkit-transform: scale(1);box-shadow: 0 0 4px rgba(0,0,0,0.4);}
/*news sec end*/


@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
}
@-webkit-keyframes pulse{
    0%{-webkit-transform:scale(1);}
    50%{-webkit-transform:scale(1.1);}
    100%{-webkit-transform:scale(1);}
}

@keyframes swing{
    20%,40%,60%,80%,100%{transform-origin:top center;}
    20%{transform:rotate(15deg);}
    40%{transform:rotate(-10deg);}
    60%{transform:rotate(5deg);}
    80%{transform:rotate(-5deg);}
    100%{transform:rotate(0deg);}
}
@-webkit-keyframes swing{
    20%,40%,60%,80%,100%{-webkit-transform-origin:top center;}
    20%{-webkit-transform:rotate(15deg);}
    40%{-webkit-transform:rotate(-10deg);}
    60%{-webkit-transform:rotate(5deg);}
    80%{-webkit-transform:rotate(-5deg);}
    100%{-webkit-transform:rotate(0deg);}
}

@keyframes flash{
    0%,66.66%{opacity: 0;}
    33.33%,100%{opacity: 1;}
}
@-webkit-keyframes flash{
    0%,66.66%{opacity: 0;}
    33.33%,100%{opacity: 1;}
}

@keyframes tada{
    0%{transform:scale(1);}
    10%,20%{transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{transform:scale(1.1) rotate(-3deg);}
    100%{transform:scale(1) rotate(0);}
}
@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0);}
}

@keyframes rotateX{
    0%{transform: perspective(400px) rotateX(90deg);}    
    40%{transform: perspective(400px) rotateX(-30deg);}
    70%{transform: perspective(400px) rotateX(30deg);}
    100%{transform: perspective(400px) rotateX(0deg);}
}
@-webkit-keyframes rotateX{
    0%{-webkit-transform: perspective(400px) rotateX(90deg);}    
    40%{-webkit-transform: perspective(400px) rotateX(-30deg);}
    70%{-webkit-transform: perspective(400px) rotateX(30deg);}
    100%{-webkit-transform: perspective(400px) rotateX(0deg);}
}

@keyframes rotateY{
    0%{transform: perspective(400px) rotateY(90deg);}    
    40%{transform: perspective(400px) rotateY(-20deg);}
    70%{transform: perspective(400px) rotateY(20deg);}
    100%{transform: perspective(400px) rotateY(0deg);}
}
@-webkit-keyframes rotateY{
    0%{-webkit-transform: perspective(400px) rotateY(90deg);}    
    40%{-webkit-transform: perspective(400px) rotateY(-20deg);}
    70%{-webkit-transform: perspective(400px) rotateY(20deg);}
    100%{-webkit-transform: perspective(400px) rotateY(0deg);}
}

@keyframes bounce{
    0%,20%,50%,80%,100%{transform:translateY(0);}
    40%{transform:translateY(-20px);}
    60%{transform:translateY(-10px);}
}
@-webkit-keyframes bounce{
    0%,20%,50%,80%,100%{-webkit-transform:translateY(0);}
    40%{-webkit-transform:translateY(-20px);}
    60%{-webkit-transform:translateY(-10px);}
}

@keyframes bounceInDown{
    0%{opacity:0;transform:translateY(-2000px);}
    60%{opacity:1;transform:translateY(30px);}
    80%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}
@-webkit-keyframes bounceInDown{
    0%{opacity:0;-webkit-transform:translateY(-2000px);}
    60%{opacity:1;-webkit-transform:translateY(30px);}
    80%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
}


@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-webkit-keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes tt_effect{
    0%{transform:translateY(-20px);opacity:0;}
    100%{transform:translateY(0);opacity:1;}
}
@-webkit-keyframes tt_effect{
    0%{-webkit-transform:translateY(-20px);opacity:0;}
    100%{-webkit-transform:translateY(0);opacity:1;}
}

@keyframes bg_effect{
    0%{transform:scale(1,1);}
    100%{transform:scale(1.05,1.05);}
}
@-webkit-keyframes bg_effect{
    0%{-webkit-transform:scale(1,1);}
    100%{-webkit-transform:scale(1.05,1.05);}
}