@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: local('Tinos'), url(http://fonts.gstatic.com/s/tinos/v9/R0GUby9C7Xd7F2g6Wjdydw.ttf) format('truetype');
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  src: local('Tinos Bold'), local('Tinos-Bold'), url(http://fonts.gstatic.com/s/tinos/v9/3YkJL-56dKLNbFKy5GXN6PesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 700;
  src: local('Tinos Bold Italic'), local('Tinos-BoldItalic'), url(http://fonts.gstatic.com/s/tinos/v9/S7imToYaQDRqHLMz0Hj4eC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
