@charset 'euc-jp';
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1104;
    display: none;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
}

#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('/images/lib/fancybox/fancybox.png');
}

#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
    width: 100%;
}

#fancybox-tmp {
    display: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1101;
    display: none;
    padding: 20px;
    outline: none;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

#fancybox-content {
    position: relative;
    z-index: 1102;
    overflow: hidden;
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    border: 0 solid #fff;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1101;
    width: 100%;
    height: 100%;
    background: transparent;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1103;
    display: none;
    width: 30px;
    height: 30px;
    background: transparent url('/images/lib/fancybox/fancybox.png') -40px 0;
    cursor: pointer;
}

#fancybox-error {
    margin: 0;
    padding: 14px;
    color: #444;
    font: normal 12px/20px Arial;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    vertical-align: top;
    line-height: 0;
}

#fancybox-frame {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0;
    z-index: 1102;
    display: none;
    width: 35%;
    height: 100%;
    outline: none;
    background: transparent url('/images/lib/fancybox/blank.gif');
    cursor: pointer;
}

#fancybox-left {
    left: 0;
}

#fancybox-right {
    right: 0;
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    z-index: 1102;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
}

#fancybox-left-ico {
    background-image: url('/images/lib/fancybox/fancybox.png');
    background-position: -40px -30px;
}

#fancybox-right-ico {
    background-image: url('/images/lib/fancybox/fancybox.png');
    background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible;
    /* IE6 */
}

#fancybox-left:hover span {
    left: 20px;
}

#fancybox-right:hover span {
    right: 20px;
    left: auto;
}

.fancybox-bg {
    position: absolute;
    z-index: 1001;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
}

#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('/images/lib/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('/images/lib/fancybox/fancybox.png');
    background-position: -40px -162px;
}

#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('/images/lib/fancybox/fancybox-y.png');
    background-position: -20px 0;
}

#fancybox-bg-se {
    right: -20px;
    bottom: -20px;
    background-image: url('/images/lib/fancybox/fancybox.png');
    background-position: -40px -182px;
}

#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('/images/lib/fancybox/fancybox-x.png');
    background-position: 0 -20px;
}

#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('/images/lib/fancybox/fancybox.png');
    background-position: -40px -142px;
}

#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('/images/lib/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('/images/lib/fancybox/fancybox.png');
    background-position: -40px -122px;
}

#fancybox-title {
    z-index: 1102;
    font-size: 12px;
    font-family: Helvetica;
}

.fancybox-title-inside {
    position: relative;
    padding-bottom: 10px;
    background: #fff;
    color: #333;
    text-align: center;
}

.fancybox-title-outside {
    padding-top: 10px;
    color: #fff;
}

.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: left;
}

#fancybox-title-over {
    display: block;
    padding: 10px;
    background-image: url('/images/lib/fancybox/fancy_title_over.png');
}

.fancybox-title-float {
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 32px;
}

#fancybox-title-float-wrap {
    width: auto;
    border: none;
    border-collapse: collapse;
}

#fancybox-title-float-wrap td {
    border: none;
    white-space: nowrap;
}

#fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url('/images/lib/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
    padding: 0 0 3px 0;
    background: url('/images/lib/fancybox/fancybox-x.png') 0 -40px;
    color: #fff;
    font-weight: bold;
    line-height: 29px;
}

#fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url('/images/lib/fancybox/fancybox.png') -55px -90px no-repeat;
}