@charset 'UTF-8';
/* --- foudation _var.scss --- */



/* --- foudation _mixin.scss --- */
/* --- foudation _reset.scss --- */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    background: transparent; 
    vertical-align: baseline;
    font-weight: normal;
    font-size: 100%;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    background: transparent;
    color: #f04c32; 
    vertical-align: baseline;
    text-decoration: none;
    font-size: 100%;
}
a:hover {
    color: #930;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-weight: bold; 
    font-style: italic;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-spacing: 0; 
    border-collapse: collapse;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0; 
    border: none;
    border-top: 1px solid #ccc;
}

input, select {
    vertical-align: middle;
}

/* --- foudation _base.scss --- */

body {
    font-size: 12px;
    font-size: 1.2rem;
    font-family: 'LiHei Pro', 微軟正黑體, 'Microsoft JhengHei', Arial, Verdana, 'Trebuchet MS', sans-serif;
    line-height: 1.7; 

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    color: #f04c32;
}
a:hover {
    color: #930;
}

.general a {
    color: #239cb8;
}
.general a:hover {
    color: #56cfeb;
}

img {
    vertical-align: bottom;
}

label, select, button, input[type='button'], input[type='reset'], input[type='submit'], input[type='radio'], input[type='checkbox'] {
    cursor: pointer;
}

input[type='text'], input[type='password'], textarea {
    width: 100%;
    box-sizing: border-box;
}

input, button, select {
    margin: 0;
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
    font-size: 1.4rem;
}

textarea {
    min-height: 10em;
    padding: 10px;
    line-height: 1.6;
}

input[type='text'], input[type='number'], textarea, select {
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    font-family: 'LiHei Pro', 微軟正黑體, 'Microsoft JhengHei', Arial, Verdana, 'Trebuchet MS', sans-serif;
}

input[type='checkbox'] + span {
    margin-right: 3px;
    vertical-align: middle;
}

input[type='radio'] {
    margin: 0 3px;
}

/* --- foundation _clearfix.scss --- */
/* --- layout _header.scss --- */
.container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.container:after {
    display: block;
    clear: both;
    content: '';
}

/* --- layout _footer.scss --- */
.footer {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.footer .footer-up {
    padding: 20px 10px; 
    border-top: solid 1px #ccc;
}
.footer .footer-down {
    padding: 20px 10px; 
    border-top: solid 1px #ccc;
}
.footer .footer-down .footer-block {
    font-size: 0;
}
.footer .footer-down .footer-block .footer-box {
    display: inline-block;
    float: inherit;
    margin: 0;
    vertical-align: top; 
    font-size: 12px;
    font-size: 1.2rem;
}
.footer .footer-box {
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
}
.footer .footer-box.is-rightbox {
    float: right;
    text-align: left;
}
.footer .footer-box.is-rightbox .member {
    margin-bottom: 10px;
    padding-right: 6px;
    box-sizing: border-box;
}
.footer .footer-box.is-rightbox .member:after {
    display: block;
    clear: both;
    content: '';
}
.footer .footer-box.is-rightbox .member .image {
    float: left;
    width: 48px;
    height: 48px; 
    margin-right: 10px;
}
.footer .footer-box.is-rightbox .member .info {
    overflow: hidden;
    margin-left: 10px;
}
.footer .footer-box.is-rightbox .member .info .name {
    display: block; 
    word-break: break-all;
}
.footer .footer-box.is-rightbox .contents .charge {
    margin-bottom: 10px;
}
.footer .footer-box.is-rightbox .contents .fa {
    padding-right: 3px;
}
.footer .footer-box .footer-item.ttl {
    margin: 0 -10px;
    text-align: center;
}
.footer .footer-box .footer-item.contents li {
    margin-bottom: 10px;
}
.footer .footer-box .footer-item.logo {
    display: block;
    height: 50px;
    text-align: center;
}
.footer .footer-box .footer-item.logo img {
    height: 100%;
}
.footer .footer-box .footer-list {
    margin-top: 0;
    padding: 0 15px;
}
.footer .footer-box .footer-list li {
    margin-bottom: 6px; 
    border-left: solid 1px #b3b3b3;
}
.footer .footer-box .footer-list li:first-child {
    padding: 0;
}
.footer .footer-box .footer-list li:last-child {
    border-right: solid 1px #b3b3b3;
}
.footer .footer-box .copy {
    font-size: 10px;
    font-size: 1rem;
}
.footer .footer-nav {
    display: inline-block;
    float: inherit;
    margin: 0;
    vertical-align: top; 
    text-align: left;
}
.footer .footer-nav .ttl {
    margin-top: 0;
    color: #333;
}
.footer .footer-nav li {
    margin-bottom: 10px;
}

/* --- layout _grid.scss --- */

.grid {
    margin: 0 -10px;
    padding: 0;
}
.grid:after {
    display: block;
    clear: both;
    content: '';
}
.grid.is-adjust {
    margin: 0;
}
.grid.is-adjust > [class*='grid-'] {
    padding: 0;
}
.grid [class*='grid-'] {
    position: relative;
    float: left;
    min-height: 1px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* --- layout _header.scss --- */
.header-top {
    height: 50px;
    background: #fff;
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    line-height: 1;
}
.header-top:after {
    display: block;
    clear: both;
    content: '';
}
.header-top .logo {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
}
.header-top .logo img {
    display: block;
    height: 100%;
}
.header-top .header-item {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}
.header-top .header-toggle {
    position: relative;
    display: none;
}
.header-top .header-toggle.is-active .toggle-switch {
    height: 35px;
    padding-bottom: 0;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.header-top .header-toggle.is-active .toggle-container {
    display: block;
    border-radius: 5px 0 5px 5px;
}
.header-top .header-toggle .toggle-switch {
    position: relative;
    z-index: 110;
    display: inline-block;
    height: 40px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #333;
    vertical-align: middle; 
    text-align: center;
    font-size: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}
.header-top .header-toggle .toggle-switch .fa {
    display: block;
    margin-bottom: 3px; 
    font-size: 14px;
    font-size: 1.4rem;
}
.header-top .header-toggle .toggle-container {
    position: absolute;
    top: 34px;
    right: 0;
    z-index: 100;
    display: none;
    min-width: 230px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #333;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
}
.header-top .header-mymenu {
    display: block;
}
.header-top.is-static .header-mymenu {
    display: block;
}
.header-top .header-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding-right: 6px;
}
.header-top .header-dropdown.is-active {
    background: #ccc;
}
.header-top .header-dropdown.is-active .dropdown-container {
    display: block;
}
.header-top .header-dropdown.is-active .dropdown-switch .fa {
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.header-top .header-dropdown .dropdown-switch {
    position: relative; 
    color: #333;
}
.header-top .header-dropdown .dropdown-switch .notice {
    position: absolute;
    top: -13px; 
    left: 25px;
}
.header-top .header-dropdown .dropdown-switch .thumb {
    display: inline-block;
    width: 40px;
    height: auto;
    margin-right: 6px;
    vertical-align: middle;
}
.header-top .header-dropdown .dropdown-switch .username {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle; 
    font-size: 12px;
    font-size: 1.2rem;
}
.header-top .header-dropdown .dropdown-switch .fa {
    display: inline-block;
    vertical-align: middle; 
    font-size: 11px;
    font-size: 1.1rem;
}
.header-top .header-dropdown .dropdown-container {
    position: absolute;
    top: 40px;
    z-index: 100;
    display: none;
    width: 100%;
    border-top: 1px solid #ccc;
    background: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-transform: translateZ(0);
}
.header-top .header-iconlist {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.header-top .header-iconlist .item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.header-top .header-iconlist .item span {
    position: absolute;
    top: 5px; 
    right: 0;
}
.header-top .header-iconlist .item a {
    display: block;
    padding: 10px;
    color: #666;
    font-size: 20px;
}
.header-top .header-iconlist .item a:hover {
    background: #ccc;
}
.header-top .header-pointinfo {
    display: inline-block;
    padding-left: 15px;
    background: #fff;
    vertical-align: middle;
}
.header-top .header-pointinfo .point {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle; 
    font-size: 14px;
    font-size: 1.4rem;
}
.header-top .header-pointinfo .button {
    display: inline-block;
    min-width: 100px;
    vertical-align: middle;
}
.header-top .header-account {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
}
.header-top .mymenu a {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #333; 
    font-size: 12px;
    font-size: 1.2rem;
}
.header-top .mymenu a:hover {
    background: #e2e2e2;
}
.header-top .mymenu .fa {
    color: #ccc;
}
.header-top .exchange {
    display: inline-block;
    vertical-align: middle;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}
.header-right .login {
    width: 155px;
}

/* --- layout _section.scss --- */
.section {
    overflow: hidden;
    margin-bottom: 30px;
    padding-top: 20px;
}

/* --- component _adbanner.scss --- */

.c-adbanner {
    margin-bottom: 20px;
}
.c-adbanner a {
    display: block;
    overflow: hidden;
}
.c-adbanner a img {
    width: 150%;
    margin: 0 -25%;
}
.c-adbanner a:hover {
    opacity: 0.7;
}

/* --- component _acmenu.scss --- */

.c-acmenu {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    box-sizing: border-box;
}
.c-acmenu > .ttl {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 10px 30px 10px 0;
    border-bottom: 1px solid #ccc;
    color: #e60012; 
    font-size: 14px;
    font-size: 1.4rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.c-acmenu > .ttl:nth-last-of-type(1) {
    border: none;
}
.c-acmenu > .ttl:hover {
    cursor: pointer;
}
.c-acmenu > .ttl .fa {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    color: #333;
}
.c-acmenu > .ttl.is-active {
    border-bottom: 1px solid #f04c32;
}
.c-acmenu > .ttl.is-active .fa {
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.c-acmenu > .ttl > .main {
    display: block;
}
.c-acmenu > .ttl > .sub {
    display: block;
    margin: 0;
    color: #adadad; 
    font-size: 10px;
    font-size: 1rem;
}
.c-acmenu > .contents {
    display: none; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.c-acmenu > .contents:last-child {
    border: none;
}

.general .c-acmenu > .ttl {
    color: #239cb8;
}
.general .c-acmenu > .ttl.is-active {
    border-bottom: 1px solid #239cb8;
}

/* --- component _arrowlink.scss --- */

.c-arrowlink {
    display: block;
    text-align: right;
}
.c-arrowlink a {
    font-size: 14px;
    font-size: 1.4rem;
}
.c-arrowlink a .fa, .c-arrowlink a span {
    vertical-align: middle;
}

/* --- component _arrowlist.scss --- */

.c-arrowlist {
    display: block;
}
.c-arrowlist .item {
    position: relative;
    border-bottom: 1px dotted #b3b3b3;
}
.c-arrowlist .item:first-child .linkBox {
    margin-top: -20px;
}
.c-arrowlist .item .linkBox {
    display: block;
    width: 100%;
    padding: 15px 30px 15px 15px;
    box-sizing: border-box;
}
.c-arrowlist .item .linkBox:hover {
    background: #f0eeef;
}
.c-arrowlist .item .linkBox .fa {
    position: absolute;
    top: 45%;
    right: 10px;
    color: #adadad;
}
.c-arrowlist .item .ttl {
    margin-bottom: 3px;
    vertical-align: middle; 
    font-size: 14px;
    font-size: 1.4rem;
}
.c-arrowlist .item .main {
    margin-bottom: 3px;
    color: #333;
    vertical-align: middle;
}
.c-arrowlist .item .sub {
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
    color: #adadad;
    vertical-align: middle; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* --- component _button.scss --- */

.c-badge {
    padding: 3px 4px;
    border-radius: 10px;
    background: #f04c32;
    color: #fff;
    vertical-align: middle; 
    font-size: 10px;
    font-size: 1rem;
}

/* --- component _banner3step.scss --- */

.c-banner-3step {
    max-width: 662px;
    margin: 0 auto 20px;
    padding: 20px;
    background: url('/images/common/bg_3step.jpg') left top no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}
.c-banner-3step .banner {
    margin-top: 41%;
    background: #fff;
}

.general .c-banner-3step {
    background: url('/images/common/bg_3step-g.jpg');
}

/* --- component _acmenu.scss --- */

.c-breadcrumbs {
    width: 100%;
}
.c-breadcrumbs .list {
    background-color: #6b6b6b;
    color: #adadad;
    letter-spacing: -0.5em;
    line-height: 0;
}
.c-breadcrumbs .list .item {
    position: relative;
    display: inline-block;
    overflow-y: hidden;
    width: 33.333333333333333%;
    height: 40px;
    padding-left: 15px;
    vertical-align: top;
    text-align: center;
    letter-spacing: normal;
    line-height: 40px;
    box-sizing: border-box;
}
.c-breadcrumbs .list .item.is-active {
    color: #fff;
}
.c-breadcrumbs .list .item.is-active span:before {
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #434343 transparent transparent transparent;
    content: '';
}
.c-breadcrumbs .list .item:before {
    position: absolute;
    top: 50%;
    left: -15px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -50px;
    border-width: 50px 0 50px 30px;
    border-style: solid;
    border-color: transparent transparent transparent #808080;
    content: '';
}
.c-breadcrumbs .list .item:after {
    position: absolute;
    top: 50%;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -50px;
    border-width: 50px 0 50px 30px;
    border-style: solid;
    border-color: transparent transparent transparent #6b6b6b;
    content: '';
}
.c-breadcrumbs .list .item:first-child {
    padding-left: 0;
}
.c-breadcrumbs .list .item:first-child:before {
    display: none;
}
.c-breadcrumbs .list .item:first-child:after {
    display: none;
}

/* --- component _button.scss --- */

.c-button {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    background: #d3d3d3;
    background: linear-gradient(to bottom, #fff 0%, #d3d3d3 50%, #b6b6b6 100%);
    color: #333 !important;
    text-align: center; 
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 40px;
    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.c-button:hover {
    border-color: #dbdbdb;
    background: #fbfbfb;
    background: linear-gradient(to bottom, white 0%, #fbfbfb 50%, #dedede 100%);
}
.c-button:focus {
    outline: none;
}
.c-button:active {
    position: relative;
    top: 1px;
}
.c-button .fa {
    width: 24px;
    vertical-align: middle; 
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
}
.c-button.is-primary {
    border: none;
    background: #cf8f15;
    background: linear-gradient(to bottom, #fac455 0%, #e09a13 33%, #c1860e 69%, #cf8f15 100%);
    color: #fff !important; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.c-button.is-primary:hover {
    background: #f7b73d;
    background: linear-gradient(to bottom, #ffec7d 0%, #ffc23b 33%, #e9ae36 69%, #f7b73d 100%);
    color: #fff !important;
}
.c-button.is-secondary {
    border: none;
    background: #d64c1d;
    background: linear-gradient(to bottom, #fb9370 0%, #ee4c16 33%, #cf4518 69%, #d64c1d 100%);
    color: #fff !important; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.c-button.is-secondary:hover {
    background: #fe7445;
    background: linear-gradient(to bottom, #ffbb98 0%, #ff743e 33%, #f76d40 69%, #fe7445 100%);
    color: #fff !important;
}
.c-button.is-important {
    border: none;
    background: #b60000;
    background: linear-gradient(to bottom, #f70000 0%, #d30000 50%, #b60000 100%);
    color: #fff !important; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.c-button.is-important:hover {
    background: #de2828;
    background: linear-gradient(to bottom, #ff2828 0%, #fb2828 50%, #de2828 100%);
    color: #fff !important;
}
.c-button.is-upload {
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    background: #dfdfdf;
    background: linear-gradient(to bottom, #f6f6f6 0%, #dfdfdf 100%);
}
.c-button.is-upload:hover {
    background: white;
    background: linear-gradient(to bottom, white 0%, white 100%);
}
.c-button.is-flatGray {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    color: #f04c32 !important;
}
.c-button.is-flatGray:hover {
    color: #f04c32 !important;
}
.c-button.is-flatWhite {
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff !important;
}
.c-button.is-flatWhite:hover {
    color: #fff !important;
}
.c-button.is-disabled {
    background: #aaa;
    color: #666 !important;
    cursor: default;
}
.c-button.is-disabled:hover {
    border: 1px solid #b3b3b3;
}
.c-button.is-disabled:active {
    top: 0;
}
.c-button.is-exchange-general {
    border: solid 1px transparent; 
    background: #5cc6e3;
    color: #fff !important;
}
.c-button.is-exchange-general:hover {
    background: #8ff9ff;
    color: #fff !important;
}
.c-button.is-exchange-adult {
    border: solid 1px transparent; 
    background: #f04c32;
    color: #fff !important;
}
.c-button.is-exchange-adult:hover {
    background: #ff7f65;
    color: #fff !important;
}
.c-button.is-small {
    height: 30px;
    line-height: 30px;
}
.c-button.is-medium {
    height: 35px;
    line-height: 35px;
}

.general .c-button.is-secondary {
    background: #189ccf;
    background: linear-gradient(to bottom, #69c0fd 0%, #16b2ee 33%, #189ccf 69%, #1d92d6 100%);
    color: #fff !important;
}
.general .c-button.is-secondary:hover {
    background: #40c4f7;
    background: linear-gradient(to bottom, #91e8ff 0%, #3edaff 33%, #40c4f7 69%, #45bafe 100%);
    color: #fff !important;
}

.general .c-button.is-flatGray {
    color: #239cb8 !important;
}
.general .c-button.is-flatGray:hover {
    color: #239cb8 !important;
}

/* --- component _button-scrolltop.scss --- */

.c-button-scrolltop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    font-size: 10px;
}
.c-button-scrolltop a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: #bbb;
    color: #fff;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    -ms-filter: 'alpha(opacity=80)';
    filter: alpha(opacity=80);
}
.c-button-scrolltop a:hover {
    background: #bbb;
    text-decoration: none;
    opacity: 1;
    -ms-filter: 'alpha(opacity=100)';
    filter: alpha(opacity=100);
}

/* --- component _capt.scss --- */

.c-capt {
    margin-bottom: 20px;
}
.c-capt .main {
    display: inline-block;
    margin-right: 6px;
    color: #f04c32; 
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
}
.c-capt .sub {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    font-size: 1.1rem;
}

.general .c-capt .main {
    color: #239cb8;
}

/* --- component _cardlist.scss --- */

.c-cardlist {
    display: block;
    letter-spacing: -0.4em;
}
.c-cardlist .card {
    display: block;
    margin-bottom: 15px;
    letter-spacing: normal;
}
.c-cardlist a:hover .image {
    opacity: 0.7;
}
.c-cardlist .image {
    margin-bottom: 6px;
}
.c-cardlist .image img {
    width: 100%;
    height: auto;
}
.c-cardlist .title {
    display: block;
    overflow: hidden;
    margin-bottom: 6px; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-size: 1.2rem;
}

/* --- component _countdown.scss --- */

.c-countdown {
    margin: 0 auto 15px;
}
.c-countdown .slideinner {
    position: relative;
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    padding: 6px;
    background: #cc8803;
    background: linear-gradient(to bottom, #fdeac2 0%, #cc8803 50%, #070000 100%);
    box-sizing: border-box;
}
.c-countdown .thumb img {
    display: block;
    width: 100%;
    height: auto;
}
.c-countdown .thumb a:hover {
    display: block;
    background: #fff;
}
.c-countdown .thumb a:hover img {
    opacity: 0.7;
}
.c-countdown .time {
    padding: 6px;
    background: #6c0601;
    background: linear-gradient(to bottom, #d70b00 0%, #6c0601 100%);
    text-align: center;
    letter-spacing: -0.4em;
}
.c-countdown .time:after {
    display: block;
    clear: both;
    content: '';
}
.c-countdown .time .cell {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 47px;
    margin-left: 1px;
    background: url('/images/common/bg_timeCell.jpg') center center no-repeat;
    background-size: contain;
    letter-spacing: normal;
}
.c-countdown .time .cell [class^='n'] {
    display: block;
    height: 47px;
    background: url('/images/common/tx_count.png') 0 0 repeat-y transparent;
    transition: all 0.5s ease;
}
.c-countdown .time .cell .n0 {
    background-position: center 0;
}
.c-countdown .time .cell .n1 {
    background-position: center -47px;
}
.c-countdown .time .cell .n2 {
    background-position: center -94px;
}
.c-countdown .time .cell .n3 {
    background-position: center -141px;
}
.c-countdown .time .cell .n4 {
    background-position: center -188px;
}
.c-countdown .time .cell .n5 {
    background-position: center -235px;
}
.c-countdown .time .cell .n6 {
    background-position: center -282px;
}
.c-countdown .time .cell .n7 {
    background-position: center -329px;
}
.c-countdown .time .cell .n8 {
    background-position: center -376px;
}
.c-countdown .time .cell .n9 {
    background-position: center -423px;
}
.c-countdown .time .txt {
    display: inline-block;
    margin: 0 2px 0 3px;
    color: #fff;
    vertical-align: top;
    letter-spacing: normal; 
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 47px;
}
.c-countdown .controller {
    position: relative;
    max-width: 272px;
    width: 100%;
    height: 40px;
    margin: 6px auto 0;
}
.c-countdown .controller .next, .c-countdown .controller .prev {
    position: absolute;
    z-index: 50; 
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    background: #434343;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.c-countdown .controller .next .fa, .c-countdown .controller .prev .fa {
    vertical-align: middle; 
    font-size: 30px;
}
.c-countdown .controller .next:hover, .c-countdown .controller .prev:hover {
    opacity: 0.9;
}
.c-countdown .controller .next {
    right: 0;
}
.c-countdown .controller .prev {
    left: 0;
}
.c-countdown .bx-pager {
    z-index: 10; 
    margin-top: 16px;
}

.general .c-countdown .slideinner {
    background: #5cc6e3;
    background: linear-gradient(to bottom, #5cc6e3 0%, #070000 100%);
}

.general .c-countdown .time {
    background: #5cc6e3;
    background: linear-gradient(to bottom, #5cc6e3 0%, #00466f 100%);
}

/* --- component _doclist.scss --- */

.c-doclist {
    margin-bottom: 20px;
}
.c-doclist .headline {
    padding: 10px;
    background: #f04c32;
    color: #fff; 
    font-size: 14px;
    font-size: 1.4rem;
}
.c-doclist .title {
    display: block;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
}
.c-doclist .title:hover {
    background: #eee;
}
.c-doclist .title.is-open {
    border-bottom: 1px solid;
    background: #eee;
    color: #930;
}
.c-doclist .title .main {
    font-size: 12px;
    font-size: 1.2rem;
}
.c-doclist .title .sub {
    display: block;
    margin-top: 6px;
    color: #666;
    text-align: right; 
    font-size: 12px;
    font-size: 1.2rem;
}
.c-doclist .content {
    display: none;
    padding: 10px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.general .c-doclist .headline {
    background: #5cc6e3;
}

.general .c-doclist .title.is-open {
    border-bottom: 1px solid #239cb8;
    color: #239cb8;
}

/* --- component _formlist.scss --- */

.c-formlist .wrapper .ttl, .c-formlist .wrapper .info {
    display: inline-block;
    float: inherit; 
    font-size: 12px;
    font-size: 1.2rem;
}
.c-formlist .wrapper .is-top.ttl, .c-formlist .wrapper .is-top.info {
    vertical-align: top;
}
.c-formlist .wrapper .is-middle.ttl, .c-formlist .wrapper .is-middle.info {
    vertical-align: middle;
}
.c-formlist .wrapper .is-bottom.ttl, .c-formlist .wrapper .is-bottom.info {
    vertical-align: bottom;
}

.c-formlist .wrapper {
    width: 100%;
    margin-bottom: 15px; 
    font-size: 0;
}
.c-formlist .wrapper .ttl {
    padding-right: 10px;
}
.c-formlist .wrapper .ttl:after {
    padding-right: 10px; 
    padding-left: 6px;
    content: ':';
}
.c-formlist .wrapper .boxImage img {
    display: inline-block;
    max-width: 200px;
    margin-right: 6px;
}

/* --- component _gamelist.scss --- */

.c-gamelist {
    display: block;
    letter-spacing: -0.4em;
}
.c-gamelist .game {
    position: relative;
    display: block;
    border-top: 1px solid #e5e5e5;
    letter-spacing: normal;
}
.c-gamelist .game:after {
    display: block;
    clear: both;
    content: '';
}
.c-gamelist a.game:hover {
    opacity: 0.7;
}
.c-gamelist .game-thumb {
    float: left;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
}
.c-gamelist .game-thumb img {
    display: block;
    width: 100%;
    height: auto;
}
.c-gamelist .game-content {
    overflow: hidden;
    padding-top: 10px;
    box-sizing: border-box;
}
.c-gamelist .game-content .ttl {
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
}
.c-gamelist .game-content .text {
    padding-bottom: 6px;
    color: #333;
    font-size: 10px;
    font-size: 1rem;
    line-height: 1.6;
}
.c-gamelist [class*='grid-'] {
    display: inline-block;
    float: inherit;
    vertical-align: top;
    box-sizing: border-box;
}

.general .c-gamelist.is-responsive .game-thumb .is-pc {
    display: none;
}

.general .c-gamelist.is-responsive .game-thumb .is-sp {
    display: block;
}

/* --- component _gridmenu.scss --- */

.c-gridmenu {
    border: 1px solid #ccc;
}
.c-gridmenu.is-pc {
    display: none;
}
.c-gridmenu.is-sp {
    display: block;
}
.c-gridmenu .item {
    display: block;
    padding: 15px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #333;
    font-size: 11px;
    font-size: 1.1rem;
    box-sizing: border-box;
}
.c-gridmenu .item.is-active, .c-gridmenu .item:hover {
    background: #aaa;
    color: #fff;
}
.c-gridmenu .item .fa {
    margin-right: 3px;
}
.c-gridmenu li:nth-child(even) .item {
    border-right: none;
}

/* --- component _gamecheck.scss --- */

.c-gamecheck {
    display: inline-block;
    margin: 15px 0;
    padding: 15px;
    background: #434343;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.c-gamecheck label {
    display: inline-block;
    margin-bottom: 6px;
}
.c-gamecheck.is-error {
    padding: 20px; 
    font-size: 16px;
    font-size: 1.6rem;
}

/* --- component _invitebanner.scss --- */

.c-invitebanner {
    margin-bottom: 15px;
    background: #b21117;
    background: linear-gradient(90deg, #b21117 0%, #ff222e 50%, #b21117 100%);
}
.c-invitebanner .inner {
    padding: 10px;
    background: url('/images/common/bg_registbanner.png') 100% 0 no-repeat;
    background-size: 60%;
    color: #fff;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6;
}
.c-invitebanner .inner .text {
    width: 50%;
    margin-bottom: 6px;
}
.c-invitebanner .inner hr {
    width: 50%;
}
.c-invitebanner .inner input[type='text'] {
    width: 100%;
    padding: 6px;
    border: none;
    color: #f04c32;
    font-size: 11px;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.general .c-invitebanner {
    background: #5cc6e3;
    background: linear-gradient(90deg, #088ec1 0%, #5cc6e3 50%, #088ec1 100%);
}
.general .c-invitebanner .inner input[type='text'] {
    color: #239cb8;
}

/* --- component _medialist.scss --- */

.c-medialist > [class*='grid']:first-child .media {
    margin-top: 0;
}

.c-medialist > [class*='grid']:last-child .media {
    margin-bottom: 10px;
}

.c-medialist .media {
    position: relative;
    display: block;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #adadad;
    letter-spacing: normal;
}
.c-medialist .media:after {
    display: block;
    clear: both;
    content: '';
}

.c-medialist .media-thumb {
    float: left;
    width: 20%;
    padding-right: 10px;
    box-sizing: border-box;
}
.c-medialist .media-thumb img {
    display: block;
    width: 100%;
    height: auto;
}

.c-medialist .media-content {
    overflow: hidden;
    box-sizing: border-box;
}
.c-medialist .media-content .main {
    margin-bottom: 6px;
    word-break: break-all; 
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
}
.c-medialist .media-content .sub {
    padding-bottom: 6px;
    color: #adadad;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* --- component _button.scss --- */

.c-menubar {
    background: #000;
    background: linear-gradient(to bottom, black 0%, black 50%, #390000 100%);
}
.c-menubar .item a {
    position: relative;
    z-index: 20; 
    display: block;
    height: 40px;
    border-right: 1px solid #000;
    box-shadow: inset -1px 0 0 #430e0e;
    color: #adadad;
    text-align: center;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 40px;
    box-sizing: border-box;
}
.c-menubar .item a span {
    font-weight: bold;
}
.c-menubar .item a:hover, .c-menubar .item a.is-active {
    background: radial-gradient(circle, #af381a 0%, rgba(147, 35, 31, 0) 70%, rgba(147, 35, 31, 0) 100%);
    background: radial-gradient(bottom center, #af381a 0%, rgba(147, 35, 31, 0) 70%, rgba(147, 35, 31, 0) 100%);
    background: -webkit-radial-gradient(bottom center, #af381a 0%, rgba(147, 35, 31, 0) 70%, rgba(147, 35, 31, 0) 100%); 
    color: #fff;
}
.c-menubar .item:first-child a {
    border-left: 1px solid #000;
}

.general .c-menubar {
    background: linear-gradient(to bottom, black 0%, black 50%, #090039 100%);
}
.general .c-menubar .item a {
    box-shadow: inset -1px 0 0 #0e1743;
}
.general .c-menubar .item a:hover, .general .c-menubar .item a.is-active {
    background: radial-gradient(circle, #5cc6e3 0%, rgba(147, 35, 31, 0) 70%, rgba(147, 35, 31, 0) 100%);
    background: radial-gradient(bottom center, #5cc6e3 0%, rgba(147, 35, 31, 0) 70%, rgba(147, 35, 31, 0) 100%);
    background: -webkit-radial-gradient(bottom center, #5cc6e3 0%, rgba(147, 35, 31, 0) 70%, rgba(147, 35, 31, 0) 100%);
}

/* --- component _message.scss --- */

.c-message {
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #fff; 
    text-align: center;
}
.c-message.is-error {
    border-color: #e60012; 
    color: #e60012;
}
.c-message.is-inline-block {
    display: inline-block;
}

.general .c-message.is-error {
    border-color: #239cb8; 
    color: #239cb8;
}

/* --- component _nodata.scss --- */

.c-nodata {
    padding: 40px 0;
    color: #adadad;
    text-align: center; 
    font-size: 14px;
    font-size: 1.4rem;
}

/* --- component _notice.scss --- */

.c-notice {
    margin-bottom: 15px;
    padding: 20px;
    background: #eee;
}
.c-notice .main {
    font-size: 14px;
    font-size: 1.4rem;
}
.c-notice .sub {
    margin-top: 15px;
}

/* --- component _pagination.scss --- */

.c-pagination {
    display: block;
    max-width: 600px;
    margin: 10px auto;
    border: 1px solid #ccc;
}
.c-pagination .list {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.c-pagination .item {
    display: table-cell;
    border-left: 1px solid #ccc; 
    font-size: 12px;
    font-size: 1.2rem;
}
.c-pagination .item.is-active a {
    background: #e6e6e6;
}
.c-pagination .item:first-child {
    border-left: none;
}
.c-pagination .item a {
    display: block;
    padding: 10px;
    color: #333;
    text-align: center;
    box-sizing: border-box;
}
.c-pagination .item a:hover {
    background: #e6e6e6;
}

/* --- component _button.scss --- */

.c-pointinfo {
    display: block;
    padding: 6px;
    background: #eee;
}
.c-pointinfo .point {
    text-align: center; 
    font-size: 14px;
    font-size: 1.4rem;
}
.c-pointinfo.grid {
    letter-spacing: -0.4em;
}
.c-pointinfo.grid [class*='grid-'] {
    display: inline-block;
    float: inherit;
    vertical-align: middle; 
    letter-spacing: normal;
}

/* --- component _shadowbox.scss --- */

.c-shadowbox {
    width: 100%;
    padding: 20px;
    border: 1px solid #b3b3b3;
    background-color: #fff;
    box-shadow: 0 1px 8px -1px #cbcbcb;
    box-sizing: border-box;
}

/* --- component _singleline-list.scss --- */

.c-singleline-list li:last-child .item {
    border: none;
}

.c-singleline-list .item {
    display: block;
    padding: 6px;
    border-bottom: 1px dashed #adadad;
    color: #333;
}
.c-singleline-list .item.is-active, .c-singleline-list .item:hover {
    background: #f0eeef;
}

.c-singleline-list .thumb {
    display: block;
    margin-right: 10px;
}
.c-singleline-list .thumb img {
    width: 100%;
    height: auto;
}

.c-singleline-list .ttl {
    display: block;
    overflow: hidden;
    padding: 10px 0; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.c-singleline-list .is-center {
    text-align: center;
}

.c-singleline-list .fa {
    display: inline-block;
    margin-right: 6px;
    color: #adadad; 
    text-align: center;
}

.c-singleline-list .grid {
    font-size: 0;
}
.c-singleline-list .grid > [class*='grid-'] {
    display: inline-block;
    float: inherit;
    vertical-align: middle; 
    font-size: 12px;
    font-size: 1.2rem;
}

/* --- component _modal.scss --- */

.c-modal {
    z-index: 300; 
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.c-modal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 490;
    display: none;
    overflow-y: hidden; 
    width: 100%;
    height: 100%;
    background: #434343;
    background: rgba(0, 0, 0, 0.8);
}
.c-modal .panel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    overflow-y: auto;
    min-width: 30%;
    max-height: 90%;
    padding: 20px;
    background: #fff;
    vertical-align: middle;
    text-align: left;
    white-space: normal;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: default;
    box-sizing: border-box; 
    transition: opacity 0.5s;
}
.c-modal .panel.is-active {
    z-index: 500;
    opacity: 1;
    filter: alpha(opacity=100);
}
.c-modal .panel .ttl {
    margin-bottom: 15px;
    padding-bottom: 6px;
    border-bottom: solid 1px #ccc; 
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
}
.c-modal .panel .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center; 
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1;
}

/* --- component _slider.scss --- */

.c-slider {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    background: #dd2c0d;
}
.c-slider .slideinner {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}
.c-slider .slideinner img {
    max-width: 1024px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.c-slider .controller .next, .c-slider .controller .prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 50; 
    display: block;
    width: 40px;
    height: 80px;
    margin: auto;
    background: #434343;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}
.c-slider .controller .next .fa, .c-slider .controller .prev .fa {
    vertical-align: middle; 
    font-size: 30px;
}
.c-slider .controller .next:hover, .c-slider .controller .prev:hover {
    opacity: 0.9;
}
.c-slider .controller .next {
    right: 0;
}
.c-slider .controller .prev {
    left: 0;
}
.c-slider .cover .coverleft, .c-slider .cover .coverright {
    position: absolute;
    top: 0;
    height: 100%;
    text-align: left;
}
.c-slider .cover .coverleft img, .c-slider .cover .coverright img {
    width: auto;
    height: 100%;
}
.c-slider .cover .coverleft {
    left: -190px;
}
.c-slider .cover .coverright {
    left: 875px;
}

.general .c-slider {
    background: #5cc6e3;
}

/* --- component _tab.scss --- */

.c-tab {
    display: block;
    border: 1px solid #ccc;
}
.c-tab .tabs {
    border-bottom: 1px solid #ccc;
}
.c-tab .tabs li:first-child .tab-trigger {
    border-left: none;
}
.c-tab .tabs .tab-trigger {
    display: block;
    padding: 15px;
    border-left: 1px solid #ccc;
    background: #e6e6e6;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    box-sizing: border-box;
}
.c-tab .tabs .tab-trigger:hover {
    background: #fff;
}
.c-tab .tabs .tab-trigger.is-active {
    position: relative;
    top: 1px;
    background: #fff;
}
.c-tab .tab-container {
    display: none;
    padding: 15px;
}
.c-tab .tab-container.is-active {
    display: block;
}

/* --- component _taglist.scss --- */

.c-tag-list {
    margin-bottom: 3px;
    letter-spacing: -0.4em;
}
.c-tag-list .tag {
    display: inline-block;
    margin: 0 3px 3px 0;
    padding: 3px 6px;
    background: #f04c32;
    color: #fff;
    letter-spacing: 0; 
    font-size: 12px;
    font-size: 1.2rem;
}
.c-tag-list .tag > .fa {
    margin-right: 3px;
    vertical-align: baseline; 
    font-size: 14px;
    font-size: 1.4rem;
}
.c-tag-list .tag.is-pc {
    background: #70bdca;
}
.c-tag-list .tag.is-smartphone {
    background: #da9d3e;
}
.c-tag-list .tag.is-smartphone > .fa {
    font-size: 16px;
    font-size: 1.6rem;
}
.c-tag-list .tag.is-app {
    background: #98ca70;
}

.general .c-tag-list .tag {
    background: #5cc6e3;
}
.general .c-tag-list .tag.is-pc {
    background: #fd5b59;
}
.general .c-tag-list .tag.is-smartphone {
    background: #da9d3e;
}
.general .c-tag-list .tag.is-app {
    background: #98ca70;
}

/* --- component _title.scss --- */

.c-title {
    margin: 0 0 20px 0;
}
.c-title .title {
    padding: 5px 20px;
    background: #434343;
    color: #fff; 
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 32px;
}

/* --- component _userinfo.scss --- */

.c-userinfo {
    width: 100%;
    padding: 10px;
    background: #a40000;
    color: #fff;
    box-sizing: border-box;
}
.c-userinfo:after {
    display: block;
    clear: both;
    content: '';
}
.c-userinfo .thumb {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
}
.c-userinfo .thumb img {
    max-width: 200px;
    width: 100%;
    height: auto;
}
.c-userinfo .thumb:hover .overlay {
    display: block;
}
.c-userinfo .thumb .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
}
.c-userinfo .thumb .overlay span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 1em;
    margin: auto;
    color: #f04c32;
    text-align: center; 
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4rem;
}
.c-userinfo .data {
    overflow: hidden;
    padding-left: 10px;
}
.c-userinfo .username {
    word-break: break-all;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.1;
}
.c-userinfo .username span {
    display: block;
    margin-top: 6px; 
    font-size: 10px;
    font-size: 1rem;
}
.c-userinfo .stats a {
    display: block;
    color: #fff;
    text-align: center;
}
.c-userinfo .stats .num {
    display: block;
    margin-bottom: 6px; 
    font-size: 14px;
    font-size: 1.4rem;
}
.c-userinfo .stats .text {
    display: block; 
    font-size: 12px;
    font-size: 1.2rem;
}

.general .c-userinfo {
    background: #5cc6e3;
}

/* --- component _utilitybox.scss --- */

.c-utility-box {
    padding: 15px;
    border: 1px solid #ccc;
}
.c-utility-box .head {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.c-utility-box .head .main {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle; 
    font-size: 16px;
    font-size: 1.6rem;
}
.c-utility-box .head .sub {
    display: inline-block;
    margin-right: 3px;
    color: #f04c32; 
    vertical-align: middle;
    font-size: 12px;
    font-size: 1.2rem;
}
.c-utility-box .head .fa {
    display: inline-block;
    margin-right: 6px;
    color: #adadad; 
    vertical-align: middle;
    font-size: 20px;
}

.general .head .sub {
    color: #239cb8;
}

/* --- project _account.scss --- */
.page-account .account-area {
    display: block;
    width: 100%;
}
.page-account .account-area .c-formlist .wrapper input::-webkit-input-placeholder {
    color: transparent;
}
.page-account .account-area .c-formlist .wrapper input:-ms-input-placeholder {
    color: transparent;
}
.page-account .account-area .c-formlist .wrapper input::-moz-placeholder {
    color: transparent;
}
.page-account .account-area .c-formlist .wrapper .bot-check img {
    display: block;
}
.page-account .account-area .c-formlist .wrapper .link:after {
    padding: 0 6px; 
    content: '|';
}
.page-account .account-area .sp-box .ttl {
    display: none;
}
.page-account .account-area .sp-box .desc {
    display: block;
}
.page-account .account-area .sns-box {
    width: 100%;
    border: 1px solid #b3b3b3;
    background-color: #fff; 
    box-sizing: border-box;
}
.page-account .account-area .sns-box .contents {
    border-bottom: 1px solid #b3b3b3;
}
.page-account .account-area .sns-box .contents a {
    display: block;
    min-width: 40px;
    min-height: 40px;
    padding: 10px;
    color: #333; 
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 40px;
}
.page-account .account-area .sns-box .contents a:hover {
    background: #f0eeef;
}
.page-account .account-area .sns-box .contents .ico-sns {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 6px;
}
.page-account .account-area .sns-box .contents:last-child {
    border: none;
}
.page-account .account-area .c-acmenu {
    margin-top: 10px; 
    background-color: #fff;
}

.page-account .regist-complete {
    padding-bottom: 20px; 
    text-align: center;
}
.page-account .regist-complete .limit-ttl {
    margin-bottom: 20px; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-account .regist-complete .c-notice {
    text-align: center;
}
.page-account .regist-complete .confirm {
    max-width: inherit;
    margin: 0 auto;
    text-align: left;
}

.page-account .reset-password {
    text-align: center;
}
.page-account .reset-password .c-formlist {
    display: inline-block;
    width: 50%;
}
.page-account .reset-password .c-formlist .wrapper input::-webkit-input-placeholder {
    color: transparent;
}
.page-account .reset-password .c-formlist .wrapper input:-ms-input-placeholder {
    color: transparent;
}
.page-account .reset-password .c-formlist .wrapper input::-moz-placeholder {
    color: transparent;
}

.page-account .pass-input {
    margin-top: 20px;
    text-align: center;
}

/* --- project _top.scss --- */
.page-top .age-check {
    position: relative;
    padding: 120px 0 60px; 
    background: url('/images/common/rate_model.png') -25% top no-repeat;
    background-size: 70%;
}
.page-top .age-check:before {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.6) 30%, transparent 100%); 
    content: '';
}
.page-top .age-check .message {
    margin-bottom: 20px; 
    padding: 20px;
    background-color: #434343;
    color: #fff;
}
.page-top .age-check .message .ttl {
    margin-bottom: 10px; 
    text-align: center;
    font-size: 16px;
    font-size: 1.6rem;
}
.page-top .age-check .message .contents {
    display: block;
    margin-bottom: 10px;
}
.page-top .age-check .message .contents:last-child {
    margin-bottom: 0;
}

/* --- project _delete-game.scss --- */
.page-delete-game .thumbs {
    margin-bottom: 15px;
    text-align: center;
}

.page-delete-game .thumb {
    max-width: 300px;
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

/* --- project _detail.scss --- */
.page-detail {
    min-height: 600px; 
    background-color: #eee;
    background-position: top center;
    background-repeat: no-repeat;
}
.page-detail.is-close {
    background: #fff;
}
.page-detail .detail-media {
    margin-bottom: 20px;
}
.page-detail .detail-media .media {
    text-align: center;
}
.page-detail .detail-media .logo {
    display: block;
    margin: 0 auto;
}
.page-detail .detail-media .play {
    display: block;
    overflow: hidden; 
    width: 462px;
    height: 108px;
    margin: 0 auto;
}
.page-detail .detail-media .play img:hover {
    margin-top: -112px;
}
.page-detail .detail-media .frame-app {
    position: absolute;
    right: 80px;
    bottom: -200px;
    margin-top: 200px;
}
.page-detail .detail-media .frame-app .lead {
    position: relative;
    z-index: 10;
}
.page-detail .detail-media .frame-app a {
    display: inline-block;
    margin-top: -10px;
    padding: 10px;
    border: 4px solid #f04c32;
    background: #fff;
    box-sizing: border-box;
}
.page-detail .detail-media .frame-app a:hover img {
    opacity: 0.7;
}
.page-detail .detail-info {
    position: relative;
    z-index: 50; 
    margin-bottom: 20px;
}
.page-detail .detail-info .game-desc {
    float: right; 
    text-align: left;
}
.page-detail .detail-info .game-desc > p {
    font-size: 14px;
    font-size: 1.4rem;
}
.page-detail .detail-info .syncSlider {
    display: block;
    float: right; 
    padding-right: 15px;
}
.page-detail .detail-info .syncSlider img {
    width: 100%;
}
.page-detail .detail-info .syncSlider .slide-item {
    position: relative;
}
.page-detail .detail-info .syncSlider .slide-item li {
    position: absolute;
    top: 0;
    opacity: 0; 
    transition: all 0.3s;
}
.page-detail .detail-info .syncSlider .slide-item li.is-active {
    position: relative;
    z-index: 10; 
    opacity: 1;
}
.page-detail .detail-info .syncSlider #bx-pager {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 20px;
}
.page-detail .detail-info .syncSlider .carousel {
    margin-top: 10px;
    letter-spacing: -0.4em;
}
.page-detail .detail-info .syncSlider .carousel li {
    display: inline-block;
    float: left;
    margin-left: 10px; 
    letter-spacing: normal;
}
.page-detail .detail-info .syncSlider .carousel li:first-child {
    margin-left: 0;
}
.page-detail .detail-info .syncSlider .carousel li img {
    width: 120px;
    height: 80px;
    cursor: pointer;
}
.page-detail .detail-info .syncSlider .ps-scrollbar-x-rail {
    opacity: 1;
}
.page-detail .detail-info .syncSlider .ps-scrollbar-x-rail .ps-scrollbar-x {
    bottom: 1px;
    height: 11px;
    cursor: pointer;
}
.page-detail .detail-info .game-detail {
    width: 100%;
    margin-top: 20px;
}
.page-detail .detail-info .game-detail:first-child {
    margin-top: 0;
}
.page-detail .detail-info .game-detail > .grid {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.page-detail .detail-info .game-detail .column {
    display: table-cell;
    float: inherit;
    margin-top: 20px;
    padding-left: 15px;
}
.page-detail .detail-info .game-detail .column > p {
    font-size: 14px;
    font-size: 1.4rem;
}
.page-detail .detail-info .game-detail .column:first-child {
    padding-right: 15px;
    padding-left: 0;
    border-right: 1px solid #ccc;
}
.page-detail .detail-info .game-copyright {
    border: 1px solid #ccc;
}
.page-detail .detail-info .game-copyright li {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ccc; 
    table-layout: fixed;
}
.page-detail .detail-info .game-copyright li:last-child {
    border: none;
}
.page-detail .detail-info .game-copyright .ttl {
    display: table-cell;
    float: inherit;
    padding: 10px;
    border-right: 1px solid #ccc;
    background-color: #f0eeef;
    vertical-align: middle; 
    box-sizing: border-box;
}
.page-detail .detail-info .game-copyright .contents {
    display: table-cell;
    float: inherit;
    padding: 10px;
    vertical-align: middle; 
    box-sizing: border-box;
}
.page-detail .c-utility-box {
    background-color: #fff;
}
.page-detail .game-info {
    position: relative;
}
.page-detail .game-info .sub {
    padding-bottom: 6px; 
    font-size: 14px;
    font-size: 1.4rem;
}
.page-detail .game-info .date {
    margin-bottom: 20px;
    font-weight: bold;
}
.page-detail .box-link {
    float: inherit; 
    text-align: center;
}
.page-detail .box-link div {
    display: inline-block; 
    float: inherit;
}
.page-detail .news-list li {
    margin-top: 10px; 
    border-bottom: 1px solid #ccc;
}
.page-detail .modal-item:after {
    display: block;
    clear: both;
    content: '';
}
.page-detail .modal-item .app-icon {
    float: left;
    margin: 0 20px 20px 0;
}
.page-detail .modal-item .app-content {
    position: relative; 
    float: left;
}
.page-detail .modal-item .qrcode {
    border: #ccc 1px solid;
}
.page-detail .modal-item .form-url .url {
    float: left;
    min-width: 260px;
    box-sizing: border-box;
}
.page-detail .modal-item .form-url .url input {
    width: 100%;
}
.page-detail .modal-item .form-url button {
    position: relative;
    left: -1px;
    outline: none; 
    border: 1px solid #aaa;
    line-height: 1;
    box-sizing: border-box;
}
.page-detail .modal-item .form-url button.tooltipped:before {
    position: absolute;
    top: auto;
    top: -10px;
    right: 50%;
    z-index: 110;
    display: block;
    width: 0;
    height: 0;
    margin-right: -5px;
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    content: '';
    pointer-events: none;
}
.page-detail .modal-item .form-url button.tooltipped:after {
    position: absolute;
    top: -34px;
    left: -14px;
    z-index: 100;
    display: block;
    padding: 5px 8px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    content: 'copied!';
    text-align: center;
    word-wrap: break-word;
    pointer-events: none;
}

/* --- project _message.scss --- */
.page-message .message-controller {
    font-size: 0;
}
.page-message .message-controller .item {
    display: inline-block;
    float: inherit;
    vertical-align: middle; 
    font-size: 12px;
    font-size: 1.2rem;
}
.page-message .message-controller .item span {
    display: inline-block;
    margin-right: 6px;
}
.page-message .message-controller .item:first-child {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.page-message .message-list {
    display: block;
    margin-bottom: 20px;
}
.page-message .message-list .checkbox {
    margin-top: 15px;
    text-align: center;
}
.page-message .message-list .checkbox input[type='checkbox'] {
    margin-right: 6px;
}
.page-message .message-list .head {
    display: none;
    padding: 10px 0;
    background: #434343;
    color: #fff;
}
.page-message .message-list .item {
    position: relative;
    border-bottom: 1px dashed #ccc;
}
.page-message .message-list .item:hover {
    background: #f0eeef;
}
.page-message .message-list .message-info {
    display: block;
    padding: 15px 30px 15px 6px;
}
.page-message .message-list .message-info > .fa {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    height: 1em;
    margin: auto;
    color: #adadad; 
    font-size: 14px;
    font-size: 1.4rem;
}
.page-message .message-list .message-info .ttl {
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
    vertical-align: middle; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-size: 1.4rem;
}
.page-message .message-list .message-info .main {
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
    color: #333;
    vertical-align: middle; 
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page-message .message-list .message-info .sub {
    margin-bottom: 3px;
    color: #adadad;
    vertical-align: middle;
}

.page-message .message-detail {
    margin-bottom: 15px;
}
.page-message .message-detail .thumb {
    text-align: center;
}
.page-message .message-detail .thumb a:hover img {
    opacity: 0.7;
}
.page-message .message-detail .thumb a .grid {
    font-size: 0;
}
.page-message .message-detail .thumb a [class^='grid-'] {
    display: inline-block;
    float: inherit;
    vertical-align: middle; 
    font-size: 12px;
    font-size: 1.2rem;
}
.page-message .message-detail .thumb img {
    display: block;
    width: 100%;
    height: auto;
}
.page-message .message-detail .content .ttl {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-message .message-detail .content .ttl:after {
    display: block;
    clear: both;
    content: '';
}
.page-message .message-detail .content .ttl > a {
    display: block;
}
.page-message .message-detail .content .ttl .avater {
    float: left;
    max-width: 50px;
    width: 100%;
    height: auto;
    margin-right: 6px;
    vertical-align: middle;
}
.page-message .message-detail .content .ttl span {
    display: block;
    overflow: hidden;
    word-break: break-all;
}
.page-message .message-detail .content .ttl .time {
    margin-top: 3px;
    color: #adadad; 
    font-size: 11px;
    font-size: 1.1rem;
}
.page-message .message-detail .content .desc {
    font-size: 14px;
    font-size: 1.4rem;
}

/* --- project _point.scss --- */
.page-point .point {
    color: #e60012; 
    font-weight: bold;
}

.page-point [data-tableType] {
    display: none;
}

.page-point .change-list {
    padding: 0 20%;
}

.page-point select {
    width: 100%;
}

.page-point .point-table {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #a40000;
}
.page-point .point-table caption {
    padding: 10px;
    background: #a40000;
    color: #fff; 
    font-size: 14px;
    font-size: 1.4rem;
}
.page-point .point-table thead {
    background: #000;
}
.page-point .point-table thead th {
    padding: 10px;
    color: #fff100; 
    font-size: 11px;
    font-size: 1.1rem;
}
.page-point .point-table tbody tr:nth-child(even) {
    background: #f0eeef;
}
.page-point .point-table tbody td {
    padding: 10px;
    vertical-align: middle; 
    text-align: center;
    font-size: 11px;
    font-size: 1.1rem;
}

/* --- project _gameplay.scss --- */
.page-gameplay .pc-game {
    padding: 20px 0;
    text-align: center;
}

.page-gameplay .sp-game {
    background-color: #fff; 
    text-align: center;
}
.page-gameplay .sp-game iframe {
    width: 100%;
}

.page-gameplay .modal-pc {
    width: 640px;
}

.page-gameplay .c-capt {
    text-align: center;
}

.page-gameplay .c-cardlist .fn-allCheck {
    display: inline-block; 
    letter-spacing: normal;
}

.page-gameplay .product {
    padding: 10px; 
    border-bottom: 1px solid #b3b3b3;
}
.page-gameplay .product:after {
    display: block;
    clear: both;
    content: '';
}
.page-gameplay .product li {
    margin-bottom: 10px; 
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
.page-gameplay .product li:last-child {
    margin-bottom: 0;
}
.page-gameplay .product .product-image {
    max-width: 120px;
    padding: 0 10px;
}
.page-gameplay .product .product-image img {
    width: 100%;
}
.page-gameplay .product .product-item {
    padding: 0 10px;
}
.page-gameplay .product .product-item select {
    width: 100%;
}

.page-gameplay .price {
    margin: 6px 0;
}
.page-gameplay .price .detail dt {
    float: left; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-gameplay .price .detail dt:after {
    padding: 0 6px;
    content: ':';
}
.page-gameplay .price .detail dd {
    color: #e60012; 
    font-size: 16px;
    font-size: 1.6rem;
}

.page-gameplay .final-price .info {
    display: block;
    padding: 10px;
    text-align: right;
}

.page-gameplay .final-price .result {
    display: block;
}

.page-gameplay .final-price .detail {
    display: inline-block;
}
.page-gameplay .final-price .detail:after {
    display: block;
    clear: both;
    content: '';
}
.page-gameplay .final-price .detail dt {
    float: left;
    margin-left: 10px; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-gameplay .final-price .detail dt:after {
    padding: 0 6px;
    content: ':';
}
.page-gameplay .final-price .detail dd {
    float: left;
    color: #e60012; 
    font-size: 16px;
    font-size: 1.6rem;
}

.page-gameplay .failed-message {
    font-size: 14px;
    font-size: 1.4rem;
}
.page-gameplay .failed-message > .ttl {
    font-weight: bold;
}

.general .page-gameplay .price .detail dd {
    color: #239cb8;
}

.general .page-gameplay .final-price .detail dd {
    color: #239cb8;
}

/* --- project _maintenance.scss --- */
.page-maintenance {
    position: relative;
    background: url('/images/maintenance/bg_maintenance.jpg') top center no-repeat;
    background-size: cover;
}
.page-maintenance:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; 
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    content: '';
}
.page-maintenance .maintenance {
    position: relative;
    padding: 50px 30px;
}
.page-maintenance .logo, .page-maintenance .announce {
    position: relative;
    z-index: 20;
}
.page-maintenance .logo {
    margin-bottom: 50px;
    text-align: center;
}
.page-maintenance .announce {
    margin-bottom: 30px;
    text-align: center;
}
.page-maintenance .announce .title {
    margin-bottom: 30px;
}
.page-maintenance .announce .title .main {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.3;
}
.page-maintenance .announce .title .sub {
    font-size: 16px;
    font-size: 1.6rem;
}
.page-maintenance .announce .time {
    display: inline-block;
    margin-bottom: 30px;
    padding: 20px 30px;
    border: 1px solid #666;
}
.page-maintenance .announce .time .main {
    font-size: 16px;
    font-size: 1.6rem;
}
.page-maintenance .announce .time .sub {
    font-weight: bold; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-maintenance .chara-left, .page-maintenance .chara-right {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}
.page-maintenance .chara-right {
    right: 0; 
    left: auto;
}

/* --- project _profile.scss --- */
.page-profile {
    display: block;
}
.page-profile .sub {
    color: #adadad;
}
.page-profile .user-detail {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
}
.page-profile .user-detail:after {
    display: block;
    clear: both;
    content: '';
}
.page-profile .user-detail .thumb {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}
.page-profile .user-detail .thumb img {
    width: 100%;
    height: auto;
}
.page-profile .user-detail a:hover img {
    opacity: 0.7;
}
.page-profile .total-point {
    text-align: center;
    font-weight: bold; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-profile .orderID {
    border: 1px solid #ccc; 
    font-size: 12px;
    font-size: 1.2rem;
}
.page-profile .orderID .head {
    display: block;
    padding: 3px;
    border-bottom: 1px solid #ccc;
    background: #aaa;
    color: #fff;
    text-align: center;
}
.page-profile .orderID .bottom {
    display: block;
    padding: 3px;
    text-align: center;
}
.page-profile .history-list .item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.page-profile .point-detail {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
}
.page-profile .point-detail:after {
    display: block;
    clear: both;
    content: '';
}
.page-profile .point-detail dt {
    float: left;
    margin: 0 10px 3px 0;
}
.page-profile .point-detail dt:after {
    display: inline-block;
    margin-left: 6px;
    content: ':';
}
.page-profile .point-detail dd {
    overflow: hidden;
    margin-bottom: 3px;
    vertical-align: top;
    word-break: break-all;
}
.page-profile .avaterlist .thumb img {
    max-width: 200px;
    width: 100%;
    height: auto;
}
.page-profile .sns-list .item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    letter-spacing: -0.4em;
}
.page-profile .sns-list .thumb {
    display: block;
}
.page-profile .sns-list .thumb img {
    width: 100%;
    height: auto;
}
.page-profile .sns-list .status {
    display: block;
    text-align: center; 
    font-size: 12px;
    font-size: 1.2rem;
}
.page-profile .sns-list .status .fa {
    vertical-align: middle; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-profile .sns-list [class*='grid-'] {
    display: inline-block;
    float: inherit;
    vertical-align: middle;
    letter-spacing: normal; 
    box-sizing: border-box;
}
.page-profile .delete-account {
    font-size: 14px;
    font-size: 1.4rem;
}

/* --- project _search.scss --- */
.page-search .search-area {
    display: block;
}
.page-search .search-area .search .wrapper .age {
    text-align: center;
}
.page-search .search-area .search .wrapper select {
    width: 100%;
}

/* --- project _sitemap.scss --- */
.page-sitemap h2 {
    margin-bottom: 15px; 
    font-size: 16px;
    font-size: 1.6rem;
}

.page-sitemap h3 {
    margin-bottom: 10px; 
    font-size: 14px;
    font-size: 1.4rem;
}

.page-sitemap ul {
    margin-bottom: 15px;
}

.page-sitemap li {
    padding-left: 15px; 
    font-size: 12px;
    font-size: 1.2rem;
}
.page-sitemap li a {
    color: #666;
}
.page-sitemap li a:hover {
    color: #333;
    text-decoration: underline;
}

/* --- project _support.scss --- */
.page-support .support-content p {
    margin: 10px;
}

.page-support .c-formlist .item:first-child {
    margin-bottom: 6px;
}

/* --- project _terms.scss --- */
.page-terms .terms {
    margin-bottom: 20px;
    line-height: 1.6;
}
.page-terms .terms h2 {
    margin-bottom: 15px;
    font-weight: bold; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-terms .terms h3 {
    margin-bottom: 15px;
    color: #f04c32; 
    font-size: 16px;
    font-size: 1.6rem;
}
.page-terms .terms p {
    margin-bottom: 15px;
    color: #666; 
    font-size: 14px;
    font-size: 1.4rem;
}
.page-terms .terms ol {
    margin-bottom: 15px;
    padding: 0 0 0 2em;
    color: #666; 
    font-size: 14px;
    font-size: 1.4rem;
}
.page-terms .terms ol li {
    margin-bottom: 3px;
}
.page-terms .terms ol ol {
    list-style-type: upper-alpha;
}

.page-terms iframe {
    width: 100%;
}

.general .terms h3 {
    color: #239cb8;
}

/* --- project _top.scss --- */
.page-top {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.page-top .gamejack {
    position: absolute;
    top: 267px;
    left: 0;
    display: none;
    width: 100%;
    height: 1040px;
}
.page-top .bannerbox {
    margin-bottom: 15px;
}
.page-top .bannerbox a {
    display: block;
    max-width: 272px;
    margin: 0 auto 10px;
    text-align: center;
}
.page-top .bannerbox a:hover {
    opacity: 0.7;
}
.page-top .bannerbox img {
    width: 100%;
    height: auto;
}
.page-top .snslist {
    margin-bottom: 15px;
    text-align: center;
}

/* --- utility _arrow.scss --- */
.arrow:before {
    display: inline-block;
    width: 6px;
    height: 11px;
    margin-right: 5px;
    content: '';
}

/* --- utility _border.scss --- */
.bd-b {
    border-bottom: 1px solid #dadde4;
}

/* --- utility _color.scss --- */
.red {
    color: #e60012;
}

.lightgray {
    color: #adadad;
}

/* --- utility _display.scss --- */
.db {
    display: block;
}

.di {
    display: inline;
}

.dib {
    display: inline-block;
}

.dit {
    display: inline-table;
}

/* --- utility _float.scss --- */
.float-r {
    float: right;
}

.float-l {
    float: left;
}

.float-n {
    float: none;
}

/* --- utility _fontsize.scss --- */
.fs10 {
    font-size: 10px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}

/* --- utility _frame.scss --- */
.utility-frame {
    display: block;
    padding: 20px;
    border: 1px solid #d1d2d4;
}

/* --- utility _margin.scss --- */
.mg-t5 {
    margin-top: 5px;
}

.mg-t10 {
    margin-top: 10px;
}

.mg-t20 {
    margin-top: 20px;
}

.mg-t30 {
    margin-top: 30px;
}

.mg-t40 {
    margin-top: 40px;
}

.mg-r5 {
    margin-right: 5px;
}

.mg-r10 {
    margin-right: 10px;
}

.mg-r20 {
    margin-right: 20px;
}

.mg-r30 {
    margin-right: 30px;
}

.mg-r40 {
    margin-right: 40px;
}

.mg-b5 {
    margin-bottom: 5px;
}

.mg-b10 {
    margin-bottom: 10px;
}

.mg-b15 {
    margin-bottom: 15px;
}

.mg-b20 {
    margin-bottom: 20px;
}

.mg-b25 {
    margin-bottom: 25px;
}

.mg-b30 {
    margin-bottom: 30px;
}

.mg-b35 {
    margin-bottom: 35px;
}

.mg-b40 {
    margin-bottom: 40px;
}

.mg-l5 {
    margin-left: 5px;
}

.mg-l10 {
    margin-left: 10px;
}

.mg-l20 {
    margin-left: 20px;
}

.mg-l30 {
    margin-left: 30px;
}

.mg-l40 {
    margin-left: 40px;
}

.mg-0auto {
    margin: 0 auto;
}

/* --- utility _textalign.scss --- */
.tx-r {
    text-align: right;
}

.tx-l {
    text-align: left;
}

.tx-c {
    text-align: center;
}

/* --- utility _verticalalign.scss --- */
.va-m {
    vertical-align: middle;
}

.va-t {
    vertical-align: top;
}

.va-b {
    vertical-align: bottom;
}

/* --- utility _width.scss --- */
.w100 {
    width: 100%;
}

.w95 {
    width: 95%;
}

.w90 {
    width: 90%;
}

.w85 {
    width: 85%;
}

.w80 {
    width: 80%;
}

.w75 {
    width: 75%;
}

.w70 {
    width: 70%;
}

.w65 {
    width: 65%;
}

.w60 {
    width: 60%;
}

.w55 {
    width: 55%;
}

.w50 {
    width: 50%;
}

.w45 {
    width: 45%;
}

.w40 {
    width: 40%;
}

.w35 {
    width: 35%;
}

.w30 {
    width: 30%;
}

.w25 {
    width: 25%;
}

.w20 {
    width: 20%;
}

.w15 {
    width: 15%;
}

.w10 {
    width: 10%;
}

.w5 {
    width: 5%;
}

@media screen and (min-width: 1px) {
    html {
        font-size: 62.5%;
    }
    .grid-base-1 {
        width: 8.33333%;
    }
    .grid-base-offset-1 {
        margin-left: 8.33333%;
    }
    .grid-base-2 {
        width: 16.66667%;
    }
    .grid-base-offset-2 {
        margin-left: 16.66667%;
    }
    .grid-base-3 {
        width: 25%;
    }
    .grid-base-offset-3 {
        margin-left: 25%;
    }
    .grid-base-4 {
        width: 33.33333%;
    }
    .grid-base-offset-4 {
        margin-left: 33.33333%;
    }
    .grid-base-5 {
        width: 41.66667%;
    }
    .grid-base-offset-5 {
        margin-left: 41.66667%;
    }
    .grid-base-6 {
        width: 50%;
    }
    .grid-base-offset-6 {
        margin-left: 50%;
    }
    .grid-base-7 {
        width: 58.33333%;
    }
    .grid-base-offset-7 {
        margin-left: 58.33333%;
    }
    .grid-base-8 {
        width: 66.66667%;
    }
    .grid-base-offset-8 {
        margin-left: 66.66667%;
    }
    .grid-base-9 {
        width: 75%;
    }
    .grid-base-offset-9 {
        margin-left: 75%;
    }
    .grid-base-10 {
        width: 83.33333%;
    }
    .grid-base-offset-10 {
        margin-left: 83.33333%;
    }
    .grid-base-11 {
        width: 91.66667%;
    }
    .grid-base-offset-11 {
        margin-left: 91.66667%;
    }
    .grid-base-12 {
        width: 100%;
    }
    .grid-base-offset-12 {
        margin-left: 100%;
    }
    .grid-base-half {
        width: 50%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: auto; 
        width: 100%;
    }
    .container.is-static {
        width: 1024px;
    }
    .grid-xl-1 {
        width: 8.33333%;
    }
    .grid-xl-offset-1 {
        margin-left: 8.33333%;
    }
    .grid-xl-2 {
        width: 16.66667%;
    }
    .grid-xl-offset-2 {
        margin-left: 16.66667%;
    }
    .grid-xl-3 {
        width: 25%;
    }
    .grid-xl-offset-3 {
        margin-left: 25%;
    }
    .grid-xl-4 {
        width: 33.33333%;
    }
    .grid-xl-offset-4 {
        margin-left: 33.33333%;
    }
    .grid-xl-5 {
        width: 41.66667%;
    }
    .grid-xl-offset-5 {
        margin-left: 41.66667%;
    }
    .grid-xl-6 {
        width: 50%;
    }
    .grid-xl-offset-6 {
        margin-left: 50%;
    }
    .grid-xl-7 {
        width: 58.33333%;
    }
    .grid-xl-offset-7 {
        margin-left: 58.33333%;
    }
    .grid-xl-8 {
        width: 66.66667%;
    }
    .grid-xl-offset-8 {
        margin-left: 66.66667%;
    }
    .grid-xl-9 {
        width: 75%;
    }
    .grid-xl-offset-9 {
        margin-left: 75%;
    }
    .grid-xl-10 {
        width: 83.33333%;
    }
    .grid-xl-offset-10 {
        margin-left: 83.33333%;
    }
    .grid-xl-11 {
        width: 91.66667%;
    }
    .grid-xl-offset-11 {
        margin-left: 91.66667%;
    }
    .grid-xl-12 {
        width: 100%;
    }
    .grid-xl-offset-12 {
        margin-left: 100%;
    }
    .grid-xl-half {
        width: 50%;
        margin-left: 25%;
    }
    .c-slider .cover {
        display: none;
    }
    .page-profile .orderID {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .footer .footer-down .footer-box .logo {
        margin-bottom: 20px;
    }
    .footer .footer-down .footer-box.is-nomenu {
        display: none;
    }
    .grid-l-1 {
        width: 8.33333%;
    }
    .grid-l-offset-1 {
        margin-left: 8.33333%;
    }
    .grid-l-2 {
        width: 16.66667%;
    }
    .grid-l-offset-2 {
        margin-left: 16.66667%;
    }
    .grid-l-3 {
        width: 25%;
    }
    .grid-l-offset-3 {
        margin-left: 25%;
    }
    .grid-l-4 {
        width: 33.33333%;
    }
    .grid-l-offset-4 {
        margin-left: 33.33333%;
    }
    .grid-l-5 {
        width: 41.66667%;
    }
    .grid-l-offset-5 {
        margin-left: 41.66667%;
    }
    .grid-l-6 {
        width: 50%;
    }
    .grid-l-offset-6 {
        margin-left: 50%;
    }
    .grid-l-7 {
        width: 58.33333%;
    }
    .grid-l-offset-7 {
        margin-left: 58.33333%;
    }
    .grid-l-8 {
        width: 66.66667%;
    }
    .grid-l-offset-8 {
        margin-left: 66.66667%;
    }
    .grid-l-9 {
        width: 75%;
    }
    .grid-l-offset-9 {
        margin-left: 75%;
    }
    .grid-l-10 {
        width: 83.33333%;
    }
    .grid-l-offset-10 {
        margin-left: 83.33333%;
    }
    .grid-l-11 {
        width: 91.66667%;
    }
    .grid-l-offset-11 {
        margin-left: 91.66667%;
    }
    .grid-l-12 {
        width: 100%;
    }
    .grid-l-offset-12 {
        margin-left: 100%;
    }
    .grid-l-half {
        width: 50%;
        margin-left: 25%;
    }
    .header-top .header-toggle {
        display: block;
    }
    .header-top .header-mymenu {
        display: none;
    }
    .header-right .login {
        width: 100%;
        margin-top: 10px;
        box-sizing: border-box;
    }
    .header-right .login:first-child {
        margin-top: 0;
    }
    .c-shadowbox {
        padding: 10px;
        border: none;
        box-shadow: none;
    }
    .c-tag-list .tag {
        font-size: 10px;
        font-size: 1rem;
    }
    .page-account .account-area .c-formlist .wrapper .checkbox {
        margin: 0;
    }
    .page-account {
        display: block;
    }
    .page-account .account-area .c-formlist .wrapper input::-webkit-input-placeholder {
        color: #666;
    }
    .page-account .account-area .c-formlist .wrapper input:-ms-input-placeholder {
        color: #666;
    }
    .page-account .account-area .c-formlist .wrapper input::-moz-placeholder {
        color: #666;
    }
    .page-account .account-area .c-formlist .wrapper .base-disp {
        display: none;
    }
    .page-account .account-area .c-formlist .wrapper .bot-check {
        display: block;
        max-width: 300px; 
        margin: 0 auto;
    }
    .page-account .account-area .c-formlist .wrapper .bot-check img {
        width: 100%;
    }
    .page-account .account-area .switch-box {
        margin: 10px -10px;
        padding: 20px 10px; 
        background: #f0eeef;
    }
    .page-account .account-area .sp-box .ttl {
        display: block;
        margin-bottom: 3px; 
        font-size: 14px;
        font-size: 1.4rem;
    }
    .page-account .reset-password .c-formlist {
        width: 100%;
    }
    .page-account .reset-password .c-formlist .wrapper input::-webkit-input-placeholder {
        color: #666;
    }
    .page-account .reset-password .c-formlist .wrapper input:-ms-input-placeholder {
        color: #666;
    }
    .page-account .reset-password .c-formlist .wrapper input::-moz-placeholder {
        color: #666;
    }
    .page-account .reset-password .c-formlist .base-disp {
        display: none;
    }
    .page-account .comp-password .desc {
        text-align: left;
    }
    .page-account .comp-password .desc.is-center {
        text-align: center;
    }
    .page-account .pass-input .c-formlist {
        margin: 0;
    }
    .page-account .pass-input .base-disp {
        display: none;
    }
    .page-top .age-check {
        min-height: initial;
        margin: 0; 
        background: none;
    }
    .page-top .age-check > [class^='grid-'] {
        margin: 0;
    }
    .page-top .c-description {
        text-align: center;
    }
    .page-detail .detail-media .frame-app {
        display: none;
    }
    .page-detail .detail-info .syncSlider #bx-pager {
        padding-bottom: 15px;
    }
    .page-detail .detail-info .syncSlider #bx-pager .ps-scrollbar-x-rail {
        height: 7px;
    }
    .page-detail .detail-info .syncSlider #bx-pager .ps-scrollbar-x {
        height: 5px;
    }
    .page-detail .modal-item .form-url .url {
        min-width: 0; 
        width: 80%;
    }
    .page-detail {
        width: 100%;
        background-color: #fff; 
        background-size: 200%;
    }
    .page-detail .grid-base-half {
        margin: 0;
    }
    .page-detail .detail-media .media .logo {
        width: 60%;
    }
    .page-detail .detail-media .media .play {
        overflow: hidden; 
        width: 350px;
        height: 85px;
    }
    .page-detail .detail-media .media .play img {
        width: 100%;
    }
    .page-detail .detail-media .media .play img:hover {
        margin: 0;
    }
    .page-detail .detail-info .game-desc .c-title {
        display: none;
    }
    .page-detail .detail-info .game-desc > p {
        font-size: 12px;
        font-size: 1.2rem;
    }
    .page-detail .detail-info .syncSlider {
        margin-top: 20px;
        padding: 0;
    }
    .page-detail .detail-info .game-detail .column {
        display: block;
        padding: 0;
    }
    .page-detail .detail-info .game-detail .column:first-child {
        padding: 0;
        border-right: none;
    }
    .page-detail .detail-info .game-copyright li {
        display: block;
    }
    .page-detail .detail-info .game-copyright .ttl {
        display: block;
        border: none;
    }
    .page-detail .detail-info .game-copyright .contents {
        display: block;
    }
    .page-detail .game-info .more-button {
        margin-bottom: 10px;
    }
    .page-detail .box-link div {
        margin-bottom: 15px;
    }
    .page-detail .box-link div:last-child {
        margin-bottom: 0;
    }
    .page-point .change-list {
        padding: 0 10%;
    }
    .page-maintenance .chara-left, .page-maintenance .chara-right {
        display: none;
    }
    .page-maintenance .announce .title .main {
        font-size: 16px;
        font-size: 1.6rem;
    }
    .page-maintenance .announce .title .sub {
        font-size: 12px;
        font-size: 1.2rem;
    }
    .page-maintenance .announce .time .main {
        font-size: 16px;
        font-size: 1.6rem;
    }
    .page-maintenance .announce .time .sub {
        font-size: 12px;
        font-size: 1.2rem;
    }
    .page-search .search-area .search .c-utility-box {
        padding: 0; 
        border: none;
    }
}

@media screen and (max-width: 600px) {
    .footer .footer-box .footer-item.ttl {
        margin: 0;
    }
    .grid-m-1 {
        width: 8.33333%;
    }
    .grid-m-offset-1 {
        margin-left: 8.33333%;
    }
    .grid-m-2 {
        width: 16.66667%;
    }
    .grid-m-offset-2 {
        margin-left: 16.66667%;
    }
    .grid-m-3 {
        width: 25%;
    }
    .grid-m-offset-3 {
        margin-left: 25%;
    }
    .grid-m-4 {
        width: 33.33333%;
    }
    .grid-m-offset-4 {
        margin-left: 33.33333%;
    }
    .grid-m-5 {
        width: 41.66667%;
    }
    .grid-m-offset-5 {
        margin-left: 41.66667%;
    }
    .grid-m-6 {
        width: 50%;
    }
    .grid-m-offset-6 {
        margin-left: 50%;
    }
    .grid-m-7 {
        width: 58.33333%;
    }
    .grid-m-offset-7 {
        margin-left: 58.33333%;
    }
    .grid-m-8 {
        width: 66.66667%;
    }
    .grid-m-offset-8 {
        margin-left: 66.66667%;
    }
    .grid-m-9 {
        width: 75%;
    }
    .grid-m-offset-9 {
        margin-left: 75%;
    }
    .grid-m-10 {
        width: 83.33333%;
    }
    .grid-m-offset-10 {
        margin-left: 83.33333%;
    }
    .grid-m-11 {
        width: 91.66667%;
    }
    .grid-m-offset-11 {
        margin-left: 91.66667%;
    }
    .grid-m-12 {
        width: 100%;
    }
    .grid-m-offset-12 {
        margin-left: 100%;
    }
    .grid-m-half {
        width: 50%;
        margin-left: 25%;
    }
    .c-gamelist article:first-child .game {
        border-top: 1px solid #e5e5e5;
    }
    .c-gamelist .game-thumb {
        margin-bottom: 6px;
    }
    .c-modal .panel {
        min-width: 70%;
    }
    .c-slider .controller .next, .c-slider .controller .prev {
        width: 30px;
        height: 60px;
        line-height: 60px;
    }
    .c-slider .controller .next .fa, .c-slider .controller .prev .fa {
        font-size: 16px;
        font-size: 1.6rem;
    }
    .page-detail {
        min-height: 400px; 
        width: 100%;
        background-color: #fff;
        background-size: 240%;
    }
    .page-detail .detail-media .media .logo {
        width: 70%;
    }
    .page-detail .detail-media .media .play {
        overflow: hidden; 
        width: 250px;
        height: 60px;
    }
    .page-detail .detail-media .media .play img {
        width: 100%;
    }
    .page-detail .detail-media .media .play img:hover {
        margin: 0;
    }
    .page-message .message-detail .thumb a [class^='grid-'] {
        text-align: left;
    }
    .page-point .change-list {
        padding: 0;
    }
    .page-point .c-notice:last-child {
        margin: 0 -10px 10px;
    }
    .page-support .ask-button div {
        margin-bottom: 10px;
    }
    .page-support .ask-button div:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .grid-s-1 {
        width: 8.33333%;
    }
    .grid-s-offset-1 {
        margin-left: 8.33333%;
    }
    .grid-s-2 {
        width: 16.66667%;
    }
    .grid-s-offset-2 {
        margin-left: 16.66667%;
    }
    .grid-s-3 {
        width: 25%;
    }
    .grid-s-offset-3 {
        margin-left: 25%;
    }
    .grid-s-4 {
        width: 33.33333%;
    }
    .grid-s-offset-4 {
        margin-left: 33.33333%;
    }
    .grid-s-5 {
        width: 41.66667%;
    }
    .grid-s-offset-5 {
        margin-left: 41.66667%;
    }
    .grid-s-6 {
        width: 50%;
    }
    .grid-s-offset-6 {
        margin-left: 50%;
    }
    .grid-s-7 {
        width: 58.33333%;
    }
    .grid-s-offset-7 {
        margin-left: 58.33333%;
    }
    .grid-s-8 {
        width: 66.66667%;
    }
    .grid-s-offset-8 {
        margin-left: 66.66667%;
    }
    .grid-s-9 {
        width: 75%;
    }
    .grid-s-offset-9 {
        margin-left: 75%;
    }
    .grid-s-10 {
        width: 83.33333%;
    }
    .grid-s-offset-10 {
        margin-left: 83.33333%;
    }
    .grid-s-11 {
        width: 91.66667%;
    }
    .grid-s-offset-11 {
        margin-left: 91.66667%;
    }
    .grid-s-12 {
        width: 100%;
    }
    .grid-s-offset-12 {
        margin-left: 100%;
    }
    .grid-s-half {
        width: 50%;
        margin-left: 25%;
    }
    .c-slider .controller .next, .c-slider .controller .prev {
        width: 20px;
        height: 40px;
        line-height: 40px;
    }
    .c-slider .controller .next .fa, .c-slider .controller .prev .fa {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .page-message .message-button div {
        margin-bottom: 10px;
    }
    .page-message .message-button div:nth-of-type(n+3) {
        margin-bottom: 0;
    }
    .page-message .delete-modalButton div:first-child {
        margin-bottom: 10px;
    }
    .page-maintenance .maintenance {
        padding: 30px;
    }
    .page-maintenance .announce .time {
        padding: 20px 30px;
    }
}

@media screen and (min-width: 768px) {
    .header-top .mymenu a {
        margin: 0;
        padding: 16px 12px;
    }
    .c-capt .sub {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .c-cardlist .title {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .c-gamelist .game {
        margin-bottom: 15px;
        border: none;
    }
    .c-gamelist .game-content .ttl {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .c-gamelist .game-content .text {
        font-size: 12px;
        font-size: 1.2rem;
    }
    .c-gamelist.is-responsive .game {
        margin-bottom: 15px;
        border: none;
    }
    .c-gamelist.is-responsive .game-thumb {
        float: none;
        width: 100%;
        padding: 0;
    }
    .c-gamelist.is-responsive .game-content {
        position: relative;
        z-index: 100; 
        margin-top: -70px;
        padding: 10px;
        background: #434343;
        background: linear-gradient(to bottom, #333 0%, black 100%);
    }
    .c-gamelist.is-responsive .game-content .ttl {
        display: block;
        overflow: hidden;
        margin-bottom: 6px;
        color: #fff; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .c-gamelist.is-responsive .game-content .text {
        display: -webkit-box;
        overflow: hidden;
        height: 4.5em;
        padding-bottom: 3px;
        color: #fff; 

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .general .c-gamelist.is-responsive .game-thumb .is-pc {
        display: block;
    }
    .general .c-gamelist.is-responsive .game-thumb .is-sp {
        display: none;
    }
    .general .c-gamelist.is-responsive .game-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .general .c-gamelist.is-responsive .game-content .text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .general .c-gamelist.is-responsive .game-content {
        background: #434343;
        background: linear-gradient(to bottom, rgba(51, 51, 51, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    .c-gridmenu.is-pc {
        display: block;
    }
    .c-gridmenu.is-sp {
        display: none;
    }
    .c-gridmenu li:first-child .item {
        border-top: none;
    }
    .c-gridmenu .item {
        border-right: none;
    }
    .c-invitebanner .inner {
        background-position: 100% 5%;
        background-size: 40% !important;
    }
    .c-invitebanner .inner .text {
        font-size: 12px;
        font-size: 1.2rem;
    }
    .page-account .regist-complete .confirm {
        max-width: 60%;
    }
    .page-support .c-formlist .item:first-child {
        margin-bottom: 0;
    }
    .page-support .support-navi {
        float: left;
    }
    .page-support .support-container {
        float: right;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .c-countdown .time .cell {
        width: 7%;
    }
}

@media screen and (min-width: 1024px) {
    .c-gamelist.is-responsive .game-content .ttl {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .general .c-gamelist.is-responsive .game-content .ttl {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .general .c-gamelist.is-responsive .game-content .text {
        height: auto;
    }
    .page-top .gamejack {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
    .general .c-gamelist.is-responsive .game-content .text {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .c-gridmenu .item {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .c-invitebanner .inner {
        background-position: 100% 5%;
        background-size: 40%;
    }
    .c-invitebanner .inner .text {
        width: 60%;
    }
    .c-invitebanner .inner hr {
        width: 60%;
    }
    .page-profile .sns-list .status {
        font-size: 16px;
        font-size: 1.6rem;
    }
    .page-profile .sns-list .status .fa {
        vertical-align: middle; 
        font-size: 30px;
    }
}

@media screen and (min-width: 600px) {
    .c-modal .panel {
        max-width: 60%;
    }
    .c-userinfo {
        padding: 10px;
        text-align: center;
    }
    .c-userinfo .thumb {
        display: inline-block; 
        float: none;
    }
    .c-userinfo .thumb img {
        max-width: 200px;
        width: 100%;
        height: auto;
    }
    .c-userinfo .data {
        text-align: left;
    }
    .c-userinfo .stats .num {
        font-size: 20px;
    }
    .c-userinfo .stats .text {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .page-message .message-list .checkbox {
        margin-top: 0;
        padding: 15px 0;
        text-align: center;
    }
    .page-message .message-list .checkbox input[type='checkbox'] {
        margin-right: 6px;
    }
    .page-message .message-list .head {
        display: block;
    }
    .page-message .message-list .message-info {
        padding: 15px 30px 15px 0;
        padding-right: 0;
    }
    .page-message .message-list .message-info > .fa {
        display: none;
    }
    .page-message .message-list .message-info .ttl {
        margin-bottom: 0;
    }
    .page-message .message-list .message-info .main {
        margin-bottom: 0;
    }
    .page-message .message-list .message-info .sub {
        margin-bottom: 0;
    }
    .page-point .point {
        font-size: 16px;
        font-size: 1.6rem;
    }
    .page-point .point-table caption {
        font-size: 16px;
        font-size: 1.6rem;
    }
    .page-point .point-table thead th {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .page-point .point-table tbody td {
        font-size: 14px;
        font-size: 1.4rem;
    }
    .c-modal .modal-pc {
        max-width: inherit;
    }
}

@media screen and (max-width: 1020px) {
    .page-detail .detail-media .frame-app {
        right: 3px;
    }
}

@media screen and (min-width: 1020px) {
    .page-maintenance .maintenance {
        padding: 100px 30px;
    }
}
