
/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: calibri;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*HEADER*/

#header {
	width: 100%;
	height: 76px;
	min-height: 76px;
	box-shadow: 0px 2px 3px rgb(221, 221, 221);
	z-index: 9998;
	background-color: white;
	top: 0px;
	position: fixed;
}
.basic-page-head {
	box-shadow: 0px 2px 3px rgba(44, 44, 44, 0.14) !important;
}
.header-content {
	width: 880px;
	padding: 10px;
	margin: auto;
	height: 56px;
	position: relative;
	z-index: 9999;
	background-color: white;
}
.header-logo {
	width: 276px;
	height: 56px;
	background: url('../images/logo.png?v=3') no-repeat;
	float: left;
}

/*HEADER-MENU*/

.header-menu {
	float: right;
	font-size: 18px;
	margin-top: 8px;
}
.header-menu ul li {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid #e3e3e3;
	display: block;
	height: 40px !important;
	line-height: 40px !important;
	width: auto !important;
}
#last-border-fix {
	border: 0px !important;
}
.header-menu ul li a{
	color: black;
}
.header-menu ul li a:hover{
	margin-top: 5px !important;
}
.header-menu ul {
	width: auto !important;
}

/*CONTENT*/

#content {
	margin: auto;
	width: 100%;
	height: 100%;
}
.inner-content {
	width: 881px;
	padding: 10px;
	margin: 0 auto;
}
.inner-content p{
	line-height: 22px;
	font-size: 18px;
	margin-bottom: 15px;
}
.inner-content strong, b{
	font-weight: bold;
}
.inner-content img{
	margin: 10px;
	padding: 10px;
	background-color: whitesmoke;
	border: 1px solid lightgray;
	float: right;
}
.inner-content ul{
	margin-left: 40px;
	list-style-type: square;
	font-size: 18px;
	margin-bottom: 15px;
}
.inner-content ul li{
	line-height: 22px;
}
.inner-content h1 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.inner-content h2 {
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.inner-content h3 {
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-style: italic;
}
.inner-content .kontakt-left {
	width: 400px;
	float: left;
}
.inner-content .kontakt-right {
	width: 400px;
	float: right;
}
.inner-content .kontakt-right span {
	font-size: 28px;
	color: rgb(112, 112, 112);
	display: block;
	margin-top: -10px;
	margin-bottom: 20px;
}
.inner-content .kontakt-right span a {
	color: rgb(112, 112, 112);
}
.inner-content form span{
	margin-left: 10px;
	color: red;
	font-size: 12px;
}
.inner-content form input[type=text] {
	height: 35px;
	width: 350px;
	box-shadow: inset 0px 1px 4px rgb(221, 221, 221);
	border: 1px solid rgb(184, 184, 184);
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	margin-bottom: 10px;
}
.inner-content form sup {
	color: red;
	font-weight: bold;
	margin-left: 5px;
}
.inner-content form textarea {
	height: 200px;
	width: 350px;
	box-shadow: inset 0px 1px 4px rgb(221, 221, 221);
	border: 1px solid rgb(184, 184, 184);
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	margin-bottom: 10px;
	font-family: arial;
}
.inner-content form input[type=submit] {
	height: 35px;
	width: 100px;
	background-color: rgb(206, 206, 206);
	border: none;
	color: white;
	font-size: 24px;
	box-shadow: 0px 2px 5px rgb(114, 114, 114);
	border-radius: 5px;
	margin-bottom: 50px;
}
.inner-content form input[type=submit]:hover {
	background-color: rgb(209, 60, 60);
	cursor: pointer;
}
#content #kvk-hash {
	width: 100%;
	height: 273px;
	background-color: white;
	margin: auto;
}
#content #kvk-hash  .kvk-inner {
	//background: url('../images/kvk-bg.png?v=2') no-repeat;
	height: 273px;
	width: 901px;
	margin: auto;
}
#content #orai-hash {
	width: 100%;
	height: 273px;
	background-color: white;
	margin: auto;
}
#content #orai-hash  .orai-inner {
	//background: url('../images/orai-bg.png?v=2') no-repeat;
	height: 273px;
	width: 901px;
	margin: auto;
}
#content #renginiai-hash {
	width: 100%;
	height: 273px;
	background-color: white;
	margin: auto;
}
#content #renginiai-hash  .renginiai-inner {
	//background: url('../images/renginiai-bg.png?v=2') no-repeat;
	height: 273px;
	width: 901px;
	margin: auto;
}
#content #horoskopai-hash {
	width: 100%;
	height: 273px;
	background-color: white;
	margin: auto;
}
#content #horoskopai-hash  .horoskopai-inner {
	//background: url('../images/horoskopai-bg.png?v=2') no-repeat;
	height: 273px;
	width: 901px;
	margin: auto;
}
.inner-left {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 55px;
	float: left;
	width: 430px;
}
.inner-right {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 57px;
	float: right;
	width: 430px;
}
.inner-right p{
	color: rgb(94, 94, 94);
	line-height: 25px;
	font-size: 20px;
	margin-bottom: 15px;
}
.inner-right h1{
	color: rgb(94, 94, 94);
	font-size: 40px;
	text-transform: uppercase;
}
.inner-right a{
	color: rgb(94, 94, 94);
}
.inner-right h2{
	color: rgb(94, 94, 94);
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*FOOTER*/

#footer {
	margin: auto;
	height: 25px;
	width: 100%;
	background-color: white;
	box-shadow: 0px -2px 3px rgb(221, 221, 221);
}
.basic-page-footer {
	box-shadow: 0px -2px 3px rgba(44, 44, 44, 0.14) !important;
}
.inner-footer {
	height: 25x;
	width: 901px;
	margin: auto;
	text-align: center;
}
.inner-footer span{
	font-size: 17px;
	padding-top: 25px;
	display: block;
	color: gray;
}
   .roundabout-in-focus {
      cursor: auto;
   }
   li {
	height: 261px;
	width: 600px;
	display:block;
   }
   ul {
	width: 500px !important;
   }
   .roundabout-moveable-item img { 
   width: 100%;
   cursor: pointer;
	}
	.roundabout-moveable-item div{
		font-size:50px;
		margin-top:-50px;
		color:red;
		
	}
	#content {
	text-align: center;
	font-family: calibri;
	width: 600px;
	margin: auto;
	position: relative;
	z-index: 9999999;
	min-height: 200px;
	}
	#content-wrap {
	min-height: 275px;
	}
	#content h1 {
	color: rgb(94, 94, 94);
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0px;
	font-weight: bold;
	}
	#content h2 {
	color: rgb(94, 94, 94);
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: -10px;
	font-weight: bold;
	}
	#content a h2:hover{
		text-decoration: underline;
	}
	#content p {
	color: rgb(94, 94, 94);
	line-height: 25px;
	font-size: 20px;
	margin-bottom: 15px;
	}
	.next {
	display: block;
	width: 102px;
	height: 114px;
	position: absolute;
	background: url('../images/arrows.png') -114px 1px no-repeat;
	right:20px;
	}
	.next:hover {
	background: url('../images/arrows.png') -114px -122px no-repeat;
	}
	.prev{
	display: block;
	width: 102px;
	height: 114px;
	position: absolute;
	background: url('../images/arrows.png') 0px 1px no-repeat;
	left: 20px;
	}
	.prev:hover {
	background: url('../images/arrows.png') 0px -122px no-repeat;
	}