*,
*:before,
*:after {
	color: #000 !important;
	text-shadow: none !important;
	/*background: transparent !important;*/
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.footer { color: #646569 !important;}
body {max-width: 99% !important;}
.content a, .content a:visited, .sidebar a {
	color: #ff8300 !important;
}
.sidebar .cta-1 a, .sidebar a.cta-1, .sidebar .cta-video a, .sidebar a.cta-video {background: none !important; padding-left: 0;}
/*a,
a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
a[href^="#"]:after,
a[href^="javascript:"]:after {
	content: "";
}*/
pre,
blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr,
img {
	page-break-inside: avoid;
}
img {
	max-width: 97% !important; /*was 99% */
}
p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}
h2,
h3 {
	page-break-after: avoid;
}
select {
	background: #fff !important;
}
.navbar {
	display: none;
}
.btn > .caret,
.dropup > .btn > .caret {
	border-top-color: #000 !important;
}
.label {
	border: 1px solid #000;
}
.table {
	border-collapse: collapse !important;
}
.table td,
.table th {
	/*background-color: #fff !important;*/
}
.table-bordered th,
.table-bordered td {
	/*border: 1px solid #ddd !important;*/
}

.site-header { position: static !important; background: none !important;}
.footer .inner, .col-wrap{ width: 99% !important; /*padding: 10px 0 0 !important;*/ }
.page-template-page-software-product-detail .footer .inner, .page-template-page-software-product-detail .content { padding: 0 !important; }
.colspan-1, .colspan-2, .colspan-3, .colspan-4, .colspan-5, .colspan-6, .colspan-7, .colspan-8, .colspan-9, .colspan-10, .colspan-11, .colspan-12{ margin: 0 !important; }
/*.colspan-1 { width: 8.33% !important; }
.colspan-2 { width: 16.66% !important; }
.colspan-3 { width: 25% !important; }
.colspan-4 { width: 33.33% !important; }
.colspan-5 { width: 41.66% !important; }
.colspan-6, .halfspan { width: 50% !important; }
.colspan-7 { width: 58.33% !important; }
.colspan-8 { width: 66.66% !important; }
.colspan-9 { width: 75% !important; }
.colspan-10 { width: 83.33% !important; }
.colspan-11 { width: 91.66% !important; }
.colspan-12, .fullspan  { width: 99% !important; }*/

#content .colspan-8, #content .colspan-12 {
width: 99% !important;
margin-right: 0 !important;
margin-left: 0 !important;}

.copyright-nav.colspan-4 { width: 66.66% !important; }

h1{ font-size: 26px !important; margin: 10px 0 !important; }
h2{ font-size: 22px !important; margin: 10px 0 !important; }
h3{ font-size: 20px !important; }
h4{ font-size: 18px !important; }
h5{ font-size: 16px !important; }
h6{ font-size: 15px !important; }

body, p, span, .vertical-list ul li a, blockquote small { font-size: 12px !important; line-height: 150% !important;}
.content p {line-height:20px;}

.page-banner.homepage-hero video,
.site-header-space,
.site-header .inner .persistent-navigation,
.site-header .search-box-wrapper,
ul.breadcrumbs,
.footer-row.row-top,
.chat-widget,
.legal-nav,
.legal-nav,
.picklist-block,
.prosearch,
.compare-queue,
.wide-bottom-content,
.community-feed,
.home .vertical-list,
.footer #lang_sel_click > ul > li > ul,
.site-navigation,
.primary-navigation,
.LPMcontainer.LPMslider,
.lang-nav,
.tool-email,
.sidebar ul li a.cta-video,
.sidebar a.cta-video,
.sidebar ul li a.cta-1,
.sidebar a.cta-1,
.product-related { display: none !important; }

.hero-holder .subheadline,
.content .img-block-full .content-side-wrap {max-width:99% !important; position: relative !important; background: none !important;}
.page-parent-banner {display: block; clear: both; overflow: visible !important; min-height: 250px !important; height: auto !important; width:99% !important;}
.page-parent-banner img {height: auto !important; width:99% !important; position: relative !important; right: auto !important; top: auto !important;}
.page-parent-banner-inner {right: auto !important; top: auto !important;height: auto !important;position: relative !important; border-bottom: 1px solid #a0d4c7;}
.page-parent-banner-text {padding: 10px 0 !important;}
#content .col-wrap {display: block; clear: both;}
.hero-holder .inner h2 {position: relative !important; left:0 !important;width:100% !important;}
.content .img-block-full .content-side-wrap {width: 100%!important;padding:0!important;}
.content .img-block-full .content-side-wrap h2 {padding-top:5%!important;}
.content .content-side-image-block a.cta-1, .content .content-side-image-block a.cta-video {font-size: 15px!important;}
#content .colspan-6.content-side-wrap {float: none; width: 99%;}
.content th,
.content td {border: 1px solid gray;}
.content .content-side-image-block { padding: 30px 0!important;}
.content .content-side-image-block.content-side-pos-left .colspan-1.gutter{ width: 100%;}
.content .content-side-image-block.content-side-pos-right .colspan-1.gutter{ width: 0;}

.page-banner {background:none!important; height: 40px !important; line-height:40px!important;}
.page-template-page-product-parent .page-banner {height: auto !important;}
.page-banner .col-wrap,
.page-banner .col-wrap .colspan-12 {
    height: auto!important;
    display: block !important;
    width: 99%!important;}
.page-banner h1 {margin: 0 !important; line-height: 130%!important;}
.filter-form-wrap {display: none!important;}
.resourceResults ul li.resourceType { padding: 20px 0 10px!important;}
.footer {margin-top: 2px!important; background: transparent!important;}
.footer .inner {margin: 0 !important;}
.footer .row-bottom { margin: 10px 0 0 !important;}
.footer:before {background: none !important;}
.footer #lang_sel_click img.iclflag {top: 10px;}
.footer {border-top: 1px solid #9fd4c9; margin-top: -1px!important; }
.footer .copyright-nav p {text-align: center!important; }
.copyright-nav.colspan-4 {  width: 100% !important; float: none!important; }
.content blockquote:before {line-height: 96px!important;}
/* --------------- Sidebar ---------------- */
.sidebar, .sidebar-left,
.sidebar-right {float: none !important;}
.sidebar ul li a {font-size: 100% !important;}
/* --------------- Case Studies ---------------- */
.page-template-page-resources-detail .site-header {height: 0; float: right; width: auto;}
.page-template-page-resources-detail .site-header .outter {background: transparent;}
.page-template-page-resources-detail .site-header .inner .site-logo {float: right;}
.page-template-page-resources-detail .page-banner.page-default-banner > .col-wrap {clear: none;}
.page-template-page-resources-detail .page-banner h1:before {content: 'Case Study: ';}
.page-template-page-resources-detail .content {padding-top: 10px!important;}
.page-template-page-resources-detail .content h1 {
    font-size: 18px!important;
    line-height: 130%!important;
    margin-bottom: 20px!important;}
.page-template-page-resources-detail #content .colspan-8 { width: 67%!important;}
.page-template-page-resources-detail .colspan-1.gutter {display: block!important; width: 5%!important;}
.page-template-page-resources-detail .sidebar.colspan-3 {width: 28%!important;float: right!important; margin-top: 30px!important;}
.page-template-page-resources-detail .sidebar h2{ font-size: 16px!important;}
.page-template-page-resources-detail-php .sidebar > .inner ul a { color: #646569!important;}
.page-template-page-resources-detail #content .page-banner .colspan-12 {padding: 0!important;    width: auto!important;
    clear: none;
    float: left;    margin-right: 28%!important;}
.page-template-page-resources-detail .cs-img, .page-template-page-resources-detail .cs-logo { padding: 20px 20px 20px 0;}
.page-template-page-resources-detail figure.cs-img.colspan-4, .page-template-page-resources-detail blockquote.colspan-4 { width: 99%!important;     float: none!important; display: block!important;}
.page-template-page-resources-detail figure.cs-img.colspan-3 { padding: 20px 0 20px 20px;max-width: 50%;}
.page-template-page-resources-detail .cs-logo {
    width: auto!important;
    max-width: 50%;
    float: left!important;}
.page-template-page-resources-detail .content blockquote {margin: 24px 0 20px!important; display: block!important;width: 100%!important;}
.page-template-page-resources-detail .content .cs-logo + blockquote {clear: both!important;}

/* --------------- Product Parent Pages ---------------- */
.page-template-page-apcontrollers-php div.product.colspan-4 {width: 33%;  margin-bottom: 2px!important; margin-right: 2px!important; position: relative; z-index: 1;}
.filter-data {border-bottom: 0!important;padding-bottom: 0!important;}
/* --------------- Product Pages ---------------- */
.content .tabbed-wrapper ul.tabbed-nav li.selected,
.content .tabbed-wrapper .tabbed-pane {border: none !important; padding-top:10px;}
.content .tabbed-wrapper .tabbed-nav.hide-on-mobile {display:none !important;}
.content .tabbed-wrapper .tabbed-pane .mobile-tab-toggle.show-on-mobile {/*background:#9ed4c9 !important;color:#fff !important;*/display:block;}
.content .tabbed-wrapper .tabbed-pane .mobile-tab-toggle.show-on-mobile a {
	/*background:#9ed4c9 !important;
	color: #fff !important;
	padding:37px 25px 37px 85px;
	position:relative;
	font-size:45px;
	font-weight:300;
	line-height:35px;*/
	display:block;
}
.content .tabbed-wrapper .tabbed-pane li {display:list-item !important; list-style-type: none;}
.content .tabbed-wrapper .spec-infocols table {margin-bottom: 10px !important;}
.content .tabbed-wrapper .spec-info ul li.spec-infocols {/*
  float: none;
  width: 99%;
  margin-right: 0;*/
  display: block;
  margin-bottom: 0px;
}
.content .tabbed-wrapper .tabbed-pane .spec-info ul {margin: 0 0 0 20px !important;}
.content .tabbed-wrapper .tabbed-pane .spec-info > ul {margin-left: 0 !important;}
.content .tabbed-wrapper table.half-width tr td ul li {padding: 0 0 5px 0 !important;}
.product-detail-hero .product-hero-links, .product-detail-hero a.cta-button-org-lrg {display: none;}
.page-template-page-product-detail-php .content {padding:0 !important;}

/* --------------- Hardware product Pages ---------------- */
.product-detail-hero .subheadline {float: none!important; width: 100%!important; text-align: center;}
.page-template-page-product-detail .product-detail-hero .product-detail-image {width: 100%; float: none; text-align: center;}
.page-template-page-product-detail .product-detail-hero .product-detail-image img {width: auto; display: inline;}
.page-template-page-product-detail .product-detail-hero {padding: 0 !important; background: transparent;}
.page-template-page-product-detail .content .tabbed-wrapper {margin: 10px 0;}
.content .tabbed-wrapper .tabbed-pane .mobile-tab-toggle.selected a,
.content .tabbed-wrapper .tabbed-pane .mobile-tab-toggle a,
.tabbed-wrapper ul.tabbed-nav li.selected a, 
.page-template-page-product-detail .tabbed-wrapper ul.tabbed-nav li.selected a, 
.page-template-page-product-detail .tabbed-wrapper ul.tabbed-nav li a {
	font-size: 18px !important; color: #10181f !important; padding: 0 0 10px 0 !important;
}
.content .tabbed-wrapper .tabbed-pane .pane-content {padding: 0;}
.content .tabbed-wrapper .tabbed-pane ul.benefit-bullets {margin: 0; padding-top: 10px;}
.content .tabbed-wrapper table.half-width tr td ul li, .content .tabbed-wrapper .tabbed-pane ul.benefit-bullets li {list-style-type: none;}
.content .tabbed-wrapper .spec-infocols table.half-width tr th.section {font-size: 15px !important; padding: 10px 20px;}
.content .tabbed-wrapper .tabbed-pane .mobile-tab-toggle {border-top: 1px solid #9fd4c9; padding-top: 20px;}
.content .tabbed-wrapper .tabbed-pane ul.benefit-bullets {border-top: none;}
.content .tabbed-wrapper .tabbed-pane ul.benefit-bullets li img.benefit-icon {max-width: 25px !important; margin-bottom: 10px !important;}
.content .tabbed-wrapper .tabbed-pane ul.benefit-bullets li h3 {font-size: 15px !important;}
.content .tabbed-wrapper table.half-width tr td ul li ul li,
.content .tabbed-wrapper table.half-width tr td ul li {font-size: 10px;}

/* --------------- Product Compare Pages ---------------- */
.compare-table .product-attributes table, .compare-table .product-wrap table {border: 1px solid #000 !important;}
.compare-table .product-attributes table tr, .compare-table .product-wrap table tr {border: none !important;}
.compare-table .product-attributes table tr td, .compare-table .product-wrap table tr td { border: none; border-bottom: 1px solid #000 !important;}
.product-attributes table tr td, .product-wrap table tr td {
	background:#f1f9f7;
	padding: 5px !important;
	line-height:14px !important;
	text-align:left;
	vertical-align: top;
	font-size:12px;
	white-space: normal;
}
.product-attributes table tr td.image,
.product-wrap table tr td.image {text-align: center;}
.product-attributes table tr td.image img,
.product-wrap table tr td.image img {
	/*min-height: 128px !important;*/
	max-height: 128px !important;
	min-width: 120px !important;
	max-width: 120px !important;
}
.product-wrap table tr.title-cell td h4,
.product-wrap table tr td.image h4 {font-size: 15px !important; line-height:16px !important;}
.product-wrap table tr.title-cell td p,
.product-wrap table tr td.image p {font-size: 13px !important; line-height: 12px !important;}


/* --------------- EMEA Partner Locator ---------------- */
.resourceResults ul li.partnerType {border-bottom: 1px solid #9fd4c9;}
.resourceResults ul li.partnerType .partner-title,
.resourceResults ul li.partnerType .partner-type,
.resourceResults ul li.partnerType .partner-location {padding-right: 10px !important;}
.resourceResults{ border: 0 none !important; padding: 5px 0 !important; }
.resourceResults ul li.partnerType { padding: 10px !important; }



/* --------------- Homepage ----------------*/
.page-banner.homepage-hero,.home .homepage-hero .hero-video-wrapper,.home .homepage-hero {height: 300px !important;}
.home .homepage-hero .hero-video-wrapper img.imageReplacement.hide {display: block !important; margin: 0 auto; width:auto !important; height:100% !important; position: static;}
.home .site-main {background: transparent;}
.home .home-block-1, .home .home-block-2, .home .home-block-3 {width: 50%;}
.home .home-block-1 .inner { padding: 9%;}
.home .home-block-2 .text h2 {font-size: 18px !important;margin-bottom:-7px;}
.home .home-block-3 { bottom:50px;}
.home .home-block-4, .home .home-block-5, .home .home-block-6 {width: 33%; margin:0;}
.home .home-block-4 .inner img { width:90%;}
.home .home-block-4 .text { padding: 10px 10px 0;}
.home .home-block-5 .inner { padding: 0 2%;}
.home .home-block-5 .inner .block-5-text a { font-size:12px;}
.home .home-block .home-news-title { padding: 0px 0 5px 33px }
.home .home-block-6 .text { padding-top:5px; font-size:20px; line-height:22px;}
.home-block-6 .text a { display:none;}
