﻿@charset "utf-8";
@import url(reset.css);

body {
	background: #f0f0f0;
}

/* --- Integration ---*/

a {
	color: #ca541f;
}

a img {
	border: none;
}

.clr {
	clear: both;
}

#main {
	background: url(../img/bottom.jpg) #f3fccc left bottom repeat-x;
	color: #6a8c16;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	text-align: center;
	font-weight: bold;
	padding-bottom: 142px; /* --- placeholder --- */
}

#about {
	position:relative;
	background: url(../img/main.jpg) center center no-repeat;
	width: 994px;
	height: 230px;
	margin: auto;
	padding: 50px 30px 0 0;
	color: #5d6d2b;
}

#aboutContainer {
    border-bottom: 2px solid #76971b;
    height: 340px;
    width: 994px;
    margin: auto;
    padding-right: 30px;
}

#aboutwebmasters {
	position:absolute;
	top:42px;
	left:19px;
	width:188px;
	height:191px;
}

#aboutwebusers {
	position:absolute;
	top:42px;
	left:222px;
	width:188px;
	height:191px;
}

#aboutadvertising {
	position:absolute;
	top:42px;
	left:422px;
	width:188px;
	height:191px;
}

#about ul {
	text-align: left;
	float: right;
}

#about li {
	background: url(../img/circle.png) left center no-repeat;
	padding-left: 20px;
}

#main p {
	width: 860px;
	margin: 0 auto;
	padding: 1em 0;
}

#bottomNav {
	border-top: 2px solid #ececec;
	border-bottom: 1px solid #d6e59b;
	padding: 9px 0;
	background: #f9fee3;
}

#bottomNav2 {
	width: 950px;
	margin: auto;
}

#bottomNav2 a, #bottomNav2 img {
	display: block;
	float: left;
	margin: 0 2px;
}

#signUp {
	margin-bottom: 15px;
	display: block;
	height: 49px;
	width: 149px;
}

.borderRight {
	border-right: 1px solid #76971b;
}

#footer {
	background: #fafeea;
}