/* Global */

/* Add This Vertical Sharing Bar */
div.sharing-vertical {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 62px;
    display: block;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter:alpha(opacity=0);
}

div.sharing-initialized {
    display: none;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter:alpha(opacity=100);
}

div.sharing-vertical div.addthis_toolbox {
    position: fixed;
    overflow: visible;
    font-size: 12px;
    line-height: normal;
    z-index: 1;
    left: 50% !important;
    top: 165px;
    margin-left: -595px;
    width: 62px;
    padding: 10px 5px 5px 5px;
    border: 2px solid #FFF;
    text-align: center;
    background: #FEFEFE;
    -webkit-box-shadow: 1px 1px 10px rgba(35, 35, 35, 0.30);
    -moz-box-shadow: 1px 1px 10px rgba(35, 35, 35, 0.30);
    box-shadow: 1px 1px 10px rgba(35, 35, 35, 0.30);
    top: 165px !important;
    /* background: transparent !Important; */
}

h5.sharing-vertical-title {
    color: #F3AD85;
}

div.sharing-horizontal {
    margin: 0px;
    height: 20px;
    padding: 15px 0px 7px 25px;    
}

div.sharing-horizontal a.addthis_button_facebook_like {
    padding-right: 11px !important;
}

div.sharing-horizontal a.addthis_button_tweet {
    width: 85px !important;
}

div.sharing-horizontal a.addthis_button_google_plusone {
    width: 66px !important;
}

div.sharing-horizontal a.addthis_button_reddit {
    padding-left: 11px !important;
}

div.sharing-horizontal a.addthis_button_email, div.sharing-horizontal a.addthis_button_compact, div.sharing-horizontal a.addthis_button_reddit {
    padding-top: 2px !important;
    padding-right: 11px !important;
}

div.sharing-horizontal .addthis_counter.addthis_pill_style.addthis_nonzero a.addthis_button_expanded {
    display: none !important;
}

div#wrapper div.global-fb-like {
    position: absolute;
    left: 50%;
    top: 0px;
    padding: 5px;
    width: 235px;
    margin-left:-710px;
    z-index: 1;
    /* background: #FFF;
    border-radius: 0px 0px 6px 6px;
    border: 2px solid #FFF;
    -webkit-box-shadow: 1px 1px 6px rgba(35, 35, 35, 0.30);
    -moz-box-shadow: 1px 1px 6px rgba(35, 35, 35, 0.30);
    box-shadow: 1px 1px 6px rgba(35, 35, 35, 0.30);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6099b4', endColorstr='#4c859f',GradientType=0 ); */
}

div#wrapper div.global-fb-like h5 {
    font-size: 12px;
    text-transform: normal;
    padding: 3px 3px 0px 0px;
    float: left;
    color: #F3AD85;
}

@media screen and (min-width: 0px) and (max-width: 1247px) {
    div#wrapper div.global-fb-like {
        position: absolute;
        width: 90px;
        left: 0px;
        top: 3px;
        margin-left: 0px;
        background: none;
        border: none;
        box-shadow: none;
        overflow: hidden;
    }

    div#wrapper div.global-fb-like h5 {
        display: none;
    }

}

@media screen and (min-width: 1248px) and (max-width: 1432px) {

    div#wrapper div.global-fb-like {
        position: absolute;
        left: -125px;
        width: 122px;
        margin-left: 0px;
    }

    div#wrapper div.global-fb-like h5 {
        float: none;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 5px;
    }

    div#wrapper div.global-fb-like > iframe {
        padding-left: 12px;
    }

}