body {
    background: none repeat scroll 0 0 transparent;
    height: auto;
}

div#footer, /* Keine Fusszeile (Legal-informations, Links, sonstiges) */
div#navigation, /* Linksnavigation ausblenden */
div#serviceArea, /* keine Container auf der Seite anzeigen (Teaser) */
.hidden, /* Hidden Texte nicht verschieben, sondern ganz ausblenden */
.container-process, /* Prozess-Navigation */
div.breadcrumb, /* Breadcrumbs ausblenden, da die Pfeile (Hintergrundbilder) verschwinden */
.tabs-links, /* keine Register bei den Produktseiten  */
.anchor-top, /* keine >Zum Seitenanfang< Links*/
.page-functions,
#languageSelector,
#globalNavRoot,
#searchform,
#topNav,
a#pfLogo,
#pfClaim {
    display: none !important;
}

/* force Background Image Print */
#header {
    display: list-item;
    list-style-position: inside; /*letter-spacing: -1000em;*/
    font-size: 1pt;
    color: #fff;
    float: right;
    height: 60px;
    margin-bottom: 30px;
}

#header {
    list-style-position: outside; /*letter-spacing: -1000em;*/
    width: 0;
    margin-left: 100%;
    float: none;
}

div.header-de {
    list-style-image: url(../img/img_pf_logo_print_de.jpg);
}

div.header-fr {
    list-style-image: url(../img/img_pf_logo_print_fr.jpg);
}

div.header-it {
    list-style-image: url(../img/img_pf_logo_print_it.jpg);
}

div.header-en {
    list-style-image: url(../img/img_pf_logo_print_en.jpg);
}

/* pf logo backup Text
a#pfLogo {
    background-color: #FFCC00;
    display: inline-block !important;
    float: none;
    font-size: 200%;
    height: 60px;
    left: 0;
    line-height: 60px;
    margin: 0;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 100%;
    white-space: nowrap;
    z-index: -1;
}
*/

/* Da beim page-split visible auf hidden gesetzt ist, verschwindet beim Firefox der Inhalt nach der ersten Seite (unten an der Seite sichtbar => abgeschnitten) */
div.page-split {
    overflow: visible !important;
    margin: 0px;
    padding: 0px;
}

div#page {
    background: none;
}

#mainArea {
    margin: 0 20px;
}

/* Da das content-div eine fixe Breite (in Pixel) hat, verwendet der IE nicht den ganzen Druckbereich */
div#page, div#content {
    width: 100% !important;
    float: none;
    display: block;
    margin: 0 !important;
}

#mainArea,
div.tabs-body, /* Rand um Produkt-Container entfernen */
div.four-split div.bd, /* Border bei Startseiten ausblenden (Privatkunden, Geschäftskunden, Wir über uns) */
div.tri-split div.bd /* Border bei Boxen auf der Startseite entfernen */
{
    border: none !important;
}

.print_footer {
    margin-top: 25px;
    clear:both;
}

.print_only {
    display: block;
}

div.tabbed, div.bd{
    overflow: visible !important;
}