.YS-buttons,
.YS-buttons li,
.YS-buttons li {
    box-sizing: border-box
}
.YS-buttons li a,
h6 {
    text-transform: uppercase
}
.btn,
.YS-buttons li a {
    text-align: center;
    text-decoration: none
}
.btn,
.YS-buttons li a,
a {
    text-decoration: none
}
.YS-buttons {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 36px;
    margin: 0;
    padding: 0;
	width:100%;
}
.YS-buttons:after {
    clear: both
}
.YS-buttons:after,
.YS-buttons:before {
    content: ' ';
    display: table
}
.YS-buttons li {
    float: left;
    height: 100%;
    line-height: 13px;
    list-style: none;
    margin: 0;
    padding: 0 2px
}
.YS-buttons li.YS-email a {
    background-color: #0a88ff
}
.YS-buttons li.YS-email a:hover {
    background-color: #006ed6
}
.YS-buttons li.YS-facebook a {
    background-color: #306199
}
.YS-buttons li.YS-facebook a:hover {
    background-color: #244872
}
.YS-buttons li.YS-tumblr a {
    background-color: #32506d
}
.YS-buttons li.YS-tumblr a:hover {
    background-color: #22364a
}
.YS-buttons li.YS-linkedin a {
    background-color: #007bb6
}
.YS-buttons li.YS-linkedin a:hover {
    background-color: #005983
}
.YS-buttons li.YS-twitter a {
    background-color: #26c4f1
}
.YS-buttons li.YS-twitter a:hover {
    background-color: #0eaad6
}
.YS-buttons li.YS-googleplus a {
    background-color: #e93f2e
}
.YS-buttons li.YS-googleplus a:hover {
    background-color: #ce2616
}
.YS-buttons li.YS-youtube a {
    background-color: #df1c31
}
.YS-buttons li.YS-youtube a:hover {
    background-color: #b21627
}
.YS-buttons li.YS-reddit a {
    background-color: #8bbbe3
}
.YS-buttons li.YS-reddit a:hover {
    background-color: #62a3d9
}
.YS-buttons li.YS-pinterest a {
    background-color: #b81621
}
.YS-buttons li.YS-pinterest a:hover {
    background-color: #8a1119
}
.YS-buttons li.YS-pocket a {
    background-color: #ed4054
}
.YS-buttons li.YS-pocket a:hover {
    background-color: #e4162d
}
.YS-buttons li.YS-github a {
    background-color: #444
}
.YS-buttons li.YS-github a:hover {
    background-color: #2b2b2b
}
.YS-buttons li.YS-instagram a {
    background-color: #125688
}
.YS-buttons li.YS-instagram a:hover {
    background-color: #0c3a5b
}
.YS-buttons li.YS-delicious a {
    background-color: #0b79e5
}
.YS-buttons li.YS-delicious a:hover {
    background-color: #095fb4
}
.YS-buttons li.YS-vk a {
    background-color: #4d71a9
}
.YS-buttons li.YS-vk a:hover {
    background-color: #3d5a86
}
.YS-buttons li.YS-hackernews a {
    background-color: #f60
}
.YS-buttons li.YS-hackernews a:hover {
    background-color: #cc5200
}
.YS-buttons li.YS-print a {
    background-color: #8d98a2
}
.YS-buttons li.YS-print a:hover {
    background-color: #717f8b
}
.YS-buttons li a {
    background-color: #ccc;
    border-radius: 2px;
    display: block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    height: 100%;
    padding: 11px 7px 12px 27px;
    position: relative;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    width: 100%
}
.YS-buttons li a .YS-icon {
    display: block;
    left: 10px;
    padding-top: 9px;
    position: absolute;
    top: 0;
    width: 10%
}
.YS-buttons li a .YS-icon svg {
    height: 17px;
    width: 17px
}
.YS-buttons li a .YS-icon svg path {
    fill: #fff
}
.YS-buttons li a .YS-text {
    color: #fff
}
.YS-buttons li a:active {
    box-shadow: inset 1px 3px 15px 0 rgba(22, 0, 0, .25)
}
.YS-buttons li.small a {
    padding: 0
}
.YS-buttons li.small a .YS-icon {
    left: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: auto;
    width: 100%
}
.YS-buttons li.small a .YS-text {
    visibility: hidden;
}
.YS-buttons.large-format,
.YS-buttons.large-format li {
    height: auto
}
.YS-buttons.large-format li a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .2em;
    padding: 8.5% 0 8.5% 12%
}

.YS-buttons.large-format li a .YS-icon {
    height: 100%;
    left: 7%;
    padding-top: 0;
    width: 12%
}
.YS-buttons.large-format li a .YS-icon svg {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%
}
.YS-buttons.large-format li a .YS-text {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.YS-buttons.small-format {
    padding-top: 5px
}
.YS-buttons.small-format li {
    height: 80%;
    padding: 0 1px
}
.YS-buttons.small-format li a .YS-icon {
    height: 100%;
    padding-top: 0
}
.YS-buttons.small-format li a .YS-icon svg {
    height: 48%;
    position: relative;
    top: 6px;
    width: 80%
}
.YS-buttons.tiny-format {
    height: 22px;
    position: relative
}
.YS-buttons.tiny-format li {
    padding-right: 7px
}
.YS-buttons.tiny-format li a {
    background-color: transparent;
    padding: 0
}

.YS-buttons.tiny-format li a .YS-icon svg {
    height: 70%;
    width: 100%
}
.YS-buttons.tiny-format li a:active,
.YS-buttons.tiny-format li a:hover {
    background-color: transparent
}
.YS-buttons.tiny-format li.YS-email a .YS-icon svg path {
    fill: #0a88ff
}
.YS-buttons.tiny-format li.YS-email a .YS-icon:hover .YS-icon svg path {
    fill: #0054a3
}
.YS-buttons.tiny-format li.YS-facebook a .YS-icon svg path {
    fill: #306199
}
.YS-buttons.tiny-format li.YS-facebook a .YS-icon:hover .YS-icon svg path {
    fill: #18304b
}
.YS-buttons.tiny-format li.YS-tumblr a .YS-icon svg path {
    fill: #32506d
}
.YS-buttons.tiny-format li.YS-tumblr a .YS-icon:hover .YS-icon svg path {
    fill: #121d27
}
.YS-buttons.tiny-format li.YS-linkedin a .YS-icon svg path {
    fill: #007bb6
}
.YS-buttons.tiny-format li.YS-linkedin a .YS-icon:hover .YS-icon svg path {
    fill: #003650
}
.YS-buttons.tiny-format li.YS-twitter a .YS-icon svg path {
    fill: #26c4f1
}
.YS-buttons.tiny-format li.YS-twitter a .YS-icon:hover .YS-icon svg path {
    fill: #0b84a6
}
.YS-buttons.tiny-format li.YS-googleplus a .YS-icon svg path {
    fill: #e93f2e
}
.YS-buttons.tiny-format li.YS-googleplus a .YS-icon:hover .YS-icon svg path {
    fill: #a01e11
}
.YS-buttons.tiny-format li.YS-youtube a .YS-icon svg path {
    fill: #df1c31
}
.YS-buttons.tiny-format li.YS-youtube a .YS-icon:hover .YS-icon svg path {
    fill: #84111d
}
.YS-buttons.tiny-format li.YS-reddit a .YS-icon svg path {
    fill: #8bbbe3
}
.YS-buttons.tiny-format li.YS-reddit a .YS-icon:hover .YS-icon svg path {
    fill: #398bcf
}
.YS-buttons.tiny-format li.YS-pinterest a .YS-icon svg path {
    fill: #b81621
}
.YS-buttons.tiny-format li.YS-pinterest a .YS-icon:hover .YS-icon svg path {
    fill: #5d0b11
}
.YS-buttons.tiny-format li.YS-pocket a .YS-icon svg path {
    fill: #ed4054
}
.YS-buttons.tiny-format li.YS-pocket a .YS-icon:hover .YS-icon svg path {
    fill: #b61124
}
.YS-buttons.tiny-format li.YS-github a .YS-icon svg path {
    fill: #444
}
.YS-buttons.tiny-format li.YS-github a .YS-icon:hover .YS-icon svg path {
    fill: #111
}
.YS-buttons.tiny-format li.YS-instagram a .YS-icon svg path {
    fill: #125688
}
.YS-buttons.tiny-format li.YS-instagram a .YS-icon:hover .YS-icon svg path {
    fill: #061d2e
}
.YS-buttons.tiny-format li.YS-delicious a .YS-icon svg path {
    fill: #0b79e5
}
.YS-buttons.tiny-format li.YS-delicious a .YS-icon:hover .YS-icon svg path {
    fill: #064684
}
.YS-buttons.tiny-format li.YS-vk a .YS-icon svg path {
    fill: #4d71a9
}
.YS-buttons.tiny-format li.YS-vk a .YS-icon:hover .YS-icon svg path {
    fill: #2d4263
}
.YS-buttons.tiny-format li.YS-hackernews a .YS-icon svg path {
    fill: #f60
}
.YS-buttons.tiny-format li.YS-hackernews a .YS-icon:hover .YS-icon svg path {
    fill: #993d00
}
.YS-buttons.tiny-format li.YS-print a .YS-icon svg path {
    fill: #8d98a2
}
.YS-buttons.tiny-format li.YS-print a .YS-icon:hover .YS-icon svg path {
    fill: #5a656f
}
.YS-buttons li.YS-print a .YS-icon svg path:nth-child(2) {
    fill: none
}



.YS-buttons li.YS-flipboard a {
    background-color: #b81621;
}
.YS-buttons li.YS-flipboard a:hover {
    background-color: #8A1119;
}
.YS-buttons li.YS-whatsapp a {
    background-color: #57CB61
}
.YS-buttons li.YS-whatsapp a:hover {
    background-color: #2EB641
}
.YS-whatsapp {
    display: none;
}
@media only screen and (max-width: 600px) {
    .btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px
    }
}


.share-container {
    margin: 0 0 4%
}
.share-container:after {
    content: "";
    display: table;
    clear: both
}

.YS-buttons {
    float: left;
}
@media only screen and (max-width: 400px) {
    .label {
        display: none
    }
    .YS-buttons {
        width: 100%
    }
}
.YS-buttons a,
.YS-buttons a:hover {
    border: none
}
.share-container.all-sites {
    margin-bottom: 5%
}
.share-container.all-sites:after {
    content: "";
    display: table;
    clear: both
}
.share-container.all-sites .label {
    display: none
}
.share-container.all-sites .YS-buttons {
    width: 100%
}
.YS-preview {
    transition: all .2s ease;
    float: right;
    height: auto;
    margin: 0 0 1% 1%;
    width: 40%
}

.s-holder {
    height: 44px;
    overflow: auto;
    width: 103%;
}
.s-count {
    border-right: 1px solid #aaaaaa;
    color: #e5002d !important;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    padding-right: 10px;
    text-align: center;
	float:left;
	display:none;
}
.s-tab {
}
.share_count_span {
}
.share-con {
}
.share-holder {
    width: 89%;
	float:left;
}

small {
    display: block;
    margin-top: 5%;
    font-size: 12px
}
@media (max-width: 1100px){
	.share-holder{
		width:85%;
		}
	}


@media (max-width: 700px){
	.share-holder {
    width: 86%;
				}
	}
	


@media (max-width: 550px) {
    .YS-whatsapp {
        display: block!important
    }
    .YS-buttons.small-format li a .YS-icon svg {
        height: 51%;
        position: relative;
        top: 8px;
        width: 80%;
    }
    .YS-buttons.small-format li {
        height: 100%;
        padding: 0 1px;
    }
	.share-holder{
		width:100%!important;
		overflow:hidden;
		}
	.s-count{
		display:none!important;
		}	
}



@media only screen and (max-width: 400px) {
    .YS-preview {
        float: none;
        margin: 0 0 4%;
        width: 100%
    }
}
