body {
	background-color: #EEEEEE;
	padding:0px;
	margin:0px;
	font-family:Tahoma;
	font-size:14px;
	color:#000000;
}

IMG {border : none;}
p {font-size: 14pt}
p.l {font-size: 12pt;}
ul {font-size: 14pt}
li {font-size: 12pt;}

a.menu:link {
  color: black
}

a.menu:visited {
  color: black
}

td {
 padding:0;
}
tr{
  border-spacing:0;
}

TABLE{
	padding:0px;
	margin:0px;
	font-family:Tahoma;
	font-size:14px;
	color:#000000;
    border:0;
    border-spacing:0;
}

a, a:link{
	font-size:14px;
	font-family:tahoma;
	color:#000000;
	text-decoration:underline;
}

a:hover{
	font-size:14px;
	font-family:tahoma;
	color:#000000;
	text-decoration:none;
}

a:active, a:visited{
	font-size:14px;
	font-family:tahoma;
	color:#808080;
	text-decoration:none;
}
#content_left_td{
	width:25px;
	background: url(/i/background_left.gif) repeat-y;
	vertical-align:top;
}

#content_right_td{
	width:34px;
	background: url(/i/background_right.gif) repeat-y;
}

#content_center{
	width:100%;
	background: url(/i/background_center.gif);
	padding-right:10px;
	padding-left:19px;
}

#center_header_td{
	border-bottom:1px solid #000000;
	padding-bottom:2px;
}

#center_header_table{
	border-bottom:2px solid #000000;
}

#logo_td{
	width:227px;
	padding-top:18px;
	padding-bottom:6px;
}

#header_adress{
	vertical-align:bottom;
	padding-bottom:3px;
}

a#header_adress_link:link, a#header_adress_link:hover, a#header_adress_link:active, a#header_adress_link:visited{
	color:#000000;
	text-decoration:none;
	font-family:Times New Roman;
	font-size:14px;
}

#header_date{
	font-family:Times New Roman;
	font-size:14px;
	vertical-align:bottom;
	text-align:right;
	padding-bottom:3px;
}

#bottom_td{
	border-top:2px solid #000000;
}

#bottom_copyright{
	border-bottom:1px solid #000000;
}

#bottom_copyright TABLE{
	color:#333333;
	font-family:tahoma;
	font-size:10px;
}

a#feedback_link, a#feedback_link:link, a#feedback_link:hover, a#feedback_link:active, a#feedback_link:visited{
	color:#333333;
	font-family:tahoma;
	font-size:10px;	
	text-decoration:none;	
}

#bottom_ekvixgroup{
	border-bottom:1px solid #000000;
	color:#333333;
	font-family:tahoma;
	font-size:10px;	
	text-align:right;
}

a#ekvixgroup_link:link, a#ekvixgroup_link:hover, a#ekvixgroup_link:active, a#ekvixgroup_link:visited{
	color:#333333;
	font-family:tahoma;
	font-size:10px;		
	text-decoration:none;
}

#bottom_cccp_logo{
	border-bottom:1px solid #000000;
	text-align:center;
	padding-top:2px;
	padding-bottom:2px;
}

#header_td{
	padding-top:10px;
}

#main_menu_td{
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	width:152px;
}

#menu_logo{
	padding-right:4px;
	vertical-align:middle;
}

#main_menu_link:link, #main_menu_link:active, #main_menu_link:visited{
	color:#000000;
	font-family:tahoma;
	font-size:14px;
	text-decoration:none;
}

#main_menu_link:hover{
	color:#000000;
	font-family:tahoma;
	font-size:14px;
	text-decoration:line-through;
}

#menu_link_td{
	padding-left:5px;
}

#page_header{
	font-family:tahoma;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	padding-right:160px;
}

#catlinks_grouphead{
	font-family:tahoma;
	font-size:14px;
	font-weight:bold;
	padding-bottom:10px;
}

#main_content{
	padding-top:9px;
	padding-bottom:9px;
}

#catlinks_li{
	padding-right:6px;
	vertical-align:top;
	padding-top:6px;
}

a#catlinks_link:link, a#catlinks_link:visited, a#catlinks_link:active{
	font-family:tahoma;
	font-size:14px;
	text-decoration:none;
	color:#000000;
}

a#catlinks_link:hover{
	text-decoration:underline;
}

#catlinks_table{
	margin-bottom:30px;
}

#search_header{
	font-weight:bold;
	font-size:14px;
	padding-left:10px;
}

#search_header_hr{
	padding-left:10px;
}

#search_form_td{
	padding-bottom:10px;
}

#search_forum_text{
	width:300px;
	height:19px;
	border:1px solid black;
}

#search_forum_td{
	padding-right:10px;
}

#search_forum_select{
	width:174px;
	border:1px solid black;
}

#forum_search_tr_1{
	padding-top:5px;
	padding-bottom:3px;
}

#photos_header{
	text-align:center;
	padding-bottom:15px;
}

#photos_photo{
	text-align:center;
	padding-bottom:30px;
}

#photos_photo_brunetka{
	padding:5px;
}

#feedback_input_text{
	width:258px;
	height:17px;
	border:1px solid #b2b2b2;
	font-size:12px;
}

#feedback_form_text{
	padding-right:28px;
	padding-top:12px;
}

#feedback_form_input{
	padding-top:12px;
}

