html,
body {
  font-family: 'Open Sans', sans-serif;
}
html.category-15 .background--flag,
body.category-15 .background--flag {
  background-image: url("../img/byzantineflag.jpg");
}
html.category-15 li.church a,
body.category-15 li.church a {
  background: #fff;
  color: #011c27;
}
html.category-38 .background--flag,
body.category-38 .background--flag {
  background-image: url("../img/greek-army-flag.jpg");
}
html.category-38 li.greek a,
body.category-38 li.greek a {
  background: #fff;
  color: #011c27;
}
html.category-28 .background--flag,
body.category-28 .background--flag {
  background-image: url("../img/politics.jpg");
}
html.category-28 li.politics a,
body.category-28 li.politics a {
  background: #fff;
  color: #011c27;
}
html.category-27 .background--flag,
body.category-27 .background--flag {
  background-image: url("../img/health.jpg");
}
html.category-27 li.health a,
body.category-27 li.health a {
  background: #fff;
  color: #011c27;
}
html.category-31 .background--flag,
body.category-31 .background--flag {
  background-image: url("../img/ofelima.jpg");
}
html.category-31 li.ofelima a,
body.category-31 li.ofelima a {
  background: #fff;
  color: #011c27;
}
html.category-25 .background--flag,
body.category-25 .background--flag {
  background-image: url("../img/world.jpg");
}
html.category-25 li.world a,
body.category-25 li.world a {
  background: #fff;
  color: #011c27;
}
html.category-8 .background--flag,
body.category-8 .background--flag {
  background-image: url("../img/social.jpg");
}
html.category-8 li.society a,
body.category-8 li.society a {
  background: #fff;
  color: #011c27;
}
html.category-21 .background--flag,
body.category-21 .background--flag {
  background-image: url("../img/new-order.jpg");
}
html.category-21 li.new-order a,
body.category-21 li.new-order a {
  background: #fff;
  color: #011c27;
}

.page-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-section.divider {
  border-top: 1px solid #ebebeb;
}
.page-section.below-article-main {
  padding: 0;
}
.page-section.below-article-main .col-md-4 {
  background-color: #e7e7e7;
}
.page-section.below-article-main .col-md-5 {
  background-color: #dfdfdf;
}

.section__header hr {
  margin-top: 0;
}
.section__header .section-title {
  margin-bottom: 0;
}

/*--------------------------------*\
        $Category $Links
\*--------------------------------*/
.category-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  display: block;
}
.category-link .fa {
  float: right;
  font-size: 22px;
}

.category-link--feed {
  padding: 15px 0;
  margin: 0;
  color: #377fe5;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.category-link--feed:hover, .category-link--feed a:hover {
  color: #fff;
  text-decoration: none;
}

.category-link--categories {
  color: #377fe5;
  margin: 20px 0;
}

.category-link--ofelima {
  margin-top: 10px;
  margin-bottom: 35px;
  line-height: 24px;
}

/*--------------------------------*\
          $Backgrounds
\*--------------------------------*/
.background--darkblue {
  background-color: #011c27;
  color: #fff;
}

.background--white {
  background-color: #fff;
  color: #000;
}

.background--light {
  background-color: #f7f7f7;
  color: #000;
}

.background--white--transparent {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  color: #000;
}

.background--flag {
  background-image: url("../img/greekflag.jpg");
  background-size: cover;
  color: #fff;
}
.background--flag .gbSearch {
  padding-top: 15px;
}
.background--flag .date {
  line-height: 50px;
}

.background--brick-red {
  background-color: #2e3132;
  color: #fff;
}

.light--grey-column {
  background-color: #efefef;
}
@media (min-width: 1200px) {
  .light--grey-column .post-item__image-wrap {
    height: 90px;
    overflow: hidden;
  }
  .light--grey-column.last-column .post-item__image-wrap {
    height: 200px;
    overflow: hidden;
  }
}

/*--------------------------------*\
       $Header & $Navigation
\*--------------------------------*/
.top-navigation-menu,
.top-social-menu {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.top-navigation-menu > li,
.top-social-menu li {
  display: inline-block;
  vertical-align: middle;
}

.top-social-menu li + li {
  margin-left: 5px;
}

.top-navigation-menu > li + li:before {
  content: '/';
  position: absolute;
  left: 0;
}
@media (max-width: 667px) {
  .top-navigation-menu > li + li:before {
    content: "";
  }
}

.top-navigation-menu > li + li {
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
}
@media (max-width: 667px) {
  .top-navigation-menu > li + li {
    padding-left: 0;
  }
}

.header--flag {
  padding: 70px 0;
}
@media (max-width: 768px) {
  .header--flag {
    padding: 20px 0;
  }
}

.header__date {
  display: block;
  height: 70px;
  line-height: 70px;
}

.header__search {
  line-height: 70px;
}

.header__search__input {
  display: inline-block;
  width: 260px;
  height: 40px;
  line-height: 1.2em;
  padding: 10px;
  color: #011c27;
  font-size: 13px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

input.header__search__input::-webkit-input-placeholder {
  color: #011c27;
  font-size: 13px;
  font-weight: 400;
}

input.header__search__input:-moz-placeholder {
  color: #011c27;
  font-size: 13px;
  font-weight: 400;
}

input.header__search__input::-moz-placeholder {
  color: #011c27;
  font-size: 13px;
  font-weight: 400;
}

input.header__search__input:-ms-input-placeholder {
  color: #011c27;
  font-size: 13px;
  font-weight: 400;
}

input.header__search__input:placeholder {
  color: #011c27;
  font-size: 13px;
  font-weight: 400;
}

.navbar--lightblue {
  background-color: #377fe5;
  color: #fff;
  border: none;
  border-radius: 0;
  min-height: 0;
}

.navbar--main {
  margin-bottom: 0;
}
.navbar--main .container {
  padding: 0;
}
.navbar--main .navbar-toggle {
  margin: 0;
  width: 100%;
  padding: 15px;
  background: #fff;
}
.navbar--main .navbar-toggle .icon-bar {
  background-color: #011c27;
  margin: 5px auto;
}
@media (max-width: 767px) {
  .navbar--main .navbar-nav {
    margin: 0 30px;
  }
}

.navbar--lightblue .navbar-nav > .active > a,
.navbar--lightblue .navbar-nav > .active > a:focus,
.navbar--lightblue .navbar-nav > .active > a:hover {
  background-color: #377fe5;
  color: #fff;
}

.navbar--lightblue .navbar-collapse,
.navbar--lightblue .navbar-form {
  border-color: #fff;
  padding: 0;
}

.navbar--lightblue .navbar-nav > li > a {
  color: #fff;
  border: 0px solid rgba(255, 255, 255, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  padding: 10px;
}
@media (max-width: 767px) {
  .navbar--lightblue .navbar-nav > li > a {
    border: none !important;
  }
}

.navbar--lightblue .navbar-nav > li + li > a {
  border-left-width: 0;
}

.navbar--lightblue .navbar-nav > li > a:focus,
.navbar--lightblue .navbar-nav > li > a:hover {
  color: #377fe5;
  background-color: #fff;
}

.navbar--lightblue {
  font-weight: 300;
}

.bar--top {
  font-size: 12px;
  font-weight: 200;
}

.bar--top .fa {
  font-size: 20px;
}

.bar--top a {
  color: #fff;
}

/*--------------------------------*\
            $Carousel
\*--------------------------------*/
.carousel--for-posts .item img {
  width: 100%;
}
.carousel--for-posts .carousel-caption {
  width: 100%;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 30px;
}
.carousel--for-posts .carousel-caption h2 {
  font-size: 1.8em;
  margin: 0 0 10px 0;
}
.carousel--for-posts .carousel-caption p {
  font-size: 1em;
  font-weight: 300;
}
.carousel--for-posts .post-item__image-wrap {
  height: 450px;
  overflow: hidden;
}

.items-list-for-carousel {
  padding: 0 15px;
}
.items-list-for-carousel .post-item {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
  line-height: 1.2em;
  cursor: pointer;
  position: relative;
  background: #000;
  height: 120px;
  border: 1px solid #fff;
  background-size: cover !important;
}
.items-list-for-carousel .post-item img {
  opacity: 0.5;
}
.items-list-for-carousel .post-item .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.items-list-for-carousel .post-item:hover {
  border: 1px solid #377fe5;
}
.items-list-for-carousel .post-item.active {
  color: #fff;
  border: 1px solid #fff;
}
.items-list-for-carousel .post-item.active .overlay {
  display: none;
}
.items-list-for-carousel .post-item.active img {
  opacity: 1;
}
.items-list-for-carousel .post-item.active p {
  visibility: hidden;
}
.items-list-for-carousel .post-item p {
  position: absolute;
  bottom: 0;
  margin: 5px;
  color: #fff;
  font-size: 0.9em;
}

/*--------------------------------*\
            $ads n $Banners
\*--------------------------------*/
.ad-box {
  display: block;
  max-width: 340px;
  margin: 0 auto;
  padding-top: 20px;
}

.ad__wording {
  display: block;
  color: #cacaca;
  font-size: 12;
  font-weight: 400;
  margin-bottom: 10px;
}

.homeTop .banner--large {
  margin: 0 auto 20px auto;
}

.banner--large {
  margin: 30px auto;
  max-width: 970px;
  min-height: 90px;
}
@media (max-width: 992px) {
  .banner--large {
    display: none;
  }
}

.banner--sky-small {
  margin: 0 auto;
  max-width: 160px;
  min-height: 600px;
  margin-bottom: 20px;
}

.banner--square {
  display: block;
  min-height: 280px;
  border: none !important;
}

/*--------------------------------*\
              Posts
\*--------------------------------*/
.news--main-block {
  margin-bottom: 20px;
}
.news--main-block .ad-box {
  padding-top: 0;
  vertical-align: top;
  margin: 20px auto;
}
@media (min-width: 992px) {
  .news--main-block .ad-box {
    margin-top: -40px;
  }
}
@media (max-width: 768px) {
  .news--main-block .tabs {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .news--main-block .tab-content {
    height: 500px;
  }
}

.post__stats-indicator {
  background-color: #2e3132;
  color: #fff;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
}

.post-item a {
  display: block;
}

.post-item-hor {
  margin-bottom: 15px;
}
.post-item-hor .post-item__image-wrap {
  padding: 0;
}
.post-item-hor .post-item__text-wrap {
  padding: 10px 10px 0 15px;
}

.flow article {
  margin-bottom: 20px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #efefef;
}
.flow article .post-item-hor {
  float: left;
}
.flow article .post-item-hor .post-item__text-wrap {
  padding-top: 0;
}
.flow article .post-item-hor h5 {
  font-size: 18px;
}

.post-item__image-wrap {
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-image: url(../img/noimage.png);
  background-position: center center;
}

.post-item__image-wrap img {
  width: 100%;
}

.post-item__image-wrap .post__stats-indicator {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.post__section-label {
  background-color: #377fe5;
  color: #fff;
  min-width: 85px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  padding: 0 20px;
}

/*.post__section-label--featured {}*/
.post-item__image-wrap .post__section-label {
  position: absolute;
  top: 20px;
  left: 0;
}

.post-item__text-wrap {
  padding: 20px 15px;
}

.post-item__date {
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.post-item__link {
  display: block;
  font-size: 20px;
  font-weight: 200;
  color: #011c27;
}
.post-item__link:hover {
  text-decoration: none;
  opacity: 0.8;
}

.post-item__text,
.post-item__title {
  display: block;
}

.post-item__text {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

.post-item__title {
  font-size: 18px;
  font-weight: 400;
  color: #011c27;
}

.post-item__title-bold {
  font-size: 24px;
  font-weight: 600;
}

.post-item--ofelima .post-item__image-wrap {
  height: 110px !important;
  overflow: hidden !important;
}

.post-item--ofelima .post-item__date {
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
}

.post-item--ofelima .post-item__title {
  font-size: 16px;
  line-height: 1.25em;
  color: #fff;
  margin-bottom: 15px;
}

.post-item--ofelima .post-item__text {
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 200;
  color: #fff;
  margin-bottom: 20px;
}

.post-item--categorized .post-item__title {
  font-size: 16px;
  color: #011c27;
  margin: 0 0 20px;
}

.post-item--categorized .post-item__text {
  font-weight: 400;
  font-size: 13px;
  color: #011c27;
}

.post-item--categorized.post-item--featured .post-item__title {
  font-size: 20px;
}

.post-item--categorized.post-item--featured .post-item__text {
  font-size: 14px;
}

/*--------------------------------*\
             $Lists
\*--------------------------------*/
.posted-items-list {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  border-bottom: 1px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.posted-items-list__item {
  display: block;
  padding: 10px 0 5px 0;
}
.posted-items-list__item span.posted-at {
  float: right;
}

.posted-items-list a {
  color: inherit;
}

.posted-items-list--ofelima {
  padding-top: 0;
  border-bottom: none;
}

.posted-items-list--categorized .posted-items-list__item + .posted-items-list__item,
.posted-items-list--ofelima .posted-items-list__item + .posted-items-list__item {
  border-top-width: 0px;
}

.posted-items-list--categorized .posted-items-list__item a {
  color: #011c27;
}

.posted-items-list--ofelima .posted-items-list__item a {
  color: #fff;
}

.posted-items-list--categorized .posted-items-list__item,
.posted-items-list--ofelima .posted-items-list__item {
  padding: 15px 0;
  border: 0px solid #dedede;
  border: 0px solid rgba(222, 222, 222, 0.2);
  border-top-width: 1px;
  border-bottom-width: 1px;
  font-weight: 600;
}

.posted-items-list--categorized {
  border-bottom-width: 0;
}

.posted-items-list--categorized .posted-items-list__item {
  border-color: #e5e5e5;
}

.posted-items-list--comments {
  font-size: 14px;
  font-weight: 400;
}

.posted-items-list--feed .posted-items-list__item {
  padding-left: 20px;
  position: relative;
  font-size: 0.9em;
}

.posted-items-list--feed .posted-items-list__item:before,
.posted-items-list--feed .posted-items-list__item:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
}

.posted-items-list--feed .posted-items-list__item:before {
  width: 10px;
  height: 10px;
  background-color: #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  top: 15px;
}

.sidebar-inside .posted-items-list--feed .posted-items-list__item:before {
  background-color: #011c27;
}

.sidebar-inside .tabs {
  margin: 20px 0;
}

.posted-items-list--feed .posted-items-list__item:after {
  height: 100%;
  border-right: 1px solid;
  left: 4px;
  top: 15px;
}

.posted-items-list--feed .posted-items-list__item:last-child:after {
  display: none;
}

/*--------------------------------*\
            $Nav $Tabs
\*--------------------------------*/
.nav-tabs--plain {
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-tabs--plain > li {
  padding: 0 5px 0 0;
}
.nav-tabs--plain > li a {
  margin-right: 0;
  color: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

.background--white .nav-tabs--plain {
  border-bottom: 1px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.background--white .nav-tabs--plain > li > a {
  color: #a7a7a7;
}

.nav-tabs--plain > li + li > a {
  margin-left: 20px;
}

.nav-tabs--plain > li.active > a,
.nav-tabs--plain > li.active > a:focus,
.nav-tabs--plain > li.active > a:hover {
  background: none;
  background-color: inherit;
  color: #377fe5;
  border: 0px solid #377fe5;
  border-bottom-width: 5px;
}

.nav-tabs--plain > li > a:hover,
.nav-tabs--plain > li > a:focus {
  background: none;
  background-color: inherit;
}

/*--------------------------------*\
        $Section $Titles
\*--------------------------------*/
.section-title--blue {
  color: #28587b;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2em;
  display: inline-block;
  border-bottom: 5px solid #28587b;
  margin-top: 0;
}

.section-title--light-blue {
  line-height: 1.2em;
  display: inline-block;
  color: #2e6dc5;
}

.section-title--white {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.section-title--with-border {
  border-bottom: 1px solid #dedede;
  position: relative;
  color: #fff;
  font-weight: 600;
  text-align: center;
  display: block;
  line-height: 1em;
  margin: 0 auto;
  max-width: 1140px;
}

.section-title--with-border .title__text {
  background-color: #2e3132;
  position: relative;
  display: inline-block;
}

.section-title--with-border--primary .title__text {
  padding: 0 30px;
  bottom: -24px;
}

.section-title--with-border--secondary .title__text {
  padding: 0 15px;
  bottom: -12px;
}

.section-title--with-border--primary {
  border-bottom: 1px solid #dedede;
  border-bottom: 1px solid rgba(222, 222, 222, 0.3);
  font-size: 48px;
  margin-bottom: 50px;
}

.section-title--with-border--secondary {
  font-size: 24px;
  margin-bottom: 40px;
}

.section-title--ofelima {
  margin-top: 10px;
  margin-bottom: 35px;
}

.section-title--categories {
  margin-bottom: 0;
}

.section-title--secondary {
  font-size: 16px;
  font-weight: 700;
}

.section-title--secondary {
  border-bottom: none;
}

/*--------------------------------*\
           $Video wall
\*--------------------------------*/
.video-section .widget-section {
  margin: 0;
}
.video-section .widget-section ul {
  height: 680px;
}

.video-wall {
  background-color: #e7e7e7;
  padding: 20px 25px;
}
.video-wall .video-post {
  height: 135px;
  overflow: hidden;
  position: relative;
}
.video-wall .overlay-play i {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 3em;
  position: absolute;
  top: 50%;
  margin: -20px 0 0 -20px;
  left: 50%;
  opacity: 0.7;
}

.video-wrap--featured {
  margin-bottom: 10px;
}
.video-wrap--featured h2 {
  position: absolute;
  font-size: 0.9em;
  color: #fff;
  padding: 20px;
  text-shadow: 1px 1px #000;
}

.video-wall img {
  width: 100%;
}

/*--------------------------------*\
           $Book $Shelf
\*--------------------------------*/
.book-shelf {
  background: white url(../img/book-shelf.png) no-repeat center 90%;
  padding-bottom: 60px;
  /* The controlsy */
  /* The indicators */
  /* The colour of the indicators */
}
.book-shelf .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
.book-shelf .carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.book-shelf .carousel-control.right {
  right: -12px;
  left: auto;
}
.book-shelf .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
.book-shelf .carousel-indicators li {
  background: #cecece;
}
.book-shelf .carousel-indicators .active {
  background: #428bca;
}
.book-shelf .thumbnail {
  background: transparent;
  border: none;
  height: 280px;
  position: relative;
  text-align: center;
}
.book-shelf .thumbnail img {
  position: absolute;
  bottom: 0;
}

/*--------------------------------*\
            $Footer
\*--------------------------------*/
.footer-copyright-block {
  padding-top: 30px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}

.footer-copyright-block a {
  color: #fff;
}

.tab-content {
  overflow: auto;
  padding: 10px 20px 0 0;
}
.tab-content.tab-content-sm {
  height: auto !important;
}

.posted-at {
  color: #377fe5;
  display: inline-block;
}

footer {
  padding: 20px 0;
}
footer p {
  padding: 10px 0;
  font-weight: 300;
}
footer a {
  color: #fff !important;
}
footer .links {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
}
footer .links li {
  line-height: 3em;
  font-weight: 300;
}
footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .copyright p {
  font-size: 0.8em;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul.social {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul.social li {
  display: inline-block;
  margin-right: 10px;
}
footer h3 {
  font-size: 1.4em;
  font-weight: 300;
}
footer .gbsearch {
  margin-bottom: 20px;
}

body.single-post .page-category-title {
  text-align: center;
  display: block;
}

.page-category-title {
  font-size: 3em;
  font-weight: 600;
  position: relative;
  z-index: 50;
  padding: 0 20px 20px 20px;
  background: #011c27;
  display: inline-block;
}
.page-category-title.article-page {
  padding: 0;
}

.main-story {
  margin: -40px 0 0;
}
.main-story .post-image__wrap {
  height: 350px;
  overflow: hidden;
}
.main-story img {
  position: relative;
  width: 100%;
}
.main-story .post__stats-indicator {
  position: absolute;
  bottom: 160px;
  right: 15px;
}
.main-story .caption {
  background: #fff;
  color: #377fe5;
  display: inline-block;
  position: relative;
  min-height: 135px;
  top: 0;
  padding: 20px;
  width: 100%;
  border-bottom: 15px solid #377fe5;
}
.main-story .caption h2 {
  margin: 0 0 10px 0;
  font-size: 1.8em;
}
.main-story .caption p {
  color: #000;
}

.last-column {
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  .last-column {
    margin-top: -20px;
  }
}
.last-column .tabpanel {
  margin: 20px 0;
}
.last-column h3.section-title {
  margin: 20px 0;
}

h2.section-title {
  margin: 0 0 20px 0;
  font-size: 2em;
}

h1.section-line-title, h2.section-line-title {
  position: relative;
  text-align: center;
  margin-bottom: 35px;
  width: 100%;
}
h1.section-line-title.page-category-title:before, h2.section-line-title.page-category-title:before {
  border-color: #fff;
}
h1.section-line-title.page-category-title span, h2.section-line-title.page-category-title span {
  background: #011c27;
}
h1.section-line-title:before, h2.section-line-title:before {
  content: "";
  display: block;
  border-top: solid 1px #011c27;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
h1.section-line-title span, h2.section-line-title span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}

h3.section-title {
  margin: 10px 0 20px 0;
  font-size: 1.4em;
}

.article-main h2.article-title {
  font-size: 2em;
}
.article-main p.excerpt {
  font-size: 1.2em;
  margin: 30px 0;
}
.article-main .article-image {
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
.article-main .article-image img {
  margin: 0 auto;
  width: 100%;
}
.article-main .article-text {
  width: 100%;
  padding: 0;
}
.article-main .article-text p {
  line-height: 1.6em !important;
  margin: 0 0 10px 0;
}
.article-main .article-text p:empty {
  display: none;
}
.article-main .article-text p img.aligncenter {
  display: block;
  margin: 20px auto;
}
.article-main .article-text p img {
  max-width: 100%;
  height: auto;
}
.article-main .article-text span {
  line-height: 1.6em !important;
}
.article-main .article-text span, .article-main .article-text p, .article-main .article-text b, .article-main .article-text li {
  font-family: inherit !important;
  color: #000 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  font-style: normal !important;
}

.article-details {
  border-top: 3px solid #377fe5;
  border-bottom: 1px solid #377fe5;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;
  float: left;
}
.article-details h3 {
  font-size: 1.2em;
  margin: 10px 0;
}
.article-details p.article-date {
  font-size: 0.9em !important;
  color: #ccc !important;
  float: left;
}
.article-details .fb-like {
  display: block;
  margin-bottom: 10px;
  float: right;
}
.article-details.bottom .fb-like {
  float: left;
  margin: 0 0 10px 0;
}
.article-details .addthis_toolbox {
  float: right;
  position: relative;
}

.widget-section {
  margin: 15px 0 0 0;
}
.widget-section h2 {
  background-color: #011c27;
  color: #fff;
  margin: 0;
  line-height: 40px;
  padding: 0 10px;
  font-size: 1.2em;
}
.widget-section h2 i {
  margin: 0 10px 0 0;
}
.widget-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-section ul li {
  padding: 10px;
  line-height: 100%;
  border-bottom: 1px solid #ebebeb;
}
.widget-section ul li h5 {
  font-size: 14px;
  margin-bottom: 5px;
}
.widget-section ul li h5 a {
  color: #011c27;
  font-weight: 400;
}
.widget-section ul li p a, .widget-section ul li p span {
  font-size: 12px;
}
.widget-section ul li .date {
  color: #ccc;
}
.widget-section ul li p.cat {
  background-color: #377fe5;
  color: #fff;
  font-size: 9px;
  padding: 3px;
  display: inline-block;
  margin: 0;
}

.below-article-main h3.section-title {
  margin: 20px 0;
  font-size: 16px;
}
.below-article-main .post-item-hor {
  margin: 0;
}
.below-article-main .post-item-hor .post-item__text-wrap {
  padding: 0 10px;
}
.below-article-main .post-item-hor h5 {
  font-size: 14px;
}
@media (min-width: 1200px) {
  .below-article-main .col-md-3 .post-item__image-wrap {
    height: 60px;
    overflow: hidden;
  }
}
.below-article-main .col-md-3 h5 {
  font-size: 12px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .below-article-main .col-md-4 .post-item__image-wrap {
    height: 180px;
    overflow: hidden;
  }
  .below-article-main .col-md-5 .post-item__image-wrap {
    height: 240px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .categoryPosts .post-item__image-wrap {
    height: 180px;
    overflow: hidden;
  }
  .categoryPosts .col-md-8 .col-md-4 .post-item__image-wrap {
    height: 120px;
  }
}
.categoryPosts .row {
  margin: 0;
}

.singlePost h3 {
  color: #011c27;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .category-main .col-md-6 .post-item__image-wrap {
    height: 300px;
    overflow: hidden;
  }
}

a {
  color: #377fe5;
}

.btn-blogview {
  width: 100%;
  background: #011c27;
  border-radius: 0;
  margin-top: 20px;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.btn-blogview:hover {
  color: #fff;
}
