html {
    width: auto!important;
    overflow-x: initial!important;
}

html.ra1-pw-mobile {
    position: static!important
}

body {
    width: auto!important;
    overflow-x: hidden!important;
    -webkit-overflow-scrolling: touch;
    font-family: "Microsoft JhengHei",微軟正黑體,Arial,Tahoma,Century\ gothic,sans-serif!important;
}

h1, h2, h4, h5, h6, .total-comments, #header_area {
    font-family: "Microsoft JhengHei",微軟正黑體,Arial,Tahoma,Century\ gothic,sans-serif!important
}

#header {
    margin: 10px auto 0
}

.below-title-container {
    margin-bottom:5px;
}

.single article header {
    margin-bottom:0px;
}

.title a {
    color: #e03f00
}

nav a#pull {
color:#fff!important;
}

p {
    margin: 10px 0
}

h3 {
    font-family: "Microsoft JhengHei",微軟正黑體,Arial,Tahoma,Century\ gothic,sans-serif!important;
    font-size: 18px;
    color: #000!important;
    font-weight: bold!important;
}

h2.title.front-view-title {
    font-weight:normal!important;
}

.bottom-email-subscribe {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: 1px solid #ea1d14;
    text-align: center;
}

.bottom-email-subscribe h2 {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.bottom-email-subscribe h3 {
    color: #fff;
    font-size: 18px;
}

.scroll-trigger-text {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
    padding: 10px 0 10px 10px!important;
    font-weight: bold;
    text-shadow: none;
    font-family: "Microsoft JhengHei",微軟正黑體,Arial,Tahoma,Century\ gothic,sans-serif!important;
}

.scroll-triggered-box .fb-like,.snp-content-inner .fb-like {
    width: 44px!important
}

.ad-inserter {
    clear:both;
}

#infscr-loading {
  text-align: center;
  margin: 10px 0px; 
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.snp-pop-108491 .snp-theme-html {
overflow:hidden;
}

#modal1 form {
    width: auto!important
}

.hoverable:hover {
    opacity: .7;
    cursor: pointer;
}

.mc4wp-form input[type="submit"] {
    font-size: 20px!important;
    color: #fff!important;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
}

.mobile-fb-like-box {
    margin-bottom: 7px;
    clear: both;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
}

.desktop-fb-like-box {
    float: left;
    color: #e03f00;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    width: 132px;
    border: 0 solid #09c;
    padding: 0;
    margin-right: 3px;
}

.mobile-join-fb-text {
    color: #000;
    margin-top: 13px;
    margin-right: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    width: 155px;
    border: 0 solid #09c;
    padding: 0;
}

.mobile-fb-like {
    display: inline!important;
    margin-left: 0;
}

.post-single-content {
    color:#000;
}

.post-single-content p, .widget ul li, .post-single-content {
    font-size: 18px!important
}

.post-single-content div {
    font-size: 18px;
}

.post-single-content h2 {
    border-bottom: 0!important;
    color: #000;
    font-weight: bold;
}

#widget_recent_entries>h3 {
    margin-bottom: 0!important
}

.widget ul li {
    font-size: 1.2em!important;
    line-height: 1.3em!important;
    border-bottom: 0;
    margin-bottom: 0;
}

.widget .meta {
    display: none
}

.textwidget {
    text-align: center
}

.postsby {
    font-size: 23px!important;
    border-bottom: 0;
    font-weight: bold;
    padding-bottom: 0;
    padding-left: 10px;
    margin-bottom:0px;
    color:#3e3e3e;
}

.post-nav-block {
    clear: both;
    width: 100%;
    margin: 0 auto 8px;
    overflow: auto;
    padding-top: 0;
}

.post-nav-button a {
    border-radius: 5px;
    color: #fff!important;
    padding: 6px 24px!important;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    background-color: #e03f00;
}

.post-nav-button a:hover {
    opacity: .7
}

.post-single-content p[style*="left"] a {
    color: #e03f00
}

.source-link {
    color: #aaa!important
}

.post-single-content p[style*="center"] a, .post-single-content div[style*="center"] a {

}

#wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
    height:16px!important;
}

.imageAttr a {
    padding: 0;
    color: #999;
    font-size: 10px;
    font-style: italic;
    display: block;
    margin-top: -5px;
}

div[style*="center"] div>a {

}

.post-single-content img {
    width: 100%!important
}

img.wp-user-avatar {
    margin-top:0px!important;
}

.author-box {
    padding:10px 0px;
    padding:0px;
    overflow:hidden;
    font-size:14px;
    display:block;
}

.author-image {
    display:inline-block;width:60px;vertical-align:top;
}

.author-link {
    vertical-align:top;width:88%;margin-left:5px;display:inline-block;
}

.author-link a {
    color:#e03f00!important;
    font-weight:bold;
}

.author-description {
    font-size:14px;
    line-height:18px;
}

img.wp-smiley {
    width: auto!important
}

.pagination {
    float: none!important
}

#simple-pagination {
    border-radius: 3px!important;
    padding: 8px!important;
    text-align: center;
}

div.pagination a {
    background-image: none!important;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.2)!important;
    box-shadow: 0 0 0 0 rgba(0,0,0,.2)!important;
    border-top: 0!important;
}

.nav-previous a, .nav-next a {
    color: #fff!important
}

div.pagination span.pages {
    -webkit-box-shadow: 0 0 0 1px #e5e5e5!important;
    box-shadow: 0 0 0 1px #e5e5e5!important;
    background-image: none!important;
    border-top: 0!important;
}

#tips li {
    float: none!important;
    padding: 0!important;
}

.fixedbar {
    background: none!important
}

li#popularitypostswidget ul li {
    margin-left: 0!important
}

li#popularitypostswidget h3 {
    font-weight: bold
}

.sidebar h3 {
    font-size: 17px;
    font-weight: bold;
}

.fb_iframe_widget {
    /*vertical-align: top!important;
    width: auto!important;*/
}

.top-right-fb-like-button {
    display: inline-block!important;
    margin-top: 40px;
    transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    -moz-transform: scale(2.5);
    transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
}

.post-bot-fb {
    background-color: #54699b;
    display: inline-block;
    padding: 6px 0 0 0;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    height: 40px;
}

.post-bot-fb-text {
    vertical-align: top;
    color: #fff;
    margin-left: 20px;
    font-size: 28px;
    text-shadow: -4px 3px #313131;
    position: relative;
    top: 4px;
    display:inline-block;
}

.post-bot-fb-text > font {
    position:relative;
    top:-10px;
}

.post-bot-fb-f {
    width: 20px
}

.markerly-share-markerly {
    display: none!important
}

.markerly-image-wrapper {
    padding: 10px!important
}

.top-ad-menu a {
    display: block;
    padding: 4px 0;
    /*background-color: #e03f00;*/
    color: #e03f00;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 7px;
    text-align: center;
    width: 100%;
}

.top-ad-menu-2 {
    display:none;
}

.top-ad-menu-2 a {
    display:block;
    padding: 10px 0px;
    background-color: #e03f00;
    font-weight: bold;
    margin-bottom: 7px;
    text-align: center;
    /*width:94.5%;*/
    font-size:20px;
    text-align: center;
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
    display: block;
    box-sizing: border-box;
}

.top-ad-menu-2 .top-ad-menu-text {
    text-align:left;margin-left:10px;width:70%;display:inline-block;vertical-align:top;
    position:relative;
    top:2px;
    color:#fff;
}

.mobile-top-link {
    /*background-color:#e03f00;*/
    padding:14px 5px!important;
    /*color:#fff!important;*/
    background-color:#fff;
    color:#e03f00
}

.teepr-pix-link {
    display:none;
    margin:10px 0px;
}

.teepr-pix-link img {
    border-radius:2px;
}

.twitter-tweet {
    margin:10px auto;
}

.post-pagination {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.post-pagination a span.prev-page {
    background-color: #e03f00;
    display: inline-block;
    color: #fff;
    padding: 8px 14px;
    left: 0;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.post-pagination a span.next-page {
    background-color: #e03f00;
    display: inline-block;
    color: #fff;
    padding: 8px 14px;
    right: 0;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.below-post-notice {
    padding: 5px 10px;
    background-color: #f5f5f5;
    margin: 10px 0px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.post-page-number {
    display: inline-block;
    margin-top: 8px;
    font-size: 16px;
    color: #000;
}

.powered_by_pb a img {
    width: auto!important
}

.no-results h2 {
    font-size: 18px;
    padding-left: 10px;
    margin: 20px 0;
    color: #000;
}

.wp-polls {
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.wp-polls-ul {
    margin: 10px 0 0 0
}

.wp-polls h3 {
    font-size:24px!important;
}

.wp-polls .Buttons {
    padding:5px 10px;
}

.pb_top_content_container {
    padding-bottom: 0!important
}

.pb_top_content_container {
    padding-bottom: 0!important
}

.feed_main_section {
    margin-top: 0!important
}

.side-fb-share:hover {
    cursor: pointer;
    opacity: .7;
    display: block;
}

.floating-share {
    position: fixed;
    top: 40%;
    left: auto;
    display: block;
    margin: 0 0 0 -82px;
    background-color: #fff;
    padding: 10px;
    overflow: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bot-sticky-wrapper {
    display:none;
    z-index:1000;
}

.bot-sticky-share {
    position: fixed;
    bottom: 60px;
    /*z-index: 1000000;*/
    width: 100%;
    text-align: center;
}

.sticky-fb-share, .sticky-line-share {
    display:inline-block;
    padding:0 5px;
}

.sticky-fb-share, .sticky-fb-share img, .sticky-line-share, .sticky-line-share img, .bot-email, .bot-email img {
    width:34px!important;
    height:34px!important;
}

.bot-sticky-ad {
    position: fixed;
    bottom: 0px;
    z-index: 1000000;
    width: 100%;
    text-align: center;
}

.fb-comments {
    margin: 10px auto
}

.top-fb-like {
    width: 37px;
    vertical-align: top;
    display: inline-block;
}

.sm-screen {
    width: 300px;
    height: 250px;
}

.md-screen {
    width: 336px;
    height: 280px;
}

.share-wrapper {
    border: 0 solid #09c;
    padding: 0;
    width: 100%;
    float: left;
    margin-top: 0;
    margin-bottom: 5px;
}

.share-inner-wrapper {
    float: left;
    color: #09c;
    margin-top: 0;
    margin-right: 0;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}

#adsbro_article_top li h2 a, #adsbro_article_bottom li h2 a, #adsbro_article_right li h2 a, #article_260280 li h2 a {
    color: #e03f00!important
}

#adsbro_article_top li .ysmlink, #adsbro_article_bottom li .ysmlink, #adsbro_article_right li .ysmlink, #article_260280 li .ysmlink {
    color: #000!important
}

.broken_link, a.broken_link {
    text-decoration: none!important
}

.bot-ad-wrapper {
    clear: both;
    /*margin-bottom: 10px;*/
    text-align: center;
}

.bot-left-ad {
    float: left;
    display: inline-block;
}

.inline-block {
    display: inline-block
}

#top-navigation {
    background-color: #f5f5f5;
    background-image: none;
    box-shadow: none;
    /*border-bottom:1px solid #e03f00!important;*/
}

#top-navigation .menu li a {
    border-right: 0;
    font-family: "Microsoft JhengHei",微軟正黑體,Arial,Tahoma,Century\ gothic,sans-serif!important;
    color:#3e3e3e!important;
}

.mobile-menu #top-navigation .menu li a {
    color:#3e3e3e!important;
}

nav a#pull {
    color:#3e3e3e!important;
}

#top-navigation .menu li a:hover {
    color: #000!important
}

.secondary-navigation {
    box-shadow: none;
    margin-top: 12px;
}

.secondary-navigation a {
    /*padding: 15px;*/
    padding: 14px 9px;
}

.secondary-navigation .menu {
    background-color: #f5f5f5;
}

.secondary-navigation .menu a {
    color: #000;
    border-right: 0;
}

.main-container {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0;
    width: 1120px;
}

#page, .container {
    width: 1120px
}

#WFItem10125305.wf-formTpl {
    width: auto!important
}

#sidebars {
    max-width: 100%
}

#content {
    border-right: 0
}

body.home #content_box article.latestPost:hover, .archive article:hover {
    background-color: #efefef
}

.nsfw {
    display: none
}

.nsfw-button {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 5px;
    line-height: 24px;
    display: inline-block;
    margin: 10px;
    border: 5px solid #efefef;
}

#addtofeedly .customtext {
    font-size: 18px!important;
    line-height: 24px;
    font-family: "Microsoft JhengHei",微軟正黑體,Arial,Tahoma,Century\ gothic,sans-serif!important;
    color: #868686!important;
}

.secondary-navigation .sub-menu li, .secondary-navigation .children li {
    background-color: #e4e4e4
}

.darla {
    margin: 0 auto
}

.post_box {
    padding-bottom: 0;
    margin-bottom: 0;
    background: none;
}

.sidebar .wp-post-image {
    margin-bottom: 5px
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget {
    top: 15px!important;
    left: -250px!important;
}

.fb-like span {
    overflow: visible!important;
    /*width: 450px!important;
    margin-right: -375px;*/
}

#vdsShare2 {
    margin-right: 2px
}

.headline_meta {
    display: inline-block;
    margin-bottom: 0;
}

h1.title {
    margin-bottom: 5px;
    float: none;
    color:#000;
}

.thetime {
    float: none;
    background: none;
    font-size: 10px;
    color: #cbcbcb;
    padding: 0 0 0 2px!important;
    margin-bottom: 4px;
    vertical-align:top;
    display:inline-block;
}

.thecategory {
    padding: 1px 7px 1px 7px;
    background-color: #efefef;
    margin-right: 5px!important;
    background-image: none;
    display:inline-block;
}

.bottom-categories {
    display:none;
}

.widget ul li {
    margin-left: 0
}

.widget {
    margin-bottom: 10px
}

.content_box .social-overlay {
    position: absolute;
    top: 0;
    left: -5px;
}

.wp-post-image {
    width: 100%;
    margin: 0;
}

.headline_area h2 {
    margin-bottom: 4px
}

.google-mobile-native-ads {
    display:none!important;
}

.stb-container {
    top: 36%!important
}

#stb-40501 {
    height: 170px
}

.related-posts {
    padding: 0 0 15px;
    text-align: center;
    clear: both;
    margin-top: 0;
    background: none;
}

.related-posts h3 {
    text-align: left;
    background-color: #000;
    padding: 3px 0 3px 5px;
    color: #fff!important;
}

.related-posts a {
    font-size: 18px
}

.relatedthumb img {
    margin-bottom: 6px
}

.relatedthumb {
    display:inline-block;
}

.related-posts-div {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin: 0 5px 5px;
    text-align: left;
}

.related-posts-div a {
    font-size:18px;
    color:#777;
}

.related-title {

}

.crp_related {
clear:both;
}

.crp_related h3 {
    padding:3px 0 3px 10px;
    background-color:#000;
    color:#fff!important;
}

img.crp_thumb {
width:100%;
}

.crp_title {
display:block;
}

.footer-text {
    display: inline-block;
    margin-right: 10px;
}

.menu a {
    font-size: 15px
}

.last {
    margin-right: 0
}

.embed-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-wrap {
    margin: 0
}

.latestPost {
    background: none;
    float: none;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.latestPost .title {
    margin-bottom: 5px
}

article header {
    margin-bottom: 0
}

.post-info {
    margin-bottom: 0;
    text-align:left;
}

div.pagination span.current, div.pagination span.current:hover, div.pagination a, div.pagination a:hover {
    float: none
}

.pagination a {
    line-height: 2.1!important
}

div.pagination a:hover, div.pagination a:focus {
    margin: 0;
    background-color: #cbcbcb!important;
}

.post-info span {
    vertical-align: top;
    display: inline-block;
}

#top-navigation .menu>li:first-child a {
    border-left: 0!important
}

#top-navigation .menu>li a {
    font-size:14px;
}

.navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited {
    border-right: 0!important;
    font-size: 16px;
}

nav#navigation {
    background-color: #f5f5f5;
}

.navigation ul ul a, .navigation ul ul a:link {
    color: #000!important
}

.navigation ul .menu-item-has-children:after {
    color: #000;
    top: 16px;
}

.secondary-navigation .navigation ul ul li:first-child a {
    border-bottom: 1px solid rgba(0,0,0,.25)
}

#sidebars .wp-post-image {
    margin-bottom: 6px
}

.language-switch-wrapper {
    padding:2px 5px;display:inline-block;vertical-align:top;background-color:#efefef;color:#000;
    margin-left:5px;font-size:12px;
}

.language-switch-wrapper-index {
    padding: 10px;
    background-color: #f5f5f5;
    margin: 10px 0 0 10px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    font-size:17px;
}

#wpcc_widget_inner,.wpcc_link {
    display:inline-block!important;
    position:relative;
}

#ysm_above_title li h2 a {
    color:#e03f00!important;
}

#ysm_above_title .ysmlink {
    color:#3e3e3e!important;
}

/*#mobile-menu-wrapper {
    z-index: 1000000;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
}*/

.mobile-menu-active .main-container-wrap {
        z-index: 1000000;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
}

.single_page header {
    margin-bottom: 0
}

.single_page .post-content {
    padding-top: 0
}

.single_page h1 {
    font-weight: bold;
    color: #000;
}

.single_page hr {
    width: 100%
}

.info-box {
    background-color: #f5f5f5;
    padding: 10px;
}

.tc {
    text-align: center
}

.article, .sidebar.c-4-12 {
    padding-top:15px;
}

.article img.aligncenter, .article img.alignnone {
    margin-bottom:0px;
    margin-top:0px;
}

.wp-polls .pollbar {
    background-image:none;
    background-color:#e03f00;
}

.wp-polls-ul {
    margin:10px 20px!important;
}

wp-polls h3 {
    font-size:24px!important;
}

#menu-item-1352 a {
    font-weight: bold!important
}

#navigation .menu li, .total-comments {
    font-family: "Microsoft JhengHei",微軟正黑體,Arial,Tahoma,Century\ gothic,sans-serif!important
}

.top-nav-logo {
    display: none;
    width: 120px;
    left: 52px;
    position: absolute;
    top: 8px;
    z-index: 1;
}

#menu-primary-menu {
    z-index: 1000
}

.goog-te-gadget {
    display: none
}

.prisna-gwt-flag-container a:hover {
    opacity: .6
}

#header #searchform {
    min-width: 390px
}

.header-fb-like {
    float: right;
    padding: 15px;
    margin: 15px 0 15px 15px;
    background-color: #f5f5f5;
    width: 33%;
    text-align: center;
    float: left;
}

.header-fb-box-text {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.top-search-form {
    float: left;
    display: inline-block;
    width: 42%;
}

#header #searchform {
    width: 95%
}

.post-single-content h1, .post-single-content h2, .post-single-content h3, .post-single-content h4, .post-single-content h5, .post-single-content h6 {
    text-transform: none
}

.right-fb-like-box {
    background: #f5f5f5;
    color: #000;
    padding: 10px;
    text-align: center;
}

.sidebar.c-4-12, .main-container {
    background-color: #fff
}

.sidebar.c-4-12 {
    border-left: 0 solid #fff
}

.article:after {
    background-color: #fff
}

#mts_recent_posts_widget-2 .widget-title, #facebook-like-widget-2 .widget-title {
    background-color: #000;
    padding: 3px 0 3px 5px;
    color: #fff!important;
    margin-bottom: 5px;
}

#facebook-like-widget-2 {
    text-align: left;
}

.sidebar a {
    color: #e03f00;
    font-size: 20px;
}

.stb-close {
    opacity: 1;
    color: #000;
    border-radius: 13px;
    background-color: #cbcbcb;
    padding: 0 1px 2px 2px;
}

.mid-post-ad {
    text-align: center;
    margin: 5px auto;
    padding:10px 0px 20px;background-color:#f5f5f5;
}

.mid-post-ad-text {
    text-align:center;font-size:14px!important;color:#aaa;padding-bottom:3px;font-weight:900;
}

#WFItem10125305 {
    border: 1px solid #cbcbcb
}

#WFItem10125305 input[type="submit"] {
    font-family: "Microsoft JhengHei",微軟正黑體,Arial,Tahoma,Century\ gothic,sans-serif!important
}

.error-page #searchform {
    max-width: 100%
}

#text-27 {
    background-color: #f5f5f5;
    z-index: 20;
}

#text-27 iframe {
    width:100%!important;
}


.youtube-sub-box {
    text-align: center;
    background-color: #f5f5f5;
    padding: 5px;
    margin-top: -5px;
    font-size:12px;
}

.line-subscribe {
    background-color: #2bc701;
    text-align: center;
    padding: 9px 0 0;
    margin-bottom: 5px;
    border-radius: 3px;
    display: none;
}

.line-subscribe:hover {
    opacity: .7
}

.line-subscribe-text {
    color: #fff;
    margin-left: 6px;
    vertical-align: top;
    font-size: 18px;
    position: relative;
    top: 2px;
    display:inline-block;
}

.top-line-subscribe {
width:98%;margin:0 auto;padding:4px 0 2px;height:30px;
}

.line-share-wrapper {
    width: 38%;
    background-color: #2bc701;
    text-align: center;
    padding: 9px 0 6px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    display: none;
}

.line-share-wrapper:hover {
    opacity: .7
}

.line-share-text {
    color: #fff;
    margin-left: 6px;
    vertical-align: top;
    position: relative;
    top: 2px;
    font-size: 28px;
    text-shadow: -3px 2px #313131;
}

.smaato_close {
/*    top:-8px!important;
    right:-8px!important;*/
    top: -36px!important;
    /*left: 0px!important;*/
    width: 36px!important;
    line-height: 36px!important;
    border-radius: 3px!important;
    background-color: #fff!important;
    color: #cbcbcb!important;
    font-size: 22px!important;
    box-shadow: 1px 1px 3px #cbcbcb!important;
    -moz-box-shadow: 1px 1px 3px #cbcbcb!important;
    -webkit-box-shadow: 1px 1px 3px #cbcbcb!important;
}

.smaato_modalDialog > div {
    border-radius:0px!important;
}

.smaato_close:hover {
    cursor:pointer;
}

#popmake-103747, #popmake-221028 {
    /*background-color:transparent!important;*/
    /*box-shadow:none!important;*/
    padding:0!important;
}

#popmake-103747 > .popmake-content > p, #popmake-221028 > .popmake-content, #popmake-221028 > .popmake-content > p {
  margin:0px;
}

#popmake-145753 span.popmake-close{
    /*display:none;*/
    left:2px!important;
    top:2px!important;
}

#popmake-145753 .popmake-close:hover {
    cursor:pointer;
}

#popmake-145753 .popmake-content {
    padding-bottom:10px;
}

#popmake-103747 span.popmake-close, #popmake-221028 span.popmake-close{
    /*top:-12px!important;
    left:-10px!important;
    border: 1px solid #868686!important;
    opacity: 0.6!important;
    border-radius:15px!important;
    padding:4px!important;
    z-index:999999;*/
    /*padding:5px!important;*/
    /*border: 2px solid #868686!important;*/
    /*top: -44px!important;*/
    top: -30px!important;
    left: 0px!important;
    width: 36px!important;
    line-height: 36px!important;
    border-radius: 3px!important;
    background-color: #fff!important;
    color: #cbcbcb!important;
    font-size: 14px!important;
    box-shadow: 1px 1px 3px #cbcbcb!important;
    -moz-box-shadow: 1px 1px 3px #cbcbcb!important;
    -webkit-box-shadow: 1px 1px 3px #cbcbcb!important;
}

.adnwBanner {
    margin:0 auto;
}

.affiliate-ad table td {
    padding: 0 0
}

#ajax-load-more {
    text-align: center
}

p.slidertitle {
    margin-top: 0;
    font-size: 22px;
}

ul.flex-direction-nav {
    max-width: 100%
}

.post-infinite-scroll-div {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin: 0 5px 5px;
    text-align: left;
}

.post-infinite-scroll-div:hover a.post-infinite-posts {
    color: #e03f00
}

a.post-infinite-posts {
    color: #868686;
    font-size: 18px;
}

.post-infinite-posts img {
    margin-bottom: 5px
}

.index-right {
    float: right;
    /*width: 27.2%;*/
    width:35%;
}

.index-right-post-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px;
    padding: 10px;
    text-align: left;
}

.index-right-post-wrapper:hover {
    background-color: #efefef
}

.index-right-post .featured-thumbnail {
    display:inline-block; /*new layout*/
    width:40%;
    margin-right:8px;
    overflow:auto;
    vertical-align:top;
}

.index-right-post img {
    margin-bottom: 5px;
}

.index-right-post-title {
    display:inline-block;
    width:56%;
    font-size:16px;
}

.index-right-post-wrapper a {
    color: #868686;
    font-size: 18px;
}

.index-right-post-wrapper a:hover {
    color: #e03f00
}

#topAdBlock {
    text-align: center;
    width: 970px;
    height: 250px;
    margin: 5px auto;
    padding: 5px;
    background-color: #f5f5f5;
}

.below-title-ad-wrapper {
    text-align: center;
/*    width: 468px;
    height: 60px;*/
    display: block;
    margin: 0 auto 10px;
    background-color: #f5f5f5;
    overflow:hidden;
    /*padding: 5px;*/
    text-align: center;
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
    display: block;
    box-sizing: border-box;
}

.below-related-ad {
    display:none!important;
    clear:both;
    margin: 0 auto;
    padding: 10px;
    background-color: #f5f5f5;
    margin: 7px 0px;
}

#page div.article {
    /*width: 72.8%*/
    width:65%;
}

.teepr-mobile-top-responsive {
    width: 970px!important;
    height: 250px!important;
}

.teepr-popup-ad, #popmake-103747 > .popmake-content/*, #popmake-221028 > .popmake-content*/ {
    /*width: 640px!important;
    height: 250px!important;*/
/*    width:970px;
    height:250px;*/
}

.teepr-adsense-popup {
    width:970px;
    height:250px;
}

.teepr-below-title-responsive {
    width: 468px;
    height: 60px;
}

.teepr-middle-responsive {
  width: 336px!important;
  height: 280px!important;
  margin:0 auto;
}

.teepr-middle-responsive-2 {
    width: 300px!important;
  height: 250px!important;
  margin:0 auto;
}

.teepr-middle-responsive-right {
    width:336px!important;
    height:280px!important;
}

.below-title-container-2 {
    margin-bottom:5px;
}

.below-title-container-3 {
    margin:8px 0px;
}

.top-post-ad-text {
    display:none;
    text-align:center;font-size:14px!important;color:#aaa;padding-bottom:3px;font-weight:900;
}

.mobile-top-ad {
    display:none;
    clear:both;
}

.below-post-left {
    width: 336px;
    height: 280px;
}

.desktop-only {
    display: block
}

.mobile-only {
    display: none
}

.small-mobile-only {
    display:none;
}

#content_box article.latestPost {
    margin-bottom: 0;
    width: 46.6%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

#page div.article {
    padding: 10px 0
}

article.latestPost h2.title {
    font-size: 20px;
    text-align:left;
}

.mobile-search-wrapper {
    display:none;
}

.decibo-widget {
    display:none;
    width:100%;height:300px;
    box-shadow: 7px 7px 19px -4px rgba(203,203,203,1);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(203,203,203,1);
    -moz-box-shadow: 7px 7px 19px -4px rgba(203,203,203,1);
    margin:10px 0;
    border:2px solid #d7d7d7;
}

@media screen and (max-width:1140px) { 
    .header-fb-like {
        display:none;
    }

    #header #searchform {
        max-width:auto;
    }

    .top-search-form {
        width: 70%;
        margin-right: 30px;
        float:right
    }

    .navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited {
        font-size:13px;
    }
}

@media screen and (max-width:1000px) { 
    .index-right-post-title {
        width:54%;
    }

    #content_box article.latestPost {
        width:46%;
    }

    .top-search-form {
        width: 62%;
    }
}

@media screen and (max-width:865px) { 
    .secondary-navigation {
        display: none!important
    }

    .teepr-below-title-responsive {
        width: 468px;
        height: 60px;
    }

    .mobile-menu #top-navigation .menu li a {
        font-size: 20px!important
    }
}

@media screen and (max-width:800px) { 
    #header #searchform {
        min-width: 100%
    }

    .header-fb-like {
        display: none
    }

    .bot-left-ad {
        float: none!important
    }

    .related-posts-div {
        width: 30%!important
    }

    .post-infinite-scroll-div {
        width: 30%!important
    }

    .teepr-below-title-responsive {
        width: 468px;
        height: 60px;
    }

    #content_box article.latestPost {
        width: 45%
    }
}

@media screen and (max-width:768px) {
    .navigation ul ul.sub-menu {
        display:none!important;
    }

    #top-navigation {
        background-color: #f5f5f5;
    }

    .author-link {
        width:74%;
    }

    .top-nav-logo {
        display: inline-block
    }

    #header {
        display:none;
    }
    
    .mobile-search-wrapper {
        display:block;
        position:absolute;
        width:100%;
    }
    
    #searchform {
        padding:0px;
    }

    #searchform fieldset {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    #wpcc_widget_inner span a {
        display:inline-block;
        width:auto!important;
    }

    .mobile-language-wrapper {
        display: block;
        padding: 7px 10px;
        box-sizing: border-box;
        background-color: #f5f5f5;
        margin-top: 35px;
    }

    #top-navigation li {
        width:49%!important;
        display:inline-block!important;
    }

    #top-navigation.navigation .menu {
        padding-top:82px;
    }

    .mobile-menu #top-navigation .menu li a {
        font-size:15px!important;
    }

    .top-navigation {
        overflow-y: auto;
    }

    nav#top-navigation {
        overflow:hidden;
    }
}

@media screen and (max-width:728px) { 
    .top-search-form {
        display: none!important
    }

    .secondary-navigation {
        display: none!important
    }

    .header-fb-like {
        display: none
    }

    .teepr-below-title-responsive {
        width: 468px;
        height: 60px;
    }

    .floating-share {
        display: none!important
    }

    .index-right-post-title {
        width:53%;
    }

    .language-switch-wrapper-index {
        font-size:15px;
    }
}

@media screen and (max-width:650px) {
    aside.sidebar {
        display: none;
    }

    .teepr-popup-ad, #popmake-103747 > .popmake-content/*, #popmake-221028 > .popmake-content */{
        /*width: 300px!important;
        height: 250px!important;*/
/*        width:336px!important;
        height:280px!important;*/
        /*max-width:320px!important;*/
    }
}

@media screen and (max-width:640px) { 
    .teepr-popup-ad, #popmake-103747 > .popmake-content/*, #popmake-221028 > .popmake-content */{
        /*width: 300px!important;
        height: 250px!important;*/
/*        width:336px!important;
        height:280px!important;*/
        /*max-width:320px!important;*/
    }

    .teepr-adsense-popup {
        width:336px!important;
        height:280px!important;
    }

    .teepr-pix-link {
        display:block;
    }

    .top-ad-menu-2 {
        display:block;
        margin:10px 0px;
    }

    .below-title-container {
        margin:10px 0px;
    }

    #content_box article.latestPost {
        width: 44%;
    }
}

@media screen and (max-width:603px) { 
    .below-post-right {
        display: none
    }

    #content_box article.latestPost {
        width: 29%
    }

    #top-navigation {
        background-color:#fff;
        border-bottom: 1px solid #cbcbcb!important;
    }

    .mobile-menu #top-navigation .menu li a {
        color:#3e3e3e!important;
    }

    nav a#pull {
        color:#616161!important;
    }

    .floating-share {
        display: none!important
    }

    .teepr-popup-ad, #popmake-103747 > .popmake-content/*, #popmake-221028 > .popmake-content*/ {
        /*width: 300px!important;
        height: 250px!important;*/
/*        width:336px!important;
        height:280px!important;*/
        /*max-width:320px!important;*/
    }

    .teepr-adsense-popup {
        width:336px!important;
        height:280px!important;
    }

    /*.bot-sticky-share, .bot-sticky-ad {
        display: block;
    }*/

    aside.sidebar {
        display: none
    }

    .desktop-only {
        display: none
    }

    #page div.article {
        width: 72.8%
    }

    #content_box article.latestPost {
        width: 44.3%
    }

    .kskdDiv, .kskdFixedBannerContainer {
        display:none!important;
    }

    .post-single-content, article header {
        overflow:visible;
    }

    .post-single-content div > img {
        width: calc(100% + 20px)!important;
        position: relative;
        left: -10px;
        display: block;
        box-sizing: border-box;
        max-width: inherit;
    }

    .mid-post-ad {
        width: calc(100% + 20px)!important;
        position: relative;
        left: -10px;
        display: block;
        box-sizing: border-box;
    }

    .mobile-fb-like-box {
        width: calc(100% + 20px)!important;
        position: relative;
        left: -10px;
        display: block;
        box-sizing: border-box;
    }

    .index-right {
        display:none;
    }

    #page div.article {
        width:100%;
    }

    .decibo-widget {
        display:block;
    }

    #popmake-103747 span.popmake-close, #popmake-221028 span.popmake-close {
        /*width: 15px!important;
        line-height: 15px!important;
        top: -10px!important;
        left: -10px!important;
        border-radius: 10px!important;*/
    }

    .smaato_close {
        width: 13px!important;
        line-height: 13px!important;
        top: -10px!important;
        right: -10px!important;
        border-radius: 10px!important;
        font-size: 16px!important;
        padding: 4px!important;
        color:#000!important;   
        /*top: -20px!important;*/ /* delete after revering back to old */
    }

    /*.related-posts-div{
        width:100%!important;
    }

    .rthumb {
        display: inline-block;
        width: 30%;
        padding-right: 5px;
    }

    .related-title {
        display: inline-block;
        width: 66%;
        vertical-align: top;
    }*/
}

@media screen and (max-width:500px) { /*this is inclusive of 500px */
    .article {
        padding-top:5px;
    }

    .single-title {
        font-size:25px;
    }

    #move-to-top {
        bottom:68px;
        z-index: 9999999;
    }

    #top-navigation {
        background-color:#fff;
        border-bottom: 1px solid #cbcbcb!important;
    }

    .mobile-menu #top-navigation .menu li a {
        color:#3e3e3e!important;
    }

    .top-post-ad-text {
        display:block;
    }

    .below-title-container {
        margin:10px 0px;
    }

    .below-title-container-2 {
        display:none;
        padding:0px 0px 10px;
    }

    .bottom-categories {
        display:inline-block;
        margin-bottom:8px;
    }

    nav a#pull {
        color:#616161!important;
    }

    .secondary-navigation {
        display: none!important
    }

    .mobile-hide {
        display: none!important
    }

    /*.bot-sticky-share, .bot-sticky-ad {
        display: block;
    }*/

    .bot-left-ad {
        float: none!important
    }

    .below-related-ad {
        display:block!important;
    }

    .related-posts-div {
        width: 46%!important
    }

    .post-infinite-scroll-div {
        width: 46%!important
    }

    /*.thetime {
        padding: 0 6px 0 20px!important
    }*/

    .floating-share {
        display: none!important
    }

    .wf-email {
        width: 54%!important
    }

    .wf-inputpos input[type="submit"] {
        font-size: 13px!important;
        padding: 10px!important;
    }

    #topAdBlock {
        text-align: center!important;
/*        width: 336px;
        height: 280px;*/
        margin: 5px auto 5px;
        display: none;
        width:320px;
        height:100px;
        padding:0px;
    }

    .google-mobile-native-ads {
        display:block!important;
        width:320px;
        margin:0 auto;
    }

    .google-desktop-native-ads {
        display:none!important;
    }

    .below-title-ad-wrapper {
        margin:20px auto 10px;
        padding: 10px 0px 20px;
        /*display:none;*/
    }   

    .teepr-below-title-responsive {
        /*width: 320px;
        height: 100px;*/
        width: 336px;
        height: 280px;
    }

    .mobile-top-ad {
        display:block;
        text-align:center;
        margin:10px auto 10px;
        background-color:#f5f5f5;
        width:336px;
        height:280px;
    }

/*    h1.title {
        margin-top:5px;
    }*/

    .teepr-mobile-top-responsive {
/*        width: 336px!important;
        height: 280px!important;*/
        width:320px!important;
        height:100px!important;
    }

    .teepr-middle-responsive-right {
        display:none;
    }

    .teepr-popup-ad, #popmake-103747 > .popmake-content/*, #popmake-221028 > .popmake-content*/ {
        /*width: 300px!important;
        height: 250px!important;*/
/*        width:336px!important;
        height:280px!important;*/
        /*max-width:320px!important;*/
    }

    .teepr-adsense-popup {
        width:336px!important;
        height:280px!important;
    }

    .below-post-left {
        width: 336px;
        height: 280px;
    }

    .desktop-only {
        display: none
    }

    .mobile-only {
        display: block
    }

    #content_box article.latestPost {
        margin-bottom: auto;
        width: auto;
        display: block;
        padding: auto;
        vertical-align: auto;
    }

    #page div.article {
        width: 100%;
        padding: auto;
    }

    article.latestPost h2.title {
        font-size: auto
    }

    .index-right {
        display: none
    }

    .title a {
        color: #555
    }

    p.slidertitle {
        font-size: 16px
    }

    .slider-container {
        display: none
    }

    .line-subscribe {
        display: block
    }

    .post-bot-fb {
        width: 60%;
        height: 38px;
        padding: 7px 0 0 0;
    }

    .line-share-wrapper {
        display: inline-block;
        height: 37px;
        padding: 8px 0 0 0;
    }

    .post-bot-fb-text {
        font-size: 16px;
        margin-left: 8px;
        text-shadow: -2px 2px #313131;
        display:inline-block;
    }

    .post-bot-fb-f {
        width: 16px
    }

    .line-share-text {
        font-size: 16px;
        text-shadow: -2px 2px #313131;
        display:inline-block;
    }

    .mobile-search-wrapper {
        display:block;
        position:absolute;
        width:100%;
    }
    
    #searchform {
        padding:0px;
    }

    #searchform fieldset {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    #wpcc_widget_inner span a {
        display:inline-block;
        width:auto!important;
    }

    .mobile-language-wrapper {
        display: block;
        padding: 7px 10px;
        box-sizing: border-box;
        background-color: #f5f5f5;
        margin-top: 35px;
    }

    /*.related-posts-div{
        width:100%!important;
    }*/
}

@media screen and (max-width:320px) { 
    .post-bot-fb-text {
        font-size: 12px;
        margin-left: 3px;
    }

    .language-switch-wrapper {
        font-size:11px;
    }

    .line-share-text {
        font-size: 12px
    }

    .teepr-popup-ad, #popmake-103747 > .popmake-content/*, #popmake-221028 > .popmake-content*/ {
        /*width: 300px!important;
        height: 250px!important;*/
/*      width:300px!important;
      height:250px!important;*/
      /*max-width:320px!important;*/
    }

    .teepr-adsense-popup {
      width:300px!important;
      height:250px!important;
    }

    .teepr-mobile-top-responsive {
      width: 300px!important;
      height: 250px!important;
/*        width:320px!important;
        height:100px!important;*/
    }

    .below-title-ad-wrapper {
        /*width: 320px;
        height: 100px;
        display: block;*/
        width: 300px;
        height: 250px;
        /*display:none;*/
    }

    .teepr-below-title-responsive {
        /*width: 320px;
        height: 100px;*/
        width: 300px;
        height: 250px;
    }

    .teepr-middle-responsive {
      width: 300px!important;
      height: 250px!important;
    }

    .mobile-top-ad {
        width:300px;
        height:250px;
    }

    #topAdBlock {
      text-align: center!important;
/*      width: 300px;
      height: 250px;*/
      margin: 5px auto 5px;
      padding:0px;
      display: none;
      width:320px;
      height:100px;
    }

    .below-post-left {
      width: 300px!important;
      height: 250px!important;
    }

    .small-mobile-only {
        display:block;
    }
}

@media screen and (max-width:240px) {
    .teepr-below-title-responsive {
        width: 320px;
        height: 100px;
    }

    .below-title-ad-wrapper {
        /*width: 320px;
        height: 100px;
        display:none;*/
    }
}