/*-----------------------------------------------
/* Responsive
/*---------------------------------------------*/
/*.main-container { max-width: 96% }*/
.main-container { max-width: 100% }
#page,
.container { max-width: 100% }
@media screen and (max-width:1230px) { 
	.shareit {
	    position: relative!important;
	    width: 100%!important;
	    top: 0!important;
	    padding-left: 0!important;
	    padding-right: 0!important;
	    margin: 0!important;
	    padding-top: 10px!important;
	    border: none !important;
	}
}
@media screen and (max-width:1055px) { 
	.main-header { width: 96% }
}
@media screen and (max-width:1000px) { 
	#move-to-top {
	    margin-right: 0;
	    right: 5px;
	}
}
@media screen and (max-width:960px) { 
	#top-navigation .container { width: 96% }
	.secondary-navigation { left: 0 }
	img {
	    max-width: 100%;
	    height: auto!important;
	}
	.ad-300 img { max-width: 100% }
	.ad-125 li { max-width: 40% }
	.ad-125 img {
	    padding: 0;
	    background: #FAFAFA;
	    border: 0;
	}
}
@media screen and (max-width:900px) { 
	.widget-header { max-width: 70% }
}
@media screen and (max-width:865px) { 
	footer .container { padding: 0 2% }
	#top-navigation { position: relative; }
	#top-navigation .container { width: 100% }
	.main-container-wrap {
	    -ms-transform: translate(0,0);
	    -webkit-transform: translate(0,0);
	    transform: translate(0,0);
	    -webkit-transition: -webkit-transform 500ms ease;
	    transition: transform 500ms ease;
	
	    margin-top: 0;
}
	#top-navigation {
	    background: none;
	/*    background-color: #283744;*/
			background-color:#ff6123;
	    box-shadow: none;
}
	.mobile-menu #top-navigation li a {
	    background-color: #283744;
	    color: #fff!important;
	    border: none;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
	}
	#top-navigation .menu [class^="icon-"] > a { border-left: 0!important }
	#top-navigation .current-menu-item a { background: transparent }
	#top-navigation.navigation .menu [class^="icon-"]:before,
	#top-navigation.navigation .menu [class*=" icon-"]:before { display: none }
	.secondary-navigation,
	.navigation {
	    border: none !important;
	    background: #222;
	}
	.secondary-navigation {
	    width: 100%;
	    position: relative!important;
	}
	.mobile-menu #top-navigation .menu li a {
	    color: #FFF;
	    padding-left: 0!important;
	    padding-right: 0;
	    background: transparent;
	    font-size: 14px;
	}
	.mobile-menu nav a#pull { display: none }
	.navigation .menu {
	    float: none;
	    background: transparent;
	    display: none;
	}
	.navigation ul ul {
	    display: block!important;
	    visibility: visible!important;
	    opacity: 1!important;
	    position: relative;
	    left: 0!important;
	    border: 0;
	    width: 100%;
	}
	.navigation ul li li {
	    background: transparent;
	    border: 0;
	}
	nav { height: auto }
	.main-container nav ul {
	    width: 100%;
	    display: none;
	    height: auto;
	}
	nav li,
	.navigation ul li li {
	    width: 100%!important;
	    float: left;
	    position: relative;
	    background: transparent!important;
	}
	.navigation ul li:after { display: none }
	#mobile-menu-wrapper ul li a:hover { background: transparent }
	.navigation ul li:before { display: none }
	nav li a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.2)!important;
	    width: 100%!important;
	}
	nav a {
	    text-align: left;
	    width: 100%;
	    text-indent: 25px;
	}
	.secondary-navigation nav a#pull {
		background: #fff;
		color: #555;
	}
	nav a#pull {
	    display: block;
	    width: 100%;
	    position: relative;
	    padding: 10px 0;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	    text-align: right;
	    padding-right: 20px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	nav a#pull:after {
	    content: "\f00b";
	    font-family: fontawesome;
	    display: inline-block;
	    font-size: 18px;
	    position: absolute;
	    left: 0;
	    top: 10px;
	}
	.secondary-navigation .navigation ul .sfHover a,
	.secondary-navigation .navigation ul li:hover,
	.secondary-navigation .navigation ul .sfHover ul li { background: transparent }
	#wpadminbar { top: -32px !important }
}
@media screen and (max-width:782px) { 
	#wpadminbar { top: -46px !important }
}
@media screen and (max-width:728px) { 
	#header h1,
	#header h2,
	.site-description {
	    float: none;
	    text-align: center;
	    width: 100%;
	    max-width: 100%;
	    padding: 0;
	}
	#header h1,
	#header h2 { font-size: 40px }
	.site-description { margin-top: 0 }
	#logo a,
	#logo img {
	    float: none;
	    letter-spacing: 0;
	}
	.logo-wrap {
	    margin-bottom: 10px;
	    margin-top: 0;
	    width: 100%;
	}
	.widget-header {
	    max-width: 100%;
	    float: none;
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	}
	#header #searchform {
	    float: none;
	    display: inline-block;
	    margin: 0;
	}
}
@media screen and (max-width:720px) { 
	.f-widget { width: 48%!important }
	.f-widget-2 { margin-right: 0 }
	#comments { margin-right: 0 }
	.widget-header .textwidget {
	    margin-top: 0;
	    padding-left: 0;
	    border-left: none;
	}
	#sidebars { margin: 0 auto }
}
@media screen and (max-width:650px) { 
	.article { width: 100% }
	.sidebar.c-4-12 {
	    float: left;
	    width: 100%;
	}
}
@media screen and (max-width:600px) { 
	.featured-thumbnail img { width: 100% }
	.single .size-medium,
	.single .size-full { width: 95% }
}
@media screen and (max-width:550px) { 
	.sbutton { float: right }
	.f-widget {
	    width: 100%!important;
	    margin-right: 0;
	}
/*	.article {
	    padding-left: 4%;
	    padding-right: 4%;
	}*/
	#content_box { width: 100% }
	.sidebar.c-4-12 {
	    padding-left: 4%;
	    padding-right: 4%;
	}
}
@media screen and (max-width:480px) { 
	.related-posts li {
	    width: 100%;
	    float: left!important;
	    max-width: 100%;
	}
	.related-posts .relatepostli4 {
	    padding-bottom: 15px;
	    border-bottom: 1px solid #CCC;
	    margin-bottom: 11px;
	}
	.one_half,
	.one_third,
	.two_third,
	.three_fourth,
	.one_fourth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.one_sixth,
	.five_sixth {
	    width: 100%;
	    margin-right: 0;
	}
	.copyrights { text-align: center }
	.top { width: 100% }
	.single .size-medium,
	.single .size-full { width: 94% }
	.flex-control-paging li a {
		width: 12px;
		height: 12px;
	
		margin-left: 8px;
}
	.flex-direction-nav { display: none; }
}
@media screen and (max-width:400px) { 
	article header { overflow: hidden }
	.slidertext { display: none }
	#commentform textarea { width: 96% }
}
@media screen and (max-width:320px) { 
	.latestPost {
	    float: none;
	    width: 100% !important;
	}
	.latest-cat-post #featured-thumbnail {
	    width: 100%;
	    max-width: 100%;
	}
	.latest-cat-post #featured-thumbnail .featured-thumbnail { float: none }
	nav li {
	    display: block;
	    float: none;
	    width: 100%;
	}
	nav li a { border-bottom: 1px solid #576979 }
	.single .size-medium,
	.single .size-full { width: 93% }
}