.normText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 808080;
}
.noBorder {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.smalltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5px;
}
.tblBG {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #D9DBDF;
	background-color: #2860A7;
}
.forumBtn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #09349B;
	background-color: #C5D6FC;
	border: 1px solid #0A3CAF;
}
.lnk {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	color: D9DBDF;
}
.tblTop {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #1D4880;
	background-color: #CCD0D6;
}
.hdng {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 808080;
	font-weight: bold;

}
.hdngArial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: 666666;
	font-weight: bold;
    padding-left: 4px;
}
.txtfield {
	border: 1px solid #8AADE1;
}
.btn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	background-color: #294971;
	border: 2px solid #CCD0D6;
	font-size: 11px;
}
.Menue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: D9DBDF;

}
.PriceFont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 000099;
}
.RowBG1 {
	background-color: EBF1FA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: 666666;
}
.Heading1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: 666666;
}
.RowBG2 {
	background-color: D1DFF3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: 666666;
}
.biggerText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 808080;
}
.Borders3 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: D1DFF3;
	border-right-color: D1DFF3;
	border-bottom-color: D1DFF3;
	border-left-color: D1DFF3;
}

.tblTopBorder {
	font-size: 12px;
	font-weight: bold;
	color: #1D4880;
	background-color: #EBF1FA;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #8AADE1;
	border-right-color: #8AADE1;
	border-bottom-color: #8AADE1;
	border-left-color: #8AADE1;
}

.hdng2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: 000099;
	font-weight: bold;
}
.hdng3 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: 000099;
	font-weight: bold;
}
.txtfield2 {
	border: 2px solid #CCCCCC;
}
.hdng2Arial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: 000099;
	font-weight: bold;
    
}
.tableBorder5 {
	border: 1px solid #9FBCE8;
}
.tblTopSingleBorder {
	font-size: 12px;
	font-weight: bold;
	color: #1D4880;
	background-color: #EBF1FA;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #8AADE1;
	border-right-color: #8AADE1;
	border-bottom-color: #8AADE1;
	border-left-color: #8AADE1;
	font-family: Arial, Helvetica, sans-serif;
}
.RowBG1BorderBottom {
	background-color: EBF1FA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: 666666;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #C5D6FC;
	border-right-color: #C5D6FC;
	border-bottom-color: #C5D6FC;
	border-left-color: #C5D6FC;
}
.hdngLookup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: 000099;
	font-weight: bold;
}
.NavLinks {
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
    list-style-type:none;
    padding:0;
    margin:0;
    display:inline;
}
.slinks {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
}
.Taggs {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #808080;
}
.backto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #09349B;
	background-color:EBF1FA ;
	border: 1px solid #9FBCE8;
}
.hdngLookuph1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 18px;
color: 000099;
font-weight: bold;
padding: 0;
margin: 0;
}

.container{
width: 100%;
height: 100%;
text-align:center;
margin: 0 auto;
}
#ad{
position: absolute;
top: 100px;
text-align:left;
	padding:15px;
            
		}
.h2
{
font-size: 1em;
font-weight: normal;
padding:0px;
margin:0px; 
display:inline;
}

.fasla
{
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
}

.lilinks {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
    list-style-type:none;
    padding:0;
    margin:0;
    display:inline;
}