@import url(http://fonts.googleapis.com/css?family=Oswald|Montserrat:400,700);
body {background: #E5E5E5;font-size: 14px; font-weight: normal; color: #333;margin: 0px;padding: 0px; -webkit-text-size-adjust: none; position: relative;}
h1, h2, h3, h4, h5, h6{ font-weight: bold;}
a {color: #79C142; text-decoration:none !important; outline:none; -moz-outline: none; }
a:hover {color: #63A235; text-decoration: none; }
a:focus, a:hover{ color: #63A235;}
a:active, a:focus{outline:none;}
.mt5 {margin-top: 5px !important; }
.mt10 {margin-top: 10px !important; }
.mt20 {margin-top: 20px !important; }
.mb10{ margin-bottom: 10px !important; }
.mb5 {margin-bottom: 5px; }
.mr5{ margin-right: 5px; }
.mr10{ margin-right: 10px; }
.mr20{ margin-right: 20px; }
.ml10{ margin-left: 10px !important;}
.ml5{ margin-left: 5px;}
.dlb{ display: block; }
.dib{ display: inline-block; }
.fll{ float: left; }
.flr{ float: right; }
.clr {clear: both; }
.btn-block{ border-radius: 3px;}
.btn-success{ background: #79C143; border: none; border-bottom: 3px solid #73AD38;}
.btn-success:hover, .btn-success:active, .btn-success:focus{ background: #70B63D; border-bottom: 3px solid #63A235;}
.btn-default{ background: #eee; border: none; border-bottom: 3px solid #ddd !important;}
.btn-default:hover,.btn-default:active, .btn-default:focus{ background: #e5e5e5 !important; border-bottom: 3px solid #ccc !important;}
.btn-primary{ background: #3598DB; border: none; border-bottom: 3px solid #2486C8 !important;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus { background: #2D94D9; border-bottom: 3px solid #2486C8 !important;}
.btn-danger{ background: #DF091E; border: none; border-bottom: 3px solid #CC091C !important;}
.btn-danger:hover,.btn-danger:active,.btn-danger:focus { background: #D9091E; border-bottom: 3px solid #CC091C !important;}
.btn-login{ height: 34px; line-height: 32px; padding: 0 15px;}
.btn-facebook{ background: #39569B; color: #fff !important; border: none; border-bottom: 3px solid #314A86 !important;}
.btn-facebook:hover{ background: #314A86; border-bottom: 3px solid #2B4073;}
.thumb{background-position: 50% 25%; background-size: cover; display: inline-block;}
.cluetip-inner .btn-danger{ background: #ccc !important; border: none; border-bottom: 3px solid #c0c0c0 !important;}
/* layout */
header{ background: #fff; height: 70px; width: 100%; display: table; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); position: fixed; top: 0; left: 0; z-index: 99;}
header .header-logo{margin-right: 10px; margin-top: 7px; position: relative; display: inline-block; float: left; margin-right: 50px;}
header .header-logo:after{background: #eee none repeat scroll 0 0;content: ""; display: inline-block; height: 45px; position: absolute; right: -30px;top: 5px; width: 1px;}
header .header-logo h1{ font-size: 0; margin: 0;}
/*.header-pad{ height: 70px; width: 100%;}*/
#logo{ background-image: url(images/logo-light.png); background-position: 50% 25%; background-size: cover; height: 49px; width: 187px; display: inline-block;}
#menu{ float: left;}
#menu ul.top-menu{ list-style: none; padding: 0}
#menu ul.top-menu li{ display: inline-block; float: left; margin:0 5px; position: relative}
#menu ul.top-menu li a{ height: 70px; line-height: 70px; margin: 0;  padding: 0 5px; font-family: 'Oswald'; font-size: 16px; color: #333; display: inline-block;}
#menu ul.top-menu li:hover a, #menu ul.top-menu li.active a{color: #79C143;}
#menu ul.top-menu li.active a{border-bottom: 3px solid #79C143;}
#menu .sub-container{ position: absolute; top: 60px; left: -20px; width: 500px; background: #fff; border: 1px solid #ccc; border-top: 1px solid #79C143; z-index: 5; box-shadow: 0 0 3px rgba(0,0,0,0.1)}
#menu .sub-container ul.sub-menu{ padding: 10px; overflow: hidden;}
#menu .sub-container ul.sub-menu li{ width: 30%; float: left; margin: 0 1.65%;}
#menu .sub-container ul.sub-menu li a{ height: 30px; line-height: 30px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 0 10px; display: block; border-bottom: none !important;}
#menu .sub-container ul.sub-menu li:hover a{ background: #79C143; color: #fff !important;}
#menu ul.top-menu li:hover .sub-container ul.sub-menu li a{ color: #333;}
#search{ float: right; width:295px; margin-top: 17px; position: relative;}
#search input.search-input{ padding-right: 50px;}
#search .search-submit{ display: inline-block; font-size: 18px; position: absolute; top: 0; right: 0; height: 34px; width: 34px; text-align: center;}
#search .search-submit i{ line-height: 30px;}
#top-user{ float: right; margin-left: 15px;}
#top-user .top-user-content.guest{ margin-top: 17px;}
#main{ position: relative; min-height: 800px; padding-top: 70px;}
.page-category .pad{ height: 20px !important;}
.top-content{height: 405px; position: relative;}
#slider{ height: 100%; overflow: hidden; position: relative; display: block; padding-right: 0; width: 1170px;}
#slider .swiper-slide{ background-position: 50% 25%; background-size: cover; position: relative; width: 100% !important; overflow: hidden;}
#slider .swiper-slide .slide-link{ position: absolute; width: 100%; height: 100%;}
#slider .slide-caption{ position: absolute; right: -380px; top: 0; opacity: 0; height: 100%; width: 380px; padding: 20px 30px; color: #fff; background: rgba(0,0,0,0.7); transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;}
#slider:hover .slide-caption{ left: auto; right: 0; opacity: 1;}
#slider .slide-caption h2{ margin: 0 0 10px 0; font-size: 24px; color: #79C143; font-family: "Montserrat";}
#slider .slide-caption .slide-caption-info{ background: rgba(0,0,0,0.5); color: #ccc; border-radius: 4px; padding: 0; border: 1px solid rgba(255,255,255,0.2); margin-top: 15px; font-size: 12px;}
#slider .slide-caption .slide-caption-info .block{ margin: 10px 15px; line-height: 1em;}
#slider .slide-caption .slide-caption-info .block strong{ display: inline-block; width: 80px;}
#top-news{ background: #222; width: 380px; height: 100%; overflow: hidden; color: #ccc; padding: 0px; position: absolute; top: 0; right: 0; z-index: 3;}
#top-news .nav{ height: 40px; border-bottom: none; background: #111; box-shadow: 0 0 3px rgba(0,0,0,0.2); z-index: 2;}
#top-news .nav li{ border: none; height: 40px; line-height: 40px; border-radius: 0 !important;}
#top-news .nav li a{ line-height: 40px !important; padding: 0 18px !important; border: none; border-radius: 0 !important; color: #fff; margin-right: 0; font-family: "Montserrat";}
#top-news .nav li.active a{ background: none; border-bottom: 2px solid #88C64C; height: 40px}
#top-news .nav li:hover a{ background: #333;}
#top-news .top-news{ position: relative;}
#top-news .top-news-content{ width: 100%; display: block; position: absolute; bottom: 0; left: 0; right: 0; top: 40px;}
#top-news .top-news-content .tn-news{ position: absolute; overflow: hidden; top: 0; left: 0; bottom: 0; right: 0;}
#top-news .top-news-content .tn-notice{ position: absolute; overflow: hidden; top: 0; left: 0; bottom: 85px; right: 0;}
#top-news .top-news-content ul{ list-style: none; padding: 0; margin: 0;}
#top-news .top-news-content ul.tn-news li{display: block; padding: 15px; border-bottom: 1px solid rgba(255,255,255,0.1)}
#top-news .top-news-content ul.tn-news li:hover{ background: #181818;}
#top-news .top-news-content ul.tn-news li:hover .tnc-info h4 a{ color: #fff;}
#top-news .top-news-content ul.tn-news li:hover .news-thumb{ opacity: 1;}
#top-news .top-news-content ul.tn-news li .news-thumb{ width: 100px; height: 60px; float: left; opacity: 0.8}
#top-news .top-news-content ul.tn-news li .tnc-info{ padding-left: 115px;}
#top-news .top-news-content ul.tn-news li .tnc-info h4{ margin: 0;}
#top-news .top-news-content ul.tn-news li .tnc-info h4 a{ font-size: 14px; line-height: 1.4em; font-weight: 400; color: #ccc;}
#top-news .top-news-content ul.tn-news li.view-more{ text-align: center; background: #111; font-weight: bold; margin-bottom: -10px;}
#top-news .top-news-content ul.tn-news li.view-more a i{ font-size: 16px; color: #fff; margin-left: 10px;}
#top-news .top-news-content ul.tn-notice li{ padding: 15px;border-bottom: 1px solid rgba(255,255,255,0.1)}
#top-news .top-news-content ul.tn-notice li:hover{ background: #181818;}
#top-news .top-news-content ul.tn-notice li a{ color: #eee;}
#top-news .top-news-content ul.tn-notice li a span{display: block; margin-bottom: 5px;}
#top-news .top-news-content ul.tn-notice li a span i{ background: #88C64C; color: #fff; font-style: normal; padding: 3px 5px; display: inline-block; font-size: 10px;}
#top-news .top-news-content .tab-pane{ position: relative; height: 365px;}
#top-news .top-news-content .tab-pane .tnc-apps{ background: #111; box-shadow: 0 0 10px rgba(0,0,0,0.5); position: absolute; z-index:3; bottom: 0; left: 0; width: 100%; padding: 10px; font-family: 'Montserrat'; font-size: 0;}
#top-news .top-news-content .tab-pane .tnc-apps .tnca-block{ position: relative; width: 46%; margin: 2%; color: #fff; padding: 10px 10px 10px 50px; border: 1px solid #555; background: #222; font-size: 12px; display: inline-block; line-height: 14px;}
#top-news .top-news-content .tab-pane .tnc-apps .tnca-block span{ display: block; font-size: 14px;}
#top-news .top-news-content .tab-pane .tnc-apps .tnca-block i{ font-size: 28px; position: absolute; top: 8px; left: 15px;}
#top-news .top-news-content .tab-pane .tnc-apps .tnca-block:hover{ background: #fff; border: 1px solid #fff; color: #333;}
#top-news .top-news-content .tab-pane .tnc-apps .tnca-block.ios:hover i{ color: #537DF9;}
#top-news .top-news-content .tab-pane .tnc-apps .tnca-block.android:hover i{ color: #79C143;}
#top-news .top-news-content ul.tn-premium{ overflow: hidden; padding: 10px;}
#top-news .top-news-content ul.tn-premium li{ margin-bottom: 10px; display: block; width: 44%; margin: 3%;float: left;}
#top-news .top-news-content ul.tn-premium li a{border: 1px solid #555; background: #333; color: #fff; display: block; position: relative; text-align: center; padding: 13px; border-radius: 3px; box-shadow: 0 2px 0 0 rgba(255,255,255,0.1);}
#top-news .top-news-content ul.tn-premium li a:hover{ background: #555; border-color: #888;}
#top-news .top-news-content ul.tn-premium li a .price{ font-size: 40px; display: block;}
#top-news .top-news-content ul.tn-premium li a .btn{ display: block; margin-top: 10px;}
.survey, .social-home{ padding: 15px; text-align: center; background: #fff url(images/survey.jpg) bottom left no-repeat; position: relative; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);}
.social-home{ background: #fff; text-align: left; height: 50px;}
.social-home .addthis_native_toolbox{ display: inline-block; float: left; height: 20px;}
.social-home .sh-like{ float: left; margin-right: 2px;}
.social-home #atstbx .addthis_button_facebook_share{ width: 63px; overflow: hidden;}
.social-home #atstbx .addthis_button_facebook_like{ display: none !important;}
.social-home #atstbx .addthis_button_google_plusone #___plusone_0{ width: 70px !important;}
.social-home .sh-text{ margin-left: 15px;}
.survey-full{ display: block;}
.survey .sv-caption{ position: absolute; top: 20px; left: 30px; width: 300px; display: inline-block; font-family: 'Montserrat'; font-size: 14px; text-align: left; opacity: 0.3; display: none;}
.survey .sv-caption span{ display: block; font-size: 37px; line-height: 40px;}
.survey .sv-caption i{ font-style: normal; height: 24px; line-height: 24px; border-radius: 15px; border: 1px solid #333; padding: 0 10px; display: inline-block;}
.survey .sv-info{text-align: center;}
.survey h5{ font-size: 20px; margin: 0 0 10px 0; font-family: 'Montserrat';}
.survey .btn{min-width: 80px; padding: 6px 15px; margin: 0 5px;}
.pad{ height: 40px; width: 100%; display: block;}
/* movies list*/
.movies-list-wrap{ display: block; overflow:hidden; margin: 0 0 40px;}
.movies-list-wrap .ml-title{ display: block; margin-bottom: 10px;}
.movies-list-wrap .ml-title span{font-size: 18px; font-family: 'Montserrat'; font-weight: 400; display: inline-block; padding: 0 20px; height: 40px; line-height: 40px; background: #79C142; color: #fff; border-radius: 3px 3px 0 0;}
.movies-list-wrap .ml-title span i{ font-size: 14px;}
.movies-list-wrap .ml-title .nav-tabs{ display: inline-block; margin-left: 15px; border-bottom: none;}
.movies-list-wrap .ml-title .nav-tabs li.active a{ border-radius: 3px;}
.movies-list-wrap .ml-title .nav-tabs li a{ border: none; height: 40px; line-height: 40px; padding: 0 15px; text-align: center; min-width: 80px; color: #333;}
.movies-list{ display: block; margin: 0 -1%;}
.movies-list .ml-item{ width: 10.5%; margin: 1%; float: left; position: relative; height: 260px; overflow: hidden;}
.movies-list .ml-item .mli-thumb{ width: 100%; height: 100%;}
img.thumb.mli-thumb{ width: 100% !important; height: auto !important; min-height: 100% !important;}
.movies-list .ml-item .mli-info{ position: absolute; bottom: 0; left: 0; width: 100%; height: auto; padding: 10px; background: url(images/mask-title.png) top repeat-x; z-index: 5;}
.movies-list .ml-item .mli-info h2{ font-size: 14px; margin: 0; font-weight: normal; text-align: center; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,0.6);}
.movies-list .ml-item .mli-eps{ position: absolute; top: 10px; right: 10px; width: 40px; padding-top: 8px; text-align: center; height: 40px; border-radius: 50%; background: rgba(136,198,76,0.9); color: #fff; font-size: 10px; text-transform: uppercase; line-height: 1em; text-shadow: 0 0 2px rgba(0,0,0,0.3);}
.movies-list .ml-item .mli-eps i{ display: block; font-weight: bold; font-size: 16px; font-style: normal; margin-top: 3px;}
.movies-list .ml-item .ml-mask{ display: inline-block; overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.movies-list .ml-item .ml-mask:before{ content: ""; background: rgba(0,0,0,0.6); position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0}
.movies-list .ml-item .ml-mask:hover:before{ opacity: 1;}
.movies-list .ml-item .ml-mask:after{ content: ""; width: 55px; height: 55px; background-image: url(images/btn-overlay.png); background-position: 50% 25%; background-size: cover; opacity: 0; position: absolute; top: 50%; left: 50%; margin-top: -27.5px; margin-left: -27.5px;}
.movies-list .ml-item .ml-mask:hover:after{ opacity: 1;}
.movies-list .ml-item .ml-mask:after, .movies-list .ml-item .ml-mask:before{transition: all 0.2s ease 0s; -webkit-transition: all 0.2s ease 0s; z-index: 4;}
.mlw-related .movies-list .ml-item{ width: 14.6%; margin: 1%; height: 280px;}
.page-detail{}
.page-detail .pad{ height: 20px;}
.main-detail{width: 1200px; margin: 0 auto;}
#bread .breadcrumb{ padding: 0; background: none; color: #333;}
#bread .breadcrumb a{ color: #333;}
#mv-info{ margin-bottom: 0; position: relative;}
#mv-info .mvi-cover{ height: 500px; width: 100%; position: relative;}
#mv-info .mvi-cover:after{ content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,0.3);transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;}
#mv-info .mvi-cover:before{ content: ""; width: 110px; height: 110px; background-image: url(images/btn-play.png); background-position: 50% 25%; background-size: cover; display: inline-block; position: absolute; top: 50%; margin-top: -55px; margin-left: -55px; left: 50%; z-index: 2; border-radius: 55px;  border: 6px solid rgba(255,255,255,1);transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;}
#mv-info .mvi-cover:hover:before{ border: 8px solid rgba(255,255,255,1); box-shadow: 0 0 30px rgba(0,0,0,0.3);}
#mv-info .mvi-cover:hover:after{  background: rgba(0,0,0,0.1); box-shadow: 0 0 150px rgba(0,0,0,0.4) inset;}
#mv-info .mvi-view{ position: absolute; color: #fff; bottom: 20px; right: 25px; font-size: 18px; font-weight: bold; font-style: italic; z-index: 9; text-shadow: 0 1px 1px rgba(0,0,0,0.5);}
#mv-info .mvi-content{ background: #fff; padding: 20px;  font-size: 12px; position: relative; width: 100%; margin-top: -5px;}
#mv-info .mvi-content h3{ font-size: 20px; line-height: 28px; margin: 0; margin-bottom: 10px; display: initial; margin-right: 10px;}
#mv-info .mvi-content .block-trailer{ display: inline-block; vertical-align: middle; margin-bottom: 10px;}
#mv-info .mvi-content .block-trailer a{ border-radius: 15px; padding: 4px 15px; font-size: 12px; cursor: pointer;}
#mv-info .mvi-content .mvic-desc{ width: 700px; margin-right: 20px; min-height: 210px; float: left; padding-right: 20px; border-right: 1px solid #eee;}
#mv-info .mvi-content .mvic-desc .desc{ width: 100%; margin-bottom: 10px; font-size: 12px; font-style: italic; color: #aaa; min-height: 50px;}
#mv-info .mvi-content .mvic-info{ width: 100%; display: block;}
#mv-info .mvi-content .mvic-info p{ margin-bottom: 3px;}
#mv-info .mvi-content .mvic-info .mvici-left{ float: left; width: 48%; margin-right: 2%}
#mv-info .mvi-content .mvic-info .mvici-right{ float: left; width: 50%;}
#mv-info .mvi-content .mvic-thumb{ width: 140px; height: 210px; float: left; margin-right: 20px;}
#mv-info .mvi-content .mvic-btn{ position: absolute; top: 10px; right: 20px; left: 900px; bottom: 20px;}
#mv-info .mvi-content .mvic-btn .btn{ margin: 8px 0;}
#mv-info .mvi-content .quality{ display: inline-block; font-size: 11px; text-transform: uppercase; background: #222; color: #fff; margin-left: 2px; padding: 2px 5px; border-radius: 3px;}
#mv-info .mvi-content .block-social{ display: block; margin-bottom: 10px;}
#mv-keywords{ margin-bottom: 20px; padding: 20px; display: block; clear: both; background: #f5f5f5;}
#mv-keywords a{ margin: 5px 15px 5px 0; color: #888;}
#mv-keywords a:hover{ color: #79C142;}
#mv-keywords a h5{ font-size: 14px; font-weight: normal; white-space: nowrap; display: inline-block; margin: 0;}
#mv-keywords a h5:before{ content: '#';}
.mv-rating{ text-align: left; font-size: 14px; position: relative; margin-top: 5px;}
.mv-rating .star-rating .caption{ font-size: 12px; text-transform: uppercase;}
.mv-rating .star-rating{ display: inline-block; height: 24px !important; font-size: 20px !important;}
.mv-rating label{ display: block; margin-bottom: -2px; font-size: 10px; font-weight: normal; text-transform: uppercase; padding-top: 2px; padding-left: 2px;}
.mv-rating .clear-rating-active{ display: none !important;}
.mv-rating .rating-container .rating-stars::before{ text-shadow: none;}
.mv-rating .rating-active .rating-container{ cursor: pointer;}
.mv-rating .btn{ float: left; margin: 0 !important; margin-right: 10px !important; padding: 4px 10px !important; font-weight: bold; font-size: 24px; cursor: default;}
#media-player, #content-embed{ background: #000; width: 100%; position: relative;}
#media-player.active, #content-embed.active{z-index: 101; margin-top: 50px;}
#bar-player{ background: #222; position: relative; font-size: 0;}
#bar-player .bp-view{ position: relative; float: right; color: #ddd; padding: 10px 10px; font-size: 14px;}
#bar-player .bp-btn-light span:after{ content: "Turn off light";}
#bar-player .bp-btn-light.active span:after{ content: "Turn on light";}
#bar-player .bp-btn-auto span:after{ content: "Off";}
#bar-player .bp-btn-auto.active span:after{ content: "On";}
#bar-player .btn{ color: #ccc; padding: 10px 20px; margin-right: 0px; margin-right: 2px; font-weight: bold; border-radius: 0;}
#bar-player .btn:hover{ color: #fff;}
#bar-player .btn.active{ background: #333; color: #fff;}
#bar-player .bp-btn-light.active{ background: #666; color: #fff;}
#bar-player .btn i{ margin-right: 5px;}
#overlay{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; z-index: -1;}
#overlay.active{ z-index: 100; background: rgba(0,0,0,0.98)}
.page-watch{ z-index:auto !important;}
#comment-area{ display: none; position: fixed; bottom: 0; right: 20px; z-index: 101;}
#comment-area.active{ display: block;}
#comment-area #toggle{ display: inline-block; cursor: pointer; position: absolute; right: 0; bottom: 20px;}
#comment-area #comment{ display: inline-block; position: absolute; bottom: -500px; right: 0px; background: #111; border-radius: 5px 5px 0 0; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;}
#comment-area #comment.active{ bottom: 0px;}
#comment-area #comment .content{ width: 470px; height: 280px; overflow-y: auto; margin: 10px 10px 0 20px; position: relative}
#comment-area #comment .cac-close{ position: absolute; cursor: pointer; top: -30px; height: 30px; line-height: 30px; right: 10px; text-align: center; background: #333; color: #fff; border-radius: 5px 5px 0 0; padding: 0 15px; font-size: 12px;}
#comment-area #comment .cac-close i{ vertical-align: text-top;}
.logged{ position: relative;}
.logged .logged-feed{ display: inline-block; margin-top: 15px; position: relative;}
.logged .btn-feed{ position: relative;}
.logged .btn-logged i{ font-size: 24px; color: #555;}
.logged .btn-logged.active i{ color: #79C142;}
.logged .btn-logged span.feed-number{ position: absolute; top: 0; left: 24px; background: #C00; color: #fff; line-height: 16px; padding: 0 3px; min-width: 16px; font-size: 12px; border-radius: 8px;}
.logged .logged-user{ float: right; margin-top: 17px; }
.logged .avatar{ margin-left: 10px; position: relative; padding-right: 20px; display: inline-block; overflow: hidden;}
.logged .avatar img{ width: 34px; height: 34px; border-radius: 50%;}
.logged .avatar .fa{ font-size: 12px; color: #555; width: 16px; height: 16px; border-radius: 50%; position: absolute; top: 50%; margin-top: -8px; right: 0; text-align: center; line-height: 12px;}
.logged.open .avatar .fa{ color: #79C142;}
.logged .logged-user{ position: relative;}
.logged .dropdown-menu{ left: auto; right: -1px !important; padding: 0; overflow: hidden; width: 180px;}
.logged .logged-user .dropdown-menu > li > a{ padding: 5px 12px 5px 12px; white-space: normal;}
.logged .logged-user .dropdown-menu > li > a .badge{ float: right;}
.logged .logged-user .dropdown-menu > li{ border-bottom: 1px solid #eee;}
.logged .logged-user .dropdown-menu > li:last-of-type{ border-bottom: none;}
.logged .logged-user .dropdown-menu > li.active{ background: #79C142 !important; border-bottom: none;}
.logged .logged-user .dropdown-menu > li.active a{ background: none !important; color: #fff !important;}
.logged .logged-user .dropdown-menu > li > a > i{ width: 16px; text-align: center;}
.logged .logged-feed .dropdown-menu{ width: 300px;}
.logged .logged-feed .dropdown-menu > li.more a{ padding: 12px 0; text-align: center; background: #f8f8f8; font-size: 12px; color: #79C142;}
.logged .logged-feed .dropdown-menu > li.more a i{ position: relative; left: auto; top: auto; font-size: 16px;}
.logged .logged-feed .dropdown-menu > li > a{ padding: 8px 12px 8px 38px; font-size: 14px; width: 310px; white-space: normal; line-height: 1.2em; position: relative}
.logged .logged-feed .dropdown-menu > li > a span.time{ display: block; color: #aaa; font-style:italic; font-size: 11px; margin-top: 3px;}
.logged .logged-feed .dropdown-menu > li > a > i{ position: absolute; top: 8px; left: 10px; width: 20px; height: 20px; line-height: 20px; text-align: center;}
.logged .logged-feed .dropdown-menu > li > a > i.fa-2x{ top: 10px; font-size: 1.5em;}
.logged .logged-feed .dropdown-menu > li > a > strong{ color: #79C142;}
.logged .logged-feed .dropdown-menu > li{ border-bottom: 1px solid #eee;}
.profiles-page{}
.profiles-wrap{ background: #f0f0f0; margin-bottom: 50px;}
.profiles-wrap .sidebar{ float: left; width: 20%; position: relative; min-height: 550px; color: #eee;}
.profiles-wrap .pp-main{ float: right;width: 80%; position: relative; min-height: 550px; background: #fff;}
.profiles-wrap .pp-main .ppm-head{}
.profiles-wrap .pp-main .ppm-head ul.nav-tabs{ background: #555;}
.profiles-wrap .pp-main .ppm-head ul.nav-tabs li a{ border: none !important; border-radius: 0; padding: 10px 50px; margin: 0; color: #fff;}
.profiles-wrap .pp-main .ppm-head ul.nav-tabs li a:hover, .profiles-wrap .pp-main .ppm-head ul.nav-tabs li a:focus{ background: rgba(0,0,0,0.02);}
.profiles-wrap .pp-main .ppm-head ul.nav-tabs li.active a{ color: #333; background: #fff;}
.profiles-wrap .pp-main .ppm-content{ padding: 20px;}
.profiles-wrap .pp-main .ppm-head .ppmh-title{ padding: 10px 15px; background: #555; color: #fff;}
.profiles-wrap .pp-main .ppm-head .ppmh-title .pull-right{ font-size: 11px; color: #fff; text-transform: uppercase; margin-top: 3px;}
.noti-content{ padding: 0 !important;}
.noti-content ul{list-style: none; padding: 0;}
.noti-content ul li{ border-bottom: 1px solid #eee;}
.noti-content ul li a{ padding: 15px 20px 15px 50px; display: block; position: relative; color: #333;}
.noti-content ul li a i{ position: absolute; top: 16px; left: 20px; line-height: 20px;}
.noti-content ul li:hover{ background: rgba(0,0,0,0.01);}
.noti-content ul li a strong{ color: #79C142;}
.noti-content ul li a .time{ display: block; color: #bbb; font-size: 12px; font-style:italic;}
.update-content{}
.uc-form{ width: 500px; margin: 20px 0;}
.uc-form .form-group{ margin-bottom: 20px;}
.uc-form .ucf-b{ width: 30.3%; margin-right: 3%; float: left;}
.uc-form .ucf-b:last-of-type{ margin-right: 0; width: 33.3%;}
.uc-form .avatar img{ width: 100px; height: 100px; border-radius: 50%;}
.uc-form textarea{ resize: none;}
.user-content{ padding: 40px 100px !important;}
.user-content .uct-avatar{ float: left;}
.user-content .uct-avatar img{ width: 180px; height: 180px; border-radius: 50%;}
.user-content .uct-info{ padding-left: 230px;}
.user-content .uct-info .block{ padding: 8px 0; border-bottom: 1px solid #eee;}
.user-content .uct-info .block label{ width: 120px; display: inline-block;}
.offer-content{ padding: 0 !important;}
.offer-content ul{ list-style: none; padding: 0;}
.offer-content ul li{ border-bottom: 1px solid #eee; border-top: 1px solid #eee; margin-bottom: -1px; padding: 15px 110px 15px 20px; position: relative;}
.offer-content ul li:hover{ background: rgba(0,0,0,0.02);}
.offer-content ul li .btn{ position: absolute; top: 50%; margin-top: -17px; right: 15px; width: 80px; text-align: center;}
.offer-content ul li .time{ color: #bbb; font-size: 11px; margin-top: 3px; display: block;}
.offer-content ul li h3{ font-size: 16px; margin: 0 0 8px;}
.block-padding{ background: #fff; padding: 20px; border: 1px solid #ddd; box-shadow: 0 3px 0 rgba(0,0,0,.1); border-radius: 5px;}
.block-padding:hover{ border: 1px solid #ccc; box-shadow: 0 3px 0 rgba(0,0,0,.2)}
.apps-content{ position: relative;}
.apps-content:before{ content: ""; width: 100%; height: 205px; position: absolute; top: 0; left: 0; background-size: cover; background-position: 50% 25%; background-image: url(images/app-bg.jpg);}
.apps-content .btn{ padding: 8px 30px;}
.apps-content .ac-block-ul{ margin: 20px -1%; overflow: hidden; position: relative; z-index: 2;}
.apps-content .ac-block{ float: left; width: 31.33%; margin: 1%;}
.apps-content .ac-block.disabled *{ color: #ccc;}
.apps-content .ac-block.disabled .btn{ background-color: #ccc !important; border-color: #bbb !important; color: #eee !important}
.apps-content .ac-block .title{ font-weight: bold; margin-bottom: 0px; margin-top: 20px;}
.apps-content .ac-block .small{ color: #bbb;}
.ac-desc{ position: relative; z-index: 2; color: #fff;}
.ac-desc h3{ margin-top: 0; font-size: 20px; padding-top: 3px;}
.ac-desc .app-icon{ width: 100px; height: 100px; float: left;}
.ac-desc .desc{ padding-left: 115px;}
.sidebar .sb-title{ padding: 10px 15px; background: #79C142; color: #fff;}
.sidebar .sidebar-menu ul{ list-style: none; padding: 0;}
.sidebar .sidebar-menu ul li{ border-bottom: 1px solid rgba(0,0,0,0.05);}
.sidebar .sidebar-menu ul li a{ display: block; padding: 10px 15px; color: #555;}
.sidebar .sidebar-menu ul li a:hover{ background: rgba(255,255,255,.05);}
.sidebar .sidebar-menu ul li.active{ background: #fff;}
.sidebar .sidebar-menu ul li.active a{ color: #333;}
.sidebar .sidebar-menu ul li a .badge{ float: right;}
.sidebar .sidebar-menu ul li a i{ width: 16px; text-align: center;}
.mlw-profiles{ margin-bottom: 0;}
.mlw-profiles .movies-list .ml-item{ width: 14.66%; height: 220px; margin: 0 1% 2%;}
.mli-fixed{ position: absolute; top: 0px; left: 0px; background: #E1D000; font-size: 12px; color: #fff; padding: 3px 8px; font-weight: bold; display: inline-block; width: 100%; z-index: 9; text-align: center;}
footer{ background: #1E1E1E; padding: 20px 0 40px; color: #fff; margin-top: 30px;}
footer a{ color: #ccc;}
#footer .footer-link{float: left; margin-right: 60px;}
#footer .footer-link.end{ margin-right: 0;}
#footer .footer-link-head{ font-size: 16px;}
#commentfb{ padding:10px 20px; margin: 20px 0; background: #fff; display: block;}
.infopage{ background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.1);}
.infopage .infopage-head{ display: block; padding: 10px 20px; border-bottom: 1px solid #eee; font-size: 20px; background: #f8f8f8;}
.infopage .content{ padding: 15px 20px;}
.infopage .ip-left{ width: 49%; float: left; margin-right: 1%;}
.infopage .ip-right{ width: 50%; float: left; margin-top: -10px;}
.mlw-request h2{ margin: 0; margin-bottom: 10px; font-size: 18px;}
.mlw-request .ml-item{ width: 23%; height: 230px;}
.main-news{ width: 1120px; margin: 0 auto 30px;}
.news-block{}
.news-block .news-content{ width:800px; float: left; min-height: 300px;}
.news-block .news-sidebar{ width: 300px; float: right; min-height: 300px;}
.news-view-content{ border-bottom: 20px solid #e5e5e5;}
.news-view-content h1.title{ margin: 0 0 10px 0; font-size: 26px; font-family: 'Montserrat';}
.news-view-content .tags{ margin-top: 30px;}
.news-view-content .tags a{ color: #888;}
.news-list-item .thumb{ max-height: 180px; overflow: hidden;}
.news-list-item-lg .thumb{ max-height: 280px;}
.news-block .news-sidebar .news-list-item .info{ display: inline-block; width: 100%;}
.news-block .news-sidebar .news-list-item .info h2{ font-size: 16px; line-height: 1.2em; font-family: Arial, Helvetica, sans-serif;}
.news-block .news-sidebar .news-list-item .info span{ display: none;}
.content-padding{ padding: 20px;}
.content-padding h3.title{ margin-top: 0; margin-bottom: 10px; font-family: 'Montserrat'; font-size: 18px;}
.movies-embed h4{ font-size: 14px;}
.movies-embed .me-li{ padding: 5px 0; border-bottom: 1px solid #eee;}
.nvc-thumb{ height: 250px; overflow: hidden; background-position: 50% 25%; background-size: cover; margin: -20px -20px 20px;}
.box{ margin-bottom: 20px; background: #fff; display: block; overflow: hidden;}
.box-content{ padding: 20px;}
.box .box-head{ background: #333; padding: 0px 20px; line-height: 40px; font-size: 40px; color: #fff; font-size: 18px; font-family: 'Montserrat';}
.box .box-head .nlh{ display: inline-block; float: left; margin-right: 20px; font-size: 14px;}
.box .box-head .nav-tabs{ display: inline-block; border: none; float: left;}
.box .box-head .nav-tabs li{ margin: 0;}
.box .box-head .nav-tabs li a{ line-height: 40px; padding: 0 15px; border-radius: 0; margin: 0; border: none !important; color: #ccc; font-size: 14px; text-transform: uppercase;}
.box .box-head .nav-tabs li.active a{ background: #79c143 !important; color: #fff;}
.box .box-head .nav-tabs li:hover a, .box .box-head .nav-tabs li:focus a{ background: rgba(255,255,255,0.1) !important;}
.news-list-item{ padding: 10px 15px; border-bottom: 1px solid #eee;}
.news-list .news-list-item{ padding: 20px;}
.news-list .news-list-item .info{ padding-left: 320px;}
.news-list .news-list-item .info h2{ margin: 0 0 8px 0; font-family: 'Montserrat'; font-size: 22px; line-height: 24px;}
.news-list-item:hover{ background: #f9f9f9;}
.news-list-item .thumb{ float: left;}
.news-list-item .thumb img{ width: 300px; height: auto;}
.news-list-item .info h2{ margin: 0 0 8px 0; font-family: 'Montserrat'; font-size: 16px; line-height: 18px;}
.news-list-item .info h2 a{ color: #333;}
.news-list-item .info p{ line-height: 1.2em;}
.news-list-item .info .time{ color: #aaa; margin-bottom: 0;}
.news-list-item:last-of-type{ border-bottom: none;}
.news-list-item-lg .thumb{ float: none; width: 100%; height: 250px; overflow: hidden; margin-bottom: 10px;}
.news-list-item-lg .thumb img{ width: 100% !important; height: auto;}
.news-list-item-lg .info{ padding-left: 0 !important;}
.label-sm{ font-size: 10px; padding: 3px 5px; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase;}
/* bootstrap select */
.bootstrap-select{ /*width: 220px\9; IE8 and below*/ width: 220px \0; /*IE9 and below*/}
.bootstrap-select > .btn{ width: 100%; padding-right: 25px; }
.error .bootstrap-select .btn{ border: 1px solid #b94a48; }
.control-group.error .bootstrap-select .dropdown-toggle{ border-color: #b94a48; }
.bootstrap-select.fit-width{ width: auto !important; }
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width: 100%}
.bootstrap-select .btn:focus{ }
.bootstrap-select.form-control{ margin-bottom: 0; padding: 0; border: none; }
.bootstrap-select.form-control:not([class*="col-"]){ width: 100%; }
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"]{ float: none; display: inline-block; margin-left: 0; }
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row-fluid .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right{ float: right; }
.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group{ margin-bottom: 0; }
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control{ padding: 0; }
.form-inline .bootstrap-select.btn-group .form-control{ width: 100%; }
.input-append .bootstrap-select.btn-group{ margin-left: -1px; }
.input-prepend .bootstrap-select.btn-group{ margin-right: -1px; }
.bootstrap-select.btn-group > .disabled{ cursor: not-allowed; }
.bootstrap-select.btn-group > .disabled:focus{ outline: none !important; }
.bootstrap-select.btn-group .btn .filter-option{ display: inline-block; overflow: hidden; width: 100%; text-align: left; }
.bootstrap-select.btn-group .btn .caret{ position: absolute; top: 50%; right: 12px; margin-top: -2px; vertical-align: middle; }
.bootstrap-select.btn-group[class*="col-"] .btn{ width: 100%; }
.bootstrap-select.btn-group .dropdown-menu{ min-width: 100%; z-index: 1035; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.bootstrap-select.btn-group .dropdown-menu.inner{ position: static; border: 0; padding: 0; margin: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }
.bootstrap-select.btn-group .dropdown-menu li{ position: relative; }
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small{ color: #64b1d8; color: rgba(100, 177, 216, 0.4); }
.bootstrap-select.btn-group .dropdown-menu li.disabled a{ cursor: not-allowed; }
.bootstrap-select.btn-group .dropdown-menu li a{ cursor: pointer; }
.bootstrap-select.btn-group .dropdown-menu li a.opt{ position: relative; padding-left: 2.25em; }
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark{ display: none; }
.bootstrap-select.btn-group .dropdown-menu li a span.text{ display: inline-block; }
.bootstrap-select.btn-group .dropdown-menu li small{ padding-left: 0.5em; }
.bootstrap-select.btn-group .dropdown-menu .notify{ position: absolute; bottom: 5px; width: 96%; margin: 0 2%; min-height: 26px; padding: 3px 5px; background: #f5f5f5; border: 1px solid #e3e3e3; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); pointer-events: none; opacity: 0.9; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.bootstrap-select.btn-group .no-results{ padding: 3px; background: #f5f5f5; margin: 0 5px; }
.bootstrap-select.btn-group.fit-width .btn .filter-option{ position: static; }
.bootstrap-select.btn-group.fit-width .btn .caret{ position: static; top: auto; margin-top: -1px; }
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{ position: absolute; display: inline-block; right: 15px; margin-top: 5px; }
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{ margin-right: 34px; }
.bootstrap-select.show-menu-arrow.open > .btn{ z-index: 1036; }
.bootstrap-select.show-menu-arrow .dropdown-toggle:before{ content: ''; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom-width: 7px; border-bottom-style: solid; border-bottom-color: #cccccc; border-bottom-color: rgba(204, 204, 204, 0.2); position: absolute; bottom: -4px; left: 9px; display: none; }
.bootstrap-select.show-menu-arrow .dropdown-toggle:after{ content: ''; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid white; position: absolute; bottom: -4px; left: 10px; display: none; }
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before{ bottom: auto; top: -3px; border-bottom: 0; border-top-width: 7px; border-top-style: solid; border-top-color: #cccccc; border-top-color: rgba(204, 204, 204, 0.2); }
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after{ bottom: auto; top: -3px; border-top: 6px solid white; border-bottom: 0; }
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before{ right: 12px; left: auto; }
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after{ right: 13px; left: auto; }
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after{ display: block; }
.mobile-menu, .mobile-search{ display: none; color: #333;}
.search-content{ position: relative;}
.search-suggest{ background:#fff; width:320px; border-top: 1px solid #79C142; overflow:hidden; display:block; position:absolute; top:40px; right: 0; border-radius:3px; box-shadow:0 0 3px rgba(0,0,0,0.2);}
.search-suggest ul {list-style:none; padding:0; padding-bottom:40px; position:relative;}
.search-suggest ul li.ss-bottom{position:absolute; width:100%; left:0; bottom:0;}
.search-suggest ul li.ss-bottom a{ width:100%; display:block; text-align:center; height:40px; line-height:40px; background:#79C142; color:#fff; font-weight:bold; text-align:center;}
.search-suggest ul li {padding:10px;display:block; width:100%; overflow:hidden; color:#888; border-bottom:1px solid #eee;}
.search-suggest ul li:hover {background:#fcfcfc;}
.search-suggest ul li .ss-info {padding-left:50px;color:#888;}
.search-suggest ul li .ss-info a{}
.search-suggest ul li .ss-info a.ss-title { color:#333; font-size:14px; font-weight:bold;}
.search-suggest ul li .ss-info p{margin-bottom:0;}
.search-suggest ul li .thumb{float:left; width:40px; height:60px; display:inline-block;}
.modal-dialog .modal-body{ padding: 30px;}
.modal-header{ padding: 12px 30px; text-align: center; border-bottom: none; position: relative; font-family: "Montserrat";}
.modal-dialog .modal-body .desc{ margin-bottom: 20px; font-size: 11.5px;}
.modal-dialog .modal-body input{ padding: 8px 12px; height: 38px;}
.modal-dialog .modal-body input[type="checkbox"]{ padding:inherit; height: inherit;}
.modal-dialog .modal-body .btn-block{ padding: 8px 12px;}
.modal-dialog .modal-body label{ font-weight: normal;}
.modal-header .close{ position: absolute; top: 10px; right: 12px; margin-top: 0;}
#pop-login .modal-dialog, #pop-register .modal-dialog, #pop-forgot .modal-dialog{ width: 430px;}
.modal-cuz .modal-dialog .modal-body{ padding: 0 30px 30px;}
.modal-cuz .modal-dialog{ margin: 70px auto;}
.modal-cuz .modal-footer{ text-align: center;}
.modal-cuz .modal-footer a{ cursor: pointer;}
.modal-trailer .modal-dialog{ width: 800px;}
.modal-trailer .modal-dialog .modal-body{ padding: 0;}
.modal-trailer .modal-dialog .modal-body .modal-body-trailer iframe{ height: 450px !important;}

.modal-dialog .alert{ padding: 5px 15px; font-size: 12px; margin-bottom: 10px; margin-top: 5px;}
#pagination{ margin-top: 30px; text-align: center;}
.pagination > li > a, .pagination > li > span{ border: none; color: #333;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{ background: #79C142; border: none;}
.pagination > li > a{ margin: 0 5px; border-radius: 3px;}
#open-forgot{ cursor: pointer; color: #888; margin-top: 2px; display: inline-block;}
.cat-more{ display: inline-block; margin-top: 10px;}
#menu.active{ display: block !important;}
#search.active{ display: inline-block;}
.filter-toggle{ float: right; height: 40px; line-height: 40px; padding: 0 15px; background: #fff; border-radius: 3px; cursor: pointer;}
.filter-toggle.active{ background: #555; color: #fff;}
#filter{ padding: 10px 20px; background: #fff; position: relative; padding-bottom: 110px; box-shadow: 0 3px 0 0 rgba(0,0,0,0.1); border-radius: 3px; margin-bottom: 20px; display: none;}
#filter.active{ display: block !important;}
#filter .fc-title{ font-size: 18px; font-family: 'Montserrat'; margin-bottom: 5px; display: block; color: #79C142;}
#filter ul{list-style: none; padding: 10px 15px 8px; border: 1px solid #e5e5e5; background: #f8f8f8; border-radius: 3px; overflow: hidden;}
#filter ul li{ float: left; width: 130px; padding: 3px 5px 3px 2px; margin:0 0 5px 0; width: auto; margin-right: 5px;}
#filter ul li.active{ background: #79C142; color: #fff;}
#filter ul li label{ font-weight: normal; font-size: 12px; margin-bottom: 0;}
#filter ul li label input{ margin:0 3px 0 0; vertical-align: text-top;}
#filter ul.fc-main-list{ padding: 0; border: none; overflow: visible; background: none;}
#filter ul.fc-main-list li{ display: block; width: 100%; float: none; padding: 0; margin-bottom: 4px;}
#filter ul.fc-main-list li a{ font-size: 14px; background: #eee; color: #333; display: block; padding: 7px 10px;}
#filter ul.fc-main-list li a.active{background: #79C142 !important; color: #fff;}
#filter ul.fc-main-list li a:hover{ background: #79C142; color: #fff;}
.fc-genre, .fc-country, .fc-release{ clear: both; display: block;}
#filter .filter-btn{ position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; padding: 20px 0; border-top: 1px solid #eee;}
#filter .cs10-top .fc-filmtype{ float: left; width: 50%;}
#filter .cs10-top .fc-quality{ margin-left: 52%;}
#list-eps{ background: #fff; margin-bottom: 20px;}
#list-eps .le-server{ padding: 10px 20px; border-bottom: 1px solid #eee;}
#list-eps .le-server:last-of-type{ border-bottom: none;}
#list-eps .le-server .les-title{ display: inline-block; width: 120px; float: left; padding-top: 10px;}
#list-eps .le-server .les-content{ padding-left: 130px; font-size: 0;}
#list-eps .le-server .les-content .btn-eps{ padding: 7px 12px 5px 12px; min-width: 72px; text-align: center; border-radius: 3px; background: #f0f0f0; border-bottom: 3px solid #e0e0e0; font-size: 12px; color: #333; font-weight: bold; margin: 5px; white-space: nowrap; display: inline-block;}
#list-eps .le-server .les-content .btn-eps.active{ border-color: #73ad38; background: #70b63d; color: #fff;}
#list-eps .le-server .les-content .btn-eps.active:before{ content: "\f04b"; font-family:'FontAwesome'; font-size: 10px; margin-right: 10px; font-weight: normal;}
#list-eps .le-server .les-content .btn-eps:hover{ border-color: #555; background: #666; color: #fff;}
.faq-div{ margin-top: -10px;}
.faq-div h3{ font-size: 14px; font-weight: bold; display: block; margin: 0; padding: 0 10px 0 42px; position: relative; height: 34px; display: table-cell; vertical-align: middle;}
.faq-div a h3{ color: #333;}
.faq-div span{ height: 34px; width: 34px; line-height: 32px; text-align: center; font-weight: bold; background: #79c143; color: #fff; position: absolute; top: 10px; left: -1px; border-radius: 3px;}
.faq-div p{ padding-left: 42px;}
.faq-div ul{ list-style: none; padding: 0;}
.faq-div ul li{ padding: 10px 0; box-shadow: none; border-bottom: 1px solid #eee; margin-top: 0 !important; position: relative; min-height: 54px;}
.page-404{ background: #fff url(images/404.jpg) bottom center no-repeat; margin-bottom: -30px; width: 100%; height: 315px; position: absolute;}
.not-found{ text-align: center;}
.not-found h1{ font-size: 140px; font-family: "Montserrat"; margin-top:100px;}
/* area multi modal */
body{ overflow:visible !important; padding-right: 0 !important;}
.modal-open{ padding-right: 0 !important;}
.modal-open-2{ overflow: hidden !important;}
/* end area multi modal */

.ppm-donate .ppmh-title{ background: #1d2247 !important;}
.ppm-donate .ppmh-title i{ margin-left: 1%;}
.donate-content{ background: #090f26 url(images/donate.jpg) top right no-repeat; color: #fff;}
.donate-content .donate-desc{ margin-bottom: 20px; padding: 0 1%;}
.donate-content .donate-desc .desc{ padding-right: 400px;}
.donate-content .donate-desc .dd-list{ list-style: none; margin-top: 20px; padding: 0;}
.donate-content .donate-desc .dd-list li{ display: block; font-size: 14px; margin: 5px 0; position: relative; padding-left: 20px;}
.donate-content .donate-desc .dd-list li i{ color: #79c142; position: absolute; top: 4px; left: 0;}
.donate-content .donate-block-ul{}
.donate-content .donate-block-ul .donate-block{ width: 23%; margin: 1%; float: left; overflow: hidden; padding: 15px; border-color: #a3b6c1; color: #333; border: none !important;}
.donate-content .donate-block-ul .donate-block .donate-logo img{ max-width: 90%;}
.donate-content .donate-block-ul .donate-block .title{ font-weight: 500;}
.donate-content .donate-block-ul .donate-block .note{ font-size: 11px; color: #ccc; font-style: italic; text-align: left; min-height: 60px; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif;}
.donate-content .donate-block-ul .donate-block .btn{ margin-bottom: 5px; cursor: pointer; padding: 12px;}
.donate-content .btn-warning{ background-color: #f7931a !important; border: none !important; border-bottom: 3px solid #e5830d !important;}
.donate-content .btn-default{ background-color: #555 !important; color: #fff !important; border: none !important; border-bottom: 3px solid #444 !important;}
.donate-popup .modal-dialog{ max-width: 400px;}
.donate{ display: block;}
.donate .pp-main{ width: 100%; float: none;}
#donate-paypal .modal-body form{ text-align: center;}
#donate-paypal .modal-body form input[type=image]{ height: 60px !important;}

#schedule-eps{display: block;}
#schedule-eps .se-next{ display: block; background: #2196F3; padding: 10px 20px; border-radius: 0; color: #fff; /*border-bottom: 3px solid #178AE6*/}
#schedule-eps .se-next .fa-close{ display: none;}
#schedule-eps .se-left{ float: left; font-size: 16px;}
#schedule-eps .se-right{ float: right;}
#schedule-eps .se-right a{ color: #fff; cursor: pointer;}
#schedule-eps .se-list{ list-style: none; padding: 0; margin: 0; border: 3px solid #178AE6; display: none; margin-bottom: 15px;}
#schedule-eps .se-list li{ padding: 10px 20px; background: #fff; border-radius: 3px; border-bottom: 1px solid #eee;}
#schedule-eps .se-list li:hover{ background: #f9f9f9;}
#schedule-eps .se-list li .se-left{ font-size: 14px;}
#toggle-schedule{ position: relative;}
#toggle-schedule.active{ font-size: 0;}
#toggle-schedule.active .fa-close{ display: inline-block; font-size: 20px;}

.install-app-body{ margin-top: 90px;}
#install-app{ display: none; box-shadow: 0 0 5px rgba(0,0,0,.2)}
.install-app-body #install-app{ background: #fff; position: fixed; top: 0px; left: 0; width: 100%; padding: 15px 0; display: block; height: 90px; overflow: hidden; z-index: 999;}
.install-app-body header{ margin-top: 90px;}
#install-app .container{ position: relative;}
#install-app .ia-icon{ float: left;}
#install-app .ia-icon img{ width: 60px;}
#install-app .ia-info{ padding-left: 70px; padding-right: 30px;}
#install-app .ia-info .ia-title{ font-weight: 600; font-size: 16px; font-family: 'Montserrat'; color: #333;}
#install-app .ia-info p{ line-height: 1.2em; margin-bottom: 0;}
#install-app .ia-close{ position: absolute; top: 0px; right: 15px; color: #ccc; font-size: 18px}

.modal-subc h4{ font-size: 30px; margin-top: 10px; font-family: 'Montserrat'; font-weight: 400;}
.modal-subc .modal-body{ padding: 20px 80px 30px;}
.modal-subc .modal-body .desc{ font-size: 13px;}
.modal-subc .modal-body .subc-input{ position: relative; text-align: center;}
.modal-subc .modal-body .subc-input .form-control{ text-align: center; border-radius: 0; border-color: #333; box-shadow: none !important; padding-left: 50px; padding-right: 50px;}

i.subc-email{ width: 20px; height: 14px; background-image: url(images/subc-email.png); background-position: 50% 25%; background-size: cover; position: absolute; left: 20px; top: 12px;}
.modal-subc .modal-body .btn{ border-radius: 0 !important; font-size: 16px; font-weight: 600;}
.modal-subc .modal-body .subc-not-show{ color: #555; text-decoration: underline !important; margin-top: 10px; display: block;}
.modal-subc .modal-content{ border-radius: 0;}
.modal-subc .modal-content:before{ content:""; width: 100%; height: 10px; position: absolute; top: 0; left: 0; background: url(images/subc-pattern.png) repeat-x;}
.modal-subc .modal-header{ z-index: 5;}
.modal-subc .modal-header .close{ top: 20px; right: 20px;}
.mt30{ margin-top: 30px;}

.subs-block{ max-width: 1000px; margin: 30px auto; background: #fff; padding: 25px 20px; position: relative;}
.subs-block:before, .subs-block:after{ content: ""; width: 100%; height: 5px; position: absolute; top: 0; left: 0; background: url(images/letter-pattern.png) top repeat-x;}
.subs-block:after{ top: auto; bottom: 0;}
.subs-block h4{ margin-top: 0; margin-bottom: 10px;  font-family: 'Montserrat'; font-weight: 400; font-size: 30px;}
.subs-block .sbk-left{ width: 500px; float: left; padding-left: 70px;}
.subs-block .subs-icon{ width: 110px; height: 110px; background-size: cover; background-position: 50% 25%; background-image: url(images/subs-icon.png); position: absolute; left:-35px; top: -10px; z-index: 3;}
.subs-block .sbk-left p{ margin-bottom: 0;}
.subs-block .sbk-right{ padding-left: 520px;}
.subs-block .sbk-right .col-sm-9{ padding-right: 0;}
.subs-block .sbk-right .subc-input{ position: relative;}
.subs-block .sbk-right .subc-input .form-control{ height: 40px; padding: 10px 15px; padding-left: 50px;}
.subs-block .sbk-right .btn-approve{ padding: 9px 12px;}
.subs-block .sbk-right i.subc-email{ left: 30px; top: 14px;}
.modal-error{}
.modal-error .modal-body .btn{ min-width: 130px; font-weight: 400; font-size: 14px; margin: 0 10px 0px;}
.modal-error .modal-dialog .modal-content{ width: 100%;}
.modal-error .modal-dialog{ width: 440px}
.modal-error .modal-body{ padding: 20px 20px 30px;}
.modal-error h4{ font-size: 22px;}
.footer-tags{ margin-top:60px; margin-bottom: 20px; text-align: center;}
.footer-tags a{ margin: 5px; color: #555; font-weight: 300; letter-spacing: 0.5px; display: inline-block; line-height: 20px; height: 23px; padding: 0 12px; border: 1px solid #444; border-radius: 15px; font-size: 12px; background: rgba(255,255,255,0.04)}
.footer-tags a:hover{ color: #79C143;}
#watch-alert{}
#watch-alert .alert{ margin-bottom: 0; border: none; border-radius: 0;}
.modal-report{}
.modal-report .modal-body{ padding-top: 0;}
.modal-report .form-group .fg-radio{ display: inline-block; float: left; margin: -1px 0 0; padding: 8px 0; margin-right: 20px;}
.modal-report .form-group input{ height: auto; margin-right: 5px;}
.report-list{ background: rgba(0,0,0,0.02); padding: 0; font-size: 12px; border: 1px solid #ddd; border-radius: 3px; margin: 10px 0; overflow: auto;}
.report-list .rl-block{ padding: 10px 15px; border-bottom: 1px solid #ddd;}
.report-list .rl-block:last-of-type{ border-bottom: none;}
.report-textarea textarea{ resize: none; font-size: 12px;}
.report-list .rl-title{ font-size: 14px;}
.popover-like{ bottom: 46px; left: 90px; top: auto; display: block; width: 230px; font-size: 12px;}
.popover-like .btn{ width: 95px; padding: 5px 10px !important; font-weight: 400 !important;}
.popover-like .btn-success{ margin-right: 6px !important; color: #fff !important;}
.popover-like .btn-default{ color: #333 !important;}
.popover-like p{ margin-bottom: 5px;}
.alert-bottom{ background: #7a0087; color: #fff; font-size: 16px; font-weight: 300; display: block; position: fixed; bottom: 0; left: 0; width: 100%; z-index: 999999; padding: 20px 0; }
.alert-bottom .alert-bottom-content{ float: left; margin-right: 40px; width: 600px;}
.alert-bottom .alert-bottom-close{ width: 60px;color: #fff; text-align: center; position: absolute; top: 0px; right: 0px; bottom: 0;}
.alert-bottom .alert-bottom-close i{ font-size: 30px; margin-top: 28px;}
.alert-bottom .ab-title{ font-size: 18px;font-family: 'Montserrat'; font-weight: 400; margin-bottom: 5px; text-transform: uppercase;}
.alert-bottom .ab-btn{ margin-top: 0px; float: left; margin-right: 60px;}
.alert-bottom .ab-btn .btn-domain{ padding: 10px 18px; color: #fff; border: 2px solid #fff; font-size: 16px; font-weight: 500; background: rgba(255,255,255,0.2); display: inline-block}
.alert-bottom .ab-btn .btn-domain:hover{ background: rgba(255,255,255,0.3);}
.alert-bottom .ab-btn .ab-or{ display: inline-block; margin: 0 10px; color: rgba(255,255,255,0.5);}
.alert-bottom .desc{ margin-bottom: 0;}
.zopim{ z-index: 99 !important;}
.mobile-btn{ padding: 10px; background: #fff; border-bottom: 1px solid #ddd; display: none;}
.mobile-btn .btn{ width: 48%; float: left; margin: 0 1%;}
@media screen and (min-width:1600px){
    .container{ width: 1580px;}
}
@media screen and (max-width:1599px){
    .container{ width: 1300px}
    .movies-list .ml-item{ height: 200px;}
    .top-content{ height: 355px;}
    #top-news .top-news-content .tab-pane{ height: 315px;}
    #top-news .top-news-content ul.tn-premium li a .price{ font-size: 32px; line-height: 32px;}
    #search{ width: 275px;}
    #top-user{ margin-left: 5px;}
    #slider{ width: 890px;}
}
@media screen and (max-width:1325px){
    .container{ width: 1170px}
    #search{ width: 215px;}
    #logo{ height: 40px; width: 153px;}
    header .header-logo:after{ display: none;}
    header .header-logo{ margin-right: 20px; margin-top: 14px;}
    #top-news{ width: 320px;}
    #slider{ width: 820px;}
    #slider .slide-caption{ width: 320px;}
    #slider:hover .slide-caption{ left: auto; right: 0; opacity: 1;}
    #top-news .nav li a{ font-size: 12px; padding: 0 14px !important;}
    #top-news .top-news-content ul.tn-premium li .tnp-info{ font-size: 11px;}
    #top-news .top-news-content ul.tn-premium li a .price{ line-height: 40px;}
    #top-news .top-news-content ul.tn-news li .tnc-info h4 a{ font-size: 13px;}
    #top-news .top-news-content .tab-pane .tnc-apps .tnca-block{ width: 48%; margin: 1%;}
    #top-news .top-news-content .tn-notice{ bottom: 75px;}
    .movies-list .ml-item{ height: 180px;}
    .movies-list .ml-item .mli-info h2{ font-size: 12px;}
    .main-detail{ width: 100%;}
    #mv-info .mvi-content .mvic-btn{ left: 860px;}
    #mv-info .mvi-content .mvic-desc{ border-right: 0; padding-right: 0; width: 660px;}
    .mlw-related .movies-list .ml-item{ height: 240px;}
    .jwplayer,#123movies-player iframe{ height: 470px !important;}
    .infopage .uc-form{ width: 95%;}
    footer .footer-one, footer .footer-subs{ width: 50%;}
    footer .footer-copyright{ width: 100%; float: none; text-align: center; overflow: hidden; padding-top: 30px;}
}
@media screen and (max-width:1199px){
    .container{ width: 970px;}
    header{}
    #menu{ position: absolute; float: none; bottom: 0; left: 15px; right: 15px; border-top: 1px solid #ddd;}
    #menu ul.top-menu{ margin-bottom: 0; display: block;}
    #menu ul.top-menu li.active a{ border-bottom: 2px solid #79C142;}
    #menu .sub-container{ top: 40px; left: -10px; width: 470px;}
    #menu .sub-container ul.sub-menu li{ margin: 0.65%; width: 32%;}
    #menu .sub-container ul.sub-menu li a{ height: 24px; line-height: 24px;}
    #main{ padding-top: 110px;}
    .top-content{ height: 245px;}
    #top-news .top-news-content .tab-pane{ height: 205px;}
    #top-news .top-news-content ul.tn-news li{ padding: 12px;}
    #top-news .top-news-content ul.tn-news li .news-thumb{ width: 60px; height: 40px;}
    #top-news .top-news-content ul.tn-news li .tnc-info{ padding-left: 75px;}
    #top-news .top-news-content ul.tn-news li .tnc-info h4 a{ font-size: 12px; line-height: 1.2em;}
    #top-news .top-news-content .tab-pane .tnc-apps .tnca-block{ font-size: 11px; font-family: Arial, Helvetica, sans-serif;}
    #top-news .top-news-content .tab-pane .tnc-apps .tnca-block span{ font-size: 12px; font-weight: bold;}
    #top-news .top-news-content .tab-pane .tnc-apps{ padding: 5px;}
    #top-news{ width: 280px;}
    #top-news .nav li a{ font-size: 11px; padding: 0 11px !important;}
    #slider{ width: 660px;}
    #slider:hover .slide-caption{ right: 0;}
    #slider .slide-caption{ right: -270px;}
    .slide-caption p{ font-size: 12px;}
    #slider .slide-caption h2{ font-size: 18px;}
    #slider .slide-caption .slide-caption-info{ display: none;}
    #slider .slide-caption{ padding: 15px 20px; width: 280px;}
    .slide-caption .mt20{ margin-top: 10px !important;}
    #top-news .top-news-content ul.tn-notice li{ padding: 12px;}
    #top-news .top-news-content ul.tn-notice li a{ font-size: 12px; line-height: 1.2em;}
    #top-news .top-news-content ul.tn-notice li a span{ display: none;}
    #top-news .top-news-content .tab-pane .tnc-apps .tnca-block i{ left: 10px; font-size: 24px; top: 8px;}
    #top-news .top-news-content .tab-pane .tnc-apps .tnca-block{ padding: 8px 8px 8px 38px;}
    #top-news .top-news-content .tn-notice{ bottom: 65px;}
    #top-news .top-news-content ul.tn-premium{ padding: 0;}
    #top-news .top-news-content ul.tn-premium li{ width: 100%; margin: 0%; float: none; position: relative;}
    #top-news .top-news-content ul.tn-premium li a{ text-align: left; padding: 11px 12px; border: none; border-bottom: 1px solid rgba(255,255,255,0.1); border-radius: 0;}
    #top-news .top-news-content ul.tn-premium li a .btn{ margin-top: 0; position: absolute; top: 10px; right: 10px; padding: 3px 8px;}
    #top-news .top-news-content ul.tn-premium li a .price{ line-height: 28px;}
    #top-news .top-news-content ul.tn-premium li .tnp-info{ top: 17px; left: 80px; position: absolute;}
    .pad{ height: 20px;}
    footer .footer-one, footer .footer-subs{ float: left;}
    .movies-list .ml-item{ width: 14.6%; height: 230px;}
    #filter{ padding: 15px 15px 110px;}
    #filter ul li{ float: none; width: auto !important; display: inline-block; padding: 0; margin: 0 5px 5px 0;}
    #filter .col-sm-10{ width: 75%; float: left;}
    #filter .col-sm-2{ width: 25%; float: left;}
    #filter ul.fc-main-list li a{ padding: 9px 15px;}
    #mv-info .mvi-content .mvic-desc{ width: 500px; border-right: none; padding-right: 0;}
    #mv-info .mvi-content .mvic-btn{ left: 700px;}
    #mv-info .mvi-cover{ height: 400px;}
    #mv-keywords a h5{ font-size: 12px;}
    #mv-info .mvi-content .mvic-btn{ left: 660px;}
    #mv-info .mvi-content .mvic-desc{ width: 460px;}
    #mv-info .mvi-content .mvic-info .mvici-left{  width: 63%; margin-right: 2%}
    #mv-info .mvi-content .mvic-info .mvici-right{ width: 35%;}
    .jwplayer,#123movies-player iframe{ height: 430px !important;}
    .main-news{ width: 100%;}
    .news-block .news-content{ float: none; width: 100%;}
    .news-block .news-sidebar{ width: 100%; float: none;}
    .nvc-thumb{ height: 350px;}
    .sidebar .sidebar-menu ul li a{ width: 50px; overflow: hidden; height: 50px; position: relative; font-size: 0;}
    .sidebar .sidebar-menu ul li a i{ font-size: 16px; position: absolute; top: 17px; left: 17px;}
    .sidebar .sidebar-menu ul li a .badge{ display: none;}
    .sidebar .sidebar-menu ul li{ padding: 0 5px;}
    .sidebar .sb-title{ font-size: 0; padding: 12px 15px; text-align: center;}
    .sidebar .sb-title i{ font-size: 16px;}
    .profiles-wrap .sidebar{ width: 60px;}
    .profiles-wrap .pp-main{ float: none; width: auto; overflow: hidden;}
    .donate-content{ background: #090f26}
    .donate-content .donate-desc .desc{ padding-right: 0;}
    .subs-block .sbk-right .col-sm-9{ width: 60%;}
    .subs-block .sbk-right .col-sm-3{ width: 40%;}
    .alert-bottom .alert-bottom-content{ width: 450px; margin-right: 20px;}
    .alert-bottom{ font-size: 14px;}
    .alert-bottom .ab-btn .btn-domain{ font-size: 14px;}
}
@media screen and (min-width: 991px) and (max-width:1199px){
    /*header .header-logo{ float: none; margin-bottom: 10px; margin-top: 0;}
    #menu{ position: absolute !important;}*/
    #menu{ border-top: none; float: left; position: relative; top: auto; left: auto; margin-left: 20px;}
    #search{ width: 135px;}
    #menu ul.top-menu li a{ padding: 0;}
    #menu .sub-container{ top: 55px;}
    .logged .avatar{ width: 20px; margin-left: 0;}
    .logged .avatar img{ width: 0;}
    #search input.search-input:focus{ position: absolute; width: 250px; left: -115px;}
    #main{ padding-top: 70px;}
}
@media screen and (max-width: 991px){
    #menu ul.top-menu li a{ height: 40px; line-height: 40px; padding: 0 15px; margin: 0 5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
    .container{ width: 100%;}
    .btn-login{ border-bottom: none !important;}
    .mobile-menu, .mobile-search{ display: inline-block; cursor: pointer; height: 34px; width: 34px; text-align: center; background: #eee; border-radius: 3px; position: absolute; top: 17px; left: 15px;}
    .mobile-menu i, .mobile-search i{ font-size: 18px; line-height: 32px;}
    .mobile-menu.active, .mobile-search.active{ background: #666;}
    .mobile-menu.active i, .mobile-search.active i{ color: #fff;}
    .mobile-search{ left: auto; right: 95px;}
    .logged .avatar img{ display: none;}
    .logged .avatar{ overflow: visible; margin: 0; padding: 5px 10px;}
    .logged .avatar .fa{ position: relative; top: auto; left: auto; font-size: 16px;}
    .logged .btn-feed{ padding: 6px 8px;}
    header{ position: relative !important; display: block !important; top: auto !important;}
    #main{ margin-top: 0 !important;}
    header .header-logo{ margin: 0; position: absolute; top: 13px; left: 50%; margin-left: -77px;}
    #menu{ border-top: none; bottom: auto; top: 70px; right: 15px; left: 15px; background: #222; display: none;}
    #menu ul.top-menu{ width: 100%;}
    #menu ul.top-menu li{ float: none; display: block; margin: 0; border-bottom: 1px solid #333;}
    #menu ul.top-menu li.active a{ border-bottom: none;}
    #menu ul.top-menu li a{color: #79C142; display: block;}
    #menu .sub-container{ width: 100%; margin-top: -10px;}
    #menu .sub-container{ display: block !important; position: relative; top: auto; left: auto; background: none; border: none;}
    #menu .sub-container ul.sub-menu li{ border-bottom: none; width: 23%; margin: 1%;}
    #menu .sub-container ul.sub-menu li a{ height:28px; line-height: 28px; font-size: 12px; color: #ccc !important; background: #282828; width: auto; font-weight: normal;}
    header .container{ height:70px;}
    #search{ float: none; margin-top: 0; position: absolute; bottom: -64px; left: 0; right: 0; width: auto; padding: 15px; background: #fff; margin: 15px; display: none;}
    .search-suggest{ left: 0; right: 0; width: 100%; top: 33px;}
    #main{ padding-top: 0px !important; margin-top: 0 !important;}
    #menu.active{ position: absolute;}
    .movies-list .ml-item{ width: 23%; margin: 1%; height: 260px;}
    .movies-list .ml-item .mli-info h2{ font-weight: bold; font-size: 14px;}
    #slider{ margin-right: 0; height: 250px; width: 100%;}
    #slider .slide-caption{ right: 20px !important;}
    .top-content{ height: auto;}
    #top-news{ position: relative; width: 100%; display: none;}
    #top-news .top-news-content{ position: relative; top: auto;}
    #top-news .top-news-content .tab-pane .tnc-apps .tnca-block span{ display: inline-block;}
    #top-news .top-news-content .tab-pane .tnc-apps .tnca-block{ padding: 12px 8px 12px 38px;}
    #top-news .top-news-content .tab-pane .tnc-apps .tnca-block i{top: 6px;}
    #top-news .top-news-content ul.tn-news li{ padding: 14px 12px;}
    #cluetip-1, #cluetip{ display: none !important;}
    .movies-list-wrap .ml-title span{ height: 30px; line-height: 30px; font-size: 14px; font-family: Arial, Helvetica, sans-serif;}
    .filter-toggle{ height: 30px; line-height: 30px;}
    .cat-more{ margin-top: 5px;}
    .movies-list-wrap{ margin-bottom: 20px;}
    footer{ margin-top: 20px;}
    .movies-list-wrap .ml-title span{ background: none; padding: 0; color: #333; font-weight: bold; font-size: 16px;}
    #mv-info .mvi-cover{ height: 350px;}
    #mv-info .mvi-content .mvic-btn{ position: relative; left: auto; top: auto; right: auto; bottom: auto; margin: 0 -1% 20px;}
    #mv-info .mvi-content .mvic-btn .btn-block{ width: 48%; margin: 0 1% 0; float: left; display: none}
	.page-detail .mobile-btn{}
	#mv-info .mvi-content{ margin-top: 0; padding-top: 0;}
	.mobile-btn{ display: block;}
    .mv-rating{ clear: both; margin-top: 0px; position: absolute; top: 70px; right: 10px; padding: 10px 20px 20px; border: 1px solid #efefef; background: #fff; text-align: center; width: 150px;}
    .mv-rating .star-rating .caption{ display: block; text-align: center; padding-left: 0; margin-top: 5px;}
    .mv-rating .btn{ float: none; margin-right: 0 !important; margin-bottom: 0px !important; background: none !important; border: none !important; color: #333; padding: 10px !important; font-size: 50px; line-height: 1em;}
    .mv-rating label{ margin-bottom: 0px;}
    #mv-info .mvi-content .mvic-desc{ float: none; padding-left: 160px; margin-right: 0; width: 100%; padding-right: 160px;}
    .mlw-related .movies-list .ml-item{ width: 23%; height: 300px;}
    .modal-trailer .modal-dialog{ width: 95%;}
    .jwplayer,#123movies-player iframe{ height: 400px !important;}
    .logged .logged-feed{ position:static;}
    .logged{ position: static;}
    .logged .dropdown-menu{}
    .logged .logged-feed .dropdown-menu{ left: 0; right: 0; margin: 0 14px; width: auto; border-radius: 0; top: 69px;}
    .logged .logged-feed .dropdown-menu > li > a{ width: auto;}
    .infopage .ip-left{ float: none; width: 100%; margin: 0;}
    .infopage .ip-right{ float: none; width: 100%; margin-top: 20px;}
    .infopage .uc-form{ max-width: 500px;}
    .subs-block .subs-icon{ left: 15px; top: 10px; width: 70px; height: 70px;}
    .subs-block .sbk-left{ padding-left: 80px; width: 400px;}
    .subs-block .sbk-right{ padding-left: 420px;}
    .alert-bottom .alert-bottom-content{ width: 100%; margin-right: 0; padding-right: 80px;}
    .alert-bottom .ab-btn{ margin-top: 10px;}
    .alert-bottom .ab-title{ margin-bottom: 0;}
    .alert-bottom .alert-bottom-close i{ margin-top: 10px;}
}
@media screen and (max-width: 799px){
    .container{ width: 100%;}
    .movies-list-wrap .ml-title .nav-tabs{ clear: both; float: none; margin-left: 0; overflow: hidden; margin-top: 10px; width: 100%;}
    #menu{ left: 0; right: 0;}
    #search{ margin: 0; padding: 15px; padding-top: 5px; top: 70px; bottom: auto;}
    #mv-info .mvi-content .mvic-thumb{ width: 100px; height: 150px;}
    #mv-info .mvi-content .mvic-desc{ padding-left: 120px; padding-right: 145px;}
    .mv-rating{ width: 130px; padding: 10px 0 20px;}
    #mv-info .mvi-content h3{ font-size: 18px;}
    #mv-info .mvi-content .mvic-info .mvici-left{ width: 100%; float: none; margin-right: 0;}
    #mv-info .mvi-content .mvic-info .mvici-left{ width: 100%; float: none;}
    .mlw-related .movies-list .ml-item{ width: 23%; height: 240px;}
    #mv-info .mvi-content .mvic-thumb{ display: none;}
    #mv-info .mvi-content .mvic-desc{ padding-right: 0; padding-left: 0;}
    #mv-info .mvi-cover{ height: 300px;}
    #mv-info .mvi-content .mvic-btn .btn-block{ font-size: 14px;}
    .mv-rating{ display: none;}
    #mv-info .mvi-content .mvic-btn{ margin-bottom: 10px; overflow: hidden;}
    .modal-trailer .modal-dialog .modal-body .modal-body-trailer iframe{ height: 300px !important;}
    .logged .logged-feed .dropdown-menu{ margin: 0; border-left: 0; border-right: 0;}
    .faq-div p{ padding-left: 0; margin-top: 10px;}
    .faq-div p img{ max-width: 100%; height: auto;}
    .nvc-thumb{ height: 300px;}
    .news-list .news-list-item .info h2{ font-size: 18px; line-height: 20px;}
    .donate-content .donate-block-ul .donate-block{ width: 48%; margin-bottom: 10px; }
    .donate-content .donate-block-ul .donate-block .note{ height: 60px; overflow: hidden;}
    .subs-block .sbk-left{ float: none; width: 100%;}
    .subs-block .sbk-right{ padding-left: 80px; margin-top: 20px;}
    .subs-block .sbk-right .col-sm-9, .subs-block .sbk-right .col-sm-3{ float: left;}
    footer .footer-one{ display: none;}
    footer .footer-subs{ float: right;}
    footer .footer-copyright{ float: left; width: 50%; text-align: left; padding-top: 10px;}
    #filter .fc-main, #filter .col-sm-10{ float: none; width: 100%;}
    #filter ul.fc-main-list li{ width: 50%; float: left;}
    .social-home{ padding: 10px; height: 40px;}
    .social-home span.sh-text{ display: none;}
    .social-home .addthis_native_toolbox{ width: 100%; float: none; display: block;}
    .social-home #atstbx .addthis_button_facebook_send, .social-home #atstbx .addthis_button_facebook_share{ display: none !important;}
    .modal-error .modal-dialog{ width: auto;}
    footer .footer-copyright{ width: 40%;}
    footer .footer-copyright img{ max-width: 80%;}
    footer .footer-subs{ width: 60%;}
    .footer-tags{ margin: 30px 0 0px;}
    .alert-bottom .ab-title{ text-transform: none;}
}
@media screen and (max-width: 640px){
    #slider .slide-caption{ display: none;}
    #slider{ height: 180px;}
    .movies-list .ml-item{ height: 200px;}
    .survey{ background: #fff;}
    #menu .sub-container ul.sub-menu li{ border-bottom: none; width: 31.3%; margin: 1%;}
    #pop-register p.desc{ display: none;}
    .modal-cuz .modal-dialog .modal-body{ padding: 0 20px 20px;}
    .survey h5{ font-size: 16px;}
    .mlw-related .movies-list .ml-item{ width: 31.3%; height: 240px;}
    #bread{ display: none;}
    #mv-info .mvi-cover{ height: 220px;}
    .modal-trailer .modal-dialog .modal-body .modal-body-trailer iframe{ height: 250px !important;}
    .modal-trailer .modal-dialog .modal-body{ padding: 0 !important;}
    .modal-trailer .modal-dialog .modal-header h4{ font-size: 14px; font-family: Arial, Helvetica, sans-serif;}
    .jwplayer,#123movies-player iframe{ height: 350px !important;}
    #list-eps .le-server .les-title{ float: none; width: 100%; padding-top: 0; margin-bottom: 5px;}
    #list-eps .le-server .les-content{ padding-left: 0;}
    #list-eps .le-server{ padding: 10px 15px;}
    #schedule-eps .se-left{ float: none; font-size: 14px; display: block; text-align: center; margin-bottom: 10px;}
    #schedule-eps .se-right{ float: none; display: block; width: 100%; text-align: center;}
    #schedule-eps ul li .se-left{ font-weight: 600}
    .modal-error .modal-body .btn{ width: 100%; margin: 0; margin-bottom: 10px;}
    footer .footer-subs, footer .footer-copyright{ width: 100%; float: none; margin-bottom: 20px;}
    footer .footer-subs .footer-link-head{ display: none;}
    footer .footer-copyright{ text-align: center;}
    .footer-tags{ margin: 0;}
    footer .footer-copyright img{ max-width: 50%;}
    #bar-player .bp-view{ display: none;}
    #bar-player .btn span{ display: none;}
    #bar-player .btn{ font-size: 0; padding: 10px 15px; border-right: 1px solid rgba(255,255,255,0.1); margin-right: 0;}
    #bar-player .btn .fa{ font-size: 16px; margin-right: 0; width: 16px; text-align: center;}
    .popover-like .btn{ font-size: 12px !important;}
    .popover-like .btn .fa{ font-size: 12px !important; width: 12px !important;}
    .popover-like{ left: 10px;}
    .popover-like .arrow{ left: 27% !important;}
	.mobile-btn .btn{ font-size: 14px;}
}
@media screen and (max-width: 550px){
    #mv-info .mvi-content .mvic-btn .btn-block{ width: 48%; margin-bottom: 10px;}
    #mv-info .mvi-content .mvic-btn{ margin-bottom: 0;}
    #mv-info .mvi-content .mvic-btn .btn-03{ width: 98% !important;}
    #mv-info .mvi-content .mvic-btn .btn-01 i, #mv-info .mvi-content .mvic-btn .btn-02 i{ display: none;}
    #mv-info .mvi-content .mvic-info .mvici-left{ width: 65%; float: left;}
    .jwplayer,#123movies-player iframe{ height: 250px !important;}
    .news-list .news-list-item .info h2{ font-size: 16px; line-height: 18px;}
    .news-list-item .thumb img{ width: 200px;}
    .news-list .news-list-item .info{ padding-left: 220px;}
    .news-list .news-list-item .info .desc{ display: none;}
    .news-list-item-lg .thumb{ height: 200px;}
    .donate-content .donate-block-ul .donate-block{ width: 98%; margin-bottom: 10px;}
    .donate-content .donate-block-ul .donate-block .note{ min-height: 0;}
    .donate-content .donate-block-ul .donate-block .donate-logo img{ max-width: 50%;}
    .modal-subc .modal-body{ padding: 20px 30px 30px;}
}
@media screen and (max-width: 520px){
    .movies-list .ml-item{ height: 250px; margin: 1%; width: 31.3%;}
    #pop-login .modal-dialog, #pop-register .modal-dialog, #pop-forgot .modal-dialog{ margin: 2% auto; width: 96%;}
    #logo{ width: 103px; height: 27px;}
    header, header .container{ height: 50px;}
    .mobile-menu, .mobile-search{ top: 8px;}
    #top-user .top-user-content.guest{ margin-top: 8px;}
    header .header-logo{ left: 70px; top: 10px; margin: 0;}
    #menu{ top: 50px;}
    #search{ top: 50px;}
    #filter .col-sm-2, #filter .col-sm-4{ display: block; float: none; width: 100%; clear: both;}
    #filter .fc-title{ clear: both; display: block; width: 100%;}
    #filter .fc-release{ margin-left: 0;}
    #mv-info .mvi-cover{ height: 200px;}
    #mv-info .mvi-view{ right: 10px; bottom: 5px; font-size: 14px;}
    #mv-info .mvi-cover:before{ width: 70px; height: 70px; margin-top: -35px; margin-left: -35px;}
    .modal-trailer .modal-dialog .modal-body .modal-body-trailer iframe{ height: 200px !important;}
    .logged .logged-user{ margin-top: 10px;}
    .logged .logged-feed{ margin-top: 8px;}
    .logged .btn-feed{ font-size: 18px;}
    .logged .btn-logged span.feed-number{ left: 18px;}
    .logged .logged-feed{ margin-top: 4px;}
    .logged .logged-user{ margin-top: 8px;}
    .logged .logged-feed .dropdown-menu{ top: 49px;}
    .nvc-thumb{ height: 250px;}
    .news-view-content h1.title{ font-size: 18px;}
    .news-list-item .info h2{ font-size: 14px;}
    .movies-embed .me-li .badge{ display: none;}
    .news-list-head{ padding: 0 !important; text-align: center;}
    .news-list-head .nlh{ margin-right: 0 !important; display: block !important; width: 100%; float: none !important;}
    .box .box-head .nav-tabs li a{ font-size: 12px; padding: 0 10px;}
    .box .box-head .nav-tabs{ width: 100% !important; display: block !important; float: none !important; background:rgba(0,0,0,0.2);}
    footer .footer-subs{ float: none; width: 100%;}
    footer .footer-copyright{ float: none; width: 100%; padding-top: 20px;}
    #filter .cs10-top .fc-filmtype{ float: none; width: 100%;}
    #filter .cs10-top .fc-quaility{ float: none; margin-left: 0;}
    .alert-bottom .alert-bottom-close{ width: auto; padding: 0 12px; top: 0;}
    .alert-bottom .alert-bottom-close i{ font-size: 20px; margin-top: 10px;}
    .alert-bottom .alert-bottom-close p{ display: none;}
    .alert-bottom .alert-bottom-content{ padding-right: 0px;}
    .alert-bottom .desc{ padding-right: 30px; font-size: 12px;}
    .alert-bottom .ab-title{ font-size: 15px; margin-bottom: 10px; text-transform: none;}
    .alert-bottom .ab-btn .btn-domain{ font-size: 12px; padding: 5px 8px;}
    .alert-bottom .ab-btn .ab-or{ margin: 0 3px;}
    .alert-bottom{ padding: 10px 0;}
    .alert-bottom .ab-btn{ margin-bottom: 5px; margin-right: 0;}
}
@media screen and (max-width: 479px){
    .movies-list .ml-item{ height: 250px; margin: 1.5%; width: 47%;}
    #slider{ height: 140px;}
    #footer .col-lg-4 img{width: 80%;}
    #footer .col-lg-4 p{ font-size: 12px;}
    #menu ul.top-menu li a{ padding: 0 8px;}
    #menu .sub-container ul.sub-menu li{ border-bottom: none; margin: 0; width: 33.33%;}
    #menu .sub-container ul.sub-menu li a{ margin:0; padding: 0; background: none !important; padding-left: 8px;}
    #menu .sub-container ul.sub-menu{ padding: 5px;}
    .movies-list-wrap .ml-title .nav-tabs li a{ min-width: 50px;}
    .mlw-related .movies-list .ml-item{ width: 48%; height: 240px;}
    #mv-info .mvi-content{ padding: 10px;}
    #mv-info .mvi-content .mvic-info .mvici-left, #mv-info .mvi-content .mvic-info .mvici-right{ width: 100%; float: none;}
    #mv-keywords{ padding: 10px; font-size: 12px;}
    #mv-keywords a{ margin-right: 10px;}
    #mv-info .mvi-content .block-trailer{ display: block; overflow: hidden;}
    #mv-info .mvi-content .block-trailer a{padding: 6px 10px; width: 100%;}
    #mv-info .mvi-content h3{line-height: 1.3em; margin-right: 0; padding-right: 0; margin-bottom: 10px; display: block;}
    #mv-info .mvi-cover{ height: 180px;}
    .modal-trailer .modal-dialog .modal-body .modal-body-trailer iframe{ height: 180px !important;}
    .jwplayer,#123movies-player iframe{ height: 200px !important;}
    #bar-player .bp-view{ display: none;}
    .nvc-thumb{ height: 200px;}
    .news-list-item .thumb{ float: none; margin-bottom: 10px; width: 100%;}
    .news-list-item .thumb img{ width: 100%;}
    .news-list .news-list-item .info{ padding-left: 0;}
    .profiles-wrap .sidebar{ display: none;}
    .mlw-profiles .movies-list .ml-item{height: 200px;}
    .apps-content .ac-block{ width: 98% !important;}
    .donate-popup .modal-dialog{ margin: 30px 15px;}
    .modal-subc .modal-body .subc-icon img{ height: 40px; width: auto;}
    .modal-subc .modal-body .subc-input .form-control{ text-align: left; padding-right: 20px;}
    .subs-block .sbk-right .col-sm-9, .subs-block .sbk-right .col-sm-3{ float: none; width: 100%; padding-right: 15px; margin-top: 10px;}
    .subs-block .sbk-right{ margin-top: 10px; padding-left: 0;}
    .subs-block{ margin: 15px auto;}
    #filter .col-sm-2{ margin-bottom: 5px;}
    #filter ul.fc-main-list li{ width: 49% !important; margin-right: 1%;}
    .social-home #atstbx .addthis_button_google_plusone{ display: none !important;}
    .social-home #atstbx .addthis_counter{ float: right !important;}
	.mobile-btn .btn{ font-size: 13px;}
	.mobile-btn .btn i{ display: none;}
}
@media screen and (max-width: 359px){
    .movies-list .ml-item{ height: 230px;}
    .install-app-body, .install-app-body header{ margin-top: 80px;}
    .install-app-body #install-app{ height: 80px;}
    #install-app .ia-icon img{ width: 50px;}
    #install-app .ia-info{ padding-left: 60px;}
    #install-app .ia-info .ia-title{ font-weight: 400; font-size: 14px; margin-top: -2px;}
    #install-app .ia-info p{ font-size: 12px;}
    #filter ul.fc-main-list li{ width: 100% !important; margin-right: 0;}
}