@charset "UTF-8";
/* Base Reset */
* {margin: 0;padding: 0;}
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;overflow-y: scroll; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;background:#390336}
:focus { outline:0;}
img { border:0;}
a img { vertical-align: middle;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
.clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline;}
.none { display:none;}
.hidden { visibility:hidden;}
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix{display: block; *zoom:1;}

body,p { font:12px/1 Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial; color: #333; font-family: "Microsoft YaHei";}
body {background-color:#EDEADF;}
.copymail{
	color: #7A5678;
}

a{ text-decoration: none; color: #333;}
a:hover{ text-decoration:underline; color: #EC3C1B; }
.wp-wrapper { width: 100%; }
.wp-wrapper .wp-inner { width:auto; /* max-width: 1120px; */ margin:0 auto; }

.news_list {}
.news_list li.news { line-height:24px;padding-left:0px; } /**标题图标**/
.news_list li.news span.news_title { float:left;}
.news_list li.news span.news_meta { float:right; margin-left:2px;}
.news_list li.news p {clear:both; line-height:20px;}
.news_list li.news p a { }
.news_list li.news p a:hover { text-decoration:underline;}

/**头部**/
.wp-header {background:#63065f; }
.wp-header .wp-inner{width:1190px; background:none;}
 /**
  * [站点LOGO]
  */
.logo-panel { float: left;}
.logo-window { padding: 6% 0; margin-left:10px;}
.logo-window img { vertical-align: middle;}

.wp-head-tools { float: right;}
/**
 * [语言选择]
 */
.lang-panel { /* width: 211px; */ float:right; height:39px;margin-right: 45px;}
.lang-window { }
.lang-window .wp-menu .menu-item { float: left;}
.lang-window .wp-menu .menu-item a.menu-link { display: inline-block; margin:0 6px; height: 39px; line-height: 39px; font-size: 12px; color: #cdbccc; text-decoration: none;}
.lang-window .wp-menu .menu-item a.menu-link:hover {  color: #fff;}
/**
 * [搜索]
 */
 /*标志*/
.search-panel { float: right; clear: right; width: 14%; margin-right: 45px; margin-bottom: 12px; margin-top: 38px;position:relative;}
.searchbtn{width:38px;height: 28px; border:0; outline: 0; background:url(../images/sous.png) no-repeat center; position:absolute;right:0px; top:0px;z-index:120; cursor:pointer;}

.search-window {padding-left:287px;background: url(../images/by.png) no-repeat 1px -4px; width:45px;border:0px solid red;  background-color:transparent; overflow: hidden; position:absolute;right:0px; top:0px; z-index:100;}/*#72596C*/
.wp-search {  position: relative;}
.wp-search form { display: block;}
.wp-search .search-input { margin-left:10px; margin-right: 40px; }
.wp-search .search-input input.search-title { width: 100%; height: 18px; line-height: 18px; border:0; outline: 0; background: none; color: #c8c2af; font-size: 14px; padding: 5px 0;}
.wp-search .search-btn { width: 40px; height: 28px; position: absolute; right: 0; top:50%; margin-top: -14px;}
.wp-search .search-btn input.search-submit { width: 100%; height: 28px; border:0; outline: 0; background:url(../images/sous.png) no-repeat center; cursor: pointer;}
/**
 * [顶部副导航]
 */
.top-nav-panel { width:376px; float:left; height:39px; margin-left: 12px;}
.top-nav-panel .wp-menu .menu-item { float: left; display: inline-block;}
.top-nav-panel .wp-menu .menu-item a.menu-link { display: inline-block; margin: 0 6px; height: 39px; line-height: 39px; color: #cdbccc; font-size: 12px; text-decoration: none;}
.top-nav-panel .wp-menu .menu-item a.menu-link:hover{  color: #fff;}

#naver{background: #575757;}
/**主导航**/
.wp-navi { border-top: 1px solid #0D243F; display:none;}
.main-nav-panel {}
.menu-switch-arrow { display: none;}
.main-nav-panel .wp-menu { margin:0 auto; }
.main-nav-panel .wp-menu .menu-item { display: inline-block; float: left; position: relative; z-index: 100; }
.main-nav-panel .wp-menu .menu-item  >.menu-switch-arrow{background: url(images/navj.jpg) no-repeat 0px 0px;}
.main-nav-panel .wp-menu .menu-item a.menu-link { display: inline-block; padding:0 8px; height: 40px; line-height: 40px; color: #fff; font-size: 16px; }
.main-nav-panel .wp-menu .menu-item a.menu-link:hover { text-decoration: none; color: #fff; background-color: #949494}
.main-nav-panel .sub-menu {background-color: #f2f2f2; display: none; position: absolute; left: 0; top: 40px; z-index: 100;}
.main-nav-panel .sub-menu .sub-item { position: relative; white-space: nowrap; vertical-align: top; _zoom:1;border-bottom: 1px solid #ddd;}
.main-nav-panel .sub-menu .sub-item a { display: block; color: #272727; height: 26px; line-height: 26px; padding:0 10px; display: block; }
.main-nav-panel .sub-menu .sub-item a:hover { color: #e99839; display: block;}
.main-nav-panel .sub-menu .sub-menu { left: 100%; top: 0; z-index: 200; background-color: #e6e6e6; border-left: 1px solid #ddd;}
/**slide导航**/
.wp-navi .navi-slide-head { display: none; padding:0 10px; height: 40px;}
.wp-navi .navi-slide-head .navi-slide-title { display: inline-block; float: left; font-weight: normal; color: #212121; font-size: 18px; line-height: 40px;}
.wp-navi .navi-slide-head .navi-slide-arrow { display: block; width: 34px; height: 40px; float: right; background: url(img/menu-icon-arrow.png) no-repeat 50%;}

/**aside导航**/
.navi-aside-page {position: fixed;}
.navi-aside-toggle { display: block; width:34px; height: 34px; background: url(img/menu-icon-arrow-white.png) no-repeat 50%; cursor: pointer; position: absolute; left: 0; top:50%; margin-top: -17px; display: none;}
.wp-navi-aside { display: none; position: fixed; left: 0; top:0; bottom: 0; right: 0; z-index: 1000; }
.wp-navi-aside .navi-aside-mask { width: 100%; height: 100%; background: rgba(0,0,0,.1); }
.wp-navi-aside-active { display: block;}
.wp-navi-aside .aside-inner {position: fixed;top: 0;bottom: 0;left: -216px;z-index: 1002;width: 216px;max-width: 100%;background: #252525; overflow-y: auto;-webkit-overflow-scrolling: touch; }
.wp-navi-aside .aside-inner:after {content: "";display: block;position: absolute;top: 0;bottom: 0;right: 0;width: 1px;background: rgba(0,0,0,.6);box-shadow: 0 0 5px 2px rgba(0,0,0,.6);}
.wp-navi-aside .navi-aside-head { margin-top: 0;border-top: 1px solid rgba(0,0,0,.3);background: #333;box-shadow: inset 0 1px 0 rgba(255,255,255,.05);text-shadow: 0 1px 0 rgba(0,0,0,.5);}
.wp-navi-aside .navi-aside-head .navi-aside-title { padding:7px 10px; font-weight: normal; color: #777; font-size: 14px;}
.wp-navi-aside .navi-aside-wrap { color: #aaa;border-bottom: 1px solid rgba(0,0,0,.3);box-shadow: 0 1px 0 rgba(255,255,255,.05);}
.wp-navi-aside .navi-aside-wrap li { position: relative;}
.wp-navi-aside .navi-aside-wrap li .menu-switch-arrow { display:block; cursor: pointer; width:50px; height: 35px; position: absolute; right: 0; top:0px; color: #f6f6f6; font-size: 14px; background: url(img/menu-switch-arrow.png) no-repeat 22px -25px;}
.wp-navi-aside .navi-aside-wrap li .menu-open-arrow { background-position: 20px 12px;}
.wp-navi-aside .navi-aside-wrap li a { display: block; text-decoration: none; color: #c7c7c7; font-size: 14px; line-height: 20px; padding: 8px 30px 8px 15px;border-top: 1px solid rgba(0,0,0,.3);box-shadow: inset 0 1px 0 rgba(255,255,255,.05);text-shadow: 0 1px 0 rgba(0,0,0,.5);}
.wp-navi-aside .navi-aside-wrap li a:hover,.wp-navi-aside .navi-aside-wrap li a:focus { background-color: #404040; color: #fff; outline: 0;}
.wp-navi-aside .navi-aside-wrap li .sub-menu { display: none; background-color: #2e2e2e;}
.wp-navi-aside .navi-aside-wrap li .sub-menu li a { padding-left: 20px; }
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu { background-color: #333}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu li a { padding-left: 30px;}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu { background-color: #343434;}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu li a { padding-left: 40px;}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu .sub-menu { background-color: #373737;}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu .sub-menu li a { padding-left: 50px;}
/**焦点图片**/
.wp-focus { background-color: #ececec;}
.fcous-panel { width: 100%;}
.fcous-panel .focus-window { width: 100%; overflow: hidden;}

/**
 * 主体
 */
 #container .wp-inner, #container-m .wp-inner{width: 1190px;}
 #container-m { background:#E0D9C9; }
 
.cont-1 {max-width:1400px;margin:0 auto;}
.cont-1 .focus-box{margin:0 auto;}
.cont-2{ /* height:315px; */ background-color:#edebdf;}
.cont-2 .cont-2-l{ width: 772px; float:left; /* margin-left:40px; */ margin-top:30px;}
.cont-2 .cont-2-r{ width: 350px; float:right; /* margin-right:40px; */ margin-top:30px;}
.cont-2 .cont-2-r .tt{ /* margin-bottom:25px; */}
.cont-3{ height:240px; background-color:#e0d9c9;}
.cont-3 .cont-3-l{ width: 624px; float:left; /* margin-left:40px; */margin-top:69px;}
.cont-3 .cont-3-r{ width: 553px; float:right; /* margin-right: 40px; */ margin-top:80px;}

.cont-3 .cont-3-r .iconcon{float:left;text-align:center;margin-left: 35px;text-decoration:none;}
.cont-3 .cont-3-r .iconcon .icon{display:inline-block;width:50px; height:50px; background:url(../images/icon.png) no-repeat;opacity:0.6; filter:alpha(opacity=60);}
.cont-3 .cont-3-r .iconcon:hover .icon{opacity:1; filter:alpha(opacity=100);}
.cont-3 .cont-3-r .iconcon p{font-size: 14px; line-height:25px;color:#5A4820;}
.cont-3 .cont-3-r .iconcon.i1 .icon{background-position: -508px -7px;}
.cont-3 .cont-3-r .iconcon.i2 .icon{background-position: -10px -7px;}
.cont-3 .cont-3-r .iconcon.i3 .icon{background-position: -106px -7px;}
.cont-3 .cont-3-r .iconcon.i4 .icon{background-position: -204px -7px;}
.cont-3 .cont-3-r .iconcon.i5 .icon{background-position: -312px -7px;}
.cont-3 .cont-3-r .iconcon.i6 .icon{background-position: -407px -7px;}

.cont-3 .cont-3-r .cont-3-r-1{ width: 490px; background:url(../images/tb-line.jpg) repeat-x 0 bottom; margin-bottom:15px;}
.cont-3-r-1 .wp_nav .nav-item a{ font-size:13px; color:#514014;}
.cont-3-r-1 .wp_nav .nav-item a:hover{ color:#f90;}
.cont-3-r-1 .wp_nav .i1 a{ background:url(../images/tb-1.jpg) no-repeat 0 center;}
.cont-3-r-1 .wp_nav .i2 a{ background:url(../images/tb-2.jpg) no-repeat 0 center;}
.cont-3-r-1 .wp_nav .i3 a{ background:url(../images/tb-3.jpg) no-repeat 0 center;}
.cont-3-r-1 .wp_nav .i4 a{ background:url(../images/tb-4.jpg) no-repeat 0 center;}
.cont-3-r-1 .wp_nav .i5 a{ background:url(../images/tb-5.jpg) no-repeat 0 center;}
.cont-3-r-1 .wp_nav .nav-item a span.item-name{ padding: 15px 22px 15px 30px;}
.cont-3-r-1 .wp_nav .i5 a span.item-name{ padding:15px 0px 15px 30px;}

.cont-5{margin-top:10px;}
.cont-5 .cont-5-l{ width: 772px; float:left; /* margin-top:69px; */}
.cont-5 .cont-5-r{ width: 335px; float:right; /* margin-top:60px; */}
.cont-5 .zdy-2 li{border-top-color:#c1b394;}

.post-8 .con{border-top:3px solid #63065f;}

.post-22{}
.post-22 .con{border-top:3px solid #63065F;}
.post-22 .news_title{font-size:16px;margin: 20px 0px 15px 0px;}
.post-22 .news_title a{color:#63065f;}
.post-22 .news_meta{line-height:20px;height:40px; overflow:hidden;}

.post-23{margin-top: 40px;}
.post-23 .newsw{position:relative;height:174px;}
.post-23 .newsw > a{position:absolute;left:0px; top:0px; z-index:98}
.post-23 .newsw > a  .imgs{width:335px; height:174px;background-size:cover;}
.post-23 .newsw > a img{width:335px; height:174px;}
.post-23 .newsw .news_title{position:absolute;bottom:8px; left:0px; z-index:100;width:100%;text-align:center;color:#fff;}
.post-23 .newsw .news_title a{line-height: 20px;color:#fff;font-size:16px;}
.post-23 .newsw .title_bg{position:absolute;bottom:0px; left:0px; z-index:99;height:40px;width:100%; background:url(../images/img.png) repeat-x bottom left;text-align:center;}


.wp-container { }
.wp-container .wp-inner {width:1190px;margin-bottom:10px; }
.wp-main-page .content { width:70%; float: left;}
.wp-main-page .content .cbox-left { width:48.5%; float: left;}
.wp-main-page .content .cbox-right { width: 48.5%; float: right;}
.wp-main-page .sidebar { width:28%; float: right;}
.wp-main-page .sidebar .sbox { }

.wp-post {margin-bottom: 10px;}
.wp-post .post-head { height: 33px; border-bottom: 1px solid #ddd; margin-bottom: 7px;}
.wp-post .post-head .head-bar { position: relative;}
.wp-post .post-head .post-title { display: inline-block; height: 32px; line-height: 32px; font-size: 16px; font-weight: normal;}
.wp-post .post-head .post-more { height: 20px; line-height: 20px; position: absolute; right: 0; top: 50%; margin-top: -10px;}
.wp-post .post-head .post-more a { color: #424242; text-decoration: none;}
.wp-post .post-body {}
.post-news .news-item { height: 24px; line-height: 24px; vertical-align: top; overflow: hidden; position: relative;}
.post-news .news-item .meta-title { display: block; margin-right: 76px; overflow: hidden;}
.post-news .news-item .meta-time { display: block; text-align: right; width: 80px; height: 20px; line-height: 20px; position: absolute; right: 0; top:50%; margin-top: -10px; color: #999; }

/**列表页**/
	.wp-banner { background-color: #ececec;}
	.wp-banner .wp-inner { position: relative;}
	.wp-banner .column-name { display: none; height: 24px; line-height: 24px; font-size: 20px; color: #fff;text-shadow:2px 2px 2px #000000; overflow: hidden; position: absolute; left: 6px; right: 6px; top :50%; margin-top: -12px;}
	/**列表页banner图**/
	.banner img { width: 100%; vertical-align: top; }
	
.wp-column-menu { width: 216px;  position: relative; float: left; margin-right: -234px; margin-left:0px; margin-top:-64px;}
.wp-column-news { float: right; width: 100%;}
.wp-column-news .column-news-box { margin-left: 273px; margin-right: 40px; margin-top:20px;}

/**栏目列表**/
.column-head { background: #63065f; line-height: 41px; border-bottom: 3px solid #e09f51;}   /**位置栏目背景**/
.column-head .column-anchor {padding: 10px;}
.column-head .column-anchor .column-switch { display: block; width: 30px; height: 24px; float: right; display: none; background: url(img/menu-dot.png) no-repeat center; margin-top:8px;}
.column-head .column-anchor h3.anchor-title { display: inline-block; float: left; font-size: 19px; font-weight:normal; color: #fff; }		/**位置栏目字体**/

.column-body{background:#fff;margin-bottom:8px;}

.acon .sudy-select { display:inline-block; /* position:relative; */ z-index:100;}
.acon .sudy-select .select-name { display:inline-block;width:218px; line-height:59px; padding:0px; padding-left: 21px; background:url(../images/xglj.jpg) no-repeat -1px top;cursor:pointer;border:1px; /* text-indent:-999em; */font-family:"Simsun"; font-size: 15px;color:#63065F;}
.acon .select-down .select-name { }
.acon .select-down .select-open { background-image:;}
.acon .select-up .select-name { background-image:;}
.acon .select-up .select-open { background-image:;}
.acon .sudy-select .select-list { border:1px solid #ececec; position:absolute; left: -2px; background-color:#fff; display:none; z-index:100;margin-top:-2px; _margin-top:_2px; width: 218px; }
.acon .sudy-select .select-list li,.acon .sudy-select .select-list li a,.acon .sudy-select .select-list li p{line-height:34px; cursor:pointer; white-space:nowrap;text-decoration:none;}
.acon .sudy-select .select-list li p{border: 1px solid #e6e6e6;margin-top:-1px; padding:2px; padding-left:48px;font-family:"Simsun" ; background-position: 18px 11px; font-size: 12px; background:#fff url(../images/list-li.jpg) no-repeat 35px center; font-family:"宋体"; color:#444;}
.acon .sudy-select .select-list li.hover { background-color:#eee; color:#fff;}


.column-list-wrap li { width: 100%; vertical-align: bottom;}
.column-list-wrap li a { display: block; width: 100%; border: 1px solid #e6e6e6; border-top:none; font-size: 15px; color: #63065f; font-family:"宋体";}
.column-list-wrap li a:hover { color: #63065f; text-decoration: none; background: #eeefeb;}
.column-list-wrap li.selected a.selected { color:#63065f; background: #eeefeb;}
.column-list-wrap li a span { display: block; padding: 10px; padding-left: 20px; line-height: 22px; }
.column-list-wrap .sub-list li a {  background-position: 18px 11px; font-size: 12px; background:#fff url(../images/list-li.jpg) no-repeat 35px center; font-family:"宋体"; color:#444;}
.column-list-wrap .sub-list li a:hover {background:#fff url(../images/list-li.jpg) no-repeat 35px center; color: #f90; }
.column-list-wrap .sub-list li.selected a.selected {  background-position: 18px 11px;background:#fff url(../images/list-li.jpg) no-repeat 35px center; color: #f90;}
.column-list-wrap .sub-list li a span { padding:10px; padding-left: 48px; line-height: 19px; }
.column-list-wrap .sub-list .sub-list li a { font-size: 13px; background-position: 26px 10px; background-color: #f5f5f5;}
.column-list-wrap .sub-list .sub-list li.selected a.selected { background-position: 26px 10px;}
.column-list-wrap .sub-list .sub-list li a span { padding-left: 36px; line-height: 17px; }
.column-list-wrap .sub-list .sub-list .sub-list li a { background-position: 34px 13px;}
.column-list-wrap .sub-list .sub-list .sub-list li.selected a.selected { background-position: 34px 13px;}
.column-list-wrap .sub-list .sub-list .sub-list li a span { padding: 4px 10px; padding-left: 44px; }
.column-list-wrap .sub-list .sub-list .sub-list .sub-list li a span { padding: 4px 10px; padding-left: 52px;}

/**
 * 栏目新闻
 */
.list-head { padding: 10px 0; border-bottom:2px solid #63065f; }
.list-meta .column-title { float: left; display:inline-block; white-space:nowrap; line-height:24px; font-size: 19px; color: #000; font-weight:normal; } /**当前位置**/
.list-meta .column-path { float: right; line-height: 24px; color: #838383;}
.list-meta .column-path a{ color: #838383; text-decoration: none;}
.list-meta .column-path a:hover{ color:#63065F;}
.column-news-con { padding:10px 10px; min-height: 712px;}
.column-news-list .column-news-item {display: block; position: relative;  line-height: 1.4em; padding: 5px 0; padding-left: 10px; background: url(img/dot.png) no-repeat 2px 13px; font-size:14px;}  /**栏目新闻列表**/
.column-news-list .column-news-item:hover {  color: #f90;}
.column-news-list .column-news-item .column-news-title { display: block; margin-right: 76px;}
.column-news-list .column-news-item .column-news-date { display: block; text-align: right; width: 80px; height: 20px; line-height: 20px; position: absolute; right: 0; top:5px; color: #999; }
.wp_entry {width:auto; margin:0 4px;}
.wp_entry p { margin-bottom:11px;}
.wp_entry,.wp_entry p {text-indent:30px!important; line-height:1.75!important; font-size:15px!important; text-align: justify;font-family:"Microsoft yahei","Simsun" !important; }
.wp_entry span {font-size: 15px!important;font-family:"Microsoft yahei","Simsun" !important;line-height: 1.75!important;color:#4b4b4b!important;}
.wp_entry span a,.wp_entry p a ,.wp_entry p a span{color:#63065F!important;}
.wp_entry span a:hover,.wp_entry p a:hover{color:#63065F;}
.wp_entry table{text-indent:0px!important;  border:1px solid #333!important;margin-bottom:10px;}
.wp_entry table td{border:1px solid #999!important;padding:0px 3px;}
.wp_entry table td p{text-indent:0px!important; margin-bottom:0px;line-height:34px!important;padding-left:5px;}

.column-news-list .wp_entry img {vertical-align: middle; max-width:100%; _width:expression(this.width > 800 ? "880px" : this.width); }   /**列表页文章图片大小限制**/

/**文章页**/
.info-box { margin:0 20px;}
.article {padding: 15px 0;}
.article h1.arti-title { line-height:26px; padding:5px; text-align:center; font-size:16px; font-weight: bold; color:#424242; border-bottom:2px solid #ECECEC} /**文章标题**/
.article .arti-metas { height: 16px; line-height: 16px; text-align:center; padding: 10px 0;}
.article .arti-metas span { display: inline-block; margin:0 5px; font-size:12px; color:#787878;} /**文章其他属性**/
.article .arti-metas .read-options { color: #444; text-decoration: none; float: right; display: inline-block; padding-left: 17px; background: url(img/options.png) no-repeat 0 50%; display: none;}
.article .entry { margin:0 4px; overflow:hidden;} /**文章内容**/
.article .entry,.article .entry p { line-height:1.75!important; font-size:15px!important; text-align: justify;font-family:"Microsoft yahei","Simsun" !important; }
.article .entry h6{font-weight:normal }
.article .entry span {font-size:15px!important;font-family:"Microsoft yahei","Simsun" !important;line-height:1.75!important;}
.article .entry p { text-indent:30px!important;margin-bottom:11px;}
.article .entry a{color:#63065F;text decoration:underline;}
.article .entry .read img { vertical-align: middle; max-width:100%; _width:expression(this.width > 1100 ? "1100px" : this.width); background: url(img/loading.gif) no-repeat center; }   /**文章阅读部分图片大小限制**/
.article .entry table,.article .entry table p {text-indent:0px!important;}   /**文章阅读部分图片大小限制**/


/**阅读设置**/
.night-model .wp-container{ background-color: #313131; color: #6f6f6f;}
.night-model .article .entry,.night-model .article .entry p { color: #6f6f6f;}
.night-model .read a { color: #6d6d6d;}
.night-model .read a:hover { color: #f5f5f5;}
.night-model  .article h1.arti-title { color: #e7e8e9}
.read-setting { margin-bottom: 10px; display: none; background-color: #fdfdfd; height: 38px; border-bottom: 1px solid #F1F1F1;}
.night-model .read-setting { background-color: #1d1d1d; border-color: #313131;}
.read-setting .setting-item { display: inline-block; width:49%; height: 38px; float: left;}
.read-setting .setting-item a { display: inline-block; color: #565656; font-size: 20px; float: left; width: 49%; height: 20px; line-height: 20px; text-align: center; margin-top: 9px; color:#565656;}
.read-setting .setting-item a:hover { color: #999;}
.read-setting .setting-item a.smaller-font { border-left: 1px solid #F1F1F1; font-size: 18px;}
.read-setting .setting-model {border-left: 1px solid #F1F1F1;text-align: center;}
.night-model .read-setting .setting-item a.smaller-font,.night-model .read-setting .setting-model { border-left-color:#313131;}
.read-setting .setting-model a.read-model { font-size: 18px;  background: url(img/moon.png) no-repeat 0 50%; float: none; width: auto; padding-left: 24px; margin: 9px auto;}
.night-model .read-setting .setting-model a.read-model { background-image: url(img/sun.png);}
.article .entry .set-fz12,.article .entry .set-fz12 p { font-size: 12px;}
.article .entry .set-fz14,.article .entry .set-fz14 p { font-size: 14px;}
.article .entry .set-fz16,.article .entry .set-fz16 p { font-size: 16px;}
.article .entry .set-fz18,.article .entry .set-fz18 p { font-size: 18px;}
.article .entry .set-fz20,.article .entry .set-fz20 p { font-size: 20px;}
.article .entry .set-fz22,.article .entry .set-fz22 p { font-size: 22px;}
/**文章分享（百度分享）**/
.article #bdshare { margin-top: 10px; }
/*读图模式*/
.view-box { display: block; color: #666; font-style: normal; margin-bottom: 10px;}
.view-box-inner { display: block; text-align: center; max-width: 400px; min-width: 30px; margin:0 auto; position: relative;}
.view-box-inner img { width: 100%; width: auto; display: block; margin:0 auto;}
.view-box-inner .open-view { display: block; width: 28px; height: 28px; position: absolute; right: 1px; bottom: 1px; z-index: 1;}
.view-box-inner .view-icon { display: block; width: 100%; height: 100%; background:url(img/view-image.png) no-repeat center; }
#wp-view-page { display: none; position: fixed; z-index: 10000000; width:100%; background-color: #1a1a1a; left: 0; top: 0; right:0; bottom:0; }
#view-head{ width: 100%; height: 42px; position: absolute; left: 0; top:0; z-index: 100;}
#back-read-page { position: absolute; left: 0; top: 0; width: 40px; height: 42px; background: url(img/back-arrow.png) no-repeat center;}
#back-read-page span{ display: none;}
#view-original-image {background-color: rgba(255, 255, 255, 0.1);color: #FFF;float: right;font-size: 15px;margin: 12px 12px 0px 0px;display: block;height: 22px;line-height: 22px;text-align: center;width: 40px;}
#view-foot { background-color: rgba(0, 0, 0, 0.7); position: absolute; width: 100%; height: 42px; left: 0; bottom:0; color: #FFF; position: absolute;font-size: 14px;line-height: 42px; opacity: 0.8;z-index: 99;}
#view-index { float: left; margin-left: 10px; }
#view-current { color:#3495FF;}
#view-title { position: absolute; left: 60px; top: 10px; height: 22px; line-height: 22px; overflow: hidden; color: #fff; }
#view-body { width: 100%; height: 100%; position: relative;}
#view-image-items { height: 100%; width: 100%;  position: absolute; left: 0; top: 0; overflow: hidden;}
#view-image-items li { float: left; text-align: center; background: no-repeat center;-webkit-background-size: contain; background-size: contain; }

/**底部**/
.wp-footer { background:#390336 }
.wp-footer .wp-inner {  /* height:70px; */   /* padding-top:9px; */}
.wp-footer .wp-inner .footer { color: #7A5678; line-height: 40px; font-size: 12px; text-align: center; margin:0 7px;}
.wp-footer .wp-inner .footer .xx span { margin:0 5px;font-size:12px; line-height:20px; text-align:center; color:#a789a3;}

/**jumphandle**/
#jumphandle {width:32px;height: 70px; position: fixed; right: 6px; bottom:20px; z-index: 100000000; display: none;}
#jumphandle a { display: block; width: 32px; height: 32px; background: #777 url(img/jump-icon.png) no-repeat 0 top; opacity: 0.7;}
#jumphandle a#gobot { background-position: 0 bottom; margin-top: 6px;}

#header-1 { background-color:#1D011B;}
#header-1 .wp-inner{width:1190px;}
#naver{}
#naver .wp-inner{width:100%;max-width:100%;text-align:center;}
.navbar { width:100%; height:46px; /* padding-top:2px; */ background:#73116f}   	/**导航区域背景**/
.navbar .navbox { width:1160px; height:46px; margin:0 auto; }   /**导航窗口大小及位置**/
.navbar .navbox .sub-nav{display:none;}
/**导航样式：后台绑定时也可以定义配置**/
.navbar .navbox .wp_nav,.navbar .navbox .nav { height: 46px; margin-left: -40px;}  /**导航高度**/
.navbar .navbox .wp_nav li.nav-item a { font-size:16px; font-weight:normal; color:#fff;text-decoration:none;}    /**导航字体样式**/
.navbar .navbox .wp_nav li.nav-item a:hover,.navbar .navbox .wp_nav li.nav-item a.parent{ color:#eee; background:url(images/nav-top.jpg) no-repeat center top;}   	/**鼠标经过或当前选中时样式**/
.navbar .navbox .wp_nav li.nav-item a span.item-name { padding: 0px 42px; height:46px; line-height:46px; }   /**导航栏目高度与边距**/
.navbar .navbox .wp_nav .nav-item .mark { background:url(../images/navj.png) no-repeat 115px center;}

.wp_nav .sub-nav{ top:40px!important; border:none;}/*子菜单位置*/
.wp_nav .sub-nav .nav-item a{ border-top:none;}/*去边框*/

.navbar .navbox .wp_nav .sub-nav li.nav-item i.mark { background:#0777b3;}  /**子菜单背景**/
.navbar .navbox .wp_nav .sub-nav li.nav-item a { font-size:14px; font-weight:normal; background:none;color:#fff;text-decoration:none;}		/**子菜单字体样式**/
.navbar .navbox .wp_nav .sub-nav li.nav-item a:hover,.navbar .navbox .wp_nav .sub-nav li.nav-item a.parent { background:#1F5E7C; color:#fff;}
.navbar .navbox .wp_nav .sub-nav li.nav-item a span.item-name { padding:0 10px; height:26px; line-height:26px;}		/**子菜单栏目高度与边距**/



/**标题栏新闻窗口**/
.post { }
.post .tt { height: 40px; margin-bottom:12px;} /**标题栏**/
.post .tt .tit { display:inline-block; float:left; font-size: 20px; font-weight:normal; color:#670363;} /**标题字体**/
.post .tt .tit .title { display:inline-block; height: 40px; line-height: 40px; } /**标题图标**/
.post .tt .more_btn { display:inline-block; height:40px; line-height:40px;margin-right:8px; float:right;}   /**更多按钮**/
.post .tt .more_btn a{ color:#8b898c; font-family:"宋体";}
.post .tt .more_btn a:hover{ color:#f90;}
.post .con {  margin:0 auto;}
.post .con .wp_article_list .list_item { border-bottom:1px dashed #ccc;} /**新闻列表**/
.post .con .wp_article_list .list_item .Article_Index { background:url(../images/li.gif) no-repeat center;} /**新闻列表图标**/

.post-8 .con{padding: 0px 30px;padding-bottom:30px;padding-top:10px;background-color:#e0d9c9;}
.sj{ width:61px; height:60px; float:left; text-align:center; /* margin-top:8px; */}
.sj .date-day{ font-size: 20px;color: #fff; height: 32px; line-height: 32px;background-color: #63065f;}
.sj .date-month { height: 30px;line-height: 30px;color: #797979; background-color: #fff;}  
.zdy-tj li{ padding: 22px 0;border-bottom:1px solid #C1B394;} 
.zdy-tj li.n4{ border-bottom:0px solid #C1B394;} 
.zdy-1{ width: 210px; float:right;}
.zdy-1 .bt{ line-height: 22px;}
.zdy-1 .bt a{ color: #63065f;font-size: 15px; }
.zdy-1 .jianj{ line-height:20px;}
.zdy-1 .jianj a{ color:#5f5e5e;}

.zdy-2{display:inline-block; margin-right: -66px;} 
.zdy-2 .news{float:left; width: 349px;height: 228px;margin-right: 65px;margin-bottom: 18px;border-top:3px solid #63065F;overflow:hidden;}
.zdy-2 .news.n1 .slt,.zdy-2 .news.n2 .slt{display:none;} 
.zdy-2 .news.n0 .nr,.zdy-2 .news.n3 .nr{display:none;}

.zdy-2 .news .slt{} 
.zdy-2 .news .imgs{width: 349px; height:140px;background-size:cover;}
.zdy-2 .news img{width:327px; height:140px;}
.zdy-2 .news .bt,.zdy-2 li .bt a{ line-height: 20px; height:40px;overflow:hidden; margin: 15px 0  0px 0;font-size:16px;color:#63065f;}
.zdy-2 .news .time{ /* line-height:2em; */ /* margin: 8px 0; */font-size:18px;font-family:"corbel"}
.zdy-2 .news .nr{ line-height:22px;height:112px; margin-top: 20px;overflow:hidden;}
.zdy-2 .news-box{width: 766px; height: 482px;float:left;}
.zdy-2 .news-box li{float:left;width:765px;height:475px;pverflow:hidden;}
.zdy-2 .news-box .qbox{width: 835px; height: 489px;}

.cont-2-l .sudy-scroll-page .page-index { display:inline-block; width:8px; height:8px; border-radius:5px; overflow:hidden; background:#666; margin:0 3px;}
.cont-2-l .sudy-scroll-page .active { background:#63065F}


.zdy-3{display:inline-block; margin-right: -66px;} 
.zdy-3 li{float:left; width: 350px;height: 180px;margin-right: 65px;margin-bottom: 40px;border-top: 3px solid #63065F;}
.zdy-3 li.n0,.zdy-3 li.n3{}
.zdy-3 li.n0 .time,.zdy-3 li.n0 .nr,.zdy-3 li.n3 .time,.zdy-3 li.n3 .nr{display:none;}
.zdy-3 li.n1 .slt.pr .bt,.zdy-3 li.n2 .slt.pr .bt{position:relative;}
.zdy-3 li.n1 .slt.pr .bt a,.zdy-3 li.n2 .slt.pr .bt a{color:#63065F;}
.zdy-3 li.n1 .slt.pr .titlebg,.zdy-3 li.n2 .slt.pr .titlebg{display:none;}
.zdy-3 li.n1 .imgs,.zdy-3 li.n2 .imgs{display:none;}
 
.zdy-3 li .slt.pr{position:relative;}
.zdy-3 li .slt.pr .bt{position:absolute;bottom:0px;left:0px;z-index:100;padding-left:8px; margin: 14px 0  8px 0;/* height:22px; */ overflow:hidden;}
.zdy-3 li .slt.pr .bt a{margin:14px 0  8px 0;color:#fff;}
.zdy-3 li .slt.pr .titlebg{position:absolute;bottom:0px; left:0px; z-index:99;height: 56px;width:100%; background:url(../images/img.png) repeat-x bottom left;text-align:center; }
.zdy-3 li .imgs{width: 350px; height:172px;background-size:cover;}
.zdy-3 li img{width:327px; height:172px;}
.zdy-3 li .bt,.zdy-3 li .bt a{color:#63065F;}
.zdy-3 li .bt,.zdy-3 li .bt a{ line-height: 20px; /* height:40px; */ margin: 14px 0  0px 0;font-size:16px;}
.zdy-3 li .time{ line-height:22px; margin: 8px 0;font-size:18px;font-family:"corbel"}
.zdy-3 li .nr{ line-height:22px; margin-top: 20px;height:64px; overflow:hidden;}



#header-1 .wp_nav .nav-item a{ color:#cdbccc;}
#header-1 .wp_nav .nav-item a:hover{ color:#fff;}
#header-1 .wp_nav .nav-item a span.item-name{ line-height:29px; padding:5px 8px;}

.wp-foot-top{ background:#63065f; height: 195px;}
.wp-foot-top .wp-inner{width:1190px;}
.wp-foot-top .foot-nav{float:left; width: 333px;/* margin-left:80px; */ margin-top: 48px;}
.wp-foot-top .foot-logo{float:left;width:350px; height: 190px;margin-left:40px; background:url(../images/foot_logo.png) no-repeat 130px center;}
.wp-foot-top .foot-r{float:right; width: 220px;margin-top: 85px;text-align:center}
.foot-nav .fnavbox{float:left;height:44px;line-height:44px; margin-right: 19px; color:#fff;}
.foot-nav .fnavbox p{height:44px;line-height:44px; color:#fff;font-size:16px; }
.wp-foot-top .foot-r .shares{}
.wp-foot-top .foot-r .shares .share{ float:left;margin-right:15px;position:relative;}
.wp-foot-top .foot-r .shares .share a{padding-left:0px;display:inline-block;width:40px; height:40px;background:url(../images/shares.png) no-repeat 0 0;}
.wp-foot-top .foot-r .shares .share.n1 a{background-position:-10px -2px;}
.wp-foot-top .foot-r .shares .share.n2 a{background-position:-63px -2px;}
.wp-foot-top .foot-r .shares .share.n3 a{background-position:-114px -2px;}
.wp-foot-top .foot-r .shares .share.n4 a{background-position:-172px -2px;}
.wp-foot-top .foot-r .shares .share .con{display:none;position:absolute;bottom:50px; left:50%;z-index:100;margin-left:-52px;}


.foot-nav{ width:420px; margin:0 auto;}
/* .foot-nav .wp_nav .nav-item a { color:#a789a3; background:url(../images/foot-nav.jpg) no-repeat right center;}  
.foot-nav .wp_nav .i6 a { background:none;}
.foot-nav .wp_nav .nav-item a:hover{ color:#fff;} */
.foot-nav p{color:#bbb; line-height: 24px;font-size:13px;}
.foot-nav li{float:left;margin-right: 20px;}
.foot-nav li .title{height:30px; line-height:30px; font-size:16px;color:#fff;}


.col_news_con .wp_article_list .list_item .Article_Title{ font-size:14px;}
.col_news_con .wp_article_list .list_item .ex_fields{ font-size:13px;}

.navlist{width:1160px;margin:0 auto; padding:10px 0; display:none;}
.navlist .navlist-li{  float:left;  width: 148px;}
.navlist .navlist-li-0{ margin-left: -24px;}
.navlist .nav-item a{ font-size:14px;line-height:30px; color:#fff; width:116px!important;}
.navlist .nav-item a:hover{ color:#f90;}

.navlist-li-9 .wp_nav .i1{ margin-right:20px;}
.navlist-li-9 .wp_nav .i2{ margin-right:20px;}
    
.tu{ display:inline-block; margin-right:8px; line-height:102px; text-align:center; font-size:16px; color:#fff;}
.tu:hover{ color:#fff;} 
.tu-1{ width: 248px; height:102px; background:url(../images/tup1.jpg) no-repeat 0 0;background-size:cover;background-size:cover;background-size:cover;} 
.tu-1:hover{ background:url(../images/tup1-hover.jpg);background-size:cover;}
.tu-2{ width: 176px; height:102px; background:url(../images/tup2.jpg) no-repeat 0 0;background-size:cover;background-size:cover;}
.tu-2:hover{ background:url(../images/tup2-hover.jpg) no-repeat 0 0;background-size:cover;}
.tu-3{ width: 164px; height:102px; background:url(../images/tup3.jpg) no-repeat 0 0;background-size:cover;}
.tu-3:hover{ background:url(../images/tup3-hover.jpg) no-repeat 0 0;background-size:cover;}

.post-9 .con{background-color:#E0D9C9;}

/*专题链接*/
.cont-3-l .sudy-scroll-wrap{}
.cont-3-l .sudy-scroll-wrap li{display:inline-block;opacity:0.6;filter:alpha(opacity=60);}
.cont-3-l .sudy-scroll-wrap li span{display:none;}
.cont-3-l .sudy-scroll-wrap li.n1{}
.cont-3-l .sudy-scroll-wrap li.n2{}
.cont-3-l .sudy-scroll-wrap li:hover{opacity:1;filter:alpha(opacity=100);}
.cont-3-l .sudy-scroll-page { width:100%; height:6px; }
.cont-3-l .sudy-scroll-page .page-index { display:inline-block; width:8px; height:8px; border-radius:5px; overflow:hidden; background:#666; margin:0 3px;}
.cont-3-l .sudy-scroll-page .active { background:#63065F}

.kxbtn{ position:relative;cursor:pointer;margin-top:10px;}
.kxbtn .btncon{display:none;position:absolute; top:30px;right:0px; z-index: 1100;border:1px solid #ccc;width:60px;padding:4px 0px; background:#fff;}
.kxbtn .btncon li{height:28px;line-height:28px;}
.kxbtn .btncon a{display:inline-block; height:28px;line-height:28px;padding:0px 5px; text-align:center;}

.article .bdshare-button-style2-24 a,.article .bdshare-button-style2-24 .bds_more {background-image: url(../images/icons_2_24.png?v=a64ca404.png)!important;}
/*栏目图片*/
.l-banner img{width:100%;height:100%;}
/*当前位置*/
.possplit{background-image: url(../images/posSplit.png);width: 20px;}

.info-container  .wp-inner {background-color:#F7F5ED!important}
.info-container .wp-column-menu {margin-left:0px;}
.info-container .wp-column-news .column-news-box {margin-left: 216px;padding-left:20px;padding-top:20px; margin-right: 0px; margin-top:0px; background:#EDEADF;}


.list-container  .wp-inner {background-color:#F7F5ED!important}
.list-container .wp-column-menu {margin-left:0px;}
.list-container .wp-column-news .column-news-box {margin-left: 216px;padding-left:40px;padding-top:20px; margin-right: 0px; margin-top:0px; background:#EDEADF;}

/*角色分类*/
.fenl{}
.fenl .title{font-size:16px;font-weight:bolder;margin-bottom:4px;}
.fenl ul{display:inline-block;margin:5px 0px;border-bottom:1px solid #ccc;padding-bottom:12px;width:100%;}
.fenl em{font-style:normal;display:block;font-size:16px;}
.fenl ul li{float:left;margin-right:40px;}
.fenl ul li a{}

/*机构设置*/
.jg{}
.jg .tt,.jg .tt p{font-size:16px; margin-bottom:10px;font-weight:bold;color:#333;}
.jg li{list-style:none;}
.jg .box{float:left; width:50%;}
.jg li ul{margin-left:0px;}
.jg ul ul{margin-left:30px;}
.jg ul ul ul{margin-left:30px;display:block;}
.jg .sub .jt{display:inline-block;width:10px; height:10px;margin-left:10px;background:url(../images/jt.png) no-repeat center center;cursor:pointer;}

.jgyx{}
.jgyx .tt,.jgyx .tt p{font-size:16px; margin-bottom:10px;font-weight:bold;color:#333;}
.jgyx .box{float:left; width:50%;}
.jgyx ul ul{margin-left:30px;display:none;}
.jgyx ul ul ul{margin-left:30px;display:block;}
.jgyx .box{}
.jgyx .box .sub{}
.jgyx .sub .jt{display:inline-block;width:10px; height:10px;margin-left:10px;background:url(../images/jt.png) no-repeat center center;cursor:pointer;}
/*招生就业*/
.zs{}
.zs ul{margin-left:100px;}
.zs li{float:left;width:30%;height:60px;margin-right:20px;margin-bottom:20px;background:url(../images/img/111.jpg) no-repeat left top;text-align:center;border-radius:5px;}
.zs li.n1{background:url(../images/img/111.jpg) no-repeat left top;}
.zs li.n2{background:url(../images/img/112.jpg) no-repeat left top;}
.zs li.n3{background:url(../images/img/113.jpg) no-repeat left top;}
.zs li.n4{background:url(../images/img/114.jpg) no-repeat left top;}
.zs li.n5{background:url(../images/img/115.jpg) no-repeat left top;}
.zs li.n6{background:url(../images/img/116.jpg) no-repeat left top;}
.zs li.n7{background:url(../images/img/117.jpg) no-repeat left top;}
.zs li p,.zs li p a{height:60px;line-height:60px!important;text-align:center;color:#fff!important;}
.zs li p a:hover{color:#fff;}
/*合作*/
.hz{margin-left:100px;margin-top:15px;}
.hz li{float:left;width: 32%;}

/*学术期刊*/
.qk{display:inline-block;}
.qk li{float:left;width: 263px;height:280px;margin-right:20px;}
.qk li img{width:120px;height:160px;}
.qk li p{line-height:26px;font-size:14px;}
/*列表更多页*/
.list-more{margin:10px 0; text-align:right;}
.list-more a{margin-left:10px;}