@charset "UTF-8";

.logo-window {padding: 18px 0;}
.wp-header .wp-inner { position: relative;}
.lang-panel { /* float: none; */ /* position: absolute; */ /* right:10px; */ /* top: 0; */}
.lang-window {padding: 0;}
.lang-window .wp-menu {float: right;}
.search-panel { clear: none; margin-top: 32px;}
.top-nav-panel { _width: 460px;}
.top-nav-panel .wp-menu {  white-space: nowrap;}
.main-nav-panel .sub-menu {_width:150px;}