@charset "UTF-8";
/**
 * [xLarge Screen for PC]
 * >=1200
 */

/**
 * [Large Screen for PC & Pad]
 * 960~1199
 */
@media screen and (max-width: 1210px) {
#header-1 .wp-inner{width:1000px;}
.wp-header .wp-inner{width:1000px;}
.navbar .navbox .wp_nav,.navbar .navbox .nav {margin-left: 0px;}  /**导航高度**/
.wp-wrapper .wp-inner {width:1000px;margin:0 auto; }
#container .wp-inner, #container-m .wp-inner{width:1000px;}
#container-1 .wp-inner {width:auto;}
#naver .wp-inner{/* width:1000px; */max-width:100%;}
#naver{ /* background:#63065F; */}
.navbar .navbox .wp_nav li.nav-item a span.item-name {padding: 0 30px;}
.navbar .navbox { width:1000px; }   /**导航窗口大小及位置**/
.navbar .navbox .wp_nav .nav-item .mark { background-position: 100px center;}
.search-panel { margin-right: 15px;}
.lang-panel { margin-right: 15px;}
.navlist{width: 1000px;}
.navlist .wp_nav .nav-item a{ width: 100px!important;}
.navlist .navlist-li-1{ /* margin-left: 55px; */}
.navlist .navlist-li{width:124px;}
.navlist .navlist-li-0{ margin-left: 2px;}
.cont-1{ }
.cont-2{ height:315px; background-color:#edebdf;}
.cont-2 .cont-2-l{ width: 657px; float:left;  margin-top:30px;}
.cont-2 .cont-2-r{ width: 308px; float:right;  margin-top:30px;}
.cont-2 .cont-2-r .tt{ }
.cont-3{ height: 178px; background-color:#e0d9c9;}
.cont-3 .cont-3-l{ width: 624px; float:left;  margin-top: 40px;}
.cont-3 .cont-3-r{ width: 367px; float:right;  margin-top: 40px;}
.zdy-2{width:657px;}
.zdy-2 .sudy-scroll,.zdy-2 .sudy-scroll-wrap{width:100%!important;}
.zdy-2 .news,.zdy-3 li{width: 302px;margin-right: 44px;} 
.zdy-2 .news .bt,.zdy-2 li .bt a{width:100%; line-height:22px;height:22px;overflow:hidden; margin: 15px 0;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.zdy-2 .news .imgs,.zdy-3 li .imgs{width:302px; height:140x;}
.post-8 .con{padding: 0px 14px;}
.zdy-tj li{ padding: 16px 0;border-bottom:1px solid #C1B394;}    
.cont-5 .cont-5-l{ width: 657px; float:left; }
.cont-5 .cont-5-r{ width: 308px; float:right; }
.cont-3 .cont-3-r .iconcon{float:left;text-align:center;margin-left: 17px;}
.wp-foot-top .foot-logo{width:260px;background-position:center center;}
.wp-foot-top .foot-r{width: 210px;margin-top: 85px;text-align:center}
}

/**
 * [Medium Screen for Pad]
 * 768~959
 */
@media screen and (max-width: 999px) {
	.wp-wrapper .wp-inner {width:auto!important; }
	.main-nav-panel .wp-menu .menu-item a.menu-link { padding:0 4px;}
	#container .wp-inner, #container-m .wp-inner{width:auto; padding:10px;}
	.focus-navigation { visibility: hidden;}
	.wp-footer .wp-inner .footer .copyright,.wp-footer .wp-inner .footer .address {line-height:24px; display: block;}
	
    .wp-header .wp-inner {background-image:none;}


	/**主体布局**/
	.wp-main-page .content,.wp-main-page .sidebar { width: 100%; float: none;}
	.wp-post .post-head .head-bar,.wp-post .post-body {margin:0 6px;}	
	/**栏目列表**/
	.wp-column-menu { width: 100%; float: none; margin: 0;}
	.acon{display:none;}
	.wp-column-news {float: none;}
	.wp-column-news .column-news-box { margin: 0 6px;}
	.list-container .wp-column-news .column-news-box {margin-left:0px;padding-left:10px;padding-top: 10px;}
    .column-news-con { padding:0px; min-height:0px;}
	.column-head .column-anchor {padding: 6px;}
	.column-head .column-anchor .column-switch { display: block;}
	.column-head .column-anchor h3.anchor-title { font-size: 16px;}
	.column-list-wrap li a { background-position: 10px 14px;}
	.column-list-wrap li a,.column-list-wrap li.selected a.selected { background-position: 10px 14px;}
	.column-list-wrap li a span { padding-top: 6px; padding-bottom: 6px;}
	.column-body { display: none;}
	.list-meta .column-title {font-size: 16px; }
	.info-box {margin:0 14px;}
	.article { padding: 10px 0;}
	.article h1.arti-title { padding: 5px 0;}
	
	.sg{ display:none;}
	#naver{ display:none;}
	.cont-2{height:auto;}
	.cont-2 .cont-2-l{ width: 100%; margin-top: 5px;}
	.zdy-1{ width:auto;float:left;margin-left:20px;}
	.cont-2 .cont-2-r{ width:100%; margin-right:0px; margin-top:15px; float:left; }
	.cont-3{ height:auto;}
	.cont-3 .cont-3-l{ width: 100%;  margin-top:0px;margin-bottom:10px; }
	.cont-3 .cont-3-r{display:inline-block; width:100%; margin:15px auto;float: none;text-align:center; }
	.cont-3 .cont-3-r .cont-3-r-2{display:inline-block;}
	.cont-3 .cont-3-r .cont-3-r-1{ width:100%;}
	.cont-3 .sudy-scroll{width:100%!important;}
	.foot-nav{ width:100%;}
	.cont-5{margin-top:10px;}
   .cont-5 .cont-5-l{ width: 100%; float:left; }
   .cont-5 .cont-5-r{ width: 100%; float:right;}
   .cont-3 .cont-3-r .iconcon{float:left;text-align:center;margin-left: 17px;}
   .post-23{display:none;}
	
	.wp-foot-top{height:auto;}
    .wp-foot-top .wp-inner{width:auto;text-align:center;}
    .wp-foot-top .foot-nav{display:inline-block;text-align:center;float:none; width: 536px;margin:0 auto;;}
    .wp-foot-top .foot-logo{float:none;width:100%; height:150px;margin-left:0px; background-position:center center;}
    .wp-foot-top .foot-r{display:inline-block;margin:0 auto;float:none; width:auto;margin-top: 0px;text-align:center}

    .foot-nav .fnavbox{}
    .foot-nav .fnavbox p{ }
    .address{display:inline-block;width:auto;/* margin:10px 0; */}
	/*foot*/
	.wp-footer .wp-inner .footer{ width:100%; margin:0px; margin-left:0px; text-align:center;}
	.wp-footer .wp-inner .footer .xx span{ text-align:left;}
	.sg{ display:none;}
	.foot-nav{ width:100%;}
	.wp-footer .wp-inner{ height:auto; padding-bottom:9px;}
	/*zdy*/
	.zdy-2{margin-right:0px;width:100%;/* overflow:hidden; */}
	.zdy-2 .news.n0,.zdy-2 .news.n2{ float: left; width: 48%;}
	.zdy-2 .news.n1,.zdy-2 .news.n3{ float:right; width:48%;}
	.zdy-2 .news{margin-right:0px;width: 48%;}
	.zdy-2 .sudy-scroll-wrap > ul{width:100%!important;}
	.zdy-2 .news-box{width: 100%!important; height: 506px;overflow:hidden;}
	.zdy-2 .news-box .qbox{width:100%; height: 489px;}
	
	.zdy-2 .news .slt{ }
	.zdy-2 .news .time{ font-size:13px;font-family:"Microsoft yahei";}
	.zdy-2 .news .imgs{width:100%; height:140px;}
	.zdy-2 .news .slt img{ width:100%; }
	.zdy-3{margin-right:0px;}
	.zdy-3 li.n0,.zdy-3 li.n2{ float:left; width: 48%;}
	.zdy-3 li.n1,.zdy-3 li.n3{ float:right; width:48%;}
	.zdy-3 li{margin-right:0px;width:48%;}
	.zdy-3 li .slt{ }
	.zdy-3 li .time,.zdy-2 .news .time{ font-size:13px;font-family:"Microsoft yahei";}
	.zdy-3 li .imgs{width:100%; }
	.zdy-3 li .slt img{ width:100%; }
	/*图片链接*/
	.tu{ margin-right:0px;}
	.tu-1{ width:50%; margin-right:3%; background-size:100% 100%;}
	.tu:hover{ background-size:100% 100%;}
	.tu-2{ width:22%; margin-right:3%;background-size:100% 100%; margin-top:15px;}
	.tu-3{ width:22%; background-size:100% 100%;margin-top:15px;}
	
	.info-container .wp-column-news .column-news-box {margin-left: 0px;padding-left: 10px;padding-top:0px; padding-right: 10px; margin-top:0px; background:#EDEADF;}

}

/**
 * [Small Screen for Smart Phone and Mini Pad]
 * 480~767
 */
@media screen and (max-width: 767px) {
	.focus-title-bar,.search-window{display:none!important;}
    .acon{display:none!important;}
	.cont-3-l{display:none;}
	body{ }
	body,p { font-size: 12px;}
	a { font-size: 12px;}
	.wp-wrapper .wp-inner {width:auto!important;}
	.wp-header .wp-inner {background-image:none;}
	.wp-post .post-head .post-title { font-size: 18px; font-weight: bold;}
	.searchbtn{display:none!important;}
    .l-banner,.l-banner img{max-height:150px;}
	.post-news .news-item { height: 30px; line-height: 30px; border-bottom: 1px dashed #ccc;}
	.post-news .news-item .meta-title,.column-news-list .column-news-item .column-news-title { margin-right: 0;}
	.post-news .news-item .news-date-hide,.column-news-list .column-news-item .news-date-hide { display: none;}
	.wp-header { padding: 0;}
	.wp-navi { display: none!important;}
	.wp-navi-slide { display: block; background-color: #eee;}
	.wp-navi-slide .navi-slide-head { display: block;}
	.wp-navi-slide .wp-menu { display: none;}
	.main-nav-panel .wp-menu .menu-item { display: block; float: none; border-top: 1px solid #ddd; overflow: hidden; }
	.main-nav-panel .wp-menu .menu-item a.menu-link { display: block; height: 39px; line-height: 39px; padding:0 18px; color: #222; font-size: 15px; background-color: #fff; }
	.main-nav-panel .wp-menu .menu-item a.menu-link:hover { text-decoration: none; color: #fff; background-color: #0C3C74}
	.wp-main-page .content .cbox-left,.wp-main-page .content .cbox-right{ width: 100%; float: none;}

	.wp-header .wp-panel {margin:0; float: none; clear: both; width: auto;}
	.wp-header .search-panel {display:none; margin-bottom: 10px;}
	.wp-header .logo-panel { position: relative; }
	.wp-header .navi-aside-toggle-show { display: block;}
	.logo-window { width: auto; margin:0 40px; padding: 10px 0; text-align: center;}
	.logo-window img {width: 100%; max-width: 168px;}
	.lang-panel,.top-nav-panel { display: none;}
      
	.wp-info-page .search-panel,.wp-info-page .top-nav-panel,.wp-column-page .search-panel,.wp-column-page .top-nav-panel { display: none;}
	.wp-banner {border-top:1px solid #DFBA5D}
	.wp-banner .column-name { display: block;}
	.list-meta .column-path,.list-meta .column-title { float: none;}
	.list-meta .column-title { display: none;}
	.list-meta .column-path { padding-left: 24px; background: url(img/sitemap-icon.png) no-repeat 0 4px;}
	.list-meta .column-path .path-name { display: none;}
	.wp_paging .pages_count,.wp_paging .page_jump { display: none;}

	.info-box {margin:0 10px;}
	.article { padding: 6px 0;}
	.article .arti-metas span { font-size: 14px;}
	.article .arti-metas .read-options { display: inline-block;}
	.wp_entry,.wp_entry p,.article .entry,.article .entry p { font-size: 16px;}
	
	.sg{ display:none;}
	#naver{ display:none;}
	.cont-2{ height:auto;}
	.zdy-1{ width:80%;}
	.cont-3{ height:auto;}
	.cont-3 .cont-3-r .cont-3-r-1{ width:100%;}
	.foot-nav{ width:100%;}
	/*foot*/
	.wp-foot-top .foot-r{width:auto;display:inline-block;margin:0 auto;margin-top: 0px;text-align:center}
	.wp-footer .wp-inner .footer .xx span{ text-align:left;}
	.sg{ display:none;}
	.foot-nav{ width:100%;}
	/*zdy*/
	.zdy-2 li.n1,.zdy-2 li.n3{ /* float:none; */ /* width: 100%; */}
	.zdy-2 li.n2,.zdy-2 li.n4{ /* float:none; */ /* width:100%; */}
	.zdy-2 li{}
	.zdy-2 li .slt{ }
	.zdy-2 li .imgs{width:100%; height:140px;}
	.zdy-2 li .slt img{ width:100%; }
	/*图片链接*/
	.tu{ margin-right:0px;}
	.tu-1{ width:50%; margin-right:3%; background-size:100% 100%;}
	.tu:hover{ background-size:100% 100%;}
	.tu-2{ width:22%; margin-right:3%;background-size:100% 100%; margin-top:15px;}
	.tu-3{ width:22%; background-size:100% 100%;margin-top:15px;}

    .foot-nav .fnavbox{float:left;height: 35px;line-height: 35px; margin-right:24px; color:#fff;}
    .foot-nav .fnavbox p{height: 34px;line-height: 34px; color:#fff; }
     .foot-nav li{float:none;margin-right:0px;}
    .wp-foot-top .foot-logo{margin-left:0px;}

    .wp-foot-top .foot-r .articlecontent {text-align:center;}
	.wp-foot-top .foot-r .articlecontent table {margin:0 auto;}
	.wp-footer .wp-inner .footer { line-height:28px; /* width:100%; */}
	.wp-footer .wp-inner{width:auto;}
.lingd li{float:none!important ;width:auto!important;}
}

/**
 * [xSmall Screen for Smart Phone]
 * 480~767
 */
@media screen and (max-width: 479px) {
	.info-box {margin:0 6px;}
	
	.sg{ display:none;}
	#naver{ display:none;}
	.cont-2{ height:auto;}
	.zdy-1{ width:70%;}
	.cont-3{ height:auto;}
	.cont-3 .cont-3-r .cont-3-r-1{ width:100%;}
	.foot-nav{ width:100%;}
	.cont-3-r-2 a img { margin-bottom:15px;}
	/*foot*/
	.wp-footer .wp-inner .footer .xx span{ text-align:left;}
	.wp-foot-top .foot-nav{display:inline-block; width: 262px;margin-top:10px;}
	.foot-nav .fnavbox{margin-right:0px; color:#fff;padding:0px 10px;}
    
    
	.sg{ display:none;}
	.foot-nav{ width:100%;}
	/*zdy*/
	.zdy-2 div.n1{ float:none; margin-bottom:10px;}
	.zdy-2 div.n0,.zdy-2 div.n2{ float:none; width:100%;}
	.zdy-2 div.n1,.zdy-2 div.n3{ float:none; width:100%;}
	.zdy-2 .news{float:none; margin:0 auto; width:100%!important; /* height:auto!important; */}
	.zdy-2 .news .slt{ height:auto;}
	.zdy-2 .news .bt a{ font-size: 15px;}

	.zdy-2 .news .slt .imgs{ width:100%!important; /* height:100%!important; */}
	.zdy-2 .news .nr{ margin-top:0px;margin-bottom:10px;height:auto;}
	
	.zdy-3 li.n1{ float:none; margin-bottom:10px;}
	.zdy-3 li.n2{ float:none;}
	.zdy-3 li{float:none!important; margin:0px auto 10px; width:100%!important; height:auto!important;}
	.zdy-3 li .slt{ height:auto;}
	.zdy-3 li .bt a{ font-size: 15px;}
	.zdy-3 li .imgs{ width:100%!important; height:172px;background-size:cover;}
	.zdy-3 li .slt img{ width:100%!important; height:100%!important;}
	.zdy-3 li .bt,.zdy-3 li .bt a{ margin: 8px 0;}
	.zdy-3 li .nr{ margin-top:0px;margin-bottom:10px;}
	.post-22 .news_title a{font-size:15px;}
	/*图片链接*/
	.tu-1{ width:100%; margin-right:0px; background-size:100% 100%;}
	.tu{ margin-right:0px;}
	.tu:hover{ background-size:100% 100%;}
	.tu-2{ width:47%; margin-right:6%;background-size:100% 100%; margin-top:15px;}
	.tu-3{ width:47%; background-size:100% 100%;margin-top:15px;}
	
	.sudy-scroll,.sudy-scroll-wrap,.zdy-2.news_list{width:100%!important;height: 928px!important;}
		.sudy-scroll-page{display:none}
	.zdy-2 .news-box{width: 766px; height: 949px!important;float:none;}
.zdy-2 .news-box li{float:none;}
.zdy-2 .news-box .qbox{width:100%; height: auto;}
}

/**
 * [Tiny Screen for Older Phone and Smart Phone]
 * <319
 */
@media screen and (max-width: 319px) {
	.top-nav-panel .wp-menu .menu-item a.menu-link { font-size: 14px; height: 28px; line-height: 28px;}
	.wp-footer .wp-inner .footer .address,.wp-footer .wp-inner .footer .zipcode { display: inline;}
	.wp-footer .wp-inner .footer .icp { display: block; }
}