@font-face{
    font-family: "PFDinCondensedMedium";
    src: url("/misc/font/PFDinCondensedMedium/PFDinCondensedMedium.eot");
    src: url("/misc/font/PFDinCondensedMedium/PFDinCondensedMedium.eot?#iefix")format("embedded-opentype"),
    url("/misc/font/PFDinCondensedMedium/PFDinCondensedMedium.woff") format("woff"),
    url("/misc/font/PFDinCondensedMedium/PFDinCondensedMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
  font-family:'fontic';
  src: url('/misc/font/Fontic/fontic.eot?53822368');
  src: url('/misc/font/Fontic/fontic.eot?53822368#iefix') format('embedded-opentype'),
       url('/misc/font/Fontic/fontic.woff?53822368') format('woff'),
       url('/misc/font/Fontic/fontic.ttf?53822368') format('truetype'),
       url('/misc/font/Fontic/fontic.svg?53822368#fontic') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{position:relative;min-height:100%}
body{margin:0;color:#000;font:14px/17px Arial,Helvetica,sans-serif;background-color:#F7F7F7;height:100%;width:100%;min-height:100%}
div{margin:0;padding:0}
img{border-style:none}
p, h1, h2, h3, h4, h5{color:#2b2622;}
a{cursor:pointer;color:#0096ff;text-decoration:none}
a:hover{text-decoration:underline}
input,textarea,select{font:100% Arial,Helvetica,sans-serif;vertical-align:middle;color:gray;outline: none;}
form,fieldset{margin:0;padding:0;border-style:none}
q{quotes:none}
q:before{content:''}
q:after{content:''}

.icon:before{font-family:"fontic";font-style:normal;margin-right:0.5em;text-align:center;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-logout:before{content:'\e80f'}
.icon-social:before{content:'\e815'}
.icon-settings:before{content:'\e821'}
.icon-control:before{content:'\e820'}
.icon-user:before{content:'\e80e'}
.icon-scrolltop:before{content:'\e817'}
.icon-search:before{content:'\e801'}
.icon-close:before{content:'\e802';margin:0 auto;float:right;padding:10px 5px 0}
.icon-close-circled:before{content:'\e83f'}
.icon-asterisk:before{content:'\e864'}
.icon-login:before{content:'\e803'}
.icon-menu:before{content:'\e804'}
.idc:before{content:'\e859'}
.icon-comment:before{content:'\e805'}
.icon-right-open:before{content:'\e826'}
.icon-eye:before{content:'\e806'}
.icon-left:before{content:'\e807';color:#fff}
.icon-vk:before{content:'\e800'}
.icon-fb:before{content:'\e80b'}
.icon-tw:before{content:'\e808'}
.icon-ok:before{content:'\e80a'}
.icon-gp:before{content:'\e809'}
.icon-su:before{content:'\e813'}
.icon:hover{color:#ff4e00;text-decoration:none}
.animate{-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;-ms-transition:all 300ms ease-in-out;-o-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out}
.fixed, .is_fixed{position:fixed}
.notfixed .sbft{float:right}
.bg{padding-top:69px;}
.mm_bg{display:none;position:fixed;left:0;z-index:9999;background:#000;width:100%;height:100%;text-align:center;}
.fotorama{background: rgb(223, 223, 223);}

.share_img{display:none;position:absolute;z-index:5;padding:7px;background:rgba(0,0,0,0.33)}
.share_img ul{margin:0;padding:0}
.share_img li{list-style:none;text-align:center;color:#fff;padding:5px;margin-bottom:1px;cursor:pointer}
.share_img i{font-weight:400;font-size:18px !important;height:20px!important;font-weight:normal}
.share_img i:hover{color:#fff}
.share_img .icon:before{margin:0 !important}

#wrapper{overflow:hidden;padding: 0 0 10px}
#wrapper.branding .site{margin:200px auto 0}
/* #wrapper.fxhead{padding-top:66px} */
#wrapper.fxhead header{position:fixed}
#wrapper.fxhead #main{padding-top:76px}
#wrapper.fxhead .sidebar{top:66px}
#wrapper.branding{background-image:url();background-attachment:fixed;background-position:50% 0%;background-repeat:no-repeat no-repeat}

.site{margin:0 auto;max-width:980px;min-width:270px;background:#FFF;box-shadow:0px 0px 10px rgba(108, 108, 108, 0.5);position:relative;left:0;border:5px solid #f7f7f7}
.main_logo{height: 100px;background: #333;text-align: center;}
.main_logo a{color: white;float: none;font-size: 5rem;font-weight: bold;line-height: 120px;font-family: 'Airborne pilot';text-shadow: 2px 2px 0px #ff4e00;text-decoration: underline;}

#header, .is_fixed{top:0;left:0;z-index:9998;width:100%}
#header.hidden{top:-70px!important}
#header .hd, .is_fixed .cont{position:relative;margin:0 auto;max-width:980px}
#header .ct{height:39px;padding:15px;position:relative;background:#2b2622;color:#FFF}
#wrapper.fxhead .ct{background:rgba(43, 38, 34, 0.9)!important}
.is_fixed{z-index:10;-webkit-transform:translateZ(0)}
.abs_panel.abs, .is_fixed.abs{position:absolute}

/* Floating share block */
.fsb{position:fixed;bottom:-40px;left:0;width:100%;z-index:10;transition:all 300ms ease-in-out 0s}
.fsb.rollup{bottom:0}
.fsb_box{margin:0 auto;max-width:980px;padding:0 5px}
.fsb_panel{box-sizing:border-box;background:#FFF;border:1px solid #999;color:#000;padding:5px;border-bottom:0;margin-right:235px;height:39px;overflow:hidden}
.fsb_panel ul{list-style:none;margin:0;padding:0}
.fsb_panel ul li{float:left;margin-left:20px;box-sizing:border-box;display:block;text-align:center;border-radius:4px;cursor:pointer;margin:0 0 10px 1%;min-width:128px;padding:5px;color:#FFF;width:24.25%}
.fsb_panel ul li:first-child{color:#000;margin-left:0 !important}

/* floating login form */    
.abs_panel{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.85);z-index:9999;color:#FFF}
.abs_panel form{margin:20% auto 0;width:90%}
.abs_panel form input{width:100%;height:30px;font-size:1.2rem;background:none;border:none;border-bottom:1px dotted #FFF;color:#fff;border-radius:0}
.abs_panel i{font-size:1.4rem;top:25px;position:absolute;right:15px;cursor:pointer}
#search input{font-family:"PFDinCondensedMedium",Helvetica,Arial;font-size:2.5rem;height:55px;padding:0;border-radius:0}
.abs_panel.login p{text-align:center;color:#fff;font-size:1.4rem;padding:0 0 10px;margin:0 0 5px}
#search input[type="submit"]{display:none !important}
.abs_panel.login form{width:240px}
.abs_panel.login input[type="text"], .abs_panel.login input[type="password"]{margin-left:-3px;background:#595959;border:1px solid #737373;border-radius:4px 4px 0 0;color:#afafaf;padding:5px 0 5px 5px}
.abs_panel.login input[type="password"]{border-top:0;border-radius:0 0 4px 4px}
.abs_panel.login input[type="submit"]{border-radius:4px;border:1px solid;margin:15px 0;cursor:pointer}
.abs_panel.login input[type="submit"]:hover{color:#ff4e00;border-color:#ff4e00}
.abs_panel.login span.input-placeholder-text{font-size:1.2rem;padding:10px 0 0 5px}

.logo{position:absolute;left:62px;margin:0;line-height:28px}
.logo .round{background:#FFF;color:#2b2622;padding:5px 9px 2px;border-radius:7px}
.logo .pref{color:#ff4e00;padding-top:18px;line-height:15px}
.logo .round, .logo .pref{float:left}
.logo a, .footer-wrap a{display:block;color:#FFF;font-family:"PFDinCondensedMedium",Helvetica,Arial,sans-serif;font-size:1.75rem}
.logo a, .footer-wrap a:hover{text-decoration:none}
.navbut{position:absolute;top:15px; left:5px; padding:10px 0 10px 10px;font-size:1.5rem;cursor:pointer}

#controls{position:absolute;top:0;right:0;padding:0;margin:10px 0 0}
#controls i{font-size:1.3rem}
#controls a{text-decoration:none;padding:15px 4px}

#main{position:relative;overflow:hidden;max-width:980px;padding-top:10px}
#main > :last-child{border-bottom:none}
#yandex_top{border:1px solid #e5e5e5;border-radius:4px;box-shadow:1px 1px 5px #ddd}
/* #yandex_bot, #yandex_top, #yandex_flat{display:none} */
.sbga{margin:0 0 0 -5px}

#navline{position:relative;width:480px;height:17px;line-height:20px;overflow:hidden;margin:11px auto;padding:0 0 0 130px}
#navline a, #controls a{display:none;text-transform:uppercase;transition:color 0.3s ease-in-out 0s;float:left;
display:block;font-family:"PFDinCondensedMedium",Helvetica,Arial,sans-serif;font-size:1.3rem;color:#FFF}
#navline a{margin:0 0 0 7px;padding:0 0 0 7px;border-left:1px dotted #FFF}
#navline a:first-child{border:0;padding:0;margin:0}
#navline.in{padding-right:180px}
#navline.out{padding-right:80px}

#nav{overflow:hidden;position:fixed;z-index:99999;top:0;height:100%;left:-270px;width:270px;background:#2b2622;text-align:left}
#nav.active{left:0;width:270px;}
#nav.active .close{left: 235px;height:30px;width:30px;padding:8px 0 0}
#nav .close{position:fixed;top:0;left: -50px;z-index:1000002;font-size:15px;cursor:pointer;color:#FFF}
#nav .close_nested{position:relative;font-size: 1.2rem;margin:10px 0 0;padding-left:12px;font-weight: bold;cursor:pointer}
#nav .nb{position: absolute;top: 0;bottom: 0;left: 0;right: -30px;overflow:auto}
#nav ul{width:225px;padding-left:0}
#nav li{display:block;-moz-box-sizing:content-box;box-sizing:content-box}
#nav li:first-child{padding-top:5px;width:200px}
#nav li.main_cat{background:#EEE;border-bottom:1px dotted #fff;padding-left: 5px}
#nav li.sub_cat{padding-left:14px;background:url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAANAAwDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAABwUG/8QAJRAAAgEEAQQBBQAAAAAAAAAAAQIDBAUGEQAHEiExExUiQlFh/8QAFAEBAAAAAAAAAAAAAAAAAAAAAv/EABsRAAIBBQAAAAAAAAAAAAAAAAABEQIDEiIx/9oADAMBAAIRAxEAPwDRdT80vnSbN4ZaSVLljt1Uz/TqiT7oHB0/xt7RSSCB5XZYAcU8Mze35XYILrRUlziil2OySilJBHvRVSrD+g8hU3Tq05Jk0uWZRu61DkpSUkq6gpo0JAXt/M72ST42fXEZQEVVQBVUaCjwAP0BxURik+iuQ3qf/9k=") no-repeat scroll center left;background-size:7px}
#nav li a{padding-left:10px;text-transform:uppercase;display:block;margin-left:10px;font-family:"PFDinCondensedMedium",Helvetica,Arial,sans-serif;font-size:1.4rem;color:#FFF;line-height:1.6rem;margin-bottom:10px;transition:color 0.3s ease-in-out 0s}
#nav ul li ul li a{position:relative;width:190px;font-size:1.3rem;line-height:1.5rem}
#nav li a:hover, #navline a:hover, #controls a:hover{color:#ff4e00;text-decoration:none}
#nav .navsc{position:fixed;width:235px;top:0;bottom:0;left:-285px;overflow:hidden;background:#4E453E}
#nav .smw{position:absolute;top:0;bottom:0;left:0;overflow:auto;right:-40px}
#nav ul ul{padding-top:10px}

.article-list{list-style:none;margin:0;padding:0;float:left}
.article-list > li{float:left;padding:8px 0 15px;border-bottom:1px dotted #D3D3D3}
.article-list > li:first-child{border-top:1px dotted #D3D3D3}
.article-list li .visual{float:left;border:2px solid #e8d9ba;margin:0 15px 5px 0}
.article-list li .visual a{display:table-cell;vertical-align:middle;width:100px;height:100px;margin:0}
.article-list li .visual a img{max-width:100px;max-height:100px;display:block;margin:auto}
.article-list li .info{overflow:hidden}
.article-list li .heading{float:left;padding:0 0 3px}
.article-list li .stars{clear:left;float:left;height:14px;margin:2px 0 7px;width:100px}
.article-list li .stars img{display:block;margin:0 auto}
.article-list li .title {clear:left;display:block;padding-right:10px}
.article-list li p{clear:both;margin:5px 0 10px}
.article-list li .data{color:#2b2622;font-size:14px;list-style:none;margin:0 -5px 0 0;overflow:hidden;padding:0;text-align:left}
.article-list li .data li{float:left;width:33%;border-top:1px dotted #EEE;line-height:30px;min-width:150px}
.article-list li .data li:first-child{border:0}
.article-list li .data li:last-child{clear:left;width:100%}
.article-list li .data li i{margin:0 0 0 .5em;font-size:10px}

.control{margin:15px 0;overflow:hidden}
.control.cbot{float:left;padding:1px 0}
.paging{font-size:14px;list-style:none;margin:0;padding:0;float:left !important}
.paging li{float:left;padding:0 5px}
.paging li:first-child{padding-left:0}
.paging li a{border-radius:4px;color:#fff;float:left;line-height:23px;padding:0 8px;text-align:center;background-image:linear-gradient(to bottom, #ec5105, #f89406);border-color:#e6e6e6 #e6e6e6 #bfbfbf;box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);border:1px solid #FFF}
.paging span.more{float:left;line-height:26px;padding:0 5px}
.pagin span.more a{margin:0 5px}
.paging li.active a, .paging li a:hover{color:#2b2622;text-decoration:none;font-weight:700;background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);border:1px solid #cccccc}

#footer{border-top:10px solid #F7E2CA;position:relative;background:#2b2622;color:#FFF;padding:0 .7%}
#footer ul{list-style:none;overflow:hidden;padding:14px 0;margin:0}
#footer ul a{color:#DFDFDF}
#footer li{float:left;overflow:hidden}
#footer > ul > li{float:left;width:32.4%;padding:0;padding-left:.7%;font-size:13px;line-height:18px}
#footer > ul > li:first-child{padding:0}
#footer > ul > li > ul{float:right;padding:0;margin:0 auto}
#footer ul li ul li{clear:right;float:right;min-width:160px;text-align:left}
#footer ul li ul li:first-child{float:left;min-width:auto;margin-right:20px;color:#ff4e00;font-weight:bold}

.m0{margin:0!important}
.p0{padding:0!important}
.mgr0{margin-right:0!important}
.pdlr-20{padding-left:2.11%!important;padding-right:2.11%!important}
.pdl-20{padding-left:1.11%!important}
.pdr-20{padding-right:1.11%!important}
.pdr-40{padding-right:6.11%!important}
.pdt-20{padding-top:20px!important}
.pdtb-10{padding:10px 0}
.mrr-20{margin-right:1.11%!important}
.mrl-20{margin-left:1.11%!important}
.mrlr-20{margin-left:2.11%!important; margin-right: 2.11%!important}
.bbtm-2-g{border-bottom:2px solid rgba(0, 0, 0, 0.12)}
.mrbt-10{margin:10px 0}
.mrr-10{margin-right:10px}
.inl *{display:inline-block}

.block{overflow: hidden;border-bottom: 4px solid rgba(255, 78, 0, 0.29);}
.block.bckg{background: rgb(229, 229, 229);position: relative;}
.block.nobd{border-bottom: none;}

/* Article & News bottom blocks */
.inpage{margin:0 240px 0 0;padding:20px 0 0 1.11% !important;overflow:hidden}
.lastest_news, .also_read{background:rgb(229, 229, 229);position:relative;overflow:hidden;padding:20px 0 0 1.11% !important;z-index:11}
.also_read{margin:0 240px 0 0}
.box{clear:both;overflow:hidden;margin:0 0 10px 0;padding:5px 5px 0;border:1px solid #dbdbdb;border-radius:3px;background:#FFF}
.box .head{overflow:hidden;padding:0 0 0 15px;border-radius:4px;border:1px solid #261d1e;color:#FFF;line-height:33px;background-color:#372727}
.box .head i{padding-right:5px}
.box .head i:hover{color:#FFF}
.box .article{padding:0 10px 10px}
.also_read .box{margin-right:1.11%}
.also_read .most-list{margin:0;padding:10px 0 20px 13px;list-style:none;overflow:hidden;font-size:13px}
.also_read .most-list li{background:url(/misc/i/d/ico34.gif) no-repeat 0 3px;padding:0 0 5px 21px}
.also_read .most-list li a{color:#0096ff;text-decoration:underline}
.also_read .most-list li span{color:#b6b6b6;font-size:12px;margin-left:10px}
#yandex_bot{overflow:hidden;background:#fff;margin:3px 1.11% 10px 0;padding:5px;border-radius:5px}

.content{margin:0 247px 0 0;padding:0 0 0 5px}
.content.teaser, .content.featured_article{padding: 20px 0 0;float:left}
.content .mn{margin:0 0 6px}
.sidebar, .is_fixed .sbft{float:right;width:230px;padding:0 5px;background:#DFDFDF;margin:10px 0 0 0;position:absolute;bottom:0;top:0;right:0}
.is_fixed .sbft{margin:0;bottom:auto}

.article_block{margin: 20px 0 0 240px;}

.head_block{overflow:hidden;margin:10px 0 15px}
.head_block .mc{overflow:hidden;height:37px}
.head_block h2{color:#4D4D4D;width:31.9%;float:left;font-family:'PFDinCondensedMedium';font-weight:400;font-size:2.2rem;padding:0 20px 0 0;margin:0;line-height:35px}
.head_block span{color:gray}
.head_block span:after{content:'';clear:both;display:block;padding:0 0 3px}
.head_block a{float:left;line-height:14px;color:#000;padding:3px 10px 0 0}
.head_block a:hover{color:gray;text-decoration:none}

.ab{position:relative;float:left;margin:0 1.11% 20px 0;min-height:440px;overflow:hidden;width:32.22%;background:#f1f1f1;text-align:center}
.ab:hover .meta{opacity:1;top:40%}
.ab:hover .preview:after{opacity:1}
.ab a{color:#333;font-family:"PFDinCondensedMedium",Helvetica,Arial,sans-serif;font-size:1.2rem}
.ab a:hover,.ab .data .title,.text_block a:hover{color:initial;text-decoration:none}
.ab img{width:100%}
.ab div,.ab a.category{position:absolute}
.ab .category{left:50%;background-color:#f1f1f1;white-space:nowrap;line-height:40px;bottom:-17px;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%),z-index:3}
.ab .data{padding:0 15px;top:220px;bottom:45px}
.ab .data .title{display:block;vertical-align:middle;width:100%;font-size:1.4rem;padding-bottom:10px}
.ab .data .desc{height:69px;padding:0;font-weight:100;font-family:Arial;font-size:.9rem;line-height:1rem;color:gray;overflow:hidden}
.ab .meta{font-family:Arial;font-weight:700;z-index:3;-webkit-transition:margin .2s;-moz-transition:margin .2s;-ms-transition:margin .2s;
-o-transition:margin .2s;transition:margin .2s;left:50%;margin-left:-80px;margin-top:-25px;width:140px;top:-20px;background:rgba(68,68,68,0.5);
padding:0 10px;border-radius:10px;opacity:0;-webkit-transition:top .3s;-moz-transition:top .3s;-ms-transition:top .3s;-o-transition:top .3s;transition:top .3s}
.ab .meta, .ab .meta *{color:#fff;font-size:.7rem;font-style:normal}
.ab .meta i{padding:0 5px 0 0}
.ab .meta i:last-child{padding:0 5px 0 10px}
.ab .preview{height:100%;width:100%;top:0}
.ab .preview:after{content:'';position:absolute;top:0;right:0;bottom:0;left:0;z-index:2;background:rgba(0,0,0,.4);opacity:0;-webkit-transition:opacity .1s;
-moz-transition:opacity .1s;-ms-transition:opacity .1s;-o-transition:opacity .1s;transition:opacity .1s}

.mn .bn, .mn .sn{width:66.85%;float:left;position:relative}
.mn .desc{position:absolute;bottom:0;color:#fff;width:100%;background:rgba(0,0,0,0.5)}
.mn .desc span{display:block;font-size:1.2rem;line-height:1.4rem}
.mn .sn .desc{top:0}
.mn .bn .desc span{font-weight:700;padding:10px 10px 20px}
.mn .sn .desc span{padding:0 10px 0;position:absolute;bottom:10px}
.mn img{width:100%}
.mn .sn{width:33.15%}

.text_block > a:after{content:'';clear:both;display:block;padding:0 0 10px}
.text_block h2 a{color:#4D4D4D}
.text_block h2:before{content:'';background:#ff4e00;position:absolute;height:4px;width:100%;left:0;top:0}
.text_block h2{margin: 15px 0;font-family: Arial;color:#4D4D4D}
.text_block.h800{height: 819px}
.text_block:after{content:'';position:absolute;right:0;bottom:0;left:0;height:28px;background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background:linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);border-bottom:10px solid #FFF;pointer-events:none}
.text_block{background:#FFF;border:1px solid rgb(195, 195, 195);border-top:none;float:left;margin:0 1.11% 20px 0;height:398px;overflow:hidden;width:27%;padding:0 3% 0 1.9%;position:relative}
/* News teaser styles */
#teaser, #featured_article{width: 220px;top:85px;}
#teaser.bottom, #featured_article.bottom, #left_share.bottom{position: absolute;}
.teaser, .featured_article{clear:both;display:block;box-sizing:border-box;margin:0 0 5px 0;float:left;background:#FFF;width:100%;padding:5px}
.teaser:last-child, .featured_article:last-child{margin:0}
.teaser a, .featured_article a{color:#000}
.teaser a:hover, .featured_article a:hover{text-decoration: none; color: #ff4e00}
.teaser img, .featured_article img{max-width:80px;max-height:80px;float:left;margin:0 10px 0 0}
.teaser span, .featured_article span{font-size:0.8rem}
.sidebar .featured_article img{max-width:220px;max-height:110.5px;margin:0;padding:0}
.sidebar .featured_article span{display:block;float:left;margin:10px 5px;width:auto;word-wrap:break-word;font-size:14px}
/* Intext ad block styles */
.text-ad-block{overflow:hidden}
.text-ad-block .gb{float:left}
.text-ad-block .tb{margin-right:10px;float:left;padding:2.5px;max-width:280px;min-width:215px;width:40%;background-color:#DFDFDF}
.text-ad-block .tb.tb-paired{padding:2.5px 1px}
.text-ad-block .tb .teaser, .text-ad-block .tb .featured_article{margin-bottom:2.5px}
.text-ad-block .tb .teaser:last-child, .text-ad-block .tb .featured_article:last-child{margin-bottom:0}
.text-ad-block .tb img{margin:0 10px 0 0 !important;max-width:80px!important}
.text-ad-block .tb span{font-size:14px;display:flex}

.tb.tbline{overflow:hidden;width:100%;max-width:100%;min-width:100%;background-color:#FFF}
.tb.tbline .teaser, .tb.tbline .featured_article{float:left;width:215px;height:90px;clear:none;box-sizing:content-box;margin:0 3px 3px 0;border:3px solid #DFDFDF}
/* Top four teasers */
.top_teasers, .topline{overflow:hidden;position:absolute;height:100px;max-width:100%;z-index:-1;background-color:rgba(43, 38, 34, 0.9);padding:0;top:-200px}
.top_teasers.show,  .topline.show{top:65px}
.top_teasers .teaser, .topline .featured_article, .top_teasers .featured_article{box-sizing:border-box;float:left;max-height:90px;min-width:220px;width:24.25%;margin:5px 0.6% 5px 0 !important;clear:none;font-size:12px}
.top_teasers .teaser:first-child, .topline .featured_article:first-child, .top_teasers .featured_article:first-child{margin-left:0.6% !important}

.article_body .meta{display:block;width:100%;padding:3px 0;margin:0 0 20px;overflow:hidden;height:16px;line-height:16px}
.article_body .meta a:hover{text-decoration:none}
.article_body .meta .category{display:block;float:left;color:#FFF;padding:0;margin:0 20px 10px 0}
.article_body .meta .category a{background:#ff4e00;padding:3px 8px;color:#FFF}
.article_body .meta .author{display:block;float:left;margin:0 20px 10px 0}
.article_body .meta .rating{display:block;float:right;margin:-4px 0 0 0}
.article_body .meta .datetime{float:right;color:#000;margin:0 10px 0 0}

table.ide, table.ide tr, table.ide td, table.if, table.if tr, table.if td, table.ir, table.ir tr, table.ir td, table.il, table.il tr, table.il td{border:1px solid #3c2e2d}
/* Share block styles */
.share_block{overflow:hidden;color:#000;width:100%;height:28px}
.share_block span{font-family:"PFDinCondensedMedium",Helvetica,Arial,sans-serif;font-size: 2.1rem;text-align: left;padding: 20px 0 10px;content: '';clear:both;display: block}
.share_block ul{overflow:hidden;list-style:none;color:#FFF;text-align:center;margin:0;padding:0}
.share_block li{box-sizing:border-box;width:24.25%;min-width:128px;margin:0 0 10px 1%;padding:5px;border-radius:4px;cursor:pointer;display:block;float:left}
.share_block li:first-child{margin-left:0 !important}
.share_block i:hover{color:white}

.body{color:#000}
.body img{display:block;margin:10px auto;max-width:100%;height:auto}
.bde{display:block !important;margin:10px auto !important}
.article_body h1, .article_body h2{font-family: "PFDinCondensedMedium",Helvetica,Arial,sans-serif}
.article_body h1{line-height:2.2rem;font-size:2rem}
.article_body h2{font-weight:normal;line-height:1.8rem;font-size:1.6rem;margin:10px 0}

.register{overflow: hidden;padding: 20px 0 0 40px;}
.register h1{font-family: "PFDinCondensedMedium",Helvetica,Arial,sans-serif;line-height: 30px;font-weight: normal;margin:0;}

.form_row{margin: 15px 0 0;overflow: hidden;}
.form_row label{display: block;color: black;}
.form_row label span{color:red;}
.form_row input, .form_row select{width: 100%;}
.form_row .left{float: left;width: 46%;margin: 0 4% 0 0;}
.form_row .right{float: left;width: 48%;margin: 0 2% 0 0;}
.form_row .checkbox input{width: initial;float: left;}
.form_row input[type="submit"]{cursor:pointer;background: #ff4e00;border: none;color: white;font-size: 1rem;padding: 4px 8px;width: initial;float: right;margin: 0 2.11% 0 0;border-radius: 3px;background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5F18),color-stop(35%,#F54B00),color-stop(100%,#D54100));background: -webkit-linear-gradient(top,#FF5F18 0%,#F54B00 35%,#D54100 100%);background: -o-linear-gradient(top,#FF5F18 0%,#F54B00 35%,#D54100 100%);background: -ms-linear-gradient(top,#FF5F18 0%,#F54B00 35%,#D54100 100%);background: linear-gradient(top bottom,#FF5F18 0%,#F54B00 35%,#D54100 100%);border: 1px solid #E54600;);}

.su{background:#fad000;color:#000}
.vk{background:#597da3!important}
.fb{background:#3a5795!important}
.tw{background:#00aced!important}
.gp{background:#dd4b39!important}
.ok{background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(245, 153, 68, 1) 0%, rgba(250, 132, 35, 1) 90%) repeat scroll 0 0}
/* Comments */
.mc-logo{display:none !important}
#mc-container{margin-bottom:30px}
.comment-box{padding:0 0 45px}
.comment-block{background:#f5f5f5;border-radius:7px;padding:17px 20px 5px 17px;margin:0 0 13px;}
.mc-comment-list{list-style-type:none;margin:0;padding:0;color:#000}
.mc-comment-list li{background-image:none;clear:both;font-size:13px;list-style-type:none;margin:10px 0 10px;padding:2px 0 0;border-bottom:1px dotted #999}
.mc-comment-list li:first-child{margin-top:0}
.mc-comment-list > li > .comment-head{background:-moz-linear-gradient(center bottom , #E7E7E7 18%, #F5F5F5 82%) repeat scroll 0 0 #E7E7E7;border:1px solid #DDDDDD;border-radius:5px;padding:3px;text-align:left;overflow:hidden}
.mc-comment-list > li p{margin:10px 0 !important}
.comment-head img{float:left;padding:3px}
.comment-head .name{display:block;float:left;margin:10px 5px 3px 10px}
.comment-head .date{display:block;float:right;margin:10px 10px 3px}
.comment-message img{max-width: 650px}

.icon-scrolltop{font-size:40px;color:#FFF;line-height:52px;margin-left:13px}
#scrolltop:hover, .icon-scrolltop:hover{color:#FFF !important;text-decoration:none}
#scrolltop{display:none;background:#999;overflow:hidden;width:55px;height:55px;position:fixed;z-index:1000;bottom:15px;right:25px;cursor:pointer;border-radius:5px}

.breadcrumbs{margin:0 0 7px 0;padding:0;list-style:none;overflow:hidden;height:25px;background-color:#EEE;border-radius:3px;font-size:12px;color:#2b2622;font-weight:700;line-height:26px}
.breadcrumbs li:first-child{background:none}
.breadcrumbs li{float:left;padding:0 9px 0 15px;background:url(../../i/d/arrow.gif) no-repeat 0 9px}
.breadcrumbs li a{font-weight:400}
.ai{overflow:hidden;height:1%;padding:8px 0 5px 0}
.ai .box{padding-right:1.11% !important}
.ai .top{overflow:hidden;height:1%;padding:0 0 14px}
.ai .photo{float:left;padding:0 25px 0 0}
* html .ai .photo{margin:0 -3px 0 0}
.ai .photo img{vertical-align:top;border:1px solid #ede8e2}
.ai .menu{clear:left;float:left;margin:0;padding:3px 0 0 0;list-style:none;width:100%;font-size:13px}


.ai .menu li{overflow:hidden;float:left;margin:0 0 10px .6%;min-width:150px;width:24.55%;box-sizing:border-box}
.ai .menu li:first-child{margin-left:0}
.ai .menu li a{float:left;line-height:28px;padding:4px;white-space:nowrap;width:100%;box-sizing:border-box;font-size:13px}

.ai .menu .ico{float:left;padding:4px 0 0 1%;cursor:pointer}
* html .ai .menu .ico{margin:0 -3px 0 0}
.ai .menu img{vertical-align:top}
.ai .info{overflow:hidden}
.ai h2{margin:0 0 7px;font-size:30px;line-height:32px;color:#2b2622}
.ai .country{display:block;font-size:18px;padding:0 0 18px;color:#f05d19}
.ai .platinum{display:block;color:#000;background:url(../../i/d/star.gif) no-repeat;padding:5px 0 9px 34px}
.ai .number{color:#000;display:block}
.ai .number strong{color:#f05d19}
.ai .number em{font-style:normal;background:url(../../i/d/border.gif) no-repeat 0 50%;margin:0 6px 0 7px}
.ai h3{margin:0 0 8px;font-size:18px;color:#2b2622}
.ai .more{display:block;overflow:hidden;height:1%;font-size:13px;margin:-11px 2px 12px 0}
.ai .more a{float:right;padding:0 0 1px;background:url(../../i/d/border01.gif) repeat-x 0 100%}
.ai .more a:hover{background:none;text-decoration:none}
.ai .recent-list{overflow:hidden;height:1%;padding:12px 0}
.ai .recent-list .post{overflow:hidden;height:1%;padding:0 0 14px}
.ai .recent-list h4{margin:0 0 2px;padding:0 0 0 20px;font-size:14px;background:url(../../i/d/ico34.gif) no-repeat 0 2px}
.ai .recent-list h4 a{text-decoration:underline}
.ai .recent-list .published{display:block;font-size:11px;color:#888;padding:0 0 4px}
.ai .recent-list .published a{text-decoration:underline}
.ai .recent-list .published em{font-style:normal;background:url(../../i/d/border02.gif) no-repeat 0 50%;margin:0 2px 0 6px}
.ai .niches{margin:0;padding:5px 0 27px;list-style:none;overflow:hidden;height:1%}
.ai .niches li{float:left;width:49%;padding:0 0 5px}
.ai .niches li a{text-decoration:underline}
.ai .more-list{margin:0;overflow:hidden;height:1%;padding:6px 0 27px}
.ai .more-list dt{overflow:hidden;height:1%;color:#2b2622;padding:0 0 4px}
.ai .more-list dd{margin:0 0 10px;overflow:hidden;height:1%}
.ai .more-list a{text-decoration:underline}

.btn{width:150px;display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;
text-align:center;vertical-align:middle;cursor:pointer;color:#333333;background-color:#f5f5f5;background-image:
-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;
*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;
-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)}
#popup{width:90%;height:200px}

.mb_frame{padding:10px 0;position:relative;z-index:10px;background-color:#FFF}

@media(max-width:1200px){
    #scrolltop{display:none !important}
}
@media(max-width:1000px){
    .is_fixed.abs .sbft{padding:5px 0 0 5px}
    .is_fixed .cont{border-right:5px solid #dfdfdf}
}
@media(max-width:926px){
    .top_teasers .teaser, .topline .featured_article{display:block;box-sizing:border-box;float:left;max-height:90px;min-width:220px;width:32.4%;margin:5px 0.7% 5px 0 !important;clear:none;font-size:12px}
    .top_teasers .teaser:first-child, .topline .featured_article:first-child{margin-left:0.7% !important}
}
@media(max-width:900px){
	.text-ad-block{margin:10px -5px 10px -10px}
    .ai .menu li{width:49.5%}
    .ai .menu li:nth-child(even){margin-left:1%}
    .ai .menu li:nth-child(odd){margin-left:0}
}
@media(max-width:850px){
    .text-ad-block{margin:0}
	.text-ad-block .tb.tb-paired{display:none}
	
    .share_block li, .fsb_panel ul li{width:32.2%;margin-left:1.7%}
    
    #footer ul li:first-child ul li:not(:first-child){min-width:132px}
    #footer ul li:last-child ul li:not(:first-child){min-width:94px}
    #footer ul li ul li:first-child{margin-right:10px}
    #footer > ul > li:first-child{padding:0;width:35.74%}
    #footer > ul > li:nth-child(even){width:35.5%}
    #footer > ul > li:last-child{width:25.96%}
    
    .content .mn span{font-size:1rem !important;line-height:1.2rem !important}
    .content .mn .bn{float:none !important;width:100% !important}
    .content .mn .sn{width:50% !important}
}
@media(max-width:800px){
	.sbga{display:none}
    .content{margin:0 190px 0 0}
    .also_read{margin:0 181px 0 0}
    .sidebar, .is_fixed .sbft{width:171px}
    .sidebar .featured_article img{max-width:161px;max-height:80.5px}
}
@media(max-width:700px){
    #footer ul li.ew{width:32.4%}
    #footer ul li.ew ul{float:none}
    #footer ul li:first-child.ew ul{width:132px}
    #footer ul li:nth-child(even).ew ul{width:160px}    #footer ul li:last-child.ew ul{width:94px}
    #footer ul li:first-child ul li:first-child{min-width:132px}
    #footer ul li:nth-child(even) ul li:first-child{min-width:158px}
    #footer ul li:last-child ul li:first-child{min-width:94px}
    #footer ul li ul li:first-child{float:right;margin-right:0}
    
    .mn span{font-size:1rem !important;line-height:1.2rem !important}
    .sidebar{display:none}
    .content{margin:4px 0 0 0}
    .fsb_panel, .also_read{margin-right:0}
    .top_teasers .teaser, .topline .featured_article{display:block;box-sizing:border-box;float:left;max-height:90px;min-width:220px;width:49.1%;margin:5px 0.6% 5px 0 !important;clear:none;font-size:12px}
    .top_teasers .teaser:first-child, .topline .featured_article:first-child{margin-left:0.6% !important}
}
@media(max-width:640px){
    article > h1{margin-top:0;font-size: 1.8rem}
    .head_block .mc, #yandex_bot, #yandex_top{display:none !important}
    .top_teasers, .topline{display:block}
    .ab{margin: 0 2% 20px 0;width:48%}
    .mn .bn{float:none;width:100%}
    .mn .sn{width:50%}
    .special .head{display: none;}
    .special .spec_proj{max-width: 33.334%;}
    .special ul{-webkit-padding-start: 0;}
    .text_block{margin: 0 2% 20px 0;width: 42.6%;padding: 0 3% 0 2%;}
    .article-list li .visual a{width:70px;height:70px}
    .article-list li .visual a img{max-height:70px;max-width:70px}
    .article-list li .stars, .article-list li .stars img{width:74px!important}
}
@media(max-width:550px){
    .top_teasers, .topline, #navline.in{display:none !important}
    .text_block{margin:0 2% 20px 0;width:92.6%;padding:0 3% 0 2%}
    #footer > ul > li.ew{width:49.3%}
    #footer > ul > li:nth-child(even){display:none}
    .text-ad-block .gb, .text-ad-block .tb{float:none;overflow:hidden;max-width:336px;min-width:300px;margin:0 auto}
    .text-ad-block .tb.tbline .teaser,  .text-ad-block .tb.tbline .featured_article{float:none;margin:0 0 3px 0;height:auto;width:100%;overflow:hidden;box-sizing:border-box}
    .mn .sn{width:100%}
    .mn .sn .desc span{font-weight:700;padding:10px 10px 20px}
}
@media(max-width:480px){
    #search input{font-size:1.8rem;height:40px}
    html body #ya-site-form0 .ya-site-suggest__content{font-size:1.5rem !important}
    .ab{min-height:450px}
    
    #ok_group_widget{display:none}
}
@media(max-width:435px){
    #navline.out{display:none !important}
    .ab{margin:0 2% 20px 0;width:98%;min-height:430px}
    .ab .data .title{display:block;width:auto;height:auto;min-height:40px}
    .ab .meta{margin-top:-435px}
    .setbut{display:none !important}
    .share_block .su, .share_block .ok, .fsb .su, 
    .fsb .ok, .article_body .meta{display:none !important}
    .share_block li, .fsb_panel ul li{width:49%;margin-left:2%}
    .share_block .fb, .fsb_panel .fb{margin-left:0 !important}
}
@media(max-height:400px){
    .top_teasers, .topline{display:none}
}
@media(max-width:380px){
    .ai .menu li{width:100%;margin:0 0 5px 0 !important}
    .ab{min-height:430px}
    .ab .data{top:240px}
    .ab .preview:after{display:none}
    .ai .info{clear:both;margin:0 auto;padding:10px 0 15px}
    .ai .photo{width:100%;padding:0}
    .text_block{display:none}
    .logo{left:50px !important}
    #header .ct{padding-right:3px}
    #controls a{padding:15px 2px !important;margin:0 !important}
    #footer > ul > li:first-child.ew{width:56.2%}
    #footer > ul > li:last-child.ew{width:41%}
}
/* Navline adjustment */
@media(max-width:845px){#navline.in{width:395px}}
@media(max-width:760px){#navline.in{width:320px}}
@media(max-width:685px){#navline.in{width:260px}}
@media(max-width:626px){#navline.in{width:210px}}
@media(max-width:575px){#navline.in{width:150px}}
@media(max-width:730px){#navline.out{width:395px}}
@media(max-width:645px){#navline.out{width:320px}}
@media(max-width:570px){#navline.out{width:260px}}
@media(max-width:511px){#navline.out{width:210px}}
@media(max-width:460px){#navline.out{width:150px}}
/* Info pages */
.content .container{color:#000}
.content .article h1, .content .article h2, .search h1{font-size:2rem;font-weight:normal;line-height:2.2rem;margin:10px 0;font-family: "PFDinCondensedMedium",Helvetica,Arial}
.content .container .content-nav{height:1%;overflow:hidden;padding:10px 10%;margin-bottom:10px}
.content .container .content-nav-three{height:1%;overflow:hidden;padding:10px 0;margin-bottom:10px}
.content .container .content-nav ul{float:left;min-width:150px;margin:0;padding:0;list-style:none;width:40%}
.content .container .content-nav ul:first-child{width:54%;padding-right:9%;box-sizing:border-box}
.content .container .content-nav-three ul{float:left;margin:0 1px;padding:0;list-style:none;width:33%}
.content .container .content-nav-three ul li,.content .container .content-nav ul li{background:url(/misc/i/d/bg-li-info.gif) no-repeat 0 4px;padding:0 0 8px 21px}
.content .container .content-nav-three ul li a,.content .container .content-nav ul li a{border-bottom:1px dotted #0096ff}
.content .container h3{color:#2B2622;font-size:16px;margin:15px 0 8px}
.content .container h3 a{color:#2B2622;font-size:16px;text-decoration:none}
.content .container ul{margin:0;padding:0 10px 0 0;list-style:none}
.content .container ul li{background:url(/misc/i/d/bg-li-info-content.gif) no-repeat 0 0;padding:0 0 8px 21px;text-align:justify}
.content .article .answer{margin:20px 0}
.content .article p .anchor{text-decoration:none;font-weight:700;color:#000}
.content .article hr{border:1px dotted #999;border-style:none none dotted}
.sbnav{border:1px solid #e5e5e5;border-radius:4px;box-shadow:0 0 2px #ddd;list-style:outside none none;margin:0 0 40px;padding:0}
.sbnav > li:first-child a{border-radius:4px 4px 0 0}
.sbnav > li:last-child a{border-radius:0 0 4px 4px}
.sbnav > li + li{border-top:1px solid #e5e5e5}
.sbnav a{background:#fff;cursor:pointer;display:block;padding:1px;position:relative;border:1px dotted #fff;font-weight:bold;padding:7px 12px 8px}
.sbnav > li > a:hover{background:#2b2622;color:#fff;text-decoration:none;border:1px dotted #08c}
/* jRating */
.jRatingAverage{background-color:#f62929;position:relative;top:0;left:0;z-index:2;height:100%}
.jRatingColor{background-color:#f4c239;position:relative;top:0;left:0;z-index:2;height:100%}
.jStar{position:relative;left:0;z-index:3}
p.jRatingInfos{position:absolute;z-index:9999;background:transparent url('/misc/icons/bg_jRatingInfos.png') no-repeat;color:#FFF;display:none;width:91px;height:29px;font-size:16px;text-align:center;padding-top:5px}
p.jRatingInfos span.maxRate{color:#c9c9c9;font-size:14px}
/* Fotorama */
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__html,.fotorama__img,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}
.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}
.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}
.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}
.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}
.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame{-webkit-transform:translateZ(0);transform:translateZ(0)}
.fotorama__arr:focus,.fotorama__fullscreen-icon:focus,.fotorama__nav__frame{outline:0}
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after{content:'';border-radius:inherit;background-color:rgba(0,175,234,.5)}
.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft{-webkit-transform:none!important;transform:none!important}
.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{transition-property:-webkit-transform,width;transition-property:transform,width;transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-duration:0}
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
.fotorama__nav,.fotorama__nav__frame{margin:auto;padding:0}
.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft{-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}
.fotorama__nav__frame,.fotorama__thumb-border{box-sizing:content-box}
.fotorama__caption__wrap{box-sizing:border-box}
.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{-webkit-tap-highlight-color:transparent}
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(/misc/i/d/fotorama/fotorama.png) no-repeat}
@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:2dppx) {
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(/misc/i/d/fotorama/fotorama@2x.png) 0 0/96px 160px no-repeat}
}
.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}
@media print {
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play{background:none!important}
}
.fotorama{min-width:1px;overflow:hidden}
.fotorama:not(.fotorama--unobtrusive)>:not(:first-child){display:none}
.fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}
.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}
.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage{background:#000}
.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr;z-index:0}
.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}
.fotorama__nav,.fotorama__stage{overflow:hidden;position:relative;max-width:100%}
.fotorama__wrap--pan-y{-ms-touch-action:pan-y}
.fotorama__wrap .fotorama__pointer{cursor:pointer}
.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}
.fotorama__stage__frame{overflow:hidden}
.fotorama__stage__frame.fotorama__active{z-index:8}
.fotorama__wrap--fade .fotorama__stage__frame{display:none}
.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active{display:block;left:0;top:0}
.fotorama__wrap--fade .fotorama__fade-front{z-index:8}
.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}
.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}
.fotorama__img{-ms-filter:alpha(Opacity=0);filter:alpha(opacity=0);opacity:0;border:none!important}
.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img{-ms-filter:alpha(Opacity=100);filter:alpha(opacity=100);opacity:1}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full{display:none}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}
.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage{max-width:99999px!important}
.fotorama__wrap--only-active .fotorama__stage__frame{visibility:hidden}
.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}
.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}
.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}
.fotorama__nav__frame{position:relative;cursor:pointer}
.fotorama__nav--dots{display:block}
.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}
.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}
.fotorama__nav--thumbs{display:block}
.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}
.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}
.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}
.fotorama__dot{display:block;width:4px;height:4px;position:relative;top:12px;left:6px;border-radius:6px;border:1px solid #7f7f7f}
.fotorama__nav__frame:focus .fotorama__dot:after{padding:1px;top:-1px;left:-1px}
.fotorama__nav__frame.fotorama__active .fotorama__dot{width:0;height:0;border-width:3px}
.fotorama__nav__frame.fotorama__active .fotorama__dot:after{padding:3px;top:-3px;left:-3px}
.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}
.fotorama__nav__frame:focus .fotorama__thumb{z-index:2}
.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))}
.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}
.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}
.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}
.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}
.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption{display:none}
.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}
@-webkit-keyframes spinner{
0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes spinner{
0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}
.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img{transition-property:opacity;transition-timing-function:linear;transition-duration:.3s}
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img{-ms-filter:alpha(Opacity=0);filter:alpha(opacity=0);opacity:0}
.fotorama__select{cursor:auto}
.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}
.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{position:absolute;z-index:11;cursor:pointer}
.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}
.fotorama__arr--prev{left:2px;background-position:0 0}
.fotorama__arr--next{right:2px;background-position:-32px 0}
.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}
.fotorama__fullscreen-icon{width:32px;height:32px;top:2px;right:2px;background-position:0 -32px;z-index:20}
.fotorama__arr:focus,.fotorama__fullscreen-icon:focus{border-radius:50%}
.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}
.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;opacity:0}
.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}
.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play,.fotorama__nav__frame .fotorama__video-play{opacity:1;display:block}
.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px}
.fotorama__video-close{width:32px;height:32px;top:0;right:0;background-position:-64px 0;z-index:20;opacity:0}
.fotorama__wrap--css2 .fotorama__video-close{display:none}
.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}
.fotorama__wrap--video .fotorama__video-close{display:block;opacity:1}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{opacity:0}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{opacity:1}
.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{opacity:0!important}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{display:none}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{display:block}
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon{display:none!important}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){-webkit-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){-webkit-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{-webkit-transform:translate3d(32px,-32px,0)!important;transform:translate3d(32px,-32px,0)!important}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{-webkit-transform:translate3d(-48px,0,0)!important;transform:translate3d(-48px,0,0)!important}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{-webkit-transform:translate3d(48px,0,0)!important;transform:translate3d(48px,0,0)!important}
.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.3s}
.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}
.fotorama__nav:before,.fotorama__stage:before{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}
.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before{left:0}
.fotorama__nav:after,.fotorama__stage:after{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}
.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after{right:0}
.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before{display:none}