/*************** Correctif fonds immersifs EU à supprimer le 07 Janvier ***************/
body:not(.i18n-fr-FR).digital_fusion{
    background-position: center top;
}

/*************** Liens satisfaction sncf ***************/
.iframe-satsncf {
  background: url('/sites/default/files/images/logo-sat-sncf.png') repeat scroll 0 0 transparent;
  color: white;
  font-family: Avenir;
  font-size: 14px;
  height: 29px;
  padding: 6px 5px 0 0;
  text-align: right;
  text-decoration: none;
  width: 139px;
  text-transform: uppercase;
  line-height: 25px;
  float: right;
}
a.iframe-satsncf:visited {
  color: #fff;
}
a.iframe-satsncf:hover {
  color: #fff;
  text-decoration: none !important;
}

.digital-box-slim{
   clear: both;
}

/*************** Hide expedia offers from HP_LPs ***************/
.node-type-hp-lp .node-flux.digital-box.column-right-left.-wrapper {
  display: none !important;
}

/*************** Patch datepicker/onglets du booking ***************/
body.i18n-fr-FR #vsct-booking-form #booking-form-choice {
  z-index: 10;
  top: 2px;
}

/*************** [ANI-1964] - Masquage des prix EB UK ***************/
.i18n-en-UK #railpass-prices, .i18n-en-UK #railpass-prices-total{display: none;}

/*************** [Breadcrumb] Pages transac du DV ***************/
body.digital_fusion #reservationstep.transac-block {
  margin-top: -50px;
}
#block-payment-express .button-primary {
  width: 93% !important;
}

/*************** New picto agence (Footer) ***************/
#vsct-footer-social-bar #mhotel {
   background-image: url(/sites/default/files/images/pictoagence.png) !important;
}

/*************** [Breadcrumb] Pages transac du DV KIS ***************/
.vsc__main--kis .vsc__content>.breadcrumb {
    margin-bottom: 1.5em !important;
}

/*************** [RU] Fil d'Ariane au survol ***************/
body.i18n-ru-RU .breadcrumb a:hover { background: none; }

/*************** [VOYAZINE] Masthead ***************/
.node-type-voyazine-article #ad-masthead { text-align: center; }

/*** Probleme de chevron sur le booking train fr avec lien cartes co***/
.vsb-booking .booking__form .booking__form-header-link:before {
	top: 0.31em !important;
	font-size: 1em !important;
}