/*************** Patch masquer bloc JS col droite responsive ***************/
#node-64656{
display:none !important;
}
@media screen and (max-width: 767px) {
body.node-type-promo-page:not(.i18n-fr-FR) #column-right #node-64656.digital-box{
display:none !important;
}
}

/************** Menu transporteur **************/
@media screen and (max-device-width: 767px) {
    /*menu secondaire responsive*/
        #btn_menu .picto{
            background: url(http://voyage.be.voyages-sncf.com/en/sites/default/files/files/edito_page/picto_menureponsive_0.png) no-repeat;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
        }
        #btn_menu {
            font-size: 22px;
            background: #4d4f53;
            padding: 10px 10px;
            width: 90%;
            color: #ffffff;
            margin: 0 auto 20px;
            border-radius: 3px;
            -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.6);
            -moz-box-shadow: 0 2px 8px rgba(0,0,0,.6);
            box-shadow: 0 2px 8px rgba(0,0,0,.6);
        }
        #responsive_menu .menu .submenu {
          background-position: right -26px;
        }
        #responsive_menu .menu {
            background-color: #fff;
            border-radius: 3px;
            -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.6);
            -moz-box-shadow: 0 2px 8px rgba(0,0,0,.6);
            box-shadow: 0 2px 8px rgba(0,0,0,.6);
            margin: 0 auto;
            width: 90%;
            padding: 10px;
        }
        #responsive_menu .menu li {
          padding: 0;
          margin: 0;
          list-style-image: none;
          list-style-type: none;
          border-bottom: 1px solid #eaeaea;
        }
        #responsive_menu .menu a {
          text-decoration: none;
          padding: 10px 40px 10px 10px;
          display: block;
          color: #4d4f53;
          text-transform: uppercase;
          font-weight: bold;
          background-image: url(/sites/all/modules/custom_addons/vsct_france_theme_components/theme/images/accordion-link-arrow.png);
          background-repeat: no-repeat;
          background-position: right 12px;
        }
        #responsive_menu .menu li ul {
            background-color: #626367;
            background-image: url(/sites/all/modules/custom_addons/vsct_france_theme_components/theme/images/accordion-submenu-noise.png);
            background-repeat: repeat;
            -moz-box-shadow: inset 0 -5px rgba(0,0,0,.4);
            -webkit-box-shadow: inset 0 -5px rgba(0,0,0,.4);
            box-shadow: inset 0 0 5px rgba(0,0,0,.4);
            width: 100%;
            padding: 0;
        }
        #responsive_menu .menu li li {
            padding: 0;
            border-bottom-color: #4d4f53;
        }
        #responsive_menu .menu li ul a {
            color: #fff;
            padding: 10px 40px 10px 10px;
            text-transform: uppercase;
            font-weight: normal;
            background: none;
        }
    /* FIN menu secondaire responsive*/
}
/************** //Menu transporteur **************/

/************** Home transporteur **************/
/* Correction JL 14.26    20/04/2015 */
@media screen and (max-device-width: 767px) {


    body.node-type-carrier-home:not(i18n-fr-FR)  {
        background:none !important;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) #main-content div#main-top.scaling {
      background-position: center top !important;
      width: 100%;
      height: auto;
      background-size: contain;
    }
    body.node-type-carrier-home:not(i18n-fr-FR) #main-content .scaling div#main-top-tetiere {
      padding: 20px;
      background: none #fff;
      margin-top: 220px;
      border-radius: 0px 0px 3px 3px; 
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .node-type-carrier-home .block-mobile-left a img{
        display: none;
    }
    body.node-type-carrier-home:not(i18n-fr-FR) .node-type-carrier-home .block-mobile-left a { 
        display: block;
        background-image: url('/sites/default/files/bloc_mobile_left_de_1.png');
        background-repeat: no-repeat;
    }

    body.node-type-carrier-home:not(.i18n-fr-FR) #column-left,
    body.node-type-carrier-home:not(i18n-fr-FR) #pre-header,
    body.node-type-carrier-home:not(i18n-fr-FR) #vsct-header-top-links,
    body.node-type-carrier-home:not(i18n-fr-FR) #menu,
    body.node-type-carrier-home:not(i18n-fr-FR) #top-region,
    body.node-type-carrier-home:not(i18n-fr-FR) #breadcrumb,
    body.node-type-carrier-home:not(i18n-fr-FR) .hexago,
    body.node-type-carrier-home:not(i18n-fr-FR) #other_destinations,
    body.node-type-carrier-home:not(i18n-fr-FR) .information-push,
    body.node-type-carrier-home:not(i18n-fr-FR) footer,
    body.node-type-carrier-home:not(i18n-fr-FR) .carrier-home-zone-2 .zone-2-left {
        display: none !important;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .zone-2-right, body.node-type-carrier-home:not(i18n-fr-FR) .zone-2-left {
      width: 100%;
      float: none;
    }
    body.node-type-carrier-home:not(i18n-fr-FR) .horizontal-offers .good-deal-horizontal img,
    body.node-type-carrier-home:not(i18n-fr-FR) .good-deal-display img,
    body.node-type-carrier-home:not(i18n-fr-FR) .digital-box iframe,
    body.node-type-carrier-home:not(i18n-fr-FR) div.top-offer img,
    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .node-offer-multi img {
        width: 100% !important;
        height: auto !important;
    }

    
    body.node-type-carrier-home:not(i18n-fr-FR) #column-right .node-content-referenced {
        margin-bottom: 0;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .responsive.node-offer-multi,
    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .multi-offer {
        float: left;
        clear:none;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .multi-offer {
        margin-right:2%;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) div.node-offer-multi.no-top-offer div.line-offers {
        width:48%;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .multi-offer.line-item-1 {
        margin-right:4%;
        float: left;
        width: 48%;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .multi-offer.line-item-2 {
        width: 48%;
        margin-right: 0;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .good-deals-same .good-deals-same-one,
    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .node-offer-multi,
    body.node-type-carrier-home:not(i18n-fr-FR) div.responsive.node-offer-multi.no-top-offer div.line-offers {
        width: 100%;
        float: none;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .line-offer .no-note-amount .line-offer-heading {
        width: 80%;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) #header-wrapper {
        padding-top: 20px;
        height: 30px;
    }


    body.node-type-carrier-home:not(i18n-fr-FR) .node-train-flux .train-flux-label,
    body.node-type-carrier-home:not(i18n-fr-FR) .node-train-flux .train-flux-carrier,
    body.node-type-carrier-home:not(i18n-fr-FR) .node-train-flux .offer-price {
        display: inline-block;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .node-train-flux .train-flux-label {
        width: 57%;
        margin-right: 0;
    }
    body.node-type-carrier-home:not(i18n-fr-FR) .node-train-flux .train-flux-carrier,
    body.node-type-carrier-home:not(i18n-fr-FR) .node-train-flux .offer-price {
        width: 19%;
        margin-right:1%;
    }

    body.node-type-carrier-home:not(i18n-fr-FR),
    body.node-type-carrier-home:not(i18n-fr-FR) #main-content,
    body.node-type-carrier-home:not(i18n-fr-FR) #header-wrapper,
    body.node-type-carrier-home:not(i18n-fr-FR) #container,
    body.node-type-carrier-home:not(i18n-fr-FR) #main-top,
    body.node-type-carrier-home:not(i18n-fr-FR) #column-right,
    body.node-type-carrier-home:not(i18n-fr-FR) #column-left {
        width: 100% !important;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) #column-right {
        display: block !important;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) #column-right .node-content-referenced {
        clear: both;
        margin-bottom: 40px;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) #logo-site {
        width: 147px !important;
        height: 57px !important;
    }
    .js body.node-type-carrier-home:not(i18n-fr-FR) #logo-site-link {
        bottom: -13px !important;
    }
    body.node-type-carrier-home:not(i18n-fr-FR) #main-top {
        overflow: hidden;
    }

    /*offre digital 3 vignette*/
    body.node-type-carrier-home:not(i18n-fr-FR) .horizontal-offers .good-deal-horizontal {
      width: 100% !important;
      margin: 0 !important; 
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .color-tgv-wrapper .link-label.colorize {
      color: #dc2c6d;
      font-size: 12px;
      text-transform: uppercase;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .cta-df-display {
      margin-bottom: 15px; 
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .good-deals-same .good-deals-same-one.offers-one,
    body.node-type-carrier-home:not(i18n-fr-FR) .good-deals-same .good-deals-same-one.offers-two,
    body.node-type-carrier-home:not(i18n-fr-FR) .good-deals-same .good-deals-same-one.offers-tree {
      margin-bottom: 20px;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .good-deals .main-offer,
    body.node-type-carrier-home:not(i18n-fr-FR) .good-deals .secondary-offers,
    body.node-type-carrier-home:not(i18n-fr-FR) .good-deals .secondary-offers .good-deal-display {
        width: 100% !important;
        float: none !important;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .secondary-offers .good-deal-display img {
        max-width: 120px !important;
    }

    .good-deals .secondary-offers > div {
          margin-bottom: 10px;
    }

}


/***************************************************************** Small Mobile */

@media screen and (max-device-width: 480px) {
    body {
        text-rendering: optimizeSpeed;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .multi-offer.line-item-2,
    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .multi-offer.line-item-1 {
        margin-right: 0;
        float: none;
        width: 100%;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .multi-offer.line-item-2{
        border-top: 1px solid #ececec;
        clear:both;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .multi-offer,
    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .node-offer-multi {
        width: 100%;
    }
    
    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .line-offer .no-note-amount .line-offer-heading {
        width: 80%;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .line-offer .line-offer-heading,
    body.node-type-carrier-home:not(i18n-fr-FR) .block-offers .line-offer .price-exponent-display-layout {
        width: 20%;
    }

    body.node-type-multi-offers-list div.price-exponent-display-layout.display-inline {
        width: inherit;
    }

    body.node-type-carrier-home:not(i18n-fr-FR) .multi-offer-text-intro img {
        height: auto;
    }
}
/************** //Home transporteur **************/

/************** Pages transporteur fille **************/
@charset "UTF-8";
@media screen and (max-width: 767px) {
  /* init page fille transporteur */
  .node-type-edito-page:not(.i18n-fr-FR) #main-content-corps {
    float: none !important;
  }
  /* Carte  destination http://it.voyages-sncf.com/it/destinazioni*/
  .node-type-edito-page.i18n-it-IT #node-24937 .main-content-corps.digital-box.rich-text img{
    height:auto !important;
    pointer-events: none;
  }
  /**end carte **/
/* Boutique milano */

    /*.node-type-edito-page #node-24765 .main-content-corps.digital-box.rich-text img {
        width:100%;
        height:auto;
    }*/
    .node-type-edito-page:not(.i18n-fr-FR) #header-wrapper {
      width: 100%; }
    .node-type-edito-page:not(.i18n-fr-FR) #main-top.scaling {
      height: inherit;
      background-position: 0 0; }
    .node-type-edito-page:not(.i18n-fr-FR) #column-right,  .node-type-edito-page:not(.i18n-fr-FR) #column-right #vsct-booking-form{
      display: none !important; }
    .node-type-edito-page:not(.i18n-fr-FR) .scaling #main-top-tetiere {
      padding: 180px 0 0 0;
      height: auto;
      background-image: none; }
      .node-type-edito-page:not(.i18n-fr-FR) .scaling #main-top-tetiere .complex-title,
      .node-type-edito-page:not(.i18n-fr-FR) .scaling #main-top-tetiere #main-top-text {
        padding: 20px;
        background-color: #fff; }
      .node-type-edito-page:not(.i18n-fr-FR) .scaling #main-top-tetiere .complex-title {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0; }
    .node-type-edito-page:not(.i18n-fr-FR) .main-content-corps a {
      padding: 12px;
      font-size: 14px;
      display: inline-block; }
    .node-type-edito-page:not(.i18n-fr-FR) .main-content-corps img {
      display: block;
      margin: auto;
      float: none;
      width: 100% !important;
      height: auto !important;
      margin-bottom: 20px; } }
/************** //Pages transporteur fille **************/

/************** Booking pages promo **************/
@media screen and (max-width: 767px) {

  /* styles responsive page promo */

  .node-type-promo-page:not(.i18n-fr-FR) #main #main-content {
    margin-right: 0;
    width: auto;
    float: none;
  }
   .node-type-promo-page:not(.i18n-fr-FR) .horaires_tgv_lyria_mini {
        display: none;
    }
  .node-type-promo-page:not(.i18n-fr-FR) #main #column-right {
    width: auto;
    float: none;
    display: block;
  }

  .node-type-promo-page:not(.i18n-fr-FR) #main img {
    max-width: 100%;
  }

  .node-type-promo-page:not(.i18n-fr-FR) #main #main-top {
    height: auto;
  }

  .node-type-promo-page:not(.i18n-fr-FR) #main #main-top-tetiere {
    margin-left: 0;
    padding: 20px;
    height: auto;
  }

  .node-type-promo-page:not(.i18n-fr-FR) #other_destinations {
    display: none;
  }


  /* style responsive booking promo */

  /* ce bloc peut etre supprimé du code html */
  body.node-type-promo-page:not(.i18n-fr-FR) .page-promo #train-available {
    display: none;
  }
  body.node-type-promo-page:not(.i18n-fr-FR) .mobile-no-motor .mobi-link{
    display: none !important;
  }
  body.node-type-promo-page:not(.i18n-fr-FR) .mobile-no-motor #train-form{
    display: block !important;
  }

  body.node-type-promo-page:not(.i18n-fr-FR) .page-promo #travel-destination {
    margin: 5px 0;
  }

  body.node-type-promo-page:not(.i18n-fr-FR) .page-promo #train-inward-time-wrapper {
    width: 140px;
  }

  body.node-type-promo-page:not(.i18n-fr-FR) .page-promo #train-inward-date-wrapper {
    margin: 5px 0;
  }

  body.node-type-promo-page:not(.i18n-fr-FR) .page-promo #d_passenger #fs1_nbPassengersForTravel {
    margin-bottom: 20px;
  }

  body.node-type-promo-page:not(.i18n-fr-FR) .page-promo #d_passenger fieldset {
    margin: 10px 0 15px 0;
  }

  body.node-type-promo-page:not(.i18n-fr-FR) .page-promo #d_passenger fieldset legend {
    display: block;
    padding: 0;
    margin-top: 10px;
    font-weight: bold;
  }

  body.node-type-promo-page:not(.i18n-fr-FR) .page-promo fieldset[id^=d_passenger_] .agePassager select {
    display: block;
    margin: 3px 0;
  }
  
  /** Blocs 
    - Faites votre choix
  - Moitié Prix 
  - Programme voyageur
  */  
  body.node-type-promo-page:not(.i18n-fr-FR) #column-right .digital-box {
    display : block !important;
  }
  
  body.node-type-promo-page:not(.i18n-fr-FR) #column-right .node-content-referenced > div {
    display : none !important;
  }
  
  /** Mentions légales */
  body.node-type-promo-page:not(.i18n-fr-FR) .legal-note {
    display : block !important;
  }
  
  /**  Offre trains */
  body.node-type-promo-page:not(.i18n-fr-FR) .train-flux div {
    display : table;
    width : 100%;
  }
  
  body.node-type-promo-page:not(.i18n-fr-FR) .train-flux-carrier,
  body.node-type-promo-page:not(.i18n-fr-FR) .offer-price {
    display : table-cell;
      
  }
  
  body.node-type-promo-page:not(.i18n-fr-FR) .train-flux-label {
    width : 40% !important;
  }
  
   body.node-type-promo-page:not(.i18n-fr-FR) .train-flux-carrier{
     width : 20% !important;
  }
    
  
  body.node-type-promo-page:not(.i18n-fr-FR) .offer-price {
     width : 40% !important;
  }
  
  /** Affichage du moteur de booking */
  body.node-type-promo-page:not(.i18n-fr-FR) .digital-box.motor{
   display : block ! important;
  }
  
}
/************** //Booking pages promo **************/


/************** Pages interrail **************/
/***************************************************************** Mobile */
@media screen and (max-device-width: 767px) {

      /**********Home interrail*************/
    /**********Start*************/
    
  .node-type-railpass:not(.i18n-fr-FR) .main-content-corps img{
      width:100%;
    height:auto;
    margin-bottom: 10px;
  }
  .node-type-railpass:not(.i18n-fr-FR) #column-right #europe-newsletter-block{
     display:none;
  }
  .node-type-railpass:not(.i18n-fr-FR) #main-top-tetiere h1{
      /*margin-top: 27px;*/
  }
  .node-type-railpass:not(.i18n-fr-FR) .digital-box-slim{
     margin-bottom: 40px;
  }
  .node-type-railpass:not(.i18n-fr-FR) #main-content-corps p,
    .node-type-railpass:not(.i18n-fr-FR) #main-content-corps p strong,
    .node-type-railpass:not(.i18n-fr-FR) #main-content-corps ul li,
    .node-type-railpass:not(.i18n-fr-FR) #main-top-tetiere p,
    .node-type-railpass:not(.i18n-fr-FR) #main-top-tetiere ul li,
    .node-type-railpass:not(.i18n-fr-FR) .legal-note{
    font-size:12px;
  }
  .node-type-railpass:not(.i18n-fr-FR) #main-content-corps p strong.colorize{
    font-size:13px;
  }
  .node-type-railpass:not(.i18n-fr-FR) #main-content-corps span.link-label{
    font-size:13px;
  }
  .node-type-railpass:not(.i18n-fr-FR) #main-content-corps table{
     display: none;
  }
      /*désactivé à cause d'un effet de bord sur les tableau du datepicker
.node-type-multi-offers-list:not(.i18n-fr-FR) #main-content-corps table{
     display: none;
  }*/
  .node-type-railpass:not(.i18n-fr-FR) #node-39546 #main-content-corps  .id_responsive_3 {
      display: none;
  }
  .node-type-railpass:not(.i18n-fr-FR) #node-39542 #main-content-corps  .id_responsive_5,
    .node-type-railpass:not(.i18n-fr-FR) #node-39542 #main-content-corps  .id_responsive_3{
      display: none;
  } 
  /**********End*************/
}
/************** //Pages interrail **************/


/************** Booking espace transporteur **************/
/* CSS Booking transporteur 06.07.2015 JL */
@media screen and (max-device-width: 767px) {
  body:not(i18n-fr-FR) #main-content{
    float: none;
  }

#redirect-banner p {
  width: 100%;
  }
#redirect-banner {
  width: 90%;
  padding: 15% 5% 5%;
}

  #booking_mobile {
    width: 100%;
    margin: 20px auto;
                clear:both;
  }
  #booking_mobile #booking-choice {
    display: none;
  }
  #booking_mobile #booking-forms {
    padding: 10px 5%;
    width: 90%;
  }
  #booking_mobile .booking-left,
  #booking_mobile #vsct-booking-form, #booking_mobile #vsct-ltpro-booking-form {
    width: 100%;
  }

  #booking_mobile #booking-forms.display-tabs {
    margin-top: 0;
    float: none;
  }

  #booking_mobile #booking-forms form select,
  #booking_mobile #booking-forms input[type="text"] {
    height: 35px;
    padding: 0;
    font-size: 14px;
  }

  #booking_mobile #booking-forms input[type="text"] {
    width: 90%;
    padding: 0 5%; 
  }

  #booking_mobile .datepicker-wrapper{
    width: 70%;
  }
  #booking_mobile .datepicker-wrapper .datepicker-wrapper {
    width:100%;
  }

  #booking_mobile #booking-forms input.datepicker {
    background-position:120px -88px;
  }

  #booking_mobile #train-travel-class {
    margin: 20px 0;
  }
  
  #booking_mobile #booking-forms input[type='submit'].button-primary,
  #booking_mobile #booking-forms input[type='submit'].button-secondary {
    height: 40px;
  }

  #booking_mobile #train-travel-class #train-travel-class-1-wrapper {
    width: 40%;
    margin-right: 10%;
  }
}
/************** //Booking espace transporteur **************/