/* --- New modal survey */
.lightbox__col {
  width: 90%;
  margin: 0 auto 2em auto;
}
.lightbox__col:not(:last-child) { margin: 0 auto 4em auto; }
.lightbox__col:first-child { margin-top: 1em; }


.lightbox__logo {
  width: 80%;
}

.lightbox__description, .node-type-satisfaction-survey p {
  font-family: AvenirBook, Arial, sans-serif;
  font-size: 1em;
  text-align: center;  
}
#survey-content h2 {
  font-family: AvenirMedium, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  text-align: center;
}
#survey-content h4 {
  font-family: AvenirMedium, Arial, sans-serif;
  font-size: 1.1em;
  text-align: center;
}
#survey-content h4 strong { font-weight: normal; }
.lightbox__description { margin-bottom: 2em; }

@media only screen and (max-width: 38em) {
  .lightbox__col {
    float: left;
    width: 47%;
    margin: 0 auto 1em;
  }
  .lightbox__col:first-child { margin-top: 0; }
  .lightbox__col:not(:last-child) {
        margin: 0 3% 1em 0;
  }
  .lightbox__logo { margin: 0.5em 0; }
}

.button-primary {
  padding: 0 1em;
  border: 1px solid #0088ce;
  border-radius: 4px;
  font-family: AvenirBook, Arial;
  line-height: 0;
  height: 2.2em;
  min-width: 5em;
  background: #0088ce;
  color: #fff;
  font-size: 1em;
  font-weight: normal;
  box-shadow: none;
  cursor: pointer;
  margin: 1em 0.5em 0 1em;
}
.button-primary:focus {
  outline-color: rgba(255,255,255,0.8);
  outline-style: dotted;
  outline-width: thin;
  outline-offset: -0.4em;
}
.msie .button-primary:focus {
  outline-color: #000;
}
.button-primary:hover {
  background-color: #005783;
  border-color: #005783;
  box-shadow: none;
}
.button-primary:first-child {
  background: #fff;
  color: #0088ce;
}
.button-primary:first-child:focus {
  outline-color: rgba(0,136,206,0.8);
  outline-style: dotted;
  outline-width: thin;
  outline-offset: -0.4em;
}
.button-primary:first-child:hover {
  background-color: rgba(18, 131, 197, 0.04);
  color: #005783;  
}

@media only screen and (max-width: 38em) {
  .button-primary {
    min-width: 9em;  
  }
}