.a11y_skip_links {
  position: absolute;
  left: -9999px;
  display: inline-block;
  margin: 10px 10px 10px 30px;
  font-size: 0.7rem;
  color: #000;
}
.hermes .a11y_skip_links:focus ~ .vsc__header  {
  position: absolute;
  top: 34px;
}

.a11y_skip_links:focus{
  position: initial;
  outline-color: rgba(0,0,0,.8);
  outline-style: dotted;
  outline-width: thin;
  outline-offset: .45em;
}