@charset "utf-8";

/*!
 * Structure & Basic Styles
 * 
 * 
 */


/**
 * Structure
 */

html.mode-sp, .mode-sp body {
	background: #F3F5F8 none;
	color: #000000;
}

body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.mode-sp body {
	min-width: 0;
}

.mode-sp body.wideBody {
	min-width: 0;
}

.mode-sp body.wideBody02 {
	min-width: 0;
}

.mode-sp #document {
	min-width: 0;
}
.mode-sp body.wideBody #document {
	min-width: 0;
}
.mode-sp body.wideBody02 #document {
	min-width: 0;
}

.mode-sp #header {
	background-color: #FFFFFF;
}

.mode-sp #globalnavi {
}


.mode-sp #pageTop {
	display: none;
}

.mode-sp #main {
	margin: 0;
	padding: 0;
	background: none;
}

.mode-sp #main #mainInner {
	margin: 0;
	padding: 0;
	background: none;
}

.mode-sp #main p.topicpath {
	margin: 0;
}

.mode-sp #main #pageTitle {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 14px;
	line-height: 1;
}

.mode-sp #contents {
	float: none;
	display: block;
	margin: 0;
	width: auto;
	background: #F3F5F8 url(../images/bg_04.png) repeat-x;
	-webkit-background-size: 50px 54px;
	        background-size: 50px 54px;
}
	.mode-sp #contents #contentsInner {
		position: static;
		margin: 0;
		padding: 11px 0 0;
		min-height: 0;
		background: url(../images/bg_03.png) no-repeat 100% 0;
		-webkit-background-size: 320px 54px;
		        background-size: 320px 54px;
	}

.mode-sp #document #localnavi {
	float: none;
	display: block;
	width: auto;
	margin: 0;
}

.mode-sp #footerNavi {
}

.mode-sp #footerNavi .inner {
}

.mode-sp #footer {
	padding: 4px 0 9px;
	background: #FFFFFF;
}

/*
.mode-sp #foot-bar {
}
*/



/**
 * Basic Styles
 */
.mode-sp a {
	color: #003399;
	text-decoration: none;
}


.mode-sp #headerNavi {
	display: none;
}

	/**
	 * viewSwitch
	 */
	#headerNavi {
		position: relative;
	}
	.js-viewSwitch-pc {
		display: none;
	}
	.js-viewSwitch-container {
		text-align: center;
	}
	.js-viewSwitch-sp {
	}
	.mode-sp .js-viewSwitch-sp {
		display: none;
	}
	.mode-sp .js-viewSwitch-pc {
		display: block;
	}


/**
 * #header
 */

.mode-sp #header {
	position: static;
	margin: 0;
	padding: 0;
}
.mode-sp #header:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}
.mode-sp #header dl#changeFontSize,
.mode-sp #header p#searchArea,
.mode-sp #header dl#publicComment {
	display: none;
}

	/**
	 * Logo
	 */
	.mode-sp #header p.logo {
		position: static;
		top: 0;
		left: 0;
		float: left;
		margin: 10px 0 8px 10px;
	}
	.mode-sp #header p.logo img {
		width: 117px;
		height: 33px;
	}

	/**
	 * nav
	 */
	.mode-sp #header ul.nav {
		display: block;
		float: right;
	}
	
	.mode-sp #header ul.nav li {
		float: left;
		width: 50px;
		border-left: 1px solid #ADACAD;
		background: #FFFFFF;
		font-size: 8px;
		line-height: 1.25;
		text-align: center;
	}
	
	.mode-sp #header ul.nav li a {
		display: block;
		height: 55px;
		padding: 37px 0 4px;
		border-bottom: 2px solid #003399;
		text-decoration: none;
		background: no-repeat;
		-webkit-box-sizing: border-box;
	}
	
	.mode-sp #header ul.nav li.pc a {
		background-image: url(../images/ico_pc_01.png);
		background-position: 50% 10px;
		-webkit-background-size: 22px 19px;
		        background-size: 22px 19px;
	}

	.mode-sp #header ul.nav li.menu a {
		background-image: url(../images/ico_menu_01.png);
		background-position: 50% 7px;
		-webkit-background-size: 22px 22px;
		        background-size: 22px 22px;
	}

	.mode-sp #header ul.nav li.menu.close a {
		background-image: url(../images/ico_close_01.png);
		background-position: 50% 9px;
		-webkit-background-size: 19px 19px;
		        background-size: 19px 19px;
	}



/**
 * globalnavi
 */
.mode-sp #globalnavi {
	display: none;
}


/**
 * #topicpath
 *
 *
 *
 */

.mode-sp #document p.topicpath {
	margin: 0;
	padding: 0 0 0 9px;
	background: #D7DDE7;
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			from(#D5DBE6),
			color-stop(0.1, #F3F5F8),
			to(#D7DDE7)
		);
	font-size: 8px !important;
	line-height: 1.25 !important;
}

	/**
	 * a
	 */
	.mode-sp #document p.topicpath a {
		display: inline-block;
		padding: 7px 19px 7px 0;
		background: url(../images/bg_topicpath_01.png) no-repeat 100% 50%;
		-webkit-background-size: 11px 22px;
						background-size: 11px 22px;
						white-space: nowrap;
	}

	/**
	 * current
	 */
	.mode-sp #document p.topicpath span.current {
		display: inline-block;
		padding: 5px 0 4px;
	}


/**
 * #contents
 *
 *
 *
 */

.mode-sp #contents {
	padding: 0 17px;
}

	/**
	 * contentsInner
	 */
	.mode-sp #contents #contentsInner {
	}

		/**
		 * pageTitle
		 */
		.mode-sp #contents #contentsInner h1#pageTitle {
			margin: 0;
			padding: 0 0 10px;
			font-size: 16px;
			line-height: 1.244;
		}



/**
 * localnavi
 */
.mode-sp #document #localnavi .section {
	background: none;
	padding: 0;
}

	/**
	 * menu
	 */
	.mode-sp #document #localnavi div.menu {
		position: static;
		top: 0;
		margin: 0 0 15px;
		padding: none;
		background: #597399;
		-webkit-box-shadow: 1px 1px 5px rgba(63,82,109,0.7) inset, -1px -1px 5px rgba(63,82,109,0.7) inset;
		        box-shadow: 1px 1px 5px rgba(63,82,109,0.7) inset, -1px -1px 5px rgba(63,82,109,0.7) inset;
	}
	
	.mode-sp #document #localnavi div.menu .inner {
		position: relative;
		background: none !important;
		margin: -5px 0 0;
		padding: none !important;
	}
	
	.mode-sp #document #localnavi div.menu .inner .inner {
		background: none !important;
		margin: 0;
		padding: 0 !important;
	}
	
	.mode-sp #document #localnavi  div.menu .inner .inner ul {
		background: none !important;
		margin: 0;
		padding: 0;
	}
	
	.mode-sp #document #localnavi div.menu .inner .inner h2,
	.mode-sp #document #localnavi div.menu .inner .inner ul li,
	.mode-sp #document #localnavi div.menu .inner .inner ul li li {
		background: none !important;
		margin: 0;
		padding: 0;
		color: #FFFFFF;
	}
	
	.mode-sp #document #localnavi div.menu .inner .inner h2 a,
	.mode-sp #document #localnavi div.menu .inner .inner ul li a,
	.mode-sp #document #localnavi div.menu .inner .inner ul li a li a {
		display: block;
		background: url(../images/ico_arrow_02.png) no-repeat 100% 50% !important;
		color: inherit;
		-webkit-background-size: 15px 11px;
						background-size: 15px 11px;
	}
	
	.mode-sp #document #localnavi div.menu .inner .inner h2 {
		font-weight: normal;
		font-size: 14px;
		line-height: 1.286;
	}
	.mode-sp #document #localnavi div.menu .inner .inner h2 a {
		padding: 12px 19px 12px 9px !important;
	}
	
	.mode-sp #document #localnavi div.menu .inner .inner ul {
		margin: 0;
		background: none !important;
	}
	.mode-sp #document #localnavi div.menu .inner .inner ul li.currentThis {
		background: none !important;
	}
	
	.mode-sp #document #localnavi div.menu .inner .inner ul li,
	.mode-sp #document #localnavi div.menu .inner .inner ul li li {
		border-top: 1px solid #7A8FAD;
		font-size: 11px;
		line-height: 1.365;
	}
	
	.mode-sp #document #localnavi div.menu .inner .inner ul li a,
	.mode-sp #document #localnavi div.menu .inner .inner ul li li a {
		display: block;
		padding: 10px 19px 10px 19px !important;
	}
	
	.mode-sp #document #localnavi div.menu .inner .inner ul li ul li a {
		padding-left: 30px !important;
	}
	
	
	/**
	 * menu
	 */
	.mode-sp #document #localnavi div.banner {
	}
	.mode-sp #document #localnavi div.banner ul {
		margin: 0 0 -10px -15px;
		text-align: center;
	}
	.mode-sp #document #localnavi div.banner ul li {
		display: inline-block;
		margin: 0 0 10px 15px;
		width: 104px;
		height: 19px;
		background: none;
		-webkit-box-shadow: 1px 1px 4px 0 #B4C3D2, -1px -1px 4px 0 #B4C3D2;
		        box-shadow: 1px 1px 4px 0 #B4C3D2, -1px -1px 4px 0 #B4C3D2;
	}
	
	.mode-sp #document #localnavi div.banner ul li img {
		width: 104px;
		height: 19px;
	}
	
	.mode-sp #document #localnavi div.banner ul li a {
		border: 0;
	}
	.mode-sp #document #localnavi div.banner ul li a:hover {
		border: 0;
		opacity: 1;
	}
	
	.mode-sp #document #localnavi div.banner p {
		display: none;
	}



/**
 * #footerNavi
 *
 *
 *
 */

.mode-sp #footerNavi {
	padding: 7px 18px 0;
	background: #F3F5F8 url(../images/line_dotted_01.png) repeat-x;
	-webkit-background-size: 30px 5px;
					background-size: 30px 5px;
}

.mode-sp #footerNavi .inner {
	padding: 0 0 45px;
	background: url(../images/bg_02.png) no-repeat 50% 100%;
	-webkit-background-size: 372px 35px;
					background-size: 372px 35px;
}

	/**
	 * nav
	 */
	.mode-sp #footerNavi .inner ul.menu  {
		margin: 0 0 0 -10px;

	}
	.mode-sp #footerNavi .inner ul.menu:after {
		content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
	}
	
		/* li */
		.mode-sp #footerNavi .inner ul.menu li {
			display: block;
			float: left;
			min-width: 85px;
			margin: 10px 0 0 10px;
			padding: 0;
			background: #FFFFFF;
			font-size: 10px;
			line-height: 1.2;
			text-align: center;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
			-webkit-box-shadow: 1px 1px 2px #B7C5D4, -1px -1px 2px #B7C5D4;
			        box-shadow: 1px 1px 2px #B7C5D4, -1px -1px 2px #B7C5D4;
		}
		.mode-sp #footerNavi .inner ul.menu li.pc {
			width: 180px;
		}
		
		.mode-sp #footerNavi .inner ul.menu li a {
			display: block;
			padding: 6px;
			color: #003399;
			text-decoration: none;
		}
	
		.mode-sp #footerNavi .inner ul.menu li.pc a {
			padding: 3px 5px 3px;
		}
		
		.mode-sp #footerNavi .inner ul.menu li.pc span.ico-pc {
			display: inline-block;
			min-height: 14px;
			padding: 3px 0 0 20px;
			background: url(../images/ico_pc_01.png) no-repeat 0 50%;
			-webkit-background-size: 16px 14px;
							background-size: 16px 14px;
		}


/**
 * #footer
 *
 *
 *
 */

.mode-sp #footer {
	margin: 0 auto;
}

	/**
	 * logo
	 */
	.mode-sp #footer p.logo {
		margin: 0 auto 5px;
		text-align: center;
		width: 88px;
		height: 26px;
	}
	.mode-sp #footer p.logo img {
		width: 88px;
		height: 26px;
	}

	/**
	 * address
	 */
	.mode-sp #footer address {
		font-size: 8px;
		line-height: 1.25;
		text-align: center;
	}

	.mode-sp #footer address a {
		color: #003399;
	}

	/**
	 * copyright
	 */
	.mode-sp #footer p#copyright {
		font-size: 7px;
		line-height: 1.286;
		text-align: center;
	}


/**
 * #foot-bar
 *
 *
 *
 */

.mode-sp #foot-bar {
	overflow: hidden;
	padding: 4px 0 3px;
	background: #000102;
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			from(#003366),
			color-stop(0.2, #002A54),
			color-stop(0.7, #000F1E),
			to(#000102)
		);
}
.mode-sp #foot-bar:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.mode-sp #foot-bar.open {
	position: relative;
	z-index: 10005;
	background: #000000;
}

	/**
	 * ul
	 */
	.mode-sp #foot-bar ul {
		position: relative;
		left: 50%;
		float: left;
	}

		/**
		 * li
		 */
		.mode-sp #foot-bar ul li {
			position: relative;
			left: -50%;
			float: left;
			width: 85px;
			margin: 0 0 0 15px;
			background: #003365;
			background-image:
				-webkit-gradient(
					linear, left top, left bottom,
					from(#09558E),
					color-stop(0.7, #023A6D),
					to(#003365)
				);
			border: 1px solid #09558E;
			border-bottom-color: #09548D;
			-webkit-border-radius: 3px;
							border-radius: 3px;
			color: #FFFFFF;
			font-size: 8px;
			line-height: 1.25;
			text-align: center;
		}
		.mode-sp #foot-bar ul li:first-child {
			margin-left: 0px;
		}
		.mode-sp #foot-bar ul li.menu.close {
			border: 1px solid #990000;
			border-bottom-color: #993333;
			background-image: -webkit-gradient(
				linear, left top, left bottom,
				from(#CC0000),
				to(#990000)
			);
		}
		
		.mode-sp #foot-bar ul li a {
			display: block;
			padding: 4px 2px;
			color: #FFFFFF;
			text-decoration: none;
		}
		
		.mode-sp #foot-bar ul li span.icon {
			display: table;
			margin: 0 auto;
			padding: 0 0 0 15px;
			min-height: 11px;
			background: no-repeat 0 50%;
		}
		
		.mode-sp #foot-bar ul li.home span.icon {
			background-image: url(../images/ico_foot-bar_01.png);
			-webkit-background-size: auto 11px;
							background-size: auto 11px;
		}
		.mode-sp #foot-bar ul li.menu span.icon {
			background-image: url(../images/ico_foot-bar_02.png);
			-webkit-background-size: auto 11px;
							background-size: auto 11px;
		}
		.mode-sp #foot-bar ul li.menu.close span.icon {
			background-image: url(../images/ico_foot-bar_02a.png);
		}
		.mode-sp #foot-bar ul li.pageTop span.icon {
			background-image: url(../images/ico_foot-bar_03.png);
			background-position: 2px 50%;
			-webkit-background-size: auto 11px;
							background-size: auto 10px;
		}
