@charset "utf-8";

/*!
 * Common Styles
 * 
 * Prefix rule "cmn-"
 * 
 */


/**
 * div-col2A 
 */

.mode-sp #contents div.div-col2A {
	margin: 0;
	padding: 0;
}

.mode-sp #contents div.div-col2A .colA,
.mode-sp #contents div.div-col2A .colB {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	float: none;
	margin: 0;
	width: auto;
}

.mode-sp #contents div.div-col2A .colA .col2A-image,
.mode-sp #contents div.div-col2A .colB .col2A-image {
	position: relative;
	margin: 0 0 10px;
	text-align: center;
}


/**
 * div-col2C
 *
 *
 *
 */

.mode-sp #contents div.div-col2C {
	margin: 0;
	padding: 0;
}

.mode-sp #contents div.div-col2C .colA,
.mode-sp #contents div.div-col2C .colB {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	float: none;
	margin: 0;
	width: auto;
}

.mode-sp #contents div.div-col2C .colA .col2C-image,
.mode-sp #contents div.div-col2C .colB .col2C-image {
	position: relative;
	margin: 0 0 10px;
	width: 233px;
	text-align: center;
}


.mode-sp #contents div.div-col2C .colA .col2C-image img,
.mode-sp #contents div.div-col2C .colB .col2C-image img {
	width: 233px !important;
	height: auto !important;
}



/**
 * cmn-unitA
 *
 *
 *
 */

.mode-sp #contents .section.cmn-unitA {
	margin: 0 0 15px !important;
	padding: 0 9px !important;
	background: #FFF !important;
	border: solid #E0E6ED;
	border-width: 0 1px 1px;
}

.mode-sp #contents .section.cmn-unitA .section:last-child {
	margin-bottom: 10px;
}

/* cmn-link
****************************************************************************/
.mode-sp #contents ul.ico-link,
.mode-sp #contents ul.ico-blank,
.mode-sp #contents ul.ico-pdf,
.mode-sp #contents ul.ico-word,
.mode-sp #contents ul.ico-excel,
.mode-sp #contents ul.ico-ppt,
.mode-sp #contents ul.ico-up,
.mode-sp #contents ul.ico-down,
.mode-sp #contents ul.ico-rss,
.mode-sp #contents ul.ico-none,
.mode-sp #contents ul.ico-disc,
.mode-sp #sp-ui-dropdown ul.ico-link,
.mode-sp #sp-ui-dropdown ul.ico-blank,
.mode-sp #sp-ui-dropdown ul.ico-pdf,
.mode-sp #sp-ui-dropdown ul.ico-word,
.mode-sp #sp-ui-dropdown ul.ico-excel,
.mode-sp #sp-ui-dropdown ul.ico-ppt,
.mode-sp #sp-ui-dropdown ul.ico-up,
.mode-sp #sp-ui-dropdown ul.ico-down,
.mode-sp #sp-ui-dropdown ul.ico-rss,
.mode-sp #sp-ui-dropdown ul.ico-none,
.mode-sp #sp-ui-dropdown ul.ico-disc {
	margin: 0 0 0 -10px;
}

.mode-sp #contents ul.ico-link li,
.mode-sp #contents ul.ico-blank li,
.mode-sp #contents ul.ico-pdf li,
.mode-sp #contents ul.ico-word li,
.mode-sp #contents ul.ico-excel li,
.mode-sp #contents ul.ico-ppt li,
.mode-sp #contents ul.ico-disc li,
.mode-sp #contents ul li.ico-link,
.mode-sp #contents ul li.ico-blank,
.mode-sp #contents ul li.ico-pdf,
.mode-sp #contents ul li.ico-word,
.mode-sp #contents ul li.ico-excel,
.mode-sp #contents ul li.ico-ppt,
.mode-sp #contents ul li.ico-disc,
.mode-sp #sp-ui-dropdown ul.ico-link li,
.mode-sp #sp-ui-dropdown ul.ico-blank li,
.mode-sp #sp-ui-dropdown ul.ico-pdf li,
.mode-sp #sp-ui-dropdown ul.ico-word li,
.mode-sp #sp-ui-dropdown ul.ico-excel li,
.mode-sp #sp-ui-dropdown ul.ico-ppt li,
.mode-sp #sp-ui-dropdown ul.ico-disc li,
.mode-sp #sp-ui-dropdown ul li.ico-link,
.mode-sp #sp-ui-dropdown ul li.ico-blank,
.mode-sp #sp-ui-dropdown ul li.ico-pdf,
.mode-sp #sp-ui-dropdown ul li.ico-word,
.mode-sp #sp-ui-dropdown ul li.ico-excel,
.mode-sp #sp-ui-dropdown ul li.ico-ppt,
.mode-sp #sp-ui-dropdown ul li.ico-disc {
	margin: 0 0 10px 10px;
	font-size: 10px;
	line-height: 1.2;
	background: none;
	padding-left: 0;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
	   -moz-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
	    -ms-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
	     -o-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
	        box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
}

.mode-sp #contents ul.ico-link li a,
.mode-sp #contents ul.ico-blank li a,
.mode-sp #contents ul.ico-pdf li a,
.mode-sp #contents ul.ico-word li a,
.mode-sp #contents ul.ico-excel li a,
.mode-sp #contents ul.ico-ppt li a,
.mode-sp #contents ul.ico-disc li a,
.mode-sp #contents ul li.ico-link a,
.mode-sp #contents ul li.ico-blank a,
.mode-sp #contents ul li.ico-pdf a,
.mode-sp #contents ul li.ico-word a,
.mode-sp #contents ul li.ico-excel a,
.mode-sp #contents ul li.ico-ppt a,
.mode-sp #contents ul li.ico-disc a,
.mode-sp #sp-ui-dropdown ul.ico-link li a,
.mode-sp #sp-ui-dropdown ul.ico-blank li a,
.mode-sp #sp-ui-dropdown ul.ico-pdf li a,
.mode-sp #sp-ui-dropdown ul.ico-word li a,
.mode-sp #sp-ui-dropdown ul.ico-excel li a,
.mode-sp #sp-ui-dropdown ul.ico-ppt li a,
.mode-sp #sp-ui-dropdown ul.ico-disc li a,
.mode-sp #sp-ui-dropdown ul li.ico-link a,
.mode-sp #sp-ui-dropdown ul li.ico-blank a,
.mode-sp #sp-ui-dropdown ul li.ico-pdf a,
.mode-sp #sp-ui-dropdown ul li.ico-word a,
.mode-sp #sp-ui-dropdown ul li.ico-excel a,
.mode-sp #sp-ui-dropdown ul li.ico-ppt a,
.mode-sp #sp-ui-dropdown ul li.ico-disc a {
	color: #003399;
}

.mode-sp #contents ul.ico-link li p,
.mode-sp #contents ul.ico-blank li p,
.mode-sp #contents ul.ico-pdf li p,
.mode-sp #contents ul.ico-word li p,
.mode-sp #contents ul.ico-excel li p,
.mode-sp #contents ul.ico-ppt li p,
.mode-sp #contents ul.ico-disc li p,
.mode-sp #contents ul li.ico-link p,
.mode-sp #contents ul li.ico-blank p,
.mode-sp #contents ul li.ico-pdf p,
.mode-sp #contents ul li.ico-word p,
.mode-sp #contents ul li.ico-excel p,
.mode-sp #contents ul li.ico-ppt p,
.mode-sp #contents ul li.ico-disc p,
.mode-sp #sp-ui-dropdown ul.ico-link li p,
.mode-sp #sp-ui-dropdown ul.ico-blank li p,
.mode-sp #sp-ui-dropdown ul.ico-pdf li p,
.mode-sp #sp-ui-dropdown ul.ico-word li p,
.mode-sp #sp-ui-dropdown ul.ico-excel li p,
.mode-sp #sp-ui-dropdown ul.ico-ppt li p,
.mode-sp #sp-ui-dropdown ul.ico-disc li p,
.mode-sp #sp-ui-dropdown ul li.ico-link p,
.mode-sp #sp-ui-dropdown ul li.ico-blank p,
.mode-sp #sp-ui-dropdown ul li.ico-pdf p,
.mode-sp #sp-ui-dropdown ul li.ico-word p,
.mode-sp #sp-ui-dropdown ul li.ico-excel p,
.mode-sp #sp-ui-dropdown ul li.ico-ppt p,
.mode-sp #sp-ui-dropdown ul li.ico-disc p {
	margin-top: 5px;
}

.mode-sp #contents a.ico-link,
.mode-sp #sp-ui-dropdown a.ico-link {
	display: inline-block;
	padding: 6px 6px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
	   -moz-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
	    -ms-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
	     -o-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
	        box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
}

.mode-sp #contents ul.ico-link  li,
.mode-sp #contents ul           li.ico-link,
.mode-sp #contents ul.ico-blank li.ico-link,
.mode-sp #sp-ui-dropdown ul.ico-link  li,
.mode-sp #sp-ui-dropdown ul           li.ico-link,
.mode-sp #sp-ui-dropdown ul.ico-blank li.ico-link {
	display: inline-block;
	padding: 6px 6px;
	background: #FFFFFF;
	font-size: 10px;
	line-height: 1.2;
}

.mode-sp #contents a.ico-blank,
.mode-sp #sp-ui-dropdown a.ico-blank {
	display: inline-block;
	padding: 6px 6px 6px 20px;
	background: #FFFFFF;
	background: #FFF url(../../images/base/ico_blank.png) no-repeat 8px 8px;
	-webkit-background-size: 9px 9px;
					background-size: 9px 9px;
	-webkit-border-radius: 10px;
					border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
					box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
}

.mode-sp #contents ul.ico-blank li,
.mode-sp #contents ul           li.ico-blank,
.mode-sp #contents ul.ico-link  li.ico-blank,
.mode-sp #sp-ui-dropdown ul.ico-blank li,
.mode-sp #sp-ui-dropdown ul           li.ico-blank,
.mode-sp #sp-ui-dropdown ul.ico-link  li.ico-blank {
	display: inline-block;
	padding: 6px 6px 6px 20px;
	background: #FFFFFF;
	background: #FFF url(../../images/base/ico_blank.png) no-repeat 8px 8px;
	-webkit-background-size: 9px 9px;
					background-size: 9px 9px;
}

.mode-sp #contents a.ico-pdf,
.mode-sp #sp-ui-dropdown a.ico-pdf {
	display: inline-block;
	padding: 6px 6px 6px 20px;
	background: #FFFFFF;
	background: #FFF url(../../images/base/ico_pdf.png) no-repeat 8px 8px;
	-webkit-background-size: 9px 9px;
					background-size: 9px 9px;
	-webkit-border-radius: 10px;
					border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
					box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
}

.mode-sp #contents ul.ico-pdf li,
.mode-sp #contents ul         li.ico-pdf,
.mode-sp #contents ul.ico-pdf li.ico-pdf,
.mode-sp #sp-ui-dropdown ul.ico-pdf li,
.mode-sp #sp-ui-dropdown ul         li.ico-pdf,
.mode-sp #sp-ui-dropdown ul.ico-pdf li.ico-pdf {
	display: inline-block;
	padding: 6px 6px 6px 20px;
	background: #FFF url(../../images/base/ico_pdf.png) no-repeat 8px 8px;
	-webkit-background-size: 9px 9px;
	   -moz-background-size: 9px 9px;
	    -ms-background-size: 9px 9px;
	     -o-background-size: 9px 9px;
	        background-size: 9px 9px;
}


.mode-sp #contents ul.ico-disc li,
.mode-sp #contents ul          li.ico-disc,
.mode-sp #contents ul.ico-link li.ico-disc {
	display: inline-block;
	padding: 6px;
	background: #FFFFFF;
	color: inherit;
}

.mode-sp #contents ul.ico-link li.ico-disc ul {
	margin-top: 10px;
	margin-bottom: -7px;
	margin-left: -10px;
}

.mode-sp #contents ul li.ico-none {
	margin-bottom: 10px;
}

.mode-sp #contents ul li.ico-disc ul li.ico-link,
.mode-sp #contents ul li.ico-none ul li.ico-link {
	margin-top: 10px;
}
