@charset "shift_jis";

/* =======================================

	Divide CSS

========================================== */


/* div-col2A
****************************************************************************/
#contents div.div-col2A {
	margin: 0 0 20px;
	padding: 0 0 0 40px;
	zoom: 1;
}
#contents div.div-col2A:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.div-col2A .colA,
#contents div.div-col2A .colB {
	position: relative;
	top: 20px;
	display: inline;
	margin: -20px 0 0;
	width: 50%;
}
#contents div.div-col2A .colA { float: left; left: -40px;}
#contents div.div-col2A .colB { float: right;}
* html #contents div.div-col2A .colB { width: 49%;}
*:first-child + html #contents div.div-col2A .colB { width: 49%;}


#contents div.div-col2A .colA .col2A-image,
#contents div.div-col2A .colB .col2A-image {
	position: relative;
	margin: 0 -10px 10px;
	text-align: center;
}

@media print {
#contents div.div-col2A {
}

#contents div.div-col2A .colA,
#contents div.div-col2A .colB {
	top: 0;
	margin-top: 0;
	display: block;
}

/* Print Type 01
========================================== */
* html #contents div.div-col2A.pType01 {}
* html #contents div.div-col2A.pType01 .colA { width: 250px !important;}
* html #contents div.div-col2A.pType01 .colB { width: 300px !important;}

/* Print Type 02
========================================== */
* html #contents div.div-col2A.pType02 {
	padding-left: 0;
}
* html #contents div.div-col2A.pType02 .colA,
* html #contents div.div-col2A.pType02 .colB {
	top: 0;
	left: 0;
	float: none;
	display: block;
	margin: 0 0 20px;
	width: auto;
}

}




/* div-col2B
****************************************************************************/
#contents div.div-col2B {
	margin: 0 0 20px;
	padding: 0 0 0 40px;
	zoom: 1;
}
#contents div.div-col2B:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.div-col2B .colA {
	position: relative;
	top: 20px;
	margin: -20px 0 0;
	left: -40px;
	float: left;
	width: 60%;
}
* html #contents div.div-col2B .colA { width: 59%;}
*:first-child + html #contents div.div-col2B .colA { width: 59%;}

#contents div.div-col2B .colB {
	position: relative;
	top: 20px;
	margin: -20px 0 0;
	float: right;
	width: 40%;
}

#contents div.div-col2B .colA .col2B-image,
#contents div.div-col2B .colB .col2B-image {
	position: relative;
	margin: 0 -10px 10px;
	text-align: center;
}

@media print {
#contents div.div-col2B {
	clear: both;
	padding-left: 0;
}

#contents div.div-col2B:after {visibility: hidden;}
* html #contents div.div-col2B:after {visibility: visible;}

#contents div.div-col2B .colA,
#contents div.div-col2B .colB {
	position: static;
	top: 0;
	left: 0;
	margin-top: 0;
}

* html #contents div.div-col2B .colA { width: 330px; margin-right: 20px;}
* html #contents div.div-col2B .colB { width: 256px;}


#contents div.div-col2B .colA .col2B-image,
#contents div.div-col2B .colB .col2B-image {
	margin: 0 0 10px;
}
}



/* div-col2C
****************************************************************************/
#contents div.div-col2C {
	margin: 0 0 20px;
	padding: 0 0 0 487px;
	zoom: 1;
}
#contents div.div-col2C:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.div-col2C .colA {
	position: relative;
	top: 20px;
	margin: -20px 0 0 -487px;
	display: inline;
	float: left;
	width: 447px;
}

#contents div.div-col2C .colB {
	position: relative;
	top: 20px;
	margin: -20px 0 0;
	float: right;
	width: 100%;
}

#contents div.div-col2C .colA .col2C-image,
#contents div.div-col2C .colB .col2C-image {
	position: relative;
	margin: 0 -10px 10px;
	width: 467px;
	text-align: center;
}

@media print {

#contents div.div-col2C {
	padding-left: 0;
}

* html #contents div.div-col2C { overflow: visible;}

#contents div.div-col2C .colA,
#contents div.div-col2C .colB {
	position: static;
	top: 0;
	float: none;
	display: block;
	margin: 0 0 20px;
} 

#contents div.div-col2C .colA .col2C-image,
#contents div.div-col2C .colB .col2C-image {
	position: static;
}

}


/* div-col2D
****************************************************************************/
#contents div.div-col2D {
	margin: 0 0 20px;
	padding: 0 0 0 80px;
	zoom: 1;
}
#contents div.div-col2D:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.div-col2D .colA {
	position: relative;
	top: 20px;
	left: -80px;
	margin: -20px 0 0;
	float: left;
	width: 33.3%;
}

#contents div.div-col2D .colB {
	position: relative;
	top: 20px;
	left: -40px;
	margin: -20px 0 0;
	float: left;
	width: 66.6%;
}

#contents div.div-col2D .colB .colB-inner {
	position: relative;
	margin: 0 -40px 0 0;
	zoom: 1;
}

@media print {
#contents div.div-col2D {
}

#contents div.div-col2D .colA,
#contents div.div-col2D .colB {
	top: 0;
	margin-top: 0;
}
#contents div.div-col2D .colB .inner {
	position: static;
}

#contents div.div-col2D .colB {
}

}

	/* Inner Div Col 2D
	---------------------------------------- */
	#contents div.div-col2D .colB .colB-inner .inner-div-col2D {
		margin: 0 0 20px;
		padding: 0 0 0 40px;
		zoom: 1;
	}
	
	#contents div.div-col2D .colB .colB-inner .inner-div-col2D:after {
		content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
	}
	
	#contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colA {
		position: relative;
		top: 20px;
		margin: -20px 0 0;
		width: 50%;
		}
	
	#contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colB {
		position: relative;
		top: 20px;
		margin: -20px 0 0;
		width: 50%;
	}
	
	#contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colA { float: left; left: -40px;}
	#contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colB { float: left;}
	
	* html #contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colA { width: 49.9%;}
	*:first-child + html #contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colA { width: 49.9%;}


@media print {
#contents div.div-col2D .colB .colB-inner .inner-div-col2D {
}

#contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colA,
#contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colB {
	top: 0;
	margin-top: 0;
}
#contents div.div-col2D .colB .colB-inner .inner-div-col2D .inner-colB {
}


}


/* div-col3A
****************************************************************************/
#contents div.div-col3A {
	margin: 0 0 20px;
	padding: 0 0 0 80px;
	zoom: 1;
}
#contents div.div-col3A:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.div-col3A .colA,
#contents div.div-col3A .colB,
#contents div.div-col3A .colC {
	position: relative;
	top: 20px;
	float: left;
	display: inline;
	margin: -20px 0 0;
	width: 33.3%;
}
#contents div.div-col3A .colA { left: -80px;}
#contents div.div-col3A .colB { left: -40px;}

#contents div.div-col3A .colA .col3A-image,
#contents div.div-col3A .colB .col3A-image,
#contents div.div-col3A .colC .col3A-image {
	position: relative;
	margin: 0 -10px 10px;
	text-align: center;
}


@media print {
#contents div.div-col3A {
	clear: both;
	padding-left: 0;
}

#contents div.div-col3A .colA,
#contents div.div-col3A .colB,
#contents div.div-col3A .colC {
	position: static;
	top: 0;
	left: 0;
	margin-top: 0;
	display: block;
	width: 33%;
}
/* IE6 Only */
* html #contents div.div-col3A .colA,
* html #contents div.div-col3A .colB,
* html #contents div.div-col3A .colC {width: 200px;}

}

/* div-col3B
****************************************************************************/
#contents div.div-col3B {
	margin: 0 0 20px;
	padding: 0 400px 0 0;
	zoom: 1;
}
#contents div.div-col3B:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.div-col3B .colA {
	position: relative;
	top: 20px;
	float: left;
	display: inline;
	margin: -20px 0 0;
	width: 100%;
}
#contents div.div-col3B .colB {
	position: relative;
	top: 20px;
	left: 30px;
	float: left;
	display: inline;
	margin: -20px -140px 0 0;
	width: 110px;
}
#contents div.div-col3B .colC {
	position: relative;
	top: 20px;
	left: 180px;
	float: left;
	display: inline;
	margin: -20px -400px 0 0;
	width: 220px;
}

#contents div.div-col3B .colA .col3B-image,
#contents div.div-col3B .colB .col3B-image,
#contents div.div-col3B .colC .col3B-image {
	position: relative;
	margin: 0 -10px 10px;
	text-align: center;
}

@media print {
}

/* div-col3A-toukei-list　2012年3月17日追加
****************************************************************************/
#contents div.div-col3A-toukei-list {
	margin: 0 0 20px;
	zoom: 1;
}
#contents div.div-col3A-toukei-list:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.div-col3A-toukei-list .colA-toukei-list {
	position: relative;
	top: 20px;
	float: left;
	display: inline;
	margin: -20px 0 0;
	width: 33.3%;
}
#contents div.div-col3A-toukei-list .colB-toukei-list {
	position: relative;
	top: 20px;
	float: left;
	display: inline;
	margin: -20px 0 0;
	width: 50%;
}
#contents div.div-col3A-toukei-list .colC-toukei-list {
	position: relative;
	top: 20px;
	float: left;
	display: inline;
	margin: -20px 0 0;
	width: auto;
}

@media print {

#contents div.div-col3A-toukei-list {
	clear: both;
	padding-left: 0;
}

#contents div.div-col3A-toukei-list .colA-toukei-list,
#contents div.div-col3A-toukei-list .colB-toukei-list,
#contents div.div-col3A-toukei-list .colC-toukei-list {
	position: static;
	top: 0;
	left: 0;
	margin-top: 0;
	display: block;
	width: 33%;
}
/* IE6 Only */
* html #contents div.div-col3A-toukei-list .colA-toukei-list,
* html #contents div.div-col3A-toukei-list .colB-toukei-list,
* html #contents div.div-col3A-toukei-list .colC-toukei-list {width: 200px;}

}