@charset "shift_jis";

/* =======================================

	Headings CSS

========================================== */


/* Heading-lv2
****************************************************************************/
#contents div.heading-lv2,
#contents div.heading-lv2Link,
#contents div.heading-lv2A,
#contents div.heading-lv2B {
	position: relative;
	top: -4px;
	margin: 0 -14px 6px;
	padding: 0 14px 0 0;
	background: url(../../images/parts/heading-lv2_bg_02.png) no-repeat 100% 0;
	zoom: 1;
}

#contents .section.sec-blue   div.heading-lv2,
#contents .section.sec-blue   div.heading-lv2Link,
#contents .section.sec-blue   div.heading-lv2A,
#contents .section.sec-blue   div.heading-lv2B { background-image: url(../../images/parts/heading-lv2_bg_02_blue.png);}
#contents .section.sec-orange div.heading-lv2,
#contents .section.sec-orange div.heading-lv2Link,
#contents .section.sec-orange div.heading-lv2A,
#contents .section.sec-orange div.heading-lv2B { background-image: url(../../images/parts/heading-lv2_bg_02_orange.png);}
#contents .section.sec-pink   div.heading-lv2,
#contents .section.sec-pink   div.heading-lv2Link,
#contents .section.sec-pink   div.heading-lv2A,
#contents .section.sec-pink   div.heading-lv2B { background-image: url(../../images/parts/heading-lv2_bg_02_pink.png);}
#contents .section.sec-green  div.heading-lv2,
#contents .section.sec-green  div.heading-lv2Link,
#contents .section.sec-green  div.heading-lv2A,
#contents .section.sec-green  div.heading-lv2B { background-image: url(../../images/parts/heading-lv2_bg_02_green.png);}
#contents .section.sec-purple div.heading-lv2,
#contents .section.sec-purple div.heading-lv2Link,
#contents .section.sec-purple div.heading-lv2A,
#contents .section.sec-purple div.heading-lv2B { background-image: url(../../images/parts/heading-lv2_bg_02_purple.png);}
#contents .section.sec-amber  div.heading-lv2,
#contents .section.sec-amber  div.heading-lv2Link,
#contents .section.sec-amber  div.heading-lv2A,
#contents .section.sec-amber  div.heading-lv2B { background-image: url(../../images/parts/heading-lv2_bg_02_amber.png);}


#contents div.heading-lv2 .inner,
#contents div.heading-lv2Link .inner,
#contents div.heading-lv2A .inner,
#contents div.heading-lv2B .inner {
	padding: 0 0 0 14px;
	background: url(../../images/parts/heading-lv2_bg_03.png) no-repeat;
	zoom: 1;
}

#contents .section.sec-blue   div.heading-lv2 .inner { background-image: url(../../images/parts/heading-lv2_bg_03_blue.png);}
#contents .section.sec-orange div.heading-lv2 .inner { background-image: url(../../images/parts/heading-lv2_bg_03_orange.png);}
#contents .section.sec-pink   div.heading-lv2 .inner { background-image: url(../../images/parts/heading-lv2_bg_03_pink.png);}
#contents .section.sec-green  div.heading-lv2 .inner { background-image: url(../../images/parts/heading-lv2_bg_03_green.png);}
#contents .section.sec-purple div.heading-lv2 .inner { background-image: url(../../images/parts/heading-lv2_bg_03_purple.png);}
#contents .section.sec-amber  div.heading-lv2 .inner { background-image: url(../../images/parts/heading-lv2_bg_03_amber.png);}

#contents div.heading-lv2Link .inner {	background-image: url(../../images/parts/heading-lv2_bg_04.png);}

#contents .section.sec-blue   div.heading-lv2Link .inner { background-image: url(../../images/parts/heading-lv2_bg_04_blue.png);}
#contents .section.sec-orange div.heading-lv2Link .inner { background-image: url(../../images/parts/heading-lv2_bg_04_orange.png);}
#contents .section.sec-pink   div.heading-lv2Link .inner { background-image: url(../../images/parts/heading-lv2_bg_04_pink.png);}
#contents .section.sec-green  div.heading-lv2Link .inner { background-image: url(../../images/parts/heading-lv2_bg_04_green.png);}
#contents .section.sec-purple div.heading-lv2Link .inner { background-image: url(../../images/parts/heading-lv2_bg_04_purple.png);}
#contents .section.sec-amber  div.heading-lv2Link .inner { background-image: url(../../images/parts/heading-lv2_bg_04_amber.png);}

#contents div.heading-lv2A .inner {	padding-left: 32px;	background-image: url(../../images/parts/heading-lv2_bg_05.png);}

#contents .section.sec-blue   div.heading-lv2A .inner { background-image: url(../../images/parts/heading-lv2_bg_05_blue.png);}
#contents .section.sec-orange div.heading-lv2A .inner { background-image: url(../../images/parts/heading-lv2_bg_05_orange.png);}
#contents .section.sec-pink   div.heading-lv2A .inner { background-image: url(../../images/parts/heading-lv2_bg_05_pink.png);}
#contents .section.sec-green  div.heading-lv2A .inner { background-image: url(../../images/parts/heading-lv2_bg_05_green.png);}
#contents .section.sec-purple div.heading-lv2A .inner { background-image: url(../../images/parts/heading-lv2_bg_05_purple.png);}
#contents .section.sec-amber  div.heading-lv2A .inner { background-image: url(../../images/parts/heading-lv2_bg_05_amber.png);}

#contents div.heading-lv2B .inner {	padding-left: 32px;	background-image: url(../../images/parts/heading-lv2_bg_06.png);}

#contents .section.sec-blue   div.heading-lv2B .inner { background-image: url(../../images/parts/heading-lv2_bg_06_blue.png);}
#contents .section.sec-orange div.heading-lv2B .inner { background-image: url(../../images/parts/heading-lv2_bg_06_orange.png);}
#contents .section.sec-pink   div.heading-lv2B .inner { background-image: url(../../images/parts/heading-lv2_bg_06_pink.png);}
#contents .section.sec-green  div.heading-lv2B .inner { background-image: url(../../images/parts/heading-lv2_bg_06_green.png);}
#contents .section.sec-purple div.heading-lv2B .inner { background-image: url(../../images/parts/heading-lv2_bg_06_purple.png);}
#contents .section.sec-amber  div.heading-lv2B .inner { background-image: url(../../images/parts/heading-lv2_bg_06_amber.png);}

#contents div.heading-lv2 .inner .inner,
#contents div.heading-lv2Link .inner .inner,
#contents div.heading-lv2A .inner .inner,
#contents div.heading-lv2B .inner .inner {
	padding: 14px 3px;
	background: url(../../images/parts/heading-lv2_bg_01.png) repeat-x;
	zoom: 1;
}

#contents .section.sec-blue   div.heading-lv2 .inner .inner,
#contents .section.sec-blue   div.heading-lv2Link .inner .inner,
#contents .section.sec-blue   div.heading-lv2A .inner .inner,
#contents .section.sec-blue   div.heading-lv2B .inner .inner { background-image: url(../../images/parts/heading-lv2_bg_01_blue.png);}
#contents .section.sec-orange div.heading-lv2 .inner .inner,
#contents .section.sec-orange div.heading-lv2Link .inner .inner,
#contents .section.sec-orange div.heading-lv2A .inner .inner,
#contents .section.sec-orange div.heading-lv2B .inner .inner { background-image: url(../../images/parts/heading-lv2_bg_01_orange.png);}
#contents .section.sec-pink   div.heading-lv2 .inner .inner,
#contents .section.sec-pink   div.heading-lv2Link .inner .inner,
#contents .section.sec-pink   div.heading-lv2A .inner .inner,
#contents .section.sec-pink   div.heading-lv2B .inner .inner { background-image: url(../../images/parts/heading-lv2_bg_01_pink.png);}
#contents .section.sec-green  div.heading-lv2 .inner .inner,
#contents .section.sec-green  div.heading-lv2Link .inner .inner,
#contents .section.sec-green  div.heading-lv2A .inner .inner,
#contents .section.sec-green  div.heading-lv2B .inner .inner { background-image: url(../../images/parts/heading-lv2_bg_01_green.png);}
#contents .section.sec-purple div.heading-lv2 .inner .inner,
#contents .section.sec-purple div.heading-lv2Link .inner .inner,
#contents .section.sec-purple div.heading-lv2A .inner .inner,
#contents .section.sec-purple div.heading-lv2B .inner .inner { background-image: url(../../images/parts/heading-lv2_bg_01_purple.png);}
#contents .section.sec-amber  div.heading-lv2 .inner .inner,
#contents .section.sec-amber  div.heading-lv2Link .inner .inner,
#contents .section.sec-amber  div.heading-lv2A .inner .inner,
#contents .section.sec-amber  div.heading-lv2B .inner .inner { background-image: url(../../images/parts/heading-lv2_bg_01_amber.png);}

#contents div.heading-lv2 .inner .inner:after,
#contents div.heading-lv2Link .inner .inner:after,
#contents div.heading-lv2A .inner .inner:after,
#contents div.heading-lv2B .inner .inner:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.heading-lv2 .inner .inner h2,
#contents div.heading-lv2Link .inner .inner h2,
#contents div.heading-lv2A .inner .inner h2,
#contents div.heading-lv2B .inner .inner h2 {
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: 199.9%;
	line-height: 1.2;
}

#contents div.heading-lv2 .inner .inner ul.more,
#contents div.heading-lv2Link .inner .inner ul.more,
#contents div.heading-lv2A .inner .inner ul.more,
#contents div.heading-lv2B .inner .inner ul.more {
	position: relative;
	float: right;
	margin: 0;
	padding: 0.5em 0 0;
	overflow: hidden;
}

#contents div.heading-lv2 .inner .inner ul.more li,
#contents div.heading-lv2Link .inner .inner ul.more li,
#contents div.heading-lv2A .inner .inner ul.more li,
#contents div.heading-lv2B .inner .inner ul.more li {
	position: relative;
	float: left;
	margin-right: -11px;
	margin-left: 21px;
	padding-right: 10px;
	border-right: 1px dotted #666666;
	zoom: 1;
}

#contents div.heading-lv2 .inner .inner ul.more li.ico-rss,
#contents div.heading-lv2Link .inner .inner ul.more li.ico-rss,
#contents div.heading-lv2A .inner .inner ul.more li.ico-rss,
#contents div.heading-lv2B .inner .inner ul.more li.ico-rss {
	border-right: none;
}


@media print {
#contents div.heading-lv2,
#contents div.heading-lv2Link,
#contents div.heading-lv2A,
#contents div.heading-lv2B {
	border: solid #CCCCCC;
	border-width: 3px 1px 0;
	padding-bottom: 6px;
	background-image: none !important;
	page-break-after: avoid;
}

#contents div.heading-lv2 .inner,
#contents div.heading-lv2Link .inner,
#contents div.heading-lv2A .inner,
#contents div.heading-lv2B .inner {
	background-image: none !important;
	padding-left: 14px;
	page-break-before: avoid;
	page-break-after: avoid;
}
#contents div.heading-lv2 .inner .inner,
#contents div.heading-lv2Link .inner .inner,
#contents div.heading-lv2A .inner .inner,
#contents div.heading-lv2B .inner .inner {
	background-image: none !important;
	page-break-before: avoid;
	page-break-after: avoid;
}

#contents div.heading-lv2 .inner .inner h2,
#contents div.heading-lv2Link .inner .inner h2,
#contents div.heading-lv2A .inner .inner h2,
#contents div.heading-lv2B .inner .inner h2 {
	font-weight: normal;
	font-size: 220%;
	line-height: 1.274;
}
#contents div.heading-lv2 .inner .inner ul.more,
#contents div.heading-lv2Link .inner .inner ul.more,
#contents div.heading-lv2A .inner .inner ul.more,
#contents div.heading-lv2B .inner .inner ul.more {
	display: none;
}

#contents .section.sec-blue   div.heading-lv2,
#contents .section.sec-blue   div.heading-lv2Link,
#contents .section.sec-blue   div.heading-lv2A,
#contents .section.sec-blue   div.heading-lv2B { border-color: #B1D9FF !important;}
#contents .section.sec-orange div.heading-lv2,
#contents .section.sec-orange div.heading-lv2Link,
#contents .section.sec-orange div.heading-lv2A,
#contents .section.sec-orange div.heading-lv2B { border-color: #FFD49D !important;}
#contents .section.sec-pink   div.heading-lv2,
#contents .section.sec-pink   div.heading-lv2Link,
#contents .section.sec-pink   div.heading-lv2A,
#contents .section.sec-pink   div.heading-lv2B { border-color: #FFC6DA !important;}
#contents .section.sec-green  div.heading-lv2,
#contents .section.sec-green  div.heading-lv2Link,
#contents .section.sec-green  div.heading-lv2A,
#contents .section.sec-green  div.heading-lv2B { border-color: #AED7B2 !important;}
#contents .section.sec-purple div.heading-lv2,
#contents .section.sec-purple div.heading-lv2Link,
#contents .section.sec-purple div.heading-lv2A,
#contents .section.sec-purple div.heading-lv2B { border-color: #D7ADEA !important;}
#contents .section.sec-amber  div.heading-lv2,
#contents .section.sec-amber  div.heading-lv2Link,
#contents .section.sec-amber  div.heading-lv2A,
#contents .section.sec-amber  div.heading-lv2B { border-color: #E7C99E !important;}

}



/* heading-lv3
****************************************************************************/
#contents div.heading-lv3,
#contents div.heading-lv3Link {
	position: relative;
	margin: 0 -10px 10px;
	background: #F6F6F6 url(../../images/parts/heading-lv3_bg_01.png) repeat-x;
	zoom: 1;
}
#contents .section.sec-blue   div.heading-lv3,
#contents .section.sec-blue   div.heading-lv3Link { background-image: url(../../images/parts/heading-lv3_bg_01_blue.png); background-color: #EDF6FF;}
#contents .section.sec-orange div.heading-lv3,
#contents .section.sec-orange div.heading-lv3Link { background-image: url(../../images/parts/heading-lv3_bg_01_orange.png); background-color: #FFF5E9;}
#contents .section.sec-pink   div.heading-lv3,
#contents .section.sec-pink   div.heading-lv3Link { background-image: url(../../images/parts/heading-lv3_bg_01_pink.png); background-color: #FFF2F7;}
#contents .section.sec-green  div.heading-lv3,
#contents .section.sec-green  div.heading-lv3Link { background-image: url(../../images/parts/heading-lv3_bg_01_green.png); background-color: #EDF6EE;}
#contents .section.sec-purple div.heading-lv3,
#contents .section.sec-purple div.heading-lv3Link { background-image: url(../../images/parts/heading-lv3_bg_01_purple.png); background-color: #F6EDFA;}
#contents .section.sec-amber  div.heading-lv3,
#contents .section.sec-amber  div.heading-lv3Link { background-image: url(../../images/parts/heading-lv3_bg_01_amber.png); background-color: #FAF3EA;}

#contents div.heading-lv3 .inner,
#contents div.heading-lv3Link .inner {
	margin: 0;
	padding: 7px 12px;
	background: url(../../images/parts/heading-lv3_bg_02.png) no-repeat;
	zoom: 1;
}
#contents div.heading-lv3Link .inner {	background-image: url(../../images/parts/heading-lv3_bg_03.png);}

#contents .section.sec-blue   div.heading-lv3 .inner { background-image: url(../../images/parts/heading-lv3_bg_02_blue.png);}
#contents .section.sec-orange div.heading-lv3 .inner { background-image: url(../../images/parts/heading-lv3_bg_02_orange.png);}
#contents .section.sec-pink   div.heading-lv3 .inner { background-image: url(../../images/parts/heading-lv3_bg_02_pink.png);}
#contents .section.sec-green  div.heading-lv3 .inner { background-image: url(../../images/parts/heading-lv3_bg_02_green.png);}
#contents .section.sec-purple div.heading-lv3 .inner { background-image: url(../../images/parts/heading-lv3_bg_02_purple.png);}
#contents .section.sec-amber  div.heading-lv3 .inner { background-image: url(../../images/parts/heading-lv3_bg_02_amber.png);}

#contents .section.sec-blue   div.heading-lv3Link .inner { background-image: url(../../images/parts/heading-lv3_bg_03_blue.png);}
#contents .section.sec-orange div.heading-lv3Link .inner { background-image: url(../../images/parts/heading-lv3_bg_03_orange.png);}
#contents .section.sec-pink   div.heading-lv3Link .inner { background-image: url(../../images/parts/heading-lv3_bg_03_pink.png);}
#contents .section.sec-green  div.heading-lv3Link .inner { background-image: url(../../images/parts/heading-lv3_bg_03_green.png);}
#contents .section.sec-purple div.heading-lv3Link .inner { background-image: url(../../images/parts/heading-lv3_bg_03_purple.png);}
#contents .section.sec-amber  div.heading-lv3Link .inner { background-image: url(../../images/parts/heading-lv3_bg_03_amber.png);}

#contents div.heading-lv3 .inner:after,
#contents div.heading-lv3Link .inner:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.heading-lv3 .inner h3,
#contents div.heading-lv3Link .inner h3 {
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: 160%;
	line-height: 1.375;
}

#contents div.heading-lv3 .inner ul.more,
#contents div.heading-lv3Link .inner ul.more {
	position: relative;
	float: right;
	margin: 0 -10px 0 0;
	padding: 0.15em 0 0;
}

#contents div.heading-lv3 .inner ul.more li,
#contents div.heading-lv3Link .inner ul.more li {
	float: left;
	margin-right: 10px;
}

/* Image Title
========================================== */
#contents div.heading-lv3.imageTitle {
	position: relative;
	margin-top: -10px;
	border-top: 10px solid #FFF;
}
#contents div.heading-lv3.imageTitle .inner {
	background-image: none !important;
	padding: 7px 0 7px 0;
}

#contents div.heading-lv3.imageTitle .inner h3 {
	padding-left: 65px;
	zoom: 1;
}

#contents div.heading-lv3.imageTitle .inner h3 span.image {
	position: absolute;
	top: -10px;
	left: 0;
}

#contents div.heading-lv3.imageTitle .inner h3 a {
}

@media print {

#contents div.heading-lv3,
#contents div.heading-lv3Link,
#contents div.heading-lv3.imageTitle {
	border-top: 3px solid #D8D8D8;
	background-image: none !important;
	page-break-after: avoid;
}

#contents div.heading-lv3 .inner,
#contents div.heading-lv3Link .inner,
#contents div.heading-lv3.imageTitle .inner {
	padding-right: 2px;
	padding-left: 2px;
	background-image: none !important;
	page-break-before: avoid;
	page-break-after: avoid;
}

#contents div.heading-lv3 .inner h3,
#contents div.heading-lv3Link .inner h3,
#contents div.heading-lv3.imageTitle .inner h3 {
	page-break-before: avoid;
	page-break-after: avoid;
	padding-left: 5px;
	border-left: 8px solid #DBDBDB;
}

#contents div.heading-lv3 .inner ul.more,
#contents div.heading-lv3Link .inner ul.more,
#contents div.heading-lv3.imageTitle .inner h3 span.image {
	display: none;
}


#contents .section.sec-blue   div.heading-lv3,
#contents .section.sec-blue   div.heading-lv3Link { border-color: #B1D9FF;}
#contents .section.sec-orange div.heading-lv3,
#contents .section.sec-orange div.heading-lv3Link { border-color: #FFD49D;}
#contents .section.sec-pink   div.heading-lv3,
#contents .section.sec-pink   div.heading-lv3Link { border-color: #FFC6DA;}
#contents .section.sec-green  div.heading-lv3,
#contents .section.sec-green  div.heading-lv3Link { border-color: #AED7B2;}
#contents .section.sec-purple div.heading-lv3,
#contents .section.sec-purple div.heading-lv3Link { border-color: #D7ADEA;}
#contents .section.sec-amber  div.heading-lv3,
#contents .section.sec-amber  div.heading-lv3Link { border-color: #E7C99E;}

#contents .section.sec-blue   div.heading-lv3 .inner h3,
#contents .section.sec-blue   div.heading-lv3Link .inner h3 { border-color: #B1D9FF;}
#contents .section.sec-orange div.heading-lv3 .inner h3,
#contents .section.sec-orange div.heading-lv3Link .inner h3 { border-color: #FFD49D;}
#contents .section.sec-pink   div.heading-lv3 .inner h3,
#contents .section.sec-pink   div.heading-lv3Link .inner h3 { border-color: #FFC6DA;}
#contents .section.sec-green  div.heading-lv3 .inner h3,
#contents .section.sec-green  div.heading-lv3Link .inner h3 { border-color: #AED7B2;}
#contents .section.sec-purple div.heading-lv3 .inner h3,
#contents .section.sec-purple div.heading-lv3Link .inner h3 { border-color: #D7ADEA;}
#contents .section.sec-amber  div.heading-lv3 .inner h3,
#contents .section.sec-amber  div.heading-lv3Link .inner h3 { border-color: #E7C99E;}

}



/* heading-lv4
****************************************************************************/
#contents div.heading-lv4,
#contents div.heading-lv4Link {
	position: relative;
	margin: 0 -10px 10px;
	padding: 0 0 0 12px;
	background: url(../../images/parts/heading-lv4_bg_01.png) no-repeat 0 0.5em;
	zoom: 1;
}
#contents div.heading-lv4Link { background-image: url(../../images/parts/heading-lv4_bg_02.png);}

#contents div.heading-lv4 h4,
#contents div.heading-lv4Link h4 {
	margin: 0;
	font-weight: bold;
	font-size: 160%;
	line-height: 1.429;
}

@media print {
#contents div.heading-lv4,
#contents div.heading-lv4Link {
	display: list-item;
	list-style: square inside;
	padding-left: 0;
	background-image: none;
	color: #CCCCCC;
	page-break-after: avoid;
}
#contents div.heading-lv4Link { color: #003399;}

#contents div.heading-lv4 h4,
#contents div.heading-lv4Link h4 {
	display: inline;
	page-break-before: avoid;
}

}



/* heading-border
****************************************************************************/
#contents div.heading-border {
	position: relative;
	margin: 0 -10px 10px;
	padding: 7px 0 0;
	background: url(../../images/parts/heading-border_bg_01.png) repeat-x;
	zoom: 1;
}

#contents div.heading-border .heading {
	margin: 0;
}


@media print {
#contents div.heading-border {
	clear: both;
	border-top: 2px dotted #CCCCCC;
	page-break-after: avoid;
	background: none;
}
* html #contents div.heading-border {
	position: static;
	margin: 0 0 10px;
}

#contents div.heading-border .heading {
	page-break-before: avoid;
}
}