@charset "shift_jis";

/* =======================================

	Home CSS

 -----------------------------------------
	INDEX
 -----------------------------------------
 
 	-Structure

========================================== */

/* Structure
========================================== */

body#home {
}


body#home #headerNavi {
	padding: 0 20px;
}

body#home #headerNavi .inner {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}


body#home #header {
	width: 920px;
}


body#home #globalnavi {
	padding-left: 14px;
	padding-right: 14px;
}

body#home #globalnavi .inner {
	width: 947px;
	margin: 0 auto;
}


body#home #main {
	background: url(../../images/home/bg_01.png) repeat-x 50% 0;
}


body#home #main #mainInner {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding-top: 125px;
	background: none;
}

body#home #main #mainInner h1#description {
	position: absolute;
	top: 36px;
	left: 26px;
	width: 288px;
	height: 24px;
	background: url(../../images/home/description_txt_01.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

body#home #main #mainInner p#caption {
	position: absolute;
	top: 65px;
	left: 44px;
	font-size: 120%;
	line-height: 1.5;
}


body#home #contents {
}

body#home #contents #contentsInner {
	padding-bottom: 20px;
	margin-right: 238px;
}


body#home #localnavi {
	position: relative;
	margin: -115px 0 20px;
}


body#home #footerContents {
	width: 940px;
	padding: 0 20px;
	margin: 0 auto;
}

body#home #footerContents .prt-hr,
body#home #footerContents .prt-banner {
	margin-left: 0;
	margin-right: 0;
}


body#home #footerNavi {
}

body#home #footer,
body#home #footerNavi .inner .menu {
	width: 940px;
	margin: 0 auto;
}


body#home #pageTop {
}

body#home #pageTop p {
	width: 940px;
	margin: 0 auto;
	padding: 40px 20px 0;
}

body#home #pageTop p a {
	margin-right: 0;
}


@media print {

body#home #main {
	margin: 0 0 20px;
	background-image: none;
}

body#home #main #mainInner,
body#home #footer,
body#home #footerNavi .inner .menu {
	width: auto;
}

body#home #contents {
}

body#home #contents #contentsInner {
	margin-right: 0;
}

body#home #footer {
	clear: both;
}

body#home #localnavi {
	position: static;
	float: none;
	display: block;
	margin: 0;
	width: auto;
}

body#home #main #mainInner {}

* html body#home #main #mainInner {
	position: static;
}

body#home #main #mainInner h1#description,
body#home #main #mainInner p#caption {
	display: none;
}

body#home #main #mainInner {
	padding-top: 15px;
}
body#home #main #contentsInner {
	margin-bottom: 30px;
	zoom: normal;
}

}

/* megaDropdown
========================================== */
body#home #globalnavi ul.menu li#gnavi01 {
}
body#home #globalnavi ul.menu li.mk_megaDropdown_show#gnavi01 {
}
body#home #globalnavi ul.menu li.mk_megaDropdown_show#gnavi01 a {
}

body#home .homeDropdown{
	position: relative;
	width: 950px;
	margin: 0 auto;
	padding: 0 15px;
	background: #000;
	z-index: 11000;
	zoom: 1;
}

body#home .homeDropdown ul.megaDropdown-contents {
	position: absolute;
	top: -5px !important;
	left: 16px;
}



/* Contents
========================================== */
body#home #contents {
}


/* div-col3A
------------------------------------------ */
body#home #contents .section#sec-bunyabetsu div.div-col3A {
}

body#home #contents .section#sec-bunyabetsu div.div-col3A .colA,
body#home #contents .section#sec-bunyabetsu div.div-col3A .colB,
body#home #contents .section#sec-bunyabetsu div.div-col3A .colC {
}

body#home #contents .section#sec-bunyabetsu div.div-col3A .colA .section.categoryUnit01,
body#home #contents .section#sec-bunyabetsu div.div-col3A .colB .section.categoryUnit01,
body#home #contents .section#sec-bunyabetsu div.div-col3A .colC .section.categoryUnit01 {
	min-height: 100px;
}

* html body#home #contents .section#sec-bunyabetsu div.div-col3A .colA .section.categoryUnit01,
* html body#home #contents .section#sec-bunyabetsu div.div-col3A .colB .section.categoryUnit01,
* html body#home #contents .section#sec-bunyabetsu div.div-col3A .colC .section.categoryUnit01 {
	height: 100px;
}

body#home #contents .section#sec-bunyabetsu div.div-col3A .colA .section.categoryUnit02,
body#home #contents .section#sec-bunyabetsu div.div-col3A .colB .section.categoryUnit02,
body#home #contents .section#sec-bunyabetsu div.div-col3A .colC .section.categoryUnit02 {
	margin-bottom: 10px;
	min-height: 130px;
}

* html body#home #contents .section#sec-bunyabetsu div.div-col3A .colA .section.categoryUnit02,
* html body#home #contents .section#sec-bunyabetsu div.div-col3A .colB .section.categoryUnit02,
* html body#home #contents .section#sec-bunyabetsu div.div-col3A .colC .section.categoryUnit02 {
	height: 130px;
}

@media print {

body#home #main #localnavi .section {
	position: relative;
	margin-top: -5px;
	padding-top: 20px;
	background-image: none;
	border-top: 2px solid #D8D8D8;
}

/* Banner
========================================== */

body#home #main #localnavi .section .banner {
	margin: 0 0 20px;
}

body#home #main #localnavi .section .banner ul {
	position: relative;
	margin: 0 -30px 0 0;
	zoom: 1;
}
body#home #main #localnavi .section .banner ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

body#home #main #localnavi .section .banner ul li {
	float: left;
	display: inline;
	margin-right: 30px;
	width: 208px;
	height: 58px;
}
/* IE6 Only */
* html body#home #main #localnavi .section .banner ul li {
	height: auto;
}

body#home #main #localnavi .section .banner ul li img {
	border: 1px solid #CCC;
}

body#home #main #localnavi .section .banner ul li a {
	border: none;
}

body#home #main #localnavi .section .banner p.al-right {
	display: none;
}



/* Mobile
========================================== */

body#home #main #localnavi .section .mobile {
	padding: 0;
	border: none;
}

body#home #main #localnavi .section .mobile p {
	float: none;
	display: block;
	width: auto;
}
body#home #main #localnavi .section .mobile img {
	float: none;
	margin-left: 15px;
}


/* photoReport
========================================== */

body#home #main #localnavi .section.photoReport {
	margin: 0 0 20px;
}

body#home #main #localnavi .section.photoReport h2 {
}

body#home #main #localnavi .section.photoReport .report {
	position: static;
	margin: 0 0 20px;
	padding: 0;
	border: none;
}
body#home #main #localnavi .section.photoReport .report ul.ico-link {}
body#home #main #localnavi .section.photoReport .report p.image {
	text-align: left;
}

body#home #main #localnavi .section.photoReport ul.more {
	display: none;
}



/* seisakuReport
========================================== */
body#home #main #localnavi .section.seisakuReport {
	margin: 0 0 20px;
}

body#home #main #localnavi .section.seisakuReport .report {
	margin: 0 0 20px;
	padding: 0;
	border: none;
}
body#home #main #localnavi .section.seisakuReport .report ul {}
body#home #main #localnavi .section.seisakuReport .report ul li {}

body#home #main #localnavi .section.seisakuReport ul.more {
	display: none;
}



/* Close up
========================================== */
body#home #localnavi div.closeUp {
	position: static;
	margin: 0 0 20px;
	background-image: none;
}
body#home #main #localnavi div.closeUp h2 {
}

body#home #main #localnavi div.closeUp h2 img {
}
body#home #main #localnavi div.closeUp p.toTheList {
	display: none;
}


/* Main Banner
---------------------------------------- */
body#home #main #localnavi div.closeUp {
}
body#home #main #localnavi div.closeUp .mainBanner {
	padding-top: 10px;
	border-top: 2px solid #CCC;
	background-image: none;
}

body#home #main #localnavi div.closeUp .mainBanner .inner {
	background-image: none;
}
body#home #main #localnavi div.closeUp .mainBanner .inner ul.banner {}
body#home #main #localnavi div.closeUp .mainBanner .inner ul.banner li {
}

body#home #main #localnavi div.closeUp .mainBanner .inner ul.banner li a {
	border: none;
}


/* Sub Banner
---------------------------------------- */
body#home #main #localnavi div.closeUp .subBanner {
	background-image: none;
}
body#home #main #localnavi div.closeUp .subBanner .inner {
	background-image: none;
}

body#home #main #localnavi div.closeUp .subBanner .inner ul {
	margin: 0;
	position: static;
	zoom: 1;
}
body#home #main #localnavi div.closeUp .subBanner .inner ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

body#home #main #localnavi div.closeUp .subBanner .inner ul li {
	float: left;
	margin-right: 30px;
	width: 208px;
	border: 1px solid #CCC;
}

/* IE6 Only */
* html body#home #main #localnavi div.closeUp .subBanner .inner ul li {
}

body#home #main #localnavi div.closeUp .subBanner .inner ul li a {
	border: none;
}


/* Emergency Information
========================================== */
body#home #main #localnavi div.emergencyInfo {
	position: static;
	margin: 0 0 20px;
	padding-top: 0;
	background-image: none;
}

/* IE6 Only */
* html body#home #main #localnavi div.emergencyInfo {
}

body#home #main #localnavi div.emergencyInfo h2 {
	position: static;
	margin: 0 0 10px;
	border-bottom: 2px solid #CCC;
}

body#home #main #localnavi div.emergencyInfo .contents {
	margin: 0 0 10px;
	background-image: none;
	page-break-before: avoid;
	page-break-after: avoid;
}
body#home #main #localnavi div.emergencyInfo .contents .info {
	background-image: none;
	border: none;
}

body#home #main #localnavi div.emergencyInfo .contents .info p.date {
}

body#home #main #localnavi div.emergencyInfo .contents .info ul {
	position: static;
}
body#home #main #localnavi div.emergencyInfo .contents .info ul li {}

body#home #main #localnavi div.emergencyInfo .contents ul.rssLink {}

body#home #main #localnavi div.emergencyInfo .contents ul.rssLink li {
	float: none;
}

body#home #main #localnavi div.emergencyInfo .contents ul.rssLink {
	display: none;
}

}

