@charset "shift_jis";

/* =======================================

	List CSS

========================================== */

/* cmn-link
****************************************************************************/
#main ul.ico-link,
#main ul.ico-blank,
#main ul.ico-pdf,
#main ul.ico-word,
#main ul.ico-excel,
#main ul.ico-ppt,
#main ul.ico-up,
#main ul.ico-down,
#main ul.ico-rss,
#main ul.ico-none,
#main ul.ico-disc {
	position: relative;
	margin-left: -10px;
	zoom: 1;
}

#main ul.ico-link  ul.ico-link, #main ul.ico-link  ul.ico-blank, #main ul.ico-link  ul.ico-pdf, #main ul.ico-link  ul.ico-word, #main ul.ico-link  ul.ico-excel, #main ul.ico-link  ul.ico-ppt, #main ul.ico-link  ul.ico-up, #main ul.ico-link  ul.ico-down, #main ul.ico-link  ul.ico-rss, #main ul.ico-link  ul.ico-none, #main ul.ico-link  ul.ico-disc,
#main ul.ico-blank ul.ico-link, #main ul.ico-blank ul.ico-blank, #main ul.ico-blank ul.ico-pdf, #main ul.ico-blank ul.ico-word, #main ul.ico-blank ul.ico-excel, #main ul.ico-blank ul.ico-ppt, #main ul.ico-blank ul.ico-up, #main ul.ico-blank ul.ico-down, #main ul.ico-blank ul.ico-rss, #main ul.ico-blank ul.ico-none #main ul.ico-blank ul.ico-disc,
#main ul.ico-pdf   ul.ico-link, #main ul.ico-pdf   ul.ico-blank, #main ul.ico-pdf   ul.ico-pdf, #main ul.ico-pdf   ul.ico-word, #main ul.ico-pdf   ul.ico-excel, #main ul.ico-pdf   ul.ico-ppt, #main ul.ico-pdf   ul.ico-up, #main ul.ico-pdf   ul.ico-down, #main ul.ico-pdf ul.ico-rss, #main ul.ico-pdf ul.ico-none, #main ul.ico-pdf ul.ico-disc,
#main ul.ico-word  ul.ico-link, #main ul.ico-word  ul.ico-blank, #main ul.ico-word  ul.ico-pdf, #main ul.ico-word  ul.ico-word, #main ul.ico-word  ul.ico-excel, #main ul.ico-word  ul.ico-ppt, #main ul.ico-word  ul.ico-up, #main ul.ico-word  ul.ico-down, #main ul.ico-word  ul.ico-rss, #main ul.ico-word  ul.ico-none, #main ul.ico-word  ul.ico-disc,
#main ul.ico-excel ul.ico-link, #main ul.ico-excel ul.ico-blank, #main ul.ico-excel ul.ico-pdf, #main ul.ico-excel ul.ico-word, #main ul.ico-excel ul.ico-excel, #main ul.ico-excel ul.ico-ppt, #main ul.ico-excel ul.ico-up, #main ul.ico-excel ul.ico-down, #main ul.ico-excel ul.ico-rss, #main ul.ico-excel ul.ico-none, #main ul.ico-excel ul.ico-disc,
#main ul.ico-ppt   ul.ico-link, #main ul.ico-ppt   ul.ico-blank, #main ul.ico-ppt   ul.ico-pdf, #main ul.ico-ppt   ul.ico-word, #main ul.ico-ppt   ul.ico-excel, #main ul.ico-ppt   ul.ico-ppt, #main ul.ico-ppt   ul.ico-up, #main ul.ico-ppt   ul.ico-down, #main ul.ico-ppt   ul.ico-rss, #main ul.ico-ppt   ul.ico-none, #main ul.ico-ppt   ul.ico-disc,
#main ul.ico-up    ul.ico-link, #main ul.ico-up    ul.ico-blank, #main ul.ico-up    ul.ico-pdf, #main ul.ico-up    ul.ico-word, #main ul.ico-up    ul.ico-excel, #main ul.ico-up    ul.ico-ppt, #main ul.ico-up    ul.ico-up, #main ul.ico-up    ul.ico-down, #main ul.ico-up    ul.ico-rss, #main ul.ico-up    ul.ico-none, #main ul.ico-up    ul.ico-disc,
#main ul.ico-down  ul.ico-link, #main ul.ico-down  ul.ico-blank, #main ul.ico-down  ul.ico-pdf, #main ul.ico-down  ul.ico-word, #main ul.ico-down  ul.ico-excel, #main ul.ico-down  ul.ico-ppt, #main ul.ico-down  ul.ico-up, #main ul.ico-down  ul.ico-down, #main ul.ico-down  ul.ico-rss, #main ul.ico-down  ul.ico-none, #main ul.ico-down  ul.ico-disc,
#main ul.ico-rss  ul.ico-link, #main ul.ico-rss  ul.ico-blank, #main ul.ico-rss  ul.ico-pdf, #main ul.ico-rss  ul.ico-word, #main ul.ico-rss  ul.ico-excel, #main ul.ico-rss  ul.ico-ppt, #main ul.ico-rss  ul.ico-up, #main ul.ico-rss  ul.ico-down, #main ul.ico-rss  ul.ico-rss, #main ul.ico-rss  ul.ico-none, #main ul.ico-rss  ul.ico-disc,
#main ul.ico-disc  ul.ico-link, #main ul.ico-disc  ul.ico-blank, #main ul.ico-disc  ul.ico-pdf, #main ul.ico-disc  ul.ico-word, #main ul.ico-disc  ul.ico-excel, #main ul.ico-disc  ul.ico-ppt, #main ul.ico-disc  ul.ico-up, #main ul.ico-disc  ul.ico-down, #main ul.ico-disc  ul.ico-rss, #main ul.ico-disc  ul.ico-none, #main ul.ico-disc  ul.ico-disc,
#main ul.ico-none  ul.ico-link, #main ul.ico-none  ul.ico-blank, #main ul.ico-none  ul.ico-pdf, #main ul.ico-none  ul.ico-word, #main ul.ico-none  ul.ico-excel, #main ul.ico-none  ul.ico-ppt, #main ul.ico-none  ul.ico-up, #main ul.ico-none  ul.ico-down, #main ul.ico-none  ul.ico-rss, #main ul.ico-none  ul.ico-none, #main ul.ico-none  ul.ico-disc {
	margin-left: 0;
}


#main ul li.ico-none {
	padding-left: 14px;
}

#main ul.ico-disc  li.ico-none,
#main ul.ico-link  li.ico-none,
#main ul.ico-blank li.ico-none,
#main ul.ico-pdf   li.ico-none,
#main ul.ico-word  li.ico-none,
#main ul.ico-excel li.ico-none,
#main ul.ico-ppt   li.ico-none,
#main ul.ico-up    li.ico-none,
#main ul.ico-down  li.ico-none,
#main              td.ico-none,
#main ul.ico-rss   li.ico-none {
	background: none;
}

#main td ul.ico-disc {
	margin-left: 0;
}

#main ul.ico-disc  li,
#main ul           li.ico-disc,
#main ul.ico-none  li.ico-disc,
#main ul.ico-link  li.ico-disc,
#main ul.ico-blank li.ico-disc,
#main ul.ico-pdf   li.ico-disc,
#main ul.ico-word  li.ico-disc,
#main ul.ico-excel li.ico-disc,
#main ul.ico-ppt   li.ico-disc,
#main ul.ico-up    li.ico-disc,
#main ul.ico-down  li.ico-disc,
#main              td.ico-disc,
#main ul.ico-rss   li.ico-disc {
	padding-left: 14px;
	background: url(../../images/base/ico_disc.png) no-repeat 2px 0.5em;
}

#main a.ico-link {
	padding-left: 14px;
	background: url(../../images/base/ico_arrow_01.png) no-repeat 0 0.25em;
}

#main ul.ico-link  li,
#main ul           li.ico-link,
#main ul.ico-disk  li.ico-link,
#main ul.ico-blank li.ico-link,
#main ul.ico-pdf   li.ico-link,
#main ul.ico-word  li.ico-link,
#main ul.ico-excel li.ico-link,
#main ul.ico-ppt   li.ico-link,
#main ul.ico-up    li.ico-link,
#main ul.ico-down  li.ico-link,
#main              td.ico-link,
#main ul.ico-rss   li.ico-link {
	padding-left: 14px;
	background: url(../../images/base/ico_arrow_01.png) no-repeat 0 0.5em;
	zoom: 1;
}

#main a.ico-blank {
	padding-left: 14px;
	background: url(../../images/base/ico_blank.png) no-repeat 0 0.25em;
}
#main ul.ico-blank li,
#main ul           li.ico-blank,
#main ul.ico-disk  li.ico-blank,
#main ul.ico-link  li.ico-blank,
#main ul.ico-pdf   li.ico-blank,
#main ul.ico-word  li.ico-blank,
#main ul.ico-excel li.ico-blank,
#main ul.ico-ppt   li.ico-blank,
#main ul.ico-up    li.ico-blank,
#main ul.ico-down  li.ico-blank,
#main              td.ico-blank,
#main ul.ico-rss   li.ico-blank {
	padding-left: 14px;
	background: url(../../images/base/ico_blank.png) no-repeat 0 0.5em;
	zoom: 1;
}

#main a.ico-up {
	padding-left: 14px;
	background: url(../../images/base/ico_up.png) no-repeat 0 0.25em;
}
#main ul.ico-up    li,
#main ul           li.ico-up,
#main ul.ico-disk  li.ico-up,
#main ul.ico-link  li.ico-up,
#main ul.ico-blank li.ico-up,
#main ul.ico-pdf   li.ico-up,
#main ul.ico-word  li.ico-up,
#main ul.ico-excel li.ico-up,
#main ul.ico-ppt   li.ico-up,
#main ul.ico-down  li.ico-up,
#main              td.ico-up,
#main ul.ico-rss   li.ico-up {
	padding-left: 14px;
	background: url(../../images/base/ico_up.png) no-repeat 0 0.5em;
	zoom: 1;
}

#main a.ico-down {
	padding-left: 14px;
	background: url(../../images/base/ico_down.gif) no-repeat 0 0.25em;
}
#main ul.ico-down  li,
#main ul           li.ico-down,
#main ul.ico-disk  li.ico-down,
#main ul.ico-link  li.ico-down,
#main ul.ico-blank li.ico-down,
#main ul.ico-pdf   li.ico-down,
#main ul.ico-word  li.ico-down,
#main ul.ico-excel li.ico-down,
#main ul.ico-ppt   li.ico-down,
#main ul.ico-up    li.ico-down,
#main              td.ico-down,
#main ul.ico-rss   li.ico-down {
	padding-left: 14px;
	background: url(../../images/base/ico_down.gif) no-repeat 0 0.5em;
	zoom: 1;
}

#main a.ico-pdf {
	padding-left: 14px;
	background: url(../../images/base/ico_pdf.png) no-repeat 0 0.25em;
}

#main ul.ico-pdf   li,
#main ul           li.ico-pdf,
#main ul.ico-disk  li.ico-pdf,
#main ul.ico-link  li.ico-pdf,
#main ul.ico-blank li.ico-pdf,
#main ul.ico-word  li.ico-pdf,
#main ul.ico-excel li.ico-pdf,
#main ul.ico-ppt   li.ico-pdf,
#main ul.ico-up    li.ico-pdf,
#main ul.ico-down  li.ico-pdf,
#main              td.ico-pdf,
#main ul.ico-rss   li.ico-pdf {
	padding-left: 14px;
	background: url(../../images/base/ico_pdf.png) no-repeat 0 0.5em;
	zoom: 1;
}

#main a.ico-word {
	padding-left: 14px;
	background: url(../../images/base/ico_word.png) no-repeat 0 0.25em;
}

#main ul.ico-word  li,
#main ul           li.ico-word,
#main ul.ico-disk  li.ico-word,
#main ul.ico-link  li.ico-word,
#main ul.ico-blank li.ico-word,
#main ul.ico-pdf   li.ico-word,
#main ul.ico-excel li.ico-word,
#main ul.ico-ppt   li.ico-word,
#main ul.ico-up    li.ico-word,
#main ul.ico-down  li.ico-word,
#main              td.ico-word,
#main ul.ico-rss   li.ico-word {
	padding-left: 14px;
	background: url(../../images/base/ico_word.png) no-repeat 0 0.5em;
	zoom: 1;
}

#main a.ico-excel {
	padding-left: 14px;
	background: url(../../images/base/ico_excel.png) no-repeat 0 0.25em;
}

#main ul.ico-excel li,
#main ul           li.ico-excel,
#main ul.ico-disk  li.ico-excel,
#main ul.ico-link  li.ico-excel,
#main ul.ico-blank li.ico-excel,
#main ul.ico-pdf   li.ico-excel,
#main ul.ico-word  li.ico-excel,
#main ul.ico-ppt   li.ico-excel,
#main ul.ico-up    li.ico-excel,
#main ul.ico-down  li.ico-excel,
#main              td.ico-excel,
#main ul.ico-rss   li.ico-excel {
	padding-left: 14px;
	background: url(../../images/base/ico_excel.png) no-repeat 0 0.5em;
	zoom: 1;
}

#main a.ico-ppt {
	padding-left: 14px;
	background: url(../../images/base/ico_ppt.png) no-repeat 0 0.25em;
}

#main ul.ico-ppt li,
#main ul           li.ico-ppt,
#main ul.ico-disk  li.ico-ppt,
#main ul.ico-link  li.ico-ppt,
#main ul.ico-blank li.ico-ppt,
#main ul.ico-pdf   li.ico-ppt,
#main ul.ico-word  li.ico-ppt,
#main ul.ico-excel li.ico-ppt,
#main ul.ico-up    li.ico-ppt,
#main ul.ico-down  li.ico-ppt,
#main              td.ico-ppt,
#main ul.ico-rss   li.ico-ppt {
	padding-left: 14px;
	background: url(../../images/base/ico_ppt.png) no-repeat 0 0.5em;
	zoom: 1;
}


#main a.ico-rss {
	padding-left: 19px;
	background: url(../../images/base/ico_rss.png) no-repeat 0 0.3em;
}

#main ul.ico-rss   li,
#main ul           li.ico-rss,
#main ul.ico-disk  li.ico-rss,
#main ul.ico-link  li.ico-rss,
#main ul.ico-blank li.ico-rss,
#main ul.ico-pdf   li.ico-rss,
#main ul.ico-word  li.ico-rss,
#main ul.ico-excel li.ico-rss,
#main ul.ico-ppt   li.ico-rss,
#main ul.ico-up    li.ico-rss,
#main ul.ico-down  li.ico-rss,
#main              td.ico-rss {
	padding-left: 19px;
	background: url(../../images/base/ico_rss.png) no-repeat 0 0.3em;
	zoom: 1;
}

#main ul.ico-rss   li.ico-rss,
#main ul           li.ico-rss,
#main ul.ico-disk  li.ico-rss,
#main ul.ico-link  li.ico-rss,
#main ul.ico-blank li.ico-rss,
#main ul.ico-pdf   li.ico-rss,
#main ul.ico-word  li.ico-rss,
#main ul.ico-excel li.ico-rss,
#main ul.ico-ppt   li.ico-rss,
#main ul.ico-up    li.ico-rss,
#main ul.ico-down  li.ico-rss,
#main              td.ico-rss {
	position: relative;
	margin-left: -5px;
}



/* 追記_Newマーク画像 20110624 */
.newupdata {
	font-size: small;
	color: #FF0000;
	text-decoration: none;
	background-image: url(/images/new.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 1px 37px;
	text-align: right;
	background-position: left -2px;
	font-weight:normal;
	white-space:nowrap;
}
span[class="newupdata"]{
	padding: 2px 0px 10px 37px;
	background-position: left -2px;
}

/* 追記_アイコン画像調整 20140606 */

img.mk_styleAdjust_iconImg{
	margin-right:5.5px !important;
	vertical-align: middle !important;
	zoom: 1;
	}
	
table tr td img.mk_styleAdjust_iconImg{
	margin:0 0 0 -14px;
  }
