@charset 'shift_jis';


#contents div.prt-interviewDaijin {
	position: relative;
	top: -4px;
	margin: 0 -14px 36px;
	padding: 0 0 0 6px;
	background: url(../../images/past/interviewDaijin_bg_01.png) no-repeat;
	font-size: 140%;
	zoom: 1;
}
#contents div.prt-interviewDaijin td,
#contents div.prt-interviewDaijin td td {
	font-size: 100%;
}

#contents div.prt-interviewDaijin .interviewDaijin-inner {
	padding: 0 6px 0 0;
	background: url(../../images/past/interviewDaijin_bg_02.png) no-repeat 100% 0;
	zoom: 1;
}

#contents div.prt-interviewDaijin .interviewDaijin-inner .interviewDaijin-inner {
	padding: 4px 8px 0;
	background: url(../../images/past/interviewDaijin_bg_03.png) repeat-x;
	zoom: 1;
}


/*
/////////////////////////////////////////////////////////////////////////////
以下は既存サイトのスタイルをそのまま持ってきて、このパーツ内でだけ効くようにしたもの。
/////////////////////////////////////////////////////////////////////////////
*/

/****************************** コンテンツ ********************************/
#contents div.prt-interviewDaijin .indent{
	margin-left:40px
}
#contents div.prt-interviewDaijin .right{
	text-align:right
}
#contents div.prt-interviewDaijin .center{
	text-align:center
}




/* 
****************************************************************************/

#contents div.prt-interviewDaijin .indent1 {
	display: block;
	text-indent: 1em;
}


/* 
****************************************************************************/
#contents div.prt-interviewDaijin .newupdata {
	font-size: small;
	color: #FF0000;
	text-decoration: none;
	background-image: url(/images/new.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 1px 37px;
	text-align: right;
	background-position: left -2px;
	font-weight:normal;
	white-space:nowrap;
}
#contents div.prt-interviewDaijin span[class="newupdata"]{
	padding: 2px 0px 10px 37px;
	background-position: left -2px;
}
/*
#contents div.prt-interviewDaijin p       .newupdata,
#contents div.prt-interviewDaijin pre     .newupdata,
#contents div.prt-interviewDaijin address .newupdata,
#contents div.prt-interviewDaijin th      .newupdata,
#contents div.prt-interviewDaijin td      .newupdata,
#contents div.prt-interviewDaijin li      .newupdata,
#contents div.prt-interviewDaijin dt      .newupdata,
#contents div.prt-interviewDaijin dd      .newupdata {
	font-size: 83.4%;
}
*/
#contents #contentsInner div.prt-interviewDaijin .indent1 p {
	line-height: 1.2em;
	text-decoration: none;
	text-indent: 1em;
	margin: 0px;
	padding: 0px;
}
#contents #contentsInner div.prt-interviewDaijin .indent2 p {
	line-height: 1.3em;
	text-decoration: none;
	text-indent: 0.5em;
	margin: 0px;
	padding: 0px;
}
#contents #contentsInner div.prt-interviewDaijin .indent3 p {
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
	text-indent: 0.2em;
}
#contents div.prt-interviewDaijin .margin-bottom2 {
	margin-bottom: 1.5em;
}

#contents #contentsInner div.prt-interviewDaijin .indent4 p {
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
	text-indent: 2.0em;
}



/* 
****************************************************************************/
/*** 見出し ***/

#contents div.prt-interviewDaijin .title-ex01 { padding:4px 5px; border-color:#558ed1; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex02 { padding:4px 5px; border-color:#c7d69b; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex03 { padding:4px 5px; border-color:#8ad4d7; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex04 { padding:4px 5px; border-color:#db9498; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex05 { padding:4px 5px; border-color:#fd966b; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex06 { padding:4px 5px; border-color:#4785be; border-width:0 0 0 6px; border-style:solid; }

#contents div.prt-interviewDaijin .title-ex07 { padding:3px 5px; border-color:#558ed1; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-interviewDaijin .title-ex08 { padding:3px 5px; border-color:#c7d69b; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-interviewDaijin .title-ex09 { padding:3px 5px; border-color:#8ad4d7; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-interviewDaijin .title-ex10 { padding:3px 5px; border-color:#db9498; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-interviewDaijin .title-ex11 { padding:3px 5px; border-color:#fd966b; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-interviewDaijin .title-ex12 { padding:3px 5px; border-color:#4785be; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-interviewDaijin .title-ex13 { padding:3px 5px; border-color:#558ed1; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }

#contents div.prt-interviewDaijin .title-ex14 { padding:4px 5px; border-color:#c5d5a6; border-width:1px 0 2px 0; border-style:solid; background:#eaf2dd; }
#contents div.prt-interviewDaijin .title-ex15 { padding:4px 5px; border-color:#568ec7; border-width:1px 0 2px 0; border-style:solid; background:#c5d9f4; }
#contents div.prt-interviewDaijin .title-ex16 { padding:4px 5px; border-color:#bebebe; border-width:1px 0 2px 0; border-style:solid; background:#f2f2f2; }

#contents div.prt-interviewDaijin .title-ex17 { padding:4px 5px; border-color:#c5d5a6; border-width:2px 0 0 0; border-style:solid; background:#eaf2dd; }
#contents div.prt-interviewDaijin .title-ex18 { padding:4px 5px; border-color:#568ec7; border-width:2px 0 0 0; border-style:solid; background:#c5d9f4; }
#contents div.prt-interviewDaijin .title-ex19 { padding:4px 5px; border-color:#bebebe; border-width:2px 0 0 0; border-style:solid; background:#f2f2f2; }

#contents div.prt-interviewDaijin .title-ex20 { padding:4px 5px; border-color:#7789a1; border-width:1px; border-style:solid; background:#c7d9f1; }
#contents div.prt-interviewDaijin .title-ex21 { padding:4px 5px; border-color:#c4cbbb; border-width:1px; border-style:solid; background:#eaf2db; }
#contents div.prt-interviewDaijin .title-ex22 { padding:4px 5px; border-color:#bebebe; border-width:1px; border-style:solid; background:#f2f2f2; }
#contents div.prt-interviewDaijin .title-ex23 { padding:4px 5px; border-color:#d9d9cd; border-width:1px; border-style:solid; background:#fdffe5; }

#contents div.prt-interviewDaijin .title-ex24 { padding:3px 5px; border-color:#558ed1; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex25 { padding:3px 5px; border-color:#c7d69b; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex26 { padding:3px 5px; border-color:#8ad4d7; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex27 { padding:3px 5px; border-color:#db9498; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex28 { padding:3px 5px; border-color:#fd966b; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex29 { padding:3px 5px; border-color:#4785be; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-interviewDaijin .title-ex30 { padding:3px 5px; border-color:#558ed1; border-width:0 0 1px 7px; border-style:solid; }


/*** アイコン ***/

#contents div.prt-interviewDaijin ul.list-style-none { list-style:none !important; }
#contents div.prt-interviewDaijin li.list-style-none { list-style:none; }

/* ●系(12x12) */

#contents div.prt-interviewDaijin .list-dot01 { background:url('../../images/past/accessory/list-dot01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dot02 { background:url('../../images/past/accessory/list-dot02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dot03 { background:url('../../images/past/accessory/list-dot03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dot04 { background:url('../../images/past/accessory/list-dot04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dot05 { background:url('../../images/past/accessory/list-dot05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dot06 { background:url('../../images/past/accessory/list-dot06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

#contents div.prt-interviewDaijin .list-dotarrow01 { background:url('../../images/past/accessory/list-dotarrow01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dotarrow02 { background:url('../../images/past/accessory/list-dotarrow02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dotarrow03 { background:url('../../images/past/accessory/list-dotarrow03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dotarrow04 { background:url('../../images/past/accessory/list-dotarrow04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dotarrow05 { background:url('../../images/past/accessory/list-dotarrow05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dotarrow06 { background:url('../../images/past/accessory/list-dotarrow06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

#contents div.prt-interviewDaijin .list-dottriag01 { background:url('../../images/past/accessory/list-dottriag01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dottriag02 { background:url('../../images/past/accessory/list-dottriag02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dottriag03 { background:url('../../images/past/accessory/list-dottriag03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dottriag04 { background:url('../../images/past/accessory/list-dottriag04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dottriag05 { background:url('../../images/past/accessory/list-dottriag05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-dottriag06 { background:url('../../images/past/accessory/list-dottriag06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

/* ■系(12x12) */

#contents div.prt-interviewDaijin .list-square01 { background:url('../../images/past/accessory/list-square01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-square02 { background:url('../../images/past/accessory/list-square02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-square03 { background:url('../../images/past/accessory/list-square03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-square04 { background:url('../../images/past/accessory/list-square04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-square05 { background:url('../../images/past/accessory/list-square05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-square06 { background:url('../../images/past/accessory/list-square06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

#contents div.prt-interviewDaijin .list-squarrow01 { background:url('../../images/past/accessory/list-squarrow01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squarrow02 { background:url('../../images/past/accessory/list-squarrow02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squarrow03 { background:url('../../images/past/accessory/list-squarrow03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squarrow04 { background:url('../../images/past/accessory/list-squarrow04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squarrow05 { background:url('../../images/past/accessory/list-squarrow05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squarrow06 { background:url('../../images/past/accessory/list-squarrow06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

#contents div.prt-interviewDaijin .list-squtriag01 { background:url('../../images/past/accessory/list-squtriag01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squtriag02 { background:url('../../images/past/accessory/list-squtriag02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squtriag03 { background:url('../../images/past/accessory/list-squtriag03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squtriag04 { background:url('../../images/past/accessory/list-squtriag04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squtriag05 { background:url('../../images/past/accessory/list-squtriag05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-interviewDaijin .list-squtriag06 { background:url('../../images/past/accessory/list-squtriag06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

/* ●立体系(14x14) */

#contents div.prt-interviewDaijin .list-3D1a { background:url('../../images/past/accessory/list-3D1a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D1b { background:url('../../images/past/accessory/list-3D1b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D1c { background:url('../../images/past/accessory/list-3D1c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D1d { background:url('../../images/past/accessory/list-3D1d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D1e { background:url('../../images/past/accessory/list-3D1e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D1f { background:url('../../images/past/accessory/list-3D1f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D2a { background:url('../../images/past/accessory/list-3D2a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D2b { background:url('../../images/past/accessory/list-3D2b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D2c { background:url('../../images/past/accessory/list-3D2c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D2d { background:url('../../images/past/accessory/list-3D2d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D2e { background:url('../../images/past/accessory/list-3D2e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D2f { background:url('../../images/past/accessory/list-3D2f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D3a { background:url('../../images/past/accessory/list-3D3a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D3b { background:url('../../images/past/accessory/list-3D3b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D3c { background:url('../../images/past/accessory/list-3D3c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D3d { background:url('../../images/past/accessory/list-3D3d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D3e { background:url('../../images/past/accessory/list-3D3e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D3f { background:url('../../images/past/accessory/list-3D3f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }

/* ■立体系(14x14) */

#contents div.prt-interviewDaijin .list-3D4a { background:url('../../images/past/accessory/list-3D4a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D4b { background:url('../../images/past/accessory/list-3D4b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D4c { background:url('../../images/past/accessory/list-3D4c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D4d { background:url('../../images/past/accessory/list-3D4d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D4e { background:url('../../images/past/accessory/list-3D4e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D4f { background:url('../../images/past/accessory/list-3D4f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D5a { background:url('../../images/past/accessory/list-3D5a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D5b { background:url('../../images/past/accessory/list-3D5b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D5c { background:url('../../images/past/accessory/list-3D5c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D5d { background:url('../../images/past/accessory/list-3D5d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D5e { background:url('../../images/past/accessory/list-3D5e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D5f { background:url('../../images/past/accessory/list-3D5f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D6a { background:url('../../images/past/accessory/list-3D6a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D6b { background:url('../../images/past/accessory/list-3D6b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D6c { background:url('../../images/past/accessory/list-3D6c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D6d { background:url('../../images/past/accessory/list-3D6d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D6e { background:url('../../images/past/accessory/list-3D6e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-interviewDaijin .list-3D6f { background:url('../../images/past/accessory/list-3D6f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }


/* 
****************************************************************************/
/****************************** 共通 ********************************/

.invisible,
#contents div.prt-interviewDaijin .invisible a {
	display:none;
}

#contents div.prt-interviewDaijin .clear {
	clear:both;
}

#contents div.prt-interviewDaijin .update {
	font-size:small;
	color:#f00;
	/*font-weight:bold;*/
	white-space:nowrap;
}
/*
#contents div.prt-interviewDaijin p       .update,
#contents div.prt-interviewDaijin pre     .update,
#contents div.prt-interviewDaijin address .update,
#contents div.prt-interviewDaijin th      .update,
#contents div.prt-interviewDaijin td      .update,
#contents div.prt-interviewDaijin li      .update,
#contents div.prt-interviewDaijin dt      .update,
#contents div.prt-interviewDaijin dd      .update {
	font-size: 83.4%;
}
*/
#contents div.prt-interviewDaijin .update img {
	margin:0 2px;
}


#contents #contentsInner div.prt-interviewDaijin hr {
	display:block !important;
}

#contents #contentsInner div.prt-interviewDaijin h1{
font-size:180%;
margin:0;
padding:0.5em 0 1em;
}




/****************************** Adobe Reader *******************************

#contents div.prt-interviewDaijin #getacro {margin-top:3em;margin-bottom:1em;}
#contents div.prt-interviewDaijin #getacro p {text-align:center;}
#contents div.prt-interviewDaijin #getacro a img {border: none;}

#contents div.prt-interviewDaijin #getacro2 {
	height: 7em;
	width: 35em;
	display: block;
	position: relative;
	text-align: center;

}


#contents div.prt-interviewDaijin #getacro2 span {
	height: 3em;
	width: 40em;
	display: block;
	position: absolute;
	left: -4em;
	top: 4em;
}

#contents div.prt-interviewDaijin #getacro2 a {
	text-decoration: none;
	background-image: url(../images/getacro.gif);
	background-repeat: no-repeat;
	height: 3em;
	width: 8em;
	display: block;
	text-indent: -9999px;
	position: absolute;
	left: 26em;
	top: 3.5em;
}

*/	


/* 
****************************************************************************/

#contents div.prt-interviewDaijin .indent {
    margin-left: 40px;
}
#contents div.prt-interviewDaijin .right {
    text-align: right;
}
#contents div.prt-interviewDaijin .center {
    text-align: center;
}
#contents #contentsInner div.prt-interviewDaijin h3 {
    clear: both;
    margin: 1em 0;
    text-align: center;
    font-size: 1em;
}
#contents #contentsInner div.prt-interviewDaijin h4 {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 0.25em;
}
#contents #contentsInner div.prt-interviewDaijin h5 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}
#contents #contentsInner div.prt-interviewDaijin p {
    margin: 0 0 1em 2.5em;
		font-size: 1em;
    text-indent: 1em;
}
#contents #contentsInner div.prt-interviewDaijin .mab20 {
    margin-bottom: 2em;
}
