@charset "shift_jis";

/* =======================================

	Localnavi CSS

========================================== */


#main #localnavi {
}


/* Menu
****************************************************************************/
#main #localnavi .menu {
	position: relative;
	top: -5px;
	margin: 0 -3px 10px;
	padding: 5px 0 0;
	background: url(../../images/base/localnavi_menu_bg_01.png) no-repeat;
	zoom: 1;
}

#main #localnavi .menu .inner {
	padding: 0 0 5px;
	background: url(../../images/base/localnavi_menu_bg_01.png) no-repeat -452px 100%;
	zoom: 1;
}

#main #localnavi .menu .inner .inner {
	padding: 0 3px;
	background: url(../../images/base/localnavi_menu_bg_01.png) repeat-y -226px 0;
	zoom: 1;
}

#main #localnavi .menu .inner .inner h2 {
	margin: 0 1px;
	padding: 2px 0;
	background: #073AA0 url(../../images/base/localnavi_menu_bg_01.png) no-repeat -678px 0;
	color: #FFFFFF;
	font-size: 160%;
	line-height: 1.375;
	zoom: 1;
}

#main #localnavi .menu .inner .inner h2 a {
	display: block;
	padding: 4px 8px 6px 13px;
	color: #FFFFFF;
	text-decoration: none;
	zoom: 1;
}

#main #localnavi .menu .inner .inner ul {
	position: relative;
	top: 2px;
	margin: -2px 1px 0;
	overflow: hidden;
	zoom: 1;
}

#main #localnavi .menu .inner .inner ul li {
	margin: -1px 0 1px;
	background: #FFFFFF url(../../images/base/localnavi_menu_bg_01.png) no-repeat -938px 0;
	zoom: 1;
}
#main #localnavi .menu .inner .inner ul li.hover { background-position: -1198px 0;}
#main #localnavi .menu .inner .inner ul li.hoverCancel { background-position: -938px 0;}

#main #localnavi .menu .inner .inner ul li.currentThis { background-position: -1484px 0 !important; background-color: #D2DCE8 !important;}

#main #localnavi .menu .inner .inner ul li a {
	display: block;
	padding: 0.35em 0 0.25em 19px;
	background: url(../../images/base/ico_arrow_01.png) no-repeat 5px 0.9em;
	zoom: 1;
}
#main #localnavi .menu .inner .inner ul li a.ico-blank {
	background-image: url(../../images/base/ico_blank.png);
}

#main #localnavi .menu .inner .inner ul li ul {
	top: 0;
	margin: 0;
	overflow: visible;
}

#main #localnavi .menu .inner .inner ul li ul li {
	margin: 0;
	background-position: -924px 0;
}
#main #localnavi .menu .inner .inner ul li ul li.hover { background-position: -1184px 0;}
#main #localnavi .menu .inner .inner ul li ul li.hoverCancel { background-position: -924px 0;}

#main #localnavi .menu .inner .inner ul li ul li.currentThis { background-position: -1470px 0 !important; background-color: #D2DCE8 !important;}

#main #localnavi .menu .inner .inner ul li ul li a {
	padding-left: 29px;
	background-position: 15px 0.9em;
	background-image: url(../../images/base/ico_arrow_02.png);
}

#main #localnavi .menu .inner .inner ul li ul li ul {
}

#main #localnavi .menu .inner .inner ul li ul li ul li {
	background-position: -910px 0;
}
#main #localnavi .menu .inner .inner ul li ul li ul li.hover { background-position: -1170px 0;}
#main #localnavi .menu .inner .inner ul li ul li ul li.hoverCancel { background-position: -910px 0;}

#main #localnavi .menu .inner .inner ul li ul li ul li.currentThis { background-position: -1456px 0 !important; background-color: #D2DCE8 !important;}

#main #localnavi .menu .inner .inner ul li ul li ul li a {
	padding-left: 39px;
	background-position: 25px 0.9em;
	background-image: url(../../images/base/ico_arrow_03.png);
}



/* Section
****************************************************************************/
#main #localnavi .section {
	margin: 0 0 15px;
	padding: 18px 0 0;
	background: url(../../images/base/localnavi_section_bg_01.png) no-repeat;
	zoom: 1;
}
#main #localnavi .section.section-top {
	position: relative;
	margin-top: -2px;
	padding-top: 0;
	background-image: none;
}

/* Title
========================================== */
#main #localnavi .section h2 {
	position: relative;
	margin: -6px 2px 8px;
	padding: 0;
	font-size: 160%;
	line-height: 1.375;
	zoom: 1;
}


/* Utility
========================================== */
#main #localnavi .section .utility {
	border: 1px solid #CCCCCC;
	zoom: 1;
}

#main #localnavi .section .utility ul {
	padding: 6px 5px 0;
	background: url(../../images/base/localnavi_section_bg_02.png) repeat-x;
	zoom: 1;
}
#main #localnavi .section .utility ul.first {
	padding-top: 5px;
	background-image: none;
}

#main #localnavi .section .utility ul li {
	margin: 0 0 5px;
	padding: 0 0 0 14px;
	background: url(../../images/base/ico_arrow_01.png) no-repeat 0 0.5em;
}
#main #localnavi .section .utility ul li.ico-blank {
	background-image: url(../../images/base/ico_blank.png);
}


/* Banner
========================================== */
#main #localnavi .section .banner {
	margin: 0 4px 10px 6px;
}

#main #localnavi .section .banner ul {
	margin: 0;
	padding: 0;
}

#main #localnavi .section .banner ul li {
	margin: 0 0 6px;
	padding: 0;
	background: #FFFFFF;
	zoom: 1;
}

#main #localnavi .section .banner ul li a {
	display: block;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	zoom: 1;
}

#main #localnavi .section .banner ul li a:hover {
	border-color: #003399;
	opacity: 0.65;
	filter: alpha(opacity=65);
}


/* Mobile
========================================== */
#main #localnavi .section .mobile {
	padding: 8px 13px 8px 5px;
	border: 1px solid #CCCCCC;
	zoom: 1;
}
#main #localnavi .section .mobile:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#main #localnavi .section .mobile p {
	float: left;
	display: inline;
	width: 128px;
	margin: 0;
	padding: 0 0 0 14px;
	background: url(../../images/base/ico_arrow_01.png) no-repeat 0 0.5em;
	zoom: 1;
}

#main #localnavi .section .mobile img {
	float: right;
	display: inline;
	width: 50px;
	margin: 0.5em 0 0;
}


/* kinkyuJouhou
========================================== */
#main #localnavi .kinkyuJouhou {
  	min-height: 118px;
	zoom: 1;
}


/* photoReport
========================================== */
#main #localnavi .section.photoReport {
}

#main #localnavi .section.photoReport .report {
	padding: 8px 6px 6px;
	border: solid #CCCCCC;
	border-width: 1px 1px 0;
	zoom: 1;
}

#main #localnavi .section.photoReport .report ul.ico-link {
	margin: 0 0 10px;
}

#main #localnavi .section.photoReport .report p.image {
	margin: 0 0 3px;
	text-align: center;
}
#main #localnavi .section.photoReport .report p.image a img {
	border: 1px solid #CCCCCC;
}
#main #localnavi .section.photoReport .report p.image a:hover img {
	border-color: #003399;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

#main #localnavi .section.photoReport ul.more {
	position: relative;
	margin: 0;
	padding: 7px 8px 3px;
	border: solid #CCCCCC;
	border-width: 0 1px 1px;
	background: url(../../images/base/localnavi_report_bg_01.png) repeat-x;
	zoom: 1;
}
#main #localnavi .section.photoReport ul.more:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#main #localnavi .section.photoReport ul.more li {
	clear: both;
	float: right;
	display: inline;
}


/* seisakuReport
========================================== */
#main #localnavi .section.seisakuReport {
}

#main #localnavi .section.seisakuReport .report {
	padding: 8px 6px 0;
	border: solid #CCCCCC;
	border-width: 1px 1px 0;
	zoom: 1;
}
#main #localnavi .section.seisakuReport .report:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#main #localnavi .section.seisakuReport .report ul {
	margin: 0 0 10px;
}

#main #localnavi .section.seisakuReport .report ul li {
}

#main #localnavi .section.seisakuReport ul.more {
	position: relative;
	margin: 0;
	padding: 7px 8px 3px;
	border: solid #CCCCCC;
	border-width: 0 1px 1px;
	background: url(../../images/base/localnavi_report_bg_01.png) repeat-x;
	zoom: 1;
}
#main #localnavi .section.seisakuReport ul.more:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#main #localnavi .section.seisakuReport ul.more li {
	clear: both;
	float: right;
	display: inline;
}


/* Close up
========================================== */
#main #localnavi div.closeUp {
	position: relative;
	margin: 0 -4px 10px;
	padding: 0 0 11px;
	background: url(../../images/base/localnavi_closeup_bg_03.png) no-repeat 0 100%;
	zoom: 1;
}

#main #localnavi div.closeUp h2 {
}

* html #main #localnavi div.closeUp h2 img { /* IE-expression (fix png alpha) */
behavior: expression(
this.style.filter = this.src.match(/\.png$/) ? "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "')" : this.style.filter,
this.src = this.src.match(/\.png$/) ? this.src.slice(0, this.src.lastIndexOf("/")+1) + "ie6png.gif" : this.src,
this.style.behavior = "none"
);
}

#main #localnavi div.closeUp p.toTheList {
	margin: 3px 5px 0;
	text-align: right;
}


/* Main Banner
---------------------------------------- */
#main #localnavi div.closeUp .mainBanner {
	padding: 0 4px;
	background: url(../../images/base/localnavi_closeup_bg_01.png) repeat-y;
	zoom: 1;
}

#main #localnavi div.closeUp .mainBanner .inner {
	display: block;
	padding-bottom: 1px;
	background: url(../../images/base/localnavi_closeup_bg_02.png) no-repeat 0 100%;
	zoom: 1;
}

#main #localnavi div.closeUp .mainBanner .inner ul.banner {
	margin: 0 5px;
}

#main #localnavi div.closeUp .mainBanner .inner ul.banner li {
	margin: 0 0 10px;
	background: #FFF;
}

#main #localnavi div.closeUp .mainBanner .inner ul.banner li a {
	display: block;
	background: #FFF;
	zoom: 1;
}

#main #localnavi div.closeUp .mainBanner .inner ul.banner li a:hover {
	border-color: #003399;
	opacity: 0.65;
	filter: alpha(opacity=65);
}
#main #localnavi div.closeUp .mainBanner .inner ul.banner li a img {
	display: block;
	border: 1px solid #CCCCCC;
	zoom: 1;
}

#main #localnavi div.closeUp .mainBanner .inner ul.banner li a:hover img {
	border-color: #003399;
	opacity: 0.65;
	filter: alpha(opacity=65);
}



/* Sub Banner
---------------------------------------- */
#main #localnavi div.closeUp .subBanner {
	padding: 0 4px;
	background: url(../../images/base/localnavi_closeup_bg_04.png) repeat-y;
	zoom: 1;
}

#main #localnavi div.closeUp .subBanner .inner {
	display: block;
	padding-top: 10px;
	background: url(../../images/base/localnavi_closeup_bg_05.png) no-repeat;
	zoom: 1;
}

#main #localnavi div.closeUp .subBanner .inner ul {
	position: relative;
	margin: -7px 5px 0;
	zoom: 1;
}

#main #localnavi div.closeUp .subBanner .inner ul li {
	margin: 7px 0 0;
	background: #FFF;
}

#main #localnavi div.closeUp .subBanner .inner ul li a {
	display: block;
	border: 1px solid #CCCCCC;
	zoom: 1;
}

#main #localnavi div.closeUp .subBanner .inner ul li a:hover {
	border-color: #003399;
	opacity: 0.65;
	filter: alpha(opacity=65);
}


/* Emergency Information
========================================== */
#main #localnavi div.emergencyInfo {
	position: relative;
	margin: -4px -4px 11px;
	padding: 40px 0 8px;
	background: url(../../images/base/localnavi_emergencyinfo_bg_02.png) no-repeat 0 100%;
	zoom: 1;
}

#main #localnavi div.emergencyInfo h2 {
	position: absolute;
	top: 0;
	left: 0;
	zoom: 1;
}

* html #main #localnavi div.emergencyInfo h2 img { /* IE-expression (fix png alpha) */
behavior: expression(
this.style.filter = this.src.match(/\.png$/) ? "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "')" : this.style.filter,
this.src = this.src.match(/\.png$/) ? this.src.slice(0, this.src.lastIndexOf("/")+1) + "ie6png.gif" : this.src,
this.style.behavior = "none"
);
}


#main #localnavi div.emergencyInfo .contents {
	display: block;
	padding: 0 4px;
	background: url(../../images/base/localnavi_emergencyinfo_bg_01.png) repeat-y;
	zoom: 1;
}

#main #localnavi div.emergencyInfo .contents .info {
	margin: 0 1px;
	padding: 6px 5px 5px;
	border-top: 1px solid #CCCCCC;
	background: url(../../images/base/localnavi_emergencyinfo_bg_03.png) no-repeat 0 100%;
}

#main #localnavi div.emergencyInfo .contents .info p.date {
}

#main #localnavi div.emergencyInfo .contents .info ul {
	margin-left: 0;
}

#main #localnavi div.emergencyInfo .contents .info ul li {
	margin-left: 0;
}

#main #localnavi div.emergencyInfo .contents ul.rssLink {
	position: relative;
	margin: -3px 0 0;
	zoom: 1;
}
#main #localnavi div.emergencyInfo .contents ul.rssLink:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#main #localnavi div.emergencyInfo .contents ul.rssLink li {
	margin: 6px 12px 0 0;
	float: right;
	display: inline;
}

#main #localnavi div.emergencyInfo .contents ul.rssLink li a {
}


/* Publication Unit
========================================== */
#main #localnavi .section .publicationUnit {
	border: 1px solid #CCCCCC;
	zoom: 1;
}

#main #localnavi .section .publicationUnit p {
	margin: 0 0 8px;
}
#main #localnavi .section .publicationUnit p.content {
	margin-left: 14px;
}

#main #localnavi .section .publicationUnit .unit {
	padding: 8px 6px 0;
	background: url(../../images/base/localnavi_section_bg_02.png) repeat-x;
}
#main #localnavi .section .publicationUnit .unit.firstUnit {
	background: none;
}

#main #localnavi .section .publicationUnit .unit h3 {
	margin: 0 0 8px;
	font-size: 140%;
	line-height: 1.429;
	font-weight: normal;
}

#main #localnavi .section .publicationUnit .unit h3 a {
	padding: 0 0 0 14px;
	background: url(../../images/base/ico_arrow_01.png) no-repeat 0 0.2em;
}

#main #localnavi .section .publicationUnit .unit ul {
	margin: 0 0 8px;
}
#main #localnavi .section .publicationUnit .unit ul li {
	margin-left: 0;
}

/* Image Unit
---------------------------------------- */
#main #localnavi .section .publicationUnit .unit .imageUnit {
	margin: 0 0 10px;
	zoom: 1;
}
#main #localnavi .section .publicationUnit .unit .imageUnit:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#main #localnavi .section .publicationUnit .unit .imageUnit .image {
	float: left;
	display: inline;
	width: 100px;
}

#main #localnavi .section .publicationUnit .unit .imageUnit .image img {
	border: 1px solid #CCCCCC;
}

#main #localnavi .section .publicationUnit .unit .imageUnit .contents {
	float: right;
	display: inline;
	width: 95px;
}

/* Image Unit col2A
---------------------------------------- */
#main #localnavi .section .publicationUnit .unit .imageUnit-col2A {
	position: relative;
	margin: 0 0 10px -6px;
	zoom: 1;
}

#main #localnavi .section .publicationUnit .unit .imageUnit-col2A:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}
 
#main #localnavi .section .publicationUnit .unit .imageUnit-col2A .image {
	float: left;
	display: inline;
	margin-left: 6px;
	width: 98px;
}

#main #localnavi .section .publicationUnit .unit .imageUnit-col2A .image img {
	border: 1px solid #CCCCCC;
}