@charset "shift_jis";

/* =======================================

	Magazine CSS

========================================== */


/* prt-magazine
****************************************************************************/
#contents div.prt-magazine {
	position: relative;
	top: -8px;
	margin: 0 0 32px;
	zoom: 1;
}
#contents div.prt-magazine:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-magazine p.coverImage {
	position: relative;
	float: left;
	display: inline;
	margin: 8px -215px 0 0;
	width: 215px;
	text-align: center;
}

#contents div.prt-magazine .contents {
	float: left;
	display: inline;
	width: 100%;
}

#contents div.prt-magazine .contents .contentsInner {
	padding-right: 10px;
	padding-left: 225px;
}

#contents div.prt-magazine .contents table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 8px 0 0;
	padding: 0;
	width: 100%;
}

#contents div.prt-magazine .contents table table {
	width: auto;
	margin: 0;
	padding: 0;
}

#contents div.prt-magazine .contents table th,
#contents div.prt-magazine .contents table td {
	margin: 0;
	padding: 2px 0;
}

#contents div.prt-magazine .contents table table th,
#contents div.prt-magazine .contents table table td {
	margin: 0;
	padding: 0;
	word-break: break-all;
	word-wrap: break-word;
}

#contents div.prt-magazine .contents table th {
}

#contents div.prt-magazine .contents table td {
}
#contents div.prt-magazine .contents table td.pageNum {
	padding-left: 12px;
	text-align: right;
	word-break: normal;
}
#contents div.prt-magazine .contents table td.indent { padding-left: 14px;}

#contents div.prt-magazine .contents table tr.hr td {
	padding: 6px 0;
}
#contents div.prt-magazine .contents table tr.hr td div.prt-hr {
	margin: 0 -10px;
}

#contents div.prt-magazine .contents div.prt-hr {
	margin: 10px 0;
}

#contents div.prt-magazine .contents h4 {
	margin: 8px 0;
	font-weight: normal;
}

#contents div.prt-magazine .contents .border {
	margin: 0 0 20px;
	padding: 6px 12px;
	border: 2px solid #CCCCCC;
}

#contents div.prt-magazine .contents p { margin: 0;}
#contents div.prt-magazine .contents .list-style12 p { margin-left: 1.25em; text-indent: -1.25em;}

#contents div.prt-magazine .contents .right { text-align: right;}
#contents div.prt-magazine .contents .t-bold { font-weight: bold;}

#contents div.prt-magazine .contents .indent10{ text-indent: 1em;}

#contents div.prt-magazine .contents .mal02 { margin-left: 0.25em;}
#contents div.prt-magazine .contents .mab02 { margin-bottom: 0.25em;}
#contents div.prt-magazine .contents .mal05 { margin-left: 0.5em;}
#contents div.prt-magazine .contents .mab05 { margin-bottom: 0.5em;}
#contents div.prt-magazine .contents .mal10 { margin-left: 1em;}
#contents div.prt-magazine .contents .mab10 { margin-bottom: 1em;}
#contents div.prt-magazine .contents .mal12 { margin-left: 1.25em;}
#contents div.prt-magazine .contents .mab12 { margin-bottom: 1.25em;}
#contents div.prt-magazine .contents .mal15 { margin-left: 1.5em;}
#contents div.prt-magazine .contents .mab15 { margin-bottom: 1.5em;}
#contents div.prt-magazine .contents .mal17 { margin-left: 1.75em;}
#contents div.prt-magazine .contents .mab17 { margin-bottom: 1.75em;}
#contents div.prt-magazine .contents .mal20 { margin-left: 2em;}
#contents div.prt-magazine .contents .mab20 { margin-bottom: 2em;}
#contents div.prt-magazine .contents .mal30 { margin-left: 3em;}
#contents div.prt-magazine .contents .mal32 { margin-left: 3.25em; }
#contents div.prt-magazine .contents .mab30 { margin-bottom: 3em;}
#contents div.prt-magazine .contents .mal35 { margin-left: 3.5em;}
#contents div.prt-magazine .contents .mab35 { margin-bottom: 3.5em;}
#contents div.prt-magazine .contents .mal40 { margin-left: 4em;}
#contents div.prt-magazine .contents .mab40 { margin-bottom: 4em;}
#contents div.prt-magazine .contents .mal45 { margin-left: 4.5em;}
#contents div.prt-magazine .contents .mab45 { margin-bottom: 4.5em;}
#contents div.prt-magazine .contents .mal47 { margin-left: 4.75em;}
#contents div.prt-magazine .contents .mab47 { margin-bottom: 4.75em;}
#contents div.prt-magazine .contents .mal50 { margin-left: 5em;}
#contents div.prt-magazine .contents .mab50 { margin-bottom: 5em;}
#contents div.prt-magazine .contents .mal52 { margin-left: 5.25em;}
#contents div.prt-magazine .contents .mab52 { margin-bottom: 5.25em;}
#contents div.prt-magazine .contents .mal55 { margin-left: 5.5em;}
#contents div.prt-magazine .contents .mab55 { margin-bottom: 5.5em;}
#contents div.prt-magazine .contents .mal60 { margin-left: 6em;}
#contents div.prt-magazine .contents .mab60 { margin-bottom: 6em;}
#contents div.prt-magazine .contents .mal65 { margin-left: 6.5em;}
#contents div.prt-magazine .contents .mab65 { margin-bottom: 6.5em;}
#contents div.prt-magazine .contents .mal70 { margin-left: 7em;}
#contents div.prt-magazine .contents .mab70 { margin-bottom: 7em;}
#contents div.prt-magazine .contents .mal90 { margin-left: 9em;}
#contents div.prt-magazine .contents .mab90 { margin-bottom: 9em;}

#contents div.prt-magazine .contents .pal02 { padding-left: 0.25em;}
#contents div.prt-magazine .contents .pab02 { padding-bottom: 0.25em;}
#contents div.prt-magazine .contents .pal10 { padding-left: 1em;}
#contents div.prt-magazine .contents .pab10 { padding-bottom: 1em;}
#contents div.prt-magazine .contents .pal15 { padding-left: 1.5em;}
#contents div.prt-magazine .contents .pab15 { padding-bottom: 1.5em;}
#contents div.prt-magazine .contents .pal20 { padding-left: 2em;}
#contents div.prt-magazine .contents .pab20 { padding-bottom: 2em;}
#contents div.prt-magazine .contents .pal27 { padding-left: 2.75em;}
#contents div.prt-magazine .contents .pab27 { padding-bottom: 2.75em;}
#contents div.prt-magazine .contents .pal30 { padding-left: 3em;}
#contents div.prt-magazine .contents .pab30 { padding-bottom: 3em;}
#contents div.prt-magazine .contents .pal35 { padding-left: 3.5em;}
#contents div.prt-magazine .contents .pab35 { padding-bottom: 3.5em;}
#contents div.prt-magazine .contents .pal40 { padding-left: 4em;}
#contents div.prt-magazine .contents .pab40 { padding-bottom: 4em;}

#contents div.prt-magazine .contents .list10  { margin-left:    1em; text-indent:    -1em;}
#contents div.prt-magazine .contents .list15  { margin-left:  1.5em; text-indent:  -1.5em;}
#contents div.prt-magazine .contents .list20  { margin-left:    2em; text-indent:    -2em;}
#contents div.prt-magazine .contents .list27  { margin-left: 2.70em; text-indent: -2.70em;}
#contents div.prt-magazine .contents .list30  { margin-left:    3em; text-indent:    -3em;}
#contents div.prt-magazine .contents .list40  { margin-left:    4em; text-indent:    -4em;}
#contents div.prt-magazine .contents .list47  { margin-left: 4.75em; text-indent: -4.75em;}
#contents div.prt-magazine .contents .list50  { margin-left:    5em; text-indent:    -5em;}
#contents div.prt-magazine .contents .list60  { margin-left:    6em; text-indent:    -6em;}
#contents div.prt-magazine .contents .list52  { margin-left: 5.25em; text-indent: -5.25em;}
#contents div.prt-magazine .contents .list115 { margin-left: 11.5em; text-indent: -11.5em;}

#contents div.prt-magazine .contents ul {
	margin-top: 0;
	padding-left: 1.5em;
}

#contents div.prt-magazine .contents ul li {
	list-style: disc outside none;
}
