@charset "shift_jis";

/* =======================================

	Mega Dropdown CSS

========================================== */

#globalnavi ul.menu li#gnavi01 {
	position: relative;
	z-index: 11001;
	cursor: pointer;
}
#globalnavi ul.menu li.mk_megaDropdown_show#gnavi01 {
	background-position: 100% -966px;
}
#globalnavi ul.menu li.mk_megaDropdown_show#gnavi01 a {
	background-position: -415px -936px;
}



ul.megaDropdown-contents {
	display: none;
	position: absolute;
	left: 15px;
	z-index: 11000;
	margin: 0;
	padding: 0;
	width: 852px;
	background: #CC0000;
	border: 4px solid #CC0000;
	/*
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.9);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.9);
	*/
	zoom: 1;
}
ul.megaDropdown-contents:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

ul.megaDropdown-contents li {
	position: relative;
	margin: 4px 0 0;
	padding: 6px 10px 6px 160px;
	border: 1px solid #FFFFFF;
	/*
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px; 
	*/
	background: #FFFFFF url(../../images/base/megaDropdown_bg_01.png) repeat-y;
	zoom: 1;
}
ul.megaDropdown-contents li:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}
ul.megaDropdown-contents li li {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

ul.megaDropdown-contents li.search2 { margin-top: 0;}

ul.megaDropdown-contents li dfn {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin: -13px 0 0;
	width: 150px;
	height: 26px;
	background: url(../../images/base/megaDropdown_bg_02.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
ul.megaDropdown-contents li.search1 dfn { background-position: 0 0;}
ul.megaDropdown-contents li.search2 dfn { background-position: 0 -26px;}
ul.megaDropdown-contents li.search3 dfn { background-position: 0 -52px;}
ul.megaDropdown-contents li .contents dfn {
	display: inline;
	position: static;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	background: none;
	text-indent: 0;
	overflow: visible;
}

ul.megaDropdown-contents li .contents {
}

ul.megaDropdown-contents li .contents ul {
	zoom: 1;
}
ul.megaDropdown-contents li .contents ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

ul.megaDropdown-contents li .contents ul li {
	float: left;
	display: inline;
	margin: 0 10px 0 0;
	padding: 0 0 0 14px;
	background: url(../../images/base/ico_arrow_01.png) no-repeat 0 0.5em;
	font-size: 140%;
	line-height: 1.572;
	zoom: 1;
}
ul.megaDropdown-contents li .contents ul li:after {
	display: none;
}
* html ul.megaDropdown-contents li .contents ul li { float: none;}
*:first-child + html ul.megaDropdown-contents li .contents ul li { float: none;}

/**
ul.megaDropdown-contents li .contents ul li.ico-blank { background-image: url(../../images/base/ico_blank.png);}
**/

ul.megaDropdown-contents li .contents .row {
	position: relative;
	margin: 20px -10px 0 0;
	zoom: 1;
}
ul.megaDropdown-contents li .contents .row:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}
ul.megaDropdown-contents li .contents .row.row-first {
	margin-top: 0;
}

ul.megaDropdown-contents li .contents .row .col {
	float: left;
	display: inline;
	margin: 0 10px 0 0;
	width: 220px;
}

ul.megaDropdown-contents li .contents .row .col ul {
}

ul.megaDropdown-contents li .contents .row .col dfn {
	display: block;
}

ul.megaDropdown-contents li .contents .row .col dfn a {
	display: block;
	margin: 0 0 3px;
	height: 26px;
	background: url(../../images/base/megaDropdown_bg_03.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
ul.megaDropdown-contents li .contents .row .col.col1 dfn a { background-position: 0 0;}
ul.megaDropdown-contents li .contents .row .col.col2 dfn a { background-position: 0 -26px;}
ul.megaDropdown-contents li .contents .row .col.col3 dfn a { background-position: 0 -52px;}
ul.megaDropdown-contents li .contents .row .col.col4 dfn a { background-position: 0 -78px;}
ul.megaDropdown-contents li .contents .row .col.col5 dfn a { background-position: 0 -104px;}
ul.megaDropdown-contents li .contents .row .col.col6 dfn a { background-position: 0 -130px;}