@charset "shift_jis";

/* =======================================

	Others CSS

========================================== */


/* prt-topContents
****************************************************************************/
#contents div.prt-topContents {
	position: relative;
	top: -4px;
	margin: 0 -14px 36px;
	padding: 0 0 0 6px;
	background: url(../../images/parts/topContents_bg_01.png) no-repeat;
	zoom: 1;
}

#contents div.prt-topContents .topContents-inner {
	padding: 0 6px 0 0;
	background: url(../../images/parts/topContents_bg_02.png) no-repeat 100% 0;
	zoom: 1;
}

#contents div.prt-topContents .topContents-inner .topContents-inner {
	padding: 4px 8px 0;
	background: url(../../images/parts/topContents_bg_03.png) repeat-x;
	zoom: 1;
}

#contents div.prt-topContents p,
#contents div.prt-topContents ul,
#contents div.prt-topContents ol,
#contents div.prt-topContents dl,
#contents div.prt-topContents div.prt-table,
#contents div.prt-topContents div.prt-topicsTable,
#contents div.prt-topContents div.prt-magazine,
#contents div.prt-topContents div.prt-profile,
#contents div.prt-topContents div.prt-buttonLink {
	margin-top: 10px;
}

#contents div.prt-topContents div.prt-linkNavi {
}

@media print {
#contents div.prt-topContents {
	margin: 0 -10px;
	padding-bottom: 36px;
	border-top: 3px solid #CCCCCC;
	background-image: none;
}

* html #contents div.prt-topContents { position: static;}

#contents div.prt-topContents .topContents-inner {
	background-image: none;
}

#contents div.prt-topContents .topContents-inner .topContents-inner {
	background-image: none;
}

* html #contents div.prt-topContents .topContents-inner .topContents-inner { zoom: normal;}
}

/* imageUnit
========================================== */
#contents div.prt-topContents .imageUnit {
	margin: 10px 0 0;
	zoom: 1;
}
#contents div.prt-topContents .imageUnit:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-topContents .imageUnit .contents {
	float: left;
	width: 100%;
}

#contents div.prt-topContents .imageUnit .contents .contents-inner {
	padding: 0 220px 0 0;
}

#contents div.prt-topContents .imageUnit .image {
	float: right;
	display: inline;
	margin: 0 0 0 -210px;
	width: 210px;
}


@media print {
}


/* prt-linkNavi
****************************************************************************/
#contents div.prt-linkNavi {
	position: relative;
	margin: 0 -10px 10px;
	zoom: 1;
}

#contents div.prt-linkNavi ul {
	margin: 0;
	padding: 6px 18px 8px;
	background: #F1EAE1 url(../../images/parts/linkNavi_bg_01.png) repeat-x 100% -4px;
	zoom: 1;
}
#contents div.prt-linkNavi ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-linkNavi ul li {
	float: left;
	display: inline;
	margin: 0 20px 0 0;
	white-space: nowrap;
	zoom: 1;
}

#contents div.prt-linkNavi ul li a {
}


@media print {
#contents div.prt-linkNavi {
	display: none;
}
}



/* prt-pageTop
****************************************************************************/
#contents p.prt-pageTop {
	position: relative;
	margin: 0 -10px 8px;
	text-align: right;
	font-size: 120%;
	line-height: 1.5;
}



@media print {
#contents p.prt-pageTop {
	display: none;
}
}



/* hr
****************************************************************************/
#contents div.prt-hr,
#footerContents div.prt-hr {
	position: relative;
	margin: 0 -10px 20px;
	border-bottom: 2px solid #D8D8D8;
	zoom: 1;
}

#contents div.prt-hr.hr-blue   { border-color: #B1D9FF;}
#contents div.prt-hr.hr-orange { border-color: #FFD49D;}
#contents div.prt-hr.hr-pink   { border-color: #FFC6DA;}
#contents div.prt-hr.hr-green  { border-color: #AED7B2;}
#contents div.prt-hr.hr-purple { border-color: #D7ADEA;}
#contents div.prt-hr.hr-amber  { border-color: #E7C99E;}

#contents div.prt-hr .inner,
#footerContents div.prt-hr .inner {
	position: relative;
	margin: 0 0 -2px;
	padding: 2px 0 0;
	background: url(../../images/parts/hr_bg_01.png) no-repeat;
	height: 0;
	overflow: hidden;
	zoom: 1;
}

#contents div.prt-hr.hr-blue   .inner { background-image: url(../../images/parts/hr_bg_01_blue.png);}
#contents div.prt-hr.hr-orange .inner { background-image: url(../../images/parts/hr_bg_01_orange.png);}
#contents div.prt-hr.hr-pink   .inner { background-image: url(../../images/parts/hr_bg_01_pink.png);}
#contents div.prt-hr.hr-green  .inner { background-image: url(../../images/parts/hr_bg_01_green.png);}
#contents div.prt-hr.hr-purple .inner { background-image: url(../../images/parts/hr_bg_01_purple.png);}
#contents div.prt-hr.hr-amber  .inner { background-image: url(../../images/parts/hr_bg_01_amber.png);}

#contents div.prt-hr .inner hr,
#footerContents div.prt-hr .inner hr {
}



@media print {
#contents div.prt-hr,
#footerContents div.prt-hr {
	position: static;
	border-bottom: 2px solid #D8D8D8;
}

#contents div.prt-hr .inner {
	background: none !important;
}

#contents div.prt-hr .inner hr,
#footerContents div.prt-hr .inner hr {
	display: none;
}
#contents div.prt-hr.hr-blue   { border-color: #B1D9FF;}
#contents div.prt-hr.hr-orange { border-color: #FFD49D;}
#contents div.prt-hr.hr-pink   { border-color: #FFC6DA;}
#contents div.prt-hr.hr-green  { border-color: #AED7B2;}
#contents div.prt-hr.hr-purple { border-color: #D7ADEA;}
#contents div.prt-hr.hr-amber  { border-color: #E7C99E;}
}




/*
#contents div.prt-pageTop.prt-pageTop-typeA { border-bottom-color: #D6ABEA;}
#contents div.prt-pageTop.prt-pageTop-typeB { border-bottom-color: #E6C99E;}
#contents div.prt-pageTop.prt-pageTop-typeC { border-bottom-color: #B1D9FF;}
#contents div.prt-pageTop.prt-pageTop-typeD { border-bottom-color: #ADD7B2;}
#contents div.prt-pageTop.prt-pageTop-typeE { border-bottom-color: #FFD59B;}
#contents div.prt-pageTop.prt-pageTop-typeF { border-bottom-color: #FFC8DA;}
*/

/*
#contents div.prt-pageTop.prt-pageTop-typeA ul { background-image: url(../../images/parts/pageTop_bg_02.png);}
#contents div.prt-pageTop.prt-pageTop-typeB ul { background-image: url(../../images/parts/pageTop_bg_03.png);}
#contents div.prt-pageTop.prt-pageTop-typeC ul { background-image: url(../../images/parts/pageTop_bg_04.png);}
#contents div.prt-pageTop.prt-pageTop-typeD ul { background-image: url(../../images/parts/pageTop_bg_05.png);}
#contents div.prt-pageTop.prt-pageTop-typeE ul { background-image: url(../../images/parts/pageTop_bg_06.png);}
#contents div.prt-pageTop.prt-pageTop-typeF ul { background-image: url(../../images/parts/pageTop_bg_07.png);}
*/



/* Plugin
****************************************************************************/
#contents div.prt-plugin {
	margin: 0 0 40px;
	zoom: 1;
}
#contents div.prt-plugin:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-plugin .contents {
	margin: 0 0 0 170px;
}

#contents div.prt-plugin .banner {
	float: left;
	display: inline;
	padding: 0.25em 0 0;
	width: 158px;
}

#contents div.prt-plugin .banner a {
	display: block;
	zoom: 1;
}

#contents div.prt-plugin .banner a:hover {
	opacity: 0.65;
	filter: alpha(opacity=65);
}


@media print {
#contents div.prt-plugin {
	display: none;
}
}


/* prt-banner
****************************************************************************/
#contents div.prt-banner,
#footerContents div.prt-banner {
	position: relative;
	margin: 0 -10px 20px;
	zoom: 1;
}

#contents div.prt-banner ul,
#footerContents div.prt-banner ul {
	position: relative;
	margin: -10px -20px 0 0;
	zoom: 1;
}
#contents div.prt-banner ul:after,
#footerContents div.prt-banner ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-banner ul li,
#footerContents div.prt-banner ul li {
	float: left;
	display: inline;
	margin: 10px 20px 0 0;
	width: 220px;
}

#contents div.prt-banner ul li a,
#footerContents div.prt-banner ul li a {
	display: block;
	padding: 0 17px 0 0;
	border: 1px solid #CCCCCC;
	background: url(../../images/parts/banner_bg_01.png) no-repeat 100% 0;
	zoom: 1;
}

#contents div.prt-banner ul li a:hover,
#footerContents div.prt-banner ul li a:hover {
	border-color: #003399;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

#contents div.prt-banner ul li a img,
#footerContents div.prt-banner ul li a img {
}

@media print {
#contents div.prt-banner,
#footerContents div.prt-banner {
	margin: 0 0 20px;
}

* html #contents div.prt-banner,
* html #footerContents div.prt-banner {
	position: static;
	width: 649px;
	zoom: normal;
}


#contents div.prt-banner ul,
#footerContents div.prt-banner ul {
	margin: 0;
}
/* IE6 Only */
* html #contents div.prt-banner ul,
* html #footerContents div.prt-banner ul {
	width: auto;
	position: static;
	zoom: normal;
}


#contents div.prt-banner ul li,
#footerContents div.prt-banner ul li {
	padding-right: 0;
	width: auto;
}

#contents div.prt-banner ul li a,
#footerContents div.prt-banner ul li a {
	padding-right: 0;
	background: none;
	zoom: normal;
}

}


/* prt-banner 02
****************************************************************************/
#contents div.prt-banner02 {
	margin: 0 -5px 20px;
}

#contents div.prt-banner02 ul {
	position: relative;
	margin: -10px 0 0 -30px;
	zoom: 1;
}

#contents div.prt-banner02 ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-banner02 ul li {
	float: left;
	display: inline;
	width: 210px;
	margin: 10px 0 0 30px;
}

#contents div.prt-banner02 ul li a {
	display: block;
	border: 1px solid #CCCCCC;
	zoom: 1;
}

#contents div.prt-banner02 ul li.bannerType02 a {
	border: none;
}

#contents div.prt-banner02 ul li a:hover {
	border-color: #003399;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

@media print {
#contents div.prt-banner02 {
	clear: both;
}

#contents div.prt-banner02 ul {
	clear: both;
}

#contents div.prt-banner02 ul:after {visibility: hidden;}
* html #contents div.prt-banner02 ul:after {visibility: visible;}

#contents div.prt-banner02 ul li {}
* html #contents div.prt-banner02 ul li {zoom: normal;}

}


/* prt-banner 03
****************************************************************************/
#contents div.prt-banner03 {
	margin: 0 -5px 20px;
}

#contents div.prt-banner03 ul {
	margin: -20px 0 0 -30px;
	zoom: 1;
}

#contents div.prt-banner03 ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-banner03 ul li {
	float: left;
	display: inline;
	width: 210px;
	margin: 20px 0 0 30px;
}

#contents div.prt-banner03 ul li a {
	display: block;
	background: #FFFFFF;
	zoom: 1;
}

#contents div.prt-banner03 ul li a:hover {
	border-color: #003399;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

@media print {
#contents div.prt-banner03 {
	clear: both;
	position: static;
}

#contents div.prt-banner03 ul:after {visibility: hidden;}
* html #contents div.prt-banner03 ul:after {visibility: visible;}
}


/* prt-sidewaysList
****************************************************************************/
#contents div.prt-sidewaysList {
	position: relative;
	margin: 0 -10px 20px;
	zoom: 1;
}

#contents div.prt-sidewaysList ul {
	position: relative;
	margin: 0 -20px 0 0;
	zoom: 1;
}
#contents div.prt-sidewaysList ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-sidewaysList ul li {
	float: left;
	display: inline;
	margin: 0 20px 0 0;
	width: 220px;
}
#contents div.prt-sidewaysList ul.ico-link  li,
#contents div.prt-sidewaysList ul.ico-blank li,
#contents div.prt-sidewaysList ul.ico-pdf   li,
#contents div.prt-sidewaysList ul.ico-word  li,
#contents div.prt-sidewaysList ul.ico-excel li,
#contents div.prt-sidewaysList ul.ico-ppt   li,
#contents div.prt-sidewaysList ul.ico-up    li,
#contents div.prt-sidewaysList ul.ico-down  li {
	width: 206px;
}

@media print {
#contents div.prt-sidewaysList {
	position: static;
}
}


/* A
========================================== */
#contents div.prt-sidewaysListA {
	position: relative;
	margin: 0 -10px 20px;
	zoom: 1;
}

#contents div.prt-sidewaysListA ul {
	position: relative;
	margin: 0 -20px 0 0;
	zoom: 1;
}
#contents div.prt-sidewaysListA ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-sidewaysListA ul li {
	float: left;
	display: inline;
	margin: 0 20px 0 0;
	white-space: nowrap;
}

@media print {
#contents div.prt-sidewaysListA {
}
#contents div.prt-sidewaysListA ul {
}
#contents div.prt-sidewaysListA ul li {
}
}



/* B
========================================== */
#contents div.prt-sidewaysListB {
	position: relative;
	margin: 0 -10px 20px;
	zoom: 1;
}

#contents div.prt-sidewaysListB ul {
	position: relative;
	margin: -10px -20px 0 0;
	zoom: 1;
}
#contents div.prt-sidewaysListB ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-sidewaysListB ul li {
	float: left;
	display: inline;
	margin: 10px 20px 0 0;
	white-space: nowrap;
	text-align: center;
}

@media print {
}


/* C
========================================== */
#contents div.prt-sidewaysListC {
	position: relative;
	margin: 0 -10px 20px;
	zoom: 1;
}

#contents div.prt-sidewaysListC ul.ico-link {
	margin: 0;
	padding: 0;
	line-height: 1.667;
}

#contents div.prt-sidewaysListC ul.ico-link li {
	display: inline;
	margin: 0 5px 0 0;
	padding: 0;
	background: none;
	zoom: normal;
}


body#home #contents .section#sec-bunyabetsu div.prt-sidewaysListC {
	margin-bottom: 10px;
}


@media print {
* html #contents div.prt-sidewaysListC {
	position: static;
	margin: 0 0 20px;
}

}



/* prt-aside
****************************************************************************/
#contents div.prt-aside {
	position: relative;
	margin: 0 -14px 20px;
	background: url(../../images/parts/aside_bg_01.png) repeat-y 0 0;
	zoom: 1;
}

#contents div.prt-aside .aside-inner {
	background: url(../../images/parts/aside_bg_02.png) repeat-y 100% 0;
	zoom: 1;
}

#contents div.prt-aside .aside-inner .aside-inner {
	background: url(../../images/parts/aside_bg_03.png) repeat-x 0 0;
	zoom: 1;
}

#contents div.prt-aside .aside-inner .aside-inner .aside-inner {
	background: url(../../images/parts/aside_bg_04.png) repeat-x 0 100%;
	zoom: 1;
}

#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner {
	background: url(../../images/parts/aside_bg_05.png) no-repeat 0 0;
	zoom: 1;
}

#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner {
	background: url(../../images/parts/aside_bg_06.png) no-repeat 100% 0;
	zoom: 1;
}

#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner {
	background: url(../../images/parts/aside_bg_07.png) no-repeat 0 100%;
	zoom: 1;
}

#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner {
	padding: 3px 14px 15px;
	background: url(../../images/parts/aside_bg_08.png) no-repeat 100% 100%;
	zoom: 1;
}

#contents div.prt-aside p, #contents div.prt-aside pre, #contents div.prt-aside ul, #contents div.prt-aside ol, #contents div.prt-aside dl {
	margin: 10px 0 0;
}
#contents div.prt-aside div.heading-lv4 {
	margin-top: 10px;
}

@media print {
#contents div.prt-aside {
	border: 2px solid #DBDBDB;
	background: none;
}
* html #contents div.prt-aside { margin: 0 0 20px;}

#contents div.prt-aside .aside-inner,
#contents div.prt-aside .aside-inner .aside-inner,
#contents div.prt-aside .aside-inner .aside-inner .aside-inner,
#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner,
#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner,
#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner,
#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner,
#contents div.prt-aside .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner .aside-inner {
	background: none;
}
}



/* prt-topicsList
****************************************************************************/
#contents div.prt-topicsList {
	margin: 0 -10px 20px;
}

#contents div.prt-topicsList ul {
	margin: 0;
	padding: 0;
}

#contents div.prt-topicsList ul li {
	position: relative;
	margin: 0;
	padding: 0 0 0 70px;
	zoom: 1;
}

#contents div.prt-topicsList ul li span.label {
	display: block;
	position: absolute;
	top: 0.2em;
	left: 0;
	width: 60px;
}

#contents div.prt-topicsList ul li span.label img {
}

#contents div.prt-topicsList ul li a {
}



/* prt-profile
****************************************************************************/
#contents div.prt-profile {
	position: relative;
	margin: 0 0 20px;
	padding: 0 0 0 152px;
	min-height: 155px;
	zoom: 1;
}
* html #contents div.prt-profile {
	height: 155px;
}

#contents div.prt-profile .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 137px;
}

#contents div.prt-profile .contents {
}

#contents div.prt-profile .contents p {
	margin: 0;
}

#contents div.prt-profile .contents p.ruby {
	font-size: 100%;
	line-height: 1.2;
}

#contents div.prt-profile .contents p.name {
	margin: 0 0 8px;
	font-weight: bold;
	font-size: 160%;
}

#contents div.prt-profile .contents ul.data {
	margin: 0;
	padding: 0;
}

#contents div.prt-profile .contents ul.data li {
}

#contents div.prt-profile .contents ul.data li dfn {
	font-weight: normal;
}



/* prt-buttonList
****************************************************************************/
#contents div.prt-buttonLink {
	position: relative;
	margin: 0 -40px 20px 0;
	zoom: 1;
}

#contents div.prt-buttonLink ul {
	position: relative;
	margin: -10px 0 0;
	zoom: 1;
}
#contents div.prt-buttonLink ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-buttonLink ul li {
	float: left;
	display: inline;
	margin: 10px 40px 0 0;
	width: 200px;
	font-weight: bold;
}

#contents div.prt-buttonLink ul li a {
	display: block;
	margin: 0;
	padding: 5px 5px 5px 0;
	border: 1px solid #CCCCCC;
	background: url(../../images/parts/buttonLink_bg_01.png) repeat-x 0 100%;
	text-decoration: none;
	zoom: 1;
}

#contents div.prt-buttonLink ul li a:hover {
	border-color: #003399;
}

#contents div.prt-buttonLink ul li a span.ico-link,
#contents div.prt-buttonLink ul li a span.ico-blank {
	display: block;
	padding: 0 0 0 15px;
	background: url(../../images/parts/buttonLink_ico_link.png) no-repeat 0 0.35em;
	text-decoration: underline;
}

#contents div.prt-buttonLink ul li a span.ico-blank { background-image: url(../../images/parts/buttonLink_ico_blank.png);}

#contents div.prt-buttonLink ul li a:hover span.ico-link,
#contents div.prt-buttonLink ul li a:hover span.ico-blank {
	text-decoration: none;
}

@media print {
#contents div.prt-buttonLink {
	margin-right: 0;
}
* html #contents div.prt-buttonLink {}

#contents div.prt-buttonLink ul {
	margin-top: 0;
}

#contents div.prt-buttonLink ul li {
}

#contents div.prt-buttonLink ul li a {
	background: none;
}


}


/* prt-buttonList 02
****************************************************************************/
#contents div.prt-buttonLink02 {
	position: relative;
	margin: 0 auto 20px;
	width: 320px;
	zoom: 1;
}

#contents div.prt-buttonLink02.wideBtn {
	width: 440px;
}

#contents div.prt-buttonLink02 ul.buttonList {
	position: relative;
	margin: 0 -10px;
	zoom: 1;
}

#contents div.prt-buttonLink02 ul.buttonList li {
	margin: 0 0 10px;
	font-weight: bold;
}

#contents div.prt-buttonLink02 ul.buttonList li.fontLarge {
	font-size: 320%;
	line-height: 1.188;
}

#contents div.prt-buttonLink02 ul.buttonList li a {
	display: block;
	margin: 0;
	padding: 10px 5px 10px 0;
	border: 1px solid #CCCCCC;
	background: url(../../images/parts/buttonLink_bg_01.png) repeat-x 0 100%;
	text-decoration: none;
	zoom: 1;
}

#contents div.prt-buttonLink02 ul.buttonList li a:hover {
	border-color: #003399;
}

#contents div.prt-buttonLink02 ul.buttonList li a span.ico-link,
#contents div.prt-buttonLink02 ul.buttonList li a span.ico-blank {
	display: block;
	padding: 0 0 0 15px;
	background: url(../../images/parts/buttonLink_ico_link.png) no-repeat 0 0.35em;
	text-decoration: underline;
}
#contents div.prt-buttonLink02 ul.buttonList li a span.ico-blank { background-image: url(../../images/parts/buttonLink_ico_blank.png);}

#contents div.prt-buttonLink02 ul.buttonList li a:hover span.ico-link,
#contents div.prt-buttonLink02 ul.buttonList li a:hover span.ico-blank {
	text-decoration: none;
}

@media print {
#contents div.prt-buttonLink02 {}
* html #contents div.prt-buttonLink02 {width: 280px;}
* html #contents div.prt-buttonLink02.wideBtn {width: auto;}

#contents div.prt-buttonLink02 ul.buttonList {margin: 0 0 10px;}

#contents div.prt-buttonLink02 ul.buttonList li {
}

#contents div.prt-buttonLink02 ul.buttonList li a {
	background: none;
}

}


/* prt-flowchart
****************************************************************************/
#contents div.prt-flowchartBlue,
#contents div.prt-flowchartRed {
	position: relative;
	margin: 0 -10px 20px;
}

#contents div.prt-flowchartBlue .contents,
#contents div.prt-flowchartRed .contents {
	margin: 0 0 10px;
	padding: 10px 10px 0;
	border: 2px solid; 
}

#contents div.prt-flowchartBlue .contents { background-color: #EDF6FF; border-color: #B1D9FF;}
#contents div.prt-flowchartRed  .contents { background-color: #FFF2F7; border-color: #FFC6DA;}

#contents div.prt-flowchartBlue p.arrow,
#contents div.prt-flowchartRed  p.arrow {
	background: url(../../images/parts/flowchart_allow.png) no-repeat 50% 0;
	text-indent: -9999px;
	height: 13px;
	overflow: hidden;
	zoom: 1;
}
#contents div.prt-flowchartRed  p.arrow { background-position: 50% -13px;}

#contents div.prt-flowchartBlue .contents ul,
#contents div.prt-flowchartRed  .contents ul {
	margin-left: 0;
}

@media print {
* html #contents div.prt-flowchartBlue,
* html #contents div.prt-flowchartRed {
	position: static;
	margin: 0 0 20px;
}

#contents div.prt-flowchartBlue p.arrow,
#contents div.prt-flowchartRed  p.arrow {
	background: none;
	text-indent: 0;
	height: auto;
	overflow: visible;
	text-align: center;
	font-weight: bold;
}

#contents div.prt-flowchartBlue p.arrow {color: #365F91;}
#contents div.prt-flowchartRed  p.arrow {color: #C0504D;}

}

/* prt-SearchArea
****************************************************************************/
#contents div.prt-searchArea {
	margin: 0 0 20px;
	zoom: 1;
}

#contents div.prt-searchArea:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-searchArea p.searchArea {
	float: left;
	padding: 0;
	width: 263px;
	zoom: 1;
	font-size: 120%;
	line-height: 1.334;
}
#contents div.prt-searchArea  p.searchArea:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-searchArea p.searchArea span.keywords {
	float: left;
	background: #FCC;
}

#contents div.prt-searchArea p.searchArea span.keywords input {
	float: left;
	width: 181px;
	padding: 2px 60px 0 20px;
	border: 1px solid #010167;
	background: #FFFFFF url(../../images/parts/searchArea_bg_01.png) no-repeat;
	color: #999999;
	height: 1.334em;
}
#contents div.prt-searchArea p.searchArea span.keywords input.focus,
#contents div.prt-searchArea p.searchArea span.keywords input.inputTrue {
	color: #000000;
}

#contents div.prt-searchArea p.searchArea span.submit {
	position: relative;
	float: left;
	display: block;
	margin: 1px 0 0 -59px;
	padding: 1px 0;
	width: 58px;
	height: 1.334em;
	background: url(../../images/parts/searchArea_bg_02.png) repeat-y 100% 0;
}

#contents div.prt-searchArea p.searchArea span.submit input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: none;
	width: 58px;
	height: 18px;
	background: url(../../images/base/structure_parts.png) no-repeat 0 -72px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}

#contents div.prt-searchArea p.searchArea span.submit input.hover {
	background-position: -58px -72px;
}

#contents div.prt-searchArea ul.ico-link {
	float: left;
	display: inline;
	margin: 0 0 0 10px;
}
#contents div.prt-searchArea ul.ico-link li {
}

@media print {
#contents div.prt-searchArea {
	position: static;
	zoom: normal;
}

}


/* prt-scrollUnit
****************************************************************************/
#contents div.prt-scrollUnit {
	position: relative;
	margin: 0 -10px 20px;
	border: solid #ccc;
	border-width: 2px 2px 2px 2px;
}

#contents div.prt-scrollUnit .scrollInner {
	position: relative;
	padding: 10px 0 10px 13px;
	overflow: auto;
	height: 130px;
	zoom: 1;
}

#contents div.prt-scrollUnit .scrollInner div {
	margin: 0;
}

@media print {
#contents div.prt-scrollUnit {
	margin-top: 0;
}
* html #contents div.prt-scrollUnit {position: static;}

#contents div.prt-scrollUnit .scrollInner {
	overflow: visible;
	height: auto;
}
* html #contents div.prt-scrollUnit .scrollInner { position: static; zoom: normal;}

}


/* prt-movieUnit
****************************************************************************/
#contents div.prt-movieUnit {
	margin: 0 0 20px;
	zoom: 1;
}
#contents div.prt-movieUnit:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-movieUnit .imageUnit {
	position: relative;
	top: 10px;
	float: left;
	display: inline;
	margin: -10px -220px 0 0;
	width: 220px;
	z-index: 10;
}
#contents div.prt-movieUnit .imageUnit .image {
	text-align: center;
	margin: 0 0 10px;
}

#contents div.prt-movieUnit .imageUnit .image a img {
	border: 1px solid #CCC;
}

#contents div.prt-movieUnit .imageUnit .image a:hover img {
	 border-color: #003399 !important;
	 opacity: 0.65;
	 filter: alpha(opacity=65);
}

#contents div.prt-movieUnit .contents {
	position: relative;
	top: 10px;
	float: left;
	margin: -10px 0 0;
	width: 100%;
}

#contents div.prt-movieUnit .contents .contents-inner {
	padding: 0 0 0 250px;
}

#contents div.prt-movieUnit .contents .contents-inner .heading {
	position: relative;
	margin-left: -10px;
}


/* prt-topicList
****************************************************************************/
#contents .prt-topicList {}

#contents .prt-topicList #latest-date {
	height:36px;
	margin:-36px 0 0 150px;
	position:relative;
	z-index:100;
}


/* prt-disasterInfo
****************************************************************************/
#contents div.prt-disasterInfo {
	margin: 0 238px 22px 0;
}

#contents div.prt-disasterInfo .inner {
	position: relative;
	margin: 0 -4px 0 -3px;
	padding-bottom: 9px;
	background: url(../../images/parts/disasterInfo_bg_03.png) no-repeat 0 100%;
	zoom: 1;
}

#contents div.prt-disasterInfo .inner h2 {
	margin: 0;
}

#contents div.prt-disasterInfo .inner h2 img { /* IE-expression (fix png alpha) */
behavior: expression(
this.style.filter = this.src.match(/\.png$/) ? "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "')" : this.style.filter,
this.src = this.src.match(/\.png$/) ? this.src.slice(0, this.src.lastIndexOf("/")+1) + "ie6png.gif" : this.src,
this.style.behavior = "none"
);
}

#contents div.prt-disasterInfo .inner .contents {
	background: url(../../images/parts/disasterInfo_bg_01.png) repeat-y;
}

#contents div.prt-disasterInfo .inner .contents-inner {
	margin: 0 5px 0 3px;
	padding: 4px 10px 5px;
	background: url(../../images/parts/disasterInfo_bg_02.png) no-repeat 0 100%;
}
#contents div.prt-disasterInfo .inner .contents-inner:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-disasterInfo .inner .contents-inner p,
#contents div.prt-disasterInfo .inner .contents-inner ul,
#contents div.prt-disasterInfo .inner .contents-inner ol {
	margin: 5px 0 0;
	font-weight: bold;
}

#contents div.prt-disasterInfo .inner .contents-inner p,
#contents div.prt-disasterInfo .inner .contents-inner ul li,
#contents div.prt-disasterInfo .inner .contents-inner ol li {
	font-size: 160%;
}

#contents div.prt-disasterInfo .inner .contents-inner ul li li,
#contents div.prt-disasterInfo .inner .contents-inner ol li li {
	font-size: 100%;
}

@media print {
#contents div.prt-disasterInfo {
	position: relative;
	margin: 0 -10px 20px;
}

#contents div.prt-disasterInfo .inner {
	background: none;
}

#contents div.prt-disasterInfo .inner h2 {
	position: relative;
	margin: 0 -4px 0 -3px;
}
#contents div.prt-disasterInfo .inner h2 img {
	zoom: 92%;
}

#contents div.prt-disasterInfo .inner .contents {
	position: relative;
	padding-bottom: 5px;
	width: 100%;
	background: none;
	border: 2px solid #5FB1FF;
}

#contents div.prt-disasterInfo .inner .contents-inner {
	background: none;
}

#contents div.prt-disasterInfo .inner .contents-inner p,
#contents div.prt-disasterInfo .inner .contents-inner ul li,
#contents div.prt-disasterInfo .inner .contents-inner ol li {
	text-align: left !important;
}


}



/* prt-figureIndex [create 2011-08-31]
****************************************************************************/

#contents div.prt-figureIndex {
	margin: 0 0 20px;
	padding: 0 0 0 40px;
	zoom: 1;
}
#contents div.prt-figureIndex:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#contents div.prt-figureIndex .colA,
#contents div.prt-figureIndex .colB {
	position: relative;
	top: 20px;
	display: inline;
	margin: -20px 0 0;
	width: 50%;
}
#contents div.prt-figureIndex .colA { float: left; left: -40px;}
#contents div.prt-figureIndex .colB { float: right;}
* html #contents div.prt-figureIndex .colB { width: 49%;}
*:first-child + html #contents div.prt-figureIndex .colB { width: 49%;}

#contents div.prt-figureIndex .colA .figureIndex-line,
#contents div.prt-figureIndex .colB .figureIndex-line {
	margin: 0 -10px;
	padding: 12px 0 0;
	background: url(../../images/parts/figureIndex_bg_01.png) repeat-x;
}


#contents div.prt-figureIndex .colA .figure,
#contents div.prt-figureIndex .colB .figure {
	float: left;
	width: 60px;
}

#contents div.prt-figureIndex .colA .contents,
#contents div.prt-figureIndex .colB .contents {
	padding: 0 0 0 80px;
}