@charset "utf-8";

/*!
 * Parts Styles
 * 
 * Prefix rule "prt-"
 * 
 */




/**
 * prt-sidewaysListA
 */
.mode-sp #contents       div.prt-sidewaysListA,
.mode-sp #sp-ui-dropdown div.prt-sidewaysListA {
    margin: 10px 0 10px;
}
.mode-sp #contents       div.prt-sidewaysListA ul,
.mode-sp #sp-ui-dropdown div.prt-sidewaysListA ul {
    position: relative;
    margin: -10px -10px 0 0;
}
.mode-sp #contents       div.prt-sidewaysListA ul:after,
.mode-sp #sp-ui-dropdown div.prt-sidewaysListA ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.mode-sp #contents       div.prt-sidewaysListA ul li,
.mode-sp #sp-ui-dropdown div.prt-sidewaysListA ul li {
    float: left;
    margin: 10px 10px 0 0;
	font-size: 10px;
	line-height: 1.2;
}


/**
 * heading-lv2
 */
.mode-sp #contents div.heading-lv2,
.mode-sp #contents div.heading-lv2Link,
.mode-sp #contents div.heading-lv2A,
.mode-sp #contents div.heading-lv2B {
	position: static;
	top: 0;
	left: 0;
	margin: 0 -16px 5px;
	padding: 0 7px;
	background: url(../images/bg_06.png) no-repeat 0 0, url(../images/bg_08.png) no-repeat 100% 0;
	-webkit-background-size: 7px 33px;
		 -moz-background-size: 7px 33px;
					background-size: 7px 33px;
}

.mode-sp #contents div.heading-lv2     .inner,
.mode-sp #contents div.heading-lv2Link .inner,
.mode-sp #contents div.heading-lv2A    .inner,
.mode-sp #contents div.heading-lv2B    .inner {
	padding: 33px 0 0;
	background: url(../images/bg_07.png) repeat-x;
	-webkit-background-size: 20px 33px;
		 -moz-background-size: 20px 33px;
					background-size: 20px 33px;
}

.mode-sp #contents div.heading-lv2     .inner .inner,
.mode-sp #contents div.heading-lv2Link .inner .inner,
.mode-sp #contents div.heading-lv2A    .inner .inner,
.mode-sp #contents div.heading-lv2B    .inner .inner {
	margin: 0 -7px;
	padding: 10px 17px 0;
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			from(#FFFFFF),
			to(#F3F5F8)
		);
	-webkit-background-size: auto auto;
		 -moz-background-size: auto auto;
					background-size: auto auto;
}

.mode-sp #contents div.heading-lv2  .inner .inner:after,
.mode-sp #contents div.heading-lv2A .inner .inner:after,
.mode-sp #contents div.heading-lv2B .inner .inner:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.mode-sp #contents div.heading-lv2 .inner     .inner h2,
.mode-sp #contents div.heading-lv2 .inner     .inner h3,
.mode-sp #contents div.heading-lv2Link .inner .inner h2,
.mode-sp #contents div.heading-lv2Link .inner .inner h3  {
	position: relative;
	float: none;
	margin: -33px 0 0;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.235;
}


.mode-sp #contents div.heading-lv2A .inner .inner h2,
.mode-sp #contents div.heading-lv2A .inner .inner h3 {
	margin: -35px 0 0 -5px;
	padding: 2px 0 0 24px;
	font-weight: normal;
	min-height: 19px;
	font-size: 17px;
	line-height: 1.235;
	background: url(../images/heading-lv2_bg_01.png) no-repeat;
	-webkit-background-size: 19px 19px;
		 -moz-background-size: 19px 19px;
					background-size: 19px 19px;
}

.mode-sp #contents div.heading-lv2B .inner .inner h2,
.mode-sp #contents div.heading-lv2B .inner .inner h3 {
	margin: -39px 0 0 -9px;
	padding: 6px 0 0 29px;
	min-height: 26px;
	font-weight: normal;
	font-size: 17px;
	line-height: 1.235;
	background: url(../images/heading-lv2_bg_02.png) no-repeat;
	-webkit-background-size: 26px 26px;
		 -moz-background-size: 26px 26px;
					background-size: 26px 26px;
}

.mode-sp #contents div.heading-lv2Link .inner .inner a {
	display: block;
	background: url(../images/ico_arrow_01.png) no-repeat 100% 50%;
	-webkit-background-size: 13px 11px;
		 -moz-background-size: 13px 11px;
					background-size: 13px 11px;
}
.mode-sp #contents div.heading-lv2Link .inner .inner span.newupdata {
	padding-left: 40px;
	font-size: 12px;
	line-height: 12px;
}


	/**
	 * more
	 *
	 */
	
	.mode-sp #contents div.heading-lv2  .inner .inner ul.more,
	.mode-sp #contents div.heading-lv2A .inner .inner ul.more,
	.mode-sp #contents div.heading-lv2B .inner .inner ul.more {
		position: relative;
		top: -19px;
		float: right;
		z-index: 1000;
	}
	.mode-sp #contents div.heading-lv2  .inner .inner ul.more { margin: -18px 0 0;}
	.mode-sp #contents div.heading-lv2A .inner .inner ul.more {	margin: -19px 0 0;}
	.mode-sp #contents div.heading-lv2B .inner .inner ul.more {	margin: -17px 0 0;}
	
	.mode-sp #contents div.heading-lv2  .inner .inner ul.more li,
	.mode-sp #contents div.heading-lv2A .inner .inner ul.more li,
	.mode-sp #contents div.heading-lv2B .inner .inner ul.more li {
		float: left;
		margin: 0 0 0 21px;
		padding: 0;
		border: none;
	} 
	
	.mode-sp #contents div.heading-lv2  .inner .inner ul.more li a,
	.mode-sp #contents div.heading-lv2A .inner .inner ul.more li a,
	.mode-sp #contents div.heading-lv2B .inner .inner ul.more li a {
		display: block;
		padding: 3px 6px;
		background: #E4E8EF;
		font-size: 9px;
		line-height: 1.334;
		background-image:
			-webkit-gradient(
				linear, left top, left bottom,
				from(#E4E8EF),
				to(#CBD3E0)
			);
		-webkit-border-radius: 3px;
						border-radius: 3px;
		-webkit-box-shadow: 0 -1px 0 #CCD4E0;
						box-shadow: 0 -1px 0 #CCD4E0;
	}



/**
 * heading-lv3
 */
.mode-sp #contents div.heading-lv3,
.mode-sp.changeDesign #contents div.heading-lv2 {
	margin: 0 -10px -1px;
	background: none;
	border: solid #E0E6ED;
	border-width: 0 1px 1px;
	border-top: 2px solid #BFC9DB;
}

.mode-sp #contents .section.sec-blue   div.heading-lv3 { background: #EDF6FF; border-color: #B1D9FF;}
.mode-sp #contents .section.sec-orange div.heading-lv3 { background: #FFF5E9; border-top: 2px solid #FFD49D;}
.mode-sp #contents .section.sec-pink   div.heading-lv3 { background: #FFF2F7; border-top: 2px solid #FFC6DA;}
.mode-sp #contents .section.sec-green  div.heading-lv3 { background: #EDF6EE; border-top: 2px solid #AED7B2;}
.mode-sp #contents .section.sec-purple div.heading-lv3 { background: #F6EDFA;	border-top: 2px solid #D7ADEA;}
.mode-sp #contents .section.sec-amber  div.heading-lv3 { background: #FAF3EA; border-top: 2px solid #E7C99E;}

.mode-sp #contents div.heading-lv3 .inner,
.mode-sp.changeDesign #contents div.heading-lv2 .inner {
	position: relative;
	margin: -2px 0 0;
	padding: 0;
	background: url(../images/bg_heading-lv3_01.png) no-repeat;
	-webkit-background-size: 80px 2px;
		 -moz-background-size: 80px 2px;
					background-size: 80px 2px;
}

.mode-sp #contents .section.sec-blue   div.heading-lv3 .inner { background-image: url(../images/bg_heading-lv3_01_blue.png);}
.mode-sp #contents .section.sec-orange div.heading-lv3 .inner { background-image: url(../images/bg_heading-lv3_01_orange.png);}
.mode-sp #contents .section.sec-pink   div.heading-lv3 .inner {	background-image: url(../images/bg_heading-lv3_01_pink.png);}
.mode-sp #contents .section.sec-green  div.heading-lv3 .inner { background-image: url(../images/bg_heading-lv3_01_green.png);}
.mode-sp #contents .section.sec-purple div.heading-lv3 .inner {	background-image: url(../images/bg_heading-lv3_01_purple.png);}
.mode-sp #contents .section.sec-amber  div.heading-lv3 .inner { background-image: url(../images/bg_heading-lv3_01_amber.png);}

.mode-sp #contents div.heading-lv3 .inner h2,
.mode-sp #contents div.heading-lv3 .inner h3,
.mode-sp #contents div.heading-lv3 .inner h4,
.mode-sp.changeDesign #contents div.heading-lv2 .inner h2,
.mode-sp.changeDesign #contents div.heading-lv2 .inner h3,
.mode-sp.changeDesign #contents div.heading-lv2 .inner h4 {
	margin: 0;
	padding: 12px 9px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.143;
}

.mode-sp #contents div.heading-lv3 + p,
.mode-sp #contents div.heading-lv3 + ul,
.mode-sp #contents div.heading-lv3 + ol,
.mode-sp.changeDesign #contents div.heading-lv2 + p,
.mode-sp.changeDesign #contents div.heading-lv2 + ul,
.mode-sp.changeDesign #contents div.heading-lv2 + ol {
	margin-top: 10px !important;
}

.mode-sp #contents div.heading-lv3 + .section,
.mode-sp.changeDesign #contents div.heading-lv2 + .section {
	margin-top: 10px !important;
}


/**
 * heading-lv3Link
 */
.mode-sp #contents div.heading-lv3Link,
.mode-sp.changeDesign #contents div.heading-lv2Link {
	margin: 0 -10px -1px;
	background: none;
	border: solid #E0E6ED;
	border-width: 0 1px 1px;
	border-top: 2px solid #BFC9DB;
}
.mode-sp #contents .section.sec-blue   div.heading-lv3Link { background: #EDF6FF; border-top: 2px solid #B1D9FF;}
.mode-sp #contents .section.sec-orange div.heading-lv3Link { background: #FFF5E9; border-top: 2px solid #FFD49D;}
.mode-sp #contents .section.sec-pink   div.heading-lv3Link { background: #FFF2F7; border-top: 2px solid #FFC6DA;}
.mode-sp #contents .section.sec-green  div.heading-lv3Link { background: #EDF6EE; border-top: 2px solid #AED7B2;}
.mode-sp #contents .section.sec-purple div.heading-lv3Link { background: #F6EDFA; border-top: 2px solid #D7ADEA;}
.mode-sp #contents .section.sec-amber  div.heading-lv3Link { background: #FAF3EA; border-top: 2px solid #E7C99E;}

.mode-sp #contents div.heading-lv3Link .inner,
.mode-sp.changeDesign #contents div.heading-lv2Link .inner {
	position: relative;
	margin: -2px 0 0;
	padding: 0;
	background: url(../images/bg_heading-lv3_01.png) no-repeat;
		-webkit-background-size: 80px 2px;
						background-size: 80px 2px;
}

.mode-sp #contents .section.sec-blue   div.heading-lv3Link .inner { background-image: url(../images/bg_heading-lv3_01_blue.png);}
.mode-sp #contents .section.sec-orange div.heading-lv3Link .inner { background-image: url(../images/bg_heading-lv3_01_orange.png);}
.mode-sp #contents .section.sec-pink   div.heading-lv3Link .inner { background-image: url(../images/bg_heading-lv3_01_pink.png);}
.mode-sp #contents .section.sec-green  div.heading-lv3Link .inner { background-image: url(../images/bg_heading-lv3_01_green.png);}
.mode-sp #contents .section.sec-purple div.heading-lv3Link .inner { background-image: url(../images/bg_heading-lv3_01_purple.png);}
.mode-sp #contents .section.sec-amber  div.heading-lv3Link .inner { background-image: url(../images/bg_heading-lv3_01_amber.png);}

.mode-sp #contents div.heading-lv3Link .inner h2,
.mode-sp #contents div.heading-lv3Link .inner h3,
.mode-sp #contents div.heading-lv3Link .inner h4,
.mode-sp.changeDesign #contents div.heading-lv2Link .inner h2,
.mode-sp.changeDesign #contents div.heading-lv2Link .inner h3,
.mode-sp.changeDesign #contents div.heading-lv2Link .inner h4 {
	margin: 0;
	float: none;
	font-weight: normal;
	font-size: 0;
}

.mode-sp #contents div.heading-lv3Link .inner a,
.mode-sp.changeDesign #contents div.heading-lv2Link .inner a {
	display: block;
	padding: 12px 14px 12px 9px;
	background: url(../images/ico_arrow_01.png) no-repeat 100% 50%;
	-webkit-background-size: 13px 11px;
	   -moz-background-size: 13px 11px;
	    -ms-background-size: 13px 11px;
	     -o-background-size: 13px 11px;
	        background-size: 13px 11px;
	font-size: 14px;
	line-height: 1.143;
}

.mode-sp #contents div.heading-lv3Link + p,
.mode-sp #contents div.heading-lv3Link + ul,
.mode-sp #contents div.heading-lv3Link + ol,
.mode-sp.changeDesign #contents div.heading-lv2Link + p,
.mode-sp.changeDesign #contents div.heading-lv2Link + ul,
.mode-sp.changeDesign #contents div.heading-lv2Link + ol {
	margin-top: 10px !important;
}

.mode-sp #contents div.heading-lv3Link + .section,
.mode-sp.changeDesign #contents div.heading-lv2Link + .section {
	margin-top: 10px !important;
}





/**
 * prt-topContents
 */
.mode-sp #contents div.prt-topContents {
	margin: 0 -17px 15px;
	padding: 0 7px 0 7px;
	background: url(../images/bg_06.png) no-repeat 0 0, url(../images/bg_08.png) no-repeat 100% 0;
	-webkit-background-size: 7px 33px;
		 -moz-background-size: 7px 33px;
					background-size: 7px 33px;
}

.mode-sp #contents div.prt-topContents .topContents-inner {
	position: relative;
	top: 0;
	padding: 33px 0 0;
	background: url(../images/bg_07.png) repeat-x;
	-webkit-background-size: 20px 33px;
					background-size: 20px 33px;
}
.mode-sp #contents div.prt-topContents .topContents-inner .topContents-inner {
	margin: 0 -7px 15px;
	padding: 10px 17px 0;
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			from(#FFFFFF),
			to(#F3F5F8)
		);
	-webkit-background-size: auto auto;
					background-size: auto auto;
}
#contents div.prt-topContents .topContents-inner .topContents-inner .topContents-inner {
	margin: 0;
	padding: 0;
	background: none;
}
.mode-sp #contents div.prt-topContents .topContents-inner .topContents-inner .topContents-inner {
	margin: -33px 0 0;
	padding: 0;
	background: none;
}

.mode-sp #contents div.prt-topContents .imageUnit {
	margin: 0;
}
.mode-sp #contents div.prt-topContents .imageUnit:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.mode-sp #contents div.prt-topContents .imageUnit .contents {
	float: none;
	display: block;
	width: auto;
	margin: 0;
}
.mode-sp #contents div.prt-topContents .imageUnit .contents-inner {
	padding: 0;
}

.mode-sp #contents div.prt-topContents .imageUnit .contents .contents-inner h3 {
	margin: 0 0 13px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.286;
}

.mode-sp #contents div.prt-topContents .imageUnit .contents .image {
	float: right;
	margin: 0 0 10px 10px;
	width: 105px;
}
.mode-sp #contents div.prt-topContents .imageUnit .image img {
	width: 105px;
	height: auto;
}

.mode-sp #contents div.prt-topContents p,
.mode-sp #contents div.prt-topContents ul,
.mode-sp #contents div.prt-topContents ol,
.mode-sp #contents div.prt-topContents dl,
.mode-sp #contents div.prt-topContents div.prt-table,
.mode-sp #contents div.prt-topContents div.prt-topicsTable,
.mode-sp #contents div.prt-topContents div.prt-magazine,
.mode-sp #contents div.prt-topContents div.prt-profile,
.mode-sp #contents div.prt-topContents div.prt-buttonLink {
	margin-top: 0;
}


/**
 * prt-hr
 *
 *
 *
 */

.mode-sp div.prt-hr {
	height: 5px;
	margin: 0 0 16px !important;
	border: none !important;
	background: url(../images/line_dotted_01.png) repeat-x !important;
	-webkit-background-size: 30px 5px;
					background-size: 30px 5px;
}

.mode-sp #contents div.prt-hr {
	margin: 0 -17px 16px !important;
}

.mode-sp div.prt-hr .inner {
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
} 

.mode-sp div.prt-hr .inner hr {
	display: none !important;
}



/**
 * prt-banner
 *
 *
 *
 */

.mode-sp #contents div.prt-banner {
	display: table;
	margin: 0 auto 15px;
}

.mode-sp #contents div.prt-banner ul {
	margin: -10px 0 0 -10px;
	text-align: center;
}
.mode-sp #contents div.prt-banner ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.mode-sp #contents div.prt-banner ul li {
	float: left;
	width: 100px;
	height: 31px;
	-webkit-box-shadow: 1px 1px 4px 0 #B4C3D2, -1px -1px 4px 0 #B4C3D2;
	        box-shadow: 1px 1px 4px 0 #B4C3D2, -1px -1px 4px 0 #B4C3D2;
	margin: 10px 0 0 10px;
}
.mode-sp #contents div.prt-banner ul li img {
	width: 100px;
	height: 31px;
}

.mode-sp #contents div.prt-banner ul li a {
	display: block;
	padding: 0;
	background: none;
	border: none;
}

.mode-sp #contents div.prt-banner ul li a:hover {
	border: none;
	opacity: 1;
}

/* top-banner */
.mode-sp #contents div.prt-banner.top-banner {
}
.mode-sp #contents div.prt-banner.top-banner ul {
}
.mode-sp #contents div.prt-banner.top-banner ul li {
	width: 64px;
	height: 60px;
}
.mode-sp #contents div.prt-banner.top-banner ul li img {
	width: 64px;
	height: 60px;
}


/**
 * prt-plugin
 *
 *
 *
 */

.mode-sp div.prt-plugin {
	display: none !important;
}



/**
 * prt-topicsList
 */
.mode-sp #contents .prt-topicsList {
	margin: 0 0 10px;
}

.mode-sp #contents .prt-topicsList ul {
	border-top: 1px solid #E0E6ED;
}

.mode-sp #contents .prt-topicsList ul li {
	position: relative;
	padding: 0;
	background: #FFF;
	border: solid #E0E6ED;
	border-width: 0 1px 1px;
}

.mode-sp #contents .prt-topicsList ul li span.label {
	position: absolute;
	top: 12px;
	left: 10px;
	width: 65px !important;
}

.mode-sp #contents .prt-topicsList ul li a {
	display: block;
	padding: 12px 22px 12px 82px !important;
	text-align: left;
	background: url(../images/ico_arrow_01.png) no-repeat 100% 50%;
	min-height: 15px;
	font-size: 14px;
	line-height: 1.286;
	-webkit-background-size: 13px 11px;
	   -moz-background-size: 13px 11px;
	    -ms-background-size: 13px 11px;
	     -o-background-size: 13px 11px;
	        background-size: 13px 11px;
}



/**
 * prt-linkListA
 *
 * SPのみのパーツ
 */
.mode-sp #contents div.prt-linkListA,
.mode-sp #sp-ui-dropdown div.prt-linkListA {
}


.mode-sp #contents div.prt-linkListA ul,
.mode-sp #sp-ui-dropdown div.prt-linkListA ul {
	border: solid #E0E6ED;
	border-width: 1px 0 0 1px;
}
.mode-sp #contents div.prt-linkListA ul:after,
.mode-sp #sp-ui-dropdown div.prt-linkListA ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.mode-sp #contents div.prt-linkListA ul li,
.mode-sp #sp-ui-dropdown div.prt-linkListA ul li {
	float: left;
	width: 50%;
	font-size: 11px;
	line-height: 1.182;
}

.mode-sp #contents div.prt-linkListA ul li a,
.mode-sp #sp-ui-dropdown div.prt-linkListA ul li a {
	display: block;
	padding: 12px 8px;
	border: solid #E0E6ED;
	border-width: 0 1px 1px 0;
	background: #FFFFFF url(../images/ico_arrow_01.png) no-repeat 100% 50%;
	-webkit-background-size: 13px 11px;
	   -mos-background-size: 13px 11px;
	    -ms-background-size: 13px 11px;
	     -o-background-size: 13px 11px;
	        background-size: 13px 11px;
}




/**
 * prt-linkListB
 *
 * SPのみのパーツ
 */
.mode-sp #contents div.prt-linkListB {
}

.mode-sp #contents div.prt-linkListB ul {
	border: solid #E0E6ED;
	border-width: 1px 0 0 1px;
}
.mode-sp #contents div.prt-linkListB ul:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

.mode-sp #contents div.prt-linkListB ul li {
}

.mode-sp #contents div.prt-linkListB ul li a {
	display: block;
	padding: 12px 22px 12px 9px;
	border: solid #E0E6ED;
	border-width: 0 1px 1px 0;
	background: #FFFFFF url(../images/ico_arrow_01.png) no-repeat 100% 50%;
	-webkit-background-size: 13px 11px;
	   -moz-background-size: 13px 11px;
	    -ms-background-size: 13px 11px;
	     -o-background-size: 13px 11px;
	        background-size: 13px 11px;
	font-size: 14px;
	line-height: 1.286;
}



/**
 * prt-layoutTable
 */
.mode-sp #contents div.prt-layoutTable {
}

.mode-sp #contents div.prt-layoutTable table {
}

.mode-sp #contents div.prt-layoutTable table th,
.mode-sp #contents div.prt-layoutTable table td {
	font-size: 10px;
	line-height: 1.2;
}

