@charset 'shift_jis';


#contents div.prt-pastLayout {
	position: relative;
	top: -4px;
	margin: 0 -14px 36px;
	padding: 0 0 0 6px;
	background: url(../../images/past/pastLayout_bg_01.png) no-repeat;
	font-size: 140%;
	zoom: 1;
}

#contents div.prt-pastLayout th,
#contents div.prt-pastLayout th th,
#contents div.prt-pastLayout th td,
#contents div.prt-pastLayout td,
#contents div.prt-pastLayout td th,
#contents div.prt-pastLayout td td {
	font-size: 100%;
}

#contents div.prt-pastLayout .pastLayout-inner {
	padding: 0 6px 0 0;
	background: url(../../images/past/pastLayout_bg_02.png) no-repeat 100% 0;
	zoom: 1;
}

#contents div.prt-pastLayout .pastLayout-inner .pastLayout-inner {
	padding: 4px 8px 0;
	background: url(../../images/past/pastLayout_bg_03.png) repeat-x;
	zoom: 1;
}


/*
/////////////////////////////////////////////////////////////////////////////
以下は既存サイトのスタイルをそのまま持ってきて、このパーツ内でだけ効くようにしたもの。
/////////////////////////////////////////////////////////////////////////////
*/


/* 
****************************************************************************/

#contents div.prt-pastLayout .indent1 {
	display: block;
	text-indent: 1em;
}


/* 
****************************************************************************/
#contents div.prt-pastLayout .newupdata {
	font-size: small;
	color: #FF0000;
	text-decoration: none;
	background-image: url(/images/new.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 1px 37px;
	text-align: right;
	background-position: left -2px;
	font-weight:normal;
	white-space:nowrap;
}
#contents div.prt-pastLayout span[class="newupdata"]{
	padding: 2px 0px 10px 37px;
	background-position: left -2px;
}
/*
#contents div.prt-pastLayout p       .newupdata,
#contents div.prt-pastLayout pre     .newupdata,
#contents div.prt-pastLayout address .newupdata,
#contents div.prt-pastLayout th      .newupdata,
#contents div.prt-pastLayout td      .newupdata,
#contents div.prt-pastLayout li      .newupdata,
#contents div.prt-pastLayout dt      .newupdata,
#contents div.prt-pastLayout dd      .newupdata {
	font-size: small;
}
*/
#contents #contentsInner div.prt-pastLayout .indent1 p {
	line-height: 1.2em;
	text-decoration: none;
	text-indent: 1em;
	margin: 0px;
	padding: 0px;
}
#contents #contentsInner div.prt-pastLayout .indent2 p {
	line-height: 1.3em;
	text-decoration: none;
	text-indent: 0.5em;
	margin: 0px;
	padding: 0px;
}
#contents #contentsInner div.prt-pastLayout .indent3 p {
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
	text-indent: 0.2em;
}
#contents div.prt-pastLayout .margin-bottom2 {
	margin-bottom: 1.5em;
}

#contents #contentsInner div.prt-pastLayout .indent4 p {
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
	text-indent: 2.0em;
}



/* 
****************************************************************************/
/*** 見出し ***/

#contents div.prt-pastLayout .title-ex01 { padding:4px 5px; border-color:#558ed1; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-pastLayout .title-ex02 { padding:4px 5px; border-color:#c7d69b; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-pastLayout .title-ex03 { padding:4px 5px; border-color:#8ad4d7; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-pastLayout .title-ex04 { padding:4px 5px; border-color:#db9498; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-pastLayout .title-ex05 { padding:4px 5px; border-color:#fd966b; border-width:0 0 0 6px; border-style:solid; }
#contents div.prt-pastLayout .title-ex06 { padding:4px 5px; border-color:#4785be; border-width:0 0 0 6px; border-style:solid; }

#contents div.prt-pastLayout .title-ex07 { padding:3px 5px; border-color:#558ed1; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-pastLayout .title-ex08 { padding:3px 5px; border-color:#c7d69b; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-pastLayout .title-ex09 { padding:3px 5px; border-color:#8ad4d7; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-pastLayout .title-ex10 { padding:3px 5px; border-color:#db9498; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-pastLayout .title-ex11 { padding:3px 5px; border-color:#fd966b; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-pastLayout .title-ex12 { padding:3px 5px; border-color:#4785be; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }
#contents div.prt-pastLayout .title-ex13 { padding:3px 5px; border-color:#558ed1; border-width:0 0 1px 7px; border-style:solid; background:#F8F8F8; }

#contents div.prt-pastLayout .title-ex14 { padding:4px 5px; border-color:#c5d5a6; border-width:1px 0 2px 0; border-style:solid; background:#eaf2dd; }
#contents div.prt-pastLayout .title-ex15 { padding:4px 5px; border-color:#568ec7; border-width:1px 0 2px 0; border-style:solid; background:#c5d9f4; }
#contents div.prt-pastLayout .title-ex16 { padding:4px 5px; border-color:#bebebe; border-width:1px 0 2px 0; border-style:solid; background:#f2f2f2; }

#contents div.prt-pastLayout .title-ex17 { padding:4px 5px; border-color:#c5d5a6; border-width:2px 0 0 0; border-style:solid; background:#eaf2dd; }
#contents div.prt-pastLayout .title-ex18 { padding:4px 5px; border-color:#568ec7; border-width:2px 0 0 0; border-style:solid; background:#c5d9f4; }
#contents div.prt-pastLayout .title-ex19 { padding:4px 5px; border-color:#bebebe; border-width:2px 0 0 0; border-style:solid; background:#f2f2f2; }

#contents div.prt-pastLayout .title-ex20 { padding:4px 5px; border-color:#7789a1; border-width:1px; border-style:solid; background:#c7d9f1; }
#contents div.prt-pastLayout .title-ex21 { padding:4px 5px; border-color:#c4cbbb; border-width:1px; border-style:solid; background:#eaf2db; }
#contents div.prt-pastLayout .title-ex22 { padding:4px 5px; border-color:#bebebe; border-width:1px; border-style:solid; background:#f2f2f2; }
#contents div.prt-pastLayout .title-ex23 { padding:4px 5px; border-color:#d9d9cd; border-width:1px; border-style:solid; background:#fdffe5; }

#contents div.prt-pastLayout .title-ex24 { padding:3px 5px; border-color:#558ed1; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-pastLayout .title-ex25 { padding:3px 5px; border-color:#c7d69b; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-pastLayout .title-ex26 { padding:3px 5px; border-color:#8ad4d7; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-pastLayout .title-ex27 { padding:3px 5px; border-color:#db9498; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-pastLayout .title-ex28 { padding:3px 5px; border-color:#fd966b; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-pastLayout .title-ex29 { padding:3px 5px; border-color:#4785be; border-width:0 0 1px 7px; border-style:solid; }
#contents div.prt-pastLayout .title-ex30 { padding:3px 5px; border-color:#558ed1; border-width:0 0 1px 7px; border-style:solid; }


/*** アイコン ***/

#contents div.prt-pastLayout ul.list-style-none { list-style:none !important; }
#contents div.prt-pastLayout li.list-style-none { list-style:none; }

/* ●系(12x12) */

#contents div.prt-pastLayout .list-dot01 { background:url('../../images/past/accessory/list-dot01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dot02 { background:url('../../images/past/accessory/list-dot02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dot03 { background:url('../../images/past/accessory/list-dot03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dot04 { background:url('../../images/past/accessory/list-dot04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dot05 { background:url('../../images/past/accessory/list-dot05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dot06 { background:url('../../images/past/accessory/list-dot06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

#contents div.prt-pastLayout .list-dotarrow01 { background:url('../../images/past/accessory/list-dotarrow01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dotarrow02 { background:url('../../images/past/accessory/list-dotarrow02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dotarrow03 { background:url('../../images/past/accessory/list-dotarrow03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dotarrow04 { background:url('../../images/past/accessory/list-dotarrow04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dotarrow05 { background:url('../../images/past/accessory/list-dotarrow05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dotarrow06 { background:url('../../images/past/accessory/list-dotarrow06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

#contents div.prt-pastLayout .list-dottriag01 { background:url('../../images/past/accessory/list-dottriag01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dottriag02 { background:url('../../images/past/accessory/list-dottriag02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dottriag03 { background:url('../../images/past/accessory/list-dottriag03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dottriag04 { background:url('../../images/past/accessory/list-dottriag04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dottriag05 { background:url('../../images/past/accessory/list-dottriag05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-dottriag06 { background:url('../../images/past/accessory/list-dottriag06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

/* ■系(12x12) */

#contents div.prt-pastLayout .list-square01 { background:url('../../images/past/accessory/list-square01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-square02 { background:url('../../images/past/accessory/list-square02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-square03 { background:url('../../images/past/accessory/list-square03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-square04 { background:url('../../images/past/accessory/list-square04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-square05 { background:url('../../images/past/accessory/list-square05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-square06 { background:url('../../images/past/accessory/list-square06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

#contents div.prt-pastLayout .list-squarrow01 { background:url('../../images/past/accessory/list-squarrow01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squarrow02 { background:url('../../images/past/accessory/list-squarrow02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squarrow03 { background:url('../../images/past/accessory/list-squarrow03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squarrow04 { background:url('../../images/past/accessory/list-squarrow04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squarrow05 { background:url('../../images/past/accessory/list-squarrow05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squarrow06 { background:url('../../images/past/accessory/list-squarrow06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

#contents div.prt-pastLayout .list-squtriag01 { background:url('../../images/past/accessory/list-squtriag01.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squtriag02 { background:url('../../images/past/accessory/list-squtriag02.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squtriag03 { background:url('../../images/past/accessory/list-squtriag03.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squtriag04 { background:url('../../images/past/accessory/list-squtriag04.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squtriag05 { background:url('../../images/past/accessory/list-squtriag05.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }
#contents div.prt-pastLayout .list-squtriag06 { background:url('../../images/past/accessory/list-squtriag06.gif') no-repeat left 0.25em; padding-left:16px; zoom:1; }

/* ●立体系(14x14) */

#contents div.prt-pastLayout .list-3D1a { background:url('../../images/past/accessory/list-3D1a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D1b { background:url('../../images/past/accessory/list-3D1b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D1c { background:url('../../images/past/accessory/list-3D1c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D1d { background:url('../../images/past/accessory/list-3D1d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D1e { background:url('../../images/past/accessory/list-3D1e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D1f { background:url('../../images/past/accessory/list-3D1f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D2a { background:url('../../images/past/accessory/list-3D2a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D2b { background:url('../../images/past/accessory/list-3D2b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D2c { background:url('../../images/past/accessory/list-3D2c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D2d { background:url('../../images/past/accessory/list-3D2d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D2e { background:url('../../images/past/accessory/list-3D2e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D2f { background:url('../../images/past/accessory/list-3D2f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D3a { background:url('../../images/past/accessory/list-3D3a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D3b { background:url('../../images/past/accessory/list-3D3b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D3c { background:url('../../images/past/accessory/list-3D3c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D3d { background:url('../../images/past/accessory/list-3D3d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D3e { background:url('../../images/past/accessory/list-3D3e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D3f { background:url('../../images/past/accessory/list-3D3f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }

/* ■立体系(14x14) */

#contents div.prt-pastLayout .list-3D4a { background:url('../../images/past/accessory/list-3D4a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D4b { background:url('../../images/past/accessory/list-3D4b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D4c { background:url('../../images/past/accessory/list-3D4c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D4d { background:url('../../images/past/accessory/list-3D4d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D4e { background:url('../../images/past/accessory/list-3D4e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D4f { background:url('../../images/past/accessory/list-3D4f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D5a { background:url('../../images/past/accessory/list-3D5a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D5b { background:url('../../images/past/accessory/list-3D5b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D5c { background:url('../../images/past/accessory/list-3D5c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D5d { background:url('../../images/past/accessory/list-3D5d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D5e { background:url('../../images/past/accessory/list-3D5e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D5f { background:url('../../images/past/accessory/list-3D5f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D6a { background:url('../../images/past/accessory/list-3D6a.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D6b { background:url('../../images/past/accessory/list-3D6b.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D6c { background:url('../../images/past/accessory/list-3D6c.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D6d { background:url('../../images/past/accessory/list-3D6d.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D6e { background:url('../../images/past/accessory/list-3D6e.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }
#contents div.prt-pastLayout .list-3D6f { background:url('../../images/past/accessory/list-3D6f.gif') no-repeat left 0.15em; padding-left:18px; zoom:1; }


/* 
****************************************************************************/
/****************************** 共通 ********************************/

.invisible,
#contents div.prt-pastLayout .invisible a {
	display:none;
}

#contents div.prt-pastLayout .clear {
	clear:both;
}

#contents div.prt-pastLayout .update {
	font-size:small;
	color:#f00;
	/*font-weight:bold;*/
	white-space:nowrap;
}
/*
#contents div.prt-pastLayout p       .update,
#contents div.prt-pastLayout pre     .update,
#contents div.prt-pastLayout address .update,
#contents div.prt-pastLayout th      .update,
#contents div.prt-pastLayout td      .update,
#contents div.prt-pastLayout li      .update,
#contents div.prt-pastLayout dt      .update,
#contents div.prt-pastLayout dd      .update {
	font-size: 83.4%;
}
*/

#contents div.prt-pastLayout .update img {
	margin:0 2px;
}


#contents #contentsInner div.prt-pastLayout hr {
	display:block !important;
}

#contents #contentsInner div.prt-pastLayout h1{
font-size:180%;
margin:0;
padding:0.5em 0 1em;
}




/****************************** Adobe Reader *******************************

#contents div.prt-pastLayout #getacro {margin-top:3em;margin-bottom:1em;}
#contents div.prt-pastLayout #getacro p {text-align:center;}
#contents div.prt-pastLayout #getacro a img {border: none;}

#contents div.prt-pastLayout #getacro2 {
	height: 7em;
	width: 35em;
	display: block;
	position: relative;
	text-align: center;

}


#contents div.prt-pastLayout #getacro2 span {
	height: 3em;
	width: 40em;
	display: block;
	position: absolute;
	left: -4em;
	top: 4em;
}

#contents div.prt-pastLayout #getacro2 a {
	text-decoration: none;
	background-image: url(../images/getacro.gif);
	background-repeat: no-repeat;
	height: 3em;
	width: 8em;
	display: block;
	text-indent: -9999px;
	position: absolute;
	left: 26em;
	top: 3.5em;
}

*/	


/* 
****************************************************************************/

#contents div.prt-pastLayout .indent {
    margin-left: 40px;
}
#contents div.prt-pastLayout .right {
    text-align: right;
}
#contents div.prt-pastLayout .center {
    text-align: center;
}



/* ------------------------------
common_style.css
ver 1.40
2008/08/14
------------------------------ */

/* h3-h6,p common */
#contents div.prt-pastLayout h3 { margin: 2em 0 2em 0; text-align: center; clear: both;}
#contents div.prt-pastLayout h4,#contents div.prt-pastLayout h5,#contents div.prt-pastLayout h6,#contents div.prt-pastLayout p { font-size: 1em; font-weight: normal; margin: 0 0 0.1em 0;}
#contents div.prt-pastLayout p { line-height: 125%;}


/* margin [ left,bottom ] */
#contents div.prt-pastLayout .mal00 { margin-left: 0;}		#contents div.prt-pastLayout .mal05 { margin-left: 0.5em;}
#contents div.prt-pastLayout .mal10 { margin-left: 1.0em;}	#contents div.prt-pastLayout .mal15 { margin-left: 1.5em;}
#contents div.prt-pastLayout .mal20 { margin-left: 2.0em;}	#contents div.prt-pastLayout .mal25 { margin-left: 2.5em;}
#contents div.prt-pastLayout .mal30 { margin-left: 3.0em;}	#contents div.prt-pastLayout .mal35 { margin-left: 3.5em;}
#contents div.prt-pastLayout .mal40 { margin-left: 4.0em;}	#contents div.prt-pastLayout .mal45 { margin-left: 4.5em;}
#contents div.prt-pastLayout .mal50 { margin-left: 5.0em;}	#contents div.prt-pastLayout .mal55 { margin-left: 5.5em;}
#contents div.prt-pastLayout .mal60 { margin-left: 6.0em;}	#contents div.prt-pastLayout .mal65 { margin-left: 6.5em;}
#contents div.prt-pastLayout .mal70 { margin-left: 7.0em;}	#contents div.prt-pastLayout .mal75 { margin-left: 7.5em;}
#contents div.prt-pastLayout .mal80 { margin-left: 8.0em;}	#contents div.prt-pastLayout .mal85 { margin-left: 8.5em;}
#contents div.prt-pastLayout .mal90 { margin-left: 9.0em;}	#contents div.prt-pastLayout .mal95 { margin-left: 9.5em;}
#contents div.prt-pastLayout .mal100 { margin-left: 10.0em;}	#contents div.prt-pastLayout .mal105 { margin-left: 10.5em;}

#contents div.prt-pastLayout .mal02 { margin-left: 0.25em;}	#contents div.prt-pastLayout .mal07 { margin-left: 0.75em;}
#contents div.prt-pastLayout .mal12 { margin-left: 1.25em;}	#contents div.prt-pastLayout .mal17 { margin-left: 1.75em;}
#contents div.prt-pastLayout .mal22 { margin-left: 2.25em;}	#contents div.prt-pastLayout .mal27 { margin-left: 2.75em;}
#contents div.prt-pastLayout .mal32 { margin-left: 3.25em;}	#contents div.prt-pastLayout .mal37 { margin-left: 3.75em;}
#contents div.prt-pastLayout .mal42 { margin-left: 4.25em;}	#contents div.prt-pastLayout .mal47 { margin-left: 4.75em;}
#contents div.prt-pastLayout .mal52 { margin-left: 5.25em;}	#contents div.prt-pastLayout .mal57 { margin-left: 5.75em;}
#contents div.prt-pastLayout .mal62 { margin-left: 6.25em;}	#contents div.prt-pastLayout .mal67 { margin-left: 6.75em;}
#contents div.prt-pastLayout .mal72 { margin-left: 7.25em;}	#contents div.prt-pastLayout .mal77 { margin-left: 7.75em;}
#contents div.prt-pastLayout .mal82 { margin-left: 8.25em;}	#contents div.prt-pastLayout .mal87 { margin-left: 8.75em;}
#contents div.prt-pastLayout .mal92 { margin-left: 9.25em;}	#contents div.prt-pastLayout .mal97 { margin-left: 9.75em;}
#contents div.prt-pastLayout .mal102 { margin-left: 10.25em;}	#contents div.prt-pastLayout .mal107 { margin-left: 10.75em;}

#contents div.prt-pastLayout .mab00 { margin-bottom: 0.1em;} #contents div.prt-pastLayout .mab05 { margin-bottom: 0.5em;}
#contents div.prt-pastLayout .mab10 { margin-bottom: 1.0em;} #contents div.prt-pastLayout .mab15 { margin-bottom: 1.5em;}
#contents div.prt-pastLayout .mab20 { margin-bottom: 2.0em;} #contents div.prt-pastLayout .mab25 { margin-bottom: 2.5em;}
#contents div.prt-pastLayout .mab30 { margin-bottom: 3.0em;} #contents div.prt-pastLayout .mab35 { margin-bottom: 3.5em;}
#contents div.prt-pastLayout .mab40 { margin-bottom: 4.0em;} #contents div.prt-pastLayout .mab45 { margin-bottom: 4.5em;}
#contents div.prt-pastLayout .mab50 { margin-bottom: 5.0em;} #contents div.prt-pastLayout .mab55 { margin-bottom: 5.5em;}
#contents div.prt-pastLayout .mab60 { margin-bottom: 6.0em;} #contents div.prt-pastLayout .mab65 { margin-bottom: 6.5em;}
#contents div.prt-pastLayout .mab70 { margin-bottom: 7.0em;} #contents div.prt-pastLayout .mab75 { margin-bottom: 7.5em;}
#contents div.prt-pastLayout .mab80 { margin-bottom: 8.0em;} #contents div.prt-pastLayout .mab85 { margin-bottom: 8.5em;}
#contents div.prt-pastLayout .mab90 { margin-bottom: 9.0em;} #contents div.prt-pastLayout .mab95 { margin-bottom: 9.5em;}
#contents div.prt-pastLayout .mab100 { margin-bottom: 10.0em;} #contents div.prt-pastLayout .mab105 { margin-bottom: 10.5em;}

#contents div.prt-pastLayout .mab02 { margin-bottom: 0.25em;} #contents div.prt-pastLayout .mab07 { margin-bottom: 0.75em;}
#contents div.prt-pastLayout .mab12 { margin-bottom: 1.25em;} #contents div.prt-pastLayout .mab17 { margin-bottom: 1.75em;}
#contents div.prt-pastLayout .mab22 { margin-bottom: 2.25em;} #contents div.prt-pastLayout .mab27 { margin-bottom: 2.75em;}
#contents div.prt-pastLayout .mab32 { margin-bottom: 3.25em;} #contents div.prt-pastLayout .mab37 { margin-bottom: 3.75em;}
#contents div.prt-pastLayout .mab42 { margin-bottom: 4.25em;} #contents div.prt-pastLayout .mab47 { margin-bottom: 4.75em;}
#contents div.prt-pastLayout .mab52 { margin-bottom: 5.25em;} #contents div.prt-pastLayout .mab57 { margin-bottom: 5.75em;}
#contents div.prt-pastLayout .mab62 { margin-bottom: 6.25em;} #contents div.prt-pastLayout .mab67 { margin-bottom: 6.75em;}
#contents div.prt-pastLayout .mab72 { margin-bottom: 7.25em;} #contents div.prt-pastLayout .mab77 { margin-bottom: 7.75em;}
#contents div.prt-pastLayout .mab82 { margin-bottom: 8.25em;} #contents div.prt-pastLayout .mab87 { margin-bottom: 8.75em;}
#contents div.prt-pastLayout .mab92 { margin-bottom: 9.25em;} #contents div.prt-pastLayout .mab97 { margin-bottom: 9.75em;}
#contents div.prt-pastLayout .mab102 { margin-bottom: 10.25em;} #contents div.prt-pastLayout .mab107 { margin-bottom: 10.75em;}


/* padding [ left,bottom ] */
#contents div.prt-pastLayout .pal00 { padding-left: 0;}		#contents div.prt-pastLayout .pal05 { padding-left: 0.5em;}
#contents div.prt-pastLayout .pal10 { padding-left: 1.0em;}	#contents div.prt-pastLayout .pal15 { padding-left: 1.5em;}
#contents div.prt-pastLayout .pal20 { padding-left: 2.0em;}	#contents div.prt-pastLayout .pal25 { padding-left: 2.5em;}
#contents div.prt-pastLayout .pal30 { padding-left: 3.0em;}	#contents div.prt-pastLayout .pal35 { padding-left: 3.5em;}
#contents div.prt-pastLayout .pal40 { padding-left: 4.0em;}	#contents div.prt-pastLayout .pal45 { padding-left: 4.5em;}
#contents div.prt-pastLayout .pal50 { padding-left: 5.0em;}	#contents div.prt-pastLayout .pal55 { padding-left: 5.5em;}
#contents div.prt-pastLayout .pal60 { padding-left: 6.0em;}	#contents div.prt-pastLayout .pal65 { padding-left: 6.5em;}
#contents div.prt-pastLayout .pal70 { padding-left: 7.0em;}	#contents div.prt-pastLayout .pal75 { padding-left: 7.5em;}
#contents div.prt-pastLayout .pal80 { padding-left: 8.0em;}	#contents div.prt-pastLayout .pal85 { padding-left: 8.5em;}
#contents div.prt-pastLayout .pal90 { padding-left: 9.0em;}	#contents div.prt-pastLayout .pal95 { padding-left: 9.5em;}
#contents div.prt-pastLayout .pal100 { padding-left: 10.0em;}	#contents div.prt-pastLayout .pal105 { padding-left: 10.5em;}

#contents div.prt-pastLayout .pal02 { padding-left: 0.25em;}	#contents div.prt-pastLayout .pal07 { padding-left: 0.75em;}
#contents div.prt-pastLayout .pal12 { padding-left: 1.25em;}	#contents div.prt-pastLayout .pal17 { padding-left: 1.75em;}
#contents div.prt-pastLayout .pal22 { padding-left: 2.25em;}	#contents div.prt-pastLayout .pal27 { padding-left: 2.75em;}
#contents div.prt-pastLayout .pal32 { padding-left: 3.25em;}	#contents div.prt-pastLayout .pal37 { padding-left: 3.75em;}
#contents div.prt-pastLayout .pal42 { padding-left: 4.25em;}	#contents div.prt-pastLayout .pal47 { padding-left: 4.75em;}
#contents div.prt-pastLayout .pal52 { padding-left: 5.25em;}	#contents div.prt-pastLayout .pal57 { padding-left: 5.75em;}
#contents div.prt-pastLayout .pal62 { padding-left: 6.25em;}	#contents div.prt-pastLayout .pal67 { padding-left: 6.75em;}
#contents div.prt-pastLayout .pal72 { padding-left: 7.25em;}	#contents div.prt-pastLayout .pal77 { padding-left: 7.75em;}
#contents div.prt-pastLayout .pal82 { padding-left: 8.25em;}	#contents div.prt-pastLayout .pal87 { padding-left: 8.75em;}
#contents div.prt-pastLayout .pal92 { padding-left: 9.25em;}	#contents div.prt-pastLayout .pal97 { padding-left: 9.75em;}
#contents div.prt-pastLayout .pal102 { padding-left: 10.25em;}	#contents div.prt-pastLayout .pal107 { padding-left: 10.75em;}

#contents div.prt-pastLayout .pab00 { padding-bottom: 0.1em;} #contents div.prt-pastLayout .pab05 { padding-bottom: 0.5em;}
#contents div.prt-pastLayout .pab10 { padding-bottom: 1.0em;} #contents div.prt-pastLayout .pab15 { padding-bottom: 1.5em;}
#contents div.prt-pastLayout .pab20 { padding-bottom: 2.0em;} #contents div.prt-pastLayout .pab25 { padding-bottom: 2.5em;}
#contents div.prt-pastLayout .pab30 { padding-bottom: 3.0em;} #contents div.prt-pastLayout .pab35 { padding-bottom: 3.5em;}
#contents div.prt-pastLayout .pab40 { padding-bottom: 4.0em;} #contents div.prt-pastLayout .pab45 { padding-bottom: 4.5em;}
#contents div.prt-pastLayout .pab50 { padding-bottom: 5.0em;} #contents div.prt-pastLayout .pab55 { padding-bottom: 5.5em;}
#contents div.prt-pastLayout .pab60 { padding-bottom: 6.0em;} #contents div.prt-pastLayout .pab65 { padding-bottom: 6.5em;}
#contents div.prt-pastLayout .pab70 { padding-bottom: 7.0em;} #contents div.prt-pastLayout .pab75 { padding-bottom: 7.5em;}
#contents div.prt-pastLayout .pab80 { padding-bottom: 8.0em;} #contents div.prt-pastLayout .pab85 { padding-bottom: 8.5em;}
#contents div.prt-pastLayout .pab90 { padding-bottom: 9.0em;} #contents div.prt-pastLayout .pab95 { padding-bottom: 9.5em;}
#contents div.prt-pastLayout .pab100 { padding-bottom: 10.0em;} #contents div.prt-pastLayout .pab105 { padding-bottom: 10.5em;}

#contents div.prt-pastLayout .pab02 { padding-bottom: 0.25em;} #contents div.prt-pastLayout .pab07 { padding-bottom: 0.75em;}
#contents div.prt-pastLayout .pab12 { padding-bottom: 1.25em;} #contents div.prt-pastLayout .pab17 { padding-bottom: 1.75em;}
#contents div.prt-pastLayout .pab22 { padding-bottom: 2.25em;} #contents div.prt-pastLayout .pab27 { padding-bottom: 2.75em;}
#contents div.prt-pastLayout .pab32 { padding-bottom: 3.25em;} #contents div.prt-pastLayout .pab37 { padding-bottom: 3.75em;}
#contents div.prt-pastLayout .pab42 { padding-bottom: 4.25em;} #contents div.prt-pastLayout .pab47 { padding-bottom: 4.75em;}
#contents div.prt-pastLayout .pab52 { padding-bottom: 5.25em;} #contents div.prt-pastLayout .pab57 { padding-bottom: 5.75em;}
#contents div.prt-pastLayout .pab62 { padding-bottom: 6.25em;} #contents div.prt-pastLayout .pab67 { padding-bottom: 6.75em;}
#contents div.prt-pastLayout .pab72 { padding-bottom: 7.25em;} #contents div.prt-pastLayout .pab77 { padding-bottom: 7.75em;}
#contents div.prt-pastLayout .pab82 { padding-bottom: 8.25em;} #contents div.prt-pastLayout .pab87 { padding-bottom: 8.75em;}
#contents div.prt-pastLayout .pab92 { padding-bottom: 9.25em;} #contents div.prt-pastLayout .pab97 { padding-bottom: 9.75em;}
#contents div.prt-pastLayout .pab102 { padding-bottom: 10.25em;} #contents div.prt-pastLayout .pab107 { padding-bottom: 10.75em;}


/* indent */
#contents div.prt-pastLayout .indent10 { text-indent: 1.0em;}


/* text-align */
#contents div.prt-pastLayout .left { text-align: left;} #contents div.prt-pastLayout .center { text-align: center;} #contents div.prt-pastLayout .right { text-align: right;}


/* font-size [ new ] */
#contents div.prt-pastLayout .fos70 { font-size: 0.70em;}	#contents div.prt-pastLayout .fos75 { font-size: 0.75em;}
#contents div.prt-pastLayout .fos80 { font-size: 0.80em;}	#contents div.prt-pastLayout .fos85 { font-size: 0.85em;}
#contents div.prt-pastLayout .fos90 { font-size: 0.90em;}	#contents div.prt-pastLayout .fos95 { font-size: 0.95em;}
#contents div.prt-pastLayout .fos100 { font-size: 1.00em;}	#contents div.prt-pastLayout .fos105 { font-size: 1.05em;}
#contents div.prt-pastLayout .fos110 { font-size: 1.10em;}	#contents div.prt-pastLayout .fos115 { font-size: 1.15em;}
#contents div.prt-pastLayout .fos120 { font-size: 1.20em;}	#contents div.prt-pastLayout .fos125 { font-size: 1.25em;}

#contents div.prt-pastLayout .fos130 { font-size: 1.30em;}
#contents div.prt-pastLayout .fos140 { font-size: 1.40em;}
#contents div.prt-pastLayout .fos150 { font-size: 1.50em;}
#contents div.prt-pastLayout .fos180 { font-size: 1.80em;}
#contents div.prt-pastLayout .fos200 { font-size: 2.00em;}


/* font-size [ old ] */
#contents div.prt-pastLayout .txt_xl { font-size: x-large;} #contents div.prt-pastLayout .txt_l { font-size: large;}
#contents div.prt-pastLayout .txt_s { font-size: small;} #contents div.prt-pastLayout .txt_xs { font-size: x-small;}


/* font-style [ normal,bold,italic,underline ] */
#contents div.prt-pastLayout .normal { font-weight: normal;}
#contents div.prt-pastLayout .bold { font-weight: bold;}
#contents div.prt-pastLayout .italic { font-style: italic;}
#contents div.prt-pastLayout .line { text-decoration: underline;}


/* font-color */
#contents div.prt-pastLayout .red { color: red;}
#contents div.prt-pastLayout .blue { color: blue;}
#contents div.prt-pastLayout .green { color: green;}
#contents div.prt-pastLayout .white { color: white;}


/* letter-spacing */
#contents div.prt-pastLayout .letter05 { letter-spacing: 0.5em;} #contents div.prt-pastLayout .letter10 { letter-spacing: 1.0em;}
#contents div.prt-pastLayout .letter15 { letter-spacing: 1.5em;} #contents div.prt-pastLayout .letter20 { letter-spacing: 2.0em;}

#contents div.prt-pastLayout .letter02 { letter-spacing: 0.25em;} #contents div.prt-pastLayout .letter07 { letter-spacing: 0.75em;}
#contents div.prt-pastLayout .letter12 { letter-spacing: 1.25em;} #contents div.prt-pastLayout .letter17 { letter-spacing: 1.75em;}


/* border */
#contents div.prt-pastLayout .border { border: 1px solid #000; padding: 0.25em;}
#contents div.prt-pastLayout .bor_dash { border: 1px dashed #000; padding: 0.25em;}
#contents div.prt-pastLayout .bor_double { border: 3px double #000; padding: 0.25em;}


/* display */
#contents div.prt-pastLayout .block { display: block;}


/* clear */
#contents div.prt-pastLayout .clear { clear: both; margin: 0; padding: 0;}


/* list */
#contents div.prt-pastLayout .list05 { margin-left: 0.5em; text-indent: -0.5em;}
#contents div.prt-pastLayout .list10 { margin-left: 1.0em; text-indent: -1.0em;}
#contents div.prt-pastLayout .list15 { margin-left: 1.5em; text-indent: -1.5em;}
#contents div.prt-pastLayout .list20 { margin-left: 2.0em; text-indent: -2.0em;}
#contents div.prt-pastLayout .list25 { margin-left: 2.5em; text-indent: -2.5em;}
#contents div.prt-pastLayout .list30 { margin-left: 3.0em; text-indent: -3.0em;}
#contents div.prt-pastLayout .list35 { margin-left: 3.5em; text-indent: -3.5em;}
#contents div.prt-pastLayout .list40 { margin-left: 4.0em; text-indent: -4.0em;}
#contents div.prt-pastLayout .list45 { margin-left: 4.5em; text-indent: -4.5em;}
#contents div.prt-pastLayout .list50 { margin-left: 5.0em; text-indent: -5.0em;}
#contents div.prt-pastLayout .list55 { margin-left: 5.5em; text-indent: -5.5em;}
#contents div.prt-pastLayout .list60 { margin-left: 6.0em; text-indent: -6.0em;}
#contents div.prt-pastLayout .list65 { margin-left: 6.5em; text-indent: -6.5em;}
#contents div.prt-pastLayout .list70 { margin-left: 7.0em; text-indent: -7.0em;}
#contents div.prt-pastLayout .list75 { margin-left: 7.5em; text-indent: -7.5em;}
#contents div.prt-pastLayout .list80 { margin-left: 8.0em; text-indent: -8.0em;}

#contents div.prt-pastLayout .list02 { margin-left: 0.25em; text-indent: -0.25em;}
#contents div.prt-pastLayout .list07 { margin-left: 0.75em; text-indent: -0.75em;}
#contents div.prt-pastLayout .list12 { margin-left: 1.25em; text-indent: -1.25em;}
#contents div.prt-pastLayout .list17 { margin-left: 1.75em; text-indent: -1.75em;}
#contents div.prt-pastLayout .list22 { margin-left: 2.25em; text-indent: -2.25em;}
#contents div.prt-pastLayout .list27 { margin-left: 2.75em; text-indent: -2.75em;}
#contents div.prt-pastLayout .list32 { margin-left: 3.25em; text-indent: -3.25em;}
#contents div.prt-pastLayout .list37 { margin-left: 3.75em; text-indent: -3.75em;}
#contents div.prt-pastLayout .list42 { margin-left: 4.25em; text-indent: -4.25em;}
#contents div.prt-pastLayout .list47 { margin-left: 4.75em; text-indent: -4.75em;}
#contents div.prt-pastLayout .list52 { margin-left: 5.25em; text-indent: -5.25em;}
#contents div.prt-pastLayout .list57 { margin-left: 5.75em; text-indent: -5.75em;}
#contents div.prt-pastLayout .list62 { margin-left: 6.25em; text-indent: -6.25em;}
#contents div.prt-pastLayout .list67 { margin-left: 6.75em; text-indent: -6.75em;}
#contents div.prt-pastLayout .list72 { margin-left: 7.25em; text-indent: -7.25em;}
#contents div.prt-pastLayout .list77 { margin-left: 7.75em; text-indent: -7.75em;}


#contents div.prt-pastLayout .list-style05 p { margin-left: 0.5em; text-indent: -0.5em;}
#contents div.prt-pastLayout .list-style10 p { margin-left: 1.0em; text-indent: -1.0em;}
#contents div.prt-pastLayout .list-style15 p { margin-left: 1.5em; text-indent: -1.5em;}
#contents div.prt-pastLayout .list-style20 p { margin-left: 2.0em; text-indent: -2.0em;}
#contents div.prt-pastLayout .list-style25 p { margin-left: 2.5em; text-indent: -2.5em;}
#contents div.prt-pastLayout .list-style30 p { margin-left: 3.0em; text-indent: -3.0em;}
#contents div.prt-pastLayout .list-style35 p { margin-left: 3.5em; text-indent: -3.5em;}
#contents div.prt-pastLayout .list-style40 p { margin-left: 4.0em; text-indent: -4.0em;}
#contents div.prt-pastLayout .list-style45 p { margin-left: 4.5em; text-indent: -4.5em;}
#contents div.prt-pastLayout .list-style50 p { margin-left: 5.0em; text-indent: -5.0em;}
#contents div.prt-pastLayout .list-style55 p { margin-left: 5.5em; text-indent: -5.5em;}
#contents div.prt-pastLayout .list-style60 p { margin-left: 6.0em; text-indent: -6.0em;}
#contents div.prt-pastLayout .list-style65 p { margin-left: 6.5em; text-indent: -6.5em;}
#contents div.prt-pastLayout .list-style70 p { margin-left: 7.0em; text-indent: -7.0em;}
#contents div.prt-pastLayout .list-style75 p { margin-left: 7.5em; text-indent: -7.5em;}
#contents div.prt-pastLayout .list-style80 p { margin-left: 8.0em; text-indent: -8.0em;}

#contents div.prt-pastLayout .list-style02 p { margin-left: 0.25em; text-indent: -0.25em;}
#contents div.prt-pastLayout .list-style07 p { margin-left: 0.75em; text-indent: -0.75em;}
#contents div.prt-pastLayout .list-style12 p { margin-left: 1.25em; text-indent: -1.25em;}
#contents div.prt-pastLayout .list-style17 p { margin-left: 1.75em; text-indent: -1.75em;}
#contents div.prt-pastLayout .list-style22 p { margin-left: 2.25em; text-indent: -2.25em;}
#contents div.prt-pastLayout .list-style27 p { margin-left: 2.75em; text-indent: -2.75em;}
#contents div.prt-pastLayout .list-style32 p { margin-left: 3.25em; text-indent: -3.25em;}
#contents div.prt-pastLayout .list-style37 p { margin-left: 3.75em; text-indent: -3.75em;}
#contents div.prt-pastLayout .list-style42 p { margin-left: 4.25em; text-indent: -4.25em;}
#contents div.prt-pastLayout .list-style47 p { margin-left: 4.75em; text-indent: -4.75em;}
#contents div.prt-pastLayout .list-style52 p { margin-left: 5.25em; text-indent: -5.25em;}
#contents div.prt-pastLayout .list-style57 p { margin-left: 5.75em; text-indent: -5.75em;}
#contents div.prt-pastLayout .list-style62 p { margin-left: 6.25em; text-indent: -6.25em;}
#contents div.prt-pastLayout .list-style67 p { margin-left: 6.75em; text-indent: -6.75em;}
#contents div.prt-pastLayout .list-style72 p { margin-left: 7.25em; text-indent: -7.25em;}
#contents div.prt-pastLayout .list-style77 p { margin-left: 7.75em; text-indent: -7.75em;} 


/* text */
#contents div.prt-pastLayout .text p { text-indent: 1.0em;}

/* table */
#contents div.prt-pastLayout .collapse {border-collapse:collapse;}
#contents div.prt-pastLayout .collapse td {border:1px solid black; border-collapse:collapse; padding:0.3em;}
/* others */
#content ul { list-style: disc; padding-left: 1.5em; margin-top: 0;}
#content ol { padding-left: 1.5em; margin-top: 0;}
#content hr { margin: 2.0em 0;}

#contents div.prt-pastLayout .float-left {float:left;}
#contents div.prt-pastLayout .float-right {float:right;}

/* listbox */
#contents div.prt-pastLayout .listbox {position:relative;}
#contents div.prt-pastLayout .listbox h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox p {line-height:1.2em; position:relative; top:-1.3em; margin-left:2.0em;}

#contents div.prt-pastLayout .listbox3 {position:relative;}
#contents div.prt-pastLayout .listbox3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox3 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:3.0em;}

#contents div.prt-pastLayout .listbox4 {position:relative;}
#contents div.prt-pastLayout .listbox4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox4 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:4.0em;}

#contents div.prt-pastLayout .listbox5 {position:relative;}
#contents div.prt-pastLayout .listbox5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox5 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:5.0em;}

#contents div.prt-pastLayout .listbox6 {position:relative; }
#contents div.prt-pastLayout .listbox6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox6 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:6.0em;}

#contents div.prt-pastLayout .listbox7 {position:relative; }
#contents div.prt-pastLayout .listbox7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox7 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:7.0em;}

#contents div.prt-pastLayout .listbox8 {position:relative; }
#contents div.prt-pastLayout .listbox8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox8 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:8.0em;}

#contents div.prt-pastLayout .listbox9 {position:relative; }
#contents div.prt-pastLayout .listbox9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox9 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:9.0em;}

#contents div.prt-pastLayout .listbox10 {position:relative; }
#contents div.prt-pastLayout .listbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listbox10 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:10.0em;}

#contents div.prt-pastLayout .listinbox {position:relative;}
#contents div.prt-pastLayout .listinbox h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox p {line-height:1.2em; position:relative; top:-1.3em; margin-left:2.0em;}

#contents div.prt-pastLayout .listinbox3 {position:relative;}
#contents div.prt-pastLayout .listinbox3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox3 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:3.0em;}

#contents div.prt-pastLayout .listinbox4 {position:relative;}
#contents div.prt-pastLayout .listinbox4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox4 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:4.0em;}

#contents div.prt-pastLayout .listinbox5 {position:relative;}
#contents div.prt-pastLayout .listinbox5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox5 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:5.0em;}

#contents div.prt-pastLayout .listinbox6 {position:relative; }
#contents div.prt-pastLayout .listinbox6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox6 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:6.0em;}

#contents div.prt-pastLayout .listinbox7 {position:relative; }
#contents div.prt-pastLayout .listinbox7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox7 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:7.0em;}

#contents div.prt-pastLayout .listinbox8 {position:relative; }
#contents div.prt-pastLayout .listinbox8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox8 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:8.0em;}

#contents div.prt-pastLayout .listinbox9 {position:relative; }
#contents div.prt-pastLayout .listinbox9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox9 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:9.0em;}

#contents div.prt-pastLayout .listinbox10 {position:relative; }
#contents div.prt-pastLayout .listinbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinbox10 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:10.0em;}

#contents div.prt-pastLayout .listinboxw {position:relative;}
#contents div.prt-pastLayout .listinboxw h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw p {line-height:1.2em; position:relative; top:-1.3em; margin-left:2.0em;}

#contents div.prt-pastLayout .listinboxw3 {position:relative;}
#contents div.prt-pastLayout .listinboxw3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw3 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:3.0em;}

#contents div.prt-pastLayout .listinboxw4 {position:relative;}
#contents div.prt-pastLayout .listinboxw4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw4 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:4.0em;}

#contents div.prt-pastLayout .listinboxw5 {position:relative;}
#contents div.prt-pastLayout .listinboxw5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw5 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:5.0em;}

#contents div.prt-pastLayout .listinboxw6 {position:relative; }
#contents div.prt-pastLayout .listinboxw6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw6 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:6.0em;}

#contents div.prt-pastLayout .listinboxw7 {position:relative; }
#contents div.prt-pastLayout .listinboxw7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw7 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:7.0em;}

#contents div.prt-pastLayout .listinboxw8 {position:relative; }
#contents div.prt-pastLayout .listinboxw8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw8 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:8.0em;}

#contents div.prt-pastLayout .listinboxw9 {position:relative; }
#contents div.prt-pastLayout .listinboxw9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw9 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:9.0em;}

#contents div.prt-pastLayout .listinboxw10 {position:relative; }
#contents div.prt-pastLayout .listinboxw10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .listinboxw10 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:10.0em;}


#contents div.prt-pastLayout .plistbox {position:relative;}
#contents div.prt-pastLayout .plistbox h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox p {line-height:1.2em; position:relative; top:-1.3em; padding-left:2.0em;}

#contents div.prt-pastLayout .plistbox3 {position:relative;}
#contents div.prt-pastLayout .plistbox3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox3 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:3.0em;}

#contents div.prt-pastLayout .plistbox4 {position:relative;}
#contents div.prt-pastLayout .plistbox4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox4 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:4.0em;}

#contents div.prt-pastLayout .plistbox5 {position:relative;}
#contents div.prt-pastLayout .plistbox5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox5 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:5.0em;}

#contents div.prt-pastLayout .plistbox6 {position:relative; }
#contents div.prt-pastLayout .plistbox6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox6 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:6.0em;}

#contents div.prt-pastLayout .plistbox7 {position:relative; }
#contents div.prt-pastLayout .plistbox7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox7 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:7.0em;}

#contents div.prt-pastLayout .plistbox8 {position:relative; }
#contents div.prt-pastLayout .plistbox8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox8 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:8.0em;}

#contents div.prt-pastLayout .plistbox9 {position:relative; }
#contents div.prt-pastLayout .plistbox9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox9 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:9.0em;}

#contents div.prt-pastLayout .plistbox10 {position:relative; }
#contents div.prt-pastLayout .plistbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistbox10 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:10.0em;}

#contents div.prt-pastLayout .plistinbox {position:relative;}
#contents div.prt-pastLayout .plistinbox h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox p {line-height:1.2em; position:relative; top:-1.3em; padding-left:2.0em;}

#contents div.prt-pastLayout .plistinbox3 {position:relative;}
#contents div.prt-pastLayout .plistinbox3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox3 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:3.0em;}

#contents div.prt-pastLayout .plistinbox4 {position:relative;}
#contents div.prt-pastLayout .plistinbox4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox4 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:4.0em;}

#contents div.prt-pastLayout .plistinbox5 {position:relative;}
#contents div.prt-pastLayout .plistinbox5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox5 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:5.0em;}

#contents div.prt-pastLayout .plistinbox6 {position:relative; }
#contents div.prt-pastLayout .plistinbox6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox6 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:6.0em;}

#contents div.prt-pastLayout .plistinbox7 {position:relative; }
#contents div.prt-pastLayout .plistinbox7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox7 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:7.0em;}

#contents div.prt-pastLayout .plistinbox8 {position:relative; }
#contents div.prt-pastLayout .plistinbox8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox8 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:8.0em;}

#contents div.prt-pastLayout .plistinbox9 {position:relative; }
#contents div.prt-pastLayout .plistinbox9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox9 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:9.0em;}

#contents div.prt-pastLayout .plistinbox10 {position:relative; }
#contents div.prt-pastLayout .plistinbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinbox10 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:10.0em;}

#contents div.prt-pastLayout .plistinboxw {position:relative;}
#contents div.prt-pastLayout .plistinboxw h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw p {line-height:1.2em; position:relative; top:-1.3em; padding-left:2.0em;}

#contents div.prt-pastLayout .plistinboxw3 {position:relative;}
#contents div.prt-pastLayout .plistinboxw3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw3 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:3.0em;}

#contents div.prt-pastLayout .plistinboxw4 {position:relative;}
#contents div.prt-pastLayout .plistinboxw4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw4 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:4.0em;}

#contents div.prt-pastLayout .plistinboxw5 {position:relative;}
#contents div.prt-pastLayout .plistinboxw5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw5 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:5.0em;}

#contents div.prt-pastLayout .plistinboxw6 {position:relative; }
#contents div.prt-pastLayout .plistinboxw6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw6 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:6.0em;}

#contents div.prt-pastLayout .plistinboxw7 {position:relative; }
#contents div.prt-pastLayout .plistinboxw7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw7 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:7.0em;}

#contents div.prt-pastLayout .plistinboxw8 {position:relative; }
#contents div.prt-pastLayout .plistinboxw8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw8 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:8.0em;}

#contents div.prt-pastLayout .plistinboxw9 {position:relative; }
#contents div.prt-pastLayout .plistinboxw9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw9 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:9.0em;}

#contents div.prt-pastLayout .plistinboxw10 {position:relative; }
#contents div.prt-pastLayout .plistinboxw10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .plistinboxw10 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:10.0em;}


/* h_listbox */
#contents div.prt-pastLayout .h_listbox h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox p {line-height:1.2em; position:relative; top:-1.3em; margin-left:2.0em;}

#contents div.prt-pastLayout .h_listbox3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox3 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:3.0em;}

#contents div.prt-pastLayout .h_listbox4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox4 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:4.0em;}

#contents div.prt-pastLayout .h_listbox5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox5 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:5.0em;}

#contents div.prt-pastLayout .h_listbox6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox6 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:6.0em;}

#contents div.prt-pastLayout .h_listbox7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox7 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:7.0em;}

#contents div.prt-pastLayout .h_listbox8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox8 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:8.0em;}

#contents div.prt-pastLayout .h_listbox9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox9 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:9.0em;}

#contents div.prt-pastLayout .h_listbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listbox10 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:10.0em;}

#contents div.prt-pastLayout .h_listinbox h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox p {line-height:1.2em; position:relative; top:-1.3em; margin-left:2.0em;}

#contents div.prt-pastLayout .h_listinbox3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox3 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:3.0em;}

#contents div.prt-pastLayout .h_listinbox4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox4 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:4.0em;}

#contents div.prt-pastLayout .h_listinbox5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox5 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:5.0em;}

#contents div.prt-pastLayout .h_listinbox6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox6 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:6.0em;}

#contents div.prt-pastLayout .h_listinbox7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox7 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:7.0em;}

#contents div.prt-pastLayout .h_listinbox8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox8 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:8.0em;}

#contents div.prt-pastLayout .h_listinbox9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox9 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:9.0em;}

#contents div.prt-pastLayout .h_listinbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinbox10 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:10.0em;}

#contents div.prt-pastLayout .h_listinboxw h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw p {line-height:1.2em; position:relative; top:-1.3em; margin-left:2.0em;}

#contents div.prt-pastLayout .h_listinboxw3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw3 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:3.0em;}

#contents div.prt-pastLayout .h_listinboxw4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw4 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:4.0em;}

#contents div.prt-pastLayout .h_listinboxw5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw5 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:5.0em;}

#contents div.prt-pastLayout .h_listinboxw6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw6 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:6.0em;}

#contents div.prt-pastLayout .h_listinboxw7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw7 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:7.0em;}

#contents div.prt-pastLayout .h_listinboxw8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw8 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:8.0em;}

#contents div.prt-pastLayout .h_listinboxw9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw9 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:9.0em;}

#contents div.prt-pastLayout .h_listinboxw10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_listinboxw10 p {line-height:1.2em; position:relative; top:-1.3em; margin-left:10.0em;}

#contents div.prt-pastLayout .h_plistbox h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox p {line-height:1.2em; position:relative; top:-1.3em; padding-left:2.0em;}

#contents div.prt-pastLayout .h_plistbox3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox3 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:3.0em;}

#contents div.prt-pastLayout .h_plistbox4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox4 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:4.0em;}

#contents div.prt-pastLayout .h_plistbox5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox5 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:5.0em;}

#contents div.prt-pastLayout .h_plistbox6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox6 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:6.0em;}

#contents div.prt-pastLayout .h_plistbox7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox7 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:7.0em;}

#contents div.prt-pastLayout .h_plistbox8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox8 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:8.0em;}

#contents div.prt-pastLayout .h_plistbox9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox9 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:9.0em;}

#contents div.prt-pastLayout .h_plistbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistbox10 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:10.0em;}

html*div#contents div.prt-pastLayout .h_plistbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
html*div#contents div.prt-pastLayout .h_plistbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
html*div#contents div.prt-pastLayout .h_plistbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
html*div#contents div.prt-pastLayout .h_plistbox10 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:13.0em;}

* html div#contents div.prt-pastLayout .h_plistbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
* html div#contents div.prt-pastLayout .h_plistbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
* html div#contents div.prt-pastLayout .h_plistbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
* html div#contents div.prt-pastLayout .h_plistbox10 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:10.0em;}

#contents div.prt-pastLayout .h_plistinbox h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox p {line-height:1.2em; position:relative; top:-1.3em; padding-left:2.0em;}

#contents div.prt-pastLayout .h_plistinbox3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox3 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:3.0em;}

#contents div.prt-pastLayout .h_plistinbox4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox4 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:4.0em;}

#contents div.prt-pastLayout .h_plistinbox5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox5 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:5.0em;}

#contents div.prt-pastLayout .h_plistinbox6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox6 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:6.0em;}

#contents div.prt-pastLayout .h_plistinbox7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox7 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:7.0em;}

#contents div.prt-pastLayout .h_plistinbox8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox8 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:8.0em;}

#contents div.prt-pastLayout .h_plistinbox9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox9 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:9.0em;}

#contents div.prt-pastLayout .h_plistinbox10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinbox10 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:10.0em;}

#contents div.prt-pastLayout .h_plistinboxw h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw p {line-height:1.2em; position:relative; top:-1.3em; padding-left:2.0em;}

#contents div.prt-pastLayout .h_plistinboxw3 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw3 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw3 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw3 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:3.0em;}

#contents div.prt-pastLayout .h_plistinboxw4 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw4 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw4 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw4 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:4.0em;}

#contents div.prt-pastLayout .h_plistinboxw5 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw5 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw5 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw5 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:5.0em;}

#contents div.prt-pastLayout .h_plistinboxw6 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw6 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw6 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw6 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:6.0em;}

#contents div.prt-pastLayout .h_plistinboxw7 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw7 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw7 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw7 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:7.0em;}

#contents div.prt-pastLayout .h_plistinboxw8 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw8 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw8 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw8 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:8.0em;}

#contents div.prt-pastLayout .h_plistinboxw9 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw9 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw9 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw9 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:9.0em;}

#contents div.prt-pastLayout .h_plistinboxw10 h4 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw10 h5 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw10 h6 {line-height:1.2em; margin-top:-1.3em;}
#contents div.prt-pastLayout .h_plistinboxw10 p {line-height:1.2em; position:relative; top:-1.3em; padding-left:10.0em;}

#contents div.prt-pastLayout .width-auto {width:40.9%; text-align:left; margin-left:auto; margin-right:auto;}
#contents div.prt-pastLayout .width-auto h3 {text-align:left;}
#contents div.prt-pastLayout .pat13 {padding-top:1.3em;}
#contents div.prt-pastLayout .mab13n {margin-bottom:-1.3em;}


#contents div.prt-pastLayout .invisible,
#contents div.prt-pastLayout .invisible a{
overflow:hidden; width:0.1px; height:0.1px; font-size:0.1em; line-height:0; display:block;
}

/* print size */


@media print {

#contents div.prt-pastLayout .zoom25 {zoom:25%;}
#contents div.prt-pastLayout .zoom26 {zoom:26%;}
#contents div.prt-pastLayout .zoom27 {zoom:27%;}
#contents div.prt-pastLayout .zoom28 {zoom:28%;}
#contents div.prt-pastLayout .zoom29 {zoom:29%;}

#contents div.prt-pastLayout .zoom30 {zoom:30%;} #contents div.prt-pastLayout .zoom40 {zoom:40%;} #contents div.prt-pastLayout .zoom50 {zoom:50%;} 
#contents div.prt-pastLayout .zoom31 {zoom:31%;} #contents div.prt-pastLayout .zoom41 {zoom:41%;} #contents div.prt-pastLayout .zoom51 {zoom:51%;} 
#contents div.prt-pastLayout .zoom32 {zoom:32%;} #contents div.prt-pastLayout .zoom42 {zoom:42%;} #contents div.prt-pastLayout .zoom52 {zoom:52%;} 
#contents div.prt-pastLayout .zoom33 {zoom:33%;} #contents div.prt-pastLayout .zoom43 {zoom:43%;} #contents div.prt-pastLayout .zoom53 {zoom:53%;} 
#contents div.prt-pastLayout .zoom34 {zoom:34%;} #contents div.prt-pastLayout .zoom44 {zoom:44%;} #contents div.prt-pastLayout .zoom54 {zoom:54%;} 
#contents div.prt-pastLayout .zoom35 {zoom:35%;} #contents div.prt-pastLayout .zoom45 {zoom:45%;} #contents div.prt-pastLayout .zoom55 {zoom:55%;} 
#contents div.prt-pastLayout .zoom36 {zoom:36%;} #contents div.prt-pastLayout .zoom46 {zoom:46%;} #contents div.prt-pastLayout .zoom56 {zoom:56%;} 
#contents div.prt-pastLayout .zoom37 {zoom:37%;} #contents div.prt-pastLayout .zoom47 {zoom:47%;} #contents div.prt-pastLayout .zoom57 {zoom:57%;} 
#contents div.prt-pastLayout .zoom38 {zoom:38%;} #contents div.prt-pastLayout .zoom48 {zoom:48%;} #contents div.prt-pastLayout .zoom58 {zoom:58%;} 
#contents div.prt-pastLayout .zoom39 {zoom:39%;} #contents div.prt-pastLayout .zoom49 {zoom:49%;} #contents div.prt-pastLayout .zoom59 {zoom:59%;} 

#contents div.prt-pastLayout .zoom60 {zoom:60%;} #contents div.prt-pastLayout .zoom70 {zoom:70%;} #contents div.prt-pastLayout .zoom80 {zoom:80%;} 
#contents div.prt-pastLayout .zoom61 {zoom:61%;} #contents div.prt-pastLayout .zoom71 {zoom:71%;} #contents div.prt-pastLayout .zoom81 {zoom:81%;} 
#contents div.prt-pastLayout .zoom62 {zoom:62%;} #contents div.prt-pastLayout .zoom72 {zoom:72%;} #contents div.prt-pastLayout .zoom82 {zoom:82%;} 
#contents div.prt-pastLayout .zoom63 {zoom:63%;} #contents div.prt-pastLayout .zoom73 {zoom:73%;} #contents div.prt-pastLayout .zoom83 {zoom:83%;} 
#contents div.prt-pastLayout .zoom64 {zoom:64%;} #contents div.prt-pastLayout .zoom74 {zoom:74%;} #contents div.prt-pastLayout .zoom84 {zoom:84%;} 
#contents div.prt-pastLayout .zoom65 {zoom:65%;} #contents div.prt-pastLayout .zoom75 {zoom:75%;} #contents div.prt-pastLayout .zoom85 {zoom:85%;} 
#contents div.prt-pastLayout .zoom66 {zoom:66%;} #contents div.prt-pastLayout .zoom76 {zoom:76%;} #contents div.prt-pastLayout .zoom86 {zoom:86%;} 
#contents div.prt-pastLayout .zoom67 {zoom:67%;} #contents div.prt-pastLayout .zoom77 {zoom:77%;} #contents div.prt-pastLayout .zoom87 {zoom:87%;} 
#contents div.prt-pastLayout .zoom68 {zoom:68%;} #contents div.prt-pastLayout .zoom78 {zoom:78%;} #contents div.prt-pastLayout .zoom88 {zoom:88%;} 
#contents div.prt-pastLayout .zoom69 {zoom:69%;} #contents div.prt-pastLayout .zoom79 {zoom:79%;} #contents div.prt-pastLayout .zoom89 {zoom:89%;} 

#contents div.prt-pastLayout .zoom90 {zoom:90%;}
#contents div.prt-pastLayout .zoom91 {zoom:91%;}
#contents div.prt-pastLayout .zoom92 {zoom:92%;} 
#contents div.prt-pastLayout .zoom93 {zoom:93%;}
#contents div.prt-pastLayout .zoom94 {zoom:94%;} 
#contents div.prt-pastLayout .zoom95 {zoom:95%;} 
#contents div.prt-pastLayout .zoom96 {zoom:96%;} 
#contents div.prt-pastLayout .zoom97 {zoom:97%;} 
#contents div.prt-pastLayout .zoom98 {zoom:98%;} 
#contents div.prt-pastLayout .zoom99 {zoom:99%;} 

}







/* Inner Fontsize
***************************************************************************
#contents div.prt-pastLayout th p, #contents div.prt-pastLayout td,
#contents div.prt-pastLayout th h4, #contents div.prt-pastLayout td,
#contents div.prt-pastLayout th h5, #contents div.prt-pastLayout td,
#contents div.prt-pastLayout th h6, #contents div.prt-pastLayout td,
#contents div.prt-pastLayout th, #contents div.prt-pastLayout td,
#contents div.prt-pastLayout th, #contents div.prt-pastLayout td,
#contents div.prt-pastLayout th, #contents div.prt-pastLayout td,
#contents div.prt-pastLayout th, #contents div.prt-pastLayout td,*/

