@charset "shift_jis";

/* =======================================

	Print CSS

========================================== */

@media print {

/* 
****************************************************************************/
html, body {
}

body.wideBody02 {
	min-width: 980px;
}

body.nonCategory,
body.nonCategory #document,
body.wideBody02,
body.wideBody02 #document,
body.wideBody,
body.wideBody #document {
	min-width: 980px;
}

* html body,
* html body.nonCategory,
* html body.wideBody,
* html body.wideBody02,
* html body #document,
* html body.nonCategory #document,
* html body.wideBody #document,
* html body.wideBody02 #document {width: auto !important;}



#headerNavi,
#header dl#changeFontSize, #header p#searchArea, #header dl#publicComment,
#globalnavi,
#pageTop,
#footerNavi,
#localnavi,
#main p.topicpath {
	display: none;
}


#main,
#main #mainInner {
	background-image: none;
}

#main #pageTitle {
	margin-right: 0;
}

#mainInner {
	padding-left: 0;
	padding-right: 0;
}

#contents {
	float: none;
	margin: 0;
}

#contents #contentsInner {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

#footerContents {
	width: auto;
}


/* header
****************************************************************************/
#header {
	position: static;
	padding: 0;
}

#header p.logo {
	position: static;
}

/* 
****************************************************************************/
#main h1#pageTitle { font-size: 240%;	line-height: 1.294;}



/* Image
========================================== */
* html #contents img.pImage01 { zoom: 90%;}
* html #contents img.pImage02 { zoom: 85%;}
* html #contents img.pImage03 { zoom: 80%;}
* html #contents img.pImage04 { zoom: 75%;}
* html #contents img.pImage05 { zoom: 70%;}


/* Table
****************************************************************************/
/* Print Type01
========================================== */
* html #contents .prt-table table.pType01 {	width: auto !important;}
* html #contents .prt-table table.pType01 col {	width: auto !important;}

/* Print Type02
========================================== */
* html #contents .prt-table table.pType02 {	width: auto !important;}
* html #contents .prt-table table.pType02 col {	width: auto !important;}

* html #contents .prt-table table.pType02 tr th,
* html #contents .prt-table table.pType02 tr td {
	font-size: 120% !important;
}

/* Print Type03
========================================== */
* html #contents .prt-table table.pType03 tr th,
* html #contents .prt-table table.pType03 tr td {
	font-size: 120% !important;
}

/* Print Type04
========================================== */
* html #contents .prt-table table.pType04 tr th,
* html #contents .prt-table table.pType04 tr td {
	font-size: 120% !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
}


}