@charset "utf-8";

/*!
 * Scripts Styles
 * 
 * SP専用のスタイルは、共通して（HTML要素にJS判別で付与される） .mode-sp から記載するが、
 * このファイルのスタイルは、SP版専用に追加マークアップしたパーツであることと、
 * JSで動的に付与したclassから始まるセレクタでCSSを記載すると、
 * .height()を使った場合に、スタイル適用前の高さが取得されてしまうので、
 * このファイルのパーツのみ、.mode-spから始める代わりに、パーツ自身にprefix "sp-" を付ける
 *
 */


/**
 * sp-ui-dropdown
 */
#sp-ui-dropdown {
	position: relative;
	padding: 0 0 16px;
	z-index: 10000;
}

	/**
	 * section
	 */
	#sp-ui-dropdown .section {
		padding: 10px 0 0;
		border-top: 1px solid #1B5B8C;
		border-bottom: 1px solid #14181B;
	}
	#sp-ui-dropdown .section:first-child { border-top: none;}
	#sp-ui-dropdown .section:last-child { border-bottom: none;}


	/**
	 * h2
	 */
	#sp-ui-dropdown .section h2 {
		margin: -3px 0 15px;
		padding: 0 10px;
		font-weight: normal;
		color: #8EBFF0;
		font-size: 14px;
		line-height: 1.429;
	}



	/**
	 * prt-searchUnit
	 */
	#sp-ui-dropdown div.prt-searchUnit {
		display: table;
		margin: 0 auto 8px;
	}

	#sp-ui-dropdown div.prt-searchUnit input.textArea {
		padding-left: 22px;
		width: 208px;
		font-size: 12px;
		line-height: 1.335;
		height: 1.335em;
		background: #E1ECEC url(../images/ico_search_01.png) no-repeat 5px 50%;
		-webkit-background-size: 15px 16px;
				background-size: 15px 16px;
		-webkit-border-radius: 4px;
				border-radius: 4px;
	}

	#sp-ui-dropdown div.prt-searchUnit input.button {
		padding: 4px 6px;
		border: solid #003365;
		border-width: 1px 1px 0;
		border-bottom: 1px solid #0D4C7C;
		color: #FFFFFF;
		font-size: 12px;
		line-height: 1.167;
		-webkit-border-radius: 4px;
				border-radius: 4px;
		background-image:
			-webkit-gradient(
				linear, left top, left bottom,
				from(#09558E),
				to(#003365)
			);
	}


	/**
	 * prt-sidewaysListA
	 */
	#sp-ui-dropdown div.prt-sidewaysListA {
		padding: 0 18px;
	}



	/**
	 * prt-linkListA
	 */
	#sp-ui-dropdown div.prt-linkListA {
		padding: 0 18px;
	}



/**
 * ui-bunyaMenu
 */
#contents       .sp-ui-bunyaMenu,
#sp-ui-dropdown .sp-ui-bunyaMenu {
	position: relative;
}
#contents .sp-ui-bunyaMenu {
	margin: 0 -7px;
}

#contents       .sp-ui-bunyaMenu:after,
#sp-ui-dropdown .sp-ui-bunyaMenu:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}
	#contents       .sp-ui-bunyaMenu .separate,
	#sp-ui-dropdown .sp-ui-bunyaMenu .separate {
		clear: both;
		width: 100%;
		-webkit-transition: all 500ms ease-in;
		   -mos-transition: all 500ms ease-in;
		    -ms-transition: all 500ms ease-in;
		     -o-transition: all 500ms ease-in;
		        transition: all 500ms ease-in;
	}

	#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya,
	#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya {
		float: left;
		width: 33.33%;
		margin: 0 0 10px;
		overflow: visible;
	}

		/**
		 * haed
		 */
		#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head,
		#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head {
		}

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head p.image {
				margin: 0 auto;
				width: 89px;
				height: 84px;
				background: url(../images/ui-bunyaMenu_bg_01.png) no-repeat;
				-webkit-background-size: 178px 504px;
				        background-size: 178px 504px;
				/*-webkit-transition: -webkit-transform 500ms linear;
				-webkit-transform-style: preserv-3d;
				-webkit-transform-origin: 50% 50%;
				-webkit-transform: perspective(100) rotete3d(0,0,0,0deg);*/
			}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.open .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.open .bunya-head p.image {
				/*-webkit-transform: /*perspective(100) rotate3d(1,0,0,360deg);*/
			}

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-0 .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-0 .bunya-head p.image { background-position: 0      0;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-1 .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-1 .bunya-head p.image { background-position: 0  -84px;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-2 .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-2 .bunya-head p.image { background-position: 0 -168px;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-3 .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-3 .bunya-head p.image { background-position: 0 -252px;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-4 .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-4 .bunya-head p.image { background-position: 0 -336px;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-5 .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-5 .bunya-head p.image { background-position: 0 -420px;}
			
			/* open */
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-0.open .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-0.open .bunya-head p.image { background-position: -89px      0;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-1.open .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-1.open .bunya-head p.image { background-position: -89px  -84px;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-2.open .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-2.open .bunya-head p.image { background-position: -89px -168px;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-3.open .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-3.open .bunya-head p.image { background-position: -89px -252px;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-4.open .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-4.open .bunya-head p.image { background-position: -89px -336px;}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-5.open .bunya-head p.image,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-5.open .bunya-head p.image { background-position: -89px -420px;}

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head p.name,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head p.name {
				margin: 0 0 -8px;
				padding: 3px 0 10px;
				text-align: center;
				color: #003399;
				font-size: 11px;
				line-height: 1.182;
			}
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head p.name { color: #FFFFFF;}
			
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.open .bunya-head p.name,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.open .bunya-head p.name {
				position: relative;
				background: url(../images/ui-bunyaMenu_bg_02.png) no-repeat 50% 100%;
				-webkit-background-size: 16px 8px;
				        background-size: 16px 8px;
				z-index: 10000;
			}
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.open .bunya-head p.name {
				background-image: url(../images/ui-bunyaMenu_bg_03.png);
			}
			
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head p.name a,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-head p.name a {
				color: inherit;
			}

		/**
		 * body
		 */
		#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body,
		#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body {
			display: none;
			position: absolute;
			left: 0;
			width: 100%;
			padding: 0;
			overflow: hidden;
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7) inset;
				background: #FFFFFF;
		}
		#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body {
			left: -10px;
			padding: 0 10px;
		}
		#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body {
		}
		
		#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.hide .bunya-body,
		#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.hide .bunya-body,
		#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.open .bunya-body,
		#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.open .bunya-body {
			-webkit-transition: all 500ms ease-in;
			   -mos-transition: all 500ms ease-in;
			    -ms-transition: all 500ms ease-in;
			     -o-transition: all 500ms ease-in;
			        transition: all 500ms ease-in;
		}

			/**
			 * sub
			 */
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub {
			}

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items {
				margin: 0;
				padding: 7px 0 0;
			}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items { margin: 0 -10px 0;}
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items { margin: 0;}

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items li.sub-item,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items li.sub-item {
				font-size: 11px;
				line-height: 1.275;
			}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items li.sub-item:first-child,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items li.sub-item:first-child {
				margin-top: -7px;
				padding-top: 7px;
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), color-stop(0.3, rgba(0,0,0,0)), to(rgba(0,0,0,0)));
			}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-0 .bunya-body .sub ul.sub-items li.sub-item:first-child,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-0 .bunya-body .sub ul.sub-items li.sub-item:first-child { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(95,177,255,0.5)), color-stop(0.3, rgba(95,177,255,0)), to(rgba(95,177,255,0)));}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-1 .bunya-body .sub ul.sub-items li.sub-item:first-child,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-1 .bunya-body .sub ul.sub-items li.sub-item:first-child { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254,178,79,0.5)), color-stop(0.3, rgba(254,178,79,0)), to(rgba(254,178,79,0)));}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-2 .bunya-body .sub ul.sub-items li.sub-item:first-child,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-2 .bunya-body .sub ul.sub-items li.sub-item:first-child { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254,143,182,0.5)), color-stop(0.3, rgba(254,143,182,0)), to(rgba(254,143,182,0)));}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-3 .bunya-body .sub ul.sub-items li.sub-item:first-child,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-3 .bunya-body .sub ul.sub-items li.sub-item:first-child { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(124,191,130,0.5)), color-stop(0.3, rgba(124,191,130,0)), to(rgba(124,191,130,0)));}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-4 .bunya-body .sub ul.sub-items li.sub-item:first-child,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-4 .bunya-body .sub ul.sub-items li.sub-item:first-child { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(184,111,219,0.5)), color-stop(0.3, rgba(184,111,219,0)), to(rgba(184,111,219,0)));}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-5 .bunya-body .sub ul.sub-items li.sub-item:first-child,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya.bunyaMenu-bunya-5 .bunya-body .sub ul.sub-items li.sub-item:first-child { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(216,168,99,0.5)), color-stop(0.3, rgba(216,168,99,0)), to(rgba(216,168,99,0)));}
		

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items li.sub-item a,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items li.sub-item a {
				display: block;
				padding: 12px 15px 12px 20px;
				border-bottom: 1px solid rgba(114,137,173,0.2);
				background: url(../images/ico_arrow_01.png) no-repeat 100% 50%;
				-webkit-background-size: 15px 11px;
				        background-size: 15px 11px;
			}
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .sub ul.sub-items li.sub-item:last-child a {
				border-bottom: none;
			}

			/**
			 * keyword
			 */
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword {
				margin: 10px 0 10px -10px;
				padding: 0 18px 5px;
			}
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword {
				display: none;
			}

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword ul.keyword-items,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword ul.keyword-items {
				margin: -10px 0 0 -10px;
			}

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword ul.keyword-items li.keyword-item,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword ul.keyword-items li.keyword-item {
				display: inline-block;
				margin: 10px 0 0 10px;
				color: #003399;
				padding: 5px 6px 4px;
				background: #FFFFFF;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
				-webkit-box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
				        box-shadow: 1px 1px 2px #C7D2DE, -1px -1px 2px #C7D2DE;
				font-size: 10px;
				line-height: 1.2;
			}

			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword ul.keyword-items li.keyword-item a,
			#sp-ui-dropdown .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword ul.keyword-items li.keyword-item a {
				display: block;
			}
			#contents       .sp-ui-bunyaMenu .bunyaMenu-bunya .bunya-body .keyword ul.keyword-items li.keyword-item.ico-blank {
				padding-left: 20px;
				text-align: center;
				background: #FFFFFF url(../../images/base/ico_blank.png) no-repeat 8px 8px;
				-webkit-background-size: 9px 9px;
				   -moz-background-size: 9px 9px;
				    -ms-background-size: 9px 9px;
				     -o-background-size: 9px 9px;
				        background-size: 9px 9px;
			}

