@charset "shift_jis";

/* =======================================

	Structure CSS

========================================== */

html, body {
	background: #FFF;
	color: #000000;
}

body {
	min-width: 980px;
}

body.wideBody {
	min-width: 3000px;
}

body.wideBody02 {
	min-width: 1255px;
}

#document {
	min-width: 980px;
}
* html #document {
	width: expression(document.body.clientWidth < 982? "980px" : "auto");
}
body.wideBody #document {
	min-width: 3000px;
}
* html body.wideBody #document {
	width: expression(document.body.clientWidth < 3002? "3000px" : "auto");
}
body.wideBody02 #document {
	min-width: 1255px;
}
* html body.wideBody02 #document {
	width: expression(document.body.clientWidth < 1257? "1255px" : "auto");
}

#header {
}

#main {
	margin: 0;
	padding: 3px 0 0;
	background: url(../../images/base/bg_02.png) repeat-x 0 0;
	zoom: 1;
}

#main #mainInner {
	margin: 0;
	padding: 0 20px;
	background: url(../../images/base/bg_01.png) no-repeat 100% 0;
	zoom: 1;
}
#main #mainInner:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#main p.topicpath {
	clear: both;
	margin: 0 240px 0 0;
}

#main #pageTitle {
	margin: 0 240px 0 0;
	padding: 15px 0;
	font-weight: normal;
	font-size: 280%;
	line-height: 1.143;
}

#main #pageTitle.ico-category {
	padding-left: 140px;
	background: no-repeat 9px 19px;
}

body.kenkou_iryou  #main #pageTitle.ico-category { background-image: url(../../images/base/label_kenkou_iryou.png);}
body.kodomo        #main #pageTitle.ico-category { background-image: url(../../images/base/label_kodomo.png);}
body.hukushi_kaigo #main #pageTitle.ico-category { background-image: url(../../images/base/label_hukushi_kaigo.png);}
body.koyou_roudou  #main #pageTitle.ico-category { background-image: url(../../images/base/label_koyou_roudou.png);}
body.nenkin        #main #pageTitle.ico-category { background-image: url(../../images/base/label_nenkin.png);}
body.hokabunya     #main #pageTitle.ico-category { background-image: url(../../images/base/label_hokabunya.png);}

#contents {
	float: left;
	display: inline;
	margin: 0 -240px 0 0;
	width: 100%;
}
#contents #contentsInner {
	position: relative;
	margin: 0 239px 0 -1px;
	padding: 0 11px 40px;
	background-color: #FFFFFF;
	min-height: 400px;
	zoom: 1;
}
* html #contents #contentsInner {
	height: 400px;
}
#contents #contentsInner:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

body.nonCategory #contents {margin-right: 0;}
body.nonCategory #contents #contentsInner {margin-right: -1px;}

body.indivisualPage #contents p#indivisualTest {
	height: 500px;
	background: #FF66CC;
}

#localnavi {
	float: right;
	display: inline;
	margin: 0;
	width: 220px;
}

#footerContents {
	padding: 0 31px;
}

#footer {
}


a         {	color: #003399;	text-decoration: underline;}
a:visited {	color: #6633FF;}
a:hover   {	color: #CC0000;	text-decoration: none;}
a:active  {	color: #CC0000;	text-decoration: none;}


/* HeaderNavi
****************************************************************************/
#headerNavi {
	background: url(../../images/base/headerNavi_bg_02.png);
	zoom: 1;
}

#headerNavi .inner {
	padding: 0 30px;
	background: url(../../images/base/headerNavi_bg_01.png) repeat-x 0 100%;
	zoom: 1;
}
#headerNavi .inner:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

/* Skip
========================================== */
#headerNavi ul.skip {
	position: absolute;
	left: -9999em;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#headerNavi ul.skip li {
}


/* Description
========================================== */
#headerNavi p#description {
	position: absolute;
	top: 7px;
	left: 26px;
	width: 181px;
	height: 16px;
	background: url(../../images/base/structure_parts.png) no-repeat 0 0;
	text-indent: -9999px;
	overflow: hidden;
}


/* Navi
========================================== */
#headerNavi ul.menu {
	float: right;
	padding: 6px 0 7px;
}

#headerNavi ul.menu li {
	display: inline;
	margin: 0 0 0 8px;
	padding: 1px 0 1px 14px;
	background: url(../../images/base/headerNavi_bg_03.png) no-repeat -11px 0;
	font-size: 120%;
	line-height: 1.5;
}
#headerNavi ul.menu li.home {
	padding-left: 17px;
	background: url(../../images/base/headerNavi_ico_home.png) no-repeat 0 0;
}
#headerNavi ul.menu li.lang {
	padding-left: 25px;
	background-position: 0 0;
}

#headerNavi ul.menu li a {
	color: #FFFFFF;
	text-decoration: underline;
}

#headerNavi ul.menu li a:hover {
	text-decoration: none;
}



/* Header
****************************************************************************/
#header {
	position: relative;
	margin: 0 auto;
	padding: 15px 30px 0;
	zoom: 1;
}
#header:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}


/* Logo
========================================== */
#header p.logo {
	position: absolute;
	top: 13px;
	left: 30px;
}


/* ChangeFontSize
========================================== */
#header dl#changeFontSize {
	position: absolute;
	top: 15px;
	right: 303px;
	border: solid #010167;
	border-width: 0 1px 1px 0;
	zoom: 1;
}
#header dl#changeFontSize:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#header dl#changeFontSize dt {
	display: block;
	position: absolute;
	top: 0;
	left: -111px;
	width: 103px;
	height: 20px;
	background: url(../../images/base/structure_parts.png) no-repeat 0 -16px;
	text-indent: -9999px;
	overflow: hidden;
}

#header dl#changeFontSize dd {
	float: left;
	width: 43px;
	border: solid #010167;
	border-width: 1px 0 0 1px;
}

#header dl#changeFontSize dd a {
	display: block;
	height: 18px;
	background: url(../../images/base/structure_parts.png) no-repeat 0 -36px;
	text-indent: -9999px;
	overflow: hidden;
}
#header dl#changeFontSize dd.normal     a {background-position:   0   -36px;}
#header dl#changeFontSize dd.large      a {background-position: -43px -36px;}
#header dl#changeFontSize dd.extraLarge a {background-position: -86px -36px;}
#header dl#changeFontSize dd.normal     a:hover {background-position:   0   -54px;outline:thin dotted #ffffff;}
#header dl#changeFontSize dd.large      a:hover {background-position: -43px -54px;outline:thin dotted #ffffff;}
#header dl#changeFontSize dd.extraLarge a:hover {background-position: -86px -54px;outline:thin dotted #ffffff;}
#header dl#changeFontSize dd.normal     a.active {background-position:   0   -54px;}
#header dl#changeFontSize dd.large      a.active {background-position: -43px -54px;}
#header dl#changeFontSize dd.extraLarge a.active {background-position: -86px -54px;}
#header dl#changeFontSize dd.normal     a:focus {background-position:   0   -54px;outline:thin dotted #ffffff;}
#header dl#changeFontSize dd.large      a:focus {background-position: -43px -54px;outline:thin dotted #ffffff;}
#header dl#changeFontSize dd.extraLarge a:focus {background-position: -86px -54px;outline:thin dotted #ffffff;}


/* SearchArea
========================================== */
#header p#searchArea {
	margin: 0 0 0 auto;
	padding: 0;
	width: 263px;
	zoom: 1;
	font-size: 120%;
	line-height: 1.334;
}
#header p#searchArea:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#header p#searchArea span.keywords {
	float: left;
	background: #FCC;
}

#header p#searchArea span.keywords input {
	float: left;
	width: 181px;
	padding: 2px 60px 0 20px;
	border: 1px solid #010167;
	background: #FFFFFF url(../../images/base/header_searchArea_bg_01.png) no-repeat;
	color: #999999;
	height: 1.334em;
}
#header p#searchArea span.keywords input.focus,
#header p#searchArea span.keywords input.inputTrue {
	color: #000000;
}

#header p#searchArea span.submit {
	position: relative;
	float: left;
	display: block;
	margin: 1px 0 0 -59px;
	padding: 1px 0;
	width: 58px;
	height: 1.334em;
	background: url(../../images/base/header_searchArea_bg_02.png) repeat-y 100% 0;
}

#header p#searchArea span.submit input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: none;
	width: 58px;
	height: 18px;
	background: url(../../images/base/structure_parts.png) no-repeat 0 -72px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}

#header p#searchArea span.submit input.hover {
	background-position: -58px -72px;
}

/* SearchArea2
==========================2015.3.xx ADD=== */
#header p#searchArea label#searchArea2 {
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	top: -10px;
}


/* PublicComment
========================================== */
#header dl#publicComment {
	float: right;
	padding: 16px 0;
}

#header dl#publicComment dt {
	float: left;
	margin: 0 6px 0 0;
	width: 258px;
	height: 25px;
	background: url(../../images/base/structure_parts.png) no-repeat 0 -90px;
	text-indent: -9999px;
	overflow: hidden;
}

#header dl#publicComment dd {
	float: left;
	width: 120px;
}

#header dl#publicComment dd a {
	display: block;
	height: 25px;
	background: url(../../images/base/structure_parts.png) no-repeat 0 -115px;
	text-indent: -9999px;
	overflow: hidden;
}
#header dl#publicComment dd a:hover {
	background-position: -120px -115px;
}
#header p#searchArea label#searchArea2 {
	display:block;
	position:absolute;
	visibility: hidden;
	z-index:0;
}


/* Globalnavi
****************************************************************************/
#globalnavi {
	padding: 2px 12px;
	background: url(../../images/base/globalnavi_bg_01.png) repeat-x;
	zoom: 1;
}

#globalnavi .inner {
	padding: 0 7px 0 0;
	background: url(../../images/base/globalnavi_bg_02.png) no-repeat 100% -378px;
	zoom: 1;
}

#globalnavi ul.menu {
	padding: 0 0 0 7px;
	background: url(../../images/base/globalnavi_bg_02.png) no-repeat 0 -378px;
	zoom: 1;
}
#globalnavi ul.menu:after {
	content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#globalnavi ul.menu li {
	float: left;
	background: url(../../images/base/globalnavi_bg_02.png) no-repeat 0 -336px;
	text-align: center;
}
#globalnavi ul.menu li#gnavi01 { width: 14%;}
#globalnavi ul.menu li#gnavi02 { width: 10.5%;}
#globalnavi ul.menu li#gnavi03 { width: 12.5%;}
#globalnavi ul.menu li#gnavi04 { width: 17.5%;}
#globalnavi ul.menu li#gnavi05 { width: 14%;}
#globalnavi ul.menu li#gnavi06 { width: 13%;}
#globalnavi ul.menu li#gnavi07 { width: 18.5%;}
* html #globalnavi ul.menu li#gnavi07 { width: 18.3%;}
*:first-child + html #globalnavi ul.menu li#gnavi07 { width: 18.3%;}

#globalnavi ul.menu li a {
	display: block;
	margin: 0 0 0 1px;
	height: 42px;
	background: url(../../images/base/globalnavi_bg_02.png) no-repeat 50% 0;
	text-indent: -9999em;
	overflow: hidden;
}
#globalnavi ul.menu li#gnavi02 a { background-position: 50% -42px;}
#globalnavi ul.menu li#gnavi03 a { background-position: 50% -84px;}
#globalnavi ul.menu li#gnavi04 a { background-position: 50% -126px;}
#globalnavi ul.menu li#gnavi05 a { background-position: 50% -168px;}
#globalnavi ul.menu li#gnavi06 a { background-position: 50% -210px;}
#globalnavi ul.menu li#gnavi07 a { background-position: 50% -252px;}

#globalnavi ul.menu li#gnavi02 a:hover { background-position: 50% -420px;}
#globalnavi ul.menu li#gnavi03 a:hover { background-position: 50% -462px;}
#globalnavi ul.menu li#gnavi04 a:hover { background-position: 50% -504px;}
#globalnavi ul.menu li#gnavi05 a:hover { background-position: 50% -546px;}
#globalnavi ul.menu li#gnavi06 a:hover { background-position: 50% -588px;}
#globalnavi ul.menu li#gnavi07 a:hover { background-position: 50% -630px;}

body.houdou_kouhou    #globalnavi ul.menu li#gnavi02 a { background-position: 50% -672px !important;}
body.seisakunitsuite  #globalnavi ul.menu li#gnavi03 a { background-position: 50% -714px !important;}
body.kouseiroudoushou #globalnavi ul.menu li#gnavi04 a { background-position: 50% -756px !important;}
body.toukei_hakusho   #globalnavi ul.menu li#gnavi05 a { background-position: 50% -798px !important;}
body.shokanhourei     #globalnavi ul.menu li#gnavi06 a { background-position: 50% -840px !important;}
body.shinsei_boshu    #globalnavi ul.menu li#gnavi07 a { background-position: 50% -882px !important;}

#globalnavi ul.menu li#gnavi01 {
	background: url(../../images/base/globalnavi_bg_02.png) no-repeat 100% -294px;
}
#globalnavi ul.menu li#gnavi01 a {
	margin: 12px auto;
	width: 110px;
	height: 18px;
	background-position: -415px -12px;
}



/* PageTop
****************************************************************************/
#pageTop {
	background: url(../../images/base/bg_04.png) repeat-x 50% 0;
}

#pageTop p {
	display: block;
	height: 25px;
	background: url(../../images/base/bg_03.png) no-repeat 50% 0;
	padding-top: 40px;
}

#pageTop a {
	display: block;
	margin: 0 30px 0 auto;
	width: 161px;
	height: 27px;
	background: url(../../images/base/structure_parts.png) no-repeat 0 -141px;
	text-indent: -9999px;
	overflow: hidden;
}

#pageTop p a:hover {
	background-position: -161px -141px;
}
* html #pageTop p a {top: 38px;}



/* FooterNavi
****************************************************************************/
#footerNavi {
	background: url(../../images/base/footerNavi_bg_02.png);
}

#footerNavi .inner {
	padding: 1px 20px;
	background: url(../../images/base/footerNavi_bg_01.png) repeat-x 0 100%;
	zoom: 1;
}

#footerNavi .inner ul.menu {
	margin: 2px 0;
	text-align: center;
}

#footerNavi .inner ul.menu li {
	display: inline;
	margin: 0 6px;
	padding: 0 0 0 15px;
	background: url(../../images/base/footerNavi_ico_01.png) no-repeat 0 50%;
	font-size: 140%;
	line-height: 1.429;
}

#footerNavi .inner ul.menu li a {
	color: #FFFFFF;
	text-decoration: underline;
}

#footerNavi .inner ul.menu li a:hover {
	text-decoration: none;
}



/* Footer
****************************************************************************/
#footer {
	margin: 0 auto;
	padding: 12px 20px 48px;
}

#footer p.logo {
	margin: 0 0 12px;
	text-align: center;
}

#footer address {
	font-size: 140%;
	line-height: 1.429;
	text-align: center;
}

#footer p#copyright {
	font-size: 140%;
	line-height: 1.429;
	text-align: center;
}