@charset "shift_jis";

/* =======================================

	Table CSS

========================================== */


/* prt-table
****************************************************************************/
#contents div.prt-table {
	margin: 0 0 20px;
}

#contents div.prt-table p.notes {
	margin: 0;
	text-align: right;
}

#contents div.prt-table table {
	margin: 0;
	padding: 0;
	width: 100%;
	border: solid #CCCCCC;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 0 1px 1px 0;
}
* html #contents div.prt-table table {
	border-collapse: collapse;
}
*:first-child + html #contents div.prt-table table {
	border-collapse: collapse;
}

#contents div.prt-table table th,
#contents div.prt-table table td {
	margin: 0;
	padding: 4px 12px;
	border: solid #CCCCCC;
	border-width: 1px 0 0 1px;
}

#contents div.prt-table table th {
	background-color: #EFEFEF;
}

#contents div.prt-table table td {
}
#contents div.prt-table table td.indent  {	padding-left: 24px;}
#contents div.prt-table table td.indent2 {	padding-left: 36px;}
#contents div.prt-table table td.indent3 {	padding-left: 48px;}
#contents div.prt-table table td.indent4 {	padding-left: 60px;}
#contents div.prt-table table td.indent5 {	padding-left: 72px;}

#contents div.prt-table table th.indent  {	padding-left: 24px;}
#contents div.prt-table table th.indent2 {	padding-left: 36px;}
#contents div.prt-table table th.indent3 {	padding-left: 48px;}
#contents div.prt-table table th.indent4 {	padding-left: 60px;}
#contents div.prt-table table th.indent5 {	padding-left: 72px;}

#contents div.prt-table table thead th,
#contents div.prt-table table th.thead {
	background-color: #E0E0E0;
	text-align: center;
	font-weight: bold;
}

#contents div.prt-table table tbody th {
}


@media print {

#contents div.prt-table table {
	border: solid #CCCCCC;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 0 1px 1px 0;
}

#contents div.prt-table table tr th,
#contents div.prt-table table tr td {word-break : break-all;}

}


/* prt-topicsTable
****************************************************************************/
#contents div.prt-topicsTable {
	margin: 0 0 20px;
}

#contents div.prt-topicsTable table {
	border-collapse: collapse;
	border-spacing: 0;
	position: relative;
	top: 6px;
	margin: -6px 0 0;
	padding: 0;
	zoom: 1;
}

#contents div.prt-topicsTable table tr th,
#contents div.prt-topicsTable table tr td {
	margin: 0;
	padding: 0 0 6px;
}

#contents div.prt-topicsTable table tr th {
	white-space: nowrap;
	padding-right: 25px;
}

#contents div.prt-topicsTable table tr td {
	padding-left: 14px;
	width: 100%;
}


#contents div.prt-topicsTable table tr td ul.ico-link ,
#contents div.prt-topicsTable table tr td ul.ico-blank,
#contents div.prt-topicsTable table tr td ul.ico-pdf  ,
#contents div.prt-topicsTable table tr td ul.ico-word ,
#contents div.prt-topicsTable table tr td ul.ico-excel,
#contents div.prt-topicsTable table tr td ul.ico-ppt  ,
#contents div.prt-topicsTable table tr td ul.ico-up   ,
#contents div.prt-topicsTable table tr td ul.ico-down {
	margin-left: -14px;
}




/* prt-outlineTable
****************************************************************************/
#contents div.prt-outlineTable {
	margin: 0 0 20px;
}

#contents div.prt-outlineTable table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

#contents div.prt-outlineTable table th,
#contents div.prt-outlineTable table td {
	margin: 0;
	padding: 0;
}

#contents div.prt-outlineTable table th {
	padding-right: 15px;
	text-align: right;
	font-weight: normal;
}

#contents div.prt-outlineTable table td {
	padding-left: 15px;
}



/* prt-layoutTable
****************************************************************************/
#contents div.prt-layoutTable {
}

#contents div.prt-layoutTable table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}
#contents div.prt-layoutTable table.left   { margin: 0 auto 0 0;}
#contents div.prt-layoutTable table.center { margin: 0 auto;}
#contents div.prt-layoutTable table.right  { margin: 0 0 0 auto;}

#contents div.prt-layoutTable table th,
#contents div.prt-layoutTable table td {
	margin: 0;
	padding: 0;
}