@charset "shift_jis";

/* =======================================

	Text Decorations CSS

========================================== */

/* Font Size
*****************************************************************************
* reset.cssにて#documentを77%に設定。
* （基準値を10pxとし内包要素を%で相対指定。）
*****************************************************************************/

/* Headings
========================================== */
#main h1 {
	font-size: 200%;
	line-height: 1.2;
}

#main h2 {
	font-size: 180%;
	line-height: 1.223;
}

#main h3 {
	font-size: 160%;
	line-height: 1.375;
}

#main h4,
#main h5,
#main h6 {
	font-size: 140%;
	line-height: 1.572;
}


/* Elements
========================================== */
#main p, #main pre, #main address, #main th, #main td,
#main li, #main dt, #main dd {
	font-size: 140%;
	line-height: 1.572;
}

/* Inner Reset */
#main th h4, #main th h5, #main th h6,
#main td h4, #main td h5, #main td h6,
#main li h4, #main li h5, #main li h6,
#main dt h4, #main dt h5, #main dt h6,
#main dd h4, #main dd h5, #main dd h6,
#main th p, #main th address, #main th pre, #main th li, #main th dt, #main th dd,
#main td p, #main td address, #main td pre, #main td li, #main td dt, #main td dd, #main td th, #main td td,
#main li p, #main li address, #main li pre, #main li li, #main li dt, #main li dd, #main li th, #main li td,
#main dt p, #main dt address, #main dt pre, #main dt li, #main dt dt, #main dt dd,
#main dd p, #main dd address, #main dd pre, #main dd li, #main dd dt, #main dd dd, #main dd th, #main dd td {
	font-size: 100%;
}


/* General Purpose
========================================== */
p.fz-small,  th.fz-small,  td.fz-small,  li.fz-small , dt.fz-small , dd.fz-small  {	font-size: 120% !important;}
p.fz-medium, th.fz-medium, td.fz-medium, li.fz-medium, dt.fz-medium, dd.fz-medium {	font-size: 140% !important;}
p.fz-large,  th.fz-large,  td.fz-large,  li.fz-large,  dt.fz-large,  dd.fz-large  {	font-size: 160% !important;}

p .fz-small,  pre .fz-small,  address .fz-small,  th .fz-small,  td .fz-small,  li .fz-small,  dt .fz-small,  dd .fz-small  { font-size: 83.4% !important;}
p .fz-medium, pre .fz-medium, address .fz-medium, th .fz-medium, td .fz-medium, li .fz-medium, dt .fz-medium, dd .fz-medium { font-size: 100% !important;}
p .fz-large,  pre .fz-large,  address .fz-large,  th .fz-large,  td .fz-large,  li .fz-large,  dt .fz-large,  dd .fz-large  { font-size: 133.4% !important;}

table.fz-small, table.fz-small {	font-size: 100% !important;}
table.fz-small th, table.fz-small td {	font-size: 120% !important;}


/* Font Weight & Style
****************************************************************************/

#main strong, #main dfn,
#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
	font-weight: bold;
}

#main em {
	color: #F74242;
	font-weight: bold;
}

.fw-bold   { font-weight: bold !important;}
.fw-normal { font-weight: normal !important;}

.fs-italic { font-style: italic !important;}
.fs-none   { font-style: none !important;}

.attention {color: #F74242 !important;}


/* Text Align
****************************************************************************/

.al-right  { text-align: right !important;}
.al-center { text-align: center !important;}
.al-left   { text-align: left !important;}

.va-top    { vertical-align: top !important;}
.va-middle { vertical-align: middle !important;}
.va-bottom { vertical-align: bottom !important;}


table.al-right  th, table.al-right  td { text-align: right !important;}
table.al-center th, table.al-center td { text-align: center !important;}
table.al-left   th, table.al-left   td { text-align: left !important;}

table.al-right-th  th { text-align: right !important;}
table.al-center-th th { text-align: center !important;}
table.al-left-th   th { text-align: left !important;}

table.al-right-td  td { text-align: right !important;}
table.al-center-td td { text-align: center !important;}
table.al-left-td   td { text-align: left !important;}

table.va-top    th, table.va-top    td { vertical-align: top !important;}
table.va-middle th, table.va-middle td { vertical-align: middle !important;}
table.va-bottom th, table.va-bottom td { vertical-align: bottom !important;}

table.va-top-th    th { vertical-align: top !important;}
table.va-middle-th th { vertical-align: middle !important;}
table.va-bottom-th th { vertical-align: bottom !important;}

table.va-top-td    td, table.va-top    td { vertical-align: top !important;}
table.va-middle-td td, table.va-middle td { vertical-align: middle !important;}
table.va-bottom-td td, table.va-bottom td { vertical-align: bottom !important;}


/* Float
****************************************************************************/

.fl-left  { float: left  !important;}
.fl-right { float: right !important;}
* html .fl-left  { display: inline !important;}
* html .fl-right { display: inline !important;}

.fl-imgLeft  { float: left !important; margin-right: 10px !important;}
.fl-imgRight { float: right !important; margin-left: 10px !important;}

.clear      { clear: both !important;}
.clearfix   { zoom: 1;}
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;}

@media print {
	.clearfix {
		overflow: hidden;
	}
	* html .clearfix {
		overflow: visible;
	}
}


/* Margin
****************************************************************************/

#contents .section {
	margin: 0 0 40px;
}

#contents div.prt-topContents .section,
#contents .section .section {
	margin: 0 0 20px;
}

#contents .section .section .section {
	margin: 0 0 20px;
}

#contents .section .section .section .section {
	margin: 0 0 10px;
}

#contents h1 {
	margin: 0 0 15px;
}

#contents h2 {
	margin: 0 0 10px;
}

#contents h3,
#contents h4,
#contents h5,
#contents h6 {
	margin: 0 0 5px;
}

#contents p, #contents pre, #contents ul, #contents ol, #contents dl {
	margin: 0 0 10px;
}


#contents table p, #contents ul p, #contents ol p, #contents dl p,
#contents table table, #contents ul table, #contents ol table, #contents dl table,
#contents table ul, #contents ul ul, #contents ol ul, #contents dl ul,
#contents table ol, #contents ul ol, #contents ol ol, #contents dl ol,
#contents table dl, #contents ul dl, #contents ol dl, #contents dl dl {
	margin: 0;
}




.w-auto   { width: auto !important;}
.w-100per { width: 100% !important;}


.tbl-fixed { table-layout: fixed !important;}


.whs-nowrap { white-space: nowrap !important;}
.whs-normal { white-space: normal; !important;}


/* Color
****************************************************************************/
.c-red { color: #FF0000 !important;}



/* Layout Adjust
****************************************************************************/
.mt0  { margin-top:     0   !important;}
.mr0  { margin-right:   0   !important;}
.mb0  { margin-bottom:  0   !important;}
.ml0  { margin-left:    0   !important;}
.mt5  { margin-top:     5px !important;}
.mr5  { margin-right:   5px !important;}
.mb5  { margin-bottom:  5px !important;}
.ml15 { margin-left:   15px !important;}
.mt10 { margin-top:    10px !important;}
.mr10 { margin-right:  10px !important;}
.mb10 { margin-bottom: 10px !important;}
.ml10 { margin-left:   10px !important;}
.mt15 { margin-top:    15px !important;}
.mr15 { margin-right:  15px !important;}
.mb15 { margin-bottom: 15px !important;}
.ml15 { margin-left:   15px !important;}
.mt20 { margin-top:    20px !important;}
.mr20 { margin-right:  20px !important;}
.mb20 { margin-bottom: 20px !important;}
.ml20 { margin-left:   20px !important;}
.mt30 { margin-top:    30px !important;}
.mr30 { margin-right:  30px !important;}
.mb30 { margin-bottom: 30px !important;}
.ml30 { margin-left:   30px !important;}


.pt0  { padding-top:     0   !important;}
.pr0  { padding-right:   0   !important;}
.pb0  { padding-bottom:  0   !important;}
.pl0  { padding-left:    0   !important;}
.pt10 { padding-top:    10px !important;}
.pr10 { padding-right:  10px !important;}
.pb10 { padding-bottom: 10px !important;}
.pl10 { padding-left:   10px !important;}
.pt15 { padding-top:    15px !important;}
.pr15 { padding-right:  15px !important;}
.pb15 { padding-bottom: 15px !important;}
.pl15 { padding-left:   15px !important;}
.pb30 { padding-bottom: 30px !important;}
.pl30 { padding-left:   30px !important;}
.p10  { padding:        10px !important;}


/* Decorations
****************************************************************************/
.underLine {text-decoration: underline !important; font-weight: normal !important;}
.b_border {border: 1px solid #000;}


.bd_none  { border:        none !important;}
.bdt_none { border-top:    none !important;}
.bdl_none { border-left:   none !important;}
.bdr_none { border-right:  none !important;}
.bdb_none { border-bottom: none !important;}

.img-bd01 {border: 5px solid #dddddd !important;}

a:hover img.img-bd01 {
	 border-color: #003399 !important;
	 opacity: 0.65;
	 filter: alpha(opacity=65);
}


/* Form
****************************************************************************/
input.textbox {	width: 80%; border: 1px solid #809DB9;}
textarea.textArea {width: 80%; border: 1px solid #809DB9;}

.ico-necessary { margin: 0 3px 0 0;}
.ico-necessary img {vertical-align: middle;}

table tr th .ico-necessary,
table tr td .ico-necessary { margin: 0; padding: 3px 0;}

fieldset {border: none;}