/* 
Cepon - CSS File

CHANGE COLOR STYLE

*/

body {background:#f6f6f6;}

/* ============================================== MAIN COLOR ============================================== */
body {color:#777;}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .com-date  {color:#222;}
a, .morelink, .colortext, a.colortext, .mas-pricing-table .mas-pricing-header {color:#247DB5;}
#top-menu a, .ls-wrapper .ls-nav a p, #filter li a {color:#777;}
#breaking a, .first-info > span {color:#999;}
#top-menu a:hover, #logo h1 a, #logo h1 a:visited, #main-menu a, #main-menu a:visited, .mas-login > a,
	.allposts .contentheading a, .allposts .posttitle a, .portfolio .hover .post-title a, .tab_wrap ul.tabs li a,
	.allposts .the-time .comments a:hover, ul.page-numbers li a:hover, .tab-pane .cate a, .tab-pane .more-link,
	ul.page-numbers li span, .contact-page p, .mas_posts .latest-item h4 a, .metaOnAbove h4 a {color:#FFFFFF;}
#crumbs a, #main-menu .sub-menu a, input, input[type='text'], input[type='email'], textarea, 
	input[type='password'], select, .allposts .the-time .comments a, .tagcloud a { color:inherit; }
#main-menu li.active > a, #main-menu a:hover, #main-menu li.sfHover > a, #main-menu li > a:hover, .allposts .posttitle a:hover, 
	.tab_wrap ul.tabs li a:hover, .tab_wrap ul.tabs li a:hover {color:#000000;}
/*#footbar-wrapper, #footbar-wrapper a, #footbar-wrapper a:visited {color:#E9AFAF;}*/
a:hover, a.colortext:hover, .colortext a:hover, .morelink:hover, .mas_posts .latest-item h4 a:hover, .metaOnAbove h4 a:hover,
	.sidebar li a:hover, .sidebar li li a:hover, .sidebar li li a.current{color:#b53132; text-decoration:none;}
pre {color: #999;}
.pageheading, .pageheading a, .cameraContent .slide-title h3 a, ul.page-numbers li a, .liquid-slider.tabs h3 a, #main-menu li.dropdown:hover a,
	#social-menu a, #filter li.active, .tab_wrap ul.tabs li.active a, .tab_wrap ul.tabs li.active a:hover, .portfolio .hover a, .color1 ~ div a,
	.btn, button, input[type='submit'], input[type='reset'], input[type='button'], .social a, #ct-action h2, .accButton > i, #crumbs > span:first-child,
	.btn:hover, button:hover, input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover, .tagcloud a:hover,
	.icontext, #footbar .widget-title, .mas-pricing-table.best .mas-pricing-header, #footbar-wrapper a:hover {color:#fff;}


/*============================================== BACKGROUND AND BORDER ==============================================*/
/* Use Main Color */

.our-team .thumbnail .btn {background: #999999;}
.color1, .color1 .widget-title, .color1 .widgettitle, .title-colored .widgettitle, .title-colored .widget-title, .stickyInAction,  
	.color1 a, #toTop, #filter li.current a, #filter li a:hover, #mas-mainnav .navbar-toggle {background:#D02F2F; color:#fff;}
#topest, #crumbs > span:first-child {background:#E0E0E0;}
#header-wrapper, #mas-slider, #mas-bread, .accButton:hover {background: #f0f0f0;}
#mas-slider > div, #main-wrapper .container, #bottom-top .container, .with-tab .ls-wrapper .ls-nav, .your-login, .mas-pricing, #mas-mainnav.affix,
	#mas-mainnav .container, #main-menu li:hover ul, #main-menu li.sfHover ul, .panel-group .panel-heading + .panel-collapse .panel-body, 
	.loaded {background:#ffffff;}
.tagcloud a  {background-color: #eee;}
.social a {background-color:#bfbfbf;}
.social a:hover {background-color:#555;}
#main-menu > li > a, #main-menu > li > a:hover, #main-menu > li > a:focus {}
#main-menu li.dropdown > a:hover, #main-menu li.sfHover.dropdown > a, #main-menu li.dropdown ul, .tagcloud a:hover,
	#ct-action, a span.title, .accButton > i, ul.page-numbers li a, ul.page-numbers li span, .our-team .thumbnail .btn:hover,
	.tab_wrap ul.tabs li.active a, .best .mas-pricing .mas-pricing-header, #footbar-wrapper {background:#247DB7;}
code, pre, .panel-default, .panel-default > .panel-heading, ul.page-numbers li .current, ul.page-numbers li a:hover, .our-team,
	.loaded, .accButton, #works-wrapper.home-bar, .mas_posts .margin:not(.testi), input, input[type='text'], input[type='email'], 
	input[type='password'], textarea, select {background-color:#F5F5F5;}
.panel-default:hover, .panel-default > .panel-heading:hover, hr, .separator {background-color:#ddd;}
ul.checklist li{ background:url(images/checklist.png) no-repeat 0 5px;}
.btn:hover, button:hover, input[type='submit']:hover, input[type='reset']:hover, .btn-act:hover ,
	input[type='button']:hover, .icontext:hover, #mas-mainnav .navbar-toggle:hover, .accButton:hover > i {background:#B53132;}
.loaded:hover {background: #f9f9f9;}
.entry-quote blockquote{background:url(images/start-quote.png) 0 0 no-repeat;}
.portf-detail {background:#e8e8e8;}
input.searchbutton {background: url(images/search-icon.png) no-repeat 8px 7px!important;}
#toTop:hover {background-color: #CC4042;}
.best .mas-pricing {background:#1a1b1f;}
.mas_posts .latest-item h5, .entry-quote .quotearrow {background: url(images/light/testimonial-ballon.png) 0 0 no-repeat;}
#main-menu li.active > a, #main-menu a:hover, #main-menu li.sfHover > a, #main-menu li > a:hover, .nav-tabs > li > a:hover, 
	#searchform #s, .mfp-container button:hover, #filter li a {background:transparent;}
.navbar-default {background:transparent; border:none;}
.simple_tweet_widget ul {background-color: #CC4042; border-left: 6px solid #C93638;}

.btn, button, input[type='submit'], input[type='reset'], input[type='button'], .icontext, .btn-act {
	background-color: #c93638; border-color:transparent;
}

#main-menu .sub-menu a {border-bottom:1px solid #CE4A4C}

#headercontainer.top0 {}
#main-menu li ul {
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

a:focus, a:visited, input:focus, textarea:focus, button:focus, select:focus, .btn:focus {outline:none;}

.tab_wrap ul.tabs li a{}

#main-menu .sub-menu a {border-bottom:1px solid #CE4A4C}

/* #Media Queries
================================================== */
/* Only affected toogle menu */
@media only screen and (max-width: 1022px) {
	#main-menu li.dropdown > a:hover, #main-menu li.sfHover.dropdown > a {background:transparent; color:#222;}
	#main-menu li.dropdown:hover a {color:#222;}
	#main-menu .sub-menu a {border-bottom-color:#e8e8e8;}
}

/* Smaller than standard 992 (devices and browsers) */
@media only screen and (max-width: 992px) {
	.navbar-collapse {background-color:#0E6DAF; border-top:1px solid #eee;}
}