/* 
Masf - CSS File
THE GENERAL STYLE FOR MAS FRAMEWORK
*/

/* =Global Elements
-------------------------------------------------------------- */
/* Heading */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  /*line-height: 1.4;*/
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0 0 0 0;
  
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 33px;
}
h3, .h3, h1 small, .h1 small {
  /*font-size: 26px;*/
}
h4, .h4, h2 small, .h2 small {
  font-size: 14px;
}
h5, .h5, h3 small, .h3 small, h4 small, .h4 small  {
  font-size: 15px;
}
h6,
.h6 {
  font-size: 13px;
}

/* List */

ul.list{list-style-type:none; margin:0; padding:0;}
ul.list li{padding:0 0 5px 0; margin:0 0 5px 0;}

ul.checklist{list-style-type:none; padding:0; margin:0;}
ul.checklist li{padding:0 0 6px 20px;}

ul.client-list {float:right; list-style:none;}
ul.client-list li { float:left; padding:5px 10px; margin:0 0 10px 6px; display:block; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* Images */
img {
	max-width: 100%;
	height: auto;
}
.imgopacity:hover{opacity:0.5;}

pre {border-radius:0;}

/* form & button */
form{margin:0; padding:0;}

input, textarea, select{
	font-size:15px;
	padding:7px 5px;
	font-family:Arial;
	border-radius: 0;
	max-width:100%;
}
/*input:not(.btn), select {height:37px;}*/
textarea{width:90%;}

.btn, .btn:visited, input[type="submit"], input[type="reset"], input[type="button"], button {
	border:0px;
	
	font-size:15px;
	cursor:pointer;
	line-height:24px;
	border-radius: 0;
	
	
}
.btn-lg {
	padding: 14px 24px;
	font-size: 21px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}
.btn:hover, input[type="submit"]:hover,input[type="reset"]:hover, input[type="button"]:hover, button:hover{
	text-decoration:none;
}

.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {}

.btn.mini{font-size:12px; padding:6px 15px 7px 15px;}
.btn.small{font-size:15px;}
.btn.large{font-size:18px; line-height:18px; padding:9px 25px 10px 25px;}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

/* Separator */
.spacer{
	display:block;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	text-align:center;
	width:100%;
	clear:both;
}
.separator {
	height:1px;
	padding:0;
	margin:44px 0 84px 0;
	text-align:center;
	width:100%;
	clear:both;
	border:0;
}

/* float align */
.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
	margin-top: 3px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
	margin-top: 4px;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignnone {}


img.alignleft, 
img.alignright, 
img.aligncenter
{
	margin-bottom: 12px;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
.hidden {display:none;}

.bottomline{border-width:0px 0px 1px 0px; border-style:solid; padding-bottom:13px; margin-bottom:24px;}

/* GALLERY
-------------------------------------------------------------- */
#content .gallery {	margin: 0 auto 1.625em;}
#content .gallery.row{margin:0px -15px;}
#content .gallery a img {border: none;display:block;}
.gallery .columns{margin-bottom:20px;}

.gallery { margin: 0 auto 18px; }
.gallery .gallery-item {
	float: left;
	margin:0 0 20px 0;
	text-align: center;
}

.gallery-columns-1 .gallery-item { width: 100%; margin-right:0% }

.gallery-columns-2 .gallery-item { width: 49%; margin-right:2% }
.gallery-columns-2 .gallery-item:nth-of-type(2n+2){margin-right:0;}

.gallery-columns-3 .gallery-item { width: 32%; margin-right:2% }
.gallery-columns-3 .gallery-item:nth-of-type(3n+3){margin-right:0;}

.gallery-columns-4 .gallery-item { width: 23.444%; margin-right:2%}
.gallery-columns-4 .gallery-item:nth-of-type(4n+4){margin-right:0;}

.gallery-columns-5 .gallery-item { width: 18.333%; margin-right:2%}
.gallery-columns-5 .gallery-item:nth-of-type(5n+5){margin-right:0;}

.gallery-columns-6 .gallery-item { width: 15.655%; margin-right:1%}
.gallery-columns-6 .gallery-item:nth-of-type(6n+6){margin-right:0;}

.gallery-columns-7 .gallery-item { width: 13.244%; margin-right:1%}
.gallery-columns-7 .gallery-item:nth-of-type(7n+7){margin-right:0;}

.gallery-columns-8 .gallery-item { width: 11.144%; margin-right:1%}
.gallery-columns-8 .gallery-item:nth-of-type(8n+8){margin-right:0;}

.gallery-columns-9 .gallery-item { width: 10%; margin-right:1%}
.gallery-columns-9 .gallery-item:nth-of-type(9n+9){margin-right:0;}

.gallery-columns-10 .gallery-item { width: 9%; margin-right:1%}
.gallery-columns-10 .gallery-item:nth-of-type(10n+10){margin-right:0;}

.gallery img { margin:0px auto 12px;}
.gallery img:hover {
	background: white;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	margin: 0 0 12px;
	font-size:14px; line-height:20px;
}
.gallery dl, .gallery dt { margin: 0; }
.gallery br+br { display: none; }

/* CUSTOM GALLERY
-------------------------------------------------------------- */
.cepon-gallery-container  .clearfix {margin:0 -15px;}
.cepon-gallery-thumb{width:25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float:left; padding:0px 15px; margin-bottom:20px;}
.cepon-gallery-thumb img{display:block;}\

/* BLOG STYLE
-------------------------------------------------------------- */
/* Post Format */
article .gallery-list.row{margin-top:-15px;}
.entry-gallery .gallery-list.row{margin-top:-7px;}
article .gallery-list .columns{padding-bottom:15px; padding-top:15px;}
article .gallery-list img{display:block;}
.entry-quote .frame{display:block; float:left; margin-right:10px; width:40px; height:40px;}
.entry-quote .frame img{display:block;}
.entry-quote .info{display:inline-block;}
.entry-quote .info.withimg{padding-top:10px;}
.mediacontainer{margin-bottom:13px;}
.mediacontainer audio{width:100%;}
.mediacontainer iframe, .mediacontainer object, .mediacontainer video{width:100%; height:350px;}
article .flexslider{background:none; box-shadow:0px 0px; padding:0px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; border:0px; margin:0px;}
article ul.flex-direction-nav li{ display:block; padding:0px;}
article ul.slides > li{padding:0px;}
article ul.flex-direction-nav a{display:block;  position:absolute; top:50%; margin-top:-23px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; width:46px; height:46px; background-repeat:no-repeat; background-position:center; text-indent:-9999px;}
article ul.flex-direction-nav a.flex-prev{background-image:url(../images/slider-arrow-left.png); left:30px; background-position:center;}
article ul.flex-direction-nav a.flex-next{background-image:url(../images/slider-arrow-right.png); right:30px; background-position:center;}
article ul.flex-direction-nav a{background-color:rgba(0,0,0,0.5);}
article ul.flex-direction-nav a:hover{background-color:rgba(0,0,0,0.75);}
article .flex-control-nav{display:none;}
.format-status .entry-header h1{ font-size:18px; line-height:normal; margin:0px 0px 10px 0px;}
.format-status .entry-header h2{ font-size:15px; line-height:normal;}
.format-status .entry-header header{display:inline-block;}
.format-status .entry-header img{float:left; margin-right:18px;}
.format-status .entry-content{clear:both;}

/*=== Image Carousel ===*/
.widget_masf_pcarousel{padding-right:0px;}
.flexslider-carousel{position:relative;}
.flexslider-carousel ul li{
	height:100%;
	float:left;
	display:block;
	list-style-type:none;
	padding:0px 15px;
	margin-left:0;
	margin-right:0; 
	margin-bottom:0px;
	border:0px;
	background:none;
}
.flexslider-carousel ul li a{
	display:block;
}
.flexslider-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.flexslider-carousel ul.flex-direction-nav li{ display:block; padding:0px;}
.flexslider-carousel ul.flex-direction-nav a{display:block;  position:absolute; top:50%; margin-top:-23px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; width:46px; height:46px; background-repeat:no-repeat; background-position:center; text-indent:-9999px;}
.flexslider-carousel ul.flex-direction-nav a{opacity:0;}
.flexslider-carousel .flex-direction-nav .flex-disabled{display:none;}
.flexslider-carousel:hover ul.flex-direction-nav a{opacity:1;}
.flexslider-carousel:hover .flex-direction-nav .flex-disabled{display:block;}
.flexslider-carousel ul.flex-direction-nav a.flex-prev{left:30px; background-position:center;}
.flexslider-carousel ul.flex-direction-nav a.flex-next{right:30px; background-position:center;}
.flexslider-carousel .flex-control-nav{margin:0px 15px;}
.flexslider-carousel .flex-control-nav li a{margin:0px 5px;}
.flexslider-carousel .flex-control-nav li{background-image:none; padding:0px; margin:0px; border:0px;}
.flexslider-carousel ul.flex-direction-nav a{background-color:rgba(0,0,0,0.5);}
.flexslider-carousel ul.flex-direction-nav a:hover{background-color:rgba(0,0,0,0.75);}
.flexslider-carousel ul.flex-direction-nav a.flex-prev{background-image:url(../images/slider-arrow-left.png); background-position:center;}
.flexslider-carousel ul.flex-direction-nav a.flex-next{background-image:url(../images/slider-arrow-right.png); background-position:center;}

/*=== Sidebar Tabs ===*/
.widget_masf_tabs .tabcontainer{}
.widget_masf_tabs ul.tabs {margin:0; padding:0 0 0px 0; list-style:none;}
.widget_masf_tabs ul.tabs li {
	margin:0 1px 0 0;
	padding:0;
	display: inline-block;
	position: relative;
	line-height:32px;
	font-size: 12px;
	text-transform: uppercase;
}
.widget_masf_tabs ul.tabs li a {
	text-decoration: none;
	display: block;
	padding:8px 20px;
	outline: none;
}

.widget_masf_tabs .tab-content h3 a{ font-size:15px;}

.widget_masf_tabs .tab-content ul li img.frame{ width:64px;}
.widget_masf_tabs .tab-content {padding:20px 25px;}
.widget_masf_tabs .tab-content ul li{ margin:0; padding:14px 0; list-style-type:none; background:none;}
.sidebar .widget_masf_tabs .tab-content ul li{ margin:0; list-style-type:none; background:none;}
.widget_masf_tabs .tab-content ul li img{float:left; margin-right:13px; margin-top:0px;}
.widget_masf_tabs .tab-content ul li h3{ font-size:13px; margin:0; padding-top:3px; line-height:20px; text-transform:none;}
.widget_masf_tabs .tab-content ul li .smalldate{ font-size:11px;}
.widget_masf_tabs .tab-content ul li:before { content:""; padding:0px}
.widget_masf_tabs .tab-content ul li:after {clear:both; display:block; content:"";}
.widget_masf_tabs #tab-body{padding:0 0px;}


/*======= Sidebar =======*/


/* recent comment sidebar */
.sidebar .masf-recent-comment-widget li{padding-bottom:4px; margin-bottom:10px; clear:both; background:transparent}
.sidebar .masf-recent-comment-widget a{background:transparent; padding:0;  display:inherit}
