#video_play {
    position: absolute;
    top: 40%;
    left: 45%;
}
#video_play1 {
    position: absolute;
    top: 40%;
    left: 45%;
}
#video_play2 {
    position: absolute;
    top: 44%;
    left: 45%;
}

#vcontainer {
    position: relative;
    display: inline-block;
}

@media only screen and (max-width: 65em) {
	#video_play1 {
    position: absolute;
    top: 40%;
    left: 28%;
}
}