/*  
Theme Name: Samaa TV English
Description: Cepon is the perfect solution for you photographer, writer, graphic designer, a blogger, or you just want to share the things you love, this is the perfect templates for your News Sites, Blogs, Magazines, Online Portals, and any news-oriented website.
Version: 1.0
Author: Muhammad Naveed Hasan
License: GNU General Public License
License URI: license.txt
Tags: one-column, two-columns, left-sidebar, right-sidebar, fluid-layout, custom-menu, editor-style, theme-options, translation-ready
*/

/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	font-family: Arial;
	/*font-family: "latoregular", Helvetica, Arial, sans-serif;*/
	font-size: 15px;
	line-height: 1.2;
	word-wrap: break-word;  
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

body.admin-bar {}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,#main-menu > li > a,#main-menu > li > ul > li > a, .apw-content a, .tp-carousel-posts .full-width,
	.tab-pane .cate, .com-date {font-family: Arial;}
/*p {margin:0 0 24px;}*/

.pagetitle{font-size:30px; line-height:110%; margin-bottom:0px; margin-right:10px; float:left;  }
.pagedesc { line-height:18px; font-size:11px;}

/* Icon Font Awesome */
li .fa {width:1.55em;}
.text-right .fa {text-align:left;}


/* CONTAINER
-------------------------------------------------------------- */
#wrapper{width:100%; margin:0; padding:0;}

#header-wrapper, #content-wrapper, #main-wrapper,  #footbar-wrapper, #footer-wrapper{width:100%; margin:0;}
#header-wrapper{ position:relative; z-index:9; }

/* HEADER & MENU
-------------------------------------------------------------- */
#topest{position:relative; z-index:5; font-size:12px;}
#topest .mas-date {display:inline-block;}
#topest .day-date {padding:11px 25px 11px 0; border-right:1px solid #CCC; margin-right:20px; display:inline-block;}
#topest ul {margin: 0;}
#topest ul.social {line-height:0;}
#top-menu {float:left; padding:11px 0 10px;}
.mas-break {padding:20px 0 15px;}

.mas-break1 {padding:-20px -20px -20px;}
.mas-break1, #mas-mainnav.affix {border-bottom:1px solid #E4E4E4;/*margin:-10px;*/}
.mas-break2 {padding:10px 0 0;}


.widget .mas-newsticker {padding:0; margin:0; height:26px; list-style-type: armenian;}
.mas-newsticker li {line-height:32px; font-size:16px;}
.mas-newsticker li p {margin:0;}
/*#logo-head {padding:20px 0 0;} */
#logo-head {padding:0 0 0;}
#logo{margin-bottom:5px; padding:10px 0 10pxs 0; text-align:center;margin-top:5px;}
#logoimg a {display:block;}
#logo h1, #logo h2 {line-height:100%; margin-bottom:0px; font-size:23px; margin-top:0;}
#logo h1 a, #logo h2 a{line-height:100%; font-weight:bold;}
#logotext {margin:0; line-height:1;}
#logotext + span {padding-bottom:20px; display:block;}
#new-entry {font-size:13px;}

/* Menu 
----------------------- */

/* Social Menu */
.social {}
.social a {display:block; text-align:center; font-size:16px; line-height:42px; height:42px; position:relative; width:36px;}
.social i {}
.social .big a {font-size:19px; position:relative;}
.social span {position:absolute; left:-999em;}
.social.list-inline > li {padding:0; overflow:hidden;}

/* Main Menu */
#navigation{position:relative; z-index:200; margin:0; padding:0; background-color:#C2D8F0;}

#topnav{
	margin:0;
	list-style-type:none;
	position:relative;
	padding:0;
}

/* #mas-mainnav {margin-bottom:0; top:0; width:100%;} */
#mas-mainnav {margin-bottom:0; top:0; width:100%;}
#mas-mainnav.affix {box-shadow:0 2px 10px rgba(0, 0, 0, 0.15);}
.admin-bar #mas-mainnav.affix {top:32px;}

#main-menu li a .sf-sub-indicator {display:none;}
#main-menu li ul { position:absolute; left:0; top:100%; padding:0; min-width:150px; display:none; }
#main-menu li ul ul {left:100%; top:2px;}
#main-menu li li {display:block; position:relative;}
#main-menu li li a {display:block; padding:10px 20px; font-size:15px;}
#main-menu li li li a {padding:8px 20px; font-size:13px;}
#main-menu > li > a { padding:4px 14.9px; line-height:24px; text-transform:uppercase;font-size:14px; font-weight:bold;background-color:#0E6DAF; }
#mas-mainnav .navbar-toggle {float:left; margin-left:20px; margin:0; height:54px; border-radius:0; width:50px;}

/* Sub Menu Indicator */
#main-menu li a.sf-with-ul:after {
	content: '';
	display: inline-block;
	margin: 0 0 0 6px;
	height: 0;
	width: 0;
	vertical-align: middle;
}


/* SLIDER
-------------------------------------------------------------- */
#slidercontainer{padding:44px 0px 44px 0px; margin:0px;}
#slider{position:relative;}
#slider .flexslider{background:none; box-shadow:0px 0px; padding:0px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; border:0px; margin:0px;}
#slider ul.slides > li{padding:0px;}
.cameraContent .slide-title h3 a {font-family:'Comfortaa-Bold',Arial,Helvetica,sans-serif;}
.cameraContent {height:100%;}
.cameraContent > iframe {top:-35%!important;}

#slideritems{margin-bottom:0px !important;}
#slider ul.flex-direction-nav li{ display:block; padding:0px;}
#slider ul.flex-direction-nav a, #slider div.nivo-directionNav a, #slider .camera_prev, #slider .camera_next{display:block;  position:absolute; top:50%; margin-top:-23px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; width:46px; height:46px; background-repeat:no-repeat; background-position:center; text-indent:-9999px;}
#slider ul.flex-direction-nav a.flex-prev, #slider a.nivo-prevNav, #slider .camera_prev{left:30px; background-position:center;}
#slider ul.flex-direction-nav a.flex-next, #slider a.nivo-nextNav, #slider .camera_next{right:30px; background-position:center;}
#slider .camera_prev > span, #slider .camera_next > span{width:46px; height:46px;}
#slider .camera_pag{float: right; position: absolute; bottom: -8px; right: 10px;}
#mas-slider { padding: 30px 0 45px;}
#mas-slider .widget {margin-bottom: 0;}
#mas-slider .widgettitle {font-size: 20px;}

/* RECENT WORKS
-------------------------------------------------------------- */
.works > div {margin-bottom:48px;}
.works h2, .works h3, .works h4 {line-height:normal; margin:0;}
.works .textwidget {}

/* BREADCRUMBS
-------------------------------------------------------------- */
#mas-bread {font-size:12px; position:relative;}
#crumbs {height:59px; line-height:29px;}
#crumbs > span:first-child {display: inline-block; height:59px; padding:15px 25px; text-transform:uppercase;}
#crumbs > span:first-child .fa {padding-right:10px;}
#crumbs .fa-circle {font-size:4px; line-height:21px; vertical-align:middle; padding:0 5px;}
.pageheading {font-size:35px; padding:0; line-height:59px; max-height:59px; overflow:hidden; text-transform:uppercase; letter-spacing:-1px;}
.pageheading i {display:block;}

.mas_map_canvas img { max-width:none; }

/* CONTENT
-------------------------------------------------------------- */
.home-bar {margin-bottom:45px;}
#main-wrapper{padding-bottom:45px;}
#main-wrapper .container{}
#maincontent{}
#content.positionright{float:right;}
#content.positionleft{ float:left;}
#content > .main {padding:37px;} 
.blank #content > .main {padding:0;} 

.indentleft{overflow:hidden;}
.center{text-align:center;}
.nomargin{margin-right:0px!important;}
.displayblock{display:block;}
.mas-content {overflow:hidden;}

/* Lead */
.lead.widget-title {text-align:center; margin-bottom:47px; padding:1px;}
.lead.widget-title h3 {line-height:normal; margin:0; text-transform:none;}
.lead.widget-title p {letter-spacing:0.5px; font-size:12px;}


/* BLOG STYLE
-------------------------------------------------------------- */
.sticky{}

.postimg{margin-bottom:17px;}
.single-format-gallery .postimg{margin-bottom:0px;}
.postimg img{display:block;}
.entry-content img{}
.entry-content .loopexcerpt p{margin-bottom:9px;}
.aside .entry-content {padding-top:0;}
.content-padding {padding:30px 30px 24px; font-size:18px;}
.aside .entry-content > p {font-style:italic;}
.aside .entry-utility > .cate {font-size:24px;}
.more, .more-link{font-size: 13px; color:#333333;font-weight:bold;}
a.more:hover, a.more-link:hover{text-decoration:none;}
.post .btn{margin:10px 0 0; display:inline-block;}

.post, #searchresult .page, #searchresult .hentry{}
#singlepost.allposts {}
.allposts .hentry{margin-bottom:36px;}
.allposts .hentry.sticky {position:relative;}
.is_archive.allposts .hentry, .this-home.allposts .hentry {margin-bottom:50px;}
.is_archive.allposts .hentry.sticky, .this-home.allposts .hentry.sticky {margin-bottom:38px;}
.stickyInAction {position:absolute; top:0; right:0; z-index:2; font-size:20px; padding:9px 20px; line-height:1;}
.hentry.sticky:hover .stickyInAction {opacity:0;}

.allposts .blog-thumb, .mas-video-container {margin-bottom:25px;}
.allposts .full-utility-content {padding:0 20px;}
.allposts .contentheading, .allposts .posttitle {font-size:28px; margin:0;}

.allposts .entry-utility { margin-top:6px;}
.entry-utility > div{display:inline-block; list-style:none; line-height:normal; padding:0 10px 0 0; margin:0 10px 0 0; letter-spacing:1px; font-size:11px;}

.entry-content{ border:0px; padding:0px 0 0px; margin:0;}
.blank-page .entry-content {padding:0 0 5px;}

#postattachment .entry-utility{width:100%; float:none; padding:0}
.entry-attachment{margin-bottom:20px;}

.entry-tag {font-size:11px; padding:5px 0; text-transform:uppercase;}
.tag-text{}
.tag-items{display:inline;}
.tag-items span{display:inline-block; padding:0px 5px;}

/* Post Format */
.entry-gallery .flexslider{margin-bottom:15px;}
.entry-quote blockquote{padding:0 0 30px 45px; background-position:0px 0px; font-size:16px; margin:0px;}
.entry-quote blockquote:before{top:20px; left:20px;}
.entry-quote blockquote blockquote {padding:0; background:none;}
.entry-quote .quote-text{margin:0px 0px 28px 0px; position:relative;}
.entry-quote .quotearrow{height:19px;position:absolute; bottom:-13px; left:0; width:100%;}
.mas_post_media {margin-bottom:24px;}
.mediacontainer{margin-bottom:13px;}
.mediacontainer audio{width:100%;}
.mediacontainer iframe, .mediacontainer object, .mediacontainer video{width:100%; height:350px;}

/* author */
h2.title-author{ font-size:16px}
#singlepost #entry-author-info {
	margin: 15px 0 20px 0;
	padding: 10px;
	font-size: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#entry-author-info .author-info {padding: 0 15px 15px 15px;}
#entry-author-info #author-avatar {float:left; padding:5px 5px 5px; width: 150px; position: relative; font-size: 12px; text-align: center;}
#entry-author-info #author-description {	margin: 25px 0px 10px 180px; padding-right:37px; }
#entry-author-info #author-description  h3{font-size:24px;}
#author-description span.author{display:block; font-weight:bold;}
#entry-author-info.author-page {margin:0 -37px 50px 0; font-size:13px;}
#entry-author-info.author-page #author-avatar .avatar {border-radius:50%; margin-bottom:15px;}
#entry-author-info.author-page #author-description  h2 {font-size:30px;}
#entry-author-info.author-page #author-description  a {display:block; margin:0 0 12px 0;}
#author-avatar .mas-userLink {display:block; margin:0 -25px; padding:10px 0; background:rgba(0,0,0,0.1);}

/* attachment pages wordpress */
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {content: '\2190\00a0';}
.attachment .entry-content .nav-next a:after {content: '\00a0\2192';}

.wp-caption {margin-top: 0.4em;}
.wp-caption {
	margin:0 0 20px 0;
	padding:0;
	max-width:100%;
	display:block;
}
.wp-caption img {margin: 0;}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size: 12px;
	font-style:italic
}
.wp-caption .wp-caption-text {padding:8px; position:relative; margin-top:0;}
img#wpstats {
	display: block;
	margin: 0 auto 1.625em;
}
.tag-links{padding:10px 0; display:block}


/* Pagination */
#nav-below {text-align:center;}
.post-prevnext {font-size:11px; padding:5px 0; text-transform:uppercase;}
.post-prevnext .nav-next {text-align:right;}
ul.page-numbers {margin:0 0 25px 0;}
ul.page-numbers li {display:inline-block; margin:0;}
ul.page-numbers li a, ul.page-numbers li span {padding:5px 16px 7px; display:inline-block; border-radius:3px;}
ul.page-numbers li a:hover {text-decoration:none;}

/* Comments */
#comments{clear: both;}
#comments .navigation {padding: 0 0 18px 0;}
h3#comments-title{
	line-height:24px;
	padding:0px 0px;
	margin:0 0 20px 0;
	font-size:20px;

}

h3#reply-title {
	font-size:20px;
	margin: 36px 0px 20px 0px;
	text-transform:uppercase;
	color:#2A6496;
}
.commentlist {
	list-style: none;
	margin: 0;
	margin-bottom:0px;
	padding: 0;
}
.commentlist li.comment {
	margin: 0 0 0px 0px;
	padding: 0 0 0px 0px;
	position: relative !important;
}
.commentlist li.comment ul.children{margin:0 0 0 0; margin-left:11%; padding:0px 0 0 0;}
.commentlist li.comment ul.children li{border-bottom:0 !important; margin:0; padding:0}
#comments .comment-body ul,#comments .comment-body ol {margin-bottom: 0;}
.commentlist ol {list-style: decimal;}
.commentlist .avatar {}
.comment-body cite {
	font-size:14px;
	line-height:14px;
	font-style:normal;
}
.comment-body cite  a, .comment-body cite  a:visited{}
.comment-body cite  a:hover{text-decoration:none}
.comment-author .says {font-style: normal;}
.comment-meta {font-size: 11px; margin: 0 0 18px 0;}
.comment-meta a:link,
.comment-meta a:visited {text-decoration: none;}
.comment-meta a:active,
.comment-meta a:hover {}
.commentlist .even {}
.commentlist .bypostauthor {}
.reply a.comment-reply-link{}
.edit-link{float:none; clear:both; width:100%; display:block; padding:10px 0 0 0}
a.comment-edit-link {}
a.comment-edit-link:hover {text-decoration:none;}
.commentlist .children {list-style: none;}
.commentlist .children li {}
.nopassword, .nocomments {display: none;}
#comments .pingback {
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {margin-top: -6px;}
#comments .pingback p {
	display: block;
	font-size: 11px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {font-size: 12px;}
.con-comment{padding:0 0 0 0;margin-bottom:30px;}
.commentlist .comment-author{ float:left; margin-top:0px; padding:3px;}
.commentlist .comment-body{width:auto; margin-bottom:30px !important; margin-left:80px;}
.commenttext{margin:0 0 0 0; padding:2px 0 0 0;}
.commentlist .comment-body p{margin-bottom:10px !important}
.commentlist ul.children .comment-author{}
.commentlist ul.children .comment-body{}
*+html .commentlist .comment-body{margin-top:0}

.comment-body .fn{ font-size:12px; font-weight:bold; word-spacing:2px}
.comment-body .time{font-size:11px; padding:0 5px 0 0; font-style:italic;}
.commentlist .comment-body .reply{font-size:11px;}
.comment-body .boldtext{font-weight:normal; font-size:22px}
.vcard{padding-bottom:6px;}


/* Comments form */
#commentform{padding:0; }
#commentform label{margin-top:0px; padding:5px 0; display:inline-block;}
#commentform .required{}
#commentform code{padding:0; margin:10px 0; border:0}
#commentform input[type=text]{ 
	margin-bottom:3px;
	padding:8px 5px;
	vertical-align:middle;
	width:50%;
	font-size:12px;
	font-family:arial;
	display:block;
	page-break-after:always
}
#commentform textarea{ 
	width:95%;
	margin-bottom:12px;
	padding:8px 5px;
	vertical-align:top;
	font-size:12px;
	font-family:arial;
	display:block;
}	
#respond .comment-reply{
	font-size: 20px;
	line-height:24px;
	padding:0px 0px;
	margin:0 0 10px 0;
}
#respond p {margin: 0;}
#respond .comment-notes {margin-bottom: 1em;}
.form-allowed-tags {line-height: 1em;}
.children #respond {margin: 0 0px 0 0;}
.cancel-comment-reply{font-size:12px;}

#comments-list #respond {margin: 0 0 18px 0;}
#comments-list ul #respond {
	margin: 0;
	padding:0;
}
#cancel-comment-reply-link {
	font-weight: normal;
	line-height: 18px;
}
#respond .required {}
#respond label {}
#respond input {}
#respond textarea {}
#respond .form-allowed-tags {}
#respond .form-allowed-tags code {}
#respond .form-submit {
	margin: 12px 0;
	clear:both;
}
#respond .form-submit input {}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment{}
.comment-form-comment{ width:100%;}
.form-submit{ clear:both;}


/*** PORTFOLIO PAGE ***/
#filter.filter.clearfix {padding-left:10px;}
.cepon-portfolio {padding:37px 27px;}
.cepon-portfolio .row {position:relative;}
.filterable-grid { margin:30px 0; clear:both; list-style:none; max-width:100%; }
.portf .minmargin, .style-portfolio .minmargin {margin-right:-10px;}
.portf .margin, .style-portfolio .margin { margin-right:10px; margin-bottom:10px; position:relative; overflow:hidden; }
.portf a.port-img { display:inline-block; line-height:0; margin-bottom:7px; }
.portf .portfolio h4 { margin-bottom:7px; margin-left:1px; }
.portf .entry-content p {padding-top:10px;}
#maincontent .portf article {margin-bottom:0;}
.cepon-portfolio .portfolio {padding:0 10px 20px; float:left;}
.portfolio .hover > a {display:block; line-height:0; overflow:hidden; position:relative; margin-bottom:0;}
.portfolio .classic a.port-img {display:block; overflow:hidden;}
.cepon-portfolio a img, .cepon-pf-img > a img {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.cepon-portfolio a:hover img, .cepon-pf-img > a:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.hentry .hover a span.title, .portfolio .hover a span.title {height:100%; position:absolute; text-decoration:none; width:100%; padding:30% 8% 0; margin-bottom:0;
	z-index:100; bottom:0; right:0; display:block; line-height:1.35em; opacity:0; filter: alpha(opacity=0);}
.hentry .hover a:hover span.title, .portfolio .hover a:hover span.title {opacity:0.9; filter: alpha(opacity=90);}
.portfolio .hover a span span {display:block; } 
.portfolio .hover a span .real-title {line-height:24px; padding:0 25px;}
.portfolio .hover a span .real-excerpt {margin:10px 20px; padding:10px 0px; line-height:18px; font-size: 11px;}

/* Post on Page portfolio */
.cepon-portfolio .portfolio.onpage {position:static;}
.onpage > .hover > a {position:relative;}
.onpage > .hover > a.on:after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 15px;
	left: 50%;
	margin: -5px 0 0 -15px;
}
.portf-detail {display:none; position:absolute; top:auto; left:10px; right:10px; height:auto; padding:30px 0; margin-top:20px;}
.portfolio .hover .portf-detail .port-img {overflow:hidden; display:block;}
.portfolio .hover .portf-detail a {}
.portfolio .hover .portf-detail .post-title a {line-height:32px;}

/*** CONTACT PAGE ***/
.contact-page h3 {padding:12px 0;}

/* Contact Form  */
.contact-page p{margin-bottom:10px;}
.contact-page label{display:block;}
.contact-page input[type="text"], .contact-page input[type="email"], .contact-page input[type="password"]{
	margin:5px 0 0;
	width:100%;
	height:49px;
}
.contact-page textarea{
	margin:5px 0 10px;
	padding:8px 5px;
	font-size:11px;
	width:100%;
	height: 225px;
}
.contact-page-submit{margin:0;}


/*** CONTENTTOP ***/
.contenttop-container .widget-title, .contentbottom-container .widget-title{ font-size:24px; padding-bottom:13px; margin-bottom:25px;}
.maintop-container .widget-title, .mainbottom-container .widget-title{ font-size:24px; padding-bottom:13px; margin-bottom:25px;}


/*** SIDEBAR & COMMON WIDGET ***/
.widget {position:relative;}
#breaking .widget, #new-entry .widget {margin: 0;}
.widget > div, .widget > ul, .widget > form {padding: 37px;}
.widget > select {margin: 37px;}
.widget > .clear {padding:0;}
.bottom_top .widget > .metaOnAbove {padding-top:47px;}
.widget > div.slider-wrap , .widget > .no-padd ~ div, .widget > .no-padd ~ ul {padding: 0;}
#new-entry .widget > div {padding:8px 0 0;}
.sidebar.positionleft{float:left;}
.sidebar.positionright{float:right;}

/*#breaking .widget-title {font-size:13px; font-weight:normal; line-height:26px; float:left; padding:0 7px 0 0; } */
#breaking .widget-title {font-size:18px; font-weight:bold; line-height:30px; float:left; padding:2px 20px 0 0;color:#FFFFFF;border-right:1px solid #DDD;}

#new-entry .widget-title {font-size:13px; font-weight:normal; width:100px; left:-100px; padding:15px 15px 0 0; position:absolute;}
.widget-title, .widgettitle{
	font-size: 24px;
	margin: 0 0 -15px;
	padding: 37px 37px 0;
}
.no-padd + .widget-title, .no-padd + .widgettitle {margin:0; padding:37px;}
.bigtitle + .widget-title, .bigtitle + .widgettitle {font-size: 36px;}
.backfaced + .widget-title, .backfaced + .widgettitle {
	position: absolute;
	font-size: 52.5px;
	left: 0;
	top: 40%;
	line-height: 0.9;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index:1;
}
.title-colored .widgettitle, .title-colored .widget-title {
	padding: 30px 37px;
	margin-bottom: 0;
	text-align: center;
}
#mas-video .widget-title, #mas-video .widgettitle {font-size:30px; margin-bottom:30px; padding:0; border-bottom:none;}
.backfaced ~ div {position:relative; z-index:2;}
.backfaced ~ div > div {opacity:0; filter:alpha(opacity=0);}
.widget:hover .backfaced + .widget-title, .widget:hover .backfaced + .widgettitle {opacity:0; filter:alpha(opacity=0);}
.widget:hover .backfaced ~ div > div {opacity:1; filter:alpha(opacity=100);}

.sidebar ul {
	list-style-type:none;
	list-style-position:outside;
	margin:0;
}
.sidebar ul.menu {padding-left:0;}
.sidebar ul li{
	list-style-type:none;
	margin:0;
	padding:7px 0;
	
}
.sidebar .widget-container{padding:0;}
.sidebar li.widget-container > ul{
	padding-top:5px;
}
.sidebar li li{
	list-style-type:none;
	margin:0;
	padding:4px 0;
	border: none;
}
.sidebar li li a{}
.sidebar li li a:hover, .sidebar li li a.active{text-decoration:none;}
.sidebar .textwidget p{}
.sidebar ul.sub-menu, .sidebar ul.children, .sidebar ul ul ul{padding:0 0 0 25px; }
.sidebar ul.sub-menu li, .sidebar ul.children li, .sidebar ul ul ul li{}


/* Calendar */
.widget_calendar #wp-calendar {
	width: 100%;
	text-align:left;
	border: 0px !important;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
	padding:3px;
}
#footersidebar .widget_calendar thead th{border-top:1px solid;}
#footersidebar .widget_calendar thead th:first-child{border-left:1px solid;}

.widget_calendar #wp-calendar tr{}
.widget_calendar #wp-calendar caption {
	text-align:center;
	padding: 8px 0;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	font-weight: bold;
	padding:3px;
}
.widget_calendar #wp-calendar tfoot tr{}
.widget_calendar #wp-calendar td#prev{text-align:left; padding-left:5px;}
.widget_calendar #wp-calendar td#next{text-align:right; padding-right:5px}
#today{font-weight:bold}

/* Recent post widget */
.masf-recentpost-widget .recent-thumb {
	float: left;
	width: auto;
	height: auto;
	margin: 0px;
}
.masf-recentpost-widget .recent-thumb img{
	float: left;
	width: 64px;
	height: 64px;
	margin: 0px 18px 0px 0px;
}
.sidebar .masf-recent-post-widget li{padding:7px 0px 14px 0px!important; margin-bottom:9px!important; clear:left; background:none;}
.sidebar .masf-recent-post-widget img{float:left; margin-right:15px; margin-top:2px; padding:3px; width:77px; height:77px;}
.sidebar .masf-recent-post-widget li h3{font-size:14px; margin-bottom:3px}
.sidebar .masf-recent-post-widget li .smalldate{font-size:11px; display:block; font-style:italic; overflow:hidden;}

/* recent comment sidebar */
.sidebar .masf-recent-comment-widget li{padding-bottom:4px; margin-bottom:10px; clear:both; background:transparent}
.sidebar .masf-recent-comment-widget a{background:transparent !important; padding:0 !important;  display:inherit}
#recentcomments {list-style:none; }
#recentcomments li {padding:16px 0 20px 0;}
#recentcomments li:first-child {padding-top:5px;}
#recentcomments li:last-child {padding-bottom:0;}
#recentcomments span {font-size:13px;}
#recentcomments li .com-date {font-size:11px; padding-left:8px;}
#footbar #recentcomments li {padding: 10px 15px 10px 20px;}
#footbar  #recentcomments li:before {margin-top:-1px;}

/* search widget */
#search-login .search {position:absolute; top:0; right:0; height:32px;}
.search > a {position:absolute; right:0; top:0; width:55px; height:32px; line-height:32px; text-align:center;}
.your-search #searchform #s {width:58px; padding:0 0 0 60px; border:0}
.your-search #searchform #s:focus {width:240px;}
.your-search #searchform .searchbutton {display:none;}
#searchform input{background:transparent; border:0}
#searchform .searcharea{position:relative}
#searchform #s{width:79%; padding:15px; line-height:54px; height:38px;}
#searchform .searchbutton {
    height: 30px;
    position: absolute;
    right: 0px;
    top: 5px;
    width: 44px;
	text-indent:-9999px;
}
/* .widget-title + form {padding:8px 0;}
.widget-title + select {margin-top:8px;} */

/* Tag */
.tagcloud{padding:8px 0;}
.bottom_top .tagcloud {height:200px; overflow:hidden;}
.tagcloud a{padding:8px 12px; display:inline-block; margin:0 5px 8px 0; border-radius:0;}
.tagcloud a:hover{}

/* Our Team / Contributor */
.our-team {
  padding-top: 30px;
}
.our-team h3 {
  font-size: 15px;
  color: #222222;
}
.our-team p {
  font-size: 11px;
  text-transform: uppercase;
}
.our-team .thumbnail {
  padding: 0 20px 5px;
  margin-bottom: 0;
  text-align: center;
  border: 0;
  background-color: transparent;
}
.our-team .thumbnail img {max-width:85%;}
.our-team .thumbnail .btn {
  margin: 0 1px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}
.our-team .lead {margin-bottom:90px;}
.our-team .thumbnail img.img-circle {
  margin: 0 auto;
  width: 85%;
}
.our-team .thumbnail .caption {padding-bottom:30px;}
.our-team .thumbnail h3, .our-team .thumbnail p {margin-bottom:5px!important;}
.our-team .thumbnail .caption {color:inherit;}
.our-team .fa {padding-left:4px;}

/* PLUGIN
-------------------------------------------------------------- */

/* WP-PageNavi  Plugin  */
.wp-pagenavi {padding:0; font-size:12px; margin:0 0 20px 0; clear:both}
.wp-pagenavi .pages{padding-right:10px; border:0px;}
div.wp-pagenavi a, div.wp-pagenavi a:visited{padding:5px 0px; margin:0 4px; border:0px;}
div.wp-pagenavi span.current{padding:5px 0px; margin:0 4px; font-weight:normal;}
div.wp-pagenavi span.pages{padding-left:0px; margin-left:0px;}

/* Popular Tabs */
#tab-body ul {padding:0;}
.widget > .tabcontainer {padding:30px;}
.widget_masf_tabs .tab-content {padding:20px 0;}
.widget_masf_tabs .tab-content ul li h3 {font-weight:normal;}
.widget_masf_tabs .tab-content ul li img.frame {margin-top:8px;}

/* Flickr Plugin  */
#flickr {text-align:left !important; padding:0}
div#flickr div.flicr_badge_image:nth-child(3) img, #flickr div.flicr_badge_image:nth-child(6) img{ margin-right:0px!important;}
div#flickr img{margin:0 8px 12px 0; display:block; float:left; width:36px; height:36px; padding:4px !important;}
#flickr img{ border:0px !important;}
* html .flickr_badge_image, *+html .flickr_badge_image{display:inline !important}
.flickr_badge_image:hover{}

/* Shortcode */
.accButton { background:#fff; cursor:pointer; text-transform:uppercase; margin-bottom:2px; padding:10px 15px; }
.accButton.first { border-top:1px solid #EEE; }
.accButton > i { padding:13px; margin-right:20px; text-align: center; width:40px; height:40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.accButton > span {}
 /* .accContent { border-bottom:1px dashed #DDD; } */
.accContent > .block { padding:15px 25px; }
.mas-pricing-table .mas-pricing-header > div {display:inline-block;}

/* Social Icons Widget */
.social-icons-widget li{list-style-type:none; background:none !important; padding:0px !important; border:0px !important; margin:0px 10px 0px 0px !important;}

/* Simple Social Icons*/
.masf .simple-social-icons ul li a{ padding:5px !important; display:inline-block; margin:0px 10px 0px 0px;}

/* Bottom Top */
.bottom_top .tp-carousel-posts h4 a {font-size:18px;}
.bottom_top .tp-carousel-posts.cols-1 .margin.clasic {padding-bottom:35px; padding-top:10px;}
.bottom_top .tp-carousel-posts.cols-1 .title + .hentry .margin.clasic {padding-top:0;}
.metaOnAbove .add-info .cats {top:10px;}
.metaOnAbove .title + .hentry .add-info .cats {top:0;}

/* FOOTER SIDEBAR */
#footbar-wrapper{padding:5px 0 10px; font-size:13px;}
#footbar-wrapper > .container {overflow:hidden;}
#footbar {margin-left:-37px; margin-right:-37px;}
#footbar .widget-area {padding-bottom:20px;}
#footbar ul {list-style:none; margin:-6px 0 0 0;}
#footbar li {list-style:none; margin:0; padding:0 0 0 20px; border-bottom:0!important; position:relative; line-height:1;}
#footbar li:before {font-family:FontAwesome; position:absolute; left:1px; margin-top:9px; content:"\f105";}
#footbar .widget-title{font-size:16px; text-transform:none;}
#footbar li a{padding:10px 15px 10px 0; margin:0px; display:inline-block;}
#footbar li a:hover{ text-decoration:none;}
#footbar ul.address {margin:5px 0 0;}
#footbar ul.address li {padding-left:25px; padding-bottom:15px;}
#footbar ul.address li:before {top: -2px; margin-top:0;}
#footbar ul.address li.home:before { content:"\f015"; }
#footbar ul.address li.email:before {content:"\f0e0";}
#footbar ul.address li.phone:before {content:"\f095";}
#footbar ul.address li.mobile:before {content:"\f10b"; font-size:20px; top:-4px; left:2px;}
.textwidget ul {padding:0;}

#footersidebar .masf-recent-post-widget li{padding-bottom:9px!important; margin-bottom:9px!important; clear:left; background:none; border:0px; padding-left:0px;}
#footersidebar .masf-recent-post-widget img{float:left; margin-right:15px; margin-top:2px; padding:4px; width:53px; height:53px;}
#footersidebar .masf-recent-post-widget li h3{font-size:12px; margin-bottom:3px}
#footersidebar .masf-recent-post-widget li .smalldate{font-size:11px; display:block; font-style:italic; overflow:hidden;}


.gallery-pic a:nth-child(3) img, .gallery-pic a:nth-child(6) img{ margin-right:0px!important;}
.gallery-pic img{margin:0 12px 12px 0; display:block; float:left; padding:3px;}

/*** FOOTER ***/
#footer{padding:0 0 0;}
#footer .copyrighttext{font-size:12px;}
#footer a, #footer a:visited{}
.foot-menu .widget > div {padding:0;}
.foot-menu ul {float:right; padding:0; margin:0; list-style:none;}
.foot-menu ul li {display:inline-block;}
.foot-menu ul li a {display:block; padding:0 15px; border-left:1px solid rgba(255,255,255,0.2); line-height:1;}
.foot-menu ul li:first-child a {border-left:none;}

#toTop {
  background-color: #c93638;
  box-shadow: -1px -1px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: -66px;
  right: 0px;
  cursor: pointer;
  color: #ffffff;
  font-size: 42px;
  line-height: 1;
}
#toTop.engage {bottom:0;}
#toTop:hover {
  background-color: #cc4042;
}
#works-wrapper.home-bar {margin-bottom:-1px;}


/*** MAS_PLUGIN ***/
/* Sidebar Login */
/* Basic styling for login widget
   This styling aligns the gravtar left, the links right.*/
#search-login {position:relative; z-index:201;}
.mas-login {position:absolute; top:0; right:55px;}
.mas-login > a {height: 54px;  padding: 0 25px; line-height: 54px; display: inline-block;}
.your-login {width:320px; display:none; position:absolute; top:55px; right:0;}
.mfp-content .your-login {display:block;}
.widget_wp_sidebarlogin .avatar_container, #sidebar-login .avatar_container {float:left;}
.widget_wp_sidebarlogin ul {list-style: none outside !important;}
.widget_wp_sidebarlogin .avatar_container img, #sidebar-login .avatar_container img {
	padding: 3px;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-right: 8px;
	margin-top: 5px;
}
.widget_wp_sidebarlogin hr {
	display: block;
	clear: both;
	border: 0;
	border-top: 1px solid #999;
	height: 1px;
}
.widget_wp_sidebarlogin ul.sidebar_login_links {margin:0; padding:0}
.widget_wp_sidebarlogin .sidebar_login_error {
	color: #ae121e;
	background-color: #fbb1b7;
	border: 1px solid;
	margin: 1em 0;
	padding: 1em;
	font-size: 13px;
}
.widget_wp_sidebarlogin .login_error a {color: #ae121e;}
.widget_wp_sidebarlogin form {margin:1em 0;}
.widget_wp_sidebarlogin form p {margin: .5em 0;}
.widget_wp_sidebarlogin form .input {
	width: 100%;
	margin: 2px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Bootstrap Component */
.nav-tabs > li > a {font-family: 'CreteRound-Regular', Helvetica, Arial, sans-serif; padding:12px 20px;}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {border-radius:0; border:none; margin-right:3px;}
.tab-content {padding:15px;margin-top:-7%;background-color:#EAEAEA;}
.cat-post-tab .tab-content {padding:0;}
.tab-content > .tab-pane h3 {font-size:20px; height:83px; overflow:hidden;} 
.tab-pane h3, .backfaced ~ div .tp-carousel-posts h4 a {font-family: 'latoregular', Helvetica, Arial, sans-serif; font-weight:normal;}
.tab-pane .first-info > span {display:inline-block; font-size: 12px; padding:0 8px 5px 0;}
.tab-pane .cate {margin-bottom:30px; height:24px; overflow:hidden;}

.simple_tweet_widget span {font-size:85%;}

/*** WYSIJA NEWSLETTER ***/
.widget_wysija {position:relative;}
.widget_wysija .wysija-paragraph {margin-top:30px;}
.widget_wysija .wysija-input { width:80%; padding:7px 12px; line-height:35px; height:49px;}
.widget_wysija_cont .wysija-submit {height:49px;}

/* Categroy Post Tabs WIDGET */
#content > .main .mas-tabs {margin:-37px;}
/* .tab_wrap.cat-post-tab .nav-tabs {position:absolute; top:38px; right:38px;} */
.tab_wrap.cat-post-tab .nav-tabs {position:absolute; top:5px; left:0; width:100%}


.tab_wrap ul.tabs li a {text-shadow:none;}
.tab-pane .item {margin:0 -1px -1px 0;}
.tab-pane .item > .padding {padding:40px 30px;}
.tab-pane .item .cepon-pf-img {margin:0 -30px;}

.ls-nav .tab-title {font-family: 'CreteRound-Regular', Helvetica, Arial, sans-serif; font-size:18px; line-height:1.4; margin:0 0 5px 0; display:block;}
.ls-wrapper .ls-nav a p {margin:0; font-size:14px;}


/* PORTFOLIO WIDGET */
.cepon-portfolio-wrapper.sprt{ padding-bottom:3px; margin-bottom:50px; }
.cepon-portfolio .item{margin-bottom:40px;}
.cepon-portfolio .portfoliolist .item{display:inline-block; float:none;}
.cepon-pf-img{position:relative; overflow:hidden;}
.cepon-pf-img img{display:block;}
.cepon-pf-img .frame{padding:3px;}
/*.cepon-pf-text a.more-link{display:block;margin-top:15px;}*/
.cepon-pf-text .more-container{display:block;}
.cepon-pf-img .pfdetail .rollover{background-image:url(images/hover-doc.png);}
.cepon-pf-img .pflink .rollover{background-image:url(images/hover-link.png);}

/*======= Portfolio Navigation =======*/
.filterlist{ margin:0 0 30px 0; padding-bottom:16px; font-size:13px;font-weight:bold;}
#filter{list-style:none;padding:0px 0px 0px 0px;margin:0px;display:inline-block;}
#filter li{list-style:none; display:inline-block; line-height:32px; padding:0; border:0; cursor:pointer; font-size:12px; text-transform:uppercase;
	margin:0 5px 0 0; border-radius: 0;
}


/*======= Portfolio Item =======*/
li.widget-container.widget_masf_pfilter, .sidebar .cepon-portfolio, #footersidebar .cepon-portfolio{margin-bottom:-40px;}
#cepon-pf-filterable{position:relative; overflow:hidden; list-style-type:none; padding:0; margin:0;}
#cepon-pf-filterable li{position:relative; }
.cepon-clear{clear:both; height:1px; line-height:1px; float:none!important}
.cepon-pf-text{ padding:0px 0 0;}
.cepon-pf-text .pftitle{font-size:18px; line-height:100%; padding:19px 0px 0px; margin:0px;border-width:0px 0px 0px 0px; border-style:solid; margin-bottom:0px; padding-bottom:0px;}
.cepon-pf-text .textcontainer{padding-top:10px;}
.tab-pane .cepon-pf-text .textcontainer {padding:30px 0;}
.cepon-pf-img a.image{display:block;position:relative;overflow:hidden;}
.cepon-pf-img .rollover{
	width:100%; 
	height:100%;
	margin:0px;
	background-image:url(images/hover-zoom.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}
.cepon-pf-img .rollover:hover{opacity:0.7;}
.pfzoom, .pflink, .pfdetail{display:block;position:relative;overflow:hidden;}

/* BBPress */
#bbpress-forums ul.bbp-lead-topic, 
#bbpress-forums ul.bbp-topics, 
#bbpress-forums ul.bbp-forums, 
#bbpress-forums ul.bbp-replies, 
#bbpress-forums ul.bbp-search-results {font-size:15px;}
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta,
#bbpress-forums .bbp-forums-list li {font-size:14px;}
#bbpress-forums div.bbp-search-form {margin-bottom:25px;}
#bbpress-forums #bbp-search-form input {vertical-align:bottom;}

/* Twitget */
#foot-tweet {background:rgba(0, 0, 0, 0.05); overflow:hidden}
.simple_tweet_widget {padding: 0 0 0 110px;}
.simple_tweet_widget:before {font-family: FontAwesome; content: "\f099"; font-size: 46px; color: #FFF; position: absolute; left: 30px; margin-top: -38px; top: 50%;}
.simple_tweet_widget ul {border-bottom:0; list-style: none; padding: 25px 999em 28px 30px; margin: 0 -999em 0 0;
	font-size: 16px; font-style: italic;}
	
/* Border */
#topest, .is_archive.allposts .hentry, .this-home.allposts .hentry, #entry-author-info, ul.list li, th, tr td, 
	.contact-page h3, .entry-tag, .post-prevnext, .sidebar li, .widget, .no-padd + .widget-title, 
	.no-padd + .widgettitle, .with-tab .ls-wrapper .ls-nav li, #recentcomments li {border-bottom:1px solid #B4D1E1;}
.mas-break, #mas-mainnav.affix {border-bottom:1px solid #E4E4E4;}
#new-entry .clasic > a {border:6px solid #ddd;}
.onpage > .hover > a.on:after {border-bottom-color:#EBEBEB;}
#main-menu ul li:first-child a{ border-top:none; }
#main-menu li a:after {border: 4px solid rgba(0, 0, 0, 0); border-left-color: #222;}
#main-menu > li > a:after {border: 4px solid rgba(0, 0, 0, 0); border-top-color: #222;}
#main-menu li.sfHover a:after {border: 4px solid rgba(0, 0, 0, 0); border-left-color: #fff;}
#main-menu > li.sfHover > a:after {border: 4px solid rgba(0, 0, 0, 0); border-top-color: #fff;}
input, input[type="text"], input[type="email"], textarea, input[type="password"], select {border:1px solid #e8e8e8;}
ul.client, ul.client-list li, #entry-author-info .author-info, .tab-pane .item, #mas-mainnav > .container, .aside .content-padding,
	.mas-pricing-table .mas-pricing-header, .mas-pricing-table .mas-pricing-content, pre, .panel-default {border:1px solid #e8e8e8;}
.tab-pane .item {border-width:0 1px 1px 0;}
.tab-pane .item.last {border-width:0 0 1px 0;}
table {border:1px solid #e8e8e8;border-bottom:0;}
#main-menu > li {border-right:1px solid #e4e4e4;}
.entry-utility div, .left-sidebar .sidebar, .sidebar.positionleft {border-right: 1px solid #e8e8e8;}
/*.right-sidebar .sidebar, .sidebar.positionright, #search-login .toggle-triger {border-left:1px solid #e8e8e8;}*/
.sidebar ul li:last-child, .nav-tabs, .widget:last-child, #recentcomments li:last-child {border-bottom:0;}
.backfaced + .widget-title, .backfaced + .widgettitle, .entry-quote blockquote, .tab_wrap ul.tabs li, #mas-mainnav.affix > .container {border:none;}
.widget_calendar #wp-calendar tbody td:first-child, .widget_calendar #wp-calendar tfoot td:first-child{border-left:0px;}
.gallery-pic img{ border:1px solid #e4e4e4;}
hr, .panel-default > .panel-heading + .panel-collapse .panel-body, .mas-pricing-table .mas-pricing-content {border-top:1px solid #e8e8e8;}

/* CSS3 Animation */
.liquid-slider a:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

#navigation a, a span.title, a img, #headercontainer, #toTop, .camera_prev, .camera_next, .widget-title, .widgettitle, .backfaced ~ div > div, #toTop, #s {
	-ms-transition: all 0.4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.currentPanel .sb-description {
	-ms-transition: all 0.5s ease 0.5s;
	-webkit-transition: all .5s ease 0.5s;
	-moz-transition: all .5s ease 0.5s;
	-o-transition: all .5s ease 0.5s;
	transition: all .5s ease 0.5s;
}
.sb-description, .stickyInAction {
	-ms-transition: all 0.5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

/* #Media Queries
================================================== */
/* Large Browser */
@media (min-width: 1440px) {
	.with-tab .ls-wrapper .ls-nav ul li a {height:101px;}
}


@media (min-width: 1200px) and (max-width: 1439px) {
	.with-tab .ls-wrapper .ls-nav li {padding:20px 0;}
	.our-team .thumbnail {
		padding: 0 10px;
	}
}

/* Only affected toogle menu */
@media only screen and (max-width: 1022px) {
  #main-menu li ul {box-shadow:none;}
	#main-menu li ul ul {padding-left:15px;}
	#main-menu li.dropdown ul.sub-menu {position:static; display:block!important; visibility:visible!important; background:transparent;}
}

/* Smaller than standard 992 (devices and browsers) */
@media only screen and (max-width: 1199px) {
  .container {width:92%;}
  .tab_wrap.cat-post-tab .nav-tabs {position:static; padding:30px; border-bottom:1px solid #EBEBEB;}
}


@media only screen and (max-width: 1199px) and (min-width: 680px) {
  #mas-slider .portf-cols {margin:0 -3%;}
  #mas-slider .portf-cols .hentry {width:42%!important; margin:0 3%; padding-top:25px;}
  #mas-slider .portf-cols h2 + .hentry, #mas-slider .portf-cols h2 + .hentry + .hentry {padding-top:0;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 919px) {
  #topnav > li {width:100%;}
  #content.positionright, #content.positionleft .sidebar.positionleft, .sidebar.positionright, #content.positionright, #content.positionleft {float:none;}
  .with-tab .ls-wrapper .ls-nav ul {padding:20px;}
  .with-tab .ls-wrapper .ls-nav li {padding:15px 0;}
  .video .ls-wrapper .ls-nav a p {display:none;}
  .with-tab .ls-wrapper .ls-nav img {max-width:70px;}
  .tab-pane .item {float:left; width:50%;}
  .tab-pane .item.last {border-width:0 1px 1px 0;}
  .sidebar.positionleft, .sidebar.positionright{float:none;}
  #footer {text-align:center;}
  .foot-menu ul  {float:none;}
  #footer .copyrighttext{margin:0 0 30px;}
}

@media only screen and (max-width: 919px) and (min-width: 680px) {

}

@media only screen and (max-width: 679px) {
  .our-team > div {width: 100%; float: none;}
  .playlistck_thumbs_cont, .ls-wrapper .ls-nav {display:none;}
  .with-tab .ls-responsive .liquid-slider .panel .panel-wrapper {width:100%;}
  .slider-div .tp-carousel-posts.portf-cols .hentry > div > a {display:none;}
  .playlistck_fakehover {min-width:100%;}
}

@media only screen and (max-width: 599px) {
  .admin-bar #mas-mainnav.affix {top:0;}
  .playlistck_caption_desc, .sb-description {display:none;}
  .playlistck_caption > div {margin:0;}
  .tab-pane .item {width:100%;}
}

@media only screen and (max-width: 360px) {
  .playlistck_caption_title {font-size:20px;}
  .backfaced + .widget-title, .backfaced + .widgettitle {font-size:40px;}
  .bottom_top {width:100%;}
}

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}



/*	Code By Muhammad Naveed Hasan
	Date: May 19, 2015 1:18pm */
.bg_ticker{
	background-color:#0E6DAF;
}
.titleBreaking{
	color:#FFFFFF!important;
	

}

.topDate{
	color:#FFFFFF;
	
	font-size:14px;
	line-height:32px;
}

@font-face {
  font-family: "Merriweather";
  src: url('fonts/Merriweather-Regular.ttf') format('truetype');
}
.headingNews1{
	font-family: "Merriweather";
}
.headingNews{
	
	color:#0E6DAF;
	
	font-size:24px;
	font-weight:bold;
	
}
.bulletinNews{
	
	color:#FFFFFF;
	
	font-size:14px;
	font-weight:bold;
	
}
.titleNews{
	
	color:#333333;
	
	font-size:22px;
	font-weight:bold;
	
}
.capt{
	background: rgba(255, 255, 255, 0.75) none repeat scroll 0% 0%;
	bottom: 0px;
	color: #FFF;
	left: 0px;
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 0;
	padding: 2%;
	
	font-weight: bold;
	
	line-height: 1;
}

ul#more_news{
	padding: 5px; 
	margin: 0;
	list-style-type:none;
}

ul#more_news li{
	padding: 5px;
	margin: 0;
	border-bottom: solid 1px #ccc;
}

ul#more_news li a{
	/*font-family: Georgia, serif;*/
	padding: 0; margin: 0;
	text-decoration: none;
	color: #247DB5;
	font-size: 14px;
	font-weight:bold;
	/*font-size: 13px;
	font-weight: bold*/;
}

.short_detail{
	color:#9C9C9C;
	font-size:11px;
	padding-bottom:13px;
}
.short_detail1{
	color:#333333;
	font-size:13px;
	
}
.short_detail2{
	color:#9C9C9C;
	font-size:11px;
	
}
.more-title{
	color:#000000;
	font-size:11px;
	font-weight:bold;
	
}

.ntitle{
	font-size:16px;
}
.cat-title{
	text-transform:uppercase;
	font-size:22px;
}
.cat-title8{
	text-transform:uppercase;
	font-size:22px;
	color:#000000;
}
.cat-title1{
	text-transform:uppercase;
	font-size:15px;
	color:#FFFFFF;
	padding-top:3px;
}

#tcontainer {
    position: relative;
    display: inline-block;
	width:100%;
    
}

#image1 {
    z-index: 0;
    
   
}

#play_small {
   /* background: url('images/play-icon-small.png') center center no-repeat;*/
    position: absolute;
    top: 0;
    right: 0;
	/* margin: -35px 0 0 -35px; */
    /*width: 70px;
    height: 70px;
    
    z-index: 10;
	cursor:pointer;*/
}
.two-coltitle{
	color:#000000 !important;
	
	
}
.bg-blogs{
	background:#0E6DAF;
	height:36px;
	padding:5px;

}
.mr-bg{
	background:#DBE8F8;
	
	padding:10px;
}
.mr-bg1{
	background:#E7F0F9;
	
	padding:10px;
}
.blog-title{
	color:#666666;
	font-weight:bold;
	font-size:14px;
}
.bgw{
	background-color:#FFFFFF;
}
.bgb{
	background-color:#2275AB;
}
.copyright{
	color:#FFFFFF;
	font-size:14px;
	line-height: 2;
	
}

.footer-title{
	color:#FFFFFF;
	font-size:22px;
	line-height: 2;
	margin-left:5px;
	
}
.footer-link{
	text-decoration:none;
	color:#FFFFFF;
	font-size:14px;
	line-height: 2;
	margin-left:5px;
}
.footer-bg{
	background-color:#FFFFFF;
	height:1px;
	margin-left:5px;
}
.more-news-title{
	text-decoration:none;
	color:#0E6DAF;
	font-size:15px;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom: solid 1px #ccc; 
	
}
.must-see-title{
	text-decoration:none;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	
	
}
.contentheading {
	font-size:28px;
	font-weight:bold;
	color:#0C6EAD;
}

.detail{
	color:#525252;
	font-size:16px;
	
}
.contentheading {
	font-size:28px;
	font-weight:bold;
	color:#0C6EAD;
}
.shw-pointer{
	cursor:pointer;
	
}
.detail-10{
	width:80%;
	float:left;
	
}
.detail-2{
	width:20%;
	float:left;
	
}
.space{
	display:block;
	clear: both;
	border: 0;
	left:0;
	border-top: 1px solid #C6DDEB;
	margin-top:0px;
}
.space1{
	
	border-top: 1px solid #C6DDEB;
	margin-top:4px;
	margin-bottom:4px;
}
#play_small1 {
   /* background: url('images/play-icon-small.png') center center no-repeat;*/
    position: absolute;
    top: 45%;
    left: 45%;
	
    /*width: 70px;
    height: 70px;
    
    z-index: 10;
	cursor:pointer;*/
}
.ntitle1{
	font-size:12px;
	
}

#play_small2 {
   /* background: url('images/play-icon-small.png') center center no-repeat;*/
    position: absolute;
    top: 35%;
    left: 45%;
	
    /*width: 70px;
    height: 70px;
    
    z-index: 10;
	cursor:pointer;*/
}
#play_small3 {
   /* background: url('images/play-icon-small.png') center center no-repeat;*/
    position: absolute;
    top: 35%;
    left: 40%;
	
    /*width: 70px;
    height: 70px;
    
    z-index: 10;
	cursor:pointer;*/
}
#play_smal8 {
    position: absolute;
    top: 45%;
    right: 45%;
	
}
#play_smal9 {
    position: absolute;
    top: 38%;
    right: 38%;
	
}

#play_smal20 {
    position: absolute;
    top: 12%;
    right: 38%;
	
}
.ntitle2{
	font-size:18px;
	margin-top:5px;
	text-align:justify;
	
}

@media only screen and (max-width: 65em) {
	
	.resp1 {
		width: 60%;
		float: left;
	}
	.resp2 {
		width: 40%;
		float: left;
	}
	.resp50 {
		width: 50%;
		float: left;
	}
	#search-login .search {
		height: 54px;
	}
	.respn2 {
		width: 38%;
		float: left;
		margin-left:5px;
		margin-top:-15px;
	}
	.resp100 {
		width: 100%;
		float: left;
	}
	.resp32 {
		width: 32%;
		float: left;
	}
	.resp68 {
		width: 68%;
		float: left;
	}
	.respnb {
		width: 24%;
		float: left;
	}
	.respnb1 {
		width: 76%;
		float: left;
	}
	.respnb2 {
		width: 48%;
		float: left;
		margin-left:5px;
	}
	
	
	
}
/* Smartphones | <480px */
@media only screen and (max-width: 30em) {
	
	
	.resp1 {
		width: 100%;
		float: left;
	}
	.resp2 {
		width: 100%;
		float: left;
	}
	.resp50 {
		width: 100%;
		float: left;
	}
	.respn2 {
		width: 100%;
		float: left;
		margin-top:0px;
	}
	.resp32 {
		width: 100%;
		float: left;
	}
	.resp68 {
		width: 100%;
		float: left;
	}
	.respnb {
		width: 32%;
		float: left;
		
	}
	.respnb1 {
		width: 66%;
		float: left;
		margin-left:4px;
	}
	.respnb2 {
		width: 100%;
		float: left;
		margin-left:5px;
		margin-bottom:12px;
	}
	.detail-2{
		display:none;
	}
	.detail-10{
		width:100%;
		float:left;
	}
	#play_smal9 {
    	position: absolute;
    	top: 30%;
    	right: 40%;
	}
	.resp25 {
		width: 25%;
		float: left;
		margin-bottom:8px;
		
	}
	
	
}

.detail-10 img {
	padding-bottom:5px;
}

table {
	width:100%;
}

td{
	padding:8px;
}




/* Code By Muhammad Naveed Hasan */