@charset "utf-8";
/* NTS JMJ,PCY 160519 */

/* 이미지 */
.api_atcmp_wrap .spat{display:inline-block;overflow:hidden;background:url(../img/atcmp_spat_v2.png) no-repeat;vertical-align:middle;text-indent:0}
.api_atcmp_wrap{position:relative;overflow:hidden;border:1px solid #888d95;border-top:none;background-color:#fff;color:#666;zoom:1}
.api_atcmp_wrap img{border:0}
.api_atcmp_wrap,.api_atcmp_wrap div,.api_atcmp_wrap dl,.api_atcmp_wrap dt,.api_atcmp_wrap dd,.api_atcmp_wrap ul,.api_atcmp_wrap ol,.api_atcmp_wrap li,.api_atcmp_wrap h1,.api_atcmp_wrap h2,.api_atcmp_wrap h3,.api_atcmp_wrap h4,.api_atcmp_wrap h5,.api_atcmp_wrap form,.api_atcmp_wrap fieldset,.api_atcmp_wrap p,.api_atcmp_wrap button{margin:0;padding:0;font-size:12px;line-height:18px;font-family:'굴림',Gulim,'돋움',Dotum,Helvetica,Sans-serif}
.api_atcmp_wrap li{list-style:none}
.api_atcmp_wrap a{color:#666;text-decoration:none}
.api_atcmp_wrap a:hover{text-decoration:underline}
.api_atcmp_wrap a:hover span,.api_atcmp_wrap a:hover strong{cursor:pointer}
.api_atcmp_wrap em{font-style:normal}
.api_atcmp_wrap .words{overflow:hidden}
.api_atcmp_wrap .words em{color:#f86d1a}
.api_atcmp_wrap .words ul{overflow:hidden;padding:4px 0 2px;zoom:1}
.api_atcmp_wrap_v1 .words ul{padding:2px 0 3px}
.api_atcmp_wrap .words .other{padding-top:2px;border-top:1px solid #e1e1e1}
.api_atcmp_wrap .words li{position:relative;overflow:hidden;height:23px;vertical-align:top;zoom:1}
.api_atcmp_wrap .words li .atcmp_keyword{display:block;overflow:hidden;padding:0 10px;height:23px;text-decoration:none;zoom:1}
.api_atcmp_wrap .words li .atcmp_keyword_txt{position:relative;display:inline-block;overflow:hidden;_width:100%;max-width:100%;padding:3px 1px 2px 0;_padding:4px 0 1px;white-space:nowrap;text-overflow:ellipsis}
.api_atcmp_wrap .words li a:hover{text-decoration:none}
.api_atcmp_wrap .words li strong{color:#eb0c00}
.api_atcmp_wrap .words li a.mquick{display:none}
.api_atcmp_wrap .words li.atcmp_on{background-color:#f5f5f5}
.api_atcmp_wrap .words .atcmp_quick{padding-right:70px}
.api_atcmp_wrap .words .atcmp_quick .atcmp_keyword{padding-right:0}
.api_atcmp_wrap .words .atcmp_keyword_txt:before{content:'';color:#666}
.api_atcmp_wrap .words .atcmp_quick a.mquick{display:block;position:absolute;top:2px;right:10px;width:auto;padding:2px 4px 1px;border:1px solid #e7e7e7;background-color:#fff;font-family:'돋움',dotum;font-size:11px;color:#7e7e7e;line-height:15px;text-indent:0;letter-spacing:-1px}
.api_atcmp_wrap .words .atcmp_quick a.mquick:hover{border-color:#a4a4a4;color:#616161}
.api_atcmp_wrap .words .tx_sch{margin-left:-1px;background:url(../img/atcmp_line3.gif) no-repeat}
.api_atcmp_wrap .words .tx_sch em{padding:1px 5px 0 4px;background:url(../img/atcmp_line3.gif) right -11px no-repeat;color:#2f3743;font:11px 돋움;letter-spacing:-1px}
.api_atcmp_wrap .msg{padding:13px 9px 9px 10px;color:#666}
.api_atcmp_wrap .help{position:absolute;z-index:100}
.api_atcmp_wrap .func{overflow:hidden;clear:both;width:100%;padding:6px 0;border:1px solid #e1e1e1;border-width:1px 0 0;background:#f5f5f5;color:#cecece;font:11px/1.3em 돋움,Dotum,Helvetica,sans-serif;letter-spacing:-1px}
.api_atcmp_wrap .func span{float:right;padding-right:7px}
.api_atcmp_wrap .func .atcmp_bar{float:none;padding:0}
.api_atcmp_wrap .func span em{display:none}
.api_atcmp_wrap .func span em.on{display:inline}
.api_atcmp_wrap .func .fl{float:left;padding-left:7px}
.api_atcmp_wrap .func a{margin:0 3px;color:#666}
.api_atcmp_wrap .func .bar{display:inline-block;margin:0 7px 0 6px}
.api_atcmp_wrap .func .run_view{float:left;padding-left:8px;text-align:left}
/* 컨텍스트 자동완성 플러스 */
.api_atcmp_wrap .atcmp_plus{position:relative;z-index:10;height:26px;padding:0 10px;border:1px solid #e1e1e1;border-width:1px 0 0;background:#f5f5f5;zoom:1}
.api_atcmp_wrap .atcmp_plus:after{content:'';display:block;clear:both}
.api_atcmp_wrap .atcmp_plus .desc{float:left}
.api_atcmp_wrap .atcmp_plus .plus_txt{float:left;margin-top:7px;font-family:'돋움',dotum,sans-serif;font-size:11px;line-height:14px;color:#666}
.api_atcmp_wrap .atcmp_plus .plus_txt .txt{color:#23b300}
.api_atcmp_wrap .atcmp_plus .ico_info{float:left;width:13px;height:13px;margin:7px 0 0 3px;background-position:-14px -37px}
.api_atcmp_wrap .atcmp_plus .switch{float:right}
.api_atcmp_wrap .atcmp_plus .switch .plus_btn{width:62px;height:18px;margin-top:4px;background-position:-36px -50px;line-height:100px;vertical-align:top;cursor:pointer}
.api_atcmp_wrap .atcmp_plus .switch .plus_btn.active{background-position:-36px -30px}
.api_atcmp_wrap .layer_plus{display:none;position:absolute;bottom:29px;right:10px;z-index:10;padding:16px 19px 12px;border:1px solid #888d95;background-color:#fff;font-family:'돋움',dotum,sans-serif;color:#424242;text-align:center}
.api_atcmp_wrap .layer_plus .tit{color:#242424}
.api_atcmp_wrap .layer_plus .dsc{margin-top:3px}
.api_atcmp_wrap .layer_plus .dsc .txt{color:#23b300}
.api_atcmp_wrap .layer_plus .btn_area{margin-top:5px}
.api_atcmp_wrap .layer_plus .btn_area .btn{display:inline-block;margin:0 1px;padding:6px 15px 5px;border:1px solid #d8d8d8;color:#424242;vertical-align:top;line-height:14px;text-decoration:none}
.api_atcmp_wrap .layer_plus .btn_area .btn_view{color:#8f8f8f}
.api_atcmp_wrap .layer_plus .btn_close{position:absolute;top:0;right:0;width:31px;height:30px;border:0;background:none;font-size:0;cursor:pointer}
.api_atcmp_wrap .layer_plus .btn_close .ico_close{display:inline-block;overflow:hidden;width:1px;height:11px;padding-left:10px;background-position:-1px -52px;line-height:100px;vertical-align:middle}
.api_atcmp_wrap_v1 .layer_plus{top:29px;bottom:auto}
/* 우측 확장형 */
.api_atcmp_wrap .words .atcmp_keyword .spat.ic_expand{display:none}
.api_atcmp_wrap .words .atcmp_expand .atcmp_keyword{padding-right:19px;*padding-right:6px;_padding-right:19px}
.api_atcmp_wrap .words .atcmp_expand_on .atcmp_keyword{_padding-right:23px}
.api_atcmp_wrap .words .atcmp_expand .atcmp_keyword_txt{padding-right:13px}
.api_atcmp_wrap .words.expand .atcmp_expand .atcmp_keyword_txt{_position:static;_width:100%;_padding-right:0}
.api_atcmp_wrap .words .atcmp_expand .atcmp_keyword .spat.ic_expand{position:absolute;right:3px;_right:9px;top:9px;display:inline-block;width:6px;height:8px;margin:-2px 0 0 0;background-position:0 0}
.api_atcmp_wrap .words .atcmp_expand_on .atcmp_keyword .spat.ic_expand{display:inline-block;right:1px;_right:9px;width:10px;background-position:-6px 0}
.api_atcmp_wrap .expand{position:relative;overflow:hidden;zoom:1}
.api_atcmp_wrap .expand ul{overflow:visible;margin-right:168px;border-right:1px solid #dbdbdb}
.api_atcmp_wrap .words .add_group{display:none}
.api_atcmp_wrap .expand .add_group{display:block;position:absolute;right:0;top:0;width:168px;border:0}
.api_atcmp_wrap .atcmp_on .add_group,.api_atcmp_wrap .atcmp_expand_on .add_group{display:block}
.api_atcmp_wrap .expand .add_opt{overflow:hidden;zoom:1}
.api_atcmp_wrap .expand .add_opt_on{background-color:#f5f5f5}
.api_atcmp_wrap .add_opt a{display:block;overflow:hidden;padding:10px;line-height:18px;text-decoration:none;zoom:1}
.api_atcmp_wrap .atcmp_bar{display:inline-block;height:11px;margin:-1px 4px 1px;border-left:1px solid #d8d8d8;background:transparent none;vertical-align:middle}
/* 공통형 */
.api_atcmp_wrap .expand .opt_dsc{display:block;width:auto;padding:7px 10px;zoom:1}
.api_atcmp_wrap .expand .opt_dsc:hover,.api_atcmp_wrap .expand .opt_dsc:active,.api_atcmp_wrap .expand .opt_dsc:focus{text-decoration:none}
.api_atcmp_wrap .expand .dsc_thmb{float:left;margin-right:7px}
.api_atcmp_wrap .expand .dsc_group{overflow:hidden;zoom:1}
.api_atcmp_wrap .expand .dsc_cate{overflow:hidden;float:left;width:auto;height:15px;margin-right:5px;border:1px solid #dde4f2;background:#f3f5fa;line-height:16px;font-size:12px;color:#536080;vertical-align:middle}
.api_atcmp_wrap .expand .dsc_word{display:block;font-weight:normal;color:#eb0c00}
.api_atcmp_wrap .expand .dsc_sub{display:block;_width:100%;overflow:hidden;color:#888;white-space:nowrap;text-overflow:ellipsis;zoom:1}
/* 로또 */
.api_atcmp_wrap .expand .opt_lotto{padding:10px 0 4px 9px;line-height:20px}
.api_atcmp_wrap .expand .opt_lotto .spat.lotto_num{width:18px;height:18px;margin-right:2px;font-size:11px;font-family:tahoma,geneva,sans-serif;font-weight:bold;color:#fff;white-space:nowrap;letter-spacing:0;line-height:17px;text-align:center}
.api_atcmp_wrap .lotto_num{background-position:-1px -9px}
.api_atcmp_wrap .lotto_num10,.api_atcmp_wrap .lotto_num11,.api_atcmp_wrap .lotto_num12,.api_atcmp_wrap .lotto_num13,.api_atcmp_wrap .lotto_num14,.api_atcmp_wrap .lotto_num15,.api_atcmp_wrap .lotto_num16,.api_atcmp_wrap .lotto_num17,.api_atcmp_wrap .lotto_num18,.api_atcmp_wrap .lotto_num19{background-position:-21px -9px}
.api_atcmp_wrap .lotto_num20,.api_atcmp_wrap .lotto_num21,.api_atcmp_wrap .lotto_num22,.api_atcmp_wrap .lotto_num23,.api_atcmp_wrap .lotto_num24,.api_atcmp_wrap .lotto_num25,.api_atcmp_wrap .lotto_num26,.api_atcmp_wrap .lotto_num27,.api_atcmp_wrap .lotto_num28,.api_atcmp_wrap .lotto_num29{background-position:-41px -9px}
.api_atcmp_wrap .lotto_num30,.api_atcmp_wrap .lotto_num31,.api_atcmp_wrap .lotto_num32,.api_atcmp_wrap .lotto_num33,.api_atcmp_wrap .lotto_num34,.api_atcmp_wrap .lotto_num35,.api_atcmp_wrap .lotto_num36,.api_atcmp_wrap .lotto_num37,.api_atcmp_wrap .lotto_num38,.api_atcmp_wrap .lotto_num39{background-position:-61px -9px}
.api_atcmp_wrap .lotto_num40,.api_atcmp_wrap .lotto_num41,.api_atcmp_wrap .lotto_num42,.api_atcmp_wrap .lotto_num43,.api_atcmp_wrap .lotto_num44,.api_atcmp_wrap .lotto_num45{background-position:-81px -9px}
.api_atcmp_wrap .expand .opt_lotto .spat.lotto_bonus{width:8px;height:8px;margin:0 3px 0 1px;background-position:-1px -29px;line-height:35px;color:transparent}
.api_atcmp_wrap .expand .opt_lotto .lotto_sub{display:block;margin-top:5px;font-family:arial,'돋움',dotum,sans-serif;color:#8d8d8d}
/* 날씨 */
.api_atcmp_wrap .expand .opt_weather{padding:7px 8px 6px}
.api_atcmp_wrap .expand .opt_weather_thmb{float:left;padding:5px 7px 0 0}
.api_atcmp_wrap .expand .opt_weather_group{display:block;_width:90px;overflow:hidden;zoom:1}
.api_atcmp_wrap .expand .opt_weather_state{display:block;margin-top:1px;color:#000}
.api_atcmp_wrap .expand .opt_weather_state em{font-size:11px;font-family:verdana,sans-serif;font-weight:bold;color:#259cef}
.api_atcmp_wrap .expand .opt_weather_state em.opt_deg{color:#f23c3c}
.api_atcmp_wrap .expand .opt_weather_state.localname{display:block;overflow:hidden;_width:90px;color:#777;white-space:nowrap;text-overflow:ellipsis}
.api_atcmp_wrap .expand .opt_weather_state .opt_part{margin:0 4px 0 2px;color:#b5b5b5}
/* 환율 */
.api_atcmp_wrap .expand .opt_exchange{padding:8px 10px;color:#000}
.api_atcmp_wrap .expand .opt_exchange .opt_nation{display:block;overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis;zoom:1}
.api_atcmp_wrap .expand .opt_exchange .opt_nation img{margin:-2px 4px 0 0;vertical-align:middle}
.api_atcmp_wrap .expand .opt_exchange_up .opt_amount,.api_atcmp_wrap .expand .opt_exchange_up strong{color:#d90400}
.api_atcmp_wrap .expand .opt_exchange_keep .opt_amount,.api_atcmp_wrap .expand .opt_exchange_keep strong{color:#666}
.api_atcmp_wrap .expand .opt_exchange_down .opt_amount,.api_atcmp_wrap .expand .opt_exchange_down strong{color:#005dde}
.api_atcmp_wrap .expand .opt_exchange .amount{display:block;margin-top:1px;font-size:14px;font-family:'돋움',dotum,sans-serif;font-weight:bold;line-height:18px}
.api_atcmp_wrap .expand .opt_exchange .amount strong{font-size:18px;font-family:arial,sans-serif;font-weight:bold}
.api_atcmp_wrap .expand .opt_exchange .changes{display:block;font-size:11px;font-family:tahoma,sans-serif}
/* 지역번호 */
.api_atcmp_wrap .expand .opt_localnum{padding:6px 10px 5px;white-space:normal;line-height:20px;zoom:1}
.api_atcmp_wrap .expand .opt_localnum .opt_local{display:inline-block;font-weight:bold;color:#000}
.api_atcmp_wrap .expand .opt_localnum .opt_num{display:inline-block;font-weight:bold;font-family:arial,sans-serif;font-size:15px;color:#f76d1a}
/* 바로이동 */
.api_atcmp_wrap .expand .opt_shortcut{padding:5px 10px 4px;line-height:22px}
.api_atcmp_wrap .expand .opt_shortcut .opt_url{display:block;overflow:hidden;font-weight:bold;color:#32a800;text-overflow:ellipsis;white-space:nowrap}
.api_atcmp_wrap .expand .opt_shortcut .opt_txt{display:inline-block}
/* 행복검색 */
.api_atcmp_wrap .expand .opt_happysearch{padding:6px 10px 4px;line-height:21px}
.api_atcmp_wrap .expand .opt_happysearch .opt_happy_tit{color:#349e22}
.api_atcmp_wrap .expand .opt_happysearch .opt_happy_tit .spat{width:11px;height:11px;margin:-2px 5px 0 0;*margin-top:-1px;background-position:-1px -39px}
.api_atcmp_wrap .expand .opt_happysearch .opt_happy_word{display:block;overflow:hidden;font-weight:bold;color:#444;zoom:1}
/* 선거대응 */
.api_atcmp_wrap .expand .opt_elect{padding:7px 10px 6px;font-weight:bold}
.api_atcmp_wrap .expand .opt_elect .opt_electarea{color:#000}
.api_atcmp_wrap .expand .opt_elect .opt_electname{color:#f76d1a}
/* 문맥검색 */
.api_atcmp_wrap .expand .type_context{margin-top:4px}
.api_atcmp_wrap .expand .type_context+.type_context{margin-top:0}
.api_atcmp_wrap .expand .opt_context{display:block;padding:3px 10px 2px;color:#333}
.api_atcmp_wrap .expand .opt_context .opt_tit{color:#eb0c00}
.api_atcmp_wrap .expand .opt_context .opt_sub{margin-left:1px;color:#8f8f8f}
/* 정답형 */
.api_atcmp_wrap .srch_bx,.api_atcmp_wrap .srch_bx2{position:relative;height:45px;margin-bottom:-1px;border-bottom:1px solid #e5e5e5;font-family:'돋움',Dotum}
.api_atcmp_wrap_v1 .srch_bx,.api_atcmp_wrap_v1 .srch_bx2{margin:-1px 0 0;border-top:1px solid #e5e5e5;border-bottom:0}
.api_atcmp_wrap .srch_bx a,.api_atcmp_wrap .srch_bx2 a{cursor:pointer}
.api_atcmp_wrap .srch_bx a:hover,.api_atcmp_wrap .srch_bx2 a:hover{text-decoration:none}
.api_atcmp_wrap .srch_bx a.tx_dup{position:absolute;top:14px;right:14px;padding-right:7px;background:url(../img/atcmp_bg.png) 100% -175px no-repeat;font-family:'돋움',Dotum;color:#aaa;letter-spacing:-1px}
.api_atcmp_wrap .srch_bx a.tx_dup:hover{text-decoration:underline}
.api_atcmp_wrap .srch_bx a.tx_weight{display:block;height:25px;padding:9px 0 11px 10px;font-size:14px;font-weight:bold;line-height:25px;color:#000;text-decoration:none}
.api_atcmp_wrap .srch_bx a.tx_weight span{display:inline-block;vertical-align:middle}
.api_atcmp_wrap .srch_bx a.tx_weight span.s_num{font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#f76d1a}
.api_atcmp_wrap .srch_bx a.tx_weight span.results{overflow:hidden;white-space:nowrap;word-break:break-all}
.api_atcmp_wrap .srch_bx .tx_color2{display:inline-block;overflow:hidden;max-width:60%;margin-right:6px;color:#32a800;white-space:nowrap;vertical-align:middle;text-overflow:ellipsis}
.api_atcmp_wrap .srch_bx.atcmp_on .tx_weight,.api_atcmp_wrap .srch_bx.atcmp_on .lotto_bx{background-color:#f5f5f5}
.api_atcmp_wrap .srch_bx2.atcmp_on .wtime,.api_atcmp_wrap .srch_bx2.atcmp_on .annuity,.api_atcmp_wrap .srch_bx2.atcmp_on .tx_weight{background-color:#f5f5f5}
.api_atcmp_wrap .srch_bx2{height:auto;font-family:'굴림',gulim,sans-serif}
.api_atcmp_wrap .srch_bx2 .wtime,.api_atcmp_wrap .srch_bx2 .annuity{display:block;overflow:hidden;padding:10px 11px 5px;zoom:1}
.api_atcmp_wrap .srch_bx2 .tx_date{position:absolute;top:13px;right:11px;color:#888}
.api_atcmp_wrap .srch_bx2 .wtime{padding:14px 10px 12px}
.api_atcmp_wrap .srch_bx2 .wtime .stit{display:block;margin-bottom:4px;font-weight:bold;color:#000}
.api_atcmp_wrap .srch_bx2 .wtime .time{font-size:13px;font-weight:bold;color:#f76d1a}
.api_atcmp_wrap .srch_bx2 .annuity{padding-bottom:6px}
.api_atcmp_wrap .srch_bx2 .annuity .lst_an{display:block;float:left}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an{display:block;overflow:hidden;width:207px;height:24px;padding-top:4px;background:url(../img/atcmp_num.png) no-repeat 0 0}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em{float:left;width:25px;margin-right:1px;font-family:Helvetica;font-size:18px;font-weight:bold;color:#fff077;text-align:center}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.first{width:35px;margin-right:13px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an .dc{display:none}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em span{display:block;overflow:hidden;width:15px;height:15px;margin:0 auto;background:url(../img/atcmp_num.png) no-repeat 0 -40px;text-indent:-900px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n2 span{background-position:-15px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n3 span{background-position:-30px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n4 span{background-position:-45px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n5 span{background-position:-60px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n6 span{background-position:-75px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n7 span{background-position:-90px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n8 span{background-position:-105px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n9 span{background-position:-120px -40px}
.api_atcmp_wrap .srch_bx2 .annuity .bx_an em.n0 span{background-position:-135px -40px}
.api_atcmp_wrap .srch_bx2 a.tx_weight{display:block;min-height:25px;_height:25px;padding:9px 0 11px 10px;font-size:14px;font-weight:bold;line-height:25px;color:#000;text-decoration:none}
.api_atcmp_wrap .srch_bx2 a.tx_weight span{display:inline-block;vertical-align:middle}
.api_atcmp_wrap .srch_bx2 a.tx_weight span.s_num{font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#f76d1a}
.api_atcmp_wrap .srch_bx2 a.tx_weight span.results{overflow:hidden;word-break:break-all}
.api_atcmp_wrap .srch_bx2 a.tx_weight .tx_sec{display:inline-block;max-width:270px;_width:270px}
.api_atcmp_wrap .srch_bx2 a.tx_weight .tx_date{position:absolute;top:9px;right:12px;font-family:'굴림',gulim;font-size:12px;font-weight:normal;color:#888}
.api_atcmp_wrap .srch_bx2 a.tx_weight .num{color:#f76d1a}
/* 내검색어 */
.api_atcmp_wrap .help2{position:absolute;display:block;overflow:hidden;bottom:27px;right:2px;width:218px;height:23px;background:url(../img/atcmp_txt.png) no-repeat 0 0;line-height:99;text-indent:-900px}
.api_atcmp_wrap .lst_tab{overflow:hidden;zoom:1}
.api_atcmp_wrap .lst_tab ul{margin-left:-1px;height:30px;border-bottom:1px solid #d7d8d9;background:#f7f7f7;zoom:1}
.api_atcmp_wrap .lst_tab ul:after{clear:both;display:block;content:''}
.api_atcmp_wrap .lst_tab ul li{float:left;position:relative;margin-right:-2px;border-right:1px solid #fff}
.api_atcmp_wrap .lst_tab ul li a{display:block;float:left;width:95px;padding:9px 0 7px;border:1px solid #e3e4e5;border-top:0;border-bottom:0;color:#666;line-height:14px;text-align:center;text-decoration:none}
.api_atcmp_wrap .lst_tab ul li a:hover{text-decoration:none}
.api_atcmp_wrap .lst_tab ul li.on{z-index:100}
.api_atcmp_wrap .lst_tab ul li.on a{position:relative;width:97px;margin-bottom:-1px;padding-bottom:8px;border-color:#d7d8d9;background:#fff;font-weight:bold;color:#45474b;cursor:default}
.api_atcmp_wrap .my_words .words{padding-top:5px}
.api_atcmp_wrap .my_words .words li a{float:left;overflow:hidden;max-width:300px;text-indent:2px;white-space:nowrap;text-overflow:ellipsis}
.api_atcmp_wrap .my_words .words li .date{position:absolute;top:3px;right:10px;_right:28px;font-size:11px;color:#bcbcbc;cursor:pointer}
.api_atcmp_wrap .my_words .words li .btn_del{display:none;overflow:hidden;position:absolute;top:1px;right:7px;_right:25px;width:14px;height:13px;padding:3px;background:url(../img/atcmp_sp.png) no-repeat -33px -32px;text-indent:-900px}
.api_atcmp_wrap .my_words .words li .ton,.api_atcmp_wrap .my_words .words li .toff{display:block;_display:inline;float:left;overflow:hidden;display:inline-block;width:12px;height:11px;margin:1px 0 -1px 6px;padding:4px;background:url(../img/atcmp_sp.png) no-repeat 4px -31px;vertical-align:middle;text-indent:-999px;cursor:pointer}
.api_atcmp_wrap .my_words .words li .ton{background-position:-15px -31px}
.api_atcmp_wrap .my_words .words .u_t_del li .date{display:none}
.api_atcmp_wrap .my_words .words .u_t_del li .btn_del{display:block}
.api_atcmp_wrap .my_words .noti{padding:6px 0 4px 26px;border-top:1px solid #f0f0f0;background:url(../img/atcmp_sp.png) no-repeat 10px -52px;font-family:'돋움',dotum;font-size:11px;color:#666;letter-spacing:-1px}
.api_atcmp_wrap .my_words .info_words{padding:17px 9px 11px;color:#666}
.api_atcmp_wrap .my_words .info_words .star{display:inline-block;overflow:hidden;width:12px;height:11px;margin:-2px 1px 2px 0;background:url(../img/atcmp_sp.png) no-repeat 0 -35px;vertical-align:middle;text-indent:-900px}
.api_atcmp_wrap .ly_noti .mask{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#fff;opacity:0;filter:alpha(opacity=0)}
.api_atcmp_wrap .ly_noti p{position:absolute;top:30px;left:0;z-index:200;width:100%;padding:12px 0 10px;border-top:1px solid #777;border-bottom:1px solid #777;line-height:19px;background-color:#fff;text-align:center}
.api_atcmp_wrap .ly_noti p em{color:#f74d45}
.api_atcmp_wrap .ly_noti p .ico{display:inline-block;overflow:hidden;width:14px;height:14px;margin:-1px 4px 1px 0;background:url(../img/atcmp_sp.png) no-repeat 0 -90px;vertical-align:middle}
.api_atcmp_wrap .ly_noti a.btn_clse{display:block;overflow:hidden;position:absolute;top:8px;right:8px;width:13px;height:13px;background:url(../img/atcmp_sp.png) no-repeat -20px -90px;text-indent:-900px}
/* 선거정보 영역 */
.api_atcmp_wrap .api_atcmp_alert{overflow:hidden;padding:22px 10px 21px;zoom:1}
.api_atcmp_wrap .api_atcmp_alert .ico{display:block;float:left;width:16px;height:16px;margin-right:5px;background:url(../img/ico_alert_red.png) no-repeat 0 0}
.api_atcmp_wrap .api_atcmp_alert .dsc_txt{overflow:hidden;font-size:12px;color:#666;zoom:1}
.api_atcmp_wrap .api_atcmp_alert .dsc_txt a{margin-left:3px;font-size:11px;color:#666;text-decoration:underline}
/* 하단 자동검색창 */
.api_atcmp_wrap_v1{border-top:1px solid #888d95;border-bottom:0}
.api_atcmp_wrap_v1 .func{border-width:0 0 1px}
.api_atcmp_wrap_v1 .atcmp_plus{border-width:0 0 1px}
.api_atcmp_wrap_v1 .help{top:27px;right:2px}
.api_atcmp_wrap_v1 .lst_tab ul{border-top:1px solid #d7d8d9;border-bottom:0}
.api_atcmp_wrap_v1 .my_words .noti{border-top:0;border-bottom:1px solid #f0f0f0}
.api_atcmp_wrap_v1 .ly_noti p{top:auto;bottom:30px}
.api_atcmp_wrap_v1 .lst_tab ul li.on a{margin:-1px 0 0 0;padding:10px 0 7px}
.api_atcmp_wrap_v1 .help2{bottom:auto;top:27px}
/* 자연어 자동완성 */
.api_atcmp_wrap .nature{margin-top:4px}
.api_atcmp_wrap .nature .tit{padding:3px 10px 1px 28px;background:url(../img/atcmp_nature.png) no-repeat 8px 4px;font-size:12px;font-weight:normal;color:#666}
.api_atcmp_wrap .nature .tit .beta{display:inline-block;overflow:hidden;width:17px;height:8px;margin:-1px 0 1px -1px;background:url(../img/atcmp_beta.gif) no-repeat 0 0;text-indent:-99px;vertical-align:middle}
.api_atcmp_wrap .nature ul{padding-bottom:4px;border-bottom:1px solid #e5e5e5}
.api_atcmp_wrap .nature li a{display:block;padding-left:21px;background:url(../img/atcmp_nature.png) no-repeat 12px -18px;color:#000;zoom:1}
.api_atcmp_wrap_v1 .nature{border-top:1px solid #e5e5e5}
.api_atcmp_wrap_v1 .nature ul{border:0;padding-bottom:0}
.api_atcmp_wrap_v1 .nature li a{background-position:12px -30px}
/* iPad */
.ipad body{font-size:13px;font-family:Helvetica}
.ipad .api_atcmp_wrap .words li{height:28px}
.ipad .api_atcmp_wrap .words li a{padding-top:5px;padding-bottom:2px}
.ipad .api_atcmp_wrap .nature li a{background-position:12px -14px}
.ipad .api_atcmp_wrap .my_words .words li .ton,.ipad .api_atcmp_wrap .my_words .words li .toff{margin-top:4px}
.ipad .api_atcmp_wrap .words .atcmp_quick a.mquick{top:3px;padding:1px 4px 2px;font-family:Helvetica;font-size:13px}
.ipad .api_atcmp_wrap .words .tx_sch em{font:11px Helvetica}
.ipad .api_atcmp_wrap .func{padding:8px 0 5px;font:13px/1.3em Helvetica}
.ipad .api_atcmp_wrap .my_words .noti{letter-spacing:0}
.ipad .api_atcmp_wrap .my_words .words li .btn_del{top:2px;padding:5px;background-position:-31px -30px}
.ipad .api_atcmp_wrap .srch_bx{font-family:Helvetica}
.ipad .api_atcmp_wrap .srch_bx a.tx_dup{font-family:Helvetica}
.ipad .api_atcmp_wrap .srch_bx .tx_link{font-size:14px}
.ipad .api_atcmp_wrap .srch_bx .tx_color{margin:-2px 0 2px;font-size:14px}
.ipad .api_atcmp_wrap .srch_bx a.tx_weight{padding:11px 0 9px 10px}
.ipad .api_atcmp_wrap .srch_bx a.tx_weight span.results{font-size:16px}
.ipad .api_atcmp_wrap .srch_bx a.tx_weight span.s_num{margin:-1px 0 1px}
/* EOF */
