*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, 'Trebuchet MS', Verdana
}
a{
	text-decoration: none;
	font-weight: 500;
}
.arep{
	color: inherit;
}
body{
	background: #000;
}
.comment-tag, .tip-tag{
	padding: 5px;
	color: #FFF;
	line-height: 20px;
	margin: 0 10px 0 0;
}
.comment-tag{
	background: #B94A48;
}
.tip-tag{
	background: #008FFC;
}
.hcursor{
	cursor: pointer;
}
.charcount-in{
	margin: 0 0 0 365px;
}
.charcount-in.red{
	color: red;
}
#t-update{
	margin: 0 5px 0 0;
}
.feedback-banner{
	background: #b60000;
	color: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 10px;
	border-radius: 4px;
	margin: 0 0 10px 0;
	font-size: 14px;
}
.bl{
	display: block;
	border-bottom: 1px solid #585858;
	height: 20px;
	float: left;
	margin: -10px 10px 0 0;
}
.br{
	display: block;
	border-bottom: 1px solid #585858;
	height: 20px;
	float: left;
	margin: -10px 0 0 10px;
}
.bl.t1{width: 40px;}
.br.t1{width: 800px;}

.bl.t2{width: 40px; margin: -4px 10px 0 0;}
.br.t2{width: 780px; margin: -4px 10px 0 0;}

.bl.t3{width: 40px; margin: -4px 10px 0 0;}
.br.t3{width: 760px; margin: -4px 0 0 10px;}
.lmc{
	color: #CBCBCB;
	font-size: 12px;
	cursor: pointer;
	float: left;
	display: block;
	width: 120px;
}
.lmc.tt{
	margin: 8px 0 0 0;
}
.tooltip{
	background: #F1F1F1;
	border: 1px solid #CBCBCB;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 12px;
	display: none;
}
.btyb{
	float: right;
	color: #CBCBCB;
	font-size: 14px;
	font-weight: 300;
	margin: 10px 10px 0 0;
}
.exception-page{
	width: 980px;
	margin: auto;
}
.ui-dialog-titlebar{ display:none }
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.pos-rel{
	position: relative;
}
.log-error{
	border: 1px solid #CBCBCB;
	border-radius: 4px;
	width: 99%;
	padding: 10px 0 10px 10px;
	font-weight: 300;
	font-size: 18px;
	margin: 10px 0;
	color: #CBCBCB;
}
#home-search{
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	background: #F7EEBD;
	padding: 6px 25px;
	border: 1px solid #424242;
	border-left: none;
	border-radius: 0 3px 3px 0;
}
.other-mag{
	background: #F7EEBD;
	padding: 6px 18px;
	border: 1px solid #424242;
	border-left: none;
	border-radius: 0 3px 3px 0;
}
#master-block{
	width: 100%;
}
#sub-master{
	background: #161616;
	width: 980px;
	margin: auto;
	padding: 10px
}
.btn{
	background: #303030;
	border: 1px solid #424242;
	padding: 5px 10px;
	float: left;
	font-weight: 300;
	color: #F7EEBD;
	font-size: 14px;
	cursor: pointer;
}
.btn a{
	color: inherit;
	text-decoration: none;
}
.tag_assassin{ background: #b02c2c; }
.tag_fighter{  background: #d9b036; }
.tag_tank{ background: #50a186; }
.tag_mage{ background: #1c4894; }
.tag_support{ background: #d18892; }
.tag_top{ background: #db701f; }
.tag_mid{ background: #538ab8; }
.tag_jungler{ background: #3a8005; }
.tag_bottom{ background: #cfc867; }
.tag_physical{ background: #cc2737; }
.tag_hybrid{ background:#905196; }
.tag_magical{ background:#2c6ab0; }
.tag_general{ background: #999; }
.green{ color: #6AB643; }
.tag_green{ background: #468847; }
.tag_red{ background: #B94A48; }
.tag_blue{ background: #3A87AD; }
.tag_blue_l{ background: #008FFC; float: right !important; cursor: pointer; } 	 	
.tag_blue_l_i{  	 	
background: #008FFC; 	 	
color: #FFF; 	 	
border-radius: 1px; 	 	
padding: 2px 10px; 	 	
margin: 0 2px 0 0; 	 	
font-weight: 500; 	 	
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
/*-------------------*/
/* 	 CHAMP ADD BOX	 */
/*  ---------------  */
/*			#addPick		 */
/*-------------------*/
#addPick{
	width: 400px;
	background: #F1F1F1;
	border: 1px solid #444;
	border-radius: 8px;
	display: none;
}
.ui-dialog {
	position:absolute;
}
#addPick .header{
	padding: 10px 0 10px 15px;
	font-size: 20px;
	color: #CBCBCB;
	background: #161616;
	border-radius: 4px 4px 0 0;
}
#addPick .footer{
	background: #161616;
	padding: 10px;
	border-radius: 0 0 4px 4px;
	overflow: auto;
}
#addPick .footer div{
	float: right;
	margin: 0 0 0 5px;
}
#addPick .options{
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 20px 0 20px 15px;
	background: #303030;
}
.pagination{
	margin: 30px 0 0 0;
	padding: 10px 0 0 10px;
	clear: both;
}
.pagination a{
	background: #161616;
	border: 1px solid #62584A;
	border-radius: 3px;
	padding: 3px 8px;
	color: #CBCBCB;
}
.pagination a.active{
	background: #222;
	color: #F7EEBD;
}
.paginationmore{
	margin: 30px 0 0 0;
	color: #FFF;
	padding: 10px;
	float: left;
}
.paginationmore span{
	background: #161616;
	border: 1px solid #62584A;
	border-radius: 3px;
	padding: 3px 8px;
	color: #CBCBCB;
	margin: 0 0 0 5px;
}
.paginationmore span em{
	font-style: normal;
	position: relative;
	bottom: 2px;
}
.paginationmore span em a{
	color: #FFF;
}
/*----------------------*/
/* 		HEADER STYLING		*/
/*  ------------------  */
/*				#header				*/
/*----------------------*/
#header{
	width: 100%;
	background: #181818;
	position: relative;
	z-index: 100;
}
#header .sub-header{
	width: 980px;
	height: 70px;
	margin: auto;
	border-bottom: 1px solid #333333;
}
#header .nav .logo-link{
	width: 10px;
}
#header .sub-header .nav-item{
	float: left;
	font-weight: 500;
	color: #FFF;
	margin: 30px 0 0 0;
}
#header .sub-header .nav-item a{
	color: inherit;
	text-decoration: none;
}
#header .sub-header .nav-item.link{
	width: 130px;
	margin: 38px 0 0 0;
}
#header .sub-header .logo{
	background: url(/resources/img/logo2.png);
	width: 317px;
	height: 99px;
	float: left;
	margin: 0 5px 0 0;
}
#header .sub-header .title{
	font-size: 30px;
	font-weight: 500;
	color: #FFF;
	line-height: 30px;
	width: 273px;
}
#header .sub-header .nav-item.header{
	margin: 0 30px 0 -45px;
}
#header .sub-header .nav-item.csearch{
	position: relative;
	float: right;
	margin: 34px 0 0 0;
}
#header .sub-header .nav-item.csearch .results{
	position: absolute;
	overflow: hidden;
	background: #161616;
	border: 1px solid #333;
	display: none;
	z-index: 1000;
}
#header .sub-header .nav-item.csearch .results .display-name{
	font-weight: 500;
	margin: 5px 0 0 0;
	font-size: 20px;
}
#header .sub-header .nav-item.csearch .results .champ-img{
	margin: 5px;
}
#header .sub-header .nav-item.csearch .results .sub{
	overflow: auto;
	max-height: 420px;
	width: 280px;
}
#header .sub-header .nav-item.csearch .results div.col{
	display: none;
	width: 100%;
	float: left;
}
#header .sub-header .nav-item.csearch .results div.selected, #header .sub-header .nav-item.csearch .results div.col:hover{
	background: #303030;
	cursor: pointer;
	color: #CBCBCB;
}
#header .sub-header .nav-item.csearch input{
	width: 280px;
	border: 1px solid #424242;
	border-radius: 2px;
	height: 28px;
	font-size: 13px;
	text-indent: 10px;
	outline: none;
	background: #2D2D2D;
	color: #CBCBCB;
}

/* SUB HEADER */

#sub-menu{
	width: 100%;
	background: #1F1F1F;
	height: 40px;
}
#sub-menu .link{
	margin: auto auto auto -10px;
	padding: 9px;
	font-weight: 300;
	color: #CBCBCB;
	font-size: 15px;
}
#sub-menu a{
	text-decoration: none;
}
.sub-menu-options{
	width: 980px;
	margin: auto;
	color: #CBCBCB;
}
.sub-menu-options a{
	color: #F7EEBD;
}
.sub-menu-options div{
	margin: 8px 0 0 0;
	font-weight: 300;
	font-size: 15px;
}
/*------------------------------*/
/* 		HOME CHAMPIONS STYLING		*/
/*  --------------------------  */
/*				#champions-block			*/
/*------------------------------*/
#champions-block{
	width: 980px;
	margin: 0 auto 40px auto;
	box-shadow: 0px 4px 0px #2E2D2A;
	padding: 0 0 40px 0;
	border-bottom: 3px solid #62584A;;
}
#champions-block .block-left{
	width: 630px;
	float: left;
}
#champions-block .block-right{
	float: right;
	margin: 20px 0 0 0;
}
#champions-block .block-right .ad1{
	width: 300px;
	height: 250px;
	background: #000;
	float: right;
}
#champions-block .block-right .ad2{
	width: 728px;
	height: 90px;
	background: #000;
	clear: both;
	margin: 0 auto;
}
#champions-block .header{
	border-bottom: 3px solid #62584A;
	box-shadow: 0px 4px 0px #2E2D2A;
}
#champions-block .header .title{
	font-size: 30px;
	font-weight: 500;
	margin: 25px 0 0 0;
	color: #FFF;
}
#champions-block .header .info{
	font-size: 14px;
	font-weight: 300;
	margin: 0 0 25px 0;
	color: #888;
}
#champions-block .info p{
	margin: 10px 0;
	color: #CBCBCB;
}
#champions-block .champions{
	width: 630px;
	margin: 30px 0 0 0;
	color: #CBCBCB;
}
#champions-block .champ-img{
	width: 75px;
	height: 75px;
}
#champions-block .name{
	width: 75px;
	text-align: center;
	color: #B9B9B9;
	white-space: nowrap;
}
#champions-block .block{
	margin: 0 30px 20px 0;
	font-size: 13px;
}
#champions-block .popular-streams .mtitle{
	font-size: 20px;
	font-weight: 500;
	margin: 20px 0 15px 0;
	float: left;
	color: #CBCBCB;
}
#champions-block .popular-streams{
	float: right;
	clear: both;
}
#champions-block .popular-streams .streams-header{
	height: 20px;
}
#champions-block .popular-streams .streams{
	float: left;
	clear: both;
}
#champions-block .streams .stream-block{
	width: 280px;
	background: #303030;
	border-radius: 2px;
	margin: 5px 0 0 0;
	padding: 12px 10px;
	font-size: 12px;
	color: #CBCBCB;
	overflow: auto;
}
#champions-block .streams .stream-block .title{
	color: #F7EEBD;
	float: left;
	max-width: 235px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#champions-block .streams .htitle{
	font-size: 15px;
	float: left;
	font-weight: 300;
	margin: 0 0 3px 0;
	color: #888;
}
#champions-block .streams .hviewers{
	float: right;
	font-size: 15px;
	font-weight: 300;
	margin: 0 10px 3px 0;
	color: #888;
}
#champions-block .streams .stream-block .viewers{
	float: right;
}
#champions-block .popular-discussions{
	border-top: 1px solid #CBCBCB;
	padding: 40px 0 0 0;
	margin: 40px 0 0 0;
}
.popular-discussions{
	width: 980px;
	margin: auto;
	padding: 30px 0 0 0;
	color: #CBCBCB;
}
.popular-discussions .header{
	color: #888;
}
.popular-discussions a{
	color: inherit;
}
.popular-discussions > .title{
	font-weight: 500;
	font-size: 20px;
	margin: 0 0 15px 0;
}
.popular-discussions .header div{
	float: left;
	font-size: 15px;
}
.popular-discussions .header{
	margin: 0 0 5px 0;
	float: left;
}
.popular-discussions .content{
	background: #303030;
	border-radius: 4px;
	float: left;
	padding: 10px;
	margin: 0 0 5px 0;
	width: 960px;
	color: #F7EEBD;
}
.popular-discussions .content div{
	float: left;
	font-size: 13px;
	line-height: 20px;
}
.popular-discussions .header .matchup{
	width: 90px;
	margin: 0 10px 0 0;
}
.popular-discussions .content .matchup{
	width: 80px;
	margin: 0 10px 0 0;
}
.popular-discussions .content .matchup .champ-img{
	width: 24px;
	height: 24px;
	margin: 0 5px 0 0;
}
.popular-discussions .header .title, .popular-discussions .content .title{
	width: 545px;
	margin: 0 10px 0 0;
	height: 20px;	
	overflow: hidden;
}
.popular-discussions .header .author, .popular-discussions .content .author{
	width: 160px;
	margin: 0 10px 0 0;
	overflow: hidden;
}
.popular-discussions .header .posted, .popular-discussions .content .posted{
	width: 130px;
	margin: 0 10px 0 0;
	white-space: nowrap;
}

/*-----------------------------*/
/* 		ALL CHAMPIONS STYLING		 */
/*  -------------------------  */
/*				#all-champions			 */
/*-----------------------------*/
#all-champions{
	width: 980px;
	margin: auto;
}
#all-champions .mtitle{
	font-size: 30px;
	font-weight: 500;
	margin: 25px 0 0 0;
	color: #FFF;
}
#all-champions .block-left{
	float: left;
	width: 630px;
}
#all-champions .block-right{
	margin: 20px 0 0 0;
	float: right;
}
#all-champions .block-left p{
	font-size: 14px;
	font-weight: 300;
	margin: 20px 0 0 0;
	color: #CBCBCB;
}
#all-champions .search-box{
	border-top: 1px solid #62584A;
	border-bottom: 1px solid #62584A;
	width: 630px;
	margin: 43px 0 0 0;
}
#all-champions .search-box .search-filter{
	background: #2E2D2A;
	padding: 10px;
	border-radius: 4px;
	margin: 20px 0;
	position: relative;
}
#all-champions .search-box .search-filter .results{
	position: absolute;
	overflow: hidden;
	background: #F1F1F1;
	border: 1px solid #CBCBCB;
	display: none;
}
#all-champions .search-box input{
	width: 610px;
	border: 1px solid #CBCBCB;
	font-size: 15px;
	font-weight: 300;
	border-radius: 2px;
	padding: 10px 0;
	text-indent: 10px;
	outline: none;
}
#all-champions .search-box .glass{
	position: absolute;
	right: 25px;
	top: 22px;
}
#all-champions .block-right .ad1{
	width: 300px;
	height: 250px;
	background: #000;
	float: right;
}
#all-champions .block-right .ad2{
	width: 728px;
	height: 90px;
	background: #000;
	clear: both;
	margin: 0 auto;
}

#all-champions .champions .champ-img{
	width: 90px;
	height: 90px;
	float: left;
	margin: 35px 37px 0 0;
}
#all-champions .champions a:nth-child(8n) div.champ-img{
	margin: 35px 0 0 0;
}

/*------------------------------*/
/* 		SPECIFIF CHAMP STYLING	  */
/*  --------------------------  */
/*				 #championPage			  */
/*------------------------------*/
#championPage{
	width: 980px;
	margin: auto;
	margin-top: 25px;
}
#championPage .vs{
	font-weight: 500;
	margin: 15px 0 0 0;
}
#championPage .vote-chunk .lane{
	color: #FFF;
	font-weight: 500;
	font-size: 13px;
	padding: 2px 10px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	position: absolute;
	right: 5px;
	bottom: 5px;
}
#championPage .vote-chunk .vote{
	background: #FFF;
	color: #CBCBCB;
	text-shadow: none;
	border: 1px solid #CBCBCB;
	margin: 4px 0 0 0;
	cursor: pointer;
}
#championPage .ad1{
	width: 300px;
	height: 250px;
	background: #000;
	float: right;
}

#championPage .ad2{
	width: 728px;
	height: 90px;
	background: #000;
	clear: both;
	margin: 0 auto;
}

#championPage .champion-stats{
	float: left;
	width: 670px;
}
#championPage .champion-stats .champ-img{
	width: 80px;
	height: 80px;
	margin: 0 10px 0 0;
}
#championPage .champion-stats .name{
	font-size: 32px;
	font-weight: 500;
	color: #CBCBCB;
	line-height: 30px;
	padding: 6px 0 0 0;
}
#championPage .champion-stats .title{
	font-size: 18px;
	font-weight: 500;
	color: #FFF;
}
#championPage .champion-stats .lanes, #championPage .champion-stats .roles{
	font-size: 13px;
	float: left;
}
#championPage .champion-stats .lanes .lane, #championPage .champion-stats .roles .role{
	float: left;
	margin: 1px 2px 0 0;
	padding: 0 5px;
	border-radius: 2px;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
#championPage .champ-tips{
	margin: 20px 0 0 0;
}
#championPage .champ-tips .options{
	font-size: 14px;
	font-weight: 300;
	border-bottom: 1px solid #333333;
	margin: 10px 0;
	padding: 0 0 10px 0;
	float: left;
	width: 99%;
}
#championPage .champ-tips .options a{
	padding: 0 94px;
	color: #F7EEBD;
}
#championPage .champ-tips .options a:nth-child(2) span {
	background: #F7EEBD;
	color: #444;
	padding: 5px 9px;
	margin: -5px -20px;
	border-radius: 3px;
}
#championPage .champ-tips p{
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 7px 0;
	color: #CBCBCB;
}
#championPage .champ-tips .tip{
	float: left;
	width: 615px;
	color: #FFF;
	margin: 12px 0;
	word-wrap: break-word;
}
#championPage .champ-tips .tip .submitted{
	margin: 5px 0 0 0;
	font-size: 12px;
	color: #B2B2B2;
}
#championPage .champ-tips .tip .submitted span{
	color: #5E5E5E;
}
#championPage .champ-tips .tip-block{
	float: left;
	font-weight: 300;
	font-size: 14px;
	color: #CBCBCB;
	border-bottom: 1px solid #333;
	width: 665px;
}
#championPage .champ-tips .tip-block .votes{
	float: left;
	margin: 11px 8px 0 0;
	width: 20px;
	text-align: center;
	color: #CBCBCB;
}
#championPage .champ-tips .arrows{
	margin: 5px 5px 0 0;
	display: none;
}
#championPage .champ-tips .arrows div img{
	cursor: pointer;
}
#championPage .champ-tips .tip-block .tip .report-tip, #tips-matchup .report-tip, #tips-matchup .delete-tip, #championPage .champ-tips .tip-block .tip .delete-tip{
	color: #F7EEBD;
	font-size: 12px;
	cursor: pointer;
	display: none;
}
#championPage .champ-tips .blue-arrow{
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #FFF;
	float: left;
	margin: 16px 11px 0 3px;
}
#championPage .block2{
	margin: 20px 0 0 0;
}
#championPage .tabs{
	border-bottom: 1px solid #62584A;
	width: 980px;
	float: left;
	height: 30px;
	position: relative;
}
#championPage .tabs .tab{
	border-radius: 2px;
	float: left;
	padding: 5px 10px;
	font-weight: 500;
	font-size: 14px;
	color: #F7EEBD;
	margin: 0 30px 0 0;
	cursor: pointer;
	border: 1px solid transparent;
}
#championPage .tabs .tab.selected{
	border: 1px solid #62584A;
	border-bottom: 1px solid #161616;
}
#championPage .tabs-show{
	margin: 15px 0 0 0;
	float: left;
}
#championPage .champ-info{
	float: left;
	width: 980px;
	display: none;
}
#championPage .champ-info .info-block{
	clear: both;
	float: left;
	border: 1px solid #62584A;
	width: 400px;
	padding: 5px;
	border-radius: 3px;
	margin: 0 0 2px 0;
	cursor: pointer;
}
#championPage .champ-info .info-block .name{
	font-size: 17px;
	font-weight: 300;
	color: #F7EEBD;
	margin: 3px 0 0 5px;
}
#championPage .champ-info .stats-block .col1, #championPage .champ-info .stats-block .col3{
	background: #333;
	font-size: 14px;
	font-weight: 300;
	padding: 5px;
	border-radius: 3px;
	text-align: right;
	color: #CBCBCB;
}
#championPage .champ-info .stats-block .col2, #championPage .champ-info .stats-block .col4{
	font-size: 14px;
	font-weight: 300;
	padding: 5px;
	color: #CBCBCB;
}
#championPage .champ-info .stats-block .col1 div,
#championPage .champ-info .stats-block .col2 div,
#championPage .champ-info .stats-block .col3 div,
#championPage .champ-info .stats-block .col4 div{
	margin: 16px 10px;
	color: #CBCBCB;
}
#championPage .champ-info .skill-details{
	float: left;
	width: 400px;
	clear: both;
	font-size: 14px;
	font-weight: 300;
	border: 1px solid #62584A;
	border-top: none;
	border-radius: 0 0 3px 3px;
	padding: 5px;
	margin: -4px 0 5px 0;
	color: #CBCBCB;
}
#championPage .champ-info .skill-details.hidden{
	display: none;
}
#championPage .champ-info .skill-details b{
	font-weight: 500;
}
#championPage .champ-info .info-block .type{
	background: #333;
	padding: 5px 10px 0 10px;
	border-radius: 3px;
	float: right;
	font-weight: 300;
	color: #CBCBCB;
	font-size: 14px;
	width: 50px;
	text-align: center;
	height: 25px;
}
#championPage .champ-info .info-block img, #championPage .champ-info .info-block .file{
	width: 30px;
	height: 30px;
}
#championPage .champ-info .info-block div{
	float: left;
}
#championPage .counter-info .mechanics{
	width: 350px;
	float: left;
	margin: 0 10px 0 0;
}
#championPage .counter-info .mechanics p, #championPage .counter-info .summoners p{
	color: #CBCBCB;
	font-size: 14px;
	font-weight: 300;
	margin: 0 0 10px 0;
}
#championPage .counter-info .mechanics .counter{
	background: #333;
	font-weight: 300;
	color: #F7EEBD;
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid #62584A;
	font-size: 14px;
	float: left;
	margin: 0 5px 5px 0;
}
#championPage .counter-info .summoners{
	float: left;
}
#championPage .counter-info .summoners div{
	width: 45px;
	height: 45px;
	border-radius: 3px;
	margin: 0 5px 0 0;
}
#championPage .weak-strong .weak .weak-block{
	border-radius: 4px;
	padding: 5px 0;
	width: 470px;
	float: left;
	margin: 0 40px 15px 0;
}
#championPage .weak-strong .weak .weak-block.full{
	width: 980px;
}
#championPage .weak-strong .weak .weak-block.full .left{
	float: left;
}
#championPage .weak-strong .weak .weak-block.full .right{
	/*float: right;*/
}
#championPage .extra-block-more{
	border-radius: 4px;
	padding: 5px 0;
	width: 470px;
	float: left;
	margin: 0 0 0 0;
}
#championPage .block3 .good-even{
	float: left;
	width: 980px;
}
#championPage .block3 .weak-strong{
	float: left;
	width: 980px;
}
#championPage .weak-strong .strong .strong-block{
	border-radius: 4px;
	padding: 5px 0;
	width: 470px;
	float: left;
	margin: 0 0 15px 0;
}
#championPage .good-even .good .good-block{
	border-radius: 4px;
	padding: 5px 0;
	width: 470px;
	float: left;
	margin: 0 0 0 40px;
}
#championPage .good-even .even .even-block{
	border-radius: 4px;
	padding: 5px 0;
	width: 470px;
	float: left;
}
#championPage .good-even .even .even-block .name{
	font-size: 18px;
}
#championPage .block3:not(._all){
	display: none;
}
#championPage .block3 .btn{
	margin: 10px 0 0 5px;
}
#championPage .block3 .btn:nth-child(6){
	margin: 10px 10px 0 63px;
}
#championPage .block3 {
	float: left;
	width: 980px;
	border-bottom: 1px solid #62584A;
	padding: 0 0 40px 0;
}
#championPage .block3 p{
	font-size: 20px;
	font-weight: 500;
	color: #CBCBCB;
	margin: 0 0 10px 0;
}
#championPage .block3 .full .champ-block{
	width: 980px;
}
#championPage .block3 .champ-block.hidden{
	display: none;
}
#championPage .block3 .countertips{
	border: 2px solid #CBCBCB;
	border-radius: 3px;
	padding: 10px;
	position: absolute;
	background: #161616;
	width: 385px;
	z-index: 100;
	display: none;
}
#championPage .block3 .full .countertips{
	left: 50%;
}
#championPage .block3 .countertips .submitted{
	margin: 5px 0 0 0;
	font-size: 12px;
	color: #B2B2B2;
}
#championPage .block3 .countertips .submitted span{
	color: #5E5E5E;
}
#championPage .block3 .countertips h5{
	color: #CBCBCB;
	margin: 5px 0 0 0;
	font-size: 14px;
}
#championPage .block3 .countertips .more{
	font-size: 14px;
	float: left;
	color: #CBCBCB;
	padding: 10px 0 0 0;
}
#championPage .block3 .countertips .blue{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #008FCC;
	float: left;
	margin: 4px 0 0 8px;
	float: left;
}
#championPage .block3 .countertips .howto{
	font-size: 20px;
	color: #CBCBCB;
	font-weight: 500;
	border-bottom: 1px solid #62584A;
	padding: 0 0 5px 0;
}
#championPage .block3 .countertips .votes{
	float: left;
	font-size: 14px;
	padding: 10px 0;
	color: #CBCBCB;
}
#championPage .block3 .countertips .tips{
	float: left;
	border-bottom: 1px solid #62584A;
}
#championPage .block3 .countertips .tip{
	font-size: 14px;
	color: #CBCBCB;
	float: left;
	width: 335px;
	margin: 0 0 0 15px;
	padding: 10px 0;
}
#championPage .block3 .champ-block{
	background: #333;
	float: left;
	width: 460px;
	padding: 8px 5px;
	margin: 0 0 5px 0;
	border-radius: 3px;
	position: relative;
}
#championPage .block3 .champ-block .theinfo{
	width: 400px;
}
#championPage .block3 .full .champ-block .theinfo{
 	width: 946px;
}
#championPage .block3 .champ-block .per-bar{
	width: 210px;
	height: 18px;
	float: right;
	background: #FFF;
	border-radius: 3px;
}
#championPage .block3 .full .champ-block .per-bar{
	float: left;
	margin: 1px 0 0 0;
}
#championPage .block3 .champ-block .per-bar div{
	background: #61c361;
	background: -moz-linear-gradient(top, #61c361 0%, #4a904a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61c361), color-stop(100%,#4a904a));
	background: -webkit-linear-gradient(top, #61c361 0%,#4a904a 100%);
	background: -o-linear-gradient(top, #61c361 0%,#4a904a 100%);
	background: -ms-linear-gradient(top, #61c361 0%,#4a904a 100%);
	background: linear-gradient(to bottom, #61c361 0%,#4a904a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61c361', endColorstr='#4a904a',GradientType=0);
	height: 18px;
	border-radius: 3px 0 0 3px;
}
#championPage .block3 .champ-block .per-bar ._100{
	border-radius: 3px;
}
#championPage .block3 .champ-img{
	width: 48px;
	height: 48px;
	margin: 0 10px 0 0;
}
#championPage .block3 .full .champ-img{
	width: 24px;
	height: 24px;
}
#championPage .block3 .name{
	font-size: 22px;
	color: #CBCBCB;
	font-weight: 500;
	line-height: 22px;
	margin: 0 0 4px 0;
}
#championPage .block3 .full .name{
	margin: 0;
	width: 200px;
}
#championPage .block3 a{
	text-decoration: none;
}
#championPage .block3 .info{
	font-size: 13px;
	color: #FFF;
	font-weight: 300;
	width: 402px;
	float: left;
}
#championPage .block3 .full .info{
	float: right;
	width: auto;
}
#championPage .block3 .info a{
	color: inherit;
}
#championPage .block3 .full .info a{
	display: block;
	float: left;
	margin: 1px 0 0 0;
}
#championPage .block3 .full .info a:nth-child(2) div{
	width: 60px;
}
#championPage .block3 .full .info a:nth-child(3) div{
	width: 60px;
}
#championPage .block3 .full .info a:nth-child(4){
	margin: 1px 0 0 0;
}
#championPage .block3 .full .info a:nth-child(5){
	margin: 1px 0 0 34px;
}
#championPage .block3 .full .info a:nth-child(4) div{
	width: 100px;
	text-align: center;
}
#championPage .block3 .info img{
	position: relative;
	bottom: 2px;
	right: 5px;
	padding: 0 0 0 5px;
}
#championPage .block3 .full .info > div{
	float: left;
	border-radius: 1px;
	padding: 2px 10px;
	margin: 1px 35px 0 0;
	font-weight: 500;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
#championPage .block3 .info div{
	float: left;
	border-radius: 1px;
	padding: 2px 10px;
	margin: 0 2px 0 0;
	font-weight: 500;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
#championPage .block-tabs{
	margin: 30px 0 0 15px;
	width: 703px;
}
#championPage .hasSearch{
	position: relative;
}
#championPage .champion-search{
	width: 250px;
	outline: none;
	border: 1px solid #424242;
	padding: 7px 5px;
	margin: 30px 0 0 0;
	border-radius: 3px;
	background: #333;
	color: #CBCBCB;
}
#championPage .block-tabs input{
	width: 250px;
	outline: none;
	border: 1px solid #CBCBCB;
	padding: 5px;
	margin: 0 3px 0 0;
	border-radius: 3px;	
}
#championPage .results{
	position: absolute;
	overflow: hidden;
	background: #161616;
	border: 1px solid #333;
	display: none;
	top: 60px;
	z-index: 100;
}
#championPage .results .display-name{
	font-weight: 500;
	margin: 5px 0 0 0;
	font-size: 20px;
	color: #CBCBCB;
}
#championPage .results div{
	color: #CBCBCB;
}
#championPage .results .champ-img{
	margin: 5px;
}
#championPage .results .sub{
	overflow: auto;
	max-height: 420px;
	width: 260px;
}
#championPage .results div.col{
	display: none;
	width: 100%;
	float: left;
}
#championPage .results div.selected, #championPage .results div.col:hover{
	background: #303030;
	cursor: pointer;
}
#championPage .pop-guides p{
	font-size: 24px;
	color: #CBCBCB;
}
#championPage .pop-guides{
	width: 878px;
	margin: 40px auto 0 auto;
	border: 1px solid #62584A;
	border-radius: 4px;
	padding: 10px;
}
#championPage .pop-guides .player{
	width: 162px;
	margin: 0 10px 0 0;
	text-align: left;
	line-height: 28px;
}
#championPage .pop-guides .kda{
	width: 160px;
	margin: 0 10px 0 0;
	line-height: 28px;
}
#championPage .pop-guides .gold{
	width: 143px;
	margin: 0 10px 0 0;
	line-height: 28px;
}
#championPage .pop-guides .items{
	width: 220px;
	margin: 0 53px 0 0;
	text-align: left;
}
#championPage .pop-guides .header .items{
	text-align: center;
	width: 215px;
}
#championPage .pop-guides .items img{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
#championPage .pop-guides .row .summoners{
	margin: 0 0 0 8px;
}
#championPage .pop-guides .summoners{
	width: 70px;
	margin: 0 10px 0 0;
}
#championPage .pop-guides .more-btns{
	color: #CBCBCB;
	font-size: 13px;
	width: 438px;
	float: right;
	margin: 0 115px 0 0;
}
#championPage .pop-guides .more-btns .btn{
	/*background: #FCFCFC;
	border: 1px solid #D8D8D8;
	color: #008FFC;*/
}
#championPage .pop-guides .more-btns ._btn{
	color: #F7EEBD;
	margin: 7px 0 0 0;
}
#championPage .pop-guides .summoners div{
	width: 28px;
	height: 28px;
	margin: 0 5px 0 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
#championPage .pop-guides .row{
	text-align: center;
	width: 850px;
	margin: auto;
}
#championPage .pop-guides .sub-row{
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #62584A;
}
#championPage .pop-guides .header{
	padding: 10px 0 15px 0;
	width: 850px;
	margin: 0 auto 20px auto;
	text-align: center;
}
#championPage .pop-guides .row div{
	float: left;
	color: #CBCBCB;
	font-size: 14px;
}
#championPage .pop-guides .header div{
	float: left;
	color: #CBCBCB;
	font-size: 15px;
}

/*---------------------------*/
/* 		THE FOOTER STYLING		 */
/*  -----------------------  */
/*			 		#footer	 				 */
/*---------------------------*/
#footer{
	width: 980px;
	margin: 40px auto 20px auto;
	border-top: 1px solid #62584A;
	padding: 10px 0 0 0;
}
#footer a{
	color: #000;
}
#footer .m10{
	margin: 0 5px 0 0;
}
#footer .m5{
	margin: 0 5px;
}
#footer .big{
	font-size: 30px;
	font-weight: 500;
	color: #CBCBCB;
}
#footer .normal{
	font-size: 12px;
	font-weight: 300;
	line-height: 6px;
	margin: 0 0 35px 0;
	color: #888;
}
#footer .policy{
	font-weight: 300;
	font-size: 12px;
	margin: 0 0 10px 0;
	float: left;
	color: #888;
}
#footer .policy a{
	color: #F7EEBD;
}
#footer .policy div{
	float: left;
}

/*---------------------------*/
/* 		THE STREAM STYLING		 */
/*  -----------------------  */
/*	    #streamcontainer 		 */
/*---------------------------*/
.masterstreamblock{
	width: 980px;
	margin: 20px auto 0 auto;
}
#streamcontainer .stream{
  display: inline-block;
}
#streamcontainer .info{
  width: 300px;
  display: inline-block;
  float: right;
}
#streamcontainer .well{
  height:50px;
  padding:10px;
  margin-bottom: 10px;
  color: #CBCBCB;
}
#streamcontainer .well h1{
  font-size: 13px;
  line-height: 13px;
  height: 13px;
  overflow: hidden;
  color: #CBCBCB;
}
#streamcontainer .resize-l,
#streamcontainer .resize-s{
  background: #dbdbdb;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
#streamcontainer .resize-l span,
#streamcontainer .resize-s span{
  background: #959595;
  width: 70px;
  display: inline-block;
  margin-right: 10px;
}
#streamcontainer.small .stream,
#streamcontainer.small .stream object{
  width: 670px;
  height: 374px;
}
#streamcontainer.large .stream,
#streamcontainer.large .stream object{
  width: 980px;
  height: 548px;
}
#streamcontainer .resize-l span i,
#streamcontainer .resize-s span i{
  width: 100%;
  height: 100%;
  display: block;
}
#streamcontainer .resize-l span i{
  background: url(/resources/img/player_enlarge.png) 50% 50% no-repeat;
}
#streamcontainer .resize-s span i{
  background: url(/resources/img/player_shrink.png) 50% 50% no-repeat;
}
#streamcontainer.small .resize-s{
  display: none;
}
#streamcontainer.large .resize-s{
	display: block;
  margin-bottom: 10px;
}
#streamcontainer.small .resize-l{
  display: block;
  margin-top: 10px;
}
#streamcontainer.large .resize-l{
  display: none;
}

/*---------------------------*/
/* 		THE COMMENTS DOUBLE		 */
/*  -----------------------  */
/*	    	#doubleBlock 		   */
/*---------------------------*/
#doubleBlock{
	width: 980px;
	margin: 20px auto 0 auto;
}
#doubleBlock .topBlock{
	float: left;
	padding: 0 0 20px 0;
	width: 980px;
}
#doubleBlock .champBlock .champ-img{
	width: 80px;
	height: 80px;
	margin: 0 10px 0 0;
}
#doubleBlock .recent-posts{
	float: left;
	min-height: 500px;
}
#doubleBlock .subBlock{
	width: 670px;
}
#doubleBlock .subBlock .ltil{
	color: #FFF;
	font-weight: 500;
	font-size: 30px;
	margin: 5px 0 0 0;
}
#doubleBlock .subBlock h4{
	color: #CBCBCB;
	font-weight: 300;
	font-size: 14px;
	margin: 20px 0 0 0;
}
#doubleBlock .vs{
	font-size: 20px;
	font-weight: 500;
	float: left;
	margin: 12px 0 12px 10px;
	color: #CBCBCB;
}
#doubleBlock .champBlock{
	background: #303030;
	padding: 10px;
	float: left;
	border-radius: 4px;
	width: 650px;
	position: relative;
}
#doubleBlock .champBlock .countertips{
	background: #161616;
	border: 2px solid #CBCBCB;
	border-radius: 4px;
	padding: 10px;
	position: absolute;
	top: 25px;
	width: 530px;
	display: none;
	z-index: 100;
	font-size: 13px;
	font-weight: 300;
	color: #CBCBCB;
}
#doubleBlock .champBlock .countertips .submitted{
	margin: 5px 0 0 0;
	font-size: 12px;
	color: #B2B2B2;
}
#doubleBlock .champBlock .countertips .submitted span{
	color: #5E5E5E;
}
#doubleBlock .champBlock .countertips .blue{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #008FCC;
	float: left;
	margin: 4px 0px 0 10px;
}
#doubleBlock .champBlock .countertips .more{
	margin: 10px 0 0 0;
	float: left;
	font-size: 14px;
}
#doubleBlock .champBlock .countertips .tips{
	border-bottom: 1px solid #CBCBCB;
	float: left;
	width: 100%;
}
#doubleBlock .champBlock .countertips .tip{
	margin: 5px 0;
	float: left;
	width: 480px;
	font-size: 14px;
}
#doubleBlock .champBlock .countertips .votes{
	font-size: 13px;
	margin: 5px 10px 0 0;
	float: left;
	clear: both;
}
#doubleBlock .champBlock .countertips .howto{
	font-size: 18px;
	font-weight: 500;
	border-bottom: 1px solid #62584A;
	padding: 0 0 5px 0;
	color: #CBCBCB;
}
#doubleBlock .champBlock .countertips h5{
	color: #CBCBCB;
	margin: 5px 0 0 0;
	font-size: 14px;
}
#doubleBlock .champBlock .name{
	font-size: 32px;
	font-weight: 500;
	color: #CBCBCB;
	line-height: 30px;
	padding: 6px 0 0 0;
}
#doubleBlock .champBlock .title{
	font-size: 18px;
	font-weight: 500;
	color: #FFF;
}
#doubleBlock .champBlock .lanes, #doubleBlock .champBlock .roles{
	font-size: 13px;
	float: left;
}
#doubleBlock .champBlock .lanes .lane, #doubleBlock .champBlock .roles .role{
	float: left;
	margin: 1px 2px 0 0;
	padding: 0 5px;
	border-radius: 2px;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
#doubleBlock .ad1{
	width: 300px;
	height: 250px;
	background: #000;
	float: right;
}

#doubleBlock .ad2{
	width: 728px;
	height: 90px;
	background: #000;
	clear: both;
	margin: 0 auto;
}
#doubleBlock .postbox{
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
	position: relative;
}
#doubleBlock .allposts{
	margin: 10px 0 0 0;
}
#doubleBlock .allposts h2{
	color: #CBCBCB;
	margin: 0 0 10px 0;
	font-weight: 500;
	font-size: 18px;
}
#doubleBlock .allposts .upvote, #doubleBlock .allposts .downvote{
	cursor: pointer;
}
#doubleBlock .postbox #newsubPost textarea{
	width: 100%;
	background: #333;
	border: 1px solid #2D2D2D;
	border-radius: 4px;
	height: 125px;
	outline: none;
	resize: none;
	font-size: 14px;
	color: #CBCBCB;
	padding: 5px;
	box-sizing: border-box;    
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	resize: vertical;
}
#doubleBlock .postbox #newsubPost .comment-box{
	padding: 5px;
	background: #161616;
	border: 1px solid #2D2D2D;
	border-top: none;
}
#doubleBlock .postbox #newsubPost .charcount{
	color: red;
	font-size: 14px;
	font-weight: 300;
}
#doubleBlock .postbox #newsubPost .charcount .message{
	color: #CBCBCB;
	font-weight: 300;
	font-size: 10px;
}
#doubleBlock .postbox #newsubPost p{
	font-weight: 300;
	font-size: 15px;
	margin: 0 0 5px 0;
	color: #CBCBCB;
	text-indent: 1px;
}
#doubleBlock .postbox #newsubPost .images{
	border: 1px solid #2D2D2D;
	border-bottom: none;
	padding: 5px;
	background: #161616;
	border-radius: 4px 4px 0 0;
}
#doubleBlock .postbox #newsubPost .images .sub{
	background: #222;
	padding: 3px 5px 7px 6px;
	border-radius: 4px;
	height: 32px;
 	line-height: 32px;
 	padding: 5px 0 5px 10px;
 	font-size: 14px;
 	color: #CBCBCB;
}
.images .sub .btn{
	margin: 0 0 0 10px;
	line-height: 20px;
}
#doubleBlock .postbox #newsubPost input[type='submit']{
	color: #F7EEBD;
	background: #303030;
	border: none;
	padding: 5px 30px;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	margin: 5px 0 0 0;
	border: 1px solid #424242;
}
#doubleBlock .list .sublist{
	float: left;
	width: 980px;
	border-bottom: 1px solid #62584A;
	padding: 10px 0 10px 5px;
	color: #F7EEBD;
	position: relative;
}
#doubleBlock .sublist .title{
	font-weight: 500;
	font-size: 19px;
	margin: 0 0 8px 10px;
	float: left;
	max-width: 900px;
}
#doubleBlock .sublist .title .match{
	margin: 0 5px 0 0;
}
#doubleBlock .sublist .title a{
	color: #FFF;
	text-decoration: none;
}
#doubleBlock .sublist .when{
	font-weight: 300;
	font-size: 13px;
	margin: 0 0 2px 10px;
	clear: both;
}
#doubleBlock .sublist .rating{
	font-size: 12px;
	font-weight: 300;
	margin: 10px 10px 0 5px;
}
#doubleBlock .sublist .rating .value{
	text-align: center;
	margin: 5px 0;
}
#doubleBlock .sublist .comments{
	font-weight: 300;
	font-size: 12px;
	margin: 0 0 0 10px;
}
#doubleBlock .sublist .comments span{
	
}
#doubleBlock .sublist .comments span.delete-post a{
	color: #F7EEBD;
}
#doubleBlock .nav{
	color: #CBCBCB;
	font-weight: 300;
	font-size: 14px;
}
#doubleBlock .nav .nav-items{
	border-bottom: 1px solid #62584A;
	float: left;
	width: 670px;
	margin: 0 10px 0 0;
	color: #CBCBCB;
}
#doubleBlock .nav .nav-items div.active{
	border: 1px solid #62584A;
	border-bottom: 1px solid #161616;
	border-radius: 3px 3px 0 0;
	padding: 5px 10px;
	margin: 0 15px 0 0;
	position: relative;
	top: 1px;
}
#doubleBlock .nav .nav-items div{
	padding: 5px 10px;
	margin: 0 15px 0 0;
	position: relative;
	top: 1px;
}
#doubleBlock .nav .nav-postnew .btn{
	width: 278px;
	text-align: center;
	font-weight: 500;
}
#doubleBlock .firstpost{
	border-top: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	float: left;
	padding: 15px 0 20px 0;
	width: 980px;
	background: none !important;
}
#doubleBlock .firstpost .italic{
	color: #CBCBCB;
}
#doubleBlock .post img{
	max-height: 250px;
	max-width: 100%;
}
#doubleBlock .votes{
	float: left;
	font-size: 14px;
	color: #767676;
	text-align: center;
	margin: 0 10px 0 0;
	/*height: 100%;*/
	font-weight: 500;
}
#doubleBlock .content{
	float: left;
	width: 94%;
}
#doubleBlock .post{
	font-size: 14px;
	font-weight: 300;
	color: #BBB;
	word-wrap: break-word;
}
#doubleBlock .post img{
	max-height: 250px;
	max-width: 100%;
}
#doubleBlock .firstpost .post{
	padding: 10px;
	border: 2px solid #CBCBCB;
	border-radius: 4px;
	width: 910px;
}
#doubleBlock .title{
	font-weight: 500;
	font-size: 18px;
	color: #FFF;
	word-wrap: break-word;
}
#doubleBlock .total_comments{
	font-size: 11px;
	color: #CBCBCB;
	margin: 5px 0 0 0;
	font-weight: 500;
}
#doubleBlock .title .match .champ-img{
	width: 24px;
	height: 24px;
	margin: 0 5px 0 0;
	cursor: default;
}
#doubleBlock .when{
	font-weight: 300;
	font-size: 14px;
	margin: 10px 0;
	color: #CBCBCB;
	font-weight: 300;
}
#doubleBlock .allposts .when .delete-post{
	float: right;
	font-size: 12px;
}
#doubleBlock .delete-post a{
	color: #F7EEBD;
}
#doubleBlock .subcom .maxi{
	font-weight: 300;
	color: #CBCBCB;
	font-size: 14px;
	display: none;
	cursor: pointer;
}
#doubleBlock .when span.mini{
	cursor: pointer;
}
#doubleBlock .when span.username{
	font-weight: 500;
	color: #FFF;
	margin: 0 0 0 5px;
}
#doubleBlock .subcom{
	float: left;
	width: 965px;
	border: 1px solid #545454;
	border-radius: 3px;
	margin: 0 0 10px 0;
	padding: 10px 5px 10px 10px;
	background: #393939;
	position: relative;
}
#doubleBlock .delete-post, #doubleBlock .report-post{
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 12px;
}
#doubleBlock .nosub{
	width: auto;
	padding: 5px;
}
#doubleBlock .nosub .reply{
	margin: 0 !important;
}
#doubleBlock .firstpost.subcom{
	border-left: none;
	border-right: none;
	border-radius: 0;
	padding: 15px 5px 15px 10px;
}
#doubleBlock .subcom .when{
	margin: 0 0 10px 0;
}
#doubleBlock .counter-tips {
	float: right;
	background: #008FFC;
	padding: 0 5px;
	border-radius: 2px;
	color: #FFF;
	margin: 1px 0 0 0;
	font-size: 13px;
}
#doubleBlock .subcom .when span.report-post{
	float: right;
	font-size: 12px;
}
#doubleBlock .subcom .reply{
	font-size: 12px;
	color: #F7EEBD;
	margin: 10px 0 0 0;
	cursor: pointer;
}
#doubleBlock .subcom .tier2{
	width: 945px;
	background: #333;
	margin: 10px 0 0 0;
}
#doubleBlock .subcom .tier3{
	width: 925px;
	margin: 10px 0 0 0;
}
#doubleBlock .report-post{
	cursor: pointer;
	color: #F7EEBD;
}
#doubleBlock .tier1 p.italic,
#doubleBlock .tier2 p.italic,
#doubleBlock .tier3 p.italic{
	font-weight: 300;
	color: #CBCBCB;
	font-size: 12px;
	font-style: italic;
}
/*---------------------------*/
/* 			THE NEWPOST BOX		   */
/*  -----------------------  */
/*	    	  #newPost 		     */
/*---------------------------*/
#newPost{
	width: 980px;
	margin: 20px auto 0 auto;
}
#newPost .subpost{
	border-bottom: 1px solid #CBCBCB;
	float: left;
	width: 980px;
	padding: 0 0 10px 0;
}
#newPost .matchup{
	float: left;
}
#newPost .ad1{
	width: 300px;
	height: 250px;
	background: #000;
	float: right;
}
#newPost .ad2{
	width: 728px;
	height: 90px;
	background: #000;
	clear: both;
	margin: 0 auto;
}
#newPost .matchup{
	width: 670px;
}
#newPost .matchup .champ-img{
	width: 70px;
	height: 70px;
	margin: 0 10px 0 0;
	cursor: default;
}
#newPost .matchup .champions{
	float: left;
	margin: 20px 0 0 0;
}
#newPost .matchup .champions .name{
	font-size: 35px;
	font-weight: 500;
	color: #CBCBCB;
}
#newPost .matchup .champions .desc{
	color: #888;
	font-size: 20px;
	font-weight: 500;
}
#newPost .matchup .champions .first{
	margin: 0 0 20px 0;
}
#newPost .matchup .vs{
	font-size: 24px;
	font-weight: 500;
	color: #CBCBCB;
	margin: 85px 50px 0 50px;
	float: left;
}
#newPost .matchup .title{
	background: #333;
	padding: 10px;
	border-radius: 4px;
	font-size: 24px;
	color: #FFF;
	font-weight: 500;
}
#newPost .block{
	float: left;
	margin: 30px 0 0 0;
	position: relative;
}
#newPost .block p{
	color: #CBCBCB;
	font-size: 14px;
	font-weight: 300;
	margin: 10px 0;
}
#newPost .block input{
	width: 660px;
	border: 1px solid #2D2D2D;
	background: #333;
	border-radius: 4px;
	padding: 15px 5px;
	outline: none;
	font-size: 14px;
	color: #CBCBCB;
	margin: 0 0 20px 0;
}
#newPost .block textarea{
	width: 660px;
	border: 1px solid #2D2D2D;
	background: #333;
	border-radius: 4px;
	padding: 5px;
	outline: none;
	font-size: 14px;
	color: #CBCBCB;
	resize: none;
	height: 200px;
}
#newPost .textarea{
	border: 1px solid #2D2D2D;
	border-radius: 4px;
	background: #161616;
	padding: 5px;
	margin: 0 0 10px 0;
	height: 264px;
}
#newPost .textarea .images{
	background: #222;
	padding: 5px;
	border-radius: 3px;
	margin: 0 0 10px 0;
	color: #CBCBCB;
	height: 32px;
	line-height: 32px;
	padding: 5px 0 5px 10px;
	font-size: 14px;
}
#newPost .textarea .images select{
	display: block;
	margin: 0 0 0 10px;
	background: #FFF;
	line-height: 20px;
}
#newPost .block .post{
	background: #333;
	color: #F7EEBD;
	width: 100px;
	text-align: center;
	padding: 5px 0;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
	margin: 0;
}
#newPost .block .error{
	float: left;
	margin: 5px 0 0 5px;
}
#newPost #new-post.spin{
	background: #008FCC url(/resources/img/loading.gif);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 50%;
}
#newPost .charcount{
	color: red;
	font-size: 14px;
	font-weight: 300;
}
#newPost .charcount .message{
	color: #CBCBCB;
	font-weight: 300;
	font-size: 10px;
}
/*---------------------------*/
/* 			THE MATCHUP BOX		   */
/*  -----------------------  */
/*	    	 #postPopup 		   */
/*---------------------------*/
#postPopup{
	background: #1F1F1F;
	padding: 20px;
	width: 600px;
	margin: auto;
}
#postPopup .title{
	font-size: 25px;
	font-weight: 300;
	color: #FFF;
	margin: 0 0 20px 0;
}
#postPopup .champ-img{
	width: 60px;
	height: 60px;
}
#postPopup .info .title{
	font-size: 16px;
	margin: 0 0 0 10px;
}
#postPopup .title b{
	font-weight: 500;
}
#postPopup .choose{
	color: #CBCBCB;
	font-weight: 300;
	font-size: 16px;
	margin: 10px 10px 5px 10px;
}
#postPopup .select{
	margin: 0 10px;
}
/*---------------------------*/
/* 			 IMAGE GALLERY		   */
/*  -----------------------  */
/*	     #image-gallery 		 */
/*---------------------------*/
[find], [tab], .upvote, .downvote{
	cursor: pointer;
}
#custom-gallery{
	width: 445px !important;
	height: 280px !important;
}
#custom-gallery a{
	text-decoration: none;
	color: #008FFC;
}
#custom-gallery p.h{
	font-size: 22px;
	color: #CBCBCB;
	margin: 0 0 10px 0;
}
#custom-gallery .steps{
	margin: 10px 0 0 0;
	float: left;
}
#custom-gallery .details{
	font-size: 13px;
	font-weight: 300;
}
#custom-gallery .details b{
	font-weight: 500;
}
#custom-gallery .details p{
	width: 220px;
}
#custom-gallery input{
	float: left;
	width: 344px;
	margin: 0 10px 0 0;
	outline: none;
	border: 1px solid #CBCBCB;
	padding: 7px;
	border-radius: 3px;
}
#image-gallery .champ-img, #image-gallery img{
	width: 38px;
	height: 38px;
	margin: 0 10px 15px 0;
	float: left;
}
#image-gallery, .galleries{
	width: 545px;
	background: #161616;
	border: 3px solid #333;
	border-radius: 4px;
	padding: 10px 0 10px 10px;
	height: 296px;
	position: absolute;
	display: none;
	bottom: 0;
	right: 0;
	z-index: 100;
}
#image-gallery .tabs{
	float: left;
	border-bottom: 1px solid #545454;
	padding: 5px;
	margin: 0 0 10px 0;
	width: 510px;
}
#image-gallery .header{
	margin: 0 0 10px 0;
	float: left;
	width: inherit;
}
#image-gallery .header p{
	float: left;
	font-size: 22px;
	color: #CBCBCB;
}
#image-gallery .header input{
	float: right;
	border: 1px solid #424242;
	padding: 5px;
	font-size: 14px;
	color: #CBCBCB;
	outline: none;
	border-radius: 3px;
	margin: 0 10px 0 0;
	width: 200px;
	background: #2D2D2D;
}
#image-gallery .tabs .filter{
	color: #008FFC;
	font-weight: 500;
	font-size: 14px;
	float: left;
	cursor: pointer;
}
#image-gallery .tabs .gap{
	color: #545454;
	font-weight: 500;
	font-size: 14px;
	float: left;
	margin: 0 20px;
}
#image-gallery .images{
	float: left;
	height: 225px;
	overflow-y: scroll;
	width: 544px;
}
#image-gallery .none{
	display: none;
}
/*-------------------------*/
/* 			THE LOGIN FORM	   */
/*  ---------------------- */
/*	    	 #loginForm		   */
/*-------------------------*/
#loginForm{
	color: #CBCBCB;
	width: 460px;
	height: 400px;
	background: #333;
	border-radius: 4px;
	box-shadow: 0 0 5px #303030;
	position: absolute;
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}
#loginForm .forgot{
	font-size: 14px;
	float: right;
	margin: 5px;
}
#loginForm form{
	padding: 20px 25px;
	border-radius: 4px;
}
#loginForm a{
	color: #F7EEBD;
}
#loginForm h3{
	font-size: 24px;
	margin: 0 0 15px 0;
}
#loginForm h3 span{
	position: relative;
	bottom: 12px;
	left: 92px;
	cursor: pointer;
}
#loginForm div{
	float: left;
	clear: both;
	margin: 5px 0;
}
#loginForm label{
	margin: 5px 0;
	float: left;
	font-size: 14px;
	font-weight: 500;
}
#loginForm input{
	border: 1px solid #CBCBCB;
	border-radius: 2px;
	background: #FFF;
	outline: none;
	height: 25px;
	padding: 0 0 0 5px;
	float: left;
	width: 405px;
	height: 50px;
	font-size: 16px;
}
#loginForm input[type=checkbox]{
	margin: 1px 0 0 5px;
	float: left;
	width: 20px;
	height: 28px;
}
#loginForm input[type=submit]{
	font-size: 16px;
	font-weight: 300;
	height: 50px;
	cursor: pointer;
	width: 200px;
	background: #f7eebd;
	background: -moz-linear-gradient(top, #f7eebd 0%, #bab38f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7eebd), color-stop(100%,#bab38f));
	background: -webkit-linear-gradient(top, #f7eebd 0%,#bab38f 100%);
	background: -o-linear-gradient(top, #f7eebd 0%,#bab38f 100%);
	background: -ms-linear-gradient(top, #f7eebd 0%,#bab38f 100%);
	background: linear-gradient(to bottom, #f7eebd 0%,#bab38f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7eebd', endColorstr='#bab38f',GradientType=0);
	border-bottom: 3px solid #918A6F;
	border-right: 1px solid #D6CDA4;
	border-left: 1px solid #D6CDA4;
	border-radius: 4px;
	color: #333;
}
#tips-matchup .champions .champ-img{
	width: 50px;
	height: 50px;
}
#tips-matchup .tips .champ-img{
	width: 36px;
	height: 36px;
	margin: 8px 10px 0 0;
	cursor: default;
}
#tips-matchup h5{
	color: #CBCBCB;
}
#tips-matchup .champions{
	float: left;
}
#tips-matchup .block{
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #333;
	width: 268px;
	height: 48px;
	float: left;
}
#tips-matchup .vs{
	float: left;
	font-weight: 500;
	font-size: 30px;
	padding: 0 20px;
	line-height: 68px;
	color: #CBCBCB;
}
#tips-matchup .cname{
	font-weight: 500;
	font-size: 30px;
	padding: 0 0 0 10px;
	float: left;
	color: #CBCBCB;
	line-height: 48px;
}
#tips-matchup .ad1{
	width: 300px;
	height: 250px;
	background: #000;
	float: right;
}
#tips-matchup .ad2{
	width: 728px;
	height: 90px;
	background: #000;
	clear: both;
	margin: 0 auto;
}
#tips-matchup .results{
	position: absolute;
	background: #F1F1F1;
	border: 1px solid #333333;
	width: 260px;
	top: 32px;
	border-radius: 3px;
	display: none;
	max-height: 420px;
	overflow: hidden;
}
#tips-matchup .results .col{
	float: left;
	width: 250px;
	clear: both;
	padding: 5px;
	font-weight: 300;
	color: #CBCBCB;
	font-size: 16px;
	background: #161616;
}
#tips-matchup .results .col:hover{
	cursor: pointer;
	background: #303030;
}
#tips-matchup .results .col.selected{
	background: #303030;
}
#tips-matchup .results .col .display-name{
	color: #CBCBCB;
	font-size: 20px;
	font-weight: 500;
}
#tips-matchup .results .col .champ-img{
	margin: 0 5px 0 0;
}
#tips-matchup .newtip{
	background: #303030;
	color: #F7EEBD;
	width: 290px;
	height: 20px;
	margin: 5px 0 0 0;
	float: right;
	padding: 5px;
	text-align: center;
	font-weight: 300;
	font-size: 15px;
	border: 1px solid #424242;
}
#tips-matchup .sub{
	float: left;
	margin: 34px 0 0 0;
	width: 650px;
}
#tips-matchup .sub .title{
	float: left;
	font-size: 20px;
	font-weight: 500;
	color: #FFF;
}
#tips-matchup .sub .options{
	float: right;
	font-size: 14px;
	color: #CBCBCB;
	line-height: 31px;
	color: #F7EEBD;
}
#tips-matchup .tips:not(.ss){
	float: left;
	width: 100%;
	border-top: 1px solid #333;
}
#tips-matchup .tips .votes{
	float: left;
	font-size: 14px;
	font-weight: 300;
	color: #CBCBCB;
	padding: 15px 0 0 5px;
	margin: 0 10px 0 0;
	min-width: 24px;
}
#tips-matchup .tips .arrows{
	float: left;
	padding: 5px 0 0 0;
	margin: 0 10px 0 0;;
}
#tips-matchup .tips .arrows div img{
	cursor: pointer;
}
#tips-matchup .tips.ff{
	width: 670px;
	border-top: none;
	min-height: 70px;
}
#tips-matchup .tips.ff .tip{
	max-width: 530px;
	color: #CBCBCB;
}
#tips-matchup .tips .tip{
	font-size: 14px;
	color: #CBCBCB;
	font-weight: 300;
	padding: 10px 0;
	min-height: 30px;
	float: left;
	max-width: 840px;
	word-wrap: break-word;
}
#tips-matchup .tips .tip .submitted{
	margin: 5px 0 0 0;
	font-size: 12px;
	color: #B2B2B2;
}
#tips-matchup .tips .tip .submitted span{
	color: #5E5E5E;
}
#tips-matchup .tips .tip._0, #tips-matchup .tips .tip._1{
	width: 670px;
}
#tips-matchup #tip-search{
	background: #2D2D2D;
	border: 1px solid #424242;
	border-radius: 3px;
	color: #CBCBCB;
	padding: 0 10px;
	width: 240px;
	font-size: 14px;
	height: 28px;
}
#tips-matchup .searchbox{
	float: left;
	margin: 0 0 20px 0;
	width: 670px;
	position: relative;
}
#tips-matchup .search{
	float: left;
	position: relative;
	margin: 0 20px 0 0;
}
#tips-matchup .othertips{
	border-bottom: 1px solid #333;
	float: left;
	width: 388px;
	padding: 5px 0 0 0;
}
#tips-matchup .othertips a{
	color: #F7EEBD;
}
#tips-matchup .othertips div{
	float: left;
	color: #008FFC;
	font-weight: 300;
	font-size: 14px;
	margin: 0 35px;
	position: relative;
	padding: 0 0 5px 0;
	top: 1px;
}
#tips-matchup .othertips div.active{
	border: 1px solid #333;
	border-bottom: 1px solid #161616;
	padding: 4px 10px;
	margin: 0 25px;
}
#tips-matchup .othertips.active{
	padding: 0;
}
#tips-matchup .othertips.active div:not(.active){
	padding: 5px 0 0 0;
}
#tips-matchup .search img{
	position: absolute;
	right: 0;
	top: 0;
}
#newtip .title{
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	width: 600px;
	float: left;
}
#newtip .sub{
	color: #CBCBCB;
	font-size: 18px;
	margin: 0 0 20px 0;
	width: 600px;
	float: left;
}
#newtip .champ{
	width: 200px;
	float: left;
}
#newtip .img{
	background: #808080;
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 10px 0 0;
}
#newtip .selection{
	float: left;
	width: 115px;
}
#newtip .how{
	float: left;
	font-size: 14px;
	color: #CBCBCB;
	margin: 10px 0 0 0;
}
#newtip .tipleft{
	width: 600px;
	float: left;
}
#newtip .ad1{
	width: 300px;
	height: 250px;
	background: #000;
	float: right;
}
#newtip .ad2{
	width: 728px;
	height: 90px;
	background: #000;
	clear: both;
	margin: 0 auto;
}
#newtip .tipblock{
	margin: 20px 0 0 0;
	float: left;
	width: 675px;
}
#newtip #addtip{
	background: #2D2D2D;
	border: 1px solid #424242;
	padding: 15px 5px;
	outline: none;
	font-size: 15px;
	color: #CBCBCB;
	border-radius: 3px;
	width: 660px;
}
#newtip .charleft{
	font-size: 12px;
	float: left;
	color: #CBCBCB;
	margin: 5px 0 0 0;
	width: 600px;
	font-weight: 300;
}
#newtip .subtip{
	background: #303030;
	padding: 5px 15px;
	color: #F7EEBD;
	float: left;
	font-size: 14px;
	margin: 40px 0 0 0;
	cursor: pointer;
	clear: both;
}
#newtip .error{
	float: left;
	font-size: 14px;
	color: red;
	clear: both;
	margin: 0 0 -19px 0;
}
#newtip .before{
	float: left;
	font-size: 14px;
	color: #CBCBCB;
	clear: both;
	margin: 5px 0 0 0;
}
#newtip .before a{
	color: #F7EEBD;
}