/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */

/* RESPONSIVE RESET */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

/* RESPONSIVE RESET */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	font-weight: 300;
	-webkit-print-color-adjust:exact;
}
h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

a, a:hover {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	
}

a:hover {
	opacity: .6;
}

.contentwidth .col2 ul, .contentwidth .col2 ol, .contentwidth .col3 ul, .contentwidth .col3 ol {
	list-style: initial;
	text-align: left;
	padding: 0 20px;	
}
.contentwidth .col2 ul li, .contentwidth .col3 ul li  {
	padding: 0 0 10px 0px;	
}

.blue {
	/* color: #0788e3; */
	color: #71c4ff;
}

.module-privacy-policy, .module-tos {
	margin: 40px 20px 20px 0;
}

.module-privacy-policy p, .module-privacy-policy li, .module-tos p, .module-tos li {
	font-size: small;
	padding-bottom: 5px;
}

.module-privacy-policy a, .module-tos a {
	color: #3583c5;
	display: inline-block;
}

.module-privacy-policy a:hover, .module-tos a:hover {
	color: #000;
}

.module-privacy-policy ol, .module-tos ol {
	counter-reset: item;
	list-style-type: none;
	padding-left: 50px;
}

.module-privacy-policy li:before, .module-tos li:before {
	content: counters(item,".") ". ";
	counter-increment: item;
	margin-left: -50px;
	position: absolute;
}

.contentwidth {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

.topmenu {
	background-color: #fff;
	width: 100%;
	height: 45px;
	padding: 20px 0;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.car01, .car02, .car03, .car04 {
	display: none;
}

.ctsm {
	display: block;
}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    animation-duration:.5s;
}

.fade-in {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	animation-delay: .2s;
}

.fade-in.two {
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	animation-delay: .7s;
}
.fade-in.three {
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay: 1.4s;
	animation-delay: 1.4s;
}

.topmenu img {
	float: left;
}

.topmenu ul {
	float: right;
}

.topmenu li {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	float: left;
	font-size: 15px;
	padding: 10px 10px;
	margin: 0 10px;
	cursor: pointer;
}

.topmenu li {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.topmenu li:hover {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #0788e3;
}

.topmenu .bordered {
	padding: 10px 20px;
	margin: 0 0 0 10px;
	border: 2px solid #0788e3;
}

.topmenu .bordered:hover {
	border: 2px solid #0788e3;
	background-color: #f6fbff;
}

.carousel {
	height: 370px;
	width: 100%;
	background: url('../images/carousel-03.jpg') left center;
	background-size: cover;
	background-color: #000;
	}
	
.carousel-content {
	color: #fff;
	width: 500px;
	padding-top: 120px;
}	

.carousel-content h1 {
	line-height: .9em;
	font-size: 3.5em;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.carousel-content p {
	font-size: .9em;
	line-height: 1.2em;
	margin-top: 10px;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.button-sign-up-now {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8em;
	font-weight: 600;
	background: white;
	display: inherit;
	padding: 20px 45px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.72);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.72);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.72);
	float: right;
	margin-top: -60px;
	cursor: pointer;
}

.button-sign-up-now:hover {
	color: #0788e3;
}

.carousel-menu {
	background-color: #fff;
	width: 100%;
	display: inline-block;
}

.carousel-menu li {
	float: left;
	text-align: center;
	border-top: 5px solid #aaa;
	padding: 10px 0;
	width: 25%;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 600;	
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;	
}

.content-one, .content-two {
	/*	display: inline-block; */
}

.carousel-menu li.selected, .carousel-menu li:hover {
	color: #0788e3;
	border-top: 5px solid #0788e3;
}

.col5 {
	/*margin-bottom: 40px;*/
	width: 178px;
	/*margin-right: 20px;*/
	margin: 40px 20px 40px 0;	
	float: left;
}

.col4 {
	/*margin-bottom: 40px;*/
	width: 227px;
	/*margin-right: 20px;*/
	margin: 40px 20px 40px 0;	
	float: left;
}

.col3 {
	/*margin-bottom: 40px;*/
	width: 310px;
	/*margin-right: 20px;*/
	margin: 40px 20px 40px 0;	
	float: left;
}

.col2 {
	width: 475px;
	/*margin: 40px 20px 20px 0;*/
	margin: 40px 20px 40px 0;
	float: left;
	text-align: center;
}

.col5:last-child, .col4:last-child, .col3:last-child, .col2:last-child {
	margin-right: 0;
}

.content-page {
	width: 100%;
	display: table;
}

.content-page h1 {
	font-size: 1.8em;
	line-height: 1.1em;
	margin-bottom: .5em;
} 

.col1 {
	width: 100%;
	/*margin: 40px 20px 20px 0;*/
	margin: 40px 20px 40px 0;
	float: left;
	text-align: center;
}

.content-page .col3 {
	/*margin: 20px 0px 40px 20px;*/
	margin: 40px 0px 40px 20px;
}

.content-page .col3:first-child {
	/*margin: 20px 0px 40px 0px;*/
	margin: 40px 0px 40px 0px;
}

.content-two .col3 img {
	float: left;
	margin: 0 10px 10px 0;
}

.content-two .col3 p {
	margin-top: 18px;
	line-height: 1.1em;
}

.content-flags {
	padding-top: 10px;
}

.introducer1 {
	margin: 40px 0;
	border: 1px solid #bdbdbd;
	width: 580px;
	padding: 20px;
	float: left;
	display: block;
	margin-right: 30px;
	height: 280px;
}

.introducer2 {
	margin: 40px 0;
	border: 1px solid #bdbdbd;
	width: 276px;
	padding: 20px;
	display: block;
	float: left; 
	height: 280px;
}

.introducer1 img {
	display: block;
	float: left;
	margin-right: 20px;
	padding: 0 0 120px 0;
}

.introducer1 h2 {
	padding-top: 10px;
}

.introducer1 p {
	padding-top: 30px;
}

.introducer1 h1, .introducer2 h1 {
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 600;
	color: #0788e3;
}
.introducer1 h2, .introducer2 h2 {
	text-transform: uppercase;
	font-size: 1.4em;
	line-height: 1em;
	color: #000;
}

.introducer2 h2 {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #bdbdbd;
}

.introducer2 table td {
	padding: 6px 20px 6px 0;
}

.introducer2 table td:last-child {
	padding: 6px 0;
}


.buttoner {
	color: #fff;
	background: #0788e3;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	padding: 7px 15px;
	margin: 10px 0 0 0;
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	display: inline-block;
}

/*CONTACT FORM PAGE*/

.contactf {
	width: 100%;
	display: inline-block;
}

.contactf h1 {
	padding: 14px 0;
	color: #000;
	font-size: 1.2em;
}

.contactf iframe {
	float: left;
	margin: 0 20px 0 0;
	border: 0;
	height: 300px; 
	width: 60%;
	margin-bottom: 20px;	
}

.contactf .column {
	font-size: .8em;
	line-height: 1.3em;
	margin-bottom: 40px;
}

.contactf .column .in-column {
	display: inline-block;
	width: calc(40% - 20px);
	text-align: left;
	vertical-align: top;
}

.contactf form input {
	border: 1px solid #ccc;
	margin: 0 0 5px 0;
	padding: 7px;
	width: calc(100% - 17px);
	height: 18px;
	background-color: #fff;
	border-radius: 0;
}

.contactf form input.main-contact-button {
	font-size: 2.2em;
	width: 163px;
	height: 48px;
	background: #3583c5;
	cursor: pointer;
	border: 0;
	border-radius: 0px !important;
}

.contactf form input.main-contact-button:hover {
	color: #fff;
	background: #006098;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.contactf form textarea {
	border: 1px solid #ccc;
	margin: 0 0 5px 0;
	padding: 7px;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
	height: 140px;
	width: calc(100% - 17px);
	resize: none;
	border-radius: 0;
}

.contactf form .message {
	padding: 7px;
	margin: 0 6px 6px 0;
	width: calc(100% - 17px);	
}

.contactf form .message.error {
	background: #f2dede;
	border: 1px solid #ebccd1;
	color: #a94442;
}

.contactf form .message.success {
	background: #dff0d8;
	border: 1px solid #d6e9c6;
	color: #3c763d;
}

.contactf form .message p {
	font-weight: bold;
}

.contactf form .message ul {
	font-size: 11px;
	list-style: square inside;
	margin: 4px 0 0 10px;
}

/*CONTACT FORM PAGE*/


.footer {
	width: 100%;
	background: #131313;
	/*height: 197px;
	display: inline-block;*/
	display: table;
}

.footer-signature {
	width: 100%;
	background: #ccc;
	display: inline-block;
	position: absolute;
}

.footer {
	color: #fff;
}

.footer img {
	float: left;
	margin-right: 30px;
}

.footer .column {
	float: left;
	padding: 20px;
	margin-right: 30px;
	font-size: .8em;
	line-height: 1.3em;
}

.footer-signature p {
	text-align: center;
	padding: 10px;
	font-size: .7em;
}

strong, b {
		font-weight: 600;
}

a {
	color: #3583c5;
	text-decoration: inherit;
	display: block;
}

a img {
	vertical-align: bottom;
}

/******* MAIN MENU ******* BEGIN *******/
body{ -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

#toggle, .toggle { display: none; }
.menu > li { list-style: none; float:left;	}
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

.nav{ 
	display: block; 
	float: right; 
}

.nav, .menu, .menu > li, .menu > li > a{ 
	height: 100%; 
}

.toggle{ 
	z-index: 2; 
}

.menu{
	background: #fff;
	width: 100%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.menu, .menu > li, .menu > li > a{
	height: auto;
}

/*.menu > li > a{
	padding: 15px 15px;
}*/

/*.menu > li > a:hover, .menu > li > a:focus{
	background: #F2F2F2;
	box-shadow: inset 5px 0px #51C1F1;
	padding: 15px 15px 15px 25px;
}*/

.toggle:after {
	content: 'Main Menu';
	display: block;
	width: 200px;
	margin: 0;
	padding: 10px 50px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #0788e3;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.toggle:hover:after{
	border-bottom: 2px solid #0788e3;
}

#toggle:checked + .toggle:after{
	content: 'Close Menu';
}
/******* MAIN MENU ******* END *******/





/******************* RESPONSIVE OPTIONS  - DESKTOP RES ************************/

@media only screen 
and (min-width: 1030px) {
	/* MAXIMUM RESOLUTION */
}




/******************* RESPONSIVE OPTIONS  - TABLET RES ************************/

@media only screen and (min-width: 660px) and (max-width: 1029px) {
	.contentwidth {
		width: -moz-calc(100% - 40px);
		width: -webkit-calc(100% - 40px);
		width: calc(100% - 40px);
		display: inline-block;
	}

	.topmenu .bordered {
		padding: 10px 0;
		margin: 0;
		border: 0;
		background: #0788e3;
		color: #fff;
		width: 100%;
	}
	
	.topmenu .bordered:hover {
		background: #0c79c6;
		border: 0;
	}
	
	.topmenu .bordered a {
		color: #fff;
	}

	.carousel-content {
		color: #fff;
		width: 500px;
		padding-top: 70px;
	}	
	
	.button-sign-up-now {
		display: inline-block;
		float: left;
		margin-top: 20px;
	}

	.footer {
		height: inherit;
	}
	
	.carousel-menu li {
		font-size: .9em;
		line-height: 1.2em;
	}
	
	.introducer1 {
		width: calc(60% - 55px);
		height: inherit;
	}
	
	.introducer2 {
		width: calc(40% - 60px);
		height: inherit;
	}

	.introducer1 img {
		display: block;
		float: inherit;
		padding: 0 0 20px 0;
	}

	.col5 {
		text-align: center;
		margin-bottom: 40px;
		width: calc(20% - 20px);
		margin-right: 20px;
		float: left;
	}	
	.col4 {
		text-align: center;
		margin-bottom: 40px;
		width: calc(25% - 20px);
		margin-right: 20px;
		float: left;
	}		
	.col3 {
		text-align: center;
		margin-bottom: 40px;
		width: calc(33% - 20px);
		margin-right: 20px;
		float: left;
	}	
	.col2 {
		text-align: center;
		margin-bottom: 20px;
		width: calc(50% - 20px);
		margin-right: 20px;
		float: left;
	}		
	.content-two .col3 img {
		float: none;
		margin-right: 0px;
	}
	.content-flags img {
		margin-right: 10px!important;
	}

	.footer img {
		float: inherit;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	.footer .column {
		float: left;
		width: 33%;
		padding: 20px 0;
		margin-right: 0;
		font-size: .8em;
		line-height: 1.3em;
		text-align: center;
	}
	
	/* MAIN MENU -- RESPONSIVE */
	.menu {
		display: none;
		opacity: 0;
		width: 200px;
		position: absolute;
		right: 20px;
		top: 67px;
	}
	
	.menu > li {
		display: block;
		width: calc(100% - 20px);
		margin: 0;
		text-align: center;
	}
	
	.menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

	.toggle {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		float: right;
	}
	
	#toggle:checked ~ .menu { display: block; opacity: 1; z-index:1;
	-webkit-box-shadow: 0 14px 39px -11px #000;
	   -moz-box-shadow: 0 14px 39px -11px #000;
	        box-shadow: 0 14px 39px -11px #000;

	}

	.header > h1 { 
		text-align: center;
	}

	.header > h1, .nav, .toggle:after{ 
		float: none;
	}

	.toggle:after { 
		text-align: center; width: 100%; 
	}
	/* MAIN MENU -- RESPONSIVE */	
	
}



/******************* RESPONSIVE OPTIONS  - MOBILE RES ************************/

@media (max-width: 659px) {
	.contentwidth {
		width: -moz-calc(100% - 40px);
		width: -webkit-calc(100% - 40px);
		width: calc(100% - 40px);
		display: inline-block;
	}

	.topmenu {
		height: inherit;
	}

	.topmenu ul {
		float: inherit;
	}

	.topmenu li {
		float: inherit;
		text-align:center;
		padding: 10px 0;
	}

	.topmenu .bordered {
		padding: 10px 0;
		margin: 0;
		border: 0;
		background: #0788e3;
		color: #fff;
	}
	
	.topmenu .bordered:hover {
		background: #0c79c6;
		border: 0;
	}
	
	.topmenu .bordered a {
		color: #fff;
	}

	.topmenu img {
		float: inherit;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.button-sign-up-now {
		margin-top: 20px;
		float: inherit;
		font-size: 1.5em;
		display: block;
		text-align: center;
	}

	.carousel-content {
		padding-top: 40px;
		width: 100%;
		text-align: center;
	}

	.carousel-content h1 {
		font-size: 2em;
	}

	.carousel-content p {
		margin-top: 10px;
	}

	.carousel-menu li {
		font-size: .7em;
		text-align: center;
		line-height: 1.2em;
		/* padding-left: 10px; */
		/* width: calc(25% - 10px); */
	} 
	
	.introducer1, .introducer2 {
		width: calc(100% - 40px);
		height: inherit;
		margin: 20px 0;
	}

	.introducer1 img {
		padding: 0 0 20px 0;
		float: none;
		max-width: 100%;
	}

/*CONTACT FORM PAGE*/

.contactf iframe {
	width: 100%;
	float: none;
}

.contactf .column .in-column {
	width: 100%;
}

/*CONTACT FORM PAGE*/
	
	.footer {
		height: inherit;
		text-align: center;
	}

	.footer img {
		float: inherit;
		margin-right: 0;
		margin-top: 30px;
		max-width: 100%;
	}

	.footer .column {
		float: inherit;
		padding: 20px 0;
		margin-right: 0;
	}

	.content-two .col3  {
		text-align: center;
		width: 100%;
	}
	
	.content-page .col5, .content-page .col4, .content-page .col3, .content-page .col2  {
		text-align: center;
		width: 100%;
	}
	
	.content-two .col3 img {
		float: none;
		margin-right: 0px;
	}
	.content-flags img {
		margin-right: 10px!important;
	}
	
	.content-page .col3,.content-page .col2 {
		margin: 20px 0px 20px 0px;
	}	

	/* MAIN MENU -- RESPONSIVE */
	.menu {
		display: none;
		opacity: 0; 
		width: calc(100% - 40px);
		position: absolute;
		margin-left: auto;
		margin-right: auto;
	}
	 
	.menu > li { display: block; width: 100%; margin: 0; }
	.menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
	#toggle:checked ~ .menu { display: block; opacity: 1; z-index:1;
	-webkit-box-shadow: 0 14px 39px -11px #000;
	   -moz-box-shadow: 0 14px 39px -11px #000;
	        box-shadow: 0 14px 39px -11px #000;
	}
	
	.header > h1 { 
		text-align: center;
	}

	.header > h1, .nav, .toggle:after{ 
		float: none;
	}

	.toggle:after { 
		text-align: center; width: 100%; 
	}
	/* MAIN MENU -- RESPONSIVE */

	input[type="text"], input[type="password"], textarea, select {
		width: calc(100% - 22px)!important;
		margin-top: 2px!important;
	}
	select, input[type="submit"] {
		width: 100%!important;
	}
}




