/* network.eventList.css */
#wlt-NetworkEventList {
  border: 1px solid #999999;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  background: #fff;
  padding: 10px;
  font-family: Roboto;
  color: #333333;
  margin: 0;
}

#wlt-NetworkEventList .avatar{width: 30px; height: 30px;}
#wlt-NetworkEventList .avatar p {margin-left: -35px;}
#wlt-NetworkEventList .avatar img{height: 30px;}

#wlt-NetworkEventList .event {margin: 1.5em 0 0 0;}
#wlt-NetworkEventList .event:first-child {margin-top: 0;}
#wlt-NetworkEventList .message {word-wrap: break-word; text-align: left; margin-left: 40px;}
/* End of network.eventList.css */

.follower {margin: 0 0 1em 0; padding: 1em 0 0 0; border-top: 1px solid #d7d7d7;}
.follower:first-child {border: none;}
.follower {margin: 0 0 1em 0; padding: 1em 0 0 0; border-top: 1px solid #d7d7d7;}
.follower:first-child {border: none;}
.classic-theme #wlt-NetworkInvite textarea {
    width: 300px;
}

.classic-theme #wlt-NetworkInviteMenu {
    left: 50%;
    margin-left: 200px;
    position: absolute;
    top: 150px;
}
.classic-theme #wlt-NetworkInviteMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.classic-theme #wlt-NetworkInviteMenu ul li a {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-size: 110%;    
    padding: 5px 7px;
    text-decoration: none;
}

.classic-theme #wlt-NetworkInviteMenu ul li {
    margin: 0 0 10px;
    padding: 0;
}
.boardCard {border: 1px solid #d7d7d7; width: 218px;}
.boardCard.boardCard-vertical_spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}
.boardCard .boardTitle {margin: 5px 15px; /*height: 20px;*/}
.boardCard .boardTitle {height: auto; word-wrap: break-word;}
.boardCard .boardMini a {padding: 0 0 0 15px; display: block; width: 203px; height: 192px;}
.boardCard .boardAction {margin: 5px 15px;}
.boardCard .boardMini div.mini {width: 60px;height: 60px;overflow: hidden;margin: 0 4px 4px 0;float: left;}
.boardCard .boardMini div.mini p {width: 100px;margin-left: -20px;text-align: center;}
.boardCard .boardMini div.mini p img {height: 60px;}
.boardCard.moreCard .boardMini a {height: auto; margin-bottom: 4px;}

.boardCard .boardMini div.cover {width: 188px;height: 120px;overflow: hidden;margin: 0 4px 4px 0;float: left;}
.boardCard .boardMini div.cover p {width: 188px;margin-left: -10px;text-align: center;}

.boardCard-wide,
#lightbox__sidebar .boardCard,
#sidebar .boardCard {
  width: auto;
}

.boardCard-wide,
#lightbox__sidebar .boardMini a,
#sidebar .boardMini a {
  width: auto;
}

#lightbox__sidebar .boardMini .mini,
#sidebar .boardMini .mini {
  margin: 0 14px 14px 0;
}

/* board.cover.index.css */
#wlt-BoardCoverIndex{
	width: 400px;
	margin: 20px auto;
  position: static;
	text-align: center;
}
#wlt-BoardCoverIndex form {margin: 0;}
#wlt-BoardCoverIndex .boardCard {
  position: static;
	margin: 25px auto;
	width: 216px;
  padding: 7px;
}
#wlt-BoardCoverIndex .boardCard .boardTitle {
  margin: 0 0 4px;
  font-family: Roboto Condensed;
  font-size: 15px;
  font-weight: bold;
  color: #666666;
  line-height: 1.5;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
#wlt-BoardCoverIndex .boardCard .cover {
  position: relative;
  width: 216px;
  height: 146px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #eee;
  overflow: hidden;
}
#wlt-BoardCoverIndex .boardCard .cover:after {
  width: 216px;
  height: 146px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
  box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
#wlt-BoardCoverIndex  input[type="submit"] {
  font-size: 100%;
  padding: 0 10px 2px;
  height: 30px;
}
#wlt-BoardCoverIndex a.button {
  width: 28px;
  height: 28px;
  padding: 0;
  font-size: 100%;
  line-height: 2;
}
#wlt-BoardCoverIndex .prev{
	float: left;
}
#wlt-BoardCoverIndex .next{
	float: right;
}
#wlt-BoardCoverIndex .boardAction {
  margin: 7px 0 0;
}
/* End of board.cover.index.css */

.classic-theme #wlt-BoardInit .buttons{
	float: left;
	margin-left: 0;
}

.classic-theme #wlt-BoardInit .removeBoard{
	position: relative;
	top: 10px;
	left: -27px;
}

.classic-theme #wlt-BoardInit .row .boardTitle{
	height: 25px;
}

.classic-theme #wlt-BoardInitSide ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.classic-theme #wlt-BoardInitSide ul li a {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-size: 110%;    
    padding: 5px 7px;
    text-decoration: none;
	width: 210px;
	float: right;
	
}
.classic-theme #wlt-BoardInitSide ul li a img{
	float: right;
	margin-top: 2px;
}
.classic-theme #wlt-BoardInitSide ul li {
    margin: 0 0 10px;
    padding: 0;
}

/* board.list.css */
#wlt-BoardUser #wlt-BoardList {margin: 0;}
#wlt-BoardUser .dragHintWrapper {
  margin-top: 15px;
  text-align: center;
}
#wlt-BoardUser .userBoardsHint {
  display: inline-block;
  border: 1px dashed #999;
  background-color: #fffde3;
  padding: 10px;
  line-height: 1;
  font-family: Roboto;
  color: #777;
}
#wlt-BoardUser .userBoardsHint .hintSymbol {font-family: Arial Unicode MS; font-size: 14px; font-style: normal;}

.boardContainer {margin: -15px 0 0 -15px;}

.ui-sortable { list-style-type: none; margin: 0; padding: 0; }
.ui-sortable li {float: left; margin: 15px 0 0 15px;}

#wlt-BoardList .pager {display: none;}
#wlt-BoardList .loadingDiv {padding: 80px 20px; text-align: center; font-size: 150%;}
#wlt-BoardList .loadingDiv img {display: block-inline; margin: 0 10px;}
#wlt-BoardList .listEndWrapper {position: relative;}
#wlt-BoardList .listEndWrapper hr {
  margin: 25px 0;
  height: 0;
  border-style: inset;
  border-width: 1px 0;
}
#wlt-BoardList .listEndWrapper div {
  width: 80px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -14px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  line-height: 1.2;
  color: #c6c6c6;
  text-align: center;
  background-color: #dddedf;
}
/* End of board.list.css */

#wlt-PictureCategoryList .listImage{
	width: 100px;
}

/* picture.comment.add.css */
.pictureCommentAdd .hint {margin-left: 60px; padding: 0; display: none;}
.pictureCommentAdd label {
	width: auto; margin: 0 10px 0 0;
}
.pictureCommentAdd textarea {
	width: 600px;
	height: 42px;
	padding: 3px;
	resize:none;
}
.pictureCommentAdd .buttons {
	margin-left: 0;
	text-align: right;
	display: none;
}

#wlt-PictureList label {
	margin-right: 6px;
}
.pictureCard .pictureCommentAdd textarea {
	width: 154px;
	height: 22px;
	padding: 3px;
	resize:none;
}
.phone #wlt-PictureList .pictureCommentAdd textarea, .phone .pictureCard .pictureCommentAdd textarea {
	width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 14px;
}
.pictureCard .pictureCommentAdd .buttons {
	margin-left: 0;
	text-align: right;
	display: none;
}

.pictureCommentAdd .CommentLeft{
	position: relative;
	font-size: 70%;
	line-height: 10px;
	display: none;
	width: 190px;
	text-align: right;
}
#wlt-PictureList .CommentLeft{
	width: 196px;
}
#wlt-PictureView .CommentLeft{
	width: 655px;
}
.phone #wlt-PictureList .CommentLeft, .phone .pictureCommentAdd .CommentLeft {
	width: auto;
}
.classic-theme.phone form.pictureCommentAdd input[type=submit] {
	padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
}
/* End of picture.comment.add.css */

.comments .post {padding: 1em 0;}
.comments .message {text-align: left; word-wrap: break-word;}

/* picture.css */
.classic-theme .pictureItem {
  font-size: 90%; color: #333; background: #fff; border: none; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; box-shadow: 0px 0px 2px #999999;
  margin: 0 0 15px 15px;
  padding: 0;
  width: 230px;
  float: none;
  display: inline-block;
  vertical-align: top;
}
.classic-theme .pictureMessage {font-size: 14px !important; line-height: 21px; }
.classic-theme a.pictureMessage {font-size: 100%; }
.classic-theme.phone .pictureItem {
  font-size: 110%;
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  box-shadow: none;
  margin: 8px 0 0;
  display: block;
  width: 100%;
  min-width: 230px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*font-family: 'Roboto', Arial, sans-serif !important;*/
}
.classic-theme.phone #wlt-PictureLp .pictureItem {
  width: 475px;
}
.classic-theme.phone #content.withOffset .pictureItem {
  margin: 0 5px 15px 0;
  border: 1px solid #999999;
}
.list-view > .items {
  text-align: center;
}
.list-view > .items .pictureItem,
.list-view > .items .pictureItem .message-txt{
  text-align: left;
}
.classic-theme .pictureItem a {font-weight: bold; text-decoration: none; color: #333;}
.classic-theme .pictureItem a:hover {text-decoration: underline;}
.classic-theme .pictureItem .pictureCard .pictureImage {position: relative; background-color: #F2F2F2; min-height: 100px;}
.classic-theme .pictureItem .pictureCard .pictureImage .placeholder {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 50%;
  margin-top: -10px;
  padding: 0 6px;
  word-break: break-all;
  color: #F2F2F2;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px -1px #BBBBBB;
}
.classic-theme .pictureItem .pictureCard a img {cursor: zoom-in;cursor: -moz-zoom-in;cursor: -webkit-zoom-in;}
.classic-theme .pictureItem.ads .pictureCard a img {cursor: pointer;}
.classic-theme .pictureItem .pictureCard a.avatar img {cursor: pointer;}
.classic-theme .pictureItem .pictureCard .pictureImage img {display: none; width: 100%;}
.classic-theme .pictureItem .pictureCard .pictureImage .indicator {display: none;}
.classic-theme.phone .pictureItem .pictureCard .pictureImage img {max-width: 100%;}
.classic-theme .pictureCard .finish {-moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;}
.classic-theme .pictureCard .pictureButtons li {margin: 0 0 3px 0; float: none;}
.classic-theme .pictureItem.masonry-brick {
  margin-left: 0px;
  float: left;
  display: block;
}

.classic-theme .pictureStats {padding: 5px 15px 0 15px;}
.classic-theme.phone .pictureStats {padding: 0 8px; margin-top: 8px;}
.classic-theme .pictureStats li {line-height: 10px; margin-right: 14px; color: #666; font-size: 90%;}
.classic-theme .pictureStats li:before { content: ''; display: inline-block; width: 10px; height: 10px; margin: 0 3px 0 0;}
.classic-theme .likes:before {background: url(/themes/classic/images/icons.png) no-repeat -12px 1px;}
.classic-theme .reposts:before {background: url(/themes/classic/images/icons.png) no-repeat 0 0;}
.classic-theme .comments:before {background: url(/themes/classic/images/icons.png) no-repeat -24px 1px;}

.classic-theme .pictureCard .pictureMessage {cursor: zoom-in;cursor: -moz-zoom-in;cursor: -webkit-zoom-in;display: block; font-weight: normal; text-decoration: none; padding: 5px 15px 5px 15px;}
.classic-theme.phone .pictureCard .pictureMessage {padding: 0 8px; margin: 8px 0;}
.classic-theme .ads .pictureCard .pictureMessage {cursor: pointer !important;}
.classic-theme .pictureCard .pictureMessage:hover {text-decoration: none;}
.classic-theme .pictureMessage {word-wrap: break-word;}
.classic-theme .pictureItem .pictureMessage nobr {margin-left: .4em;}
.classic-theme .pictureItem .pictureMessage a.moreButton {text-decoration: underline;}

.pictureCard {position: relative; top: 0; left: 0;}
.pictureCard-loaded .placeholder {
  display: none;
}
.pictureCard-loaded .pictureImage img {
  display: block!important;
}
.pictureCard .worklet {margin: 0;}
.pictureCard > div {padding: 10px 15px;}
.pictureCard > div.pictureImage {padding: 0;text-align: center;}
.pictureCard .pictureImage {
  padding-top: 15px;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.list-view .pictureImage {
  opacity: 0;
}

.pictureCard-loaded .pictureImage {
  opacity: 1;
}
.pictureCard .pictureButtons {position: absolute; top: 7px; left: 7px; display: none; padding: 0;z-index: 500;}
.pictureCard .avatar{width: 30px; height: 30px;}
.pictureCard .avatar p {margin-left: -35px;}
.pictureCard .avatar img{height: 30px;}

.pictureCard .pictureInfoBlock {
  border-top: 1px solid #d7d7d7;
  background-color: #f2f2f2;
  padding: 10px 15px;
  line-height: 13px;
  display: block;
  text-decoration: none;
}
.pictureCard .pictureInfoBlock:hover {
  cursor: pointer;
  background-color: #fbfbfb;
  text-decoration: none !important;
}
.phone .pictureCard .pictureInfoBlock {
  border-top: none;
  background-color: #fff;
  padding: 8px;
  line-height: 15px;
}
.pictureCard .pictureInfoBlock .avatar-container {
  float:left;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  display:block;
}

.pictureInfoBlock .dimmedText {
  font-weight: bold;
  padding-top: 8px;
}

.pictureCard .pictureInfoBlock img {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
}
.pictureCard .pictureInfoBlock .title {
  margin-left: 33px;
  white-space: nowrap;
  /* overflow all */
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.pictureCard .pictureInfoBlock .authorName {
  margin-top: 2px;
  font-weight: bold;
}
.phone .pictureCard .pictureInfoBlock .authorName {
  margin-top: 0;
}
.pictureCard .pictureInfoBlock .boardTitle {
  margin-top: 1px;
  color: gray;
}
.phone .pictureCard .pictureInfoBlock .boardTitle {
  margin-top: 2px;
}
.pictureCard .pictureComments {background-color: #f2f2f2; padding: 0;}
.pictureCard .pictureComments .message {width: 200px;}
.pictureCard .pictureComments .message-txt {overflow: hidden;}
.pictureCard .pictureComments .column {margin-right: 6px;}
.pictureCard .pictureComments .avatar img{height: 30px;}
.pictureCard .pictureComments .comments {border-top: 1px solid #d7d7d7;}
.phone .pictureCard .pictureComments .comments {border-top: none; padding: 0;}
.pictureCard .pictureComments .comments .post {padding: 6px 15px;}
.pictureCard .pictureComments .comments .post.inPhoneCard {
  position: relative;
  padding: 0 8px 6px 24px;
  text-align: left;
  line-height: 1.3;
}
.pictureCard .pictureComments .comments .post.inPhoneCard:first-child {
  border-top: 1px solid #cccccc;
  padding-top: 6px;
}
.pictureCard .pictureComments .comments .post.inPhoneCard:first-child em {
  display: block; width: 10px; height: 10px; margin: 0;
  background: url(/themes/classic/images/icons.png) no-repeat -24px 1px;
  position: absolute;
  left: 8px;
  top: 8px;
}
.pictureCard .pictureComments .comments .post.inPhoneCard .userName {font-weight: bold; margin-right: 6px;}
.pictureCard .pictureComments .pictureCommentAdd {padding: 10px 15px; border-top: 1px solid #d7d7d7;}
.phone .pictureCard .pictureComments .pictureCommentAdd {
  padding: 10px 8px;
  display: none;
}
.pictureCard .pictureComments .pictureCommentAdd .row {margin: 0;}
.pictureCard .pictureComments .pictureCommentAdd .buttons {margin-top:.5em;}
#wlt-PictureList .pager {display: none;}
#wlt-PictureScroll {display: none; z-index: 9999; position: fixed; bottom: -1px; right: 15px; background: #fff; border:1px solid #d7d7d7; font-size: 120%; font-weight: bold; margin: 0;}
#wlt-PictureScroll a {font-weight: bold; color: #666; display: block; padding: 1em; width: 50px;}

.pictureButtons ul li a {background-color: #fff; border: 1px solid #d7d7d7; padding: 5px; margin-right: 5px; display: block;}

.pictureCard > div.phonePictureCardButtons {margin: 0; padding: 0;}
ul.phoneCard {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.phoneCard li {
  border-top: 1px solid #ccc;
}

.phone .phoneCard {
  overflow: hidden;
}

.phone .phoneCard li {
  float: left;
  width: 33.3%;
}

.phone .phoneCard .caption {
  display: none;
}

.phone .phoneCard .stats {
  display: block!important;
  float: none;
  width: auto!important;
}

.phone .phoneCard .count {
  display: none!important;
}

.phonePictureCardButtons a.btn {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  position: relative;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background-image: none;
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  text-align: center;
  padding: 10px 16px;
  font-family: 'Roboto', Arial, sans-serif !important;
/*  color: #b85a5a; #910101;*/
  color: #707070;
}
.phonePictureCardButtons a.btn.active {
  background-color: #eaeaea;
  box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
}
.phonePictureCardButtons a.btn.disabled {
  opacity: 1;
  color: #ccc;
}
.phonePictureCardButtons a.btn:hover {
  text-decoration: none;
}
.phonePictureCardButtons .stats {
  float: right;
  font-weight: normal;
  width: 44px;
  color: #bbb;
}
.phonePictureCardButtons .stats.hidden {display: none;}
.phonePictureCardButtons .stats .icon {
  opacity: 0.3;
  margin-right: 4px;
}

.phonePictureCardButtons a.btn .loader{
    background: url('/css/loading.gif') center center no-repeat rgba(255,255,255,0.5);
    display: block;
    position: absolute;
    z-index: 100;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}

.phone #wlt-PictureList .cardDialog {
  position: absolute;
  z-index: 1;
  /*height: 100px;*/
  left: 5px;
  right: 5px;
  background-color: #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.33);
  box-shadow: 0 0 5px rgba(0,0,0,0.33);
  font-family: 'Roboto', Arial, sans-serif !important;
  display: none;
}
.phone #wlt-PictureList .cardDialog:before {
  content: "";
  width: 0; height: 0;
  border-bottom: 10px solid #f2f2f2;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  margin-top: -9px;
}
.cardDialog input, .cardDialog select, .cardDialog textarea {
  font-family: 'Roboto', Arial, sans-serif !important;
}
.phone .cardDialog > .content {
  padding: 10px;
}
.phone .cardDialog > .content .worklet {
  margin: 0;
}
.phone .cardDialog .worklet-content > hr {
  display: none;
}

#wlt-PictureList #infscr-loading {padding: 80px 20px; text-align: center; font-size: 150%;}

#wlt-PictureList .listEndWrapper {
  position: relative;
  margin: 0 auto;
}
#wlt-PictureList .listEndWrapper hr {
  margin: 15px 0;
  height: 0;
  border-style: inset;
  border-width: 1px 0;
}
#wlt-PictureList .listEndWrapper div {
  width: 80px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -14px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  line-height: 1.2;
  color: #c6c6c6;
  text-align: center;
  background-color: #dddedf;
}

.pictureItem.newPost {
  width: 228px;
  height: 278px;
  background: rgba(255,255,255,0.4);
  border: 1px dashed #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: Roboto;
  text-align: center !important;
}

.pictureItem.newPost:hover {
  /*background: rgba(0,0,0,0.05);*/
  background: rgba(255,255,255,0.6);
}

.pictureItem.newPost a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #888;
  width: 100%;
  height: 100%;
}

.pictureItem.newPost a:hover {text-decoration: none;}

.pictureItem.newPost:hover a {color: #666666;}

.pictureItem.newPost img {
  display: inline;
  margin: 94px 0 10px;
  opacity: 0.35;
}

.pictureItem.newPost:hover img {opacity: 0.5;}

/* End of picture.css */

#wlt-PictureEdit .preview img {
	border: 1px solid #bbb;
	padding: 5px;
}
#wlt-PictureInfoFollow{
	margin-top: 50px;
}
#wlt-PictureInfoFollow input{
	float: right;
	width: 700px;
	margin: auto 0;
}

#wlt-PictureInfoFollow input[name="big"]{
	position: relative; 
	margin-top: 14px;
}

/* picture.options.css */
#wlt-PictureOptions .worklet-content{
	margin: 20px auto;
	position: static;
	width: 572px;
}

@media (max-width: 768px) {
    #wlt-PictureOptions .worklet-content {
        width: auto;
        margin-right: 3px;
        margin-left: 3px;
    }
}

@media (max-width: 480px) {
    #wlt-PictureOptions .column {
        margin: auto;
        float: none;
    }
    #wlt-PictureOptions .column a {
        margin: auto;
    }
}

/* End of picture.options.css */

/* picture.post.css */
#wlt-PicturePost {display: none}

#wlt-PicturePost .simpleSlide-slide {
	width: 170px;
	height: 170px;
	max-height: 170px;
	overflow: hidden;
	text-align: center;
}
#wlt-PicturePost .simpleSlide-slide img {
	max-width: 160px; max-height: 160px; margin: 5px;
}
#wlt-PicturePost .controls .left-button {
	float: left;
	cursor: pointer;
}
#wlt-PicturePost .controls .right-button {
	float: right;
	cursor: pointer;
}
#wlt-PicturePost .simpleSlide-window {
	border: 1px solid #bbb;
}
#wlt-PicturePost .controls {
	width: 162px;
	background-color: #bbb; color: #fff;
	padding: 3px 5px;
}
#wlt-PicturePost textarea {
	width: 300px; height: 100px;
}

#wlt-PicturePost #MPictureForm_boardTitle {
	width: 300px;
}

.mobile #wlt-PicturePost #MPictureForm_boardTitle,
.mobile #wlt-PicturePost #MPictureForm_source,
.mobile #wlt-PicturePost textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	width: 100%;
}

@media (max-width: 630px) {
  #wlt-PicturePost .column {
    float: none;
  }

  #uForm_PicturePost .field_publish_to_odnoklassniki label,
  #uForm_PicturePost .field_publish_to_facebook label,
  #uForm_PicturePost .field_publish_to_mailru label {
    display: none;
  }

  #uForm_PicturePost {
    width: auto!important;
  }

  #wlt-PicturePost .pictureContainer {
    display: inline-block;
  }

  #wlt-PicturePost #selector {
    height: 129px;
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
  }

}

/* End of picture.post.css */

#wlt-PictureShareMenu {
  position: fixed;
  top: 177px;
  left: 50%;
  margin-left: 490px;
  margin-bottom: 0;
  display: block;
}

#share42 {
  top: 275px!important;
  margin-left: 2px!important;
}

#wlt-PictureView h2 {
	padding: 0; margin: 0 0 .2em 0; line-height: 1;
}
.ui-dialog {
    width: 600px;
}

@media (max-width: 768px) {
    .ui-dialog {
        width: auto!important;
        left: 3px!important;
        right: 3px!important;
        top: 3px!important;
        bottom: 3px!important;
        max-height: 100%;
        margin-left: 0!important;
    }
}

.ui-widget .content {
	font-family: Roboto, Arial, sans-serif;
}
.ui-widget-overlay { background: transparent; position: fixed; top: 0; left: 0; }
/* language select */
#wlt-BaseLanguage {position: relative; width: 160px; float: right;}
#wlt-BaseLanguage .langSelector {position: absolute; width: 160px;}
#wlt-BaseLanguage .langList {display: none;}
#wlt-BaseLanguage a {display:block;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {top: 2em;}
.sf-menu ul {padding: 0; margin-left: -1px}
#wlt-BaseTopMenu ul li {line-height: 20px;}
#wlt-BaseTopMenu .sf-menu li:hover ul {top: 20px;}
#wlt-BaseTopMenu .userItem {
	width: 20px; height: 20px;
	overflow: hidden;
}
#wlt-BaseTopMenu .userItem p {
	padding: 0; margin: 0;
	width: 100px; margin-left: -40px; text-align: center;
}
#wlt-BaseTopMenu .userItem img {
	height: 20px;
}
#wlt-LocationSelect {display:none}
#wlt-LocationSelect ul.country, #wlt-LocationSelect ul.country .state, #wlt-LocationSelect ul.country .city {display: none}
#wlt-LocationSelect ul {list-style-type: none; margin:0; padding:0;}
#wlt-LocationSelect li {padding:0; margin:0; float: left;}
#wlt-LocationSelect .currentCountry, #wlt-LocationSelect a {padding: .5em; margin:0;}
#wlt-LocationSelect .search a {float: left;}
#wlt-LocationSelect li.state {float: none}
#wlt-LocationSelect li.country {float: none; width: 100%; clear: both;}
#wlt-LocationSelect ul:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
#wlt-UserMenu .welcome img {width: 30px}

@media (max-width: 480px) {
  #wlt-PictureList,
  .boardContainer {
    margin: 0;
  }

  #wlt-BoardUser #wlt-BoardList {
    margin: 0;
  }

  #wlt-BoardList-Sortable > li,
  .boardCardNew.createBoard {
    margin: 0 auto!important;
    float: none!important;
  }

  #wlt-BoardList-Sortable .boardCardNew {
    margin: 10px auto;
  }

  .follower {
    margin: 0;
    padding: 10px;
  }
}
