#pageLoader {
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    z-index: 200000;
    display: none;
    color: #fff;
    border-radius: 5px;
    min-width: 140px;
}

#pageLoader:before {
    content: '';
    display: inline-block;
    background: url("/css/loading.gif");
    width: 16px;
    height: 11px;
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
}

#pageLoader a {
    color: inherit;
}

.phone #pageLoader {

}

.page-loading,
.page-loading * {
    cursor: wait!important;
}
