.video {
	position: relative;
}
.video .indicator { 
    height: 50px;
	width: 50px;
    left: 50%;
	top: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    z-index: 1;
	background: url(play.png) no-repeat top left;
}

