.no_padding {
	padding-left:0 !important;
	padding-right:0 !important;
}
.top30 {
	margin-top:50px !important;
}
.radio_width {
	width:300px;
}
.radio_bg {
	background:url(../img/radio_bg.jpg) center center no-repeat;
	border-bottom:3px solid #fc0200;
	padding-bottom:60px !important;
}
.center_col {
	margin:-30px auto !important;
}