﻿/*-----------导航样式--------------*/
.nav{
	width: auto;
	height: 50px;
	background: #0a0907;
}
.nav-in{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.logo{
	margin-top: 5px;
}
.nav-right{
	line-height: 50px;
}
.nav-right li{
	margin-left: 40px;
}
.nav-right li a{
	color: #5c6063;
}
.nav-right li a:hover{
	color: #fff;
}
/*-----------webpage样式--------------*/
.web-nav-box{
	width: 1200px;
	margin: 0 auto;
}
.web-nav{
	width: 1200px;
	height: 270px;
	background: url(../images/web-nav-bg.png) center top no-repeat;
	margin-top: -135px;
	box-shadow:  0 1px 10px rgba(0,0,0,0.25);
	-o-box-shadow:  0 1px 10px rgba(0,0,0,0.25);
	-ms-box-shadow:  0 1px 10px rgba(0,0,0,0.25);
	-moz-box-shadow:  0 1px 10px rgba(0,0,0,0.25);
	-webkit-box-shadow:  0 1px 10px rgba(0,0,0,0.25);
}
.web-nav-in{
	width: 100%;
	height: 100%;
	padding: 75px 0 0 40px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.icon-box{
	width: 100px;
	height: auto;
	margin-left: 72px;
	cursor: pointer;
}
.icon-bg{
	width: 100px;
	height: 100px;
	background: #7490ff;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow-y: hidden;
}
.icon{
	display: block;
	width: 100px;
	height: 100px;
	background: url(../images/icons.png) 0 0 no-repeat;
}
.icon02{background-position: 0 -100px;}
.icon03{background-position: 0 -200px;}
.icon04{background-position: 0 -300px;}
.icon05{background-position: 0 -400px;}
.icon06{background-position: 0 -500px;}
.icon-txt{
	font-size: 20px;
	color: #343434;
	font-weight: bold;
	text-align: center;
	padding-top: 18px;
}
/*.current .icon-bg{background: #7490ff;}
.current .icon-txt{color: #343434;}*/
.icon-box:hover .icon-bg{background: #ff8b00;}
.icon-box:hover .icon-txt{color: #343434;}
/*-----------banner样式--------------*/
.banner-box{
	width: 100%;
	height: 760px;
	background: url(../images/banner-bg.png) center no-repeat;
	overflow: hidden;
}
/*.guang{
	width: 1366px;
	height: 1366px;
	background: url(../images/guang.png) center no-repeat;
	top: -740px;
	left: -100px;
	animation: rotate01 30s linear infinite;
	-ms-animation: rotate01 30s linear infinite;
	-webkit-animation: rotate01 30s linear infinite;
	-o-animation: rotate01 30s linear infinite;
	-moz-animation: rotate01 30s linear infinite;
}
@keyframes rotate01{
	100%{transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}*/
.banner-txt-box{
	width: 1200px;
	height: auto;
	top: 0;
	left: 0;
	padding-top: 100px;
}
.banner-txt{
	font-size: 42px;
	font-weight: bold;
	color: #9ef9fb;
	text-align: center;
	z-index: 100;
	letter-spacing:30px;
	opacity: 0;
}
.banner-txt02{
	font-size: 40px;
	color: #fff;
	text-align: center;
}
.qsjz{padding: 20px 0;}
.orange{color: #ffdd00; font-size: 70px;}
/*-----------con01样式--------------*/
.con{
	width: 100%;
	height: auto;
	padding: 120px 0 100px;
}
.con-in{
	width: 1200px;
	height: auto;
	margin:0 auto;
}
.con01-in{width: 1200px;}
.con01{background: #ededed; padding-bottom: 0;}
.con-title{
	width: 1200px;
	height: 193px;
	margin: 0 auto 60px auto;
}
.con01-title{
	background: url(../images/con01-title.png) center bottom no-repeat;
	padding: 120px 0 0 0;
}
.con01-btm{
	width: 100%;
	height: 560px;
	background: #7490ff;
}
.con01-left {
    width: 500px;
    height: 588px;
    background: url(../images/con01-bom-bg.png) center no-repeat;
}
.con01-left-in{
	width: 100%;
	height: 100%;
	padding: 20px 48px 28px 48px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.kcjj-title{
	width: 228px;
	height: 60px;
	background: url(../images/kcjj-title.png) center no-repeat;
	margin-bottom: 20px;
}
.kcjj-txt {
    font-size: 16px;
    color: #2d2d2d;
    text-indent: 2em;
    line-height: 28px;
    margin-bottom: 20px;
}
.szll-title{background: url(../images/szll-title.png) center no-repeat;}
.but-box{
	width: 480px;
	margin: 0 auto;
	padding: 5px 5px;
}
.xiao-but{width: 360px;}
.xiao-but a{font-size: 18px;}
.but{
	padding: 6px 20px;
	font-size: 26px;
	font-weight: bold;
	background: #f18614;
	color: #fff;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: -3px 3px 0 rgba(0,0,0,0.2);
	-o-box-shadow: -3px 3px 0 rgba(0,0,0,0.2);
	-ms-box-shadow: -3px 3px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: -3px 3px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: -3px 3px 0 rgba(0,0,0,0.2);
	margin: -5px 0 0 0;
}
.but02{
	background: #7490ff;
	margin-left: 40px;
}
.but01:hover{background: #e27603;}
.but02:hover{background: #5f7cec;}
.con01-right {
    width: 700px;
    height: 560px;
}
.ren{
	bottom: 0;
	left: 200px;
}
.con01-right-txt{
	font-size: 18px;
	color: #cdd7ff;
}
.teshu{
	font-size: 22px;
	font-weight: bold;
	color: #faee76;
}
.txt01{
	top: 450px;
	left: -10px;
}
.txt02{
	top: 324px;
	left: 0;
}
.txt03{
	top: 235px;
	left: 20px;
}
.txt04{
	top: 146px;
	left: 66px;
}
.txt05{
	top: 76px;
	left: 190px;
}
.txt06{
	top: 50px;
	left: 10px;
}
.txt07{
	top: 74px;
	left: 305px;
}
.txt08{
	top: 134px;
	left: 400px;
}
.txt09{
	top: 174px;
	left: 278px;
}
.txt10{
	top: 270px;
	left: 490px;
}
.txt11{
	top: 340px;
	left: 450px;
}
.txt12{
	top: 448px;
	left: 432px;
}
.txt13{
	top: 500px;
	left: 582px;
}
.txt14{
	top: 410px;
	left: 552px;
}
.txt15{
	top: 310px;
	left: 610px;
}
.txt16{
	top: 210px;
	left: 580px;
}
.txt17{
	top: 210px;
	left: 450px;
}
.txt18{
	top: 20px;
	right: 20px;
}
.txt19{
	top: 120px;
	right: 50px;
}
.txt20{
	top: 220px;
	left: 200px;
}
.txt21{
	top: 320px;
	left: 180px;
}
.txt22{
	top: 110px;
	left: 0;
}
.txt23{
	top: 280px;
	left: 120px;
}
.txt24{
	top: 390px;
	left: 50px;
}
.txt25{
	top: 510px;
	left: 50px;
}
.txt26{
	top: 460px;
	left: 150px;
}
.txt27{
	top: 10px;
	left: 150px;
}
.txt28{
	top: 130px;
	left: 200px;
}
.txt29{
	top: 80px;
	left: 450px;
}
.txt30{
	top: 160px;
	left: 500px;
}
.txt31{
	top: 186px;
	left: 100px;
}
.txt32{
	bottom: 20px;
	left: 450px;
}
/*-----------课程表分区样式--------------*/
.schedule-title{
	height: 194px;
	background: url(../images/schedule-title.png) center no-repeat;
}
.schedule01{
	width: 100%;
	height: 1080px;
	background: url(../images/schedule01-bg.png) center no-repeat;
	padding: 52px 0 0 98px;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 60px;
}
.jd-txt{
	font-size: 16px;
	font-weight: bold;
	color: #0f0f0f;
	text-align: center;
}
.jn-txt{
	font-size: 14px;
	color: #565555;
	line-height: 22px
}
.schedule02{
	width: 100%;
	height: 374px;
	background: url(../images/schedule02-bg.png) center no-repeat;
}
/*-----------vs对比分区样式--------------*/
.con-vs{background: #fff;}
.con-vs-title{background: url(../images/con-vs-title.png) center no-repeat;}
.vs-box{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0px 70px;
	background: url(../images/vs.png) center no-repeat;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 60px;
}
.xmg{width: 338px;}
.vs-top{
	font-size: 30px;
	font-weight: bold;
	color: #70727b;
	height: 45px;
	text-align: center;
}
.vs-txt{
	width: 332px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #7490ff;
	margin-bottom: 30px;
	box-shadow:  -6px 6px 0 #d7daea;
	-o-box-shadow:  -6px 6px 0 #d7daea;
	-ms-box-shadow:  -6px 6px 0 #d7daea;
	-moz-box-shadow:  -6px 6px 0 #d7daea;
	-webkit-box-shadow:  -6px 6px 0 #d7daea;
	cursor: pointer;
}
.vs-txt:hover{background: #5f7ae8;}
.qtjg-txt{
	box-shadow:  6px 6px 0 #e9ecf8;
	-o-box-shadow:  6px 6px 0 #e9ecf8;
	-ms-box-shadow:  6px 6px 0 #e9ecf8;
	-moz-box-shadow:  6px 6px 0 #e9ecf8;
	-webkit-box-shadow:  6px 6px 0 #e9ecf8;
	background: #cfd2e4;
	color: #70727b;
}
.qtjg-txt:hover{background: #bbbed3; color: #fff;}
/*-----------项目实战分区样式--------------*/
.con-project-box{background: #3c4353;}
.con-project-title{background: url(../images/con-project-title.png) center no-repeat;}
.project-box{
	width: 1200px;
	height: 545px;
	margin: 0 auto;
	background: #7490ff;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 60px;
}
.describe-box{
	width: 300px;
	height: 100%;
	margin-left: 10px;
}
.describe-box:before{
	content:'';
	display: block;
	width: 20px;
	height: 20px;
	background: #7490ff;
	position: absolute;
	right: -10px;
	top: 250px;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	z-index: 101;
}
.describe{
	width: 100%;
	height: 100%;
	top:0;
	left: -300px;
}
.describe-box .current{
	left: 0;
	z-index: 100;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.describe-title{
	font-size: 24px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
}
.describe-title02{
	font-size: 20px;
	padding-top: 0;
	height: 60px;
	color: #fcf928;
}
.describe-txt{
	font-size: 14px;
	color: #e7ebfc;
	line-height: 24px;
	padding: 0 16px;
	margin-bottom: 10px;
}
.jiac{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.project-img-box{
	width: 850px;
	height: 472px;
	background: #fff;
	margin-top: 36px;
	overflow: hidden;
}
.project-img{
	width: 100%;
	height: 100%;
	top:0;
	right: -850px;
}
.project-img-box .current{
	right: 0;
	z-index: 100;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.pag-box{
	bottom: 0;
	right: 40px;
	padding: 10px;
	/*border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;*/
}
.pag-box li{
	width: 20px;
	height: 20px;
	background: #fff;
	margin-left: 10px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.pag-box .current{background: #ff0000;}
/*-----------师资分区样式--------------*/
.con-teacher{background: #3c4353;}
.con-teacher-title{background: url(../images/con-teacher-title.png) center no-repeat;}
.teacher-box{
	width: 1200px;
	height: 820px;
	margin-bottom: 60px;
}
.ter-briefing-box{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ter-briefing{
	width: 264px;
	height: 645px;
	background: #dde4ff;
	margin-top: 170px;
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.mr44{margin-right: 48px;}
.ter-briefing-bg{background: #b3c3ff;}
.teacher-img01{
	top:-170px;
	left: 20px;
}
.ter-name{
	height: 54px;
	padding-top: 150px;
	text-align: center;
}
.name{
	font-size: 28px;
	font-weight: bold;
	color: #3f3939;
}
.position{
	font-size: 18px;
	font-weight: bold;
	color: #646464;
}
.briefing-txt{padding: 0 10px;}
.briefing-txt p{
	font-size: 14px;
	color: #3f3939;
	text-indent: 2em;
	line-height: 22px;
}
/*-----------薪资榜分区样式--------------*/
.con-salary{background: #ededed;}
.con-salary-title{background: url(../images/con-salary-title.png) center no-repeat;}
.salary-box{
	width: 1200px;
	height: 696px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 60px;
	overflow: hidden;
}
.salary-box table {
    border-spacing: 0;
}
.salary-order{
	width: 100%;
	height: 118px;
	border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	-ms-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	padding: 0 40px;
}
.salary-table-box{
	width: 1200px;
	height: 580px;
	overflow: hidden;
}
.salary-order-box{height: 118px;}
.salary-order-box a{
	width: 260px;
	font-size: 22px;
	font-weight: bold;
	background: #3c4353;
	color: #fff;
	line-height: 58px;
	text-align: center;
	position: relative;
}
.salary-order-box .current{background: #ef4f4f;}
.salary-order-box .current:before{
	content: '';
	width: 8px;
	height: 60px;
	position: absolute;
	bottom: -60px;
	left: 50%;
	background: #ef4f4f;
}
.table-top{
	font-size: 20px;
	color: #fff;
	text-align: center;
}
.table-txt{
	font-size: 18px;
	color: #3c4353;
	text-align: center;
}
.salary-table-box tr:hover{background: #eaeeff;}
.yingcang{display: none;}
/*-----------数据分析分区样式--------------*/
.con-data-title{background: url(../images/con-data-title.png) center no-repeat;}
.data-box{
	margin: 20px 0 60px 0;
	padding-left: 80px;
}
.data-box li{
	margin: 60px 0 0 50px;
}
.data-txt{
	text-align: center;
	font-size: 26px;
	color: 333;
	font-weight: bold;
}
.red-txt{color: red; font-size: 50px;}
/*-----------学员反馈分区样式--------------*/
.con-feedback{background: #7490ff;}
.con-feedback-title{background: url(../images/con-feedback-title.png) center no-repeat;}
.mr24{margin-right: 24px;}
.mb40{margin-bottom: 40px;}
.but03{background: #b3c3ff;}
.but03:hover{background: #97aaed;}
/*-----------video分区样式--------------*/
.con-video{background: url(../images/con-video-bg.png) bottom no-repeat;}
.con-video-title{background: url(../images/con-video-title.png) center no-repeat;}
.video-box{
	width: 1200px;
	height: 772px;
	border: 2px solid #3b3b3b;
	overflow: hidden;
	margin-bottom: 60px;
}
.video-box-in{
	width: 1150px;
	height: 722px;
	margin: 25px auto 25px auto;
	border: 2px solid #3b3b3b;
}
.video-title{
	width: 984px;
	margin: 0 auto;
	padding: 40px 0;
}
.video{
	width: 1100px;
	height: 500px;
	margin: 0 auto;
	padding: 40px 0;
	background: #121212;
}
.ml28{margin-left: 28px;}
.youshi{width: 266px;}
.youshi h3{
	font-size: 22px;
	color: #3b3b3b;
	height: 48px;
	margin-top: 30px;
	text-align: center;
}
.youshi p{
	font-size: 14px;
	color: #7b7b7b;
	line-height: 26px;
}
/*-----------底部分区样式--------------*/
.con-xuefei{background: #da1c26;}
.con-bottom{
	height: 2000px;
	background: #da1c26 url(../images/con-bottom-bg.png) bottom no-repeat;
}
.con-bottom-in{
	width: 1200px;
	padding-top: 100px;
	text-align: center;
}
.bottom-txt{
	font-size: 50px;
	color: #fff;
	height: 90px;
	font-weight: bold;
}
.con-bottom .but-box{margin-top: 1150px;}
/* ---------------------footer样式 ----------------- */
.footer{
	background: #252525;
}
.footer-top{
	padding: 80px 0 50px 0;
}
.footer-top-in{
	width: 1200px;
	margin: 0 auto;
}
.footer-nav{
	margin-left: 180px;
}
.footer-nav ul li{
	line-height: 30px;
}
.footer-nav ul li a{
	color: #999;
}
.footer-buttom{
	line-height: 50px;
	border-top: 1px solid #2f2f2f;
	text-align: center;
	color: #4c4c4c;
}
.wechat-img{
	width: 120px;
	margin: 0 100px;
}
.contact p{
	margin-bottom: 18px;
	color: #999;
}

body {
  perspective: 540px;
}
.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  box-shadow: -447px 387px #c4c4c4, -401px 118px #fafafa, -109px 217px #d9d9d9, -680px -436px #e3e3e3, 514px 360px #cccccc, -708px 298px #e8e8e8, -696px -270px #ededed, 116px -128px #f7f7f7, 179px 35px white, -404px -90px whitesmoke, -331px -309px #c4c4c4, -363px -24px #d1d1d1, 277px 416px #fafafa, -145px -244px whitesmoke, 123px 62px #d4d4d4, -407px 418px #d9d9d9, 535px 237px #d9d9d9, -466px -78px #f7f7f7, 257px 287px #dedede, 327px -398px #e0e0e0, -602px -38px #c2c2c2, 128px 398px #e6e6e6, 274px -446px #d1d1d1, -602px -298px #c7c7c7, 526px -5px #c4c4c4, -90px -158px #fcfcfc, 5px 294px whitesmoke, -633px 229px #c4c4c4, -475px 427px #dedede, 586px -453px #f2f2f2, 180px -432px #c7c7c7, -637px -88px #cfcfcf, -453px 308px #d6d6d6, -111px 1px #d9d9d9, 573px -450px #ededed, 198px 300px #d6d6d6, -355px 166px #dedede, -715px 13px #e3e3e3, 262px -104px #d1d1d1, 147px 325px #dbdbdb, 1px 399px #dbdbdb, 286px -100px white, 43px -329px #e8e8e8, 617px 55px #d9d9d9, -168px -392px #cccccc, 84px 219px #c9c9c9, 507px -226px #d9d9d9, -327px -70px #e6e6e6, 386px -212px #c4c4c4, -717px 4px #cfcfcf, 502px -231px #e3e3e3, 302px 56px #ededed, 649px 341px #c7c7c7, 569px 350px #c9c9c9, 516px -31px #e6e6e6, 689px 447px #c2c2c2, 591px -206px #fafafa, 422px -137px #e6e6e6, -510px -324px #cccccc, -649px 287px #c2c2c2, -194px -48px #f7f7f7, -279px -329px #d1d1d1, -406px 478px #dbdbdb, -735px -87px #c9c9c9, 30px -197px #dedede, -564px 233px #e6e6e6, -486px -324px #ededed, -54px -7px #ededed, -441px -194px #e3e3e3, -133px -95px #e0e0e0, -722px -73px #d6d6d6, 595px 423px #ededed, 568px -39px #ededed, 370px 377px #d1d1d1, -419px -102px #fcfcfc, -450px 109px #c4c4c4, -57px -119px #d1d1d1, -582px 150px #e6e6e6, 206px -263px #cfcfcf, 582px -461px #c9c9c9, -268px -141px #d9d9d9, -148px 291px #c7c7c7, 254px -179px #c9c9c9, 725px 424px #f0f0f0, 391px -150px #ebebeb, 89px -299px #d4d4d4, 170px 1px #c9c9c9, 243px 209px #c7c7c7, 27px 460px #c9c9c9, -465px -380px #d4d4d4, 530px -360px whitesmoke, -626px 53px #e0e0e0, 706px 218px #d9d9d9, 40px -82px #cccccc, -5px -212px #e6e6e6, -742px 33px #ebebeb, -714px 478px #e0e0e0, -585px -125px #cccccc, -216px 348px #cfcfcf, 601px 332px #ededed, 344px -88px #c4c4c4, 659px -22px #d1d1d1, -411px 188px #d6d6d6, -423px -206px #fcfcfc, -359px -136px #cfcfcf, 612px 406px whitesmoke, 725px 96px whitesmoke, 363px -446px white, -204px 325px #c9c9c9, 740px 176px #fafafa, -489px -352px white, -638px 64px #dbdbdb, 537px -65px #dbdbdb, 151px -32px #ebebeb, 681px 212px #fcfcfc, 604px -149px #e6e6e6, -542px -398px #c4c4c4, -707px 66px whitesmoke, -381px 258px #cfcfcf, -30px 332px #d6d6d6, 512px -381px #c9c9c9, 195px 288px #cccccc, -278px 479px #c7c7c7, 27px -208px #d6d6d6, -288px 15px white, -680px 248px #dedede, 433px 31px #c9c9c9, 150px -206px #d4d4d4, -79px 247px white, -594px 115px #e0e0e0, 99px 292px #e0e0e0, 673px -269px #dedede, -257px -64px #d1d1d1, 449px 81px #f2f2f2, 18px -99px #d1d1d1, -694px 415px #f7f7f7, 240px 264px #e0e0e0, 450px -172px white, 383px 7px #e8e8e8, 338px -73px #c9c9c9, 291px -19px #ebebeb, 659px 137px #d1d1d1, 602px -6px #fcfcfc, 554px 249px #ebebeb, 625px 356px #d9d9d9, 579px -183px #d6d6d6, -20px 250px white, -401px 431px #c4c4c4, -645px -232px #cccccc, -265px -148px white, 553px 258px #d1d1d1, 166px -360px #ebebeb, 719px 51px #ededed, 612px -129px #ebebeb, -465px -104px #f2f2f2, -154px -121px #d9d9d9, -1px 330px #f2f2f2, -666px 248px #f7f7f7, -720px 264px #ededed, 148px -365px #e6e6e6, -388px -349px #c4c4c4, 128px -88px #e3e3e3, -683px -274px #fafafa, -341px 41px #c9c9c9, -59px -471px #f0f0f0, -3px -427px #c2c2c2, 418px 167px #d6d6d6, 343px 247px #c7c7c7, 623px -347px #d1d1d1, 716px -217px white, 243px -409px whitesmoke, -75px -126px #d6d6d6, -730px -91px #c9c9c9, -210px -397px #cfcfcf, -349px 180px #c9c9c9, -567px -281px #e0e0e0, -460px 381px #fcfcfc, -310px -22px #ededed, 450px -1px #dbdbdb, -405px -328px #e3e3e3, 5px 332px #d6d6d6, -294px 302px #fcfcfc, -398px 97px whitesmoke, -696px 325px #cfcfcf, -589px 110px #d6d6d6, 353px -411px #dbdbdb, -697px -318px #ebebeb, -114px -72px #f0f0f0, 259px -193px #fcfcfc, 60px 26px #e6e6e6, -63px -232px white, 205px -372px #f7f7f7, -464px -333px #f2f2f2, -374px 123px white, -377px -386px #c7c7c7, -80px 337px #cccccc, 478px -178px #dbdbdb, 222px 420px #ebebeb, -707px 99px #c4c4c4, 716px -132px #fafafa, -253px -286px #e3e3e3, 646px 178px #f0f0f0, 201px 24px #d1d1d1, 178px -58px #c7c7c7, -557px 368px #ededed, 0px 219px #d9d9d9, -266px -269px #cccccc, 242px -197px #c9c9c9, -419px 193px #c2c2c2, -47px 91px #c7c7c7, -109px 75px #c2c2c2, -146px -453px #d6d6d6, 671px -350px #f2f2f2, 421px -91px #d9d9d9, 738px 19px #ededed, -316px -155px #dedede, 419px 244px #fcfcfc, -278px -418px #d6d6d6, -581px -181px #fcfcfc, 139px 264px #d9d9d9, 691px -11px #ebebeb, -622px 402px #c2c2c2, 219px 396px #f0f0f0, -149px -423px white, -716px -78px #d9d9d9, -590px 341px #e6e6e6, -208px 79px #d6d6d6, -227px -24px #f7f7f7, 239px 262px #d1d1d1, 740px 443px #f7f7f7, 509px 134px #d6d6d6, -555px 232px #e8e8e8, -67px -427px #cfcfcf, -368px 250px #f7f7f7, 715px -415px #fafafa, 411px -301px #f0f0f0, -322px 287px #d9d9d9, -429px -90px #f2f2f2, -327px -387px #f0f0f0, -491px 183px #c2c2c2, -133px 250px #d4d4d4, 538px 139px #e3e3e3, -417px -125px #f0f0f0, 653px -351px #e6e6e6, -549px 38px #d4d4d4, 602px 110px whitesmoke, 415px 105px #e0e0e0, -733px -371px #cfcfcf, 286px 403px #d4d4d4, 11px 320px #c4c4c4, -597px 158px whitesmoke, 716px -350px whitesmoke, 321px 67px #fafafa, -237px -300px #cfcfcf, 74px 152px #c9c9c9, 587px -123px #fcfcfc, 699px -332px whitesmoke, 399px 355px #f7f7f7, -323px 314px #dbdbdb, 89px 416px #c7c7c7, 445px 38px #e3e3e3, 572px 122px #c4c4c4, -258px 372px white, 49px 306px #d9d9d9, 437px -35px #dedede, 566px 174px #f2f2f2, 732px -299px whitesmoke, -410px 394px #ededed, 131px -415px white, 19px -326px #e8e8e8, -700px -188px #d1d1d1, 96px -1px #e0e0e0, -328px -396px #f0f0f0, -117px -214px #fcfcfc, -53px 261px #ebebeb, 80px 134px #d6d6d6, -364px -216px white, -636px -125px #dbdbdb, -639px -265px #e3e3e3, 208px 98px #c7c7c7, 172px 467px #e0e0e0, 435px 309px #e3e3e3, 194px -259px #f0f0f0, 209px -186px #c9c9c9, -312px 418px #fafafa, 229px 407px #c9c9c9, -449px -357px #fafafa, 674px 121px #e8e8e8, 608px -429px #ebebeb, -431px -428px #cfcfcf, 105px 462px #e3e3e3, -179px -372px #e3e3e3, 143px -317px #d6d6d6, -449px -149px #fafafa, -544px 250px #dedede, -220px -323px whitesmoke, 658px 8px whitesmoke, -656px -244px #e8e8e8, 347px 11px whitesmoke, 694px -230px #f7f7f7, -317px 1px #c4c4c4, 28px 23px #fcfcfc, -382px 321px #dbdbdb, 632px -74px #c4c4c4, 154px -245px #c2c2c2, -553px 337px #d6d6d6, -48px -243px #d1d1d1, 92px -391px #cccccc, -71px -256px #cfcfcf, -372px 57px #d9d9d9, 369px -140px #fcfcfc, 675px 81px #c2c2c2, -663px 254px #cccccc, 703px -203px #ededed, 74px -363px #c2c2c2, 643px -458px #d1d1d1, 198px 359px #cccccc, 265px 309px #d4d4d4, -353px -368px #e8e8e8, -465px 439px whitesmoke, 693px 360px #c9c9c9, 634px -397px #d1d1d1, 467px 25px whitesmoke, -558px -272px #e6e6e6, 671px 69px #dbdbdb, 407px 357px #cfcfcf, 379px 80px white, 10px -203px #c9c9c9, 104px -292px #f0f0f0, -667px -29px #d1d1d1, 557px -155px #e6e6e6, -505px 115px #cfcfcf, -605px 164px #f2f2f2, -108px -223px #e0e0e0, 523px -156px #ebebeb, 691px 230px white, -507px -13px #d1d1d1, -349px 332px #dedede, 520px 266px whitesmoke, -66px -250px #e6e6e6, -496px -449px #ebebeb, 414px -170px #dedede, -649px 230px #ebebeb, 598px -92px #c7c7c7, -638px 113px #c2c2c2, 151px 363px #f7f7f7, -445px -241px #f0f0f0, 527px -14px #dedede, 203px -61px #cfcfcf, -716px -284px #ebebeb, -525px 134px #c2c2c2;
  animation: fly 3s linear infinite;
  transform-style: preserve-3d;
}
.stars:before, .stars:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}
.stars:before {
  transform: translateZ(-300px);
  opacity: .6;
}
.stars:after {
  transform: translateZ(-600px);
  opacity: .4;
}

@keyframes fly {
  from {
    transform: translateZ(0px);
    opacity: .6;
  }
  to {
    transform: translateZ(300px);
    opacity: 1;
  }
}


.graybg {
    background: #F3F3F3;
    width: 100%;
    padding-bottom: 15px;
}

.clear {
    width: 100%;
    height: 40px;
    line-height: 0;
    font-size: 0;
    clear: both;
}

.lay {
    width: 1200px;
    margin: 0 auto;
    overflow: visible;
}

.newbox {
    width: 1260px;
    overflow: hidden;
}

.newlist {
    float: left;
    width: 360px;
    margin-right: 60px;
}

.newlist .hd {
    overflow: inherit;
    border-bottom: 1px solid #ccc;
    height: 45px;
    margin-bottom: 15px;
}
.lay .hd {
    width: 100%;
}

.newlist .hd h2 {
    font-size: 18px;
    color: #333;
    border-bottom: 2px solid #ff3146;
    float: left;
    line-height: 44px;
    position: relative;
    font-weight: normal;
}

.newlist .hd a {
    float: right;
    margin-top: 16px;
    font-size: 14px;
    color: #666;
}

.newlist .hd a:hover {
    color: #ff3146;
}

.newlist li {
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
}

.newlist li a {
    float: left;
    width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    
}

.newlist li a:hover {
    color: #ff3146;
}

.newlist li span {
    color: #ff3146;
    margin-right: 5px;
    font-size: 19px;
}