﻿@charset "utf-8";
.fix {
	*zoom: 1
}
.fix:after {
	content: '';
	display: table;
	clear: both;
}
.popup 
{
    z-index:1000;
    width:500px;
    position:fixed;_position:absolute;top:50%;left:50%;margin:-130px 0 0 -230px;
	background-image: none;
	background-color: #f1f2f4;
	border: 1px solid #c8c8c8;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	color: #4793c9;
	font-family: 微软雅黑;
	height: 340px;
	overflow: hidden;
}
.popup .hd a.close {
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background: #4793c9;
	width: 26px;
	height: 26px;
	background-image: none;
	color: #fff;
	line-height: 26px;
	text-indent: 0;
	margin-top:9px;
	text-align: center;
	font-size: 26px;
	float:right;
}
#bdcontent {
	margin-top: -30px;
}
.popup .bd .login {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position:relative;
}
.popup .hd h3{float:left;font-size:18px;font-family:"微软雅黑"; font-weight:bold;  width:450px; text-align:center}
.popup .bd .login h3 {
	font-weight: bold;
	font-size: 18px;
	text-align:left;
	color: #000;
	margin: 0 auto 15px 110px;
}
.popup .bd .login label {
	font-size: 14px;
}
.popup .bd .login input {
	width: 169px;
	height: 42px;
	margin: 7px 0 10px 0;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #4793c9;
	font-size: 14px;
	padding: 0 0 0 50px;
	color: #4793c9;
	line-height: 44px;
}
.zhsr {
	width: 475px;
	float: left;
}
.mail_zh {
	background: #fff url(http://www.tgbus.com/images/mail_zh.gif) 5px center no-repeat;
}
.password_zh {
	background: #fff url(http://www.tgbus.com/images/password_zh.png) 5px center no-repeat;
}
.c_login1, .c_reg1 {
	margin: 10px auto 0;
	width: 100%;
	text-align: center;
}
.popup .bd .login button {
	display: inline;
	width: 154px;
	height: 44px;
	background: url(http://www.tgbus.com/images/button_zh.png) center top no-repeat;
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border: 0px solid #C21630;
	font-family: 微软雅黑;
	padding: 2px 4px 3px;
}
.popup .hd{height:55px;line-height:48px;padding:0 10px;overflow:hidden;}
.popup .bd .login f2{text-align:left; }
.popup .bd .login label{display:inline-block;width:60px;padding-right:5px;text-align:right; height:42px;line-height:42px;margin: 7px 0 10px;}
.popup .bd .login span{display:inline-block;height:42px;line-height:42px;margin: 7px 0 10px 10px; *margin-top:0;}
.popup .bd .login span img{
	*margin-top:10px;
}
.bdhide{ margin-left:145px; line-height:40px; display:none;}
#loginstate{ display:none;}
#u_info{display:none;}

.c_reg1 a {
color: #C21630;
}

.c_reg1 a:hover {
color: #e2b990;
text-decoration: none;
}

#code_div{
	background:#fff url(http://www.tgbus.com/images/code_zh.gif) no-repeat;
}
.popup .bd .login span{
	width:60px;
}
.starGame {
    height: 34px;
    right: 119px;
    top: -6px;
    width: 116px;
}