@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, pre, dl, dt, dd, ul, ol, li, th, td, form, fieldset, legend, button, input, textarea{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6, button, input, select, textarea{font-size:100%;}
li{list-style:none;}
img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
em, i{font-style:normal;}
body {font-family:'Microsoft Yahei','Simsun';color:#666;word-break:break-all;word-wrap:break-word;font-size: 12px;}
a {text-decoration:none;}
.clearfix:after{content:"";display:block;height:0;clear:both;}
.fl {float:left;}
.fr {float:right;}

/*通用*/
.theMask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);	
	z-index: 98;
}
.person-tip{
	position: fixed;
	top: 50%;
	left: 50%;	
	width: 569px;
	height: 381px;
	margin: -190px 0 0 -285px;
	display: inline-block;
	z-index: 99;
    background:url(../css/images/person-tip.jpg) no-repeat;
}
.person-tip .close{
	position: absolute;
	top: 0px;
	right: -46px;
	width: 46px;
	height: 46px;
	display: inline-block;
    background:url(../css/images/person-close.png) no-repeat;	
}
.person-tip .close:hover{
	opacity: 0.8;
}
.person-tip .bd{
	padding: 60px;
}
.person-tip .bd h3{
	text-align: center;
	font-size: 22px;
	color: #46595a;
	line-height: 22px;
	margin-bottom: 20px;
}
.form_person{

}
.form_person li{
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}
.form_person li .label{
	float: left;
	width: 90px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	line-height: 34px;
	color: #46595a;
	font-size: 18px;
}
.form_person li .text{
	float: left;
}
.form_person li .text input[type=text]{
	border: 1px solid #d0d8d9;
	height: 34px;
	line-height: 34px;
	width: 310px;	
	font-size: 14px;
}
.form_person li .text .file{
	position: relative;
	height: 34px;
	width: 310px;
	border: 1px solid #d0d8d9;	
	display: inline-block;
	overflow: hidden;	
}
.form_person li .text input[type=file]{
	position: absolute;
	left: 3px;
	top: 3px;
	font-size: 20px;

}
.form_person li .msg{
	float: left;
	margin-left: 10px;
}
.form_person li .msg i{
	color: red;
	display: inline-block;
	line-height: 34px;
}
.form_person li.but-li{
	padding-top: 20px;
	text-align: center;
}
.submit-person{
	width: 146px;
	height: 57px;
	display: inline-block;
    background:url(../css/images/submit-person.png) no-repeat;	
}