@charset "UTF-8";
body {background:#fff;font: 12px/1.5 Tahoma,Helvetica,Arial,"宋体",sans-serif;color: #333;}
h1, h2, h3, h4, h5, h6{font-family:'Microsoft Yahei','Simsun';}
a {color:#333;}
a:hover {color:#e42122;text-decoration:none;opacity:0.9;transition:opacity 0.3s ease-out 0s;}
.dis {display:block;}
.undis {display:none;}
.red {color:#ff3333;}
.orange {color:#f26c34;}
.blue {color:#15c3d1;}
.blue2 {color:#336699 !important;}
.yellow {color:#ff9900}
.more_color {color:#8a8989;font-size:12px !important;font-family:"宋体";margin-right:10px;}
.bt_s {font-family:"微软雅黑";color:#e64849;}
.bt_s2 {font-size:16px;height:45px;line-height:45px;text-align:left;}
.denglu {width:100%;background:#e5e5e5;}
.dl {width:1160px;margin:0 auto;height:35px;}
.dl a {padding:0 10px;display:inline-block;color:#999;line-height:35px;}
.dl a:hover {color:#e42122;}
.head {width:1160px;height:116px;margin:0px auto 0;background-color:#FFFFFF;}
.head_logo {overflow:hidden;text-indent:-9999em;width:215px;height:116px;background:url(../images/tgbus.jpg) no-repeat -10px -260px;float:left;}
.head_nav {float:left;overflow:hidden;margin-top:40px;margin-top:20px;margin-left:40px;width:500px}
.head_nav img {width:450px;height:60px;float:left;}
.head_ss {width:355px;float:right;margin-top:45px;border:1px solid #CCCCCC;}
.head_ss p {color:#999999;height:35px;line-height:35px;text-align:left;}
.head_ss p a {float:right;padding:0 10px;}
.searchtext2 {border:none;color:#bfbfbf;background:#fff;float:left;height:21px;padding:4px 0 4px 8px;width:310px;color:#7C7C7C;}
.searchgo2 {background:url(../images/tgbus.jpg) no-repeat;border:none;cursor:pointer;float:left;height:29px;text-indent:-99999em;width:29px;}
.nav {width:1160px;overflow:hidden;margin:0 auto;background-color:#FFFFFF;border-top:2px solid #d51f20;}
.topmain {padding-left:27px; height:53px;border-bottom:1px solid #CCCCCC;}
.topmain li {text-align:center;width:110px;float:left;height:53px;line-height:53px;font-size:18px;margin-left: 25px;}
.topmain li a {color:#d51f20}
.topmain li a:hover {color:#d51f20;text-decoration:none;}
.topmain li.hovertap{-webkit-animation:fadeInLeft 1s .1s ease both;-moz-animation:fadeInLeft 1s .1s ease both;background:#d51f20;color:#fff;}
@-webkit-keyframes fadeInLeft {0% {opacity:0;-webkit-transform:translateX(-20px)}
100% {opacity:1;-webkit-transform:translateX(0)}
}
@-moz-keyframes fadeInLeft {0% {opacity:0;-moz-transform:translateX(-20px)}
100% {opacity:1;-moz-transform:translateX(0)}
}
.topmain li.hovertap a{color:#fff}
.nei {overflow:hidden;border-bottom:1px solid #CCCCCC;}
.nei .top {border-bottom:1px dashed #e3e3e3;height:40px;line-height:40px;overflow:hidden}
.nei .top a {color:#919191;padding:0 20px;display:inline-block;font-size:16px;}
.nei .top a:hover {color:#d51f20;}
.nei .left {margin-top:10px;width:325px;float:left;}
.nei .left a {width:105px;height:35px;line-height:35px;display:inline-block;text-align:left;float:left;color:#7C7C7C;font-size:14px;font-family: '微软雅黑';}
.nei .left a:hover {color:#d51f20;}
.nei .left a img {margin-top:-3px;vertical-align:middle;}
.nei .shuxian {border-left:1px solid #e3e3e3;height:50px;float:left;margin-top:20px;}
.nei .right {margin-top:15px;float:left;width:810px;color:#e3e3e3;height:69px;overflow:hidden;text-align:left;font-size: 12px;}
.nei .right a {display:inline-block;padding:0 10px;line-height:30px;color:#7C7C7C;}
.nei .right a:hover {text-decoration:none;color:#D51F20}
.guanggao {width:1160px;margin: 20px auto;}

/*内容区域cont*/
.cont{width:1160px;margin:0 auto;}

.cont .sidetop-fl {width:421px;float:left;}
.cont .sidetop-md{width: 380px;float: left;margin-left:30px;}
.cont .sidetop-fr{width: 300px; float: right;}

.tg-indexSlide{
    margin-bottom:30px;
    position: relative;
    width: 421px;
    height: 250px;
    display: inline-block;
}
.tg-indexSlide li{
    position: relative;
    height: 250px;
    overflow: hidden;
}
.tg-indexSlide li a{
    font-size: 20px;
    color: #ccc;
}
.tg-indexSlide  li a:hover{
    color: #ccc;
}
.tg-indexSlide li p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    background: rgba(0,0,0,.5);
    font-family:Verdana;
    font-weight: bold;
}
.tg-indexSlide .hd{ height:10px;width: 100%; overflow:hidden; position:absolute;left:1px; bottom:-11px; z-index:1; }
.tg-indexSlide .hd ul li{ float:left;width:83.2px;border-right: 1px solid #fff; height:10px; display: inline-block; text-align:center; background:#666666; cursor:pointer;text-indent: -999em;}
.tg-indexSlide .hd ul li.on{background:#e64849; }
/* 下面是前/后按钮代码，如果不需要删除即可 */
.tg-indexSlide .prev,
.tg-indexSlide .next{ position:absolute; left:10px; top:50%; margin-top:-26px; display:block;font: 700 53px/58px arial;display: none;color: #fff;}
.tg-indexSlide .next{ left:auto; right:10px;}
.tg-indexSlide .prev:hover,
.tg-indexSlide .next:hover{ filter:alpha(opacity=60);opacity:0.6; }
.tg-indexSlide:hover .prev,.tg-indexSlide:hover .next{display: block;}


.score {padding-bottom:10px;}
.score li {position: relative; width:409px;height:70px;padding:5px;border:1px solid #cfcfcf;margin-bottom:18px;font-family:"宋体";}
.score li a{display:inline-block;}
.score li a:hover img {-webkit-animation:pulse 1s .2s ease both;-moz-animation:pulse 1s .2s ease both;-ms-animation:pulse 1s .2s ease both;}
@-webkit-keyframes pulse {0% {-webkit-transform:scale(1)}
50% {-webkit-transform:scale(1.1)}
100% {-webkit-transform:scale(1)}
}
@-moz-keyframes pulse {0% {-moz-transform:scale(1)}
50% {-moz-transform:scale(1.1)}
100% {-moz-transform:scale(1)}
}
@-ms-keyframes pulse {0% {-ms-transform:scale(1)}
50% {-ms-transform:scale(1.1)}
100% {-ms-transform:scale(1)}
}
.score .imgWapper{display:block;width:120px;height:70px;overflow:hidden;float:left;margin-right:5px;}
.score a img {width:120px;height:70px;margin-right:10px;float:left;}
.score a span {float:left;color:#333333;font-family:"宋体";font-size:16px;width:195px;height:40px;line-height:40px;overflow:hidden;}
.score a:hover span {color:#e42122;}
.score a p {float:left;color:#999999;width:195px;height:30px;line-height:30px;overflow:hidden;}
.score a:hover {text-decoration:none}
.score em {position: absolute;top: 5px;right:5px; display:block;width:70px;height:70px;line-height:70px;text-align:center;font-family:Arial,Helvetica,sans-serif;font-size:45px;font-weight:bold;background:url(../images/score.jpg) no-repeat;}

.hot-activity{margin-top:26px;}
.tg-h2{margin-bottom:15px;color: #e64849;font-size: 20px;line-height: 20px;font-weight: normal;}
.more_color{float: right;color: #8a8989;font-size: 12px;line-height: 20px;}
.hot-activity .img {margin-bottom:5px;width:290px;height:130px;padding:4px;border:1px solid #c8c7c7;}
.hot-indexSlide{}
.hot-indexSlide{
    margin-bottom:20px;
    position: relative;
    width: 100%;
    height: 130px;
    display: inline-block;
}
.hot-indexSlide li{
    position: relative;
    height: 130px;
    overflow: hidden;
}
.hot-indexSlide li a{
    font-size: 20px;
    color: #ccc;
}
.hot-indexSlide  li a:hover{
    color: #ccc;
}
.hot-indexSlide li img{width: 100%;height: 130px;}
.hot-indexSlide .hd{ height:6px;width:auto; position:absolute;right:8px; bottom:5px; z-index:1; }
.hot-indexSlide .hd ul li{float:left;width:6px; height:6px; margin-left:4px; display: inline-block; background:#fff;cursor:pointer;text-indent:-999em;}
.hot-indexSlide .hd ul li.on{background:#f00;}

.hot-activity .hot-bd {line-height: 24px;}
.hot-activity .hot-bd h6{font-size:14px;margin-bottom:10px;}
.hot-activity .hot-bd p{font-size:12px;line-height:24px;}
/*sidetop-md*/
.sidetop-md{}
.sidetop-tab{ height: 40px; border-bottom: 1px solid #ccc;}
.sidetop-md .sidetop-tab a{text-align:center; width:64px;float:left; height:38px;line-height:38px;font-size:16px;padding:0px 15px;color: #267ABD;border-bottom: 2px solid #fff;font-family: '微软雅黑';}
.sidetop-tab a.on{border-bottom:3px solid #D51F20;color:#D51F20;}
.sidetop-md .list{}
.sidetop-md .list h4{margin-bottom: 8px; margin-top:20px; color: #e42122;font-size: 20px;line-height: 20px;font-weight:600;text-align: center;}
.sidetop-md .list h4 a{color:#e64849;}
.sidetop-md .list p{font-size: 12px;text-align: center;}
.sidetop-md .list p a{display: inline-block;}
.sidetop-md .list ul{padding-top: 15px;}
.sidetop-md .list li{line-height:24px;}
.sidetop-md a{color: #333;}
.sidetop-md a:hover{color:#e42122;}
.sidetop-md .list li span{vertical-align: middle;
    width: 33px;
    height: 16px;
    margin-right: 12px;
    line-height:16px;
    text-align: center;
    display: inline-block;
    background: url(../images/tgbus.jpg) no-repeat -317px 0px;}
.sidetop-md .list li span a{width: auto;display:inline-block;color: #fff;font-size: 12px;line-height: 16px;position: relative;top: -2px;}
.sidetop-md .list li a{width: 325px;overflow:hidden;height: 24px;vertical-align: middle; font-size: 14px;line-height:24px;display: inline-block;}
.sidetop-md .list h6{ margin-top:15px;font-size:16px;line-height: 20px;font-weight:600;text-align: center;font-family: '微软雅黑';}
.sidetop-md .list h6 a{color:#e42122;}
.sidetop-md .list .title{margin-top:15px;font-size:16px;height:36px;line-height: 36px;text-align: center;border:1px solid #e42122;color: #e42122;}
.sidetop-md .list .title a{color: #e42122;}

.starvideo{height:100px;padding-top:5px;margin-top: 10px;}
.starvideo a{display:inline-block;float:left;width:120px;height:100px;line-height:20px;margin-left:5px;}
.starvideo a .imgBorder{border:1px solid #CBCACA;height:70px;overflow:hidden;padding:2px;width:114px;}


/*sidetop-fr*/
.side-guanggao{margin-bottom:20px;}
.sale{

}
.sale h4{
    float: left;
    font-size: 20px;
    color: #e64849;
    line-height: 20px;
    display: inline-block;
    font-weight: normal;
}
.sale .tab{
    padding-left: 120px;
    height: 20px;
    margin-bottom: 0px;
}
.sale .tab a{
    cursor: pointer;
    text-align: center;
    width: 45px;
    float: left;
    height: 20px;
    line-height: 20px;
    background: #666666;
    color: #ccc;
    font-size: 12px;
}
.sale .tab a.on{
    background: #267abd;
    color: #Fff;
}
.sale .tab a:hover{
    background: #267abd;
    color: #Fff;
}
.list-table{

}
.list-table table{
    width: 100%;
}
.list-table table th{font-size:14px;color:#000;height:35px;text-align:left;font-size: 14px;font-family: '微软雅黑';}

.list-table table td{height:24px;color:#666666;font-size: 12px;}
.list-table table .tar {
    text-align: right;
}
.tg-feature {height:85px;margin-top:20px;overflow:hidden;margin-bottom: 20px;}
.tg-feature a{width:59px;float:left;margin-right:21px;display:block;font-size: 12px;text-align: center;}
.tg-feature a:last-child{margin-right: 0;}
.tg-feature a img {margin-bottom:5px;width:49px;height:49px;padding:4px;border:1px solid #cbcaca;}
.tg-feature a img:hover{
    -webkit-animation: swing 1s .2s ease both;
    -moz-animation: swing 1s .2s ease both;
    -ms-animation: swing 1s .2s ease both;
}
@-webkit-keyframes swing{
20%,40%,60%,80%,100%{-webkit-transform-origin:top center}
20%{-webkit-transform:rotate(15deg)}
40%{-webkit-transform:rotate(-10deg)}
60%{-webkit-transform:rotate(5deg)}
80%{-webkit-transform:rotate(-5deg)}
100%{-webkit-transform:rotate(0deg)}
}
@-moz-keyframes swing{
20%,40%,60%,80%,100%{-moz-transform-origin:top center}
20%{-moz-transform:rotate(15deg)}
40%{-moz-transform:rotate(-10deg)}
60%{-moz-transform:rotate(5deg)}
80%{-moz-transform:rotate(-5deg)}
100%{-moz-transform:rotate(0deg)}
}
@-ms-keyframes swing{
20%,40%,60%,80%,100%{-ms-transform-origin:top center}
20%{-ms-transform:rotate(15deg)}
40%{-ms-transform:rotate(-10deg)}
60%{-ms-transform:rotate(5deg)}
80%{-ms-transform:rotate(-5deg)}
100%{-ms-transform:rotate(0deg)}
}
.forum-hot h5{margin-bottom:10px; font-size:20px;color: #e64849;line-height: 20px;font-weight: normal;}
.forum-hot .more{font-size: 12px;line-height: 20px;font-family:"宋体";}
.forum-hot span {width:300px;height:110px;display:block;margin-bottom:15px;}
.forum-hot span a img {display:block;width:290px;height:105px;padding:4px;border:1px solid #cbcaca;}
.forum-hot p {text-align:left;}
.forum-hot p a {width:300px;height:25px;line-height:25px;overflow:hidden;float:left}
.tg-hot-game{padding-top:0px;}
.tg-hot-game .list{height: 215px;} 
.tg-hot-game .list a{ width:150px; height:215px; float:left; margin:0 7px; position:relative; color:#333333;text-decoration: none;text-align: center;position: relative;}
.tg-hot-game .list a img{ width:140px; height:170px; padding:4px; border:1px solid #cbcaca; margin-bottom:10px;}
.tg-hot-game .list a em{ position:absolute; top:149px; left:5px; width:140px; height:26px; background:#404040; color:#fff; line-height:26px; text-align:center; display:block; opacity:0.8;}
.tg-hot-game .list a:hover{ color:#e42122;}
.tg-hot-game .list a p{position: absolute;top:151px;left:5px;width:140px;height: 24px;line-height: 24px; background: rgba(0,0,0,.5);color: #fff;text-align: center;font-size: 12px;}
/*section*/
.section{margin-bottom:30px;}
.section-nav{margin-bottom:25px;width:1160px;height:44px;border-bottom:2px solid #267abd;line-height:44px;}
.section-nav span {float:left;text-align:left;color:#267abd;font-size:25px;width:230px;font-family:'微软雅黑';}
.section-nav p {color:#8a8989;float:left;text-align:left;}
.section-nav p a {display:inline-block;text-align:left;padding:0 5px;color:#8a8989;}
.section-nav p a:hover,.section-nav i a:hover {color:#e42122;}
.section-nav i {float:right;margin-right:10px;}
.section-nav i a {color:#8a8989;}
.section{}
.section .column{width: 400px;margin-bottom:15px;}
.section_list{width: 100%;}
.section_list li{float: left;width: 190px;}
.section_list li:nth-child(2n){float: right;}
.section h5{margin-bottom:15px; font-size:16px;color: #e64849;line-height: 20px;font-weight: normal;font-family:'微软雅黑';}
.section .more{font-size: 12px;line-height: 20px;font-family:"宋体";color:#8a8989;}
.section .more:hover{color:#e42122;}
.imgBorder {margin-bottom: 4px;padding:4px;border:1px solid #cbcaca;width:180px;height:96px;display:block;}
.imgWapper {display:block;width:180px;height:96px;overflow:hidden;}
.imgBorder em{position:relative;top:-32px;width:180px;height:28px;overflow:hidden;background:rgba(0,0,0,.5);color:#fff;line-height:28px;text-align:center;display:block;}
.imgWapper:hover img{transition: all 0.3s linear 300ms;-moz-transition: all 0.3s linear 300ms;-webkit-transition: all 0.3s linear 300ms;transform: rotate(5deg) scale(1.2);-moz-transform: rotate(5deg) scale(1.2);-webkit-transform: rotate(5deg) scale(1.2);}
.game-section .column .list p{text-align:left;height:26px;line-height:26px;overflow:hidden;font-size:14px}
.game-section .column .list .mr5{margin-right: 5px;}

.section-fl{width: 400px;float:left;}
.day-focus{ width: 400px;float:left;margin-left: 20px;}
.day-focus .focus{padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px dotted #b7b7b7;}
.day-focus .text{width: 200px;float: left;}
.day-focus .text a{font-size: 14px;line-height: 20px;margin-bottom: 5px;display: inline-block;}
.day-focus .text p{line-height: 20px;}
.day-focus .imgBorder{margin-left: 208px;}
.day-focus ul{}
.day-focus ul li{ font-size:14px;text-align:left; height:30px; line-height:30px; overflow:hidden;}
.day-focus ul li span{ color:#666;}
.day-focus .section_list li{
    height: auto;
}
.raiders{float: left;width:820px;}
.raiders .list{ width:190px; float:left;margin-right: 20px;}
.raiders .list p{text-align:left; height:26px; line-height:26px; overflow:hidden; font-size:14px;}
.raiders .list .imgBorder em{_display: none;}
.raiders .list .imgBorder:hover em{_display: block;}
.raiders .list .imgBorder:hover img{_-webkit-transform:none}
.raiders li{width:190px; float:left;margin-right: 20px;}
.raiders li:nth-child(4n){margin-right:0;} 
.raiders li p{text-align:left; height:26px; line-height:26px; overflow:hidden; font-size:14px;}
.raiders li .imgBorder em{_display: none;}
.raiders li .imgBorder:hover em{_display: block;}
.raiders li .imgBorder:hover img{_-webkit-transform:none}
.game-time{width: 300px;float: right;}
.game-time .time-tab{ height:25px; width:300px; border-bottom:3px solid #e0e0e0;}
.game-time .time-tab li{cursor:pointer; text-align:center; width:40px;float:left; height:25px; line-height:25px; font-size:14px; margin-left:10px; margin-right:10px; color:#666666;} 
.game-time .time-tab li.on{border-bottom:3px solid #ff5842;}  
.tab_items{padding:10px 0;width:300px;min-height: 530px;}
.tab_items table{width: 100%;}
.tab_items table td{ height:48px; color:#666; font-size:14px;text-align: center;}
.tab_items .border1{ border-right:1px solid #dddddd;}
.tab_items .re{position:relative;}
.tab_items table td span{ width:18px; height:13px; background:url(../images/tgbus.jpg) no-repeat 0 -1034px; display:block; position:absolute; right:-12px; top:18px;}
.raiders .banner{padding-top:10px;height:100px;display: block;}
.topic-focus .imgBorder{margin-left: 0}
.topgame{width: 300px;float: right;}
.topgame .topgame-tab{ height:25px; width:300px; border-bottom:3px solid #e0e0e0;}
.topgame .topgame-tab li{cursor:pointer; text-align:center; width:58px;float:left; height:25px; line-height:25px; font-size:14px; margin-left:12px; color:#666666;} 
.topgame .topgame-tab li.on{border-bottom:3px solid #ff5842;}  
.topgame-list{ background:url(../images/pgb.jpg) left no-repeat; width:300px; height:600px;}
.topgame-table{background: none;}
.topgame-table table{ font-size:14px; color:#000; margin: 0 auto;}
.topgame-table table th{text-align:left; height:40px;}
.topgame-table table td{ height:45px; text-align:left;}
.topgame-table table td a{ color:#000;}
.topgame-table table td a:hover{color:#e42122;}
.topgame-list li{ float:left; text-align:left; height:38px; margin:7px 0 9px 60px; width:240px; }
.topgame-list li:first-child{ margin-top:15px;}
.topgame-list li a{ width:185px; float:left; height:38px; overflow:hidden; line-height:38px;}
.topgame-list li a img{ width:38px; height:38px; margin-right:10px;vertical-align:top;}
.topgame-list li span{ float:right; line-height:38px; color:#555555;}

/*inventory*/
.inventory-section{padding-top:22px;margin-bottom: 17px; border-top:1px solid #dcdcdc;}
.inventory-fl{width: 840px;float: left;}
.inventory{width: 400px;margin-bottom:11px;float: left;margin-right:30px;}
.inventory .focus{height: 110px;margin-bottom:0px;}
.inventory .imgBorder{float: left;}
.inventory .text{margin-left:200px;}
.inventory .text a{font-size: 14px;line-height: 20px;margin-bottom: 5px;display: inline-block;}
.inventory .text p{line-height: 20px;color: #666;}
.inventory .list .mr5{margin-right: 5px;}
.inventory-list p{width: 50%;float: left;text-align: left;height: 26px;line-height: 26px;overflow: hidden;font-size: 14px;}
.inventory a{color: #333;}
.inventory a:hover{color: #e42122}
.exp{height:64px; margin-bottom:12px;}
.exp a:hover img{
    -webkit-animation:bounce 1s .2s ease both;
    -moz-animation:bounce 1s .2s ease both;
    -ms-animation:bounce 1s .2s ease both;
}
.exp img{ width:45px; height:43px; padding:4px; border:1px solid #cbcaca; float:left; margin-right:10px;}
.exp p{ width:175px; float:left; text-align:left; color:#666666; line-height:20px;}
.exp p a{display: inline-block;overflow:hidden;height: 20px; color:#333333;}
.exp p a:hover{color:#e42122;}
.exp code {float:right;}
.zdcs8,.zdcs9,.zdcs10{padding-left: 5px; width:143px; height:53px; display:block; background:url(../images/tgbus.jpg) no-repeat 0px -70px;color:#f26c34; font-size:18px; line-height:53px;text-align: center;font-family:'微软雅黑';}
.zdcs8 span,.zdcs9 span,.zdcs10 span{ float:right; margin-right:6px; font-size:30px; font-weight:bold;width:35px;text-align:center;}
.zdcs1,.zdcs2,.zdcs3,.zdcs4,.zdcs5,.zdcs6,.zdcs7{padding-left: 5px; width:143px; height:53px; display:block; background:url(../images/tgbus.jpg) no-repeat 0px -163px;color:#15c3d1; font-size:18px; line-height:53px;text-align: center;font-family:'微软雅黑';}
.zdcs1 span,.zdcs2 span,.zdcs3 span,.zdcs4 span,.zdcs5 span,.zdcs6 span,.zdcs7 span{ float:right; margin-right:6px; font-size:30px; font-weight:bold;width:35px;text-align:center;}
.inventory-section .hr-line{background:#dcdcdc;height: 1px;width: 100%;overflow: hidden;display: inline-block; margin-bottom:15px;}
.activity-fr{float: right;width: 300px;}
.activity-fr .imgBorder{width: 290px;margin-bottom: 12px;}
.activity-fr .imgWapper{width: 290px;}
.activity-fr p{text-align: left;height:25px;line-height:25px;overflow: hidden;font-size: 14px;}
.activity-list{padding:0 0 20px 0;}
.channel{width: 840px;margin: 0;}
.channel .focus{width: 380px;float: left;margin-bottom: 24px;}
.channel .mr{margin-right: 50px;}
.hot-app{width: 300px;float:right;height: 538px;overflow:hidden;} 
.hot-app .list a{ display:block; width:300px; height:53px; float:left; margin-bottom:22px; line-height:16px;}
.hot-app .list a:hover img{
    -webkit-animation:bounce 1s .2s ease both;
    -moz-animation:bounce 1s .2s ease both;
    -ms-animation:bounce 1s .2s ease both;
}
.hot-app .list a img{ width:45px; height:43px; padding:4px; border:1px solid #cbcaca; float:left; margin-right:10px;}
.hot-app .list a p{ width:220px; float:left; text-align:left; height:22px; font-size:14px;}
.hot-app .list a p img{ width:27px; height:13px;  padding:none; border:none; margin:0 0 0 5px; float:left;}
.hot-app .list a span{ display:block; width:220px; float:left; text-align:left;}
.arder{width: 570px;float: left;}
.arder h5{}
.arder a{float: left; margin-right:15px;height: auto;text-align: center;}
.arder a img{padding: 4px;border: 1px solid #cbcaca;margin-bottom: 10px;}
/*--------- footer -------*/
.footer{ width:100%;padding-bottom: 20px; margin-top:40px; background:#404040;}
.footer .link{ width:1000px; margin:0 auto; padding-top:30px; height:110px; overflow:hidden;}
.footer .link p{line-height: 26px; text-align:left; color:#666666;}
.footer .link p a{ display:inline-block; padding:0 10px;color:#666666;}
.footer .about {width: 968px;height: 78px;line-height: 35px;text-align: center;color: #666666;margin: 10px auto;}
.footer .about .nav_5 {height: 30px;}
.footer .about .nav_6,
.footer .about .nav_7 {height: 24px;line-height: 24px;}
.footer .about .nav_5 a,
.footer .about .nav_6 a,
.footer .about .nav_7 a {color: #666666;text-decoration: none;}
.footer .about .nav_5 a:hover,
.footer .about .nav_6 a:hover,
.footer .about .nav_7 a:hover {text-decoration: underline;}
.footer .area{text-align: center;}