.top-navbar {
  width: 100%;
  height: 42px;
  line-height: 42px;
  background: url("http://ol.tgbus.com/css/images/thead.jpg") repeat-x;
}
.top-navbar-inner {
  width: 1120px;
  margin: 0 auto;
  height: 42px;
  overflow: hidden;
  zoom: 1;
}
.top-navbar-left {
  float: left;
  overflow: hidden;
  zoom: 1;
}
.top-navbar-right {
  float: right;
  overflow: hidden;
  zoom: 1;
}
.top-navbar-inner a,
.top-navbar-inner span {
  color: #666;
  font-size: 12px;
  display: inline-block;
}
.top-navbar-inner a:hover {
  color: #e42122;
}
.top-navbar-inner a.top-navbar-logo {
  width: 90px;
  height: 30px;
  background: url("http://ol.tgbus.com/css/images/logo.png") no-repeat;
  margin-top: 6px;
  float: left;
}
.top-navbar-inner a.top-navbar-weibo {
  float: left;
  margin-left: 20px;
}
.top-navbar-inner a.top-navbar-client {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  background: url("http://ol.tgbus.com/css/images/shuLine2.gif") left center no-repeat;
}
.top-navbar-inner a.top-navbar-login,
.top-navbar-inner a.top-navbar-reg {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  background: url("http://ol.tgbus.com/css/images/shuLine2.gif") left center no-repeat;
}
.top-navbar-inner span.top-inner-tip {
  float: left;
}
