@charset"utf-8";
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: 0 0 }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block }
nav ul { list-style: none }
blockquote, q { quotes: none }
blockquote:after, blockquote:before, q:after, q:before { content: ''; content: none }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: 0 0 }
ins { background-color: #ff9; color: #000; text-decoration: none }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: 700 }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help }
table { border-collapse: collapse; border-spacing: 0 }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0 }
input, select { vertical-align: middle }
@font-face { font-family: MyriadPro-Regular; src: url(../fonts/MyriadPro-Regular_gdi.eot); src: url(../fonts/MyriadPro-Regular_gdi.eot?#iefix) format('embedded-opentype'), url(../fonts/MyriadPro-Regular_gdi.woff) format('woff'), url(../fonts/MyriadPro-Regular_gdi.ttf) format('truetype'), url(../fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular) format('svg'); font-weight: 400; font-style: normal; font-stretch: normal; unicode-range:U+0020-25CA
}
@font-face { font-family: 'Mentone-SemiBold'; src: url(../fonts/Mentone-SemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/Mentone-SemiBold.otf) format('opentype'),  url(../fonts/Mentone-SemiBold.woff) format('woff'), url(../fonts/Mentone-SemiBold.ttf) format('truetype'), url(../fonts/Mentone-SemiBold.svg#Mentone-SemiBold) format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'SegoePrint'; src: url(../fonts/SegoePrint.eot?#iefix) format('embedded-opentype'), url(../fonts/SegoePrint.woff) format('woff'), url(../fonts/SegoePrint.ttf) format('truetype'), url(../fonts/SegoePrint.svg#SegoePrint) format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: MyriadPro-Semibold; src: url(../fonts/MyriadPro-Semibold_gdi.eot); src: url(../fonts/MyriadPro-Semibold_gdi.eot?#iefix) format('embedded-opentype'), url(../fonts/MyriadPro-Semibold_gdi.woff) format('woff'), url(../fonts/MyriadPro-Semibold_gdi.ttf) format('truetype'), url(../fonts/MyriadPro-Semibold_gdi.svg#MyriadPro-Semibold) format('svg'); font-weight: 600; font-style: normal; font-stretch: normal; unicode-range:U+0020-25CA
}
@font-face { font-family: SegoeUI-Regular; src: url(../fonts/SegoeUI_gdi.eot); src: url(../fonts/SegoeUI_gdi.eot?#iefix) format('embedded-opentype'), url(../fonts/SegoeUI_gdi.woff) format('woff'), url(../fonts/SegoeUI_gdi.ttf) format('truetype'), url(../fonts/SegoeUI_gdi.svg#SegoeUI-Regular) format('svg'); font-weight: 400; font-style: normal; font-stretch: normal; unicode-range:U+0020-2666
}
@font-face { font-family: 'SegoeUI-Semilight'; src: url('../fonts/SegoeUI-Semilight_gdi.eot'); src: url('../fonts/SegoeUI-Semilight_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI-Semilight_gdi.woff') format('woff'),  url('../fonts/SegoeUI-Semilight_gdi.ttf') format('truetype'),  url('../fonts/SegoeUI-Semilight_gdi.svg#SegoeUI-Semilight') format('svg'); font-weight: 350; font-style: normal; font-stretch: normal;  unicode-range: U+000D-2666;
}
@font-face { font-family: SegoeUI-SemiBold; src: url(../fonts/SegoeUI-SemiBold_gdi.eot); src: url(../fonts/SegoeUI-SemiBold_gdi.eot?#iefix) format('embedded-opentype'), url(../fonts/SegoeUI-SemiBold_gdi.woff) format('woff'), url(../fonts/SegoeUI-SemiBold_gdi.ttf) format('truetype'), url(../fonts/SegoeUI-SemiBold_gdi.svg#SegoeUI-SemiBold) format('svg'); font-weight: 600; font-style: normal; font-stretch: normal; unicode-range:U+0020-2666
}
@font-face { font-family: 'MyriadPro-Bold'; src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Bold.otf') format('opentype'),  url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: icomoon; src: url(../fonts/icomoon.eot?-9r7emk); src: url(../fonts/icomoon.eot?#iefix-9r7emk) format('embedded-opentype'), url(../fonts/icomoon.woff?-9r7emk) format('woff'), url(../fonts/icomoon.ttf?-9r7emk) format('truetype'), url(../fonts/icomoon.svg?-9r7emk#icomoon) format('svg'); font-weight: 400; font-style: normal }
[class*=" icon-"], [class^=icon-] { font-family: icomoon; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.social-links [class^=icon-], [class*=" icon-"] { font-family: icomoon; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; font-size: 15px; color: #fff; display: inline-block; line-height: 29px; text-align: center; -moz-transition: all .3s ease-in 0s; -webkit-transition: all .3s ease-in 0s; -o-transition: all .3s ease-in 0s; -ms-transition: all .3s ease-in 0s; transition: all .3s ease-in 0s; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.icon-Reddit_logo { line-height: 26px !important; }
.icon-facebook55:before { content: "\e601" }
.icon-google10:before { content: "\e602" }
.icon-pinterest4:before { content: "\e604" }
.icon-Reddit_logo .path1:before { content: "\e605"; color: #fff; padding-left: 8px }
.icon-Reddit_logo .path2:before { content: "\e606"; margin-left: -3em; color: #fff }
.icon-Reddit_logo .path3:before { content: "\e607"; margin-left: -3em; color: #fff }
.icon-Reddit_logo .path4:before { content: "\e608"; margin-left: -3em; color: #fff }
.icon-Reddit_logo .path5:before { content: "\e609"; margin-left: -3em; color: #fff }
.icon-Reddit_logo .path6:before { content: "\e60a"; margin-left: -3em; color: #fff }
.icon-Reddit_logo .path7:before { content: "\e60b"; margin-left: -3em; color: #fff }
.icon-Reddit_logo .path8:before { content: "\e60c"; margin-left: -3em; color: #fff }
.icon-Reddit_logo .path9:before { content: "\e60d"; margin-left: -3em; color: #fff }
.icon-Reddit_logo .path10:before { content: "\e60e"; margin-left: -3em; color: #ff4500 }
.icon-Reddit_logo .path11:before { content: "\e60f"; margin-left: -3em; color: #ff4500 }
.icon-social:before { content: "\e610" }
body { background: #fff; font-family: MyriadPro-Regular; font-size: 13px; color: #737373; font-weight: 400; line-height: 20px }
a:hover { color: #000; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; margin: 0 }
h1 { font-size: 40px }
h2 { font-size: 35px }
h3 { font-size: 30px }
h4 { font-size: 27px }
h5 { font-size: 20px }
ul { list-style: none }
ol, ul { margin: 0; padding: 0 }
li ol, li ul { padding: 0; margin: 0 }
.bg-dk-grey { background: url(../img/pattern.png) }
.main_con { width: 100%; height: auto }
/*------your css start here-------*/
.navbar .nav { position: relative; left: 0; display: block; float: left; margin: 10px 0 0 18px; }
.navbar .nav>li { float: left; padding-bottom: 7px }
.navbar .nav >li >a { float: none; padding: 8px 10px; color: #3b5998; font-size: 15px; text-decoration: none; border-radius: 5px; font-weight: 400;  font-family: 'Open Sans'; }
.navbar .nav>li:last-child>a { margin-right: 0 }
.navbar .nav .dropdown-toggle .caret { margin-top: 9px }
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover { color: #fff; text-decoration: none; background-color: #3c8ac9 }
.dropdown-menu ul { padding-left: 10px }
.login-info { width: 21%; float: right; margin-top: 9px; text-align: right; }
.btn-orange { background: #ffc555; background: -moz-linear-gradient(top, #ffc555 0, #f7941f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc555), color-stop(100%, #f7941f)); background: -webkit-linear-gradient(top, #ffc555 0, #f7941f 100%); background: -o-linear-gradient(top, #ffc555 0, #f7941f 100%); background: -ms-linear-gradient(top, #ffc555 0, #f7941f 100%); background: linear-gradient(to bottom, #ffc555 0, #f7941f 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc555', endColorstr='#f7941f', GradientType=0);
margin-right: 5%; padding: 3px 10% 4px !important; transition: all 0.3s ease-in 0s; -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s; -ms-transition: all 0.3s ease-in 0s; }
.login-sign-btn { -webkit-box-shadow: .5px .87px 1px 0 rgba(0,0,0,.24); -o-box-shadow: .5px .87px 1px 0 rgba(0,0,0,.24); -moz-box-shadow: .5px .87px 1px 0 rgba(0,0,0,.24); -ms-box-shadow: .5px .87px 1px 0 rgba(0,0,0,.24); box-shadow: .5px .87px 1px 0 rgba(0,0,0,.24); color: #fff; font-size: 15px; line-height: 24px; padding: 3px 6% 4px; border: none; border-radius: 2px; -o-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -webkit-border-radius: 2px; display: inline-block; margin-top: 3px; }
.login-sign-btn.btn-orange:hover { background: #f7941f; background: -moz-linear-gradient(top, #f7941f 0, #ffc555 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7941f), color-stop(100%, #ffc555)); background: -webkit-linear-gradient(top, #f7941f 0, #ffc555 100%); background: -o-linear-gradient(top, #f7941f 0, #ffc555 100%); background: -ms-linear-gradient(top, #f7941f 0, #ffc555 100%); background: linear-gradient(to bottom, #f7941f 0, #ffc555 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7941f', endColorstr='#ffc555', GradientType=0);
}
.btn-blue { transition: all 0.3s ease-in 0s; -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s; -ms-transition: all 0.3s ease-in 0s; background: #589bff; background: -moz-linear-gradient(top, #589bff 0, #3c8ac9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #589bff), color-stop(100%, #3c8ac9)); background: -webkit-linear-gradient(top, #589bff 0, #3c8ac9 100%); background: -o-linear-gradient(top, #589bff 0, #3c8ac9 100%); background: -ms-linear-gradient(top, #589bff 0, #3c8ac9 100%); background: linear-gradient(to bottom, #589bff 0, #3c8ac9 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#589bff', endColorstr='#3c8ac9', GradientType=0)
}
.login-sign-btn.btn-blue:hover { background: #3c8ac9; background: -moz-linear-gradient(top, #3c8ac9 0, #589bff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c8ac9), color-stop(100%, #589bff)); background: -webkit-linear-gradient(top, #3c8ac9 0, #589bff 100%); background: -o-linear-gradient(top, #3c8ac9 0, #589bff 100%); background: -ms-linear-gradient(top, #3c8ac9 0, #589bff 100%); background: linear-gradient(to bottom, #3c8ac9 0, #589bff 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c8ac9', endColorstr='#589bff', GradientType=0)
}
.login-sign-btn:hover { color: #fff }
.logo { float: left }
.footer { float: left; width: 100%; padding: 50px 0; color: #fff; line-height: 30px }
.footer-menu { float: left; width: 100% }
.wd-eihty { width: 52%; }
.footer-menu h3 { line-height: 32px; font-family: MyriadPro-Semibold; margin-bottom: 10px; font-size: 24px; }
.footer-menu>ul>li { display: block; font-family: 'Source Sans Pro', sans-serif; float: left; }
.footer-menu.wd-33>ul>li { width: 30% }
.footer-menu p { font-family: 'Source Sans Pro', sans-serif; font-size: 15px; line-height: 23px }
.footer-menu ul li { list-style: none; /*background-image: url(../img/arrow-sprite.png); background-repeat: no-repeat; background-position: left 8px;*/ line-height: 17px;/* padding-left: 8px;*/ font-size: 15px; margin: 10px 0px; border-right: 1px solid #898889; box-shadow: 1px 0 1px -1px #5d5c5e; -webkit-box-shadow: 1px 0 1px -1px #5d5c5e; -o-box-shadow: 1px 0 1px -1px #5d5c5e; -ms-box-shadow: 1px 0 1px -1px #5d5c5e; -moz-box-shadow: 1px 0 1px -1px #5d5c5e; padding: 0px 5%; }
.footer-menu ul li:first-child, .footer-menu ul li:nth-child(5) { padding-left: 0%; }
.footer-menu ul li:last-child { padding-right: 0%; border-right: none; box-shadow: none; }
.footer-menu ul li:nth-child(4) { border-right: none; box-shadow: none; }
.footer-menu ul li:hover { /*background-position: left -7px*/ }
.footer-menu ul li a:hover { color: #3c8ac9 }
.footer-menu ul li a { color: #fff; }
.newsletter-srch { margin-top: 15px; font-family: "Source Sans Pro", sans-serif }
.news-search { border: none; border-radius: 2px 0 0 2px; -o-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -ms-border-radius: 2px 0 0 2px; color: #000; float: left; font-size: 15px; height: auto; padding: 11px 15px; width: 68%; }
.news-search-btn { color: #FFF; float: left; padding: 11px 4%; background: #3c8ac9; border: none; margin-left: -4px; font-size: 15px; -moz-transition: all .3s ease-in 0s; -webkit-transition: all .3s ease-in 0s; -o-transition: all .3s ease-in 0s; -ms-transition: all .3s ease-in 0s; transition: all .3s ease-in 0s; border-radius: 0 2px 2px 0; -o-border-radius: 0 2px 2px 0; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; -ms-border-radius: 0 2px 2px 0; }
.news-search-btn:hover { background: #549bd4 }
.copyright-bg { background-image: url(../img/bdr-img.png); background-repeat: repeat-x; background-position: top }
.cpyright-con { padding: 17px 0 15px; float: left; width: 99% }
.cpyright-con p { font-size: 15px; color: #fff; line-height: 27px; float: left }
.social-links { float: right }
.social-links li { display: inline-block; padding-right: 8px }
.social-links li:last-child { padding-right: 0 }
.social-links li a { width: 29px; height: 29px; line-height: 29px; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; display: inline-block; text-align: center; -moz-transition: all .3s ease-in 0s; -webkit-transition: all .3s ease-in 0s; -o-transition: all .3s ease-in 0s; -ms-transition: all .3s ease-in 0s; transition: all .3s ease-in 0s }
.social-links li a:hover { background: #111 }
.social-links ul li:last-child { padding-right: 0 }
.fb-bg { background: #4668bb }
.tweet-bg { background: #3ac6f2 }
.google-bg { background: #ff7c7d }
.pint-bg { background: #f62630; cursor: default; }
.redit-bg { background: #ff1f00; cursor: default; }
.social-links li a.pint-bg:hover { background: #f62630 }
.social-links li a.redit-bg:hover { background: #ff1f00 }
.nav-top-mob { margin-top: 25px; margin-bottom: 15px; position: relative; display: inline-block }
.mob-ph { display: none }
:focus { outline-color: transparent; outline-style: none; }
.navbar .header-social-icon > li.tweet-wd > .btn-o > a.btn:focus, .navbar .header-social-icon > li.tweet-wd > .btn-o > a.btn:hover, .navbar .header-social-icon .btn:focus, .navbar .header-social-icon .btn:hover { color: #333 !important; }
.nav.nav-tab { display: none; }
.header-social-icon { float: left; margin: 10px auto 0px auto; text-align: center; width: 36%; }
.tweet-wd { width: 89px; }
.header-social-icon li { display: inline-block; float: left; padding: 0px 4px; }
.dropdwn-row { display: block; float: left; width: 49%; }
.header-mob { float: right; position: relative; text-align: right; }
.header-mob { display: none; }
.header-mob > ul > li { display: inline-block; padding: 0 2%; }
.search-submit-mob .srch_btn::after { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #3f8fce rgba(136, 183, 213, 0) rgba(136, 183, 213, 0); border-image: none; border-style: solid; border-width: 8px 5px; content: " "; height: 0; left: 50%; margin-left: -5px; pointer-events: none; position: absolute; top: 100%; width: 0; }
.srch_btn { background: none repeat scroll 0 0 #3f8fce; padding: 6px 7px 8px; position: relative; }
.prod-drop > ul > li > a, .srch_btn, .login-btn { cursor: pointer; }
.srch_btn { margin-right: 0; text-align: center; }
.search-txt { background: none repeat scroll 0 0 #fff; border: 1px solid #eee; border-radius: 0 !important; color: #000; padding: 7px 0 7px 10px; width: 115px; }
.search-btn { background: url("../img/search-sprite.png") no-repeat scroll center 8px #eee; border: medium none; height: 31px; line-height: 31px; margin-left: -4px; width: 32px; }
.header-mob > ul > li:last-child { padding-right: 0; }
.arrow_box { background: none repeat scroll 0 0 #fff; color: #000; height: 27px; margin-top: 65px; padding: 5px 5px 5px 10px; position: relative; width: 68%; }
.arrow_box::after { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #fff; border-image: none; border-style: solid; border-width: 11px; bottom: 100%; content: " "; height: 0; left: 6%; pointer-events: none; position: absolute; width: 0; }
.lg-out-drop { background: none repeat scroll 0 0 #ebebeb; display: block; float: left; left: 0; margin: 0; position: relative; }
.lg-out-drop > ul > li { float: right; list-style: outside none none; }
.lg-out-drop > ul > li > a { color: #3b5998; display: block; font-family: "Open Sans", sans-serif; font-size: 15px; padding: 10px 15px; text-decoration: none; }
.lg-out-drop .dropdown-menu { left: 0px; min-width: 190px; }
.lg-out-drop > ul > li > a { cursor: pointer; }
.dropdown .caret { margin-left: 2px; margin-top: 8px; }
.lg-out-drop .caret { border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 8px solid #3b5998; content: ""; display: inline-block; height: 0; vertical-align: top; width: 0; }
.lg-out-drop .dropdown-menu::before { border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; border-right: 7px solid transparent; content: ""; display: inline-block; left: 9px; position: absolute; top: -7px; }
.lg-out-drop .dropdown-menu::after { border-bottom: 6px solid #fff; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; display: inline-block; left: 10px; position: absolute; top: -6px; }
.lg-out-drop .dropdown-menu { margin: 0.4px 0 0 !important; }
.lg-out-drop .dropdown-menu li a { font-family: MyriadPro-Regular; text-align: left; }
.lg-out-drop .dropdown-menu li a { padding: 5px 10px; width: 87%; }
.lg-out-drop .dropdown-menu > li > a:focus, .lg-out-drop .dropdown-menu > li > a:hover { background-color: #eef3fb; background-image: linear-gradient(to bottom, #eef3fb, #eef3fb); background-repeat: repeat-x; color: #000; text-decoration: none; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
 .login-sign-btn, ::i-block-chrome {
margin-top:4px;
}
}

@media all\9 {
.news-search-btn { padding: 10.9px 4%; margin-top: -2px; }
.news-search { color: #737373; }
.login-sign-btn { margin-top: 4px; }
}
