html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;}
:focus{outline:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul, li, ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;margin:10px;}
blockquote:before, blockquote:after,
q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
@font-face{font-family:'BYekan';src:url('fonts/BYekan.eot?#') format('eot'),
url('fonts/BYekan.woff') format('woff'),
url('fonts/BYekan.ttf') format('truetype');}
@viewport{width:device-width;zoom:1;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix{zoom:1;}
*:first-child+html .clearfix{zoom:1;}
h1, h2, h3, h4, h5, h6{font-family:'BYekan',tahoma;font-weight:normal}
h1{font-size:22px;}
h2{font-size:16px;}
h3{font-size:13px;}
h4{font-size:12px;}
h5{font-size:11px;}
h6{font-size:11px;}
@charset "utf-8";
/* CSS Document */
@font-face { font-family: 'yekan'; src: url(); src: url(fonts/BYekan.eot?#iefix) format('embedded-opentype'),  url(fonts/BYekan.woff) format('woff'),  url(fonts/BYekan.ttf) format('truetype'); }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; font-size: 62.5%; background: none repeat scroll 0 0 #fff; direction: rtl; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { text-decoration: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
table, td {
   border: 1px solid black;
}
body { margin: 0; padding: 0; font-family:yekan;}
.wc-container { width: 1000px; margin: 0 auto; max-width:100%; font-family: tahoma;}
.wc-clearfix { clear: both !important; width: 0 !important; height: 0 !important; }
.wc-container {padding: 0px 4; background-color: #fff;}
.dotted-div {width: 100%; height: 10px; background-color: transparent; border-bottom: 1px dashed #333; clear: both;}
.dotted-div h5 {font-size: 14px; font-weight: 500; font-family: Byekan; padding:0 0 0 10px; color: #666; background-color: #fff; float: right;}
.dotted-div a {font-size: 12px; font-weight: 400; font-family: tahoma; padding:1 10px 10 10; color: #136cb2; background-color: #fff; float: left;}
.right {float: right; margin-top: 1px; width: 63%;}
.right img {float: right; margin-left: 8px;}
.right h4 {font-size: 14px; color: #666666;}
.right span {display: block; font-size: 11px; margin: 0px 0; color: #666666;}
.right p {font-size: 12px; color: #444; line-height: 18px;} 
.right a {color: #136cb2;}
.left {float: left; margin-top: 10px; width: 35%;}
.left a {color:#136cb2; font-size: 11px; display: block; margin-bottom: 5px;}
.left a:first-child {display: none;}
.containerAds{width:481px;padding-bottom:5px;border:1px solid #becbd2;box-shadow:0 0 5px #d3d8dc;background:#fff;margin-bottom:8px;}
.containerAds img{display:block;margin:0 auto;margin-bottom:4px;}
.containerAdsTitle{display:block;width:230px;margin:0 auto;margin-bottom:15px;line-height:30px;text-align:center;background:#aebfc7;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-family:'BYekan';font-size:14px;color:#fff;}
.clear{clear:both;display:block;height:0;font-size:0px;}
img{max-width:95%;height:auto;width:auto\9;}
a{color:#46505E;text-decoration:none;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
a:hover{color:#3b5998}
.divider{background:url(images/divider.gif) #eee;height:4px;margin:5px 0px;clear:both}
body{direction:rtl;font:0px/0 tahoma;color:#3F3A3A;background:url(images/backgrounds.jpg) repeat-x #eee;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
#wrapper{margin:0 auto;width:1000px;font:11px/2 tahoma;overflow:hidden;}
.mainheader{height:200px;margin:0px 0px 10px 0px;}
.nav{margin:0px 10px 0px 0px;}
.nav ul li{float:right;display:block;font:14px/2 'BYekan';padding:0px 30px 0px 20px;margin:4px 0px 0px 10px;}
.nav ul{float:right;display:block;}
.nav ul .home{background:url(/wp-content/uploads/2014/07/home.png) no-repeat right;}
.nav ul .ads{background:url(/wp-content/uploads/2014/07/ads.png) no-repeat right;}
.nav ul .sendmusic{background:url(/wp-content/uploads/2014/07/music.png) no-repeat right;}
.nav ul .contactus{background:url(/wp-content/uploads/2014/07/tamas.png) no-repeat right;}
.nav ul .archive{background:url(images/archive.gif) no-repeat right;}
.nav ul a:hover{color:#487be8;}

.mnu {float:right;display:block;font:14px/2 'BYekan';padding:0px 0px 0px 20px;margin:4px 0px 0px 10px;line-height:38px}
.mnu span{border-left:1px solid rgb(95, 95, 95)}
.mnu a {color:#1e9acc;text-shadow:2px 2px 1pt #ccc;padding:10.5px 4px;margin-right:3px}
.mnu a:hover {background: #1e9acc;color:#fff;text-shadow:1px 1px 0pt rgb(0, 0, 0);-webkit-box-shadow: inset 0px -5px 0px 0px rgba(50, 50, 50, 0.34);
-moz-box-shadow:    inset 0px -5px 0px 0px rgba(50, 50, 50, 0.34);
box-shadow:         inset 0px -5px 0px 0px rgba(50, 50, 50, 0.34);-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.maintheme {
	width: 521px;
	height: 100px;
	border: solid 1px #8EBD43;
	float: right;
	margin-bottom: 10px;
}
.maintheme .part1 {
	height: 60px;
	background: #F2FDD7;
	float: right;
	width: 521px;
}
.maintheme .part2 {
	height: 40px;
	background: #D1F29D;
	float: right;
	width: 521px;
}
.maintheme .flist {
	margin: 5px 0px;
	padding: 0px;
	float: right;
	width: 550px;
}
.maintheme .flist li {
	display: inline;
	text-align: right;
	direction: rtl;
	float: right;
	border-left: solid 1px;
	margin-left: 10px;
	padding-left: 5px;
	font: 14px BYekan;
	color: #787878;
	font: 12px tahoma;
}
.maintheme .flist li:first-child {
	margin-right: 10px;
}
.maintheme .flist li:nth-child(4n+4) {
	border: none
}
.maintheme .flist li span {
	font-weight: bold
}
.maintheme .part1 .encodelable {
	float: left;
	font-size: 12px;
	font-family: tahoma;
	color: #787878;
	margin: 10px 0px 0px 10px;
	direction: ltr;
}
.maintheme .part1 .encodename {
	float: left;
	font-size: 13px;
	font-family: tahoma;
	color: #787878;
	margin: 9px 0px 0px 5px;
	font-weight: bold;
}
.subtitledl {
	float: right;
	text-align: right;
	color: #606060;
	text-decoration: none;
	margin: 10px 10px 10px 190px;
	font: bold 11px Tahoma;
	padding: 2px 8px;
	display: inline-block;
	text-shadow: 0px 1px 0px #FFF;
	transition: border-color 0.218s ease 0s;
	background: #F3F3F3 none repeat scroll 0% 0%;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
}
.subtitledl:hover {
	cursor: pointer;
	color: #333;
	border-color: #999;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	text-decoration: none;
}
.sampledl {
	float: right;
	color: #fff;
	text-decoration: none;
	margin: 10px 1px;
	font: bold 11px Tahoma;
	padding: 2px 8px;
	display: inline-block;
	transition: border-color 0.218s ease 0s;
	background: #445A67 none repeat scroll 0% 0%;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
}
.sampledl:hover {
	cursor: pointer;
	border-color: #999;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: #fff;
}
.linkdl {
	float: right;
	color: #fff;
	text-decoration: none;
	margin: 10px 5px;
	font: bold 11px Tahoma;
	padding: 2px 8px;
	display: inline-block;
	transition: border-color 0.218s ease 0s;
	background: #0692FE none repeat scroll 0% 0%;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
}
.linkdl:hover {
	cursor: pointer;
	border-color: #999;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: #fff;
}
.mainthemedubbed {
	width: 521px;
	height: 140px;
	border: solid 1px #78A4B9;
	float: right;
	margin-bottom: 10px;
}
.mainthemedubbed .part1dubbed {
	height: 40px;
	background: #EDF7FB;
	float: right;
	width: 521px;
}
.mainthemedubbed .part2dubbed {
	height: 70px;
	background: #C5E5F4;
	float: right;
	width: 521px;
}
.mainthemedubbed .part1dubbed .flistdubbed li span {
	font-weight: bold
}
.mainthemedubbed .part3dubbed {
	height: 40px;
	background: #C5E5F4;
	float: right;
	width: 521px;
	border-bottom: solid 1px #78A4B9;
}
.mainthemedubbed .flistdubbed {
	margin: 10px 0px;
	padding: 0px;
	float: right;
	width: 550px;
}
.mainthemedubbed .flistdubbed li {
	display: inline;
	text-align: right;
	direction: rtl;
	float: right;
	border-left: solid 1px;
	margin-left: 10px;
	padding-left: 5px;
	font: 14px BYekan;
	color: #787878;
	font: 12px tahoma;
}
.mainthemedubbed .flistdubbed li:first-child {
	margin-right: 10px;
}
.mainthemedubbed .flistdubbed li:nth-child(4n+4) {
	border: none
}
.des1 {
	float: right;
	font-weight: bold;
	font-size: 11px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin: 10px 10px 0px 0px;
}
.des2 {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin-right: 10px;
}
.des3 {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin-right: 10px;
}
.sampledldubbed {
	float: right;
	color: #fff;
	text-decoration: none;
	margin: 10px 298px 0px 1px;
	font: bold 11px Tahoma;
	padding: 2px 8px;
	display: inline-block;
	transition: border-color 0.218s ease 0s;
	background: #445A67 none repeat scroll 0% 0%;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
}
.sampledldubbed:hover {
	cursor: pointer;
	border-color: #999;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: #fff;
}
.linkdldubbed {
	float: right;
	color: #fff;
	text-decoration: none;
	margin: 10px 5px 0px 0px;
	font: bold 11px Tahoma;
	padding: 2px 8px;
	display: inline-block;
	transition: border-color 0.218s ease 0s;
	background: #0692FE none repeat scroll 0% 0%;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
}
.linkdldubbed:hover {
	cursor: pointer;
	border-color: #999;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: #fff;
}
.switchaudio {
	text-decoration: none;
	color: #AF6632;
}
.switchaudio:hover {
	text-decoration: underline;
}
.mainthemedubbedaudio {
	width: 521px;
	height: 140px;
	border: solid 1px #B99478;
	float: right;
	margin-bottom: 10px;
}
.mainthemedubbedaudio .part1dubbedaudio {
	height: 40px;
	background: #FBF3ED;
	float: right;
	width: 521px;
}
.mainthemedubbedaudio .part2dubbedaudio {
	height: 70px;
	background: #F4E0C5;
	float: right;
	width: 521px;
}
.mainthemedubbedaudio .part1dubbedaudio .flistdubbedaudio li span {
	font-weight: bold
}
.mainthemedubbedaudio .part3dubbedaudio {
	height: 40px;
	background: #F4E0C5;
	float: right;
	width: 521px;
	border-bottom: solid 1px #B99478;
}
.mainthemedubbedaudio .flistdubbedaudio {
	margin: 10px 0px;
	padding: 0px;
	float: right;
	width: 550px;
}
.mainthemedubbedaudio .flistdubbedaudio li {
	display: inline;
	text-align: right;
	direction: rtl;
	float: right;
	border-left: solid 1px;
	margin-left: 10px;
	padding-left: 5px;
	font: 14px BYekan;
	color: #787878;
	font: 12px tahoma;
}
.mainthemedubbedaudio .flistdubbedaudio li:first-child {
	margin-right: 10px;
}
.mainthemedubbedaudio .flistdubbedaudio li:nth-child(2n+2) {
	border: none
}
.des1audio {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin: 10px 10px 0px 0px;
}
.des2audio {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin-right: 37px;
}
.des3audio {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin-right: 10px;
}
.linkdldubbedaudio {
	float: left;
	color: #fff;
	text-decoration: none;
	margin: 10px 5px 0px 20px;
	font: bold 11px Tahoma;
	padding: 2px 8px;
	display: inline-block;
	transition: border-color 0.218s ease 0s;
	background: #0692FE none repeat scroll 0% 0%;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
}
.linkdldubbedaudio:hover {
	cursor: pointer;
	border-color: #999;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: #fff;
}
.switchaudioaudio {
	text-decoration: none;
	color: #06C;
}
.switchaudioaudio:hover {
	text-decoration: underline;
}
.maintv {
	width: 521px;
	height: 80px;
	border: solid 1px #8EBD43;
	float: right;
	margin-bottom: 10px;
}
.maintv ul {
	margin: 10px 0px;
	padding: 0px;
	float: right;
	width: 521px;
}
.maintv .tv1 {
	height: 40px;
	background: #F2FDD7;
	float: right;
	width: 521px;
}
.maintv .tv2 {
	height: 40px;
	background: #D1F29D;
	float: right;
	width: 521px;
}
.maintv .tv1 li {
	display: inline;
	text-align: right;
	direction: rtl;
	float: right;
	border-left: solid 1px;
	margin-left: 10px;
	padding-left: 5px;
	font: 14px BYekan;
	color: #787878;
	font: 12px tahoma;
}
.maintv .tv1 li:first-child {
	margin-right: 10px;
}
.maintv .tv1 li:nth-child(3n+3) {
	border: none
}
.maintv .tv1 ul li span {
	font-size: 14px;
	font-weight: bold
}
.maintv .tv2 .tvsub {
	float: right;
	margin: 10px 30px 10px 0px;
	text-decoration: none;
	color: #06C;
	font: 12px tahoma;
}
.maintv .tv2 .tvdl {
	float: right;
	margin: 10px 280px 10px 0px;
	text-decoration: none;
	color: #06C;
	font: 12px tahoma;
}
.maintv .tv2 .tvsub:hover {
	cursor: pointer;
	text-decoration: underline
}
.maintv .tv2 .tvdl:hover {
	cursor: pointer;
	text-decoration: underline
}
.maintvthemedubbed {
	width: 521px;
	height: 100px;
	border: solid 1px #78A4B9;
	float: right;
	margin-bottom: 10px;
}
.maintvthemedubbed .part1tvdubbed {
	height: 40px;
	background: #EDF7FB;
	float: right;
	width: 521px;
}
.maintvthemedubbed .part2tvdubbed {
	height: 50px;
	background: #C5E5F4;
	float: right;
	width: 521px;
}
.maintvthemedubbed .part1tvdubbed .flisttvdubbed li span {
	font-weight: bold;
	font-size: 14px;
}
.maintvthemedubbed .part3tvdubbed {
	height: 17px;
	background: #C5E5F4;
	float: right;
	width: 521px;
	border-bottom: solid 1px #78A4B9;
}
.maintvthemedubbed .flisttvdubbed {
	margin: 10px 0px;
	padding: 0px;
	float: right;
	width: 550px;
}
.maintvthemedubbed .flisttvdubbed li {
	display: inline;
	text-align: right;
	direction: rtl;
	float: right;
	border-left: solid 1px;
	margin-left: 10px;
	padding-left: 5px;
	font: 14px BYekan;
	color: #787878;
	font: 12px tahoma;
}
.maintvthemedubbed .flisttvdubbed li:first-child {
	margin-right: 10px;
}
.maintvthemedubbed .flisttvdubbed li:nth-child(4n+4) {
	border: none
}
.des1tv {
	float: right;
	font-weight: bold;
	font-size: 11px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin: 10px 10px 0px 0px;
}
.des2tv {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin-right: 10px;
}
.des3tv {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin-right: 10px;
}
.linkdltvdubbed {
	float: right;
	margin: -5px 410px 10px 0px;
	text-decoration: none;
	color: #06C;
	font: 12px tahoma;
}
.linkdltvdubbed:hover {
	cursor: pointer;
	text-decoration: underline;
}
.switchaudiotv {
	text-decoration: none;
	color: #AF6632;
}
.switchaudiotv:hover {
	text-decoration: underline;
}
.maintvdubbedaudio {
	width: 521px;
	height: 140px;
	border: solid 1px #B99478;
	float: right;
	margin-bottom: 10px;
}
.maintvdubbedaudio .tv1dubbedaudio {
	height: 40px;
	background: #FBF3ED;
	float: right;
	width: 521px;
}
.maintvdubbedaudio .tv1dubbedaudio {
	height: 70px;
	background: #F4E0C5;
	float: right;
	width: 521px;
}
.maintvdubbedaudio .tv1dubbedaudio .tv1listaudio li span {
	font-weight: bold
}
.maintvdubbedaudio .tv1dubbedaudio {
	height: 40px;
	background: #F4E0C5;
	float: right;
	width: 521px;
	border-bottom: solid 1px #B99478;
}
.maintvdubbedaudio .tv1listaudio {
	margin: 10px 0px;
	padding: 0px;
	float: right;
	width: 521px;
}
.maintvdubbedaudio .tv1listaudio li {
	display: inline;
	text-align: right;
	direction: rtl;
	float: right;
	border-left: solid 1px;
	margin-left: 10px;
	padding-left: 5px;
	font: 14px BYekan;
	color: #787878;
	font: 12px tahoma;
}
.maintvdubbedaudio .tv1listaudio li:first-child {
	margin-right: 10px;
	font-weight: bold;
}
.maintvdubbedaudio .tv1listaudio li:nth-child(1n+1) {
	border: none
}
.tvdes1audio {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin: 10px 10px 0px 0px;
}
.tvdes2audio {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin-right: 37px;
}
.tvdes3audio {
	float: right;
	font-size: 10px;
	font-family: tahoma;
	color: #787878;
	line-height: 17px;
	margin-right: 10px;
}
.tvlinkaudio {
	float: right;
	margin: 0px 410px 10px 0px;
	text-decoration: none;
	color: #06C;
	font: 12px tahoma;
}
.tvlinkaudio:hover {
	cursor: pointer;
	text-decoration: underline;
}

#search{width:210px;float:left;background:url(images/search.jpg) no-repeat;}
.searchtext{float:right;background:none;width:160px;height:32px;margin:0px 10px 0px 0px;color:#999;text-align:right;border:0;font:11px tahoma, sans-serif;}
.searchsubmit{border:0;cursor:pointer;width:25px;height:35px;background:none;float:left}
.searchsubmit-res{display:none}
.advertisment{background:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:10px 0px 15px;text-align:center;padding:5px 0px 0px;}
.speech{float:right;color:#eee;text-shadow:0px -1px 0px #444}
.date{float:left;color:#eee;text-shadow:0px -1px 0px #444}
.main-content{background:white;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.best{margin:0px 0px 10px;}
.tabs-b-con{width:25%;float:right;background:#1A1D23;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.tabs-b{width:72%;float:left;}
.tabs-b-con a{display:block;padding:15px 5px;}
.tabs-b-con a:hover ,.tabs-b-con .active{background:#D73131;color:white}
.tabs-b ul li{margin:0px 0px 15px 0px;}
.tabs-b ul li .thumb{float:right;width:18%}
.tabs-b ul li .desc{width:81%;font:13px/2 'BYekan';float:left;}
.redkey{padding:2px 4px 5px 4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-color:#E43F36;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#F15E56), color-stop(0, #F15E56), to(#E43F36));background-image:-webkit-linear-gradient(#F15E56, #F15E56 0, #E43F36);background-image:-moz-linear-gradient(top, #F15E56, #F15E56 0, #E43F36);background-image:-ms-linear-gradient(#F15E56, #F15E56 0, #E43F36);background-image:-o-linear-gradient(#F15E56, #F15E56 0, #E43F36);background-image:linear-gradient(#F15E56, #F15E56 0, #E43F36);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F15E56', endColorstr='#E43F36', GradientType=0);color:#fff !important;text-shadow:0px -1px 0px #9E2923;}
.redkey:hover{background-position:0px -10px;}
#right-sidebar{height:auto}
.greenkey{font:13px/2 'BYekan',tahoma;background:#58C9F3;color:white;float:left;padding:.25em .75em;margin:-5px 0px 0px 12px;border-left:4px solid #31BEE8;}
.greenkey:hover{border-left:8px solid #31BEE8;text-shadow:0px 0px 4px #D7F5FF}
.right-sidebar{background:#1A1D23;float:right;width:160px;color:#fff}
.right-sidebar a{color:#ccc;}
.right-sidebar a:hover{color:#3f7dda;padding:0px 5px 0px 0px;}
.right-sidebar .widget{margin:0px 0px 10px 0px;padding:0px 0px 6px 0px;border-bottom:1px solid #36383E}
.archivesw{padding:0px 5px;}
.archivesw ul li{padding:4px;display:block;color:#ACB3C1;margin:0px;border-bottom:1px solid #36383E}
.req-softwares img{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;float:right}
.right-sidebar h3.cat-title{background:url(images/cat-title.gif) no-repeat right;width:100px;height:30px;margin:0px 10px 0px 0px;}
.right-sidebar h3.cat-title span{display:none;width:100%;height:100%;}
.archive-title{height:90px;width:90px;background:url(images/archive-title.jpg) right no-repeat;margin:10px 30px 10px 0px;}
.center-col{float:right;width:840px
-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.two-col-content{margin:0px 10px 0px 0px;}
.posts{width:550px;float:right;margin:10px 0px 0px 0px;overflow:hidden;}
.post{-moz-box-shadow:0px 0px 4px #aaa;-webkit-box-shadow:0px 0px 4px #aaa;box-shadow:0px 0px 4px #aaa;padding:8px;margin:0px 5px 10px 5px;}
.meta{padding:5px;color:#999;margin:8px 0px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:#f4f4f4;}
.meta .views{background:url(images/view.gif) no-repeat right;padding:0px 20px 0px 5px;}
.meta .category{background:url(images/category.gif) no-repeat right;padding:0px 20px 0px 5px;}
.meta a{color:#3399ff}
.meta a:hover{color:#3b5998}
.categories{padding:5px}
.categories ul li{font:13px/2 'BYekan'}
.categories ul li ul{font:11px/2 tahoma !important;padding:0px 6px;}
.categories ul li ul li{font:11px/2 tahoma !important;}
.post h3{font-size:120%;background:url(/wp-content/uploads/2014/08/play.png) no-repeat right;padding:3px 40px 3px 0px}
.post h3 a{color:#222}
.post h3 a:hover{color:#3b5998;padding:0px 5px 0px 0px;}
.post h1{font-size:120%;background:url(/wp-content/uploads/2014/08/play.png) no-repeat right;padding:3px 40px 3px 0px}
.post h1 a{color:#222}
.post h1 a:hover{color:#3b5998;padding:0px 5px 0px 0px;}
.sidebar-left{float:left;background:url(images/leftbg.gif) right #F9F9F8 repeat-y;width:270px}
.sidebar-left ul{padding:5px 7px 5px 10px;border-top:1px solid #eaeaea;margin:0px 8px 0px 0}
.sidebar-left ul a{color:#888}
.sidebar-left ul a:hover{color:#3f7dda;padding:0 5px 0 0;}
.sidebar-left ul li{background:url(/wp-content/uploads/2014/07/arrow-left1.gif) no-repeat right 8px;padding:0px 14px 0px 0px}
.sidebar-left .widget{margin:0px 0px 10px 0px;}
.sidebar-left .widget h3{padding:12px 42px 12px 0px;background:url(/wp-content/uploads/2014/07/sidebar-left-title.gif) no-repeat right 4px}

.sidebar-left1{float:left;background:url(images/leftbg.gif) right #F9F9F8 repeat-y;width:270px}
.sidebar-left1 ul{padding:5px 7px 5px 10px;border-top:1px solid #eaeaea;margin:0px 8px 0px 0}
.sidebar-left1 ul a{color:#888}
.sidebar-left1 ul a:hover{color:#3f7dda;}
.sidebar-left1 ul li{background:url(/wp-content/uploads/2014/07/arrow-left1.gif) no-repeat right 8px;padding:0px 14px 0px 0px}
.sidebar-left1 .widget{margin:0px 0px 10px 0px;}
.sidebar-left1 .widget h3{padding:12px 42px 12px 0px;background:url(/wp-content/uploads/2014/07/sidebar-left-title.gif) no-repeat right 4px}

.text-ads a {display: block;margin-top:1px;padding: 4px;letter-spacing:-0.7px;font-size:12px;}
.text-ads a:hover {color: #fff;}
.text-ads a.narenji {color: #fff !important;background:#ff4e00;border-right: 4px solid #cd490e;text-shadow: 1px 1px 0 #cd490e}
.text-ads a.abi {color: #fff !important;background:#1083b3;border-right: 4px solid #0e6f97;text-shadow: 1px 1px 0 #0e6f97}
.text-ads a.sabz {color: #fff !important;background:#00b600;border-right: 4px solid #01a001;text-shadow: 1px 1px 0 #01a001}
.text-ads a.zard {color: #fff !important;background:#e7ba09;border-right: 4px solid #cfa608;text-shadow: 1px 1px 0 #cfa608}
.text-ads a.narenji:hover,.text-ads a.abi:hover,.text-ads a.sabz:hover,.text-ads a.zard:hover {color: #191919 !important;background:#e9e9e9;text-shadow: 1px 1px 0 #fff}
.pre ,code{
	direction:ltr;
	background:url(images/code-bg.png);
	font: 11px/19px 'andale mono', 'lucida console', monospace;
	padding: 3px;
	display: block;
	overflow-x: visible;
	overflow-y: hidden;
	margin: 0 0 20px 0;
	color: #666;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
}
h1, h2, h3,h4, h5, h6 { font-weight:normal;}

.alignleft {float: left;}
.aligncenter{clear:both; margin-left:auto;	margin-right:auto;}

#main-footer{background:#222222;font:11px/2 tahoma;padding:10px 0px;margin:10px 0px 0px 0px}
.footer-content{margin:0px auto;width:1000px}
.right-side{float:right;width:68%;}
.tags-title{background:url(images/title-bg.gif) repeat-x;padding:0px 10px 0px 0px;margin:5px 0px;}
.tags-title span{background:white;padding:4px 6px;}
.tags-list{padding:10px 0px;}
.rss{border:1px dotted #ccc;padding:15px 50px 10px 10px;background:url(images/rss.gif) no-repeat right top;}
.cm-side{float:left;width:30%;}
.last-tags{background:#3C4045;padding:10px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;color:#999;text-shadow:0px -1px 0px #222}
.last-tags a{color:#C1C8D0;}
.last-tags ul li{border-bottom:1px solid #292C30;padding:4px 6px;}
.last-tags ul li:hover{background:#2F3237}
.last-tags h3{background:url(/wp-content/uploads/2014/07/lastcmtitle.gif) no-repeat right 6px;padding:0px 20px 0px 0px;}
.cp{background:#f5f5f5;padding:5px;color:grey;margin:10px 0px 0px 0px;}
.related-post{margin:10px 3px;-moz-border-radius:3px;khtml-border-radius:3px;border-radius:3px;padding:7px;background:#f5f5f5;border:1px dashed #eee;}
.postetc{margin:0px 3px 10px 3px;-moz-border-radius:3px;khtml-border-radius:3px;border-radius:3px;padding:6px;background:#f5f5f5;border:1px dashed #eee;}
.postetc1{margin:0px 3px 10px 3px;-moz-border-radius:3px;khtml-border-radius:3px;border-radius:3px;padding:6px;background:#1a1d23;border:1px dashed #eee;height:420px;}
.postetc1 h3{font-size:13px;color:#fff;text-shadow:1px 1px #000;display:block;}
#error{background:#FFFFC4;margin:10px 3px;-moz-border-radius:3px;khtml-border-radius:3px;border-radius:3px;padding:10px;}
.tags-listv{-moz-border-radius:3px;khtml-border-radius:3px;border-radius:3px;background:#f4f4f4;margin:10px;padding:6px;}
.tags-listv a{color:#aaa}
@media screen and (max-width:980px){.footer-content, #wrapper{width:95%;}
.right-sidebar{display:none;}
.sidebar-left{width:32%}
.main-content{background:#fff !important;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.center-col{width:100%;}
.suggest-title{background:url(images/tablet-sugg.gif) no-repeat right;width:50%;height:30px;float:none}
.posts{width:67%;}
#search{width:100%;float:right;margin:20px auto 0px;background:#fff}
.searchsubmit{display:none;float:left}
.searchsubmit-res{display:block;float:left;background:#f3f3f3;border:1px solid #eee;padding:10px;cursor:pointer;font:11px tahoma;}
.searchtext{width:65%;}
}
@media screen and (max-width:650px){.right-side{float:none;width:100%;}
.cm-side{float:none;width:100%;}
.right-sidebar,.speech,.date{display:none;}
.posts{width:99%;float:none;}
.main-content{background:#fff !important;}
.center-col{width:100%;}
.sidebar-left{float:none;width:96%;}
.posts{margin:0px 0px 10px 0px;}
}
@media screen and (max-width:480px){}
.wp-pagenavi{clear:both;padding:0px 5px 15px 5px;direction:rtl}
.wp-pagenavi h3{font-weight:normal}
.wp-pagenavi a, .wp-pagenavi span{text-decoration:none;background:#F9F8F2;border:1px solid #ECE9D8;padding:1px 6px;float:right;margin:2px;-moz-border-radius:3px;}
.wp-pagenavi span.current{background:#ffffff;color:#666666;border:1px solid #ECE9D8;}
.wp-pagenavi a:hover{background:#1a1d23;border-color:#87001d;color:#ffffff}
.wp-pagenavi span.current{font-weight:bold;}
.Time{color:#EDEDED;font-size:11px;padding-right:25px;background:url('http://dl.20script.ir/img/Times.png') no-repeat right transparent;float:left;margin-top:4px;margin-left:17px;text-align:right;text-shadow:1px 1px 1px #0D71A3;}
.adress{width:300px;float:left;color:white;margin:10px 0px 0px 0px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:url(images/opacity.png);padding:10px;}
#logo{background:url(images/logo.png) no-repeat;width:393px;height:136px;float:right;margin:-5px 0px 0px 0px;}
#iagdtd_frame{display:none;}
#logo a{display:block;width:190px;height:32px;}
#logo a span{display:none;width:190px;height:32px;}
#tagline{display:none;}

.thumbnail {
float:right;
width:130px;
height: 170px;
padding: 1px;
margin: 8px auto 8px auto;


}
.thumbnail img {
border:0;
width:130px;
height:160px;

}
.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
}
.post img:hover{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.music-cover-box-feat {height: 240px;
padding: 4px;
margin-left: 2px; }
.music-play-over { width: 190px; height: 240px;opacity: 1; filter: alpha(opacity=0); text-align: right;
-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.music-play-over:hover {opacity: 0; filter: alpha(opacity=100);
-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;}

.music-item { width: 190px; height: 240px; float: left;}   
.music-item a { text-decoration: none; display:block; }
.music-item a img { border: solid 1px #ccc; padding: 1px;} 
.music-item a span.play { display:none; margin: -80px 10px 0 0; height: 80px; position: 

relative; z-index: 100; opacity: 0.8; filter: alpha(opacity=80); }
.animate , .animate *{-moz-transition:all 0.7s ease-out;-o-transition:all 0.7s ease-out;-webkit-transition:all 0.7s ease-out;transition:all 0.7s ease-out;}
.width{width:1000px;}
.bgfoot{width:100%;height:510px;background:#222222;margin-bottom:20px;padding:20px 0;}
.foottab{width:310px;float:right;}
.foottabmarg{margin:0 35px;}
.foottabtitle{width:100%;height:25px;display:block;text-align:justify;margin-bottom:30px;}
.foottabtitle span{float:right;color:#ffffff;font:16px Roya, Tahoma;}
.foottabtitle a{float:left;display:block;padding:0 10px;height:25px;background:#16b39a;color:#000000;font:16px Roya, Tahoma;}
.foottabtitle a:hover{background:#faa52a;color:#ffffff;}
.foottab ul li{width:292px;height:80px;display:block;background:#2c2c2c;padding:8px;text-align:justify;border:1px solid #343434;border-top:0px;}
.foottab ul li:first-child{border-top:1px solid #343434;}
.foottab ul li:hover{background:#464646;}
.foottab ul li span{float:right;}
.foottab ul li span , .foottab ul li span img{width:80px;height:80px;}
.foottab ul li div{width:205px;height:74px;float:right;margin-right:6px;padding:3px 0;text-align:justify;}
.foottab ul li div *{display:block;}
.foottab ul li div h4{margin:3px 0;}
.foottab ul li div{color:#8b8b8b;}
.foottab ul li div h2 a{font:normal 14px Roya, Tahoma;color:#b5b5b5;margin-top:-3px;line-height:19px;}
.foottab ul li div h2 a:hover{color:#ffffff;}
.foottab ul li div h4 , .foottab ul li div h5{font-weight:normal;}
.he1{clear:both;height:5px;}
.he2{clear:both;height:10px;}
.he3{clear:both;height:15px;}
.he4{clear:both;height:20px;}
.he5{clear:both;height:25px;}
.aligncenter, .aligncenter *{text-align:center;margin-left:auto;margin-right:auto;}
.iconshare div{width:33px;height:33px;display:inline-block;margin:0 5px;}
.iconshare div a{display:block;width:33px;height:33px;border-radius:30px;}
.icfb a{background:#505050 url(http://www.fardadownload.org/wp-content/uploads/2014/12/fb.png) top left no-repeat;}
.icfb a:hover{background:#ffffff url(http://www.fardadownload.org/wp-content/uploads/2014/12/fb.png) top left no-repeat;}
.ictw a{background:#505050 url(images/icons.png) top right no-repeat;}
.ictw a:hover{background:#ffffff url(images/icons.png) top right no-repeat;}
.icandroid a{background:#505050 url(images/icons.png) bottom left no-repeat;}
.icandroid a:hover{background:#ffffff url(images/icons.png) bottom left no-repeat;}
.icrss a{background:#505050 url(http://www.fardadownload.org/wp-content/uploads/2014/12/feedly.png) bottom right no-repeat;}
.icrss a:hover{background:#ffffff url(http://www.fardadownload.org/wp-content/uploads/2014/12/feedly.png) bottom right no-repeat;}
.icyahoo a{background:#505050 url(images/icons.png) center right no-repeat;}
.icyahoo a:hover{background:#ffffff url(images/icons.png) center right no-repeat;}
.icgplus a{background:#505050 url(images/icons.png) center left no-repeat;}
.icgplus a:hover{background:#ffffff url(images/icons.png) center left no-repeat;}
form#rat{    display: inline-block;     
margin-right: 5px;
margin-top:5px;
    width: 95px;}
.txtbbb div p{ }
.rate{margin-bottom: -20px;}
#comments{width:540px ;background:#eeeeee;float:RIGHT ;padding:0px;margin:5px 0px 20px 0px ;color:#333333;overflow:hidden; border:1px solid #bbbbbb; }.comment-title{color:#4EC5E7;border-bottom:2px solid #CBEFFA;background:#D2F5FF;padding:2px;}.comment-title .title{font:10pt BYekan}.comments-padd {width:504px ;padding:0px;margin:6px 7px ;float:right;}.comment-body a{color:#000000}.commentmetadata{font-size:8pt;color:#333333}.commentmetadata a{font-size:8pt;color:#7B801C}label{color:#444444;font-size:8pt;font-family:tahoma}h2#respond{font-size:13px;color:#888888;padding:0px 10px;margin-top:0px;}.commentlist{margin:0px;padding:0px;list-style-type:none;width:105%}.comment-author-admin cite.fn{color:#0066CC;}.comment-author img{width:60px !important;height:60px !important;}.comment-meta { display:none;}.comment-author-tmpmed {background-color: #F2F6F6 !important;}#comments .children {margin:2px !important;}.nocomments {text-align:center;}cite.fn{font-style:normal;font-weight:bold;}.comment-childs{width:380px}#commentform p{padding:0px;margin:0px}.comment{padding:3px;margin:3px;overflow:hidden;background-color:#ffffff;border: 1px solid rgb(187, 187, 187);}.commentlist p{margin:6px 2px}.reply a{font-weight:bold;color:#000001}.alt{background-color:#ffffff;border:1px solid #BEBEBE}.author b{color:#990000;}.avatar{float:left;padding:2px;margin-right:8px;border:1px solid #cccccc}.wlabcom{width:55px;float:right;height:10px;margin-right:8px;padding:6px;}#comments-title{height:35px;}#comments input, #comments textarea{margin:4px 5px;font-size:9pt;font-family:tahoma;padding:4px;background:#ffffff;border:1px solid;}
.film-content img{
width: 99.5px !important;
	cursor: pointer;
	opacity: 1;
	float: left;
}
.film-content img:hover{
	opacity: 0.8;
}
.film-content{
	padding: 0px !important;
	border:1px dashed gray;
text-align: left;
}
.film-content .films{
	text-align: center !important;
	padding: 0px !important;

}
