* {
	word-break: keep-all;
	letter-spacing: -0.015em;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
	background: none repeat scroll 0 0 #FFFFFF;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul li,.xl li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1em;
}

em,cite,i {
	font-style: normal;
}

a {
	text-decoration: none;
	color: #436372;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

label {
	cursor: pointer;
}

input {
	font-size: 18px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clearfix {
	height: 1%;
}

@font-face {
	font-family: Qagan;
	font-style: normal;
	font-weight: normal;
	src: url('../../contantroot/fontface/Qagan.eot?iefix')
		format('ie9-skip-eot'), url('../../contantroot/fontface/Qagan.woff')
		format('woff'), url('../../contantroot/fontface/Qagan.ttf')
		format('truetype'),
		url('../../contantroot/fontface/Qagan.svg#svgFontName') format('svg');
}

@font-face {
	font-family: mglweb;
	font-style: normal;
	font-weight: normal;
	src: url('../../contantroot/fontface/ie8font.eot?iefix')
		format('ie9-skip-eot'), url('../../contantroot/fontface/ie8font.woff')
		format('woff'), url('../../contantroot/fontface/ie8font.ttf')
		format('truetype'),
		url('../../contantroot/fontface/ie8font.svg#svgFontName')
		format('svg');
}

title {
	font-family: Qagan;
}

.rotate {
	font-family: Qagan;
	-webkit-transform: rotate(90deg) scaleY(-1);
	-moz-transform: rotate(90deg) scaleY(-1);
	-ms-transform: rotate(90deg) scaleY(-1);
	-o-transform: rotate(90deg) scaleY(-1);
	transform: rotate(90deg) scaleY(-1);
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	filter: progid:    DXImageTransform.Microsoft.BasicImage(rotation=3 );
	word-break: keep-all;
	position: absolute;
	margin: auto;
}

p {
	line-height: 22px;
	font-size: 20px;
}

@font-face {
	font-family: Garqag;
	font-style: normal;
	font-weight: normal;
	src: url('../../contantroot/fontface/Garqag.eot?iefix')
		format('ie9-skip-eot'), url('../../contantroot/fontface/Garqag.woff')
		format('woff'), url('../../contantroot/fontface/Garqag.ttf')
		format('truetype'),
		url('../../contantroot/fontface/Garqag.svg#svgFontName') format('svg');
}

@font-face {
	font-family: cntvtype;
	font-style: normal;
	font-weight: normal;
	src: url('/contantroot/fontface/cntvtype.eot?iefix')
		format('ie9-skip-eot'), url('/contantroot/fontface/cntvtype.woff')
		format('woff'), url('/contantroot/fontface/cntvtype.ttf')
		format('truetype'),
		url('/contantroot/fontface/cntvtype.svg#svgFontName') format('svg');
}