@charset "utf-8";
@import "reset_html5.css";
/*-------------------------------------
Vector common style
2010/09/29
kamome
-------------------------------------*/
/*---------------------
header
---------------------*/
body {
	word-break:break-all;
	background:url('../images/bg_body_search.png') left top repeat-x transparent;
	color:#333;}

#v_wrapper {
	margin-top:260px;
	margin-top:150px;}

#v_header {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:191px;
	height:81px;
	font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",sans-serif;}

#v_header img {
	border:none;}

#v_header a {
	text-decoration:none;
	color:#333;}

#v_header p {
	margin:0;}

#v_header hr {
	display:none;}

#v_header .wrapper {
	position:relative;
	width:1000px;
	margin:0 auto;}

/*logo*/
#v_header .wrapper p#v_logo {
	position:absolute;
	left:0;
	top:9px;
	margin:0;}

/*login*/
#v_header .wrapper p#v_login {
	height:46px;
	line-height:46px;
	text-align:right;
	font-size:12px;}

#v_header .wrapper p#v_login span {
	font-weight:bold;}

#v_header .wrapper p#v_login a.bold {
	font-weight:bold;}

#v_header dl {
	position:absolute;
	top:48px;
	margin:0;}

#v_header dl dt {
	position:absolute;
	top:-32px;
	color:#002e3d;
	font-weight:bold;
	font-size:12px;}

#v_header dl dd a,
#v_header dl dd {
	display:block;
	width:95px;
	height:21px;}

#v_header dl dd {
	margin:0 5px 0 0;}

#v_header dl dd a {
	line-height:21px;
	border:1px solid #888;
	border-width:0 1px 1px 1px;
	border-radius:0 0 3px 3px;
	color:#fff;
	font-size:10px;
	text-align:center;
	font-weight:bold;}

#v_header dl#v_menu_select {
	left:48px;}

#v_header dl#v_menu_select dt {
	left:8em;}

#v_header dl#v_menu_select dd {
	float:left;}

#v_header dl#v_menu_select dd a {
	border-color:#7eac00;
	background-color:#8fc400;}

#v_header dl#v_menu_select dd.m5 a,
#v_header dl#v_menu_select dd.m4 a,
#v_header dl#v_menu_select dd.m3 a {
	font-size:12px;
	border-color:#0078ab;
	background-color:#016fae;}

#v_header dl#v_menu_play {
	left:548px;}

#v_header dl#v_menu_play dt {
	left:-335px;}

#v_header dl#v_menu_play dd a,
#v_header dl#v_menu_play dd {
	width:235px;}

#v_header dl#v_menu_play dd a {
	border-color:#bd1502;
	background-color:#d61703;}

#v_header dl#v_menu_play dt:before {
	content:'・';}



/*---------------------
ad
---------------------*/
#v_50 {
	position:absolute;
	left:700px;
	top:49px;
	height:auto;
	z-index:1;}

#v_50 .wrapper {
	width:auto;
	margin:0 auto;}

#v_50 hr {
	display:none;}

#v_50 dl,
#v_50 dl dd {
	margin:0;}

#v_50 dl dd {
	display:inline;
	margin-right:9px;}

#v_50 dl dd a {
	display:inline;
	border:none;
	font-size:12px;
	text-decoration:none;
	color:#555;
	font-weight:normal;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",メイリオ,Meiryo,"ＭＳ Ｐゴシック",sans-serif;}

#v_50 dl#v_menu_other {
	position:relative;
	left:100px;
	top:0;}

#v_50 dl#v_menu_other dt {
	display:none;}

/* hover */
#v_header dl#v_menu_play a:hover,
#v_header dl#v_menu_select a:hover,
#v_50 dl#v_menu_other a:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	/filter:alpha(opacity=80);}

#v_50 dl#v_menu_other a:hover {
	color:#555 !important;}


/*---------------------
footer
---------------------*/
#v_footer,
#v_footer a {
	color:#666;
	font-size:12px;
	line-height:20px;
	text-decoration:none;}

#v_footer {
	border-top:1px solid #d2d2d2;
	margin-bottom:20px;
	padding-top:20px;}

#v_footer .wrapper {
	position:relative;
	width:920px;
	margin:0 auto;}

#v_footer #pmark {
	display:block;
	position:absolute;
	right:0;
	top:0;}

#v_footer #boshu {
	display:block;
	position:absolute;
	right:88px;
	top:0;}

#v_footer .copyright {
	margin-top:1em;}

/*---------------------
search
---------------------*/
#v_search {
	position:relative;
	top:36px;
	width:100%;
	height:45px;
	background-color:#bbe2f6;}

#v_search .wrapper {
	width:630px;
	margin:0 auto;
	padding:7px 0 9px;}

#v_search:nth-child(1) {
	position:absolute;
	left:0;
	top:192px;
	top:82px;
	height:45px;
	text-align:center;}

#v_search form,
#v_search p {
	float:left;}

#v_search p {
	display:none;
	padding-top:7px;
	margin-left:5px;
	font-size:90%;
	line-height:1.4;}

#v_search a.trend {
	padding:0 8px 0 18px;
	background:url("../images/vector_ico_strend.gif") left top no-repeat transparent;}

#v_search form #query {
	width:20em;
	height:30px;
	line-height:30px;
	padding:0 10px;
	border:1px solid #ccc;
	border-radius:5px;
	font-size:14px;}

#v_search form #search {
	font-size:14px;}





/*---------------------
[common]:float clear
---------------------*/
#v_menu_select:after {content:".";display:block;height:0px;font-size:0px;line-height:0;visibility:hidden;clear:both;}
#v_menu_select {zoom:100%;}


/*---------------------
[common]:text fly out
---------------------*/
a.btn {display:block;text-indent:-9999px;overflow:hidden;font-size:0;}


/*---------------------
[common]:absolute a text fly out
---------------------*/
/*
 a {display:block;text-indent:-9999px;overflow:hidden;background-color:#fff;filter:alpha(opacity=0);opacity:0;}
*/

