@charset "utf-8";
/*-------------------------------------
top page style
-------------------------------------*/
article a {color:#016fae;text-decoration:none;}
article a:hover {color:#028fe0;text-decoration:underline;}
article ul,ol {list-style:none;}
article table {border-collapse:collapse;}

#lib_tab {display:none;}


/*---------------------
common
---------------------*/
hr {
	display:none;}

section {
	border-top:1px solid #e8e8e8;
	border-top:1px solid #d0d0d0;}

section .wrapper {
	position:relative;
	width:920px;
	margin:35px auto 0;
	padding:0 0 35px;}

section h2 {
	background:url('../images/top/dt_h2.png') left 8px no-repeat transparent;
	margin-bottom:30px;
	padding-left:30px;
	color:#555;
	line-height:1;
	font-size:33px;
	font-family:メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","ＭＳ Ｐゴシック",sans-serif;}

section h2 a:hover,
section h2 a {
	color:#555;}

section .more {
	font-size:10px;
	font-family:メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","ＭＳ Ｐゴシック",sans-serif;
	text-decoration:underline;
	font-weight:normal}

.red {
	color:#f00;}

.bold {
	font-weight:bold;}

.tar {text-align:right;}
.tac {text-align:center;}
.tal {text-align:left;}


/*---------------------
info_vector
---------------------*/
#info_vector {
	border:none;}

#info_vector .wrapper {
	display:table;
	position:relative;
	margin-top:0px;
	background-color:#ffffcc;
	border:1px solid #ff9933;
	padding:0;
	margin-bottom:35px;}

#info_vector h2 {
	width:200px;
	height:100%;
	display:table-cell;
	background:none;
	margin:0;
	padding:0;
	vertical-align:middle;
	text-align:center;
	font-size:12px;}

#info_vector ul {
	padding:8px 10px 8px 20px;
	list-style:disc;}

#info_vector li {
	margin-bottom:2px;}

#info_vector li time {
	margin-left:5px;
	font-size:11px;}

#info_vector li time:before {content:'（';}
#info_vector li time:after {content:'）';}

#info_vector li.more {
	margin:-2px 0 -3px;
	font-size:11px;
	list-style:none;
	text-align:right;
	text-decoration:none;}

#info_vector li.more:before {
	content:'>> ';
	color:#016fae;}




/*---------------------
app_windows
---------------------*/
#app_windows {
	position:relative;
	min-height:430px;
	background-color:#fcfcfc;
	font-family:メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","ＭＳ Ｐゴシック",sans-serif;}

#app_windows dl {
	width:437px;
/*	margin-bottom:15px; win10 */}

#app_windows dl#win8app {
	margin-bottom:16px;}

#app_windows dl#win7app {float:right;}
#app_windows dl#win8app {float:right;}
#app_windows dl#win10app {float:left;}

#app_windows dd,
#app_windows dd a {
	display:block;
	position:relative;
	height:38px;
	line-height:38px;
	color:#333;}

#app_windows dt {
	position:relative;
	margin-bottom:5px;
	font-size:18px;
	font-weight:bold;
	line-height:1;}

#app_windows dt img {
	vertical-align:bottom;}

#app_windows dt a.more {
	position:absolute;
	right:2px;
	bottom:0;}

#app_windows dd {
	margin-top:-1px;
	border:1px solid #d2d2d2;}

#app_windows dd a {
	padding-left:8px;
	background-color:#fff;}

#app_windows dd a:hover {
	background-color:#f2fcfe;}

#app_windows dd img {
	position:absolute;
	right:8px;
	top:3px;}





/*---------------------
app_product
---------------------*/
#app_product .wrapper {
	position:relative;}

/* sp */
#app_product .sp {
	width:300px;
	height:535px;
	margin-bottom:10px;
	font-family:メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","ＭＳ Ｐゴシック",sans-serif;}

#app_product .sp h3 {
	margin-bottom:8px;
	font-size:26px;
	line-height:1.1;
	font-weight:bold;}

#app_product .sp p {
	margin-bottom:8px;
	font-size:16px;
	font-weight:bold;
	line-height:1.2;}

#app_product .sp .more {
	display:block;
	line-height:1.6;
	margin:3px 0px 0;
	padding:0px;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	background-color:#f6f6f6;
	border:1px solid #ddd;
	border-radius:3px;
	color:#333;}

/* sp_banner */
#app_product .sp_banner {
	width:300px;}

#app_product .sp_banner a,
#app_product .sp_banner img {
	display:block;}

/* soft */
#app_product .soft {
	position:absolute;
	right:0;
	top:64px;
	width:594px;}

#app_product .soft h3 {
	margin:0 0 24px 14px;
	color:#f00;
	line-height:1;
	font-size:22px;
	font-family:メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","ＭＳ Ｐゴシック",sans-serif;}

#app_product .soft ul {
	height:510px;
	overflow:hidden;}

#app_product .soft li {
	width:184px;
	height:240px;
	margin:0 0 15px 14px;
	font-size:12px;
	float:left;}

#app_product .soft .title,
#app_product .soft .soft_img,
#app_product .soft .soft_title,
#app_product .soft .soft_summary,
#app_product .soft .soft_price,
#app_product .soft .more {
	display:block;}

#app_product .soft .soft_img {
	text-align:center;
	margin-bottom:5px;}

#app_product .soft .soft_status {
	color:#f00;
	font-weight:bold;}

#app_product .soft .soft_title {
	display:block;
	max-height:4.8em;
	overflow:hidden;
	line-height:1.1;
	font-weight:bold;}

#app_product .soft .soft_summary {
	display:block;
	max-height:3.6em;
	overflow:hidden;}

#app_product .soft .soft_price {
	margin-top:8px;}

#app_product .soft .soft_price s,
#app_product .soft .soft_price del,
#app_product .soft .soft_price em,
#app_product .soft .soft_price strong {
	margin-left:5px;}

#app_product .soft .soft_price s,
#app_product .soft .soft_price del {
	text-decoration:line-through;
	font-size:12px;}

#app_product .soft .soft_price em {
	font-size:13px;
	font-style:normal;}

#app_product .soft .soft_price strong {
	color:#f00;
	font-weight:bold;
	font-size:13px;}

#app_product .soft .more {
	margin:3px 0px 0;
	padding:0px;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	background-color:#f6f6f6;
	border:1px solid #ddd;
	border-radius:3px;
	color:#333;}



/* push */
#app_product .soft .push {
	position:relative;
	top:-10px;
	height:auto;}

#app_product .soft .push .title,
#app_product .soft .push .soft_img,
#app_product .soft .push .soft_title,
#app_product .soft .push .soft_summary,
#app_product .soft .push .soft_price {
	margin-left:10px;
	margin-right:10px;}

#app_product .soft .push li {
	height:270px;
	background:url('../images/top/bg_push.jpg') left top no-repeat transparent;}

#app_product .soft .push .title {
	height:30px;
	margin-bottom:5px;
	line-height:30px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	font-family:メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","ＭＳ Ｐゴシック",sans-serif;}

#app_product .soft .push .more {
	margin:3px 13px 0 8px;}


/*---------------------
app_free
---------------------*/
#app_free {
	background-color:#fcfcfc;
	font-family:メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","ＭＳ Ｐゴシック",sans-serif;}

#app_free dl {
	margin-right:30px;
	float:left;}

#app_free dt {
	position:relative;
	margin-bottom:25px;
	border-bottom:1px solid #d2d2d2;
	font-size:16px;
	font-weight:bold;}

#app_free dt time:before,
#app_free dt time:after,
#app_free dt time {
	font-size:9px;}

#app_free dt time:before {
	content:"（";}

#app_free dt time:after {
	content:"）";}

#app_free dl dt a.more {
	position:absolute;
	right:2px;
	bottom:-20px;}

/* category */
#app_free dl#category {
	width:192px;}

#app_free dl#category dd {
	padding-left:21px;
	margin-bottom:6px;
	background:url('../images/top/folder2.gif') 0px top no-repeat transparent;}

/* ranking */
#app_free dl#ranking {
	width:292px;}

#app_free dl#ranking dd {
	margin-bottom:10px;}




/* review */
#app_free dl#review {
	width:376px;
	margin-right:0;}

#app_free dl#review dd {
	margin-bottom:16px;}

#app_free dl#review dd.shopitem {
	box-sizing:border-box;
	min-height:68px;
	padding:2px;
	background-color:#FFF0F5;}

#app_free dl#review dd a {
	position:relative;
	display:block;
	padding-left:72px;}

#app_free dl#review .soft_img {
	position:absolute;
	left:0;
	top:0;}

#app_free dl#review .soft_title,
#app_free dl#review .soft_summary {
	display:block;}

#app_free dl#review .soft_title {
	font-size:15px;
	font-weight:bold;
	margin-bottom:2px;}

#app_free dl#review .add {
	font-size:10px;
	color:#666;}

#app_free dl#review .soft_summary {
	font-size:11px;}


/*---------------------
sp_guide
---------------------*/
#sp_guide {
	position: absolute;
	top: -15px;
	right: 0;
}

#sp_guide a {
	display: block;
}


/*---------------------
[common]:hover alpha
---------------------*/
a:hover {
	-moz-opacity:0.8;
	opacity:0.8;
	filter:alpha(opacity=80);}


/*---------------------
[common]:float clear
---------------------*/
section .wrapper:after,
#app_product .soft ul:after {content:".";display:block;height:0px;font-size:0px;line-height:0;visibility:hidden;clear:both;}
section .wrapper,
#app_product .soft ul {zoom:100%;}


/*---------------------
[common]:text fly out
---------------------*/
/*
■ {display:block;text-indent:-9999px;overflow:hidden;font-size:0;}
*/


/*---------------------
[common]:absolute a text fly out
---------------------*/
/*
 a {display:block;text-indent:-9999px;overflow:hidden;background-color:#fff;filter:alpha(opacity=0);opacity:0;}
*/