@charset "UTF-8";
/* CSS Document */

/* GENERIC % OFF ASSETS */

/* clearance-generic-hero-percentoff */

.clearance-generic-hero-percentoff {
	background-image: url("/assets/f/hp_main/clearance_hero_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:352px;
	width:1060px;


}

.clearance-generic-hero-percentoff .clearance-generic-hero-percentoff-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:105px;
	color:#ffffff;
	text-align:center;
	padding-top:25px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-generic-hero-percentoff .clearance-generic-hero-percentoff-percentage {
    color:#fbc42f;
}

.clearance-generic-hero-percentoff .clearance-generic-hero-percentoff-subhead h2 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:60px;
	color:#ffffff;
	text-align:center;
	line-height:0.5;
	margin-top:0;
	margin-bottom:0;
}

.clearance-generic-hero-percentoff .clearance-generic-percentoff-button {
	background-color:#00a9ac;
	margin-top:40px;
	marging-bottom:10px;
	font-family:'Lato', sans-serif;
	font-size:19px;
	font-weight:700;
	color:#ffffff;
	padding:15px 45px 15px 45px;

}

.clearance-generic-hero-percentoff .btn:hover {
	background-color:#01797b;
}



/* clearance-generic-ma-percentoff */


.clearance-generic-ma-percentoff {
	background-image: url("/assets/f/myaccount/clearance_MA_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:140px;
	max-width:850px;
	background-size: auto 100%;

	
}


.clearance-generic-ma-percentoff-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:67px;
	color:#ffffff;
	text-align:center;
	padding-top:10px;
	line-height:1;
	margin-top:0;
	margin-bottom:0;
}

.clearance-generic-ma-percentoff-percentage {
    color:#fbc42f;
}

.clearance-generic-ma-percentoff-subhead h2 {
	position:relative;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:31px;
	color:#ffffff;
	text-align:center;
	bottom:-1px;
	right:-50px;
    margin-top:0;
	margin-bottom:0;
}


.clearance-ma-percentoff-button {
	background-color:#00a9ac;
	font-family:'Lato', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:80px;
	bottom:-7px;
	padding:9px 20px 9px 20px;
	
	
}

/* clearance-generic-mob-percentoff */

.clearance-generic-mob-percentoff {
	background-image: url("/assets/f/mobile/clearance_MOB_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	max-width:480px;
}

.clearance-generic-mob-percentoff-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:37px;
	color:#ffffff;
	text-align:center;
	line-height:0.9;
	padding-top:22px;
	padding-bottom:15px;
	
}

.clearance-generic-mob-percentoff-percentage {
    font-weight:900; 
	font-size:100px; 
	color:#fbc42f;
}

.clearance-generic-mob-percentoff-button {
		margin-top:10px;
}

.clearance-generic-mob-percentoff-button a {
	position:relative;
	background-color:#00a9ac;
	padding: 16px 184px 16px 184px;
	border:none;
	text-decoration:none;
    font-family:'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#ffffff;

}

.clearance-generic-mob-percentoff-button a:hover {
	background-color:#01797b;
}


/* clearance-generic-skinny-banner-cta-percentoff */


.clearance-generic-skinny-banner-cta-percentoff, .clearance-generic-skinny-banner-cta-percentoff * {
	 box-sizing: border-box !important;
}


.clearance-generic-skinny-banner-cta-percentoff {
	background-image: url("/assets/f/landingpage/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:150px;
	width:636px;

}

.clearance-generic-skinny-banner-cta-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:36px;
	color:#ffffff;
	text-align:center;
	line-height:0.9;
	padding:18px 0 0 30px;
	
}


.clearance-generic-skinny-banner-cta-percentoff-percentage {
	font-weight:900; 
	font-size:90px; 
	color:#fbc42f;
}

.clearance-generic-skinny-banner-cta-subhead h2 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	padding:22px 0 0 40px;
}

.clearance-generic-skinny-banner-cta-percentoff-button {
	background-color:#00a9ac;
	margin-top:13px;
	marging-bottom:10px;
	font-family:'Lato', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff; 
	padding:15px 20 15px 20px;
}

/* clearance-generic-skinny-banner-no-cta-percentoff */

.clearance-generic-skinny-banner-percentoff {
	background-image: url("/assets/f/landingpage/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:150px;
	width:636px;


}

.clearance-generic-skinny-banner-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:60px;
	color:#ffffff;
	text-align:center;
	padding-top:13px;

}


.clearance-generic-skinny-banner-percentoff-percentage {
	color:#fbc42f;
}


.clearance-generic-skinny-banner-subhead h2 {
	position:relative;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:32px;
	color:#ffffff;
	text-align:center;
	bottom:23px;
	
}

/* clearance-generic-hpb-percentoff */


.clearance-generic-hpb-percentoff h1 {
	background-image:url("/assets/f/hp_main/clearance_HPB_background.jpg");
	background-color:#ba1319;
	height:248px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.clearance-generic-hpb-percentoff-headline {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:48px;
	color:#ffffff;
	line-height:0.9;
	text-align:center;
	padding-top:50px;
}

.clearance-generic-hpb-percentoff-percentage {
    font-weight:900; 
	font-size:120px; 
	color:#fbc42f;
}

.clearance-generic-hpb-percentoff-subhead {
	font-size:20px;
}

/* FREE SHIPPING + ADDITIONAL PERCENT OFF ASSETS */


/* clearance-free-shipping-hero-additional-percentoff */


.clearance-free-shipping-hero-add-percentoff {
	background-image: url("/assets/f/hp_main/clearance_hero_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:352px;
	width:1060px;

	
}

.clearance-free-shipping-hero-add-percentoff .clearance-free-shipping-hero-add-percentoff-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:105px;
	color:#fbc42f;
	text-align:center;
	margin-top:0;
	margin-bottom:0;
}


.clearance-free-shipping-hero-add-percentoff .clearance-free-shipping-hero-add-percentoff-subhead h2 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:50px;
	color:#ffffff;
	text-align:center;
	line-height:0.1;
	margin-top:0;
	margin-bottom:0;
}


.clearance-free-shipping-hero-add-percentoff .clearance-free-shipping-hero-add-percentoff-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_free_shipping_hero_ribbon.jpg");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:36px;
	color:#ba1319;
	text-align:center;
	margin-top:40px;
	padding:3px;
	
}

.clearance-free-shipping-hero-add-percentoff .clearance-free-shipping-hero-add-percentoff-promo-code {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:33px;
	color:#ffffff;
	padding:10px 0 0 185px;
}

.clearance-free-shipping-hero-add-percentoff .clearance-free-shipping-hero-add-percentoff-code {
	color:#fbc42f;
}

.clearance-free-shipping-hero-add-percentoff .clearance-hero-details {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-decoration:underline;
}


.clearance-free-shipping-hero-add-percentoff .clearance-free-shipping-hero-add-percentoff-button {
	background-color:#00a9ac;
    font-family:'Lato', sans-serif;
	font-size:18px;
	font-weight:700;
	color:#ffffff;
	padding:12px 38px 12px 38px;
    position:relative;
	right:50px;
	top:12px;
	

}

.clearance-free-shipping-hero-add-percentoff .btn:hover {
	background-color:#01797b;
}


/* clearance-free-shipping-ma-additional-percentoff */


.clearance-free-shipping-ma-add-percentoff {
	background-image: url("/assets/f/myaccount/clearance_MA_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:140px;
	max-width:850px;
	background-size: auto 100%;
	


}

.clearance-free-shipping-ma-add-percentoff-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:39px;
	color:#fbc42f;
	text-align:center;
	margin-top:0;
	margin-bottom:0;
}


.clearance-free-shipping-ma-add-percentoff-headline-white {
    font-family:'Lato', sans-serif;
	font-size:34px;
	font-weight:400;
	color:#ffffff;
	margin-top:0;
	margin-bottom:0;

}


.clearance-free-shipping-ma-add-percentoff-ribbon-text {
	background-image:url("/assets/f/myaccount/clearance_free_shipping_ma_ribbon.jpg");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	color:#ba1319;
	text-align:center;
	margin-top:-3px;
	padding: 3px 0 3px 0;

	
}

.clearance-free-shipping-ma-add-percentoff-promo-code {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:22px;
	color:#ffffff;
	padding-left:190px;
	text-align:center;
}

.clearance-free-shipping-ma-add-percentoff-code {
	color:#fbc42f;
}

.clearance-ma-details {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#ffffff;
	text-decoration:underline;
}


.clearance-free-shipping-ma-add-percentoff-button {
	background-color:#00a9ac;
    margin-top:-1px;
	margin-bottom:5px;
	font-family:'Lato', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:60px;
   

}

/* clearance-free-shipping-mob-additional-percentoff */


.clearance-free-shipping-mob-add-percentoff {
	background-image: url("/assets/f/mobile/clearance_MOB_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	max-width:480px;
}

.clearance-free-shipping-mob-add-percentoff-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:55px;
	color:#fac32e;
	text-align:center;
	line-height:0.9;
	padding-top:35px;
	line-height:0.7;
	
}

.clearance-free-shipping-mob-add-percentoff-headline-white {
	 font-family:'Lato', sans-serif;
	 font-size:35px;
	font-weight:400;
	color:#ffffff;
	
	
}


.clearance-free-shipping-mob-add-percentoff-promo-code {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:27px;
	color:#ffffff;
	padding-top:20px;
	padding-bottom:8px;
	text-align:center;
}

.clearance-free-shipping-mob-add-percentoff-code {
	color:#fbc42f;
}

.clearance-mob-details {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
}

.clearance-free-shipping-mob-add-percentoff-button {
		margin-top:10px;
}

.clearance-free-shipping-mob-add-percentoff-button a {
	position:relative;
	background-color:#00a9ac;
	padding: 16px 184px 16px 184px;
	border:none;
	text-decoration:none;
    font-family:'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#ffffff;

}

.clearance-free-shipping-mob-add-percentoff-button a:hover {
	background-color:#01797b;
}

/* clearance-free-shipping-skinny-banner-cta-additional-percentoff */


.clearance-free-shipping-skinny-banner-cta-add-percentoff, .clearance-free-shipping-skinny-banner-cta-add-percentoff * {
	box-sizing: border-box !important;
	
}


.clearance-free-shipping-skinny-banner-cta-add-percentoff {
	background-image: url("/assets/f/landingpage/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:150px;
	width:636px;

}

.clearance-free-shipping-skinny-banner-cta-add-percentoff-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:34px;
	color:#fbc42f;
	text-align:center;
	line-height:0.9;
	padding-top:17px;
	
}

.clearance-free-shipping-skinny-banner-cta-add-percentoff-headline-white {
    font-family:'Lato', sans-serif;
	font-weight:400;
	color:#ffffff;	
	
}


.clearance-free-shipping-skinny-banner-cta-add-percentoff-ribbon-text {

    background-image:url("/assets/f/landingpage/clearance_free_shipping_ma_ribbon.jpg");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans serif;
	font-weight:400;
	font-size:19px;
	color:#ba1319;
	text-align:center;
	margin-top:57px;
	padding: 3px 0 3px 0;
	
}


.clearance-free-shipping-skinny-banner-cta-add-percentoff-promo-code {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ffffff;
	padding:4px 0 0 90px;
}


.clearance-free-shipping-skinny-banner-cta-add-percentoff-code {
	color:#fbc42f;
}

.clearance-skinny-banner-cta-details {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#ffffff;
	text-decoration:underline;
}

.clearance-free-shipping-skinny-banner-cta-add-percentoff-button {
	background-color:#00a9ac;
    margin-top:1px;
	margin-bottom:5px;
	font-family:'Lato', sans-serif;
	font-size:13px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:40px;
}

/* clearance-free-shipping-skinny-banner-no-cta-additional-percentoff */


.clearance-free-shipping-skinny-banner-add-percentoff {
	background-image: url("/assets/f/landingpage/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:150px;
	width:636px;
	

}

.clearance-free-shipping-skinny-banner-add-percentoff-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:34px;
	color:#fbc42f;
	text-align:center;
	line-height:0.9;
	padding-top:19px;
	
}

.clearance-free-shipping-skinny-banner-add-percentoff-headline-white {
    font-family:'Lato', sans-serif;
	font-weight:400;
	color:#ffffff;	
	
}


.clearance-free-shipping-skinny-banner-add-percentoff-ribbon-text {

    background-image:url("/assets/f/landingpage/clearance_free_shipping_ma_ribbon.jpg");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	color:#ba1319;
	text-align:center;
	margin-top:61px;
	padding: 3px 0 3px 0;
	
}


.clearance-free-shipping-skinny-banner-add-percentoff-promo-code {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ffffff;
	padding-top:3px;
	text-align:center;
}


.clearance-free-shipping-skinny-banner-add-percentoff-code {
	color:#fbc42f;
}

.clearance-skinny-banner-details {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#ffffff;
	text-decoration:underline;
}


/* clearance-free-shipping-hpb-additional-percentoff */


.clearance-free-shipping-hpb-additional-percentoff  {
	background-image:url("/assets/f/hp_bottom/clearance_HPB_background.jpg");
	background-color:#ba1319;
    width:336px;
	height:248px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.clearance-free-shipping-hpb-additional-percentoff-headline {
    font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:55px;
	color:#fbc42f;
	line-height:1;
	text-align:center;
	padding-top:65px;
}

.clearance-free-shipping-hpb-additional-percentoff-subhead {
	color:#cd171e;
	font-size:20px;
} 


.clearance-hpb-details {
	font-size:12px; 
	text-decoration:underline;
}


/* GENERIC CALLOUT ASSETS */


/* clearance-generic-hero-callout */

.clearance-generic-hero-callout {
	background-image: url("/assets/f/hp_main/clearance_hero_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:352px;
	width:1060px;
}


.clearance-generic-hero-callout .clearance-generic-hero-callout-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_generic_callout_ribbon.png");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:36px;
	color:#ba1319;
	text-align:center;
	margin-top:30px;
	padding:3px;
}


.clearance-generic-hero-callout .clearance-generic-hero-callout-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:70px;
	color:#ffffff;
	text-align:center;
	padding-top:5px;
}


.clearance-generic-hero-callout .clearance-generic-hero-callout-items-number {
	color:#fbc42f;
}


.clearance-generic-hero-callout .clearance-generic-hero-callout-subhead h2 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:35px;
	color:#ffffff;
	text-align:center;
	line-height:1;
}

.clearance-generic-hero-callout .clearance-generic-hero-callout-button {
	background-color:#00a9ac;
	margin-top:25px;
	marging-bottom:10px;
	font-family:'Lato', sans-serif;
	font-size:19px;
	font-weight:700;
	color:#ffffff;
	padding:15px 45px 15px 45px;

}

.clearance-generic-hero-callout .btn:hover {
	background-color:#01797b;

}


/* clearance-generic-ma-callout */

.clearance-generic-ma-callout {
	background-image: url("/assets/f/myaccount/clearance_MA_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:140px;
	max-width:850px;
	background-size: auto 100%;
}

.clearance-generic-ma-callout-ribbon-text {
	background-image:url("/assets/f/myaccount/clearance_generic_ma_callout_ribbon.png");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:18px;
	color:#ba1319;
	text-align:center;
	margin-top:7px;
	padding:3px;
}


.clearance-generic-ma-callout-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:45px;
	color:#ffffff;
	text-align:center;
	padding-top:5px;
	line-height:1;
	
}

.clearance-generic-ma-callout-items-number {
    color:#fbc42f;
}

.clearance-generic-ma-callout-subhead h2 {
	position:relative;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:22px;
	color:#ffffff;
	text-align:center;
	bottom:18px;
	right:-60px;
}


.clearance-generic-ma-callout-button {
	background-color:#00a9ac;
	font-family:'Lato', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:140px;
	bottom:18px;
	padding:9px 20px 9px 20px;
	
}

/* clearance-generic-mob-callout */

.clearance-generic-mob-callout {
	background-image: url("/assets/f/mobile/clearance_MOB_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	max-width:480px;
	
}

.clearance-generic-mob-callout-ribbon-text {
	background-image:url("/assets/f/mobile/clearance_bogo_hpb_ribbon.png");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:22px;
	color:#ba1319;
	text-align:center;
	margin-top:15px;
	padding:3px;
}

.clearance-generic-mob-callout-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:50px;
	color:#ffffff;
	text-align:center;
	padding-top:5px;
	line-height:1.1;
	
}


.clearance-generic-mob-callout-items-number {
	color:#fbc42f;
}


.clearance-generic-mob-callout-subhead h2 {
	
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:22px;
	color:#ffffff;
	text-align:center;
}


.clearance-generic-mob-callout-button {
		margin-top:26px;
}

.clearance-generic-mob-callout-button a {
	position:relative;
	background-color:#00a9ac;
	padding: 16px 184px 16px 184px;
	border:none;
	text-decoration:none;
    font-family:'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#ffffff;

}

.clearance-generic-mob-callout-button a:hover {
	background-color:#01797b;
}


/* clearance-generic-skinny-banner-cta-callout */


.clearance-generic-skinny-banner-cta-callout, .clearance-generic-skinny-banner-cta-callout * {
	box-sizing: border-box !important;
}


.clearance-generic-skinny-banner-cta-callout {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:150px;
	width:636px;
}


.clearance-generic-skinny-banner-cta-callout-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_generic_skinny_banner_callout_ribbon.png");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:17px;
	color:#ba1319;
	text-align:center;
	margin-top:13px;
	padding:3px;
}


.clearance-generic-skinny-banner-cta-callout-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:41px;
	color:#ffffff;
	text-align:center;
	padding-top:4px;
	line-height:1;
}


.clearance-generic-skinny-banner-cta-callout-items-number {
    color:#fbc42f;
}


.clearance-generic-skinny-banner-cta-callout-subhead h2 {
	position:relative;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	color:#ffffff;
	text-align:center;
	bottom:-15px;
	right:-28px;
}


.clearance-generic-skinny-banner-cta-callout-button {
	background-color:#00a9ac;
	font-family:'Lato', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:100px;
	bottom:-13px;
	padding:9px 20px 9px 20px;
	
}

/* clearance-generic-skinny-banner-callout */

.clearance-generic-skinny-banner-callout {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:150px;
	width:636px;
}


.clearance-generic-skinny-banner-callout-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_generic_skinny_banner_callout_ribbon.png");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:17px;
	color:#ba1319;
	text-align:center;
	margin-top:15px;
	padding:3px;
}


.clearance-generic-skinny-banner-callout-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:41px;
	color:#ffffff;
	text-align:center;
	padding-top:8px;
	line-height:1;
}


.clearance-generic-skinny-banner-callout-items-number {
    color:#fbc42f;
}


.clearance-generic-skinny-banner-callout-subhead h2 {
	position:relative;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	color:#ffffff;
	text-align:center;
	bottom:-8px;
}


/* clearance-generic-hpb-callout */


.clearance-generic-hpb-callout {
	background-image:url("/assets/f/hp_main/clearance_HPB_background.jpg");
	background-color:#ba1319;
    width:336px;
	height:248px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;

}

.clearance-generic-hpb-callout-headline {
   font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:47px;
	color:#ffffff;
	text-align:center;
	padding-top:90px;
}

.clearance-generic-hpb-callout-subhead {
	color:#cd171e;
	font-size:20px;
}


/* BOGO ASSETS */


/* clearance-bogo-hero */

.clearance-bogo-hero {
	background-image: url("/assets/f/hp_main/clearance_hero_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:352px;
	width:1060px;
}

.clearance-bogo-hero .clearance-bogo-hero-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_bogo_hero_ribbon3.png");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:32px;
	color:#ba1319;
	text-align:center;
	margin-top:18px;
	padding:2px 0 2px 0; 
}


.clearance-bogo-hero .clearance-bogo-hero-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:40px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:12px;
	margin-top:0;
	margin-bottom:0;
}


.clearance-bogo-hero .clearance-bogo-hero-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:150px;
	color:#fbc42f;

}


.clearance-bogo-hero .clearance-bogo-hero-details {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-decoration:underline;

	padding-left:655px;
	
}

.clearance-bogo-hero .clearance-bogo-hero-details a {
	color:#ffffff;
}


.clearance-bogo-hero .clearance-bogo-hero-button {
	background-color:#00a9ac;
    font-family:'Lato', sans-serif;
	font-size:18px;
	font-weight:700;
	color:#ffffff;
	padding:12px 38px 12px 38px;
    position:relative;
	bottom:-25px;
}


.clearance-bogo-hero .btn:hover {
	background-color:#01797b;
}


/* clearance-bogo-ma */

.clearance-bogo-ma {
	background-image: url("/assets/f/hp_main/clearance_MA_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:140px;
	max-width:850px;
	background-size: auto 100%;
}

.clearance-bogo-ma-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:30px;
	color:#ffffff;
	text-align:center;
	padding-top:9px;
	padding-right:30px;
	line-height:1;
	margin-top:0;
	margin-bottom:0;
}


.clearance-bogo-ma-subhead-percentage h2 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:90px;
	color:#fbc42f;
	line-height:1;
	poistion:relative;
	text-align:right;
	padding-right:40px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-bogo-ma-details {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#ffffff;
	text-decoration:underline;
	text-align:center;
	position:relative;
	top:35px;
	right:20px;
}

.clearance-bogo-ma-button {
	background-color:#00a9ac;
	font-family:'Lato', sans serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	top:5px;
	left:50px;
	padding:9px 20px 9px 20px;
	
}



/* clearance-bogo-mob */

.clearance-bogo-mob {
	background-image: url("/assets/f/hp_main/clearance_MOB_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	max-width:480px;
}

.clearance-bogo-mob-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_bogo_hpb_ribbon.png");
	background-repeat: no-repeat;
	background-position:center;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:22px;
	color:#ba1319;
	text-align:center;
	margin-top:16px;
	padding:4px 0 4px 0; 
}


.clearance-bogo-mob-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	line-height:1.1;
	position:relative;
	top:12px;
}


.clearance-bogo-mob-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:90px;
	color:#fbc42f;
	
}


.clearance-bogo-mob-details {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	text-align:center;
	margin:10px 0 5px 0;
}


.clearance-bogo-mob-details a {
	color:#ffffff;
}


.clearance-bogo-mob-button {
		margin-top:26px;
}

.clearance-bogo-mob-button a {
	position:relative;
	background-color:#00a9ac;
	padding: 16px 184px 16px 184px;
	border:none;
	text-decoration:none;
    font-family:'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#ffffff;

}

.clearance-bogo-mob-button a:hover {
	background-color:#01797b;
}


/* clearance-bogo-skinny-banner-cta */

.clearance-bogo-skinny-banner-cta, .clearance-bogo-skinny-banner-cta * {
	 box-sizing: border-box !important;
}


.clearance-bogo-skinny-banner-cta {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	height:150px;
	width:636px;
}


.clearance-bogo-skinny-banner-cta-headline h1 {
	
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	padding-top:9px;
	padding-right:55px;
	line-height:1;
	margin-top:0;
	margin-bottom:0;
}


.clearance-bogo-skinny-banner-cta-subhead-percentage h2 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:90px;
	color:#fbc42f;
	line-height:1;
	poistion:relative;
	text-align:right;
padding-left:10px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-bogo-skinny-banner-cta-details {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#ffffff;
	text-decoration:underline;
	text-align:center;
	position:relative;
	padding-right:60px;
	
	
}

.clearance-bogo-skinny-banner-cta-details a {
	color:#ffffff;
}


.clearance-bogo-skinny-banner-cta-button {
	background-color:#00a9ac;
	font-family:'Lato', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	top:60px;
	right:2px;
	padding:9px 20px 9px 20px;
}




/* clearance-bogo-skinny-banner */

.clearance-bogo-skinny-banner {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	height:150px;
	width:636px;
}


.clearance-bogo-skinny-banner-headline h1 {
	
font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	padding-top:9px;

	line-height:1;
	margin-top:0;
	margin-bottom:0;
}


.clearance-bogo-skinny-banner-subhead-percentage h2 {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:90px;
	color:#fbc42f;
	line-height:1;
	poistion:relative;
	text-align:center;

	margin-top:0;
	margin-bottom:0;
}

.clearance-bogo-skinny-banner-details {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#ffffff;
	text-decoration:underline;
	text-align:center;
	position:relative;
	
	
	
}

.clearance-bogo-skinny-banner-details a {
	color:#ffffff;
}




/* clearance-bogo-hpb */


.clearance-bogo-hpb-headline {
	background-image:url("/assets/f/hp_main/clearance_HPB_background.jpg");
	background-color:#ba1319;
	height:248px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


.clearance-bogo-hpb-ribbon-text {
     background-image:url("/assets/f/hp_main/clearance_bogo_hpb_ribbon.png");
	 background-repeat: no-repeat;
	 background-position:center;
	 position:relative;
	 top:30px;
	 font-family:'Lato', sans-serif;
	 font-weight:700;
	 font-size:25px;
	 color:#ba1319;
	 text-align:center;
	 padding: 5px 0 5px 0;
}

.clearance-bogo-hpb-ribbon-text p {
	 font-family:'Lato', sans-serif;
	 font-weight:700;
	 font-size:25px;
	 color:#ba1319;
     text-align:center;
	 padding: 5px 0 5px 0;
}

.clearance-bogo-hpb-headline h1 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	padding-top:30px;
}

	

.clearance-bogo-hpb-headline-percentage {
	color:#fbc42f;
	font-weight:900;
	font-size:70px;
}


.clearance-bogo-hpb-subhead {
	color:#cd171e;
	font-size:20px;
}

p.clearance-bogo-hpb-details {
	text-decoration:underline;
}



/* ADDITIONAL % OFF MULTI CLEARANCE CATEGORIES ASSETS */


/* clearance-add-percentoff-hero-multi-categories */

.clearance-add-percentoff-hero-multi-categories {
	background-image: url("/assets/f/hp_main/clearance_hero_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:352px;
	width:1060px;
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_hero_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	padding-top:8px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ba1319;
	text-align:center;


}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-ribbon-text p {
	line-height:1.1;
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:40px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:12px;
	padding:15px 135px 0 0;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:150px;
	color:#fbc42f;
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-subhead-small h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:22px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:12px;
    padding-top:8px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-subhead-medium h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:35px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:12px;
    padding-top:8px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-subhead-large h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:40px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:12px;
	padding:15px 130px 0 0;
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-subhead-small h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-subhead-medium h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-subhead-large h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:31px;
	text-align:center;
	color:#ffffff;
	padding-top:38px;
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-code {
	color:#fbc42f;
}


.clearance-add-percentoff-hero-multi-categories .clearance-add-percentoff-hero-multi-categories-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-decoration:underline;
	
}


/* clearance-add-percentoff-ma-multi-categories */

.clearance-add-percentoff-ma-multi-categories {
	background-image: url("/assets/f/hp_main/clearance_MA_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:140px;
	max-width:850px;
	background-size:auto 100%;
}


.clearance-add-percentoff-ma-multi-categories-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_ma_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	position:relative;
	left:30px;
	padding-top:5px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:17px;
	color:#ba1319;


}


.clearance-add-percentoff-ma-multi-categories-ribbon-text p {
	text-align:center;
	position:relative;
	right:18px;
	padding-bottom:10px;
	color:#ba1319;

}


.clearance-add-percentoff-ma-multi-categories-ribbon-text p {
	line-height:1.1;
	
}


.clearance-add-percentoff-ma-multi-categories-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:7px;
	padding:0 0 20px 70px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-ma-multi-categories-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:70px;
	color:#fbc42f;
}


.clearance-add-percentoff-ma-multi-categories-subhead-small h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:-17px;
    padding-top:3px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-ma-multi-categories-subhead-medium h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:-18px;
    padding-top:3px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-ma-multi-categories-subhead-large h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:27px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:-22px;
    padding-top:3px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-ma-multi-categories-subhead-small h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-ma-multi-categories-subhead-medium h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-ma-multi-categories-subhead-large h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-ma-multi-categories-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	padding:36px 20px 0 0;
	line-height:1.1;
}


.clearance-add-percentoff-ma-multi-categories-code {
	color:#fbc42f;
}


.clearance-add-percentoff-ma-multi-categories-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}



/* clearance-add-percentoff-mob-multi-categories */


.clearance-add-percentoff-mob-multi-categories {
	background-image: url("/assets/f/hp_main/clearance_MOB_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	max-width:480px;
	padding-left:0;
}



.clearance-add-percentoff-mob-multi-categories-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:14px;
	
}

.clearance-add-percentoff-mob-multi-categories-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:80px;
	color:#fbc42f;
}


.clearance-add-percentoff-mob-multi-categories-subhead-small h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:-17px;
    padding-top:3px; 

}



.clearance-add-percentoff-mob-multi-categories-subhead-medium h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:17px;
    padding-top:3px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-mob-multi-categories-subhead-large h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:27px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:20px;
    padding-top:3px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-mob-multi-categories-subhead-small h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-mob-multi-categories-subhead-medium h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-mob-multi-categories-subhead-large h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-mob-multi-categories-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	line-height:1.1;
	position:relative;
	top:30px;
}


.clearance-add-percentoff-mob-multi-categories-code {
	color:#fbc42f;
}


.clearance-add-percentoff-mob-multi-categories-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


.clearance-add-percentoff-mob-multi-categories-button {
		margin-top:50px;
}

.clearance-add-percentoff-mob-multi-categories-button a {
	position:relative;
	background-color:#00a9ac;
	padding: 16px 184px 16px 184px;
	border:none;
	text-decoration:none;
    font-family:'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#ffffff;

}

.clearance-add-percentoff-mob-multi-categories-button a:hover {
	background-color:#01797b;
}



/* clearance-add-percentoff-skinny-banner-cta-multi-categories */


.clearance-add-percentoff-skinny-banner-cta-multi-categories, .clearance-add-percentoff-skinny-banner-cta-multi-categories * {
	box-sizing: border-box !important;
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
    min-height:150px;
	width:636px;
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_ma_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	position:relative;
	left:30px;
	padding-top:5px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ba1319;


}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-ribbon-text p {
	text-align:center;
	position:relative;
	right:18px;
	padding-bottom:10px;
    line-height:1.1;
}




.clearance-add-percentoff-skinny-banner-cta-multi-categories-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	right:26px;
	top:4px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-skinny-banner-cta-multi-categories-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:64px;
	color:#fbc42f;
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-subhead-small h2 {
   font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:-24px;
    padding-top:3px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-skinny-banner-cta-multi-categories-subhead-medium h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:-24px;
    padding-top:3px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-subhead-large h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:-24px;
    padding-top:3px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-subhead-small h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-subhead-medium h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-subhead-large h2 a {
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	position:relative;
	top:-14px;
	left:17px;
	line-height:1.1;
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-code {
	color:#fbc42f;
}


.clearance-add-percentoff-skinny-banner-cta-multi-categories-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}



/* clearance-add-percentoff-hpb-multi-categories */

.clearance-add-percentoff-hpb-multi-categories-headline {
	background-image:url("/assets/f/hp_main/clearance_HPB_background.jpg");
	background-color:#ba1319;
    width:336px;
	height:248px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
}


.clearance-add-percentoff-hpb-multi-categories-ribbon-text {
     background-image:url("/assets/f/hp_main/clearance_bogo_hpb_ribbon.png");
	 background-repeat: no-repeat;
	 background-position:center;
	 position:relative;
	 top:30px;
	 font-family:'Lato', sans-serif;
	 font-weight:700;
	 font-size:22px;
	 color:#ba1319;
	 text-align:center;
	 padding: 5px 0 5px 0;

}

.clearance-add-percentoff-hpb-multi-categories-headline h1 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	padding-top:30px;
}

	

.clearance-add-percentoff-hpb-multi-categories-percentage {
	color:#fbc42f;
	font-weight:900;
	font-size:70px;
}


.clearance-add-percentoff-hpb-multi-categories-subhead {
	color:#cd171e;
	font-size:20px;
}

.clearance-add-percentoff-hpb-multi-categories-details {
	text-decoration:underline;
}




/* ADDITIONAL % OFF ALL CLEARANCE ITEMS */


/* clearance-add-percentoff-hero-all-clearance-items */

.clearance-add-percentoff-hero-all-clearance-items {
	background-image: url("/assets/f/hp_main/clearance_hero_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:352px;
}


.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_hero_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	padding-top:8px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ba1319;
	text-align:center;


}


.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-ribbon-text p {
	line-height:1.1;
}


.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:40px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:9px;
	padding:10px 135px 0 0;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:150px;
	color:#fbc42f;
}



.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-subhead h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:60px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
    top:-5px;
	left:20px;
    padding-top:8px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:33px;
	text-align:center;
	color:#ffffff;
	padding:16px 0 0 90px;
}


.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-code {
	color:#fbc42f;
}


.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-hero-all-clearance-items .clearance-add-percentoff-hero-all-clearance-items-button {
	background-color:#00a9ac;
    font-family:'Lato', sans-serif;
	font-size:18px;
	font-weight:700;
	color:#ffffff;
	padding:12px 38px 12px 38px;
    position:relative;
	right:60px;
	top:13px;
	

}

.clearance-add-percentoff-hero-all-clearance-items .btn:hover {
	background-color:#01797b;
}




/* clearance-add-percentoff-ma-all-clearance-items */

.clearance-add-percentoff-ma-all-clearance-items {
	background-image: url("/assets/f/hp_main/clearance_MA_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:140px;
	max-width:850px;
	background-size: auto 100%;
}


.clearance-add-percentoff-ma-all-clearance-items-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_ma_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	position:relative;
	left:30px;
	padding-top:5px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:17px;
	color:#ba1319;


}


.clearance-add-percentoff-ma-all-clearance-items-ribbon-text p {
	text-align:center;
	position:relative;
	right:18px;
	padding-bottom:10px;
    line-height:1.1;
	color:#ba1319;
}



.clearance-add-percentoff-ma-all-clearance-items-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:7px;
	padding:0 25px 0 0;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-ma-all-clearance-items-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:70px;
	color:#fbc42f;
}


h2.clearance-add-percentoff-ma-all-clearance-items-subhead  {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:31px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:5px;
    right:20px;
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-ma-all-clearance-items-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:20px;
	text-align:center;
	color:#ffffff;
	padding:25px 0 0 15px;
	line-height:1.1;
	position:relative;
	right:55px;
}


.clearance-add-percentoff-ma-all-clearance-items-code {
	color:#fbc42f;
}


.clearance-add-percentoff-ma-all-clearance-items-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


.clearance-add-percentoff-ma-all-clearance-items-button {
	background-color:#00a9ac;
    margin-top:-1px;
	margin-bottom:5px;
	font-family:'Lato', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:20px;
	top:6px;
	padding:7px 20px 7px 20px;
   

}

clearance-add-percentoff-ma-all-clearance-items .btn:hover {
	background-color:#01797b;
}




/* clearance-add-percentoff-mob-all-clearance-items */


.clearance-add-percentoff-mob-all-clearance-items {
	background-image: url("/assets/f/hp_main/clearance_MOB_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	max-width:480px;
	padding-left:0;
}



.clearance-add-percentoff-mob-all-clearance-items-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:14px;
	
}

.clearance-add-percentoff-mob-all-clearance-items-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:80px;
	color:#fbc42f;
}



.clearance-add-percentoff-mob-all-clearance-items-subhead h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:32px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:17px; 
}




.clearance-add-percentoff-mob-all-clearance-items-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	line-height:1.1;
	position:relative;
	top:30px;
}


.clearance-add-percentoff-mob-all-clearance-items-code {
	color:#fbc42f;
}


.clearance-add-percentoff-mob-all-clearance-items-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


.clearance-add-percentoff-mob-all-clearance-items-button {
		margin-top:50px;
	
}

.clearance-add-percentoff-mob-all-clearance-items-button a {
	position:relative;
	background-color:#00a9ac;
	padding: 16px 184px 16px 184px;
	border:none;
	text-decoration:none;
    font-family:'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#ffffff;

}

.clearance-add-percentoff-mob-all-clearance-items-button a:hover {
	background-color:#01797b;
}


/* clearance-add-percentoff-skinny-banner-cta-all-clearance-items */

.clearance-add-percentoff-skinny-banner-cta-all-clearance-items, .clearance-add-percentoff-skinny-banner-cta-all-clearance-items * {
	box-sizing: border-box !important;
}


.clearance-add-percentoff-skinny-banner-cta-all-clearance-items {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
    min-height:150px;
	width:636px;
}


.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_ma_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	position:relative;
	left:30px;
	padding-top:5px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ba1319;


}


.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-ribbon-text p {
	text-align:center;
	position:relative;
	right:18px;
	padding-bottom:10px;
    line-height:1.1;
}




.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	right:7px;
	top:13px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:70px;
	color:#fbc42f;
}



.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-subhead h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:29px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:1px;
	right:13px;
    padding-top:10px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	position:relative;
	top:42px;
	right:20px;
	line-height:1.1;
}


.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-code {
	color:#fbc42f;
}


.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


.clearance-add-percentoff-skinny-banner-cta-all-clearance-items-button {
	background-color:#00a9ac;
    margin-top:1px;
	margin-bottom:5px;
	font-family:'Lato', sans-serif;
	font-size:13px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:17px;
	top:45px;
}

/* clearance-add-percentoff-skinny-banner-all-clearance-items */

.clearance-add-percentoff-skinny-banner-all-clearance-items, .clearance-add-percentoff-skinny-banner-all-clearance-items * {
	box-sizing: border-box !important;
}

.clearance-add-percentoff-skinny-banner-all-clearance-items {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
    min-height:150px;
	width:636px;
}


.clearance-add-percentoff-skinny-banner-all-clearance-items-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_ma_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	position:relative;
	left:30px;
	padding-top:5px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ba1319;


}


.clearance-add-percentoff-skinny-banner-all-clearance-items-ribbon-text p {
	text-align:center;
	position:relative;
	right:18px;
	padding-bottom:10px;
    line-height:1.1;
}




.clearance-add-percentoff-skinny-banner-all-clearance-items-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	right:7px;
	top:13px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-skinny-banner-all-clearance-items-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:70px;
	color:#fbc42f;
}



.clearance-add-percentoff-skinny-banner-all-clearance-items-subhead h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:29px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:1px;
	right:13px;
    padding-top:10px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-skinny-banner-all-clearance-items-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	position:relative;
	top:55px;
	right:20px;
	line-height:1.1;
}


.clearance-add-percentoff-skinny-banner-all-clearance-items-code {
	color:#fbc42f;
}


.clearance-add-percentoff-skinny-banner-all-clearance-items-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


/* clearance-add-percentoff-hpb-all-clearance-items */

.clearance-add-percentoff-hpb-all-clearance-items-headline {
	background-image:url("/assets/f/hp_main/clearance_HPB_background.jpg");
	background-color:#ba1319;
    width:336px;
	height:248px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
}


.clearance-add-percentoff-hpb-all-clearance-items-ribbon-text {
     background-image:url("/assets/f/hp_main/clearance_bogo_hpb_ribbon.png");
	 background-repeat: no-repeat;
	 background-position:center;
	 position:relative;
	 top:30px;
	 font-family:'Lato', sans-serif;
	 font-weight:700;
	 font-size:22px;
	 color:#ba1319;
	 text-align:center;
	 padding: 5px 0 5px 0;

}

.clearance-add-percentoff-hpb-all-clearance-items-headline h1 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	padding-top:30px;
}

	

.clearance-add-percentoff-hpb-all-clearance-items-percentage {
	color:#fbc42f;
	font-weight:900;
	font-size:70px;
}


.clearance-add-percentoff-hpb-all-clearance-items-subhead {
	color:#cd171e;
	font-size:20px;
}

.clearance-add-percentoff-hpb-all-clearance-items-details {
	text-decoration:underline;
}



/* ADDITIONAL % OFF ONE CLEARANCE CATEGORY */


/* clearance-add-percentoff-hero-one-clearance-category */


.clearance-add-percentoff-hero-one-clearance-category {
	background-image: url("/assets/f/hp_main/clearance_hero_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:352px;
	width:1060px;
}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_hero_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	padding-top:8px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ba1319;
	text-align:center;


}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-ribbon-text p {
	line-height:1.1;
}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:40px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:9px;
	padding:10px 135px 0 0;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:150px;
	color:#fbc42f;
}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-subhead-small h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:48px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
    top:-3px;
	left:20px;
    padding-top:8px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-subhead-medium h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:53px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
    top:-3px;
	left:20px;
    padding-top:8px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-subhead-large h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:58px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
    top:-3px;
	left:20px;
    padding-top:8px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:33px;
	text-align:center;
	color:#ffffff;
	padding:16px 0 0 90px;
}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-code {
	color:#fbc42f;
}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-decoration:underline;
	
}


.clearance-add-percentoff-hero-one-clearance-category .clearance-add-percentoff-hero-one-clearance-category-button {
	background-color:#00a9ac;
    font-family:'Lato', sans-serif;
	font-size:18px;
	font-weight:700;
	color:#ffffff;
	padding:12px 38px 12px 38px;
    position:relative;
	right:60px;
	top:13px;
	

}

.clearance-add-percentoff-hero-one-clearance-category .btn:hover {
	background-color:#01797b;
}



/* clearance-add-percentoff-ma-one-clearance-category */


.clearance-add-percentoff-ma-one-clearance-category {
	background-image: url("/assets/f/hp_main/clearance_MA_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:140px;
	max-width:850px;
	background-size: auto 100%;
}


.clearance-add-percentoff-ma-one-clearance-category-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_ma_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	position:relative;
	padding-top:5px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:17px;
	color:#ba1319;


}


.clearance-add-percentoff-ma-one-clearance-category-ribbon-text p {
	text-align:center;
	position:relative;
	right:18px;
	padding-bottom:10px;
    line-height:1.1;
	color:#ba1319;
}



.clearance-add-percentoff-ma-one-clearance-category-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:21px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:7px;
	padding:0 25px 0 0;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-ma-one-clearance-category-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:70px;
	color:#fbc42f;
}


h2.clearance-add-percentoff-ma-one-clearance-category-subhead-small  {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:4px;
    right:20px;
	margin-top:0;
	margin-bottom:0;
}


h2.clearance-add-percentoff-ma-one-clearance-category-subhead-medium  {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:29px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:4px;
    right:15px;
	margin-top:0;
	margin-bottom:0;
}


h2.clearance-add-percentoff-ma-one-clearance-category-subhead-large  {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:33px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:4px;
    right:20px;
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-ma-one-clearance-category-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:20px;
	text-align:center;
	color:#ffffff;
	padding:25px 20px 0 0;
	line-height:1.1;
	position:relative;
	right:30px;
}


.clearance-add-percentoff-ma-one-clearance-category-code {
	color:#fbc42f;
}


.clearance-add-percentoff-ma-one-clearance-category-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


.clearance-add-percentoff-ma-one-clearance-category-button {
	background-color:#00a9ac;
    margin-top:-1px;
	margin-bottom:5px;
	font-family:'Lato', sans-serif;
	font-size:14px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:10px;
	top:10px;
   

}

clearance-add-percentoff-ma-one-clearance-category .btn:hover {
	background-color:#01797b;
}


/* clearance-add-percentoff-mob-one-clearance-category */


.clearance-add-percentoff-mob-one-clearance-category {
	background-image: url("/assets/f/hp_main/clearance_MOB_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	max-width:480px;
	padding-left:0;
}



.clearance-add-percentoff-mob-one-clearance-category-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:14px;
	
}

.clearance-add-percentoff-mob-one-clearance-category-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:80px;
	color:#fbc42f;
}


.clearance-add-percentoff-mob-one-clearance-category-subhead-small h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:17px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-mob-one-clearance-category-subhead-medium h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:17px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-mob-one-clearance-category-subhead-large h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:34px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:17px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-mob-one-clearance-category-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	line-height:1.1;
	position:relative;
	top:30px;
}


.clearance-add-percentoff-mob-one-clearance-category-code {
	color:#fbc42f;
}


.clearance-add-percentoff-mob-one-clearance-category-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


.clearance-add-percentoff-mob-one-clearance-category-button {
		margin-top:50px;
	
}

.clearance-add-percentoff-mob-one-clearance-category-button a {
	position:relative;
	background-color:#00a9ac;
	padding: 16px 184px 16px 184px;
	border:none;
	text-decoration:none;
    font-family:'Lato', sans-serif;
	font-size:20px;
	font-weight:700;
	color:#ffffff;

}

.clearance-add-percentoff-mob-one-clearance-category-button a:hover {
	background-color:#01797b;
}


/* clearance-add-percentoff-skinny-banner-cta-one-clearance-category */

.clearance-add-percentoff-skinny-banner-cta-one-clearance-category, .clearance-add-percentoff-skinny-banner-cta-one-clearance-category * {
	box-sizing: border-box !important;
}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
    min-height:150px;
	width:636px;
}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_ma_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	position:relative;
	left:30px;
	padding-top:5px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ba1319;


}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-ribbon-text p {
	text-align:center;
	position:relative;
	right:18px;
	padding-bottom:10px;
    line-height:1.1;
}




.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	right:7px;
	top:13px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:70px;
	color:#fbc42f;
}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-subhead-small h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:3px;
	right:13px;
    padding-top:10px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-subhead-medium h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:3px;
	right:13px;
    padding-top:10px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-subhead-large h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:3px;
	right:13px;
    padding-top:10px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	position:relative;
	top:42px;
	right:20px;
	line-height:1.1;
}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-code {
	color:#fbc42f;
}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


.clearance-add-percentoff-skinny-banner-cta-one-clearance-category-button {
	background-color:#00a9ac;
    margin-top:1px;
	margin-bottom:5px;
	font-family:'Lato', sans-serif;
	font-size:13px;
	font-weight:700;
	color:#ffffff;
	position:relative;
	right:17px;
	top:45px;
}

/* clearance-add-percentoff-skinny-banner-one-clearance-category */

.clearance-add-percentoff-skinny-banner-one-clearance-category, .clearance-add-percentoff-skinny-banner-one-clearance-category * {
	box-sizing: border-box !important;
}

.clearance-add-percentoff-skinny-banner-one-clearance-category {
	background-image: url("/assets/f/hp_main/clearance_LP_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
    min-height:150px;
	width:636px;
}


.clearance-add-percentoff-skinny-banner-one-clearance-category-ribbon-text {
	background-image:url("/assets/f/hp_main/clearance_multi_categories_ma_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	position:relative;
	left:30px;
	padding-top:5px;
	padding-bottom:38px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:15px;
	color:#ba1319;


}


.clearance-add-percentoff-skinny-banner-one-clearance-category-ribbon-text p {
	text-align:center;
	position:relative;
	right:18px;
	padding-bottom:10px;
    line-height:1.1;
}




.clearance-add-percentoff-skinny-banner-one-clearance-category-headline h1 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	right:7px;
	top:13px;
	margin-top:0;
	margin-bottom:0;
}

.clearance-add-percentoff-skinny-banner-one-clearance-category-percentage {
	font-family:'Lato', sans-serif;
	font-weight:900;
	font-size:70px;
	color:#fbc42f;
}



.clearance-add-percentoff-skinny-banner-one-clearance-category-subhead-small h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:3px;
	right:13px;
    padding-top:10px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-skinny-banner-one-clearance-category-subhead-medium h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:3px;
	right:13px;
    padding-top:10px; 
	margin-top:0;
	margin-bottom:0;
}


.clearance-add-percentoff-skinny-banner-one-clearance-category-subhead-large h2 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	position:relative;
	top:3px;
	right:13px;
    padding-top:10px; 
	margin-top:0;
	margin-bottom:0;
}



.clearance-add-percentoff-skinny-banner-one-clearance-category-promo-code p {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:19px;
	text-align:center;
	color:#ffffff;
	position:relative;
	top:55px;
	right:20px;
	line-height:1.1;
}


.clearance-add-percentoff-skinny-banner-one-clearance-category-code {
	color:#fbc42f;
}


.clearance-add-percentoff-skinny-banner-one-clearance-category-details a {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:12px;
	color:#ffffff;
	text-decoration:underline;
	
	
}


/* clearance-add-percentoff-hpb-all-clearance-items */

.clearance-add-percentoff-hpb-one-clearance-category-headline {
	background-image:url("/assets/f/hp_main/clearance_HPB_background.jpg");
	background-color:#ba1319;
    width:336px;
	height:248px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
}


.clearance-add-percentoff-hpb-one-clearance-category-ribbon-text {
     background-image:url("/assets/f/hp_main/clearance_bogo_hpb_ribbon.png");
	 background-repeat: no-repeat;
	 background-position:center;
	 position:relative;
	 top:30px;
	 font-family:'Lato', sans-serif;
	 font-weight:700;
	 font-size:22px;
	 color:#ba1319;
	 text-align:center;
	 padding: 5px 0 5px 0;

}

.clearance-add-percentoff-hpb-one-clearance-category-headline h1 {
    font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:28px;
	color:#ffffff;
	text-align:center;
	padding-top:30px;
}

	

.clearance-add-percentoff-hpb-one-clearance-category-percentage {
	color:#fbc42f;
	font-weight:900;
	font-size:70px;
}


.clearance-add-percentoff-hpb-one-clearance-category-subhead {
	color:#cd171e;
	font-size:20px;
}

.clearance-add-percentoff-hpb-one-clearance-category-details {
	text-decoration:underline;
}



/* TIERED DISCOUNT WITH HOLIDAY ASSETS */

/* clearance_tiered_discount_hero_with_holiday */

.clearance-tiered-discount-hero-with-holiday {
	background-image: url("assets/f/hp_main/clearance_hero_background.jpg");
	background-color:#ba1319;
	background-repeat: no-repeat;
	min-height:352px;
	max-width:1060px;
	background-size: auto 100%;
}


.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-ribbon-text {
	background-image:url("assets/f/hp_main/clearance_tiered_discount_hero_with_holiday_ribbon.png");
    background-repeat: no-repeat;
	background-position:center;
	margin-top:10px;
	padding: 4px 0 1px 0;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:32px;
	color:#ba1319;
	text-align:center;

}


.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-subhead h2 {
	font-family:'Lato', sans-serif;
	font-weight:400;
	font-size:23px;
	color:#ffffff;
	text-align:center;
	line-height:1;
	padding-top:5px;
	margin-top:0;
	margin-bottom:0;
}


.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-left-percentage-column {
	font-family:'Lato', sans-serif;
	text-align:center;
	line-height:0.5;
}



.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-percentage {
	font-size:65px;
	font-weight:900;
	color:#fbc42f;
	
}


.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-your-order-text {
	font-size:18px;
	font-weight:400;
	color:#ffffff;
	line-height:0.5;
}


.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-dollar-amount {
	font-size:23px;
	font-weight:400;
	color:#ffffff;

}


.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-promo-code {
	font-size:18px;
	font-weight:400;
	color:#ffffff;
}



.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-code {
	color:#fbc42f;
}



.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-middle-percentage-column {
	font-family:'Lato', sans-serif;
	text-align:center;
	line-height:0.5;
}



.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-right-percentage-column {
	font-family:'Lato', sans-serif;
	text-align:center;
	line-height:0.5;
}


.clearance-tiered-discount-hero-with-holiday .clearance-tiered-discount-hero-with-holiday-button {
	background-color:#00a9ac;
    font-family:'Lato', sans-serif;
	font-size:18px;
	font-weight:700;
	color:#ffffff;
	padding:10px 34px 10px 34px;
    position:relative;
	
	
	
}



.clearance-tiered-discount-hero-with-holiday .btn:hover {
	background-color:#01797b;
}