/*
 * Auto Event Management
 *
 * Copyright (c) 2016 Bluestem Brands, Inc. - Gettington Site Operations
 *
 * Version:  1.1.5
 * Last modified by Steve Mueller 9/2/2016 9:38AM
 *
 */
 
.eventContainer {
	background-color:#e6e6e6;
	max-width:1150px;
	padding: 5px;
	margin:auto;
}
.event {
	background-color: #ffffff;
	border: 1px solid #bababa;
	float: left;
	margin: 0px;
	position: relative;
	width: 100%;
	font-family: 'Roboto', Arial, serif;

}
.eventCol {
	padding: 5px;
}
.event img {
    display: block;
    margin: auto;
    width: 100%;
    max-height: 100%;
    /*
	background-color: #EDEDED;
	background-repeat: no-repeat;
    background-position: center;
    background-image: url("//s7d5.scene7.com/is/image/bluestembrands/gtn_bags_preload_tile");
	*/
}
.event div {
	padding: 10px;
	height:120px;
	border-top:solid 1px #bababa;
  overflow:hidden;
}
.eventPromo {
	text-align:right;
}
.event h2 {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
	margin: 0 0 0.3em;
}
.event p {
	font-size: 13px;
}
.event h3 span {
	font-weight: 700;
	font-size: 24px;
	color: #fd0202;
}
.event h3  {
	font-size: 12px;
	vertical-align:middle;
	color:black;
	line-height:1.5;
}
.eventContainer .gridTitle {
	padding-left:10px;
	margin: 20px 0 10px;
    background-color: #039CDA;
    color: white;
    font-family: 'Roboto', Arial, serif;
    font-size: 25px;
    height: 40px;
    line-height: 40px;
}
.eventContainer a.event:hover{
	opacity:.8;
}
.event .eventDisclaimer {
	font-size: 10px;
	color: black;
}
.eventToggle .btn-secondary.active, #eTT .btn-secondary.active {
  	color: #fff;
    background-color: #286090;
  }
#eTT {
    position: fixed;
    display: none;
    height: 100px;
    width: 100px;
    color: red;
    background-color: white;
    right: 0;
    top: 300px;
    text-align: center;
    z-index: 999;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}
 #eTT sub {
 text-decoration: underline;
 color: #999;
 cursor: pointer;
 }
 
  /* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
	.right_xs img {
		float:right;
	}
	.left_xs img {
		float:left;
	}
	.left_xs img, .right_xs img{
		width: 50%;
		min-height: 120px;
	}
	.right_xs div, .left_xs div {
		height: auto;
		border: none;
		padding-bottom: 0;
	}
	.right_xs .eventPromo, .left_xs .eventPromo {
		padding-top: 0 !important;
		text-align: center;
	}
	.right_xs .eventEnd {
		width: 50%;
		position: absolute;
		right: 0;
		left:auto;
		bottom: 0;
	}
	.left_xs .eventEnd {
		width: 50%;
		position: absolute;
		left: 0;
		right:auto;
		bottom: 0;
	}
	.up_xs .eventEnd {
		width: 100%;
		position: relative;
		right: auto;
		left: auto;
		bottom: auto;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.right_sm img {
		float:right;
	}
	.left_sm img {
		float:left;
	}
	.left_sm img, .right_sm img{
		width: 50%;
		min-height: 120px;
	}
	.right_sm div, .left_sm div {
		height: auto;
		border: none;
		padding-bottom: 0;
	}
	.right_sm .eventPromo, .left_sm .eventPromo {
		padding-top: 0 !important;
		text-align: left;
	}
	.right_sm .eventEnd {
		width: 50%;
		position: absolute;
		right: 0;
		left:auto;
		bottom: 0;
	}
	.left_sm .eventEnd {
		width: 50%;
		position: absolute;
		left: 0;
		right:auto;
		bottom: 0;
	}
	.up_sm .eventEnd {
		width: 100%;
		position: relative;
		right: auto;
		left: auto;
		bottom: auto;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.right_md img {
		float:right;
	}
	.left_md img {
		float:left;
	}
	.left_md img, .right_md img{
		width: 50%;
		min-height: 120px;
	}
	.right_md div, .left_md div {
		height: auto;
		border: none;
		padding-bottom: 0;
	}
	.right_md .eventPromo, .left_md .eventPromo {
		padding-top: 0 !important;
		text-align: left;
	}
	.right_md .eventEnd {
		width: 50%;
		position: absolute;
		right: 0;
		left:auto;
		bottom: 0;
	}
	.left_md .eventEnd {
		width: 50%;
		position: absolute;
		left: 0;
		right:auto;
		bottom: 0;
	}
	.up_md .eventEnd {
		width: 100%;
		position: relative;
		right: auto;
		left: auto;
		bottom: auto;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.up_lg img {
		float:none;
	}
	.up_lg img{
		width: 100%;
		min-height: 200px;
	}
	.up_lg div {
		padding: 10px;
		height:120px;
		border: none;
		border-top:solid 1px #bababa;
	}
	.up_lg .eventPromo {
		text-align: right;
		padding: 10px !important;
	}
	.right_lg .eventEnd {
		width: 50%;
		position: absolute;
		right: 0;
		left:auto;
		bottom: 0;
	}
	.left_lg .eventEnd {
		width: 50%;
		position: absolute;
		left: 0;
		right:auto;
		bottom: 0;
	}
	.up_lg .eventEnd {
		width: 100%;
		position: relative;
		right: auto;
		left: auto;
		bottom: auto;
	}
	.right_lg img {
		float:right;
	}
	.left_lg img {
		float:left;
	}
	.left_lg img, .right_lg img{
		width: 50%;
		min-height: 120px;
	}
	.right_lg div, .left_lg div {
		height: auto;
		border: none;
		padding-bottom: 0;
	}
	.right_lg .eventPromo, .left_lg .eventPromo {
		padding-top: 0 !important;
		text-align: left;
	}
}
.event .eventEnd {
    background-color: #fd0202;
    padding:  0px;
	margin-top: -34px;
	width: 100%;
    float: left;
    position: relative;
}
.event .eventEnd p {
    display: block;
    margin: 3px;
    text-align: center;
    border: 1px solid #fff;
    background-color: #fd0202;
    color: #fff;
    padding:  2px;
    font-size: 17px;
	height: 28px;
}
