/* ===================/ADOBE RECOMMENDATIONS/================================== */
.DynamicRecs .RecBlock {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
}
.DynamicRecs .RecBlock ul {
    background: none repeat scroll 0 0 transparent;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.DynamicRecs .RecBlock li {
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}
.DynamicRecs .prev, .DynamicRecs .next {
    -moz-user-select: none;
    display: block;
    float: left;
	background-color: #EDEBEC;
	position: relative;
	z-index: 0;
}
.DynamicRecs .prev span, .DynamicRecs .next span {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 25px solid #EDEBEC;
    border-top: 25px solid #EDEBEC;
    cursor: pointer;
    display: block;
    height: 0;
    line-height: 0;
    margin: 0;
    overflow: hidden;
    width: 0;
}
.DynamicRecs .next span {
    float: right;
}
.DynamicRecs .next span:hover {
    border-left-color: #666666;
}
.DynamicRecs .prev span {
    float: left;
    visibility: hidden;
}
.DynamicRecs .prev span:hover {
    border-right-color: #999999;
}
.DynamicRecs .RecHead {
    border: medium none;
    display: block;
    font-family: Arial;
    height: 31px;
    line-height: 31px;
    padding: 0 0 0 17px;
    width: auto;
	position: relative;
	/*z-index: 2;*/
	background: url("/assets/f/recommendations/FH_recom_top.jpg") repeat-x scroll left top transparent;
	-moz-box-shadow: 0px 3px 4px #999999;
	-webkit-box-shadow: 0px 3px 4px #999999;
	box-shadow: 0px 3px 4px #999999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=179, Color='#999999')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=179, Color='#999999');
}
.DynamicRecs .RecHead span {
    color: #424242;
    float: left;
    font-size: 18px;
    font-weight: bold;
}
.DynamicRecs .RecHead .RecLink, .DynamicRecs .RecHead .RecLink:link, .DynamicRecs .RecHead .RecLink:visited {
    color: #666666;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin: 0 10px 0 0;
    text-decoration: none;
}
.DynamicRecs .RecHead .RecLink {
color: #FF6633;	
}
.DynamicRecs .RecHead .RecLink:hover {
    text-decoration: underline;
}
.DynamicRecs .RecBlock a {
    text-decoration: none;
}
.DynamicRecs .recprodTitle {
    color: #666666;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 34px;
    margin: 3px 7px;
    overflow: hidden;
    text-decoration: none;
    width: auto;
    word-wrap: break-word;
}
.DynamicRecs .recprodTitle:hover {
    color: #888888;
    text-decoration: none;
}
.DynamicRecs .recprodLink img {
    border: medium none;
    display: block;
    margin: 8px auto;
    width: 100px;
}
.DynamicRecs .recprodPrice {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
	color: #666666;
}
.DynamicRecs .recprodPPM {
    display: block;
    font-size: 20px;
    font-weight: 700;
	overflow: hidden;
    text-align: center;
	color: #666666;
}
.DynamicRecs .recprodPPM span {
    font-size: 14px;
    font-weight: 200;
}
.DynamicRecs .recprodLrnMr {
    color: #666666;
    display: block;
    font-size: 12px;
    margin: 10px 3px 3px;
    text-align: center;
    text-decoration: none;
}
.DynamicRecs .recprodLrnMr:hover {
    color: #888888;
    text-decoration: underline;
}
.ppmDivider {
    margin: 12px auto;
	display: block;
    height: 1px;
	width: 100px;
	border-bottom: 1px solid #cccccc;
}

/* ===================/NAVIGATION (MEGATAB)/================================== */
/*BEGIN MENU*/
ul#menudropd {list-style:none; font-family: Helvetica, Arial, sans-serif; margin:0; width:1016px; padding:0; height:39px; background:url(/assets/f/header/navback.jpg) top left repeat-x #4DBAE6;}
ul#menudropd > li{float: left; display: block; text-align:center; position: relative; *z-index:1000;}
ul#menudropd li a {color:#fff; text-decoration: none;}
ul#menudropd li.mainlinks {background:url("/assets/f/header/tabDownState.jpg") top left repeat-x; float:left; height:39px; *z-index: 99;}
ul#menudropd .mainlinks:hover {background:url("/assets/f/header/tabUpState.jpg") top left repeat-x; border-left: 1px solid #222222; margin-left: -1px; color:#ffffff;}
ul#menudropd .mainlinks a {
    color: white; font-size:14px; font-weight:bold; padding:12px 13px; display:block; text-align:center; text-decoration: none; line-height:16px; height:16px;}
ul#menudropd .megas span.column1 li a {background: none repeat scroll 0 0 transparent; padding: 0 5px 0 12px; text-align:left; line-height: 20px; height: 18px;}
ul#menudropd .megas span.column1 li a:hover {background: url("/gettington/assets/images/megatab/new-nav-arrow.png") no-repeat scroll -5px 1px transparent; color: #28A6DD;}
ul#menudropd div {display: none;}
ul#menudropd li.mainlinks h5 {font-size:20px;}
ul#menudropd li.mainlinks h2 {font-size:24px; color:#DDD;}
ul#menudropd li.mainlinks div {background:#fff;/*border: 1px solid#CCC;*//*position: absolute;*/top:40px; left:0; display:none; }
ul#menudropd li.hovering div {display: block;}
ul#menudropd li div a.more {color:#ccc; font-weight:bold;}
ul#menudropd li.mainlinks{*z-index:1000;}
ul#menudropd div h5 {color:#333; font-weight:bold; font-size:.35em;}
ul#menudropd div p {margin: 0px 0px 15px 0px;padding: 0px 0px 0px 5px;text-align: left;color: #DDD;}
ul#menudropd li.mainlinks div .mainlinks{float:left; height:35px; background:#444;}
ul#menudropd li.mainlinks .slimcol {float:left; min-width:150px;}
ul#menudropd li.mainlinks .furniture .slimcol {float:left; min-width:150px;}
ul#menudropd li.mainlinks .furniture .slimcol .borderright{float: left;min-width: 171px;*min-width:150px;*padding-left:10px;}
ul#menudropd li.mainlinks .borderright {border-right: 1px solid #CCC;padding-right: 20px;}
ul#menudropd .megas{position:absolute;  left:-999em; /* Hides the drop down */  text-align:left;  padding: 20px 30px; border:1px solid #CCC; border-top:none;  -moz-box-shadow: 3px 3px 8px 0px #CCC;-webkit-box-shadow: 3px 3px 8px 0px #CCC;box-shadow: 3px 3px 8px 0px #CCC;z-index: 9999;}
    /*megas Width*/
ul#menudropd .bedbath{width:600px; margin-left:0;}
ul#menudropd .kitchen{width:954px; margin-left: -104px;}
ul#menudropd .furniture{width:954px;margin-left: -186px;}
ul#menudropd .home{width:954px; margin-left: -280px;}
ul#menudropd .sports{width:982px; margin-left:-353px;}
ul#menudropd .electronic{width:940px; margin-left: -407px;}
ul#menudropd .toys{width:905px; margin-left: -474px;}
ul#menudropd .baby{width:905px; margin-left: -534px;}
ul#menudropd .healthbeauty{width:637px; margin-left: -322px;}
ul#menudropd .apparel{width:850px; margin-left: -678px;}
ul#menudropd .shoes{width:850px; margin-left: -758px;}
ul#menudropd .jewelry{width:830px; margin-left: -809px;}
    /*COLUMNS*/
ul.column1{float:left;}
ul.column1 a{font-size:14px;color:#000;}
 /*COLUMNS*/
  /*original NAV CONTENT*/
ul#menudropd .megas .electronic .slimcol {float: left;min-width: 150px;padding-left: 10px;}
ul#menudropd .megas ul {margin: 0px 0px 15px 0px; padding: 0px 0px 0px 25px; text-align: left;}
ul#menudropd .megas li {list-style: none; display: block; margin: 0px;padding: 0px;}
ul#menudropd .megas li a {display: block;padding: 0px 5px 0px 12px;text-align: left;text-decoration: none;margin: 0px;background: none;/*line-height:28px; */color:#666;font-weight: 500;font-size: 14px;}
ul#menudropd .heading {color:#666; font-size:14px; text-transform:uppercase; font-weight:bold; margin:10px 0px;}
ul#menudropd .borderright {border-right: 1px solid #CCC;padding-right: 20px;}
ul#menudropd .megas .subbold {color:#0598C6;font-weight: 700;font-size:14px; line-height:28px; margin-left: -10px;}
ul#menudropd .megas ul.firstcl {padding-left: 0px;}
ul#menudropd span.column1 ul.firstcl{*padding-left:0px;}
ul#menudropd .megas ul.featurecat {clear: left;float: left;height: 135px;}
ul#menudropd .megas ul.featuredshops li.heading {color: #28A6DD;font-size: 14px;text-transform: uppercase;font-weight: 900;margin: 0px 0px 10px 0px;padding: 0px;}
ul#menudropd span.column1 .widecol {float: left;padding-top:40px;min-width: 120px;}
/*ul#menudropd .mainlinks .megas .hztln {border-top: 1px solid #CCC;width: 100%;clear: both;display: block;margin: 0px 0px 15px 0px;padding: 0px;height: 1px;}
ul#menudropd .mainlinks ul.featuredShops {float: right;}*/
ul#menudropd .mainlinks ul.firstcl {padding-left:0px;}
ul#menudropd .featuredShops a.ftrdshp {color: #D0218B;font-weight:900;font-size:14px;padding:0px 0px 0px 10px;margin: 3px 0px 0px -10px;line-height: 14px;}
ul#menudropd .mainlinks .widecol {float: left;padding-top: 40px;min-width: 120px;}
ul#menudropd .endcol {padding-left:0px;}
ul#menudropd .mainlinks .slimcol .heading, ul#menudropd .mainlinks .widecol .heading  {color:#666; font-size:14px; text-transform:uppercase; font-weight:bold; margin: 10px 0px;}
ul#menudropd .mainlinks .subbold {color:#0598C6; font-weight:700; font-size:14px; line-height:28px; margin-left: -10px;}
ul#menudropd .mainlinks li.subbold {margin-left:0px;}
ul#menudropd .borderright {border-right:1px solid #CCC; padding-right:20px;}
ul#menudropd li.mainlinks .giftfinder .slimcol {float:left; min-width:143px;}
ul#menudropd .megas span.column1 .widecol .borderright{float:left; padding-top:40px; min-width:120px;}
ul#menudropd li.lasttab{background: none; width:82px;}
ul#menudropd .mainlinks ul.featureCat {clear:left;float:left;height: 50px;}
ul#menudropd .mainlinks ul.featuredShops{color:#D0218B;}
ul#menudropd .mainlinks ul.featuredShops a.ftrdshp:hover{background: url("/assets/g/nav/new-nav-bot-arrow.png") no-repeat scroll -5px -2px transparent;color: #D0218B;text-decoration: none;}

/*==END OF *SHAN* EDIT==*/
ul#menudropd .mainlinks ul.featuredShops a:hover {background: url("/assets/g/nav/new-nav-bot-arrow.png") no-repeat scroll -5px -2px transparent;color: #D0218B;text-decoration: none;}
ul#menudropd .mainlinks ul.featureCat a:hover {background: none;}
ul#menudropd .mainlinks ul.featureCat li {float:left;}
ul#menudropd .mainlinks ul.featureCat li.heading {float:none;color: #666;font-size: 14px;text-transform: uppercase;font-weight: 900;margin: 0 0 10px 0;padding: 0;}
ul#menudropd .mainlinks ul.featuredShops li.heading {color: #28a6dd;font-size: 14px;text-transform: uppercase;font-weight: 900;margin: 0 0 10px 0;font-weight:bold;text-align:center;padding: 0;}
ul#menudropd.mainlinks ul.featureCat a:hover span{background: none;color: #28a6dd;}
ul#menudropd .mainlinks ul.featureCat a span {line-height: 16px;text-transform: uppercase;font-weight: bold;text-align:center;}
ul#menudropd .mainlinks ul.featureCat a:hover span{background: none;color: #28A6DD;}
ul#menudropd .mainlinks ul img {border: none;}
ul#menudropd .mainlinks .megas .hztln{border-top: 1px solid #cccccc;width: 100%;clear: both;display:block;margin: 0px 0px 15px 0px;padding: 0px;height:1px;}
ul#menudropd li.mainlinks div ul.featuredShops a.ftrdshp {color: #D0218B;font-weight:900;font-size:14px;padding:0px 0px 0px 10px;margin: 3px 0px 0px -10px;line-height: 14px;}
ul#menudropd span.column1 .widecol {margin: 37px 0px 15px;padding: 0px 0px 0px 20px;text-align:left;}
ul#menudropd li.lasttab {background: none repeat scroll 0 0 transparent;}
ul#menudropd .megas .featureCat a.ftrdimg{
    padding: 0 5px 0 12px;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
    color:#28a6dd;
}
ul#menudropd .megas .featureCat a.ftrdimg:hover {
    text-decoration:none;
    background: url("/gettington/assets/images/megatab/new-nav-arrow.png") no-repeat scroll -5px -1px transparent;
}
/*spacing*/
span.megaSpace{display: block;margin-top:6px;}
span.megaSpace1{display: block;margin-top:38px;}
.outdoors{*width:183px;}
#headerContent .nav {padding-top: 0px;}
/*END MENU*/
/* ===================/NAVIGATION (MEGATAB)/================================== */

/*Equal Distant Tabs*/

ul#menudropd {
    text-align: justify;
}

ul#menudropd li.mainlinks {
    display: inline-block;
    float: none;
}

ul#menudropd .mainlinks > a {
    padding: 12px 10px;
}

ul#menudropd:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.hdrShadow {display:none;}


/*Header Search Box over ride*/
.keyword-search input.txt, 
.keyword-search input.searchbox {
    margin: 6px 0;
}
.keyword-search {
    background: transparent url(/assets/f/spc/search-area-bg.png) top right no-repeat;
}

.keyword-search .srTxt {
    margin-left:10px;
}
.keyword-search .headerSearchTxt {
    margin-top: 11px
}

#header .whyLink {
    padding-top: 13px;
}

.user-feedback.container input[type='text'].last-four-digits {
width: 55px;
}

/* ===================/HOOKLOGIC BANNER ADS/================================== */

.hooklogic-leader-faq {color:#ccc;margin:5px 0 0 4px;}
.hooklogic-vert-ros-left {color:#ccc; font-size:12px; margin-left:16px; margin-top:20px; margin-bottom:20px; text-align:center; width:160px;}
.hooklogic-vert-ros-left::before {content:"Advertisement"; color:#ccc;}
.hooklogic-text {color:#ccc; margin-left:30px;}

/* Homepage */
#Homepage_p1_300x250 {color:#ccc; display:block; margin-top:10px; text-align:left; width:300px;}

#Homepage_p1_728x90 {color:#ccc; margin: 0 0 10px 176px;}

#Homepage_p2_160x600 {margin:20px 25px;}
/* #Homepage_p2_160x600::before {content:"Advertisement"; color:#ccc; font-size:12px; margin:0 40px;} */

/* Section Category Thumb Search */
#ROS_p1_160x600 {margin:20px auto; text-align:center; width:192px;}
#ROS_p1_160x600::before {content:"Advertisement"; color:#ccc; font-size:12px;}

#Search_p1_160x600 {margin-bottom:20px; margin-top:20px; text-align:center;	width:192px;}
#Search_p1_160x600::before {content:"Advertisement"; color:#ccc; font-size:12px;}

/* Product Pages */
#Productpage_p1_160x600 {margin:20px 25px;}
/* #Productpage_p1_160x600::before {content:"Advertisement"; color:#ccc; font-size:12px;} */

/* My Account */
#Fingerhut_MyAccount_p2_160x600 {color:#ccc; font-size:12px; margin:20px auto; text-align:center;}
#Fingerhut_MyAccount_p2_160x600 ::before {content:"Advertisement"; color:#ccc; display:block; font-size:12px;}

#Fingerhut_MyAccount_p1_728x90 {margin-bottom:20px; margin-top:20px;}
#Fingerhut_MyAccount_p1_728x90 ::before {content:"Advertisement"; color:#ccc; display:block; font-size:12px; text-align:left;}

/* ===================/CATEGORY BANNERS/================================== */
/* Responsive / Adaptive Category Banners v150226 */
.mc-bnr-wrap h1, .mc-bnr-wrap h2, .mc-bnr-wrap h3 {
	margin: 20px 0 10px 0;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.mc-bnr-wrap h1, .mc-bnr-wrap h1 {
	font-size: 33px;
}
.mc-bnr-wrap {
	width: 100%;
	position:static;
}
.mc-bnr-1up .btn {
	position:absolute;
	bottom:0;
}
.mc-bnr-wrap .mc-promo {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom:20px;
	min-height: 200px;
	background: #fff no-repeat top right;
	display: inline-block;
	color: #333333;
}
.mc-bnr-wrap .mc-promo:hover {
	opacity: .9;
	text-decoration: none;
}
.mc-bnr-wrap .mc-promo .btn.tertiary {
	color: #fff;
}
.mc-bnr-1up .mc-promo {
	width: 100%;
}
.mc-bnr-1up .mc-promo p {
	font-size: 16px;
	margin: 0 0 10px 0;
	width: 40%;
	/* height: 130px; */
}
.mc-bnr-1up h1, .mc-bnr-1up p {
	max-width: 50%;
}
.mc-bnr-2up .mc-promo {
	width: 50%;
	padding-top: 140px;
	background-size: 100% auto;
}
.mc-bnr-2up .mc-promo .bnr-link {
	color: #007BC8;
}
.mc-bnr-2up h1 {
	font-size: 24px;
}
.mc-bnr-3up .mc-promo {
	width: 33%;
	background-size: 100% auto;
	padding-top: 120px;
}
.mc-bnr-3up h1 {
	font-size: 24px;
}
.mc-bnr-details {
	cursor:pointer;
	font-size:11px;
	text-decoration:underline;
}
.mc-bnr-plain {
	opacity:1 !important;
}
#pageContainer .catHero .mc-adaptive *, 
#pageContainer .sectionHero .mc-adaptive *,
#pageContainer .thumbTC .mc-adaptive * {
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

/* ===================/NAV ICONS/================================== */
/* Jan 2015 Nav Icons */
/** Fix broken recs **/
#Rec-1 {box-sizing:content-box;}
#rr_placement_0 {box-sizing:content-box;}

/* Allow Grid - Section Page */
#pageContainer .sectionHero *, #pageContainer .sectionMC .mc-category-body * {
	box-sizing:border-box;
}
/* Allow Grid - Category Page */
#pageContainer .catHero *, #pageContainer .catMC .mc-category-body *{
	box-sizing:border-box;
}

#pageContainer .catMC .mc-toyfinder-body *{
	box-sizing:border-box;
}

/** General Page Styles **/
.mc-category-body h2 {
	font-size: 1.85em;
	display: block;
}

.mc-category-body h3 {
	font-size: 1.5em;
	display: block;
}

/** Nav Icons **/
.mc-cat-section {
	box-sizing: border-box;
	margin-bottom: 20px;
	overflow: hidden;
}
.mc-cat-section .grid {
	font-size: 1.08em;
	text-align: center;
}
.mc-cat-section .grid img {
	display:block;
	margin: 0 auto 10px auto;
}
.mc-thumbs .grid img {
	height: 120px;
	width: 120px;
	margin-bottom: 10px;
}
.mc-cat-section .grid a:hover img {
	opacity: .5;
}
.mc-cat-section .grid-group:first-of-type {
	margin-top:10px;
}
.mc-cat-section .grid-group {
	margin-top:30px;
}

/* Bed + Bath Category */
.mc-menu-heading {
	color:#333;
	font-size:22px;
	font-weight:700;
	margin-bottom:10px;
}
.mc-menu-column {
	float:left;
	margin:0 5px;
}
/* Toggle Links - Bed and Bath */
.mc-toggle-categories{
	list-style:none;
	padding:0;
	margin:0;
}
.mc-toggle-menu {
	color: #039cda;
	cursor: pointer;
	font-size: 12px;
	font-weight:normal;
	letter-spacing: 1px;
	margin-left:5px;
}
.mc-toggle-categories li {
	font-weight:bold;
	font-size:16px;	
	width:100%;
	line-height:21px;
	margin:0 0 10px 0;
}
.mc-toggle-categories ul li {
	font-size:13px;
	font-weight:normal;
	line-height:14px;
	margin:0 0 10px 0;
}
.mc-toggle-categories li a {
	display:inline-block;	
}

/* Nav Icons - Phasing Out */
ul.catIcons {
	float:left;
	display:block;
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}
ul.catIcons li {
float: left;
display: block;
list-style: none;
margin: 0;
padding: 0;
width: 158px;
}
ul.catIcons li img {
width: 120px;
height: 120px;
padding: 0 19px;
}
ul.catIcons li a:hover img {
	opacity:0.5;
}
ul.catIcons li a {
	float:left;
	display:block;
	text-align:center;
	height:auto;
	border-right:solid 1px #dedede;
	padding:0;
	margin: 0;
}
ul.catIcons li a:hover {
	color:#333;
}
ul.catIcons li a p {
	font-weight:700;
	margin: 10px auto;
	width:100%;
	max-width:138px;
	color:#333;
}

ul.catIcons li.lastIcon a {
	border-right:none;
	width:100%;
}
.spacer10 {
	height:10px;
}
.catHeader {
	color: #333;	
	height: 35px;
	font-size: 19px;
	padding:0;
	width:100%;
}
.catHeader h3 {
	font-size: 19px;
	font-weight: normal;
	line-height: 35px;
}

/*nav icon 1080 gap fix*/
.catMC {
	margin:10px 0;
	width:100%;
}

/* ===================/CELL PHONE BUYING GUIDE (MODAL) /================================== */
.CPGwrapper {font-family:Arial, Helvetica, sans-serif; padding:0 0px; text-align:justify; width:592px;}
.CPGwrapper h2 {margin:0 0 5px 0; padding:0;}
.CPGsection {border-top:1px solid #999; overflow:hidden; padding:0; width:100%;}
.CPGsection h3 {font-size:16px; font-weight:bold; margin:0; padding:15px 0 0 0; width:592px;}
.CPGsection h4 {background-color:#ffffff; font-weight:bold; font-size:14px; margin:0 0 3px 0; padding:0;}
.CPGsection p {font-size:12px; line-height:15px; margin:5px 0 3px 0; text-align:justify; width:592px; }
.CPGsection img {float:right; margin:0 0 0 20px;}
.CPGsection ul {font-size:12px; max-width:472px; list-style:disc; margin:0 0 20px 0; padding:0;}
.CPGsection li {margin:0 0 7px 17px;}

/**
Homepage Redesign CSS - Summer / Fall 2015
Requires: Bootstrap

Notes:
"pb-" = promo banner
"hp-" = homepage

**/

/* Layout */
#mcReduxHomepageBannerArea1 img, #mcReduxHomepageBannerArea2 img, #mcReduxHomepageBannerArea3 img, #mcReduxHomepageBannerArea4 img {
	margin-left: 7px;
}

.hp-container > .row { margin-bottom:20px; }

.hp-container .btn {font-weight:normal;}

.hp-section-header { font-size:18px; padding: 15px 0 5px 30px;}

.hp-hero { 
	margin:0 0 10px;
}

.hp-hero img {
	margin:0 auto;
}

.hp-container .btn.tertiary {
	border: 1px solid #007bc8;
	background: #ffffff;
	color: #007bc8;
}

.hp-container .btn.tertiary:hover {
	color:#fff;
	background-color:#007bc8;
}

.hp-container .row  {
	margin-left: -10px;
	margin-right: -10px;
}

.hp-container .col-xs-4, .hp-container .col-xs-6, .hp-container .col-xs-8, .hp-container .col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

.hp-container h1,
.h1,
.hp-container h2,
.h2,
.hp-container h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.hp-container h4,
.h4,
.hp-container h5,
.h5,
.hp-container h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hp-container p {
  margin: 0 0 10px;
}

.mc-homepage-header1 img {
    margin: 0 auto;
}


/* Hooklogic */
.hp-hooklogic { width:100%; border-radius:10px; padding-bottom:20px; border:2px solid #d8d8d8;}
.hp-hooklogic .hp-sponsered-product { float:left; padding:0 10px; text-align:center;}
.hp-hooklogic .col-xs-4 { border-left:solid 1px #d8d8d8; }
.hp-hooklogic .col-xs-4:first-child { border:none; }
.hp-sponsered-product img { width:150px; margin-bottom:10px; }
.hp-leaderboard-ad { height:90px; width:728px; margin:0 auto; }
.hp-square-ad { width:300px; height:250px; margin:0 auto;}

.hp-sub-promotion { height:480px;border-radius:10px; border:2px solid #d8d8d8; text-align:center; }
.hp-sub-promotion img { border-top-left-radius:8px; border-top-right-radius:8px; }
.hp-sub-promotion h2 { font-family:'Source Sans Pro', arial, san-serif; font-weight:700; font-size:24px; line-height:1.3 }
.hp-sub-promotion p { font-family:'Source Sans Pro', arial, san-serif; font-weight:600; font-size:16px; padding-bottom:5px; color:#666;}
.hp-sub-promotion a { color:#333; text-decoration:none; }
.hp-see-details { font-size: 12px; text-decoration: underline;}
/** END Homepage Redesign CSS - Summer / Fall 2015  **/

/*css reset styles*/
.loginPage h1 {
    font-weight: 700;
    color: #333;
    font-size: 16px;
}

.DynamicRecs .RecBlock li {
    float: left !important;
}

.popupContainer .layerBody, 
.layerContainer .layerBody {
    margin: 0 !important;
    border: none !important;
    text-align:justify;
    background: #fff;
}

.layerContainer {
    background: #fff;
    padding: 15px 10px;
}
/* Restore content-box layout for MC sections */
#pageContainer .sectionHero,
#pageContainer .sectionHero *,
#pageContainer .sectionTC1,
#pageContainer .sectionTC1 *,
#pageContainer .sectionTC2,
#pageContainer .sectionTC2 *,
#pageContainer .sectionTC3,
#pageContainer .sectionTC3 *,
#pageContainer .sectionMC,
#pageContainer .sectionMC *,
#pageContainer .catHero,
#pageContainer .catHero *,
#pageContainer .catTC1,
#pageContainer .catTC1 *,
#pageContainer .catTC2,
#pageContainer .catTC2 *,
#pageContainer .catTC3,
#pageContainer .catTC3 *,
#pageContainer .catMC,
#pageContainer .catMC *,
#pageContainer .thumbTC,
#pageContainer .thumbTC * {
    box-sizing: content-box;
    -moz-box-sizing: content-box; /* Remove after Firefox 29 */
}

/*Category middle container fix*/
#section .sectionBody {
    margin: 0 auto;
}

/*Customer service fixes*/
#addressBookWrap ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 10px 0;
}

#deliveryDateMessages ul {
    padding: 0 0 0 40px;
}

/*support b tag*/
strong, b {
    font-weight:700;
}

/* Site Ops Styles*/
.ops-rc1 {padding-bottom:20px;} /* Right Col Marketing Messaging */
.ops-rc {padding: 20px 0;}
.ops-rc2 {padding:20px 0;}
.ops-pb-line {border-right:1px solid #d8d8d8;} /* Promo Banner Dividing Line */
.mcBannerArea1, .mcBannerArea2, .mcBannerArea3 {width:auto;} /* Promo Banner Floating Tiles */
.mcHomepageBannerArea1, .mcHomepageBannerArea2, .mcHomepageBannerArea3 {width:auto;}

/*Credit Terms Schumer Box*/
.schumer-wrapper {
	border: 1px solid #000;
	padding: 10px;	
}

.schumer-table {
	border: 1px solid #000;
	border-collapse:collapse;	
	cellpadding:10px;
	cellspacing:0;
	margin-bottom:20px;
	max-width:100%;	
	word-wrap:break-word;
}

.schumer-table-modal {
	border: 1px solid #000;
	border-collapse:collapse;	
	cellpadding:10px;
	cellspacing:0;
	margin-bottom:20px;
	max-width:700px;	
	word-wrap:break-word;
}

.schumer-table th, .schumer-table tr, .schumer-table td {
	border: 1px solid #000;
	border-collapse:collapse;
	padding:5px;
}

.schumer-table .fee-type {
	font-weight:700;
	padding:5px;
	text-align:left;
}

.schumer-table .fee-sub-type {
	padding:5px;
	text-align:right;
}

.schumer-section-header {
    background-color: #000;
    border-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
	padding:2px 5px;
}

.schumer-title {
    border-color: #000;
    font-size: 20px;
    font-weight: 700;
	padding: 5px;
}

/* Wishlist Module */
#myWishlist .wishlist-header {
  color: #424242;
  display: block;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  height: 31px;
  line-height: 31px;
  padding: 0 0 0 17px;
  overflow: hidden;
  background-color: #ffffff;
}
#myWishlist .wishlist-header a {
  color: #adadad !important;
  font-weight: 500;
  font-size: 12px;
  float: right;
  padding-right: 20px;
}
#myWishlist .carousel-inner .item > div {
    min-height: 230px;
}
#myWishlist .carousel-inner .item > div {
    min-height: 230px;
}
.wishlist-container {
  border: 2px solid #d8d8d8;
  border-radius: 10px;
  color:#666;
  padding: 10px;
  margin: 30px 0 10px 0;
  min-height:291px;
}
.wishlist-container:hover {
  color:#007bc9;
}
.wishlist-container .product-link {
    font-size: 14px;
    margin: 20px auto 5px auto;
    text-decoration: none;
    word-wrap: break-word;
    color: #666;
}
@media (max-width: 768px) {
  .wishlist-container .product-link {
      font-size: 12px;
  }
}
.wishlist-container .product-link:hover {
    color:#007BC9;
}
.wishlist-container a#wishlist-control {
  display: none;
}
.wishlist-container .remove {
  display: none;
}
/*.carousel-indicators li {
  background-color:#adadad;
}
.carousel-indicators .active {
  background-color:#5c5c5c;
}
.carousel-inner {
  text-align: center;
}
.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-control.left,
.multi-item-carousel .carousel-control.right {
  background-image: none;
}*/
/* END Wishlist Module */

/*Hide broken printer icon*/
#creditAccountPayment .icon-font {
    display:none;
}

/*Temp fix for category page face active nav ML*/
.facet-category.current .facet-category-name, 
.categories-current-name {
    margin: 0;
}

/*honors widget hot fix */
.honors-box .honors-area .img-responsive {
    height: 100px;
}

/* quick view listing page hot fix*/
.variant-positioning {
margin-left: -4px; 
}

.variant-positioning li {
list-style-type: none;
}

/* Category-Level Warranty Modal Styling */
.esp-mktg {
  font-size:14px;
  font-weight:bold;
  clear: both;
}
.mc-warranty-mod {
  color: #666;
}
.mc-warranty-mod .headline {
  color:#039CDA;
  font-size: 26px;
  font-weight: 700;
  margin-bottom:5px;
}
#esp-furniture.mc-warranty-mod .headline {
  color:#039CDA;
  font-size: 22px !important;
  font-weight: 700;
  margin-bottom:5px;
}
#esp-furniture ul.standard {
  margin-left:0;
}
.mc-warranty-mod h3 {
  font-size: 18px;
  font-weight: 500;
}
.mc-warranty-mod img {
  float: left;
}
.warranty-product-image img {
  width:50px;
  height:50px;
}
.warranty-product-title {
  font-size:13px;
}
.warranty-product-number {
  font-size:10px;
}
.warranty-details {
  margin: 0;
  padding:5px;    
  height:auto;
  width:475px;      
}
#esp-jewelry .line-2, #esp-furniture .line-2 {
  font-size:19px;
}

/* Site Ops HTML Promo Banners*/

.pb-copy .icon-font {
	display:inline;
}

.pb-h3 {
	font-family: 'Lato', Arial, serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
}
.pb-copy {
	font-family: 'Lato', Arial, serif;
	font-weight: 400;
	font-size: 13px;
	color: #666666;
}
.hp-pb-details {
	text-decoration: underline;
	font-size: 10px;
	color: #666666;
}
 .hp-pb:hover {
	text-decoration:none;
	color:#666666;
}