
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(/fonts/Noto_Serif/Q47Ro23nlKqZrOLipd3-SwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(/fonts/Noto_Serif/qkE6YsKPRiYUugBb1_QwHAsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(/fonts/Noto_Serif/N2U74xxQEyaTBF6QLZRr1AsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(/fonts/Noto_Serif/1_daFS3X6gkNOcmGmHl7UgsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(/fonts/Noto_Serif/G-mm5mDezDSs-RvEL7XAEAsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(/fonts/Noto_Serif/fVu1p3782bqS2z-CaJvp9gsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(/fonts/Noto_Serif/eCpfeMZI7q4jLksXVRWPQwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* --------------------------------------------- */

body  {
	background-color:#f8f8f8;
	font-family: /*"Noto Serif",*/Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
	font-size:13px; 
	color:black;
	height: 100%;
	margin:0px auto; 
}

/* --------------------------------------------- */

x { background-color: yellow; color:black;}
x > x { margin:0 5px;border:1px solid orange; }

/* --------------------------------------------- */


a { color:#0086c8;  text-decoration:none;  }
a:link { text-decoration:none;  }
a:visited { text-decoration:none; }
a:hover { text-decoration:underline; }


/* --------------------------------------------- */

.aqbtn {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	background: #f8f8f8;
	text-align: center;
	max-width: 95%;
   	width: 800px;
	min-height: 42px;
    border: 1px solid #ccc;
    line-height: 1.42857143;
    cursor: pointer;
    border-radius: 3px;
    padding:2px;
    margin: 5px;
    font-size: 80%;
    text-shadow: 1px 1px 0px rgba(255,255,255,.5);
    color: #444;
}
.aqbtn:hover {
	  background-color: #e6e6e6;
	  border-color: #adadad;
}
.aqbtn a:hover { 
	text-decoration: none;
}

/* --------------------------------------------- */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

/* --------------------------------------------- */
/* http://tobiasahlin.com/spinkit/ */

/*
<spinner>
<div class="aqspinner3"><div class="r1"></div><div class="r2"></div><div class="r3"></div><div class="r4"></div><div class="r5"></div></div>
*/

.aqspinner3 {
	display:inline-block;
  	width: 50px;
  	height: 40px;
}

.aqspinner3 > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin:1px;

  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.aqspinner3 > .r1 {
  background-color: #009966;
}

.aqspinner3 > .r2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  background-color: #ffde33;
}

.aqspinner3 > .r3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: #ff9933;
}

.aqspinner3 > .r4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #cc0033;
}

.aqspinner3 > .r5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background-color: #660099;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1c531812d66aeb34d5b677b2b86758ca$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/
.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/images/texturepacker/main.web.png);}

.aqicn-header {width:31px; height:31px; background-position: -32px -38px}
.logo-header {width:31px; height:31px; background-position: -32px -38px}
.background {width:64px; height:32px; background-position: -0px -0px}
.cn {width:16px; height:11px; background-position: -0px -157px}
.es {width:16px; height:11px; background-position: -16px -152px}
.gb {width:16px; height:11px; background-position: -32px -143px}
.heart-icon {width:16px; height:20px; background-position: -0px -126px}
.hk {width:16px; height:11px; background-position: -0px -146px}
.homeicon {width:18px; height:20px; background-position: -21px -121px}
.jp {width:16px; height:11px; background-position: -16px -141px}
.keys-icon {width:17px; height:20px; background-position: -47px -101px}
.kr {width:16px; height:11px; background-position: -39px -132px}
.links-icon {width:29px; height:20px; background-position: -0px -70px}
.magnifying-glass-icon {width:25px; height:20px; background-position: -0px -90px}
.mapb {width:32px; height:32px; background-position: -0px -38px}
.opened-envelope-icon {width:14px; height:20px; background-position: -48px -143px}
.ru {width:16px; height:11px; background-position: -39px -121px}
.shadow-down {width:64px; height:3px; background-position: -0px -35px}
.shadow-up {width:64px; height:3px; background-position: -0px -32px}
.share {width:29px; height:32px; background-position: -32px -69px}
.single_view {width:21px; height:16px; background-position: -0px -110px}
.world-icon {width:22px; height:20px; background-position: -25px -101px}
/* --------------------------------------------- */

@media screen{ body>#header { position:fixed; } }

#header {
    top:0;
	left:0;
	font-weight:normal;
	margin:0px 0px 0px 0px;
	color: white;
	z-index:90; 
	width:100%;
}

#header-in {
	background: #0086c8 url(/images/texturepacker/main.web.png) repeat;
    height: 32px; 
    width:100%; 
}

#fixed-header-shadow-down-out 
{ 
	height: 0px; 
	width:100%; 
	z-index:99; 
	position:absolute; 
}
    
#fixed-header-shadow-down 
{ 
    background-image: url(/images/texturepacker/main.web.png); background-position: -0px -35px; background-repeat: repeat-x;
    width:100%; 
    height:3px; 
}

#clock { 
    text-align:right; 
	color:white; 
    width: 100%;
}

#ClockDate {
    font-size:12px;
}

#ClockTime {
	text-shadow: 1px 1px 0 #000000;
	font-size:26px;
	padding-right:5px;
}

#langselect {
	font-size: 18px;
	font-weight:normal;
	padding-top:5px;
	text-align: center;
	width: 100%;
}

.jiathis_txt {	
	font-family: Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif!important;
}

@media only screen and (max-width: 800px) {  #clock { display:none; }   }

/* --------------------------------------------- */

.maplabel {
	width: 35px;
	text-align:center;
	font-size:18px;
	color:white;
}
.aqilabel {
	font-size:38px;
}
.mapctrlout {
	border:0px solid red;
	padding:4px;
}
.mapctrl {
	font-family: 'Arial Light', Arial, Helvetica, sans-serif;
	padding:1px;
	padding-top:2px;
	font-size:12px;
	margin-top:2px;
	margin:0px;
	border:1px solid #888;
	background-color:white;
	cursor:pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);	
	padding-left:5px; 
	padding-right:5px; 
	border-spacing: 0px;
	z-index:10000;
	
}
.mapctrl:hover {
	background-color: #eee;
}

.mapctrlicon:hover {
	background-color: #eee;
}
.mapctrlicon {
	cursor:pointer;
	padding:5px; 
	background:white;
	border:1px solid grey;
	margin:5px;
	margin-left:0px;
	border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	z-index:10000;
}


/* --------------------------------------------- */

.citysyncok { background-color: #88ff88; }
.citysyncnok { background-color: red; }

.citysync {
	border:1px solid #888;
	background-color:#fff;
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    
    -box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);	
    
	padding:1px;
	margin:1px;
	display: inline-block;
}

/* --------------------------------------------- */

.fluidcolumn50 {
	float:left;
	width:50%;
}

@media only screen and (max-width: 767px) {
	.fluidcolumn50 {
		width:100%;
	}
}

.fluidfooter {
	height:3px; 
	width:100%;  
    background-image: url(/images/texturepacker/main.web.png); background-position: -0px -32px; background-repeat: repeat-x;
}

.fluidcontent 
{
	overflow: auto;
	width:100%;  
	background-color:white;
	margin:0px;
}

/* --------------------------------------------- */

span.cac { background-color:yellow; color:black; margin-left:1px;margin-right:1px;}
span.gen { background-color:yellow; color:black; margin-left:1px;margin-right:1px;}
span.xtm { background-color:black; color:white; margin-left:1px;margin-right:1px;}
span.otm { background-color:red; color:white; margin-left:1px;margin-right:1px;}
span.mtm { background-color:orange; color:white; margin-left:1px;margin-right:1px;}
span.itm { background-color:#00c886; color:white; margin-left:1px;margin-right:1px;}

/* --------------------------------------------- */

table.loghdr { border-spacing:0px; margin:0px; padding:0px; border-bottom:1px solid black; width:100%; }
table.loghdr td { text-align:center; border:1px solid black; font-size:15px;}
table.loghdr td:hover {  background:#ccc;}

/* --------------------------------------------- */

.textshadowblack {
	text-shadow: 1px 1px 0 #000000;
}

.textshadowwhite {
	text-shadow: 1px 1px 0 #ffffff;
}

/* --------------------------------------------- */

.infoBubble {
	color: black;
	
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    
    -box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);	
    
	padding:1px;
	margin:1px;


    text-shadow: 0 0 0 #888;
    xfont-family: Helvetica Neue, Helvetica, arial;
    xline-height: 25px;
    padding: 4px;
    xpadding: 4px 45px 4px 15px;
    xbackground: url(/images/arrow.png) 95% 50% no-repeat;
}

/* --------------------------------------------- */


.citytable { border-spacing:0px; margin:0px; padding:0px; }
.citytable tr:hover { background:#eee; }

div.citylist {
	border:0px dashed #0086c8; 
	overflow: hidden; 
	display: inline-block; 
	white-space: nowrap; 
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px; 
	
	padding-left:2px; 
	padding-right:2px; 
	padding-bottom:5px;
	padding-top:5px;
	margin:1px;
}
div.citylist:hover {
	background: #40b6e8;
}
div.citylist a:hover {
	text-decoration:none;
}
span.province {
	font-size:15px;
	color:#aaaaaa;
}
div.citylist span.city {
	font-size:15px;
}
div.citylist a { color:black; }

.cityaqilist
{
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);	
	xmargin-bottom:10px;
	padding:1px;
	margin:2px;
	font-size:18px;
}

.cityaqilist .aqival
{
	font-weight:bold;
}

.cityaqilist .aqinoval
{
	font-weight:light;
	font-size:10px;
}

.citylistaqival 
{
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);	
	margin-bottom:10px;
	padding:1px;
	margin:2px;
	font-size:18px;
}

span.indiPm {
	color:white;
	text-shadow:  #888 1px 1px 0px;

    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    
    -box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);	
    
	padding:1px;
	margin:1px;
	margin-left:3px;
	font-size:9px;
	font-family: 'Oswald', sans-serif;
	font-weight:light;
}

span.indiPm10 {
	background-color: #888888;
}

span.indiPm25 {
	background-color: #40b6e8;
}




.clock { display:inline; text-align:right; color:white; font-size:18px;}

.widgetin {
	padding:8px;
}

div.header {
	background-image: url(/images/background.png); background-repeat: repeat;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight:bold;
	font-size:12px;
	margin:0px 0px 0px 0px;
	padding:1px;
	color: white;
	height:32px;
}

div.footer a { color:white;text-decoration:none;font-weight:bold; }
div.footer a:hover { color:white; text-decoration:underline; }
div.footer a:link { color:white; text-decoration:none; }	
div.footer a:visited { color:white; text-decoration:none; }	

div.title small { 
	font-weight:normal;
	font-size:26px; 
}

div.subtitle { 
	font-weight:normal;
	border-bottom:dashed 1px #888888; 
	font-size:13px; 
}

div.greybody { background:#f0f0f0; }
div.whitebody { background:white; }

div.upmarker 
{ 
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #777777;
	background-color: #bdbdbd;
	height:1px; 
	width:100%;  
}

div.downmarker
{ 
	border-bottom: 1px solid #777777;
	border-top: 1px solid #ebebeb;
	background-color: #bdbdbd;
	height:1px; 
	width:100%;  
}

div.notice { 
}

div.textheader {
	font-family: 'Oswald', sans-serif;
	font-weight:normal;
	font-size:64px;
	color: black;
}

h1 { 
/*	font-family: Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
*/
	border-bottom:solid 0px #888888; 
	font-weight:normal;
	font-size:32px;
	color: #444444;
	text-shadow:  white 1px 1px 1px;
	padding: 0;
	margin:0;
}
h1 .h1sub
{
	color:#aaa;
	text-shadow:1px 1px 0px white;
	padding:5px 50px;
	font-size:28px;
	margin-top:-5px;
}

@media only screen and (max-width: 420px) {
	h1 { font-size: 25px;}
	h1 .h1sub { font-size:20px;padding:5px;}
}

h2 { 
	border-bottom:solid 0px #888888; 
	font-weight:normal;
	font-size:25px;
	margin:0px 0px 10px 0px;
	padding:0;
}

div.category 
{ 
	background-color:#ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight:normal;
	font-size:24px;
	margin:0px 0px 0px 0px;
	padding:0;
}


table.fetching 
{
	width:100%;
	border:2px solid black;
	border-spacing:0px;
	background:white;
}
table.fetching td
{
	margin:0px; 
	padding:3px;  
	text-align:center; 
	border-bottom:solid 1px #DEDEDE; 
	border-right:solid 1px #DEDEDE; 
	font-size:13px; 
}
table.fetching tr:hover
{
	background:#9AC9FF;
}

table.aqicitylist 
{
	width:100%;
	border:2px solid black;
	border-spacing:0px;
	background:white;
	margin-top:10px;
	margin-bottom:10px;
}
table.aqicitylist td
{
	margin:0px; 
	padding:3px;  
	text-align:center; 
	border-bottom:solid 1px #DEDEDE; 
	border-right:solid 1px #DEDEDE; 
	font-size:13px; 
}
table.aqicitylist thead
{
	margin:0px; padding:3px; background:#e3edef; color:#333333; text-align:left;
}
table.aqicitylist th
{
	margin:0px; padding:5px; font-size:11px;border-right:solid 1px #DEDEDE;border-bottom:solid 3px #DEDEDE;
}
table.aqicitylist tr:hover
{
	background:#9AC9FF;
}


table.sortable {border:1px solid black; padding:0px; margin:0px;border-spacing: 0px; }
table.sortable td{margin:0px; padding:3px;  text-align:center; border-bottom:dashed 1px #DEDEDE; border-right:solid 1px #DEDEDE; font-size:13px; }
table.sortable th{margin:0px; padding:5px; font-size:11px;border-right:solid 1px #DEDEDE;border-bottom:solid 3px #DEDEDE;}
table.sortable thead{margin:0px; padding:3px; background:#e3edef; color:#333333; text-align:left;}
table.sortable tfoot{font-weight:bold; }
table.sortable tfoot td{border:none;}

table.tframe{border:1px solid black; width:75px; height:50px; padding:0px; margin:0px;border-spacing: 0px; }

/* ------------------------------ CLOCK ----------------------------- */

.clock { 
	display:inline; 
	text-align:right; 
	color:white; 
	font-weight:normal;
	font-size:12px;
}

#point { 
	position:relative; 
	-moz-animation:mymove 1s ease infinite; 
	-webkit-animation:mymove 1s ease infinite; 
}


/* ------------------------------ BUTTON ----------------------------- */

.button {
	display:inline-block;
	position:relative;
	background-image: url(/images/background.png); background-repeat: repeat;
	-webkit-box-shadow:inset 0 1px 1px #fff,0 3px 3px rgba(0,0,0,0.6);
	-moz-box-shadow:inset 0 1px 1px #fff,0 3px 3px rgba(0,0,0,0.6);
	box-shadow:inset 0 1px 1px #fff,0 3px 3px rgba(0,0,0,0.6);
	border:1px solid #9ac9ff!important;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}

a.bigbutton {
	display:inline-block;
	border:1px solid black;
	color:black;
	padding:2px;
	margin:2px;
    border-radius:2px;
}

a.bigbutton:hover {
	background:white;
	text-decoration: none;
}

a.active {
	background: yellow;
}

/* ------------------------------ LOGO ----------------------------- */

.ui.btn {
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  background-color: #f8f8f8;
  text-align: center;
  width: 95%;
  border: 1px solid #ccc;
  line-height: 1.42857143;
  cursor: pointer;
  border-radius: 4px;
  padding:10px 2px;
  margin: 5px;
  font-size: 15px;
  max-width: 800px;
}
.ui.btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}
.ui.btn a:hover { 
  text-decoration: none;
}

.ui.error .message {
  background-color: #ffc533;
  border-radius: 4px;
  margin: 20px;
  padding:10px 0;
}

.ui.error .title {
  font-size: 90%;
}

.ui.error {
  background-color: #ffb600;
  border-radius: 4px;
  border: 3px solid #ff8400;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 20px;
  margin: 10px 20px;
}

.ui.title.section {
  font-family: inherit;
  font-size: 1.1em;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;
}
.ui.title.section:before, .ui.title.section:after {
  background-color: #ddd;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.ui.title.section:before {
  right: 0.5em;
  margin-left: -50%;
}

.ui.title.section:after {
  left: 0.5em;
  margin-right: -50%;
}

.ui.loading-wheel
{
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid #660099;
    border-right: 1.1em solid #ffde33;
    border-bottom: 1.1em solid #ff9933;
    border-left: 1.1em solid #cc0033;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    margin: 20px 0;
}

.ui.loading-wheel, .ui.loading-wheel:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;

}
@-webkit-keyframes load8 {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}


