﻿body{margin:0;padding:0; font-size:12px; color:#313131;}
h1,h2,h3,h4,ul,p,form{margin:0;padding:0; list-style:none;}
.gray{color:#a9a9a9;}
a img{ border:none;}
a:link{text-decoration:none;color:#1d1d1d;}
a:visited{color:#800080;text-decoration:none;}
a:hover{color:#cc0000; text-decoration:underline;}
a:active{color:#cc0000;}
.clear{ clear:both;}
.float_l{ float:left;}
.float_l a:visited{color:#1d1d1d; text-decoration:none;}
.float_l a:hover{color:#5b5b5b; text-decoration:none;}
.float_r{ float:right;}
.grey{ color:#999;}

.tonglan{margin:0 auto;padding:0;width:950px;}
.menu{width:950px;height:34px;margin:0 auto;font-size:14px;font-weight:bold;clear:both;overflow:hidden;}
.menu_left{float:left;width:3px;height:34px;background:url(http://www.techweb.com.cn/static/img/images/menubg_l.gif) no-repeat left top transparent;overflow:hidden;}
.menu_center{float:left;width:944px;height:34px;background:url(http://www.techweb.com.cn/static/img/images/menubg.gif) repeat-x center center;}
.menu_right{float:left;width:3px;height:34px;background:url(http://www.techweb.com.cn/static/img/images/menubg_r.gif) no-repeat left top transparent;overflow:hidden;}
.menu ul{list-style:none none;margin:0;padding:0;}
.menu li {
	display: block;
	float: left;
	background: url(http://www.techweb.com.cn/static/img/images/jiange.gif) no-repeat 49px 5px;
	margin-top: 4px;
}
.menu li a{color:#FFF;text-decoration:none;display:block;width:49px;text-align:center;padding-top:3px;*padding-top:4px;height:26px;padding-left:1px;}
.menu li a:visited{color:#FFF;}
.menu .on{background:url(http://www.techweb.com.cn/static/img/images/hover.gif) no-repeat top left transparent;color:#285577;}
.menu li a:hover{background:url(http://www.techweb.com.cn/static/img/images/hover.gif) no-repeat top left transparent;color:#285577;text-decoration:none;}
.menu .on:visited{color:#285577;}
.menu .search{ margin-top:6px;padding-left:10px;float:left;}
.menu .search_k{ width:140px;}
.menu li .menu_lmz {
	width: 71px;
	background: url(http://www.techweb.com.cn/static/img/images/jiange.gif) no-repeat 71px 5px;
	_margin-top: 0px;
}
.menu li .menu_lmz:hover{background:url(http://www.techweb.com.cn/static/img/images/hover3.gif) no-repeat top left transparent;color:#285577;text-decoration:none;}

.main{width:950px;margin:0 auto;height:100%;overflow:hidden;padding-bottom:10px;clear:both;}
.xxbox{width:928px;padding:0 10px; padding-top:6px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px; height:92px; overflow:hidden;}
.xx_left{float:left;width:728px;border:#d1d1d1 solid 1px; margin-right:10px; height:90px; overflow:hidden;}
.xx_right{float:left;width:186px;border:#d1d1d1 solid 1px;height:90px; overflow:hidden;}
.xml_img{ margin-top:10px;}
.search{margin-top:10px;}
.search_k{background:url(http://www.techweb.com.cn/static/img/images/search.gif) no-repeat left top; border:none; width:120px;padding:2px;height:15px;float:left;}
.search_btn{margin-left:2px; float:left;}

.main_top{text-align:center;padding-top:10px; padding-bottom:10px; position:relative;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;}
.main_top p{margin-top:10px;}
.main_top .png_img{float:left; position:absolute;top:13px;left:540px;_left:156px;}

.renwu{width:948px;background:url(http://www.techweb.com.cn/static/img/images/renwu_bg.gif) repeat-x center bottom;height:107px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;}
.renwu_img{float:left;width:110px; margin-top:15px;}
.renwu_txt{float:left;width:114px;line-height:20px; margin:25px 6px 0 5px;_margin:25px 5px 0 5px;}

.focus{width:948px;background:url(http://www.techweb.com.cn/static/img/images/focus_bg.gif) repeat-x center top;text-align:center; height:109px;position:relative;border-left:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;}
.focus h1{font-family:"Microsoft YaHei"; font-size:54px; padding-top:12px;*padding-top:17px;color:#313131; line-height:60px;}
.focus h1 a{color:#313131;}
.focus h1 a:hover{color:#bd0a01; text-decoration:none;}
.focus p{font-size:14px;line-height:36px;*line-height:28px;}
.focus p a{color:#797979;}
.focus p a:hover{color:#bd0a01; text-decoration:underline;}
.focus .png_img{float:left; position:absolute;top:2px;left:0px;}

.con{width:950px; margin-top:10px;}
.con h3{font-size:14px; color:#000; text-indent:1.2em; line-height:23px;border-bottom:#cccccc solid 1px; padding-top:3px; height:23px;}
.left0{float:left;width:373px;}
.left0 h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg1.gif) no-repeat center top;}
.left0 ul{line-height:23px;*line-height:24px;font-size:14px;padding-top:7px;padding-left:10px;padding-right:0px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;padding-bottom:5px;height:392px;overflow:hidden;}
.pinglun{font-size:12px;height:12px;float:right;}
#importnews .pinglun{ float:none;}
.left0_btm{background:url(http://www.techweb.com.cn/static/img/images/bg1_btm.gif) no-repeat top center; height:2px; font-size:0; width:373px;float:left;}

.center0{float:left;width:293px;padding:0 10px;}
.center0 h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg2.gif) no-repeat center top;}
.yanlun{width:271px;padding:0 10px; line-height:20px;padding-top:6px;clear:both;overflow:hidden;height:80px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;}
.con h4{ font-size:12px;}
.photo{height:60px;overflow:hidden;position:relative;width:60px;float:left; margin-right:10px;}
.magic1 {background:url("http://www.techweb.com.cn/static/img/images/yuan.gif") no-repeat scroll 0 0 transparent;height:100%;left:0;position:absolute;top:0;width:100%;}
.yanlun p{ color:#717171;}
.center0 ul{line-height:24px; height:136px;overflow:hidden;font-size:14px;padding-top:5px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;padding-bottom:5px; padding-left:10px; padding-right:10px;}
.center0_btm{background:url(http://www.techweb.com.cn/static/img/images/bg2_btm.gif) no-repeat top right; height:2px; font-size:0; width:293px;float:left;}
.right{float:left;width:264px;}
.right_son{float:left;width:264px; overflow:hidden;}
.right h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bgr.gif) no-repeat center top; text-indent:1.8em; height:23px; font-size:14px;}
.right_con{width:262px; border-left:#cccccc solid 1px; border-right:#cccccc solid 1px;overflow:auto;}
.right_bottom{ background:url(http://www.techweb.com.cn/static/img/images/right_bottom.gif) no-repeat center top; height:3px;font-size:0;padding-bottom:10px;}
.right_bottom2{ background:url(http://www.techweb.com.cn/static/img/images/right_bottom.gif) no-repeat center top; height:3px;}
.pk_con{padding:9px 9px 5px 9px;margin:1px; background:#f8f8f8 url(http://www.techweb.com.cn/static/img/images/line.gif) repeat-x bottom center;height:97px;*height:99px;overflow:hidden;}
.pk_con p{line-height:20px; color:#717171; margin-top:3px;}
.photo2{height:70px;overflow:hidden;position:relative;width:82px;float:left;margin-top:10px; margin-right:10px; float:left;}
.magic2 {background:url("http://www.techweb.com.cn/static/img/images/yuan2.gif") no-repeat scroll 0 0 transparent;height:100%;left:0;position:absolute;top:0;width:100%;}
.pk_per{height:70px;}
.pk_per_l{ width:87px;text-align:center; float:left;}

.pk_per_l p,.pk_per_l h4{ line-height:26px;}
.pk_review{ clear:both; height:43px;*height:41px;overflow:hidden;}
.pk_review p{ background:url(http://www.techweb.com.cn/static/img/images/pk_bg.gif) no-repeat center center; text-indent:1.2em;}
.pk_txt a{ line-height:29px; padding:0 13px;}
.site_con{
padding:9px;margin:1px; background:#fff url(http://www.techweb.com.cn/static/img/images/line.gif) repeat-x bottom center;
clear:both;overflow:hidden;height:100%;
}
.site_con img{ margin-top:0px; margin-right:10px;float:left;}
.photo3{height:62px;overflow:hidden;position:relative;width:82px;margin-right:10px;_margin-right:7px; float:left;}
.photo4{height:58px;overflow:hidden;position:relative;width:80px;margin-right:10px;_margin-right:7px; float:left;}
.magic3 {background:url("http://www.techweb.com.cn/static/img/images/yuan3.gif") no-repeat scroll 0 0 transparent;height:100%;left:0;position:absolute;top:0;width:100%;}
.site_con p{line-height:20px; color:#717171; margin-top:3px;}
.site_txt{ line-height:20px; margin:4px 10px;clear:both;overflow:hidden;}
.site_txt li{ line-height:24px;}
.site_txt .zt_list{margin-bottom:-3px;*margin-bottom:-4px;}
.con li.line{background:url(http://www.techweb.com.cn/static/img/images/line.gif) repeat-x center center;line-height:16px;}
.more{float:right; font-size:12px; font-weight:normal;_margin-top:5px;}
.more a{color:#0c81b8; text-decoration:none;}
.more img{margin:0px 5px 0px 3px;}
.more2{float:right; font-size:12px; font-weight:normal;_margin-top:5px;}
.more2 a{color:#ffffff;}
.more2 img{margin:0px 5px 0px 3px;}

/*.xx_box2{height:100%; overflow:hidden;}*/
.box_l{width:676px; float:left; margin-right:10px;}
.box_r{width:264px; float:left;}
.left{float:left;width:333px; margin-right:10px;}
.left h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg3.gif) no-repeat center top;}
.left ul{line-height:24px;font-size:14px;padding-top:7px;padding-bottom:4px;*padding-bottom:5px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px; padding-left:8px; padding-right:9px;}
.center{float:left;width:333px; margin-right:10px;}
.center h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg3.gif) no-repeat center top;}
.center ul{line-height:24px;font-size:14px;padding-top:7px;padding-bottom:4px;*padding-bottom:5px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;padding-left:8px; padding-right:9px;}
.left_btm{ background:url(http://www.techweb.com.cn/static/img/images/bg3_btm.gif) no-repeat top center; width:333px; height:2px; font-size:0; float:left;}
.tabmenu3,.tabmenu4{width:333px;overflow:hidden; background:url(http://www.techweb.com.cn/static/img/images/bt_shequ.gif) repeat-x bottom center;}
.tabmenu3 ul,.tabmenu4 ul{float:left; padding:0; border:none; padding-left:10px;}
.tabmenu3 li,.tabmenu4 li{float:left;display:block;margin-top:2px;height:25px; width:75px; text-align:center;overflow:hidden; margin-right:1px;}
.tabmenu3 .cli3,.tabmenu4 .cli4{float:left;display:block;height:25px;overflow:hidden;background:url(http://www.techweb.com.cn/static/img/images/bt_shequon.gif) repeat-x left top; border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px; font-weight:bold;}
.tabmenu3 li a:visited,.tabmenu4 li a:visited{color:#1d1d1d;text-decoration:none;}
.tabmenu3 li a:hover,.tabmenu4 li a:hover{ color:#1d1d1d;text-decoration:none;}
#tabcontent3{width:333px;}
#tabcontent4{width:333px;}
#tabcontent3 .hidden3{display:none;}
#tabcontent4 .hidden4{display:none;}
.tabmenu3 .more,.tabmenu4 .more{line-height:27px;_padding-top:2px;}
.lump_left{width:686px;float:left;}
.popularize{width:676px;height:67px; float:left; margin-top:10px;}
.popularize_l{height:48px;width:26px; background:url(http://www.techweb.com.cn/static/img/images/huodong.gif) no-repeat left top; font-weight:bold;line-height:24px; padding:9px 16px 10px 9px; float:left;}
.popularize ul{ border-bottom:#d1d1d1 solid 1px;border-top:#d1d1d1 solid 1px; background-color:#f8f8f8; height:56px; overflow:hidden; float:left; width:620px; padding-top:9px; padding-left:3px;}
.popularize li{ float:left; width:185px; margin-right:8px; line-height:24px;}
.popularize_r{ width:2px; height:67px; background:url(http://www.techweb.com.cn/static/img/images/huodong_r.gif) no-repeat left top; float:left;_margin-left:-0px;}

.blk_18 {background:url(http://www.techweb.com.cn/static/img/images/gundong_bg.jpg) no-repeat left center; font-size:12px; overflow: hidden; width:950px;zoom:1;float:left; margin:0px;_margin:0; height:185px;}
.blk_18 h3{ color:#FFF; line-height:25px; font-size:14px; text-indent:1.2em;}
.blk_18 .pcont {float:left; overflow: hidden; width:881px;}
.blk_18 .ScrCont {width:32766px;zoom:1;}
.blk_18 #List1_1 {float:left;}
.blk_18 #List2_1 {float:left;}
.blk_18 .LeftBotton {background: url(http://www.techweb.com.cn/static/img/images/button.gif) no-repeat; float: left; margin: 27px 0px;margin-left:8px;margin-right:6px;width: 18px; height: 72px;}
.blk_18 .RightBotton {background: url(http://www.techweb.com.cn/static/img/images/button.gif) no-repeat; float: left; margin: 27px 0px;margin-left:8px;width: 18px; height: 72px;}
.blk_18 .LeftBotton {background-position: 0px 0px; padding-left: 2px;}
.blk_18 .RightBotton {background-position: 0px -100px; padding-left:2px;}
.blk_18 .LeftBotton:hover{background-position:-22px 0px;}
.blk_18 .RightBotton:hover{background-position:-22px -100px;}
.blk_18 .pl img{display:block;margin:0px auto 0px;cursor:pointer;}
.blk_18 .pl {border:#231815 1px solid;float:left;width: 195px; line-height: 24px; text-align:center;color: #231815; margin:0px 31px 0px 0px;}
.blk_18 a.pl:hover{border:#ffffff 1px solid;background:#ffd9a0;color: #231815;}
.commu_cont3{margin:9px 7px 7px;line-height:150%;}
.commu_cont3 UL{width:188px}

.con2{width:950px;overflow:auto;}
.con2 h3{border-bottom:none;}
.paihang{float:left;width:264px; overflow:hidden;}
.paihang_top{background:url(http://www.techweb.com.cn/static/img/images/right_top.gif) no-repeat top center; height:3px; font-size:0px;}
.paihang_center{ border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;}
.paihang_center h3{ float:left; font-size:14px; line-height:23px; text-indent:1em;}
.paihang_bottom{background:url(http://www.techweb.com.cn/static/img/images/right_bottom.gif) no-repeat top center; height:3px;}
.tabmenu {width:262px; height:100%; overflow:auto; background:url(http://www.techweb.com.cn/static/img/images/pahang_bg.gif) repeat-x bottom center;}
.tabmenu ul{margin-top:4px; float:right; margin-right:6px;}
.tabmenu li{text-align:center;float:left;display:block;width:45px;height:23px;overflow:hidden;background:url(http://www.techweb.com.cn/static/img/images/tab2.gif) no-repeat center center;line-height:23px;display:inline;font-size:12px;}
.tabmenu .cli {text-align:center;float:left;display:block;width:45px;height:23px;overflow:hidden;background:url(http://www.techweb.com.cn/static/img/images/tab1.gif) no-repeat center center;line-height:23px;display:inline;font-size:12px; cursor:pointer;}
#tabcontent {width:242px;background-color:#fff; line-height:24px; padding:4px 10px;}
#tabcontent .hidden {display:none;}
#tabcontent .no1{ background:url(http://www.techweb.com.cn/static/img/images/no1.gif) no-repeat left center; padding-left:20px;}
#tabcontent .no2{ background:url(http://www.techweb.com.cn/static/img/images/no2.gif) no-repeat left center; padding-left:20px;}
#tabcontent .no3{ background:url(http://www.techweb.com.cn/static/img/images/no3.gif) no-repeat left center; padding-left:20px;}
#tabcontent .no4{ background:url(http://www.techweb.com.cn/static/img/images/no4.gif) no-repeat left center; padding-left:20px;}
#tabcontent .no5{ background:url(http://www.techweb.com.cn/static/img/images/no5.gif) no-repeat left center; padding-left:20px;}
#tabcontent .no6{ background:url(http://www.techweb.com.cn/static/img/images/no6.gif) no-repeat left center; padding-left:20px;}

#container li{float:left;position:relative;margin-left:9px;_margin-left:4px;_margin-right:6px;z-index:10000;}
#floater{ position:absolute;top:60px;background: url(http://www.techweb.com.cn/static/img/images/piao.png) no-repeat top left;_background: url(http://www.techweb.com.cn/static/img/images/piao.gif) no-repeat top left;width:387px;height:408px;display:none; padding-top:25px;z-index:10000;}
#floater li{clear:both;width:350px;z-index:10000;}
.floater{ font-weight:bold; padding-right:7px; padding-bottom:5px;}

.gupiao_con{
padding:10px 8px 9px 10px;*padding:10px 8px 10px 10px;margin:1px; background:#f8f8f8 url(http://www.techweb.com.cn/static/img/images/line.gif) repeat-x bottom center;
clear:both;overflow:hidden;height:100%;
}
.photo5{height:75px;overflow:hidden;position:relative;width:120px;margin-right:10px;_margin-right:7px; float:left; margin-top:10px;}
.magic4 {background:url("http://www.techweb.com.cn/static/img/images/yuan4.gif") no-repeat scroll 0 0 transparent;height:100%;left:0;position:absolute;top:0;width:100%;z-index:0;}
.gupiao_con p{line-height:20px; color:#717171; margin-top:8px;}
.gupiao_txt{
line-height:24px; margin:5px 0px 3px 10px;*margin:5px 0px 1px 10px;
clear:both;overflow:hidden;
}

.jk {width:676px;float:left; margin-right:10px;}
.jk h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg4.gif) no-repeat center top; text-indent:1.8em; height:26px;font-size:14px; color:#000; text-indent:1.2em; line-height:23px;border-bottom:#cccccc solid 1px; padding-top:3px; height:22px;}
.jk_img{ width:140px; margin-top:10px;padding-left:20px;margin-right:5px; float:left;}
.jk_con{ border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;width:674px;overflow:hidden;}
.photo6{height:105px;overflow:hidden;position:relative;width:140px;}
.magic5 {background:url("http://www.techweb.com.cn/static/img/images/yuan5.gif") no-repeat scroll 0 0 transparent;height:100%;left:0;position:absolute;top:0;width:100%;
    z-index:0;
}
.jk_img p{line-height:20px; padding:0px 0 1px;*padding:1px 0;}
.jk_btm{ background:url(http://www.techweb.com.cn/static/img/images/bg4_btm.gif) no-repeat top center; width:676px; height:2px; font-size:0;}
.dujia{float:left;width:264px; overflow:hidden;}
.dujia h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bgr.gif) no-repeat center top; text-indent:1.8em; height:24px;border-bottom:#cccccc solid 1px;font-size:14px; color:#000; text-indent:1.8em; line-height:24px; padding-top:2px;}
.dujia_txt{width:262px; border-left:#CCC solid 1px;border-right:#CCC solid 1px; line-height:24px; background-color:#f8f8f8;}
.dujia_txt ul{ padding-top:7px; padding-bottom:3px;*padding-bottom:4px;margin-left:10px;}
.dujia_bottom{ background:url(http://www.techweb.com.cn/static/img/images/right_bottom.gif) no-repeat center top;height:3px;}

.con_xxbox{width:728px; margin:0 auto;}
.nav{width:924px; height:40px; border-top:#eeeeee solid 1px;margin-left:10px;margin-top:10px;}
.nav_left{ float:left; width:87px;}
.nav_left img{ margin-top:5px; margin-left:10px;}
.nav_center{ float:left;width:643px;margin-top:15px; color:#959595; margin-left:10px;}
.nav_center a{ color:#0b3b8c;}
.nav_center a:hover{ color:#bd0a01; text-decoration:underline;}
.nav_right{ float:left;width:184px;}

.main .left2{width:616px;float:left;border-right:none;padding:0 10px;}
.main .left2 .line2{ border-top:#eeeeee solid 1px; height:1px; font-size:0;}
.main .left2 .title{ text-align:center; margin-top:20px; padding:0 10px;}
.main .left2 .title h1{ color:#000; font-size:26px;}
.main .left2 .titleBar{ text-align:center; color:#848484; margin-top:7px; padding:0 10px;}
.main .left2 .titleBar .date,.where,.author,.discuss{ margin-left:15px;}
.main .left2 .titleBar .discuss a{ font-weight:bold; color:#bd0a01;}
.main .left2 .titleBar .discuss a:hover{ text-decoration:underline;}
.content_txt{ padding:0 10px;padding-top:10px;}
.content_txt .con_img{ text-align:center;}
.content_txt .img_txt{ text-align:center; line-height:24px;}
.content_txt img{ border:#333333 solid 1px;}
.content_txt p{ color:#000; text-indent:2em; margin-top:10px; font-size:14px; line-height:25px;}
.content_txt_16 p{font-size:16px; line-height:26px;}
.content_txt_14 p{font-size:14px; line-height:25px;}
.content_txt_12 p{font-size:12px; line-height:20px;}
.page{padding-top:15px;padding-bottom:10px;text-align:center;}
/*.page a{padding:3px 7px; margin:2px; color:#004276; background:url(http://www.techweb.com.cn/static/img/images/digg_bg.gif) no-repeat top left;}*/
.page a{ border:#cfcfcf 1px solid; padding:3px 7px 3px 7px; margin:2px 2px 10px 2px; display:block; color: #004276;}
body .con .page ul li{ background-image:none;}
.page a:hover {color:#fff; background:#336699;}
.page a:active {color:#fff; background:#336699;}
.page span.current { background:url(http://www.techweb.com.cn/static/img/images/digg_bg_on.gif) no-repeat top left;padding:3px 7px; color:#ffffff; margin:2px; font-weight:bold;}
.page span.disabled {background:url(http://www.techweb.com.cn/static/img/images/digg_bg.gif) no-repeat top left;padding:3px 7px; margin:2px; color:#cfcfcf;}
.page span.ending a{padding:3px 4px;}
.page span.fulltext a{background:url(http://www.techweb.com.cn/static/img/images/digg_bg_big.gif) no-repeat top left;}
.page span.fulltext a:hover{background:url(http://www.techweb.com.cn/static/img/images/digg_bg_big2.gif) no-repeat top left;}
.main .left2 h2{ margin-top:3px; font-size:14px; margin-bottom:0px;padding:0 10px;}
.related_article ul{ margin-top:5px;padding:0 10px; font-size:14px; line-height:24px;}
.related_article .date{ font-size:12px; margin-left:15px; color:#9f9f9f;}
.related_article a{ color:#004276;}
.related_article a:hover{color:#bd0a01; text-decoration:underline;}

.related_img {overflow:hidden;zoom:1;float:left;height:141px;}
.related_img h2{ width:500px; float:left;}
.img_btn{ float:right; margin-top:5px; padding:0 10px;}
.related_img .pcont{float:left;overflow:hidden;width:596px;margin:0 10px;_margin:0 5px;margin-top:10px; clear:both;}
.related_img .ScrCont{width:32766px;zoom:1;}
.related_img #List1_1{float:left;}
.related_img #List2_1{float:left;}
.related_img .LeftBotton {background: url(http://www.techweb.com.cn/static/img/images/conimg_btn_left.gif) no-repeat; float: left;width: 21px; height: 13px;}
.related_img .RightBotton {background: url(http://www.techweb.com.cn/static/img/images/conimg_btn_right.gif) no-repeat; float: left;width: 21px; height: 13px; margin-left:3px;}
.related_img .pl img{display:block;margin:0px auto 0px;cursor:pointer;}
.related_img .pl {border:#999999 1px solid;float:left;width: 132px; line-height: 24px; text-align:center;color: #231815; margin:0px 20px 0px 0px;}
.related_img a.pl:hover{border:#333333 1px solid;background:#ffd9a0;color: #231815;}

.partake{ margin-top:13px;border-bottom:#e0e0e0 solid 1px;border-top:#e0e0e0 solid 1px; background:#FFF url(http://www.techweb.com.cn/static/img/images/partake_bg.gif) repeat top left; height:38px;}
.function_btn{ float:left; width:440px;_width:430px; margin-left:10px; margin-top:10px;}
.function_btn img{ margin-bottom:-3px; margin-right:3px;}
.copy_btn,.print_btn,.font_btn,.save_btn{ margin-right:15px;}
.partake_btn{position:absolute;margin-left:450px;*margin-left:0px; margin-top:10px;}
.partake_btn img{ margin-bottom:-3px; margin-right:5px;}
#requirePost { position:relative; width:82px; border:1px solid #cccccc; background:#f7f7f7;left:116px;top:-1px;*top:0px;display:none; z-index:1000;}
#requirePost ul{ margin-top:4px; margin-bottom:4px;}
#requirePost ul li {clear:both; margin-left:10px; margin-top:5px;}
#requirePost ul li img{ margin-bottom:-3px; margin-right:3px;}
#requirePost ul li a{color:#333333;font-size:12px;}
.comment{ width:616px; margin-top:10px;}
.comment h2{ background:url(http://www.techweb.com.cn/static/img/images/pinglun_bg.gif) no-repeat top left; width:606px; height:38px; line-height:38px; padding-left:15px;}
.comment_num{ font-weight:normal; font-size:12px;}
.comment_num a{ font-weight:bold; color:#bd0a01;}
.comment_num a:hover{ text-decoration:underline;}
.pinglun_con{border-left:#ededed solid 1px; border-right:#ededed solid 1px;padding:10px; line-height:24px;}
.pl{ width:547px; float:left;}
.fabiao{border:#ededed solid 1px; background-color:#f6f6f6; padding:4px;}
.fabiao h3{ font-size:14px;}
.huifu_btn{ width:47px; float:left;}
.shengming{ width:484px; float:left; margin-left:10px; line-height:20px; margin-top:5px; color:#999; margin-bottom:10px;}
.xiangguan{ width:616px; margin-top:10px; height:100%; overflow:auto;}
.xiangguan p{ line-height:24px; background-color:#eef1f4; padding-left:10px;}
.xiangguan ul{ margin-left:10px; line-height:24px; margin-top:3px;}
.xiangguan_l{ float:left; width:308px;}
.xiangguan_l h2{ width:288px; line-height:27px; font-size:14px; background:url(http://www.techweb.com.cn/static/img/images/xiangguan_l.gif) no-repeat left top;}
.xiangguan_l_con{ border-left:#e0e0e0 solid 1px;}
.xiangguan_r{ float:right; width:308px;}
.xiangguan_r h2{ width:288px; line-height:27px; font-size:14px; background:url(http://www.techweb.com.cn/static/img/images/xiangguan_r.gif) no-repeat left top;}
.xiangguan_r_con{ border-left:#e0e0e0 solid 1px;border-right:#e0e0e0 solid 1px;}
.xiangguan_btm{ height:3px; width:616px; font-size:0; background:url(http://www.techweb.com.cn/static/img/images/xiangguan_btm.gif) no-repeat top left;}

.main .right2{ width:298px; float:left;_margin-left:-9px;}
.main .right2 .paihang{float:left;width:298px;overflow:hidden;}
.main .right2 .paihang_center{ border:none;}
.main .right2 .paihang_center h3{ float:left; font-size:14px; line-height:27px; text-indent:0.7em; font-weight:normal;}
.main .right2 .paihang_bottom{background:url(http://www.techweb.com.cn/static/img/images/right_bottom.gif) no-repeat top center; height:3px;}
.main .right2 .tabmenu {width:298px; height:100%; overflow:auto; background:url(http://www.techweb.com.cn/static/img/images/paihang2.gif) no-repeat top left;}
.main .right2 .tabmenu ul{margin-top:0px; float:right; margin-right:0px;_margin-right:0px;}
.main .right2 .tabmenu li{text-align:center;float:left;display:block;width:57px;height:27px;overflow:hidden;display:inline;font-size:12px; background:none; line-height:27px;}
.main .right2 .tabmenu .cli {text-align:center;float:left;display:block;width:57px;height:27px;overflow:hidden;background:url(http://www.techweb.com.cn/static/img/images/tab_1.gif) no-repeat center center;line-height:27px;display:inline;font-size:12px; cursor:pointer;}
#tabcontent2 {width:276px;background-color:#f5f7fa; line-height:24px; padding:4px 10px; border-left:#dadada solid 1px;border-right:#dadada solid 1px;border-bottom:#dadada solid 1px;}
#tabcontent2 .hidden {display:none;}
#tabcontent2 .no1{ background:url(http://www.techweb.com.cn/static/img/images/no1.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no2{ background:url(http://www.techweb.com.cn/static/img/images/no2.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no3{ background:url(http://www.techweb.com.cn/static/img/images/no3.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no4{ background:url(http://www.techweb.com.cn/static/img/images/no4.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no5{ background:url(http://www.techweb.com.cn/static/img/images/no5.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no6{ background:url(http://www.techweb.com.cn/static/img/images/no6.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no7{ background:url(http://www.techweb.com.cn/static/img/images/no7.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no8{ background:url(http://www.techweb.com.cn/static/img/images/no8.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no9{ background:url(http://www.techweb.com.cn/static/img/images/no9.gif) no-repeat left center; padding-left:20px;}
#tabcontent2 .no10{ background:url(http://www.techweb.com.cn/static/img/images/no10.gif) no-repeat left center; padding-left:20px;}

.right_yl{border-left:#dadada solid 1px;border-right:#dadada solid 1px;}
.right_yl h3{font-size:14px; font-weight:normal; background:url(http://www.techweb.com.cn/static/img/images/con_right_bg.gif) repeat-x top left; line-height:25px; height:25px;border-bottom:#dadada solid 1px;text-indent:0.7em;}
.right_yl .yanlun{ width:276px; margin:0 10px; line-height:20px; margin-top:6px; clear:both;}
.right_yl h4{ font-size:12px; line-height:24px;}
.right_yl .photo{height:60px;overflow:hidden;position:relative;width:60px;float:left; margin-right:10px;_margin-right:8px;}
.right_yl ul{line-height:24px;font-size:12px;margin:0 10px;}
.right_yl_btm{height:4px; background:url(http://www.techweb.com.cn/static/img/con_right_bottom.gif) no-repeat top left; font-size:0;}
.xx_box_r{ border:#dadada solid 1px; margin-top:10px;}
.paihang_post{ margin-top:10px;}
.paihang_post h3{font-size:14px; font-weight:normal; background:url(http://www.techweb.com.cn/static/img/images/paihang2.gif) repeat-x top left; line-height:25px; height:25px;border-bottom:#dadada solid 1px;text-indent:0.7em;}
.right_zt{border-left:#dadada solid 1px;border-right:#dadada solid 1px;height:100%; overflow:auto;}
.right_zt h3{font-size:14px; font-weight:normal; background:url(http://www.techweb.com.cn/static/img/images/con_right_bg.gif) repeat-x top left; line-height:25px; height:25px;border-bottom:#dadada solid 1px;text-indent:0.7em;}
.right_zt ul{margin:5px 0px; margin-right:10px; line-height:24px;}
.right_zt ul li{width:133px; float:left; padding-left:10px;}
.right_zt_btm{height:4px; background:url(http://www.techweb.com.cn/static/img/con_right_bottom.gif) no-repeat top left; font-size:0;}
.st12{font-size:12px;}

div.con li{background:url(http://www.techweb.com.cn/static/img/images/li_dot.gif) no-repeat scroll -195px -60px transparent;padding-left:11px;}
div.con2 li{background:url(http://www.techweb.com.cn/static/img/images/li_dot.gif) no-repeat scroll -195px -60px transparent;padding-left:11px;}
#blog_author li{background:none;padding-left:0;margin-top:0;margin-bottom:0;display:inline;}
#blog_author ul{padding:4px 0;overflow:hidden;}
.vote-col{font-size:0;}
.tabmenu3 ul li{background:none; padding:0;}
.tabmenu4 ul li{background:none; padding:0;}

.footer{margin:0 auto;text-align:center;padding:0;margin-top:10px;width:950px;background-color:#f3f3f3;color:#7a7a7a;}
.footer_nav{height:30px;line-height:30px;color:#cccccc;background:#e0e0e0 url(http://www.techweb.com.cn/static/img/images/footer_nav_bg.gif) repeat-x left top;}
.footer a{padding:0 5px;}
.footer a:link{text-decoration:none;color:#7a7a7a;}
.footer a:visited{color:#7a7a7a;text-decoration:none;}
.footer a:hover{color:#7a7a7a; text-decoration:underline;}
.footer a:active{color:#7a7a7a;}

.sulan{width:950px;height:100%;margin-top:10px;_margin-top:0px;z-index:10000;margin-left:auto;margin-right:auto;clear:both;font-family:Arial, Helvetica, sans-serif;}
.sulan_top{width:950px; height:3px;font-size:0;background:url(http://www.techweb.com.cn/static/img/images/box_top.gif) no-repeat top left;}
.sulan_center{width:948px;border-left:#CCC solid 1px;border-right:#CCC solid 1px; background-color:#f9f9f9;overflow:auto;}
.sulan_btm{width:950px;height:3px;font-size:0;background:url(http://www.techweb.com.cn/static/img/images/box_btm.gif) no-repeat top left;}
.sulan_center h3{border-bottom:none;font-size:14px;background:url(http://www.techweb.com.cn/static/img/images/sulanbg.gif) no-repeat left bottom; color:#194987;line-height:18px;*line-height:24px;height: 23px;padding-top:3px;text-indent:0;margin-left:10px;}
.sulan_center h4{ font-size:12px; margin-top:6px; text-indent:1.1em; line-height:20px;}
.sulan_center img{margin-top:10px; margin-right:0px;}
.flinkbox{ margin-left:10px;margin-right:10px;border-bottom:#CCC dotted 1px; height:90px; overflow:hidden;}
.flinkbox li,.flinkbox2 li{display:inline;float:left;font-size:12px;line-height:22px;margin-right:0;padding-left:3px;text-align:left;width:89px;}
.flinkbox2{ margin-left:10px;margin-right:10px;border-bottom:#CCC dotted 1px;line-height:20px; padding-left:3px; color:#CCC; padding-bottom:3px;}

.news_focus{padding:10px 14px 0;background:url(http://www.techweb.com.cn/static/img/images/toutiao_bg.jpg) no-repeat left top; border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;}
.news_focus h2{ font-size:16px;line-height: 30px;}
.news_focus p{padding:5px 0 9px;*padding:4px 0 8px; color:#949494;background:url(http://www.techweb.com.cn/static/img/images/line.gif) repeat-x bottom center;}
.c2_dujia{float:left;width:293px;}
.c2_dujia h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg2.gif) no-repeat center top;}
.c2_dujia ul{line-height:24px;height:217px;overflow:hidden;font-size:14px;padding-top:5px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;padding-bottom:5px; padding-left:10px; padding-right:0px;}
.c2_xinku{float:left;width:293px;}
.c2_xinku h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg2.gif) no-repeat center top;}
.c2_xinku ul{line-height:24px; height:194px;*height:196px;overflow:hidden;font-size:14px;padding-top:10px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;padding-bottom:5px; padding-left:10px; padding-right:10px;}

.tabmenu5{height:100%; overflow:hidden; background:url(http://www.techweb.com.cn/static/img/images/key_tab_bg.gif) repeat-x bottom center;}
.tabmenu5 ul{float:right; padding:0; border:none; padding-right:3px;}
#key_tab li{float:left; background:none;display:block;margin-top:2px;height:25px;line-height:25px;width:41px;text-align:center;overflow:hidden;padding-left:0;}
#key_tab .cli5{float:left;display:block;height:25px; width:42px;overflow:hidden;background:url(http://www.techweb.com.cn/static/img/images/key_tab_on.gif) repeat-x left top;font-weight:bold;}
.tabmenu5 li a:visited{color:#1d1d1d;text-decoration:none;}
.tabmenu5 li a:hover{color:#1d1d1d;text-decoration:none;}
#tabcontent5{ height:196px;*height:198px;overflow:hidden;width:262px; border-left:#cccccc solid 1px;border-right:#cccccc solid 1px; padding:6px 0;font-family:'宋体';}
#tabcontent5 .hidden5{display:none;}
#tabcontent5 li{ background:none; line-height:22px; float:left; width:120px;}

.key_tit{font-size:14px;font-weight:bold; padding-left:24px;line-height:27px;}
.key_tit a:visited{color:#1d1d1d; text-decoration:none;}
.key_tit a:hover{color:#5b5b5b; text-decoration:none;}

ul.xinrui_list{height:126px;}
ul.chuangxin_list{ height:126px; padding:7px 10px 5px;}
ul.shuju_list li{ line-height:20px;}
div.main_top {border-bottom:#d1d1d1 solid 1px;}

 .column_nav{background:url(http://www.techweb.com.cn/static/img/images/col_nav_bg.gif) repeat center center;height:43px;width:950px; margin-top:10px;}
 .column_logo{width:95px;height:25px; float:left; padding-top:10px; padding-left:17px;}
 .column_txt{ width:778px; line-height:43px; padding-left:10px; float:left; color:#CCC; font-family:"宋体";}
 .column_txt a{ padding:0 10px; color:#275381; text-decoration:none;}
 .column_txt a:hover{ text-decoration:underline;}
 .column_rss{ width:37px; padding-top:15px; float:left;}
 .c2_renwu{float:left;width:293px;}
 .c2_renwu h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg2.gif) no-repeat center top;}
 .c2_renwu ul{line-height:24px;height:100px;_height:99px;overflow:hidden;font-size:14px;padding-top:5px;border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px;padding-bottom:5px; padding-left:10px; padding-right:10px;}
 .c2_renwu_img{ border-left:#d1d1d1 solid 1px;border-right:#d1d1d1 solid 1px; padding:10px; padding-bottom:0;height:100%;overflow:hidden;}
 .c2_renwu_img img{ border:#cccccc solid 1px; float:left; margin-right:10px; margin-bottom:10px;}
 .c2_renwu_img p{ font-size:14px; line-height:24px; margin-top:10px;}
 .c2_renwu_img .line{ clear:both; background:url(http://www.techweb.com.cn/static/img/images/line.gif) repeat-x scroll center center transparent; height:1px; font-size:0;}

/*创业创新*/
.chuangye{width:950px;margin:10px auto 0;overflow:hidden;}
.chuangye_top{height:38px;background:url(http://www.techweb.com.cn/static/img/images/e_title_bg.gif) repeat-x left top;border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;}
.chuangye_top a{display:block; background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif) no-repeat 0 0px; width:98px; height:25px;}
.chuangye_top span{ display:block; padding-top:6px;padding-left:14px;}
.chuangye_con{overflow:hidden;}
.chuangye .left h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg3.gif) no-repeat left top; height:24px; font-size:14px; line-height:23px;padding-top:3px;text-indent:1.2em;}
.chuangye .left .site_con{ background-color:#FFF;}
.chuangye .content{border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;}
.chuangye h4{ font-size:12px;padding-top:2px;}
.chuangye .site_con{ margin-top:0;}
.chuangye ul{border:none; font-size:12px; line-height:20px; padding-top:5px;}
.chuangye ul li {line-height:22px;background: url(http://www.techweb.com.cn/static/img/images/li_dot.gif) no-repeat scroll -195px -60px transparent;padding-left:11px;}
.chuangye .center h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg3.gif) no-repeat left top; height:24px; font-size:14px; line-height:23px;padding-top:3px;text-indent:1.2em;}
.chuangye .center .site_con{ background-color:#FFF;}
.chuangye .right_son h3{ background:url(http://www.techweb.com.cn/static/img/images/bt_bgr22.gif) no-repeat left top; height:23px; font-size:14px;line-height:23px;padding-top:3px;text-indent:1.8em;}
.chuangye .right_con{ border-top:#cccccc solid 1px;}
.chuangye .right_con ul{margin:0; padding:5px 9px 0px 8px;height:48px;*height:49px; overflow:hidden;background-color:#f8f8f8;}
.chuangxin_btm{ background:url(http://www.techweb.com.cn/static/img/images/chuangxin_btm.gif) no-repeat top left; height:2px; font-size:0; width:950px;}

.tonglan{ width:950px; height:90px; margin:0 auto; margin-top:10px;}

/*移动互联*/
.yidonghl{width:948px;margin:0 auto;*margin-top:10px;_margin-top:0px;overflow:hidden;border:#ccc solid 1px;-khtml-border-radius:4px; -ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.yidonghl_top{height:38px;background:url(http://www.techweb.com.cn/static/img/images/bg.png) repeat-x 0 -200px;-khtml-border-radius:4px; -ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; margin-top:1px;}
.yidonghl_top a{display:block; background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif) no-repeat 0 -34px; width:98px; height:25px;}
.yidonghl_top span{ display:block; padding-top:6px;padding-left:14px;}
.yidonghl_con{width:948px;_height:100%; overflow:hidden;}
.yidonghl h4{ font-size:12px;line-height: 20px;}
.yidonghl ul{font-size:12px;line-height:20px;padding:3px 10px 4px;}
.yidonghl ul li {line-height:22px;background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat left -281px;padding-left:11px;}
.yidonghl_con_left{width:674px;float:left;margin-right:10px;border-right: 1px solid #CCCCCC;-khtml-border-radius:0 4px 0 0; -ms-border-radius:0 4px 0 0;-o-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0; -webkit-border-radius:0 4px 0 0; border-radius:0 4px 0 0;}
.yidonghl_con_left h3{background:url(http://www.techweb.com.cn/static/img/images/bg.png) repeat-x 0 -22px;border-bottom: 1px solid #CCCCCC;color: #000000;font-size: 14px;height:24px;line-height:24px;padding:2px 5px 0;-khtml-border-radius:0 4px 0 0; -ms-border-radius:0 4px 0 0;-o-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0; -webkit-border-radius:0 4px 0 0; border-radius:0 4px 0 0;}
.yidonghl_con_left h3 span{background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 0 -228px;padding-left: 10px; display:inline-block;}
.yidonghl_con_right{width:262px;float:left; border:#ccc solid 1px;border-right:none;-khtml-border-radius:4px 0 0 4px; -ms-border-radius:4px 0 0 4px;-o-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
.yidonghl_con_right h3{background:url(http://www.techweb.com.cn/static/img/images/bg.png) repeat-x 0 -58px;font-size: 14px;height: 23px;line-height: 22px;padding:2px 5px 0;-khtml-border-radius:4px 0 0 0; -ms-border-radius:4px 0 0 0;-o-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0; -webkit-border-radius:4px 0 0 0; border-radius:4px 0 0 0;}
.yidonghl_con_right h3 span{background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 0 -206px; padding-left:18px; display:inline-block;}
.yidonghl_crtext{border-top:#ccc solid 1px;overflow:hidden;width:262px; height:142px;}
.yidonghl_crtext h5{margin:0;padding:0;font-size:12px;background-color:#f7f7f7;line-height:23px;text-indent:1.1em; font-family:Arial;}
.hottab{font-size:12x;line-height:24px; text-indent:1.1em;}
.yidonghl_down{ clear:both;border-top:1px dotted #CCCCCC;font-size:14px;line-height:22px; width:654px; padding:1px 10px;}
.left6{float:left;width:332px;margin-right:10px;}
.yidonghl_con .app_list{ border:none;}
.xianfeng_list{ border-top:#CCCCCC solid 1px; height:142px;}
.xianfeng_s{ height:61px; padding:7px 10px 0;}
.xianfeng_img a{ float:left; border:#b5b6b1 solid 1px;-khtml-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-right:10px;}
.xianfeng_img img{-khtml-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.xianfeng_s p{ line-height:20px; color:#717171;}
.yidonghl_con_right2{width:262px;float:left; border-left:#ccc solid 1px; border-top:#ccc solid 1px;-khtml-border-radius:4px 0 0 0; -ms-border-radius:4px 0 0 0;-o-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0; -webkit-border-radius:4px 0 0 0; border-radius:4px 0 0 0;}
.yidonghl_con_right2 h3{background:url(http://www.techweb.com.cn/static/img/images/bg.png) repeat-x 0 -58px;font-size: 14px;height: 23px;line-height: 22px;padding:2px 5px 0;-khtml-border-radius:4px 0 0 0; -ms-border-radius:4px 0 0 0;-o-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0; -webkit-border-radius:4px 0 0 0; border-radius:4px 0 0 0;}
.yidonghl_con_right2 h3 span{background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 0 -206px; padding-left:18px; display:inline-block;}
.shalong_box{border-top:#ccc solid 1px; height:93px; padding:2px 10px;}
.shalong_box h4{ line-height:28px;}
.shalong_box p{ line-height:20px; color:#717171;}
.yidonghl .photo3 img{-khtml-border-radius:6px; -ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.yidonghl .photo3{height:70px;overflow:hidden;width:82px;float:left;margin-top:4px; margin-right:10px; float:left;border: 1px solid #B5B5B5;-khtml-border-radius:6px; -ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.yidonghl a.more{ margin:0; float:right;font-size:12px; font-weight:normal; padding-right:5px;color:#0c81b8; text-decoration:none; background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat right -298px; padding-right:8px;}

/*移动计算*/
.yidongjs{width:948px;margin:0 auto;border:#ccc solid 1px;-khtml-border-radius:4px; -ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; margin-top:10px;}
.yidongjs_top{height:38px;background:url(http://www.techweb.com.cn/static/img/images/bg.png) repeat-x 0 -200px;-khtml-border-radius:4px; -ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; margin-top:1px;}
.yidongjs_top a{display:block; background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif) no-repeat 0 -138px; width:98px; height:25px;}
.yidongjs_top span{ display:block; padding-top:6px;padding-left:14px;}
.yidongjs_con{overflow:hidden;width:948px;}
.yidongjs h4{font-size:12px;line-height:20px;}
.yidongjs ul{font-size:12px;line-height:20px;padding-top:5px;padding-left:10px; height:92px; overflow:hidden;}
.yidongjs ul li{line-height:22px;background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat left -281px;padding-left:11px;}
.yidongjs_crtext{border-top:#ccc solid 1px;overflow:hidden;width:252px;height:279px;padding-left:10px;}
.yidongjs_crtext h5{margin:0;padding:0;font-size:12px;background-color:#f7f7f7;line-height:23px;text-indent:1.1em; font-family:Arial;}
.app_list{height:115px; width:262px;overflow:hidden; border-bottom:#ccc dotted 1px;}
.app_list2{height:90px; width:262px;overflow:hidden; }/*添加——8*/
.applist_s {float:left;margin-top:9px;text-align:center;width:87px;}
.appimg_s {height:58px;margin:0 auto;width:58px; margin-bottom:2px;}
.applist_s p{ color:#999; line-height:19px;}
.applist_s p span{ color:#000;}
.appimg_s a {display:inline-block;height:56px;width:56px;border:#cccccc solid 1px;-khtml-border-radius:13px; -ms-border-radius:13px;-o-border-radius:13px;-moz-border-radius:13px; -webkit-border-radius:13px; border-radius:13px;}
.appimg_s img {height:56px;width: 56px;-khtml-border-radius:13px; -ms-border-radius:13px;-o-border-radius:13px;-moz-border-radius:13px; -webkit-border-radius:13px; border-radius:13px;}
.phoneimg{float:left; margin-top:15px;width:74px;text-align:center;line-height:20px;padding-right:10px; height:120px; overflow:hidden;}
.phoneimg img{width:72px;height:72px;border:#cccccc solid 1px;}
.phoneimg p{height:40px;}
.js_left{width:337px;float:left;border-right:#cccccc dotted 1px;}
.js_right{width:336px;float:left;}
.js_con{background: url(http://www.techweb.com.cn/static/img/images/line.gif) repeat-x scroll center bottom #FFFFFF;height:85px;overflow: hidden;padding:6px 10px 0;}
.js_con .photo3{ margin-top:4px;}
.js_con p{ line-height:20px; color:#717171;}
.left6{ margin-right:0; width:337px;}
.yidongjs .photo3 img{-khtml-border-radius:6px; -ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.yidongjs .photo3{height:70px;overflow:hidden;width:82px;float:left;margin-top:4px; margin-right:10px; float:left;border: 1px solid #B5B5B5;-khtml-border-radius:6px; -ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.yidongjs a.more{ margin:0; float:right;font-size:12px; font-weight:normal; padding-right:5px;color:#0c81b8; text-decoration:none; background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat right -298px; padding-right:8px;}
.yidongjs .yidonghl_con_right{ border-bottom:none;-khtml-border-radius:4px 0 0 0; -ms-border-radius:4px 0 0 0;-o-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0; -webkit-border-radius:4px 0 0 0; border-radius:4px 0 0 0; height:305px;}

/*移动应用*/
.yidongyy{width:948px;margin:0 auto;border:#ccc solid 1px;-khtml-border-radius:4px; -ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; margin-top:10px;}
.yidongyy_top{height:38px;background:url(http://www.techweb.com.cn/static/img/images/bg.png) repeat-x 0 -200px;-khtml-border-radius:4px; -ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; margin-top:1px;}
.yidongyy_top a{display:block; background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif?20130703) no-repeat 0 -175px; width:98px; height:25px;}
.yidongyy_top span{ display:block; padding-top:6px;padding-left:14px;}
.yidongyy .photo3 img{-khtml-border-radius:6px; -ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.yidongyy .photo3{height:70px;overflow:hidden;width:82px;float:left;margin-top:4px; margin-right:10px; float:left;border: 1px solid #B5B5B5;-khtml-border-radius:6px; -ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.yidongyy ul{font-size:12px;line-height:20px;padding-top:5px;padding-left:10px; height:92px; overflow:hidden;}
.yidongyy ul li{line-height:22px;background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat left -281px;padding-left:11px;}
.yidongyy_crtext{border-top:#ccc solid 1px;overflow:hidden;width:262px;}
.yidongyy_crtext h5{margin:0;padding:0;font-size:12px;background-color:#f7f7f7;line-height:23px;text-indent:1.1em; font-family:Arial;}
.yidongyy_con_right{width:262px;float:left; border-top:#ccc solid 1px;border-left:#ccc solid 1px;-khtml-border-radius:4px 0 0 0; -ms-border-radius:4px 0 0 0;-o-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0; -webkit-border-radius:4px 0 0 0; border-radius:4px 0 0 0; height:305px;}
.yidongyy_con_right h3{background:url(http://www.techweb.com.cn/static/img/images/bg.png) repeat-x 0 -58px;font-size: 14px;height: 23px;line-height: 22px;padding:2px 5px 0;-khtml-border-radius:4px 0 0 0; -ms-border-radius:4px 0 0 0;-o-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0; -webkit-border-radius:4px 0 0 0; border-radius:4px 0 0 0;}
.yidongyy_con_right h3 span{background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 0 -206px; padding-left:18px; display:inline-block;}
.yidongyy h4{ font-size:12px;line-height: 20px;}
.yidongyy a.more{ margin:0; float:right;font-size:12px; font-weight:normal; padding-right:5px;color:#0c81b8; text-decoration:none; background:url(icon.png) no-repeat right -298px; padding-right:8px;}

/*电子商务*/
.e_biz{width:950px;margin:10px auto 0; height:100%; overflow:hidden;}
.e_biz_top{height:38px;background:url(http://www.techweb.com.cn/static/img/images/e_title_bg.gif) repeat-x left top;border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;}
.e_biz_top a{display:block; background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif) no-repeat 0 -102px; width:98px; height:25px;}
.e_biz_top span{ display:block; padding-top:6px;padding-left:14px;}
.e_biz_con{height:100%; overflow:hidden;}
.e_biz .left h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg5.gif) no-repeat left top; height:24px; font-size:14px; line-height:23px;padding-top:3px;text-indent:1.2em;}
.e_biz .left .site_con{ background-color:#FFF;}
.e_biz .content{border-left:#cccccc solid 1px;border-right:#cccccc solid 1px; overflow:hidden; height:275px;}/*修改——8*/
.e_biz h4{ font-size:12px;padding-top:2px;}
.e_biz .site_con{ margin-top:0;}
.e_biz ul{border:none; font-size:12px; line-height:20px; padding-top:5px;}
.e_biz ul li { line-height:22px;background: url(http://www.techweb.com.cn/static/img/images/li_dot.gif) no-repeat scroll -195px -60px transparent;padding-left:11px;}
.e_biz .center h3{background:url(http://www.techweb.com.cn/static/img/images/bt_bg3.gif) no-repeat left top; height:24px; font-size:14px; line-height:23px;padding-top:3px;text-indent:1.2em;}
.e_biz .center .site_con{ background-color:#FFF;}
.e_biz .right_son h3{ background:url(http://www.techweb.com.cn/static/img/images/bt_bgr22.gif) no-repeat left top; height:23px; font-size:14px;line-height:23px;padding-top:3px;text-indent:1.8em;}
.e_biz .right_con{ border-top:#cccccc solid 1px;}
.e_biz .right_con ul{margin:0; padding:5px 9px 0px 8px;height:48px;*height:49px; overflow:hidden;background-color:#f8f8f8;}
.e_biz_btm{ background:url(http://www.techweb.com.cn/static/img/images/chuangxin_btm.gif) no-repeat top left; height:2px; font-size:0; width:950px;}
.ytop{display:block;font-size:1px;}
.yb1, .yb2{display:block; overflow:hidden;height:1px;}
.yb2{border-left:1px solid #cccccc; background-color:#ffffff;border-right:1px solid #cccccc;margin:0 1px; border-width:0 1px;}
.yb1 {margin:0 2px; background:#cccccc;}
.logo_bg{float:left;width:111px; height:48px;margin-top:11px; border:#e3e3e3 solid 1px;}
.company{padding:0px 0 9px 0px;border-right:1px solid #cccccc;border-left:1px solid #cccccc;border-top:1px solid #cccccc;background-color:#fff;height:266px;overflow:hidden;}/*修改——8*/
.mar_r10{margin-right:12px;}

/*专题频道*/
.special_list{border:#ccc 1px solid;float:left;width:664px;margin-right:10px;_height:100%;overflow:hidden; padding-left:10px;-khtml-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.special_list a:hover{ text-decoration:none;}
.special_box{width:318px;float:left; margin-top:10px; margin-right:10px; height:100px; overflow:hidden; padding:1px;border:#ccc 1px solid;-khtml-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;-khtml-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; box-shadow:rgba(0,0,0,0.1) 0 1px 2px;}
.special_box a{display:block;background:url(http://www.techweb.com.cn/static/img/images/special_con_bg.gif) repeat-x left bottom; height:90px; padding:5px; overflow:hidden;}
/*.special_box a:hover{background:url(http://www.techweb.com.cn/static/img/images/special_con_bg_hover.gif) repeat-x left bottom; color:#1D1D1D;text-decoration:none;}*/
.special_box a h2{font-size:14px;line-height:22px; padding-top:2px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.special_box a p{font-size:12px;color:#747474;line-height:20px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.special_box a p span{ color:#275381;}
.special_img{position:relative;width:125px;float:left;margin-right:10px;}
.special_img_shadow{-khtml-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;khtml-box-shadow:inset rgba(0,0,0,0.3) 0 0 6px; -ms-box-shadow:inset rgba(0,0,0,0.3) 0 0 6px; -o-box-shadow:inset rgba(0,0,0,0.3) 0 0 6px;-moz-box-shadow:inset rgba(0,0,0,0.3) 0 0 6px; -webkit-box-shadow:inset rgba(0,0,0,0.3) 0 0 6px; box-shadow:inset rgba(0,0,0,0.3) 0 0 6px;position:absolute; top:0; left:0; width:125px; height:90px;}
.special_img img{-khtml-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px;-khtml-box-shadow:rgba(255,255,255,0.5) 0 1px 0px;-ms-box-shadow:rgba(255,255,255,0.5) 0 1px 0px;-o-box-shadow:rgba(255,255,255,0.5) 0 1px 0px;-moz-box-shadow:rgba(255,255,255,0.5) 0 1px 0px;-webkit-box-shadow:rgba(255,255,255,0.5) 0 1px 0px;box-shadow:rgba(255,255,255,0.5) 0 1px 0px;}
.right_bottom2{ font-size:0;}
.special_list .page{ clear:both; font-family:Arial,\5b8b\4f53; height:19px;}
.special_list .page ul li{list-style:none;float:left;list-style:none;padding-left:0;}
.special_list .page .inline{margin:0 auto;width:300px;}

/*人物频道*/
.people_list{border:#ccc 1px solid;float:left;width:664px;margin-right:10px;_height:100%;overflow:hidden; padding-left:10px;-khtml-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.people_box{width:152px;float:left; margin-top:10px; margin-right:10px; height:156px; overflow:hidden; padding:1px;border:#ccc 1px solid;-khtml-border-radius:5px; -ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;-khtml-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; -ms-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; -o-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; -moz-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; -webkit-box-shadow:rgba(0,0,0,0.1) 0 1px 2px; box-shadow:rgba(0,0,0,0.1) 0 1px 2px;}
.people_box a{display:block;background:url(http://www.techweb.com.cn/static/img/images/people_con_bg.gif) repeat-x left bottom;height:146px;padding:10px 8px 0; overflow:hidden; text-align:center;}
/*.people_box a:hover{background:url(http://www.techweb.com.cn/static/img/images/people_con_bg_hover.gif) repeat-x left bottom; color:#1D1D1D;text-decoration:none;}*/
.people_box a p{font-size:12px;line-height:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); text-align:left; padding-top:6px;}
.people_list .page{clear:both;font-family:Arial,\5b8b\4f53;height:19px;}
.people_list .page ul li{list-style:none;float:left;list-style:none;padding-left:0;}
.people_list .page .inline{margin:0 auto;width:300px;}
/*移动应用*/
.app_new .app_list{ height:279px;}
.app_new .applist_s{ margin-top:10px;}
.yidongyy_top a{ background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif) no-repeat 0 -175px;}
.app_new .yidongyy_top a{ background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif) no-repeat 0 -209px;}
/*end*/
/*搜索框*/
.search{ width:563px; margin:0 auto; padding-top:5px; height:75px;overflow:hidden;}
  .search .logo{ float:left; width:167px; padding-top:5px;}
  .search_r{ float:left; width:382px; padding-left:13px;}
  .search_r ul{overflow:hidden;}
  .search_r ul li{ float:left;}
  .search_r ul li a{width:46px; margin-right:5px; height:26px; line-height:22px; text-align:center; display:inline-block; color:#000;}
  .search_r ul li a:hover{background:url(http://www.techweb.com.cn/static/img/images/search_on.gif) no-repeat center top; text-decoration:none; color:#FFF;}
  .search_r ul li .on{background:url(http://www.techweb.com.cn/static/img/images/search_on.gif) no-repeat center top;color:#FFF;}
  .search_r form{clear:both; text-align:left;}
  .search_r form input{border:#d4d4d4 solid 3px;background:url(http://www.techweb.com.cn/static/img/images/input_bg.gif) repeat-x left top;font-size:14px;padding:7px;vertical-align:middle;margin-right:5px;width:300px;}
  .search_r form button{background:url(http://www.techweb.com.cn/static/img/images/seach_btn.gif) no-repeat left top; width:56px; height:36px; border:none;vertical-align:middle;cursor:pointer;}
  .main_top{ padding-bottom:0;}
  .main_top p{ background:url(http://www.techweb.com.cn/static/img/images/top_tool_bg2.gif) no-repeat center top; margin-top:0; padding:5px 0;}
  .top_tool{background:url(http://www.techweb.com.cn/static/img/images/top_tool_bg.gif) repeat-y center top; height:29px; overflow:hidden;}
/*end*/

.rwbd{border:1px solid #CCCCCC;-khtml-border-radius:4px; -ms-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;float:left;margin-right:10px;width:674px;}
.rwbd h3{background:url("http://www.techweb.com.cn/static/img/images/bg.png") repeat-x 0 -22px;border-bottom: 1px solid #CCCCCC;color:#000000;font-size:14px;height:24px;line-height:24px;padding:2px 5px 0;}
.rwbd_top{background:url("http://www.techweb.com.cn/static/img/images/bg.png") repeat-x 0 -200px;-khtml-border-radius:4px 4px 0 0; -ms-border-radius:4px 4px 0 0;-o-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;height:38px;margin-top:1px;}
.rwbd_top span{display:block;padding-left:14px;padding-top:6px;}
.rwbd_top a{background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif) no-repeat 0 -245px;}
    .rwbd_top a{background:url(http://www.techweb.com.cn/static/img/images/e_biz_bg.gif) no-repeat 0 -245px;display: block;height: 25px;width: 98px;}
.con .rwbd h3 span {background:url("http://www.techweb.com.cn/static/img/images/icon.png") no-repeat 0 -228px;display: inline-block;padding-left:10px;text-indent:0;}
.rwbd .photo3 {border:1px solid #B5B5B5;-khtml-border-radius:6px; -ms-border-radius:6px;-o-border-radius:6px;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;float:left;height:62px;margin-right:10px;margin-top:7px;overflow:hidden;width:82px;}
.rwbd h4 {font-size: 12px;line-height: 20px; margin-top:9px;}
.rwbd ul {font-size:12px;height:93px;line-height:20px;overflow:hidden;padding-left:10px;padding-top:6px;}
.rwbd .hot_people{clear:both; border-top:#ccc solid 1px; padding-left:10px; line-height:28px; height:28px; overflow:hidden;}
.rwbd .hot_people strong{ font-size:14px;}
.rwbd .hot_people a{ margin-right:11px;}
.rwbd ul li {line-height:22px;}
.con{_height:100%; overflow:hidden;}

 /*page*/
.page span.current{border:navy 1px solid; padding:3px 7px; font-weight:bold;color:#fff;margin-right:2px; background-color:#2e6ab1;}
.page span.disabled{ border:#929292 1px solid;padding:3px 7px;color:#929292;margin-right:2px;}

.page{margin:3px 0;text-align:center;font-family:"ËÎÌå"; font-size:12px; margin-top:5px;}
.page a{border:#c2c2c2 solid 1px; padding:4px 7px; color:#333;margin-right:4px;text-decoration:none;}
.page a:hover{border:#333333 solid 1px; background-color:#336699; color:#ffffff;text-decoration:none;}
.pagination a:active{border:#333333 solid 1px; background-color:#336699; color:#ffffff;}
.page .now{ border:#333333 solid 1px;padding:4px 7px; margin-right:4px; font-weight:bold; color:#ffffff;background-color:#336699;}
.page .now:visited{color:#ffffff;}
.page span.disabled{ border:#ededed solid 1px;padding:4px 7px; margin-right:4px; color:#CCC;}
.page li {float:left;}
.page ul {margin:auto;text-align:center;}  



/**2014-08-26 Liuaifeng   解决 首页社区精华、企业资讯等区块经常折行的问题*/
.con .yb1{background:none;}
.con .yb1,.con .yb2{height:0px;}
.dujia_txt li{width:230px;height:24px;overflow:hidden;white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;text-overflow: ellipsis;/* IE/Safari */-ms-text-overflow: ellipsis;-o-text-overflow:ellipsis;/* Opera */-moz-binding:url("ellipsis.xml#ellipsis");/*FireFox*/vertical-align: middle;}
.con .left ul,.con .center ul{height:192px;overflow:hidden;}
.con .left .tabmenu3 ul,.con .center .tabmenu4 ul{height:27px;}
/*20140918 sll*/
.newpro{ width:264px; float:left; height:430px; overflow:hidden; border:#d1d1d1 solid 1px; margin-right:10px;-khtml-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
#importnews{ margin-right:10px;}
.choose{width:289px;float:left;height:157px; overflow:hidden;border:#d1d1d1 solid 1px;-khtml-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.contrast{width:289px;float:left;height:261px; overflow:hidden;border:#d1d1d1 solid 1px; margin-top:10px;-khtml-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.newpro h3,.choose h3,.contrast h3{background:#fff;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f0f0f0));background: -moz-linear-gradient(top,#fff,#f0f0f0); text-indent:0; padding-top:0; line-height:25px;height:25px; overflow:hidden;}
.newpro h3 span,.choose h3 span,.contrast h3 span{background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 6px -232px; padding-left:15px;}
.newpro .more,.choose .more,.contrast .more{ color:#1d1d1d;background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 13px -296px; padding-right:13px; display:block;margin-top:0;}
.newpro_con{ padding-top:2px; padding-left:10px;}
.newpro_img{ position:relative;padding-top:10px; width:244px;}
.newpro_img p{ position:absolute; left:0;bottom:0; background:url(http://www.techweb.com.cn/static/img/images/jianbian.png) repeat-x left bottom; color:#FFF;font-family:Arial,\5FAE\8F6F\96C5\9ED1; padding-left:10px; font-size:14px; line-height:27px; padding-top:10px;width:234px; *background:none;*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);*padding-top:0;*line-height:24px;}
.choose_con{ padding-top:12px; padding-right:10px;line-height:20px; height:119px; overflow:hidden;}
.choose_img{ padding-top:4px;float:right;width:96px; border:#cccccc solid 1px; text-align:center;font-family:Arial,\5FAE\8F6F\96C5\9ED1; font-size:12px; line-height:20px;}
.choose_txt{ padding-top:5px;width:159px; float:right; padding-right:10px;}
.contrast_con{ padding-left:10px;}
.contrast_img{ position:relative; margin-top:10px; width:270px;}
.contrast_img p{ position:absolute; left:0;bottom:0;background:url(http://www.techweb.com.cn/static/img/images/jianbian.png) repeat-x left bottom; color:#FFF;font-family:Arial,\5FAE\8F6F\96C5\9ED1; padding-left:10px;font-size:14px;line-height:27px; padding-top:10px;width:260px;*background:none;*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);*padding-top:0;*line-height:24px;}
.con{margin:10px auto 0;}
.news_rank{ height:303px; overflow:hidden;float:left;width:262px; border-left:#d1d1d1 solid 1px;border-top:#d1d1d1 solid 1px;border-left:#d1d1d1 solid 1px;-khtml-border-radius:3px 0 0 0;-ms-border-radius:3px 0 0 0;-o-border-radius:3px 0 0 0;-moz-border-radius:3px 0 0 0;-webkit-border-radius:3px 0 0 0; border-radius:3px 0 0 0;}
.rank_tit{background:#fff;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f0f0f0));background: -moz-linear-gradient(top,#fff,#f0f0f0); text-indent:0; padding-top:0; line-height:25px;height:25px;border-bottom:#d1d1d1 solid 1px;}
.news_rank .tit{ font-size:14px; font-weight:bold;background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 10px -209px; padding-left:29px;}
.tit a {display: inline-block;font-family: Arial,微软雅黑;font-size: 18px;height: 30px;line-height: 30px;}
.tit a:hover {color: #666666;text-decoration: none;}
.tit_r {float: right;text-align: right;width: 200px;}
.yidonghl .tit_r li.hover {background-color: #fff;border-bottom: 1px solid #F7F7F7;color: #000000;padding: 0 10px; height:25px;}
.yidonghl .news_rank li{ background:none;}
.yidonghl .tit_r li {border-bottom: 1px solid #D1D1D1;border-left: 1px solid #D1D1D1;color: #949694;cursor: pointer;display: block;float: right;height: 25px;line-height: 25px;padding: 0 10px; background:none;}
.yidonghl .rank_tit ul{ padding:0;}
.rank_con ul li {height: 26px;line-height: 26px;overflow: hidden; width:241px;white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;text-overflow: ellipsis;/* IE/Safari */-ms-text-overflow: ellipsis;-o-text-overflow:ellipsis;/* Opera */-moz-binding:url("ellipsis.xml#ellipsis");/*FireFox*/vertical-align: middle;font-family:Arial,\5b8b\4f53;}
.rank_con ul li i {background-color: #C0C0C0;color: #FFFFFF;display: inline-block;font-family: Arial;font-size: 10px;font-style: normal;font-weight: bold;height: 12px;line-height: 12px;margin-right: 5px;text-align: center;vertical-align: middle;width: 12px;}
.rank_con ul li i.num1 {background-color: #FF0000;}
.rank_con ul li i.num2 {background-color: #FF9000;}
.rank_con ul li i.num3 {background-color: #FFD800;}
.yidonghl .rank_con ul{ padding:7px 0 0;}
body{font-family:Arial;}
.yidongjs_crtext{ padding-left:0;}
.equipment{ width:262px; float:left;height:305px; overflow:hidden;float:left;width:262px; border-left:#d1d1d1 solid 1px;border-top:#d1d1d1 solid 1px;border-left:#d1d1d1 solid 1px;-khtml-border-radius:3px 0 0 0;-ms-border-radius:3px 0 0 0;-o-border-radius:3px 0 0 0;-moz-border-radius:3px 0 0 0;-webkit-border-radius:3px 0 0 0; border-radius:3px 0 0 0;}
.equipment h3{font-size:14px; background:#fff;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f0f0f0));background: -moz-linear-gradient(top,#fff,#f0f0f0);line-height:25px;height:25px;border-bottom:#d1d1d1 solid 1px;}
.equipment h3 span{background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 10px -209px; padding-left:29px;}
.bg_none{ background:none;}
.yidongjs .js_con p{ padding-top:1px;}
.special_topic .more{color:#1d1d1d;background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 13px -296px; padding-right:13px; text-indent:0;}
.discuz_box{ margin-right:10px;overflow:hidden;}
.discuz_box,.blog_box{ width:331px; float:left;border:#d1d1d1 solid 1px;-khtml-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px; border-top:none;}
.discuz_box h3,.blog_box h3{background:url(http://www.techweb.com.cn/static/img/images/bg.png) repeat-x 0 -22px; text-indent:0;-khtml-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0; border-radius:3px 3px 0 0;}
.discuz_box h3 span,.blog_box h3 span{background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 6px -232px; padding-left:15px;}
.discuz_link{ float:right; font-size:12px;font-weight:normal; padding-right:5px;}
.discuz_link a{ padding:0 5px; color:#336699;}
.discuz_link i{ font-family:\5b8b\4f53; color:#bbb;}
.discuz_box ul{ font-size:14px; line-height:24px; padding:5px 0 0 10px;}
.blog_box .more{ color:#1d1d1d;background:url(http://www.techweb.com.cn/static/img/images/icon.png) no-repeat 13px -296px; padding-right:13px;}
.blog_box{height:272px; overflow:hidden;}
.blog_con{ height:58px; overflow:hidden; padding:8px 9px;background:#FFFFFF url(http://www.techweb.com.cn/static/img/images/line.gif) repeat-x center bottom;}
.blog_box p{color: #717171;line-height: 20px;margin-top: 3px;}
.blog_box ul{ padding:5px 0 0 10px; line-height:22px;}
.blog_box h3 .more{ margin-top:0;}
@media screen and (max-device-width: 640px){body{-webkit-text-size-adjust:none;}}
.center0 {padding: 0 10px 0 0; }
.choose h3{ font-size:14px;}
.choose .choose_con{padding-left:10px;padding-top:10px; padding-right:0;}
.choose .choose_txt{float:left; color:#616161; width:173px; padding-top:7px;}
.choose .choose_txt a{color:#336699;}
.choose .choose_img{float:left; padding:0; width:84px; margin-top:6px;}