/* ========= THEME =========================== */
	
	/* ========= BASIC =========================== */
	
		body { 
			padding-bottom:10px;
		}
		.Pelle{background-image: url("img/pelle.png");background-repeat: repeat-x repeat-y;}
		.Alpha_80{opacity: 0.80;filter: alpha(opacity=80); /* For IE8 and earlier */}
		.Cucito{border-bottom:dashed 1px #428bca;border-top:dashed 1px #428bca;}
		.widget-box{margin-bottom:5px;}
		
		/* ========= SPACING =========================== */
			/* == */
			.P2{padding:2px;}.P2-Top{padding-top:2px;}.P2-Bottom{padding-bottom:2px;}.P2-Left{padding-left:2px;}.P2-Right{padding-right:2px;}
			.M2{margin:2px;}.M2-Top{margin-top:2px;}.M2-Bottom{margin-bottom:2px;}.M2-Left{margin-left:2px;}.M2-Right{margin-right:2px;}	
			/* == */		
			.P5{padding:5px;}.P5-Top{padding-top:5px;}.P5-Bottom{padding-bottom:5px;}.P5-Left{padding-left:5px;}.P5-Right{padding-right:5px;}
			.M5{margin:5px;}.M5-Top{margin-top:5px;}.M5-Bottom{margin-bottom:5px;}.M5-Left{margin-left:5px;}.M5-Right{margin-right:5px;}
			/* == */		
			.P10{padding:10px;}.P10-Top{padding-top:10px;}.P10-Bottom{padding-bottom:10px;}.P10-Left{padding-left:10px;}.P10-Right{padding-right:10px;}
			.M10{margin:10px;}.M10-Top{margin-top:10px;}.M10-Bottom{margin-bottom:10px;}.M10-Left{margin-left:10px;}.M10-Right{margin-right:10px;}
			/* == */		
			.P20{padding:20px;}.P20-Top{padding-top:20px;}.P20-Bottom{padding-bottom:20px;}.P20-Left{padding-left:20px;}.P20-Right{padding-right:20px;}
			.M20{margin:20px;}.M20-Top{margin-top:20px;}.M20-Bottom{margin-bottom:20px;}.M20-Left{margin-left:20px;}.M20-Right{margin-right:20px;}
			
		/* ========= GRAPHIC =========================== */
		
			/* == Photo-Filter ==*/
			.ig-xpro2 {
			-webkit-filter: contrast(1.3) brightness(0.8) sepia(0.3) saturate(1.5) hue-rotate(-20deg);
			filter: contrast(1.3) brightness(0.8) sepia(0.3) saturate(1.5) hue-rotate(-20deg);
			}
			.ig-willow {
			-webkit-filter: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
			filter: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
			}
			.ig-walden {
			-webkit-filter: sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5);
			filter: sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5);
			}
			.ig-valencia {
			-webkit-filter: sepia(0.15) saturate(1.5) contrast(0.9);
			filter: sepia(0.15) saturate(1.5) contrast(0.9);
			}
			.ig-toaster {
			-webkit-filter:sepia(0.4) saturate(2.5) hue-rotate(-30deg) contrast(0.67);
			-filter:sepia(0.4) saturate(2.5) hue-rotate(-30deg) contrast(0.67);
			}
			.ig-sutro {
			-webkit-filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
			filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
			}
			.ig-sierra {
			-webkit-filter: contrast(0.8) saturate(1.2) sepia(0.15);
			filter: contrast(0.8) saturate(1.2) sepia(0.15);
			}
			.ig-rise {
			-webkit-filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
			filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
			}
			.ig-nashville {
			-webkit-filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
			filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
			}
			.ig-mayfair {
			-webkit-filter: saturate(1.4) contrast(1.1);
			filter: saturate(1.4) contrast(1.1);
			}
			.ig-lofi {
			filter: contrast(1.4) brightness(0.9) sepia(0.05);
			-webkit-filter: contrast(1.4) brightness(0.9) sepia(0.05);
			}
			.ig-kelvin {
			filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
			-webkit-filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
			}
			.ig-inkwell {
			-webkit-filter: grayscale(1) brightness(1.2) contrast(1.05);
			filter: grayscale(1) brightness(1.2) contrast(1.05);
			}
			.ig-hudson {
			-webkit-filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
			filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
			}
			.hefe {
			-webkit-filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
			filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
			}
			.ig-earlybird {
			-webkit-filter: sepia(0.4) saturate(1.6) contrast(1.1) brightness(0.9) hue-rotate(-10deg);
			filter: sepia(0.4) saturate(1.6) contrast(1.1) brightness(0.9) hue-rotate(-10deg);
			}
			.ig-brannan {
			-webkit-filter: sepia(0.5) contrast(1.4);
			filter: sepia(0.5) contrast(1.4);
			}
			.ig-amaro {
			-webkit-filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
			filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
			}
			.ig-1977 {
			-webkit-filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
			filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
			}
		
			/* == Line-Divider ==*/
			
			hr {border: 1px;/*height: 1px;*/margin:0;margin-bottom:5px;!important;margin-top:5px;!important;color: #D8D8D8;}		
			.border-bottom-between-row > .row:after {}
			.border-bottom-between-row > .row:last-child {border-bottom:0;border-right:0;}
			
			.border-bottom-between-row > div:after {}
			.border-bottom-between-row > div:last-child {border-bottom:0;border-right:0;}
			
			.border-between-Horizzontal{border-bottom:solid 1px;margin:2px;padding-bottom:4px;margin-bottom:4px; border-bottom-color: #D8D8D8;}
			.border-double-between-Horizzontal{border-bottom:double 1px;margin:2px;padding-bottom:4px;margin-bottom:4px; border-bottom-color: #D8D8D8;}
			.border-between-Vertical-Right{border-right:solid 1px;border-right-color: #D8D8D8;}
			
			.border-bottom{border-bottom:solid 1px;margin:2px;padding-bottom:4px;margin-bottom:4px;}
			
			.border-right-between-Coulom{border-right:solid 1px;padding-right:4px;margin-right:4px; border-right-color: #D8D8D8;}
			.border-right-between-Coulom > .col-:last-child {border-bottom:0;}
			
			.Container-Section{border-top:solid 1px;}
			.Container-Section-Bottom{border-bottom:solid 1px;margin:0px;padding-bottom:4px;margin-bottom:4px;}
			.Container-Section-Top{border-top:solid 1px;margin:2px;padding-top:4px;margin-top:4px;}
			.Container-Section-Left-1x{border-left:solid 1px;margin:0px;padding-left:4px;margin-left:4px;}
			.Container-Section-Right-1x{border-right:solid 1px;margin:2px;padding-right:4px;margin-right:4px;}
			.section-divider{margin:0;margin-bottom:5px;!important;margin-top:5px;!important;}
			
			/* == box-border ==*/
			
			.BoxBorder{border: 1px solid #D7D7D7;position:relative;}
			.BoxBorder-Top-Bottom{border-top: 1px solid #D8D8D8;border-bottom: 1px solid #D8D8D8;position:relative;}
			.BoxBorder-Top{border-top: 1px solid #D7D7D7;position:relative;}
			.BoxBorder-Bottom{border-bottom: 1px solid #D7D7D7;position:relative;}
			.BoxBorder5{border: 1px solid #D7D7D7; padding:5px;position:relative;}
			.BoxBorder5White{background: #FFF;border: 1px solid #D7D7D7; padding:5px;position:relative;}
			.BoxBorder10White{background: #FFF;border: 1px solid #D7D7D7; padding:10px;position:relative;}
			.BoxBorder0White{background: #FFF;border: 1px solid #D7D7D7; padding:5px;position:relative;}
			
			/* == box-ombra ==*/
			
			.Box_shadow{-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);}
			.Box_shadow5{-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); margin:5px;}
			.Box-Bottom-Shadow-2{-moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2); -box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);margin-bottom:5px;}
			.Box-Bottom-Shadow-3{-moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2); -box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);margin-bottom:5px;}
			.Box-Bottom-Shadow-5{-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2); -box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);margin-bottom:5px;}
			.Box_shadow20{-moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);margin:20px;}	
			
			/* == cuadro ==*/
				.cuadro_intro_hover{
					padding: 0px;
					position: relative;
					overflow: hidden;
					height: 350px;
				}
				.cuadro_intro_hover:hover .caption{
					opacity: 1;
					/*transform: translateY(-150px);
					-webkit-transform:translateY(-150px);
					-moz-transform:translateY(-150px);
					-ms-transform:translateY(-150px);
					-o-transform:translateY(-150px);
					*/
				}
				.cuadro_intro_hover img{
					z-index: 4;
				}
				.cuadro_intro_hover .caption{
					position: absolute;
					top:250px;
					-webkit-transition:all 0.3s ease-in-out;
					-moz-transition:all 0.3s ease-in-out;
					-o-transition:all 0.3s ease-in-out;
					-ms-transition:all 0.3s ease-in-out;
					transition:all 0.3s ease-in-out;
					width: 100%;
				}
				.cuadro_intro_hover .blur{
					background-color: rgba(0,0,0,0.7);
					height: 300px;
					z-index: 5;
					position: absolute;
					width: 100%;
				}
				.cuadro_intro_hover .caption-text{
					z-index: 10;
					color: #fff;
					position: absolute;
					height: 300px;
					text-align: center;
					top:-20px;
					width: 100%;
				}
				
				.cuadro_intro_hover .caption-text h3{
					/*border-top:2px solid white; */
					/*border-bottom:2px solid white; */
					padding:10px;	
				}	


	/* ========= MAP =========================== */

		#map {width: 1980px;height: 450px;}
		
	/* ========= MODAL =========================== */
	
		.modal-dialog {padding-top: 90px;}
		.modal-body {padding:5px !important;}
		.modal-content {border-radius:0;}
		.modal-dialog img {height:600px;text-align:center;margin:0 auto;}
		
	/* ========= FONT =========================== */
		
		/*h1 { font-family: 'PT Sans', Arial, serif; font-weight: 400; }*/
		/*h1 { color:#706f6f;}*/
		h2.title {margin:0;margin-bottom:2;margin-top:2px;}
		h3.title {margin:0;margin-bottom:2;margin-top:2px;}
		h4.title {margin:0;margin-bottom:2;margin-top:2px;}
		h5.title {margin:0;margin-bottom:2;margin-top:2px;}
		h6.title {margin:0;margin-bottom:2;margin-top:2px;}
		#main-menu .menu-item a{text-transform: uppercase;font-weight-: bold;}
		.Menu_NetWork{font-family: 'Oswald', sans-serif;text-transform: uppercase;font-weight: bold;}
		/* == */
		.text-ellipsis-5 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 5; -webkit-box-orient: vertical;}
		.text-ellipsis-4 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4; -webkit-box-orient: vertical;}
		.text-ellipsis-3 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;}
		.text-ellipsis-2 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;}
		.text-ellipsis-1 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1; -webkit-box-orient: vertical;}
		/* == */
		.break-word{word-wrap:break-word;}
