@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?holmjz');
    src:    url('../fonts/icomoon.eot?holmjz#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?holmjz') format('truetype'),
        url('../fonts/icomoon.woff?holmjz') format('woff'),
        url('../fonts/icomoon.svg?holmjz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fa-rtn24:before {
    content: "\e900";
}

