body { 
	padding:0px;
	margin:0px;
}
html {
	padding:0px;
	margin:0px;
}	
/*== reset ==*/

	.reset{
		padding: 0 !important;
		margin: 0 !important;
	}
	.reset-v{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.reset-h{
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.reset-hr{
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
	.reset-hl{
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	.no-gutter > [class*='col-'] {
		padding-right:0; !important;
		padding-left:0; !important;
	}
/*	
	.container{		
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.row{		
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	[class*='col-'] {
		padding-right:0; !important;
		padding-left:0; !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
*/
/*== padding ==*/
	.nopadding {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;		
	}
	.nopadding-top {
	   padding-top: 0 !important;
	}
	.nopadding-top-bottom {
	   padding-top: 0 !important;
	   padding-bottom: 0 !important;
	}
	.nopadding-left {
	   padding-left: 0 !important;
	}
	.nopadding-right {
	   padding-right: 0 !important;
	}
	.nopadding-left-right {
	   padding-left: 0 !important;
	   padding-right: 0 !important;
	}
/*== margin ==*/
	.nomargin {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;		
	}
	.nomargin-top {
	   margin-top: 0 !important;
	}
	.nomargin-bottom {
	   margin-bottom: 0 !important;
	}
	.nomargin-top-bottom {
	   margin-top: 0 !important;
	   margin-bottom: 0 !important;
	}
	.nomargin-left {
	   margin-left: 0 !important;
	}
	.nomargin-right {
	   margin-right: 0 !important;
	}
	.nomargin-left-right {
	   margin-left: 0 !important;
	   margin-right: 0 !important;
	}
/*== break ==*/
	.Break-Text {
		word-break: break-all; 
		overflow:hide;
	}
