/*This CSS contains styles for elements on the MAINPAGE*/

/*TOP Anno Block*/
#bestoffers{
    min-height:75px;
    padding:0;
    border:1px solid #E5E5E5;
    background:#effcd1 url(http://img.kidstaff.net/mainpage/bestoffers_bg.png) 0 50% no-repeat;
    overflow:hidden;
    position: relative;

    -webkit-box-shadow: 1px 1px 4px #999999;
    -moz-box-shadow: 1px 1px 4px #999999;
    box-shadow: 1px 1px 4px #999999;

    /*old style for shadow frame*/
    /*-moz-box-shadow:0 5px 3px #d5d5d5;*/
    /*-webkit-box-shadow:0 5px 3px #d5d5d5;*/
    /*box-shadow:0 5px 3px #d5d5d5;*/

}
#bestoffers ul{
    list-style:none;
    padding:0;
    margin: 0 0 0 88px;
}

#bestoffers li{display:none;}
#bestoffers li:first-child{ display:block; }

div.bestoffers_item{
    float:left;
    width:260px;
    height:80px;
    overflow:hidden;
    background:transparent url(http://img.kidstaff.net/mainpage/bestoffers_item.jpg) top right no-repeat;
    text-align:left;
}
.bestoffers_item_content{
    display:table-cell;
    vertical-align:middle;
    text-align:left!important;
    overflow:hidden;
    height:65px;
}
.bestoffers_item img{
    float:left;
    border:2px solid #c5d5a9;
}
.bestoffers-link {
    position: absolute;
    display: block;
    width: 75px;
    overflow: hidden;
    left: 0;
    bottom: 10px;
    color: #4e6708;
    font-size: 11px;
    text-align: center;
}

/*end of TOP Anno Block*/

/*@ auctions block on main page*/
.auctions-block--main {
    margin: 10px 0;
    padding: 0 0 10px;
    -webkit-box-shadow: 1px 1px 4px #999999;
    -moz-box-shadow: 1px 1px 4px #999999;
    box-shadow: 1px 1px 4px #999999;
    height:91px;
}
.abm-card {
    width: 25%;
    padding: 0 10px;
    float: left;
    position: relative;
    height: 70px;
    box-sizing: border-box;
    border-right: 1px solid #cccccc;
}
.abm-card:last-child {  border-right: none; }
.abm-card .photo {
    display: block;
    float: left;
    padding: 5px 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.abm-card .photo img { width: 60px;  height: 60px;  object-fit: contain; }
.abm-price-time { text-align: right; }
.abm-desc { margin-left: 65px;}
.abm-title { line-height: 13px;  height: 26px; overflow: hidden; display: block;margin: 10px 0 5px;}
.abm-price {float: left;font-weight: bold;}
.abm-cur {font-size: 0.7em;}
.abm-header {font-size: 11px; text-align: right;padding-bottom: 3px;}
.abm-header-title {
    float: left;
    font-weight: bold;
    color: #ffffff;
    background-color: #af2c1c;
    padding: 2px 20px 2px 4px;
    -webkit-border-radius: 0 0 25px 0;
    -moz-border-radius: 0 0 25px 0;
    border-radius: 0 0 25px 0;
}
a.abm-header-link { padding: 4px; line-height: 18px;}
a.abm-header-link strong {color: #af2c1c;}
.abm-end {font-size: 9px;}
.abm-tmark {font-size: 9px;}
.aucb-used {
    position:relative;display:inline-block;
    padding:0 2px;margin-right:2px;
    font-size:9px;color:#333333;background-color:#cccccc;
    top:-1px;line-height: 11px;
}
.aucb-bids {
    font-size: 10px;color: #f44d04; font-weight: bold;
    position: relative;display: inline-block;
    top: -1px;margin-right: 2px;
}
/*--end of auctions block*/
