/* CSS Document */

.modal-wrapper { 
    display:none; 
    z-index:40001;
    
}
.modal-overlay {
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:.7; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; 
    filter:alpha(opacity=60);
    z-index:40001;
}
.vertical-offset { 
    position:fixed;
    top:30%;
    width:100%;
    z-index:40002; 
}
.modal-content { 
    width:405px; 
    position:relative;
    margin:0 auto;
    background-color:white;
    border:2px solid #8CB222;
    min-height: 100px;
    background: #fff url('http://img.kidstaff.net/modal-win-bg.gif') top right no-repeat;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    
}
.modal-content-header {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding:  2px 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(75, 78, 75, 1);
    -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.3);
    background-color:#8CB222;
    background-image: -ms-linear-gradient(top, #A0CC27 0%, #8CB222 100%);
    background-image: -moz-linear-gradient(top, #A0CC27 0%, #8CB222 100%);
    background-image: -o-linear-gradient(top, #A0CC27 0%, #8CB222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0CC27), color-stop(1, #8CB222));
    background-image: -webkit-linear-gradient(top, #A0CC27 0%, #8CB222 100%);
    background-image: linear-gradient(to bottom, #A0CC27 0%, #8CB222 100%);
}
.modal-content-inner {
    font-family: Verdana, Arial, sans-serif;
    padding: 10px;
    font-size: 12px;
    line-height:16px;
}
.modal-content .closeModal {
        position:absolute;
        top:-12px; 
        right:-12px; 
        z-index:50;
		    cursor: pointer;
    }
    

.overflowYhidden {overflow: hidden; }

/*buttons*/
.btn-wrapper {text-align: center; margin-top: 10px;}
.btn-wrapper ul {list-style: none; margin: 0; padding: 0;}
.btn-wrapper ul li {display: inline; margin-left: 10px;}
a.btn-true, a.btn-false  {
   cursor: pointer; 
-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 22px;
  line-height: 22px;
  padding: 0px 18.6px;
  font-weight: 300;
  font-size: 11px;
  
  color: #333333;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
a.btn-true:hover, a.btn-false:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eee), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #eee, #dcdcdc);
  background: -moz-linear-gradient(top, #eee, #dcdcdc);
  background: -o-linear-gradient(top, #eee, #dcdcdc);
  background: linear-gradient(top, #eee, #dcdcdc);    
}
a.btn-true:active, a.btn-false:active {
   -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;   
}
a.btn-true:focus, a.btn-false:focus {
  outline: none;  
}

.modal-content-inner p {
  padding:7px 0 0 0;
}




