/* vBulletin 3 CSS For Style 'Default Style' (styleid: 1) */
body
{
	background: #E1E1E2;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	
}
a:link, body_alink
{
	color: #22229C;
}
a:visited, body_avisited
{
	color: #22229C;
}
a:hover, a:active, body_ahover
{
	color: #FF4400;
}
.page
{
	color: #000000;
}
td, th, p, li
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tborder
{
	background: #D1D1E1;
	color: #000000;
	border: 1px solid #0B198C;
}
.tcat
{
	background: #869BBF url(http://srv.desiproject.com/images/gradients/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFF66;
	text-decoration: underline;
}
.thead
{
	background: #5C7099 url(http://srv.desiproject.com/images/gradients/gradient_thead.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFF00;
}
.tfoot
{
	background: #5C7099 url(http://srv.desiproject.com/images/gradients/gradient_thead.gif) repeat-x top left;
	color: #E0E0F6;
}
.tfoot a:link, .tfoot_alink
{
	color: #E0E0F6;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #E0E0F6;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FFFF66;
}
.alt1, .alt1Active
{
	background: #F5F5FF;
	color: #000000;
}
.alt2, .alt2Active
{
	background: #E1E4F2;
	color: #000000;
}
td.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F5F5FF;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
textarea, .bginput
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
select
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.time
{
	color: #666686;
}
.navbar
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #3E5C92;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	background: #D5D8E5  url(http://srv.desiproject.com/images/gradients/gradient_panel.gif) repeat-x top left;
	color: #000000;
	padding: 10px;
	border: 2px outset;
	
	
}
.panelsurround
{
	background: #D5D8E5  url(http://srv.desiproject.com/images/gradients/gradient_panelsurround.gif) repeat-x top left;
	color: #000000;
}
legend
{
	color: #22229C;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #738FBF;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #BBC7CE;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #8A949E;
	color: #FFFFFF;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
#xbwrap {padding: 0px; margin: 0px 6px;}
div.advert {margin: 8px 0px; padding: 0px;}

.bigusername {font-size: 14pt;}

td.thead, div.thead {padding: 4px;}

.pagenav a {text-decoration: none;}
.pagenav td {padding: 2px 4px 2px 4px;}

.fieldset {margin-bottom: 6px;}
.fieldset, .fieldset td, .fieldset p, .fieldset li {font-size: 11px;}

form {display: inline;}
label {cursor: default;}
.normal {font-weight: normal;}
.inlineimg {vertical-align: middle;}

.member_seeders_value {color: green;}
.member_leechers_value {color: blue;}
.member_uploaded_value {color: green;}
.member_downloaded_value {color: blue;}
.member_size_value {color: blue;}
.postbit_attachment_seeders_value {color: green;}
.postbit_attachment_leechers_value {color: blue;}
.postbit_attachment_completed_value {color: blue;}
.postbit_attachment_users_name_value {color: blue;}
.postbit_attachment_users_completed_value {color: blue;}
.postbit_attachment_users_left_value {color: blue;}
.postbit_attachment_users_uploaded_value {color: green;}
.postbit_attachment_users_downloaded_value {color: blue;}
.postbit_attachment_users_last_announce_value {color: blue;}
.top_lists_posts_value {color: blue;}
.top_lists_uploaded_value {color: green;}
.top_lists_downloaded_value {color: blue;}
.top_lists_ratio_value {color: blue;}
.torrents_seeders_value {color: green;}
.torrents_leechers_value {color: blue;}
.torrents_completed_value {color: blue;}
.torrents_size_value {color: blue;}
.torrents_ctime_value {color: blue;}
.tracker_stats_seeders_value {color: green;}
.tracker_stats_leechers_value {color: blue;}
.tracker_stats_peers_value {color: blue;}
.tracker_stats_torrents_value {color: blue;}
.tracker_stats_uploaded_value {color: green;}
.tracker_stats_downloaded_value {color: blue;}
.tracker_stats_ratio_value {color: blue;}

.pagetext
{
	word-wrap:break-word;
	font:13px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-weight:normal;
	background: #F5F5FF;
	color: #000000;
	overflow-x:hidden;
	padding: 5px;
	width:100%;
}	

.pagetext img
{
	max-width:95%;
	width: expression(Math.min(parseInt(this.offsetWidth), 700 ) + "px");
}

.avatar
{
	max-width:50px;
	max-height:50px;
	width: expression(Math.min(parseInt(this.offsetWidth), 50 ) + "px");
	height: expression(Math.min(parseInt(this.offsetHeight), 50 ) + "px");
}

.postbit 
{
	align:center;
	text-align:center;
	word-wrap:break-word;
	width:100px;
	max-width:100px;
	min-width:100px;
	overflow-x:hidden;
	font-size:13px;
	background-color: #E1E4F2;
	color: #000000;
	padding: 5px;
}
#identity
{
	background:url(http://srv.desiproject.com/images/gradients/hdr-bg.png) repeat-x;
	border-bottom:#647ea0 solid 1px;
	height:96px;
	margin:0px 0px 0px 0px;
}

#identity h2
{
	height:96px;
	margin: 0px;
        padding: 0px;
}

#identity h2 img
{
	border:none;
}

#identity div.controls
{
	float:right;
	margin:-92px 12px 0px 0px;
	width:480px;
}

#identity div.members
{
	text-align:right;
	width:480px;
	color:#ffffff;
	font-size:10px;
}

#identity div.members a
{
	color:#ffffff;
	font-size:10px;
}

#identity div.members ul
{
	list-style:none;
        margin: 0px 5px 2px;
        padding: 0px;
}

#identity div.members ul li
{
	color:#ffffff;
	display:inline;
	font-size:10px;
	margin:0px 0px 0px 6px;
}

#identity div.members ul li a
{
	color:#ffffff;
	font-size:10px;
}

#identity div.search
{
	margin:10px 0px 0px 0px;
	text-align:right;
	width:480px;
	color:#ffffff;
	font-size:10px;
}

#identity div.search input.text
{
	border:none;
	border-width:0px;
	font:10px Arial, Sans-serif;
	margin:0px 6px 0px 0px;
	padding: 2px 3px;
	vertical-align: middle;
}

#identity div.search input.button {
	border: none;
	border-width:0px;
	width: 120px;
	font: bold 12px Arial, Sans-serif; 
	margin: 0px;
	padding: 2px 3px; 
	color: #FFF;
	background: #344E90;
	vertical-align: middle;
}

#identity div.search img{
	margin: 0px;
	vertical-align: middle;
}

#navigation
{
	background:url(http://srv.desiproject.com/images/gradients/navigation.gif) repeat-x;
	height:72px;
}

#navigation .container
{
	height:72px;
}

#navigation ol
{
	list-style:none;
        margin: 0px;
        padding: 0px;
}

#navigation ol li
{
	float:left;
	height:35px;
	margin:1px 0px 0px 0px;
        padding: 0px;
}

#navigation ol li a
{
	color:#ffffff;
	display:block;
	font-family:"arial";
	font-size:14px;
	font-weight:bold;
	line-height:35px;
	padding:0px 12px 0px 12px;
	text-decoration:none;
}

#navigation ol li.on a, #navigation ol li.on a:hover

{
	background-color:#b4cbdd;
	border-right:#ffffff solid 1px;
	border-bottom:#b4cbdd solid 1px;
	border-left:#ffffff solid 1px;
	color:#1b335c;
}

#navigation ol li a:hover
{
          background-color:#596f95;
}

#navigation ul
{
	clear:both;
        margin: 0px;
        padding: 0px;
	list-style:none;
}

#navigation ul li
{
	float:left;
	height:29px;
        margin: 0px;
        padding: 0px;
}

#navigation ul li a
{
	background:none;
	border:none;
	color:#1b335c;
	font-family:"tahoma";
	font-size:11px;
	font-weight:normal;
	line-height:29px;
	margin: 0px 12px 0px 12px;
}

#navigation ul li a:hover
{
	color:#ffffff;
}

div.container
{
	margin:0px auto;
	padding:0px 14px 0px 14px;
	width:970px;
}