* {padding:0;margin:0}

a {color:#1b1b1b;text-decoration:none}
a:hover {color:#ce2125;text-decoration:underline;cursor:pointer}
/* a:visited {color:#700070} */
a:focus {outline:none}
a img {border:0}

object {outline:none}

html, body {height:101%;background:#fff}
body {font-family:'pt sans',arial,sans-serif;font-size:12px;min-width:1260px}


/* ---------------------------------------- layouts */

.b-page {}

.b-header-wrapper {}
.b-header {position:relative;z-index:100}

.b-header-stripe01-wrapper {height:48px;background:#818181 url(/img4/header-stripe01-bg.png) bottom repeat-x}
.b-header-stripe01 {height:48px;width:1232px;margin:0 auto;position:relative;border-top:3px solid #949494}

.b-header-stripe02-wrapper {height:48px;background:#e1e1e1}
.b-header-stripe02 {height:48px;width:1232px;margin:0 auto;position:relative}

.b-header-stripe03-wrapper {height:138px}
.b-header-stripe03 {height:138px;width:1232px;margin:0 auto;position:relative}

.b-header-stripe04-wrapper {padding:0 0 74px 0}
.b-header-stripe04 {width:1232px;margin:0 auto;position:relative;border-top:3px solid #e5e5e5;border-bottom:3px solid #e5e5e5}

.b-content {width:1232px;min-height:620px;margin:0 auto;margin-bottom:40px}

.b-footer-wrapper {background:#494949;position:relative;z-index:1}
.b-footer {width:1232px;margin:0 auto;position:relative;padding:40px 0 20px 0;min-height:800px}

.g-columns {height:1%;width:100%}
.g-columns-left {width:981px;margin-right:-251px;float:left}
.g-columns-right {width:240px;margin-left:992px;}

.g-columns2 {height:1%;width:100%}
.g-columns2-left {width:240px;margin-right:-741px;float:left}
.g-columns2-right {width:730px;margin-left:251px;float:left}

.g-clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden}

/* ---------------------------------------- header */

.b-mobile-version-link {height:100%;background:#7fa4b7}
.b-mobile-version-link a {width:1232px;height:100px;margin:0 auto;display:block;font-size:40px;text-transform:uppercase;line-height:100px;color:#fff}

.b-moscowmedia-menu {position:absolute;top:13px;left:0}
.b-moscowmedia-menu ul {list-style-type:none}
.b-moscowmedia-menu ul li {display:inline-block;font-size:11px;line-height:16px;text-transform:uppercase;margin:0 20px 0 0}
.b-moscowmedia-menu ul li a {color:#fff}
.b-moscowmedia-menu ul li a:hover {color:#c5382e}

.b-moscowmedia-menu2 {position:absolute;top:48px;left:0}
.b-moscowmedia-menu2 ul {list-style-type:none}
.b-moscowmedia-menu2 ul li {display:inline-block;font-size:11px;height:36px;line-height:36px;text-transform:uppercase;margin:0 40px 0 0;position:relative;vertical-align:middle}
.b-moscowmedia-menu2 ul li a {display:inline-block;text-indent:-10000px;;-webkit-filter:grayscale(100%);-moz-filter: grayscale(100%);filter: grayscale(100%);opacity:0.65}
.b-moscowmedia-menu2 ul li a:hover {-webkit-filter:grayscale(0%);-moz-filter: grayscale(0%);filter: grayscale(0%);opacity:1}
.b-moscowmedia-menu2 ul li.logo01 a {margin:7px 0 0 0;width:80px;height:24px;background:url(/img4/moscowmedia-menu-logo01.png) 0 0 no-repeat}
.b-moscowmedia-menu2 ul li.logo02 a {width:98px;height:36px;background:url(/img4/moscowmedia-menu-logo04.png) 0 0 no-repeat}
.b-moscowmedia-menu2 ul li.logo03 a {margin:9px 0 0 0;width:97px;height:18px;background:url(/img4/moscowmedia-menu-logo03.png) 0 0 no-repeat}

.b-moscowmedia-menu2 ul li a.live {display:inline-block;width:21px;height:21;background:url(/img4/icon-live.png) 0 0 no-repeat;text-indent:-10000px;;margin:0 0 0 10px;-webkit-filter:grayscale(0%);-moz-filter: grayscale(0%);filter: grayscale(0%);opacity:1}

.b-moscowmedia-menu2 ul li:after {content:"/";font-family:'times new roman';font-size:28px;font-weight:400;display:block;position:absolute;right:-26px;top:2px;z-index:2;color:#dcdcdc}
.b-moscowmedia-menu2 ul li:last-child:after {display:none}



.b-logo {position:absolute;left:50%;margin-left:-122px;top:36px}
.b-logo img {width:244px;height:73px}

.b-menu {padding:16px 0 0 0;margin:0 0 15px 0;text-align:center}
.b-menu ul {list-style-type:none}
.b-menu ul li {display:inline-block;font-family:'times new roman';font-size:24px;line-height:24px;font-weight:700;text-transform:uppercase;margin:0 23px;position:relative}
.b-menu ul li a {color:#363b40}
.b-menu ul li a:hover {color:#c5382e}
.b-menu ul li:after {content:"/";font-size:28px;font-weight:400;display:block;position:absolute;right:-26px;top:2px;z-index:2;color:#dcdcdc}
.b-menu ul li:last-child:after {display:none}

.b-submenu {margin:0 0 16px 0;text-align:center}
.b-submenu ul {list-style-type:none}
.b-submenu ul li {display:inline-block;font-size:14px;line-height:14px;font-weight:700;margin:0 11px;position:relative}
.b-submenu ul li a {color:#777}
.b-submenu ul li a:hover {color:#c5382e}


.b-search {height:25px;width:238px;position:absolute;right:0;top:11px;background:#fff;border:1px solid #c2c2c2;z-index:200}
.b-search form fieldset {border:none}
.b-search form legend {display:none}
.b-search__input {height:17px;width:190px;padding:4px 0 4px 10px;margin:0 0 11px 0;border:0;font-size:13px;line-height:13px;color:#a8a8a8;outline:none}
.b-search__submit {width:24px;height:24px;background:url(/img4/search-icon.png) 0 0 no-repeat;opacity:0.6;border:0;position:absolute;top:1px;right:6px;cursor:pointer}

.b-search .auto-suggest {position:absolute;top:26px;left:-1px;z-index:201;display:none;background:#fff;font-size:13px;line-height:13px}
.b-search .auto-suggest a {text-decoration:none;display:block;width:220px;color:#333;background:#d9d9d9;border-bottom:1px solid #f2f2f2;padding:8px 10px}
.b-search .auto-suggest a:hover {text-decoration:none;color:#fff;background:#75a7aa}
.b-search .auto-suggest a.selected {color:#fff;background:#737373}
.b-search .auto-suggest a b.inp {font-size:13px;line-height:13px}

.b-info-data-widget {}
.b-info-data-widget ul {list-style-type:none}
.b-info-data-widget li {display:inline-block;font-size:14px;line-height:48px;font-weight:700;text-transform:uppercase;color:#111;position:relative;margin:0 39px 0 0}
.b-info-data-widget li:after {content:"/";font-family:'times new roman';font-size:28px;font-weight:400;display:block;position:absolute;right:-24px;top:2px;z-index:2;color:#bababa}
.b-info-data-widget li:last-child:after {display:none}
.b-info-data-widget__date {}
.b-info-data-widget__date span {color:#8c8f8f;padding:0 10px 0 0}
.b-info-data-widget__weather {font-size:18px;color:#9e0b0f;padding:0 0 0 10px}
.b-info-data-widget__traffic {font-size:18px;padding:0 10px 0 10px}
.b-info-data-widget__traffic_color1 {color:#517715}
.b-info-data-widget__traffic_color2 {color:#d98021}
.b-info-data-widget__traffic_color3 {color:#9e0b0f}
.b-info-data-widget__traffic-link {display:inline-block;font-size:11px;text-transform:none;line-height:11px;border:2px solid #8f9393;padding:3px 6px 3px 6px;position:relative;top:-3px}
.b-info-data-widget__usd {display:inline-block;font-size:18px;padding:0 20px 0 0}
.b-info-data-widget__usd span {color:#8c8f8f;font-size:14px;padding:0 10px 0 0}
.b-info-data-widget__eur {display:inline-block;font-size:18px}
.b-info-data-widget__eur span {color:#8c8f8f;font-size:14px;padding:0 10px 0 0}


.b-services-menu {position:absolute;}
.b-services-menu_header {bottom:-54px;right:18px}
.b-services-menu_footer {top:32px;right:18px}
.b-services-menu ul {list-style-type:none;height:24px}
.b-services-menu ul li {display:inline-block;margin:0 3px 0 0}
.b-services-menu ul li:last-child {margin:0}
.b-services-menu ul li a {width:24px;height:24px;display:block;text-indent:-10000px;background:url(/img4/social-icons.png) no-repeat}
.b-services-menu ul li a.facebook {background-position:0 0}
.b-services-menu ul li a.facebook:hover {background-position:0 -24px}
.b-services-menu ul li a.twitter {background-position:-24px 0}
.b-services-menu ul li a.twitter:hover {background-position:-24px -24px}
.b-services-menu ul li a.vkontakte {background-position:-48px 0}
.b-services-menu ul li a.vkontakte:hover {background-position:-48px -24px}
.b-services-menu ul li a.rss {background-position:-72px 0}
.b-services-menu ul li a.rss:hover {background-position:-72px -24px}
.b-services-menu ul li a.youtube {background-position:-96px 0}
.b-services-menu ul li a.youtube:hover {background-position:-96px -24px}
.b-services-menu ul li a.instagram {background-position:-120px 0}
.b-services-menu ul li a.instagram:hover {background-position:-120px -24px}
.b-services-menu ul li a.odnoklassniki {background-position:-168px 0}
.b-services-menu ul li a.odnoklassniki:hover {background-position:-168px -24px}
.b-services-menu ul li a.telegram {background-position:-192px 0}
.b-services-menu ul li a.telegram:hover {background-position:-192px -24px}


.b-services-menu ul li a.mirtesen {background-position:-144px 0}
.b-services-menu ul li a.mirtesen:hover {background-position:-144px -24px}

.b-mobileservices-menu {position:absolute}
.b-mobileservices-menu_header {bottom:-54px;left:0}
.b-mobileservices-menu_footer {top:32px;right:251px}
.b-mobileservices-menu ul {list-style-type:none;height:24px}
.b-mobileservices-menu ul li {display:inline-block;margin:0 5px 0 0}
.b-mobileservices-menu ul li a {width:24px;height:24px;display:block;text-indent:-10000px;background:url(/img4/mobile-icons.png) no-repeat}
.b-mobileservices-menu ul li a.apple {background-position:0 0}
.b-mobileservices-menu ul li a.apple:hover {background-position:0 -24px}
.b-mobileservices-menu ul li a.android {background-position:-24px 0}
.b-mobileservices-menu ul li a.android:hover {background-position:-24px -24px}
.b-mobileservices-menu ul li a.windows {background-position:-48px 0}
.b-mobileservices-menu ul li a.windows:hover {background-position:-48px -24px}

.b-header-buttons {position:absolute;top:7px;right:300px;font-size:0}

.b-header-live {display:inline-block;margin:0 10px 0 0}
.b-header-live a {font-size:14px;line-height:15px;font-weight:700;text-transform:uppercase;display:block;color:#fff;border:2px solid #9f9f9f;padding:3px 8px}
.b-header-live a:hover {color:#fff}

.b-header-feedback {display:inline-block;margin:0 30px 0 0}
.b-header-feedback a {font-size:14px;height:26px;line-height:26px;font-weight:700;text-transform:uppercase;display:block;color:#fff;padding:0 16px 0 36px;background:#3c5b59;border-radius:26px;position:relative}
.b-header-feedback a:before {content:"";width:21px;height:21px;display:block;position:absolute;top:3px;left:4px;background:url(/img4/icon-feedback.png) 0 0 no-repeat}
.b-header-feedback a:hover {color:#fff}

.b-header-large {display:inline-block;line-height:26px}
.b-header-large a {font-size:14px;font-weight:700;text-transform:uppercase;color:#fff;position:relative;padding:0 0 0 50px}
.b-header-large a:before {content:"";width:41px;height:18px;display:block;position:absolute;top:-1px;left:0;background:url(/img4/icon-large.png) 0 0 no-repeat}
.b-header-large a:hover {color:#fff}

.b-announcement {height:32px;position:relative;background:#ecb65a}
.b-announcement p {width:1232px;height:32px;display:block;font-size:15px;font-weight:700;line-height:32px;font-style:italic;margin:0 auto;position:relative;color:#363636}
.b-announcement p a {color:#363636}
.b-announcement p span {height:32px;padding:0 10px 0 14px;margin:0 26px 0 0;display:inline-block;position:relative;text-transform:uppercase;font-style:normal;font-size:11px;background:#4b6e81;color:#fff;vertical-align:top}
.b-announcement p span:after {border-bottom: 16px solid transparent;border-left: 16px solid #4b6e81;border-top: 16px solid transparent;content:"";height:0;left:100%;position:absolute;top:0;width:0}


.b-lighting-announcement {position:absolute;top:50px;left:870px}
.b-lighting-announcement p {position:relative;font-size:14px;line-height:15px;font-weight:700;font-style:italic;margin:0 40px 0 0}
.b-lighting-announcement p:before {content:"";width:24px;height:24px;display:block;position:absolute;top:50%;margin:-12px 0 0 0;left:-34px;background:url(/img4/icon-lighting.png) 0 0 no-repeat}
.b-lighting-announcement p a {color:#363636}

#BroadcastOnAir {height:32px;background:#d15a5a;overflow:hidden}
#BroadcastOnAir .Block {width:1232px;height:32px;line-height:32px;display:block;margin:0 auto;position:relative}
#BroadcastOnAir .Live {height:32px;padding:0 10px 0 14px;margin:0 26px 0 0;display:block;position:relative;text-transform:uppercase;font-style:normal;font-size:11px;background:#4b6e81;color:#fff;float:left}
#BroadcastOnAir .Live:after {border-bottom: 16px solid transparent;border-left: 16px solid #4b6e81;border-top: 16px solid transparent;content:"";height:0;left:100%;position:absolute;top:0;width:0}
#BroadcastOnAir .List {font-style:italic;display:block;float:left}
#BroadcastOnAir .List p {white-space:nowrap}
#BroadcastOnAir .List a {font-size:15px;font-weight:700;color:#fff}


#QuestionAnnouncement {height:32px;position:relative;background:#333}
#QuestionAnnouncement p {width:981px;height:32px;display:block;font-size:14px;line-height:32px;font-style:italic;margin:0 auto;position:relative;color:#fff}
#QuestionAnnouncement a {color:#fff}

/* ---------------------------------------- UniAnnouncement  */

#UniAnnouncement {background:#3C5B59;padding:17px 0}
#UniAnnouncement .Wrapper {width:919px;margin:0 auto;border:7px solid rgba(255,255,255,0.5);padding:11px 24px}
#UniAnnouncement .Header {font-size:18px;line-height:18px;font-weight:bold;text-transform:uppercase;text-align:center;display:block;position:relative;top:-21px}
#UniAnnouncement .Header span {background:#3C5B59;color:#f2f2f2;padding:0 17px}
#UniAnnouncement .Header a {background:#3C5B59;color:#f2f2f2;padding:0 17px}

#UniAnnouncement .List {}

#UniAnnouncement .List ul {list-style-type:none}
#UniAnnouncement .List ul li {width:220px;min-height:230px;margin:0 13px 0 0;float:left;position:relative}

#UniAnnouncement .List ul li.Last {margin:0}

#UniAnnouncement .List .Title {padding:130px 0 15px 0;margin:0 0 0 3px;font:normal 15px/16px 'pt serif'}
#UniAnnouncement .List .Title a {color:#fff}
#UniAnnouncement .List .Image {width:156px;height:114px;position:absolute;top:0;left:0;background:#ccc}

#UniAnnouncement .List .DateAndContent {font-size:11px;line-height:16px;margin:0 0 0 3px}
#UniAnnouncement .List .DateAndContent span {margin:0 17px 0 0;color:#fff;opacity:0.7}
#UniAnnouncement .List .DateAndContent img {vertical-align:middle;margin:0 5px 0 0}

/* 

#ThemeAnnouncement01 {background:#9c1013}
#ThemeAnnouncement01 .Wrapper {width:981px;margin:0 auto}
#ThemeAnnouncement01 .Header {font-size:18px;line-height:18px;font-weight:bold;padding:11px 0 0 0;margin:0 0 17px 0;text-transform:uppercase}
#ThemeAnnouncement01 .Header a {color:#fff}

#ThemeAnnouncement01 .List {}

#ThemeAnnouncement01 .List ul {list-style-type:none}
#ThemeAnnouncement01 .List ul li {width:236px;min-height:280px;margin:0 11px 0 0;float:left;position:relative}

#ThemeAnnouncement01 .List ul li.Last {margin:0}

#ThemeAnnouncement01 .List .Title {padding:173px 0 15px 0;margin:0 0 0 3px;font:normal 15px/16px 'pt serif'}
#ThemeAnnouncement01 .List .Title a {color:#fff}
#ThemeAnnouncement01 .List .Image {width:236px;height:157px;position:absolute;top:0;left:0;background:#ccc}

#ThemeAnnouncement01 .List .DateAndContent {font-size:11px;line-height:16px;margin:0 0 0 3px}
#ThemeAnnouncement01 .List .DateAndContent span {margin:0 17px 0 0;color:#fff;opacity:0.7}
#ThemeAnnouncement01 .List .DateAndContent img {vertical-align:middle;margin:0 5px 0 0}


#ThemeAnnouncement02 {background:#9c1013}
#ThemeAnnouncement02 .Wrapper {width:981px;margin:0 auto;position:relative}
#ThemeAnnouncement02 .Header {font-size:18px;line-height:19px;font-weight:bold;text-transform:uppercase;width:315px;height:114px;position:absolute;left:-326px;top:20px}
#ThemeAnnouncement02 .Header a {color:#fff}

#ThemeAnnouncement02 .List {padding:17px 0 0 0}

#ThemeAnnouncement02 .List ul {list-style-type:none}
#ThemeAnnouncement02 .List ul li {width:236px;min-height:230px;margin:0 11px 0 0;float:left;position:relative}

#ThemeAnnouncement02 .List ul li.Last {margin:0}

#ThemeAnnouncement02 .List .Title {padding:130px 0 15px 0;margin:0 0 0 3px;font:normal 15px/16px 'pt serif'}
#ThemeAnnouncement02 .List .Title a {color:#fff}
#ThemeAnnouncement02 .List .Image {width:156px;height:114px;position:absolute;top:0;left:0;background:#ccc}

#ThemeAnnouncement02 .List .DateAndContent {font-size:11px;line-height:16px;margin:0 0 0 3px}
#ThemeAnnouncement02 .List .DateAndContent span {margin:0 17px 0 0;color:#fff;opacity:0.7}
#ThemeAnnouncement02 .List .DateAndContent img {vertical-align:middle;margin:0 5px 0 0}

*/

/* ---------------------------------------- footer */

.b-footer-logo {}
.b-footer-logo img {width:134px;height:41px}

.b-footer-site-map {margin:0 0 40px 0}
.b-footer-site-map ul {list-style-type:none;display:block;float:left;margin:0 40px 0 0}
.b-footer-site-map ul li {line-height:13px;font-size:13px;margin:0 0 7px 0}
.b-footer-site-map ul li a {color:#44b9b8}
.b-footer-site-map ul li.main {font-size:20px;font-weight:700;margin:0 0 20px 0;text-transform:uppercase}
.b-footer-site-map ul li.main a {color:#fff}

.b-footer-site-map2 {padding:40px 0 0 0;margin:0 0 40px 0}
.b-footer-site-map2 ul {list-style-type:none;margin:0 0 40px 0}
.b-footer-site-map2 ul li {line-height:20px;font-size:14px}
.b-footer-site-map2 ul li a {color:#f2f2f2}

.b-footer-mistake {font-size:11px;line-height:14px;color:#fff;margin:0 0 20px 0}
.b-footer-mistake span {color:#b8b8b8}

.b-footer-submenu {margin:0 0 20px 0;overflow:hidden}
.b-footer-submenu ul {list-style-type:none}
.b-footer-submenu ul li {display:inline-block;font-size:13px;margin:0 10px 0 0}
.b-footer-submenu ul li a {color:#44b9b8}

.b-footer-moscow-media {margin:0 0 20px 0;overflow:hidden}
.b-footer-moscow-media ul {list-style-type:none}
.b-footer-moscow-media ul li {display:inline-block;font-size:12px;margin:0 10px 0 0;text-transform:uppercase}
.b-footer-moscow-media ul li a {color:#f2f2f2}

.b-footer-copyright {font-size:11px;color:#b8b8b8;padding:40px 0 0 0}
.b-footer-copyright p {line-height:14px;margin:0 0 20px 0}
.b-footer-copyright p a {color:#fff}

.b-footer-large {width:240px;position:absolute;top:74px;right:0;text-align:center;font-size:10px;text-transform:uppercase}
.b-footer-large a {color:#a7a7a7}
.b-footer-large a:hover {color:#c5382e}

.b-counters {position:absolute;bottom:80px;right:0;font-size:0}
.b-counters ul {list-style-type:none}
.b-counters ul li {width:88px;height:31px;display:inline-block;margin:0 0 0 5px;background:#222}
/*age restrictions*/
.b-header-stripe04::after {
    display: block;
    height: 64px;
    width: 64px;
    content: "16+";
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    line-height: 64px;
    color: rgb(225,225,225);
    font-weight: bold;
    font-family: Arial;
    border-radius: 50%;
    font-size: 24px;
    border: 2px solid rgb(225,225,225);
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    box-sizing: border-box;
}
.b-counters::before {
    display: block;
    height: 64px;
    width: 64px;
    content: "16+";
    position: absolute;
    top: -18px;
    left: -76px;
    background: transparent;
    text-align: center;
    line-height: 64px;
    color: rgba(255,255,255,0.3);
    font-weight: 300;
    font-family: arial,helvetica,sans-serif;
    border-radius: 50%;
    font-size: 26px;
    box-sizing: border-box;
    border: 2px solid rgba(255,255,255,0.3);
}


#ctrlcopy {
	color: transparent;
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
#SocialNetLikesBodyTop {display:none}