.b-social-sidebar-user {font-size:18px;line-height:18px;position:relative;padding:125px 30px 0 30px;text-align:center}
.b-social-sidebar-user a {color:#fff}
.b-social-sidebar-user img {position:absolute;top:20px;left:74px;width:92px;height:92px;border-radius:92px}

.b-social-sidebar-header {font-family:georgia;font-size:14px;font-weight:700;margin:0 0 15px 0;text-transform:uppercase;text-align:center;color:#2a5052}
.b-social-sidebar-header a {color:#2a5052}

.b-social-sidebar-header2 {font-family:georgia;font-size:14px;font-weight:700;margin:0 0 15px 0;text-transform:uppercase;text-align:center;color:#fff}
.b-social-sidebar-header2 a {color:#fff}

.b-social-sidebar-menu01 {}
.b-social-sidebar-menu01 ul {list-style-type:none}
.b-social-sidebar-menu01 ul li {font-family:georgia;font-size:14px;font-weight:700;text-transform:uppercase;text-align:center}
.b-social-sidebar-menu01 ul li a {display:block;line-height:37px;color:#2a5052}
.b-social-sidebar-menu01 ul li a:hover {background:#2a5052;color:#fff;text-decoration:none}
.b-social-sidebar-menu01 ul li.active a {background:#2a5052;color:#fff}

.b-social-sidebar-menu02 {margin:0 0 10px 0;text-align:center}
.b-social-sidebar-menu02 ul {list-style-type:none}
.b-social-sidebar-menu02 ul li {display:inline-block;font-size:14px;line-height:14px;font-weight:700;margin:0 6px;position:relative}
.b-social-sidebar-menu02 ul li a {color:#fff}
.b-social-sidebar-menu02 ul li.active a {color:#2a5052}

.b-social-sidebar-menu02 ul li:after {content:"/";display:block;position:absolute;right:-9px;top:0;z-index:2;color:#fff;font-weight:400}
.b-social-sidebar-menu02 ul li:last-child:after {display:none}

.b-community-deleted {height:40px;font-size:14px;line-height:40px;background:#dedede;text-align:center;text-transform:uppercase;margin:0 0 30px 0}


/* ---------------------------------------- Materials CommentButton - bottom of page button */

a.SocialCommentButton {width:200px;height:27px;padding:0 0 0 20px;display:block;position:relative;background:#75a7aa;font-size:10px;line-height:27px;letter-spacing:1px;text-transform:uppercase;color:#fff;text-decoration:none}
a.SocialCommentButton span {width:56px;height:27px;display:block;position:absolute;top:0;right:0;font-size:13px;line-height:27px;text-align:center;background:#4d7f81}
a.SocialCommentButton span i {font-style:normal;padding:0 0 0 20px;background:url(/img3/SocialCommentButton_bg.png) 0 0 no-repeat}

/*hide comments count - Varya_prosila*/
a.SocialCommentButton span i {
    width: 20px;
    display: inline-block;
    text-indent: -10000px;
    margin: 5px 0 0;
	overflow:hidden;
}

.SocialPublishLink {position:absolute;top:0;right:225px}
.SocialPublishLink a {width:27px;height:27px;display:block}

/* ---------------------------------------- Materials CommentButton 

a.SocialCommentButton {margin-left:0px;width:98px;height:27px;padding:0 0 0 6px;display:block;position:relative;background:#17b879;font-size:10px;line-height:27px;letter-spacing:2px;text-transform:uppercase;color:#fff;text-decoration:none}
a.SocialCommentButton span {width:41px;height:27px;display:block;position:absolute;top:0;right:0;font-size:12px;line-height:27px;text-align:center;background:#128e5d}
a.SocialCommentButton span i {font-style:normal;padding:0 0 0 17px;background:url(/img3/SocialCommentButton_bg.png) 0 0 no-repeat}

.SocialPublishLink {margin-left:11px;padding:10px 0 0 0}
.SocialPublishLink a {color:#888;text-decoration:underline}

#page .SocialCommentButton {color:#fff}
#page .SocialPublishLink a {font-size:12px;line-height:12px;color:#888}

*/

/* ---------------------------------------- TopScrollPanel */

#TopScrollPanel {display:block;position:fixed;top:20px;margin:0 0 0 -62px;text-indent:-10000px}
#TopScrollPanel a {width:42px;height:42px;display:block;background:#f2f2f2 url(/img3/IconUp16.png) no-repeat scroll 50% 50%}
#TopScrollPanel.hidden {display: none}


/* -------------------------------------------------------------------------------- Global Lists */

/* ---------------------------------------- Users */

#SocialUsersList {margin:0 0 40px 0}

#SocialUsersList ul {list-style-type:none}
#SocialUsersList ul li {width:236px;height:220px;margin:0 11px 40px 0;float:left;position:relative}

#SocialUsersList ul li.Last {margin:0 0 40px 0}

#SocialUsersList .User {padding:108px 0 15px 0;margin:0 10px 0 3px;font-size:17px;line-height:18px}
#SocialUsersList .Image {width:92px;height:92px;position:absolute;top:0;left:0;background:#ccc;border-radius:92px;behavior:url(/css3/PIE.htc)}

/* ---------------------------------------- Users - Following */

#SocialUsersList2 {margin:0 0 40px 0}

#SocialUsersList2 ul {list-style-type:none}
#SocialUsersList2 ul li {width:222px;height:260px;border:7px solid #dcdcdc;margin:0 11px 32px 0;float:left;position:relative}

#SocialUsersList2 ul li.Last {margin:0 0 40px 0}

#SocialUsersList2 .User {padding:125px 0 15px 0;margin:0 10px 0 20px;font-size:17px;line-height:18px}
#SocialUsersList2 .Image {width:92px;height:92px;position:absolute;top:17px;left:17px;background:#ccc;border-radius:92px;behavior:url(/css3/PIE.htc)}

#SocialUsersList2 .Button {position:absolute;left:17px;bottom:17px}


/* ---------------------------------------- Communities */

#SocialCommunitiesList {margin:0 0 40px 0}

#SocialCommunitiesList ul {list-style-type:none}
#SocialCommunitiesList ul li {width:236px;height:420px;margin:0 11px 40px 0;float:left;position:relative}

#SocialCommunitiesList ul li.Last {margin:0 0 40px 0}

#SocialCommunitiesList .Title {padding:108px 0 15px 0;margin:0 10px 0 3px;font-size:17px;line-height:18px}
#SocialCommunitiesList .Image {width:92px;height:92px;position:absolute;top:0;left:0;background:#ccc;border-radius:92px;behavior:url(/css3/PIE.htc)}

#SocialCommunitiesList .FollowersCount {font-size:11px;line-height:11px;padding:0 0 10px 21px;margin:0 0 0 3px;position:relative}
#SocialCommunitiesList .FollowersCount a {color:#b6b6b6;text-decoration:none}
#SocialCommunitiesList .FollowersCount a i {width:16px;height:16px;display:block;position:absolute;top:-3px;left:0;background:url(/img3/IconPeople16.png) 0 0 no-repeat}

#SocialCommunitiesList .Desc {font-size:12px;line-height:18px;color:#6a6a6a;margin:0 17px 0 3px}

/* ---------------------------------------- Communities - Following */

#SocialCommunitiesList2 {margin:0 0 40px 0}

#SocialCommunitiesList2 ul {list-style-type:none}
#SocialCommunitiesList2 ul li {width:222px;height:260px;border:7px solid #dcdcdc;margin:0 11px 32px 0;float:left;position:relative}

#SocialCommunitiesList2 ul li.Last {margin:0 0 32px 0}

#SocialCommunitiesList2 .Title {padding:125px 0 15px 0;margin:0 10px 0 20px;font-size:17px;line-height:18px}
#SocialCommunitiesList2 .Image {width:92px;height:92px;position:absolute;top:17px;left:17px;background:#ccc;border-radius:92px;behavior:url(/css3/PIE.htc)}

#SocialCommunitiesList2 .FollowersCount {font-size:11px;line-height:11px;padding:0 0 10px 21px;margin:0 0 0 20px;position:relative}
#SocialCommunitiesList2 .FollowersCount a {color:#b6b6b6;text-decoration:none}
#SocialCommunitiesList2 .FollowersCount a i {width:16px;height:16px;display:block;position:absolute;top:-3px;left:0;background:url(/img3/IconPeople16.png) 0 0 no-repeat}

#SocialCommunitiesList2 .Button {position:absolute;left:17px;bottom:17px}

#SocialCommunitiesList2 .Desc {display:none}

/* ---------------------------------------- Posts */

#SocialPostsList {margin:0 0 40px 0}

#SocialPostsList ul {list-style-type:none}
#SocialPostsList ul li {width:236px;height:420px;margin:0 11px 40px 0;float:left;position:relative;border-bottom:1px solid #d9d9d9}

#SocialPostsList ul li.Last {margin:0 0 40px 0}

#SocialPostsList .User {position:absolute;top:0;left:0;padding:0 0 0 60px}
#SocialPostsList .User a {font-size:11px;color:#b1191d}
#SocialPostsList .User a img {width:45px;height:45px;background:#ccc;border-radius:45px;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}

#SocialPostsList .Date {font-size:11px;color:#b6b6b6;position:absolute;top:16px;left:60px}
#SocialPostsList .Date a {color:#b6b6b6}
#SocialPostsList .Date a:hover {color:#ce2125}

#SocialPostsList .Title {padding:77px 0 15px 0;margin:0 10px 0 3px;font:normal 17px/18px 'pt serif'}
#SocialPostsList .Text {font-size:12px;line-height:18px;color:#6a6a6a;margin:0 17px 20px 3px}

#SocialPostsList .CommentsCount {font-size:11px;line-height:16px;color:#b6b6b6;padding:0 0 0 20px;position:relative;margin:0 0 0 3px;background:url(/img3/IconComment16.png) 0 0 no-repeat}


/* -------------------------------------------------------------------------------- Authentification And Forms */

/* ---------------------------------------- Authentification Menu */

#AuthMenu {position:absolute;top:9px;right:0}

#AuthMenu ul {list-style-type:none}
#AuthMenu ul li {font-size:14px;line-height:24px;font-weight:700;text-transform:uppercase;position:relative;margin:0 0 0 11px;float:left}
#AuthMenu ul li a {color:#fff}
#AuthMenu ul li a:hover {}
#AuthMenu ul li.Adm {position:absolute;left:-41px}
#AuthMenu ul li.Adm a {}
#AuthMenu ul li.Adm a img {width:24px;height:24px}
#AuthMenu ul li.User {padding:0 0 0 34px}
#AuthMenu ul li.User a {}
#AuthMenu ul li.User a img {width:24px;height:24px;border-radius:24px;background:#333;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}
#AuthMenu ul li.Home {display:none}
#AuthMenu ul li.Home a { display:block; width:13px; height:13px; text-indent:-9999px; overflow:hidden; background:url(../../img3/HomeIcon.png) no-repeat 0 0; position:relative; top:4px}
#AuthMenu ul li.Home a:hover { background-position:0 -13px}

/* ---------------------------------------- Social Forms */

#SocialForm input.ex6_invalid {border:2px solid #17b879;margin:0}
#SocialForm select.ex6_invalid {border:2px solid #17b879;margin:0}
.ex6_errmsg {font:normal 8pt arial;color:#c92000;white-space:nowrap}

#SocialForm {}
#SocialForm fieldset {border:none}
#SocialForm legend {display:none}

#SocialForm .InActiveSignUp {background:#dcdcdc;color:#878787}
#SocialForm .InActiveSignUp span {cursor:default}

#SocialForm .FormData1 {position:relative;padding:7px 0}

#SocialForm .Label1 {position:absolute;top:18px;left:0;font-size:14px;color:#1b1b1b}

#SocialForm .Input1 {position:relative;left:247px;color:#656565;border:1px solid #d5d5d5;width:461px;padding:9px 9px 7px 9px;margin:1px;font:normal 14px tornadoc}
#SocialForm .Input1:focus {border:2px solid #4f8386;margin:0}

#SocialForm .Textarea1 {position:relative;left:247px;color:#656565;border:1px solid #d5d5d5;width:461px;height:64px;padding:9px 9px 7px 9px;margin:1px;font:normal 14px tornadoc;overflow:auto;resize:none}
#SocialForm .Textarea1:focus {border:2px solid #4f8386;margin:0}

#SocialForm .Select1 {position:relative;left:247px;width:234px;color:#656565;padding:9px 9px 7px 9px;margin:1px;display:block;border:1px solid #d5d5d5;font:normal 14px tornadoc}
#SocialForm .Select1 option {padding:0 9px}
#SocialForm .Select1:focus {outline:none}
#SocialForm .Select2 {position:relative;left:247px;width:481px;color:#656565;padding:9px 9px 7px 9px;margin:1px;display:block;border:1px solid #d5d5d5;normal 14px tornadoc}
#SocialForm .Select2 option {padding:0 9px}
#SocialForm .Select2:focus {outline:none}

#SocialForm .ButtonSubmit {padding:32px 0}

#SocialForm .ButtonsBar {padding:0 0 10px 0}
#SocialForm .ButtonsBar ul {list-style-type:none}
#SocialForm .ButtonsBar ul li {float:left;display:block;height:36px;margin:0 1px 0 0}

#SocialForm .Error {font:normal 13px 'pt serif';color:#17b879;margin:0 0 20px 0}
#SocialForm .Success {font-size:13px;color:#b1191d;margin:0 0 20px 0}
#SocialForm .Message {font-size:13px;margin:0 0 20px 0}
#SocialForm .Confirm {font-size:13px;margin:0 0 20px 0}

#SocialForm .Captcha {margin:0 0 8px 248px}
#SocialForm .Captcha p {font-size:11px;padding:7px 0 0 0;margin:0 0 2px 0}

#SocialForm .Text {padding:6px 0;font-style:italic;}
#SocialForm .Text2 {padding:6px 0;font-style:italic;font-weight:bold}

#SocialForm .Agreement {padding:8px 0 8px 33px;position:relative;font-size:14px;line-height:14px;color:#1b1b1b}
#SocialForm .Agreement input {position:absolute;top:8px;left:0}
#SocialForm .Agreement a {color:#4f8386}

#SocialForm .CheckBox {padding:8px 0 8px 33px;position:relative;font-size:14px;line-height:14px;color:#1b1b1b}
#SocialForm .CheckBox input {width:17px;height:17px;position:absolute;top:6px;left:0}

#SocialForm .SocialNetworks {margin:0 0 20px 0}
#SocialForm .SocialNetworks ul {list-style-type:none}
#SocialForm .SocialNetworks ul li {margin:0 10px 0 0;font-size:13px;font-style:normal;color:#656565;line-height:24px;float:left}

#SocialForm a.fb {width:24px;height:24px;display:block;background:url(/img3/Facebook24.png) 0 0 no-repeat;text-indent:-10000px}
#SocialForm a.vk {width:24px;height:24px;display:block;background:url(/img3/Vkontakte24.png) 0 0 no-repeat;text-indent:-10000px}
#SocialForm a.twitter {width:24px;height:24px;display:block;background:url(/img3/Twitter24.png) 0 0 no-repeat;text-indent:-10000px}
#SocialForm a.ok {width:24px;height:24px;display:block;background:url(/img3/Odnoklassniki24.png) 0 0 no-repeat;text-indent:-10000px}
#SocialForm a.mailru {width:24px;height:24px;display:block;background:url(/img3/Mailru24.png) 0 0 no-repeat;text-indent:-10000px}

#SocialForm .SocialNetworks ul li button {width:24px;height:24px;display:block;text-indent:-10000px;border:none;cursor:pointer;margin:5px 0 0 0}

#SocialForm .Facebook button {background:url(/img3/Facebook24.png) 0 0 no-repeat}
#SocialForm .Vkontakte button {background:url(/img3/Vkontakte24.png) 0 0 no-repeat}
#SocialForm .Twitter button {background:url(/img3/Twitter24.png) 0 0 no-repeat}
#SocialForm .Odnoklassniki button {background:url(/img3/Odnoklassniki24.png) 0 0 no-repeat}
#SocialForm .Mailru button {background:url(/img3/Mailru24.png) 0 0 no-repeat}

#SocialForm .FormMenu {}
#SocialForm .FormMenu ul {list-style-type:none}
#SocialForm .FormMenu ul li {margin:0 20px 0 0;font-size:13px;float:left}
#SocialForm .FormMenu ul li a {color:#4f8386}

/* ---------------------------------------- Social Agreement */

#SocialAgreement {margin:0 0 40px 0}
#SocialAgreement p {font-size:15px;line-height:26px;color:#4d4d4d;margin:0 0 30px 0}

#SocialAgreement .Main {font:normal 18px/18px 'pt serif';color:#1b1b1b;margin:0 0 30px 0;padding:0;text-transform:none}

/* ---------------------------------------- Upload AvatarImage UI */

#UploadAvatarImageFile {min-height:100px;position:relative}

#UploadAvatarImageFileStep01 {display:block;position:relative;height:100px}
#UploadAvatarImageFileStep02 {display:none;position:relative;height:100px}
#UploadAvatarImageFileStep03 {display:none;position:relative;height:100px}

#UploadAvatarImageFile .UploadAvatarImageBar {height:36px;padding:0 0 0 0;position:absolute;left:359px}
#UploadAvatarImageFile .UploadAvatarImageBar p {padding:5px 0 0 0;font-size:12px;color:#8f8e8e}

#UploadAvatarImageFile .ProgressBar {width:371px;height:8px;display:block;background:#fff;border:none;padding:0}
#UploadAvatarImageFile .LoaderWrapper {height:8px;background:#f0f0f0;font-size:2px}
#UploadAvatarImageFile .Loader {height:8px;display:block;background:#4d7f81;width:0;}
#UploadAvatarImageFile .Count {position:absolute;top:13px;right:0}

#UploadAvatarImageFile .Image {width:92px;height:92px;position:absolute;top:0;left:247px}
#UploadAvatarImageFile .Image img {width:92px;height:92px;border-radius:92px;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}

#UploadAvatarImageFile a.UploadAvatar {position:absolute;top:0;left:359px}
#UploadAvatarImageFile a.DeleteAvatar {position:absolute;top:0;left:359px}
#UploadAvatarImageFile a:hover.DeleteAvatar {cursor:pointer}
#UploadAvatarImageFile a:focus.DeleteAvatar {outline:none}

/* -------------------------------------------------------------------------------- Main */

/* ---------------------------------------- SocialRibbon */

#SocialRibbon {height:1083px;margin-top:-1px}
#SocialRibbon .Users {padding:10px 0 0 0;position:relative;height:622px}
#SocialRibbon .Communities {padding:32px 0 0 0;height:418px;background:#9c1013}

/* ---------------------------------------- Social G Form */

#SocialGForm {position:relative;margin:0 0 40px 0}

#SocialGForm .Welcome {font-size:13px;line-height:24px;margin:0 0 20px 0;position:relative}

#SocialGForm .Welcome a {position:relative;display:inline-block;margin:0 0 0 34px;color:#4f8386}
#SocialGForm .Welcome a img {width:24px;height:24px;background:#ccc;border-radius:45px;position:absolute;top:0;left:-30px}


#WallCreatePostGForm {min-height:214px;background:#42545f url(/img4/social-create-post-form-bg.png) 0 0 repeat-y;position:relative;padding:14px 0 0 0;margin:0}

#WallCreatePostGForm .Header {font-size:18px;line-height:18px;font-weight:700;text-transform:uppercase;color:#fff;padding:7px 0 0 0;margin:0 0 7px 81px}

#WallCreatePostGForm .SubMenu {margin-top:-65px}
#WallCreatePostGForm .SocialBarAttachPhotoButton {display:none}
#WallCreatePostGForm .SocialBarAttachVideoButton {display:none}
#WallCreatePostGForm .SocialBarAddPollButton {display:none}

#WallCreatePostGForm textarea.ex6_invalid {border: 1px solid #17b879}

#WallCreatePostGForm .UploadDataWrapper {padding:7px 0 5px 81px}

#WallCreatePostGForm fieldset {border:none}
#WallCreatePostGForm legend {display:none}

#WallCreatePostGForm .FormData1 {position:relative;padding:7px 0}

#WallCreatePostGForm .Textarea1 {position:relative;left:81px;width:601px;height:112px;padding:9px 9px 7px 9px;border:1px solid #e5e5e5;background:#fbfbfb;color:#656565;font:normal 14px tornadoc;overflow:auto;resize:none}

#WallCreatePostGForm .CheckBox {position:relative;left:81px;padding:8px 0 8px 28px;font-size:13px;line-height:13px;color:#fff}
#WallCreatePostGForm .CheckBox input {width:17px;height:17px;position:absolute;top:8px;left:0}
#WallCreatePostGForm .CheckBox a {color:#b1cdcf}

#WallCreatePostGForm .ButtonsBar {height:58px;margin:0 0 0 58px;position:relative}
#WallCreatePostGForm .ButtonsBar ul {position:absolute;top:8px;right:28px;list-style-type:none}
#WallCreatePostGForm .ButtonsBar ul li {float:left;display:block;height:27px;margin:0 0 0 20px}

#SocialGForm .GAuth {position:relative}

#SocialGForm .GAuth p {padding:11px 0 0 0;line-height:24px;font-size:13px}
#SocialGForm .GAuth p a {color:#4f8386}

#SocialGForm .GAuth .SocialNetworksText {position:absolute;top:0;right:198px;color:#656565}

#SocialGForm .GAuth .SocialNetworks {position:absolute;top:10px;right:18px}
#SocialGForm .GAuth .SocialNetworks ul {list-style-type:none}
#SocialGForm .GAuth .SocialNetworks ul li {margin:0 10px 0 0;line-height:24px;float:left}
#SocialGForm .GAuth .SocialNetworks ul li:first-child {display:none}

#SocialGForm .GAuth a.fb {width:24px;height:24px;display:block;background:url(/img3/Facebook24.png) 0 0 no-repeat;text-indent:-10000px}
#SocialGForm .GAuth a.vk {width:24px;height:24px;display:block;background:url(/img3/Vkontakte24.png) 0 0 no-repeat;text-indent:-10000px}

#SocialGForm .GAuth ul li button {width:24px;height:24px;display:block;text-indent:-10000px;border:none;cursor:pointer;margin:0 0 0 0}

#SocialGForm .Facebook button {background:url(/img3/Facebook24.png) 0 0 no-repeat}
#SocialGForm .Vkontakte button {background:url(/img3/Vkontakte24.png) 0 0 no-repeat}
#SocialGForm .Twitter button {background:url(/img3/Twitter24.png) 0 0 no-repeat}
#SocialGForm .Odnoklassniki button {background:url(/img3/Odnoklassniki24.png) 0 0 no-repeat}
#SocialGForm .Mailru button {background:url(/img3/Mailru24.png) 0 0 no-repeat}


/* ---------------------------------------- ProgramsTopList */

#SocialProgramsTopList {width:483px;margin:0 0 40px 0}
#SocialProgramsTopList ul {list-style-type:none;margin:0 0 10px 0}
#SocialProgramsTopList ul li {position:relative;width:483px;min-height:100px;margin:0 0 32px 0}
#SocialProgramsTopList ul li.Odd {}

#SocialProgramsTopList .Count {width:27px;height:21px;background:#333;border-radius:27px;display:block;font-size:14px;padding:6px 0 0 0;color:#fff;text-align:center;position:absolute;top:10px;left:10px;behavior:url(/css3/PIE.htc)}

#SocialProgramsTopList .Title {font:normal 17px/18px 'pt serif';padding:0 0 0 112px;margin:0 0 15px 0}

#SocialProgramsTopList .Image {width:100px;height:100px;display:block;background:#ccc;position:absolute;top:0;left:0}

#SocialProgramsTopList .Desc {font-size:12px;line-height:18px;color:#6a6a6a;padding:0 32px 0 112px;margin:0 0 20px 0}
#SocialProgramsTopList .PostsCount {font-size:11px;line-height:16px;color:#8f8e8e;padding:0 0 32px 20px;position:relative;left:112px;background:url(/img3/IconComment16.png) 0 0 no-repeat}

#SocialProgramsTopList .Sep {width:371px;height:1px;background:#d9d9d9;position:absolute;right:0;bottom:0}

#SocialProgramsTopList .AllLink {font-size:11px;display:none}
#SocialProgramsTopList .AllLink a {color:#ce2125}

/* ---------------------------------------- UsersTopList */

#SocialUsersTopList {padding:0 19px;position:relative}
#SocialUsersTopList ul {list-style-type:none}
#SocialUsersTopList ul li {position:relative;min-height:45px;margin:0 0 11px 0}
#SocialUsersTopList ul li.Odd {}

#SocialUsersTopList .Count {font-size:11px;line-height:11px;color:#2a5052;position:absolute;top:18px;left:0}

#SocialUsersTopList .User {font-size:14px;line-height:17px;padding:5px 17px 0 76px}
#SocialUsersTopList .User a {color:#fff}
#SocialUsersTopList .User a img {width:45px;height:45px;background:#9c1013;border-radius:45px;position:absolute;top:0;left:24px}

/* ----------------------------------------  CommunitiesTopList */

#SocialCommunitiesTopList {padding:0 19px;position:relative}

#SocialCommunitiesTopList .b-top {}
#SocialCommunitiesTopList .b-top ul {list-style-type:none}
#SocialCommunitiesTopList .b-top ul li {position:relative;min-height:10px;margin:0 0 13px 0}
#SocialCommunitiesTopList .b-top ul li.Odd {}

#SocialCommunitiesTopList .b-top .Count {font-size:11px;line-height:11px;color:#2a5052;position:absolute;top:4px;left:0}

#SocialCommunitiesTopList .b-top .Title {font-size:14px;line-height:17px;margin:0 52px 0 24px}
#SocialCommunitiesTopList .b-top .Title a {color:#fff}
#SocialCommunitiesTopList .b-top .FollowersCount {font-size:11px;line-height:11px;padding:0 0 0 21px;position:absolute;top:4px;left:160px}
#SocialCommunitiesTopList .b-top .FollowersCount a {color:#2a5052;text-decoration:none}
#SocialCommunitiesTopList .b-top .FollowersCount a i {width:16px;height:16px;display:block;position:absolute;top:-3px;left:0;background:url(/img4/icon-16-users.png) 0 0 no-repeat}


/* ---------------------------------------- SocialLastThemesTopList */

#SocialLastThemesTopList {position:relative;margin:0 0 40px 0}
#SocialLastThemesTopList ul {list-style-type:none}
#SocialLastThemesTopList ul li {margin:0 0 0 0;min-height:182px;position:relative}
#SocialLastThemesTopList ul li.Odd {}
#SocialLastThemesTopList ul li.Last {}

#SocialLastThemesTopList .Post {min-height:182px;border-bottom:1px solid #c8c8c8;margin:0 0 32px 0}

#SocialLastThemesTopList ul li.Sep {width:730px;height:10px;min-height:10px;border:0;margin:0}

#SocialLastThemesTopList .Count {display:none}

#SocialLastThemesTopList .Title {font-size:18px;line-height:19px;margin:0 32px 13px 3px;padding:0 0 0 247px}
#SocialLastThemesTopList .Date {font-size:12px;color:#707377;margin:0 32px 13px 3px;padding:0 0 0 247px}
#SocialLastThemesTopList .Image {width:236px;position:absolute;top:0;left:0}
#SocialLastThemesTopList .Desc {font-size:12px;line-height:18px;color:#7f7f7f;margin:0 32px 10px 3px;padding:0 0 0 247px}
#SocialLastThemesTopList .Button {height:27px;position:relative;margin:0 0 20px 0}
#SocialLastThemesTopList .Button a {position:absolute;top:0;right:0}

#SocialLastThemesTopList .Rubric {font-size:15px;font-weight:700;margin:0 20px 10px 3px;padding:0 0 0 247px}
#SocialLastThemesTopList .Rubric a {color:#4d7f81}

#SocialLastThemesTopList .CommentsCount {font-size:11px;line-height:16px;color:#8f8e8e;padding:0 0 20px 20px;position:relative;left:247px;background:url(/img3/IconComment16.png) 0 0 no-repeat}

#SocialLastThemesTopList .CommentsList {}
#SocialLastThemesTopList .Comment {position:relative;min-height:77px;border-bottom:1px solid #c8c8c8;margin:0 0 32px 0}

#SocialLastThemesTopList .User {position:absolute;top:0;left:0;padding:24px 0 0 60px}
#SocialLastThemesTopList .User a {font-size:12px;color:#b45657}
#SocialLastThemesTopList .User a img {width:45px;height:45px;background:#ccc;border-radius:45px;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}

#SocialLastThemesTopList .CommentDate {font-size:12px;color:#707377;position:absolute;top:5px;left:60px}

#SocialLastThemesTopList .CommentText {font-size:12px;line-height:18px;color:#7f7f7f;padding:0 32px 0 247px;margin:0 0 32px 0}

#SocialLastThemesTopList .AllLink {font-size:12px}
#SocialLastThemesTopList .AllLink a {color:#4f8386}


/* ---------------------------------------- SocialThemesTopList */

#SocialThemesTopList {position:relative;margin:0 0 40px 0}
#SocialThemesTopList ul {list-style-type:none}
#SocialThemesTopList ul li {width:222px;height:222px;border:7px solid #dcdcdc;margin:0 11px 32px 0;float:left;position:relative}
#SocialThemesTopList ul li.Odd {}
#SocialThemesTopList ul li.Last {margin:0 0 32px 0}

#SocialThemesTopList .Count {width:27px;height:21px;background:#b1191d;border-radius:27px;display:block;font-size:14px;padding:6px 0 0 0;color:#fff;text-align:center;position:absolute;bottom:20px;left:20px;behavior:url(/css3/PIE.htc)}

#SocialThemesTopList .Rubric {font-size:11px arial;margin:0 20px 0 20px}
#SocialThemesTopList .Rubric a {color:#b1191d}

#SocialThemesTopList .Title {padding:30px 0 0 0;margin:0 20px 13px 20px;font:normal 14px/17px 'pt serif'}
#SocialThemesTopList .Desc {display:none}

#SocialThemesTopList .CommentsCount {font-size:11px;line-height:16px;color:#8f8e8e;padding:0 0 10px 20px;position:relative;left:20px;background:url(/img3/IconComment16.png) 0 0 no-repeat}

#SocialThemesTopList .AllLink {font-size:11px}
#SocialThemesTopList .AllLink a {color:#ce2125}


/* ---------------------------------------- SocialCommunityThemesTopList */

#SocialCommunityThemesTopList {position:relative;margin:0 0 40px 0}
#SocialCommunityThemesTopList ul {list-style-type:none}
#SocialCommunityThemesTopList ul li {position:relative;min-height:77px;border-bottom:1px solid #c8c8c8;margin:0 0 32px 0}
#SocialCommunityThemesTopList ul li.Odd {}

#SocialCommunityThemesTopList .Count {display:none}

#SocialCommunityThemesTopList .User {position:absolute;top:0;left:0;padding:24px 0 0 60px}
#SocialCommunityThemesTopList .User a {font-size:12px;color:#b45657}
#SocialCommunityThemesTopList .User a img {width:45px;height:45px;background:#ccc;border-radius:45px;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}

#SocialCommunityThemesTopList .Date {font-size:12px;color:#707377;position:absolute;top:5px;left:60px}

#SocialCommunityThemesTopList .Title {font-size:18px;line-height:19px;padding:0 32px 0 247px;margin:0 0 15px 0}
#SocialCommunityThemesTopList .Desc {font-size:12px;line-height:18px;color:#7f7f7f;padding:0 32px 0 247px;margin:0 0 32px 0}

#SocialCommunityThemesTopList .CommentsCount {font-size:11px;line-height:16px;color:#8f8e8e;padding:0 0 10px 20px;position:absolute;top:50px;left:60px;background:url(/img3/IconComment16.png) 0 0 no-repeat}

#SocialCommunityThemesTopList .AllLink {font-size:12px}
#SocialCommunityThemesTopList .AllLink a {color:#4f8386}



/* -------------------------------------------------------------------------------- Profile */

#UserProfile {}

/* ---------------------------------------- Personal Data */

#UserProfilePersonalData {width:240px}

#UserProfilePersonalData .Data1 {padding:30px 0 10px 0;background:#4d7f81;position:relative}
#UserProfilePersonalData .Data2 {background:#4d7f81;padding:0 0 70px 0;position:relative}
#UserProfilePersonalData .Data2:before{content: "";display:block;position:absolute;bottom:0;left:0;width:0;height:0;border-bottom:32px solid #75a7aa;border-left:120px solid transparent;border-right:120px solid transparent}

#UserProfilePersonalData .Banned {color:#fff;margin:0 0 32px 0}

#UserProfilePersonalData .User {font-size:18px;line-height:18px;position:relative;padding:125px 30px 0 30px;color:#fff;text-align:center}
#UserProfilePersonalData .User a {color:#fff}
#UserProfilePersonalData .User img {position:absolute;top:20px;left:74px;width:92px;height:92px;border-radius:92px;behavior:url(/css3/PIE.htc)}

#UserProfilePersonalData .Edit {padding:5px 0 0 0;text-align:center}
#UserProfilePersonalData .Edit a {font-size:11px;color:#a3bec0}

#UserProfilePersonalData .Button {padding:20px 30px}

#UserProfilePersonalData .Data2 p {font-size:12px;line-height:16px;color:#cdd8d8;margin:0 0 12px 0;padding:0 30px;text-align:center}
#UserProfilePersonalData .Data2 p span {display:block;color:#cdd8d8}
#UserProfilePersonalData .Data2 p u {text-decoration:none}
#UserProfilePersonalData .Data2 p a {color:#2a5052}

/* ----------------------------------------  User Photos */

#UserProfilePhotos {background:#75a7aa;padding:15px 19px 20px 19px}

#UserProfilePhotos .PhotosCount {display:none}

#UserProfilePhotosList {width:210px}
#UserProfilePhotosList ul {list-style-type:none}
#UserProfilePhotosList ul li {width:97px;height:65px;display:block;float:left;margin:0 8px 8px 0}
#UserProfilePhotosList ul li img {width:97px;height:65px;display:block;background:#ccc}

#UserProfilePhotosList ul li:first-child {width:202px;height:135px;display:block;float:left;margin:0 8px 8px 0}
#UserProfilePhotosList ul li:first-child img {width:202px;height:135px;display:block;background:#ccc}


/* ----------------------------------------  User Videos */

#UserProfileVideos {background:#75a7aa;padding:15px 19px 20px 19px}

#UserProfileVideos .VideosCount {display:none}

#UserProfileVideosList  {width:210px}
#UserProfileVideosList  ul {list-style-type:none}
#UserProfileVideosList  ul li {width:97px;height:71px;display:block;float:left;margin:0 8px 8px 0}
#UserProfileVideosList  ul li img {width:97px;height:71px;display:block;background:#ccc}

#UserProfileVideosList  ul li:first-child {width:202px;height:148px;display:block;float:left;margin:0 8px 8px 0}
#UserProfileVideosList  ul li:first-child img {width:202px;height:148px;display:block;background:#ccc}


/* ----------------------------------------  User Following */

#UserProfileFollowing {background:#75a7aa;padding:15px 19px 20px 19px}

#UserProfileCommunitiesList {}
#UserProfileCommunitiesList ul {list-style-type:none}
#UserProfileCommunitiesList ul li {position:relative;margin:0 0 13px 0}

#UserProfileCommunitiesList .Title {font-size:14px;line-height:17px;margin:0 52px 0 0}
#UserProfileCommunitiesList .Title a {color:#2a5052}

#UserProfileCommunitiesList .FollowersCount {font-size:11px;line-height:11px;padding:0 0 0 21px;position:absolute;top:4px;left:160px}
#UserProfileCommunitiesList .FollowersCount a {color:#2a5052;text-decoration:none}
#UserProfileCommunitiesList .FollowersCount a i {width:16px;height:16px;display:block;position:absolute;top:-3px;left:0;background:url(/img4/icon-16-users.png) 0 0 no-repeat}

#UserProfileUsersList {}
#UserProfileUsersList ul {width:212px;list-style-type:none}
#UserProfileUsersList ul li {position:relative;width:96px;min-height:104px;margin:0 10px 11px 0;float:left;overflow:hidden}

#UserProfileUsersList .User {font-size:14px;line-height:17px;padding:58px 0 0 0;text-align:center}
#UserProfileUsersList .User a {color:#fff}
#UserProfileUsersList .User a img {width:45px;height:45px;background:#f2f2f2;border-radius:45px;position:absolute;top:0;left:25px}

#UserProfileFollowing .AllLink {padding:11px 0 0 0;font-size:11px}
#UserProfileFollowing .AllLink a {color:#2a5052}


/* -------------------------------------------------------------------------------- Profile Adds */

/* ---------------------------------------- Photos */

#UserPhotos {margin:0 0 40px 0}

#UserPhotosList {border:7px solid #dcdcdc;padding:30px 0 19px 56px;margin:0 0 32px 0;min-height:86px}
#UserPhotosList ul {list-style-type:none}
#UserPhotosList ul li {width:112px;height:75px;float:left;margin:0 11px 11px 0;position:relative;background:#ccc}
#UserPhotosList ul li img {width:112px;height:75px;cursor:pointer}

#UserPhotosList a.DeletePhoto {width:21px;height:21px;display:block;position:absolute;top:5px;right:5px;background:url(/img3/IconDelete21.png) 0 0 no-repeat;text-indent:-10000px;display:none}
#UserPhotosList a:hover.DeletePhoto {background-position:bottom left;cursor:pointer}
#UserPhotosList a:focus.DeletePhoto {outline:none}

#UserPhotosList .item_restore {width:112px;position:absolute;top:25px;left:0;text-align:center}
#UserPhotosList .item_restore a {color:#b1191d}

#UserPhotos .PhotosUp {height:32px;margin:0 0 32px 0;display:block;background:#f2f2f2 url(/img3/IconUp16.png) 50% 50% no-repeat}
#UserPhotos .PhotosUp a {height:32px;display:block;text-indent:-10000px}

#UserPhotos .PhotosLoader {height:32px;margin:0 0 32x 0;display:block;background:#fff url(/img3/PostsLoader.gif) 50% 50% no-repeat}
#UserPhotos .PhotosLoader p {height:32px;display:block;text-indent:-10000px}

#UploadUserPhoto {margin:0 0 32px 0}
#UploadUserPhoto fieldset {border:none}
#UploadUserPhoto legend {display:none}


/* ---------------------------------------- Videos */

#UserVideos {margin:0 0 40px 0}

#UserVideosList {width:741px;margin:0 0 32px 0}
#UserVideosList ul {list-style-type:none}
#UserVideosList ul li {width:236px;height:172px;margin:0 11px 11px 0;display:block;position:relative;float:left;background:#ccc}
#UserVideosList ul li img {width:236px;height:172px;cursor:pointer}

#UserVideosList a.DeleteVideo {width:21px;height:21px;display:block;position:absolute;top:10px;right:10px;background:url(/img3/IconDelete21.png) 0 0 no-repeat;text-indent:-10000px;;display:none}
#UserVideosList a:hover.DeleteVideo {background-position:bottom left;cursor:pointer}
#UserVideosList a:focus.DeleteVideo {outline:none}

#UserVideosList .item_restore {width:236px;position:absolute;top:50px;left:0;text-align:center}
#UserVideosList .item_restore a {color:#b1191d}

#UserVideosList .VideosUp {height:32px;margin:0 0 32px 0;display:block;background:#fff url(/img3/IconUp16.png) 50% 50% no-repeat}
#UserVideosList .VideosUp a {height:32px;display:block;text-indent:-10000px}

#UserVideosList .VideosLoader {height:32px;margin:0 0 32x 0;display:block;background:#fff url(/img3/PostsLoader.gif) 50% 50% no-repeat}
#UserVideosList .VideosLoader p {height:32px;display:block;text-indent:-10000px}

#UploadUserVideo {margin:0 0 32px 0}
#UploadUserVideo fieldset {border:none}
#UploadUserVideo legend {display:none}


/* -------------------------------------------------------------------------------- Community */

#Community {}

/* ---------------------------------------- Community Data */

#CommunityData {width:240px}

#CommunityData .Data1 {padding:30px 0 10px 0;background:#4d7f81;position:relative}
#CommunityData .Data2 {background:#4d7f81;padding:0 0 70px 0;position:relative}
#CommunityData .Data2:before{content: "";display:block;position:absolute;bottom:0;left:0;width:0;height:0;border-bottom:32px solid #75a7aa;border-left:120px solid transparent;border-right:120px solid transparent}

#CommunityData .Banned {color:#fff;margin:0 0 32px 0}

#CommunityData .Title {font-family:georgia;text-transform:uppercase;font-size:18px;font-weight:700;line-height:18px;position:relative;padding:125px 30px 0 30px;color:#fff;text-align:center}
#CommunityData .Title a {color:#fff}
#CommunityData .Title img {position:absolute;top:20px;left:74px;width:92px;height:92px;border-radius:92px;}

#CommunityData .Edit {padding:5px 0 0 0;text-align:center}
#CommunityData .Edit a {font-size:11px;color:#a3bec0}

#CommunityData .Button {padding:20px 30px}

#CommunityData .Data2 .Desc {font-size:12px;line-height:16px;color:#fff;margin:0 0 20px 0;padding:0 30px 20px 30px}

#CommunityData .Data2 .Counts {padding:0 19px;position:relative}
#CommunityData .Data2 .Counts p {width:96px;text-align:center;font-size:12px;color:#fff}
#CommunityData .Data2 .Counts p span {font-size:24px;display:block}
#CommunityData .Data2 .FollowersCount {position:absolute;top:0;left:126px}

/* ---------------------------------------- Community Subdistricts */

#Subdistricts {background:#75a7aa;padding:15px 19px 20px 19px}

#Subdistricts {}
#Subdistricts ul {list-style-type:none}
#Subdistricts ul li {position:relative;margin:0 0 13px 0}

#Subdistricts .Title {font-size:14px;line-height:17px;margin:0 52px 0 0}
#Subdistricts .Title a {color:#fff}


/* ---------------------------------------- Community Followers */

#Followers {background:#75a7aa;padding:15px 19px 20px 19px}

#FollowersList {}
#FollowersList ul {width:212px;list-style-type:none}
#FollowersList ul li {position:relative;width:96px;min-height:104px;margin:0 10px 11px 0;float:left;overflow:hidden}

#FollowersList .User {font-size:14px;line-height:17px;padding:58px 0 0 0;text-align:center}
#FollowersList .User a {color:#fff}
#FollowersList .User a img {width:45px;height:45px;background:#f2f2f2;border-radius:45px;position:absolute;top:0;left:25px}

/* ---------------------------------------- Community Top */

#CommunityTop {background:#75a7aa;padding:15px 19px 20px 19px}

#CommunityTop {}
#CommunityTop .b-top ul {list-style-type:none}
#CommunityTop .b-top ul li {position:relative;margin:0 0 13px 0}

#CommunityTop .b-top .Count {display:none}
#CommunityTop .b-top .Title {font-size:14px;line-height:17px;margin:0 52px 0 0}
#CommunityTop .b-top .Title a {color:#fff}

#CommunityTop .b-top .FollowersCount {font-size:11px;line-height:11px;padding:0 0 0 21px;position:absolute;top:4px;left:160px}
#CommunityTop .b-top .FollowersCount a {color:#2a5052;text-decoration:none}
#CommunityTop .b-top .FollowersCount a i {width:16px;height:16px;display:block;position:absolute;top:-3px;left:0;background:url(/img4/icon-16-users.png) 0 0 no-repeat}


/* -------------------------------------------------------------------------------- Community And Wall Posts */

#CommunityAndWallPosts {margin:0 0 40px 0}

.NotRegistered {margin:0 0 32px 0;font-size:13px;line-height:14px}
.NotRegistered a {color:#4f8386}

#CommunityAndWallPosts .PostsUp {height:32px;margin:0 0 32px 0;display:block;background:#f2f2f2 url(/img3/IconUp16.png) 50% 50% no-repeat}
#CommunityAndWallPosts .PostsUp a {height:32px;display:block;text-indent:-10000px}

#CommunityAndWallPosts .ShowAll {height:32px;margin:0 0 32px 0;display:block;background:#f2f2f2 url(/img3/IconUp16.png) 50% 50% no-repeat}
#CommunityAndWallPosts .ShowAll a {height:32px;display:block;text-indent:-10000px}

#CommunityAndWallPosts .PostsLoader {height:32px;margin:0 0 32x 0;display:block;background:#fff url(/img3/PostsLoader.gif) 50% 50% no-repeat}
#CommunityAndWallPosts .PostsLoader p {height:32px;display:block;text-indent:-10000px}

/* ---------------------------------------- Wall Create Post Form */

#WallFakeForm {border:3px solid #dedede;margin:0 0 32px 0}
#WallFakeForm p {color:#87aec6;padding:20px;display:block;font-size:14px;line-height:14px;font-weight:700;text-transform:uppercase;cursor:text}

#WallCreatePostForm {min-height:214px;background:#f2f2f2 url(/img4/social-create-post-form-bg.png) 0 0 repeat-y;position:relative;padding:14px 0 0 0;margin:0 0 32px 0}

#WallCreatePostForm textarea.ex6_invalid {border: 1px solid #17b879}

#WallCreatePostForm .UploadDataWrapper {padding:7px 0 5px 81px}

#WallCreatePostForm fieldset {border:none}
#WallCreatePostForm legend {display:none}

#WallCreatePostForm .FormData1 {position:relative;padding:7px 0}

#WallCreatePostForm .charsRemaining {margin:0 0 7px 81px;font-size:12px;color:#8f8e8e}

#WallCreatePostForm .Textarea1 {position:relative;left:81px;width:601px;height:112px;padding:9px 9px 7px 9px;border:1px solid #c3c3c3;background:#fbfbfb;color:#656565;font:normal 14px tornadoc;overflow:auto;resize:none}

#WallCreatePostForm .ButtonsBar {height:58px;margin:0 0 0 58px;position:relative}
#WallCreatePostForm .ButtonsBar ul {position:absolute;top:8px;right:28px;list-style-type:none}
#WallCreatePostForm .ButtonsBar ul li {float:left;display:block;height:27px;margin:0 0 0 20px}
#WallCreatePostForm .ButtonsBar ul li p {padding:9px 0 0 0;font-size:11px;line-height:11px;letter-spacing:1px;text-transform:uppercase}

/* -------------------- Community Create Post Form */

#CommunityCreatePostForm {min-height:216px;background:#f2f2f2 url(/img4/social-create-post-form-bg.png) 0 0 repeat-y;position:relative;padding:14px 0 0 0;margin:0 0 32px 0}

#CommunityCreatePostForm input.ex6_invalid {border: 1px solid #17b879}
#CommunityCreatePostForm textarea.ex6_invalid {border: 1px solid #17b879}

#CommunityCreatePostForm .UploadDataWrapper {padding:7px 0 5px 81px}

#CommunityCreatePostForm fieldset {border:none}
#CommunityCreatePostForm legend {display:none}

#CommunityCreatePostForm .FormData1 {position:relative;padding:7px 0}

#CommunityCreatePostForm .charsRemaining {margin:0 0 7px 81px;font-size:12px;color:#8f8e8e}

#CommunityCreatePostForm .Label1 {position:relative;display:block;left:81px;font-size:14px;color:#656565;margin:0 0 7px 0}
#CommunityCreatePostForm .Input1 {position:relative;left:81px;width:598px;padding:9px 9px 7px 9px;border:0;border:1px solid #c3c3c3;background:#fbfbfb;color:#656565;font:normal 14px tornadoc}
#CommunityCreatePostForm .Textarea1 {position:relative;left:81px;width:598px;height:112px;padding:9px 9px 7px 9px;border:1px solid #c3c3c3;background:#fbfbfb;color:#656565;font:normal 14px tornadoc;overflow:auto;resize:none}

#CommunityCreatePostForm .CheckBox {position:relative;left:81px;padding:8px 0 8px 33px;font-size:14px;line-height:14px;color:#656565}
#CommunityCreatePostForm .CheckBox input {width:17px;height:17px;position:absolute;top:6px;left:0}

#CommunityCreatePostForm .ButtonsBar {height:58px;margin:0 0 0 58px;position:relative}
#CommunityCreatePostForm .ButtonsBar ul {position:absolute;top:8px;right:21px;list-style-type:none}
#CommunityCreatePostForm .ButtonsBar ul li {float:left;display:block;height:27px;margin:0 0 0 20px}
#CommunityCreatePostForm .ButtonsBar ul li p {padding:9px 0 0 0;font-size:11px;line-height:11px;letter-spacing:1px;text-transform:uppercase}

/* ---------------------------------------- Post Body And Types */

#CommunityAndWallPosts .Post {margin:0 0 40px 0;padding:0 0 40px 0;border-bottom:1px solid #d5d5d5;position:relative;overflow:hidden}
#CommunityAndWallPosts .PostWrapper {}
#CommunityAndWallPosts .PostWrapper2 {}

#CommunityAndWallPosts .PostCommentary {font-size:14px;line-height:14px;font-style:italic;margin:0 20px 15px 0;color:#656565}
#CommunityAndWallPosts .PostTitle {font-size:22px;line-height:22px;font-family:georgia;margin:0 20px 28px 0}

#CommunityAndWallPosts .PostBody {position:relative}

#CommunityAndWallPosts .PostDateAndLink {width:80px;font-size:12px;position:absolute;top:0;left:0}
#CommunityAndWallPosts .PostDateAndLink p {line-height:16px;margin:0 0 5px 0}
#CommunityAndWallPosts .PostDateAndLink a {color:#707377}
#CommunityAndWallPosts .PostDateAndLink a.DeletePost {display:none}

#CommunityAndWallPosts .Post .Author {width:97px;position:absolute;top:65px;left:0;padding:60px 0 0 0;overflow:hidden}
#CommunityAndWallPosts .Post .Author a {font-size:12px;color:#b45657}
#CommunityAndWallPosts .Post .Author a img {width:45px;height:45px;background:#ccc;border-radius:45px;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}

#CommunityAndWallPosts .PostText {min-height:50px;font-size:16px;line-height:21px tornadoc;color:#707377;margin:0 20px 28px 120px}

#CommunityAndWallPosts .Post .PostPhotos {margin:0 0 17px 120px}
#CommunityAndWallPosts .Post .PostVideos {margin:0 0 17px 120px}
#CommunityAndWallPosts .Post .PostPolls {margin:0 0 17px 120px}

#CommunityAndWallPosts .PostImage {width:481px;margin:0 0 28px 120px;position:relative}
#CommunityAndWallPosts .PostImage img {width:481px;min-height:321px;display:block;background:#ccc}

#CommunityAndWallPosts .TypePhoto .PostImage a img {width:481px;height:321px;display:block;background:#ccc}
#CommunityAndWallPosts .TypePhoto .PostImage a i {width:481px;height:321px;display:block;background:url(/img3/PostPhoto_bg.png) top left no-repeat;position:absolute;top:0;left:0}
#CommunityAndWallPosts .TypePhoto .PostImage a:hover i {background-position:bottom left;cursor:pointer}

#CommunityAndWallPosts .TypeVideo .PostImage a img {width:481px;height:351px;display:block;background:#ccc}
#CommunityAndWallPosts .TypeVideo .PostImage a i {width:481px;height:351px;display:block;background:url(/img3/PostVideo_bg.png) top left no-repeat;position:absolute;top:0;left:0}
#CommunityAndWallPosts .TypeVideo .PostImage a:hover i {background-position:bottom left;cursor:pointer}

#CommunityAndWallPosts .TypeInfographics .PostImage a img {width:481px;height:351px;display:block;background:#ccc}
#CommunityAndWallPosts .TypeInfographics .PostImage a i {width:481px;height:351px;display:block;background:url(/img3/PostInfographics_bg.png) top left no-repeat;position:absolute;top:0;left:0}
#CommunityAndWallPosts .TypeInfographics .PostImage a:hover i {background-position:bottom left;cursor:pointer}

#CommunityAndWallPosts .TypeAudio .PostImage a img {width:481px;height:351px;display:block;background:#ccc}
#CommunityAndWallPosts .TypeAudio .PostImage a i {width:481px;height:351px;display:block;background:url(/img3/PostAudio_bg.png) top left no-repeat;position:absolute;top:0;left:0}
#CommunityAndWallPosts .TypeAudio .PostImage a:hover i {background-position:bottom left;cursor:pointer}

#CommunityAndWallPosts .PostAfterBody {height:45px;margin:0 0 0 120px;position:relative}

#CommunityAndWallPosts .CommentsCount {font-size:12px;color:#999;line-height:16px;padding:0 0 0 20px;position:relative}
#CommunityAndWallPosts .CommentsCount i {width:16px;height:16px;background:url(/img3/IconComment16.png) 0 0 no-repeat;position:absolute;top:0;left:0}

#CommunityAndWallPosts .LikeButton {position:absolute;top:0;right:0}
#CommunityAndWallPosts .LikeButton a {width:180px;height:27px;padding:0 0 0 20px;display:block;position:relative;background:#75a7aa;font-size:12px;line-height:27px;letter-spacing:1px;text-transform:uppercase;color:#fff;text-decoration:none}
#CommunityAndWallPosts .LikeButton a span {width:56px;height:27px;display:block;position:absolute;top:0;right:0;font-size:13px;line-height:27px;text-align:center;background:#4d7f81}
#CommunityAndWallPosts .LikeButton a span i {font-style:normal;padding:0 0 0 20px;background:url(/img4/icon-16-like.png) 0 0 no-repeat;position:relative}

#CommunityAndWallPosts .Post .item_restore {background:#fff;padding:0;text-align:center;display:none}
#CommunityAndWallPosts .Post .item_restore a {font-size:11px;color:#ce2125;height:32px;line-height:32px;display:block;background:#e3e3e3}

#CommunityAndWallPosts .LikePost {margin:0 0 0 120px}

#CommunityAndWallPosts .LikePost .LikeText {margin:0 0 11px 0;color:#656565}

#CommunityAndWallPosts .LikePost .AuthorAndDate {height:45px;margin:0 0 11px 0;position:relative}

#CommunityAndWallPosts .LikePost .Author2 {position:relative;padding:0 0 0 60px}
#CommunityAndWallPosts .LikePost .Author2 a {font-size:11px;color:#b45657}
#CommunityAndWallPosts .LikePost .Author2 a img {width:45px;height:45px;background:#ccc;border-radius:45px;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}

#CommunityAndWallPosts .LikePost .Date {font-size:11px;color:#8f8e8e;position:absolute;top:16px;left:60px}
#CommunityAndWallPosts .LikePost .Date a {color:#8f8e8e}
#CommunityAndWallPosts .LikePost .Date a:hover {color:#ce2125}

#CommunityAndWallPosts .LikePost .PostCommentary {margin:0 0 15px 0}
#CommunityAndWallPosts .LikePost .PostTitle {margin:0 20px 28px 0}
#CommunityAndWallPosts .LikePost .PostText {margin:0 20px 28px 0}
#CommunityAndWallPosts .LikePost .PostPhotos {margin:0 0 17px 0}
#CommunityAndWallPosts .LikePost .PostVideos {margin:0 0 17px 0}
#CommunityAndWallPosts .LikePost .PostPolls {margin:0 0 17px 0}
#CommunityAndWallPosts .LikePost .PostImage {margin:0 0 28px 0}

/* ---------------------------------------- Events */

#CommunityAndWallPosts .Event {margin:0 0 40px 0;padding:0 0 40px 0;border-bottom:1px solid #e3e3e3;position:relative;}

#CommunityAndWallPosts .Event .UserAndDate {height:45px;margin:0 0 11px 0;position:relative}

#CommunityAndWallPosts .Event .User {position:relative;padding:0 0 0 60px}
#CommunityAndWallPosts .Event .User a {font-size:11px;color:#b1191d}
#CommunityAndWallPosts .Event .User a img {width:45px;height:45px;background:#ccc;border-radius:45px;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}

#CommunityAndWallPosts .Event .Date {font-size:11px;color:#8f8e8e;position:absolute;top:16px;left:60px}

#CommunityAndWallPosts .Event .EventText {color:#656565;margin:0 0 0 60px}
#CommunityAndWallPosts .Event .EventText a {color:#66a9ad}



/* ---------------------------------------- Post Photos */

#CommunityAndWallPosts .PostPhotos {width:492px}

#CommunityAndWallPosts .PostPhotos ul {list-style-type:none}
#CommunityAndWallPosts .PostPhotos ul li {width:112px;height:75px;display:block;float:left;margin:0 11px 11px 0}
#CommunityAndWallPosts .PostPhotos ul li a {}
#CommunityAndWallPosts .PostPhotos ul li a img {width:112px;height:75px;display:block;background:#ccc}

#CommunityAndWallPosts .PostPhotos ul li.MainPhoto {width:481px;height:321px;}
#CommunityAndWallPosts .PostPhotos ul li.MainPhoto a img {width:481px;height:321px}


/* ---------------------------------------- Post Videos */

#CommunityAndWallPosts .PostVideos {width:492px}

#CommunityAndWallPosts .PostVideos ul {list-style-type:none}
#CommunityAndWallPosts .PostVideos ul li {width:112px;height:82px;display:block;position:relative;float:left;margin:0 11px 11px 0}
#CommunityAndWallPosts .PostVideos ul li a {}
#CommunityAndWallPosts .PostVideos ul li a img {width:112px;height:82px;display:block;background:#ccc}

#CommunityAndWallPosts .PostVideos ul li:first-child {width:481px;height:351px}
#CommunityAndWallPosts .PostVideos ul li:first-child a img {width:481px;height:351px}
#CommunityAndWallPosts .PostVideos ul li:first-child a i {position:absolute;top:0;left:0;width:481px;height:351px;display:block;background:url(/img3/PostVideo_bg.png) 0 0 no-repeat}
#CommunityAndWallPosts .PostVideos ul li:first-child a:hover i {background-position:bottom left;cursor:pointer}


/* ---------------------------------------- Post Polls */

#CommunityAndWallPosts .PostPolls {}

#CommunityAndWallPosts .PostPollsTitle {font-size:20px;line-height:21px;margin:0 0 20px 0}

#CommunityAndWallPosts .PostPollsAnswers {margin:0 0 10px 0;display:block}
#CommunityAndWallPosts .PostPollsAnswers form {}
#CommunityAndWallPosts .PostPollsAnswers form fieldset {border:none}
#CommunityAndWallPosts .PostPollsAnswers form legend {display:none}

#CommunityAndWallPosts .PostPollsAnswers .FormData1 {padding:11px 0 11px 32px;position:relative}

#CommunityAndWallPosts .PostPollsAnswers form input[type="radio"] {display:block;position:absolute;top:5px;left:5px}
#CommunityAndWallPosts .PostPollsAnswers form input[type="radio"] + label::before {content:"";width:21px;height:21px;display:block;position:absolute;top:5px;left:0;background:url(/img4/input-radio.png) 0 -42px no-repeat}
#CommunityAndWallPosts .PostPollsAnswers form input[type="radio"]:checked + label::before {background-position:0 -63px}

#CommunityAndWallPosts .PostPollsAnswers form input[type="checkbox"] {display:block;position:absolute;top:5px;left:5px}
#CommunityAndWallPosts .PostPollsAnswers form input[type="checkbox"] + label::before {content:"";width:21px;height:21px;display:block;position:absolute;top:5px;left:0;background:url(/img4/input-checkbox.png) 0 -42px no-repeat}
#CommunityAndWallPosts .PostPollsAnswers form input[type="checkbox"]:checked + label::before {background-position:0 -63px}

#CommunityAndWallPosts .PostPollsAnswers form label {color:#323232;line-height:12px}

#CommunityAndWallPosts .PostPollsAnswers .Button {padding:17px 0 0 0;margin:0 0 11px 0}

#CommunityAndWallPosts .PostPollsResults {margin:0 0 11px 0;display:block}
#CommunityAndWallPosts .PostPollsResults .Result {margin:0 0 20px 0;}
#CommunityAndWallPosts .PostPollsResults .ResultAnswer {color:#323232;margin:0 0 5px 0}

#CommunityAndWallPosts .PostPollsResults .ResultData {position:relative}
#CommunityAndWallPosts .PostPollsResults .ResultBar {width:401px;height:8px;display:block;background:#fff}
#CommunityAndWallPosts .PostPollsResults .ResultLineWrapper {}
#CommunityAndWallPosts .PostPollsResults .ResultLine {height:8px;display:block;background:#4d7f81;width:0px}
#CommunityAndWallPosts .PostPollsResults .ResultCount {position:absolute;top:-3px;left:412px;font-size:14px;color:#4d7f81}

/* ---------------------------------------- Polls Create Form */

#CommunityAndWallCreatePollsForm {position:relative}

#CommunityAndWallCreatePollsForm .PollsTitle {font:normal 14px/14px tornadoc;text-transform:uppercase;color:#1f1f1f;padding:7px 0 0 0;margin:0 0 23px 81px;position:relative;display:block}

#CommunityAndWallCreatePollsForm .PollsTitle a {width:21px;height:21px;display:block;position:absolute;top:0;left:458px;background:url(/img3/IconDelete21_2.png) 0 0 no-repeat;text-indent:-10000px}
#CommunityAndWallCreatePollsForm .PollsTitle a:hover {background-position:bottom left;cursor:pointer}
#CommunityAndWallCreatePollsForm .PollsTitle a:focus {outline:none}

#CommunityAndWallCreatePollsForm fieldset {border:none}
#CommunityAndWallCreatePollsForm legend {display:none}

#CommunityAndWallCreatePollsForm input.ex6_invalid {border: 1px solid #17b879}

#CommunityAndWallCreatePollsForm .FormData1 {position:relative;padding:7px 0}

#CommunityAndWallCreatePollsForm .Label1 {position:relative;display:block;left:81px;font-size:14px;color:#656565;margin:0 0 7px 0}
#CommunityAndWallCreatePollsForm .Input1 {position:relative;left:81px;width:458px;padding:9px 9px 7px 9px;border:0;border:1px solid #c3c3c3;background:#fbfbfb;color:#656565;font:normal 14px tornadoc}
#CommunityAndWallCreatePollsForm .NewAnswer {margin:10px 0 0 0}

#CommunityAndWallCreatePollsForm .CheckBox {position:relative;left:81px;padding:8px 0 8px 33px;font-size:14px;line-height:14px;color:#656565}
#CommunityAndWallCreatePollsForm .CheckBox input {width:17px;height:17px;position:absolute;top:6px;left:0}

#CommunityAndWallCreatePollsForm a.AddAnswer {width:16px;height:16px;display:block;position:absolute;top:39px;left:579px;background:url(/img3/IconPlus16.png) 0 0 no-repeat;text-indent:-10000px}
#CommunityAndWallCreatePollsForm a:focus.AddAnswer {outline:none}

#CommunityAndWallCreatePollsForm a.DeleteAnswer {width:16px;height:16px;display:block;position:absolute;top:39px;left:615px;background:url(/img3/IconMinus16.png) 0 0 no-repeat;text-indent:-10000px}
#CommunityAndWallCreatePollsForm a:focus.DeleteAnswer {outline:none}


/* -------------------------------------------------------------------------------- Comments */

#CommunityAndWallPosts .CommentsList {}
#CommunityAndWallPosts .CommentsList :last-child .CommentAfterBody {border:none}

#CommunityAndWallPosts .Comment {position:relative;background:#fff;margin:0 0 0 120px}

#CommunityAndWallPosts .Comment .User {position:absolute;top:28px;left:28px;padding:0 0 0 60px}
#CommunityAndWallPosts .Comment .User a {font-size:11px;color:#b45657}
#CommunityAndWallPosts .Comment .User a img {width:45px;height:45px;background:#ccc;border-radius:45px;position:absolute;top:0;left:0;behavior:url(/css3/PIE.htc)}

#CommunityAndWallPosts .Comment .DateAndLink {font-size:11px;color:#707377;position:absolute;top:44px;left:88px}
#CommunityAndWallPosts .Comment .DateAndLink span {padding:0 5px 0 0}
#CommunityAndWallPosts .Comment .DateAndLink a {display:none;color:#707377}
#CommunityAndWallPosts .Comment .DateAndLink a:hover {}

#CommunityAndWallPosts .CommentBody {padding:68px 28px 0 28px}
#CommunityAndWallPosts .CommentBody p {font-size:12px;line-height:18px;color:#707377;padding:0 0 15px 60px}

#CommunityAndWallPosts .CommentBody .PostPhotos {margin:0 0 4px 60px}
#CommunityAndWallPosts .CommentBody .PostVideos {margin:0 0 4px 60px}
#CommunityAndWallPosts .CommentBody .PostPolls {}

#CommunityAndWallPosts .CommentAfterBody {height:40px;margin:0 28px;position:relative;border-bottom:1px solid #e3e3e3}

#CommunityAndWallPosts .Comment .LikeLink {font-size:12px;line-height:16px;position:absolute;top:0px;left:57px;}
#CommunityAndWallPosts .Comment .LikeLink a {margin:0 0 0 20px;color:#b45657;text-decoration:none}
#CommunityAndWallPosts .Comment .LikeLink a i {width:16px;height:16px;display:block;position:absolute;top:0;left:0;background:url(/img4/icon-16-like2.png) 0 0 no-repeat}
#CommunityAndWallPosts .Comment .LikeLink a span {}
#CommunityAndWallPosts .Comment .LikeLink a:hover span {text-decoration:underline}
#CommunityAndWallPosts .Comment .LikeLink a u {padding:0 0 0 5px;color:#8f8e8e;text-decoration:none}


#CommunityAndWallPosts .Comment .item_restore {background:#fff;padding:10px 28px;text-align:center;display:none}
#CommunityAndWallPosts .Comment .item_restore a {font-size:11px;color:#ce2125;height:32px;line-height:32px;display:block;background:#f2f2f2}

#CommunityAndWallPosts .ShowComments {background:#fff;text-align:center;margin:0 0 0 120px;padding:0 0 11px 0}
#CommunityAndWallPosts .ShowComments a {font-size:12px;color:#909090;height:32px;line-height:32px;display:block;background:#f2f2f2}


/* ---------------------------------------- Comment Create Form */

#CommunityAndWallPosts .CommentFormWrapper {padding:28px;background:#f2f2f2;margin:0 0 0 120px}
#CommunityAndWallPosts .FakeForm {}
#CommunityAndWallPosts .FakeForm p {height:32px;display:block;padding:0 0 0 14px;border:1px solid #c3c3c3;background:#fbfbfb;font-size:12px;color:#707377;line-height:34px;cursor:text}

#CommunityAndWallPosts .CommentForm {min-height:214px;background:#f2f2f2 url(/img4/social-create-post-form-bg.png) 0 0 repeat-y;position:relative;padding:14px 0 0 0;margin:0 0 0 60px}

#CommunityAndWallPosts .CommentForm textarea.ex6_invalid {border: 1px solid #17b879}

#CommunityAndWallPosts .CommentForm .UploadDataWrapper {padding:7px 0 5px 81px}

#CommunityAndWallPosts .CommentForm .SocialBarAddPollButton {display:none}

#CommunityAndWallPosts .CommentForm form fieldset {border:none}
#CommunityAndWallPosts .CommentForm form legend {display:none}

#CommunityAndWallPosts .FormData1 {position:relative;padding:7px 0}

#CommunityAndWallPosts .CommentForm .charsRemaining {margin:0 0 7px 81px;font-size:12px;color:#8f8e8e}

#CommunityAndWallPosts .CommentForm .Textarea1 {position:relative;left:81px;width:393px;height:112px;padding:9px 9px 7px 9px;border:1px solid #c3c3c3;background:#fbfbfb;color:#656565;font:normal 14px tornadoc;overflow:auto;resize:none}

#CommunityAndWallPosts .CommentForm .ButtonSubmit {padding:10px 0 0 0}

#CommunityAndWallPosts .CommentForm .ButtonsBar {height:58px;margin:0 0 0 58px;position:relative}
#CommunityAndWallPosts .CommentForm .ButtonsBar ul {position:absolute;top:8px;right:0;list-style-type:none}
#CommunityAndWallPosts .CommentForm .ButtonsBar ul li {float:left;display:block;height:27px;margin:0 0 0 20px}
#CommunityAndWallPosts .CommentForm .ButtonsBar ul li p {padding:9px 0 0 0;font-size:11px;line-height:11px;letter-spacing:1px;text-transform:uppercase}

#CommunityAndWallPosts .CommentFormAvatar {position:absolute;top:0;left:-60px}
#CommunityAndWallPosts .CommentFormAvatar img {width:45px;height:45px;background:#ccc;border-radius:45px;position:absolute;behavior:url(/css3/PIE.htc)}



/* -------------------------------------------------------------------------------- Uploaders */

/* ---------------------------------------- Upload Content Bar */

.SocialUploadContentBar {width:58px;padding:21px 0 0 0;background:#42545f;position:absolute;top:0;left:0}

.SocialUploadContentBar .SocialUploadContentBarBlock {position:relative}

.SocialUploadContentBar p {width:58px;height:58px;margin:0;position:relative;display:block}
.SocialUploadContentBar p a {color:#fff;width:58px;height:16px;padding:42px 0 0 0;display:block;font-size:10px;line-height:10px;text-transform:uppercase;text-align:center}
.SocialUploadContentBar p a:hover {background:#46646c;text-decoration:none}

.SocialUploadContentBar p a i {width:24px;height:24px;display:block;background:url(/img3/SocialUploadContentBarIcons.png);position:absolute;top:10px;left:17px}
.SocialUploadContentBar p a i.Photo {background-position:0 0}
.SocialUploadContentBar p a i.Video {background-position:-24px 0}
.SocialUploadContentBar p a i.Poll {background-position:-48px 0}

.SocialUploadContentBar .SubMenu {width:124px;padding:16px 16px 8px 16px;background:#4f8386;position:absolute;z-index:1;left:58px;margin-top:-79px;display:none}
.SocialUploadContentBar .SubMenu:before{content: "";display:block;position:absolute;top:50%;margin-top:-3px;left:-6px;width:0;height:0;border-right:6px solid #4f8386;border-top:6px solid transparent;border-bottom:6px solid transparent}
.SocialUploadContentBar .SubMenu ul {list-style-type:none}
.SocialUploadContentBar .SubMenu ul li {position:relative;margin:0 0 8px 0}


/* ---------------------------------------- Upload UI */

.SocialUploadUI {position:relative}

.SocialUploadUI .UploadUIStep01 {display:none;position:relative;height:50px}
.SocialUploadUI .UploadUIStep02 {display:none;position:relative}

.SocialUploadUI .UploadUIBar {height:36px;padding:0 0 0 0;position:absolute;top:0}
.SocialUploadUI .UploadUIBar p {padding:5px 0 0 0;font-size:12px;color:#8f8e8e}

.SocialUploadUI .ProgressBar {width:371px;height:8px;display:block;background:#fff;border:none;padding:0}
.SocialUploadUI .LoaderWrapper {height:8px;background:#f0f0f0;font-size:2px}
.SocialUploadUI .Loader {height:8px;display:block;background:#4d7f81;width:0;}
.SocialUploadUI .Count {position:absolute;top:13px;right:0}

.SocialUploadUI .Image {width:112px;position:relative;float:left;margin:0 2px 2px 0;font-size:0}
.SocialUploadUI .Image img {width:112px;min-height:82px}

.SocialUploadUI a.DeleteImage {width:21px;height:21px;display:block;position:absolute;top:5px;right:5px;background:url(/img3/IconDelete21.png) 0 0 no-repeat;text-indent:-10000px}
.SocialUploadUI a:hover.DeleteImage {background-position:bottom left;cursor:pointer}
.SocialUploadUI a:focus.DeleteImage {outline:none}

.UploaderObj {position:absolute;top:0px;left:0px;z-index:99;display:none}

.UploadData {display:block}
.PollsData {display:block}

/* -------------------------------------------------------------------------------- Windows */

/* ---------------------------------------- Attachments Window */

#WinAttachments {width:508px;height:454px;position:fixed;top:50%;left:50%;margin:-227px 0 0 -254px;z-index:10001}

#WinAttachments .WinBody {height:440px;background:#fff}

#WinAttachments .WinOutline01 {background:#dcdcdc;padding:7px}
#WinAttachments .WinOutline02 {}

#WinAttachments h1 {height:26px;background:#405762;position:relative;display:block;color:#fff;font-size:14px;line-height:14px;font-weight:400;text-transform:uppercase;padding:14px 0 0 20px}
#WinAttachments h1 a {width:16px;height:16px;display:block;position:absolute;top:12px;right:20px;background:url(/img3/WindowCloseIcon.png) 0 0 no-repeat;text-indent:-10000px}
#WinAttachments h1 a:hover {background-position:bottom left}
#WinAttachments h1 a:focus {outline:none}

#WinAttachments .Count {color:#868686;font-size:13px;line-height:14px;padding:20px}

#WinAttachments .b-pagination {padding:0 0 32px 20px}

#WinAttachmentsList {margin:0 0 40px 0}
#WinAttachmentsList ul {list-style-type:none;margin:0 0 0 20px}
#WinAttachmentsList ul li {width:112px;margin:0 2px 2px 0;display:block;position:relative;float:left;font-size:0}
#WinAttachmentsList ul li img {cursor:pointer}

/* ---------- Agreement Window */

#WinAgreement {width:480px;height:280px;position:fixed;top:50%;left:50%;margin:-190px 0 0 -240px;z-index:10000;}

#WinAgreement .WinBody {background:#fff url(/img/m24V1/FeedbackWindow_bg.gif) top left repeat-x;height:272px}

#WinAgreement .WinOutline01 {background:#f0f0f0;padding:3px}
#WinAgreement .WinOutline02 {background:#bababa;padding:1px}

#WinAgreement h1 {height:27px;position:relative;display:block;color:#fff;font:bold 8pt arial;text-transform:uppercase;padding:13px 0 0 20px}
#WinAgreement h1 a {width:16px;height:16px;display:block;position:absolute;top:12px;right:20px;background:url(/img/m24V1/FeedbackWindowClose.gif) top left no-repeat;text-indent:-10000px}
#WinAgreement h1 a:hover {background-position:bottom left}
#WinAgreement h1 a:focus {outline:none}

#WinAgreement .Data {padding:20px}

#WinAgreementForm {font:normal 13px  arial}
#WinAgreementForm fieldset {border:none}
#WinAgreementForm legend {display:none}

#WinAgreementForm .InActiveSignUp {cursor:default;opacity:0.8}
#WinAgreementForm .InActiveSignUp span {cursor:default}

#WinAgreementForm .ButtonSubmit {padding:15px 0}

#WinAgreementForm .Agreement {padding:6px 0;font-style:italic}
#WinAgreementForm .Agreement input {margin:0 10px 0 0}

/* ---------------------------------------- AwayWarningWin */

#AwayWarningWin {width:480px;height:480px;position:fixed;top:50%;left:50%;margin:-160px 0 0 -240px;z-index:10000;}

#AwayWarningWin .WinBody {height:306px;background:#fff url(/img3/Window_bg.png) 0 0 repeat-x}

#AwayWarningWin .WinOutline01 {background:#dcdcdc;padding:7px}
#AwayWarningWin .WinOutline02 {}

#AwayWarningWin h1 {height:26px;background:#405762;position:relative;display:block;color:#fff;font-size:14px;line-height:14px;font-weight:400;text-transform:uppercase;padding:14px 0 0 20px}
#AwayWarningWin h1 a {width:16px;height:16px;display:block;position:absolute;top:12px;right:20px;background:url(/img3/WindowCloseIcon.png) 0 0 no-repeat;text-indent:-10000px}
#AwayWarningWin h1 a:hover {background-position:bottom left}
#AwayWarningWin h1 a:focus {outline:none}

#AwayWarningWin .Text {padding:20px 20px 10px 20px}
#AwayWarningWin .Text p {font-size:14px;color:#6a6a6a;margin:0 0 10px 0}

#AwayWarningWin .ButtonsBar {height:37px}
#AwayWarningWin .ButtonsBar ul {}
#AwayWarningWin .ButtonsBar ul li {float:left;display:block;height:37px;margin:0 0 0 20px}
#AwayWarningWin .ButtonsBar ul li p {line-height:37px;font-size:14px;text-transform:uppercase}


/* -------------------------------------------------------------------------------- Administration */

#SocialAdministration {margin:0 0 40px}

#SocialAdministration ul {list-style-type:none;margin:0 0 22px 0;padding:0 0 11px 0;border-bottom:1px solid #e3e3e3;position:relative;}
#SocialAdministration ul li {margin:0 0 11px 0}
#SocialAdministration ul li a {}