.houstons-university-banner {
    background-color: black;
    color: white;
    padding: 1.5rem 0;
    position: relative;
}

.houstons-university-bg {
    background-image: radial-gradient(#c8102e, #960C22);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.houstons-university-banner > .container {
    position: relative;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: -webkit-transform .5s ease, text-shadow .5s ease;
    transition:         transform .5s ease, text-shadow .5s ease;
    -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
            transform: perspective(1000px) translate3d(0, 0, 0);
}

.houstons-university-banner.complete:hover > .container {
    text-shadow: 0 .0625em .25em rgba(0, 0, 0, .25);
    -webkit-transform: perspective(1000px) translate3d(0, 0, 30px);
            transform: perspective(1000px) translate3d(0, 0, 30px);
}

.houstons-university-banner .icon {
    display: block;
    height: 72px;
    margin: 1rem auto;
    min-height: 3rem;
    min-width: 3rem;
    width: 72px;
}

.houstons-university-banner h1,
.houstons-university-banner .h1 {
    color: inherit;
    display: block;
    font-family: 'Milo';
    font-size: 56px;
    font-weight: bold;
    line-height: 1.1;
    margin: .5rem 0;
    text-align: center;
    text-transform: none;
}

.houstons-university-banner .h2 {
    display: block;
    font-family: 'Milo';
    font-size: 48px;
    font-weight: normal;
    line-height: 1.1;
    margin: 1rem 0 .5rem;
    text-align: center;
}

.houstons-university-banner .cta-link {
    color: #fff9d9;
    font-size: 16px;
    text-align: center;
    transition: color .5s ease;
}

.houstons-university-banner:hover .cta-link {
    color: white;
}

@media screen and (min-width: 1000px) {
    .houstons-university-banner .icon {
        height: 7.2vw;
        width: 7.2vw;
    }
    .houstons-university-banner h1,
    .houstons-university-banner .h1 {
        font-size: 5.6vw;
    }
    .houstons-university-banner .h2 {
        font-size: 4.8vw;
    }
    .houstons-university-banner .cta-link {
        font-size: 1.6vw;
    }
}

@media screen and (min-width: 1600px) {
    .houstons-university-banner .icon {
        height: 7.2rem;
        width: 7.2rem;
    }
    .houstons-university-banner h1,
    .houstons-university-banner .h1 {
        font-size: 5.6rem;
    }
    .houstons-university-banner .h2 {
        font-size: 4.8rem;
    }
    .houstons-university-banner .cta-link {
        font-size: 1.6rem;
    }
}

.animated {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
        @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.fadeIn {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    } 50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
    } to {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    } 50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
    } to {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
            animation-name: pulse;
}

.houstons-university-bg.animated,
.houstons-university-banner .icon.animated,
.houstons-university-banner .h1.animated,
.houstons-university-banner .h2.animated,
.houstons-university-banner .cta-link.animated {
    opacity: 0;
}

.houstons-university-banner .h1.animated.pulse {
    opacity: 1;
}
