#powerhouse-banner {
    padding: 0;
}

#powerhouse-banner .container {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
}

#powerhouse-banner .caption-wrapper .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 1600px;
}

@media screen and (min-width: 768px) {
    #powerhouse-banner .caption-wrapper .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.powerhouse-banner {
    color: white;
}

.powerhouse-banner > img {
    min-height: 288px;
    object-fit: cover;
    object-position: 75% 50%;
}

.powerhouse-banner .caption-wrapper {
    background: none;
    bottom: 2.5rem;
    left: 0;
    position: absolute;
    width: 100%;
}

.powerhouse-banner .caption {
    background: none;
    padding: 0;
    width: auto;
}

.powerhouse-banner .caption h1 {
    font-size: calc(64px + (120 - 64) * (100vw - 320px)/(1280 - 320));
    letter-spacing: 0;
    line-height: .9;
    margin: 0;
    text-shadow: 0 0 .25em rgba(32,27,24,.5);
}

.powerhouse-banner .caption h1 span {
    display: block;
    font-size: .4em;
    text-indent: .05em;
}

.powerhouse-banner .caption p,
.powerhouse-banner .cta-link {
    font-size: calc(15px + (20 - 15) * (100vw - 320px)/(1280 - 320));
    line-height: calc(1.5em - 3px);
}

.powerhouse-banner .caption p {
    margin: calc((1.5em - 3px) / 3) 0 0;
    text-shadow: 0 0 .5em rgba(32,27,24,1);
}

.powerhouse-banner .cta-link {
    background: rgba(0,0,0,.125);
    border: 3px solid #fff9d9;
    border-radius: 7px;
    color: #FFF9D9;
    display: inline-block;
    margin: calc(1.5em - 3px) 0 0;
    padding: .375em .625em;
    transition: all .25s ease;
}

.powerhouse-banner .cta-link:hover {
    background: rgba(0,0,0,0);
    border-color: white;
    color: white;
}

@media screen and (min-width: 992px) {
    .powerhouse-banner .caption {
        width: calc(50% - 1.25rem);
    }
}

@media screen and (max-width: 1199px) {
    .powerhouse-banner {
        background-image: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .no-touch .powerhouse-banner {
        background-color: white;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
        background-attachment: fixed;
        transition: background-position .25s ease;
    }
    .no-touch .active-search .powerhouse-banner {
        background-position: center 3rem;
    }
    .no-touch .powerhouse-banner > img {
        /*height: calc(45vw - 134px - 45px - 20px);*/
        /*visibility: hidden;*/
    }
}

@media screen and (min-width: 1920px) {
    .no-touch .powerhouse-banner {
        background-size: 1920px auto;
    }
    .no-touch .powerhouse-banner > img {
        /*height: calc(864px - 134px - 45px - 20px);*/
    }
    .powerhouse-banner .caption h1 {
        font-size: 9.875rem; /* 120px */
    }
    .powerhouse-banner .caption p,
    .powerhouse-banner .cta-link {
        font-size: 1.5rem; /* 20px */
    }
}
