/* formerly uh-global.css */
@import url('https://ssl.uh.edu/css/refresh/headers-footers.css?v=20161212');

/* formerly uh-bootstrap.css */
@import url('https://ssl.uh.edu/css/refresh/bootstrap.css');

/* formerly uh-main.css */
@import url('https://ssl.uh.edu/css/refresh/legacy.css');

