.page-section:first-of-type {
    padding-top: 3.375rem;
}

#featured-stories + #featured-events {
    background-color: hsl(0, 0%, 95%);
}

section.emergency {
    background-color: #F6BE00;
    font-family: Milo, sans-serif;
    padding: 2.5rem 0;
}

/* .section-grid-social */

.section-grid-social {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.25rem 0;
}

.section-grid-social .social-header {
    font: 1rem 'Milo'; /* 16px */
    line-height: 1.3125em;
    line-height: calc(1.5em - 3px);
    margin-bottom: calc(1.5em - 3px)
}

.section-grid-social .social-header * {
    margin: 0;
}

.section-grid-social h4 {
    margin: 0;
}

.section-grid-social .social-account,
.section-grid-social .social-timestamp {
    display: block;
}

.section-grid-social .social-timestamp {
    color: #54585a;
}

.section-grid-social .social-message {
    font: 200 3rem/1.125 'Milo', sans-serif; /* 48px */
    letter-spacing: -.025em;
}

.section-grid-social .social-icon {
    fill: currentColor;
    float: left;
    height: 3.75rem;
    margin: 0 .75rem 0 0;
    width: 3.75rem;
}

.section-grid-social .twitter .social-message {
    font-size: 2.5rem;
    line-height: 1.1;
    line-height: 1.25;
    overflow: hidden;
}

.section-grid-social .instagram .social-message {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.33333333;
    line-height: calc(1.5em - 3px);
}

.section-grid-social .instagram .social-message img {
    margin-bottom: .5em;
}

