/* owl carousel plugin */
@import url('https://ssl.uh.edu/css/refresh/owl.carousel.css');

/* lazy load youtube plugin */
@import url('https://ssl.uh.edu/css/refresh/lazyYT.css');

::selection {
    background: #FFF9D9;
}

::-moz-selection {
    background: #FFF9D9;
}

a, a:focus {
    color: #c8102e;
    text-decoration: none;
}

a:hover {
    color: #960C22;
}

a:visited {
    /*color: #960C22;*/
}

a:hover, a:focus {
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

h1 {
    font: 4.5rem 'League Gothic', sans-serif; /* 72px */
    line-height: 1;
    margin: 1.125rem 0;
    text-transform: uppercase;
}

h2 {
    font: 3.375rem 'League Gothic', sans-serif; /* 54px */
    line-height: 1;
    margin: 1.125rem 0;
    text-transform: uppercase;
}

h3 {
    font: 2.25rem 'League Gothic', sans-serif; /* 36px */
    line-height: 1.08333333333333em;
    line-height: calc(1em + 3px);
    margin: 1.125rem 0;
    text-transform: none;
}

h4 {
    font: italic bold 1.5rem 'Milo', sans-serif; /* 24px */
    line-height: 1.625em;
    line-height: calc(1em + 3px);
    margin: 1.125rem 0 0;
}

h5 {
    font: bold 1.25rem 'Milo', sans-serif; /* 20px */
    line-height: 1.35em;
    line-height: calc(1.5em - 3px);
    margin: 1.125rem 0 0;
}

p, ul, ol, dl {
    margin: 1.125rem 0;
}

main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
    font: 1.25rem 'Crimson', serif; /* 20px */
    line-height: 1.35em;
    line-height: calc(1.5em - 3px);
}

#main-content {
    padding: 0;
    width: auto;
}

main form {
    font-family: 'Milo', sans-serif;
    font-size: 1.125rem;
}

span.required {
    color: #960C22;
}


/*
 * links and navs
 */

.nav-gateway {
    background: #FFF9D9;
    font: 1rem 'Milo', sans-serif;  /* 16px */
    line-height: 1.5;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height .5s ease;
    order: -3;
}

.active-nav .nav-gateway {
    max-height: 20rem;
}

.nav-gateway h5 {
    /*display: inline-block;*/
    font-size: inherit;
    font-style: italic;
    font-weight: bold;
    line-height: inherit;
    margin: 0 1.33333333em 0 0;
    padding: .5em 0;
}

.nav-gateway ul {
    /*display: inline;*/
    list-style: none;
    padding: 0;
}

.nav-gateway a {
    font-weight: bold;
    padding: .5em 0;
    display: block;
}

@media screen and (min-width: 992px) {
    .nav-gateway {
        font: 1.125rem 'Milo', sans-serif;  /* 18px */
        max-height: none;
        padding: .5em 0;
    }
    .nav-gateway h5 {
        display: inline-block;
        padding: .25em 0;
    }
    .nav-gateway ul > li {
        display: inline-block;
        margin: 0 1.33333333em 0 0;
    }
    .nav-gateway ul {
        display: inline;
    }
    .nav-gateway a {
        padding: .25em 0;
    }
}

.cta-link,
.section-links {
    font: bold 1.25rem 'Milo', sans-serif; /* 20px */
    line-height: 1.35em;
    line-height: calc(1.5em - 3px);
}

.section-links {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.section-heading + .section-links {
    display: inline-block;
    margin-bottom: 0;
}

.section-links > li {
    display: inline-block;
    margin: calc((1.5em - 3px) / 3) 1.5rem 0 0;
}

.cta-link::after,
.section-links a::after {
    content: ' >';
    display: inline;
}

.links-list {
    font: 1.25rem 'Milo', sans-serif; /* 20px */
    line-height: 1.35em;
    line-height: calc(1.5em - 3px);
    list-style: square;
    margin: calc(1.5em - 3px) 0;
    padding-left: 1.4375em;
}

.links-list > li {
    display: list-item;
    margin: 0;
    padding: 0 0 calc((1.5em - 3px) / 3);
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
}

.links-list a {
    font-weight: bold;
}

.news-list {
    font: bold 1.25rem 'Milo', sans-serif; /* 20px */
    line-height: 1.35em;
    line-height: calc(1.5em - 3px);
    list-style: none;
    padding-left: 0;
}

.news-list .news-date,
.news-list .news-source {
    display: block;
    font-size: 1rem; /* 16px */
    /* font-weight: normal; */
    line-height: 1.5;
    color: #54585A;
}

.contact-list {
    font: 1.25rem/1.2 'Milo', sans-serif; /* 20px */
}

.contact-list dt {
    font-weight: bold;
}

.social-media-list {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.social-media-list li {
    margin: 0 10px 10px 0;
}

.social-media-list a {
    background: #c8102e;
    border-radius: 50%;
    display: block;
    height: 40px;
    padding: 8px;
    transition: background .25s ease;
    width: 40px;
}

.social-media-list a:hover {
    background: #960C22;
}

.social-media-list svg {
    fill: white;
}

/* table of contents */

.page-contents {
    background: #960C22;
    border: none;
    box-shadow: none;
    color: white;
    font: 1rem 'Milo', sans-serif; /* 16px */
    line-height: 1.3125em;
    line-height: calc(1.5em - 3px);
    margin: 0;
    opacity: 1;
    padding: .5em 0;
    position: static;
    transition: top .25s ease;
    width: 100%;
    z-index: 99;
}

.page-contents.affix {
    top: 0;
}

.page-contents h5 {
    font-size: inherit;
    font-style: italic;
    font-weight: bold;
    line-height: inherit;
    margin: 0;
    padding: .5em 0;
}

.page-contents .parents {
    margin: 0;
}

.page-contents .parents > li > a {
    color: #FFF9D9;
    display: block;
    margin: 0;
    padding: .5em 0;
}

.page-contents .parents > li > a:hover {
    color: white;
}

@media screen and (min-width: 992px) {
    .page-contents {
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .125);
        /* https://www.smashingmagazine.com/2016/05/fluid-typography/#controlling-the-rate-of-scale */
        font-size: calc(14px + (18 - 14) * (100vw - 992px)/(1280 - 992)); /* scale between 14px and 18px (see above link) */
        left: 0;
        padding: 0;
        position: fixed;
        right: 0;
        top: -3rem;
    }
    .page-contents h5 {
        display: inline-block;
        padding: .75rem .75rem .75rem 0;
    }
    .page-contents .parents {
        display: inline-block;
    }
    .page-contents .parents > li {
        display: inline-block;
    }
    .page-contents .parents > li:hover {
        background: rgba(0,0,0,.25);
        -webkit-transition: background .25s ease;
                transition: background .25s ease;
    }
    .page-contents .parents > li > a {
        padding: .75rem .75em;
    }
}

@media screen and (min-width: 1280px) {
    .page-contents {
        font-size: 1.125rem; /* 18px */
    }
}

/*
 * page sections
 */

.page-header {
    border: none;
    margin: 5rem 0 -2.5rem;
    padding: 0;
    position: relative;
}

.page-header.cover-photo {
    background-color: #c8102e;
    margin: 0;
}

.nav-breadcrumb ~ .page-header.cover-photo {
    order: -1;
}

.page-header.cover-photo .caption-wrapper {
    background: none;
}

.page-header h1 {
    letter-spacing: 0;
    color: white;
    display: inline-block;
    margin: 0;
    padding: .625rem 1.25rem .625rem 0;
    position: relative;
    z-index: 1;
}

.page-header p {
    font-family: 'Milo', sans-serif;
    margin: 1em 0 0;
}

.page-header.cover-photo p {
    color: white;
}

@media screen and (min-width: 768px) {
    .page-header.cover-photo {
        background-color: white;
    }
    .page-header h1 {
        background: #c8102e;
    }
    .page-header h1::before {
        background: #c8102e;
        content: '';
        display: block;
        height: 100%;
        width: 1920px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

@media screen and (max-width: 1199px) {
    .page-header.cover-photo {
        background-image: none !important;
    }
}

@media screen and (min-width: 1200px) {
    .no-touch .page-header.cover-photo {
        background-color: white;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
        background-attachment: fixed;
        transition: background-position .25s ease;
    }
    .no-touch .active-search .page-header {
        background-position: center 3rem;
    }
    .no-touch .page-header:not(.page-header-scroll) > img {
        /*height: calc(40vw - 134px - 20px);*/
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .no-touch .page-header.cover-photo {
        background-size: 1920px auto;
    }
    .no-touch .page-header > img {
        /*height: calc(768px - 134px - 20px);*/
    }
}

@media print {
    .page-header {
        background-image: none !important;
    }
    .page-header > img {
        visibility: visible !important;
    }
}

.page-section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.375rem 0;
}

.page-section::after {
    clear: both;
    content: '';
    display: table;
}

.nav-breadcrumb ~ .page-section:first-of-type {
    padding-top: 2.375rem;
}

@media screen and (max-width: 991px) {
    .page-contents {
        /* margin-top: 3.5rem; */
    }
    .page-contents + .page-section:first-of-type {
        padding: 3.375rem 0;
    }
}

.nav-breadcrumb {
    padding: 0;
    /* margin-bottom: -3.5rem; */
    position: relative;
}

.page-section-double {
    padding-top: calc(1.5em - 3px);
    padding-bottom: calc(1.5em - 3px);
}

.page-section-double section {
    padding-top: calc(1.5em - 3px);
    padding-bottom: calc(1.5em - 3px);
}

.page-section .container > *:last-child,
.page-section .wysiwyg-content > [class*="col-"] > *:not(.section-grid):last-child {
    margin-bottom: 0;
}

.page-section .section-heading {
    display: inline-block;
    margin: 0 1.5rem 0 0;
}

.page-section .section-heading + p {
    margin-top: 1.125rem;
    display: block;
}

.page-section * + .embed-responsive {
    margin-top: 2.5rem;
}

/*.page-section:first-of-type .section-heading {*/
    /*font-size: 3.75rem;*/ /* 60px */
/*    line-height: 1;*/
/*}*/

/*.page-section:first-of-type .col-xs-12 > p,*/
/*.page-section:first-of-type .col-sm-12 > p,*/
/*.page-section:first-of-type .container > p {*/
    /*font-size: 1.375rem;*/ /*22px */
/*    line-height: 1.36363636363636em;*/
/*    line-height: calc(1.5em - 3px);*/
/*    margin: 1.25rem 0;*/
/*}*/

.page-footer,
#page-footer {
    background-color: #FFF9D9;
    padding: 1.25rem 0;
    z-index: 100;
}

.cover-photo {
    position: relative;
    padding: 0;
}

.video-container {
    background-color: #888B8D;
}

.cover-photo .caption-wrapper {
    background: rgba(255, 249, 217, 1);
    opacity: 1;
    padding: 0;
    pointer-events: none;
    transition: opacity .25s cubic-bezier(0, 0, .2, 1);
}

.cover-photo .caption-wrapper .container {
    position: relative;
}

.cover-photo .caption {
    font-size: 1.125rem; /* 18px */
    line-height: 1.33333333333333em;
    line-height: calc(1.5em - 3px);
    padding: calc(1.5em - 3px) 0;
    pointer-events: all;
    width: 100%;
}

.cover-photo .caption p {
    margin: 0 0 1.125rem;
}

.cover-photo .caption > *:first-child {
    margin-top: 0;
}

.cover-photo .caption > *:last-child {
    margin-bottom: 0;
}

.cover-photo .caption > p:last-child {
    margin-bottom: .375rem;
}

@media screen and (min-width: 768px) {
    .cover-photo .caption-wrapper {
        background: none;
        bottom: 2.5rem;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 13;
    }
    .cover-photo .caption-wrapper.disabled {
        opacity: 0;
    }
    .cover-photo .caption {
        background: rgba(255, 249, 217, .85);
        padding: 1.125rem 1.25rem;
        width: calc(50% - 1.25rem);
    }
    .cover-photo .caption-wrapper.disabled .caption {
        pointer-events: none;
    }
}

/* section blocks */

.section-block .section-image-wrapper {
    margin-bottom: 2.5rem;
}

.section-block .section-content-wrapper > *:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .section-block {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
    }
    .section-block > div {
        flex-basis: 50%;
    }
    .section-block .section-image-wrapper {
        margin-bottom: 0;
        -webkit-order: 99;
                order: 99;
    }
    .section-block-reverse .section-image-wrapper {
        -webkit-order: 0;
                order: 0;
    }
}

/* grids and carousels */

.section-grid {
    list-style: none;
    margin: 2.25rem -1.25rem -1.125rem;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.container > .section-grid:first-child,
script + .section-grid {
    margin-top: 0;
    margin-bottom: 0;
}

.section-grid:last-child,
.page-section .container > .section-grid:last-child {
    margin-bottom: -2.25rem;
}

@media screen and (min-width: 768px) {
    .section-grid.full-width {
        margin-left: -2.5rem;
        margin-right: -2.5rem;
    }
}

@media screen and (min-width: 1600px) {
    .section-grid.full-width {
        margin-left: calc((100vw - 1520px) * -.5);
        margin-right: calc((100vw - 1520px) * -.5);
    }
}

@media screen and (min-width: 1920px) {
    .section-grid.full-width {
        margin-left: -200px;
        margin-right: -200px;
    }
}
.section-grid > li {
    margin-bottom: 2.25rem;
}

.section-grid .grid-image-wrapper {
    overflow: visible;
    position: relative;
    z-index: auto;
}

.section-grid .grid-image-wrapper:before {
    box-shadow: 0 15px 25px -10px rgba(84, 88, 90, 0.5);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease;
    width: 100%;
}

.section-grid .grid-anchor:hover .grid-image-wrapper:before {
    opacity: 1;
}

.section-grid .grid-image {
    transition: transform 0.25s ease;
    -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
            transform: perspective(1000px) translate3d(0, 0, 0);
}

.section-grid .grid-anchor:hover .grid-image {
    -webkit-transform: perspective(1000px) translate3d(0, 0, 15px);
            transform: perspective(1000px) translate3d(0, 0, 15px);
}

.section-grid img {
    display: block;
}

.section-grid img[src*=".svg"] {
    height: 4.5rem;
    width: 4.5rem;
}

.section-grid h3 {
    line-height: 2.5rem;
    margin: 1rem 0 .5rem;
}

.section-grid h4 {
    line-height: 1.75rem;
    margin: 1rem 0 .25rem;
}

.section-grid h5 {
    line-height: 1.5rem;
    margin: .75rem 0 .25rem;
}

.section-grid p,
.section-grid .teaser,
.section-grid .slide-teaser {
    font-size: 1.125rem; /* 18px */
    line-height: 1.33333333333333em;
    line-height: calc(1.5em - 3px);
    margin: 0;
}

.section-grid .icon {
    height: 4.5rem;
    width: 4.5rem;
}

.section-grid a:hover + h3 a,
.section-grid a:hover + h4 a {
    color: #960C22;
}

.theme-slate .section-grid a:hover + h3 a,
.theme-slate .section-grid a:hover + h4 a,
.theme-brick .section-grid a:hover + h3 a,
.theme-brick .section-grid a:hover + h4 a {
    color: #fff9d9;
}

/* section-grid-events */

.grid-date-wrapper {
    color: #fff9d9;
    font: .875rem 'Milo', sans-serif; /* 14px */
    line-height: 1;
    margin-left: -1rem;
    margin-top: 1rem;
    position: absolute;
    text-align: center;
    transition: color .25s ease;
    z-index: auto;
}

.grid-anchor:hover .grid-date-wrapper {
    color: white;
}

.grid-date-wrapper:before {
    background: #961A24;
    bottom: -.5rem;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 1rem;
    -webkit-transform: skewY(45deg);
            transform: skewY(45deg);
}

.grid-date {
    background: #C8202E;
    min-width: 4.5em;
    padding: .5em .5em .5em 1em;
    position: relative;
    z-index: 1;
    -webkit-transform: perspective(0) translate3d(0, 0, 16px);
            transform: perspective(0) translate3d(0, 0, 16px);
}

.grid-date:before,
.grid-date:after {
    background: #C8202E;
    content: '';
    height: 50%;
    margin: 0;
    position: absolute;
    right: -10%;
    width: 100%;
    z-index: -1;
}

.grid-date:before {
    top: 0;
    -webkit-transform: skewX(-16deg);
            transform: skewX(-16deg);
}

.grid-date:after {
    bottom: 0;
    -webkit-transform: skewX(16deg);
            transform: skewX(16deg);
}

.grid-date span {
    display: block;
}

.grid-date .day {
    font-size: 2em;
    font-weight: bold;
}

/* owl carousel */

.owl-carousel {
    width: auto;
}

[class*="carousel-features"].owl-loaded li {
    float: none;
    padding-bottom: 1.125rem;
    margin-bottom: 0;
    position: relative;
    width: auto;
}

.owl-carousel li.col-sm-4:nth-child(n+2),
.owl-carousel li.col-sm-3:nth-child(n+3) {
    display: none;
}

.owl-carousel.owl-loaded li.col-sm-4:nth-child(n+2),
.owl-carousel.owl-loaded li.col-sm-3:nth-child(n+3) {
    display: block;
}

[class*="carousel-tiles"],
[class*="carousel-cards"] {
    font-family: 'Milo';
}

[class*="carousel-tiles"].full-width,
[class*="carousel-cards"].full-width {
    padding: 5px;
}

[class*="carousel-tiles"].container-width,
[class*="carousel-cards"].container-width {
    padding: 0 calc(1.25rem - 5px);
}

[class*="carousel-tiles"] .owl-stage-outer,
[class*="carousel-cards"] .owl-stage-outer {
    padding: 0;
}

[class*="carousel-tiles"] .owl-item,
[class*="carousel-cards"] .owl-item {
    padding: 5px;
    margin: 0;
}

[class*="carousel-tiles"] li,
[class*="carousel-cards"] li {
    padding: 0;
    margin: 0;
}

[class*="carousel-cards"] li {
    background: white;
    box-shadow: 0 0 0 1px #ddd;
}

[class*="carousel-tiles"] .slide-title {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    background-color: #c8102e;
    padding: 0 8px;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

[class*="carousel-tiles"] .slide-teaser {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0,.6);
    margin: 0 5px 15px 15px;
    padding: 5px 10px;
    display: inline-block;
}

[class*="carousel-cards"] .owl-stage,
[class*="carousel-cards"] .owl-item {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: stretch;
            align-items: stretch;
}

[class*="carousel-cards"] .slide-copy {
    padding: 15px 15px 10px;
}

[class*="carousel-cards"] .slide-title {
    margin-top: 0;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.owl-carousel .owl-nav {
    font-family: 'Milo', sans-serif;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
}

.owl-carousel:hover .owl-nav {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    color: #c8102e;
    display: -webkit-flex;
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    height: 100%;
    pointer-events: auto;
    position: absolute;
    transition: color .25s ease, opacity .25s ease;
    width: 2.5rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.theme-slate .owl-carousel .owl-nav .owl-prev,
.theme-slate .owl-carousel .owl-nav .owl-next,
.theme-brick .owl-carousel .owl-nav .owl-prev,
.theme-brick .owl-carousel .owl-nav .owl-next,
.theme-slate .owl-carousel .owl-nav .owl-prev:hover,
.theme-slate .owl-carousel .owl-nav .owl-next:hover,
.theme-brick .owl-carousel .owl-nav .owl-prev:hover,
.theme-brick .owl-carousel .owl-nav .owl-next:hover {
    color: #fff9d9;
}

.owl-carousel .owl-nav .owl-prev {
    left: -1px;
    padding-right: 1.25rem;
}

.owl-carousel .owl-nav .owl-next {
    right: -1px;
    padding-left: 1.25rem;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
    color: #960c22;
}

.owl-carousel .owl-nav .owl-prev.disabled,
.owl-carousel .owl-nav .owl-next.disabled,
.owl-carousel .owl-nav .owl-prev.disabled:hover,
.owl-carousel .owl-nav .owl-next.disabled:hover {
    cursor: default;
    opacity: 0;
}

@media screen and (min-width: 768px) {
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        padding: 0;
    }
    .owl-carousel .owl-nav .owl-prev {
        left: -1.25rem;
    }
    .owl-carousel .owl-nav .owl-next {
        right: -1.25rem;
    }
    .owl-carousel li:nth-child(n+2) {
        display: block;
    }
    .owl-carousel li:nth-child(n+3) {
        display: none;
    }
    .owl-carousel.owl-loaded li:nth-child(n+3) {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .owl-carousel li:nth-child(n+2) {
        display: block;
    }
    .owl-carousel li:nth-child(n+4) {
        display: none;
    }
    .owl-carousel.owl-loaded li:nth-child(n+4) {
        display: block;
    }
}

/* .section-grid-social */

.section-grid-social {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.25rem 0;
}

.section-grid-social .social-header {
    font: 1rem 'Milo'; /* 16px */
    line-height: 1.3125em;
    line-height: calc(1.5em - 3px);
    margin-bottom: calc(1.5em - 3px)
}

.section-grid-social .social-header * {
    margin: 0;
}

.section-grid-social h4 {
    margin: 0;
}

.section-grid-social .social-account,
.section-grid-social .social-timestamp {
    display: block;
}

.section-grid-social .social-timestamp {
    color: #54585a;
}

.section-grid-social .social-message {
    font: 200 3rem/1.125 'Milo', sans-serif; /* 48px */
    letter-spacing: -.025em;
}

.section-grid-social .social-header img,
.section-grid-social .social-header svg {
    fill: currentColor;
    float: left;
    height: 3.75rem;
    margin: 0 .75rem 0 0;
    width: 3.75rem;
}

/* .section-grid-stats */

.section-grid-stats {
    margin-top: 2.5rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
            justify-content: center;
}

.section-grid-stats .stats-number {
    display: block;
    font: 6.5rem 'League Gothic', sans-serif; /* 104px */
    line-height: 1;
    text-align: center;
}

.section-grid-stats .stats-number sup {
    font-size: 60%;
}

.section-grid-stats .stats-item {
    display: block;
    font: bold italic 1.25rem 'Milo', sans-serif; /* 20px */
    line-height: 1.35em;
    line-height: calc(1.5em - 3px);
    text-align: center;
}

/* wysiwyg-content */

.wysiwyg-content .col-auto {
    padding: 0 1.25rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .wysiwyg-content {
        display: -webkit-flex;
        display: flex;
        /* -webkit-flex-wrap: wrap; */
        /* flex-wrap: wrap; */
        width: calc(100% + 2.5rem);
    }
    .wysiwyg-content > [class*="col"]:not(.col-auto) {
        -webkit-flex-shrink: 0;
                flex-shrink: 0;
    }
}

/* accordion */

.button-container {
    margin: 1.5rem 0 .75rem;
}

.button-container button {
    margin-right: .5rem;
}

.collapse,
.collapsing {
    clear: both;
}

.accordion-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion-list > li {
    margin: 0;
    padding: 0;
    padding-top: 1.125rem;
}

.accordion-list .list-button {
    background: #00B388;
    border: none;
    border-radius: 50%;
    color: white;
    float: left;
    height: 1.5rem;
    margin: .5em .5em .5em 0;
    padding: 0;
    transition: background .25s ease;
    width: 1.5rem;
}

.accordion-list .list-button:hover {
    background: #00866C;
    color: white;
}

.accordion-list .list-button svg {
    display: block;
    fill: currentColor;
    height: 1.5rem;
    transition: transform .25s ease;
    width: 1.5rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}

.accordion-list .list-button-hide svg {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
}

.accordion-list h3 {
    margin: 0;
}

.accordion-list .accordion-details {
    padding: 1.125rem 0;
}


.accordion-list .accordion-details *:last-child {
     margin-bottom: 0;
}

@media screen and (min-width: 600px) {
    .accordion-list .links-list {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 2.5rem;
           -moz-column-gap: 2.5rem;
                column-gap: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .accordion-list .accordion-details *:first-child {
        margin-top: 0;
    }
}

