blockquote {
    font-family: 'Crimson', serif;
    font-style: italic;
    line-height: 1.5;
    margin: 1.5em 0;
}

h1, h2, h3 {
    /*font-weight: normal;*/
    margin: 30px 0 15px;
}

.feature {
    margin-bottom: 15px;
}

.feature img {
    width: 100%;
}

.lead {
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.25;
    -webkit-text-stroke: 0.25px;
}

[href^="tel"] {
    display: inline-block;
}

#page a[href$=".pdf"]:before{
    content: "";
    display: inline-block;
    margin-right: .2em;
    background: url('/images/icons/pdf-icon-small.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
}
#page a.no-icon:before{
    background: none;
    margin: 0;
    width: 0;
    height: 0;
}


/* ========================================================================
   Embedded Content
   ======================================================================== */

iframe.youtube {
    margin-top:    15px;
    margin-bottom: 15px;
}

.addthis_toolbox:empty {
    display: none;
}

.addthis_toolbox {
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 10px 0 0 10px;
}

.addthis_toolbox .addthis_button_facebook_like iframe {
    /*width: 85px !important;*/
}

.addthis_toolbox .twitter-share-button {
    /*width: 90px !important;*/
}

.addthis_toolbox iframe {
    margin: 0;
}

.addthis_toolbox *,
#at20mc * {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
            box-sizing: content-box;
}

/* ========================================================================
   Secondary Navigation
   ======================================================================== */

.nav-secondary {
    font-size: 16px;
    margin: 30px 0;
}

@media screen and (min-width: 992px) {
    .nav-secondary {
        float: left;
        padding: 0 20px;
        width: 25%;
        /* margin-top: 0; */
    }
}

.nav-secondary > nav,
.nav-secondary > div,
#sidebar > nav,
#sidebar > div,
#sidebar > article {
    margin: 30px 0;
}

.nav-secondary > h2 + nav,
.nav-secondary > h2 + div,
#sidebar > h2 + nav,
#sidebar > h2 + div,
#sidebar > h2 + article,
.nav-secondary > div:first-child {
    margin-top: 0;
}

.site-title,
.nav-secondary > * h4,
#sidebar > * h4 {
    border-bottom: 1px dotted #CBCBCB;
    border-bottom: 1px dotted rgba(0,0,0,.2);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.125em;
    line-height: 21px;
    margin: 0 0 12px;
    padding: 0 0 12px;
    text-transform: uppercase;
}

.site-title {
}

.site-title a,
.nav-secondary > * h4 a,
#sidebar > * h4 a {
    color: #54585a;
}

.related-links {
    font-size: 16px;
    margin: 30px 0;
}

.related-links ul {
    list-style: none;
    list-style-image: none;
    margin: 6px 0 0;
    padding: 0;
}

.nav-secondary li,
.related-links li {
    margin: 0;
    padding: 0;
}

.nav-secondary li a,
.related-links li a {
    display: block;
    line-height: 21px;
    padding: 7px 10px 7px;
    background: white;
    margin-left: -10px;
}

.nav-secondary .selected ul,
.nav-secondary .opened ul {
    padding-left: 10px;
}

.nav-secondary .selected a,
.nav-secondary .opened a {
    background: #f2f2f2;
    padding-left: 10px;
}

.nav-secondary .selected > a {
    background: #c8102e;
    color: white;
}

.nav-secondary .opened > a {
    background: #E6E6E6;
}

.nav-secondary .contact h4,
.nav-secondary .contact h6 {
    margin: 0 0 9px;
}

.nav-secondary .contact p,
.nav-secondary .contact address {
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 9px;
}

.nav-secondary .social-media {
    list-style: none;
    margin: 15px 0 30px;
    padding: 0;
}

.nav-secondary .social-media li {
    border: none;
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.nav-secondary .social-media li a {
    display: block;
    height: 32px;
    margin-left: 0;
    width: 32px;
}

.nav-secondary h2 a:hover,
.nav-secondary nav[role="navigation"] a:hover {
    text-decoration: none;
}

.lt-ie10 .nav-secondary h2 a:hover,
.lt-ie10 .nav-secondary nav[role="navigation"] a:hover {
    text-decoration: underline;
}

/*
 * Secondary navigation hover effects
 */

.nav-secondary nav[role="navigation"] a {
    -webkit-transition: background .1s linear .1s, padding .3s ease .1s;
            transition: background .1s linear .1s, padding .3s ease .1s;
}

.nav-secondary nav[role="navigation"] a:hover {
    background: #f2f2f2;
    padding-left: 10px;
}

.nav-secondary nav[role="navigation"] > ul > li > a:hover {
    padding-right: 0;
}

.lt-ie10 .nav-secondary nav[role="navigation"] a:hover {
    background: none;
    padding-left: 0;
}

.lt-ie10 .nav-secondary nav[role="navigation"] > ul > li > a:hover {
    padding-right: 0;
}

.lt-ie10 .nav-secondary nav[role="navigation"] .selected a:hover,
.lt-ie10 .nav-secondary nav[role="navigation"] .opened a:hover {
    padding-left: 10px !important;
}

.nav-secondary nav[role="navigation"] .opened > a:hover {
    background: #d9d9d9 !important;
}

.nav-secondary nav[role="navigation"] .selected > a:hover {
    background: #c8102e !important;
}

.nav-secondary nav[role="navigation"] .opened > ul a:hover,
.nav-secondary nav[role="navigation"] .selected > ul a:hover {
    background: #e5e5e5;
}

.lt-ie10 .nav-secondary nav[role="navigation"] .opened > ul a:hover,
.lt-ie10 .nav-secondary nav[role="navigation"] .selected > ul a:hover {
    background: #f2f2f2;
}

.lt-ie10 .nav-secondary nav[role="navigation"] .opened > a:hover {
    background: #e6e6e6 !important;
}

@media screen and (max-width: 767px) {
    .nav-secondary {
        float: none;
        width: 100%;
        -webkit-box-ordinal-group: 99;
           -moz-box-ordinal-group: 99;
                    -webkit-order: 99;
                   -ms-flex-order: 99;
                            order: 99;
    }
}


/* ========================================================================
   Main Content
   ======================================================================== */

.home-page #wrap {
    overflow: visible;
}

#page {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    margin-top: 1rem;
}

#page:first-child {
    margin-top: 15px;
}

#page #main-content {
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 768px) {
    #page #main-content:not([class*="span"]) {
        float: left;
        width: 75%;
    }
}

#page #main-content.span16 {
    width: 100%;
}

#main header h1,
#page header h1 {
    /*border-bottom: 1px dotted #CBCBCB;*/
    /*border-bottom: 1px dotted rgba(0,0,0,.2);*/
    font-family: 'League Gothic', sans-serif;
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 1.0625;
    line-height: calc(1em + 3px);
    margin-top: 15px;
    /*padding: 10px 0;*/
}

#main header h1 small,
#page header h1 small {
    display: block;
    margin: 1.25rem 0;
    position: relative;
    /* top: 4px; */
}

#announcement {
    /*font-family: 'Crimson', serif;*/
    font-size: 1.125rem;
    line-height: 1.5;
    /*line-height: calc(1.5em - 3px);*/
    margin: 0 0 1em;
    padding-bottom: 15px;
}

#content-well {
    /*font-family: 'Crimson', serif;*/
    font-size: 1.125rem;
    line-height: 1.5;
    /*line-height: calc(1.5em - 3px);*/
    padding-bottom: 30px;
}

#content-well > h2:first-child {
    margin-top: 18px;
}

#content-well > table:first-child {
    margin-top: 9px;
}

.feature {
    margin-bottom: 18px;
}

@media screen and (max-width: 767px) {
    #page {
        display:  -webkit-box;
        display:     -moz-box;
        display:  -ms-flexbox;
        display: -webkit-flex;
        display:         flex;
        -webkit-box-direction: normal;
           -moz-box-direction: normal;
        -webkit-box-orient: vertical;
           -moz-box-orient: vertical;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
    }
    #main,
    #main-content {
        float: none;
        width: 100%;
    }
    #announcement [class*="span"] {
        width: 100%;
    }
}

/* ========================================================================
   Sidebar
   ======================================================================== */

#sidebar {
    line-height: 21px;
    position: relative;
}

#sidebar > img {
    width: 100%;
}

#sidebar .featured-image {
    margin-bottom: 30px;
}

#sidebar .featured-image + * {
    margin-top: 0;
}

#sidebar .featured-image + .module.affix {
    margin-top: 30px;
}

/* ========================================================================
   Articles
   ======================================================================== */

.hentry header {

}

.hentry h2 a {
    text-decoration: none;
}

.hentry time {
    display: block;
    margin-bottom: 15px;
}

.hentry .byline {

}

.hentry footer {
    clear: both;
}

time + .author {
    margin-top: 0;
}

.author {
    margin-top: 15px;
    margin-bottom: 0;
}

.date {
    font-weight: bold;
    margin: 0;
}

.date + h3 {
    margin-top: 6px;
}

/* ========================================================================
   Cascade Server WYSIWYG Generated Classes
   ======================================================================== */

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignleft {
    float: left;
    margin: 0 30px 30px 0;
}

.alignright {
    float: right;
    margin: 0 0 30px 30px;
}

/* ========================================================================
   Home Page Feature
   ======================================================================== */

.flexslider {
    display: block;
    position: relative;
    width: 100%;
}

.flexslider li {
    margin: 0;
}

.flexslider figcaption {
    background-color: black;
    background-color: rgba(0,0,0,.75);
    bottom: 0;
    color: white;
    left: 0;
    margin: 0;
    padding: 15px 15px 10px;
    position: absolute;
    width: 100%;
}

.no-rgba .flexslider figcaption {
    background: transparent url('https://ssl.uh.edu/css/backgrounds/feature-caption-bg.png') repeat;
}

.flexslider p,
.flexslider h4 {
    margin: 0 0 5px;
    padding: 0;
}

.flexslider h4 {
    color: white;
    font-family: 'Milo', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
}

.flexslider p {
    color: white;
    font-size: 15px;
    font-weight: normal;
    line-height: 21px;
}

.flexslider a,
.flexslider a:visited {
    color: white;
    display: block;
    text-decoration: none;
}

/* Browser Resets */
.flex-container a,
.flexslider a,
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* FlexSlider Necessary Styles */
.flexslider {
    padding: 0;
}

.flexslider .slides > li {
    /* Hide the slides before the JS is loaded. Avoids image jumping */
    display: none;
}

.flexslider .slides img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 100%;
}

/* Clearfix for the .slides element */
.slides:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
.no-js .slides > li:first-child {
    display: block;
}

/* Suggested container for "Slide" animation setups. */
.flex-container {
    position: relative;
}

.flexslider {
    margin: 0 0 30px;
    max-height: none;
    position: relative;
    z-index: 0;
}

.flexslider .slides {
}

.flexslider .slides > li {
    position: relative;
}

.flex-direction-nav {
    height: 0;
}

.flex-direction-nav a {
    background: url('https://ssl.uh.edu/css/backgrounds/feature-arrows.png') no-repeat 0 center;
    cursor: pointer;
    display: block;
    height: 100%;
    margin: -30px 0 0;
    opacity: 0; filter:alpha(opacity=0);
    position: absolute;
    text-indent: -999em;
    top: 30px;
    width: 48px;
    -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
}

.flex-direction-nav a:focus {
    outline: 0;
}

.flexslider:hover .flex-direction-nav a {
    opacity: 0.75; filter:alpha(opacity=75);
}

.flex-direction-nav .flex-next {
    background-position: -48px center;
    border-radius: 5px 0 0 5px;
    right: 0;
}

.flex-direction-nav .flex-prev {
    border-radius: 0 5px 5px 0;
    left: 0;
}

.flex-direction-nav .flex-disabled {
    cursor: default;
    opacity: 0.3; filter:alpha(opacity=30);
}

.lt-ie9 .home-page .flexslider li {
    height: 288px;
}


@media screen and (max-width: 767px) {
    .flexslider figcaption {
        background: none;
        color: #333;
        margin: 0.8em 0;
        padding: 0;
        position: relative;
    }
    .flexslider figcaption p {
        color: #333;
    }
    .flexslider h4 {
        color: #c8102e;
        font-weight: normal;
    }
}

/* ========================================================================
   Gallery
   ======================================================================== */

#gallery {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 5px;
}

#carousel {
    margin-top: -13px;
}

#carousel .slides {
    height: 140px;
    overflow: hidden;
}

#carousel li {
    margin-right: 5px;
}

#carousel img {
    border: none;
    cursor: pointer;
    display: block;
    max-height: none;
    opacity: 0.5; filter:alpha(opacity=50);
}

#carousel img:hover {
    opacity: 1; filter:alpha(opacity=100);
}

#carousel .flex-active-slide img {
    cursor: default;
    opacity: 1; filter:alpha(opacity=100);
}

#gallery .flexslider figcaption {
    bottom: 0;
    left: 0;
    padding: 15px 15px 10px;
    position: absolute;
    width: 100%;
}

/* ========================================================================
   Modules
   ======================================================================== */

.modules {
    margin-left: -15px;
    margin-right: -15px;
}

.module {
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 21px;
    margin: 30px 0;
    position: relative;
    width: 100%;
}

.module.affix {
    position: fixed;
}

.module.affix-bottom {
    position: absolute;
}

.module {
    line-height: 21px;
}

.module a {
    text-decoration: none;
}

.module a:hover {
    text-decoration: underline;
}

.module a.btn:hover {
    text-decoration: none;
}

.module img {
    height: auto;
    max-width: 100%;
}

.module p {
    margin: 10px 0;
}

.module ul,
.module ol,
.module dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.module li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 10px 15px;
}

.module li > p:last-child,
.module dd > p:last-child {
    margin-bottom: 0;
}

.module li a {
}

.module ol {
    counter-reset: li; /* Initiate a counter */
}

.module ol > li {
    list-style: none; /* Disable the normal item numbering */
    padding-left: 35px;
    position: relative;
}
.module ol > li:before {
    content: counter(li)'.'; /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    left: 15px;
    position: absolute;
}

.module ul li:last-child,
.module ol li:last-child,
.module dl dd:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.module p + ol li:first-child {
    border-top: 1px solid #ccc;
}

.module dt {
    margin: 0;
    padding: 9px 15px 0;
}

.module dt:first-of-type {
    border-top: none;
}

.module dd {
    margin: 0;
    padding: 0 15px 9px;
}

.module iframe {
    border: none;
    margin-bottom: -5px;
}

.module header {
    background-color: #f5f5f5;
    padding: 10px 15px;
    position: relative;
}

.module header h4 {
    color: #333;
    font-family: 'Milo', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding-bottom: 0;
    text-transform: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    vertical-align: middle;
}

.module footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    bottom: 0;
    color: #333;
    font-size: 15px;
    padding: 10px 15px;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    vertical-align: middle;
    width: 100%;
}

.uh-home .module footer {
    box-shadow: 0 -1px 6px #ddd;
    position: absolute;
}

.module h5 {
    font-weight: normal;
    margin: 0 0 -2px;
}

.module h5 + p {
    margin-top: 0;
}

@media screen and (max-width: 480px) {
    .module.affix {
        position: static;
    }
}

/* ========================================================================
   RSS Module
   ======================================================================== */

.module-rss {
    font-size: 16px;
    overflow: hidden;
}

.rss-feed {
    overflow-y: scroll;
}

.lt-ie8 .module-rss {
    border: 1px solid #ccc;
}

/* ========================================================================
   News Module
   ======================================================================== */

.module-news {
    font-size: 16px;
    overflow: hidden;
}

.lt-ie8 .module-news {
    border: 1px solid #ccc;
}

/* ========================================================================
   Events Module
   ======================================================================== */

.module-events {
    font-size: 16px;
    overflow: hidden;
}

.lt-ie8 .module-events {
    border: 1px solid #ccc;
}

.module-events dl {
    margin: 0;
}

.module-events dt {
    clear: left;
    display: block;
    float: left;
    font-weight: normal;
    padding: 6px 15px 9px;
    text-align: center;
    width: 54px;
}

.lt-ie8 .module-events dt {
    border-bottom: 1px solid #ccc;
    width: 30px;
}

.module-events dd {
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 0;
    min-height: 42px;
    padding: 6px 15px 9px 54px;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
            box-sizing: content-box;
}

.lt-ie8 .module-events dd {
    margin-left: 54px;
    padding: 9px 15px 9px 0;
    width: 148px;
}

.module-events dd:last-of-type {
    border-bottom: none;
}

.module-events h5 {
    margin-bottom: -2px;
}

/* ========================================================================
   Twitter Module
   ======================================================================== */

.module-twitter {
    font-size: 16px;
}

.lt-ie8 .module-twitter {
    border: 1px solid #ccc;
}

.module-twitter img {
    display: block;
    float: left;
    height: 36px;
    margin-top: 5px;
    width: 36px;
    border-radius: 4px;
}

.module-twitter h5 {
    margin-bottom: -2px;
    padding: 0 0 0 48px;
}

.module-twitter p {
    padding: 0 0 0 48px;
}

/* ========================================================================
   SPIFF Module
   ======================================================================== */

.module-spiff,
.module-spiff header,
.module-spiff footer {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 6px 0;
}

.module-spiff {
    font-size: 16px;
    overflow: visible;
    padding: 0 20px;
}

[class*="span"] .module-spiff {
    padding: 0;
    width: 100%;
}

.nav-secondary .module-spiff,
#sidebar .module-spiff {
    padding: 0;
}

.module-spiff header {
    border-bottom: 1px solid #ccc;
}

.module-spiff footer {
    padding: 0;
    position: relative;
}

.module-spiff footer a.btn {
    color: #333;
}

.module-spiff footer a.btn:hover {
    border-bottom: 1px solid #ccc;
    color: #333;
}

.module-spiff h4 {
    border-bottom: 1px dotted #CBCBCB;
    border-bottom: 1px dotted rgba(0,0,0,.2);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.125em;
    line-height: 21px;
    margin: 0 0 12px;
    padding: 0 0 12px;
    text-transform: uppercase;
}

.module-spiff h3,
.module-spiff h6 {
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    margin: 12px 0 3px;
}

.module-spiff p {
    line-height: 21px;
    padding: 0;
}

.module-spiff p + p {
    margin: 15px 0 0;
}

.module-spiff figure img,
.module-spiff img {
    border: none;
}

.module-spiff img {
    margin-top: -13px;
    width: 100%;
}

.module-spiff figure figcaption {
    margin: 15px 0;
    padding: 0;
}

.spiff-bank {
    background: #FFF9D9;
    display: block;
    position: relative;
    margin: 0;
    margin: 0 -200px;
    padding: 0 200px;
}

.spiff-bank .module-spiff {
    margin: 30px 0;
}

@media screen and (max-width: 767px) {
    .spiff-bank {
        background: none;
    }
    .module-spiff {
        width: 50%;
    }
    .module-spiff:nth-child(2n+1) {
        clear: left;
    }
}

/* ========================================================================
   Table of Contents
   ======================================================================== */

.table-of-contents {
    font-size: 16px;
    top: 0;
}

.lt-ie8 .table-of-contents {
    border: 1px solid #ccc;
}

.table-of-contents ul {
    background-color: white;
}

.table-of-contents li {
    padding: 0;
}

.table-of-contents li a {
    display: block;
    padding: 7px 15px 7px 15px;
}

.table-of-contents .active a,
.table-of-contents .active a:hover {
    background: #c8102e;
    color: white;
}

.table-of-contents .top-link {
    color: #999;
    display: none;
    font-size: 13px;
    margin-top: 7px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.table-of-contents.affix .top-link,
.table-of-contents.affix-bottom .top-link {
    display: block;
}

.table-of-contents.affix a {
    display: block !important;
}

/*
 * Old anchors list styles
 */

#anchors {

}

#anchors ul {
    margin-top: 18px;
}

#anchors li {
    margin: 0;
}

#anchors.inline ul {
    list-style: none;
    padding: 0;
}

#anchors.inline li {
    border-right: 1px solid #ccc;
    display: inline;
    margin-right: 1px;
    padding-right: 5px;
}

#anchors.inline ul li:last-child {
    border-right: none;
    display: inline;
    margin-right: 0;
    padding-right: 0;
}

/* ========================================================================
   Tactical Nav Horizontal
   ======================================================================== */

#content-well .navTactical {
    margin: 0;
}

#content-well .navTactical ul {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

#content-well .navTactical ul li {
    border: #666 1px;
    border-style: none none none solid;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 5px 0 6px;
}

/* ========================================================================
   Links List
   ======================================================================== */

.links-list {
    font-size: 16px;
    list-style: none;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 30px;
}

.links-list dt {
    border-bottom: 1px dotted #CBCBCB;
    border-bottom: 1px dotted rgba(0,0,0,.2);
    color: #54585A;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.125em;
    line-height: 21px;
    margin-bottom:  12px;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.links-list dd,
.links-list li {
    display: block;
    margin: 12px 0;
}


/* ========================================================================
   Social Media Icons and Glyphicons
   ======================================================================== */

.social-media .email {
    background: transparent url('https://ssl.uh.edu/images/social/email.png') no-repeat;
}

.social-media .twitter {
    background: transparent url('https://ssl.uh.edu/images/social/twitter-2.png') no-repeat;
}

.social-media .facebook {
    background: transparent url('https://ssl.uh.edu/images/social/facebook.png') no-repeat;
}

.social-media .youtube {
    background: transparent url('https://ssl.uh.edu/images/social/youtube.png') no-repeat;
}

.social-media .google-plus {
    background: transparent url('https://ssl.uh.edu/images/social/google-plus.png') no-repeat;
}

.social-media .instagram {
    background: transparent url('https://ssl.uh.edu/images/social/instagram-new.png') no-repeat;
}

.social-media .linkedin {
    background: transparent url('https://ssl.uh.edu/images/social/linkedin.png') no-repeat;
}

.glyphicon-giving {
    background: transparent url('https://ssl.uh.edu/css/backgrounds/icon-giving.svg') no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 24px;
    margin: -4px 2.5% 0 -2.5%;
    position: relative;
    padding: 0;
    vertical-align: middle;
    width: 24px;
}

.lt-ie8 .glyphicon-giving {
    margin-top: 7px;
}

.no-inlinesvg .glyphicon-giving {
    background: transparent url('https://ssl.uh.edu/css/backgrounds/icon-giving.png') no-repeat;
}

/* ========================================================================
   Non-Semantic Helper Classes
   ======================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    color: transparent !important;
    font: 0/0 a;
    text-indent: -999em; /* still needed for older android devices */
    text-shadow: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

#content-info .social-media {
    clear: both;
    display: block;
    float: right;
    list-style: none;
    margin: 15px 0 0;
    padding: 0 15px;
}

#content-info .social-media:before,
#content-info .social-media:after {
    content: "";
    display: table;
}

#content-info .social-media:after {
    clear: both;
}

#content-info .social-media li {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

#content-info .social-media li:last-child {
    margin-right: 0;
}

#content-info .social-media a {
    border-radius: 3px;
    display: block;
    height: 40px;
    width:  40px;
    -webkit-transition: background .2s ease;
            transition: background .2s ease;
}

#content-info .social-media a:hover {
    background-color: #960c22;
}

#content-info .social-media .facebook {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2256.693px%22%20height%3D%2256.693px%22%20viewBox%3D%220%200%2056.693%2056.693%22%20enable-background%3D%22new%200%200%2056.693%2056.693%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M40.43%2C21.739h-7.646v-5.014c0-1.884%2C1.248-2.322%2C2.127-2.322c0.877%2C0%2C5.396%2C0%2C5.396%2C0V6.125l-7.431-0.028%0D%0A%09c-8.248%2C0-10.125%2C6.174-10.125%2C10.125v5.518h-4.77v8.53h4.77c0%2C10.946%2C0%2C24.137%2C0%2C24.137h10.033c0%2C0%2C0-13.32%2C0-24.137h6.771%0D%0A%09L40.43%2C21.739z%22/%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat center center;
    background-size: 30px;
}

#content-info .social-media .google-plus {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2256.693px%22%20height%3D%2256.693px%22%20viewBox%3D%220%200%2056.693%2056.693%22%20enable-background%3D%22new%200%200%2056.693%2056.693%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M52.218%2C25.852h-7.512v-7.511c0-0.572-0.465-1.039-1.037-1.039H41.53c-0.576%2C0-1.041%2C0.467-1.041%2C1.039%0D%0A%09%09v7.511h-7.512c-0.572%2C0-1.039%2C0.467-1.039%2C1.041v2.139c0%2C0.574%2C0.467%2C1.039%2C1.039%2C1.039h7.512v7.514%0D%0A%09%09c0%2C0.574%2C0.465%2C1.039%2C1.041%2C1.039h2.139c0.572%2C0%2C1.037-0.465%2C1.037-1.039V30.07h7.512c0.572%2C0%2C1.039-0.465%2C1.039-1.039v-2.139%0D%0A%09%09C53.257%2C26.318%2C52.79%2C25.852%2C52.218%2C25.852z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M26.974%2C32.438c-1.58-1.119-3.017-2.761-3.041-3.265c0-0.918%2C0.082-1.356%2C2.141-2.961%0D%0A%09%09c2.662-2.084%2C4.128-4.823%2C4.128-7.719c0-2.625-0.802-4.957-2.167-6.595h1.059c0.22%2C0%2C0.435-0.068%2C0.609-0.196l2.955-2.141%0D%0A%09%09c0.367-0.264%2C0.521-0.732%2C0.381-1.161c-0.141-0.428-0.537-0.72-0.988-0.72H18.835c-1.445%2C0-2.915%2C0.255-4.356%2C0.751%0D%0A%09%09c-4.816%2C1.66-8.185%2C5.765-8.185%2C9.978c0%2C5.969%2C4.624%2C10.493%2C10.806%2C10.635c-0.121%2C0.474-0.183%2C0.939-0.183%2C1.396%0D%0A%09%09c0%2C0.92%2C0.233%2C1.791%2C0.713%2C2.633c-0.056%2C0-0.109%2C0-0.17%2C0c-5.892%2C0-11.21%2C2.891-13.229%2C7.193c-0.526%2C1.118-0.794%2C2.25-0.794%2C3.366%0D%0A%09%09c0%2C1.086%2C0.278%2C2.132%2C0.826%2C3.113c1.269%2C2.271%2C3.993%2C4.031%2C7.677%2C4.961c1.9%2C0.48%2C3.943%2C0.726%2C6.064%2C0.726%0D%0A%09%09c1.906%2C0%2C3.724-0.246%2C5.403-0.732c5.238-1.521%2C8.625-5.377%2C8.625-9.828C32.032%2C37.602%2C30.659%2C35.045%2C26.974%2C32.438z%20M10.283%2C42.215%0D%0A%09%09c0-3.106%2C3.947-5.832%2C8.446-5.832h0.121c0.979%2C0.013%2C1.934%2C0.156%2C2.834%2C0.433c0.309%2C0.213%2C0.606%2C0.416%2C0.893%2C0.61%0D%0A%09%09c2.084%2C1.421%2C3.461%2C2.357%2C3.844%2C3.861c0.09%2C0.379%2C0.136%2C0.758%2C0.136%2C1.125c0%2C3.869-2.886%2C5.83-8.578%2C5.83%0D%0A%09%09C13.663%2C48.242%2C10.283%2C45.596%2C10.283%2C42.215z%20M14.377%2C12.858c0.703-0.803%2C1.624-1.228%2C2.658-1.228l0.117%2C0.002%0D%0A%09%09c2.921%2C0.086%2C5.716%2C3.342%2C6.229%2C7.257c0.289%2C2.191-0.198%2C4.253-1.301%2C5.509c-0.705%2C0.805-1.613%2C1.229-2.688%2C1.229c0%2C0%2C0%2C0-0.002%2C0%0D%0A%09%09h-0.048c-2.86-0.088-5.716-3.467-6.227-7.377C12.829%2C16.064%2C13.289%2C14.099%2C14.377%2C12.858z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat center center;
    background-size: 30px;
}

#content-info .social-media .instagram {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%22-611%202957.3%2056.7%2056.7%22%20style%3D%22enable-background%3Anew%20-611%202957.3%2056.7%2056.7%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M-582.7%2C2965.3c6.6%2C0%2C7.4%2C0%2C10%2C0.1c2.4%2C0.1%2C3.7%2C0.5%2C4.6%2C0.9c1.2%2C0.4%2C2%2C1%2C2.9%2C1.9c0.9%2C0.9%2C1.4%2C1.7%2C1.9%2C2.9c0.3%2C0.9%2C0.7%2C2.2%2C0.9%2C4.6c0.1%2C2.6%2C0.1%2C3.4%2C0.1%2C10s0%2C7.4-0.1%2C10c-0.1%2C2.4-0.5%2C3.7-0.9%2C4.6c-0.4%2C1.2-1%2C2-1.9%2C2.9s-1.7%2C1.4-2.9%2C1.9c-0.9%2C0.3-2.2%2C0.7-4.6%2C0.9c-2.6%2C0.1-3.4%2C0.1-10%2C0.1s-7.4%2C0-10-0.1c-2.4-0.1-3.7-0.5-4.6-0.9c-1.2-0.4-2-1-2.9-1.9s-1.4-1.7-1.9-2.9c-0.3-0.9-0.7-2.2-0.9-4.6c-0.1-2.6-0.1-3.4-0.1-10s0-7.4%2C0.1-10c0.1-2.4%2C0.5-3.7%2C0.9-4.6c0.4-1.2%2C1-2%2C1.9-2.9c0.9-0.9%2C1.7-1.4%2C2.9-1.9c0.9-0.3%2C2.2-0.7%2C4.6-0.9C-590.1%2C2965.4-589.3%2C2965.3-582.7%2C2965.3%20M-582.7%2C2960.9c-6.7%2C0-7.6%2C0-10.2%2C0.1c-2.6%2C0.1-4.4%2C0.5-6%2C1.2c-1.6%2C0.6-3%2C1.5-4.4%2C2.9c-1.4%2C1.4-2.2%2C2.8-2.9%2C4.4c-0.6%2C1.6-1%2C3.4-1.2%2C6c-0.1%2C2.6-0.1%2C3.5-0.1%2C10.2c0%2C6.7%2C0%2C7.6%2C0.1%2C10.2c0.1%2C2.6%2C0.5%2C4.4%2C1.2%2C6c0.6%2C1.6%2C1.5%2C3%2C2.9%2C4.4c1.4%2C1.4%2C2.8%2C2.2%2C4.4%2C2.9c1.6%2C0.6%2C3.4%2C1%2C6%2C1.2c2.6%2C0.1%2C3.5%2C0.1%2C10.2%2C0.1c6.7%2C0%2C7.6%2C0%2C10.2-0.1c2.6-0.1%2C4.4-0.5%2C6-1.2c1.6-0.6%2C3-1.5%2C4.4-2.9c1.4-1.4%2C2.2-2.8%2C2.9-4.4c0.6-1.6%2C1-3.4%2C1.2-6c0.1-2.6%2C0.1-3.5%2C0.1-10.2c0-6.7%2C0-7.6-0.1-10.2c-0.1-2.6-0.5-4.4-1.2-6c-0.6-1.6-1.5-3-2.9-4.4c-1.4-1.4-2.8-2.2-4.4-2.9c-1.6-0.6-3.4-1-6-1.2C-575.1%2C2960.9-575.9%2C2960.9-582.7%2C2960.9L-582.7%2C2960.9z%20M-582.7%2C2972.9c-7%2C0-12.7%2C5.7-12.7%2C12.7s5.7%2C12.7%2C12.7%2C12.7s12.7-5.7%2C12.7-12.7S-575.6%2C2972.9-582.7%2C2972.9z%20M-582.7%2C2993.9c-4.6%2C0-8.3-3.7-8.3-8.3c0-4.6%2C3.7-8.3%2C8.3-8.3s8.3%2C3.7%2C8.3%2C8.3C-574.4%2C2990.2-578.1%2C2993.9-582.7%2C2993.9z%20M-569.4%2C2969.4c-1.6%2C0-3%2C1.3-3%2C3s1.3%2C3%2C3%2C3c1.6%2C0%2C3-1.3%2C3-3S-567.8%2C2969.4-569.4%2C2969.4z%22%2F%3E%0A%3C%2Fsvg%3E') no-repeat center center;
    background-size: 30px;
}

#content-info .social-media .linkedin {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2256.693px%22%20height%3D%2256.693px%22%20viewBox%3D%220%200%2056.693%2056.693%22%20enable-background%3D%22new%200%200%2056.693%2056.693%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M30.212%2C25.912v-0.077c-0.016%2C0.025-0.033%2C0.052-0.051%2C0.077H30.212z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M49.405%2C3.477H7.285c-2.017%2C0-3.651%2C1.597-3.651%2C3.563v42.612c0%2C1.967%2C1.635%2C3.562%2C3.651%2C3.562h42.12%0D%0A%09%09c2.02%2C0%2C3.654-1.597%2C3.654-3.562V7.041C53.059%2C5.073%2C51.423%2C3.477%2C49.405%2C3.477z%20M18.615%2C45.115H11.15v-22.46h7.466V45.115z%0D%0A%09%09%20M14.883%2C19.588h-0.05c-2.504%2C0-4.124-1.726-4.124-3.88c0-2.203%2C1.67-3.88%2C4.223-3.88c2.555%2C0%2C4.125%2C1.677%2C4.175%2C3.88%0D%0A%09%09C19.107%2C17.862%2C17.486%2C19.588%2C14.883%2C19.588z%20M45.534%2C45.115h-7.465V33.096c0-3.018-1.08-5.078-3.781-5.078%0D%0A%09%09c-2.062%2C0-3.289%2C1.39-3.83%2C2.731c-0.197%2C0.479-0.246%2C1.148-0.246%2C1.82v12.543h-7.464c0%2C0%2C0.098-20.354%2C0-22.459h7.464v3.18%0D%0A%09%09c0.992-1.53%2C2.766-3.709%2C6.729-3.709c4.912%2C0%2C8.596%2C3.211%2C8.596%2C10.109v12.881H45.534z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat center center;
    background-size: 30px;
}

#content-info .social-media .pinterest {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2256.693px%22%20height%3D%2256.693px%22%20viewBox%3D%220%200%2056.693%2056.693%22%20enable-background%3D%22new%200%200%2056.693%2056.693%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M30.374%2C4.622c-13.586%2C0-20.437%2C9.74-20.437%2C17.864c0%2C4.918%2C1.861%2C9.293%2C5.854%2C10.922%0D%0A%09c0.655%2C0.27%2C1.242%2C0.01%2C1.433-0.715c0.132-0.5%2C0.444-1.767%2C0.584-2.295c0.19-0.717%2C0.116-0.967-0.412-1.594%0D%0A%09c-1.151-1.357-1.889-3.115-1.889-5.607c0-7.226%2C5.407-13.695%2C14.079-13.695c7.68%2C0%2C11.898%2C4.692%2C11.898%2C10.957%0D%0A%09c0%2C8.246-3.649%2C15.205-9.065%2C15.205c-2.991%2C0-5.229-2.473-4.514-5.508c0.859-3.623%2C2.524-7.531%2C2.524-10.148%0D%0A%09c0-2.34-1.258-4.292-3.856-4.292c-3.058%2C0-5.515%2C3.164-5.515%2C7.401c0%2C2.699%2C0.912%2C4.525%2C0.912%2C4.525s-3.13%2C13.26-3.679%2C15.582%0D%0A%09c-1.092%2C4.625-0.164%2C10.293-0.085%2C10.864c0.046%2C0.341%2C0.482%2C0.422%2C0.681%2C0.166c0.28-0.369%2C3.925-4.864%2C5.161-9.358%0D%0A%09c0.352-1.271%2C2.012-7.859%2C2.012-7.859c0.994%2C1.896%2C3.897%2C3.562%2C6.985%2C3.562c9.191%2C0%2C15.429-8.38%2C15.429-19.596%0D%0A%09C48.476%2C12.521%2C41.292%2C4.622%2C30.374%2C4.622z%22/%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat center center;
    background-size: 30px;
}

#content-info .social-media .twitter {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2256.693px%22%20height%3D%2256.693px%22%20viewBox%3D%220%200%2056.693%2056.693%22%20enable-background%3D%22new%200%200%2056.693%2056.693%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M52.837%2C15.065c-1.811%2C0.805-3.76%2C1.348-5.805%2C1.591c2.088-1.25%2C3.689-3.23%2C4.444-5.592%0D%0A%09c-1.953%2C1.159-4.115%2C2-6.418%2C2.454c-1.844-1.964-4.471-3.192-7.377-3.192c-5.581%2C0-10.106%2C4.525-10.106%2C10.107%0D%0A%09c0%2C0.791%2C0.089%2C1.562%2C0.262%2C2.303c-8.399-0.422-15.848-4.445-20.833-10.561c-0.87%2C1.492-1.367%2C3.229-1.367%2C5.082%0D%0A%09c0%2C3.507%2C1.783%2C6.601%2C4.495%2C8.412c-1.655-0.053-3.215-0.508-4.577-1.265c-0.001%2C0.042-0.001%2C0.085-0.001%2C0.128%0D%0A%09c0%2C4.896%2C3.483%2C8.98%2C8.107%2C9.91c-0.848%2C0.229-1.741%2C0.354-2.663%2C0.354c-0.651%2C0-1.285-0.062-1.901-0.182%0D%0A%09c1.286%2C4.015%2C5.019%2C6.938%2C9.44%2C7.019c-3.459%2C2.711-7.815%2C4.327-12.552%2C4.327c-0.815%2C0-1.62-0.048-2.411-0.142%0D%0A%09c4.474%2C2.869%2C9.786%2C4.541%2C15.493%2C4.541c18.591%2C0%2C28.756-15.4%2C28.756-28.756c0-0.438-0.009-0.875-0.028-1.31%0D%0A%09C49.769%2C18.873%2C51.483%2C17.092%2C52.837%2C15.065z%22/%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat center center;
    background-size: 30px;
}

#content-info .social-media .tumblr {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2256.693px%22%20height%3D%2256.693px%22%20viewBox%3D%220%200%2056.693%2056.693%22%20enable-background%3D%22new%200%200%2056.693%2056.693%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M29.863%2C4.831v11.381h11.379v8.787H29.863v12.619c0%2C2.855-0.036%2C4.502%2C0.266%2C5.311%0D%0A%09c0.3%2C0.805%2C1.054%2C1.641%2C1.875%2C2.123c1.091%2C0.654%2C2.332%2C0.98%2C3.734%2C0.98c2.491%2C0%2C4.971-0.809%2C7.436-2.428v7.76%0D%0A%09c-2.101%2C0.99-4.007%2C1.688-5.712%2C2.084c-1.706%2C0.396-3.549%2C0.6-5.53%2C0.6c-2.25%2C0-3.578-0.285-5.306-0.85%0D%0A%09c-1.729-0.572-3.204-1.385-4.423-2.43c-1.226-1.053-2.068-2.172-2.54-3.355c-0.473-1.186-0.709-2.904-0.709-5.154v-17.26h-6.686%0D%0A%09v-6.971c1.933-0.627%2C4.174-1.527%2C5.55-2.699c1.382-1.176%2C2.488-2.582%2C3.32-4.227c0.837-1.641%2C1.412-3.734%2C1.726-6.271H29.863z%22/%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat center center;
    background-size: 30px;
}

#content-info .social-media .youtube {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%22-611%202957.3%2056.7%2056.7%22%20style%3D%22enable-background%3Anew%20-611%202957.3%2056.7%2056.7%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M-559.7%2C2975.5c0%2C0-0.5-3.4-1.9-4.9c-1.9-2-4-2-4.9-2.1c-6.9-0.5-17.2-0.5-17.2-0.5h0c0%2C0-10.3%2C0-17.2%2C0.5%0A%09c-1%2C0.1-3%2C0.1-4.9%2C2.1c-1.5%2C1.5-1.9%2C4.9-1.9%2C4.9s-0.5%2C4-0.5%2C7.9v3.7c0%2C4%2C0.5%2C7.9%2C0.5%2C7.9s0.5%2C3.4%2C1.9%2C4.9c1.9%2C2%2C4.3%2C1.9%2C5.4%2C2.1%0A%09c3.9%2C0.4%2C16.7%2C0.5%2C16.7%2C0.5s10.3%2C0%2C17.2-0.5c1-0.1%2C3-0.1%2C4.9-2.1c1.5-1.5%2C1.9-4.9%2C1.9-4.9s0.5-4%2C0.5-7.9v-3.7%0A%09C-559.2%2C2979.5-559.7%2C2975.5-559.7%2C2975.5z%20M-588.8%2C2991.7l0-13.8l13.3%2C6.9L-588.8%2C2991.7z%22%2F%3E%0A%3C%2Fsvg%3E') no-repeat center center;
    background-size: 30px;
}

#content-info .social-media .snapchat {
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2019.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%22-611%202957.3%2056.7%2056.7%22%20style%3D%22enable-background%3Anew%20-611%202957.3%2056.7%2056.7%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M-582.3%2C3008.7c-0.1%2C0-0.3%2C0-0.4%2C0h0c-0.1%2C0-0.2%2C0-0.2%2C0c-2.9%2C0-4.8-1.3-6.6-2.6c-1.2-0.9-2.4-1.7-3.8-1.9%0A%09c-0.7-0.1-1.3-0.2-2-0.2c-1.2%2C0-2.1%2C0.2-2.8%2C0.3c-0.4%2C0.1-0.8%2C0.1-1%2C0.1c-0.3%2C0-0.6-0.1-0.7-0.5c-0.1-0.4-0.2-0.8-0.3-1.1%0A%09c-0.2-0.9-0.4-1.5-0.7-1.6c-4.6-0.7-5.9-1.7-6.2-2.4c0-0.1-0.1-0.2-0.1-0.3c0-0.3%2C0.2-0.5%2C0.4-0.5c7.1-1.2%2C10.3-8.4%2C10.4-8.7%0A%09c0%2C0%2C0%2C0%2C0%2C0c0.4-0.9%2C0.5-1.6%2C0.3-2.3c-0.5-1.1-2.1-1.6-3.1-2c-0.3-0.1-0.5-0.2-0.7-0.2c-2.1-0.8-2.3-1.7-2.2-2.1%0A%09c0.1-0.7%2C1.1-1.3%2C1.9-1.3c0.2%2C0%2C0.4%2C0%2C0.6%2C0.1c0.9%2C0.4%2C1.8%2C0.7%2C2.5%2C0.7c1%2C0%2C1.5-0.4%2C1.5-0.5c0-0.5-0.1-1-0.1-1.5%0A%09c-0.2-3.3-0.5-7.5%2C0.6-9.9c3.2-7.1%2C9.9-7.7%2C11.9-7.7c0.1%2C0%2C0.9%2C0%2C0.9%2C0l0.1%2C0c2%2C0%2C8.7%2C0.6%2C11.9%2C7.7c1.1%2C2.4%2C0.8%2C6.5%2C0.6%2C9.9l0%2C0.1%0A%09c0%2C0.5-0.1%2C0.9-0.1%2C1.4c0.1%2C0.1%2C0.5%2C0.4%2C1.4%2C0.5h0c0.7%2C0%2C1.5-0.2%2C2.4-0.7c0.3-0.1%2C0.5-0.1%2C0.7-0.1c0.3%2C0%2C0.6%2C0.1%2C0.9%2C0.2l0%2C0%0A%09c0.7%2C0.3%2C1.2%2C0.8%2C1.2%2C1.3c0%2C0.5-0.4%2C1.2-2.2%2C2c-0.2%2C0.1-0.4%2C0.2-0.7%2C0.2c-1.1%2C0.3-2.6%2C0.8-3.1%2C2c-0.3%2C0.6-0.2%2C1.4%2C0.3%2C2.3%0A%09c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.3%2C3.3%2C7.5%2C10.4%2C8.7c0.3%2C0%2C0.4%2C0.3%2C0.4%2C0.5c0%2C0.1%2C0%2C0.2-0.1%2C0.3c-0.3%2C0.7-1.6%2C1.7-6.2%2C2.4%0A%09c-0.4%2C0.1-0.5%2C0.5-0.7%2C1.6c-0.1%2C0.4-0.2%2C0.7-0.3%2C1.1c-0.1%2C0.3-0.3%2C0.5-0.7%2C0.5h-0.1c-0.2%2C0-0.6%2C0-1-0.1c-0.8-0.2-1.7-0.3-2.8-0.3%0A%09c-0.7%2C0-1.3%2C0.1-2%2C0.2c-1.4%2C0.2-2.6%2C1.1-3.8%2C1.9C-577.6%2C3007.4-579.4%2C3008.7-582.3%2C3008.7z%22%2F%3E%0A%3C%2Fsvg%3E') no-repeat center center;
    background-size: 30px;
}

.no-inlinesvg #content-info .social-media .facebook {
    background: transparent url('backgrounds/social-icon-facebook-light.png') no-repeat center center;
}

.no-inlinesvg #content-info .social-media .google-plus {
    background: transparent url('backgrounds/social-icon-google-plus-light.png') no-repeat center center;
}

.no-inlinesvg #content-info .social-media .instagram {
    background: transparent url('backgrounds/social-icon-instagram-light.png') no-repeat center center;
}

.no-inlinesvg #content-info .social-media .linkedin {
    background: transparent url('backgrounds/social-icon-linkedin-light.png') no-repeat center center;
}

.no-inlinesvg #content-info .social-media .pinterest {
    background: transparent url('backgrounds/social-icon-pinterest-light.png') no-repeat center center;
}

.no-inlinesvg #content-info .social-media .tumblr {
    background: transparent url('backgrounds/social-icon-tumblr-light.png') no-repeat center center;
}

.no-inlinesvg #content-info .social-media .twitter {
    background: transparent url('backgrounds/social-icon-twitter-light.png') no-repeat center center;
}

.no-inlinesvg #content-info .social-media .youtube {
    background: transparent url('backgrounds/social-icon-youtube-light.png') no-repeat center center;
}

/* news article figures */ 

.articleContent figure.figure {
    border: none;
    box-shadow: none;
    padding: 0;
}

.articleContent figure.figure.pull-right {
    margin: 0 0 2.5rem 2.5rem !important;
}

.articleContent figure.figure figcaption,
.articleContent figure.figure .photo-credit {
    font-size: .875em;
    line-height: 1.35;
    margin: .5em 0;
}

.articleContent figure.figure .photo-credit {
    color: #54585A;
}

.articleContent figure.figure .photo-credit a {
    color: #c8102e;
}

.articleContent figure.figure img {
    display: block;
    width: 100%;
}

.articleContent figure.figure figcaption + img,
.articleContent figure.figure figcaption + a img,
.articleContent figure.figure .photo-credit + img,
.articleContent figure.figure .photo-credit + a img {
    margin-top: 2.5rem;
}


/* ========================================================================
   Print Styles
   ======================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
        box-shadow: none !important;
    }
    /* fixes a bug in firefox that only prints one page */
    html, body, main {
        overflow: visible !important;
        float: none !important;
        position: relative !important;
        height: auto !important;
        display: block !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5in;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    /* Hide header, footer, navigation, etc */
    .uh-header .global-search,
    .uh-header .site-nav,
    .uh-header .nav-tactical,
    .uh-footer,
    #mobile-header,
    #banner .top-bar,
    #banner button,
    #banner .nav-primary,
    .breadcrumb,
    .nav-secondary,
    #sidebar,
    #content-info,
    .module {
        display: none !important;
    }
    .uh-header .site-name {
        font-size: 3.75rem;
    }
    #banner .logo {
        padding-top: 0;
        padding-bottom: 0.25in;
    }
    .uh-header .global-logo img, .uh-header .global-logo svg {
        filter: url(inverse.svg#negative);
        -webkit-filter: invert(100%);
                filter: invert(100%);
    }
    /* Make main column width 100% */
    #main,
    #main-content,
    #content-well {
        margin-left: 0;
        width: 100% !important;
    }
    a[href]:after {
        content: '';
    }
    /* Show link URLs in content well */
    main a[href]:after {
        content: " (" attr(href) ")";
    }
    /* Links inside of table cells make table widths too wide to fit on a page */
    main table a[href]:after {
        content: '';
    }
}