@font-face {
  font-family: "Mitra";
  src: url('/fonts/IRMitra.eot'); 
  src: url('/fonts/IRMitra.eot?#iefix') format('embedded-opentype'),
       url('/fonts/IRMitra.woff') format('woff'),
       url('/fonts/IRMitra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Mitra";
  src: url('/fonts/IRMitraBold.eot'); 
  src: url('/fonts/IRMitraBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/IRMitraBold.woff') format('woff'),
       url('/fonts/IRMitraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}
