    /*
@#loadbardiv{
	visibility: visible; 
	position: absolute; 
	right: 0pt; 
	top: 0pt; 
	width: auto; 
	color: rgb(0, 0, 0); 
	background-color: rgb(255, 204, 0); 
	padding: 2px; 
	font-family: tahoma, arial; 
	font-size: 8pt; 
	direction: rtl; 
	text-align: right;
}

*/
a {
    color: #666666;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #f58220;
    text-decoration: underline;
}

a img {
    border: none;
}

* * {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 16px;
    color: #f58220;
}

h2 {
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 14px;
    color: #f58220;
}

h3 {
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 13pt;
    color: #f58220;
}

body {
    font-family: tahoma, arial;
    font-size: 11px;
    line-height: 1.4em;
    background: transparent;
    background: url("/imagez/pictures/crossed_bg.gif") scroll;
}

#footer {
    margin: 0 auto;
    width: 1000px;
}

#shadowContainerDiv {
    margin: 0 auto;
    /*width: 1013px;*/
    /*background: url("/imagez/wrapper_shadow.png") repeat-y center top;*/
    height: auto;
}

#wrapper {
    margin: 0 auto;
    /*width: 1000px;*/
    border: none;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    /*background: url(../imagez/right-sidebar-border.png) bottom right no-repeat #fff;*/
    background-color: #fff;
    box-shadow: #000 0px 1px 10px;
}

#header {
    color: #333;
    width: 100%;
    height: 115px;
    background: url("../imagez/pictures/header_logo-r.jpg") center top no-repeat;
    position: relative;
    background-size: cover;
}

@media (min-width: 1200px) {
    #header {
        height: 120px;
    }
}

#topbar {
    width: 100%;
    height: 27px;
    color: #333;
    position: absolute;
    top: 0;
    z-index: 100;
}

#navigation {
    /*float: left;
    width: 1000px;*/
    /*height: 25px;*/
    /*background: #ffc41e;*/
    background: #ffc41e url("../imagez/pictures/menu_bar_bg_wider.jpg") repeat-x;
    position: relative;
}

#leftColumn {
    color: #333333;
}

#rightColumn {
    color: #333333;
    min-height: 735px;
    display: inline;
    overflow-x: hidden;
}

#footer {
    clear: both;
    color: #333333;
    line-height: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 753px;
}

.footer_new {
    color: #333333;
    display: block;
    background: url("../imagez/newfooter_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.footer_row{
    margin-right: -20px;
    margin-left: -20px;
    overflow: auto;
}

.footer_row .footer-links{
    float: right;
    padding: 10px 29px;
    font-size:10px;
}

.footer_row .footer-copyright{
    float: left;
    padding: 5px;
    direction: ltr
}

#ibank_block_top {
    float: right;
    width: 246px;
    height: 26px;
    background: url("../imagez/pictures/ebank_top_bg.jpg") 0px 0px no-repeat;
}

#ibank_block_bottom {
    width: 246px;
    height: 80px;
    background: url("../imagez/pictures/ebank_bottom_bg.jpg") 0 0px transparent;
}

#left_top_main {
    display: block;
}

#left_bottom_grayContainer {
    position: relative;
    z-index: -100;
    background: #efefef;
    margin-left: 0;
    margin-right: 0;
    margin-top: -60px;
    padding-right: 10px;
    padding-top: 70px;
    height: 53px;
    width: 744px;
}

#left_bottom {
    /*margin: 10px;*/
    display: block;
    height: 105px;
    position: relative;
}

.left_blocks {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contentHolders {
    /*margin: 10px 10px 10px auto;*/
    display: block;
    /*height: 165px;*/
}

#collapsed_contentHolders {
    margin: 10px;
    display: block;
    background: url(../imagez/pictures/down.jpg) center -1px no-repeat;
    height: 24px;
    cursor: pointer;
}

/* line 215, ../sass/general.scss */
#collapsed_contentHolders:hover {
    cursor: pointer;
    background-position: center -27px;
}

/* line 220, ../sass/general.scss */
div#collapsed_contentHolders a {
    width: 730px;
}

/* line 224, ../sass/general.scss */
.tempProperties {
    margin: 10px;
    display: block;
    background: #717171;
    height: 176px;
}

#quick_access_links {
    text-align: center;
    margin: 10px 5px;
}

.quick_access_images {
    border: 1px solid #ddd;
    margin: 5px 0px;
}

#rightsidebar_menu {
    margin: 8px 0px;
    height: 303px;
}

#slideshowContainer {
    display: block;
}

#slideshowStatus {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
}

.slideShowImages {
    border: 1px solid #806e30;
}

.sideNewsImage {
    border: 1px solid #e7e7e7;
}

#hometabcontent1 li {
    background: url("../images/news-bullet.jpg") no-repeat scroll right;
    direction: rtl;
    list-style: none outside none;
    padding-right: 18px;
    margin-right: 18px;
    font-size: 12px;
}

#hometabcontent1 {
    background: url(../images/stock_back.jpg) no-repeat scroll left bottom transparent;
    position: relative;
    width: 100%;
    height: 180px;
    text-align: right;
    z-index: 2;
    padding-top: 20px;
    background-size: cover;
}

.imgstock {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 162px;
    height: 186px;
    /* background: url(../images/stock.png) no-repeat scroll left bottom;*/
}

#newslinks, #medialinks {

}

#newslinks ul, #medialinks ul {
    list-style-type: none;
    margin: 0;
}

#newslinks li, #medialinks li {
    border-width: 1px 0;
    margin-top: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    list-style-type: none;
}

#newslinks li a, #medialinks li a {
    display: block;
    height: 21px;
    overflow: hidden;
    background-color: #f0f0f0;
    color: #373737;
    text-decoration: none;
}

#newslinks li a em, #medialinks li a em {
    color: #a6a6a6;
}

* html #newslinks li a, * html #medialinks li a {
    /* make hover effect work in IE */
    width: 577px;
}

#newslinks li a:hover, #medialinks li a:hover {
    background: #fff;
}

.bottom_blocks {
    width: 238px;
    /*height: 190px;*/
    float: right;
    /* -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); */
    background-color: #F7F7F7;
    padding: 10px 5px 0;
    border-radius: 4px;
    border: #E2E2E2 solid 1px;
    box-shadow: inset #F3F3F3 0 0 1px 1px, #eee 0 0 1px 1px;
    min-height: 230px !important;
}

.blocks_title_holder {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    height: 23px;
}

#ibank_field_holder {
    /*width: 176px;*/
}

.HomepageTabsTitleSelected,
.HomepageTabsTitleDeselected {
    /*width: 97px;*/
}


.HomepageTabsTitleSelected {
    text-align: center;
    float: right;
    background: orange;
    color: #fff;
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
}

.HomepageTabsTitleDeselected {
    text-align: center;
    float: right;
    float: right;
    background: #cccccc;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#newslinksTabSelected {
    /*width: 103px;*/
}

#newslinksTabDeselected {
    /*width: 103px;*/
}

.HomepageTabsTitleDeselected a {
    color: #555555;
}

.HomepageTabsTitleSelected a,
.HomepageTabsTitleSelected {
    font-weight: normal;
}

#mediaLinksTabSelected {
    color: #fff;
    text-align: center;
    width: 143px;
    float: right;
    background: orange;
}

#mediaLinksTabDeselected {
    text-align: center;
    /*width: 143px;*/
    float: right;
    background: none #cccccc;
}

.middleBlocksBgColor {
    background: #f9f9f9;
}

#footer_links {
    margin-top: 20px;
}

#copyright_info {
    margin-top: 0px;
    margin-bottom: 20px;
}

#left_under_middle {
    color: #FEAE01;
    margin-right: 0;
}

#left_under_middle {
    /*background: url(../imagez/pictures/left_under_middle_2.jpg) no-repeat;*/
    /*z-index: 50;*/
    /*width: 1000px;*/
    /*height: 190px;*/
}

#kwick_container_ulHolderWrap {
    padding: 7px 140px 0 90px;
}

#kwick_container_ulHolder {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #efefef;
    height: 94px;
    width: 100%;
}

#kwick_container_ulHolder img {
    max-width: none;
}

a#expandTheMiddleBlock {
    font-weight: bold;
    color: #818181;
}

a#expandTheMiddleBlock:hover {
    font-weight: bold;
    color: #e7c3a1;
    text-decoration: none;
}

.bottom_blocks ul {
    margin-right: 20px;
    line-height: 1.5em;
}

.loadingFreeze {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    display: block;
    z-index: 2000;
}

#loadbardiv {
    z-index: 2100;
    text-align: right;
    /*visibility: visible;*/
    position: absolute;
    right: 0pt;
    top: 0pt;
    width: auto;
    color: #000000;
    background-color: #FFCC00;
    padding: 2px;
    font-family: tahoma;
    font-size: 10pt;
    direction: rtl;
    text-align: right;
}

.menuContainerHolder {
    height: 20px;
    margin-right: 12px;
    width: 216px;
}

.menuBeforeLoading {
    visibility: hidden;
    height: 0;
    width: 0;
}

.ebankingList a {
    color: #fff;
    font-weight: 600;
}

.ebankingList a:hover {
    color: #feae01;
}

.homeContentBlockSeperator {
    display: block;
    height: 4px;
    width: 610px;
    background: url(../imagez/pictures/seperator.jpg) repeat-x;
}

.scnd_homeContentBlockSeperator {
    display: block;
    height: 4px;
    width: 500px;
    margin-right: 10px;
    background: url(../imagez/pictures/seperator.jpg) repeat-x;
}

#a_stockPricesTable {
    width: 100%;
}

#a_stockPricesTable thead {
    font-weight: bold;
}

#a_stockPricesTable tbody tr:hover td {
    background-color: #f0f0f0;
}

.a_price_status_icon {
    width: 48px;
}

.a_price_field {
    width: 94px;
    text-align: left;
    color: #7B4414;
}

.a_price_nameField {
    width: 208px;
}

#Menu1 li {
    visibility: hidden;
}

#Menu1 li:first-child {
    border-right: none;
    border-right: 0px;
}

#ar_scnd_maincolmun {
    overflow-x: hidden;
    display: block;
}

#left_top_of_under_middle {
    text-align: center;
    font-size: 0;
}

#left_top_of_under_middle_holder {
    margin-right: 0;
}

.scnd_top_of_under_middle_icon {
    background: url("/imagez/pictures/icons-main-page-4.jpg") no-repeat;
    height: 90px;
    width: 165px;
    display: inline-block;
}

.scnd_top_of_under_middle_icon a {
    display: block;
    width: 100%;
    height: 90px;
}

#scnd_design_first_icon {
    background-position: -825px 0px;
}

#scnd_design_scnd_icon {
    background-position: -660px 0px;
}

#scnd_design_third_icon {
    background-position: -495px 0px;
}

#scnd_design_forth_icon {
    background-position: -330px 0px;
}

#scnd_design_fifth_icon {
    background-position: -165px 0px;
}

#scnd_design_sixth_icon {
    background-position: 0px 0px;
}

#ar_scnd_top_container {
    /*height: 390px;*/
}

#top_top_left_side {
    background: url("/imagez/pictures/top_top_left_side.gif") no-repeat;
    background-position: 6px 0px;
    /*width: 377px;*/
    height: 390px;
    /*float: left;*/
    line-height: 15.4px;
}

#top_top_left_side #left_toolbox {
    border:0px solid #000000;
    padding-right: 15px;
    padding-left: 15px;
    display: table;
    margin: 0 auto 14px;
}

#top_top_left_side #left_toolbox_inner{
    display:table;
    height:106px;
    width:100%;
}

#top_top_right_side {
    /*width: 620px;*/
    /*float: right;*/
    height: inherit;
}

#ar_scnd_maincolmun,
#top_top_right_side {
    overflow: hidden;
}

.tabSectionBlocksHeight {
    visibility: hidden;
    min-height: 208px;
    max-height: 400px;
}

.a_small_title {
    font-size: 7pt;
}

#english_button_left {
    position: absolute;
    top: 7px;
    left: 16px;
    width: 70px;
    height: inherit;
    margin-left: 5px;
    background: url("/imagez/english_button-2.jpg");
}

.navigation-btn{
	float: left;
	background: #fff;
	border-radius: 7px;
	display: inline-block;
    padding: 2px 5px;
    margin: 10px 4px;
    color: #f58220;
}

.navigation-btn:hover{
	text-decoration: none;
	color: #444;
}

.newLinkClass {
    color: red;
    font-size: 7pt;
    letter-spacing: 2px;
}

#footerMarginHolder {
    background: #efefef;
    margin-top: 0;
}

#a_stockPricesTable tr {
    background-color: #e0e0e0;
    background-color: none;
    background-color: transparent;
}

#a_stockPricesTable tr td {
    padding: 4px 0;
}

a.newsListAjaxPageLinks {
    color: #000;
}

.pagination.news {
    direction: rtl;
    text-align: center;
}

.pagination.news a {
    padding: 5px;
    border: 1px solid #ffc41e;
    margin: 2px;
}

.pagination.news .active {
    padding: 5px;
    border: 1px solid #f58220;
    margin: 1px;
    font-weight: bold;
    background-color: #FFCE44;
}

/*#a_stockprices_sidebar_innerdiv, commented by rivaldo*/
#a_branches_info_sidebar_innerdiv,
#a_ebanking_innerdiv,
#a_poll_sidebar_innerdiv {
    display: none;
}

.error-500 {
    margin: auto;
    padding-right: 15px;
}

.error-500 ul, .error-500 li {
    margin: auto;
    padding-right: 5px;
}

* * * * * * * * * * * * * * * * *
.odd {
    font-family: tahoma;
    font-size: 11px;
    color: #333333;
    text-decoration: none;
    background-color: #EAEAEA;
}

.header {
    font-family: tahoma;
    text-decoration: none;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    background-image: url(/imagez/pictures/personel/up_menu_back.gif);
}

.even {
    font-family: tahoma;
    font-size: 11px;
    color: #333333;
    text-decoration: none;
    background-color: #FEDD7E;
}

.generalTable table {
    background-image: url(/imagez/pictures/personel/background.gif);
    background-repeat: repeat-y;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 175%;
}

.header {
    background-image: url("/imagez/pictures/personel/up_menu_back.gif");
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
}

.generalTable th {
    background-image: url("/imagez/pictures/personel/up_menu_back.gif");
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
}

.generalTable tr.evenRow {
    font-family: tahoma;
    font-size: 11px;
    color: #000000;
    background-color: #DDDDDD;
    line-height: 175%;
}

.generalTable tr.oddRow {
    background-color: #FFFFFF;
    color: #000000;
    font-family: tahoma;
    font-size: 11px;
    line-height: 175%;
}

.fantech {
    background-color: #F0F0F0;
    color: #373737;
    display: block;
    height: 21px;
    overflow: hidden;
    text-decoration: none;
    width: 577px;
}

.fantech:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}

.fantech a {
    text-decoration: none;
    color: #373737;
    vertical-align: middle;
}

#yekTamas {
    position: absolute;
    top: 11px;
    right: 20px;
    height:69px;
    border-radius :5px;
    border :1px solid #ccc;
}

#yekTamas img{
	padding:10px;
}
#banker {
    width: 71px;
    text-align: center;
    position: absolute;
    top: 11px;
    left: 14px;
}

.map-system {
    position: relative;
}

.map-system a {
    color: #dc143c;
}

.map-marker {
    width: 32px;
    height: 27px;
    background: url(/imagez/google_map_marker.png) no-repeat;
    position: absolute;
    left: 0;
    top: -14px;
}

.text-justify{
    text-align: justify;
}

.fanapCaptcha{
    width:200px;
    height:50px;
}

.bpi-carousel .carousel-control{
    top:50% !important;
    opacity: .5;
}

.bpi-carousel .carousel-control.left{
    background: url('/img/slider/arrow-right.png') center center;
    border: none;
    overflow: hidden;
    text-indent: 1000px;
    width: 24px;
    height: 24px;
}

.bpi-carousel .carousel-control.left:hover{
    background: url('/img/slider/arrow-right-hover.png') center center;
    border: none;
    overflow: hidden;
    text-indent: 1000px;
    width: 24px;
    height: 24px;
}

.bpi-carousel .carousel-control.right{
    background: url('/img/slider/arrow-left.png') center center;
    border: none;
    overflow: hidden;
    text-indent: 1000px;
    width: 24px;
    height: 24px;
}

.bpi-carousel .carousel-control.right:hover{
    background: url('/img/slider/arrow-left-hover.png') center center;
    border: none;
    overflow: hidden;
    text-indent: 1000px;
    width: 24px;
    height: 24px;
}

#a_news_body_container_div table.mceItemTable{
    width: 100%;
}

.no-gutter-right{
    margin-right: 0 !important;
}

.msy-container{
    position: relative;
}


.dropdown-backdrop{
    display: none !important;
    visibility: hidden !important;
}


@media (max-width: 980px) {
    .HomepagesTabsHeight .HomepagesTabsHeight {
        padding: 0 10px;
    } 
    #top_top_right_side_2{
        top: 140px;
    } 
    #top_top_right_side_2 li{
        line-height: 20px;
    }
    #top_top_right_side_2 .tabSectionBlocksHeight #tabsContents{
        height: 260px;
    }   
}

@media (max-width: 835px) {
    .HomepagesTabsHeight .HomepagesTabsHeight {
        padding: 0 6px;
    } 
    #top_top_right_side_2 .tabSectionBlocksHeight #tabsContents{
        height: 300px;
    }
}

@media (max-width: 767px) {
    #top_top_left_side, #top_top_right_side_2 #left_under_top_main{
        max-width: 600px;
        margin: 10px auto 0;
    }
    #accountNumberToShebaInputsGroup{
        padding: 5px 5px 0;
        min-width: 320px;
    }
    #shebaInput1{
        width: 50px;
    }
    #shebaInput2{
        width: 70px;
    }
    #shebaInput3{
        width: 50px;
    }
    #shebaInput4{
        width: 50px;
    }
    .shebaInput{
        padding: 2px 3px;
    }
}

.reverse-float.row-fluid [class*="span"]:first-child{
    margin-left: 0;
}
.reverse-float.row-fluid [class*="span"]{
    float: left;
    margin-right: 0;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
}
#bpiSlider .carousel-indicators{
    top: 5px;
    right: 0;
}
.reveal-modal{
    padding: 14px;
}
.reveal-modal > h1{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #EAEAEA;
    padding: 0 10px;
}
@media (max-width: 800px) {
    .reveal-modal.xlarge{
        width: 700px;
        margin-left: -365px;
    }
}
@media (max-width: 700px) {
    .reveal-modal.xlarge{
        width: 500px;
        margin-left: -265px;
    }
}
@media (max-width: 500px) {
    .reveal-modal.xlarge{
        width: 90%;
        margin-left: -48%;
    }
}
.reveal-modal .modalbody{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #E9E9E9;
    padding: 10px; 
}
.reveal-modal .close-reveal-modal:hover{
    text-decoration: none;
}
#a_news_footer_options_container_div{
    display:block;
    height:30px;
    color:#a88e75;
    text-align:right
}
    
/* ofb */

#ofbpage{
    background: url(/img/ofb/sideLogo.jpg) no-repeat right top #f1f1f1;
    min-height: 360px;
}

#ofbpage .calc{
    margin-right:174px;
    background: #FFF;
    padding-top: 32px;    
}

#ofbpage .calc > img {
    width:100%;
}

#ofbpage .calc2{
    background:#F3F3F3 url(/img/ofb/bg.gif) center top repeat-x;
    padding:5px 5px 6px;
}

#ofbpage .p-highlight{
    background: orange;
    color: #222;
}

#ofbpage .bntBox{
    border:1px #dedede solid;
    margin:8px 5px 5px 0;
    background-color:#fafafa;
    max-height: 160px;
}
#ofbpage p a,
#ofbpage p a img {
    display: block !important;
}
#ofbpage .bpi-btn, a.btn1{
    border:0px;
    width:65px;
    height:20px;
    cursor:pointer;
    
}
#ofbpage .pbi-btn2{
    border:0px;
    width:120px;
    height:20px;
    cursor:pointer;       
}
#ofbpage p{
    overflow: auto;
    background: #FEFEFE;
    padding: 4px;    
}
#ofbpage p div{
    overflow: auto;
    background: none;
    padding: 0;
    margin: 0; 
}
#ofbpage .pull-left:after,
#ofbpage .pull-right:after{
    display: table;
    clear: both;
}


/* ofb : END; */

/* @media Queries */

@media (max-width: 767px) {
    #ofbpage{
        background: none;
    }
    #ofbpage .calc{
        margin-right: 0;
        padding-top: 0;
    }
    #ofbpage img{
        max-width: 100% !important;
    }
}

@media (max-width: 500px) {
    #a_news_body_container_div table img{
        max-width: 390px;
    }
    #a_whole_page_container_div #a_news_footer_options_container_div,
    #a_whole_page_container_div #a_news_footer_options_container_div > div{
        width: 63px !important;
    }
    #a_news_body_container_div ul,
    #a_news_body_container_div ol,
    #a_news_body_container_div table table {
        max-width: 370px;
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media (max-width: 400px) {
    #a_news_body_container_div table img{
        max-width: 280px;
    }
    #a_news_body_container_div ul,
    #a_news_body_container_div ol,
    #a_news_body_container_div table table {
        max-width: 275px;
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media (max-width: 320px) {
    #a_news_body_container_div table img{
        max-width: 250px;
    }
    #a_news_body_container_div ul,
    #a_news_body_container_div ol{
        max-width: 260px;
        padding: 0 !important;
        margin: 0 !important;
    }
    #a_news_body_container_div table table{
        max-width: 250px;
        padding: 0 !important;
        margin: 0 !important;        
    }
}


.sidebar-tabpanel{
    border: 1px solid #DDD;
    margin: 10px 0 5px;
}
.sidebar-tabpanel.first-tab{
    margin-top: 5px;
}
.sidebar-tabpanel > a > img{
    margin: 1px 0;
}
.sidebar-tabcontent{
    padding: 5px;
}
.sidebar-tabcontent ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}
.sidebar-tabcontent table tbody tr td{
    text-align: left;
}
.sidebar-tabcontent table tbody tr td:first-child{
    text-align: right;
}

@media (min-width: 980px) and  (max-width: 1200px){
    .reverse-float.row-fluid [class*="span"]{
        margin-left: 1.25%;
        *margin-left: 1.25%;
    }   
}
@media (min-width: 768px) and (max-width: 979px) {
    .reverse-float.row-fluid [class*="span"]{
        margin-left: 1.25%;
        *margin-left: 1.25%;
    }   
    .footer_row .footer-links{
        float: none;
        padding: 5px 0;
    }

    .footer_row .footer-copyright{
        float: none;
        padding: 5px 0;
    }     
}
@media (max-width: 767px) {
    .sidebar-tabpanel{
        margin: 10px auto 5px;
        width: 211px;
    }
    #quick_access_links > a{
        margin: 5px auto;
        display: block;
    }
    .footer_row .footer-links{
        float: none;
    }

    .footer_row .footer-copyright{
        float: none;
    }    
}

table[align="center"]{
    margin-left: auto;
    margin-right: auto;
}


#ui-datepicker-div{
    left: auto;
}

@media (min-width: 767px) {
    #top_top_right_side_2{
        position: absolute;
        right: 0;
        top: 160px;
    }
    .HomepagesTabsHeight .HomepagesTabsHeight {
        line-height: 25px;
        white-space: nowrap;
        padding: 0 20px 0 19px;
    }
    .HomepagesTabsHeight .HomepagesTabsHeight.HomepageTabsTitleSelected{ 
        width: auto; 
    }
    #mediaLinksTabSelected{
        width: auto; 
    } 
    #top_top_right_side_2 li{
        line-height: 25px; 
    }   
    
    #branchTabContent li{
        line-height: 21px; 
    }   
    #top_top_right_side_2 .tabSectionBlocksHeight #tabsContents{  
        height: 200px;  
    }
}

@media (max-width: 767px) {
    #kwick_container_ulHolderWrap{
        padding: 7px 120px 0 80px;
    }    
    #yekTamas{
        right: 5px;
    }
    #banker{
        left: 5px;
    }
}

@media (max-width: 479px) {

}

.socialFooterLink{
	padding: 0 1px;
}

@media (max-width: 979px) {
    .socialFooterWrap{
        display:block;
        text-align:center;
        padding-top:5px
    }
}
#phoneRow{
    text-align: left;
    padding-left: 10px;
}