@media (min-width: 1200px) {
  /* line 6, ../sass/global.scss */
  .container-fluid {
    width: 1000px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 12, ../sass/global.scss */
  .container-fluid {
    width: 940px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 18, ../sass/global.scss */
  .container-fluid {
    width: auto;
  }
}
@media (max-width: 767px) {
  /* line 24, ../sass/global.scss */
  .container-fluid {
    width: auto;
  }
}
@media (max-width: 767px) {
  /* line 30, ../sass/global.scss */
  #wrapper {
    margin: 0 -20px;
  }
}
/***
    open submenu on click
***/
/* line 4, ../sass/vendor-overide/_bootstrap-navbar.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: none;
}

/* line 8, ../sass/vendor-overide/_bootstrap-navbar.scss */
.dropdown-submenu.dropdown-submenu-open > .dropdown-menu {
  display: block;
}

/***
    override bootstrap nav bar
***/
/* line 17, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .nav-collapse .dropdown-menu a:focus,
.navbar .nav-collapse .dropdown-menu a:hover {
  color: #786e60;
}
/* line 22, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .nav-collapse li:focus.dropdown-submenu > a,
.navbar .nav-collapse li:hover.dropdown-submenu > a {
  color: #786e60;
}

/* line 28, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffc41e;
  background-image: -moz-linear-gradient(top, #ffd151, #ffc41e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd151), to(#ffc41e));
  background-image: -webkit-linear-gradient(top, #ffd151, #ffc41e);
  background-image: -o-linear-gradient(top, #ffd151, #ffc41e);
  background-image: linear-gradient(to bottom, #ffd151, #ffc41e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffd151', endColorstr='#ffffc41e', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/* line 51, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .nav > .active a,
.navbar .nav > .active a:hover,
.navbar .nav > .active a:focus,
.navbar .nav > li a:hover,
.navbar .nav > li a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #ffecb7;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

/* line 66, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .nav > li > .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #fff9ea;
  position: absolute;
  top: -6px;
  right: 10px;
}

/* line 78, ../sass/vendor-overide/_bootstrap-navbar.scss */
.nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after {
  display: none;
}

/*********************************************/
/* line 83, ../sass/vendor-overide/_bootstrap-navbar.scss */
.dropdown-menu {
  background-color: #fff9ea;
}

/* line 88, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #555555;
  text-decoration: none;
  background-color: #ffecb7;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

/* line 100, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .nav li.dropdown-submenu > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

/* line 110, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .nav .dropdown-menu > li.dropdown-submenu > a:hover,
.navbar .nav .dropdown-menu > li > a:hover {
  color: #555555;
  text-decoration: none;
  background-color: #ffecb7;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  background-image: none;
}

/* line 122, ../sass/vendor-overide/_bootstrap-navbar.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-right-color: #555555;
  margin-top: 5px;
  margin-left: -10px;
}

/* line 136, ../sass/vendor-overide/_bootstrap-navbar.scss */
.dropdown-submenu:hover > a:after {
  border-right-color: #555555;
}

/* line 140, ../sass/vendor-overide/_bootstrap-navbar.scss */
.in.collapse .dropdown-menu:after {
  display: none;
}

/* line 144, ../sass/vendor-overide/_bootstrap-navbar.scss */
.in.collapse {
  padding-top: 5px;
}

/* line 148, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .btn-navbar {
  float: left;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 50px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffae1a;
  background-image: -moz-linear-gradient(top, #ffae1a, orange);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffae1a), to(orange));
  background-image: -webkit-linear-gradient(top, #ffae1a, orange);
  background-image: -o-linear-gradient(top, #ffae1a, orange);
  background-image: linear-gradient(to bottom, #ffae1a, #ffa500);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
/* line 171, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .btn-navbar:hover {
  background-color: orange;
}

/* line 176, ../sass/vendor-overide/_bootstrap-navbar.scss */
.navbar .brand {
  color: orange;
  text-shadow: 0 1px 0 #cc8400;
}

/* line 181, ../sass/vendor-overide/_bootstrap-navbar.scss */
#navigation .navbar {
  margin-bottom: 0;
}

/* line 185, ../sass/vendor-overide/_bootstrap-navbar.scss */
#navigation .btn.btn-navbar {
  height: auto;
  width: auto;
}

@media (min-width: 1200px) {
  /* line 2, ../sass/modules/_main-header.scss */
  #header {
    height: 120px;
  }
}
/* line 7, ../sass/modules/_main-header.scss */
.headerWrap {
  margin-right: -20px;
  margin-left: -20px;
}

@media (max-width: 767px) {
  /* line 13, ../sass/modules/_main-header.scss */
  .headerWrap {
    margin-right: 0px;
    margin-left: 0px;
  }
}
/* line 19, ../sass/modules/_main-header.scss */
.header--searchForm {
  float: right;
  width: 40%;
}

/* line 24, ../sass/modules/_main-header.scss */
.header--todayEvent {
  text-align: left;
  color: #606060;
  padding-left: 5px;
  float: left;
  width: 40%;
}

/* line 32, ../sass/modules/_main-header.scss */
.header--todayEvent img {
  vertical-align: baseline;
}

/* line 36, ../sass/modules/_main-header.scss */
#header .header--searchField {
  width: 135px;
  font-family: tahoma;
  font-size: 10px;
  height: 18px;
  border: 1px solid #DDDDDD;
  color: #000000;
  font-size: 11px;
  padding: 0;
  margin-bottom: 0;
}

/* line 52, ../sass/modules/_main-header.scss */
.header--link {
  display: block;
  width: 100%;
  height: 115px;
  cursor: pointer;
}

@media (max-width: 979px) and (min-width: 768px) {
  /* line 39, ../sass/global.scss */
  #top_top_right_side,
  #top_top_left_side {
    /*
    float: none;
    display: block;
    width: 100%;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    */
  }
}
/* line 53, ../sass/global.scss */
#top_top_left_side {
  background: #fff;
  border: #ccc solid 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset rgba(226, 226, 226, 0.67) 0px 13px 25px 3px, #eee 1px 1px 1px 1px;
  -webkit-box-shadow: inset rgba(226, 226, 226, 0.67) 0px 13px 25px 3px, #eee 1px 1px 1px 1px;
  box-shadow: inset rgba(226, 226, 226, 0.67) 0px 13px 25px 3px, #eee 1px 1px 1px 1px;
  height: auto;
}

/* line 62, ../sass/global.scss */
.blocks_title_holder {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 100px;
}

/* line 69, ../sass/global.scss */
.bottom_block_sepordeh .blocks_title_holder {
  background: url(../imagez/pictures/left_under_middle_2.jpg) -824px -17px no-repeat;
}

/* line 73, ../sass/global.scss */
.bottom_block_tashilat .blocks_title_holder {
  background: url(../imagez/pictures/left_under_middle_2.jpg) -575px -17px no-repeat;
}

/* line 77, ../sass/global.scss */
.bottom_block_quick_access .blocks_title_holder {
  background: url(../imagez/pictures/left_under_middle_2.jpg) -325px -17px no-repeat;
}

/* line 81, ../sass/global.scss */
.bottom_block_darkhast .blocks_title_holder {
  background: url(../imagez/pictures/left_under_middle_2.jpg) -70px -17px no-repeat;
  width: 115px;
}

@media (max-width: 767px) {
  /* line 87, ../sass/global.scss */
  .bottom_blocks ul {
    display: table;
    margin: 0 30% 10px auto;
  }

  /* line 91, ../sass/global.scss */
  .bottom_blocks {
    margin-bottom: 20px;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 90% !important;
    min-height: initial !important;
  }
}
@media (min-width: 980px) {
  /* line 102, ../sass/global.scss */
  #kwick_container_ulHolder {
    overflow-x: hidden;
    height: 90px;
  }

  /* line 106, ../sass/global.scss */
  #left_bottom {
    height: 97px;
  }
}
@media (max-width: 850px) {
  /* line 112, ../sass/global.scss */

  /* line 115, ../sass/global.scss */
  .footer_new .footer-copyright {
    float: none;
    display: block;
    width: 100%;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
  }
}

/* line 145, ../sass/global.scss */
.home-footer-wrap {
  margin: 0 -20px;
}

@media (max-width: 767px) {
  /* line 150, ../sass/global.scss */
  .footer_new {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 154, ../sass/global.scss */
  .home-footer-wrap {
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 160, ../sass/global.scss */
#top_top_right_side .contentHoldersInner {
  background: #e6e6e6;
  text-align: center;
  border: 1px solid #CCCCCC;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 170, ../sass/global.scss */
.slideShowImages {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

@media (max-width: 670px) {
  /* line 175, ../sass/global.scss */
  #left_under_top_main .contentHolders {
    padding: 0 10px;
  }
}
/* line 180, ../sass/global.scss */
.a_price_status_icon_up img,
.a_price_status_icon_down img {
  width: 14px;
  height: 14px;
}

@media (max-width: 979px) and (min-width: 768px) {
  /* line 187, ../sass/global.scss */
  #hometabcontent1 {
    height: 312px;
  }

  /* line 190, ../sass/global.scss */
  #left_under_top_main #tabsContents {
    height: 312px;
  }

  /* line 193, ../sass/global.scss */
  #forexTabContent > div {
    height: 312px;
  }
}
@media (max-width: 607px) {
  /* line 199, ../sass/global.scss */
  #hometabcontent1 {
    height: 312px;
  }
}
@media (max-width: 767px) {
  /* line 205, ../sass/global.scss */
  #left_under_top_main {
    padding: 0 15px 15px;
  }
}
/* line 210, ../sass/global.scss */
.bpi-carousel-main {
  margin-bottom: 0;
}
/* line 213, ../sass/global.scss */
.bpi-carousel-main .item a {
  display: block;
  height: 100%;
}
/* line 217, ../sass/global.scss */
.bpi-carousel-main .item img {
  width: 100%;
  background-color: transparent;
  max-height: 165px;
}

/* line 226, ../sass/global.scss */
.bpi-carousel .carousel-indicators {
  left: auto;
  right: 15px;
}
/* line 230, ../sass/global.scss */
.bpi-carousel .carousel-control {
  opacity: 0.3;
  top: 45%;
  -webkit-transition: 0.6s ease-in-out opacity;
  -moz-transition: 0.6s ease-in-out opacity;
  -o-transition: 0.6s ease-in-out opacity;
  transition: 0.6s ease-in-out opacity;
}
/* line 237, ../sass/global.scss */
.bpi-carousel .carousel-control:hover, .bpi-carousel .carousel-control:focus {
  opacity: 0.9;
  top: 45%;
}

/* line 245, ../sass/global.scss */
#bpiSlider {
  display: none;
}
