#kwick {
	margin:0 auto; 
	padding: 3px 0px 0px; 
	list-style:none; 
	width:820px; 
	display:block; 
	overflow:hidden;}
#kwick li {
	float:left; 
	display:inline; 
	overflow:hidden;
	width:1px;
}