.ddMenu *,.ddMenu * *, .ddMenu * * *, .menu li a{
	font-size:8pt;
}
a, *{outline: 0 !important;}
a span { cursor:pointer; }
a span b, button span b { font-weight:normal; display:block; }


a.menuBtn:link,
a.menuBtn:visited {float: right;
	width: 216px; 
	background: url(../imagez/pictures/bg_date_picker_select_rt.png) left top no-repeat;
	text-decoration: none;
	color: #444 !important;
	outline: 0 !important;
	margin-right: 3px;
}
a.menuBtn:hover,
a.menuBtn:active { }

a.menuBtn:link span,
a.menuBtn:visited span { 
	display: block;
	margin-left: 20px;
	height: 20px;
	line-height: 2em;
	padding-right: 10px !important;
	background: url(../imagez/pictures/bg_date_picker_select.png) right top no-repeat;
	
}
	
.positionHelper { position:absolute; cursor:pointer; }
.menuContainer {border: 1px solid #ddd;}
.menuContainer p.menuLoading { color:#444;  padding:.5em; }
.hiddenContent { position:absolute; top:0; right:-9999px; width:1px; height:1px; overflow:hidden; }

.menu, .menu ul { background:url(../imagez/pictures/mmenu_bg.jpg) bottom no-repeat #f9f9f9 ; list-style-type:none; visibility:hidden;  overflow: hidden; position:absolute; top:0; right:0; padding: 0; margin:0; color:#666;}
.menu li { clear:both; float:right; width:100% !important;  }
.menu li.hover {background: #eee;}

.menu p,
.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:active { float:right; width:17.2em; padding:.3em; padding-right:.5em; margin:0; color:#666; text-decoration:none;}

.menu a.singleLink:link,
.menu a.singleLink:visited,
.menu a.singleLink:hover,
.menu a.singleLink:active { float:none; display:block; width:206px; }

.menu a:hover,
.menu a:active,
.menu a.singleLink:hover,
.menu a.singleLink:active {color:#fff; background:#4e92c8;}

.scrollNeeded a:link,
.scrollNeeded a:visited,
.scrollNeeded a:hover,
.scrollNeeded a:active { width:14.9em; }

.menu a.menuIndicator:link,
.menu a.menuIndicator:visited { background: url(../imagez/pictures/icon_arrow_right.gif) no-repeat 0 center; }
.menu a.menuIndicator:hover,
.menu a.menuIndicator:active {color:#fff; background: url(../imagez/pictures/icon_arrow_right_hover.gif) 0 center no-repeat #4e92c8; }

/*next level links*/
.menu a.nextLevel:link,
.scrollNeeded a.nextLevel:link,
.menu a.nextLevel:visited,
.scrollNeeded a.nextLevel:visited,
.menu a.nextLevel:hover,
.scrollNeeded a.nextLevel:hover,
.menu a.nextLevel:active,
.scrollNeeded a.nextLevel:active { float:left; width:1em; overflow:hidden; margin: 0; padding-right: .3em; background:url(../imagez/pictures/icon_arrow_right.gif) no-repeat 70% 50%; text-indent:-30em; }
.menu a.nextLevel:hover,
.menu a.nextLevel:active { background: #4e92c8 url(../imagez/pictures/icon_arrow_right_hover.gif) no-repeat 70% 50%; }




/*BREADCRUMBS*/
.ddBreadcrumb {background:#f9f9f9; padding: .5em 0; margin: 0; border-bottom: 1px solid #ccc;}
.ddBreadcrumb li { float: right; list-style: none; margin: 0;padding:.1em 0; padding-right:.5em;}
/* .ddBreadcrumb li.currentCrumb {clear: right; float: none; margin: .1em 0 0 0;} */ 
.ddBreadcrumb a, .ddBreadcrumb span { white-space:nowrap; }
.ddBreadcrumb a:link,
.ddBreadcrumb a:visited { color:#1266a9; background:url(../imagez/pictures/icon_breadcrumb.gif) no-repeat left;  padding:0 1px 0px 12px;   /* margin-left:-20px; */ }
.ddBreadcrumb a:hover,
.ddBreadcrumb a:active { color:#4e92c8; }
.ddBreadcrumb .currentCrumb a:link,
.ddBreadcrumb .currentCrumb a:visited,
.ddBreadcrumb .currentCrumb a:hover,
.ddBreadcrumb .currentCrumb a:active { display:block; color:#333; background-image:none;  font-family:Times New Roman; font-family:Tahoma;  padding:.1em 0 0; margin-left:0; text-decoration:none; }
.ddBreadcrumb .currentCrumb a:hover,
.ddBreadcrumb .currentCrumb a:active { text-decoration:underline; }



	
/* ----- clear fix for floats ----- */
/* these styles instruct non-IE browsers to render container elements so that they fully enclose floats */		
/* without this class applied, a float might hang over the bottom border of it's container */
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }		

/* hides clearfix from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* end hide from IE-mac */