ul.sidebarQuickAcessLinks {
	width: 227px; /*--Adjust width according to your scenario--*/
	list-style: none;
	margin: 0; padding: 0;
	margin:5px;
}
ul.sidebarQuickAcessLinks li {
	float: left;
	margin: 4px 0px; padding: 0;
	text-align: center;
	border: 1px solid #ccc;
	-moz-border-radius: 3px; /*--CSS3 Rounded Corners--*/
	-khtml-border-radius: 3px; /*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 3px; /*--CSS3 Rounded Corners--*/
	display: inline; /*--Gimp Fix aka IE6 Fix - Fixes double margin bug--*/
}
ul.sidebarQuickAcessLinks li a.thumb {
	width: 216px; /*--Width of image--*/
	height: 50px; /*--Height of image--*/
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
ul.sidebarQuickAcessLinks li span,.sidebarQuickAcessLinksSpan,span.sidebarQuickAcessLinksSpan { 
	/*--Used to crop image--*/
	width: 216px;
	height: 50px;
	overflow: hidden;
	display: block;
}
ul.sidebarQuickAcessLinks li a.thumb:hover {
	background: #333; /*--Hover effect for browser with js turned off--*/
}
.spanH7titleHolder {
	display:block;
	background-color: #f0f0f0;
	font-size: 8pt;
	font-weight: normal;
	margin: 0; 
	padding:2px 8px 3px 7px;
	text-align: left;
	border-top: 1px solid #fff; /*--Subtle bevel effect--*/
}
ul.sidebarQuickAcessLinks li a {
	text-decoration: none; 
	color: #777; 
	display: block;
}