#a_news_body_container_div table{
	/*
	width: 92%;
	margin:5px auto;
	*/
}
#a_news_body_container_div table ul, menu, dir {
	padding-right:25px;
	-moz-padding-start:25px;
	display:block;
	margin:1em 0;
}
#a_news_body_container_div table li {
	background:url("../img/li.gif") no-repeat scroll right top #FFFFFF;
	direction:rtl;
	list-style:none outside none;
	padding-right:18px;
}
#a_news_body_container_div table h3{
	font-family:times new roman;
	font-size:12pt;
	font-weight:bold;
}