@charset "utf-8";
/* Header Layout */

#main{display:block;width: 753px;}
#r_header{display:block; text-align:center;  height:25px; margin-top:8px;}
#buttonHolder{display:inline; text-align:center; padding:3px; height:25px;}
#maintableNavbar{display:block;height:45px;overflow:hidden;}
/*#msgRightNavbarHolder{float:right;background:url('/image/system/box/msgRightNavbarHolder.jpg') no-repeat; width:34px; height:32px;}
#msgMiddleNavbarHolder{background:url('/image/system/box/msgMiddleNavbarHolder.jpg') repeat-x; width:100%;height:32px;}
#msgNavbar{background:url('/image/system/box/msgMiddleNavbarHolder.jpg') repeat-x;border:1px  dashed #999; width:80%; margin:20px 100px 0px auto;}
*/
/*#infoContainer #msgNavbar{
	background:url("/image/system/box/msgMiddleNavbarHolder_info.jpg") repeat-x scroll 0 0 transparent;
	border:1px dashed #999999;
	margin:20px 100px 0 auto;
	width:80%;
}
#infoContainer #msgRightNavbarHolder {
	background:url("/image/system/box/msgRightNavbarHolder_info.jpg") no-repeat scroll 0 0 transparent;
	float:right;
	height:32px;
	width:34px;
}
#infoContainer #msgMiddleNavbarHolder  {
	background:url("/image/system/box/msgMiddleNavbarHolder_info.jpg") repeat-x scroll 0 0 transparent;
	height:32px;
	width:100%;
}
#errorContainer #msgNavbar{
	background:url("/image/system/box/msgMiddleNavbarHolder_error.jpg") repeat-x scroll 0 0 transparent;
	border:1px dashed #999999;
	margin:20px 100px 0 auto;
	width:80%;
}
#errorContainer #msgRightNavbarHolder {
	background:url("/image/system/box/msgRightNavbarHolder_error.jpg") no-repeat scroll 0 0 transparent;
	float:right;
	height:32px;
	width:34px;
}
#errorContainer #msgMiddleNavbarHolder  {
	background:url("/image/system/box/msgMiddleNavbarHolder_error.jpg") repeat-x scroll 0 0 transparent;
	height:32px;
	width:100%;
}
#warningContainer #msgNavbar{
	background:url("/image/system/box/msgMiddleNavbarHolder_warning.jpg") repeat-x scroll 0 0 transparent;
	border:1px dashed #999999;
	margin:20px 100px 0 auto;
	width:80%;
}
#warningContainer #msgRightNavbarHolder {
	background:url("/image/system/box/msgRightNavbarHolder_warning.jpg") no-repeat scroll 0 0 transparent;
	float:right;
	height:32px;
	width:34px;
}
#warningContainer #msgMiddleNavbarHolder  {
	background:url("/image/system/box/msgMiddleNavbarHolder_warning.jpg") repeat-x scroll 0 0 transparent;
	height:32px;
	width:100%;
}*/
#titleHolder{display:block;}
#topRightTitleHolder{float:right; background:url('/image/system/box/navbarHolderTopRight.jpg') no-repeat; width:26px; height:45px;}
#topMiddleTitleHolder{float:right; height:45px; padding-top: 12px;}
#topLeftTitleHolder{float:right; width:7px; height:45px;}
#subTopMiddleTitleHolder{height:30px;overflow:hidden;padding: 9px 7px 0px 4px;}

/* Wizard Started Here */
.buttonRight{float:right; width:6px; height:22px; background:url('/image/system/wizard/p-right.jpg') no-repeat; margin-right:5px;}
.buttonCenter{float:right; height:22px; background:url('/image/system/wizard/p-center.jpg') repeat-x; padding:0px 0px 0px 3px;}
.buttonLeft{float:right; width:6px; height:22px; background:url('/image/system/wizard/p-left.jpg') no-repeat;}
.mainCenterButton{display:inline; color:#fff; margin:0px 13px 0px 13px;}
#buttonRightArray  div.buttonRight{float:right; width:23px; height:22px; background:url('/image/system/wizard/pright.jpg') no-repeat; margin-right:5px;}
#buttonLeftArray div.buttonLeft{background:url('/image/system/wizard/pleft.jpg'); width:23px; height:22px;}
#buttonLeftArray div.buttonRight{width:6px; height:22px; background:url('/image/system/wizard/p-right.jpg') no-repeat;}
.buttonCenter .labelHolder{border: medium none; margin: 0px; height: 20px;padding-right:23px; background: url('/image/system/wizard/01.gif') no-repeat 100% 0% transparent; }

div.mainCenterButton.active .buttonLeft{background: url('/image/system/wizard/p-left-ok.jpg');}
div.mainCenterButton.active .buttonCenter{background: url('/image/system/wizard/p-center-ok.jpg');}
div.mainCenterButton.active .buttonRight{background: url('/image/system/wizard/p-right-ok.jpg');}