@charset "UTF-8";

/* //////////////////////////////////////////////////
Cybozu, Inc. WEB SITE 2016
COPYRIGHT © Cybozu, Inc.
ALL RIGHTS RESERVED.
////////////////////////////////////////////////// */

/* --------------------------------------------------
スマートフォン向け（画面767px以下）
-------------------------------------------------- */

/* --------------------------------------------------
security_top-title
-------------------------------------------------- */
.security_top-title {
  margin:20px auto 0 auto;
}
.security_top-title img {
  width:100%;
  height:auto;
}
.security_cagery-title {
  margin:30px auto 0 auto;
}
.security_cagery-title.security {
  color:#5ec4dd;
}
.security_cagery-title.operation {
  color:#8fc31f;
}
.security_cagery-title h3 {
  border:none;
  box-shadow:none;
  padding:5px 0 0 10px;
  margin:0;
  font-size:18px;
}
.security_cagery-title h3::before {
  display:none;
}
.security_cagery-title.security h3 {
  background:url(../../images/security/security-title-bg-cloud-security.svg) no-repeat right 1px !important;
  background-size:95px 40px !important;
  width:100%;
  height:40px;
  text-align:left;
  border-bottom:5px solid #5ec4dd;
}
.security_cagery-title.operation h3 {
  background:url(../../images/security/security-title-bg-cloud-operation.svg) no-repeat right 1px !important;
  background-size:95px 40px !important;
  width:100%;
  height:40px;
  text-align:left;
  border-bottom:5px solid #8fc31f;
}
.security_category-lead {
  font-size:14px;
  width:100%;
  padding:10px 0 0 0;
  color:#333;
}

.wrap--security_category {
  position:relative;
}
.list--security_category {
  list-style:none;
}
.list--security_category li {
  position:relative;
  width:100%;
  padding:0;
}
.wrap--security_category.operation .list--security_category li:first-child {
  margin-left:0;
}
.wrap--security_category.security .list--security_category li h4 {
  border:none;
  padding:0;
  box-shadow:none;
}
.wrap--security_category.security .list--security_category li h4 a {
  position:relative;
  display:block;
  width:100%;
  height:50px;
  border:3px solid #5ec4dd;
  border-radius:25px;
  background:#e0f1f4;
  padding:5px;
  line-height:35px;
  color:#333;
  text-decoration:none;
}
.wrap--security_category.security .list--security_category li h4 a::after {
  content:"";
  position:absolute;
  top:50%;
  margin-top:-8px;
  right:16px;
	width: 16px;
	height: 16px;
	border-bottom: 3px solid #5ec4dd;
	border-right: 3px solid #5ec4dd;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.wrap--security_category.security .list--security_category li h4 span {
  border-radius:50%;
  background:#5ec4dd;
  color:#fff;
  width:35px;
  height:35px;
  font-size:18px;
  display:inline-block;
  text-align:center;
  margin:0 8px 0 0;
}
.wrap--security_category.operation .list--security_category li h4 {
  border:none;
  padding:0;
  box-shadow:none;
}
.wrap--security_category.operation .list--security_category li h4 a {
  display:block;
  width:100%;
  height:50px;
  border:3px solid #8fc31f;
  border-radius:25px;
  background:#f6f9e4;
  padding:5px;
  line-height:35px;
  color:#333;
  text-decoration:none;
}
.wrap--security_category.operation .list--security_category li h4 a::after {
  content:"";
  position:absolute;
  top:50%;
  margin-top:-8px;
  right:16px;
	width: 16px;
	height: 16px;
	border-bottom: 3px solid #8fc31f;
	border-right: 3px solid #8fc31f;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.wrap--security_category.operation .list--security_category li h4 span {
  border-radius:50%;
  background:#8fc31f;
  color:#fff;
  width:35px;
  height:35px;
  font-size:18px;
  display:inline-block;
  text-align:center;
  margin:0 8px 0 0;
}
.list--security_category li p {
  font-size:14px;
  margin:5px auto 0 auto;
  padding:0 10px;
}
.security-image {
  display:none;
}
.wrap--security_category.operation .security-image {
  display:none;
}
.wrap--security_category.operation .security-image img {
}


/* --------------------------------------------------
security link caution//top.cssから継承
-------------------------------------------------- */
.wrap--security_category.security .security-link {
  display:none;
}
.wrap--security_category.operation .security-link {
  display:none;
}
.wrap--security_category.security .security-link:hover { background:#6be1f9;}
.wrap--security_category.operation .security-link:hover { background:#acdf3c;}
.wrap--security_category.security .security-link::before { background:#6be1f9;}
.wrap--security_category.operation .security-link::before { background:#a5d43e;}


/* --------------------------------------------------
list--security_content
-------------------------------------------------- */
.list--security_content {
  margin:15px auto 0 auto;
  list-style:none;
}
.list--security_content li {
  width:100%;
  height:auto;
  padding: 0 0 30px 0;
}
.security_content-title {
  font-size:14px;
  background:#5fc3de;
  color:#fff;
  line-height:2.6em;
  padding:10px 15px;
  text-align:center;
}
.security_content-title.raid6 { background:#5fc3de;}
.security_content-title.raid1 { background:#1d2088;}
.security_content-title.east_japan { background:#8fc31f;}
.security_content-title.backup { background:#674498;}
.security_content-title.double {
  line-height:1.3em;
}
.security_content-text {
  margin:10px auto 0 auto;
  font-size:14px;
}
.security_content-text p {
  margin:5px auto 0 auto;
}
.security_content-text p:first-child {
  margin:0 auto;
}
.security_content-text p span.small,
.security_content-text p.small {
  font-size:12px;
}
.security_content-text p .super {
  font-weight:bold;
}
.security_content-image {
  width:100%;
  margin:10px auto 0 auto;
  text-align:center;
}
.security_content-image img {
  width:auto;
  max-width:100%;
  height:auto;
}
.security_content-image.color {
  background:#eeeeea;
}
.list--security_content.img-border .security_content-image {
  border:1px solid #eeeeea;
}


/* --------------------------------------------------
service_item-row 
-------------------------------------------------- */
.service_item-row {
}
.service_item-data {
  position:relative;
  width:100%;
  height:auto;
  margin:15px 0 0 0;
  padding:0 0 80px 0;
}
.service_item-data h3 { margin-top:50px !important; }/*打ち消し*/

.service_item-data-hr {
  display:none;
}
.service_item-image {
  width:100%;
  height:auto;
  margin:0 auto;
  text-align:center;
}
.service_item-image img {
  width:150px;
  height:113px;
}
.service_item-title {
  text-align:center;
  font-size:16px;
  font-weight:bold;
}
.service_item-data .office > .service_item-title span { border-bottom:3px solid #1992d4; }
.service_item-data .garoon > .service_item-title span { border-bottom:3px solid #003399; }
.service_item-data .kintone > .service_item-title span { border-bottom:3px solid #ffbf00; }
.service_item-data .mailwise > .service_item-title span { border-bottom:3px solid #dd2f4d; }
.service_item-data .kunai > .service_item-title span { border-bottom:3px solid #333333; }

.service_item-copy {
  margin:15px auto 0 auto;
  padding:0 20px;
  color:#444;
  font-size:14px;
}

.list--service_item-data {
  list-style:none;
  margin:10px auto 0 auto;
  border-top:1px solid #dadada;
}
.list--service_item-data li {
  font-size:12px;
  border-bottom:1px solid #dadada;
}
.list--service_item-data li .price {
  font-size:14px;
  font-weight:bold;
}
.list--service_item-data li > .title {
  font-size:10px;
  display:inline-block;
  padding:5px 0;
  width:7em;
  text-align:center;
}
.list--service_item-data li > .title.light { background:#e7e7e7;}
.list--service_item-data li > .title.standard { background:#d7d7d7;}
.list--service_item-data li > .title.standard_o { background:#e7e7e7;}
.list--service_item-data li > .title.premium_o { background:#d7d7d7;}

.list--service_item-data li p {
  position:relative;
  display:inline-block;
  padding:5px 0 5px 10px;
}
.list--service_item-data li p::after {
  content:"";
  position:absolute;
  left:0;
  top:50%;
  width:6px;
  height:6px;
  margin-top:-3px;
  border-radius:50%;
  background:#bdbdbd;
}
.list--service_item-data li.nolist p::after {
  display:none;
}
.service_item-data .office > .list--service_item-data li p::after { background:#1992d4;}
.service_item-data .garoon > .list--service_item-data li p::after { background:#003399;}
.service_item-data .kintone > .list--service_item-data li p::after { display:none;}
.service_item-data .mailwise > .list--service_item-data li p::after { background:#dd2f4d;}
.service_item-data .kunai > .list--service_item-data li p::after { background:#333;}

.service_item-link {
  position:absolute;
  width:100%;
  bottom:20px;
  text-align:center;
}
.service_item-link a {
  width:220px;
  margin:0 auto;
}


/* --------------------------------------------------
list--option_service
-------------------------------------------------- */
.list--option_service {
  list-style:none;
  margin:20px auto 0 auto;
}
.list--option_service li {
  width:100%;
  border:1px solid #dadada;
	box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  margin:0 0 20px 0;
}
.list--option_service li a {
  position:relative;
  padding:10px;
  display:block;
  border-right:30px solid #00a6c7;
  color:#333;
  text-decoration:none;
}
.list--option_service li a:hover {
  color:#00a6c7;
}
.list--option_service li a::after {
  content:"";
  position:absolute;
  right:-18px;
  top:50%;
  margin-top:-7px;
  width:14px;
  height:14px;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.option_service-inner {
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-around;
  justify-content:space-around;
}
.option_service-image {
  width:25%;
  height:auto;
  text-align:center;
}
.option_service-image img {
  width:70px;
  height:70px;
  max-width:100%;
}
.option_service-data {
  width:70%;
  padding:5px 0 0 10px;
  height:auto;
}
.option_service-title {
  font-size:14px;
  font-weight:bold;
}
.option_service-copy {
  font-size:13px;
  line-height:1.3em;
}


/* --------------------------------------------------
page_content-service_head
-------------------------------------------------- */
.page_content-service_head {
  position:relative;
}
.service_head-data--wrap {
  position:relative;
  padding:0 0 10px 0;
  border-bottom:5px solid #eaeaea;
}
.service_head-data--wrap::after {
  content:"";
  position:absolute;
  left:0;
  bottom:-5px;
  width:100px;
  height:5px;
  background:#3cbcd6;
}
.service_head-data--wrap .kintone-link {
  display:none;
  position:absolute;
  right:0;
  top:0;
  animation: cloud_move 2s infinite ease; 
  -webkit-animation: cloud_move 2s infinite ease; 
  -moz-animation: cloud_move 2s infinite ease; 
}
.service_head-data--wrap .kintone-link:hover {
  opacity:0.8;
}
@keyframes cloud_move { 
  0%   { transform:translate(0, 0);}
  50%  { transform:translate(0, -15px);}
  100% { transform:translate(0, 0);}
} 
@-webkit-keyframes cloud_move { 
  0%   { -webkit-transform:translate(0, 0);}
  50%  { -webkit-transform:translate(0, -15px);}
  100% { -webkit-transform:translate(0, 0);}
} 
@-moz-keyframes cloud_move { 
  0%   { -moz-transform:translate(0, 0);}
  50%  { -moz-transform:translate(0, -15px);}
  100% { -moz-transform:translate(0, 0);}
} 

.service_head-image {
  width:80px;
  height:80px;
  border-radius:50%;
  background:#00a6c7;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
  margin:0 auto;
}
.service_head-data {
  position:relative;
  padding:10px 0 0 0;
}
.service_head-data.no-page-icon {
  padding:10px 0 0 0;
}
h2.service_head-title {
  font-size:24px;
  line-height:1.2em;
}
h2.service_head-title.only-title {
  padding-top:0.5em;
}
h2.service_head-title.only-title_double {
  line-height:1.2em;
}
.service_head-lead {
  margin:10px auto 0 auto;
  font-size:16px;
}
.service_head-lead span.caution {
  color:#d02525;
}
.service_head-description {
  margin:15px auto 0 auto;
  font-size:14px;
}
.service_head-description span.super {
  font-weight:bold;
}
.service_head-description span.caution {
  font-weight:bold;
  color:#d02525;
}


/* --------------------------------------------------
page_content--row_info
-------------------------------------------------- */
.page_content--row_info {
  margin:60px auto 0 auto;
}
.page_content--row_info h3 {
  font-size:16px;
  border-bottom:3px solid #5ec4dd;
}
.page_content--row_info h3 span {
}
.page_content--row_info h3 span.title_caption {
  display:inline-block;
  font-size:12px;
  border:none;
  padding:0 0 5px 10px;
}
.page_content--row_info h4 {
  position:relative;
  font-size:14px;
  border-left:10px solid #5ec4dd;
  background:#dff5fa;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
  padding:10px;
  margin:20px auto 0 auto;
}
.page_content--row_info h4 .title-cat {
  display:table-cell;
  text-shadow:none;
  font-size:10px;
  line-height:1em;
}

.page_content--row_info h4 .title-cat.blue {
  background:#5ec4dd;
  color:#fff;
  letter-spacing:0.5em;
  text-indent:0.5em;
  padding:5px 0.5em 6px 0.5em;
}
.page_content--row_info h4 .title-cat.gray {
  background:#666666;
  color:#fff;
  padding:5px 1em 6px 1em;
}
.page_content--row_info h5 {
  font-weight:normal;
  font-size:16px;
  border-left:5px solid #5ec4dd;
  border-bottom:1px solid #ededed;
  padding:6px 10px;
  margin:30px auto 0 auto;
}

/* row_info-text */
.row_info-text {
  font-size:14px;
  margin:10px auto 0 auto;
}
.row_info-text span.caution { color:#d02525; }
.row_info-text span.super {
  font-weight:bold;
}
.row_info-text.centered {
  text-align:center;  
}

/* row_info-image_row */
.row_info-image_row {
  margin:20px auto 0 auto;
  text-align:center;
}
.row_info-image_row.lefted {
  text-align:left;
}
.row_info-image_row img {
  width:auto;
  max-width:100%;
  height:auto;
}
.row_info-image_row.bg-gray {
  background:#eeeeee;
  padding:15px 0;
}
.row_info-image_row iframe {
  width:auto;
  max-width:100%;
  height:auto;
}


/* --------------------------------------------------
row_info-topic
-------------------------------------------------- */
.row_info-topic {
  margin:15px auto 0 auto;
}
.topic-data {
  width:100%;
  font-size:14px;
}
.topic-image {
  width:100%;
  border:1px solid #dadada;
  margin:10px auto 0 auto;
 }
.topic-image img {
  width:100%;
  height:auto; 
}


/* --------------------------------------------------
security-four_setting
-------------------------------------------------- */
.security-four_setting {
  background:#eeeeea;
  padding:15px;
}
.four_setting-title {
  font-size:18px;
  padding:0 0 15px 0;
  text-align:center;
}
.four_setting-title span {
  color:#5ec4dd;
}
.list--four_setting {
  list-style:none;
}
.list--four_setting li {
  width:100%;
  padding:10px;
  background:#fff;
  margin:0 0 10px 0;
}
.setting-title {
  position:relative;
  background:#dff5fa;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  padding:10px 0;
  color:#5ec4dd;
}
.setting-title.lefted {
  text-align:left;
  padding:10px 0 10px 20px;
}
.setting-title-balloon {
  width:80px;
  height:auto;
  padding:5px 10px;
  font-size:12px;
  line-height:1.3em;
  text-align:center;
  background:#5fc3de;
  color:#fff;
  position:absolute;
  right:8px;
  top:10px;
}
.setting-data {
  margin:10px auto 0 auto;
  font-size:12px;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-around;
  justify-content:space-around;
}
.setting-data dl {
  width:45%;
  text-align:center;
  font-size:12px;
}
.setting-data dt {
  background:#666;
  color:#fff;
  padding:5px;
}
.setting-data dd {
  border:1px solid #666;
  padding:5px;
}
.setting-text {
  margin:10px auto 0 auto;
  font-size:14px;
  padding:0 10px;
}
.setting-image {
  width:100%;
  height:auto;
  margin:0 auto;
}
.setting-image img {
  width:100%;
  height:auto;
}


/* --------------------------------------------------
list--step_content
-------------------------------------------------- */
.list--step_content {
  list-style:none;
  margin:20px auto 0 auto;
}

.list--step_content li {
  position:relative;
  list-style:none;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-around;
  justify-content:space-around;
  padding:0 0 20px 0;
}

.step_content-thumb {
  width:40%;
  position:relative;
  background:#eeeeea;
}
.step_content-thumb img {
  width:auto;
  max-width:100%;
  height:auto;
  border:1px solid #eeeeea;
}

.step_content-data {
  width:55%;
  position:relative;
  font-size:14px;
  padding:0 0 0 2em;
  margin:8px auto 0 auto;
}
.step_content-data_num {
  position:absolute;
  left:0;
  top:0;
  display:block;
  color:#fff;
  background:#5ec4dd;
  border-radius:50%;
  width:1.5em;
  height:1.5em;
  text-align:center;
}


/* --------------------------------------------------
list--image_item 
-------------------------------------------------- */
.list--image_item {
  list-style:none;
  margin:20px auto 0 auto;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-between;
  justify-content:space-between;
}
.list--image_item li {
  width:48%;
  padding:0 0 20px 0;
}
.list--image_item li.image_item-1_3 {
  width:100%;
  padding:0 0 60px 0;
}
.image_item-thumb {
  border:1px solid #eeeeea;  
}
.list--image_item li.image_item-1_3 .image_item-thumb {
  border:none;
  text-align:center;
}
.image_item-thumb img {
  width:auto;
  max-width:100%;
  height:auto;
}
.image_item-caption {
  text-align:center;
  font-size:12px;
}
.image_item-title {
  text-align:left;
  margin:10px auto 0 auto;
  line-height:1.3em;
  font-size:16px;
  font-weight:bold;
}
.image_item-title.centered {
  text-align:center;
}

.image_item-text {
  margin:8px auto 0 auto;
  text-align:left;
  font-size:14px;
}
.list--image_item ul.list--caution-small li {
  width:100%;
}


/* --------------------------------------------------
table.table--row_info 
-------------------------------------------------- */
.table-scroll-wrap {
  width:100%;
  overflow-x: auto; 
}
table.table--row_info {
  border-collapse:collapse;
  border:1px solid #dadada;
  width:100%;
  margin:20px auto 0 auto;
}
table.table--row_info th {
  font-size:14px;
  padding:8px;
  border:1px solid #dadada;
  background:#f0f0f0;
  font-weight:bold;
}
table.table--row_info th.left-title {
  background:#f6f6f6 !important;/*打ち消し*/
}
table.table--row_info td {
  font-size:12px;
  padding:8px;
  border:1px solid #dadada;
}
table.table--row_info.normal td {
  font-size:14px;
}

/* solution-style */
table.table--row_info.solution-style tr td:nth-of-type(1) {
  width:10%;
  text-align:center;
}
table.table--row_info.solution-style tr td:nth-of-type(2) {
  width:20%;
  text-align:left;
}
table.table--row_info.solution-style tr td:nth-of-type(3) {
  width:40px;
  text-align:left;
}
table.table--row_info.solution-style tr td:nth-of-type(4) {
  width:20px;
  text-align:left;
}
table.table--row_info.solution-style tr td:nth-of-type(5) {
  width:10%;
  text-align:center;
}
span.solution_title {
  font-size:16px;
  display:block;
}
.table--row_info p.notice {
  padding:10px; background:#f7f7f7;
}

/* availability-style */
table.table--row_info.availability-style caption {
  text-align:right;
  padding:0 0 5px 0;
  font-size:12px;
}
table.table--row_info.availability-style td {
  text-align:right;
}


/* --------------------------------------------------
list--caution-small
-------------------------------------------------- */
.list--caution-small {
  list-style:none;
  margin:10px auto 0 auto;
}
.list--caution-small li {
  padding:0 0 0.3em 1em;
  text-indent:-1em;
  font-size:12px;
}


/* --------------------------------------------------
block_text
-------------------------------------------------- */
.block_text {
  background:#f8f8f8;
  padding:15px;
  margin:15px auto 0 auto;
}
.block_text-title {
  font-size:14px;
  font-weight:bold;
  padding:0 0 2px 0;
}
.block_text p {
  font-size:14px;
  color:#777;
}
.round-block_text a,
.block_text a {
  position:relative;
  display:block;
  font-size:12px;
  padding:0 0 0 8px;
  color:#2ec0dd;
  margin:8px auto 0 auto;
}
.round-block_text a:hover,
.block_text a:hover {
  text-decoration:underline;
}
.round-block_text a:before,
.block_text a:before {
  content:"";
  position:absolute;
  left:0;
  top:4px;
	width: 8px;
	height: 8px;
  border:4px solid transparent;
  border-left:4px solid #2ec0dd;
}
.block_text dl {
}
.block_text dl dt {
  width:100%;
  font-size:14px;
  color:#fff;
  background:#a7a7a7;
  display:inline-block;
  padding:5px 10px;
  margin:10px 0 0 0;
}

.block_text dl dt:first-child {
  margin:0;
}
.block_text dl dd {
  margin:5px auto 0 auto;
}
.block_text dl dd a {
  margin-top:0;
  font-size:12px;
  word-wrap:break-word;
}
.block_text span.ex-2em {
  font-size:14px;
  display:inline-block;
  text-indent:-2em;
  padding:0 0 5px 2em;
}


/* --------------------------------------------------
round-block_text
-------------------------------------------------- */
.round-block_text {
  background:#f8f8f8;
  border:1px solid #ddd;
  border-radius:5px;
  padding:20px;
  margin:20px auto 0 auto;
}
.round-block_text.small {
  padding:15px;
  margin:15px auto 0 auto;
}
.round-block_text-title {
  font-weight:bold;
}
.round-block_text.small .round-block_text-title {
  font-size:14px;
}
.round-block_text p {
  font-size:14px;
  margin:10px auto 0 auto;
}
.round-block_text p img {
  width:auto;
  max-width:100%;
  height:auto;
}
.round-block_text.small p {
  font-size:12px;
  margin:5px auto 0 auto;
}
.round-block_text-data {
  width:100%;
  height:auto;
  font-size:14px;
}
.round-block_text-image {
  width:100%;
  height:auto;
  margin:15px auto 0 auto;
}
.round-block_text-image img {
  width:auto;
  max-width:100%;
  height:auto;
}


/* --------------------------------------------------
block_contact
-------------------------------------------------- */
.block_contact {
  background:#ebf5f7;
  padding:20px;
  margin:20px auto 0 auto;
}
.block_contact dl {
  color:#566568;
}
.block_contact dl dt {
  font-size:14px;
  margin:10px 0 0 0;
}

.block_contact dl dt:first-child {
  margin:0;
}
.block_contact dl dd {
  font-size:14px;
  margin:5px auto 0 auto;
}
.block_contact dl dd a {
  margin-top:0;
}

/* --------------------------------------------------
table--service_price
-------------------------------------------------- */
.table--service_price {
  border-collapse:collapse;
  border:1px solid #dadada;
  width:100%;
  margin:20px auto 0 auto;
}
.table--service_price th {
  font-size:14px;
  padding:15px;
  border:1px solid #dadada;
  font-weight:normal;
}
.table--service_price th.service_name {
  background:#dadada;
}
.table--service_price th.service_month,
.table--service_price th.service_year {
  background:#66b2c4;
  color:#fff;
}
.table--service_price td {
  padding:15px;
  border:1px solid #dadada;
  font-size:14px;
}
.table--service_price td span {
  font-size:14px;
  font-weight:bold;
}
.table--service_price td span.price {
  font-size:16px;
}
.table--service_price td.centered {
  text-align:center;
}


/* --------------------------------------------------
link_area
-------------------------------------------------- */
.link_area {
  padding:15px;
  margin:30px auto 0 auto;
}
.link_area.blue {
  background:#5ec4dd;
}
.link_area--inner {
  background:#fff;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
  padding:15px;
}
.link_area-data-row {
  width:100%;
}
.link_area-data {
  width:100%;
}
.link_area-data-link {
  width:100%;
  margin:10px auto 0 auto;
}
.link_area-data-link a {
  width:100%;
}
.link_area-title {
  position:relative;
  font-weight:bold;
  padding:0 0 0 2em;
}
.link_area-title::before {
  content:"";
  position:absolute;
  width:1.5em;
  height:1.5em;
  top:0;
  left:0;
  border-radius:50%;
  background:#fff;
  border:2px solid #5ec4dd;
}
.link_area-title::after {
  content:"";
  position:absolute;
  width:0.6em;
  height:0.6em;
  top:0;
  left:0;
  border-radius:50%;
  background:#fff;
  border:2px solid #5ec4dd;
}
.link_area-text {
  font-size:14px;
  margin:10px auto 0 auto;
}
.link_area-btn_wrap {
  width:100%;
}
.link_area-btn_row {
  margin:10px auto 0 auto;
  padding:0 0 10px 0;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-between;
  justify-content:space-between;;
}
.link_area-btn_row a {
  width:100%;
}
.link_area-btn_row a.half {
  width:100%;
  margin-top:10px;
}
.link_area-btn_row a.half:first-child {
  margin-top:0;
}


/* --------------------------------------------------
list--row_info-text
-------------------------------------------------- */
.list--row_info-text {
  list-style:none;
  margin:15px auto 0 auto;
}
.list--row_info-text li {
  position:relative;
  padding:0 0 0.5em 1.1em;
  font-size:14px;
}
.list--row_info-text li::before {
  content:"";
  position:absolute;
  width:0.5em;
  height:0.5em;
  top:0.5em;
  left:0.2em;
  border-radius:50%;
  background:#fff;
  border:2px solid #3cbcd6;
}


/* --------------------------------------------------
list--service_answer
-------------------------------------------------- */
.list--service_logo {
  list-style:none;
  margin:20px auto 0 auto;
}
.list--service_logo li {
  display:inline-block;
  border:1px solid #ededed;
  margin:0 10px 0 0;
  vertical-align:middle;
}
.list--service_logo li a {
  width:100px;
  height:auto;
  display:block;
}
.list--service_logo li a:hover {
  background:#e7e7e7;
}


/* --------------------------------------------------
list--service_answer
--------------------------------------------------- */
.download_item {
  margin:20px auto 0 auto;
}
.download_item-thumb {
  width:100%;
  height:auto;
  text-align:center;
}
.download_item-data {
  width:100%;
  height:auto;
}
.download_item-title {
  margin:5px auto 0 auto;
  font-weight:bold;
}
.download_item-text {
  font-size:14px;
  margin:10px auto 0 auto;
}
.download_item-link {
}
.download_item-link a {
  width:100%;
  margin:10px auto 0 auto;
}


/* --------------------------------------------------
row_info-image-text_set
--------------------------------------------------- */
.row_info-image-text_set {
  margin:15px auto 0 auto;
}
.image-text_set-text {
  width:100%;
}
.image-text_set-text p {
  font-size:14px;
  margin:15px auto 0 auto;
}
.image-text_set-text p:first-child {
  margin:0 auto;
}
.list--image-text_set {
  width:100%;
  list-style:none;
  margin:20px auto 0 auto;
}
.list--image-text_set li {
  margin:10px auto 0 auto;
  text-align:center;
}
.list--image-text_set li:first-child {
  margin:0 auto;
}
.text_set-link {
  margin:15px auto 0 auto;
}
ol.list--text_set-decimal {
  padding:0 0 0 1.5em;
}
ol.list--text_set-decimal li {
  font-size:14px;
  margin:10px auto 0 auto;
}
ol.list--text_set-decimal li:first-child {
  margin:0 auto;
}
ol.list--text_set-decimal li span.caution-indent {
  display:inline-block;
  text-indent:-1em;
  padding:0 0 0 1em;
  font-size:12px;
  margin:5px auto 0 auto;
}


/* --------------------------------------------------
list--terms
--------------------------------------------------- */
ol.list--terms {
  list-style-position:outside;
  padding:0 0 0 50px;
}
ol.list--terms h3 {
  margin-left:-50px;
  text-indent:30px;
}
ol.list--terms li {
}
ol.list--terms li p {
  font-size:14px;
  margin:15px auto 0 -20px;
  padding:0 15px 0 0;
}
ol.list--terms li > ol.list--terms_inner01 {
  margin:10px auto 0 auto;
  padding:0 15px 3em 0 !important;
  list-style-position:outside;
}
ol.list--terms li > ol.list--terms_inner01 li {
  font-size:14px;
  margin:15px auto 0 auto;
}
ol.list--terms li > ol.list--terms_inner02 {
  background:#f7f7f7;
  padding:15px 15px 15px 30px !important;
  margin:5px auto 0 auto;
  list-style-position:outside;
}
ol.list--terms li > ol.list--terms_inner02 li {
  font-size:12px;
  margin:5px auto 0 auto;
}


/* --------------------------------------------------
list--decimal
--------------------------------------------------- */
ol.list--row_decimal {
  margin:15px auto 0 auto;
  padding:5px 15px 0 2em;
  list-style-position:outside;
}
ol.list--row_decimal li {
  font-size:14px;
  margin:15px auto 0 auto;
}
ol.list--row_decimal li:first-child {
  margin:0 auto;
}


/* --------------------------------------------------
pager--page_content
--------------------------------------------------- */
.pager--page_content {
  list-style:none;
  margin:10px auto 0 auto;
}
.pager--page_content li {
  font-size:14px;
  width:100%;
  padding:5px;
}
.pager--page_content.col2 li {
  width:100%;
}
.pager--page_content li a {
  position:relative;
  display:block;
  border:1px solid #ddd;
  border-radius:5px;
  padding:5px 10px;
  background:#f7f7f7;
}
.pager--page_content li a.double {
  line-height:3em;
}
.pager--page_content li a::before {
  content:"";
  position:absolute;
  right:5px;
  top:50%;
  margin-top:-10px;
  width:20px;
  height:20px;
  border:1px solid #ddd;
  border-radius:50%;
  background:#fff;
}
.pager--page_content li a::after {
  content:"";
  position:absolute;
  right:11px;
  top:50%;
  margin-top:-1px;
  width:8px;
  height:8px;
  border:4px solid transparent;
  border-top:4px solid #ddd;
}
.pager--page_content li a:hover::after {
  border-top:4px solid #2ec0dd;
}


/* --------------------------------------------------
head-privacy_statement
--------------------------------------------------- */
.head-privacy_statement {
  width:100%;
  margin:0 auto;
  padding:10px 0 15px 0;
}
.privacy_statement-image {
  width:100%;
  height:auto;
  text-align:center;
}
.privacy_statement-text {
  width:100%;
  height:auto;
  font-size:14px;
  margin:15px auto 0 auto;
}



.not_found {
  width:100%;
  height:auto;
  padding:150px 0;
  text-align:center;
}
.not_found p {
  margin:0 auto;
}
.link-back-top {
  margin:20px auto 0 auto;
}


/* --------------------------------------------------
buy-menu_head
--------------------------------------------------- */
.buy-menu_head {
  margin:20px auto 0 auto;
}
.menu_head-link {
  width:100%;
  height:auto;
}
.menu_head-link a {
  width:100%;
}
.menu_head-text {
  width:100%;
  height:auto;
  font-size:14px;
  padding:12px 0 0 0;
}


/* --------------------------------------------------
buy-select_menu
--------------------------------------------------- */
ul.buy-select_menu {
  list-style:none;
}
ul.buy-select_menu li {
  position:relative;
  width:100%;
  height:auto;
  padding:0 0 50px 0;
}
ul.buy-select_menu li h3 {
  font-size:16px;
  margin:60px auto 0 auto;
}
.select_menu-link {
  width:100%;
  position:absolute;
  bottom:0;
}
.select_menu-thumb {
  width:50%;
  margin:13px auto 0 auto;
}
.select_menu-text {
  font-size:14px;
  margin:10px auto 0 auto;
}
.select_menu-text span.caution {
  display:block;
  text-indent:-1em;
  padding:0 0 0 1em;
  font-size:12px;
  margin:5px auto 0 auto;
}
.select_menu-link a {
  width:100%;
}


/* --------------------------------------------------
list--step_item
--------------------------------------------------- */
.list--step_item {
  list-style:none;
}
.list--step_item li {
  margin:20px auto 0 auto;
  padding:0 0 40px 0;
}
.list--step_item li.step_item {
}
.list--step_item li.step_item .step_item-content {
  width:100%;
}
.list--step_item li.step_item.no-image .step_item-content {
  width:100% !important;
}
.list--step_item li.step_item .step_item-image {
  margin:10px auto 0 auto;
  width:100%;
}
.list--step_item li.step_item .step_item-image img {
  width:auto;
  max-width:100%;
  height:auto;
}
.step_item-content_title {
  border-bottom:1px dotted #bdbdbd;
  padding:0 0 10px 0;
}
.step_item-content_text {
  font-size:14px;
  margin:10px auto 0 auto;
}
.step_item-content_text span.caution {
  text-indent:-1em;
  padding:0 0 0 1em;
  color:#d02525;
  display:inline-block;
  margin:5px auto 0 auto;
}
.step_item-content_title h4 {
  position:relative;
  margin:0 !important;
  padding:0.25em 0 0 2.5em !important;
  border:0 !important;
  background:none !important;
}
.step_item-content_title h4 span.number {
  position:absolute;
  top:0;
  left:0;
  border-radius:50%;
  display:inline-block;
  width:2em;
  height:2em;
  line-height:2em;
  color:#fff;
  text-align:center;
  background:#00a6c7;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.step_item-content_link {
  list-style:none;
  background:#f7f7f7;
  padding:10px;
  margin:10px auto 0 auto;
}
.step_item-content_link li {
  position:relative;
  font-size:14px;
  margin:5px auto 0 auto !important;
  padding:0 0 0 1.5em;
}
.step_item-content_link li:first-child {
  margin:0 auto !important;
}
.step_item-content_link li a {
}
.step_item-content_link li::before {
  content:"";
  position:absolute;
  background:#e3e6e7;
  left:0;
  top:0.25em;
  width:1em;
  height:1em;
  border-radius:50%;
}
.step_item-content_link li::after {
  content:"";
  position:absolute;
  left:0.25em;
  top:0.7em;
  width:8px;
  height:8px;
  border:4px solid transparent;
  border-top:4px solid #aebbbe;
}

/*list--step_item > point_item */
.point_item {
  list-style:none;
  padding:0 0 40px 0;
}
.point_item-inner {
  background:#ffffee;
  padding:15px;
  border:1px solid #afafa0;
}
.point_item-title {
  font-size:18px;
  padding:5px 10px;
  background:#afafa0;
  color:#fff;
  font-weight:bold;
}
.point_item-inner p {
  font-size:14px;
  padding:10px;
}
.list--point_item-link {
  list-style:none;
}
.list--point_item-link li {
  position:relative;
  font-size:14px;
  margin:0 !important;
  padding:0 0 0.5em 1.5em !important;
}
.list--point_item-link li::before {
  content:"";
  position:absolute;
  background:#f0f0e1;
  left:0;
  top:0.25em;
  width:1em;
  height:1em;
  border-radius:50%;
}
.list--point_item-link li::after {
  content:"";
  position:absolute;
  left:0.25em;
  top:0.7em;
  width:8px;
  height:8px;
  border:4px solid transparent;
  border-top:4px solid #c0c09a;
}


/* --------------------------------------------------
list--step_item
--------------------------------------------------- */
.list--step_row-item {
  margin:10px auto 0 auto;
  list-style:none;
}
.list--step_row-item li {
  width:100%;
  padding:0 0 40px 0;
}
.step_row-item_title {
  position:relative;
  margin:0 !important;
  padding:0.25em 0 0 2.5em !important;
  border:0 !important;
  background:none !important;
  line-height:1.3em;
  font-weight:bold;
}
.step_row-item_title.double {
  line-height:2.6em;
}
.step_row-item_title span.number {
  position:absolute;
  top:0.5em;
  left:0;
  border-radius:50%;
  display:inline-block;
  width:2em;
  height:2em;
  line-height:2em;
  color:#fff;
  text-align:center;
  background:#00a6c7;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
}
.step_row-item_text {
  font-size:13px;
  margin:5px auto 0 auto;
}
.step_row-item_text span.caution {
  font-size:12px;
  display:inline-block;
  text-indent:-1em;
  padding:0 0 0 1em;
  margin:5px auto 0 auto;
}

.page_content-link_row {
  padding:27px 0 30px 0;
  width:100%;
  text-align:center;
  margin:20px auto 0 auto;
}


/* --------------------------------------------------
list--set-item
--------------------------------------------------- */
dl.list--set-item {
  margin:15px auto 0 auto;
}
dl.list--set-item dt {
  background:#dadada;
  padding:10px 15px;
}
dl.list--set-item dd {
  border:2px solid #dadada;
  padding:15px;
  background:#fff;
  font-size:14px;
}


/* --------------------------------------------------
block_text-caution
--------------------------------------------------- */
.block_text-caution {
  margin:15px auto 0 auto;
  background:#f8ebeb;
  padding:15px;
  font-size:14px;
  color:#d02525;
  border:1px solid #f0d9d9;
}
.block_text-caution .block_text-caution_title {
  font-size:16px;
}
.block_text-caution p {
  font-size:14px;
  margin:5px auto 0 auto;
}


/* --------------------------------------------------
list--step-no_title
--------------------------------------------------- */
.list--step-no_title {
  list-style:none;
  margin:15px auto 0 auto;
}
.list--step-no_title li {
  position:relative;
  font-size:14px;
  padding:0.75em 0 1em 2.5em;
}
.list--step-no_title li span.number {
  position:absolute;
  top:0.5em;
  left:0;
  border-radius:50%;
  display:inline-block;
  width:2em;
  height:2em;
  line-height:2em;
  color:#fff;
  text-align:center;
  background:#00a6c7;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.step-no_title-image {
  padding:15px 0;
}
.step-no_title-image img {
  width:auto;
  max-width:100%;
  height:auto;
}

.step-no_title-image.centered {
  text-align:center;
}


/* --------------------------------------------------
cybozu_information
--------------------------------------------------- */
.cybozu_information {
}
.cybozu_information-title {
  position:relative;
  background:#00a6c7;
  color:#fff;
  padding:8px 10px;
  text-align:center;
}
.list--information_menu {
  margin:5px auto 0 auto;
}
.list--information_menu li {
  display:inline-block;
}
.list--information_menu li a {
  display:block;
  border-radius:3px;
  background:#2ec0dd;
  color:#fff;
  border-top:2px solid #4dc9e2;
	box-shadow: 0 2px 0 #028eab;
  font-size:12px;
  padding:5px 10px 5px 10px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  text-decoration:none;
}
.list--information_menu li a:hover {
  text-decoration:none;
  background:#1aa9c5;
  border-top:2px solid #24b4d0;
}
.list--information_menu li.link a::before {
  content:"";
  display:inline-block;
  background:url(../../images/support/ico-information-link.svg) no-repeat 50% 50%;
  width:1.4em;
  height:1.4em;
  vertical-align:top;
  margin:0 5px 0 0;
}
.list--information_menu li.rss a::before {
  content:"";
  display:inline-block;
  background:url(../../images/support/ico-information-rss.svg) no-repeat 50% 50%;
  width:1.4em;
  height:1.4em;
  vertical-align:top;
  margin:0 5px 0 0;
}

.cybozu_infomation-data {
  border:2px solid #dadada;
  border-top:none;
  padding:15px;
}
.cybozu_infomation-data ol {
  list-style:none;
  padding:0;
}
.cybozu_infomation-data ol li {
  position:relative;
  font-size:14px;
  margin:5px auto 0 auto;
  padding:2px 0;
}
.cybozu_infomation-data ol li a {
  text-decoration:none;
}
.cybozu_infomation-data ol li a:hover {
  text-decoration:underline;
}
.cybozu_infomation-data ol li:first-child {
  margin:0 auto;
}
.cybozu_infomation-data ol li .date {
  display:block;
  background:#999999;
  color:#fff;
  padding:2px 5px;
  margin:0 0 5px 0;
  text-align:center;
}


/* --------------------------------------------------
support-menu_item
--------------------------------------------------- */
.support-menu_item {
  margin:15px auto 0 auto;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-around;
  justify-content:space-around;
}
.support-menu_item-image {
  width:30%;
  height:auto;
  margin:0 auto;
}
.support-menu_item-data {
  width:100%;
  height:auto;
}
.support-menu_item-data p {
  font-size:14px;
  margin:10px auto 0 auto;
}
ul.list--support-menu {
  list-style:none;
}
ul.list--support-menu li {
  margin:10px auto 0 auto;
  position:relative;
  font-weight:bold;
}
ul.list--support-menu li::before {
  content:"";
  position:absolute;
  right:0.5em;
  top:50%;
  width:1.5em;
  height:1.5em;
  border-radius:50%;
  margin-top:-0.75em;
  border:1px solid #dadada;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
ul.list--support-menu li:hover::before {
  background:#00a6c7;
}
ul.list--support-menu li a {
  display:block;
  position:relative;
  border:1px solid #dadada;
  font-size:14px;
  padding:0.75em 0.75em 0.75em 1.5em;
  text-decoration:none;
}
ul.list--support-menu li a:hover {
  text-decoration:underline;
}
ul.list--support-menu li a::before {
  position:absolute;
  top:0;
  left:0;
  content:"";
  display:block;
  width:8px;
  height:100%;
  background:#00a6c7;
}
ul.list--support-menu li a::after {
  content:"";
  position:absolute;
  z-index:199;
  right:1.2em;
  top:50%;
  margin-top:-0.25em;
  width:0.5em;
  height:0.5em;
	border-right: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
ul.list--support-menu li a:hover::after {
  border-color:#fff;
}
ul.list--support-menu li a[target="_blank"]::after {
  width:0.8em;
  height:0.8em;
  right:1em;
  margin-top:-0.4em;
	background:url(../../images/common/ico-another_link_gray.svg) no-repeat 50% 50%;
  border:none !important;
	-webkit-transform:none !important;
	-ms-transform:none !important;
	transform:none !important;
}
ul.list--support-menu li a[target="_blank"]:hover::after {
	background:url(../../images/common/ico-another_link.svg) no-repeat 50% 50%;
}

.support-menu_item-data-link {
  margin:10px auto 0 auto;
}
.support-menu_item-data-link a {
  width:100%;
}


/* --------------------------------------------------
list--info-cybozu_com
--------------------------------------------------- */
.list--info-cybozu_com {
  list-style:none;
  margin:15px auto 0 auto;
}
.list--info-cybozu_com li {
  position:relative;
  width:100%;
  height:80px;
  border:1px solid #dadada;
  margin-bottom:15px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  border-right:30px solid #00a6c7;
}
.list--info-cybozu_com li a {
  position:relative;
  display:block;
  text-decoration:none;
}
.list--info-cybozu_com li a:hover {
  text-decoration:underline;
}
.list--info-cybozu_com li a::after {
  content:"";
  position:absolute;
  right:-20px;
  top:50%;
  margin-top:-7px;
  width:14px;
  height:14px;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.list--info-cybozu_com li .info-ico {
  position:absolute;
  left:10px;
  top:10px;
  width:60px;
  height:60px;
  border:1px solid #dadada;
  border-radius:50%;
}
.list--info-cybozu_com li .info-name {
  line-height:80px;
  padding:0 0 0 80px;
}


/* --------------------------------------------------
list--guide_menu
--------------------------------------------------- */
.list--guide_menu {
  list-style:none;
  margin:15px auto 0 auto;
}
.list--guide_menu li {
  position:relative;
  margin:0 0 15px 0;
}
.list--guide_menu li a {
  position:relative;
  display:block;
  padding:10px;
  border:5px solid #dadada;
  color:#333;
  text-decoration:none;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.list--guide_menu li a:hover {
  text-decoration:none;
  border:5px solid #00a6c7;
}

.guide_menu-image {
  position:absolute;
  left:10px;
  top:10px;
  width:70px;
  height:70px;
}
.guide_menu-data {
  padding:10px 0 0 85px;
}
.guide_menu-title {
  line-height:2.4em;
  font-size:14px;
  border-left:5px solid #00a6c7;
  padding:0 0 0 10px;
  font-weight:bold;
}
.guide_menu-title.double {
  line-height:1.2em;
}
.guide_menu-text {
  margin:10px auto 0 auto;
  font-size:14px;
  height:4.5em;
  overflow:hidden;
}


/* --------------------------------------------------
list--manual_list
--------------------------------------------------- */
.list--manual_list {
  list-style:none;
  margin:15px auto 0 auto;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-around;
  justify-content:space-around;
}
.list--manual_list li {
  width:48%;
  display:block;
  vertical-align:middle;
}


/* --------------------------------------------------
list--inquiry_menu
--------------------------------------------------- */
.list--inquiry_menu {
  margin:15px auto 0 auto;
  list-style:none;
}
.list--inquiry_menu li {
  width:100%;
  height:auto;
  position:relative;
  padding:0 0 45px 0;
  margin:40px auto 0 auto;
}.list--inquiry_menu li:first-child {
  margin:0 auto;
  padding:0;
}
.inquiry_menu-title {
  background:#dbdada;
  text-align:center;
  padding:10px;
  font-weight:bold;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
}
.inquiry_menu-title span.small {
  font-size:14px;
}
.inquiry_menu-data {
  text-align:center;
  padding:0;
}
.inquiry_menu-tel {
  margin:15px auto 0 auto;
  font-size:22px;
  font-weight:bold;
}
.inquiry_menu-tel::before {
  content:"";
  display:inline-block;
  height:1.2em;
  width:1.2em;
  vertical-align:middle;
  background:url(../../images/support/ico-phone-number-blue.svg) no-repeat 0 0;
}
.inquiry_menu-tel_info {
  font-size:14px;
}
.inquiry_menu-data_image {
  width:100px;
  height:100px;
  margin:0 auto;
}
.inquiry_menu-data_text {
  font-size:14px;
  margin:0 auto;
}
.inquiry_menu-link {
  position:absolute;
  bottom:0;
  width:100%;
}
.inquiry_menu-link a {
  margin:0 auto;
  width:80%;
  position:relative;
  display:block;
  height:40px;
  color:#fff;
  text-align:center;
  background:#2ec0dd;
  line-height:40px;
  border-radius:5px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  font-weight:bold;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.inquiry_menu-link a::before { 
	content:"";
	position:absolute;
	right:15px;
	top:50%;
	width: 12px;
	height: 12px;
	margin-top:-6px;
	border-bottom: 3px solid rgba(255,255,255,0.5);
	border-right: 3px solid rgba(255,255,255,0.5);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}.inquiry_menu-link a:hover { background:#0795b1; text-decoration:none;}



/* --------------------------------------------------
inquiry-contact_tel
--------------------------------------------------- */
.inquiry-contact_tel {
  margin:20px auto 0 auto;
}
.contact_tel-title {
  position:relative;
  background:#00a6c7;
  color:#fff;
  width:100%;
  height:80px;
  padding:16px 0 0 80px;
}
.contact_tel-title::before {
  content:"";
  position:absolute;
  top:10px;
  left:10px;
  width:60px;
  height:60px;
  border-radius:50%;
  background:#fff url(../../images/support/support-page-ico-tel.svg) no-repeat 50% 50%;
  background-size:130%;
}
.contact_tel-number {
  width:100%;
  padding:10px 20px;
  background:#e6f8fb;
  font-size:12px;
  text-align:center;
}
.contact_tel-number .tel-number {
  font-weight:bold;
  font-size:26px;
  display:block;
  line-height:1.2em;
}

/* --------------------------------------------------
list--service-faq
--------------------------------------------------- */
.wrap--service-faq {
}
.wrap--service-faq dl {
  list-style:none;
}
.wrap--service-faq dl dt {
  position:relative;
  border:1px solid #e1e1e1;
  background:#fafafa;
  line-height:40px;
  height:40px;
  text-indent:15px;
	border-radius:5px;
  margin:10px auto 0 auto;
  cursor:pointer;
  font-size:10px;
  overflow:hidden;
}
.wrap--service-faq dl dt .list_btn {
  position:absolute;
  display:block;
  width:40px;
  height:40px;
  border:1px solid #e1e1e1;
  right:-1px;
  top:-1px;
  background:#2ec0dd;
	border-radius:0 5px 5px 0;
}
.wrap--service-faq dl .list_btn:hover {
  background:#50b1e6;
}
.wrap--service-faq dl dt .list_btn:before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-7px;
  margin-top:-10px;
  display:inline-block;
  width:14px;
  height:14px;
  border-bottom:3px solid #fff;
  border-left:3px solid #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.wrap--service-faq dl dt .list_btn.active:before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-7px;
  margin-top:-3px;
  display:inline-block;
  width:14px;
  height:14px;
  border-bottom:3px solid #fff;
  border-left:3px solid #fff;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  transform: rotate(-225deg);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.wrap--service-faq dl dd {
  display:none;
  position:relative;
  border-right:1px solid #e1e1e1;
  border-left:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  padding:15px;
  height:auto;
	border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
  margin:-5px auto 40px auto;
}
.wrap--service-faq dl dd {
}
.wrap--service-faq dl dd img {
  width:auto;
  max-width:100%;
  height:auto;
}
.wrap--service-faq dl dd p {
  font-size:12px;
  margin:10px auto 0 auto;
}
.wrap--service-faq dl dd p.ttl {
  font-size:16px;
  margin:10px auto 0 auto;
  font-weight:bold;
}

/* --------------------------------------------------
accordion
--------------------------------------------------- */
.accordion dt{
	cursor: pointer;
	position: relative;
	padding: 5px 30px 5px 10px !important;
}
.accordion dt:after{
	position: absolute;
	top: 39%;
	right: 10px;
	width: 0.6em;
	height: 0.6em;
	content: '';
	border-left: 2px solid #333;
	border-bottom: 2px solid #333;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-moz-transition: all, 0.25s, linear;
	-o-transition: all, 0.25s, linear;
	-webkit-transition: all, 0.25s, linear;
	transition: all, 0.25s, linear;
}
.accordion dt.active:after{
	-moz-transform: translate(0, 50%);
	-ms-transform: translate(0, 50%);
	-webkit-transform: translate(0, 50%);
	transform: translate(0, 50%);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.accordion dt:hover{
	opacity: 0.8;
}
.accordion dd a{
	margin-top: 5px !important;
}

/* --------------------------------------------------
年末年始のお知らせ
--------------------------------------------------- */
.endyearLink{
	border: 1px solid #dbdada;
	border-radius: 5px;
	padding: 10px;
	margin: 0 0 30px;
}
.endyearLink a:after{
	content: "";
	display: inline-block;
	width: 1em !important;
	height: 1em !important;
	margin: 0 5px;
	background: url(../../images/common/ico-another_link_gray.svg) no-repeat 50% 50%;
}
