@charset "UTF-8";

/* //////////////////////////////////////////////////
Cybozu, Inc. WEB SITE 2016
COPYRIGHT © Cybozu, Inc.
ALL RIGHTS RESERVED.
////////////////////////////////////////////////// */

/* --------------------------------------------------
スマートフォン向け（画面767px以下）
-------------------------------------------------- */

/* --------------------------------------------------
table.table--form_data
--------------------------------------------------- */
table.table--form_data {
  margin:20px auto 0 auto;
  border-top:1px solid #dadada;
  width:100%;
}
table.table--form_data tr {
  border-bottom:1px solid #dadada;
}
table.table--form_data th {
  padding:15px 0 15px 0;
  text-align:left;
  display:block;
}
table.table--form_data th p.caption {
  font-size:14px;
  color:#666;
  margin:10px auto 0 auto;
}
table.table--form_data .require {
  font-size:11px;
  background:#d02525;
  color:#fff;
  padding:2px 5px;
  margin:0 0 0 5px;
  display:inline-block;
}
table.table--form_data td {
  padding:0 0 15px 0;
  display:block;
}
table.table--form_data td input[type="text"] {
  background:#ffffe8;
  border:2px solid #dadada;
  padding:10px;
  width:100%;
  border-radius:5px;
}
table.table--form_data td input[type="email"] {
  background:#ffffe8;
  border:2px solid #dadada;
  padding:10px;
  width:75%;
  border-radius:5px;
}
table.table--form_data td input[type="tel"] {
  background:#ffffe8;
  border:2px solid #dadada;
  padding:10px;
  width:50%;
  border-radius:5px;
}
table.table--form_data td input[type="url"] {
  background:#ffffe8;
  border:2px solid #dadada;
  padding:10px;
  width:50%;
  border-radius:5px;
}
table.table--form_data td select {
  border:2px solid #dadada;
	padding:10px;
	background:#ffffe8 url(../images/common/input-select-arrow.svg) no-repeat;
  width:100%;
	background-size:10px 18px;
	background-position:right 10px top 50%;
}

/* radio button */
.label-radio input[type="radio"] {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.label-radio {
  display:inline-block;
  cursor:pointer;
  padding:0.5em 1em 0.5em 0;
  font-weight: normal;
  line-height:1.6em;
  vertical-align:middle;
}
.label-radio .label {
  position:relative;
  display:inline-block;
  line-height:1.6em;
  padding:0 0 0 1.9em;
}
.label-radio .label::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  border:2px solid #dadada;
  width:1.6em;
  height:1.6em;
  background:#fff;
  border-radius:50%;
  
}
.label-radio input[type="radio"]:checked + .label{/*check時の動作*/
  color: #1eb0ce;
}
.label-radio input[type="radio"]:checked + .label::after{/*check時の動作*/
  content:"";
  position:absolute;
  z-index:999;
  left:0.4em;
  top:0.4em;
  width:0.8em;
  height:0.8em;
  background:#1eb0ce;
  border-radius:50%;
}

/* checkbox */
.label-checkbox input[type="checkbox"] {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.label-checkbox {
  display:inline-block;
  cursor:pointer;
  padding:0.5em 1em 0.5em 0;
  font-weight: normal;
  line-height:1.6em;
  vertical-align:middle;
}
.label-checkbox .label {
  position:relative;
  display:inline-block;
  line-height:1.6em;
  padding:0 0 0 1.9em;
}
.label-checkbox .label::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  border:2px solid #dadada;
  width:1.6em;
  height:1.6em;
  background:#fff;
  
}
.label-checkbox input[type="checkbox"]:checked + .label{/*check時の動作*/
  color: #1eb0ce;
}
.label-checkbox input[type="checkbox"]:checked + .label::after{/*check時の動作*/
  content:"";
  position:absolute;
  z-index:999;
  left:0.5em;
  top:0.2em;
  width:0.6em;
  height:1em;
	border-bottom: 4px solid #1eb0ce;
	border-right: 4px solid #1eb0ce;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


table.table--form_data td textarea {
  background:#ffffe8;
  border:2px solid #dadada;
  padding:10px;
  width:100%;
  height:6em;
  border-radius:5px;
}
.row--form_submit {
  margin:20px auto 0 auto;
  text-align:center;
}


/* --------------------------------------------------
脆弱性選択
--------------------------------------------------- */
.cat-1, .cat-2, .cat-3 {/*初期選択非表示*/
  display:none;  
}


/* --------------------------------------------------
バリデーション用
--------------------------------------------------- */
table.table--form_data td span.errMsg
{
  position:relative;
  display:inline-block;
	font-size: 14px;
  margin:10px auto 0 auto;
	background:#f3dcdc;
	border: 2px solid #e09c9c;
	border-radius: 5px;
	color: #d02525;
	padding: 5px 10px 5px 40px;
}
.errMsg::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  background:#e09c9c;
  width:30px;
  height:100%;
	border-radius: 3px 0 0 3px;
  background:#e09c9c url(../images/inquiry/ico-error-alert.svg) no-repeat 50% 50%;
  background-size:60%;
}
.formErrorArrow,
.formErrorClose
{
	display: none;
}
