@charset "UTF-8";

/* //////////////////////////////////////////////////
Cybozu, Inc. WEB SITE 2016
COPYRIGHT © Cybozu, Inc.
ALL RIGHTS RESERVED.
////////////////////////////////////////////////// */


/* --------------------------------------------------
Container
-------------------------------------------------- */
html, body { height: 100%; }
.container {
  position:relative;
}
a:link { text-decoration:none;}
a:hover { text-decoration:underline;}

.sp-nav-btn { display:none; }
.sp-nav-close { display:none; }
.sp-search { display:none; }
.sp-contact { display:none; }


/* --------------------------------------------------
com-sp-header
-------------------------------------------------- */
.utility {
  position:relative;
  width:100%;
  height:40px;
  background:#000;
}
.utility .inner {
  position:relative;
  width:1000px;
  margin:0 auto;
}
.utility .inner .company {
  position:absolute;
  top:5px;
  left:0;
}
.utility .inner .company a {
  display:block;
  line-height:30px;
  border-radius:3px;
  background:#333;
  font-size:12px;
  padding:0 15px;
  color:#fff;
  text-decoration:none;
}
.utility .inner .company a:hover {
  text-decoration:none;
  background:#13a4c1;
}
.utility .inner .search {
  position:absolute;
  right:0;
  top:5px;
  height:30px;
  background:#fff;
  border-radius:3px;
}

/* --------------------------------------------------
Header
-------------------------------------------------- */
.site_header {
  position:absolute;
  z-index:9999;
  top:40px;
  left:0;
	width:100%;
	height:auto;
	background:#fff;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}
.site_header.fixed {
  position:fixed;
  top:0;
  z-index:9999;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}
.site_header--inner {
	position:relative;
	width:1000px;
	height:70px;
	margin:0 auto;
}

/*site_logo*/
h1.site_logo {
	width:180px;
	height:70px;
	padding:15px 0 0 0;
}
h1.site_logo img {
  width:180px;
  height:40px;
}
.site_nav {
	position:absolute;
	top:0;
	right:0;
}
.list--global_nav {
  list-style:none;
}
.list--global_nav li {
	position:relative;
  z-index:9999;
  font-weight:bold;
}
.list--global_nav li:not(.global_nav-trial) {
	border-left:1px solid #ededed;
}
.list--global_nav li:not(.global_nav-trial)::after {
	content:"";
	position:absolute;
	z-index: 100;
	bottom: 8px;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-left:-4px;
	border-right: 2px solid #333;
	border-bottom: 2px solid #333;
	-webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

body#service .list--global_nav li.service,
body#security .list--global_nav li.security,
body#buy .list--global_nav li.buy,
body#support .list--global_nav li.support {
	border-bottom: 3px solid #13a4c1;
}
.list--global_nav li:not(.global_nav-trial):hover::after,
.list--global_nav li.current:not(.global_nav-trial)::after {
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.list--global_nav li a {
	display:block;
	width:auto;
	height:70px;
	padding:0 30px;
	line-height:70px;
	color:#333;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  text-decoration:none;
}
.list--global_nav li.current:not(.global_nav-trial),
.list--global_nav li.current:not(.global_nav-trial) a ,
.list--global_nav li:not(.global_nav-trial) a:hover {
  background:#13a4c1;
  color:#fff;
  text-decoration:none;
}
.list--global_nav li:not(.global_nav-trial).active::after {
  border-color:#fff;
}
.list--global_nav li.global_nav-trial a {
	color:#fff;
	background:#90c31f;
	padding:0 50px 0 30px;
}
.list--global_nav li.global_nav-trial a:hover {
  text-decoration:none;
  background:#608c00;
}
.list--global_nav li.global_nav-trial::before {
	content:"";
	position:absolute;
	z-index: 100;
	top:50%;
	right: 25px;
	width: 20px;
	height: 20px;
	margin:0;
	margin-top:-10px;
	border-radius:50%;
	background:#fff;
}
.list--global_nav li.global_nav-trial::after {
	content:"";
	position:absolute;
	z-index: 110;
	bottom:50%;
	left:auto;
	right: 32px;
	width: 8px;
	height: 8px;
	margin-left:0;
	margin-bottom:-4px;
	border-right: 2px solid #90c31f;
	border-bottom: 2px solid #90c31f;
	-webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* contact_bar */
.contact_bar {
	position:absolute;
  z-index:9000;
	width:100%;
	height:40px;
	bottom:-40px;
	left:0;
	background:rgba(0,0,0,0.5);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.site_header.fixed > .contact_bar {
  display:none;
}
.contact_bar--inner {
	width:1000px;
	height:40px;
	margin:0 auto;
}
.contact_bar--data {
	color:#fff;
	text-align:right;
}
.contact_bar--data > h2 {
	line-height:40px;
	font-size:14px;
	padding:0 15px 0 0;
}

/* phone_number */
.contact_bar--data > .phone_number {
	line-height:40px;
  font-weight:bold;
	font-size:22px;
	padding:0 15px 0 0;
	vertical-align:top;
}
.contact_bar--data > .phone_number::before {
	content:"";
	display:inline-block;
	width:24px;
	height:40px;
	background:url(../images/common/ico-phone_number.svg) no-repeat 0 50%;
	background-size:contain;
  margin:0 5px 0 0 ;
}

/* inquiry_link */
.contact_bar--data > a.inquiry_link {
	display:block;
	height:40px;
	line-height:40px;
	padding:0 15px;
	font-size:14px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	vertical-align:top;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  text-decoration:none;
}
.contact_bar--data > a.inquiry_link:hover {
	background:rgba(46,192,221,0.5);
  text-decoration:none;
}
.contact_bar--data > a.inquiry_link::before {
	content:"";
	display:inline-block;
	width:1.5em;
	height:40px;
	background:url(../images/common/ico-inquiry_mail.svg) no-repeat 0 50%;
	background-size:contain;
	margin:0 5px 0 0;
}



/* --------------------------------------------------
Dropdown
-------------------------------------------------- */
nav#header-dropdown {
  z-index:9999;
  position:absolute;
  top:70px;
  left:0;
  width:100%;
  height:auto;
  background:#13a4c1;
  display:none;
}
.site_dropdown--inner {
  width:1000px;
  height:auto;
  margin:0 auto;
}
.site_dropdown--inner .dropdown {
  position:relative;
  padding:65px 0;
}
.dropdown .close {
  position:absolute;
  right:15px;
  top:15px;
  background:#19acc9;
  width:40px;
  height:40px;
  text-indent:-9999px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  cursor:pointer;
}
.dropdown .close:hover {
  background:#128ca5;
}
.dropdown .close::after,
.dropdown .close::before {
  content:"";
  position:absolute;
  top:5px;
  left:18px;
  display:block;
  width:5px;
  height:30px;
  background:#8cd6e4;
}
.dropdown .close::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.dropdown .close::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.col-no-ttl {
  padding:25px 0 0 0;
}
.dropdown--col_1_4 h2,
.dropdown--col_1_5 h2,
.dropdown--col_2_5 h2 {
  font-size:14px;
  line-height:20px;
  padding:0 0 5px 0;
  color:#fff;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
  font-weight:bold;
}
.dropdown--col_1_4 {
  width:220px;
  height:auto;
}
.dropdown--col_2_2_5,
.dropdown--col_1_5 {
  width:170px;
  height:auto;
}
.dropdown--col_2_5 {
  width:370px;
  height:auto;
}

.dropdown--col_2_2_5 h3 {
  font-size:14px;
  color:#fff;
  border:2px solid #fff;
  background:rgba(255,255,255,0.1);
  text-align:center;
  vertical-align:middle;
  line-height:34px;
  height:38px;
  margin:0 0 8px 0;
  font-weight:bold;
	box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

/* list__panel */
.list__panel {
  list-style:none;
}
.list__panel img {
  height:auto;
  max-height:100%;
  width:auto;
}
.list__panel.only-image { text-align:center;}

.list__text {
  list-style:none;
}
.list__text li {
  font-size:14px;
  padding:0 0 1px 15px;
}
.list__text li a {
  position:relative;
  display:inline-block;
  color:#fff;
  text-decoration:none;
}
.list__text li a:hover {
  text-decoration:underline;
}

.list__text li a::before {
  content:"";
  position:absolute;
  left:-15px;
  top:50%;
  width:10px;
  height:10px;
  margin-top:-5px;
  border-radius:50%;
  border:2px solid #fff;
}

/* panel_1_1 */
.panel_1_1 {
  position:relative;
  width:100%;
}
.panel_1_1 img {
  width:auto;
  max-width:100%;
  height:auto;
}
.panel_1_1 a {
  display:block;
  height:220px;
  background:#f0f8fa;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
  padding:10px 30px 50px 30px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  color:#444;
}
.panel_1_1 a:hover {
  background:#fff;
  padding:0 20px 30px 20px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.dropdown--col_1_5 > .panel_1_1 a {
  padding:20px 20px 40px 20px;
}
.dropdown--col_1_5 > .panel_1_1 a:hover {
  padding:10px 10px 30px 10px;
}
.panel_1_1 .panel_title {
  position:absolute;
  width:100%;
  height:auto;
  left:0;
  bottom:30px;
  margin:0;
  line-height:1em;
  text-align:center;
  font-weight:bold;
}
.panel_1_1 .panel_title span {
  font-size:12px;
}
.panel_1_1 a::before {
  content:"";
  position:absolute;
  width:100%;
  height:20px;
  left:0;
  bottom:0;
  background:#c5dbe1;
	border-radius: 0 0 5px 5px;
}
.panel_1_1 a:hover::before {
  background:#2ec0dd;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.panel_1_1 a::after {
  content:"";
  position:absolute;
  bottom:6px;
	left:50%;
	width: 8px;
	height: 8px;
	margin-left:-4px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* panel_4_1 */
.panel_2_1 {
  position:relative;
  width:100%;
  margin:0 0 8px 0;
  text-align:center;
}
.panel_2_1 img {
  width:66px;
  height:66px;
}
.panel_2_1 .panel_title {
  position:absolute;
  width:100%;
  height:auto;
  left:0;
  bottom:25px;
  margin:0;
  text-align:center;
  font-size:14px;
  font-weight:bold;
}
.panel_2_1 a {
  display:block;
  height:106px;
  background:#f0f8fa;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
  padding:0 30px 40px 30px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  color:#444;
}.panel_2_1 a:hover {
  background:#fff;
  padding:0 20px 35px 20px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}.panel_2_1 a:hover img {
  width:70px;
  height:70px;
}
.panel_2_1 a::before {
  content:"";
  position:absolute;
  width:100%;
  height:20px;
  left:0;
  bottom:0;
  background:#c5dbe1;
	border-radius: 0 0 5px 5px;
}
.panel_2_1 a:hover::before {
  background:#2ec0dd;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.panel_2_1 a::after {
  content:"";
  position:absolute;
  bottom:6px;
	left:50%;
	width: 8px;
	height: 8px;
	margin-left:-4px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* panel_3_1 */
.panel_3_1 {
  position:relative;
  width:100%;
  margin:0 0 8px 0;
}
.panel_3_1 .panel_image {
  position:absolute;
  width:70px;
  height:70px;
  top:0;
  left:0;
}
.panel_3_1 .panel_title {
  position:absolute;
  width:100%;
  height:auto;
  left:70px;
  top:25px;
  margin:0;
  font-size:14px;
  text-align:left;
  font-weight:bold;
}
.panel_3_1 .panel_title.double {
  top:11px !important;
}
.panel_3_1 a {
  color:#444;
  display:block;
  height:68px;
  background:#f0f8fa;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}.panel_3_1 a:hover {
  background:#fff;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.list__panel .panel_3_1.office a,
.list__panel .panel_3_1.garoon a,
.list__panel .panel_3_1.kintone a,
.list__panel .panel_3_1.mailwise a,
.list__panel .panel_3_1.kunai a { padding:10px 30px 10px 10px; }

.list__panel .panel_3_1.office a img,
.list__panel .panel_3_1.garoon a img,
.list__panel .panel_3_1.kintone a img,
.list__panel .panel_3_1.mailwise a img,
.list__panel .panel_3_1.kunai a img { width:180px; height:48px;}

.panel_3_1 a::before {
  content:"";
  position:absolute;
  width:20px;
  height:68px;
  right:0;
  bottom:0;
  background:#c5dbe1;
	border-radius: 0 5px 5px 0;
}
.panel_3_1 a:hover::before {
  background:#2ec0dd;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.panel_3_1 a::after {
  content:"";
  position:absolute;
  bottom:50%;
  right:8px;
	width: 8px;
	height: 8px;
  margin-bottom:-5px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* panel_4_1 */
.panel_4_1 {
  position:relative;
  width:100%;
  margin:0 0 8px 0;
}
.panel_4_1 .panel_image {
  position:absolute;
  width:55px;
  height:55px;
  top:-2px;
  left:2px;
}
.panel_4_1 .panel_title {
  position:absolute;
  width:100%;
  height:auto;
  left:60px;
  top:18px;
  margin:0;
  font-size:14px;
  text-align:left;
  line-height:1.2em;
  font-weight:bold;
}.list__panel.only-text .panel_4_1 .panel_title {
  left:10px;
}
.panel_4_1 .panel_title.double {
  top:9px !important;
}
.panel_4_1 .panel_title.small {
  font-size:11px;
  top:13px !important;
}
.panel_4_1 a {
  color:#444;
  display:block;
  height:49px;
  background:#f0f8fa;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}.panel_4_1 a:hover {
  background:#fff;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.panel_4_1 a::before {
  content:"";
  position:absolute;
  width:20px;
  height:49px;
  right:0;
  bottom:0;
  background:#c5dbe1;
	border-radius: 0 5px 5px 0;
}
.panel_4_1 a:hover::before {
  background:#2ec0dd;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.panel_4_1 a::after {
  content:"";
  position:absolute;
  bottom:50%;
  right:8px;
	width: 8px;
	height: 8px;
  margin-bottom:-5px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* panel_5_1 */
.panel_5_1 {
  position:relative;
  width:100%;
  margin:0 0 8px 0;
}
.panel_5_1 a {
  display:block;
  height:38px;
  background:#f0f8fa;
  line-height:38px;
  font-size:14px;
  padding:0 0 0 10px;
  color:#333;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
  font-weight:bold;
  text-decoration:none;
}.panel_5_1 a:hover {
  background:#fff;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.panel_5_1 a::before {
  content:"";
  position:absolute;
  width:20px;
  height:38px;
  right:0;
  bottom:0;
  background:#c5dbe1;
	border-radius: 0 5px 5px 0;
}
.panel_5_1 a:hover::before {
  background:#2ec0dd;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.panel_5_1 a::after {
  content:"";
  position:absolute;
  bottom:50%;
  right:8px;
	width: 8px;
	height: 8px;
  margin-bottom:-5px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* panel_2_2_5 */
.panel_2_2_5 {
  position:relative;
  width:100%;
  margin:0 0 6px 0;
}
.panel_2_2_5 a {
  display:block;
  height:30px;
  background:#f0f8fa;
  line-height:30px;
  font-size:14px;
  padding:0 0 0 10px;
  color:#333;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
  font-weight:bold;
  text-decoration:none;
}.panel_2_2_5 a:hover {
  background:#fff;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  text-decoration:none;
}

.panel_2_2_5 a::before {
  content:"";
  position:absolute;
  width:20px;
  height:30px;
  right:0;
  bottom:0;
  background:#c5dbe1;
	border-radius: 0 5px 5px 0;
}
.panel_2_2_5 a:hover::before {
  background:#2ec0dd;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.panel_2_2_5 a::after {
  content:"";
  position:absolute;
  bottom:50%;
  right:8px;
	width: 8px;
	height: 8px;
  margin-bottom:-5px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* --------------------------------------------------
row--page_link
-------------------------------------------------- */
.row--page_link {
  width:1000px;
  margin:40px auto 0 auto;
  text-align:right;
}
.row--page_link a {
  position:relative;
  padding:7px 32px 7px 12px;
  font-size:14px;
  color:#333;
  display:inline-block;
  background:#fff;
  border:1px solid #dbdada;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  text-decoration:none;
}.row--page_link a:hover {
  color:#0faac9;
}.row--page_link a:hover::before {
  background:#0faac9;
}
.row--page_link a::before {
  content:"";
  position:absolute;
  width:20px;
  height:100%;
  right:0;
  bottom:0;
  background:#2ec0dd;
	border-radius: 0 3px 3px 0;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.row--page_link a::after {
  content:"";
  position:absolute;
  bottom:50%;
  right:8px;
	width: 8px;
	height: 8px;
  margin-bottom:-4px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/* --------------------------------------------------
page-content
-------------------------------------------------- */
.page_wrapper {
  position:relative;
  margin:70px auto 0 auto;
}
.page_wrapper.trial {
  height:100%;
  border-top:1px solid #d6d6d6;
}

/*page-header*/
.page-header_wrapper {
  position:relative;
  width:100%;
  min-width:1000px;
  height:181px;
  background:#fff url(../images/common/bg-page_header.png) repeat-y 50% 0;
  border-bottom:1px solid #dadada;
}
.page-header {
  position:relative;
  width:1000px;
  height:auto;
  margin:0 auto;
}
.page-header_icon {
  width:180px;
  height:180px;
  padding:40px 0 0 0;
  background:#e8e8e8;
}
.page-header_data.one-row {
  width:1000px;
  height:180px;
  padding:40px 0 0 0;
  text-align:left;
}
.page-header_data {
  width:820px;
  height:180px;
  padding:40px 0 0 0;
  text-align:left;
}

.page-bread_crumb {
  list-style:none;
  padding:0 0 0 5px;
}
.page-bread_crumb li {
  font-size:12px;
  line-height:1em;
  padding:5px 0 5px 5px;
  display:inline-block;
  vertical-align:middle;
}
.page-bread_crumb li a.bc_home {
  text-indent:-9999px;
  display:inline-block;
  background:url(../images/common/ico-bc-home.svg) no-repeat 0 0;
  background-size:contain;
  width:1em;
  height:1em;
}
.page-bread_crumb li a {
  color:#00a6c7;
  text-decoration:none;
}
.page-bread_crumb li a:hover {
  text-decoration:underline;
}
.page-bread_crumb li::after {
  content:"";
  display:inline-block;
	width: 0.5em;
	height: 0.5em;
  margin-left:0.5em;
  margin-bottom:0.1em;
  vertical-align:middle;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.page-bread_crumb li:last-child::after {
  display:none;
}
.page-header_data h1.page-title {
  font-size:38px;
	font-family:
	'M+ P Type-2 (basic latin) Light',
	'M+ Type-2 (general-j) Light', sans-serif;
  font-weight:normal;
  color:#444;
  padding:35px 0 0 30px;
  line-height:1em;
}

/*page-content*/
.page_wrapper--inner-content {
  position:relative;
  width:100%;
  min-width:1000px;
  height:auto;
  background:#fff url(../images/common/bg-page_content.png) repeat-y 50% 0;
  border-top:1px solid #fff;
}.page_wrapper--inner-content.no-sub { background:none;} /*シングルカラムの場合*/

.page-content_wrapper {
  width:1000px;
  height:auto;
  margin:0 auto;
}
/* page_sub */
.page_sub {
  width:180px;
  background:#f7f7f7;
  border-right:1px solid #dadada;
}
.page_navigation-item {
  padding:0 0 20px 0;
}
.page_navigation-item h3 {
  background:#333;
  color:#fff;
  text-align:center;
  font-size:14px;
  line-height:1.3em;
  padding:8px 0;
}
.page_navigation-item h4 {
  background:#acacac;
  border-bottom:2px solid #959595;
  color:#fff;
  text-align:center;
  font-size:14px;
  line-height:1.3em;
  padding:5px 0;
}

/*list--page_navigation*/
.list--page_navigation {
  list-style:none;
}
.list--page_navigation li {
  border-bottom:2px solid #d1d1d1;
}
.list--page_navigation li a {
  position:relative;
  color:#333;
  background:#fff;
  display:block;
  border-left:15px solid #eaeaea;
  font-size:14px;
  line-height:1.3em;
  font-weight:bold;
  padding:15px 0 15px 10px;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  text-decoration:none;
}.list--page_navigation li.active a { background:#dff5fa;}
.list--page_navigation li.active a,
.list--page_navigation li a:hover {
  border-left:15px solid #00a6c7;
  text-decoration:none;
}
.list--page_navigation li a:hover {
   color:#00a6c7;
}
.list--page_navigation li a::before {
  content:"";
  position:absolute;
  left:-13px;
  top:50%;
  width:8px;
  height:8px;
  margin-top:-3px;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.list--page_navigation li.active a::before,
.list--page_navigation li a:hover::before {
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.list--page_navigation li a.kerning {
  letter-spacing:-0.1em;
}

/*list--page_sub_navigation*/
.list--page_sub_navigation {
  list-style:none;
}
.list--page_sub_navigation li {
  background:#fff;
  border-bottom:2px solid #fff;
  border-top:2px solid #fff;
	box-shadow: 0 2px 0 #d3d2d3;
  margin:0 0 2px 0;
}
.list--page_sub_navigation li a {
  position:relative;
  color:#444;
  background:#fff;
  display:block;
  font-size:14px;
  line-height:1.3em;
  padding:8px 10px;
  font-weight:bold;
  border-left:5px solid #acacac;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
  text-decoration:none;
}

.list--page_sub_navigation li.active {
  border-bottom:2px solid #dff5fa;
  border-top:2px solid #dff5fa;
}
.list--page_sub_navigation li.active a {
  background:#dff5fa;
  border-left:5px solid #00a6c7;
}
.list--page_sub_navigation li a:hover {
  color:#00a6c7;
  border-left:5px solid #00a6c7;
}

/*list--page_navigation-text*/
.list--page_navigation-text {
  list-style:none;
}
.list--page_navigation-text li {
  position:relative;
  font-size:12px;
  padding:0 10px 5px 15px;
}
.list--page_navigation-text li::before {
  content:"";
  position:absolute;
  left:0;
  top:1em;
  margin-top:-8px;
  width:8px;
  height:8px;
  background:#b5b5b5;
  border-radius:50%;
  border:2px solid #fff;
  
}
.list--page_navigation-text li a {
  color:#666;
  text-decoration:none;
}
.list--page_navigation-text li a:hover {
  text-decoration:underline;
}

/* page_content */
.page_content {
  width:820px;
  height:auto;
  padding:30px 30px 100px 30px;
}.page_wrapper--inner-content.no-sub .page_content { /*シングルカラムの場合*/
	width:1000px;
  height:auto;
  padding:30px 0 100px 0;
} 

.page_content-header-image {
  margin:0 auto;
}
.page_content--row {
  padding:0 0 60px 0;
}
.page_content--row_link {
  width:100%;
  height:auto;
  text-align:center;
}
.page_content--row h2.one-column {
  height:auto;
  font-size:24px;
  text-align:center;
}

.page_content-title {
  position:relative;
  border:1px solid #dbdada;
  padding:5px 0;
	box-shadow: 0 2px 0 #d3d2d3;
}
.page_content-title h2 {
  height:auto;
  padding:13px 15px 13px 15px;
  border-left:10px solid #00a6c7;
  font-size:24px;
}
.page_content-title > .title_link {
  position:absolute;
  right:15px;
  top:50%;
  margin-top:-22px;
}
.page_content-title > .title_link a {
  display:inline-block;
  font-size:14px;
	position:relative;
	border-radius:5px;
	text-align:center;
	padding:10px 40px 10px 20px;
	color:#fff;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
  background:#2ec0dd;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.page_content--row h3 {
  position:relative;
  padding:10px 10px 10px 15px;
  border:1px solid #dbdada;
	box-shadow: 0 2px 0 #d3d2d3;
  margin:20px auto 0 auto;
  font-size:18px;
}
.page_content--row h3::before {
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:5px;
  display:block;
  height:100%;
  background:#00a6c7;
}
.page_content--row h3 span.small {
  font-size:14px;
}

.page_content--row h4 {
  position:relative;
  font-size:16px;
  padding:6px 10px;
  border-left:3px solid #00a6c7;
	box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  margin:30px auto 0 auto;
}
.page_content--row h5 {
  position:relative;
  font-size:16px;
  margin:30px auto 0 auto;
  background:#e0f1f4;
}

/* --------------------------------------------------
Single Column
-------------------------------------------------- */
.page_content--row_main {
  width:730px;
}
.page_content--row_menu {
  width:240px;
}
.row_menu_item {
  width:240px;
  height:auto;
  padding:0 0 20px 0;
}
.menu_item-title {
  border:1px solid #dbdada;
  padding:3px;
}
.menu_item-title h3 {
  border:none !important;
  border-left:5px solid #00a6c7 !important;
  padding:5px 10px !important;
  box-shadow:none !important;
  margin:0 !important;
  font-size:14px !important;
}
.menu_item-title h3::before {
  display:none !important;
}
.menu_item-data {
  border:1px solid #dbdada;
  background:#fafafa;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
  padding:0 15px 15px 15px;
}
.menu_item-data h4 {
  margin:10px auto 0 auto;
  color:#555;
  padding:0 0 5px 0;
  font-size:14px !important;
  border-left:none !important;
  border-bottom:1px solid #dbdada !important;
  box-shadow:none !important;
}
.menu_item-data p {
  margin:10px auto 0 auto;
  font-size:12px;
}
.list--fileset {
  list-style:none;
  padding:2px 0 0 0;
}
.list--fileset li {
  font-size:12px;
  margin:5px auto 0 auto;
}
.list--fileset li span {
  padding:0 0 0 5px;
  font-size:10px;
}
.list--fileset li a.pdf {
  background:url(../images/common/icn_pdf.png) no-repeat 0 0.25em;
  padding:0 0 0 15px;
}
.list--fileset li a.link {
  position:relative;
  padding:0 0 0 15px;
}
.list--fileset li a.link::after {
  content:"";
  position:absolute;
  top:0.5em;
	left:0.2em;
	width:0.5em;
	height:0.5em;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/* --------------------------------------------------
Footer
-------------------------------------------------- */
.site_footer {
	width:100%;
	height:auto;
	background:#e4e4e4;
}
.site_footer--inner {
	width:1000px;
	height:auto;
	margin:0 auto;
	padding:40px 0;
}

/*site_footer_logo*/
.site_footer_logo {
	width:150px;
	height:auto;
	margin:0 auto;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.site_footer_logo img {
  width:150px;
	height:auto;
}
.site_footer_logo:hover {
	opacity:0.75;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

/*sitemap_item*/
.wrap--footer_sitemap {
  position:relative;
	width:1000px;
  height:auto;
  margin:40px auto 0 auto;
}

.footer_regist-item {
  width:220px;
	margin:0 auto;
}

/*sitemap_item*/
.list--footer_sitemap_item {
  width:750px;
	list-style:none;
	margin:0 auto;
}
.list--footer_sitemap_item li {
	width:250px;
	height:auto;
	padding:0 15px 40px 15px;
}
.list--footer_sitemap_item li h3 {
	color:#333333;
	font-size:18px;
	border-left:10px solid #1bb5d4;
	background:#fff;
	padding:5px 10px;
	letter-spacing:0.1em;
}
.list--footer_sitemap_item li h4 {
	font-size:14px;
	border-bottom:5px solid #1bb5d4;
	text-align:center;
	background:#fff;
	padding:5px 10px;
	letter-spacing:0.1em;
}

/*sitemap_menu*/
.list--footer_sitemap_menu {
	list-style:none;
	margin:10px auto 0 auto;
}
.list--footer_sitemap_menu li {
	position:relative;
	font-size:14px;
	padding:0 0 5px 18px;
}
.list--footer_sitemap_menu li a {
	color:#444;
  text-decoration:none;
}
.list--footer_sitemap_menu li a:hover {
	text-decoration:underline;
}
.sitemap_menu--text {
	font-size:12px;
	margin:10px auto 0 auto;
}
.list--footer_sitemap_menu li::after,
.list--footer_sitemap_menu li::before {
	display: block;
	content: '';
	position: absolute;
}
.list--footer_sitemap_menu li::after {
	top: 12px;
	left: 0;
	width: 12px;
	height: 12px;
	margin-top:-8px;
	background-color: #fff;
	border-radius: 100%;
}
.list--footer_sitemap_menu li::before {
	z-index: 2;
	top: 12px;
	left: 3px;
	width: 4px;
	height: 4px;
	margin-top:-4px;
	border-right: 1px solid #1bb5d4;
	border-bottom: 1px solid #1bb5d4;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*free_trial*/
.sitemap_menu_wrap--free_trial {
	width:100%;
	height:auto;
	margin:20px auto 0 auto;
}
.sitemap_menu_wrap--free_trial h4 {
  background:#fff;
  border-bottom:3px solid #1bb5d4;
  text-align:center;
  padding:8px 0;
}
.sitemap_menu_wrap--free_trial input[type="text"] {
  width:100%;
	height:auto;
	margin:5px auto 0 auto;
	background:#cfcfcf;
	padding:10px;
	border-top:2px solid #c2c2c2;
}
.sitemap_menu_wrap--free_trial input[type="submit"] {
	width:100%;
	margin:5px auto 0 auto;
	cursor:pointer;
}

/*rule_footer*/
.site_footer--rule_footer {
	width:100%;
	height:auto;
	background:#777777;
}
.rule_footer--inner {
	width:1000px;
	height:auto;
	margin:0 auto;
	padding:30px 0;
	color:#fff;
}

/*list--rule_footer*/
.list--rule_footer {
	list-style:none;
}
.list--rule_footer li {
	display:inline-block;
	font-size:14px;
	padding:0 20px 0 0;
	vertical-align:top;
}
.list--rule_footer li a {
	color:#fff;
	text-decoration:underline;
}
.list--rule_footer li a:hover {
	text-decoration:none;
}

/*copyright*/
small.copyright {
	font-size:14px;
}
small.copyright a {
	color:#2ec0dd;
}


/* --------------------------------------------------
Pagetop
-------------------------------------------------- */
.page_top {
  position:fixed;
  z-index:9999;
  width:50px;
  height:50px;
  right:15px;
  bottom:15px;
  margin:0;
  padding:0;
}
.page_top a {
  display:block;
  background:#fff;
  width:50px;
  height:50px;
  border-radius:50%;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
  margin:0;
  padding:0;
}
.page_top a img {
  width:50px;
  height:50px;
}
.page_top a:hover img {
  opacity:0.5;
}

/* --------------------------------------------------
IE6,7 Alert
-------------------------------------------------- */
#dropSupport {
	width:100%;
	height:auto;
	color:#fff;
	background:#333;
	text-align:center;
	padding:10px;
}