@charset "UTF-8";

/* //////////////////////////////////////////////////
Cybozu, Inc. WEB SITE 2016
COPYRIGHT © Cybozu, Inc.
ALL RIGHTS RESERVED.
////////////////////////////////////////////////// */

/* --------------------------------------------------
Import PC
-------------------------------------------------- */
@import url("sanitize.css?v=2016110101") screen and (min-width:1001px);
@import url("main.css?v=2016110101") screen and (min-width:1001px);
@import url("frame.css?v=2016110101") screen and (min-width:1001px);
@import url("top.css?v=2016110101") screen and (min-width:1001px);
@import url("contents.css?v=2016110101") screen and (min-width:1001px);
@import url("trial.css?v=2016110101") screen and (min-width:1001px);
@import url("form.css?v=2016110101") screen and (min-width:1001px);


/* --------------------------------------------------
Import Tablet
-------------------------------------------------- */
@import url("sanitize.css?v=2016110101") screen and (min-width: 768px) and (max-width:1000px);
@import url("main.css?v=2016110101") screen and (min-width: 768px) and (max-width:1000px);
@import url("tablet/frame.css") screen and (min-width: 768px) and (max-width:1000px); /*tablet original*/
@import url("tablet/trial.css") screen and (min-width: 768px) and (max-width:1000px); /*tablet original*/
@import url("top.css") screen and (min-width: 768px) and (max-width:1000px);
@import url("contents.css") screen and (min-width: 768px) and (max-width:1000px);
@import url("form.css") screen and (min-width: 768px) and (max-width:1000px);


/* --------------------------------------------------
Import SP
-------------------------------------------------- */
@import url("sanitize.css?v=2016110101") screen and (max-width:767px);
@import url("smartphone/main.css?v=2016110101") screen and (max-width:767px);
@import url("smartphone/frame.css") screen and (max-width:767px);
@import url("smartphone/top.css") screen and (max-width:767px);
@import url("smartphone/contents.css") screen and (max-width:767px);
@import url("smartphone/trial.css") screen and (max-width:767px);
@import url("smartphone/form.css") screen and (max-width:767px);