@charset "UTF-8";
/* 超ヘッダー */

/* YUI 3.6.0 (build 5521) http://yuilibrary.com/license/ */
#spHeader html{color:#000;background:#FFF}#spHeader body,#spHeader div,
#spHeader dl,#spHeader dt,#spHeader dd,#spHeader ul,#spHeader ol,
#spHeader li,#spHeader h1,#spHeader h2,#spHeader h3,#spHeader h4,
#spHeader h5,#spHeader h6,#spHeader pre,#spHeader code,#spHeader form,
#spHeader fieldset,#spHeader legend,#spHeader input,#spHeader textarea,
#spHeader p,#spHeader blockquote,#spHeader th,#spHeader td{margin:0;padding:0}
#spHeader table{border-collapse:collapse;border-spacing:0}#spHeader fieldset,
#spHeader img{border:0}#spHeader address,#spHeader caption,#spHeader cite,
#spHeader code,#spHeader dfn,#spHeader em,#spHeader strong,#spHeader th,
#spHeader var{font-style:normal;font-weight:normal}#spHeader ol,#spHeader ul{list-style:none}
#spHeader caption,#spHeader th{text-align:left}#spHeader h1,#spHeader h2,#spHeader h3,
#spHeader h4,#spHeader h5,#spHeader h6{font-size:100%;font-weight:normal}#spHeader q:before,
#spHeader q:after{content:''}#spHeader abbr,#spHeader acronym{border:0;font-variant:normal}
#spHeader sup{vertical-align:text-top}#spHeader sub{vertical-align:text-bottom}#spHeader input,
#spHeader textarea,#spHeader select{font-family:inherit;font-size:inherit;font-weight:inherit}
#spHeader input,#spHeader textarea,#spHeader select{*font-size:100%}#spHeader legend{color:#000}
#yui3-css-stamp.cssreset-context{display:none}

/* 追加リセット */
#spHeader img { vertical-align: bottom; }
#spHeader strong,#spHeader em,#spHeader h1,
#spHeader h2,#spHeader h3,#spHeader h4,#spHeader h5,
#spHeader h6 { font-weight: bold; }


#spHeader {
  position: relative;
  color: #dadada;
  background: #000;
  font-size: 12px;
  line-height: 1.1;
  z-index: 9999;
  /zoom: 1;
}
#spHeader * {
  color: #dadada;
}
#spHeader .inner {
  width: 980px;
  margin: 0 auto;
}
#spHeader a {
  color: #dadada;
}
#spHeader strong {
  color: #fff;
}
#spHeader .sh-links {
  float: left;
}
#spHeader .sh-links dt,
#spHeader .sh-links dd {
  float: left;
  position: relative;
  padding: 12px 0 13px;
}
#spHeader .sh-links dt + dt a,
#spHeader .sh-links dt + dt span {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #666;
}
#spHeader .sh-links dd a,
#spHeader .sh-links dd span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #666;
}
#spHeader .sh-links a:hover {
  color: #fff;
}
#spHeader .sh-links #show-more-services {
  cursor: pointer
}
#spHeader .sh-links #show-more-services:hover {
  text-decoration: underline;
  color: #fff;
}
#spHeader .sh-links dd .sh-more {
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
  left: -10px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .1);
  background: #111;
  background: rgba(69, 69, 69, .9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
#spHeader .sh-links dd .sh-more li a {
  display: block;
  margin: 0;
  padding: 9px 10px;
  border: none;
  text-decoration: none;
}
#spHeader .sh-links dd .sh-more li a:hover {
  color: #fff;
  background: #000;
}
#spHeader .sh-search {
  float: right;
  padding-top: 8px;
  /*width:250px;*/
}

#spHeader:after,
#spHeader .sh-links:after {
  content: "";
  display: block;
  clear: both;
}


/* 検索ボックス共通 */
body .gstl_50.gssb_c  {
  z-index: 10000;
}

/*.gsc-input-box .gsib_b #gs_cb50 {
  display:none !important;
}*/

/* 検索ボックス基本スタイル */
#spHeader form.gsc-search-box {
  background: #fff;
  height:21px;
  width:173px !important;
  -webkit-transition: width .1s ease-in-out;
  -moz-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
}
#spHeader form.gsc-search-box.expand {
  width:220px !important;
}
#spHeader .gsc-input-box {
  border: none !important;
  height:21px !important;
  box-shadow:none !important;
}
#spHeader .gsc-input-box-hover,
#spHeader .gsc-input-box-focus {
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
}
#spHeader .gsc-input-box > table {
  table-layout: fixed;
}
#spHeader .gsc-input {
  padding-left:2px !important;
  width:100%;
  border:none !important;
  outline: none !important;
}
#spHeader .gsc-search-button  {
  position: relative;
  z-index: 10000;
}
#spHeader .gsc-search-button-v2 {
  width: 0 !important;
  height: 0 !important;
  padding: 10px 4px !important;
  margin: 0 !important;
  display: block !important;
  background: transparent url(icon_search.gif) no-repeat 50% 50% !important;
  border:none !important;
  filter: none !important;
}
#spHeader .gsc-search-box .gsc-input>input:focus input,
#spHeader .gsc-input-box-focus input {
  color:#222 !important;
}
#spHeader .gsc-input-box > table {
  height:100%;
}
#spHeader .gsc-input-box input {
  /*height: 100% !important;*/
  margin: 0 !important;
}
#spHeader .gssb_c {
  z-index:10000 !important;
}
#spHeader #gs_tti50 {
  width:130px;
  -webkit-transition: width .1s ease-in-out;
  -moz-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
}
#spHeader form.gsc-search-box.expand #gs_tti50 {
  width:177px;
}
#spHeader #gs_cb50 {
  position: relative;
  top: 3px;
  /*right: 23px;*/
}
#spHeader .gsc-search-box .gsc-input>input:hover,
#spHeader .gsc-input-box-hover {
/*  -moz-box-shadow:1px 1px 0 #ddd !important;
  -webkit-box-shadow:1px 1px 0 #ddd !important;
  box-shadow: inset 1px 1px 0 #ddd !important;*/
  outline: none !important;
}
#spHeader .gsc-search-box .gsc-input>input:focus,
#spHeader .gsc-input-box-focus {
  outline: none !important;
}
#spHeader .gsc-input-box .gsib_b {
  display:none;
}

.gsc-completion-container td.gssb_a div {
  background-position: 0% 100% !important;
}


/* 検索ボックス別スタイル（.com） */
.type01 form.gsc-search-box {
  height:21px;
  width:140px !important;
  -webkit-transition: width .1s ease-in-out;
  -moz-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
}
.type01 form.gsc-search-box.expand {
  width:212px !important;
}
.type01 .gsc-input-box {
  border: none !important;
  height:21px !important;
  box-shadow:none !important;
}
.type01 .gsc-input-box-hover,
.type01 .gsc-input-box-focus {
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
}
.type01 .gsc-input-box > table {
  table-layout: fixed;
}
.type01 .gsc-input {
  vertical-align:top;
  padding-left:2px !important;
  padding-right:0 !important;
  width:100%;
  border:none !important;
  outline: none !important;
  background:none;
}
.type01 .gsc-search-button  {
  position: relative;
  z-index: 10000;
}
.type01 .gsc-search-button-v2 {
  width: 0 !important;
  height: 0 !important;
  padding: 15px 10px !important;
  margin: 0 !important;
  display: block !important;
  background: transparent url(icon_search.gif) no-repeat 50% 50% !important;
  border:none !important;
  filter: none !important;
}
.type01 .gsc-search-box .gsc-input>input:focus input,
.type01 .gsc-input-box-focus input {
  color:#222 !important;
}
.type01 .gsc-input-box > table {
  height:100%;
}
.type01 .gsc-input-box input {
  /*height: 100% !important;*/
  margin: 0 !important;
}
.type01 .gssb_c {
  z-index:10000 !important;
}
.type01 #gs_tti50 {
  width:97px;
  -webkit-transition: width .1s ease-in-out;
  -moz-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
}
.type01 form.gsc-search-box.expand #gs_tti50 {
  width:169px;
}
.type01 #gs_cb50 {
  position: relative;
  top: 3px;
  /*right: 23px;*/
}
.type01 .gsc-search-box .gsc-input>input:hover,
.type01 .gsc-input-box-hover {
/*  -moz-box-shadow:1px 1px 0 #ddd !important;
  -webkit-box-shadow:1px 1px 0 #ddd !important;
  box-shadow: inset 1px 1px 0 #ddd !important;*/
  outline: none !important;
}
.type01 .gsc-search-box .gsc-input>input:focus,
.type01 .gsc-input-box-focus {
  outline: none !important;
}
.type01 .gsc-input-box .gsib_b {
  display:none;
}

.type01 .gsc-completion-container td.gssb_a div {
  background-position: 0% 100% !important;
}


/* 検索ボックス別スタイル（.com / smartphone ） */
.sp-search .type01 form.gsc-search-box {
  height:30px;
  width:80% !important;
  margin:0 auto;
  background:#fff;
  border-radius:5px;
}
.sp-search .type01 .gsc-input-box {
  border: none !important;
  height:21px !important;
  box-shadow:none !important;
}
.sp-search .type01 .gsc-input-box-hover,
.sp-search .type01 .gsc-input-box-focus {
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
}
.sp-search .type01 .gsc-input-box > table {
  table-layout: fixed;
}
.sp-search .type01 .gsc-input {
  vertical-align:top;
  padding-left:2px !important;
  padding-right:0 !important;
  width:100%;
  border:none !important;
  outline: none !important;
  background:none;
}
.sp-search .type01 .gsc-search-button  {
  position: relative;
  z-index: 10000;
}
.sp-search .type01 .gsc-search-button-v2 {
  width: 0 !important;
  height: 0 !important;
  padding: 15px 10px !important;
  margin: 0 !important;
  display: block !important;
  background: transparent url(icon_search.gif) no-repeat 50% 50% !important;
  border:none !important;
  filter: none !important;
}
.sp-search .type01 .gsc-search-box .gsc-input>input:focus input,
.sp-search .type01 .gsc-input-box-focus input {
  color:#222 !important;
}
.sp-search .type01 .gsc-input-box > table {
  height:100%;
}
.sp-search .type01 .gsc-input-box input {
  /*height: 100% !important;*/
  margin: 0 !important;
}
.sp-search .type01 .gssb_c {
  z-index:10000 !important;
}
.sp-search .type01 #gs_tti50 {
  width:97px;
  -webkit-transition: width .1s ease-in-out;
  -moz-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
}
.sp-search .type01 form.gsc-search-box.expand #gs_tti50 {
  width:169px;
}
.sp-search .type01 #gs_cb50 {
  position: relative;
  top: 3px;
  /*right: 23px;*/
}
.sp-search .type01 .gsc-search-box .gsc-input>input:hover,
.sp-search .type01 .gsc-input-box-hover {
/*  -moz-box-shadow:1px 1px 0 #ddd !important;
  -webkit-box-shadow:1px 1px 0 #ddd !important;
  box-shadow: inset 1px 1px 0 #ddd !important;*/
  outline: none !important;
}
.sp-search .type01 .gsc-search-box .gsc-input>input:focus,
.sp-search .type01 .gsc-input-box-focus {
  outline: none !important;
}
.sp-search .type01 .gsc-input-box .gsib_b {
  display:none;
}

.sp-search .type01 .gsc-completion-container td.gssb_a div {
  background-position: 0% 100% !important;
}


/* 検索ボックス別スタイル（kintone/garoon） */
.type02 .gsc-search-box {
  background: none !important;
  height:24px;
  width:237px !important;
  margin-left:5px;
}
.type02 .gsc-input-box {
  border: none !important;
  height:21px !important;
  box-shadow:none !important;
  background:none;
}
.type02 .gsc-input-box-hover,
.type02 .gsc-input-box-focus {
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
}
.type02 .gsc-input-box > table {
  table-layout: fixed;
}
.type02 .gsc-input {
  padding-left:2px !important;
  width:100%;
  border:none !important;
  outline: none !important;
}
.type02 .gsc-search-button  {
  position: relative;
  z-index: 10000;
}
.type02 .gsc-search-button-v2 {
  width: 0 !important;
  height: 0 !important;
  padding: 10px 4px !important;
  margin: 0 !important;
  display: block !important;
  background: url(btn_search.png) no-repeat 50% 50% !important;
  border:none !important;
}
.type02 .gsc-search-box .gsc-input>input:focus input,
.type02 .gsc-input-box-focus input {
  color:#222 !important;
}
.type02 .gsc-input-box > table {
  height:100%;
}
.type02 .gsc-input-box input {
  /*height: 100% !important;*/
  margin: 0 !important;
}
.type02 .gssb_c {
  z-index:10000 !important;
}
.type02 #gs_tti50 {
  width:188px;
  padding:1px 0 0 0 !important;
}
.type02 #gs_tti50 input.gsc-input {
  background-color:transparent !important;
  font-size: 14px !important;
  line-height: 1.0;
}
.type02 #gs_cb50 {
  position: relative;
  top: 2px;
  /*right: 23px;*/
}
.type02 .gsst_a {
  padding-top:0;
}
.type02 .gsc-search-box .gsc-input>input:hover,
.type02 .gsc-input-box-hover {
/*  -moz-box-shadow:1px 1px 0 #ddd !important;
  -webkit-box-shadow:1px 1px 0 #ddd !important;
  box-shadow: inset 1px 1px 0 #ddd !important;*/
  outline: none !important;
}
.type02 .gsc-search-box .gsc-input>input:focus,
.type02 .gsc-input-box-focus {
 /* -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3) !important;*/
  outline: none !important;
}
.type02 .gsc-input-box .gsib_b {
  display:none;
}

.type02 .gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right:2px !important;
}

