@charset "UTF-8";

/* //////////////////////////////////////////////////
Cybozu, Inc. WEB SITE 2016
COPYRIGHT © Cybozu, Inc.
ALL RIGHTS RESERVED.
////////////////////////////////////////////////// */

/* --------------------------------------------------
trial
-------------------------------------------------- */
body.trial .container {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background:#f7f7f7;
}
body.trial .container .site-wrapper {
  padding-bottom:84px;
}
body.trial .site_footer {
  position:absolute;
  bottom:0;
}

/* --------------------------------------------------
trial
-------------------------------------------------- */
.wrap--trial_content {
  text-align:center;
  margin:40px auto 0 auto;
}
.trial_content-title {
  display:inline-block;
}
.trial_content-title h1 {
  font-size:38px;
}
.trial_content-title h1.wait-text {
  background:#5ec4dd;
  color:#fff;
  padding:15px 45px;
	text-shadow: 0 2px 0 rgba(0,0,0,0.2);
  border-radius:2px;
}
.trial_content-title h1.wait-text span.super {
  color:#ffde00;
}
.trial_content-title .trial-lead {
  width:100%;
  background:#5ec4dd;
  color:#fff;
  font-size:20px;
  padding:10px 0;
  font-weight:bold;
  border-radius:2px;
}

/* trial_form */
.trial_form {
  margin:40px auto 0 auto;
}
.trial_form-form {
  width:500px;
  margin:0 auto;
}
.trial_form-title {
  font-size:22px;
}
.trial_form-title span.super {
  font-weight:bold;
}
.trial_form-title .super_caution {
  font-size:28px;
  font-weight:bold;
  border-bottom:3px solid #d02525;
  color:#d02525;
}
.trial_form-image {
  margin:30px auto 0 auto;
}


/* list--step_trial */
.list--step_trial {
  list-style:none;
  margin:40px auto 0 auto;
}
.list--step_trial li {
  width:30%;
}
.step_trial-head {
  position:relative;
}
.step_trial-head .step-number {
  position:absolute;
  top:0;
  left:0;
  color:#fff;
  background:#00A6C9;
  border-radius:50%;
  width:50px;
  height:50px;
  font-size:12px;
  line-height:1em;
  padding:10px 0 0 0;
}
.step_trial-head .step-number span {
  display:block;
  font-size:24px;
  padding:5px 0 0 0;
}
.step_trial-head .step_trial-title {
  padding:0 0 0 60px;
  font-size:22px;
  text-align:left;
  line-height:1.3em;
  font-weight:bold;
}
.step_trial-head .step_trial-title.single {
  line-height:2.6em;
}
.step_trial-image {
  position:relative;
  margin:15px auto 0 auto;
  background:#fff;
  border-radius:10px;
  width:100%;
  height:auto;
}
.step_trial-image::after {
  content:"";
  position:absolute;
  right:-30px;
  top:50%;
  margin-top:-12px;
  width:24px;
  height:24px;
	border-right: 5px solid #ddd;
	border-bottom: 5px solid #ddd;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.list--step_trial li:last-child .step_trial-image::after {
  display:none;
}

/* form-caution */
.trial_form-caution {
  font-size:14px;
}

/* form-caution */
.trial_link {
  margin:40px auto 0 auto;
}

/* trial_caution */
.trial_caution {
  width:600px;
  margin:15px auto 0 auto;
  font-size:14px;
  background:#fff;
  padding:15px;
  border:1px solid #dadada;
}
.trial_caution-title {
  font-weight:bold;
}
.trial_caution-text {
  font-size:12px;
  margin:5px auto 0 auto;
}

#trial-signup-error {
  color:#d30000;
}
#trial-signup-error p {
  margin:0 0 20px 0;
  background:#f9ebeb;
  padding:10px;
  border:1px solid #ecc1c1;
}