tr.tableheader
{
	background: url(topban00.jpg);
}
img.preview
{
	border-color: black;
	border-style: solid;
	border-width: 1px;
}
body, div, h1, h2, h3, h4, h5, h6, p, ul, li, dd, dt
{
	font-family: verdana, sans-serif;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4
{
	font-family: Tahoma;
}
body
{
	background-image: url(bg000000.png);
	font-family: "Arial", sans-serif;
	font-size: 80%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0;
}
a:link
{
	color: #009;
	text-decoration: none;
}
.blacklisted-tags-disabled
{
	color: #AAA !important;
}
a:visited
{
	color: #009;
	text-decoration: none;
}
a:hover
{
	color: black;
	text-decoration: none;
}
a:active
{
	color: #009;
	text-decoration: none;
}
a.last-page
{
	color: #666;
}
a.spoiler
{
	background: black;
	color: black;
	cursor: text;
}
a.spoiler:hover
{
	color: white;
}
addr
{
	display: block;
	font-weight: bold;
	margin-left: 2em;
}
code
{
	font-family: monospace;
	font-size: 1.2em;
}
dd
{
	margin-bottom: 1em;
}
dt
{
	font-weight: bold;
}
dt.bad
{
	color: red;
}
h1
{
	font-size: 2em;
}
h2
{
	font-size: 1.8em;
}
h2.wiki-title
{
	color: #003DD8;
	margin-bottom: 0.25em;
}
h3
{
	font-size: 1.6em;
}
h4
{
	font-size: 1.4em;
}
h5
{
	font-size: 1.2em;
}
h6
{
	font-size: 1em;
}
img
{
	border: none;
	vertical-align: middle;
}
img.flagged
{
	border: 3px solid #F00 !important;
}
img.has-children
{
	border: 3px solid #0F0;
}
img.has-parent
{
	border: 3px solid #CC0;
}
img.pending
{
	border: 3px solid #00F;
}
img.preview
{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin: auto;
}
input
{
	padding: 0 0.3em;
}
input[type=password]:focus
{
	background: #FFC;
}
input[type=text]:focus
{
	background: #FFC;
}
label
{
	font-weight: bold;
	white-space: nowrap;
}
li
{
	margin-left: 1em;
}
ol
{
	margin-left: 1em;
}
p
{
	margin-bottom: 1em;
}
span.author
{
	color: #AAA;
}
span.date
{
	color: #AAA;
}
span.locked-topic
{
	color: #666;
}
span.informational
{
	cursor: help;
}
span.post-count
{
	color: #AAA;
}
span.spoiler
{
	background: black;
	color: black;
	cursor: text;
}
span.spoiler:hover
{
	color: white;
}
span.thumb
{
	display: inline-block;
	float: left;
	height: 180px;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	width: 180px;
}
span.plid
{
	display: none;
}
span.unread-topic
{
	font-weight: bold;
}
span.blacklisted-image
{
	background: url('blacklisted.png') no-repeat top;
}
strong.divider
{
	color: gray;
	font-weight: bold;
}
table
{
	margin-bottom: 2em;
}
table.form
{
	width: 70em;
}
table.form p
{
	font-size: 0.8em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
table.form th
{
	color: black;
	padding-right: 1em;
	text-align: right;
	white-space: normal;
}
table.highlightable
{
	border-collapse: collapse;
	border-spacing: 0;
}
table.highlightable > tbody > tr:hover
{
	background: #7FB17E;
}
table.highlightable th
{
	color: #fff;
}
table.highlightable td
{
	border: 1px dotted #EEE;
	margin: 0;
}
table.highlightable th
{
	margin: 0;
}
table td
{
	padding: 1px 4px;
	vertical-align: top;
}
table th
{
	font-weight: bold;
	padding: 0.2em 0.5em;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}
table tr.good
{
	background: rgb(230, 255, 230);
}
table tr.selected
{
	background: #AEE !important;
}
table tr.highlight
{
	background: #FFD;
}
table tr.pending-tag
{
	background: #dcf6dc;
}
textarea
{
	display: block;
	font-family: monospace;
	font-size: 1.2em;
	padding: 0 0.3em;
}
textarea.no-block
{
	display: inline;
}
textarea:focus
{
	background: #FFC;
}
ul
{
	margin-bottom: 1em;
}
ul.bare-list li
{
	list-style-type: none;
}
ul.flat-list
{
	display: block;
	margin: 0;
	padding: 0;
}
ul.flat-list li
{
	display: inline;
	font-weight: bold;
	list-style-type: none;
	margin: 0 1em 0 0;
	padding: 0;
}
ul.flat-list li a
{
	font-weight: normal;
}
ul.flat-list li a.forum-update
{
	font-style: italic;
}
ul.link-page
{
	font-size: 1.2em;
	font-weight: bold;
}
ul.link-page > li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.obsolete-tag-change
{
	color: #000;
}
.tag-type-artist > a,a.tag-type-artist
{
	color: #A00;
}
.tag-type-artist > a:hover
{
	color: #9093FF;
}
.tag-type-character > a
{
	color: #0A0;
}
.tag-type-character > a:hover
{
	color: #9093FF;
}
.tag-type-copyright > a
{
	color: #A0A;
}
.tag-type-copyright > a:hover
{
	color: #9093FF;
}
.added-tags
{
	color: #00CC00;
}
.removed-tags
{
	color: #ff0000;
}
.unchanged-tags
{
	font-size: 0.8em;
}
.added-tags
{
	color: #00cc00;
}
.removed-tags
{
	color: #ff0000;
}
.unchanged-tags
{
	font-size: 0.8em;
}
.history-search-row
{
	bottom: 0;
	clear: left;
	margin: 0;
}
.history-search-label
{
	float: left;
	width: 10%;
}
div#artist-index > table td
{
	white-space: nowrap;
}
div.auto_complete
{
	background: #fff;
	width: 350px;
}
div.auto_complete ul
{
	border: 1px solid #888;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
div.auto_complete ul li
{
	margin: 0;
	padding: 3px;
}
div.auto_complete ul li.selected
{
	background-color: #ffb;
}
div.auto_complete ul strong.highlight
{
	color: #800;
	margin: 0;
	padding: 0;
}
div.blocked
{
	background: #FCC;
	border: 2px solid #F00;
	color: #F00;
	font-size: 1.2em;
	margin: 1em;
	padding: 1em;
	text-align: center;
}
div#comment-list > div.post
{
	clear: left;
	float: left;
	margin-bottom: 3em;
}
div#comment-list > div.post > div.col1
{
	clear: left;
	float: left;
	width: 200px;
}
div#comment-list > div.post > div.col2
{
	float: left;
	width: 50em;
}
div#comment-list > div.post > div.col2 > div.header
{
	margin-bottom: 1em;
}
div#comment-list > div.post > div.col2 > div.header > div > span.info
{
	margin-right: 1em;
}
div#comment-list > div.post > div.col2 > div.header > div.tags > span
{
	margin: 0 0.5em 0 0;
}
div#content
{
	padding: 0 20px 30px 20px;
}
div.content
{
	float: left;
	margin: 0;
	width: 77%;
}
div#footer
{
	clear: both;
	color: #CCC;
	font-size: 120%;
	margin-top: 1em;
	text-align: center;
}
div#footer > .footer-disabled
{
	color: #777777;
}
div#footer > #label
{
	color: #777777;
}
div#forum > table th:first-child
{
	text-align: left;
}
div#forum > table td:first-child
{
	text-align: left;
}
div.has-mail
{
	background: #EFE;
	border: 2px solid #AFA;
	font-size: 1.5em;
	margin: 1em;
	padding: 1em;
	text-align: center;
}
div#header
{
	background: url(bgtop000.jpg);
	margin-bottom: 1em;
}
div#header #site-title
{
	padding: 10px 20px 0px 20px;
	background-image: url("images/topb.png");
        background-repeat: no-repeat;
        background-position: 120px 0px; 
}
div#header ul#navbar
{
	margin: 0;
	padding: 5px 20px 3px 10px;
}
div#header ul#navbar li
{
	font-size: 120%;
	margin: 0;
	padding: 2px 10px 3px 10px;
}
div#header ul#navbar li.current-page
{
	background-image: url(topban00.jpg);
}
div#header ul#navbar li.current-page a
{
	color: #fff;
	font-weight: bold;
}
div#header ul#subnavbar
{
	background-image: url(topban00.jpg);
	margin: 0 0 1em 0;
	padding: 5px 20px 5px 15px;
}
div#header ul#subnavbar li
{
	padding: 0 5px;
}
div#header ul#subnavbar li a
{
}
div#header ul#subnavbar li a:hover
{
	color: black;
}
div.help
{
	margin-top: 2em;
	width: 40em;
}
div.help a.code
{
	font-family: monospace;
}
div.help div.code
{
	background: #EEE;
	border: 1px dashed green;
	font-family: monospace;
	margin: 1em 0;
	overflow: hidden;
	padding: 1em 2em;
}
div.help > div.section
{
	margin-bottom: 4em;
}
div.help > div.section > div.section
{
	margin-bottom: 2em;
}
div.help h1,div.help h2,div.help h3,div.help h4
{
	margin: 0 0 0.5em 0;
}
div.help h4
{
	color: #060;
}
div#info
{
	font-style: italic;
}
div.mail .received
{
	color: #060;
}
div.mail .sent
{
	color: #600;
}
div#mail-show div.message
{
	margin-bottom: 4em;
}
div#notice
{
	color: red;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
	padding-left: 20px;
}
div.page
{
	width: 40em;
}
div#paginator
{
	clear: both;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 2em 0 1em 0;
	text-align: center;
}
div#paginator a
{
	border: 1px solid black;
	font-weight: normal;
	margin: 0 3px;
	padding: 2px 6px;
}
div#paginator a.arrow
{
	border: none;
}
div#paginator a.arrow:hover
{
	background: white;
	color: #9093FF;
}
div#paginator a.current
{
	border: 1px solid #AAA;
}
div#paginator a:hover
{
	background: #7FB17E;
	color: white;
}
div#paginator span
{
	margin: 0 3px;
	padding: 2px 6px;
}
div#post-add p#scale
{
	color: #999;
	font-style: italic;
}
div#post-popular > h3
{
	margin-bottom: 1em;
	text-align: center;
}
div#post-view > div#right-col > div > div#note-container
{
	position: absolute;
}
div#post-view > div#right-col > div > div#note-container > div.note-body
{
	background: #FFE;
	border: 1px solid black;
	cursor: pointer;
	display: none;
	max-width: 300px;
	min-height: 10px;
	min-width: 140px;
	overflow: auto;
	padding: 5px;
	position: absolute;
}
div#post-view > div#right-col > div > div#note-container > div.note-body > p.tn
{
	color: gray;
	font-size: 0.8em;
}
tn
{
	color: gray;
	font-size: 0.8em;
}
div#post-view > div#right-col > div > div#note-container > div.note-box
{
	background: #FFE;
	border: 1px solid black;
	cursor: move;
	height: 150px;
	position: absolute;
	width: 150px;
}
div#post-view > div#right-col > div > div#note-container > div.note-box > div.note-corner
{
	background: black;
	bottom: 0;
	cursor: se-resize;
	height: 7px;
	position: absolute;
	right: 0;
	width: 7px;
}
div#post-view > div#right-col > div > div#note-container > div.unsaved
{
	background: #FFF;
	border: 1px solid red;
}
div#post-view > div#right-col > div > div#note-container > div.unsaved > div.note-corner
{
	background: red;
}
div#post-view > div#right-col > div > img
{
	margin-right: 5em;
}
div#post-view > div#right-col > div#edit
{
	margin-bottom: 2em;
	padding: 1em;
}
div.quote
{
	background: #f6f6f6 url('./counter/quote.gif') no-repeat top right;
	border: 1px solid #bababa;
	font-family: sans-serif, arial, tahoma;
	font-size: 12px;
	font-style: italic;
	margin-top: 10px;
	padding: 12px;
	text-align: justify;
}
div#related
{
	margin: 0 3em 1em 0;
}
div#related > div.tag-column
{
	float: left;
	height: 35em;
	margin: 0 2em 2em 0;
	max-width: 12em;
}
div#related > div.tag-column > a
{
	margin-right: 1em;
}
div.response-list > div.post
{
	clear: left;
	float: left;
	margin-bottom: 2em;
}
div.response-list > div.post > div.author
{
	float: left;
	padding-right: 1em;
	width: 15em;
}
div.response-list > div.post > div.author > h6
{
	font-size: 1.3em;
}
div.response-list > div.post > div.content
{
	float: left;
	margin: 0;
	padding: 0 0 0 10px;
	width: 30em;
}
div.response-list > div.post > div.content > div.footer
{
	color: #CCC;
	margin-top: 1em;
}
div.response-list > div.post > div.content > div.footer a
{
	color: #666;
}
div.sidebar
{
	float: left;
	margin-right: 1em;
	overflow: visible;
	width: 20%;
}
div.sidebar li
{
	list-style-type: none;
	margin: 0;
}
a.original-file-changed#highres
{
	color: #0030fa;
	font-weight: bold;
}
div#static-index
{
	text-align: center;
}
div#static-index > div#links > a
{
	margin: 0 0.5em;
}
@media (max-device-width: 800px) and (orientation: portrait) {
div#static-index div#links a {
  margin: 0 8px;}

div#static-index h1 {zoom: 1.3;}
div#static-index small {zoom: 1.5;}
div#space-links {zoom: 1.5;}

}
@media (max-device-width: 800px) and (orientation: landscape) {

div#static-index div#links a {
  margin: 0 8px;}

div#static-index h1 {zoom: 1.3;}
div#static-index small {zoom: 1.5;}
div#space-links small {zoom: 1.5;}

}

div#static-more > div
{
	float: left;
	width: 25%;
}
div#static-more > div > ul
{
	margin-top: 2em;
}
div#static-more > div > ul > li
{
	list-style-type: none;
	margin: 0;
}
div.status-notice
{
	background: #EEE;
	border: 2px solid #666;
	margin: 1em;
	padding: 1em;
}
div.status-notice p
{
	margin: 0;
}
div#tag-list
{
	margin-bottom: 2em;
	text-align: center;
}
div#tag-list > a
{
	padding-right: 5px;
}
div#user-record > table > tbody > tr.positive-record
{
	background: #EFE;
}
div#user-record > table > tbody > tr.negative-record
{
	background: #FEE;
}
div.wiki > h2.title
{
	color: #009;
}
div#wiki-show > div#body
{
	float: left;
	line-height: 2em;
	text-align: left;
	width: 50em;
}
div#wiki-show > div#body ul
{
	line-height: 1.2em;
	margin: 0 0 0 1em;
}
div#wiki-show > div#body > ul
{
	margin-bottom: 1em;
}
div#wiki-show > div#body > div#byline
{
	color: #666;
	font-style: italic;
}
div#wiki-diff > div#body
{
	font-family: monospace;
	font-size: 1.2em;
	margin-top: 1em;
}
div#wiki-diff del
{
	background-color: #f88;
	text-decoration: line-through;
}
div#wiki-diff ins
{
	background-color: #8f8;
}
div.tips
{
	background-image: url(topban00.jpg);
	font-size: 11px;
	padding: 5px 5px 5px 20px;
}