/*!
 * AVS Bootstrap Theme v3.0
 * http://www.adultvideoscript.com
 * Based on Bootstrap
 * This CSS file customizes the core theme CSS (bootstrap.css)
*/

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
	outline: 0!important;
	}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover,
input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: 0!important;
	}


html {
	height:100%;
}

body {
	height:100%;
	padding-top: 100px;
	margin: 0;
}

body, button, input {
	-webkit-font-smoothing: antialiased;
}

#wrapper {
	min-height:100%;
	position:relative;
	padding-bottom: 229px;
}

.top-nav {
  height:30px;
  line-height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
}

.navbar
{
	border: none!important;
	border-radius: 0!important;
	margin-bottom: 20px;
	top: 30px;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.search-dropdown-menu {
	min-width: 360px;
	padding: 12px;
}

 .navbar-form input, .form-inline input {
	width:auto;
}

.search-select {
	margin: 0!important;
	padding: 0!important;
	border: none!important;
	width: auto!important;
}

.well-md h1, .well-md  h2, .well-md  h3, .well-md  h4, .well-md  h5, .well-md  h6 {
	line-height: 30px!important;
	margin: 0!important;
}

.well-md {
	padding: 12px!important;
}

.well-filters {
	padding: 12px!important;
}

.well-filters h1, .well-filters  h2, .well-filters  h3, .well-filters  h4, .well-filters  h5, .well-filters  h6 {
	line-height: 38px!important;
	margin: 0!important;
}

.narrow-margin {
	margin-right: -15px;
}
.title-truncate {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.big-title-truncate {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal!important;
}

.img-responsive {
	width: 100%;
}

.img-responsive-mw {
	max-width: 100%;
	height: auto;
}

.thumb-overlay {
	position: relative;
}

.hd-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
}
.duration {
	position: absolute;
	bottom: 5px;
	right: 5px;
	border: none;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	padding: 3px 5px;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.remove-btn, .delete-btn, .edit-btn{
	float: left;
	border: none;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         1px 1px 0px 0px rgba(0, 0, 0, 0.15);	
}

.edit-btn {
	margin-right: 5px;
}

.delete-btn::after, .remove-btn::after {
	clear: both;
}

.actions {
	position: absolute;
	top: 5px;
	left: 5px;
}

.img-private {
	-webkit-filter: brightness(0.3);
	-moz-filter: brightness(0.3);
	-o-filter: brightness(0.3);
	-ms-filter: brightness(0.3);
}

.label-private {
	position: absolute;
	left: 5px;
	bottom: 5px;
	border: none;
	background-color: #cc0000;
	color: #fff;
	padding: 1px 3px 0px 3px;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         1px 1px 0px 0px rgba(0, 0, 0, 0.15);
}

.hd-text-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
	background-color: #ff8800;
	color: #000;
	padding: 1px 3px 0px 3px;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         1px 1px 0px 0px rgba(0, 0, 0, 0.15);
}

.thumb-description {
color:#666; font-size: 13px; height:38px; overflow:hidden;width:100%;display:block;margin-bottom:4px;text-decoration:none;!important;}
.d2 {height:38px!important;}
.d3 {height:56px!important;}
.d4 {height:74px!important;}
.d5 {height:92px!important;}
.d6 {height:110px!important;}

.video-title {
	font-size: 14px;
}

.video-added {
	font-size: 13px;
}

.video-views {
	font-size: 13px;
	margin-bottom: -3px;
}
.video-rating {
	font-size: 14px;
	line-height: 1;
	margin-bottom: -3px;	
}

.video-rating-heart {
	font-size: 14px;
}

.ad-title {
	font-size: 11px;
	letter-spacing: 3px;
}
.ad-body {
	text-align: center;
	vertical-align: middle;
	padding: 9px!important;
}

.ad-body img {
	max-width: 100%;
	height: auto;
}

.small-avatar {
	width: 24px;
	height: 24px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	vertical-align: middle;
	margin-right: 8px;
	margin-top: -5px;
	margin-bottom: -2px;
}

.medium-avatar {
	width: 45px;
	height: 45px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	vertical-align: middle;
	margin-right: 8px;
}

.blog_header {
	font-size: 16px;
	margin-bottom: 10px;
}

.category-title {
	width: 100%;
	position: absolute;
	bottom: 0px;
	border: none;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	padding: 3px 5px;
	font-size: 16px;
}

.category-title .pull-left {
	width: 70%;
}

.category-title .pull-right {
	width: 30%;
	text-align: right;
}

.blog_video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.blog_video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog_image {
	max-width: 100%;
	height: auto;
	border: 0;
}

.m-b--5 {
  margin-bottom: -5px;
}

.m-b--15 {
  margin-bottom: -15px;
}

.m-b--30 {
  margin-bottom: -30px;
}

.m-w-60 {
	max-width: 60%!important;
}

#user_message  {
	margin-top: 10px;
}

textarea {
	resize: vertical;
}

.p-0 {
	padding: 0!important;
}

.p-t-5 {
  padding-top: 5px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-l-5 {
  padding-left: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-l-10 {
  padding-left: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-r-25 {
  padding-right: 25px;
}
.p-l-25 {
  padding-left: 25px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-r-30 {
  padding-right: 30px;
}
.p-l-30 {
  padding-left: 30px;
}
.p-b-30 {
  padding-bottom: 30px;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}

.m-b-0 {
  margin-bottom: 0;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-l-80 {
  margin-left: 80px;
}

.comment-avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	vertical-align: middle;
}

.comment {
	padding: 10px;
	margin: 0 0 0 80px;
	font-size: 13px;
	line-height: 1.4;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.comment:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-width: 10px;
	top: 20px;	
}

.comment-info {
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.comment-body {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.comment-actions {
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;	
}

 .center {
	text-align: center;
}

.overflow-hidden, .panel-body, .panel-body a, .panel-body  p, .panel-body  span, .panel-heading, .panel-heading a, .panel-heading p, .panel-heading span, .blog_header, .blog_header a, .blog_header p, .blog_header span, .blog_content, .blog_content  a, .blog_content p, .blog_content span , .well  a, .well p, .well span {
	overflow: hidden;
	text-overflow: ellipsis;
}

.mail-unread {
	font-size: 20px;
	vertical-align: middle;
}

.mail-read {
	font-size: 20px;
}

.mail-delete {
	font-size: 20px;
}

.v-middle {
	vertical-align: middle!important;
}

table td, th {
	text-align: center!important;
}

table a {
	text-decoration: none!important;
}

table a:hover {
	text-decoration: underline!important;
}

table .subject-unread a {
	font-weight: bold!important;
}

.input-select  input {
	border: none!important;
	width:50%!important;
	-webkit-border-radius: 4px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 4px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-select select {
	border-top: none!important;
	border-right: none!important;
	border-bottom: none!important;
	border-left: solid 1px #ccc!important;
	width:50%!important;
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius: 0;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}

input[type="text"], input[type="password"], select, textarea {
	border: none!important;
}

input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari-Opera specific declarations here */
	select {
		line-height: 34px!important;
	}
	fieldset legend {
		float: left;
	}	
}

textarea {
	min-height: 38px;
}

.file-box {

	display: block;
	height: 38px;
	padding: 0px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	background-image: none;
	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 38px;	

}

.no-radius-r {
	-webkit-border-top-right-radius: 0!important;
	-webkit-border-bottom-right-radius: 0!important;
	-moz-border-radius-topright: 0!important;
	-moz-border-radius-bottomright: 0!important;
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
}

.separator {
	padding: 2px 0;
	margin-bottom: 15px;
}

.no-wrap {
	white-space: nowrap!important;
}

.p-m-0 {
	padding: 0!important;
	margin: 0!important;
}

.blog_content img, .comment-body img {
	max-width: 100%!important;
	height: auto!important;
}

.vote-msg, .vote-msg  center{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.vote-box {
	margin: 15px 0 0 0;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
.vote-box .likes {
	margin-bottom: 3px;
	height: 3px;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;	
}
.vote-box .dislikes, .vote-box .user-dislikes {
	margin-bottom: 3px;
	height: 3px;
}

.video-container, .game-container {
	position: relative;
	width: 100%;
}

.video-container embed, .game-container embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%!important;
	height: 100%!important;
}

.big-views {
	font-size: 130%;
	padding: 7px 0;
	max-width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.big-views-xs {
	padding: 10px 0;
	max-width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.user-container {
	max-width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

#at4m-menu {
-moz-transition-timing-function: linear;
-webkit-transition-timing-function: linear;
-o-transition-timing-function: linear;
transition-timing-function: linear;
}

.at4m-menu {
	top: 80px!important;
}

.aticon-compact {
	background: url(../img/more.png) !important;
	background-position: 0 0!important;
	background-size: 32px 32px!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.at4-icon {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tmb {
	cursor: pointer;
}

.modal-open {
  overflow-y: auto!important;
  padding-right: 0!important;
}

.change-language {
	padding: 3px 6px;
	line-height: 26px;	
}

.language-active {
	padding: 3px 6px;
	line-height: 26px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.footer-links {
	padding: 25px 0;
}

.footer-container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.footer {
	padding: 15px 0;
}

.top-menu   {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

.top-menu  > .pull-right > li{
	margin: 0 0 0 10px;
	float: left;
}

.top-menu  > .pull-right > li.dropdown > a{
	padding: 0 10px;
}

.top-menu  > .pull-right > li.open{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.top-menu .dropdown-menu {
	border: 0;
	-webkit-border-radius: 4px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 4px;
	-moz-border-radius-topright: 0;
	border-radius: 4px;
	border-top-right-radius: 0;
}

.top-menu  > .pull-left > li{
	margin: 0 15px 0 0;
	float: left;	
}

.top-menu > div > li > a  {
	display: block;
}

.top-menu > div > li > a:hover  {
	text-decoration: none;
}

.top-menu > div > li > a:focus  {
	text-decoration: none;
}

.top-menu ul li .badge {
	margin-top: 1px;
}

.navbar-brand {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 0;
}

.navbar-brand  img{
	height: 100%;
}


.dropdown-menu {
	background-clip: border-box;
}

.login-modal {
	width: 350px;
	max-width: 100%;
	margin: 30px auto;
	padding: 0 15px;
}
.language-modal {
	max-width: 100%;
	margin: 30px auto;
	padding: 0 15px;
}

.video-embedded {
	width: 100%;
	overflow: hidden;
}
.video-embedded iframe {
	width: 100%!important;
	height: 100%!important;
}
.text-lg {
	font-size: 18px;
}

.text-md {
	font-size: 15px;
}

.input-group-btn {
	width: 1%!important;
}

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: 0px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: 0px;
}

.badge {
	min-width: 16px;
	padding: 0 6px;
	line-height: 19px;
	font-size: 12px;
}

.online {
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin-left: 2px;
}

.offline {
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin-left: 2px;
}
// junkStyle
.junkStyleThumbs {
	cursor: pointer;
}
.junkStyleThumbs:hover {
	color: #FF7A01;
	cursor: pointer;
}
.junkTagList {
  margin: 0;
  padding: 20px;
}
.junkTagList a {
  margin: 0  10px 10px 0;
}

.add_new_tag {
  
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #888888;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #282828;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, b
  }
 
a.rss {background-image: url(/img/rss.gif); background-repeat: no-repeat; padding-left:30px; line-height:2.5em; background-position:0;}
/*.rsshead {background-image: url(../img/rsshead.png); background-repeat: no-repeat; padding-left: 170px; height:75px;}*/
.rssin {margin: 20px 0;}

.box-suggest {margin-top: 3px;background: #fff;display:none;border-radius: 4px;-webkit-border-radius:4px;-moz-border-readius:4px; }
.box-suggest ul  {padding:0;margin:0;list-style:none; }
.box-suggest li { white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:2px 15px;cursor:pointer; }
.box-suggest .active { background:#333;color:#fff; }

.add_adv_sph {
  margin-bottom: 10px;
  text-align: center;
}

.junk-ad-body {
	text-align: center;
	vertical-align: middle;
	margin-bottom: 20px;
}
