@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 400;
  src: local('Laila'), local('Laila-Regular'), url(https://fonts.gstatic.com/s/laila/v2/U1mcJ5nD5aGNUwKhGxWJSw.ttf) format('truetype');
}
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 500;
  src: local('Laila Medium'), local('Laila-Medium'), url(https://fonts.gstatic.com/s/laila/v2/gzpZ3PhYIsQRC0xo2R4eqvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 600;
  src: local('Laila Semibold'), local('Laila-Semibold'), url(https://fonts.gstatic.com/s/laila/v2/jNAufSc2746ercQLjrvy-PesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 700;
  src: local('Laila Bold'), local('Laila-Bold'), url(https://fonts.gstatic.com/s/laila/v2/o6feOHCJlU_R1BPCyUBJ6fesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf) format('truetype');
}
