body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6rem;
	color:#3b3b3b;
	margin:0
}

.fadein{opacity: 0}

.creep {font-family: 'Creepster', cursive;}

a:link, a:visited, a:hover {color:#f98100;text-decoration: none}

h1,h2,h3 {font-size: inherit;font-weight: inherit;padding: 0;margin:0;line-height: inherit}

@media only screen {
	.title-text {font-size:3rem;line-height: 3.5rem;letter-spacing: 1px;}
	.subtitle-text {font-size:2rem;line-height: 2.3rem;letter-spacing: 1px;}
}
@media only screen and (min-width: 44.063em) {
	.title-text {font-size:4rem;line-height: 4.5rem;letter-spacing: 1px;}
	.subtitle-text {font-size:3rem;line-height: 3.5rem;letter-spacing: 1px;}
}
.normal-body {font-size:1.1rem;line-height: 1.8rem;}
.large-body {font-size:1.3rem;line-height: 1.8rem;}
.huge-body {font-size:1.8rem;line-height: 2.5rem;}


.orange{color:#f98100}

#header {
	background: #000000;
	width: 100%;
	min-height:120px;
	z-index: 99999999999999;
	
}
#header .row {padding:2rem 1rem 0 1rem }
#header img {padding:.6rem 0 2rem 0}
#header .button-grey {margin-bottom:2rem;}

.head-space { height:120px;}

@media only screen {
	.head-space {display: none}
	#header { position: relative;}
}

@media only screen and (min-width: 64.063em) {
	.head-space {display: block}
	#header { position: fixed;}
}


.hr {
	height:4px;
	background: #3b3b3b;
	width:100px;
	margin:24px 0;
}
.hr.centeralways {
	margin:24px auto 24px auto
}
.hr.light {
	background: #777777;
}

@media only screen {
	.section-padding-standard {padding:60px 0;}
	.hr.center-small { margin:24px auto 24px auto}

}

@media only screen and (min-width: 64.063em) {
	.section-padding-standard {padding:150px 0;}
	.hr.center-small { margin:24px 0}

}



.white-button {
	line-height: 50px;
	border-radius: 5px;
	display: inline-block;
	font-family: 'Creepster', cursive;
	font-size: 22px;
	overflow: hidden;
	letter-spacing: 1px
	}
.white-button a {display: block;padding:0 2rem;}
.white-button a:link,.white-button a:visited {
	color:#f98100;
	background: #ffffff;
	border-bottom:3px #bfbfbf solid;
	}
.white-button a:hover {
	color:#ffffff;
	background: #ff7800;
	border-bottom:3px #bf5a00 solid;
	
	}

.orange-button {
	line-height: 50px;
	border-radius: 5px;
	display: inline-block;
	font-family: 'Creepster', cursive;
	font-size: 22px;
	overflow: hidden;
	letter-spacing: 1px
	}
.orange-button a {display: block;padding:0 2rem;}
.orange-button a:link,.orange-button a:visited {
	color:#ffffff;
	background: #ff7800;
	border-bottom:3px #bf5a00 solid;
	}
.orange-button a:hover {
	color:#f98100;
	background:#ffffff;
	border-bottom:3px #bfbfbf solid;
	
	}






#section1 {color:#ffffff;}
#section1 h1 {margin-bottom:1rem}
@media only screen {
	#section1 {height:775px;background:url(../images/section1bg_small.jpg) bottom center no-repeat;background-size: cover}
	
}
@media only screen and (min-width: 44.063em) {
	#section1 {height:750px;background:url(../images/section1bg_large.jpg) bottom center no-repeat;background-size: cover}
}





#section2 {color:#ffffff;}
#section2 h2 {margin-bottom:1rem}

@media only screen {
	#section2 {height:auto;background:url(../images/section2bg_small.jpg) bottom center no-repeat;background-size: cover}
	#section2 {padding-top: 75px;}
}
@media only screen and (min-width: 55.063em) {
	#section2 .large img {width:60%}
}
@media only screen and (min-width: 64.063em) {
	#section2 {height:auto;background:url(../images/section2bg_large.jpg) bottom center no-repeat;background-size: cover}
	#section2 {padding-top: 150px;}
}





#section3 {color:#ffffff;}
#section3 h2 {margin-bottom:1rem}

#section3 .row {position: relative;z-index: 20;}

#section3 .arlo-large {height:915px;width:100%;z-index: 19;position:absolute;cursor: pointer}
#section3 .arlo-large.off {background:url(../images/section3_large_arlo_off.png) bottom right no-repeat }
#section3 .arlo-large.on {background:url(../images/section3_large_arlo_on.png) bottom right no-repeat }

#section3 .arlo-small {height:672px;width:100%;cursor: pointer;margin-top:40px}
#section3 .arlo-small.off {background:url(../images/section3_small_arlo_off.png) bottom center no-repeat }
#section3 .arlo-small.on {background:url(../images/section3_small_arlo_on.png) bottom center no-repeat }


@media only screen {
	#section3 {height:auto;background:url(../images/section3bg_large.jpg) bottom center no-repeat;background-size: cover}
	#section3 .row {padding-top:100px;}
}

@media only screen and (min-width: 64.063em) {
	#section3 {height:800px;background:url(../images/section3bg_large.jpg) bottom center no-repeat;background-size: cover}
	#section3 .row {padding-top:200px;	}
}





#section4 {color:#ffffff;}
#section4 h2 {margin-bottom:1rem}

#section4 .gfx {display: table;width: 100%;text-align: center;width:100%}
#section4 .gfx div {display: table-cell;vertical-align: bottom}

#section4 .content {position: absolute;width:100%}

@media only screen {
	#section4  {padding-top:100px;}
	#section4 {height:1150px;background:url(../images/section4bg_small.jpg)  top center no-repeat;background-size: cover}
	#section4 .gfx {display: none}
}
@media only screen and (min-width: 44.063em) {
	#section4  {padding-top:50px;}
	#section4 {height:auto;background:url(../images/section4bg_large.jpg) bottom right no-repeat;background-size: cover}
	#section4 .gfx {padding-top:200px}
	#section4 .gfx {display: table}
}
@media only screen and (min-width: 64.063em) {
	#section4  {padding-top:200px;}
	#section4 .gfx {padding-top:0px}
}







#section5 {color:#ffffff;overflow:hidden}
#section5 h2 {margin-bottom:1rem}

#section5 .ghosts {position:absolute;background: #990000;width:100%;}
#section5 .ghosts img:nth-child(1) {position:absolute;left:0;top:130px;}
#section5 .ghosts img:nth-child(2) {position:absolute;right:0;top:230px;}

@media only screen {
	#section5 {height:750px;background:url(../images/section5bg_small.jpg)  center no-repeat;background-size: cover}
	
}
@media only screen and (min-width: 44.063em) {
	#section5 {height:1000px;background:url(../images/section5bg_large.jpg) bottom center no-repeat;background-size: cover}
}







#section6 {color:#ffffff;}
#section6 h2 {margin-bottom:1rem}


@media only screen {
	#section6 {height:auto;background:url(../images/section6bg_large.jpg)  bottom center no-repeat;background-size: cover}
	#section6 h2 {padding-top:0}
	
}
@media only screen and (min-width: 44.063em) {
	#section6 {height:auto;background:url(../images/section6bg_large.jpg) bottom center no-repeat;background-size: cover}
	#section6 h2 {padding-top:100px}
}
@media only screen and (min-width: 64.063em) {
	#section6 h2 {padding-top:200px}
}









#section7 {color:#ffffff;overflow:hidden}
#section7 h2 {margin-bottom:1rem}

#section7 .creep {letter-spacing: 2px}
#section7 ul .normal-body {max-width: 400px;margin:0 auto}

@media only screen {
	.icon-group-2 {margin:0}
	.icon-group-1 li:nth-child(2) {margin-top:0px}
	#section7 {background:url(../images/section7bg_small.jpg)  bottom center no-repeat;background-size: cover;padding-top:75px;}
	
}
@media only screen and (min-width: 44.063em) {
	.icon-group-2 {margin:0 10%}
	.icon-group-1 li:nth-child(2) {margin-top:-100px}
	#section7 {background:url(../images/section7bg_large.jpg) bottom center no-repeat;background-size: cover;padding-top:150px}
}
@media only screen and (min-width: 64.063em) {
	.icon-group-2 {margin:0 14%}
}






#footer {background:#000000;padding:3rem 1rem}

#footer .text{font-size: 1rem;line-height: 1.3rem;}
#footer img{width: 170px;margin-bottom:2rem}










.frame-dots
{
    position: absolute;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.frame-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.frame-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.frame-dots li button:hover,
.frame-dots li button:focus
{
    outline: none;
}
.frame-dots li button:hover:before,
.frame-dots li button:focus:before
{
    opacity: 1;
}
.frame-dots li button:before
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    color: #777777;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.frame-dots li.slick-active button:before{color: #f98100;}







.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../js/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../js/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../js/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../js/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../js/fancybox/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../js/fancybox/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}






























.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px; }

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
	display:none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px; }

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px; }

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px; }

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .twentytwenty-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block; }
  .twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
    background: rgba(0, 0, 0, 0); }
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
      opacity: 0; }
  .twentytwenty-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.twentytwenty-before-label {
  opacity: 0; }
  .twentytwenty-before-label:before {
    content: "Before"; }

.twentytwenty-after-label {
  opacity: 0; }
  .twentytwenty-after-label:before {
    content: "After"; }

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px; }

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px; }

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px; }

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px; }

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25; }
  .twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0.5); }
    .twentytwenty-overlay:hover .twentytwenty-after-label {
      opacity: 1; }
    .twentytwenty-overlay:hover .twentytwenty-before-label {
      opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px; }

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px; }

.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px; }

.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px; }
