/*========================================
*  - Global
*  - Header
*  - Modules
*   -- Hero banner
*   -- Buttons
*   -- Panel
*  - Section Styles
*   -- Section 1
*   -- Section 2
*   -- Section 3
*   -- Section 4
*   -- Section 5
*   -- Section 6
*   -- Section 7
*  - Footer
*  - Media Query
*========================================*/


/*---------------------------------------
* - Global
*---------------------------------------*/
html, body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    color: #666;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Laila', serif;
    padding-bottom: 10px;
    color: #333;
    font-weight: 500;
    line-height: 1em;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
}

p:last-of-type{
    margin-bottom: 0;
}


.pb-dark-background, .pb-dark-background h1,
.pb-dark-background h2, .pb-dark-background h3,
.pb-dark-background h4, .pb-dark-background h5,
.pb-dark-background h6,
.pb-dark-background p{
    color: #fff!important;
}

.row{
    max-width: 1430px;
}

.table-like{
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.table-row-like{
    display: table-row;
}

.table-cell-like{
    display: table-cell;
}

.vertical-align-middle{
    vertical-align: middle;
}

.vertical-align-bottom{
    vertical-align: bottom;
}


.visible-xs, .visible-sm{
	display:none;
}

/*---------------------------------------
* - Header
*---------------------------------------*/
#main-header {
    background: #000;
    padding: 30px 0;
    z-index: 8000;
}

.main-header-container.sticky-container #main-header {
    position: fixed;
    top: 0;
}

#main-header .top-bar{
	background: #000;
}

#main-header.contain-to-grid .top-bar{
    max-width: 1430px;
    height: 50px;
}

#main-header .top-bar-section ul.menu > li > a {
    font-family: 'Laila', serif;
    font-size: 20px;
    background: #fff;
    color: #262626;
    border-radius: 5px;
    padding: 0px 30px;
    border-bottom: solid 3px #bfbfbf;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 500;
}

.top-bar-section ul li {
    background: transparent;
    margin: 0px 5px;
}

/*---------------------------------------
* - Modules
*---------------------------------------*/

/*
* -- Hero banner
*-------------------*/
.hero-section{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 40px 0;
    padding: 2em 0;
}

.hero {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero .intro h1,
.hero .intro h2, .hero .intro h3,
.hero .intro h4, .hero .intro h5,
.hero .intro h6 {
    color: #054c7c;
}

.hero .intro {
    padding: 30px 0;
    font-size: 30px;
    line-height: 1.5em;
    color: #3b3b3b;
    font-weight: 300;
}

.hero .intro h2 {
    font-size: 80px;
    font-weight: 600;
}

.hero .intro h3 {
    font-size: 65px;
    font-weight: 600;
}

.hero.center-intro-content .intro {
    padding: 185px 0;
    padding: 6.20em 0;
}

.hero .intro .button {
    margin: 35px 0 10px;
}

/*
* -- Buttons
*-------------------*/
.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    padding: 15px;
    margin: 0 0 10px 0;
    background-color: #2199e8;
    color: #fff;
    border: 1px solid transparent;
    border-bottom: 3px solid #c1ddef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: 500;
}

[data-whatinput='mouse'] .button {
    outline: 0;
}

.button:hover, .button:focus,
.button:link, .button:visited{
    background-color: #60bbf7;
    color: #fff;
}

.button.big-btn{
    padding: 20px;
    font-size: 20px;
    min-width: 205px;
    max-width: 100%;
}

/* orange button */
.button.orange-btn{
    background-color: #ff6d00;
    border-color: #bf5200;
    color: #fff;
}
.button.orange-btn:hover, .button.orange-btn:focus,
.button.orange-btn:link, .button.orange-btn:visited{
    background-color: #ff6d00;
    border-color: #bf5200;
    color: #fff;
}

/*
* -- Panels
*-------------------*/
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    font-weight: 500;
}

.panel h4{
    font-size: 30px;
}

/*---------------------------------------
* - Section Styles
*---------------------------------------*/
/*
* -- Section 1 - store window section
*---------------------------------*/
.store-window-section .hero-banner-content p {
    padding-bottom: 10px;
    padding-top: 5px;
}

.store-window-section{
    background-image: url(images-HolidayLP/section-1/hero-banner.jpg);
    padding: 0;
}

.store-window-section .row.intro{
    position: relative;
    padding: 80px 0;
}

.store-window-section .center-intro-content{
	background: none;
	background-image: url('images-HolidayLP/section-1/snow1.png'), url('images-HolidayLP/section-1/snow2.png'), url('images-HolidayLP/section-1/snow3.png');
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

.store-window-section .store-window {
    position: absolute;
    right: -90px;
    top: 0;
    z-index: 1;
    width: 875px;
    bottom: 0;
    margin: auto 0;
    height: 100%;
    overflow: hidden;
}

.store-window-section .store-window img{
    max-width: 100%;
    height: auto;
}

.store-window-section .hero-banner-content{
    position: relative;
    z-index: 2;
    font-family: 'Laila', serif;
    font-weight: 400;
}


@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	

/*
* -- Section 2 - raindeer section
*---------------------------------*/
.raindeer-section .hero-banner-content p,
.gift-giving-section .hero-banner-content p {
    line-height: 45px;
}

.raindeer-section {
    background-image: url(images-HolidayLP/section-2/R9000-bg.jpg);
}

.raindeer-section .row{
   max-width: 1400px;
}

.raindeer-section .pipeline-content {
    padding-top: 60px;
}

.raindeer-section .pipeline-content .columns {
    padding: 0;
}

.pipeline-content img{
    margin: 10px auto 0;
}

.pipeline-deers {
    padding: 25px 0 0;
}

.pipeline-deers .pipeline-line {
    text-align: right;
    position: relative;
    width: 10%;
    padding: 0 35px 35px;
    margin-bottom: 100px;
    white-space: nowrap;
}

.pipeline-deers .pipeline-line.deer-feet-up-line {
    margin-bottom: 105px;
    margin-left: 20px;
    padding: 0 65px 35px;
}

.pipeline-deers.waypoint-entered .pipeline-line.deer-feet-up-line {
    width: 87.4%;
}

.pipeline-deers.waypoint-entered  .pipeline-line.deer-with-birds-line {
    width: 35.5%;
}


.pipeline-deers .pipeline-line:after {
    content: "";
    left: 0;
    height: 35px;
    width: 100%;
    background: #6f95bc;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), #6f95bc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), #6f95bc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), #6f95bc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), #6f95bc); /* Standard syntax (must be last) */
    opacity: 0.35;
    display: block;
    position: absolute;
    bottom: 0;
}

.pipeline-deers .pipeline-line.deer-feet-up-line:after{
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), #008dff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), #008dff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), #008dff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), #008dff); /* Standard syntax (must be last) */
}

.pipeline-deers.waypoint-entered .pipeline-line{
    -webkit-animation: progress-bar 1.5s;
    -moz-animation: progress-bar 1.5s;
    animation: progress-bar 1.5s;
}

.deer-feet-up {
    background-image: url(images-HolidayLP/section-2/deer-feet-up.png);
    background-size: 219px 228px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 219px;
    height: 228px;
    position: absolute;
    top: -50px;
    right: -35px;
    z-index: 2;
}

.deer-with-birds {
    background-image: url(images-HolidayLP/section-2/deer-with-birds.png);
    background-size: 311px 164px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 311px;
    height: 164px;
    right: -275px;
    position: absolute;
    z-index: 2;
    top: -15px;
}

.pipeline-line h4 span {
    font-size: 20px;
    color: #6f95bc;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 5px;
}

.pipeline-line h4 {
    color: #759abf;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Laila', serif;
}

.pipeline-deers.waypoint-entered .pipeline-line.deer-feet-up-line h4 {
    color: #369ae3;
}

.pipeline-deers.waypoint-entered .pipeline-line.deer-feet-up-line h4 span{
    color: #6f95bc;
}

/* keyframe  - progress bar */
@-webkit-keyframes progress-bar {
    0% { width: 0; }
}

@-moz-keyframes progress-bar {
    0% { width: 0; }
}

keyframes progress-bar {
    0% { width: 0; }
}



/*
* -- Section 3 - gift giving section
*---------------------------------*/
.gift-giving-section{
    background-image: url(images-HolidayLP/section-3/arlo-pro-bg-2x.jpg);
    padding: 0;
}

.gift-giving-section .hero .intro {
    padding: 0;
}

.gift-giving-section .hero .hero-banner-content{
    padding: 50px 0;
}

.gift-giving-section .hero .hero-banner-content p {
    max-width: 500px;
    margin: auto 0;
}
/*
* -- Section 4 - sweets house section
*---------------------------------*/
.sweets-house-section .hero-banner-content p {
    max-width: 500px;
    margin: auto 0;
}

.sweets-house-section{
    background-image: url(images-HolidayLP/section-4/orbi-bg-2x.jpg);
    padding: 0 0 10px;
}

.sweets-house-section .hero .intro{
    padding: 0;
}

.sweets-house-section .hero .intro .hero-banner-content{
    padding: 20px 0 50px;
}

.orbi-house{
	position:relative;
}

.orbi-house .sweet-house{
	position:relative;
	z-index:9;
}

.orbi-house .orbi {
    position: absolute;
    bottom: 65px;
    transform: rotate(1deg);
    z-index: 1;
    right: -45px;
}
/*
* -- Section 5 - hanukkah section
*---------------------------------*/
.hanukkah-section {
    background-image: url(images-HolidayLP/section-5/smb-bg-2x.jpg);
    padding: 60px 0px 180px;
}

.hanukkah-section .hero .intro{
    padding: 0;
}

.hanukkah-section .hero .hero-banner-content{
	max-width: 530px;
    padding: 0 0 75px;
    margin: auto;
}

/*
* -- Section 6 - snow globe section
*---------------------------------*/
.snow-globe-section{
    background-image: url(images-HolidayLP/section-6/video-gallery-bg-2x.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 80px 0 10px;
}

.snow-globe-section .hero .intro{
    padding: 0;
}

.video-gallery {
    max-width: 1000px;
    margin: 0 auto !important;
    z-index: 2;
}

.video-gallery .video-gallery-item {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    margin-bottom: 80px;
}

.video-gallery .video-gallery-item.slick-active{
    opacity: 1;
    visibility: visible;
}

.video-gallery .video-gallery-item .video-overlay-bg-img {
    margin: 0 auto 50px;
    display: block;
    vertical-align: top;
    padding: 0 0 0;
    opacity: 0.5;
    max-width: 477px;
    height: 477px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.video-gallery .video-gallery-item .video-overlay-bg-img img {
    height: auto;
    width: auto;
    display: block;
    position: relative;
    right: -7px;
}


.video-gallery .video-gallery-item .play-icon {
    border: none;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 105px;
    height: 105px;
    background-image: url('images-HolidayLP/section-6/play-icon-2x.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 105px 105px;
    z-index: 3;
}

.video-gallery .slick-initialized .slick-slide {
    padding: 0;
}

.video-gallery-slider-wrap .frame-dots {
    bottom: 25px;
}

.video-gallery-slider-wrap .frame-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.video-gallery-slider-wrap .frame-dots li.slick-active{
    background: #214a09;
}

.video-gallery-slider-wrap .frame-dots li button {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    padding: 0;
    margin: 0;
}

.video-gallery-slider-wrap .frame-dots li button:before{
    display: none;
}

.video-gallery-slider-wrap .slider-nav {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    z-index: 60;
}

.video-gallery-slider-wrap .slider-nav .slick-list{
    display: none;
}

.video-gallery-slider-wrap .slider-nav .frame-dots{
    bottom: auto;
    position: relative;
}

.video-gallery .slick-prev {
    background-image: url(images-HolidayLP/section-6/left-arrow-2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    opacity: 1;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;
    z-index: 999;
}

.video-gallery .slick-next {
    background-image: url(images-HolidayLP/section-6/right-arrow-2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    opacity: 1;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;
    z-index: 999;
}


.video-gallery-slider-wrap .base-holder {
    text-align: center;
    position: absolute;
    left: 0;
    z-index: 50;
    max-width: 564px;
    height: 593px;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}

.video-gallery-slider-wrap .globe-holder {
    text-align: center;
    position: absolute;
    bottom: 160px;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 700px;
    height: 531px;
    margin: 0 auto;
}

.video-gallery-slider-wrap .globe-holder img {
    max-width: 100%;
    height: auto;
}

.video-gallery-slider-wrap {
    position: relative;
    margin: 61px auto 15px;
}

.video-gallery-slider-wrap .base-holder img {
    max-width: 100%;
    height: auto;
}


/*.snow-globe-section .video-gallery .video-gallery-item{
	background:url(images-HolidayLP/section-6/video-gallery-globe-2x.png);
}*/

/*
* -- Section 7 - products panels section
*---------------------------------*/
.products-panels-section {
    background: #c2040b;
}

.products-panels-section .hero .intro {
    padding: 30px 0 40px;
}

.product-panels .panel {
    background: #9e0000;
    border: 0;
    display: block;
    padding: 40px 30px 50px;
    margin-bottom: 10px;
}

.product-panels .panel:hover{
    background: #214a09;
}


.product-panels .panel .product-description {
    visibility: hidden;
    opacity: 0;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;
}

.panel-loaded .product-panels .panel .product-description {
    display: none;
}


.product-panels .panel:hover .product-description {
    display: block;
    visibility: visible;
    opacity: 1;
}


.products-panels-section:before, .products-panels-section:after {
    background-image: url(images-HolidayLP/section-7/snow-border-2x.jpg);
    background-size: auto 100%;
    background-repeat-y: no-repeat;
    display: inline-block;
    width: 100%;
    height: 188px;
    content: "";
}

.products-panels-section:after {
    margin-top: 90px;
}

.products-panels-section:before{
	margin-bottom:60px;
}

.products-panels-section .panel h4 {
    margin: 45px 0 0;
}

.products-panels-section .hero {
    margin-bottom: 20px;
}

.products-panels-section .product-image {
    max-width: 245px;
    max-height: 200px;
}

.enter-website{
    background: url(images-HolidayLP/section-7/enter-website-image-2x.png);
    display: block;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.product-panels .panel:hover .enter-website {
    background: url(images-HolidayLP/section-7/enter-website-white-2x.png);
	display: block;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.product-panels .m4300{
	background: url(images-HolidayLP/section-7/m4300-2x.png);
	display: block;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
	background-position: 50% 50%;
}

.product-panels .wac470{
	background: url(images-HolidayLP/section-7/wac470-2x.png);
	display: block;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
	background-position: 50% 50%;
}

.product-panels .orbi{
	background: url(images-HolidayLP/section-7/orbi-2x.png);
	display: block;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
	background-position: 50% 50%;
}


.product-panels .arlo-pro{
	background: url(images-HolidayLP/section-7/arlo-pro-2x.png);
	display: block;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
	background-position: 50% 50%;
}

.product-panels .nighthawk{
	background: url(images-HolidayLP/section-7/nighthawk-2x.png);
	display: block;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
	background-position: 50% 50%;
}

.product-panels .columns {
   padding: 0 5px !important;
} 

.row.product-panels {
   max-width: 1430px;
}
/*---------------------------------------
* - Footer
*---------------------------------------*/
#main-footer {
    background: #000;
    padding: 45px 0;
    font-size: 20px;
}
/*---------------------------------------
* - Media Queries
*---------------------------------------*/
@media (min-width:1501px){
    /* Section 1  */
    .store-window-section .hero.center-intro-content .intro {
        padding: 185px 0 200px;
        padding: 6.20em 0 6.7em;
    }

    /* Section 6  */
    .snow-globe-section {
        padding: 150px 0 10px;
        padding: 7.3em 0 0.5em;
    }

    /* Section 2  */
    .raindeer-section {
        padding: 115px 0 35px;
        padding: 5.75em 0 1.7em;
    }


}

@media (max-width: 1500px) {
    .store-window-section .store-window,
    .orbi-house .orbi{
        right: 0;
    }

    .store-window-section .store-window {
        max-width: 708px;
    }
}

@media (max-width: 1460px) {
    #main-header.contain-to-grid .top-bar{
        max-width: 1200px;
    }

    .row{
        max-width: 1200px;
    }
	
	.raindeer-section .pipeline-content .row {
		max-width: 1200px;
	}
}

@media (max-width: 1200px) {
    .video-gallery{
        max-width: 700px;
    }
}

@media (max-width: 1024px) {

    .row,
    .raindeer-section .pipeline-content .row{
        max-width: 767px;
    }

    #main-header.contain-to-grid .top-bar {
        height: 105px;
    }

    #main-header .top-bar .title-area {
        float: none;
        text-align: center;
    }

    #main-header .top-bar .name h1 {
        display: inline-block;
    }

    #main-header .top-bar .name h1 a{
        width: auto;
    }

    #main-header .top-bar-section{
        margin: 10px 0 0;
    }

    #main-header .top-bar-section ul {
        width: 100%;
        height: auto !important;
        display: block;
        text-align: center;
    }

    #main-header .top-bar-section ul li {
        float: none;
        display: inline-block;
    }

    .store-window-section .store-window {
        position: relative;
        max-width: 730px;
        margin: 80px auto 0;
        padding: 0 15px;
    }

    .store-window-section .row.intro {
        padding: 80px 0 0;
    }

    .store-window-section .hero-banner-content {
        text-align: center;
    }

    .table-like {
        display: block;
    }

    .table-row-like {
        display: block;
    }

    .table-cell-like {
        display: block;
    }

    .gift-giving-section .hero .hero-banner-content {
        padding: 80px 0 0;
        text-align: center;
    }

    .gift-giving-section .hero .hero-banner-content .girl-with-gift-img{
        margin-top: 80px;
    }

    .gift-giving-section .hero .hero-banner-content p {
        max-width: 100%;
        margin: 0 auto;
    }

	.sweets-house-section {
		padding: 80px 0px 10px 0px;
	}

    .sweets-house-section .hero .intro .hero-banner-content {
        padding: 20px 0 0;
        text-align: center;
    }

    .sweets-house-section .hero-banner-content p {
        max-width: 100%;
        margin: 0 auto;
    }
	
	.hanukkah-section {
		padding: 60px 0px 180px 0px;
	}
	
	.hidden-xs, .hidden-sm{
		display:none;
	}
	
	.visible-xs,.visible-sm{
		display:block;
	}
	
	.video-gallery {
		max-width: 767px;
		margin: 0 auto;
	}
	
	.video-gallery .slick-prev,
	.video-gallery .slick-next{
		display:none !important;
	}
	
	.product-panels .columns.medium-4 {
		width: 100%;
		padding: 0px 30px !important;
	}
	
	footer .medium-8, 
	footer .medium-4 {
		width: 100%;
	}	
	
	footer .medium-8, footer .medium-4 {
		float: none;
		text-align: center;
		margin-bottom:30px;
	}
	
	footer .medium-4 .text-right{
		text-align:center !important;
		font-size:20px;
	}

    .store-window-section .store-window img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
	
	.raindeer-section .pipeline-content .medium-3 {
		width: 100%;
		text-align: center;
	}
	
	.gift-giving-section .hero .hero-banner-content.hero-banner-content p, 
	.gift-giving-section .hero .hero-banner-content h3 {
		padding: 0 30px;
	}
	
	.products-panels-section:before, 
	.products-panels-section:after {
		width: 100%;
		height: 100px;
	}

    .products-panels-section .enter-website {
        margin-top: 30px !important;
    }

    .pipeline-deers {
        transform: rotate(270deg);
        padding: 0px;
        position: relative;
    }

    .raindeer-section .pipeline-content {
        padding-top: 17.2em;
    }

    .pipeline-line.deer-feet-up-line h4,
    .pipeline-line.deer-with-birds-line h4,
    .pipeline-line.deer-feet-up-line .deer-feet-up,
    .pipeline-line.deer-with-birds-line .deer-with-birds{
        transform: rotate(450deg);
    }

    .deer-feet-up {
        top: -105px;
        right: 95px;
        background-size: 150px 157px;
    }

    .waypoint-entered .deer-feet-up {
        right: -85px;
    }

    .deer-with-birds {
        right: -140px;
        top: 0px;
        background-size: 250px 135px;
    }

    .pipeline-deers .pipeline-line.deer-feet-up-line {
        width: 55.4%;
        margin-bottom: 105px;
        margin-left: 20px;
        padding: 0 65px 35px;
    }

    .pipeline-line.deer-feet-up-line h4 {
        color: #369ae3;
        position: absolute;
        top: 0;
        right: -195px;
    }

    .pipeline-content .pipeline-deers-container {
        width: 100%;
        padding: 75px 0px 0px !important;
    }

    .pipeline-line.deer-with-birds-line h4 {
        position: absolute;
        top: 0;
        right: -164px;
    }
	
	.raindeer-section {
		padding: 70px 30px 60px;
	}

    .pipeline-line h4 span {
      text-align: center;
    }

    .pipeline-line h4 span {
        display: block;
    }

	.base-holder {
		text-align: center;
		position: absolute;
		right: 80%;
		z-index: 1;
	}
}

@media (max-width: 767px){
    .row,
    .raindeer-section .pipeline-content .row,
    .hero .row.intro{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .raindeer-section .hero .intro {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #main-header .top-bar-section ul.menu > li > a {
        font-size: 16px;
        padding: 10px 12px 5px;
    }

    .product-panels .panel .product-description {
        display: block !important;
        visibility: visible;
        opacity: 1;
    }

    .orbi-house .orbi {
        width: 204px;
        height: 253px;
        right: -50px;
        bottom: 30px;
    }
	
	.video-gallery {
		max-width: 100%;
		margin: 0 auto;
	}
	

	
	.gift-giving-section .row.intro {
		padding: 0px !important;
	}
	
	.hero .intro h2 {
		font-size: 45px;
		font-weight: 600;
	}
	
	.hero .intro h3 {
		font-size: 45px;
		text-align: center;
	}
	
	.hero-banner-content {
		text-align: center;
	}
	
	.hero-banner-content p {
		font-size: 25px;
		line-height: 30px;
	}
	
	.product-panels .columns.medium-4 {
		width: 100%;
		padding: 0px!important;
	}
	
	.video-gallery .frame-dots {
		bottom: 25px;
	}
	
	.pipeline-content .pipeline-deers {
		padding: 0px 0 0;
	}
	
	.pipeline-content .pipeline-deers-container {
		padding: 0px 0px 0px 0px !important;
		margin-top: 170px;
	}
	
	.deer-feet-up {
		top: -98px;
		right: -85px;
		background-size: 135px 147px;
	}
		
	.deer-with-birds {
		right: -123px;
		top: -27px;
		background-size: 100px 100px;
		background-size: 180px 120px;
	}
	
	.pipeline-deers .pipeline-line.deer-feet-up-line {
		width: 80.4%;
	}
	
	.pipeline-deers .pipeline-line.deer-with-birds-line {
		width: 48.5%;
	}
	
	.pipeline-line.deer-with-birds-line h4 {
		position: absolute;
		top: 3px;
		right: -189px;
	}
	
	.store-window-section .store-window {
        padding: 0px;
        max-width: 420px;
        height: auto;
        margin: 80px auto 0;
    }
	
	.pipeline-line h4{
		text-align:center;
	}
	
	.pipeline-line h4 span {
		width: 100%;
		float: left;
		display: inline-block;
	}
	
	.pipeline-line.deer-feet-up-line h4 {
		color: #369ae3;
		position: absolute;
		top: 4px;
		right: -207px;
	}

    .products-panels-section .enter-website {
        margin-top: 50px !important;
    }
	
	.base-holder {
		left: -230px;
	}

    .video-gallery-column {
        padding: 0;
        margin: 0;
        float: none !important;
        clear: both;
    }

    .video-gallery .video-gallery-item .video-overlay-bg-img {
        max-width: 362px;
        height: 362px;
        margin-bottom: 3px;
    }

    .video-gallery-slider-wrap {
        width: 535px;
        margin: 0 auto 15px;
        padding: 60px 0 0;
    }

    .video-gallery-slider-wrap .base-holder {
        max-width: 434px;
        height: 456px;
    }

    .video-gallery-slider-wrap .globe-holder {
        max-width: 535px;
        height: 535px;
        bottom: -4px;
    }

    .video-gallery .video-gallery-item {
        margin-bottom: 100px;
    }

    .video-gallery .video-gallery-item .play-icon {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
    }

    .video-gallery-slider-wrap .slider-nav {
        bottom: 32px;
    }

    .raindeer-section .pipeline-content {
        padding-top: 7.2em;
    }
}


@media (max-width: 568px){

    .video-gallery-slider-wrap {
        margin: 0 -30px 15px;
    }
}

@media (max-width:480px){
    .store-window-section .store-window{
		max-width: 100%;
	}

    .snow-globe-section .hero .intro {
        padding: 0 !important;
    }

    .raindeer-section .pipeline-content {
        padding-top: 1.2em;
    }

}

@media (max-width:414px){
	.store-window-section .store-window img {
		max-width: 360px;
		height: auto;
	}
	
	.video-gallery-slider-wrap {
		margin: 0 -60px 15px;
	}
}

@media (max-width:375px){
	.store-window-section .store-window img {
		max-width: 320px;
		height: auto;
	}
	
	.base-holder {
		left: -210px;
		bottom: 85px;
	}
	
	.base-holder img {
		max-width: 450px;
	}
	
	.video-gallery .frame-dots {
		bottom: 0px;
	}
	
	.video-gallery .video-gallery-item .video-overlay-bg-img {
		padding: 0;
		padding-top: 6px;
		padding-bottom: 151px;
		margin-top: 135px;
		/* border-bottom-left-radius: 52%; */
		/* border-bottom-right-radius: 52%; */
	}
	
	.video-gallery .video-gallery-item .play-icon {
		top: 100px;
	}
	
	.video-gallery-slider-wrap .slider-nav {
		bottom: 48px;
	}
	
	.video-gallery-slider-wrap .base-holder {
		max-width: 418px;
		height: 456px;
	}
	
	.video-gallery-slider-wrap .globe-holder {
		max-width: 500px;
		height: 535px;
		bottom: -28px;
	}
	
	.video-gallery-slider-wrap {
		margin: 0 -82px 15px;
	}
		

}

@media (max-width:320px){
	#main-header .top-bar-section ul.menu > li > a {
		font-size: 16px;
		padding: 10px 7px 5px;
	}
	
	.top-bar-section ul li {
		background: transparent;
		margin: 0px 2px;
	}
	
	.deer-feet-up {
		top: -102px;
		right: -52px;
		background-size: 100px 110px;
	}
	
	.deer-with-birds {
		right: -123px;
		top: -31px;
		background-size: 100px 100px;
		background-size: 150px 100px;
		/* width: 117px; */
	}
	
	.pipeline-line h4 {
		font-size: 20px;
	}
	
	
	.pipeline-deers.waypoint-entered .pipeline-line.deer-feet-up-line h4 {
		color: #369ae3;
		position: absolute;
		top: 33px;
		right: -170px;
	}
	
	.pipeline-line.deer-with-birds-line h4 {
		position: absolute;
		top: 17px;
		right: -161px;
	}
	
	.store-window-section .store-window img {
		max-width: 275px;
		height: auto;
	}
	
	.hero .intro h3 {
		line-height: 55px;
	}
	
	.base-holder img {
		max-width: 400px;
	}
	
	.base-holder {
		left: -203px;
		bottom: -165px;
	}
	
	.video-gallery .video-gallery-item .video-overlay-bg-img {
		padding: 0 30px;
		padding-top: 7px;
		padding-bottom: 151px;
		margin-top: 135px;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
	}
	
	.video-gallery-slider-wrap .slider-nav {
		bottom: 126px;
	}
		
	.video-gallery-slider-wrap {
		margin: 0 -109px 15px;
	}
	
	.video-gallery-slider-wrap .globe-holder {
		max-width: 410px;
		height: 535px;
		bottom: -28px;
	}
	
	.video-gallery-slider-wrap .base-holder {
		max-width: 337px;
		height: 456px;
	}

}


