﻿.nlr-search input, .PrimaryBottom input, .RightRail input {color: #999;}
div.search {float: right; width: 410px;}
input.btnSearch {float: left; margin: 1px 0.5em 0px 0px; padding: 0px; width: 250px;}
.btnAsk  {float:right;}
.RightRail .btnAsk  {float:right; margin-right: 1px; *margin-right: 2px;}
.txtSearchFAQ{height: 30px; margin: 0 0 7px; padding: 0 0 0 3px; float: left; overflow: hidden; width: 77%;}
.RightRail a.td-link-toggle, .PrimaryBottom a.td-link-toggle, .fixed-footer a.td-link-toggle {cursor: pointer; outline: medium none; text-decoration: none !important; }  
.RightRail a.td-link-toggle span, .PrimaryBottom a.td-link-toggle span, .fixed-footer a.td-link-toggle span  {text-decoration: none; vertical-align: middle;}  
.RightRail a:link, .fixed-footer a:link {color: #666;} /* do not include .PrimaryBottom subclass to this rule, because it needs to be green, not gray text */
.imgbtnExpand{background: url(/exc/img/icon-expand-heading16.png) no-repeat scroll 0 0 transparent;  color: transparent; display: inline-block; font: 0px/1px a; height: 16px; overflow: hidden; position: relative; text-shadow: none; top: -1px; width: 16px; border: 0;}
.imgbtnCollapse{background: url(/exc/img/icon-collapse-heading16.png) no-repeat scroll 0 0 transparent; color: transparent; display: inline-block; font: 0px/1px a; height: 16px; overflow: hidden; position: relative; text-shadow: none; top: -1px; width: 16px; border: 0;}
body#customer-feedback, body#confirmation {width: 760px; margin: 0 auto;}
.nlr-search {float: right;}
.search {float: left; width: 410px; margin: 0 .5em 0 0;}
input.btnSearch {float: left; margin: 1px 0.5em 0px 0px; padding: 0px; width: 250px;}
input#btnAsk, #btnAskTryAnother {background: url(/exc/img/search_nlh.gif) no-repeat scroll 0 0 transparent; border: 0 none; color: #1A5336; float: left; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-weight: bold; height: 21px; margin: 0 8px 0 0; width: 69px;}  
.PrimaryBottom a {color: #1A5336; text-decoration: underline;}
.PrimaryBottom a {color: #1A5336;}
.ie .fixed-footer .td-button { position:fixed !important;margin-left:7px; top:92%; font-family:Verdana, Arial, Helvetica, sans-serif; padding:0; font-weight:bold; cursor:pointer; text-decoration:none !important; z-index:1; background-position:0 50%; background-repeat:repeat-x; -webkit-border-radius:5px 5px 5px 5px; -moz-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px; font-size:11px }
.expand-contract {padding:10px 0;}  
.lblHelpTitle {font-weight: bold;  display: block;} /* 5/13/13 - updated font size as per wireframe */
.RightRail .lblHelpTitle {font-weight: bold; font-size: 105%; display: block; padding:5px;} /* 5/13/13 - added to match font size of other right rail titles */
.RightRail .secondarySearch a {font-size: 11px; font-size: 12px\9; color: #555;} /* 5/13/13 - added to match font-size of other right rail link text */
.RightRail .txtSearchFAQ {width: 95%;}
.PrimaryBottom label, .RightRail label {font-weight: bold; margin: 1.5em 0 0;}
.send-email #lblComments {display: block; margin: 2em 0 0 0;}
.PrimaryBottom textarea, .RightRail textarea, .send-email textarea {margin: 0 0 .3em 0;}
.send-email .lblHelpTitle {display: block; padding: 0 0 1em 0;}
.PrimaryBottom .td-callout.td-callout-primary.td-cs-tertiary{float: left; width: 96%; overflow: hidden;}
.RightRail .td-callout.td-callout-primary.td-cs-tertiary {float: left; width: 93%; overflow: hidden;}
.PrimaryBottom .txtSearchFAQ {width: 82%;}
.PrimaryBottom .required, .RightRail .required, .send-email .required {color: red; display: block; text-align: right; width: 100%; margin: 0 0 1.5em 0;}
.one-half {float: left; width: 47%; margin-right: 3.5em;}
.full {float: left; width: 99%; clear: both; margin: 2em 0 0 0;}
.char-count {float: left; font-size: 11px; color: gray;  margin: 0 0 3em 0;}
.PrimaryBottom .right, .RightRail .right, .send-email .right, .customer-feedback .right {float: right; width: 25%; text-align: right;}
.google-results-search {float: left; width: 100%;}
.customer-feedback {width: 100%;}
.customer-feedback textarea {width: 70%; display: block; margin-top: .7em;}
.customer-feedback .submit-feedback {float: left; padding: 0.2em 0 0; width: 70.35%; width: 70.55%\9;}
.customer-feedback caption {font-weight: bold; padding: 1em 0; text-align: left;}
.customer-feedback .region {width: 35%;}
.customer-feedback h3 {color: #555; font-family: arial,verdana,sans-serif; font-size: 20px; font-weight: normal; margin-bottom: 0;}
.customer-feedback h3#confirmMsg {font-family: verdana,arial,sans-serif; font-size: 100%; font-weight: bold;}
.send-email label {color: #000; font-weight: bold; margin: 1.5em 0 0 .2em; font-family: arial, verdana, sans-serif; font-size: 16px;}
.customer-feedback label{color: #000; font-weight: bold; margin: 1.5em 0 .7em .2em; font-family: arial, verdana, sans-serif; font-size: 16px; width: 100%; float: left;}
/*.customer-feedback .td-callout.td-callout-primary.td-cs-primary { background:#fff; background:-moz-linear-gradient(top, #fff 0%, #fff 50%, #fff 50%, #dbe9e2 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(50%, #fff), color-stop(100%, #dbe9e2)); background:-webkit-linear-gradient(top, #fff 0%, #fff 50%, #fff 50%, #dbe9e2 100%); background:-o-linear-gradient(top, #fff 0%, #fff 50%, #fff 50%, #dbe9e2 100%); background:-ms-linear-gradient(top, #fff 0%, #fff 50%, #fff 50%, #dbe9e2 100%); background:linear-gradient(top, #fff 0%, #fff 50%, #fff 50%, #dbe9e2 100%); -pie-background:linear-gradient(top, #fff 0%, #fff 50%, #dbe9e2 100%); float: left; margin-bottom: 2em; overflow: hidden; padding: 2em 1.5em; width: 95%;}*/
/*.customer-feedback .td-callout.td-callout-primary.td-cs.primary {background-color: #F1F8ED; float: left; margin-bottom: 2em; margin-top: 1em; overflow: hidden; padding: 1em 1.5em; width: 95%;}*/
form#form1 .customer-feedback .td-callout.td-callout-primary.td-cs-primary {background: none repeat scroll 0 0 #F1F8ED; border: 0 none; margin: 1em 0; -pie-background:#f1f8ed;}
.customer-feedback p {margin: 1.5em 0 0;}
.customer-feedback .td-callout-primary {box-shadow: none;}
.customer-feedback .td-divider-fade-horizontal-startbottomleft {background-image: url(/assets-tdos/images/dividers/fade-horizontal-left-primary.png); background-position: right bottom; background-repeat: no-repeat; padding: 0 0 12px;}

.error {color: Red;}
.search-results-container {width: 100%; float: left; overflow: hidden;}
.main {float: left; width: 72%; overflow: hidden; margin: 0 2em 0 0;}
.right-content {float: right; width: 23%; overflow: hidden;}
.results-search {float: left; overflow: hidden; width: 95%; background-color: #F1F8ED; padding: .5em .8em 1.3em .8em; margin: 0 0 1.2em;}
.results-search input.search {margin: 0 0.5em 0 0; width: 80%;}
.results-search input#btnAsk {margin-right: 0;}
.PrimaryBottom h3, .RightRail h3 {color: #305f47; font-family: Verdana, Arial,Helvetica,sans-serif; font-size: 105%; line-height: 1.3em; font-weight: 600;}
form#ctl00 {overflow: hidden;}
.PrimaryBottom .secondarySearch {float: left; overflow: hidden; width: 100%;}
.PrimaryBottom .td-callout.td-callout-primary.td-cs-primary {background: -moz-linear-gradient(center top , #FFFFFF 0%, #FFFFFF 75%, #FFFFFF 75%, #EFEFEF 100%) repeat scroll 0 0 transparent; float: left; overflow: hidden; width: 96%;}

.RightRail .td-callout.td-callout-primary.td-cs-primary {background: -moz-linear-gradient(center top , #FFFFFF 0%, #FFFFFF 75%, #FFFFFF 75%, #EFEFEF 100%) repeat scroll 0 0 transparent; float: left; overflow: hidden; width: auto;}
.RightRail .td-button, .fixed-footer .td-button, .PrimaryBottom .td-button {font-size:11px;line-height:1.2em;}
.RightRail .td-button .td-button-label, .PrimaryBottom .td-button .td-button-label {padding:.2em 1em .3em 1em !important;*padding:.3em 1em .4em 1em !important;}
.RightRail button.td-button .td-button-label{*padding:.24em .9em .2em .9em !important;}
.RightRail input.td-button {padding:.2em 1em .3em 1em !important;*padding:.24em .9em .2em .9em !important;}

/* nlh list */
.PrimaryBottom ul, .PrimarySecondary ul, .RightRail ul, .fixed-footer ul {list-style-type: square; color: #8AC223;}
.PrimaryBottom li a, .PrimarySecondary li a, .RightRail li a, .PrimaryBottom a#lnkTopFAQ, .fixed-footer a {color: #666;}
.fixed-footer ul li {background-image: url(/assets-tdos/images/ui/bullet.gif); background-position: 3px 6px; background-repeat: no-repeat; color: #8AC223; line-height: 1.2em; list-style-type: none; margin: 0 0 0.5em; padding: 0 5px 12px; position: relative; }

/*fixed footer */
.fixed-footer {bottom: -12px; left: 50%; position: fixed; _position: absolute; width: 980px; z-index: 1; margin-left: -490px;}
.fixed-footer .td-callout.td-callout-primary.td-cs-tertiary{ background:#fff; background:-moz-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(75%, #fff), color-stop(75%, #fff), color-stop(100%, #efefef)); background:-webkit-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-o-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-ms-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); -pie-background:linear-gradient(top, #fff 0%, #fff 75%, #efefef 100%); float: left; width: 98.25%; width: 98.15%\9; border-radius: 5px 5px 0 0; height: 80px; behavior: url(/assets-tdos/pie/PIE.htc);}
.fixed-footer .txtSearchFAQ {float: left; height: 30px; margin: 0 0 5px; overflow: hidden; padding: 0 0 0 3px; width: 90%; color: #999;}
.fixed-footer .td-callout.td-callout-primary.td-cs-tertiary, .fixed-footer .td-callout.td-callout-secondary.td-cs-tertiary { border:2px solid #9DC2B1; border-bottom: 0;}

/* fixed footer button */
.fixed-footer .td-button-secondary {border:1px solid #ac3e01; color:#fff !important; text-shadow:1px 1px 0px #8d3f09; background:#c0570d; background:-moz-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0570d), color-stop(49.9%, #b94d00), color-stop(50%, #ac3e01), color-stop(100%, #b04a02)); background:-webkit-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-o-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-ms-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); -pie-background:linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; -webkit-box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; -moz-box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.fixed-footer .td-button-secondary:hover, .fixed-footer .td-button-secondary:focus {color:#fff !important; border:1px solid #ad0101;*border:none;*box-shadow:0px 0px 1px #000;background:#b54c00; background:-moz-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #b54c00), color-stop(49.9%, #b54c00), color-stop(50%, #9e3900), color-stop(100%, #b54c00)); background:-webkit-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-o-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-ms-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); -pie-background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; -webkit-box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; -moz-box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.fixed-footer .td-button-secondary.td-button-activeonfocus {border:1px solid transparent; border:none; background-color:transparent; background-image:none; text-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; color:#1a5336 !important;}
.fixed-footer .td-button-secondary.td-button-activeonfocus:focus, .fixed-footer .td-button-secondary.td-button-activeonfocus:hover { color:#fff !important; border:1px solid #ad0101; text-shadow:1px 1px 0px #8d3f09;  *border:none;*box-shadow:0px 0px 1px #000;background:#b54c00; background:-moz-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #b54c00), color-stop(49.9%, #b54c00), color-stop(50%, #9e3900), color-stop(100%, #b54c00)); background:-webkit-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-o-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-ms-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); -pie-background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; -webkit-box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; -moz-box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.fixed-footer .td-button { position:relative;margin-left:7px; top:93.5%; font-family:Verdana, Arial, Helvetica, sans-serif; padding:0; font-weight:bold; cursor:pointer; text-decoration:none !important; z-index:1; background-position:0 50%; background-repeat:repeat-x; -webkit-border-radius:5px 5px 5px 5px; -moz-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px; font-size:11px }
.spImp {color:#c45400 }

/* 5/9/13 UI fixes */
.send-email {float: left; width: 100%; overflow: hidden;}
.send-email .last {margin-right: 0; float: right;}
.send-email .full {clear: both; float: left; margin: 1.4em 0 0; width: 100%;}
.one-half.last input {width: 97.75%;}
.send-email input {width: 99%; margin-top: 0.8em;}
.send-email textarea#txtComments {width: 99%;}
.send-email a#btnSubmit {margin: 4px 5px 0 0; margin: 4px 3px 0 0\9;}
.send-email hr.td-divider-fade  {margin-bottom: 5px;}
form#landingForm h3 {color: #555; font-size: 155%; font-weight: normal; margin-bottom: .7em; font-family: arial, verdana, sans-serif;} /* 5/15/13 */

/* 6/7/13 UI collision fixes */
.send-email a#btnSubmit, .submit-feedback a#btnSubmit {margin: 4px 5px 0 0;}
.send-email .td-button-secondary, .submit-feedback .td-button-secondary {background: -moz-linear-gradient(center top , #F3F7EF 0%, #EBF6D4 49.9%, #D9E7C0 50%, #E5F3CD 100%) repeat scroll 0 0 transparent; border: 1px solid #7EA292; color: #1A5336 !important;}
.send-email .td-button-compact, .submit-feedback .td-button-compact {font-size: 11px; line-height: 1.2em;}
.send-email .td-button, .submit-feedback .td-button {display: inline-block;}
.send-email .td-button, .submit-feedback .td-button {background-position: 0 50%; background-repeat: repeat-x; border-radius: 5px 5px 5px 5px; cursor: pointer; font-family:  Verdana,Arial,Helvetica,sans-serif; font-weight: bold; padding: 0; position: relative; text-decoration: none !important; top: 0; z-index: 1;}
.send-email .right, .submit-feedback .right {text-align: right;}
.send-email .td-button .td-button-label, .submit-feedback .td-button .td-button-label {padding: 0.45em 1em 0.5em !important;}
.send-email .td-button-label, .submit-feedback .td-button-label {display: inline-block;}
.send-email .td-button-secondary, .submit-feedback .td-button-secondary {color: #1A5336 !important;}
.send-email .td-button-secondary:hover, .submit-feedback .td-button-secondary:hover, .send-email .td-button-secondary:focus, .submit-feedback .td-button-secondary:focus { color:#1a5336 !important; border:1px solid #68a92e;  *border:none; *box-shadow:0px 0px 2px #1a5336;background:#e9f2d8; background:-moz-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9f2d8), color-stop(49.9%, #d9edb3), color-stop(50%, #c7de9e), color-stop(100%, #d2e9aa)); background:-webkit-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-o-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-ms-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); -pie-background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); box-shadow:0 1 3px #878787, 0 0 2px #fff inset; -webkit-box-shadow:0 1 3px #878787, 0 0 2px #fff inset; -moz-box-shadow:0 1 3px #878787, 0 0 2px #fff inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.send-email hr.td-divider-fade {background: linear-gradient(to right, rgba(159, 195, 177, 0) 0%, #9FC3B1 10%, #9FC3B1 90%, rgba(159, 195, 177, 0) 100%) repeat scroll 0 0 transparent; border: medium none; height: 1px; margin: 0 0 18px; position: relative;}
.send-email hr.td-divider-fade .td-divider-fade-fadetoright {background: linear-gradient(to right, #9FC3B1 0%, #9FC3B1 10%, #9FC3B1 90%, rgba(159, 195, 177, 0) 100%) repeat scroll 0 0 transparent;}
form#form1 .send-email .lblHelpTitle {color: #555555; font-family: arial,verdana,sans-serif; font-size: 20px; font-weight: normal; margin: 0.7em 0 0;}

/* ! DO NOT MODIFY THIS RULE ! */
.RightRail hr.td-divider-fade, .PrimaryBottom hr.td-divider-fade, .fixed-footer hr.td-divider-fade, .send-email hr.td-divider-fade, .customer-feedback hr.td-divider-fade {position:relative;border:none; margin:0 0 18px 0; height:1px;*border-bottom:1px solid #9FC3B1;background: -moz-linear-gradient(left, rgba(159,195,177,0) 0%, rgba(159,195,177,1) 10%, rgba(159,195,177,1) 90%, rgba(159,195,177,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(159,195,177,0)), color-stop(10%,rgba(159,195,177,1)), color-stop(90%,rgba(159,195,177,1)), color-stop(100%,rgba(159,195,177,0)));
background: -webkit-linear-gradient(left, rgba(159,195,177,0) 0%,rgba(159,195,177,1) 10%,rgba(159,195,177,1) 90%,rgba(159,195,177,0) 100%);
background: -o-linear-gradient(left, rgba(159,195,177,0) 0%,rgba(159,195,177,1) 10%,rgba(159,195,177,1) 90%,rgba(159,195,177,0) 100%);
background: -ms-linear-gradient(left, rgba(159,195,177,0) 0%,rgba(159,195,177,1) 10%,rgba(159,195,177,1) 90%,rgba(159,195,177,0) 100%);
background: linear-gradient(to right, rgba(159,195,177,0) 0%,rgba(159,195,177,1) 10%,rgba(159,195,177,1) 90%,rgba(159,195,177,0) 100%);
-pie-background:linear-gradient(left, #fff 0%, #9fc3b1 10%, #9fc3b1 90%, #fff 100%); behavior: url(/assets-tdos/pie/PIE.htc);}

/* ! DO NOT MODIFY THIS RULE ! */				  
form#landingForm hr.td-divider-fade.td-divider-fade-fadetoright, .customer-feedback hr.td-divider-fade.td-divider-fade-fadetoright, .send-email hr.td-divider-fade.td-divider-fade-fadetoright {background: -moz-linear-gradient(left, rgba(159,195,177,1) 0%, rgba(159,195,177,1) 10%, rgba(159,195,177,1) 90%, rgba(159,195,177,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(159,195,177,1)), color-stop(10%,rgba(159,195,177,1)), color-stop(90%,rgba(159,195,177,1)), color-stop(100%,rgba(159,195,177,0)));
background: -webkit-linear-gradient(left, rgba(159,195,177,1) 0%,rgba(159,195,177,1) 10%,rgba(159,195,177,1) 90%,rgba(159,195,177,0) 100%);
background: -o-linear-gradient(left, rgba(159,195,177,1) 0%,rgba(159,195,177,1) 10%,rgba(159,195,177,1) 90%,rgba(159,195,177,0) 100%);
background: -ms-linear-gradient(left, rgba(159,195,177,1) 0%,rgba(159,195,177,1) 10%,rgba(159,195,177,1) 90%,rgba(159,195,177,0) 100%);
background: linear-gradient(to right, rgba(159,195,177,1) 0%,rgba(159,195,177,1) 10%,rgba(159,195,177,1) 90%,rgba(159,195,177,0) 100%);
-pie-background:linear-gradient(left, #9fc3b1 0%, #9fc3b1 10%, #9fc3b1 90%, #fff 100%); behavior: url(/assets-tdos/pie/PIE.htc);}

.RightRail hr.td-divider-fade.td-cs-tertiary, .PrimaryBottom hr.td-divider-fade.td-cs-tertiary, .fixed-footer hr.td-divider-fade.td-cs-tertiary {*border-bottom:1px solid #bdbdbd;background: -moz-linear-gradient(left, rgba(189,189,189,0) 0%, rgba(189,189,189,1) 10%, rgba(189,189,189,1) 90%, rgba(189,189,189,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(189,189,189,0)), color-stop(10%,rgba(189,189,189,1)), color-stop(90%,rgba(189,189,189,1)), color-stop(100%,rgba(189,189,189,0)));
background: -webkit-linear-gradient(left, rgba(189,189,189,0) 0%,rgba(189,189,189,1) 10%,rgba(189,189,189,1) 90%,rgba(189,189,189,0) 100%);
background: -o-linear-gradient(left, rgba(189,189,189,0) 0%,rgba(189,189,189,1) 10%,rgba(189,189,189,1) 90%,rgba(189,189,189,0) 100%);
background: -ms-linear-gradient(left, rgba(189,189,189,0) 0%,rgba(189,189,189,1) 10%,rgba(189,189,189,1) 90%,rgba(189,189,189,0) 100%);
background: linear-gradient(to right, rgba(189,189,189,0) 0%,rgba(189,189,189,1) 10%,rgba(189,189,189,1) 90%,rgba(189,189,189,0) 100%);
-pie-background:linear-gradient(left, #fff 0%, #bdbdbd 10%, #bdbdbd 90%, #fff 100%); behavior: url(/assets-tdos/pie/PIE.htc);}

/* PrimaryBottom Widget & Send Email title */
.PrimaryBottom .lblHelpTitle, .send-email .lblHelpTitle {color: #555; font-size: 20px; font-weight: normal; margin: 0 0 0.7em;}
.PrimaryBottom .td-callout {margin: 1em 0 12px; padding: 6px 11px 5px; position: relative;}
.PrimaryBottom .primary-floatright {margin-bottom: 0.5em;}
.fixed-footer .lblHelpTitle {float: left; width: 50%; color: #555; font-size: 20px; font-weight: normal; margin: 0 0 0.7em;}
/* fixed footer button */
.fixed-footer .td-button-label{}
.fixed-footer .td-button:hover, .fixed-footer .td-button:hover .td-button-label{text-decoration:none !important;}
.fixed-footer .td-button-label {display: -moz-inline-box;display: inline-block;}* html .fixed-footer .td-button-label {display:inline;}* + html .td-button-label {display:inline;}
.fixed-footer .td-button .td-button-label{padding:.45em 1em .5em 1em !important;*padding:.46em 1.9em .6em 1.9em !important;}
.fixed-footer .td-button-secondary {border:1px solid #ac3e01; color:#fff !important; text-shadow:1px 1px 0px #8d3f09; background:#c0570d; background:-moz-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0570d), color-stop(49.9%, #b94d00), color-stop(50%, #ac3e01), color-stop(100%, #b04a02)); background:-webkit-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-o-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-ms-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); -pie-background:linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; -webkit-box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; -moz-box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.fixed-footer .td-button-secondary:hover, .fixed-footer  .td-button-secondary:focus {color:#fff !important; border:1px solid #ad0101;*border:none;*box-shadow:0px 0px 1px #000;background:#b54c00; background:-moz-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #b54c00), color-stop(49.9%, #b54c00), color-stop(50%, #9e3900), color-stop(100%, #b54c00)); background:-webkit-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-o-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-ms-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); -pie-background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; -webkit-box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; -moz-box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.fixed-footer .td-button-secondary.td-button-activeonfocus {border:1px solid transparent; border:none; background-color:transparent; background-image:none; text-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; color:#1a5336 !important;}
.fixed-footer .td-button-secondary.td-button-activeonfocus:focus, .td-button-secondary.td-button-activeonfocus:hover { color:#fff !important; border:1px solid #ad0101; text-shadow:1px 1px 0px #8d3f09;  *border:none;*box-shadow:0px 0px 1px #000;background:#b54c00; background:-moz-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #b54c00), color-stop(49.9%, #b54c00), color-stop(50%, #9e3900), color-stop(100%, #b54c00)); background:-webkit-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-o-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-ms-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); -pie-background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; -webkit-box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; -moz-box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; behavior: url(/assets-tdos/pie/PIE.htc);}

form#landingForm .td-divider-fade-horizontal-startbottomleft {background: linear-gradient(to right, #BDBDBD 0%, #BDBDBD 10%, #BDBDBD 90%, rgba(189, 189, 189, 0) 100%) repeat scroll 0 0 transparent;}

/* Komala, for error messaging - 5/13/13 */
.highlight-textbox{ border-style:solid;border-color:Red;}

.RightRail ul  {margin-left: 0px; margin-left: 2px\9;}
.RightRail li {margin-left: 0.9em; margin-right: 0; padding: 0;}
.RightRail .td-callout {position:relative; margin:0 0 12px 0; padding: 5px;}

form#landingForm .lblHelpTitle {font-size: 16px; font-weight: bold; font-family: arial, verdana, sans-serif;}

#lblZeroResults { color:#1a5336; font-size: 16px; font-weight: bold; font-family: arial, verdana, sans-serif;}
#SearchResultsTitle,#noSearchTitle {font-size: 20px; font-weight: normal; color:#555; font-family: arial, verdana, sans-serif; display: block; padding: 0 0 1em 0;}

form#landingForm .clear{display:none }

.divFAQwrapper {padding-bottom: 10px; float: left; overflow: hidden; width: 100%;}
.fixed-footer .divFAQwrapper {padding-bottom: 10px; float: left; overflow: hidden; width: 100%;}

/*Komala : GSA Try Another search div styles*/

.btnGSA {background: url(/exc/img/search_nlh.gif) no-repeat scroll 0 0 transparent; border: 0 none; color: #1A5336; float: left; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-weight: bold; height: 21px; margin: 0 8px 0 0; width: 69px;}  
.lblHelpTitleGSA  {font-weight: bold; color:black;  display: block;}
.searchGSA {float: left; width: 410px; margin: 0 .5em -1em 0;}

.PrimaryBottom .td-callout, .fixed-footer .td-callout {position:relative;margin:0 0 12px 0;padding:11px 11px 18px 11px;}
table#Footer {margin-bottom: 10em; *border-bottom: 9em solid #fff;} /* to fix fixed-footer cutting off disclosures */

/* ! subclassed to be specific to NLH - editing these should not collide with default.css ! */
/* Tertiary Colour Scheme */
.PrimaryBottom .td-callout.td-callout-primary.td-cs-tertiary, .PrimaryBottom .td-callout.td-callout-secondary.td-cs-tertiary { border:1px solid #9DC2B1;}
.PrimaryBottom .td-callout.td-callout-primary.td-cs-tertiary, .PrimaryBottom .td-callout.td-callout-primary.td-cs-tertiary-light { background:#fff; background:-moz-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(75%, #fff), color-stop(75%, #fff), color-stop(100%, #efefef)); background:-webkit-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-o-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-ms-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); -pie-background:linear-gradient(top, #fff 0%, #fff 75%, #efefef 100%); behavior: url(/assets-tdos/pie/PIE.htc);}
.PrimaryBottom .td-callout {margin: 1em 0 12px; padding: 6px 11px 5px; position: relative;}
.PrimaryBottom a {color: #1A5336;}
/* PrimaryBottom buttons - GREEN (not the orange button used in fixed-footer) */
/* Secondary */
.PrimaryBottom .td-button { position:relative !important; top:0; font-family:Verdana, Arial, Helvetica, sans-serif; padding:0; font-weight:bold; cursor:pointer; text-decoration:none !important; z-index:1; background-position:0 50%; background-repeat:repeat-x; -webkit-border-radius:5px 5px 5px 5px; -moz-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px; }
.PrimaryBottom .td-button{font-size:12px;line-height:1.2em;}
.PrimaryBottom .td-button-secondary, .send-email .td-button-secondary, .submit-feedback .td-button-secondary  { border:1px solid #7ea292; color:#1a5336 !important;  *border:none;*box-shadow:0px 0px 2px #1a5336;background:#f3f7ef; background:-moz-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f7ef), color-stop(49.9%, #ebf6d4), color-stop(50%, #d9e7c0), color-stop(100%, #e5f3cd)); background:-webkit-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); background:-o-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); background:-ms-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); background:linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); -pie-background:linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); behavior: url(/assets-tdos/pie/PIE.htc);}
.PrimaryBottom .td-button-secondary:hover, .send-email .td-button-secondary:hover, .PrimaryBottom .td-button-secondary:focus, .send-email .td-button-secondary:focus { color:#1a5336 !important; border:1px solid #68a92e;  *border:none; *box-shadow:0px 0px 2px #1a5336;background:#e9f2d8; background:-moz-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9f2d8), color-stop(49.9%, #d9edb3), color-stop(50%, #c7de9e), color-stop(100%, #d2e9aa)); background:-webkit-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-o-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-ms-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); -pie-background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); box-shadow:0 1 3px #878787, 0 0 2px #fff inset; -webkit-box-shadow:0 1 3px #878787, 0 0 2px #fff inset; -moz-box-shadow:0 1 3px #878787, 0 0 2px #fff inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.PrimaryBottom .td-button-secondary.td-button-activeonfocus, .send-email .td-button-secondary.td-button-activeonfocus { border:1px solid transparent; background-color:transparent; color:#1a5336 !important; background-image:none;  *border:none; *box-shadow:none;}
.PrimaryBottom .td-button-secondary.td-button-activeonfocus:focus, .send-email .td-button-secondary.td-button-activeonfocus:focus, .PrimaryBottom .td-button-secondary.td-button-activeonfocus:hover, .send-email .td-button-secondary.td-button-activeonfocus:hover { color:#1a5336 !important; border:1px solid #68a92e;  *border:none; *box-shadow:0px 0px 2px #1a5336;
background:#e9f2d8; background:-moz-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9f2d8), color-stop(49.9%, #d9edb3), color-stop(50%, #c7de9e), color-stop(100%, #d2e9aa)); background:-webkit-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-o-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-ms-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); -pie-background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); box-shadow:0 1px 3px #878787, 0 0 2px #fff inset; -webkit-box-shadow:0 1px 3px #878787, 0 0 2px #fff inset; -moz-box-shadow:0 1px 3px #878787, 0 0 2px #fff inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.PrimaryBottom .td-button-label, .send-email .td-button-label{}
.PrimaryBottom .td-button:hover, .send-email .td-button:hover, .fixed-footer .td-button:hover .td-button-label, .send-email.td-button:hover .td-button-label{text-decoration:none !important;}
.PrimaryBottom .td-button-label, .send-email .td-button-label {display: -moz-inline-box;display: inline-block;}* html .fixed-footer .td-button-label {display:inline;}* + html .td-button-label {display:inline;}
.PrimaryBottom .td-button .td-button-label, .send-email .td-button .td-button-label{padding:.45em 1em .5em 1em !important;*padding:.46em 1.9em .6em 1.9em !important;}

/* Right Rail callout */
/* Tertiary Colour Scheme */
.RightRail .td-callout.td-callout-primary.td-cs-tertiary, .RightRail .td-callout.td-callout-secondary.td-cs-tertiary { border:1px solid #9DC2B1;}
.RightRail .td-callout.td-callout-primary.td-cs-tertiary, .RightRail .td-callout.td-callout-primary.td-cs-tertiary-light { background:#fff; background:-moz-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(75%, #fff), color-stop(75%, #fff), color-stop(100%, #efefef)); background:-webkit-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-o-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-ms-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); -pie-background:linear-gradient(top, #fff 0%, #fff 75%, #efefef 100%); behavior: url(/assets-tdos/pie/PIE.htc);}
.RightRail .td-callout.td-cs-tertiary.td-callout-gradient-ltr, .RightRail .td-callout.td-cs-tertiary-light.td-callout-gradient-ltr { background:#efefef; background:-moz-linear-gradient(left, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0%, #efefef), color-stop(25%, #fff), color-stop(25%, #fff), color-stop(100%, #fff)); background:-webkit-linear-gradient(left, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); background:-o-linear-gradient(left, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); background:-ms-linear-gradient(left, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); background:linear-gradient(left, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); -pie-background:linear-gradient(left, #efefef 0%, #fff 25%, #fff 100%); behavior: url(/assets-tdos/pie/PIE.htc);}
.RightRail .td-callout.td-cs-tertiary.td-callout-gradient-ttb, .RightRail .td-callout.td-cs-tertiary-light.td-callout-gradient-ttb { background:#efefef; background:-moz-linear-gradient(top, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(25%, #fff), color-stop(25%, #fff), color-stop(100%, #fff)); background:-webkit-linear-gradient(top, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); background:-o-linear-gradient(top, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); background:-ms-linear-gradient(top, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); background:linear-gradient(top, #efefef 0%, #fff 25%, #fff 25%, #fff 100%); -pie-background:linear-gradient(top, #efefef 0%, #fff 25%, #fff 100%); behavior: url(/assets-tdos/pie/PIE.htc);}
.RightRail .td-callout.td-cs-tertiary.td-callout-gradient-rtl, .RightRail .td-callout.td-cs-tertiary-light.td-callout-gradient-rtl { background:#fff; background:-moz-linear-gradient(left, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-webkit-gradient(linear, left top, right top, color-stop(0%, #fff), color-stop(75%, #fff), color-stop(75%, #fff), color-stop(100%, #efefef)); background:-webkit-linear-gradient(left, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-o-linear-gradient(left, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-ms-linear-gradient(left, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:linear-gradient(left, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); -pie-background:linear-gradient(left, #fff 0%, #fff 75%, #efefef 100%); behavior: url(/assets-tdos/pie/PIE.htc);}

/* Right Rail button */
/* Secondary */
.RightRail .td-button { position:relative !important; top:0; font-family:Verdana, Arial, Helvetica, sans-serif; padding:0; font-weight:bold; cursor:pointer; text-decoration:none !important; z-index:1; background-position:0 50%; background-repeat:repeat-x; -webkit-border-radius:5px 5px 5px 5px; -moz-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px; }
.RightRail .td-button-secondary { border:1px solid #7ea292; color:#1a5336 !important;  *border:none;*box-shadow:0px 0px 2px #1a5336;background:#f3f7ef; background:-moz-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f7ef), color-stop(49.9%, #ebf6d4), color-stop(50%, #d9e7c0), color-stop(100%, #e5f3cd)); background:-webkit-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); background:-o-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); background:-ms-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); background:linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); -pie-background:linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); behavior: url(/assets-tdos/pie/PIE.htc);}
.RightRail .td-button-secondary:hover, .RightRail .td-button-secondary:focus { color:#1a5336 !important; border:1px solid #68a92e;  *border:none; *box-shadow:0px 0px 2px #1a5336;background:#e9f2d8; background:-moz-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9f2d8), color-stop(49.9%, #d9edb3), color-stop(50%, #c7de9e), color-stop(100%, #d2e9aa)); background:-webkit-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-o-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-ms-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); -pie-background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); box-shadow:0 1 3px #878787, 0 0 2px #fff inset; -webkit-box-shadow:0 1 3px #878787, 0 0 2px #fff inset; -moz-box-shadow:0 1 3px #878787, 0 0 2px #fff inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.RightRail .td-button-secondary.td-button-activeonfocus { border:1px solid transparent; background-color:transparent; color:#1a5336 !important; background-image:none;  *border:none; *box-shadow:none;}
.RightRail .td-button-secondary.td-button-activeonfocus:focus, .RightRail .td-button-secondary.td-button-activeonfocus:hover { color:#1a5336 !important; border:1px solid #68a92e;  *border:none; *box-shadow:0px 0px 2px #1a5336;
background:#e9f2d8; background:-moz-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9f2d8), color-stop(49.9%, #d9edb3), color-stop(50%, #c7de9e), color-stop(100%, #d2e9aa)); background:-webkit-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-o-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:-ms-linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); -pie-background:linear-gradient(top, #e9f2d8 0%, #d9edb3 49.9%, #c7de9e 50%, #d2e9aa 100%); box-shadow:0 1px 3px #878787, 0 0 2px #fff inset; -webkit-box-shadow:0 1px 3px #878787, 0 0 2px #fff inset; -moz-box-shadow:0 1px 3px #878787, 0 0 2px #fff inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.RightRail .td-button-label{}
.RightRail .td-button:hover, .RightRail .td-button:hover .td-button-label{text-decoration:none !important;}
.RightRail .td-button:hover, .RightRail .td-button:focus{outline:none}
.RightRail .td-button:active{top:1px;left:1px;}
.RightRail .td-button {display: -moz-inline-box;display: inline-block;}* html .RightRail .td-button {display:inline;}* + html .RightRail .td-button {display:inline;}
.RightRail .td-button-label {display: -moz-inline-box;display: inline-block;}* html .RightRail .td-button-label {display:inline;}* + html .RightRail .td-button-label {display:inline;}

/* primary fixed widget */
.primary-widget-fixed {bottom: 0; left: 50%; margin-left: -515px; position: fixed; width: 1028px; z-index: 1;}
.primary-widget-fixed {border: 1px solid #999; border-bottom: 0; background:#fff; background:-moz-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(75%, #fff), color-stop(75%, #fff), color-stop(100%, #efefef)); background:-webkit-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-o-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:-ms-linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); background:linear-gradient(top, #fff 0%, #fff 75%, #fff 75%, #efefef 100%); -pie-background:linear-gradient(top, #fff 0%, #fff 75%, #efefef 100%); float: left; width: 1028px; border-radius: 5px 5px 0 0; min-height: 40px; behavior: url(/assets-tdos/pie/PIE.htc);}
.primary-widget-fixed table#ss_dlsttopFAQ {width: 100%;}
.primary-widget-fixed .txtSearchFAQ {float: left; height: 25px; margin: 5px 7px 7px 5px; overflow: hidden; padding: 0 0 0 3px; width: 77%; color: #999; height: 21px\9; padding-top: 4px\9;} /* 7/29/13 */
.primary-widget-fixed .fixwig-content-container {position: relative;}
.primary-widget-fixed .top-faqs {position: absolute; right: 10px; top: 9px;}
.primary-widget-fixed .top-faqs .imgbtnExpand {cursor: pointer; background: url(/exc/img/icon-expand-heading16.png) no-repeat scroll 0 0 transparent; border: 0 none; color: transparent; display: inline-block; font: 0px/1px a; height: 16px; overflow: hidden; position: absolute; text-shadow: none; top: 3px; left: -22px; width: 16px;}
.primary-widget-fixed .top-faqs .imgbtnCollapse {background: url(/exc/img/icon-collapse-heading16.png) no-repeat scroll 0 0 transparent; border: 0 none; color: transparent; display: inline-block; font: 0px/1px a; height: 16px; overflow: hidden; position: absolute; text-shadow: none; top: 3px; left: -22px; width: 16px;}
.primary-widget-fixed .top-faqs a#lnkTopFAQ {color: #1A5336; display: block; padding: 3px 0 0;}
.primary-widget-fixed #divtoggle {display: block; width: 100%;}
.primary-widget-fixed #divtoggle ul {width: 97%; float: left; margin-bottom: 12px;}
.primary-widget-fixed #divtoggle table#Primary_dlsttopFAQ li {background: url(/exc/img/icon-link-list.png) no-repeat scroll 0 4px transparent; height: 10px; list-style-type: none; padding: 5px 5px 0 0;}
.primary-widget-fixed #divtoggle table {width: 100%; float: left; margin-left: 1em;} /* 7/29/13 */
.primary-widget-fixed a {color: #1A5336; text-decoration: none;}
.primary-widget-fixed a:hover {text-decoration: underline;}


/* primary fixed widget button <a> */
.primary-widget-fixed .btnAsk {margin: 5px 0 0 0; font-weight: bold; border-radius: 5px; border:1px solid #ac3e01; color:#fff !important; text-shadow:1px 1px 0px #8d3f09; background:#c0570d; background:-moz-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0570d), color-stop(49.9%, #b94d00), color-stop(50%, #ac3e01), color-stop(100%, #b04a02)); background:-webkit-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-o-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-ms-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); -pie-background:linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; -webkit-box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; -moz-box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; float: left; overflow: hidden; width: auto; font-size: 12px; line-height: 1.2em; display: inline-block; cursor: pointer; behavior: url(/assets-tdos/pie/PIE.htc);}


/* primary fixed widget button <span> */
.primary-widget-fixed .button-label{padding: .45em 1em .5em; display: inline-block;}
.primary-widget-fixed .td-button:hover, .fixed-footer .td-button:hover .button-label{text-decoration:none !important;}
.primary-widget-fixed .button-label {display: -moz-inline-box;display: inline-block;}* html .fixed-footer .td-button-label {display:inline;}* + html .td-button-label {display:inline;}
.primary-widget-fixed .td-button .button-label{padding:.45em 1em .5em 1em !important;*padding:.46em 1.9em .6em 1.9em !important;}
.primary-widget-fixed .td-button-secondary {border:1px solid #ac3e01; color:#fff !important; text-shadow:1px 1px 0px #8d3f09; background:#c0570d; background:-moz-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0570d), color-stop(49.9%, #b94d00), color-stop(50%, #ac3e01), color-stop(100%, #b04a02)); background:-webkit-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-o-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:-ms-linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); background:linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); -pie-background:linear-gradient(top, #c0570d 0%, #b94d00 49.9%, #ac3e01 50%, #b04a02 100%); box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; -webkit-box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; -moz-box-shadow:0 1px 3px #9f9f9f, 0 0 2px #f09126 inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.primary-widget-fixed .td-button-secondary:hover, .primary-widget-fixed .td-button-secondary:focus {color:#fff !important; border:1px solid #ad0101;*border:none;*box-shadow:0px 0px 1px #000;background:#b54c00; background:-moz-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #b54c00), color-stop(49.9%, #b54c00), color-stop(50%, #9e3900), color-stop(100%, #b54c00)); background:-webkit-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-o-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-ms-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); -pie-background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; -webkit-box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; -moz-box-shadow:0 1px 5px #878787, 0 0 2px #f09126 inset; behavior: url(/assets-tdos/pie/PIE.htc);}
.primary-widget-fixed .td-button-secondary.td-button-activeonfocus {border:1px solid transparent; border:none; background-color:transparent; background-image:none; text-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; color:#1a5336 !important;}
.primary-widget-fixed .td-button-secondary.td-button-activeonfocus:focus, .td-button-secondary.td-button-activeonfocus:hover { color:#fff !important; border:1px solid #ad0101; text-shadow:1px 1px 0px #8d3f09;  *border:none;*box-shadow:0px 0px 1px #000;background:#b54c00; background:-moz-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #b54c00), color-stop(49.9%, #b54c00), color-stop(50%, #9e3900), color-stop(100%, #b54c00)); background:-webkit-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-o-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:-ms-linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); -pie-background:linear-gradient(top, #b54c00 0%, #b54c00 49.9%, #9e3900 50%, #b54c00 100%); box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; -webkit-box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; -moz-box-shadow:0 1px 5px #878787 0, 1px 5px #f09126 0 inset; behavior: url(/assets-tdos/pie/PIE.htc);}

#bottom-search-box td label.lblHelpTitleGSA {text-align: left;}
/* fix for NLH bullets point */
.PrimaryBottom .secondarySearch li{padding-top:12px;}