@charset "utf-8";

.s_live{
	display:inline-block;
	width:650px;
	overflow:auto;
	padding:20px 0px 0px;
	}
.live_tit{
	background:url(../../images/video/live_tit.png) no-repeat top left;
	display:block;
	height:35px;
	border-bottom:1px solid #999;
	margin-bottom:8px;
	}
.l_live,
.r_live{
	float:left;
	border-bottom:1px solid #ddd;
	}
.r_live{
	width:155px;
	background:#f5f5f5;
	}
.l_live iframe{
	width:495px;
	height:279px;
	}
.r_live a{
	line-height:31px;
	display:block;
	color:#222;
	text-decoration:none;
	font-size:14px;
	padding-left:8px;
	position:relative;
	} 
.r_live a:hover{
	background:#ddd;
	}
.r_live a span{
	position:absolute;
	right:8px;
	top:7px;
	font-size:12px;
	padding:3px 5px 0px;
	line-height:14px;
	color:#fff;
	width:30px;
	text-align:center;
	}
.r_live a.onplay{
	background: #ffc000;
	background: -moz-linear-gradient(top,  #ffc000 0%, #ffaa00 100%); 
	background: -webkit-linear-gradient(top,  #ffc000 0%,#ffaa00 100%);
	background: linear-gradient(to bottom,  #ffc000 0%,#ffaa00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc000', endColorstr='#ffaa00',GradientType=0 );
	}
.r_live a.onplay span{
	background:url(../../images/video/s_play.png) no-repeat right center;
	padding-right:24px;
	}
.r_live a.off span{
	background:#ccc;
	}
.r_live a.live span{
	background:#ffaa00;
	}
.s_live .legislature_cover{
	position: relative;
	width: 495px;
	height: 279px;
	background: url(../../images/video/load.png) no-repeat left center;
	cursor: pointer;
	}
