﻿
/* ####### Sitefinity CSS Section-1 ######### */
.category-area {
    background-color: #fff;
    background-image: none !important;
}

#contactUs .group-outer {
    margin: 0;
    padding: 0;
}

/* general */
.category-area {
    background-image: none !important;
    background-color: #fff;
}

#contactUs .c-phone {
    margin-top: 6px;
}

#container #contactUs {
    display: block;
}

#contactUs hr {
    margin: 15px 0;
    border-color: #e0e0e0 !important;
    clear: both;
    display: block !important;
}

#contactUs #reschat {
    padding-top: 10px;
}

#contactUs #buschat {
    padding-top: 10px;
}

#contactUs #intchat {
    padding-top: 10px;
}

#contactUs #secchat {
    padding-top: 10px;
}

#contactUs #fiochat {
    padding-top: 10px;
}

#contactUs .contact-outer {
    font-family: "nexa", Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    line-height: 20px;
    font-size: 14px;
    color: #333;
}

    #contactUs .contact-outer a {
        color: #3399cc;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
    }

    #contactUs .contact-outer .ph {
        color: #3399cc;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        padding-left: 6px;
    }

    #contactUs .contact-outer .email {
        margin-top: 9px;
    }

        #contactUs .contact-outer .email a {
            color: #333;
            font-weight: normal;
            font-size: 13px;
            line-height: 22px;
            margin-left: 6px;
        }

    #contactUs .contact-outer a:hover {
        text-decoration: underline;
    }

    #contactUs .contact-outer h2 {
        margin: 0 0 0 0;
        padding: 4px;
        font-size: 14px;
        color: #c41230;
    }

    #contactUs .contact-outer .icons {
        float: left;
        padding-bottom: 30px;
    }

#contactUs .address-right span {
    font-size: 14px;
    font-family: "nexa", Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

#contactUs .repair {
    width: 322px;
    float: left;
}

    #contactUs .repair span {
        font-size: 14px;
        font-family: "nexa", Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    }

#contactUs .clearfix {
    clear: both;
}

#contactUs .magic {
    clear: both;
}

#contactUs .c {
    padding: 10px 10px 10px 20px;
    font-size: 34px;
    font-weight: 100;
    line-height: 30px;
}

#contactUs #header {
    width: 100%;
    height: 164px;
    background: url(/Images/gm-Finder/gm-finder-header.png) repeat-x;
}

#contactUs #header h1 {
    font-size: 36px;
    padding: 40px 0 10px 40px;
}

#contactUs #header h4 {
    font-size: 18px;
    padding: 0 0 0 40px;
    width: 300px;
}

#contactUs .border-st {
    border-radius: 10px;
    border: 3px solid #d5d5d5;
    margin-right: 7px;
    float: left;
}

/* FORM */
#contactUs form {
    margin: 0;
}

#contactUs .form fieldset {
    border: 0 none;
    margin: 0;
    padding: 0.35em 0 0.75em;
}

#contactUs .control-group {
    margin-bottom: 1em;
    padding-bottom: 10px;
}

#contactUs .form .controls {
    margin-bottom: 3em;
}

#contactUs .form-aligned .control-group label {
    display: inline-block;
    margin: 0 1em 0 0;
    text-align: left;
    vertical-align: middle;
    width: 10em;
}

#contactUs .input-1 {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    display: inline-block;
    color: #333 !important;
    font-size: 12px;
    width: 135px;
    height: 30px;
    margin: 8px 0;
}

#contactUs .input-2 {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    display: inline-block;
    color: #333 !important;
    font-size: 12px;
    width: 135px;
    height: 30px;
    margin: 8px 0;
}

#contactUs .input-3 {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    display: inline-block;
    color: #333 !important;
    font-size: 12px;
    width: 210px;
    height: 30px;
    margin: 8px 0;
}

#contactUs .input-4 {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    display: inline-block;
    color: #333 !important;
    font-size: 12px;
    width: 187px;
    height: 30px;
    margin: 8px 0;
}

#contactUs .form label.checkbox {
    margin-left: 140px;
    -moz-box-sizing: border-box;
    display: inline-block;
    font-size: 0.8em;
    padding: 0.5em 0em 0 0;
}

#contactUs #findContacts.pure-button {
    margin: 30px 0px 0 0px;
}

#contactUs .pure-button-primary,
#contactUs .pure-button-selected,
#contactUs a.pure-button-primary,
#contactUs a.pure-button-selected {
    background-color: #c1122f;
    color: #fff;
    padding-top: 0px;
}

/* End FORM */
/* Buttons */
#contactUs .pure-button {
    background-color: #E6E6E6;
    color: #fff;
    border: 0 none rgba(0, 0, 0, 0);
    font-size: 14px;
    padding: 0.5em 1.5em;
    text-decoration: none;
    transition: box-shadow 0.1s linear 0s;
    border-radius: 0px;
}

#contactUs .pure-button {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

#contactUs a.pure-button-primary {
    color: #FFF;
}

#contactUs .pure-button-primary, #contactUs .pure-button-selected, #contactUs a.pure-button-primary, #contactUs a.pure-button-selected {
    background-color: #C1122F;
    padding-top: 11px;
    color: #FFF;
}

#contactUs .pure-button: -moz-focus-inner {
    padding: 0;
    border: 0;
    color: #FFF;
}

#contactUs .pure-button {
    font-size: 14px;
    color: #FFF;
    *font-size: 90%;
    *overflow: visible;
    padding: .5em 1.5em;
    border: 1px solid #999;
    border: 0 rgba(0,0,0,.1);
    -webkit-transition: .1s linear -webkit-box-shadow;
    -moz-transition: .1s linear -moz-box-shadow;
    -ms-transition: .1s linear box-shadow;
    -o-transition: .1s linear box-shadow;
    transition: .1s linear box-shadow;
}

    #contactUs .pure-button-hover,
    #contactUs .pure-button:hover,
    #contactUs .pure-button:focus {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
        background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
        background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
        background-image: -ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
        background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
        background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)) color: #FFF;
    }

    #contactUs .pure-button:focus {
        outline: 0;
    }

    .pure-button-active,
    #contactUs .pure-button:active {
        box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
    }

#contactUs .pure-button-hidden {
    display: none;
}

#contactUs .pure-button:-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* End BUTTONS */
#contactUs .zip {
    padding-left: 37px;
    height: 120px;
}

#contactUs .gm-bg-arrow {
    width: 35px;
    position: relative;
    left: 42px;
    top: -47px;
}

#contactUs h4 {
    font-size: 18px;
    padding: 15px 0;
}

#contactUs h5 {
    font-size: 15px;
    padding: 15px 0;
}

#contactUs h6 {
    font-size: 13px;
    padding: 15px 0 0 0;
}

#contactUs h5 strong {
    font-weight: bold;
}

#contactUs #message-alert {
    background-color: #feeeee;
    padding: 0px 10px 5px 20px;
    border: 1px solid #cecece;
    display: block;
    margin: 15px 0;
    min-height: 35px;
}

#contactUs .step-go {
    padding-top: 32px;
}

#contactUs label {
    color: #333;
    font-size: 13px;
    font-weight: normal;
}

#contactUs .call-center {
    font-size: 13px;
}

#contactUs .email {
    font-size: 14px;
    color: #3399cc;
    font-weight: bold;
}

#contactUs .step-bl {
    color: #c1122f;
    font-size: 18px;
    font-weight: bold;
}

#contactUs .step_prod-bl {
    color: #c1122f;
    font-size: 18px;
    font-weight: bold;
}

#contactUs .step_prodallfsp-bl {
    color: #c1122f;
    font-size: 18px;
    font-weight: bold;
}

#contactUs .icons {
    float: left;
    padding-bottom: 30px;
}

#contactUs .category-area {
    background: none !important;
    background-color: #FFF !important;
}

#contactUs .control-group {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#contactUs .con-input {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8em;
    padding: 0.75em 1em;
    width: 64px;
}

#contactUs #message-alert {
    font-family: "nexa", Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #feeeee;
    padding: 0px 1px 0px 12px;
    border: 1px solid #cecece;
    display: block;
    margin: 15px 0;
    height: 24px;
    width: 549px;
}

    #contactUs #message-alert p {
        color: #333;
        font-size: 13px;
        font-weight: bold;
        margin: 7px 0 5px 5px;
        line-height: 23px;
    }

#contactUs .contact-outer .arrow {
    color: #666;
    font-size: 17px;
    line-height: 22px;
}

.contact-outer h2 {
    padding: 17px 0 0 0 !important;
}

.save-time-btn {
    margin: 20px 10px 10px 10px;
    float: right;
}

#contactUs .clslblallfsp {
    border: 1px solid #cccccc;
    width: 210px;
    height: 25px;
    margin: 8px 0px 0px;
    padding: 5px 0px 0px 5px;
    color: #cccccc !important;
    font-size: 12px !important;
    border-radius: 4px;
}

#contactUs label.step_prodallfsp {
    color: #ccc !important;
    font-size: 13px;
}
/* ############### End of Section-1 ############### */

/* ********** Newly Added CSS for 7355 ********** */

#contactUs input[type=button]:disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFF;
    border-color: #ccc;
    background: #dddddd;
}

#contactUs .noPadding {
    padding: 0px;
}

#contactUs .leftPadding {
    padding: 0px;
    padding-left: 15px;
}

#contactUs .rightPadding {
    padding: 0px;
    padding-right: 15px;
}

#contactUs .space5 {
    float: left;
    padding: 5px;
}

#contactUs .callBackError p {
    font-size: 13px;
}

#contactUs #callbackAssist input[type=button],
#contactUs .contactUsCallback1 input[type=button],
#contactUs .contactUsCallback2 input[type=button] {
    font-weight: bold;
}

#contactUs #callbackAssist .callBackError {
    /*padding: 5px 0 20px 0;*/
}

#contactUs #callbackAssist input[type=button] {
    margin-top: 3px;
}

#contactUs #callbackAssist input[type=number] {
    text-align: center;
}

#contactUs #callbackAssist p,
#contactUs .contactUsCallback1 p {
    padding: 0 0 10px;
}

#contactUs .contactUsCallback1 {
    margin-top: 30px;
}

#contactUs .contactUsCallback1 .callbackContent {
    min-height: 80px;
}

#contactUs .contactUsCallback1 input[type=button].btn-default {
    padding: 6.5px 19.5px;
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
}


#contactUs .contactUsCallback1 input[type=text] {
    background: #FFFFFF;
    cursor: text;
    padding-left: 12px;
    width: 93%;
}

#contactUs .contactUsCallback1 .input-group-btn {
    vertical-align: middle;
}


#contactUs .contactUsCallback1 .jumbotron {
    padding: 10px 30px;
    min-height: 200px;
    background: #eee;
    margin-left: 15px;
    margin-right: 15px;
}

#contactUs .contactUsCallback1 .jumbotron h4 {
    font-weight: bold;
    margin: 0px;
    padding-bottom: 5px;
}

#contactUs .contactUsCallback1 .jumbotron p {
    font-size: 14px;
    margin-bottom: 0px;
}

#contactUs .contactUsCallback1 #callbackSchedule .col-xs-6 {
    width: 48%;
}

#contactUs .contactUsCallback1 #callbackSchedule .col-xs-6.noPadding {
    float: right;
}

.ui-timepicker-wrapper {
    /*width: 100%;*/
     width: 142px;
    background: #FFFFFF;
    -webkit-overflow-scrolling: touch;
}

.ui-timepicker-list li {
    padding: 3px 0 3px 12px;
}

#contactUs .contactUsCallback2 {
    height: auto;
}

#contactUs .contactUsCallback2 h4 {
    margin: 10px 0;
}

#contactUs .contactUsCallback2 p {
    margin: 0 0 20px;
}

#ui-datepicker-div {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

    #ui-datepicker-div td {
        padding: 0px;
    }

        #ui-datepicker-div td a,
        #ui-datepicker-div td span {
            text-align: center;
            border: 1px solid black;
            border-radius: 4px;
            padding: .4em;
        }

    #ui-datepicker-div .ui-datepicker-week-col {
        font-style: italic;
        padding: 0 8px;
    }

    #ui-datepicker-div .ui-state-default {
        background: none;
        border: none;
    }

    #ui-datepicker-div .ui-state-active {
        color: #FFFFFF;
        background: #008C9B;
        border: 1px solid #008C9B;
    }

    #ui-datepicker-div .ui-datepicker-header {
        background: none;
        border: 0;
        padding: 0px;
    }

    #ui-datepicker-div .ui-datepicker-prev,
    #ui-datepicker-div .ui-datepicker-next {
        padding: 1em;
        border: 1px solid #333;
    }

        #ui-datepicker-div .ui-datepicker-prev.ui-state-hover {
            left: 2px;
            top: 2px;
        }

        #ui-datepicker-div .ui-datepicker-next.ui-state-hover {
            top: 2px;
            right: 2px;
        }

    #ui-datepicker-div .ui-datepicker-title {
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        padding: 0.1em 0;
        margin-top: 2px;
    }

    #ui-datepicker-div .ui-priority-secondary {
        opacity: 1;
    }

    #ui-datepicker-div td.ui-state-disabled {
        opacity: 1;
    }

        #ui-datepicker-div td.ui-state-disabled span {
            color: #CCCCCC;
        }

.ui-timepicker-wrapper li.ui-timepicker-selected,
.ui-timepicker-wrapper .ui-timepicker-list li:hover,
.ui-timepicker-wrapper .ui-timepicker-list .ui-timepicker-selected:hover {
    background: #008C9B;
    color: white;
}

.callBackError .fa-exclamation-triangle,
.callbackErrorInput .fa-exclamation-triangle,
.callbackError .fa-exclamation-triangle {
    font-size: 20px;
}

.callBackError span.text-danger,
.callbackErrorInput span.text-danger,
.callbackError span.text-danger {
    font-size: 12px;
}

#contactUsDefault .callSection {
    margin-left: 20px;
}

.cancel-button {
    margin-right: 10px;
}
/* ****** end of newly added CSS ******* */

@media only screen and (max-width: 767px) {
    .ui-timepicker-wrapper {
        width: 350px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .ui-timepicker-wrapper {
        width: 300px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui-timepicker-wrapper {
      width: 200px !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui-timepicker-wrapper {
      width: 115px !important;
}
}

@media only screen and (min-width: 412px) and (max-width: 736px) {
  .ui-timepicker-wrapper {
      width: 350px !important;
}
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .ui-timepicker-wrapper {
      width: 350px !important;
}
}