﻿/* FRONTIER V1.0 */
html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  font-family: "nexa", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1.42857;
  color: #333;
  padding: 0;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
}

a, a:focus, a:hover {
  outline: none;
  cursor: pointer;
}

a#contactUsLink {
    color: #333 !important;
}

sub,
sup {
  font-size: 50%;
}

sup {
  top: -.75em;
}



.radio-circle, .wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 label, .wrapper .container .row .ts-steps-buttons .ts-step-button label, .wrapper .container .row #ts-list-of-topics ul li label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-size: 13px;
}

.radio-circle:before, .wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 label:before, .wrapper .container .row .ts-steps-buttons .ts-step-button label:before, .wrapper .container .row #ts-list-of-topics ul li label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #FFF;
  border-radius: 8px;
  border: 1px solid #CECECE;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

.radio-active, .wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 input[type=radio], .wrapper .container .row .ts-steps-buttons .ts-step-button input[type=radio], .wrapper .container .row #ts-list-of-topics ul li input[type=radio] {
  display: none;
}

.radio-active:checked + label:before, .wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 input[type=radio]:checked + label:before, .wrapper .container .row .ts-steps-buttons .ts-step-button input[type=radio]:checked + label:before, .wrapper .container .row #ts-list-of-topics ul li input[type=radio]:checked + label:before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #206c72;
  font-size: 18px;
  text-align: center;
  line-height: 13px;
  border: 1px solid #008c9b;
}

.radio-active:checked + label, .wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 input[type=radio]:checked + label, .wrapper .container .row .ts-steps-buttons .ts-step-button input[type=radio]:checked + label, .wrapper .container .row #ts-list-of-topics ul li input[type=radio]:checked + label {
  color: #008c9b;
}

/* LOGO & SOCIAL MEDIA */
.container #header-main .navbar-brand {
  float: left;
  height: auto;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.container #header-main .navbar-brand.ftr-brand-logo {
  width: 185px;
  height: 56px;
  margin: 0 0 15px 0;
  padding: 0;
  border-bottom: none;
}

.container #header-main input.ftr-quick-search, .container #header-main select.ftr-quick-links {
  color: #999;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.container #header-main .ftr-quick-links {
  width: 135px;
  margin: 8px 0;
  float: right;
  position: relative;
  right: 15px;
}

.container #header-main .ftr-quick-links .chosen-container {
  color: #999;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin: 8px 0;
}

.container #header-main .ftr-quick-links .chosen-container .chosen-single {
  border: none;
  height: 35px;
  line-height: 35px;
  background: #FFF;
}

.container #header-main .ftr-quick-links .chosen-container .chosen-single div {
  top: 6px;
}

.container #header-main .ftr-quick-links .chosen-container .chosen-drop {
  border: 1px solid #e0e0e0;
}

.container #header-main .ftr-quick-links .chosen-container .chosen-drop .chosen-results li.highlighted {
  background: #008c9b;
}

.container #header-main .ftr-quick-search {
  margin: 5px 0;
  width: 100%;
}

.container #header-main .ftr-quick-search .search {
  float: right;
  position: absolute;
  right: 30px;
  top: 25px;
  color: #c2c2c2;
}

.container #header-main .socialMedia {
  padding: 13px 0 0 0;
}

.container #header-main .socialMedia span {
  margin: 0;
  padding: 0;
  float: left;
}

.container #header-main .socialMedia span a i.fa.fa-circle.social-media {
  color: #b8b8b8 !important;
}

.container #header-main .socialMedia span a:hover i.fa.fa-circle.social-media {
  color: #999 !important;
}

nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

nav.navbar {
  position: relative;
  min-height: 30px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

nav.navbar .navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

nav.navbar .navbar-collapse {
  border-radius: 0;
  max-height: 340px;
  padding-right: 0;
  padding-left: 0;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

nav.navbar .nav-justified {
  width: 100%;
  border: 1px solid #E7E7E7;
  background-image: -moz-linear-gradient(to bottom, #FFF 0, #EEE 100%);
  background-image: linear-gradient(to bottom, #FFF 0, #EEE 100%);
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}

nav.navbar .nav-justified > li {
  float: none;
}

nav.navbar .nav-justified > li > a {
  background-repeat: repeat-x;
  color: #333;
  font-size: 13px;
  font-weight: 500;
  border-bottom: none;
  padding: 8px 0 !important;
  text-align: center;
  border-left: 1px solid #FFF;
  border-right: 1px solid #D5D5D5;
}

nav.navbar .nav-justified > li > a:hover {
  background-image: -moz-linear-gradient(to bottom, #F8F8F8 0, #FFF 100%);
  background-image: linear-gradient(to bottom, #f8f8f8 0, #FFF 100%);
  background-image: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.105) inset;
}

nav.navbar .nav-justified > li:first-child > a {
  border-left: 0 none;
  border-radius: 5px 0 0 5px;
}

nav.navbar .nav-justified > li:first-child > a, nav.navbar .nav-justified > li:last-child > a {
  border-radius: 0 !important;
}

nav.navbar .nav-justified > li.dropdown ul.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

nav.navbar .nav-justified > li.dropdown ul.dropdown-menu a {
  border-bottom: none;
}

nav.navbar .nav-justified > li.dropdown:hover ul.dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* HELP CENTER NAVIGATION */
.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin: 8px 15px 8px 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#search {
  margin: 20px auto 30px;
  height: 45px;
}

#search .search-icon {
  margin: 0;
  text-align: center;
  color: #333;
  font-size: 28px;
}

.es-ES #search .search-icon {
  font-size: 29px;
  padding: 7px 0;
}

#search #search-wrap {
  position: relative;
  padding: 10px;
  width: calc(100% - 65px);
  width: -webkit-calc(100% - 65px);
  width: -ms-calc(100% - 65px);
  display: inline-block;
  line-height: 24px;
}

#search #search-wrap input#search-input {
  width: 100%;
  height: 45px;
  border: 2px #CCC solid;
  border-right: none;
  border-radius: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  padding: 0 10px;
  font-weight: normal;
  font-size: 18px;
  color: inherit;
}

#search #search-wrap input#search-input:focus {
  outline: none;
}

#search #search-wrap .placeholder {
  font-size: 21px;
  color: #CECECE;
  font-weight: bold;
}

#search #search-wrap .placeholder em {
  color: #333;
  font-style: italic;
  font-weight: normal;
}

#search .btn.btn-primary {
  position: relative;
  height: 45px;
  width: 65px;
  background-color: #bb0826;
  border-radius:0;
}

#search .btn.btn-primary:hover {
  background-color: #8a0c03;
  background-position: 0 -45px;
}

#search .btn.btn-primary i {
  font-size: 14px;
  padding: 8px 0;
}

#helpcenter-menu ul {
  list-style: none;
  margin: 0;
  border-top: 1px solid #CECECE;
  border-bottom: 1px solid #CECECE;
}

#helpcenter-menu ul li {
  float: none;
  display: table-cell;
  width: 1%;
  position: relative;
  height: 95px;
  vertical-align: top;
  padding-top: 15px;
  text-align: center;
  line-height: 14px;
}

#helpcenter-menu ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  border-bottom: none;
}

#helpcenter-menu ul li a i {
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
  color: #333;
}

#helpcenter-menu ul li a span {
  font-size: 12px;
}

#helpcenter-menu ul li a:hover i, #helpcenter-menu ul li a:hover span {
  color: #206c72;
}

#helpcenter-menu ul li.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#DADADA));
  background: -webkit-linear-gradient(#E9E9E9, #DADADA);
  background: -moz-linear-gradient(top, #E9E9E9, #DADADA);
  background: -ms-linear-gradient(#E9E9E9, #DADADA);
  background: -o-linear-gradient(#E9E9E9, #DADADA);
  background: linear-gradient(#E9E9E9, #DADADA);
  zoom: 1;
}

#helpcenter-menu ul li.active i {
  color: #206c72;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #search .search-icon {
    font-size: 30px;
  }
  .es-ES #search .search-icon {
    font-size: 25px;
    padding: 7px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #search {
    margin: 20px 15px;
    height: 44px;
  }
  #search .search-icon {
    font-size: 29px;
    padding: 7px;
  }
  .es-ES #search .search-icon {
    font-size: 25px;
    padding: 7px 0;
  }
  #search #search-wrap .placeholder {
    font-size: 18px;
  }
  nav.navbar {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  nav.navbar {
    margin-bottom: 0;
  }
  nav .navbar-toggle {
    position: absolute;
  }
  nav .navbar-brand {
    float: none;
    padding: 10px;
    display: block;
    border-bottom: none;
  }
  nav .navbar-brand > img {
    margin: 0 auto;
  }
  #search {
    margin: 20px 15px;
    padding: 0;
    height: 77px;
  }
  #search .search-icon {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .es-ES #search .search-icon {
    padding: 0px;
    font-size: 24px;
  }
  #search #search-wrap {
    width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: -ms-calc(100% - 50px);
  }
  #search #search-wrap .placeholder {
    font-size: 12px;
  }
  #search .btn.btn-primary {
    width: 50px;
  }
  .dropdown-menu input#zipcode {
    margin: inherit;
    margin-right: 15px;
  }
}

#error-page h1, #error-page h2, #error-page h3, #error-page h4, #error-page h5, #error-page h6 {
  font-weight: 400 !important;
}

#error-page h1 {
  font-size: 36px;
}

#error-page h3 {
  font-size: 24px;
}

#error-page h5 {
  font-size: 14px;
}

#error-page .fa {
  text-rendering: optimizeLegibility;
}

#error-page .fa-exclamation-circle {
  color: #206c72;
}

#error-page article {
  font-size: 13px;
  line-height: 17px;
}

#error-page article ul {
  margin: 0 0 25px 0;
  padding: 0 20px;
}

#error-page article ul li {
  padding: 0 0 8px 0;
}

#error-page article ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #206c72;
}

#error-page article ul li a:hover {
  text-decoration: underline;
}

#error-page article p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 11px;
}

#error-page .service_list {
  padding: 0;
  list-style: none;
}

#error-page .service_list .fa {
  font-size: 15px;
  margin-right: 3px;
  float: left;
  min-width: 16px;
}

.wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
}

.wrapper .container .row > .home > ul li > a.read-more {
  color: #206c72;
  display: block;
  margin: 5px 0;
  border-bottom: none;
}

.wrapper .container .row > .home > ul,
.wrapper .container .row > .category > ul,
.wrapper .container .row > div > ul.video-module {
  overflow: hidden;
}

.wrapper .container .row > .home > ul li,
.wrapper .container .row > .category > ul li,
.wrapper .container .row > div > ul.video-module li {
  float: left;
  display: block;
  text-align: left;
  border-bottom: 0;
  margin-bottom: 15px;
}

.wrapper .container .row > .home > ul li a.title-link,
.wrapper .container .row > .category > ul li a.title-link,
.wrapper .container .row > div > ul.video-module li a.title-link {
  display: block;
  border-bottom: 1px solid #CECECE;
  clear: both;
}

.wrapper .container .row > .home > ul li a.title-link i,
.wrapper .container .row > .category > ul li a.title-link i,
.wrapper .container .row > div > ul.video-module li a.title-link i {
  display: none;
}

.wrapper .container .row > .home > ul li a.title-link h4,
.wrapper .container .row > .category > ul li a.title-link h4,
.wrapper .container .row > div > ul.video-module li a.title-link h4 {
  margin: 0 0 15px 0;
  display: inline-block;
  text-decoration: none;
}

.wrapper .container .row > .home > ul li a.title-link h4:after,
.wrapper .container .row > .category > ul li a.title-link h4:after,
.wrapper .container .row > div > ul.video-module li a.title-link h4:after {
  background: url("../img/home-arrow.png") no-repeat 0 0;
  content: "";
  width: 5px;
  height: 8px;
  position: absolute;
  margin-left: 10px;
  margin-top: 7px;
}

.wrapper .container .row > .home > ul li ul + a.title-link,
.wrapper .container .row > .category > ul li ul + a.title-link,
.wrapper .container .row > div > ul.video-module li ul + a.title-link {
  margin-top: 40px;
}

.wrapper .container .row > .home > ul li p,
.wrapper .container .row > .category > ul li p,
.wrapper .container .row > div > ul.video-module li p {
  padding: 5px 0 0 0;
}

.wrapper .container .row > .home > ul li:after,
.wrapper .container .row > .category > ul li:after,
.wrapper .container .row > div > ul.video-module li:after {
  display: none;
}

.toolbox {
  border: 1px solid #CECECE;
  margin-bottom: 40px;
  overflow: hidden;
}

.toolbox h3 {
  padding: 12px 20px;
  margin: 0;
  font-weight: normal;
  font-size: 17px;
  color: #666;
  background: #e8e8e8;
  border-bottom: 1px solid #CECECE;
}

.toolbox h3 i {
  margin-right: 10px;
  font-weight: normal;
  font-size: 24px;
  color: #666;
}

.toolbox .row {
  padding: 2% 5%;
  background-color: #F8F8F8;
}

.toolbox .row div:nth-child(odd) {
  padding-left: 50px;
  padding-right: 25px;
}

.toolbox .row div:nth-child(even) {
  padding-left: 25px;
  padding-right: 50px;
}

.toolbox .row div a {
  display: inline-block;
  text-align: left;
  font-size: 13px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #333;
  border-bottom: 1px solid #CECECE !important;
  width: 100%;
}

.toolbox .row div a:hover {
  color: #206c72;
}

.toolbox .row div a i {
  color: #206c72;
  padding: 0 5px;
}

.magna-fuse {
  margin-bottom: 40px;
}

.magna-fuse h3 {
  padding: 12px 0;
  margin: 0;
  font-size: 20px;
  border-top: 1px solid #CECECE;
}

.magna-fuse ul li {
  display: block;
  width: inherit;
  float: none;
  margin: inherit;
  margin-left: 20px;
  border-bottom: none;
}

.magna-fuse ul li:before {
  background: url("../img/home-arrow.png") no-repeat 0 0;
  content: "";
  width: 5px;
  height: 8px;
  position: absolute;
  left: 20px;
  margin-top: 5px;
}

.magna-fuse ul li a {
  color: #333;
  border-bottom: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-content {
  padding: 15px 30px;
  width: 700px;
  position: relative;
  background-color: #fff;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#lp {
  font-family: "nexa", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  background: #fff;
}

#lp h1, #lp h2, #lp h3, #lp h4, #lp h5, #lp h6 {
  font-weight: 400 !important;
}

#lp .modal-header {
  border-bottom: 0;
}

#lp .modal-body {
  padding: 0 20px;
  display: block;
}

#lp .modal-body .location.row {
  clear: both;
}

#lp .modal-body .location address {
  display: block;
  overflow: hidden;
  line-height: 20px;
  margin: 5px 5px 10px;
  font-size: 20px;
}

#lp .modal-body .location address .fa-map-marker {
  font-size: 80px;
  color: #e17811;
}

#lp .modal-body .location address .checkAvailibility {
  padding: 10px 0 0;
}

#lp .modal-body .location address .checkAvailibility a {
  margin: 26px 0 0;
}

#lp .modal-body .location address p {
  font-size: 13px;
  line-height: 15px;
}

#lp .modal-body .location address h5 {
  font-size: 14px;
}

#lp .modal-body .location address input {
  margin: 0;
}

#lp .modal-body .location address strong {
  font-size: 13px;
  line-height: 15px;
  color: #e8790c;
  padding-left: 8px;
}

#lp .modal-body .location address strong a {
  text-decoration: none;
  color: #e8790c;
}

#lp .modal-body .location address strong a:hover {
  color: #000;
}

#lp .modal-body .location address strong a.active {
  color: #000;
}

#lp .modal-body .location address strong .fa-sort-desc {
  margin: 9px 0 0 5px;
  vertical-align: top;
}

#lp .modal-body span {
  float: left;
  padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .toolbox .row div:nth-child(odd) {
    padding-left: 30px;
    padding-right: 15px;
    clear: left;
  }
  .toolbox .row div:nth-child(even) {
    padding-left: 15px;
    padding-right: 30px;
    clear: right;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    margin: 0 15px;
  }
  .wrapper .container .row .home {
    padding-top: 20px;
  }
  .wrapper .container .row > .home > ul,
  .wrapper .container .row > .category > ul,
  .wrapper .container .row > div > ul.video-module {
    position: relative;
    margin-bottom: 0;
  }
  .wrapper .container .row > .home > ul.row.row-eq-height,
  .wrapper .container .row > .category > ul.row.row-eq-height,
  .wrapper .container .row > div > ul.video-module.row.row-eq-height {
    display: block;
    margin: 0 auto;
    padding-top: 0;
  }
  .wrapper .container .row > .home > ul.row.row-eq-height.category-menu,
  .wrapper .container .row > .category > ul.row.row-eq-height.category-menu,
  .wrapper .container .row > div > ul.video-module.row.row-eq-height.category-menu {
    padding-top: 10px;
  }
  .wrapper .container .row > .home > ul.row.row-eq-height.category-menu li:first-child,
  .wrapper .container .row > .category > ul.row.row-eq-height.category-menu li:first-child,
  .wrapper .container .row > div > ul.video-module.row.row-eq-height.category-menu li:first-child {
    border-top: 1px solid #CECECE !important;
  }
  .wrapper .container .row > .home > ul li,
  .wrapper .container .row > .category > ul li,
  .wrapper .container .row > div > ul.video-module li {
    width: 100%;
    display: block;
    text-align: left;
    height: auto;
    padding: 0;
    margin-bottom: 0;
  }
  .wrapper .container .row > .home > ul li a.title-link,
  .wrapper .container .row > .category > ul li a.title-link,
  .wrapper .container .row > div > ul.video-module li a.title-link {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    text-decoration: none;
    min-height: 45px;
    position: relative;
  }
  .wrapper .container .row > .home > ul li a.title-link i,
  .wrapper .container .row > .category > ul li a.title-link i,
  .wrapper .container .row > div > ul.video-module li a.title-link i {
    display: inline-block;
    width: 40px;
    text-align: center;
    margin: 5px 0;
    font-size: 35px;
    color: #333;
    padding-left: 0;
  }
  .wrapper .container .row > .home > ul li a.title-link i:hover,
  .wrapper .container .row > .category > ul li a.title-link i:hover,
  .wrapper .container .row > div > ul.video-module li a.title-link i:hover {
    color: #333;
  }
  .wrapper .container .row > .home > ul li a.title-link i + h4,
  .wrapper .container .row > .category > ul li a.title-link i + h4,
  .wrapper .container .row > div > ul.video-module li a.title-link i + h4 {
    font-size: 14px;
    line-height: 45px;
    margin: 0;
    display: inline;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
  }
  .wrapper .container .row > .home > ul li a.title-link i + h4:after,
  .wrapper .container .row > .category > ul li a.title-link i + h4:after,
  .wrapper .container .row > div > ul.video-module li a.title-link i + h4:after {
    display: none;
  }
  .wrapper .container .row > .home > ul li a.title-link h4,
  .wrapper .container .row > .category > ul li a.title-link h4,
  .wrapper .container .row > div > ul.video-module li a.title-link h4 {
    font-size: 14px;
    line-height: 45px;
    margin: 0;
    display: inline;
    vertical-align: middle;
    text-align: left;
    padding-left: 0;
  }
  .wrapper .container .row > .home > ul li a.title-link h4:after,
  .wrapper .container .row > .category > ul li a.title-link h4:after,
  .wrapper .container .row > div > ul.video-module li a.title-link h4:after {
    display: none;
  }
  .wrapper .container .row > .home > ul li a.title-link:after,
  .wrapper .container .row > .category > ul li a.title-link:after,
  .wrapper .container .row > div > ul.video-module li a.title-link:after {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #CECECE;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  .wrapper .container .row > .home > ul li ul + a.title-link,
  .wrapper .container .row > .category > ul li ul + a.title-link,
  .wrapper .container .row > div > ul.video-module li ul + a.title-link {
    margin-top: 0;
  }
  .wrapper .container .row > .home > ul li p,
  .wrapper .container .row > .category > ul li p,
  .wrapper .container .row > div > ul.video-module li p {
    display: none;
  }
  .wrapper .container .row > .home > ul li > a.read-more,
  .wrapper .container .row > .category > ul li > a.read-more,
  .wrapper .container .row > div > ul.video-module li > a.read-more {
    display: none;
  }
  .toolbox {
    margin: 40px 0;
  }
  .toolbox .row div:nth-child(odd), .toolbox .row div:nth-child(even) {
    padding: 0 30px;
  }
}

.breadcrumbs {
  font-weight: normal;
  font-size: 11px;
  color: #206c72;
  border-bottom: 1px solid #CECECE;
  padding: 8px 5px;
}

.breadcrumbs a {
  color: #333;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  color: #206c72;
}

.breadcrumbs i {
  padding: 0 10px;
  color:#666;
}

.wrapper .container .row div > h6 + i {
  font-size: 30px;
}

.wrapper .container .row a {
  border-bottom: none;
  color: #333;
}

.wrapper .container .row a:hover {
  color: #206c72;
}

.wrapper .container .row h1 {
  font-size: 30px;
  margin: 0;
  display: inline-block;
  color: inherit;
}

.wrapper .container .row div > div + ul.video-module, .wrapper .container .row div > ul + ul.video-module {
  padding-top: 20px;
  margin-top: 0;
}

.wrapper .container .row .category-menu {
  padding: 30px 0;
}

.wrapper .container .row div > ul.video-module, .wrapper .container .row div > .hidden + ul.video-module {
  margin-top: 63px;
  padding-top: 0;
}

.wrapper .container .row div > ul li ul, .wrapper .container .row div > .hidden + ul li ul {
  overflow: hidden;
}

.wrapper .container .row div > ul li ul > li, .wrapper .container .row div > .hidden + ul li ul > li {
  margin-bottom: 10px;
}

.wrapper .container .row div > ul li ul > li a.subtitle-link, .wrapper .container .row div > .hidden + ul li ul > li a.subtitle-link {
  text-decoration: none;
}

.wrapper .container .row div > ul li ul > li a.subtitle-link > h5, .wrapper .container .row div > .hidden + ul li ul > li a.subtitle-link > h5 {
  font-weight: normal;
  font-size: 16px;
  color: #206c72;
  margin-top: 20px;
  margin-bottom: 5px;
}

.wrapper .container .row div > ul li ul > li p, .wrapper .container .row div > .hidden + ul li ul > li p {
  font-size: 13px;
  padding: 0;
}

.wrapper .container .row div > ul li ul > li a.read-more, .wrapper .container .row div > .hidden + ul li ul > li a.read-more {
  font-weight: 900;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  border-bottom: none;
  line-height: 14px;
  display: block;
}

.wrapper .container .row div > ul li ul > li a.read-more:after, .wrapper .container .row div > .hidden + ul li ul > li a.read-more:after {
  background: url("../img/home-arrow.png") no-repeat 0 0;
  content: "";
  width: 5px;
  height: 8px;
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
}

.wrapper .container .row div > ul li ul.video-gallery, .wrapper .container .row div > .hidden + ul li ul.video-gallery {
  margin-top: 20px;
}

.wrapper .container .row div > ul li ul.video-gallery li, .wrapper .container .row div > .hidden + ul li ul.video-gallery li {
  font-size: 13px;
  font-weight: normal;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.wrapper .container .row div > ul li ul.video-gallery li a, .wrapper .container .row div > .hidden + ul li ul.video-gallery li a {
  display: table;
}

.wrapper .container .row div > ul li ul.video-gallery li a i, .wrapper .container .row div > .hidden + ul li ul.video-gallery li a i {
  display: table-cell;
  font-weight: normal;
  font-size: 18px;
  color: #206c72;
  padding-right: 5px;
}

.wrapper .container .row div > ul li.col-sm-8 ul:not(.video-gallery) li, .wrapper .container .row div > .hidden + ul li.col-sm-8 ul:not(.video-gallery) li {
  width: 49%;
  float: left;
}

.wrapper .container .row div > ul li.col-sm-8 ul:not(.video-gallery) li:nth-child(odd), .wrapper .container .row div > .hidden + ul li.col-sm-8 ul:not(.video-gallery) li:nth-child(odd) {
  margin-right: 1%;
  clear: left;
}

.wrapper .container .row div > ul li.col-sm-8 ul:not(.video-gallery) li:nth-child(even), .wrapper .container .row div > .hidden + ul li.col-sm-8 ul:not(.video-gallery) li:nth-child(even) {
  margin-left: 1%;
  clear: right;
}

.wrapper .container .row div > ul li.col-sm-12 > ul:not(.video-gallery) li, .wrapper .container .row div > .hidden + ul li.col-sm-12 > ul:not(.video-gallery) li {
  float: left;
}

.wrapper .container .row div > ul li.col-sm-12 > ul:not(.video-gallery) li:nth-child(3n+1), .wrapper .container .row div > .hidden + ul li.col-sm-12 > ul:not(.video-gallery) li:nth-child(3n+1) {
  width: 33%;
  margin-right: 1%;
}

.wrapper .container .row div > ul li.col-sm-12 > ul:not(.video-gallery) li:nth-child(3n+2), .wrapper .container .row div > .hidden + ul li.col-sm-12 > ul:not(.video-gallery) li:nth-child(3n+2) {
  width: 32%;
}

.wrapper .container .row div > ul li.col-sm-12 > ul:not(.video-gallery) li:nth-child(3n+3), .wrapper .container .row div > .hidden + ul li.col-sm-12 > ul:not(.video-gallery) li:nth-child(3n+3) {
  width: 33%;
  margin-left: 1%;
}

@media only screen and (max-width: 767px) {
  .wrapper .container .row h6.go-back {
    cursor: pointer;
    margin: 10px 0;
    font-size: 12px;
  }
  .wrapper .container .row h6.go-back a {
    color: #206c72;
  }
  .wrapper .container .row h1 {
    display: block;
    clear: both;
    font-size: 24px;
  }
  .wrapper .container .row h1 i {
    display: inline-block !important;
    font-size: 24px;
    margin-right: 5px;
  }
  .wrapper .container .row .category-menu {
    padding: 0;
  }
  .wrapper .container .row div > ul.video-module {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 30px;
  }
  .wrapper .container .row div > ul li ul {
    display: none;
  }
   .wrapper .container .row div > ul li ul.section-list,.wrapper .container .row div > ul li ul.video-gallery{
    display: block;
  }
}

.wrapper .container .row.results h2 + nav {
  position: absolute;
  right: 15px;
  top: 0;
}

.wrapper .container .row.results nav {
  float: right;
}

.wrapper .container .row.results nav ul.pagination {
  margin-top: 0;
}

.wrapper .container .row.results nav ul.pagination > li > a, .wrapper .container .row.results nav ul.pagination > li > span {
  position: relative;
  float: left;
  padding: 5px 8px;
  margin-left: -1px;
  line-height: 1.1;
  color: #333;
  text-decoration: none;
  background-color: #FFF;
  border: none;
}

.wrapper .container .row.results nav ul.pagination > li:first-child > a, .wrapper .container .row.results nav ul.pagination > li:first-child > span {
  border-radius: 0;
}

.wrapper .container .row.results nav ul.pagination > li.active > a, .wrapper .container .row.results nav ul.pagination > li.active > span {
  z-index: 2;
  color: #FFF;
  cursor: default;
  background-color: #206c72;
}

.wrapper .container .row.results nav ul.pagination > li.last, .wrapper .container .row.results nav ul.pagination > li.first, .wrapper .container .row.results nav ul.pagination > li.disabled {
  display: none;
}

.wrapper .container .row.results .result {
  margin: 0 15px;
  position: relative;
}

.wrapper .container .row.results .result a {
  border-bottom: none;
  display: inline-block;
  color: #333;
}

.wrapper .container .row.results .result a:hover {
  color: #1e6c82;
}

.wrapper .container .row.results .result a h5 {
  margin: 0;
}

.wrapper .container .row.results .result .breadcrumbs {
  font-weight: normal;
  font-size: 12px;
  color: #206c72;
  border-bottom: none;
  padding: 2px 0;
  margin-bottom: 10px;
}

.wrapper .container .row.results .result .breadcrumbs a {
  color: #333;
  text-decoration: none;
}

.wrapper .container .row.results .result .breadcrumbs a:hover {
  text-decoration: underline;
}

.wrapper .container .row.results .result .breadcrumbs a:visited {
    color:#999;
}

.wrapper .container .row.results .result .breadcrumbs i {
  color: #666;
}

.wrapper .container .row.results .result .thumbs {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
}

.wrapper .container .row.results .result .thumbs a {
  color: #666;
  border-bottom: none;
}

.wrapper .container .row.results .result .thumbs a:hover {
  color: #206c72;
}

.wrapper .container .row.results .result .thumbs a:first-child {
  margin-right: 5px;
}

.wrapper .container .row.results .result .thumbs a span {
  margin-left: 5px;
}

.wrapper .container .row.results .result .share {
  display: block;
  position: relative;
  overflow: hidden;
}

.wrapper .container .row.results .result .share .social {
  position: relative;
  float: left;
}

.wrapper .container .row.results .result .share .social a {
  font-weight: normal;
  font-size: 18px;
  color: inherit;
  border-bottom: none;
  -moz-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px);
  -webkit-transform: translate(0, -3px);
  -o-transform: translate(0, -3px);
  transform: translate(0, -3px);
}

.wrapper .container .row.results .result .share .social a:hover {
  color: #206c72;
}

.wrapper .container .row.results .result .share .social a:first-child {
  margin-right: 10px;
}

.wrapper .container .row.results .result .share .social a span {
  font-size: 13px;
  font-weight: normal;
}

.wrapper .container .row.results .result .share .print {
  display: block;
  float: right;
}

.wrapper .container .row.results .result .share .print a {
  color: #333;
}

.wrapper .container .row.results .result .share .print a:hover {
  color: #206c72;
}

.wrapper .container .row.results .result .share .print a:first-child {
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {
  .wrapper .container .row.results h6 + i {
    display: inline;
    font-size: 24px;
    margin-right: 5px;
  }
  .wrapper .container .row.results h6 + i + h1 {
    display: inline;
    font-size: 24px;
  }
  .wrapper .container .row.results h6 + i + h1 + hr {
    margin-top: 10px;
  }
  .wrapper .container .row.results .result {
    overflow: hidden;
    margin: 0 auto;
  }
  .wrapper .container .row.results .result .thumbs {
    position: relative;
    float: right;
  }
  .wrapper .container .row.results .result .share .social {
    float: none;
    margin: auto;
  }
  .wrapper .container .row.results .result .share .print {
    display: block;
    float: none;
  }
}

.wrapper .container .row.article {
  position: relative;
}

.wrapper .container .row.article .thumbs {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 13px;
  line-height: 1.1;
}

.wrapper .container .row.article .thumbs a {
  color: #666;
  border-bottom: none;
}

.wrapper .container .row.article .thumbs a:hover {
  color: #206c72;
}

.wrapper .container .row.article .thumbs a:first-child {
  margin-right: 5px;
}

.wrapper .container .row.article .thumbs a span {
  margin-left: 5px;
}

.wrapper .container .row.article li.section-link {
  text-decoration: none;
}

.wrapper .container .row.article li.section-link:last-child {
  border-top: 1px solid #CECECE;
}

.wrapper .container .row.article li.section-link:first-child {
  border-top: none;
}

.wrapper .container .row.article ul.section-list {
  padding-bottom: 20px;
}

.wrapper .container .row.article ul.section-list li {
  margin-left: 16px;
}

.wrapper .container .row.article ul.section-list li.active a {
  color: #206c72;
}

.wrapper .container .row.article ul.section-list li:first-child {
  margin-top: 10px;
}

.wrapper .container .row.article ul.section-list li a {
  color: #333;
  text-decoration: none;
  border-bottom: none;
}

.wrapper .container .row.article ul.section-list li a.active {
  color: #206c72;
  cursor: default;
}

.wrapper .container .row.article ul.section-list li a:hover {
  color: #206c72;
}

.wrapper .container .row.article ul.video-gallery {
  padding-bottom: 20px;
  list-style-type: none;
}

.wrapper .container .row.article ul.video-gallery li {
  margin: 10px 0;
}

.wrapper .container .row.article ul.video-gallery li:first-child {
  margin-top: 0;
}

.wrapper .container .row.article ul.video-gallery li a.video-link {
  text-decoration: none;
}

.wrapper .container .row.article ul.video-gallery li a.video-link i {
  color: #206c72;
}

.wrapper .container .row.article .article-content {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 13px;
  color: #333;
}

.wrapper .container .row.article .article-content strong {
  font-weight: bold;
  font-size: 13px;
  color: #333;
}

.wrapper .container .row.article .article-content img {
  width: auto;
  max-width: 100%;
}

.wrapper .container .row.article .article-content img.img-responsive {
  width: auto;
  display: block;
  max-width: 80%;
  float: none;
  margin: 10px 0;
}

.wrapper .container .row.article .article-content img.icon-pdf {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  float: none;
  margin-bottom: 0;
}

.wrapper .container .row.article .article-content img.icon-25px {
  width: 25px;
  height: auto;
  margin-right: 5px;
  float: none;
  margin-bottom: 0;
}

.wrapper .container .row.article .article-content img.img-screenshot-m {
  width: 100%;
  height: auto;
  display: block;
  max-width: 280px;
  float: none;
  margin: 10px 0;
}

.wrapper .container .row.article .article-content a {
  font-weight: normal;
  font-size: 13px;
  color: #206c72;
}

.wrapper .container .row.article .article-content a:hover {
  text-decoration: underline;
}

.wrapper .container .row.article .article-content ul {
  margin-left: 15px;
  margin-top: 15px;
  list-style: disc;
}

.wrapper .container .row.article .article-content ul > li > ul {
  list-style-type: disc;
  overflow: inherit;
}

.wrapper .container .row.article .article-content ul > li > ul > li {
  margin-bottom: 0;
}

.wrapper .container .row.article .article-content ol {
  padding-left: 15px;
}

.wrapper .container .row.article .article-content li {
  padding-bottom: 15px;
}

.wrapper .container .row.article .article-content .highlight {
  color: #000000 !important;
}

.wrapper .container .row.article .article-content > .row > div:first-child {
  text-align: center;
}

.wrapper .container .row.article .article-share .article-print {
  margin-bottom: 10px;
}

.wrapper .container .row.article .article-share .article-print a {
  font-weight: normal;
  font-size: 18px;
  color: inherit;
  border-bottom: none;
}

.wrapper .container .row.article .article-share .article-print a:hover {
  color: #206c72;
}

.wrapper .container .row.article .article-share .article-print a:first-child {
  margin-right: 10px;
}

.wrapper .container .row.article .article-share .article-print a span {
  font-size: 13px;
  font-weight: normal;
}

.wrapper .container .row.article .article-share .article-social {
  margin-bottom: 40px;
}

.wrapper .container .row.article .article-help {
  border-top: 1px solid #CECECE;
  border-bottom: 1px solid #CECECE;
  padding: 10px 0;
  font-weight: normal;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row.article .article-help .title {
  margin-right: 30px;
}

.wrapper .container .row.article .article-help .text i {
  color: #bb0826;
  font-size: inherit !important;
}

.wrapper .container .row.article .article-help .text strong {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row.article .article-help .text strong a {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row.article .article-help .text strong a:hover {
  font-weight: bold;
  font-size: 15px;
  color: #bb0826;
}

.wrapper .container .row.article .article-help .text .hidden-inline {
  display: inline;
  margin-left: 5px;
}

.wrapper .container .row.article .article-help .text .hidden-inline i.fa.fa-comment {
  -moz-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  margin-left: 8px;
}

.wrapper .container .row.article .article-help .text .hidden-inline strong a {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row.article .article-help .text .hidden-inline strong a:hover {
  font-weight: bold;
  font-size: 15px;
  color: #bb0826;
}

.wrapper .container .row.article .article-recommended {
  margin: 30px 0;
  overflow: hidden;
}

.wrapper .container .row.article .article-recommended h4 {
  font-weight: normal;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row.article .article-recommended a {
  display: block;
  overflow: hidden;
  border-bottom: none;
}

.wrapper .container .row.article .article-recommended a.subtitle-link h5 {
  font-weight: normal;
  font-size: 17px;
  color: #206c72;
}

.wrapper .container .row.article .article-recommended a.read-more {
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

.wrapper .container .row.article .article-recommended a.read-more:after {
  background: url("../img/home-arrow.png") no-repeat 0 0;
  content: "";
  width: 5px;
  height: 8px;
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
}

.wrapper .container .row.article .article-recommended p {
  font-weight: normal;
  font-size: 12px;
  color: inherit;
}

.wrapper .container .row.article .article-recommended p a {
  display: inline;
}

.wrapper .container .row.article .article-menu {
  position: absolute;
  left: 0;
}

.wrapper .container .row.article .article-menu ul {
  list-style-type: none;
}

.wrapper .container .row.article .article-menu ul li ul {
  list-style-type: disc;
}

.wrapper .container .row.article .article-menu ul li.collapsible {
  position: relative;
}

.wrapper .container .row.article .article-menu ul li.collapsible h3 {
  margin-left: 15px;
  width: 100%;
  display: block;
  cursor: pointer;
}

.wrapper .container .row.article .article-menu ul li.collapsible h3:before {
  content: "\f0da";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #206c72;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  left: 0;
  top: 5px;
  display: block;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.wrapper .container .row.article .article-menu ul li.collapsible h3.open:before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -5px;
  top: 8px;
}

.wrapper .container .row.article .article-menu ul li.collapsible h3.open + ul {
  display: block;
}

.wrapper .container .row.article .article-menu ul li.collapsible ul {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper .container .row.article li.section-link h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper .container .row.article .thumbs {
    margin: 10px 0;
    display: block;
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    clear: both;
  }
  .wrapper .container .row.article a {
    text-decoration: none;
  }
  .wrapper .container .row.article a h2 {
    display: block;
    clear: both;
    font-weight: bold;
    font-size: 21px;
    color: #333;
  }
  .wrapper .container .row.article h3 {
    font-weight: normal;
    font-size: 18px;
    color: #333;
  }
  .wrapper .container .row.article hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .wrapper .container .row.article .article-help {
    border-top: none;
    margin-top: -10px;
  }
  .wrapper .container .row.article .article-help .title {
    margin-right: 0;
  }
  .wrapper .container .row.article .article-help .text {
    float: right;
  }
  .wrapper .container .row.article .article-help .text .hidden-inline {
    display: none;
  }
  .wrapper .container .row.article .article-content {
    margin-top: 30px;
  }
  .wrapper .container .row.article .article-content img {
    float: none;
    margin-left: 0;
  }
  .wrapper .container .row.article .article-content img.full-image {
    width: 100%;
  }
  .wrapper .container .row.article .article-share {
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    padding: 10px 0;
    margin: 0 15px;
  }
  .wrapper .container .row.article .article-share .article-print {
    display: block;
    margin: 0;
    line-height: 20px;
    float: none;
  }
  .wrapper .container .row.article .article-share .article-social {
    margin-bottom: 0;
  }
  .wrapper .container .row.article .article-recommended .col-sm-4 {
    padding-bottom: 20px;
  }
  .wrapper .container .row.article .article-menu {
    position: relative;
    left: auto;
  }
  .wrapper .container .row.article .article-menu ul li {
    width: 100%;
    display: table;
    text-align: left;
    height: auto;
    padding: 0;
    margin-bottom: 0;
    position: inherit;
  }
  .wrapper .container .row.article .article-menu ul li.section-link {
    display: inline-table;
    text-decoration: none;
    min-height: 45px;
  }
  .wrapper .container .row.article .article-menu ul li.section-link i {
    display: inline-table;
    width: 70px;
    text-align: center;
    margin: 5px 0;
    font-size: 35px;
    color: #333;
    padding-left: 15px;
  }
  .wrapper .container .row.article .article-menu ul li.section-link i:hover {
    color: #333;
  }
  .wrapper .container .row.article .article-menu ul li.section-link h3 {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin: 0;
    display: block;
    cursor: pointer;
    padding: 15px 0;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #CECECE;
  }
  .wrapper .container .row.article .article-menu ul li.section-link h3:before {
    display: none;
  }
  .wrapper .container .row.article .article-menu ul li.section-link h3:after {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #CECECE;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    right: 10px;
    margin-top: -15px;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .wrapper .container .row.article .article-menu ul li.section-link h3.open:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .wrapper .container .row.article .article-menu ul li.section-link h3.open {
    border-bottom: none;
  }
  .wrapper .container .row.article .article-menu ul li.section-link h3.open + ul.section-list li:first-child, .wrapper .container .row.article .article-menu ul li.section-link h3.open + ul.video-gallery li:first-child {
    margin-top: 10px;
  }
  .wrapper .container .row.article .article-menu ul li.section-link ul {
    list-style-type: disc;
  }
  .wrapper .container .row.article .article-menu ul li.section-link ul li {
    display: list-item;
  }
  .wrapper .container .row.article .article-menu ul li.section-link:last-child {
    border-top: none;
  }
  .wrapper .container .row.article .article-menu ul li.section-link:last-child h3.open + ul {
    border-bottom: 1px solid #CECECE;
  }
  .wrapper .container .row.article .article-menu ul li ul + a.section-link {
    margin-top: 0;
  }
  .wrapper .container .row.article .article-menu ul li ul.video-gallery {
    margin-top: 0;
  }
  .wrapper .container .row.article .article-menu ul li ul.video-gallery li a.video-link i {
    font-size: 14px;
    width: 20px;
    padding-left: 0;
  }
  .wrapper .container .row.article .article-menu ul li p {
    display: none;
  }
  .wrapper .container .row.article .article-menu ul li > a.read-more {
    display: none;
  }
}

@media only print {
  .container.hidden-xs {
    display: block !important;
  }
  .container.hidden-xs .header .navbar-header {
    display: none;
  }
  .container.hidden-xs#helpcenter-menu {
    display: none !important;
  }
  .breadcrumbs {
    display: block !important;
  }
  .breadcrumbs a:after {
    display: none !important;
  }
  .wrapper {
    margin-top: 10px !important;
  }
  hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  nav#navigation,
  .navbar-header,
  .navbar-form,
  #header-main > .col-md-8,
  #search,
  #helpcenter-menu,
  .article-menu,
  .thumbs,
  .article-other,
  #footer,
  .article-share,
  .go-back,
  .wrapper .container .row.article .col-sm-12 a:after {
    display: none;
  }
  #header-main.header {
    margin: 0 !important;
    padding-top: 15px !important;
  }
  #header-main.header .col-md-4.nopad .col-md-2.col-sm-3.hidden-xs.nopad {
    display: block !important;
  }
  .article-main {
    width: 100%;
    left: 0;
  }
  .article-main .article-content img {
    max-width: 100%;
    margin: 10px auto;
    float: none;
    width: auto;
  }
}

.wrapper .container .row.video-gallery ul {
  list-style-type: none;
}

.wrapper .container .row.video-gallery ul li.video-section {
  position: relative;
  border-bottom: solid 1px #CECECE;
  margin: 15px;
}

.wrapper .container .row.video-gallery ul li.video-section:last-child {
  border-bottom: none;
}

.wrapper .container .row.video-gallery ul li.video-section h4 span {
  color: #206c72;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media {
  border-bottom: none;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container {
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  position: relative;
  margin: 5px 15px;
  height: 145px;
  overflow: hidden;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container:before {
  content: "";
  height: 100%;
  width: 100%;
  background: #333 url("../img/video-play.png") no-repeat center center;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container:hover {
  border: 5px solid #E7E7E7;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container:hover:before {
  opacity: 0.9;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: -23px;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media h5 {
  font-weight: bold;
  font-size: 13px;
  color: #333;
  margin: 5px 15px;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list .slick-dots {
  float: right;
  margin-top: 0;
  width: auto;
  top: 0;
  right: 25px;
  height: 30px;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list .slick-dots > li > a, .wrapper .container .row.video-gallery ul li.video-section ul.video-list .slick-dots > li > span {
  position: relative;
  float: left;
  padding: 5px 8px;
  margin-left: -1px;
  line-height: 1.1;
  color: #333;
  text-decoration: none;
  background-color: #FFF;
  border: none;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list .slick-dots > li:first-child > a, .wrapper .container .row.video-gallery ul li.video-section ul.video-list .slick-dots > li:first-child > span {
  border-radius: 0;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list .slick-dots > li.slick-active > a, .wrapper .container .row.video-gallery ul li.video-section ul.video-list .slick-dots > li.slick-active > span {
  z-index: 2;
  color: #FFF;
  cursor: default;
  background-color: #008c9b;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list .pag-prev {
  position: absolute;
  top: 0;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list .pag-next {
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list .pag-prev, .wrapper .container .row.video-gallery ul li.video-section ul.video-list .pag-next {
  font-weight: normal;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  padding: 3px 8px;
}

.wrapper .container .row.video-gallery ul li.video-section ul.video-list .pag-prev.slick-disabled, .wrapper .container .row.video-gallery ul li.video-section ul.video-list .pag-next.slick-disabled {
  display: none !important;
}

a.fancybox-close {
  border-bottom: none;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container {
    height: 116px;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container img {
    margin-top: -19px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container {
    height: 120px;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list li a.video-media .video-container img {
    margin-top: -19px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper .container .row.video-gallery ul {
    margin-top: 20px;
  }
  .wrapper .container .row.video-gallery ul li {
    width: 100%;
    display: table;
    text-align: left;
    height: auto;
    padding: 0;
    margin-bottom: 0;
  }
  .wrapper .container .row.video-gallery ul li.video-section {
    display: inline-table;
    text-decoration: none;
    min-height: 45px;
    width: 100%;
    border-bottom: 1px solid #CECECE;
    cursor: pointer;
    margin: auto;
  }
  .wrapper .container .row.video-gallery ul li.video-section i {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin: 5px 0;
    font-weight: normal;
    font-size: 16px;
    color: #333;
    padding-left: 10px;
  }
  .wrapper .container .row.video-gallery ul li.video-section i:hover {
    color: #333;
  }
  .wrapper .container .row.video-gallery ul li.video-section h4 {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    padding: 15px 20px;
    text-align: left;
    padding-left: 10px;
  }
  .wrapper .container .row.video-gallery ul li.video-section h4:after {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #CECECE;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    right: 0;
    margin-top: -15px;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .wrapper .container .row.video-gallery ul li.video-section h4 + ul + .load-more {
    display: none;
  }
  .wrapper .container .row.video-gallery ul li.video-section h4.open:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .wrapper .container .row.video-gallery ul li.video-section h4.open {
    border-bottom: none;
  }
  .wrapper .container .row.video-gallery ul li.video-section h4.open + ul.section-list li:first-child, .wrapper .container .row.video-gallery ul li.video-section h4.open + ul.video-gallery li:first-child {
    margin-top: 10px;
  }
  .wrapper .container .row.video-gallery ul li.video-section h4.open + ul + .load-more {
    font-weight: normal;
    font-size: 16px;
    color: inherit;
    display: block;
    background-color: #CECECE;
    border-radius: 5px;
    width: 90%;
    margin: 40px auto;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-bottom: none;
  }
  .wrapper .container .row.video-gallery ul li.video-section h4.open + ul + .load-more:hover {
    background-color: #999;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list {
    list-style-type: disc;
    height: auto;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list.open > li:nth-child(n+5) {
    display: block;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list.open > li:last-child {
    border-bottom: none;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list.open + .load-more {
    display: none;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li {
    width: 100%;
    display: block;
    padding: 10px 0;
    height: auto;
    border-bottom: 1px solid #CECECE;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li a.video-media {
    display: table;
    width: 90%;
    margin: 0 auto;
    border-bottom: none;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li a.video-media .video-container {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: auto;
    height: 85px;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li a.video-media .video-container img {
    display: table-cell;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li a.video-media .video-container:hover {
    border: none;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li a.video-media h5 {
    width: 70%;
    padding-left: 3%;
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    margin: auto;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li:first-child a.video-media {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li:first-child a.video-media .video-container {
    height: 170px;
    margin-bottom: 10px;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li:first-child a.video-media .video-container img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    margin-top: -28px;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li:first-child a.video-media h5 {
    width: 100%;
    display: block;
    text-align: left;
    font-weight: bold;
    padding: 0;
  }
  .wrapper .container .row.video-gallery ul li.video-section ul.video-list > li:nth-child(n+5) {
    display: none;
  }
  .wrapper .container .row.video-gallery ul li.video-section:first-child {
    border-top: 1px solid #CECECE;
  }
  .wrapper .container .row.video-gallery ul li ul + a.section-link {
    margin-top: 0;
  }
  .wrapper .container .row.video-gallery ul li ul.video-gallery {
    margin-top: 0;
  }
  .wrapper .container .row.video-gallery ul li ul.video-gallery li a.video-link i {
    font-size: 14px;
    width: 20px;
    padding-left: 0;
  }
  .wrapper .container .row.video-gallery ul li p {
    display: none;
  }
  .wrapper .container .row.video-gallery ul li > a.read-more {
    display: none;
  }
}

.glossary {
  margin-bottom: 40px;
}

.glossary .glossary-index {
  width: 100%;
  display: table;
  line-height: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CECECE;
}

.glossary .glossary-index a {
  display: table-cell;
  text-align: center;
  width: calc(100%/26);
  width: -ms-calc(100%/26);
  width: -o-calc(3.84615%);
  width: -webkit-calc(100%/26);
}

.glossary .glossary-index a.active {
  background: #206c72;
  color: #FFF;
}

.glossary .glossary-content {
  margin-top: 30px;
}

.glossary .glossary-content .glossary-item {
  margin-bottom: 10px;
}

.glossary .glossary-content .glossary-item .glossary-title {
  display: block;
  font-weight: normal;
  font-size: 18px;
  color: #333;
}

.glossary .glossary-content .glossary-item .glossary-description {
  display: block;
  font-weight: normal;
  font-size: 13px;
  color: inherit;
}

.glossary .glossary-content .glossary-item .glossary-description h3 {
  margin: 10px 0;
  padding: 0;
  clear: both;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  font-style: italic;
  border: 0;
}

.glossary .glossary-content .glossary-item .glossary-description table, .glossary .glossary-content .glossary-item .glossary-description table.glossary {
  margin: 10px 0;
  width: 100%;
}

.glossary .glossary-content .glossary-item .glossary-description table tr:nth-child(even), .glossary .glossary-content .glossary-item .glossary-description table.glossary tr:nth-child(even) {
  background-color: #FFF;
}

.glossary .glossary-content .glossary-item .glossary-description table tr:nth-child(odd), .glossary .glossary-content .glossary-item .glossary-description table.glossary tr:nth-child(odd) {
  background-color: #CECECE;
}

.glossary .glossary-content .glossary-item .glossary-description table tr:first-child, .glossary .glossary-content .glossary-item .glossary-description table.glossary tr:first-child {
  background-color: #666;
  color: #FFF;
  font-weight: bold;
}

.glossary .glossary-content .glossary-item .glossary-description table tr:last-child, .glossary .glossary-content .glossary-item .glossary-description table.glossary tr:last-child {
  border-bottom: 1px solid #CECECE;
}

.glossary .glossary-content .glossary-item .glossary-description table tr td, .glossary .glossary-content .glossary-item .glossary-description table.glossary tr td {
  padding: 10px;
}

.glossary .glossary-content .glossary-item .glossary-description ul, .glossary .glossary-content .glossary-item .glossary-description ol {
  padding-left: 20px;
}

@media only screen and (max-width: 767px) {
  .glossary .glossary-index-mobile {
    margin-top: 10px;
  }
  .glossary .glossary-index-mobile select {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    padding-left: 46%;
    color: #206c72;
    outline: none;
  }
  .glossary .glossary-content .glossary-item .glossary-description table, .glossary .glossary-content .glossary-item .glossary-description table.glossary {
    margin: 10px 0;
  }
  .glossary .glossary-content .glossary-item .glossary-description table tr td, .glossary .glossary-content .glossary-item .glossary-description table.glossary tr td {
    padding: 2px;
    font-size: 11px;
  }
}

.wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 {
  text-align: center;
  width: 33.33% !important;
}

.wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 img {
  text-align: center;
  max-height: 145px;
  max-width: 100%;
  width: auto;
  margin-bottom: 20px;
}

.wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 i {
  font-size: 4em;
  margin: 25px 0;
}

.wrapper .container .row ul.row.row-eq-height.ts-select > li.col-xs-4 p {
  display: block;
}

.wrapper .container .row .ts-buttons {
  margin-bottom: 40px;
  margin-top: 10px;
}

.wrapper .container .row .ts-buttons a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
}

.wrapper .container .row .ts-buttons a.ts-btcontinue {
  color: #206c72;
}

.wrapper .container .row .ts-buttons a.ts-btcontinue::after {
  background: url("../img/btcont-caret.png") no-repeat 0 0;
  content: "";
  width: 7px;
  height: 11px;
  margin-left: 5px;
  margin-top: 3px;
  display: inline-block;
}

.wrapper .container .row .ts-buttons a.ts-btcontinue:hover {
  text-decoration: underline;
}

.wrapper .container .row .ts-buttons a.ts-btback {
  color: #999;
  margin-right: 40px;
}

.wrapper .container .row .ts-buttons a.ts-btback::before {
  background: url("../img/btback-caret.png") no-repeat 0 0;
  content: "";
  width: 7px;
  height: 11px;
  margin-right: 5px;
  margin-top: 3px;
  display: inline-block;
}

.wrapper .container .row .ts-buttons a.ts-btback:hover {
  text-decoration: underline;
}

.wrapper .container .row .ts-steps-buttons {
  background: #e8e8e8;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
  padding: 13px 20px;
  border: 1px solid transparent;
}

.wrapper .container .row .ts-steps-buttons span {
  font-size: 13px;
  line-height: 24px;
  margin-right: 40px;
}

.wrapper .container .row .ts-steps-buttons.ts-helpful {
  margin-bottom: 50px;
}

.wrapper .container .row .ts-steps-buttons.error {
  border: 1px solid #dca7a7;
}

.wrapper .container .row .ts-steps-buttons .ts-step-button {
  margin-right: 20px;
  display: inline-block;
}

.wrapper .container .row .ts-steps-buttons .ts-step-button:last-child {
  margin-right: 0;
}

.wrapper .container .row .ts-steps-buttons .ts-step-button label {
  text-transform: capitalize;
}

.wrapper .container .row .ts-error {
  padding: 5px 0;
  color: #bb0826;
  font-size: 13px;
  display: none;
}

.wrapper .container .row #ts-list-of-topics ul {
  list-style: none;
  margin-left: 50px;
}

.wrapper .container .row #ts-list-of-topics ul li:first-child {
  margin-top: 40px;
}

.wrapper .container .row #ts-list-of-topics ul li:last-child {
  margin-bottom: 25px;
}

.wrapper .container .row #ts-list-of-topics ul li label {
  margin-bottom: 15px;
}

.wrapper .container .row .topic-wrapper {
  font-size: 13px;
}

.wrapper .container .row .topic-wrapper ul, .wrapper .container .row .topic-wrapper ol {
  margin-left: 15px;
  padding: 0;
}

.wrapper .container .row .ts-help {
  border-bottom: 1px solid #CECECE;
  padding: 10px 0;
  font-weight: normal;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row .ts-help .title {
  margin-right: 30px;
}

.wrapper .container .row .ts-help .text i {
  color: #bb0826;
  font-size: inherit !important;
}

.wrapper .container .row .ts-help .text strong {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row .ts-help .text strong a {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row .ts-help .text strong a:hover {
  font-weight: bold;
  font-size: 15px;
  color: #bb0826;
}

.wrapper .container .row .ts-help .text .hidden-inline {
  display: inline;
  margin-left: 5px;
  text-transform: lowercase;
}

.wrapper .container .row .ts-help .text .hidden-inline i.fa.fa-comment {
  -moz-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  margin-left: 8px;
}

.wrapper .container .row .ts-help .text .hidden-inline strong {
  text-transform: none;
}

.wrapper .container .row .ts-help .text .hidden-inline strong a {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row .ts-help .text .hidden-inline strong a:hover {
  font-weight: bold;
  font-size: 15px;
  color: #bb0826;
}

.wrapper .container .row .ts-recommended {
  margin: 30px 0;
  overflow: hidden;
}

.wrapper .container .row .ts-recommended h4 {
  font-weight: normal;
  font-size: 15px;
  color: #333;
}

.wrapper .container .row .ts-recommended a {
  display: block;
  overflow: hidden;
  border-bottom: none;
}

.wrapper .container .row .ts-recommended a.subtitle-link h5 {
  font-weight: normal;
  font-size: 17px;
  color: #206c72;
}

.wrapper .container .row .ts-recommended a.read-more {
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

.wrapper .container .row .ts-recommended a.read-more:after {
  background: url("../img/home-arrow.png") no-repeat 0 0;
  content: "";
  width: 5px;
  height: 8px;
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
}

.wrapper .container .row .ts-recommended p {
  font-weight: normal;
  font-size: 12px;
  color: inherit;
}

.wrapper .container .row .ts-recommended p a {
  display: inline;
}

@media only screen and (max-width: 767px) {
  .wrapper .container .row .ts-steps-buttons span {
    display: block;
    margin-bottom: 10px;
  }
  .wrapper .container .row #ts-list-of-topics ul {
    margin-left: 30px;
  }
  .wrapper .container .row .ts-help {
    border-top: none;
  }
  .wrapper .container .row .ts-help .title {
    margin-right: 0;
  }
  .wrapper .container .row .ts-help .text {
    float: right;
  }
  .wrapper .container .row .ts-help .text .hidden-inline {
    display: none;
  }

  .wrapper .container
  {
      margin-top:24px;
  }
  .wrapper .container .row ul li a.title-link .span-heading4::after
  {
      background:none !important;
  }
  .title-link .span-heading4
  {
    font-size: 14px;
    line-height: 45px;
  }
   .home .title-link .span-heading4
  {
    margin-left:5px !important;
  }
  .gsc-input {font-size:14px !important;}
  .wrapper .container .row.article ul.video-gallery li {
      margin: 0 0; 
      margin-bottom: 15px;
}
  .wrapper .container .row.article .article-menu ul li.section-link ul.video-gallery li
  {
     list-style-type:none;
    
  }
}
#orderSearchContainer .red,#ticketSearchContainer .red {
    color: #bb0826;
}
#orderSearchContainer .btn.disabled,#ticketSearchContainer .btn.disabled {
     pointer-events: none;
    box-shadow: none;
    opacity: .65;    
}
a.glyphicon.glyphicon-edit.ng-pristine,a.statusPopover.ng-binding.text-info  {
    color: #206c72;
}
.faedit {
    color: #008c9b !important;
    font-size: 13px;
    font-family: Arial, Gadget,sans-serif;
    margin-left: 15px;
    font-style: italic;
    font-weight: 600;
}
a.accordion-toggle.ng-binding:hover {
    color: #333 !important;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.search_label{font-size:28px;}

