/* DaxlinePro-Black */
@font-face {
	font-family: 'DaxlinePro-Black';
	font-weight: 400;
	src: url('../fonts/Daxline/DaxlinePro-Black.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Daxline/DaxlinePro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Daxline/DaxlinePro-Black.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Daxline/DaxlinePro-Black.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Daxline/DaxlinePro-Black.svg#DaxlinePro-Black') format('svg'); /* Legacy iOS */
}

/* DaxlinePro-Bold */
@font-face {
	font-family: 'DaxlinePro-Bold';
	font-weight: 400;
	src: url('../fonts/Daxline/DaxlinePro-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Daxline/DaxlinePro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Daxline/DaxlinePro-Bold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Daxline/DaxlinePro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Daxline/DaxlinePro-Bold.svg#DaxlinePro-Bold') format('svg'); /* Legacy iOS */
}

/* DaxlinePro-ExtraBold */
@font-face {
	font-family: 'DaxlinePro-ExtraBold';
	font-weight: 400;
	src: url('../fonts/Daxline/DaxlinePro-ExtraBold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Daxline/DaxlinePro-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Daxline/DaxlinePro-ExtraBold.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Daxline/DaxlinePro-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Daxline/DaxlinePro-ExtraBold.svg#DaxlinePro-ExtraBold') format('svg'); /* Legacy iOS */
}

/* DaxlinePro-Light */
@font-face {
	font-family: 'DaxlinePro-Light';
	font-weight: 400;
	src: url('../fonts/Daxline/DaxlinePro-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Daxline/DaxlinePro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Daxline/DaxlinePro-Light.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Daxline/DaxlinePro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Daxline/DaxlinePro-Light.svg#DaxlinePro-Light') format('svg'); /* Legacy iOS */
}

/* DaxlinePro-Medium */
@font-face {
	font-family: 'DaxlinePro-Medium';
	font-weight: 400;
	src: url('../fonts/Daxline/DaxlinePro-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Daxline/DaxlinePro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Daxline/DaxlinePro-Medium.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Daxline/DaxlinePro-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Daxline/DaxlinePro-Medium.svg#DaxlinePro-Medium') format('svg'); /* Legacy iOS */
}

/* DaxlinePro-Regular */
@font-face {
	font-family: 'DaxlinePro-Regular';
	font-weight: 400;
	src: url('../fonts/Daxline/DaxlinePro-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Daxline/DaxlinePro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Daxline/DaxlinePro-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Daxline/DaxlinePro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Daxline/DaxlinePro-Regular.svg#DaxlinePro-Regular') format('svg'); /* Legacy iOS */
}

/* DaxlinePro-Thin */
@font-face {
	font-family: 'DaxlinePro-Thin';
	font-weight: 400;
	src: url('../fonts/Daxline/DaxlinePro-Thin.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Daxline/DaxlinePro-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Daxline/DaxlinePro-Thin.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Daxline/DaxlinePro-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Daxline/DaxlinePro-Thin.svg#DaxlinePro-Thin') format('svg'); /* Legacy iOS */
}

/* GOTHAM HTF*/

@font-face {
    font-family: 'gotham_htfblack';
    src: url('../fonts/GothamHTF/gothamhtf-black.eot');
    src: url('../fonts/GothamHTF/gothamhtf-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamHTF/gothamhtf-black.woff2') format('woff2'),
         url('../fonts/GothamHTF/gothamhtf-black.woff') format('woff'),
         url('../fonts/GothamHTF/gothamhtf-black.ttf') format('truetype'),
         url('../fonts/GothamHTF/gothamhtf-black.svg#gotham_htfblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_htflight';
    src: url('../fonts/GothamHTF/gothamhtf-light.eot');
    src: url('../fonts/GothamHTF/gothamhtf-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamHTF/gothamhtf-light.woff2') format('woff2'),
         url('../fonts/GothamHTF/gothamhtf-light.woff') format('woff'),
         url('../fonts/GothamHTF/gothamhtf-light.ttf') format('truetype'),
         url('../fonts/GothamHTF/gothamhtf-light.svg#gotham_htflight') format('svg');
    font-weight: normal;
    font-style: normal;

}