.ccc-inner h2, .ccc-expand {
	background-color: #0087cc !important;
}
.ccc-outer {
	border-color: #0068aa !important;
}
.ccc-inner a {
	color: #0087cc !important;
}
#ccc-cookies-switch a {
	color: #fff !important;
}
div#ccc-icon button {
	background: url(/static/storefront/emea/images/cookiecontrol.png) !important;
}
#cccwr #cctoggle {
	background-image: url(/static/storefront/emea/images/cookiecontrol_button.png) !important;
}
