@charset "UTF-8";
/* EMEA storefront CSS Document */

/* General Rules
--------------------------------
Create sections for new styles when a section does not exist
Name the style symantically when possible
*/

#autocomplete { 
	top: 70px;
	}

#loginFormAnchor {
	visibility: hidden;
}

.emeaReg{
	position:absolute;
	right:0;	
}

#homeNavTabs {
	background-image:url(/static/storefront/emea/images/homeNavTabs.png);
	_background-image:url(/static/storefront/emea/images/homeNavTabs.png);
	background-repeat:no-repeat;
	margin-top:-59px;
	width:990px;
	height:58px;
	_filter:alpha(opacity=80);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.8;
	outline:none;
	margin-left:-7px;
	position:relative;
	z-index:2;
	}
.homeNavTabsFormat {background-position:0px 0px;}
.homeNavTabsFormat {background-position:0px 0px;}
.homeNavTabsRule {background-position:0px -58px;}
.homeNavTabsExpress {background-position:0px -116px;}
.homeNavTabsDigital {background-position:0px -174px;}
#homeNavTabs div#padFixChroSaf {
	margin-top:-58px;
	*margin-top:0;
	float:left;
	}
#homeNavTabs ul {*margin-top:0; float:left;}
#homeNavTabs ul li {float:left; display:inline-block;}
#homeNavTabs ul li a {
	color:#fff;
	font-weight:bold;
	font-size:14px;
	outline:none;
	}
	
	
#homeNavTabs ul li div{margin-top:22px;}
#homeNavTabs ul li a#link1 {padding:20px 55px;}
#homeNavTabs ul li a#link2 {padding:20px 55px;}
#homeNavTabs ul li a#link3 {padding:20px 60px;}
#homeNavTabs ul li a#link4 {padding:20px 60px;}
#homeNavTabs ul li a:hover {color: #026485; text-decoration:none;}
#homeNavTabs ul li a.selected:hover {color:#ffffff;}
#homeMiniPromos {background-color:#FFF;}
#homeMiniPromos .yui-u {width:300px;}
#homeMiniPromos .yui-u h1 {margin:0; margin-top:10px;}
#homeMiniPromos .yui-u p {margin:0; margin-right:120px; line-height:1.3;}
#homeMiniPromos .homeMiniPromoHeader {margin-top:30px;}
#homeMiniPromos #homeMiniPromo1 {
	padding-left:20px;
	background-image:url('/static/images/homeMiniPromoIcons1.gif');
	background-repeat:no-repeat;
	background-position:190px 80px;
	position:relative;
	z-index:1;
	}
#homeMiniPromos #homeMiniPromo2 {
	background-image:url('/static/images/homeMiniPromoIcons2LA.gif');
	background-repeat:no-repeat;
	background-position:190px 80px;
	}
#homeMiniPromos #homeMiniPromo3 {
	background-image:url('/static/images/EMEA_4LTR.png');
	background-repeat:no-repeat;
	background-position:190px 80px;
	}
#homePromoSpace #promo1 {
	/*background-image:url('/static/images/homePromoSpaceFormat_EMEA.png');*/
	background-image:url('/static/storefront/emea/images/billboard1.gif');
	background-repeat:no-repeat;
	background-position:top left;
	width:987px;
	-webkit-border-radius:0 15px 0 0;
	-moz-border-radius:0 15px 0 0;
	border-radius:0 15px 0 0;
	height:340px;
	float:left;
	}
#homePromoSpace #promo2 {
	background-image:url('/static/images/homePromoSpaceAccessEMEA.png');
	background-repeat:no-repeat;
	background-position:top left;
	width:718px;
	height:340px;
	float:left;
	}
#homePromoSpace #promo3 {
	background-image:url('/static/images/homePromoSpaceFreeEMEA.png');
	background-repeat:no-repeat;
	background-position:top left;
	width:718px;
	height:340px;
	float:left;
	}
#homePromoSpace #promo4 {
	background-image:url('/static/images/homePromoSpaceDigHub2.png');
	background-repeat:no-repeat;
	background-position:top left;
	width:718px;
	height:340px;
	float:left;
}
	
.inlineSavings,
.savingsRange {
	display: none;
}

#cookiePolicy {
	padding:20px;
}

#cookiePolicy h2 {
	margin:0 0 10px;	
}

#cookiePolicy p {
	margin:10px 0;	
}

#cookiePolicy ul {
	padding:10px;
}

#cookiePolicy ul li {
	list-style-type:square !important;	
	list-style-position:inside;
}
.securityCert {
    float: right;
    margin: 20px 20px 0 0;
}
/******** BEGIN FREE SHIPPING BANNER FOR EMEA ********/
#promotionalBanner.emea {
	background:url(/static/storefront/emea/images/emeaBannerBg.jpg);
	height:45px;
	margin:0 auto -3px auto;
}

#promotionalBanner.emea ul {
	display:block;
	text-align:left;
	width:auto;
	margin-left:320px;
	padding:8px 0 0 0;
}

#promotionalBanner.emea ul li {
	font-family: Helvetica, Arial, sans-serif;
	display:block;
	color:#fff;
	font-size:11px;
	line-height:13px
}

#promotionalBanner.emea ul li span {
	font-weight:bold;
	color:#fff;
	font-size:18px;
	-moz-text-shadow:2px 2px 3px #C1510A;
	-webkit-text-shadow:2px 2px 3px #C1510A;
	text-shadow:2px 2px 3px #C1510A;
}

.freeShipEmea {
	position:absolute;
	top:-6px;	
}
/******** END FREE SHIPPING BANNER FOR EMEA ********/

.footerNewsletterContainer {
	width:25%;	
}

.copyInfoContainer {
	width:80%;	
}

.securityCert {
	margin:0px;	
}

.my_orders_support {
    margin-left: 0;
}

.middle_initial {
    padding-left: 0 !important;
}


#school-details-modal-content {
    width: auto !important;
}

div#school_picker_stateCityDiv {
	width: 100%;
}

.myOrders .yui-gc .yui-u.first {
    width: 56% !important;
}

.myOrders .yui-gc .yui-u {
	width: 35% !important;
}

@media screen and (max-width: 768px) {
	.my_orders {
		width: 100%;
	}
	
	.my_orders_support {
		width: 100%;
	}
}

@media screen and (max-width: 655px) {
	#school_form table td {
		display: block;
	}
}

@media screen and (max-width: 568px) {
	#school_form table td,
	#school_form div {
	    width: 256px !important;
	}
	
	.ui-dialog {
		width: 384px !important;
	}
	
	.myOrders .yui-gc .yui-u.first {
	    width: 100% !important;
	}
	
	.myOrders .yui-gc .yui-u {
		width: 100% !important;
	}
	
}

@media screen and (max-width: 384px) {	
	.ui-dialog {
		width: 345px !important;
	}
}	

@media screen and (max-width: 375px) {
	#school_form table td,
	#school_form div {
	    width: 256px !important;
	}
	
	.ui-dialog {
		width: 345px !important;
	}
	
	.ui-dialog .yui-panel .bd {
		padding: 10px;
	}
	
}

@media screen and (max-width: 320px) {
	.ui-dialog {
		width: 300px !important;
	}
}
/* Global overlay for popup*/
@media screen and (max-width: 650px) {
	.ui-widget-overlay {
	    opacity: 0.8;
	}
}