BODY {
    background: #fff2e5 url('/images/blank.gif') no-repeat;
	background-attachment: fixed;
	font-family: Arial, Sans-Serif, serif;
    font-size: 100%;
    margin:0;
    padding:0 10px;
}

img { border:0; }

table {border-collapse:collapse; }
td, th {padding:0; vertical-align:top;}

p { margin:0; }

.clear { clear:both; float:none !important; overflow:hidden; height:0; font-size:0; }
.lclear { clear:left; }
.rclear { clear:right; }
.full_width { width:100%;}

.invisible { display:none; }

a:link { color:#204a00; }
a:visited { color:#204a00; }
a:hover { color:#ff4500; }

h1,h2,h3,h4,h5,h6 { font-weight:normal; }

h1 { font-size:130%; margin:0 0 0.6em 0; }
h2 { font-size:120%; margin:1.5em 0 0.7em 0; }
h3 { font-size:110%; font-weight:bold; margin:1.5em 0 0.5em 0; }
h4 { font-size:90%; font-weight:bold; margin:0; }

* html h2, * html h3 {margin-top: expression( !this.previousSibling || ( this.previousSibling && this.previousSibling.nodeName.match( /^H[1-3]$/ ) )  ? 0 : '1.5em' );}

h2:first-child, h3:first-child {margin-top: 0;}
h1+h2, h1+h3, h2+h3 {margin-top: 0;}


#layout {
	width: 100%;
	margin: 0 auto;
	max-width: 1280px;
	min-width: 980px;
	overflow: hidden;
}

.layout {
	padding: 0;
}

.align_rb{right:0; bottom:0; right: expression( (this.parentNode.offsetWidth % 2 ? -1 : 0) + "px" ); bottom: expression( (this.parentNode.offsetHeight % 2 ? -1 : 0)+ "px" );}
.align_lt{top:0; left:0;}
.align_lb{left:0; bottom:0; bottom: expression( (this.parentNode.offsetHeight % 2 ? -1 : 0)+ "px" );}
.align_rt{right:0;top:0; right: expression( (this.parentNode.offsetWidth % 2 ? -1 : 0)+ "px" );}

.error {color:Red; padding:10px 0}

.overlaydiv
{	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	cursor: wait;
    //position: absolute;
    top: expression(eval(document.documentElement.scrollTop) + "px");
}

.sticky {
    position:fixed;
    top:0;
    width:100%;
    margin:0 auto;
    z-index: 50;
    //position: absolute;
    top: expression(
        eval(document.documentElement.scrollTop) + "px"
    );
}

.sticky_bottom	{
	position: fixed;
	bottom: 0;
	left: 0;
	//position: absolute;
	z-index: 50;
	bottom: expression(
		-eval(document.documentElement.scrollTop) + "px"
	);
}

form {margin:0; padding:0;}
li {margin-bottom: 0.3em;}
p {margin-bottom: 0.3em;}

.underline {
	text-decoration: none;
	border-bottom-color: currentColor;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#mainmenu i{position:absolute;overflow:hidden;text-align:left;}
#mainmenu i i{width:100%;height:100%; }
#mainmenu i i{background:url('/images/common/main_menu_corners2.gif')}

#mainmenu .c00{position:relative;height:20px;}
#mainmenu .c0{position:relative;background:#7ba033 url('/images/common/main_menu_bg1.gif') repeat-x;}
#mainmenu .c1{ position:relative;text-align:center;}
#mainmenu .c3{ background-color:#efdb9d;position:relative;height:30px;}
#mainmenu .c4{ background-color:#e18f00;position:relative;text-align:center;vertical-align:bottom;}
.mainmenu_c5{height:35px;background:url('/images/common/main_menu_bg3_1.jpg') right top no-repeat;}

#mainmenu .rb_c3, #mainmenu .rb_c3 i, #mainmenu .lt_c3, #mainmenu .lt_c3 i{width:12px;height:12px;}

#mainmenu .rb_c3 i{background-position: 0 -40px;}
#mainmenu .lt_c3 i{background-position: -20px -40px;}

#mainmenu .lt_c00, #mainmenu .lt_c00 i, #mainmenu .lb_c2, #mainmenu .lb_c2 i, #mainmenu .rt_c4, #mainmenu .rt_c4 i, #mainmenu .rb_c4,  #mainmenu .rb_c4 i {width:20px;height:20px;}

#mainmenu .lt_c00 i{background-position: 0 0; }
#mainmenu .lb_c2  i{background-position: 0 -20px; }
#mainmenu .rt_c4  i{background-position: -20px 0;}
#mainmenu .rb_c4  i{background-position: -20px -20px; }

#mainmenu_c1 i i{background:url('/images/common/main_menu_bg2.jpg');}
#mainmenu .lt_c1, #mainmenu .lt_c1 i {width:132px;height:40px;}
#mainmenu .lt_c1 i{background-position: 0 0;}
#mainmenu .rb_c1,#mainmenu .rb_c1 i {width:132px;height:76px;}
#mainmenu .rb_c1 i{background-position: 0 -40px;}

#mainmenu a.menulink{color:White;font-weight:bold;margin:0 0.5em 0 0.5em; line-height: 1.5em;}
#mainmenu a.menulink:hover{color:#fef5b6;}
#mainmenu a.active{color:#fae76a;}

#mainmenu .nav {color:#909b64;font-size:90%;font-weight:bold;padding-left:10px}
#mainmenu .nav a  {color:#909b64;font-weight:bold;}
a#addtofav  {font-size:75%;margin-top:15px;}
a#addtofav2  {font-size:80%;color:#ffffff;}
a#addtofav2:link  {color:#ffffff;}
a#addtofav2:visited  {color:#ffffff;}
a#addtofav2:hover  {color:#D84C00;}

#mainmenu .addrecipe_text {margin:0; padding:0; color:#ffffff;font-size:90%;font-weight:bold;}

.annonce_green .tc21,.annonce_green .tc31{background-color:#81a03c;}
.annonce_green i.dec, .annonce_green i.ico {background:url('/images/common/annonce_green_ico_v3_v.gif?v=4') repeat-x;}

.annonce_orange .tc21,.annonce_orange .tc31{background-color:#e39915;}
.annonce_orange i.dec, .annonce_orange i.ico {background:url('/images/common/annonce_orange_ico_v2.gif') repeat-x;}

.annonce_purple .tc21,.annonce_purple .tc31{background-color:#ce6974;}
.annonce_purple i.dec, .annonce_purple i.ico {background:url('/images/common/annonce_purple_ico_v2.gif') repeat-x;}

/*
.annonce_green .tc21,.annonce_green .tc31{background-color:#b3c68a;}
.annonce_green i.dec, .annonce_green i.ico {background:url('/images/common/annonce_green_ico_60p.gif') repeat-x;}

.annonce_orange .tc21,.annonce_orange .tc31{background-color:#eec273;}
.annonce_orange i.dec, .annonce_orange i.ico {background:url('/images/common/annonce_orange_ico_60p.gif') repeat-x;}
*/

.annonce {padding-bottom:20px}
.annonce .div30x7 {position:relative;width:7px;height:30px;}
.annonce .div7 {position:relative;height:7px;}
.annonce .div40x0 {position:relative;width:40px;}

.annonce i.de{position:absolute;overflow:hidden;text-align:left;}
.annonce i.de i{position:absolute;width:100%;height:100%; }
.annonce td {position:relative;}

.annonce .top {width:100%;}
.annonce .tc11, .annonce .tc12, .annonce .tc31, .annonce .tc32{height:7px;}

.annonce .tc22, .annonce .tc32{background-color:#f8ecc7;}
/*
.annonce .tc22, .annonce .tc32{background-color:#f4e0a2;}
*/

.annonce .tc21 {width:40px;}
.annonce .lt_tc11, .annonce .rt_tc12, .annonce .rb_tc32, .annonce .lt_tc11 i, .annonce .rt_tc12 i, .annonce .rb_tc32 i {z-index:2;width:7px;height:7px;}
.annonce .lt_tc22, .annonce .lt_tc22 i {width:10px;height:10px;}
.annonce .lt_tc11 i{background-position: -10px 0; }
.annonce .rt_tc12 i{background-position: -17px 0; }
.annonce .rt_tc22 i{background-position: 0 0; }
.annonce .rb_tc32 i{background-position: -24px 0; }
.annonce .t_tc1, .annonce .t_tc1 i {z-index:1; width:100%;height:7px;}
.annonce .t_tc1 i{background-position: 0 -92px; }
.annonce .top_shadow{height:15px;background:url('/images/common/annonce_top_shadow.jpg') right top no-repeat;}


.annonce .bottom td{background-color:#f8ecc7;}
.annonce .edit{text-align:left;padding:0;margin:20px 0 0 0;}
.annonce .edit td{font-size: 80%; background-color: #F8ECC7; padding: 3px;}
.annonce .edit form{padding:0;margin:0}
/*
.annonce .bottom {width:100%;background-color:#f4e0a2;}
*/
.annonce .lb_bc11, .annonce .lt_bc17, .annonce .lb_bc17, .annonce .lb_bc11 i, .annonce .lt_bc17 i, .annonce .lb_bc17 i{width:7px;height:7px;}
.annonce .lb_bc11 i{background-position: 0 -40px;}
.annonce .lt_bc17 i{background-position: -7px -40px; }
.annonce .lb_bc17 i{background-position: -14px -40px; }
.annonce .bottom_shadow{height:10px; background-color: #fff9f3; background:url('/images/common/annonce_bottom_shadow.jpg') #fff9f3 right top no-repeat;}
.annonce .bottom_shadow_l{height:10px; background-color: #fff9f3;background:url('/images/common/annonce_bottom_shadow.jpg') #fff9f3 left top no-repeat;}

.annonce td {text-align:left; vertical-align:top;}
.annonce td.data {padding:6px 2px 0 5px;white-space: nowrap;}
.annonce .user {padding-left:10px;}
.annonce .date {text-align:right; padding-right:10px;}

.annonce i.ico {position:absolute;overflow:hidden;margin-top:0;}

.annonce i.iuser {width:15px;height:15px;background-position: 0 -47px;}
.annonce i.ivotep {width:15px;height:15px;background-position: 0 -62px;}
.annonce i.ivotem {width:15px;height:15px;background-position: -15px -62px;}
.annonce i.icomment {width:15px;height:15px;background-position: -15px -77px;}
.annonce i.iview {width:15px;height:15px;background-position: -15px -47px;}
.annonce i.inew {width:34px;height:15px;background-position: 0 -10px;}
.annonce i.istep {width:34px;height:15px;background-position: 0 -25px;}
.annonce .icotext {padding:0 10px 0 17px;}

.annonce .toptext {padding:6px 0 0 7px; line-height: 95%;}
.annonce .topico {padding:6px 7px 0 7px;}

.annonce .section{font-size:75%;}
.annonce .theme{font-size:75%;padding-top:3px;}
.annonce .title{font-size:90%;font-weight:bold;}
.annonce .bottom{font-size:85%;font-weight:bold;}
.annonce .comments .count{color:Black;font-weight:normal;}
.annonce .comments {text-align:left;}
.annonce a.title{text-decoration:none;padding-top:7px;}
.annonce a.title:hover{text-decoration:underline;}

/*.annonce .blog_content_table {margin-top:-10px;}*/
.annonce .blog_content {margin-top:-50px; padding:0 20px 5px 15px;font-size: 90%;}
/*.annonce .blog_content .news_img, .annonce .blog_content .bbc_img {margin:0 10px 10px 0;}*/
/*.annonce .blog_content .news_img td, .annonce .blog_content .bbc_img td  {padding:2px;}*/
.annonce .blog_content .news_img img, .annonce .blog_content .bbc_img img{padding:2px; margin:0 10px 10px 0;}
.annonce .blog_content p{padding-bottom:5px}
.annonce .blog_content a.detail{}
.annonce .blog_content a.recipes{}
.annonce .blog_content .edit_links_form {text-align:right;}
.annonce .blog_content .add_status {text-align:left;padding-top:10px;font-size: 80%;}
.annonce .blog_content .add_status span {padding:2px;}
.annonce .blog_content .add_status span.main {background-color:#56d156;}
.annonce .blog_content .add_status span.blog {background-color:#fffa70;}
.annonce .blog_content .add_status span.del {background-color:#ff4343;}

/*.annonce_green .blog_content .news_img td, .annonce_green .blog_content .bbc_img td {border: 1px solid #81a03c;}*/
.annonce_green .blog_content .news_img img, .annonce_green .blog_content .bbc_img img {border: 1px solid #81a03c;}
.annonce_green .section, .annonce_green .theme{color:#779533;}
.annonce_green .title, .annonce_green .bottom, .annonce_green a{color:#547017;}
.annonce_green a:hover{color:#6c901d;}
.annonce_green a:visited{color:#547017;}

/*.annonce_orange .blog_content .news_img td, .annonce_orange .blog_content .bbc_img td {border: 1px solid #e39915;}*/
.annonce_orange .blog_content .news_img img, .annonce_orange .blog_content .bbc_img img {border: 1px solid #e39915;}
.annonce_orange .section, .annonce_orange .theme{color:#da8516;}
.annonce_orange .title, .annonce_orange .bottom,  .annonce_orange a{color:#d84c00;}
.annonce_orange a:hover{color:#ef6317;}
.annonce_orange a:visited{color:#d84c00;}

/*.annonce_purple .blog_content .news_img td, .annonce_purple .blog_content .bbc_img td {border: 1px solid #ce6974;}*/
.annonce_purple .blog_content .news_img img, .annonce_purple .blog_content .bbc_img img {border: 1px solid #ce6974;}
.annonce_purple .section, .annonce_purple .theme{color:#ce6974;}
.annonce_purple .title, .annonce_purple .bottom,  .annonce_purple a{color:#af4151;}
.annonce_purple a:hover{color:#cf4256;}
.annonce_purple a:visited{color:#af4151;}

.page_selector a	{font-size: 90%; color:#ff6600; font-weight:bold;text-decoration: none;padding: 10px 2px;}
.page_selector a:visited	{font-size: 90%; color:#ff6600; font-weight:bold;text-decoration: none;}
.page_selector .curent	{font-size: 110%; color:#9acb33; font-weight:bold;;text-decoration: none;padding: 10px 2px;}
.page_selector a:hover	{font-size: 90%; color:#ff6600; font-weight:bold; text-decoration: underline;}
.page_selector .notactiv	{font-size: 90%; color:#ffcba9; font-weight:bold;text-decoration: none;padding: 10px 2px;}

.billet_orange .c1{background-color:#eb9000;}
.billet_orange i.dec {background:url('/images/common/billet_orange_2.gif') repeat-x;}

.billet_green .c1{background-color:#7ba033;}
.billet_green i.dec {background:url('/images/common/billet_green_2.gif') repeat-x;}

.billet .div12 {position:relative;width:100%;height:18px;}
.billet .div35 {position:relative;width:100%;height:30px;}
.billet i.de{position:absolute;overflow:hidden;text-align:left;}
.billet i.de i{position:absolute;width:100%;height:100%; }
.billet td {position:relative;}
.billet .lt_c1, .billet .rb_c1,.billet .lt_c1 i, .billet .rb_c1 i {width:8px;height:8px;z-index:2;}
.billet .rt_c1, .billet .lb_c1, .billet .rt_c1 i, .billet .lb_c1 i  {width:70px;height:27px;z-index:1;}
.billet .lt_c1 i{background-position: -12px -54px; }
.billet .rt_c1 i{background-position: 0 0; }
.billet .lb_c1 i{background-position: 0 -27px; }
.billet .rb_c1 i{background-position: -20px -54px;}

.billet .lt_c2, .billet .lt_c2 i {width:12px;height:12px;z-index:3;}
.billet .rt_c2, .billet .rt_c2 i {width:100%;height:3px;z-index:1;}
.billet .lt_c2 i{background-position: 0 -54px;}
.billet .rt_c2 i{background-position: 0 -66px;}

.billet i.shadow{background:url('/images/common/billet_shadow.jpg') right top no-repeat;}
.billet i.sha{position:absolute;overflow:hidden;text-align:left;width:100%;height:18px;z-index:2;}
.billet i.sha i{position:absolute;width:100%;height:18px; z-index:2;}

.billet .title_div {z-index:5;width:100%;height:30px; display: table-cell; vertical-align: middle;}
.billet .title_div h3, .billet .title_div h2, .billet .title_div h1, .billet .title_div span {font-size:100%;text-align:left;vertical-align:middle;padding:0 12px;margin:0; color:White; font-weight:bold; font-style: italic; white-space: nowrap;}


.sb_rcpf td {font-size:110%;}
.sb_rcpf dl.catalogue		{margin: 0; font-size: 100%; padding-top: 0.25em;}
.sb_rcpf dl.catalogue dt		{font-size: 95%; font-weight:normal;}
.sb_rcpf dl.catalogue dt.cur	{color: #ff6600;}
.sb_rcpf dl.catalogue dd		{font-size: 80%; margin: 0 0 0.8em 0; line-height: 140%;}
.sb_rcpf dl.catalogue span.count {font-size: 70%;}
.sb_rcpf dl.catalogue span.count {font-size: 11px;}
.sb_rcpf dl.catalogue a		{margin: 1px;}
.sb_rcpf dl.catalogue a.active {color: #ff6600;}

.rcpf td {font-size:100%}
.rcpf dl.catalogue		{margin: 0; font-size: 100%; padding-top: 0.25em;}
.rcpf dl.catalogue dt		{font-size: 110%; font-weight:normal;}
.rcpf dl.catalogue dd		{font-size: 80%; margin: 0 0 0.8em 0; line-height: 140%}
.rcpf dl.catalogue span.count {font-size: 70%;}
.rcpf dl.catalogue span.count {font-size: 11px;}
.rcpf h1 {font-size:150%; font-weight:normal; padding:0; margin:0.4em 0 1px; line-height:1em}
.rcpf .active {color: #ff6600;}
.rcpf a.active {color: #ff6600;}
.rcpf a.resList {margin:2px;}
.tags_list_bold a.resList {font-weight:bold;}

.sub_left  {width:240px; padding:0 10px 0 5px;}
.sub_right {width:240px; padding:0 5px 0 10px;}
.sub_block {width:240px; padding:0 0 30px 0;}
.sub_block .title {color:#d84c00;font-size:110%;font-weight:bold;margin:0 0 10px 0;}
.sub_block .title_link {margin:0 0 10px 0; text-align: center;}
.sub_block .title_link a {color:#d84c00;font-size:100%;font-weight:bold;}
.sub_block .title_link a:hover {color:#d84c00;}
.sub_block .title_link a:visited {color:#d84c00;}
.sub_block .ul_doted {list-style-image: url(/images/common/list_dot.gif);}

.sb_ellist ul{margin:0 0 0 20px;padding:0; list-style-image: url(/images/common/list_dot.gif);}
.sb_ellist li {margin-top:7px;font-size:85%;}

.sb_login .form{font-size:90%;margin:0;padding:0 15px 0 0;text-align:right;}
.sb_login .error{font-size:90%;color:Red;padding-bottom:10px;}
.sb_login .forgetpass{font-size:90%;}
.sb_login .register{font-size:110%;}
.sb_login .autologin{font-size:90%;}

.sb_login a{font-size:90%;}
.sb_login .user_avatar {text-align:center; }
.sb_login .user_avatar img {padding:0 0 5px 0;}
.sb_login .user_name{font-size:100%;font-weight:bold;margin-bottom:7px;color:#d84c00;}
.sb_login .user_name a{font-size:100%;color:#d84c00;}
.sb_login .user_img {margin:0 10px 10px 0;}
.sb_login .user_img td {padding:2px;border: 1px solid #81a03c;}
.sb_login .exit {font-weight:bold;margin-top:7px;}

i.ico_f_green {background:url('/images/common/annonce_green_ico.gif') repeat-x;}
i.ico_f {position:absolute;overflow:hidden;margin-top:0;}
i.iuser_f {width:15px;height:15px;background-position: 0 -47px;}
.ico_f_text{font-size:15px;padding-left:20px;}

.sb_nations td {padding:3px;font-size:85%; line-height: 140%;}
.sb_nations td a{margin: 2px;}
.sb_nations td.letter {font-size: 110%;  font-weight:bold; color: #ff6600;}
.sb_nations span.active {font-size: 120%;font-weight:bold; color: #ff6600;}

.bottomline {vertical-align:top; background:url('/images/common/bottom_line_bg.gif') repeat-x;}
.bottomline img {vertical-align: top;}
.center_separate_t {margin-top:16px;margin-bottom:5px;}
.center_separate {vertical-align:top; background:url('/images/common/center_separate_bg.gif') repeat-x;}
.center_separate img{vertical-align:top;}
.copyright {font-size:75%}
.copyright p{padding-bottom:5px}

.center_block {padding:0 15px 15px 15px; background: #fff9f2 url('/images/common/center_bg.gif') repeat-x;}

.add_form {font-family:Arial, sans-serif; font-size:90%;}
.add_form {font-family:Arial, sans-serif;}
.add_form label {margin-top:10px; vertical-align:top;text-align:left;width:100%;font-size:110%;font-weight:bold;}
.add_form label.checkbox {font-size:90%;padding:0; margin:0; vertical-align:top;}
.add_form .field {padding-top:1px;padding-left:10px;vertical-align:top;}
.add_form p.comment {padding:4px 0 0 10px;vertical-align:top; font-size:13px;color:Gray;}
.add_form div.error {color:Red;font-size:120%;font-weight:bold;}
.add_form p.info {padding-top:20px;color:Green;font-size:120%;font-weight:bold;}
.add_form .val_error {border: 2px solid Red; background-color: #fff5f5;}
.add_form .error {color:Red;font-size:120%;font-weight:bold;}
.add_form .error p {color:Red;font-size:120%;font-weight:bold;}
.add_form .ico {cursor: pointer; cursor: hand;}
.add_form .form_el {padding-top:15px;}

.addrcp_form .stepdiv {padding:0;}
.addrcp_form .stepimg {vertical-align:top;margin:5px;}
.addrcp_form .steptext {vertical-align:top;margin-top:10px;}

.demo ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
.demo li { margin: 5px; padding: 5px; width: 150px; }

a.vegetarian {color:#d84c00;font-size:110%;font-weight:bold;}

.post_view h1 {color:#d84c00; font-weight:bold;}
.post_view p {line-height: 125%; padding-bottom:0.5em;}
.post_view .news_img,.post_view .bbc_img {margin-top:10px; margin-right:10px; margin-bottom:10px;}
.post_view .news_img td,.post_view .bbc_img td {padding:2px;border: 1px solid #e39915;}
.post_view .pannounce .news_img,.post_view .pannounce .bbc_img {margin-top:3px;}
.post_view .pannounce {font-weight:bold;}
.post_view .edit_links_form {text-align:right;}

.recipe_addinfo {font-size:90%; padding:10px}
.recipe_addinfo p {margin-bottom:0.7em; line-height:125%; }
.recipe_addinfo li {margin-bottom:0.7em; line-height:125%; }

.recipe_list a:visited{color: #b13652;}
.recipe_list a:active{color: #ff6600;}
.recipe_list td{padding:2px;}

.search_form {margin:0 10px 10px 10px;}
.search_form td{padding-bottom:5px;vertical-align:top;font-size:90%;}
.search_form td.label{white-space: nowrap;text-align:right;padding-top:4px}
.search_form label{padding-right:5px;text-align:right;}
.search_form .comment_r{color:Red;font-size:80%;}
.search_form .b_submit{font-weight:bold;}

.search_result_rcp {}
.search_result_rcp .subnav {font-size:95%;font-weight:bold;margin:0 10px 0 10px;}
.search_result_rcp .subnav .count{text-align:right; padding:3px 30px 0 30px;color:#ff6600;}
.search_result_rcp .subnav a {text-decoration:none;border-bottom: 1px dashed #ff6600;}
.search_result_rcp .subnav td {padding-bottom:5px;vertical-align:top;}

.search_result_rcp a:visited{color: #b13652;}
.search_result_rcp a:active{color: #ff6600;}

.search_result_rcp dl {}
.search_result_rcp dt {font-size:110%;font-weight:bold;padding:15px 0 3px 10px;}
.search_result_rcp dt .count {color:#ff6600;padding-left:10px;}
.search_result_rcp dd {margin-left:25px;}
.search_result_rcp dd a.all_from_f, .search_result_rcp dd a.all_from_f:visited {color:#d84c00;font-weight:bold;}

.recipe {display: inline-block;margin:0 10px;}
.recipe h1 {font-size:150%;font-weight:bold;color:#D84C00; margin:0 0 8px 0;}
.recipe .content_name {font-size:100%;font-weight:bold;color:#D84C00; margin:0 0 8px 0;}
.recipe .main_text {padding-bottom:10px;}
.recipe .main_text p{margin-bottom:0.3em; line-height:125%;}
.recipe .addval {padding-bottom:10px;}
.recipe .addval p{font-size:90%;margin-bottom:0.2em; font-style: italic;}
.recipe .ingrid p{color:#464646;}
.recipe .ingrid .title{font-size:110%;margin-bottom:0.2em;color:#ff6600;}
.recipe .razdels {font-size:90%;}
.recipe .razdels p{margin-bottom:0.2em;}
.recipe .razdels .title{font-size:110%;font-weight:bold;margin-bottom:0.2em;color:#ff6600;}
.recipe .addtofav{font-size:90%;padding-top:10px;}
.recipe .howcook{font-size:80%;padding-top:10px;color:#3A3A3A;}
.recipe .edit{text-align:right;}
.addtofav p {padding-top:5px;}

.recipe .main_image{text-align:left;margin:0 10px 5px 0; border: 1px solid #e39915;}
.recipe .main_image td {padding:2px;}

.recipe .type{font-size:80%;font-weight:bold;padding-top:1px;padding-bottom:3px;color:#E17338;margin:0;}
.recipe .theme{font-size:80%;padding-top:1px;padding-bottom:3px;color:#E17338;margin:0;}
.recipe .themea{color:#E17338;}
.recipe .step_images td{padding:7px 0;vertical-align:top; border-bottom: 1px solid #e39915;}
.recipe .step_images img{margin:1px 10px 5px 0;}

.add_int_links td {text-align:center;}
.add_int_links a {font-weight:bold;}
.add_int_links {margin:5px 0 10px 0;}

.add_content_name {text-align: right; vertical-align: middle; font-size: 100%; color:#EB9000 ;font-size:100%;font-weight:bold;}

.regform {margin-left:10px}
.regform label{font-weight:bold;}
.regform input, .regform select{margin-bottom:5px}

.comments .comment {padding-top:3px; clear: both;}
.comments .user_name {font-weight:bold;margin:0 10px 0 5px;color:#d84c00;}
.comments .datetime {font-size:80%;color:#515151;margin-right:7px}
.comments a.commlnk {font-size:80%;color:#808080;}
.comments .comment_text {margin-top:5px;}
.comments .bb_quote_author {font-size:80%;font-weight:bold; margin: 10px 0 0 37px;}
.comments .bb_quote {font-size:80%;border: 1px solid #f4dac0;margin: 0 30px 10px 30px; padding: 7px; background-color:#fff2e5;}

.ingr_list {text-align:center;padding:0 20px;}
.ingr_list_left {text-align:left;padding:0 20px;}
.ingr_list .active {color:#ff6600;}

.imgbutton {cursor: pointer; cursor: hand;}

a.orange, a.orange:link, a.orange:visited {color:#d84c00;}
a.orange:hover {color:#ff6600;}

.blogwelcome { background-color:#fff2e5;padding-top:10px;}
.blogwelcome a:link, .blogwelcome a:visited {color:#d84c00;}
.blogwelcome a:hover {color:#ff6600;}
.blogwelcome p {padding:0 10px 5px 10px; font-size:90%}
.blogwelcome img {padding:0 0 5px 5px;}
.blogwelcome td {vertical-align:top;}
.blogwelcome .user_name{font-weight:bold; font-size:100%;color:#D84C00;}

.post_to_blog {padding-top:10px;text-align:center;padding-bottom:5px;}
.post_to_blog .title{font-size:100%;font-weight:bold;margin-bottom:0.2em;color:#ff6600;;}
.post_to_blog .subtitle{font-size:80%;padding-top:10px;color:#707070;}

.bloggers_list {text-align:center;padding:0 15px 20px 15px;}
.bloggers_list .min_bloggers{display:none;}
.bloggers_list .min_hidden_buttons {margin-top:12px;}
.bloggers_list .min_hidden_buttons span{font-size:80%; padding:4px; border:1px solid #deb887; background-color:#faebd7; font-weight:bold; cursor:pointer; color:#a25f2a; opacity:0.5;}
.bloggers_list img{margin-right:3px; padding-bottom:-5px;}


.themes {margin:10px;}
.themes td {vertical-align:middle;text-align:right;padding:10px 0;}
.themes th {vertical-align:middle;text-align:right;padding-bottom:10px;padding-left:10px;font-size:90%;color:Gray;font-weight:normal;}
.themes .theme {text-align:left;font-size:115%;}
.themes .rcp_count {font-size:110%;padding:5px 0 5px 20px;color:#da8516;}
.themes .post_count {font-size:110%;padding:5px 0 5px 20px;color:#779533;}
.themes .rating {font-size:110%;padding:5px 0 5px 20px;color:#ffffff;}
.themes .rating span{padding:2px;background-color:#779533;}

.themes .themeth {padding-left:0;text-align:left;}

.themes_sub td {vertical-align:middle;text-align:right;}
.themes_sub th {padding:10px 0 0 0;vertical-align:middle;}
.themes_sub .theme {text-align:left;font-size:90%;}
.themes_sub .rating {font-size:110%;padding:5px 0 5px 10px;color:#ffffff;}
.themes_sub .rating span{padding:2px;background-color:#779533;}

.themes_sub .themeth {padding-left:0;text-align:left;}

.themes_sub .announce {padding-top:3px;text-align:left; font-size:80%;}

.themetitle {font-size:120%;font-weight:bold;color:#D84C00}
.themetitle span{font-weight:normal;color:#D84C00}

.gid {position:absolute;width:100%;height:100%;z-index:99;text-align:right;}

#flash_container {position:relative;}

#flash_gid {z-index: 5; left: -90px; width: 100px; position:absolute; top: 500px; height:100px;}

#flash_cloud {z-index: 7; left: -250px; width: 260px; position:absolute; top: 500px; height:140px;}

.divbanner_b4 {margin:-20px -15px 15px -15px;text-align:center;}
.divbanner_b1 {margin: 10px -20px -15px -10px;text-align:center;}
.divbanner_b2 {margin: -20px 0 10px -8px;text-align:center;}
.divbanner_b3 {margin: 0 -12px 0 -20px; text-align:center;}
.divbanner_b5 {margin: -20px 0 10px -8px;text-align:center;}
.divbanner_b6 {text-align:center;}

.add_recipe_ingr_el {padding-top:5px;}
.add_recipe_ingr_el .ingredients_spr {font-weight:bold;}


.rcplist_rcp_wi .rcp_wi_title{font-weight:bold; padding:5px 0 1px 0;}
.rcplist_rcp_wi .rcp_wi_announce{font-size:80%;padding:0;margin:0;}
.rcplist_rcp_wi img{margin:3px 7px 2px 0;}

.rcplist_rcp_wi2 .rcp_wi_title{padding-left:5px;}
.rcplist_rcp_wi2 table td{vertical-align:middle;}
.rcplist_rcp_wi2 .image_td{text-align:center; width:50px;}
.rcplist_rcp_wi2 .image_td  img{margin:3px 0 2px 0;}

.recipe_list .count{font-size:80%;text-align:right;vertical-align:bottom;}
.recipe_list .count_top{vertical-align:top;padding-top:9px;}
.recipe_list .count_mid{vertical-align:middle;}
.recipe_list .rcp_ingr_str{font-size: 80%; color: #585858}


.awards {text-align:right;vertical-align:bottom;}

.ad_info {font-size:90%;}
.ad_info .list {width:450px; list-style-image:url(/images/ad/list_dot.gif);}
.ad_info .list li {margin-top:5px;}
.ad_info .list ul {margin:0 20px;text-align:left;}
.ad_info .adtext {width: 450px;}
.ad_info .adtext p {text-align:left;}
.ad_info .adminitext {font-size:90%;font-style: italic;}
.ad_info .contacts  {font-size:90%;}
.ad_info .contacts th{text-align:left; padding:5px; color: #f58220;}
.ad_info .contacts td{text-align:right; padding:5px;}

.ad_info .price_table  {font-size:90%;}
.ad_info .price_table th{padding:5px;text-align:center;border: 1px solid #E5CAB5;}
.ad_info .price_table td{padding:5px;text-align:right;border: 1px solid #E5CAB5;}
.ad_info .price_table .noborder{border: none;}
.ad_info .price_table .npp{}
.ad_info .price_table .vid{text-align:left;}
.ad_info .price_table .edizm{text-align:center;}
.ad_info .price_table .price{}
.ad_info .price_sn {width: 100%; font-size:90%;}
.ad_info .price_sn th{width: 1%;text-align:right;padding:6px 5px 0 5px;vertical-align: top;border: none;}
.ad_info .price_sn td{width: 99%;text-align:left;padding:2px 5px;vertical-align: top;border: none;}
.ad_info .tarif_actual{font-size:80%;font-style: italic;margin: -10px 0 10px 0}
.ad_info h2 {color: #A7CF39;font-size: 120%;font-weight: bold;}

.index_main_text {margin:0 0 20px 0;font-size:90%;}
.index_main_text h1{color:#D84C00; font-weight: bold;}
.index_main_text p{font-size:90%; line-height:125%;}

.recipe_min_list1 td{vertical-align:middle; padding-bottom:5px; font-size:90%;}
.recipe_min_list1 .col1{text-align:center;}
.recipe_min_list1 img{padding-right:10px;}
.recipe_min_list2 td{vertical-align:bottom; text-align:center; padding:0 5px; font-size:90%;}
.recipe_min_list2 td{padding-bottom:3px}
.recipe_min_list2 .row2 td{vertical-align:top; padding-bottom:15px}
.recipe_min_list_add1 {background: #f2ead3;}

.subscribe_list h1, .subscribe_view h1{font-size:160%;margin:0; padding:0 0 7px 0; font-weight:bold;color:#D84C00;}
.subscribe_view h1 {font-weight:normal;}
.subscribe_list h1 a, .subscribe_view h1 a{ color:#D84C00;}
.subscribe_list h2, .subscribe_view h2 {font-size:100%;;margin:0;  padding: 15px 0 5px 0; font-weight:bold;color:#D84C00;}
.subscribe_list .image td{padding:0 7px 7px 0}
.subscribe_list td {vertical-align:top;}

.rcplist_tag_text {font-size:90%; margin-bottom: 0.3em; line-height: 125%;}

a.local {text-decoration:none;  border-bottom: 1px dashed;}

.also_tags span{display:inline-block;padding:0 4px; margin:1px;}
.also_tags a{line-height: 100%; text-decoration:none;padding:1px 4px;}
.also_tags a:hover{text-decoration:underline;}

h1.center_orange {color: #D84C00; font-weight: bold;}

.also_tags {}
/*.also_tags .c1 a {background:#faeedd;}*/
/*.also_tags .c2 a {background:#faeedd;}*/
.round_box_10 div.box-c { height:10px; margin: 0 10px; position: relative; background: #D9E4CF; }
.round_box_10 div.box-c em b { position:absolute; font:76px Arial; line-height:20px; font-weight:normal; }
.round_box_10 .ctl,.round_box_10 .cbl,.round_box_10 .ctr,.round_box_10 .cbr { z-index:11; width:10px; height:10px; color:#D9E4CF; overflow:hidden; position:absolute; background:transparent; }
.round_box_10 .ctl {top:0; left:-10px;}
.round_box_10 .cbl {bottom:0; left:-10px;}
.round_box_10 .ctr {top:0; right:-10px;}
.round_box_10 .cbr {bottom:0; right:-10px;}
.round_box_10 .ctl b {left:-4px;}
.round_box_10 .ctr b {left:-12px;}
.round_box_10 .cbl b {left:-4px; top:-9px;}
.round_box_10 .cbr b {left:-12px; top:-9px;}
.round_box_10 div.box-inner { padding: 0 10px; background: #D9E4CF; }

.white_box .td{background-color: white; border: solid 1px #f8ece0;}
.white_box i.dec {background:url('/images/common/annonce_green_ico_v3_v.gif?v=4') no-repeat;}
.white_box i.de{position:absolute;overflow:hidden;text-align:left;}
.white_box i.de i{position:absolute;width:100%;height:100%; }
/*.white_box td {position:relative;}*/
.white_box .lt_c1, .price .lt_c1 i, .white_box .rt_c1, .price .rt_c1 i, .white_box .lb_c1, .price .lb_c1 i, .white_box .rb_c1, .price .rb_c1 i  {
    width:9px; height:9px; z-index:1;
}
.white_box .lt_c1 {margin: -1px 0 0 -1px;}
.white_box .rt_c1 {margin: -1px -1px 0 0;}
.white_box .lb_c1 {margin: 0 0 -1px -1px;}
.white_box .rb_c1 {margin: 0 -1px -1px 0;}
.white_box .lt_c1 i {background-position: -19px -138px; }
.white_box .rt_c1 i {background-position: -28px -138px; }
.white_box .lb_c1 i {background-position: -19px -147px; }
.white_box .rb_c1 i {background-position: -28px -147px; }
.white_box .content {z-index:5;}



.recipe_new {font-size: 100%; color: #000000; width: 100%;}
.recipe_new p {	margin-bottom: 0.3em; line-height: 125%;}
.recipe_new h2.sub_title {color: #de8d08; font-size: 85%; margin-bottom: 0;}
.recipe_new h1.title {color:#d84c00; font-size: 150%; font-weight: bold; margin-bottom: 7px;}
.recipe_new a {color: #547017;}
.recipe_new .main_image{text-align:left;margin:0 10px 5px 0; border: 1px solid #de8d08;}
.recipe_new .main_image td {padding:2px;}
.recipe_new .padding_r {padding-right:15px;}
.recipe_new .padding_l {padding-left:15px;}

.recipe_ico i {background:url('/images/common/annonce_green_ico_v3_v.gif?v=4') repeat-x;}
.ico_15x15 {width: 15px; height: 15px; display: inline-block; * display: inline;}
.ico_15x15 i{width: 15px; height: 15px; position: absolute; overflow: hidden; margin-top: 2px;}
.recipe_ico i.ico_print {background-position:-15px -99px;}
.recipe_ico i.ico_time {background-position:0 -77px;}
.recipe_ico i.ico_user {background-position:0 -47px;}
.recipe_ico i.ico_portion {background-position:0 -114px;}
.recipe_ico i.ico_arrow_down {background-position:0 -99px;}
.recipe_ico i.ico_comments {background-position:-15px -77px;}
.recipe_ico i.ico_list1 {background-position: -15px -114px;}
.recipe_ico i.ico_list2 {background-position: 0 -138px;}
.recipe_ico i.ico_list3 {background-position: 0 -153px;}

.recipe_new .sub_info {color: #888787; font-size: 90%; margin-bottom: 10px;}
.recipe_new .sub_info .hl {color: #000000;}
.recipe_new .sub_info .el {margin-bottom: 4px;}
.recipe_new .sub_price {}
.recipe_new .sub_price .curr {color: #547017;}
.recipe_new .user_date, .recipe_new .user_date a{color: #547017; font-weight: bold;}

.recipe_new .price_block {margin-bottom: 7px}
.price_block .price {background-color: #d3d68b; color: #547017; background:url('/images/common/annonce_green_ico_v3_v.gif?v=4') repeat-x; background-position: 0 -236px;}
.price_block .price b{color: #000000;}
.price_block .price .c1{background-color:#eb9000;}
.price_block .price i.dec {background:url('/images/common/annonce_green_ico_v3_v.gif?v=4') repeat-x;}
.price_block .price div {position:relative;width:100%;height:26px;}
.price_block .price i.de{position:absolute;overflow:hidden;text-align:left;}
.price_block .price i.de i{position:absolute;width:100%;height:100%; }
.price_block .price td {position:relative;}
.price_block .price .lt_c1, .price .lt_c1 i  {width:6px;height:26px;z-index:1;}
.price_block .price .rt_c1, .price .rt_c1 i  {width:30px;height:26px;z-index:1;}
.price_block .price .lt_c1 i{background-position: 0 -210px; }
.price_block .price .rt_c1 i{background-position: -7px -210px; }
.price_block .price .title_table {z-index:5;width:100%;height:26px; padding: 2px 8px 0  9px;}

.recipe_new .ingr_block {background: #d9e0a6; margin: 5px 0;}
.recipe_new .ingr_block td{vertical-align: top;}
.recipe_new .ingr_title {padding-top: 10px; padding-bottom: 10px;}
.recipe_new .ingr_title .prod {color: #d84c00; font-size: 125%; font-weight: bold;}
.recipe_new	.ingr_title .portion {color: #547017; font-size: 80%;}
.recipe_new .ingr {margin-bottom: 10px;}
.recipe_new .ingr .ingr_tr_0 td, .recipe_new .ingr .ingr_tr_1 td{padding-top: 3px; padding-bottom: 3px;}
.recipe_new .ingr .ingr_tr_0 {background: #e5eac2;}
.recipe_new .ingr .ingr_tr_1 {}

.recipe_new .ingr .or {color: #899d4f;font-weight: bold; font-style: italic;}
.recipe_new .ingr .qnt {text-align: right; padding-right: 5px;}
.recipe_new .ingr .name {}
.recipe_new .ingr .init {}
.recipe_new .ingr .prep_title {font-style: italic;font-weight: bold;}
.recipe_new .ingr .prep {font-style: italic; font-size: 90%;}
.recipe_new .ingr .separator {color: #547017; font-weight: bold;}
.recipe_new .ingr_banner{padding: 10px; text-align: center;}
/*.recipe_new .announce, .recipe_new .main_text, .recipe_new .step_text {}*/

.recipe_new .area_title { margin-top: 20px; margin-bottom: 10px;}
.recipe_new .area_title_stepbystep { margin-top: 25px; margin-bottom: 0;}
.recipe_new .area_title .title {color: #de8d08; font-size: 125%; font-weight: bold;}
.recipe_new .area_title .rcp {color: #547017; margin-left: 30px;}

.recipe_new .area_title2 { margin-top: 15px; margin-bottom: 5px;color: #de8d08; font-weight: bold; font-size: 105%;}

.recipe_new .step_images td{padding:7px 0;vertical-align:top; border-bottom: 1px solid #e39915;}
.recipe_new .step_images img{margin:1px 10px 5px 0;}

.recipe_new .howcook{ font-size: 80%; color: #6d6d6d; margin-top: 15px;}
.recipe_new .print_ver .link{font-size: 115%; font-weight: bold; margin-left: 5px;}

.recipe_new .razdels{font-size: 90%;}
.recipe_new .search{margin-top: 10px;}
.recipe_new .search a{font-weight: bold;}

.recipe_new .theme {color: #547017;}

.recipe_new .addtofav {margin-bottom: 15px;}
.recipe_new .addtofav a{font-size: 105%; font-weight: bold;}



.recipe_new .add_to_blog {padding-bottom: 10px;}
.recipe_new .add_to_blog span{font-size: 115%;font-weight: bold;color: #547017; border-bottom:  #547017 dashed 1px;cursor: pointer; cursor: hand;}
.recipe_new .add_to_blog_hid {display: none;}

.recipe_new .add_to_ext_fav {font-size: 95%; padding: 10px 0;}
.recipe_new .add_to_ext_fav img{}
.recipe_new .add_coment {font-size: 115%;font-weight: bold;}

.recipe_new .annonce .content table{width: 70%;}
.recipe_new .annonce .content table td{text-align: left;font-size: 90%;}
.recipe_new .annonce .bottom_shadow_l_2{background-color:transparent;}
.recipe_new .annonce .bottom_shadow_2{height:11px; background:url('/images/common/annonce_bottom_shadow2.png') transparent right top no-repeat;}

.recipe_new .comments_bar {background: #f0efd4; width: 100%; height: 32px; padding-top: 5px; margin-top: 10px; margin-bottom: 10px;}
.recipe_new .comments_bar .link{font-size: 115%; font-weight: bold; margin-left: 7px;}

#navi_bar_box {height: 41px;}
#nav_bar .nav_table {width: 100%; height: 30px;}
#nav_bar .nav_table td {vertical-align: middle; text-align: center; padding: 0 2px;}
#nav_bar .nav_table td .arrow {display: none;width: 7px; height: 8px;color: white; font-size: 13px; font-weight: bold;margin-top: 1px;}
#nav_bar .nav_table td .arrow td {background:url('/images/common/annonce_green_ico_v3_v.gif?v=4') no-repeat; background-position:-31px 0;}
#nav_bar .nav_table td a.passive {font-weight: bold; font-size: 13px; color: #ecd39c; cursor: default; text-decoration: none;}
#nav_bar .nav_table td a {font-weight: bold; font-size: 12px;}
#nav_bar .nav_table td.link-active {background: #de8d08;}
#nav_bar .nav_table td.link-active a {color: white; text-decoration: none;}
#nav_bar .nav_table td.link-active .arrow {display: table; * display: block;}


#user_login_form_btn {margin-left: 10px;}
#user_login_form_btn span {font-size: 100%; font-weight: bold; color: #547017; border-bottom: #547017 dashed 1px; cursor: pointer;cursor: hand;}
#user_login_form_hid {display: none;}

.thanks_btn {width: 440px; margin-top: 10px;}
.thanks_btn .box {position:relative;width:240px;height:140px;}
.thanks_btn i{background:url('/images/common/annonce_green_ico_v3_h.gif') no-repeat;}
.thanks_btn i{position:absolute;width:100%;height:100%; }

.thanks_btn td {text-align: left;}
.thanks_btn .thanks {width: 61px; height: 61px; margin: 16px 0 0 40px;}
.thanks_btn .thanks i{background-position: 0 0; width: 61px; height: 61px; cursor: pointer; cursor: hand;}
.thanks_btn .no {width: 42px; height: 42px; margin: 26px 0 0 22px;}
.thanks_btn .no i{background-position: -61px 0; width: 42px; height: 42px; cursor: pointer; cursor: hand;}
.thanks_btn .see_error{background-position: -103px 0; width: 133px; height: 34px; cursor: pointer; cursor: hand;}

.thanks_btn .thanks_text{margin:5px 10px 0 10px; cursor: pointer; cursor: hand;}
.thanks_btn .no_text{margin:5px 10px 0 10px; cursor: pointer; cursor: hand;}
.thanks_btn td{vertical-align: top;}

.thanks_btn .res_you_are_welcome_text{display: none; padding: 55px 0 0 0; text-align: center; color: #D84C00; font-size: 130%;}
.thanks_btn .res_thanks_text{display: none; padding: 55px 0 0 0; text-align: center; color: #D84C00; font-size: 130%;}
.thanks_btn .res_loading{display: none; padding: 50px 0 0 0; text-align: center;}

.thanks_btn .see_error_td .see_error_div{padding: 30px 0 0 35px;}

.thanks_btn .see_error_input{padding: 10px 0 0 5px;}
.thanks_btn .see_error_input div {font-size: 90%; text-align: center; font-weight: bold;}
.thanks_btn .see_error_loading{padding: 30px 0 0 0; text-align: center;}
.thanks_btn .see_error_thanks_text{display: none; padding: 37px 0 0 0; text-align: center; color: #D84C00; font-size: 130%;}

.thanks_btn .see_error_td_no_thanks .see_error_div{padding: 2px; padding-left: 153px;}
.thanks_btn .see_error_td_no_thanks .see_error_loading{padding-top: 5px;}
.thanks_btn .see_error_td_no_thanks .see_error_thanks_text{padding-top: 12px;}
.bookmarks_page .tag_name {font-size: 120%; padding: 15px 0 5px 0; color: #EB9000;}
.rcp_list_new_label {color: #D84C00;font: bold 9px/15px Verdana,Arial,sans-serif;vertical-align: top;}

#recommend_block .content{
	/*background-color: #84A63A;*/
	background:rgba(132,166,58,.95);
}

.recipe_list_new {}
.recipe_list_new .header{text-align: right; margin: 10px 0; }

.recipe_list_new .count{font-size:80%;text-align:right;vertical-align:bottom;}
.recipe_list_new .count_top{vertical-align:top;padding-top:9px;}

.recipe_list_new .recipe_l {margin: 10px 0; padding: 10px; background-color: #FFFAF7;  border: 1px solid #F0E7DF; box-shadow:0 3px 5px #F0E7DF; border-radius: 3px;}

.recipe_list_new .recipe_l .foto {float:left; width: 200px; text-align: center; padding:0 20px 0 0;}

.recipe_list_new .recipe_l .foto img.round {
	border-bottom-left-radius: 15em 1em;
	border-top-right-radius: 15em 1em;
}
.recipe_list_new .recipe_l .foto img.shadow {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
	box-shadow: inset 0 0 2px rgba(0,0,0,.7), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.5), 0 1px 3px rgba(0,0,0,.4);
}

.recipe_list_new .recipe_l .title{font-size: 130%;}
.recipe_list_new .recipe_l .title a{text-decoration: none;}
.recipe_list_new .recipe_l .title a:visited{color: #000000;}
.recipe_list_new .recipe_l .title a:hover{color: #ff4500;}
.recipe_list_new .recipe_l .new_label {color: #D84C00;font: bold 9px/15px Verdana,Arial,sans-serif;vertical-align: top;}

.recipe_list_new .recipe_l .announce{padding-top: 10px;}
.recipe_list_new .recipe_l .ingr_str{font-size: 80%; color: #585858}

.recipe_list_new .recipe_l.v1 .title a{color: #000000;}
.recipe_list_new .recipe_l.v1 .title a:visited{color: #555555;}
.recipe_list_new .recipe_l.v1 .title a:hover{color: #ff4500;}

.recipe_list_new .recipe_l.v2 .title a{color: #D84C00;}
.recipe_list_new .recipe_l.v2 .title a:visited{color: #b13652;}
.recipe_list_new .recipe_l.v2 .title a:hover{text-decoration: underline;}
.recipe_list_new .recipe_l.v2 .new_label {color: #7BA033;}

.recipe_list_new .recipe_l.v2_1 .title a{font-family: 'Marmelad', Arial, sans-serif;}

.recipe_list_new .recipe_l.v2_2 .title{margin-top: -5px;}

.recipe_list_new .recipe_l.v2_3 .title{font-weight: bold;}
.recipe_list_new .margin_to_rcp{margin-left: 220px;}
#facebox .b {
  background:url(/facebox/b.png);
}

#facebox .tl {
  background:url(/facebox/tl.png);
}

#facebox .tr {
  background:url(/facebox/tr.png);
}

#facebox .bl {
  background:url(/facebox/bl.png);
}

#facebox .br {
  background:url(/facebox/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

