body { 
   margin: 0px; 
   padding: 0px; 
   color: #303030; 
   font:bold 15px Arial; 
   background-color:#014E82;
   direction:rtl; 
   }
a { 
  color: #303030; 
  text-decoration: none; 
  }
a:hover { 
color: #0054CB; 
text-decoration: none; 
}
p { 
 margin: 0px; padding: 0; }
img { border: none; }

ul { margin: 0 auto; padding: 0; }
ul li { margin: 0 auto; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.float_l { float: left; }
.float_r { float: right; }

.btn_more a { display: block; width: 82px; height: 22px; padding-top: 1px; color: #492545; text-align: center; text-decoration: none; background: url(http://static.hibapress.com/templates/Pink/images/btn_more.png) no-repeat; }
.btn_more a:hover { color: #fff; }

#templatemo_body_top { 
       width: 1000px; 
	   margin: 0 auto 0 auto;
	   
	   }
#templatemo_body_bottom { 
	  background-color:#014E82;
	  width: 1000px; 
	  margin: 0 auto 0 auto;
	  }

#templatemo_wrapper { 
    width: 1000px; 
	margin: 0 auto 0 auto;
	 
	}
#templatemo_header { 
      height: 110px; 
	  width: 1000px; 
	  text-align: center;
	  background: #fff;
	  }
#site_title { padding-top: 10px; }
#site_title h1 { margin: 0; padding: 0; }
#site_title a { margin: 0px; padding: 0px; font:normal 40px arial, Arial; color: #371233; text-decoration: none; }
#site_title a strong { color: #fff; }
#site_title a span { display: block; font:normal 14px Arial,arial; color: #fff; font-weight: normal; margin-top: 10px; }
#site_title img { 
   border:none; 
   float:right;
   padding:0px 20px 0px 40px;
   }

 
.nav {
height: 30px; 
width: 1000px;
background-color:#064e8d;

}  
.nav ul  li { 
    float: left;
    height: 30px;
    list-style-type: none;
    margin: 4px 10px;
	color:#fff;
}
.nav ul  li a{ 
	color:#fff;
	vertical-align:middle;
}
.flag{
float:right;
margin: -25px 5px 0px 0px;

}
#header-ad {
display:block;
float:left;
width:728px;
height:90px;
margin:5px 0 0 20px;
border:none;
}

#templatemo_menu {
 clear: both; 
 width: 1000px; 
 height:auto; 
 padding: 0px; 
 background-color: #FFFFFF;
 }
/*
#templatemo_menu ul { margin: 0; padding: 0; list-style: none; }
#templatemo_menu ul li { padding: 0; margin: 0; display: inline-block; }
#templatemo_menu ul li a { float: left; display: block; font:normal 14px Arial, arial; width: 110px; height: 35px; padding: 10px 0 0 0; color: #666; text-decoration: none; text-align: center; outline: none; }
#templatemo_menu ul li a:hover, #templatemo_menu ul .current { color: #492545; background: url(images/templatemo-menu-hover.jpg) repeat-x; }
*/
#templatemo_main_wrapper_01 { background: url(http://static.hibapress.com/templates/Pink/images/templatemo-content-top.png) no-repeat top; }
#templatemo_main_wrapper_02 { 
     padding-bottom: 0px; 
	 background:none; 
	 }
#templatemo_main_wrapper_03 { 
     width: 1000px;
	 margin: 0px auto;
	 background: #fff; 
	 }

#templatemo_main p { margin-bottom: 0px; }

#templatemo_main .right { width: 200px; margin: 0 auto; padding: 0; float:right; }
#templatemo_main .left { width: 200px; margin: 0 auto; padding: 0; float:left; }
#templatemo_main .center { width: 500px; margin: 0 auto; padding: 0; }

#templatemo_main .rightcategory {
     width: 300px; 
	 margin:0 auto; 
	 padding: 1px 0px 0 5px; 
	 float:left;
	 }
#templatemo_main .blockiframe {
	 border:2px solid #dddddd;
     width: 120px; 
	 margin:0 2px; 
	 padding: 0 0px 0 11px; 
	 float:right;
	 text-align:center;
	 }	 
#templatemo_main .leftcategory { 
      width: 548px; 
	  margin: 0; 
	  padding: 1px 0px 0px 5px;  
	  float:left; 
	  }

#templatemo_main .righthome1 { 
     width: 300px; 
	 margin: 0 auto; 
	 padding: 0 2px 0 0; 
	 float:right;
	 }
#templatemo_main .righthome2 {  
     width: 300px; 
	 margin: 2px auto; 
	 padding: 0 0px 0 5px; 
	 float:left;
	 }
#templatemo_main .lefthome { 
     width: 690px; 
	 margin: 2px auto;
     padding: 0px; 
	 float:left;

	 }


#templatemo_footer {
      clear: both; 
	  width: 1000px; 
	  text-align: center; 
	  color: #fff; 
	  margin: 0 auto;
	  background-color: #0054CB; 
	  }
#templatemo_footer a { 
     color: #fff;
	 font: bold 16px Arial;
	 }
.fotmil{
clear: both; 
width: 1000px; 
text-align: center;
}

.fott{
clear: both; 
width: 990px;
text-align: center;
}
.fott ul li  {
   padding:4px;
  display:inline;
  border-left:1px solid #fff;
 
}

.fott a:hover{
    text-decoration:none;
}

select,input,textarea { padding: 7px; margin: 3px; border:1px solid #e5e1e3; font: normal 12px Arial, sans-serif; color:#333333; background-color: #f8f7f7; }
input.button { margin: 0; font: normal 12px Arial; border: 1px solid #889BBC; background: #FFF; padding: 3px 2px; margin: 5px 0 3px 0;	color: #333; }

.xtable { width:100%; padding: 1px; font: normal 12px Arial, Sans-Serif; color: #333; border: 1px solid #e5e1e3; border-collapse: collapse; }
.xtr { border: 1px solid #e5e1e3; margin: 5px; padding: 5px; background-color: #f8f7f7; }
.xtr input.checkbox { float:right; border: none; margin-left: 5px; padding: 0px; }
.xtd { border: 1px solid #e5e1e3; margin: 5px;	padding: 5px; background: #FFF; text-align:right; }
.xtd span { font: normal 10px Arial, Sans-Serif; }
td:hover.xtd { background: #fff; }

/* start menu.htm */
.menu_x { 
     width: 300px; 
	 margin: 0 0 7px 0;
	 padding: 0;
	 }
.menu_x h1{ 
     
	  padding:7px; 
	  margin: 0; 
	  font: bold 16px Arial; 
	  color: #fff; 
	  text-align:center;
	  background: url(http://www.hibapress.com/templates/Pink/images/m.png) right repeat-x; 
	   }
.menu_x div.text { 
      border-bottom-left-radius: 0px; 
	  border-bottom-right-radius: 0px;
	  font: normal 12px Arial; 
	  background-color:#fff; 
	  color: #505050; 
	  border:2px solid #DDDDDD; 
	  border-top:none;
	  margin: 0; 
	  padding: 3px; 
	  line-height:18px; 
	  }
.menu_x a {	color:#303030; font: bold 15px Arial, Sans-Serif; }
.menu_x a:hover { text-decoration: none; color:#606060; }
.menu_x ul {
     clear: both; 
	 line-height: 1.7;
	 padding-bottom: 10px;
	 margin:0; 
	 }
.menu_x ul li { 
      list-style-type: none;
	  margin: 2px 2px 2px 2px;
	  }
.menu_x ul ul { margin: 0; padding: 0 0 1px 0; border-top: none; }
.menu_x ul ul li { border: none; margin-right: 15px; }
.menu_x select { width:185px; padding:5px; margin:0; }
/* end menu.htm */


/* start table.htm */
.menu_xt { margin: 0; padding: 0; }
.menu_xt h1{ 
     border-top-left-radius: 0px;
	 border-top-right-radius: 0px; 
	 padding:7px 7px 7px 0; 
	 margin: 0;
	 font: bold 16px Arial; 
	 color: #fff; 
	 background: url(http://static.hibapress.com/templates/Pink/images/m2.png) repeat-x; 
	 text-align:center;
	 }
.menu_xt h1 a{ color: #fff; }
.menu_xt a { color:#606060; font: normal 12px Arial, Sans-Serif; }
.menu_xt a:hover { 
  text-decoration: none; 
  color:#505050; 
  }

.menu_xt ul { 
    line-height: 1.7; 
	padding-bottom: 2px; 
	margin: 5px; 
	list-style-image: url(http://static.hibapress.com/templates/Pink/images/list.png);
	}
.menu_xt ul li { 
     list-style-type: none; 
	 margin: 5px 20px 5px 3px; 
	 }
.menu_xt ul ul { margin: 0; padding: 0 0 1px 0; border-top: none; }
.menu_xt ul ul li { border: none; margin-right: 15px; }


.divv { 
      border-bottom-left-radius: 0px; 
	  border-bottom-right-radius: 0px; 
	  background-color:#fff; 
	  color: #505050; 
	  border:2px solid #DDDDDD;
	  border-top:none;
	  margin: 0 0 7px 0;
	  padding: 10px; 
	  text-align:justify; 
	  font: bold 15px Arial; 
	  line-height:20px; 
	  }

	
.divv ul li { 
    line-height: 1.7; 
	padding-bottom: 2px; 
	margin: 5px; 
	list-style-image: url(http://static.hibapress.com/templates/Pink/images/list.png);
	}	
.divv ul li a { 
	font:bold 15px arial;
    color:#303030;
	}	
	
.divv p{ 
       
	  color: #505050; 	   
	  text-align:center; 
	  font: bold 15px Arial; 
	  }
.divv p a{ 
       
	  color: #0054cb; 	   
	  text-align:center; 
	  font: bold 15px Arial; 
	  }	  
.tt { text-decoration: none; font: normal 12px Arial; }


.detailsinfo { 
      padding: 0; 
	  margin: 0; 
	  text-align:center;

	  }
/* end table.htm */

/* Start News View */
.articles { 
       margin: 0px ; 
	   padding: 0px; 
	   border-bottom:1px dashed #0054CB;
	   height:150px;
	   }
.articles h2 { 
       padding:9px 0 8px 0; 
	   margin: 0 0 3px 0;
	   font: bold 16px Arial; 
	   color: #080888;
	   }
.articles h2 a { 
       padding:9px 0 8px 0; 
	   margin: 0 0 3px 0; 
	   font: bold 16px Arial; 
	   color: #080888;
	   }
.articles a { 
       color: #0054CB; 
	   font: bold 15px arial; 
	   }
.articles a:hover { 
       text-decoration: none; 
	   color:#ef1c1c; 
	   }
.articles div.text { 
       padding:0px; 
	   margin:0px; 
	   color: #303030; 
	   font: bold 15px arial ;
	   text-align:justify;
	   
	   }
	   
.articles div.text h2 {
  color:#333333;
  font-family:Arial;
  font-size:18px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:normal;
  margin:0 210px 3px 0;
  padding:9px 0 8px;
}	   
.articles div.details {
  font:bold 15px arial;
  padding:0 210px 0 0;
}	   
.articles div.info { 
       width:415px; 
	   padding:0 0 5px 0; 
	   margin-bottom:10px; 
	   color: #303030; 
	   font: bold 15px arial; 
	   }
.articles img.thumb { 
          width:200px; 
		  height:132px;
		  padding: 4px 0px 0px 0px;
		  margin:4px 0px 0px 0px;
		  border: none; 
		  float:right; 
		  }

.news { margin: 0; padding: 0; }
.news h2 { padding:5px 0 10px 0; margin: 0 0 3px 0; font: bold 15px Arial; color: #080888; }
.news p {
     font:bold 17px arial;
	 color:#303030;
	 width:100%;
	 padding:0;
	 margin: 0px 0px 5px 0px;
	 direction: rtl; 
	 line-height: 150%;
	 text-align: justify;
	 text-indent: 8px;
	 }

.news a { 
   color: #0054CB; 
   font: bold 15px arial ;

   }
.news a:hover { text-decoration: none; color:#303030; }

.news div.text { 
   padding:5px; 
   margin:0; 
   color: #505050; 
   font: bold 15px  Arial; 
   line-height:22px; 
   text-align:justify; 
   }


.news div.info { 
	   padding:0 0 5px 0; 
	   margin:20px 0px 30px 0px; 
	   color: #303030; 
	   font: bold 17px Arial;
	   text-align:center;

	   }
.news div.image4details {
     padding: 0; 
	 margin: 0; 
	 float:left; 
	 }
.news div.image4details { 
   max-width:400px; 
   max-height:400px; 
   padding: 0px;
   margin:0 7px 0 0; 
   
   border: none; }
.news div.image4details img {
  border:1px solid #CCCCCC;
  float:left;
  margin-left:28px;
  padding:6px;
 
}

.new_fem_border {
      border:1px solid #dddddd; 
	  background-color:#f1f1f1;
	  width:120px;
	  }
.new_femme {
      width:110px;
	  padding: 1px; 
	  margin: 2px;
	  float:center; 
	  }
.new_femme h2 {padding-bottom: 5px;margin-top: 5px;text-align: center;}
.new_femme h2 a {font-family: "Simplified Arabic",arial,"Times New Roman",sans-serif; line-height: 130%; font-size: 15px;font-weight: bold; color: #040404; }
.new_femme h2 a :hover {color:#FFAC1F}
.new_femme img.image {
      width:110px; 
	  height:90px;
	  padding: 1px; 
	  margin:1px; 
	  border: none;
	  float:center;
	  }

.more{
     float:left;
	 padding-left:20px;
	 margin-top:-30px
	 }
.more a{
     color:red;
	 font-size:15px;
	 font-weight: bold;
	 }
.more :hover{
     color:#0054CB;
	 
	 }	 
.mainspost {
     margin:3px;
	 width: 669px;
	 overflow: hidden;
	 text-align:justify;
	 }	 
.mainspost h3 {
     font: bold 14pt arial;
	 margin: 10px 0 0 0;
	 padding-right:10px
	 }
.mainspost p {
   font: bold 13pt arial; 
   color: #040404;	
   margin:0;
   line-height: 150%;
   text-align:justify;
	 }
.mainspost img {
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }
.mainspost:hover{
   background-color:#F0F0F0;
}	 
.boxx0 {

     padding: 0px ;
	 width: 548px;
	 overflow: hidden;
	 }

.boxx0 h2 {
     font: bold 15pt arial;
     background: #0054CB;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
    }
.boxx0 h2 a{color: #fff;}
.boxx0 h3 a{color: #0054CB;}
.boxxx0 {
  border: 1px solid #0054CB;
  
  }
.boxitbleu h2 {
     font: bold 15pt arial;
     background: #0054CB;
     width:120px;
     text-align: center;
     padding: 3px 0;
	 color: #fff;
    }

.mainspost0 {
     margin:3px;
	 width: 537px;
	 overflow: hidden;
	 text-align:justify;

	 }
.mainspost0 h3 {
     font: bold 14pt arial;
	 margin: 5px 0px;
	 padding-right:10px
	 }
.mainspost0 p {
    font: bold 13pt arial; 
   color: #040404;	
   margin:0;
   line-height: 150%;
   }
.mainspost0 img {
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }	 
.boxx1 {

     padding: 0px;
	 width: 548px;
	 overflow: hidden;
	 }

.boxx1 h2 {
     font: bold 15pt arial;
     background: #f01d1d;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
    }
.boxx1 h2 a{color: #fff;}
.boxx1 h3 a{color: #f01d1d;}
.boxxx1 {
  border: 1px solid #f01d1d;
  
  }
.boxitred h2 {
     font: bold 15pt arial;
     background: #f01d1d;
     width:120px;
     text-align: center;
     padding: 3px 0;
	 color: #fff;
    }
.mainspost1 {
     margin:3px;
	 width: 538px;
	 overflow: hidden;
	 text-align:justify;
	 }
	 
.mainspost1 h3 {
     font: bold 14pt arial;
	 margin: 5px 0px ;
	 padding-right:10px
	 }
.mainspost1 p {
    font: bold 13pt arial; 
   color: #040404;	
   margin:0;
   line-height: 150%;
   }	
.mainspost1 img {
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }   
/* begin box slide */	 
.boxslide {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 
	 }
.boxslide h2 {
     font: bold 15pt arial;
     background: #09acb2;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxslide h2 a{color: #fff;}
.boslide {
	  border:1px solid #09acb2;

}
/* end box slide */	 
.boxx3 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx3 h2 {
     font: bold 15pt arial;
     background: #15872b;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx3 h2 a{color: #fff;}
.boxx3 h3 a{color: #15872b;}
.boxxx3 {
	  border:1px solid #15872b;
	  border-left:1px solid #15872b;
	  
	  }
.itemspost3 {
     float: right;
	 text-align:center;
	 width: 135px;
	 height:auto;
	 padding:12px;
	 margin:0px 3px 3px 3px;
	 cursor:pointer;
	 }
.itemspost3 img {
     
	 width: 135px;
	 height:90px;
	 
	 }	 
.itemspost3:hover {
     background-color: #F0F0F0;
	 }
.itemspost3 h3{
     margin-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.itemspost3 h3 a{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#000; 
	  }
	  
.boxx5{
     padding: 5px 0px 5px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx5 h2 {
     font: bold 15pt arial;
     background: #15446f;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx5 h2 a{color:#fff;}
.boxx5 h3 a{color:#15446f;}
.boxxx5 {
     border:1px solid #15446f;
	 }
.mainspost5 {
     margin:3px;
	 width: 325px;
	 overflow: hidden;
	 
	 }	
 

.mainspost5 h3 {
     font: bold 11pt arial;
	 margin: 5px 0 0 0;
	 padding-right:100px;
	 }
.mainspost5 p {
     font: bold 15px arial;
	 margin:0;
	 line-height: 140%;
	 color: #040404;
	 padding-right:100px;
	text-align:justify;

	 }
.mainspost5 img {
     float: right;
	 width: 135px;
	 height:90px;
	 margin: 4px;
	 border: 0px solid #C5C5C5;
	 }	 
.itemspost5 {
     float: right;
	 text-align:center;
	 width: 120px;
	 height:auto;
	 padding:5px;
	 margin:0px 3px 3px 3px;
	 cursor:pointer;
 
	}
.itemspost5:hover {
     background-color: none;
	 }
.itemspost5 h3{
     margin-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.itemspost5 h3 a{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#000; 
	  }
.mainspost11 {
     margin:3px;
     width:667px;
	 overflow:hidden;
	 text-align:justify;
     border:1px dashed #999;
	 background-color: #F0F0F0;
	 }
	 
.mainspost11 h3 {
     font: bold 18px arial;
	 margin: 10px 0 0 0;
	 padding-right:210px;
	 text-align:justify;

	 }
.mainspost11 p {
     font: bold 16px arial;
	 margin:0;
	 line-height: 150%;
	 color: #040404;
	 }
.mainspost11 img {
     float: right;
	 border: 1px solid #C5C5C5;
	 margin:5px;
	 }

.boxx6 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx6 h2 {
     font: bold 15pt arial;
     background: #eab81e;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx6 h2 a{color: #fff;}
.boxx6 h3 a{color: #062DB0;}
.boxxx6 {
	  border:1px solid #eab81e;
	  
	  }
.itemspost6 {
     float: right;
	 text-align:center;
	 width: 135px;
	 height:auto;
	 padding:12px;
	 margin:0px 3px 3px 3px;
	 cursor:pointer;
	 }
.itemspost6 img {
     
	 width: 135px;
	 height:90px;
	 
	 }	 
.itemspost6:hover {
     background-color: #F0F0F0;
	 }
.itemspost6 h3{
     margin-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.itemspost6 h3 a{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#000; 
	  }	 
.mainspost6 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 border-bottom:1px dashed #ddd;
	 }	
 
	 
.mainspost6 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px
	 }

.mainspost6 img {
     width:100px;
     height:60px;
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }
	 
.boxx7 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx7 h2 {
     font: bold 15pt arial;
     background: #6c0782;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx7 h2 a{color: #fff;}
.boxx7 h3 a{color: #6c0782;}
.boxxx7 {
	  border:1px solid #6c0782;
}	  
.mainspost7 {
	 padding:0px ;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 border-bottom:1px dashed #ccc;
	 }	
 
	 
.mainspost7 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px
	 }

.mainspost7 img {
     width:100px;
     height:60px;
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }	
.mainspost77 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 }	
 
	 
.mainspost77 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px;
	 text-align:center;
	 }

.mainspost77 img {
     width:240px;
     height:150px;
     float: right;
	 margin: 4px 40px;
	 border: 1px solid #C5C5C5;
	 }	 
.mainspost77 p {
     font: bold 15px arial;
	 line-height: 150%;
	 text-align:justify;
	 padding:10px 10px 10px 0px;
	}
.boxx8 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx8 h2 {
     font: bold 15pt arial;
     background: #ec520e;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx8 h2 a{color: #fff;}
.boxx8 h3 a{color: #ec520e;}
.boxxx8 {
	  border:1px solid #ec520e;
}
.mainspost8 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 }	
 
	 
.mainspost8 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px;
	 text-align:center;
	 }

.mainspost8 img {
     width:240px;
     height:150px;
     float: right;
	 margin: 5px 30px;
	 border: 1px solid #C5C5C5;
	 }
.box8ul ul li {
     width:300px;
	 margin: 10px 10px 10px 0px;
	 text-align:jutify;
	 font: bold 13pt arial;
	 line-height: 110%; 
	 }	
.morecat {
     width:300px;
	 text-align:center;
     margin: 10px 10px 10px 10px;
	 padding:6px;
	 background: #ec520e;
	 border-radius:6px;
	 cursor:pointer;
}	
.morecat:hover {
     width:300px;
	 text-align:center;
     margin: 10px 10px 10px 10px;
	 background: #0054CB;
	 border-radius:6px;
	 cursor:pointer;

}

.morecat a {
	 font: bold 15pt arial;
     color:#fff;
}

.mazid {
     width:510px;
	 text-align:center;
     margin: 10px 10px ;
	 padding:6px;
	 background: #0054cb;
	 border-radius:6px;
	 cursor:pointer;
}	
.mazid:hover {
     width:510px;
	 text-align:center;
     margin: 10px 10px;
	 background: #2693FF;
	 border-radius:6px;
	 cursor:pointer;

}
.mazid a {
	 font: bold 15pt arial;
     color:#fff;
}

.mazid2 {
     width:510px;
	 text-align:center;
     margin: 10px 10px ;
	 padding:6px;
	 background: #f01d1d;
	 border-radius:6px;
	 cursor:pointer;
}	
.mazid2:hover {
     width:510px;
	 text-align:center;
     margin: 10px 10px;
	 background: #00698C;
	 border-radius:6px;
	 cursor:pointer;

}
.mazid2 a {
	 font: bold 15pt arial;
     color:#fff;
}

.mazid3 {
     width:650px;
	 text-align:center;
     margin: 10px 10px ;
	 padding:6px;
	 background: #6c0782;
	 border-radius:6px;
	 cursor:pointer;
}	
.mazid3:hover {
     width:650px;
	 text-align:center;
     margin: 10px 10px;
	 background: #00D9A3;
	 border-radius:6px;
	 cursor:pointer;

}
.mazid3 a {
	 font: bold 15pt arial;
     color:#fff;
}

.mazid4 {
     width:650px;
	 text-align:center;
     margin: 10px 10px ;
	 padding:6px;
	 background: #15872b;
	 border-radius:6px;
	 cursor:pointer;
}	
.mazid4:hover {
     width:650px;
	 text-align:center;
     margin: 10px 10px;
	 background: #8C6900;
	 border-radius:6px;
	 cursor:pointer;

}
.mazid4 a {
	 font: bold 15pt arial;
     color:#fff;
}

.mazid5 {
     width:650px;
	 text-align:center;
     margin: 10px 10px ;
	 padding:6px;
	 background: #15446f;
	 border-radius:6px;
	 cursor:pointer;
}	
.mazid5:hover {
     width:650px;
	 text-align:center;
     margin: 10px 10px;
	 background: #FF8000;
	 border-radius:6px;
	 cursor:pointer;

}
.mazid5 a {
	 font: bold 15pt arial;
     color:#fff;
}
.boxx9 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx9 h2 {
     font: bold 15pt arial;
     background: #223645;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx9 h2 a{color: #fff;}
.boxx9 h3 a{color: #062DB0;}
.boxxx9 {
	  border:1px solid #223645;
	  
	  }
.itemspost9 {
     float: right;
	 text-align:center;
	 width: 135px;
	 height:auto;
	 padding:12px;
	 margin:0px 3px 3px 3px;
	 cursor:pointer;
	 }
.itemspost9 img {
     
	 width: 135px;
	 height:90px;
	 
	 }	 
.itemspost9:hover {
     background-color: #F0F0F0;
	 }
.itemspost9 h3{
     margin-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.itemspost9 h3 a{
      font: bold 15px arial; 
	  line-height: 130%; 
	  color:#000; 
	  }	 
.mainspost9 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 border-bottom:1px dashed #ddd;
	 }	
 
	 
.mainspost9 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px
	 }

.mainspost9 img {
     width:100px;
     height:60px;
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }	
.boxx10 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx10 h2 {
     font: bold 15pt arial;
     background: #434543;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx10 h2 a{color: #fff;}
.boxx10 h3 a{color: #434543;}
.boxxx10 {
	  border:1px solid #434543;
	  
	  }	 
	  
.boxx11 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx11 h2 {
     font: bold 15pt arial;
     background: #006D80;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx11 h2 a{color: #fff;}
.boxx11 h3 a{color: #006D80;}
.boxxx11 {
	  border:1px solid #006D80;
}
.mainspost111 {
	 padding:0px;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 }	
 
	 
.mainspost111 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px;
	 text-align:center;
	 }

.mainspost111 img {
     width:300px;
     height:200px;
     float: right;
	 margin: 9px 10px 9px 0px;
	 border: 1px solid #C5C5C5;
	 }
	
.morecat11 {
     width:300px;
	 text-align:center;
     margin: 10px 10px 10px 10px;
	 background: #006D80;
	 border-radius:6px;
	 cursor:pointer;
}	
.morecat11:hover {
     width:300px;
	 text-align:center;
     margin: 10px 10px 10px 10px;
	 background: #C9001A;
	 border-radius:6px;
	 cursor:pointer;

}
.morecat11 a {
	 font: bold 15pt arial;
     color:#fff;
}
	  
/*	  
.new_videos.play 	{
    background-image:url(http://static.hibapress.com/templates/Pink/images/play.png) no-repeat scroll 0pt ;
 
}	
*/  
.new_videos {
      width:136px; 
	  height:145px; 
	  padding: 0; 
	  margin: 0px 4px 5px 4px;
	  float:right; 
	  }
.new_videos:hover {
     background-color: none;
}
.new_videos h2 {
     padding-bottom: 5px;
	 margin-top: 5px;
	 text-align: center;
	 }
.new_videos h2 a {
      font: bold 15px arial; 
	  line-height: 130%; 
	  color: #040404; 
	  }
.new_videos img.image {
  
      height:90px;
      width:135px;
	  padding: 0px; 
	  border: none;
	  }
.new_videos img.play {
  
      height:40px;
      width:40px;
	  border: none;
      margin:-70px 50px 30px;
     padding:0px;
	 opacity:0.4;
     filter:alpha(opacity=40);
	  }	 
.new_videos img.play:hover {
	 opacity:1.0;
     filter:alpha(opacity=100)
	  }	  
.new_videos img.play2 {
  
      height:77px;
      width:77px;
	  border: none;
      margin:-88px 35px 12px;
     padding:0px;
	 opacity:0.4;
     filter:alpha(opacity=40);
	  }	
.new_videos img.play2:hover {
	 opacity:1.0;
     filter:alpha(opacity=100)
	  }	  
.sidebarr {
	 font: bold 15px Arial; 
	 list-style-type: none;
	 padding:10px 0px;
	 text-align:justify;
     margin:0 auto;
	 width:289px;	
	 }
.sidebarr img {
      float: right; 
	  padding-left:15px;
	  }	  

.sidebarr.link {
     padding-right:15px;
	 }
.link img {
    float:right;
   margin:1px 10px 2px 2px;
	 }		

.sidebarrk {
     min-height: 80px;
	 font: bold 15px Arial; 
	 list-style-type: none;
	 padding:1px 0px 0px 0px;
	 text-align:justify;
     margin:0 auto;
	 width:250px;	
	 }
.sidebarrk img {
      float: right; 
	  padding-left:8px;
	  }	  

.sidebarrk.link {
     padding-right:10px;
	 }

	 
.sidebarr2 {
     min-height: 80px;
	 font: bold 15px Arial; 
	 border: 1px solid #999999;
	 background-color:#f0f0f0;
	 list-style-type: none;
	 padding:2px 4px 0px 0px;
	 text-align:justify;
	 width:282px;
	 }
.sidebarr2 img {
      float: right; 
	  padding-left:8px;
	  }

.sidebarr2.link {
     padding-right:10px;
	 }
 
	 
.fb-like {
	margin:2px 40% 2px 30px;
	padding:2px;
	text-align:center;
}
	  
/* End News View */

/* Start comment */
.box { 
     margin:10px 0 0 0; 
	 padding:10px 0 10px 0; 
	 background-color: #FFF; 
	 border:none; 
	 text-align:center; 
	 }
.box h2 { margin:0; padding:3px 5px 10px 0; font: bold 20px arial; }
.box input.xxx { 
     padding: 6px; 
	 margin: 4px; 
	 border:1px solid #0054CB; 
	 width:400px; 
	 font: bold 15px Arial; 
	border-radius:6px;
	background-color:#fff;

	 }
.box textarea { 
       padding: 6px; 
	   margin: 4px; 
	   border:1px solid #0054CB;
	   width:400px; 
	   font: bold 15px Arial;
	   border-radius:6px;
	   	background-color:#fff;

	   }
.box input.bbb { 
     padding: 6px;
	 margin: 4px; 
	 width:60px; 
	 border:1px solid #0054CB;
	 font: bold 15px Arial; 
	 background-color: #FFF; 
	 }
	 .box input.bbb:hover { 
	 border:1px solid #0054CB;
	 font: bold 15px Arial;
     color:#fff;	 
	 background-color: #0054CB; 
	 }
.box input.sss { 
     padding: 6px;
	 margin: 4px ; 
	 border:1px solid #0054CB; 
	 width:90px; 
	 font: bold 15px Arial;
	 background-color:#fff;

	 }

.comment { 
    font: bold 15px Arial; 
	color: #303030; 
	margin: 0;
	padding: 10px 0 0 0; 
	line-height:21px; 
	}
.comment h2 { margin:0; padding:10px 0 15px 0; font: bold 20px arial; text-align:center;}
.commenttext { 
	 background-color:#dddddd; 
	 border-radius:6px;
	 margin: 0 0 15px 0; 
	 padding: 0; 
	 }
.commenttext h3 { 
      border-bottom:1px dashed #303030; 
	  height:32px; 
	  font: bold 14px Arial;
	  color: #303030; 
	  padding:4px;
	 margin: 3px; 
	  
	  }
.commenttext h3 span { padding:0 50px; margin:0; line-height:30px; }
.commenttext span.num {
    padding:0px; 
    color:red; 
    margin:0px; 
    background:#fff;
    border-radius:100%;
   width:1px;
   height:32px;
    position:absolute;
 }
 .commenttext span.num { padding:0 20px; color:red; margin:0px; line-height:30px; position:absolute; }

.commenttext span.date { float:left; font: bold 13px Arial; padding:5px 0 0 0; margin:0; }
.commenttext div { 
       color: #303030; 
	   padding:10px; 
	   margin:4px;
	   text-align:justify;
	   }
	/*  cimmentreply */
.reply { 
	 background-color:#afeaee; 
	 border-radius:6px;
	 margin: 0px 20px 8px 20px; 
	 padding: 0; 
	 border:1px solid #fff;

	 }
.reply h3 { 
      border-bottom:1px dashed #303030; 
	  height:32px; 
	  font: bold 14px Arial;
	  color: #303030; 
	  padding:4px;
	 margin: 3px; 
	  
	  }
.reply h3 span { padding:0 50px; margin:0; line-height:30px; }
.reply span.num {
    padding:0px; 
    color:red; 
    margin:0px; 
    background:#0054CB;
    border-radius:100%;
   width:1px;
   height:32px;
    position:absolute;
 }
 .reply span.num { padding:0 20px; color:#fff; margin:0px; line-height:30px; position:absolute; }

.reply span.date { float:left; font: bold 13px Arial; padding:5px 0 0 0; margin:0; }
.reply div { 
       color: #303030; 
	   padding:10px; 
	   margin:0;
	   text-align:justify;
	   }
/* End comment */

/* start contact.php */
#contact { 
      margin:0px; 
	  padding:0px; 
	  color:#303030; 
	  text-align:center;
	  }
#contact input.txt { 
       padding: 7px; 
	   margin: 0px; 
	   margin-bottom:15px; 
	   border:1px solid #0054CB;
	   border-radius:6px;
	   width:400px; 
	   font:bold 15px arial;
	  	background-color:#fff;
	   

	   }
#contact textarea.txt { 
       padding: 7px; 
	   margin: 0px 0px 6px 0px; 
	   border:1px solid #0054CB;
	   font:bold 15px arial;	   
	   border-radius:6px;	   
	   width:400px;
	   background-color:#fff;
	   
	   }
#contact input.sec { 
        padding: 6px; 
		margin: 10px 0px 40px 0px;
		border:1px solid #0054CB;
		font:bold 15px arial;	   
		background-color: #FFF;
		}
#contact input.send { 
       padding: 6px; 
	   margin: 4px 8px;
	   border:1px solid #0054CB;
       font:bold 15px arial;	   
	   background-color: #FFF; 
	   }
#contact input.send:hover{ 
       padding: 6px; 
	   margin: 4px 8px;
	   border:1px solid #0054CB;
       font:bold 15px arial;	   
	   background-color: #0054CB;
       color:#fff;	   
	   }	   
/* end contact.php */

/* Start pagination */
div.pagination { 
      padding: 0px;
	  margin: 10px; 
	  text-align:center; 
	  direction:ltr;
	  line-height:2;
	  }
div.pagination a { 
      padding: 2px 5px 2px 5px; 
	  margin: 2px; 
	  border: 1px solid #DDDDDD; 
	  text-decoration: none; 
	  font: bold 15px Arial;
	  color: #303030;
	  }
div.pagination a:hover, div.pagination a:active { 
       border: 1px solid #DDDDDD;;
	   color: #fff;
	   background-color: #0054CB;
	   font: bold 15px Arial;
	   }
div.pagination span.current { 
       padding: 2px 5px 2px 5px;	
	   margin: 2px; 
	   border: 1px solid #0054CB;
	   font: bold 15px Arial;
	   background-color: #0054CB; 
	   color: #fff;
	   }
div.pagination span.disabled { 
      padding: 2px 5px 2px 5px; 
	  margin: 2px; 
	  border: 1px solid #DDDDDD; 
	  color: #303030; 
	  font: bold 15px Arial; 
	  }
/* End pagination */

/* Rating Start */
.hover {
    width:32px; 
	height:32px; 
	background: url('img/star.png');
	z-index: 1000;
	}
.rating_v { 
    display: block;	
	margin: 10px 0 5px 0;
	position:relative; 
	left:0; 
	top:2px; 
	line-height:20px; 
	text-align:center;
	font: bold 16px arial; 
	color:#303030; 


	}
.rating_v img { 
      width:32px; 
	  height:32px; 
	  }
.rating_v span { 
    cursor: pointer; 
	width:32px;
	}

.rating_ok { 
    font: bold 16px arial; 
	color: #0054CB; 
	text-align:center; 
	}
.rating_error {	
   font: bold 16px arial; 
   color: #F01D1D; 
   text-align:center; 
   }
.error {
  text-align:center;

}
/* Rating End */

/* Start Add Post */
.add { margin: 0; padding-bottom:8px; padding-top:8px; text-align:center; }
.add img { border:none; }
.formadd { margin: 0; padding-bottom:8px; font: normal 12px Arial; text-align:right; }
/* End Add Post */

/* Start BBCODE Editor */
.button { border: 1px solid #e5e1e3; margin: 1px; padding: 2px; }
.button:hover { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); -moz-opacity: 0.6; }
/* End BBCODE Editor */

/* Start Poll */
.poll { 
    margin: 0;  
	padding-bottom:2px;
	text-align:right; 
	
	}
.poll p.d1 { 
   margin: 0; 
   padding:0; 
   font: bold 15px Arial;
  color:#040404;
   }
.poll img { border: none; height:10px; }
.poll input { 
   border:none;
   padding:10px;
   margin:5px;
   font: bold 17px Arial;
   color:#fff;
   background-color:transparent;

   }
 
.pollsub {
   text-align:center;
   border-radius:5px;  
   background-color:#C9001A;
}  
.pollsub:hover{
text-align:center;
   border-radius:5px;  
  background-color:#0054CB;
} 
   
.polltitle { 
  font: bold 15px Arial;
  color:#C9001A;
   margin: 0;  
   padding:10px 0px 10px 0px; 
   text-align:center; 
   }
/* End Poll */

.codx {	direction: ltr; text-align: left; border: 1px solid #551507; margin: 0; padding: 5px; background-color: #FCFEF4; display: block; overflow: auto; font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace; }
.quote { border: 1px solid #551507; margin: 0; padding: 5px; background-color: #FCFEF4; }

/* Start text sections */
.sectiontext { 
     padding:0; 
	 margin:0; 
}
.sectiontext .readmorelink { margin:0; text-align:center;  padding:5px 0 10px 0; }
.sectiontext .readmorelink h4 a { color: #505050; font: bold 20px arial, Arial; }
/* End text sections */

/* Start search form */
#search { margin:0; padding:10px; text-align:center; }
#search input.textinput { 
    width:170px; 
	padding: 4px; 
	margin: 0 0 10px 0; 
	border:1px solid #0054CB;
	font: bold 15px Arial; 
	color:#303030;
	background-color:#fff;
	}
#search input.submit { 
      width:32px; 
	  height:32px; 
	  padding: 0; 
	  margin: 0; 
	  border:0px solid #cccccc;
	  font: normal 12px Arial; 
	  color:#303030; 
	  background: url(http://static.hibapress.com/templates/Pink/images/search.png) no-repeat;
	  cursor:pointer;
	  }
/* End search form */

.iconstypefile {border:none; }
.searchlinks { margin:0; text-align:center; padding:5px 0 15px 0; }
.searchlinks span { color:red; }

/* Start Slider */
.cn_wrapper{ margin:0; margin-bottom:15px; width:475px; height:300px; position:relative; color:#fff; overflow:hidden; padding:5px; border:1px solid #111; background-color:#333; -moz-box-shadow:1px 1px 4px #222; -webkit-box-shadow:1px 1px 4px #222; box-shadow:1px 1px 4px #222; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.cn_wrapper h1{ font:bold 15px arial,Arial; color:#fff; }
.cn_wrapper h2{ font:normal 12px Arial,arial; color:#666; padding:0px; margin:0px; }
.cn_preview, .cn_list{ width:200px; height:300px; position:absolute; top:2px; right:3px; }
.cn_preview{ right:285px; }
.cn_content{ border:1px solid #444; top:310px;/*5*/ left:5px; width:250px; padding:10px; position:absolute; background-color:#101010; height:275px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.cn_content img{ width:200px; height:75px; border:none; margin-right:25px; margin-bottom:5px; }
.cn_date{ position:absolute; bottom:30px; left:8px; font-size:10px; }
.cn_category{ position:absolute; bottom:30px; right:8px; font-size:10px; padding:1px 3px; background:#e5e1e3; border:1px solid #ddd; color:#000; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.cn_content p{ height:120px; margin-top:2px; overflow:hidden; text-align:justify; }
a.cn_more{ position:absolute; padding: 4px 0px; left:0px; bottom:0px; width:267px; color:#333; text-align:center; font-size:11px; letter-spacing:1px; text-decoration: none; border:1px solid #e5e1e3; outline:none; cursor:pointer; background-color: #e5e1e3; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -border-bottom-left-radius: 5px; -border-bottom-right-radius: 5px; -moz-box-shadow:1px 1px 3px #111; -webkit-box-shadow:1px 1px 3px #111; }
.cn_item{ border:1px solid #333; cursor:pointer; position:relative; overflow:hidden; height:30px; color:#333; padding:7px 5px 0 5px; margin:3px 5px 0px 0px; background:#ffffff; -moz-box-shadow:1px 1px 3px #111; -webkit-box-shadow:1px 1px 3px #111; box-shadow:1px 1px 3px #111; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.cn_item:hover, .selected{ border-color:#333; background-color: #e5e1e3; }
.cn_item:hover p, .cn_list .selected p, .cn_item:active p{ border-color:#333; }
.cn_item:active { color: #333; }
.cn_list p{ height:29px; padding-top:2px; overflow:hidden; border-top:1px solid #333; }
.cn_nav{ width:55px; height:24px; position:absolute; bottom:0px; left:70px; }
a.cn_next, a.cn_prev{ float:left; height:23px; width:23px; background-color:#212121; background-repeat:no-repeat; background-position:center center; cursor:pointer; outline:none; border:1px solid #111; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 1px 1px 3px #000; -webkit-box-shadow: 1px 1px 3px #000; box-shadow: 1px 1px 3px #000; }
a.cn_next{ background-image:url(http://static.hibapress.com/templates/Pink/images/next.png); }
a.cn_prev{ margin-right:5px; background-image:url(http://static.hibapress.com/templates/Pink/images/prev.png); }
.cn_nav a:hover{ background-color:#101010; }
.cn_nav a:active{ margin-top:1px; background-color:#000; }
.cn_nav a.disabled{ opacity:0.5; }
.cn_page{ display:none; }
/* End Slider */

/* Start featured Slider */
#slider_content { width: 480px; padding: 5px; margin-bottom: 10px; }
#featured{ width: 240px; padding-right:240px; position:relative; height:250px; background:#fff; margin: 0 auto; }
#featured ul.ui-tabs-nav{ position:absolute; top:0; left:240px; list-style:none; padding:0; margin:0; width: 240px; }
#featured ul.ui-tabs-nav li{ padding:1px 0; padding-left:13px; font-size:12px; color:#666; }
#featured ul.ui-tabs-nav li img{ float:right; margin:2px 5px; background:#fff; padding:2px; border:1px solid #eee; width:80px; height:50px; }
#featured ul.ui-tabs-nav li span{ font-size:11px; font-family:Arial, Verdana; line-height:18px; }
#featured li.ui-tabs-nav-item a{ display:block; height:60px; color:#333; background:#fff; line-height:20px; text-decoration:none; }
#featured li.ui-tabs-nav-item a:hover{ background:#f2f2f2; }
#featured li.ui-tabs-selected{ background:url('http://static.hibapress.com/templates/Pink/images/content_slider/selected-item.gif') top left no-repeat; }
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ background:#ccc; }
#featured .ui-tabs-panel{ width:240px; height:250px; background:#f2f2f2; position:relative; }
#featured .ui-tabs-panel .info{ position:absolute; top:8px; right:0; height:70px; }
#featured .info h2{ font:bold 15px arial, serif; color:#333; padding:5px; margin:0; overflow:hidden; }
#featured .info p{ margin:0 5px 0 5px; font:normal Arial,Verdana; font-size:12px; line-height:20px; color:#333; text-align:justify; }
#featured .info p.more{ margin:0 auto; display: block; width: 82px; height: 22px; padding-top: 1px; margin-top:10px; color: #492545; text-align: center; text-decoration: none; background: url(http://static.hibapress.com/templates/Pink/images/btn_more.png) no-repeat; }
#featured .info p.category{ margin:0 auto; display: block; width: 82px; height: 22px; padding-top: 1px; margin-top:10px; color: #492545; text-align: center; text-decoration: none; border-bottom:1px solid #cccccc; }
#featured .info a{ text-decoration:none; color:#000; }
#featured .info a:hover{ text-decoration:underline; }
#featured .ui-tabs-hide{ display:none; }
/* End featured Slider */

/* news ticker */

.news_title a{
  cursor: pointer;
  text-decoration: none;
  font:bold 16px arial;
  float:right;
  color:#F01D1D;
  margin:0px 10px 0px 0px;
}
.hotnews a{
  cursor: pointer;
  text-decoration: none;
  font:bold 18px arial;
  float:right;
  color:#F01D1D;
  margin:0px 10px 0px 0px;
}
/* end news ticker */
/* footer */

/* comment vote */

.entry {
	width: 150px;
	-moz-border-radius:8px;
	text-align:left;
}

.entry span{
    font:bold 14px arial;
	color:#0054CB;
	margin:0px 0px 0px -20px;
}

span.link a {
	font-size:150%;
	color: #000000;
	text-decoration:none;
}

a.vote_up, a.vote_down {
	display: block;
	float: left;	
	background: #fff;
	text-decoration: none;
	background-image: url(http://static.hibapress.com/templates/Pink/img/sprite.png);
	background-repeat: no-repeat;
	font-weight: bold;
	margin-top:0px;
}

a.vote_up {
	background-repeat: no-repeat;
	background-position: 0 0;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	border-left: solid 1px #aaa;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	padding: 3px 10px 0 35px;
	height: 21px;
	font:bold 14px arial;
	color:#0054CB;
}

a.vote_down {
	background-position: 0 -48px;
	border: solid 1px #aaa;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 3px 10px 0 35px;
	height: 21px;
	font:bold 14px arial;
	color:#c60017;
}
a.vote_up:hover, a.vote_up.active {
	background-position: 0 -24px;
}
a.vote_down:hover,a.vote_down.active {
	background-position: 0 -72px;
}
#like, #dislike {
cursor: pointer;
}
.rondimg {
  border-bottom-left-radius:90em;
  border-bottom-right-radius:90em;
  border-top-left-radius:90em;
  border-top-right-radius:90em;
}
/* end comment vote */

.boxx20 {
     padding: 5px 0px 0px 0px;
	 width: 678px;
	 overflow: hidden;
	 }
.boxx20 h2 {
     font: bold 15pt arial;
     background: #004D66;
	 border-top-left-radius:6px;
	 border-top-right-radius:6px;
     width:190px;
     text-align: center;
     padding: 3px 0;
	 margin:0;
	 }
.boxx20 h2 a{color: #fff;}
.boxx20 h3 a{color: #004D66;}
.boxxx20 {
	  border:1px solid #004D66;
}	  
.mainspost20 {
	 padding:0px ;
	 width: 320px;
	 overflow: hidden;
	 text-align:justify;
	 border-bottom:1px dashed #004D66;
	 }	
 
.mainspost20 h3 {
     font: bold 13pt arial;
	 margin: 8px 0px 0px 0px;
	 padding-right:10px
	 }

.mainspost20 img {
     width:100px;
     height:60px;
     float: right;
	 margin: 5px;
	 border: 1px solid #C5C5C5;
	 }	
	 