/*
CSS3-only Horizontal Drop Line Tab Menu
http://www.skyrocketlabs.com
skyrocketlabs@gmail.com
*/

/* ARCHITECTURE */



/* MENU STYLE - IGNORE EVERYTHING ABOVE THIS LINE IF YOU WISH */

#menu {
  width: 1000px;
  height: 40px;
  clear: both;
}
 .fixNavigation{
	z-index: 9999;
	position: fixed; 
	top: 0; 
	width: 1000px; 	
} 
#navigation{ 
 height: 40px;
 }
ul.mnu {
  float: right;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background: #BB0000;
    
}

ul.mnu li {
  display: inline;
}
ul.mnu li  a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 8px;
       
}



/* THE SUBMENU LIST HIDDEN BY DEFAULT */
ul.mnu  ul {
  display: none;
}


/* menue rouge1 */
ul.mnu li .rouge1 a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
  background: #064E8D ;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;     
}
ul.mnu li .rouge1 a, ul li.rouge1:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #2CC185;
}

ul.mnu li.rouge1:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
   background: #bb0000;

}


ul.mnu li.rouge1:hover > ul li a {
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #bb0000; 
}
/******************************/
/* menue rouge */
ul.mnu li.rouge a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
  background:  #bb0000 ;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;     
}
ul.mnu li .rouge a, ul li.rouge:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #bb0000;
}
ul.mnu li.rouge> ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
    background: #bb0000;

}
ul.mnu li.rouge > ul li a{
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #bb0000; 
}

/*****************************/
/******************************/
/* menue bleu */
ul.mnu li.bleu a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
  background:  #064E8D ;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;     
}
ul.mnu li .bleu a, ul li.bleu:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #37AECC;
}
ul.mnu li.bleu:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
    background: #37AECC;

}
ul.mnu li.bleu:hover > ul li a{
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #37AECC; 
}

/********************/
/* menue violet */
ul.mnu li.violet a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
  background:  #064E8D ;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;     
}
ul.mnu li .violet a, ul li.violet:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #6c0782;
}
ul.mnu li.violet:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
    background: #6c0782;

}
ul.mnu li.violet:hover > ul li a{
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #6c0782; 
}
/* menue index */
ul.mnu li.index a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
  background:  #064E8D ;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;     
}
ul.mnu li .index a, ul li.index:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #c0392b;
}
ul.mnu li.index:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
    background: #c0392b;

}
ul.mnu li.index:hover > ul li a{
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #c0392b; 
}
/********************/
/* menue jo */
ul.mnu li.jo a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
  background:  #064E8D ;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;     
}
ul.mnu li .jo a, ul li.jo:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #ec520e;
}
ul.mnu li.jo:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
    background: #ec520e;

}
ul.mnu li.jo:hover > ul li a{
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #ec520e; 
}
/********************/

/* menue ville */
ul.mnu li.ville a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
  background:  #ED7F10 ;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;     
}
ul.mnu li .ville a, ul li.ville:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #ED7F10;
}
ul.mnu li.ville:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
    background: #ED7F10;

}
ul.mnu li.ville:hover > ul li a{
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #ED7F10; 
}


/********************/
/* menue casa */
ul.mnu li.casa a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
  background:  #064E8D ;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;     
}
ul.mnu li .casa a, ul li.casa:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #1abc9c;
}
ul.mnu li.casa:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
  background: #1abc9c;

}
ul.mnu li.casa:hover > ul li a{
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #1abc9c; 
}
/********************/
/* menue equipe */
ul.mnu li.equ a {
  float: right;
  font: bold 15px arial;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
    
}
ul.mnu li .equ a, ul li.equ:hover > a  {
  color: #fff;
  text-decoration: none;
  background: #638CA6;
}
ul.mnu li.equ:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 45px;
  position: absolute;
  margin: 40px 0 0 0;
   background: #638CA6;

}
ul.mnu li.equ:hover > ul li a{
  float: right;
  font: bold 15px arial;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 18px 0 0;
  background: #638CA6; 
}
/*****************************/
ul.mnu li:hover > ul li a:hover {
  color: #000;
  text-decoration: none;
  text-shadow: none;
}