
.ghgjrw ul,.ghgjrw li,.ghgjrw a,.ghgjrw p{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
display:block;
}
.ghgjrw{
min-height:40px;
font-family:Arial;
width:100%;
position:relative;
z-index:999;
float:right;
max-width:1000px;
min-width:200px;
border-bottom:4px solid #064E8D;
background-color:#0047B2;
}
.ghgjrw>ul{
float:right;
width:100%}
.ghgjrw>ul>li{
float:right;
text-align:right;
border-left:1px solid #005e85;
padding-left:40px;
padding-right:20px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;
box-sizing:border-box;
}


.ghgjrw>ul>li:first-child{

}
.ghgjrw>ul>li:after{
content:"";
display:block;
height:0;
width:0;
border-left:8px solid transparent;
border-right:8px solid transparent;
border-bottom:8px solid #064E8D;
margin-top:-7px;
position:relative;
visibility:hidden;
opacity:0;
}
.ghgjrw p:hover{
color:rgba(0,0,0,.67)!important;
}
.ghgjrw>ul>li:hover{
background:#C9001A;
cursor:pointer;
}
.ghgjrw .nbmbv li:hover a{
color:rgba(0,0,0,.52);
}
.ghgjrw>ul>li:hover>a,.ghgjrw>ul>li:hover>span,.ghgjrw>ul>li:hover>i{
color:#fff;
}
.ghgjrw ul li a{
color:#fff;
position:relative;
line-height:12px;
margin-top:28px;
font-size:15px;
font-weight:bold;
width:100%;
top:-12px;
}
.ghgjrw>ul>li>span{
color:#fff;
text-transform:capitalize;
font-size:12px;
padding:0;
clear:both;
position:relative;
top:-13px;
font-weight:normal;
}
.ghgjrw ul>li>i{
color:#fff;
float:left;
position:relative;
top:23px;
left:-25px;
font-size:14px}
.ghgjrw .nbmbv i{
color:#909090;
position:absolute;
top:9px;
left:86%;
}

.ghgjrw .nbmbv li:hover>i{
color:#000;
}
.ghgjrw ul li .nbmbv li ul li i{
left:79%;
}
.ghgjrw ul li .nbmbv span{
color:#757575;
padding:10px;
float:left;
position:absolute;
top:0;
left:0;
}
.ghgjrw .hhhjjjj{
-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
-moz-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
-webkit-perspective:1400px;-moz-perspective:1400px;
perspective:1400px;
-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;
transform-style:preserve-3d;
clear:both;
float:left;
margin:0;
padding:0}
@-webkit-keyframes image-animation{0%{-webkit-animation-timing-function:linear;-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}100%{-webkit-animation-timing-function:linear;-webkit-transform:matrix3d(-.3092659525,0,.9509755889,0,0,1,0,0,-.9509755889,0,-.3092659525,0,0,0,0,1)}}@-moz-keyframes image-animation{0%{-moz-animation-timing-function:linear;-moz-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}100%{-moz-animation-timing-function:linear;-moz-transform:matrix3d(-.3092659525,0,.9509755889,0,0,1,0,0,-.9509755889,0,-.3092659525,0,0,0,0,1)}}@-o-keyframes image-animation{0%{-o-animation-timing-function:linear;-o-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);}100%{-o-animation-timing-function:linear;-o-transform:matrix3d(-.3092659525,0,.9509755889,0,0,1,0,0,-.9509755889,0,-.3092659525,0,0,0,0,1);}}@-ms-keyframes image-animations{0%{-ms-animation-timing-function:linear;-ms-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}100%{-ms-animation-timing-function:linear;-ms-transform:matrix3d(-.3092659525,0,.9509755889,0,0,1,0,0,-.9509755889,0,-.3092659525,0,0,0,0,1)}}.ghgjrw ul li .nbmbv{position:absolute;background-color:#fff;cursor:default;margin-left:-40px;top:64px;z-index:999;padding:30px 20px 20px;-webkit-box-shadow:0 2px 4px rgba(0,0,0,.19);box-shadow:0 2px 4px rgba(0,0,0,.19);left:-1000%}
.ghgjrw ul li:hover .nbmbv{
left:auto}
.ghgjrw>ul>li>.nbmbv:before{
content:"";
display:block;
background:transparent;
width:100%;
position:absolute;
top:-1px;
left:0;
}
.ghgjrw ul li .nbmbv.popiopio,.ghgjrw ul li .nbmbv.popiopio li>ul,.ghgjrw ul li .nbmbv.popiopio li ul li>ul{
opacity:0;
visibility:hidden;
padding-top:0px;
}
.ghgjrw ul li:hover .nbmbv.popiopio,.ghgjrw ul li .nbmbv.popiopio li:hover>ul,.ghgjrw ul li .nbmbv.popiopio li ul li:hover>ul{
visibility:visible;opacity:1;
}
.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs,.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs li>ul,.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs li ul li>ul{
visibility:hidden;
opacity:0;
transform:scale(.8);
-webkit-transform:scale(.8);
-moz-transform:scale(.8);
-o-transform:scale(.8);
-ms-transform:scale(.8)}
.ghgjrw ul li:hover .nbmbv.dfsaddsfsdsdfsdfsdfsdfs,.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs li:hover>ul,.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs li ul li:hover>ul{
visibility:visible;
opacity:1;
transform:scale(1);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-o-transform:scale(1);
-ms-transform:scale(1)}
.ghgjrw ul li .nbmbv.fjpwcv{
width:200px;
}
.ghgjrw ul li .nbmbv.fjpwcv>li>a{
width:90%;
line-height:100%}
.ghgjrw ul li .nbmbv.fhgdasdjkhjk{
width:40%}
.ghgjrw ul li .nbmbv.fhgdasdjkhjk li a{
width:93%;
line-height:100%}
.ghgjrw ul li .nbmbv.fhgdasdjkhjk div{
width:46%;
float:left}
.ghgjrw ul li .nbmbv.fhgdasdjkhjk div:nth-child(2){
position:relative;
left:24px}
.ghgjrw ul li .nbmbv.fhgdasdjkhjk p,.ghgjrw ul li .nbmbv.puiywebnm p,.ghgjrw ul li .nbmbv.fjpwcv p{
color:#909090;
background:rgba(0,0,0,.05);
clear:both;
padding:10px;
border:1px solid rgba(0,0,0,.1)}
.ghgjrw ul li .nbmbv.puiywebnm{
width:70%;
position:absolute;
left:20%;

}
.ghgjrw ul li .nbmbv.puiywebnm div{
width:33%;
float:right;
}
.ghgjrw ul li .nbmbv.puiywebnm li a{
width:85%;
line-height:100%;
margin-top: 15px;
padding:4px 10px 4px 4px;
}
.ghgjrw ul li .nbmbv li{
float:left;
width:100%;
position:relative;
top:-10px;
}
.ghgjrw ul li .nbmbv li ul li{
padding-right:20px}
.ghgjrw ul li .nbmbv li ul li ul{
margin-left:-20px}
.ghgjrw ul li .nbmbv li a{
position:relative;
top:0;
z-index:999;
color:#FF0000;
padding:5px;
margin:1px 0;
width:180px;
text-transform:capitalize;
border-bottom:1px solid rgba(101,101,101,.1);
float:right;
}
.ghgjrw ul li .nbmbv li:hover>a{
border-bottom:1px solid rgba(101,101,101,.2);
float:right;
background-color:#0054CB;
color:#fff;

}
.ghgjrw ul li .nbmbv li ul{
position:absolute;
left:100%;
top:-20px;
background:#fff;
padding-top:30px;
padding-left:20px;
padding-bottom:20px;
-webkit-box-shadow:0 2px 4px rgba(0,0,0,.19);
box-shadow:0 2px 4px rgba(0,0,0,.19)}
.ghgjrw ul li .nbmbv li ul p{
width:82%}

@media screen and (max-width:930px){
.ghgjrw>ul>li{
padding-left:30px;
padding-right:15px}
.ghgjrw ul li a{
font-size:12px}
.ghgjrw>ul>li>span{
font-size:10px}
.ghgjrw ul>li>i{
left:-20px}
.ghgjrw>ul>li>.nbmbv{
margin-left:-30px}
.ghgjrw>ul>li:last-of-type .nbmbv{
margin-left:-150px}
} 
@media screen and (min-width:767px){
.ghgjrw .hhhjjjj:hover img{-webkit-transform-origin:0 86px 0;-moz-transform-origin:0 86px 0;transform-origin:0 86px 0;-webkit-transform:matrix3d(-.3092659525,0,.9509755889,0,0,1,0,0,-.9509755889,0,-.3092659525,0,0,0,0,1);-moz-transform:matrix3d(-.3092659525,0,.9509755889,0,0,1,0,0,-.9509755889,0,-.3092659525,0,0,0,0,1);transform:matrix3d(-.3092659525,0,.9509755889,0,0,1,0,0,-.9509755889,0,-.3092659525,0,0,0,0,1);-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-animation:image-animation 1s linear 0s 1 forwards;-moz-animation:image-animation 1s linear 0s 1 forwards;animation:image-animation 1s linear 0s 1 forwards}
.ghgjrw ul li:hover .nbmbv.popiopio,.ghgjrw ul li .nbmbv.popiopio li:hover>ul,.ghgjrw ul li .nbmbv.popiopio li ul li:hover>ul,.ghgjrw ul li:hover .nbmbv.dfsaddsfsdsdfsdfsdfsdfs,.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs li:hover>ul,.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs li ul li:hover>ul{
transition:all .3s ease-out 0s;
-webkit-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;
-moz-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s}
.ghgjrw>ul>li:hover:after{
visibility:visible;
opacity:1;
transition:all .2s ease-out 0s;
-webkit-transition:all .2s ease-out 0s;-ms-transition:all .2s ease-out 0s;
-moz-transition:all .2s ease-out 0s;-o-transition:all .2s ease-out 0s}
.ghgjrw>ul>li:hover,.ghgjrw>ul>li:hover>a,.ghgjrw>ul>li:hover>span,.ghgjrw>ul>li:hover>i,.ghgjrw .nbmbv i,.ghgjrw .nbmbv li a,.ghgjrw .nbmbv p{
transition:all .3s ease-out 0s;
-webkit-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;
-moz-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;
}
}
 @media screen and (max-width:767px){
 .abc{
 display:none;
 }
 .ghgjrw>ul>li{
 float:none;
 border-left:none;
 border-bottom:1px solid #064E8D;
 position:relative;
 margin-top:-28px;
 height:61px;
 }
 .ghgjrw>ul>li:first-child{border-left:none;border-top-left-radius:5px;border-bottom-left-radius:0;border-top-right-radius:5px}.ghgjrw ul li a{font-size:14px;position:relative;top:18px}.ghgjrw>ul>li>span{font-size:12px;position:relative;top:16px}.ghgjrw>ul>li:after{margin-top:22px}.ghgjrw ul li .nbmbv li ul{position:relative;left:0}
.ghgjrw ul li .nbmbv.fjpwcv{
width:100%;
padding:0;
overflow:hidden}
.ghgjrw ul li .nbmbv{top:60px!important}
.ghgjrw ul li .nbmbv.popiopio li>ul{
left:-20px;
top:46px;
opacity:1;
visibility:visible;
box-shadow:none;
border-top:1px solid rgba(101,101,101,.1)}
.ghgjrw ul li .nbmbv.popiopio li ul li>ul{
opacity:1;
visibility:visible;
box-shadow:none;
left:0}
.ghgjrw ul li .nbmbv.fjpwcv li a{
width:auto;float:left;border-bottom:none;padding-top:16px;padding-bottom:15px;text-indent:15px}.ghgjrw ul li .nbmbv.fjpwcv li:first-child a{padding-top:30px}.ghgjrw ul li .nbmbv.fjpwcv li ul li:first-child a{padding-top:14px;margin-top:-37px}.ghgjrw ul li .nbmbv.fjpwcv li{width:110%;line-height:100%;border-bottom:1px solid rgba(101,101,101,.1);margin:0;padding:0}.ghgjrw ul li .nbmbv li i{display:none}.ghgjrw .hhhjjjj{width:90%}.ghgjrw ul li .nbmbv.fjpwcv span{margin:5%}.ghgjrw ul li .nbmbv.fjpwcv li ul li ul p{margin-left:4%;width:74%}.ghgjrw>ul>li>.nbmbv:before{background:#064E8D;top:0;left:0;z-index:999}.ghgjrw ul li .nbmbv.fhgdasdjkhjk{width:100%;overflow:hidden;padding:0 0 25px}.ghgjrw ul li .nbmbv.fhgdasdjkhjk div,.ghgjrw ul li .nbmbv.puiywebnm div{width:100%}.ghgjrw ul li .nbmbv.fhgdasdjkhjk div:nth-child(2),.ghgjrw ul li .nbmbv.puiywebnm div:nth-child(2),.ghgjrw ul li .nbmbv.puiywebnm div:nth-child(3){left:0;top:0;margin-top:-10px}.ghgjrw ul li .nbmbv.fhgdasdjkhjk li,.ghgjrw ul li .nbmbv.puiywebnm li{width:100%;padding:0;margin:0;border-bottom:1px solid rgba(101,101,101,.1)}.ghgjrw ul li .nbmbv.fhgdasdjkhjk p,.ghgjrw ul li .nbmbv.puiywebnm p{margin-left:24px;margin-right:24px;position:relative;top:8px}.ghgjrw ul li .nbmbv.fhgdasdjkhjk li:first-child,.ghgjrw ul li .nbmbv.puiywebnm li:first-child{position:relative;margin-top:16px}.ghgjrw ul li .nbmbv.fhgdasdjkhjk li a,.ghgjrw ul li .nbmbv.puiywebnm li a{width:auto;float:left;border-bottom:none;text-indent:13px;padding-top:13px;padding-bottom:14px}.ghgjrw ul li .nbmbv.puiywebnm{left:30px;width:100%;overflow:hidden;padding:0 0 25px}.ghgjrw ul li .nbmbv.fjpwcv p{margin:40px 20px 10px 20px;position:relative;top:10px}.ghgjrw ul li .nbmbv.fjpwcv{padding-bottom:20px}.ghgjrw ul li .nbmbv.fjpwcv{right:0;position:absolute}.ghgjrw ul li .nbmbv.fjpwcv table{padding:20px;width:100%}.ghgjrw input[type="submit"]{max-width:20%;min-width:100px}.ghgjrw .nbmbv.puiywebnm img{margin-top:-40px}.ghgjrw ul li .nbmbv{top:-10000%!important}.ghgjrw ul li:hover .nbmbv{top:auto!important;margin-top:30px}.ghgjrw ul li:hover .nbmbv.popiopio,.ghgjrw ul li .nbmbv.popiopio li:hover>ul,.ghgjrw ul li .nbmbv.popiopio li ul li:hover>ul,.ghgjrw ul li:hover .nbmbv.dfsaddsfsdsdfsdfsdfsdfs,.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs li:hover>ul,.ghgjrw ul li .nbmbv.dfsaddsfsdsdfsdfsdfsdfs li ul li:hover>ul{transition:all .1s ease-out .2s;-webkit-transition:all .1s ease-out .2s;-ms-transition:all .1s ease-out .2s;-moz-transition:all .1s ease-out .2s;-o-transition:all .1s ease-out .2s}.ghgjrw>ul>li:hover:after{visibility:visible;opacity:1;transition:all .1s ease-out .2s;-webkit-transition:all .1s ease-out .2s;-ms-transition:all .1s ease-out .2s;-moz-transition:all .1s ease-out .2s;-o-transition:all .1s ease-out .2s}.ghgjrw>ul>li:hover,.ghgjrw>ul>li:hover>a,.ghgjrw>ul>li:hover>span,.ghgjrw>ul>li:hover>i,.ghgjrw .nbmbv i,.ghgjrw .nbmbv li a,.ghgjrw .nbmbv p{transition:all .1s ease-out .2s;-webkit-transition:all .1s ease-out .2s;-ms-transition:all .1s ease-out .2s;-moz-transition:all .1s ease-out .2s;-o-transition:all .1s ease-out .2s}.ghgjrw .nbmbv img{width:90%;float:left;border-radius:4px;margin:68px 5% 5%}.ghgjrw .nbmbv.puiywebnm img{width:90%;float:left;border-radius:4px;margin-top:30px!important}}