@charset "utf-8";
.topheader {
	height: 60px;
	background: #f9f9f9;
	border-bottom: 1px solid #eaeaea;
	width: 100%;
	min-width: 1200px;
}
.top_logo {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 125px;
	height: 42px;
	background: url(../images16/p5w_logo.png) no-repeat left center;
	overflow: hidden;
	z-index: 100;
}
.top_logo a {
	display: block;
	width: 125px;
	height: 42px;
	text-indent: -900px;
	overflow: hidden;
}
.top_nav {
	position: absolute;
	height: 60px;
	line-height: 60px;
	width: 700px;
	top: 1;
	left: 150px;
	z-index: 101;
	overflow: hidden;
}
.top_nav ul {
	padding-left: 40px;
	width: 700px;
}
.top_nav ul li {
	float: left;
	padding-right: 50px;
	font-size: 18px;
	position: relative;
}
.top_nav ul li span.hot {
	width: 28px;
	height: 19px;
	background: url(../images16/hot_bg.png) no-repeat;
	position: absolute;
	top: 20px;
	right: 22px;
}
.top_nav ul li a {
	display: block;
	height: 58px;
	line-height: 58px;
	padding: 0 3px;
}
.top_nav ul li a.this {
	color: #007dda;
	border-bottom: 3px solid #007dda;
}
.top_search {
	position: absolute;
	top: 15px;
	right: 120px;
	height: 31px;
	line-height: 31px;
	border: 1px solid #cccccc;
	width: 135px;
	border-radius: 15px;
}
.top_search:hover {
	border: 1px solid #3ca5f6;
}
.top_search:hover i.fa {
	color: #3ca5f6
}
.top_search i.fa {
	color: #ccc;
	padding-left: 10px;
}
.top_search span {
	display: inline-block;
	float: right;
	width: 120px;
	position: absolute;
	top: 0px;
	left: 20px;
}
.top_search span input {
	width: 90px;
	color: #CCC;
	border: none;
	background: none;
	text-align: center;
}
.top_member {
	float: right;
	padding-right: 15px;
	top: 0;
	right: 15px;
	height: 60px;
	line-height: 60px;
}
.top_member i.fa {
	color: #ccc;
	padding-right: 5px;
}
.pic_news {
	padding-top: 10px;
	padding-bottom: 40px;
}
.pic_news_left {
	clear: both;
	width: 800px;
	height: 310px;
}
.pic_news_right {
	float: right;
	width: 249px;
}
.toprightpic {
	width: 100%;
	position: relative;
	background: #ccc;
	overflow: hidden
}
.toprightpic a{
	display: block;
	width: 300px;
	height: 169px;
	overflow: hidden;
}
.toprightpic img{
	display: block;
}
.toprightpic span {
	font-size:12px; display:block; 
	}
.toprightpic span.tags {
	color:#ececec;
}
.toprightpic2 {
	width: 100%;
	height: 140px;
	position: relative;
	background: #ccc;
	overflow: hidden
}
.toprightpic2 span {
	font-size:12px; display:block; 
	}
.toprightpic2 span.tags {
	color:#ececec;
}
.color_blue {
	position:absolute; top:10px; left:10px; display:block; background:rgba(0,0,0,0.5); padding:1px 6px; z-index:10; border-radius:10px;}
.color_red {
	position:absolute; top:10px; left:10px; display:block; background:rgba(0,0,0,0.5); padding:1px 6px; z-index:10; border-radius:10px;}
.videostyle {
	display: block;
	width: 100%;
	height: 169px;
	position: absolute;
	left: 0;
	right: 0;
	background: url(../images16/bf_icon.png) no-repeat center rgba(0, 0, 0, 0.5);
	z-index: 90;
	text-align: center;
	color: #fff;
}
.toprightpic h2 {
	position: absolute;
	z-index: 100;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	top: 130px;
	left: 0px;
	height: 30px;
	width: 100%;
	text-align: center;
	font-weight: normal;
}
/*焦点图样式*/

#divSmallBox {
	overflow: hidden;
 *display: inline;
 *zoom: 1;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border-radius: 10px;
	background: #ffffff;
}
#playBox {
	width: 532px;
	height: 299px;
	float: left;
	background: #fff;
	position: relative;
	overflow: hidden;
}
#playBox .oUlplay {
	width: 99999px;
	position: absolute;
	left: 0;
	top: 0;
	height: 299px;
	text-align: center;
}
#playBox .oUlplay li {
	float: left;
	position: relative;
	height: 299px;
}
#playBox .oUlplay li h2 {
	position: absolute;
	left: 0px;
	text-align: center;
	width: 540px;
	bottom: 40px;
	z-index: 1;
	color: #fff;
	font-size: 23px;
	font-weight: normal;
}
#playBox .oUlplay li a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 532px;
	height: 299px;
	z-index: 999;

}
/*#playBox .pre {
	cursor: pointer;
	width: 40px;
	height: 64px;
	background: url(../images16/t018e1bdf2122a4b64b.png) no-repeat;
	position: absolute;
	top: 110px;
	left: 0px;
	z-index: 10;
}
#playBox .pre:hover {
	background-position: -45px 0
}
#playBox .next {
	cursor: pointer;
	width: 40px;
	height: 64px;
	background: url(../images16/t018e1bdf2122a4b64b.png) no-repeat;
	position: absolute;
	top: 110px;
	right: 0px;
	z-index: 10;
	background-position: 0 -75px
}

#playBox .next:hover {
	background-position: -45px -75px
}*/
/*新增*/
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.centered-btns_nav {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	z-index: 2;
	width: 40px;
	height: 64px;
	line-height: 200px;
	background: url(../images16/t018e1bdf2122a4b64b.png) no-repeat;
	overflow: hidden;
	opacity: .7;
}
.next {
	background: url(../images16/t018e1bdf2122a4b64b.png) no-repeat;
	right: 0;
	background-position: 0 -75px;
}
.centered-btns_nav:active {
	opacity: 1;
}
.centered-btns_tabs {
	text-align: center;
	font-size: 0;
	list-style-type: none;
	position: absolute;
	bottom: 10px;
	z-index: 9999;
	width: 532px;

}
.centered-btns_tabs li {
	display: inline-block;
	margin: 0 3px;
	*display: inline;
	*zoom: 1;
}
.centered-btns_tabs a {
	display: inline-block;
	width: 24px;
	height: 4px;
	border-radius: 2px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, .3);
	background-color: #ccc;
	overflow: hidden;
	*display: inline;
	*zoom: 1;
}
.centered-btns_tabs .centered-btns_here a {
	background-color: rgba(0, 0, 0, .8);
	background-color: #666;
}

.centered-btns1_nav {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	z-index: 2;
	width: 40px;
	height: 64px;
	line-height: 200px;
	background: url(../images16/t018e1bdf2122a4b64b.png) no-repeat;
	overflow: hidden;
	opacity: .7;
}
.next {
	background: url(../images16/t018e1bdf2122a4b64b.png) no-repeat;
	right: 0;
	background-position: 0 -75px;
}
.centered-btns1_nav:active {
	opacity: 1;
}
/*.centered-btns1_tabs {
	text-align: center;
	font-size: 0;
	list-style-type: none;
	position: absolute;
	bottom: 10px;
	z-index: 9999;
	width: 532px;

}
.centered-btns1_tabs li {
	display: inline-block;
	margin: 0 3px;
	*display: inline;
	*zoom: 1;
}
.centered-btns1_tabs a {
	display: inline-block;
	width: 48px;
	height: 8px;
	border-radius: 8px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, .3);
	background-color: #ccc;
	overflow: hidden;
	*display: inline;
	*zoom: 1;
}
.centered-btns1_tabs .centered-btns_here a {
	background-color: rgba(0, 0, 0, .8);
	background-color: #666;
}*/

/*.centered-btns2_nav {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	z-index: 2;
	width: 40px;
	height: 64px;
	line-height: 200px;
	background: url(../images16/t018e1bdf2122a4b64b.png) no-repeat;
	overflow: hidden;
	opacity: .7;
}
.next {
	background: url(../images16/t018e1bdf2122a4b64b.png) no-repeat;
	right: 0;
	background-position: 0 -75px;
}
.centered-btns2_nav:active {
	opacity: 1;
}*/
.centered-btns2_tabs {
	text-align: center;
	font-size: 0;
	list-style-type: none;
	position: absolute;
	bottom: 10px;
	z-index: 9999;
	width: 100%;

}
.centered-btns2_tabs li {
	display: inline-block;
	margin: 0 3px;
	*display: inline;
	*zoom: 1;
}
.centered-btns2_tabs a {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
/*	line-height: 20px;*/
	background-color: rgba(0, 0, 0, .3);
	background-color: #ccc;
	overflow: hidden;
	*display: inline;
	*zoom: 1;
}
.centered-btns2_tabs .centered-btns2_here a {
	background-color: rgba(0, 0, 0, .8);
	background-color: #3ca5f6;
}


#playBox .smalltitle {
	width: 540px;
	left: 0;
	height: 10px;
	position: absolute;
	bottom: 15px;
	z-index: 10
}
#playBox .smalltitle ul {
	width: 135px;
	margin: 0 auto;
	display: block;
}
#playBox .smalltitle ul li {
	width: 22px;
	height: 4px;
	margin: 0 5px;
	border-radius: 4px;
	background: #FFF;
	opacity: 0.5;
	filter: alpha(opacity=50);
	float: left;
	overflow: hidden;
 *display: inline;
 *zoom: 1;
}
#playBox .smalltitle .thistitle {
	opacity: 1;
	filter: alpha(opacity=100);
}

.slides_xingu .rslides a{
	display: block;
	width: 300px;
	height: 200px;
}
/*渐变阴影*/
.videolist ul li:before, .smallpic ul li:before,.oUlplay a:before,.slides_xingu li a:before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 1;
	/*-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background: -webkit-gradient(linear, 0 60%, 0 100%, from(rgba(0, 0, 0, 0)), to(#121515));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);*/
	background: url("../images16/bannerBG.png") repeat-x;
}
.videolist ul li:hover:before, .smallpic ul li:hover:before {
	opacity: .9
}
/*渐变阴影*/

.smallpic1 ul li:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.smallpic1 ul li:hover:before {
	opacity: 1
}
.videolist {
	clear: both;
	overflow: hidden;
	padding-bottom: 15px;
}
.videolist ul {
	width: 820px;
}
.videolist ul li {
	float: left;
	width: 185px;
	height: 120px;
	background: #000;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
}
.videolist ul li a {
	display: block;
	height: 120px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.videolist ul li h2 {
	position: absolute;
	z-index: 100;
	color: #fff;
	line-height: 24px;
	font-size: 12px;
	width: 185px;
	text-align: center;
	bottom: 5px;
	font-weight: 400;
}
.videolist h3 {
	padding-bottom: 8px;
}
.videolist h3 span {
	display: inline-block;
	padding: 5px 10px;
	background: #3ca5f6;
	color: #FFF;
}
.smallpic {
	padding-top: 20px;
	height: 200px;
	width: 800px;
	overflow: hidden;
}
.smallpic h1 {
	height: 30px;
	padding-bottom: 15px;
	font-size: 17px;
}
.smallpic ul {
	width: 816px;
	display: block;
}
.smallpic ul li {
	float: left;
	height: 163px;
	width: 260px;
	margin-right: 12px;
	background: #CCC;
	position: relative;
	overflow: hidden;
}
.smallpic ul li a {
	display: block;
	height: 155px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.smallpic ul li h2 {
	position: absolute;
	z-index: 100;
	color: #fff;
	line-height: 24px;
	font-size: 16px;
	width: 216px;
	left: 15px;
	bottom: 15px;
	font-weight: 400;
}
.smallpic1 {
	padding-top: 20px;
	height: 200px;
	overflow: hidden;
}
.smallpic1 h1 {
	height: 30px;
	padding-bottom: 15px;
	font-size: 17px;
}
.smallpic1 ul {
	width: 816px;
	display: block;
}
.smallpic1 ul li {
	float: left;
	height: 163px;
	width: 260px;
	margin-right: 12px;
	background: #CCC;
	position: relative;
	overflow: hidden;
}
.smallpic1 ul li a {
	display: block;
	height: 155px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.smallpic1 ul li h2 {
	position: absolute;
	z-index: 100;
	color: #fff;
	line-height: 24px;
	font-size: 16px;
	width: 216px;
	left: 15px;
	bottom: 15px;
	font-weight: 400;
}
.smallpic1 ul li img {
	width: 260px;
	height: 163px;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.smallpic1 ul li:hover img {
	-webkit-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
	transform: matrix(1.04, 0, 0, 1.04, 0, 0);
}
.videolist img{
	width: 300px;
	height: 169px;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.hot_pic img, .manlist ul li div.manlist_pic img, .toprightpic img, .toprightpic2 img, .smallpic ul li img {
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.videolist ul li:hover img, .hot_pic:hover img, .manlist ul li div.manlist_pic:hover img, .toprightpic:hover img, .toprightpic2:hover img, .smallpic ul li:hover img {
	-webkit-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
	transform: matrix(1.04, 0, 0, 1.04, 0, 0);
}
.xgbox {
	height: 50px;
	background: #f9f9f9;
	padding: 10px 20px
}
.xgbox_left {
	float: left;
	width: 180px;
}
.xgbox_left ul li {
	float: left;
	width: 80px;
	margin-right: 10px;
	margin-bottom: 8px;
}
.xgbox_left i.fa {
	color: #3ca5f6
}
.xgbox_right {
	float: right;
	width: 950px;
	height: 50px;
	position: relative;
}
.xgbox_right ul {
	display: inline-block;
	width: 950px;
}
.xgbox_right ul li {
	float: left;
	border-right: 1px solid #eeeeee;
	padding: 0 20px;
	color: #999999;
	font-size: 14px;
}
.xgbox_right ul li h2 {
	font-weight: normal;
	padding-bottom: 5px;
}
.xgbox_right ul li h2 i {
	color: #3ca5f6;
	padding-right: 20px;
	font-weight: 400;
}
.xgbox_right ul li span a {
	color: #999;
}
.xgbox_right ul li a:hover {
	text-decoration: underline;
}
.mainbox {
}
.mainbox_left {
	float: left;
	width: 800px;
}
.mainbox_left_title {
	height: 50px;
	margin-bottom: 10px;
	clear: both;
}
.mainbox_left_title ul li {
	float: left;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	color: #333;
	width: 100px;
	text-align: center;
}
.mainbox_left_title ul li.this {
	background: #3798e9;
	color: #fff;
	position: relative;
}
.mainbox_left_title ul li.this i {
	display: inline-block;
	position: absolute;
	left: 42px;
	bottom: -8px;
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #3798e9;
}
.mainbox_left2 {
	float: left;
	width: 800px;
	padding-top: 30px;
}
.mainbox_left3 {
	float: left;
	width: 780px;
	padding-top: 30px;
}
.manlist ul li {
	clear: both;
	padding: 30px 0;
	border-bottom: #f0f0f0 1px solid;
}
.manlist ul li h2 {
	font-size: 19px;
	color: #333;
	line-height: 26px;
	font-weight: 200;
}
.manlist ul li div.setinfo {
	padding-left: 25px;
	padding: 13px 0;
	color: #bbb;
}
.manlist ul li div.setinfo span.thisit a {
	color: #3ca5f6;
}
.manlist ul li div.setinfo a {
	color: #bbb;
}
.manlist ul li div.setinfo a:hover {
	color: #3da9f7
}
.manlist ul li div.setinfo span {
	display: inline-block;
	padding-right: 30px;
	font-size: 13px;
}
.manlist ul li div.setinfo span i.fa {
	padding-right: 5px;
	font-size: 15px;
}
.manlist ul li p {
	color: #999999;
	font-size: 14px;
	line-height: 22px;
	width: 770px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.manlist ul li:hover p {
}
.manlist ul li div.manlist_pic {
	float: left;
	width: 249px;
	height: 140px;
	overflow: hidden;
	margin-right: 30px;
	background: #999;
	overflow: hidden;
}
.manlist ul li div.manlist_pic a{
	width: 249px;
	height: 140px;
	display:block;
}
.manlist2 ul {
	padding-top: 10px;
}
.manlist2 ul li {
	clear: both;
	padding: 12px 0;
	border-bottom: #f0f0f0 1px solid;
}
.manlist2 ul li h2 {
	float: left;
	font-size: 17px;
	color: #333;
	line-height: 28px;
	font-weight: 500;
}
.manlist2 ul li div.setinfo2 {
	float: right;
	width: 130px;
	color: #bbb;
	line-height: 28px;
}
.manlist3 ul li {
	clear: both;
	padding: 15px 0;
	border-bottom: #f0f0f0 1px solid;
}
.manlist3 ul li h1 {
	float: left;
	font-size: 20px;
	color: #333;
	line-height: 28px;
	font-weight: 200;
}
.manlist3 ul li div.setinfo3 {
	float: right;
	width: 105px;
	color: #bbb;
	line-height: 28px;
	font-size: 13px;
	text-align: right;
}
.manlist3 ul li p {
	width: 780px;
	padding-top: 20px;
	margin-bottom: 10px;
	color: #999999;
	font-size: 14px;
	line-height: 24px;
	height: 45px;
	overflow: hidden;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.mainbox_right {
	width: 300px;
	float: right;
	background: #f9f9f9;
	padding: 0 20px;
}

.rightbox1 {
	width: 100%;
	clear: both;
	padding-top: 30px;
}
.rightbox1_title {
	height: 38px;
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}
.rightbox1_title h2 {
	width: 98px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #3798e9;
	border-radius: 19px;
	color: #3798e9;
	position: absolute;
	left: 101px;
	top: 0;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}
.rightbox1_title h2 a {
	color: #3798e9;
}
.rightbox1_title h2 a:hover {
	color: #1e7dcd;
}
.rightbox1_title_l {
	position: absolute;
	left: 0;
	top: 0px;
	width: 87px;
	height: 20px;
	line-height: 0;
	font-size: 0;
	border-bottom: 1px solid #cccccc;
	display: inline-block;
}
.rightbox1_title_r {
	position: absolute;
	right: 0;
	top: 0px;
	width: 87px;
	height: 20px;
	line-height: 0;
	font-size: 0;
	border-bottom: 1px solid #cccccc;
	display: inline-block;
}
.rightbox1_content {
	clear: both;
	padding-bottom: 15px;
	border-bottom: 1px dotted #e5e5e5;
}
.rightbox1_content span {
	display: inline-block;
	width: 123px;
	height: 113px;
	border: 1px solid #eeeeee;
	background: #FFF;
	overflow: hidden;
	float: left;
	margin-right: 15px;
}
.rightbox1_content span img {
	width: 123px;
	height: auto;
}
.rightbox1_content h2 {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 400;
	color: #333;
}
.rightbox1_content p {
	font-family: '宋体';
	font-size: 12px;
	color: #999999;
}
.rightbox1_content p a {
	color: #999;
}
.rightbox1_content p a:hover {
	text-decoration: underline;
}
.rightbox1_content2 {
	clear: both;
	padding-bottom: 15px;
	border-bottom: 1px dotted #e5e5e5;
}
.rightbox1_content2 span {
	display: inline-block;
	width: 123px;
	height: 164px;
	border: 1px solid #eeeeee;
	background: #FFF;
	overflow: hidden;
	float: left;
	margin-right: 15px;
}
.rightbox1_content2 span img {
	width: 123px;
	height: auto;
}
.rightbox1_content2 h2 {
	font-size: 17px;
	line-height: 30px;
	padding-bottom: 6px;
	font-weight: 400;
	color: #333;
}
.rightbox1_content2 p {
	font-size: 13px;
	color: #999999;
}
.rightbox1_content2 p a {
	color: #333;
}
.rightbox1_content2 p a:hover {
	color: #3ca5f6;
}
.rightbox1 ul {
	display: block;
	padding-top: 10px;
}
.rightbox1 ul li {
	clear: both;
	padding: 3px 0 3px 15px;
	background: url(../images16/list_icon2.gif) no-repeat -7px center;
}
.xsrj {
	width: 340px;
	float: right;
	padding-top: 30px;
}
.xsrj ul {
	background: url(../images16/linebg.png) repeat-y 0px 0;
	padding-left: 16px;
}
.xsrj ul li {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
}
.xsrj ul li h2 {
	font-size: 16px;
	color: #333;
	font-weight: 400;
}
.xsrj ul li span {
	font-family: '宋体';
	color: #999;
	font-size: 12px;
}
.circle {
	position: absolute;
	left: -19px;
	top: 23px;
	display: block;
	width: 7px;
	height: 7px;
	background-color: #77bbef;
	border-radius: 50%;
}
.hotarticle {
	clear: both;
	padding-top: 25px;
}
.hotarticle ul li {
	padding-bottom: 20px;
	
}
.hot_pic {
	width: 300px;
	height: 169px;
	overflow: hidden;
}
.hot_pic img {
	width: 300px;
	height: 169px;
}
.hotarticle ul li h2 {
	padding-top: 5px;
	font-weight: 400;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
}
.hotarticle ul li span {
	color: #999;
	font-size: 12px;
}
.foot1 {
	background: #f2f2f2;
	width: 100%;
	min-width: 1200px;
	padding: 35px 0;
	margin-top: 80px;
}
.foot1_l {
	float: left;
	width: 650px;
}
.foot1_l a {
	color: #5a5e67;
}
.foot1_l a:hover {
	text-decoration: underline;
}
.foot1_l ul li {
	float: left;
	padding-right: 30px;
	width: 90px;
}
.foot1_l ul li span {
	line-height: 28px;
	font-size: 13px;
}
.foot1_l ul li h2 {
	font-weight: 400;
	padding-bottom: 10px;
	color: #333;
}
.foot1_r {
	float: right;
	width: 490px;
	overflow: hidden;
}
.foot1_r h2 {
	padding-bottom: 15px;
}
.foot1_r ul {
	width: 650px;
}
.foot1_r ul li {
	float: left;
	padding: 0 30px 0 0;
	text-align: center;
	width: 100px;
	font-size: 12px;
}
.foot1_r ul li span {
	display: inline-block;
	width: 73px;
	height: 73px;
	background: #fff;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 10px;
}
.foot1_r ul li i {
	display: block;
}
.foot2 {
	background: #f6f6f6;
	width: 100%;
	min-width: 1200px;
	padding: 30px 0;
}
.list_icon {
	width: 250px;
	margin: 0 auto;
}
.list_icon ul li {
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	background-color: #6b6e81;
	text-align: center;
	border-radius: 20px;
	margin-left: 20px
}
.list_icon ul li i.fa {
	line-height: 40px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	color: #fff;
}
.list_icon ul li:hover i.fa {
	color: #fff;
}
.list_icon ul li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: .5s cubic-bezier(.3, 0, 0, 1.3);
	transition: .5s cubic-bezier(.3, 0, 0, 1.3);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
}
.list_icon ul li:hover:before {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1)
}
.list_icon ul a:nth-child(1) li:before {
	background-color: #1ec354
}
.list_icon ul a:nth-child(2) li:before {
	background-color: #f74864
}
.list_icon ul a:nth-child(3) li:before {
	background-color: #ff9000
}
.list_icon ul a:nth-child(4) li:before {
	background-color: #3091f4
}
.list_icon ul a:nth-child(5) li:before {
	background-color: #ff9000
}
.links {
	clear: both;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #e3e3e3;
	padding-top: 20px;
	padding-bottom: 5px;
}
.copybox {
	font-size: 13px;
	clear: both;
	padding-top: 15px;
}
.copybox p.copy {
	text-align: center;
	padding-top: 5px;
}
.copybox p.tel {
	text-align: center;
	padding-left: 10px;
}
.pingt {
	text-align: center;
	padding-top: 20px;
}
.pingt span {
	background: #fff;
	border: 1px solid #e2e2e2;
	font-size: 12px;
	padding: 5px;
	width: 123px;
	line-height: 20px;
	display: inline-block;
}
.pingt span img {
	float: left;
}
.rightbox2 {
	width: 100%;
	clear: both;
	padding-top: 30px;
}
.rightbox2_title {
	height: 38px;
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}
.rightbox2_title h2 {
	width: 98px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #3798e9;
	border-radius: 19px;
	color: #3798e9;
	position: absolute;
	left: 101px;
	top: 0;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}
.rightbox2_title_l {
	position: absolute;
	left: 0;
	top: 0px;
	width: 87px;
	height: 20px;
	line-height: 0;
	font-size: 0;
	border-bottom: 1px solid #cccccc;
	display: inline-block;
}
.rightbox2_title_r {
	position: absolute;
	right: 0;
	top: 0px;
	width: 87px;
	height: 20px;
	line-height: 0;
	font-size: 0;
	border-bottom: 1px solid #cccccc;
	display: inline-block;
}
.jysearch {
	border: 1px solid #ececec;
	background: #fff;
	height: 34px;
	width: 297px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.jysearch input {
	height: 30px;
	line-height: 30px;
	width: 130px;
	text-align: center;
	background: none;
	color: #ccc;
}
.jysearch select {
	border: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f0f0f0;
	outline: medium;
	color: #333;
	width: 92px;
}
.jysearch button {
	height: 34px;
	background: #3ca5f6;
	color: #FFF;
	border: 0;
	width: 64px;
	float:right;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
.jysearch button:hover {
	color: #fff;
	background: #2f99ea;
}
.leftnav {
	clear: both;
	overflow: hidden;
}
.leftnav ul {
	width: 330px;
}
.leftnav ul li {
	float: left;
	width: 60px;
	height: 60px;
	margin: 0 17px 18px 0;
	border: 1px solid #ececec;
	background: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 3px;
	background: url(../images16/leftnavbg1.png) no-repeat #fff;
	position: relative;
}
.leftnav ul li a {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	z-index: 100;
}
.leftnav ul li a:hover {
	background: url(../images16/leftnavbg2.png) no-repeat;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	z-index: 100;
}
.leftnav ul li:hover span {
	color: #fff;
}
.leftnav ul li span {
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: 3px;
	width: 100%;
	text-align: center;
}
.leftnav ul li.leftnavbg1, .leftnav ul li.leftnavbg1 a:hover {
	background-position: 0 0;
}
.leftnav ul li.leftnavbg2, .leftnav ul li.leftnavbg2 a:hover {
	background-position: 0 -74px;
}
.leftnav ul li.leftnavbg3, .leftnav ul li.leftnavbg3 a:hover {
	background-position: 0 -144px;
}
.leftnav ul li.leftnavbg4, .leftnav ul li.leftnavbg4 a:hover {
	background-position: 0 -215px;
}
.leftnav ul li.leftnavbg5, .leftnav ul li.leftnavbg5 a:hover {
	background-position: 0 -287px;
}
.leftnav ul li.leftnavbg6, .leftnav ul li.leftnavbg6 a:hover {
	background-position: 0 -359px;
}
.leftnav ul li.leftnavbg7, .leftnav ul li.leftnavbg7 a:hover {
	background-position: 0 -430px;
}
.leftnav ul li.leftnavbg8, .leftnav ul li.leftnavbg8 a:hover {
	background-position: 0 -502px;
}
.leftnav ul li.leftnavbg9, .leftnav ul li.leftnavbg9 a:hover {
	background-position: 0 -573px;
}
.leftnav ul li.leftnavbg10, .leftnav ul li.leftnavbg10 a:hover {
	background-position: 0 -645px;
}
.leftnav ul li.leftnavbg11, .leftnav ul li.leftnavbg11 a:hover {
	background-position: 0 -716px;
}
.leftnav ul li.leftnavbg12, .leftnav ul li.leftnavbg12 a:hover {
	background-position: 0 -788px;
}
.leftnav li .before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 60px;
	height: 60px;
	border-radius: 3px;
	background: #3798e9;
	-webkit-transition: .5s cubic-bezier(.3, 0, 0, 1.3);
	transition: .5s cubic-bezier(.3, 0, 0, 1.3);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	display: block;
}
.leftnav li:hover .before {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1)
}
.textad {
	padding-bottom: 25px;
	border-bottom: 0px solid #f0f0f0;
	font-size: 13px;
}
.textad a {
	color: #999;
}
.textad a:hover {
	color: #3ca5f6;
}
.textad ul li {
	float: left;
	width: 50%;
	height: 25px;
	line-height: 25px;
	overflow: hidden
}
.hqlist {
}
.hqlist span.hqtitle {
	display: inline-block;
	float: left;
	width: 80px;
	height: 30px;
	line-height: 30px;
	color: #333;
}
.hqlist ul {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	width: 700px;
	display: inline-block;
}
.hqlist ul li {
	font-size: 13px;
	float: left;
	color: #333;
	padding-left: 18px;
	height: 30px;
	line-height: 30px;
}
.hqlist ul li a {
	color: #333;
	padding-right: 8px
}
.hqlist ul li a:hover {
	text-decoration: underline
}
.hqlist ul li span {
	color: #fe0002;
	padding-left: 8px
}
.hqlist ul li span.green {
	color: #009900
}
.hqlist span.hqtitle i.fa {
	color: #3ca5f6;
}
.loadmore {
	text-align: center;
	border: 1px solid #f2f2f2;
	height: 50px;
	margin-top: 30px;
	line-height: 50px;
	border-radius: 3px;
	overflow: hidden;
}
.loadmore a {
	display: block;
	height: 50px;
	color: #999;
	line-height: 50px;
	text-align: center;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	font-size: 16px;
}
.loadmore a:hover {
	background: #f2f2f2;
	color: #666;
}
.toutiao {
	clear: both;
	background: #f2f2f2;
	height: 227px;
	margin: 0 0 15px 0;
}
.toutiao h2 {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #333;
	line-height: 70px;
	padding-top: 10px;
	border-bottom: 1px solid #eaeaea;
}
.toutiao ul {
	padding-top: 15px;
}
.toutiao ul li {
	float: left;
	width: 48%;
	padding-left: 10px;
	line-height: 36px;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.toutiao ul li span {
	font-style: normal;
	color: #fff;
	margin-top: 10px;
	line-height: 14px;
	padding: 1px 3px;
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
	font-family: "宋体";
	font-size: 12px;
	border-radius: 2px;
}
.toutiao ul li span:after {
	content: " ";
	position: absolute;
	bottom: 0;
	border: solid;
	border-width: 4px 0 0 6px;
}
.toutiao ul li span a, .toutiao ul li span a:hover {
	font-style: normal;
	color: #fff;
}
.toutiao ul li span.sb {
	background: #3ca5f6;
}
.toutiao ul li span.sb:after {
	border-color: transparent transparent transparent #3ca5f6;
}
.toutiao h1 {
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 15px;
	padding-right: 15px;
}
.toutiao p {
	padding-right: 15px;
	line-height: 25px;
}
.toutiao span.toppic {
	display: inline-block;
	float: left;
	height: 227px;
	width: 403px;
	overflow: hidden;
	background: #000;
	margin-right: 20px;
	position: relative;
}
.toutiao span.toppic i {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 35px;
	line-height: 35px;
	background: #4285f4;
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.toutiao span.toppic img {
	height: 227px;
	width: auto;
}
.toutiao span.toppic img {
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.toutiao span.toppic:hover img {
	-webkit-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
	transform: matrix(1.04, 0, 0, 1.04, 0, 0);
}
.toutiao2 {
	clear: both;
	height: 190px;
}
.toutiao2 h2 {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #333;
	line-height: 70px;
	border-bottom: 1px solid #eaeaea;
}
.toutiao2 ul {
	padding-top: 15px;
}
.toutiao2 ul li {
	float: left;
	width: 48%;
	padding-left: 10px;
	line-height: 36px;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.toutiao2 ul li span {
	font-style: normal;
	color: #4285f4;
	margin-top: 10px;
	line-height: 14px;
	padding: 1px 3px;
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
	font-family: "宋体";
	font-size: 12px;
	border:#4285f4 1px solid;
	border-radius: 2px;
	
}
.toutiao2 ul li span:after {
}
.toutiao2 ul li span a, .toutiao ul li span a:hover {
	font-style: normal;
	color: #4285f4;
}
.toutiao2 ul li span.sb {
	background: #fff;
}
.toutiao2 ul li span.sb:after {
	border-color: transparent transparent transparent #3ca5f6;
}
.jsnews {
	clear: both;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	width: 100%;
}
.jsnews span {
	color: #999;
}
/*新股专区*/

.jcImgScroll {
	position: relative;
	height: 200px;
	width: 300px;
}
.jcImgScroll li {
	border: 1px solid #ccc;
}
.jcImgScroll li a {
	background: #fff;
	display: block;
	height: 340px;
}
.jcImgScroll li.loading a {
	background: #fff url(img/loading.gif) no-repeat center center;
}
.jcImgScroll li img, .jcImgScroll li, .jcImgScroll em, .jcImgScroll dl {
	display: none;
	border: 0 none;
}
.jcImgScroll em.sPrev {
	background: url(../images16/arrow-left.png) no-repeat left center;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -25px;
	z-index: 999;
	height: 50px;
	width: 50px;
	display: inline-block
}
.jcImgScroll em.sNext {
	background: url(../images16/arrow-right.png) no-repeat right center;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -25px;
	z-index: 999;
	height: 50px;
	width: 50px;
	display: inline-block
}
.jcImgScroll dl dd {
	background: url(images16/scroll/NumBtn.png) no-repeat 0 bottom;
	text-indent: -9em;
}
.jcImgScroll dl dd:hover, .jcImgScroll dl dd.curr {
	background-position: 0 0;
}
.newgu {
	padding-top: 30px;
}
.news-photo-xingu h2 {
	position: absolute;
	bottom: 10px;
	color: #ffffff;
	width: 100%;
	text-align: center;
}
.news-photo-xingu img{
	width: 300px;
	height: 200px;
}
.newgu2 ul {
	padding-top: 15px;
	padding-bottom: 30px;
}
.newgu2 ul li {
	text-align: center;
	width: 75px;
	float: left;
}
.newgu2 ul li i.fa {
	color: #3ca5f6;
}
/*全景互动*/

.qjhd {
	padding: 10px;
	background-color: #ffffff;
	border-radius: 5px;
	padding-bottom: 15px;
	border: 1px #EEEEEE solid;
}
.qjhd_box {
	clear: both;
	height: 162px;
	overflow: hidden;
}
.qjhd_box ul {
	list-style: none;
}
.qjhd_box li {
	margin-bottom: 10px;
	padding: 0 !important;
	background: none !important;
}
.qjhd_name {
	display: block;
	color: #666;
	font-size: 12px;
	padding-left: 35px;
}
.qjhd_name a {
	color: #3ca5f6;
}
.qjhd_title {
	color: #333;
	padding: 8px 0 12px 0;
	font-size: 12px;
	background: url(../images16/Q.png) left 11px no-repeat;
	padding-left: 35px;
	height: 42px;
	overflow: hidden;
}
.qjhd_content {
	color: #666;
	font-size: 12px;
	background: url(../images16/A.png) left 3px no-repeat;
	padding-left: 35px;
	height: 72px;
	overflow: hidden;
}
.qjhd_title2 {
	color: #333;
	padding: 8px 0 12px 0;
	background: url(../images16/C.png) left 12px no-repeat;
	padding-left: 35px;
	font-size: 12px;
	height: 42px;
	overflow: hidden;
}
.qjhd_content2 {
	color: #666;
	font-size: 12px;
	background: url(../images16/Z.png) left 3px no-repeat;
	padding-left: 35px;
	height: 72px;
	overflow: hidden;
}
/*自媒之声*/

.basew {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.index-title {
	position: relative;
	margin-bottom: 12px;
	padding-left: 16px;
	font-size: 24px;
	color: #3ca5f6;
	line-height: 1;
 *line-height: 24px;
 *overflow: hidden;
 *zoom: 1
}
.index-title a {
	font-size: 24px;
	color: #3ca5f6;
}
.index-title a:hover {
	font-size: 24px;
	color: #1e7dcd;
}
.index-title .title-split {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -12px;
	height: 24px;
	width: 4px;
	display: block;
	background-color: #3ca5f6;
 *zoom: 1
}
.index-title .txt-little {
	font-size: 14px;
	line-height: 14px;
 *line-height: normal;
	color: #999;
	margin-left: 20px;
	vertical-align: bottom;
 *zoom: 1
}
.index-title .more-link {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #3ca5f6;
	font-size: 12px;
 *line-height: 34px
}
.index-title .more-link .icon-arrow-r {
	margin-left: 7px;
	margin-top: -3px;
 *margin-top: 0
}
.i-invest-box {
	border-top: 3px solid #3ca5f6;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	height: 259px;
	width: 323px;
	background-color: #fff;
	line-height: 31px;
}
.article-list-wrap {
	padding: 0;
	padding-bottom: 10px;
}
.article-list-wrap .article-category {
	position: relative;
	width: 100%;
	background-color: #f7f7f7;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border: 1px solid #f3f3f3;
	overflow: hidden
}
.article-list-wrap .article-category .article-row {
	position: relative;
	white-space: nowrap
}
.article-list-wrap .article-category .category-line {
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	z-index: 5;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.article-list-wrap .article-category .category-item {
	position: relative;
	border-top: #f7f7f7 4px solid;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	height: 58px;
	padding: 0 23px;
	color: #444;
	font-size: 1.6rem;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	width: auto;
	font-size: 17px;
	overflow: hidden
}
.article-list-wrap .article-category .category-item:a {
 color: #000;
 font-size: 17px;
 background-color: #fff
}
.article-list-wrap .article-category .category-item:hover {
	border-top: #eaeaea 4px solid;
	background-color: #eaeaea;
	
}
.article-list-wrap .article-category .category-item.active {
	color: #007dda;
	font-size: 17px;
	border-top: #3ca5f6 4px solid;
	background-color: #fff;
}
.article-list-wrap .article-category .category-item .hot::before {
}
.hangqing {
	padding-top: 10px;
	padding-left: 10px;
	background-color: #f9f9f9;
}
.hscroll {
	margin-bottom: 25px;
	margin-top: 25px;
}
.hscroll .t {
	font-size: 14px;
	font-weight: bold;
	color: #3ca5f6;
	float: left;
	background: url(http://mat1.gtimg.com/finance/skeetershi/2016index/img/icons.png) 57px -108px no-repeat;
	padding-right: 18px;
	margin-right: 12px
}
.hscroll .t a {
	font-size: 14px;
	color: #3ca5f6;
}
.hscroll .t a:hover {
	font-size: 14px;
	color: #1e7dcd;
}
.hscroll .con {
	overflow: hidden;
	position: relative;
	height: 22px
}
.hscroll .con .cons {
	position: relative;
	left: 0
}
.hscroll .con ul {
	width: 2000px;
	float: left
}
.hscroll .con li {
	float: left;
	padding-right: 10px;
	color: #aaa;
}
.hscroll .con a {
	font-size: 14px
}
.hscroll .con .time {
	color: #999999
}
.hqbox2_more {
}
.hqbox2_more a {
	font-size: 14px;
	width: 70px;
	display: inline-block;
	text-align: center;
	height: 26px;
	line-height: 26px;
	color: #666666;
	border: 1px solid #666666;
	border-radius: 3px;
}
.hqbox2_more a:hover {
	color: #3ca5f6;
	border: 1px solid #3ca5f6;
	border-radius: 3px;
}
.hqbox2_more2 {
	padding-left: 10px;
	float: left;
	padding-top: 15px;
}
.hqbox2_more2 a {
	font-size: 14px;
	width: 70px;
	display: inline-block;
	text-align: center;
	height: 26px;
	line-height: 26px;
	color: #666666;
	border: 1px solid #666666;
	border-radius: 3px;
}
.hqbox2_more2 a:hover {
	color: #3ca5f6;
	border: 1px solid #3ca5f6;
	border-radius: 3px;
}
.hqbox2_more3 {
	float: right;
	padding-top: 10px;
}
.hqbox2_more3 a {
	font-size: 13px;
	width: 66px;
	display: inline-block;
	text-align: center;
	height: 23px;
	line-height: 22px;
	color: #666666;
	border-radius: 3px;
}
.hqbox2_more3 a:hover {
	color: #3ca5f6;
	border-radius: 3px;
}
/* ----------------Reset Css---------------------*/

ol, ul {
	list-style: none;
}
.fl {
	float: left
}
.fr {
	float: right
}
.db {
	display: block
}
.w1200, .w1201 {
	width: 1200px;
	margin: 0 auto;
}
.hidden {
	overflow: hidden;
}
/*** header ***/

.head-wrap {
	width: 100%;
	height: 60px;
	min-width: 1200px;
	background: #f9f9f9;
	border-bottom: #eaeaea 1px solid
}
.head .logo-wrap {
	margin-left: 15px;
}
.head .logo-wrap .logo {
	background: url(../images16/p5w_logo.png) no-repeat;
	width: 155px;
	height: 50px;
	margin-top: 5px;
	display: inline-block;
}
.head .head-nav li {
	font-size: 17px;
	color: #333333;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	padding-right: 3px;
}
.head .head-nav li {
	position: relative;
	padding: 0 25px 0 25px;
}
.head .head-nav li a {
	display: block;
	height: 58px;
	line-height: 58px;
	padding: 0 3px;
}
.head .head-nav li a.this {
	color: #4285f4;
	border-bottom: 3px solid #4285f4;
}
.head .head-nav li span.hot {
	width: 28px;
	height: 19px;
	background: url(../images16/hot_bg.png) no-repeat;
	position: absolute;
	top: 20px;
	right: -8px;
}
.head .head-nav li:hover .head-nav-drop {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.head .head-nav li a:hover {
	color: #4285f4;
}
/*** 头部导航下拉框 ***/

.head-nav-drop {
	opacity: 0;
	position: absolute;
	top: 58px;
	left: -4px;
	z-index: 100;
	background: #fff;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.head-nav-drop .no-border {
	border-top: none;
}
.head-nav-drop a:hover {
	color: #4285f4;
}
.head-nav-drop .drop-box {
	width: 220px;
	padding: 8px 0 14px 5px;
	position: relative;
	font-size: 15px;
}
.head .head-nav-drop .drop-box a {
	padding: 0 12px;
	text-align: left;
	height: 20px;
	line-height: 24px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.head-nav-drop .triangle {
	background-position: -87px -2px;
	width: 38px;
	height: 10px;
	position: absolute;
	top: -9px;
	left: 25px;
}
.head-nav-drop .drop-box-top {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.head-nav-drop .drop-box-top a {
	padding: 0px 10px;
	display: inline-block;
	color: #1973b3;
}
.head-nav-drop .drop-box-top a.on, .head-nav-drop .drop-box-top a:hover {
	color: #0063ca;
}
.head-nav-drop .set-drop-box a {
	width: 76px;
}
.head-nav-drop .drop-box-list a {
	width: 137px;
	margin-right: 15px;
}
.head-nav-drop.big-width-drop {
	width: 645px;
}
.head-nav-drop.big-width-drop .drop-box {
	width: 620px;
}
.small-width-nav .drop-box {
	width: auto;
	padding: 0;
}
.small-width-nav .drop-box a {
	text-align: center;
}
/*** 公用小ICON **/

.triangle {
	background: url(../images16/public-icon.png) no-repeat 0px -376px;
	width: 10px;
	height: 6px;
	display: inline-block;
	position: absolute;
	top: 28px;
	right: 10px;
}
/*** 友情 **/

.link-box {
	width: 1170px;
	margin: 0 auto;
	margin-bottom: 40px;
	height: 650px;
}
.link-box .tit {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 5px;
}
.link-box .tit span {
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 5px;
	color: #3ca5f6;
	font-size: 22px;
}
.link-box p.link-content {
	margin: 10px 0px 10px 5px;
	height: 110px;
	padding-top: 25px;
	font-size: 16px;
}
.link-box p.link-content a {
	width: 122px;
	float: left;
	line-height: 32px;
	padding-right: 10px;
	color: #777777;
}
.link-box p.link-content a:hover {
	color: #3ca5f6;
	text-decoration: underline;
}
/*** 解读新三板 **/

.rightbox {
	float: right;
	width: 300px;
	padding-top: 30px;
}
.rightbox_title {
	border-bottom: 1px solid #ececec;
	color: #666;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
}
.rightbox_title span {
	padding-left: 0px;
	border-bottom: 1px solid #4285f4;
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
}
.aboutus {
	padding-top: 15px;
	line-height: 24px;
}
.aboutus span{
	display: block;
	height: 40px;
	line-height: 40px;
	color: #4285f4;
	text-align: center;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.aboutus a {
	color: #4285f4;
}
.aboutus a:hover {
	color: #4285f4;
}
.wejc2, .wejc {
	padding-top: 15px;
}
.wejc li {
	list-style: none;
	margin-bottom: 10px;
}
.wejc li i {
	font-style: normal;
	display: inline-block;
	border-radius: 50%;
	line-height: 25px;
	text-align: center;
	margin-right: 15px;
	border: 3px solid #9dc2ff;
}
.wejc li i.top3 {
	color: #fff;
	background-color: #494949;
}
.wejc li a {
	margin: 0;
	line-height: 2em;
	display: inline-block;
	width: 240px;
	vertical-align: top;
}
.wejc2 ul li {
	font-size: 15px;
	height: 36px;
	line-height: 36px;
	list-style-position: inside;
	color: #e9e9e9;
	overflow: hidden;
	list-style-type: disc;
}
.height30 {
	height: 30px;
	line-height: 0;
}
.toug {
	padding-top: 10px;
}
.toug ul li {
	padding: 10px 0;
	font-size: 18px;
}
.gr_banner {
	height: 300px;
	width: 100%;
	min-width: 1200px;
	background: url(../images16/banner2.jpg) no-repeat center top;
	position: relative;
}

.newlist {
	float: left;
	width: 800px;
}
.newlist ul li {
	border-bottom: 1px solid #eaecef;
	padding-bottom: 20px;
}
.newlist2 {
	float: left;
	width: 800px;
	padding-top: 40px;
}
.newlist2 ul li {
	border-bottom: 1px solid #eaecef;
	padding-bottom: 20px;
}
.newcontent {
	width: 800px;
	float: right;
	padding-top: 30px;
}
.newcontent h2 {
	color: rgb(38, 38, 39);
	font-size: 20px;
	font-weight: 800;
	padding-bottom: 15px;
}
.newcontent p.dsc {
	color: #666565;
	font-size: 14px;
	line-height: 24px;
	height: 100px;
}
.content_pic {
	display: inline-block;
	float: left;
	width: 249px;
	height: 140px;
	overflow: hidden;
	margin-right: 20px;
	background: #ececec;
}
.content_pic img {
	width: 249px;
	height: auto;
}
.content_pic img {
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.content_pic:hover img {
	-webkit-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
	transform: matrix(1.04, 0, 0, 1.04, 0, 0);
}
.newsdetail {
	color: #8b8b8b;
	padding-top: 15px;
}
.newsdetail_left {
	float: left;
}
.newsdetail_left i {
	padding-right: 15px;
}
.newsdetail_left a {
	padding-left: 8px;
}
.newsdetail_right {
	float: right;
}
.newsdetail_right a {
	color: #999;
}
.newsdetail_right a:hover {
	color: #268aee;
}
.newsdetail_right i.fa {
	padding: 0 5px;
	font-size: 15px;
}


.jiamore {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background-color: #efefef;
}
.jiamore:hover {
	background-color: #e6e6e6;
}
.jiamore a {
	padding: 5px 10px;
	font-size: 16px;
	color: #000;
	cursor: pointer;
}
.newscontent_right {
	float: right;
	width: 800px;
	padding-top: 10px;
}
.newscontent_right h1 {
	color: #3d464d;
	font-size: 30px;
	font-weight: 600;
	margin: 20px 0px;
}
.content_info {
	height: 40px;
	clear: both;
	border-bottom: 1px solid #eee;
}
.content_info span.left {
	float: left;
	display: inline-block;
	width: 500px;
	color: #bbbbbb;
	font-size: 14px;
}
.content_info span.left i {
	color: #bbbbbb;
	margin-right: 5px;
}
.content_info span.left i a {
	color: #bbbbbb;
	font-size: 14px;
}
.content_info span.left i a:hover {
	color: #777;
	font-size: 14px;

}
.content_info span.left time {
	color: #bbbbbb;
}
.content_info span.left .zhuoze {
	color: #bbbbbb;
}
.content_info span.left span a {
	border: 1px solid #4285f4;
	border-radius: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 2px;
	padding-top: 1px;
	color: #4285f4;
	font-size: 15px;
}
.content_info span.left span a:hover {
	color: #ffffff;
	background-color:#4285f4;
	font-size: 15px;
}
.content_info span.right {
	float: right;
	display: inline-block;
	margin-top: -5px;
	width: 200px;
	height: 32px;
	text-align: right;
	font-size: 15px;
}
.content_info span.right a {
	padding: 0;
	color: #ccc;
	height: 32px;
	width: 32px;
	line-height: 32px;
	overflow: hidden;
	margin: 0;
	display: inline-block;
	background: url(../images16/shareicon_2.png) no-repeat
}
.content_info span.right .bds_more {
	margin-left: 0;
	background: 0 0;
	width: 50px
}
.content_info span.right .bds_tsina {
	background-position: 0 0
}
.content_info span.right .bds_tsina:hover {
	background-position: 0 -34px
}
.content_info span.right .bds_tqq {
	background-position: -108px 0
}
.content_info span.right .bds_tqq:hover {
	background-position: -108px -34px
}
.content_info span.right .bds_weixin {
	background-position: -144px 0
}
.content_info span.right .bds_weixin:hover {
	background-position: -144px -34px
}
.article_content {
	padding-top: 20px;
	font: 14px/1.5 "Microsoft YaHei", 微软雅黑, \9ed1\4f53, \5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}
.article_content p {
	line-height: 30px;
	padding: 15px 0;
	font-size: 16px;
	word-wrap: break-word;
	color: #444444;
}
.article_content p a {
	color: #4285f4;
}
.tc {
	text-align: center;
}
.newscontent_right2 {
	width: 780px;
}
.newscontent_right2 h1 {
	color: rgb(51, 51, 51);
	font-size: 30px;
	font-weight: 200;
	margin: 20px 0px;
}
.content_info2 {
	height: 30px;
	clear: both;
}
.content_info2 span.left {
	float: left;
	display: inline-block;
	width: 500px;
	color: #bbbbbb;
	font-size: 14px;
}
.content_info2 span.left i {
	color: #bbbbbb;
	margin-right: 5px;
}
.content_info2 span.left i {
	color: #4285f4;
	margin-right: 5px;
}
.content_info2 span.left i a {
	color: #bbbbbb;
	font-size: 14px;
}
.content_info2 span.left i a:hover {
	color: #777;
	font-size: 14px;

}
.content_info2 span.left time {
	color: #bbbbbb;
}
.content_info2 span.left .zhuoze {
	color: #bbbbbb;
}
.content_info2 span.left span a {
	border: 1px solid #4285f4;
	border-radius: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 2px;
	padding-top: 1px;
	color: #4285f4;
	font-size: 15px;
}
.content_info2 span.left span a:hover {
	color: #ffffff;
	background-color:#4285f4;
	font-size: 15px;
}

.content_info2 span.right {
	float: right;
	display: inline-block;
	margin-top: -5px;
	width: 200px;
	height: 32px;
	text-align: right;
}
.content_info2 span.right a {
	padding: 0;
	color: #ccc;
	height: 32px;
	width: 32px;
	line-height: 32px;
	overflow: hidden;
	margin: 0;
	display: inline-block;
	background: url(../images16/shareicon_2.png) no-repeat
}
.content_info2 span.right .bds_more {
	margin-left: 0;
	background: 0 0;
	width: 50px
}
.content_info2 span.right .bds_tsina {
	background-position: 0 0
}
.content_info2 span.right .bds_tsina:hover {
	background-position: 0 -34px
}
.content_info2 span.right .bds_tqq {
	background-position: -108px 0
}
.content_info2 span.right .bds_tqq:hover {
	background-position: -108px -34px
}
.content_info2 span.right .bds_weixin {
	background-position: -144px 0
}
.content_info2 span.right .bds_weixin:hover {
	background-position: -144px -34px
}
.article_content2 {
	padding-top: 20px;
	width: 780px;
	font: 14px/1.5 "Microsoft YaHei", 微软雅黑, \9ed1\4f53, \5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}
.article_content2 p {
	line-height: 30px;
	padding: 15px 0;
	font-size: 16px;
	word-wrap: break-word;
	color: #444444;
}
.article_content2 p a {
	color: #4285f4;
}
.copyright {
	background-color: #f6f8f9;
	padding: 20px 20px 20px 20px;
	margin: 20px 0 30px 0;
}
.copyright h3 {
	color: #666;
	font-size: 16px;
	padding-bottom: 10px;
}
.copyright p {
	font-size: 14px;
	color: #888;
	line-height: 26px;
}
.zhaiyao {
	border: 1px dashed #aaa;
	padding: 15px 15px 10px 20px;
	margin: 0px 0 10px 0;
	margin-top: 10px;
}
.zhaiyao h3 {
	color: #fff;
	background-color: #aaa;
	width: 45px;
	height: 25px;
	font-size: 15px;
	text-align: center;
	margin-top: -27px;
	line-height: 24px;
	border-radius: 5px;
}
.zhaiyao p {
	font-size: 15px;
	color: #888;
	line-height: 24px;
}
.foot3 {
	background: #ffffff;
	width: 100%;
	min-width: 1200px;
	padding: 35px 0;
}
.gr_banner2 {
	height: 300px;
	width: 100%;
	min-width: 1200px;
	background: url(../images16/banner6.jpg) no-repeat center top;
	position: relative;
}
.article2-list-wrap {
	float: right;
	padding-bottom: 20px;
}
.article2-list-wrap i {
	font-style: normal;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 17px;
	border: 3px solid #9dc2ff;
}
.category2-item {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	line-height: 35px;
	padding: 0 8px;
	color: #666;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	font-size: 15px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: 6px;
}
.category2-item.active {
	color: #fff;
	font-size: 15px;
	background-color: #4285f4;
	border: 1px solid #4285f4;
	border-radius: 5px;
}
.category2-item:hover {
	color: #fff;
	font-size: 15px;
	background-color: #4285f4;
	border: 1px solid #4285f4;
	border-radius: 5px;
}
.tagbox {
	float: left;
	font-size: 20px;
	line-height: 36px;
	color: #4285f4;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 15px;
	background-color: #fff;
	margin-bottom: 10px;
}
.home-news3 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.home-news3 li {
	padding: 10px 0 10px 0;
	padding-top: 20px;
	border-bottom: 1px dashed #e5e5e5;
}
.home-news3 li h2 {
	float: left;
	font-weight: 200;
}
.home-news3 li i {
	font-style: normal;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 3px;
	border: 3px solid #9dc2ff;
}
.home-news3 li span {
	float: right;
	font-size: 13px;
	color: #ccc;
	line-height: 30px;
}
.home-news3 li a {
	font-size: 17px;
	color: #444;
}
.home-news3 li a:hover {
	font-size: 17px;
	color: #4285f4;
}
.home-news3 li:after {
	content: "";
	clear: both;
	display: block;
}
.home-news3 .name {
	padding: 0 0 0 0px;
	font-size: 18px;
}
.home-news3 .title {
	margin: 0 0 10px 0;
}
.home-news3 .title span {
	font-size: 20px;
	display: block;
	line-height: 50px;
	border-bottom: 3px solid #0085da;
}
 @media (max-width:1000px) {
.jysearch input {
	width: 120px;
}
}
.cbinfo {
	height: 20px;
	position: relative;
}
.cbinfo p {
	color: #333;
	font-size: 16px;
}
.cbinfo i {
	color: #999;
	padding-top: 10px;
	display: block;
	font-size: 12px;
}
.cbshare {
	display: inline-block;
	position: absolute;
	right: 7px;
	background: url(../images16/share.png) no-repeat left center;
	height: 20px;
	width: 100px;
}
.cbshare .changeshare {
	position: absolute;
	z-index: 50;
	width: 75px;
	height: 20px;
	left: 30px;
	top: 0px;
	opacity: 0;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.cbshare:hover .changeshare {
	display: inline-block;
	left: 25px;
	opacity: 1;
}
.cbshare:hover {
	background: url(../images16/sharebg2.png) no-repeat left center;
}
/*share*/
.changeshare {
	position: absolute;
	z-index: 50;
	width: 75px;
	height: 20px;
	left: 25px;
	top: 10px;
}
.changeshare .sina {
	background-position: -6px -25px;
}
.changeshare dd:hover.sina {
	background-position: -6px -3px;
}
.changeshare .qq {
	background-position: -31px -25px;
}
.changeshare dd:hover.qq {
	background-position: -31px -3px;
}
.changeshare .wechat {
	background-position: -55px -25px;
}
.changeshare dd:hover.wechat {
	background-position: -55px -3px;
}
.changeshare dd {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	float: left;
	overflow: hidden;
	cursor: pointer;
	background: url(../images16/shareicon_small.png) no-repeat;
}
.newsdetail_right2 {
	margin-left: 135px;
	margin-bottom: -5px;
}
.newsdetail_right2 a {
	color: #999;
}
.newsdetail_right2 a:hover {
	color: #268aee;
}
.newsdetail_right2 i.fa {
	padding: 0 5px;
	font-size: 15px;
}




/*直播*/
.cb_banner {
	width: 100%;
	height: 187px;
	background: url(../images16/gbnews_banner.png) no-repeat center #268aee;
	clear: both;
}
.cb_left {
	float: left;
	width: 820px;
	color: #333;
}
.cb_left_top {
	height: 30px;
	line-height: 30px;
	padding: 20px 0 5px 0;
	text-align: center;
	border-bottom: 1px solid #ededed;
	color: #333;
	position: relative;
}
.cb_left_top i {
	font-size: 16px;
	color:#4285f4;
}
.cb_left_top input {
	border: 1px solid #ededed;
	padding:5px; padding-left:10px;
	border-radius:4px;
}
.cb_left_top span.f-fl {
	position: absolute;
	left: 0;
	top: 20px;
	display: inline-block;
	font-size: 16px;
}
.cb_left_top span.f-fr {
	position: absolute;
	right: 0;
	top: 20px;
	display: inline-block;
}
.cb_left_top span.f-fl b {
	font-size: 20px;
	color: #268aee;
	font-style: italic;
	font-weight: normal;
}
.cb_left_top span.f-fr a {
	display: inline-block;
	height: 23px;
	width: 23px;
	border-radius: 100%;
	background: url(../images16/shua.png) no-repeat center #268aee;
}
.cb_left_content {
	padding-left: 20px;
}
.cb_left_content ul {
	border-left: 1px solid #ededed;
	padding-bottom: 30px;
}
.cb_left_content ul li {
	clear: both;
	padding: 15px 0 15px 100px;
	border-bottom: 1px solid #ededed;
	position: relative;
	line-height:24px;
}
.cb_left_content ul li a{
	color:#4285f4;
}
.cb_left_content ul li img{
	margin-top:10px;
	margin-right:10px;
	box-shadow:0 3px 5px rgba(45, 50, 55, .2);
	border-radius:4px;
}
.cb_left_content ul li b{
}
.cb_left_content ul li.thefirst {
	color: #F00
}
.cb_time {
	height: 30px;
	line-height: 30px;
	width: 80px;
	position: absolute;
	top: 10px;
	left: -7px;
	display: inline-block;
	color: #268aee;
	background: url(../images16/dian_bg.png) no-repeat left center;
	padding-left: 20px;
}
.cb_right {
	float: right;
	width: 300px;
	padding-top: 55px;
}
.weyt_box {
}
.weyt_box h2 {
	text-align: center;
	border-top: 1px solid #268aee;
	border-bottom: 1px solid #ededed;
	padding: 15px 0;
	font-size:16px;
	color: #4285f4;
}
/*.weyt_box h2 span{ border-bottom:1px solid #268aee; display:inline-block; float:left; height:30px; line-height:30px;}*/
.weyt_box li img {
	width: 299px;
	height: 172px;
}
.weyt_box li:hover img {
	width: 299px;
	height: 172px;
}
.weyt_box ul li {
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #ededed;
}
.weyt_box ul li a {
	font-size: 14px;
}
.weyt_box ul li h3 {
	font-size: 14px;
	font-weight: normal;
}
.cb_bang {
	margin-bottom: 50px;
	border-top: 1px solid #ededed;
}
.cb_bang td {
	padding: 10px 0;
	border-bottom: 1px solid #ededed;
	text-align: center;
}
.cb_bang h2 {
	text-align: center;
	border-bottom: 1px solid #ededed;
	height: 40px;
	line-height: 40px;
}
.cb_bang h2 a {
	width: 48%;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.cb_bang h2 a.this {
	border-bottom: 1px solid #268aee;
}
.cb_hq {
	margin-bottom: 30px;
	border-top: 1px solid #ededed;
}
.cb_bang i {
	font-style: italic;
	color: #333;
}
.cb_hq h2 {
	text-align: center;
	border-bottom: 1px solid #ededed;
	padding: 0;
	height: 40px;
}
.cb_hq h2 a {
	display: inline-block;
	width: 70px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.cb_hq h2 a.this {
	border-bottom: 1px solid #268aee;
}
.cb_hq_tu {
	padding-top: 20px;
	text-align: center;
}
.cb_hq_tu img {
	width: 100%;
	height: auto;
	padding-top: 10px;
}
.color_red2 {
	color: #ff0000
}
.color_blue2 {
	color: #268aee
}
.color_green2 {
	color: #009900;
}
/*首页右上角修改,添加突发新闻*/
.hotnews {
	height: 40px;
	padding: 20px 0;
	border-bottom: 1px solid #ececec;
	position: relative;
	padding-left: 60px;
	line-height: 20px;
	word-wrap: break-word;
	word-break: break-all;
	text-align: justify;
}
.hotnews a {
	font-size: 16px;
}
.hotnews span.hotnews_title {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 20px;
	height: 40px;
	width: 40px;
	background: #4285f4;
}
.hotnews span.hotnews_title a {
	color: #FFF;
	display: inline-block;
	line-height: 14px;
	padding-top: 5px;
	text-align: center;
	width: 100%;
	font-size: 15px;
}
.hotnews span.hotnews_title a i {
	font-size: 11px;
}
.hotnews span.hotnews_title:after {
	content: " ";
	position: absolute;
	right: -7px;
	bottom: 0;
	border: solid;
	border-width: 7px 0px 0 7px;
	border-color: transparent transparent transparent #4285f4;
}
/*首页we言堂*/
.home_weyt {
	padding-bottom: 10px;
}
.home_weyt h2 {
	border-bottom: 1px solid #ececec;
	height: 50px;
	background: url(../images16/homewyt_bg.png) no-repeat left bottom;
}
.home_weyt h2 span {
	width: 90px;
	display: inline-block;
	float: left;
	border-bottom: 1px solid #4285f4;
	height: 50px;
	left: 50px;
}
.home_weyt a {
	font-size: 15px;
}
.home_weyt ul {
	padding-top: 10px;
}
.home_weyt ul li {
	height: 20px;
	line-height: 20px;
	padding: 10px 0;
	position: relative;
	padding-left: 10px;
}
.home_weyt ul li span.triang {
	position: absolute;
	top: 16px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent transparent #4285f4;
	-webkit-transform-origin: 25% center;
	transform-origin: 25% center;
	border-width: 4px;
}
/*弹窗页*/
.hotnews_1 {
	padding: 20px;
	width: 100%;
	position: absolute;
	right: -20px;
	top: 60px;
	display: none;
}

.hotnews_box {
	padding: 20px;
	position: relative;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, .4);
	z-index: 9999;
	background: #ffffff;
}

.hotnews_box span.close {
	height: 20px;
	line-height: 18px;
	border-radius: 100%;
	width: 20px;
	color: #fff;
	text-align: center;
	background: #4285f4;
	position: absolute;
	right: -9px;
	top: -9px;
	font-size: 14px;
	display: inline-block;
	z-index: 100;
	cursor: pointer;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.4);
}
.hotnews_box h1 {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ececec;
	font-weight: normal;
}
.hotnews_box h1 span.title {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	float: left;
	border-bottom: 1px solid #4285f4;
	color: #4285f4;
	font-size: 16px;
}
.hotnews_box h1 span.jiamore2 {
	float: right;
}
.hotnews_box h1 span.jiamore2 a {
	color: #999;
}
.hotnews_box h1 span.jiamore2 a:hover {
	color: #555;
}
.hotnews_box ul {
	padding-top: 15px;
}
.hotnews_box ul li {
	padding: 8px;
	font-size: 12px;
	padding-left: 70px;
	position: relative;
	background: url(../images16/hotnews_libg.png) no-repeat 50px -8px;
}
.hotnews_box ul li.thehot a, .hotnews_box ul li.thehot span.newstime {
	color: #CF302F
}
.hotnews_box ul li span.newstime {
	position: absolute;
	left: 0;
	top: 10px;
	color: #4285f4;
}
/*新增*/
.unique{
	width: 100%;
	margin-bottom: 25px;
}
.unique h2{
	display: inline-block;
	height: 8px;
	line-height: 8px;
	color: #3ea6f6;
	font-size: 16px;
	padding: 0 10px;
	margin: 20px 0;
	margin-top:5px;
	border-left: 2px solid #e1e1e1;
	border-right: 2px solid #e1e1e1;
}
.content{ margin-left:-16px;}
.content dl{
	width: 180px;
	margin-left: 23px;
	
	float: left;
	margin-bottom: 10px;
	background: #f9f9f9;
}
.content dt{
	position: relative;
}
.content .unique_pic{
	width: 180px;
	height: 101px;
	overflow: hidden;
}
.content dd {
	padding:8px;
	}
.content dd a{
	font-size: 12px;
	line-height: 20px;
	color: #444444;
	/*width:190px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break:break-all;*/  /**/
}
.content dt img{
	width: 180px;
	height: 101px;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.content dl{
	height:162px;
}
.content dl dt:hover img{
	-webkit-transform: matrix(1.04, 0, 0, 1.04, 0, 0);
	transform: matrix(1.04, 0, 0, 1.04, 0, 0);
	cursor: pointer;
}
.content dd a:hover{
	color: #3ca5f6;
}

.content span.Time{
	float: right;
	margin-right:2px;
	margin-top:1px;
	color: #cccccc;
	font-size: 10px;
}
.content i{
	padding: 3px 6px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 13px;
	position: absolute;
	top: 10px;
	left: -7px;
	background: #f85959;
}
.content i a{
	color: #FFFFFF;
}
.content i a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}
.content .s_title{
	background: #4662da;
}
.content .t_title{
	background: #0d6fca;
}
.content .fr_title{
	background: #4285f4;
}
.content i:after{
	content: '';
	display: block;
	position: absolute;
	bottom: -4px;
	left: 2px;
	border: 5px solid transparent;
	border-top: 5px solid  #f85959;
	width: 0;
	height: 0;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.content i.s_title:after {
	border-top: 5px solid #4662da;
}
.content i.t_title:after {
	border-top: 5px solid #0d6fca;
}
.content i.fr_title:after {
	border-top: 5px solid #4285f4;
}


/*舆情*/
.lwt { width:100%; padding-top:30px; height:240px; padding-bottom:30px; } 
.lwt-titlt { float:left;}
.xgrl { float:left; color:#7a6119; font-size:12px; line-height:35px; float:right; margin-right:8px;   }

.lwt-nn { float:left;}
.lwt-nn dt{ float:left; margin-right:15px; }
.lwt-nn dt img{	width: 123px; height: auto; margin-top:12px;}
.lwt-nn dd h2{ font-size: 16px;font-weight: normal;  font-family:"微软雅黑";line-height:21px;margin-top:10px; width: 300px;}
.lwt-nn ul{ margin-top:15px; width:100%; float:left;}
.lwt-nn ul li { line-height:24px;background:url(../images16/dian.jpg) no-repeat 0 10px; padding-left:17px;}
.lwt-nn ul li a:hover{ }

.Menubox2 {width:283px;float:left; margin-bottom:10px; padding-left:15px;padding-top:3px;border: 1px solid #eaeaea;}
.Menubox2 ul{margin:0px;padding:0px;}
.Menubox2 span { line-height:27px; width:100%; }
.Menubox2 li{ list-style:none;
 height:28px;
 margin-right:20px;
 line-height:25px;
 float:left;
 display:block;
 cursor:pointer;
 text-align:left;
 color: #3798e9;
 font-size:16px;
 font-family:"微软雅黑";

 }
.Menubox2 li.hover{
 font-size:16px;
 line-height:25px;
 color:#007dda;
 font-family:"微软雅黑";
 text-align:left;
 border-bottom:3px solid #3ca5f6; margin-bottom:-1px;
}

.Menubox4 {width:100%;float:left;}
.Menubox4 li.yu-time {float:right;color:#969696; border: 1px solid #f9f9f9;font-size:12px; font-weight:200;}
.Menubox4 ul{margin:0px; margin-left:5px;padding:0px;}
.Menubox4 li{ list-style:none;  margin-right:5px;
 height:24px;
 width:73px;
 line-height:24px;
 float:left;
 display:block;
 text-align:center;
 color:#3798e9;
 font-size:14px;
 font-family:"微软雅黑";

 }
.Menubox4 li.hover{
 padding:0px;
 width:73px;
 color:#007dda;
 font-family:"微软雅黑";
 text-align:center;
  font-size:14px;
  font-weight:bold;
}
.Menubox4 li.hover a { color:#007dda;}

.mod-mc { width:100%;}
.shgs { width:100%; float:left;}
.shgs-bq ul li { float:left; color:#676767; border-bottom:1px solid #f3db71; line-height:30px; }
.shgs-bq ul li.dt1 { width:70px; padding-left:3px; }
.shgs-bq ul li.dt2 { width:90px; }
.shgs-bq ul li.dt3 { width:75px; }

.shgs-ph { width:100%; height:132px; float:left;}
.shgs-ph ul li { float:left; line-height:27px; color:#333333;}
.shgs-ph ul li.t1 { width:120px; text-align:right; }
.shgs-ph ul li.t2 { width:85px; text-align:right; }

.hqbox2{ padding-top:30px; font-size:13px;}
.hqbox2 table{ width:100%;}
.hqbox2 table th{ padding:5px 0; background:#69bbf9; color:#fff;}
.hqbox2 table tr:hover a{ color:#69bbf9}
.hqbox2 table tr:hover{ background:#f8f8f8; color:#69bbf9}
.hqbox2 table td{ text-align:center; padding:4px 0; border-bottom:1px solid #ececec;}


/*新增切换模块*/
.hidden{
	display: none;
}
.cb_hq .tab_title ul,.cb_bang .tab_title ul {
	text-align: center;
	border-bottom: 1px solid #ededed;
	padding: 0;
	height: 40px;
}
.cb_hq .tab_title li,.cb_bang .tab_title li{
	float: left;
	position: relative;
	text-align: center;
}
.cb_bang .tab_title li{
	width: 50%;
}

/*.cb_hq .tab_title li:hover:after{
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #268aee;
}*/
.cb_hq .tab_title li a{
	display: inline-block;
	width: 75px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ededed;
	 
}
.cb_bang .tab_title li a {
	display: inline-block;
	width: 150px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ededed;
	 
}
 .tab_title .current:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #268aee;
}
/*友情链接*/
.friend_link{ padding-top:50px; width:1000px; margin:0 auto; }
.friend_link h2{  border-bottom:1px solid #ececec; font-size:20px; height:50px; line-height:50px; color:#4285f4; font-weight:normal; }
.friend_link h2 span{ border-bottom:1px solid #268aee; display:inline-block; padding:0 10px; height:48px; line-height:48px;  }
.friend_link_box {  clear:both; padding:40px 0; border-bottom:1px solid #ececec;}
/*.friend_link_box ul li{ float:left; padding-right:30px; padding-bottom:10px;}*/
.friend_link_box ul li{ float:left; border: 1px solid #eaeaea; margin: 5px 5px;text-align: center;}
/*.friend_link_box ul li a{padding:5px;border:1px dashed #fff;}*/
.friend_link_box ul li a{ line-height: 34px; display: inline-block;width: 120px;}
/*.friend_link_box ul li a:hover{ border:1px dashed #4285f4;  padding:5px;transition: all 0.2s linear; border-radius:5px;}*/
.friend_link_box ul li:hover{ border:1px dashed #4285f4; transition: all 0.2s linear; border-radius:5px;}
.friend_link_box ul {  display:block;   padding-left:150px; }
.friend_link_box h3{ padding-left:15px;  width:85px;   font-size:16px;  font-weight:normal;  color:#000; float:left; text-align:center;   }
.friend_link_box h3 span.flink_bg1{ background:url(../images16/flink_icon1.png) no-repeat center #268aee; width:85px; height:85px; border-radius:100%; display:inline-block;}
.friend_link_box h3 span.flink_bg2{ background:url(../images16/flink_icon2.png) no-repeat center #cb414f; width:85px; height:85px; border-radius:100%; display:inline-block;}
.friend_link_box h3 i{ color: #999}


body .friend-banner-img {
	position: relative;
}
body .friend-banner-img .friend-banner-img-middle {
	height: 150px;
	width: 100%;
	min-width:1200px;
	background: url(../images16/yq-banner.jpg) no-repeat center top;
	z-index: 1;
	text-align: center; 
	position: relative;
}
body .friend-banner-img .friend-banner-img-middle:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle
}
body .friend-banner-img .friend-banner-img-middle .title {
	vertical-align: middle;
	display: inline-block;
	background-color: rgba(0,0,0,0.4);
	padding: 15px 30px;
	color: #fff;
	margin-left:650px;
}
body .friend-banner-img .friend-banner-img-middle .title h1 {
	font-size: 24px;
	letter-spacing: 3px;
	margin-bottom: 0
}
body .friend-banner-img .friend-banner-img-middle .title p {
	font-size: 14px;
	letter-spacing: 1px
}
.topad{padding-bottom:10px;padding-top:10px;}
.topadleft{float:left; padding-right:15px;}
.topadleft span{float:right;}
.topadright{float:right; padding-left:15px;}
/*
.yjzbr {
	padding:10px;
	padding-left:15px;
	background-color: #EEEEEE;
	border-radius: 3px;
	margin-top:10px;
}
.yjzbr_title {
	color: #333;
	font-size: 12px;
	overflow: hidden;
}*/
.toprightpic .yjzbr {
	color: #333;
	overflow: hidden;
	padding:10px;
	background-color:#fff;
}
.toprightpic .yjzbr h2{
	position: absolute;
	top: 175px;
	left: 10px;
	text-align: left;
	color:#3ca5f6;
	line-height:24px;
	font-weight:100;
	font-size: 15px;
}
.yjzbr_title {
	color:#777;
	font-size: 12px;
	margin-top: 18px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.topgg{
	overflow:hidden;
}
.topgg ul{
	width:1175px; padding:10px 0;
}
.topgg ul li{
	float:left;
	width:231px;
	height:130px;
	background:#000;
	margin-right:4px;
	border-radius:4px;
	overflow:hidden
}