.Pdialog { padding: 0px; position: absolute; left: 46%; top: 20%; font-size: 12px; z-index: 1001; }
.Pdialog-main { width: 450px; z-index: 120; position: relative; border: 1px solid #aaa; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-radius: 5px; background-color: #fff; overflow: hidden; }
.Pdialog-iframe { width: auto; }
.Pdialog-main .Pdialog-title { background-color: #eaeaea; color: #000; font-size: 12px; font-weight: bold; padding: 5px 15px; line-height: 25px; text-align: left; border-bottom: solid 1px #cccccc; border-radius: 5px 5px 0 0; }
.Pdialog-main .Pdialog-content { padding: 0px; background-color: #fff; }
.Pdialog-main .Pdialog-close { position: absolute; right: 8px; top: 8px; height: 18px; width: 18px; }
.Pdialog-main a.pop-close { text-indent: -10000px; outline: 0 none; background: url(../images13/dialog.gif) no-repeat 0px 0px; cursor: pointer; height: 18px; width: 18px; display: block; }
.Pdialog-main a.pop-close:hover { background-position: -18px 0; }
.Pdialog-content .Pdialog-item-tab { background: #fff; height: 28px; border-bottom: 1px solid #cccccc; margin-top: 8px; }
.Pdialog-content .Pdialog-item-tab ul { height: 28px; border-top: 0 solid #000; position: relative; }
.Pdialog-content .Pdialog-item-tab li { font-size: 14px; font-family: 'Microsoft YaHei',SimSun; width: 45px; height: 27px; text-align: center; color: rgb(102, 102, 102); border: solid 1px #ccc; border-bottom: 0; background-color: #f5f5f5; float: left; font-size-adjust: none; font-stretch: normal; margin-left: 5px;list-style:none; }
.MacOS .Pdialog-content .Pdialog-item-tab li { font-family: 'lucida Grande', Verdana; }
.Pdialog-content .Pdialog-item-tab li.selected { height: 28px; color: rgb(51, 51, 51); position: relative; background-color: #fff; margin-bottom: -1px; }
.Pdialog-content .Pdialog-item-tab li a { line-height: 28px; }
.Pdialog-content .Pdialog-item-tab a:link { color: rgb(102, 102, 102); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab a:visited { color: rgb(102, 102, 102); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab a:hover { color: rgb(141, 0, 0); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:link { color: rgb(51, 51, 51); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.Pdialog-content .Pdialog-item-tab .selected a:hover { color: rgb(141, 0, 0); text-decoration: none; }
.Pdialog-content .Pdialog-item-panel { border: 0; padding: 5px; }
.Pdialog-item { display: none; }
.Pdialog-content .Pdialog-hot { padding: 3px 0 0 5px; display: block; }
.Pdialog-content .Pdialog-hot a { line-height: 25px; }
.Pdialog-item { display: none; }
.Pdialog-item li { display: inline-block; line-height: 22px; padding: 2px 0 2px 25px; border-bottom: 1px dashed #ddd; width: 92%; }
.Pdialog-item li strong { float: left; color: #b5cfd9; font-size: 16px; margin-left: -20px; padding-top: 3px; }
.Pdialog-item a { font-size: 12px !important; color: #0271b9 !important; float: left; margin-right: 5px; padding: 0 5px; text-decoration: none; white-space: nowrap; outline: 0 none; border: 1px solid #fff; }
.Pdialog-item a:hover, .Pdialog-item a.selected { background: #2680e9; color: #fff !important; text-decoration: none !important; border-color: #66acff #094fa1 #094fa1 #66acff; border-style: solid; border-width: 1px; }
.Pdialog-frame { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #000; opacity: 0; filter: alpha(opacity = 0); z-index: 110; }
.Pdialog-frame-wrap { width: 100%; height: 100%; position: absolute; top: -6px; left: -6px; background: #000; opacity: 0; filter: alpha(opacity = 0); z-index: 110; }
.Pdialog-shadow { width: 100%; height: 100%; position: absolute; top: 2px; left: 4px; background: #000; opacity: .2; filter: alpha(opacity = 30); z-index: 110; }
.Pdialog-shadow-wrap { width: 100%; height: 100%; position: absolute; top: -6px; left: -6px; background: #000; opacity: .2; filter: alpha(opacity = 30); z-index: 110; }
.tips_login { line-height: 20px; text-align: center; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135, Strength=6 ); -moz-box-shadow: 0 0 #969696; -webkit-box-shadow: 0 0 5px #969696; box-shadow: 0px 0px 5px #969696; background: none repeat scroll 0 0 #fffcd2; border: 1px solid #d4d4d4; color: black; left: 30%; padding: 8px 20px 5px; position: absolute; top: 40%; z-index: 100; }
.tips_login .close { text-indent: -10000px; cursor: pointer; width: 18px; height: 18px; position: absolute; right: -1px; top: 0; display: block; }
.p5w-dialog { border: 1px solid #aaa; box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); border-radius: 5px; background-color: #fff; padding: 0; }
.p5w-dialog .ui-dialog-titlebar { background-image: none; background-color: #eaeaea; color: #000; font-size: 12px; font-weight: bold; padding: 5px 15px; line-height: 25px; height: 25px; text-align: left; border: 0; border-bottom: solid 1px #cccccc; border-radius: 5px 5px 0 0; }
.p5w-dialog .ui-dialog-titlebar .ui-button-text { padding: 0; }
.p5w-dialog .ui-dialog-title { float: left; margin: .1em 0; white-space: nowrap; width: auto; overflow: hidden; text-overflow: ellipsis; }
.p5w-dialog .ui-dialog-titlebar-close { position: absolute; right: .5em; top: 50%; width: 21px; margin: -10px 0 0 0; padding: 1px; height: 20px; }
.p5w-dialog .ui-dialog-content { overflow: hidden; }
.p5w-dialog .ui-dialog-buttonpane { border-radius: 0 0 5px 5px; }

.dropdown { line-height: 24px; padding-left: 5px; width: 195px; display: inline-block; background: url(/fund/images13/dropdown.png) no-repeat right 0; float: left; height: 24px; margin-right: 5px; }
.dropdown dt { padding-bottom: 0px; line-height: 24px; margin: 0px; outline-style: none; padding-left: 0px; outline-width: 0px; padding-right: 0px; display: block; font-family: georgia; background: url(../images13/dropdown.png) no-repeat right 0; height: 24px; color: #383838; vertical-align: middle; overflow: hidden; cursor: pointer; padding-top: 1px; _font-family: tahoma; _padding: 0; }
.dropdown dd { z-index: 10; position: relative; padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; }
.dropdown dd div { border-bottom: #ccc 1px solid; position: absolute; border-left: #ccc 1px solid; padding-bottom: 0px; overflow-x: hidden; background-color: #f2f8ff; list-style-type: none; padding-left: 0px; padding-right: 0px; display: none; border-top: #ccc 1px solid; border-right: #ccc 1px solid; padding-top: 0px; top: -1px; left: -5px; box-shadow: 0 0 5px #999; -webkit-box-shadow: 0 0 5px #999; }
.dropdown dd a { padding-bottom: 1px; line-height: 24px; margin: 0px; padding-left: 5px; width: 100%; padding-right: 5px; display: block; font-family: "微软雅黑","宋体",arial; white-space: nowrap; height: 24px; color: #383838; text-decoration: none; padding-top: 1px; }
.dropdown dd a:hover { background-color: #79afed; color: #fff; text-decoration: none; }
.dropdown dd a.drop-selected:hover { background-color: #79afed; color: #fff; text-decoration: none; }
.dropdown dd a.drop-selected { background-color: #9fe9f6; color: #333; text-decoration: none; }

.dropdown { width: 103px; height: 29px; line-height: 29px; padding-left: 0px; margin-right: 0; background-image: url(../images14/fk_jjbg.png); background-repeat: no-repeat; background-position: right top; }
.dropdown dt { padding-left: 15px; height: 29px; line-height: 29px; text-align: left; background-image: url(../images14/fk_jjbg.png); background-repeat: no-repeat; background-position: right top; }
.dropdown dd div { left: 0; background-color: #fff; }
.dropdown dd a:hover { background-color: #f5f5f5; color: #666; text-decoration: none; }
.dropdown dd a.drop-selected:hover { background-color: #eaeaea; color: #666; text-decoration: none; }
.dropdown dd a.drop-selected { background-color: #eaeaea; color: #666; text-decoration: none; }

.p5w-stocksuggest { background: #fff; border: solid 1px #f9f9f9; padding: 0; margin: 0; width:220px; line-height:20px; border-radius: 0; }
.p5w-stocksuggest .ui-menu-item { list-style-image: none; }
.p5w-stocksuggest .ui-menu-item a { color: #666 ; height:20px;line-height:20px; }
.p5w-stocksuggest .ui-menu-item a.ui-state-hover,
.p5w-stocksuggest .ui-menu-item a.ui-state-focus{ border: 1px solid #0a83fe ; background: #0a83fe ; font-weight: normal ; color: #fff ; border-radius: 0; }

.p5w-stocksuggest .ui-menu-item span.code { width: 50px; }
.p5w-stocksuggest .ui-menu-item span.type { width: 50px; }
.p5w-stocksuggest .ui-menu-item span.option { width: 80px; }
.p5w-stocksuggest .ui-menu-item span.name { width: 60px; }
.p5w-stocksuggest .ui-menu-item em { color: red; font-style: normal; }
.p5w-stocksuggest .ui-menu-item span { display: block; line-height: 20px; height: 20px; float: left; text-align: center; font-size: 12px; }

.p5w-stocksuggest .ui-autocomplete-category { line-height: 25px; height: 25px; background-color: #f7f7f7; border-bottom: solid 1px #f2f2f2; }
.p5w-stocksuggest .ui-autocomplete-category span { background-color: #f7f7f7; display: block; line-height: 25px; height: 25px; float: left; text-align: center; font-size: 12px; color: #666; }
.p5w-stocksuggest .ui-autocomplete-category span.code { width: 50px; }
.p5w-stocksuggest .ui-autocomplete-category span.type { width: 50px; }
.p5w-stocksuggest .ui-autocomplete-category span.option { width: 80px; }
.p5w-stocksuggest .ui-autocomplete-category span.name { width: 60px; }
span.red, span.r { color: #ff0000; }

.myhide {
    display: none;
}

.news-pic-focus {
    width: 532px;
    height: 299px;
    float: left;
    background: #fff;
    overflow: hidden;
}

.news-photo {
    margin: 0 auto;
    width: 532px;
    height: 299px;
    overflow: hidden;
    background:#fff;
}

.news-photo .container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
    position: relative;

    -moz-box-sizing: border-box; /*Firefox3.5+*/
    -webkit-box-sizing: border-box; /*Safari3.2+*/
    -o-box-sizing: border-box; /*Opera9.6*/
    -ms-box-sizing: border-box; /*IE8*/
    box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/

}

.news-photo .container:before,
.news-photo .container:after {
    display: table;
    content: "";
    line-height: 0;
}
.news-photo .container:after {
    clear: both;
}
.news-photo .naviarrow {
    cursor: pointer;
    width: 40px;
    height: 64px;
    background: url(../images16/arrows.png) no-repeat;
    position: absolute;
    top: 115px;
    z-index: 100;
}
.news-photo .slidesjs-previous {
    left: 0;
}
.news-photo .slidesjs-previous:hover {
    background-position: -45px 0;
}
.news-photo .slidesjs-next {
    background-position:0 -75px;
    right: 0;
}
.news-photo .slidesjs-next:hover {
    background-position: -45px -75px;
}
/*.news-photo .slidesjs-slide {
    position: relative;
}*/

.news-photo .slidesjs-slide:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: -webkit-gradient(linear, 0 60%, 0 100%, from(rgba(0, 0, 0, 0)), to(#121515));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
}
.news-photo .slidesjs-slide a {
    display: block;
    width: 100%;
    height: 330px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}

.news-photo .slidesjs-slide h2 {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    bottom: 40px;
    z-index: 30;
    color: #fff;
    font-size: 23px;
    font-weight: normal;
}

.news-photo ul.slidesjs-pagination {
    width: 135px;
    height: 10px;
    position: relative;
    bottom: 25px;
    z-index: 30;
    margin: 0 auto;
    display: block;
}

.news-photo ul.slidesjs-pagination li.slidesjs-pagination-item {
    width: 22px;
    height: 4px;
    margin: 0 5px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
    float: left;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
}

.news-photo ul.slidesjs-pagination li.slidesjs-pagination-item a {
    display: block;
}

.news-photo ul.slidesjs-pagination li.slidesjs-pagination-item a.active {
    background: #fff;
}

/* xingu */
.news-photo-xingu {
    margin: 0 auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
    background:#fff;
}

.news-photo-xingu .container {
    width: 300px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
    position: relative;
}
.news-photo-xingu .container:before,
.news-photo-xingu .container:after {
    display: table;
    content: "";
    line-height: 0;
}
.news-photo-xingu .container:after {
    clear: both;
}
.news-photo-xingu .naviarrow {
    cursor: pointer;
    width: 30px;
    height: 40px;
    background: url(../images16/arrows.png) no-repeat;
    position: absolute;
    top: 80px;
    z-index: 100;
}
.news-photo-xingu .slidesjs-previous {
    left: 0;
    background-position: 0px -145px;
}
.news-photo-xingu .slidesjs-previous:hover {
    background-position: -30px -145px;
}
.news-photo-xingu .slidesjs-next {
    background-position:0 -195px;
    right: 0;
}
.news-photo-xingu .slidesjs-next:hover {
    background-position: -30px -195px;
}
.news-photo-xingu .slidesjs-slide {
    position: relative;
}

.news-photo-xingu .slidesjs-slide:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: -webkit-gradient(linear, 0 60%, 0 100%, from(rgba(0, 0, 0, 0)), to(#121515));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
}
.news-photo-xingu .slidesjs-slide a {
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}

.news-photo-xingu .slidesjs-slide h2 {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    bottom: 20px;
    z-index: 30;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

/* show */
.news-photo-show {
    margin: 0 auto;
    width: 300px;
    height: 190px;
    overflow: hidden;
    /*background:#fff;*/
}

.news-photo-show .container {
    width: 300px;
    height: 190px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
    position: relative;
}
.news-photo-show .container:before,
.news-photo-show .container:after {
    display: table;
    content: "";
    line-height: 0;
}
.news-photo-show .container:after {
    clear: both;
}

.news-photo-show .slidesjs-slide {
    position: relative;
}

.news-photo-show .slidesjs-container:after {
    content: "";
    clear: both;
}

.news-photo-show ul.slidesjs-pagination {
    width: 65px;
    height: 20px;
    position: relative;
    bottom: 15px;
    z-index: 30;
    margin: 0 auto;
    padding: 0;
    display: block;
}

/*.news-photo-show ul.slidesjs-pagination li.slidesjs-pagination-item {
    width: 22px;
    height: 4px;
    margin: 0 5px;
    padding: 0;
    border-radius: 4px;
    background: rgba(153, 153, 153, 0.5);
    float: left;
    clear: none;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
}

.news-photo-show ul.slidesjs-pagination li.slidesjs-pagination-item a {
    display: block;
}

.news-photo-show ul.slidesjs-pagination li.slidesjs-pagination-item a.active {
    background: #666;
}*/

/*
.news-photo-show .slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}
*/

.news-photo-show .slidesjs-pagination li {
    background: none;
    float: left;
    margin: 0 4px;
    padding: 0;
    clear: none;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
}

.news-photo-show .slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background: url(../images16/pagination.png) 0 0;
    /*background-position: 0 0;*/
    float: left;
    overflow: hidden;
}

.news-photo-show .slidesjs-pagination li a.active,
.news-photo-show .slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.news-photo-show .slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

.width340 {
    width: 340px;
    margin: 0 auto;
}

.width345 {
    width: 345px;
    margin: 0 auto;
}

.sbRight {
    width: 360px;
    margin: 0 auto;
    float: right;

    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

.photo-news {
    position: relative;
}

.photo-news .slide img {
    width: 532px;
    height: 299px;
}

.photo-news .slides_container {
    width: 532px;
    overflow: hidden;
    position: relative;
    display: none;
}

.photo-news .slides_container div.slide {
    width: 532px;
    height: 299px;
    display: block;
}

.photo-news .slides_container div.slide:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: -webkit-gradient(linear, 0 60%, 0 100%, from(rgba(0, 0, 0, 0)), to(#121515));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
}

.photo-news .slides_container div.slide a {
    display: block;
    width: 100%;
    height: 299px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}

.photo-news .slides_container div.slide h2 {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    bottom: 40px;
    z-index: 30;
    color: #fff;
    font-size: 23px;
    font-weight: normal;
}

.photo-news .sildes-pagination {
    width: 135px;
    height: 10px;
    position: relative;
    bottom: 25px;
    z-index: 30;
    margin: 0 auto;
    display: block;
}

.photo-news .sildes-pagination li {
    width: 22px;
    height: 4px;
    margin: 0 5px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
    float: left;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
}

.photo-news .sildes-pagination li a {
    display: block;
}

.photo-news .sildes-pagination li.current a {
    background: #fff;
}

.photo-news .sildes-pagination li.current a:hover {

}

.photo-news .naviarrow {
    cursor: pointer;
    width: 40px;
    height: 64px;
    background: url(../images16/arrows.png) no-repeat;
    position: absolute;
    top: 115px;
    z-index: 100;
}

.photo-news .prev {
    left: 0;
}

.photo-news .prev:hover {
    background-position: -45px 0;
}

.photo-news .next {
    background-position: 0 -75px;
    right: 0;
}

.photo-news .next:hover {
    background-position: -45px -75px;
}

.photo-news .caption {
    z-index: 500;
    position: absolute;
    bottom: 40px;
    left: 0;
    height: 35px;
    width: 532px;
}

.photo-news .caption .bg {
    /*background: #000;*/
    /*filter: alpha(opacity=50);*/
    /*-moz-opacity: 0.5;*/
    /*-khtml-opacity: 0.5;*/
    /*opacity: 0.5;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 532px;
}

.photo-news .caption .bg h2 {
    color: #fff;
    font-size: 23px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-align: center;
    width: 532px;
    z-index: 1;
}

.photo-news .caption a,
.photo-news .caption a:link,
.photo-news .caption a:visited,
.photo-news .caption a:active,
.photo-news .caption a:hover {
    text-decoration: none;
    color: #fff;
}

.photo-xingu {
    position: relative;
}

.photo-xingu .slide img {
    width: 300px;
    height: 200px;
}

.photo-xingu .slides_container {
    width: 300px;
    overflow: hidden;
    position: relative;
    display: none;
}

.photo-xingu .slides_container div.slide {
    width: 300px;
    height: 200px;
    display: block;
}

.photo-xingu .slides_container div.slide:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: -webkit-gradient(linear, 0 60%, 0 100%, from(rgba(0, 0, 0, 0)), to(#121515));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #121515);
}

.photo-xingu .slides_container div.slide a {
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}

.photo-xingu .slides_container div.slide h2 {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    bottom: 20px;
    z-index: 30;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.photo-xingu .sildes-pagination {
    width: 65px;
    height: 20px;
    position: relative;
    bottom: 15px;
    z-index: 30;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.photo-xingu .sildes-pagination li {
    background: none;
    float: left;
    margin: 0 4px;
    padding: 0;
    clear: none;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
}

.photo-xingu .sildes-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background: url(../images16/pagination.png) 0 0;
    /*background-position: 0 0;*/
    float: left;
    overflow: hidden;
}

.photo-xingu .sildes-pagination li.current a {
    background-position: 0 -13px
}

.photo-xingu .sildes-pagination li.current a:hover {
    background-position: 0 -26px
}

.photo-xingu .naviarrow {
    cursor: pointer;
    width: 30px;
    height: 40px;
    background: url(../images16/arrows.png) no-repeat;
    position: absolute;
    top: 80px;
    z-index: 100;
}

.photo-xingu .prev {
    left: 0;
    background-position: 0px -145px;
}

.photo-xingu .prev:hover {
    background-position: -30px -145px;
}

.photo-xingu .next {
    background-position:0 -195px;
    right: 0;
}

.photo-xingu .next:hover {
    background-position: -30px -195px;
}

.photo-xingu .caption {
    z-index: 500;
    position: absolute;
    bottom: 20px;
    left: 0;
    height: 35px;
    width: 300px;
}

.photo-xingu .caption .bg {
    /*background: #000;*/
    /*filter: alpha(opacity=50);*/
    /*-moz-opacity: 0.5;*/
    /*-khtml-opacity: 0.5;*/
    /*opacity: 0.5;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 300px;
}

.photo-xingu .caption .bg h2 {
    color: #fff;
    font-size: 23px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 1;
}

.photo-xingu .caption a,
.photo-xingu .caption a:link,
.photo-xingu .caption a:visited,
.photo-xingu .caption a:active,
.photo-xingu .caption a:hover {
    text-decoration: none;
    color: #fff;
}

.photo-show {
    position: relative;
    width: 300px;
    height: 190px;
    overflow: hidden;
}

.photo-show .slides_container {
    width: 300px;
    overflow: hidden;
    position: relative;
    display: none;
}

.photo-show .slides_container div.slide {
    width: 300px;
    height: 190px;
    display: block;
}

.photo-show .sildes-pagination {
    width: 65px;
    height: 20px;
    position: relative;
    bottom: 15px;
    z-index: 30;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.photo-show .sildes-pagination li {
    background: none;
    float: left;
    margin: 0 4px;
    padding: 0;
    clear: none;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
}

.photo-show .sildes-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background: url(../images16/pagination.png) 0 0;
    /*background-position: 0 0;*/
    float: left;
    overflow: hidden;
}

.photo-show .sildes-pagination li.current a {
    background-position: 0 -13px
}

.photo-show .sildes-pagination li a:hover,
.photo-show .sildes-pagination li.current a:hover {
    background-position: 0 -26px
}