/* reset */

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, input, select, textarea, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit;
font-size:100%; font-family:inherit; vertical-align:baseline; line-height: 1.25;}
:focus {outline:0;outline-color:transparent;}
ol, ul {list-style:none;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
.clear {clear:both;height:0;overflow:hidden;}


/* main */

html, body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #414141;
}
a {
    color: #0071B3;
    text-decoration: none;
}
a:hover, a:focus {
    color: #018FE2;
    text-decoration: underline;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
    box-shadow: none;
}
.width {
    max-width: 970px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 0.8%;
}
#header-wrapper {
    margin: 20px 0 30px 0;
}
#logo {
    max-width: 510px;
    max-height: 140px;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}
#header ol {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 1.4em;
    padding: 0;
    counter-reset: li-counter;
}
#header ol > li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 0.5em;
    min-height: 2.8em;
    border-left: 2px solid #CCCCCC;
}
#header ol > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #556A72;
    content: counter(li-counter);
    counter-increment: li-counter;
}
#header-left {
    float: left;
    width: 580px;
    position: relative;
    font-size: 1.025em;
}
#header-left img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}
#header-right {
    float: right;
    height: 280px;
    width: 336px;
    overflow: hidden;
}
#main {
    margin-bottom: 30px;
    background-color: #F0FAFA;
    padding: 30px 0 0 0;
    overflow: hidden;
    border-top: 2px solid #47A4A5;
    border-bottom: 2px solid #47A4A5;
}
#desc {
    margin-bottom: 20px;
}
.ha-wrapper {
    margin-bottom: 30px;
    padding: 0;
}
.ha {
    width: 728px;
    max-height: 90px;
    margin: 0 auto;
    overflow: hidden;
}
.hl {
    width: 100%;
    max-width: 728px;
    max-height: 15px;
    margin: 0 auto;
    overflow: hidden;
}
.no-adb .ha-wrapper {
    background-color: #F0FAFA;
}
#footer {
    color: #999999;
    font-size: 0.9em;
    padding: 0 0 20px 0;
}
#footer-privacy {
    margin-top: 20px;
}
#footer-copy {
    margin-top: 10px;
    font-size: 0.8em;
}
#bottom {
    text-align: center;
}
.x-pretty-alert {
    text-align: center;
    margin-top: 20px;
}
#like-it {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #414141;
}
#alter-right {
    display: none;
    height: 280px;
}
.adb #alter-right {
    display: block;
}
.status-wrapper {
    display: block;
    width: 126px;
    height: 96px;
    background-color: #FFFFFF;
}
.status-icon {
    background: transparent url(/images/status-icons.png) no-repeat scroll left top;
    display: block;
    width: 37px;
    height: 37px;
    opacity: 0.7;
    position: absolute;
    top: 10px;
    left: 45px;
    z-index: 100;
}
.status-text {
    text-align: center;
    overflow: hidden;
    color: #000000;
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    top: 52px;
    z-index: 100;
    width: 100%;
    opacity: 0.7;
    letter-spacing: 1px;
}
.status-error {
    background-position: -2px 0px;
}
.status-settings {
    background-position: -40px 0px;
}
.status-converting {
    width: 40px;
    height: 40px;
    background-position: -78px 0px;
}
.status-waiting {
    background-position: -117px 0px;
}
.status-save {
    background-position: -155px 0px;
}
.status-delete {
    background-position: -193px 0px;
}
.status-uploading {
    background-position: -232px 0px;
}
#download-all {
    display: block;
    min-width: 145px;
    height: 33px;
    margin: 10px auto 30px auto;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
#download-all .ui-icon {
    background-image: url(ui-theme/images/ui-icons_ffffff_256x240.png);
}
.plupload_file_wrapper .ui-icon {
    background-image: url(ui-theme/images/ui-icons_888888_256x240.png);
}
.plupload_file_wrapper .ui-icon:hover {
    background-image: url(ui-theme/images/ui-icons_454545_256x240.png);
}
.plupload_file_wrapper.ui-button-inverse .ui-icon {
    background-image: url(ui-theme/images/ui-icons_e6e6e6_256x240.png);
}
.plupload_file_wrapper.ui-button-inverse .ui-icon:hover {
    background-image: url(ui-theme/images/ui-icons_ffffff_256x240.png);
}
.ui-dialog .ui-button {
    outline: 0;
}
.ui-widget-overlay {
    background: none !important;
}
#carousel-prev.ui-button {
    background: transparent url(/images/left-arrow.png) center center no-repeat;
    border: none;
}
#carousel-next.ui-button {
    background: transparent url(/images/right-arrow.png) center center no-repeat;
    border: none;
}
#carousel-prev .ui-icon, #carousel-next .ui-icon {
    display: none;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 0.25;
}
#carousel .ui-state-default {
    background-color: #FFF0ED;
}
#carousel .ui-state-active {
    background-color: #FFF0ED;
    border-color: #CCCCCC;
}
#carousel .ui-button-inverse {
    background-color: #40A1A2;
    border-color: #888888;
}
#carousel .ui-button-inverse.ui-state-active {
    background-color: #40A1A2;
}
.ui-dialog .ui-button-text {
    display: none !important;
}
.ui-state-active {
    cursor: pointer;
}
.ui-state-active .status-wrapper:hover {
    opacity: 0.6;
}
.ui-state-active .plupload_thumb:hover .status-icon,
.ui-state-active .plupload_thumb:hover .status-text {
    opacity: 1;
}
#main .ui-button {
    height: 33px;
    padding-top: 0;
    padding-bottom: 0;
}
#main .ui-button.ui-button-icon-only {
    height: 30px;
}
#main .ui-button.ui-button-icon-only .ui-icon {
    margin-top: 6px;
}
.ui-button-success {
    background-color: #47A4A5;
    border-color: #47A4A5;
    color: #FFFFFF;
}
.ui-button-success:hover {
    background-color: #429899;
    border-color: #429899;
    color: #FFFFFF;
}
.ui-button-danger {
    background-color: #E47D69;
    border-color: #E47D69;
    color: #FFFFFF;
}
.ui-button-danger:hover {
    background-color: #D67563;
    border-color: #D67563;
    color: #FFFFFF;
}
.ui-button-inverse {
    background-color: #7A7A7A;
    border-color: #7A7A7A;
    color: #FFFFFF;
}
.ui-button-inverse:hover {
    background-color: #6E6E6E;
    border-color: #6E6E6E;
    color: #FFFFFF;
}
#formats-list {
    padding-left: 1%;
    font-size: 0.9em;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
}
#formats-list li {
    text-align: left;
    display: block;
    float: left;
    width: 48%;
    min-width: 300px;
}
.format-ext, .format-desc {
    display: inline-block;
}
.format-ext {
    width: 65px;
    font-weight: bold;
}
.ui-dialog {
    max-width: 800px;
}


/* for carousel */

#carousel-wrapper {
    position: relative;
    height: 152px;
    margin: 0 1% 20px 1%;
    background-image: url(/images/squared_metal.png);
}
#carousel-wrapper .ui-button, #carousel-wrapper .ui-icon {
    padding: 0;
}
#container {
    height: 142px;
    margin: 5px 0;
    overflow: hidden;
    position: absolute;
}
#carousel {
    width: 100%;
    height: 142px;
    overflow: hidden;
}
#carousel-prev-wrapper, #carousel-next-wrapper {
    width: 22px;
    height: 152px;
    position: absolute;
    padding-top: 26px;
    background-color: #F0FAFA;
}
#carousel-prev-wrapper {
    left: 0;
}
#carousel-next-wrapper {
    right: 0;
    padding-left: 4px;
}
#carousel-next, #carousel-prev {
    width: 20px;
    height: 100px !important;
}
#carousel-next .ui-icon, #carousel-prev .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
#upload-buttons-wrapper {
    width: 310px;
    margin: 0 auto 30px auto;
    height: 33px;
    position: relative;
}
#upload-buttons-wrapper .ui-button-text, #toolbar .ui-button-text {
    font-weight: bold;
    padding-left: 1.8em;
    text-transform: uppercase;
}
#upload-buttons-wrapper .ui-icon {
    background-image: url(ui-theme/images/ui-icons_ffffff_256x240.png);
}
#upload-buttons-wrapper .ui-button {
    height: 33px;
}
#pick-files, #reset-all {
    font-size: 13px;
    position: absolute;
    top: 0;
    width: 145px;
}
#pick-files {
    left: 0;
}
#reset-all {
    right: 0;
}
#main .ui-button-text {
    line-height: 31px;
    padding-top: 0;
}
#main .ui-button-text-icon-primary {
    padding-top: 0;
}
#main .ui-button .ui-icon {
    margin-top: 7px;
}


/* for plupload */

.plupload_file_wrapper {
    height: 140px;
    width: 146px;
    margin: 0 auto;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 4px;
    position: relative;
}
.plupload_file_wrapper > div {
    cursor: move;
}
.plupload_file_wrapper div.plupload_file_button {
    cursor: pointer !important;
}
.plupload_filelist li {
    float: left;
    display: block;
}
.plupload_file_name {
    float: left;
    overflow: hidden;
    width: 100px;
    height: 17px;
}
.plupload_file_action {
    float: right;
    width: 16px;
    height: 16px;
    margin: -1px -2px 0 0;
}
.plupload_file_action .plupload_file_icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.plupload_clearer {
    clear: both;
}
.plupload_file_status {
    text-align: center;
    font-size: 0.9em;
    position: absolute;
    z-index: 999;
    bottom: 8px;
    color: #333333;
    width: 126px;
    line-height: 17px;
    font-weight: bold;
    font-size: 11px;
}
.plupload_thumb_wrapper {
    background: #FFFFFF url(/images/grid.png) repeat;
    border: inherit;
    overflow: hidden;
    margin-top: 5px;
}
.plupload_thumb {
    width: 126px;
    height: 77px;
    background-color: #FFFFFF;
    position: relative;
}
.plupload_file_progress {
    border: inherit;
    border-radius: 3px 3px 3px 3px;
    margin-top: 5px;
    overflow: hidden;
    width: auto;
    background-color: #FFFFFF;
}
.plupload_file_progress_bar {
    background-color: #FFDB84;
    height: 18px;
    width: 0;
}
#plupload_drop {
    color: #C5C5C5;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 62px;
    z-index: 10;
}
.plupload_file_wrapper .ui-icon {
    background-image: url(ui-theme/images/ui-icons_888888_256x240.png);
}
.plupload_thumb_wrapper {
    background: #FFFFFF url(/images/grid.png) repeat;
    border: inherit;
}
.plupload_thumb_extra {
    text-align: center;
    overflow: hidden;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    z-index: 50;
    width: 126px;
    opacity: 0.6;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
.ui-state-active .plupload_thumb_extra {
    display: none;
}
.plupload_file_button {
    display: none;
    border: inherit;
    border-radius: 3px 3px 3px 3px;
    margin-top: 5px;
    overflow: hidden;
    width: auto;
    background-color: #FFDB84;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}
.plupload_file_button:hover {
    background-color: #FFCF5E;
    color: #222222;
}


/* for rotation */

.status-converting {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;  
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}


/* share */

#share {
    width: 300px;
    margin: 10px auto 0 auto;
    text-align: center;
}
#share .pop {
    margin: 0 5px;
}
.share-bw {
    background: url(/images/social-icons.png) no-repeat scroll left top transparent;
    display: inline-block;
    width: 49px;
    height: 49px;
    line-height: 0;
    margin: 0;
}
.share-bw-facebook {
    background-position: -1px -1px;
}
.share-bw-facebook:hover {
    background-position: -1px -51px;
}
.share-bw-twitter {
    background-position: -50px -1px;
}
.share-bw-twitter:hover {
    background-position: -50px -51px;
}
.share-bw-googleplus {
    background-position: -99px -1px;
}
.share-bw-googleplus:hover {
    background-position: -99px -51px;
}
.share-bw-stumbleupon {
    background-position: -148px -1px;
}
.share-bw-stumbleupon:hover {
    background-position: -148px -51px;
}
.share-bw-reddit {
    background-position: -197px -1px;
}
.share-bw-reddit:hover {
    background-position: -197px -51px;
}
.share-bw-vkontakte {
    background-position: -246px -1px;
}
.share-bw-vkontakte:hover {
    background-position: -246px -51px;
}


/* for Polyglot Language Switcher */

#pls, #pls * {
    margin: 0;
    padding: 0; 
    outline: none;
    text-align: left;
}
#pls ul {
    list-style: none;   
}
#pls {
    font-size: 12px;
    color: #C8C8C8;
    line-height: normal;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
}
#pls form {
    display: none;  
}
#pls a {
    text-decoration: none;
    display: block; 
    padding: 0.4em 6px 0.4em 6px;
    color: #000000;
    width: 90px;
    background-repeat: no-repeat;
    background-position: 6px center;
}
#pls a:hover {
    color: #FFFFFF; 
}
#pls a.current:link, #pls a.current:visited, #pls a.current:active {
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    overflow: hidden;
    background-color: #FFF0ED;
}
#pls a.current.active {
    border-color: #E37863;
}
#pls a.current:hover, 
#pls ul.dropdown li:hover {
    background: #E37863;
    color: #FFFFFF;
}
#pls a.active {
    border-bottom: none !important;
    border-radius: 3px 3px 0 0 !important;
    overflow: hidden;
}
#pls span.trigger {
    display: block;
    position: absolute;
    width: 9px;
    height: 5px;
    text-indent: -10000em;
    top: 0.85em;
    right: 6px;
}
#pls a.current:link span.trigger, #pls a.current:visited span.trigger {
    background: url(/common/images/arrow-down.gif) no-repeat left bottom;   
}
#pls a.current:hover span.trigger {
    background: url(/common/images/arrow-down-white.gif) no-repeat left bottom; 
}
#pls ul.dropdown { 
    display: none;
    position: absolute;
    left: 0;
    background-color: #FFF0ED;
    border: 1px solid #E37863;
    border-top: none !important;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    width: 90px;
}
#pls ul.dropdown li { 
    border-top: 1px dotted #5C5C5C;
}


/* test

#header ol > li::before {
    display: none;
}
#header ol > li {
    display: inline;
    border: none;
    padding-left: 0;
}
#header-right {
    display: none;
}
#header-left {
    float: none;
    width: 100%;
    text-align: center;
}
#logo {
    margin-left: auto;
    margin-right: auto;
}
#pls {
    margin-top: -10px;
}
#desc, #header ol {
    display: inline;
    margin-left: 0;
}
#desc {
    margin-bottom: 0;
}
#header-left img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
#header-wrapper {
    margin-bottom: 25px;
}

*/

/* responsive */

@media only screen and (max-width: 960px) {
    #header-right {
        display: none;
	width: 0;
	height: 0;
    }
    #header ol {
        display:  none;
    }
    #header-left {
        float: none;
        width: 100%;
        text-align: center;
    }
    #logo {
        margin-left: auto;
        margin-right: auto;
    }
    #pls {
        margin-top: -10px;
    }
    #desc {
        margin-bottom: 0;
    }
    #header-left img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    #header-wrapper {
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 720px) {
    .width {
        padding: 0;
    }
    #header-left {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    .ha {
        width: 468px;
        max-height: 60px;
    }
}
@media only screen and (max-width: 480px) {
    #upload-buttons-wrapper {
        width: 300px;
    }
    .ha {
        width: 320px;
        max-height: 50px;
    }
    .ha-wrapper {
        margin-top: -10px;
        margin-bottom: 20px;
    }
    #pls {
        display: none;
    }
}

