/* Tipografia */
@font-face {
    font-family: "liberation_sansregular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/LiberationSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/LiberationSans-Regular-webfont.woff") format("woff"), url("fonts/LiberationSans-Regular-webfont.ttf") format("truetype"), url("fonts/LiberationSans-Regular-webfont.svg#liberation_sansregular") format("svg");
}
@font-face {
    font-family: "liberation_sansbold";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/LiberationSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/LiberationSans-Bold-webfont.woff") format("woff"), url("fonts/LiberationSans-Bold-webfont.ttf") format("truetype"), url("fonts/LiberationSans-Bold-webfont.svg#liberation_sansbold") format("svg");
}

/* Geral */
body {
    font-family: "liberation_sansregular",Helvetica,Arial,sans-serif;
}
body.site {
    border: medium none !important;
    padding: 0 !important;
}
.body .container {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0px;
}
/* Topo */
.modulo-icones-barratopo > ul {
    margin: 5px 0 0;
}
.modulo-icones-barratopo li {
    display: inline;
}
.modulo-icones-barratopo a, .modulo-icones-barratopo a:hover {
    /*background: rgba(0, 0, 0, 0) url("../images/webmail-icon.png") no-repeat scroll 0 0;*/
    display: inline;
    padding-right: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

.header {
  /*  margin: 22px 0 20px;  */
  margin: 9px 0 3px;
}
.brand {
    padding-top: 10px;
}
.header-search .form-search {
    float: left;
    margin: 0 25px;
}
.header .finder {
    position: relative;
}
.header .finder input.input-medium {
    border-radius: 0;
    color: #999;
    font-size: 10px;
    padding-right: 30px;
    text-align: right;
}
.header .finder input.input-medium:focus {
    color: #333;
    text-align: left;
}
.header .finder .btn.finder {
    background: none;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 15px;
    line-height: 22px;
    padding: 5px;
    position: absolute;
    right: 0;
}
/* Menu */
.navigation {
    border: medium none;
    margin: 0;
    padding: 0;
}
.navigation .nav {
    clear: both;
    float: none;
  	z-index: 1;
}
/*.navigation .nav > li {
    border-left: 2px solid #009999;*/
}
.navigation .nav > li:last-child {
    border-right: 2px solid #009999;
}
.navigation .nav > li > a {
    color: #646363; /* Alterado DE #006666 PARA #646363  */
    padding: 2px 14px;
    /*text-transform: uppercase;*/
}
.navigation .nav > li.active > a, .navigation .nav > li.active > a:hover, .navigation .nav > li.active > a:focus {
    background: none;
    box-shadow: none;
    color: #003a7a;
    font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
}
.navigation .nav > li > a:hover, .navigation .nav > li > a:focus {
    color: #003a7a;
}
.data-site span {
    text-transform: capitalize;
}
/* Rodape */
.footer {
    background-color: #006633;
    color: #fff;
    margin-top: 20px;
}
.footer .footer-inner {
    padding-top: 20px;
}
.footer a {
    color: #fff;
}
.menu-footer ul {
    padding: 0 0 30px 0;
}
.menu-footer ul li.parent {
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 19%;
}
.menu-footer ul li.parent a {
    display: inline-block;
    font-size: 1em;
    line-height: 1.1em;
}
.menu-footer ul li.parent > a {
    font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
    font-size: 1em;
    margin-bottom: 0.5em;
}
.menu-footer ul li.parent > a:hover, .menu-footer ul li.parent > a:focus {
    background: none;
}
/* Slider */
.moduletable.carrossel {
    margin-top: 5px;
}
.slide {
    margin-bottom: 20px;
}
.slide .carousel-inner .carousel-caption {
    /*background-color: rgba(0, 0, 0, 0.5); Alterado por Amilton*/
  	background-color: rgba(0, 0, 0, 0);
    height: 72px;
    padding: 20px 50px 20px 30px;
}
.slide .carousel-inner .carousel-caption span {
    color: #fff;
    font-size: 1.1em;
    font-weight: normal;
    text-transform: uppercase;
}
.slide .carousel-inner .carousel-caption h4 {
    font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
    font-size: 2.55em;
    height: 37px;
    line-height: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
}
.slide .carousel-inner .carousel-caption h4 a {
    color: #feffff;
}
.slide .carousel-inner .carousel-caption p {
    font-size: 1.25em;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.slide .navegar-item .carousel-indicators {
    bottom: 20px;
    right: 20px;
    top: auto;
  	/*display: none;*/
}
.slide .navegar-item .carousel-indicators li {
    background-color: #aeaeae;
    border-radius: 0;
    cursor: pointer;
    float: none;
    margin-top: 10px;
}
.slide .navegar-item .carousel-indicators li.active {
    background-color: #f2f2f2;
}
.carousel.slide .item {
    /*height: 300px;*/
    overflow: hidden;
}
/* Publicacoes */
ul.publicacoes {
    list-style: outside none none;
    margin: 0;
}
ul.publicacoes li {
   /* height: 121px;*/
  margin: 10px 0px 10px 0px;
}
ul.publicacoes li:first-child {
    margin-top: 0;
}
ul.publicacoes li a.imagem {
    display: block;
    height: 105px;
    margin-right: 0px;
    overflow: hidden;
    position: relative;
    top: 7px;
    width: 140px;
}
ul.publicacoes li span.chapeu {
    font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
    font-size: 0.75em;
    line-height: 1em;
    text-transform: uppercase;
}
ul.publicacoes li h4 {
    font-size: 1.5em;
    font-weight: normal;
    line-height: 22px;
    margin: 0 0 6px;
    overflow: hidden;
}
ul.publicacoes li h4 a {
    color: #016565;
}
ul.publicacoes li p {
    display: block;
    font-size: 1em;
    height: 33px;
    line-height: 17px;
    margin: 0;
    overflow: hidden;
}
.publicacoes a.link-categoria {
    color: #016565;
    float: right;
    font-size: 1.1em;
    text-transform: lowercase;
}
.publicacoes a.link-categoria span {
    position: relative;
}

.publicacoes a.link-categoria {
    position: relative;
    bottom: 0px;
    right: 0px;
}
.publicacoes a.link-categoria span, 
.moduletable.ultimas .carousel-footer a.link-categoria span, 
.moduletable.videos .video-footer .linkMais span {
    background: #fff url("../images/bnMais.png") no-repeat scroll center center;
    color: #fff;
    display: inline-block;
    font-size: 0;
    height: 21px;
    margin-left: 5px;
    text-align: center;
    width: 22px;
}
/* Ultimas */
.moduletable.ultimas .carousel-footer .controles-carousel {
    position: relative;
    top: 3px;
}
.moduletable.ultimas h3, .moduletable.videos h3 {
    background-color: #989884;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 -1px;
    padding: 7px 20px;
    /*text-transform: uppercase;*/
}
.moduletable.ultimas .carousel.slide-multi, 
.moduletable.videos .videos-inner {
    background-color: #d9d9ce;
    margin: 1px 0;
    /*padding: 2px 17px 0px 17px;*/
  	min-height: 163px;
}
.moduletable.ultimas .carousel.slide-multi .chapeu-data span {
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
}

.moduletable .videos .span4 .embed-responsive{
   left: 0px !important;
}
.moduletable.ultimas .carousel.slide-multi .chapeu-data span.divisor {
    font-family: Georgia;
    font-size: 2em;
    line-height: 10px;
    position: relative;
    top: -2px;
}
.moduletable.ultimas .carousel.slide-multi h5 {
    font-size: 1.1em;
    font-weight: normal;
    height: 36.5px;
    line-height: 17px;
    margin-bottom: 17px;
    margin-top: 7px;
    overflow: hidden;
}
.moduletable.ultimas .carousel.slide-multi h5 a {
    color: #003a7a;
}
.moduletable.ultimas .carousel-footer, .moduletable.videos .video-footer {
    background-color: #d9d9ce;
    padding: 5px 20px;
}
.moduletable.ultimas .carousel-footer a.link-categoria span {
    line-height: 20px;
}
.moduletable.ultimas .carousel-footer .controles-carousel a {
    background-image: url("../images/setas.png");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 9px;
}
.moduletable.ultimas .carousel-footer .controles-carousel a:hover {
    text-decoration: none;
}
.moduletable.ultimas .carousel-footer .controles-carousel a.right {
    background-position: right top;
    margin-left: 5px;
}
/* Barra do topo */
.barra-topo {
    background-color: #004080;
}
.barra-topo .container {
    background: none;
}
.barra-topo .container .logo-unb p {
    margin: 0;
}
.barra-topo .container .logo-unb p a {
    display: block;
    /*padding: 6px 0;*/
}
.menu-unb a.btn-menu {
    cursor: pointer;
    display: block;
    margin-top: 5px;
}
.menu-unb a.btn-menu span {
    color: #fff;
    font-size: 1.1em;
    margin-left: 5px;
    position: relative;
    top: 2px;
}
.menu-unb .menu-toggle-list {
    position: relative;
}
.menu-unb #menu-collapse {
    left: 0;
    position: absolute;
    top: 25px;
    width: 180px;
    z-index: 999;
}
.menu-unb .nav {
    background: #004080;
    padding: 3px 0;
}
.menu-unb .nav > li > a {
    border-top: 1px solid #eee;
    color: #fff;
    margin: 0 5px;
    padding: 5px 10px;
}


.menu-unb .nav > li:first-child > a {
    border: medium none;
}
.menu-unb .nav > li > a:hover, .menu-unb .nav > li > a:focus {
    /*color: #000;*/
}

.menu-unb a:hover {
	color:00ff00;
}

/* Agenda */
.agenda .agenda-titulo-link {
  background-color: #003a7a;
  color: #fff;
  float: left;
  margin-bottom: 20px;
  padding: 19px;
  width: 110px;
  height: 112px;
}
.agenda .agenda-titulo-link a.link-agenda {
    color: #fff;
    font-size: 0.95em;
}
.agenda .agenda-titulo-link a.link-agenda span {
    background: #fff url("../images/bnMais.png") no-repeat scroll center center !important;
    color: #fff;
    display: inline-block;
    font-size: 0;
    height: 23px;
    margin: -2px;
    
    text-align: center;
    width: 22px;
  margin-top: 50px;
}

.amarelo .agenda-titulo-link a.link-agenda span {
 margin-left: 238px;
}

.agenda .lista-agenda .item-content {
    background-color: #DADACF; /* Alterado de #D9D9CE para #DADACF */
    float: left;
    height: 150px;
    margin: 0px;
    width: 20.745%;
    border-left: 3px solid #fff;
}
.agenda .lista-agenda .item-content .data {
    background-color: #989884;
    color: #fff;
    font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
    font-size: 1.25em;
    line-height: 1.2em;
    padding: 5px 15px;
    text-transform: uppercase;
}
.agenda .lista-agenda .item-content .data small {
    font-family: georgia;
    font-size: 2em;
    position: relative;
    top: -3px;
}
.agenda .lista-agenda .item-content .data span {
    text-transform: none;
}
.agenda .lista-agenda .item-content .item-content-inner {
    /* padding: 10px 15px;  */
  padding: 17px 15px;
}
.agenda .lista-agenda .item-content .item-content-inner h5 {
    font-family: "liberation_sansbold",Helvetica,Arial,sans-serif; /* incluído */
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;
    margin: 0 0 23px;
}
.agenda .lista-agenda .item-content .item-content-inner h5 a {
    color: #000;
    font-weight: bold;
    line-height: 19px;
}
.agenda .lista-agenda .item-content .item-content-inner p {
    color: #000;
    font-size: 1em;
}

.agenda .js-stools-container-bar .filter-events, .agenda .js-stools-container-bar .filter-events a {
    border-left: 1px solid;
    margin-left: 5px;
    padding-left: 5px;
}
.agenda .js-stools-container-bar .filter-events:first-child, .agenda .js-stools-container-bar .filter-events a:first-child {
    margin: 0;
    padding: 0;
    border: none;
}

.agenda-edit .intro {
    margin: 20px 0;
}
.agenda-edit .chzn-container-single .chzn-single, 
.agenda-edit .controls input, .controls textarea,
.agenda-edit .btn,
.agenda-edit .input-append .btn {
    border-radius: 0 !important;
}



/* Internas */
.com_content #sidebar, .com_content #content {
    margin-bottom: 38px;
}
.view-article .side, .view-article #content {
    margin-top: 40px;
}
.com_content #content .blog h3:first-child {
    margin-top: 0;
}
.view-featured.com_content #sidebar, .view-featured.com_content #content {
    /*margin: -10px !important;*/
}
.side .moduletable {
    margin-bottom: 0px;
}
/* Agenda sidebar */
.side .agenda {
    display: block;
    position: relative;
}
.side .agenda .agenda-titulo-link {
    float: none;
    height: 20px;
    line-height: 1em;
    margin: 0 0 3px;
    padding: 5px 20px;
    width: auto;
}
.side .agenda .agenda-titulo-link h3 {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}
.side .agenda .agenda-titulo-link h3::before {
    display: inline;
}
.side .agenda .lista-agenda .item-content {
    float: none;
    height: auto;
    margin: 0 0 3px;
    padding: 15px 20px;
    width: auto;
}
.side .agenda .agenda-titulo-link a.link-agenda {
    bottom: 8px;
    color: #003a7a;
    position: absolute;
}
.side .agenda .agenda-titulo-link a.link-agenda span {
    background-color: #003a7a;
    color: #fff;
}
.side .agenda .lista-agenda .item-content .item-content-inner {
    padding: 0;
}
.side .agenda .lista-agenda .item-content .data {
    background: none;
    color: #003a7a;
    font-family: "liberation_sansregular",Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    padding: 0;
}
.side .agenda .lista-agenda .item-content .item-content-inner h5 {
    font-weight: bold;
    line-height: 19px;
    margin: 0 0 21px;
    overflow: hidden;
}
.side .agenda .lista-agenda .item-content .item-content-inner p {
    margin: 0;
}
.side .agenda::after {
    background-color: #d9d9ce;
    content: "";
    display: block;
    height: 36px;
    margin-bottom: 20px;
    width: 100%;
}
/* Modulo Busca Agenda */

.modulo-busca-agenda {
    border: 1px solid #ccc;
}
.modulo-busca-agenda > h3 {
    background: #486796;
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 8px 12px;
}
.modulo-busca-agenda form {
    padding: 10px;
    margin: 0;
}
.modulo-busca-agenda form input,.modulo-busca-agenda form button {
    border-radius: 0;
}
.modulo-busca-agenda form input#busca-agenda {
    padding: 5px 2%;
    width: 96%;
}
.modulo-busca-agenda form button {
    background: #989898;
    border: none;
    font-weight: bold;
}
.modulo-busca-agenda form button:hover, 
.modulo-busca-agenda form button:focus{
    background: #989898;
}
.modulo-busca-agenda form .form-control.span5 {
    font-size: 0.9em;
    padding: 1%;
}
/* Componente Agenda */
.page-header h2 span {
    color: #02397a;
    font-size: 1.3em;
}

.agendascategoria .lista-eventos {
    margin-top: 20px;
}
.agendascategoria .lista-eventos .item {
    border: 1px solid #9a9a9a;
    float: left;
    height: 180px;
    margin-bottom: 1.06383%;
    margin-right: 1.66383%;
    width: 31.9149%;
}
.agendascategoria .lista-eventos .item.ultimo {
    margin-right: 0;
}
.agendascategoria .lista-eventos .data.span1 {
    background-color: #d3e0f0;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    float: right;
    margin: -1px;
    text-align: center;
    width: 45%;
}

.agendascategoria .lista-eventos .semana {
    color: #2f679a;
    display: block;
    padding-top: 8px;
    text-transform: lowercase;
}
.agendascategoria .lista-eventos .dia-mes {
    clear: both;
    color: #1a3761;
    display: block;
    font-size: 1.35em;
    font-weight: bold;
    padding: 2px 0 8px;
    text-transform: uppercase;
}

.agendascategoria .conteudo {
    float: left;
    padding: 5px 10px 10px;
    clear: both;
}

.agendascategoria .itemtitle-agenda {
    font-size: 1.15em;
    height: 2.45em;
    line-height: 1.2em;
    margin: 0 0 4px;
    overflow: hidden;
}
.agendascategoria .itemtitle-agenda a {
    color: #2c689a;
}
.agendascategoria .cattitle-agenda {
    color: #1a3562;
    display: inline-block;
    float: left;
    font-size: 0.9em;
    overflow: hidden;
    padding-top: 40px;
    text-indent: 10px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 55%;
}
.agendascategoria .lista-eventos .conteudo.span8, .span11 {
    margin-top: -10px;
    padding-left: 8px;
    width: 220px;
}
.agendascategoria .lista-eventos .local, .hora {
    display: block;
}
.agenda .detalhes span:first-child {
    border-top: 0 none;
}
.agenda .detalhes span {
    border-top: 1px dotted #ccc;
    display: block;
    font-size: 1.1em;
    margin-left: 10px;
    padding: 10px 0;
}
.agenda .item_fields .row-fluid {
    margin: 0;
    padding: 5px !important;
}
.agenda .detalhes i {
    color: #666;
    display: inline-block;
    width: 20px;
}
.agenda .item-map .well {
    margin: 0;
    padding: 5px;
}
.agenda .item-map .well .map-container {
    height: 0;
    padding-bottom: 40%;
    position: relative;
}
.agenda .item-map .well .map-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.agenda .descricao {
    margin: 20px 0;
}
.agenda .titulo h3 {
    color: #006600;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2em;
}

.eventos-programados {
    color: #2c689a;
}

.eventos-programados > span {
    font-weight: 600;
}

.agendaslista .itemtitle-agenda {
    margin: 0;
}

.agendaslista .cattitle-agenda {
    text-transform: uppercase;
}

.agendaslista .lista-eventos .item {
    margin-top: 15px;
}


/* Menu agenda */
.moduletable.menu-agenda {
    margin-top: 10px;
}
.moduletable.menu-agenda li a {
    background: #476695;
    color: #fff;
    font-weight: bold;
    padding: 10px 5px;
    text-transform: uppercase;
}
.moduletable.menu-agenda li a img {
    margin-right: 5px;
}

/* Modulo Artigos */

.moduletable.ultimas.artigos .carousel.slide-multi {
    background: none;
    margin: 0;
    padding: 0;
}
.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews {
    background-color: #d9d9ce;
    margin: 1px -4px 3px;
    padding: 23px 25px;
}
.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .itemlastnews-inner {
    position: relative;
}
.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .imagem-artigo {
    float: left;
    position: relative;
    top: 2px;
}
.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .imagem-artigo .imagem {
    display: block;
    height: 75px;
    margin-right: 10px;
    overflow: hidden;
}
.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .titulo-autor h5 {
    float: right;
    height: 48px;
    margin: 0 0 10px;
    overflow: hidden;
    width: 174px;
}
.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .titulo-autor h5 a {
    color: #000;
    font-size: 1em;  
    line-height: 1em;
}
.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews span.nomeautor {
    bottom: -2px;
  margin-left: 15px;
    color: #003a7a;
    font-size: 0.8em;
    position: absolute;
}
.moduletable.ultimas.artigos .imgautorartigo {
    float: left;
    width: 70px;
    /*margin: 1px 15px 0 0;*/
}
.moduletable.ultimas.artigos .chapeuartigo {
    font-size: 0.8em;
  margin-left: 15px;
}
/* Destaques Categoria */
ul.destaque {
    list-style: outside none none;
    margin: 20px 0;
    padding: 0;
}
ul.destaque li {
    background: #e1e1c3;
}
ul.destaque li .imagem {
    display: block;
    height: 300px;
    margin-right: 20px;
    overflow: hidden;
    width: 540px;
}
ul.destaque li .conteudo {
    padding: 20px 20px 0 0;
}
ul.destaque li .conteudo .chapeu {
    font-size: 1.1em;
    text-transform: uppercase;
}
ul.destaque li .conteudo h4 {
    font-size: 2.1em;
    height: 95px;
    line-height: 32px;
    overflow: hidden;
}

ul.destaque li .conteudo p {
    height: 53px;
    overflow: hidden;
}
ul.destaque li .conteudo .link-leiamais, ul.destaque li .conteudo p {
    color: #000;
}

.view-article .moduletable.destaque {
    display: none;
}
/* Menu categorias */
.menu-categorias ul {
    list-style: outside none none;
    margin: 0 0 0px;
}
.menu-categorias ul li:first-child h4 a {
    border-top: 0 none;
}
.menu-categorias ul li h4 a {
    color: #4e4e4e;
    display: block;
    padding: 6px 0;
    border-bottom: 1px solid #989898;
}
.menu-categorias h4 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.view-category .blog > h3:first-child {
    margin: 0;
}
.view-category .blog > h3, .view-category .blog .items-row h3 {
    clear: both;
    color: #5d5d5d;
    font-size: 0.9em;
    font-weight: normal;
    margin: 20px 0 0;
}
.view-category .item .page-header {
    border: medium none;
    margin: 0;
    padding: 0;
}
.view-category .item .page-header h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 10px;
}
.view-category .item .page-header h2 a {
    color: #005a1c;
}
.view-category .item p {
    color: #5d5d5d;
}
/* Menu lateral */
.menu.lateral {
    margin: 0;
}
.menu.lateral > li {
    display: block;
    position: relative;
}
.menu.lateral > li:first-child > a {
    border: medium none;
}
.menu.lateral > li > a {
    color: #4e4e4e;
    font-size: 1.1em;
    padding: 6px 0;
    position: relative;
    z-index: 1;
}
.menu.lateral > li.open > a {
    font-weight: bold;
}
.menu.lateral li a:hover:not(.dropdown-toggle), .menu.lateral li a:focus:not(.dropdown-toggle) {
    background: none;
    text-decoration: underline;
/*    color: #4e4e4e;*/
}
.menu.lateral > li > a.dropdown-toggle {
/*    background: #003a7a;*/
/*    color: #fff;*/
    display: inline-block;
    height: 100%;
    margin-left: 2em;
    padding: 0 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    z-index: 2;
    /*border: 0px;*/
    height: 34px;
}
.menu.lateral > li > a.dropdown-toggle i {
    font-size: 1.3em;
    position: relative;
    top: 33%;
}
.menu.lateral > li.open > a.dropdown-toggle {
    border: 0px;
/*    line-height: 2.8em;*/
    text-align: center;
}
.menu.lateral > li.open > a.dropdown-toggle i:before {
   content: "\f106";
    font-size: 0.5em;
    position: absolute;

    /*top: -0.3em;
    left: 0.2em;*/
}
.menu.lateral ul.dropdown-menu {
    position: relative;
    width: 100%;
    z-index: 3;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    float: none;
    border: 0 !important;
}
.menu.lateral ul{
  border: 0px;
}
.menu.lateral ul.dropdown-menu li a {
    background: none;
    border: none;
    padding: 6px 0;
    font-size: 1.1em;
}
/* Paginacao */
.pagination {
    position: relative;
    text-align: center;
}
.pagination ul li a {
    border: medium none !important;
    float: none;
}
.pagination ul {
    box-shadow: none;
}
.pagination ul li:first-child, .pagination ul li:last-child {
    display: none;
}
.pagination ul li .icon-next::before {
    content: "";
    font-size: 2em;
    position: relative;
    top: 7px;
}
.pagination ul li .icon-previous::before {
    content: "";
    font-size: 2em;
    position: relative;
    top: 7px;
}
/* Artigo aberto */
.view-article .page-header {
    border: medium none;
    margin-top: 0;
}
.view-article .page-header h2 {
    /*color: #006600;
  	font-size: 2.8em;*/
  	color: #005a1c;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.2em;
    margin-top: 0;
}
.view-article .article-info {
    list-style: outside none none;
    margin: 20px 0;
    
}
.view-article .article-info li {
    border-left: 2px solid;
    color: #000;
    display: inline-block;
    font-size: 1.1em;
    padding: 0 5px;
}
.view-article .article-info li:first-child {
    border: medium none;
    padding: 0;
}
.view-article .article-info li.category-name a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}
.view-article .article-info {
    list-style: outside none none;
    margin: 20px 0;
}
.view-article .article-info li {
    border-left: 2px solid;
    color: #000;
    display: inline-block;
    font-size: 1.1em;
    padding: 0 5px;
}
.view-article .article-info li:first-child {
    border: medium none;
    padding: 0;
}
.view-article .article-info li.category-name a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}
.view-article .tags {
}
.view-article .tags h4, .tagssimilar h3 {
    color: #5d5d5d;
    font-size: 1.1em;
    text-transform: uppercase;
}
.view-article .tags ul li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #006600;
    font-size: 1.1em;
    font-weight: normal;
    padding: 0;
    text-shadow: none;
}
.view-article .autor, .view-article .creditoconteudo {
    display: table;
}
/* Tags */

.tagssimilar a, .tags-list a {
    color: #006600;
}
.tagssimilar li, .tags-list li {
    list-style-type: none;
}
.tagssimilar li::before, .tags-list li::before {
    color: #006600;
    content: "• ";
    font-size: 1.3em;
}
ul.tags-list, .tagssimilar ul {
    display: table;
    margin: 0;
}
.moduletable.tagssimilar {
    float: right;
    width: 20%;
    clear: right;
}
.tags {
    width: 80%;
}

/* Detalhes */
.sidebarcontent {
    float: right;
    width: 20%;
}
.sidebarcontent p {
    font-size: 0.8em;
}
.sidebarcontent .autor > span {
    margin: 0 0 0 10px;
}
.articleBody {
    float: left;
    margin-right: 5%;
    width: 75%;
}
.itemid-232 .moduletable.tagssimilar {
    float: right;
    width: 20%;
}
.search {
    float: left;
    margin: 12px 0 0;
}
.inputbox.search-query {
    border-radius: 0;
}
.pull-left.item-image {
    margin: 4px 10px 0 -1px;
    width: 120px !important;
}
.moduletable.internas {
    margin: 20px 0 0;
}
.jfontsize {
    float: right;
    height: 24px;
    margin: 14px 5px 5px !important;
    width: 104px !important;
}
.jfontsize a {
    display: inline-block;
    height: 15px;
    overflow: hidden;
    width: 15px;
}
#contraste {
   background: url("../images/icoContraste.png") no-repeat scroll center top; 
 
}
#user {
    background: url("../images/icoUser.png") no-repeat scroll center top;
}

/*View Agenda*/
.view-agendaform .row-fluid .span4, .view-agenda .row-fluid .span4, .view-agendas .row-fluid .span4,.view-agendaslista .row-fluid .span4 {
    width: 23.4043%;
}

.view-agendaform .row-fluid .span8, .view-agenda .row-fluid .span8, .view-agendas .row-fluid .span8, .view-agendaslista .row-fluid .span8 {
    width: 74.4681%;
}
.view-agendas .moduletable.ultimas {
    background-color: #d4e0ef;
    border: 1px solid #979797;
}

.view-agendas .moduletable.ultimas h3 {
    background-color: #486796;
    padding-left: 10px;
}

.view-agendas .moduletable.ultimas .carousel.slide-multi {
    background: none;
    padding: 10px;
    margin: 0;
}

.view-agendas .moduletable.ultimas .carousel.slide-multi h5 {
    height: 2.4em;
    margin-top: 0;
}

.view-agendas .moduletable.ultimas .carousel-footer {
    background-color: #d4e0ef;
    padding: 0 10px 7px;
}

/*Calendario*/

.calendario-veja-mais, .calendario .module-title, .days-month {
    display: none;
}

.bic_calendar .table.header tr {
    background-color: #486796;
    color: #fff;
    font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
    font-size: 1em;
    height: 30px;
    line-height: 1.2em;
    margin: 0 0 2px;
    padding: 7px 20px;
    text-transform: uppercase;
}

.bic_calendar .table-content {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 5px auto 18px;
    max-width: 100%;
    text-align: center;
}

.bic_calendar .button-month-previous {
    background-image: url("../images/AZsetas.png");
    background-position: 0 -21px;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 18px;
    line-height: 15px;
    margin: 5px 0 0 10px;
    width: 8px;
}

.bic_calendar .button-month-next {
    background-image: url("../images/AZsetas.png");
    background-position: -10px -21px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    line-height: 15px;
    margin-right: 10px;
    margin-top: 5px;
    padding-right: 6px;
    width: 8px;
}

/* Modulo de abas */
.moduletable.abas .gkTabsWrap {
    background: #d9d9ce;
}
.moduletable.abas .gkTabsWrap ol {
    border: medium none;
    float: right;
    min-height: auto;
    text-align: right;
    width: 100%;
}
.moduletable.abas .gkTabsWrap ol li {
    background: #003a7a;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    float: none;
    font-weight: normal;
    line-height: 1em !important;
    margin: 0 !important;
    padding-bottom: 0.6em !important;
    padding-top: 0.8em !important;
    text-shadow: none;
    text-transform: uppercase;
}
.moduletable.abas .gkTabsWrap ol li.active {
    background: none;
    color: #003a7a !important;
    float: left !important;
    font-weight: bold;
    padding-left: 22px !important;
    text-shadow: none;
}
.moduletable.abas .gkTabsWrap ol li:hover,
.moduletable.abas .gkTabsWrap ol li:focus {
    background: none !important;
    text-shadow: none !important;
    color: #003a7a !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.moduletable.abas .gkTabsItem {
    background: #d9d9ce;
    padding-top: 30px;
}
/* Abas - Noticias */
.moduletable.abas {
   /* margin-bottom: 40px; */
}
.moduletable.abas .noticas .noticia-imagem {
    padding-left: 20px;
    padding-right: 15px;
}
.moduletable.abas .noticas .noticia-imagem img {
    width: 100%;
}
.moduletable.abas .noticas .noticia-imagem .img a {
    height: 215px;
    display: block;
    overflow: hidden;
}
.moduletable.abas .noticas .noticia-imagem .titulo {
    clear: both;
    float: left;
}
.moduletable.abas .noticas .noticia-imagem .titulo h4, 
.moduletable.videos .videos-inner .first  .titulo-autor h4 {
    /*font-size: 1.1em;
    font-weight: normal;*/
    height: 3.6em;
    line-height: 1.2em;
    overflow: hidden;
}
.moduletable.abas .noticas .noticia-imagem .titulo h4 a, 
.moduletable.videos .videos-inner .first  .titulo-autor h4 a {
    color: #003a7a;
}
.moduletable.abas .noticas .lista-noticia {
    padding-right: 20px;
}
.moduletable.abas .noticas .lista-noticia ul {
    list-style: outside none none;
    margin: 0;
}
.moduletable.abas .noticas .lista-noticia ul li {
    border-bottom: 2px solid #fff;
    margin-bottom: 24px;
    padding-bottom: 25px;
}
.moduletable.abas .noticas .lista-noticia ul li:last-child {
    border-bottom: medium none;
}
.moduletable.abas .noticas .lista-noticia ul li a {
    color: #003a7a;
    display: block;
    font-size: 1.05em;
    padding-left: 10px;
    position: relative;
    line-height: 1.3em;
    height: 2.6em;
    overflow: hidden;
}
.moduletable.abas .noticas .lista-noticia ul li a::before, 
.moduletable.videos .videos-inner .list .titulo-autor h4 a::before {
    font-family: Georgia;
    font-size: 2em;
    left: -2px;
    position: absolute;
    top: -8px;
}

/* Videos */

.moduletable.videos .itemlastnews.first p {
    display: none;
}
.moduletable.videos .videos-inner .first .titulo-autor h4 {
    height: 2.4em;
}
.moduletable.videos .videos-inner .list .titulo-autor h4 {
    font-size: 1.1em;
    font-weight: normal;
    height: 2.5em;
    margin: 14px 0 0 0;
    overflow: hidden;
    padding-left: 0px;
    position: relative;
}

.moduletable.videos .videos-inner .list .titulo-autor h4 a {
    color: #003a7a;
}

/* Agenda - Slide de Eventos */

.agenda-slide.carousel.slide .item {
    height: 270px;
}
.agenda-slide.carousel.slide {
    border: 1px solid #b3b3b3;
    margin-top: 10px;
}
.agenda-slide.carousel.slide .item .carousel-imagem img {
    height: 270px;
    max-width: none;
}
.agenda-slide.carousel.slide .item .carousel-imagem {
    overflow: hidden;
}
.agenda-slide.carousel.slide .carousel-texto {
    margin-left: 0;
    width: 51%;
}
.agenda-slide.carousel.slide .carousel-texto > div {
    padding-left: 2.12766%;
}
.agenda-slide.carousel.slide .carousel-texto > div.data {
    background: #d3e0f0;
    padding: 25px 10px 10px 20px;
    position: relative;
    left: 1px;
    color: #1a3560;
}
.agenda-slide.carousel.slide .carousel-texto > div.data p {
    margin-bottom: 7px;
    font-size: 1.1em;
}
.agenda-slide.carousel.slide .carousel-texto > div.data p strong span {
    text-transform: uppercase;
}
.agenda-slide.carousel.slide .carousel-texto > div.detalhes {
    padding: 20px;
    color: #1a3560;
}
.agenda-slide.carousel.slide .carousel-texto > div.detalhes .chapeu {
    text-transform: uppercase;
}
.agenda-slide.carousel.slide .carousel-texto > div.detalhes h4 {
    font-size: 1.7em;
    height: 2.2em;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-top: 5px;
    overflow: hidden;
}
.agenda-slide.carousel.slide .carousel-texto > div.detalhes h4 a {
    color: #2f679a;
}
.agenda-slide.carousel.slide .carousel-texto > div.detalhes p {
    font-size: 1.2em !important;
    line-height: 1.3em;
}

/* Cores - Amarelo */

.amarelo.ultimas h3, 
.amarelo.moduletable.videos h3,
.amarelo.agenda .agenda-titulo-link, 
.amarelo.moduletable.abas .gkTabsWrap ol li {
    background: #fdca00;
    color: #003a7a;
}
.amarelo.ultimas, .amarelo.agenda, .amarelo.moduletable.videos {
    background: #fff;
}
.amarelo.moduletable.abas .gkTabsWrap ol li.active {
    background: none;
}
/* Cores - Amarelo Escuro */

.amarelo.escuro.moduletable.ultimas .carousel.slide-multi, 
.amarelo.escuro.moduletable.videos .videos-inner, 
.amarelo.escuro.moduletable .agenda .lista-agenda .item-content,  
.amarelo.escuro.agenda .agenda:after, 
.amarelo.escuro.moduletable.abas .gkTabsWrap, 
.amarelo.escuro.moduletable.abas .gkTabsItem {
    background-color: #666;
}
.amarelo.escuro.moduletable.ultimas .carousel.slide-multi, 
.amarelo.escuro.moduletable.ultimas .carousel-footer, 
.amarelo.escuro.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews, 
.amarelo.escuro.agenda .lista-agenda .item-content, 
.amarelo.escuro.agenda .agenda:after, 
.amarelo.escuro.moduletable.abas .gkTabsWrap, 
.amarelo.escuro.moduletable.abas .gkTabsItem, 
.amarelo.escuro.moduletable.videos .videos-inner, 
.amarelo.escuro.moduletable.videos .video-footer {
    background: #666;
    color: #fecd32;
}
.amarelo.escuro.moduletable.ultimas .carousel.slide-multi .chapeu-data *, 
.amarelo.escuro.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews span.nomeautor, 
.amarelo.escuro.agenda .lista-agenda .item-content .data, 
.amarelo.escuro.agenda .lista-agenda .item-content .data *, 
.amarelo.escuro.agenda .agenda-titulo-link a.link-agenda, 
.amarelo.escuro.moduletable.abas .noticas .lista-noticia ul li a, 
.amarelo.escuro.moduletable.videos .videos-inner .list .titulo-autor h4 a, 
.amarelo.escuro.moduletable.ultimas.artigos .chapeuartigo  {
    color: #fecd32 !important;
}
.amarelo.escuro.moduletable .agenda .agenda-titulo-link a.link-agenda span {
    background: #fecd32 !important;
    color: #666;
}
.amarelo.escuro.moduletable.abas .noticas .noticia-imagem .titulo h4 a, 
.amarelo.escuro.moduletable.videos .videos-inner .first .titulo-autor h4 a, 
.amarelo.escuro.moduletable.abas .gkTabsWrap ol li.active, 
.amarelo.escuro.moduletable.abas .gkTabsWrap ol li:hover, 
.amarelo.escuro.moduletable.abas .gkTabsWrap ol li:focus, 
.amarelo.escuro.moduletable .agenda .lista-agenda .item-content .item-content-inner p, 
.amarelo.escuro.moduletable .agenda .lista-agenda .item-content .item-content-inner h5 a, 
.amarelo.escuro.moduletable.ultimas .carousel.slide-multi h5 a {
    color: #fff !important;
}
.amarelo.escuro.moduletable, 
.amarelo.escuro.moduletable.ultimas.artigos .carousel.slide-multi {
    background: none;
}
.amarelo.escuro.moduletable.ultimas .carousel-footer .controles-carousel a {
    background-image: url("../images/AZsetas.png");
}
.amarelo.escuro.moduletable.ultimas .carousel-footer a.link-categoria span, 
.amarelo.escuro.moduletable.videos .video-footer .linkMais span {
    background: transparent url("../images/AZbnMais.png") no-repeat scroll center center;
}

/* Cores - Azul */

.azul.moduletable.ultimas h3, 
.azul.moduletable.videos h3,
.azul.agenda .agenda-titulo-link, 
.azul.moduletable.abas .gkTabsWrap ol li {
    background: #003466;
}
.azul.moduletable.ultimas .carousel.slide-multi, 
.azul.moduletable.ultimas .carousel-footer, 
.azul.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews, 
.azul.agenda .lista-agenda .item-content, 
.azul.agenda .agenda:after, 
.azul.moduletable.abas .gkTabsWrap, 
.azul.moduletable.abas .gkTabsItem, 
.azul.moduletable.videos .videos-inner, 
.azul.moduletable.videos .video-footer {
    background: #336799;
    color: #fecd32;
}
.azul.agenda .agenda-titulo-link a.link-agenda span {
    background: #ffcc33;
    color: #336799;
}
.azul.moduletable.ultimas .carousel.slide-multi .chapeu-data *, 
.azul.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews span.nomeautor, 
.azul.agenda .lista-agenda .item-content .data, 
.azul.agenda .lista-agenda .item-content .data *, 
.azul.agenda .agenda-titulo-link a.link-agenda, 
.azul.moduletable.abas .noticas .lista-noticia ul li a, 
.azul.moduletable.videos .videos-inner .list .titulo-autor h4 a {
    color: #fecd32 !important;
}
.azul.moduletable.ultimas .carousel.slide-multi h5 a,
.azul.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .titulo-autor h5 a, 
.azul.agenda .lista-agenda .item-content .item-content-inner h5 a, 
.azul.agenda .lista-agenda .item-content .item-content-inner p {
    color: #f3f1f2;
}
.azul.moduletable.abas .noticas .noticia-imagem .titulo h4 a, 
.azul.moduletable.videos .videos-inner .first .titulo-autor h4 a, 
.azul.moduletable.abas .gkTabsWrap ol li.active, 
.azul.moduletable.abas .gkTabsWrap ol li:hover, 
.azul.moduletable.abas .gkTabsWrap ol li:focus {
    color: #fff !important;
}
.azul.moduletable.ultimas .carousel-footer .controles-carousel a {
    background-image: url("../images/AZsetas.png");
}
.azul.moduletable.ultimas .carousel-footer a.link-categoria span, 
.azul.moduletable.videos .video-footer .linkMais span {
    background: transparent url("../images/AZbnMais.png") no-repeat scroll center center;
}

.azul.moduletable.ultimas.artigos .carousel.slide-multi, 
.azul.moduletable.abas .gkTabsWrap ol li.active {
    background: none;
}
/* Cores - Verde */

.verde.ultimas h3, 
.verde.moduletable.videos h3, 
.verde.agenda .agenda-titulo-link, 
.verde.moduletable.abas .gkTabsWrap ol li, 
.verde.agenda .agenda-titulo-link a.link-agenda span {
    background: #51716c;
}
.verde.agenda .agenda-titulo-link a.link-agenda {
    color: #51716c;
}
.verde.moduletable.ultimas .carousel.slide-multi .chapeu-data *, 
.verde.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews span.nomeautor, 
.verde.agenda .lista-agenda .item-content .data, 
.verde.agenda .lista-agenda .item-content .data *, 

.verde.moduletable.abas .noticas .lista-noticia ul li a, 
.verde.moduletable.videos .videos-inner .list .titulo-autor h4 a {
    color: #669a35 !important;
}
.verde.moduletable.ultimas .carousel-footer .controles-carousel a {
    background-image: url("../images/VEsetas.png");
}
.verde.moduletable.ultimas .carousel-footer a.link-categoria span, 
.verde.moduletable.videos .video-footer .linkMais span {
    background: transparent url("../images/VEbnMais.png") no-repeat scroll center center;
}
.verde.moduletable.abas .gkTabsWrap ol li.active {
    background: none;
    color: #284531 !important;
}
.verde.moduletable.abas .noticas .noticia-imagem .titulo h4 a, 
.verde.moduletable.videos .videos-inner .first .titulo-autor h4 a, 
.verde.moduletable.ultimas .carousel.slide-multi h5 a, 
.verde.moduletable .agenda .lista-agenda .item-content .item-content-inner h5 a, 
.verde.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .titulo-autor h5 a {
    color: #284531;
}
/* Cores - Verde Escuro */
.verde.escuro.ultimas h3, 
.verde.escuro.moduletable.videos h3, 
.verde.escuro.agenda .agenda-titulo-link, 
.verde.escuro.moduletable.abas .gkTabsWrap ol li, 
.verde.escuro.agenda .agenda-titulo-link a.link-agenda span {
    background: #284531;
}

.verde.escuro.moduletable.ultimas .carousel.slide-multi h5 a, 
.verde.escuro.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .titulo-autor h5 a, 
.verde.escuro.agenda .lista-agenda .item-content .item-content-inner h5 a, 
.verde.escuro.agenda .lista-agenda .item-content .item-content-inner p {
    color: #f3f1f2;
}
.verde.escuro.moduletable.ultimas .carousel.slide-multi, 
.verde.escuro.moduletable.ultimas .carousel-footer, 
.verde.escuro.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews, 
.verde.escuro.agenda .lista-agenda .item-content, 
.verde.escuro.agenda .agenda::after, 
.verde.escuro.moduletable.abas .gkTabsWrap, 
.verde.escuro.moduletable.abas .gkTabsItem, 
.verde.escuro.moduletable.videos .videos-inner, 
.verde.escuro.moduletable.videos .video-footer {
    background: #51716c;
}
.verde.escuro.agenda .agenda-titulo-link a.link-agenda span {
    background: #fff;
    color: #51716c;
}
.verde.escuro.moduletable.ultimas .carousel-footer .controles-carousel a {
    background-image: url("../images/BRsetas.png");
}
.verde.escuro.moduletable.ultimas .carousel-footer a.link-categoria span, 
.verde.escuro.moduletable.videos .video-footer .linkMais span {
    background: transparent url("../images/BRbnMais.png") no-repeat scroll center center;
}
.verde.escuro.moduletable.ultimas .carousel.slide-multi .chapeu-data *, 
.verde.escuro.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews span.nomeautor, 
.verde.escuro.agenda .lista-agenda .item-content .data, 
.verde.escuro.agenda .lista-agenda .item-content .data *,
.verde.escuro.moduletable.abas .noticas .lista-noticia ul li a, 
.verde.escuro.moduletable.videos .videos-inner .list .titulo-autor h4 a, 
.verde.escuro.agenda .agenda-titulo-link a.link-agenda, 
.verde.escuro.moduletable.ultimas.artigos .chapeuartigo {
    color: #d3df9d !important;
}
.verde.escuro.moduletable.abas .gkTabsWrap ol li.active,
.verde.escuro.moduletable.abas .noticas .noticia-imagem .titulo h4 a, 
.verde.escuro.moduletable.videos .videos-inner .first .titulo-autor h4 a, 
.verde.escuro.moduletable.ultimas .carousel.slide-multi h5 a, 
.verde.escuro.moduletable .agenda .lista-agenda .item-content .item-content-inner h5 a, 
.verde.escuro.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .titulo-autor h5 a {
    color: #fff !important;
}
.verde.escuro.moduletable.ultimas.artigos .carousel.slide-multi, 
.verde.escuro.moduletable.abas .gkTabsWrap ol li.active {
    background: none;
}
/* Cores - Verde Claro */
.verde.claro.ultimas h3, 
.verde.claro.moduletable.videos h3, 
.verde.claro.agenda .agenda-titulo-link, 
.verde.claro.moduletable.abas .gkTabsWrap ol li {
    background: #669934;
}
.verde.claro.moduletable.ultimas .carousel.slide-multi, 
.verde.claro.moduletable.ultimas .carousel-footer, 
.verde.claro.moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews, 
.verde.claro.agenda .lista-agenda .item-content, 
.verde.claro.agenda .agenda::after, 
.verde.claro.moduletable.abas .gkTabsWrap, 
.verde.claro.moduletable.abas .gkTabsItem, 
.verde.claro.moduletable.videos .videos-inner, 
.verde.claro.moduletable.videos .video-footer {
    background: #d3df9d;
}
.verde.claro.moduletable.ultimas.artigos .carousel.slide-multi, 
.verde.claro.moduletable.abas .gkTabsWrap ol li.active {
    background: none;
}



/***---- AJUSTES RESPONSIVO ----***/
@media (max-width: 979px) {
    .menu-unb {
        float: right !important;
        text-align: right;
    }
    .menu-unb {
        float: right !important;
        text-align: right;
    }
    .moduletable.ultimas.artigos .imgautorartigo {
        margin-right: 10px;
        width: 50px;
    }
    .moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews {
        padding: 13px 15px;
    }
    .moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .titulo-autor h5 {
        font-size: 1em;
        line-height: 1.15em;
        width: 141px;
    }
    .moduletable.ultimas .carousel.slide-multi, .moduletable.videos .videos-inner {
        /*padding: 10px 15px;*/
    }
    .moduletable.ultimas .carousel.slide-multi h5 {
        margin-bottom: 11px;
        margin-top: 5px;
    }
    .header .brand {
        float: left;
    }
    .header .header-search {
        float: right;
    }

    ul.destaque li .imagem {
        height: auto;
        width: 50%;
    }
    .moduletable.menu-agenda li a {
        font-size: 0.8em;
    }
    .moduletable.menu-agenda li a img {
        width: 20px;
    }
    .bic_calendar td div {
        padding: 1px !important;
    }
    .bic_calendar {
        height: auto !important;
    }
    .agendascategoria .lista-eventos .item {
        width: 31.8015%;
    }
}
@media (max-width: 767px) {
    .header .brand, .header .header-search{
        float: none;
    }
    .header .brand {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .header .header-search {
        display: inline-block;
        margin: 2em;
    }
    .header .header-inner {
        text-align: center;
    }
    .header .header-search input {
        padding: 0.6em;
    }
    .header .header-search .jfontsize a {
        padding: 0.8em;
        position: relative;
        top: -2px;
    }
    .header .header-search .jfontsize {
        width: auto !important;
    }
    .header .header-search #user {
        background-color: #14457e;
        background-position: center center;
    }
    .header .header-search #contraste {
        background-position: right top;
        background-size: 100%;
    }
    .moduletable.ultimas {
        margin-top: 40px;
    }
    .menu-site .navigation ul {
        display: inline-block;
        margin-bottom: 20px;
    }
    .menu-site .navigation {
        text-align: center;
    }
    .moduletable.abas .noticas .noticia-imagem {
        float: left;
        width: 57.4468%;
    }
   .moduletable.abas .noticas .lista-noticia {
        float: left;
        width: 40.4255%;
    }
    .logo-unb {
        float: left !important;
        width: 23.4043% !important;
    }
    .menu-unb {
        float: right;
        width: 23.4043% !important;
    }
    .links-unb {
        display: none !important;
    }
    .moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews .titulo-autor h5 {
        float: none;
        font-size: 1.3em;
        height: auto;
        overflow: visible;
        padding-right: 140px;
        width: 70%;
    }
    .boxautor {
        clear: both;
        float: right;
    }
    .moduletable.ultimas.artigos .imgautorartigo {
        width: auto;
    }
    .moduletable.ultimas.artigos .carousel.slide-multi .item .itemlastnews span.nomeautor {
        bottom: -10px;
        left: 0;
        right: auto;
    }
    .carousel.slide .item {
        height: auto;
    }
    .menu-unb #menu-collapse {
        left: auto;
        right: 0;
    }
        
    .footer .menu-footer, .footer hr {
        display: none;
    }
    
    .item-page img {
        width: 100%;
    }
    .view-agendas .row-fluid .span8, .view-agendaslista .row-fluid .span8, .view-agendas .row-fluid .span4, .view-agendaslista .row-fluid .span4 {
        width: 100%;
    }
    .agenda-slide.carousel.slide .span6 {
        float: left;
        width: 50%;
    }
    .moduletable.menu-agenda li a {
        font-size: 1.1em;
    }
    .moduletable.menu-agenda li a img {
        width: auto;
    }
    .bic_calendar td div {
        font-size: 1.4em;
        padding: 5px !important;
    }
    .calendario {
        margin: 0 !important;
        width: 100% !important;
    }
    .bic_calendar .visualmonth {
        font-size: 1.5em !important;
        position: relative;
        top: -2px;
    }
    .modulo-busca-agenda form .form-control.span5 {
        width: auto;
    }
  	.base .agenda .lista-agenda .item-content {
		float:none;
		width: 100%;
		height: auto;
	}
	.base .agenda .agenda-titulo-link{
		float:none;
		width: 100%;
		height: auto;
		padding: 10px;
	}
	.base .agenda .agenda-titulo-link h3{
		float:left;
		width:90%;
		margin-bottom: 0px;
	}
	
	.base .agenda .agenda-titulo-link h3::before{
		display:inline;
	}
	header a {
		padding-right:0px;
  }

  .navbar .nav{
     margin: 0px;
  }
 
    
  

}
@media (max-width: 641px) {

      
    .moduletable.abas .noticas .noticia-imagem {
        float: none;
        width: 100%;
    }
    .moduletable.abas .noticas .noticia-imagem .img a {
        height: 300px;
    }
    .moduletable.abas .gkTabsContainer {
        height: 800px !important;
    }
    .moduletable.abas .noticas .lista-noticia {
        padding: 0 20px;
        width: 100%;
    }
    .moduletable.abas .noticas .lista-noticia ul li:first-child {
        border-top: 2px solid #fff;
        padding-top: 25px;
    }
    .menu-site .navigation .nav > li {
        border-bottom: 2px solid #009999;
        border-left: medium none;
        border-right: medium none;
        width: 100%;
    }
    .menu-site .navigation .nav > li:last-child {
        border-bottom: medium none !important;
    }
    .menu-site .navigation .nav > li > a {
        padding: 0.8em 0;
    }
    .logo-unb {
        width: 70% !important;
    }
    ul.destaque li .conteudo {
        padding: 10px 10px 0 0;
    }
    ul.destaque li .conteudo h4 {
        font-size: 1.2em;
        line-height: 1.1em;
        margin-bottom: 3px;
        margin-top: 5px;
        height: 35px;
    }
    ul.destaque li .imagem {
        margin-right: 10px;
        width: 45%;
    }
    ul.destaque li .conteudo p {
        font-size: 1em;
        line-height: 1.2em;
        height: 47px;
    }
    .agenda-slide.carousel.slide .span6 {
        float: none;
        width: 100%;
    }
    .agenda-slide.carousel.slide .item {
        height: auto;
    }
    .agenda-slide.carousel.slide .item .carousel-imagem img {
        height: auto;
    }
    .agendascategoria .lista-eventos .item {
        width: 31.7015%;
    }



}
@media (max-width: 480px) {
    
    .header .header-search {
        margin: 2em 0;
    }
    .search {
        /*float: none;*/
    }
    .menu-unb span {
        display: none;
    }
    ul.destaque li .imagem {
        width: 100%;
    }
    ul.destaque li .conteudo {
        clear: both;
        margin-top: 20px;
        padding: 10px;
    }
    ul.destaque li .conteudo h4 {
        height: auto;
        overflow: visible;
        margin-bottom: 10px;
    }
    ul.destaque li .conteudo p {
        overflow: visible;
        height: auto;
    }

    .agendascategoria .lista-eventos .item {
        width: 100%;
    }
    .agendascategoria .itemtitle-agenda, .agenda-slide.carousel.slide .carousel-texto > div.detalhes h4 {
        height: auto;
    }
    .agenda .js-stools-container-bar .filter-events, .agenda .js-stools-container-bar .filter-events a {
        border-left: medium none;
        display: block;
        margin: 5px 0 0;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        padding: 5px 0 0;
        border-top: 1px solid;
    }
    .agenda .js-stools-container-bar {
        float: none;
    }

}
.links-unb {
    padding: 0px 0px 0px 0px;
}

div.item.column-1{
   margin: 10px 0px 10px 0px;
}


/***---- Oculto ----***/
.navigation .nav > li:first-child, .pagination .counter, .view-category .blog .tags, .view-category .blog .article-info, div.myFlickr-gallery-wrapper + p  {
    display: none;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
}

/***---- Alto Contraste ----***/

.contraste a.brand.pull-left{
/* background: url("../images/logo_contraste.png") no-repeat; */
background: url("../images/Logo_UnB_Contraste.fw.png") no-repeat;  
/* height: 39px; */
height: 52px;  
/* width: 267px; */
width: 380px;
margin: 10px 0 0 0 !important;
}
.contraste .jfontsize a {
    color: #ffff00 !important;
    display: inline-block;
    height: 15px;
    overflow: hidden;
    width: 15px;
}
.contraste #contraste{
background: url("../images/ACicoContraste.png") no-repeat;
}
.contraste #user{
background: url("../images/ACicoUser.png") no-repeat;
}
.contraste a.brand.pull-left > img{
    display:none
}

.contraste * {
    background-color: #000000 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #FFFFFF !important;
}
.contraste a {
    color: #FFFF00 !important;
}
.contraste a span {
    color: #FFFF00 !important;
}
/* UNB */
.contraste .carousel-caption a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.contraste .slide .navegar-item .carousel-indicators li.active {
    background-color: #FFFF00 !important;
}
.contraste .slide .navegar-item .carousel-indicators li {
    background-color: #fff !important;
}
.contraste .moduletable.ultimas .carousel-footer .controles-carousel a {
    background-image: url("../images/ACsetas.png");
    }
.contraste .publicacoes a.link-categoria span, .contraste .moduletable.ultimas .carousel-footer a.link-categoria span
{
    background: #fff url("../images/ACbnMais.png") no-repeat scroll center center;
    }
.contraste .tagssimilar li::before, .contraste .tags-list li::before {
    color: #FFFF00;
}
.contraste .navigation .nav > li {
    /*border-left: 2px solid #fff;*/
}
.contraste .navigation .nav > li:last-child {
    /*border-right: 2px solid #fff;*/
}
.contraste .btn{
background: #000 !important;
background-image: #000 !important;
border: 1px solid #ffff00 !important;
background-image: linear-gradient(to bottom, #000, #000);
}
.contraste .inputbox.search-query {
    border: 1px solid #ffff00 !important;
    color: #ffff00 !important;
    font-weight: bold;
}
.contraste .side .agenda::after{
    background-color:#000;
}
/* Menu lateral */
.moduletable.menu-interno{
	/*background: #000;*/

}
.moduletable.menu-interno ul li:first-child a {
    border-top: 0 none;
}
.moduletable.menu-interno ul li a {
    color: #4e4e4e;
    display: block;
    padding: 6px 0;
    border-bottom: 1px solid #989898;
}

.moduletable.menu-interno a {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
/*    padding: 0;*/
	
}

.moduletable.menu-interno a:hover{
	background-color:#fff;
	/*text-decoration: underline; JONATAS */
}

main#content  img#image-page-header {
	padding-bottom: 15px
}

span.creditoconteudo{
  	padding: 30px 0;
  	font-size: 0.85em;
}

li[itemprop="keywords"]{
  display:inline;
}

div.base {
  /* margin-top:12px;   */
  margin-top:0px;
}
/*Galeria azul */
.galeria-azul h3{
    background: #003a7a;
    color: #fff;
    font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0 0 2px;
    padding: 7px 20px;
    text-transform: uppercase;
    border-bottom: solid #fff 3px;
}
.galeria-azul{
    background-color: #d9d9ce;
}
.galeria-azul .bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    border: solid #fff 0px;
    left: 0px;
    margin-top: 3px;
}
.galeria-azul .bx-wrapper{
    padding-bottom: 1px;
  	margin-top: 0px;
}

/*Galeria cinza */
.galeria-cinza h3{
    background: #989884;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 2px;
    padding: 7px 20px;
    /*text-transform: uppercase;*/
    border-bottom: solid #fff 3px;
}
.galeria-azul{
    background-color: #d9d9ce;
}
.galeria-azul .bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    border: solid #fff 0px;
    left: 0px;
    margin-top: 3px;
}
.galeria-azul .bx-wrapper{
    padding-bottom: 1px;
  	margin-top: 0px;
}


.bx-wrapper img{
  height: auto;
  width: 100%;
}
/* Correção links - lista */
.category-list a{
  color: #000;
}
.category-list a:hover{
  background: none;
  text-decoration: underline;
  color: #000;
}
/* Correção links - agenda */
.js-stools-container-bar a:hover{
  background: none;
  text-decoration: underline;
  color: #0088cc;
} 

/* Correção Agenda de eventos - formatação entre título do evento e endereço */
.agendascategoria .itemtitle-agenda {
    font-size: 15px;
    font-weight: bold;
    height: 2.45em;
    line-height: 18px;
    margin: 0 0 4px;
    overflow: hidden;
}
div.bx-pager{
  display: none;
}
div.bx-wrapper{
  margin: -2px auto 0px;
}

div.cinza{
  background-color:#DADACF; /* Alterado de #DDD para #DADACF */
  padding:20px;
  text-align: center;
  margin-bottom:18px;
  color:#003a7a;
  font-size:16px;
  height: 26px; /* Ajuste para todas as caixas de Redes Sociais ficarem da mesma altura */
}

.destaque-1.span8{
  width:50%;
  height: 302px;
  margin-bottom: 20px;
  background: #DADACF;
}


.destaque-1.span8 h4{
	margin-top: 0px;
} 

@media (max-width: 767px) {
  .destaque-1.span8{
    width: 100%;
    margin-top: 20px;
  }
}

.destaque-2.span8{
  width:50%;
}

div.moduletable.span8.galeria-cinza  {
  background-color:#ddd;
}

div.custom.galeria-cinza{
	padding:10px;
	 background-color:#ddd;
}
div.destaque-2.span4{
  	width: 50%;
    float: left;
    margin-left: 0px;
}

div.moduletable.span8.galeria-cinza{
	width:100%;
}


.carousel-inner.base.carousel-inner
{
	width: 66%;
}

div.moduletable.menu-lateral{
	background-color: #DADACF;      /* Alterado de #eee para #DADACF */
  /*height: 140px;  Alterado pois conflitava com Responsibilidade do Serv. Acad.*/
  margin: 0px 0px 20px 20px;
}

div.moduletable.menu-lateral ul {
	padding:10px;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;

}

div.moduletable.menu-lateral li {
	list-style-type: disc;
	margin: 0px 0px 0px 26px;
}

div.moduletable.menu-lateral h3{	
  	background-color: #989884;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 -1px;
    padding: 7px 20px;
  
}
div.moduletable.menu-lateral a{
  color: #003a7a;
}
div.moduletable.menu-lateral a:hover{
  background-color: #DADACF;
  text-decoration: underline;
}
/*
div.moduletable.noticias-clipping {
	width:33%;
	float:left;
}
div.moduletable.ultimas-destaque {
		width:60%;
		float:left;
}*/

div.moduletable.ultimas-destaque h3{
		color: #fff;
		font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
		font-size: 1em;
		line-height: 1.2em;
		margin: 0 0 2px;
		padding: 7px 20px;
		text-transform: uppercase;
		background-color: #989884;
		/*margin: 10px 0px 0px 0px;*/
		border-bottom: solid 1px #fff;
	}
	
div.moduletable.ultimas-destaque {
	/*margin-right:20px;*/
    height: 400px;
      max-width: 620px;

}	

.carousel-indicators-ultimas {
  
  bottom:24px !important
  right: 15px;
 
}
.panel-destaque h3{
	color: #fff;
	font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	margin: 0 0 2px;
	padding: 7px 20px;
	text-transform: uppercase;
	background-color: #989884;
	margin: 10px 0px 0px 0px;
	border-bottom: solid 3px #fff;
}
/*.panel-destaque.corpo{
	height:346px;
	background-color: #DADACF; Alterado de #EEEEE para #DADACF
	margin-bottom: -20px;
    padding: 0;
    padding-bottom: 0px;
}*/
	
div#navegar_ultimas .li_ultimas {
   float: left; 
 } 
 
.slide .carousel-inner .carousel-caption-ultimas {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 50px 6px 20px;
}

.carousel-caption-ultimas {
  position: relative;
  left: 0;
  right: 0;
  bottom: 54px;
  padding: 10px;
  /*background: #333;*/
  background-color: rgba(0, 0, 0, 0.5);
  /*background: rgba(0,0,0,0.75);*/
  line-height: 1;
}

.slide .carousel-inner .carousel-caption-ultimas span {
  color: #fff;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
}

.slide .carousel-inner .carousel-caption-ultimas h4 {
  font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
  /*font-size: 1.2em; Alterado por Amilton*/
  font-size: 1.1em;
  line-height: 1em;
  margin-top: 5px;
  overflow: hidden;
}

.carousel-caption-ultimas h4 {
  margin: 0 0 5px;
  color:#fff;
}

.tabs-container {
  position: relative;
  height: 360px;
  margin: 0 auto;
}

.tabs-container:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: none;
}
input.tabs {
  display: none;
}
input.tabs + label {
  font-family: "liberation_sansbold",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  line-height: 30px;
  /*padding: 0px 45px;*/
  /* padding: 0px 22px; */
  /*padding: 0px 22px 0px 23px;*/
  float: left;
  background: #989884;
  color: #fff;
  cursor: pointer;
  transition: background ease-in-out .3s;
  width: 50%;
  text-align: center;
}
input.tabs:checked + label {
  color: #003a7a;
  background: #DADACF; /* Alterado de #EEEEE para #DADACF */
  border: solid 0 #fff; /* Alterado de 1px para 0 */
}
input.tabs + label + div {
    width: 99.7%;
    opacity: 0;
    position: absolute;
    background: #DADACF;
    top: 33px;
    left: 0;
    height: 347px;
    padding: 25px; /*10*/
    z-index: -1;
    transition: opacity ease-in-out .3s;
    padding-top: 25px;
    box-sizing: border-box;
}
input.tabs:checked + label + div {
  opacity: 1;
  z-index: 1000;
}
.tabs-container{
	margin:0px;
}
/* Ajustes galeria fotos*/
.moduletable.galeria-cinza.span4{
	/*height: 230px;*/
  margin-bottom: 20px; 
}
.galeria-cinza .bx-wrapper .bx-viewport {
    border: solid #fff 0px;
    left: 0px;
    margin-top: 0px;
}
.bx-viewport{
 	/*height: 200px !important; */
}
div.bx-wrapper{
    padding: 0px 0px 0px 0px;
    background-color: #d9d9ce;
}
/* Ajustes galeria de videos*/
.moduletable.videos.span4.galeria-cinza{
/* 	height: 230px; */
    height: auto;
}
.video-footer{
  display: none; 
}
.moduletable.videos h4{
  display:none;
}
.custom.videos.span4{
 	height: 230px; 
}
/* Ajustes carrosel noticias*/
.carousel-slide-item-noticia {
    height: 387px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

a#bot-ultimas {
    position:relative;
    background: #fff url("../images/bnMais.png") no-repeat scroll center center !important;
    color: #fff;
    display: inline-block;
    font-size: 0;
    height: 23px;
    margin: -2px;
    text-align: center;
    width: 22px;
    left: 250px;
    top: 20px;
   
  
}
.item-ultimas{
  height: 345px;
}

#navegar_ultimas li{
  float:left;
}
#ul_ultimas{
     list-style-type: none;
}
.moduletable.noticias-clipping .carousel-footer .controles-carousel a {
    background-image: url("../images/setas.png");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 9px;
}
.moduletable.noticias-clipping .carousel-footer{
    background: #DADACF;
    padding: 5px 10px;
    position: relative;
    bottom: -23px;
}
.moduletable.noticias-clipping .carousel.slide-multi {
    /*padding: 0px 10px;*/
  	/*margin: -17px -13px -17px -13px;*/
    padding: 0px 0px;
}
.moduletable.noticias-clipping .carousel-footer .controles-carousel a.right {
    background-position: right top;
    margin-left: 5px;
}
.moduletable.noticias-clipping .carousel-footer a.link-categoria span{
    background: transparent url("../images/bnMais.png") no-repeat scroll center center;
      color: #fff;
    display: inline-block;
    font-size: 0;
    height: 21px;
    margin-left: 5px;
    text-align: center;
    width: 22px;
}
.moduletable.noticias-clipping .carousel.slide-multi .chapeu-data span.divisor {
    font-family: Georgia;
    font-size: 2em;
    line-height: 10px;
    position: relative;
    top: -2px;
}
.moduletable.noticias-clipping .carousel.slide-multi h5 a{
    color: #003a7a;
    font-weight: normal;
}
.moduletable.noticias-clipping .carousel.slide-multi .chapeu-data span {
    /*font-size: 0.8em;*/
    text-transform: uppercase;
}
div.al-dir.galeria-cinza.span4{
    float: right;
    margin-left:20px;
}

div.int-cursos {
    width: 49.5%;
    float: right;
    margin-left: 20px;
}
div.int-servico {
    float: right;
    width: 49.5%;
}
time[itemprop='datePublished']{
  display: none;
}	
div.item-page p{
  font-size: 13px;
  line-height:18px;
}

/*galeria e ultimas em main#content*/
main#content .well {
    width: 48%;
    padding: 0px;
    background-color: white;
    border: 0;
    margin: 0px;
}
main#content .well.moduletable.al-dir.ultimas.span4.galeria-cinza.span4 h3 {
    margin-bottom: 3px;
}
main#content .galeria-cinza.inter {
    margin-left: 20px;
    float: right;
}

/*Ensino, Pesquisa, Extensão menu direita*/
div.moduletable.menu-interno.menu-dir {
    background-color: #DADACF;
    border: solid 1px #989884;
    padding: 3px 7px;
}
div.moduletable.menu-dir h3 {
    background-color: #989884;
    padding: 10px;
    margin: -4px -7px;
    color: white;
    font-size: 16px;
    <!--text-transform: uppercase;-->
}
div.menu-dir ul {
    margin-top: 15px;
    margin-bottom: -4px;
}
main#content div.page-header h2[itemprop='name']{
  padding-bottom:12px;
}
/*menu links ensino*/
div.moduletable.menu-interno.menu-dir.ensino {
    background-color: #CCCC9A;
}
div.moduletable.menu-interno.menu-dir.ensino h3 {
    background-color: #999965;
}
/*menu links pesquisa*/
div.moduletable.menu-interno.menu-dir.pesquisa {
    background-color: #7FDDD4;
}
div.moduletable.menu-interno.menu-dir.pesquisa h3 {
    background-color: #009899;
}
/*menu links extensao*/
div.moduletable.menu-interno.menu-dir.extensao {
    background-color: #B0C4DE;
}
div.moduletable.menu-interno.menu-dir.extensao h3 {
    background-color: #336799;
}
div.moduletable.menu-interno.extensao a:hover, div.moduletable.menu-interno.ensino a:hover, div.moduletable.menu-interno.pesquisa a:hover {
    background-color: transparent;
}
/*Modulo noticias */
#carouselUltimas{
    height: 387px;
    background-color: #DADACF;
    /*margin-bottom: -20px;*/
    padding: 0;
    /*padding-bottom: 0px;*/
}
#carouselUltimas .carousel-caption {
    background-color: rgba(0, 0, 0, 0);
    height: 72px;
    padding: 20px 50px 20px 30px;
}
#carouselUltimas .carousel.slide .item{
  height: 400px;
}
.carousel-caption-ultimas a{
  color: #fff;
  /*font-size: 1.40em; retirado por Amilton*/
}
.carousel-caption-ultimas p{
  color: #fff;
  margin: 0;
  font-size: 1.25em;
}
.carousel-caption-ultimas span{    
	font-size: 1.1em;
    margin: 0px;
}
#carouselUltimas img{
  min-height: 387px;
  max-height: 387px;
  min-width: 619px;
  max-width: 619px;
}
#carouselUltimas .carousel-inner{
  height: 387px;
}


/* CSS dos Slides de Área*/

.dividir{
   /*float: left;
    width: 47%;
    margin: 10px 0px 10px 0px;*/
  }
  .tabs-container1 {
    position: relative;
    height: 00px;
    /*max-width: 98%;*/
    margin:0px;
  }
 .tabs-container1 p{
    margin: 0;
    padding: 0;
  }
  .tabs-container1:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: none;
  }
 
  input.tabsa {
    display: none;
 
  }
  input.tabsa + label {
    line-height: 27px;
    /*padding: 0 20px;*/
    float: left;
    background: #989884;
    color: #fff;
    cursor: pointer;
    transition: background ease-in-out .3s;
    width: 33.33%;
    font-size:13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
  }

 input.tabsa:checked + label {
   line-height:31px;
   color: #003a7a;
   background: #DADACF;
 }

 input.tabsa + label + div {
    width: 100%;
    opacity: 0;
    position: absolute;
    /*background: #DADACF;*/
    top: 30px;
    left: 0;
    /*height: 260px; Alterado por Amilton 14/set*/
   	/*height: 241px;*/
    height: auto;
    /*padding: 15px;*/
    z-index: -1;
    transition: opacity ease-in-out .3s;
  }
  input.tabsa:checked + label + div {
    opacity: 1;
    z-index: 1000;
  }
 
  .tabs-container1 h4 {
    text-align: center;
    margin: 6px;
  }
 
 
  .tabs-container1 img {
    text-align:center;
    margin: 9px 13px; 
    width: 94%;
  }
@media (max-width: 767px){
  div.destaque-2.span4{
    width: 100%;
    margin-left: 0px;
    
  } 
  .destaque-1.span8{
    height: 330px;
  }

  input.tabsa + label + div{
    height: 300px;
  }
  .oduletable.span4{
    margin-top: 20px;
  }
} 
 
 @media (max-width: 979px) and (min-width: 940px){
   .destaque-1.span8 h4{
   /*  margin-top: 30px;*/
   }
}
 @media (max-width: 939px) and (min-width: 768px){
   .destaque-1.span8 h4 {
     margin-top: 45px;
     height: 343px;
   }
}




@media (min-width: 850px) and (max-width: 979px) {
  .agenda .lista-agenda .item-content{
    /*width: 174px;*/
    height: 180px;
  }
  .agenda .agenda-titulo-link{
    height: 142px;
  }
  div.destaque-2.span4{
    width: 49.9%
  }
}
@media (min-width: 680px) and (max-width: 850px) {
   .agenda .lista-agenda .item-content{
     /*width: 154px;*/
     height: 166px;
     
   }
   .agenda .agenda-titulo-link{
     height: 142px;
     padding: 12px;
     width: 12.5%;
  }
  .destaque-1.span8{
     height: 343px;
  }
 }
@media(max-width: 679px){
   .agenda .lista-agenda .item-content{
/*       padding: 12px;*/
    }
   .agenda .agenda-titulo-link{
      float: none;
      width: inherit;
      padding: 5px;
      height: 20px;
      margin-bottom: 3px
    /*    padding: 12px;*/
   }
  .agenda .agenda-titulo-link h3{
    
    margin: 0px;
  }
  .agenda .agenda-titulo-link h3::before{
    content: "UnB ";
    display: initial;
    
  }
   
  .agenda .agenda-titulo-link a.link-agenda span{
    display: none;
    
  }
  .agenda .lista-agenda .item-content{
    margin: 0px 0px 3px 0px;
    width: 100%;
    height: auto;
  }
  .agenda .lista-agenda .item-content .item-content-inner{
	padding: 0px;    
  }
  .agenda .lista-agenda .item-content .item-content-inner h5{
    margin: 0 0 10px;
  }
  .destaque-1.span8{
    height: 410px;
  }
  div.moduletable.menu-lateral{
    margin-left: 0px;
  }
}
@media(max-width: 570px){
  .destaque-1.span8{
    height: 355px;
   }
}

@media(max-width: 420px){
  .destaque-1.span8{
    height: 290px;  
  }
}

/*Destaque das áreas - nas páginas de Ensino, Pesquisa e Extensão - Amilton*/
div.base-inner div.slide-area{
  /*float: left;*/
  width: 48.2%;
}
div.base-inner div.centralizar{
  background-color: #dadacf;
}
div.base-inner div.centralizar h4{
  margin:3px 0 18px;
}
/*Fim Destaque das áreas*/


div.moduletable.menu-interno.menu-dir {
    position: relative;
    z-index: 0;
}
/*Últimas da Capa - Reduzir o chapéu e data - Amilton*/
div.chapeu-data{
  font-size: 0.8em;
}
/*Fim Últimas da Capa*/

/*Últimas no final do texto - Acertar padding do módulo - Amilton*/
#carousel-207{
  padding: 6px 12px 0;
}
/*Fim Últimas no final do texto*/

/*Mapa do site - h2 - títulos*/
h2.menutitle{
	font-size: 1.1em;
}
/*Fim Mapa do site*/

/*Últimas - substituto do clipping na capa*/
#carousel-221{
  padding: 1px 12px 0;
}