body
{
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
a:link, body_alink
{
	color: #000000;
	text-decoration: none;
}
a:visited, body_avisited
{
	color: #000000;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
	color: #FF3733;
}
.page
{
	color: #242424;
}
td, th, p, li
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tborder
{
	background: #e2e1ea;
	color: #242424;
	border: 1px solid #ffffff;
}
.tcat
{
	background: #202020 url(http://cdn.tehparadox.com/forum/ogenzen/gradients/gradient_tcat.gif) repeat-x top left;
	color: #ffffff;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #ffffff;
	text-decoration: underline;
}
.thead
{
	background: #202020 url(http://cdn.tehparadox.com/forum/ogenzen/gradients/gradient_tcat.gif) repeat-x top left;
	color: #ffffff;
	font: bold 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #ffffff;
}
.thead a:visited, .thead_avisited
{
	color: #ffffff;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #ffffff;
}
.tfoot
{
	background: #f2f2f2 url(http://cdn.tehparadox.com/forum/ogenzen/gradients/alt1.gif) repeat-x top left;
	color: #242424;
}
.tfoot a:link, .tfoot_alink
{
	color: #000000;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #000000;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FF3733;
}
.alt1, .alt1Active
{
	background: #ffffff;
	color: #242424;
}
.alt2, .alt2Active
{
	background: #f2f2f2;
	color: #242424;
}
.inlinemod
{
	background: #e2e1ea;
	color: #242424;
}
.wysiwyg
{
	background: #f2f2f2 url(http://cdn.tehparadox.com/forum/ogenzen/gradients/alt1.gif) repeat-x top left;
	color: #242424;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
textarea, .bginput
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.bginput option, .bginput optgroup
{
	font-size: 10pt;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	background: #202020 url(http://cdn.tehparadox.com/forum/ogenzen/gradients/gradient_tcat.gif) repeat-x top left;
	color: #ffffff;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: 1px solid #e2e1ea;
}
select
{
	background: #ffffff;
	color: #242424;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: 1px solid #e2e1ea;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.time
{
	color: #FF3733;
}
.navbar
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.highlight
{
	color: #D13737;
	font-weight: bold;
}
.fjsel
{
	background: #f5f5ff;
	color: #242424;
}
.fjdpth0
{
	background: #2f2f2f;
	color: #ffffff;
}
.panel
{
	background: #eff0f4;
	color: #242424;
	padding: 10px;
	border: 2px outset;
}
.panelsurround
{
	background: #eff0f4;
	color: #242424;
}
legend
{
	color: #2262ab;
	font: 11px Arial,Liberation Sans,DejaVu Sans,sans-serif;
}
.vbmenu_control
{
	background: #202020 url(http://cdn.tehparadox.com/forum/ogenzen/gradients/gradient_tcat.gif) repeat-x top left;
	color: #ffffff;
	font: bold 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #e2e1ea;
	color: #242424;
	border: 1px solid #e2e1ea;
}
.vbmenu_option
{
	background: #f2f2f2 url(http://cdn.tehparadox.com/forum/ogenzen/gradients/alt1.gif) repeat-x top left;
	color: #242424;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FF3733;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #ececec url(http://cdn.tehparadox.com/forum/ogenzen/gradients/alt2.gif) repeat-x top left;
	color: #242424;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FF3733;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FF3733;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, th.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** de-emphasized text */
.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }
/* CSS Document */

html {
 height: 100%;
 margin-bottom: 1px;
}
body {
 margin: 0; padding: 0;
 font-size: 100%;
 font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
 background: #191919 url(http://cdn.tehparadox.com/forum/images/misc/body_bg.gif) repeat-x top left;
}
a {
 text-decoration: none;
}
img {
	border: 0;
}
#header {
	width: 1085px;
	margin: 0 auto;
	background: url(http://cdn.tehparadox.com/forum/images/misc/header.png) no-repeat top left;
	height: 127px;
	text-align: center;
}
#page {
	width: 1085px;
	margin: 0 auto;
	background: url(http://cdn.tehparadox.com/forum/images/misc/page.png) repeat-y top center;
}
#nav {
	height: 62px;
	padding-top: 15px;
	padding-left: 150px;
	padding-right: 150px;
	background: url(http://cdn.tehparadox.com/forum/images/misc/nav.png) no-repeat top center;
	text-align: center;
}
#topads {
	background: url(http://cdn.tehparadox.com/forum/images/misc/topads.gif) no-repeat top center;
	height: 98px;
	text-align: center;
	padding-top: 20px;
}
#main {
	width: 825px;
	padding-right:3px;
	padding-top: 5px;
	margin: 0 auto;
}
#footer {
	text-align: center;
	height: 80px;
	background: url(http://cdn.tehparadox.com/forum/images/misc/footer_bg.png) no-repeat top center;
	padding-top: 47px;
	color: #fff;
	font-weight: bold;
}
.register {
	background: #f8f8f8 url(http://cdn.tehparadox.com/forum/images/gradients/register.gif) repeat-x bottom left;
}
.register a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.alt, .altActive{
	background: #ffffff;
}
.alt3 {
	background: #F8F8F8 url(http://cdn.tehparadox.com/forum/images/gradients/alt3.gif) repeat-x top left;
	border:1px solid #ffffff;
}
.alt4 {
	background: #F8F8F8 url(http://cdn.tehparadox.com/forum/ogenzen/gradients/alt2.gif) repeat-x top left;
	border:1px solid #ffffff;
}
.user a {
	color:#FF4400;
}

h1 {
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 170%;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 7px;
}
h1navbar {
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 170%;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 7px;
}
h2 {
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 140%;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 7px;
}
h3 {
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 110%;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 5px;
}

.vbmenu_con
  {
    font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;  
    margin:0;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    white-space: nowrap;
    text-decoration: none;
}    
    
.vbmenu_con A:link { color: #FFFFFF;  text-decoration: none;  }
.vbmenu_con A:visited { color: #FFFFFF;  text-decoration: none;  }
.vbmenu_con A:hover { color: #FFFFFF;  text-decoration: underline;  }
.vbmenu_con A:active { color: #FFFFFF;  text-decoration: none;  }

.quotetop
{
	width=98%
	color: #000;
	margin: 8px auto 0px auto;
	font-weight:bold;
	font-size:10px;
	padding: 8px;
	background-color: #f2f2f2;
	border-left: 4px solid #505050;
	border-top: 1px dotted #000;
	border-right: 1px dotted #000;
}
.quotemain
{
	width=98%
	color: #465584;
	background-color: #ffffff;
	border-left: 4px solid #505050;
	border-right: 1px dotted #000;
	/*border-top: 1px dotted #000;*/
	border-bottom: 1px dotted #000;
	padding: 4px;
	margin: 0px auto 8px auto;
}
.stickyprefix {
color:#FF4400;
font-weight:bold;
}
.post A:link { color: #FF3733;  text-decoration: none;  }
.post A:visited { color: #FF3733;  text-decoration: none;  }
.post A:hover { color: #FF3733;  text-decoration: underline;  }
.post A:active { color: #FF3733;  text-decoration: none;  }

.clear {
clear:both
}