/* FB Connect based styles */
/*Overwrites some original styles from common style css */
<style>
.regForm {top: 90px;}
.regMessage {top: 40px;}
.rffbjoin {font-weight: bold;margin-top: 5px;font-size: 14px;}
	.fbblue {
		color: #e8f0de;
		border: solid 1px #516382;
		background: #657897 url('../images/GTM_FBConnect_login_btn_full.jpg') repeat scroll center left; /* Old browsers */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -moz-linear-gradient(top, #7e93b2, #516382); /* FF3.6+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -webkit-gradient(linear, left top, left bottom, from(#7e93b2), to(#516382)); /* Chrome,Safari4+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -webkit-linear-gradient(top, #7e93b2, #516382); /* Chrome10+,Safari5.1+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -o-linear-gradient(top, #7e93b2, #516382); /* Opera11.10+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -ms-linear-gradient(top, #7e93b2, #516382); /* IE10+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, linear-gradient(top, #7e93b2, #516382); /* W3C */
	}
	.fbblue:hover {
		background: #526483 url('../images/GTM_FBConnect_login_btn_full.jpg') repeat scroll center left; /* Old browsers */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -moz-linear-gradient(top, #516382, #516382); /* FF3.6+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -webkit-gradient(linear, left top, left bottom, from(#516382), to(#516382)); /* Chrome,Safari4+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -webkit-linear-gradient(top, #516382, #516382); /* Chrome10+,Safari5.1+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -o-linear-gradient(top, #516382, #516382); /* Opera11.10+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -ms-linear-gradient(top, #516382, #516382); /* IE10+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, linear-gradient(top, #516382, #516382); /* W3C */
	}
	.fbblue:active {
		background: #7e93b2 url('../images/GTM_FBConnect_login_btn_full.jpg') repeat scroll center left; /* Old browsers */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -moz-linear-gradient(top, #516382, #7e93b2); /* FF3.6+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -webkit-gradient(linear, left top, left bottom, from(#516382), to(#7e93b2)); /* Chrome,Safari4+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -webkit-linear-gradient(top, #516382, #7e93b2); /* Chrome10+,Safari5.1+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -o-linear-gradient(top, #516382, #7e93b2); /* Opera11.10+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, -ms-linear-gradient(top, #516382, #7e93b2); /* IE10+ */
		background: url('../images/GTM_FBConnect_login_btn.jpg') no-repeat scroll center left, linear-gradient(top, #516382, #7e93b2); /* W3C */
	}
	.gtmblue {
		color: #e8f0f3;
		border: solid 1px #0495c1;
		background: #66bfd8 url('../images/GTM_FBConnect_login_btn_email_full.jpg') repeat scroll center left; /* Old browsers */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -moz-linear-gradient(top, #66bfd8, #0495c1); /* FF3.6+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -webkit-gradient(linear, left top, left bottom, from(#66bfd8), to(#0495c1)); /* Chrome,Safari4+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -webkit-linear-gradient(top, #66bfd8, #0495c1); /* Chrome10+,Safari5.1+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -o-linear-gradient(top, #66bfd8, #0495c1); /* Opera11.10+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -ms-linear-gradient(top, #66bfd8, #0495c1); /* IE10+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, linear-gradient(top, #66bfd8, #0495c1); /* W3C */
	}
	.gtmblue:hover {
		background: #57a3b8 url('../images/GTM_FBConnect_login_btn_email_full.jpg') repeat scroll center left; /* Old browsers */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -moz-linear-gradient(top, #0495c1, #0495c1); /* FF3.6+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -webkit-gradient(linear, left top, left bottom, from(#0495c1), to(#0495c1)); /* Chrome,Safari4+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -webkit-linear-gradient(top, #0495c1, #0495c1); /* Chrome10+,Safari5.1+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -o-linear-gradient(top, #0495c1, #0495c1); /* Opera11.10+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -ms-linear-gradient(top, #0495c1, #0495c1); /* IE10+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, linear-gradient(top, #0495c1, #0495c1); /* W3C */
	}
	.gtmblue:active {
		background: #66bfd8 url('../images/GTM_FBConnect_login_btn_email_full.jpg') repeat scroll center left; /* Old browsers */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -moz-linear-gradient(top, #0495c1, #66bfd8); /* FF3.6+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -webkit-gradient(linear, left top, left bottom, from(#0495c1), to(#66bfd8)); /* Chrome,Safari4+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -webkit-linear-gradient(top, #0495c1, #66bfd8); /* Chrome10+,Safari5.1+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -o-linear-gradient(top, #0495c1, #66bfd8); /* Opera11.10+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, -ms-linear-gradient(top, #0495c1, #66bfd8); /* IE10+ */
		background: url('../images/GTM_FBConnect_login_btn_email.jpg') no-repeat scroll center left, linear-gradient(top, #0495c1, #66bfd8); /* W3C */
	}
	#loginformfield {
		display:none;
		position:absolute;
		z-index:999;
		margin:0 5px;
		top:103px;
		right:5px;
		width: 445px;
	}
	#loginformfield .messageBoxArrowU {
		left: 248px;
	}
	.loginMessage .messageBoxArrowU {
		left: 30%;
	}
	.fbloginMessage .messageBoxArrowU {
		left: 74%;
	}
	.loginMessage {top:10px;margin-right:5px;}
	.fbjoinMessage {width: 100px;top: 20px;left: 190px;}
	#loginfbbtndiv {text-align:center;}
	.loginSmall {font-weight: normal;}
@media screen and (max-width: 800px) {
	#loginformfield {
		top:170px;
		right:auto;
	}
	#loginformfield .messageBoxArrowU {
		left: 20px;
	}
	.loginMessage .messageBoxArrowU {
		left: 10%;
	}
	.fbloginMessage .messageBoxArrowU {
		left: 70%;
	}
	.loginMessage {top:0;margin-right:auto;}
	.fbjoinMessage {top: 30px;left:200px;}
	.fb-like {display: none !important;}
}
@media screen and (max-width: 480px) {
	#loginformfield {
		width: 300px;
		top:185px;
	}
	#loginfbbtndiv {text-align:left;}
}
</style>