/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	height: 100%;
}
body {
	/*font:12px Tahoma, Arial, "Times New Roman", "Century Gothic";*/
	font: 12px Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: url(../images/background-body.png) repeat;

}
/*general fonts*/

.mobile_tickles{
        list-style: outside url("../images/reg_box_tickle.png") disc !important;
}

.footnote {
	font-size:9px;
	font-weight:normal;
	color:#9fCC3B;
	margin:0 0 20px 15px;
}
.highlight {
	font-size:14px;
	font-weight:bold;

}

.greenHighlight {
font-size: 14px;
font-weight: bold;
color: #3a9ab7;

}

.body_highlight {
	font-size:12px;
	}
.feature {
	font-size:20px;
color:#3a9ab7;
font-weight:normal;
}
.header_icon {
	font-weight:bold;
	font-size:16px;
	padding:17px 0px 0px 35px;
	height:27px;
	margin:0;
}
.body_small {
	font-weight:normal;
}
.legal {
	font-size:10px;
	font-weight:normal;
	margin: 10px auto; 
	text-align: left;
	/*	width: 967px;
	margin:0 auto 30px auto;
padding-left:30px;*/
}
/*body link*/

.ms ._white {
	background:#fff;
}
.ms # a, .ms # a:hover, .ms # a:hover {
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	border:none;
}
.ms # h3.ui-state-default a {
	text-decoration:none;
}/*to for accordeo header*/
.ms # h3.ui-state-active a {
	text-decoration:none;
}/*to for accordeo header*/
/*Member link*/


.ms # a.small_link {
	font-size:11px;
	font-weight:normal;
	text-decoration:underline;
	border:none;
}
/*end general fonts*/






/*.ms #container {
	width: 967px;
	margin:0 auto 10px auto;
}*/
/*header*/

.ms #header {
	/*
	height: 96px;
	width:100%;
	*/
	padding: 0;
	margin:0;
}
/*Navigation*/
.ms #navigation {
	/*height: 38px;
	width:100%;*/
	padding:4px 0.15% 0 0;
	color:#000;
	font-size:13px;
	font-weight:bold;
	/*font-family:Tahoma;
	float:right;*/
	margin:0;
height:23px;

}

.ms #navigation .topnav{
width:100%;
margin: 0 5px;
}
.ms #navigation ul.topnav {
	list-style: none;
	padding:0;
	margin: 0;
	float: right;
	/*width: 720px;*/
}
.ms #navigation ul.topnav li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	z-index:999;
	background-color:#FFF;
}
.ms #navigation ul.topnav li a, .navfirstlevel {
	padding:3px 3px 4px 0px;
	color: #000;
	display: block;
	text-decoration: none;
	float: left;
	/*font-size:14px;
	font-weight:bold;*/
	width:100px;
	text-align:center;
}
.ms #navigation ul.topnav li a:hover {
	color: #000;
}
.ms #navigation ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0;
	top: 21px;
	margin: 0;
	padding: 0;
	display: none;
	text-align:center;
	float: left;
	width:100%;
}
.ms #navigation ul.topnav li ul.subnav li {
	float:left;
	margin: 0;
	padding: 0;
	clear: both;
	width:100%;
	border:none;
background-color:#FFF;
}
html .ms #navigation ul.topnav li ul.subnav li a {
	width:90%;
	padding: 3% 2% 3% 2%;
	margin:0;
color:#000;
text-align:center;
}

/*Content*/

.ms # {
	padding:0;
	margin:0;
	width:100%;
	float:left;
}
.ms # ul {
	margin:0 0px;
	padding:0 10px;
}
.ms # ul li {
	margin:10px 0px;
}
.ms # fieldset {
	border:none;
	margin:0;
	padding:0;
}
.ms # select {
	max-width: 400px;
}
.ms # fieldset.login_small {
	padding:0px;
	margin:0px;
	clear:both;
}
.ms # fieldset.login_small input[type="text"], .ms # fieldset.login_small input[type="password"] {
	color:#999999;
}
.ms # .btn_submit {
	width:90px;
	height:39px;
	cursor:pointer;
	font-size:0;
	display:block;
	border: 0px solid #FFFFFF;
}
.ms # .btn_continue {
	width:111px;
	height:39px;
	cursor:pointer;
	font-size:0;
	display:block;
	border: 0px solid #FFFFFF;
}
.ms # .btn_save {
	width:111px;
	height:39px;
	cursor:pointer;
	font-size:0;
	display:block;
	border: 0px solid #FFFFFF;
}
.ms # .btn_unsubscribe {
	width:134px;
	height:39px;
	cursor:pointer;
	font-size:0;
	display:block;
	border: 0px solid #FFFFFF;
}
.ms # .btn_cancel {
	width:90px;
	height:39px;
	cursor:pointer;
	font-size:0;
	display:block;
	border: 0px solid #FFFFFF;
}
.ms # .btn_join_now, .ms # .btn_join_now:hover {
	width:125px;
	height:40px;
	cursor:pointer;
	font-size:0;
	display:block;
	overflow:hidden;
	padding-top:40px;
}
.ms div.postit {
	width:162px;
	height:175px;
	padding-top:55px;
	margin-left:25px;
}
.ms div.postit div.postit_inner {
	width:132px;
	margin:0px 0px 0 15px;
}
.ms div.minipoll-postit {
	width:162px;
	height:135px;
	padding-top:105px;
	margin-left:25px;
}
.ms div.minipoll-postit div.postit_inner {
	width:132px;
	margin:0px 0px 0 15px;
	font-size:14px;
}
.ms hr.orange, .ms div.orange {
	border:none;
	height:3px;
	width:100%;
	margin:15px 0;
}
.ms hr.green, .ms #sidebarR div.green {
	border:none;
	height:3px;
	width:100%;
	margin:15px 0;
}
.ms hr.grey, .ms div.grey {
	border:none;
	height:3px;
	width:100%;
	margin:15px 0;
}
/*left */



.ms #left_ {
	width:751px;
	margin:0;
	float:left;
}
.ms #flash_holder {
	float:left;
	width:751px;
	background:#fff;
}
/*sidebarL*/


/*
.ms #sidebarL {
	width:215px;
	float:left;
}
*/
.ms #sidebarL div.general_box {
	width:185px;
	padding-left:30px;
	padding-top:10px;
}
.ms #sidebarL div.feature_sidebar_member {
	display:block;
	margin:0;
	padding:10px 0 0 10px;
	width:205px;
	height:90px;
}
.ms #sidebarL .green {
	text-align:left;
}
.ms #sidebarL h3.highlight {
	font-size:14px;
	font-weight:bold;
	font-family:Tahoma;
	padding:0 15px 15px 0px;
}
.ms #sidebarL h3.highlight_loggedin {
	font-size:12px;
	padding:0 15px 0 0px;
}
.ms #sidebarL a.small_link {
	margin-left:25px;
}
.ms # #sidebarL ul {
	padding:0;
	width:145px;
	margin-left:15px;
}
.ms # #sidebarL ul li {
	margin:10px 0px;
}
.ms fieldset.login_small input.submit {
	margin:10px 0 15px 25px;
	padding-right:0;
	border:none;
	width:159px;
	height:39px;
	display:block;
	cursor:pointer;
	border: 0px solid #FFFFFF;
	font-size:0;
}
.ms #sidebarL a.go_next {
	margin:10px 0px 15px 25px;
	padding-right:0;
	border:none;
	width:154px;
	height:39px;
	display:block;
	cursor:pointer;
	border: 0px solid #FFFFFF;
	text-decoration:none;
	font-size:0;
	line-height:0;
}
.ms #sidebarL fieldset.login_small label {
	margin:5px 30px 10px 0px;
	display:block;
}
.ms #sidebarL div.minipoll {
	padding-top:60px;
	padding-bottom:30px;
}
.ms #sidebarL fieldset.login_small input.minipoll {
	margin:10px 0 15px 25px;
	padding-right:0;
	border:none;
	width:159px;
	height:39px;
	display:block;
	cursor:pointer;
	border: 0px solid #FFFFFF;
}
.ms #sidebarL fieldset.login_small label {
	margin:5px 30px 10px 0px;
	display:block;
}
.ms #sidebarL fieldset a.member {
	margin-left:25px;
}
.ms #sidebarL div.minipoll_answers {
	padding-right:15px;
}
.ms #sidebarL div.minipoll_answers div.answer {
	margin:10px 0;
	float:left;
	width:79%;
}
.ms #sidebarL div.minipoll_answers div.result {
	margin:10px 0;
	float:right;
	width:20%;
}
.ms #sidebarL div.general_box div.pointsL {
	float: left;
	text-align:left;
	width:90px;
}
.ms #sidebarL div.general_box div.pointsR {
	float: right;
	text-align:right;
	width:60px;
	margin-right:30px;
}
.ms #sidebarL div.join_now {
	font-size:11px;
	margin-bottom:20px;
}
.ms #sidebarL div.join_now a.small_link {
	margin-left:5px;
}
/*article*/

/*
.ms #article {
	width:536px; 
	float:left;
}
*/
/*landing page*/
.ms .landing_text {
	width:536px;
	margin-left:110px;
}
/*registration*/

.ms .registration_text {
	width:900px;
	margin-left:10px;
	margin-right:8px;
	background: #FFFFFF;
}
.registrationFieldText {
	font-size: 12px;
	color: #333333;
	line-height: 140%;
}
.ms table.general_demo {
	width:100%;
}
.ms table.general_demo th.title, .ms table.general_demo div.title {
	font-weight:normal;
	padding:5px 10px 5px 0;
	text-align:left;
color: #3a9ab7;
}
.ms table.general_demo th.title {
	width:30%;
}
.ms table.general_demo div.title {
	margin-bottom:10px;
}
.ms table.general_demo td {
	padding:5px 0;
}
.ms table.general_demo label {
	display:block;
	float:left;
	width:100%;
}
.ms table.general_demo .confirm {
	width:100%;
	float:left;
	margin:10px 0;
}
.ms table.general_demo .confirm label {
	margin:0 20px 0 0px;
	width:150px;
}
.ms table.general_demo .confirm input {
	float:left;
}
.ms table.general_demo .member {
	padding:5px;
}
.ms table.general_demo textare {
	width:100%;
}
.ms .inner_text {
	padding:5px 20px 10px 20px;
	font-weight:normal;
	font-size:12px;
/*background-color:#FFF;*/
}
.ms .inner_text p {
	margin:10px 0;
}
.ms .inner_text ol {
	padding-bottom:10px;
}
.ms .inner_text ol li {
	padding-bottom:5px;
}
/*Theme update*/

.ms table.general_demo #THEME_T label {
	float:left;
	width:40px;
	margin:0 2px;
	text-align:center;
}
/*block articles css*/

.ms .inner_text div.right_block {
	float:left;
	width:100%;
	margin:10px 0;
}
.ms .inner_text div.right_block div {
	float:right;
	width:300px;
}
.ms .inner_text div.left_block {
	float:left;
	width:100%;
	margin:10px 0;
}
.ms .inner_text div.left_block div {
	float:left;
	width:300px;
}
/*Activities*/

.ms .inner_text .right_block div.activities_L {
	float:left;
	width:100%;
}
.ms .inner_text .right_block div.activities_R {
	float:left;
	width:100%;
}
.ms .inner_text .right_block div.activities_L p.activities, .ms .inner_text .right_block div.activities_R p.activities {
	border-bottom:1px solid #8ec52c;
	margin-bottom:10px;
	height:20px;
}
.ms .inner_text .right_block table.general {
	width:100%;
}
.ms .inner_text .right_block table.general td.description {
	width:100%;
	font-weight:bold;
}
.ms .inner_text .right_block table.general td.go {
	width:51px;
	font-weight:bold;
}
.ms .inner_text .right_block table.general td.ar_points {
	font-weight:bold;
}
.ms .inner_text .right_block table.general .start {
	width:51px;
	height:19px;
	cursor:pointer;
	font-size:0;
	margin-left:10px;
	display:block;
	border: 0px solid #FFFFFF;
	float:right;
	padding-left: 55px;
}
/*transaction history*/

table.transaction_history th {
	font-family:Tahoma;
	font-size:14px;
	border-top:1px solid #8ec52c;
	border-bottom:1px solid #8ec52c;
	padding:5px;
}
table.transaction_history td {
	font-family:Tahoma;
	font-size:12px;
	padding:5px;
}
p.optoutred {
	color:#FF0000;
}
p.optoutblue {
	color: #4F81BD;
}
/*sidebarR*/

.ms #sidebarR {
	width: 215px;
	margin:0 0 20px 0;
	padding-top:6px;
	padding-left:1px;
	float:right;
}
.ms #sidebarR div.general_box {
	padding-bottom:15px;
}
.ms #sidebarR h3.highlight {
	padding:0 15px 0 15px;
	margin:20px 0 10px 0;
}
.ms #sidebarR h3.feature_sidebar, .ms #sidebarR h3.feature_sidebar {
	padding:17px 0 5px 15px;/*padding:19px 0 0 15px;*/
	margin:10px 0 15px 0;
	width:195px;
	height:18px;/*28*/
	color:#fff;
	font-size:14px;
	font-weight:bold;
	font-family:Tahoma;
}
.ms #sidebarR p, .ms #sidebarL p, .ms #sidebarR div.box, .ms #sidebarL div.box {
	margin:10px 15px 15px 15px;
}
.ms # #sidebarR ul {
	margin:0 20px;
}
/*footer*/

.ms #footer {
	clear:both;
	/*height:34px;font-family:Tahoma;font-weight:normal;color:#fff;*/
	font-size:11px;	
	background:url(../images/bgd-footer.png) repeat-x;
	height:33px;
	margin: 0 5px;
}
.ms #footer a{
	color:#000;
	text-decoration:none;
}

.ms #footer_right {
	/*padding-top:10px;*/
}
/*
.ms #footer div#languages {
	height:100px;
	position:absolute;
	z-index:999;
	bottom:+34px;
	left:+20px;
	display:none;
}
.ms #footer div#languages #cloud {
	position:relative;
	height:100px;
	color:#FF0000
}
.ms #footer div#languages #cloud #flags {
	position:relative;
	padding:10px 0px 20px 25px;
	margin:0 15px 0 15px;
	background:url(../images/cloud_m.gif) repeat-x;
	height:60px;
}
.ms #footer div#languages #cloud #flags ul {
	float:left;
	margin:0;
	padding:0;
}
.ms #footer div#languages #cloud #flags ul li {
	margin:5px 35px 0 0;
}
.ms #footer div#languages #cloud #flags ul#close_cloud {
	list-style:none;
	padding:0;
	margin:0;
	width:14px
}
.ms #footer div#languages #cloud #flags ul#close_cloud li a {
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.ms #footer div#languages #cloud #flags ul li a {
	vertical-align:top;
	font-family:Tahoma;
	font-size:11px;
	font-weight:normal;
}


.ms #footer p {
	margin: 0;
	background:transparent;

}
.ms #footer p a {
	color:#fff;
	text-decoration:none;
	border:none;
}
.ms #footer p#footer_right {
	position:absolute;
	top:12px;
	right:15px;
}
.ms #footer p#footer_left {
	position:absolute;
	top:12px;
	left:15px;
	width:227px;
}
*/
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearft {
	height:1px;
	display: block;
	clear: both;
	/*margin: -0.66em 0;*/
	line-height: 0;
	height: 0;
}
.valign_top {
	vertical-align:top;
}
.valign_bottom {
	vertical-align:bottom;
}

/* start: By APAC Keith, for SEO footer */
#footer2 {
	font-size: 11px;
}
#footer2 a {
	color: #5B5F65;
	font-size: 11px;
	text-decoration: none;
}
#footer2 a:hover {
	text-decoration: underline;
}
#footerSEO {
	margin: 10px 88px;
	border: 1px solid rgb(198, 198, 198);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#footerSEOWrap {
	padding: 10px 0px 0px 25px;
	text-align: left;
}
#footerSEOWrap ul {
	margin: 5px 0 12px 0;
	padding: 0 0 0 15px;
}
/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after {
	: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
/* end: By APAC Keith, for SEO footer */



/*start: mysurvey connect  by Luigi Laezza*/

   .ms # p.bam {
	margin: 20px 0 30px 60px;
}
.justified {
	text-align:justify;
	position:relative;
}
.ms # ul.r_nav {
	float:left;
	background:url("../images/RADIUS_greenBar.png") no-repeat;
	width: 536px;
	height: 22px;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding:0;
}
.ms # ul.r_nav li.r_nav {
	float:left;
	list-style:none;
	padding:5px 0px 0 10px;
	margin: 0;
}
.ms # ul.r_nav li.r_nav a {
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}
.ms # ul.r_nav li.r_nav a:hover {
	text-decoration:underline;
}
.ms # ul.r_nav li.r_nav a.act {
}
.r_box {
	float:left;
	width: 480px;
}
.r_box p {
	float: right;
	width: 380px;
}
.r_box #hiddenbox {
	display:none;
	float: right;
	width: 380px;
}
.r_box p img {
	border:none;
}
.ms # div#membership_box {
	background:url("../images/RADIUS_Membership_Box.png") no-repeat;
	width:375px;
	height:250px;
	margin:30px 0;
}
.ms # div#membership_box p {
	color: #fff;
	font-size: 12px;
	font-weight:bold;
	padding: 7px 10px 10px 10px;
	margin:5px;
 0px
}
.ms # div#membership_box ul {
	font-size:12px;
	padding: 0 30px;
}
.ms # div#membership_box ul li, .ms # div#hiddenbox ul li {
	list-style:url("../images/reg_box_tickle.png");
	margin:7px 10px;
}
.ms # div.postitparticipate {
	position: absolute;
	top: 200px;
	left: 280px;
}
/*end: mysurvey connect  by Luigi Laezza*/


/* start: mysurvey upgrade in 2012 by Bilex Ma */

fieldset, img{border:0;}
.menuarrow {
background: url("../images/ui-icons_847e71_256x240.png") -65px -15px no-repeat;
width: 15px;
height: 13px;
}
.shadow {
	-moz-box-shadow: 0px 3px 4px #ccc;
	-webkit-box-shadow: 0px 3px 4px #ccc;
	box-shadow: 0px 3px 4px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc');
}


#top{
	position:relative;
}

#toprightdiv{float:right; right:0;}	
#CountryList {border-top: none; padding: 3px 10px 5px; float: right;}
.lrpadding{
padding-left:15px;
padding-right:15px;
}
.tbmargin{
margin-top:10px;
margin-bottom:10px;

}
.tmargin{margin-top:10px;}
.bmargin{margin-bottom:10px;}
.iconpos{margin-top:-9px;}
section {margin-bottom:10px;}
.newmessageBox {
padding: 6px;
font-size: 12px;
font-weight: bold;
-moz-box-shadow: 0 2px 8px #dedede;
-webkit-box-shadow: 0 2px 8px #DEDEDE;
box-shadow: 0 2px 8px #DEDEDE;
background: white;
border: 1px solid #DEDEDE;
}

.orangeText{
color:#F47C20;
}

.lft{
float:left;
}

.btnSmall, .btnBig  {
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.btnSmall { font-size: 12px; padding: 3px 8px; }
.btnSmall a { color: #ffffff; }
.btnBig { font-size: 13px; padding: 5px 10px; }
.btnSmall:active, .btnBig:active {
  position: relative;
  top: 1px;
}
/* blue 1 */
.blue1 {
  color: #e8f0f3;
  border: solid 1px #0495c1;
  background: #66bfd8;
  background: -webkit-gradient(linear, left top, left bottom, from(#66bfd8), to(#0495c1));
  background: -moz-linear-gradient(top,  #66bfd8, #0495c1);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfd8', endColorstr='#0495c1');
}
.blue1:hover {
  background: #57a3b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#57a3b8), to(#037ea4));
  background: -moz-linear-gradient(top,  #57a3b8,  #037ea4);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#57a3b8', endColorstr='#037ea4');
}
.blue1:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#0495c1), to(#66bfd8));
  background: -moz-linear-gradient(top,  #0495c1,  #66bfd8);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0495c1', endColorstr='#66bfd8');
}
/* blue 2 */
.blue2Bgd {
  color: #e8f0f3;
  background: #76B42B;
  background: -webkit-gradient(linear, left top, left bottom, from(#66bfd8), to(#0495c1));
  background: -moz-linear-gradient(top,  #66bfd8,  #0495c1);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfd8', endColorstr='#0495c1');
}
.blue2 {
  color: #e8f0f3;
  border: solid 1px #1e4e87;
  background: #2b6eac;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b6eac), to(#1e4e87));
  background: -moz-linear-gradient(top,  #2b6eac,  #1e4e87);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b6eac', endColorstr='#1e4e87');
}
.blue2:hover {
  background: #225686;
  background: -webkit-gradient(linear, left top, left bottom, from(#225686), to(#173d69));
  background: -moz-linear-gradient(top,  #225686,  #173d69);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#225686', endColorstr='#173d69');
}
.blue2:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e4e87), to(#2b6eac));
  background: -moz-linear-gradient(top,  #1e4e87,  #2b6eac);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e4e87', endColorstr='#2b6eac');
}
.blue2:disabled {
	border: solid 1px #c0ccdc;
	background: #cccccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc));
	background: -moz-linear-gradient(top,  #cccccc,  #cccccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cccccc');
}

#content{margin: 5px;}
.ms #content a, .ms #content a:hover, .ms a {color: #3a9ab7;}
.tickles{
    list-style:url(../images/tickle.png) !important;
}
.ms #content ul li {	list-style:url(../images/bullet_arrow.gif); margin:10px 0;}
.ms hr.grey,.ms div.grey{background: url(../images/grey_hor_div.png) no-repeat center;}
.ms div.postit {background:url(../images/postit.jpg) no-repeat top;color:#5b5f65;}
.ms  div.minipoll-postit {background:url(../images/minipoll_postit.jpg) no-repeat top;color:#5b5f65;}
.ms #article{
	/*shadow*/
	-moz-box-shadow: 0px 3px 4px #ccc;
	-webkit-box-shadow: 0px 3px 4px #ccc;
	box-shadow: 0px 3px 4px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc');
    border: 1px solid #d2d2d2; background: #FFF;

}
.ms #recentSurveyArticle{
	/*shadow*/
	-moz-box-shadow: 0px 3px 4px #ccc;
	-webkit-box-shadow: 0px 3px 4px #ccc;
	box-shadow: 0px 3px 4px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc');
    border: 1px solid #d2d2d2; background: #FFF;

}
.LHS{float: left;padding-bottom: 10px;}
.RHS{float: left;padding-bottom: 10px;}

#notice{background-color:#FFFFFF; margin:5px;}
.whiteFont{
	color:#FFFFFF;
}
.rewardInfo{ margin:0; border-bottom-style:solid;border-width:1px; border-bottom:thin; border-bottom-color:#d2d2d2;border-width:1px; border-right-style:solid;border-left-style:solid;border-left:thin; border-left-color:#d2d2d2;border-width:1px; border-right:thin; border-right-color:#d2d2d2;}
.tbpadding{margin-top:3px; margin-bottom:3px;}
.ms #sidebarL{/*float:left;*/width:100%;}
.headerGreenHr {
border-bottom: 1px solid #3a9ab7;
margin-bottom: 20px;
margin-top: -5px;
}
.grayHr{
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 18px;
    margin-top: -6px;
    font-size: 14px;
    padding: 5px 0;
}
.grayHr span{
    padding-top: 2px;
    position: relative;
    bottom: -11px;
    padding-right: 5px;
    background: white;
}

.h1text {
position: relative;
bottom: -11px;
left: -11px;
padding-right: 5px;
background: white;
}

.h2text {
position: relative;
bottom: -11px;
/*left: -11px;*/
padding-right: 5px;
background: white;
}

input[type=text], input[type=password], textarea, select {
  -moz-box-shadow:inset 0 1px 1px #dedede;
  -webkit-box-shadow:inset 0 1px 1px #dedede;
  box-shadow:inset 0 2px 2px #dedede;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
  background:#fff;
  border: 1px solid #3a9ab7;
  color:#777;
  cursor:text;
  font-size:12px;
  padding:4px 5px;
  overflow: visible;
  height: 28px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
  border:1px solid #f90;
  color:#333!important;
  outline: 0;
}
/*MessageBox*/
.loginMessage {position: absolute;top:-17px;z-index:1000;}
.messageBox {
  padding: 12px; 
  font-size: 13px;
  font-weight: bold;
  -moz-box-shadow: 0 0 20px orange;
  -webkit-box-shadow: 0 0 20px orange;
  box-shadow: 0 0 20px orange;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px; 
  background:#fff;
  border: 1px solid #dedede;
}
.messageBoxArrowD, .messageBoxArrowU {
  position: absolute;
  height: 17px;
  width: 30px;
}
.messageBoxArrowD {
  top: 100%; left: 74%; margin-top: -2px; 
  background: transparent url(../images/v2-box-arrow-all.png) no-repeat 0px 0px;
}
.messageBoxArrowU {
  top: -15px; left: 74%; 
  background: transparent url(../images/v2-box-arrow-all.png) no-repeat 0px -67px;
}
.messageBoxArrowL, .messageBoxArrowR {
  position: absolute;
  width: 17px;
  height: 30px;
}
.messageBoxArrowR {
  left: 100%; top: 15px; margin-left: -2px; 
  background: transparent url(../images/v2-box-arrow-all.png) no-repeat 0px -94px;
}
.messageBoxArrowL {
  left: -15px; top: 15px; 
  background: transparent url(../images/v2-box-arrow-all.png) no-repeat 0px -27px;
}
.closeMessageBox {
  float: right; 
  width: 9px; 
  height: 9px; 
  background: url(../images/v2-cross.png) no-repeat 0 0;
  cursor: pointer;
  margin: -7px -7px 0 0;
}
.closeMessageBox:hover { background-position: 0 -11px; }

@media screen and (max-width: 320px){
.rewardImage{display:none;}
.rewardDetails{display:none;}
}
@media screen and (max-width: 320px){
#captcha_image{width:100%;}
}

@media screen and (max-width: 800px) {
	.LHS{width:100%;}
	.RHS{width:100%;} 
	.ms #container  {width: 100%;}
.ms #article, .imgwidth{width: 100%;}
.ms #recentSurveyArticle, .imgwidth{width: 100%;}
.loginMessage{left:0%;}
.legal{width:100%;}
.how2EarnLink  {display: none;}
.mapp{width:100%; height:auto;}
#confirmedytDiv{display: none;}
#fbConnectDiv {display: none;}
#myDetailsForm input{width:90%;}
#myDetailsForm  input[type="checkbox"]{width:5%;}
}

@media screen and (min-width: 801px){
.LHS {width: 546px;}
.ms #article{width: 536px;}
.ms #recentSurveyArticle{width: 536px;}
.RHS {width: 389px;}
.ms #container  {width: 945px;margin: 0 auto 10px auto; }
#toprightdiv{position:absolute;}
.ms #navigation {bottom:-60px; left: 10px;position:relative; float:left;}
#logo{display:block;float:left;position:relative;}
#login {bottom: -35px;position: relative;float: right;}
.loginMessage{right:5px;}
.legal{width:32%;}
.mapp{width:455px; height:256px;}
#myDetailsForm  input{width:50%;}
#myDetailsForm  input[type="checkbox"]{width:5%;}
}

.btmRadiusBorder {
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
/* end: mysurvey upgrade in 2012 by Bilex Ma */

/*start css by Keith Chiu */
.topnav2 {
	margin: 48px 5px 6px;
	padding: 5px 10px;
	background: #FFF;
	color: #dedede;
	float: left;
}
.topnav2 a {color: #000; text-decoration: none; margin: 0 3px;}
.homeNav {background: url("../images/v2-home.png") 0px -1px no-repeat; padding-left: 17px;}
@media screen and (max-width: 800px) {
	.topnav2 {margin: 5px; float: none;}
}
/*end css by Keith Chiu */

/*start: mysurvey connect  by Luigi Laezza*/

   .ms #content p.bam {
	margin: 20px 0 30px 60px;
}
.justified {
	text-align:justify;
	position:relative;
}
.ms #content ul.r_nav {
	float:left;
	background:url("../images/RADIUS_greenBar.png") no-repeat;
	width: 536px;
	height: 22px;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding:0;
}
.ms #content ul.r_nav li.r_nav {
	float:left;
	list-style:none;
	padding:5px 0px 0 10px;
	margin: 0;
}
.ms #content ul.r_nav li.r_nav a {
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}
.ms #content ul.r_nav li.r_nav a:hover {
	text-decoration:underline;
}
.ms #content ul.r_nav li.r_nav a.act {
}
.r_box {
	float:left;
	width: 480px;
}
.r_box p {
	float: right;
	width: 380px;
}
.r_box #hiddenbox {
	display:none;
	float: right;
	width: 380px;
}
.r_box p img {
	border:none;
}
.ms #content div#membership_box {
	background:url("../images/RADIUS_Membership_Box.png") no-repeat;
	width:375px;
	height:250px;
	margin:30px 0;
}
.ms #content div#membership_box p {
	color: #fff;
	font-size: 12px;
	font-weight:bold;
	padding: 7px 10px 10px 10px;
	margin:5px;
 0px
}
.ms #content div#membership_box ul {
	font-size:12px;
	padding: 0 30px;
}
.ms #content div#membership_box ul li, .ms #content div#hiddenbox ul li {
	list-style:url("../images/reg_box_tickle.png");
	margin:7px 10px;
}
.ms #content div.postitparticipate {
	position: absolute;
	top: 200px;
	left: 280px;
}

/* ie7 fix */
.lt-ie8 input[type=text], .lt-ie8 input[type=password] {height: auto;}
.lt-ie8 input[type=submit] {padding: 2px 8px;}
.lt-ie8 .GTMonlineSurvey .btnBig {padding:0;height:30px !important;}

/*end: mysurvey connect  by Luigi Laezza*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ========== GTM new add on 2013 Apr ============*/

#mydetailsT td{vertical-align: text-top;}

#fbload-wide { /*exist in main.css (original css file from GTM)*/
width: 100%;
background-color: #FFFFFF;
border: 0px solid #89ade4;
font: 11px Verdana;
/*padding: 10px 15px 15px 15px;*/
margin: 0px 0px 0px 0px;
}
td.SweepsTableHeading { /*exist in main.css (original css file from GTM)*/
color: #000000;
background-color: #57a3b8;
font-weight: bold;
padding: 4px;
}
table.SweepsWinnersTable { /*exist in main.css (original css file from GTM)*/
font-size: 11px;
border: 1px solid #cccccc;
}
.SweepWinnerTable tr{border:1px solid #cccccc;} /*exist in main.css (original css file from GTM)*/
td.notenew {
	border: none;
	padding: 10px;
	font-size: 12px;
}
#takeatourvideobox {margin:5px; text-align: center;}
.ms .fstsurvey {
	height: 36px;
	margin: 4px 0;
}
.blueText{
color:#3a9ab7;
}
select {
	cursor:pointer;
}
iframe {border:none;}
#fbConnectDiv {float: right;margin-right: 10px;}
input[type="text"]:disabled {background:#e6e6e6;}
form[name="tellForm"] .txtbox{width:100%;}
form[name="loginForm"] input{height:auto;}
form[name="contactForm"] .txtbox_select {width:100%;}
form[name="contactForm"] .txtbox {width:100%;}
#myDetailsForm input[name="title"] {width: 10%;}
#loginForm label, .regForm label, #regForm label, .tmargin label {display: inline-block; padding-bottom: 1px;}

.txtBreak{ white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}
/* CN redirect styles */
#cnredirectbox {
    width: 650px;
    position: absolute;
    z-index: 99;
    text-align: center;
    left: 50%;
    top: -10px;
}
#cnredirectboxtxt {margin:0;font-size:14px;}
#cnredirectmsgbox {
    position:relative;
    left:-50%;
}
.overlay {
    opacity: 0.80;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: 10;
    background: #ffffff;
}
@media screen and (max-width: 800px) {
    #cnredirectbox {
        width: 320px;
        left: 50%;
        top: -10px;
    }
    #cnredirectmsgbox {
        left:-50%;
    }
}