/* start: mysurvey upgrade in 2012 by Keith Chiu */
.bottomBanner {
  width: 100%;
  z-index: 1000;
  position: absolute;
  bottom: -15px;
  text-align: center;
}
.bottomBanner img {
  -moz-box-shadow: 0px 0px 9px #000;
  -webkit-box-shadow: 0px 0px 9px #000;
  box-shadow: 0px 0px 9px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#000');
}

th {text-align: left;}
.messageBoxHtml {color: #F47C20; font-size: 14px;}
.greyBorder {border: 1px solid #d2d2d2; background: #FFF;}
.loginSmall ul {margin: 0; padding: 0; margin-right: 10px;}
.loginSmall li {float: left; padding-left: 10px; list-style-type: none;}

.regBody {position: relative; text-align: left; margin-bottom: 5px; }
	.regStep1 {}
		.regMessage {float: left; font-weight: bold;}
			.rmTitle {font-size: 24px; color: #3a9ab7; margin:0;}
			.rmTitle2 {font-size: 16px; color: #000000; margin:0;}
			.rmVisual {margin-top: 10px;}
		.regForm {position: absolute; left: 579px; top: 94px;}
			.rfTitle {font-size: 16px; font-weight: bold;}
			.rfTitle2 {font-size: 11px;}
			.regField {margin-top: 5px;}
			.regField input {width: 180px;}
		.regSupport {text-align: center; margin-bottom: 30px;}
			.rsTitle {margin-top: 20px;}		
			.rsLogos {margin: 10px 0;}	
	.regStep2Head, .regStep2Form {display: none;}
	.regStep2Form table {width: 100%;}
		.r2Visual {float: left;}
		.r2Message {float: left; font-weight: bold; padding: 60px 0 0 15px;}
			.r2Title {font-size: 24px; color: #3a9ab7;}
			.r2Title2 {font-size: 16px;}
		.r2Form {padding: 20px 90px 30px;}
			.r2column {float: left; width: 370px;}
.regHeader, .regHeader2 {
	border-bottom: 1px solid #dedede;
	margin-bottom: 20px;
	color: #5EA52B;
}
.regHeader {font-size: 20px;}
.regHeader2 {font-size: 16px; border-bottom: none;}
.regHeaderSpan {
	position: relative;
	bottom: -11px;
	left: -1px;
	padding-right: 5px;
	background: white;
}	
.registrationFieldText {color: #1A1A1A; width: 200px;}
.regCaptcha {width: 280px;}
.regWhy {color:#1A1A1A; font-size: 13px;}

.regBody input[type="checkbox"], .regBody input[type="radio"] {
    margin-top: 8px;
}
/* GTM30 new style */
table {
	width:100%;
}
.FieldText {
    height: 45px;
}
select.birthmonth, select.birthday, select.birthyear, #captcha {
	width:auto;
}
.reqtitle { width:90%; border-bottom: 1px solid #dedede; } 
.reqtitle span { background:#fff; padding-right:10px; font-weight:bold; position: relative; bottom: -6px; }
.regnotes { font-size: 11px;}
#dhtmltooltip{
position: absolute;
left: -300px;
width: 250px;
border: 1px solid #E4B482;
padding: 4px;
background-color: #FDEDD6;
visibility: hidden;
z-index: 100;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 8pt;
letter-spacing: 0.2mm;
line-height: 135%;
}
a#bbblink, a#bbblink img {position: static!important;}

/* Mobile */
@media screen and (max-width: 800px) {
		#login {margin: 10px 0; float: none;}
		.mHide {display: none;}
		.regBody {position: relative; text-align: left; margin: 10px 0px;}
		.regMessage {display: none;}
		.regForm, .regSupport {position: static; margin: 10px;}
		.regSupport {width: 95%; overflow: hidden; text-align: left; border-top: 1px solid #DDD;}	
			.rsTitle {margin-top: 8px;}		
			.rsLogos {overflow: hidden;}

		.r2Visual {float: left; margin-left: 5px;}
		.r2Message {padding-left: 5px;}
		.r2Form {padding: 10px 5px 20px;}
			.r2column {float: left; width: 330px;}
}
@media screen and (max-width: 320px) {
		.r2Visual {float: left; margin-left: 0px;}
		.r2Form {padding: 10px 5px 20px;}
		#recaptcha_area {margin: 0 0 0 -5px;}
		.reqtitle {width:80%;} 
}
/* end: GTM upgrade in 2013 by Keith Chiu */