@charset "utf-8";
/* CSS Document */

/* General - used with modernizr */
body { -webkit-text-stroke:1px transparent; }
@media only screen and (max-device-width:780px) { body {-webkit-text-stroke:0 black;} }

HTML {
/*overflow: -moz-scrollbars-vertical;*/
}
body,td,th {
font-family:  Tahoma, Geneva, sans-serif; 
/*font-size: 11px;*/
}
body {
background-color: #FFFFFF;
}
td.SubPagePadding{
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
table.Main {
width:780px;
}
table.subMain_whiteborder{
width:100%;
border-top:2px solid #FFFFFF; 
}
h4
{font-weight:bold;font-size:11px; color:#000000;
}
ol {
color:#000000; font-family:  Tahoma, Geneva, sans-serif; 
font-size:11px;
padding-top:0px;
padding-left:50px;
padding-right:30px;
padding-bottom:0px;
margin:0px;
}
ol li {
padding-left:2px; padding-top:2px;
}

td.subHeader1{
width:501px; background-image: url(../images/image-subpage-gradient.jpg);
}
td.subHeader5{
width:279px;
background-image: url(../images/image-subpage-gradient.jpg);
}
td.FooterGradient{
width:780px; height:46px;
background-image:url(../images/image-footer-greybg.jpg);
}
/* End General */


/* Header & Nav */
#Logo {
position:relative; height:79px; width:279px; float:left;
}
#TopNavLI {
	height:69px;
	width:490px;
	text-align:right;
	padding-top:10px;
	padding-right:10px;
	color:#FFFFFF;
	float:right;
}
#TopNavLO {
height:69px; width:490px; text-align:right; padding-top:10px; padding-right:10px; color:#FFFFFF; float:right;
}
.Nav a:link {
color: #FFFFFF; text-decoration:none;
}
.Nav a:visited {
color: #FFFFFF; text-decoration:none;
}
.Nav a:hover {
color: #75E0FF; text-decoration:underline;
}
.Nav a:active {
color: #FFFFFF; text-decoration:none;
}
td.Header_table1{
width:149px;padding-bottom:7px;
}

td.Header_table2{
width:471px; font-size:11px;text-align:right;
}
.Header_table2 a:link{
text-decoration:none; color:#000000;
font-weight:bold;font-size:11px;
}
.Header_table2 a:visited{
text-decoration:none; color:#000000;
font-weight:bold;font-size:11px;
}
.Header_table2 a:hover{
text-decoration:underline; color:#000000;
font-weight:bold;font-size:11px;
}
td.Header_table3{
width:0px;
}

td.Nav_image{
	width:780px;
	background-image: url(../images/image-LogoTopBanner2.jpg);
	background-position: top right;
    background-repeat: no-repeat;
	border-bottom:0px solid #000000;
	background-color: #1f406b;
}

table.TransNav{
	background-image: url(../images/image-Nav.jpg);
	height:32px;
	margin-right:15px;
	text-align:left;
}

td.GreyHeader{
font-size:11px;font-weight:bold;background-color:#afc4d9;
border-right:2px solid #FFFFFF;padding-left:15px;height:25px;color:#585858;
}
td.smallGreyHeader{
font-size:11px;font-weight:bold;
background-color:#afc4d9;
border-right:2px solid #FFFFFF;
padding-left:15px;
height:6px;
color:#585858;
}

#Nav {
	width:780px;
	background-image: url(../images/image-Nav.jpg);
	height: 32px;
	position: static;
	color:#FFFFFF;
	text-align:left;
	clear: both;
	float: left;
	font-weight: normal;
}
#Nav ul.Nav {
	list-style: none;
	margin: 0;
	padding-top:8px;
	padding-left:0px;
	padding-right:0px;
}
#Nav ul.Nav li {
	border-right:1px solid #5182B1;
	padding-left:8px;
	padding-right:9px;
	padding-top: 8px;
	padding-bottom: 11px;
	display:inline;
}
#Nav ul.Nav li selected, 
#Nav ul.Nav li selected a,
#Nav ul.Nav li a:hover,
#Nav ul.Nav li a:link{
	font-weight: normal;
}
#PointsNav {
padding-top:4px; padding-bottom:4px; text-align:right;
}
#ScamNav1 {
	top: -10px;
	border: 3px outset #FF0000;
	background-color: #FFFF00;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	margin-right: 80px;
}
.js #ScamNav1 {
	position: relative;
}
.borderradius #ScamNav1 {
	border: 1px solid #141414;
	border-radius: 12px;
	/*-moz-border-radius: 12px;*/
	-webkit-border-radius: 12px;
}
.boxshadow #ScamNav1 {
	border: 0;
	box-shadow: rgba(0,0,0, .5) 1px 1px 3px;
	-webkit-box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
}
#ScamNav {
	border: 3px outset #FF0000;
	background-color: #FFFF00;
	padding-top: 4px;
	padding-right: 7px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.js #ScamNav {
	position: relative;
}
.borderradius #ScamNav {
	border: 1px solid #141414;
	border-radius: 12px;
	/*-moz-border-radius: 12px;*/
	-webkit-border-radius: 12px;
}
.boxshadow #ScamNav {
	border: 0;
	box-shadow: rgba(0,0,0, .5) 1px 1px 3px;
	-webkit-box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
}
/* Facebook nav changes */ 
#fb-nav {
	height: 5px;
	float:right;
	clear: right;
	padding-top: 5px;
}
#fb-nav iframe{
	text-align: right;
	width: 150px;
}
/* End nav Facebook */
/* End Header & Nav */


/* Homepage */
/* Facebook changes */ 
#clear {
	padding:4px;
}
#fb-menu{
	color: #FFFFFF;
	padding-top: 15px;
	height: 15px;
}
#fb-menu a:link{
	color: #FFFFFF;
}
#fb-menu a:visited{
	color: #FFFFFF;
}
#fb-menu a:hover{
	color: #FFFFFF;
}
#fbload {
	width: 300px;
	border:3px outset #FF6600;
	font:11px Verdana;
	padding:10px;
	margin:0px;
	background-color: #FF9933;
}
.js #fbload {
	padding-right: 20px;
	position: relative;
	width: 300px;
}
.borderradius #fbload {
	border: 1px solid #141414;
	border-radius: 12px;
	/*-moz-border-radius: 12px;*/
	-webkit-border-radius: 12px;
}
.boxshadow #fbload {
	border: 0;
	box-shadow: rgba(0,0,0, .5) 1px 1px 3px;
	-webkit-box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
}
#fbload-hub {
	width: 300px;
	border: 3px outset #89ade4;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.js #fbload-hub {
	padding-right: 20px;
	position: relative;
	width: 300px;
}
.borderradius #fbload-hub {
	border: 1px solid #141414;
	border-radius: 12px;
	-webkit-border-radius: 12px;
}
.boxshadow #fbload-hub {
	border: 0;
	box-shadow: rgba(0,0,0, .5) 1px 1px 3px;
	-webkit-box-shadow: rgba(0,0,0, .5) 3px 3px 6px;
}
#fbload-sm {
	width: 240px;
	border:1px solid #89ade4;
	font:11px Verdana;
	margin:0px;
	padding: 8px;
	background-color: #FFFFFF;
}
.js #fbload-sm {
	padding-left:8px;
	padding-right:8px;
	position: relative;
	width: 240px;
}
.borderradius #fbload-sm {
	border: 1px solid #89ade4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.boxshadow #fbload-sm {
	border: 0;
	box-shadow: rgba(0,0,0, .5) 2px 2px 2px;
	-webkit-box-shadow: rgba(0,0,0, .5) 2px 2px 2px;
}
#fbload-wide {
    width: 450px;
    background-color: #FFFFFF;
    border:0px solid #89ade4;
    font:11px Verdana;
    padding:10px 15px 15px 15px;
    margin:0px 0px 0px 0px;
}
#fbGtmText {
    font-weight:bold;
    margin:0px 0px 5px 0px;
}
#fb-root {
    font:11px Verdana;
}
#fb-footer{
	padding: 0px;
	float: right;
	position: relative;
}
/* end Facebook */

span.homepageSurveyShuttle{
font-family:Tahoma, Geneva, sans-serif; color:#C4E4F6;
font-size:20px;font-style:italic;display:block;
padding:7px 2px 0px 0px;float:left
}
div.homepageSurveyShuttleText{
padding-left:70px;color:white;font-size:11px;
font-weight:600
}
td.WhatsNewBluebg{
background-color:#89c5fe;
font-size:11px;
vertical-align:top;padding-top:11px;
}
table.onethroughfive td {
padding-top:0px; 
}
table.onethroughfive td.text{
width:86%; padding-top:6px;
}
table.onethroughfive td.number{
width:14%;text-align:center; padding-top:6px;
vertical-align:top;
}
td.Signup_MainPitch{
width:410px;
height:141px;
background-image:url(../images/image-homepage-bg-2.jpg);background-repeat:no-repeat;
}
table.howItWorksTable td {
padding-top:0px;
}
table.howItWorksTable td.number{
width:14%;text-align:center;vertical-align:top;
}
table.howItWorksTable td.text{
width:86%;vertical-align:top;
}
table.howItWorksTable p.joinButton{
padding-right:20px; padding-top:3px;
/*text-align:top;*/
}
div.WhatsNewBannerDiv1{
color:#FFFFFF;font-size:15px;font-weight:600;
padding-left:10px;padding-top:0px;margin-top:30px;
margin-bottom:0px;
}
div.WhatsNewBannerDiv1 span{
color:#F19F54;font-size:20px;font-weight:bold
}

div.WhatsNewBannerDiv2{
margin:0px 0px 0px 10px;font-family:Tahoma, Geneva, sans-serif; 
font-size:22px;color:white;padding:0px 0px 3px 0px;width:316px;
border-bottom:1px solid white;
}
div.WhatsNewBannerDiv2 span{
color:#F19F54;font-size:35px;font-weight:bold
}

div.WhatsNewBannerDiv2FR{
margin:0px 0px 0px 10px;font-family:Tahoma, Geneva, sans-serif; 
font-size:20px;color:white;padding:0px 0px 3px 0px;width:336px;
border-bottom:1px solid white;
}
div.WhatsNewBannerDiv2FR span{
color:#F19F54;font-size:20px;font-weight:bold
}

div.WhatsNewBannerDiv3{
margin:5px 0px 0px 16px;color:white;font-size:14px;
font-family:Tahoma, Geneva, sans-serif; font-weight:600;
}
div.WhatsNewBannerDiv3 h2{
	color:white;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:600;
	margin: 0px;
	padding: 0px;
}
div.WhatsNewBannerDiv3 a, div.WhatsNewBannerDiv3 a:link, div.WhatsNewBannerDiv3 a:visited, div.WhatsNewBannerDiv3 h2{
color:white;text-decoration:none;
}
div.WhatsNewBannerDiv3 a:hover {
color:white;text-decoration:underline;
}

div.WhatsNewBannerDiv3 h2 a:hover {
color:white;text-decoration:underline;
}

td.SignUpGradient{
width:420px;
background-image:url(../images/image-homepage-bg-3.jpg);background-repeat:no-repeat;height:36px;
}
td.HowitworksBG{
	background-color:#89c5fe;
	vertical-align:middle;
	border-bottom: 2px solid #FFFFFF;
}
h1.Howitworks_title{
color:#0d375f;font-size:23px;font-weight:bold;text-align:left;margin-top:0px;margin-bottom:5px;
}
h1.Howitworks_title a{
color:#0d375f;font-size:23px;font-weight:bold;text-align:center;margin-top:0px;margin-bottom:5px;
}
td.Howitworks_Num{
color:#FFFFFF;font-size:27px;font-weight:500;
}
.Howitworks_text {
	color: #000000; font-size: 12px;
}
.Howitworks_Links a:link {
	color: #000000; text-decoration:underline; font-weight:bold; font-size: 12px;
}
.Howitworks_Links a:visited {
	color: #000000; text-decoration:underline; font-weight:bold; font-size: 12px;
}
.Howitworks_Links a:hover {
	color: #000000; text-decoration:underline; font-weight:bold; font-size: 12px;
}
.Howitworks_Links a:active {
	color: #000000; text-decoration:underline; font-weight:bold; font-size: 12px;
}
ul.home {
color:#464545; font-family:  Verdana, Arial, Helvetica, sans-serif; font-size:11px;
list-style-image:url(../images/arrow_ul.gif);padding-top:0px;padding-left:20px;
padding-right:20px;padding-bottom:0px;margin:0px;
}
ul.home li {
	padding-left:2px; padding-top:2px;
}

td.SidePageGradient{
border-right:2px solid #FFFFFF;background-image: url(../images/image-GreyGradientBottom-bg.jpg);padding:10px 10px 10px 10px;color:#464545;background-repeat:repeat-x;background-color:#DBDBDB;
}
.HomepageGreyTitle{
font-size:13px; font-weight:bold;
}
table.Inner_Table{
width:780px;border-top:2px solid #FFFFFF;
}
td.JoinNow{
color:#FFFFFF;font-size:25px;font-weight:500;
}

/* End Homepage */


/* Subfooter */

td.subfooter{
background-image:url(../images/subfooter-bg.jpg); background-repeat:repeat-x; 
padding-left:6px; padding-right:4px; border-right:0px solid #ffffff; padding-top:20px;
}

.subfooter a:link {
color: #314F9D; text-decoration:underline;font-weight:normal;
}
.subfooter a:visited {
color: #314F9D; text-decoration:underline;font-weight:normal;
}
.subfooter a:hover {
color: #314F9D; text-decoration:none;font-weight:normal;
}
.subfooter a:active {
color: #314F9D; text-decoration:underline;font-weight:normal;
}

/* End Subfooter */



/* Footer */

.Footer a:link {
	color: #3E6B8A;
	text-decoration:none;
	font-weight:normal;
}
.Footer a:visited {
	color: #3E6B8A;
	font-weight:normal;
	text-decoration:none;
}
.Footer a:hover {
	color: #3E6B8A;
	text-decoration:underline;
	font-weight:normal;
}
.Footer a:active {
color: #203c4f; font-weight:normal; text-decoration:none; 
}
td.Footer {
	background-color:#e3e3e3;
	color:#314F9D;
	padding-left:8px;
}
td.Copyright{
	padding-top:4px;
	color:#666666;
	padding-left:8px;
}
.Copyright a:link {
text-decoration:none;color:#666666;font-weight:normal;
}
.Copyright a:visited {
text-decoration:none;color:#666666;font-weight:normal;
}
.Copyright a:hover {
	text-decoration:underline;
	color:#666666;
	font-weight:normal;
}
td.Footer_side1{
width:7px;
}

/* End Footer */


/* Forms, etc */

td.Form1{
	color:#FFFFFF;
	font-size:11px;
	background-image:url(../images/image-formHeader-bg.jpg);
	font-weight:bold;
	height:25px;
	padding-left:10px;
	padding-right: 10px;
}
td.formname{
width:150px;
}
td.Form_data{
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 0;
}
table.FormWidth{
	width:100%;
}
table.surveyWidth {
	width:100%;
}
td.QuickLinks{
background-color:#EBF5FC; padding: 5px 5px 5px 5px;
}
td.Form_subhead{
font-weight:bold;
}
td.Form_Partially{
color:#FF6600;
}
td.Form_Complete{
color:#999999;
}
p.FAQ{
font-weight:bold; color:#218EC9; font-size:11px;
}
table.error {
font-family:  Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
padding-left:10px;
}
input.btn{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #527E9C;
	border: 1px solid #3B6079;
	color: #FFFFFF;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}
input.btn:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	background-color:#1f406b;
	border:1px solid #527E9C;
	color:#75E0FF;
	text-decoration: underline;
}
input.btnFB{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background-color:#527E9C;
	border:1px solid #3B6079;
	color:#FFFFFF;
	padding: 4px;
}
input.btnFB:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background-color:#1f406b;
	border:1px solid #527E9C;
	color:#75E0FF;
	text-decoration: underline;
	padding: 4px;
}
select.txtbox{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
text-align:left;
}
select.txtbox_select{
font-size:11px;
text-align:left;
}
td.error {
font-family:  Verdana, Arial, Helvetica, sans-serif;font-size: 12px;
color: Red;
padding: 10px 0 0 0; 
}
table.info {
font-family:  Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
padding-left:10px;
}
td.info {
font-family:  Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: Green;
border: 1pt solid Green;
padding:2px;
}
table.note {
font-family:  Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
padding-left:10px;
}
td.note {
font-family:  Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: Black;
border: 1pt solid Green;
padding:2px;
}
.info {
font-family:  Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: Green;
border: 1pt solid Green;
padding:2px;
}
#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px solid #E4B482;
padding: 4px;
background-color: #FDEDD6;
visibility: hidden;
z-index: 100;
font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: 0.2mm;
	line-height: 135%;

/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#EBEBEB,direction=120);*/
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}
a.tipLink,a:link.tipLink,a:visited.tipLink
{
	color:blue;
	font-weight:normal
}
/* End Forms, etc */


/* Newsletters */

.newsletterimageborder{
border:5px solid #CCCCCC;
}
td.newslettertableheader{
background-color:#CCDFEA;font-weight:bold;padding:5px 5px 5px 5px;
}
td.newslettertext{
padding:5px 5px 5px 5px; background-color:#F1F5F8;font-size:10px;
}
table.newslettertable{
width:200px;border:1px solid #87B3CC;margin-left:20px; margin-bottom:20px;
}
table.newsletterwintable{
text-transform:uppercase; font-size:9px;
}

/* End Newsletters */

/* obfuscate email address */
.email {
    unicode-bidi: bidi-override;
    direction: rtl;
} 
/* end obfuscate email */

/* Sweepstakes */

.SweepHeading {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	color:#054670;
}

h3.Sweeps {
	color:#009900;
	font-size: 16px;
	margin-bottom: 5px;
}
a.SweepsLink {
	color:#66CC33;
}
.SweepsMonth {
	/*color:#BAFF8C;*/
	color:#66FF33;
	background-color:#009900;
	font-weight:bold;
	padding:4px;
}
.SweepsCurrency {
	color:#FF0000;
	font-weight:bold;
	text-align: right;
}
table.SweepsWinnersTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size:9px;
	border: 1px solid #009900;
}

td.SweepsTableHeading {
	/*color:#BAFF8C;*/
	color:#66FF33;
	background-color:#009900;
	font-weight:bold;
	padding:4px;
}
td.SweepsTableQuarterHeading {
	/*color:#BAFF8C;*/
	color:#396EA4;
	font-weight:bold;
	padding:4px;
	background-color: #E6EEF7;
}
td.SweepsCurrency {
	color:#FF0000;
	font-weight:bold;
	text-align:right;
	/*width:60px;*/
	width:10%;
	padding-right: 15px;
}
td.SweepsWinner {
	color:#487EB3;
	font-weight:bold;
	/*width:150px;*/
	width:25%;
}
td.SweepsCity {
	color:#000000;
	/*width:240px;*/
	width:35%;
}
td.SweepsDate {
	color:#000000;
	width:30%;
}
/* End Sweepstakes */


/* Facebook Portal styles */

td.loginText {
	text-align: right;
	font-weight: bold;
	width: 100px;
	padding: 3px;
}
.surveyCodeBox {
	background-color: yellow;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #666;
	font-size: 14px;
}
/* End Facebook Portal styles */

.hoverSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    vertical-align: middle;
    z-index:1234;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
    height: 200px; /*hight of the spinner gif +2px to fix IE8 issue */
}



#infoicon_div {
    display: block;
    width: 22px;
    height: 18px;
    background-image: url('../images/info_blue.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -2px;
    margin-bottom: -4px;
    cursor: pointer;
    float: left;
}

#infotip_div {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    z-index: 150;
    background-color: #eff4fb;
    border: 1px solid #6693c2;
    font-weight: normal;
    font-size: 8pt;
    padding: 5px;
    max-width: 350px;
    margin-right: -400px;
}

#inside_div {
    margin-left: 20px;
}
#twitter_handle_permission
{
    float:left;
}
#handle_div{
    float:left;
    /*margin-top: -5px;*/
    overflow: visible;
}
#checkBox_div{
    display: inline;
    margin-top: 0px;
}
#infoicon_div:hover #infotip_div {
    display: block;
}

