/*
MatchesFashion.com | Main Stylesheet File

(i) IMPORTANT
Before modifying this file please read about Atomic Design Pattern
http://patternlab.io/about.html

(c) 2014 MatchesFashion.com
*/
@import url("//hello.myfonts.net/count/2be436");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline-color: transparent;
  outline-style: none; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }
.yCmsContentSlot {
  zoom: 1; }
  .yCmsContentSlot:before, .yCmsContentSlot:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .yCmsContentSlot:after {
    clear: both; }

.selecter .no--arrow:after {
  display: none !important; }

.hidden, .notVisible {
  display: none; }

.underline {
  border-bottom: solid 1px black;
  display: inline-block; }

.visible-mobile {
  display: none; }
  @media (min-width: 0em) and (max-width: 42.5em) {
    .visible-mobile {
      display: block !important; } }

.visible-tablet {
  display: none; }
  @media (min-width: 42.563em) and (max-width: 61.25em) {
    .visible-tablet {
      display: block !important; } }

@media (min-width: 0em) and (max-width: 42.5em) {
  .hidden-mobile {
    display: none !important; } }

@media (min-width: 42.563em) and (max-width: 61.25em) {
  .hidden-tablet {
    display: none !important; } }

@media (min-width: 61.313em) and (max-width: 90em) {
  .hidden-desktop {
    display: none !important; } }

@media (min-width: 90.063em) {
  .hidden-desktop-large {
    display: none !important; } }

@media (min-width: 0em) and (max-width: 42.5em) {
  .is-visible-on-mobile {
    display: inline-block !important; } }

@media (min-width: 0em) and (max-width: 42.5em) {
  .is-hidden-on-mobile {
    display: none !important; } }

@media (min-width: 42.563em) and (max-width: 61.25em) {
  .is-visible-on-tablet {
    display: inline-block !important; } }

@media (min-width: 42.563em) and (max-width: 61.25em) {
  .is-hidden-on-tablet {
    display: none !important; } }

@media (min-width: 61.313em) and (max-width: 90em) {
  .is-visible-on-desktop {
    display: inline-block !important; } }

@media (min-width: 61.313em) and (max-width: 90em) {
  .is-hidden-on-desktop {
    display: none !important; } }

@media (min-width: 90.063em) and (max-width: 120em) {
  .is-visible-on-desktopL {
    display: inline-block !important; } }

@media (min-width: 90.063em) and (max-width: 120em) {
  .is-hidden-on-desktopL {
    display: none !important; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
.grid-container {
  /* mobile grid */
  max-width: 93.53%;
  margin-left: auto;
  margin-right: auto;
  max-width: 94%; }
  .grid-container::after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 42.563em) {
    .grid-container {
      /* tablet grid */
      max-width: 95.89%;
      margin-left: auto;
      margin-right: auto; }
      .grid-container::after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 61.313em) {
    .grid-container {
      /* desktop grid */
      max-width: 97.02%;
      margin-left: auto;
      margin-right: auto; }
      .grid-container::after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 90.063em) {
    .grid-container {
      max-width: 109.88%;
      margin-left: auto;
      margin-right: auto;
      max-width: 97.2%; }
      .grid-container::after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 120em) {
    .grid-container {
      max-width: 168.3%;
      margin-left: auto;
      margin-right: auto;
      max-width: 97.2%; }
      .grid-container::after {
        content: " ";
        display: block;
        clear: both; } }

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: black; }
  a img {
    border: none; }

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  text-rendering: optimizeLegibility; }
  p aside {
    font-size: 11px;
    line-height: 1.35;
    font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Chronicle Display A", "Chronicle Display B", serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 1rem; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 10px;
    color: #6f6f6f;
    line-height: 0; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 1.6875rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0; }

em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 10px;
  line-height: inherit; }

ul,
ol,
dl {
  font-size: 1rem;
  list-style-position: outside;
  font-family: inherit; }

ul.no-bullet {
  margin-left: 0; }
  ul.no-bullet li ul,
  ul.no-bullet li ol {
    list-style: none; }

ul li ul,
ul li ol {
  margin-bottom: 0; }
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit; }
ul.square {
  list-style-type: square;
  margin-left: 1.1rem; }
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem; }
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem; }
ul.no-bullet {
  list-style: none; }

ol {
  margin-left: 1.4rem; }

dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold; }
dl dd {
  margin-bottom: 0.75rem; }

abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: black;
  border-bottom: 1px dotted #dddddd; }

abbr {
  text-transform: none; }

blockquote {
  margin: 0 0 14px;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd; }
  blockquote cite {
    display: block;
    font-size: 0.8125rem;
    color: #555555; }
    blockquote cite:before {
      content: "\2014 \0020"; }
    blockquote cite a,
    blockquote cite a:visited {
      color: #555555; }

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f; }

.vcard {
  display: inline-block; }
  .vcard li {
    margin: 0;
    display: block; }

.vevent abbr {
  cursor: default;
  border: none; }

@font-face {
  font-family: 'BlairITC-Medium';
  src: url("webfonts/2BE436_0_0.eot");
  src: url("webfonts/2BE436_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/2BE436_0_0.woff") format("woff"), url("webfonts/2BE436_0_0.ttf") format("truetype"); }
.chronicle-display-black, .lister__item__title, .size-guide-heading, .size-guide-sub-heading, .size-guide-designer, .chronicle-display-bold, .size-guide-price, .chronicle-display-semibold, .section-title-box, .headline-title-box, .chronicle-display-roman, .lead-title-box, .size-guide-description, .chronicle-display-light {
  font-family: "Chronicle Display A", "Chronicle Display B", serif; }

.helvetica-neue-regular, .breadcrumbs, .applyed-filters a, .filter__box__item, .pager, .size-guide-label, .size-guide-contact a {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height: 18px; }

.helvetica-neue-bold, .link-generic__14_upper, .link-generic__14_lower, .link-generic__12_upper, .link-generic__12_lower, .applyed-filters, .pager a.selectd, .size-guide-form-label, .size-guide-type, .size-guide-contact span {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility; }

.chronicle-display-black, .lister__item__title, .size-guide-heading, .size-guide-sub-heading, .size-guide-designer {
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: 900; }

.chronicle-display-bold, .size-guide-price {
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: 700; }

.chronicle-display-semibold, .section-title-box, .headline-title-box {
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: 400; }

.chronicle-display-roman, .lead-title-box, .size-guide-description {
  text-rendering: optimizeLegibility;
  font-weight: 300; }

.chronicle-display-light {
  font-weight: 200;
  text-transform: uppercase;
  text-rendering: optimizeLegibility; }

.georgia, .lister__item__details, .lister__item__price, .size-guide-list {
  font-family: 'Georgia', serif;
  text-transform: none;
  text-rendering: optimizeLegibility; }

.georgia-regular {
  font-family: 'Georgia Regular', serif;
  text-transform: none;
  text-rendering: optimizeLegibility; }

.right-arrow__14_wb-icn {
  font-family: 'webdings';
  font-size: 14px; }

.right-arrow__12_wb-icn {
  font-family: 'webdings';
  font-size: 14px; }

.section-title-box {
  text-transform: none;
  font-size: 12px; }

.headline-title-box {
  font-size: 20px; }

.lead-title-box {
  font-size: 14px;
  text-transform: none; }

.link-generic__14_upper {
  font-size: 14px;
  text-transform: uppercase; }

.link-generic__14_lower {
  font-size: 14px;
  text-transform: uppercase; }

.link-generic__12_upper {
  font-size: 12px;
  text-transform: uppercase; }

.link-generic__12_lower {
  font-size: 12px;
  text-transform: uppercase; }

.breadcrumbs {
  color: #cccccc;
  font-size: 10px; }

.applyed-filters {
  text-transform: uppercase;
  font-size: 10px; }
  .applyed-filters a {
    text-transform: none;
    font-size: 11.6px; }

.lister__item__title {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility; }

.lister__item__details, .lister__item__price {
  font-size: 12px;
  color: #333333;
  text-rendering: optimizeLegibility; }

.filter__box__item {
  font-size: 12px; }

.pager {
  font-size: 12px; }

.size-guide-heading {
  display: block;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
  clear: both; }

.size-guide-sub-heading {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  border-top: 3px solid black;
  margin-top: 30px;
  padding-top: 26px;
  padding-bottom: 20px;
  clear: both; }

.size-guide-designer {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left; }

.size-guide-description {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: left;
  padding: 10px 0; }

.size-guide-price {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: left;
  padding-bottom: 20px; }

.size-guide-form-label {
  text-transform: uppercase;
  font-size: 11px;
  text-align: left; }

.size-guide-label {
  font-size: 11px;
  text-align: left;
  margin-left: 20px;
  text-transform: none; }

.size-guide-type {
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px; }

.size-guide-list {
  font-size: 11px;
  line-height: 16px;
  text-align: left; }
  .size-guide-list:last-of-type {
    margin-bottom: 20px; }

.size-guide-contact {
  clear: both;
  margin-top: 20px; }
  .size-guide-contact span {
    font-size: 11px;
    text-transform: uppercase; }
  .size-guide-contact a {
    font-size: 11px;
    text-align: left;
    margin-left: 10px;
    text-decoration: underline; }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  box-shadow: none;
  outline: 0 none; }
  textarea:focus.error, input:focus.error, input[type]:focus.error, .uneditable-input:focus.error {
    outline: 0 none; }

input::-webkit-input-placeholder {
  color: #999999;
  display: block;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  text-rendering: optimizeLegibility;
  text-transform: none; }

input:focus::-webkit-input-placeholder {
  color: gray; }

input:-moz-placeholder {
  color: #999999;
  display: block;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  text-rendering: optimizeLegibility;
  text-transform: none; }

input:focus:-moz-placeholder {
  color: gray; }

input::-moz-placeholder {
  color: #999999;
  display: block;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  text-rendering: optimizeLegibility;
  text-transform: none; }

input:focus::-moz-placeholder {
  color: gray; }

input:-ms-input-placeholder {
  color: #999999;
  display: block;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  text-rendering: optimizeLegibility;
  text-transform: none; }

input:focus:-ms-input-placeholder {
  color: gray; }

input.error {
  border: 1px solid red !important; }

input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
  letter-spacing: 0px;
  font: 300 14px/18px "Helvetica Neue", sans-serif;
  text-align: left;
  text-rendering: optimizeLegibility;
  width: 100%;
  padding: 0 8px;
  color: black;
  margin-bottom: 14px;
  border: 1px solid black;
  background-color: white; }
  input:focus {
    color: black; }

input[type="checkbox"] {
  width: auto; }

label {
  display: block;
  font-size: 10px;
  padding-bottom: 0px; }

label.error {
  padding-bottom: 12px; }

small {
  display: block; }

.button {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  text-align: center;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  color: white !important;
  border: none;
  background-color: black;
  box-sizing: border-box;
  float: right;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .button:hover {
    background-color: white;
    color: black !important;
    border: 1px solid black; }

.button-white {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  text-align: center;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  color: black !important;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box; }
  .button-white:hover {
    background-color: black;
    color: white !important;
    border: 1px solid black; }

.error {
  color: red; }

.required {
  font-size: 10px;
  padding-bottom: 12px; }

input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

input ::-webkit-input-placeholder {
  color: #999999;
  letter-spacing: 10px; }
input :-moz-placeholder {
  color: #999999;
  letter-spacing: 1px; }
input ::-moz-placeholder {
  color: #999999;
  letter-spacing: 1px; }
input :-ms-input-placeholder {
  color: #999999;
  letter-spacing: 1px; }

.blackOutline {
  border-color: black !important; }

.btn {
  background-color: white;
  border: solid 1px black;
  color: black;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  line-height: 39px;
  padding: 0 2em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 10px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer; }
  .btn:hover {
    background-color: black;
    border: solid 1px black;
    color: white; }

.btn--default {
  background-color: white;
  border: solid 1px black;
  color: black; }
  .btn--default:hover {
    background-color: black;
    border: solid 1px black;
    color: white; }

.btn--primary {
  background-color: black;
  border: solid 1px black;
  color: white; }
  .btn--primary:hover {
    background-color: white;
    border: solid 1px black;
    color: black; }

.halves .btn {
  float: left;
  width: 50%;
  padding: 0;
  border-left: none; }
  .halves .btn:nth-child(2n+0) {
    border-right: none; }

.button__add {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  text-align: center;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  color: white !important;
  border: none;
  background-color: black;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 20px; }
  .button__add:hover {
    background-color: white;
    color: black; }
  @media (min-width: 0em) {
    .button__add {
      width: 100%;
      float: left;
      clear: both; } }
  @media (min-width: 42.563em) {
    .button__add {
      clear: both;
      width: 100%;
      float: left;
      clear: both; } }
  @media (min-width: 61.313em) {
    .button__add {
      width: 47.82609%;
      float: left;
      margin-right: 4.34783%;
      clear: both; } }

.button__wish-list {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  text-align: center;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  color: black !important;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
  height: 40px;
  padding-top: 12px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .button__wish-list:hover {
    background-color: black;
    color: white; }
  @media (min-width: 0em) {
    .button__wish-list {
      clear: none;
      width: 48.21601%;
      float: left;
      margin-right: 3.56798%; } }
  @media (min-width: 42.563em) {
    .button__wish-list {
      clear: both;
      width: 100%;
      float: left;
      clear: both; } }
  @media (min-width: 61.313em) {
    .button__wish-list {
      clear: both;
      width: 47.82609%;
      float: left;
      margin-right: 4.34783%;
      margin-right: 0;
      margin-bottom: 40px; } }

.button__look {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  text-align: center;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  color: black !important;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
  height: 40px;
  padding-top: 12px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .button__look:hover {
    background-color: black;
    color: white; }
  @media (min-width: 0em) and (max-width: 42.5em) {
    .button__look {
      width: 48.21601%;
      float: left;
      margin-right: 3.56798%;
      margin-right: 0; } }
  @media (min-width: 42.563em) and (max-width: 61.25em) {
    .button__look {
      clear: both;
      width: 100%;
      float: left;
      clear: both;
      margin-top: 20px; } }
  @media (min-width: 61.313em) {
    .button__look {
      width: 47.82609%;
      float: right;
      margin-right: 0;
      margin-bottom: 40px;
      clear: none; } }

.button__checkout-login-cta {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  text-align: center;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  color: white !important;
  border: none;
  background-color: black;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 20px; }
  .button__checkout-login-cta:hover {
    background-color: white;
    color: black; }
  @media (min-width: 0em) {
    .button__checkout-login-cta {
      width: 100%;
      float: left;
      clear: both; } }
  @media (min-width: 42.563em) {
    .button__checkout-login-cta {
      clear: both;
      width: 100%;
      float: left;
      clear: both; } }
  @media (min-width: 61.313em) {
    .button__checkout-login-cta {
      width: 47.82609%;
      float: left;
      margin-right: 4.34783%;
      clear: both; } }

.ph-tpl {
  display: none; }
  @media (min-width: 0em) {
    .ph-tpl__intro {
      list-style-type: none;
      zoom: 1;
      margin-right: -3.77419%;
      margin-left: -3.77419%;
      padding-right: 3.77419%;
      padding-left: 3.77419%;
      padding: 0; }
      .ph-tpl__intro img {
        width: 100%;
        height: auto;
        vertical-align: bottom; }
      .ph-tpl__intro:before, .ph-tpl__intro:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .ph-tpl__intro:after {
        clear: both; }
      .ph-tpl__intro__men {
        position: relative;
        width: 50%;
        float: left;
        background: white; }
        .ph-tpl__intro__men__headline {
          display: block;
          background: url("../../images/svg/mf-pre-home-men.svg") no-repeat top center;
          background-size: 48px;
          height: 23px;
          margin-bottom: -1px;
          margin: 0 auto;
          border-bottom: 1px solid white; }
          .ph-tpl__intro__men__headline span {
            display: none; }
        .ph-tpl__intro__men__menu__list {
          display: block;
          margin-bottom: 7.75px;
          margin-top: 7.75px;
          letter-spacing: 0px;
          font: 700 9px/12px "Helvetica Neue", sans-serif;
          text-align: center;
          text-rendering: optimizeLegibility;
          text-transform: none;
          margin-bottom: 10px; }
          .ph-tpl__intro__men__menu__list a {
            color: white; }
            .ph-tpl__intro__men__menu__list a:hover {
              text-decoration: underline; }
      .ph-tpl__intro__women {
        position: relative;
        width: 50%;
        float: left;
        background: white; }
        .ph-tpl__intro__women__headline {
          display: block;
          background: url("../../images/svg/mf-pre-home-women.svg") no-repeat top center;
          background-size: 86px;
          height: 23px;
          margin-bottom: -1px;
          margin: 0 auto;
          border-bottom: 1px solid white; }
          .ph-tpl__intro__women__headline span {
            display: none; }
        .ph-tpl__intro__women__menu__list {
          display: block;
          margin-top: 9.75px;
          letter-spacing: 0px;
          font: 700 9px/12px "Helvetica Neue", sans-serif;
          text-align: center;
          text-rendering: optimizeLegibility;
          text-transform: none;
          text-align: center;
          margin-bottom: 10px; }
          .ph-tpl__intro__women__menu__list a {
            color: white; }
            .ph-tpl__intro__women__menu__list a:hover {
              text-decoration: underline; }
      .ph-tpl__intro__lower {
        width: 75%;
        position: absolute;
        bottom: 40px;
        left: 12.5%;
        z-index: 3;
        margin: 0 auto 0 auto;
        display: block; }
      .ph-tpl__intro__panel {
        display: none;
        width: 100%;
        margin: 0 auto; }
        .ph-tpl__intro__panel > li {
          width: 100%;
          list-style-type: none; }
          .ph-tpl__intro__panel > li:last-of-type {
            margin-bottom: 0; }
    .ph-tpl__slider {
      display: none; } }
  @media (min-width: 42.563em) {
    .ph-tpl__intro {
      zoom: 1;
      margin-right: -2.32558%;
      margin-left: -2.32558%;
      padding-right: 2.32558%;
      padding-left: 2.32558%;
      border-bottom: 1px solid black;
      padding: 0; }
      .ph-tpl__intro:before, .ph-tpl__intro:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .ph-tpl__intro:after {
        clear: both; }
      .ph-tpl__intro__panel {
        margin: 10px 0; }
      .ph-tpl__intro__men__headline {
        background-size: 60px;
        height: 28px; }
        .ph-tpl__intro__men__headline span {
          display: none; }
      .ph-tpl__intro__men__menu__list {
        margin-top: 0;
        font-size: 9px;
        text-align: center;
        margin-bottom: 22px; }
      .ph-tpl__intro__women__headline {
        background-size: 100px;
        height: 28px; }
        .ph-tpl__intro__women__headline span {
          display: none; }
      .ph-tpl__intro__women__menu__list {
        margin-top: 0;
        font-size: 9px;
        text-align: center;
        margin-bottom: 22px; }
      .ph-tpl__intro__lower {
        width: 40%;
        position: absolute;
        bottom: 35px;
        left: 33%;
        border-bottom: 1px solid white; }
    .ph-tpl__slider {
      zoom: 1;
      clear: both;
      margin-right: -2.32558%;
      margin-left: -2.32558%;
      padding-right: 2.32558%;
      padding-left: 2.32558%;
      display: block;
      margin-top: 20px;
      padding: 0;
      height: 350px; }
      .ph-tpl__slider:before, .ph-tpl__slider:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .ph-tpl__slider:after {
        clear: both; }
      .ph-tpl__slider__element {
        width: 325px;
        height: 275px;
        float: left;
        margin-right: 20px;
        text-align: center; }
        .ph-tpl__slider__element:first-of-type {
          margin-left: 20px; }
        .ph-tpl__slider__element__image {
          height: 175px; }
        .ph-tpl__slider__element__gender {
          display: block;
          margin-bottom: 7px;
          margin-top: 5px;
          letter-spacing: 0px;
          font: 400 12px/12px "Chronicle Display A", "Chronicle Display B", serif;
          text-align: center;
          text-rendering: optimizeLegibility;
          text-transform: none; }
        .ph-tpl__slider__element__headline {
          display: block;
          margin-bottom: 6.5px;
          margin-top: -3.5px;
          letter-spacing: 0px;
          font: 900 14px/16px "Chronicle Display A", "Chronicle Display B", serif;
          text-align: center;
          text-rendering: optimizeLegibility;
          text-transform: uppercase; }
        .ph-tpl__slider__element__link {
          display: block;
          margin-bottom: 16.5px;
          margin-top: -3.5px;
          letter-spacing: 0px;
          font: 700 14px/20px "Helvetica Neue", sans-serif;
          text-align: center;
          text-rendering: optimizeLegibility;
          text-transform: uppercase;
          display: inline-block;
          text-align: center; }
          .ph-tpl__slider__element__link:after {
            content: '';
            float: right;
            width: 12px;
            height: 12px;
            margin-top: 4px;
            background: url("../../images/svg/mf-icn-dropdown-right.svg") no-repeat;
            background-size: contain; }
      .ph-tpl__slider .style-guide--black {
        width: 32px;
        height: 32px;
        background: url("../../images/svg/mf-style-report-graphic.svg") no-repeat bottom right;
        display: block;
        z-index: 1;
        position: absolute;
        background-size: 21px 21px; }
      .ph-tpl__slider .style-guide--white {
        width: 32px;
        height: 32px;
        background: url("../../images/svg/mf-style-report-graphic-white.svg") no-repeat bottom right;
        display: block;
        z-index: 1;
        position: absolute;
        background-size: 21px 21px; } }
  @media (min-width: 61.313em) {
    .ph-tpl__intro {
      zoom: 1;
      margin-right: -1.5873%;
      margin-left: -1.5873%;
      padding-right: 1.5873%;
      padding-left: 1.5873%;
      clear: both;
      padding: 0; }
      .ph-tpl__intro:before, .ph-tpl__intro:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .ph-tpl__intro:after {
        clear: both; }
      .ph-tpl__intro__panel {
        margin: 27px 0; }
      .ph-tpl__intro__men__headline {
        background-size: 95px;
        height: 45px; }
        .ph-tpl__intro__men__headline span {
          display: none; }
      .ph-tpl__intro__men__menu__list {
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px; }
      .ph-tpl__intro__women__headline {
        background-size: 170px;
        height: 45px; }
        .ph-tpl__intro__women__headline span {
          display: none; }
      .ph-tpl__intro__women__menu__list {
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px; }
      .ph-tpl__intro__lower {
        width: 33.333%;
        position: absolute;
        bottom: 125px;
        left: 33.333%; }
    .ph-tpl__slider {
      zoom: 1;
      margin-right: -1.5873%;
      margin-left: -1.5873%;
      padding-right: 1.5873%;
      padding-left: 1.5873%;
      margin-top: 20px;
      padding: 0;
      height: 350px; }
      .ph-tpl__slider:before, .ph-tpl__slider:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .ph-tpl__slider:after {
        clear: both; }
      .ph-tpl__slider__element {
        width: 325px;
        height: 275px;
        float: left;
        margin-right: 20px; }
        .ph-tpl__slider__element:first-of-type {
          margin-left: 20px; }
      .ph-tpl__slider .style-guide--black {
        width: 32px;
        height: 32px;
        background: url("../../images/svg/mf-style-report-graphic.svg") no-repeat bottom right;
        display: block;
        z-index: 1;
        position: absolute;
        background-size: 21px 21px; }
      .ph-tpl__slider .style-guide--white {
        width: 32px;
        height: 32px;
        background: url("../../images/svg/mf-style-report-graphic-white.svg") no-repeat bottom right;
        display: block;
        z-index: 1;
        position: absolute;
        background-size: 21px 21px; } }
  @media (min-width: 90.063em) {
    .ph-tpl__intro {
      zoom: 1;
      margin-right: -1.49254%;
      margin-left: -1.49254%;
      padding-right: 1.49254%;
      padding-left: 1.49254%;
      padding: 0; }
      .ph-tpl__intro:before, .ph-tpl__intro:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .ph-tpl__intro:after {
        clear: both; }
      .ph-tpl__intro__panel {
        margin: 27px 0; }
      .ph-tpl__intro__men__headline {
        background-size: 115px;
        height: 60px; }
        .ph-tpl__intro__men__headline span {
          display: none; }
      .ph-tpl__intro__men__menu__list {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px; }
      .ph-tpl__intro__women__headline {
        background-size: 209px;
        height: 60px; }
        .ph-tpl__intro__women__headline span {
          display: none; }
      .ph-tpl__intro__women__menu__list {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px; }
      .ph-tpl__intro__lower {
        width: 33.333%;
        position: absolute;
        bottom: 220px;
        left: 33.333%; }
    .ph-tpl__slider {
      zoom: 1;
      margin-right: -1.49254%;
      margin-left: -1.49254%;
      padding-right: 1.49254%;
      padding-left: 1.49254%;
      margin-top: 20px;
      padding: 0;
      height: 350px; }
      .ph-tpl__slider:before, .ph-tpl__slider:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .ph-tpl__slider:after {
        clear: both; }
      .ph-tpl__slider__element {
        width: 325px;
        height: 275px;
        float: left;
        margin-right: 20px; }
    .ph-tpl .style-guide--black {
      width: 32px;
      height: 32px;
      background: url("../../images/svg/mf-style-report-graphic.svg") no-repeat bottom right;
      display: block;
      z-index: 1;
      position: absolute;
      background-size: 21px 21px; }
    .ph-tpl .style-guide--white {
      width: 32px;
      height: 32px;
      background: url("../../images/svg/mf-style-report-graphic-white.svg") no-repeat bottom right;
      display: block;
      z-index: 1;
      position: absolute;
      background-size: 21px 21px; } }

@media (min-width: 42.563em) and (max-width: 61.25em) {
  .mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools {
    width: 95.34884%;
    float: left;
    margin-right: 2.32558%;
    margin-left: 2.32558%; } }
@media (min-width: 61.313em) and (max-width: 90em) {
  .mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools {
    width: 96.8254%;
    float: left;
    margin-right: 1.5873%;
    margin-left: 1.5873%; } }
@media (min-width: 90.063em) {
  .mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools {
    width: 91.04478%;
    float: left;
    margin-right: 1.49254%;
    margin-left: 4.47761%; } }

@media (min-width: 61.313em) and (max-width: 90em) {
  .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 10px; } }
@media (min-width: 90.063em) {
  .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 15px; } }
