div#offcanvaslist {
   margin-bottom: 50px;
}
/* SIGNUP FOR UPDATES POPUP */
.container_for_updates-signup {
     /*position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;*/
}
#genericPopUp.updates-popup{
    width: 300px;
    height: auto;
    padding:20px;
}
.container_for_updates-signup h2{
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    margin-top: 32px;
}
.container_for_updates-signup .updates-hero{
    width: 100%;
    margin-bottom: 20px;
}
.container_for_updates-signup .updates-hero img{
    width: 100%;
}
.container_for_updates-signup .iframe-container{
    width: 100%;
}
.container_for_updates-signup iframe {
    /*position: absolute;
    top:0
    left: 0;
    width: 100%;
    height: 100%;*/
    width: 100%;
    height: 454px;
}
.container_for_updates-signup h2.desktop{
    display:none;
}
@media screen and (min-width:42.5625em){
    #genericPopUp.updates-popup{
        width: 495px;
        height: auto;
    }
    .container_for_updates-signup h2.desktop{
        display:none;
    }
    .container_for_updates-signup h2{
        margin-bottom: 18px;
        text-align: center;
        font-size: 22.5px;
        font-weight: 900;
    }
    .container_for_updates-signup .updates-hero{
        width: 100%;
        margin-bottom: 18px;
    }
    .container_for_updates-signup iframe {
        /*position: absolute;
        top:0
        left: 0;
        width: 100%;
        height: 100%;*/
        width: 100%;
        height: 354px;
    }
}
@media screen and (min-width:61.25em){
    .container_for_updates-signup iframe{
        height: 290px;
    }
    #genericPopUp.updates-popup{
        width: 940px;
        height: 500px;
    }
    .container_for_updates-signup h2.not-desktop{
        display:none;
    }
    .container_for_updates-signup h2.desktop{
        display:block;
        margin-bottom: 26px;
        text-align: left;
    }
    .container_for_updates-signup .updates-hero{
        width: 465px;
        height: 460px;
        margin-bottom: 0px;
        vertical-align: top;
        display: inline-block;
        margin-right: 20px;
    }
    .container_for_updates-signup .iframe-container{
        width: 410px;
        vertical-align: top;
        display: inline-block;
        padding-top: 36px;
    }
    .container_for_updates-signup iframe {
        width: 100%;
        height: 333px;
        margin-top: -11px;
    }
}
/* [END] SIGNUP FOR UPDATES POPUP */


/* PRIVACY STATEMENT IN SIGN IN PAGE (under user registering form) */

/* Decreasing space below it in MOBILE view */
@media (min-width: 0em) and (max-width: 42.5em) {
	.userRegister .privacy-label {
		padding-bottom: 0px;
	}
	.userRegister .subscribe-newsletter-label {
	  padding-top: 19px;
	}
}

/* Breaking it into 2 lines */
/* on MOBILE view (until around 350px width) */
@media (min-width: 0em) and (max-width: 21.875em) {
	.userRegister .privacy-label {
		width: 210px;
	}
}
/* on TABLET view (until around790px width) */
@media (min-width: 42.5em) and (max-width: 49.375em) {

	.userRegister .privacy-label {
		width: 210px;
	}
}
/* [end] PRIVACY STATEMENT IN SIGN IN PAGE (under user registering form) */


/* SHOPPING CART - LINKS IN INFO STATEMENTS (next to prices/totals) */
/* removing the border-bottom from the links and replace it with normal underline (for MOBILE and TABLET only) */
@media (min-width: 0em) and (max-width: 61.25em) {
	.spb__totals-info p a, .spb__totals-info .content a {
	  border-bottom: 0 none;
	  text-decoration: underline;
	}
}
/* [end] SHOPPING CART - LINKS IN INFO STATEMENTS (next to prices/totals) */

/* PLP Sale/Non-sale Color (red) fix for Mobile devices when Load more is clicked */ 
.touch .lister__item__price span:first-child {
	color: #c00;
}
.touch .lister__item__price span:last-of-type {
	color: black;
}

@media (min-width: 42.563em) and (max-width: 61.25em) {
    .is--IE .shop__cols__wrapper__womens .shop__cols__item.fine__jewellery {
        margin-left: 0;
    }
    .is--IE .shop__cols__wrapper__womens .shop__cols__item.jewellery {
        margin-left: -137px;
    }
}

@media (min-width: 61.313em) {
    .is--IE .shop__cols__wrapper__womens .shop__cols__item.fine__jewellery {
        margin-top: 0px;
        padding-top: 0px;
        margin-left: 0px;
    }
    .is--IE .shop__cols__wrapper__womens .shop__cols__item.jewellery {
        height: 230px;
        margin-left: -180px;
        margin-top: 160px;
    }
}


/* Country Popups*/


@media (min-width: 0em) {
        .countryPopup span {
            display: block;
            letter-spacing: 0px;
            font: 700 22px/22px "Chronicle Display A", "Chronicle Display B", serif;
            text-align: center;
            text-rendering: optimizeLegibility;
            text-transform: uppercase; }
        .countryPopup__header {
            margin-bottom: 15px; }
        .countryPopup__left {
            margin-top: 10px;
            margin-bottom: 10px; }
        .countryPopup__left img {
            width: 100%;
            display: block; }
        .countryPopup__right ul {
            position: relative;
            left: -8px;
            list-style: none;
            margin: 0 -5px 0 0;
            padding: 0; }
        .countryPopup__right ul li {
            display: block;
            letter-spacing: 0px;
            font: 400 17px/18px "Chronicle Display A", "Chronicle Display B", serif;
            text-align: center;
            text-rendering: optimizeLegibility;
            margin-bottom: 14px; }
        .countryPopup__right ul li strong {
            font-weight: 700;
            text-transform: uppercase; }
        .countryPopup__right ul li:before {
            content: '\2022';
            display: inline-block;
            font-size: 17px;
            line-height: 17px;
            width: 17px; }
        .countryPopup__right .btn {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            font-weight: bold;
            position: relative; }
        .countryPopup__right .btn:after {
            content: '';
            width: 11px;
            height: 11px;
            position: absolute;
            top: 50%;
            margin-top: -5.5px;
            margin-left: 3px;
            background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-white-right.svg") no-repeat;
            background-size: contain;
            display: inline-block; }
        .countryPopup__right .btn:hover:after {
            background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg") no-repeat;
            background-size: contain; }
        .countryPopup__footer {
            display: block;
            letter-spacing: 0px;
            font: 300 16px/18px "Chronicle Display A", "Chronicle Display B", serif;
            text-align: center;
            text-rendering: optimizeLegibility;
            margin-bottom: 15px;
            border-top: 1px solid #000000; }
        .countryPopup__footer-help {
            margin-top: 14px; }
        .countryPopup__footer-call {
            margin-top: 5px; }
        .countryPopup__footer strong {
            font-weight: 700;
        }
        .countryPopup__footer-help {
            line-height: 19px;
        }
    }
    @media (min-width: 42.563em) {
        .overlay-countryPopup__header h2 {
            margin-top: 27px;
            margin-bottom: 18px; }
        .overlay-countryPopup__header h2 span {
            font-size: 24px;
            line-height: 24px; }

        .countryPopup__header {
            margin-bottom: 20px; }
        .countryPopup__left {
            width: 48%;
            float: left; }
        .countryPopup__right {
            width: 47%;
            float: right;
            margin-top: 11px; }
        .countryPopup__right ul {
            left: -15px;
            margin: 0 -20px 0 0;}
        .countryPopup__right ul li {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 13px;
            padding-left: 30px;
            text-align: left; }
        .countryPopup__right ul li:last-of-type {
            margin-bottom: 14px; }
        .countryPopup__right ul li:before {
            margin-left: -20px; }
        .countryPopup__right .btn {
            width: 87%;
            margin-left: 10px;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            position: relative; }
        .countryPopup__right .btn:after {
            content: '';
            width: 11px;
            height: 11px;
            position: absolute;
            top: 50%;
            margin-top: -5.5px;
            margin-left: 3px;
            background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-white-right.svg") no-repeat;
            background-size: contain;
            display: inline-block; }
        .countryPopup__right .btn:hover:after {
            background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg") no-repeat;
            background-size: contain; }
        .countryPopup__footer {
            margin-bottom: 15px;
            border-top: 1px solid #000000; }
        .countryPopup__footer-help {
            margin-top: 17px; }
        .countryPopup__footer-call {
            margin-top: 5px; } 
			
     .generic-popup {
          
			z-index:9999;
        }
			}
    @media (min-width: 61.313em) {
        .overlay-countryPopup__header h2 {
            margin-top: -10px;
            margin-bottom: 14px; }
        .overlay-countryPopup__header h2 span {
            font-size: 30px;
            line-height: 31px; }

        .countryPopup__header {
            margin-bottom: 10px; }
        .countryPopup__left {
            width: 50%; }
        .countryPopup__right {
            width: 45%;
            margin-top: 22px; }
        .countryPopup__right ul li {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 18px;
            padding-left: 30px; }
        .countryPopup__right ul li:last-of-type {
            margin-bottom: 12px; }
        .countryPopup__right ul li:before {
            margin-left: -20px; }
        .countryPopup__right .btn {
            width: 73%;
            margin-left: 10px;
            height: 30px;
            line-height: 30px;
            font-size: 13px;
            position: relative; }
        .countryPopup__right .btn:after {
            content: '';
            width: 11px;
            height: 11px;
            position: absolute;
            top: 50%;
            margin-top: -5.5px;
            margin-left: 3px;
            background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-white-right.svg") no-repeat;
            background-size: contain;
            display: inline-block; }
        .countryPopup__right .btn:hover:after {
            background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg") no-repeat;
            background-size: contain; }
        .countryPopup__footer {
            margin-bottom: 5px; }
        .countryPopup__footer-help {
            margin-top: 17px; }
        .countryPopup__footer-call {
            margin-top: 5px; } }
        .generic-popup {
            overflow: hidden;
            padding-bottom: 12px;
			z-index:9999;
        }
        .widow {
            font-weight: normal;
        }
        @media (min-width: 42.5625em) {
            .widow {
                display: block;
            }
        }
        @media (min-width: 42.5625em) {
            .mobile-clear {
                display: inline;
            }
        }
        @media (max-width: 42.5625em) {
            .countryPopup__left img.img-big {
                display: none;
            }
            .countryPopup__left img.img-small {
                display: block;
            }
        }
        @media (min-width: 42.5625em) {
            .countryPopup__left img.img-big {
                display: block;
            }
            .countryPopup__left img.img-small {
                display: none;
            }
    }

    /* MOBILE */
    @media (min-width: 0px) and (max-width: 680px) {
        .countryPopup__right ul {
            margin-bottom: 30px;
        }
        .countryPopup__right ul::after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 6px;
            width: 260px;
            border-bottom: 1px solid #000;
        }
        .countryPopup__right ul li {
            line-height: 20px;
        }
        .countryPopup__right .btn {
            height: 40px;
        }
        .countryPopup__footer {
            margin-bottom: 5px;
            border-top: none;
        }
        .overlay-countryPopup__header h2 {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    /* MOBILE */

    /* TABLET */
    @media (min-width: 680px) and (max-width: 980px) {
        .countryPopup__header {
            margin-bottom: 10px;
        }
        .overlay-countryPopup__header h2 {
            margin-top: -15px;
            margin-bottom: 13px;
        }
        .overlay-countryPopup__header h2 span {
            font-size: 22px;
        }
        .countryPopup__footer {
            margin-bottom: 5px;
        }
        .countryPopup__right ul li {
            line-height: 20px;
        }
        .countryPopup__footer-help {
            font-size: 14px;
        }
    }
    /* TABLET */


    .generic-popup a.mfp-close:before {
        content: ' ';
    }

/* Page Specific */

/* Singapore */
@media (min-width: 0px) and (max-width: 680px) {
    .pop-sgp .countryPopup__left {
        margin-bottom: 15px;
    }
}
@media (min-width: 61.313em) {
    .pop-sgp .countryPopup__right .btn {
        position: absolute;
        width: 30%;
        bottom: 92px;
    }
}
 @media (min-width: 680px) and (max-width: 980px) {
    .pop-sgp .countryPopup__right .btn {
        position: absolute;
        width: 30%;
        bottom: 91px;
    }
    .pop-sgp .countryPopup__left {
        /* margin-bottom: 0; */
    }
 }
 /* Hong Kong*/
@media (min-width: 0px) and (max-width: 680px) {
    .pop-hk .countryPopup__right ul {
        margin-bottom: 16px;
        margin-top: 16px;
    }
}
@media (min-width: 680px) and (max-width: 980px) {
    .pop-hk .countryPopup__right ul {
        margin-bottom: 16px;
        margin-top: 16px;
    }
}
@media (min-width: 981px) {
    .pop-hk .countryPopup__right ul {
        margin-top: 16px;
    }
}
/* France */
@media (min-width: 0px) and (max-width: 680px) {
    .pop-fra .countryPopup__right ul {
        margin-top: 20px;
        margin-bottom: 16px;
    }
    .pop-fra .overlay-countryPopup__header h2 {
        margin-top: -10px;
    }
    .pop-fra .countryPopup__right .btn {
    margin-top: ;
    }
}
@media (min-width: 680px) and (max-width: 980px) {
    .pop-fra .countryPopup__right ul {
        margin-top: 20px;
    }
}
@media (min-width: 981px) {
    .pop-fra .countryPopup__right ul {
        margin-top: 20px;
    }
}

/* Germany */

@media (min-width: 0px) and (max-width: 680px) {
    .pop-ger .countryPopup__right ul {
        margin-top: 20px;
        margin-bottom: 33px;
    }
    .pop-ger .overlay-countryPopup__header h2 {
        margin-top: -10px;
    }
    .pop-ger .countryPopup__right .btn {
    margin-top: ;
    }
}
@media (min-width: 680px) and (max-width: 980px) {
    .pop-ger .countryPopup__right ul {
        margin-top: 20px;
        margin-bottom: 25px;
    }
}
@media (min-width: 981px) {
    .pop-ger .countryPopup__right ul {
        margin-top: 20px;
        margin-bottom: 25px;
    }
}
    
/* / Country Popups*/

/* / DESIGNER LANDING PAGE*/
@media (min-width: 42.563em) {
    .designeraz__categories, 
    .designeraz__list {
        max-height: 4700px;
    }
}
/* / END DESIGNER LANDING PAGE*/


/* TEMP FIX FOR EDITORIALS AT 1440PX *
* (sidebar column empty) *
*/
@media (max-width: 90.0625em) and (min-width: 90em) {
  .editorial_wrapper {
      width: 96.8254% !important;
      float: left !important;
      margin-right: 1.5873% !important;
      margin-left: 1.5873% !important;
      padding-right: 0px !important;
      max-width: 96.8254% !important;
  }
}

@media (max-width: 90.0625em) and (min-width: 0em) {
  #edtl-sidebar {
      display: none !important;
  }
}

/* insider templates */
@media (max-width: 90.0625em) and (min-width: 61.25em) {
  .editorials_wrapper {
      width: auto !important;
      max-width: 97.02% !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 0 !important;
      float: none !important;
  }
}

/*shoot template*/
@media (max-width: 90.0625em) and (min-width: 90em) {
  .shoot-wrapper {
      margin-top: 0px !important;
  }
}

/* TEMP FIX FOR MEN's SHOP MEGANAV *
*  Accessories column is starting under the shoes column instead of in a new column *
*/
@media (min-width: 61.25em) {
    .shop__cols__wrapper__mens .shop__cols__item.shoes {
        margin-bottom: 200px;
    }
}

/* PERSISTENT BANNERS *
*  fix for big amount of text  *
*/
@media (min-width: 42.563em) and (max-width: 61.25em) {
    .persistent-banner__wrapper p {
        padding: 0px 50px;
    }
}
@media (min-width: 61.3125em) {
    .persistent-banner__wrapper p {
        padding: 0px 60px;
    }
}

/* This is to fix the qTip rollovers for image maps on IE11*/
@media all and (min-width: 61.31em){
    .maps__img__placeholder{
        pointer-events: auto !important;
    }
}

/*Menu Styling*/
/*This one fixes the centering issue on mobile nav*/
@media (min-width: 0em){
    .slide-menu__list__item span a,
    .slide-menu__list__item--has--dropdown span a {
        padding: 10px 20px;
    }
}
/*Menu Styling*/
/*This one fixes the centering issue on mobile nav*/
@media (min-width: 0em){
    .slide-menu__list__item span a,
    .slide-menu__list__item--has--dropdown span a {
        padding: 10px 20px;
    }
}
/* Extra Meganav Item Styling*/
.main-menu.extended_menu .main-menu__wrapper .main-menu__item .main-menu__link.extra_nav.private_sale_link{
    color: red;
    border-bottom-color: black;

}
@media screen and (min-width:42.5625em) and (max-width: 61.25em){
    .main-menu.extended_menu .main-menu__wrapper .main-menu__item .main-menu__link.extra_nav{
        font-size: 11px;
        padding: 5px 0;
    }
    .main-menu.extended_menu {
        width: 100%;
    }
    .main-menu.extended_menu .main-menu__wrapper .main-menu__item:first-of-type {
        padding: 0 0% 0 0;
    }
    .main-menu.extended_menu .main-menu__wrapper .main-menu__item {
        display: inline;
        margin-top: auto;
        padding: 0 0.9%;
    }
}
@media screen and (min-width:61.25em){
    .extra_menu_nav{
        /*padding-left: 20px;*/
    }
}
@media screen and (min-width:90em){
    .extra_menu_nav{
        /*padding-left: 26px;*/
    }
}

/*GeoIP Popup*/
.geoip_popup{
    margin-left: -8px;
}
.geoip_popup .geoip_popup-header{
    margin-top: 95px;
}
.geoip_popup .geoip_popup-header h2{
    text-transform: uppercase;
}
.geoip_popup .geoip_popup-body .geoip_popup-content{
    width: 510px;
    margin: 40px auto 0 auto;
    text-align: center;
}
.geoip_popup .geoip_popup-body .geoip_popup-content p,
.geoip_popup .geoip_popup-body .geoip_popup-content p span.geoip_popup-fullname{
    font-family: "ChronicleDisplayA","ChronicleDisplayB",serif;
    font-weight: 400;
    font-size: 1rem;
}
.geoip_popup .geoip_popup-body .geoip_popup-content .geoip_popup-fullname{
    text-transform: none;
    display: inline-block;
}
.geoip_popup .geoip_popup-buttons {
    text-align: center;
    margin-bottom: 110px;
    margin-top: 50px;
}
.geoip_popup .geoip_popup-buttons button:first-child{
    margin-bottom: 30px;
}
.geoip_popup .geoip_popup-buttons button:nth-child(3){
    margin-bottom: 30px;
}
.geoip_popup .geoip_popup-buttons button{
    width: 494px;
    height: 30px;
    display: block;
    margin: 0 auto;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    font-weight: 700;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.geoip_popup .geoip_popup-buttons button:after {
    content: '';
    width: 11px;
    height: 11px;
    top: 50%;
    margin-top: -5.5px;
    margin-left: 3px;
    background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-white-right.svg") no-repeat;
    background-size: contain;
    display: inline-block;
}
.geoip_popup .geoip_popup-buttons button:hover:after {
    background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg") no-repeat;
    background-size: contain;
}
.geoip_popup .geoip_popup-buttons button.geoip_popup-geo_site_redirect{
    color: black;
    background-color: white;
}
.geoip_popup .geoip_popup-buttons button.geoip_popup-geo_site_redirect:hover{
    color: white;
    background-color: black;
}
.geoip_popup .geoip_popup-buttons button.geoip_popup-geo_site_redirect:after {
    content: '';
    width: 11px;
    height: 11px;
    top: 50%;
    margin-top: -5.5px;
    margin-left: 3px;
    background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-right.svg") no-repeat;
    background-size: contain;
    display: inline-block;
}
.geoip_popup .geoip_popup-buttons button.geoip_popup-geo_site_redirect:hover:after {
    background: url("http://assets.matchesfashion.com/content/mf/images/svg/mf-icn-dropdown-white-right.svg") no-repeat;
    background-size: contain;
}
.geoip_mfp-close {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: 18px;
    top: 18px;
    padding: 0;
    background: url(http://assets.matchesfashion.com/images/mf-icn-close.svg) no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 1;
}
@media screen and (min-width:42.5625em){
    .geoip_popup .geoip_popup-show_mobile{
        display: none !important;
    }
    .geoip_popup .geoip_popup-hide_mobile{
        display: block !important;
    }
}
/*These are media queries for desktop-first approach*/
@media screen and (min-width:90em){

}
@media screen and (max-width:61.25em){
}
@media screen and (max-width:42.5625em){
    .geoip_popup .geoip_popup-hide_mobile{
        display: none !important;
    }
    .geoip_popup .geoip_popup-show_mobile{
        display: block !important;
        margin-top: 45px;
    }
    .geoip_popup .geoip_popup-body .geoip_popup-content{
        width: 258px;
        margin: 40px auto 0 auto;
        text-align: center;
    }
    .geoip_popup .geoip_popup-buttons button{
        width: 255px;
        height: 30px;
        display: block;
        margin: 0 auto;
    }
    .geoip_popup .geoip_popup-buttons {
        text-align: center;
        margin-bottom: 45px;
        margin-top: 28px;
    }
}

/* Image for careers */



.fp-page__content-ss16-header > img {
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: careerZoom 8s;
    animation: careerZoom 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes careerZoom {
    100% {
        transform: scale(1.08);
    }
}

@keyframes careerZoom {
    100% {
        transform: scale(1.08);
    }
}

.fp-page__content-ss16-header {
    position: relative;
    display: block;
    overflow: hidden;
}

.fp-page__content-ss16-header > img {
    width: 100%;
}


.fp-page__content-ss16-header > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fp-page__content-ss16-header > div h3 {
    color: #fff;
}


.fp-page__content-ss16-header > div p {
    color: #fff;
    margin: 20px 0 0 0;
}

@media (min-width: 0em) and (max-width: 42.5em) {

 .fp-page__content-ss16-header {
        width: 110%;
        margin-left: -5%;
        margin-right: -5%;
    }

}

@media (min-width: 0) and (max-width: 349px) { 

   

    .fp-page__content-ss16-header  > div {
        display: none;
    }
}


@media (min-width: 350px) and (max-width: 495px) {

  



    .fp-page__content-ss16-header > div {
        width: 270px;
        left: 63%;
    }

    .fp-page__content-ss16-header > div h3 {
        font-size: 30px;
    }

    .fp-page__content-ss16-header > div p {
     
    }

}


@media (min-width: 496px) and (max-width: 42.5em) {
   


 .fp-page__content-ss16-header > div {
        width: 350px;
        left: 63%;
    }

    .fp-page__content-ss16-header > div h3 {
        font-size: 40px;
    }

    .fp-page__content-ss16-header > div p {
     
    }


}


@media (min-width: 42.5625em) and (max-width: 61.25em) {
 .fp-page__content-ss16-header > div {
        width: 350px;
        left: 60%;
    }

    .fp-page__content-ss16-header > div h3 {
        font-size: 40px;
    }

    .fp-page__content-ss16-header > div p {
     
    }

}



@media (min-width: 61.3125em) and (max-width: 90em) {

    .fp-page__content-ss16-header {
        margin-bottom: -28px;
    }

    .fp-page__content-ss16-header > div {
        width: 430px;
        left: 55%;
    }

    .fp-page__content-ss16-header > div h3 {
        font-size: 50px;
    }

    .fp-page__content-ss16-header > div p {
     
    }
}



@media (min-width: 90.0625em) {

    .fp-page__content-ss16-header {
        margin-bottom: -28px;
    }
    
    .fp-page__content-ss16-header > div {
        width: 430px;
    }

    .fp-page__content-ss16-header > div h3 {
        font-size: 50px;
    }

    .fp-page__content-ss16-header > div p {
     
    }
}




/* 

@media (min-width: 0em) and (max-width: 42.5em) {
  }

@media (min-width: 42.5625em) and (max-width: 61.25em) {
 }

@media (min-width: 61.3125em) and (max-width: 90em) {
 }

@media (min-width: 90.0625em) {
}
*/

/* end image careers */

/*Persistent Animated Banners*/
.persistent-banner__wrapper div{
    width: 95%;
}
.persistent-banner__wrapper.animated{
}
@media screen and (min-width:42.5625em){
    .persistent-banner__wrapper.animated{
    }
}
@media screen and (min-width:61.25em){
    .persistent-banner__wrapper.animated{
    }
}
@media screen and (min-width:90em){

}


/*Giftcard PDP - disable "view large thumbnail button"*/

#giftcard-pdp .pdp__gallery-wrapper .view-large-thumbs-label {
    display: none;
}
/*Fix for Designer A-Z cutting off the listing becase a max-height is set*/
.designeraz__list{
    max-height: none!important;
}