/*=====<Responsive>=====*/
.menunav:before{display:none}
.lgtbox{position:relative;margin-left:0;left:0;right:0;margin:0 auto;max-width:630px}
.lst_tax a{margin-bottom:10px}
.ntr{display:none}

@media (max-width: 1228px){
.bdcnr{margin-bottom:10px}
#bdcnl .widget_relacionados,.hdcnbr{display:none}
.hd_post,.usrconect .hdcnbr > p,.usrconect .ops_ul{display:none !important}
.hdcn{margin-bottom:0}
.usrconect .ops_ul{width:auto;margin:10px 0 auto !important}
.fch{margin-top:5px !important}
.usrconect .hdcnbr > p{top:-15px}
.post_not, .lnks_webs{margin-left:10px;margin-right:10px}
.lst_not{margin:0 auto;text-align:center}
.ico_tw,.ico_feed{display:none !important}
.icobgb-account{margin-right:0 !important}
.bx-wrapper .bx-next{right:13px !important}
.bx-wrapper .bx-prev{left:13px !important}
.slider_cnt{margin-left:10px !important;margin-right:10px !important}
.bx-wrapper img{width:100% !important}
.bx-wrapper .bx-viewport{left:0 !important}
.menunav li:before{right:0}
.lst_top{padding:0 0 1px}
.dresp,.publicidadactriz{display:none !important}
.lst_orden{display:none}
.cntadicr{margin:10px 0}
.lst_cnt_act{margin-right:0}
.datosact,.infoactriz{padding:0 10px}
.imgact{top:68px;left:0;right:0;margin:0 auto}
.infoactriz{padding-top:560px}
.datosactbl,.datosactbll,datosactblr,.cntadicl,.cntadicr,.imgact,.datosact,.slider_cnt{width:auto !important;float:none !important}
.lst_tax{padding:0 10px}
.lst_galact li,.lst_galact li:nth-child(3n){float:none;display:inline-block;vertical-align:middle;margin-left:5px;margin-right:5px}
.gallery_mt,.lst_galact{text-align:center}
.gallery_mt li{margin:0 5px 10px;float:none;display:inline-block;vertical-align:middle}
.gallery_mt li:nth-child(4n){margin:0 5px 10px}
.cnt_post img,.infoactbx .imgact img{max-width:100%}
.infoactbx .imgact img{margin:0 auto;display:block}
.abc{height:auto}
.pagecnt{padding:0 10px}
.bdcnr,.bdcnl{float:none;width:auto}
.bdcnl{width:328px;margin:0 auto}
.w1229px{width:auto}
/*header*/
.sugerencias{width:auto}
.hdcnb{width:auto;margin:0 10px}
.hdcnbr{width:auto}
/**/
/*registro y login*/
.lgtbox{width:auto}
/*menu*/
.lst_orden span{display:none}
.menunav > ul{z-index:5;position:relative;display:none}
.menunav:hover > ul,.menunav a{display:block}
.menunav a{text-shadow:none;padding:0 10px}
.menunav:before{display:block;background:none;font-size:18px;text-align:center;cursor:pointer;content:"Elige opción menu"}
.menunav li{float:none;display:block;margin-right:0}
.menunav li:before{background:none}
/**/
.wp-pagenavi{margin:0 20px 15px}
.wp-pagenavi .pages{display:none}
.logo{margin-right:0;margin-bottom:15px}
#hd h1{padding:5px 7px}
.flol,.lst_orden{float:none}
.lst_cnt{text-align:center}
.post_not,.lnks_webs{display:inline-block;vertical-align:middle}
.lnks_webs{text-align:left}
.ftcntl,.ftcntll,.ftcntr,.lst_not,.fch,.logo{width:100%}
.bk_actrices/*,.titcat,.lst_categorias*/{display:none}
.fch input{width:100%;padding-right:70px;margin:0;margin-top:12px}
.fch button{position:absolute;top:0;right:0}
.fch{margin:20px 0 15px;padding:0 0 0 24px;width:auto;position:relative;float:none}
.ftcnt{padding:0 10px}
.ftcnb{padding:10px}
.frmsuscribete{margin:0 4px;position:relative}
.frmsuscribete input{width:100%;margin-left:-4px;padding:0 58px 0 15px}
.frmsuscribete button{position:absolute;top:0;right:-6px}

.fav_empty h3{line-height:30px;margin:0 0 10px}
.fav_empty{padding:0 10px}
/*listado actrices*/
.lst_actrices{margin:0 0 5px auto;text-align:center}
.lst_actrices_fav > li,.lst_actrices > li{display:inline-block;float:none;margin-left:20px;margin-right:20px;vertical-align:middle}
.lst_actrices > li:nth-child(5n),.lst_actrices > li:nth-child(4n){margin-right:20px;margin-left:20px}
#pagecat .titcat,#pagecat .lst_categorias{display:block}
.lst_categorias{text-align:center}
.lst_categorias li,.lst_categorias li:nth-child(6n){float:none;display:inline-block;vertical-align:middle;margin-left:7px;margin-right:7px}
}

@media (max-width:700px){
.logo img{display:block;margin:0 auto 15px}
.logo{display:block;margin:0 auto 15px}
.ops_ul{width:230px;margin:0 auto;float:none}
.ops_ul li:nth-child(2){margin-bottom:15px;margin-right:0}
.ops_ul li:nth-child(3),.ops_ul li:nth-child(4){float:right;margin-bottom:5px;display:inline-block}
.ops_ul li.ico_tw{margin-right:0}
.ops_ul li:last-child{margin-right:15px}
.hdcnbr{float:none}
.usrnoconect .ops_ul{margin:0 auto 15px;text-align:center;width:auto}
}

@media (max-width:630px){
.lst_orden{display:none}
/*.lst_cnt .post_not:nth-child(2n),.lst_cnt .lnks_webs:nth-child(2n){margin-right:0}*/
/*ligboxt*/
.lgtbox{top:50px}
.lgt-tit p:first-child{line-height:12px;margin:0 0 5px}
.lgt-tit p{line-height:15px;text-align:justify}
.frmcnt-lft,.frmcnt-rgt{float:none;width:auto}
.lgt-cnt{background:none}
.logo{display:block;margin:0 auto 15px}
}

@media (max-width: 800px) {
.hd_post p{display:none}
.usrconect .hdcnbr{min-height:60px}
.usrconect .logo{display:block;text-align:center}
}

@media (max-width:800px){
.usrconect .hdcnbr{float:right;margin-top:5px;min-height:50px}
.usrconect .hdcnbr > p{top:-14px}
.usrconect .ops_ul li.ico_tw{margin-right:10px}
.usrconect .ops_ul li:last-child{margin-left:15px;margin-right:8px}
.usrconect .logo{clear:both;}
}

@media (max-width:520px){
.view_gallery{right:inherit;left:10px}
.pages_post{top:50px}
}

@media (max-width:645px){
.datosact,.infoact,.bgmvs{display:none}
.imgact{top:20px}
.infoactriz{padding-top:580px}
}

@media (max-width: 360px) {
/*usuario conectado*/
.usrconect .ops_ul{width:230px;margin-top:10px}
.usrconect .hdcnbr{min-height:90px;float:none}
.usrconect .hdcnbr > p{top:-18px}
.usrconect .ops_ul li.ico_tw{position:absolute;right:10px;top:5px}
.usrconect .ops_ul li:last-child{bottom:15px;position:absolute;right:10px}
.usrconect .logo{}
.usrconect .ops_ul li:last-child,.usrconect .ops_ul li.ico_tw{margin-left:0;margin-right:0}
/**/
.aviso_ck h3{line-height:25px}
.aviso_ck p{line-height:20px}
.aviso_ck a{display:block;margin:10px}
.hdcnb{padding-bottom:0}

/*.lst_cnt .post_not,.lst_cnt .lnks_webs{margin-right:0}*/
}

@media (max-width:320px){
.bdcnl{width:auto}
.post .icobgb-favb{top:16px}
.post .titblack h1{text-align:center}
.infoact{float:none;margin:0 auto;width:188px}
.ico_downv{margin-top:2px}
}

@media (max-width:440px){
.infosld{height:auto;min-height:85px}
}

@media only screen and (min-width:362px) and (max-width: 800px)  {
.ops_ul li.imgavt{margin-right:0;margin-left:20px;margin-top:-11px !important;float:none;display:inline-block}
.usrconect .hdcnbr{float:none}
.ops_ul li{float:none;display:inline-block;vertical-align:middle;margin-top:0}
.usrconect .ops_ul{margin:10px 0 auto !important;text-align:center;width:auto}
.ops_ul li:nth-child(2){margin-bottom:0}
.usrconect .hdcnbr > p{left:0;right:0;text-align:center;margin:0 auto}
}

@media (max-width:361px){
.usrconect .hdcnbr{float:none}
.ops_ul li{float:none;display:inline-block}
.ops_ul li.imgavt{margin-right:0}
.usrconect .ops_ul{margin:0 auto;text-align:center}
.usrconect .hdcnbr > p{text-align:center;width:auto;margin:0 auto}
.usrconect .ops_ul li.icobgb-fav{margin-right:55px}
}

@media only screen and (min-width:811px) and (max-width: 1228px)  {
.usrconect .ops_ul{margin-bottom:12px !important}
.ops_ul li.imgavt{margin-top:-14px;margin-left:10px;margin-right:10px}
.usrconect .hdcnbr > p{top:-2px !important;left:-26px !important;margin-right:0;text-align:center}
}

@media only screen and (min-width:700px) and (max-width: 1228px)  {
/*.usrnoconect .ops_ul{width:300px}*/
.fch{margin-top:15px !important}
}

@media only screen and (max-width: 510px){
	.lst_categorias li, .lst_categorias li:nth-child(6n) {
	    margin-left: 5px;
	    margin-right: 0px;
	    float: left;
	    width: 46%;
	    height: auto;
	}
  .lst_categorias li img {
    width: 100%;
    min-height: 182px;
  }
}
