/*********************
PLAYER
*********************/
#vjs_video_3 video::-webkit-media-controls {
  display: none; }

#vjs_video_3 .vjs-loading-spinner {
  border: 2px solid rgba(255, 255, 255, 0.15);
  height: 70px;
  width: 70px; }
  #vjs_video_3 .vjs-loading-spinner:before {
    left: -3px;
    top: -3px;
    border-top: 3px solid rgba(255, 255, 255, 0.8);
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent; }
#vjs_video_3.vjs-paused .vjs-control-bar {
  display: none; }
#vjs_video_3 input {
  float: inherit;
  max-width: inherit; }
#vjs_video_3.vjs-paused:not(.vjs-ad-playing) .vjs-big-play-button {
  display: block; }
#vjs_video_3 .vjs-big-play-button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto; }
#vjs_video_3 .vjs-big-play-button:before {
  font-size: 50px;
  margin: 22px auto;
  width: 40px; }
#vjs_video_3 .vjs-poster {
  background-color: white; }

body.post-type-archive-video .vjs-poster, body.single-video .vjs-poster {
  display: none; }

.vjs-has-started .vjs-poster {
  display: none !important; }

.vjs-mouse.vjs-playlist .vjs-playlist-item:hover .vjs-playlist-thumbnail:before {
  border-radius: 50%;
  width: 34px;
  left: 63.5px;
  top: 27px; }

.vjs-playlist, .vjs-mouse.vjs-playlist {
  background-color: white;
  padding-left: 0px; }
  .vjs-playlist .vjs-selected .vjs-playlist-thumbnail:before, .vjs-mouse.vjs-playlist .vjs-selected .vjs-playlist-thumbnail:before {
    width: 160px;
    height: 90px;
    line-height: 90px; }
  .vjs-playlist .post-details, .vjs-mouse.vjs-playlist .post-details {
    font-weight: normal; }
  .vjs-playlist .vjs-playlist-item, .vjs-mouse.vjs-playlist .vjs-playlist-item {
    width: 120px;
    display: inline-block;
    margin-right: 10px;
    height: auto;
    font-size: 16px;
    display: none;
    margin-bottom: 0px; }
    .vjs-playlist .vjs-playlist-item:first-child, .vjs-mouse.vjs-playlist .vjs-playlist-item:first-child {
      display: block; }
    .vjs-playlist .vjs-playlist-item time, .vjs-mouse.vjs-playlist .vjs-playlist-item time {
      color: white; }
    .vjs-playlist .vjs-playlist-item .vjs-playlist-thumbnail, .vjs-mouse.vjs-playlist .vjs-playlist-item .vjs-playlist-thumbnail {
      float: initial;
      margin-bottom: 5px;
      width: 160px;
      height: 89px; }
  .vjs-playlist .vjs-playlist-description, .vjs-mouse.vjs-playlist .vjs-playlist-description {
    display: none; }
  .vjs-playlist .vjs-playlist-name, .vjs-mouse.vjs-playlist .vjs-playlist-name {
    color: #222; }
  .vjs-playlist cite, .vjs-mouse.vjs-playlist cite {
    height: auto;
    line-height: 20px; }
  .vjs-playlist.vjs-ad-playing, .vjs-mouse.vjs-playlist.vjs-ad-playing {
    border-top: none; }

.vjs-playlist cite {
  display: inherit;
  overflow: visible;
  white-space: inherit; }
.vjs-playlist p {
  color: grey; }
.vjs-playlist.vjs-ad-playing .vjs-playlist-ad-overlay {
  background-color: rgba(255, 255, 255, 0.5); }

.vjs-ad-playing {
  border-top: 1px solid black; }

.vjs-captions-button {
  display: none; }

.videos.playlist {
  min-height: 100px; }

li.vjs-playlist-item {
  padding-bottom: 2px; }
  li.vjs-playlist-item:focus {
    outline: none; }

@media only screen and (min-width: 481px) {
  .vjs-playlist .vjs-playlist-item, .vjs-mouse.vjs-playlist .vjs-playlist-item {
    margin-right: 30px; } }

/*# sourceMappingURL=player.css.map */
