/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.geot-flag {
	width: 25px;
	height: 15px;
	background:url(flags.png) no-repeat;
	margin-top: 5px;
}

.geot-flag.flag-ad {background-position: -25px 0}
.geot-flag.flag-ae {background-position: -50px 0}
.geot-flag.flag-af {background-position: -75px 0}
.geot-flag.flag-ag {background-position: -100px 0}
.geot-flag.flag-ai {background-position: -125px 0}
.geot-flag.flag-al {background-position: -150px 0}
.geot-flag.flag-am {background-position: -175px 0}
.geot-flag.flag-an {background-position: -200px 0}
.geot-flag.flag-ao {background-position: -225px 0}
.geot-flag.flag-ar {background-position: -250px 0}
.geot-flag.flag-as {background-position: -275px 0}
.geot-flag.flag-at {background-position: -300px 0}
.geot-flag.flag-au {background-position: -325px 0}
.geot-flag.flag-aw {background-position: -350px 0}
.geot-flag.flag-az {background-position: -375px 0}
.geot-flag.flag-ba {background-position: 0 -15px}
.geot-flag.flag-bb {background-position: -25px -15px}
.geot-flag.flag-bd {background-position: -50px -15px}
.geot-flag.flag-be {background-position: -75px -15px}
.geot-flag.flag-bf {background-position: -100px -15px}
.geot-flag.flag-bg {background-position: -125px -15px}
.geot-flag.flag-bh {background-position: -150px -15px}
.geot-flag.flag-bi {background-position: -175px -15px}
.geot-flag.flag-bj {background-position: -200px -15px}
.geot-flag.flag-bm {background-position: -225px -15px}
.geot-flag.flag-bn {background-position: -250px -15px}
.geot-flag.flag-bo {background-position: -275px -15px}
.geot-flag.flag-br {background-position: -300px -15px}
.geot-flag.flag-bs {background-position: -325px -15px}
.geot-flag.flag-bt {background-position: -350px -15px}
.geot-flag.flag-bv {background-position: -375px -15px}
.geot-flag.flag-bw {background-position: 0 -30px}
.geot-flag.flag-by {background-position: -25px -30px}
.geot-flag.flag-bz {background-position: -50px -30px}
.geot-flag.flag-ca {background-position: -75px -30px}
.geot-flag.flag-cd {background-position: -100px -30px}
.geot-flag.flag-cf {background-position: -125px -30px}
.geot-flag.flag-cg {background-position: -150px -30px}
.geot-flag.flag-ch {background-position: -175px -30px}
.geot-flag.flag-ci {background-position: -200px -30px}
.geot-flag.flag-ck {background-position: -225px -30px}
.geot-flag.flag-cl {background-position: -250px -30px}
.geot-flag.flag-cm {background-position: -275px -30px}
.geot-flag.flag-cn {background-position: -300px -30px}
.geot-flag.flag-co {background-position: -325px -30px}
.geot-flag.flag-cr {background-position: -350px -30px}
.geot-flag.flag-cu {background-position: -375px -30px}
.geot-flag.flag-cv {background-position: 0 -45px}
.geot-flag.flag-cy {background-position: -25px -45px}
.geot-flag.flag-cz {background-position: -50px -45px}
.geot-flag.flag-de {background-position: -75px -45px}
.geot-flag.flag-dj {background-position: -100px -45px}
.geot-flag.flag-dk {background-position: -125px -45px}
.geot-flag.flag-dm {background-position: -150px -45px}
.geot-flag.flag-do {background-position: -175px -45px}
.geot-flag.flag-dz {background-position: -200px -45px}
.geot-flag.flag-ec {background-position: -225px -45px}
.geot-flag.flag-ee {background-position: -250px -45px}
.geot-flag.flag-eg {background-position: -275px -45px}
.geot-flag.flag-eh {background-position: -300px -45px}
.geot-flag.flag-er {background-position: -325px -45px}
.geot-flag.flag-es {background-position: -350px -45px}
.geot-flag.flag-et {background-position: -375px -45px}
.geot-flag.flag-eu {background-position: 0 -60px}
.geot-flag.flag-fi {background-position: -25px -60px}
.geot-flag.flag-fj {background-position: -50px -60px}
.geot-flag.flag-fk {background-position: -75px -60px}
.geot-flag.flag-fm {background-position: -100px -60px}
.geot-flag.flag-fo {background-position: -125px -60px}
.geot-flag.flag-fr {background-position: -150px -60px}
.geot-flag.flag-ga {background-position: -175px -60px}
.geot-flag.flag-gb {background-position: -200px -60px}
.geot-flag.flag-gd {background-position: -225px -60px}
.geot-flag.flag-ge {background-position: -250px -60px}
.geot-flag.flag-gf {background-position: -275px -60px}
.geot-flag.flag-gg {background-position: -300px -60px}
.geot-flag.flag-gh {background-position: -325px -60px}
.geot-flag.flag-gi {background-position: -350px -60px}
.geot-flag.flag-gl {background-position: -375px -60px}
.geot-flag.flag-gm {background-position: 0 -75px}
.geot-flag.flag-gn {background-position: -25px -75px}
.geot-flag.flag-gp {background-position: -50px -75px}
.geot-flag.flag-gq {background-position: -75px -75px}
.geot-flag.flag-gr {background-position: -100px -75px}
.geot-flag.flag-gs {background-position: -125px -75px}
.geot-flag.flag-gt {background-position: -150px -75px}
.geot-flag.flag-gu {background-position: -175px -75px}
.geot-flag.flag-gw {background-position: -200px -75px}
.geot-flag.flag-gy {background-position: -225px -75px}
.geot-flag.flag-hk {background-position: -250px -75px}
.geot-flag.flag-hm {background-position: -275px -75px}
.geot-flag.flag-hn {background-position: -300px -75px}
.geot-flag.flag-hr {background-position: -325px -75px}
.geot-flag.flag-ht {background-position: -350px -75px}
.geot-flag.flag-hu {background-position: -375px -75px}
.geot-flag.flag-id {background-position: 0 -90px}
.geot-flag.flag-ie {background-position: -25px -90px}
.geot-flag.flag-il {background-position: -50px -90px}
.geot-flag.flag-in {background-position: -75px -90px}
.geot-flag.flag-io {background-position: -100px -90px}
.geot-flag.flag-iq {background-position: -125px -90px}
.geot-flag.flag-ir {background-position: -150px -90px}
.geot-flag.flag-is {background-position: -175px -90px}
.geot-flag.flag-it {background-position: -200px -90px}
.geot-flag.flag-je {background-position: -225px -90px}
.geot-flag.flag-jm {background-position: -250px -90px}
.geot-flag.flag-jo {background-position: -275px -90px}
.geot-flag.flag-jp {background-position: -300px -90px}
.geot-flag.flag-ke {background-position: -325px -90px}
.geot-flag.flag-kg {background-position: -350px -90px}
.geot-flag.flag-kh {background-position: -375px -90px}
.geot-flag.flag-ki {background-position: 0 -105px}
.geot-flag.flag-km {background-position: -25px -105px}
.geot-flag.flag-kn {background-position: -50px -105px}
.geot-flag.flag-kp {background-position: -75px -105px}
.geot-flag.flag-kr {background-position: -100px -105px}
.geot-flag.flag-kw {background-position: -125px -105px}
.geot-flag.flag-ky {background-position: -150px -105px}
.geot-flag.flag-kz {background-position: -175px -105px}
.geot-flag.flag-la {background-position: -200px -105px}
.geot-flag.flag-lb {background-position: -225px -105px}
.geot-flag.flag-lc {background-position: -250px -105px}
.geot-flag.flag-li {background-position: -275px -105px}
.geot-flag.flag-lk {background-position: -300px -105px}
.geot-flag.flag-lr {background-position: -325px -105px}
.geot-flag.flag-ls {background-position: -350px -105px}
.geot-flag.flag-lt {background-position: -375px -105px}
.geot-flag.flag-lu {background-position: 0 -120px}
.geot-flag.flag-lv {background-position: -25px -120px}
.geot-flag.flag-ly {background-position: -50px -120px}
.geot-flag.flag-ma {background-position: -75px -120px}
.geot-flag.flag-mc {background-position: -100px -120px}
.geot-flag.flag-md {background-position: -125px -120px}
.geot-flag.flag-me {background-position: -150px -120px}
.geot-flag.flag-mg {background-position: -175px -120px}
.geot-flag.flag-mh {background-position: -200px -120px}
.geot-flag.flag-mk {background-position: -225px -120px}
.geot-flag.flag-ml {background-position: -250px -120px}
.geot-flag.flag-mm {background-position: -275px -120px}
.geot-flag.flag-mn {background-position: -300px -120px}
.geot-flag.flag-mo {background-position: -325px -120px}
.geot-flag.flag-mp {background-position: -350px -120px}
.geot-flag.flag-mq {background-position: -375px -120px}
.geot-flag.flag-mr {background-position: 0 -135px}
.geot-flag.flag-ms {background-position: -25px -135px}
.geot-flag.flag-mt {background-position: -50px -135px}
.geot-flag.flag-mu {background-position: -75px -135px}
.geot-flag.flag-mv {background-position: -100px -135px}
.geot-flag.flag-mw {background-position: -125px -135px}
.geot-flag.flag-mx {background-position: -150px -135px}
.geot-flag.flag-my {background-position: -175px -135px}
.geot-flag.flag-mz {background-position: -200px -135px}
.geot-flag.flag-na {background-position: -225px -135px}
.geot-flag.flag-nc {background-position: -250px -135px}
.geot-flag.flag-ne {background-position: -275px -135px}
.geot-flag.flag-nf {background-position: -300px -135px}
.geot-flag.flag-ng {background-position: -325px -135px}
.geot-flag.flag-ni {background-position: -350px -135px}
.geot-flag.flag-nl {background-position: -375px -135px}
.geot-flag.flag-no {background-position: 0 -150px}
.geot-flag.flag-np {background-position: -25px -150px}
.geot-flag.flag-nr {background-position: -50px -150px}
.geot-flag.flag-nu {background-position: -75px -150px}
.geot-flag.flag-nz {background-position: -100px -150px}
.geot-flag.flag-om {background-position: -125px -150px}
.geot-flag.flag-pa {background-position: -150px -150px}
.geot-flag.flag-pe {background-position: -175px -150px}
.geot-flag.flag-pf {background-position: -200px -150px}
.geot-flag.flag-pg {background-position: -225px -150px}
.geot-flag.flag-ph {background-position: -250px -150px}
.geot-flag.flag-pk {background-position: -275px -150px}
.geot-flag.flag-pl {background-position: -300px -150px}
.geot-flag.flag-pm {background-position: -325px -150px}
.geot-flag.flag-pn {background-position: -350px -150px}
.geot-flag.flag-pr {background-position: -375px -150px}
.geot-flag.flag-ps {background-position: 0 -165px}
.geot-flag.flag-pt {background-position: -25px -165px}
.geot-flag.flag-pw {background-position: -50px -165px}
.geot-flag.flag-py {background-position: -75px -165px}
.geot-flag.flag-qa {background-position: -100px -165px}
.geot-flag.flag-re {background-position: -125px -165px}
.geot-flag.flag-ro {background-position: -150px -165px}
.geot-flag.flag-rs {background-position: -175px -165px}
.geot-flag.flag-ru {background-position: -200px -165px}
.geot-flag.flag-rw {background-position: -225px -165px}
.geot-flag.flag-sa {background-position: -250px -165px}
.geot-flag.flag-sb {background-position: -275px -165px}
.geot-flag.flag-sc {background-position: -300px -165px}
.geot-flag.flag-sd {background-position: -325px -165px}
.geot-flag.flag-se {background-position: -350px -165px}
.geot-flag.flag-sg {background-position: -375px -165px}
.geot-flag.flag-sh {background-position: 0 -180px}
.geot-flag.flag-si {background-position: -25px -180px}
.geot-flag.flag-sk {background-position: -50px -180px}
.geot-flag.flag-sl {background-position: -75px -180px}
.geot-flag.flag-sm {background-position: -100px -180px}
.geot-flag.flag-sn {background-position: -125px -180px}
.geot-flag.flag-so {background-position: -150px -180px}
.geot-flag.flag-sr {background-position: -175px -180px}
.geot-flag.flag-st {background-position: -200px -180px}
.geot-flag.flag-sv {background-position: -225px -180px}
.geot-flag.flag-sy {background-position: -250px -180px}
.geot-flag.flag-sz {background-position: -275px -180px}
.geot-flag.flag-tc {background-position: -300px -180px}
.geot-flag.flag-td {background-position: -325px -180px}
.geot-flag.flag-tf {background-position: -350px -180px}
.geot-flag.flag-tg {background-position: -375px -180px}
.geot-flag.flag-th {background-position: 0 -195px}
.geot-flag.flag-tj {background-position: -25px -195px}
.geot-flag.flag-tk {background-position: -50px -195px}
.geot-flag.flag-tl {background-position: -75px -195px}
.geot-flag.flag-tm {background-position: -100px -195px}
.geot-flag.flag-tn {background-position: -125px -195px}
.geot-flag.flag-to {background-position: -150px -195px}
.geot-flag.flag-tr {background-position: -175px -195px}
.geot-flag.flag-tt {background-position: -200px -195px}
.geot-flag.flag-tv {background-position: -225px -195px}
.geot-flag.flag-tw {background-position: -250px -195px}
.geot-flag.flag-tz {background-position: -275px -195px}
.geot-flag.flag-ua {background-position: -300px -195px}
.geot-flag.flag-ug {background-position: -325px -195px}
.geot-flag.flag-um {background-position: -350px -195px}
.geot-flag.flag-us {background-position: -375px -195px}
.geot-flag.flag-uy {background-position: 0 -210px}
.geot-flag.flag-uz {background-position: -25px -210px}
.geot-flag.flag-va {background-position: -50px -210px}
.geot-flag.flag-vc {background-position: -75px -210px}
.geot-flag.flag-ve {background-position: -100px -210px}
.geot-flag.flag-vg {background-position: -125px -210px}
.geot-flag.flag-vi {background-position: -150px -210px}
.geot-flag.flag-vn {background-position: -175px -210px}
.geot-flag.flag-vu {background-position: -200px -210px}
.geot-flag.flag-wf {background-position: -225px -210px}
.geot-flag.flag-ws {background-position: -250px -210px}
.geot-flag.flag-ye {background-position: -275px -210px}
.geot-flag.flag-yt {background-position: -300px -210px}
.geot-flag.flag-za {background-position: -325px -210px}
.geot-flag.flag-zm {background-position: -350px -210px}
.geot-flag.flag-zw {background-position: -375px -210px}

.geot_dropdown_container {  position:relative;}
.geot_dropdown_container .geotdd-select{  position:relative; cursor:pointer;padding: 10px;padding-right: 30px;}
.geot_dropdown_container .geotdd-desc {  display:block; overflow: hidden; }
.geot_dropdown_container .geotdd-selected{ overflow:hidden; display:block; font-weight:bold;width: 100%;}
.geot_dropdown_container .geotdd-pointer{ width:0; height:0; position:absolute; right:10px; top:50%; margin-top:-3px;}
.geot_dropdown_container .geotdd-pointer-down{ border:solid 5px transparent; border-top:solid 5px #000; }
.geot_dropdown_container .geotdd-pointer-up{border:solid 5px transparent !important; border-bottom:solid 5px #000 !important; margin-top:-8px;}
.geot_dropdown_container .geotdd-options{ border:solid 1px #ccc; border-top:none; list-style:none; box-shadow:0px 1px 5px #ddd; display:none; position:absolute; z-index:2000; margin:0; padding:0;background:#fff; overflow:auto;right: 0;}
.geot_dropdown_container .geotdd-option{  display:block; overflow:hidden; text-decoration:none; color:#333; cursor:pointer;-webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out; }
.geot_dropdown_container .geotdd-options li {
	float: left !important;
	border: none !important;
	border-bottom:solid 1px #ddd;
	width: 25%;
	display: inline-block;
	padding: 0 !important;
	margin: 0 !important;
}
.geot_dropdown_container .geotdd-options li a{
	font-size: 13px;
	line-height: 14px;
	padding: 6px !Important;
	margin: 0 !important;
	min-height: 42px;
}	
.geot_dropdown_container ul.geotdd-options li a:hover {
	background: none;
}	
.geot_dropdown_container ul.geotdd-options li:hover a {
	background: #dedede;
}
.geot_dropdown_container .geotdd-options > li:last-child > .geotdd-option{ border-bottom:none;}
.geot_dropdown_container .geotdd-option:hover{ background:#f3f3f3; color:#000;}
.geot_dropdown_container .geotdd-selected-description-truncated { text-overflow: ellipsis; white-space:nowrap; }
.geot_dropdown_container .geotdd-option-image, .geotdd-selected-image { vertical-align:middle; float:left; margin-right:5px; max-width:64px;}
.geot_dropdown_container .geotdd-image-right { float:right; margin-right:15px; margin-left:5px;}
.geot_dropdown_container .geotdd-option span.geot-flag{
	margin-top: 0;
}
.geot-ajax.geot-filter{
	display: none;
}
/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.5.1
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2016 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.chosen-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	width: 100%;
	border: 1px solid #aaa;
	border-top: 0;
	background: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
	left: 0;
}
.chosen-container a {
	cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
	margin-right: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: normal;
	color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
	content: ":";
	padding-left: 2px;
	vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 25px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
	background: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: -moz-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-clip: padding-box;
	box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
}
.chosen-container-single .chosen-default {
	color: #999;
}
.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
	margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
	position: absolute;
	top: 6px;
	right: 26px;
	display: block;
	width: 12px;
	height: 12px;
	background: url('chosen-sprite.png') -42px 1px no-repeat;
	font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
	background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
	background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 18px;
	height: 100%;
}
.chosen-container-single .chosen-single div b {
	display: block;
	width: 100%;
	height: 100%;
	background: url('chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border: 1px solid #aaa;
	background: white url('chosen-sprite.png') no-repeat 100% -20px;
	background: url('chosen-sprite.png') no-repeat 100% -20px;
	font-size: 1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.chosen-container-single .chosen-drop {
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
	color: #444;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
	display: none;
	margin: 0;
	padding: 5px 6px;
	list-style: none;
	line-height: 15px;
	word-wrap: break-word;
	-webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}
.chosen-container .chosen-results li.highlighted {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}
.chosen-container .chosen-results li.no-results {
	color: #777;
	display: list-item;
	background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}
.chosen-container .chosen-results li.group-option {
	padding-left: 15px;
}
.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0 5px;
	width: 100%;
	height: auto !important;
	height: 1%;
	border: 1px solid #aaa;
	background-color: #fff;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
	cursor: text;
}
.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 1px 0;
	padding: 0;
	height: 25px;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	box-shadow: none;
	color: #999;
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 5px 3px 0;
	padding: 3px 20px 3px 5px;
	border: 1px solid #aaa;
	max-width: 100%;
	border-radius: 3px;
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-size: 100% 19px;
	background-repeat: repeat-x;
	background-clip: padding-box;
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	line-height: 13px;
	cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
	word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	background: url('chosen-sprite.png') -42px 1px no-repeat;
	font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
	background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
	background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
	margin: 0;
	padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #aaa;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
	background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
	box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
	color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
	opacity: 0.5 !important;
	cursor: default;
}
.chosen-disabled .chosen-single {
	cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
	text-align: right;
}
.chosen-rtl .chosen-single {
	overflow: visible;
	padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
	margin-right: 0;
	margin-left: 26px;
	direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
	margin-left: 38px;
}
.chosen-rtl .chosen-single div {
	right: auto;
	left: 3px;
}
.chosen-rtl .chosen-single abbr {
	right: auto;
	left: 26px;
}
.chosen-rtl .chosen-choices li {
	float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
	direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
	right: auto;
	left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
	left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
	padding-right: 15px;
	padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
	border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
	padding: 4px 5px 4px 20px;
	background: white url('chosen-sprite.png') no-repeat -30px -20px;
	background: url('chosen-sprite.png') no-repeat -30px -20px;
	direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
	background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
	background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
	.chosen-rtl .chosen-search input[type="text"],
	.chosen-container-single .chosen-single abbr,
	.chosen-container-single .chosen-single div b,
	.chosen-container-single .chosen-search input[type="text"],
	.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
	.chosen-container .chosen-results-scroll-down span,
	.chosen-container .chosen-results-scroll-up span {
		background-image: url('chosen-sprite@2x.png') !important;
		background-size: 52px 37px !important;
		background-repeat: no-repeat !important;
	}
}

