/*
Theme Name: Indio Casino
Author: Web2Web
Author URI: http://www.web2web.co.za
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: indiocasino
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Indio Casino is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200);


html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #474f51;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 18px;
	line-height: 1.85em;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 300;
}

p {
	margin: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
}

ul {
	list-style: disc;     
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	/*font-size: 0.75rem;
	line-height: 1;*/
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: rgb(253, 140, 6);
}

a:visited {
	color: rgb(253, 140, 6);
}

a:hover,
a:focus,
a:active {
	color: #384043;
;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	display: block;
	width: 100%;
	background: #000;
	padding: 3px 0;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
    float: left;
    position: relative;
    padding-right: 3px;
    text-align: center;
}

.main-navigation li::before {
    content: "|";
    top: 0px;
    position: absolute;
    color: #fff;
    right: -2px;
}

.main-navigation li:last-child::before {
    content: "";
}

.main-navigation a {
    display: block;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
	color: #fff;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.9em;
	left: -999em;
	z-index: 99999;
	background: #d0d5d9;
	color: #000;
}

.main-navigation ul ul  a{
	color: #000;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	color: rgb(253, 140, 6);
}


.main-navigation a:hover{
	color: rgb(253, 140, 6);
}

.languagesheaderbar {
    float: right;
}

#geot_dropdown_chosen {
    width: 110px !important;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 769px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: table;
		margin: 0 auto;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


#jackpot {
    height: 190px;
    width: 100%;
    max-width: 191px;
    margin: 0px auto;
	margin-top: 30px;
}

#jackpot_home {
    max-width: 170px;
    width: 100%;
    height: 190px;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*** Custom Styling ***/

#masthead .container {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.19);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.36);
}

.home #masthead .container {
    margin-top: 20px;
    margin-bottom: 0px;
}

.home #masthead {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: url(images/header-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	border-bottom: solid 4px #000;
}

#masthead {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: url(images/inner-page-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    overflow: hidden;
    width: 100%;
    max-width: 181px;
    margin: 0px 0px -65px 30px;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.language-bar {
    overflow: hidden;
    width: 100%;
    background: url(images/language-bg.jpg);
	color: #fff;
}


.language-bar ul {
	padding: 5px 0 !important;
	margin-right: 105px !important;
}

.language-bar ul li {
    display: inline-block;
    margin-right: 15px;
}

.head-ribbon {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(images/girls.png);
    background-repeat: no-repeat;
    background-position: 100% -55px;
    z-index: 999 !important;
}

.head-ribbon #black-studio-tinymce-11 img {
    margin: 95px 0 60px;
}

.head-ribbon {
	display: none;
}

.home .head-ribbon {
	display: block;
}

.home .the-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #353D40 url('images/bg05.jpg');

}

.the-content {
    margin-top: 50px;
}

#content {
    background: #d4d9dd url(images/bg03.jpg);
    width: 100%;
    overflow: hidden;
}

.home .content-inner {
    background: #fff;
    margin: 70px auto;
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
	float: none;
}

.content-inner h2, .widget-title {
    font-size: 1.8em;
    color: #373f42;
    margin: 0 0 0.25em 0;
}

.widget-title {
	color: #fff;
}

.home .content-inner p {
    margin: 0 0 2em 0;
}

.content-inner p {
    margin: 0 0 1em 0;
}

.home-page-top-links {
    overflow: hidden;
    width: 100%;
    background: #d4d9dd url(images/bg03.jpg);
	border-bottom: #3c4448 solid 8px;
}

.home-custom, .footer-custom, .language-bar ul, .language-bar .widget, .footer-links ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.home-custom li {
    width: 100%;
    max-width: 24%;
    float: left;
    list-style: none;
    margin-right: 10px;
}

.home-custom li:nth-child(1) {
    max-width: 23%;
}

.home-custom li:last-child {
	margin-right: 0;
}

.home-custom li:nth-child(1) h3 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0;
    color: rgb(253, 140, 6);
}

.home-custom li p {
    line-height: 25px;
    margin: 10px 0 0;
}

.home-custom li a {
    text-decoration: none;
}

.content-inner {
    background: #fff;
    overflow: hidden;
    float: right;
    width: 100%;
    max-width: 74%;
    padding: 20px;
	margin-bottom: 2%;
}

#secondary {
    float: left;
    width: 100%;
    max-width: 25%;
    background: url(images/language-bg.jpg);
	padding-top: 20px;
    padding-right: 40px;
}

#secondary ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 20px;
}

#secondary ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

#secondary ul li a:hover {
	text-decoration: none;
	color: rgb(253, 140, 6);
}

.panel-title {
    text-align: right;
}

.panel-default > .panel-heading {
	background-color: transparent;
	border-color: transparent;
}

.panel-body {
    background: #cddcd5;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group {
    margin-bottom: 0px;
}

.panel-default {
	border-color: transparent;
}

.panel {
	box-shadow: none;
}

.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: rgb(253, 140, 6);
}

.ninjah {
    background: #6a9982;
	color: #fff;
}

.ninjah td {
    padding: 20px;
    text-align: center;
    background: none;
    border-bottom: 1px solid #000;
}

.tg-031e {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid;
    background: #cddcd5;
}

.tg {
    border: 1px solid;
}

.other-story img {
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
	
}

.other-story img:hover {
    opacity: 0.5;
}

.other-story:first-child {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    max-width: 100%;
    margin-right: 0%;
	margin-bottom: 2%;
}

.other-story:first-child  .other-story-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.other-story:first-child .other-story-header img {
    max-width: 100%;
    position: relative;
    height: auto;
    width: 100%;
}

.other-story:first-child .other-story-content {
    background: no-repeat;
    margin: -88px 0 0;
    position: relative;
    text-align: center;
    color: #fff;
}

.other-story:first-child .other-story-content h2 .post-heading {
    color: #fff !important;
    font-size: 35px !important;
    font-style: italic;
    text-shadow: 2px 2px #000;
}

.other-story:first-child .blog-content {
    display: none;
}

.other-story {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    max-width: 47%;
    margin-right: 2%;
	margin-bottom: 2%;
}

.blog-content {
    line-height: 1.3em;
}

.read-more {
    display: block;
    margin-top: 15px;
    text-decoration: underline;
}

.post-heading {
    font-size: 25px;
    color: #384043 !important;
    font-weight: 400;
    text-decoration: none;
}

.other-story-content {
    overflow: hidden;
    background: #f8f8f8;
    padding: 0 8px 30px;
	margin: -9px 0 0;
}

.other-story-content h2 {
    margin: 10px 0px;
}

.stories-container .navigation {
    text-align: center;
}

.page-numbers.current {
    background: #fd8c06;
    color: #fff;
    font-weight: 800;
    border-radius: 100%;
    width: 32px;
    display: inline-block;
}

.page-numbers.current:hover {
	color: #384043 !important;
}

.page-numbers {
	background: #c4c3c2;
    color: #fff !important;
    font-weight: 800;
    border-radius: 100%;
    width: 32px;
    display: inline-block;
	text-decoration: none;
}

.page-numbers:hover {
	text-decoration: none;
	color: #fd8c06 !important;
}
.next.page-numbers, .prev.page-numbers {
	background: none;
	color: #c4c3c2 !important;
	text-decoration: none;
}

.next.page-numbers::after {content: "\f0da";font-family: FontAwesome;top: -2px;position: relative;}
.prev.page-numbers::before {content: "\f0d9";font-family: FontAwesome;top: -2px;position: relative;}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}

.wpcmsdev-toggle .toggle-content {
    background: #cddcd5;
}

.wpcmsdev-toggle {
    border: 0px !important;
    border-radius: 0 !important;
    margin-left: 0 !important;
	margin-right: 0 !important;
    margin-bottom: 0 !important;
	margin-top: -20px !important;
    background-color: transparent !important;
	padding-bottom: 20px;
	
}


.wpcmsdev-toggle .toggle-title a {
    padding: 5px 0 !important;
    background-color: transparent !important;
    color: rgb(83, 89, 92);
	line-height: 1;
	background-image: none !important;
}

.wpcmsdev-toggle .toggle-title .fa, .wpcmsdev-toggle .toggle-title a.active .icon-for-active {
    display: none !important;
}

.wpcmsdev-toggle.in h3 a {
    text-align: right;
}

.CollapsiblePanel {
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #384241;
	background-color: #f4f4f4;
}

.CollapsiblePanelTab {
    font: bold 0.7em sans-serif;
    background-color: #cddcd5;
    border-bottom: solid 1px #384241;
    border-right: solid 1px #384241;
    border-left: solid 1px #384241;
    margin: 0px 0px 4px 0px;
    padding: 2px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.CollapsiblePanelContent {
    padding: 0px 30px 0px 20px;
}

.tdheader {
    border: none;
}

.table {
    margin: 0;
}

.wpcmsdev-tabs .tab {
	overflow: hidden;
}

.game-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#game_wrapper {
    background: #fff;
    max-width: 251px;
    padding: 11px 0px 0px 8px;
    float: left;
    margin: 0px 0 30px 30px;
    width: 100%;
    font-size: 15px;
	box-shadow: 0px 4px 4px RGBA(0, 0, 0, 0.25);
}

.page-id-8 #game_wrapper {
    margin: 0px 0 13px 13px;
}

#game_wrapper img {
    overflow: hidden;
    width: 100%;
    max-width: 174px;
    float: left;
}

#game_wrapper .button {
    float: right;
    width: 57px;
    margin-top: -120px;
    overflow: hidden;
    position: relative;
	margin-right: 6px;
}

#game_wrapper p {
    overflow: hidden;
	margin: 0;
}

#game_wrapper p {
    text-align: center;
}

.wpcmsdev-tabs .tab {
    background: #d4d9dd url(images/bg03.jpg);
}

.tg-yw4l {
    padding: 5px;
    line-height: 1.5em;
}

.tg-yw4l a {
	text-decoration: none;
}

.wpcmsdev-tabs .headings {
	background: #000;
}

.wpcmsdev-tabs .headings a {
    background-color: transparent !important;
    background-image: none !important;
    border: 0px !important;
    color: #fff;
    width: 25%;
    text-align: center;
}

.wpcmsdev-tabs .headings a.active {
    font-weight: bold;
    color: #333;
    background: url(images/active.png) !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: 0px 20px !important;
    margin-top: -9.3px !important;
    padding-top: 19px !important;
}

.page-id-8 .wpcmsdev-tabs .headings a.active {
    background-position: 0px 20px !important; 
} 

.row ul li {
    list-style: none;
}

.page-id-6 .toggle-title a {
    color: rgb(253, 140, 6) !important;
}

.page-id-8 #tab-new-games {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-id-313 ol li {
    margin-bottom: 1em;
}

.page-id-313 ol li li {
    margin-bottom: 0;
}

.page-id-323 #post-323 a {
    color: #333;
    text-decoration: none;
}




#colophon {
    overflow: hidden;
    width: 100%;
    background: #D4D9DD url('images/bg03.jpg');
    color: #8d9ca3;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}

.home .footer-links {
	display: none;
}

.footer-links {
    overflow: hidden;
    width: 100%;
    background: #353D40 url('images/bg05.jpg');
    border-top: #3c4448 solid 8px;
    padding: 25px 0;
}

.footer-links ul {
    margin: 0 auto;
    display: table;
    width: 100%;
    max-width: 95%;
}

.footer-links ul li {
    display: inline-block;
    width: 100%;
    max-width: 33%;
    background: url(images/list-bg.png);
    background-repeat: no-repeat;
    padding: 5px 0px 35px 50px;
    color: #333;
	position: relative;
}

.footer-links ul li:nth-child(1) {
    background: url(images/list-bg1.png);
	background-repeat: no-repeat;
	padding: 5px 0px 35px 65px;
}

.footer-links ul li:nth-child(2) {
    background: url(images/list-bg2.png);
	background-repeat: no-repeat;
	padding: 5px 0px 35px 65px;
}

.footer-links ul li:nth-child(3) {
    background: url(images/list-bg3.png);
	background-repeat: no-repeat;
	padding: 5px 0px 35px 65px;
}

.footer-links ul li::after {
    content: "";
    background-image: url(images/list-after.png);
    background-size: 25px;
    width: 27px;
    height: 45px;
    position: absolute;
    background-repeat: no-repeat;
    right: 53px;
    top: 34px;
}

.footer-links ul li h2 {
    margin: 15px 0 0;
    font-weight: 800;
    font-size: 35px;
}

.footer-links ul li h2 a, .footer-links ul li a {
	color: #333 !important;
}

.footer-links ul li p {
    font-size: 20px;
    text-shadow: none;
    font-weight: 400;
}

#colophon .container {
    padding-top: 40px;
}

#colophon a {
    color: #8d9ca3;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	text-decoration: none;
}




/*** Media Queries ***/

@media screen and (max-width: 1024px) {
#logo {
    max-width: 150px;
    margin: 0px 0px -38px 30px;
}

#game_wrapper {
    margin: 0px 0 30px 100px;
}


.footer-links ul {
    max-width: 320px;
}

.footer-links ul li {
    max-width: 322px;
}

.footer-links ul li::after {
    display: none;
}
}

@media screen and (max-width: 800px) {
	
.content-inner {
    float: none;
    max-width: 100%;
}

#secondary {
    float: none;
    max-width: 100%;
    margin-right: 0;
	text-align: center;
}

#game_wrapper {
    margin: 0px 0 30px 45px;
}

}

@media screen and (max-width: 768px) {
.menu-toggle {
    text-align: center;
    margin: 0 auto;
}

.wpcmsdev-tabs .headings a {
	width: 100%;
}

.wpcmsdev-tabs .headings a.active {
    background: #d0d5d9 !important;
	border-radius: 0px !important;
	margin: 0px auto;
}
#jackpot_home {
    height: 170px;
    margin-left: 25px;
}

.container1 {
	margin: 0px auto;
	width: 100%;
	max-width: 280px
}

.main-navigation li {
    float: none;
    text-align: center;
}

.main-navigation {
    padding: 5px 0;
}

.home-custom {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    text-align: center;
}

.home-custom li, .home-custom li:nth-child(1) {
    max-width: 45%;
}

.main-navigation li::before {
    content: "|";
    top: 0px;
    position: absolute;
    color: #000;
    right: -2px;
}

#logo {
    margin: 0 auto;
}


#game_wrapper {
    margin: 0px 0 30px 45px;
}
	
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape){
	#game_wrapper {
    margin: 0px 0 30px 20px;
}
}

@media screen and (max-width: 480px) {
#masthead .container, .home #masthead .container {
    margin-top: 35px;
}
.head-ribbon #black-studio-tinymce-11 {
    margin-bottom: 30px;
}

#jackpot_home {
    height: 190px;
    margin: 0px auto;
}

#game_wrapper {
    margin: 0px 0 30px 45px;
}
.home-custom li, .home-custom li:nth-child(1) {
    max-width: 100%;
}

.relatedposts {
    max-width: 100% !important;
    padding: 0px !important;
	margin-left: -15px !important;

}

td {
    width: 100%;
    float: left;
}

tr {
    border-bottom: solid 3px #474f51;
}

.page-id-14 tr {
    border-bottom: none;
}

.page-id-14 td {
    width: 100%;
    float: none;
    text-align: center;
    display: block;
    padding: 1px;
}

.page-id-435 td {
    padding: 5px;
}

.wpcmsdev-toggle .toggle-title {
    padding-bottom: 15px;
}

#game_wrapper {
    margin: 0px 0 30px 10px;
}

}


@media screen and (max-width: 360px) {
.other-story {
    max-width: 100%;
    margin-right: 0;
}

.language-bar ul li {
    margin-right: 0px;
}

.language-bar ul {
max-width: 240px;
}

}


@media screen and (max-width: 320px) {
	.page-id-14 td {
	padding-left: 50px;
padding-right: 50px;
}

}

.dividerblog {
    margin: 0px auto;
    width: 359px;
}



.wp-post-image {
    width: 98%;
}


.attachment-related-posts.size-related-posts.wp-post-image {
    min-height: 232px;
	box-shadow: 5px 5px 10px #000;
}


.relatedposts {
    float: left;
    max-width: 50%;
    padding: 10px;
    margin: 0px auto;
    width: 100%;
    list-style: none !important;
}


.relatedposts a {
font-size: 1.4em;
color: #373f42;
text-decoration: none; 

}

.innerlists {
    margin-left: -40px;
    padding-bottom: 20px;
}

li.innerlists {
    list-style: disc !important;
}

#secondary p {
    color: #fff;
	line-height: 2.5em;
font-size: 20px;
font-weight: 400;
padding-left: 40px;

}

.chatbaricon{
	margin: -33px -90px 0px; position: absolute; z-index: 3000;
}

.attachment-large.size-large.wp-post-image {
    box-shadow: 0px 5px 10px #000;
}

.page-id-609 .toggle-title a {
    color: rgb(253, 140, 6) !important;
}


.chosen-search {
    display: none !important;
}

.chosen-container-single .chosen-single {
    font-size: 20px !important;
    width: 65px !important;
    margin: 0px 30px 0px 2px !important;
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
	border-radius: 0px !important;
	background: #000 !important;
	color: #fff; !important;
	border: 1px solid #fff;
	height: 30px;
}

.chosen-container .chosen-results {
    background: #000;
    color: #fff !important;
	width: 65px !important;
}


.chosen-results {
    font-size: 20px !important;
    width: 105px !important;
    margin: 0px 30px 0px 2px !important;
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    width: 105px !important;
	border-radius: 0px !important;
	background: #000 !important;
	color: #fff; !important;
	border: 1px solid #fff !important;
}

.geot_dropdown_container {
    position: absolute !important;
    overflow: visible;
}

.chosen-container .chosen-drop {
    background: none !important;
	border: none !important;
}

#masthead {
overflow: visible !important;
}


/*start games tabs*/
.page-id-720 #tab-new-games {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-id-720 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-720 .wpcmsdev-tabs .headings a.active {
    background-position: 0px 20px !important; 
} 


.page-id-726 #tab-new-games {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-id-726 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-726 .wpcmsdev-tabs .headings a.active {
    background-position: 0px 20px !important; 
} 

.page-id-745 #tab-new-games {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-id-745 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-745 .wpcmsdev-tabs .headings a.active {
    background-position: 0px 20px !important; 
} 

.page-id-701 #tab-new-games {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-id-701 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-701 .wpcmsdev-tabs .headings a.active {
    background-position: 0px 20px !important; 
} 
/*end games tabs*/

/*start hide home banner in view*/
@media screen and (max-width: 400px) {
  .mobilebanner {
    display:block !important;
}
   .desktopbanner {
    display:none !important;
}
}

@media screen and (min-width: 400px) {
  .mobilebanner {
    display:none ;
}
   .desktopbanner {
    display:block ;
}
}
/*end hide home banner in view*/

.menu-toggle::before {
    content: '\f0c9';
    font-family: FontAwesome;
    margin-right: 3px;
}


/*Game Page Tabs*/
.page-id-1013 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1006 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1009 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1019 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1015 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1138 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1134 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1109 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1130 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1132 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1136 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1235 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1882 #game_wrapper {
    margin: 0px 0 13px 13px;
}

.page-id-1885 #game_wrapper {
    margin: 0px 0 13px 13px;
}