body { margin:0; padding:0 }
body { line-height:20px; }
body, input, select, button, textarea, #login { color:#7d7d7d; text-shadow:#fff 0 1px 0; font:13px 'Trebuchet MS',Helvetica,Tahoma,Verdana; }
select { text-shadow:none }
img { border:0 }
h1, h2, h3, h4, h5 { font-weight:normal; margin:0; padding:0; color:#000; font-family:'Myriad Pro', Trebuchet MS, Helvetica, sans-serif; }
h1 { text-shadow:#ccd4dd 0 1px 2px; }
h1, h2 { color:#2161ad; }
b { color:#585858; }
a, .a { color:#3788e8; text-decoration:none }
#head, h1 small, h2 small { font:12px 'Trebuchet MS'; }
#head a { text-decoration:none }
#content a:hover, .a:hover { cursor:pointer; text-decoration:underline }
em { color:#b82626; font-style:normal }
th { text-align:left }
small, .small { font-size:11px; line-height:18px }

button { cursor:pointer; overflow:visible; padding:0 3px; }
button.code { float:none; position:absolute; z-index:10; left:50%; margin:15px 0 0 -42px; }

.cb { clear:both }
.cB { color:#3788E8; }
.cR { color:#b82626; }
.cG { color:#6da31d; }
.cY { color:#ccc000; }
.cL { color:#b7b7b7; }
.cD { color:#777; }
.cW { color:#fff; }
.cS { color:#000; }
.cP { color:#6a2bc2;}

.aM { vertical-align:middle }
.aT { vertical-align:top }
.aB { vertical-align:bottom }
.aC { text-align:center }
.aL { text-align:left }
.aR { text-align:right }

.marker { background:#ffa; font-weight:bold; color:#4f4200; padding:0 2px; box-shadow:1px 0 2px #ff8,-1px 0 2px #ff8 }

input[type=text], input[type=password] { margin:3px 5px 3px 0; display:block; float:left; width:225px; height:31px; line-height:31px; padding:1px 13px 0 13px; color:#c5c5c5; border:none;
 text-align:center; background:url(../img/layout.png) -299px -96px; text-shadow:#eee 1px 1px 1px }
input:hover, input:active, input:focus { color:#666; }
input:focus { color:#000; background-position:-299px -135px; }
input.error { color:#c5c5c5; background-position:-299px -174px; }
body input.input-error { border-color: #a00; color:#a00; background-position:-299px -174px; }
body input.input-error:focus, body input.input-error:active, body input.input-error:hover { border-color: #a00; color:#a00; background-position:-299px -174px; }
input.plain, button.plain { margin:0; padding:0; width:auto; border:none; color:#7d7d7d; text-shadow:#fff 0 1px 0; background:transparent; line-height:inherit; }
input[type=text], input[type=password], textarea { outline:none }
/*
button { outline:none; margin:3px 5px 3px 0; outline:none; display:block; float:left; width:84px; height:27px; padding:1px 0 1px 0; color:#000; border:none;
 color:#fff; text-shadow:#1b589b 0 -1px 0; background:url(../img/layout.png) -198px -96px }
button:hover, .editor_ok_button:hover { border:none; outline:none; color:#d1e7f9; text-shadow:#1b589b 0px 1px 1px; background-position:-198px -128px; }
button:active, button:focus, .editor_ok_button:focus { color:#fff; text-shadow:#235fe3 0 -1px 1px, #fff 0 0 2px, #fff 0 0 4px; background-position:-198px -160px; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { border:none; }
button.medium { padding:1px 10px 4px; font-size:18px; width:126px; height:40px; background-position:-1033px -214px; }
button.medium:hover { padding:0 10px 5px }
button.big { padding:7px 12px 8px; font-size:23px; width:157px; height:48px; background:url(../img/layout.png) -1035px -164px }
button.big:focus, button.medium.active { cursor:default; color:#fff; text-shadow:#235fe3 0 -1px 1px, #fff 0 0 2px, #fff 0 0 4px; }
*/
button, .rbtn {float:left;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background-color: #F5F5F5;background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);background-image: linear-gradient(top,#F5F5F5,#F1F1F1);border: 1px solid #DCDCDC;color: #444;cursor: default;font-size: 11px;font-weight: bold;line-height: 27px;list-style: none;margin: 0 2px;min-width: 30px;outline: none;padding: 0 7px 0 6px;text-align: center;text-decoration: none;vertical-align: middle;cursor:pointer;}
button:hover, .rbtn {background-color:#f8f8f8;background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-moz-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-ms-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);background-image:linear-gradient(top,#f8f8f8,#f1f1f1);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.1);-moz-box-shadow:0 1px 1px rgba(0,0,0,.1);box-shadow:0 1px 1px rgba(0,0,0,.1);border-color:#c6c6c6;color:#333}
button.medium { width:126px; height:40px;font-size:18px; }
button.big { width:157px; height:48px; font-size:23px; }

.btnSelected {-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background-color: #F5F5F5;background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);background-image: linear-gradient(top,#F5F5F5,#F1F1F1);border: 1px solid #3788e8;color: #3788e8;font-size: 11px;font-weight: bold;line-height: 27px;list-style: none;margin: 0 2px;min-width: 30px;outline: none;padding: 0 7px 0 6px;text-align: center;text-decoration: none;vertical-align: middle;display:inline-block;}

.plain input, .plain textarea, .plain select, input.plain, input.plain:hover { box-shadow:none; float:none; margin:0; background:none; border:1px solid transparent;
 width:225px; padding:3px 2px; height:auto; }

.inputbig { position:relative; }
.inputbig>form { position:relative; display:block; margin:0 auto 0 200px; width:581px; height:62px; background:url(../img/layout.png) -569px -95px; }
.inputbig>form input { position:absolute; width:411px; height:45px; padding:1px 15px 0 15px; font-size:23px; background:transparent; }
/*.inputbig>form button.big { text-shadow:0 -1px 0 #3777d0; z-index:999; position:absolute; top:-1px; right:-12px; border-radius:15px;
 box-shadow:#d8e9fb 0 -2px 2px inset,#b6c4ca 0px 1px 2px;}*/
.inputbig>form button.big { z-index:999; position:absolute; top:2px; right:-2px;-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;}
.inputbig>form .sIcon { width:26px; height:25px; position:absolute; right:17px; top:14px; background:url(../img/layout.png) -1164px -216px }
.inputbig>form .sIcon .arr { z-index:20; width:15px; height:10px; position:absolute; top:50%; left:50%; margin:-3px 0 0 -8px; background:url(../img/layout.png) -1169px -252px }
.inputbig>form .sIcon .arr.down { margin-top:-5px; background-position:-1169px -242px }
.inputbig>form .select { z-index:10; position:absolute; top:39px; left:0; right:0; }
.inputbig>form .select .options { overflow:hidden; padding:12px 10px 0; background:url(../img/e/sbg.png); }
.inputbig>form .select .options .border { background:#eee; border:1px solid #fff; border-right:none; border-left:none }
.inputbig>form .select .options>div.opt { margin:0 0; padding:6px 8px; border-radius:15px }
.inputbig>form .select .options big { color:#555; font-size:19px; line-height:22px; letter-spacing:0px; display:block; }
.inputbig>form .select .options span { color:#B7B7B7; }
.inputbig>form .select .options div.icon, #category .input .icon { float:left; width:50px; height:40px; background:url(../img/e/help.png) 4px 8px; }
#category .input .icon { margin:-10px -5px 0 -3px; } #category .input big { color:#3788E8; }
.inputbig>form .select .options div.opt:hover { cursor:help; color:#fff; background:#3788E8; }
.inputbig>form .select .options div:hover big, .inputbig>form .select .options div:hover span { color:#fff; text-shadow:0 1px 0px #2a75ce }
.inputbig>form .select .foot { width:100%; height:24px; margin:0; background:url(../img/layout.png) -569px -132px; }
.inputbig .help { position:absolute; left:-70px; top:-18px; min-width:50px; height:48px; background:url(../img/layout.png) -561px -162px; }
.inputbig .help .text { margin:-14px 0 0 25px; width:340px; height:16px; }
.inputbig small { display:block; margin-top:10px; text-align:center; }

ul li { list-style-type:none; margin:0; padding:0; }
ul { margin:0; padding:0; }

#logo { display:block; position:absolute; top:20px; margin-left:-25px }

body>.bga { background:#e5e5e5 url(../img/e/center.gif) repeat-x; overflow:hidden; }
#content { position:relative; padding:35px 0 20px 0; }
.center { position:relative; margin:0 auto; width:960px; }

.hide { visibility:hidden }
.box { position:relative; border:1px solid #eee; border-right-color:#ccc; border-bottom-color:#ccc; background:#fefefe url(../img/e/box.png) repeat-x 0  bottom;
 text-shadow:#ddd 0 1px 1px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; box-shadow:0 -1px 3px #f6f6f6 inset }
.shadow { position:absolute; width:100%; height:25px; bottom:-26px; left:0; }
.box.yellow {  }
.lShadow { box-shadow:#aaa 0 1px 2px }
.error { color:#f00; text-shadow:#fff 0 1px 0; border-radius:10px }
.success { line-height:18px; color:#0c0; }
.sum { border-top:3px double #ccc }
.reflect { width:460px; margin:40px -26px 0 26px; height:193px; color:#fff; text-shadow:0 1px 1px #7b0d1a; background:url(../img/e/boxRed.png); padding:18px 0 0 50px; }
.reflect h2 { color:#fff; font-style:italic; letter-spacing:-0.02em; padding-left:35px; font-size:21px; line-height:34px; background:url(../img/e/news.png) 0 9px no-repeat }
.reflect h2.arr { background-position:0 -19px }
.reflect.green { background-image:url(..img/e/boxGreen.png); text-shadow:0 1px 1px #2F6300; }
.message { width:960px; margin:-10px auto 40px; padding:1px; font-size:11px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.message>div .close { opacity:.5; float:right; width:16px; height:16px; margin:1px 0 0 2px; background:url(../img/layout.png) -215px -192px; }
.message>div .close:hover { cursor:pointer; opacity:1 }
.message.yellow>div { padding:4px 5px; background:#fff7d8; }
.message div.icon { float:left; margin:1px 6px 0 2px; width:16px; height:16px; background:url(../img/layout.png) }
.message.yellow div.icon { background-position:-198px -192px }
.message.yellow { color:#a6a291; border:3px solid #fbdf70; background:#edd15e }

#head { position:relative; width:100%; height:96px; margin-bottom:18px; color:#ddd; text-shadow:none; background:#fff url(../img/layout.png); }
#head>div.line { height:100%; width:100%; background:transparent url(../img/layout.png) repeat-x top center; }
#head a, #head .link { cursor:pointer; font-size:12px; color:#fff; text-shadow:#2d6cf5 0 .6px .8px; }
#head a:hover, #head .link:hover { color:#fff; text-shadow:#2a76dd 0 1.5px 1px,0 -5px 15px #cfe3ff; }
#head a:active, #head a:focus, #head .link:active, #head .link:focus { color:#bfdafe; text-shadow:#1d61bc 0 -.6px 1.2px,0 5px 10px #bfdafe; }

#head .navi { z-index:10; position:absolute; right:-15px; padding:10px 104px 0 144px; width:420px; height:32px; background:url(../img/layout.png) 0 -241px; }
#head ul { position:relative; float:right; color:#1c5fc1; }
#head ul li { padding:0; color:#fff; display:inline; }
#head .navi .user { float:left; }
#head .navi #nupload { position:absolute; left:25px; top:5px; width:100px; height:52px; }
#head .navi #nupload:hover { background:url(../img/layout.png) -5px -289px; }
#head .navi #lupload { position:absolute; left:25px; top:5px; width:100px; height:35px; }
#head .navi #lupload:hover { cursor: pointer; }

#head ul.user li { border-right-color:#8ecae9 }
.hshadow { z-index:1; position:absolute; left:50%; margin-left:-490px; width:980px; height:25px; background:url(../img/layout.png) 0 -213px; }

.submenu { position:relative; margin:0 auto 25px auto; padding-left:200px; text-align:center; }
.submenu>h1 { display:inline; margin:0 10px; font-size:17px; color:#888 }
.submenu>h1.active a { font-weight:bold; }
.submenu>div.info { position:absolute; top:0; left:115px; width:218px; height:21px; background:url(../img/e/me.png) 0 -18px; }

#login { z-index:2; position:absolute; margin:5px 0 0 435px;
 border:1px solid #ccc; text-shadow:#fff 0 -1px 0; }
#login form { width:255px; margin:42px 20px 8px; }
#login input { display:block; margin:6px 0; }
#login button { margin-top:6px; }
#login div b { padding-left:10px; font-size:12px; line-height:39px; }
#login div.error { margin:10px 0; text-align:center; font-size:11px }
#login .info { display:block; font-size:11px; margin:10px 0; }

#foot { width:100%; color:#2e63ad; font-size:12px; padding-top:32px; text-shadow:#2f86cf 0 1px 1px;
 background:url(../img/e/footr.png) repeat-x center 5px; }
#foot>div { padding-top:13px; min-height:58px; height:100%; background:url(../img/e/footbg.png) no-repeat center top; }
#foot .footlogo { position:absolute; top:-50px; right:-65px; background:url(../img/e/footlogo.png) 0 0px; width:270px; height:123px; }
#foot>.center { padding:20px 0 0; height:100%; background:url(../img/e/foot.png) repeat-x center -16px; }
#foot a, #foot .a { padding:0 2px; color:#fff; }
#foot a:hover, #foot .a:hover { text-decoration:underline; }
#foot div.right { z-index:9; position:absolute; top:2px; right:105px; font-size:10px; text-transform:uppercase; }
#foot div.lang { position:absolute; bottom:-3px; text-align:center; color:#fff; background:#2d75c4; border:1px solid #1966cc; text-shadow:#124385 0 1px 1px; z-index:1000; }
#foot div.lang div { border-top:1px solid #1966cc; background:#4b8ed8; height:1px; }
#foot div.lang a { display:block; padding:3px 6px 2px; color:#B6D2F8; text-decoration:none }
#foot div.lang a:hover { color:#fff; background:#4b8ed8 }
#foot b { font-weight:normal; color:#b6d2f8; }
#foot .right .icon { display:block; float:right; margin:0 0 0 14px; width:16px; height:16px; padding:0; background:url(../img/layout.png) }
#foot .right .twitter { background-position:-217px -192px }
#foot .right .icon.twitter:hover { background-position:-237px -191px }

.twitter-icon {
    display: block;
    float: right;
    margin: -7px -7px 0 8px;
    width: 26px;
    height: 26px;
    padding: 0 !important;
    background: url(../img/e/twitter_icon.png);
}
.twitter-icon:hover { 
    background-position: left bottom;
}

#start { padding:25px 0 5px 0; }
#start #features { margin:56px 0 10px 0; }
#start #features td { vertical-align:top; padding:0 5px 20px 15px; }
#start #features th.icon { width:15px; background:url(../img/e/start.png) -11px -114px; }
#start #upload #yui { position:absolute; width:100%; height:50px; left:0; background:transparent }

#start .inputbig { padding:50px 0 60px 0; }
.inputbig form .help .text { background:url(../img/e/start.png); }

.border { border-top:1px solid #cfcfcf; height:1px; width:100%; background:#fff; }
.vborder { background:#fff; border-left:1px solid #eee; height:100%; width:1px; }
.box .border { border-top-color:#e3e3e3; }

#us #about { padding:0 0 90px 0; }
#us #about #adress { position:relative; margin-top:5px; float:right; width:500px; height:270px; }
#us #about table td { position:relative; line-height:18px; }
#us #about img.qrcode { margin: 10px 20px; width:70px; height:70px; opacity:.2 }
#us #about table:hover img.qrcode { margin: 0 10px; opacity:1; width:90px; height:90px; }
#us #about h1 { margin-bottom:32px; }
#us #about #maplink { cursor:pointer; position:absolute; width:111px; height:117px; top:73px; left:195px; background:url(../img/e/arrow_max.png) }
#us #about #maplink:hover { background-position:0 122px; }
#us #contact { padding:40px 0 20px 0; }
#us #contact h2 { margin-bottom:18px; }
#us #abuse { padding:18px 25px; width:450px; float:right }

.entry .text .title { text-align:center; margin:45px 0 30px; }
.intext { display:inline; font-size:22px; float:left; margin:35px 26px 15px 12px; }
.intext.right { float:right; margin:35px 12px 15px 26px }
#newslist .entry { float:left; width:430px; cursor:pointer; margin:20px 40px 20px -10px; padding:10px; }
#newslist .entry:hover { background:#f1f1f1 }
#newslist .border { clear:both }
#newslist h2 { margin:0 0 15px 0; color:#aaa; font:13px 'Trebuchet MS',Helvetica,Tahoma,Verdana; }
#newslist .text { line-height:20px; }
#news .entry { padding:0 0 45px 0; }
.title small.date { font:11px/23px 'Trebuchet MS'; color:#b7b7b7 }
.title h1, .title h2 { line-height:30px; font-size:28px; margin:0 0 12px 0 }
.title h1 small, .title h2 small { font-size:17px; }
.title small { color:#000; text-transform:none }
#news .entry div.text { line-height:24px; margin:22px 0 30px 0 }

#headmenu { z-index:1000; position:absolute; top:-27px; left:8px; right:4px; font-size:10px; text-transform:uppercase }
#headmenu li { float:right; margin:0 8px }
#headmenu .a, #headmenu a { color:#aaa; text-shadow:none; padding:0 3px }
#headmenu .a:hover, #headmenu a:hover { background:#eee; color:#666; text-decoration:none; border-radius:5px }
#headmenu .icon { float:left; margin:3px 3px 0 0; width:10px; height:10px; background:url(../img/e/download.png) 0 -155px }
#download #back { z-index:1000; position:absolute; left:0; top:-20px; padding-left:23px; background:url(../img/i/action_back.gif) no-repeat 0 2px }
#download .box { position:relative; padding:12px 22px 54px 22px; }
#download table .feature { font-size:16px; height:38px; }
#download table .feature td { padding-left:20px; }
#download table .feature th { font-weight:normal; text-align:center }
#download table .feature th em { color:#2681df }
#download .box table .check { margin-left:137px; }
#download .box .check.no { margin-left:150px; }
#captcha .recaptchatable .recaptcha_r1_c1, #captcha .recaptchatable .recaptcha_r2_c1,
#captcha .recaptchatable .recaptcha_r2_c2, #captcha .recaptchatable .recaptcha_r3_c1,
#captcha .recaptchatable .recaptcha_r3_c3, #captcha .recaptchatable .recaptcha_r4_c2,
#captcha .recaptchatable .recaptcha_r4_c4, #captcha .recaptchatable .recaptcha_r7_c1,
#captcha .recaptchatable .recaptcha_r8_c1 { background-image:url(../img/e/captcha.png); }
#captcha input { border:none; background:none; height:16px; line-height:16px; }
#download .tfree button { display:block; margin:12px 0 0; vertical-align:top; padding:0 0 0 69px; line-height:22px; width:303px; height:77px; font-size:12px; text-align:left;
 background:url(../img/e/download.png); text-shadow:0 -1px 0 #666; border-radius:0; }
#download .tfree button h1 { margin:-5px 0 0 0; color:#fff; font-size:25px; letter-spacing:-0.04em; text-transform:none; text-shadow:0 -1px .3px #555; }
#download .tfree button {color:#fff;}
#download .tfree button:hover, #download .tfree button:hover h1 { color:#fbfbe3; text-shadow:0 1px 2px #333; }
#download .tfree button.free { border:none;float:right; margin-right:22px;  }
#download .tfree button.prem { border:none;float:right; background-position:0 -77px; }
#download .tfree button.adshare { border:none;float:right; background-position:0 -263px; }
#download .tfree form button.captcha { outline:none; margin-left: 37%; margin-top: 5px; outline:none; display:block; float:left; width:84px; height:27px; padding:1px 0 1px 0; color:#000; border:none;
 color:#fff; text-shadow:#1b589b 0 -1px 0; text-align:center; background:url(../img/layout.png) -198px -96px }
#download .tfree form button.captcha:hover { border:none; outline:none; color:#d1e7f9; text-shadow:#1b589b 0px 1px 1px; background-position:-198px -128px; }

#download .tfree button.captcha { outline:none; margin-left: 37%; margin-top: 5px; outline:none; display:block; float:left; width:84px; height:27px; padding:1px 0 1px 0; color:#000; border:none;
 color:#fff; text-shadow:#1b589b 0 -1px 0; text-align:center; background:url(../img/layout.png) -198px -96px }
#download .tfree button.captcha:hover { border:none; outline:none; color:#d1e7f9; text-shadow:#1b589b 0px 1px 1px; background-position:-198px -128px; }

#fasterspeed { outline:none; margin-left: 37%; cursor: pointer; margin-top: 5px; outline:none; display:block; float:left; width:84px; height:24px; padding:7px 0 0 0; color:#000; border:none;
    color:#fff; text-shadow:#1b589b 0 -1px 0; text-align:center; background:url(../img/layout.png) -198px -96px }
#fasterspeed:hover { border:none; outline:none; color:#d1e7f9; text-shadow:#1b589b 0px 1px 1px; background-position:-198px -128px; text-decoration: none;}

#folderc table { border:none; width:auto; margin:10px auto 0; }
#folderc table thead tr, #folderc table tfoot tr { height:10px; }
#folderc table tr { height:55px; }
#folderc table tr .rem { display:none; float:right; padding-left:7px; }
#folderc table tr:hover .rem { display:block;  }
#folderc table .icon { vertical-align:top; padding:12px 8px 0 0 }
#folderc table h2 { color:#7D7D7D }
#folderc table h2 a { color:#585858 }
#folderc form input { display:inline; float:none; }

.subnavi { }
.subnavi h3 { margin:5px 10px 0 0; float:right; color:#ddd }
.subnavi h3 a { color:#000; padding:0 18px 0 6px; }

#me #news, #me #account, #me #traffic, #me #space, #me #stats, #me #coupon { float:left; line-height:23px; margin-top:45px; width:680px }

#me th { text-align:right }
#me #edit { float:left; padding:12px 20px 0px; margin:0 29px 29px 0; width:403px }
#me .box, #affiliate .box { padding:8px 14px; }
#me .box p { margin:16px 0 0; }
#me h2 { margin-bottom:14px; }
#me .box table { width:100%; line-height:20px }
#me .box table th { color:#585858 }
#me #edit { padding-top:0px; }
#me #edit td { height:35px; }
#me #edit th { line-height:36px; }
#me #edit button { margin-top:10px }
#me #upload { padding:95px 0 65px; }
#me #uploads { padding:40px 0; }
#affiliate .box table.data td { white-space:nowrap; }

#me #access .inplaceeditor-form { margin:17px 0 }

#me .table { margin:40px 0 0 0; }
#me .table img.load { display:block; margin:0 auto 12px }

#affiliate .konto { margin:60px 0 0 0 }
#affiliate button.method { float:right; width:60px; margin:4px 10px; height:28px; background:url(../img/e/alliate.png) 0 0 }
#affiliate button.method:hover { background-color:#ffb; -moz-border-radius:30px; -webkit-border-radius:30px; border-radius:30px }

.inputbig.navi .help { margin:7px 0 0 10px; width:60px; }
.inputbig.navi .help .text { width:225px; background:url(../img/e/upload.png) 0 0 }
#me .navi, #upload .navi { display:block; float:none; margin:15px auto 70px auto; width:568px; border:1px solid #fff; background:transparent }
.inputbig.navi button { margin:0 8px; }
#yui { cursor:pointer; position:absolute; top:1px; left:340px; width:108px; height:18px; }
#upload .method { clear:both }
#upload #rStatus td.active { }
.uploadWeb { overflow:hidden; position:relative; height:75px; width:100%; color:#fff; font-size:12px; text-shadow:#1c5cbe 0 1px 1px }
.uploadWeb .mask, .uploadWeb .bg { z-index:9; position:absolute; top:0; left:0; width:960px; height:35px; background:url(../img/e/upload.png) 0 -115px }
.uploadWeb .bg { z-index:1; background:#fff }
.uploadWeb b { color:#D6E7FF }
.uploadWeb h1 { z-index:2; position:absolute; top:0; height:31px; width:0px; padding:4px 0 0 0; color:#fff; font-size:21px; text-align:right;
 text-shadow:#1b761b 0 1px 1px; background:#7ce27d url(../img/e/upload.png) 0 -80px }
.uploadWeb a { display:block; width:25%; margin:9px 0 0 5px; font-size:21px; color:#fff; text-shadow:0 1px 2px #1C5CBE; }
::-moz-selection { color:#17589f; background:#90b9f2; }
.uploadWeb p { position:absolute; top:22px; left:10px; right:15px; }
.uploadWeb p small { float:right; color:#1A50A2 }
.uploadWeb p small span { color:#fff; }

ul.menu { position:absolute; top:-29px; }
ul.menu li { float:left; margin:0 35px 0 0; color:#ccc }
ul.menu li.icon { width:16px; height:16px; margin:6px 6px 0 0 }
ul.menu li a { color:#999 }
ul.menu li h2.a { color:#2161AD; }
ul.menu li a:hover, ul.menu li .a:hover { text-decoration:none; color:#3788E8 }

table { border-collapse:collapse; }
thead div.border { border-top-width:2px; }
table td.bR, table th.bR { border-right:1px solid #cfcfcf }
td.blind { padding:0; }
#fifo { position:relative; width:100%; }
#fifo .box { padding:10px 20px 2px }
#fifo .navi { margin-bottom:95px; }
table.list { width:100%; margin:3px 0 5px 0 }
table.list thead td { padding:0 4px 3px 4px; color:#585858; }
table.list thead td.order { cursor:s-resize }
table.list tbody tr.entry:hover { background:#f7f7f7 }
table.list tbody tr .description { display:none; cursor:pointer; }
table.list tbody tr:hover .description { display:inline }
table.list tbody tr .move { display:none; cursor:n-resize; }
table.list tbody tr:hover .move { display:inline }
table.list tbody tr.drop:hover, table.list .dragdrop { cursor:pointer; font-weight:bold; color:#000; background:#fff; }
table.list tbody tr.selected, tr.selected { background:#ffffee }
table.list tbody td { padding:3px 4px; }
table.list tbody td.blind { padding:0; }
table.list tbody td a { font-size:11px }
table.list tbody i { padding-left:4px; font-style:normal; font-size:11px; }
table.list td input.plain { text-align:center; width:60px; height:10px; font-size:10px; }

#register>.error { padding:5px 0; margin:20px auto 50px; width:260px }
#register #prem, #register #free { position:relative; padding:5px 0 25px 0; }
#register #free { margin:30px 0 0 0; }
#register h1.title { height:55px; font-weight:bold; width:225px; margin:0 auto 35px auto; background:url(../img/e/register.png) -725px 0; }
#register h1.title.offer_title { height:55px; font-weight:bold; width:335px; margin:0 auto 35px auto; background:url(../img/e/register.png) -625px -130px; }
#register h1.title.offer_title_en { height:55px; font-weight:bold; width:235px; margin:0 auto 35px auto; background:url(../img/e/register.png) -725px -185px; }
#register #free h1 { color:#6ea224; width:200px; background:url(../img/e/register.png) -750px -58px; }
#register table { font-size:12px; width:100% }
.check { float:left; margin:0 9px 0 25px; width:19px; height:19px; background:url(../img/e/register.png) -19px -5px; }
#free .check { background-position:-39px -5px; }
.check.no { background-position:0 -5px; }
#register table td { vertical-align:top; padding:5px 0; }
#register table th div.left { width:92% }
#models { position:relative; text-align:center; padding:9px 0; margin:45px 0 0 0; }
#models table td.name, #models table td.price { cursor:pointer }
#models table { margin-bottom:20px; color:#585858; width:100%; }
#models thead { font-size:18px; }
#models thead small { font-size:12px; }
#models table td { padding:2px 0; vertical-align:middle; }
#models tbody tr.row:hover { background:url(../img/e/hover50.png); }
#models tbody tr:hover .border { background:#fff; }
#models .pay { min-width:30px; margin-bottom: 10px; }
#models .pay a { outline:none; cursor:pointer; display:block; margin:0 auto; padding:0; height:25px; width:20px;
 background:url(../img/e/register.png?xcache=4) -65px -41px; }
#models .ul a { height:75px; width:135px; background-position:-0 -327px }
#models .pwlogo a { height:63px; width:116px; background-position:-143px -333px }
#models .alertpay a { background-position:-0px -105px; width:110px; height:18px }
#models .visa a { width:74px; height:24px; background-position:-2px -224px; }
#models .mastercard a { width:54px; margin:-4px 0 0 10px; height:29px; background-position:-84px -218px; }
#models .lastschrift a { width:135px; margin:-4px 0 0 10px; height:27px; background-position:-142px -200px; }
#models .account a { height:20px; background-position:-143px -23px }
#models .phone a { height:25px; width:95px; background-position:-3px -252px; }
#models .mobile a { height:30px; width:95px; background-position:-97px -255px; margin-top:-1px; }
#models .cc a { margin-left:6px; height:20px; width:72px; background-position:-58px -3px }
#models .wm a { height:22px; width:83px; margin-left:3px; background-position:-261px -1px }
#models .pc a { margin-left:8px; height:18px; width:102px; background-position:0 -24px }
#models .vk a { margin-left:6px;margin-right:6px; height:21px; width:33px; background-position:-345px -1px }
/** #models .ap a { height:21px; width:123px; background-position:-351px -1px } **/
#models .ap a { height:21px; width:39px; background-position:-154px -1px }
#models .hp a { margin-left:8px; height:21px; width:49px; background-position:-191px -105px }
#models .alp a { height:23px; width:78px; background-position:-474px -1px }
#models .mb a { margin-left:8px; margin-right:0px; height:24px; width:66px; background-position:-164px -23px }
#models .su a { margin-top:1px; margin-left:8px; margin-right:12px; height:25px; width:73px; background-position:-230px -22px }
#models .suint a { margin-top:1px; margin-left:8px; margin-right:12px; height:25px; width:73px; background-position:-300px -22px }
#models .paypal a { padding-right:5px; margin-right:20px; height:19px; width:60px; background-position:0 -42px }
#models .uk a { margin-left:8px; height:26px; width:70px; background-position:-275px -102px }
#models .cab a { margin-left:8px; margin-right:12px; height:30px; width:49px; background-position:-296px -130px }
#models .ideal a { margin-left:8px; margin-right:12px; height:30px; width:32px; background-position:-378px 4px }
#models .wexpay a { margin-left: 8px; width:200px; height:24px; background-position:-2px -284px; }
#models .sms a { height:30px; width:90px; background-position:-93px -288px; margin-top:-1px; }

#models .vaulted a { height:25px; width:106px; background:url(../img/e/vaulted_payment.png);}
#models .vaulted-en a { height:25px; width:106px; background:url(../img/e/vaulted_en_payment.png);}
#models .googlewallet a { height:25px; width:115px; background:url(../img/e/payments/googlewallet.png); margin: 0 4px; }
#models .klarna a { height:25px; width:92px; background:url(../img/e/payments/klarna.png); margin: 0 4px; }
#models .bitpay a { height:25px; width:98px; background:url(../img/e/payments/bitpay.png);}
#models .ebanx-boleto a { height:25px; width:256px; background:url(../img/e/payments/ebanx-boleto.png);}
#models .ebanx-bank a { height:25px; width:238px; background:url(../img/e/payments/ebanx-bank.png);}
#models .american-express a { height:25px; width:42px; background:url(../img/e/payments/american-express.png);}
#models .jcb a { height:25px; width:37px; background:url(../img/e/payments/jcb.png);}
#models .creditcard a { height:25px; width:108px; background:url(../img/e/payments/creditcard.png); margin:0 4px;}
#models .ebank2pay a { height:35px; width:150px; background:url(../img/e/payments/micropayment_sofort3_orange.jpg); margin:0 4px;}
#models .lastschrift-en a { height:27px; width:110px; background:url(../img/e/payments/direct-debit-en.png); margin:0 4px;}

#register .inputbig .help .text { background:url(../img/e/register.png) 0 -66px; }
#register .inputbig { padding:75px 0 0 0; }
#register .inputbig h2 { position:absolute; top:60px; left:960px; text-align:center; width:100%; }

#payment span.visa { outline:none; cursor:pointer; display:block; margin:0 auto; margin-top:3px; padding:0; height:25px; width:20px;
 background:url(../img/e/register.png?xcache=4) -65px -41px; width:74px; height:24px; background-position:-2px -224px;}

#payment span.mastercard { outline:none; display:block; margin:0 auto; padding:0; height:25px; width:20px;
 background:url(../img/e/register.png?xcache=4) -65px -41px; width:54px; margin:0px 0 0 10px; height:29px; background-position:-84px -218px;}

.editor_ok_button { cursor:pointer; margin:5px 0 0 0; }

.tooltip {
	position: absolute!important;
	overflow:hidden;
	font-size: 12px;
	z-index: 10000!important;
}
	.tooltip .xtop, .tooltip .xbottom { display: block; background: transparent; font-size: 1px; }
	.tooltip .xb1, .tooltip .xb2, .tooltip .xb3, .tooltip .xb4 { display: block; overflow: hidden; }
	.tooltip .xb1, .tooltip .xb2, .tooltip .xb3 { height: 1px; }
	.tooltip .xb2, .tooltip .xb3, .tooltip .xb4 { background: #666; border-left: 1px solid #333; border-right: 1px solid #333; }
	.tooltip .xbottom .xb2, .tooltip .xbottom .xb3, .tooltip .xbottom .xb4 { background: #666; }
	.tooltip .xb1 { margin: 0 5px; background: #333; }
	.tooltip .xb2 { margin: 0 3px; border-width: 0 2px; }
	.tooltip .xb3 { margin: 0 2px; }
	.tooltip .xb4 { height: 2px; margin: 0 1px; }
	
	.tooltip .xarrow {
		position: relative;
		top: 2px; left: 12px;
		width: 11px;
		height: 7px;
	}
		.tooltip .xarrow b {
			display: block;
			background:#666;
			border-left:1px solid #333;
			border-right:1px solid #333;
			font-size:1px;
			height: 1px;
		}
		.tooltip .xarrow .a1 { margin: 0 5px; background-color: #333; border: 0 solid; width: 1px; }
		.tooltip .xarrow .a2 { width: 1px; margin: 0 4px;}
		.tooltip .xarrow .a3 { width: 3px; margin: 0 3px;}
		.tooltip .xarrow .a4 { width: 5px; margin: 0 2px;}
		.tooltip .xarrow .a5 { width: 7px; margin: 0 1px;}
		.tooltip .xarrow .a6 { width: 9px; margin: 0 0px;}

	.tooltip .xboxcontent {
		padding: 0 .5em;
		margin: 0;
		font-weight:bold;
		text-shadow: 0 1px 0 #fff;
		word-wrap:break-word;
		border: 1px solid #333;
		border-width: 0px 1px 0 1px;
		background-color: #666;
	}
	
#ol {
	position:absolute;
	left:50%;
	top:50%;
	z-index:1000;
}

#ol .border {
	position:relative;
	left:-50%;
	top:-50%;
	width:100%;
	height:100%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#fff;
	/* IE linear Gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
	ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
	/* Opera linear Gradient */
	background:-o-linear-gradient(top, #ffffff, #efefef);
	/* Mozilla linear Gradient */
	background:-moz-linear-gradient(top, #ffffff, #efefef);
	/* Webkit linear Gradient */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #efefef));
	box-shadow: 0px 10px 20px #c6c6c6;
	-moz-box-shadow: 0px 10px 20px #c6c6c6;
	-webkit-box-shadow: 0px 10px 20px #c6c6c6;
	background-position: 0px 0px;		
}

#ol textarea {
	display:block;
	margin:16px auto;
	width:91%;
	height:400px;
}

.overl {
    position:absolute;
    left:50%;
    top:50%;
    z-index:1000;
}

.overl .border {
    position:relative;
    left:-50%;
    top:-50%;
    width:100%;
    height:100%;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#fff;
    /* IE linear Gradient */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
    ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
    /* Opera linear Gradient */
    background:-o-linear-gradient(top, #ffffff, #efefef);
    /* Mozilla linear Gradient */
    background:-moz-linear-gradient(top, #ffffff, #efefef);
    /* Webkit linear Gradient */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #efefef));
    box-shadow: 0px 10px 20px #c6c6c6;
    -moz-box-shadow: 0px 10px 20px #c6c6c6;
    -webkit-box-shadow: 0px 10px 20px #c6c6c6;
    background-position: 0px 0px;       
}

.overl textarea {
    display:block;
    margin:16px auto;
    width:91%;
    height:400px;
}

.tagtip {
    background: #fff;
    border: 1px solid #c7c7c7;
    color: #505050;
    padding: 2px;
    text-align: center;
    z-index: 999;
}

.tagtip .title {
    padding: 2px; 
    background: #e6e6e6;
}

.tagtip .content {
    padding: 2px 2px 0px 2px;
}

.corporate-title {
    text-align: center;
}

#corporate p {
    line-height: 20px;
}
.corporate-box {
    float: left;
    width: 420px;
    margin: 15px auto;
    padding: 18px 25px;
}
.corporate-form-box {
    margin: 15px auto 25px;
    width: 860px;
    padding: 18px 25px;
    background: #fafafa;
    position:relative;
    border:1px solid #eee;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    text-shadow:#ddd 0 1px 1px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px; 
    border-radius:10px;
}
.corporate-box.right {
    float: right;
}
.corporate-box-title {
    color: #2161AD;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}
.corporate-box ul li {
    padding: 4px 0;
}
.corporate-box-price {
    margin-top:10px;
    margin-right: -25px;
    font-weight: bold;
    text-align: right;
    float: right;
    display:inline-block;
    padding: 0 25px;
    height:26px;
    line-height:26px;
    font-size:15px;
    background:rgba(150, 180, 0, .7);
    color:#fff;
    text-shadow:0 -1px 0px rgba(50, 100, 0, .5);
    border-radius:15px 0 0px 15px;
    box-shadow:0 0 1px rgba(185,200,0,.8), -1px 0 3px rgba(0,0,0,.2) inset;
}
.corporate-form table {
    width: 48%;
    float: left;
}
.corporate-form table.corporate-table-left {
    margin-right: 4%;
}
.corporate-form table td {
    padding: 5px 0;
}
.coperate-input-td {
    width: 235px;
}
.coperate-input-td span {
    font-weight: bold;
    line-height: 22px;
}
.coperate-input-td span input {
    margin-top: 1px;
}
.coperate-input-td input[type="text"] {
    text-align: left;
    width: 235px;
}
.coperate-input-td textarea {
    float: right;
    text-align: left;
    width: 235px;
    height: 61px;
    resize: none;
}
.coperate-input-td select {
    padding: 6px;
    width: 264px;
}

span.required{
    color: #A00;
}

.ad-holder {
    position: absolute;
    width: 160px;
    right: -170px;
    top: -35px;
}

.contact-left {
    float: left;
    margin: 30px 0;
    width: 48%;
    box-sizing: border-box;
    position: relative;
}

.contact-right {
    float: right;
    margin: 30px 0;
    width: 48%;
    box-sizing: border-box;
    position: relative;
}

.contact-img {
    width: 100%;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    box-shadow:0 -1px 3px #f6f6f6 inset;
    border:1px solid #eee;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    display: block;
}

.legal-well {
    background: #efefef;
    border: 2px dotted #aaa;
    padding: 5px 8px;
    font-size: 15px;
}

.is_quarantined {
/*    text-decoration: line-through; */
    text-shadow: none;
    color: #AA0000;
}

#content .is_quarantined .a{
    color: #AA0000;
}

#dmca .currentPage {
    #float:none;
    width: 30px;
    background-image: none;
}

#dmca-detail {
    border: 1px solid #333;
    padding: 5px;
}
#dmca table.list tbody tr.hilight {
    background-color: none;
    border:1px dotted #aaa;
}
#dmca table.list tbody tr.selected {
    background-color: none;
    border:1px solid #333;
}

.controller-container {
    margin: 10px auto;
    width: 960px;
}

.btn-new {
    display: inline-block;
    background: rgb(98,160,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(98,160,237,1) 0%, rgba(42,114,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,160,237,1)), color-stop(100%,rgba(42,114,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a0ed', endColorstr='#2a72e8',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 10px;
    color: #fff;
    text-shadow: 0 -1px #1c5b99;
    font-weight: bold;
    border: 0;
    float: none;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(39, 96, 173, 0.8);
    -moz-box-shadow:    0px 0px 3px 0px rgba(39, 96, 173, 0.8);
    box-shadow:         0px 0px 3px 0px rgba(39, 96, 173, 0.8);
}
.btn-new:hover {
    color: #fff;
    background: #2C6FC8;
    text-decoration: none !important;
}

.btn-new.btn-bold {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 15px;
}

.breadcrumbs {
    box-shadow:none;
    color:#7d7d7d;
    font-size:15px;
    margin-bottom:20px;
    background-position:0 25px;
    box-shadow:0 -3px 10px rgba(0,0,0,.03) inset;
    border-color:rgba(0,0,0,.1);
    border-radius:2px;
    padding: 8px 10px;
}

.breadcrumbs .shadow {
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity: 0.60;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter:alpha(opacity=60);
}

.file-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.file-table thead th {
    font-weight: normal;
    color: #b7b7b7;
    border-bottom: 1px solid #efefef;
}

.file-table tbody {
    box-shadow:1px 0 1px rgba(255,255,255,.4) inset, -1px 0 1px rgba(255,255,255,.4) inset,0 2px 2px rgba(0,0,0,.05);
}

.file-table tbody tr {
    background: #f8f8f8;
}

.file-table tbody tr:hover {
    background: none repeat scroll 0 0 #fffed7;
}

.file-table td {
    border: 0;
    border-bottom: 1px solid #efefef;
    padding: 6px 5px;
}

.file-table .back-link td {
    border-bottom: 1px solid #b8b8b8;
}

.file-table-actions img {
    float: right;
}

.file-table-actions a:hover {
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    filter:alpha(opacity=70);
}

.pagination {
    *zoom: 1;
    margin: 15px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    box-shadow:1px 0 1px rgba(255,255,255,.4) inset, -1px 0 1px rgba(255,255,255,.4) inset,0 2px 2px rgba(0,0,0,.05);
}
.pagination:before, .pagination:after {
    display: table;
    line-height: 0;
    content: "";
}
.pagination:after {
    clear: both;
}
.pagination:before {
    clear: both;
}
.pagination li {
    display: inline;
}
.pagination li a {
    float: left;
    display: block;
    position: relative;
    background: #f8f8f8;
    color: #444;
    padding: 5px 12px;
    border: 1px solid #dcdcdc;
    margin-left: -1px;
}
#content .pagination li a:hover {
    background: #dedede;
    text-decoration: none;
}
#content .pagination li.disabled a {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
#content .pagination li.active a {
    color: #fff;
    z-index: 10;
    background: #3788e8;
    border-color: #3475ce;
}
.pagination li:first-child a {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.pagination li:last-child a {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.tabs {
    border-bottom: 1px solid #E4E4E4;
}

.tabs a {
    display: inline-block;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 8px 15px 7px;
    font-weight: bold;
    border: 0;
    float: none;
    font-size: 1.1em;
}

.tabs a:hover {
    background: #e4e4e4;
    text-decoration: none !important;
}

.tabs a.active {
    background: rgb(98,160,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(98,160,237,1) 0%, rgba(42,114,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,160,237,1)), color-stop(100%,rgba(42,114,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a0ed', endColorstr='#2a72e8',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-shadow: 0 -1px #1c5b99;
}

.tabs a.active:hover {
    color: #fff;
    background: #2C6FC8;
    text-decoration: none !important;
}

.alert-success {
    background: none repeat scroll 0 0 #d4f3d8;
    border: 1px solid #abe9b4;
    color: #2a9e3a;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
}

.alert-success b {
	color: #2a9e3a;
}

.alert-danger {
    background: none repeat scroll 0 0 #f1bbb7;
    border: 1px solid #e8928d;
    color: #8d231c;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
    text-shadow: none;
}

.alert-danger b {
    color: #8d231c;
}

.alert-warning {
    background: none repeat scroll 0 0 #fcf8e3;
	border: 1px solid #faebcc;
	color: #8a6d3b;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
    text-shadow: none;
}

.alert-warning b {
    color: #8a6d3b;
}

#content .register-box {
    position: relative;
    width: 550px;
    margin: 50px auto 0;
}


#content .register-box h2 {
    position: absolute;
    left: 960px;
    text-align: center;
    top: 60px;
    width: 100%;
}


#content .register-box h2 small {
    margin-top: 10px;
    display: inline-block;
}

#content .register-box form {
    width: 550px;
}

#content .register-box-container {
    position: relative;
    margin-top: 40px;
}

#content .register-box label {
    display: none;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#content .register-box label.hide {
    display: none;
}

#content .register-box input {
    position: relative;
    z-index: 1;
    float: none;
    font-size: 18px;
    font-weight: bold;
    padding: 11px 15px;
    width: 380px;
}

#content .register-box .register-box-select {
    font-size: 18px;
    font-weight: bold;
    padding: 9px 15px;
    width:410px;
    -webkit-border-top-left-radius: 18px;
    -webkit-border-bottom-left-radius: 18px;
    -moz-border-radius-topleft: 18px;
    -moz-border-radius-bottomleft: 18px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

#content .register-box .register-box-error {
    clear:both;
    font-size: 0.9em;
    margin:10px 0;
    text-align:center;
    padding-left:14px;
    margin-top: 20px;
}

#content .register-box .help {
    background: url('/img/layout.png') -561px -162px;
    height: 48px;
    left: -56px;
    min-width: 50px;
    position: absolute;
    top: -17px;
}

#content .register-box .help .text {
    background: url('/img/e/register-box.png') 0 0 no-repeat;
    height: 25px;
    margin: -11px 0 0 25px;
    width: 340px;
}


#content .register-box.style-2 .help .text {
    background-image: url('/img/e/register-box-2.png');
}

#content .register-box .help .text.email    { background-position: 0 0px; }
#content .register-box .help .text.email.de { background-position: 0 -30px; }

#content .register-box .help .text.firstname    { background-position: 0 -60px; }
#content .register-box .help .text.firstname.de { background-position: 0 -90px; }

#content .register-box .help .text.lastname    { background-position: 0 -120px; }
#content .register-box .help .text.lastname.de { background-position: 0 -150px; }

#content .register-box-btn {
    float: none;
    font-size: 23px;
    height: 48px;
    width: 100%;
    margin-top: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#content .register-box.style-2 .register-box-btn {
    background: rgb(98,160,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(98,160,237,1) 0%, rgba(42,114,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,160,237,1)), color-stop(100%,rgba(42,114,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(98,160,237,1) 0%,rgba(42,114,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a0ed', endColorstr='#2a72e8',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-shadow: 0 -1px #1c5b99;
    border: 0;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(39, 96, 173, 0.8);
    -moz-box-shadow:    0px 0px 3px 0px rgba(39, 96, 173, 0.8);
    box-shadow:         0px 0px 3px 0px rgba(39, 96, 173, 0.8);
    height: 40px;
}

#content .register-box.style-2 .register-box-btn:hover {
    background: rgb(98,160,237); /* Old browsers */
}

#content .register-box-info {
    text-align: center;
    margin: 20px 0 20px;
}

.page-overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 1000;
}

.page-overlay-content {
	font-size: 13px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	border: 1px solid #ddd;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.page-overlay-content img {
	display: block;
	margin: 0 auto 10px;
}