input[type=text], input[type=password], textarea, select {
 color:#999; padding:6px 12px; height:auto; font-size:13px; line-height:13px; border:1px solid #dbdbdb; border-top-color:#d2d2d2; border-left-color:#d2d2d2; border-radius:18px;
 background:#fff; box-shadow:3px 2px 4px #e2e2e2 inset,#fff 0 1px 1px; font-family:"Courier New"; font-weight:normal; vertical-align:middle;
}
input[type=text]:hover, textarea:hover, select:hover, input[type=password]:hover {
	border-color:#e5e5e5; box-shadow:2px 1px 3px #eee inset,#fff 0 1px 1px; color:#bbb;
}
input[type=text]:active, input[type=text]:focus, textarea:active, textarea:focus, select:active, select:focus,
input[type=password]:active, input[type=password]:focus {
 color:#333; border-color:#c1c4c6; border-top-color:#dee3e6; border-left-color:#dee3e6; backgrond:#eee;
 box-shadow:#fff 0 0 3px inset,#d5dde1 1px 1px 2px; background:#fff }


input.small { padding:0 6px }

select { padding:0px 0px 0px 10px; font-family:inherit; border-radius:18px 0 0 18px }
textarea { width:97%; padding:8px 12px; font-size:14px }

/*
button, input[type=submit], #download .tfree form button.captcha { color:#fff; border-radius:25px; padding:5px 12px 7px; line-height:12px; font-size:12px; min-width:40px; width:auto; height:auto; min-height:23px;
 box-shadow:#d8e9fb 0 -2px 2px inset,#b6c4ca 0px 1px 2px,#3674cb 0 2px 2px inset,#5f98ee 0 10px 5px inset,#7eb1eb 0 -6px 4px inset; background:#71a6f6;
 text-shadow:0 1px 0 #3777d0; border:none; }
button:hover, input[type=submit]:hover, .inputbig>form button.big:hover, #download .tfree form button.captcha:hover {
	padding:4px 12px 8px; background:#85b0f0; text-shadow:#3777d0 0 1px 1px; color:#fff;
	box-shadow:#dcebfc 0 -3px 2px inset,#b6c4ca 0px 1px 2px,#457ecb 0 1px 1px inset,#6a9dec 0 8px 6px inset,#7dafe7 0 -8px 4px inset;
}
button:focus, input[type=submit]:focus, button:active, input[type=submit]:active, #download .tfree form button.captcha:focus, #download .tfree form button.captcha:active {
	padding:5px 12px 7px; text-shadow:#235fe3 0 -1px 2px, #fff 0 2px 5px; background:#548ee6;
	box-shadow:#edf5fe 0 -2px 1px inset,#b6c4ca 0px 1px 2px,#3971bc 0 2px 1px inset,#4982db 0 6px 4px inset,#b2d1f5 0 -8px 10px inset;
}
*/
button.code { margin-left:-28px }
button.method, #affiliate button.method { box-shadow:0 1px 2px #B6C4CA; border-radius:5px; height:27px }

#chAlias input[type=submit].editor_ok_button { padding:5px 12px 5px; float:left }
#download .tfree button { box-shadow:none; }
.inputbig > form input, .inputbig > form input.plain:hover, .inputbig > form input.plain:focus, .inputbig > form input.plain:active {
 width:411px; padding:5px 12px; height:45px; background-color:transparent; border:none; border-radius:0; box-shadow:none }
.recaptcha_r4_c1 .recaptcha_input_area #recaptcha_response_field[name=recaptcha_response_field] { padding:2px 9px !important; width:123px !important }
.remoteprofile input { width:210px; }
.remoteprofile select { margin-top:3px; padding:3px 4px 3px 12px }

.plain input, .plain textarea, .plain select, input.plain {
 box-shadow:none; float:none; margin:0; background:none; border:1px solid transparent;
 width:auto; padding:3px 2px; height:auto; font-family:"Trebuchet MS" }