/* 
    Document   : ostalo
    Created on : Apr 16, 2014, 1:48:49 PM
    Author     : Vedran i Emir
    Description: Kratki CSS fixevi + svi ostali fajlovi radi HTTP requestova
*/

/* Pocetna */
.artikal.g.p .naslov .tg{
    height:auto !important;
}

/* Posao */
.glavna1_ {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: inset 0 0 9px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 0 9px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 9px rgba(0,0,0,0.4);
    min-height: 185px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    width: 730px;
    height: 294px;
    background: url('http://img.pik.ba/gifs/ured6.png') no-repeat;
    position: relative;
    overflow: hidden;
}

.glavna1_ .sd {
    color: #5f8fbc;
    font: 35px/1 MetaBold, Trebuchet MS, sans-serif;
    text-shadow: 0 1px 0 rgba(0,1,1,0.5);
}

/* Ion.RangeSlider
// css version 1.8.1
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
    position: relative; display: block;
}
.irs-line {
    position: relative; display: block;
    overflow: hidden;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute; display: block;
    top: 0;
}
.irs-line-left {
    left: 0; width: 10%;
}
.irs-line-mid {
    left: 10%; width: 80%;
}
.irs-line-right {
    right: 0; width: 10%;
}

.irs-diapason {
    position: absolute; display: block;
    left: 0; width: 100%;
}
.irs-slider {
    position: absolute; display: block;
    cursor: default;
    z-index: 1;
}
.irs-slider.single {
    left: 10px;
}
.irs-slider.single:before {
    position: absolute; display: block; content: "";
    top: -50%; left: -100%;
    width: 300%; height: 200%;
    background: rgba(0,0,0,0.0);
}
.irs-slider.from {
    left: 100px;
}
.irs-slider.from:before {
    position: absolute; display: block; content: "";
    top: -50%; left: -70%;
    width: 200%; height: 200%;
    background: rgba(0,0,0,0.0);
}
.irs-slider.to {
    left: 300px;
}
.irs-slider.to:before {
    position: absolute; display: block; content: "";
    top: -50%; left: 0;
    width: 300%; height: 200%;
    background: rgba(0,0,0,0.0);
}
.irs-slider.last {
    z-index: 2;
}

.irs-min {
    position: absolute; display: block;
    left: 0;
    cursor: default;
}
.irs-max {
    position: absolute; display: block;
    right: 0;
    cursor: default;
}

.irs-from, .irs-to, .irs-single {
    position: absolute; display: block;
    top: 0; left: 0;
    cursor: default;
    white-space: nowrap;
}


.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
.irs-grid-pol {
    position: absolute;
    top: 0; left: 0;
    width: 1px; height: 8px;
    background: #000;
}
.irs-grid-pol.small {
    height: 4px;
}
.irs-grid-text {
    position: absolute;
    bottom: 0; left: 0;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    font-size: 9px; line-height: 9px;
    color: #000;
}

.goretabs ul li a.maxx{
    /*width: 142px;*/
    padding: 9px 3px 4px 5px !important;
    position:relative;
}

.asdasd{
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    width: 40px;
    height: 40px;
   
}

.autogrow{
    resize:none;
}

.artikal_detaljniopis_tekst{
    word-wrap:break-word;
}

.nema-dojmova .sr-only{
    width: 229px;
    display: block !important;
    color: #6D6D6D;
    text-shadow: 1px 1px 1px #c0c0c0;
}

.clear{
    clear:both;
}

/** ovo ado da premjesti .. ili emir **/
#lista_rezultata{
    overflow: auto !important;
}

.nicEdit-pane h1, 
.nicEdit-pane h2, 
.nicEdit-pane h3, 
.nicEdit-pane h4, 
.nicEdit-pane h5, 
.nicEdit-pane h6 {
    line-height:normal;
}

.irs-slider.to:before, 
.irs-slider.from:before {
    width: auto;
    height: auto;
}

.pozadina-logo-fit{
    background-size: contain !important;
}

.maintainHover .icn-nakit-i-satovi {
	background-position:-529px -105px;
}
.maintainHover .icn-moj-dom {
	background-position:-529px -125px;
}
.maintainHover .icn-biznis-i-industrija {
	background-position:-529px -290px;
}

/* 1024 rezolucija */
@media (max-width: 1199px) {
    .artikal.g .naslov {
        width: 156px !important;
        overflow: hidden !important;
    }
    
    .goretabs ul li a{
        padding:9px 4px 4px 4px;
    }
    .goretabs ul li a.s{
        padding:9px 4px 4px 4px;
    }
    .goretabs ul li a i{
        margin-right:0px;
    }
    .goretabs ul li a.maxx{
        width: auto !important;
    }
    .goretabs ul li a.maxx #trenutna_kategorija{
        display:none;
    }
    
    .asdasd{
        display:none;
    }
    
    #prikazifooter.sakrijfooter{
        bottom:361px !important;
    }
    
}



#noscript-upozorenje {
    font-family: sans-serif;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    color: #fff;
    background-color: #ae0000;
    padding: 10px 0 10px 0;
    z-index:9999;
    z-index:9999 !important;
    height:20px;
}

.slike_servisiobjava{}
.slike_servisiobjava .upload_forma{border-top:1px dashed #c0c0c0;width:600px;height:35px;}
.slike_servisiobjava .upload_forma p{width:100px;float:left;margin-top:6px;}
.slike_servisiobjava .upload_forma input{width:280px;margin-top:4px;}
.slike_servisiobjava .upload_glavna_forma{width:600px;height:35px;}
.slike_servisiobjava .upload_glavna_forma p{width:100px;float:left;}
.slike_servisiobjava .upload_glavna_forma input{width:280px;margin-top:4px;}
.slike_servisiobjava .prikazi_servis_sliku{border-top:1px dashed #c0c0c0; position:relative;}
.slike_servisiobjava .prikazi_servis_sliku img{padding:5px; margin-top:5px;}
.slike_servisiobjava .prikazi_servis_sliku img.glavna{border:1px solid gold;}
.slike_servisiobjava .prikazi_servis_sliku span{position: absolute;left: 120px;top: 38px;}
.slike_servisiobjava .prikazi_servis_sliku a{font-weight:bold;}

#carousel_akcije .akcijaba{
    display: block;
    width: 100%;
    height: 157px;
}

::-webkit-input-placeholder {
   color: gray;
}

:-moz-placeholder { /* Firefox 18- */
   color: gray;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: gray;  
}

:-ms-input-placeholder {  
   color: gray;  
}
.poredizdvojenog {
right:13px !important;
}

.simbolicna_klasa_za_sliku{
    display: block;
   width:100%;
   height:100%;
}

.prodanotrakica {
position: absolute;  margin-top: -13px; width: 72px; background:transparent;z-index:2;float: left;left: 60px;
}
.artikal a {
height:auto;
}
.artikal_opcija {
width: auto !important;
display: inline !important;
margin: 10px 10px 10px 0;
}
.vrsta1 { 
width:162px;
}
.vrsta1 .username {
width:113px;
}
.artikal, .artikal:hover {
cursor:auto !important;
}

.pitanje_tekst {
	word-wrap:break-word;
}

/** ado i emir - fixajte **/
.vrsta1 .username span{
    max-width: 94px !important;
    overflow: hidden;
}

.pac-container{
    z-index:99999;
}

.dojamvrsta .linkovi_desno.selektovano{
    background:#F0F0F0;
}

#sortiraj_artikle li{
    list-style-type: none;
}
#sortiraj_artikle .selected{
    background:#FFFFCC;
}