body {
	background: #fff url(//cdn-ssl.img.disneystore.com/content/themes/skyway16holiday/bi_holiday2016_20161025.jpg) 50% 0px no-repeat fixed !important;
}
#main h1, h2 {
	color: #fb0603;
}
#main .categoryContainer .categoryBg {
	background: #fb0603;
}
/*start feature widgets*/
#main .featureNode .selected h2, #main .featureNode .selected h3 {
	color:#ffffff;
	-webkit-text-shadow: 0px 2px rgba(0, 0, 0, 0.25);
	-moz-text-shadow: 0px 2px rgba(0, 0, 0, 0.25);
	text-shadow: 0px 2px rgba(0, 0, 0, 0.25);
}
#main .featureNode h2 {
	color:#fb0603;
}
#main .featureNode h3 {
	color:#666666;
}
#main .featureNode li {
	background:#ffffff;
	border-top:none;
	border-bottom:#e5e5e5 solid 1px;
}
#main .featureNode li:last-child {
	border-bottom:none;
}
#main .featureNode .selected {
	border-top:#ffffff solid 1px;
	border-bottom:#ffffff solid 1px;
}
#main .threeTab .featureNode .selected .tabBackground {
	background: url(//cdn-ssl.img.disneystore.com/content/themes/skyway16holiday/cp_widgetRibbon_holiday_20161025.png) no-repeat 0px -122px;
}
#main .threeTab .featureNode li:first-child.selected .tabBackground {
	background: url(//cdn-ssl.img.disneystore.com/content/themes/skyway16holiday/cp_widgetRibbon_holiday_20161025.png) no-repeat 0px -247px;
}
#main .threeTab .featureNode .selected.last .tabBackground {
	background: url(//cdn-ssl.img.disneystore.com/content/themes/skyway16holiday/cp_widgetRibbon_holiday_20161025.png) no-repeat 0px top;
}
#main .fiveTab .featureNode .active .tabBackground {
	background: url(//cdn-ssl.img.disneystore.com/content/themes/skyway16holiday/hp_widget-ribbon-holiday_20161025.png) no-repeat 0 -102px;
}
#main .fiveTab .featureNode .active.last .tabBackground {
	background: url(//cdn-ssl.img.disneystore.com/content/themes/skyway16holiday/hp_widget-ribbon-holiday_20161025.png) no-repeat 0 top;
}
/*end feature widgets*/