﻿/*
Theme Name: oneinamillion
Theme URI: http://www.wpthemejp.com/
Description: <a href="http://www.tdhedengren.com">Thord Daniel Hedengren</a>がデザインした3カラムテーマです。
Version: 1.0f
Author: Thord Daniel Hedengren
Author URI: http://www.tdhedengren.com/
*/


/* GLOBAL */


flashx
{
    padding: 30px 0 30px 0;
}
red
{
    color: #f00;
}
abc
{
    margin-top: 10px;
}

.sampleList
{
    overflow: hidden;
}

.sampleList li
{
    margin-top: -1px;
    padding: 10px;

    border-bottom: 1px dashed #006599;
}

.sampleList li a
{
    text-decoration: none;
}

box
{
    margin: 0;
    padding: 0;

    text-align: center;

    background: #d1c7b8 url(img/body-bg-tmp.gif);
}

body
{
    position: relative;

    margin: 0;
    padding: 0 0 130px 0;

    text-align: center;

    background: #d1c7b8 url(img/body-bg-tmp.gif);
}

#page
{
    width: 100%; height: 100%;
    margin: 0 auto;
}

.small
{
    font-size: 13px;
}

#site
{
    position: relative;

    width: 1040px;
    margin: 0 auto;
}

#box
{
    border: 2px solid #c0b4a4;
    background: #fff url(img/box-bg.gif);
}

#wrap
{
    padding: 20px;

    text-align: left;
}

#content
{
    font-size: 14px;

    float: left;

    width: 600px;
    margin-right: 50px;
}

/*------------------------------------------------
		サイドバー
--------------------------------------------------*/

#sidebar
{
    /*左*/
    float: left;

    width: 210px;
    margin: 0 10px 0 0;
}

#sidebar2
{
    z-index: 500;
    /*右*/

    float: left;
}

.category_box
{
    margin: 0;
    margin-bottom: 25px;
    padding-bottom: 10px;

    background-color: #fff;
}

/* サイト内検索 */
#search_box
{
    margin: 0;

    background-color: #fff;
}

#search_box #inner
{
    width: 100%;
    margin: 10px 0 0 10px;
    padding-bottom: 10px;
}

/* 2015 人気急上昇女優　*/

#popular_box
{
    margin: 0;

    background-color: #fff;
}
#popular_box #inner
{
    width: 100%;
    padding-bottom: 10px;
}
#popular
{
    height: auto;
}
#popular ul
{
    width: 230px; margin-bottom: 10px;
}
#popular ul li
{
    line-height: 150%;

    float: left;

    width: 105px;
    margin: 10px 10px 0 0;
    padding: 0;

    list-style: none;

    white-space: nowrap;
}

/* まだまだ話題のAV女優 */

#legend_box
{
    margin: 0;

    background-color: #fff;
}
#legend_box #inner
{
    width: 100%;
    padding-bottom: 10px;
}

#legend
{
    height: 500px;margin-bottom: 10px;
}
#legend ul
{
    width: 230px; margin-bottom: 10px;
}
#legend ul li
{
    line-height: 150%;

    float: left;

    width: 105px;
    margin: 0 10px 0 0;
    padding: 0;

    list-style: none;

    white-space: nowrap;
}

/* 人気記事 */

#ninki_box
{
    margin: 0;

    background-color: #fff;
}
#ninki_box #inner
{
    width: 100%;
    padding-bottom: 10px;
}
#ninki_box #inner ul
{
    list-style-type: disc!important;
}
#ninki_box #inner ul li
{
    line-height: 150%;

    margin: 10px 10px 0 17px;
    padding: 0;

    list-style-type: disc;
}


/*シリーズ */
#series_box
{
    margin: 0;

    background-color: #fff;
}

#series_box #inner
{
    width: 100%;
    padding-bottom: 10px;
}


#series_box ul li
{
    font-size: 14px;

    list-style-type: disc !important;
}

#series_box ul li ul li
{
    font-size: 11px;

    list-style: none !important;
}
#series_box
{
    margin: 0;

    background-color: #fff;
}

#series_box #inner
{
    width: 100%;
    padding-bottom: 10px;
}


#series_box ul li
{
    font-size: 14px;

    list-style-type: disc !important;
}

#series_box ul li ul li
{
    font-size: 11px;

    list-style: none !important;
}


/* 左のPR */

#left_pr_box
{
    margin-bottom: 25px;

    background-color: #fff;
}

#left_pr_box inner
{
    width: 100%;
    padding-bottom: 10px;
}

#left_pr
{
    padding: 10px 0;
}

.left_pr_box
{
    margin: 0;

    background-color: #fff;
}

.left_pr_box inner
{
    width: 100%;
    padding-bottom: 10px;
}

.left_pr
{
    text-align: center;
}


/* 女性タイプで動画を探す　*/

#type_box
{
    margin: 0;

    background-color: #fff;
}

#type_box #inner
{
    width: 100%;
    padding-bottom: 10px;
}

#type
{
    font-size: 13px;

    height: 250px;
    margin-top: 10px;
}

#type ul
{
    width: 160px;
    margin-bottom: 10px;
}
#type ul li
{
    font-size: 13px;
    line-height: 120%;

    float: left;

    width: 70px;
    margin: 5px 10px 0 0;
    padding: 0;

    list-style: none;

    white-space: nowrap;
}

/* ジャンルで動画を探す　*/

#genre_box
{
    margin: 0;

    background-color: #fff;
}
#genre_box #inner
{
    width: 100%;
    padding-bottom: 10px;
}
#genre
{
    height: 140px;
    margin-top: 10px;
}
#genre ul
{
    width: 130px; margin-bottom: 10px;
}
#genre ul li
{
    font-size: 13px;
    line-height: 150%;

    float: left;

    width: 55px;
    margin: 10px 10px 0 0;
    padding: 0;

    list-style: none;

    white-space: nowrap;
}

/* 右のPR */
.right_pr_box
{
    margin: 0 0 25px;

    background-color: #fff;
}
.right_pr_box .inner
{
    width: 100%;
}
.right_pr
{
    padding: 10px 0;

    text-align: center;
}

.right_pr_box2
{
    height: 240px;
    margin: 0;

    background-color: #fff;
}
.right_pr_box2 .inner
{
    width: 100%;
    padding-bottom: 0;
}
.right_pr2
{
    padding-top: 5px;

    text-align: center;
}

.left
{
    float: left;width: 135px; margin-bottom: 10px;
}
.left ul li
{
    font-size: 13px;
    line-height: 150%;

    float: left;

    width: 70px;
    margin: 10px 10px 0 0;
    padding: 0;

    list-style: none;

    white-space: nowrap;
}


/***** end/sidebar2 *****/


img
{
    border: 0;
}
img.right
{
    float: right; margin: 0 0 10px 10px;
}
img.left
{
    float: left; margin: 0 10px 10px;
}
img.frame
{
    padding: 3px; border: 1px solid #aaa;
}

form
{
    overflow: hidden;

    margin: 0; padding: 0;
}


/* TYPOGRAPHY & COLORS */

body
{
    font: 10px/1.5 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
    font-family: Arial, Helvetica, Geneva, sans-serif;
}

p
{
    font-size: 14px;
    line-height: 150%;

    margin: 5px 0 11px 0;

    color: #222;
}

a
{
    color: #420;
}
a:hover
{
    text-decoration: none;

    color: #f00;
}

#blogtitle a,
h2 a,
h3 a
{
    text-decoration: none;
}

#blogtitle a,
h1
{
    font-family: Georgia, Times New Roman, Times, Geneva, serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 100%;

    margin: 10px 0 0 0; padding: 0;

    text-align: center;
    letter-spacing: -4px;

    color: #5d2e00;
}

h1.title
{
    font-family: none;
    font-family: 'メイリオ',Verdana,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 15px;
    font-weight: bold;

    margin: -5px 0 10px;
    padding: 0 0 5px;

    text-align: left;
    letter-spacing: -1px;

    color: #1f67df;
    border-width: 0 0 1px;
    border-width: 0 0 1px;
    border-style: solid;
    border-style: solid;
    border-color: #888;
}

.title a
{
    text-decoration: none;
}

h2
{
    font-size: 17px;

    margin: 15px 0 10px 0;
    padding: 0 0 5px 0;

    letter-spacing: -1px;

    color: #1f67df;
}

h2.title
{
    font-size: 15px;

    margin: 0 0 10px 0;
    padding: 0 0 5px 0;

    letter-spacing: -1px;

    color: #1f67df;
    border-width: 0 0 1px 0; border-style: solid; border-color: #888;
}



h2.simple
{
    font-size: 13px;

    margin: 15px 0 10px 0;
    padding: 0 0 5px 0;

    letter-spacing: -1px;

    color: #532a00!important;
}

h3
{
    font-size: 15px;

    margin: 15px 0 10px 0;
    padding: 0 0 5px 0;

    letter-spacing: -1px;

    color: #666;
}

h3.title
{
    font-size: 15px;

    margin: 0 0 5px;
    padding: 0 0 5px;

    letter-spacing: -1px;

    color: #666;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #888;
}

#sidebar,
#sidebar2
{
    font-size: 14px;
}

#sidebar h2,
#sidebar2 h2
{
    font-size: 18px;

    margin-bottom: 0;

    color: #aaa;
}

#sidebar h3,
#sidebar2 h3
{
    font-size: 14px;

    margin: 0 0 5px 0; padding: 0;

    color: #aaa;
    border: 0;
}

#sidebar p,
#sidebar2 p
{
    line-height: 130%;

    padding: 0;

    color: #666;
}


/* CONTENT */

.post,
#comments
{
    overflow: auto;

    height: 100%;
    margin: 0 0 10px 0;
    padding: 30px 30px 10px 30px;

    border: 1px solid #d5d5d5;
    background: #fff;
}

.postmetadata
{
    font-size: 13px!important;
    font-weight: normal!important;

    overflow: hidden;

    height: 61px!important;
}


a.samplelink:link
{
    /*未訪問のリンク*/
    color: #000!important;
}
a.samplelink:visited
{
    /*訪問後のリンク*/
    color: #000!important;
}
a.samplelink:hover
{
    text-decoration: underline!important;
    /*マウスをのせたとき*/

    color: #f00!important;
}



.more
{
    font-size: 15px;
}

.br1
{
    font-size: 15px;

    margin-bottom: 10px;
}

#navigation
{
    font-size: 12px;
    font-weight: bold;

    width: 100%;
    margin: 15px 0;
    padding: 0;
}

#navigation a
{
    padding: 5px; background: #fff;
}

#alignleft
{
    float: left;
}
#alignright
{
    float: right;
}


/* COMMENT */

#comments
{
    font-size: 12px;
}
#comments a
{
    padding: 2px; text-decoration: underline;

    color: #000; background-color: #fff;
}
#comments a:hover
{
    padding: 2px; text-decoration: none;

    color: #fff; background-color: #000;
}
#comments ol
{
    margin: 0 6px 0 0; padding: 0;
}

.odd
{
    margin: 0;
    padding: 10px;

    background: #fff;
}
.even
{
    background-color: #f8f3ea;
}

.commentlist
{
    margin: 0;
    padding: 0;
}

.commentlist li
{
    clear: both;

    margin: 15px 0 0;
    padding: 10px;

    list-style: none;
}

.commentlist p
{
    font-size: 12px;

    margin: 10px 5px 10px 0;
}

#commentform p
{
    margin: 5px 0;
}

.nocomments
{
    margin: 0;
    padding: 0;

    text-align: center;
}

.commentmetadata
{
    margin: 0;
}

h3.comments
{
    font-family: Georgia, Garamond, Times, Times New Roman, serif; font-size: 18px; font-weight: normal; margin: 0 0 10px 0; letter-spacing: -1px; border-width: 0 !important;
}
.commentlist .commenter
{
    font-family: Georgia, Garamond, Times, Times New Roman, serif; font-size: 10px; line-height: 16px;

    overflow: hidden; margin: 10px 0 0; padding: 10px 0 0 0; text-transform: uppercase;
}
#commentarea
{
    line-height: 150%;

    width: 97%; height: 120px; background: #f8f3ea;
}
#author,
#email,
#url,
#searchpartnerinput
{
    width: 200px;
    padding: 5px;
}

#subscribetocomments
{
    line-height: 100%;

    margin: 5px 0 0 0; padding: 5px; background-color: #eee;
}

.comment-avatar .avatar
{
    float: right; margin: 0 0 0 5px;
}
.commentlist .children
{
    padding: 0;
}

.comment-navigation .previous
{
    float: left;
}
.comment-navigation .next
{
    float: right;
}
.comment-navigation
{
    overflow: hidden;

    padding: 15px 0 30px;
}

#respond
{
    margin: 10px 0;
}


/* SIDEBAR */

#sidebar ul,
#sidebar2 ul
{
    margin: 0; padding: 0;
}

#sidebar ul ul,
#sidebar2 ul ul
{
    margin: 5px 0 0 10px;
}

#sidebar ul li
{
    margin: 8px 0;
    padding: 10px;

    list-style: none;
    list-style-position: inside;
}

#sidebar .list li,
#sidebar2 .list li
{
    /*	list-style: circle inside; */
    list-style: none;
}

#sidebar .list2 li,
#sidebar2 .list2 li
{
    /*	list-style: circle inside; */
    list-style: none;
}

#sidebar .list2 ul,
#sidebar2 .list2 ul
{
    padding-bottom: 0;
    /*	list-style: circle inside; */

    list-style: disc;
}


#sidebar #whitebox
{
    padding: 10px;

    background: #fff;
}

#sidebar #calendar
{
    font-size: 10px;

    padding: 5px;

    border: 1px solid #eee;
    background: #fff;
}



/* FOOTER */

#copy
{
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 18px;

    bottom: 0;

    width: 100%;
    margin: 0; padding: 0;

    letter-spacing: -1px;

    color: #420;
}

/* position: absolute; 15/12/16に削除 */

#copy a
{
    font-weight: bold; text-decoration: underline;
}
#copy a:hover
{
    text-decoration: none; color: #f00;
}

#welovewp,
#theme
{
    padding: 30px 0;
}

/* Image Styles */
#content .post div.wp-caption
{
    overflow: hidden; margin: 10px;

    border: 1px solid #ccc; background: #ddd;
}
#content .post .wp-caption img
{
    display: block; margin: 5px auto; padding: 0; border: none;
}
#content .post .wp-caption-text
{
    font-size: 11px; line-height: 1.3em;

    margin: 5px; padding: 0;
}
#content .post div.alignnone
{
    display: block; margin: 10px 10px 10px 0;
}
#content .post img
{
    padding: 5px;

    border: 1px solid #ccc; background: #ddd;
}
#content .post a img:hover
{
    background: #fff;
}
#content .post img.alignleft
{
    float: left; clear: left;

    margin: 10px 10px 10px 0;
}
#content .post img.alignright
{
    float: right; clear: right;

    margin: 10px 0 10px 10px;
}
#content .post img.aligncenter
{
    display: block; float: none; clear: both; margin: 0 auto 10px auto;
}
#content .post div.alignleft
{
    float: left; margin-left: 0;

    text-align: left;
}
#content .post div.alignright
{
    float: right; margin-right: 0;

    text-align: right;
}
#content .post div.aligncenter
{
    margin: 0 auto 10px;

    text-align: center;
}
#content .post .gallery
{
    margin: auto auto 0;
}
#content .post .gallery img
{
    margin-bottom: 5px;
}
#content .post .gallery .gallery-item,
#content .post .gallery .gallery-icon
{
    clear: none; margin: 0;
}

#content .post .gallery .gallery-caption
{
    font-size: 11px; line-height: 1.3em; margin: 0 0 10px;

    text-align: left;
}

.clear
{
    clear: both;
}

.newkiji
{
    float: left;

    width: 200px;
    height: auto;
    margin: 5px 50px 10px 5px;
}
#npcatch .title
{
    font-size: 14px;

    float: left;
    overflow-x: hidden;
    overflow-y: hidden;

    width: 235px;
    height: 33px;
    padding: 5px 5px;
}
#npcatch img
{
    height: 150px;
    margin: 0;
    padding: 0;
}
#npcatch .date
{
    font-size: 20px;
}
/*
.date{
 font-size: 20px;
}

.date01{
 font-size: 20px;
 }
*/





/* YARPP */
.related-posts .related-post--thumbnail
{
    width: 237px!important;
    height: 162px!important;
}


.related_posts__body
{
    position: relative;
    top: 0;

    overflow: hidden;

    height: 472px;
}
.related_posts__body .yarpp-related
{
    position: relative;
    top: 0;

    padding-left: 7px;
}
.related_posts__row:before,
.related_posts__row:after
{
    display: table;

    content: ' ';
}
.related_posts__row:after
{
    clear: both;
}
.related_posts .related_post
{
    float: left;

    width: 200px;
    height: auto;
    margin: 5px 45px 10px 5px;
}
.related_posts .related_post img
{
    height: 150px;
    margin: 0;
    padding: 0;
}
.related_posts .related_post__h1
{
    font-size: 14px;

    float: left;
    overflow-x: hidden;
    overflow-y: hidden;

    width: 235px;
    height: 34px;
    padding: 5px 5px;
}
.related_posts__more
{
    font-size: 16px;
    font-size: 13px;
    font-weight: bold;

    display: block;

    width: 196px;
    margin: 10px auto;
    padding: 8px 6px;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: #f0f0f0;
    background:    -moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top, #fff 0%,#e5e5e5 100%);
    background:      -o-linear-gradient(top, #fff 0%,#e5e5e5 100%);
    background:     -ms-linear-gradient(top, #fff 0%,#e5e5e5 100%);
    background:         linear-gradient(to bottom, #fff 0%,#e5e5e5 100%);
}
.related_posts__more:hover
{
    color: #fff;
    border: 2px solid #c00;
    background: #cf0404;
    background:    -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:      -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:     -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:         linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
}
.related_posts--loading .related_posts__body
{
    height: 470px;
}
.related_posts--no_more .related_posts__body
{
    height: auto;
}
.related_posts--loading .related_posts__more,
.related_posts--no_more .related_posts__more
{
    display: none;
}

dl
{
    font-size: 12px;
    /* margin-top:0px; */
}

dt
{
    font-size: 12px;
}
dd
{
    font-size: 12px;
}
#notofound
{
    font-size: 26px;
    font-weight: bold;
    line-height: 1.1;

    margin: 0;
    padding: 0;
}
.rankingtable
{
    width: 430px;

    border-collapse: collapse;
}
.rankingtable td
{
    font-size: 13px;

    padding: 6px;

    border: 1px solid #d9d9d9;
}
.td_bgc
{
    background-color: #f3f3f3;
}

a.more-link
{
    display: inline-block;
    margin: 10px 0;
    padding:2px 13px 2px 13px;
    text-decoration: none;color: #fff !important;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background: #f89c1a;-ms-border-radius: 2px;-o-border-radius: 2px;
}


a.more-link:hover
{
    opacity: .8;filter: alpha(opacity=80);
}

a.more-link:after
{
    font-family: FontAwesome;
}

a.more-link
{
    font-size: 100%
    margin:0 0 6px 0;
}


a.less-link
{
    display: inline-block;padding: 2px 13px 2px 13px;text-decoration: none;color: #fff !important;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background: #f89c1a;-ms-border-radius: 2px;-o-border-radius: 2px;
}

a.less-link:hover
{
    opacity: .8;filter: alpha(opacity=80);
}

a.less-link:after
{
    font-family: FontAwesome;
}

a.less-link
{
    font-size: 100%;
}


.more2
{
    display: inline-block;margin-bottom: 5px;padding: 2px 5px 2px 13px;text-decoration: none;color: #fff !important;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background: #f87d1a;-ms-border-radius: 2px;-o-border-radius: 2px;
}


a.more2
{
    display: inline-block;padding: 2px 13px 2px 13px;text-decoration: none;color: #fff !important;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background: #f8b11a;-ms-border-radius: 2px;-o-border-radius: 2px;
}

a.more2
{
    opacity: .8;filter: alpha(opacity=80);
}

a.more2
{
    font-family: FontAwesome;
}

a.more2
{
    font-size: 100%;
}


.related_posts__h3
{
    font-size: 15px;

    margin: 0 0 10px;
    padding: 10px;

    letter-spacing: -1px;

    color: #0db2ef;
    border-bottom: 1px solid #d5d5d5;
    background: none repeat scroll 0 0 #f5f5f5;
}


.related_posts__h3 a:hover
{
    color: #f00!important;
}

iframe.twitter-share-button
{
    width: 93px!important;
}

iframe.twitter-share-button-page
{
    width: 53px!important;
}

.clap
{
    position: relative;top: 1px;

    float: left;

    margin-right: 10px;

    border: none!important;
}

.clap img
{
    padding: 0!important;
}


.zenbun
{
    font-size: 13px;

    margin-bottom: 5px;

    text-align: right;
}

.cl
{
    clear: left;
}



dt
{
    float: left;
}
dd
{
    line-height: 200%;

    margin-left: 100px;
}

#sidebar h5
{
    margin: 0;
}
#sidebar h6
{
    margin: 0;
}
#sidebar2 h5
{
    margin: 0 0 0 0;
}
#sidebar2 h6
{
    margin: 0 0 0 0;
}

.avtag
{
    display: inline-block;padding: 2px 13px;text-decoration: none;color: #fff !important;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: #afd86e;-ms-border-radius: 1px;-o-border-radius: 1px;
}

.avtag:after
{
    font-family: FontAwesome;
}

.avtag
{
    font-size: 100%;
}

h2.avtagside
{
    margin-bottom: 15px;
    padding: 1px 10px 1px 10px;text-decoration: none;color: #fff !important;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: #7dc5e0;-ms-border-radius: 1px;-o-border-radius: 1px;
}

h2.avtagside:after
{
    font-family: FontAwesome;
}

h2.avtagside
{
    font-size: 100%;
}

.avtagside
{
    font-size: 18px;margin-bottom: 15px;
    padding: 1px 10px 1px 10px;text-decoration: none;letter-spacing: -1px;color: #fff !important;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: #7dc5e0;-ms-border-radius: 1px;-o-border-radius: 1px;
}

.avcategory
{
    display: inline-block;

    padding: 2px 15px;text-decoration: none;color: #fff !important;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: #7dc5e0;-ms-border-radius: 1px;-o-border-radius: 1px;
}

.avcategory:after
{
    font-family: FontAwesome;
}

.avcategory
{
    font-size: 100%;
}


h2.avcategoryside
{
    width: 180px;margin: 0;
    padding: 1px 15px 1px 15px;text-decoration: none;color: #fff !important;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: #afd86e;-ms-border-radius: 1px;-o-border-radius: 1px;
}

h2.avcategoryside:after
{
    font-family: FontAwesome;
}

h2.avcategoryside
{
    font-size: 100%;
}


.avcategoryside
{
    font-size: 18px;

    width: 180px;
    margin-bottom: 15px;
    padding: 1px 15px 1px 15px;

    text-decoration: none;
    letter-spacing: -1px;

    color: #fff !important;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
    background: #afd86e;

        -ms-border-radius: 1px;
         -o-border-radius: 1px;
}

.movie_box_d
{
    font-size: 14px;

    clear: both;

    width: 515px;

    border: 1px solid #d5d5d5;
    background: #f5f5f5;
    margin: 0 0 10px 0;
}

#movie_cap_d
{
    padding: 10px 0;

    text-align: center;
}

#movie_title_d
{
    clear: both;

    margin: 0;
    padding: 10px;
    /*background: url("http://muryouav.avximg.com/img-free/dmm_bar_title.gif") no-repeat left center;*/

    border-bottom: 1px solid #d5d5d5;
}

.movie_cap_d
{
    clear: both;

    padding: 10px 0;

    text-align: center;

    border-bottom: 1px solid #d5d5d5;
    background: #fff;
}

.movie_comment_d
{
    clear: both;

    margin: 0;
    padding: 10px;
}

.dmm-gazo
{
    font-size: 13px;

    position: relative;

    display: inline-block;padding: 1px 20px 1px 21px;text-decoration: none;color: #000 !important;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: #f5f5f5;-ms-border-radius: 1px;-o-border-radius: 1px;
}

.dmm-gazo2
{
    font-size: 13px;

    position: relative;

    display: inline-block;
    padding: 1px 21px 1px 22px;text-decoration: none;color: #000 !important;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: #f5f5f5;-ms-border-radius: 1px;-o-border-radius: 1px;
}

.dmm-gazo-intro
{
    font-size: 13px;

    top: 35px;

    display: inline-block;

    margin: 0 0 0 0;
    padding: 1px 21px 1px 22px;

    text-decoration: none;

    color: #000 !important;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-radius: 1px;
    background: none repeat scroll 0 0 #f5f5f5;
}

.movie_box_d #movie_comment_d{
  padding: 0px 17px 7px 17px;
  text-align: justify;
}

blockquote {
 margin: 0!important;
 margin-top: 10px;
}

.movie_box.sample-box{
width: 515px;
margin: 10px 0 10px 0;
border: 1px solid #d5d5d5;
/*border-top: 0;*/
background: #f5f5f5;
}
/*.movie_box.sample-box .related_posts__h3 {
  display: none;
}
.movie_box.sample-box .dmm_sample_title {
  display: none;
}*/
/*------------------------------------------------
		投稿装飾
--------------------------------------------------*/

.red
{
    color: #f00;
}

.block
{
    display: block;
}

.add_writing_zone
{
    margin: 10px 0;
    padding: 8px;

    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.add_writing_zone a
{
    font-weight: bold;

    color: #1f67df;
}

/* ############################################################
   Comment
   ############################################################ */
#comments,
#respond
{
    font-size: 16px;
    line-height: 32px;

    height: 32px;
    margin: 0 0 20px;
    padding: 0 0 0 40px;

    background: url(http://img.pps.pink/field/img/respond_bg.jpg) no-repeat 0 50%;
}
.comments
{
    margin-top: 10px;
}
#respond
{
    margin-top: 10px;
}
.comment
{
    margin: 0 0 0 0;
    padding: 10px;

    border-bottom: 1px solid #ccc;

    //background: none repeat scroll 0 0 #f00;
}

.commentwaku
{
    margin: 0 0 20px 0;
    padding: 5px 10px 10px 10px;

    border: 1px solid #ccc;
    background: none repeat scroll 0 0 #f7f7f7;
}
.avatar
{
    float: left;

    margin: 0 10px 0 0;
}
.comment__details
{
    margin: 0 0 10px;
}
.comment__text p
{
    margin: 0;
    padding: 0;
}
.comment_form label
{
    display: block;

    margin: 0 0 5px;
}

.social
{
    font-size: 11px;
}

/*
.wsbl_pocket{
width: 95px;
float: left;
}
*/

.pocket-btn
{
    display: inline;
    float: left;

    width: 97px;
}


#comment_s_space
{
    float: left;

    margin-right: 7px;
}

#comment_s_space a
{
    text-decoration: none;
}

#content .post img#comment_img
{
    width: 18px;
    padding: 0;

    vertical-align: middle;

    border: none;
    background: none;
}

#content .post img#comment_img a img:hover
{
    background: none;
}

#comment_s_title
{
    font-size: 11px;
    font-weight: bold;

    display: block;
    float: left;

    width: 70px;
    margin: 0 5px 0 0;
    padding: 1px 5px 0 5px;

    text-align: center;

    color: #444;
    border: 1px solid #b9b9b9;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #e4e4e4;
}

#comment_s_count
{
    font-size: 11px;

    position: relative;

    display: block;
    float: left;

    margin: 0 0 0 2px;
    padding: 1px 4px 0 4px;

    text-align: center;

    color: #777;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    background: #fff;
}

#comment_s_count:after,
#comment_s_count:before
{
    position: absolute;
    right: 100%;

    width: 0;
    height: 0;

    content: ' ';

    border: solid transparent;
}

#comment_s_count:after
{
    top: 6px;

    border-width: 3px;
    border-right-color: #fff;
}

#comment_s_count:before
{
    top: 4px;

    border-width: 5px;
    border-right-color: #b0c1d8;
}

.about li
{
    font-size: 200%;
}

.about li a
{
    font-size: 200%;
}

p.post_time_s
{
    font-size: 12px;

    float: left;

    margin: 0;
    padding: 0 8px 0 0;
}

ul.children
{
    font-size: 12px;

    position: relative;
    right: 5px;
}

.pankuzu
{
    line-height: 150%;

    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;

    color: #515151;
    border: 1px solid #d5d5d5;
    background-color: #fff7df;
}


.pankuzu_kotei
{
    line-height: 250%;

    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;

    background-color: #fff;
}

.nos_home .pankuzu_archive
{
    margin-top: 0;
}

.pankuzu_archive
{
    line-height: 250%;

    margin-bottom: 10px;
    padding: 10px;

    background-color: #fff;
}

.woman_type a
{
    padding: 5px 5px 5px 5px;
}

.tag-txt
{
    line-height: 2;

    margin-right: 5px;
}

/* page */

#content_page_one ul
{
    float: left;

    padding: 0 0 0 40px;
}

#content_page_one li
{
    font-size: 15px;

    float: left;

    width: 220px;
    margin: 0 0 20px 0;
    padding: 0;

    list-style: none;
}

#sns_btn_area p
{
    float: left;
}

#sns_btn_area iframe
{
    display: inline-block;
}

/* page */

#list_page
{
    line-height: 100%;
}

#list_page li
{
    display: block;

    height: 22px;
}


.dmm_small_img
{
    float: left;

    width: 120px;
    margin: 10px 0 0 10px;
}

.dmm_small_img_single
{
    float: left;

    width: 113px;
    height: auto;
    margin: 10px 1px 0 11px;
}

.dmm_small_img_single img
{
    padding: 0!important;
}

.sample_box
{
    /*position: relative;*/
}
a.buy
{
    position: absolute;
    right: 70px;
    bottom: 35px;
}
a.buy2
{
    position: absolute;
    right: 60px;
    bottom: 35px;
}


.button.merchandising,
.handle.merchandising
{
    color: #fff;
    border-color: #1992da #0c75bb #00589c;
    background: linear-gradient(to bottom, #37aaea 0px, #117ed2 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 1px 0 #6fc5f5 inset;
}
.button.merchandising,
.handle.merchandising
{
    color: #fff;
    border-color: #1992da #0c75bb #00589c;
    background: linear-gradient(to bottom, #37aaea 0px, #117ed2 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 1px 0 #6fc5f5 inset;
}
.button,
.handle
{
    font-size: 13px;
    line-height: 19px;

    display: inline-block;

    padding: 7px 24px;

    cursor: pointer;
    text-decoration: none;

    color: #000;
    border: 1px solid #b5b5b7;
    border-radius: 4px;
    background: linear-gradient(to bottom, #fff 0px, #ebebeb 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 1px 0 #fff inset;
}
.button,
.handle
{
    font-size: 13px;
    line-height: 19px;

    display: inline-block;

    padding: 7px 24px;

    cursor: pointer;
    text-decoration: none;

    color: #000;
    border: 1px solid #b5b5b7;
    border-radius: 4px;
    background: linear-gradient(to bottom, #fff 0px, #ebebeb 100%) repeat scroll 0 0 transparent;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff 0px, #ebebeb 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    box-shadow: 0 1px 1px 0 #fff inset;
}

.button.merchandising:hover,
.button.merchandising:focus,
.button.merchandising:active,
.superlink:active .merchandising.button.superlink,
.superlink:active .merchandising.button.superlink.secondary,
.button.merchandising.hover,
.button.merchandising.clicked,
.handle.merchandising:hover,
.handle.merchandising:focus,
.handle.merchandising:active,
.handle.merchandising.hover,
.handle.merchandising.clicked
{
    background: linear-gradient(to bottom, #2488d4 0px, #1c5bad 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 1px 0 #64bef1 inset;
}
.button.merchandising:hover,
.button.merchandising:focus,
.button.merchandising:active,
.superlink:active .merchandising.button.superlink,
.superlink:active .merchandising.button.superlink.secondary,
.button.merchandising.hover,
.button.merchandising.clicked,
.handle.merchandising:hover,
.handle.merchandising:focus,
.handle.merchandising:active,
.handle.merchandising.hover,
.handle.merchandising.clicked
{
    background: linear-gradient(to bottom, #2488d4 0px, #1c5bad 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 1px 0 #64bef1 inset;
}

.youyaku_box
{
    font-size: 14px;

    margin-bottom: 0;
}

.image_area
{
    display: block;
}

#menu_and_content
{
    width: 910px;
    margin: 15px auto 0;
    padding-bottom: 12px;
}

.dmm_gazo_box
{
    width: 212px;
    margin: 10px 0;
}

.dmm-gazo
{
    font-size: 13px;

    position: relative;

    display: inline-block;padding: 1px 20px 1px 21px;text-decoration: none;color: #000 !important;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: #f5f5f5;-ms-border-radius: 1px;-o-border-radius: 1px;
}

/*------------------------------------------------
		管理人レビュー
--------------------------------------------------*/

.youyaku_zone
{
    margin: 10px 0 0 0;
    padding: 8px;

    text-align: justify;

    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.youyaku_zone a
{
    font-weight: bold;

    color: #1f67df;
}

.review_zone
{
    margin-bottom: 20px;

    text-align: justify;
}

.review_zone .inner
{
    width: 100%;
}


.review_zone .review_title .headline
{
    color: #420;
}
.review_zone .review_title .headline a
{
    text-decoration: underline;

    color: #1f67df;
}

.review_zone .headline a[name='more']
{
    text-decoration: none;
}

.review_zone a
{
    font-weight: bold;

    text-decoration: none;

    color: #420;
}

.review_title
{
    position: relative;

    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
}

.kodomo img
{
    float: left;

    padding: 0!important;

    border-style: none!important;
}

.review_title h2
{
    position: absolute;
    left: 45px;
}
.review_title a:hover
{
    color: #420;
}

.review_title .headline
{
    font-size: 17px;

    position: absolute;
    left: 45px;

    margin: 15px 0 10px;
    padding: 0 0 5px;

    letter-spacing: -1px;

    color: #1f67df;
    border-style: none;
}


.review_content
{
    line-height: 140% !important;
}

.review_zone .inner .review_content p
{
    font-size: 14px;
    line-height: 140%;

    margin: 15px 0 11px !important;

    color: #222;
}

.kanren_zone
{
    width: 515px;
    margin: 20px 0 10px 0;

    border: 1px solid  #d5d5d5;
    background-color: #f5f5f5;
}

/*どこで使ってるの？*/
.setumei
{
    margin: 0;
}


/*------------------------------------------------
		アイコンフォント
--------------------------------------------------*/

@font-face
{
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;

    src: url('font/fontello.eot?41413843');
    src: url('font/fontello.eot?41413843#iefix') format('embedded-opentype'),
    url('font/fontello.woff?41413843') format('woff'),
    url('font/fontello.ttf?41413843') format('truetype'),
    url('font/fontello.svg?41413843#fontello') format('svg');
}

.sns_icon
{
    font-family: 'fontello';
}

.bold
{
    font-size: 14px;
    font-weight: bold;
}
.bold:before
{
    content: ' ';
}
.bold:after
{
    content: ' ';
}

.strike
{
    text-decoration: line-through;
}
.strike:before
{
    content: ' ';
}
.strike:after
{
    content: ' ';
}

/*------------------------------------------------
		SNSボタン
--------------------------------------------------*/
.sns_zone
{
    line-height: 170%!important;

    display: inline;
}

.sns_clap
{
    float: left;

    margin-right: 13px;
}
.sns_clap img
{
    padding: 0 !important;
}

.single_sns .sns_buttons
{
    float: left;
}
.sns_buttons ul
{
    margin: 0;
    padding: 0 !important;

    list-style: none;
}
.sns_buttons li
{
    float: left;

    margin: 0;

    list-style-type: none;
}

.sns_buttons li a
{
    font-size: 12px;

    display: block;

    height: 20px;
    margin: 0 10px 10px 0 !important;
    padding: 1px;
    padding: 0 !important;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    background-image: linear-gradient(#fff, #dedede);
}

.btn:focus,
.btn:hover,
.btn:active
{
    color: #333;
    border-color: #bbb;
    background-color: #d9d9d9;
    background-image: -webkit-linear-gradient(#f8f8f8,#d9d9d9);
    background-image:         linear-gradient(#f8f8f8,#d9d9d9);
    box-shadow: none;
}

.sns_buttons li a:hover
{
    color: #333;
    border-color: #bbb;
    background-color: #d9d9d9;
    background-image: -webkit-linear-gradient(#f8f8f8,#d9d9d9);
    background-image:         linear-gradient(#f8f8f8,#d9d9d9);
    box-shadow: none;
}


.sns_buttons ul:after
{
    display: block;
    clear: both;

    content: '';
}
.sns_buttons button
{
    font-size: 12px;

    display: block;

    height: 22px;
    margin: 0 10px 10px 0 !important;
    padding: 0 !important;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    background-image: linear-gradient(#fff, #dedede);
}

.sns_buttons button:hover
{
    color: #333;
    border-color: #bbb;
    background-color: #d9d9d9;
    background-image: linear-gradient(#f8f8f8, #d9d9d9);
    box-shadow: none;
}

.sns_zone.atd
{
    width: 95px;
}

.tw
{
    width: 90px;

    color: #55acee;
}/*ツイッター*/
.po
{
    width: 85px;

    color: #eb2742;
}/*ポケット*/
.hb
{
    width: 110px;

    color: #5d8ac1;
}/*はてブ*/
.co
{
    width: 95px;

    color: #5d8ac1;
}/*コメント*/
.sns_icon.atd
{
    color: #ffcf46;
}/*お気に入り*/
.sns_icon.atd
{
    content: 'b';
}

/*------------------------------------------------
		get_ad_swf.css
--------------------------------------------------*/
.swfbox
{
    position: relative;

    width: 236px;
    height: 160px;
}

/*------------------------------------------------
		dmmpart.css
--------------------------------------------------*/
.dmm_sample_title
{
    clear: both;
    overflow: hidden!important;

    width: 480px!important;
    height: 22px!important;
    margin: 0 0 0 20px;

    border-style: none!important;
}

.dmmbox td
{
    word-wrap: break-word;
}
.dmmbox_sample
{
    height: 622px;
}

@media only screen and (orientation : landscape)
{
    /*横向きの際に適用*/
    .dmmbox_sample_sp
    {
        height: 490px;
    }
    .dmmbox_sp
    {
        max-width: 300px;
        height: auto;
        margin: auto;
    }
}
@media only screen and (orientation : portrait)
{
    /*縦向きの際に適用*/
    .dmmbox_sample_sp
    {
        height: 350px;
    }
    .dmmbox_sp
    {
        max-width: 300px;
        height: auto;
        margin: auto;
    }
}

.dmmbox_sp img
{
    max-width: 147px!important;
}
.parts_sp_css
{
    max-width: 300px;
    padding: 0;

    border-collapse: collapse;

    border: 0;
}

.postmetadata
{
    font-size: 12px;
    line-height: 120%;

    clear: both;
    overflow: hidden;

    height: 43px;
    margin: 0;

    //color: #666;
}
.partscss
{
    width: 100%;
    padding: 0;

    border-collapse: collapse;

    border: 0;
}
.partscss td
{
    padding: 5px;

    border: 0;
    /* background: none repeat scroll 0% 0% #FFF!important; */
}
.partscss img
{
    padding: 0!important;

    border: 0 solid #ccc!important;
    background: none repeat scroll 0 0 #fff!important;

    //width: 90%;
}
.partscss a
{
    color: #666;
}
.partscss a:hover
{
    text-decoration: none;

    color: #666;
}
img.samplesaisei
{
    padding: 5px;

    border: 0 solid #ccc;
    background: none repeat scroll 0 0 #fff;
}
.partscss a img:hover
{
    background: #fff;
}

.slidedmm
{
    position: relative;
    top: 10px;

    overflow: hidden;

    list-style: none;
}

.dmmmore,
.dmmmore:focus
{
    font-size: 16px;
    font-weight: bold;

    display: block;

    width: 196px;
    margin: 10px auto;
    padding: 8px 6px;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: 0 none;
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%) repeat scroll 0 0 transparent;
}

.dmmmore:hover
{
    font-size: 16px;

    width: 196px;

    color: #fff;
    border: 2px solid #c00;
    background: #cf0404;
    background:    -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:      -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:     -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:         linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
}

.dmmmore_sp,
.dmmmore_sp:focus
{
    font-size: 16px;
    font-weight: bold;

    display: block;

    width: 196px;
    margin: 0 auto;
    padding: 5px 6px;

    text-align: center;
    text-decoration: none;

    color: #333;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: 0 none;
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%) repeat scroll 0 0 transparent;
}

.dmmmore_sp:hover
{
    font-size: 16px;

    width: 196px;

    color: #fff;
    border: 2px solid #c00;
    background: #cf0404;
    background:    -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:      -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:     -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
    background:         linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
}


.dmmparts_posts__h3
{
    margin-top: 10px;
    margin-bottom: 0;
}

/*------------------------------------------------
		カテゴリーページ
--------------------------------------------------*/
.bustup-avstar__plate
{
    position: relative;

    padding: 5px;

    background: #fff;
}
.bustup-avstar__plate.in
{
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
}
.bustup-avstar__plate.out
{
    margin: 30px 0 10px 0;

    border: 1px solid #aaa;
}
.bustup-avstar__plate .img
{
    float: left;

    width: 90px;
    margin: 0 0 0 10px;
}
.bustup-avstar__plate .img img
{
    width: 100%;

    border: 1px solid #aaa;
    border-radius: 5px;
}
.bustup-avstar__plate .meta
{
    padding: 0 0 0 90px;
}
.bustup-avstar__plate .meta h1
{
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;

    margin: 10px 0 0 0;

    text-align: center;
    letter-spacing: .75px;
}
.bustup-avstar__plate .meta h1 span
{
    font-size: 18px;
    font-weight: 300;

    padding: 0 0 0 5px;

    color: #bdbdbd;
}
.bustup-avstar__plate p
{
    font-size: 15px;
    font-weight: 300;

    bottom: 3px;

    margin: 0;

    text-align: center;
}
.bustup-avstar__plate .meta .jump
{
    display: block;

    width: 300px;
    margin: 0 auto;
    padding: 5px 10px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 3px;
    background: #2488d4;
}
.bustup-avstar__plate .meta .jump:hover
{
    color: #fff;
    background: #1c5bad;
}
#backgroundbox
{
    margin: 15px　0px 0 0;
    margin-bottom: 10px;
    padding: 1px 10px 0 10px;

    border: 1px solid #aaa;
    border-top: none;
    background-color: #fff;
}


.links
{
    color: #06f;/*青色*/
}

.category_menu
{
    font-size: 15px;
    line-height: 150%;

    margin: 10px 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    border: 1px solid #aaa;
    background-color: #f9f9f9;
}
.beginning_post
{
    background-color: #fffdfd!important;;
}

#backgroundbox h2
{
    padding: 3px 10px 4px 10px;

    color: #fff;
    background-color: rgb(238, 152, 152);
}

.category_menu .midasi
{
    margin: 0 0 0 20px;
    padding: 0;
}
.category_menu ul
{
    margin: 0;
}
.category_menu li
{
    margin-bottom: 3px;
}
.category_menu .links
{
    color: #515151;
}
#backgroundbox .sample_box
{
    top: -8px;

    padding: 10px 0 10px 0;

    border: 1px solid #aaa;
}
#backgroundbox h3
{
    margin: 10px 0;
    padding: 0;

    border-style: none;
}
strong:before
{
    content: ' '!important;
}
strong:after
{
    content: ' '!important;
}




.review_content
{
    border-top: 1px solid #d5d5d5;
}
.review_zone
{
    margin: 20px 0 30px;

    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #f9f9f9;
}


.review_title
{
    position: relative;

    width: 100%;
    height: 40px;
    margin: 5px 0 10px 8px;
}

.review_content p
{
    padding: 0 8px 0 8px;
}

.clearfix:after
{
    display: block;
    clear: both;

    content: '';
}



/*------------------------------------------------
    タグクラウド
--------------------------------------------------*/

.tag_cloud_zone
{
    margin: 10px 0 10px;
}
.tag_cloud_zone ul
{
    padding: 0 0 0 0;
}
.tag_cloud
{
    height: 40px;
}

.tag_cloud h2
{
    font-weight: normal;

    margin: 0;

    all: initial;
}

.cloud_left
{
    float: left;

    width: 790px;
}

.tab
{
    margin: 0;
    padding: 0;

    list-style: outside none none;
}

.tab li
{
    line-height: 38px;

    float: left;

    margin: 0 10px 0 0;
    padding: 0;

    list-style: outside none none;

    text-align: center;
}

.tab li a
{
    font-size: 13px;

    padding: 6px 8px 8px 8px;

    transition: .5s;
    text-decoration: none;

    color: #420;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
}

.tab li a:hover
{
    border: 1px solid #afd86e;
    border-radius: 5px;
    background-color: #afd86e;
}

.cloud_right
{
    float: right;

    width: 200px;
    height: 40px;
}

.cloud_right a
{
    font-size: 13px;

    margin: 0 0 0 10px;
    padding: 6px 4px 8px;

    text-decoration: none;

    color: #fff;
    border: 1px solid #ec7676;
    border-radius: 5px;
    background-color: #ec7676;
}

.cloud_right a:hover
{
    transition: .5s;
    text-decoration: underline;

    color: #ec7676;
    border: 1px solid #ec7676;
    background-color: #fff;
}

.cloud_right .atd_button a
{
    font-size: 13px;

    margin: 0;
    padding: 6px 6px 8px 6px;

    opacity: .8;
    color: #515151;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    background: #fff none repeat scroll 0 0;
}

.cloud_right .atd_button i
{
    margin-right: 2px;

    color: #ffcf46 !important;
}
.cloud_right .atd_button a:hover
{
    transition: all .3s ease 0s;
    text-decoration: none;

    opacity: 1;
    background: #f2f2f2;
}



.content_main
{
    clear: both;
    overflow: hidden;

    width: 100%;
    padding: 0 0 10px 0;

    border: 1px solid #d5d5d5;
    background-color: #fff;
}


.tab-container .tab-list .tab
{
    line-height: 32px;

    list-style: outside none none;

    text-align: center;
}

.content_main h2
{
    font-size: 18px;
}
.content_main p
{
    font-size: 14px;
}
.content_main a
{
    font-size: 14px;
}
.area
{
    overflow-x: none;
    overflow-y: scroll;

    height: 100%;
    padding: 0 10px 15px 15px;

    -webkit-overflow-scrolling: touch;
}
.area .list
{
    margin: 10px 0 0 10px;
}
.area .list li
{
    line-height: 22px;

    width: 150px;
    margin: 0 80px 5px 0;
}
.area li
{
    float: left;

    list-style: none;
}
.active a
{
    background-color: #afd86e!important;
}
#tab4 a
{
    display: block;
    float: left;

    width: 159px;
}
#tab5 li
{
    line-height: 1.25;

    width: 170px!important;
}

.tag_series
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    height: 100%;
}.series1 li
{
    float: none;
}

.tag_series section
{
    position: relative;

    margin: 5px 5px 0 5px;

    border: 1px solid #d5d5d5;
    background-color: #f9f9f9;

            flex: 1;
    -webkit-flex: 1;
}
.tag_series .series1 li
{
    float: none;
}

.tag_series h2
{
    font-size: 15px;

    margin: 0;
    padding: 1px 0 0 0;

    text-align: center;

    color: #fff!important;
    background-color: #7dc5e0;
}

.tag_series ul li
{
    line-height: 20px;

    padding: 0 0 0 10px;
}

.un_text
{
    position: absolute;
    bottom: 2px;

    padding: 0 0 0 10px;
}
.cloud_right li
{
    line-height: 38px;

    float: left;

    list-style: outside none none;
}
.cloud_searchform
{
    margin: 3px 0 0 30px;
    padding: 0 0 0 0;
}
.cloud_right ul
{
    margin: 0;
}

.cloud_midasi
{
    margin: 0;
}
#submit
{
    font-size: 13px;

    margin: 0 0 0 7px;
    padding: 6px 8px 8px;

    text-decoration: none;

    color: #420;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
}
#submit:hover
{
    transition: all .5s ease 0s;
    text-decoration: underline;

    color: #7dc5e0;
    border: 1px solid #7dc5e0;
    background-color: #fff;
}
#searchform
{
    height: 100%
    margin: 3px 0 0;
}


.top_pankuzu span
{
    font-size: 13px;

    padding: 6px;

    color: #420;
    border-radius: 3px;
    background-color: #f5f0ce;
}

.sub_title
{
    margin: 0 0 5px 0 ;
}

.sub_title2
{
    font-size: 12px;

    margin: 0 0 5px 0 ;

    color: #eb0000;
}
.focus_category
{
    margin: 5px 0 0 10px;
}
/*--------------------------------------------
    検索フォーム
---------------------------------------------*/
.cloud_searchform
{
    float: left;

    margin: 3px 10px 0 0;
    padding: 2px;

    border-radius: 3px;
    background-color: #fff;
}

.leftk
{
    float: left;

    background-color: #fff;
}

.h_input
{
    font-size: 14px;

    box-sizing: border-box;
    padding: 4px 3px 3px;

    vertical-align: middle;

    border: 0 none;
    outline: medium none;

    all: initial;
}

.rightk
{
    float: left;

    background-color: rgb(255, 255, 255);
}

#submit
{
    font-size: 14px;

    margin: 0 0 0 7px;
    padding: 3px;

    color: rgb(255, 255, 255);
    border: 1px solid rgb(125, 197, 224);
    border-radius: 3px;
    background-color: rgb(125, 197, 224);
}


/*------------------------------------------------
    他にもこんなタイトルがありましたcss
--------------------------------------------------*/

.others_title_zone
{
    margin-top: 10px;
    padding: 8px;

    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.others_title_zone ul
{
    margin: 0;
    padding: 0;

    list-style: outside none none;
}

.category_name_plate
{
    margin: 0 0 10px;
    padding: 5px;

    background-color: #fff;
    background-size: 20px 20px;
}

.category_name_plate h1
{
    font-size: 14px;
    font-weight: normal;

    all: initial;
}

.dmm_title_h
{
    font-size: 13px;

    display: block;
    color: #515151;
font-weight: 300;
}


#content_page_one h1
{
    font-family: none;
    font-size: 16px;

    text-align: left;
    letter-spacing: -1px;

    color: #000;

    -height: 100%;
}

/*--------------------------------------------
    共有ボタン
--------------------------------------------*/
.have_share_zone
{
    font-size: 12px;

    display: none;

    margin: 10px 0 0 0;
}

#have_share_button
{
    float: left;

    margin: 0;
    padding: 0;
}
#have_share_button li
{
    display: inline;
}

#have_share_button li a
{
    padding: 4px 6px;

    transition: all .5s ease 0s;
    text-decoration: underline;
    text-decoration: none;

    color: #515151;
    border-bottom: 2px solid #fff;
    background-color: #fff;
}

#have_share_button li a:hover,
#have_share_button li a.active
{
    font-size: 12px;

    transition: all .9s ease 0s;
    text-decoration: none;

    color: #cc181e;
    border-bottom: 2px solid #cc181e;
    background-color: #fff;
}

#have_share_panel
{
    padding: 8px 0 0 0;
}

#have_share_panel .active:focus #share_url_text input
{
    border-color: #000;
}

.share_jump_sumple
{
    margin: 0 0 0 5px;
    padding: 4px 6px;

    transition: all .5s ease 0s;
    text-decoration: underline;
    text-decoration: none;

    color: #515151;
    border-bottom: 2px solid #fff;
    background-color: #fff;
}
.share_jump_sumple:hover
{
    font-size: 12px;

    transition: all .9s ease 0s;
    text-decoration: none;

    color: #cc181e;
    border-bottom: 2px solid #cc181e;
    background-color: #fff;
}

#have_share_panel input
{
    font-size: 16px;
}
textarea
{
    font-size: 16px;
    line-height: 135%;

    overflow: hidden;

    width: 450px;
    height: 23px;

    resize: none;

    border: 1px solid #ccc;
}

.category_name_plate .sns_buttons
{
    margin-top: 5px;
}

/*--------------------------------------------
    サンプル動画と画像（スマホ対応)css
--------------------------------------------*/
.smp_movie_box
{
    border: 1px solid #d5d5d5;
    background-color: #f5f5f5;
}
.smp_movie_box .smp_movie_headline
{
    font-size: 15px;

    margin: 0 0 20px;
    padding: 10px;

    letter-spacing: -1px;

    color: #0db2ef;
    border-bottom: 1px solid #d5d5d5;
    background: none repeat scroll 0 0 #f5f5f5;
}
/*--------------------------------------------
    本記事
--------------------------------------------*/
.more-link_test
{
    display: inline-block;

    padding: 2px 13px;

    text-decoration: none;

    color: #fff !important;
    border-radius: 2px;
    background: none repeat scroll 0 0 #f89c1a;
}

.more-link_test:hover
{
    opacity: .8;
}

.main_kizi .less-link
{
    display: none;
}
.main_kizi .more-link
{
    display: none;
}

.area .list li:last-child
{
    width: 220px;
}

i
{
    font-weight: bold!important;

    color: red!important;
}
/*--------------------------------------------
   誰が投稿したのか判断するためのcss
--------------------------------------------*/
.pu
{
    display: none;
}

/*--------------------------------------------
   カテゴリコンテンツ用
--------------------------------------------*/

.category_contents
{
    padding: 5px;

    background-color: #fff;
}

.category_contents .midasi
{
    margin: 0 0 0 10px;
    padding: 0;
}

.category_contents h2
{
    margin: 10px 5px 0 5px;
    padding: 3px 10px 4px;

    color: #fff;
    background-color: #ee9898;
}



.category_contents  .c_h_l
{
    background-color: #ee9898;
}

.category_contents  .c_h_r
{
    background-color: #7dc5e0;
}

.category_contents .category_menu_out
{
    float: right;

    width: 50%;
}

.category_contents .category_menu_in
{
    font-size: 14px;
    line-height: 150%;

    margin: 0 5px 10px 5px;
    padding: 10px 5px 5px 10px;

    border: 1px solid #aaa;
    border-top: none;
    background-color: #f9f9f9;
}

.category_contents .category_menu_in ul
{
    padding-left: 20px;
}

.category_contents .category_menu_in .links
{
    display: block;
    overflow: hidden;

    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #515151;
}

.category_contents .category_log_out
{
    float: right;

    width: 50%;
}

.category_contents .category_log_in
{
    font-size: 12px;
    line-height: 170%;

    overflow-y: scroll;

    max-height: 200px;
    margin: 0 5px 10px 5px;
    padding: 10px 5px 5px 5px;

    border: 1px solid #aaa;
    border-top: none;
    background-color: #f9f9f9;
}

.category_contents  .category_log_in ul
{
    margin: 0 0 0 10px;
    padding-left: 5px;

    list-style-type: disc;
}

.category_contents  .category_log_in li
{
    list-style: none;
}

.on_list li
{
    font: 10px/1.5 'メイリオ',Verdana,'ＭＳ Ｐゴシック',sans-serif;

    float: initial;

    margin: 10px 0 0 10px;
}
/*--------------------------------------------
   フッターバー用
--------------------------------------------*/

#footbar
{
    width: 100%;
}

#sidebar2 ul li
{
    list-style: none;
    list-style-position: inside;
}

.rss_zone li
{
    font-size: 14px;

    padding-left: 10px;

    word-wrap: break-word;

    border: 1px solid rgb(213, 213, 213);
    border-radius: 3px;
    background-color: #f9f9f9;
}
.rss_zone
{
    font-size: 12px;

    text-align: left;
}
/*--------------------------------------------
   フッターバー用
--------------------------------------------*/

#footbar_zone
{
    width: 100%;
}

#footbar_zone .rss .inner
{
    margin: 10px auto;
}

#footbar_zone .rss .inner img
{
    display: block;

    margin: auto;
}

#footbar_zone h5
{
    font-size: 15px;
    font-weight: normal;

    margin: 0;
    padding: 3px 0;

    text-align: center;

    color: rgb(255, 255, 255);
    background-color: rgb(175, 216, 110);
}

#footbar_zone .pr .inner
{
    margin: 15px 0 0 0;

    text-align: center;
}

.footbar_box
{
    width: 220px;
    margin: 0 5px;
    padding: 10px;

    background-color: #fff;
}

.footbar_top
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    padding: 0;

    list-style: outside none none;

    justify-content: space-between;
}

.footbar_box .inner
{
    padding: 0;
}


/*--------------------------------------------
   RSS用
--------------------------------------------*/

.rss_zone
{
    font-size: 12px;

    text-align: left;
}

.rss_zone li
{
    font-size: 14px;

    padding-left: 10px;

    word-wrap: break-word;

    border: 1px solid rgb(213, 213, 213);
    border-radius: 3px;
    background-color: #f9f9f9;
}

.rss_box
{
    background-color: #fff;
}

.rss_box .inner
{
    padding: 10px;
}

.rss_zone li a
{
    text-decoration: none;

    color: #420;
}

.rss_zone li:hover
{
    background-color: #fffdfd;
}

.sampleList
{
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.sampleList li
{
    font-size: 12px;

    margin-top: -1px;
    padding: 3px;

    border-bottom: 1px dashed #006599;
}

.archive_list
{
    font-size: 15px;

    overflow: hidden;

    margin: 0;
    padding: 0;
}

/*--------------------------------------------
   記事サムネ用
--------------------------------------------*/
.category_actress .sample_box
{
    position: relative;
}

.thumbnail_zone_cur
{
    height: 220px;
}
.thumbnail_zone .inner
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    justify-content: center;
}
.left_thumbnail a{
 display: block;
}
.right_thumbnail_box
{
    width: 200px;
}

.right_thumbnail_box p
{
    margin: 0 0 0 5px;
}
.buy2
{
    position: relative;
}

dl
{
    margin-top: 0;
}

.youtube_box
{
    margin: 10px 30px;
    padding: 10px;

    text-align: center;

    border: 1px solid #d5d5d5;
    background-color: #f5f5f5;
}

.add_movie_box
{
    margin: 10px 0;
    padding: 10px 0;

    text-align: center;

    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #f5f5f5;
}

.add_movie_box.youtube
{
    padding: 10px 0;

    border-radius: 3px;
}

.add_movie_box.dmm_sample
{
    padding: 20px 10px 0 10px;
}

.delete_img
{
    margin-top: 10px;

    text-align: center;
}



/*--------------------------------------------
   　ブログパーツ
--------------------------------------------*/

.recom_clr
{
    margin: 0!important;
}

.cloud_part_box
{
    margin: 10px 0 10px 0;
}

.cloud_part_box .list:after
{
    display: block;
    clear: both;

    content: '';
}
.cloud_part_box.genre li
{
    width: 190px!important;
}
.cloud_part_box.genre li a
{
    font-size: 13px!important;
}
.cloud_part_box.genre .list
{
    margin: 10px 0 0 0 ;
}
/*--------------------------------------------
   　動画場所ナビ
--------------------------------------------*/

span[view = 'sptext']
{
    display: none;
}


/*--------------------------------------------
   　広告用
--------------------------------------------*/
.add_zone
{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;

    border: 1px solid #d5d5d5;
    background: #f5f5f5;
}
.add_zone .inner
{
    margin: 0 auto;
}
.add_zone ul
{
    margin: 0;
    padding: 0;
}
.add_zone ul li
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;
    margin: 5px 0;
    padding: 0;

    list-style: none;
}

/*.add_zone ul li:nth-child(2),li:nth-child(4){ margin-left:1%; } */

.add_zone .ad_thumnail img
{
    width: 100%;
    padding: 0!important;

    border: none!important;;
}

.add_zone .ad_text
{
    height: 40px;

    background: #fff;
}

/*--------------------------------------------
    作品詳細
---------------------------------------------*/
.link_art
{
    margin-left: 20px;
}

.link_art a
{
    font-size: 12px;

    padding: 1px 5px;

    text-decoration: none;

    color: #fff;
    background: #dbb465;
}

.d_b
{
    display: block;
}
.d_i
{
    display: inline;
}

/*--------------------------------------------
    女優ページ
---------------------------------------------*/
#backgroundbox .movie_box_d img
{
    padding: 5px;

    border: 1px solid #ccc;
    background: #ddd none repeat scroll 0 0;
}
#backgroundbox .movie_box_d img:hover
{
    background: #fff;
}
.av_star_menu .cloud_searchform
{
    padding: 3px 2px 2px;

    border: 1px solid #e0e0e0;
}
.av_star_menu h2
{
    font-size: 24px;
}


/*--------------------------------------------
    ttt_add
---------------------------------------------*/
blockquote.category_dmm
{
    text-align: center;
}

/*--------------------------------------------
    女優ページ専用
---------------------------------------------*/
.block_center
{
    margin: 0;
}
.block_center .movie_box_d
{
    margin: 0 auto;
}

/*--------------------------------------------
    後でみる
---------------------------------------------*/
.atd-article
{
    position: relative;
}

.atd-article .atd_b
{
    font-size: 14px;

    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    padding: 3px 5px;

    opacity: 1;
    color: #515151;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background: #f9f9f9;
}
.atd-article .atd_b:hover
{
    opacity: .8;
    background: #e6e6e6 none repeat scroll 0 0;
}

.atd-article .atd_b .fa-star
{
    color: #ffcf46 !important;
}

.atd_area
{
    position: relative;

    width: 100%;
}

.atd_area .atd-bk-item
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 250px;
    margin: 5px;
    padding: 5px;

    border: 1px solid #777;
    background: #f0f0f0;
}

.atd_area .atd-bk-thumb img
{
    width: 100%;
    height: 166.667px;
}

.atd_area .atd-bk
{
    display: block;

    padding: 0 5%;
}

.atd_area .atd-bk .atd-bk-title
{
    font-size: 18px;
    font-weight: bold;

    height: 55px;
    padding: 5px;

    text-align: left;

    background: #fff;
}

.atd_area  .atd-bk-del
{
    font-size: 12px;
    font-weight: bold;

    position: absolute;
    right: 1px;
    bottom: 1px;

    padding: 0 5px;

    color: #515151;
    border-radius: 3px;
    background: #dbbc8d;
}

.atd_area  .atd-bk-del a
{
    margin: 0;
    padding: 0;

    text-decoration: none;

    color: #2c0b0b;
}

.atd-bk-item .atd-bk-title a
{
    font-size: 14px;
    font-weight: normal;
}

.atd_area .atd-footer
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.atd_area .atd-header
{
    text-align: center;
}

.atd_area .atd-header .atd-header-title
{
    font-size: 18px;
    font-weight: bold;
}

.atd_area .atd-bk-del
{
    background: #dbbc8d;
}

.atd_area .atd-bk-del a
{
    color: #2c0b0b;
}

.atd_area .atd-bk:after
{
    display: block;
    clear: both;

    content: '';
}
.atd_area .head
{
    font-size: 18px;
    font-weight: bold;

    text-align: center;
}

.atd_area .atd-header-title
{
    display: none;
}

.s_atd
{
    margin: 5px 0;
}
.s_atd .s_atd_b
{
    font-size: 14px;

    display: block;

    padding: 5px 10px;

    opacity: 1;
    color: #515151;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background: #f9f9f9 none repeat scroll 0 0;
}
.s_atd .fa-star
{
    color: #ffcf46 !important;
}
.s_atd .s_atd_b:hover
{
    background: #e6e6e6;
}

#to_top
{
    position: absolute;
    right: 0;
    bottom: 0;

    display: none;

    width: 80px;
    height: 80px;

    background: #000;
}


/*------------------------------------------------
		カテゴリーページ
--------------------------------------------------*/
.tweet_zone
{
    width: 500px;
    margin: 20px 0 30px;
    padding: 10px 10px 5px 10px;

    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #f9f9f9;
}
.tweet_zone .tweet_title
{
    font-size: 17px;
    font-weight: bold;

    margin: 0 0 5px 0;

    color: #55acee;
}


/*---- vine ---- */
.tweet_zone.vine
{
    background: #f6f5f6;
}
.tweet_zone.vine .tweet_title
{
    color: #00bf8f;
}

/*------------------------------------------------
		ランキング
--------------------------------------------------*/
div#wrap table table div[style*='height:62px']
{
    height: 50px!important;
}

div#wrap table table div div[style*='right:0px;']
{
    right: 2px!important;
    bottom: 2px!important;
}

/*--------------------------------------------
    event_page
---------------------------------------------*/
#event_page
{
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;

    position: relative;

    overflow: auto;

    height: 100%;
    margin: 0 0 10px;
    padding: 10px;

    border: 1px solid #d5d5d5;
    background: #f2f2f2;
}
#event_page .out_loop
{
    font-size: 13px;

    position: absolute;
    right: 0;
    bottom: 0;

    padding: 5px 10px;

    color: #515151;
    border: 1px solid #d5d5d5;
    border-width: 1px 0 0 1px;
    background: #fff;
}

#event_page .dmm_event
{
    margin: 10px;
}
#event_page h1
{
    font-family: none;
    font-size: 16px;

    text-align: left;
    letter-spacing: -1px;

    color: #000;
}

/* menu */
#event_page #menu
{
    font-size: 15px;
    line-height: 150%;

    display: inline-block;

    margin: 10px;
    padding: 10px ;

    border: 1px solid #c8c8c8;
    background: #f9f9f9;
}
#event_page #menu a
{
    display: block;

    color: #397eaa;
}
#event_page #menu a:hover
{
    color: #01568d;
}
#event_page #menu ul
{
    margin: 0;
    padding: 0 0 0 20px;
}
#event_page #menu h3
{
    font-size: 15px;

    margin: 5px 0;
    padding: 0;

    letter-spacing: -1px;

    color: #666;
}

/* menu 横並び */
#event_page #menu.Fleft li
{
    float: left;
}
/*時計用*/
/*
#event_page .time_box {
    font-size: 26px;
    background: #DA453F;
    color: #FFF;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}
*/
#event_page .time_box .pickup
{
    font-size: 28px;
    font-weight: bold;

    margin: 0 5px;

    color: #ffe500;
}
/*テキストボックス*/
#event_page .text_box
{
    margin: 0;
    padding: 15px 0;

    text-align: center;

    opacity: .7;
    background: #fff;
}
#event_page .text_box h1
{
    font-size: 21px;

    margin: 0 0 20px 0 ;

    text-align: center;
}
#event_page .text_box span
{
    font-size: 16px;
    line-height: 1.5em;
}
#event_page .text_box #timeday
{
    font-size: 24px;
}
#event_page #menu.Fleft.dmm_event
{
    width: 100%;
    margin: 0;
    padding: 5px 0;

    text-align: center;

    border-width: 1px 0 0 0 ;
    border-top: 1px solid #e0e0e0;
    background: #f9f9f4;
}
#event_page #menu.Fleft.dmm_event ul
{
    display: inline-block;

    padding: 0;
}
#event_page #menu.Fleft.dmm_event ul li
{
    list-style: none;
}
#event_page #menu.Fleft.dmm_event li a
{
    font-size: 15px;

    display: block;

    width: 90px;
    margin: 0 10px;
    padding: 5px 15px;

    text-align: center;
    text-decoration: none;

    color: #515151;
    border-bottom: 2px solid#f89c1a;
}
#event_page #menu.Fleft.dmm_event li a:hover
{
    transition: all .5s ease 0s;

    color: #fff;
    border-radius: 3px;
    background: #f89c1a;
}
#event_page .basic_zone.text
{
    margin: 30px 20px;

    border: 1px solid #a4a2a2;
}
#event_page .basic_zone.dmm_event .wrap_box
{
    margin: 20px 60px;

    border-radius: 5px;
}
#event_page .basic_zone.dmm_event .wrap_box .head_caption
{
    font-size: 18px;

    padding: 5px;

    text-align: center;

    color: #515151;
    border-radius: 5px;
}
#event_page .basic_zone.dmm_event .wrap_box .head_caption .recording_time
{
    font-size: 18px;
    font-weight: bold;

    color: #515151!important;
}
#event_page .basic_zone.dmm_event .wrap_box .head_caption.avStar
{
    font-size: 24px;

    margin: 0 0 10px 0;

    color: #515151;
}
#event_page .basic_zone.dmm_event .wrap_box .head_caption.avStar span
{
    display: inline-block;

    border-bottom: 3px solid #ee9898;
}


#event_page .basic_zone.dmm_event .wrap_box .basic_box
{
    width: 400px;

    text-align: center;

    background: #fff;
}
#event_page .basic_zone.dmm_event .wrap_box .basic_box.new
{
    float: left;

    border: 3px solid #ee9898;
}
#event_page .basic_zone.dmm_event .wrap_box .basic_box.old
{
    float: right;

    border: 3px solid #afd86e;
}
#event_page .basic_zone.dmm_event .basic_box img
{
    width: 340px;
}
#event_page .basic_zone.dmm_event .title
{
    font-size: 15px;

    margin: 5px 0;
}
#event_page .basic_zone.dmm_event .setumei
{
    margin: 0 10px;

    color: #999;
}

#event_page .basic_zone.sns
{
    margin: 0 40px;
    padding: 10px;

    border-radius: 5px;
    background: #fff;
}

#event_page .basic_zone.otherlist
{
    margin: 70px 0 40px 0;
}
#event_page .basic_zone.dmm_event .wrap_box .basic_box
{
    height: 380px;
}
#event_page .basic_zone.otherlist .wrap_box
{
    margin: 0 30px;
    padding: 20px;

    background: #fff;
}
#event_page .basic_zone.otherlist .wrap_box a
{
    font-size: 14px;

    color: #01568d;
}
#event_page .basic_zone.otherlist .wrap_box ul
{
    padding: 0;
}
#event_page .basic_zone.otherlist .wrap_box ul li
{
    margin: 0 0 5px 0;
}
#event_page .basic_zone.otherlist .wrap_box .head_caption
{
    text-align: left;
}
#event_page .basic_zone.otherlist .wrap_box .head_caption span
{
    border-bottom: 3px solid #ffe20a;
}
#event_page .basic_zone.dmm_event .wrap_box .basic_box.new .head_caption span
{
    font-weight: bold;
    font-style: italic;

    color: #f93232;
}

#event_page .basic_zone.dmm_event .wrap_box .basic_box.new:hover
{
    transition: all .6s ease 0s;

    opacity: .8;
    color: #fff;
    background-color: #fff;
}
#event_page .basic_zone.dmm_event .wrap_box .basic_box.old:hover
{
    transition: all .6s ease 0s;

    opacity: .9;
    color: #fff;
    background-color: #e4e4e4;
}

#event_page .basic_zone.dmm_event .wrap_box .basic_box.new img
{
    border: 2px solid #fff!important;
}

#event_page .basic_zone.dmm_event .wrap_box .basic_box.old img
{
    border: 2px solid #fff!important;
}

#event_page .basic_zone.dmm_event .wrap_box .basic_box.new:hover img
{
    transition: all .6s ease 0s;

    opacity: 1;
    border: 2px solid #ee9898!important;
}
#event_page .basic_zone.dmm_event .wrap_box .basic_box.old:hover img
{
    transition: all .6s ease 0s;

    opacity: 1;
    border: 2px solid #afd86e!important;
}
#event_page .basic_zone.dmm_event .wrap_box .head_caption span .recording_time
{
    font-weight: bold;
    font-style: normal!important;
}


#blogtitle\ dmm_event
{
    text-align: left;
}

.dmm_event.banner
{
    box-sizing: content-box;
}
.dmm_event.banner.Avster
{
    margin: 10px 0;
}
.dmm_event.banner img
{
    width: 538px;
    padding: 0!important;
}
.dmm_event.banner img:hover
{
    opacity: .8;
}

.dmm_event.banner.Avstar
{
    margin: 10px 0;
}
.dmm_event.banner.Avstar img
{
    width: 516px;
}
#event_page .basic_zone.sns
{
    margin: 0 40px;
    padding: 10px;

    border-radius: 5px;
    background: #fff;
}
#event_page .sns_clap
{
    margin: 0 13px 0 38px;
}

/*------------------------------------------------
    not_found
--------------------------------------------------*/

.not_found_massage
{
    font-size: 14px;
    line-height: 130%;

    margin: 0 0 10px 0;
    padding: 60px 100px 30px;

    text-align: center;

    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #fff;
}
.not_found_massage h1
{
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    font-size: 26px;
    font-weight: bold;

    margin: 30px 0 10px 0;

    letter-spacing: 10px;

    color: #515151;
}
.not_found_massage span
{
    letter-spacing: 2px;

    color: #787878;
}
.not_found_massage img
{
    width: 128px;
}

.onmitu_box
{
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;

    position: relative;
}
.onmitu_box .massage_box
{
    position: unset!important;

    height: 0!important;
}
.onmitu_box .massage_badge
{
    position: absolute;
    top: 3px!important;
    right: 6px!important;

    text-align: right;

    opacity: 0;
}
.onmitu_box:hover .massage_badge
{
    transition: .4s ease 0s;

    opacity: 1;
}
.onmitu_box .setumei
{
    position: absolute;
    top: 143px;

    box-sizing: border-box;
    width: 236px;
    margin: 0;
    padding: 0 0 0 2px;

    background: rgba(0, 0, 0, .6) none repeat scroll 0 0;
}
.onmitu_box:hover .setumei
{
    transition: all .5s ease 0s;
}
.onmitu_box a.small
{
    text-decoration: none;

    color: #fff;
}
.onmitu_box strong.small
{
    text-decoration: none;

    color: #fff;
}
.onmitu_box .num_order
{
    position: absolute;
    top: 4px;

    padding: 0 1px;

    color: #000;
    background: rgba(0, 0, 0, .6) none repeat scroll 0 0;
}

@media only screen and (max-width: 1020px) and (min-width: 768px)
{
    .onmitu_box .massage_badge
    {
        top: 4px!important;

        opacity: 1;
    }
    .onmitu_box .massage_badge a
    {
        display: inline-block;

        padding: 5px 8px;
    }
}

/*------------------------------------------------
    TagCategory
--------------------------------------------------*/
.TagCategory.zone a
{
    font-size: 11px;

    margin: 0 2px;
    padding: 3px 6px;

    text-decoration: none;

    border: 1px solid #dcdcdc;
    border-radius: 2px;
    background: #f7f7f7 none repeat scroll 0 0;
}

a
{
    outline: none;
}

.index #movie_comment_d.s_DmmBodyComment
{
    display: none;
}

/*------------------------------------------------
    single p tag
--------------------------------------------------*/
.entry-content p
{
    margin: 10px 0 11px;
}
.alerts.zone
{
    box-sizing: border-box;
    width: 600px;
    margin: 0 0 10px 43px;
    padding: 10px;

    border: 1px solid #dcdcdc;
    background: #f7f7f7 none repeat scroll 0 0;
}
.ranking_oll.button
{
    margin: 0 0 0 5px;
    padding: 5px 10px;

    color: rgb(255, 255, 255);
    border: none;
    background: rgb(72, 72, 72) none repeat scroll 0 0;
    box-shadow: none;
}
.ranking_oll.button:hover
{
    opacity: .8;
}

/*------------------------------------------------
    後で見るボタン
--------------------------------------------------*/
.atd_zone
{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background: #515151;
    z-index: 100;
}

#atd_ol_tab
{
    font-size: 12px;

    position: absolute;
    top: 10px;
    right: 10px;

    display: none;

    padding: 5px;

    opacity: .8;
    color: #515151;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    background: #fff;
}

#atd_ol_tab .inner
{
    padding: 5px;

    border: 1px solid #d5d5d5;
    border-radius: 5px;
    background: #f9f9f9;
}
#atd_ol_tab:hover
{
    opacity: 1;
}

span.atd_emphasis
{
    font-size: 15px;
    font-weight: bold;
}

#atd_list
{
    position: absolute;
    top: 150px;
    right: 3px;

    visibility: hidden;

    width: 300px;

    -webkit-transition: all 1s;
       -moz-transition: all 1s;
        -ms-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;

    opacity: 0;
    border: 1px solid #777;
    background: #fff;
}
.atd_zone .atd_list_button:hover #atd_list
{
    visibility: visible;

    opacity: 1;
}
.atd_zone .atd_list_button
{
    position: absolute;
    top: 2px;
    right: 2px;

    width: 150px;
    height: 45px;
}

.atd_zone .atd-bk-thumb img
{
    width: 100%;
}
.atd_zone .atd-bk
{
    display: block;

    padding: 0 5%;
}
.atd_zone .atd-bk .atd-bk-title
{
    padding: 5px;

    text-align: left;

    background: #fff;
}

.atd_emphasis_i .fa-star
{
    font-size: 32px!important;

    color: #ffcf46!important;
}


/* --------- 固定ページ　シリーズ & ジャンル --------- */
.tagcat_list .entry-content
{
    padding: 10px 16px;

    border: 1px solid #d1d1d1;
    background-color: #fff;
}

.go_top
{
    width: auto;
    margin: 0;

    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: none;
    background-color: #fff;
}

.go_top a
{
    font-size: 14px;
    line-height: 30px;

    display: block;

    width: 380px;
    margin: 0 auto;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: #f9f9f9;
}

#page_genrelist,
#page_serieslist
{
    width: 100%;
}

.tagcat_list table
{
    empty-cells: show;
    border-spacing: 0;
    border-collapse: collapse;
}

#page_genrelist td,
#page_serieslist td
{
    padding: 0 16px;

    vertical-align: top;
}

#page_genrelist ul,
#page_serieslist ul
{
    margin: 0;
    padding: 0 0 0 10px;
}

#page_genrelist ul li,
#page_serieslist ul li
{
    font-size: 12px;

    margin-bottom: 10px;

    list-style: none;
}

#page_genrelist ul li a,
#page_serieslist ul li a
{
    font-size: 13px;
    line-height: 1.3;
}

#page_genrelist h2,
#page_serieslist h2
{
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3;

    margin: 10px 0;
    padding: 10px 3px;

    letter-spacing: normal;

    color: #e47911;
    border-bottom: 1px solid #d9d9d9;
}

/* DMMパーツ */
.dmmad
{
    margin-bottom: 20px;
}

.dmmad h1
{
    font-family: Georgia, Times New Roman, Times, Geneva, serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 130%;

    display: inline-block;

    margin: 0;
    padding: 0;
    padding-left: 10px;

    text-align: left;
    letter-spacing: 0;

    color: #5d2e00;
}

.dmmad .dmm_rental
{
    font-size: 11px;
    line-height: 30px;

    float: right;

    padding: 0 10px;

    text-decoration: none;
    letter-spacing: 1px;

    color: #fff;
    background: #6d6d6d;
}

.dmmad .dmm_rental:hover
{
    text-decoration: none;

    color: #fff;
    background: #545454;
}

.dmmad .aside-part
{
    width: 100%;
    margin: 0 0 10px 0;
}

.dmmad .aside
{
    position: relative;

    float: left;

    width: 32%;
}

.dmmad .aside:nth-child(2)
{
    margin: 0 2%;
}

.dmmad .rank
{
    font-size: 13px;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    padding: 1px 10px;

    color: #fff;
    background: rgba(233,0,0,1);
}

.dmmad .dmm_thumnail
{
    position: relative;
}

.dmmad .dmm_thumnail:hover .mask
{
    opacity: 1;
}

.dmmad .dmm_thumnail img
{
    max-height: 192px;

    vertical-align: bottom;
}

.dmmad .mask
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    -webkit-transition: all .2s ease;
            transition: all .2s ease;

    opacity: 0;	/* マスクを表示しない */
    color: #fff;
    background-color: rgba(0,0,0,.5);	/* マスクは半透明 */
}

.dmmad .review_box:hover
{
    color: #fff;
}

.dmmad .review_box .review_title
{
    font-size: 13px;

    overflow: hidden;

    width: auto;
    max-width: 271px;
    height: auto;
    max-height: 18px;
    margin: 0;
    padding: 30px 10px 5px;
}

.dmmad .review_msg
{
    font-size: 12px;
    line-height: 1.7;

    padding: 5px 10px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.dmmad .review_detail
{
    font-size: 11px;

    padding: 5px 10px 0 0;

    text-align: right;
}

.dmmad .title
{
    font-size: 13px;

    text-decoration: none;

    border-bottom: 1px solid #420;
}

.dmmad .title:hover
{
    text-decoration: none;

    border-bottom: none;
}
/* dmmad-single*/
.dmmad-single
{
    width: 515px;
    margin: 10px 0;

    border: 1px solid  #e0e0e0;
}
.dmmad-single .head-title
{
    margin: 0;
    padding: 7px 0;

    text-align: center;

    color: #ec7676;
    border-bottom: 1px solid  #e0e0e0;
    background: #f5f5f5;
}
.dmmad-single .head-title:before
{
    font-size: 13px;

    margin: 0 10px 0 0;
    padding: 0 7px;

    content: 'SALE';
    letter-spacing: 2px;

    color: #fff;
    border-radius: 3px;
    background: #f44;
}
.dmmad-single a
{
    text-decoration: none;

    color: #515151;
}
.dmmad-single .dmmad-single__inner
{
    display: flex;

    padding: 7px;
}
.dmmad-single__inner .dmmad-single__thumbnail
{
    width: 55%;
}
.dmmad-single__inner .dmmad-single__thumbnail.large
{
    width: 100%;
}
#content .post .dmmad-single img
{
    width: 100%;
    padding: 0;

    border: none;
}
.dmmad-single__inner .dmmad-single__description
{
    font-size: 13px;

    position: relative;

    width: 45%;
    padding: 0 0 0 7px;
}
.dmmad-single__description .review_title
{
    font-size: 15px;
    font-weight: 700;

    overflow: hidden;

    height: auto;
    height: 24px;
    margin: 5px 0 10px 8px;
}
.dmmad-single__description .review_detail
{
    font-size: 11px;

    overflow: hidden;

    height: 15px;

    text-align: right;

    color: #909090;
}
.dmmad-single__inner .dmmad-single__description .more-button
{
    position: absolute;
    bottom: 5px;

    box-sizing: border-box;
    width: 96%;
    padding: 5px 7px;

    text-align: center;

    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.dmmad-single:hover
{
    background: #fefefe;
}
.dmmad-single:hover a
{
    text-decoration: underline;
}
.dmmad-single:hover .dmmad-single__thumbnail
{
    opacity: .9;
}
.dmmad-single:hover .more-button
{
    transition: all .1s;

    color: #ec7676;
    border: 1px solid #ec7676;
}
.dmmad-single__inner .dmmad-single__description .more-button:hover
{
    box-shadow: rgba(0,0,0,.1) 0 2px 3px 0;
}

/*------------------------------------------------
		しこしこ太郎ホバー
--------------------------------------------------*/
.sikosikotarou a
{
    display: block;

    width: 120px;
    height: 70px;

    text-indent: -9999px;

    background: url('http://part.pee-puu-see.com/imageuploader/2015-11/thums/39c238b325e572d8f41fef02d02dd9dd487b5764.gif') no-repeat;
}

.sikosikotarou a:hover
{
    background-position: 0 -70px;
}

/*Add-Advertisement*/
.Add-Advertisement
{
    height: 100%;
    margin: 0 0 10px;
    padding: 30px;

    border: 1px solid #d5d5d5;
    background: #fff;
}
.Add-Advertisement .h2
{
    font-size: 19px;

    margin: 15px 0 10px 0;
    padding: 0 0 3px 0;

    letter-spacing: -1px;

    color: #0db2ef;
    border-bottom: 1px solid #888;
}

.article-images
{
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 10px;

    text-align: center;
}
.article-images img
{
    width: 100%;
    margin: 10px 0;
    padding: 0;
}

.aritcle-jump_button
{
    position: fixed;
    z-index: 999;
    right: 5px;
    bottom: 5px;

    margin: 0 auto;

    text-align: center;

    color: #fff;
    border-radius: 3px;
    background: rgb(36, 136, 212) none repeat scroll 0 0;
}
.aritcle-jump_button a
{
    display: block;

    padding: 10px 15px;

    text-decoration: none;

    color: #fff;
}
.aritcle-jump_button a:hover
{
    color: #fff;
    background: #1c5bad;
}

.matome_zone
{
    margin: 10px 0;
}
.matome_zone .inner
{
    position: relative;

    height: 133px;

    border: 1px solid #e0e0e0;
}
.matome_zone .inner a
{
    display: block;

    background: rgba(0, 0, 0, .5);
}
.matome_zone .inner a:hover
{
    display: block;

    background: rgba(0, 0, 0, .3);
}
.matome_zone .inner .text
{
    position: absolute;
    z-index: 999;

    display: -webkit-flex;
    display:         flex;

    width: 100%;
    height: 133px;
    margin: 0;

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    flex-flow: column nowrap;
}
.matome_zone .inner .text h3
{
    font-size: 21px;

    display: block;

    margin: 0;
    padding: 0;

    color: #fff;
}
.matome_zone .inner .text b
{
    font-weight: 300;

    display: block;

    color: #fff;
}
.matome_zone .inner .images
{
    display: flex;
}
.matome_zone .inner .images img
{
    height: 133px;

    opacity: .9;
}

.matome_zone.dmm-event .inner
{
    overflow: hidden;

    height: 100px;

    border: none;
}
.matome_zone.dmm-event .inner .text
{
    height: 100px;
}
.matome_zone.dmm-event .inner .text h3,
.matome_zone.dmm-event .inner .text b
{
    letter-spacing: 3px;

    color: #fff;
    border-bottom: 2px solid #ff5e5e;
    background: rgba(51, 204, 255, .8);
}
.matome_zone.dmm-event .inner .text h3
{
    margin: 0 0 5px 0;
}

.matome_zone.dmm-event .inner .text h3 span
{
    font-size: 24px;

    color: #eac469;
}
.matome_zone.dmm-event .inner .text h3 span.yel
{
    font-size: 24px;

    color: #ff0;
}
.matome_zone.dmm-event .inner .text h3 span.red
{
    font-size: 24px;

    color: #ff5e5e;
}
#sidebar2 .inner
{
    width: 250px;
}
#sidebar2 *
{
    box-sizing: border-box;
}
#sidebar2 .inner .dmm_event_box
{
    margin: 0 0 10px 0;
    padding: 5px;

    border: 1px solid #d5d5d5;
    background: #fff;
}
#sidebar2 .inner .dmm_event_box .head-title
{
    font-weight: 700;

    margin: 0;

    text-align: center;
}
#sidebar2 .inner .dmm_event_box .sub-me
{
    font-size: 9px;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #f30909;
}


.dmm_event_box
{
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 0;

    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
}
.dmm_event_box *
{
    box-sizing: border-box;
}
.dmm_event_box .head-title
{
    font-size: 18px;
    font-weight: 700;

    margin: 0;

    text-align: center;
}
.dmm_event_box .sub-me
{
    font-size: 11px;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #f30909;
}
.dmm_event_box.typeA ul
{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.dmm_event_box.typeA li
{
    width: 49%;
}
.dmm_event_box.typeA li a
{
    position: relative;

    display: block;

    margin: 0 0 5px 0;

    text-decoration: none;

    border: 1px solid #e0e0e0;
}
.dmm_event_box.typeA li a:hover
{
    opacity: .8;
    color: #515151;
    border: 1px solid #f89c1a;
}
.dmm_event_box.typeA li a .num_order
{
    font-size: 11px;
    font-weight: 700;

    position: absolute;
    bottom: 30px;

    padding: 0 7px 0 5px;

    color: #fff;
    background: rgba(255,255,255,.7);
}
.dmm_event_box.typeA li:nth-child(1) .num_order
{
    color: #fff;
    background: #d9b340;
}
.dmm_event_box.typeA li:nth-child(2) .num_order
{
    background: #6f7b83;
}
.dmm_event_box.typeA li:nth-child(3) .num_order
{
    background: #a15326;
}
.dmm_event_box.typeA li:nth-child(4) .num_order
{
    color: #515151;
}

.dmm_event_box.typeA li .description
{
    font-size: 9px;

    overflow: hidden;

    height: 25px;
    margin: 0;
}
.dmm_event_box.typeA li img
{
    width: 100%;
}
.dmm_event_box .typeA-button
{
    display: block;

    padding: 3px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    background: #f89c1a;
}
.dmm_event_box .typeA-button:hover
{
    transition: all .3s;

    background: #f09719;
    box-shadow: rgba(0,0,0,.2) 0 2px 5px 0;
}

.dmm_event_box .typeB
{
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: space-between;
}

.dmm_event_box .typeB li
{
    width: 24%;
}
.dmm_event_box .typeB li a
{
    position: relative;

    display: block;

    margin: 0 0 5px 0;

    text-decoration: none;

    border: 1px solid #e0e0e0;
}
.dmm_event_box .typeB li a:hover
{
    opacity: .8;
    color: #515151;
    border: 1px solid #f89c1a;
}
.dmm_event_box .typeB li a .num_order
{
    font-size: 11px;
    font-weight: 700;

    position: absolute;
    bottom: 30px;

    padding: 0 7px 0 5px;

    color: #fff;
    background: rgba(255,255,255,.7);
}
.dmm_event_box .typeB li:nth-child(1) .num_order
{
    color: #fff;
    background: #d9b340;
}
.dmm_event_box .typeB li:nth-child(2) .num_order
{
    background: #6f7b83;
}
.dmm_event_box .typeB li:nth-child(3) .num_order
{
    background: #a15326;
}
.dmm_event_box .typeB li:nth-child(4) .num_order
{
    color: #515151;
}

.dmm_event_box .typeB li .description
{
    font-size: 9px;

    overflow: hidden;

    height: 25px;
    margin: 0;
}
.dmm_event_box .typeB li img
{
    width: 100%;
    padding: 0 !important;

    border: none !important;
}
.dmm_event_box .typeB-button
{
    font-size: 15px;

    display: block;

    padding: 5px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    background: #f89c1a;
}
.dmm_event_box .typeB-button:hover
{
    transition: all .3s;

    background: #f09719;
    box-shadow: rgba(0,0,0,.2) 0 2px 5px 0;
}
/* dmm-event-thumbnail&dmm-event_dmm-gazo2*/
#content .post .dmm-event-thumbnail img
{
    background: #ea4651;
}
.dmm-event_dmm-gazo2
{
    padding: 10px;

    background: #ea4651;

    margin: 10px 0;
}
.dmm-event_dmm-gazo2 *
{
    box-sizing: border-box;
}
.dmm-event_dmm-gazo2 .head-title h3
{
    font-size: 28px;
    line-height: 1.25;

    margin: 0;

    text-align: center;

    color: #fff;
}
.dmm-event_dmm-gazo2 .pc-dmm-gazo__title
{
    position: relative;

    width: 50%;
}
.dmm-event_dmm-gazo2 .movie_title_d
{
    text-align: center;
}
.dmm-event_dmm-gazo2 .movie_comment_d
{
    margin: 10px;
    padding: 10px;

    background: #fff;
}
/*Add-Advertisement*/
.Add-Advertisement
{
    height: 100%;
    margin: 0 0 10px;
    padding: 30px;

    border: 1px solid #d5d5d5;
    background: #fff;
}
.Add-Advertisement .h2
{
    font-size: 19px;

    margin: 15px 0 10px 0;
    padding: 0 0 3px 0;

    letter-spacing: -1px;

    color: #0db2ef;
    border-bottom: 1px solid #888;
}
/*------------------------------------------------
		投稿装飾
--------------------------------------------------*/
.red
{
    color: #f00;
}
.block
{
    display: block;
}
.add_writing_zone
{
    margin: 10px 0;
    padding: 8px;

    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #f9f9f9;
}
.add_writing_zone a
{
    font-weight: bold;

    color: #1f67df;
}
.atd_area
{
    position: relative;

    width: 100%;
}

.atd_area .atd-bk-item
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 250px;
    margin: 5px;
    padding: 5px;

    border: 1px solid #777;
    background: #f0f0f0;
}

.atd_area .atd-bk-thumb img
{
    width: 100%;
}

.atd_area .atd-bk
{
    display: block;

    padding: 0 5%;
}

.atd_area .atd-bk .atd-bk-title
{
    font-size: 18px;
    font-weight: bold;

    height: 55px;
    padding: 5px;

    text-align: left;

    background: #fff;
}

.atd_area  .atd-bk-del
{
    font-size: 12px;
    font-weight: bold;

    position: absolute;
    right: 1px;
    bottom: 1px;

    padding: 0 5px;

    color: #515151;
    border-radius: 3px;
    background: #dbbc8d;
}

.atd_area  .atd-bk-del a
{
    margin: 0;
    padding: 0;

    text-decoration: none;

    color: #2c0b0b;
}

.atd-bk-item .atd-bk-title a
{
    font-size: 14px;
    font-weight: normal;
}

.atd_area .atd-footer
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.atd_area .atd-header
{
    text-align: center;
}

.atd_area .atd-header .atd-header-title
{
    font-size: 18px;
    font-weight: bold;
}

.atd_area .atd-bk-del
{
    background: #dbbc8d;
}

.atd_area .atd-bk-del a
{
    color: #2c0b0b;
}

.atd_area .atd-bk:after
{
    display: block;
    clear: both;

    content: '';
}
.atd_area .head
{
    font-size: 18px;
    font-weight: bold;
}

.atd_area .atd-header-title
{
    display: none;
}
#content_page_atd h2
{font-size: 21px;

    text-align: center;
}
#content_page_atd .post,
#comments
{
    overflow: hidden;
}

.add-ranking__area
{
    font-size: 13px;

    display: flex;

    padding: 0 7px;

    justify-content: space-between;
}
.add-ranking__area a
{
    display: block;
}
.add-ranking__area .inner
{
    position: relative;
}
.add-ranking__area *
{
    box-sizing: border-box;
}
.add-ranking__area .add-box
{
    position: relative;
    z-index: 1;

    width: 236px;
    padding: 1px;
}
.add-ranking__area .add-box img
{
    width: 100%;
}
.add-ranking__area .add-box .setumei
{
    font-weight: 300;

    position: absolute;
    bottom: 0;

    width: 100%;
    margin: 0;
    padding: 0 1px;

    color: #fff;
    background: rgba(0, 0, 0, .6) none repeat scroll 0 0;
    /*! box-sizing: border-box; */
    /*! display: block; */
}
.add-ranking__area .num-order
{
    font-weight: 700;

    position: absolute;
    z-index: 2;

    padding: 0 1px;

    color: rgb(255, 255, 255);
    color: #fff;
    background: rgba(0, 0, 0, .6) none repeat scroll 0 0;
}

.add-ranking__area .massage-badge
{
    position: absolute;
    z-index: 2;
    top: 0 !important;
    right: 0 !important;

    text-align: right;

    opacity: 0;
}
.add-ranking__area .add-box:hover .massage-badge
{
    opacity: 1;
    transition: .4s ease 0s;
}
.massage-badge .dmm-detail,
.massage-badge .movie-navi
{
    font-size: 12px;

    display: inline-block;

    height: 17px;
    padding: 0 5px;

    text-decoration: none;

    color: #fff;
}
.massage-badge .dmm-detail
{
    background: #ee9898;
}
.massage-badge .movie-navi
{
    background: #aa9474;
}
