

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 1.6s;
  -moz-transition: visibility 0s 1.6s;
  transition: visibility 0s 1.6s;
}
.cd-panel.is-visible {
  z-index: 9999;
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
  z-index: 2;
/*  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);*/
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}
.from-right .cd-panel-header {
  right: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 50%;
  }
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-image: url('../images/next.svg');
  background-position: center center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.no-touch .cd-panel-close:hover {
  background-color: #eee;
}

.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 50%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 50%;
  }
}

.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 /* padding: 70px 5%;*/
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #424f5c;
  line-height: 1.4;
  margin: 2em 0;
}
.cd-panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }
}




/*STANDRAD NAVIGATION MENU*/
#main_nav {
    margin-left: 40px;
    margin-top: 20px;
}

#main_nav ul {
    padding: 0;
    margin: 0;
    float: right;
    -webkit-transition: .5s;
    transition: .5s;
}

#main_nav > ul {
    margin-top: 0px;
}

#main_nav li {
    float: left;
    position: relative;
   /* width: 120px;*/
    list-style: none;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: right;
    padding-left: 50px;
}

#main_nav > ul > li > a{
    padding: 0px;
}

#main_nav > ul > li li {
    text-align: left !important;
    padding: 0px;
}
#main_nav > ul > li > a, #main_nav h1 {
    text-transform: uppercase;
}

#main_nav a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #000;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
}

#main_nav > ul > li > ul{
  margin-top: 15px;
}
#main_nav > ul > li > ul > li > a {
    letter-spacing: normal;
    font-size: 12px;
    line-height: 19px;
    color: #fff;
}
#main_nav > ul > li > ul > li > a:hover {
  background-color: #080808;
  color: #fff;
}

#main_nav > ul > li > ul > li > ul > li > a {
    letter-spacing: normal;
}

#main_nav ul ul {
  background-color: #232323;
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
}

#main_nav ul ul ul {
    left: 100%;
    top: 0;
}

#main_nav li:hover, #main_nav li:hover li {
}

#main_nav li li:hover, #main_nav li li:hover li {
}

#main_nav li li li:hover {
}

#main_nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}
  
    .standard-nav-active{
        visibility: hidden;
    }
    .standard-nav-outer{
      margin: 30px 0;
    }