@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	background-color: #F9F9F9;
}
.header_wrapper {
}
.keyword {
	height: 3px;
	overflow: scroll;
}
.header {
	width: 990px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: bold;
	padding-top: 10px;
}
.logo_en {
	width: 728px;
	float: left;
}
.logotext {
	float: right;
	width: 260px;
	text-shadow: 2px 2px #CCC;
	color: #EB2969;
}
.topmenu_wrapper {
	height: 40px;
	direction: rtl;
	font-size: 11px;
	text-shadow: 1px 1px #000;
}
.topmenu {
	background-color: #EB2969;
	height: 35px;
	width: 990px;
	margin: 0 auto;
	color: #F59CB9;
	font-weight: bold;
	padding-top: 5px;
}
.topmenu ul {
	list-style-type: none;
	margin: 0;
}
.topmenu li {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	color: #FFF;
}
.topmenu a {
	color: #FFF;
	text-decoration: none;
}
.topmenu a:hover {
	color: #F59CB9;
}
.container {
	width: 990px;
	margin: 0 auto;
	background-color: #FFF;
	border-radius: 5px;
	border: solid 1px #999;
	margin-top: 15px;
}
.contain {
	margin-top: 10px;
	margin-bottom: 10px;
}
.clear {
	clear: both;
}
.left {
	width: 152px;
	margin-right: 5px;
	float: left;
	direction: rtl;
	margin-left: 5px;
}
.menu_left {
	font-size: 11px;
	color: #000;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	border: solid 1px #C3C3C3;
	border-radius: 5px;
}
.left_box {
	font-size: 11px;
	color: #000;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	border: solid 1px #C3C3C3;
	border-radius: 5px;
}
.ads_left {
	padding: 5px 12px;
	text-align: center;
}
.menu_left ul {
	list-style-type: none;
	margin: 0;
	padding: 2px;
}
.menu_left li {
	padding: 2px 3px;
	background-color: #FFFFFF;
	margin: 3px 0;
	border-bottom: solid 1px #EFEFEF;
	font-weight: bold;
}
.menu_left a {
	color: #333;
	text-decoration: none;
	padding: 2px 4px 4px 2px;
	width: 135px;
	display: block;
}
.menu_left a:hover {
	color: #FFF;
	padding: 2px 4px 4px 2px;
	background-color: #F59CB9;
	width: 135px;
	display: block;
}
.middle_wrapper {
	width: 503px;
	float: left;
}
.news_box {
	float: right;
	width: 500px;
	font-size: 12px;
}
.middle {
	background-color: #FFFFFF;
	width: 478px;
	margin-right: 13px;
	border: solid 1px #C3C3C3;
	direction: rtl;
	padding: 10px;
	margin-bottom: 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.small_box {
	float: right;
	padding-bottom: 10px;
}
.img_box {
	float: right;
}
.text_box {
	float: left;
	width: 330px;
	direction: rtl;
}
.small_box ul {
	padding: 0;
	margin: 0;
	padding-right: 20px;
}
.small_box li {
	list-style-type: none;
	padding-bottom: 5px;
	border-bottom: dotted 1px #E5E5E5;
	padding-top: 5px;
	color: #E5E5E5;
	direction: rtl;
	width: 320px;
}
.small_box a {
	list-style-type: none;
	color: #06C;
	text-decoration: none;
}
.small_box a:hover {
	list-style-type: none;
	color: #C3C;
	text-decoration: none;
}
.box_div_right {
	float: right;
	padding-bottom: 10px;
	line-height: 27px;
	font-size: 14px;
	width: 480px;
}
.box_last_news {
	float: left;
	width: 145px;
	height: 140px;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 15px;
	line-height: 18px;
	font-size: 12px;
	text-align: center;
}
.box_last_news a {
	color: #06C;
	text-decoration: none;
}
.box_last_news a:hover {
	color: #F60;
	text-decoration: none;
}
.right {
	width: 305px;
	font-size: 12px;
	float: right;
	direction: rtl;
	margin-right: 5px;
}
.alert {
	color: #F00;
	text-align: center;
	line-height: 18px;
	font-size: 11px;
}
.news_right {
}
.right .box {
	border: solid 1px #C3C3C3;
	background-color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	width: 290px;
	text-align: justify;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 23px;
	border-radius: 3px;
}
.right .rand {
	border: solid 1px #C3C3C3;
	background-color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
	text-align: justify;
	padding: 5px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 23px;
	direction: rtl;
	font-size: 8px;
	border-radius: 3px;
}
.right .rand a {
	text-align: justify;
	text-decoration: none;
	color: #06C;
}
.right .rand a:hover {
	text-align: justify;
	text-decoration: none;
	color: #F60;
}
.rand_box {
	line-height: 16px;
	margin-top: 3px;
	border-bottom: dotted 1px #C3C3C3;
	padding-top: 3px;
}
.rand_pic {
	padding-left: 10px;
	float: right;
	width: 60px;
}
.rand_text {
	padding-left: 10px;
	float: left;
	width: 220px;
	font-size: 12px;
	text-align: right;
}
.pic_box {
	font-size: 11px;
}
.pic_box ul {
	margin: 0px;
	padding: 0;
}
.pic_box li {
	width: 127px;
	height: 95px;
	margin: 5px;
	list-style-type: none;
	float: left;
	border: solid 1px #C3C3C3;
	display: block;
	padding: 5px;
	text-align: center;
}
.ads_text {
	border: solid 1px #C3C3C3;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
	padding: 5px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 23px;
	direction: rtl;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.ads_text ul {
	margin: 0;
	padding: 0;
}
.ads_text li {
	list-style-type: none;
	border: solid 1px #EBEBEB;
	margin: 8px 5px;
	padding: 5px 10px;
	background-color: #F59CB9;
}
.ads_text a {
	color: #333;
	text-decoration: none;
}
.ads_text a:hover {
	color: #FFF;
	text-decoration: none;
}
.footer_wrapper {
	margin-top: 25px;
	width: 990px;
	margin: 15px auto;
	border-radius: 5px;
	margin-bottom: 0px;
}
.plusone {
	text-align: center;
}
.footer {
	width: 980px;
	margin: 0px auto 0 auto;
	direction: rtl;
	color: #369;
	text-align: center;
	border-radius: 5px;
	font-size: 12px;
	border: solid 2px #F59CB9;
	padding: 2px 5px;
}
.red {
	color: #F00;
}
.lett_detail {
	font-weight: bold;
	color: #C30;
}
.ads_top {
	border: solid 1px #C3C3C3;
	margin: 5px 5px 15px 5px;
	padding-top: 5px;
	padding-bottom: 2px;
	border-radius: 3px;
}
.ads_300 {
	font-size: 12px;
	color: #000;
	margin-bottom: 10px;
	border: solid 1px #C3C3C3;
	padding: 5px 4px;
	border-radius: 3px;
	width: 300px;
}
.ads_728 {
	font-size: 12px;
	color: #000;
	padding: 10px 4px;
	width: 728px;
	margin: 0 auto 5px auto;
}
.ads_970 {
	font-size: 12px;
	width: 970px;
	margin: 0 auto 5px auto;
}
.ads_468 {
	font-size: 12px;
	margin-bottom: 15px;
	padding: 10px 4px;
	width: 468px;
	margin: 0 auto 20px auto;
}
.box_ads_120 {
	margin-bottom: 10px;
	border: solid 1px #C3C3C3;
	border-radius: 3px;
}
.ads_120 {
	font-size: 12px;
	margin-bottom: 5px;
	padding: 5px 0px;
	width: 120px;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
}
.title_pink {
	background-color: #FF75FF;
	padding: 5px 10px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	border-radius: 5px;
	margin: 20px auto 15px auto;
	width: 250px;
}
.title_pink a {
	color: #FFF;
	text-decoration: none;
	padding: 5px 10px;
}
.title_pink a:hover {
	color: #FF0;
	text-decoration: none;
	padding: 5px 10px;
}
.title_green {
	background-color: #2DB200;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.title_greendark {
	background-color: #218400;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.title_orangedark {
	background-color: #FF6600;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.title_yellow {
	background-color: #ECBD00;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.title_bluedark {
	background-color: #3080C7;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.title_base {
	background-color: #EB2969;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 7px 40px;
	font-weight: bold;
}
.title_red {
	background-color: #CC3300;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.title_orange {
	background-color: #F09E2F;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.title_purple {
	background-color: #B530BA;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}
.title_purpledark {
	background-color: #7D004F;
	direction: rtl;
	float: right;
	box-shadow: 2px 2px 4px #DDD;
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
}

.title_blue {
	background-color: #30B6C9;
	padding: 7px 10px;
	color: #FFF;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.title_down {
	background-color: #FF66CC;
	padding: 7px 10px;
	color: #FFF;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.paragraph {
	text-align: justify;
	padding: 0px 5px 0 5px;
}
.month {
	font-weight: bold;
	color: #EB2969;
	font-size: 14px;
	border-bottom: solid 1px #EB2969;
}
.title6 {
	border-bottom: solid 1px #F59CB9;
}
.title7 {
	color: #EB2969;
	border-top: solid 1px #F59CB9;
	border-left: solid 1px #F59CB9;
	border-top-left-radius: 10px;
	font-size: 12px;
	padding: 3px 10px 7px 10px;
	border-right: solid 1px #F59CB9;
	line-height: 26px;
	margin-bottom: 10px;
}
.best {
}
.best li {
	float: right;
	border-bottom: 0;
	margin-left: 5px;
	margin-right: 15px;
	list-style-type: none;
	line-height: 20px;
	padding-top: 3px;
}
.best ul {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	display: block;
}
.best ul a {
	color: #06C;
	text-decoration: none;
}
.tbl1 {
	border: solid 1px #999;
	border-collapse: collapse;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 12px;
}

.tbl1 a:link {
	color: #000;
	text-decoration: none;
}
.tbl1 a:visited {
	color: #000000;
	text-decoration: none;
}
.tbl1 a:hover {
	color: #F09E2F;
	text-decoration: none;
}
.tbl2 {
	border: solid 1px #999;
	border-collapse: collapse;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 12px;
}
.alphabet3 {
	font-size: 14px;
}
.sleep {
	font-size: 14px;
	color: #900;
}
.sleep a {
	font-weight: bolder;
	color: #EB2969;
	text-decoration: none;
	padding: 5px;
}
.sleep a:hover {
	text-decoration: none;
	padding: 5px;
	color: #4BA9CA;
}



.img_center {
	text-align: center;
	margin: 0 auto;
	width: 400px;
}
.img_center2 {
	text-align: center;
	margin: 0 auto;
	width: 435px;
}
.comment1 {
	font-size: 12px;
	text-align: justify;
	color: #900;
}
.back_oracle {
	background-image: url(../images/oracle-card.jpg);
	height: 115px;
	width: 80px;
	cursor: pointer;
	float: left;
	margin-right: 9px;
	border-radius: 10px;
	margin-bottom: 9px;
}
.oracle {
	padding: 10px 10px;
	line-height: 30px;
}.tale {
	font-weight: normal;
}
.back_candle {
	background-image: url(../images/candle-taroot-card.jpg);
	height: 45px;
	width: 40px;
	cursor: pointer;
	float: left;
	margin-right: 8px;
	margin-bottom: 7px;
	background-repeat: no-repeat;
	border: solid 1px orange;
}
.back_tree {
	background-image: url(../images/tree.jpg);
	height: 40px;
	width: 40px;
	cursor: pointer;
	float: left;
	margin-right: 8px;
	margin-bottom: 7px;
	background-repeat: no-repeat;
	border: solid 1px green;
}

.back_coffee {
	background-image: url(../images/coffee.png);
	height: 45px;
	width: 40px;
	cursor: pointer;
	float: left;
	margin-right: 8px;
	margin-bottom: 7px;
	background-repeat: no-repeat;
	border: solid 1px brown;
}
.back_mahjong {
	background-image: url(../images/back-mahjong.png);
	height: 50px;
	width: 40px;
	cursor: pointer;
	float: left;
	margin-right: 8px;
	margin-bottom: 7px;
	background-repeat: no-repeat;
	border: solid 1px brown;
}

.back_tea {
	background-image: url(../images/tea.png);
	height: 45px;
	width: 40px;
	cursor: pointer;
	float: left;
	margin-right: 8px;
	margin-bottom: 7px;
	background-repeat: no-repeat;
	border: solid 1px brown;
}


.card_tarot {
	padding: 0;
	line-height: 24px;
	direction: rtl;
	margin: 0;
	margin-bottom: 15px;
	text-align: justify;
}
.back_tarot {
	background-image: url(../tarot/bg-card.jpg);
	height: 55px;
	width: 43px;
	cursor: pointer;
	float: left;
	margin-right: 5px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.left_tarot {
	width: 395px;
	float: left;
	font-size: 13px;
}
.left_tarot .box {
	border: solid 1px #F59CB9;
	padding: 0px 2px;
	border-radius: 5px;
}
.right_tarot {
	float: right;
	margin-right: 0px;
	width: 80px;
	height: 150px;
}
.img_desc {
	width: 80px;
}
.new_fal {
}
.new_fal a {
	color: #333;
	text-decoration: none;
	padding: 2px 6px 4px 6px;
	background-color: #EDEDED;
	border: solid 1px #666;
	border-radius: 2px;
	font-size: 11px;
}
.link_month {
	font-size: 12px;
}
.link_month a{
	color: #F00;
	text-decoration: none;
}
.link_month a:hover {
	color: #363;
	text-decoration: none;
}
.detail2 {
	color: #EB2969;
}
.detail_post {
	color: #EB2969;
	font-size: 12px;
	text-align: left;
}
.highlight {
	background-color: #FFFFEC;
	padding: 5px 0;
}
.news_img {
	width: 435px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.news_pro_img {
	width: 250px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.box_ads {
	border: solid 5px #3080C7;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	font-weight: normal;
	padding: 30px 20px;
	text-align: right;
	line-height: 30px;
	direction: rtl;
	margin: 10px 10px;
}
.ads_left a {
	color: #06C;
	text-decoration: none;
}
.ads_left a:hover {
	text-decoration: none;
	color: #06C;
}
.ads_bootik {
	float: left;
	width: 140px;
	height: 100px;
	text-align: center;
	margin: 5px 2px;
}
.ads_bootik a{
	color: #39C;
	text-decoration: none;
}
.ads_bootik a:hover {	/*
	/*
	color: #F60;
	text-decoration: none;
}


.tbl_sleep ul {
	/*
	list-style-type: none;
	padding-right: 10px;
}

.tbl_sleep li {
	float: right;
	margin-left: 5px;
	width: 140px;
	font-size: 13px;
	background-color: #FFF0F0;
	margin-top: 3px;
	padding-right: 5px;
}
.tbl_sleep a {
	/*
	/*
	/*
	text-decoration: none;
	color: #06C;
}
.tbl_sleep a:hover {	/*
	/*
	/*
	text-decoration: none;
	color: #F30;
}
