
.td_video_playlist_title {
    position: relative;
    z-index: 1;
}


.td_video_title_text {
 font-weight: 100!important;	
}

.td_video_playlist_title .td_video_title_text {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin-left: 17px;
    margin-right: 17px;
    vertical-align: middle;
    line-height: 24px;
    padding: 10px 0px 10px 0px
}

@media (min-width:1024px) AND (max-width:1400px){
.td_wrapper_player{
    height: 364px!important;
	}

.td_add_scrollbar_to_playlist{
	height: 300px!important;
	}
		
.td_container_video_playlist{
	height: 364px!important;
	}
	
}

@media (max-width:767px) {
    .td_video_playlist_title .td_video_title_text {
        text-align: center
    }
}

.page-template-page-pagebuilder-title-php .td_video_playlist_column_2 .td_wrapper_video_playlist {
    left: 0
}

.post .td_block_video_playlist {
    margin-bottom: 20px
}

.post .td_video_playlist_column_3 .td_video_playlist_title {
    left: 0px;
    width: 100%
}

.post .td_video_playlist_column_3 .td_wrapper_player {
    width: 676px
}

@media (min-width:768px) and (max-width:1023px) {
    .post .td_video_playlist_column_3 .td_wrapper_player {
        height: 405px;
        width: 100%
    }
}

.post .td_video_playlist_column_3 .td_wrapper_video_playlist {
    left: 0px
}

.post .td_video_playlist_column_3 .td_container_video_playlist {
    width: 304px;
    right: 0px
}

@media (min-width:768px) and (max-width:1023px) {
    .post .td_video_playlist_column_3 .td_container_video_playlist {
        width: 100%
    }
}

@media (max-width:767px) {
    .post .td_video_playlist_column_3 .td_container_video_playlist {
        width: 100%
    }
}

.post .td_video_playlist_column_2 .td_video_playlist_title {
    left: 0px;
    width: 100%
}

.post .td_video_playlist_column_2 .td_wrapper_player {
    height: 388px;
    width: 100%
}

@media (min-width:768px) and (max-width:1023px) {
    .post .td_video_playlist_column_2 .td_wrapper_player {
        height: 294px;
        width: 100%
    }
}

@media (min-width:361px) and (max-width:767px) {
    .post .td_video_playlist_column_2 .td_wrapper_player {
        height: 350px
    }
}

@media (max-width:360px) {
    .post .td_video_playlist_column_2 .td_wrapper_player {
        height: 192px
    }
}

.post .td_video_playlist_column_2 .td_wrapper_video_playlist {
    left: 0px
}

.post .td_video_playlist_column_2 .td_container_video_playlist {
    width: 100%;
    right: 0px
}

.td_wrapper_video_playlist {
    position: relative
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper {
    height: 65px;
    background-color:#cc0001;
    position: relative
}


.td_wrapper_video_playlist .td_video_controls_playlist_wrapper:before {
    content: '';
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGBAMAAADwPukCAAAAElBMVEUAAAAAAAAAAAAAAAAAAAAAAADgKxmiAAAABnRSTlM9KRgMBADiSB2HAAAAFElEQVR4XmNgYBBgUGAwYHBgCAAAA3wA8fpXm6EAAAAASUVORK5CYII=) repeat-x;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: -6px;
    z-index: 1
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper .td_video_stop_play_control {
    position: relative;
    width: 38px;
    height: 65px;
    outline: 0!important;
	background-color:#990100;
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper .td_video_stop_play_control:after {
    content: '';
    width: 1px;
    height: 37px;
    position: absolute;
    top: 14px;
    right: 0
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper .td_video_stop_play_control .td_youtube_control,
.td_wrapper_video_playlist .td_video_controls_playlist_wrapper .td_video_stop_play_control .td_vimeo_control {
    position: relative;
    top: 12px;
    left: 11px;
    cursor: pointer
}


.td-sp-video-play {
    width: 42px;
    height: 42px;
    background-position: -20px -488px;
}

.td-sp {
	background-image: url(/wp-content/themes/newsbeast/img/player-icon-video-beast.png);
    background-repeat: no-repeat;
    display: block;
    background-position: 0px 0px;
    background-size: 75%;
}

.top-header-menu a:hover, .top-header-menu .menu-item-has-children li a:hover, .td_module_wrap:hover .entry-title a, .td_mod_mega_menu:hover .entry-title a, .footer-email-wrap a, .widget a:hover, .td-footer-container .widget_calendar #today, .td-category-pulldown-filter a.td-pulldown-category-filter-link:hover, .td-load-more-wrap a:hover, .td-post-next-prev-content a:hover, .td-author-name a:hover, .td-author-url a:hover, .td_mod_related_posts:hover .entry-title a, .td-search-query, .top-header-menu .current-menu-item>a, .top-header-menu .current-menu-ancestor>a, .header-search-wrap .td-drop-down-search .result-msg a:hover, .td_top_authors .td-active .td-authors-name a, .td-mobile-content li a:hover, .post blockquote p, .td-post-content blockquote p, .page blockquote p, .comment-list cite a:hover, .comment-list cite:hover, .comment-list .comment-reply-link:hover, a, .white-menu #td-header-menu .sf-menu>li>a:hover, .white-menu #td-header-menu .sf-menu>.current-menu-ancestor>a, .white-menu #td-header-menu .sf-menu>.current-menu-item>a, .td-stack-classic-blog .td-post-text-content .more-link-wrap:hover a, .td_quote_on_blocks, #bbpress-forums .bbp-forum-freshness a:hover, #bbpress-forums .bbp-topic-freshness a:hover, #bbpress-forums .bbp-forums-list li a:hover, #bbpress-forums .bbp-forum-title:hover, #bbpress-forums .bbp-topic-permalink:hover, #bbpress-forums .bbp-topic-started-by a:hover, #bbpress-forums .bbp-topic-started-in a:hover, #bbpress-forums .bbp-body .super-sticky li.bbp-topic-title .bbp-topic-permalink, #bbpress-forums .bbp-body .sticky li.bbp-topic-title .bbp-topic-permalink, #bbpress-forums #subscription-toggle a:hover, #bbpress-forums #favorite-toggle a:hover, .widget_display_replies .bbp-author-name, .widget_display_topics .bbp-author-name, .td-category-siblings .td-subcat-dropdown a.td-current-sub-category, .td-category-siblings .td-subcat-dropdown a:hover, .td-pulldown-filter-display-option:hover, .td-pulldown-filter-display-option .td-pulldown-filter-link:hover, .td_normal_slide .td-wrapper-pulldown-filter .td-pulldown-filter-list a:hover, #buddypress ul.item-list li div.item-title a:hover, .td_block_13 .td-pulldown-filter-list a:hover {
    color: #d13030;
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper .td_video_stop_play_control .td_youtube_control, .td_wrapper_video_playlist .td_video_controls_playlist_wrapper .td_video_stop_play_control .td_vimeo_control {
    position: relative;
    top: 16px;
    left: 2px;
    cursor: pointer;
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper .td_video_title_playing {
    position: absolute;
    top: 13px;
    left: 50px;
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    color: #fff;
    padding-right: 7px;
    max-height: 37px;
    overflow: hidden
}

.td_wrapper_video_playlist .td_video_controls_playlist_wrapper .td_video_time_playing {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 10px;
    font-style: italic;
    color: #fff;
    line-height: 17px
}

.td_wrapper_video_playlist .td_video_currently_playing {
    background-color:#232123
}

.td_wrapper_video_playlist .td_video_currently_playing:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* border-left: 3px solid #cc0001!important; */ 
    width: 3px;
    height: inherit
}



.td_wrapper_video_playlist a.td_click_video {
    height: 50px;
    display: block;
    width: 100%;
    position: relative;
	border-left:8px solid transparent;
	margin-bottom: 10px;
}



.td_wrapper_video_playlist a.td_click_video:hover {
    background-color: #333;
    cursor: pointer
}

.td_wrapper_video_playlist a.td_click_video .td_video_thumb {
    position: relative;
    top: 0px;
    width: 90px;
    height: 50px;
    overflow: hidden;
    margin-left: 8px;
    background-position: 0px -8px;
    background-size: 100%;
    left: -8px;
}

.video-beast-overlay{position:relative;width:100%;height:100%;opacity: 0.6;}

.td_wrapper_video_playlist a.td_click_video .td_video_thumb img {
    position: relative;
    top: -6px;
}

.td_wrapper_video_playlist a.td_click_video .td_video_title_and_time {
    position: absolute;
    top: 10px;
    margin: 0 10px 0 103px
}

.td_wrapper_video_playlist a.td_click_video .td_video_title_and_time .td_video_title {
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    max-height: 30px;
    overflow: hidden
}

.td_wrapper_video_playlist a.td_click_video .td_video_time {
    font-size: 10px;
    font-style: italic;
    color: #777;
    line-height: 13px
}

.td_wrapper_video_playlist .td_wrapper_player {
    background-color: #000;
    height: 425px
}

.td_wrapper_video_playlist .td_wrapper_player iframe {
    width: 100%;
    height: 100%
}

.td_wrapper_video_playlist .td_container_video_playlist {
    background-color: #222;
    vertical-align: top;
    height: 410px;
}

.td_wrapper_video_playlist .td_playlist_clickable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 347px
}

.td_video_playlist_column_3 .td_wrapper_video_playlist {
    left: -1px;
    z-index: 1
}

@media (max-width:767px) {
    .td_video_playlist_column_3 .td_wrapper_video_playlist {
        left: 0px
    }
}

.td_video_playlist_column_3 .td_video_playlist_title {
    left: -1px;
    width: 100%
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_3 .td_video_playlist_title {
        width: 756px
    }
}

@media (max-width:767px) {
    .td_video_playlist_column_3 .td_video_playlist_title {
        width: 100%;
        left: 0px
    }
}

.td_video_playlist_column_3 .td_wrapper_player {
    display: block;
    width: 66%;
    height: 409px;
	overflow: hidden;
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_3 .td_wrapper_player {
        display: block;
        width: 756px
    }
}

@media (min-width:361px) and (max-width:767px) {
    .td_video_playlist_column_3 .td_wrapper_player {
        display: block;
        width: 100%;
        height: a;
    }
}

@media (max-width:360px) {
    .td_video_playlist_column_3 .td_wrapper_player {
        display: block;
        width: 100%;
        height: 192px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_3 .td_video_controls_playlist_wrapper .td_video_title_playing {
        max-height: 20px;
        top: 23px;
    }
}

@media (min-width:481px) and (max-width:767px) {
    .td_video_playlist_column_3 .td_video_controls_playlist_wrapper .td_video_title_playing {
        max-height: 20px;
        top: 23px;
    }
}

@media (max-width:480px) {
    .td_video_playlist_column_3 .td_video_controls_playlist_wrapper .td_video_title_playing {
        max-height: 37px;
        top: 13px;
    }
}

.td_video_playlist_column_3 .td_container_video_playlist {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
	width: 34%;
    height: 409px;
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_3 .td_container_video_playlist {
        display: block;
        position: relative;
        width: 100%;
        height: 305px;
        right: 0px;
    }
}

@media (max-width:767px) {
    .td_video_playlist_column_3 .td_container_video_playlist {
        display: block;
        position: relative;
        width: 100%;
        height: 305px;
        right: 0px;
    }
}

@media (max-width:480px) {
    .td_video_playlist_column_3 .td_container_video_playlist {
        position: relative;
        height: 245px;
        right: 0px;
    }
}

.td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
    height: 348px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        margin-right: 10px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width:767px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        margin-right: 10px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        height: 240px;
        overflow-x: hidden;
        overflow-y: auto
    }
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-track {
        background-color: #383838
    }
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5
    }
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-thumb {
        background-color: #919191;
        border-radius: 10px
    }
}

@media (max-width:767px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        height: 240px;
        overflow-x: hidden;
        overflow-y: auto
    }
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-track {
        background-color: #383838
    }
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5
    }
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-thumb {
        background-color: #919191;
        border-radius: 10px
    }
}

@media (max-width:480px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile {
        height: 180px
    }
}

.td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist {
    height: 343px;
	background-color: #232123;
	padding-top: 9px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist {
		
    }
}

.td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-track {
    background-color: #383838
}

.td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5
}

.td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 10px
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist {
        height: 240px
    }
}

@media (max-width:767px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist {
        height: 240px
    }
}

@media (max-width:480px) {
    .td_video_playlist_column_3 .td_playlist_clickable.td_add_scrollbar_to_playlist {
        height: 180px
    }
}

.td_video_playlist_column_2 .td_wrapper_video_playlist {
    left: -1px;
    z-index: 1
}

@media (max-width:767px) {
    .td_video_playlist_column_2 .td_wrapper_video_playlist {
        left: 0px
    }
}

.td_video_playlist_column_2 .td_video_playlist_title {
    left: -1px;
    width: 681px
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_2 .td_video_playlist_title {
        width: 505px
    }
}

@media (max-width:767px) {
    .td_video_playlist_column_2 .td_video_playlist_title {
        width: 100%;
        left: 0px
    }
}

.td_video_playlist_column_2 .td_wrapper_player {
    display: block;
    width: 681px;
    height: 412px
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_2 .td_wrapper_player {
        width: 505px;
        height: 283px
    }
}

@media (min-width:361px) and (max-width:767px) {
    .td_video_playlist_column_2 .td_wrapper_player {
        display: block;
        width: 100%;
        height: 350px
    }
}

@media (max-width:360px) {
    .td_video_playlist_column_2 .td_wrapper_player {
        display: block;
        width: 100%;
        height: 192px
    }
}

.td_video_playlist_column_2 .td_container_video_playlist {
    display: block;
    width: 681px;
    height: 305px
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_2 .td_container_video_playlist {
        width: 505px
    }
}

@media (max-width:767px) {
    .td_video_playlist_column_2 .td_container_video_playlist {
        display: block;
        width: 100%
    }
}

@media (max-width:480px) {
    .td_video_playlist_column_2 .td_container_video_playlist {
        height: 245px
    }
}

.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable {
    height: 240px
}

@media (max-width:480px) {
    .td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable {
        height: 180px
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile,
    .td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist {
        margin-right: 10px
    }
}

.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-track,
.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-track {
    background-color: #383838
}

.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar,
.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5
}

.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-thumb,
.td_video_playlist_column_2 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 10px
}

.td_video_playlist_column_2 .td_video_controls_playlist_wrapper .td_video_title_playing {
    max-height: 20px;
    top: 23px
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_2 .td_video_controls_playlist_wrapper .td_video_title_playing {
        max-height: 20px;
        top: 23px
    }
}

@media (min-width:481px) and (max-width:767px) {
    .td_video_playlist_column_2 .td_video_controls_playlist_wrapper .td_video_title_playing {
        max-height: 20px;
        top: 23px
    }
}

@media (max-width:480px) {
    .td_video_playlist_column_2 .td_video_controls_playlist_wrapper .td_video_title_playing {
        max-height: 37px;
        top: 13px
    }
}

.td_video_playlist_column_1 .td_wrapper_video_playlist {
    left: -1px;
    z-index: 1
}

@media (max-width:767px) {
    .td_video_playlist_column_1 .td_wrapper_video_playlist {
        left: 0px
    }
}

.td_video_playlist_column_1 .td_video_playlist_title {
    left: -1px;
    width: 341px
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_1 .td_video_playlist_title {
        width: 252px
    }
}

@media (max-width:767px) {
    .td_video_playlist_column_1 .td_video_playlist_title {
        width: 100%;
        left: 0px
    }
}

.td_video_playlist_column_1 .td_wrapper_player {
    display: block;
    width: 341px;
    height: 190px
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_1 .td_wrapper_player {
        width: 252px;
        height: 143px
    }
}

@media (min-width:361px) and (max-width:767px) {
    .td_video_playlist_column_1 .td_wrapper_player {
        display: block;
        width: 100%;
        height: 350px
    }
}

@media (max-width:360px) {
    .td_video_playlist_column_1 .td_wrapper_player {
        display: block;
        width: 100%;
        height: 192px
    }
}

.td_video_playlist_column_1 .td_container_video_playlist {
    display: block;
    width: 341px;
    height: 305px
}

@media (min-width:768px) and (max-width:1023px) {
    .td_video_playlist_column_1 .td_container_video_playlist {
        width: 252px
    }
}

@media (max-width:767px) {
    .td_video_playlist_column_1 .td_container_video_playlist {
        width: 100%
    }
}

@media (max-width:480px) {
    .td_video_playlist_column_1 .td_container_video_playlist {
        height: 245px
    }
}

.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile,
.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist {
    height: 240px
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile,
    .td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist {
        margin-right: 10px
    }
}

@media (max-width:480px) {
    .td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile,
    .td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist {
        height: 180px
    }
}

.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-track,
.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-track {
    background-color: #383838
}

.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar,
.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5
}

.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist_for_mobile::-webkit-scrollbar-thumb,
.td_video_playlist_column_1 .td_container_video_playlist .td_playlist_clickable.td_add_scrollbar_to_playlist::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 10px
}

.td_video_playlist_column_1 .td_video_controls_playlist_wrapper .td_video_title_playing {
    max-height: 37px;
    top: 13px
}

@media (min-width:481px) and (max-width:767px) {
    .td_video_playlist_column_1 .td_video_controls_playlist_wrapper .td_video_title_playing {
        max-height: 20px;
        top: 23px
    }
}

.wpb_wrapper .td_block_wrap .td-pulldown-filter-display-option {
    margin: 0 19px 20px 0
}

@media (min-width:768px) and (max-width:1023px) {
    .wpb_wrapper .td_block_wrap .td-pulldown-filter-display-option {
        margin: 0 16px 17px 0
    }
}

@media (max-width:767px) {
    .wpb_wrapper .td_block_wrap .td-pulldown-filter-display-option {
        margin: 0 10px 17px 0
    }
}
.vc_col-has-fill>.vc_column-inner,
.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    padding-top: 0
}

.vc_row .vc_column-inner {
    padding-left: 0;
    padding-right: 0
}
.td_video_stop_play_control > div {
	width: 24px;
    height: 24px;
    background-color: #990100;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* z-index: 1021; */
    top: 20px;
    left: -12px;
    position: absolute;
    overflow: visible;
	

	
}

@media (max-width:1022px){
   .td_video_stop_play_control > div {
		top: -12px!important;
		left: 7px!important;
    }
}

@media (max-width:1023px){
	.td_video_playlist_column_3 .td_wrapper_player{
		
	display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
	}

	
	
.td_wrapper_playlist_player_youtube > div > div > div {padding-bottom: 60.6%!important;}
.td_wrapper_playlist_player_youtube > div > div > div > div {padding-bottom: 60.6%!important;}