@charset "utf-8";

.pagetitle {font-size:34px; color:#FFFFFF;  text-transform:uppercase;}
.pagetitle-small {font-size:26px; color:#FFFFFF;  text-transform:uppercase;}
.landingtitle{ font-size:34px; line-height:35px; color:#FFFFFF; text-transform:uppercase;} 		
.boxtitle{ font-size:14px; color:#FFFFFF; text-transform:uppercase;} 
.subtitle{ font-size:18px; color:#FFFFFF; text-transform:uppercase;} 				
.videoheader{ font-size:18px; color:#FFFFFF; letter-spacing:-1px; } 		
.blacktitle{ font-size:24px; color:#000000; text-transform:uppercase;}

.flashTextWrapper {
    font-family: "MuseoSans-500", arial, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: -0.014em;
    margin-bottom: 6px;
    position: relative;
    line-height: 1;
}

.flashTextWrapper.boxtitle {
    font-size: 15px;
}

.flashTextWrapper.legacytitle {
    font-size: 25px;
}

.flashTextWrapper.dropcap-diablo {
    font-size: 65px;
}

.flashTextWrapper.dropcap-warcraft {
    font-size: 65px;
}

.flashTextWrapper.dropcap-starcraft {
    font-size: 65px;
}

.flashTextOver {
    color: #b7e1f9;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.flashTextUnder {
    position: absolute;
    top: 0px;
    left: 0px;
    background: -webkit-linear-gradient(#e7f5fd, #afdef9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flashTextUnder.dropcap-diablo {
    background: -webkit-linear-gradient(#f1d6a9, #cf6d26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flashTextUnder.dropcap-warcraft {
    background: -webkit-linear-gradient(#fbf600, #772019);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flashTextUnder.dropcap-starcraft {
    background: -webkit-linear-gradient(#fbf600, #772019);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}