@charset "utf-8";

.newsheader .facebookicon a  { display:none; }

.newsheader .latestnews { background: url(../../_images/lang/en-gb/frontpage/latestnews.png); }
a.dl_btn:link, a.dl_btn:active, a.dl_btn:visited  {background-image:url(../../_images/blizzcast/en-GB/download_button.gif);}

/* Menu navigation */
.navigation .bar a {background: url(../../_images/lang/en-gb/nav-bar.gif);}

/* Community Contest index page */
	.featured_list .ft_list_title {line-height:1;}
	.featured_list .ft_list_int q {padding-top:35px;}
	
	
/* Landing Page */	

		
	/* Fan Art rules */
	
	.btn-agree {background-image: url(../../_images/lang/en-gb/btn-agree.jpg);}
	.btn-disagree {background-image: url(../../_images/lang/en-gb/btn-disagree.jpg);}
	
	
/* SC2 Purchase Buttons */
.sc2 #purchase-buttons-all {display: block;}

.music_page .button-blue-large span em {font-size:14px;}

/* Mists of Pandaria */
.mists .logo-rating { background: url("../../_images/lang/en-gb/games/rating_cataclysm.gif") no-repeat scroll center top transparent; height: 44px; left: 700px; top: 75px; width: 167px; }

/* Mists of Padaria Launch page */
.mop-launch .button-other-retailers { background-image: url(../../_images/company/events/mists-of-pandaria-launch/button-other-retailers-en-gb.png) }

/* HotS launch event */
.subheader .hots-launch { background: url("../../../_images/company/events/heart-of-the-swarm-launch/header-en-gb.jpg") no-repeat center top #0c0116; height: 460px; min-width: 1024px; }