@charset "utf-8";
/*大公网首页改版css2.0 add by wwj 2014-8-19 10:28:43*/
.container{padding-top:15px}
.con_l{width:680px;}
.con_r{width:270px;}
.newsBox{height:845px;overflow:hidden;margin-bottom:0;margin-top:-5px;}
.news_l{width:401px;position:relative;}
.news_r{width:240px;}
/*新闻标题*/
.container h1{font:22px/40px "微软雅黑";height:40px;margin-top:-3px}
.container h2{font:20px/30px "微软雅黑";height:30px;}
.container h3{font:18px/32px "微软雅黑";height:32px;}
.container h4{font:16px/24px "微软雅黑";height:24px;}
.container h5{font:14px/21px "微软雅黑"}
.container h6{font:12px/16px "宋体";height:16px;}
.container h1,.container h2,.container h3,.container h6{width:401px;overflow:hidden;}
.container h1 a{color:#036;}
.container h2 a,.container h3 a,.container h4 a,.container h5 a{color:#333;}
.container h2 a.news_tle{color:#c90;}
.container h5 a.txt{color:#666;}
.container h6 a{color:#666;}
.container .info{font:12px/16px "宋体";height:16px;width:401px;overflow:hidden;color:#838383}
.container .info a{color:#838383;}
.container .info a:hover{color:#cc0000;}
/*左侧*/
.news_l li{margin-bottom:13px}
.newsImgLi{width:401px;height:127px;overflow:hidden;padding:16px 0;*padding:15px 0}
.news_l li.newsImgLi{margin-bottom:0px}
.newsImg_l{width:175px;height:125px;margin-top:2px}
.newsImg_r{width:205px;height:127px;position:relative;}
.newsImg_r h4{font:18px/24px "微软雅黑";height:50px;overflow:hidden;}
.newsImg_r .txt{font:12px/22px "宋体";margin-top:5px;color:#666;}
.news_more{position:absolute;right:0;bottom:-15px;font:12px/22px "宋体";color:#333;}
.news_r h2{margin-bottom:10px;margin-left:90px;width:150px;}
.news_r ul{height:343px;overflow:hidden;}
.news_r li{width:240px;height:70px;overflow:hidden;margin-bottom:20px}
.sole_l{width:70px;height:70px;overflow:hidden}
.sole_r{width:150px;}
.newsList{width:680px;height:131px;overflow:hidden;margin-bottom:23px}
.newsList dd{font:16px/32px "微软雅黑";height:32px;overflow:hidden}
.newsList dd.first{font-size:18px;line-height:35px;height:35px}
.newsList dd a{color:#333;}
.list_img_s{width:130px;height:90px;margin-top:10px}
.list_txt_s{width:96px;height:110px;font:14px/21px "微软雅黑";margin-top:10px;overflow:hidden;}
.list_txt_s a{color:#333;}
/*右侧*/
.linksBox{font:12px/24px "宋体";height:90px;overflow:hidden;}
.linksBox a{color:#369;margin-right:9px;}
.list_img{width:270px;height:190px}
.con_r h2{margin-top:-5px}
.con_r h2,.con_r h4{width:270px;overflow:hidden;}
.con_r h6{width:270px;overflow:hidden;font-size:14px;font-family:"微软雅黑";margin:15px 0 5px 0;color:#999;}
.con_r h6 a{color:#999;}
.con_r li{margin-bottom:43px;*margin-bottom:39px;_margin-bottom:43px;}
.listLinks{margin-top:40px;height:50px;overflow:hidden;}
.con_r dl{height:205px;margin-top:10px;overflow:hidden;}
.con_r dd{font:12px/26px "宋体";width:270px;height:26px;overflow:hidden;}
.con_r dd a{color:#369;margin-right:5px}
.con_r dd a:hover,.linksBox a:hover{color:#36c;}
/*hover*/
.container h1 a:hover,.container h2 a:hover,.container h3 a:hover,.container h4 a:hover,.container h5 a:hover,.container h6 a:hover,.newsList dd a:hover,.list_txt_s a:hover{color:#cc0000;}
.sole_r h5 a{color:#999;}
.sole_r h5 a.txt{color:#333;}
.sole_r h5 a.txt:hover{color:#c00;}
.sole_r h5 a:hover,.con_r h6 a:hover{color:#666;}

/*焦点图文*/
.focus_photos{width:600px; height:336px; margin-bottom:25px; position:relative; overflow:hidden; float:left;}
.focus_photos .arrow_left{ width:40px;height:80px;background:url(../images/haedFoot/arrow_l.png) no-repeat; position:absolute; left:0; top:50%; margin-top:-40px; z-index:9; cursor:pointer;}
.focus_photos .arrow_right{width:40px;height:80px;background:url(../images/haedFoot/arrow_r.png) no-repeat; position:absolute; right:0; top:50%; margin-top:-40px; z-index:9; cursor:pointer;}
.focus_photos .notes{ width:570px; padding:5px 15px; display:block; background:url(../images/haedFoot/bg_black.png) repeat; font-size:18px; font-family:microsoft yahei; color:#fff; position:absolute; left:0; bottom:0;}
.focus_photos .page_photos{width:605px; height:3px; position:absolute; left:0; bottom:0;}
.swiper-container {
	width: 100%;
	height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform, left, top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px,0,0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform, left, top;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0px,0,0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform, left, top;
    -o-transition-duration: 0s;
    -o-transform: translate3d(0px,0,0);
    -o-transition-timing-function: ease;
    -o-transform: translate(0px,0px);
    -ms-transition-property: -ms-transform, left, top;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0px,0,0);
    -ms-transition-timing-function: ease;
    transition-property: transform, left, top;
    transition-duration: 0s;
    transform: translate3d(0px,0,0);
    transition-timing-function: ease;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-wp8-horizontal { -ms-touch-action: pan-y;}
.swiper-wp8-vertical {-ms-touch-action: pan-x;}
.swiper-slide {
    width: 600px;
    height: 333px;
	float: left;
    /*opacity: 0.4;*/
    position: relative;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.swiper-slide img{ width:100%; height:100%;}
.swiper-slide-active { opacity:1;}
.swiper-pagination-switch {width:120px; height:3px; background:#369; border-right:1px solid #fff; text-indent:-9999em; float:left;}
.swiper-visible-switch {background:#369;}
.swiper-active-switch {background:#fbb54a;}

/*实时右侧*/
.headline{ width:380px; height:auto; float:right;}
.headline h3{ height:28px; line-height:24px; font-size:16px; color:#036;}
.headline h3 a{ color:#036;}
.headline ul{ line-height:20px; margin-bottom:18px; color:#666;}
.headline ul:last-child, .headline ul.last{}
.headline ul a{ margin-right:0; color:#666;}

/*右侧改版*/
.con_tuijian{ width:100%; height:auto; margin-bottom:30px;}
.con_tuijian .h3{ width:100%; height:auto; line-height:14px; padding-bottom:10px; font-size:14px; color:#c89f62;}
.con_tuijian .h3 a{ color:#c89f62;}
.con_tuijian .pic{ width:100%; height:152px; overflow:hidden; text-align:center;}
.con_tuijian .pic img{ width:100%; height:100%; border:none; -webkit-transition:all 0.5s linear 0s; -moz-transition:all 0.5s linear 0s; -o-transition:all 0.5s linear 0s; -ms-transition:all 0.5s linear 0s; transition:all 0.5s linear 0s;}
.con_tuijian .pic img:hover{ -webkit-transform:scale(1.05); -moz-transform:scale(1.05); -o-transform:scale(1.05); -ms-transform:scale(1.05);transform:scale(1.05);}
.con_tuijian .txt{ height:auto; padding:10px 0 5px;}
.con_tuijian .txt li{ margin-bottom:0; font-family:microsoft yahei;}
.con_tuijian .title{ padding-bottom:5px; font-size:16px; color:#222;}
.con_tuijian .title a{ color:#222;}
.con_tuijian .title a:hover{ color:#c00;}
.con_tuijian .blue{ height:24px; line-height:24px; font-size:14px; color:#666; overflow:hidden;}
.con_tuijian .blue a{ color:#666;}
.con_tuijian .blue em{ padding-right:5px; font-size:16px; color:#369;}

/*新增三栏广告位*/
.pt0{padding-top: 0;}
.ads-wrapper{padding-bottom: 25px;}
.ads-400{width: 400px;}
.ads-240{width: 240px;margin-left: 40px;}
.ads-270{width: 270px;}
