@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(https://fonts.gstatic.com/s/rambla/v4/-_kCMgs_FEfLSA5TpiWlKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 700;
  src: local('Rambla Bold'), local('Rambla-Bold'), url(https://fonts.gstatic.com/s/rambla/v4/kIZPeiOLKnKdd6L5mB1Cn6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Rambla';
  font-style: italic;
  font-weight: 400;
  src: local('Rambla Italic'), local('Rambla-Italic'), url(https://fonts.gstatic.com/s/rambla/v4/AFIUU8pWESbcWkGKBgGxaPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rambla';
  font-style: italic;
  font-weight: 700;
  src: local('Rambla Bold Italic'), local('Rambla-BoldItalic'), url(https://fonts.gstatic.com/s/rambla/v4/cAnhlVAMYLVLtj8sDuifH50EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
