@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(https://fonts.gstatic.com/s/rambla/v4/-_kCMgs_FEfLSA5TpiWlKg.ttf) format('truetype');
}
