﻿@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i);
/*@import url(main-nav.css?v=0.7);
@import url(popup.css?v=0.2);
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    margin: -20px 0 0 0;
    font-size: 12px;
    line-height: 1.231;
}

/*---- Header Css Start Here -----*/

.gridContainer {/*background:url(../images/valentine-bg.png) no-repeat top center;*/ height:108px;}

.contarea {
    width: 1240px;
    margin:15px auto 0;
    height: 77px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .contarea {
    width: 1240px;
    margin:0 auto 0;
    height: 77px;
}
}

.comp-logo {
    float: left;
    margin: 9px 0 0 0;
    width: 200px;
    height: 68px
}

.plp-searchtxt {
	    font: 16px/59px "Roboto";
	    color: #252525;
	    float: left;
	    margin: 6px 0 0 30px
}

.nselect-box{text-align:left;height:40px;float:left;font:400 16px "Roboto";color:#666;padding:0 18px 0 6px;line-height:30px;background:#e6e6e6;display:none;outline:0;margin:0;border-right:1px solid #c2c2c2}
.nselect-box span{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat scroll -168px -248px transparent;width:7px;height:4px;float:right;position:absolute;top:20px;left:125px;}
.nskype .selectyzeValue{text-align:left;width:auto;height:38px;float:left;font:400 16px "Roboto";color:#666;padding:3px 18px 0 10px;line-height:30px;display:block;outline:0;cursor:pointer}
.nskype .UlSelectize{background-color:#FFF;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;left:0;margin:0;overflow:hidden;padding:0;top:42px;width:185px!important;height:175px;overflow-y:auto}
.DivSelectyze .selectyzeValue{position:relative;z-index:10;display:block;text-decoration:none}
.DivSelectyze ul{list-style:none}
.DivSelectyze .UlSelectize{position:absolute;z-index:9999;display:none}
.DivSelectyze li a{display:block;text-decoration:none}


.form-container-newpl {
    float: left;
    width: 593px;
    height: 40px;
    padding: 0;
    /*overflow: hidden;*/
}

/*---------- Home Filter Css Start Here ------------*/
.form-container-newpl .home-filter {width:91.5%; display:table; margin:0; padding:0; background:#fff; border:1px solid #c2c2c2; border-top:0 none; -webkit-box-shadow: 0px 2px 2px 0 #ededed; box-shadow:0px 2px 2px 0 #ededed; position:absolute; top:40px; z-index:10;}
.form-container-newpl .home-filter ul {width:100%; margin:0 auto; padding:0;}
.form-container-newpl .home-filter ul li {width:100%; margin:0; padding:0; list-style:none;}
.form-container-newpl .home-filter ul li a {margin:0; padding:5px 19px; font:400 14px/18px "Roboto"; color:#252525; display:block; text-decoration:none; width:92.8%;}
.form-container-newpl .home-filter ul li a:hover {width:100%; margin:0; padding:5px 19px; background:#f0f0f0; width:92.8%;}

/*---------- Home Filter Css End Here ------------*/

.searchbutton {
    background: url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -750px -615px;
    border: none;
    float: right;
    height: 40px;
    width: 50px;
    margin:0;
    padding:0;
    cursor:pointer;
}
.nsrch-txt-newpl:-moz-placeholder {color:#252525; }
.nsrch-txt-newpl {
    margin: 0 0 0 0;
    padding:0 0 0 8px;
    min-width:533px;
    height: 38px;
    border: none;
    font: 16px "Roboto";
    color: #878787;
    float: left;
    display: block;
    background:#f6f6f6;
    border:1px solid #d1d1d1;
}
.nsrch-txt-newpl:focus {background:#fff; border:1px solid #9281b7; color:#252525;}

/*a:active, a:focus, a:hover, input:focus {outline:0 none;}*/
.nsearchbg-newpl {
    position: relative;
    width: 593px;
    float: left;
    margin: 20px 0 0 0
}

.nsearchbg-newpl .compar-search{border:1px solid #ccc;border-top:0 none;z-index:999;margin:0;width:91.3%;background:#fff;position:absolute;top:40px;left:0}
.nsearchbg-newpl .compar-search ul{margin:0;padding:0;list-style:none;width:99.85%}
.nsearchbg-newpl .compar-search ul li{margin:0;padding:0}
.nsearchbg-newpl .compar-search ul li:last-child{margin:0 0 11px;padding:0}
.nsearchbg-newpl .compar-search ul li a{font:14px/18px "Roboto";color:#666;text-decoration:none;margin:0;padding:3px 19px 6px;display:block;width:91%;cursor:pointer}
.nsearchbg-newpl .compar-search ul li a span{font:14px/18px "Roboto";color:#5057a4;text-decoration:none;margin:0;padding:0}
.nsearchbg-newpl .compar-search ul li a b{font:600 14px/18px "Roboto";color:#252525;text-decoration:none;margin:0;padding:0}
.nsearchbg-newpl .compar-search ul li a:hover{background:#eee;font:14px/18px "Roboto";color:#252525;margin:0;padding:3px 19px 6px}
.nsearchbg-newpl .compar-search ul li a.view{font:14px/18px "Roboto";color:#5057a4;text-decoration:none;margin:0;padding:3px 19px 6px;display:block;width:92.4%}

/*------------- User Box Css Start Here -------------*/

.user {width:190px; float:left; margin:24px 0 0 19px; padding:0;}
.user .ucircle {background:#f2f2f2; border-radius:30px;  margin:0; padding:0; width:35px; height:35px; position:relative; float:left;}
.user .ucircle:after {content:"\f007"; position:absolute; left:27%; top:10%; font-family:'FontAwesome'; color:#666666; font-size:20px;}
.user .ucircle.active:after {content:"\f007"; position:absolute; left:27%; top:10%; font-family:'FontAwesome'; color:#5eb606; font-size:20px;}
.user a {font: 400 14px/18px "Roboto"; color:#252525; margin:8px 0 0 11px; padding:0; display:table; text-decoration:none; float:left; width:75%;}
.user a:hover {text-decoration:underline; }
.user .user-box {width:109px; margin:0 0 0 21px; padding:0; float:left;}
.user .user-box a.logout {width:109px; margin:0; padding:1px 0; background:#333333; text-align:center; color:#fff; font:600 12px/24px "Roboto"; position:relative; display:none; top:6px; z-index:1;}
.user .user-box a.logout:after {content:"\f0d8"; position:absolute; right:24px; top:-16px; font-family:'FontAwesome'; color:#333333; font-size:20px;}

/*.header-banner {width:183px; float:left; margin:0; padding:0; }*/
.header-banner-left {width:200px; float:left; margin:0; padding:0; position:relative;}
.header-banner-right {width:220px; float:left; margin:0; padding:0; position:relative;}
.header-banner .know-more-btn {position:absolute; left:0; bottom:1px;}

/*------------- User Box Css End Here -------------*/

/*---- Header Css End Here -----*/

/*---- Content Css Start Here -----*/


/******************** Onload Popup Css Start Here **************************/

.home-page {width:1240px; margin:0 auto; padding:0;}
	
#blackbox {
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    /*display: none;*/
    
    z-index: 10;
}
#lightbox {
    width: 730px;
    height: auto;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -385.5px;
    margin-top: -235px;
    /*display: none;*/
    
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 11;
}
.prom-close-butn {
    background: url("https://cdn.compareraja.in/images/sprite.png?v=1.4") no-repeat scroll -292px -173px;
    float: right;
    height: 12px;
    padding: 16px 16px 16px 15px;
    position: absolute;
    right: -3px !important;
    text-align: center;
    top: -5px !important;
    width: 12px;
}
.md-close {
    position: absolute;
    right: 7px;
    top: 6px;
}
#lightbox header {
    text-align: center;
    font: 600 28px/18px "Roboto";
    color: #252525;
    border-bottom: 1px solid #d4d4d4;
    padding: 26px 0 12px 0;
}
#lightbox header p {
    text-align: center;
    font: 400 16px/18px "Roboto";
    color: #676767;
    margin: 11px 0 1px 0
}
#lightbox .pp-content {
    width: 698px;
    margin: 0 auto;
    padding: 16px 16px 11px 16px;
    float: left;
}
#lightbox .pp-content .pp-left {
    width: 330px;
    float: left;
    margin: 0;
    padding: 0;
}
#lightbox .pp-content .pp-left .pp-title {
    margin: 7px 0 0 0;
    padding: 0;
    font: 400 16px/18px "Roboto";
    color: #252525;
    text-align: center;
}
#lightbox .pp-content .pp-left .pp-title span {
    margin: 0;
    padding: 0;
    font: 600 16px/18px "Roboto";
}
#lightbox .pp-content .pp-left p.para {
    margin: 0;
    padding: 0;
    font: 400 14px/18px "Roboto";
    color: #676767;
    text-align: center;
    clear: left;
}
#lightbox .pp-content .pp-left p.prom-img {
    margin: 31px 0 0 8px;
    padding: 0;
    text-align: center;
    clear: left;
}

#lightbox .pp-content .pp-left .faceb-box {
    width: 282px;
    margin: 24px 0 4px 18px;
    padding: 0;
    float: left;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 1px 0 0 #718cbd inset;
    border: 1px solid #344f89;
    background: #4365a6;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQzNjVhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNiNTk5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDUwOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4365a6 0%, #3b599a 50%, #345090 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4365a6), color-stop(50%, #3b599a), color-stop(100%, #345090));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #4365a6 0%, #3b599a 50%, #345090 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #4365a6 0%, #3b599a 50%, #345090 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #4365a6 0%, #3b599a 50%, #345090 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #4365a6 0%, #3b599a 50%, #345090 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4365a6', endColorstr='#345090', GradientType=0);
    /* IE6-8 */
}
#lightbox .pp-content .pp-left .faceb-box .facebook {
    width: 233px;
    float: right;
    margin: 0 auto;
    padding: 12px 0 11px;
    display: block;
    font: 600 16px/18px "Roboto";
    color: #fff;
    text-decoration: none;
}
#lightbox .pp-content .pp-left .faceb-box .verticle-line {
    background: url("../images/vert-line.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 41px;
    margin: 0;
    width: 1px;
}
#lightbox .pp-content .pp-left .faceb-box:before {
    content: "\f09a";
    font-family: "FontAwesome";
    font-size: 28px;
    color: #fff;
    margin: 0 0 0 1px;
    padding: 0;
    float: left;
    width: 46px;
    height: 34px;
    line-height: 48px;
    cursor: pointer;
}
#lightbox .pp-content .pp-left .gplus-box {
    width: 282px;
    margin: 17px 0 3px 18px;
    padding: 0;
    float: left;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 1px 0 0 #e67d6c inset;
    border: 1px solid #c13e2a;
    background: #de513c;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlNTEzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RhNDgzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNjNmMmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #de513c 0%, #da4835 50%, #d63f2f 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #de513c), color-stop(50%, #da4835), color-stop(100%, #d63f2f));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #de513c 0%, #da4835 50%, #d63f2f 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #de513c 0%, #da4835 50%, #d63f2f 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #de513c 0%, #da4835 50%, #d63f2f 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #de513c 0%, #da4835 50%, #d63f2f 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#de513c', endColorstr='#d63f2f', GradientType=0);
    /* IE6-8 */
}
#lightbox .pp-content .pp-left .gplus-box .ggle-plus {
    width: 233px;
    float: right;
    margin: 0 auto;
    padding: 12px 0 11px;
    display: block;
    font: 600 16px/18px "Roboto";
    color: #fff;
    text-decoration: none;
}
#lightbox .pp-content .pp-left .gplus-box .verticle-line {
    background: url("../images/vert-line1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 41px;
    margin: 0;
    width: 1px;
}
#lightbox .pp-content .pp-left .gplus-box:before {
    content: "\f0d5";
    font-family: "FontAwesome";
    font-size: 28px;
    color: #fff;
    margin: 0 0 0 1px;
    padding: 0;
    float: left;
    width: 46px;
    height: 34px;
    line-height: 48px;
    cursor: pointer;
}
#lightbox .pp-content .pp-left p.user {
    margin: 29px 0 0 -7px;
    padding: 0;
    font: 400 14px/18px "Roboto";
    color: #676767;
    float: left;
}
#lightbox .pp-content .pp-left p.user a.read {
    font: 400 14px/18px "Roboto";
    color: #0066cc;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#lightbox .pp-content .pp-left p.user a.read:hover {
    text-decoration: underline;
}
#lightbox .pp-content .pp-right {
    width: 316px;
    float: left;
    margin: 0 0 0 20px;
    padding: 0;
    height: 342px;
    position: relative;
}
#lightbox .pp-content .vl-line-box {
    width: 30px;
    position: relative;
    float: left;
    top: 63px;
}
#lightbox .pp-content .vl-line {
    width: 1px;
    height: 220px;
    background: #5b5b5b;
    margin: 0 0 0 18px;
}
#lightbox .pp-content .dividation {
    width: 27px;
    height: 27px;
    background: #7e7e7e;
    border: 1px solid #5b5b5b;
    border-radius: 60px;
    position: absolute;
    text-align: center;
    font: 400 12px/28px "Roboto";
    color: #fff;
    top: 95.5px;
    left: 5px;
}
#lightbox .pp-content .pp-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#lightbox .pp-content .pp-right ul li {
    margin: 0;
    padding: 0;
}
#lightbox .pp-content .pp-right ul li p {
    margin: 6px 0 2px 0;
    padding: 0;
    color: #252525;
    font: 400 14px/28px "Roboto";
    text-align: left;
}
#lightbox .pp-content .pp-right ul li p label {
    margin: 0;
    padding: 0;
    color: #ff0000;
    font: 400 14px/28px "Roboto";
}
#lightbox .pp-content .pp-right ul li input[type="text"] {
    margin: 0;
    padding: 0 10px;
    font: 400 14px/28px "Roboto";
    color: #252525;
    border: 1px solid #c0c0c0;
    width: 250px;
    height: 30px;
    border-radius: 4px;
}
#lightbox .pp-content .pp-right ul li input[type="password"] {
    margin: 0;
    padding: 0 10px;
    font: 400 14px/28px "Roboto";
    color: #252525;
    border: 1px solid #c0c0c0;
    width: 250px;
    height: 30px;
    border-radius: 4px;
}
#lightbox .pp-content .pp-right .category {
    margin: 0;
    float: left;
}

#lightbox .pp-content .pp-right fieldset {
    border: 0 none;
    width: 100%;
    margin: 0px 2px;
    padding: 0;
}

fieldset p.gender {
    display: block;
    float: left;
    margin: 5px 37px 0 0;
    overflow: hidden;
    position: relative;
}

#lightbox .pp-content .pp-right p.gender > input {
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px;
    float: left;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
#lightbox .pp-content .pp-right p.gender > label {
    font: 400 14px/14px "Roboto" !important;
    color: #252525;
    padding: 0 0 0 22px;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
}
#lightbox .pp-content .pp-right p.gender:not(#foo) > input:hover + label,
p.gender:not(#foo) > input:focus + label,
p.gender:not(#foo) > input + label:hover,
p.gender:not(#foo) > input:focus + label {
    text-shadow: none;
    color: #252525;
}
#lightbox .pp-content .pp-right p.gender:not(#foo) > input + label {
    background: url(https://cdn.compareraja.in/images/sprite.png?v=1.4) 0 -1px no-repeat;
    height: 16px;
    margin: 0;
    float: left;
}
#lightbox .pp-content .pp-right p.gender:not(#foo) > input[type=radio] + label {
    background-position: -635px -376px;
}
#lightbox .pp-content .pp-right p.gender:not(#foo) > input[type="radio"]:checked + label {
    background-position: -635px -396px;
}
#lightbox .pp-content .pp-right input.pp-login[type="submit"] {
    background: #5eb606;
    margin: 10px 0 10px;
    float: left;
    width: 100%;
    padding: 7.5px 0;
    display: block;
    font: 600 20px/28px "Roboto";
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    clear: left;
    text-decoration: none;
    border-radius: 2px;
    border: 0 none;
    cursor:pointer;
}
#lightbox .pp-content .pp-right input.pp-login[type="submit"]:hover {
    background: #e98c38 none repeat scroll 0 0;
}
#lightbox .pp-content .pp-right input.join[type="submit"] {
    background: #5eb606;
    margin: 10px 0 10px;
    float: left;
    width: 100%;
    padding: 7.5px 0;
    display: block;
    font: 600 20px/28px "Roboto";
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    clear: left;
    text-decoration: none;
    border-radius: 2px;
    border: 0 none;
    cursor:pointer;
}
#lightbox .pp-content .pp-right input.join[type="submit"]:hover {
    background: #e98c38;
}

#lightbox .pp-content .pp-right p.para {
    margin: 8px 0 0 0;
    padding: 0;
    font: 400 14px/18px "Roboto";
    color: #676767;
    text-align: center;
    clear: left;
}
#lightbox .pp-content .pp-right a.forget {
    margin: 8px 0 0 0;
    padding: 0;
    font: 400 14px/18px "Roboto";
    color: #0066cc;
    text-align: center;
    text-decoration: none;
}
.forget {
    margin: 8px 0 0 0;
    padding: 0;
    font: 400 14px/18px "Roboto";
    color: #0066cc;
    text-align: center;
    text-decoration: none;
}
.forget:hover {
    text-decoration: underline;
}
#lightbox .pp-content .pp-right a.forget:hover {
    text-decoration: underline;
}
#lightbox .pp-content .pp-right .prom_container {
    width: 315px;
    margin: 0;
    padding: 0;
}
#lightbox .pp-content .pp-right ul.prom_tabs {
    margin: 0 0 0 0px;
    padding: 0 0 0 0;
    float: left;
    list-style: none;
    height: 41px;
    width: 328px;
    background: #fff
}
#lightbox .pp-content .pp-right ul.prom_tabs li {
    float: left;
    margin: 0px 0 -1px;
    padding: 0;
    height: 39px;
    line-height: 31px;
    border: 1px solid #fff;
    border-left: none;
    background: #fff;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #d7d7d7;
}
#lightbox .pp-content .pp-right ul.prom_tabs li a {
    width: 122.5px;
    text-align: center;
    text-decoration: none;
    color: #252525;
    display: block;
    padding: 0 16.6px;
    border: 0;
    outline: 0;
    font: 400 16px/38px "Roboto"
}
#lightbox .pp-content .pp-right ul.prom_tabs li a:hover {
    background: #fff
}
#lightbox .pp-content .pp-right ul.prom_tabs li.active a:hover {
    background: #f1f1f1;
    border-bottom: 1px solid #f1f1f1
}
#lightbox .pp-content .pp-right ul.prom_tabs li.active {
    background: #f1f1f1;
    border: 1px solid #d7d7d7;
    border-bottom: 1px solid #f1f1f1;
    border-top: 2px solid #5eb606;
}
#lightbox .pp-content .pp-right .tab_container {
    border: 1px solid #d7d7d7;
    border-top: none;
    clear: both;
    float: left;
    width: 312px;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px
}
#lightbox .pp-content .pp-right .prom_tab_content {
    padding: 0 20px 15px 20px;
    width: 272px;
    font-size: 1.2em;
    float: left;
    background: #f1f1f1;
    height: 320px;
    text-align: center;
}
@font-face {
    font-family: 'SegoeWP';
    src: url('https://cdn.compareraja.in/fonts/SegoeWP.eot') format('embedded-opentype');
    src: local(☺), url('https://cdn.compareraja.in/fonts/SegoeWP.woff') format("woff"), url('https://cdn.compareraja.in/fonts/SegoeWP.ttf') format("truetype"), url('https://cdn.compareraja.in/fonts/SegoeWP.svg') format("svg");
    font-weight: normal;
    font-style: normal;
}
/******************** Onload Popup Css End Here **************************/

#LayoutDiv1{clear:both;width:1240px;display:block;margin:0 auto;float:none}
.clear{clear:both;margin:0;padding:0;}

.hm-left{width:928px;float:left;margin:20px 0 0}
.home-slider{height:269px;overflow:hidden;}
.home-slider > .tab-slider {width:968px; }

ARTICLE.tab-slider UL{list-style:disc outside none;margin-left:0;width:238px;height:67px; float:left; padding:0;}

.tabs-slider > DIV{margin-top:0;height:269px !important;float:left;width:690px;}

UL.horizontal{display:inline;margin:0}
UL.horizontal > LI{display:inline-block;*margin:1px;zoom:1;*display:inline;}
.tabs-slider LI{background:#343643;border-bottom:1px solid #12141e;margin-right:0;height:67px;box-shadow:-1px 0 2px 0px rgba(0, 0, 0, 0.8);width:237px;font:18px/20px "Roboto";color:#fff;float:left;}
.tabs-slider LI a i.small-text{clear:left;float:left;font-size:12px;width:200px;margin:0;font-style:normal;color:#d4d6dc; line-height:26px;}
.tabs-slider LI:hover a i.small-text{clear:left;float:left;font-size:12px;line-height:20px;width:200px;margin:0;color:#d4d6dc;}
.tabs-slider A{color:#fff;height:39px;display:block;padding:12px 24px;text-decoration:none;font:400 18px/20px "Roboto Condensed";}
.tabs-slider a.hdimg{padding:0;margin:0;}
.tabs-slider LI:first-child{border-top:1px solid #12141e;height:63px;}
.tabs-slider LI:first-child:hover{border-top:1px solid #12141e;}
.tabs-slider LI:hover{background:#79689e;border-bottom:1px solid #12141e;border-right:1px solid #12141e;width:236px;}
.tabs-slider LI:hover A{color:white;}
.tabs-slider LI.active A .arrow{background:url(https://cdn.compareraja.in/images/tab-arrow.png) no-repeat 0 0;width:7px;height:15px;float:left;margin:11px 0 0 -31px;}
.tabs-slider LI.active{background:#79689e;border-bottom:1px solid #12141e;border-right:1px solid #12141e;width:236px;}
.tabs-slider LI.active.active A .arrow{background:rgba(0, 0, 0, 0) url("https://cdn.compareraja.in/images/sprite.png?v=1.4") no-repeat scroll -793px -105px;width:7px;height:15px;float:left;margin:11px 0 0 -31px;}
.tabs-slider LI.active a i.small-text{line-height:15px;}

*::-moz-placeholder {
    color: #878787;
    opacity: 1;
}

.hm-right{width:278px;float:left;margin:20px 0 0 12px;background:#463e63;padding:12px 11px}
.hm-right h1{text-align:center;margin:0 0 10px;font:600 18px/18px "Roboto";color:#fff;text-transform:uppercase}
.hm-right h2{color:#fff;font:600 18px/18px "Roboto Condensed";margin:0 40px 10px;text-align:center;text-transform:uppercase;}
.hm-right>.white-patch{width:278px;float:left;margin:0;padding:0;background:#fff;border-radius:3px;-webkit-box-shadow:0 1px 1px 1px #1f1b2b;box-shadow:0 1px 1px 1px #1f1b2b}

.hm-right .hm-box{width:248px;float:left;margin:0;padding:10px 15px;position:relative}
.hm-right .hm-box .compar-search{border:none;width:241px !important;padding:0 10px;border-top:0 none;z-index:999;margin:0;background:#fff;position:absolute;top:258px}
.hm-right .hm-box .compar-search ul{margin:0;padding:0;list-style:none;width:99.85%}
/*.hm-right .hm-box .compar-search ul li{margin:0;padding:0}*/
.hm-right .hm-box .compar-search ul li:last-child{margin:0 0 11px;padding:3px 12px}
.hm-right .hm-box .compar-search ul li a{font:14px/18px "Roboto";color:#666;text-decoration:none;margin:0;padding:3px 19px;display:block;width:84.6%}
.hm-right .hm-box .compar-search ul li a span{font:14px/18px "Roboto";color:#5057a4;text-decoration:none;margin:0;padding:0}
.hm-right .hm-box .compar-search ul li a b{font:600 14px/18px "Roboto";color:#252525;text-decoration:none;margin:0;padding:0}
.hm-right .hm-box .compar-search ul li a:hover{background:#eee;font:14px/18px "Roboto";color:#252525;margin:0;padding:3px 19px}
.hm-right .hm-box .compar-search ul li a.view{font:14px/18px "Roboto";color:#5057a4;text-decoration:none;margin:0;padding:3px 19px;display:block;width:92.4%}
.nsearchbg-newpl .compar-search ul li a.view:hover{text-decoration:underline;color:#5057a4;background:0 0}
.nsearchbg-newpl .compar-search ul li p{font:14px/18px "Roboto";color:#252525;margin:0;padding:12px 19px}
.hm-right .hm-box .mrgn-top{position:absolute}
.hm-right .hm-box .mrgn-top1 {position: absolute; width: 15.65%;}
.homecmprli {border-left: medium none !important; color: #252525; cursor: default; display: block; font: 12px/20px "Roboto"; margin: 0 5px !important; padding: 3px 12px; text-decoration: none;}
.homecmprli_hover {background:#f2f2f2; padding: 3px 12px;}
.hm-right .hm-box .compar-search1{border:1px solid #ccc;border-top:0 none;z-index:999;margin:0;width:88.5%;background:#fff;position:absolute;top:145px;right:13px}
.hm-right .hm-box .compar-search1 ul{margin:0;padding:0;list-style:none;width:99.85%}
.hm-right .hm-box .compar-search1 ul li{margin:0;padding:0}
.hm-right .hm-box .compar-search1 ul li:last-child{margin:0 0 11px;padding:0}
.hm-right .hm-box .compar-search1 ul li a{font:14px/18px "Roboto";color:#666;text-decoration:none;margin:0;padding:3px 19px;display:block;width:84.6%}
.hm-right .hm-box .compar-search1 ul li a span{font:14px/18px "Roboto";color:#5057a4;text-decoration:none;margin:0;padding:0}
.hm-right .hm-box .compar-search1 ul li a b{font:600 14px/18px "Roboto";color:#252525;text-decoration:none;margin:0;padding:0}
.hm-right .hm-box .compar-search1 ul li a:hover{background:#eee;font:14px/18px "Roboto";color:#252525;margin:0;padding:3px 19px}
.hm-right .hm-box .compar-search1 ul li a.view{font:14px/18px "Roboto";color:#5057a4;text-decoration:none;margin:0;padding:3px 19px;display:block;width:92.4%}
.hm-right .feature-box{width:248px;float:left;clear:both;margin:4px 0 .5px;padding:10px 15px 8px;background:#ededed;border-top:1px solid #cfcfcf;border-left-bottom-radius:3px;border-right-bottom-radius:3px}
.hm-right .feature-box input[type=submit]{float:left;margin:0;width:250px;padding:10px;border-bottom:0 none;border-radius:3px;color:#fff;text-transform:uppercase;text-decoration:none;font:400 16px/18px "Roboto";text-align:center;border-top:1px solid #67a600;border-left:1px solid #67a600;border-right:1px solid #67a600;-webkit-box-shadow:inset 1px 1px 0 0 #7dc42f;box-shadow:inset 1px 1px 0 0 #7dc42f;background:#67bd06;background:-moz-linear-gradient(top,#67bd06 0,#59b206 85%,#51a30b 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#67bd06),color-stop(85%,#59b206),color-stop(100%,#51a30b));background:-webkit-linear-gradient(top,#67bd06 0,#59b206 85%,#51a30b 100%);background:-o-linear-gradient(top,#67bd06 0,#59b206 85%,#51a30b 100%);background:-ms-linear-gradient(top,#67bd06 0,#59b206 85%,#51a30b 100%);background:linear-gradient(to bottom,#67bd06 0,#59b206 85%,#51a30b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#67bd06', endColorstr='#51a30b', GradientType=0)}
.hm-right .feature-box input[type=submit]:hover, .hm-right .feature-box input[type=submit]:focus{float:left;margin:0;width:250px;padding:10px;border-bottom:0 none;border-radius:3px;color:#fff;text-transform:uppercase;text-decoration:none;font:400 16px/18px "Roboto";text-align:center;border-top:1px solid #df822d;border-left:1px solid #df822d;border-right:1px solid #df822d;-webkit-box-shadow:inset 1px 1px 0 0 #efa85e;box-shadow:inset 1px 1px 0 0 #efa85e;background:#eb963e;background:-moz-linear-gradient(top, #eb963e 0%, #e98c38 58%, #d47c34 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb963e), color-stop(58%,#e98c38), color-stop(100%,#d47c34));background:-webkit-linear-gradient(top, #eb963e 0%,#e98c38 58%,#d47c34 100%);background:-o-linear-gradient(top, #eb963e 0%,#e98c38 58%,#d47c34 100%);background:-ms-linear-gradient(top, #eb963e 0%,#e98c38 58%,#d47c34 100%);background:linear-gradient(to bottom, #eb963e 0%,#e98c38 58%,#d47c34 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb963e', endColorstr='#d47c34',GradientType=0);}
.hm-right input.hm-rightsearchtxt[type=text]{width:230px;height:29px;border:1px solid #c7c5d0;background:#fff url(https://cdn.compareraja.in/images/hm-search.png) no-repeat 97% 50%;border-radius:3px;margin:0;font:400 14px/18px "Roboto";color:#252525;padding:0 9px;box-shadow:1px 1px 0 0 #e8e7ef inset,-1px -1px 0 0 #e8e7ef inset}
.hm-right span {
    color: #252525;
    float: left;
    font: 400 12px/18px "Roboto";
    margin: 6px 0;
    padding: 0;
    text-align: center;
    width: 250px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .hm-right input[type=search] {width: 248px;}
}
.hm-right .hm-box span.search{width:11px;height:12px;float:right;margin:0;padding:0;position:absolute;right:23px;top:62px;z-index:1;}
.hm-right input[type=search]{width:229px;height:29px;border:1px solid #c7c5d0;background:#fff url(https://cdn.compareraja.in/images/hm-search.png) no-repeat 97% 50%;border-radius:3px;margin:0;font:400 14px/18px "Roboto";color:#252525;padding:0 9px;box-shadow:1px 1px 0 0 #e8e7ef inset,-1px -1px 0 0 #e8e7ef inset}

.hm-right input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
.hm-right input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
.hm-right input[type=search]::-webkit-search-decoration,
.hm-right input[type=search]::-webkit-search-cancel-button,
.hm-right input[type=search]::-webkit-search-results-button,
.hm-right input[type=search]::-webkit-search-results-decoration { display: none; }

/*.hm-right input[type=search1]{width:230px;height:29px;border:1px solid #c7c5d0;border-radius:3px;margin:0;font:400 14px/18px "Roboto";color:#252525;padding:0 9px;box-shadow:1px 1px 0 0 #e8e7ef inset,-1px -1px 0 0 #e8e7ef inset}*/
.hm-right .hm-box span.top124{top:124px;}
.hm-right input[type=search]::-moz-placeholder{color:#acacac}
.hm-right i {width:250px;text-align:center;margin:6px 0;font:400 12px/18px "Roboto";color:#252525;padding:0;float:left}
.columns{height:29px;margin-bottom:14px}
div.custom .custom.dropdown{display:block;position:relative;top:-22px;margin-bottom:0;height:29px;margin-top:0;padding:0;width:100%;background:#fff;box-shadow:none;font:400 14px/18px "Roboto";color:#252525;border:1px solid #c7c5d0;border-radius:3px;vertical-align:top}
div.custom .custom.dropdown ul{overflow-y:auto;max-height:200px}
div.custom .custom.dropdown .current{cursor:default;white-space:nowrap;line-height:26px;color:rgba(0,0,0,.75);text-decoration:none;overflow:hidden;display:block;margin-left:9px;margin-right:0}
div.custom .custom.dropdown .selector{cursor:default;position:absolute;width:2.5em;height:2.3125em;display:block;right:0;top:0}
div.custom .custom.dropdown .selector:after{content:"";display:block;width:0;height:0;border:5px inset;border-color:#252525 transparent transparent;border-top-style:solid;position:absolute;left:.9375em;top:50%;margin-top:-3px}
div.custom .custom.dropdown.open a.selector:after,div.custom .custom.dropdown:hover a.selector:after{content:"";display:block;width:0;height:0;border:5px inset;border-color:#222 transparent transparent;border-top-style:solid}
div.custom .custom.dropdown .disabled{color:#888}
div.custom .custom.dropdown .disabled:hover{background:0 0;color:#888}
div.custom .custom.dropdown .disabled:hover:after{display:none}
div.custom .custom.dropdown.open ul{display:block;z-index:10;min-width:100%;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
div.custom .custom.dropdown.small{max-width:134px}
div.custom .custom.dropdown.medium{max-width:254px}
div.custom .custom.dropdown.large{max-width:434px}
div.custom .custom.dropdown.expand{width:100%!important}
div.custom .custom.dropdown.open.small ul{min-width:134px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
div.custom .custom.dropdown.open.medium ul{min-width:254px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
div.custom .custom.dropdown.open.large ul{min-width:434px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
div.custom .custom.dropdown ul{position:absolute;width:auto;display:none;left:-1px;top:auto;-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,.1);box-shadow:0 2px 2px 0 rgba(0,0,0,.1);margin:0;padding:0;background:#fff;border:1px solid #ccc;font-size:16px}
div.custom .custom.dropdown ul li{color:#252525;font-size:.875em;cursor:default;padding:1px 12px;min-height:1.5em;line-height:1.5em;margin:0;white-space:nowrap;list-style:none;border-left-bottom-radius:3px;border-right-bottom-radius:3px;-moz-border-left-bottom-radius:3px;-moz-border-right-bottom-radius:3px}
div.custom .custom.dropdown ul li.selected{background:#eee;color:#252525;border-left-bottom-radius:3px;border-right-bottom-radius:3px;-moz-border-left-bottom-radius:3px;-moz-border-right-bottom-radius:3px}
div.custom .custom.dropdown ul li:hover{background-color:#ececec;border-left-bottom-radius:3px;border-right-bottom-radius:3px;-moz-border-left-bottom-radius:3px;-moz-border-right-bottom-radius:3px;color:#252525}
div.custom .custom.dropdown ul li.selected:hover{background:#eee;border-left-bottom-radius:3px;border-right-bottom-radius:3px;-moz-border-left-bottom-radius:3px;-moz-border-right-bottom-radius:3px;cursor:default;color:#252525}
div.custom .custom.dropdown ul.show{display:block}
div.custom .custom.disabled{background:#ddd}
.hm-fetbox {
    width: 1240px;
    margin: 2px auto;
    text-align: center;
    clear: both;
    height: 41px;
    float: left
}
.hm-feture {
    width: 1240px;
    border-top: 1px solid #dadada;
    clear: both
}
.hm-text {
    width: 177px;
    text-align: center;
    background: #fff;
    clear: both;
    font: 600 16px/18px "Roboto Condensed";
    color: #252525;
    position: relative;
    top: 7px;
    margin: 0 auto
}
.hm-featprdct {
    width: 1240px;
    margin: 0 auto;
    padding: 0 0 20px;
    border-bottom: 1px solid #dadada;
    float: left
}
.hm-featprdct ul {
    margin: 0 auto;
    padding: 0;
    list-style: none
}
.hm-featprdct ul li {
    margin: 0 auto;
    padding: 0 0 0 15px;
    float: left
}

/****************************** Shop Category Css Start Here ******************************/
	
.shcate {
    width: 1240px;
    margin: 0 auto;
    padding: 0;
}
/*.shcate p {
    width: 1240px;
    margin: 0 auto;
    padding: 16px 0 0 0;
    font: 700 18px/18px "Roboto";
    color: #252525;
    text-align: center;    
    text-transform: uppercase;
}*/
.shcate .heding {
    width: 1240px;
    margin: 0 auto;
    padding: 16px 0 0 0;
    font: 700 18px/18px "Roboto Condensed";
    color: #252525;
    text-align: center;
    border-bottom: 0 none;
    text-transform: uppercase;
    clear:left;
}
.shcate > .cat-title {
    width: 1240px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    font: 600 16px/18px "Roboto Condensed";
    color: #252525;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
}

.shcate > .cat-title .all-category {background:#3399ff;margin:0;padding:8px 0;/* text-align:center; */font:400 16px/18px "Roboto";color: #fff;display:block;width: 170px;float:right;text-transform:none;text-decoration:none;position:relative;top:-12px;padding-left: 20px;}
.shcate > .cat-title .all-category:after {position:absolute;top: 7px;right: 18px;font-family:'FontAwesome';color:#fff;font-size:16px;line-height:18px;content:"\f101";}
.shcate > .cat-title .all-category:hover {background:#1A80E6;}

.shcate ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.shcate ul li {
    margin: 0;
    padding: 0 14px 0 14px;
    float: left;
    width: 280px;
    height: 116px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.shcate ul li:hover {
    border: 1px solid #ff5a06;
    -webkit-box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
    box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
}
.shcate ul li .shleft {
    width: 160px;
    float: left;
    padding: 0;
    margin: 20px 0 11px 0;
}
.shcate ul li .shleft h3 {
    font: 400 16px/18px "Roboto";
    color: #252525;
    margin: 0 0 10px;
    padding: 0;
    width: 292px;
    text-transform: uppercase;
    position: relative;
}
.shcate ul li .shleft i.text {
    font: 400 12px/14px "Roboto";
    color: #666666;
    margin: 0 0 8px;
    padding: 0;
    font-style: normal;
    float: left;
    width: 151px;
}
.shcate ul li a.link {
    font: 400 14px/18px "Roboto";
    color: #252525;
    margin: 0px 0 0 0;
    padding: 0;
    text-decoration: none;
}
.shcate ul li .shleft i.link2 {
    font: 400 14px/18px "Roboto";
    color: #0066cc;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    width: 181px;
}
.shcate ul li .shleft i.link2:hover {
    color: #0066cc;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.shcate ul li .shleft i.link2 span {
    background: url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -760px -31px;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    display: inline-block;
}
.shcate ul li .shright {
    width: 118px;
    float: left;
}
.shcate ul li .shright img {
    margin: 0 0 0 20px;
}
.shcate ul li:nth-child(4n) {
    border-right: 0 none;
}
.shcate ul li:first-child:hover {
    -webkit-box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
    box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
}
.shcate ul li:last-child:hover {
    -webkit-box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5) !important;
    box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5) !important;
    border: 1px solid #ff5a06 !important;
}
/****************************** Shop Category Css End Here ******************************/

/************************** Other Categories Css Start Here ****************************/
	
.other-cate {
    width: 1240px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
    clear:left;
}

.swiper-container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
}

.swiper-container > .othr-title {
    width: 1240px;
    margin: 0 auto 10px;
    padding: 10px 0 10px 0;
    font: 600 16px/18px "Roboto Condensed";
    color: #252525;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
}

.swiper-slide .othr-cat-prdct{margin:0 auto;padding:0;width:1240px;border-bottom;0 none;}
.swiper-slide > .othr-cat-prdct > .apliance{width:287.5px;float:left;margin:0 20px 0 0;padding:0;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp{width:287.5px;margin:0;padding:0;border:1px solid #e5e5e5;float:left;min-height:55px;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul{margin:0;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li{margin:0;padding:0;float:left;list-style:none;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li a{font:400 14px/18px "Roboto";color:#252525;margin:0;padding:0;text-decoration:none;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li a:hover{text-decoration:underline;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child{margin:0;padding:10.5px 0;border-right:1px solid #e5e5e5;width:72px;float:left;position:relative;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .tp-brdr{margin:0;padding:0 0;background:#ff5a06;height:3px;width:74px;position:absolute;top:-1px;left:-1px;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .large-applnc{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -421px -563px;width:21px;height:37px;margin:0 0 0 26px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .small-applnc{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -452px -563px;width:34px;height:37px;margin:0 0 0 20px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .Kitchn-applnc{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -491px -563px;width:39px;height:37px;margin:0 0 0 18px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .persnal-care{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -541px -563px;width:27px;height:37px;margin:0 0 0 18px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .health-applnc{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -572px -563px;width:41px;height:37px;margin:0 0 0 18px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .audio-video{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -613px -563px;width:27px;height:37px;margin:0 0 0 18px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .compter-acces{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -642px -563px;width:36px;height:37px;margin:0 0 0 18px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .camera-acces{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -678px -563px;width:36px;height:37px;margin:0 0 0 18px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .mobile-acces{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -718px -563px;width:21px;height:37px;margin:0 0 0 18px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .other{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -746px -563px;width:25px;height:37px;margin:0 0 0 18px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .tools-hard {
    background: url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -418px -612px;
    width: 32px;
    height: 37px;
    margin: 0 0 0 24px;
    padding: 0;
    float: left;
}

.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:first-child .smart-device {
    background: url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat -468px -612px;
    width: 32px;
    height: 37px;
    margin: 0 0 0 24px;
    padding: 0;
    float: left;
}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:last-child{margin:0;padding:20px 0;float:left;width:210px;}
.swiper-slide > .othr-cat-prdct > .apliance > .app-tp ul li:last-child p{font:400 16px/18px "Roboto";color:#252525;margin:0;padding:0;text-align:center;text-transform:uppercase;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont{margin:12px 0 0 0;padding:0;float:left;width:100%;}
.swiper-slide > .othr-cat-prdct > .apliance > .mrgn-top{margin:0;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont ul{margin:0;padding:0 0 0 0;float:left;width:100%;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont ul li{margin:0;padding:4px 0 6px 2px;list-style:none;font:400 14px/18px "Roboto";color:#252525;border:1px solid #fff;display:block;text-align:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont ul li .arrow-bullet{background:url(https://cdn.compareraja.in/images/sprite.png?v=1.4) no-repeat 0px -601px;width:4px;height:5px;margin:7px 8px 0 11px;padding:0;float:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont ul li .red-tag{color:#ff0000;float:left;font:400 9px/16px "Roboto";height:14px;margin:2px 0 0 13px;padding:0;position:absolute;text-align:center;width:28px;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont ul li a{font:400 14px/18px "Roboto";color:#252525;margin:0;padding:0;text-decoration:none;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont ul li a:hover{text-decoration:underline;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont ul li:hover{margin:0;padding:4px 0 6px 2px;border:1px solid #ff5a06;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont > .collps-cont{margin:0;padding:15px 15px 15px 15px;border-top:1px solid #bdbdab;clear:left;}
.swiper-slide > .othr-cat-prdct > .apliance > .appl-cont > .collps-cont p{margin:0;padding:0;font:400 0.813em/18px "HelveticaNeue-Light";color:#252525;clear:left;}


.sec6termsec {
    float: left;
    font-size: 13px;
    color: #7f7f7f;
    margin: 0 0 0 9px;
    font-weight: 500;
}
.sec6termsec a {
    color: #7f7f7f;
    text-decoration: none;
}
.sec6termsec span {
    margin: 0 0 0 5px;
    font: 400 14px/18px "Roboto";
    color: #0d75d6;
    text-decoration: none;
}
.sec6termsec a .read-more {
    display: none;
    font: 400 14px/18px "Roboto";
    color: #0d75d6;
    position: relative;
}
.sec6termsec a .read-more:after {
    content: "\f067";
    font-family: FontAwesome;
    color: #0d75d6;
    text-decoration: none;
    font-size: 100%;
    position: absolute;
    right: -20px;
    top: 1px;
}
.sec6termsec a.show .read-more {
    display: inline-block;
}
.sec6termsec a.show .read-more:hover {
    text-decoration: underline;
}
.sec6termsec i {
    font: 400 100%/18px "FontAwesome";
    color: #0d75d6;
    margin: 0 0 0 5px;
}
.sec6termsec a.show .read-less {
    display: none;
    font: 400 14px/18px "Roboto";
    color: #0d75d6;
    position: relative;
    text-decoration: none;
}
.sec6termsec a > .read-less:hover {
    text-decoration: underline;
}
.pprce-prdct {
    width: 1240px;
    margin: 0 auto 0;
    padding: 0;
    float: left;
}
.pprce-prdct p {
    width: 1240px;
    margin: 0 auto;
    padding: 15px 0 9px 0;
    font: 600 16px/18px "Roboto Condensed";
    color: #252525;
    border-bottom: 1px solid #e5e5e5;
}
.pprce-prdct ul {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
    float: left;
}
.pprce-prdct ul li {
    margin: 0 31px 0 0;
    padding: 0;
    float: left;
}
.pprce-prdct ul li:last-child {
    margin: 0;
}
.pprce-prdct ul li .left {
    margin: 0;
    padding: 0;
    float: left;
    width: 83px;
}
.pprce-prdct ul li .left img {
    margin: 0;
    padding: 0;
    float: left;
}
.pprce-prdct ul li .right {
    margin: 0;
    padding: 14px 0 28px 10px;
    float: left;
    width: 190px;
    text-align: left;
}
.pprce-prdct ul li .right a {
    margin: 0;
    padding: 0;
    font: 400 14px/18px "Roboto";
    color: #252525;
    display: block;
    text-decoration: none;
}
.pprce-prdct ul li .right a:hover {
    text-decoration: underline;
}

/************************** Other Categories Css End Here ****************************/

.pprdct {
    width: 1240px;
    margin: 0 auto 7px;
    padding: 0;
    float: left;
}
.pprdct p {
    width: 1240px;
    margin: 0 auto;
    padding: 15px 0 9px 0;
    font: 600 16px/18px "Roboto Condensed";
    color: #252525;
    border-bottom: 1px solid #e5e5e5;
}
.pprdct ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pprdct ul li {
    margin: 0;
    padding:0 14px 11px;
    float: left;
    width: 176.67px;
    height: 200px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    font: 400 14px/18px "Roboto";
    color: #252525;
}
.pprdct ul li p {
    font: 400 14px/18px "Roboto";
    color: #252525;
    margin: 0px 0 0 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    width: 178.84px;
    border-bottom: 0 none;
    max-height: 39px;
    overflow: hidden;
}
.pprdct ul li:hover {
    border: 1px solid #ff5a06;
    -webkit-box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
    box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
    text-decoration: underline;
    color: #252525;
}
.pprdct ul li a.link {
    font: 400 14px/18px "Roboto";
    color: #252525;
    margin: 0px 0 0 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    width: 178.84px;
    float: left;
}
.pprdct ul li a.link:hover {
    color: #252525;
    text-decoration: underline;
}
.pprdct ul li .ppbox {
    width: 160.84px;
    text-align: center;
    padding: 15px 0 11px 0;
    margin: 0;
}

.pprdct ul li .ppbox img {
    margin: 0 0 0 20px;
    height:145px;
}
.pprdct ul li:first-child:hover {
    -webkit-box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
    box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
}
.pprdct ul li:last-child {
    border-right: 0 none;
}
.pprdct ul li:last-child:hover {
    -webkit-box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
    box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
    border: 1px solid #ff5a06;
}
@media all\0 {
    .shcate ul li.last-child {
        border-right: 0 none;
    }
    .pprdct ul li {
        width: 176.5px !important;
    }
    .pprdct ul li.no-brd {
        border-right: 0 none;
        width: 176.5px;
        border-right: 1px solid #fff;
    }
    .pprdct ul li.no-brd:hover {
        -webkit-box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
        box-shadow: 0 0 4px 4px rgba(255, 208, 185, 0.5);
        border: 1px solid #ff5a06;
    }
}

.hm-content {
    width: 1240px;
    margin:10px auto;
    padding: 0;
    clear: both;
    float:left;
    position:relative;
}
.hm-content h3 {
    width: 100%;
    margin:0 0 10px;
    padding: 0 0 9px;
    clear: both;
    font: 600 16px/16px "Roboto Condensed";
    color: #252525;
    border-bottom: 1px solid #ccc
}
.hm-content p {
    margin: 0 0 8px;
    padding: 0;
    clear: both;
    font: 14px/20px "Roboto";
    color: #252525
}	


.compar-popup input[type="text"] {
     background: none repeat scroll 0 0 #f4f1f1;
    border: 1px solid #d0d0d0;
    box-shadow: none;
    clear: both;
    color: #666666;
    float: left;
    font: 14px/18px "Roboto";
    margin: 27px 19px;
    padding: 4px 8px;
    width: 449px;
}


.compar-popup input.price[type="text"] {
     border: 1px solid #d0d0d0;
    clear: both;
    color: #666666;
    float: left;
    font: 14px/18px "Roboto";
    margin: 17px 19px 0;
    padding: 4px 8px;
    width: 449px;
}

    
/*---- Content Css End Here -----*/

.gplusbtn{float:right;margin:0;padding:0;position:absolute;right:-16px;top:35px}
.gplusbtn.home{float:left;left:180px;top:0}
.gplusbtn.finder{left:3px;right:-30px;top:50px}

/**************** ONLOAD Popup CSS Start Here ******************/

#spopup {/*background:#f3f3f3;*/ padding:5px; width:300px; height:245px; position:fixed; bottom:13px; right:0; display:none; z-index:90; bottom:0; /*border:1px solid #7b7b7b;*/}
#spopup .close-pp {position:absolute;top:-10px;right:5px;} 
#spopup .add-content {width:300px;  -webkit-box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.3); box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.3);}
#spopup .add-content a {display:block; }

/**************** ONLOAD Popup CSS End Here ******************/

/*********Added By Ajay 21-04-2016***************/
/*
#cem_browser_push_notif .cem_browser_push_subcontainer {
    width: 40% !important;
    box-shadow: rgb(136, 136, 136) 0px 0px 4px !important;
    margin: 0px auto !important;
    background-color: rgb(240, 239, 240) !important;
    padding: 0 0 10px 0 !important;
    font-family: 'Roboto' !important;
}

#cem_browser_push_notif .cem_icon_content {
    display: none !important;
    vertical-align: top !important;
    width: 100% !important;
    margin: 0 auto 10px !important;
    text-align: center !important;
    display: table !important;
}

#cem_browser_push_notif .cem_text_content {
    display: inline-block !important;
    width: 100% !important;
    margin: 0 auto !important;
    text-align: center !important;
    font-family: 'Roboto' !important;
}
#cem_browser_push_notif img {
    width: 187px !important;
}
*/
/**************************************/

.ac_over{background-color:#f2f2f2;color:#333}


.home-right-banner {width:300px; margin:20px 0 0; padding:0; float:right; position:relative;}   
.home-right-banner .list_carousel {position:absolute; top:5px; left:150px; }

.big-banner {display:none;}
.big-banner {position:fixed; margin:0; padding:0; left:50%; top:14%; margin:0 0 0 -550px; z-index:100;}
.big-banner .close-pp {position:absolute;top:-20px;right:5px;}

.festival-banner {width:432px; margin:0 0 0 10px; padding:0; float:left;}
.festival-banner .festival-left {width:220px; margin:0; padding:0 6px 0 0px; float:left;}
.festival-banner .ver-border {width:1px; height:65px; margin:8px 10px 0 0; padding:0px; border-right:1px solid #ccc; float:left;}
.festival-banner .festival-right {width:200px; margin:0 -10px 0 0; padding:0 0 0 4px; float:right;}