/*
 
	<!-- GLOBAL CONFIG. -->









<!-- Cache: RCS -->









<!-- External-Template -->
 






































































<!-- Replicate prod config -->

<!-- Add CDN force path -->




















<!-- NOTIFICATION VARIABLES  -->



<!--  DEBUG MODE  -->

	


<!-- DEBUG MODE a 1 forzato per inserire i css singolarmente  -->


<!-- SET DEFAULTS (SEZIONE, SOTTOSEZIONE, TIPOLOGIA)  -->

	



	



	



    


<!-- Device profiling script -->




	
	








<!--  OPENX ASYNC MODE  -->

	


<!--  ADV ASYNC MODE  -->

	

























	
	


	
	
	
	<!-- Cookie policy :: 0 -->
	
	<!-- HTTP template :: (none) -->







*/


@font-face {
    font-family: "main-condensed_bold";
    font-style: normal;
    font-weight: normal;
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbd-webfont.eot?v=201403051053");
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbd-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbd-webfont.woff?v=201403051053") format("woff"),
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbd-webfont.ttf?v=201403051053") format("truetype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbd-webfont.svg#BreraCondensedBold?v=201403051053") format("svg");
}
@font-face {
    font-family: "main-condensed_bold_italic";
    font-style: normal;
    font-weight: normal;
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbdit-webfont.eot?v=201403051053");
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbdit-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbdit-webfont.woff?v=201403051053") format("woff"),
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbdit-webfont.ttf?v=201403051053") format("truetype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbdit-webfont.svg#BreraCondensedBoldItalic?v=201403051053") format("svg");
}
@font-face {
    font-family: "main-condensed_black";
    font-style: normal;
    font-weight: normal;
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbl-webfont.eot?v=201403051053");
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbl-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbl-webfont.woff?v=201403051053") format("woff"),
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbl-webfont.ttf?v=201403051053") format("truetype"),
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnbl-webfont.svg#BreraCondensedBlack?v=201403051053") format("svg");
}
@font-face {
    font-family: "main-condensed_semibold";
    font-style: normal;
    font-weight: normal;
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsb-webfont.eot?v=201403051053");
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsb-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsb-webfont.woff?v=201403051053") format("woff"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsb-webfont.ttf?v=201403051053") format("truetype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsb-webfont.svg#BreraCondensedSemiBold?v=201403051053") format("svg");
}
@font-face {
    font-family: "main-condensed_semibold_italic";
    font-style: normal;
    font-weight: normal;
    src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsbit-webfont.eot?v=201403051053");
    src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsbit-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsbit-webfont.woff?v=201403051053") format("woff"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsbit-webfont.ttf?v=201403051053") format("truetype"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnsbit-webfont.svg#brera_condensedSBdIt?v=201403051053") format("svg");
}
@font-face {
    font-family: "title-bold";
    font-style: normal;
    font-weight: normal;
    src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-bold-webfont.eot?v=201403051053");
    src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-bold-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-bold-webfont.woff?v=201403051053") format("woff"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-bold-webfont.ttf?v=201403051053") format("truetype"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-bold-webfont.svg#solferino_text_rgbold?v=201403051053") format("svg");
}




@font-face {
    font-family: "title-regular";
    font-style: normal;
    font-weight: normal;
    src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.eot?v=201403051053");
    src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"),  
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.woff?v=201403051053") format("woff"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.ttf?v=201403051053") format("truetype"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/solferino/solferinotext-regular-webfont.svgttf?v=201403051053") format("svg");
}



@font-face {
    font-family: "main-condensed_regular";
    font-style: normal;
    font-weight: normal;
    src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.eot?v=201403051053");
    src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.woff?v=201403051053") format("woff"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.ttf?v=201403051053") format("truetype"), 
         url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnrg-webfont.svg#BreraCondensedRegular?v=201403051053") format("svg");
}

@font-face {
    font-family: "main-condensed_light";
    font-style: normal;
    font-weight: normal;
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnlt-webfont.eot?v=201403051053");
    src: url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnlt-webfont.eot?#iefix&v=201403051053") format("embedded-opentype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnlt-webfont.woff?v=201403051053") format("woff"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnlt-webfont.ttf?v=201403051053") format("truetype"), 
         url("http://css2.corriereobjects.it/includes2013/LIBS/css/fonts/brera/brecnlt-webfont.svg#BreraCondensedLightttf?v=201403051053") format("svg");
}

@font-face {
  font-family: "iconfont";
  src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/icons/corriereicon.eot?v=201604211657");
  src: url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/icons/corriereicon.eot?#iefix&") format("embedded-opentype"),
       url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/icons/corriereicon.woff?v=201604211657") format("woff"),
       url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/icons/corriereicon.ttf?v=201604211657") format("truetype"),
       url("http://static2.corriereobjects.it/includes2013/LIBS/css/fonts/icons/corriereicon.svg?v=201604211657#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}