@charset "UTF-8";

/* -----------------------------------------------------

base

------------------------------------------------------ */

body {
	text-align: center;
	background: url(../../img/pc/bar2_back.jpg);
	height: auto;
	}

/*-children-*/
#header {
	position: relative;
	background-color: #fff;
	min-width: 960px;
	width: 100%;
	padding-top: 7px;
	}
#container {
	display: block;
	background-color: #fff;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 15px;
	padding-bottom: 30px;
	width: 100%;
	min-width: 960px;
	box-sizing: border-box;
	}
body#monthly #container.two_column_leftmenu {
	padding-top: 10px;
	}
body#monthly .monthly_lower_all #container.two_column_leftmenu {
	padding-top: 10px;
	}
body#monthly .monthly_lower_detail #container.two_column_leftmenu {
	padding-top: 10px;
	}
.one_column {
	margin: 0 auto;
	padding: 80px 0 50px;
	width: 980px;
	height: auto;
	}
/*3カラム（デフォルト）*/
#center_column {
	margin: 0 250px 0 170px;
	min-width: 526px;
	min-height: 550px;
	overflow: hidden;
	position: relative;
	}
body.monthly_lower #center_column {
	margin: 0 250px 0 158px;
	}
body.monthly_lower.monthly_lower_all #center_column {
	margin: 0 0 0 170px;
	}
body.monthly_lower_detail #center_column {
	margin: 0 0 0 170px;
	}
.center_rightcolumn{
	margin: 0 250px 0 170px!important;
}
#left_column {
	float:left;
	width: 150px;
	}
#right_column {
	float: right;
	width: 230px;
	}
/*2カラム*/
.two_column #center_column {
	margin: 0 347px 0 7px;
	}
.two_column #right_column  {
	width: 320px;
	margin-right: 7px;
	}
/*2カラム：レフトメニュー*/
.two_column_leftmenu #center_column {
	margin: 0 7px 0 170px;
	}
body#anime .two_column_leftmenu #center_column ,
body#ppv .two_column_leftmenu #center_column {
	margin: 0 0 0 170px;
	}
/*2カラム：アフィリエイト*/
body#aff .two_column_leftmenu #center_column {
	}
/*1カラム　詳細*/
.one_column_detail #center_column {
	margin: 0 0 0 0;
	}
/*1カラム　特集*/
body#future #center_column {
	margin: 0;
	min-width: inherit;
	overflow: hidden;
	position: relative;
	}
/*1カラム　howto*/
body#howto .one_column #center_column {
	margin: 0;
	min-width: inherit;
	overflow: hidden;
	position: relative;
	}
#footer {
	margin: 0 auto;
	background-color: #ebebeb;
	padding-bottom: 5px;
	width: 100%;
	height: auto;
	font-size: 12px;
	}
