@charset "UTF-8";

/*clearfix setup */

#container:after,
.menu ul:after,
#header .head_search dl:after,
#center_column .rank_list:after,
#center_column .rank_list ul:after,
#center_column ul li p.tag:after,
#center_column .review:after,
.products_cover:after,
#right_column .right_rank:after,
#foot_info:after,
#shiroutotv ul.pickup_list:after ,
#nanpatv ul.pickup_list:after ,
#right_column .right_rank20 ul li dl:after ,
#right_column #right_user_review ul li:after ,
.anime_cover ul li:after ,
.anime_cover .anime_detail dl dd ul:after ,
#right_column .right_anime_rank ul li:after ,
#right_column .right_anime_review ul li:after ,
#right_column .right_ppv_rank ul li:after ,
#right_column .right_ppv_review ul li:after ,
#monthly #center_column h2:after ,
#monthly .two_tbody:after ,
#monthly .three_tbody:after ,
#monthly #monthly_notes_box dl:after ,
#monthly #monthly_bottom_bnr ul:after ,
#ppv #ppv_notes_box dl:after ,
.common_detail_cover:after ,
#sample-photo dd ul:after ,
.buy_box form.ItemVideoForm dl dd.download_box:after ,
.user_review_head:after ,
.goods_detail:after ,
.user_review ul li .user_date:after ,
.search_form:after ,
.search_form .search_num:after ,
.search_form .search_num ul:after ,
.search_list_detail ul li:after ,
.rank_list_detail ul li:after ,
.rank_list_detail p.maker:after ,
#right_column .right_latest_list ul li div:after ,
.search_list_review:after ,
body.nampa_detail .common_detail_cover h1:after ,
body.nampa_detail #playing:after ,
#actress_list ul:after ,
#genres_list ul:after ,
.series_list_box ul:after ,
.series_list_box ul li:after ,
#series_list ul#kanarink:after ,
#join ul#join_step:after ,
.join_notes:after ,
#mypage .title_layout:after ,
#mypage_navi:after ,
#point ul#point_step:after ,
#point table.radio_select_item td:after ,
#point .cancelable_button_layout:after ,
#aff_wrap:after ,
#aff_head #aff_nav1:after ,
#aff_head #aff_nav2:after ,
#aff_about_list ul:after ,
#aff_what ul.aff_what_li1:after ,
#aff_start ul.aff_start_link:after ,
#aff_ad_money .aff_item ul:after ,
#aff_banner_rank_wrap dl dd:after ,
#aff_banner_material .aff_item1 ul:after ,
#aff_banner_material .aff_item2 ul:after ,
.aff_menu ul:after ,
.aff_notes:after ,
#aff_registry .cancelable_button_layou:after ,
body#ppv ul.Bread_crumb:after ,
body#ppv ul.Bread_crumb li.search_save:after ,
#ppv_video_list li:after ,
.item_data:after ,
#mypage_monthlyhistory ul:after ,
ol.cart_step:after ,
#cart_top table td.description_colum p:after ,
.cart_notes:after ,
#cart_payment .cancelable_button_layout:after ,
#cart_payment_confirm table td.description_colum p:after ,
#cart_payment_confirm .cancelable_button_layout:after ,
ol.monthly_step:after ,
#monthly_registry .cancelable_button_layout:after ,
#monthly_registry .monthly_notes:after ,
#monthly_registry .channel_term_layout_aspx dt:after ,
.review_cover:after ,
#review_confirm .button_layout:after ,
.beginner_bottom .beginner_bottom_link:after ,
.beginner_bottom p:after ,
.figure_box:after ,
#howto_mgs_movie ul.power_up_navi:after ,
.navi_box:after ,
.contentbox3_inner:after ,
#top_title_box:after ,
#howto_faq #main-up:after ,
#howto_faq #main-under dl dt:after ,
#howto_faq #main-under dl dd:after ,
#howto_mgsplayer_movie_error #qa_text3 ol li:after ,
.first_tokucho:after ,
.howto_faq_section:after ,
#howto_cache #browser_list:after ,
#bc_content .browser_box h3:after ,
#bc_content .browser_box dl:after ,
.howto_mypage dl:after ,
.howto_mypage ul:after ,
.howto_faq_section5:after ,
.browser_link:after ,
#howto_device #device1:after ,
#howto_device #device2:after ,
.howto_error h3:after ,
#payment_credit dl:after ,
#payment_bitcach_navi dl:after ,
#payment_bitcach dl:after ,
#payment_bitcach .payment_bitcach_move ul:after ,
#payment_convenience dl:after ,
#payment_convenience ul:after ,
#payment_convenience ul li:after ,
#payment_ccheck dl:after ,
#payment_ccheck ul:after ,
#payment_ccheck ul li:after ,
#payment_net_bank dl:after ,
#howto_welcome .welcome_box:after ,
#howto_welcome .welcome_box.layout3 dl dd:after ,
#howto_welcome ul.cash:after ,
#howto #select_save .select_save_box:after {
	content: ".";
	font-size: 1px;
	line-height: 0;
	display: block;
	height: 0.1px;
	visibility: hidden;
	clear: both;
	zoom:1;
	}
#container,
.menu ul,
#header .head_search dl,
#center_column .rank_list,
#center_column .rank_list ul,
#center_column ul li p.tag,
#center_column .review,
.products_cover,
#right_column .right_rank,
#foot_info ,
#shiroutotv ul.pickup_list ,
#nanpatv ul.pickup_list ,
#right_column .right_rank20 ul li dl ,
#right_column #right_user_review ul li ,
.anime_cover ul li ,
.anime_cover .anime_detail dl dd ul ,
#right_column .right_anime_rank ul li ,
#right_column .right_anime_review ul li ,
#monthly #center_column h2 ,
#monthly .two_tbody ,
#monthly .three_tbody ,
#monthly #monthly_notes_box dl ,
#monthly #monthly_bottom_bnr ul ,
#ppv #ppv_notes_box dl ,
.common_detail_cover ,
#sample-photo dd ul ,
.buy_box form.ItemVideoForm dl dd.download_box ,
.user_review_head ,
.goods_detail ,
.user_review ul li .user_date ,
.search_form ,
.search_form .search_num ,
.search_form .search_num ul ,
.search_list_detail ul li ,
.rank_list_detail ul li ,
.rank_list_detail p.maker ,
#right_column .right_latest_list ul li div ,
.search_list_review ,
body.nampa_detail .common_detail_cover h1 ,
body.nampa_detail #playing ,
#actress_list ul ,
#genres_list ul ,
.series_list_box ul ,
.series_list_box ul li ,
#series_list ul#kanarink ,
#join ul#join_step ,
.join_notes ,
#mypage .title_layout ,
#mypage_navi ,
#point ul#point_step ,
#point table.radio_select_item td ,
#point .cancelable_button_layout ,
#aff_wrap ,
#aff_head #aff_nav1 ,
#aff_head #aff_nav2 ,
#aff_about_list ul ,
#aff_what ul.aff_what_li1 ,
#aff_start ul.aff_start_link ,
#aff_ad_money .aff_item ul ,
#aff_banner_rank_wrap dl dd ,
#aff_banner_material .aff_item1 ul ,
#aff_banner_material .aff_item2 ul ,
.aff_menu ul ,
.aff_notes ,
#aff_registry .cancelable_button_layou ,
body#ppv ul.Bread_crumb ,
body#ppv ul.Bread_crumb li.search_save ,
#ppv_video_list li ,
.item_data ,
#mypage_monthlyhistory ul ,
ol.cart_step ,
#cart_top table td.description_colum p ,
.cart_notes ,
#cart_payment .cancelable_button_layout ,
#cart_payment_confirm table td.description_colum p ,
#cart_payment_confirm .cancelable_button_layout ,
ol.monthly_step ,
#monthly_registry .cancelable_button_layout ,
#monthly_registry .monthly_notes ,
#monthly_registry .channel_term_layout_aspx dt ,
.review_cover ,
#review_confirm .button_layout ,
.beginner_bottom .beginner_bottom_link ,
.beginner_bottom p ,
.figure_box ,
#howto_mgs_movie ul.power_up_navi ,
.navi_box ,
.contentbox3_inner ,
#top_title_box ,
#howto_faq #main-up ,
#howto_faq #main-under dl dt ,
#howto_faq #main-under dl dd ,
#howto_mgsplayer_movie_error #qa_text3 ol li ,
.first_tokucho ,
.howto_faq_section ,
#howto_cache #browser_list ,
#bc_content .browser_box h3 ,
#bc_content .browser_box dl ,
.howto_mypage dl ,
.howto_mypage ul ,
.howto_faq_section5 ,
.browser_link ,
#howto_device #device1
#howto_device #device2 ,
.howto_error h3 ,
#payment_credit dl ,
#payment_bitcach_navi dl ,
#payment_bitcach dl ,
#payment_bitcach .payment_bitcach_move ul ,
#payment_convenience dl ,
#payment_convenience ul ,
#payment_convenience ul li ,
#payment_ccheck dl ,
#payment_ccheck ul ,
#payment_ccheck ul li ,
#payment_net_bank dl ,
#howto_welcome .welcome_box ,
#howto_welcome .welcome_box.layout3 dl dd ,
#howto_welcome ul.cash ,
#howto #select_save .select_save_box {
	zoom:1;
	}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
}


