@charset "UTF-8";

.red {
	color: #f00;
	}
.d_red {
	color: #d90028;
	}
.bold {
	font-weight: bold;
	}
/*header*/
#header h1 {
	position: absolute;
	top: 7px;
	left: 7px;
	width: 178px;
	height: 31px;
	}
#header h1 a {
	display: block;
	overflow: hidden;
	text-indent: -30000px;
	background: url(../../img/pc/logo.jpg) no-repeat;
	width: 216px;
	height: 40px;
	}
#header h1.store a{
	display: block;
	overflow: hidden;
	text-indent: -30000px;
	background: url(../../img/pc/logo_store.jpg) no-repeat;
	width: 242px;
	height: 30px;
	}
#header .infor {
	position: absolute;
	top: 10px;
	right: 7px;
	}
#header ul.infor li {
	display: inline;
	}
#header ul.infor li.cart_btn {
	margin-right: 10px;
	}
#header ul.infor li.cart_btn a {
	background: url(../../img/pc/cart_20_16.gif) no-repeat left center;
	padding-left: 25px;
	text-decoration: underline;
	}
#header ul.infor li.link-member a {
	background: url(../../img/pc/member_normal_18_18.gif) no-repeat left center;
	height: 26px;
	padding-left: 25px;
	text-decoration: underline;
	margin-right: 8px;
	}
#header ul.infor li.memberfree {
	color: #333;
	text-align: right;
	width: 170px;
	padding: 10px 10px;
	}
#header ul.infor li.regist_btn a {
	background-color: #00d600;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 170px;
	padding: 3px 20px;
	}
#header ul.infor li.regist_btn a:hover {
	text-decoration: none;
	background-color: #0a0;
	}
#header ul.infor li.login_btn a {
	background-color: #297dc5;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 170px;
	padding: 3px 24px;
	}
#header ul.infor li.login_btn_yahoo  {
	background: url(../../img/pc/btnXSLogin.gif) no-repeat left top;
	width: 116px;
	height:28px;
	padding: 0px 34px;
	float:right;
	margin-top:-4px;
	}
#header ul.infor li.login_btn a:hover {
	text-decoration: none;
	background-color: #005ab4;
	}
#header ul.infor li.login_btn a:hover_yahoo  {
	}
#header .menu {
	background-color: #fff;
	padding: 0 10px;
	}
#nav1 {
	background: url(../../img/pc/sepa_line.jpg) repeat-x;
	height: 30px;
	margin: 44px auto 0;
	padding: 0;
	width: 705px;
	}
#nav1_yahoo {
	background: url(../../img/pc/sepa_line.jpg) repeat-x;
	height: 30px;
	margin: 44px auto 0;
	padding: 0;
	width: 610px;
	}
#nav1.store {
	background: url(../../img/pc/sepa_line.jpg) repeat-x;
	height: 30px;
	margin: 44px auto 0;
	padding: 0;
	width: 702px;
	}
#nav1 li {
	background-image: url(../../img/pc/nav.png);
	background-repeat: no-repeat;
	border-left: 0 solid #fff;
	display: inline-block;
	float: left;
	height: 30px;
	margin-left: 5px;
	padding: 0;
	text-indent: -9999px;
	width: 95px;
	}
#nav1_yahoo li {
	background-image: url(../../img/pc/nav.png);
	background-repeat: no-repeat;
	border-left: 0 solid #fff;
	display: inline-block;
	float: left;
	height: 30px;
	margin-left: 5px;
	padding: 0;
	text-indent: -9999px;
	width: 95px;
	}
.top_tab {
	background-position: 0 0;
	}
.top_tab:hover, .top_tab:focus, .top_tab:active {
	background-position: 0 -30px;
	cursor: pointer;
	}
.top_tab_on {
	background-position: 0 -30px;
	}
.tanpin_tab {
	background-position: -95px 0;
	}
.tanpin_tab:hover, .tanpin_tab:focus, .tanpin_tab:active {
	background-position: -95px -30px;
	cursor: pointer;
	}
.tanpin_tab_on {
	background-position: -95px -30px;
	}
.gekkan_tab {
	background-position: -190px 0;
	}
.gekkan_tab:hover, .gekkan_tab:focus, .gekkan_tab:active {
	background-position: -190px -30px;
	cursor: pointer;
	}
.gekkan_tab_on {
	background-position: -190px -30px;
	}
.anime_tab {
	background-position: -285px 0;
	}
.anime_tab:hover, .anime_tab:focus, .anime_tab:active {
	background-position: -285px -30px;
	cursor: pointer;
	}
.anime_tab_on {
	background-position: -285px -30px;
	}
.shirouto_tab {
	background-position: -380px 0;
	}
.shirouto_tab:hover, .shirouto_tab:focus, .shirouto_tab:active {
	background-position: -380px -30px;
	cursor: pointer;
	}
.shirouto_tab_on {
	background-position: -380px -30px;
	}
.nanpa_tab {
	background-position: -475px 0;
	}
.nanpa_tab:hover, .nanpa_tab:focus, .nanpa_tab:active {
	background-position: -475px -30px;
	cursor: pointer;
	}
.nanpa_tab_on {
	background-position: -475px -30px;
	}
.ippan_tab {
	background-position: -570px 0;
	}
.ippan_tab:hover, .ippan_tab:focus, .ippan_tab:active {
	background-position: -570px -30px;
	cursor: pointer;
	}
#nav2 {
	height: 28px;
	margin: 0 auto;
	width: 708px;
	}
#nav2.store {
	height: 28px;
	margin: 0 auto;
	width: 685px;
	}
#nav2_yahoo {
	height: 28px;
	margin: 0 auto;
	width: 592px;
	}
#nav2 li {
	background-image: url(../../img/pc/nav2_new.png);
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	height: 28px;
	overflow: hidden;
	text-indent: -9999px;
	width: 236px;
	}
#nav2_yahoo li {
	background-image: url(../../img/pc/nav2_new.png);
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	height: 28px;
	overflow: hidden;
	text-indent: -9999px;
	width: 199px;
	}
.mypage_tab2.active {
	background-position: 0 -28px;
	}
.about_this_tab2.active {
	background-position: -118px -28px;
	}
.about_player_tab2.active {
	background-position: -236px -28px;
	}
.about_point_tab2.active {
	background-position: -354px -28px;
	}
.beginner_tab2.active {
	background-position: -590px -28px;
	}
.help_tab2.active {
	background-position: -472px -28px;
	}
#nav3 {
    background-repeat: repeat-x;
    display: block;
    height: 28px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 936px;
}
#nav3.store {
    background-repeat: repeat-x;
    display: block;
    height: 28px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 560px;
}
#nav3 li {
    background-image: url(../../img/pc/nav3.png);
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 28px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 78px;
}
.nav3_tab2_1 {
    background-position: 0 0;
}
.nav3_tab2_1:hover, .nav3_tab2_1:focus, .nav3_tab2_1:active {
    background-position: 0 -28px;
    cursor: pointer;
}
.nav3_tab2_2 {
    background-position: -78px 0;
}
.nav3_tab2_2:hover, .nav3_tab2_2:focus, .nav3_tab2_2:active {
    background-position: -78px -28px;
    cursor: pointer;
}
.nav3_tab2_3 {
    background-position: -156px 0;
}
.nav3_tab2_3:hover, .nav3_tab2_3:focus, .nav3_tab2_3:active {
    background-position: -156px -28px;
    cursor: pointer;
}
.nav3_tab2_4 {
    background-position: -234px 0;
}
.nav3_tab2_4:hover, .nav3_tab2_4:focus, .nav3_tab2_4:active {
    background-position: -234px -28px;
    cursor: pointer;
}
.nav3_tab2_5 {
    background-position: -312px 0;
}
.nav3_tab2_5:hover, .nav3_tab2_5:focus, .nav3_tab2_5:active {
    background-position: -312px -28px;
    cursor: pointer;
}
.nav3_tab2_6 {
    background-position: -390px 0;
}
.nav3_tab2_6:hover, .nav3_tab2_6:focus, .nav3_tab2_6:active {
    background-position: -390px -28px;
    cursor: pointer;
}
.nav3_tab2_7 {
    background-position: -468px 0;
}
.nav3_tab2_7:hover, .nav3_tab2_7:focus, .nav3_tab2_7:active {
    background-position: -468px -28px;
    cursor: pointer;
}
.nav3_tab2_8 {
    background-position: -546px 0;
}
.nav3_tab2_8:hover, .nav3_tab2_8:focus, .nav3_tab2_8:active {
    background-position: -546px -28px;
    cursor: pointer;
}
.nav3_tab2_9 {
    background-position: -624px 0;
}
.nav3_tab2_9:hover, .nav3_tab2_9:focus, .nav3_tab2_9:active {
    background-position: -624px -28px;
    cursor: pointer;
}
.nav3_tab2_10 {
    background-position: -702px 0;
}
.nav3_tab2_10:hover, .nav3_tab2_10:focus, .nav3_tab2_10:active {
    background-position: -702px -28px;
    cursor: pointer;
}
.nav3_tab2_11 {
    background-position: -780px 0;
}
.nav3_tab2_11:hover, .nav3_tab2_11:focus, .nav3_tab2_11:active {
    background-position: -780px -28px;
    cursor: pointer;
}
.nav3_tab2_12 {
    background-position: -858px 0;
}
.nav3_tab2_12:hover, .nav3_tab2_12:focus, .nav3_tab2_12:active {
    background-position: -858px -28px;
    cursor: pointer;
}
.nav3_tab2_13 {
    background-position: -936px 0;
}
.nav3_tab2_13:hover, .nav3_tab2_13:focus, .nav3_tab2_13:active {
    background-position: -936px -28px;
    cursor: pointer;
}
.nav3_tab2_14 {
    background-position: -1014px 0;
}
.nav3_tab2_14:hover, .nav3_tab2_14:focus, .nav3_tab2_14:active {
    background-position: -1014px -28px;
    cursor: pointer;
}
.nav3_tab2_1_on {
    background-position: 0 -28px;
}
.nav3_tab2_2_on {
    background-position: -78px -28px;
}
.nav3_tab2_3_on {
    background-position: -156px -28px;
}
.nav3_tab2_4_on {
    background-position: -234px -28px;
}
.nav3_tab2_5_on {
    background-position: -312px -28px;
}
.nav3_tab2_6_on {
    background-position: -390px -28px;
}
.nav3_tab2_7_on {
    background-position: -468px -28px;
}
.nav3_tab2_8_on {
    background-position: -546px -28px;
}
.nav3_tab2_9_on {
    background-position: -624px -28px;
}
.nav3_tab2_10_on {
    background-position: -702px -28px;
}
.nav3_tab2_11_on {
    background-position: -780px -28px;
}
.nav3_tab2_12_on {
    background-position: -858px -28px;
}
.nav3_tab2_13_on {
    background-position: -936px -28px;
}
.nav3_tab2_14_on {
    background-position: -1014px -28px;
}
.mypage_tab2 {
	background-position: 0 0;
	}
.mypage_tab2:hover, .mypage_tab2:focus, .mypage_tab2:active {
	background-position: 0 -28px;
	cursor: pointer;
	}
.about_this_tab2 {
	background-position: -118px 0;
	}
.about_this_tab2:hover, .about_this_tab2:focus, .about_this_tab2:active {
	background-position: -118px -28px;
	cursor: pointer;
	}
.about_player_tab2 {
	background-position: -236px 0;
	}
.about_player_tab2:hover, .about_player_tab2:focus, .about_player_tab2:active {
	background-position: -236px -28px;
	cursor: pointer;
	}
.about_point_tab2 {
	background-position: -354px 0;
	}
.about_point_tab2:hover, .about_point_tab2:focus, .about_point_tab2:active {
	background-position: -354px -28px;
	cursor: pointer;
	}
.beginner_tab2 {
	background-position: -472px 0;
	}
.beginner_tab2:hover, .beginner_tab2:focus, .beginner_tab2:active {
	background-position: -472px -28px;
	cursor: pointer;
	}
.help_tab2 {
	background-position: -236px 0;
	}
.help_tab2:hover, .help_tab2:focus, .help_tab2:active {
	background-position: -236px -28px;
	cursor: pointer;
	}
#header h2 {
	background: url(../../img/pc/top_banner_kurogara_back.png);
	text-align: center;
	color: #fff;
	font-size: 11px;
	font-family: "Lucida Console",Monaco,monospace;
	padding: 1px 0 0;
	margin: 0 7px;
	}
#header .head_search {
	background-color: #f4f4f4;
	border: 1px solid #c4c4c4;
	border-top: none;
	padding: 10px 7px;
	margin: 0 7px;
	}
#header .head_search_innner {
	height: 24px;
	margin: 0 auto;
	min-width: 670px;
	width: 900px;
	}
#header .head_search dl {
	height: 20px;
	text-align: center;
	}
#header .head_search dl dt {
	border: 1px solid #000;
	width:auto;
	height: 23px;
	float: left;
	margin-left: 97px;
	padding: 1px 10px 2px 10px;
	}
#header .head_search dl dd {
	height: 20px;
	float: left;
	}
#header .head_search dl dd:nth-of-type(1) input {
	border: 1px solid #7b7b7b;
	width: 443px;
	height: 23px;
	padding: 0 5px;
	}
#header .head_search dl dd:nth-of-type(2) {
	width: 100px;
	height: 22px;
	border: 1px solid #999;
	}

/*center_column*/
ul.Bread_crumb {
	text-align: left;
	margin-bottom: 15px;
	}
ul.Bread_crumb li {
	font-size: 85%;
	display: inline-block;
	text-align: left;
	}
ul.Bread_crumb li.title {
	display: block;
	font-weight: bold;
	}
ul.Bread_crumb.bold {
	padding: 10px 0 0 15px;
	}
ul.Bread_crumb.bold li {
	font-size: 13px;
	}
ul.Bread_crumb.big {
	padding: 10px 0;
	}
ul.Bread_crumb.big li {
	font-size: 13px;
	}
body.nampa_detail ul.Bread_crumb {
	margin-left: 7px;
	}
body.nampa_detail ul.Bread_crumb li {
	font-size: 13px;
	color: #808080;
	}
body.nampa_detail ul.Bread_crumb li a {
	color: #808080;
	text-decoration: underline;
	}
#center_column h3 span.sub_text {
	font-size: 65%;
	color: #999;
	display: block;
	margin-top: 5px;
	}
#center_column h3 span.red {
	color: #f00;
	}
body#index #center_column h4 {
	font-size: 160%;
	border-bottom: 1px solid #303030;
	padding: 5px 0;
	text-align: left;
	position: relative;
	}
body#index #center_column h4 span.all_view {
	position: absolute;
	top: -3px;
	right: 0;
	font-size: 65%;
	}
body#index #center_column h4 span.all_view a:hover {
	text-decoration: none;
	}
body#index #center_column h4 span.sub_copy {
	font-size: 65%;
	color: #999;
	margin-left: 30px;
	}
#center_column .rank_list ul li p {
	text-align: left;
	margin-top: 5px;
	line-height: 18px;
	}
#center_column .rank_list ul li p a:hover {
	text-decoration: none;
	color: #f00;
	}
#center_column .rank_list ul li p.sample_movie_btn {
	line-height: 0px;
	margin: 8px 0;
	}
#center_column .rank_list ul li p.tag {
	height:17px;
	}
.btn_latest {
	background-image: url(../../img/pc/icon_group01.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 14px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 5px;
	text-indent: -9999px;
	width: 32px;
	}
.btn_dokusen {
	background-image: url(../../img/pc/icon_group01.png);
	background-position: 0 -42px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 14px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 5px;
	text-indent: -9999px;
	width: 24px;
	}
.btn_new {
	background-image: url(../../img/pc/icon_group01.png);
	background-position: 0 -14px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 14px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 5px;
	text-indent: -9999px;
	width: 24px;
	}
.btn_qnew {
	background-image: url(../../img/pc/icon_group01.png);
	background-position: 0 -28px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 14px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 5px;
	text-indent: -9999px;
	width: 32px;
	}
.btn_ichioshi {
	background-image: url(../../img/pc/icon_group01.png);
	background-position: 0 -70px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 14px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 5px;
	text-indent: -9999px;
	width: 41px;
	}
.btn_sp {
	background-image: url(../../img/pc/icon_group01.png);
	background-position: 0 -56px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 14px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 5px;
	text-indent: -9999px;
	width: 32px;
	}
.btn_getsugen {
	background-image: url(../../img/pc/icon_group01.png);
	background-position: 0 -84px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 14px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 5px;
	text-indent: -9999px;
	width: 41px;
	}
#center_column .rank_list ul li p.name {
	height: 19px;
	font-size: 11.5px !important;
	}
#center_column .rank_list ul li p.title {
	height: 34px;
	}
#center_column .rank_list ul li p.title a:hover {
	color: #f00;
	}
#center_column .rank_list ul li p.review {
	margin: 2px 0;
	font-size: 12px;
	line-height:18px;
	}
#center_column .rank_list ul li p.price {
	font-weight: bold;
	color: #f00;
	}

/*osusume*/
/*luxu only footer*/
#center_column .osusume .rank_list {
	width: 100%;
	height: 322px;
	display: block;
	margin: 10px 0 10px 10px;
	overflow:hidden;
	}
#center_column .luxu .rank_list {
	width: 100%;
	height: 318px;
	display: block;
	margin: 10px 0 10px 10px;
	overflow:hidden;
	}
body#index .osusume,
body#index .luxu {
	border-bottom: 1px solid #eee;
	margin-bottom: 25px;
	}
.osusume .rank_list ul li,
.luxu .rank_list ul li {
	width: 117px;
	float: left;
	margin-right: 10px;
	}
.osusume .rank_list ul li p.title a,
.luxu .rank_list ul li p.title a {
	color: #06c;
	}
.osusume .rank_list ul li h5 img,
.luxu .rank_list ul li h5 img {
	max-width: 117px;
	}

/*osusume_popular*/
/*luxu_popular*/
#center_column .osusume #carousel_mgs_top_osusume_popular_layout,
#center_column .luxu #carousel_mgs_top_luxu_popular_layout {
    height: 340px;
}

/*sirouto*/
/*nanpa*/
/*luxu only header*/
/*monthch*/
/*anime*/
.sirouto,
.nanpa,
.luxu {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	}
.monthch {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid #eee;
	}
.anime {
	margin-bottom: 20px;
	}
.sirouto h3 {
	/* background-image: url(../../img/pc/btn_icon.png); */
	/* background-position: 0 -49px; */
	/* background-repeat: no-repeat; */
	display: block;
	text-align: left;
	font-size: 160%;
	/* padding-left: 65px; */
	padding-bottom: 4px;
	}
.nanpa h3 {
	/* background-image: url(../../img/pc/btn_icon.png); */
	/* background-position: 0 0px; */
	/* background-repeat: no-repeat; */
	display: block;
	text-align: left;
	font-size: 160%;
	/* padding-left: 65px; */
	padding-bottom: 4px;
	}
.luxu h3 {
	/* background-image: url(../../img/pc/btn_icon.png); */
	/* background-position: 0 -245px; */
	/* background-repeat: no-repeat; */
	display: block;
	text-align: left;
	font-size: 160%;
	/* padding-left: 65px; */
	padding-bottom: 4px;
	}
.monthch h3 {
	/* background-image: url(../../img/pc/btn_icon.png); */
	/* background-position: 0 -147px; */
	/* background-repeat: no-repeat; */
	display: block;
	text-align: left;
	font-size: 160%;
	/* padding-left: 65px; */
	padding-bottom: 4px;
	}
.anime h3 {
	/* background-image: url(../../img/pc/btn_icon.png); */
	/* background-position: 0 -196px; */
	/* background-repeat: no-repeat; */
	display: block;
	text-align: left;
	font-size: 160%;
	/* padding-left: 65px; */
	padding-bottom: 4px;
	}
#center_column .sirouto .rank_list,
#center_column .nanpa .rank_list,
#center_column .monthch .rank_list,
#center_column .anime .rank_list {
	margin-top: 10px;
	}
.sirouto .rank_list ul,
.nanpa .rank_list ul,
.anime .rank_list ul {
	margin: 0 42px;
	padding-bottom: 30px;
	}
.monthch .rank_list ul {
	margin: 0;
	padding-bottom: 10px;
	}
.sirouto .rank_list ul li,
.nanpa .rank_list ul li,
.anime .rank_list ul li {
	width: 25%;
	float: left;
	}
.monthch .rank_list ul li {
	width: 25%;
	float: left;
	min-width: 120px;
	height: 400px;
	padding: 0 5px;
	margin-bottom: 20px;
	}
.sirouto .rank_list ul li .item_box_inner,
.nanpa .rank_list ul li .item_box_inner {
	width: 90%;
	margin: 0 auto;
	max-width: 178px;
	min-width: 110px;
	}
.monthch .rank_list ul li .item_box_inner {
	margin: 0 auto;
	max-width: 146px;
	min-width: 110px;
	}
.monthch .rank_list ul li .item_box_inner p {
	font-size: 12px;
	}
.anime .rank_list ul li .item_box_inner {
	width: 90%;
	margin: 0 auto;
	max-width: 146px;
	min-width: 110px;
	}
.sirouto .rank_list ul li h5 img,
.nanpa .rank_list ul li h5 img,
.anime .rank_list ul li h5 img {
	width: 100%;
	}
.monthch .rank_list ul li img {
	width: 100%;
	max-width: 146px;
	min-width: 120px;
	}
.anime .rank_list ul li h5 img {
	width: 100%;
	max-width: 146px;
	min-width: 110px;
	}
#center_column .monthch .rank_list ul li h5 ,
#center_column .monthch .rank_list ul li p {
	max-width: 146px;
	}
#center_column .monthch .rank_list ul li p.month_logo ,
#center_column .monthch .rank_list ul li p.sample_movie_btn {
	text-align: center;
	}
.sirouto .rank_list ul li p.review span,
.nanpa .rank_list ul li p.review span,
.monthch .rank_list ul li p.review span,
.anime .rank_list ul li p.review span {
	max-width: 80px;
	}
.monthch .rank_list ul li p.pickup {
	background: url(../../img/pc/top_pink_bar.png) repeat-x center;
	color: #ff50a2;
	font-size: 120%;
	max-width: 150px;
	min-width: 120px;
	overflow: hidden;
	width: 100%;
	}
.monthch .rank_list ul li p.pickup span {
	background-color: #fff;
	padding-right: 10px;
	}
.monthch .rank_list ul li p.title {
	height:39px;
	}
.monthch .rank_list ul li p.name {
	height: 15px;
	}

/*ppv*/
.ppv h3 {
	/* background-image: url(../../img/pc/btn_icon.png); */
	/* background-position: 0 -98px; */
	/* background-repeat: no-repeat; */
	display: block;
	text-align: left;
	font-size: 160%;
	/* padding-left: 65px; */
	padding-bottom: 4px;
	}
.ppv h3 span.sub_text {
	font-size: 65%;
	color: #999;
	display: block;
	margin-top: 5px;
	}

/*shinsaku*/
/*jun_shinsaku*/
.jun_shinsaku {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	}
.products_cover {
	width: 100%;
	}
.products_cover a:hover {
	text-decoration: none;
	}
.products_cover h5 {
	text-align: left;
	float: left;
	width: 165px;
	overflow: visible;
	}
.products_cover h5 img {
	margin: 10px;
	}
.products_cover h5 span {
	display: block;
	}
.products_cover h5 span img {
	margin: 0 0 0 10px;
	}
.products_cover dl {
	float: left;
	width: 68%;
	padding: 10px 10px 10px 15px;
	}
.products_cover dl dt {
	text-align: left;
	font-size: 15px;
	margin-bottom: 10px;
	}
.products_cover dl dd table {
	text-align: left;
	width: 100%;
	}
.products_cover dl dd table th {
	text-align: right;
	width: 64px;
	vertical-align: top;
	}
.products_cover dl dd table td {
	vertical-align: top;
	}
.products_cover dl dd table td.red {
	font-weight: bold;
	color: #f00;
	}
.products_cover dl dd table td.review span {
	width: 80px;
	}
.products_cover dl dd table td.review {
	color: #428bca;
	}
table td.review {
	line-height:16px;
	}
#nanpatv .review, #shiroutotv .review {
	line-height:16px;
	}
#center_column .shinsaku .rank_list ,
#center_column .jun_shinsaku .rank_list {
	width: 100%;
	height: 300px;
	display: block;
	margin: 20px 0 10px 10px;
	overflow:hidden;
	}
.shinsaku .rank_list ul li ,
.jun_shinsaku .rank_list ul li {
	width: 88px;
	float: left;
	margin-right: 10px;
	height: 300px;
	}
#center_column .shinsaku .rank_list ul li p ,
#center_column .jun_shinsaku .rank_list ul li p {
	font-size: 12px;
	}
#center_column .shinsaku .rank_list ul li p.name ,
#center_column .jun_shinsaku .rank_list ul li p.name {
	margin: 0;
	}
#center_column .shinsaku .rank_list ul li p.price ,
#center_column .jun_shinsaku .rank_list ul li p.price {
	margin-top: 0px;
	}
.shinsaku .rank_list ul li p.title a ,
.jun_shinsaku .rank_list ul li p.title a {
	color: #06c;
	}
.shinsaku .rank_list ul li h5 img ,
.jun_shinsaku .rank_list ul li h5 img {
	max-width: 88px;
	}

/*---------shiroutotv---------*/
ul.pickup_list {
	overflow: hidden;
	width: 100%;
	list-style: outside none none;
	padding-left: 40px;
	}
ul.pickup_list li {
	float: left;
	}
body#shiroutotv ul.pickup_list h4 {
	border: none;
	}
body#nanpatv ul.pickup_list h4 {
	border: none;
	}
ul.pickup_list li {
	width: 180px;
	line-height: 15px;
	overflow: hidden;
	padding: 0 10px 10px;
	}
ul.pickup_list.pickup_large li {
	width: 47%;
	line-height: 18px;
	margin-bottom: 26px;
	margin-right: 0.5em;
	overflow: hidden;
	}
body#shiroutotv ul.pickup_list li h4 ,
body#nanpatv ul.pickup_list li h4 {
	position: relative;
	padding: 0;
	}
body#shiroutotv ul.pickup_list.pickup_large li h4 ,
body#nanpatv ul.pickup_list.pickup_large li h4 {
	width: 284px;
	}
ul.pickup_list li h4 img {
	width: 160px;
	height: 90px;
	line-height: 0;
	}
ul.pickup_list.pickup_large li h4 img {
	width: 284px;
	height: 160px;
	line-height: 0;
	}
ul.pickup_list li h4 span {
	position: absolute;
	left: 1px;
	bottom: 1px;
	}
ul.pickup_list.pickup_large li h4 span img {
	width: 34px;
	height: 34px;
	}
ul.pickup_list li h4 span img {
	width: 24px;
	height: 24px;
	}
ul.pickup_list li p {
	text-align: left;
	}
ul.pickup_list li p.tag {
	min-height: 15px;
	line-height: 15px;
	margin: 5px 0;
	}
ul.pickup_list li p.tag span {
	display: block;
	}
ul.pickup_list li p.title {
	height: 32px;
	}
ul.pickup_list li p.name {
	min-height: 15px;
	}
ul.pickup_list.pickup_large li p.title {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 3px;
	height: auto;
	}
ul.pickup_list.pickup_large li p.name {
	font-weight: bold;
	}
ul.pickup_list li p.review {
	padding: 10px 0;
	}
.pickup_rank ul.pickup_list li p.title {
	font-weight: bold;
	margin: 5px 0;
	}
.pickup_rank ul.pickup_list li p.title.rank1_icon {
	background: url(../../img/pc/01.gif) no-repeat left center;
	padding-left: 35px;
	}
.pickup_rank ul.pickup_list li p.title.rank2_icon {
	background: url(../../img/pc/02.gif) no-repeat left center;
	padding-left: 35px;
	}
.pickup_rank ul.pickup_list li p.title.rank3_icon {
	background: url(../../img/pc/03.gif) no-repeat left center;
	padding-left: 35px;
	}
.pickup_rank ul.pickup_list li p.title.rank4_icon {
	background: url(../../img/pc/04.gif) no-repeat left center;
	padding-left: 30px;
	}
.pickup_rank ul.pickup_list li p.title.rank5_icon {
	background: url(../../img/pc/05.gif) no-repeat left center;
	padding-left: 30px;
	}
.pickup_rank ul.pickup_list li p.title.rank6_icon {
	background: url(../../img/pc/06.gif) no-repeat left center;
	padding-left: 30px;
	}
.pickup_rank ul.pickup_list li p.title.rank7_icon {
	background: url(../../img/pc/07.gif) no-repeat left center;
	padding-left: 30px;
	}
.pickup_rank ul.pickup_list li p.title.rank8_icon {
	background: url(../../img/pc/08.gif) no-repeat left center;
	padding-left: 30px;
	}
.pickup_rank ul.pickup_list li p.title.rank9_icon {
	background: url(../../img/pc/09.gif) no-repeat left center;
	padding-left: 30px;
	}
.pickup_rank ul.pickup_list li p.title.rank10_icon {
	background: url(../../img/pc/10.gif) no-repeat left center;
	padding-left: 30px;
	}
.center_bnr ul {
	padding-bottom: 30px;
	}
.center_bnr ul li {
	margin-bottom: 20px;
	}

/*---------anime---------*/
.anime_cover h5 {
	width: 165px;
	float: left;
	margin: 10px;
	}
.anime_cover ul li {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-bottom: 15px;
	}
.anime_cover .anime_detail {
	margin: 10px 0 0 180px;
	}
.anime_cover .anime_detail h6 {
	text-align: left;
	font-size: 15px;
	}
.anime_cover .anime_detail table th {
	font-weight: normal;
	padding: 3px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	}
.anime_cover .anime_detail table td {
	color: #06c;
	margin: 4px;
	padding: 3px;
	vertical-align: top;
	}
.anime_cover .anime_detail dl {
	display: table;
	}
.anime_cover .anime_detail dl img {
	border: 1px solid #eee;
	padding: 7px;
	margin: 0 5px 5px 0;
	}
.anime_cover .anime_detail dl dt {
	display: table-cell;
	vertical-align: top;
	padding-right: 5px;
	}
.anime_cover .anime_detail dl dd {
	display: table-cell;
	vertical-align: top;
	}
.anime_cover .anime_detail dl dd ul li {
	float: left;
	margin: 0;
	padding: 0;
	border: none;
	}
.anime_cover .anime_detail p {
	text-align: left;
	margin-bottom: 5px;
	}
.anime_list .anime_cover {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-bottom: 40px;
	}
.anime_list .anime_cover h5 {
	width: 165px;
	float: left;
	margin: 0;
	}
.anime_list .anime_cover .anime_detail {
	margin: 10px 0 0 180px;
	}
.anime_list .anime_cover .anime_detail h6 {
	text-align: left;
	font-size: 15px;
	}
.anime_list .anime_cover .anime_detail table th {
	font-weight: normal;
	padding: 3px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	}
.anime_list .anime_cover .anime_detail table td {
	color: #06c;
	margin: 4px;
	padding: 3px;
	vertical-align: top;
	}
.anime_list .anime_cover .anime_detail table td span.price {
	color: #d22;
	font-size: 94%;
	font-weight: bold;
	}
.anime_list .anime_cover .anime_detail p {
	text-align: left;
	margin-bottom: 5px;
	}

/*---------detail---------*/
.common_detail_cover {
	margin-bottom: 8px; /* prevent unexpected scroll */
	}
.common_detail_cover a {
	color: #2e4d8f;
	}
.common_detail_cover h1 {
	font-size: 160%;
	font-weight: bold;
	text-align: left;
	border-bottom: 2px solid #d90028;
	padding-bottom: 5px;
	margin-bottom: 5px;
	}
.detail_left {
	float: left;
	margin-right: -330px;
	width: 100%;
	}
.detail_data {
	margin: 5px 330px 60px 0;
	}
.detail_left .detail_photo {
	float: left;
	width: 178px;
	}
.detail_left .detail_photo h2 {
	padding: 4px;
	border: 1px solid #eee;
	}
.detail_left .detail_photo p.sample_movie_btn {
	margin-top: 5px;
	}
.detail_left .detail_photo p.aff_sample_movie_btn {
	margin-top: 5px;
	text-align: left;
	}
.detail_left table th {
	text-align: right;
	padding: 3px;
	vertical-align: top;
	width: 110px;
	/*width: 100px;*/
	}
.detail_left table td {
	vertical-align: top;
	}
.detail_fav_cnt:first-letter{color: #ffd900;}
.detail_fav_cnt{font-weight: bold;}
.monthly_tv_fav_cnt{text-align: right !important;}
#introduction {
	margin: 0 330px 20px 0;
	border: 1px solid #ddd;
	}
#introduction dt {
	background-color: #ddd;
	text-align: left;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	}
#introduction dd {
	text-align: left;
	padding: 5px;
	}
#introduction dd span {
	display: block;
	text-align: right;
	}
#introduction .more {
	text-align:right;
	}
#sample-photo {
	margin: 0 330px 20px 0;
	}
#sample-photo dt {
	border-bottom: 2px dotted #d7003c;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	}
#sample-photo dd ul li {
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	min-height: 80px;
	text-align:center;
	width:120px;
	}
.detail_right {
	float: right;
	width: 310px;
	margin-top: 5px;
	}
.detail_right p.month_bnr {
	margin-bottom: 10px;
	}
.detail_right p.month_bnr img{
	max-width: 250px;
}
.detail_right p.bnr {
	margin-bottom: 10px;
	}
.ItemVideoForm {
    background: none repeat scroll 0 0 #dfe5fb;
    padding: 0 4px 6px;
    width: 100%;
}
.content_purchase_layout_01 {
    margin: 0;
    padding: 0;
		text-align: left;
}
.content_purchase_layout_01 p {
    line-height: 18px;
}
.content_purchase_layout_01 .padder {
    padding: 0 10px 10px;
}
.content_purchase_layout_01 .border_top {
    border-top: 1px solid #1f23c8;
    margin: 0 auto;
    padding-top: 10px;
    width: 210px;
}
.content_purchase_layout_01 .border_bottom {
    border-bottom: 1px solid #1f23c8;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 210px;
}
.content_purchase_layout_01 .caution {
    margin: 0 10px;
    text-align: left;
}
.content_purchase_layout_01 .caution li {
    color: #888;
    font-size: 80%;
    line-height: 16px;
    padding-bottom: 2px;
}
.content_purchase_layout_01 .price_list {
    clear: both;
    margin-bottom: 10px;
}
.content_purchase_layout_01 .border_padder {
    border-top: 2px dotted #b3b3b3;
    margin-top: 10px;
    padding-top: 10px;
}
.content_purchase_layout_01 .price_list dt .sprite {
    float: left;
}
.content_purchase_layout_01 .price_list dd p * {
    vertical-align: middle;
}
.content_purchase_layout_01 .price_list dd p .sprite {
    margin-right: 5px;
}
.content_purchase_layout_01 .price_list dd p .price {
    font-size: 90%;
}
.content_purchase_layout_01 .price_list dd p .discount_price {
    color: #d90028;
    font-size: 90%;
}
.content_purchase_layout_01 p.caution {
    padding: 10px 0;
}
.content_purchase_layout_01 .background_block {
    background: none repeat scroll 0 0 #fff;
    padding-bottom: 10px;
}
.content_purchase_layout_01 .background_block .background_top {
    font-size: 10%;
    height: 10px;
    text-indent: -9999px;
    width: 230px;
}
.content_purchase_layout_01 .background_block .description_with_arrow_up {
    background: url("/img/mgs/pc/icon/up_22_22.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: auto !important;
    line-height: 15px;
    margin: 10px 5px;
    min-height: 22px;
    padding-left: 30px;
}
.content_purchase_layout_01 .background_block .description_with_arrow_down {
    background: url("/img/mgs/pc/icon/down_22_22.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: auto !important;
    line-height: 15px;
    margin: 10px 5px;
    min-height: 22px;
    padding-left: 30px;
}
.content_purchase_layout_01 .background_block .title_add_card {
    background: url("/img/mgs/pc/detail/title_add_cart.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    display: block;
    height: 22px;
    margin: 0 auto 10px;
    text-indent: -9999px;
    width: 207px;
}
.price_list li {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    margin: 6px 0;
    overflow: hidden;
    padding: 5px 2px 3px;
}
.price_list li p {
    overflow: hidden;
}
.price_list .select {
    border: 1px solid #f33;
}
/*.price_list label span {
    color: red;
    float: right;
    font-size: 11px;
    margin-left: 10px;
}*/
.price_list .sale_time .fixed_price label span {
    color: black;
    text-decoration: line-through;
}
:first-child + html .price_list label span {
    float: none;
}
.price_list_sampleplayer li {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    margin: 6px 0;
    overflow: hidden;
    padding: 5px 2px 3px;
}
.price_list_sampleplayer li p {
    overflow: hidden;
}
.price_list_sampleplayer .select_sampleplayer {
    border: 1px solid #f33;
}
.price_list_sampleplayer label {
    font-size: 12px;
    letter-spacing: -1px;
}
/*.price_list_sampleplayer label span {
    color: red;
    float: right;
    font-size: 11px;
    margin-left: 10px;
}*/
.price_list_sampleplayer .sale_time_sampleplayer .fixed_price label span {
    color: black;
    text-decoration: line-through;
}
:first-child + html .price_list_sampleplayer label span {
    float: none;
}
.content_purchase_layout_01 .price_list dd li label, .content_purchase_layout_01 .price_list dd li input {
    cursor: pointer;
}
.price_list label strong, .price_detail strong {
    font-size: 14px;
    margin-right: 2px;
}
.content_purchase_layout_01 .price_list li label, .content_purchase_layout_01 .price_list dd li input {
    font-size: 12px;
    letter-spacing: -1px;
}
#PriceList > li > p label {
    margin: 0;
    padding: 0;
}
#PriceList > li > .sale_price > label {
    color: #00aa00;
    padding-left: 20px;
}
.price_select_below {
    padding: 10px 20px 6px;
}
.button_add_point {
    background: url(../../img/pc/point_buy.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 40px;
    margin: 10px auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 260px;
}
.button_add_point:hover {
    background-position: 0 -40px;
}
.button_add_point_not_sale {
    background: url(../../img/pc/point_buy.png) no-repeat scroll left bottom rgba(0, 0, 0, 0);
    display: block;
    height: 40px;
    margin: 10px auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 260px;
}
.button_add_need {
    background: url(../../img/pc/favorite_list.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 27px;
    margin: 10px auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 260px;
}
.button_add_need:hover {
    background-position: 0 -27px;
}
.button_add_cart {
    background: url(../../img/pc/cart_2_260_40.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 260px;
}
.button_add_cart:hover {
    background-position: 0 -40px;
}
.button_add_cart_not_sale {
    background: url(../../img/pc/cart_2_260_40.png) no-repeat scroll left bottom rgba(0, 0, 0, 0);
    display: block;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 260px;
}

.sale_start_date_box {
    color: red;
    border: red 1px solid;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 260px;
    margin: 0;
    display: block;
    margin: 10px    auto;
    overflow: hidden;
    line-height: 38px;
}
.price_select_below {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    margin-top: 8px;
    padding: 10px 6px 6px;
}
.price_detail {
    background: none repeat scroll 0 0 #e6e6e6;
    padding: 2px;
    margin-bottom: 8px;
    text-align: right;
}
#now_price_st, #now_price_ld, #now_price_hd, .now_price {
    background: none repeat scroll 0 0 #000;
    color: #fff;
		width: 260px;
}
.price_detail .text {
    float: left;
    padding: 6px 0 2px;
    width: 78px;
}
.price_detail .price {
    background: none repeat scroll 0 0 #fff;
    color: #f00;
    font-size: 11px;
    margin-left: 85px;
    padding: 5px 2px 3px;
}
.point_detail {
    background: none repeat scroll 0 0 #e6e6e6;
    margin-bottom: 10px;
    text-align: center;
    margin-left:14px;
}
.now_point {
    background: none repeat scroll 0 0 #e6e6e6;
    color: #000;
    width: 260px;
    border:2px solid #e6e6e6;
}
.point_detail .text {
    float: left;
    padding: 5px;
    width: 100px;
    font-size: 12px;
}
.point_detail .point {
    background: none repeat scroll 0 0 #fff;
    color: #f00;
    font-size: 15px;
    margin-left: 100px;
    padding: 5px 2px 3px;
}
.old_price .price {
    color: #000;
    position: relative;
}
.old_price .price img {
    position: absolute;
    top: 11px;
    left: 78px;
}
.goods_detail {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    line-height: 16px;
    margin: 0 20px !important;
}
.goods_detail {
    padding-left: 30px;
}
.goods_detail div a:hover {
    color: #f00;
    text-decoration: none;
}
div.goods_detail {
    min-height: 16px;
    text-align: center;
}
div.goods_detail dl * {
    display: inline;
    float: none;
}
.goods_detail * {
    font-size: 11px;
}
.goods_detail .text {
    float: left;
    text-align: right;
    width: 130px;
	font-weight:bold;
	clear:both;
}
.goods_detail .text2 {
    float: left;
    text-align: left;
	color:#f00;
}
.goods_detail .text3{
    float: left;
    text-align: left;
    clear:both;
    margin-left:-20px;
}
#dlh_detail{
    width:100%;
}
#dl_detail{
    width:100%;
}
#st_detail{
    width:100%;
}
body#ppv #center_column h4.multi {
    margin-bottom: 10px;
    padding: 0;
    border-bottom: 1px solid #999;
    text-align: center;
}
.item_multi {
    border: 1px solid #999;
    padding-bottom: 6px !important;
}
.item_multi h4 {
    border-bottom: 1px solid #999;
    text-align: center;
}
.handling_device {
    margin: 10px auto 0;
    padding: 0 0 2px;
    width: 260px;
    text-align: center;
}
.handling_device div {
    font-size: 11px;
}
.handling_device p {
    font-size: 11px;
    text-align: center;
}
.handling_device ul {
    text-align: center;
}
.handling_device li {
    display: inline;
    margin: 0 10px;
}
.price_select_below ul {
    margin: 6px;
}
.directions {
    border-top: 1px solid #ddd;
    padding: 0px;
}
.price_select_below .directions li, .background_block .directions li {
    background: url("/img/mgs/pc/ppv/rightside/question.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 16px;
    text-align: right;
}
.price_select_below li a {
    font-size: 12px;
    line-height: 19px;
}
.price_select_below div.sale_info h4 {
    color: #fff;
    background: #00aa00;
    text-align: center !important;
    font-size: 16px !important;
    padding: 7px 0 4px !important;
    margin-bottom: 6px;
    border-bottom: none !important;
    position: static !important;
    font-weight: bold;
}
.before_buy {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    margin: 0px;
    padding: 0px 2px 0px 0px;
}
.before_buy li {
    font-size: 11px;
    padding: 0;
}
.sale_info {
    /*background: url(../../img/mgs/pc/ppv/arrow_green_down.png) center bottom no-repeat;*/
    /*padding-bottom: 18px;*/
    margin-bottom: 10px;
    margin: auto 14px;
}
#download_hd_layout > .price_detail.now_price {
    margin: 8px auto;
    padding: 2px;
}
#other_inner a {
    overflow: hidden;
}
body#anime #download_hd_layout > dl.price_detail.now_price {
	margin: 0 auto 10px;
	}
body#anime .before_buy {
    margin: 0;
    padding: 0px 2px 0px 0px;
}
body#anime .before_buy li {
	padding: 0;
	}
body#anime #center_column .push_title_list h3 ,
body#ppv #center_column .push_title_list h3 ,
body#ppv #center_column .push_connect_list h3 {
	border-bottom: 2px solid #d90028;
	color: #d90028;
	font-size: 116%;
	font-weight: bold;
	text-align: left;
	}
body#ppv #center_column .push_connect_list h4 {
	border-bottom: none;
	font-size: 13px;
	text-align: left;
	margin: 15px 0 0 5px;
	}
body#ppv #center_column .push_connect_list h4 a {
	color: #fff;
	background-color: #000;
	padding: 2px 0;
	}
body#ppv #center_column .push_connect_list h4 a:hover {
	text-decoration: none;
	}
body#anime #center_column .push_title_list .rank_list ,
body#ppv #center_column .push_title_list .rank_list {
	width: 100%;
	display: block;
	margin: 15px 0 10px;
	}
body#ppv #center_column .push_connect_list .rank_list {
	width: 100%;
	display: block;
	margin: 3px 0 10px;
	}
body#anime #center_column .push_title_list ul li ,
body#ppv #center_column .push_title_list ul li ,
body#ppv #center_column .push_connect_list ul li {
	width: 91px;
	float: left;
	margin: 0 10px 8px 0;
	height: 260px;
	text-align: left;
	}
body#anime #center_column .push_title_list ul li p.title a ,
body#ppv #center_column .push_title_list ul li p.title a ,
body#ppv #center_column .push_connect_list ul li p.title a {
	color: #2e4d8f;
	}
body#anime #center_column .push_title_list ul li p.title a:hover ,
body#ppv #center_column .push_title_list ul li p.title a:hover ,
body#ppv #center_column .push_connect_list ul li p.title a:hover {
	color: #f00;
	}
.push_connect_list .connect_cover {
	background-color: #fff;
	border: 20px solid #eee;
	float: left;
	height: 200px;
	margin-right: 20px;
	padding: 8px;
	}
.push_connect_list .connect_cover dl dd {
	text-align: left;
	}
.push_connect_list .connect_cover dl dd a {
	color: #2e4d8f;
	}
.push_connect_list .connect_cover dl dd a:hover {
	color: #f00;
	text-decoration: none;
	}
.user_review {
	border: 1px solid #c6e5ff;
	position: relative;
	}
.user_review h3 {
	background-color: #c6e5ff;
	text-align: left;
	padding: 5px;
	font-size: 116%;
	font-weight: bold;
	}
.user_review_head {
	padding: 15px 5px;
	}
.user_review_head p {
	float: left;
	font-weight: bold;
	}
.user_review_head p.about {
	text-align: left;
	clear: both;
	}
.user_review_head p a {
	color: #2e4d8f;
	font-weight: bold;
	}
.user_review_head p a:hover {
	color: #f00;
	text-decoration: none;
	}
.user_review ul li {
	position: relative;
	}
.user_review_head_button {
	position: absolute;
	top: 35px;
	right: 5px;
	}
.user_review_head_button a {
	display:block;
	background: url(../../img/pc/review_260_40.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    height: 40px;
    margin: 10px auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 260px;
	}
.user_review_head_button a:hover {
    background-position: 0 -40px;
	}
body#anime #center_column .user_review ul li h4 ,
body#ppv #center_column .user_review ul li h4 {
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	border: none;
	background-color: #ebfcff;
	padding: 5px 5px 0;
	}
.user_review ul li .user_date {
	background-color: #ebfcff;
	padding: 0 5px 5px;
	}
.user_review ul li p.name {
	float: left;
	text-align: left;
	}
.user_review ul li p.review {
	float: left;
	text-align: left;
	}
.user_review ul li p.text {
	text-align: left;
	line-height: 19px;
	padding: 10px 10px 30px;
	}
.user_review ul li p.date {
	padding: 0;
	position: absolute;
	top: 5px;
	right: 5px;
	}
.sprite {
	display: block;
	font-size: 10px;
	overflow: hidden;
	text-indent: -10000px;
	}
.review .sprite_icon_good {
	background: url(../../img/pc/good_47_16.gif) no-repeat scroll left top rgba(0, 0, 0, 0);
	display: inline-block;
	height: 16px;
	width: 47px;
	margin-right: 5px;
	}
.sprite_icon_smile5, .sprite_icon_smile4, .sprite_icon_smile3, .sprite_icon_smile2, .sprite_icon_smile1, .sprite_icon_smile0, .sprite_icon_smile5_yellowback, .sprite_icon_smile4_yellowback, .sprite_icon_smile3_yellowback, .sprite_icon_smile2_yellowback, .sprite_icon_smile1_yellowback, .sprite_icon_smile0_yellowback {
	background: url("/img/mgs/pc/ppv/smilemark_74_14.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
	display: inline-block;
	height: 14px;
	width: 74px;
	}
.sprite_icon_smile5 {
	background-position: 0 0;
	}
.sprite_icon_smile4 {
	background-position: 0 -14px;
	}
.sprite_icon_smile3 {
	background-position: 0 -28px;
	}
.sprite_icon_smile2 {
	background-position: 0 -42px;
	}
.sprite_icon_smile1 {
	background-position: 0 -56px;
	}
.sprite_icon_smile0 {
	background-position: 0 -70px;
	}
/*shiroutotv_detail*/
body.shiroutotv_detail a {
	color: #2e4d8f;
	}
body.shiroutotv_detail a:hover {
	color: #f00;
	text-decoration: none;
	}
body.shiroutotv_detail .detail_left .detail_photo {
	float: none;
	width: 540px;
	text-align: left;
	}
body.shiroutotv_detail .detail_left .detail_photo h2 img {
	width: 100%;
	}
body.shiroutotv_detail .detail_left .detail_photo p#package {
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
	}
body.shiroutotv_detail .detail_left .detail_photo p.sample_movie_btn {
	margin-top: -20px;
	}
body.shiroutotv_detail .detail_left table {
	margin-top: 10px;
	}
/*nampa_detail*/
body.nampa_detail .detail_right {
	width: 250px;
	margin-right: 7px;
	}
body.nampa_detail .common_detail_cover h1 {
	border-bottom: 1px solid #808080;
	margin-left: 7px
	}
body.nampa_detail .common_detail_cover h1 span.date {
	float: right;
	display: block;
	font-size: 12px;
	font-weight: normal;
	}
body.nampa_detail .detail_left .detail_data {
	margin: 5px 277px 20px 0;
	}
body.nampa_detail .detail_left .detail_photo {
	float: none;
	width: auto;
	}
body.nampa_detail .detail_left .detail_photo h2 {
	border: none;
	}
body.nampa_detail .detail_left .detail_photo h2 {
	text-align: center;
	}
body.nampa_detail #playing p {
	float: left;
	margin-left: 7px;
	}
body.nampa_detail #playing dl {
	float: right;
	display: table;
	}
body.nampa_detail #playing dl dt ,
body.nampa_detail #playing dl dd {
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	}
body.nampa_detail .detail_left .detail_data ul {
	margin: 10px 0 0 7px;
	}
body.nampa_detail .detail_left .detail_data ul li {
	text-align: left;
	}
body.nampa_detail .detail_left dl#introduction {
	border: none;
	margin: 5px 277px 20px 7px;
	}
body.nampa_detail .detail_left dl#introduction dt {
	background: none;
	font-size: 116%;
	}
body.nampa_detail #sample-photo {
	margin: 5px 277px 20px 7px;
	}
body.nampa_detail #sample-photo dt {
	border-bottom: 2px solid #999;
	font-size: 116%;
	padding: 0;
	}
body#ppv.nampa_detail #center_column .push_title_list {
	margin: 5px 277px 20px 7px;
	}
body#ppv.nampa_detail #center_column h3 {
	border-bottom: 2px solid #999;
	font-size: 116%;
	color: #333;
	}
body#ppv.nampa_detail #center_column h4 {
	font-size: 160%;
	border-bottom: none;
	padding: 0;
	text-align: left;
	position: relative;
	}
body#ppv.nampa_detail #center_column .push_title_list ul li {
	width: 180px;
	float: left;
	padding: 0 10px 10px;
	text-align: left;
	height: auto;
	}
body#ppv.nampa_detail #center_column .push_title_list ul li h4 img.img_small {
	width: 160px;
	height: 90px;
	}
body#ppv.nampa_detail #center_column .push_title_list li h4 span {
	bottom: 1px;
	left: 1px;
	position: absolute;
	}
body#ppv.nampa_detail #center_column .push_title_list ul li p.title a {
	color: #2e4d8f;
	}
body#ppv.nampa_detail #center_column .push_title_list ul li p.title a:hover {
	color: #f00;
	}
body#ppv.nampa_detail .user_review {
	border: 1px solid #999;
	margin: 5px 277px 20px 7px;
	}
body#ppv.nampa_detail #center_column .user_review h3 {
	background-color: #e6e6e6;
	border: none;
	border-bottom: 1px solid #999;
	}
body#ppv.nampa_detail #center_column .user_review h4 {
	background-color: #e6e6e6;
	}
body#ppv.nampa_detail #center_column .user_review ul li .user_date {
	background-color: #e6e6e6;
	}
body#ppv.nampa_detail .review .sprite_icon_good {
	background: url(../../img/pc/good_47_16_detail.gif) no-repeat  left top;
	}

body#monthly .user_review ul li h4 {
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    border: none;
    background-color: #ebfcff;
    padding: 5px 5px 0;
    }

/*monthly_lower_detail*/
#monthly.monthly_lower_detail #center_column h2 {
	border-bottom: 1px solid #eee;
	margin: 0;
	padding-bottom: 5px;
	}
#monthly.monthly_lower_detail #center_column .push_title_list h3 ,
#monthly.monthly_lower_detail #center_column .push_connect_list h3 {
	border-bottom: 2px solid #d90028;
	color: #d90028;
	font-size: 116%;
	font-weight: bold;
	text-align: left;
	}
#monthly.monthly_lower_detail #center_column .push_connect_list h4 {
	border-bottom: none;
	font-size: 13px;
	text-align: left;
	margin: 15px 0 5px 5px;
	}
#monthly.monthly_lower_detail #center_column .push_connect_list h4 a {
	color: #fff;
	background-color: #000;
	padding: 2px 0;
	}
#monthly.monthly_lower_detail #center_column .push_connect_list h4 a:hover {
	text-decoration: none;
	}
#monthly.monthly_lower_detail #center_column .push_connect_list h4 span a {
	color: #428bca;
	background-color: #fff;
	padding: 2px 0;
	}
#monthly.monthly_lower_detail #center_column .push_connect_list h4 a:hover {
	text-decoration: none;
	color: #f00;
	}
#monthly.monthly_lower_detail #center_column .push_title_list .rank_list {
	width: 100%;
	display: block;
	margin: 15px 0 10px;
	}
#monthly.monthly_lower_detail #center_column .push_connect_list .rank_list {
	width: 100%;
	display: block;
	margin: 3px 0 10px;
	}
#monthly.monthly_lower_detail #center_column .push_title_list ul li ,
#monthly.monthly_lower_detail #center_column .push_connect_list ul li {
	width: 91px;
	float: left;
	margin: 0 10px 8px 0;
	height: 260px;
	text-align: left;
	}
#monthly.monthly_lower_detail #center_column .push_title_list ul li p.title a ,
#monthly.monthly_lower_detail #center_column .push_connect_list ul li p.title a {
	color: #2e4d8f;
	}
#monthly.monthly_lower_detail #center_column .push_title_list ul li p.title a:hover ,
#monthly.monthly_lower_detail #center_column .push_connect_list ul li p.title a:hover {
	color: #f00;
	}
.push_connect_list .connect_cover {
	background-color: #fff;
	border: 20px solid #eee;
	float: left;
	height: 200px;
	margin-right: 20px;
	padding: 8px;
	}
.push_connect_list .connect_cover dl dd {
	text-align: left;
	}
.push_connect_list .connect_cover dl dd a {
	color: #2e4d8f;
	}
.push_connect_list .connect_cover dl dd a:hover {
	color: #f00;
	text-decoration: none;
	}
#monthly.monthly_lower_detail .detail_right {
	width: 250px;
	margin-right: 7px;
	}

/*sidebar_detail*/
body#ppv.nampa_detail #center_column #sidebar_detail h3 {
	border: none;
	}
#other_service {
	background-color: #dfe5fb;
	padding-bottom: 14px;
	margin-bottom: 10px;
	line-height:15px;
	}
#other_service #other_inner {
	background-color: #fff;
	margin: 8px auto 0;
	padding: 8px;
	width: 240px;
	}
#other_inner a {
	background: url(../../img/pc/purchase_ppv.png) no-repeat center top ;
	display: block;
	height: 40px;
	margin: 0 auto 2px;
	text-indent: -9999px;
	width: 220px;
	}
#other_inner a:hover {
	background-position: center bottom;
	}
#other_inner p {
	font-size: 11px;
	text-align: left;
	color: #666;
	margin: 4px 0;
	}
.background_block {
	background-color: #dfe5fb;
	padding-bottom: 14px;
	margin-bottom: 10px;
	}
.background_block .directions {
	border: none;
	}
.play_course {
	background-color: #fff;
	border: 1px solid #9c9c9c;
	margin: 10px auto 0;
	width: 240px;
	}
.play_course h4 {
	margin-bottom: 10px;
	}
.play_course p {
	text-align: left;
	color: #999;
	margin: 4px 8px;
	line-height:18px;
	}
.play_course p.description_item {
	color: #666;
	line-height:16px;
	}
.streaming_play_now {
	background-image: url(../../img/pc/now_play_browser.png);
	}
.streaming_play_now_nomember {
	background-image: url(../../img/pc/now_play_browser_glay.png);
	cursor: default;
	}
.streaming_play_now ,
.streaming_play_now_nomember {
	display: block;
	height: 60px;
	margin: 0 auto;
	text-indent: -9999px;
	width: 220px;
	}
.streaming_play_now:hover  {
	background-position: center bottom;
	}
.streaming_play {
	background: url(../../img/pc/now_play.png) no-repeat center top;
	display: block;
	height: 40px;
	margin: 0 auto 2px;
	text-indent: -9999px;
	width: 220px;
	}
.streaming_play:hover {
	background-position: center bottom;
	}
.download_select {
	background: url(../../img/pc/now_download.png) no-repeat center top;
	display: block;
	height: 40px;
	margin: 0 auto 2px;
	text-indent: -9999px;
	width: 220px;
	}
.download_select:hover {
	background-position: center bottom;
	}
.background_block .price_select_below {
	margin: 10px 4px 0;
	}
.background_block .price_select_below {
	margin: 10px 4px 0;
	}
.background_block .handling_device p {
	font-size: 13px;
	}
.background_block .before_buy {
	border: none;
	margin: 0;
	padding: 0;
	}
.background_block .before_buy li {
	text-align: left;
	}
.description_open {
	color: #2e4d8f;
	cursor: pointer;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	}

/*---------all---------*/
.search_form {
	border-top: 2px solid #000;
	background-color: #eee;
	}
.search_form p.search_text {
	border-bottom: 1px dotted #000;
	text-align: left;
	padding: 5px;
	}
.search_form p.search_list {
	text-align: left;
	padding: 5px;
	float: left;
	}
.search_form p.search_list input,
.search_form p.search_list select {
	font: inherit;
	margin-right: 10px;
	}
.search_form .search_num {
	text-align: left;
	float: right;
	margin: 3px 5px 1px 0;
	}
.search_form .search_num p {
	float: left;
	padding-top: 6px;
	}
.search_form .search_num ul {
	float: left;
	}
.search_form .search_num ul li a {
	text-decoration: none;
	}
.line_count {
	background: none repeat scroll 0 0 #ffffff;
	border-bottom: 1px solid #000000;
	border-color: #000000;
	border-top: 1px solid #000000;
	border-width: 1px;
	color: #ffffff;
	padding: 5px;
	float: left;
	}
.radius_right {
	border-color: #000000;
	border-left: 1px solid #000000;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #000000;
	border-width: 1px;
	}
.line_select {
	background-color: #707070;
	}
.radius_left {
	border-color: #000000;
	border-left: 1px solid #000000;
	border-radius: 0 5px 5px 0;
	border-right: 1px solid #000000;
	border-width: 1px;
	}
.pager_search_bottom {
	background-color: #eee;
	display: block;
	height: 30px;
	margin-bottom: 20px;
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: middle;
	width: 100%;
	}
.pager_search_bottom p {
	line-height: 30px;
	text-align: center;
	}
.pager_search_bottom p a:hover {
	text-decoration: none;
	color: #f00;
	}
.empty_search_result {
	margin: 10px 20px 40px 20px;
	line-height: 2em;
	font-weight: bold;
	text-align: center;
	}
/*all ppv*/
/*all anime*/
#center_column .search_list .rank_list {
	width: 100%;
	display: block;
	margin: 15px 0 10px;
	}
#center_column .search_list ul li {
	width: 91px;
	float: left;
	margin: 0 10px 40px 0;
	text-align: left;
	}
#center_column .search_list .rank_list ul li p.name {
	height: 17px;
	white-space: nowrap;
	}
#center_column .search_list .rank_list ul li p.tag {
	height: 17px;
	}
#center_column .search_list .rank_list ul li p.title {
	height: 34px;
	}
#center_column .search_list .rank_list ul li p.title a:hover {
	color: #f00;
	}
#center_column .search_list .rank_list ul li p.review {
	margin: 5px 0 0;
	font-size: 12px;
	}
#center_column .search_list .rank_list ul li p.price {
	font-weight: bold;
	color: #f00;
	margin: 0;
	}

/*all monthly*/
.all_search_list ul.pickup_list {
	overflow: hidden;
	width: 100%;
	list-style: outside none none;
	padding-left: 0px;
	margin-top: 20px;
	}
.all_search_list ul.pickup_list li {
	line-height: 15px;
	overflow: hidden;
	margin: 0 10px 10px 0;
	padding: 0;
	width: 160px;
	}
.all_search_list ul.pickup_list li .name {
	height: 15px;
	}
#shiroutotv #center_column .search_list_detail .rank_list ul li ,
#nanpatv #center_column .search_list_detail .rank_list ul li {
	border-bottom: 1px solid #b3b3b3;
	padding: 10px 0;
	margin-bottom: 10px;
	width: 100%;
	}

/*---------search_list_detail---------*/
.search_list_detail {
	margin-top: 5px;
	}
.search_list_detail .rank_list ul li {
	border-bottom: 1px solid #b3b3b3;
	padding: 10px 0;
	margin-bottom: 10px;
	width: 100%;
	}
#monthly.monthly_lower #center_column .search_list_detail .rank_list ul li {
	border-bottom: 1px solid #b3b3b3;
	padding: 10px 0;
	margin-bottom: 10px;
	width: 100%;
	}
.search_list_detail h5 {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	}
.search_list_detail h5 a {
	color: #2e4d8f;
	}
.search_list_detail h5 a:hover {
	text-decoration: none;
	color: #f00;
	}
.search_list_detail h6 {
	float: left;
	padding-bottom: 15px;
	}
.search_list_detail h6 img {
	border: 2px solid #d90028;
	}
.search_list_detail .search_list_detail_text {
	margin-left: 240px;
	}
.search_list_detail .search_list_detail_text .search_list_review {
	height: 20px;
	}
.search_list_detail .search_list_detail_text .search_list_review p.review_title {
	float: left;
	}
.search_list_detail .search_list_detail_text .search_list_review p.review {
	float: left;
	}
#center_column .search_list_detail .rank_list ul li .search_list_detail_text p.more {
	text-align: right;
	}
.search_list_detail .rank_list ul li {
	border-bottom: 1px solid #b3b3b3;
	padding: 5px 0;
	margin-bottom: 10px;
	}
/*---------rank_list_detail---------*/
.rank_list_detail {
	margin-top: 10px;
	}
.rank_list_detail h2 {
	border-bottom: 1px solid #999;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 10px;
	text-align: left;
	}
.rank_list_detail ul li {
	border-bottom: 1px solid #b3b3b3;
	padding: 10px 0;
	margin-bottom: 5px;
	}
.rank_list_detail h5 {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	}
.rank_list_detail h5 a {
	color: #2e4d8f;
	}
.rank_list_detail h5 a:hover {
	text-decoration: none;
	color: #f00;
	}
.rank_list_detail h6 {
	float: left;
	padding-bottom: 10px;
	}
.rank_list_detail h6 img {
	border: 2px solid #d90028;
	}
.rank_list_detail .rank_list_detail_text {
	margin-left: 240px;
	}
#center_column .rank_list_detail .rank_list ul li .rank_list_detail_text p.more {
	text-align: right;
	}
#center_column .rank_list_detail p.maker {
	height: 35px;
	}
.rank_list_detail span.rank_up,
.rank_list_detail span.rank_down,
.rank_list_detail span.rank_keep {
	margin-right: 10px;
	}
.rank_list_detail.monthly_lower_rank .rank_list_detail_text {
	margin-left: 295px;
	}
.rank_list_detail.monthly_lower_rank h5 {
	float: left;
	padding-bottom: 20px;
	}
.rank_list_detail.monthly_lower_rank h5 img {
	border: 3px double #808080;
	height: 160px;
	width: 284px;
	}
.rank_list_detail.monthly_lower_rank h6 {
	font-weight: bold;
	text-align: left;
	float: none;
	padding: 0;
	}
.rank_list_detail.monthly_lower_rank h6 a {
	color: #2e4d8f;
	}
.rank_list_detail.monthly_lower_rank h6 a:hover {
	text-decoration: none;
	color: #f00;
	}
.rank_list_detail.monthly_lower_rank span.sprite {
	float: left;
	}
.rank_list_fav {
	text-align: center !important;
	}
.rank_list_fav a img {
	border: none;
}
.rank_list_fav_cnt {
	color: #ff0000;
	font-weight: bold;
	}
.rank_list .rank_categorie {
	float: right;
}
.rank_categorie .fav_categorie {
	border: none;
}
.rank_categorie .fav_categorie #input_category{
	width: 250px;
}
#center_column .rank_list_detail.monthly_lower_rank .rank_list ul li p.sample_movie_btn {
	margin: 15px 0;
	}
.push_actress_list a.act_image {
	height: 105px;
	margin-bottom: 4px;
	text-indent: -9999px;
	}
.push_actress_list a.act_image:hover {
	color: #ed0065;
	opacity: 0.7;
	}
.push_actress_list a {
	color: #7b5028;
	display: block;
	font-size: 12px;
	height: 30px;
	text-align: center;
	}
.push_actress_list a:hover {
	text-decoration: none;
	color: #ed0065;
	}
#actress_list #return {
	text-align: right;
	}
#actress_list #return p {
	background: none;
	text-align: right;
	border: none;
	font-weight: bold;
	height: auto;
	padding: 0;
	display: inline-block;
	margin-bottom: 20px;
	}
#actress_list #return p a {
	color: #7b5028;
	text-decoration: none;
	font-size: 16px;
	}
#actress_list #return p img {
	vertical-align: middle;
	}
.push_actress_list a.new_act_image {
	height: 105px;
	margin-bottom: 4px;
	}
.push_actress_list a.new_act_image:hover {
	color: #ed0065;
	opacity: 0.7;
	}
.push_actress_list li {
	height: 140px;
	}
/*---------left_column---------*/
#left_column .left_menu {
	border: 5px solid #707070;
	width: 150px;
	height: auto;
	background-color: #fafafa;
	}
#left_column h2 {
	text-align: center;
	background-color: #f00;
	padding: 2px 0 1px;
	color: #fff;
	font-weight: bold;
	}
#left_column h3 {
	text-align: left;
	color: #f00;
	font-weight: bold;
	padding: 5px;
	}
#left_column p.left_text {
	text-align: left;
	padding: 5px;
	width:140px;
	}
#left_column ul {
	border-bottom: 2px solid #707070;
	padding: 0 5px 5px;
	margin-bottom: 10px;
	}
#left_column ul li {
	text-align: left;
	margin-bottom: 3px;
	}
#left_column ul li a {
	text-decoration: none;
	}
#left_column .all_list {
	text-align: right;
	}
#left_column .all_list img {
	vertical-align: middle;
	margin-right: 3px;
	}
#left_column h4 {
	text-align: left;
	padding: 0 5px 5px;
	font-weight: bold;
	}
#left_column ul.no_border {
	border: none;
	}
#left_column p {
	width: 150px;
	text-align: center;
	margin: 7px 0;
	}
#left_column p.price_text {
	border: 1px solid #ccc;
	margin: 10px 0 0 10px;
	width: 130px;
	padding: 5px;
	color: #485359;
	text-align: left;
	line-height: 16px;
	background-color: #f2f2f2;
	}
#left_column p.price_text span {
	font-weight: bold;
	}
#left_column ul li a.color_red {
	color: #ff0000;
}
#left_column ul li a.color_blue {
	color: #0000ff;
}
#left_column ul li a.color_yellow {
	color: #ffff00;
}
#left_column ul li a.color_green {
	color: #008000;
}
#left_column ul li a.color_orange {
	color: #ffa500;
}
#left_column ul li a.color_pink {
	color: #ffc0cb;
}
#left_column ul li a.color_black {
	color: #000000;
}
#left_column ul li a.liner_red {
	border-bottom: solid 2px #ff0000;
}
#left_column ul li a.liner_blue {
	border-bottom: solid 2px #0000ff;
}
#left_column ul li a.liner_yellow {
	border-bottom: solid 2px #ffff00;
}
#left_column ul li a.liner_green {
	border-bottom: solid 2px #008000;
}
#left_column ul li a.liner_orange {
	border-bottom: solid 2px #ffa500;
}
#left_column ul li a.liner_pink {
	border-bottom: solid 2px #ffc0cb;
}
#left_column ul li a.liner_black {
	border-bottom: solid 2px #000000;
}
#left_column ul li a.background_liner_red {
	background:linear-gradient(transparent 55%, #ff7a7a 0%);
}
#left_column ul li a.background_liner_blue {
	background:linear-gradient(transparent 55%, #77ddff 0%);
}
#left_column ul li a.background_liner_yellow {
	background:linear-gradient(transparent 55%, #ffff66 0%);
}
#left_column ul li a.background_liner_green {
	background:linear-gradient(transparent 55%, #78ff00 0%);
}
#left_column ul li a.background_liner_orange {
	background:linear-gradient(transparent 55%, #ffb932 0%);
}
#left_column ul li a.background_liner_pink {
	background:linear-gradient(transparent 55%, #ffbcff 0%);
}
#left_column ul li a.background_liner_black {
	background:linear-gradient(transparent 55%, #808080 0%);
}
#left_column ul li .left_list_icon {
	height: 20px;
	vertical-align: middle;
	margin-right: 3px;
}
/*---------search---------*/
.image_selected{
	color: #FFF;
	background-color: #505050;
	margin-right: 5px;
	overflow: hidden;
	}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
	}
.save_image_block{
    position:absolute;
    right: 7px;
    top:44px;
	}
.save_image_list a{
	text-decoration: none;
}
.save_info_block{
    display: block;
    margin:10px 0;
    position: relative;
    margin-right: 40px;
    text-align:left;
	}
.save_del_button{
    padding: 0px 3px;
    font-size: 10px;
    margin-top: -2px;
    position: absolute;
    right: 12px;
    top: 10px;
	}
.save_block{
    background-color: #fff;
    padding: 12px 24px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    z-index: 9999;
	}
.hide_item{
    display:none;
	}
.save_image_header{
    padding: 5px 0;
    margin-right: 50px;
	}
.close_button{
    padding: 4px 8px;
    font-size: 10px;
    position: absolute;
    right: 12px;
    top: 14px;
	}
.remove_image_word{
    float: right;
    padding-right: 3px;
    cursor: pointer;
	}
/*---------right_column---------*/
#right_column .pick_bnr {
	border: 1px solid #ccc;
	}
#right_column .pick_bnr h3 {
	padding: 3px 8px;
	text-align: center;
	background-color: #777;
	padding: 3px;
	color: #fff;
	font-weight: bold;
	}
#right_column .pick_bnr p {
	margin: 10px 0;
	}
#right_column .right_rank {
	border: 1px solid #ccc;
	margin: 10px 0;
	}
#right_column .right_rank h3 {
	padding: 3px 8px;
	text-align: center;
	background-color: #777;
	padding: 3px;
	color: #fff;
	font-weight: bold;
	}
#right_column .right_rank_inner {
	padding: 10px;
	}
#right_column .right_rank .right_rank_area {
	float: left;
	width: 48%;
	margin-bottom: 20px;
	}
#right_column .right_rank .right_rank_area:nth-child(even) {
	float: right;
	width: 48%;
	}
#right_column .right_rank .right_rank_area .rank_title{
	background-color: #000;
	color: #fff;
	text-align: left;
	padding: 3px;
	line-height: 14px;
	font-weight: bold;
	}
#right_column .right_rank .right_rank_area{
	text-align: left;
	}
#right_column .right_rank .right_rank_area h5 {
	text-align: center;
	}
#right_column .right_rank .right_rank_area ul li {
	margin-bottom: 10px;
	}
#right_column .right_rank .right_rank_area ul li h4 {
	display: inline-block;
	padding: 0 3px;
	margin: 5px 0 5px 7px;
	color: #fff;
	}
#right_column .right_rank .right_rank_area ul li h4.rank1 {
	background-color: #f00;
	}
#right_column .right_rank .right_rank_area ul li h4.rank2 {
	background-color: #009fde;
	}
#right_column .right_rank .right_rank_area ul li h4.rank3 {
	background-color: #e955dc;
	}
#right_column .right_rank .right_rank_area ul li h4.rank_out {
	color: #333;
	}
#right_column .right_rank .right_rank_area ul li p.sample_movie_btn {
	margin: 3px 0 5px;
	text-align: center;
	}
#right_column .right_rank .right_rank_area ul li p.title {
	margin: 3px 0 5px 7px;
	height:34px;
	}
#right_column .right_rank .right_rank_area .all_list a {
	color: #f00;
	}
#right_column .right_rank .right_rank_area a:hover {
	text-decoration: none;
	}
#right_column .right_rank .right_rank_area .all_list img {
	vertical-align: middle;
	margin-right: 3px;
	}
#right_column .right_bnr ul li {
	margin-bottom: 10px;
	}
#right_column .right_bnr ul li img.month {
	max-width: 230px;
	}
#right_column .right_support ul {
	margin: 10px 0;
	}
#right_column .right_support ul li {
	list-style-type: disc;
	list-style-position: outside;
	text-align: left;
	margin-left: 20px;
	}
#right_column .right_support ul li.store_title {
	margin-left: 10px;
	list-style-type: none;
	}
#right_column .right_support ul li.store_text {
	margin-left: 25px;
	list-style-type: none;
	}
#right_column .right_support ul li a:hover {
	text-decoration: none;
	}
#right_column #right_pickup_girl h3 {
	font-weight: bold;
	text-align: left;
	padding-bottom: 5px;
	}
#right_column .right_search {
	margin: 10px 0;
	}
#right_column .right_search h3 {
	background-color: #000;
	color: #fff;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 5px;
	margin-bottom: 10px;
	}
#right_column .right_search .right_search_list  .right_search_title {
	border-bottom: 1px solid #999;
	font-weight: bold;
	margin: 5px 0;
	text-align: left;
	}
#right_column .right_search .right_search_list li {
	text-align: left;
	margin-left: 5px;
	list-style:none;
	}
#right_column #right_pickup_view {
	margin-bottom: 20px;
	}
#right_column #right_pickup_view h3 {
	border-bottom: 1px solid #999;
	font-weight: bold;
	margin: 5px 0 10px;
	text-align: left;
	}
#right_column #right_pickup_view .right_pickup_view_box {
	display: table;
	border-bottom: 1px solid #999;
	padding: 10px 0;
	}
#right_column #right_pickup_view .right_pickup_view_box .image {
	display: table-cell;
	vertical-align: middle;
	}
#right_column #right_pickup_view .right_pickup_view_box .text {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 5px;
	}
#right_column #right_pickup_view .right_pickup_view_box .text span {
	font-size: 11px;
	margin-top: 5px;
	}
#right_column .right_rank20 h4 {
	font-weight: bold;
	font-size: 14px;
	margin: 2px 0 10px;
	text-align: left;
	}
#right_column .right_rank20 ul li {
	border-bottom: 1px solid #999;
	padding: 8px 0;
	}
#right_column .right_rank20 ul li .text {
	float: left;
	text-align: left;
	line-height: 16px;
	clear:both;
	}
#right_column .right_rank20 ul li.rank1 .text h5 {
	background: url(../../img/pc/rank01.gif) no-repeat left center;
	padding-left: 25px;
	}
#right_column .right_rank20 ul li.rank2 .text h5 {
	background: url(../../img/pc/rank02.gif) no-repeat left center;
	padding-left: 25px;
	}
#right_column .right_rank20 ul li.rank3 .text h5 {
	background: url(../../img/pc/rank03.gif) no-repeat left center;
	padding-left: 25px;
	}
#right_column .right_rank20 ul li .text p {
	color: #333;
	}
#right_column .right_rank20 ul li .text .image {
	float: right;
	padding-top: 2px;
	}
#right_column .right_rank20 p.more {
	text-align: right;
	padding-top: 10px;
	margin-bottom: 10px;
	}
.right_rank20 .linkbox:hover p, #right_user_review .linkbox {
	cursor:pointer;
}
.right_rank20 .linkbox:hover p, #right_user_review .linkbox{
	display:block;
}
.right_rank20 .linkbox:hover p, #right_user_review .linkbox:hover p{
	color:#F00 !important;
}
#right_user_review .linkbox:hover .summary, .linkbox:hover .review, .linkbox:hover .detail{
	color:#F00 !important;
}
#right_column #right_user_review h3 {
	background-color: #000;
	color: #fff;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 5px;
	margin-bottom: 12px;
	}
#right_column #right_user_review ul li {
	border-bottom: 1px solid #999;
	padding: 8px 0;
	}
#right_column #right_user_review ul li h4 {
	float: left;
	}
#right_column #right_user_review ul li .text {
	float: right;
	width: 245px;
	padding-left: 20px;
	}
#right_column #right_user_review ul li .title {
	text-align: left;
	line-height: 18px;
	}
#right_column #right_user_review ul li .summary {
	text-align: left;
	color: #333;
	}
#right_column #right_user_review ul li .review {
	text-align: left;
	color: #333;
	font-size:12px;
	}
#right_column #right_user_review ul li .detail {
	text-align: right;
	}
#right_column #right_user_review p {
	border: 1px solid #ccc;
	text-align: left;
	padding: 5px;
	margin: 10px 0;
	}
#right_column #right_user_review p span {
	font-weight: bold;
	}
#right_column #right_topics {
	margin-bottom: 10px;
	}
#right_column #right_topics h3 {
	background-color: #ee48b0;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	}
#right_column #right_topics .right_topics_title {
	font-weight: bold;
	padding-left: 20px;
	text-align: left;
	font-size: 12px;
	margin-top: 10px;
	}
#right_column #right_topics .right_topics_text {
	font-weight: bold;
	font-size: 13px;
	background: url(/img/common/pink_yaji.png) no-repeat left center;
	padding-left: 22px;
	line-height: 15px;
	text-align: left;
	}
#right_column .right_ppv_review .right_ppv_review_detail {
	font-size: 12px;
	text-align: right;
	}
#right_column .right_latest_list {
	background-color: #f2f4f6;
	padding-bottom: 10px;
	margin-bottom: 10px;
	}
#right_column .right_latest_list h3 {
	color: #fff;
	font-size: 14px;
	margin: 10px 0 0;
	}
#right_column .right_latest_list h4 {
	text-align: left;
	padding: 10px 10px 0;
	}
#right_column .right_latest_list ul li {
	padding: 0 10px 10px;
	}
#right_column .right_latest_list ul li a {
	display: block;
	color: #333;
	}
#right_column .right_latest_list ul li p {
	float: left;
	width: 160px;
	position: static;
	text-align: left
	}
#right_column .right_latest_list ul li h5 {
	float: right;
	}
#right_column .right_latest_list ul li .right_latest_list_link {
	margin-top:5px;
	height:70px;
	}
#right_column .right_latest_list  p.more {
	text-align: right;
	padding-right: 10px;
	}
#right_column .right_latest_list  p.more a {
	color: #333;
	}
#right_column .right_ppv_review {
	background-color: #f2f4f6;
	padding-bottom: 10px;
	margin-bottom: 10px;
	}
#right_column .right_ppv_review h3 {
	background-color: #ee48b0;
	color: #fff;
	font-size: 14px;
	margin: 10px 0 0;
	}
#right_column .right_ppv_review ul {
	}
#right_column .right_ppv_review ul li {
	background-color: #fdf2de;
	padding: 10px;
	margin: 10px;
	}
#right_column .right_ppv_review h4 {
	float: left;
	width: 46px;
	}
#right_column .right_ppv_review .right_ppv_review_box {
	float: left;
	width: 132px;
	margin: 0 0 0 10px;
	}
#right_column .right_ppv_review .right_ppv_review_review {
	height: 18px;
	text-align: left;
	}
#right_column .right_ppv_review .right_ppv_review_title {
	height: 32px;
	text-align: left;
	line-height: 1.1em;
	}
#right_column .right_ppv_review .right_ppv_review_detail {
	font-size: 12px;
	text-align: right;
	}
/*right_column rankings*/
#right_column ul#right_column_ranking {
    width: 230px;
    padding: 0 0 20px 0;
}
#right_column ul#right_column_ranking li.open {
    border-bottom: none;
    background: #fff;
}
#right_column ul#right_column_ranking li {
    width: 33%;
    float: left;
    border-bottom: 1px #ccc solid;
    background: #eee;
    text-align: center;
}
#right_column ul#right_column_ranking li.open a {
    color: #000;
    text-decoration: none;
}

/*---------aff---------*/
/*aff_head*/
#aff_head h2 {
	background: url(../../img/pc/topimg.jpg) no-repeat left top;
	float: left;
	height: 37px;
	width: 550px;
	margin-bottom: 10px;
	}
#aff_head .area {
	min-width:980px;
	}
#aff_head #aff_nav1 {
	float: right;
	width: 430px;
	}
#aff_head #aff_nav1 li {
	float: left;
	margin: 10px 0 0 10px;
	}
#aff_head .af_menu_bar {
	clear: both;
	background: url(../../img/pc/headmenu_bg_off.jpg) repeat-x;
	height: 35px;
	padding: 4px 0 0 0;
	margin-bottom: 20px;
	}
#aff_head #aff_nav2 {
	width: 970px;
	margin: 0 auto;
	border-left: 1px solid #f99;
	}
#aff_head #aff_nav2 li {
	background: url(../../img/pc/arrow.png) no-repeat 6px center;
	text-align: center;
	border-right: 1px solid #fff;
	border-left: 1px solid #f99;
	float: left;
	height: 30px;
	}
#aff_head #aff_nav2 li a {
	display: block;
	color: #fff;
	padding: 6px 17px 0;
	}
#aff_head #aff_nav2 li a:hover {
	text-decoration: none;
	}
#aff_wrap {
	width: 990px;
	margin: 0 auto;
	padding-bottom: 70px;
	}
/*aff_left_column*/
#aff_left_column {
	float: left;
	width: 140px;
	margin-left: 10px;
	font-size: 12px;
	}
#aff_left_column .owner {
	margin: 10px 0;
	background-color: #000;
	}
#aff_left_column .owner p {
	margin-top: 5px;
	}
#aff_left_column .owner p a {
	color: #fff;
	}
#aff_left_column .owner p a:hover {
	text-decoration: none;
	}
#aff_left_column .owner p img {
	vertical-align: middle;
	}
#aff_left_column .aff_menu ul {
	border: 1px solid #000;
	margin-bottom: 10px;
	}
#aff_left_column .aff_menu ul li {
	text-align: left;
	padding-left: 3px;
	}
#aff_left_column .aff_menu ul li a {
	color: #009;
	}
#aff_left_column .aff_menu ul li a:hover {
	color: #f00;
	text-decoration: none;
	}
#aff_left_column .aff_menu ul li img {
	vertical-align: middle;
	}
#aff_left_column .aff_reward_rank h3 {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	}
#aff_left_column .aff_reward_rank ul {
	border: 1px solid #000;
	border-top: none;
	margin-bottom: 10px;
	padding: 0 5px 5px;
	}
#aff_left_column .aff_reward_rank ul li {
	text-align: right;
	border-bottom: 1px dotted #aaa;
	padding: 5px 0;
	}
#aff_left_column .aff_reward_rank ul li.rank1 {
	background: url(../../img/pc/rank1.jpg) no-repeat left center;
	}
#aff_left_column .aff_reward_rank ul li.rank2 {
	background: url(../../img/pc/rank2.jpg) no-repeat left center;
	}
#aff_left_column .aff_reward_rank ul li.rank3 {
	background: url(../../img/pc/rank3.jpg) no-repeat left center;
	}
#aff_left_column .aff_best_banner h3 {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	}
#aff_left_column .aff_best_banner dl {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding: 0 5px 5px;
	}
#aff_left_column .aff_best_banner dl dt {
	text-align: right;
	padding-top: 5px;
	}
#aff_left_column .aff_best_banner dl dt.rank1 {
	background: url(../../img/pc/rank1.jpg) no-repeat left center;
	}
#aff_left_column .aff_best_banner dl dt.rank2 {
	background: url(../../img/pc/rank2.jpg) no-repeat left center;
	}
#aff_left_column .aff_best_banner dl dt.rank3 {
	background: url(../../img/pc/rank3.jpg) no-repeat left center;
	}
#aff_left_column .aff_best_banner dl dd {
	border-bottom: 1px dotted #aaa;
	padding: 3px 0 5px;
	}
#aff_left_column .aff_best_banner p {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 0 5px 10px;
	}
#aff_left_column .aff_best_banner p a {
	color: #009;
	}
#aff_left_column .aff_best_banner p a:hover {
	color: #f00;
	text-decoration: none;
	}

/*aff_center_column*/
#aff_center_column {
	float: left;
	width: 800px;
	margin-left: 25px;
	}

/*---------random_banner---------*/
.random_banners{
	display:none;
}

/*---------go_to_top---------*/
#go_to_top {
	background-color: #fff;
	text-align: right;
	padding: 0 20px 10px 0;
	}
#go_to_top a:hover{
	text-decoration:none;
	}
#go_to_top p img {
	vertical-align: middle;
	margin-right: 5px;
	}

/*---------footer---------*/
#foot_info {
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	width: 700px;
	min-width: 700px;
	}
#foot_info ul li a {
	/* color: #000; */
	font-size: 100%;
	}
#foot_info a:hover {
	color: #f00;
	text-decoration: none;
	}
#foot_info ul {
	float: left;
	margin: 0 2%;
	/* margin: 0 7%; */
	}
#foot_info ul li {
	text-align: left;
	}
#foot_info p {
	clear: both;
	padding-top: 10px;
	}
#foot_info p a {
	color: #1816cd;
	}
body#index #foot_info p a {
	color: #428bca;
	}
p.copyright {
	padding: 10px;
	font-size: 100%;
	color: #fff;
	}
input[type=radio] {
    margin-left: 2px;
}
.normal_type_box1 {
	table-layout: fixed;
	width: 7%;
	padding: 0px;
}
.normal_type_box1 input {
	margin-top: 7px;
	padding: 0px;
}
.normal_type_box2 {
	table-layout: fixed;
	font-size: 12.5px;
	padding: 0px;
	width: 95%;
}
.normal_type_box3 {
	table-layout: fixed;
	font-size: 13px;
	padding: 0px;
	width: 65%;
}
.normal_type_box4 {
	table-layout: fixed;
	font-size: 14.5px;
	color: #ff0000;
	padding: 0px;
	width: 30%;
	text-align: right;
}
.sale_time {
	border-collapse: separate;
    border-spacing: 0;
	padding: 0px;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.sale_type_box1 {
	table-layout: fixed;
	width: 7%;
	padding: 0px;
}
.sale_type_box1 input {
	margin-top: 7px;
	padding: 0px;
}
.sale_type_box2 {
	table-layout: fixed;
	font-size: 12.5px;
	padding: 0px;
	width: 95%;
}
.sale_type_box3 {
	table-layout: fixed;
	font-size: 13px;
	color: #00aa00;
	padding: 0px;
	width: 65%;
}
.sale_type_box4 {
	table-layout: fixed;
	font-size: 14.5px;
	text-decoration: line-through;
	padding: 0px;
	width: 30%;
	text-align: right;
}
.sale_type_box5 {
	table-layout: fixed;
	font-size: 14.5px;
	color: #ff0000;
	padding: 0px;
	width: 30%;
	text-align: right;
}
.price_list table {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    margin: 6px 0;
    padding: 5px 2px 3px;
	table-layout: fixed;
	width: 100%;
}
.title {
	font-weight: bold;
}
.price_list_sampleplayer .select {
	border: 1px solid #f33;
}
.price_list_sampleplayer table {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    margin: 6px 0;
    padding: 5px 2px 3px;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.select_sampleplayer{
	border: 1px solid #f33;
}
.content_purchase_layout_01 .purchased_date {
	background: #fbfb54;
	color: red;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	width: 230px;
	display: block;
	line-height: 40px;
	margin-bottom: 10px;
	margin-right: 14px;
	float: right;
}
.content_purchase_layout_01 .purchased_img {
	width: 27px;
	height: 27px;
	margin-left: 13px;
	margin-top: 3px;
}
.review_accordion {
	display: none;
}
.review_display {
	display: block;
  	background: #b8f4ff;
  	padding: 10px 10px 10px 10px;
  	border: none;
	cursor: pointer;
}
.review_display:hover {
    opacity:0.7;
}
