@charset "UTF-8";

/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
html {
	line-height: 20px;
	color: #333;
	min-width: 960px;
	}
body {
	text-align: center;
	font-family: "meiryo","hiragino kaku gothic pro","ms p gothic","osaka",verdana,arial,helvetica,sans-serif;
	font-size: 13px;
	font-weight: normal;
	-webkit-text-size-adjust: none;
	}
h1 , h2 , h3 , h4 , h5 , h6 {
	font-size: 13px;
	font-weight: normal;
	}
dl, ul, ol {
	list-style-type: none;
	}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
	}
blockquote, q {
	quotes:none;
	}
blockquote:before ,
blockquote:after ,
q:before ,
q:after {
	content:'';
	content:none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
table th ,
table td {
	text-align: left;
	padding: 3px;
	font-weight: normal;
	}
img {
	vertical-align: bottom;
	border: 0;
	font-size: 0;
	}

*:before, *:after {
	box-sizing: border-box;
}
input ,select , option {
	font-family: "meiryo","hiragino kaku gothic pro","ms p gothic","osaka",verdana,arial,helvetica,sans-serif;
	}

/* a setup */
a {
	text-decoration: none;
	color: #428bca;
	}
a:hover {
	text-decoration: underline;
	color: #f00;
	}
a:focus, a:active ,input:focus {
	outline: none;
	}

