@charset "utf-8";

.ranking_01, .ranking_02, .ranking_03 {
	display: block;
	float: left;
	margin-right: 13px;
	width: 40px;
	height: 30px;
	text-indent: -9999px;
	}
.ranking_01{background: url(../../img/pc/rank01_40_30.gif) left top no-repeat;}
.ranking_02{background: url(../../img/pc/rank02_40_30.gif) left top no-repeat;}
.ranking_03{background: url(../../img/pc/rank03_40_30.gif) left top no-repeat;}

.monthly_lower_rank .ranking_01{background: url(../../img/pc/rank01_40_30_second.gif) left top no-repeat;}
.monthly_lower_rank .ranking_02{background: url(../../img/pc/rank02_40_30_second.gif) left top no-repeat;}
.monthly_lower_rank .ranking_03{background: url(../../img/pc/rank03_40_30_second.gif) left top no-repeat;}



.rank_up,.rank_down,.rank_keep{display:block;float:left;height:22px;padding-left:30px;padding-top:3px;font-weight:bold;}
.rank_up{background:url(../../img/pc/rank_up_25_22.gif) left top no-repeat;color:#EC1C24;}
.rank_down{background:url(../../img/pc/rank_down_25_22.gif) left top no-repeat;color:#1072B9;}
.rank_keep{background:url(../../img/pc/rank_keep_25_22.gif) left top no-repeat;color:#4D4D4D;}
.ranking_title {
	display: block;
	float: left;
	width:94px;
	height: 30px;
	padding-top: 3px;
	background: url(../../img/pc/ranking_title_22_16.gif) no-repeat scroll left top transparent;
	padding-left: 25px;
	font-size: 22px;
	font-weight: bold;
	color: #F00;
	}

.monthly_lower_rank .rank_up,
.monthly_lower_rank .rank_down,
.monthly_lower_rank .rank_keep {
	padding: 0;
	font-weight: normal;
	color: #333;
	background: none;
	}
