@CHARSET "UTF-8";

.review span {
	float: left;
	width: 80px;
	}
#right_column .right_anime_review .review span {
	float: none;
	}
#right_column .right_ppv_review .review span {
	float: none;
	}


.star_0,
.star_1,
.star_2,
.star_3,
.star_4,
.star_5 {
    background-image: url(../../img/pc/smilemark_74_14-2.gif);
    background-repeat: no-repeat;
    font-size: 10px;
    height: 15px;
    width: 100%;
    display: block;
    text-indent: -9999px;
}

.smallstar_0,
.smallstar_1,
.smallstar_2,
.smallstar_3,
.smallstar_4,
.smallstar_5 {
    background-image: url(../../img/pc/smilemark_74_14-2.gif);
    background-repeat: no-repeat;
    font-size: 12px;
    height: 12px;
    width: 100%;
    display: block;
    text-indent: -9999px;
}

.star_5 { background-position: 0   0px }
.star_4 { background-position: 0 -14px }
.star_3 { background-position: 0 -28px }
.star_2 { background-position: 0 -42px }
.star_1 { background-position: 0 -56px }
.star_0 { background-position: 0 -70px }

.smallstar_5 { background-position: 0   0px }
.smallstar_4 { background-position: 0 -12px }
.smallstar_3 { background-position: 0 -23px }
.smallstar_2 { background-position: 0 -35px }
.smallstar_1 { background-position: 0 -46px }
.smallstar_0 { background-position: 0 -58px }

.staricon {
    background-size: 75px auto;
    float: left;
    height: 15px;
    line-height: 19px;
    margin-right: 5px;
    overflow: hidden;
    width: 80px;
}

.smallstaricon {
    background-size: 61px auto;
    float: left;
    height: 13px;
    line-height: 19px;
    margin-right: 5px;
    overflow: hidden;
    width: 60px;
}

.star_00_04,
.star_05_09,
.star_10_14,
.star_15_19,
.star_20_24,
.star_25_29,
.star_30_34,
.star_35_39,
.star_40_44,
.star_45_49,
.star_50 {
    background-image: url(../../img/pc/smilemark_74_14-2.gif);
    background-repeat: no-repeat;
    font-size: 10px;
    height: 16px;
    width: 100%;
    display: block;
    text-indent: -9999px;
	margin-right:3px;
	margin-top:-1px;
}


.smallstar_00_04,
.smallstar_05_09,
.smallstar_10_14,
.smallstar_15_19,
.smallstar_20_24,
.smallstar_25_29,
.smallstar_30_34,
.smallstar_35_39,
.smallstar_40_44,
.smallstar_45_49,
.smallstar_50 {
    background-image: url(../../img/pc/smilemark_74_14-4.gif);
    background-repeat: no-repeat;
    font-size: 12px;
    height: 12px;
    width: 100%;
    display: block;
    text-indent: -9999px;
}


.star_50    { background-position: 0   1px }
.star_45_49 { background-position: 0 -15px }
.star_40_44 { background-position: 0 -31px }
.star_35_39 { background-position: 0 -47px }
.star_30_34 { background-position: 0 -63px }
.star_25_29 { background-position: 0 -79px }
.star_20_24 { background-position: 0 -95px }
.star_15_19 { background-position: 0 -111px }
.star_10_14 { background-position: 0 -127px }
.star_05_09 { background-position: 0 -143px }
.star_00_04 { background-position: 0 -159px }

.smallstar_50    { background-position: 0   1px }
.smallstar_45_49 { background-position: 0 -12px }
.smallstar_40_44 { background-position: 0 -25px }
.smallstar_35_39 { background-position: 0 -39px }
.smallstar_30_34 { background-position: 0 -52px }
.smallstar_25_29 { background-position: 0 -65px }
.smallstar_20_24 { background-position: 0 -78px }
.smallstar_15_19 { background-position: 0 -91px }
.smallstar_10_14 { background-position: 0 -104px }
.smallstar_05_09 { background-position: 0 -118px }
.smallstar_00_04 { background-position: 0 -131px }


.staricon {
    background-size: 75px auto;
    float: left;
    height: 16px;
    line-height: 19px;
    margin-right: 5px;
    overflow: hidden;
    width: 80px;
}

.review span.smallstaricon {
    background-size: 61px auto;
    float: left;
    height: 13px;
    line-height: 19px;
    margin-right: 5px;
    overflow: hidden;
    width: 60px;
}
