html,
body {
  margin:0;
  padding:0;
  height:100%;
}

body {
  background-color: #FFE11A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #1F8A70;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
} 

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .wrapper-left {
    display: none;
  }

}

@media screen and (min-width: 800px) {
  /*
  .footer-left {
    padding-left:160px;
  }
  */
}


.wrapper-left {
  z-index:9999;
  position: fixed;
  height: 100%;
  background-color: #000;
}

.wrapper-main {
  min-height:100%;
  position:relative;
}



.content-main {
  padding-bottom:80px;   /* Height of the footer element */
  text-align: center;
}


.form-main {
  padding-left: 10px;
  padding-right: 10px;
}


.site-notification:before {
  content:"";
  position:absolute;
  bottom:-14px; /* value = - border-top-width - border-bottom-width */
  left:48px; /* controls horizontal position */
  border-width:14px 0 0 14px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#1F8A70 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.site-notification:after {
  content:"";
  position:absolute;
  bottom:-12px; /* value = - border-top-width - border-bottom-width */
  left:49px; /* controls horizontal position */
  border-width:12px 0 0 12px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#FFE11A transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}


.site-notification {
  position:relative;
  color:#fff;
  border: 1px solid #1F8A70;
  border-radius:4px;
  height: 30px;
}

.site-notification-body {
  white-space: nowrap;
  overflow: hidden;
  height: 29px;
  color: #1F8A70;
  width: 98%;
  max-width: 420px;
  text-align: left;
  padding: 5px 5px 5px 10px;
}
.btn-close-notification {
  cursor: pointer;
  position:  absolute;
  right: 10px;
  top: 6px;
  color: #1F8A70;
  font-size: 13px;  
}

.site-notifications {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 35px;
  margin-top: 0px;
  max-width: 468px;
}


.input-url {
  padding: 10px 16px;
  height: 46px;
  width: 100%;
  max-width: 468px;
  border: none;
  line-height: 28px;
  border-radius: 0.2em;
  font-size: 18px;
}

.ui-menu-item {
  padding: 5px 5px 5px 15px;
  cursor: pointer;  
}
.ui-state-focus {
  background-color: #eeeeee;
}

.ui-autocomplete {
  margin-top: 15px;
  font-size: 18px;
  background-color: #fff;
  max-width: 468px;
  width: 100%;
  border-radius: 0.2em;
  list-style-type: none;
  padding: 0px;
  z-index: 9999;
}

.ui-helper-hidden-accessible {
  display: none !important;
}

.video-result-thumbnail img {
  width: 196px;
  height: 110px;
}

#searchResultsModal .modal-title{
  font-size: 16px !important;
  font-weight: 600;
}
.video-result {
  font-size: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.video-result:hover {
  background-color: #eeeeee;
}

.vrd-hd {
    text-shadow: 1px 1px 3px #000000;  
    font-size: 10px;
    padding: 2px 5px 2px 5px;
    font-weight: 600;
    background-color: #1F8A70;
    border: none;
    display: inline;
    position: relative;
    top: -110px;
    color: #fff;
    left: 171px;
    border-bottom-left-radius: 4px;
}

.vrd-duration {
  font-size: 11px;
  padding:2px;
  font-weight: 600;
  background-color: #000;
  opacity: 0.7;
  display: inline;
  position: relative;
  top:-22px;
  left: -20px;
  color: #fff;
}
.video-result-top, .video-result-bottom {
  width: 100%;
  display: block;
}
.video-result-thumbnail, .video-result-details {
  height: 110px;
  float: left;
}
.video-result-thumbnail {
  width: 196px;
  margin-right: 15px;
}
.video-result-details{
  max-width: 350px;
  overflow: hidden;
}
.vrd-title {
  font-size: 14px;
  font-weight: 600;
  max-width: 350px;
}
.vrd-title, .vrd-part {
  color: #1F8A70;  
}
.vrd-description {
  color: #bababa;
}

/*
.video-results {
  overflow-y: scroll;
}

#searchResultsModal .modal-dialog {
  width: 98%;
  height: 92%;
  padding: 0;
}

#searchResultsModal .modal-content {
  height: 99%;
}
*/
/*#searchResultsModal .modal-body {
  overflow-y: scroll;
}*/

.powered-by-yt {
  width: 21%;
  opacity: 0.4;
}
.search-footer {
  width: 100%;
  text-align: right;
}

.buttons-group {
  width: 100%;
  max-width: 468px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: 46px;  
}

.hidden {
  display: none;
}

.hidden-opacity {
  opacity: 0.0;
  filter: alpha(opacity=0); 
}

.btn-download-video, .btn-download-audio, .btn-download-generic, .btn-search, .btn-redirect, .btn-go-back {
  display: block;
  border-radius: 0.2em;
  background-color: #FD7400;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;    
  /*padding: 0px 50px;*/
  cursor: pointer;
  width: 48%;
  text-decoration: none !important;
}

.btn-redirect {
  width: 100% !important;
}
.btn-redirect h1 {
   line-height: 30px !important; 
}

.form-main h1 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px !important;
  color: #fff !important;  
  line-height: 46px;
  text-decoration: none !important;
}

.form-main h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 12px !important;
  color: #fff !important;  
  line-height: 46px;
  text-decoration: none !important;
}

.preview-note {
  padding-top: 5px;  
}
.note {
  font-size: 60%;
  font-style: italic;
}

.btn-download-generic, .btn-search, .btn-stafa {
  width: 100%;
  float: left;
}
.btn-go-back {
  float: right;
}

.btn-download-video {
  float: left;
}
.btn-download-audio {
  float: right;
}

.btn-download-video:hover, .btn-download-audio:hover, .btn-download-generic:hover, .btn-search:hover, .btn-redirect:hover, .btn-go-back:hover {
  text-decoration: none;
  color: #fff;
  background-color: #FD9B00;
}

.btn-download-video.loading {
  cursor: default;
  background-color: #aaa;
}

.bubble-img {
  position: absolute;
  top: -32px;
  left: -0;  
  z-index: -1;
}
.bubble-img + .bubble-img {
  left: 10px;
}
.bubble {
  width: 140px;
  height: 90px;
  position: absolute;
  margin-top: 40px;
  margin-left: -60px;
}


.btn-share-twitter, .btn-share-fb, .btn-share-gp {
  cursor: pointer;
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
}

#saveasModal .modal-body {
  font-size: 17px;
}
#saveasModal .right-click-link {
  font-weight: 600;
  text-decoration: underline;
}

.main-logo{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.bubble img {
  margin-top: 32px;
}
.logo {
  /*background-color: #FFE11A;*/
  padding-bottom: 0px;
  padding-top: 30px;
  text-align: center;
}

#ads-below-anchor-container {
  padding-left: 2px;
  padding-right: 2px;
  max-width: 480px; margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
    .logo-img {
      width: 200px;
      margin-left: 50px;
    }
    .main-logo {
      width: 220px;
    }
    .bubble {
      margin-left: -40px;
    }

    #ads-below-anchor-container {
      padding-left: 7px !important;
      padding-right: 7px !important;
    }
}


.tagline {
  margin-top: 6px;
}
.tagline h1 {
  display: inline;
  margin: 0;
  font-weight: 300;
  padding-top: 0;
  font-size: 17px;
  color: #1F8A70;
}

.footer {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #aec63f;
  font-size: 13px;
  padding: 15px;
}

.hq {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;    
  text-decoration: none !important;
  padding: 2px 3px 2px 3px;
  border-radius: 5px;
  border: 1px solid #FFE11A;

}

.announcement {
  text-align: left;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  font-weight: bold;
}

.hq.enabled {
  color: #1F8A70;
  border: 1px solid #1F8A70;  
}
.hq:hover {
  color: #1F8A70 !important;
}

.footer a{
  color: #aec63f;
  text-decoration: none !important;
}

.footer a:hover {
  color: #1F8A70;
}
.footer-left {
  text-align: left;
}
.footer-right {
  text-align: right;
}

.data-container {
  display: none;
}

#ads-above-anchor {
  margin-bottom: 15px;
  margin-top: -15px;
}

#ads-below-anchor {
  margin-top: 15px;
}

/*

.loader {
  float: left;
  margin-top: 12px;
  margin-left: 47%;
  font-size: 10px;
  position: relative;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
*/

.well {
  margin: 0;
}

#downloader {
  display: none;
}

.logo a {
  text-decoration: none;
}

/********************************************
    CLOCK
 *********************************************/


.loader-msg {
    width: 445px;
    color: #fff;
    position: fixed;
    margin-top: 100px;
    left: 35%;
    left: calc(50% - 190px);
    left: -webkit-calc(50% - 190px);
}
.loader-msg-head {
    font-size: 34px;
    font-weight: 400;  
}
.loader-msg-note {
    font-size: 17px;  
}


@media screen and (max-width: 480px) {
    .site-notifications {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .loader-msg {
        width: 330px;
        color: #fff;
        position: fixed;
        margin-top: 100px;
        left: 15%;
        left: calc(50% - 140px);
        left: -webkit-calc(50% - 140px);
    }

    .loader-msg-head {
        font-size: 26px !important;
        font-weight: 400;  
    }
    .loader-msg-note {
        font-size: 13px !important;  
    }
}


.loader8{
  position: fixed;
  width: 180px;
  height: 180px;
  /*
  top: 28%;
  top: -webkit-calc(50% - 43px);
  top: calc(50% - 43px);
  */
  top: 215px;
  left: 35%;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);

  border-radius: 150px;
  background-color: rgba(255, 255, 255, .2);
  border-width: 40px;
  border-style: double;
  border-color:transparent  #fff;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
    box-sizing:border-box;

  -webkit-transform-origin:  50% 50%;
    transform-origin:  50% 50% ;
  -webkit-animation: loader8 2s linear infinite;
    animation: loader8 2s linear infinite;
  
}

@-webkit-keyframes loader8{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader8{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/********************************************
    loader code
 *********************************************/

#loader {
 display: none;
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:140%;
 background:#333;
 opacity: 0.83;
 filter: alpha(opacity=83);
}

#loader .box {
  margin-top: 230px;
}


.no-js #first-loader { display: none;  }
.js #first-loader { display: block; position: fixed; left: 0; top: 0; }
.se-pre-con {
  display:none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/preloader.gif) center no-repeat #fff;
}
/*pink:#ef92a6 */
/*babyblue:#8ac2f5 */
/*grey:#8e8e8e */
/*dark-grey:#403e3d */

/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Shadows Into Light', cursive;*/