/*BEGIN PRELOAD*/

.ip-header {
    position: fixed;
    top: 0;
    z-index: 100;
    min-height: 480px;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    z-index: 10000;
}

.ip-header h1 {
    margin: 0;
}

.ip-loader img{
    padding-bottom: 30px;
}
.ip-loader {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    text-align: center;
}


.ip-loader {
    bottom: 45%;
}

.ip-header .ip-inner {
    display: block;
    margin: 0 auto;
}

.ip-header .ip-loader svg path {
    fill: none;
    stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
    stroke: #ddd;
}

.ip-header .ip-loader svg path.ip-loader-circle {
    -webkit-transition: stroke-dashoffset 0.2s;
    transition: stroke-dashoffset 0.2s;
    stroke: #f2711c;
}


/* Animations */

/* Initial animation of header elements */
.loading .ip-loader {
    opacity: 1;
    -webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
    animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .ip-loader {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
    from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
    from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Header elements when loading finishes */
.loaded .ip-loader {
    opacity: 1;
}

@-webkit-keyframes animLoadedLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .ip-loader {
    -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Change the color of the logo */


/* Header animation when loading finishes */
.loaded .ip-header {
    -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
    -webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
    animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loaded .ip-main .browser .box:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
    from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}

@keyframes animLoadedContent {
    from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}

/* Change layout class for header */
.layout-switch .ip-header {
    position: absolute;
}

/* No JS */
.no-js .ip-header {
    position: relative;
    min-height: 0px;
}


/* Media queries */

@media screen and (max-width: 45em) {

    .ip-main h2 {
        font-size: 2.25em;
        font-size: 10vw;
    }

    .box {
        width: 100%;
    }

}
/*END PRELOAD*/

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    background-color: #e9e9e9;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
.ui.cards .card .image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}
.banner-panel,.banner-text, .banner-img{
    padding: 0;
}
.banner-panel .banner-text{
    padding: 15px;
    padding-bottom: 30px;
}
 .banner-text .title{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}
.game-grid{
    padding-top: 10px;
}
.game-grid>div{
    padding: 10px;
}
.ui.search{
    padding: 0;
    margin-top: 7px;
}
.ui.search .ui.input{
    width: 100%;
}
.ui.search .ui.input input{
    font-size: 0.85em;
    border: 1px solid rgba(205, 82, 0, 0.15);
}
.ui.input input:focus, .ui.input.focus input {
    border-color: #cd5200;
    background: #fff;
    color: rgba(0,0,0,.8);
    box-shadow: none;
}
.small-text{
    font-size: 0.75em!important;
}
.orange-text{
    color: #f2711c!important;
}
.card .content .header{
    font-size: 1em!important;
    min-height: 39px;
}
.card .content .header:hover{
    text-decoration: none;
}
.ui.inverted.button.large-btn{
    font-size: 1em!important;
}
.ui.cards>.card {
    margin: 10px auto;
    width: 100%;
}
.ui.search>.results{
    width: 100%;
}
.ui.cards{
    padding: 0 5px;
}
.ui.menu.orange-menu{
    margin-top: 10px!important;
    margin-bottom: 0px!important;
}
.ui.menu.orange-menu .item {
    font-size: 1.5em!important;
    font-weight: bold!important;
}
.ui.menu.orange-menu .active.item {
    background: #f2711c;
    color: rgba(255, 255, 255, 0.95);
    font-weight: 400;
    box-shadow: none;
}
.total-panel{
    padding: 0;
    min-height: 100%;
}
.total-panel .row{
    margin: 0;
}

/*BFGIN SEARCH SM*/
.search-panel-btn{
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1.5em;
}
.search-panel-btn:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.shadow-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background-color: rgba(0,0,0,0.2);
}
.shadow-bg.active{
    display: block;
}
@media (max-width: 767px){
    .dropdown-menu .text{
        font-size: 0.75em;

    }
    .search-panel{
        position: fixed;
        z-index: 9999;
        display: none;
    }
    .search-panel.active{
        display: block;
    }
    .navbar-header.deactive{
        display: none;
    }

}
@media (max-width: 550px)  {

    .card .content .header {
        min-height: 60px;
    }

}
@media (max-width: 375px) {
    .card .content .header {
        min-height: 39px;
    }


}
.large-btn.fade{
    opacity: 1;
}
.large-btn .hidden.content{
    display: block!important;
}
/*END SEARCH SM*/
/*BEGIN FOOTER*/
.ui.button.scrollToTop{
    position: fixed !important;
    display: none;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
}
.scrollToTop i{
    font-size: 25px;
    line-height: 18px;
}
/*BEGIN FOOTER*/
footer{
    width: 100%;
}
.fa-footer{
    margin-top: 10px;
    color: #666666;
}
.fa-footer .footer-help{
    height: 100%;
    padding-top: 7px;
    padding-bottom: 7px;

}
.fa-footer .footer-help a{
    color: #666666;
    font-size: 1em;
    margin-right: 20px;
}
.fa-footer .footer-help a:hover{
    color: #f2711c;
    text-decoration: none;
}
.loading-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}
/*END FOOTER*/
/*END FOOTER*/

