
.bn_skin1{left:50%;margin-left:-820px}
.bn_skin2{right:50%;margin-right:-820px}
.bn_skin{position:fixed;width:300px;top:0}
.bn_skin1 .skin3{float:right}
.bn_skin2 .skin3{float:left}
.skinad_1 a,.skinad_2 a{display:block;height:700px;position:relative;margin-top:0;z-index:4}
.adsnative1{display:block}
.adsnative2{display:none}
.adsnative3{display:none}
.bg-adsskin-left{position:fixed;width:120px;top:0;left:16.6%}
.bg-adsskin-right{position:fixed;width:120px;top:0;right:16.6%}
.ads-top-logo{width:72%;float:left;overflow:hidden;}
.ads-top-logo img{float:right;width:100%;display:block;/*height:100%*/}
.container-ads-topmenu{height:auto;text-align:center;padding:10px 0; overflow:hidden;background: #fff;}
.container-ads-topmenu img{display:block;text-align:center;margin:0 auto;width:100%;height:100%}
.ads-body-content-update img{text-align:center;margin:0 auto;display:block}
.ads-body-content-update{margin-bottom:5px;margin-top:10px}
.img-ads-tr{display:block;text-align:center;margin:0 auto 15px; width: 300px; height: 250px;}
.ads-footer-bottom-sticky{position:fixed;bottom:0;left:0;right:0;z-index:9999; text-align: center;}
.ads-footer-bottom-sticky2{text-align: center;}
.content-ads-footer-bottom-sticky{width:1040px;margin:0 auto;padding:0;position:relative;height:85px;/*height:40px;background:#1ba4d0 none repeat scroll 0 0;*/}
.content-ads-footer-bottom-sticky .close-ads a{position:absolute;top:-19px;right:0;padding:2px 7px;font-size:11px;color:#fff;border-radius:0;background:#c22d2f;font-family:'futura_md_btmedium'}
.content-ads-footer-bottom-sticky .close-ads a:hover{text-decoration:none}
.content-ads-footer-bottom-sticky1{width:1040px;margin:0 auto;padding:0;position:relative;height:40px;background:#1ba4d0 none repeat scroll 0 0;}
.content-ads-footer-bottom-sticky1 .close-ads a{position:absolute;top:-19px;right:0;padding:2px 7px;font-size:11px;color:#fff;border-radius:0;background:#c22d2f;font-family:'futura_md_btmedium'}
.content-ads-footer-bottom-sticky1 .close-ads a:hover{text-decoration:none}

.runningtext{height:40px;margin:0 auto;overflow:hidden;padding:0;width:1040px}
.bottom-ads-running{z-index:9999;position:fixed;bottom:0;width:1040px;height:40px;line-height:40px;border-left: 1px solid#fff; border-right: 1px solid#fff;}
.adsrt{float:left;margin-right:20px}
.adsrt .img{display:inline-block;margin-right:10px;float:left}
.adsrt .img img{height:30px;margin:5px 0}
.adsrt .text{display:inline-block;margin-right:40px;height:40px;line-height:40px}
.adsrt .text a{color:#fff;text-decoration:none}.adsrt .text a:hover{text-decoration:underline}
.img-banner-jobs{border-right:1px solid#ccc;border-left:1px solid#ccc;padding:5px 8px}

/*ADS DFP GOOGLE*/

/*In div-gpt-ad-1465209684512-0*/
.floating-popup1 {
    margin: auto;
    z-index: 99999999;
    width: 640px;
    height: 0px;
    background: #333;
    position: fixed;
    top: 2%;
    left: 0;
    right: 0;
}