@import url("https://cdn.okezone.com/www/2016/css/ads.css");

/*idoy*/
/*1*/

* { margin: 0; padding: 0; }
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: #fff;
  overflow-x: hidden;
 font-family:  'futura_md_btmedium, Arial, sans-serif';
}

.no-padding{padding: 0;}
.no-margin{margin: 0;}
.p-nol {
    padding: 0 ;
}
.m-nol {
    margin: 0 !important;
}

.fl{float: left;}
.fr{float: right;}

.container{
    /*border: 1px solid#f00;*/
}


/*container-top-nav CAROUSEL HEAD*/
.bg-skinwp-adsx {
    background: url('http://cdn.okezone.com/underwood/ads/oppo/okzskin_1920x1080_oppo_19dec_1.jpg');
    background-size: 100%;
    /*background-size: cover;*/
    /*background-position: center;*/
    background-repeat: no-repeat !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 983px;
    z-index: -1;
}

.bg-skinwp-adsxv2 {
    background: url('http://cdn.okezone.com/underwood/ads/oppo/Background-1920-x-1080-v2.jpg');
    background-size: 100%;
    background-repeat: no-repeat !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 983px;
    z-index: -1;
}

@media(max-width: 1366px){

    .bg-skinwp-adsx {
        background: url('http://cdn.okezone.com/underwood/ads/oppo/okzskin_1366x1080_oppo_19dec_1.jpg');
        background-size: 100%;
        /*background-size: cover;*/
        /*background-position: center;*/
        background-repeat: no-repeat !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 983px;
        z-index: -1;
    }

    .bg-skinwp-adsxv2 {
        background: url('http://cdn.okezone.com/underwood/ads/oppo/1366b.jpg');
        background-size: 100%;
        background-repeat: no-repeat !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 983px;
        z-index: -1;
    }

}

@media(max-width: 1280px){

    .bg-skinwp-adsx {
        background: url('http://cdn.okezone.com/underwood/ads/oppo/okzskin_1280x1080_oppo_19dec_1.jpg');
        background-size: 100%;
/*        background-size: cover;
        background-position: center;
*/        
        background-repeat: no-repeat !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 983px;
        z-index: -1;
    }

    .bg-skinwp-adsxv2 {
        background: url('http://cdn.okezone.com/underwood/ads/oppo/1280b.jpg');
        background-size: 100%;
        background-repeat: no-repeat !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 983px;
        z-index: -1;
    }

}

.container-ads-topmenu{
    background: #fff;
}


 .media-carousel .carousel-control.toptv.left {
    background: url('https://cdn.okezone.com/underwood/img/sprites.png') no-repeat -56px -823px;
    width: 6px;
    height: 15px;
    top: 18px;
    left: 20px;
}

.media-carousel .carousel-control.toptv.right {
    background: url('https://cdn.okezone.com/underwood/img/sprites.png') no-repeat -71px -823px;
    width: 7px;
    height: 15px;
    top: 18px;
    right: 20px;
}

.carousel-inner.carousel-inner-desk {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0px 5px;
    width: 91%;
}

.container-navmobile{display: none;}

.container-top-nav {background: #fff;}

.container-tothetop-nav {
    padding: 0;
    background: #fff;
}
 .top-head-nav {width: 100%; border-bottom: 1px solid #E4E4E4; float: left;}
 .top-head-nav ul {width: 100%; margin: 0 auto !important; padding: 0 !important;}
 .top-head-nav ul li {width:auto;  float: left; list-style: none; position: relative;display: block;      line-height: 18px;   font-size: 13px; letter-spacing: 1.3px;   text-align: center;}
 .top-head-nav ul li a { padding: 10px 15px; font-family: 'futura_md_btmedium'; font-size: 12px; text-transform: uppercase;    color: #848282;display: inline-block; text-align: center;}
 .top-head-nav ul li a:hover,  .top-head-nav ul li a:focus {    color: #848282;  text-decoration: none;}

div#mediadesktop-tab{
    display: none;
}

.topheadnavipad{margin:10px auto 0; position: relative; width:100%; border-bottom: 1px solid #eee}
.topheadnavipad a{
font-family: 'futura_md_btmedium';
    text-transform: uppercase;
    color: #848282;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 1.3px;
    float: left;
    padding: 10px 15px;
}

.topheadnavipad a:hover{text-decoration: none;}

.media-carousel .carousel-control.toptv.right,.media-carousel .carousel-control.toptv.left{padding:0px; top:10px;}
.media-carousel .carousel-control.toptv.right{padding:0px; top:10px;}
.media-carousel .carousel-control.toptv.left{padding:0px; top:10px;}

/*container-top-logo LOGO HEAD*/

.container-top-logo {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    background: #fff;
}

.img-top-logo {
    width: 26%;
    float: left;
    margin-right: 0px;
    margin-left: 20px;
    padding-top: 15px;
}

.img-top-logo a img {
    width: 265px;
}

/*container-top-nav NAVIGASI*/
.container-top2-nav {
    background: url('https://cdn.okezone.com/www/2016/img/menu-nav-bar.png');
    height: 50px;
    /*height: auto;*/
    background-repeat: no-repeat;
    background-color: #c22d2f;
    padding: 0;
    border-left: 1px solid#fff;
    border-right: 1px solid#fff;
}

.wrapper {
    width: 90%;
    float: left;
}

.wrapper1{display: none;}

.wrapper2 {
    width: 10%;
    float: left;
}

.carousel-inner-navmenu a{
    font-size: 10px;
    padding: 15px 11px;
    color: #fff;
    font-family: 'futura_md_btmedium';
    text-transform: uppercase;
}

.carousel-inner-navmenu a.pilkada{
    color: #ffed6c;
}

.carousel-inner-navmenu a:hover, .carousel-inner-navmenu a:link{
    text-decoration: none;
}

#medianavtop {
    margin: 15px auto 0;
    position: relative;
    width: 100%;
}

.carousel-inner.carousel-inner-break.carousel-inner-navmenu {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0px 5px;
    width: 85%;
}

 .media-carousel .carousel-control.topnav.left {
    background: url('https://cdn.okezone.com/www/2016/img/topnav2-arrow_kiri.png') no-repeat ;
    width: 12px;
    height: 18px;
    top: 18px;
    left: 20px;
    opacity: 1;
}

.media-carousel .carousel-control.topnav.right {
    background: url('https://cdn.okezone.com/www/2016/img/topnav2-arrow_kanan.png') no-repeat ;
    width: 12px;
    height: 18px;
    top: 18px;
    right: 20px;
    opacity: 1;
}

.media-carousel .carousel-control.topnav.right{padding:0px; top:0px;}
.media-carousel .carousel-control.topnav.left{padding:0px; top:0px;}

.navbar-inner ul{}
.navbar-inner ul li {
    float: left;
    text-transform: uppercase;
    font-size: 11px;
    height: 50px;
}

.navbar-inner ul li a {
    padding: 17px 8px 18px 9px;
    color: #fff;
    font-family: 'futura_md_btmedium';
}

a.ramadan {background: #CA3579;}
.navbar-inner ul li.ramadan a {
    background: #CA3579;
    padding: 5px;
    margin: 12px 0px;
}

.navbar-inner ul li a.sso{
    background: transparent url("https://cdn.okezone.com/www/2016/img/profile.png") no-repeat;
    display: block;
    float: right;
    height: 20px;
    margin: 12px 0px 0px 0;
    overflow: hidden;
    width: 20px;
    padding: 0 20px;
}

.navbar-inner ul li a.search{
    background: transparent url("https://cdn.okezone.com/www/2016/img/search.png") no-repeat;
    display: block;
    float: right;
    height: 20px;
    margin: 14px 0px 0px 0;
    overflow: hidden;
    width: 20px;
    cursor: pointer;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
}

.navbar-inner ul li.meurox a{
    color: #fff;
}

#srcform {
    display: none;
    padding: 1px 0px 5px 0px;
    background: #fff;
 
}

input#textfield.inp {
    width: 100%;
    padding: 10px 5px 10px 10px;
    font-family: 'futura_md_btmedium';
    background: #F0F0F0;
    border: 1px solid #D0D0D0;
}

/*BODY*/
.container.container-body-wp{
    padding: 0;
    border-left: 1px solid#fff;
    border-right: 1px solid#fff;
    background: #fff;
}

.col-md-body-left{
    width: 70.33%;
    overflow: hidden;
    margin-right: 10px;
}

.col-md-body-right{
    width: 28.68%;
    overflow: hidden;
}

/*HEADLINE1*/
.breakings-wp-news {
    background: url('https://cdn.okezone.com/www/2016/img/berita-terbaru.png');
    height: 50px;
    background-repeat: no-repeat;
    background-color: #c22d2f;
    padding: 0;
    position: relative;
}

.breakings-wp-news h4{
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-family: 'futura_md_btmedium';
    font-size: 21px;
    padding: 12px 0px 12px 10px;
    display: block;

}

.breakings-wp-news span{
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-family: 'futura_md_btmedium';
    font-size: 21px;
    padding: 12px 0px 12px 10px;
    display: block;

}

.news-headline2 {
    width: 100%;
    float: left;
    background: #F6F6F6;
    padding: 10px;
    border: 1px solid#ccc;
    margin-bottom: 15px;
}

.body-headline2-1 {
    width: 66%;
    float: left;
    overflow: hidden;
    margin-right: 1%;
    position: relative;
    height: 378px;
}

.body-headline2-2 {
    width: 33%;
    float: left;
    overflow: hidden;
    border-left: 1px solid#ccc;
    padding-left: 10px;
}

.body-headline2-1 img {
    width: 100%;
    margin-bottom: 15px;
}

.body-headline2-1 a:hover{text-decoration: none;}
.body-headline2-1 span {
    font-family: 'futura_md_btmedium';
    color: #212121;
    font-size: 18px;
}

.body-headline2-1 h4:hover {color: #690A0B}

.body-headline2-1 h4 {
    font-family: 'futura_md_btmedium';
    color: #212121;
    font-size: 25px;
    height: 55px;
    overflow: hidden;
}

.body-headline2-2 ul {
    list-style: none;
}

.body-headline2-2 ul li{
    list-style: none;
    border-bottom: 1px solid#ccc;
    width: 100%;
    float: left;
    padding: 5px 0 10px;
}

.body-headline2-2 ul li:last-child{
    border-bottom: 0px;
}

.body-headline2-2 ul li a:hover{text-decoration: none; color: #690A0B;}
.body-headline2-2 ul li a{
    font-family: 'futura_md_btmedium';
    color: #212121;
    font-size: 15px;
    max-height: 60px;
    overflow: hidden;
    float: left;
}
/*SLIDER BODY*/
.cycle-headline {
    float: left;
}

.slidenumbwp {
    text-align: right;
}

.cycle-slide{
    width: 100%;
}

.news-headline{
    position: relative;
    margin-bottom: 5px;
    height: 450px;
    max-height: 450px;
}

#adv-custom-caption {
    /*position: relative;
    z-index: 999;
    bottom: 50px;
    right: 0;
    background: rgba(0, 0 ,0, 0.5);
    padding: 0px 15px;*/
    width: 100%;
    /*border-top: 5px solid#c22d2f;*/
}

/*.desktop-slide-button {
    width: 100%;
    height: 66px;
    position: absolute;
}*/


#headline-next{
    z-index: 999;
    background: url('../img/40x40-2.png') no-repeat;
    width: 25px;
    height: 25px;
    background-size: 100%;
    position: absolute;
    right: 5px;
    bottom: 35%;
    cursor: pointer;
    display:none;
}

#headline-prev {
    z-index: 999;
    background: url('../img/40x40.png') no-repeat;
    width: 25px;
    height: 25px;
    background-size: 100%;
    position: absolute;
    right: 32px;
    bottom: 35%;
    cursor: pointer;
    display:none;
}

.cycle-headline h4{
    color: #fff;
    font-size: 21px;
    font-family: 'futura_md_btmedium';
    margin: 10px 0 0;
}

.cycle-headline h2{margin:10px 0;}

.cycle-headline h2 a:hover{
    color: #690A0B;
}

.cycle-headline h2 a {
    font-family: 'futura_md_btmedium';
    color: #212121;
    font-size: 22px;
}

.cycle-headline h2 a:hover,
.cycle-headline h2 a:focus{
    text-decoration: none;
}

.cycle-headline span{margin:5px 0; display: block;}

.cycle-headline span a:hover{
    color: #690A0B;
}

.cycle-headline span a {
    font-family: 'futura_md_btmedium';
    color: #212121;
    font-size: 22px;
}

.cycle-headline span a:hover,
.cycle-headline span a:focus{
    text-decoration: none;
}

.template-pager-wrapper {
    position: absolute;
    z-index: 999;
    bottom: 22px;
    right: 0;
    background: rgba(0, 0 ,0, 0.5);
    padding: 0px 15px;
    width: 80%;
}

.new-headline-thumb {
    color: #fff;
    float: right;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.new-headline-thumb.cycle-pager-active {
    color: #e37837;
}

/*three-top-news */
.three-top-news {
    margin: 5px 0;
}

.content-three-top-news {
    width: 32.4%;
}

.content-three-top-news-margin{
    margin:0 10px;
}

.img-three-top-news {
    width: 42%;
    float: left;
}

.txt-three-top-news{
    width: 58%;
    float: left;
    padding: 10px 10px 10px;
    background: #f6f6f6;
    border: 1px solid#ccc;
}

.txt-three-top-news p {
    font-size: 13px;
    height: 35px;
    overflow: hidden;
    font-family: 'futura_md_btmedium';
    color: #212121;
}

.txt-three-top-news p a:hover{color: #690A0B;}
.txt-three-top-news p a{
    color: #212121;
    text-decoration: none;
}
/*WP NEWS UPDATE wp-news-update*/

.title-wp-news-update{
    background: url('https://cdn.okezone.com/www/2016/img/berita-terbaru.png');
    height: 50px;
    background-repeat: no-repeat;
    background-color: #c22d2f;
    padding: 0;
}

.title-wp-news-update h4 {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-family: 'futura_md_btmedium';
    font-size: 21px;
    padding: 12px 0px 12px 20px;
}

.title-wp-news-update span {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-family: 'futura_md_btmedium';
    font-size: 21px;
    padding: 12px 0px 12px 20px;
    display: block;
}

.news-content li {
    border: none;
    height: 210px;
    padding: 10px 0px 0px;
    list-style: none;
}

.news-content li.middle {
    padding:10px 0px 16px 5px;
}

.news-content li.middle2 {
    padding: 10px 5px 16px;
}

.news-content li.jumbo {
    width: 100%;
    height: auto!important;
}

.wp-thumb-news {
    position: relative;
}

.thumb-news-rtk{
    max-width: 100%;
    width: 100% !important;
    height: 67px !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumb-news {
    max-width: 100%;
    width: 100% !important;
    height: 108px !important;
}

li.jumbo .thumb-news {
    height: 427.38px !important;
    width: 100% !important;
}

.content-hardnews {
    background: #f6f6f6;
    padding: 10px 10px;
}

li.jumbo .tgl {
    font-size: 15px;
}

li.jumbo .tgl a{
    font-size: 20px;
}

.tgl {
    font-size: 10px;
    color: #212121;
    font-family: 'futura_md_btmedium';
    width: 100%;
    display: block;
    text-align: right;
}

.tgl a{
    font-size: 11px;
    font-family: 'futura_md_btmedium';
    text-align: left;
    float: left;
}

span.c-news,
span.c-economy,
span.c-lifestyle,
span.c-sports,
span.c-bola,
span.c-techno,
span.c-autos,
span.c-travel,
span.c-food,
span.c-health,
span.c-celebrity { text-transform: uppercase; margin-right: 7px; }


span.c-ads a { color: #FFA902 !important }
span.c-news a { color: #006EA1 !important }
span.c-economy a { color: #007236 !important }
span.c-lifestyle a { color: #AE3562 !important }
span.c-sports a { color: #CA0E0D !important }
span.c-bola a { color: #FF5A00 !important }
span.c-celebrity a { color: #ffa902 !important }
span.c-techno a {color: #4cd2f0 !important}
span.c-autos a {color: #E19ADF !important}
span.c-travel a{color: #7DBD4C !important}
span.c-food a{color: #F67700 !important}
span.c-health a{color: #5dc51f !important}

span.c-ads a:hover,
span.c-news a:hover,
span.c-economy a:hover,
span.c-lifestyle a:hover,
span.c-sports a:hover,
span.c-bola a:hover,
span.c-celebrity a:hover,
span.c-techno a:hover,
span.c-autos a:hover,
span.c-travel a:hover,
span.c-food a:hover,
span.c-health a:hover{text-decoration: none;}

li.jumbo .content-hardnews h3{
    font-size: 22px;
    height: 50px;
}

.content-hardnews h3{
    font-family: 'futura_md_btmedium';
    color: #212121;
    font-size: 14px;
    margin: 5px 0px;
    height: 45px;
    overflow: hidden;
}

.content-hardnews h3 i{
    color: #212121;
}

.content-hardnews h3 a:hover,
.content-hardnews h3 a:focus{text-decoration: none; color: #690A0B;}

.content-hardnews h3 a{
    color: #212121;
    text-decoration: none;
    /*text-transform: capitalize;*/
}

li.jumbo .content-hardnews p{
    font-size: 22px;
    height: 50px;
}

.content-hardnews p{
    font-family: 'futura_md_btmedium';
    color: #212121;
    font-size: 14px;
    margin: 5px 0px;
    height: 45px;
    overflow: hidden;
    display: block;
    line-height: 15px;
}

.content-hardnews p i{
    color: #212121;
}

.content-hardnews p a:hover,
.content-hardnews p a:focus{text-decoration: none; color: #690A0B;}

.content-hardnews p a{
    color: #212121;
    text-decoration: none;
    /*text-transform: capitalize;*/
}

.btn-loadmorenews1 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.loader {
    text-align: center;
    margin: 20px 0;
}

/*BREAKING*/
.breakingnew-wp {
    width: 100%;
    padding: 10px 17px 5px 10px;
    float: left;
}

.breakingnew-wpleft {
    width: 20%;
    float: left;
}

.breakingnew-wpleft h4 {
    font-family: "futura_md_btmedium";
    color: #c22d2f;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.breakingnew-wpright {
    width: 80%;
    float: left;
}

.breakingnew-wpright b a{
    color: #000;
    margin: 0 10px;
    font-family: "futura_md_btmedium";
    font-size: 15px;
}

.breakingnew-wpright b a:hover, .breakingnew-wpright b a:link{
    text-decoration: none;
}

/*Saham*/
.container-saham-marque {
    padding-bottom: 10px;
    border-left: 1px solid#fff;
    border-right: 1px solid#fff;
    background: #fff;
}

.iq-wrap span{
    width: 42px;
    height: 32px;
    display: inline-block;
    background: url('https://cdn.okezone.com/economy/2015/img/iconbursa.png') no-repeat;
    background-size: 100%;
    background-position: center;
    float: left;
}

.bottom-ads-new{
    position: relative;
    height: 32px !important;
    line-height: 35px;
    overflow: hidden !important;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    background: #000;
    width: 100%;
    margin: 0;
    font-size: 14px;
}

.bottom-ads-new marquee {
    width: 95%;
}

b.wpsahamrun{font-weight: normal; font-family: "futura_md_btmedium";}
.bottom-ads-new b{font-weight: normal; font-family: "futura_md_btmedium";}
.bottom-ads-new b.up {color: #2EF35D; font-weight: normal; font-family: "futura_md_btmedium";}
.bottom-ads-new b.down {color: #f55450;font-weight: normal; font-family: "futura_md_btmedium";}
.bottom-ads-new b.stable {color: #fff02a;font-weight: normal; font-family: "futura_md_btmedium";}

.bottom-ads-new .iq-wrap {float: left;     color: rgba(203, 203, 203, 1); position: absolute; left: 0; top: 0; z-index: 1; background: #000; font-family: "futura_md_btmedium";}
/*.bottom-ads-new .iq-wrap p {    font-size: 10px; margin: 0; line-height: 13px; font-family: "futura_md_btmedium";}
.bottom-ads-new .iq-wrap p.tgl {    font-size: 10px; color: #fff; font-family: "futura_md_btmedium";}

.bottom-ads-new .iq-wrap {float: left;     color: rgba(203, 203, 203, 1); position: absolute; left: 0; top: 0; z-index: 1; background: #000;}
.bottom-ads-new .iq-wrap b {    font-size: 10px; margin: 0; line-height: 13px; font-family: "futura_md_btmedium";}
.bottom-ads-new .iq-wrap b.tgl {    font-size: 10px; color: #fff; font-family: "futura_md_btmedium"; text-align: left;}*/

.bottom-ads-new .iq-l {float: left; margin-left: 5px; margin-top:2px; padding-right: 5px; padding-right: 10px;font-weight: normal; font-family: "futura_md_btmedium";}
.bottom-ads-new ul li {float: left !important font-family: "futura_md_btmedium";}
/*SIDEBAR RIGHT*/

/*hottopic*/
.hot-topics{margin: 0;}

.hot-topics ul{
    margin: 0 0 15px;
    float: left;
    padding: 10px 15px;
    border: 1px solid#ccc;
}

.hot-topics h4{
    font-family: "futura_md_btmedium";
    margin: 0;
    padding: 0 5px;
}

.hot-topics li{
    width: 100%;
    float: left;
    padding:10px 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #cbcbcb;
}

.hot-topics li:last-child{
    border-bottom: 0;
}

.hot-topics li a{
    color:#cb5914;
     font-family: "futura_md_btmedium";
     font-size: 16px;
 }

 .hot-topics li a:hover{
    text-decoration: none;
 }

.hot-topics h3{width: 100%;}

.hot-topics h3 {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
}

.hot-topics span {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
    display: block;
}

/*BERITA PILIHAN*/
.berita-pilihan { margin-bottom: 15px;}
.berita-pilihan h3 {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
}

.berita-pilihan span.t-bpilihan {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
    display: block;
}


.berita-pilihan li {
    width: 100%;
    list-style-type: none;
    margin-bottom: 0px;
    padding: 5px 0;
    font-family: 'futura_md_btmedium';
    overflow: hidden;
}

.berita-pilihan li a:link { color: #212121; text-decoration: none; }
.berita-pilihan li a:hover { color: #212121; text-decoration: none;}

.berita-pilihan ul{
    padding: 5px 15px 15px;
    border-right: 1px solid#ccc;
    border-left: 1px solid#ccc;
    border-bottom: 1px solid#ccc;
}

.berita-pilihan img{
    width: 92px;
    height: 59px;
    float: left;
    margin-right: 12px;
}


.berita-pilihan h4{
  font-family: "futura_md_btmedium";
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 45px;
    overflow: hidden;
}

/*LIVESTREAMING*/
.livestreaming .tab-content .tab-pane#mbisnis .offline h3{margin-top:-6px;}
.livestreaming{margin-bottom: 10px;  width:100%; margin:0 auto; margin-bottom: 15px;  }
.livestreaming li.fl:first-child {border-left:1px solid #ccc;}
.livestreaming li.fl:first-child img{padding-left: 0px;margin-left: -3px;}
.livestreaming li.fl:last-child img{padding-left: 0px;margin-left: -2px;}
.livestreaming li.fl.active {background: #fff; border-top:3px solid #c22d2f; border-right:1px solid #ccc;}
.livestreaming li.fl {background: #EAEAEA; width:59.5px;border-top:3px solid #eee; border-right:1px solid #ccc;}
.livestreaming .nav>li>a:hover,.livestreaming .nav>li>a:focus,.livestreaming .nav>li:hover, .livestreaming .nav>li.active {background:#fff; border-top:3px solid #fff;}
.livestreaming .nav>li:hover img{margin-top:0px;}
.livestreaming  h3{font-size: 16px; font-family: "futura_md_btmedium"; text-transform: uppercase; }
.livestreaming  p.clh3{font-size: 16px; font-family: "futura_md_btmedium"; text-transform: uppercase; }
.livestreaming ul li a img{margin-top:4px;}
.livestreaming ul li{border-top: 3px solid #FFF; height: 30px;}

.livestreaming  h3.ls{
    background:#c22d2f;
    margin-bottom:0px;
    color:#fff;
    padding:15px 15px;
    margin: 0;
    font-size: 16px;
}

.livestreaming  span.ls{
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
    display: block;
}

.livestreaming ul.tabstream li a{padding:2px 7.9px 7px 7.9px}
.livestreaming .tab-content .tab-pane ul{background:#fff; height: 256px; border:1px solid #ccc;   overflow-x: hidden;  margin:0; padding:10px;}
.livestreaming .tab-content .tab-pane ul li{float:left; color:#777; border-bottom: 1px #f2f2f2 solid; padding:10px 0; width:73%; list-style: none;  margin:0; width:100%}
.livestreaming .tab-content .tab-pane ul li.active{color:#222;}
.livestreaming .tab-content .tab-pane ul li:hover{ color:#212121}
.livestreaming .tab-content .tab-pane ul li:hover div:last-child{background:#c22d2f; color: #fff}
.livestreaming .tab-content .tab-pane ul li div,
.livestreaming .tab-content .tab-pane ul li div span{float:left; width:73%; text-align: left; font-family: "futura_md_btmedium"; padding: 5px 0}
.livestreaming .tab-content .tab-pane ul li div span.pukul{padding: 0;}
.livestreaming .tab-content .tab-pane ul li div h3{margin: 0px 0;}
.livestreaming .tab-content .tab-pane ul li div.live:last-child{float:right; height:58px;  padding:8px 3px; text-align: center; text-transform: uppercase; color:#fff; width:65px;background:#119cd0}
.livestreaming .tab-content .tab-pane ul li div:last-child{float:right; height:58px; padding-top:8px; text-align: center; color:#888888; text-transform: capitalize; width:65px; background:#f0f0f0;    font-size: 12px;}
.livestreaming .tab-content .tab-pane ul li div:last-child:hover{background:#c22d2f; color:#fff!important}
.livestreaming .tab-content .tab-pane ul li div span.btl{padding:0 5px;text-align: center; width:100%;  font-family: "futura_md_btmedium"; }
.livestreaming .tab-content .tab-pane .online{display:none}
.livestreaming .tab-content .tab-pane .offline h3{text-align: center; display:block; font-size: 21px; margin:auto 0; font-family: "futura_md_btmedium"; color:#444; margin-top:60px;}
.livestreaming .tab-content .tab-pane .offline p{text-align: center; display:block; font-size: 21px; margin:auto 0; font-family: "futura_md_btmedium"; color:#444; margin-top:60px;}

.livestreaming .tab-content .tab-pane .offline img{padding-bottom: 10px;}


/*FOTOVIDEOTAB*/
a.med-play, a.med-play-stream, a.small-play, a.ipad-med-play, a.ipad-foto-stream {
    background: url('https://cdn.okezone.com/underwood/img/sprites.png') no-repeat;
}
a.med-play-stream { background-position: -122px -787px; width: 45px; height: 45px; display: block; position: absolute; top: 35%; left: 34%; opacity: .8; }
a.med-foto-stream { background: url("https://cdn.okezone.com/underwood/img/Butt-1A.png") no-repeat; display: block; height: 64px; left: 22%; opacity: 0.8; position: absolute; top: 30%; width: 84px; }
.jdl-list-foto { background: #006ea1; margin: 0 16px 16px 16px; padding: 10px; }
.jdl-list-foto h3 { color: #fff; text-transform: uppercase; margin: 0; padding: 0; font-family: 'futura_md_btmedium'; text-align: center; }
.sidebar { padding: 15px 0 0 0; background:#fafafa;}
.tab-video, .tab-foto { background-color: #C3C3C3 }

.tab-video a, .tab-foto a {
    background: #f6f6f6;
    margin-bottom: 0px;
    color: #a09f9f;
    padding: 15px 15px !important;
    margin: 0;
    font-size: 16px;
    font-family: 'futura_md_btmedium';
    text-transform: uppercase;
}
.foto-video ul li.active a {
    background: #c22d2f;
    margin-bottom: 0px;
    color: #fff;
    padding: 14px 15px !important;
    margin: 0;
    font-size: 17px;
    font-family: 'futura_md_btmedium';
}

.w50 { width: 50%;}
.foto-video { margin:0 0 15px; float: left;}
a.med-play { background-position: -122px -787px; width: 45px; height: 45px; display: block; position: absolute; top:23%; left: 0px; right:0px; margin:0 auto;  opacity: .8; }
a.ipad-med-play { background-position: -10px -952px; width: 70px; height: 70px; display: block; position: absolute; top: 30%; left: 41%; opacity: .8; }
a.small-play { background-position: -117px -837px; width: 33px; height: 33px; z-index: 10; position: absolute; top: 20%; left: 37%; opacity: .8; }

.featured-vid { position: relative }
.featured-vid img { width: 100%; height: 160px; }

.featured-vid h3 {
    font-family: "futura_md_btmedium";
    background: none;
    padding-left: 0;
}
.featured-vid h3 {
    font-size: 19px;
    margin:0;
    background: #f6f6f6;
    padding: 15px 10px 0px;
    font-family: 'futura_md_btmedium';
    line-height: 20px;
    letter-spacing: -1px;
    height: 55px;
    overflow: hidden;
}

.featured-vid h3 a{
    color: #212121;
    text-decoration: none;
}

.featured-vid span {
    font-family: "futura_md_btmedium";
    background: none;
    padding-left: 0;
    display: block;
}
.featured-vid span {
    font-size: 19px;
    margin:0;
    background: #f6f6f6;
    padding: 15px 10px 0px;
    font-family: 'futura_md_btmedium';
    line-height: 20px;
    letter-spacing: -1px;
    height: 55px;
    overflow: hidden;
}

.featured-vid span a{
    color: #212121;
    text-decoration: none;
}

.list-video {
    margin: 0;
    padding: 10px 0;
    background: #f6f6f6;
}

.list-video li {
    background: none;
}
.list-video li {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #EBEBEB;
}

.list-video li:last-child{
    border-bottom: 0;
}

h4.vid-title{
    font-family: 'futura_md_btmedium';
    font-size: 14px;
    padding: 0 5px;
    margin: 0;
}

h4.vid-title a{
    color: #212121;
    text-decoration: none;
}


span.vid-title{
    font-family: 'futura_md_btmedium';
    font-size: 14px;
    padding: 0 ;
    margin: 0;
}

span.vid-title a{
    color: #212121;
    text-decoration: none;
}

/*INFOGRAFIS*/
.sidebar-infografis{
    margin: 0 0 15px;
}

.sidebar-infografis h3{
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
}

.sidebar-infografis span{
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
    display: block;
}

.sidebar-infografis ul {
    margin: 0 0 1px 0;
    padding: 0 0 1px 0;
    background-color: #fff;
    margin-bottom: 5px;
}

.sidebar-infografis li img {
    width: 100% !important;
    overflow: hidden;
    min-height: 88px;
}

.sidebar-infografis li {
    margin: 0 10px 10px 0!important;
    width: 145px;
}

.sidebar-infografis li {
    list-style-type: none;
    width: 129px;
    margin: 5px 7px 5px 10px !important;
    height: 88px;
    overflow: hidden !important;
}

.vid-more {
    background-color: #fff;
    padding: 10px 0;
}

.vid-more a {
    width: 100%;
    padding: 0;
    color: #7A7A7A;
    font-family: 'futura_md_btmedium';
    text-align: center;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.info-body {
    border: 1px solid#ccc;
}

/*BERITA ANDA*/
.berita-anda h3 {
    font-family: 'futura_md_btmedium', arial;
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
}

.berita-anda span.br-anda  {
    font-family: 'futura_md_btmedium', arial;
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
    display: block;
}

.berita-anda ul {
    margin-top: -20px;
    float: left;
    padding: 10px;
}

.berita-anda li {
    width: 100%;
    float: left;
    padding: 10px 0 5px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #cbcbcb;
}

.berita-anda li:last-child{
    border-bottom: 0px;
}

.berita-anda li span a{
    font-size: 15px;
    font-family: 'futura_md_btmedium';
}

.berita-anda li p {
    max-height: 58px;
    overflow: hidden;
    margin:0;
}

.berita-anda li p a{
    font-size: 14px;
    font-family: 'futura_md_btmedium';
    color: #212121;
    text-decoration: none;
}

.berita-anda li p a:hover{
    text-decoration: none;
    color: #c22d2f;
}

#content-1 {
   height: 319px;
    border: 1px solid#ccc;
    margin-bottom: 15px;
    overflow: hidden;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0px !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #c22d2f !important;
}

.mCSB_scrollTools {
    width: 5px !important;
}

/*RUANGANDA*/
.ruangan-anda { margin: 0 0 15px; float: left; }

.ruangan-anda h3 {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
}

.ruangan-anda span.r-anda {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
    display: block;
}

.ruangan-anda ul {
    border-bottom: 0px !important;
    border-left:1px solid#ccc;
    border-right:1px solid#ccc;
}

.ruangan-anda li { margin-bottom: 0px !important; width: 60%; }
.w100 { width: 40% !important }
.w100 a { }

.ruangan-anda li a { height: 50px; text-align: center; line-height: 16px; background-color: #ebebeb; border-width: 0px; color: #212121; padding: 10px 17px; margin-right: 0 !important; font-size: 20px; font-family: 'franklingothicurwmedregular'; }
.ruangan-anda ul li a:hover, .ruangan-anda ul li.active a { border: 0!important; border-radius: 0 !important; background: #fff; color: #212121; }
.ruangan-anda .nav-tabs > li.active > a, .ruangan-anda .nav-tabs > li.active > a:hover, .ruangan-anda .nav-tabs > li.active > a:focus { border: 0!important; border-radius: 0 !important; background: #fff; color: #212121; font-family: 'franklingothicurwhearegular'; }

.content-ruangan {
    background: #fff;
    padding: 0 15px;
    float: left;
    border: 1px solid#ccc;
}

.list-ruangan { margin: 0 !important; padding: 0 !important; }

.list-ruangan li { margin: 0!important; list-style: none; width: 100% !important; float: left; border-bottom: 1px solid #ededed; padding: 15px 0 10px 0; }

.list-ruangan li:last-child { border-bottom: 0 !important }

.list-ruangan li a:link { background: transparent; font-size: 16px; color: #212121 !important; margin: 0 !important; padding: 0 !important; }

.list-ruangan li a:hover { color: #006ea1 !important; background: transparent !important; }

.list-ruangan li h4 {margin:0; font-family: 'futura_md_btmedium';}
.list-ruangan li h4 a{font-family: 'futura_md_btmedium';}

.list-ruangan li h4 a:link{ background: transparent; font-size: 16px; color: #212121 !important; margin: 0 !important; padding: 0 !important; }

.list-ruangan li h4 a:hover { text-decoration: none; }

.list-ruangan li span {margin:0; font-family: 'futura_md_btmedium'; display: block;}
.list-ruangan li span a{font-family: 'futura_md_btmedium';}

.list-ruangan li span a:link{ background: transparent; font-size: 16px; color: #212121 !important; margin: 0 !important; padding: 0 !important; }

.list-ruangan li span a:hover { text-decoration: none; }

.rubik-logo{ background: url('https://cdn.okezone.com/underwood/img/rubik-warkop1x.png') no-repeat -19px -41px;
    width: 81px;
    height: 35px;
}
.warkop { background: url('https://cdn.okezone.com/underwood/img/rubik-warkop1x.png')no-repeat -5px -123px;
    width: 111px;
    height: 35px;
}
.ruangan-anda .nav-tabs > li.active > a .warkop, .ruangan-anda .nav-tabs > li.active > a:hover .warkop, .ruangan-anda .nav-tabs > li.active > a:focus .warkop{background: url('https://cdn.okezone.com/underwood/img/rubik-warkop1x.png')no-repeat -5px -83px;
    width: 111px;
    height: 35px;
}
.ruangan-anda .nav-tabs > li.active > a .rubik-logo, .ruangan-anda .nav-tabs > li.active > a:hover .rubik-logo, .ruangan-anda .nav-tabs > li.active > a:focus .rubik-logo{background: url('https://cdn.okezone.com/underwood/img/rubik-warkop1x.png') no-repeat -19px -3px;
    width: 81px;
    height: 35px;
}

/*FOOTER*/

.footer {
    width: 100%;
    display: block;
    float: left;
    background: #f6f6f6;
    margin-bottom: 100px;
}

.footer-title {
    background: #f6f6f6;
    padding: 20px 15px 15px;
    cursor: pointer;
}

.footer-title h4 {
    font-family: 'futura_md_btmedium';
    color: #585858;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    position: relative;
}

.footer-title span {
    font-family: 'futura_md_btmedium';
    color: #585858;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    position: relative;
    display: block;
}

a.collapse-link:hover, a.collapse-link:link{
    text-decoration: none;
}

.footer-title img {
    width: 20%;
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px;
}

.content-isi-footer {
    width: 14.25%;
    float: left;
}

.content-isi-footer h4 {
    font-size: 15px;
    font-family: 'futura_hv_btheavy';
    border-top: 2px solid#fff;
    border-bottom: 2px solid#fff;
    margin: 0;
    padding: 10px 15px;
    color: #585858;
}

.content-isi-footer span {
    font-size: 15px;
    font-family: 'futura_hv_btheavy';
    border-top: 2px solid#fff;
    border-bottom: 2px solid#fff;
    margin: 0;
    padding: 10px 15px;
    color: #585858;
    display: block;
}

.content-isi-footer ul{
    width: 100%;
    float: left;
    margin-top: 5px;
}

.content-isi-footer ul li{
    list-style: none;
}

.content-isi-footer ul li a {
    font-size: 14px;
    color: #a7a7a7;
    font-family: 'futura_md_btmedium';
    text-transform: capitalize;
    letter-spacing: 0px;
    padding: 3px 0 10px 15px;
    width: 100%;
    float: left;
}

.content-isi-footer ul li a:hover{
    text-decoration: none;
}

.content-body-footer2 {
    width: 100%;
    float: left;
    background: #e7e7e7;
}

.content-body-footer2 ul {
    width: 100%;
    text-align: center;
    margin: 0;
}

.content-body-footer2 ul li {
    display: inline-block;
}

.content-body-footer2 ul li a{
    color: #585858;
    font-size: 14px;
    font-family: 'futura_md_btmedium';
    padding: 15px 5px 0px;
    display: block;
}

.content-body-footer2 ul li a:hover{
    text-decoration: none;
}

.content-body-footer2 ul.content-body-footer2-2 li a{
     padding: 10px 5px 15px;
}

.content-body-footer3 {
    width: 100%;
    float: left;
    background: #f6f6f6;
}

.content-body-footer4 {
    width: 100%;
    float: left;
    background: #fff;
}


.logo-footer1-1 {
    width: 50%;
    float: left;
    padding: 10px 10px 10px 0px;
}

.logo-footer1-2 {
    width: 50%;
    float: left;
    padding: 10px 0px 10px 10px;
}

i.footer-arrow-up{
    background: url('https://cdn.okezone.com/www/2016/img/panah-footer_up.png') no-repeat ;
    width: 25px;
    height: 7px;
    padding: 0px;
    top: 40%;
    right: 20px;
    position: absolute;
}

i.footer-arrow-down{
    background: url('https://cdn.okezone.com/www/2016/img/panah-footer_down.png') no-repeat;
    width: 25px;
    height: 7px;
    padding: 0px;
    top: 40%;
    right: 20px;
    position: absolute;
}

.biznet { float: left; }
.biznet img { width: 120px; margin-left: 37px;}
.biznet p { font-size: 11px }

.social-media { float: left; width: 106px; }
.social-media a { background: url('https://cdn.okezone.com/underwood/img/sprites.png') no-repeat; float: left; margin: 0 5px 0 0; }
.social-media a.twitter { background-position: -116px -471px; width: 27px; height: 27px; opacity: 0.8; }
.social-media a.gplus { background-position: -116px -531px; width: 27px; height: 27px; opacity: 0.8; }
.social-media a.facebook { background-position: -116px -501px; width: 27px; height: 27px; opacity: 0.8; }
.foot-n .social-media a.ytube:hover,.social-media a.ig:hover,.social-media a.gplus:hover, .social-media a.twitter:hover, .social-media a.facebook:hover, .apps a.ipad:hover, .apps a.iphone:hover, .apps a.android:hover, .apps a.mobile:hover, .apps a.bb10:hover , .apps a.wp:hover{ opacity: 1; -webkit-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; margin-top: -8px; }
.foot-n .social-media { float: left; width: 140px; }
.foot-n .social-media a {background: url('https://cdn.okezone.com/underwood/img/sprites-fot.png') no-repeat;}
.foot-n .social-media a.twitter {background-position: -37px -33px; width: 22px;height: 22px;}
.foot-n .social-media a.gplus {background-position: -37px -59px; width: 22px;height: 22px;}
.foot-n .social-media a.facebook {background-position: -37px -7px; width: 22px;height: 22px;}
.foot-n .social-media a.ig {background-position: -37px -85px; width: 22px;height: 22px;}
.foot-n .social-media a.ytube {background: url('https://cdn.okezone.com/underwood/img/youtube_grey1x.png') no-repeat; width: 22px;height: 22px; background-size: 100%;}

.apps { float: right; margin-left: 18px; }
.apps a { background: url('https://cdn.okezone.com/underwood/img/sprites.png') no-repeat; float: left; margin: 0 9px 0 0; }
.apps a.ipad { background-position: -73px -582px; width: 26px; height: 32px; opacity: 0.8; }
.apps a.iphone { background-position: -107px -584px; width: 18px; height: 30px; opacity: 0.8; }
.apps a.wp { background-position: -73px -628px; width: 26px; height: 25px; opacity: 0.8; }
.apps a.android { background-position: -107px -624px; width: 27px; height: 32px; opacity: 0.8; }
.apps a.mobile { background-position: -141px -590px; width: 25px; height: 18px; opacity: 0.8; }
.foot-n .apps a { background: url('https://cdn.okezone.com/underwood/img/sprites-fot.png') no-repeat;  }
.foot-n .apps a.ipad { background-position: -88px -10px;width: 20px;height: 29px; }
.foot-n .apps a.iphone { background-position: -124px -10px;width: 14px; height: 23px; }
.foot-n .apps a.wp { background-position: -154px -11px; width: 23px; height: 23px;  }
.foot-n .apps a.android { background-position: -190px -10px;width: 20px; height: 24px;  }
.foot-n .apps a.mobile { background-position: -228px -11px; width: 21px; height: 15px;  }

.footer-copyright {
    width: 50%;
    float: left;
}

.footer-copyright p{
    font-size: 13px;
    font-family: 'futura_md_btmedium';
    margin: 0;
    color: #585858;
    padding: 20px 15px;
}

.apps{margin-left: 5px;}

.soc-apps{
    padding: 14.5px 15px;
}
.mnc-logo span a:link{
    background: url('https://cdn.okezone.com/underwood/img/mnc-media-log.png')no-repeat;
    width: 108px;
    height: 42px;
    float: right;
}

/*BREAKINGS SLID*/
.carousel-inner-breakslide{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    min-height:90px;
}

.breaking-news-wpslide {
    position: fixed;
     right:-900%;
    width: 385px;
    bottom: 288px !important;
    z-index: 9999;
}

.header-breaking-news-wpslide {
    background: #c22d2f;
    width: 100%;
    float: left;
}

.header-breaking-news-wpslide h4 {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    text-transform: uppercase;
    width: 89%;
    float: left;
}

.header-breaking-news-wpslide span.br-newsx {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    text-transform: uppercase;
    width: 89%;
    float: left;
    display: block;
}

.body-breaking-news-wpslide{
    background: #000;
}

/*.row-break-img {
    width: 42%;
}*/

.row-break-text {
    width: 100%;
}

img.break-news{
    width: 100%;
    height: 130px;
    display: block;
    padding-left: 15px;
    margin: 0;
}

.row-break-text p {
    color: #fff;
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    margin: 0;
    margin: 25px 15px 15px;
    text-transform: capitalize;
    max-height: 66px;
    overflow: hidden;
}

.row-break-text a:hover, .row-break-text a:link{
    text-decoration: none;
}

span.close-slide {
    color: #fff;
    font-family: 'futura_md_btmedium';
    font-size: 20px;
    padding: 9px 15px;
    margin: 0;
    float: left;
    cursor: pointer;
    z-index: 99999;
}

 .media-carousel .carousel-control.break.left {
    background: url('https://cdn.okezone.com/www/2016/img/breaking-arrow_kiri.png') no-repeat;
    width: 16px;
    height: 29px;
    top: 37%;
    left: 20px;
    opacity: 1;
}

.media-carousel .carousel-control.break.right {
    background: url('https://cdn.okezone.com/www/2016/img/breaking-arrow_kanan.png') no-repeat;
    width: 16px;
    height: 29px;
    top: 37%;
    right: 20px;
    opacity: 1;
}

/*STICK*/

.loginnama {
    margin-top: 12px;
    width: 40px;
}

.dropdown {
    margin: 0px;
    padding: 0px;
}

.dropdown a.dropdown-toggles.blue {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    background: transparent;
}

.dropdown-toggles img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

ul.kanali.dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    padding: 0;

}

ul.kanali.dropdown-menu li{
    width: 100%;
}

ul.kanali.dropdown-menu li a{
    color: #000;
    text-transform: uppercase;
    font-family: 'futura_md_btmedium';
}

.sticky-header.stuck {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 9999;
    background: url('https://cdn.okezone.com/www/2016/img/menu-nav-bar.png');
background-color: #c22d2f;
}

.sticky-sidebar2.stuck {
    position: fixed;
    top: 310px;
    margin-left: -1px;
    z-index: 9999;
    width: 298.266px;
}

.sticky-sidebar.stuck {
    position: fixed;
    top: 50px;
    margin-left: -1px;
    z-index: 9999;
    width: 298.266px;
}


.bottom-ads-newx {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.iq-l .lu {height: 0px;padding: 0px;margin-top: -10px;color:#ffffff;}
.iq-l .tgl {font-size: 10px;color: #ffffff;font-family: 'futura_md_btmedium';width: 100%;display: block;text-align: right;margin-top: 14px;}
.berita-anda-gb {float: left; margin-right: 10px; width: 92px; overflow: hidden; height: 59px;margin-top: 3px;margin-bottom: 9px;}
.berita-anda-gb img{ width: 92px;height:59px;}
.berita-anda ul {padding: 5px 15px;}
.berita-anda li p {/*max-height: 45px;*/}
.berita-anda li p a:hover{text-decoration: none;}

.berita-anda ul {margin-top: -5px;}
.berita-anda h3{width:100%;}
.berita-anda h3 small{position: absolute; right:15px; line-height: 22px; color:#fff;}
.berita-anda h3 small a{color:#fff;} 
.berita-anda h3 small .prev span{background:  url('https://cdn.okezone.com/underwood/img/nexprevmini.png')   no-repeat 0 0; width: 9px; height: 13px; display: inline-block;  }
.berita-anda h3 small .next span{background: url('https://cdn.okezone.com/underwood/img/nexprevmini.png')   no-repeat -11px 0; width: 9px; height: 13px;  display: inline-block; }

.berita-anda span.br-anda{width:100%;}
.berita-anda span.br-anda small{position: absolute; right:15px; line-height: 22px; color:#fff;}
.berita-anda span.br-anda small a{color:#fff;} 
.berita-anda span.br-anda small .prev span{background:  url('https://cdn.okezone.com/underwood/img/nexprevmini.png')   no-repeat 0 0; width: 9px; height: 13px; display: inline-block;  }
.berita-anda span.br-anda small .next span{background: url('https://cdn.okezone.com/underwood/img/nexprevmini.png')   no-repeat -11px 0; width: 9px; height: 13px;  display: inline-block; }
/*Widget Euro*/

.livestreaming.ls-euro{position: relative;}
.widgetlogoeuro{
    height: 80px;
    background:url('https://cdn.okezone.com/www/2016/img/euro/bgw2-euro.jpg');
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
}
.ls-euro h3.ls{
    background: url('https://cdn.okezone.com/www/2016/img/euro/bgw1-euro.png')!important;   
    position: relative;
}

.ls-euro ul{height: 197px!important;}
.rcti-euro{
    background: url('https://cdn.okezone.com/underwood/img/logostreaming/RCTI.png');
    width: 46px;
    height: 18px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 99;
    right: 16px;
    top: 16px;
}
.ls-euro ul li:last-of-type {border-bottom: none !important;}
.ls-euro div:last-child:hover {background-color: #00548f !important;}
.ls-euro ul li div:last-child:hover {background: #00548f !important;color: #fff !important;}
.ls-euro ul li:hover div:last-child {background: #00548f !important;color: #fff;}
.livestreaming .tab-content .tab-pane ul li div.live span.btl{padding: 0px}

/*headline-topic*/
.head-topic {
    top: 0;
    position: absolute;
    right: -100%;
    padding: 15px;
    font-family: 'futura_md_btmedium', 'Arial', 'sans-serif';
    background-color: #050754;
    color: #ffffff;
    width: 33.5%;
    text-align: center;
}
.head-topic a {color: #ffffff; text-decoration: none;}


.hd-topic-close {
    position: absolute;
    right: 15px;
    width: 25px;
    height: 20px;
    cursor:pointer;
    color:#ffffff;
}
.hd-topic-close:hover {
    color:#ffffff;
    text-decoration: none;
}
 /*pushnotif*/
.arr-pos {
    position: absolute; 
    bottom: 0px;
    left: 0;
    right: 0%;
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #3a3a3a;
    display: none;
} 
.close-pn-style {
    color: #ffffff;
    right: 0;
    position: absolute;
    font-size: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    padding-top: 4px;
    top: 0px;
    cursor:pointer
}   
.push-notif-wrap-style {
    background-color: #3a3a3a;
    position: relative;
    width:250px;  
    z-index: 9999;
    padding: 15px 20px 15px 23px;
    border-radius: 7px;
    margin-left: 7px;
    text-align: center;
}
.pn-align1 {left: 0px;}
.pn-align2 {left: 225px;}
.pn-align3 {left: 435px;}
.pn-align4 {left: 640px;}
.nb-in {
    width: 260px;
    display: inline-block;
    position: absolute;
}
.push-notif-wrap-style a {padding: 0px !important;}
.push-notif-wrap-style a:hover {text-decoration: none;}
.wp-nav > li {position: static;} 
.nb-style{
    position: relative;
    color: #fff;
    font-family: 'futura_md_btmedium';
    display: none;
    width:100%;
    height: 50px;
    
}
.nb-style a{
    color: #fff;
    font-size: 13px;
    font-family: 'futura_md_btmedium';
    text-transform: uppercase;
}

/*notif ipad style*/
.wrap-sm-pushnot{display: none;}
.wrapper1.wrap-sm-pushnot {
    width: 100%;
    position: relative;
    color: #ffffff;
    padding: 10px;
    font-family: 'futura_md_btmedium', 'Arial', 'sans-serif';
    text-decoration: none;
}
.wrap-sm-pushnot a:hover {text-decoration: none;}
.wrapper1.pn-arrow1 {display: none;}
.wrap-sm-pushnot a {color: #ffffff;font-size: 13px;padding-left: 40px;}
.navbar-inner .wrapper {position: relative;}
.push-notif-wrap-ipad {background-color: #3a3a3a;padding: 0px 0px 0px 40px;border-radius: 0px 0px 7px 7px;}
.push-notif-wrap-ipad a {padding: 0px;}
.wrapper1.wrap-sm-pushnot {width: 100%!important;}
 

/*end-push-notif*/


li.mkongkow a {
    color: #c22d2f !important;
}

.blink {
  -webkit-animation-name: blink;
     -moz-animation-name: blink;
       -o-animation-name: blink;
          animation-name: blink;
  -webktit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
           animation-timing-function: linear;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
}

.blink-infinite {
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.blink-5 {
  -webkit-animation-iteration-count: 5;
     -moz-animation-iteration-count: 5;
       -o-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

.blink-furiously {
  -webkit-animation-duration: 0.3s;
     -moz-animation-duration: 0.3s;
       -o-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}


/*logo-premiere-wp*/

.prem-v2 {margin-top: -7px;    width: 30px;}
.premiere .wrapper {width: 91%;}
.premiere .wrapper2{width: 9%;}
.premiere .navbar-inner ul li a {padding: 17px 8px 18px 6px;}
.premiere .navbar-inner ul li.pilkada a {color:#ffed6c; }
.premiere .loginnama {width: 30px;}
.navbar-inner ul li a.search {margin: 14px 0px 0px 15px;}
/*.premiere #srcform {
    padding: 0px 0px 5px 0px;
    margin-top: -7px;
}*/
/*end logo-premiere-wp*/
/*sidewidget*/
.hot-topics ul {width: 100%;}
.hot-topics.trend-topic li {position: relative;overflow: hidden;height: 60px}
.trend-number {font-size: 30px;width: 15%;position: absolute;top: 50%;transform: translate(0, -50%);left: 0;}
.trend-text {width: 80%;position: absolute;top: 50%;transform: translate(0, -50%);left: 15%;}
.hot-topics li a .trend-text { color:#212121;}
.hot-topics li a .trend-number {color:#cb5914;}
.sw-plus{
    background: url('https://cdn.okezone.com/underwood/img/icon-wgt-plus2.png ');
    width: 23px;
    height: 23px;
    position: absolute;
    top: 12px;
    right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

/*lifestyle sidewidget*/
.sw-lifestyle-header {margin: 0;}
.sw-lifestyle-header  h3 {font-family: 'futura_md_btmedium';font-size: 16px;width: 100%;padding: 15px 15px; margin: 0px;color: #fff; background: #c22d2f;text-transform: uppercase;}
.sw-lifestyle-ctn, .sw-lifestyle-header {position: relative;}  
.sw-lifestyle-ctn a {color: #cb5914;font-family: "futura_md_btmedium";font-size: 16px;}
.sw-ls-full {position: relative; height: 145px;background-position: center center!important;background-size: cover!important;}

.sw-ls-caption1 {position: absolute; bottom: 0; background-color:rgba(0, 0, 0, 0.5);color: #fff;font-family: 'futura_md_btmedium';padding: 10px 15px}
.sw-ls-half {width: 50%;float: left;position: relative;height: 90px;background-position: center center!important;background-size: cover!important;}
.sw-ls-caption2 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'futura_md_btmedium';
    padding: 6px 6px;
    font-size: 12px;    overflow: hidden;
    max-height: 60px;
    height: auto;
}
.sw-lifestyle-wrap {margin-bottom: 15px;}
.sw-ls-caption1 a{color:#fff; text-decoration: none; font-size: 14px;} 
.sw-ls-caption2 a{color:#fff; text-decoration: none; font-size: 12px;}
 

/*sidewidget-entertainment*/
.sw-enter-header {margin: 0;}
.sw-enter-header  h3 {font-family: 'futura_md_btmedium';font-size: 16px;width: 100%;padding: 15px 15px; margin: 0px;color: #fff;background: #c22d2f;text-transform: uppercase;}
.sw-enter-ctn, .sw-enter-header {position: relative;}  
.sw-enter-ctn a {color: #cb5914;font-family: "futura_md_btmedium";font-size: 16px;}
.sw-ent-full {position: relative; height: 145px;background-position: center center!important;background-size: cover!important;}
.sw-ent-caption1 {position: absolute; bottom: 0; background-color:rgba(0, 0, 0, 0.5);color: #fff;font-family: 'futura_md_btmedium';padding: 10px 15px}
.sw-ent-half {
    width: 50%;
    float: left;
    position: relative;
    height: 90px;
    background-position: center center!important;
    background-size: cover!important;
}

.sw-ent-caption2 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'futura_md_btmedium';
    padding: 6px 6px;
    font-size: 12px;    overflow: hidden;
    max-height: 60px;
    height: auto;
}
.sw-enter-wrap {margin-bottom: 15px;}
.sw-ent-caption1 a{color:#fff; text-decoration: none; font-size: 14px;} 
.sw-ent-caption2 a{color:#fff; text-decoration: none; font-size: 12px;} 

/*sidewidget-video*/
.sw-video-header {margin: 0; position: relative;}
.sw-video-header  h3 {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
}
.sw-video-ctn, .sw-video-header {position: relative;}  
.sw-video-ctn a {color: #cb5914;font-family: "futura_md_btmedium";font-size: 16px;}
.sw-vid-full {position: relative; height: 145px;background-position: center center!important;background-size: cover!important;}
.sw-vid-caption1 {position: absolute; bottom: 0; background-color:rgba(0, 0, 0, 0.5);color: #fff;font-family: 'futura_md_btmedium';padding: 10px 5px}
.sw-vid-half {
    width: 50%;
    float: left;
    position: relative;
    height: 90px;
    background-position: center center!important;
    background-size: cover!important;
}
.sw-vid-caption2 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'futura_md_btmedium';
    padding: 6px 6px;
    font-size: 12px;    overflow: hidden;
    max-height: 60px;
    height: auto;
}
.sw-video-wrap {margin-bottom: 15px;}
.sw-vid-caption1 img {float: left;margin-right: 10px;}
.sw-vid-caption1 a {width: 78%;float: left;}
.sw-vid-caption2 img {float: left;margin-right: 5px;}
.sw-vid-caption2 a {width: 65%;float: left;}
.sw-vid-caption1 a{color:#fff; text-decoration: none; font-size: 14px;} 
.sw-vid-caption2 a{color:#fff; text-decoration: none; font-size: 12px;}
 
/*sidewidget-foto*/
.sw-foto-header {margin: 0; position: relative;}
.sw-foto-header  h3 {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
}
.sw-foto-ctn, .sw-foto-header {position: relative;}  
.sw-foto-ctn a {color: #cb5914;font-family: "futura_md_btmedium";font-size: 16px;}
.sw-ft-full {position: relative; height: 145px;background-position: center center!important;background-size: cover!important;}
.sw-ft-caption1 {position: absolute; bottom: 0; background-color:rgba(0, 0, 0, 0.5);color: #fff;font-family: 'futura_md_btmedium';padding: 10px 7px}
.sw-ft-half {
    width: 50%;
    float: left;
    position: relative;
    height: 90px;
    background-position: center center!important;
    background-size: cover!important;
}

.sw-ft-caption2 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'futura_md_btmedium';
    padding: 6px 6px;
    font-size: 12px;    overflow: hidden;
    max-height: 60px;
    height: auto;
}
.sw-foto-wrap {margin-bottom: 15px;}
.sw-ft-caption1 img {float: left;margin-right: 10px;    margin-top: 5px;}
.sw-ft-caption1 a {width: 78%;float: left;}
.sw-ft-caption2 img {float: left;margin-right: 5px;    margin-top: 5px;}
.sw-ft-caption2 a {width: 65%;float: left;}
.sw-ft-caption1 a{color:#fff; text-decoration: none; font-size: 14px;} 
.sw-ft-caption2 a{color:#fff; text-decoration: none; font-size: 12px;}

/*infografis*/
.infografis-header {position: relative;}

/*sidewidget-rubik*/
.sw-rubik-header {position: relative;}

.sw-rubik-header h3 {
    font-family: 'futura_md_btmedium';
    font-size: 16px;
    width: 100%;
    padding: 15px 15px;
    margin: 0px;
    color: #fff;
    background: #c22d2f;
    text-transform: uppercase;
}
.sw-rubik-ctn{  margin-bottom: 15px;}
.sw-rubik-ctn ul {
    padding: 5px 15px 10px 15px;
    border-right: 1px solid#ccc;
    border-left: 1px solid#ccc;
    border-bottom: 1px solid#ccc;
}
.sw-rubik-ctn li {
    width: 100%;
    list-style-type: none;
    margin-bottom: 0px;
    padding: 5px 0;
    font-family: 'futura_md_btmedium';
    overflow: hidden;
    border-bottom: 1px solid #cbcbcb;
}

.sw-rubik-ctn li:last-child {border-bottom: none;}
.sw-rubik-ctn li a:link {color: #212121;text-decoration: none;}
.sw-rubik-ctn img {
    width: 92px;
    height: 59px;
    float: left;
    margin-right: 12px;
}

.sw-rubik-ctn h4 {
    font-family: "futura_md_btmedium";
    margin: 0;
    padding: 0;
    font-size: 14px;
    max-height: 45px;
    overflow: hidden;
    height: auto;
}

.sw-rubik-ctn li a:link {color: #212121; text-decoration: none;}
.logo-okztv {width: 150px;}

/*centering-streanmng-ads*/
.ads-body-content-update iframe {
    width: 736px !important;
    margin-left: -8px !important;
    height: 98px !important;
}


.vicon{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px; height: 0; overflow: hidden;
    /*margin-bottom: 50px;*/
        margin-bottom: 15px;

}

.vicon iframe,
.vicon object,
.vicon embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.news-title.aksi{text-align: center;width:100%; font-size: 24px; font-family: futura_hv_btheavy;} 
 
body.wp2016s{font-family: 'futura_md_btmedium';}
.wp2016s .hot-topics span{padding: 0 15px; height: 40px; line-height: 40px;letter-spacing: 0.022em;}
.wp2016s .hot-topics ul {counter-reset: my-badass-counter;}  
.wp2016s .hot-topics ul li{padding: 0px;}
.wp2016s .hot-topics ul li:before { content: counter(my-badass-counter)". ";  counter-increment: my-badass-counter; margin-right: 10px;color: #c22d2f; font-size: 26px; font-family: "futura_md_btmedium";float:left;   padding:0px; line-height: 50px;} 
.wp2016s .hot-topics ul li a{color:#000; font-size: 16px;display: flex; justify-content: center; flex-direction: column; height: 50px;}
.wp2016s .hot-topics ul li a:hover{color:#c22d2f}
.wp2016s .berita-pilihan span.t-bpilihan{height: 40px;line-height: 40px; padding:0px 15px}
.wp2016s .livestreaming  span.ls{padding: 0px 15px; line-height: 40px; height: 40px;}
.wp2016s .titletab {padding: 0px 15px; position: relative; width: 100%; line-height: 40px; height: 40px; background: #c22d2f;; color:#fff; text-transform: uppercase;     font-size: 17px;}
.wp2016s .titletab span{position: absolute; padding:0px; background: url('http://cdn.okezone.com/www/2016/img/icon-more.png') no-repeat; right:10px;top: 0; height: 15px; margin: auto; width: 20px; bottom: 0px;}
.wp2016s .list-video .m-nol{padding-right: 10px; line-height: 18px;}
.wp2016s .videosb, .wp2016s .fotosb{margin-bottom: 10px;}
.wp2016s .list-video li:last-child{border-bottom: none;}
.wp2016s .infografis-wp  .info-body  { padding: 5px 0px;}
.wp2016s .berita-anda span.br-anda{height: 40px; line-height: 40px; padding:0px 15px;}
.wp2016s .berita-anda span.br-anda small  {line-height: 43px; height: 40px;}
.wp2016s .bgrubik{background:#3baae2;}
.wp2016s .bgwarkop{background:#8e5829;}
.wp2016s .bgrubik{background:#3baae2;}
.wp2016s .ruanganda{margin-bottom: 15px;}
.wp2016s .ruanganda .bg{height: 170px; position: relative; width:100%; color:#fff; text-shadow: 1px 1px 1px #000; }
.wp2016s .ruanganda .bg span{font-size: 16px; width:100%; padding: 10px; display: block; text-align: center; position: absolute; bottom:  0px;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}
.wp2016s .ruanganda .bg span a{color:#fff}
.wp2016s .livestreaming .schedule .live b{background: url('http://cdn.okezone.com/www/2016/img/icon-live-streaming.png') no-repeat; width: 62px;height: 26px; position: absolute; background-position: center; top: 10px; left: 10px; border-radius: 3px; background-color: rgba(255,255,255,0.3);}
.wp2016s .livestreaming .schedule .live a{display: block; height: 100%; width: 100%;}

.wp2016s .cycle-overlay .cycle-headline h1,.cycle-overlay .cycle-headline h2{margin-top:14px;}
.wp2016s .cycle-headline h1 a:hover,.cycle-headline h2 a:hover {color: #fff; text-decoration: none;}
.wp2016s .cycle-headline h1 a,.cycle-headline h2 a {color: #fff;font-size: 30px;line-height: 33px;font-family: 'futura_md_btmedium';}
.wp2016s .cycle-overlay .cycle-headline2 h2{ margin-top:14px; position: absolute; bottom: 0;padding: 10px 0;}
.wp2016s .cycle-headline2 h2 a:hover { color: #fff;text-decoration: none;}
.wp2016s .cycle-headline2 h2 a {color: #fff;font-size: 25px; line-height: 33px;font-family: 'futura_md_btmedium';}
.wp2016s .icon-vidbola {
    background: url("http://cdn.okezone.com/euro/2016/desktop/images/play-small1x.png") no-repeat scroll;
    width: 70px;
    height: 70px;
    background-size: 100%;
    left: 38%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    opacity: 1;
    z-index: 99;
}
.wp2016s .bgblack-vidbola { background: rgba(0, 0 ,0, 0.5); width: 100%;height: 100%; position: absolute; z-index: 9;}
.wp2016s .cycle-bodyheadline2 {position: relative; width: 100%; height: 100%;}
.wp2016s .new-headline-thumb.new-headline-thumb2x{height: 138px;}
.wp2016s .new-headline-thumb {position: relative; padding: 0px 0;height: 90px;  }
.wp2016s .new-headline-thumb {width: 16.66%;float: left;margin: 0;}
.wp2016s .news-headline2 .kanals{font-size: 16px; padding-left: 5px; border-left: 4px solid #febd00; height: 29px; text-transform: uppercase;  margin-bottom: 10px;}
.wp2016s .new-headline-thumb a{text-decoration: none;}
.wp2016s .new-headline-thumb p {text-decoration: none; opacity: 1; position: relative; font-family: futura_md_btmedium; font-size: 11px; padding: 0  5px; height: 62px; overflow: hidden; top:7px;  width: 100%; color: #fff; z-index: 999999;}
.wp2016s .new-headline-thumb p.txt-newheadline-thumb-bt{ padding: 2px 15px 0; margin: 0; height: 38px; background: #000; bottom: 0;top: initial;}
.wp2016s .new-headline-thumb.cycle-pager-active {opacity: 1.0;border-bottom: 10px solid#458500;}
.wp2016s .new-headline-thumb.new-headline-thumb2x.cycle-pager-active { border-bottom: 0;}
.wp2016s .new-headline-thumb.new-headline-thumb2x.cycle-pager-active p {display: block;}
.wp2016s .new-headline-thumb.cycle-pager-active p.txt-newheadline-thumb-bt{background: #07BA08}
.wp2016s .new-headline-thumb.cycle-pager-active p {display: inline-block;}
.wp2016s .new-headline-thumb.cycle-pager-active span.perslide{display: inline-block;}
.wp2016s span.perslide {
    z-index: 999;
    background: #000;
    overflow: hidden !important;
    width: 100%;
    display: block;
    height: 80px;
    position: relative;
    top: 0; 
    z-index: 9;
}
.wp2016s span.perslide-icox {
    background: url("http://cdn.okezone.com/euro/2016/desktop/images/play-small1x.png") no-repeat scroll;
    width: 40px;
    height: 40px;
    background-size: 100%;
    left: 38%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    opacity: 1;
    z-index: 99;}
.wp2016s .new-headline-thumb.cycle-pager-active span.perslide-icox{display: none;}
.wp2016s .template-pager-wrapper{width:100%; height: 165px; position: relative; padding: 0px 10px; bottom:0px; background:#000}
.wp2016s .news-headline2{padding:0px;}
.wp2016s .new-headline-thumb .thumbnailsd{border:5px solid #000}
.wp2016s .news-headline {height: auto; max-height: 100%}
.wp2016s .news-headline2{border:none;    background: #000;    height: 545px; overflow: hidden;}
.wp2016s .cycle-headline { float:none;  padding:50px 20px 20px; width:100%; color:#fff;position: absolute; bottom: 0px; z-index: 999;
                 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,1) 100%);
}
.wp2016s .new-headline-thumb.cycle-pager-active .thumbnailsd{border-color: #ff5555}
.wp2016s .new-headline-thumb:hover .thumbnailsd{opacity: 0.9; cursor: pointer   }
.wp2016s .new-headline-thumb:hover .perslide p{color: #ccc} 
.wp2016s .new-headline-thumb .thumbnailsd:hover{background:#333}
.wp2016s .template-pager-wrapper .new-headline-thumb .thumbnailsd{height: 85px; width:100%}
.wp2016s .news-headline2 .textpic{height: 380px; overflow: hidden;}  
.wp2016s .news-headline2 .cycle-slide img{width:100% !Important}
.wp2016s .news-headline2 .cycle-slideshow{overflow: hidden; height:380px}
.wp2016s .cycle-headline  a{color:#fff; text-decoration: none; font-size: 32px; line-height: 32px; height: 100px; overflow: hidden}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule{padding:0px; height: 295px}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li {float:none; border-top:0px; height: auto;  position: relative; width:100%; padding: 0px 0px 6px; margin-top: 6px;}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li:first-child{margin-top:0px;}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li .jufilm{float:none; padding:0px  0px 0px 10px; display: inline-block; width:73%}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li .jufilm span{display:block; padding:1px 0px;} 
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li .jufilm span.tgls{font-size: 11px; color: #333;}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li .jufilm span:first-child{text-transform: uppercase}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li .jufilm span:last-child{font-size: 85%}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li .onair{margin-top:5px;  height:52px; width:60px;  margin-right: 8px;}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li:hover .onair a{color:#fff}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li .live{display:none}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li.live{height: 140px;}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li.live span,
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li.live .onair{display:none}
.wp2016s .livestreaming .tab-content .tab-pane ul.schedule li.live .live{display:block; width:100%; height: 140px;    margin-bottom: 7px;}
.wp2016s .top-head-nav{position: relative}
.wp2016s .top-head-nav ul{height: 50px;}    
.wp2016s .top-head-nav ul {line-height: 30px;}
.wp2016s .top-head-nav ul li a {padding: 16px 15px; font-size: 14px;  letter-spacing: normal;}
.wp2016s .top-head-nav .searching{position: absolute;  right: 0px; top:0px; bottom: 0px; margin:auto;}
.wp2016s .top-head-nav .searching form{display: inline-block}
.wp2016s .top-head-nav .searching input{margin-top:10px; width:266px; height: 30px; margin-top:10px; padding-left: 30px; background: url('https://cdn.okezone.com/m/2016/img/search.png') no-repeat; background-position: center left; border:1px solid  #ccc;}
.wp2016s .top-head-nav .loginnama { width: 70px; display: inline-block; text-align: center;}
.wp2016s .top-head-nav .loginnama ul{height: auto}
.wp2016s .top-head-nav .loginnama li a{padding: 10px 5px; font-size: 12px; text-transform: capitalize; width: 100%;}
.wp2016s .drop {padding: 14px 30px 14px 15px;}
.wp2016s .drop span{background: url('http://cdn.okezone.com/www/2016/img/icon-dropdown.png')no-repeat; width:18px; height: 13px; background-position: center; position: absolute; right: 5px; top: 19px;}
.wp2016s .drop.down span{-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); form: rotate(180deg);}
.wp2016s .drop ul.toggmen{height: auto; z-index: 99999;display: none; min-width: 150px; background: #f7f7f7; position: absolute; top: 51px;}
.wp2016s .drop ul.toggmen .colmd4{width:33%; float:left}
.wp2016s .drop ul.toggmen b{background: url('http://cdn.okezone.com/www/2016/img/icon-triangle.png')no-repeat; width:27px; height: 23px; position: absolute; top: -25px; left: 139px;}
.wp2016s .drop.down ul.toggmen{display: block;    width: 340px; border:10px solid #f7f7f7;  }
.wp2016s .drop ul.toggmen li{display: block;  height: auto; float:none}
.wp2016s .drop ul.toggmen li a{padding: 10px; width:100%; text-transform: uppercase }
.wp2016s .drop ul.toggmen li a:hover,.drop ul.toggmen li.active a{background:#dadada}

.wp2016s .dropx {padding: 14px 30px 14px 15px;}
.wp2016s .dropx span{background: url('http://cdn.okezone.com/www/2016/img/icon-dropdown.png')no-repeat; width:18px; height: 13px; background-position: center; position: absolute; right: 5px; top: 19px;}
.wp2016s .dropx.down span{-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); form: rotate(180deg);}
.wp2016s .dropx ul.toggmens{height: auto; z-index: 99999;display: none; min-width: 150px; background: #f7f7f7; position: absolute; top: 51px; left:-82px}
.wp2016s .dropx ul.toggmens .colmd4{width:33%; float:left}
.wp2016s .dropx ul.toggmens b{background: url('http://cdn.okezone.com/www/2016/img/icon-triangle.png')no-repeat; width:27px; height: 23px; position: absolute; top: -25px; left: 0px; right:0px; margin:auto;;}
.wp2016s .dropx.down ul.toggmens{display: block;    width: 225px; border:10px solid #f7f7f7;  }
.wp2016s .dropx ul.toggmens li{display: block;  height: auto; float:none}
.wp2016s .dropx ul.toggmens li a{padding: 10px; width:100%; text-transform: uppercase }
.wp2016s .dropx ul.toggmens li a:hover,.dropx ul.toggmens li.active a{color:#0198d1}


.wp2016s .top-head-nav ul li.drop a{padding:0px;}
.wp2016s.premiere .wrapper{width:100%}
.wp2016s.premiere .navbar-inner ul li a { padding: 17px 10px 18px 10px}
.wp2016s .top-head-nav ul li.drop ul li a{padding:10px;}
.wp2016s .wp-thumb-news{height: 108px;}

.wp2016s .kanals.news{border-left: 4px solid #f42e30;}
.wp2016s .kanals.bisnis{border-left: 4px solid #febd00;}
.wp2016s .kanals.lifestyle{border-left: 4px solid #f53695;}
.wp2016s .kanals.bola{border-left: 4px solid #07BA08;}
.wp2016s .kanals.sports{border-left: 4px solid #dc260f;}
.wp2016s .kanals.muslim{border-left: 4px solid #ff6bb1;}
.wp2016s .kanals.techno{border-left: 4px solid #8d8d8d;}
.wp2016s .kanals.autos{border-left: 4px solid #91238e;}
.wp2016s .titletab.travels {  background: #c22d2f; z-index: 9;}
.travelslider{height: auto; margin-bottom: 15px; position: relative}
.travelslider .fill{height: 206px; background-size: cover; background-position: center; width: 300px; display: block}
.travelslider .carousel-control.right, .travelslider .carousel-control.left{display:none}
.travelslider:hover .carousel-control.right, .travelslider:hover .carousel-control.left{display:block}
.travelslider .carousel-indicators{position: absolute; left:0px; right: 0px; bottom: 0px; margin:auto;}
.travelslider .carousel-indicators li { display: inline-block; margin:3px; width: 7px; height: 7px;background: #ccc;  border-color: #ccc;}
.travelslider .carousel-indicators li.active{width:8px; height: 8px; background: #fff;}
.travelslider .carousel-caption{left:0px; right: 0px; font-size: 14px; font-size: 16px;width: 100%; padding: 10px 10px 20px;display: block; text-align: center;position: absolute;bottom: 0px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.6)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.6) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.6) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.6) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );}
.travelslider .carousel-caption a{color:#fff; text-decoration: none;}

.newsplus .topikhangat, .newsplus .artikellainnya{width:50%; float:left; margin:20px 0px; }
.newsplus .title{font-size: 24px; text-transform: uppercase; margin-top: -10px; border-bottom: 4px solid #c22d2f; padding-bottom: 5px; margin-bottom: 10px;}
.newsplus .topikhangat{padding:10px 20px  0px 0px; border-right: 2px solid #818181}
.newsplus .artikellainnya{padding:10px  0px  0px 20px;}
.newsplus ul {margin:0px;}
.newsplus ul li{list-style: none; cursor: pointer; min-height: 65px; border-bottom: 1px solid #cccccc; margin-bottom: 7px;}
.newsplus ul li:last-child{border:none}
.newsplus ul li a{font-size: 16px; cursor: pointer; display: block; color:#333; text-decoration: none; line-height: 19px;}
.newsplus ul li a:hover{color:#690A0B}
.newsplus ul li a .notif{display: inline-block; background:#c22d2f; padding:2px 3px; text-transform: uppercase; font-size: 10px; color:#fff; padding: 3px 3px; font-size: 8px; color: #fff; line-height: 10px; border-radius: 4px;}
.newsplus ul li span{display: block; color:#797979; font-size: 13px; font-weight: normal; font-family: 'futura_t_lightregular'; text-transform: uppercase}
.newsplus .bacalainnya {margin-bottom: 50px; margin-top:20px;}
.newsplus .bacalainnya .title{background: #c22d2f; color:#fff; padding-left:15px; padding-top: 10px}
.newsplus .bacalainnya ul li{min-height:0px; padding-left:15px;}
.newsplus .bacalainnya ul li a{line-height: 30px; margin-bottom: 5px;}
    
/*queri query */
hr.red-line {border-bottom: 4px solid #c22d2f;}

/**RESPOSIVE**/
@media(max-width: 1199px){
    .pn-align3 {left: 400px;}
    .pn-align4 {left: 600px;}
    .premiere .navbar-inner ul li a.logo-premiere-menu {
    background: transparent url("https://cdn.okezone.com/underwood/img/premier-league-menu-wp.png") no-repeat;
    display: block;
    float: right;
    height: 36px;
    margin: 5px 5px 0px -13px;
    overflow: hidden;
    width: 20px;
    padding: 0 20px;
    }

    .premiere .loginnama {width: 45px;}
    
    .premiere .navbar-inner ul li a.sso {
    background: transparent url("https://cdn.okezone.com/www/2016/img/profile.png") no-repeat;
    display: block;
    float: right;
    height: 20px;
    /*margin: 12px -5px 0px 0;*/
    margin: 12px -6px 0px 5px;
    overflow: hidden;
    width: 20px;
    padding: 0 20px;
    }
    
    /*v2*/
    .premiere .navbar-inner ul li a {padding: 17px 5px 17.5px 6px;}
    .wp2016s.premiere .navbar-inner ul li a {
        padding: 17px 8px 18px 8px;
    }
    .navbar-inner ul li a.search {margin: 14px 0px 0px 0px;}
    
/*ADS*/

    .bn_skin1{
        margin-left: -785px;
    }
    .bn_skin2 {
        margin-right: -785px;
    }

    .adsnative1{
    display: none;
    }

    .adsnative2{
        display: block;
    }

    .adsnative3{
        display: none;
    }

    .navbar-inner ul li.ramadan a {
    margin: 11px 0px;
    }



/*CONTENT*/
    .top-head-nav ul li a {
    font-size: 11px;
    }

    .navbar-inner ul li a {
    padding: 17.5px 8px;
    }

    .topheadnavipad a {
        font-size: 13px;
    }

    .col-md-body-left {
        width: 70.2%;
    }

    .img-top-logo {
    width: 27.3%;
    float: left;
    margin-right: 0;
    margin-left: 5px;
    padding-top: 15px;
    }

    .img-top-logo a img {
    width: 245px;
    }

    .content-three-top-news {
    width: 32.3%;
    }

    .txt-three-top-news p {
    height: 35px;
    }

    .txt-three-top-news {
    padding: 10px 10px 10px;
    }

    .content-hardnews h3{
    height: 48px;
    }

    .content-hardnews p{
    height: 46px;
    }

    .sidebar-infografis li {
    width: 120px;
    height: 85px;
    }

    .livestreaming ul.tabstream li a {
    padding: 2px 5px 7px 5px;
    }

    .livestreaming li.fl {
    width: 55.5px;
    }

    .livestreaming .tab-content .tab-pane ul li div, .livestreaming .tab-content .tab-pane ul li div span {
    width: 72%;
    }

    .livestreaming h3 {
    font-size: 13px;
    }

    .tab-video a, .tab-foto a {
    padding: 14px 15px !important;
    }

    .content-body-footer2 ul li a {
    padding: 15px 15px 5px;
    }

    .sticky-sidebar.stuck{
        position: relative !important;
        top: 0;
        z-index: 0;
        width: auto;
        margin-left: 0;
    }

    .sticky-sidebar2.stuck{
        position: relative !important;
        top: 0;
        z-index: 0;
        width: auto;
        margin-left: 0;
    }
    
    .ls-euro h3.ls{
        font-size:16px;
    }
    
 .wp2016s .top-head-nav ul li a {padding-right: 8px;}
 .wp2016s .top-head-nav ul li.dropx  {padding:14px 30px 14px 0px;}
 .wp2016s .dropx ul.toggmens {left: -97px;}
}

@media (max-width: 1024px){
.ads-skin{display: none;}
}


@media (max-width: 991px){ 
    .wp2016s .cycle-headline a { font-size: 23px; line-height: 28px;}
    .wp2016s .new-headline-thumb p { font-size: 10px; height: 58px;}
    .wp2016s .new-headline-thumb  .thumbnailsd{border:2px;}
    .wp2016s .new-headline-thumb.cycle-pager-active .thumbnailsd{border:2px #ff5555 solid;}
    .wp2016s .kanals.news{border-left: 3px solid #f42e30;}
    .wp2016s .kanals.bisnis{border-left: 3px solid #febd00;}
    .wp2016s .kanals.lifestyle{border-left: 3px solid #f53695;}
    .wp2016s .kanals.bola{border-left: 3px solid #07BA08;}
    .wp2016s .kanals.sports{border-left: 3px solid #dc260f;}
    .wp2016s .kanals.muslim{border-left: 3px solid #ff6bb1;}
    .wp2016s .kanals.techno{border-left: 3px solid #8d8d8d;}
    .wp2016s .kanals.autos{border-left: 3px solid #91238e;}
    .wp2016s .news-headline2 .cycle-slideshow{overflow: hidden; height:270px}
    .push-notif-wrap1, .push-notif-wrap2 {margin-top: 5px;}
    .wrapper1.wrap-sm-pushnot {width: 100%!important;}
    .news-title.aksi{text-align: center;width:100%; font-size: 20px;} 
    .premiere .wrapper1 {width: 84%!important;}
    .premiere .wrapper2 {width: 16%!important;}
    /*v2*/
    .navbar-inner ul li a.search {margin: 14px 0px 0px 0px;}
    .premiere .wrapper1 {width: 90% !important;}
    .premiere .wrapper2 {width: 10% !important;}
    .premiere .carousel-inner.carousel-inner-break.carousel-inner-navmenu {margin-top: -4px;}
    .prem-v2 {margin-top: -3px;height: 28px; width: 28px;}

     .premiere .navbar-inner .wrapper1 #tab1 .row {padding-top: 3px;}
     .premiere .navbar-inner .wrapper1 #tab2 .row {padding-top: 3px; padding-bottom: 10px;}
     .premiere .media-carousel .carousel-control.topnav.left {top: 5px;}
     .premiere .media-carousel .carousel-control.topnav.right {top: 5px;}
     .premiere .navbar-inner ul li a.sso {margin: 14px -6px 0px 5px;}
    /*ADS*/

    .bn_skin1{
        margin-left: -676px;
    }
    .bn_skin2 {
        margin-right: -676px;
    }

    .adsnative1{
    display: none;
    }

    .adsnative2{
        display: none;
    }

    .adsnative3{
        display: block;
    }

    /*CONTENT*/

    .body-headline2-1 {
    width: 100%;
    margin-right: 0%;
    height: 430px;
    }

    .body-headline2-2 {
    width: 100%;
    float: left;
    overflow: hidden;
    border-top: 1px solid#ccc;
    border-left: 0;
    padding-left: 0;
    }

    .news-headline {
    height: 300px;
    max-height: 300px;
    }

    .container-top-nav {
    padding: 0;
    }
 
    .topheadnavipad a {
    font-size: 10px;
    padding: 10px 12px;
    }

    .wrapper {
    display: none;
    }

    .wrapper1{
        display: block;
        width: 90%;
        float: left;
    }

    .three-top-news {
    margin: 5px 0;
    }

    .img-top-logo a img {
    width: 220px;
    }

    .img-top-logo {
    width: 34.2%;
    padding-top: 9px;
    }

    .ads-top-logo {
    width: 65%;
    }

    .col-md-body-left {
    width: 60.6%;
    float: left;
    }

    .col-md-body-right {
    width: 38%;
    }
 

    .content-three-top-news {
    width: 100%;
    float: left;
    margin: 3px 0;
    }

    .img-three-top-news {
    width: 24%;
    }

    .txt-three-top-news {
    width: 76%;
    }

    .news-content li.middle {
    padding: 10px 0px 16px;
    }


    .news-content li.middle2 {
    padding: 10px 0px 16px;
    }

    .thumb-news {
    height: 221.022px !important;
    }

    .news-content li {
    height: 342px;
    }

    .cycle-headline h2 a {
    font-size: 20px;
    }

    .cycle-headline span a {
    font-size: 20px;
    }

    input#textfield.inp {
    padding: 18px 5px 19px 10px;
    }

    .livestreaming li.fl {
    width: 56.8px;
    }

    .tab-video a, .tab-foto a {
    padding: 15px 15px !important;
    }

    .list-video li:last-child{
        border-bottom: 0px !important;
    }

    .sidebar-infografis li {
    float: left;
    }

    .content-isi-footer span,
    .content-isi-footer h4 {
    font-size: 11px;
    }

    .content-isi-footer ul li a {
    font-size: 10px;
    }

    .content-body-footer2 ul li a {
    font-size: 12px;
    }

    .content-body-footer2 ul li a {
    padding: 15px 5px 5px;
    }

    .footer-copyright {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    }

    .soc-apps.foot-n.fr {
    width: 100%;
    float: left;
    text-align: center;
    }

    .mnc-logo span a:link{
        float: left;
    }

    .biznet {
    float: right;
    }

    .content-body-footer4 {
    padding: 0 20px;
    }

    .breakingnew-wpleft h4 {
    font-size: 17px;
    }

    .breakingnew-wpright b a {
    font-size: 13px;
    }

    .bottom-ads-new b{
        font-size: 13px;
    }

    .row-break-img{
        float: left;
    }

    .row-break-text{
        float: left;
    }
    
    
    /*headline-topic*/
    .head-topic {width: 44%;padding-right: 30px;}
    
   /*push notif*/
    .push-notif-wrap1, .push-notif-wrap2 {margin-top: 5px;}
    .wrapper1.wrap-sm-pushnot {width: 100%!important;}
    .wp2016s .wp-thumb-news{height: auto;}
    .wp2016s .news-headline2{height: 430px;}
    .wp2016s .top-head-nav ul li a { padding: 16px 4px; font-size: 12px;}
    .wp2016s .top-head-nav .searching input { width: 175px;}
    .wp2016s .top-head-nav .loginnama { width: 40px;}
    .wp2016s .news-headline2 .textpic {height: 260px; overflow: hidden}
    .wp2016s .dropx ul.toggmens { left: -96px;}
}

@media (max-width:768px){

    .news-content li {
    height: 320px;
    }

    .container-top2-nav {height: auto;}

}

@media (max-width:767px){
.wp2016s .news-headline2{height: auto;}
    .news-headline {
    height: 400px;
    max-height: 400px;
    }

    .col-md-body-right{
        display: none;
    }

    .col-md-body-left {
    width: 100%;
    }

    .cycle-slideshow img {
    height: 400px;
    }

    .img-three-top-news {
    width: 14%;
    }

    .txt-three-top-news {
    width: 86%;
    }

    .news-content li.middle,
    .news-content li {
    width: 49%;
    height: 300px;
    float: left;
    padding: 10px 10px 0px;
    }

    .news-content li.middle2,
    .news-content li {
    width: 49%;
    height: 300px;
    float: left;
    padding: 10px 10px 0px;
    }

    .thumb-news {
    height: 173.885px !important;
    }

    .ads-top-logo {
    display: none;
    }

    .img-top-logo {
    width: 100%;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
    }

    .breaking-news-wpslide{
        display: none;
    }


}

@media (max-width:640px){

    .container-top-nav{
        display: none;
    }

    .container-top2-nav{
        display: none;
    }

    .container-navmobile{display: block;}

    .container-top-logo {
    padding-top: 65px;
    }

    .navbar-mobile-wp{
        background: #c22d2f;
    }

    .navbar-mobile-wp button.navbar-toggle.collapsed{
        border: 1px solid#fff;
    }

    span.icon-bar {
    background: #fff;
    }

    .navbar-mobile-wp a{
        color: #fff;
        font-family: "futura_md_btmedium";
        font-size: 15px;
    }
}

@media (max-width:480px){

    .news-content li.middle, .news-content li {
    width: 100%;
    height: 347px;
    float: none;
    }

    .news-content li.middle2, .news-content li {
    width: 100%;
    height: 347px;
    float: none;
    }

    .thumb-news {
    height: 221.022px !important;
    }

}

