/* version 1.0.2 */

/* WCMS */
/*No Gutter Temporary Fix*/
.container-fluid>.row {
   margin-left: -1rem;
   margin-right: -1rem;
}

@media (min-width: 768px) {
   .container-fluid>.row {
       margin-left: -2rem;
       margin-right: -2rem;
   }
}

@media (min-width: 992px) {
   .container-fluid>.row {
       margin-left: -3rem;
       margin-right: -3rem;
   }
}



/*images*/

.img-frame.center>img {
    height: auto;
}

img {
   image-rendering: inherit!important;
}
.ratio-4-1 {
    padding-bottom: 25%;
}
.ratio-1-2_76 {
    padding-bottom: 36.25%;
}

/* content cards*/
.widget-content-card{
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.30);
    border-radius: 3px;

}
.widget-content-card a{
    color:inherit;
}


/* event cards*/
@media(min-width: 768px) {
    .widget-event-card {
        min-height: 175px;
   }
}

@media(min-width: 970px) {
   .widget-event-card {
        min-height: 210px;
    }
}


/* product tile*/
.widget-product-tile a{
    color: inherit;
}
.widget-product-tile .star-rating{
    display: inline-block;
}
.widget-product-tile .star-rating .icon.inactive-star{
    color:#e5e5e5;

}
.widget-product-tile .star-rating .icon {
    position: relative;
    color: #a1c900;
}
.widget-product-tile .star-rating .backfill {
    z-index: 0;
    position: absolute;
     /* .icon-rei-star-* is 1.4rem (14px). wrapper div is 1.6rem * 1.5 line height (24px)
        (24 - 14)/2 = 5px. TODO: move to widgets CSS or PL CSS and calc using variables;
    */
    margin: 0.5rem 0 0;
}

/* Copy Block */

.widget-copy-block .text-muted:not(.heading-announce):not(.heading-hero), .widget-copy-block h1:not(.heading-announce):not(.heading-hero), .widget-copy-block h2:not(.heading-announce):not(.heading-hero), .widget-copy-block h3:not(.heading-announce):not(.heading-hero), .widget-copy-block h4:not(.heading-announce):not(.heading-hero), .widget-copy-block h5:not(.heading-announce):not(.heading-hero), .widget-copy-block h6:not(.heading-announce):not(.heading-hero), .widget-copy-block p:not(.heading-announce):not(.heading-hero){
    max-width:876px;
}

/* Navigation widget */

.widget-navigation .list-group-filter li.item-secondary:last-of-type {
    padding: 0 3.2rem 1.6rem;
}

.widget-navigation .list-group-filter li.list-group-item > a > span, .widget-navigation .list-group-filter li.list-group-item > label, .list-menu > li > a, .list-group li.list-group-item > a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}

.widget-navigation .toggle-expand-collapse > [type="checkbox"] + label:before, .toggle-expand-collapse > [type="radio"] + label:before {
    content: "\e746";
}

.widget-navigation .toggle-expand-collapse > [type="checkbox"]:checked + label:before, .toggle-expand-collapse > [type="radio"]:checked + label:before {
    content: "\e602";
}

.widget-navigation .nav-right-arrow {
    position: absolute;
    top: 15px;
    right: 24px;
}

.widget-navigation ul {
    margin-bottom: 0;
}

/*positioning*/

.middle {
  align-self: center;
}

.top {
  align-self: flex-start;
}

.bottom {
  align-self: flex-end;
}

/* responsive alignment */
.text-center-xs {
    text-align: center;
}
.text-center-xs .widget-copy-block * {
    margin-left:auto;
    margin-right:auto;
}
.text-left-xs {
    text-align: left;
}
.text-left-xs .widget-copy-block * {
    margin-right:auto;
}
.text-right-xs {
    text-align: right;
}
.text-right-xs .widget-copy-block * {
    margin-left:auto;
}

@media(min-width: 768px) {
    .text-center-sm {
      text-align: center;
    }
    .text-center-sm .widget-copy-block * {
        margin-left:auto;
        margin-right:auto;
    }
    .text-left-sm {
      text-align: left;
    }
    .text-left-sm .widget-copy-block * {
        margin-right:auto;
        margin-left: 0;
    }
    .text-right-sm {
      text-align: right;
    }
    .text-right-sm .widget-copy-block * {
        margin-left:auto;
        margin-right:0;
    }
}

@media(min-width: 992px) {
    .text-center-md {
      text-align: center;
    }
    .text-center-md .widget-copy-block * {
        margin-left:auto;
        margin-right:auto;
    }
    .text-left-md {
      text-align: left;
    }
    .text-left-md .widget-copy-block * {
        margin-right:auto;
        margin-left: 0;
    }
    .text-right-md {
      text-align: right;
    }
    .text-right-md .widget-copy-block * {
        margin-left:auto;
        margin-right:0;
    }
}

@media(min-width: 1200px) {
    .text-center-lg {
      text-align: center;
    }
    .text-center-lg .widget-copy-block * {
        margin-left:auto;
        margin-right:auto;
    }
    .text-left-lg {
      text-align: left;
   }
   .text-left-lg .widget-copy-block * {
        margin-right:auto;
        margin-left: 0;
    }
    .text-right-lg {
      text-align: right;
    }
    .text-right-lg .widget-copy-block * {
        margin-left:auto;
        margin-right:0;
    }
}
.lazy-image.fade-in {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.lazy-image.fade-in.in {
    opacity: 1;
}