#Ya_sync_1, #Ya_sync_0 , #Ya_sync_2,#yandex_ad {
    margin-bottom: 50px; 
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    padding: 5px 0 20px 0;
    max-width: 655px;
}
.hidden {
	display:none;
}
.hidden-post {
	display:none;
}
.new-posts-notifier {
    position: fixed;
    top: 60px;
	margin-left: 763px;
    background-image: url('/icons/posts.png');
    background-repeat: no-repeat;
    text-align: center;
    font-weight: 300;
    width: 102px;
    height: 100px;
    padding-top: 38px;
    color: #242424;
	display:none;
	cursor: pointer;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 15px;
}
.unread-post {
	background-color: #F0F8FF;
}
.feed-tag {
	display: inline-block;
    background-color: #eee;
	padding: 2px 10px;
	color: #666;
	font-size: 12px;
	border-radius: 3px;
	cursor:pointer;
	margin: 0px 15px 15px 0px;
}
.feed-tag-active {
	background-color: #6288a5;
	color: #fff;
}
.feed-tag:hover {
	background-color:#326891;
	color: #fff;
}
.feed-tags-container {
	max-width:630px;
	display:inline-block;
	float: left;
}
.subscribe-choose {
	padding: 2px 10px;
	cursor: pointer;
	border-radius: 3px;
	font-size: 14px;
}
.subscribe-choose:hover {
	background-color: #326891;
	color: #fff;
}
.subscribe-choose-click {
	border-radius: 3px;
	cursor:pointer;
	padding: 0px 10px;
	color: #fff;
	background-color: #326891;
	
}
.subscribe-choose-menu {
	position: absolute;
    right: 0;
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 5px;
    line-height: 20px;
	z-index:9999999;
	display:none;
	padding: 20px 20px 20px;
}
.subscribe-choose-item {
	border-radius: 2px;
	font-size: 12px;
	z-index: 1;
	box-shadow: 0px 1px 1px 0px #eee;
	cursor:pointer;
}
.subscribe-choose-item:hover {
	color: #326891;
}
.feed-tag-counter {
	font-size: 10px;
	padding: 2px 4px;
	background-color: #fff;
	border-radius: 100px;
	margin-left: 5px;
	color: #666;
	display:none;
}
.loading {
	width: 16px;
    height: 16px;
    background-image: url('/icons/ajax-loader.gif');
}
.loading_box {
	background-image: url('/icons/loadPosts.jpg');
	height: 2720px;
	background-repeat: repeat-y;
}