html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
    outline: none;
}
html, body {
    height: 100%;
}
body {
    font: 17px/125% Arial;
    padding: 50px 0 0 0;
    margin: 0;
}
input,textarea {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    border: solid 1px #a9a9a9;
}

p {
    margin-bottom: 20px;
}

a {
    color: #6288a5;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #326891;
    text-decoration: none;
}

h1 {
    font: normal 42px/44px Roboto;
    margin: 10px 0 20px 0;
    font-weight: 300;
}
h3 {
    font: normal 26px/32px Roboto;
    margin-bottom: 10px;
    font-weight: 300;
}
h3 a {
    color: #000;
}
.article h3 {
    margin: 40px 0 10px 0;
}

h2 {
    color: #737374;
    margin: 0 0 20px 0; 
    font: normal 24px Roboto;
}
h5 {
    font: 300 14px Roboto;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h5 span {
    font: normal 14px Roboto;
    text-transform: uppercase;
}
ol {
    margin-left: 20px;
}
hr {
    background-color: #ccc;
    border: none;
    height: 1px;
}
a.read, a.read3 {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}
a.read3 {
        color: #bbb;
}
a.get_promo, a.get_promo2, a.get_top, a.get_prof, a.fa-ellipsis-h {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
}
a.fa-ellipsis-h {
    font-size: 20px;
    vertical-align: middle;
}

a.read span {
    font-size: 10px;
}
a.read2 {
    display: inline-block;
    background-color: #6288a5;
    margin-bottom: 40px;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
}
a.read2:hover {
    background-color: #326891; 
}

.header {
    width: 1190px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 11px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

#headline {
    position: fixed;
    top: 0;
    z-index: 998;
    background-color: #242424;
    width: 100%;
    transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -50px !important;
}

@media (max-width: 768px) {
	#headline {
		position: absolute;
	}
}

/* header_menu */

.header_menu {
	position: relative;
}

.header_menu_more {
	z-index: 999;
	width: 100%;
    background: #ededee;
    color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    line-height: normal;
    padding: 40px 0;
}

.header_menu_more h3 {
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header_menu_more a {
	color: #000 !important;
	font-size: 14px;
    line-height: 1.5;
}

.header_menu_more a:hover {
	color: #326891 !important;;
}

.header_menu_more ul.list-inline {
	margin-bottom: 20px;
	margin: 0 0 20px -5px;
}

.header_menu_more ul.list-inline li {
	padding-right: 0;
}

.header_menu_more ul.list-inline .item {
	border: solid 1px #000;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

.header_menu_more ul.list-inline .item strong {
	display: block;
}

.header_menu_more__clusters a {
    line-height: normal;
    display: block;
    font-size: 14px;
}

.search {
	background: #242424;
	padding: 8px 10px;
	position: absolute;
	top: 0;
	right: 32px;
	bottom: 0;
	left: -10px;
}

.search form input {
	background: #333;
    border: none;
    border-radius: 0;
    color: #fff;
    box-shadow: none !important;
}

.search form button {
	padding: 8px 12px;
    top: -8px;
    border: none;
}

.search form button span,
#search_link button span {
	font-size: 12px;
}

#search_link button,
#more_link button {
	background: transparent;
	border: none;
	padding: 0 10px;
}

#search_link button:hover,
#more_link button:hover {
	background: #333;
}

#more_link button span {
	margin-bottom: 0;
}

#more_link button.active {
	position: relative;
}

#more_link button.active::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -2px;
    right: 12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #f1f1f1 transparent;
	line-height: 0px;
	_border-color: #242424 #242424 #f1f1f1 #242424;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#242424');
}

.header_menu_right {
	position: absolute;
    right: 10px;
    font-size: 12px;
}

.header_menu_right ul.list-inline li {
	padding: 0;
}

.header_menu_right ul.list-inline li a {
	padding: 0 10px;
	display: block;
}

.header_menu_right .dropdown-menu {
	margin: 5px 0 0;
}

.header_menu_right .dropdown-menu > li > a {
	padding: 8px 20px !important;
}

a:hover.header_menu_right__bonus {
	background: #333;
}

a:hover.header_menu_right__addpost {
    background: #333;
}

a.header_menu_right__addpost span {
	font-size: 11px;
    margin-right: 3px;
}

.header_menu_right__user_menu {
    line-height: 1.3;
    margin-top: 12px;
    text-align: right;
}

.header_menu_right__user figure {
	position: relative;
	display: inline-block;
}

.header_menu_right__user figure img {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
}

.header_menu_right__user figure figcaption {
	position: absolute;
	bottom: -8px;
    right: 0px;
}

.header_menu_right__user figure figcaption img {
	width: 15px;
    height: 15px;
    margin: 0;
}

.header_menu_right__user span.caret {
	margin: 0;
	color: rgba(255,255,255,0.5);
}

.header_menu_right__user a.dropdown-toggle {
	display: block;
} 

.header_menu_right__user a:hover.dropdown-toggle {
	background: #333;
	color: inherit;
}

.header_menu_right__user a:focus.dropdown-toggle {
    background: #333;
}

.header_menu_right__messages,
.header_menu_right__notifications {
	display: block;
}

a:hover.header_menu_right__messages,
a:hover.header_menu_right__notifications {
	background: #333;
}

.header_menu_right__messages figure,
.header_menu_right__notifications figure {
	position: relative;
}

.header_menu_right__messages figcaption,
.header_menu_right__notifications figcaption {
	position: absolute;
	top: 10px;
    left: 10px;
	background: #c32323;
    color: #fff;
    color: rgba(255,255,255,0.8);
    text-align: center;
    font-style: normal;
    line-height: 1;
    padding: 2px 4px;
    font-size: 9px;
    border-radius: 8px;
    display: none;
}

.header_menu_right__messages i {
	color: #fff;
	font-size: 16px;
}

.header_menu_right__notifications i.glyphicon-comment {
	font-size: 16px;
    position: relative;
    top: 4px;
    color: #fff;
}

.header_menu_right__more a.dropdown-toggle{
	display: block;
    padding: 0px 10px;
}

.header_menu_right__more a:hover.dropdown-toggle,
.header_menu_right__more a:focus.dropdown-toggle {
	background: #333;
}

.header_menu_right__more .dropdown-menu {
    left: auto;
    right: 0;
}


a.header_menu_right__user {
	letter-spacing: 1px;
}

a:hover.header_menu_right__user {
	background: #333;
}


.header_menu_right__bars {
	display: none !important;
}

.header_menu_right__bars button {
	background: transparent;
    border: none;
    padding: 0 10px;
}

.header_menu_right__bars button:hover {
	background: #333;
}

.header_menu_right__bars i {
	font-size: 16px;
	position: relative;
    top: 1px;
}

@media (max-width: 767px) {
	.header_menu_right__bars {
		display: inline-block !important;
	}
}

ul.nav.navmenu-nav.navmenu-nav__main li a {
	letter-spacing: 1px;
	text-transform: uppercase;
}

ul.nav.navmenu-nav.navmenu-nav__main #collapseClusters ul.navmenu-nav {
	margin-top: -10px;
}

ul.nav.navmenu-nav.navmenu-nav__main #collapseClusters a {
	letter-spacing: 0;
	text-transform: none;
	display: block;
}

ul.nav.navmenu-nav.navmenu-nav__main #collapseClusters a.media {
	padding: 0px 20px !important;
	display: block;
}

ul.nav.navmenu-nav.navmenu-nav__other li a {
    padding: 5px 20px;
}

ul.navmenu-nav__socials {
	margin-left: 15px;
}

ul.navmenu-nav__socials i {
	font-size: 16px;
}

/* end header_menu */



.logo {
    position: absolute;
    left:  20px;
    display: inline-block;
    margin: 13px 20px 0 0;
}
.logo img {
    height: 20px;
    float: left;
}
.header a {
    color: #fff;
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}
.header a.active {
	background: #2c2c2c;
	cursor: pointer !important;
}
.header a:hover.active {
	color: #fff;
    color: rgba(255,255,255,0.9);
    background: #2c2c2c !important;
    cursor: text;
}
.header a:hover {
    color: inherit;
}
.header a#messages-button.active {
	border-bottom: none;
	position: relative;
}
.header a#messages-button.active::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -2px;
    right: 13px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #f1f1f1 transparent;
	line-height: 0px;
	_border-color: #242424 #242424 #f1f1f1 #242424;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#242424');
}
.header span {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    margin-bottom: 4px;
}
.header2 {
    min-height: 100px;
    text-align: center;
    background-color: #f6f6f6;
    padding: 20px 0 15px 0; 
}
.menu3 {
    width: 1190px;
    margin: 0 auto;
}
.news_head { 
    margin: 0 0 20px 50px;
    width: 230px;
    float: left;
    color: #000;
}
.news_head span {
    color: #999;
    font-size: 11px;
} 
.news_head span.red {
    color: #b60000;
}
.news_head a {
    color: #000;
}
.content {
    width: 1190px;
    margin: 20px auto;  
}
.post {
    width: 860px; 
    float: left;
}
.article {
    background-color: #fff;
    padding: 0;
}
.post h2 {
    padding: 15px 30px;
    background: #333;
    color: #fff;
    margin: 0 0 20px 0; 
    font: normal 24px Roboto;
}
.post h2 a {
    font-size: 18px;
    line-height: 30px;
    text-decoration: underline;
}
.article2 img {
    display: block;
    margin-bottom: 20px;
    max-width: 680px; 
    height: auto !important;
} 
.article2 .content_modal .modal-dialog p {
	font-size: 14px !important;
}
.article2 .content_modal .modal-dialog {
	width: 60%;
	margin: 0 auto;
}
@media (max-width: 1190px) {
	.article2 .content_modal .modal-dialog {
		width: 80%;
	}
}
@media (max-width: 992px) {
	.article2 .content_modal .modal-dialog {
		width: 90%;
	}
}
@media (max-width: 768px) {
	.article2 .content_modal .modal-dialog {
		width: 98%;
	}
}
.article2 .content_modal .author-bar img {
	margin-bottom: 0 !important;
	max-width: 40px !important;
}
.article2 h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}
.article2 .content_modal .modal-dialog p {
	font-size: 14px !important;
}
.article2 .content_modal .modal-dialog {
	width: 60%;
	margin: 0 auto;
}
@media (max-width: 1190px) {
	.article2 .content_modal .modal-dialog {
		width: 80%;
	}
}
@media (max-width: 992px) {
	.article2 .content_modal .modal-dialog {
		width: 90%;
	}
}
@media (max-width: 768px) {
	.article2 .content_modal .modal-dialog {
		width: 98%;
	}
}
.article2 .content_modal .author-bar img {
	margin-bottom: 0 !important;
	max-width: 40px !important;
}
.post img.w100 {
    max-width: 100%;
    margin-bottom: 20px;
}
.main_bar {
    position: relative;
    line-height: 24px;
    margin-bottom: 50px;
}
.main_bar span.main {
    display: inline-block;
    color: #000;
    font: bold 18px Roboto;
    margin-right: 26px;
}
.main_bar a, .main_bar2 a {
    display: inline-block;
    margin-right: 15px;
    padding-right: 19px;
    color: #000;
    font: normal 14px Roboto;
    background: url(/images/dot.png) right no-repeat;
}
.main_bar a.active {
    color: #cccccc; 
}
.main_bar a:hover {
    color: #cccccc;   
}
.main_bar a.nodot {
    background: none;
    margin: 0;
    padding: 0;
}
.main_bar .last {
    float: right;
    background: none;
    margin: 5px 0 0 0;
    padding: 0;
    font: normal 12px Roboto;
}
.main_bar2 {
    display: none;
    position: absolute;
    right: 0;
}
.main_bar2 a {
    display: block;
    text-align: right;
    margin: 0;
    padding: 0 10px;
    background: none #fff;
    font: normal 12px Roboto;
}
.post_prv {
    max-width: 685px;
    font-size: 14px; 
    position: relative;
    margin: 0 -15px 50px;
    padding: 15px;
}
.post_prv img {
    position: static;
}
.post_prv a.pic {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px; 
}
.post_prv a.pic img {
    margin-top: -25px;
    float: none;
    max-width: 100%;
}
.post_prv a.main_pic {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    max-height: 300px;
    overflow: hidden;
}
.post_prv a.main_pic img {
    margin-top: -100px;
    float: none;
    width: 100%;
    max-width: 100%;
}
.post_prv2 {
    margin-bottom: 20px;
}
.post_prv2 a {
    font: 300 16px Roboto; 
    color: #000;
}
.post_prv2 a:hover {
    color: #6288a5;
}
.main_first {
    padding-left: 0;
    padding-top: 20px;
}
.main_first img {
    position: relative;
}
.side_pic {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    max-height: 150px;
    overflow: hidden;  
}
.side_pic img {
    margin-top: -50px;
    width: 100%;
}
.content input {
    padding: 5px;
}
.menu {
    position: fixed;
    top: 175px; 
    left: 35px;
}
.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 0 20px 0;
}
.menu a.active {
    color: #ff9933;
    border-bottom: solid 3px #ff9933;
}
.sidebar {
    width: 300px; 
    float: right; 
}
.sidebar img {
    max-width: 300px;
}
.sidebar h2 {
    font-family: 'Roboto';
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 10px 0px;
}
.block {
    width: 895px; 
}
.post_footer {
	background-color: #f6f6f6;
}
.post_footer .content {
	margin-bottom: 0;
	padding: 20px 10px 40px 180px;
}
.post_footer .post {
    width: 685px;
    padding: 0 0 40px 0;
}
@media only screen and (max-width: 900px) {
	.post_footer .post {
		width: 100%;
	}
	.post_footer .content {
		padding-left: 10px;
	}
}
.footer{
    background-color: #242424;
}
.footer2 {
    width: 1190px;
    margin: 0 auto;
    height: 200px;
    background-color: #242424;
    margin-top: 100px;
    padding: 20px 0;
    font-size: 11px;
}
.footer2 .col {
    float: left;
    width: 200px;
}
.footer2 a {
    color: #fff;
}
.footer2 a:hover {
    color: #6288a5;
}
.reg {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
}
.reg h1 {
    text-align: center;
} 
.reg span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: gray;
    line-height: 12px;
}  
.reg input {
    width: 100%;
}
.reg input[type=checkbox] {
    width: 20px;
}
.reg input[type=submit], .reg input[type=button] {
    background: #000;
    color: #fff;
    border: none;
    padding: 7px;
}
.author-bar {
    color: #666;
    margin-bottom: 15px;
    font-size: 12px;
}
.author-bar span {
    margin-left: 20px;
}
@media (max-width: 768px) {
	.author-bar span {
		margin-left: 12px;
	}
}
.sidebar .author-bar {
    margin: 0;
}
span.first {
    margin: 0;
}
.edit {
    float: right;
    margin-top: -10px;
    display: none;
}
.edit span {
    margin: 0;
}
.edit a:hover {
    color: #b60000;
}
.post_prv:hover .edit {
    display: block;
}
.author-bar2-inside:hover .edit {
    display: block;
}
.article2 {
    position: relative; 
    padding-left: 180px;
    min-height: 500px;
    font: normal 20px/30px Georgia;
}

.article2 blockquote {
    margin-bottom: 20px;
    padding: 20px 0 20px 20px;
    display: block;
    clear: both;
    font: italic 15px/20px Arial;
}
.article2 ul, .article2 ol {
    margin-bottom: 20px;
}
.article2 p.ann {
    margin-left: 0;
    font-size: 20px;
    line-height: 24px;
}

.lid {
    display: block;
    margin: 10px 20px 10px 0;
    width: 250px;
    float: left;
    font-size: 11px;
    border-top: 1px solid #ccc;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid #ccc;
}
.lid hr {
    margin: 10px 0;
    width: 30px;
    background-color: #000;
}
.lid a {
    font-size: 16px;
}

input.big {
    padding: 30px 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: 655px;
    background-color: #fff;
    font-family: 'Roboto';
    border: 1px dashed #999;
}
input.big3 {
    border: 0;
    background-color: #6288a5;
    color: #fff;
    font-size: 12px;
    height: 40px; 
    line-height: 40px;
    padding: 0 20px;
}
input.big3:hover {
    background-color: #326891;
} 
input.big4 {
    border: 0;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    height: 50px;
    padding: 15px;
}
input.big:hover {
    border-color: #008ad3;
    color: #008ad3;
}
input.big2 {
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
    font-family: 'Roboto';
    border: 1px dashed #999;
    text-align: left;
    color: #008ad3;
}
.bar {
    color: #fff;
    background-color: #333;
    padding: 10px 15px;
}
.bar span {
    display: inline-block;
    background-color: #454545;
    padding: 5px 10px;
}
.underbar {
    background-color: #fff;
    margin-bottom: 20px;
}
.underbar a { 
    display: inline-block; 
}
.underbar img {
    display: inline-block; 
    width: 78px;
    height: 78px;
}
.userbar {
    background-color: #000; 
    color: #fff; 
    font-family: Roboto; 
    margin-bottom: 20px;
    height: 150px;
}
.userbar a {
    color: #fff; 
}
.userbar a:hover {
    color: #FFA500;
}
.userbar table.ust td {
     width: 50px;
     color: gray;
     overflow: hidden;
}
.userbar table.ust td span {
     font-size: 18px;
}
.userbar sup {
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    min-width: 14px;
    text-align: center;
    color: #fff;
    background-color: red; 
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.userbar .sq1 {
    padding: 5px 10px; background: #222;
}
.userbar .sq2 {
    background: #333; padding: 5px 10px;
}
.userbar .sq3 {
     padding: 5px 5px;
}
.red, a.red {
    color: #b60000;
}
.green {
    color: #6B8E23; 
}
.bg_red {
    background-color: #b60000;
}
.bg_green {
    background-color: #6B8E23; 
}
.inf {
    font-size: 12px;
    line-height: 18px;
    color: #ccc;
}
a.ava150 img {
    width: 150px; 
    height: 150px; 
    float: left; 
    margin-right: 20px;
}
.ava150 img {
    width: 150px; 
    height: 150px; 
}
.ava50 img {
    width: 50px; 
    height: 50px; 
    vertical-align: bottom;
}
img.ava40  {
    width: 40px; 
    height: 40px; 
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
}
.ava80 img {
    width: 80px; 
    height: 80px; 
    vertical-align: top;
    border-radius: 50%;
}

.ava80 figure {
	position: relative;
	float: left;
    margin-right: 20px;
}

.ava80 figure figcaption {
	position: absolute;
	bottom: 0;
	right: 0;
}

.ava80 figure figcaption img {
	width: 20px !important;
	height: 20px !important;
}

img.original, .original img {
    border-radius: 0 !important;
}
.clear {
    clear: both;
}
.sources input { 
    margin-bottom: 10px;    
}
span.marker {
    background-color: yellow;
}

a.ajx {
    border-bottom: dashed 1px #6288a5;
    text-decoration: none;
}
.category {
    font: normal 14px Arial;
    margin: 20px 0;
}
.category img {
    float: left;
    margin-right: 10px;
}

.mobile_ads {
	display: none;
	text-align: center;
    margin-bottom: 20px;
}
@media only screen and (max-width: 900px) {
	.mobile_ads {
		display: block;
	}
}

.comments {
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 40px 180px;
}
.comments img {
    float: left;
    margin-right: 10px;
}
.comments img.com_pic {
    float: none;
    display: block;
    margin: 5px 0;
}
.comments ul {
    list-style: none;
    margin-left: 0;
    font-family: Roboto;
}
.comments ul ul {
    margin-left: 60px;
}
.comments ul ul ul ul ul ul {
    margin-left: 0;
}
.comments li {
    position: relative;
    margin-bottom: 20px;
    clear: both;
    padding-left: 64px;
    line-height: 18px;
    min-height: 50px;
}
.comments li img {
    max-width: 100%;
}
.comments li.del {
    min-height: 0;
    color: #aaa;
}

.comments ul li a figure {
	position: relative;
}

.comments ul li a figure figcaption {
	position: absolute;
    left: 35px;
    top: 35px;
    width: 15px;
    height: 15px;
}

.comments ul li a img {
    position: absolute;
    left: -65px;
    
    width: 50px;
    height: 50px;
    
    -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;    
}
.comments ul li a figure figcaption img {
	width: 15px;
	height: 15px;
}
.comments textarea {
    width: 100%; height: 100px; padding: 10px;
    margin: 5px 0;
}
.comments ul form {
    display: none;
}
.comments .pictures {
    width: 500px; 
    display: none;
}
.comments input[type=submit] {
    float: right;
}
.ratings a {
    color: gray;
}
.ratings a.b {
    color: #008ad3;
}
.ratings a:hover {
    color: #008ad3;
}
span.mdr {
    float: left;
    display: inline-block;
    background-color: #008ad3;
    color: #fff;
    margin: 5px 10px 0 0;
    font: normal 12px Roboto;
    padding: 5px 10px; 
}
span.mdr2 {
    float: left;
    display: inline-block;
    background-color: #333;
    color: #fff;
    margin: 5px 10px 0 0;
    font: normal 12px Roboto;
    padding: 5px 10px; 
}
span.mdr3 {
    float: left;
    display: inline-block;
    background-color: #b60000;
    color: #fff;
    margin: 5px 10px 0 0;
    font: normal 12px Roboto;
    padding: 5px 10px; 
}
.show {
    display: block;
}

.f11 {
    font-size: 11px;
    line-height: 14px;   
    color: #999; 
}
.f10 {
    font-size: 10px;   
    color: #aaa; 
}
.f9 {
    font-size: 9px;
    line-height: 12px;   
}
.adv {
    text-align: center; 
    background-color: #f7f7f7;
}
.adv img {
    display: block;
    margin: 0 auto;
}
.adv2 {
    position: absolute;
    width: 160px;
    font-size: 13px;
    top: 0;
    left: 0;
    font-family: Arial;
}
.profile {
    width: 390px;  
}
.w770 {
    width: 770px;  
}
.w860 {
    width: 860px;  
}
.w700 {
    width: 700px;  
}

.top .nav-pills {
	margin-top: 20px;
}

.top .nav-pills li {
	margin-right: 10px;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}
.top .nav-pills li a {
	background: #ecedef;
	color: #6a6a6a;
	padding: 7px 20px !important;
	font-size: 14px;
}
.top .nav-pills li.active a {
	background: #6288a5;
	color: #fff;
}
.topblogs h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000;
}
.topblogs table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 
}
.topblogs td {
    font: normal 15px Roboto;
    padding-bottom: 10px;
}
.topblogs td.karma {
    font: normal 18px Roboto;
    text-align: right;
}
.topblogs span {
    font-size: 10px;
}
.topblogs .topava {
    width: 55px;
}
.topblogs .topava img {
    width: 45px;
}
.topblogs a {
    color: #000;
    font: 300 16px Roboto;
}
.topblogs .nav {
    font-size: 12px; 
}
.topblogs .nav a.active {
    color: #999; 
    background-color: #fff; 
}
table.all  {
    width: 100%;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}
table.all td {
    width: 50%;
}
table.all div {
	padding: 3px 5px;
	border-radius: 4px;
}
table.all div:hover {
	background: #ecedef;
}
table.all div.top20 {
    float: right;
    margin-right: 20px;
    padding: 0;
}
table.all div.top20:hover {
	background: none;
}
table.all span.red {
    color: #b60000;
    font-size: 10px;
    line-height: 10px;
    vertical-align: middle;
}
table.all span.green {
    color: #6B8E23;
    font-size: 10px;
    line-height: 10px;
    vertical-align: middle;
}

.h11 {
    width: 450px;
    height: 80px;
    margin-top: 20px;
    float: left;  
    font-size: 14px;  
}
.h11 img.img {
    float: left;
    margin-right: 20px;
    width: 80px; 
}
.h12 {
    width: 370px;
    height: 83px;
    margin-top: 17px;
    line-height: 83px;
    float: left;
    text-align: right;
    font-size: 12px;
}
.h13 {
    width: 370px;
    height: 78px;
    margin-top: 22px; 
    line-height: 78px;
    float: left;
    text-align: right;
    font-size: 16px;
}
.h21 {
    width: 450px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 14px;
}
.h22 {
    width: 370px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: right;
    font-size: 14px;
}
.h22 span a {
    color: #bbb;   
    text-decoration: none;
}
.h22 span a:hover {
    color: #fff;   
}
.h22 span a.sel {
    color: #fff;   
}
.h23 {
    width: 370px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: right;
}
.h23 img {
    display: inline-block;
    float: right;
    height: 50px;
}
.h23 a.allz {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
}
.h31 {
     background: url(/images/z.png);
     font-size: 12px;
     position: absolute;
     height: 20px;
     top: -20px;
     right: 0;
     padding: 0 10px;
}
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f21 {font-size: 21px;}
.ml10 {margin-left: 10px;}
.mr10 {margin-right: 10px;}
.ml20 {margin-left: 20px;}
.mr20 {margin-right: 20px;}
.userhead {
    width: 1190px; 
    margin: 0 auto; 
    color: #fff; 
    position: relative;
}
.userhead3 {
    height: 150px; 
    background: url(/images/z.png);
}
.userhead a {
    color: #fff;
}
.userhead a:hover {
    color: #bbb;
}
.line2 {
    border-bottom: solid 2px #fff;
}
.sms {
    float: left; 
    margin-right: 60px;
}
.chat {
    width: 650px; 
    min-width: 300px;
    float: left; 
    background-color: #fff;
}
.chat_form {
    padding: 50px;
    padding-top: 20px; 
    width: 650px; 
    background-color: rgb(238,238,238);
    position:  relative;
}
.sms2 {
    position: relative;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
}
.smsgo {
    position: absolute; 
    right: 50px; 
    bottom: 34px;
    width: 86px;
    height: 30px;
    background-color: #fff;
    border: solid 1px silver;
    font: normal 12px Roboto;
}
.smsline {
    width: 260px;
    margin: 0 0 20px 0;
}
.smscount {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font: normal 16px/26px Roboto;
    text-align: center;
    color: #fff;
    background-color: #898a8c;
    border-radius: 13px;
    margin-right: 15px;
}
.smsred {
    background-color: #bf0014;
}
.dialog {
    display: block;
    background-color: #fff; margin: 0 20px 20px 0; padding: 10px; line-height: 50px;
}
.dialog img {
    width: 50px;
    height: 50px;
}
.flw2 img {
    display: inline;
    width: 50px;
    line-height: 50px;
    margin-right: 10px; 
}
.btn1 {
    padding: 10px 20px;
    width: 200px;
    background-color: #fff;
    font-family: 'Roboto';
    border: 1px dashed #999;
    text-align: center;
    color: #999;
}
.btn1:hover {
    border: 1px dashed #008ad3;
    color: #008ad3;
}
.sbs:hover {
    color: #b60000;
    border: 1px dashed #b60000;
}
.fr {
    float: right;
}
.sy {
    position: absolute;
    right: 20px
}
.sy a {
    position: relative;
    margin-left: 10px; 
}
.sy a span {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #bd0926;
    display: block;
    text-align: center;
    height: 11px; 
    min-width: 11px;
    line-height: 11px;
    font-size: 8px;
    color: #fff;
    border-radius: 5px;
}
.sy2 {
    float: left;
    line-height: 16px;
    margin: 10px 0 0 10px;
}
.sy2 a {
    margin-left: 0; 
}
a.flash {
    display: block;
    background-color: #000;
    text-align: center;
    color: #fff;
    font: normal 30px/90px Roboto;

}
a.flash:hover {
    color: #b60000;
}
#allrec,#allrec2 {
    position: absolute; right: 0; top: 35px; padding: 5px; font: normal 10px/12px arial; width: 200px; border: solid 1px silver; background-color: #fff;
    text-align: left;    
    display: none; 
    z-index: 66666;
}
#allrec2 {
    left: 0; 
    top: 25px;
    z-index: 66666;
}
.advline {
    text-align: center; 
    background-color: #f6f6f6; 
    padding: 20px 0;
    margin-bottom: 40px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
a.addpost {
    float: left;
    border: solid 1px #fff;
    margin-right: 10px;
    display: block;
    height: 35px; 
    line-height: 35px;
    padding: 0 10px;
    margin-top: 7px;
    border-radius: 5px;
}
.rss {
    float: left;
    width: 370px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 12px;
    min-height: 50px;
    color: #999;
}
.rss a {
    color: #222;    
}
.promo2, .promo {
    float: right;
    background-color: #6288a5;
    color: #fff;
    padding: 3px 12px;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 0;
    margin-top: 6px;
    letter-spacing: 2px;
}
.promo2 i {
	color: #c0cfdb;
	color: rgba(255,255,255,0.7);
}
a.promo2:hover {
	background-color: #326891;
	color: #fff;
}
a.promo2:hover i {
	color: #c0cfdb;
	color: rgba(255,255,255,0.7);
}
@media (max-width: 768px) {
	.promo2, .promo {
		padding: 2px 6px;
		font-size: 10px;
		letter-spacing: 1px;
	}
}
.promobar .promo2 {
    font: 12px/30px Roboto;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 0;
}
.promo22 {
    background: #eeeee0;
}
.dark .promo2 {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -60px;
    text-align: center;
}
#overlay {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 99;  
    display: none;
}
#mod_login {
    display: none;
    top: 100px;
	left: 50%;
	width: 800px;
    background-color: #fff;
    height: 320px;
	position: fixed;
	margin-left: -380px; 
    z-index: 50001;
}
#mod_reg, #mod_clu, #mod_comm_noreg {
    top: 100px;
	left: 50%;
	width: 800px;
    background-color: #fff;
    height: 600px;
	position: fixed;
	margin-left: -380px; 
    z-index: 50001;
    display: none;
}
.comm-noreg-mod{
    height: 110px !important;
    padding: 20px;
    text-align: center;
    font-family: Roboto;
    border-radius: 5px;
    top: 40% !important;
    display:none;
}
#mod_clu {
    height: 300px;  
}
#mod_edit{
    display: none;
    bottom: 100px;
	left: 50%;
	width: 800px;
    background-color: #fff;
    height: 320px;
	position: fixed;
	margin-left: -380px; 
    z-index: 50001;
}
.close {
    position: absolute; 
    top: 10px; 
    right: 20px;
    font-size: 12px;
}
.likes a, span.likes {
    display: inline-block;
    height: 20px;
    text-align: center;
    color: #666;
    font: normal 10px/20px Roboto;
}
.likes a:hover {
    color: #326891;
}
.commtext {
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
}
.newcomt {
    position: absolute;
    top: 20px;
    left: -25px;
    background-color: #bd0926;
    display: block;
    text-align: center;
    height: 11px; 
    min-width: 11px;
    line-height: 11px;
    font-size: 8px;
    color: #fff;
    border-radius: 5px;
}
.fly {
    display: none;
}
li:hover .fly {
    display: inline-block;
}
li .likes a.fly {
    display: none;
}
li:hover .likes a.fly {
    display: inline-block;
}
.tag {
    font-size:12px;
    background-color: #eee;
    color: #666;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 5px 10px 0px;
    cursor:pointer;
    border-radius:5px;
    line-height: 22px;
}
.tag:hover {
	background-color: #6288a5;
	color: white;	
}
.topblogs {
	margin-top:30px;
}
.ann2 {
width: 180px;
font-size: 14px;
line-height: 18px;
font-family: 'Roboto';
color: #999;
position: absolute;
left: 0;
top: 0;
}
input#title {
font: normal 42px Roboto;
margin-top: 0px;
}
.ann2 h1 {
font-size: 21px;
margin-top: 0;
}
.article {
background-color: #fff;
padding: 0;
min-height: 700px;
}
a.br2, a.br1 {
    color: #fff;
    background-color: #242424;  
    float: right;
    font: 700 12px Roboto;
    line-height: 40px;
    padding: 0 20px;
}
a.br2 {
    border-right: solid 1px #000;
    border-radius: 5px 0 0 5px;   
}
a.br1 {
    border-left: solid 1px #333;
    border-radius: 0 5px 5px 0;   
}
a.br2:hover, a.br1:hover {
    color: #fff;
    background-color: #326891;  
}
.statext {
    font: normal 14px Roboto;
    margin-top: 10px;
}
a.getfav {
    float: left; 
    margin: 3px 0;
    color: #6288A5;
    background-color: #eee;
}
a.getfav:hover {
    color: #326891;
    background-color: #eee;
}
a.fav {
    color: #326891;
}
figure {
    font-size: 12px;
    font-style: italic;
    color: #aaa;
    text-align: left;
}
.sys {
    position: relative;
    border-top: solid 1px #ccc;
    padding-top: 20px;
    margin-left: 180px;
}
.sys .big3 {
    background-color: #242424;
}
.sys_login {
    font: 700 24px Roboto;
}
.poll {
    margin: 80px 0 0 180px;   
    line-height: 40px;
}
.poll a.read3 {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 3px 0 0;
}
.poll span.c {
    margin-left: 5px;
    font: 300 40px Roboto;
    line-height: 40px;
}
.poll .poll_get a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 3px;
    text-align: center;
    vertical-align: top;
    border-radius: 5px;
}
.poll .fix2 {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #eee;
    margin-right: 3px;
    text-align: center;
    vertical-align: top;
}
.poll .my {
    background-color: #242424;  
    border-radius: 5px; 
}
.poll_get {
   display: inline-block;
}
.poll_get a {
    background-color: #ccc;   
    color: #fff; 
}
.poll_get a:hover {
    background-color: #6288a5;   
}
.promobar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 998;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}
.postbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 998;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0;
}
.postbar .poll_get {
   position: absolute;
   right: 330px; 
}
.postbar .poll_get a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    background-color: #ccc;
}
.postbar .poll_get a:hover {
    background-color: #6288a5;
}
.postbar .postbar2, .promobar2 {
    float: left;
    margin-right: 20px;
}
.postbar2 img, .promobar2 img {
    height: 30px;
    padding: 0;
    border-radius: 50%;
}
.postbar2 img.original, .promobar2 img.original {
    border-radius: 0;
}
.postbar2 a, .promobar2 a {
    width: auto;
    height: 30px;    
    color: #242424;
    font: normal 14px/30px Roboto;
}
.postbar a.postbar2_getsub, .promobar2 a.postbar2_getsub {
    display: inline-block;
    border: solid 1px #ccc;
    font: 700 12px/30px Roboto;
    margin-left: 15px;
    border-radius: 5px;
    padding: 0 10px;
}
.postbar a.postbar2_getsub:hover, .promobar2 a.postbar2_getsub:hover {
    color: #fff;
    background-color: #6288a5;
}
.promobar2 span {
    display: inline-block;
    background: #242424;
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    margin-right: 10px;
    letter-spacing: 1px;
}
.postbar .fix2 {
    height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 12px;
}
.postbar .my {
    background-color: #ccc;   
}
.postbar span.c {
    margin-left: 5px;
    font: normal 30px Roboto;
    line-height: 30px;
}
.postbar a.read3 {
    width: 30px;
    height: 30px;
    font-size: 12px;
    background-color: #ccc; 
    padding: 0;
}
.postbar a.fav {
    background-color: #326891;
    color: #fff;
}
.uptolike { 
    float: right;
}
.uptolike a.read3 { 
    font-size: 16px;
    border-radius: 0;
}
#uptolike ul { 
    padding: 0 !important;
    margin: 0 !important;
}
.postbar #uptolike li { 
    padding: 0 !important;
    margin: 0 3px 0 0 !important;
    height: 30px !important;
    line-height: 30px !important;
    text-align: center !important;
}
.postbar #uptolike li a { 
    width: 30px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 24px !important;
    line-height: 30px !important;
    height: 30px !important;
}
.postbar #uptolike li span { 
    line-height: 30px !important;
    height: 30px !important;
}
.author-bar2 {
    width: 100%;

    border-bottom: solid 1px #fff;
    background-size: 100%;
    background-position: 50% 50%;
    margin-bottom: 20px;
}
.dark {
    background: none;
}
.author-bar2-inside {
    width: 710px;
    color: #ccc;
    font-size: 12px;
    margin:  150px auto 0;
}
.author-bar2-inside span {
    margin-left: 20px; 
    margin-right: 5px;  
}
.author-bar2-inside span.first {
    margin-left: 0;   
}
.author-bar2-inside a {
      
}
.author-bar2-inside textarea {
    background-color: transparent; 
    width: 710px; 
    border: none; 
    padding: 0;
    font: 300 42px Roboto; 
    margin: 0 auto;
    color: #000;     
}
.wallpaper {
    background: none;
}
.wallpaper .dark {
    background: url(/images/z.png);

}
.wallpaper .author-bar2-inside, .wallpaper .author-bar2-inside a, .wallpaper .author-bar2-inside textarea {
    color: #fff;
}
.wallpaper .author-bar2-inside {
    padding: 170px 0;
    margin: 0 auto;
}
.wallpaper #allrec {
    background-color: #000;
}
#wp {
    background-size: 100%;
    background-position: center;
}
.author-bar2 .plus {
    width: 1190px;
    padding-left: 150px;
}
.minus .author-bar2-inside {
    color: #666;
    padding: 0 330px 0 180px;
    width: 1190px;
    margin: 20px auto;
}
.plus .author-bar2-inside {
    padding-left: 180px;
    padding-right: 310px;
    width: 1190px;
}
.adv3 {
    font: normal 14px Arial;
    margin-left: -9px;
}
.recm {
    position: relative;
    float: right; 
    text-align: right; 
    line-height: 14px;
}
.recm span {
    margin: 0;
}
.recm2 {
    position: relative; 
    margin: 0 0 40px 180px; 
    width: 500px
}
.recm3 {
    float: right;
    line-height: 14px;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: left; 
    font-size: 8px;
    min-width: 120px;
}
.recm3 a {
    margin: 0;
    font-size: 11px;
}
.recm3 span {
    float: right; 
    font-size: 14px;
    margin-top: 5px;
}



button.login,
a.m_login {
	background: none;
	border: none;
	letter-spacing: 2px;
	margin-right: 20px;
}

button.login:hover {
	color: #6288a5;
}

a.m_login {
	margin-right: 0;
}

@media screen and (min-width: 787px) {
    button.login {
		display: inline-block;
	}
	a.m_login {
		display: none;
	}
}

@media screen and (max-width: 786px) {
    button.login {
		display: none;
	}
	a.m_login {
		display: inline-block;
	}
}



.bl {
    background-color: #6288a5;
    border: solid 1px #6288a5;
    padding: 5px 12px;
    border-radius: 3px; 
    line-height: 1;
    letter-spacing: 2px;
}
.bl:hover {
    background-color: #fff;
    border-color: #fff;
    color: #6288a5;
}

@media screen and (min-width: 787px) {
    button.newreg {
		visibility: visible;
	}
	a.m_newreg {
		display: none;
	}
}

@media screen and (max-width: 786px) {
    button.newreg {
		display: none;
	}
	a.m_newreg {
		visibility: visible;
	}
}

a.fa-ellipsis-v {
	font-size: 14px;
	position: relative;
    top: 1px;
    padding: 0 5px;
}

.frm_line {
     border: none; 
     background-color: transparent; 
     border-bottom: solid 1px black;
}
a.s_a, a.s_na {
    display: inline-block;
    line-height: 20px;
    background-color: #326891;
    border-radius: 4px;
    margin-right: 10px;
    color: #326891;
    padding: 1px;
}
a.s_a span, a.s_na span  {
    float: left;
    width: 35px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    text-align: center;
    font-size: 11px;
    margin-right: 25px;
}
a.s_na {
    background-color: #648cac;
}
a.s_na span {
    width: 35px;
    margin-left: 25px;
    margin-right: 0;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
}
a.chb {
    margin-right: 10px; 
}
a.chb span {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    height: 20px;
    border: solid 1px #648cac;
}
a.chb span.chb0 {
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    color: #648cac;
    width: 35px;
}
a.chb span.chb1 {
    background-color: #648cac;
    border-radius: 4px 0 0 4px;
    color: #648cac;
    width: 25px;
}
a.chb_check span.chb0 {
    background-color: #326891;
    border-radius: 0 4px 4px 0;
    color: #326891;
    border: solid 1px #326891;
    width: 25px;
}
a.chb_check span.chb1 {
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    width: 35px;
}
.clu_head {
    position: relative;
    height: 400px; 
    text-align: center;
    margin-bottom: 50px;
}
.clu_head span {
    position: absolute;
    bottom: 0;
    margin-left: -107px; 
    display: inline-block;
    background-color: #fff;
    font: normal 14px/34px Roboto; 
    padding: 0 20px;
}
.clu_head a {
    margin-left: 20px;
}
.header_menu .list-inline {
	margin-left: -10px;
}
.header_menu .list-inline > li {
	padding: 0;
}
.header_menu .list-inline > li a {
    display: block;
    padding: 0 10px;
}
.header_menu .list-inline > li a:hover {
    background: #333;
}
.header_menu .list-inline > li > a span.glyphicon-option-horizontal {
	margin-bottom: 0;
}
.header_menu a {
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}
span.news_alert {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #666;
  display: block;
  text-align: center;
  height: 11px;
  min-width: 11px;
  line-height: 11px;
  font-size: 8px;
  color: #fff;
  border-radius: 5px;
} 
.user_menu, .user_all {
    display: none;
    position: absolute;
    right: 125px;
    background-color: #f6f6f6;
    width: 140px;
    padding: 15px;
    border-radius: 5px;
    line-height: 20px;
    margin-top: 5px;
    text-align: left;
}
.user_menu a, .user_all a {    
    display: block;
    font: normal 12px Roboto;
    margin: 0;
    padding: 10px 0;
    color: #000;
}
.user_menu hr, .user_all hr {
    width: 50%; 
    margin: 10px 0;
}
.user_all {
    right: -10px;
}
a.w50 {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin: 0;
}
a.w30 {
    width: 20px;
    font-size: 14px; 
    text-align: right; 
    margin: 0;
    position: relative;
    top: 2px;
}
.w20 {
    display: inline-block;
    width: 20px;
}
.sy a.w50 span {
    top: 14px; 
    right: 10px;
}
pre {
    border: none;
}
.sidebar hr {
    width: 50%;
    margin: 20px auto;
}




a:hover.mycomments-link i,
a:hover.msg i {
	color: #6288a5;
}

.header a.active i {
	color: #fff;
	color: rgba(255,255,255,0.9);
}

.msg i {
	font-size: 18px;
	position: relative;
    top: 1px;
}

.mycomments-link i {
	position: relative;
    top: 5px;
}

.mycomments-link,
.msg {
	line-height: 40px;
}

.mycomments-link figure,
.msg figure {
	position: relative;
	text-align: center;
	font-size: 11px;
}

.mycomments-link i,
.msg i {
	color: #fff;
	color: rgba(255,255,255,0.9);
    font-size: 18px;
}

.mycomments-link figure figcaption,
.msg figure figcaption {
	background:  #c32323;
	background: rgba(195,35,35,0.8);
	color: #fff;
	color: rgba(255,255,255,0.8);
	text-align: center;
	font-style: normal;
	line-height: 1;
    padding: 2px 4px;
    font-size: 9px;
    border-radius: 8px;

	position: absolute;
	top: 2px;
	right: 4px;

	display: none;
}




.inviteBox {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	padding: 20px 0 0 80px;
    margin: 0 0 40px 0; 
    max-width: 655px;
    height: 120px;
    color: #fff;
    background: url(/images/bnr7.jpg) no-repeat #4aacde;
}
.inviteBox div{
    margin-top: 5px;
	display:inline-block; 
	background-color: #232323;
	color: white;
	border-radius: 5px;
	padding: 7px 25px;
	cursor: pointer;
}
.invite2 {
background: url(/images/bnr8.jpg) no-repeat #4aacde;
}
.invite2 .inviteBox {
    background: none;
    border: none;
    max-width: 1060px;
    background-position: right;
    margin: 0 auto 40px; 
}
.inviteBox3 {
    width: 655px;
    font-family: Roboto;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: solid 1px #bbb;
}
.inviteBox3 h2 {
    background: none;
    padding: 0;
    color: #000;
    font-size: 34px;
}
.inviteBox3 a {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    color: #fff;
    font: normal 14px Roboto;
    border: solid 1px #6288a5;
}
.inviteBox3 a:hover {
    color: #6288a5;
    border: solid 1px #6288a5;
}
.inviteBox3 a {
    background-color: #6288a5;
    border: solid 1px #6288a5;
    color: #fff;
    padding: 10px 10px;
    border-radius: 3px; 
}
.inviteBox button{
    margin-top: 8px;
    display:inline-block;
    background-color: #232323;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    cursor: pointer;
    border: none;
}
.inviteBox button:hover{
    background-color: #303030;
}
.inviteBox3 a:hover {
    background-color: #326891;
    color: #fff;
}
.inviteBox3 a.ib2 {
    background-color: #fff;
    border: solid 1px #ccc;
    color: #999 ;
    padding: 10px 10px;
    border-radius: 3px; 
}
.inviteBox3 a.ib2:hover {
    border: solid 1px #666;
    color: #999;
}
.ml150  {
    margin-left: 150px;
}
.ml150 div {
    margin-top: 10px;
}
a.mob, .mob {
    display: none;
}
.userhead2 {
    margin-bottom: 20px;
}
.mod .mod_2 {
    font-size: 12px;
    float: left; 
    width: 460px;  
    min-height: 516px;
    padding: 70px;
}
.mod input {
    width: 100%;  
}
.norm {
    font-size: 14px;
    text-align: center;
    margin-top: 150px;
}
.mod ul {
    margin-left: 20px;
    list-style-image: url(/images/li.png);
}
.mod h2 {
    font-size: 12px;
}
.mod li {
    margin-bottom: 5px;
}
#mod_reg2 {
    top: 100px;
	left: 50%;
	max-width: 800px;
    background-color: #fff;
	position: fixed;
	margin-left: -380px; 
    z-index: 50001;
    display: none;
    border-radius: 10px;
}
.userhead_mob {
    display: none;
}
.mb20 {
    margin-bottom: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
#Ya_sync_0, #Ya_sync_1, #Ya_sync_2 {
    max-width: 655px;
}
a#mychat {
    display: block;
    font-size: 25px; 
    line-height: 30px;
    margin-bottom: 30px;
}
.t_mdr {
    position: relative;
    display: inline-block;
    background-color: #b60000;
    color: #fff;
    font-size: 8px;
    line-height: 11px;
    padding: 1px 4px 1px 6px;
    border-radius: 3px; 
    top: -3px;
    margin-left: 20px;    
    text-transform: uppercase;
    letter-spacing: 1px;
}
.fixchat{
    position: fixed;
    top: 50px; 
    margin-left: 360px;
}
.fixchat2 {
    position: absolute;
    bottom: -40px; 
    margin-left: 360px;
}
img.ava502 {
    height: 40px;
    width: 40px;
    float: left;
    margin: 0 10px 0 0;    
}
.topava {
    font: normal 14px Roboto;
    height: 60px;
	
}
.sms-date {
	font-size:10px;
	margin-right: 50px;
}
.sms-text {
	margin-top:10px;
	padding-left:50px;
	margin-bottom:0;
    max-width: 500px;
}
.dialog-avatar {
	padding-bottom: 0;
	padding-left: 10px;
    height: 60px;
	width: 60px;
}
.dialog-info {
	font: normal 14px Roboto;
}
.dialogs a {
	color: #000;
}
.more-dialogs {
	background: #fff;
	border: 1px dashed #ccc;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}
.more-messages {
	background: #fff;
	border: 1px dashed #ccc;
	padding: 5px;
	margin: 0px 0px 15px 50px;
	width: 200px;
	text-align: center;
	cursor: pointer;
	font-size: 10px;
	margin-left:20px;
}
.unreaded-messages {
	width: 24px;
	height: 18px;
	border-radius: 100px;
	font-size: 10px;
	background-color: #b60000;
	color: #fff;
	text-align:center;
	line-height: 18px
	
}
.karma {
	position:relative;
	width: 50px;
}
.smsdel {
	position: absolute;
    right: 0;
    top: -4px;
    display: none;
    font-size: 14px;
	padding: 3px;
}
.smsban {
	position: absolute;
    right: 17px;
    top: -4px;
    display: none;
    font-size: 13px;
	padding: 3px;
}
.fa-close {
	color: #666;
}
.unreaded {
	background-color:  #F0F8FF;
	
}
.dialogs tr {
	cursor:pointer;
}
.sms2 {
	margin-bottom: 0;
	padding-top:3px;
	padding-bottom:3px;
}
.chatname {
font: normal 14px/30px Roboto;
margin-bottom: 30px;
text-transform: uppercase;
}
.smsdel2 {
	position: absolute;
	right: 0;top: 0;
	font-size: 10px;
	height: 100%;
	display: none;
	cursor:pointer;
	margin-right: 10px;

}
.available-dialogs {
	font: normal 14px/30px Roboto;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.tt {
    position: absolute;
    display: none;
    width: 150px;
    margin-top: -50px;
    margin-left: 320px;
    font-size: 12px;
    line-height: 16px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.tt::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    border: 5px solid transparent;
    border-right: 5px solid #eee;
}
.tte {
    color: #b60000;
}
.redbrd {
    border: 1px solid #b60000 !important;
}

#modal_reg h3 strong {
    font-weight: normal;
    font-size: 20px;
}
.reg_fav {
    position: relative;
    float: left;
    width: 32%;
    min-width: 300px;
    margin-right: 1%;
    height: 150px;
    overflow: hidden;
}
.reg_fav img {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.reg_fav .btn1 {
    width: 100px;
    padding: 5px;
    font-size: 12px;
}
.reg_statext {
    height: 46px;
    overflow: hidden; 
    font: normal 12px/16px Arial;
}
.glyphicon-minus-sign {
    color: #b60000;
}
.glyphicon-plus-sign {
    color: #008ad3;
}
.clusters_reg {
    margin-bottom: 40px;
}
.clusters_reg a {
    float: left;
    display: inline-block;
    height: 250px;
    width: 130px;
    margin-left: 2px;
    background-size: cover;
    margin: 0 10px 10px 0;
    border-radius: 4px;
}
.clusters_reg div {
    max-width: 100%;
    background-color: #fff;
    margin: 0 auto;
}
.clusters_reg a#clu12287 {
    background-image: url(/images/clu1.png); 
}
.clusters_reg a#clu7248 {
    background-image: url(/images/clu2.png); 
}
.clusters_reg a#clu12288 {
    background-image: url(/images/clu3.png); 
}
.clusters_reg a#clu12289 {
    background-image: url(/images/clu4.png); 
}
.clusters_reg a#clu12282 {
    background-image: url(/images/clu5.png); 
}
.clusters_reg a#clu18231 {
    background-image: url(/images/clu6.png); 
}
.clusters_reg a#clu50976 {
    background-image: url(/images/clu9.png); 
}
.clusters_reg a#clu51717 {
    background-image: url(/images/clu10.png); 
}
.clusters_reg a#clu51707 {
    background-image: url(/images/clu11.png); 
}
a.clusters_active {
    background-position: right;
}
.ig1 {
    margin: 0 auto 30px auto;
    text-align: center;
}
.ig1 img {
	margin-bottom: 10px;
}
.ig1 button {
	width: 152px;
}
.ig2 {
    float: right; 
    width: 1000px;
}
#get_reg {
    width: 200px;
    font-size: 12px;
    background-color: #242424;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}
.progress1 {
    margin-top: 10px;
    float: right;
    width: 300px;
    background-color: #f1f1f1;
}
.progress2 {
    width: 25%;
    background-color: #dee5eb;
    color: #8BA1BC;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
}
.contest {
    padding: 40px 0 0 0 ;
    width: 500px; 
    float: left; 
    color: #fff; 
    font: normal 14px Roboto;
}
.contest h3 { 
    font: bold 24px Roboto;
}
.contest a {
    color: #36a9e1;
}
.contest input {
    color: #000;
    border: none;
    padding: 20px 30px;
    border-radius:  10px 0 0 10px;
    width: 300px; 
    display: inline-block !important;
}
.contest button {
    background-color: #1d70b8;
    padding: 20px 30px;
    border: none;
    border-radius:  0 10px 10px 0;
    border-bottom: solid 5px #0d4062;
}
.contest .tte {
    margin-top: -90px;
    margin-left: 480px;
}
.yota {
    float: left; margin: 60px 0 0 100px;
}
.contest33 {
    width: 33%;
    margin-top: 60px;
    margin-bottom: 60px;
    float: left;
    text-align: center;
    height: 400px;
    position: relative;
}
.contest33 > div {
    position: absolute;
    bottom: 0;
}
.contest33 a {
    background-color: #be1521;
    border: none;
    color: #fff;
    padding: 20px 30px;
    border-radius:  10px;
    border-bottom: solid 5px #81161a;
    font-size: 18px;
    margin-top: 20px;
    display: block;
}
.contest33 h3 {
    margin: 0;
    padding: 0;
    font: bold 21px Roboto;
}
.contest2 {
    position: relative;
    padding-left: 400px;
    min-height: 400px;
}
.contest2 .img {
    position: absolute;
    top: 0;
    left: 0;
}
.contest3 {
    background: #042a3a url(/images/invite_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    margin-bottom: 60px;
    padding-top: 180px;
    padding-bottom: 180px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}
.contest3 .content {
    text-align: center;
}
.contest3 h2 {
    padding-top: 0;
    display: block;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}
.contest3 strong {
    color: #8bd2f5;
}
.contest3 p.text-center {
	color: #fff;
	color: rgba(255,255,255,0.8);
}

.contest5 {
    width: 720px;
    margin: 50px auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.7);
    padding: 40px 20px;
    border-radius: 10px;
}
.contest5 p {
	margin-bottom: 10px;
}
.contest5 input {
    color: #000;
    border: none;
    padding: 20px 30px;
    border-radius:  10px 0 0 10px;
}
.contest5 button {
    background-color: #1d70b8;
    padding: 20px 30px;
    border: none;
    border-radius:  0 10px 10px 0;
    border-bottom: solid 5px #0d4062;
}
.contest5 .form-group {
	margin-bottom: 30px;
}

ul.social-icons-s {
	margin-top: 15px;
}

ul.social-icons-s li {
	margin: 5px;
}

ul.social-icons-s li a {
	color: #eee;
	color: rgba(255,255,255,0.7);
	font-size: 22px;
}

ul.social-icons-s li a:hover {
	color: #fff;
}

.contest_header{
    float: left;
    position: relative;
}
.contest_header a.get_inv {
    margin-right: 10px;
    display: inline-block;
    height: 35px; 
    line-height: 35px;
    padding: 0 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #326891;
    float: left;
    margin-top: 7px;
}
.contest_header a.get_inv:hover {
    background-color: #6288a5;
}

.contest_header a.get_cont {
    display: inline;
    font-size: 20px;
    float: left;
    margin: 0 10px;
}
.contest_header a.get_cont small {
	font-size: 16px;
}
.contest_header sup {
    display: inline-block;
    position: absolute;
    top: 3px;
    font-size: 8px;
    background-color: #DBA901;
    color: #000;
    width: 14px;
    line-height: 14px;
    border-radius: 50%;
    text-align: center;
}
.contest_main {
    position: relative;
    height: 300px;
    background: url(/images/bnr_cnt.png) no-repeat;
    margin-bottom: 40px;
}
.contest_main a {
    position: absolute;
    top: 185px;
    left: 83px;
    background-color: #e6342a;
    border: none;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    border-bottom: solid 5px #81161a;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}
.reg_fav .glyphicon-envelope {
    padding: 10px;
    font-size: 11px;
    display: inline-block;
    border: dashed 1px #999;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
}
a.bnr_top {
    display: block;
    height: 120px;
    background: url(/images/bnr_top.jpg) no-repeat center;
}
.set_nav {
    margin-bottom: 40px;
    text-align: center;
    border-bottom: solid 1px #000;
}
.set_nav a {
    display: inline-block;
    line-height: 40px;
    color: #000;
    padding: 0 20px;
    margin: 0 20px;
    border-radius: 10px 10px 0 0;
}
.set_nav a:hover {
    background-color: #ccc;
}
.set_nav a.active {
    background-color: #000;
    color: #fff;
}
.fill {
    position: relative;
    min-height: 650px;
    background-color: #3db7e7;
    text-align: center;
    font-family: Roboto;
    font-size: 19px;
    color: #fff;
    border-top: solid 1px #fff;
    margin-bottom: 80px;
    overflow: hidden;
}
.fill h2 {
    font: bold 45px/55px Roboto;
    color: #fff;
    margin: 200px auto 0;
    max-width: 1200px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.promo3 {
    background-size: cover;
}
.fill h3 {
    font: bold 50px/60px Roboto;
    color: #fff;
    margin: 200px auto 0;
    max-width: 1200px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.promo3 h3 {
    margin: 20px auto;
}
.fill a {
    display: inline-block;
    margin: 2px auto;
    line-height: 60px;
    width: 280px;
    text-align: center;
    color: #fff;
    background-color: #575756;
    border-radius: 10px;
    border-bottom: solid 4px #3c3c3b;
}
.fill a.read3 {
    width: 80px;
    margin-left: 20px;
    font-size: 20px;
}
.fill a.fav {
    background-color: #326891;
}
.fill input {
    color: #000;
    border: none;
    padding: 20px 30px;
    border-radius:  10px 0 0 10px;
    width: 300px; 
    display: inline-block !important;
}
.fill button {
    background-color: #1d70b8;
    padding: 20px 30px;
    border: none;
    border-radius:  0 10px 10px 0;
    border-bottom: solid 4px #0d4062;
}
.fills {
    margin: 40px 0 0 0;
}
.fills2 {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    font-size: 12px;
    width: 50%;
    left: 50%; 
    margin-left: -25%;
}
.fill_author {
    margin-top: 200px;
}
.fill_author a {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    border: 0;
    line-height: 30px;
    width: auto;
    margin-left: 20px;
}
.fill_author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.promo3 .dark {
    border-top: solid 1px #fff;
    background: url(/images/z.png);
    min-height: 650px;

}
.promo3 a.read {
    background-color: #1d70b8;
    padding: 5px 30px;
    font-size: 20px;
    border: none;
    border-radius:  10px;
    border-bottom: solid 4px #0d4062;  
}
.alert2 {
    display: block;
    background-color: #000;
    color: red;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}
.moneta {
    color: #666;
    margin-right: 5px;
}
.promo3_s {
    float: right;
    position: relative;
    text-align: right;
    margin-top: 10px;
}
.promo3_s a {
    color: #999;
}
.promo3_s a.active{
    color: #326891;
}
.get_promo_err {
    font: normal 12px Roboto;
    display: none;
    position: absolute;
    line-height: 16px;
    bottom: 130%;
    width: 200px;
    margin: 0 0 0 10px;
    padding: 10px;
    border: solid 1px #eee;
    border-radius: 5px;
    background: #fff;
    text-align: left;
}
.get_promo_err::before {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 10px;
    border: 5px solid transparent;
    border-top: 5px solid #eee;
}
.get_promo_err::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    border: 5px solid transparent;
    border-top: 5px solid #fff;
}
.promo3_s a:hover .tt_promo {
    display: block;
}
.tt_promo {
    font: normal 12px Roboto;
    display: none;
    position: absolute;
    line-height: 16px;
    top: 130%;
    margin-left: -20px;
    width: 200px;
    margin: 0 0 0 10px;
    padding: 10px;
    border: solid 1px #eee;
    border-radius: 5px;
    background: #fff;
    text-align: left;
}

.promobar .fa {
    display: none;
}
.promobar .promo2 .fa {
	display: inline-block
}
a.more {
    float: right;
}
a.close-recom {
    position: absolute; 
    right: 5px;
    bottom: 10px;
}
a.close-recom span {
    font-size: 20px;
    color: #666;
}
a.m_author {
    display: block;
}
a.m_author figure {
    position: relative;
}
a.m_author figure figcaption {
	position: absolute;
	top: 25px;
	left: 25px;
}
.m_author img {
    float: left;
}
span.m_first {
    margin-left: 0;
}
.recom_menu {
    display: none;
    right: -80px;
    bottom: 40px;
    z-index: 999;
}
.recom_menu::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -10px;
    border: 5px solid transparent;
    border-top: 5px solid #eee;
}
.spend img {
    float: left;
    margin: 40px 0;
}
.spend h3, .spend h4, .spend h5 {
    text-align: center;
    color: #3c3c3b;
    font: normal 34px/120% Roboto;
    margin: 0;
}
.spend h4 {
    font-size: 46px;
    font-weight: bold;
}
.spend h5 {
    font-size: 18px;
    text-transform: none;
    margin-bottom: 40px;
}
.spend2 {
    width: 500px;
    float: left;
    margin: 40px 0;
}
.spend2 h4 {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 20px;
}
.spend22 {
    text-align: right;
    float: right;
}
.spend2 a {
    background-color: #94c11e;
    border: none;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    border-bottom: solid 5px #106a33;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    text-align: center;
}
.spend2 h4 {
    text-align: left;
}
.spend22 h4 {
    text-align: right;
}
a.spend_b1, a.spend_b2, a.spend_b3 {
    display: block;
    width: 75px;
    background: url(/images/spend4.png) no-repeat;
    padding-top: 90px;
    text-align: center;
    color: #000;
    font-size: 12px;
    float: left;
    margin: 40px 0 0 100px;
}
a.spend_b2 {
    background-position: top center;
}
a.spend_b3 {
    background-position: top right;
}
.spend23 {
    font-size: 30px;
    line-height: normal;
}
.spend23 strong {
    color: #36a9e1;
}
#clu_msg {
    font: normal 14px Roboto;
}
.ava {
    height: 40px; 
    float: left; 
    border-radius: 50%; 
    margin-top: 5px;
}
.up {
    text-align: center;
    border-bottom: solid 1px #e0e0e0;
    font-family: Roboto;
    margin-bottom: 40px;
}
.up .up_wp {
    height: 350px;
    background-size: cover;
    background-position: center;
}
.up .img {
    display: block;
    border: solid 5px #fff;
    border-radius: 50%;
    height: 110px;
    margin: -55px auto 20px;
}
.up .up1 {
    font-size: 14px;
    margin-bottom: 20px;
}
.up .up1 a {
    color: #999;
}
.up .up1 a:hover {
    color: #326891;
}
.up .up1 .fa {
    margin: 0 5px;
}
.up .up2 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
}
.up .up3 {
    font-size: 16px;
    margin-bottom: 10px;  
}
.up4 {
    font-size: 12px;
    margin-bottom: 40px;  
    color: #999;
}
.up .up5 {
    margin-bottom: 40px; 
}
.up .up5 a {
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin: 0 10px;
}
.follow-count {
    display: block;
    font-size: 24px;
    line-height: 32px;
}
.up .up6 {
    position: relative;
    margin-bottom: 40px; 
}
.up .up6 a.up_sub,
.sys a.up_sub,
.user_card a.up_sub {
    display: inline-block; 
    height: 37px; 
    line-height: 35px; 
    padding: 0 10px; 
    border-radius: 5px; 
    color: #326891; 
    border: 1px solid #326891;
    font-size: 14px;
}
.sys a.up_sub,
.user_card a.up_sub {
    float: right;
}
.up .up6 a.fa,
.sys a.fa,
.user_card a.fa {
    color: #aaa; 
    border: 1px solid #aaa;
    margin-left: 10px; 
    height: 37px; 
    line-height: 35px; 
    padding: 0 10px; 
    border-radius: 5px; 
    font-size: 14px;
}
.sys a.fa,
.user_card a.fa {
    float: right;
}
.up .up6 a.up_fav,
.sys a.up_fav,
.user_card a.up_fav {
    color: #fff; 
    background-color: #326891; 
}
.fa-chevron-up, .fa-chevron-down {
    display: block;
}
.up .fa-chevron-up, .up .fa-chevron-down {
    text-align: center;
    margin-bottom: -7px;
    color: #999;
}
.up .up6 a#write-to-user {
	margin-left: 10px;
}
.compact .up0 {
    position: relative;
    text-align: left;
    width: 685px;
    margin: 20px auto 0;
}
.compact .tooltip {
    display: none !important;
}
.compact .up_wp {
    display: none;
}
.compact .img {
    float: left;
    display: block;
    margin: 0 10px 20px 0;
    height: 70px;
    width: 70px;
    
}
.compact .up1 {
    display: none;
}
.compact .up2 {
    font-size: 18px;
    margin-bottom: 5px;
}
.compact .up3 {
    font-size: 14px;
    margin-bottom: 5px;
    padding-right: 150px;
}
.compact .up4 {
    font-size: 12px;
    color: #999;
    margin-bottom: 25px;
}
.compact .up5 {
    margin-bottom: 30px;
    text-align: center;
}
.compact .up6 {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0px;
}
.center .post_prv {
    margin: 0 auto 50px;
}
.center input.big {
    margin: 0 auto 50px;
    display: block;
}
#sysmenu {
    position: relative;
    left: 40px;
    bottom: 47px;
}
.compact #sysmenu {
	position: absolute;
	left: 44px;
    top: 44px;
}
#sysmenu2 {
    width: 200px; 
    position: absolute; 
    top: -30px; 
    left: 50px; 
    display: none; 
    padding: 5px; 
    background-color: #000; 
    font-size: 12px;
    text-align: left;
}
.up_menu2 {
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    top: 0;
}
.compact .up_menu2 {
    display: inline-block;
    position: absolute;
    right: -210px;
    top: 0;
}
.sys .up_menu2 {
    width: 200px;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    top: 20px;
    right: -210px;
    font-family: Roboto;
}
@media (max-width: 768px) {
	.post .sys .ava80 img {
		width: 40px !important;
		height: 40px !important;
	}
	.post .sys .sys_login {
		font-size: 18px;
	}
	.post .sys .statext {
		margin-top: 5px;
	}
}
.up_menu {
    background-color: #eee;
    display: none;
    border-radius: 5px; 
    padding: 5px 10px; 
    font-size: 12px;
    text-align: left;
}
.up_menu::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    border: 5px solid transparent;
    border-right: 5px solid #eee;
}
.up_menu a {
    display: block;
    margin: 0;
}

.top_post {
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
    padding-bottom: 40px;
}
.top_post .post_prv {
    margin: 0 auto;
}
.up_prv {
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    font-family: Roboto;
}
.up_prv h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    margin: 0 auto 20px;
    max-width: 1190px;
}
.up_prv h3 a {
    color: #fff;
}
.up_prv h4 {
    font-size: 20px;
    margin: 0 auto 20px;
    max-width: 1190px;
}
.up_prv a.read {
    display: inline-block;
    line-height: 60px;
    width: 280px;
    text-align: center;
    color: #fff;
    background-color: #1d70b8;
    border-radius: 10px;
    border-bottom: solid 4px #0d4062;
    font-size: 20px;
}
.up_prv a.read3 {
    display: inline-block;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color: #575756;
    border-radius: 10px;
    border-bottom: solid 4px #3c3c3b;
    padding: 0 30px;
    font-size: 20px;
}
.up_prv a.fav {
    color: #326891;
}
.up_prv .ava {
    float: none;
    margin: 0;
}
.up_prv .dark {
    background: url(/images/z.png);
    padding: 150px 0 150px;
}
.up_prv a.get_prof {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
}
.post_prv .reg_fav {
    width: 49%;
    margin-right: 1%;
}
.post_prv h5 {
    margin-bottom: 20px;
}
.reg_fav a.up_rec_del {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
}
.reg_fav:hover a.up_rec_del {
    display: block;
}
.dn, a.dn {
    display: none !important;
}
.list .sys {
    width: 665px;
    border: none;
    margin: 0 auto;
    padding: 0;
    font-family: Roboto;
}
.list .sys a.sys_login {
    font-size: 18px;
    color: #000;
}
.list h3 {
    margin: 20px 0 40px;
    letter-spacing: 2px;
}
.list .ava80 img {
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
}
.list .up_menu2 {
    top: 0;
}
.list .big {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 1420px) {
    .logo {
        position: static;
        float: left;
    }   

}
@media only screen and (max-width: 900px) {
    .adv2, .header2, .sidebar, .footer2, .advline, .inviteBox, .recm, .recm2, .comments_count, .nomob, #Ya_sync_0, a.addpost, .userhead2, #cgsc, .fills2 {
        display: none;
    }
    #cgsc {
        display: none !important;
    }
#sub-menu, #sub-menu4 {
    top: 100px;
    padding: 10px;
} 
#sub-menu .sm11, #sub-menu .sm12, #sub-menu .sm13  {
    float: none;
    width: 100%;
    margin-bottom: 20px;
}
#sub-menu .sm12 a {
    float: none;
    width: 100%;
}
#sub-menu .sm11  {

}
#sub-menu .sm111  {
    position: absolute;
    top: 10px;
    right: 30px;    
}
.quote {
    margin: 0 5px 0 0;
}
.tt, .tte {
    position: static;
    display: none;
    width: 300px;
    margin: -10px 0 10px 0;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
}
a.contest_header2 {
    display: block;
    position: absolute;
    top: 7px;
    left: 10px;
    width: 100px;
    height: 35px; 
    line-height: 35px;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #326891;
}
.contest_header {
    display: none;
}
.contest .tte {
    margin: 0 0 20px 0;
}
.ig1 {
    float: none; 
}
.ig2 {
    float: none; 
    width: auto;
}
.clusters_reg a {
    margin-bottom: 2px;
}
.progress1 {
    float: none;
}
.yota {
    display: none;
}
.contest {
    padding: 20px 0;
    width: 100%; 
    float: none; 
    overflow: hidden;
}
.contest33 {
    width: 100%;
    margin: 40px 0;
    float: none;
}
.contest33 > div {
    position: static;
}
.contest input {
    border-radius: 10px;
    width: 100%; 
    display: block;
}
.contest button {
    width: 100%;
    border-radius: 10px;
}
.contest2 {
    position: relative;
    padding-left: 0;
    min-height: 0;
}
.contest2 .img {
    position: static;
    display: block;
    margin: 0 auto 20px;    
}
.contest5 {
    width: 100%;
    margin: 20px auto;
    padding: 20px 0;
}
.contest5 input {
    padding: 20px;
    border-radius: 10px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.contest5 button {
    width: 100%;
    background-color: #1d70b8;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    border-bottom: solid 5px #0d4062;
}
.fill {
    padding: 20px;
}
.fill a {
    margin-bottom: 20px;
    width: 100%; 
}
.fill input {
    border-radius:  10px;
    width: 100%; 
    margin-bottom: 20px;
}
.fill button {
    border-radius: 10px;
    width: 100%; 
}
.promo3 {
    padding: 0;
}
.promo3 .dark {
    padding: 20px;
}
.promo3 .fill_author a {
    margin: 0;
}
.promo3 h3 {
    font-size: 32px;
}
.inviteBox3 {
    width: 100%;
}
.inviteBox3 a {
    display: block;
    text-align: center;
    margin-right: 0;
}
.promobar {
    height: 100px;
    line-height: 16px;
}
.promobar .promo2 {
    display: none;
}
.promobar .fa {
    display: inline;
    float: right;
}
.promobar2 {
    float: none; 
    margin-bottom: 7px;
}

    .adv3 #Ya_sync_0, .mob #Ya_sync_0 {
        display: block;
    }
    .nomob #Ya_sync_0 {
        display: none;
    }
    body {
        padding-top: 50px;
    }
    a.mob, .mob {
        display: block;
    }
    .userhead_mob {
        display: block;
        background-color: #000;
        margin-bottom: 20px;
        height: 80px;
    }
    .userhead_mob .h11 {
        background-color: #000;
        margin: 0;
        width: 100%;
        color: #fff;
    }
    .content, .minus .author-bar2-inside {
        width: 100%;
    }
    .content {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 0;
    }
    .minus .author-bar2-inside {
        padding-right: 10px;
    }
    .article2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .minus .author-bar2-inside{
        padding-left: 10px;
    }
    .sys, .poll {
        margin-left: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
    .header {
        width: 100%;
    } 
    .post {
        width: 100%;
    } 
    .logo {
        position: absolute;
        left: 20px;
    }
    .header_menu {
        margin-top: 50px;
        margin-left: 10px;
    }
    .comments {
        margin-left: 10px;
    }
    .comments ul ul {
        margin-left: 20px;
    }
    .poll_get {
        margin-bottom: 10px;
    }
    .uptolike { 
        float: none;
        display: block;
        height: 40px;
        margin: 0 auto 20px auto;
    }
    .post_prv a.pic {
        height: 150px;
    }
    .main_bar span.main {
        display: block; 
        text-align: center;
        margin-right: 0;
    }
    .main_bar a, .main_bar2 a {
        display: inline-block;
        margin-right: 1px;
        padding-right: 9px;
        font: normal 13px Roboto;
    }
    .best_m {
        display: block;
        text-align: center;
        margin-top: 5px;
    }
    .main_bar .last {
        float: none;
        display: block;
        text-align: center;
    }
    .plus .author-bar2-inside {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .wallpaper .author-bar2-inside {
        padding: 10px;
        margin: 0 auto;
    }
    #wp {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .article2 img {
        max-width: 100% !important;
    }
    #mod_reg2 {
        position: static;
        margin: 0;
    }
    .mod .mod_2 {
        float: none; 
        max-width: 400px; 
        margin: 0 auto;
        padding: 20px 10px;
        min-height: 0;
    }
    #overlay {
        
        height: 0 !important;
    }
    .p010 {
        padding: 0 10px;
    }
    .header_menu .mr20 {
        margin-right: 12px; 
    }
    .promo2 {
        margin: 5px 0px 0 5px;
    }
    .nomob {
        display: none;
    }
    .sms {
        float: none; 
        display: block;
        width: 100%;
    }
.smsgo {
        bottom: 5px;
        right: 20px;
    }
    a#mychat {
        font-size: 16px; 
        text-align: center; 
        margin-bottom: 10px;
    }
    a#mychat span {
        display: inline-block;
    }
    .chat {
        width: 100%; 
        float: none; 
    }
    .chat_form {
        padding: 20px; 
        width: auto; 
        margin: 0 -10px;
    }
    .chatname {
        font-size: 16px;
        text-align: center;
    }
    .sy {
        right: 10px
    }
    .more-dialogs {
    	padding: 0;
        color: #6288a5;  
        margin: 0 auto 20px;      
    }

}
@media only screen and (max-height: 786px) {
    .article2 {
        font: normal 16px/22px Georgia;
    }   

}




.post_for_journal {
	font-size: 14px;
	color: #999;
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 40px;
}



.end-registration {
	width: 700px;
	margin: 80px auto;
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.end-registration p {
	margin-bottom: 50px;
}

.end-registration h2 {
	font-weight: 300;
	color: #333;
}

.end-registration-form {
	width: 300px;
	margin: 30px auto;
}

.end-registration-form #activation_code {
	padding: 6px 12px;
	text-align: center;
}

.end-registration-form #activation_b {
	border: none;
	padding: 6px 12px;
}

.end-registration button#resend-b {
	width: 300px;
	margin: 0 auto;
}

.end-registration #act_error,
.end-registration #alr_error {
	font-size: 14px;
	margin: 5px 0 10px 0;
	text-align: center;
}


.subscribe {
    color: #fff;
    background-color: #6288a5; 
    font-weight: 300;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
	padding: 10px 20px;
}
.subscribe:hover{
    color: #fff;
    background-color: #326891; 
}
.subscribed{
    background-color: #b60000;
}
.subscribed:hover{
    color: #fff;
    background-color: #e90000;  
}

.reg_users_list_link {
	font-weight: 300;
	color: #333;
	font-size: 18px;
}

.adduser-info {
    margin: 50px 0;
}

.adduser-info h1 {
	margin-top: 0;
    font-size: 36px;
}

.adduser-info p {
	font-size: 16px;
	line-height: 1.4;
}

.adduser {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.adduser .jumbotron {
	font-size: 16px;
}

.adduser .jumbotron h3 {
    margin-bottom: 30px;
    font-size: 24px !important;
}

.adduser .jumbotron input {
	margin-bottom: 0 !important;
	padding: 10px 16px !important;
}

.adduser .jumbotron button.btn-black {
	padding: 10px 16px;
	margin-top: 20px;
	font-size: 16px;
}

.adduser .jumbotron .tte {
	margin: 6px 0;
    font-size: 14px;
}

.adduser .jumbotron .tooltip {
	width: 250px;
	text-align: left;
}

.adduser .jumbotron .tooltip-inner {
	text-align: left;
}

.adduser .jumbotron .list .sys {
	width: auto;
}


.reg-bloggers{
    width: auto !important;
}

.clusters_list {
	margin-bottom: 30px;
}

.clusters_list img {
	border-radius: 3px;
	margin-right: 10px;
}

.clusters_list p {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 5px;
}

.clusters_list span {
	color: #999;
	font-size: 14px;
	line-height: 1.1;
}

.clusters_list .media-body {
	padding-right: 10px;
}

.reg_users_list {
	margin-bottom: 30px;
}

.reg_users_list img {
	margin-right: 10px;
	margin-bottom: 0 !important;
}

.reg_users_list a:hover img {
	opacity: 0.8;
}

.reg_users_list p {
	margin-bottom: 5px;
}

.reg_users_list ul {
	color: #999;
	font-size: 14px;
	line-height: 1.4;
	margin-bottom: 0;
}

p.reg_users_list_status {
	font-size: 14px;
	font-weight: 400;
}
.poll-banner a:hover img {
    opacity: 0.8;
}
#poll-block button.btn-black {
	letter-spacing: 2px;
	font-size: 14px;
}

#testg {
	font-size: 14px;
	color: #333;
}

#scrollup {
	position: fixed;
	padding: 5px 10px;
	background: #CCC;
	background: rgba(0,0,0,0.2);
	color: #fff;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	right: 10px;
	bottom: 60px;
	display: none;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
    z-index: 999;
}

#scrollup span {
	color: rgba(255,255,255,0.7);
}

#scrollup:hover {
	background: #999;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	#scrollup {
		bottom: 10px;
	}
}

.warning-mod {
    width: auto;
    text-align: center;
    background-color: #333;
    background-image: url(images/lenta_article_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: #fff;
    color: rgba(255,255,255,0.8);
    padding: 180px 10px;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.content_spend {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}



/* Help and documents sections start */

.help_section {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.help_section ol {
	font-size: 14px;
	margin: 50px 0;
}

.help_section h1 {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px
}

.help_section h2 {
	color: #222;
	font-size: 20px;
	font-weight: 700;
	margin-top: 30px;
}

.help_section h3 {
	color: #222;
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
}

.help_section p {
	line-height: 1.6;
}

.documents_section {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
	margin: 80px auto;
}

.documents_section h3 {
	margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.documents_section p {
	line-height: 1.6;
}

@media screen and (min-width: 787px) {
    a.messages-button-mobile {
		display: none !important;
		visibility: hidden;
	}
	a.messages-button-desktop {
		display: inline-block;
		visibility: visible;
	}
}

@media screen and (max-width: 786px) {
    a.messages-button-mobile {
		display: inline-block;
		visibility: visible;
	}
	a.messages-button-desktop {
		display: none !important;
		visibility: hidden;
	}
	a#sub-menu3-link {
		display: none !important;
	}
}

/* Help and documents sections end */



/* shop.php styles */

.shop {
	padding-top: 80px;
	padding-bottom: 80px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.shop_with_bg {
	background: #eeefe1;
}

.shop h1 {
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
}

.shop h1 small {
	font-size: 24px;
    font-weight: 300;
    color: #777;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
	.shop h1 {
		font-size: 32px;
	}
	.shop h1 small {
		font-size: 20px;
	}
}

.shop h2 {
	font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-top: 0;
    margin-bottom: 50px;
}

.shop p.text-center {
	margin-bottom: 80px;
}

.shop-item {
    color: #999;
    border: 1px solid #dfdfdf;
    padding: 40px 20px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    background: #fff;
}

.shop-item:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 50%;
    width: 80px;
    height: 3px;
    margin-left: -40px;
    background: #6c8697;
}

.shop-item__price {
	background: #fcfcfc;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	margin: 0 -20px 30px -20px;
	font-size: 18px;
	padding: 30px 0;
}

.shop-item__price i {
	font-size: 24px;
    position: relative;
    bottom: 10px;
    margin-right: 5px;
}

.shop-item__price strong {
	font-size: 26px;
    position: relative;
    bottom: 10px;
}


.shop-item__price p {
	margin-bottom: 0;
	color: #6c8697;
	font-weight: 300;
	line-height: 1;
}

.shop-item__price p span {
	font-size: 64px;
}

.shop-item h3 {
    color: #333;
    margin-bottom: 40px;
    
    margin-top: 0;
}

.shop-item ul {
    list-style: none;
    font-size: 14px;
    margin-bottom: 30px;
}

.shop-item ul li {
    margin-bottom: 10px;
}

.shop-item ul li i {
	font-size: 13px;
}

.shop-item .btn-default {
    border-color: #6c8697;
    color: #6c8697;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6px 24px;
}

/* end shop.php styles */



/* updates in main.php styles */

.updates_info {
	width: 655px;
	background: #e2e8ed;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 30px;
    padding: 30px;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.updates_info__warning {
	background-color: #f2dede;
}

.updates_info .media-left {
	padding-right: 20px;
}

.updates_info p {
	margin-bottom: 12px;
}

.updates_info ul.list-inline li {
	margin-top: 3px;
	margin-bottom: 3px;
}

@media (max-width: 665px) {
	.updates_info {
		width: 100%;
		padding: 20px;
	}
	.updates_info .media-left {
		padding-right: 15px;
	}
	.updates_info .media-left img {
		width: 50px !important;
		height: 50px !important;
	}
}

/* end updates in main.php styles */



/* post_polls styles  */

.post_media_poll {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 20px;
    line-height: 1.5 !important;
}

.post_media_poll__head {
	color: #326891;
	font-size: 18px;
}

.post_media_poll .media {
	margin-top: 10px;
    margin-bottom: 10px;
}

.post_media_poll__result {
	margin-top: 10px;
    margin-bottom: 10px;
}

.post_media_poll__result .progress {
	margin-bottom: 0;
}

#modal-addpoll button.close {
	position: absolute;
	top: 15px;
	font-size: 48px;
	opacity: 0.5;
}

#modal-addpoll h3 {
	margin-top: 0;
}

#modal-addpoll .modal-dialog {
	margin: 0 auto !important;
}

#modal-addpoll .modal-body {
	width: auto !important;
	padding: 20px !important;
}

#modal-addpoll label {
	margin-bottom: 8px;
}

#modal-addpoll .form-group {
	margin-bottom: 20px;
}

#modal-addpoll .form-control {
	margin-bottom: 12px;
	border: none;
	box-shadow: none;
	border-radius: 5px;
}

#modal-addpoll .modal-footer {
	text-align: left !important;
}

/* end post_polls styles  */



/* .modal-fullscreen */

.modal-fullscreen {
	background: transparent;
}

.modal-fullscreen .modal-content {
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-top: 80px;
    padding-bottom: 80px;
}

.modal-backdrop.modal-backdrop-fullscreen {
	background: #e9e9e9;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
	opacity: .97;
	filter: alpha(opacity=97);
}

.modal-fullscreen .modal-dialog {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

@media (min-width: 768px) {
	.modal-fullscreen .modal-dialog {
		width: 750px !important;
	}
}

@media (min-width: 992px) {
	.modal-fullscreen .modal-dialog {
		width: 970px !important;
	}
}

@media (min-width: 1200px) {
	.modal-fullscreen .modal-dialog {
		width: 1170px !important;
	}
}

/* end .modal-fullscreen */



/* favor bloggers */

#sub-menu5 {
	display: none;
    width: 100%;
    background-color: #ededee;
    position: absolute;
    top: 50px;
    left: 0;
    color: #000;
    line-height: normal;
    padding: 40px 0;
}

.favor-authors {
	width: 45%;
	float: left;
	padding: 10px;
}

.favor-recommends {
	width: 25%;
	float: left;
	margin-right: 25px;
	padding: 10px;
}

.favor-search {
	width: 25%;
	float: left;
	padding: 10px;
	height: 100%;
}

.favor-tip-text {
	margin-top: 20px;
	color: #666;
}

.favor-search-tip {
	background-color: #d8e0e6;
	border-radius: 5px;
}

#sub-menu5 h3 {
    color: #000;
    font: normal 12px Roboto;
}

.favor-input-search {
	border: 1px solid #C0C0C0;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    font: normal 12px Roboto;
    color: #A9A9A9!important;
    padding: 10px;
}

.favor-author {
    background-color: #fff;
    margin-bottom: 1px;
    width: 100%;
    height: 50px;
    position: relative;
    color: #000 !important;
    display: block;
    cursor: pointer;
	border: 1px solid #E2E0E1;
	font: normal 14px Roboto;
}

.favor-authors-col {
	float:left;
	margin-right: 2px;
	width: 47%;
}

.favor-author.favor-author-empty {
    text-align: center;
    line-height: 50px;
	color: #A9A9A9!important;
}

.favor-author-avatar {
	width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: 10px;
}

.favor-remove {
	color: #6288a5;
}

.favor-search-add {
	color: #ccc;
}

.favor-text {
	margin-left: 40px;
    margin-top: 10px;
}

.favor-unlogin {
	border: 1px solid #e87373;
}

.favor-new-posts-counter {
    position: absolute;
    top: 10px;
    right: 0px;
    background: #c32323;
    color: #fff;
    color: rgba(255,255,255,0.8);
    text-align: center;
    font-style: normal;
    line-height: 1;
    padding: 2px 4px;
    font-size: 9px;
    border-radius: 8px;
}

/* end favor bloggers */



/* contnent modal */

.content_modal {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.content_modal a {
	color: #6288a5;
}

.content_modal span {
	margin: 0;
}

.content_modal .modal-dialog {
	width: 100%;
	height: 100%;
	display: table;
	margin: 0;
}

.content_modal .modal-arrow {
	display: table-cell;
	width: 20%;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

@media (max-width: 768px) {
	.content_modal .modal-arrow {
		width: 10%;
	}
}

@media (max-width: 1200px) {
	.content_modal .modal-arrow {
		width: 15%;
	}
}

.content_modal a.modal-arrow {
	color: #bfbfbf;
	color: rgba(255,255,255,0.5);
	font-size: 48px;
}

.content_modal a:hover.arrow-left {
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54000000', endColorstr='#00000000',GradientType=1 );
	color: #fff;
}

.content_modal a:hover.arrow-right {
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=1 );
	color: #fff;
}

.content_modal .modal-content {
	border-radius: 0;
	box-shadow: none !important;
	padding: 50px;
	margin: 100px auto;
}

.content_modal .close {
	position: absolute;
    top: 5px;
    right: 15px;
}

.content_modal .close span {
	font-size: 48px;
	font-weight: 300;
}

#content_modal_img {
	text-align: center;
	margin-bottom: 30px;
}

#content_modal_img img {
	margin: 0 auto;
	max-height: 600px !important;
	max-width: inherit !important;
}

.content_modal .author-bar {
	font-size: 12px;
}

.content_modal .author-bar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.content_modal .author-bar .media-body {
	line-height: 1.5;
}

/* end contnent modal */
