.addjournal-info {
	margin: 50px 0;
}

.addjournal-info h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

section .jumbotron h3 {
	margin-bottom: 30px;
}

section .jumbotron .form-group {
	margin-bottom: 20px;
}

ul.nav-pills {
	margin-bottom: 30px;
}



.addjournal-themes {
	background: #fff;
	padding: 15px;
	border-radius: 6px;
	border: 1px solid #ccc;
}





#registrationModal,
#authModal,
#authModalContainer,
#registrationModalContainer {
	line-height: 1.5 !important;
	color: #2b2b2b !important;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;

	-webkit-overflow-scrolling: touch;

	z-index: 999;

	height: 100%;
}

#registrationModal .modal-dialog,
#authModal .modal-dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: scroll;


	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

#registrationModal .modal-content,
#authModal .modal-content  {
	border: none;

	border-radius: 0;
	box-shadow: none;

	background: #fff;
	background: rgba(255,255,255,0.9);

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: scroll;

	display: table;
    height: 100%;
    width: 100%;
}



#registrationModal .modal-header,
#authModal .modal-header {
	border-bottom: none !important;
	padding: 1px;
	position: absolute;
    top: 20px;
    right: 30px;
    width: 100%;

}




#registrationModal .close,
#authModal .close,
#registrationModal .modal-header span,
#authModal .modal-header span {
	font-family: Roboto;
	font-weight: 300;
	font-size: 48px;
	top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
    color: #000;
}

#registrationModalContainer,
#authModalContainer {
	display: table-cell;
	vertical-align: middle;
}

.modalLogo {
	text-align: center;
	margin-bottom: 40px;
}

#registrationModal .modal-body,
#authModal .modal-body {
	padding: 30px 15px;
	margin: 0 auto;
	width: 700px;

	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#registrationModal .modal-body p,
#authModal .modal-body p,
#registrationModal .modal-body label,
#authModal .modal-body label {
	margin-bottom: 10px;
	color: #999;
	font-weight: 400;
	text-align: center;
	display: block;
}

#registrationModal .modal-body section,
#authModal .modal-body section {
	width: 250px;
	margin: 0 auto;
}

input#login {
	margin-bottom: 5px;
}

#registrationModal .modal-body section #error,
#authModal .modal-body section #error,
#registrationModal .login-error,
#authModal .login-error {
	margin: 10px;
    text-align: center;
    font-size: 14px;
}

#registrationModal .login-error a,
#authModal .login-error a {
	display: block;
	color: #6288a5;
}

#registrationModal .btn-default,
#authModal .btn-default {
	background-color: #242424;
	color: #fff;
	background-image: none;
	text-shadow: none;
	border: none;
	padding: 8px 12px;
	font-size: 14px;
	width: 100% !important;
}

#registrationModal .btn-default:hover,
#authModal .btn-default:hover {
	cursor: pointer;
	background-color: #505050 !important;
}

#registrationModal .modal-footer,
#authModal .modal-footer {
	border-top: none !important;
	font-size: 13px;
	color: #999;
	text-align: center;

	margin: 0 auto;
	width: 700px;
}

#registrationModal .modal-footer button:hover,
#authModal .modal-footer button:hover {
	color: #326891;
}

#registrationModal .modal-footer p {
	margin-bottom: 10px;
}


#registrationModal .modal-footer p button,
#authModal .modal-footer p button {
	background: none;
	border: none;
	color: #6288a5;
}



@media screen and (max-width: 786px) {
    #registrationModal .modal-footer,
    #authModal .modal-footer {
    	display: none;
    	width: 100%;
    }

    #registrationModal .modal-body,
    #authModal .modal-body {
		width: 100% !important;
	}
	#registrationModal .close,
	#authModal .close,
	#registrationModal .modal-header span,
	#authModal .modal-header span {
	top: 0;
	}
}





.social-icons a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	width: 100%;

	padding: 8px 10px;

	color: #fff;
	margin-left: 0 !important;
	margin-bottom: 10px;

	font-size: 14px;
}

.social-icons a i {
	margin-right: 5px;
}

.social-icons a:hover {
	color: #fff;
	cursor: pointer;
}

a.vk-icon {
	background: #597c9e;
}

a:hover.vk-icon {
	background: #7995b1;
}

a.facebook-icon {
	background: #3c5397;
}

a:hover.facebook-icon {
	background: #6172ab;
}

a.odnoklassniki-icon {
	background: #f67400;
}

a:hover.odnoklassniki-icon {
	background: #fb9133;
}

a.twitter-icon {
	background: #4da9ee;
}

a:hover.twitter-icon {
	background: #69b8f1;
}

.auth-block {
	width: 700px;
	margin: 50px auto;
	display: table;

}

.auth-block .modal-body {
	margin-bottom: 30px;
}

.auth-block section {
	width: 250px;
	margin: 0 auto;
}

.auth-block p,
.auth-block label {
	margin-bottom: 10px;
	color: #999;
	font-weight: 400;
	text-align: center;
	display: block;
}

.auth-block-footer {
	font-size: 13px;
	color: #999;
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 786px) {
    .auth-block {
		width: 100% !important;
	}
}


#registrationModalContainer-m,
#authModalContainer-m {
	line-height: 1.5 !important;
	color: #2b2b2b !important;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}


#email-reg, #email-reg-m {
	text-align: center;
}
.rc-anchor-normal {
	width: 250px !important;
}

.g-recaptcha {
	transform:scale(0.825);
	-webkit-transform:scale(0.825);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
}

#error-enter, #error-reg,
#error-enter-m, #error-reg-m {
	margin: 5px;
    font-size: 14px;
    text-align: center;
}

#error-enter a,
#error-enter-m a {
	color: #6288a5;
}


#publishedModal {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
}

#publishedModal button {
	outline: none;
	font-size: 18px;
}

#publishedModal h3 {
	margin-top: 0;
	font-weight: bold;
}

#publishedModal .modal-header {
	border-bottom: 0;
	padding: 30px;
}

#publishedModal .modal-header span {
    font-family: Roboto;
    font-weight: 300;
    font-size: 48px;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
    color: #000;
}

#publishedModal .modal-dialog {
	margin: 100px auto;
}

#publishedModal button.close {
	font-weight: 400;
}

#publishedModal .modal-body {
	padding: 20px 170px 50px 170px;
	text-align: center;
}

#publishedModal ul.list-inline {
	margin: 25px auto;
}
#publish-modal-error {
	display: none;
}

#n-badge {
	display: none;
}

.notifications {
	width: 680px;
	padding: 20px;

	font-size: 14px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;

	margin: 70px auto;
	/*margin: 20px auto*/
}

.notifications .nav-pills li {
	margin-right: 10px;
}

.notifications .nav-pills li a {
	background: #ecedef;
	color: #6a6a6a;
	padding: 7px 20px;
}

.notifications .nav-pills li.active a {
	background: #6288a5;
	color: #fff;
}

.notifications .nav-pills li a .badge {
	font-weight: normal;
}

.notifications .nav-pills li.active a .badge {
	color: #6a6a6a;
}

.notifications .tab-content {
	margin-top: 40px;
}

.notifications .media {
	background: #fff;
	margin: -10px -10px 20px -10px;
	padding: 10px;
}

.notifications .unread {
	background: #f0f8ff;
}

.notifications .media-left img {
	margin-right: 10px;
	width: 50px;
}

.notifications .media-left figure {
	position: relative;
}

.notifications .media-left figcaption img {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.notifications ul.list-inline {
	margin-bottom: 7px;
}

.notifications ul.list-inline li {
	color: #666;
}

.notifications .media-body p {
	margin-bottom: 0;
}

.notifications .media-right small {
	font-size: 12px;
}


/*-- JOURNALS --*/

.addjournal {
	width: 680px;
    padding: 20px;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    margin: 50px auto;
}

.addjournal p {
	font-size: 16px;
}

.addjournal .input-lg {
	padding: 10px 16px !important;
}

.addjournal label {
	margin-bottom: 8px;
}

.addjournal .jumbotron .tooltip {
	width: 250px;
	text-align: left;
}

.addjournal .jumbotron .tooltip-inner {
	text-align: left;
}




.addjournal .nav-pills li {
	margin-right: 10px;
	margin-left: 0;
}

.addjournal .nav-pills li a {
	background: #eee;
	color: #6a6a6a;
	padding: 7px 15px;
	margin-bottom: 10px;
	font-size: 14px;
}

.addjournal .nav-pills li.active a {
	background: #6288a5;
	color: #fff;
}

.addjournal .nav-pills li.disabled a {
	background: none;
}




.addjournal .jumbotron {
	padding: 50px;
	border-radius: 6px;
}

.addjournal .jumbotron h3 {
	margin-top: 0;
}





.addjournal-info {
	margin: 50px 0;
}

.addjournal-info h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

section .jumbotron h3 {
	margin-bottom: 30px;
}

section .jumbotron .form-group {
	margin-bottom: 20px;
}

ul.nav-pills {
	margin-bottom: 30px;
}



.addjournal-themes {
	background: #fff;
	padding: 15px;
	border-radius: 6px;
	border: 1px solid #ccc;
}


.invite_users {
	margin-bottom: 20px;
}

.invite_users .media-left img {
	width: 50px !important;
	height: 50px !important;
}

.invite_users p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

.invite_users_list_status {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.invite_users ul {
    color: #999;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
}

.invite_button {
    color: #fff;
    background-color: #6288a5;
    font-weight: 300;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px;
}

.invite_button:hover {
	color: #fff;
	background-color: #326891;
}

.invited_sub {
	background-color: #BB0A21;
}

.invited_sub:hover {
	background-color: #a50116;
}

.addjournal .btn-viewall {
	margin-bottom: 40px;
}

#jImageBlock {
	display: none;
}

#progress {
	display: none;
}

#avatar-preview{
	margin: 0 auto;
	width:90px;
	height:60px;
	overflow:hidden;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#imageTypeBlock {
	margin: 0 auto;
}

/*-- JOURNAL VIEW --*/

.journal {
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

.journal_logo {
	background-color: #333;
	background-size: cover;
	-o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
	background-position: center center;
	height: 350px;
	text-shadow: 0 -1px .03em rgba(34,34,34,.2);
	position: relative;
}

@media screen and (min-height: 800px) {
	.journal_logo {
		height: 420px;
	}
}

.journal_card {
	width: 900px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 10px;
}

.journal_card .btn-default,
.journal_min .btn-default {
	border-color: #326891;
	color: #326891;
}

.journal_full .journal_card h1 {
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 20px;
}

.journal_full .journal_card h1 a,
.journal_min h1 a {
	color: #333;
}

.journal_full .journal_card h1 a:hover,
.journal_min h1 a:hover {
	color: #326891;
}

.journal_full .journal_card .journal_desc {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 40px;
	color: #666;
}

#journalCounters > li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

#journalCounters > li a {
	color: #000;
}

#journalCounters > li a:hover {
	color: #777;
}

.gradient-bottom {
	background: linear-gradient(to bottom, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.journal_buttons {
	margin-top: 40px;
}

.journal_buttons .badge {
	margin-left: 5px;
	font-size: 10px;
	color: #999;
	padding: 3px 5px;
}

.journal_small_logo {
	margin: 0 auto 50px auto;
	border-radius: 7px;
	background: #333;
	height: 350px !important;
}

@media screen and (max-width: 768px) {
	.journal_small_logo {
		height: 300px !important;
	}
	.journal_buttons ul li {
		margin-bottom: 10px;
	}
}


.journal_short .journal_logo {
	height: auto !important;
	width: 900px;
	margin: 50px auto 0px auto;
}

@media screen and (max-width: 900px) {
	.journal_card {
		width: 100%;
		padding: 50px 20px;
	}
}



.journal_min {
	width: 675px;
    margin: 50px auto;
    padding: 0 10px;
}

.journal_min img {
    margin-right: 10px;
    border-radius: 3px;
    width: 70px;
    height: 47px;
}

.journal_min h1 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
	line-height: 1;
	margin-top: 0;
}

.journal_min .journal_desc {
	font-size: 14px;
	font-weight: 300;
	color: #666;
}

.journal_min .media-body {
	padding-right: 50px;
}

@media screen and (max-width: 675px) {
	.journal_min {
		width: 100%;
	}
	.journal_min img {
	    width: 40px;
	    height: 27px;
	    margin-right: 5px;
	}
	.journal_min .media-body {
		padding-right: 20px;
	}
}

#inviteBlock {
	margin-top: 40px;
}

#inviteBlock > .list-inline {
	margin-top: 10px;
}



.journal_avatar {
	border-radius: 3px;
	width: 40px;
	height: 27px;
}


.chevrons {
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	 margin-bottom: 60px;
}

.chevrons a {
	position: relative;
	top: 18px;
	background: #fff;
	border: 1px solid #e0e0e0;
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	margin: 0 auto;
}

.chevrons a i {
	line-height: 30px;
}

.chevrons a:hover {
	border-color: #326891;
}



.post_card .fa-users {
	margin: 0 5px;
}


.journal_post_card {
	border-top: none !important;
}

.journal_post_card .btn {
	outline: none !important;
}

.journal_post_card .btn-default {
	padding: 6px 12px;
    border-radius: 5px;
    color: #326891;
    border: 1px solid #326891;
    font-size: 14px;
    background: #fff;
}

.journal_post_avatar {
	float: left;
	margin-right: 10px;
	border-radius: 3px;
	width: 80px;
	height: 54px;
}

@media (max-width: 768px) {
	.journal_post_avatar {
		width: 40px;
		height: 27px;
	}
}




.journal_header_card {
	margin-left: 180px;
}

.journal_header_card img {
	border-radius: 3px;
    width: 47px;
    height: 32px;
    margin-right: 10px;
}

.journal_header_card a {
	letter-spacing: normal;
	font-size: 18px;
    font-weight: bold;
    line-height: 1;
    top: 2px;
}

@media only screen and (max-width: 900px) {
	.journal_header_card {
		margin-left: 0;
	}
}



.author1, .author1:hover {
	color: #999 !important;
}

.author2, .author2:hover {
	color: #326891 !important;
}

.author1:focus, .author2:focus {
	outline: none;
}




.journal-check-panel {
	float: right;
}

/*-- PROMO --*/
#promoModal {
	text-align: center;
	font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

#promoModal .text-right {
	margin-bottom: 20px;
}

#promoModal .modal-dialog {
	margin: 80px auto;
}

#promoModal .modal-header {
	border-bottom: 0;
	padding: 30px 40px;
}

#promoModal .modal-body {
	width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
}

#promoModal .modal-body button.close {
	font-size: 48px;
	float: none;
	font-weight: 300;
	position: relative;
	top: 0;
	right: 0;
}

#promoModal .modal-body p {
	font-size: 16px;
}

#promoModal .modal-body h4,
#promoModal .modal-body p {
	margin-bottom: 20px;
}

#promoModal .modal-body ul {
	margin-bottom: 30px;
}

#promoModal .modal-body ul li {
	margin-bottom: 10px;
}

#promoModal .modal-body ul li button {
	width: 70%;
    margin: 0 auto;
}


@media (max-width: 768px) {
	#promoModal .modal-body {
		width: 100%;
	}
	#promoModal .modal-body ul li button {
		width: 100%;
	}
}


/* cont.ws/pays */

.pays {
	width: 680px;
    padding: 20px;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    margin: 70px auto;
}

.pays h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 24px;
}

.pays p {
	margin-bottom: 40px;
}

.pays-icon .fa-circle {
	color: #CCC;
}

.pays ul {
	font-size: 14px;
	margin-bottom: 0;
	color: #999;
}

