﻿/*.captcha-image {height: 30px;border: 1px solid #ccc;margin: 0 -4px;border-left: 0;border-right: 0;margin-right: -5px;}
.captcha-text {height: 30px;border-left: 0;}
.captcha-button {border-right: 0;
border-radius: 0!important;
min-width: initial!important;
margin: 0!important;
display: inline-block!important;}*/


.capcha-wrapper {width: 80%;  margin: 0 10%;  float: right;  margin-bottom: 15px;padding: 0;}
.captcha-image {height: 30px;border: 1px solid #ccc;margin: 0 -5px;border-left: 0;border-right: 0;margin-right: -5px;width: 37%;}
.captcha-text {height: 30px;border-left: 0;width: 48%!important;  direction: ltr;}
.captcha-button {border-right: 0;
border-radius: 0!important;
min-width: initial!important;
margin: 0!important;
display: inline-block!important;width: 15%;}