﻿.right-sidbar-fly {display:block!important;}
.top-cat {background: #f2f5f7;border: 1px solid #e2e7ec;padding-bottom: 6px;
padding-top: 13px;margin-bottom: 25px;    float: right;}
.top-cat h1 {font-size:18px;font-family:IRANSans, Tahoma;margin-top: 9px;}
.top-cat>ul{margin-bottom: 20px;}
.top-cat li {border-right: 1px solid #e2e7ec;font-family: IRANSans, Tahoma;}
.top-cat li a{ color:#404040;line-height: 25px;font-size: 13px;font-weight: 500;cursor: pointer!important;float: right;}
.top-cat li a.clickEvent {display: inline-block;width: 100%;}
.top-cat li a:hover {color:#000;    text-decoration: underline!important;}
/* .top-cat li:nth-child(5n+1){border-right:0;}*/
.navigation-text{font-size: 12px;color: #454545;clear: both;width: 100%;float: right;margin: -2px 0 12px 0;}
.navigation-text .active {/*font-weight: bold;font-size: 17px;*/display: inline;font-family: IRANSans, Tahoma;}
.set-margin-bottom-80 {margin-bottom: 80px;}
.cat-ads-widget {float: right;}

.cat-ads-widget .item {margin-bottom: 20px;border-top: 1px solid #ccc;padding-top: 27px;}
.cat-ads-widget .item .right span{width:100%;display:block;font-size:12px;text-align:right;    text-align: center;}
.cat-ads-widget .item .middel span {font-size: 14px;font-family: IRANSans, Tahoma;color: #000;margin: -3px 0 4px 0;font-weight:normal;margin-bottom: 8px;display:inline-block;}
.cat-ads-widget .item .middel p.details {color: #868684;font-size: 12px;font-family: IRANSans, Tahoma;margin-bottom:5px;line-height:20px;}
.cat-ads-widget .item .middel p.details .more {color: #002bff;display: none;margin-right:4px;font-size: 10px;margin-bottom: -4px;}
.cat-ads-widget .item:not(.ergent-ad):hover .middel p.details .more{display:inline-block!important; color: #002bff!important;}
.cat-ads-widget .item:not(.ergent-ad):hover * {color: #000 !important;}
.cat-ads-widget .item:not(.ergent-ad):hover .middel h1{color:#428bca!important;}
.cat-ads-widget .item .middel p.tel *, .cat-ads-widget .item .middel p.location *{color:#868684;font-size: 12px;  font-family: IRANSans, Tahoma;margin-bottom:0;}
.cat-ads-widget .item .middel .fa:before{  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
.cat-ads-widget .item .middel p {
    margin-bottom: 2px;
}

.cat-ads-widget .item .middel p.tel .fa-phone {transform: rotate(270deg);}
.cat-ads-widget .item .middel .tel .fa-phone,
.cat-ads-widget .item .middel .location .fa.fa-map-marker {margin-left:5px;width: 12px;}
.cat-ads-widget .item .middel p.tel span:last-child {margin-right: 8px;}
.cat-ads-widget .item .middel p ,.cat-ads-widget .item .middel p *{color: #868684;font-family:IRANSans, Tahoma;font-size:12px;}
.cat-ads-widget .item .middel .name-only {margin-bottom: 1px;float: right;width: 100%;}
.cat-ads-widget .item .middel .name-only * {margin-bottom: 0;}
.cat-ads-widget .item .middel .fields-summaryView span {color: #868684;      font-size: 12px;font-family: IRANSans, Tahoma;    margin-bottom: 0px;}
.cat-ads-widget .item .left .price {white-space: nowrap;font-family: IRANSans, Tahoma;font-size: 12px;text-align: left;display: block;width: 100%;float: left;}
.cat-ads-widget .item .left .price:first-child{margin-top:24px;}
.cat-ads-widget .item .left img {float: left;margin-bottom:5px;max-height:100%;max-width:100%;}
.cat-ads-widget .item .left a {float: left;max-width: 130px;max-height: 85px;}
.cat-ads-widget .item:last-child {border-bottom: 1px solid #ccc;padding-bottom: 48px;margin-bottom: 0;}
.cat-ads-widget .item .left .item-attribute {color: #868684;font-size: 12px;font-family: IRANSans, Tahoma;margin-bottom: 0px;}
.cat-ads-widget .item .left .item-attribute.price_ .field-value {font-weight: bold;}

.cat-ads-widget .item .tags-container {margin-right:0;width: 100%;margin-top: 10px;overflow: hidden;text-overflow: ellipsis;    background-color: transparent;   border: 0;    padding: 0 70px 0 0!important;    height: 29px;float:right;    box-sizing: border-box;}
.cat-ads-widget .item .tags-container .related-tags-container{width: 95%;width: calc(100% - 50px);float: right;}
.cat-ads-widget .item .tags-container .tag{float: right;padding: 2px 6px;background-color:#f2f5f7;border: 1px solid #e2e7ec;color: #585858!important;;font-size: 11px;margin-left: 5px;margin-bottom: 8px!important;line-height: 15px!important;height: auto!important;}
.cat-ads-widget .item .tags-container .height-toggle:hover {text-decoration: none;}
.cat-ads-widget .item .tags-container .tag.active {position:relative;text-decoration:none; background-color: #b0c3d2;border-color: #b0c3d2;color: #fff!important;}
.cat-ads-widget .item .tags-container .tag.active:hover:before {left: 0;position: absolute;top: 0;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: "\f00d";font-weight: normal;font-size: 8px;color: black;}
.cat-ads-widget .item .tags-container .height-toggle {text-align: left;float: left;font-size: 13px;color: #585858;display:none;cursor:pointer;}
.cat-ads-widget .item .tags-container .height-toggle:before {font-size: 21px;}
.cat-ads-widget .item .tags-container .height-toggle:hover {color: #585858;}
.cat-ads-widget .item .tags-container.toggle-agent .height-toggle {display: block;}
.cat-ads-widget .item:not(.ergent-ad):hover .height-toggle {color: #585858;}


/* video item*/
.cat-ads-widget .item .left a .video {position: absolute;bottom: 0;width: 100%;background: rgba(255, 255, 255, 0.73);height: 34px;padding-top: 4px;}
.cat-ads-widget .item .left a {position: relative;}
.cat-ads-widget .item .left a .video {float: left;color: #c70001;width: 100%;}
.cat-ads-widget .item .left a .video span:before {float: left;background: #eaeaea;outline: 1px solid #d4d4d4;width: 24px;height: 23px;line-height: 23px;text-align: center;padding-left: 4px;margin-right: 5px;}
.cat-ads-widget .item .left a .video span {line-height: 23px;font-size: 11px;padding-left: 5px;display: none;box-sizing: border-box;text-align: left;float: left;}
.cat-ads-widget .item .left a .video span {display: inline-block;}
/* video item end */



.page-hack{padding-left: 5px;overflow-x: hidden;margin-left: -2px;padding-right: 3px;}
.no-padding-right-left {padding-left:0!important;padding-right:0!important;}

/* ergent ad*/

.collapse{float: left;color: #868684;text-shadow: 0 1px 0 #ffffff;text-decoration:none;cursor:pointer;position: absolute;left: 3px;top: 12px;}
.ergent-ad .collapse:before {content: "\f067";}
.ergent-ad .collapse span {display:none;}
.ergent-ad:not(.open){border-bottom:1px solid #ccc}
.ergent-ad:not(.open) div{display:none;}
.ergent-ad:not(.open) h1{margin:10px 0;}
.ergent-ad.open .collapse span {display: inline-block;float: right;margin-left: 7px;margin-top: -2px;font-size: 13px;}
.ergent-ad.open .collapse:before {content: "\f00d";}
.collapse.close:before{content: "\f00d";}
.ergent-ad .left {padding-left:0;padding-right: 100px;}
.ergent-ad input {/*width: 73%;*/}
.ergent-ad .full-width input {width: 70%;}
.ergent-ad .full-width {float: right;width: 100%;}
.ergent-ad .full-width .label_wells {width: 29%;}
.ergent-ad .full-width input {width: 53%;float: right;}

.ergent-ad input ,.ergent-ad textarea {margin-bottom: 12px;background: #FFFFFF;font-size: 14px;vertical-align: middle;background-color: #ffffff;border: 1px solid #cccccc;border-radius: 0px;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.ergent-ad .upload {border: 1px solid #e6e7e9;display: block;text-align: center;padding: 9px 4px;font-size: 12px;box-sizing: border-box;min-height: 84px;color: #abacae;}
.ergent-ad .upload:before {color: #e1e9ec;display: block;margin-bottom: 10px;font-size: 27px;}
.ergent-ad .btn:not(.submit) {border-radius: 0;display: block;box-sizing: border-box;padding: 5px 10px;line-height: 26px;margin:10px 2px 0 3px;float: left;}
.ergent-ad textarea {height: 110px;}
.ergent-ad inpu {height: 27px;box-sizing: border-box;line-height: 14px;}
.item.ergent-ad {padding-top: 0;}
.ergent-ad span.title_ {float: right;  width: 100%;  padding-right: 70px;  box-sizing: border-box;  margin: 24px 0 15px;font-size: 14px;font-family: IRANSans, Tahoma;}
.ergent-ad .step2{display:none;padding-top: 25px;padding-right: 0px;}
.ergent-ad.step1-show .step1{display:block;}
.ergent-ad.step1-show .step2{display:none;}
.ergent-ad.step2-show .step2{display:block;}
.ergent-ad.step2-show .step1,.ergent-ad.step2-show .collapse{display:none;}
.ergent-ad.step2-show h1{display:none;}
.ergent-ad .fullwidth .col-md-10 {margin-top: -14px;}
.ergent-ad .fullwidth {width: 100%;float: right;margin-bottom: 15px;}
.ergent-ad .fullwidth>div {padding-right: 0;padding-left: 0;}
.ergent-ad .group-widget .element-container,.ergent-ad .location-widget .element-container {top: 8px;}
.ergent-ad .step2 .btn {height: 38px;background: #f3f3f3;border: 1px solid #ecf0f2;}
.ergent-ad .step2 .back-to-step1 {float: right;cursor:pointer;margin-bottom: 17px;}
.ergent-ad .step2 .caret{float:left;margin:12px 5px;}
.ergent-ad .step2 .label_wells {font-size:12px;line-height: 24px;clear: right;padding: 0;float:right;}
.ergent-ad .fa-search {float: right;margin-top: 6px;margin-right: -1px;
                       box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);  
                       border: 1px solid #CCC;border-radius: 4px 0 0 4px;
                       height: 34px;width: 7%;display: inline-block;
                       text-align: center;border-right: 0;line-height: 32px;}

.location-widget .form-control,.group-widget .form-control {float: right;width: 93%;}
.ergent-ad .location-widget .form-control,.ergent-ad .group-widget .form-control {background-color: #ffffff;  border: 1px solid #cccccc;}
.ergent-ad #Location_memory,.ergent-ad #group_memory {padding-right: 15px;}
.ergent-ad .step2 .submit {float: left;background-color: #428bca;  border-color: #357ebd;border-radius: 0;line-height: 15px;}
.ergent-ad label.validation-error {font-size: 11px;float: left;width: 100%;margin: 0;margin-bottom: 14px;}
/*.ui-pnotify.stack-bar-top {top: 0 !important;right: 0 !important;}*/
.validation-error:not([type='text']):not(textarea) {color: red;}
.ergent-ad .upload .dz-default.dz-message {height: auto;  width: 100%;  position: static;  margin: 0;margin-bottom: 8px;opacity:1;}
.ergent-ad .upload .dz-default.dz-message span {display: block;}
.ergent-ad .upload .dz-default.dz-message span:before {content: "\f030";  color: #e1e9ec;  display: block;  margin-bottom: 10px;  font-size: 27px!important;display: inline-block;  font: normal normal normal 14px/1 FontAwesome;  font-size: inherit;  text-rendering: auto;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;width: 100%;}
.ergent-ad .upload.dropzone.dz-clickable+.btn {float:left; margin: 10px 2px;padding: 5px 10px;height: auto;}
.ergent-ad .upload.dropzone .dz-preview {margin: 0; margin-right: -5px;margin-top: -107px;padding-left: 11px;}
.ergent-ad .upload.dropzone {padding-bottom: 0;}
.ergent-ad .group-widget,.ergent-ad .location-widget  {min-height:48px;}
/* ergent ad*/




.left-sidebar:not(.item-range-1) .loadercommand.col-md-12:before{content: "\f106";}

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 300000 !important;
  height: 150px;
  overflow: hidden;
overflow-y: scroll;
}

.pagination {float:right;width:100%;}
/* media queries for content compatibele with sidbar-fly*/
@media(max-width:1200px){
    .mosaig .mosaig-item .left{width: 50%;}
    .left-sidebar .item .info+a {width: 52%;}

}
@media(max-width:1020px){.left-sidebar .item .info+a {width:40%!important;}}
@media (min-width: 992px) and (max-width: 1115px)
{
    body{padding-right:60px!important;}
    .row{/*width:100%;*/box-sizing: border-box!important;}
}
@media(max-width:1065px){.container{box-sizing:border-box;max-width: 100%!important;}}
@media (min-width: 992px) and (max-width: 1065px)
{

    body{padding-right:80px!important;}
}
@media (min-width: 992px) and (max-width: 1045px)
{

    body{padding-right:75px!important;}
}
@media (min-width: 992px) and (max-width: 1035px)
{

    body{padding-right:70px!important;}
}
@media (min-width: 992px) and (max-width: 1035px)
{
body{padding-right:70px!important; }
.container {max-width: 930px;}    
}
@media(min-width:992px){
.top-cat li {width:20%;}
.top-cat li:nth-child(5n+1){border-right:0;}
  .ergent-ad .group-widget .links-container a,.ergent-ad .location-widget .links-container a
    {width: 33%;text-align: right;}
   .ergent-ad .group-widget .links-container a.parent_name,
   .ergent-ad .group-widget .links-container a.parent,.ergent-ad .location-widget .links-container a.parent_name,.ergent-ad .location-widget .links-container a.parent
    {width: auto!important;text-align: right;}
   
}
@media(max-width:992px) 
{    
.top-cat li:nth-child(4n+1) {border-right:0;}
.top-cat li {width: 25%;}
.top-cat {margin-bottom: 20px;}

/*ergent */
     .group-widget .links-container a,.location-widget .links-container a
    {width: 33%;text-align: right;}
      .group-widget .links-container a.parent_name,
     .group-widget .links-container a.parent,.location-widget .links-container a.parent_name,
     .location-widget .links-container a.parent
    {width: auto!important;text-align: right;}
/*ergent  end*/
}

@media(max-width:900px) and (min-width:768px)
{
.container{width:100%!important;}
.container.footer,.container.body-content,.header.container {width: 87.5%!important;width: calc(100% - 60px)!important;width: -webkit-calc(100% - 60px)!important;width: -moz-calc(100% - 60px)!important;float:left;}
}
@media(max-width:1205px)
{

.ergent-ad .btn:not(.submit){float:left;clear:both;/* margin-left: -3%; */}
.ergent-ad .left {padding-right: 13%;}
}

@media (max-width: 992px) and  (min-width: 768px)
{
 .ergent-ad .step1 .left{width: 25%;padding-right: 0;float: left;}
.ergent-ad .step1 input {width:100%!important;}
.ergent-ad .step1 .left .btn:not(.submit){font-size: 17px;margin-right: auto;
margin-left: auto;}
.pagination > li:nth-child(11),
.pagination > li:nth-child(7),
.pagination > li:nth-child(8),
.pagination > li:nth-child(9),
.pagination > li:nth-child(10) {display:none;}
}

/* pagination media queries*/
@media(max-width:480px) {
    .pagination > li > a, .pagination > li > span {
        font-size: 15px;
        padding: 6px 10px;
    }
}
@media(max-width:444px) {
    .pagination > li > a, .pagination > li > span {
        font-size: 15px;
        padding: 6px 8px;
    }
}
@media(max-width:660px) {
    .pagination > li > a, .pagination > li > span {
        font-size: 1.5em;
        padding: 2px 5px;
    }
}


@media(max-width:550px) {
    .pagination > li > a, .pagination > li > span {
        font-size: 1.2em;
        padding: 2px 10px;
    }
}

@media(max-width:475px) {
    .pagination > li > a, .pagination > li > span {
        font-size: 1.2em;
        padding: 2px 8px;
    }
}
@media(max-width:370px) {
    .pagination > li > a, .pagination > li > span {
        font-size: 1.2em;
        padding: 2px 8px;
    }
}



@media(max-width:360px) {
   /* .pagination > li > a, .pagination > li > span {
        font-size: 14px;
        padding: 6px 5px;
    }*/
}
@media(max-width:330px) {
   /* .pagination > li > a, .pagination > li > span {
        font-size: 13px;
        padding: 6px 5px;
    }*/
}
/* pagination media queries end */
@media (max-width: 581px)
{
  /* .pagination > li:nth-child(11),
   .pagination > li:nth-child(12),
   .pagination > li.disabled,
.pagination > li:nth-child(7),
.pagination > li:nth-child(8),
.pagination > li:nth-child(9),
.pagination > li:nth-child(10) {display:none;}
.pagination >li.active, .pagination >li.active+li,.pagination >li.active+li+li {
    display: block!important;
}*/
.cat-ads-widget .item.ergent-ad .step1 .col-md-7.col-sm-9.col-xs-9,.cat-ads-widget .item.ergent-ad .step1 .col-md-7.col-sm-9.col-xs-9 * {width: 100%!important;max-width: inherit;}





.ergent-ad .step1 .left {
    float: right;
    width: 100%;
    text-align: center;
    padding-right: 0;
}

.ergent-ad .step1 .left .upload {
    float: none!important;
    margin: 0 auto;
}

.ergent-ad .step1 .btn:not(.submit) {
    clear: both;
    float: none;
    margin: 10px auto;
}
    /*ergent */
    .group-widget .links-container a,.location-widget .links-container a
    {width: 50%;text-align: right;}
      .group-widget .links-container a.parent_name,
     .group-widget .links-container a.parent,.location-widget .links-container a.parent_name,
     .location-widget .links-container a.parent
    {width: auto!important;text-align: right;}

      /*ergent end*/

}

@media (max-width:768px) {
.cat-ads-widget .item.ergent-ad .dropzone.dz-clickable{float: left;width: 100%;max-width: 119px;min-width: 119px;}
.ergent-ad .step2{padding-right:15px;}
.left_float_310{padding-right:0!important;}


    

}


@media (max-width:560px) {
.cat-ads-widget .item.ergent-ad .left {float: left;width: 100%;margin-right: 0;padding-right: 0;}
.cat-ads-widget .item.ergent-ad .left .upload{margin:0 auto;float: none!important;width:120px;min-height: initial!important;max-width: initial!important;padding-bottom: 31px;}
.ergent-ad .upload .dz-default.dz-message span:before{margin-bottom:20px;font-size: 36px!important;}
.cat-ads-widget .item.ergent-ad .left .btn{margin: 30px auto;float: none;}
.cat-ads-widget  .item.ergent-ad .step1 .col-md-7.col-sm-9.col-xs-9 {width:100%}
.cat-ads-widget  .item.ergent-ad .step1 .col-md-7.col-sm-9.col-xs-9 input{width:100%}

    .ergent-ad .upload.dropzone .dz-preview {
        margin: 0;
        margin-right: -5px;
        margin-top: -124px;
        padding-left: 12px;
        padding-top: 9px;max-width:none;
    }

}
@media(max-width:767px) 
{
.container.footer, .container.body-content, .header.container {width:100%!important;}
.show-fly {margin-right: -240px;}
.left-sidebar.item-range-1 {height: 195px;overflow-y: hidden;}
    .cat-ads-widget .item .middel {padding-right:15px!important;}


}
/* media queries for content compatibele with sidbar-fly END*/







@media (min-width: 992px)
{
    .left_float_310 {float: left;padding-left: 0;padding-right: 23px;}
    .cat-ads-widget {float: right;padding-left: 7px!important;}
}
@media(max-width:992px) and (min-width:768px) {
    .left_float_310 {
        float: left;
    }

 .cat-ads-widget .item{   padding-left: 8px!important; width: 97%; float: right; padding-right: 6px!important;
}
    
}




@media (max-width: 993px) {
    /* sprint 10 */
    .cat-ads-widget .item .middel p.details {display:none;}
    .cat-ads-widget .item {margin-bottom: 10px;padding-top: 18px;}
    .cat-ads-widget .item .middel {padding-right:0; margin-top: 14px;}
    .cat-ads-widget .item {padding-left: 15px!important;}
    /* sprint 10 end */

    .cat-ads-widget .item .middel:last-child {width: 100%;}
    .ergent-ad h1 {padding-right:15px;}
    .col-sm-no-padding {padding-left: 0;padding-right: 0;}
    .col-sm-padding-left-3{padding-left: 3px;}
    .cat-ads-widget .item .tags-container {
    padding-right: 50px!important;
}
}


/* item new changes as boss saied  */
@media (max-width: 992px) {
    .cat-ads-widget .item:not(.ergent-ad) .left {margin-top: -17px!important; }
    .cat-ads-widget .item .middel {margin-top: 0!important;}

    .cat-ads-widget .item .right span {display: inline-block;clear: none;float: none;width: auto;font-size: 11px;}

    .cat-ads-widget .item .tags-container {padding-right: 0px!important;}

}

@media (max-width: 480px) {
    .cat-ads-widget .item:not(.ergent-ad) .left {margin-top: -27px!important; }
    .cat-ads-widget .item .middel {margin-top: 0!important;}
    .cat-ads-widget .item:first-child {border-top: 0;}
    .left_float_310 {padding-right: 2px;}

}
/* item new changes as boss saied end */


@media (min-width: 768px) {
    .left-sidebar .item.col-sm-6:nth-child(2n) {clear: right;}
   /* .top-cat li {width: 20%;padding-left: 0;}*/
        
}

@media (max-width:768px) {
     .left-sidebar .item.col-xs-6:nth-child(2n){clear:right;}
   /*.top-cat li:nth-child(3n+1) {border-right:0!important;}
    .top-cat li:nth-child(5n+1) {border-right: 0;border-right: 1px solid #e2e7ec;}
    .top-cat li:nth-child(4n+1){border-right: 1px solid #e2e7ec;}*/
    .cat-ads-widget .item .right span {padding-right: 15px;margin-bottom:10px;}  
   
    .cat-ads-widget .item .tags-container {padding-right: 15px!important;}

}
@media (max-width: 580px){
.top-cat li {width: 33%;}
}

@media (max-width:550px) {
    .left-sidebar .item.col-xs-6 {width:100%;}
}

@media (max-width:405px)
{
    .top-cat li {width:50%;}
   /* .top-cat li:nth-child(3n+1) {border-right: 1px solid #e2e7ec !important;}
    .top-cat li:nth-child(2n+1) {border-right:0!important;}*/
}


 @media(min-width:480px) {
    .show-below-480 {display:none!important;}
     .show-up-480 {display:block;}
}
@media(max-width:480px)
{
    .show-below-480{ display:block;}
     .show-up-480 {display:none!important;}
    .mosaig:not(.home-ads) {display:none;}
    .mosaig.home-ads {display: none;}
    .top-cat li {width: 100%;}

}






@media(max-width:395px) {
    /*.pagination > li > a, .pagination > li > span {    padding: 4px 9px;}*/
}

.be-discounter .categories-discounter 
{
display:block;

}
.be-discounter #scroller>ul {
    overflow: hidden;
    float:right;
}
.categories-discounter{background: #f2f5f7;
height: 22px;
cursor: pointer;
font: normal normal normal 14px/1 FontAwesome;
font-style: normal;
font-weight: 400;
text-align: center;
line-height: 25px;
font-size: 12px;
position: absolute;
bottom: 0px;
width: 100%;
box-sizing: border-box;
margin: 0;
margin-right: -1.6%;
border-top: 1px solid #E2E7EC; display:none;}
.categories-discounter:before {
    content: "\f107";
    color: #aeaeaf;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 22px;
}
    .categories-discounter.recontent:before {
        content: "\f106";
    }

.height-auto {
    height:auto!important;
}
.vijehIcon{ 
    margin-right: 8px;
}


@media(max-width:370px)
{

.cat-ads-widget .item .left {float: left;width: 33%;}
.cat-ads-widget .item .middel,.cat-ads-widget .item .right {float: right;width: 65%;}
.cat-ads-widget .item .left {float: left;width: 33%;}

}