

.fnIscroll,.fnIscroll * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




.fnIscroll {
	position: relative;
	z-index: 1;
	top: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
	height: 190px;
	margin-bottom:20px;
	bottom: -14px;
}

.fnIscroll #scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.fnIscroll #scroller ul {
	width: 100%;background:#f2f5f7;
}

.fnIscroll #scroller li {

	height: 40px;
	line-height: 40px;background:#f2f5f7;
	width:100%;
}
.fnIscroll #scroller li a {
    width: 100%;
    display: block;

}