/**
 * Hello there!
 *
 * hideShowPassword doesn't have any CSS requirements.
 *
 * If you're looking for examples of how you might
 * style the inner toggle, check out...
 *
 * - example.minimal.css
 * - example.wink.css
 *
 * ...in the same directory as this.
 *
 * Thanks for checking out our plugin! :)
 */

/* custom toggle style */

.my-toggle {
  background: transparent;
  border: 0;
  border-radius: 0.25em;
  color: #888;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.my-toggle:hover,
.my-toggle:focus {
  background-color: #eee;
  color: #555;
  outline: transparent;
}

::-ms-reveal,
::-ms-clear {
  display: none !important;
}

.hideShowPassword-toggle {
  background-color: transparent;
  background-image: url('images/wink.png'); /* fallback */
  background-image: url('images/wink.svg'), none;
  background-position: 0 center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  margin: 0;
  max-height: 100%;
  padding: 0;
  overflow: 'hidden';
  text-indent: -999em;
  width: 46px;
  -moz-appearance: none;
  -webkit-appearance: none;
  right:0;
  left:auto!important;
}

.hideShowPassword-toggle-hide {
  background-position: -44px center;
}

.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
  /*border-color: #0088cc;*/
  outline: transparent;
}


.hideShowPassword-field {
    padding-right: 46px!important;
    padding-left: 12px!important;
}


.tooltipe {
    position: absolute;
    bottom: 100%;
    background-color: #000;
    color: #fff;
    margin-bottom: 2px;
    left: 50%;
    margin-left: -14%;
    min-width: 100px;
    padding: 5px;
    border-radius: 4px;display:none;text-align:center;

}

.tooltipe:after {
    color: #000;
    margin-bottom: -3px;
    content: "\f0d7";        font: normal normal normal 14px/1 FontAwesome;    
    font-size: 19px;    text-rendering: auto;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    transform: translate(0, 0);
    clear: both;
    display: inline-block;
    position: absolute;
    bottom: -9px;  left: 50%;
  margin-left: -6px;
}