.Login-modal {width: 650px;background: #fff;box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);height: auto;margin: 5% auto;display: block;float: none;margin-top:0;}

/* steps of login views */
.Login-modal .sinup {float: right;width: 100%;background: #fff;box-shadow: 0 0 3px rgba(97, 79, 79, 1);}
.Login-modal .quick-singup {float: right;width: 100%;background: #fff;}
.Login-modal .quick-singup .contai, .Login-modal .forget-password .contai .inner {float: none;width: 365px;margin: 0 auto;padding: 0;}
.Login-modal .guest .command-margin-top a{margin-right:80px;min-width:240px; }
.Login-modal .guest .command-margin-top .turen{background: #d8d8d8;color: #000;border-color: #d8d8d8;}
/* steps of login views end */

.Login-modal .title {height: 40px;float: right;background: #f2f5f7;line-height: 35px;font-size: 14px;margin-bottom: 25px;}
.Login-modal .contai {float: right;padding: 0 58px;width: 100%;box-sizing: border-box;}
.Login-modal .filed {width: 100%;font-weight: normal;}
.Login-modal .filed>span{margin-bottom: 10px;float: right;font-size: 12px;}
.Login-modal .left .set-margin-top{margin-top: 20px;margin-bottom: 20px;width: 100%;float: left;font-size: 12px;font-family: IRANSans, Tahoma;}
.reverse-padding-to-right {padding-left: 0;padding-right: 30px;}
.social-login-btn:before{max-height: 48px;width: 38px;display:inline-block;font-size: 19px;border-left: 1px solid #fff;text-align: center;line-height: 26px;padding-top: 4px;float: right;margin-left: 10px;font-family: FontAwesome;}
.Login-modal .social-login-btn{float: left;width: 100%;max-height: 30px;line-height: 27px;font-size: 14px;font-weight: normal;color:#fff;text-decoration:none!important;margin-bottom: 16px;cursor:pointer;font-family: "IRANSans, Tahoma";}
.Login-modal .social-login-btn:hover {box-shadow: 0px 0px 5px rgba(0,0,0,0.5);color: #fff;}
.Login-modal .margin-float {margin-bottom:15px;float: right;}
.Login-modal .fa-google {background: #d1412d;color: #fff;}
.Login-modal .fa-linkedin {background: #0282c9;}
.Login-modal .fa-yahoo {background: #400191;}
.Login-modal .fa-facebook {background: #3662a1;}
.Login-modal .btn-primary {border-radius: 0px;float: right;margin: 0;min-width: 85px;min-height: 30px;line-height: 16px;max-height: 30px;}
.Login-modal  .inline-link {margin-top: 4px;float: right;line-height: 34px;margin-bottom: 0;margin-right: 17px;font-size: 12px;line-height: 16px;}
.Login-modal  input.form-control,.Login-modal  input[type="text"] ,.Login-modal .captcha-image,.Login-modal .captcha-button{height: 30px;}
.Login-modal .command-margin-top {margin-top: 5px;margin-bottom: 35px;}
.Login-modal .footer_ {width:100%;float:right;padding:13px 0;border-top:1px solid #ccc;}
.Login-modal .footer_ a+a {border-right: 1px solid #ccc;padding-right: 6px;line-height: 19px;height: 24px;display: inline-block;}

/*for show and create popup animat*/

.popup-login-container {position: fixed;height: 100%;width: 100%;z-index: 500;top: 0;right: 0;background: rgba(0,0,0,0.5);/*display:none;*/}
.Login-modal>*{/* display:none;transition: all 0.5s;  opacity: 0; */}
.sinup-show .sinup {display: block;opacity: 1;}
.quick-singup-show .quick-singup {display:block;opacity:1;}
.Login-modal .clear-fix {width: 100%;clear: both;height: 1px;}
.Login-modal .contai {overflow-y:auto;}
/*for show and create popup animat End*/

.Login-modal .fa-close {float: left;margin-top: 12px; cursor:pointer;font-family: FontAwesome!important;}
.Login-modal a {font-size: 12px;}

.Login-modal .field-validation-valid {display: none;}
.Login-modal .quick-singup .contai{width:265px;clear:both;    /*min-height: 335px;*/}
.Login-modal .quick-singup .contai p {font-size:12px;  width: 100%;max-width: 100%; box-sizing: border-box; margin-right: 0;padding-right:17px;}
.Login-modal .capcha_config .captcha-button {width: 18%;}

.Login-modal .forget-password {float:right;width:100%;background:#fff;}
.Login-modal .forget-password .contai .inner p {font-size: 12px;}
.Login-modal .forget-password .contai .inner .command-margin-top .btn {float: none;margin: 0 auto;display: inherit;}
.Login-modal .forget-password .contai .inner {width:265px;}
.Login-modal .field-validation-valid {
    display: none;
}

    .Login-modal .btn-primary.ladda-button[disabled] {
    padding-right: 40px!important;
}
    .Login-modal .sinup .hideShowPassword-wrapper {
    float: right;
    width: 100%;
}
    .Login-modal .forget-password .hideShowPassword-wrapper {
    float: right;
    width: 100%;
}


@media(max-width:992px)
{
    .Login-modal .capcha_config>span {width: 100%;float: right;display: block;}
    .col-md-6.reverse-padding-to-right.left {padding-right: 0;}
    .Login-modal .social-login-btn {width: 32%;margin-left: 1%;float:right;}
    .Login-modal .contai>.no-padding-right {padding-left: 0;}
    .Login-modal .quick-singup{padding-bottom:15px}
}
@media(min-height:500px) {
    .Login-modal .quick-singup .contai {min-height: 335px!important;}
}

@media(max-width:768px) {
   /* .Login-modal {margin-top:50px;}*/

}
@media(max-width:720px)
{
   .Login-modal {
    width: 90%;
} 
}

@media(max-width:670px)
{
    

    .Login-modal .capcha_config>div,.Login-modal .social-login-btn {
    width: 240px;
    float: right;
}

}
@media(max-width:550px)
{
    .Login-modal .capcha_config>div {width: 100%;}
    .Login-modal .capcha_config .captcha-image {width: 36%;}
    .Login-modal .social-login-btn {width: 100%;}
}

@media(max-width:450px)
{
.Login-modal .contai{padding:0 20px}

}
@media(max-width:350px)
{
    .Login-modal .contai .inner{width:100%}
    .Login-modal .forget-password .contai .inner{width:100%;}
    .Login-modal .quick-singup .contai{max-width:100%;padding-right:5%;padding-left:5%;box-sizing:border-box;}
}
