﻿@import url(../Content/fontiran.css);

* {font-family:IRANSans, Tahoma;font-weight: 400;}
body {background-color:#fff!important;font-family:IRANSans, Tahoma;}
.header a.logo {float: right;}
.header .logo img {max-width:206px;}
.header .search {border: 1px solid #d9d9db;float: right;width: 610px;margin: 22px 3% 0 2%;height: 45px;}
.header .search .search-button {float: left;width: 7%;text-align: center;height: 42px;vertical-align: middle;cursor: pointer;}
.header .search .search-button:before {vertical-align: middle;display: inline-block;margin-top: 13px;}
.header .search input[type="text"] {border: 0;float: right;width: 93%;height: 42px;line-height: 42px;padding: 0 6px;box-sizing: border-box;}
.home-title {float: right;width: 100%;margin-bottom: 12px;padding: 0;font-weight: bold;font-size: 18px;font-family: IRANSans, Tahoma;}
.footer li a {color: #000;font-size: 13px;}
.footer li a:hover {color:#428bca;}
.footer .enamad {height: 88px;  float: left;margin-top:-20px;}
.fotter_border{margin: 80px auto 40px auto;padding-top: 17px;padding-bottom: 12px;background: #f2f5f7;border: 1px solid #e2e7ec;}
.blockqute_{border-right: 1px solid #d8d8d8;font-size: 11px;}
.page_back_link {line-height:78px;color:#0030ff;}
.title-of-section-with-undred-border{border-bottom: 1px solid #d1d1d1;width: 100%;display: block;padding-bottom: 5px;margin-bottom:20px;}
.clearfix-display-block {display:block;clear:both;}
input ,textarea{border:1px solid #cdcdcd;box-shadow:none;}
.input-large {height:34px;}
.position-relative {position:relative;}
.white-space {white-space: pre-line!important;}

.header ul.nav {float: left;margin-top: 22px;}
.header ul.nav.tel-nav {width:50%;}
.header{position:realtive;}
.header ul.nav li {float: left;}
.header .nav li>.btn {border-radius: 0;background: #4583eb;}
.header .nav li .btn:hover {background: #4583eb;}
.header .nav li:first-child a{position:static;padding-bottom: 10px;margin-right: 15px;}
.header .nav li a{position:realtive;bottom: -13px; padding-bottom:0;font-family: IRANSans, Tahoma;}
.header .nav li>a:hover{background:none;}
.header .some-info {float: left;font-size: 12px;padding-top:8px;color:#a6a6a6;}
.header .some-info>* {margin-right: 17px;float: left;}
.header .some-info>*:last-child {margin-right: 0;}
.header .some-info a {color: #a6a6a6;text-decoration: none;}
.header .some-info a:hover {color: #000;}
.header .some-info .value {color:#000;direction: ltr;font-size: 13px;unicode-bidi: embed;}
.title-of-page {
    float: right;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: IRANSans, Tahoma;
}
.over-hide,.over-hide body {overflow:hidden;}
/* 404 error */
.error-404 {font-size: 13em;font-family: IRANSans, Tahoma;text-align: center;margin: 0 auto;display: block;color: #928A8A;}
.error-404-hint {font-family: IRANSans, Tahoma;text-align: center;display: block;font-size: 15px;padding-bottom: 17px;}
/* 404 error end */

.popup-container {position: fixed;height: 100%;width: 100%;z-index: 500;top: 0;right: 0;background: rgba(0,0,0,0.5);}
.popup-container .inner{width: 650px;background: #fff;box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);height: auto;margin: 5% auto;display: block;float: none;margin-top: 7%;    text-align: center;}
.popup-container .inner .title {height: 40px;float: right;background: #f2f5f7;line-height: 35px;font-size: 14px;margin-bottom: 25px;    text-align: right;}
.popup-container .inner .title .fa-close {float: left;margin-top: 12px;cursor: pointer;font-family: FontAwesome!important;}

.float-left{float:left;}
.no-margin-left {margin-left:0!important;}
.no-padding {padding:0!important;}
.no-padding-right {padding-right:0!important;}
.no-padding-left {padding-left:0!important;}
.litle-inf {
    margin-bottom: 15px;
}
.clear-margin-left-right{margin-left:0!important;margin-right:0!important;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-top-right-radius: 0!important;  border-bottom-right-radius: 0!important;}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-top-left-radius: 0!important;border-bottom-left-radius: 0!important;}

.auto-height{height: auto!important;}

.stars-container {display: inline-block;vertical-align: middle;margin-left:5px;}
.stars-container .fa-star-o {color:rgba(150, 150, 150, 0.51);/*rgba(153, 137, 137, 0.77)*/ }
.stars-container i {float: right;font-size: 11px;line-height: 23px;margin-left: 1px;}
.stars-container .fa-star{color: #FFBF01;}
.stars-container img {height: 10px;margin-top: -10px;}
.fa-check-circle.iranzamin {color: #5FA43A;vertical-align: middle;}
.fa-check-circle.special {color: #3F94B1;vertical-align: middle;}


/* related serach tag  */

.related-search-tags {background: #f2f5f7;  padding: 7px;  border: 1px solid #e2e7ec;  float: right;  width: 100%;  box-sizing: border-box;  color: #404040;  height: 33px;  overflow: hidden;  font-size: 11px;  margin-top: 0px;margin-bottom: 24px;}
.related-search-tags .related-search-tags-container .tag,.related-search-tags .related-search-tags-container .title{color: #404040;  cursor: pointer;  text-decoration: none;  line-height: 19px;  height: 16px;margin-bottom: 6px;display: inline-block;}
.related-search-tags .related-search-tags-container .title {color: #999a9c;}
.related-search-tags.toggle-agent .related-search-tags-container {width: 95%; width:calc(100% - 50px); float: right;}
.related-search-tags.toggle-agent .height-toggle {width: 5%;width: calc(100% - (100% - 50px));float: left;text-align: center;font-size: 22px;cursor:pointer;}
.related-search-tags.auto-height .height-toggle:before{content: "\f106";}

/* related serach tag  end */
 
/* start from responsive step */
.footer ul {margin-bottom: -6px;}
.footer ul li {margin-bottom: 11px;}
.footer ul li a{ color: #636363;font-size: 12px;}
.footer span{font-size: 11px;color: #999;line-height: 22px;}
.footer .blockqute_ span {color: #000;}

.clickEvent {background:#ccc!important;text-decoration:none!important;}
.footer ul li a.clickEvent {width: 100%;display: inline-block;}
.none-copy {
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}


.preview{background:rgb(240,229,197);padding: 15px;box-sizing: border-box;}
.preview .title,.preview .msg {width: 100%;float: left;text-align: center;display: block;}
.preview .msg {color:#000;}.preview .title {color: rgb(196,0,0);}
 .show-768,.show-in-480 {display:none; }
 .unicode-override-ltr{unicode-bidi: bidi-override;direction: ltr;text-align:right;}
.direction-ltr {direction:ltr;}
html {overflow-x:hidden!important;padding:0!important;}

.go-to-scroll-y {overflow-y:scroll;}

.under-login {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 5600000;text-align: center;padding: 18%;box-sizing: border-box;display:none;}
.under-login .loader {background: #fff;border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 4px;padding: 3px;height: 38px;margin: 0 auto;width: 42px;float: none;}

.gmnoprint>* {left: 0;}

/* linkes*/




.linkes {border: 1px solid #d8d8d8;padding-top:15px;padding-bottom:15px;margin-bottom: 12px;}
.linkes>a {text-align: right;padding: 0;color: #686868;margin-bottom: 6px;width: 12%;font-size: 10px;}
.linkes .title {text-align:right;padding: 0;margin-bottom: 8px;float:right;width:100%;box-sizing:border-box;}
.linkes.go-to-responsive-view {height: 50px;overflow: hidden;}
.linkes.go-to-responsive-view .title {    margin-bottom: 0px;cursor: pointer;padding-bottom: 14px;margin-top: -15px;padding-top: 15px;padding-left: 15px;box-sizing: content-box;padding-right: 15px;margin-right: -15px;}
.linkes.go-to-responsive-view .title:after {display: inline-block;  font: normal normal normal 14px/1 FontAwesome;  font-size: inherit;  text-rendering: auto;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  transform: translate(0, 0);  content: "\f107";float: left;}
.linkes.go-to-responsive-view.height-auto .title:after {content: "\f106";}



 

.userlinks {float: right;margin-top: 10px;}
.userlinks a {float: right;margin-bottom: 10px;clear: both;}

/* material loader*/

.loader {height: 2px;width: 100%;position: relative;overflow: hidden;background-color: #ddd;margin-bottom:30px;}
.loader:before{display: block;position: absolute;content: "";left: -200px;width: 200px;height: 3px;background-color: #2980b9;
               animation: loading 2s linear infinite;
               -webkit-animation: loading 2s linear infinite;
                -moz-animation: loading 2s linear infinite;
                 -o-animation: loading 2s linear infinite;

}

.Login-modal .btn-primary.ladda-button {padding: 0;font-size: 14px;background-color: #428BCA;overflow: hidden;}
.Login-modal .btn-primary.ladda-button:hover {color: #ffffff;    background-color: #3276b1;    border-color: #285e8e;}

.hint{font-size: 21px;color: green;float: right;width: 100%;box-sizing: border-box;}
.ltr_setting {text-align: left;direction: ltr;}

.filterPane {*max-height: 250px;*overflow-y: scroll;background-color: #dddcdd;}
.tagfilter {  display: inline-block;border: 1px solid #d7dff2;vertical-align: middle;background: #ebf5ff;padding: 4px 6px 6px 6px;margin: 10px 0px 0px 8px;}
.tagfilter .close-tagfilter {color: red;text-decoration: none;font-weight: normal;margin-left: 6px;font-size: 15px;}
.tagfilter .title {color: #808589;}
.tagfilter .text {color: #000009;}
div#remove-all-filters {float: right;width: 100%;margin: 15px 0px;}

.lSSlideOuter * {direction: ltr;}
.lSSlideOuter .lightSlider li img {display: block;margin: 0 auto;max-height:98%;}
.lSAction > .lSPrev{left:0!important;width: 10px;}
.lSAction > .lSNext{right: 0!important;text-align: right;width: 10px;}
.lSAction > .lSPrev:before,.lSAction > .lSNext:before{font: normal normal normal 14px/1 FontAwesome!important;font-style: normal;font-weight: 400;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; color: #fff;      font-size: 15px;      background: rgba(0,0,0,0.5);      padding: 10px 0;      text-decoration: none;      cursor: pointer;      font-size: inherit;      text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;transform: translate(0, 0);}
.lSAction > .lSNext:before {  content: "\f054";right:0}
.lSAction > .lSPrev:before {content:"\f053";left:0;}
.lSSlideWrapper {border: 1px solid rgb(226, 231, 236);    max-height: 277px!important;min-height: 277px!important;}
.lSSlideOuter .lightSlider {height: auto!important;max-height: 100%!important;}
.lSSlideOuter .lSPager.lSGallery li {float:right;}
.lSSlideOuter .lSPager.lSGallery li {width: 24.2%!important;padding: 2px;border: 1px solid rgb(226, 231, 236);margin-bottom: 1%;cursor: pointer;box-sizing: border-box;    min-height: 65px;max-height: 65px;    margin: 1% 0px 1% 3px!important;}
.lSSlideOuter .lSPager.lSGallery li * {max-width: 100%!important;max-height: 60px!important;margin: 0 auto!important;}
.lSSlideOuter .lSPager.lSGallery {width: 100%!important;transform:none!important;}

.lSSlideOuter .pagger {position: absolute;width: 100%;z-index: 2;top: 250px;text-align: center;    direction: rtl;}
.lSSlideOuter {position: relative;}
.lSSlideOuter .pagger li {height: 10px;width: 10px;background: #FFF;display: inline-block;margin: 0 3px;border-radius: 100%;cursor: pointer;border: 1px solid #000;}
.lSSlideOuter .pagger li.active{background: #000;}
.lSSlideOuter .lSPager.lSGallery li.active {border: 3px solid rgb(226, 231, 236);border-radius: 0!important;}
.lSSlideOuter .title-of-current-image {float: right;margin-top: 2px;width: 100%;line-height: 40px;text-align: center;    min-height: 40px;}
.lSSlideOuter .lSPager.lSGallery li .fa-play:before {    display: block;position: absolute;font-size: 27px;color: #CFCDCB;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);top: 0;left: 0;box-sizing: border-box;padding-top: 16px;text-align: center;}
.ads-img-slider-widget{display:none!important}


.loader.lazyloader {height: 25px;width: 25px;right: 50%;border: 1px solid #ccc;border-radius: 2px;padding: 5px 7px;box-sizing: content-box;top:48%;z-index: 555;display:none;    position: fixed;display:none;}
.loader.lazyloader.show,.loading-process.show {display:block!important;}
.loading-process {position: fixed;height: 100%;width: 100%;z-index: 555;background: rgba(0, 0, 0, 0.26);top: 0;right: 0;display: none;}
.loading-process .loader {width: 28px;height: 28px;box-sizing: content-box;position: fixed;top: 50%;left: 50%;margin-top: -14px;background: rgba(3, 7, 29, 0.28);border: 2px solid #ccc;border-radius: 4px;padding: 5px 10px;}
.old-niazerooz-link {margin-left: -15px;}

@-webkit-keyframes loading {
   from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
@-moz-keyframes loading {
   from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
@-o-keyframes loading {
   from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}


@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
/* material loader end */


@media (max-width:700px)
{.linkes>a{width:25%;}}
@media (max-width:400px)
{.linkes>a{width:33%;}}
@media (max-width:400px)
{.linkes>a{width:100%;}


}


/*lineks end*/

/* mosaig items */
.mosaig{margin:10px 0}
.mosaig .mosaig-item {padding: 10px 0;width: 30%;margin-left: 5%;margin-bottom: 20px;}
.mosaig .mosaig-item .left img {max-width: 150px;max-height: 100px;float: left;  }
.mosaig .mosaig-item .right {float: right;width: 49%;padding-left: 7px;box-sizing: border-box;}
.mosaig .mosaig-item .left a {float: left;width: 100%;}
.mosaig .mosaig-item .left {    float: left;max-width: 150px;max-height: 100px;height: 100%;width: 100%;}
.mosaig .mosaig-item .left * {max-width: 100%!important;}
.mosaig .mosaig-item:hover {outline: 2px solid rgba(203, 203, 203, 0.23);outline-offset: 10px;}
.mosaig .mosaig-item .right .details {font-size: 12px;max-height: 52px;overflow: hidden;margin-bottom: 0;height: 55px;}
.mosaig .mosaig-item .right .details *{color:#000;}
.mosaig .mosaig-item .right .details a {cursor:pointer;font-weight:500;}
.mosaig .mosaig-item .right .details a:hover {text-decoration: underline;}
.mosaig .mosaig-item .right .sub-details {color: #595959;float: right;width: 100%;white-space: nowrap;overflow: hidden;font-size: 11px;}
.mosaig .mosaig-item .right .sub-details .data-prtify {direction: rtl;font-size: 9px;}
.mosaig .mosaig-item .right .stars-container * {margin-top: -5px;}


.mosaig .mosaig-item .left .video {float: left;color: #c70001;width: 100%;}
.mosaig .mosaig-item .left .video:before {float: left;background: #eaeaea;outline: 1px solid #d4d4d4;width: 24px;height: 23px;line-height: 23px;text-align: center;padding-left: 4px;}
.mosaig .mosaig-item .left .video span {line-height: 23px;font-size: 12px;padding-left: 5px;display: none;box-sizing: border-box;text-align: left;float: left;}
.mosaig .mosaig-item:hover .left .video span {display: inline-block;}

/*.category-title-normal{float: right;width: 100%;margin-bottom: 15px;font-size: 15px;}*/
.category-title-normal{float: right;
    text-align: right;
    font-size: 14px;
    line-height: 35px;
    font-family: IRANSans, Tahoma;
    height: 35px;
    margin-bottom: 3px;
    padding-right: 0px;
    display: inline-block;
    width: 100%;
    font-weight: bold;}

@media(min-width:991px)
{
    .mosaig .mosaig-item:nth-child(3n+1) {float: right;clear: right;}
}
@media(min-width:815px ) and (max-width:991px)
{
    .mosaig .mosaig-item:nth-child(2n+1) {float: right;clear: right;}
}
@media(min-width:993px)
{
    .mosaig .mosaig-item:nth-child(3n) {margin-left:0;}
}
@media(max-width:992px){
    .mosaig .mosaig-item{width: 45%;margin-left: 5%;margin-right:0;}
    .mosaig .mosaig-item:nth-child(2n) {margin-left:0;margin-right: 5%;}

    }

.mosaig {
    padding: 0;
}

@media(max-width:830px)
{
   .mosaig {
    padding: 0 2%;} 
}
@media(max-width:815px)
{
    .mosaig .mosaig-item,.mosaig .mosaig-item:nth-child(2n){width:98%;float:right;margin-left:1%;margin-right:1%;}
}


/* mosaig items end */


.old-niazerooz-link {
    float: left;
}
/* @media query for header responsive */

@media(max-width:1200px)
{

   .header .search {width: 55%;margin-left: 0;}
}
@media(max-width:992px)
{.header .search {width: 49%;margin-left: 0;}
}
@media(max-width:780px)
{
  .header .search {width: 50%;margin-left: 0;margin-right: 3%;}  
  .header ul.nav {margin-top: 17px;}
  .header .nav li:first-child a{margin:4px 0;}
}



@media(max-width:700px)
{
   .header .search {width: 100%;margin:0;} 

}
@media(max-width:768px) 
{
    .header .logo img {width: 84px;margin-top: -5px;height:58px;}
      .some-info {display:none!important;}
    .header ul.nav { margin-top:0px!important; }
    .header .search {margin-top: 4px;}
}


/*  @media query for header responsive end */


@media (max-width:993px) {
    .footer span {text-align: right;border: 0;padding-top: 14px;padding-bottom: 5px;padding-right: 0;}
    .footer ul{ margin-top: 0;border-bottom: 1px solid #e2e7ec;}
    .footer .enamad {margin-top: 15px;}


}







@media(max-width:767px) {
    .show-768 {
        display: block;
    }

    .header .logo img { margin-right: 60px;
    }
    .footer span {
        text-align:center;
    }
    .footer .enamad {margin: 0 auto!important;display: block;float: none;width: 140px!important;}
}
@media(max-width:768px) {
    
    .footer .fotter_border{ padding-top: 0;}
    .footer ul {margin: 0;padding: 0;}
    .footer ul li {margin-bottom: 0;border-top: 1px solid #e2e7ec;padding: 10px 0 11px 0;    padding-right: 15px!important;}
    .footer ul li:first-child{ border-top: 0;}
     .navigation-text {margin-top:10px!important;}
}

/* start from responsive step End*/

@media(max-width:570px)
{/*
.header a.logo { float: none;}
.header a.logo img {margin: 0 auto;width: 110px;}
.header ul.nav {float: none;margin: 0px auto 0px auto;width: 206px;}
.header .nav li:first-child a{ margin-right: 0;}
.header .nav li:first-child {width: 100%;}
.header ul.nav li {width: 33%;}
.header .nav li a{ text-align: center;bottom: 0;}*/

 .cat-ads-widget .item .middel,.cat-ads-widget .item .right {
    float: right;  
    width: 74%;
}
.cat-ads-widget .item .left {
    float: left;  width: 22%;
}

.cat-ads-widget .item .left * {
    max-width: 100%;
}

}

@media(max-width: 445px){
.footer.container {width:100%!important;width: 100%;max-width: 100%!important;padding: 0;}
.header .nav li a {bottom: 0;margin-right: 4px!important; padding-right: 2px;padding-left: 2px;white-space:nowrap!important;}
}
@media(max-width: 440px){
	.footer ul li {width: 100%;}
	.footer *, .footer ul {padding: 0;margin-left: 0!important;margin-right: 0; width: 100%!important;}
	.footer{padding:0!important;}
	 ul.group.row .col-xs-4 {width: 100%;}
    .fotter_border{margin-bottom:2px;padding-bottom:10px;font-size:80%;}
   
}


@media(min-width:481px) 
{
    .hidden-up-480 {display:none;}
}




/* footer image  */

@media(min-width:991px)
{

.footer img {
     cursor: pointer;
     width: 122px!important;
     margin: 0 auto!important;
     display: block;
     float: none;
     margin-right: -29px!important;
     float: right;
     max-width: none!important;
     }
    
}

@media (max-width:991px) AND (min-width:768px)
{

.footer img {
     cursor: pointer;
     width: 122px!important;
     margin: 0 auto!important;
     display: block;
     float: none;
     margin-right: -29px!important;
     float: right;
     margin-top: 15px!important;
     }
    
}

@media (max-width:768px)
{

.footer img {
     cursor: pointer;
     width: 122px!important;
     margin: 0 auto!important;
     display: block;
     float: none;
     
     
     margin-top: 15px!important;
     }
    
}

/* footer image end */


/* telegram link button in UserCard */

.telegram-link-container {background-color: #3996D3; float: right; cursor: pointer;}
.telegram-link-container .telegram-link {margin-bottom: 0; padding-left: 3px; padding-right: 3px;}
.telegram-link-container .telegram-link-text {float: right; margin-right: 2px; line-height:1.428571429;}
.telegram-link-container .telegram-link-text .telegram-link-text-top {color: #000; font-size: 12px; margin-top: 3px;}
.telegram-link-container .telegram-link-text .telegram-link-text-bottom {color: #fff; font-size: 16px; margin-top: 3px;}
.telegram-link-container .telegram-logo {max-height: 40px; max-width: 40px; margin: 5px 3px 5px 1px;}
.telegram-description {width: 100%; margin: auto; margin-top: 8px; font-size: 12px; color: #555; float: right;}

/* telegram link button in UserCard End */



/* telegram link image in footer */

.telegram-logo.footer {
    width: 32px !important;
    height: 32px;
    position: absolute;
    right: 5px;
    top: -5px;
    padding-right: 0!important;
}

@media (max-width: 991px) and (min-width: 768px) {
    .telegram-logo.footer {
        margin-top:0!important;
    }
}

@media (max-width: 768px){
    .telegram-logo.footer {
        width: 24px !important;
        height: 24px;
        position: absolute;
        right: -12px;
        top: -7px;
        padding-right: 0!important;
    }
}

@media (max-width: 440px) {
    .telegram-logo.footer {
        right: 11px;
    }
    .telegram-links {
        margin-right: 25px!important;
    }
}

/* telegram link image in footer */


/* telegram bot banner */

.telegram-bot-banner {
    clear: both;
    text-align: center;
}

    .telegram-bot-banner:hover > * {
        text-decoration: none;
    }

    .telegram-bot-banner .banner-content {
        background: #1892d1;
        height: 70px;
        position: relative;
        width: 100%;
    }

        .telegram-bot-banner .banner-content .banner-text {
            float: right;
            font-size: 10pt;
            line-height: 18pt;
            padding: 10px 15px 10px 10px;
            text-align: center;
            color: #fff;
            width: 80%;
        }

            .telegram-bot-banner .banner-content .banner-text .black {
                color: #333;
                font-weight: bold;
            }

            .telegram-bot-banner .banner-content .banner-text p.no-last-paragraph {
                margin: 0;
            }

        .telegram-bot-banner .banner-content .banner-image {
            /*max-width: 660px;
            width: 100%;*/
            bottom: 0;
            float: left;
            left: 0;
            position: absolute;
            /*width: 25%;*/
        }

            .telegram-bot-banner .banner-content .banner-image > img {
                float: left;
            }

@media(max-width:1096px){
    .telegram-bot-banner .banner-content {
        height: auto;
    }

        .telegram-bot-banner .banner-content .banner-text {
            float: none;
            padding-left: 50px;
            padding-right: 50px;
            width: 100%;
        }

        .telegram-bot-banner .banner-content .banner-image {
            width: 100%;
            float: none;
            position: relative;
            text-align: center;
        }

            .telegram-bot-banner .banner-content .banner-image > img {
                float: none;
                margin-top: -18px;
                width: 125px;
            }
}

@media (max-width: 450px){
    .telegram-bot-banner .banner-content .banner-text {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* telegram bot banner */


.icon-flip-horizontal {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}