﻿.right-sidbar-fly {float: right;}
.sidbar-fly {width:240px;position: fixed;top: 0;height: 100%;background:#afafaf;background: #dadada;z-index: 555;margin-right:0;
 -webkit-transition: all .2s ;
-moz-transition: all .2s ;
-ms-transition: all .2s ;
-o-transition: all .2s ;
transition: all .2s ;
right:0;}
.sidbar-fly .commands {float: left;height:100%;background: #000;position:relative;width: 60px;padding: 7px 0;  color: #cdcdcd;}
.sidbar-fly .commands a, .sidbar-fly .commands a:before {clear:both;  margin-bottom: 8px;cursor: pointer!important;width:60px;height: 40px;float: none;display: table;margin: 0 auto 14px auto;color: #cdcdcd;font-size: 10px;text-align: center;font-family:IRANSans, Tahoma;text-align:center;}   
.sidbar-fly .commands a .bag {
    position: absolute;
    background-color: red;
    color: #FFF;
    line-height: 14px;
     padding: 2px 4px;
  border-radius: 10px;
    float: left;
    left: 5px;
}
.sidbar-fly .commands .button {position: absolute;bottom: 0;width: 100%;}
.sidbar-fly .fa:before {color: #e3e3e3;border-radius: 100%;border: 2px solid #e3e3e3;padding: 7px;float: left;width: 40px;height: 40px;text-align: center;font-size: 22px;}
.sidbar-fly .fa-list-ul:before {transform: rotate(180deg);}
.sidbar-fly .fa.active, .sidbar-fly .fa.active:before, .sidbar-fly .fa.active svg path, .sidbar-fly .commands .fa.active div {color: #fffc02;border-color: #fffc02;fill: #fffc02;}
.sidbar-fly .inner-container {width: 180px;float: left;overflow: hidden;height:100%;}
.sidbar-fly .inner-container .item{ display:none;}
.sidbar-fly .inner-container .item.active {display: block;}
.right-sidbar-fly.show-fly{margin-right: -180px;/*overflow: hidden;*/}
.sidbar-fly svg {margin-bottom:5px;display: inline-block;margin-right: 10px;margin-left: 10px;}
.sidbar-fly .fa:hover svg *,.sidbar-fly .fa:hover {fill: rgb(255, 232, 0)!important;color: rgb(255, 232, 0)!important;}
.sidbar-fly .fa.green div,.sidbar-fly .fa.green, .sidbar-fly .fa.green svg path {color: #00ff1b;border-color: #00ff1b;fill: #00ff1b;}
.sidbar-fly svg *, .sidbar-fly svg path {fill: #dcdcdc;}
.right-sidbar-fly .bars{left: -56px;position: absolute;z-index: 560;padding: 3px 8px;top: 0;background: #000;cursor: pointer;}
.right-sidbar-fly .bars:before {border: 0;color: #e3e3e3;border-radius: 100%;padding: 7px;float: left;width: 40px;height: 40px;text-align: center;content: "\f0c9";display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 22px;}

.sidbar-fly .inner-container .item .btn {padding: 10px 15px;  border-radius: 0;  background: #4583eb;  color: #fff;}
.sidbar-fly .inner-container .item.user {text-align: center;padding:14px 0;box-sizing:border-box;}
.sidbar-fly .inner-container .item.user .btn {font-size: 14px;  min-width: 150px;  height: 33px;  line-height: 30px;  box-sizing: border-box;  padding: 0;font-family: IRANSans, Tahoma;margin-bottom:10px;}
.sidbar-fly .inner-container .item.user p {font-size: 10px;  line-height: 16px;  font-family: IRANSans, Tahoma;margin-top: 20px;float: right;width: 98%;margin-bottom: 15px;    margin-right: 2%;}
/*.sidbar-fly .inner-container .item.user .exit {margin-top: 18px;font-size: 14px;font-family: Tahoma;display: inline-block;cursor:pointer;}*/

.sidbar-fly .inner-container .item.user #Sidebar_UserCard {float: right;max-width: 100%;}
.sidbar-fly .inner-container .item.user .user-name {padding: 0 14px;max-width: 100%;float: right;border-bottom: 1px solid #b2b2b2;width: 100%;text-align: right;padding-bottom: 15px;color: #000;font-size: 12px;white-space: pre-line;overflow-x: hidden;}
.sidbar-fly .inner-container .item.user .userlinks {padding: 0 14px;margin-top:20px;}
.sidbar-fly .inner-container .item.user .userlinks a {color: #000;font-size: 14px;}
.sidbar-fly .inner-container .item.user .userlinks a .hint-bage {display: inline-block;width: auto;float: none;font-size: 14px;margin-right: 5px;color: #000;}
.sidbar-fly .inner-container .item.user .userlinks a .hint-bage * {color: red;}


/* for location in sidbar */
.sidbar-fly .inner-container .item {padding-right: 4px;}
.sidbar-fly .inner-container .item  .state {float: right;width: 100%;height: 35px;padding-right: 12px;}
.sidbar-fly .inner-container .item  .state a{color: #2e5afd;font-size: 10px;display: inline-block;line-height: 34px;cursor: pointer;}
.sidbar-fly .inner-container .item .inner{position: relative;overflow: hidden;float: right;width: 100%;     padding: 0 8px 10px 8px;padding-right: 0;}

.iScrollVerticalScrollbar.iScrollLoneScrollbar {left: 0;right: auto!important;background: #fff;width: 7px!important;}
.iScrollVerticalScrollbar.iScrollLoneScrollbar .iScrollIndicator {background: #b9b9b9!important;border: 0!important;border-radius: 0!important;}
.sidbar-fly .inner-container .item .inner li {font-size: 12px;color: #303030;line-height: 28px;cursor:pointer;padding-right: 10px;}
.sidbar-fly .inner-container .item .inner li a {font-size: 12px;line-height: 28px;cursor:pointer;}
.sidbar-fly .inner-container .item .inner li.nocapital a {color: #303030;}
.sidbar-fly .inner-container .item .inner li.capital a {color: #2e5afd;}
.sidbar-fly .inner-container .item .state.normal * {display: none;}
.sidbar-fly .inner-container .item.location_ .inner>ul {margin-top: -10px;}
/* for location in sidbar end */


/* Tariff */
.sidbar-fly .inner-container .item .step-l p {font-size: 10px;line-height: 22px}
.sidbar-fly .inner-container .item .step-l .btn {line-height: 28px;padding-top: 0;padding-bottom: 0;display: inline-block;}
.sidbar-fly .inner-container .item .step-l {text-align: center;padding-left: 12px;padding-top: 12px;padding-bottom: 28px;}
.sidbar-fly .inner-container .item .step-l.centeralaiz{border:1px solid #c1c1c1;border-left:0;    border-right:0;}
.sidbar-fly .inner-container .item .step-l.centeralaiz > form > * {width: 100%;}
.sidbar-fly .inner-container .item .step-l.centeralaiz .iranzamin {display: inline;}
.sidbar-fly .inner-container .item .step-l.centeralaiz .iranzamin-name {font-size: 8pt;}
.sidbar-fly .inner-container .item .step-l.centeralaiz .iranzamin-des {font-size: 7pt;}
.sidbar-fly .inner-container .item .step-l.centeralaiz select,.sidbar-fly .inner-container .item .step-l.centeralaiz input {height: 28px;color: #000000;}
.sidbar-fly .inner-container .item .step-l.centeralaiz select {margin-bottom: 10px;font-size: 10pt;}
.sidbar-fly .inner-container .item .step-l.centeralaiz input[type="checkbox"]{margin-left:8px;}
.sidbar-fly .inner-container .item .step-l.centeralaiz .price {font-family:IRANSans, Tahoma;font-weight:normal;margin:5px 0 30px;text-align:right;}
.sidbar-fly .inner-container .item .step-l.centeralaiz .price * {font-family:IRANSans, Tahoma;font-weight:normal;margin-bottom:3px;text-align:right;font-size: 10pt;}
.sidbar-fly .inner-container .item .step-l.centeralaiz .price > div > div > input[type=text] {width:75%;}
.sidbar-fly .inner-container .item .step-l.centeralaiz .price > div.payable > div > input[type=text] {color:#0c8001;}
.sidbar-fly .inner-container .item .step-l.centeralaiz button#onlinePayment {background: none;border: none;color: #4583eb;font-family: IRANSans, Tahoma;font-size: 10pt;outline: none;}
.sidbar-fly .inner-container .item .step-l.centeralaiz button#onlinePayment:hover {color: #0026ff;}
.sidbar-fly .inner-container .item .step-l.centeralaiz button#onlinePayment:active {color: #888;}

.sidbar-fly .inner-container .item .step-l.centeralaiz>label,.sidbar-fly .inner-container .item .step-l.centeralaiz>span {text-align: right;width: 100%;display: block;font-weight:normal;font-size:14px}
.sidbar-fly .inner-container input#TariffResult{ text-align: center;}


.sidbar-fly .inner-container .item .step-l.centeralaiz> p,.sidbar-fly .inner-container .item .step-l > p {width: 110%;margin-right: -5%;font-size: 9pt;}
.sidbar-fly .inner-container .item .step-l > p.highlighted {color: #009900;font-weight: bold;}
.sidbar-fly .inner-container .item .step-l.centeralaiz> p {padding: 0 6px;}
.sidbar-fly .inner-container .item .step-l:last-child p {font-size: 11px;}

/* tariff end*/
.sidbar-fly  input#Panel_TariffResult {width: 75%;padding-right: 10px;box-sizing: border-box;}
.donot-show-child *{ display: none !important;}


/* for loader */
.sidbar-fly .under-login {position: absolute;height: auto;width: auto;top: 0;right: 50%;padding: 0;width: 42px;margin-right: -58.5px;top: 50%;margin-top: -18.5px;}
/* for loader end */

/* for filters*/
.sidbar-fly .inner-container .item.filters {
    padding-right: 0;
}
.cndidate-accrodion {
    float: right;
    width: 100%;
}
.sidbar-fly .inner-container .item .filterPane .inner label {
    font-size: 12px;
    line-height: 20px;  cursor: pointer;font-weight:normal;
} 


.irs-from {
    visibility: visible!important;    left: 0!important;
}

.irs-to {
    visibility: visible!important;    
    right: 0!important;
}

.irs-single {
    display: none;visibility: hidden!important;
}
.cndidate-accrodion .title {
    float: right;
    background-color: #b2b2b2;
    width: 100%;
    display: block;
    line-height:28px;
    font-weight: bold;
    padding-right: 10px;
    font-size: 12px;cursor:pointer;height:32px;
}
.cndidate-accrodion .inner label {
    float: right;
    width: 100%;
    display: block;
    text-align: right;
    margin-bottom: 4px;
}

.cndidate-accrodion .inner label input {
    float: right;
    margin-left: 8px;
}

.cndidate-accrodion .title:before {
    display: inline-block;    font: normal normal normal 14px/1 FontAwesome;    font-size: inherit;    text-rendering: auto;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    
    content: "\f107";float: left;
  line-height: 28px;
  padding-left: 5px;
}

.cndidate-accrodion.open .title:before {
    content: "\f106";
}
.cndidate-accrodion .inner {display:none;}
.cndidate-accrodion.open .inner {display:block;}

.sidbar-fly .inner-container .item .less-more>* {cursor: pointer;padding-bottom: 6px;display: inline-block;}
.sidbar-fly .inner-container .item .less-more{margin-top: -5px;float: right;}
.cndidate-accrodion.all-is-checkbox.open .less-more {display: block;}
.cndidate-accrodion.all-is-checkbox .less-more {display: none;}
.cndidate-accrodion.all-is-checkbox .inner > * {transition: all 0.2s;}
.cndidate-accrodion.all-is-checkbox .inner.less>*:nth-child(6)~* {opacity: 0;height: 0;overflow: hidden;line-height: 0;margin-bottom: 0;}
.cndidate-accrodion.all-is-checkbox .inner.less + .less-more .less{display:none;}
.cndidate-accrodion.all-is-checkbox .inner.more + .less-more .more{display:none;}

.sidbar-fly .inner-container .item .inner.candidates-range-container * {float: right;}
.sidbar-fly .inner-container .item .inner.candidates-range-container span {width: 5%;margin-left:2%}
.sidbar-fly .inner-container .item .inner.candidates-range-container select {width: 40%;}
.sidbar-fly .inner-container .item .inner.candidates-range-container select+span {margin-right: 4%;}
.sidbar-fly .inner-container .item .inner.candidates-range-container {padding-top:20px;padding-bottom:20px;}
.sidbar-fly .inner-container .item .inner.number-range lable {
    float: right;
    width: 100%;
}



.sidbar-fly .inner-container .item .inner.number-range label {
    float: right;
    width: 100%;
}

.sidbar-fly .inner-container .item .inner.number-range label span {
    float: right;
    width: 13%;
}

.sidbar-fly .inner-container .item .inner.number-range label input {
    float: right;
    width: 62%;
}
.sidbar-fly .inner-container .item .inner.number-range .btn.Range {
    float: right;
    margin-right: 13%;
    width: 62%;
    height: 27px;
    line-height: 7px;
}

.right-sidbar-fly.size-for-filter {width: 300px;}
.right-sidbar-fly.size-for-filter .inner-container {width: 240px;}
.sidbar-fly .commands a div {
    margin-bottom: 0;
    height: auto;
    color: #cdcdcd;
    font-weight: bold;
}

.sidbar-fly .commands a span {
    color: #cdcdcd;
}
/* for filters end*/
.sidebar-padding .container.body-content{
    padding-right: 140px!important;
}

.sidbar-fly .inner-container .item.top-cats>a {
float: right;
    clear: both;
    font-size: 12px;
    color: #303030;
    line-height: 28px;
    cursor: pointer;
    padding-right: 10px;
}

.sidbar-fly .inner-container .item.top-cats {
    padding-top: 18px;
}

@media(max-width:767px) {
    .right-sidbar-fly.show-fly{margin-right: -240px;}
}

.right-sidbar-fly.role-in-view {
    margin-right: -180px;
}
.right-sidbar-fly.sidbar-fly.role-in-view:not(.show-fly) {
    margin-right: 0;
}

.sidbar-fly .inner-container .item .inner ul li.is-subdomain-city {
    background-color: #B9B9B9;
    color: #626262;
    /* margin-right: -20px; */
}


/* Telegram Links */
.sidbar-fly .telegram_ {
    padding: 30px 5px;
    font-size: 10.5pt;
    line-height: 18pt;
}

.sidbar-fly .telegram_ .telegram-link {
    margin-bottom: 24px;
}

.sidbar-fly .telegram_ .telegram-link .link-title {
    margin-bottom: 10px;
}

.sidbar-fly .telegram_ .telegram-link .link-title .link-image {
    width: 32px;
    height: 32px;
    float: right;
    margin-top: -3px;
}

.sidbar-fly .telegram_ .telegram-link .link-title a {
    padding-right: 3px;
    /*background-image: url('/content/images/telegram-logo.png');
    background-repeat: no-repeat;
    background-position: right -8px;
    background-size: 35px;*/
}

.sidbar-fly .telegram_ .telegram-link .link-content {
    font-size: 9.5pt;
}
/*** Telegram Links ***/

