
html .jw-icon, 
html .jwplayer.jw-skin-ccma .jw-skip .jw-skip-icon:before {
    color:white;
    font-family: 'icones-ccma';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0 ;
    border: none;
    background-color: transparent;
}
html .jwplayer.jw-skin-ccma .jw-icon-tooltip,
html .jwplayer.jw-skin-ccma .jw-icon-inline {
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    font-size: 22px;
    min-width: 38px;
}

html .jwplayer.jw-skin-ccma .jw-icon:before { transition: color 0.3s ease; }

html .jwplayer.jw-skin-ccma .jw-icon-playback {
    border-right: Solid 1px #666666;
}
html .jwplayer.jw-skin-ccma.jw-state-playing .jw-icon-playback {
    font-size: 28px;
}
html .jwplayer.jw-skin-ccma.jw-state-pause .jw-icon-playback {
    font-size: 26px;
}
html .jwplayer.jw-skin-ccma .jw-icon-cast,
html .jwplayer.jw-skin-ccma .jw-icon-volume,
html .jwplayer.jw-skin-ccma .jw-icon-hd,
html .jwplayer.jw-skin-ccma .jw-icon-cc,
html .jwplayer.jw-skin-ccma .jw-icon-fullscreen {
    border-left: solid 1px #666666;

}
html .jwplayer.jw-skin-ccma .jw-icon-fullscreen {
    font-size: 20px;
}
html .jwplayer.jw-state-error .jw-icon-display:before, 
html body .jw-error .jw-icon-display:before {
    content: "\e663";
}
html .jwplayer.jw-skin-ccma .jw-icon-playback:before, 
html .jw-state-idle .jw-icon-display:before,
html .jwplayer.jw-skin-ccma.jw-state-playing .jw-display-icon-container .jw-icon-display:before, 
html .jwplayer.jw-skin-ccma.jw-state-playing .jw-icon-playback:before {
    content: "\e62d";
}

html .jwplayer.jw-skin-ccma.jw-flag-live .jw-controlbar .jw-text-alt { display: none; }

html .jwplayer.jw-skin-ccma.jw-state-paused .jw-display-icon-container {
    display: table;
}

html .jwplayer.jw-skin-ccma.jw-state-complete .jw-icon-playback:before,
html .jwplayer.jw-skin-ccma.jw-state-paused .jw-display-icon-container .jw-icon-display:before, 
html .jwplayer.jw-skin-ccma.jw-state-paused .jw-icon-playback:before {
    content: "\e634";
}
html .jw-state-idle .jw-icon-display:before {
    content: "\e634";
}
html .jwplayer.jw-skin-ccma .jw-icon-hd:before {
    content: "\e65f";
}
html .jwplayer.jw-skin-ccma .jw-icon-volume:before, 
html .jwplayer.jw-skin-ccma .jw-icon-volume.jw-off:before{
    content: "\e617";
}
html .jwplayer.jw-skin-ccma .jw-icon-volume.jw-off:before{
    color: #404040;
}
html .jwplayer.jw-skin-ccma .jw-icon-fullscreen:before {
    content: "\e658";
}
html .jwplayer.jw-skin-ccma .jw-icon-fullscreen.jw-off:before {
    content: "\e659";
}

html .jwplayer.jw-skin-ccma.jw-flag-compact-player .jw-icon-cc:before,
html .jwplayer.jw-skin-ccma .jw-icon-cc:before{content:"\e908"}
html .jwplayer.jw-skin-ccma.jw-flag-compact-player .jw-icon-cc.jw-off:before,
html .jwplayer.jw-skin-ccma .jw-icon-cc.jw-off:before{content:"\e909"; color:#404040;}


html .jwplayer.jw-skin-ccma.jw-state-complete .jw-display-icon-container .jw-icon-display:before ,
html .jwplayer.jw-skin-ccma.jw-state-complete .jw-display-icon-container .jw-icon-display:before {
    content: "\e60c";
}


html .jwplayer.jw-skin-ccma.jw-flag-compact-player .jw-icon-cast:before,
html .jwplayer.jw-skin-ccma .jw-icon-cast:before{
    content: "\e90b";
}
html .jwplayer.jw-skin-ccma.jw-flag-compact-player .jw-icon-cast.jw-off:hover:before,
html .jwplayer.jw-skin-ccma .jw-icon-cast.jw-off:before{
    content: "\e90a";
}


html .jwplayer.jw-skin-ccma .jw-background-color {
    background-color: black;
}
html .jwplayer.jw-skin-ccma .jw-display-icon-container {
    background-color: rgba(0, 0, 0, 0.4);
}

html .jwplayer.jw-skin-ccma .jw-text {
    color: white;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}
html .jwplayer.jw-skin-ccma .jw-tooltip-title {
    color: white;
}
html .jwplayer.jw-skin-ccma .jw-knob {
    color: white;
}
html .jwplayer.jw-skin-ccma .jw-button-color {
    color: white;
}
html .jwplayer.jw-skin-ccma .jw-button-color:hover {
    color: white;
}
html .jwplayer.jw-skin-ccma .jw-toggle {
    color: #eee
}
html .jwplayer.jw-skin-ccma .jw-toggle.jw-off {
    color: white;
}
html .jwplayer.jw-skin-ccma .jw-option {
    color: #3d3d3a;
}
html .jwplayer.jw-skin-ccma .jw-option.jw-active-option {
    color: #404040;
}
html .jwplayer.jw-skin-ccma .jw-icon-display {
    color: white;
}

html .jwplayer.jw-skin-ccma  .jw-controlbar .jw-option {
    padding: 0 2px;
}
html .jwplayer.jw-skin-ccma  .jw-controlbar .jw-option:before:hover, 
html .jwplayer.jw-skin-ccma  .jw-controlbar .jw-option:hover {
    color: black;
}
html .jwplayer.jw-skin-ccma .jw-display-icon-container {
    min-height: 62px;
    min-width: 68px;
}
html .jwplayer.jw-skin-ccma .jw-display-icon-container:hover {
    background-color: #CC2727;
}
html .jwplayer.jw-skin-ccma .jw-display-icon-container:hover .jw-icon-display {
    color: white
}
html .jwplayer.jw-skin-ccma .jw-rail {
    background: #404040
}
html .jwplayer.jw-skin-ccma .jw-buffer {
    background: #202020
}


html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-knob {
    margin-left: -0.4em;
    top: 0;
    border-radius:0;
}

html .jwplayer.jw-skin-ccma .jw-time-tip,
html .jwplayer.jw-skin-ccma .jw-volume-tip,
html .jwplayer.jw-skin-ccma .jw-menu {
    background: white;
    border:none;
    padding: 5px 6px 6px;
    font-size: 16px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
        font-weight: 500;
}
html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-slider-container {
        height: 62px;
}
html .jwplayer.jw-skin-ccma .jw-skip {
    background: linear-gradient(0deg, rgba(73, 73, 75, 0.87) 0, #454547 3%, #3f3f41 7%, #3e3e40 10%, #3a3a3d 59%, #343437 97%, rgba(52, 52, 55, 0.87) 100%);
    padding: .5em;
}
html .jwplayer.jw-skin-ccma .jw-skip .jw-skip-icon {
    color: #aaa
}
html .jwplayer.jw-skin-ccma .jw-skip.jw-skippable:hover .jw-skip-icon,
html .jwplayer.jw-skin-ccma .jw-skip.jw-skippable:hover .jw-text {
    color: black
}
html .jwplayer.jw-skin-ccma .jw-time-tip .jw-text,
html .jwplayer.jw-skin-ccma .jw-dock-button .jw-text {
    color: black
}
html .jwplayer.jw-skin-ccma .jw-time-tip {
    bottom: 1em
}
html .jwplayer.jw-skin-ccma .jw-dock-button {
    background: #333;
}
html .jwplayer.jw-skin-ccma .jw-dock-button:hover {
    background: #4d4d4d
}
html .jwplayer.jw-skin-ccma .jw-playlist-container {
    padding: 0
}
html .jwplayer.jw-skin-ccma .jw-icon-inline,
html .jwplayer.jw-skin-ccma .jw-icon-tooltip,
html .jwplayer.jw-skin-ccma .jw-text-elapsed,
html .jwplayer.jw-skin-ccma .jw-text-duration {
    padding: 0;
}

html .jwplayer.jw-skin-ccma .jw-text-elapsed,
html .jwplayer.jw-skin-ccma .jw-text-duration {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}
html .jwplayer.jw-skin-ccma .jw-text-elapsed {
    margin-left: 10px;
    margin-right: 5px;
}
html .jwplayer.jw-skin-ccma .jw-text-duration {
    margin-left: 5px;
    margin-right: 10px;
}

html .jwplayer.jw-skin-ccma .jw-captions-text {
    white-space: normal;
}
html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-slider-container,
html .jwplayer.jw-skin-ccma .jw-controlbar-center-group .jw-slider-time, 
html .jwplayer.jw-skin-ccma .jw-controlbar-center-group {
    /*vertical-align: top;*/
    height:8px;
}
html .jwplayer.jw-skin-ccma .jw-controlbar-center-group { padding: 0 10px; }


html .jwplayer.jw-skin-ccma  .jw-controlbar { 
    height: 36px;
    padding:0; 
}
html .jwplayer.jw-skin-ccma.jw-flag-audio-player .jw-controlbar {
    bottom: 0
}

html .jwplayer.jw-skin-ccma .jw-controlbar .jw-overlay {
    bottom: 36px;
    padding-bottom: 4px;
}

html .jwplayer.jw-skin-ccma .jw-option {
    text-align: left
}
html .jwplayer.jw-skin-ccma .jw-option .jw-icon-menu-bullet:before {
    content: "\e606"
}
html .jwplayer.jw-skin-ccma .jw-option:before {
    font-size: .4em;
    vertical-align: middle;
    margin-right: .4em
}
html .jwplayer.jw-skin-ccma .jw-playlist-container {
    left: -41%
}
html .jwplayer.jw-skin-ccma .jw-playlist-container .jw-text,
html .jwplayer.jw-skin-ccma .jw-playlist-container .jw-icon {
    color: black
}
html .jwplayer.jw-skin-ccma .jw-playlist-container .jw-option {
    border-bottom: 1px solid #2f2f31;
    color: #878787
}
html .jwplayer.jw-skin-ccma .jw-playlist-container .jw-option:before {
    content: "";
}
html .jwplayer.jw-skin-ccma .jw-playlist-container .jw-option:hover,
html .jwplayer.jw-skin-ccma .jw-playlist-container .jw-option.jw-active-option {
    background-color: #2f2f31;
    color: #fff
}

html .jwplayer.jw-skin-ccma .jw-playlist-container::-webkit-scrollbar-track {
    background-color: #3c3c3e
}


html .jwplayer.jw-skin-ccma.jw-state-buffering .jw-icon-playback:before{content:"\e907"}

html .jwplayer.jw-skin-ccma  .jw-knob {
    width: 10px;
    height: 8px;
    z-index: 2;
    border-bottom: none;
    box-sizing: content-box;
    margin-bottom: -6px;
    background-color:#E6E6E6;
}


html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-slider-container { 
    height: 8px;
}
html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-rail,
html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-buffer,
html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-progress {
    height: 8px;
}
html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-progress {
    background-color: #CC0000;
    margin: 0 -5px;
}

html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-buffer, 
html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-rail{    
    box-sizing: content-box;
    margin: 0 -5px;
    padding: 0 5px;
}

html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-buffer{
    background-color: #777777;
}
html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-rail{
    background-color: #999999;
}



html .jwplayer.jw-skin-ccma .jw-slider-horizontal .jw-cue {
    width: 4px;
    z-index: 1;
    height: 4px;
    top:2px;
    background-color: #000;
}

html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-knob {
    border-radius: 0;
    width: 12px;
    height: 6px;
    margin-left: -2px;
    right: auto; 
    left: auto;
}

html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-progress, 
html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-rail{
    box-sizing: content-box;
    margin: -3px 0px;
    padding: 3px 0px;
    border: none;
    width: 8px;
        margin-bottom: -6px;

}
html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-progress{ 
    padding: 0px;
}

html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-progress, 
html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-rail, 
html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-slider-container {
    width: 8px;
}

html .jw-slider-vertical .jw-progress,
html .jw-slider-vertical .jw-rail,
html .jw-slider-vertical .jw-slider-container {
    bottom:0;
}




html .jwplayer.jw-skin-ccma .jw-volume-tip {
    padding: 10px 10px 13px;
}

html .jwplayer.jw-skin-ccma .jw-icon-hd .jw-overlay:after, 
html .jwplayer.jw-skin-ccma .jw-tooltip-time .jw-overlay:after, 
html .jwplayer.jw-skin-ccma .jw-icon-volume > .jw-overlay:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid white;
  content:"";
  display: block;
      margin-left: -6px;
}

html .jwplayer.jw-skin-ccma .jw-time-tip {
    bottom: 0;
}

html .jwplayer.jw-skin-ccma .jw-tooltip-time .jw-overlay .jw-time-tip {
    padding: 5px 7px; 
    border-radius: 0;
}
html .jwplayer.jw-skin-ccma .jw-tooltip-time .jw-text { color:#666666; font-size: 14px; font-size: 1.4rem;}

html .jwplayer.jw-skin-ccma .jw-tooltip-time > .jw-overlay {    left: 0;   }

html .jwplayer.jw-skin-ccma .jw-slider-vertical .jw-progress {
    background-color:red;
}

html .jwplayer.jw-skin-ccma .jw-dock .jw-dock-button {
    background: linear-gradient(0deg, rgba(73, 73, 75, 0.85) 0, rgba(69, 69, 71, 0.9) 3%, rgba(63, 63, 65, 0.9) 7%, rgba(62, 62, 64, 0.9) 10%, rgba(58, 58, 61, 0.9) 59%, rgba(52, 52, 55, 0.9) 97%, rgba(52, 52, 55, 0.85) 100%);
    background-size: 100% 100%;
    
}
html .jwplayer.jw-skin-ccma .jw-dock .jw-dock-button:hover {
    background: linear-gradient(0deg, rgba(73, 73, 75, 0.87) 0, #454547 3%, #3f3f41 7%, #3e3e40 10%, #3a3a3d 59%, #343437 97%, rgba(52, 52, 55, 0.87) 100%)
}
html .jwplayer.jw-skin-ccma .jw-dock .jw-dock-button .jw-overlay {
    background: linear-gradient(0deg, rgba(73, 73, 75, 0.87) 0, #454547 3%, #3f3f41 7%, #3e3e40 10%, #3a3a3d 59%, #343437 97%, rgba(52, 52, 55, 0.87) 100%);
    background-size: 100% 100%;
    
}
html .jwplayer.jw-skin-ccma .jw-skip {
    background: linear-gradient(0deg, rgba(73, 73, 75, 0.85) 0, rgba(69, 69, 71, 0.9) 3%, rgba(63, 63, 65, 0.9) 7%, rgba(62, 62, 64, 0.9) 10%, rgba(58, 58, 61, 0.9) 59%, rgba(52, 52, 55, 0.9) 97%, rgba(52, 52, 55, 0.85) 100%);
    background-size: 100% 100%;
    border: 1px solid #000;
    border-radius: .3em;
    padding: .25em .5em
}
html .jwplayer.jw-skin-ccma .jw-skip:hover.jw-skippable {
    background: linear-gradient(0deg, rgba(73, 73, 75, 0.87) 0, #454547 3%, #3f3f41 7%, #3e3e40 10%, #3a3a3d 59%, #343437 97%, rgba(52, 52, 55, 0.87) 100%);
    background-size: 100% 100%
}
html .jwplayer.jw-skin-ccma .jw-controlbar-center-group,
html .jwplayer.jw-skin-ccma.jw-flag-live .jw-controlbar-center-group .jw-slider-time,
html .jwplayer.jw-skin-ccma.jw-flag-live .jw-slider-horizontal .jw-slider-container {
    vertical-align: initial;
}



/* audio */
html .tvcplayer.audioplayer .jwplayer.jw-skin-ccma .jw-preview {
    background-size: cover;
}

html .tvcplayer.audioplayer .jwplayer.jw-skin-ccma.jw-state-idle .jw-icon-display:before,
html .tvcplayer.audioplayer .jwplayer.jw-skin-ccma.jw-state-complete .jw-icon-playback:before,
html .tvcplayer.audioplayer .jwplayer.jw-skin-ccma.jw-state-paused .jw-display-icon-container .jw-icon-display:before{
     content: "\e617"; 
}
html .tvcplayer.audioplayer .jwplayer.jw-skin-ccma .jw-icon-fullscreen:before,
html .tvcplayer.audioplayer .jwplayer.jw-skin-ccma .jw-icon-fullscreen.jw-off:before {
    content: "\e65b";
}
html .tvcplayer.audioplayer .jwplayer.jw-skin-ccma.jw-flag-media-audio .jw-video{
    visibility: hidden;
}

html .jwplayer.jw-skin-ccma .jw-icon-rewind {
  display: none !important;
}

html .jwplayer.jw-skin-ccma .jw-icon-hd {
  display: none !important;
}

.jw-state-idle.jw-flag-media-audio .jw-controlbar{
    display: none!important;
}

html .jwplayer.jw-skin-ccma.jw-flag-ads.jw-breakpoint-1 .jw-text-alt {
    max-width: 195px;
    margin: 0;
}

html .jwplayer.jw-skin-ccma .jw-skip {
    background: black;
    border: none transparent;
    border-radius: 0;
    padding: 7px 9px 8px;
    right: .75em;
    top: .75em;
    bottom: auto;
}
html .jwplayer.jw-skin-ccma .jw-skip .jw-skip-icon, 
html .jwplayer.jw-skin-ccma .jw-skip .jw-text.jw-skiptext,
html .jwplayer.jw-skin-ccma .jw-skip:hover .jw-skip-icon, 
html .jwplayer.jw-skin-ccma .jw-skip:hover .jw-text.jw-skiptext  {
    color: white
}
html .jwplayer.jw-skin-ccma .jw-skip.jw-skippable:hover{
    background-image:none;
    background-color:#CC0000;  
}
html .jwplayer.jw-skin-ccma .jw-skip .jw-skip-icon:before {
    content: "\e61b";
    font-size: 19px;
}

html .jwplayer.jw-skin-ccma .jw-skip.jw-skippable {padding: 0 9px;}

html .jwplayer.jw-skin-ccma .jw-controlbar-center-group .jw-slider-time {
    margin-top: -27px!important;
}

html .jwplayer.jw-skin-ccma .jw-skip.jw-skippable .jw-skip-icon {
    margin-top: -4px;
    display: inline-block;
    padding: 0;
    min-width: initial;
}

html .jwplayer.jw-skin-ccma .jw-slider-volume.jw-slider-horizontal .jw-slider-container { margin-left: -3px; margin-top: -2px;}
html .jwplayer.jw-skin-ccma .jw-slider-volume.jw-slider-horizontal .jw-knob { margin-left: -5px;}

html .jwplayer.jw-skin-ccma.jw-flag-ads .jw-controlbar .jw-slider-volume.jw-slider-horizontal { display: none; }


html .jwplayer.jw-skin-ccma.jw-state-buffering .jw-display-icon-container .jw-icon-display:before { 
    width: 69px;
    display: block;
    height: 46px;
    margin: 0;
    padding: 0;
    content:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIGlkPSJVbnRpdGxlZC1QJUUxZ2luYSUyMDEiIHZpZXdCb3g9IjAgMCA0NSA0NSIgc3R5bGU9ImJhY2tncm91bmQtY29sb3I6I2ZmZmZmZjAwIiB2ZXJzaW9uPSIxLjEiCgl4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIgoJeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0NXB4IiBoZWlnaHQ9IjQ1cHgiCj4KCgkJCTxwYXRoIGQ9Ik0gOS42MTU4IDIyLjUyNzYgQyA5LjYzMTEgMjkuNjQwMiAxNS40MDU5IDM1LjM5NDMgMjIuNTE4NCAzNS4zODQyIEMgMjkuNjMxIDM1LjM3NCAzNS4zODkzIDI5LjYwMzQgMzUuMzg0MiAyMi40OTA4IEMgMzUuMzc5IDE1LjM3ODIgMjkuNjEyNSA5LjYxNTggMjIuNSA5LjYxNTggTCAyMi41IDEuOTk5OSBDIDMzLjgxNjkgMS45OTk5IDQyLjk5MTkgMTEuMTY4NSA0MyAyMi40ODU0IEMgNDMuMDA4MSAzMy44MDIyIDMzLjg0NjIgNDIuOTgzOSAyMi41MjkzIDQzIEMgMTEuMjEyNCA0My4wMTYyIDIuMDI0MyAzMy44NjA4IDIgMjIuNTQzOSBMIDkuNjE1OCAyMi41Mjc2IFoiIGZpbGw9IiNmZmZmZmYiLz4KCjwvc3ZnPg==") 
}



html .tvcplayer .poster .loading {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIGlkPSJVbnRpdGxlZC1QJUUxZ2luYSUyMDEiIHZpZXdCb3g9IjAgMCA0NSA0NSIgc3R5bGU9ImJhY2tncm91bmQtY29sb3I6I2ZmZmZmZjAwIiB2ZXJzaW9uPSIxLjEiCgl4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIgoJeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0NXB4IiBoZWlnaHQ9IjQ1cHgiCj4KCgkJCTxwYXRoIGQ9Ik0gOS42MTU4IDIyLjUyNzYgQyA5LjYzMTEgMjkuNjQwMiAxNS40MDU5IDM1LjM5NDMgMjIuNTE4NCAzNS4zODQyIEMgMjkuNjMxIDM1LjM3NCAzNS4zODkzIDI5LjYwMzQgMzUuMzg0MiAyMi40OTA4IEMgMzUuMzc5IDE1LjM3ODIgMjkuNjEyNSA5LjYxNTggMjIuNSA5LjYxNTggTCAyMi41IDEuOTk5OSBDIDMzLjgxNjkgMS45OTk5IDQyLjk5MTkgMTEuMTY4NSA0MyAyMi40ODU0IEMgNDMuMDA4MSAzMy44MDIyIDMzLjg0NjIgNDIuOTgzOSAyMi41MjkzIDQzIEMgMTEuMjEyNCA0My4wMTYyIDIuMDI0MyAzMy44NjA4IDIgMjIuNTQzOSBMIDkuNjE1OCAyMi41Mjc2IFoiIGZpbGw9IiNmZmZmZmYiLz4KCjwvc3ZnPg==");
    width: 41px;
    height: 41px;
    top: 50%;
    left: 50%;
    margin-left: -20.5px;
    margin-top: -21px;
    background-color: transparent;
    opacity: 1;
    border-radius: 0;
}

html .jwplayer.jw-skin-ccma.jw-state-buffering .jw-display-icon-container:hover{background-color:rgba(0, 0, 0, 0.4) ;}