/*		 */
/* RESET */
/*		 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
.clrflt {clear: both;}
/*                 */
/* GENERIC CLASSES */
/*                 */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: block;
}
img { border: 0; }
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}
html { height: 100%; }
body {
    background-color: #F2F2F2;
    background-image: url('http://static.hitek.fr/img/tiles.png');
    color: #2d2d2d;
    font-family: 'Droid Sans',sans-serif !important;
    margin: 0;
    height: 100%;
}
p {
	font-size: 13px;
    line-height: 18px;
}
h1 {
    color: #a22728;
    font: 22px 'League Gothic', sans-serif;
    text-transform: uppercase;
}
h2 {
    color: #a22728;
    font: 20px 'League Gothic', sans-serif;
    text-transform: uppercase;
}
h3 {
    color: #a22728;
    font: 17px 'Droid Sans', sans-serif;
}
h3 a { text-decoration: none; color: #a22728; }
h3 a:hover { text-decoration: none; color: #a22728; }
h4 {
	color: #999999;
	font: 16px 'League Gothic', sans-serif;
}
h5 {
	color: #2d2d2d;
	font: 12px 'Droid Sans', sans-serif;
}
a {
    color: #b7b7b7;
    text-decoration: none;
}
a:hover {
    color: #2d2d2d;
    text-decoration: none;
}

a img { border: none; }
.none { display: none; }
.hidden { visibility: hidden; }
.left { float: left; }
.right { float: right; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.center { text-align: center; }
.middle { vertical-align: middle; }
.inline { display:inline; }
.inline-block { display:inline-block; }
.block { display:block; }
.bold { font-weight: bold; }
.uppercase { text-transform: uppercase; }
.no-border { border: none !important; }
.small { font-size: 10px; }
.grey { background-color: #f3f3f3 !important; }
.red { color: #a22728 !important; }
.white { color: white !important; }
.marginzero { margin: 0 !important; }
.hr-giger { border:none;height:1px;background-color:#d4d4d4;margin:0 0 11px 0; }
.short-title {
	font: 18px 'League Gothic', sans-serif;
	padding: 0 0 6px 0;
	margin: 0 0 3px 0;
}
.short-title.special {
	margin: 0 0 3px 5px;
}
.relative { position: relative; }
.absolute { position: absolute; }
.absolute.middlecenter {
	top:0;bottom:0;left:0;right:0;
}
.absolute.topleft {
	top:0;left:0;
}
.absolute.topright {
	top:0;right:0;
}
.absolute.bottomleft {
	bottom:0;left:0;
}
.absolute.bottomright {
	bottom:0;right:0;
}

#wrap {
	/*margin-top:100px; uniquement si un habillage est visible, a set en js*/
    height: auto;
    min-height: 100%;
    position: relative;
}
/*        */
/* HEADER */
/*        */
#header-container { height: 120px; }
.header-container {
	width: 100%;
	min-width: 1024px;
	background: white;
	/* background: white url('http://static.hitek.fr/img/noel_anim.gif') no-repeat center; */
	padding: 0px;
	position: static;
	z-index: 10;
}
.header-basics {
    width: 100%;
    height: 70px;
    margin: auto;
    padding: 0px;
    border-bottom: 1px solid #e9e9e9;
}
.header-basics .header-content {
	/* background: url("http://static.hitek.fr/img/bats_anim.gif") no-repeat; */
	width: 1024px;
    margin: auto;
}
.header-basics .header-content div {
	vertical-align: middle;
}
.logo {
    margin: -2px 0 0 1px;
    z-index: 20;
    width: 199px;
}
.search {
	margin: 0 0 0 150px;
	padding: 0 0 0 5px;
	width: 288px;
	height: 28px;
	border: 1px solid #e9e9e9;
	background: #f2f2f2 url('http://static.hitek.fr/img/search-icon.png') no-repeat 98% center ;
	color: #adadad;
}
.search:focus {	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) inset; }
.hpanel { margin: 0 0 0 11px; }
.header-panel {
	margin: 2px 2px 0 0;
	width: 360px;
	height: 65px;
}
.panel-user p, .panel-user a {
	color: #2d2d2d;
	font: 11px 'Droid Sans',sans-serif !important;
	text-align: right;
	width:100%;
}
.panel-user a:hover {
	color: #a22728;
}
.panel-share {
	min-width: 236px;
	text-align: right;
	margin: 9px 0 0 0;
}
.panel-share div {
	vertical-align: 0% !important;
}
.header-menu {
	width: 100%;
    height: 44px;
    margin: auto;
    padding: 0px;
    border-bottom: 5px solid #a22728;
}
.header-menu .header-content {
	width:1024px;
    margin: auto;
    color: #8d8d8d;
    font: 14px sans-serif;
}
.header-menu ul { padding: 0; width:100%;}
.header-menu li {
	display: inline-block;
	float: left;
	height: 44px;
	border-right: 1px solid #e9e9e9;
	background-position: center bottom;
}
.header-menu img { vertical-align: middle; }
.header-menu a {
    color: #8d8d8d;
    font: 21px 'League Gothic',sans-serif;
    text-decoration: none;
    float: left;
    -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
    		transition: 0.5s;
    padding: 11px 10px 7px 11px;
}
.header-menu a.news {
	background: url('/img/menu-icons/news-icon.png') no-repeat 9px 12px;
	padding-left: 44px;
}
.header-menu li:hover > a.news { background: url('/img/menu-icons/news-icon-hover.png') no-repeat 9px 12px; }
.header-menu a.products {
	background: url('/img/menu-icons/products-icon.png') no-repeat 9px 12px;
	padding-left: 44px;
}
.header-menu li:hover > a.products { background: url('/img/menu-icons/products-icon-hover.png') no-repeat 9px 12px; }
.header-menu a.films-tv {
	background: url('/img/menu-icons/films-tv-icon.png') no-repeat 9px 12px;
	padding-left: 39px;
}
.header-menu li:hover > a.films-tv { background: url('/img/menu-icons/films-tv-icon-hover.png') no-repeat 9px 12px; }
.header-menu a.videogames {
	background: url('/img/menu-icons/videogames-icon.png') no-repeat 9px 12px;
	padding-left: 47px;
}
.header-menu li:hover > a.videogames { background: url('/img/menu-icons/videogames-icon-hover.png') no-repeat 9px 12px; }
.header-menu a.bonasavoir {
	background: url('/img/menu-icons/bonasavoir-icon.png') no-repeat 9px 12px;
	padding-left: 33px
}
.header-menu li:hover > a.bonasavoir { background: url('/img/menu-icons/bonasavoir-icon-hover.png') no-repeat 9px 12px; }
.header-menu li:hover > a {
    -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
    		transition: 0.5s;
    color: #a22728;
}
.header-menu li:hover {
	background: url('http://static.hitek.fr/img/red-arrow.png') no-repeat center bottom;
}
.special-menu {
    width:auto;
	height: 45px;
	padding: 0 15px 0 15px;
	cursor: pointer;
	background-color: #a22728;
    border-right: 1px solid #a22728;
    border-left: 1px solid #a22728;
}
.special-menu a {
	text-decoration: none;
    color: #fff!important;
    margin-right: 0;
    padding: 0!important;
    border: none;
    background-image: none;
    border: none!important;
}
.menu-number {
	padding: 1px 8px 0 0;
	font-size:40px;
	text-align:right;
}
.header-active {
    background: url('http://static.hitek.fr/img/red-arrow.png') no-repeat center bottom;
    text-decoration: none;
    color: #a22728;
}
.header-promo {
	width: 100%;
    height: 34px;
    margin: auto;
    padding: 0px;
    background-color: #e9e9e9;
    border-bottom: 1px solid #adadad;
}
.header-promo .header-content {
	width: 1024px;
    margin: auto;
    color: #8d8d8d;
    font: 14px sans-serif;
    text-transform: uppercase;
}
.header-promo ul { padding: 7px 0 0 0; }
.header-promo li { display: inline; }
.header-promo a {
    color: #8d8d8d;
    font: 18px 'League Gothic',sans-serif;
    text-decoration: none;
    padding: 0 0 0 25px;
}
.header-promo a:hover {
	color: #a22728;
}
.header-hidden {width:100%;height:155px;}
/*				 */
/* DROPDOWN MENU */
/*				 */
.dropdown-menu:hover > div {
    display: block;
    z-index: 9999;
}
.dropdown-menu .dropped-menu {
	width: 100%;
	min-height: 155px;
	display: none;
	z-index: 9999;
    position: absolute;
    left: 0;
	top: 115px;
    border-top: 5px solid #a22728;
    border-bottom: 5px solid #a22728;
    background: #fff;
    padding: 12px 0;
}
.dropped-menu: hover {
	color: #a22728;
}
.dropped-container {
	margin: 0 auto;
	width: 1024px;
	background: #fff;
	min-height: inherit;
}
.dropped-container a {
	font-family: 'Droid Sans', sans-serif;
	background: none;
}
.dropped-container a:hover {
	background: none;
}
.dropped-container tr, .dropped-container th, .dropped-container td {
	vertical-align: middle;
}
.dropped-left {
	min-width:170px;
	float:left;
	border-right:1px solid #e9e9e9;
	margin: 0 17px 0 15px;
	min-height: inherit;
}
.dropped-left th {
	text-align: left;
}
.dropped-left td {
	padding: 5px 0 0 0;
}
.dropped-left h4 { font-size: 19px; margin: 10px 0 10px 0; }
.dropped-left a {
	border:none;
	font-size: 12px;
	color:#8d8d8d;
	padding: 0;
	margin: 0 0 0 5px;
}
.dropped-left a:hover {
	color:#2d2d2d;
}
.dropped-left p {
	float:left;
	margin: 7px 0 0 0;
	width:160px;
}
.dropped-left img {
	float:left;
	margin: 0 8px 0 0;
}
.dropped-right {
	max-width: 300px;
	float:left;
	margin-left: 9px;
	min-height: inherit;
}
.dropped-right td {
	padding: 0 0 10px 0;
}
.dropped-right img {
	float:left;
	width:67px;
	height:50px;
	margin: 18px 0 0 0;
}
.dropped-img {
	position: relative;
	width: 200px;
	height: 100%;
	float: left;
	margin: 10px 0 20px 0;
	padding: 0;
}
.dropped-img-margin { margin-left: 14px; }
.dropped-img a { display: block; width: 200px; height: 92px; padding: 0; }
.dropped-img .hot-bot {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	height: 47px;
	width: 200px;
}
.dropped-img .hot-bot a {
	margin: 3px 0 3px 7px;
	font: 17px 'League Gothic', sans-serif;
	color: #FFF;
	max-width: 185px;
	height: 30px;
}
.dropped-img .hot-bot a:hover { color: #b1b1b1; }
.dropped-right a {
	/*padding: 0 10px 0 15px;*/
	cursor: pointer;
	font-size: 14px;
	color: #a22728;
	font-family:'Droid Sans',sans-serif;
}
.dropped-right a:hover {
	color: #c12e30;
}
.dropped-right div {
	margin: 0 0 0 0;
}
.dropped-right .infos {
	margin: 0 0 5px 16px;
	font: 11px 'Droid Sans',sans-serif;
	color: #cdcdcd;
}
/*			   */
/* SCROLL MENU */
/*			   */
.header-container2 {
    width: 100%;
	min-width: 1024px;
    background-color: #FFF;
    padding: 0px;
    position: fixed;
    top: 0;
    height: 45px;
    z-index: 99;
    border-bottom: 5px solid #a22728;
}
.header-content2 {
	width: 1024px;
    margin: auto;
}
.header-content2 div {
	vertical-align: middle;
}
.header-content2 img { vertical-align: middle; }
.header-menu2 a {
    color: #8d8d8d;
    text-transform: uppercase;
    font: 21px 'League Gothic',sans-serif;
    text-decoration: none;
    float: left;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    padding: 11px 15px 8px 15px;
    background-position: center bottom;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}
.header-menu2 a:hover {
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    color: #a22728;
    background: url('http://static.hitek.fr/img/red-arrow.png') no-repeat center bottom;
}
.logo2 {
    margin: 6px 14px 0 1px;
    z-index: 20;
}
.actu-link {
	width: 320px;
	height: 40px;
	padding: 4px 5px 0 15px;
}
.actu-link a {
	text-transform: none;
	font: 12px "Droid Sans", sans-serif;
	color: #2d2d2d;
	padding: 0;
	float: none;
	border: none;
}
.actu-link a:hover {
	color: #a22728;
	background: none;
}
.header-icon2 {
	margin: 9px 0 0 0;
}
.header-icon2 img {
	width: 25px;
}
.search2 {
	margin: 6px 10px 0 10px;
	padding: 0 0 0 5px;
	width: 188px;
	height: 28px;
	border: 1px solid #e9e9e9;
	background: #f2f2f2 url('http://static.hitek.fr/img/search-icon.png') no-repeat 98% center ;
	color: #adadad;
}
.search2:focus { box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) inset; }
.header-hidden2 { width:100%;height:50px; }
/*         */
/* CONTENT */
/*         */
.default-button, .default-button:hover {
	background: #2d2d2d;
	border-radius: 3px;
	color: white!important;
	font-size: 12px;
	padding: 5px 15px;
}
.default-button.dark, .default-button.dark:hover {
	background: #2d2d2d;
	color: white!important;
}
.content-container {
    width: 1024px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto 0 auto;
    padding: 0 0 150px 0;
    background-color: #FFF;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.05);
}
.content { padding: 10px 5px 5px 5px; }
/* basic bloc */
.content-basics {
	border: 1px solid #eaeaea;
	width: 100%;
	margin: 0 1% 15px 1px;
}
.content-title {
	background: url('http://static.hitek.fr/img/red-arrow.png') no-repeat 35px bottom;
	border-bottom: 5px solid #A22728;
	padding: 12px 0px 9px 15px;
}
.content-footer {
	width: 100%;
	background-color: #f9f9f9;
	padding: 7px 0px 7px 0px;
}
.content-footer span a {
	text-transform: uppercase;
	font: 33px 'League Gothic',sans-serif;
	color: #999;
	margin-right: 2%;
}
.content-footer span a:hover {
	color: #a22728;
}
.content-left {
	width: 685px;
	display: block;
	margin: 0 1% 1% 0;
}
.content-right {
	width: 30%;
	margin: 0 3px 0 7px;
	display: block;
}
.content-questions img{
	/*float:right;*/
	width:130px;
	height:180px;
	margin: 0px 0px 0px 10px;
}
.content-questions a:hover { color:#c12e30; }
.content-questions {
	margin:14px 13px 10px 10px;
	font-size: 12px !important;
}
.content-questions p {
	font-size: 12px !important;
	line-height: 16px;
	margin: 4px 0 0 0;
}
.content-questions h4 {
	color:#2d2d2d;
	margin:4px 0px 4px 0;
	font-weight:bold;
}
.content-lastcomments {
	width: 98%;
	margin: auto;
	padding: 0;
}
.content-lastcomments p.author { font-size: 12px; margin:0; }
.content-lastcomments img.avatar { margin: 0 10px 10px; width: 40px; height: 40px; }
.content-comments {
	margin: 0 auto 0 auto;
	padding: 25px 0 25px 0;
	border-bottom: 1px dotted #d3d3d3;
}
.comments-margin-left { margin: 0 0 0 60px; }
.content-comments p {
	font: 14px 'Droid Sans', sans-serif;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
			hyphens: auto;
}
.content-comments p.author { font-size: 11px; margin-left: 0; }
.content-comments a { font: 16px 'Droid Sans',sans-serif; text-decoration: none;color: #a22728; }
.content-comments a:hover { color:#c12e30; }
.content-comments img.avatar { margin: 0 10px 10px; width: 60px; height: 60px; }
.content-comments-text { margin-left: 80px; }
.content-comments-text a { font-size: 14px; word-wrap: break-word; }
.comment-reply, .comment-via { font-size: 10px !important; }
.reply-size { font-size: 10px !important; }
#cancel-reply { font: 12px 'Droid Sans', sans-serif; }
.like_dislike p, .content-opinions .like_dislike p {
	font: 14px 'League Gothic', sans-serif;
	margin: 1px 3px 0 3px;
	padding: 0;
}
.like, .content-opinions .like {
	background: transparent url('http://static.hitek.fr/img/like.png') no-repeat center;
	border: none;
	width: 13px;
	height: 17px;
	margin : 0 2px 0 2px;
	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
    	 -o-border-radius: 3px;
       		border-radius: 3px;
}
.like:hover {
	background-image: url('http://static.hitek.fr/img/like-hover.png');
}
.like.activated {
	background-image: url('http://static.hitek.fr/img/like-hover.png');
}
.dislike, .content-opinions .dislike {
	background: transparent url('http://static.hitek.fr/img/dislike.png') no-repeat center;
	border: none;
	width: 13px;
	height: 17px;
	margin : 0 2px 0 2px;
	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
    	 -o-border-radius: 3px;
       		border-radius: 3px;
}
.dislike:hover {
	background-image: url('http://static.hitek.fr/img/dislike-hover.png');
}
.dislike.activated {
	background-image: url('http://static.hitek.fr/img/dislike-hover.png');
}
.green-like {
	color: #27a230 !important;
}
.red-like {
	color: #a22728 !important;
}
.grey-like {
	color: #c6c6c6 !important;
}
/*				   */
/* follow box only */
/*				   */
.follow {
	background-color: #f9f9f9;
}
.follow-counter { width:90%;margin:-20px auto 15px auto; }
.follow-counter p {
	margin: -38px 10px 0 45px;
	font: 28px 'League Gothic',sans-serif;
}
.follow-counter img { width:40px; }
.newsletter, .price-newsletter { width: 90%; margin: 0 auto 0 auto; }
.newsletter input[type='text'], .price-newsletter input[type='text'] {
	margin: 10px 0 0 0;
	width: 100%;
	height: 28px;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	color: #adadad;
}
.newsletter input[type='text']:focus, .price-newsletter input[type='text']:focus {	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) inset; }
.newsletter input[type='submit'], .newsletter input[type='button'], .price-newsletter input[type='submit'], .price-newsletter input[type='button'] {
    width: 183px;
    height: 23px;
    margin: 10px auto 10px auto;
    color: #FFFFFF;
    background-color: #2d2d2d;
    font: 13px sans-serif;
    border: 1px solid #2d2d2d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       		border-radius: 3px;
}
.newsletter input[type='submit']:active, .pricenewsletter input[type='submit']:active { box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5) inset; }
.social-text p {
	margin: 5px 0 5px 0;
}
/*			 */
/* news only */
/*			 */
.news-message {
	background-color: #f0f0f0;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(233,233,233,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0 );
	padding: 16px 0 16px 0;
	font-size: 12px;
	width: 100%;
}
.noread-red a {
	-webkit-box-shadow: inset 5px 0px 0px #a22728;
	   -moz-box-shadow: inset 5px 0px 0px #a22728;
		 -o-box-shadow: inset 5px 0px 0px #a22728;
			box-shadow: inset 5px 0px 0px #a22728;
}
.close-news {
	background: url('http://static.hitek.fr/img/close-cross.png') no-repeat;
	padding: 8px;
	cursor: pointer;
	margin: -15px 15px 0 0;
}
.news-message p { line-height: 15px !important; }
.news-button {
	margin: 0 7px 0 11px;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
	padding: 5px 21px 5px 21px;
	background-color: #A22728;
	color: #fff !important;
	border-radius: 3px;
}
.news-bloc {
	display: inline-block;
	padding-bottom: 11px;
	min-height: 130px;
	width: 100%;
}
.news-infos {
	color: #b7b7b7;
	font: 13px 'Droid Sans',sans-serif;
}
.content-articles .article .news-infos a {
    color: #b7b7b7;
    text-decoration: none;
}
.content-articles .article .news-infos a:hover {
    color: #2d2d2d;
}
.news-img {
	position: relative;
	width: 240px;
	height: 100%;
	margin: 20px 12px 0 0;
}
.news-img a { display: block; width: 240px; height: 110px; }
.news-bloc.news-unread .news-img img {
	border-left: 6px solid #a22728;
}
.news-content { margin: 18px 24px 0 0; }
.news-content a:hover {	color: #c12e30;	}
.flash { background-color: #f9f9f9 !important; }
.flash-title {
	text-transform: uppercase;
	margin-top: -7px;
	font: 21px 'League Gothic',sans-serif;
	color: #2d2d2d;
	float: right;
}
.news-select {
	margin: -2px 10px 0 0;
}
.news-select a {
    display:block;
    color: #999;
    font: 16px 'League Gothic',sans-serif;
    text-transform: uppercase;
    text-decoration:none;
    text-align: left;
    padding: 0 0 0 30px;
}
.news-select > li,
.news-select > li li {
    position: relative;
    display:inline-block;
    width: 160px;
    padding: 3px 0;
    background: url('http://static.hitek.fr/img/select-arrow.png') no-repeat left #f9f9f9;
}
.news-select > li li { background: transparent none; }
.news-select > li li a { color: #999;padding: 0 0 0 10px; }
.news-select > li li:hover a { color: #a22728; }
.news-select > li:hover {
    background-color: #f9f9f9;
}
.news-select ul {
    position: absolute;
    left:0;
    max-height:0;
    margin:0;
    padding:5px 0 0;
    background: #f9f9f9;
    overflow:hidden;
    transition: 0.1s max-height 0.1s;
}  
.news-select > li:hover ul {
    max-height: none;
}
/*				 */
/* articles only */
/*				 */
.breadcrumb, .breadcrumb a, .breadcrumb p{
	font: 12px "Droid Sans", sans-serif;
	text-decoration: none;
	color: #b7b7b7;
	margin: 0 0 10px 0;
}
.breadcrumb a:hover {
	color: #a22728;
}
.articles-title {
	width: 100%;
	border-bottom: 5px solid #a22728;
	padding: 0 11px 10px 10px;
	margin: 0 0 15px -10px;
}
.articles-title h1 {
	font: 40px 'League Gothic', sans-serif;
	color: #a22728;
}
.articles-title p {
	color: #b7b7b7;
	font: 13px 'Droid Sans', sans-serif;
}
.content-articles {
	border: none;
	width: 685px;
}
.content-articles .article {
	line-height: 20px;
	font-size: 14px;
}
.content-articles .article a { color: #a22728; }
.content-articles .article a:hover { color: #c12e30; }
.content-articles .article li {
	margin-left: 30px;
}
.content-articles img {
	max-width: 685px;
	margin: 15px 0 15px 0;
}
.content-articles .illustration {
	max-width: 685px;
	margin: 0 0 10px 0;
}
.content-articles .bloc_price {
	/* display:none; */
}
.content-articles p {
	font: 14px 'Droid Sans', sans-serif;
	color: #2d2d2d;
	line-height: 22px;
	margin: 15px 0;
}
.content-articles h2 {
	/* font: 28px 'League Gothic', sans-serif; */
	color: #a22728;
	/* margin: 14px 0 12px 0; */
}
.articles-like {
	background-color: #f9f9f9;
	border-bottom: 1px solid #e9e9e9;
	font-family: 'League Gothic', sans-serif;
	height: 83px;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 0 0px 8px 0px;
	width: 100%;
	z-index: 10;
}
.articles-like .social-bar { margin-top: 4px; width: 100%; }
.articles-like .social-bar .reactions { width: 100px; }
.articles-like .social-bar .reactions.empty { margin: 10px 0 0 15px; }
.articles-like .social-bar .reactions.empty span { font-size: 18px; color: #212121; margin-bottom: -8px; }
.articles-like .social-bar .reactions .count { font-size: 60px; margin-bottom: -2px; }
.articles-like .social-bar .reactions .label { font-size: 18px; color: #212121; }
.topflop {
	height: 66px;
	margin-top: 8px;
	width: 109px;
}
.topflop.large { width: 149px; }
.topflop.blur {
	opacity: 0.4;
}
.topflop:hover {
	-webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.35);
	   -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.35);
			box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.35);
}
.topflop.blur:hover {
	-webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.75);
	   -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.75);
			box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.75);
}
.top-button { background: #27a230 url('/img/top-cta.png') no-repeat; }
.flop-button { background: #a22728 url('/img/flop-cta.png') no-repeat; }
.topflop p {
	color: white;
	float: right;
	font: 24px 'League Gothic', sans-serif;
	margin: 12px 12px 0 0;
	text-align: left;
}
.topflop.large p { margin-top: 19px; }
.topflop p .label {
	display: block;
	font-size: 18px;
	margin-top: -7px;
}
.topflop.large p .label { display: inline; margin-left: 5px; }
.articles-like .social-bar .gotit {
	background: #a22728;
	color: white;
	font-size: 45px;
	height: 63px;
	margin: 8px 10px 0 0;
	padding: 0 0 3px 0;
	width: 128px;
}
.articles-like .social-bar .gotit .icon { height: 35px; }
.articles-like .social-bar .gotit .icon img { margin: 7px 0 7px 0; }
.articles-like .social-bar .gotit .label {
	bottom: -6px;
	font-size: 18px;
	font-family: 'League Gothic', sans-serif;
	height: 25px;
}
.articles-liked-rappel {
	z-index: 2;
	width: 685px;
	height: 88px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	margin: -2px 0 0 0;
}
.fb-liked-rappel { margin: 30px 0 0 106px; }
.articles-liked-rappel p { color: #FFF; margin: 5px 15px 0 0; }
.articles-liked-rappel p:hover { color: #FFF; }
#fb_liked_close {
    width: 11px;
    height: 8px;
    float: right;
    background: url('http://hitek.fr/img/facebook_popup/close.png') no-repeat;
    z-index: 100002;
    margin: 4px 3px 0 0;
    cursor: pointer;
}
.articles-like #gocomment {
	background: #2d2d2d;
	color: white;
	font-size: 44px;
	height: 60px;
	margin: 8px 10px 0 0;
	padding: 3px 0 3px 0;
	width: 128px;
}
.articles-like #gocomment .count { margin-bottom: -28px; }
.articles-like #gocomment .label { font-size: 18px; }
.like-buttons {
	margin: 0 10px 0 0;
	display: inline !important;
}

.promo-hitekbox {
    background: #fff;
    height: 60px;
	margin: -10px 0 0 0;
}

.promo-hitekbox a {
    margin: -22px 0;
}

.promo-hitekbox a img {
    margin: 0;
}

/* special foodji */
.promo-hitekbox-foodji {
    background: #ffffff url('http://static.hitek.fr/img/promo-foodjibox-bg.jpg') no-repeat left center;
    height: 80px;
	margin: -10px 0 5px 0;
}
.promo-hitekbox-foodji p {
    color: #dc545b;
    display: inline-block;
    font-family: 'League Gothic', sans-serif;
    font-size: 26px;
    margin: 10px 0 0 194px;
}
.promo-hitekbox-foodji .white {
    color: white;
    font-size: 16px;
    margin-top: 0;
    vertical-align: top;
}
.promo-hitekbox-foodji a {
    margin: -22px 9px;
}
.promo-hitekbox-foodji a img {
    margin: 0;
}
/* fin spécial foodji */

.content-articles .articles-tags { margin: 0 15px 0 0; }
.tag {
	background: #f9f9f9;
	padding: 6px 6px 6px 6px;
	color: #2d2d2d;
	text-decoration: none;
	margin: 0 5px 0 0;
}
.tag:hover { color: #a22728; }
.source {
	background: #f9f9f9 url('http://static.hitek.fr/img/ext-link.png') no-repeat right center;
	padding: 6px 16px 6px 6px;
	color: #2d2d2d;
	text-decoration: none;
	margin: 0 5px 0 0;
}
.source:hover { color: #a22728; background-image: url('http://static.hitek.fr/img/ext-link-hover.png'); }
.pagin-article {
	margin: 20px 0 30px 0;
	width: 100%;
	height: 100%;
	min-height: 100px;
}
.pagin-article a {
	display: block;
}
.pagin-article div { min-height: 80px; }
.pagin-article div.right {
	 background: #F9F9F9 url('http://static.hitek.fr/img/black-arrow-right.png') no-repeat right center;
	 padding-right: 18px;
	 text-align: right;
}
.pagin-article div.right:hover {
	 background-color: #F0F0F0;
}
.pagin-article div.left {
	 background: #F9F9F9 url('http://static.hitek.fr/img/black-arrow-left.png') no-repeat left center;
	 padding-left: 18px;
	 text-align: left;
}
.pagin-article div.left:hover {
	 background-color: #F0F0F0;
}
.pagin-article div.title-link {
	max-width: 301px;
	min-width: 300px;
	padding: 10px;
	font: 20px 'League Gothic',sans-serif;
}
.pagin-article p { margin: 0; }
.pagin-article div.title-link a {
	color: #2D2D2D;
}
.pagin-article div.title-link a:hover {
	color: #a22728;
}
.articles, .articles:hover {
	color: #FFFFFF;
 	width: 183px;
    height: 23px;
    padding: 5px 26px 5px 26px;
    background-color: #6d6d6d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       		border-radius: 3px;
}
.articles.active {
    background-color: #2d2d2d;
}
.articles.active:hover {
    background-color: #A22728;
}
.articles_page {
    height: 23px;
    padding: 5px 17px;
    background-color: #C4C4C4;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       		border-radius: 3px;
}
.articles_page.small {
	padding: 5px 7px;
}
.articles_page.medium {
	padding: 5px 12px;
}
.articles_page.active {
	background-color: #979797;
}
.articles_page:hover {
	background-color: #A22728;
}
.basic-paginate {
    margin:22px 0 0 0;
    height:30px;
    width: 100%;
    text-align: center;
}
.basic-paginate a, .basic-paginate a:hover {
	color: #FFFFFF;
	font: 12px 'Droid Sans', sans-serif;
}
.hot-title {
    color: #a22728;
    font: 20px 'League Gothic', sans-serif;
    text-transform: uppercase;
}
.hot-img {
	position: relative;
	width: 240px;
	height: 100%;
	float: left;
	margin-top: 10px;
}
.hot-img-margin { margin-left: 14px; }
.hot-img .popular-img-a { height: 110px; width: 240px; }
.hot-img a { color: #a22728; display: block; width: 240px; margin-bottom: 5px; line-height: 120%; }
.hot-count {
	position: absolute;
	top: 0; right: 0;
	height: 40px;
	background: url('http://static.hitek.fr/img/hot-top.png') no-repeat 50% 100%;
}
.hot-count p {
	background-color: #a22728;
	color: #FFF;
	font: 21px 'League Gothic', sans-serif;
	margin-top: 0;
	padding: 4px 7px 2px 7px;
}
.hot-img .hot-bot {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	height: 65px;
	width: 240px;
}
.hot-img .hot-bot a {
	margin: 5px 0 5px 10px;
	font: 21px 'League Gothic', sans-serif;
	color: #FFF;
	max-width: 220px;
	height: 55px;
}
.hot-img .hot-bot a:hover { color: #b1b1b1; }
.hot-bloc.news-unread .hot-img img {
	border-left: 6px solid #a22728;
}
.article-type {
	background: #a22728;
	left: 0;
	height: 18px;
	top: 0;
	color: white;
	font-family: 'League Gothic', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px;
	position: absolute;
}
.popular-title {
    color: #a22728;
    font: 20px 'League Gothic', sans-serif;
    text-transform: uppercase;
}
.popular-link {
    color: #a22728;
    font: 16px 'Droid Sans', sans-serif;
}
.popular-link p {
	color: #b7b7b7;
	font: 12px 'Droid Sans', sans-serif;
}
.popular-img {
	position: relative;
	width: 275px;
	height: 100%;
	margin: 10px auto 20px auto;
}
.popular-img .popular-img-a { display: block; width: 275px; height: 155px;margin: 0 0 5px 0; }
.popular-img a { color: #a22728; text-decoration: none; }
.popular-img a:hover { color: #c12e30; }

.relations-title {
    color: #a22728;
    font: 20px 'League Gothic', sans-serif;
    text-transform: uppercase;
}
.relations-img {
	position: relative;
	width: 334px;
	height: 100%;
	margin: 8px 0 0 0;
}
.relations-img-margin { margin-right: 2px; margin-left: 2px; }
.relations-img a { display: block; width: 334px; height: 160px; }
.relations-img .relations-bot {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	height: 65px;
	width: 334px;
}
.relations-img .relations-bot a {
	margin: 5px 0 5px 10px;
	font: 21px 'League Gothic', sans-serif;
	color: #FFF;
	max-width: 320px;
	height: 55px;
}
.relations-img .relations-bot a:hover { color: #b1b1b1; }
.relations-bloc.news-unread .relations-img img {
	border-left: 6px solid #a22728;
}
.funpics {
	height: auto;
	width: 100%;
	margin: 5px 0px 20px 0px;
	padding: 0 0 10px 0px;
}
.funpics-infos {
	color: #cdcdcd;
	font: 11px 'Droid Sans',sans-serif;
}
.funpics-content { margin: 7px 24px 5px 10px; }
.funpics-content a { font: 22px 'Droid Sans', sans-serif; font-weight: bold; }
.funpics-content a:hover {	color: #c12e30;	}
.funpics-img-content { width: 99%; }
.funpics-img { position: relative; /*width: 460px;*/ }
.funpics-img a.img-link {
	display: block;
	width: 500px;
	height: 236px;
	margin-left: 10px;
}
.bas {
	height: auto;
	width: 100%;
	margin: 5px 0px 20px 0px;
	padding: 0 0 10px 0px;
}
.bas-infos {
	color: #cdcdcd;
	font: 11px 'Droid Sans',sans-serif;
}
.bas-content { margin: 7px 24px 5px 0; }
.bas-content a { font: 22px 'Droid Sans', sans-serif; font-weight: bold; }
.bas-content a:hover {	color: #c12e30;	}
.bas-img-content { width: 99%; }
.bas-img { position: relative; /*width: 460px;*/ }
.bas-img a.img-link {
	display: block;
	width: 520px;
	height: 520px;
}
/*				*/
/* PRICES BLOCK */
/*				*/
.hprices-content {
	width: 479px;
	height: auto;
	border-left: 3px solid #a22728;
	background-color: #f9f9f9;
	display: table;
}
.hprices-content div {
	margin: 0 10px 0 10px;
	text-align: left;
	display: table-cell;
}
.hprices-content div.hprices-text {
	vertical-align: middle;
}
.hprices-content div.hprices-text h3, .vprices-content h3 {
	font: 20px "League Gothic", sans-serif;
}
.hprices-content img {
	max-width: 76px;
	max-height: 100px;
}
.hprices-content a.prices-website {
	font-size: 12px;
}
.hprices-content p {
	margin: 3px 0 3px 0;
}
.vprices-content p {
	margin: 10px 0 10px 0;
}
.vprices-content {
	width: 108px;
	height: auto;
	border-left: 3px solid #a22728;
	background-color: #f9f9f9;
	padding: 10px;
	float:right;
	margin: 5px 0 5px 5px;
}
.vprices-content div {
	width: 100%;
}
.vprices-content img {
	text-align: center;
	max-width: 76px;
	max-height: 100px;
	margin: auto;
}
.vprices-content a.prices-website {
	font-size: 10px;
}
.hprices-content span.price-span, .vprices-content span.price-span {
	font-size: 16px;
}
.hprices-content a.prices-website, .vprices-content a.prices-website {
	color: #737373;
	text-decoration: none;
}
.hprices-content a.prices-more, .vprices-content a.prices-more {
	color: #212121;
	text-decoration: none;
	font-size: 11px;
}
.hprices-content input[type='button'], .vprices-content input[type='button'] {
	width: 102px;
    height: 23px;
    color: #FFFFFF;
    background-color: #2d2d2d;
    font: 13px sans-serif;
    border: 1px solid #2d2d2d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       		border-radius: 3px;
}
.hprices-content a.offer, .vprices-content a.offer {
	background-color: #2D2D2D;
    border: 1px solid #2d2d2d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       		border-radius: 3px;
    color: white;
    font: 13px sans-serif;
    height: 23px;
    width: 102px;
    padding: 5px 15px 4px 15px;
}
.hprices-content a.offer:hover, .vprices-content a.offer:hover {
	color: white;
}
.best-offer {
	background-color: #daefc3;
	padding: 10px;
	margin-bottom: 10px;
}
.best-offer h3 {
	color: #5a8e22;
	font: 30px "League Gothic", sans-serif;
}
.best-offer p {
	margin: 0;
	font: 13px "Droid Sans", sans-serif;
}
.best-offer-ad {
	background-color: #FFFFFF;
	margin-top: 10px;
	padding-left: 10px;
	min-height: 77px;
}
.best-offer-ad p {
	margin-left: 10px;
	vertical-align: middle;
	width: 280px;
}
.best-offer-ad p span {
	font: 24px "League Gothic",sans-serif;
}
.best-offer-ad img {
	margin: 5px 0 5px 0;
	vertical-align: middle;
}
.best-offer-ad a#best-offer-more, .best-offer-ad input[type="button"]#best-offer-more {
	width: 157px;
	padding: 15px 0 14px 0;
	background-color: #5a8e22;
	color: #FFFFFF;
	font-size: 16px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
	vertical-align: middle;
	border: none;
	text-align: center;
}
.best-offer-ad a#best-offer-more:active, .best-offer-ad input[type="button"]#best-offer-more:active {
	box-shadow: 0px 1px 10px rgba(0,0,0,0.5) inset;
}
.fb-flat-share {
	display: block;
	width: 135px;
	height: 32px;
	color: #3560a0;
	margin: 0 0 9px 10px;
	background:url('http://static.hitek.fr/img/fb-flat.png') center;
	background-size:cover;
}
.random-button {
	min-height: 0 !important;
	background-color: #f9f9f9;
	width: 90px;
	height: 117px;
	margin:auto;
}
.random-button:hover {
	background-color: #F0F0F0;
}
.random-pic {
	background: url('http://static.hitek.fr/img/random_dice.png') no-repeat center;
	width: 32px;
	height: 32px;
	margin: auto;
	padding-top: 55px;
}
.random-pic p {
	padding-top: 6px;
	margin-left: -6px;
	font: 20px 'League Gothic', sans-serif;
	color: #4e4e50;
}
.random-pic p:hover {
	color: #2d2d2d;
}
/*        */
/* FOOTER */
/*        */
.footer-container {
    width: 100%;
    min-width: 1024px;
    margin: -160px 0 -30px 0;
    height: 155px;
    clear: both;
    position: relative;
    background: #e9e9e9;
    border-top: 5px solid #8d8d8d;
}
.footer-content {
    width: 1024px;
    height: 45px;
    margin: 0 auto 0 auto;
    padding: 0px;
    background: url('http://static.hitek.fr/img/footer-arrow.png') no-repeat 35px top;
}
.footer-content h3{
	text-transform: uppercase;
	color: #8d8d8d;
	font: 21px 'League Gothic',sans-serif;
}
.footer-content p {
	font: 12px 'Droid Sans',sans-serif;
	color: #8d8d8d;
}
.footer-bloc { padding: 20px 0 0 30px; }
/*.aboutus { width: 38% !important; }*/
.aboutus { width: 62% !important; }
.aboutus img {
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
.footer-bottom {
	position: absolute;
	padding: 0 0 0 30px;
	bottom: 10px;
}
.footer-bottom a, .footer-bottom p{
	text-decoration: none;
	color: #8d8d8d;
	font: 11px 'Droid Sans',sans-serif;
}
.footer-bottom a:hover {
	color: #2d2d2d;
}
.footer-bottom li { display: inline; }
/*      */
/* FORM */
/*      */
#comments-error-message p {
	width: 98%;
	background-color : #a22728;
	padding: 7px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	color: #FFFFFF;
	margin: 5px 0 5px 0;
	text-align: center;
}
#comments-success-message p {
	width: 98%;
	background-color : #5fa924;
	padding: 7px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	color: #FFFFFF;
	margin: 5px 0 5px 0;
	text-align: center;
}
.forms {
	margin: 15px 0 0 0;
}
form textarea, form input {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.input-text {
    width: 100%;
    height: 30px;
    font: 13px sans-serif;
   	border: 1px solid #e9e9e9;
	background-color: #f2f2f2;
	color: #2d2d2d;
    margin-bottom: 10px;
    padding-left: 5px;
}
.input-text:focus {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2) inset;
}
.input-area {
    width: 100%;
    height: 180px;
    font: 13px sans-serif;
   	border: 1px solid #e9e9e9;
	background-color: #f2f2f2;
	color: #2d2d2d;
    margin: 0 0 5px 6px;
    resize: none;
    padding: 7px;
}
.input-area:focus {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2) inset;
}
.input-submit {
    /*width: 100%;
    height: 40px;
    margin: 0px auto 0px auto;
    color: #FFFFFF;
    background-color: #a22728;
    font: 13px sans-serif;
    border: 1px solid #a22728;*/
    width: 183px;
    height: 23px;
    margin: 0px auto 0px auto;
    color: #FFFFFF;
    background-color: #2d2d2d;
    font: 13px sans-serif;
    border: 1px solid #2d2d2d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       		border-radius: 3px;
   	cursor: pointer;
}
.input-submit:active {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5) inset;
}
/*       */
/* OTHER */
/*       */
.like-box-logo {
	width:100px;
	vertical-align:middle;
	margin:-5px 0 0 5px;
}
.pointer {
	cursor: pointer;
}
.fb-like-box {
	height: 100%;
	margin: 0 0 27px 0;
}
.mid-width {
	width: 49%;
}
.content_youtube {
	width: 280px;
	margin: 12px auto 9px auto;
}
.content_youtube img {
	width: 280px;
	height: 160px;
	float: left;
	margin: 0 0 5px 0;
}
.content_youtube .youtube_button {
	display: block;
	position: absolute;
	z-index: 5;
}
.content_youtube a { color:#a22728;text-decoration:none;font-size:16px; }
.content_youtube a:hover { color:#c12e30; }
.nav-arrows {
	height: 12px;
	display: inline;
	margin: 0 0 0 10px;
	width: 8px;
}
.nav-arrow-left-light {
	padding: 1px 8px 1px 8px;
	vertical-align: middle;
	background: url('http://static.hitek.fr/img/nav-arrow-left-light.png') no-repeat 0;
	visibility: hidden;
}
.nav-arrow-left-dark {
	padding: 1px 8px 1px 8px;
	vertical-align: middle;
	background: url('http://static.hitek.fr/img/nav-arrow-left-dark.png') no-repeat 0;
}
.nav-arrow-right-light {
	padding: 1px 8px 1px 8px;
	vertical-align: middle;
	background: url('http://static.hitek.fr/img/nav-arrow-right-light.png') no-repeat 0;
	visibility: hidden;
}
.nav-arrow-right-dark {
	padding: 1px 8px 1px 8px;
	vertical-align: middle;
	background: url('http://static.hitek.fr/img/nav-arrow-right-dark.png') no-repeat 0;
}
.habillages {
	background-color: transparent;
	background-position: center top;
	background-repeat: no-repeat;
	height:100%;
	width:100%;
	position:absolute;
	z-index:-10;
}
.sosh {
	background: url('http://static.hitek.fr/img/sosh.png') no-repeat 8px 0;
	padding:5px 34px;
}
.ces {
	background: url('http://static.hitek.fr/img/ces-logo.png') no-repeat 8px 0;
	padding:7px 34px;
}
.zone-42 {
	background: url('http://static.hitek.fr/img/menu-icons/z42-icon.png') no-repeat 6px 0;
	padding: 0px 13px 4px 28px;
}
.z42 img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0 15px 0;
}
.mwc {
	background: url('http://static.hitek.fr/img/mwc.png') no-repeat 8px 0;
	padding:5px 22px;
}
/*		   */
/* SPRITES */
/*		   */
.sprite {
    background-image: url('http://static.hitek.fr/img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}
.sprite-close-cross {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}
.sprite-dropped-left-android {
    width: 20px;
    height: 20px;
    background-position: -31px -5px;
}
.sprite-dropped-left-apple {
    width: 20px;
    height: 20px;
    background-position: -61px -5px;
}
.sprite-dropped-left-left-appareil-photo {
    width: 20px;
    height: 20px;
    background-position: -91px -5px;
}
.sprite-dropped-left-left-liseuse {
    width: 20px;
    height: 20px;
    background-position: -121px -5px;
}
.sprite-dropped-left-left-tablette {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
}
.sprite-dropped-left-left-telephone {
    width: 20px;
    height: 20px;
    background-position: -35px -35px;
}
.sprite-dropped-left-windows {
    width: 20px;
    height: 20px;
    background-position: -65px -35px;
}
.sprite-footer-arrow {
    width: 12px;
    height: 7px;
    background-position: -95px -35px;
}
.sprite-footer-fb {
    width: 30px;
    height: 30px;
    background-position: -117px -35px;
}
.sprite-footer-rss {
    width: 30px;
    height: 30px;
    background-position: -5px -75px;
}
.sprite-footer-twit {
    width: 30px;
    height: 30px;
    background-position: -45px -75px;
}
.sprite-heart {
    width: 19px;
    height: 18px;
    background-position: -85px -75px;
}
.sprite-mwc {
    width: 38px;
    height: 35px;
    background-position: -85px -103px;
}
.sprite-nav-arrow-left-dark {
    width: 8px;
    height: 12px;
    background-position: -114px -75px;
}
.sprite-nav-arrow-left-light {
    width: 8px;
    height: 12px;
    background-position: -132px -75px;
}
.sprite-nav-arrow-right-dark {
    width: 8px;
    height: 12px;
    background-position: -133px -97px;
}
.sprite-nav-arrow-right-light {
    width: 8px;
    height: 12px;
    background-position: -5px -119px;
}
.sprite-question {
    width: 19px;
    height: 19px;
    background-position: -151px -5px;
}
.sprite-red-arrow {
    width: 10px;
    height: 6px;
    background-position: -157px -34px;
}
.sprite-red-arrow-down {
    width: 10px;
    height: 6px;
    background-position: -157px -50px;
}
.sprite-search-icon {
    width: 11px;
    height: 12px;
    background-position: -157px -66px;
}
.sprite-select-arrow {
    width: 30px;
    height: 24px;
    background-position: -23px -119px;
}
.sprite-sosh {
    width: 60px;
    height: 30px;
    background-position: -180px -5px;
}
/*		*/
/* ADDS */
/*		*/
.ad-top{
	width: 1000px;
	height: 100%;
	border: 1px solid #EAEAEA;
	margin: 4px 1% 15px 1px;
}
.ad-right{
	width: 300px;
	height: 100%;
	border: 1px solid #EAEAEA;
	margin: 0 1% 15px 1px;
	display: block;
}
.ad-right img, .ad-top img { margin-bottom: -3px; }
.ad-perso{
	width: 666px;
	height: 50px;
	border: 1px solid #EAEAEA;
	margin: 2px auto 2px auto;
}
/*				  */
/* FACEBOOK MODAL */
/*				  */
#fb_popup {
	background-color: #000000;
}
.fb_popup_background{
    background-color: #000000;
   	position: fixed;
   	top:0;
   	bottom:0;
    z-index: 99999;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}
.fb_popup_container{
    width: 412px;
    height: 538px;
    background-color: #435595;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    z-index: 100000;
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;
    padding: 10px 0 0 0;
    position: absolute;
}
.fb-text {
	text-align: center;
}
.fb-text p {
	color: #FFF;
	font: 22px "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	width: 85%;
}
.fb-text p > span {
	font-size:30px;
	font-weight:700;
}
#fb_close{
    width: 11px;
    height: 8px;
    float: right;
    background-image: url('http://hitek.fr/img/facebook_popup/close.png');
    z-index: 100002;
    margin: -5px 3px 0 0;
    cursor: pointer;
}
.fb_footer{
	background: #FFF url('http://hitek.fr/img/facebook_popup/facebook_popup_hitek_logo.png') no-repeat 6px 12px;
    width: 100%;
    height: 108px;
    z-index: 100001;
    bottom:0;
    margin: auto;
    position: absolute;
}
.fb_like{
	padding: 3px;
	height: 90px;
	margin: 8px 0px 0px 60px;
}
/**/
/**/
/**/
.zone-title {
	width: 100%;
	border-bottom: 5px solid #2d2d2d;
	padding: 0 11px 10px 10px;
	margin: 0 0 15px -10px;
}
#border-bottom-zone42 {
	height:5px;
	width:102%;
	background:url('http://hitek.fr/img/strie_42.png') repeat;
	margin:-20px 0 15px -9px;
}
#border-bottom-bas {
	height:5px;
	width:102.1%;
	background:url('http://hitek.fr/img/bar-bas.png') repeat;
	margin:-20px 0 15px -10px;
}
.zone-title h1 {
	font: 40px 'League Gothic', sans-serif;
	color: #2d2d2d;
}
.zone-title p {
	color: #b7b7b7;
	font: 13px 'Droid Sans', sans-serif;
}
/*						*/
/*	 HOT FUNPICTURES	*/
/*						*/
.hotfun-grid { width: 49%; }
.hotfun-title {
    color: #a22728;
    font: 20px 'League Gothic', sans-serif;
    text-transform: uppercase;
}
.hotfun-link {
    color: #a22728;
    font: 16px 'Droid Sans', sans-serif;
}
.hotfun-link p {
	color: #b7b7b7;
	font: 12px 'Droid Sans', sans-serif;
}
.hotfun-img {
	position: relative;
	width: 132px;
	height: 100%;
	margin: 10px auto 12px auto;
}
.hotfun-div-1 { width:132px; height:176px; margin-left: 12px; }
.hotfun-img .hotfun-img-a { display: block; width:132px; height:176px; margin: 0 0 5px 0; }

.hotfun-div-2 { width:132px; height:155px; margin-left: 12px; }
.hotfun-img .hotfun-img-b { display: block; width:132px; height:155px; margin: 0 0 5px 0; }

.hotfun-div-3 { width:132px; height:83px; margin-left: 12px; }
.hotfun-img .hotfun-img-c { display: block; width:132px; height:83px; margin: 0 0 5px 0; }

.hotfun-div-4 { width:132px; height:97px; margin-right: 12px; }
.hotfun-img .hotfun-img-d { display: block; width:132px; height:97px; margin: 0 0 5px 0; }

.hotfun-div-5 { width:132px; height:134px; margin-right: 12px; }
.hotfun-img .hotfun-img-e { display: block; width:132px; height:134px; margin: 0 0 5px 0; }

.hotfun-div-6 { width:132px; height:182px; margin-right: 12px; }
.hotfun-img .hotfun-img-f { display: block; width:132px; height:182px; margin: 0 0 5px 0; }
/*				*/
/*	 TEST PAGE	*/
/*				*/
.test-intro-header {
	width: 1024px;
	height: 335px;
	background-size: cover;
	margin:0 0 10px -10px;
	padding:0;
	position: relative;
	border-bottom: 5px solid #a22728;
}
.test-intro-header .test-intro-bot {
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
	max-height: 271px;
	padding-bottom: 53px;
	position: absolute;
	width: 1024px;
}
.test-intro-header .test-intro-bot.no-product {
	padding-bottom: 0;
}
.illustration-band {
	position: absolute;
	right: 0;
	top: 0;
}
.product-pic { width: 125px; height: 150px; padding:5px; border: none; background-color: white; top: 120px; left: 10px; z-index: 3; position: relative; }
.product-pic img { margin:auto; max-height:150px; max-width:125px; left:0;right:0;top:0;bottom:0; position:absolute; }
.test-intro-header .test-intro-bot .intro-bot-margin { margin-left: 155px; }
.test-intro-header .test-intro-bot.no-product .intro-bot-margin { margin-left: 20px; }
.test-intro-header .test-intro-bot h2.test-title { font: 36px 'League Gothic', sans-serif; color: #FFF; margin-top: 10px; padding: 11px 15px 0 0; }
.test-intro-header .test-intro-bot span {
	color: #b7b7b7;
	display: inline-block;
	font: 13px 'Droid Sans', sans-serif;
	margin-bottom: 15px;
}
.test-intro-header .test-intro-bot span a:hover {
	color: white;
}
.test-intro-header ul {
	position: absolute;
	left: 10px;
	bottom: 0;
	padding: 0;
	width:auto;
	background-color: #FFF;
}
.test-intro-header li {
	display: inline-block;
	float: left;
	height: 44px;
	border-right: 1px solid #e9e9e9;
	background-position: center bottom;
}
.test-intro-header img { vertical-align: middle; }
.test-intro-header .menu a {
    color: #8d8d8d;
    font: 21px 'League Gothic',sans-serif;
    text-decoration: none;
    float: left;
    -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
    		transition: 0.5s;
    padding: 11px 8px 7px 8px;
}
.test-intro-header a.current {
	color: #a22728;
}
.test-intro-header li:hover > a {
    -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
    		transition: 0.5s;
    color: #a22728;
}
.test-intro-header li:hover {
	background: url('http://static.hitek.fr/img/red-arrow.png') no-repeat center bottom;
}
.test-intro-header li.current {
	background: url('http://static.hitek.fr/img/red-arrow.png') no-repeat center bottom;
}
.test-disabled { color: #dedede !important; }
.articles-like a.heart {
	color: #a22728;
	font: 20px 'League Gothic', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: -4px;
	background: url('http://static.hitek.fr/img/heart.png') no-repeat 0 2px;
	padding: 0 0 0 25px;
	margin: 0 10px 0 10px;
}
.articles-like a.heart:hover {
	text-decoration: none;
	color: #a22728;
}
.articles-like span > a.question {
	background: url('http://static.hitek.fr/img/question.png') no-repeat 0 2px;
	color: #2d2d2d;
	padding: 0 0 0 25px;
}
.articles-like span > a.question:hover {
	text-decoration: none;
	color: #a22728;
}
.separator {
	padding-bottom: 15px;
}
.separator-grande {
	padding-bottom: 30px;
}
.separator-grande .news-select a {
	color: #999999;
	text-decoration: none;
}
.separator-grande .news-select a:hover {
	color: #a22728;
}
.div-title-reviews {
	color: #a22728;
	font: 20px 'League Gothic', sans-serif;
	padding: 0 0 6px 0;
	margin: 0 0 3px 0;
	border-bottom: 1px solid #e1e1e1;
}
.div-reviews {
	width: 49%;
}
.div-reviews p {
	line-height: 100%;
	margin-left: 17px;
}
.div-reviews div.posi {
	background: url('http://static.hitek.fr/img/positive.png') no-repeat 0 0;
	padding: 0 0 0 5px;
	margin-top: -2px;
	width: 14px;
	height: 14px;
}
.div-reviews div.nega {
	background: url('http://static.hitek.fr/img/negative.png') no-repeat 0 0;
	padding: 0 0 0 5px;
	margin-left: -2px;
	width: 14px;
	height: 13px;
}
.div-note {
	width: 100%;
	height: 110px;
	background-color: #f9f9f9;
}
.div-note table {
	font: 22px 'League Gothic', sans-serif;
	color: #8d8d8d;
	width: 100%;
}
.div-note table td { padding: 5px 20px; width: 50%; }
.note-star {
	background: url("http://static.hitek.fr/img/tests/notes/note-toggle.png") bottom;
	display: inline-block;
	height: 20px;
	margin-left: 3px;
	width: 20px;
}
.note-star.active { background-position: top; }
.div-note div.note-fin {
	width: 110px;
	height: 110px;
	background-color: #a22728;
}
.div-note div.note-fin p {
	margin: -23px 0 0 60%;
	color: #FFFFFF;
	font: 30px 'League Gothic', sans-serif;
}
.div-note div.note-fin p.big { font-size: 81px;text-align:center;margin: 2px 0 0 0; }
.mid-note { margin: -3px 0 0 0; }
.mid-note li {
	font: 22px 'League Gothic', sans-serif;
	color: #8d8d8d;
	margin: 10px 0 0 25px;
}
.mid-note li span { color: #a22728; }
.avis-percentage-note { margin: 0 0 0 20px; }
.avis-percentage-note p {
	margin-top: -18px;
	font: 19px 'League Gothic', sans-serif;
	color: #8d8d8d;
}
.product-opinions { margin-top:10px; }
.product-opinions img { margin: 0; }
.best-opinions-left { margin-left:22px; }
.best-opinions-right { margin-right:22px; }
.opinions-color {
	width:310px;
	height:40px;
}
.opinions-color .opi-gravatar {
	margin: 5px 12px 0 12px;
	width:60px;
	height:60px;
}
.opi-text {
	margin: 10px 0 0 0 !important;
	font: 18px 'league Gothic',sans-serif !important;
}
#opi-tp-color { color:#5a8e22; }
#opi-tn-color { color: #cc0000; }
.opi-relative { margin: 8px 0 0 0 !important;font: 10px 'Droid Sans',sans-serif !important; }
#opi-positive { background-color: #daefc3; }
#opi-negative { background-color: #f8d2c9; }
.best-opinions-content { width:310px; }
.best-opinions-content .opi-cont { margin-left:11px; }
.best-opinions-content .best-opi-note {
	font-weight:bold;
	margin: 5px 0 0 11px;
}
.opinions-main-list {
	margin-top: 20px;
	border-top: 1px solid #e9e9e9;
}
.content-opinions {
	padding: 15px 0 15px 0;
}
.content-opinions.opi-backgrey {
	background-color: #f3f3f3;
}
.opinions-margin-left { margin: 0 0 0 60px; }
.content-opinions p { font: 14px 'Droid Sans',sans-serif; word-wrap: break-word;margin:10px 0 10px 0;padding-right:5px; }
.content-opinions p.author { font-size: 11px; margin: 0; }
.content-opinions a { font: 16px 'Droid Sans',sans-serif; text-decoration: none;color: #a22728; }
.content-opinions a:hover { color:#c12e30; }
.content-opinions img.avatar { margin: 0 10px 10px; width: 60px; height: 60px; }
.content-opinions-text { margin-left: 80px; }
.opinion-reply { font-size: 10px !important; }
.specs-container { width:330px; }
.specs-content { width:330px;min-height:40px;height:auto; }
td.specs-content { width:330px;min-height:40px;height:auto;vertical-align:middle; }
.specs-content p {
	margin:0;
	padding:10px 0 0 10px;
	font-size:13px;
}
.specs-content a.a-button, .specs-content input[type="button"].a-button, .offer-resume-button {
	vertical-align:middle;
	text-align:center;
	width: 102px;
	padding: 4px 0 4px 0;
    margin: 7px 10px 0px 0px;
    color: #FFFFFF;
    background-color: #2d2d2d;
    font: 13px 'Droid Sans',sans-serif;
    border: 1px solid #2d2d2d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       		border-radius: 3px;
}
.specs-content a.a-button:hover, .specs-content input[type="button"].a-button:hover, .offer-resume-button:hover {
	background-color: #a22728;
}

.tr-hovering:hover {
	background-color: #dedede !important;
}
.ruler-container {
	height:25px;
}
.ruler-container p {
	margin:10px 0 0 10px;
}
.specs-ruler-container p.cote-left {
	margin:0;
	position: absolute;
	top: 48%;
	left:-30px;
	font: 11px 'Droid Sans',sans-serif;
	font-style: italic;
	color: #ababab;
	-webkit-transform: rotate(270deg);
	   -moz-transform: rotate(270deg);
		 -o-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	white-space:nowrap;
}
.specs-ruler-container p.cote-bottom {
	margin:0;
	position: absolute;
	bottom:-18px;
	left:41%;
	font: 11px 'Droid Sans',sans-serif;
	font-style: italic;
	color: #ababab;
}
.spec-color-div {
	margin: 10px 5px 0 3px;
	width:33px;
	height:17px;
	border:1px solid grey;
}
.specs-ruler-container {
	position:relative;
	margin:15px 0 0 16px;
	width:161px;
	/* height:277px; */
}
.specs-ruler-container.fiche { margin:15px 0 0 5px; }
.specs-ruler-container img { margin:0; }
.specs-ruler-content {
	border-bottom:1px dashed #ababab;
	border-left:1px dashed #ababab;
	position:absolute;
	bottom:0;
	left:10px;
	margin:0;
	padding: 0 0 5px 10px;
}
.cut-leftbottom {
	width:13px;
	height:13px;
	background-color:#FFF;
	position:absolute;
	bottom:-5px;
	left:-5px;
}
.price-text p.success_message, .price-text p.error_message {
	font-style: italic !important;
	font-size: 13px !important;
	margin: 2px 0 2px 0 !important;
}
.price-text p.success_message {
	color: green !important;
}
.price-text p.error_message {
	color: red !important;
}
/* PRODUCT MEDIAS */
.product-img-block {
	width:335px;
	height:215px;
	border:1px solid #e9e9e9;
	margin-bottom: 5px;
}
.product-img-block a, .product-img-block img {
	margin: auto;
}
.product-img-block img {
	max-width:325px;
	max-height:205px;
}
/*				*/
/*	 ABOUT PAGE	*/
/*				*/
.about {
	margin: 15px;
}
.about .author-photo {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	margin-right: 15px;
}
.about .author-photo-frame {
	float: left;
	width: 97px;
	height: 97px;
	margin: 0;
}
.about img.twitter-icon {
	margin: 0 0 0 20px;
}
.about h3 {
	font: 18px 'League Gothic', sans-serif;
	color: #8d8d8d;
	text-transform: uppercase;
	padding-top: 3px;
}
.about p.author-description {
	margin: 0;
}
/*** TESTS PAGE ***/
.overlay {
	background: white url("http://static.hitek.fr/img/loading.gif") no-repeat center;
	height: 100%;
	margin: -10px 0 0 -10px;
	opacity: 0.7;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.product-count {
	color: #a22728;
    font-family: "League Gothic",sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 5px;
    text-transform: uppercase;
}
.tests-content {
	border-bottom: 1px solid #ededed;
	margin: 0 15px 20px 0;
	padding-bottom: 10px;
	position: relative;
}
.tests-content .tests-default-img {
	position: relative;
	background-color: #FFFFFF;
	width: 106px;
	height: 145px;
	margin-right: 10px;
}
.tests-content .tests-default-img img {
	/*display: block;*/
	max-width: 106px;
	max-height: 145px;
	/*margin-right: 10px;*/
}
.tests-content .tests-infos {
	vertical-align: top;
	position: relative;
	height:145px;
	max-width: 360px;
}
.tests-content .tests-infos h3 {
	margin-bottom: 5px;
}
.tests-content .tests-infos .tests-note {
	position: absolute;
	bottom:-3px;
}
.tests-content .tests-blocks {
	font: 20px "League Gothic",sans-serif;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 15px;
}
.tests-content .tests-blocks a {
	color: #FFFFFF;
	text-decoration: none;
}
.tests-content .tests-blocks div {
	width: 188px;
	height: 27px;
	padding-top:3px;
	margin: 0 0 2px 0;
}
.tests-content .tests-blocks div.tests-read-articles {
	background-color: #a22728;
}
.tests-content .tests-blocks div.tests-reactions {
	background-color: #b8b8b8;
}
.tests-content .tests-blocks div.tests-prices {
	background-color: #e9e9e9;
}
.tests-content .tests-blocks div.tests-prices a {
	color: #8d8d8d;
}
.last-products-content {
	display:table-cell;
	vertical-align:middle;
	position:relative;
	text-align:center;
	margin:4px auto 4px auto;
	width:149px;
	height:200px;
	background-color:#FFFFFF;
}
.last-tests td {
	vertical-align: top;
}
.load-products, .load-search {
	text-align:center;
	font: 33px "League Gothic",sans-serif;
	color: #999999;
	background-color: #f9f9f9;
	padding: 7px 0px 7px 0px;
	border-bottom: 1px solid #eaeaea;
}
.load-products a, .load-search a {
	color: #999999;
	text-decoration: none;
}
.load-products:hover, .load-search:hover {
	color:#a22728;
}
.load-products:active, .load-search:active {
	color:#a22728;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1) inset;
}
.load-products a:hover, .load-search a:hover {
	color:#a22728;
}
.prod-infos {
	border: none;
	border-top: 1px solid #e1e1e1;
}
/******************/
.lazy {
    display: none;
}
/*** FANCY BOX ***/
a.fancybox-link:hover {
	color: white;
}
.test_caroufred {
	width:135px;
	height:135px;
	margin: 2px 1px 0 1px;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	/*background-attachment: fixed;*/
	background-size: contain;
}
.test_relation_news p {
	margin: 0;
}
/*** CULTURE G ***/
.fz_global_contener{margin:0 auto;position:relative;z-index:1}
.fz_player_contener{position:relative;z-index:1}
.fz_player_hover{position:absolute;z-index:100;width:100%;height:100%;top:0;left:0;background:transparent;text-align:center;cursor:pointer;}
.fz_err_msg{font-weight:bold;color:#FFF;font-size:20px;background-color:#000;}

/*** MEDIABONG ***/
.mediabong-wrapper {background:#F9F9F9;margin:15px 0;padding:10px;}
.mediabong-wrapper .video-container {float:left;}
.mediabong-wrapper .description-container {float:left;width:250px;padding:5px 0 0 10px;}
.mediabong-wrapper .description-container h3 {font-size:18px;}
.mediabong-wrapper .description-container .description {line-height:20px;margin:5px 0;}
.mediabong-wrapper .description-container .promo {background:white;margin-top:25px;padding:10px 0;text-align:center;}
.mediabong-wrapper .description-container .promo p {color:#a22728;font:21px 'League Gothic',sans-serif;text-transform:uppercase;margin:0 0 5px 0;}

.proofr_sentence:hover { border-bottom: 1px solid #aa0000; }
.proofr_mark, .proofr_mark:hover { background: yellow; border-radius:10px; border-bottom: none; }
.proofr_mark img { opacity:0.7; }
.proofr_tooltip {
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	position: absolute;
	width: 300px;
	z-index: 100;
}
.proofr_tooltip h3 { margin: 10px 10px 5px 10px; }
.proofr_tooltip .correction {
	border: 1px solid #e1e1e1;
	color: #929292;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	margin: 10px;
	width: 280px;
}
.proofr_tooltip .confirm {
	background: #a22728;
	border-radius: 0 0 5px 0;
	color: white;
	float: right;
	font-size: 12px;
	padding: 10px 0;
	text-align: center;
	width: 50%;
}
.proofr_tooltip .cancel {
	color: #a22728;
	float: left;
	font-size: 12px;
	padding: 10px 0;
	text-align: center;
	width: 50%;
}
.proofr_arrow {
	border: 10px solid;
	border-color: transparent #eaeaea transparent transparent;
	content: "";
	height: 0;
	position: absolute;
	width: 0;
	z-index: 100;
}
.proofr_toggle, .proofr_toggle:hover {
	background: #2d2d2d;
	border-radius: 3px;
	color: white!important;
	font-size: 12px;
	font-weight: bold;
	margin-right: 15px;
	padding: 5px 15px;
}
.proofr_toggle.fixed {
	background: #a22728;
	position: fixed;
	top : 130px;
	right : 30px;
	z-index: 100;
}
.proofr_toggle.fixed:before {
	content: "\D7\A0\A0";
}
.proofr_helper {
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.proofr_helper>div {
	background: rgba(0,0,0,0.75);
	border-radius: 5px;
	margin: 50px auto;
	padding: 100px 25px;
	text-align:center;
	width: 100%;
}
.proofr_helper .proofr_tip {
	color: white;
	font-weight: bold;
	text-shadow: 0 0 5px black;
}
.proofr_helper .proofr_dismiss {
	background: #2d2d2d;
	border-radius: 3px;
	color: white;
	font-size: 12px;
	padding: 5px 15px;
}

.forum-hot-topics { background: #f9f9f9; padding: 15px 10px; }
.forum-hot-topics .forum-stats { float: right; }
.forum-hot-topics .forum-stats img { float: right; margin-left: 10px; }
.forum-hot-topics .forum-stats .popular-title { float: left; font-size: 24px; }
.forum-hot-topics .forum-stats p { margin-top: 10px; }
.forum-hot-topics .forum-stats p a { font-weight: bold; }
.forum-hot-topics .forum-link { color: #2d2d2d; }
.forum-hot-topics .forum-link:hover { color: #a22728; }
.forum-hot-topics .forum-views { color: #b7b7b7; }

.relation-topics {
	position: absolute;
	top: 0;
	height: 65px;
	width: 334px;
	padding: 15px 10px 10px 10px;
}
.relation-topics>.popular-title {
	font-size: 24px;
	margin-bottom: 5px;
}
.relation-topics a {
	color: #2b2b2b;
	font-size: 13px;
	font-family: 'Droid Sans', sans-serif;
	height: auto;
	line-height: 20px;
}
.relation-topics a:hover { color: #a22728; }

.toggle-autoplay {
	margin-top: 5px;
	display: block;
	font-size: 12px;
}
.toggle-autoplay>img {
	margin: 0 0 -2px 0;
	padding: 0;
	display: inline;
}

.product-search {
	background: #2d2d2d;
	color: white;
	margin: -15px 0 0 -10px;
	padding: 10px 11px 10px 10px;
	position: relative;
	width: 100%;
}
.product-search .advanced-search {
	font-size: 12px;
	width: 100%;
}
.product-search .advanced-search  td.label {
	font-weight: bold;
	height: 20px;
	padding: 5px 0 5px 10px;
	text-align: right;
	text-transform: uppercase;
}
.product-search .advanced-search  td.value { padding: 5px 10px; }
.product-search .advanced-search  td.value.switch { color: #adadad; }
.product-search .advanced-search  td.value.switch div {
	background: white;
	box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
	display: inline-block;
	height: 18px;
	margin-bottom: -4px;
	width: 36px;
}
.product-search .advanced-search  td.value.switch .off { background: #57d53b; margin-left: 15px; }
.product-search .advanced-search  td.value.switch .on { margin-right: 15px; }
.product-search .advanced-search  td.value.switch .active {
	background: white;
	box-shadow: none;
	margin-bottom: -5px;
	padding: 1px 0;
}
.product-search .advanced-search  td.value select {
	background: white;
	border: 0;
	border-radius: 0;
	color: #adadad;
	height: 30px;
	overflow: hidden;
	padding: 5px 5px 5px 10px;
	width: 200px;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}
.product-search .advanced-search  td.value .search-criteria-input {
	background: white;
	border: 0;
	border-radius: 0;
	color: #adadad;
	height: 30px;
	overflow: hidden;
	padding: 0 5px 0 10px;
	width: 185px;
}
.product-search .advanced-search  td.value select option:not(.default) { color: #2b2b2b; }
.product-search .advanced-search  .search-price { min-width: 180px; }
.product-search .advanced-search  .amount-min {
	background: #494949;
	border-radius: 3px;
	display: inline-block;
	float: left;
	margin: 5px -7px -50px;
	padding: 3px;
}
.product-search .advanced-search  .amount-max {
	background: #494949;
	border-radius: 3px;
	display: inline-block;
	float: right;
	margin: 5px -11px -50px 0;
	padding: 3px;
}
.filters {
	background: #686868;
	margin: 0 0 15px -10px;
	padding: 10px 11px 10px 10px;
	width: 100%;
}
.filters .item {
	background: #555555;
	color: #adadad;
	display: inline-block;
	font-size: 12px;
	margin: 5px 4px;
	padding: 6px 10px;
}
.filters .item.ignored{
	background: #787878;
	color: #a4a4a4;
	text-decoration: line-through;
}
.filters .item .close {
	color: white;
	font-size: 14px;
	margin-left: 10px;
}
.filters .search-label {
	color: white;
	float: right;
	font-size: 12px;
	font-weight: bold;
	margin: 1px 0;
	text-transform: uppercase;
}
.filters .product-search-input {
	background: #555555;
	border: none;
	color: #adadad;
	margin-left: 10px;
	padding: 10px 15px;
	width: 170px;
}
.product-menu {
	background: #2d2d2d;
	color: white;
	margin: 0 0 10px -10px;
	padding: 10px 8px;
	width: 1008px;
}
.product-menu li.menu-item {
	background: #555555;
	display: inline-block;
	height: 60px;
	margin: 6px;
	padding: 5px;
	width: 230px;
}
.product-menu li.menu-item:hover { background: #757575; }
.product-menu li.menu-item a { color: white; cursor: pointer; }
.product-menu li.menu-item td.menu-item-icon {
	border-right: 1px solid #686868;
	height: 60px;
	padding-right: 5px;
	text-align: center;
	vertical-align: middle;
	width: 50px;
}
.product-menu li.menu-item td.menu-item-label {
	font-family: 'League Gothic', sans-serif;
	font-size: 24px;
	padding: 10px 0 0 10px;
	text-transform: uppercase;
}
.product-menu li.menu-item td.menu-item-count {
	color: #c0c0c0;
	font-size: 12px;
	padding-left: 10px;
}
.product-menu .types-dropdown {
	float: right;
	margin: 10px 0 5px 0;
}
.product-menu .types-dropdown span {
	font-size: 12px;
	margin-right: 10px;
}
.product-menu select {
	background: white;
	border: 0;
	border-radius: 0;
	color: #adadad;
	height: 30px;
	margin-right: 8px;
	overflow: hidden;
	padding: 5px 5px 5px 10px;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}
.premium {
	cursor: help;
}
.premium img {
	margin:0 5px -3px 5px;
}
.mrw {
	margin-bottom: -4px;
}
.nukacap {
	cursor: pointer;
	height: 149px;
	perspective: 1000;
	position: fixed;
	width: 149px;
	z-index: 20;
}
.nukacap.clicked .flipper {
	transform: rotateY(180deg);
}
.front, .back {
	background: url('http://static.hitek.fr/img/nuka-cola-cap.png') no-repeat;
	width: 149px;
	height: 149px;
}
.front, {
	background: url('http://static.hitek.fr/img/nuka-cola-cap.png') no-repeat;
}
.back {
	background: url('http://static.hitek.fr/img/nuka-cola-cap-bottom-3.png') no-repeat;
}
.newgame .front, .newgame .back {
	background: url('http://static.hitek.fr/img/nuka-cola-cap-newgame-2.png') no-repeat;
	width: 317px;
	height: 149px;
}
.flipper {
	transition: 0.3s ease;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
}

.banhammer {
    background: url('/img/hammer-2.png') no-repeat left center;
    cursor: pointer;
    padding-left: 20px;
}
.banhammer.banned {
    background: url('/img/unban.png') no-repeat left center;
    cursor: pointer;
    padding-left: 20px;
}