/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../resources/typos/leaguegothic-regular-webfont.eot');
    src: url('../resources/typos/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/typos/leaguegothic-regular-webfont.woff') format('woff'),
         url('../resources/typos/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../resources/typos/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('../resources/typos/leaguegothic-italic-webfont.eot');
    src: url('../resources/typos/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/typos/leaguegothic-italic-webfont.woff') format('woff'),
         url('../resources/typos/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../resources/typos/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../resources/typos/leaguegothic-condensed-regular-webfont.eot');
    src: url('../resources/typos/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/typos/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('../resources/typos/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('../resources/typos/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('../resources/typos/leaguegothic-condensed-italic-webfont.eot');
    src: url('../resources/typos/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/typos/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('../resources/typos/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('../resources/typos/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}