.content-left-home {
	width: 580px;
	margin: 0 12px 12px 0;
}
.content-left-home {
	width: 580px;
	margin: 0 14px 12px 0;
}
.content-left-home .content-basics {
	border: none;
	margin-bottom: 12px;
}
.content-right-home {
	margin-bottom: 12px;
	width: 405px;
}
.content-left .content-basics {
	border: none;
	margin-bottom: 12px;
}
.content-right-home {
	margin-bottom: 12px;
	width: 407px;
}

.caption {
	background: transparent;
	color: white;
	font: 22px 'League Gothic', sans-serif;
	position: absolute;
	text-transform: uppercase;
	width: 330px;
}
.caption.align-left { left: 10px; }
.caption.align-right { right: 10px; }
.caption.align-top { top: 12px; }
.caption.align-bottom { bottom: 20px; }
.caption span {
	background: rgba(0,0,0,0.7);
	line-height: 30px;
	padding-top: 4px;
	-webkit-box-shadow: 10px 0 0 rgba(0,0,0,0.7), 
						-10px 0 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 10px 0 0 rgba(0,0,0,0.7), 
						-10px 0 0 rgba(0,0,0,0.7);
			box-shadow: 10px 0 0 rgba(0,0,0,0.7), 
						-10px 0 0 rgba(0,0,0,0.7);
	-webkit-box-decoration-break: clone;
	   -moz-box-decoration-break: clone;
			box-decoration-break: clone;
}
.caption span.small { font-size: 20px; line-height: 28px; }
.caption span.red { display: inline-block; margin-bottom: 2px; }

.home-bloc {
	background-position: center;
	background-size: cover;
	display: block;
	font-size: 22px;
	height: 215px;
	position: relative;
	-webkit-box-shadow: inset 0 0 40px rgba(0,0,0,0.7);
	   -moz-box-shadow: inset 0 0 40px rgba(0,0,0,0.7);
			box-shadow: inset 0 0 40px rgba(0,0,0,0.7);
}
.home-bloc.trailers .caption span {
	-webkit-box-shadow: 10px 0 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 10px 0 0 rgba(0,0,0,0.7);
			box-shadow: 10px 0 0 rgba(0,0,0,0.7);
}
.home-bloc.trailers .caption img { margin: 0 10px; vertical-align: middle; }
.home-bloc.videogames {
	height: 125px;
	margin-right: 10px;
	width: 380px;
}
.home-bloc.videogames .caption { width: 250px; }
.home-bloc.hightech { height: 125px; width: 190px; }
.home-bloc.hightech .caption { font-size: 18px; width: 165px; }
.home-bloc.hightech .caption span { line-height: 26px; }
.home-bloc.hightech .caption span.small { font-size: 16px; line-height: 23px; }

.menu { border-bottom: 5px solid #a22728; font: 21px 'League Gothic', sans-serif; }
.menu li {
	background: #e9e9e9;
	border-right: 1px solid white;
	cursor: pointer;
	padding: 12px 15px 7px 15px;
}
.menu li a { color: #8d8d8d; }
.menu li:hover a { color: #a22728; }
.menu li.active { background: #a22728; }
.menu li.active a { color: white; }

.menu-scroll {
	background: #999999;
	color: #f2f2f2;
	cursor: pointer;
	font-size: 13px;
	top: 64px;
	z-index: 1;
}
.menu-scroll.scroll-right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 8px 8px 6px 5px;
}
.menu-scroll.scroll-left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 8px 5px 6px 8px;
	right: 0;
}
.menu-scroll:hover { background: #a22728;color: white; }

.submenu {
	background: #2d2d2d;
	font: 21px 'League Gothic', sans-serif;
	overflow: hidden;
	padding: 0 40px;
	white-space: nowrap;
}
.submenu li { padding: 15px 12px; }
.submenu li img.icon {
	margin: 0 5px -2px 0;
	max-height: 24px;
	max-width: 28px;
	opacity: 0.8;
}
.submenu li.active img.icon { opacity: 1; }
.submenu li:hover img.icon { opacity: 1; }
.submenu li a { color: #d2d2d2; }
.submenu li.active a, .submenu li:hover a { color: white;}

.products-preview { background: #f2f2f2; padding: 7px 5px; }

.product-poster {
	margin: 0 7px 20px 7px;
	vertical-align: top;
	width: 82px;
}
.product-poster .poster { margin: 0; }
.product-poster .poster div {
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: contain;
	 height:103px;
	 margin:3px;
	 vertical-align:bottom;
	 width:76px;
}
.product-poster .product-title {
	color: #2d2d2d;
	font-size: 12px;
	margin: 7px 5px 0 5px;
	width: 72px;
}
.product-poster:hover .product-title { color: #a22728; }

.poster {
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	height: 109px;
	margin: 0 7px 20px 7px;
	width: 82px;
}
.poster:hover {
	color: white
}
.poster .info {
	background: rgba(0,0,0,0.7);
	font-size: 11px;
	height: 100%;
	width: 100%;
}
.poster .title {
	font-size: 12px;
	padding: 0 5px 5px 5px;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
		-ms-hyphens: auto;
		 -o-hyphens: auto;
			hyphens: auto;
}
.poster .title .date { font-size: 10px; margin-top: 5px; }
.poster .title img { width: 70px;margin-top: 10px; }
.poster:hover .info { display: block; }
.products-preview .see-all {
	bottom: 10px;
	color: #a22728;
	font-size: 13px;
	font-weight: bold;
	right: 10px;
}

#featured a.carousel-item {
	display: block;
	width: 580px;
	height: 305px;
	background-position: center;
	background-size: cover;
	-webkit-box-shadow: inset 0 0 40px black;
	   -moz-box-shadow: inset 0 0 40px black;
			box-shadow: inset 0 0 40px black;
}
.orbit-wrapper .orbit-caption {
	background: transparent;
	bottom: 25px;
	display: none;
	font: 28px 'League Gothic', sans-serif;
	left: 12px;
	text-align: left;
	text-transform: uppercase;
	width: 330px;
}
.orbit-wrapper .orbit-caption a, .orbit-wrapper .orbit-caption a:hover, .orbit-wrapper .orbit-caption span {
	background: rgba(0,0,0,0.7);
	line-height: 39px;
	padding-top: 5px;
	-webkit-box-shadow: 12px 0 0 rgba(0,0,0,0.7), 
						-12px 0 0 rgba(0,0,0,0.7);
	   -moz-box-shadow: 12px 0 0 rgba(0,0,0,0.7), 
						-12px 0 0 rgba(0,0,0,0.7);
			box-shadow: 12px 0 0 rgba(0,0,0,0.7), 
						-12px 0 0 rgba(0,0,0,0.7);
	-webkit-box-decoration-break: clone;
	   -moz-box-decoration-break: clone;
			box-decoration-break: clone;
}
.orbit-wrapper .orbit-caption span {
	color: #a22728;
	font-size: 25px;
	line-height: 36px;
	padding-top: 5px;
}
.orbit-bullets { right: 10px; left: auto; }

/* FIREFOX HAXX */
@-moz-document url-prefix() {
	.orbit-wrapper .orbit-caption a, .orbit-wrapper .orbit-caption a:hover, .orbit-wrapper .orbit-caption span {
		line-height: 40px;
	}
	.orbit-wrapper .orbit-caption span {
		line-height: 36px;
	}
	.caption span {
	    line-height: 31px;
	}
}