@charset "gb2312";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}
body {
	background-color: #fff;
}
a {
	text-decoration: none;
}
a:hover {
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
img {
	border: none;
}
input {
	border: none;
	outline: none;
	background-color: #fff;
}
.clear {
	height: 0;
	clear: both;
}

.head_ad{width:100%; height:90px; padding-bottom:5px; background-color: #fdfdfd; position:relative; z-index:880;}
.head_ad_con{width:1000px; height:90px; margin:0 auto; overflow:hidden; display:block; background:#fff;}
.top_wrap {
	width: auto;
	height: 60px;
	background-color: #fdfdfd;
	position: relative;
	z-index: 990;
}
.top_con {
	width: 1000px;
	height: 35px;
	margin: 0 auto;
}
.top_con .logo {
	width: 235px;
	height: 32px;
	line-height: 32px;
	float: left;
	padding: 14px 0;
}
.top_con .liandong {
	width: 345px;
	height: 41px;
	padding-top: 19px;
	padding-left: 12px;
	float: left;
	position: relative;
}
.ld_search_btn {
	width: 32px;
	height: 27px;
	float: left;
	background: url(../images/Glass.png) no-repeat center center #1081d9;
	cursor: pointer;
}
.top_con .top_btn_group {
	width: 160px;
	height: 41px;
	padding-top: 19px;
	float: left;
}
.top_con .top_btn_group a {
	width: 68px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	color: #1081d9;
	border: 1px solid #1081d9;
	border-radius: 2px;
	float: left;
	margin: 0 5px;
	display: block;
}
.top_con .top_search {
	width: 235px;
	height: 41px;
	float: left;
	padding-top: 19px;
	padding-left: 12px;
	position: relative;
}
.change_item {
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	padding-left: 12px;
	float: left;
	font-size: 14px;
	color: #8f8f8f;
	border: 1px solid #bebebe;
	border-right: none;
	background: url(../images/small_d_arrow.png) no-repeat 44px center #fff;
	cursor: pointer;
}
.item_c {
	width: 50px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #8f8f8f;
	text-align: left;
	padding-left: 12px;
	border: 1px solid #bebebe;
	border-top: none;
	background-color: #fff;
	cursor: pointer;
	position: absolute;
	top: 46px;
	left: 12px;
	z-index: 99;
}
.change_item:hover, .item_c:hover {
	color: #fff;
	background-color: #1081d9;
}
.search_txt {
	width: 120px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	float: left;
	font-size: 14px;
	color: #000;
	padding-left: 4px;
	border: 1px solid #bebebe;
	border-right: none;
}
.search_btn {
	width: 47px;
	height: 27px;
	line-height: 25px;
	text-align: center;
	float: left;
	font-size: 14px;
	color: #fff;
	background-color: #1081d9;
	cursor: pointer;
}
.nav_wrap {
	width: auto;
	height: 42px;
	margin-bottom: 10px;
	background-color: #1081d9;
}
.nav_con {
	width: 1000px;
	height: 42px;
	line-height: 42px;
	margin: 0 auto;
}
.nav_con span {
	padding:0 7px;
	background:url(../images/xiexian.png) no-repeat center center;
}
.nav_con a {
	color: #fff;
	font-size: 16px;
	padding: 0 23px;
}
.nav_con a:hover {
	color: #ffc253;
}
.nav_con a.home_page {
	color: #ffc253;
}
.banner_wrap {
	width: 1000px;
	height: 345px;
	margin: 10px auto 20px;
}
.slide_wrap {
	width: 655px;
	height: 345px;
	margin-right: 20px;
	float: left;
	position: relative;
}
.slide_wrap .arrow-left {
	background: url(../images/banner_arrow_l.png) no-repeat center center;
	position: absolute;
	left: 0;
	top: 130px;
	width: 45px;
	height: 70px;
	z-index: 999;
	cursor: pointer;
}
.slide_wrap .arrow-right {
	background: url(../images/banner_arrow_r.png) no-repeat center center;
	position: absolute;
	right: 0;
	top: 130px;
	width: 45px;
	height: 70px;
	z-index: 999;
	cursor: pointer;
}
.swiper-container {
	height: 345px;
	width: 655px;
}
.swiper-slide {
	font-size: 0;
}
.pagination {
	position: absolute;
	right: 0;
	text-align: center;
	bottom: 0px;
	width: 170px;
	height: 6px;
	padding: 17px 10px;
	z-index: 999;
	background-color: #e7e7e7;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 26px;
	height: 6px;
	background: #b1b1b1;
	margin: 0 1px;
	cursor: pointer;
	float: left;
}
.swiper-active-switch {
	background: #3498e5;
}
.banner_tit {
	width: 655px;
	height: 40px;
	background-color: #e7e7e7;
}
.banner_tit a {
	line-height: 40px;
	color: #000;
	font-size: 17px;
	padding-left: 15px;
}
.banner_tit a:hover {
	color: #eb5429;
}
.banner_right {
	width: 325px;
	height: 345px;
	float: left;
}
.banner_right #tuwen_list {
	position: relative;
	width: 325px;
	height: 460px;
	padding: 0;
}
.banner_right #tuwen_list .box {
	overflow: hidden;
	position: relative;
	top: 0;
	height: 345px;
}
.banner_right #tuwen_list .list {
	position: absolute;
	top: 0;
	left: 0;
}
.banner_right #tuwen_list .list li {
	height: 165px;
	width: 325px;
	position: relative;
	padding-bottom: 16px;
}
.banner_right #tuwen_list .list li a {
	width: 325px;
	height: 165px;
	overflow: hidden;
	position: relative;
	display: block;
}
.banner_right #tuwen_list .list li img {
	position: absolute;
}
.banner_right #tuwen_list .list li .tuwen_tit {
	width: 325px;
	height: 36px;
	text-align: center;
	background: url(../images/tit_bg.png) repeat-x;
	position: absolute;
	bottom: 16px;
	left: 0;
}
.banner_right #tuwen_list .list li .tuwen_tit a {
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	color: #000;
}
.banner_right #tuwen_list .list li .tuwen_tit a:hover {
	color: #eb5429;
}
.banner_right #tuwen_list .list li .fl_laiyuan {
	width: 69px;
	height: 69px;
	background: url(../images/yel_circle.png) no-repeat center center;
	position: absolute;
	left: 12px;
	top: 12px;
}
.banner_right #tuwen_list .list li .fl_laiyuan .fl_ly {
	width: 69px;
	height: 69px;
	line-height: 69px;
	text-align: center;
}
.banner_right #tuwen_list .list li .fl_laiyuan .fl_ly a {
	line-height: 68px;
	font-size: 20px;
	color: #fff;
	display: inline;
}
.banner_right #tuwen_list .list li .fl_laiyuan .vol {
	width: 69px;
	text-align: center;
	line-height: 15px;
	font-size: 14px;
	font-family: "宋体";
	color: #fff;
}
.jrjj_wrap {
	width: 1000px;
	height: 780px;
	margin: 0 auto;
}
.jrjj_con {
	width: 1000px;
	height: 780px;
}
.jrjj_left {
	width: 705px;
	height: 770px;
	margin-right: 30px;
	padding: 5px;
	padding-left:0;
	float: left;
}
.jrjj_left .tab_btn {
	width: 530px;
	height: 35px;
	margin-bottom:15px;
	padding-left:175px;
	border-bottom:3px solid #e3e3e3;
	background:url(../images/NEWS.png) no-repeat left 6px;
}
.jrjj_left .tab_btn li {
	width: 22px;
	height: 22px;
	line-height: 22px;
	float: left;
	margin:5px 12px 5px 0;
	border-radius: 50%;
	border: 1px solid #3498e5;
	text-align: center;
	font-size: 14px;
	color: #3498e5;
	cursor: pointer;
}
.jrjj_left .tab_btn li.with_bg {
	background-color: #3498e5;
	color: #fff;
}
.jrjj_left .tab_con {
	width: 705px;
	height: 720px;
}
.jrjj_left .tab_con .tab_con_list {
	width: 705px;
	height: 720px;
}
.jrjj_left .tab_con .tab_con_list li {
	width: 705px;
	height: 160px;
	margin-bottom: 20px;
}
.tab_con_list_left {
	width: 240px;
	height: 160px;
	margin-right: 20px;
	float: left;
	font-size: 0;
	overflow: hidden;
	position: relative;
}
.tab_con_list_left img {
	position: absolute;
}
.tab_con_list_right {
	width: 445px;
	height: 160px;
	float: left;
}
.tab_con_list_right h2 {
	width: 445px;
	height: 40px;
}
.tab_con_list_right h2 a {
	font-size: 20px;
	color: #000;
	line-height: 40px;
}
.tab_con_list_right h2 a:hover {
	color: #eb5429;
	text-decoration: underline;
}
.tab_con_list_right .main_txt {
	width: 445px;
	height: 85px;
}
.tab_con_list_right .main_txt a {
	font-size: 14px;
	color: #9a9a9a;
	line-height: 25px;
}
.tab_con_list_right .main_txt a:hover {
	color: #eb5429;
}
.tab_con_list_right .txt_info {
	width: 445px;
	height: 30px;
}
.tab_con_list_right .zz {
	line-height: 30px;
	font-size: 13px;
	color: #020202;
	background: url(../images/data.png) no-repeat left center;
	padding: 0 18px 0 20px;
}
.tab_con_list_right .sj {
	line-height: 30px;
	font-size: 13px;
	color: #9e9e9e;
	background: url(../images/Clock.png) no-repeat left center;
	padding: 0 18px 0 25px;
}
.tab_con_list_right .ly {
	line-height: 30px;
	font-size: 13px;
	color: #9e9e9e;
	background: url(../images/ticket.png) no-repeat left center;
	padding: 0 18px 0 25px;
}
.jrjj_right {
	width: 260px;
	height: 770px;
	float: left;
}
.jrjj_right_tit {
	width: 220px;
	height: 35px;
	line-height: 31px;
	color: #1081d9;
	font-size: 18px;
	font-weight: normal;
	padding-left: 40px;
	padding-top:5px;
	background: url(../images/qcsp_icon.png) no-repeat left 5px;
	margin-bottom:15px;
	border-bottom:3px solid #e3e3e3;
}
/* 纵向滚动
------------------------------ */
#pic_list_1 {
	position: relative;
	width: 260px;
	height: 700px;
	padding: 0;
}
#pic_list_1 .box {
	overflow: hidden;
	position: relative;
	top: 35px;
	height: 630px;
}
#pic_list_1 .list {
	position: absolute;
	top: 0;
	left: 0;
}
#pic_list_1 .list li {
	height: 210px;
	text-align: center;
	font-size: 0;
	position: relative;
}
#pic_list_1 .list li p.jrjj_list_tit {
	height: 40px;
	width: 260px;
	text-align: center;
}
#pic_list_1 .list li p.jrjj_list_tit a {
	line-height: 40px;
	text-align: center;
	color: #000;
	font-size: 16px;
}
#pic_list_1 .list li p.jrjj_list_tit a:hover {
	color: #eb5429;
}
#pic_list_1 .prev, #pic_list_1 .next {
	position: absolute;
	left: 50%;
	margin-left: -130px;
	width: 260px;
	height: 30px;
	font: 0/0 Arial;
	cursor: pointer;
}
#pic_list_1 .prev {
	top: 0;
	background: url(../images/up_arrow.png) no-repeat center center;
}
#pic_list_1 .next {
	bottom: 5px;
	background: url(../images/down_arrow.png) no-repeat center center;
}
.play_btn {
	display: block;
	width: 71px;
	height: 71px;
	background: url(../images/play_btn.png) no-repeat center center;
	position: absolute;
	left: 97px;
	top: 45px;
}
.xwrw_wrap {
	width: 1000px;
	height: 340px;
	margin: 0 auto;
}
.xwrw_tit {
	width: 1000px;
	height: 38px;
	text-align: right;
	padding-top: 0;
	background: url(../images/CELEBRITY.png) no-repeat left center #fff;
	border-bottom:3px solid #e3e3e3;
	margin-bottom:20px;
}
.xwrw_tit a {
	font-size: 13px;
	color: #010101;
	line-height: 45px;
}
/* 横向滚动
------------------------------ */
#pic_list_2 {
	position: relative;
	width: 1000px;
	height: 280px;
}
#pic_list_2 .box {
	overflow: hidden;
	position: relative;
	width: 930px;
	height: 280px;
	margin: 0 auto;
}
#pic_list_2 .list {
	overflow: hidden;
	width: 9999px;
}
#pic_list_2 .list li {
	float: left;
	width: 200px;
	height: 280px;
	padding: 0 16px;
}
#pic_list_2 .list li p a {
	font-size: 16px;
	color: #2c2c2c;
}
#pic_list_2 .list li p a:hover {
	text-decoration: underline;
}
#pic_list_2 .prev, #pic_list_2 .next {
	position: absolute;
	top: 0;
	width: 30px;
	height: 220px;
	font: 0/0 Arial;
	cursor: pointer;
}
#pic_list_2 .prev {
	left: 0;
	background: url(../images/left_arrow_bg.png) no-repeat;
}
#pic_list_2 .next {
	right: 0;
	background: url(../images/right_arrow_bg.png) no-repeat;
}
.tools_wrap {
	width: 1000px;
	height: 82px;
	margin: 10px auto;
}
.tools_wrap li {
	width: 95px;
	height: 80px;
	border-right: 1px solid #1081d9;
	border-top: 1px solid #1081d9;
	border-bottom: 1px solid #1081d9;
	float: left;
}
li.tools_tit {
	width: 134px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	border: 1px solid #1081d9;
	background-color: #1081d9;
}
.tools_wrap li a {
	width: 95px;
	height: 80px;
	display: block;
}
li.tools_item01 a {
	background: url(../images/tool_item_01.png) no-repeat -3px 1px;
}
li.tools_item02 a {
	background: url(../images/tool_item_02.png) no-repeat -3px 1px;
}
li.tools_item03 a {
	background: url(../images/tool_item_03.png) no-repeat -3px 1px;
}
li.tools_item04 a {
	background: url(../images/tool_item_04.png) no-repeat -3px 1px;
}
li.tools_item05 a {
	background: url(../images/tool_item_05.png) no-repeat -3px 1px;
}
li.tools_item06 a {
	background: url(../images/tool_item_06.png) no-repeat -3px 1px;
}
li.tools_item07 a {
	background: url(../images/tool_item_07.png) no-repeat -3px 1px;
}
li.tools_item08 a {
	background: url(../images/tool_item_08.png) no-repeat -3px 1px;
}
li.tools_item09 a {
	background: url(../images/tool_item_09.png) no-repeat -3px 1px;
}
.xctk_wrap {
	width: 1000px;
	height: 385px;
	margin: 0 auto;
}
.xctk_tit {
	width: 1000px;
	height: 38px;
	text-align: right;
	padding-top: 0;
	background: url(../images/NEWCAR.png) no-repeat left center #fff;
	border-bottom:3px solid #e3e3e3;
	margin-bottom:20px;
}
.xctk_tit a {
	font-size: 13px;
	color: #010101;
	line-height: 45px;
}
.xctk_con {
	width: 1000px;
	height: 320px;
	font-size: 0;
}
.xctk_con a {
	float: left;
	margin: 4px;
	position: relative;
	overflow: hidden;
	display: block;
}
.xctk_con a .layer{
	position:absolute;
	left:0;
	top:0;
	background:url(../images/bgbg.png) repeat-x;
	padding: 45px 0;
}
.xctk_con a .layer p.pp{
	font-size:24px;
	color:#fff;
	text-align:center;
}
.xctk_con a .layer p.jg{
	font-size:16px;
	color:#fff;
	text-align:center;
}
.xctk_con a .layer01{
	padding:118px 0;
}
.xctk_con a img {
	position: absolute;
}
.mjzl_wrap {
	width: 1000px;
	height: 200px;
	margin: 0 auto;
}
.mjzl_tit {
	width: 1000px;
	height: 38px;
	text-align: right;
	padding-top: 0;
	background: url(../images/COLUMN.png) no-repeat left center #fff;
	border-bottom:3px solid #e3e3e3;
	margin-bottom:20px;
}
.mjzl_tit a {
	font-size: 13px;
	color: #010101;
	line-height: 45px;
}
#pic_list_3 {
	position: relative;
	width: 1000px;
	height: 115px;
}
#pic_list_3 .box {
	overflow: hidden;
	position: relative;
	width: 1000px;
	height: 115px;
	margin: 0 auto;
}
#pic_list_3 .list {
	overflow: hidden;
	width: 99999px;
}
#pic_list_3 .list li {
	float: left;
	width: 325px;
	height: 115px;
	padding: 0 5px;
}
#pic_list_3 .list li .list_con {
	width: 293px;
	height: 83px;
	border: 1px solid #e4e4e4;
	padding: 15px;
}
#pic_list_3 .list li .list_con .list_con_left {
	width: 83px;
	height: 83px;
	margin-right: 15px;
	float: left;
}
#pic_list_3 .list li .list_con .list_con_right {
	width: 195px;
	height: 83px;
	float: left;
}
#pic_list_3 .list li .list_con .list_con_right p {
	width: 195px;
	height: 35px;
}
#pic_list_3 .list li .list_con .list_con_right p span.mingjia {
	line-height: 35px;
	background: url(../images/user.png) no-repeat left center;
	padding-left: 20px;
	margin-right: 10px;
}
#pic_list_3 .list li .list_con .list_con_right p span.mingjia a {
	font-size: 14px;
	color: #121212;
}
#pic_list_3 .list li .list_con .list_con_right p span.shijian {
	line-height: 35px;
	background: url(../images/time.png) no-repeat left center;
	padding-left: 20px;
	font-size: 14px;
	color: #121212;
}
#pic_list_3 .list li .list_con .list_con_right p.list_con_txt {
	width: 195px;
	height: 48px;
}
#pic_list_3 .list li .list_con .list_con_right p.list_con_txt a {
	color: #000;
	font-size: 16px;
}
#pic_list_3 .list li p a {
	font-size: 16px;
	color: #2c2c2c;
}
#pic_list_3 .list li p a:hover {
	text-decoration: underline;
}
#pic_list_3 .prev, #pic_list_3 .next {
	position: absolute;
	top: 50%;
	margin-top: -28px;
	width: 25px;
	height: 56px;
	font: 0/0 Arial;
	cursor: pointer;
        z-index:9999;
}
#pic_list_3 .prev {
	left: 6px;
	background: url(../images/left_arrow.png) no-repeat;
}
#pic_list_3 .next {
	right: 0;
	background: url(../images/right_arrow.png) no-repeat;
}
.zhgz_wrap {
	width: 1000px;
	height: 560px;
	margin: 0 auto;
}
.zhgz_tit {
	width: 1000px;
	height: 38px;
	text-align: right;
	padding-top: 0;
	background: url(../images/COMPREHENSIVE.png) no-repeat left center #fff;
	border-bottom:3px solid #e3e3e3;
	margin-bottom:20px;
}
.zhgz_tit a {
	font-size: 13px;
	color: #010101;
	line-height: 45px;
}
.zhgz_con {
	width: 1000px;
	height: 490px;
}
.zhgz_con_l {
	width: 350px;
	height: 490px;
	float: left;
}
.zhgz_con_l h3 {
	width: 73px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	border: 1px solid #56a7dd;
	margin-bottom: 20px;
}
.zhgz_con_l h3 a {
	width: 73px;
	height: 27px;
	display: block;
	line-height: 27px;
	font-size: 14px;
	font-weight: normal;
	color: #56a7dd;
	text-align: center;
}
.zhgz_con_l ul {
	width: 350px;
	height: 440px;
}
.zhgz_con_l ul li {
	width: 335px;
	height: 40px;
	background: url(../images/dot.png) no-repeat left center;
	padding-left: 15px;
}
.zhgz_con_l ul li a {
	line-height: 40px;
	color: #5a5a5a;
	font-size: 15px;
}
.zhgz_con_l ul li a:hover {
	color: #eb5429;
}
.zhgz_con_c {
	width: 350px;
	height: 490px;
	float: left;
}
.zhgz_con_c h3 {
	width: 73px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	border: 1px solid #56a7dd;
	margin-bottom: 20px;
}
.zhgz_con_c h3 a {
	width: 73px;
	height: 27px;
	display: block;
	line-height: 27px;
	font-size: 14px;
	font-weight: normal;
	color: #56a7dd;
	text-align: center;
}
.zhgz_con_c ul {
	width: 350px;
	height: 440px;
}
.zhgz_con_c ul li {
	width: 335px;
	height: 40px;
	background: url(../images/dot.png) no-repeat left center;
	padding-left: 15px;
}
.zhgz_con_c ul li a {
	line-height: 40px;
	color: #5a5a5a;
	font-size: 15px;
}
.zhgz_con_c ul li a:hover {
	color: #eb5429;
}
.zhgz_con_r {
	width: 298px;
	height: 490px;
	border: 1px solid #efefef;
	border-top: none;
	float: left;
}
.zhgz_con_r_tit {
	width: 298px;
	height: 40px;
	background: url(../images/base_tit.png) no-repeat top left #f8f8f8;
}
.zhgz_con_r_tit span {
	display: block;
	width: 90px;
	height: 40px;
	line-height: 40px;
	float: left;
	color: #fff;
	font-size: 20px;
	padding-left: 38px;
	background: url(../images/zhexian_icon.png) no-repeat 10px center;
}
.zhgz_con_r_tit a {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	line-height: 40px;
}
.zhgz_con_r_tit i {
	float: right;
	margin-right: 20px;
}
.zhgz_con_r_tit i a {
	color: #2183c4;
	font-size: 12px;
	font-style: normal;
	line-height: 40px;
}
.zhgz_con_r_tit i a:hover {
	text-decoration: underline;
}
.zhgz_tab {
	width: 240px;
	height: 45px;
	padding: 0 29px;
}
.zhgz_tab span {
	display: block;
	width: 30px;
	height: 45px;
	line-height: 45px;
	text-align: left;
	padding-left: 50px;
	font-size: 14px;
	color: #7f7f7f;
	float: left;
	cursor: pointer;
}
.zhgz_con_r ul.xl_list {
	width: 248px;
	height: 390px;
	margin: 0 25px;
	border-top: 1px solid #e6e6e6;
}
.zhgz_con_r ul.xl_list li {
	width: 248px;
	height: 38px;
}
.zhgz_con_r ul.xl_list li .xuhao {
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	padding: 7px;
	font-size: 15px;
	color: #2792da;
	float: left;
	background: url(../images/xuhao_bg.png) no-repeat center center;
}
.zhgz_con_r ul.xl_list li .xl_link {
	display: block;
	width: 143px;
	height: 38px;
	float: left;
}
.zhgz_con_r ul.xl_list li .xl_link a {
	float: left;
	line-height: 38px;
	color: #000;
	font-size: 14px;
}
.zhgz_con_r ul.xl_list li .xl_link a:hover {
	color: #eb5429;
}
.zhgz_con_r ul.xl_list li .num {
	width: 65px;
	height: 38px;
	font-size: 14px;
	color: #ababab;
	float: left;
	line-height: 38px;
}
.zhgz_con_r ul.xl_list li .up {
	background: url(../images/up.png) no-repeat right center;
	color: #31a1a0;
}
.zhgz_con_r ul.xl_list li .do {
	background: url(../images/do.png) no-repeat right center;
	color: #f6606a;
}
.zthz_wrap {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}
.zthz_tit {
	width: 1000px;
	height: 38px;
	text-align: right;
	padding-top: 0;
	background: url(../images/SPECIAL.png) no-repeat left center #fff;
	border-bottom:3px solid #e3e3e3;
	margin-bottom:20px;
}
.zthz_tit a {
	font-size: 13px;
	color: #010101;
	line-height: 45px;
}
.zthz_con {
	width: 1000px;
	height: 440px;
}
.zthz_con ul {
	width: 1000px;
	height: 440px;
}
.zthz_con ul li {
	width: 310px;
	height: 181px;
	margin-bottom: 34px;
	float: left;
	position: relative;
}
.zthz_con ul li img {
	position: absolute;
}
.zthz_con ul li .zt_tit {
	width: 280px;
	height: 42px;
	position: absolute;
	bottom: 5px;
	left: 0;
	background: url(../images/zt_tit_bg.png) repeat-x;
	padding: 0 15px;
}
.zthz_con ul li .zt_tit a {
	line-height: 42px;
	text-align: left;
	color: #fff;
	font-size: 16px;
}
.yq_wrap {
	width: auto;
	height: 175px;
	background-color: #f8f8f8;
}
.yq_con {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
}
p.yq_tit {
	width: 1000px;
	height: 30px;
	line-height: 25px;
	text-align: center;
	color: #747474;
	font-size: 13px;
}
p.yq_link {
	width: 1000px;
	height: 120px;
	font-size: 13px;
	color: #747474;
	font-family: "宋体";
}
p.yq_link a {
	line-height: 25px;
	margin: 0 10px;
	font-size: 13px;
	color: #747474;
	font-family: "宋体";
	white-space: nowrap;
}
p.yq_link a:hover {
	text-decoration: underline;
}
.back_top_wrap {
	width: 1100px;
	height: 0;
	position: relative;
	margin: 0 auto;
}
.back_top {
	width: 64px;
	height: 64px;
	cursor: pointer;
	position: absolute;
	display: none;
        z-index:1000;
}
.back_top a {
	background: url(../images/back_to_top.png) no-repeat center center;
	width: 64px;
	height: 64px;
	display: block;
}
