@charset "gb2312";
/* CSS Document */
.quick {
	float: Left;
	width: 245px;
	display: block;
	padding: 10px;
	border-left: 1px solid #eee;
	height: 350px;
	margin-left: 7px;
}
.select {
	width: 218px;
	margin: 10px 0;
}
.iDiv_ccc {
	position: relative;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	text-indent: 4px;
	vertical-align: middle;
	cursor: pointer;
	background: url(../images/liandong_arrow.png) 130px 9px no-repeat #fff;
	width: 145px;
	padding-left: 5px;
	border: 1px solid #bebebe;
	color: #bebebe;
	float: left;
	margin-left: -1px;
}
.iDiv {
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	text-indent: 4px;
	vertical-align: middle;
	border: 1px solid #bebebe;
	cursor: pointer;
	background: url(../images/liandong_arrow.png) 130px 9px no-repeat #fff;
	width: 145px;
	overflow: hidden;
	padding-left: 5px;
	color: #bebebe;
	float: left;
    margin-left:-1px;
}
.iDiv_over {
	color: #0097e0;
}
.iDiv_out {
	color: #333;
	background: url(/index/2014/images/select_bg_hover.png) 198px 9px no-repeat;
}
.cDiv {
	position: absolute;
	moz-user-select: none;
	border: 1px solid #bebebe;
	cursor: default;
	background: #fff;
	overflow: auto;
	border-top: none;
	z-index: 999;
	width: 150px;
	height: 250px;
	top: 46px;
	left: 11px;
}
.cDiv01 {
	top: 46px;
	left: 162px;
	width: 150px;
	height: auto;
	max-height: 250px;
}
.cDiv ul p.select_css {
	font-weight: Bold;
	font-size: 14px;
	color: #666;
	padding-left: 5px;
	border-bottom: 1px solid #efefef;
	height: 25px;
	line-height: 25px;
}
.cDiv ul {
	font-size: 12px;
	color: #878787;
}
.cDiv ul li {
	height: 25px;
	line-height: 25px;
	text-indent: 4px;
	border-bottom: 1px solid #efefef;
	cursor: pointer;
	overflow: hidden;
	padding-left: 16px
}
.cDiv ul li.select_xl {
	padding-left: 10px;
}
.car_ss {
	overflow: hidden;
	zoom: 1;
}
.car_text {
	width: 540px;
	height: 50px;
	float: left;
}
.cz_button {
	margin: 10px 0;
	overflow: hidden;
	zoom: 1;
}
.cz_button span {
	display: block;
	float: left;
	width: 98px;
	background: url(/index/2014/images/find_button.gif) left top no-repeat;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: #fff;
	margin: 0 4px;
	cursor: pointer;
}
.level {
	padding: 0 0 10px 5px;
	line-height: 24px;
	border-bottom: 1px dashed #d4d4d4;
	overflow: hidden;
	zoom: 1;
	display: block;
}
.level span, .level a:link, .level a:visited {
	color: #0097e0;
}
.level a {
	margin: 0 1px;
}
.Related_sales {
	padding-top: 10px;
	font-size: 14px;
}
.Related_sales li {
	line-height: 22px;
	height: 22px;
	border-left: 4px solid #ff9400;
	margin: 8px 0;
	padding-left: 10px;
}