@charset "gb2312";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}
body {
	background-color: #fff;
}
a {
	text-decoration: none;
}
a:hover {
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
img {
	border: none;
}
input {
	border: none;
	outline: none;
	background-color: #fff;
}
.clear {
	height: 0;
	clear: both;
}
#div_CurrentPage table{margin:0px auto;}