#tour-link {height:26px;width:337px;margin: 6px 0 0 0;}
a.tour-btn {width:170px;height:26px;display:block;float:right;text-indent:-9999px;background:url(/ucoz/de/img/tour-btn.png) no-repeat 0 0;cursor:pointer;}
a.tour-btn:hover {background-position: 0 -26px;}
span.know-more {display:block;margin-right:178px;height:26px;text-indent:-9999px;background: url(/ucoz/de/img/know-more.png) no-repeat right top;}


#preview-contanier {
    background: url('/ucoz/de/img/bg_preview.png') repeat-x;
}

.footer-mash {
    background: url('/ucoz/de/img/mashable.png') no-repeat;
    width:90px;
    height:90px;
    float:right;
    margin-right:120px;
}

a.create-button {
    background: url('/ucoz/de/img/create_button.png') no-repeat;
}
a.create-button-inner {
    background: url('/ucoz/de/img/create_button1.png') no-repeat;
}

#wrap {
    background: url('/ucoz/de/img/header.jpg') center top no-repeat;
}

.block-manage {
    background: url('/ucoz/de/img/manage_block.png') no-repeat;
}

#btn_r {
    background: url('/ucoz/de/img/rbutton.jpg') no-repeat;
}

#slogan {
    background: url('/ucoz/de/img/slogan.png') no-repeat;
}

#slogan_inner {
    background: url('/ucoz/de/img/slogan2.png') no-repeat;
}

.i03 {
    background: url('/ucoz/de/pick/integ3.jpg') no-repeat;
}

.i04 {
    background: url('/ucoz/de/pick/integ4.jpg') no-repeat;
}

.i05 {
    background: url('/ucoz/de/pick/integ5.jpg') no-repeat;
}

.i06 {
    background: url('/ucoz/de/pick/integ6.jpg') no-repeat;
}

.i08 {
    background: url('/ucoz/de/pick/integ8.jpg') no-repeat;
}

/*integ*/

.m01 {
    background: url('/ucoz/de/pick/moduls1.jpg') no-repeat;
}

.m02 {
    background: url('/ucoz/de/pick/moduls2.jpg') no-repeat;
}

.m03 {
    background: url('/ucoz/de/pick/moduls3.jpg') no-repeat;
}

.m04 {
    background: url('/ucoz/de/pick/moduls4.jpg') no-repeat;
}

.m05 {
    background: url('/ucoz/de/pick/moduls5.jpg') no-repeat;
}

.m06 {
    background: url('/ucoz/de/pick/moduls6.jpg') no-repeat;
}

.m07 {
    background: url('/ucoz/de/pick/moduls7.jpg') no-repeat;
}

.m08 {
    background: url('/ucoz/de/pick/moduls8.jpg') no-repeat;
}

.m10 {
    background: url('/ucoz/de/pick/moduls10.jpg') no-repeat;
}

.m11 {
    background: url('/ucoz/de/pick/moduls11.jpg') no-repeat;
}

.m12 {
    background: url('/ucoz/de/pick/moduls12.jpg') no-repeat;
}

.m13 {
    background: url('/ucoz/de/pick/moduls13.jpg') no-repeat;
}

.m14 {
    background: url('/ucoz/de/pick/moduls14.jpg') no-repeat;
}

.m15 {
    background: url('/ucoz/de/pick/moduls15.jpg') no-repeat;
}

.m16 {
    background: url('/ucoz/de/pick/moduls16.jpg') no-repeat;
}

.m17 {
    background: url('/ucoz/de/pick/moduls17.jpg') no-repeat;
}

.m18 {
    background: url('/ucoz/de/pick/moduls18.jpg') no-repeat;
}

.t01 {
    background: url('/ucoz/de/pick/templ1.jpg') no-repeat;
}

.t02 {
    background: url('/ucoz/de/pick/templ2.jpg') no-repeat;
}

.t03 {
    background: url('/ucoz/de/pick/templ3.jpg') no-repeat;
}

.t04 {
    background: url('/ucoz/de/pick/templ4.jpg') no-repeat;
}

.t05 {
    background: url('/ucoz/de/pick/templ5.jpg') no-repeat;
}

.t06 {
    background: url('/ucoz/de/pick/templ6.jpg') no-repeat;
}

.t07 {
    background: url('/ucoz/de/pick/templ7.jpg') no-repeat;
}

.v01 {
    background: url('/ucoz/de/pick/vidget01.jpg') no-repeat;
}

.v02 {
    background: url('/ucoz/de/pick/vidget02.jpg') no-repeat;
}

.v03 {
    background: url('/ucoz/de/pick/vidget03.jpg') no-repeat;
}

.v04 {
    background: url('/ucoz/de/pick/vidget04.jpg') no-repeat;
}

.v05 {
    background: url('/ucoz/de/pick/vidget05.jpg') no-repeat;
}

.v07 {
    background: url('/ucoz/de/pick/vidget07.jpg') no-repeat;
}

.v08 {
    background: url('/ucoz/de/pick/vidget08.jpg') no-repeat;
}

.v09 {
    background: url('/ucoz/de/pick/vidget09.jpg') no-repeat;
}

.v10 {
    background: url('/ucoz/de/pick/vidget10.jpg') no-repeat;
}

