/* Default */

div.hr {padding:0;margin:5px 0;height:1px;background:#CCCCCC;clear:both;font-size:1px;line-height:1px;overflow:hidden}
div.hrd {padding:0;margin:5px 0 4px 0;height:1px;border-top:1px dotted #CCCCCC;clear:both;font-size:1px;line-height:1px;overflow:hidden}
.myOwnFld{display:none;}
hr {height:1px;border:1px solid #CCCCCC;border-top:0px;background:transparent;margin:5px 0;padding:0;outline:none;font-size:0;}

/*Team*/
    .uteam-descr {
        width: 600px;
    }

    p.uteam, .uteam-descr p {
        color: #555;
        font-size: 11pt;
        line-height:20px;
        margin-top:0;
    }

    .job-link {
        display: block;
        float: right;
        font-size: 18pt;
        width: 260px;
        line-height: 1.2em;
        padding-top: 20px;
    }

    .clear {
        clear: both;
    }

    .u-leader {
        width: 445px;
        float: left;
        line-height: 1.2em;
        margin: 0 5px 10px 0;
    }

    .u-leader h2 {
        color: #4579b4;
        font-size: 12pt;
        font-weight: normal;
        margin: 10px 0 0 0;
    }

    .u-leader span {
        color: #9e9e9e;
        font-size: 8pt;
    }

    .u-leader em {
        color: #6f6f6f;
        font-size: 10pt;
        font-style: oblique;
        margin-left: 140px;
        display: block;
        text-align: left;
    }

    .u-leader .person {
        width: 126px;
        height: 126px;
        background: url('/ucoz/img/team/border_big.png') no-repeat;
        position: relative;
        float: left;
        margin-right: 5px;
    }

    .u-leader .person img {
        position: absolute;
        top: 8px;
        left: 8px;
        border: none;
    }

    .person-on {
        display: none;
    }

    .u-team-year {
        width: 106px;
        height: 106px;
        position: relative;
        float: left;
        margin: 2px;
        z-index: 1;
        color: #d0d0d0;
        font-family: Georgia, serif;
        line-height: 106px;
        font-size: 20pt;
        background: none !important;
    }

    .u-team-year span {
        color: #e5e5e5;
        font-size: 16pt;
        padding: 0;
        margin: 0 5px 0 0;
        display: block;
        float: left;
    }

    .u-team-continued {
        width: 106px;
        height: 106px;
        position: relative;
        float: left;
        margin: 2px;
        z-index: 1;
        color: #d0d0d0;
        line-height: 106px;
        text-align: center;
        font-size: 9pt;
    }

    ul.u-team-cont li {
        width: 110px;
        height: 110px;
        background: url('/ucoz/img/team/border_small.png') no-repeat;
        position: relative;
        float: left;
        z-index: 1;
        padding: 0 !important;
        margin: 0 !important;
    }

    ul.u-team-cont li h2 {
        -moz-user-select: none;
        cursor: default;
        position: absolute;
        z-index: 1000;
        display: none;
        top: 80px;
        left: 80px;
        color: #fff;
        font-size: 12pt;
        font-weight: normal;
        background: #28438a;
        padding: 7px 10px;
        -moz-border-radius: 0 10px 10px 10px;
        -webkit-border-radius: 0 10px 10px 10px;
        -khtml-border-radius: 0 10px 10px 10px;
        border-radius: 0 10px 10px 10px;
        -moz-box-shadow: 3px 3px 10px #999;
        -webkit-box-shadow: 3px 3px 10px #999;
        -khtml-box-shadow: 3px 3px 10px #999;
        box-shadow: 3px 3px 10px #999;
    }

    ul.u-team-cont li img {
        position: absolute;
        top: 10px;
        left: 10px;
        border: none;
        z-index: 0;
    }


/*Terms*/

.img_empty {
    background: none !important;	
}

#terms {
    -moz-border-radius: 6px;
    background: #FFFFFF;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #D4E4ED;
    -webkit-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
    -moz-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
    box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
    width: 50%;
    height: 450px;
    display: none;
}

.close_b {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    float: right;
    cursor: pointer;
    background-image: url('/ucoz/img/block_close.png');
    width: 20px;
    height: 20px;
}

.ttitle {
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    color: #1265BA;
    font-size: 11pt;
    font-weight: bold;
}

.close_b:hover {
    background-position: 0 -20px;
}


#cont-top {
    width: 964px;
    height: 8px;
    margin: auto;
    overflow: hidden;
    background: url('/ucoz/img/cont-top.png');
}

#cont-mid {
    width: 964px;
    margin: auto;
    background: url('/ucoz/img/cont-mid.png');
}

#cont-bottom {
    width: 964px;
    height: 8px;
    margin: auto;
    overflow: hidden;
    background: url('/ucoz/img/cont-bottom.png');
    margin-bottom: 15px;
}

.uz>li {
	list-style: disc;
	list-style-position: inside;
}

.sub-content {
	width: 900px; 
	margin: 0 auto;
	padding: 20px 0 10px 0;
	text-align: left;
}

.sub-content h1 {
	border-bottom: 1px solid rgb(238, 238, 238); padding: 0pt 10px 10px; color: rgb(0, 174, 239);
}

.sub-content td, .sub-content .cinfo {
	color: #555555;
	font-size:14px;
}

#tcnt {
    -webkit-box-shadow: 0px 0px 5px #B9BABD;
    -moz-box-shadow: 0px 0px 5px #B9BABD;
    box-shadow: 0px 0px 5px #B9BABD;
    overflow: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 400px;
    float: right;
}

/*Terms*/

.date {
    float: right;
    color: #999999;
}

.news {
    height: 150px;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

#aholder {
    width: 50px;
    margin: 0 auto;

}

.newsu {
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: url('/ucoz/img/arrow_small_left.png') no-repeat;
    margin-right: 10px;
}

.newsd {
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: url('/ucoz/img/arrow_small_right.png') no-repeat;
    float: right;
}

#btn_r {
    width: 216px;
    height: 34px;
    margin: 0 auto 5px;
}

#btn_r:hover {
    background-position: 0 -34px;
    cursor: pointer;
}

#icon-stat {
    background: url('/ucoz/img/stat.png') no-repeat;
    width: 704px;
    height: 150px;
}

#llink {
    background: url('/ucoz/img/select_arrow.png') no-repeat scroll right 6px transparent;
    padding-right: 15px;
    color: #13529B;
    font-size: 10pt;
    text-decoration: none;

}

#llink:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Tweet*/
#tweload {
    padding-top: 2px;
    background: url('/ucoz/img/loader.gif');
    width: 16px;
    height: 10px;
    margin: 0 auto;
}

.tweet_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
}

.tweet_list li {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    border-bottom: 1px solid #EEEEEE;
    color: #7D7D7D;
    font-size: 12px;
    height: 40px;
}

.tweet_text {
    height: 10px;
    display: block;
}

.tweet_time {
    float: right;
    font-size: 10px;
}

.tweet_time a {
    color: #999999;
}

.tweet_text a {
    color: #0078C8;
}

.tweet_avatar {
    padding-right: .5em;
    float: left;
}

.tweet_avatar img {
    vertical-align: middle;
}

#twicont {
    height: 171px;
    margin: 2px 0 2px 0;
}

#twitup {
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: url('/ucoz/img/arrow_small_up.png') no-repeat;
    margin: 0 auto;
}

#twitdown {
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: url('/ucoz/img/arrow_small_down.png') no-repeat;
    margin: 0 auto;
}

/*Tweet*/

/*Hint*/
.hint {
    height: 34px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    background-color: #365BAF;
    color: #fff;
    right: 0;
    position: absolute;
    line-height: 34px;
    text-align: left;
    display: none;
    padding-left: 20px;
    margin-right: 29px;
}

/*Hint*/

/*Awards*/
#awards {
    width: 100%;
    height: 190px;
    margin-top: 25px;
    text-align: center;
    overflow: hidden;
}

#award_left {
    margin-left: 15px;
    text-align: left;
    color: #28438a;
}

#award_right {
    height: 100%;
    width: auto;
    margin-top: 30px;
}

#award_right a {
    text-decoration: none;
    margin: 0 5px;
}

/*Awards*/

/*Language selector*/

div#lnglist {
    background-color: #7DC5DF;
    border: 1px solid #E7E8E9;
    display: none;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    margin-top: 2px;
}

#lnglist>ul>li {
    display: block !important;
    float: none !important;
    background: none !important;
    margin: 0 !important;
    padding: 5px !important;
    text-align: justify !important;
}

#lnglist>ul>li>span {
    text-decoration: underline;
    color: #13529B;
}

#lnglist>ul>li>span:hover {
    text-decoration: none;
    cursor: pointer;
}

/*Language selector*/

.opinion-person-photo div {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

html, body, form, table {
    margin: 0;
    padding: 0;
}

body {
    font-size: 9pt;
    font-family: Arial, sans-serif;
    line-height: 1.33em;
    color: #010101;
}

img {
    border: none;
}

a {
    color: #0078c8;
}

a:hover {
    text-decoration: none;
    color: #00abed;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: Trebuchet MS, sans-serif;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 24pt;
    color: #e0e0e0;
    margin: 5px 0 20px 0;
    padding: 0;
}

h2 {
    font-size: 20pt;
    color: #de3600;
}

h3 {
    font-size: 16pt;
    color: #5f6467;
}


p {
    text-align: justify;
    font-size: 100%;
}

/* ======= */
/* Layout */

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background: url('/ucoz/img/bg.png') repeat-x #fff;
}

#body_inner {
    background: url('/ucoz/img/bg3.png') repeat-x #ebecee !important;
}

#wrap {
    text-align: center;
    min-width: 1000px;
}

#wrap_inner {
    background: url('/ucoz/img/header5.jpg') top center no-repeat;
    text-align: center;
    min-width: 1000px;
    visibility: hidden; /*-moz-user-select: none;*/
    -khtml-user-select: none;
    -o-user-select: none;
}

#header {
    width: 890px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#header_inner {
    width: 960px;
    height: 177px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#contanier {
    background: url('/ucoz/img/bg_contanier.png') repeat-x #ebecee;
    text-align: center;
}

#content {
    background: url('/ucoz/img/bg_contanier_top.png') top center no-repeat;
    padding: 8px 0;
    width: 1000px;
    margin: 0 auto;
}

#footer {
    height: 50px;
    background: url('/ucoz/img/bg_footer.png') top center no-repeat;
}

/* ======= */

/* ========= */
/* Elements */

/* Common */

.blSortHelper {
    border: 1px dashed #CCCCCC;
}


/* Lists */
ul {
    list-style-type: none;
    margin: 0.3em 0 1.5em 0;
    padding: 0;
}

ul li {
    padding-left: 15px;
    margin-bottom: 0.5em;
}

/* ======== */

/* Header */

#logo,#logo_inner {
    display: block;
    margin: 25px 0 0 10px;
    height: 88px;
    width: 139px;
    background: url('/ucoz/img/logo.png') no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

#logo_inner {
    margin: 20px 0 0 0px;
    float: left;
}

#slogan {
    width: 322px;
    height: 78px;
    overflow: hidden;
    text-indent: -9999px;
    margin-top: 30px;
    margin-left: 10px;
}

#slogan_inner {
    width: 232px;
    height: 64px;
    overflow: hidden;
    text-indent: -9999px;
    margin-top: 50px;
    margin-left: 20px;
    float: left;
    margin-bottom: 0px;
}

a.create-button,a.create-button-inner {
    display: block;
    width: 327px;
    height: 46px;
    overflow: hidden;
    text-indent: -9999px;
    margin-top: 30px;
    margin-left: 10px;
}

a.create-button-inner {
    margin-top: 40px;
    margin-right: 5px;
    float: right;
}

a.create-button:hover,a.create-button-inner:hover {
    background-position: 0 -46px;
}

/* MENU */

#menu,#menu_inner {
    margin: 0 auto;
    clear: both;
    height: 32px;
    background: url('/ucoz/img/top_menu_bottom.png') center bottom no-repeat;
}
#menu_inner {
    background: url('/ucoz/img/top_menu_bottom2.png') center bottom no-repeat;
}

#menu ul,#menu_inner ul {
    list-style-type: none;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#menu ul.right-menu,#menu_inner ul.right-menu {
    float: right;
    list-style-type: none;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#menu>ul>li,#menu_inner>ul>li {
    float: left;
    display: inline;
    text-align: center;
    background: url('/ucoz/img/top_menu_separate.png') center right no-repeat;
    margin: 0 10px 0 0;
    padding: 7px 20px 5px 5px;
    position:relative;
}

#menu i.wait {
	position:absolute;
	width:28px;
	height:8px;
	top:10px;
	left:8px;
	background: url('/img/ma/upl.gif') 0 0 no-repeat;
}

#menu>ul>li>a,#menu_inner>ul>li>a {
    color: #13529b;
    text-decoration: none;
    font-size: 10pt;
}

#menu>ul>li>a:hover,#menu_inner>ul>li>a:hover {
    text-decoration: underline;
}

#menu li.last-item,#menu_inner li.last-item {
    background: none;
    padding-right: 0px;
}

#preview-contanier {
    height: 200px;
    width: 961px;
    margin: 0 auto 20px auto;
    text-align: center;
    position: relative;
}

#preview {
    width: 900px;
    padding-top: 40px;
    margin: 0 auto;
    text-align: left;
}

#widpreview, #intpreview, #tempreview, #modpreview {
    float: left;
  	display:none;
}

#uwidpreview li, #uintpreview li, #utempreview li, #umodpreview li {
    margin: 0;
    padding: 0;
}

li.preview-tumb {
    padding-left: 0 !important;

}

.preview-tumb {
    width: 170px;
    float: left;
    display: inline;
    text-align: center;
    overflow: hidden;
    margin: 0 5px;
}

.preview-tumb a {
    display: block;
    padding: 8px 8px 5px 8px;
    background: #fff;
    text-decoration: none;
    color: #9f9f9f;
    font-size: 9pt;
}

.preview-tumb a:hover {
    display: block;
    padding: 8px 8px 5px 8px;
    background: #51b5ea;
    text-decoration: none;
    color: #fff;
    font-size: 9pt;
}

#preview-contanier div.arrow-left {
    position: absolute;
    top: 95px;
    left: -10px;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background: url('/ucoz/img/arrow_left.png') no-repeat;
    cursor: pointer;
}

#preview-contanier div.arrow-right {
    position: absolute;
    top: 95px;
    right: -10px;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background: url('/ucoz/img/arrow_right.png') no-repeat;
    cursor: pointer;
}

/*Intro*/

#intro {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    height: auto;
    overflow: auto;

}

.intro-block {
    float: left;
    display: inline;
    width: 305px;
    text-align: left;
    margin: 0 10px 0 5px;
}

h1.intro1 {
    color: #72b51c;
    font-size: 14pt;
    background: url('/ucoz/img/h_01.png') no-repeat;
    line-height: 48px;
    padding-left: 60px;
    margin: 5px 0 10px 0;
}

h1.intro2 {
    color: #72b51c;
    font-size: 14pt;
    background: url('/ucoz/img/h_02.png') no-repeat;
    line-height: 48px;
    padding-left: 60px;
    margin: 5px 0 10px 0;
}

h1.intro3 {
    color: #72b51c;
    font-size: 14pt;
    background: url('/ucoz/img/h_03.png') no-repeat;
    line-height: 48px;
    padding-left: 60px;
    margin: 5px 0 10px 0;
}

.intro-block ul {
    margin: 0 10px 0 20px;
}

.intro-block>ul>li {
    background: url('/ucoz/img/bullet1.png') no-repeat;
    padding: 0 0 0 20px;
    color: #365baf;
    font-size: 8pt;
}

/* Blocks*/

.block-manage {
    width: 458px;
    height: 58px;
    margin: 0 auto 5px auto;
    position: relative;
}

div.block-manage .b-close {
    position: absolute;
    top: 12px;
    right: 10px;
    display: block;
    width: 8px;
    height: 8px;
    background: url('/ucoz/img/manage_block_close.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}

div.block-manage .b-close:hover {
    background: url('/ucoz/img/manage_block_close.png') no-repeat 0 -8px;
    cursor: pointer;
}

.block {
    width: 967px;
    margin: 0 auto 20px auto;
    background: url('/ucoz/img/block_top.png') no-repeat;
}

.block-bottom {
    background: url('/ucoz/img/block_bottom.png') bottom no-repeat;
    min-height: 195px;
    position: relative;
}

div.block-close {
    position: absolute;
    top: 7px;
    right: 7px;
    display: block;
    width: 20px;
    height: 20px;
    background: url('/ucoz/img/block_close.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}

div:hover.block-close {
    background: url('/ucoz/img/block_close.png') no-repeat 0 -20px;
    cursor: pointer;
}

.block-content {
    margin-left: 240px;
}

.block-header, h2.opinion {
    margin: 0 40px 0 20px;
    color: #4a4a4a;
    font-size: 11pt;
    line-height: 33px;
    padding-top: 3px;
    text-align: left;
    overflow: auto;
}

.block-body {
    padding: 15px 20px 20px 5px;
}

.block-icons {
    position: absolute;
    top: 15px;
    left: 177px;
}

.block-icons>ul>li>span {
    display: block;
    width: 35px;
    height: 34px;
    background: url('/ucoz/img/block_icons.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;

}

li.icon-news>span.deactive {
    background-position: 0 0;
}

li.icon-news>span:hover, li.icon-news>span.active {
    background-position: -35px 0 !important;
    cursor: pointer;
}

li.icon-stat>span.deactive {
    background-position: 0 -238px;
}

li.icon-stat>span:hover, li.icon-stat>span.active {
    background-position: -35px -238px !important;
    cursor: pointer;
}

li.icon-integ>span.deactive {
    background-position: 0 -34px;
}

li.icon-integ>span:hover, li.icon-integ>span.active {
    background-position: -35px -34px !important;
    cursor: pointer;
}


li.icon-vk>span.deactive {
    background-position: 0 -272px;
}

li.icon-vk>span:hover, li.icon-vk>span.active {
    background-position: -35px -272px !important;
    cursor: pointer;
}


li.icon-facebook>span.deactive {
    background-position: 0 -68px;
}

li.icon-facebook>span:hover, li.icon-facebook>span.active {
    background-position: -35px -68px !important;
    cursor: pointer;
}

li.icon-twitter>span.deactive {
    background-position: 0 -102px;
}

li.icon-twitter>span:hover, li.icon-twitter>span.active {
    background-position: -35px -102px !important;
    cursor: pointer;
}

li.icon-vidget>span.deactive {
    background-position: 0 -170px;
}

li.icon-vidget>span:hover, li.icon-vidget>span.active {
    background-position: -35px -170px !important;
    cursor: pointer;
}

li.icon-templates>span.deactive {
    background-position: 0 -204px;
}

li.icon-templates>span:hover, li.icon-templates>span.active {
    background-position: -35px -204px !important;
    cursor: pointer;
}

li.icon-moduls>span.deactive {
    background-position: 0 -136px;
}

li.icon-moduls>span:hover, li.icon-moduls>span.active {
    background-position: -35px -136px !important;
    cursor: pointer;
}

.illustration {
    float: left;
    display: inline;
    margin: 0 10px 10px 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
}

.block-body h2 {
    color: #1265ba;
    font-size: 11pt;
    font-weight: bold;
    margin: 5px 0 10px 0;
    text-align: left;
}

.block-body h2>em {
    font-size: 8pt;
    color: #7d7d7d;
    font-weight: normal;
    font-style: normal;
}

.block-body p {
    margin: 0;
    text-align: justify;
}

a.read-more {
    display: block;
    text-align: right;
}

.block-news-pick {
    width: 202px;
    height: 232px;
    position: absolute;
    top: -16px;
    left: -10px;
    background: url('/ucoz/img/block_news.png') no-repeat;
}

.block-vidget-pick {
    width: 202px;
    height: 216px;
    position: absolute;
    top: -16px;
    left: -10px;
    background: url('/ucoz/img/block_vidget.png') no-repeat;
}

.block-vidget {
    margin: 0 auto;
    width: 680px;
    overflow: auto;
}

.block-vidget div.arrowv-left {
    cursor: pointer;
    margin-top: 43px;
    float: left;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background: url('/ucoz/img/arrow_left.png') no-repeat;
}

.block-vidget div.arrowv-right {
    cursor: pointer;
    margin-top: 43px;
    float: left;
    width: 28px;
    height: 28px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background: url('/ucoz/img/arrow_right.png') no-repeat;
}



/*templates*/

.vidget, .integ, .templ, .mod {
    float: left;
    width: 135px;
    height: 94px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    margin: 10px;
}



h2.opinion {
    float: left;
}

ul.opinion-person-list {
    margin: -1px 0 0 0;
    float: left;
}

ul.opinion-person-list>li {
    font-size: 11px;
    margin: 0;
    padding: 0 5px 0 5px;
    width: 148px;
    text-align: center;
}

span.opinion-company>img {
    vertical-align: middle;
}

span.opinion-company + span {
    color: #535252;
    margin: 0 3px;
    text-decoration: underline;
}

span.opinion-company + span:hover {
    cursor: pointer;
    color: #00ABED;
}

.opinion-person-photo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 80px;
}

p.quote {
    background: url('/ucoz/img/quote_left.png') no-repeat;
    padding-left: 45px;
    color: #004891;
    font-family: Georgia, serif;
    font-style: oblique;
    margin-bottom: 10px;
}

p.quote>em {
    display: block;
    background: url('/ucoz/img/quote_right.png') right bottom no-repeat;
    padding-right: 45px;
}

a.small-arrow-left {
    float: left;
    width: 17px;
    height: 17px;
    display: inline;
    overflow: hidden;
    text-indent: -9999px;
    background: url('/ucoz/img/arrow_small_left.png') no-repeat;
    margin: 8px 10px 0 0;
}

a.small-arrow-right {
    float: left;
    width: 17px;
    height: 17px;
    display: inline;
    overflow: hidden;
    text-indent: -9999px;
    background: url('/ucoz/img/arrow_small_right.png') no-repeat;
    margin: 8px 0 0 10px;
}

/* Footer */

#footer {
    background: url('/ucoz/img/bg_footer.png') repeat-x #293f79;
    height: auto;
}

#footer-content {
    width: 1000px;
    margin: 0 auto;
    background: url('/ucoz/img/bg_footer_top.jpg') no-repeat;
    text-align: left;
}

.footer-navigation {
    display: inline;
    float: left;
    margin: 30px 10px 10px 10px;
    text-align: left;
    padding: 0 40px 0 0;
    font-size: 9pt;
    font-family: Verdana, sans-serif;
    background: url('/ucoz/img/footer_line.png') top right no-repeat;
}

div.last-footer-navigation {
    float: left;
    margin: 30px 10px 10px 10px;
    text-align: left;
    padding: 0 40px 0 0;
    font-size: 9pt;
    font-family: Verdana, sans-serif;
}

.footer-navigation h3, .last-footer-navigation h3 {
    color: #fff;
    font-size: 9pt;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

.footer-navigation>ul>li, .last-footer-navigation>ul>li {
    background: url('/ucoz/img/bullet2.png') no-repeat 0 6px;
    padding-left: 10px;
}

.footer-navigation a, .last-footer-navigation a {
    color: #c9ecf9;
}

.footer-info {
    width: 600px;
    position: relative;
    float: left;
    padding: 20px;
}

.footer-home-link {
    width: 108px;
    height: 55px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background: url('/ucoz/img/logo_white.png') no-repeat;
}

a.footer-create-button {
    position: absolute;
    display: block;
    width: 298px;
    height: 45px;
    overflow: hidden;
    text-align: center;
    color: #1d3c80;
    font-size: 14pt;
    line-height: 43px;
    text-decoration: none;
    background: url('/ucoz/img/footer_button.png') no-repeat;
    top: 30px;
    left: 180px;
}

a.footer-create-button:hover {
    color: #2d5abb;
}

p.copyright {
    margin-top: 10px;
    font-size: 7pt;
    color: #acb4cb;
    line-height: 9pt;
}

/************/
/* u-window */
/************/
.x-unselectable {-moz-user-select:-moz-none;}
.x-selectable {-moz-user-select:text}

.x-sh, .x-sh *{overflow:hidden;margin:0;border:0}
.xsl *,.xsr *,.xsb * {height:100%}

.x-sh .xstl{padding-top:6px;background:transparent url('/ucoz/img/shadow-h.png') no-repeat 0 0;}
.x-sh .xsml{background:transparent url('/ucoz/img/shadow-h.png') repeat-y -6px 0;}
.x-sh .xstr{padding-top:6px;background:transparent url('/ucoz/img/shadow-h.png') no-repeat -18px 0;}
.x-sh .xsmr{background:transparent url('/ucoz/img/shadow-h.png') repeat-y -12px 0;}
.x-sh .xsbl{padding-left:6px;background:transparent url('/ucoz/img/shadow.png') no-repeat 0 -12px;}
.x-sh .xsbc{background:transparent url('/ucoz/img/shadow.png') repeat-x 0 -36px;}
.x-sh .xsbr{padding-right:6px;background:transparent url('/ucoz/img/shadow.png') no-repeat right -6px;}

.xt{position:relative;overflow:hidden;width:15px;height:15px;float:right;cursor:pointer;background:transparent url('/ucoz/img/tool-sprites.gif') no-repeat;margin-left:2px;margin-top:4px;}
.xt-close{background-position:0 0;}
.xt-close-over{background-position:-15px 0;}
.xt-mini{background-position:0 -15px;}
.xt-mini-over{background-position:-15px -15px;}
.xt-maxi{background-position:0 -30px;}
.xt-maxi-over{background-position:-15px -30px;}
.xt-rest{background-position:0 -45px;}
.xt-rest-over{background-position:-15px -45px;}
.xt-options{background-position:0 -90px;}
.xt-options-over{background-position:-15px -90px;}
.xw-hdr{white-space:nowrap;padding:1px 0 0 0;white-space:nowrap;zoom:1;height:24px;cursor:default}
.xw-hdr-text{vertical-align:3px;cursor:default;color:#1A4B77;font:bold 11px tahoma,arial,verdana,sans-serif;line-height:20px;cursor:default}
.xw-sps {height:4px;overflow:hidden;position:absolute;width:100%;z-index:1}
.xw-tsps{height:6px}
.xw-resize .xw-tl {cursor:nw-resize}
.xw-resize .xw-tr {cursor:ne-resize}
.xw-resize .xw-sps {cursor:n-resize}
.xw-resize .xw-ml {cursor:w-resize}
.xw-resize .xw-mr {cursor:e-resize}
.xw-resize .xw-mc {cursor:default}
.xw-resize .xw-bl {cursor:sw-resize}
.xw-resize .xw-br {cursor:se-resize}
.xw-resize .xw-bc {cursor:s-resize}
.xw-dragging .xw-tl {opacity:0.7;filter:Alpha(Opacity='70');}
.xw-tc{background:transparent url('/ucoz/img/top-bottom.png') repeat-x 0 0;overflow:hidden;zoom:1;position:relative;font-size:0;line-height:0;}
.xw-tl{background:transparent url('/ucoz/img/left-corners.png') no-repeat 0 0;padding-left:6px;position:relative;zoom:1;}
.xw-tr{background:transparent url('/ucoz/img/right-corners.png') no-repeat right 0;padding-right:6px;position:relative;zoom:1}
.xw-bc{background:transparent url('/ucoz/img/top-bottom.png') repeat-x 0 bottom;zoom:1;font-size:0;line-height:0;overflow:hidden;}
.xw-bcm{height:2px;background:transparent url('/ucoz/img/top-bottom.png') repeat-x 0 bottom;zoom:1}
.xw-bc .xw-footer{padding-bottom:6px;font-size:0;line-height:0;zoom:1;}
.xw-bcm .xw-footer{padding-bottom:2px;font-size:0;line-height:0;zoom:1;}
.xw-bl{background:transparent url('/ucoz/img/left-corners.png') no-repeat 0 bottom;padding-left:6px;zoom:1;}
.xw-br{background:transparent url('/ucoz/img/right-corners.png') no-repeat right bottom;padding-right:6px;zoom:1;}
.xw-mc{border:1px solid #CCCCCC;padding:0;margin:0;font:normal 11px tahoma,arial,helvetica,sans-serif;background:#F9F9F9;zoom:1;}
.xw-ml{background:transparent url('/ucoz/img/left-right.png') repeat-y 0 0;padding-left:6px;zoom:1;}
.xw-mr{background:transparent url('/ucoz/img/left-right.png') repeat-y right 0;padding-right:6px;zoom:1;}
.xw-bc {height:6px;}
.xw-icon{width:16px;margin:2px 2px 0 0;height:16px;}
DIV.xw-icon {float:left}
.xw-body{background:transparent}
.xw-draggable,.xw-draggable .xw-hdr-text{cursor:move;}
.xw-plain .xw-mc{background:#F9F9F9;}
.xw-plain .xw-body{background:transparent !important;}
.xw-blank {background:#CCCCCC;opacity:0.4;filter:Alpha(Opacity='40');overflow:hidden}

.myWinGrid {background:#000000 url('/img/1px.gif');opacity:0.15;filter:alpha(opacity=15);}
.myWinGridDark {background:#000000 url('/img/1px.gif');opacity:0.60;filter:alpha(opacity=60);}
.myWinGridBlack {background:#000000 url('/img/1px.gif');opacity:0.80;filter:alpha(opacity=80);}
.myWinCont,.myWinCont td, .myWinCont dl,.myWinCont dt {color:#000000;font-size:12px;font-family:Tahoma,Arial;}
.myWinCont a:link, .myWinCont a:visited{text-decoration:underline;color:#1A4B77;}
.myWinCont a:hover,.myWinCont a:active{text-decoration:none;color:#000000;}
.myWinError {color:#C12828 !important;}
.myWinSuccess {color:#375C8D !important;}
.myWinCont {overflow:hidden;-moz-user-select:text}
.myWinCont label {cursor:pointer;display:inline; margin:0;padding:0;vertical-align:middle;}
.myWinCont legend {padding-bottom:2px;padding-left:3px;padding-right:3px; font-size:12px; color:#1A4B77;}
.myWinCont fieldset {border:1px solid #CCCCCC; padding:2px 5px; margin-bottom:3px;}
.myWinCont fieldset.onebrd {border-top:1px solid #D4E4ED; padding:2px 5px;border-bottom:0px;border-left:0px;border-right:0px;}
.myWinCont legend.onebrd {color:#666666;font-size:10px;font-weight:bold;margin-left:5px;}
.myWinCont .nobdrfield {padding:5px;margin:0px;border-left:0px;border-right:0px;border-bottom:0px;border-top:1px dashed #CCCCCC;}
.myWinCont ul, .myWinCont ol, .myWinCont blockquote {margin:0 0 0 20px;padding:0;}
.myWinCont hr {height:1px;border:1px solid #CCCCCC;border-top:0px;background:transparent;margin:5px 0;padding:0;outline:none;font-size:0;}
.myWinCont li {background: url('/img/ma/ar1.gif') no-repeat 2px 5px;}
.myWinLoad {margin:5px;width:31px;height:31px;background:url('/ucoz/img/ajax.gif') no-repeat 0 0;}
.myWinLoadS {margin:3px 0 0 3px;width:16px;height:16px;background:url('/ucoz/img/ajaxs.gif') no-repeat 0 0;}
.myWinLoadSD {margin:0;padding-left:20px;padding-top:1px;height:16px;background:url('/ucoz/img/ok.png') no-repeat 0 0;}
.myWinLoadSF {margin:0;padding-left:20px;height:16px;background:url('/ucoz/img/er.png') no-repeat 0 0;}
.myWinTD1 {background:#F9F9F9;}
.myWinTD2 {background:#E4EBFA;}
/* ============== */

/******************/
/* u-window-light */
/******************/
.x-lightwnd .xw-tl {display:none}
.x-lightwnd .xw-ml {padding:0;background:none}
.x-lightwnd .xw-bl {display:none}
.x-lightwnd .xw-mc {border:0 none}
.x-lightwnd .xw-mr {padding:0;background:none}
.x-lightwnd .xw-plain .xw-body {background:white!important;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.x-lightwnd .xw-plain .xw-mc {background:none!important;}
.x-lightwnd .vid-title {padding-left:10px;padding-top:2px;color:#555555;}
/* ============== */

/*---connect-social---*/
#uid-link {position: relative;}
#uconnect-social {white-space: nowrap;position: absolute;top: 100%;left: 50%;height: 35px;opacity: 0;visibility: hidden;margin: 2px 0 0 0;padding: 0 6px;font: 12px/35px 'Arial';color: #636363;border: 1px solid #56a3c1;border-radius: 5px;background-color: #fcfdfe;background-image: -webkit-linear-gradient(bottom, #d9edf4, #fff);background-image: -moz-linear-gradient(bottom, #d9edf4, #fff);background-image: -o-linear-gradient(bottom, #d9edf4, #fff);background-image: -ms-linear-gradient(bottom, #d9edf4, #fff);background-image: linear-gradient(to top, #d9edf4, #fff);box-shadow: 0 1px 4px rgba(39, 130, 165, .71);-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;-ms-transition: all 0.2s ease;transition: all 0.2s ease;}
#uid-link:hover #uconnect-social {opacity: 1;visibility: visible;}
#uconnect-social:after {position: absolute;display: block;content: "";width: 13px;height: 7px;bottom: 100%;left: 50%;margin: 0 0 0 -6px;background: url(/ucoz/img/uconnect-triangle.png) no-repeat;}
.ucs-title {display: inline-block;vertical-align: middle;padding: 0 0 0 20px;background: url(/ucoz/img/uconnect-social-chain.png) no-repeat left center;}
.ucs-icons {display: inline;margin: 0 !important;padding: 0 2px 0 2px !important;list-style: none !important;}
.ucs-icons li {margin: 0 !important;padding: 0 !important;background: none !important;display: inline;}
.ucs-icons li a {opacity: 0.3; display: inline-block;vertical-align: middle;margin: 0 0 0 2px;width: 20px;height: 20px;outline: none;}
.ucs-icons li a:hover {box-shadow: 0 0 3px #67c0e2;}
.ucs-icons li .is-connected {opacity:1!important;filter: alpha(opacity=30);cursor: default;box-shadow: none !important;}
#uconnect-social a.wait:hover { cursor:default; box-shadow:none!important }
#uconnect-social .wait {background: url(/img/icon/ajsml.gif) no-repeat 2px 2px;}
#uconnect-social .google {background: url(/ucoz/img/uconnect.png) no-repeat 0 0;}
#uconnect-social .facebook {background: url(/ucoz/img/uconnect.png) no-repeat -20px 0;}
#uconnect-social .yandex {background: url(/ucoz/img/uconnect.png) no-repeat -40px 0;}
#uconnect-social .vkontakte {background: url(/ucoz/img/uconnect.png) no-repeat -60px 0;}
#uconnect-social .twitter {background: url(/ucoz/img/uconnect.png) no-repeat -80px 0;}
#uconnect-social .ok {background: url(/ucoz/img/uconnect.png) no-repeat -100px 0;}
/*--------------------*/


.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}
.hidden-block{display:none}
.alignleft{text-align:left!important}.alignright{text-align:right!important}.aligncenter{text-align:center!important}
.pushleft{float:left}.pushright{float:right}
.clear{clear:both}.clearright{clear:right}.clearleft{clear:left}
.inline-ul{margin:0;padding:0;list-style:none;overflow:visible}
.inline-ul li{display:inline;margin:0;padding:0 1px}
.ureg-pagename{margin-bottom:10px;border-bottom:none!important}
.ureg-wrap{margin-bottom:20px;color:#555;font-size:14px;border-radius:10px;overflow:hidden;background:url(/ucoz/img/ureg-logo.jpg) no-repeat right bottom;box-shadow:0 0 4px rgba(0,0,0,.3)}
.ureg-title{position:relative;margin:0;padding:0;z-index:0;font:normal 24px/46px 'Arial';height:46px;color:#fff;text-align:center;text-shadow:0 1px 0 rgba(16,143,191,.75);background:#00aeef;border:1px solid #00aeef;border-radius:10px 10px 0 0;box-shadow:0 2px 3px rgba(1,86,119,.18),inset 0 1px rgba(255,255,255,.17)}
.ureg-title:before{display:block;position:absolute;z-index:-2;width:41px;height:18px;content:"";left:50%;top:100%;margin:0 0 0 -20px;background:url(/ucoz/img/ureg-title-triangle.png) no-repeat}
.ureg-title:after{display:block;position:absolute;z-index:-1;width:500px;height:59px;content:"";left:50%;top:0;margin:0 0 0 -250px;background:url(/ucoz/img/ureg-title-light.png) no-repeat}
.ureg-title-big{margin:10px 0 0 0;padding:0;font:normal 36px/70px 'Arial';color:#a1a1a1;text-align:center}
.ureg-content{overflow:hidden;font:14px/18px 'Arial';color:#636363}
.ureg-small{background:url(/ucoz/img/sep-vert.png) repeat-y center top}
.ureg-padding{padding:10px 20px}
.ureg-padding p{margin:15px 0}
.ureg-new{width:auto;float:none;position:relative;z-index:0}
.ureg-small .ureg-new{float:left;width:50%}
.ureg-login{width:50%;float:right}
.uform-ul{margin:0;padding:15px 0 15px 50px;list-style:none}
.uform-ul li{margin:0 0 10px 0;padding:0;font-size:0}
.uform-sep-wrap{margin:0!important;height:8px}
.uform-sep{position:absolute;z-index:-1;left:0;margin-top:-2px;border-top:1px dashed #e1e1e1;width:100%}
.uform-ul input[type=checkbox],.uform-ul input[type=radio]{margin:0 5px 0 0}
.uform-ul img{vertical-align:middle}
.uform-ul label,.uform-ul input{vertical-align:middle}
.uform-label{display:inline-block;vertical-align:middle;width:220px;margin:0 10px 0 7px;font:bold 14px/2 'Arial';color:#0881d1;cursor:pointer;text-align:right}
.ureg-small .uform-label{width:auto;text-align:left}
.input-block{position:relative;display:inline-block;vertical-align:middle;font:14px/2 'Arial';color:#636363;width:303px}
.ureg-small .input-block{display:block}
.uform-input{display:block;margin:0;padding:0 8px;font:14px/29px 'Arial';color:#898989;border:1px solid #c1c1c1;border-radius:5px;-webkit-transition:border-color .3s ease;-moz-transition:border-color .3s ease;-o-transition:border-color .3s ease;-ms-transition:border-color .3s ease;transition:border-color .3s ease}
.inputs-inline .uform-input{display:inline-block;vertical-align:middle}
.uform-input:focus{color:#515151;outline:0;border:1px solid #8bc9e1;box-shadow:0 0 6px rgba(101,191,226,.61),inset 0 2px 4px rgba(0,0,0,.17)}
.uform-descr{display:block;font-size:9px;line-height:12px;color:#c2c2c2}
.uf-input-text{width:285px;height:29px;box-shadow:inset 0 2px 4px rgba(0,0,0,.17)}
#input-block-phone .wait {background: url(/img/icon/ajsml.gif) no-repeat 280px;}
#input-block-phone .cancel {background: url(/img/icon/cmt.png) no-repeat 280px; cursor:pointer}
.confirm-links {font-size:10pt }
a.later {color:silver; margin:0 0 0 20px; vertical-align:-13px }
.fcode-refresh{margin:0 5px;padding:0;border:0;cursor:pointer}
#phone-code {cursor:default!important}
#fCountry,#fLocation,#fQuestion{width:303px}
.phone-confirm .input-block {width:307px!important }
#click-goto-cp { display:none; color: #555; position:absolute; top:20px; left:10px; z-index:5; margin:0px; border-radius:5px; font: 12px/19px 'Arial'; word-wrap: break-word; white-space: normal; padding:10px; box-shadow: 0 0 6px rgba(101, 191, 226, 0.61), 0 2px 4px rgba(0, 0, 0, 0.17); background-color:#ffedea;	border: 1px solid #56A3C1; background-image: -webkit-linear-gradient(bottom,#fbfcd0,#ffffeb); background-image: -moz-linear-gradient(bottom,#fbfcd0,#ffffeb); background-image: -o-linear-gradient(bottom,#fbfcd0,#ffffeb); background-image: -ms-linear-gradient(bottom,#fbfcd0,#ffffeb); background-image: linear-gradient(to top,#fbfcd0,#ffffeb) }
#click-goto-cp:after { background: url(/ucoz/img/uconnect-triangle.png) no-repeat; display: block; content: ""; position: absolute; left: 16px; bottom: -7px; width: 16px;	height: 9px; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg) }
#fCode{display:inline-block;vertical-align:middle;width:70px}
#addr{width:175px}
.email-confirm { padding-left:0 }
.email-confirm .uform-label { width:270px }
.fcode-arrow{margin:0 5px}
.fcode-refresh{margin:0 5px;padding:0;border:0;cursor:pointer}
.uf-input-select{height:29px;margin:0 7px 0 0;padding:4px 8px;color:#0881d1;background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#fLocation,#fQuestion{width:303px}
.uform-status{display:none; position:absolute;z-index:5;top:100%;left:0;min-width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:-3px 0 0 0;padding:6px 10px;white-space:nowrap;font:12px/170% 'Arial';box-shadow:1px 1px 5px rgba(0,0,0,.24);border-radius:3px}
.uform-status:after{display:block;content:"";position:absolute;left:16px;bottom:100%;width:16px;height:9px}
.uform-status.fail{color:#aa6c66;border:1px solid #f5c1ba;background-color:#ffedea;background-image:-webkit-linear-gradient(bottom,#ffe6e3,#ffedeb);background-image:-moz-linear-gradient(bottom,#ffe6e3,#ffedeb);background-image:-o-linear-gradient(bottom,#ffe6e3,#ffedeb);background-image:-ms-linear-gradient(bottom,#ffe6e3,#ffedeb);background-image:linear-gradient(to top,#ffe6e3,#ffedeb)}
.uform-status.fail:after{background:url(/ucoz/img/ufs-fail-triangle.png) no-repeat}
.uform-status.fail a{color:#aa6c66!important;text-decoration:underline}
.uform-status.fail a:hover{text-decoration:none}
.uform-status.warning{color:#af8850;border:1px solid #e5d4a8;background-color:#fef8e3;background-image:-webkit-linear-gradient(bottom,#fcecc9,#fef8e5);background-image:-moz-linear-gradient(bottom,#fcecc9,#fef8e5);background-image:-o-linear-gradient(bottom,#fcecc9,#fef8e5);background-image:-ms-linear-gradient(bottom,#fcecc9,#fef8e5);background-image:linear-gradient(to top,#fcecc9,#fef8e5)}
.uform-status.warning:after{background:url(/ucoz/img/ufs-warning-triangle.png) no-repeat}
.uform-status.warning a{color:#af8850!important;text-decoration:underline}
.uform-status.warning a:hover{text-decoration:none}
.uform-status-icon{display:block;width:13px;height:11px;position:absolute;left:100%;top:50%;margin:-5px 0 0 9px}
.fail+.uform-status-icon{background:url(/img/icon/uff.png) no-repeat}
.pass+.uform-status-icon{background:url(/img/icon/ufp.png) no-repeat}
.warning+.uform-status-icon{width:16px;height:14px;margin-top:-7px;background:url(/ucoz/img/uf-status-warning.png) no-repeat}
.wait+.uform-status-icon{width:16px;height:16px;margin-top:-8px;background:url(/img/icon/ajsml.gif) no-repeat}
.stylish{display:inline-block;position:relative;margin:10px 0 10px 0;padding:23px 20px;text-shadow:0 1px 0 rgba(255,255,255,.75);background:#cef0fd url(/ucoz/img/wand.png) no-repeat left 13px;border:1px solid #a5daee;border-radius:10px;box-shadow:inset 0 0 1px #fff}
.stylish:before,.stylish:after{content:"";position:absolute;z-index:-2;bottom:10px;left:8px;height:50px;width:200px;box-shadow:0 12px 15px rgba(0,0,0,.2);-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-ms-transform:rotate(-3deg);-o-transform:rotate(-3deg);transform:rotate(-3deg)}
.stylish:after{right:8px;left:auto;-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-ms-transform:rotate(3deg);-o-transform:rotate(3deg);transform:rotate(3deg)}
.stylish-sep{position:absolute;width:2px;left:80px;top:1px;bottom:1px;background:url(/ucoz/img/stylish-sep.png) repeat-y}
.stylish .uform-label {width:155px; margin-left:52px;}
.stylish .uform-input{border-color:#9ccfe3}
.ureg-info{margin:0;padding:12px 40px 0 50px;list-style:none}
.ureg-info li{font:12px/18px 'Arial';color:#959595;background:url(/ucoz/img/bullet.gif) no-repeat left 3px}
.btn, .uf-button{display:inline-block;margin:10px 0;padding:0 12px;height:35px;font:bold 14px/33px 'Arial';color:#fff;text-decoration:none!important;text-shadow:0 -1px 0 #0967a7;background-color:#0e80cd;background-image:-webkit-linear-gradient(bottom,#0874bd,#1690e1);background-image:-moz-linear-gradient(bottom,#0874bd,#1690e1);background-image:-o-linear-gradient(bottom,#0874bd,#1690e1);background-image:-ms-linear-gradient(bottom,#0874bd,#1690e1);background-image:linear-gradient(to top,#0874bd,#1690e1);box-shadow:inset 1px 1px rgba(255,255,255,.45);border:1px solid #0670b7;border-radius:5px;cursor:pointer;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
.btn:hover, .uf-button:hover{border-color:#0776c0;background-color:#128cdd;background-image:-webkit-linear-gradient(bottom,#0a88dc,#20a3fb);background-image:-moz-linear-gradient(bottom,#0a88dc,#20a3fb);background-image:-o-linear-gradient(bottom,#0a88dc,#20a3fb);background-image:-ms-linear-gradient(bottom,#0a88dc,#20a3fb);background-image:linear-gradient(to top,#0a88dc,#20a3fb)}
.uf-button-big{height:45px;font:normal 18px/43px 'Arial'}
.btn-success, .uf-button-green{text-shadow:0 -1px 0 #91bd26;border:solid 1px #94c224;background-color:#acd93f;background-image:-webkit-linear-gradient(bottom,#9ac82a,#bcea53);background-image:-moz-linear-gradient(bottom,#9ac82a,#bcea53);background-image:-o-linear-gradient(bottom,#9ac82a,#bcea53);background-image:-ms-linear-gradient(bottom,#9ac82a,#bcea53);background-image:linear-gradient(to top,#9ac82a,#bcea53)}
.btn-success:hover, .uf-button-green:hover{border-color:#a0d227;background-color:#b5e446;background-image:-webkit-linear-gradient(bottom,#a5d729,#c5f061);background-image:-moz-linear-gradient(bottom,#a5d729,#c5f061);background-image:-o-linear-gradient(bottom,#a5d729,#c5f061);background-image:-ms-linear-gradient(bottom,#a5d729,#c5f061);background-image:linear-gradient(to top,#a5d729,#c5f061)}
.btn:disabled, .uf-button:disabled,.uf-button.inactive{cursor:default;background-color:#b7b7b7;background-image:-webkit-linear-gradient(bottom,#b7b7b7,#d7d7d7);background-image:-moz-linear-gradient(bottom,#b7b7b7,#d7d7d7);background-image:-o-linear-gradient(bottom,#b7b7b7,#d7d7d7);background-image:-ms-linear-gradient(bottom,#b7b7b7,#d7d7d7);background-image:linear-gradient(to top,#b7b7b7,#d7d7d7);border-color:#ccc;text-shadow:0 1px 0 #a1a1a1}
.ureg-social{padding:0 0 10px 0}
.ureg-social .inline-ul{padding-top:3px}
.ureg-soc-title{display:inline-block;margin:0 0 8px 0;padding-left:20px;font:14px/25px 'Arial';color:#636363;background:url(/ucoz/img/ureg-soc-title.png) no-repeat left center}
.ureg-social a{display:inline-block;margin:0 2px;position:relative;top:-3px;width:24px;height:24px;vertical-align:middle;background:url(/img/ma/socs.png) no-repeat;border-radius:3px;outline:0;opacity:.5;-webkit-transition:all .1s ease;-moz-transition:all .1s ease;-o-transition:all .1s ease;-ms-transition:all .1s ease;transition:all .1s ease}
.ureg-social a:hover{opacity:1;top:0;box-shadow:0 0 3px #67c0e2}
.ureg-social .vkontakte{background-position:-168px 0}
.ureg-social .facebook{background-position:0 0}
.ureg-social .yandex{background-position:-144px 0}
.ureg-social .google{background-position:-48px 0}
.ureg-social .twitter{background-position:-24px 0}
.ureg-social .ok{background-position:-192px 0}
.ureg-login p{margin:30px 0;padding:0;line-height:18px}
.ureg-login p a{color:#00aeef!important;font-weight:bold}
.uid-login{display:inline-block;font:bold 14px/51px 'Arial';color:#707070;text-decoration:none;outline:0}
.uid-login span{cursor:pointer!important}
.uid-but-left{padding-left:51px;background:url(/ucoz/img/uid-left.png) no-repeat left center}
.uid-but-right{display:inline-block;padding-right:21px;background:url(/ucoz/img/uid-right.png) no-repeat right center}
.uid-but-mid{display:inline-block;padding:0 0 0 4px;background:url(/ucoz/img/uid-mid.png) repeat-x left center}
.regSecImg,.conSecImg,.conSecImg{background:none repeat scroll 0 0 #f0f0f0;border-radius:5px;cursor:pointer;vertical-align:-10px;height:35px;width:135px}
#form-status { font-weight:normal;font-size:12px }
.createsite { padding-left:125px  }
.site-transfer { position:relative; padding:10px 7px; margin:20px 0; text-align:left!important; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); border-radius:10px }
.site-transfer button { float:right; width:auto; margin:-3px 0!important; min-width:100px; border:0; font-weight:300 }
.site-transfer button.btn-success { border-top-right-radius:0; border-bottom-right-radius:0 }
.site-transfer button.btn-default { border-top-left-radius:0; border-bottom-left-radius:0 }
.site-transfer .uform-input { display:inline-block; border:0 none; text-decoration:none }
.site-transfer a img { vertical-align:-3px; width:16px; height:16px }
#transfer-hint {  text-align:center; color:#959595; font-size:1.2em }

/* new uWnd design */
.p-wnd .x-sh, .p-wnd .xw-bl {display:none !important;}
.p-wnd .xw-ml, .p-wnd .xw-mr {margin:0 !important;padding:0 !important;background:none !important;}
.p-wnd .xw-mc {color:#333; font-weight: normal; float: none; margin: 0; padding: 8px 8px !important; background: #fff !important; border: 1px solid #c4cee0 !important;border-radius:4px;-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);}
.p-wnd .xw-hdr-text {display: none !important;}
.p-wnd .xw-hdr img {display:none;}
.p-wnd .xw-tl, .p-wnd .xw-tr, .p-wnd .xw-tc, .p-wnd .xw-hdr, .p-wnd .xw-sps {height: 0 !important;background: none !important;padding: 0 !important;}
.p-wnd .xw-tc {overflow: visible !important;}
.p-wnd .xt-close {position: absolute !important;right: -18px;top: -18px;margin: 0 !important;z-index: 10014 !important;width: 36px !important;height: 36px !important; background: url(/.s/src/ulightbox/fancybox_sprite.png) no-repeat !important;}
.p-wnd .xw-body {border: 0 !important;padding: 0 !important;}


