body {
    background: #eaeaea url(../img/bg_background.png) repeat-y center top;
    border-bottom: 2px solid #e3e3e3;
}

/* Publicite
*****************************/

#eShowPubTop {
    clear: both;
    margin: 0 auto;
    padding: 6px 0;
    width: 1000px;
    min-height:90px;
    text-align:center;
    background: #fff;
}

#eShowPubMiddle{
    min-width:300px;
    min-height:250px;
}

#eShowPubx01, #eShowPubx02 {
    position: absolute;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: visible;
}

.adCall {
    display: none;
}

.adCtnt object, .adCtnt iframe, .adCtnt img, .adCtnt ins{
    display: block;
    margin: 0 auto !important;
}

.blocLien {
    opacity: 0; -moz-opacity: 0; -ms-filter: "alpha(opacity=0)"; /* IE 8 */ filter: alpha(opacity=0); /* IE < 8 */
}


/* Header de l'arche
**************************/
.arche_top {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #1b1f20;
    background: #fff;
	overflow:auto;
	z-index:0;
}

/* Logo titre
********************/
.arche_top .figure {
    float:left;
    margin: 25px 0 20px 25px;
	height:51px;
}

.arche_top .figure:hover {
    opacity: 0.7; -moz-opacity: 0.7; -ms-filter: "alpha(opacity=70)"; /* IE 8 */ filter: alpha(opacity=70); /* IE < 8 */
}


/* Navigation
***************/
.arche_top > .nav {
    float:right;
	position:relative;
    height:51px;
	margin: 25px 80px 20px 0;
}

.arche_top > .nav h2{
	display: none;
}

.arche_top > .nav .chaines{
	height: 40px;
	padding: 5px 0;
	overflow: hidden;
}

.arche_top > .nav .chaines li {
    float: left;
    height: 40px;
    width: 25px;
	margin: 0 6px;
}

.arche_top > .nav .chaines li:hover {
    opacity: 0.7; -moz-opacity: 0.7; -ms-filter: "alpha(opacity=70)"; /* IE 8 */ filter: alpha(opacity=70); /* IE < 8 */
}

/* Recherche
**************/
.recherche_arche {
    position:absolute;
    top: 0;
    right: 400px;
    padding:11px 0 11px 10px;
    width:270px;
    vertical-align:top;
    font-size: 0;
}
.recherche_arche input.keyword-input {
    display: inline-block;
    border: none;
    padding: 0 0 0 8px;
    width: 207px;
    height: 32px;
    color: #7a7a7a;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-style: normal;
    font-size: 11px;
    background: url(../img/bg_input_arche.png) 0 0 no-repeat;
    vertical-align: top;
}
.recherche_arche input.submit {
    display: inline-block;
    border: none;
    width: 36px;
    height: 31px;
    background: url(../img/btn_recherche_arche.png) 0 0 no-repeat;
    vertical-align: top;
    text-indent: -900px;
    overflow: hidden;
    cursor: pointer;
}

/* AutoCompletion recherche
******************************/
.recherche_arche .auto_complete {
    background:#f9f9f9 url(../img/bg_autocomplet.png) 0 0 repeat-x;
    padding: 17px 11px 8px 12px;
    position: absolute;
	top:45px;
    right: 19px;
    width: 210px;
}
.recherche_arche .auto_complete a {
    color:#808080;
    text-decoration: none;
}

.recherche_arche .auto_complete ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.recherche_arche .auto_complete em {
    color:#ec312e;
    font-weight:bold;
    font-style: normal;
}

.recherche_arche .auto_complete .miniature_results li {
    position: relative;
    border-top:1px solid #fff;
    border-bottom:1px solid #e9e8e8;
    padding: 6px 0 6px 63px;
    line-height: 13px;
}
.recherche_arche .auto_complete .miniature_results li.first {
    border-top: none;
}
.recherche_arche .auto_complete .miniature_results li img {
    position: absolute;
    top: 6px;
    left: 0;
}
.recherche_arche .auto_complete .miniature_results li strong {
    display:block;
    font-size:1.1em;
    font-weight: bold;
    text-transform:uppercase;
    color: black;
}
.recherche_arche .auto_complete .miniature_results li a:hover strong {
    color: #808080;
}
.recherche_arche .auto_complete .miniature_results li a {
    display:block;
    line-height: 1.2em;
    padding: 0 0 2px;
    font-size:.9em;
}
.recherche_arche .auto_complete .liste_results {
    padding: 5px 0;
    border-top:1px solid #fff;
    border-bottom:1px solid #e9e8e8;
}
.recherche_arche .auto_complete a.all_results {
    display:block;
    border-top:1px solid #fff;
    padding:5px 0 0;
    text-align:right;
}


/* Site contenu
*****************************************/

.site_content{
    position: relative;
    margin: 0 auto;
    width: 1000px;
	background:#fff;
	z-index:0;
}


/* Footer de l'arche
**************************/
.arche_footer {
    position: relative;
    margin: 0 auto;
	padding-top: 20px;
    width: 1000px;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #1b1f20;
    background: #fff url(../img/bg_footer.gif) no-repeat 0 20px;
	overflow:auto;
	z-index:0;
}


/* Navigation Footer Arche
*****************************************/

.arche_footer .infos_francetv {
    padding: 40px 20px 30px 20px;
    overflow: hidden;
}
.arche_footer .infos_francetv .baseline {
    float: left;
    margin: 2px 20px 0 0;
	min-height: 52px;
	border-right: 1px solid #cdcdcd;
	padding-right: 20px;
}
.arche_footer .infos_francetv .baseline a:hover img{
    opacity: 0; -moz-opacity: 0; -ms-filter: "alpha(opacity=0)"; /* IE 8 */ filter: alpha(opacity=0); /* IE < 8 */
}
.arche_footer .infos_francetv p {
    color: #808081;
    font-size: 11px;
}
.arche_footer .infos_francetv a {
    text-decoration: none;
    color: inherit;
}
.arche_footer .infos_francetv a:hover {
    text-decoration: underline;
}
