/* Lightbox
----------------------------------------------------------------------*/
.lbPop { position:absolute;background:#fff url(/gfx/ico/loading.gif) center center no-repeat;
    -moz-box-shadow:1px 1px 5px #595959;
    -webkit-box-shadow: 1px 1px 5px #595959;
    box-shadow: 1px 1px 5px #595959;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    z-index: 9999999 !important;
}
.lbPop a.gen-close {position:absolute;top:-17px;right:-17px;text-indent:-9999px;display:block;background:url("/gfx/ico/lb-close-circle.png") 0 0 no-repeat;height:33px;width:33px;z-index:9999;}
.lbPop a.gen-close:hover{background-position:0px 0px;}

/* Overlay
----------------------------------------------------------------------*/
.lbOverlay { width:100%; text-align:center; height:100%; display:block; position:fixed; top:0; left:0; z-index:9999; background:#f7f7f7; }
.lbOverlay { _position:absolute;_height:1500px;}
.lbOverlay.dark { background:#2b2b2b; }
.lbOverlay .hp-overlay-container { width:980px; margin:0 auto; }
.lbOverlay .head { height:113px; background:url(/gfx/sect/ads/hp-overlay-white.gif) bottom center no-repeat; position:relative; }
.lbOverlay.dark .head { background:url(/gfx/sect/ads/hp-overlay-dark.gif) bottom center no-repeat; }
.lbOverlay .head h1 { margin:0; }
.lbOverlay .head p { margin:0; position:absolute; left:12px; top:50%; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#868686; line-height:17px; }
.lbOverlay .head a.skip { position:absolute; right:18px; top:50%; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#adadad; line-height:17px; text-decoration:none; }
.lbOverlay .ad-container { padding:113px 0 0; margin:0 auto; text-align:center; background: url("/gfx/ico/loading-f7f7f7.gif") no-repeat center center; }
.lbOverlay.dark .ad-container { background:#2b2b2b url("/gfx/ico/loading-dark.gif") center center no-repeat; }
.lbOverlay .ad-container img { border:0; }

.blog-interstitial { position:absolute; display:block; height:560px; width:658px; z-index:9999; text-align:center; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:1px 1px 5px #595959; box-shadow:1px 1px 5px #595959; -webkit-box-shadow:1px 1px 5px #595959; background: url("/gfx/ico/loading.gif") no-repeat scroll center center #FFFFFF; }
.blog-interstitial.dark { background:#2b2b2b url("/gfx/ico/loading-dark.gif") center center no-repeat; }
.blog-interstitial h2 { margin:0; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#868686; font-weight:normal; text-align:center; padding:20px 0 15px; }
.blog-interstitial img { border:0; }
.blog-interstitial .close { position:absolute; top:-12px; right:-12px; display:block; width:29px; height:29px; text-indent:-9999em; background:url(/gfx/sect/ads/blog-interstitial-close.png) 0 0 no-repeat; }
.blog-interstitial.dark .close { background:url(/gfx/sect/ads/blog-interstitial-close-dark.png) 0 0 no-repeat; }



/* ============================== takeover 3: opening credits =============================== */


.opening-credits .opening-credits-wrap,
.opening-credits-image .opening-credits-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2147483600;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
}


.opening-credits #www-newyorkmag-com .opening-credits-wrap.opening-credits-transition-1,
.opening-credits #www-newyorkmag-com .opening-credits-wrap.opening-credits-transition-2,
.opening-credits-image #www-newyorkmag-com .opening-credits-wrap.opening-credits-transition-1,
.opening-credits-image #www-newyorkmag-com .opening-credits-wrap.opening-credits-transition-2 {
    background-size: 250px auto;
    background-image: url(http://images.nymag.com/ads/nymag/homepage/NYMag-logo-2x.png);
}

.opening-credits .vulture .opening-credits-wrap.opening-credits-transition-1,
.opening-credits .vulture .opening-credits-wrap.opening-credits-transition-2,
.opening-credits-image .vulture .opening-credits-wrap.opening-credits-transition-1,
.opening-credits-image .vulture .opening-credits-wrap.opening-credits-transition-2 {
    background-image: url(http://images.nymag.com/ads/vulture/homepage/cw/Vulture-logo.png);
}

.opening-credits .opening-credits-wrap.opening-credits-transition-3 {
    background-image: none;
    -moz-transition: opacity 0.666s ease-in;
    -webkit-transition: opacity 0.666s ease-in;
    -ms-transition: opacity 0.666s ease-in;
    -o-transition: opacity 0.666s ease-in;
    transition: opacity 0.666s ease-in;
    opacity: 1;
}

.opening-credits .opening-credits-wrap.opening-credits-transition-4 {
    background-image: none;
    opacity: 0;
}

.opening-credits .opening-credits-fin .opening-credits-wrap {
    display: none;
}

.opening-credits .opening-credits-inner,
.opening-credits-image .opening-credits-inner {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000;
    opacity: 1;
    -moz-transition: opacity 0.666s ease-out 0.5s;
    -webkit-transition: opacity 0.666s ease-out 0.5s;
    -ms-transition: opacity 0.666s ease-out 0.5s;
    -o-transition: opacity 0.666s ease-out 0.5s;
    transition: opacity 0.666s ease-out 0.5s;
}

.opening-credits .opening-credits-transition-1 .opening-credits-inner,
.opening-credits-image .opening-credits-transition-1 .opening-credits-inner {
    -moz-transition: opacity 0.666s ease-in;
    -webkit-transition: opacity 0.666s ease-in;
    -ms-transition: opacity 0.666s ease-in;
    -o-transition: opacity 0.666s ease-in;
    transition: opacity 0.666s ease-in;
    opacity: 0;
}

.opening-credits .opening-credits-transition-3 .opening-credits-inner,
.opening-credits-image .opening-credits-transition-3 .opening-credits-inner,
.opening-credits-image .opening-credits-transition-5 .opening-credits-inner,
.opening-credits-image .opening-credits-transition-fin .opening-credits-inner {
    opacity: 0;
}


.opening-credits-inner td {
    vertical-align: middle;
    text-align: center;

}

.opening-credits body,
.opening-credits-image body {
    overflow:hidden;
}

.opening-credits body.opening-credits-fin,
.opening-credits-image body.opening-credits-fin {
    overflow:auto;
}

.opening-credits #wrap-wrap-wrap,
.opening-credits-image #wrap-wrap-wrap {
    position: absolute;
    left: -99999em;
}

.opening-credits .opening-credits-fin #wrap-wrap-wrap,
.opening-credits-image .opening-credits-fin #wrap-wrap-wrap {
    position: static;
    left: auto;
}

.opening-credits-button {
    border-radius: 5px;
    display: block;
    padding: 1.3em 0;
    text-align: center;
    visibility: hidden;
    z-index: 2147483601;
}

.opening-credits-button span {
    color: #ccc;
    font: bold 1.1em 'Helvetica', Arial, sans-serif;
    text-transform: uppercase;
}

.opening-credits-skip {
    background-color: #181818;
    position: absolute;
    top: 11px;
    margin-left: -7.55em;
    left: 50%;
    width: 13.1em;
}

    .opening-credits-skip span {
	border-bottom: 1px solid #464646;
    }


.opening-credits .opening-credits-transition-1 .opening-credits-skip,
.opening-credits .opening-credits-transition-2 .opening-credits-skip,
.opening-credits-image .opening-credits-skip {
    visibility: visible;
}

.opening-credits .opening-credits-audio {
    margin: 1em auto;
    width: 11.1em;
}

.opening-credits .opening-credits-audio:hover {
    background-color: #212121;
    width: 11.1em;
}

    .opening-credits .opening-credits-audio b {
	border-bottom: 1px solid #464646;
    }

.opening-credits .opening-credits-transition-2 .opening-credits-audio,
.opening-credits .opening-credits-transition-3 .opening-credits-audio {
    visibility: visible;
}


.opening-credits-billboard {
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.opening-credits .opening-credits-video {
    height: 54em;
}


.opening-credits .opening-credits-billboard-click {
    position:absolute;
    width:950px;
    height:540px;
    top: 0;
    left: 0;
    z-index: 2147483630;
}


.opening-credits .track {
    visibility: hidden;
}

.opening-credits-image .opening-credits-billboard a {
    width: 950px;
    height: 540px;
    display: block;
    background-size: 950px 540px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* OPENING CREDITS GATEFOLD */
.overlayAdContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 999995;
}

.quickTransitions {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.exitTransitions {
	-webkit-transition: all 1.0s ease-out;
	-moz-transition: all 1.0s ease-out;
	-ms-transition: all 1.0s ease-out;
	-o-transition: all 1.0s ease-out;
	transition: all 1.0s ease-out;
}

.transitions {
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-ms-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: all 3s ease-out;
}

.clickToCloseOpener {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	font: 400 12px Helvetica, Arial, sans-serif;
	color: #c5c5c5;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
	opacity: 0;
	z-index: 999999;
}

.presentedByImageTote {
	position: absolute;
	top: 300px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 300px;
	opacity: 0;
}

.leftAdGate,
.rightAdGate {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	background: #000;
	z-index: 999996;
	opacity: 0;
}

.rightAdGate {
	float: right;
	overflow: hidden;
	z-index: 999990;
}

.translateLeft {
	-webkit-transform: translate(-100%);
	-moz-transform: translate(-100%);
	-ms-transform: translate(-100%);
	-o-transform: translate(-100%);
	transform: translate(-100%);
}

.translateRight {
	-webkit-transform: translate(100%);
	-moz-transform: translate(100%);
	-ms-transform: translate(100%);
	-o-transform: translate(100%);
	transform: translate(100%);
}

.translateLeft,
.translateRight {
	-ms-filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand');
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1,M12=0,M21=0,M22=1,SizingMethod='auto expand');
}

.leftAdGate img {
	margin: 0% 10% 50%;
}

.rightAdGate .adImage {
	float: right;
	right: 0;
}

.adImage {
	top: 0;
	width: auto;
	height: 100%;
}