
/*~  1. Reset
----------------------------------------------------------------------*/
html,body,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-size:100%;line-height:1em;font-family:inherit}table{border-collapse:collapse;border-spacing:0}ol,ul{list-style:none}q:before,q:after,blockquote:before,blockquote:after{content:""}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

/*~  2. Base styles
----------------------------------------------------------------------*/
body {
	background: #fff;
	color: #000;
	font: normal 62.5% Arial, Helvetica, Verdana, Geneva, sans-serif;
}

a {
	color: #1f638a;
	text-decoration: none;
	outline: none;
}
a:hover { text-decoration: underline; }
a img { border: none; }
.image a { display:block; }

input,
select,
textarea {
	font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	margin:0;
}

input.text,
textarea {
	border: 1px solid #c2c2c2;
	border-color: #6c6c6c #c2c2c2 #c2c2c2 #6c6c6c;
	padding: 2px 0;
}




.info {
	line-height:1em;
}

.tout {
	font-size:.8333em; /* reset from 12px to 10px */
}

.tout,
.tout:hover {
	text-decoration:none;
}

.article_comment_count,
.info i {
	background:url("http://cache.nymag.com/gfx/sect/home/chat-bubble.gif") no-repeat 50% 50%;
	font-size:1em;
	line-height:1em;
	font-style:normal;
	font-weight:normal;
	font-family:Arial,sans-serif;
	margin-right:1px;
	padding:2px 5px 4px;
	text-align:center;
	color:#000;
	display: none;
	position:relative;
}
#most-commented .article_comment_count,
strong.article_comment_count {
	display:inline !important;
}


/* SCROLLBARS */

div::-webkit-scrollbar,
iframe::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

div::-webkit-scrollbar-thumb:vertical,
iframe::-webkit-scrollbar-thumb:vertical {
  margin: 0;
  background-color: #d8d8d8;
  -webkit-border-radius: 8px;

  border-left:1px solid #bbbbbb;
  border-right:1px solid #dcdcdc;
}

div::-webkit-scrollbar-thumb:horizontal,
iframe::-webkit-scrollbar-thumb:horizontal {
  margin: 0;
  background-color: #d8d8d8;
  -webkit-border-radius: 8px;
	border-top:1px solid #bbbbbb;
	border-bottom:1px solid #dcdcdc;
}

div::-webkit-scrollbar-button:start:decrement,
div::-webkit-scrollbar-button:end:increment,
iframe::-webkit-scrollbar-button:start:decrement,
iframe::-webkit-scrollbar-button:end:increment {
  height: 8px;
  width:8px;
  display: block;
}

div::-webkit-scrollbar-track-piece:vertical:start {
	margin-top:-8px;
}

div::-webkit-scrollbar-track-piece:vertical:end {
	margin-bottom:-8px;
}

div::-webkit-scrollbar-track-piece:horizontal:start {
	margin-left:-8px;
}

div::-webkit-scrollbar-track-piece:horizontal:end {
	margin-right:-8px;	
}

/* // TEST
#narrow-wrap {
	overflow:auto;
	height:300px;
}
*/

/* varnish 
----------------------------------------------------------------------*/

.ineffable {
	position: absolute;
	left: -1000px;
	overflow: hidden;
	height: 1px;
	width: 1px;
}

.gone { display: none; }

legend.ineffable, table.ineffable { display: none; }

iframe { margin: 0 auto; }

/* default overridding styles */

.nobackground { background: none; }

.float_right {
	float:right;
	margin-left:8px;
}

.float_left {
	float:left;
	margin-right: 8px;
}



/*~  3. Layout
----------------------------------------------------------------------*/





#wrap {
	margin: 0 auto;
	border-top: 1px solid #252525;
	position: relative;
	width: 980px;
}


#wrap {
	border:0;
	width:980px;
	margin:0 auto;
	position:relative;
}

#features-wrap {
	float:left;
	width:480px;
}

	.features-group {
		padding:0;
		border-top:2px solid #000;
		clear:both;
	}
	.features-group section {
		border-top:1px solid #000;
	}
	section.first {
		border-top:0;
	}

	.col-a {
		float:left;
		width:120px;
		padding:0 15px 0 0;
	}

	.col-b {
		float:left;
		width:345px;
	}

#narrow-wrap {
	float:right;
	width:150px;
	padding-right:10px;
	padding-left:10px;
}
	#narrow-wrap .first {
		padding-top:0;
	}

#top-features {
	position:relative;
	overflow:hidden;
	width:480px; /* IE */
	border-top:0;
}

#top-features .col-a {
	position:absolute;
	left:0;
	top:0;
	padding:0;
}

#top-features .col-b {
	padding-left:135px;
}





/* TABS
----------------------------------------------------------------------*/
.modtabs .head {margin-bottom: 10px;}
.tabs {padding-left:0;margin-bottom: 12px;-webkit-text-size-adjust: none;}
.tabs li {background: #f5f5f5;border: 1px solid #c1c1c1;padding: 5px 7px;font: bold 1.1em Arial, sans-serif;float: left;margin-right: 7px;position:relative;}
.tabs li.ui-tabs-selected {background:#fff;border-bottom:1px solid #fff;z-index:105 !important;}
.tabs li.ui-tabs-selected a {color: #000;}
.tabs li.ui-tabs-selected a:hover {text-decoration: none;cursor: default;}
.module .ui-tabs-hide { display: none; } /*important - do not move this - */

.ui-tabs-hide {display: none;}

/* module tabs */

.module.modtabs header h3 {
	text-align:center;
}

.module.modtabs .content {
	border-radius:0 0 5px 5px;
		-webkit-border-radius:0 0 5px 5px;
		-moz-border-radius:0 0 5px 5px;
	border-top:1px solid #ccc;
	margin-top:0;
	margin-bottom:0;
	padding:9px 9px 9px 10px;
}

.module.modtabs .tabs {
	margin-bottom:0;
}



.module.modtabs .tabs li {
	border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	border:1px solid #ccc;
	background:#eaeae7;
	margin:0 -7px -1px 0;
	position:relative;
	padding:0;
}
	.module.modtabs .tabs li a {
		padding:8px 13px 6px 17px;
		display:block;
		float:left;
	}

.module.modtabs .tabs li.ui-tabs-selected {
	background:#f9f9f7;
	border-bottom:0 none;
	margin-bottom:-1px;
	margin-top:-2px;	
	margin-left:4px;
}
	.module.modtabs .tabs li.ui-tabs-selected a {
		padding-bottom:7px;
		padding-top:10px;
	}

.module.modtabs .tabs li.first a,
.module.modtabs .tabs li.ui-tabs-selected a  {
	padding-left:13px;
}

.module.modtabs .tabs li.first {
	margin-left:11px;
}

.module.modtabs .tabs li a {
/*	color:#7f7f7f;*/
}

.module.modtabs .tabs li.ui-tabs-selected a {
	color:#000;
}

.module.modtabs ul {
	margin:6px 0;
}

.module.modtabs .content li {
	border-bottom:1px dotted #d4d3ce;
	font-family:Arial,sans-serif;
	font-weight:bold;
	font-size:1.2em;
	line-height:1.25em; /* 15px */
	padding:8px 1px 7px 15px;
	position:relative;
	color:#090909;
	background:none;
	display:block;
}

.module.modtabs .content li.first {
	font-size:1em;
	text-transform: uppercase;
	padding:10px 1px 4px 15px;
}

.module.modtabs .content li.last {
	border-bottom:0;
	padding-bottom:1px;
}

.module.modtabs .content li .num {
	position:absolute;
	width:13px;
	left:1px;
	top:12px;
	line-height:.833em; /*10px*/
	font-weight:bold;
	font-family:"Arial Black",Arial,sans-serif;
	font-size:0.9em;
}

.module .tout,
.module .tout:hover {
	font-size:1em;
	text-decoration:none;
}

.module .tout .article_comment_count {
	color:#1F638A;
	font-weight:bold;
}



/* MOST POPULAR */
.most-popular header h3 {
	text-align:center;
	height:16px;
	margin:6px 0 3px;
	
}

.most-popular a span {
	font-size:12px !important;
	display:inline !important;
}

.modtabs.most-popular .content {
	padding-top:3px;
}

.most-popular .content ul {
	margin-top:0;
}

.module .content li .tout{background:url("/gfx/sect/home/chat-bubble.gif") no-repeat 50% 50%;font-size:10px;margin:-2px -4px -4px -4px;padding:2px 4px 4px;text-align:center}
.module .content li .tout strong {font-weight:bold;color:#868686;font-size:1.1em}

.module .more {
	display:block;
	margin:8px 0 0;
	padding:8px 10px 7px;
	font-size:1em;
	display:block;
	color:#1f638a;
	text-align:center;
	border:1px solid #E4E4E4;
	border-radius:.3em;
		-moz-border-radius:.3em;
		-webkit-border-radius:.3em;

	background:#ebebeb url(/gfx/articlepx/more-bg-sm.png) repeat-x 0 0;
	font-weight:bold;		
	text-transform:uppercase;
}

.module .more:hover {
	border-color:#ccc;
	text-decoration:none;
}

.module .more:active {
	background-color:#ebebeb;
}


/* TOP STORIES */
.top-stories header {
	margin-bottom:0;
	padding:0;
}


.top-stories header h3 {
	height:16px;
	margin:5px 0 6px;
}

.top-stories .content {
	margin-top:0;
	padding-top:6px;
	float:left;
}

.top-stories .content a {
	padding:4px 0 3px;
	display:block;
	float:left;
	width:217px;
}

.top-stories .image {
	float:left;
	width:42px; /* for 40x37 image, including 1px border */
	height:39px;
	padding:0 7px 0 0;
	margin:0;
}

.top-stories .image a {
	display:block;
	padding-top:0;
	position:relative;
	width:100%;
}

.top-stories .image u {
	display:block;
	border:1px solid #ededeb;

	border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		
	position:absolute;
	left:0;
	top:0;
	width:40px;  /* for 40x37 image w/ 1px border */
	height:37px;
	
	z-index:50;
	
}

.top-stories .image img {
	border:1px solid #f9f9f7;
}

.top-stories .content li {
	padding:4px 0;
	width:100%;
	float:left;
	clear:both;
	min-height:39px;  /* for 40x37 image w/ 1px border */
	background:none;
	font-size:1.2em;
	line-height:1.25em;
}

	.top-stories .content li.last,
	.top-stories .content li:last-child {
		border-bottom:0;
		padding-bottom:0;
	}

	.top-stories .content li.last .image,
	.top-stories .content li:last-child .image {
		padding-bottom:1px;
	}

/* COMMENT TOUTS */
.info {
	line-height:1em;
}

.tout {
	font-size:.8333em; /* reset from 12px to 10px */
}

.tout,
.tout:hover {
	text-decoration:none;
}

.article_comment_count,
.info i {
	background:url("http://cache.nymag.com/gfx/sect/home/chat-bubble.gif") no-repeat 50% 50%;
	font-size:1em;
	line-height:1em;
	font-style:normal;
	font-weight:normal;
	font-family:Arial,sans-serif;
	margin-right:1px;
	padding:2px 5px 4px;
	text-align:center;
	color:#000;
	display: none;
	position:relative;
}
#most-commented .article_comment_count,
strong.article_comment_count {
	display:inline !important;
}

.module .info,
.module .info i {
	background-color:#F9F9F7;
}

.module .info i {
	font-family:Arial,sans-serif;
	color:#868686;
	font-weight:bold;
	font-size:91.6%;
	margin-left:-4px;
}

/* RELATED STORIES */
.related-stories-wrapper {
	width: 286px;
	margin-left: -5px;
}

.related-stories-wrapper .module {
	background: none;
	border: none;
}

.related-stories {
	margin-bottom:0 !important;
}

.related-stories,
.related-stories .content {
	padding-left:0;
	padding-right:0;
	background:transparent;
	margin-bottom:0;
	text-align:left;
	border:0;
	width:300px;
	float:left;
}

.related-stories .content {
	margin-top:0;
	padding-top:0;
}

section.related-stories header {
	padding:15px 0 9px;
	margin:0;
	width:300px;
	float:left;
}

section.related-stories header h3 {
	text-align:left;
	width:100%;
	margin:0;
}

.related-stories .row {
	background:transparent url(/gfx/articlepx/verticaldots-back.png)  repeat-y 49.5% 0;
	float:left;
	width:100%;
	padding:4px 0 18px;
	clear:both;
}

.related-stories .row.last {
	padding-bottom:5px;
}

.related-stories article {
	float:left;
	width:134px;
	padding:0 31px 0 0;
	clear:none;
}

.related-stories article.even {
	padding-right:0;
}

.related-stories a {
	font-size:1.1em;
	line-height:127.27%;
	display:block;
	padding:0 0 0 1px;
}


.related-stories cite {
	display:block;
}

.related-stories cite,
.related-stories cite a {
	font-style:normal;
	color:#d0301b !important;
	text-transform:none;
}

.related-stories .image {
	margin:0;
	position:relative;
	padding:0;
	font-size:inherit;
	line-height:inherit;
	background:transparent url(/gfx/articlepx/sprite-thumbs.png)  no-repeat 50% 0;
}

.related-stories .image i {
	display:block;
	position:absolute;
	bottom:15px;
	left:7px;
	background:#e9e8e2;
	font-style:normal;
	color:#5a5a5a;
	padding:3px 4px 0 0;
	width:50px;
	height:10px;
	z-index:5;
	font-size:10px;
	line-height:10px;
}

.related-stories .image a {
	display:block;
	padding:6px 7px 15px;
	font-size:1em;
	line-height:1em;
	position:relative;
	width:120px;
	height:85px;
}

.related-stories .related-intel .image a {
	background:transparent url(/gfx/articlepx/sprite-related.png) no-repeat 50% 6px;
}

.related-stories .related-cut .image a {
	background:transparent url(/gfx/articlepx/sprite-related.png) no-repeat 50% -194px;
}

.related-stories .related-vulture .image a {
	background:transparent url(/gfx/articlepx/sprite-related.png) no-repeat 50% -394px;
}

.related-stories .related-grubstreet .image a {
	background:transparent url(/gfx/articlepx/sprite-related.png) no-repeat 50% -594px;
}

.related-intel cite a,
.related-cut cite a,
.related-vulture cite a,
.related-grubstreet cite a { color:#ec2f00 !important; }

.entry section.related-stories .related-intel .image a {
	background-position:50% -797px;
}

.entry section.related-stories .related-cut .image a {
	background-position:50% -997px;
}

.entry section.related-stories .related-vulture .image a {
	background-position:50% -1197px;
}

.entry section.related-stories .related-grubstreet .image a {
	background-position:50% -1397px;
}

/* HORIZONTAL RELATED STORIES */

.entry section.related-stories {
	width:505px;
	padding-left:59px;
	padding-top:27px;
}

.entry section.related-stories header {
	padding-bottom:11px;
}

.entry section.related-stories h3 {
	text-align:left !important;
}


.entry section.related-stories .row {
	width:auto;
	clear:none;
	background-image:url("/gfx/articlepx/verticaldots2-back.png");
	background-position:118px 0;
	padding-top:2px;
}

.entry section.related-stories .row article.even,
.entry section.related-stories .row article.odd {
	padding-right:25px;
}

.entry section.related-stories .row.last article.even {
	padding-right:0;
}

.entry section.related-stories article {
	width:106px;
}

.entry section.related-stories .image {
	background-image:url(/gfx/articlepx/sprite-thumbs.png);
	background-position:50% -200px;	
}

.entry section.related-stories .image a {

	padding:3px 4px 10px;
	width:98px;
	height:72px;
}

.entry section.related-stories .image i {
	left:4px;
	bottom:10px;
}

.entry section.related-stories .content {
	width:auto;
}

/* FOOTER */

#footer {
	padding:0 0 50px;
}

#footer section {
	border:1px solid #ebeae7;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;	
	padding:9px 9px 17px;
	margin:0;
}

#footer section.general-promo {
	border:0;
	border-radius:0;
}

#footer header {
	width:115px;
	background:#fff;
	margin:0 auto 0;
	top:-14px;
	position:relative;
	z-index:5;
	text-align:center;
	border:0;
	padding:0;
}

#footer header h4 a {
	display:block;
	text-indent:-9999em;
	overflow:hidden;
	
	width:115px;
	height:10px;
	background:transparent url(/gfx/articlepx/head-foot.png) no-repeat 50% 0;
}

#footer .item {
	float:left;
	width:155px;
	padding:11px 5px 7px 5px;
}

	#footer .item.last {
		width:115px;
	}


#footer .item li,
#footer .item h5,
#footer .item h6 {
	font-size:1.1em;
	line-height:1em;
	color:#252525;
	padding:0 0 9px 0;
	font-family:Arial,sans-serif;
}

#footer .item h5,
#footer .item h6,
#footer .item h5 a,
#footer .item h6 a {
	text-transform:uppercase;
	color:#252525;
}

#footer .item h6 {
	font-weight:normal;
}


#footer .item a {
	color:#11aad7;
}

#footer .main-item li a {
	font-weight:bold;
	color:#252525;
	background:transparent url(/gfx/articlepx/dots-link.png) repeat-x 0 100%;
}

#footer .main-item li a:hover {
	color:#11aad7;
	text-decoration:none;
}

.also-wrap {
	width:100%;
	padding:8px 0 0;
	clear:both;
}

.also-wrap h5 {
	float:left;
	width:140px;
	height:59px;
	border-right:1px solid #f4f4f0;
	
	background:transparent url(/gfx/articlepx/head-foot.png) no-repeat 50% -84px;
		text-indent:-9999em;
		overflow:hidden;
}

#footer .also-wrap .item {
	width:413px;
	height:54px;
	padding:5px 0 0;
	text-align:center;
	border-right:1px solid #f4f4f0;
}

#footer .also-wrap .item.last {
	width:402px;
	border-right:0;
}

#footer .also-wrap h6 {
	padding-bottom:5px;
	height:13px;
}

#footer .general-promo {
	text-align:center;
	padding-top:22px;
	padding-bottom:0;
	color:#555555;
}

#footer .general-promo ul {
	padding-bottom:8px;
}

#footer .general-promo p {
	font-size:1.1em;
	line-height:1em;
	font-family:Arial,sans-serif;
	padding:0;
}

#footer .general-promo li {
	font-size:1.1em;
	line-height:1em;
	font-family:Arial,sans-serif;
	list-style:none;margin:0;padding:0; display:inline;
	border-right:1px solid #d2d2d2;
	padding:0 7px;
	margin-right:-3px;
}

	#footer .general-promo li.last {
		border-right:0;
	}
	
	#footer .general-promo li.ad-choices a {
		padding-right:13px;
		background: url(http://images.nymag.com/images/2/ads/adchoices/AdChoices.png) 100% 1px no-repeat;
	}

#footer .nym-head,
#footer .gs-head,
#footer .and-head,
#footer .mp-head,
#footer .vulture-head {
	display:block;
	width:75px;
	height:13px;
	margin:0;
	float:left;
	background:transparent url(/gfx/articlepx/head-foot.png) no-repeat 50% -200px;
		text-indent:-9999em;
		overflow:hidden;
	color:transparent;
}

#footer .nym-head {
	margin-left:169px;
}

#footer .vulture-head {
	margin-left:181px;
	width:48px;
	background-position:-66px -500px;
}

#footer .gs-head {
	margin-left:161px;
	width:82px;
	background-position:0 -300px;
}

#footer .and-head {
	width:10px;
	background-position:-85px -300px;
	margin-left:3px;
	margin-right:4px;
}

#footer .mp-head {
	width:81px;
	background-position:-99px -300px;
}

#footer .also-wrap .item p {
	font-size:1.1em;
	line-height:1em;
	font-family:Georgia,serif;
	color:#111;
	font-style:italic;
	padding:0 0 8px;
	clear:both;
}

#footer .also-wrap .links {
	color:#9c9c9c;
	font-family:Georgia,serif;
	font-size:1.1em;
}

#footer .also-wrap .links a {
	color:#1f638a;
}

/* GLOBAL FOOTER */

#globalFooter {
    border-color: #D2D2D2;
    border-style: solid;
    border-width: 1px 0;
    clear: both;
    margin-bottom: 20px;
    margin-top: 1px;
    padding: 8px 0;
    text-align: center;
}

#globalFooter .subscription {
    display: block;
    margin-bottom: 8px;
}

#globalFooter p {
    font-size: 1.1em;
    margin: 0 0 4px;
    padding: 0;
}

#globalFooter ul, #globalFooter li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#globalFooter li {
    border-left: 1px solid #222222;
    display: inline;
    font-size: 1.1em;
    padding: 0 0.35em 0 0.725em;
}

#globalFooter li.first {
    border-left: 1px solid #FFFFFF;
}





/*~  3. LOGIN / REGISTER
----------------------------------------------------------------------*/

#fb-forgot-litebx .status-wrp {left:355px;top:40px;width:50px;}
.fb-forgot {padding-left:67px;}
.fb-forgot input.submit {width:134px !important;max-width:134px !important;}
.fb-forgot .forgot-thanks input.submit {width:155px !important;max-width:155px !important;margin-bottom:21px;}


.fb_login a.login-lightbox {
    background: url("/gfx/nav/fbLogin.png") no-repeat scroll 0 0 transparent !important;
    display: block;
    height: 18px;
    text-indent: -999em;
    width: 66px;
}

.jqmOverlay { background-color: #373737; display: none; z-index: 5999 !important; }

#popup-lightbox { display:none; position:absolute; color:#000; overflow:hidden; z-index: 9999; border: 8px solid rgba(0,0,0,0.4); width: 577px; background: rgba(0,0,0,0.4); min-height:0; font-family:Arial,Helvetica,Verdana,Geneva,sans-serif; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -moz-background-clip:padding; -webkit-background-clip:padding; background-clip: padding-box; overflow:visible; line-height:1.3em; }
#popup-lightbox .litebx-content { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background:#fff; height:100%; position:relative; }
#popup-lightbox .head { padding:0; height:auto; margin:20px 30px; position:static;  }
#popup-lightbox .head:after { content:".";display:block;height:0;clear:both;visibility:hidden; }
#popup-lightbox .head h1, #utilities #popup-lightbox .head h1 { color:#111; font-size:24px; height:auto; overflow:visible; letter-spacing: -0.015em; text-align:left; }
#utilities #popup-lightbox .head h1 { padding:0 0 15px 26px; border-bottom:1px solid #dddddd; line-height:1em; width:auto; }
#popup-lightbox .head h5 { background:url(/gfx/sect/registration/login-close-btn.png) 0 0 no-repeat; width:33px; height:33px; border:0; right:-18px; top:-18px; cursor: pointer; margin:0; position: absolute; text-indent: -9999em; }
#popup-lightbox .lightbox-utilities { background:#242424; text-align:center; padding:12px 0; border-top-left-radius:3px; border-top-right-radius:3px; -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; }
#popup-lightbox .lightbox-utilities ul { margin:0 auto; padding:0; width:258px; }
#popup-lightbox .lightbox-utilities ul:after { content:".";display:block;height:0;clear:both;visibility:hidden; }
#popup-lightbox .lightbox-utilities li { margin:0; padding:1px 13px 0; display:inline-block; border-right:1px solid #525252; float:left; height:13px;  }
#popup-lightbox .lightbox-utilities li.first { padding-left:0; }
#popup-lightbox .lightbox-utilities li.last { border:0; padding-right:0; }
#popup-lightbox .lightbox-utilities li a { background:url(/gfx/sect/registration/login-utilities-nav.png) 0 0 no-repeat; text-indent:-9999em; display:block; outline:none; }
#popup-lightbox .lightbox-utilities li a.nymag { background-position:0 -1px; width:74px; height:14px; }
#popup-lightbox .lightbox-utilities li a.vulture { background-position:-101px 0; width:47px; height:11px; }
#popup-lightbox .lightbox-utilities li a.grubstreet { background-position:-176px -1px; width:82px; height:11px; }
#login-litebx .form-wrp { padding:0 30px 30px 57px; position:relative; }
#popup-lightbox input.submit { width:auto; max-width:250px; padding:4px 6px 6px; height:30px; }
#popup-lightbox .form-footer a { text-decoration:none; font-weight:bold; }
#popup-lightbox .form-footer a span { color:#111; font-weight:normal; }
#popup-lightbox a { text-decoration:none; color: #1F638A !important; font-weight:bold; }
#popup-lightbox a:hover { text-decoration: underline; }
#popup-lightbox .login-reg .submit-btn { padding: 12px 0 0 !important; }

.login-reg h2 { font-size: 15px; font-weight: bold; margin: 0; padding: 0 0 6px; }
.login-form .form-wrp-left { width:242px; padding-bottom:5px; border-right: 1px solid #E2E3E3; float: left; margin-right: 21px; padding-top: 5px; }
.login-form .form-wrp-right { float: left; padding: 5px 0 0; width: 208px; }
.login-form form { clear:both; }
.login-reg .input-txt .input-wrp { width:204px; clear:both; border-color:#BBBBBB #E0E0E0 #E0E0E0 #BBBBBB; border-style: solid; border-width: 1px; padding:5px 6px; }
.login-reg .input-txt .input-wrp input { width:204px; border-width: 0; color:#000; padding:0; }
.login-reg p { color: #7D7D7D; font-family: Verdana,sans-serif; font-size: 10px; line-height: 14px; margin: 0; padding: 0 0 12px !important; }
.login-reg p.terms { position:absolute;bottom:23px;width:200px; }
.login-reg p.terms a { font-weight:normal !important;  }
.login-reg p.note { color: #7D7D7D; font-style: italic; }
.login-reg label { color: #5D5D5F; display: block; float: left; font: bold 10px Verdana,sans-serif; margin: 9px 9px 4px 0; text-align: left; }
.login-reg label input { margin-left:0; left:-1px; position:relative; }
.login-reg label span { font-weight:normal; }
.login-form .form-wrp-left h2 { float:left; }
.login-form a.more { font-family: Verdana,sans-serif; font-size: 10px; margin: 22px 0 0; display:block; }
.login-form a.more span { color:#000; }
.login-form a.forgot { border-left: 1px solid #C0C0C0; display: block; float: left; font-family: Verdana,sans-serif; font-size: 10px; line-height: 16px; margin-top: 10px; padding: 0 0 1px 8px; font-weight:normal !important; }
.fbbutton-wrp { padding: 6px 0 12px; }
.fbbutton-wrp a { background:url("/gfx/nav/fbLogin-large.png") no-repeat scroll 0 0 transparent; display:block; height:23px; width:168px; overflow:hidden; text-indent:-10000px; }
#login-litebx.litebx-content #reg-login-form .status-wrp { position:relative; left:0; background:url("/gfx/sect/registration/ico-error.png") no-repeat scroll 0 50% transparent; color:#C56A76; width:195px; font:bold 11px Arial,sans-serif; padding:8px 0 4px 23px; display:none; }

.info-hover { background: url("http://nymag.com/gfx/urr/info-hover.gif") no-repeat scroll 0 0 transparent; cursor: pointer; float:left; height: 12px; margin: 2px 0 0 5px; position: relative; width: 12px; }
.info-hover-box { background: url("http://nymag.com/gfx/urr/urr-info-hover-bg.gif") no-repeat scroll 0 0 transparent; color: #FFFFFF; display: none; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; height: 42px; left: 0; line-height: 14px;  padding: 9px 10px 23px 20px; position: absolute; text-transform: none; top:-25px; left:15px; width: 133px; }
.info-hover.hover .info-hover-box { display:block; }
#remember-wrp label { font-weight:normal; }
.login-reg .submit-btn input.submit { -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }

#popup-lightbox .submit-btn .input-wrp { padding-right: 47px; position: relative; }

.login-reg .submit-btn input.submit { background: url("/gfx/comments/login-btn-bg.gif") repeat-x scroll 0 0 transparent !important; border: 1px solid #DFDFDF; color: #1F638A; cursor: pointer; display: block; font: bold 11px Verdana,sans-serif; overflow: visible; padding: 6px 0; text-transform: uppercase; }
.login-reg .submit-btn input.submit:hover { border-color:#BBB; }

#popup-lightbox .create-account .head { border:0; margin: 20px 30px 15px 40px; }
#popup-lightbox .create-account .head h1 { width:400px; padding:10px 0 0 15px !important; float:left; margin:0; height:34px; line-height:1em; border:0 !important; text-align: left; }
#popup-lightbox .existing .head { margin-bottom: 20px; }
#popup-lightbox .existing .head h1 { width:485px; height:auto; line-height:1.1em !important; }
#popup-lightbox .existing li a { text-decoration:none; }
#popup-lightbox .create-account li a:hover { text-decoration:underline !important; }
#popup-lightbox .create-account .head .fb-pic { float:left; width:50px; height:50px; padding-right:15px; border-right:1px solid #e4e4e4; }
#popup-lightbox .create-account .form-wrp { padding:0 90px; margin:0 30px; }
#popup-lightbox .create-account .login-reg { clear:both; }
#popup-lightbox .create-account .login-reg form { margin-bottom:60px; }
#popup-lightbox .create-account .login-reg li { float:none; }
#popup-lightbox .create-account .login-reg label { float:none; font-weight:normal; font-family:Verdana, Helvetica, sans-serif; font-size:12px; color:#111; }
#popup-lightbox .create-account .login-reg label span { font-weight:bold; }
#popup-lightbox .create-account .login-reg .input-txt .input-wrp { width:320px; }
#popup-lightbox .create-account .login-reg .input-txt .input-wrp input { font-size:19px; width:320px; }
#popup-lightbox .create-account .login-reg .submit-btn { padding:18px 0 0 !important; width:200px; }
#popup-lightbox .existing .login-reg .submit-btn { padding:18px 0 0 !important; width:150px; }
#popup-lightbox .create-account .login-reg #email_address-wrp { margin-bottom:17px; display:none; }
#popup-lightbox .create-account .login-reg #username-wrp-wrp { margin-top:15px; }
#popup-lightbox .create-account .login-reg #nymemployee-wrp-wrp { margin:5px 0 15px; display:none; }
#popup-lightbox .create-account .login-reg #nymemployee-wrp-wrp .input-employee { float:left; display:block; width:166px; }
#popup-lightbox .create-account .login-reg #nymemployee-wrp-wrp .input-employee.first { margin-right:5px; }
#popup-lightbox .create-account .login-reg #nymemployee-wrp-wrp .input-employee label { font-size:11px; }
#popup-lightbox .create-account .login-reg #nymemployee-wrp-wrp .input-employee .input-wrp { width:150px; border-color: #BBBBBB #E0E0E0 #E0E0E0 #BBBBBB; border-style: solid; border-width: 1px; clear: both; padding: 5px 6px; }
#popup-lightbox .create-account .login-reg #nymemployee-wrp-wrp .input-employee .input-wrp input { width:150px; background:url(/gfx/sect/registration/input-bg-employee.png) center 8px no-repeat; border-width: 0; color: #000000; padding: 0; font-size:19px; }
#updates-wrp label { margin:15px 0 0; font-size:11px !important; }
#updates-wrp label span, #terms-wrp label span, #newsletter-wrp label span, #tos-wrp label span, #remember-wrp label span { height: 15px; line-height: 16px; vertical-align: top; font-weight:normal !important; padding-left:5px; }
#remember-wrp label span { line-height:19px; }
#terms-wrp { position:relative; }
#terms-wrp #login_status { width:150px; left:272px !important; background: url("/gfx/sect/registration/ico-error.png") no-repeat scroll 0 5px transparent; clear: both; color: #C74657; display: block; font-size: 11px; font-weight: bold; height: auto; line-height: 1.3em; padding: 8px 0 0 25px; display:none; top:-5px; }
#terms-wrp label { margin:2px 0 0; font-size:11px !important; }
#terms-wrp label a { text-decoration:none; font-weight:bold; }
#popup-lightbox .form-footer { font-family:Arial,Helvetica,sans-serif; font-size:15px; margin:0 30px; padding: 18px 28px 30px; color:#111; border-top:1px solid #ddd; line-height: 1.3em; }  
#popup-lightbox .create-account .login-reg .status-error { padding:0; background:none; }
#popup-lightbox .create-account .login-reg .status-error label { color:#c74657; }
#popup-lightbox .create-account .login-reg .status-error a { text-decoration:none; }
#popup-lightbox .create-account .login-reg .status-error .input-wrp { border:1px solid #ebbac0; }
#popup-lightbox .create-account .login-reg .status-error.status-wrp { display:block; clear:both; position:relative; left:-24px; height:auto; width:350px; padding:0; color:#c74657; font-weight:bold; background:url("/gfx/sect/registration/ico-error.png") no-repeat 1px 7px; padding:8px 0 0 25px; font-size:11px; line-height:1.6em; }
#popup-lightbox .create-account .login-reg .status-error .status-wrp span { color:#161616; }
#popup-lightbox .create-account .login-reg .paren { font-weight:normal; }
#popup-lightbox .create-account .login-reg .status-error .paren { color:#000; font-weight:normal; }
#popup-lightbox .create-account .login-reg #login_status { position:relative;display:block;left:-24px; }
#popup-lightbox .create-account .newsletters .status-error.status-wrp { position: absolute; bottom:0; left:318px; width:150px; line-height:12px; }

/* REGISTRATION FORM */


.reg-form li {padding:0 0 17px!important;margin:0!important;}
.reg-form ul li label,
.reg-form ul li.input-txt label,
.reg-form ul li.input-radio label,
.reg-form ul li.focus label {display:block; float:left;font-size:11px; margin:6px 9px 0 0; text-align:right; width:135px; }

.reg-form li.input-radio label {margin-top: 1px;}
.reg-form li.input-radio .input-wrp label {text-align:left;width:auto;}
.reg-form li.input-radio li {display:inline-block!important;margin:0;float:none;}

.reg-form input[type="checkbox"] {margin:0;}

.reg-form .status-wrp { height:14px;position: absolute; left: 505px; width: 230px; padding: 8px 0 4px 23px; font: 11px Arial, sans-serif; font-weight:bold; color: #5b5b5b;}
.reg-form #tos-wrp .status-wrp {left:482px;margin-top:3px;}
.reg-form #gender-wrp {position:relative}
.reg-form #gender-wrp .status-wrp {top:-4px; left:388px; }
.reg-form #captcha_status {top:20px;left:-10px;}
.reg-form .status-error {background: url(/gfx/sect/registration/ico-error.png) no-repeat 0 65%;color:#c56a76;}
.reg-form .status-ok {background: url(/gfx/sect/registration/ico-ok.png) no-repeat 0 50%; text-indent: -999em;}
.reg-form .status-wrp img {margin-left:-25px;}

.reg-form li#remember-wrp,
.reg-form li#remember-wrp label {margin-top:0;font-size:9px;font-weight:normal;color:#444;}
.reg-form li#remember-wrp {padding-top:6px;width:100%;}
.reg-form li#remember-wrp label {margin-top:3px;}
.reg-form li#remember-wrp input {margin-left:0;margin-top:0;vertical-align: middle;}


.reg-form #membername-wrp input {background:#fff url(/gfx/sect/registration/input-bg-username.png) no-repeat scroll 0 2px;}
.reg-form #password-wrp input {background:#fff url(/gfx/sect/registration/input-bg-password.png) no-repeat scroll 0 2px;}
.reg-form #nymfirst-wrp input,
.reg-form #nymlast-wrp input {background:#fff url(/gfx/sect/registration/input-bg-nymemployee.png) no-repeat scroll 0 2px;}

.reg-form #captcha-wrp label {margin-top:73px !important;}
.reg-form ul li.input-checkbox {padding-bottom:5px!important;margin:0;padding-left:145px!important;}
.reg-form ul li.input-radio label {margin-top:0;}
.reg-form li#captcha-wrp {padding-bottom:6px; position:relative;}
.reg-form #captcha-wrp #captcha_id {float:left;text-align:center;width:230px;}
.reg-form #refreshCaptcha {padding-bottom:8px;}
.reg-form #captcha_img {display:block;width:228px;height:39px;border:2px solid #ccc;background:#ccc;}
.reg-form #captcha-wrp #captcha_id p {margin:3px 0 0;clear:both;text-align:right;}
.reg-form ul li.input-checkbox label {display:block;margin:0;padding:10px 0 0;width:400px;text-align:left;font-weight:normal;color:#222;}
.reg-form ul li.submit-btn {margin-bottom:0;padding:15px 0 30px 145px!important;width:135px;}
.reg-form .submit-btn input.submit {width:87px;}
.reg-form #newsletter-wrp, .reg-form #tos-wrp { padding-bottom: 0 !important; }
.reg-form #newsletter-wrp label { padding-top:0; }

.reg-form #password-wrp-wrp,
.reg-form #nymemployee-wrp-wrp,
#popup-lightbox .fb-box #nymemployee-wrp-wrp,
.reg-form #gender-wrp {padding-bottom:0!important;width:100%;}
.reg-form #nymemployee-wrp-wrp {width:402px;}

#popup-lightbox .back {position:absolute;right:35px;font-weight:bold;text-transform:uppercase;top:5px;padding:7px 10px 5px;border-right:1px solid #6ed2ef;line-height:1em;}

#popup-lightbox.reg-box-wrp { width:738px; }
#popup-lightbox.reg-box-wrp .head { padding:0 0 10px; zoom:1; border-bottom: 1px solid #dbdbdb; }
#popup-lightbox.reg-box-wrp h1 { float:left; width:250px; padding:0 0 0 16px !important; border-bottom:0 !important; }
#popup-lightbox.reg-box-wrp .fbbutton-wrp { float:right; position:relative; top:-3px; padding:0; }
#popup-lightbox.reg-box-wrp .fbbutton-wrp .fb-txt { font-size:12px; color:#5671a9; font-weight:bold; margin-right:7px; }
#popup-lightbox.reg-box-wrp .reg-form { height:auto; }
#popup-lightbox.reg-box-wrp .reg-form li { width:380px; }
#popup-lightbox.reg-box-wrp .reg-form li label {  }
#popup-lightbox.reg-box-wrp .reg-form #gender-wrp .input-wrp li { width:67px; padding-left:5px !important; }
#popup-lightbox.reg-box-wrp .reg-form #gender-wrp .input-wrp li label { margin:0; }
#popup-lightbox.reg-box-wrp .reg-form .submit-btn { padding:15px 0 40px 145px !important; margin-bottom: 30px; }
#popup-lightbox.reg-box-wrp .reg-form .submit-btn .input-wrp { width:88px; }
#popup-lightbox.reg-box-wrp .form-wrp { padding:4px 0 0 118px; }
#popup-lightbox.reg-box-wrp .form-wrp .input-txt .input-wrp { width:218px; float:left; clear:none; }
#popup-lightbox.reg-box-wrp .form-wrp .input-txt .input-wrp input { width:218px; }
#popup-lightbox.reg-box-wrp .form-wrp #nymemployee-wrp-wrp {padding:0 !important; display:none; }
#popup-lightbox.reg-box-wrp .form-wrp a { text-decoration:none; }
#login-litebx.litebx-content .status-wrp, div#popup-lightbox #login_status { left:382px; padding-top: 8px; position: absolute; }
#popup-lightbox.reg-box-wrp .reg-form .status-wrp { width:135px; }
#popup-lightbox.reg-box-wrp .reg-form #tos-wrp .status-wrp { left: 617px; margin-top: 3px; }
#popup-lightbox.reg-box-wrp .reg-form #captcha-wrp #captcha_id p { padding-bottom:6px !important; }
#popup-lightbox.reg-box-wrp .reg-form #newletter-wrp label { padding-top:2px; }

#popup-lightbox .logged-in .head h1 { padding:0 0 0 15px !important; max-width:420px !important; }
#popup-lightbox .logged-in .head h3 { font-size:14px; float:left; width:408px; margin:7px 0 0; padding:0 0 0 15px; font-weight:normal; letter-spacing: 0.01px; }
#popup-lightbox .logged-in .head h3 a { text-decoration:none; }
#popup-lightbox .logged-in .form-wrp { padding:0 25px; }
#popup-lightbox .logged-in .login-reg .form-footer { padding: 18px 0 22px; text-align:center; margin:0 30px; width:auto; }
#popup-lightbox .logged-in .login-reg .form-footer a { font-weight:normal; }
#popup-lightbox .logged-in .login-reg .form-footer .closelightbox { font-weight:normal; color:#1F638A; cursor: pointer; padding:2px 2px 0; }
#popup-lightbox .logged-in .login-reg .form-footer h5 { margin:0; padding:0; font-size:14px; }

#popup-lightbox .newsletters p { font-size:14px; line-height:20px; font-family:Arial,Helvetica,sans-serif; color:#111; padding:20px 0 !important; text-align: center; }
#popup-lightbox .newsletters.login-reg .newsletter-option { width:200px; float:left; display:block; clear:none; }
#popup-lightbox .newsletters.login-reg .newsletter-option.first {margin:0 35px 0 7px; }
#popup-lightbox .newsletters.login-reg .newsletter-option img { border:1px solid #cbcbcb; box-shadow:1px 1px 3px #CCCCCC; margin-bottom:10px; }
#popup-lightbox .newsletters.login-reg .submit-btn { text-align: center; width:100%; padding-top:20px !important; display:block; clear: both; }
#popup-lightbox .newsletters.login-reg .submit-btn .input-wrp { padding:0; }
#popup-lightbox .newsletters.login-reg .submit-btn .input-wrp input { display:inline; }
#popup-lightbox .newsletters.login-reg form { margin-bottom:23px; position:relative; }
#popup-lightbox .newsletters.login-reg label { font-size:16px; font-weight:bold; color:#1f638a; font-family:Arial,Helvetica,sans-serif; margin:0 0 2px; width:200px; }
#popup-lightbox .newsletters li { font-size:11px; font-family:Georgia,serif; line-height:15px; }

#popup-lightbox.reg-box-wrp .thank-you .head h1 { width:100%; float:none; text-align:center !important; color:#00bcf4 !important; padding:10px 0 !important; line-height:24px; letter-spacing: 0 !important; }
#popup-lightbox.reg-box-wrp .thank-you h2 { font-size:16px; text-align:center; margin: 7px 0 18px; }
#popup-lightbox.reg-box-wrp .thank-you .newsletters p { padding:5px 0 25px !important; }
#popup-lightbox.reg-box-wrp .thank-you .form-wrp { padding:0 50px; }
#popup-lightbox.reg-box-wrp .thank-you .newsletters.login-reg form { margin-bottom:45px; position:relative; }
#popup-lightbox.reg-box-wrp .thank-you .newsletters.login-reg .newsletter-option, #popup-lightbox.register .thank-you .newsletters.login-reg .newsletter-option.first { margin:0 18px 0 0; }
#popup-lightbox.reg-box-wrp .thank-you .newsletters.login-reg .newsletter-option.last { margin:0; }
#popup-lightbox.reg-box-wrp .thank-you #reg_newsletter_status { color:#C56A76; font-weight:bold; position:absolute; bottom:-27px; left:192px; padding:0 0 0 23px; height:17px; line-height:19px; }
#popup-lightbox.reg-box-wrp .thank-you .status-error { background:transparent url(/gfx/sect/registration/ico-error.png) no-repeat 0 0; }
#popup-lightbox .thank-you .login-reg .form-footer { padding: 15px 28px 20px; text-align:center; }
#popup-lightbox .thank-you .login-reg .form-footer h5 { margin:10px 0; font-weight:normal; color:#1F638A; cursor: pointer; padding:2px 2px 0; font-size:14px; }

#utilities #popup-lightbox .forgot-password .head h1 { padding-bottom:17px !important; border-bottom-color: #e2e3e3; }
#popup-lightbox .forgot-password .form-wrp { padding:25px 0 50px 170px; min-height:185px; }
#popup-lightbox .forgot-password .form-wrp h3 { font-size:16px; margin-bottom:4px; }
#popup-lightbox .forgot-password .form-wrp p { font-size:12px; }
#popup-lightbox .forgot-password .form-wrp .login-btn { background: url("/gfx/comments/login-btn-bg.gif") repeat-x scroll 0 0 transparent !important; border: 1px solid #DFDFDF; color: #1F638A; cursor: pointer; font: bold 11px Verdana,sans-serif; overflow: visible; padding: 6px 6px 7px; text-transform: uppercase; border-radius: 2px 2px 2px 2px; width:130px; display:block; text-align:center; text-decoration:none; margin-top:15px; }
#popup-lightbox .forgot-password .form-wrp a.login-btn:hover { border:1px solid #bbb; }
#popup-lightbox .forgot-password #login_status { left:398px; top:52px; width:100px; }
#popup-lightbox .forgot-password .submit-btn { clear:both; }
#popup-lightbox .forgot-password .form-wrp .more { margin:40px 0 0; display: block; }
#popup-lightbox .forgot-password #membername-wrp { position:relative; }
#popup-lightbox .forgot-password .status-wrp { background:url("/gfx/sect/registration/ico-error.png") no-repeat scroll 0 5px transparent; color:#C56A76; width:135px; position:absolute; left:226px; font:bold 11px Arial,sans-serif; padding:8px 0 4px 23px; display:none; top:28px;  }

#popup-lightbox .welcome-back .form-wrp { min-height: 130px; }
#popup-lightbox .welcome-back .form-wrp h3 { font-weight:normal; font-size:18px; margin:20px 0; line-height:1em; }
#popup-lightbox .welcome-back .form-wrp h3 span { font-size:11px; line-height:1em; }
#popup-lightbox .welcome-back .form-wrp .login-btn { border: 1px solid #DFDFDF; color: #1F638A; cursor: pointer; font: bold 11px Verdana,sans-serif; overflow: visible; padding:0; text-transform: uppercase; border-radius: 2px 2px 2px 2px; -moz-border-radius:2px; -webkit-border-radius:2px; width:130px; display:block; background: url("/gfx/sect/registration/login-fb-account-btn.png") 0 0 no-repeat; text-indent:-9999em; width:216px; height:28px; margin-bottom: 20px; }
#popup-lightbox .welcome-back .form-wrp a.login-btn:hover { border:1px solid #bbb; }
#popup-lightbox .welcome-back .login-diff-account { font-size:10px; font-family:Verdana, sans-serif; font-weight:normal; line-height: 1em; }

#updates-wrp label span, #terms-wrp label span, #newletter-wrp label span, #tos-wrp label span, #remember-wrp label span { font-weight: normal !important; height: 15px; line-height: 19px; padding-left: 5px; vertical-align: top; }

.button {cursor: pointer}
.login-form:after,
.form-wrp:after,
.form-wrp form:after,
.form-wrp ul:after,
.form-wrp ul li:after,
.form-wrp ul li label:after,
li#password-wrp-wrp ul:after,
li#nymemployee-wrp-wrp ul:after,
#popup-lightbox.register .reg-form .submit-btn:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#login-wrp .register-ajax, #popup-lightbox .register-ajax { display: none; position: absolute; right: 0; top: 0; }

#wrap .membership li {padding-left:0;padding-right:0;}

.form-wrp .focus input { background-image:none !important; }

#utilities .fbpic {display:none;position:absolute;top:2px;right:16px;}
#utilities.fb_connected.fb_show .fbpic {display:block;}

#utilities .fb_login {display:none;}
#utilities.fb_notconnected .fb_login {display:block;}

#wrap .membership .fbpic img,
#wrap .membership .fbpic * {width:14px;height:14px;}
#wrap .membership .fb_login {padding-top:0;padding-bottom:0;padding-left:7px;padding-right:7px;}
#wrap .membership #logged_out_bar .fb_login {height:22px;}
#wrap .membership .fb_login a {font-size:11px;margin:1px 0 3px;}
#wrap .membership li.fb_login a {display:inline-block;padding:0 0 0 1px;}
#wrap .membership li a.FB_Link {display:inline;padding:0;}
/*#wrap .membership li cite {font-weight:bold;}*/

#wrap .membership li a#nav-mynewyork {
	border-left:1px solid #666565;
	border-right:1px solid #666565;
	margin-top:2px;
	position:relative;
	display:block;
	height:18px;
	padding:0;
	padding-right: 8px;
	background-image:url(/gfx/nav/global-fff.png);
	background-repeat:no-repeat;
	background-position: 100% 55%;
	text-transform: none;
}

#wrap .membership li.hover a#nav-mynewyork 
#wrap .membership li:hover a#nav-mynewyork {
	background-image:url(/gfx/nav/global-fff-on.png);
}

#wrap .membership li span#mynewyork-wrp {
	border-top:1px solid #666565;
	border-bottom:1px solid #666565;
	display:block;
	position:relative;
	height:14px;
	padding: 6px 8px;
	top:-1px;
}

#utilities.fb_connected.fb_show .membership li span#mynewyork-wrp {padding-right:36px;}
#wrap #utilities.fb_notconnected .membership li span#mynewyork-wrp {padding:2px 16px 2px 7px;}

#utilities.fb_connected .first #sub_nav_mynewyork {position:relative;top:-1px;right:-1px;}
#utilities.fb_connected .first,
#utilities #logged_in_bar .first {background:transparent !important;padding-right:0;margin-right:7px;position:relative;z-index:100;}
#utilities.fb_connected #logged_out_bar .first {margin-right:0;}
#utilities.fb_connected .logout {background-image:url(/gfx/nav/bar-383838.png);}

.FBConnectButton_Large .FBConnectButton_Text {line-height:16px;-webkit-text-size-adjust: none;}
.FBConnectButton_Medium .FBConnectButton_Text {line-height:14px;-webkit-text-size-adjust: none;}
.FBConnectButton_Small .FBConnectButton_Text {line-height:10px;-webkit-text-size-adjust: none;}

ul.status-error .input-checkbox label { color:#000 !important; }
ul.status-error .submit-btn .input-wrp { border:0 !important; }


#logged_in_bar li {
	display: block !important;
}
#wrap .membership li span#mynewyork-wrp,
#wrap .membership li a#nav-mynewyork {
	border: 0;
}

#sub_nav_mynewyork {
	background: black;
	z-index: 999999999999999999999;
	padding-right: 10px;
	position: relative;
}
#sub_nav_mynewyork ul {
	margin: 0;
	background: #FFF;
	border: 0 none;
	-moz-box-shadow: 0 -5px 5px rgba(85, 85, 85, .5);
	-webkit-box-shadow: 0 -5px 5px rgba(85, 85, 85, .5);
	box-shadow: 0 1px 5px rgba(85, 85, 85, .5);
	padding: 7px 0;
	position: absolute;
	top: 0;
	z-index: 7777777;
	border: 1px solid #000;
	width: 100px;
	border-top: 0;
	left: -1px;
}
#sub_nav_mynewyork li a {
	padding: 6px 3px 5px;
	border-top: 1px solid #e5e5e5;
	text-transform: none;
	color: #3e3e3e;
	font-size: 11px;
	margin: 0 6px;
}

.login-social-wrap {
	display: block;
}


/* ADS 
----------------------------------------------------------------------*/

#ad-1x1-1 {display:none;}
#ad-1x1-1 a { display:none; }
#ad-pixel { display:none; }


.ad-728x90 { min-height:90px; padding:0 125px; }
.ad-300x250,
.ad-300x600,
.ad-300-flex { width: 300px; margin: 0 auto; min-height:250px; }
.ad-300x600 .content { min-height:600px; }
.ad-260x60 .content { width:260px;margin: 0 auto; min-height:60px; }

.adContainer .content {text-align:center;line-height:1em;}
.adContainer table,
.adContainer object,
.adContainer embed,
.adContainer img,
.adContainer div {margin:0 auto !important;}

.ad-728x90 .content {
	width:728px;
}

#pushdown > div > * {margin:auto!important;text-align:center;}

.adContainer img {
	border: none;
	display:block;
}

.adContainer h5 {
	    background: url("/gfx/bg/advertisement.gif") no-repeat scroll 50% 0 transparent;
	    height: 11px;
	    margin: 0;
	    padding: 0;
	    text-indent: -1000em;
}


/* Advertising Popover
----------------------------------------------------------------------*/
.lbPop { position:absolute;background:#fff url(/gfx/ico/loading.gif) center center no-repeat;
    -moz-box-shadow:1px 1px 5px #595959;
    -webkit-box-shadow: 1px 1px 5px #595959;
    box-shadow: 1x 1px 5px #595959;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px; 
}
.lbPop a.gen-close {position:absolute;top:-17px;right:-17px;text-indent:-9999px;display:block;background:url(/gfx/ico/lb-close-circle.png) 0 0 no-repeat;height:33px;width:33px;z-index:9999999999;}


/* Advertising Overlay
----------------------------------------------------------------------*/
.lbOverlay { width:100%; text-align:center; height:100%; display:block; position:fixed; top:0; left:0; z-index:9999; background:#f7f7f7; }
.lbOverlay { _position:absolute;_height:1500px;}
.lbOverlay.dark { background:#2b2b2b; }
.lbOverlay .hp-overlay-container { width:980px; margin:0 auto; }
.lbOverlay .head { height:113px; background:url(/gfx/sect/ads/hp-overlay-white.gif) bottom center no-repeat; position:relative; }
.lbOverlay.dark .head { background:url(/gfx/sect/ads/hp-overlay-dark.gif) bottom center no-repeat; }
.lbOverlay .head h1 { margin:0; }
.lbOverlay .head p { margin:0; position:absolute; left:12px; top:50%; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#868686; line-height:17px; }
.lbOverlay .head a.skip { position:absolute; right:18px; top:50%; font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#adadad; line-height:17px; text-decoration:none; }
.lbOverlay .ad-container { padding:113px 0 0; margin:0 auto; text-align:center; background: url(/gfx/ico/loading-f7f7f7.gif) no-repeat center center; }
.lbOverlay.dark .ad-container { background:#2b2b2b url(/gfx/ico/loading-dark.gif) center center no-repeat; }
.lbOverlay .ad-container img { border:0; }

/*-- ad-intercept-overlay ----------------*/
#ad-intercept-overlay {
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
	z-index: 99991;
	font-family: "Helvetica Neue", Helvetica, Arial, Roboto, droid sans, sans serif;
}

#ad-intercept-wrap{
	display:block;
    position:fixed; 
	left:50%; 
	top: 50%;
	z-index: 99992;
}

#ad-intercept-overlay .gen-close {
	position: absolute;
	top: -34px;
	right: 0px;
	z-index: 99993;
	font-size: 2rem;
	cursor: pointer;
}

/* hide most commented tab on sports */

body.sports #most-popular .tab-commented {
	display:none !important;
} 


/* Remove Firefox red outline on input */
input:invalid {
    box-shadow: none;
}

.button {cursor: pointer}
.login-form:after,
.form-wrp:after,
.form-wrp form:after,
.form-wrp ul:after,
.form-wrp ul li:after,
.form-wrp ul li label:after,
li#password-wrp-wrp ul:after,
li#nymemployee-wrp-wrp ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

/* hide most commented tab on sports */

body.sports #most-popular .tab-commented {
	display:none !important;
} 

/*-  CQ Error Page CSS
----------------------------------------------------------------------*/

.error-wrap { margin:30px 0 0; }
.error-wrap h2 { font-size:2.7em; padding-bottom:15px; font-family:Georgia,serif; }
.error-wrap p { font-size:1.6em; line-height:21px; padding-bottom:8px; font-family:Georgia,serif; }
.error-wrap ul { margin:0 60px; padding:0; }
.error-wrap li { margin:0; padding:6px 0 0; font-size:1.2em; }
.error-wrap a { font-weight:bold; }


/*-  HIDING MOST COMMENTED WHILE BROKEN
----------------------------------------------------------------------*/
.tab-commented {
	display:none !important;
}

/*-  HIDING SHOW MORE COMMENTS ON THE CUT
----------------------------------------------------------------------*/
.show-more-comments{
  display: none !important;
}

/* RELATED STORIES MODULE, POST OUTBRAIN DIG-2369 */
.relatedStories3 {
	position: relative;
	float: left;
	margin: 8px 35px 15px 32px;
	padding: 0;
	width: 190px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	z-index: 5;
}
.fashion.article .relatedStories3 {
	margin-left: -34px;
}
.relatedStories3 h6 {
	float: left;
	margin: -7px 0 0;
	padding: 0 5px 0 0;
	font: 700 11px/1 Georgia, Times, serif;
	color: #333;
	font-style: italic;
	background: #fff;
}
.relatedStories3 article {
	padding: 11px 0;
	border-bottom: 1px solid #f1f1f1;
}
.relatedStories3 h6 + article {
	padding-top: 17px;
}
.relatedStories3 article:last-child {
	border: none;
}
.relatedStories3 a {
	display: block;
	font: 700 12px/1.2 Arial, sans-serif;
	color: #2881b3;
	text-align: left;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}
.relatedStories3 a:hover {
	text-decoration: underline;
}
.relatedStories3 img {
	float: left;
	margin: 0 10px 0 0;
}
.relatedStories3 img + h7 {
	display: block;
	min-height: 47px;
}
@media only screen and (max-width: 600px) {
	.relatedStories3,
	.fashion.article .relatedStories3 {
		margin: 0 auto 20px;
		width: 100%;
	}
	.relatedStories3 h6 {
		float: initial;
		margin: 14px 0 0;
		font-size: 1.3em;
		color: #747474;
	}
	.relatedStories3 h6 + article {
		padding-top: 15px;
	}
	.relatedStories3 article {
		padding: 10px 0;
		border: none;
	}
	.relatedStories3 article:last-child {
		padding-bottom: 11px;
	}
	.relatedStories3 a {
		font-size: 1.4em;
	}
	.relatedStories3 img {
		display: none;
	}
	.relatedStories3 img + h7 {
		min-height: inherit;
	}
}
/* END RELATED STORIES MODULE */