/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
@font-face {
  font-family: 'fpicons';
  src:url('fonts/fpicons.eot?yg5dv7');
  src:url('fonts/fpicons.eot?#iefixyg5dv7') format('embedded-opentype'),
    url('fonts/fpicons.woff?yg5dv7') format('woff'),
    url('fonts/fpicons.svg?yg5dv7#fpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans/regular/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans/regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans/regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/OpenSans/semibold/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans/semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans/semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans/semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans/semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
b,strong,optgroup{font-weight:700}
pre,textarea{overflow:auto}
button::-moz-focus-inner,input::-moz-focus-inner,legend{border:0;padding:0}
/* end of normalize.css */

/* helpers */
.clearfix:before, .clearfix:after { display: table; content: " "; }
.clearfix:after { clear: both; }

div.row { width: 100%; clear: both; }

.left { float: left; }
.right { float: right; }
/* end of helpers */

html, body { margin:0; padding:0; height:100%; }

body { background: #cbcbcb url(body_bg.gif); }

body, body td, body div, body ul {
  font-family: 'open_sansregular', Helvetica, sans-serif;
  font-size: 12px;
  color: #212121;
  text-rendering: optimizeSpeed;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

body:before {
  display: none;
  // pre-load svg icons for faster display
  content: url('eye_green_on.svg') url('eye_grey_on.svg');
  content: url('action_on.svg') url('action_off.svg');
  content: url('auto.svg');
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px; }
  #wrap .footer-dumb { height: 20px; }

div.header, #footer .panel, div.layout {
  margin-right: auto;
  margin-left: auto;
  max-width: 1150px;
}
/* min-width: 910px; */

#footer {
  position: relative;
  padding: 0 20px;
}

  @media (max-width: 767px) {
    #wrap { padding: 0 8px; }
    #footer { padding: 0 8px; }
  }

  #footer .panel {
    position: relative;
    border-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 2px 8px 2px;
    background: #fff; }

  #footer #payments {
    padding-bottom: 35px;
  }

  #footer #links {
    clear: both;
    background: #212121;
    padding: 10px;
    text-align: center;
    color: #000;
  }

  #footer #links a {
    color: #858585;
    text-decoration: none; }

  #footer #links a:hover {
    color: #fff;
    text-decoration: underline; }
@media (max-width: 767px) {
  #wrap {
    min-height: none;
    height: auto;
    margin-bottom: 0;
    }
    #wrap .footer-dumb { height: 0; }
  #footer { height: auto; }
  #footer .panel {
    height: auto;
    min-height: 90px; }
}


div.header {
  overflow: hidden;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 2px 8px 2px;
  background:
    url(bg-top-left.png) no-repeat,
    url(bg-top-right.png) no-repeat,
    url(bg-top-center.png) repeat-x;
  background-position:
    left bottom, right bottom, center bottom;
  background-size:
    auto 100px, auto 100px, 500px 100px;
  padding: 0px;
  height: 90px;
  margin-bottom: 10px; }

  div.header #descr {
    font-family: 'open_sanssemibold', Helvetica, sans-serif;
    font-size: 14px;
    color: #636363;
    line-height: 20px;
    padding: 3px 39px 0 17px;
    height: 20px;
    overflow: hidden; }

  div.header #languages {
    display: none;
  }

  div.header #logo {
    padding-top: 17px;
    padding-left: 13px; }

  div.header #subscription {
    padding-top: 35px;
    padding-right: 20px; }

  div.header #subscription span#expire {
    color: #fc2118;
    font-size: 15px; }

  div.header #subscription a#login,a#logout,a#join,a#getnews {
    color: #2D7A2D;
    text-decoration: none; }

  div.header .membership {
    color: #636363;
  }

@media (max-width: 936px) {
  div.header {
    background:
      url(bg-top-left.png) no-repeat,
      url(bg-top-center.png) no-repeat;
    background-position:
      left bottom, center bottom;
    background-size:
      auto 100px, 100% 100px; }
}

@media (max-width: 649px) {
  div.header #descr {
    padding-right: 0;
    font-size: 10px;
    font-weight: normal;
  }
  div.header #logo img {
    width: 240px;
    height: auto;
  }
}
@media (max-width: 394px) {
  div.header #subscription { padding-top: 1px; }
}


/*.layout {}*/
.col1 { float: left; width: 225px; }
.col2 {
  margin: 0 225px 10px 225px; /* Отступ справа и слева */

  padding: 0px 10px 0px 10px;
}
.col3 { width: 225px; margin-bottom: 20px; float: right; }
@media (max-width: 767px) {
  .col1 { margin-bottom: 20px; }
  .col2 {
    clear: both;
    margin: 20px 0 0;
    padding: 0px 10px 10px 10px;
  }
  .col3 { margin-bottom: 20px; }
}
@media (max-width: 480px) {
  .col1, .col3 { float: none; }
}


#languages ul {
  margin: 0px 13px 0 0;
  padding: 0px; }

  #languages ul li {
    display: inline-block;
    margin: 0 4px 0 2px;
    padding: 3px 0;
    border-radius: 10px;
    width: 20px;
    background: url(sprite.png) no-repeat left 3px;
    text-indent: -10000px;
    cursor: pointer; }
    /*margin: 0px 5px 0px 5px;*/
    /*padding: 3px 6px 3px 6px;*/

  /*#languages ul li[data-lng="en"] { background-position: left 3px; }*/
  /*#languages ul li:hover {
    background-color: #fff; }*/
  /*#languages ul li.current {
    background-color: #fefee1; }*/
  /**/

#apartments {
  padding-top: 10px;
  padding-left: 10px;
}

#apartments ul, #apartments_small ul, #FSP_panel_left ul {
  margin: 0px;
  padding: 0px;
}

#apartments ul li, #apartments_small ul li {
  display: block;
  margin: 0px 0px 3px 0px;
  padding: 10px 10px 10px 16px;
  /*background: url(arr_gray_small.gif) no-repeat 4px 14px;*/
  border-radius: 10px;
  cursor: pointer; }

#apartments ul li.maintenance, #apartments_small ul li.maintenance {
  color: #7C7C7C;
}


#apartments ul li.action_on, #FSP_panel_left ul li.action_on
{
  background:transparent url('act.svg') no-repeat;
  background-size: 6px 6px;
  background-position: 5px;
}

  #apartments ul li .header, #apartments_small ul li .header  {
    font-family: 'open_sansregular', Helvetica, sans-serif;
  }

  /* #apartments ul li .name {} */

  #apartments ul li:hover { background-color: #fff; }

  #apartments ul li:hover .header, #cameras_small ul li:hover .header { color: #2D7A2D; }

  #apartments ul li.current, #apartments_small ul li.current {
    background: url(arr_green_small.gif) no-repeat 4px 14px;

    background-color: #fefee1; }



  #apartments ul li.current:hover .header, #apartments_small ul li.current:hover .header { color: #000; }


#cameras ul, #cameras_small ul, #FSP .FSP_panel_right ul {
  margin: 0px;
  padding: 0px; }

  #cameras ul li, #cameras_small ul li, #FSP .FSP_panel_right ul li {
    display: block;
    /*background: url(arr_gray_small.gif) no-repeat 4px 10px;*/
    margin-bottom: 2px;
    padding: 3px 0px 5px 17px;
    border-radius: 10px;
    cursor: pointer;
    height:17px;
    line-height:20px;
}

#cameras ul li.action_on, #FSP .FSP_panel_right ul li.action_on
{
    background:transparent url('act.svg') no-repeat;
    background-size: 6px 6px;
    background-position: 5px;
}

    #cameras ul li .header, #cameras_small ul li .header, #FSP .FSP_panel_right ul li .header  {
      font-family: 'open_sansregular', Helvetica, sans-serif;
    }

    #cameras ul li:hover, #FSP ul li:hover { background-color: #fff; }

    #cameras ul li.current,#FSP .FSP_panel_right ul li.current  {
      background:transparent url('arr_green_small.svg') no-repeat;
      background-size: 6px 6px;
      background-position: 5px;
      background-color: #fefee1; }

    #cameras ul li.current:hover, #FSP .FSP_panel_right ul li.current:hover { background-color: #fff; }

    #cameras ul li.public, #cameras_small ul li.public, #FSP .FSP_panel_right ul li.public { color: #212121; }
    #cameras ul li.private, #cameras_small ul li.private, #FSP .FSP_panel_right ul li.private { color: #212121; }


    #cameras ul li.access-public, #cameras_small ul li.access-public, #FSP .FSP_panel_right ul li.access-public { color: #212121; }
    #cameras ul li.access-private, #acmeras_small ul li.access-private, #FSP .FSP_panel_right ul li.access-private { color: #212121; }
    #cameras ul li.access-premium, #cameras_small ul li.access-premium, #FSP .FSP_panel_right ul li.access-premium { color: #212121; }


    #cameras ul li.state-maintenance, #cameras_small ul li.state-maintenance, #FSP .FSP_panel_right ul li.state-maintenance {
      color: #7C7C7C;
    }

i.icon-locked, i.icon-audio, i.icon-unlocked, i.icon-replay {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

i.icon-locked {
  background: url('icon-locked.svg');
  background-position: -2px -1px;
}

i.icon-unlocked {
  background: url('icon-unlocked.svg');
  background-position: 0 -1px;
}

i.icon-audio {
  background: url('icon-audio.svg');
  background-position: 1px 0;
}

i.icon-replay {
  background: url('icon-replay.svg');
  background-position: -1px 0;
  cursor: pointer;
}

#player-inner {
  background: rgba(255,255,255,0.3);
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.select_window {
top:0;
right:0;
position: absolute;
width:100%;
height:84%;
display:none;
z-index:12;
}

.act .select_window {
z-index: auto;
}
.trackModeIndicator {
top:0;
right:0;
position: relative;
width:100%;
height:78%;
display:none;
font-weight: bold;
z-index: 12;
}
.trackModeIndicator.full_screen {
	position:fixed;
	top:0;
	left:0;
	z-index: 96;
}
.trackModeIndicator p {
  position: absolute;
  margin: 0px;
  top: 10px;
  right: 10px;
  background: url('auto.svg');
  width: 45px;
  height: 20px;
  text-indent: -9999px;
  white-space: nowrap;
}
.big_1x
{
margin:0 0 10px 0;
}

.small_2x
{
width:48% !important;
float:left;
margin:0;
padding:0 10px 0 12px;
}

.small_4x
{
width:48% !important;
float:left;
margin:0 !important;
padding:0px 10px 10px 12px !important;
}

.player_class .act
{
  background: rgba(0,255,0,0.3) !important;
}

  #player-inner #descr {
    /*display: none !important;*/
    text-align: center;
    font-size: 15px;
    margin: 0px auto 7px auto;
    text-transform: uppercase;
  }

  #player-inner #legal {
  	 margin-top: 15px;
  	 margin-bottom: 0;
    text-align: center;
    font-size: 10px;
    color: #6a6a6a;
  }

.modal #descr {
  text-align: center;
  font-size: 18px;
  margin: 12px 0 12px;
}

#player-border {
  border: #6a6a6a solid 1px;
  border-radius: 3px;
  padding: 5px;
  background: linear-gradient(to bottom, #fff, #d7d7d7);
  box-shadow: rgba(0, 0, 0, 0.2) 3px 2px 8px 2px;
}

#player-holder {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.black {background-color:#000000;}

.hidden {
  display: none;
}

.modal {
  background: #ccc;
  border: 12px solid #000;

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  box-shadow: 0 0 2px 0 #666;
}

.modal.login {
  width: 330px;
  height: 150px;
  padding: 15px;
}

.modal.denied {
  width: 600px;
  height: 436px;
  padding: 6px;
}

.modal.message {
  width: 400px;
  height: 150px;
  padding: 20px;
}
.modal.premium {
  width: 400px;
  height: 300px;
  padding: 20px;

}
.modal.image {
  position: relative;
  margin: 0;
  border: 0 none;
  width: 100%;
  height: 100%;
  background: none;
  text-align: center;
}
.modal.image img {
  margin-top: 20px;
  border: 4px solid #ccc;
  max-width: 90%;
  max-height: 90%;
  cursor: url(zoom_minus.cur), move;
  cursor: -moz-zoom-out; cursor: -webkit-zoom-out;
}
.cboxPhoto {
  cursor: url(zoom_minus.cur), move;
  cursor: -moz-zoom-out; cursor: -webkit-zoom-out;
}

.modal .close {
  position: absolute;
  top: 2px; right: 8px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

#login-form {
  padding-top: 25px;
  margin: auto;
  width: 296px;
  }
  #login-form .row { margin-bottom: 8px; }
  #login-form .btnhere { margin-bottom: 0; text-align: right; }
  #login-form label {
    display: inline-block;
    margin-right: 10px;
    width: 80px;
    font-weight: bold; }

  #login-form input[type=text],
  #login-form input[type=email],
  #login-form input[type=password] {
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 200px; }

  #login-form input[type=submit] {
    height: 28px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    font-weight: bold; }
  #login-form input[type=submit]:hover {
    background: #aaa;
    color: #fff;
  }

.login .error-box {
  position: absolute;
  top: 140px; left: 78px;
  width: 216px;
  }
  .login .error-box p {
    margin: 0;
    border: 2px solid #f00;
    padding: 8px;
    background: #fff;
    text-align: center
  }

div#join {
  margin: 5px 0;
  text-align: center;
}

div#join a#join-link {
  line-height: 14px;
  font-size: 14px;
  color: #008000;
}
div#join a#join-link:hover { text-decoration: none; }

.modal.standart h3 {
	text-align: center;
}

.denied a[rel="colorbox"] {
  display: block;
  position: relative;
  margin: auto;
  width: 480px;
  cursor: url(zoom_plus.cur), move;
  cursor: -moz-zoom-in; cursor: -webkit-zoom-in;
  }
  .denied-preview {
    margin: 0px auto; display: block;
    width: 480px; height: 300px;
    position: relative; }

  .denied-magnifier {
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 96px; height: 96px;
    background: url(denied_preview_angle.png) no-repeat right top; }
  .denied .login-please, .premium .login-please, .standart .login-please { text-align: center; }
  .denied .login-please a, .premium .login-please a, .standart .login-please a { color: #f00; }
  .denied .login-please a:hover, .premium .login-please a:hover, .standart .login-please a:hover { text-decoration: none; }

div#plan {
  margin-top: 5px;
  height: 165px;
  margin-bottom: 10px;
}
div#plan svg {
	width: 225px;
	height: 200px;
}
div#plan svg .zone {
	cursor: pointer;
}
div#plan .zone .camSel	 {
  visibility:hidden;
}

div#plan .zone.selected .camSel {
}

div#plan .zone.selected .camGround {
}

div#plan .zone.selected .camLogo rect, div#plan .zone.selected .camLogo line {
    fill:#f0ff00;
    stroke:#f0ff00;
}


div#plan .zone.selected .zonePolyline {
	visibility:hidden;
}
div#plan .zoneSelected {
	visibility:hidden;
}
div#plan .zoneSelected.selected {
	visibility:visible;
}

div#plan .zone .zoneSelected {
	visibility:hidden;
}

div#plan .zone.selected .zoneSelected {
	visibility:visible;
}

div#plan .zone.selected .camSel {
}

div#plan .zone .zoneOpen {
	visibility:hidden;
}
div#plan .zone.selected .zoneOpen {
	visibility:hidden;
}
div#plan .zone .camGroundOpen {
	visibility:hidden;
}
div#plan .zone .camGroundMD, div#plan .zone .zoneMD  {
	visibility:hidden;
}


div#faq {
  display: none;
  height: 45px;
  margin-bottom: 5px;
}

div.staticpage {
  padding: 20px;
}

  div.staticpage h1 {
    font-size: 1.5em;
  }

  div.staticpage h2 {
    font-size: 1.2em;
  }

  div.staticpage p {
    text-align: justify;
  }

/*checkbox style */



.message span {
font-size:10px;
}

.message p.button,.denied p.button {
	margin-top:30px;
	background-color:#ab40ab;
	color:#fff;
	padding:12px;
	font-weight:bold;
	cursor:pointer;
	text-align:center;
}

.denied p.button {
	width: 400px;
	margin: 20px auto 10px auto;
	background-color: #009900;
}

.message p.button:hover, .denied p.button:hover {
	box-shadow: 0px 0px 3px 3px gray;
}

.message p.button span {
font-size:12px;
color:#fff;
text-decoration:none;
}
.message p {
}
.message p.bold {
font-weight:bold;
}

.slideThree {
float:left;
width:30px;
height:20px;
	position: relative;

}
.controls input[type=checkbox] {
	visibility: hidden;
}

.slideThree label {
	position: absolute;
left:0;
width:30px;
height:20px;
cursor:pointer;
background: url('action_off.svg') no-repeat;
}

.slideThree input[type=checkbox]:checked + label {
background: url('action_on.svg') no-repeat;
}





.controls {
margin: 0 235px 10px 235px;
background: rgba(255,255,255,0.5);
padding: 5px;
border-radius: 10px;
text-align:center;
min-width: 50px;
}

.controls .icon {

/* Safari hover thin font fix */
-webkit-transform: translateZ(0);
-webkit-font-smoothing: subpixel-antialiased;

width: 30px;
height: 20px;
display: inline-block;
margin: 5px;
background-color: gray;
line-height: 22px;
vertical-align: bottom;
}

.controls .icon:hover {
  cursor: pointer;
	/*box-shadow: 0px 0px 1px 1px gray;*/
  filter: drop-shadow( 0 0 1px #888 );
  -webkit-filter: drop-shadow( 0 0 1px #888 );
}

/* RLC-Remote button */

.controls .rlc-remote {
  width: 60px;
  height: 20px;
  background: url('rlc-remote.svg') no-repeat;
  background-size: contain;
  -webkit-backface-visibility: initial !important;
  -webkit-transform-origin: 50% 50%;
}

/* RLC-Replay button */

.controls .rlc-replay {
  width: 58px;
  height: 20px;
  background: url('rlc-replay.svg') no-repeat;
  background-size: contain;
  -webkit-backface-visibility: initial !important;
  -webkit-transform-origin: 50% 50%;
}

.controls .set_mode:hover {
cursor:pointer;
}



.controls .els .control_mode_0 {
background: url('single_mode.svg') no-repeat;
background-clip: content-box;
}
.controls .els .control_mode_1 {
background: url('single_wide_mode.svg') no-repeat;
background-clip: content-box;
}
.controls .els .control_mode_2 {
background: url('2_view_mode_v.svg') no-repeat;
background-clip: content-box;
}
.controls .els .control_mode_3 {
background: url('2_view_mode_h.svg') no-repeat;
background-clip: content-box;
}
.controls .els .control_mode_4 {
background: url('4_view_mode.svg') no-repeat;
background-clip: content-box;
}
.controls .els .control_mode_5 {
background: url('single_wide_full_mode.svg') no-repeat;
background-clip: content-box;
}
.controls .els .resizeWindowLess {
background: url('controllLessGreySmall2.svg') no-repeat;
background-clip: content-box;
}
.controls .els .resizeWindowMore {
background: url('controllMoreGreySmall2.svg') no-repeat;
background-clip: content-box;
}
.controls .els .cost, .controls .els .login {
	background-color: #ab40ab;
	width: 80px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	height: 20px;
	line-height: 20px;
}

.controls .els .cost span, .controls .els .login span {
}

.controls .els .login {
	background-color: #388E3C;
	width: 50px;
}


.controls .els .cost span, .controls .els .login span {
color: #fff;
}


.trace_mode_1 {
  float:left;
  width:30px;
  height:20px;
  position: relative;
}

.trace_mode_1 label {
	position: absolute;
  left:0;
  width:30px;
  height:20px;
  cursor:pointer;
  background: url('eye_grey_on.svg') no-repeat;
}

.trace_mode_1 input[type=checkbox]:checked + label {
background: url(eye_green_on.svg) no-repeat;
}

/*
.controls .els .trace_mode_1 {
background: url(trace_auto_on.png) no-repeat;
}
.controls .els .trace_mode_2 {
background: url(trace_auto_off.png) no-repeat;
}
.controls .els .trace_mode_3 {
background: url(eye_green_on.png) no-repeat;
}
.controls .els .trace_mode_4 {
background: url(eye_grey_on.png) no-repeat;
}
.controls .els .trace_mode_5 {
background: url(eye_off.png) no-repeat;
}*/


.controls .els .key {
	width: 20px;
	margin-left: 2px;
	margin-right: 2px;
}
.controls .els .hotkeys {
background: url('hotkeys2.svg') no-repeat;
background-clip: content-box;
}


.controls .els .separator {
	height: 20px;
	width:10px;
	display: inline-block;
	background: none;
}

.controls .colMD {
width:auto;
background:none;
}

.controls .colMD:before {
	content: " ";
}

.controls .toogle {
width:auto;
background:none;
}

.controls .els {
    font-size: 0;
}

.select_apartments {
float: left;
width: 225px;
height:41px;
border-radius: 10px;
display:none;
}

.select_cameras {
float: right;
width: 225px;
height:30px;
border-radius: 10px;
height:41px;
display:none;
}

#apartments_small {
background-color: rgba(255,255,255,0.5);
opacity: 10;
border-radius: 10px;
z-index:90;
position: relative;
margin-left:10px;
}
#apartments_small ul {
	padding-top: 7px;
padding-bottom: 5px;
}
#apartments_small ul:hover {
background-color: rgba(255,255,255,0.7);
border-radius: 10px;
}
#apartments_small ul.hover {
background-color: rgba(255,255,255,0.7);
border-radius: 10px;
}

#apartments_small ul li {
padding-top:5px;
padding-bottom:5px;
padding-left:25px;
margin-right:-5px;

}

#apartments_small ul li:hover {
color: #2d7a2d;
}
#apartments_small ul li.action_on {
  background:transparent url('act.svg') no-repeat;
  background-size: 6px 6px;
  background-position: 13px 11px;
}

#apartments_small ul li.current {
  background:transparent url('arr_green_small.svg') no-repeat;
  background-size: 6px 6px;
  background-position: 13px 11px;
}

#apartments_small ul li.current:hover  {
    color:#000;
}
#apartments_small ul li:hover {

}
#cameras_small {
background-color: rgba(255,255,255,0.5);
opacity: 10;
border-radius: 10px;
z-index:90;
position: relative;
margin-right:10px;
height:40px;
}

#cameras_small ul {
padding-top:7px;
padding-bottom:5px;
}

#cameras_small ul:hover {
background-color: rgba(255,255,255,0.8);
border-radius: 10px;
}
#cameras_small ul.hover {
background-color: rgba(255,255,255,0.8);
border-radius: 10px;
}

#cameras_small ul li{
padding-bottom: 5px;
padding-left: 25px;
height: 17px;
line-height: 20px;
}

#cameras_small ul li a {
}

#cameras_small ul li:hover {
color:#000;
}

#cameras_small ul li.action_on {
  background:transparent url('act.svg') no-repeat;
  background-size: 6px 6px;
  background-position: 13px 11px;
}

#cameras_small ul li.current {
  background:transparent url('arr_green_small.svg') no-repeat;
  background-size: 6px 6px;
  background-position: 13px 11px;
}

.hotkeys {
width:550px;
height:480px;
}
.hotkeys_sss {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 1;
background-color: rgba(242,242,242,.9);
overflow-y: auto;
-moz-box-sizing: border-box;
box-sizing: border-box;
z-index: 2000;
display:none;
}
.hotkeys .hk_panel {
padding-bottom:7px;
}
.hotkeys .clear {
clear:both;
}
.hotkeys dl {
display:block;
clear:both;
padding-bottom:3px;
height:24px;
margin:0;
}
.hotkeys dt {
float:left;
width:130px;
height:24px;
}
.hotkeys dt kbd {
float:right;
padding:5px;
background-color:#f2f2f2;
font-weight:bold;
border-radius: 3px;
margin-left:3px;
height:14px;
min-width:14px;
text-align:center;
}
.hotkeys dt .keys {
font-family:'open_sansregular', Helvetica, sans-serif;
}
.hotkeys dd {
display:inline-block;
margin-left:10px;
float:left;
line-height:24px;
}
.hotkeys .content {
width: 500px;
height: auto;
position: absolute;
top: 0;
z-index: 3000;
margin:25px;
}
.hotkeys .content h2 {
font-size: 16px;
margin-bottom: 15px;
}

.hotkeys .item_key {
display:block;
clear:both;
padding:3px;
}

.hotkeys .item_key .buttons {
float:left;
width:130px;
height:24px;
}

.hotkeys .item_key .buttons span {
float:right;
padding:5px;
background-color:#f2f2f2;
font-weight:bold;
border-radius: 3px;
margin-left:3px;
font-family:monospace;
}
.hotkeys .item_key p {
display:inline-block;
margin:0px 0 0 10px;
float:left;
line-height:24px;
}

.info_sale {
display:none;
height: 30px;
margin: 0 10px 10px 10px;
background: rgba(255,255,255,0.3);
padding: 5px;
border-radius: 10px;
text-align: center;
}
.info_sale p {
margin:6px 0;
font-size:18px;
color:#d210a2;
}


#FSP {
	position: fixed;
  	z-index: 98;
  	width: 100%;
  	height: 100%;
}

#FSP .FSP_panel_left_control {
	position: absolute;
	top:0;
	left: 0;
    width: 40px;
	height: 100%;
}
#FSP .FSP_panel_right_control {
	position: absolute;
	top:0;
	right: 0;
   width: 40px;
	height: 100%;
}
#FSP .FSP_panel_top_control {
	position: absolute;
	top:0;
	left: 0;
   width: 100%;
	height: 30px;
}
#FSP .FSP_panel_left {
	position: absolute;
	top:0;
	left: 0;
	width: 220px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	margin-left:10px;
	margin-top: 40px;
	padding: 10px;
	display: none;
}
#FSP .FSP_panel_right {
	position: absolute;
	top:0;
	right: 0;
	width: 200px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	margin-right:10px;
	margin-top: 40px;
	padding: 10px;
		display: none;
}
#FSP .FSP_panel_top {
	position: absolute;
	top:0;
	right: 0;
	width: 100%;
	height: 35px;
   display: none;
}
#FSP .FSP_panel_top .controls {
	background-color: rgba(255,255,255,0.7);
}

#FSP .FSP_panel_top .control {
	width: 670px;
	height: 100%;
	margin: 0 auto;
}

.full_screen {
	position:fixed !important;
	top:0;
	left:0;
	z-index: 95;
}

#apartments ul ul, #FSP_panel_left ul ul{

margin-top: 5px;
}


#apartments ul div .header, #FSP_panel_left ul div .header {
  font-family: 'open_sanssemibold', Helvetica, sans-serif;
  padding-left: 5px;

}

#apartments ul div, #FSP_panel_left ul div{
  margin-bottom:10px;
}
#apartments ul div li, #FSP_panel_left ul div li  {
  display: block;
  padding: 2px 10px 3px 16px;
  border-radius: 10px;
  cursor: pointer;
	line-height:20px;
}

#apartments ul li.action_on, #FSP_panel_left ul li.action_on
{
    //background: url('act.svg') no-repeat 4px 8px;
}


#apartments ul li.current, #FSP_panel_left ul li.current {
  background: transparent url('arr_green_small.svg') no-repeat;
  background-size: 6px 6px;
  background-position: 5px;
  background-color: #fefee1;
}

#LandingClickedBlock {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3400;
}

#landingmode {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #cbcbcb url(body_bg.gif);
}
#landingmode .block {
	height: 100%;
}



#landingmode .block .snapshots {
	position: absolute;
	bottom: 0px;
	padding: 15px 3px;
	height: 145px;
	z-index: 3500;
}

#regionSnapshots .containerSnapshots{
	display: none;
}
#regionSnapshots .showSnapshots {
	display: none;
	position: relative;
	text-align: center;
	clear: both;
}
#wrap .snapshots {
	position: relative;
	text-align: center;
	clear: both;
   display: inline-block;
}
#wrap .snapshots ul {
   background: rgba(219,219,219,1);
   padding: 10px 10px 10px 10px;
   border-radius: 10px;
   margin: 0px;
}
#wrap .snapshots .close:hover {
	color: #424242;
}
#wrap .snapshots .close {
  position: absolute;
  top: -14px;
  right: -14px;
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
  height: 28px;
  width: 28px;
  background: rgba(219,219,219,1);
  border-radius: 14px;
  color: #767676;
 }
#wrap .snapshots a.title, .showSnapshots a.title  {
  cursor: pointer;
  color: #2D7A2D;
  text-decoration: none;
  border-bottom:1px dashed  #2D7A2D;
}

#regionSnapshots .blockSnapshots {
	text-align: center;
	margin-bottom: 5px;
}

#landingmode .block .snapshots ul, .blockSnapshots ul {
	padding: 0px;
}

#landingmode .block .snapshots .snapshot, .blockSnapshots .snapshot  {
	position: relative;
	width: 230px;
	margin:3px;
	padding: 0px;
	height: 129px;
	display: inline-block;
   outline:3px solid rgba(133,133,133,0.3);
   background-color: #BEBEBE;
   background-image: url(ajax-loader-2.gif);
   background-position:100px 50px;
   background-repeat: no-repeat;
   z-index: 3500;
}
#regionSnapshots .blockSnapshots .snapshot {
	z-index: 1;
}

#landingSnapshots li.snapshot .label, #regionSnapshots li.snapshot .label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #F8F8FF;
}
#landingSnapshots li.snapshot .premium, #regionSnapshots li.snapshot .premium {
	background-color: #ab40ab;
	display: none;
}
#landingSnapshots li.snapshot .private, #regionSnapshots li.snapshot .private {
	background-color: #67c103;
	display: none;
}
#landingSnapshots li.snapshot .public, #regionSnapshots li.snapshot .public {
	background-color: #8470FF;
	display: none;
}

#landingmode .block .snapshots .snapshot img, .blockSnapshots .snapshot img {
	width: 230px;
	height: 129px;
}

#landingmode .block .snapshots .snapshot .ajax-loader, .blockSnapshots .snapshot .ajax-loader {
	margin: 50px 100px;
}

#landingmode .block .snapshots .snapshot:hover, .blockSnapshots .snapshot:hover {
	cursor: pointer;
	outline:3px solid rgba(0,255,0,0.3);
}
#regionSnapshots .blockSnapshots .snapshot.selected {
	outline:3px solid rgba(0,255,0,0.6);
}

.player_landing_mode_2 {
	position: fixed;
	top: 0px;
	z-index: 300;
        margin-right: auto;
	margin-left: auto;
}

.small_2x {
	padding-bottom: 10px;
}

#landingmode .keys p {

   text-align: center;

   -webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
   -o-transform-origin: 50% 50%;
   -ms-transform-origin: 50% 50%;
   transform-origin: 50% 50%;

	-webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);

   font-size: 24px;
   color: rgba(255,255,255,0.7);
   overflow:hidden;
   line-height:35px;

}

############### --flowplayer css-- ####################

[class^="fp-i-"], [class*=" fp-i-"] {
  font-family: 'fpicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flowplayer{position:relative;width:100%;counter-increment:flowplayer;background-size:contain;background-repeat:no-repeat;background-position:center center;}
.flowplayer *{font-weight:inherit;font-family:inherit;font-style:inherit;text-decoration:inherit;font-size:100%;padding:0;border:0;margin:0;list-style-type:none}
.flowplayer a:focus{outline:0}
.flowplayer video{width:100%}
.flowplayer.is-ipad video{-webkit-transform:translateX(-2048px);}
.is-ready.flowplayer.is-ipad video{-webkit-transform:translateX(0)}
.flowplayer .fp-player{position:absolute;top:0;left:0;width:100%;height:100%}
.flowplayer .fp-engine,.flowplayer .fp-ui,.flowplayer .fp-message{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
.flowplayer .fp-ui{z-index:11}
.flowplayer .fp-ui.before_swf_load{z-index:0}
.flowplayer .blacklisted{width:100%;height:100%;position:absolute;top:0;z-index:0;background-size:100%}
.flowplayer .fp-message{display:none;text-align:center;padding-top:5%;cursor:default;}
.flowplayer .fp-message h2{font-size:120%;margin-bottom:1em}
.flowplayer .fp-message p{color:#666;font-size:95%}
.flowplayer .fp-title{line-height:30px;font-weight:normal;font-family:'open_sansregular',Helvetica,sans-serif !important;font-size:11px;cursor:default;color:#fff;width:auto;max-width:50%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;float:left;padding:0 20px;}
.is-rtl.flowplayer .fp-title{float:right}
.aside-time.flowplayer .fp-title{display:none !important}
.flowplayer .fp-controls{position:absolute;bottom:0;width:100%;}
.no-background.flowplayer .fp-controls{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important}
.is-fullscreen.flowplayer .fp-controls{bottom:3px}
.is-mouseover.flowplayer .fp-controls{bottom:0}
.flowplayer .fp-controls,.flowplayer .fp-title,.flowplayer .fp-unload,.flowplayer .fp-close,.flowplayer .fp-embed,.flowplayer.aside-time .fp-time{background-color:#000;background-color:rgba(0,0,0,0.65);}
.no-background.flowplayer .fp-controls,.no-background.flowplayer .fp-title,.no-background.flowplayer .fp-unload,.no-background.flowplayer .fp-close,.no-background.flowplayer .fp-embed,.no-background.flowplayer.aside-time .fp-time{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.flowplayer .fp-fullscreen{background-color:#000;background-color:rgba(0,0,0,0);}
.no-background.flowplayer .fp-fullscreen{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.no-background.flowplayer .fp-play,.no-background.flowplayer .fp-brand{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.flowplayer.fixed-controls .fp-controls{background-color:#000}
.flowplayer .fp-timeline{background-color:#a5a5a5}
.flowplayer .fp-buffer{background-color:#eee}
.flowplayer .fp-progress{background-color:#00a7c8}
.flowplayer .fp-volumeslider{background-color:#a5a5a5}
.flowplayer .fp-volumelevel{background-color:#00a7c8}
.flowplayer .fp-waiting{display:none;position:relative;top:48%;text-align:center;}
.flowplayer .fp-waiting *{-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;box-shadow:0 0 5px #333}
.flowplayer .fp-waiting em{width:1em;height:1em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background-color:rgba(255,255,255,0.8);display:inline-block;-webkit-animation:pulse .6s infinite;-moz-animation:pulse .6s infinite;animation:pulse .6s infinite;margin:.3em;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.flowplayer .fp-waiting em:nth-child(1){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}
.flowplayer .fp-waiting em:nth-child(2){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}
.flowplayer .fp-waiting em:nth-child(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.flowplayer .fp-waiting p{color:#ccc;font-weight:bold}
.flowplayer .fp-speed{font-size:30px;background-color:#333;background-color:rgba(51,51,51,0.8);color:#eee;margin:0 auto;text-align:center;width:120px;padding:.1em 0 0;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s;}
.flowplayer .fp-speed.fp-hilite{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.flowplayer .fp-help{position:absolute;top:0;left:-9999em;z-index:100;background-color:#333;background-color:rgba(51,51,51,0.9);width:100%;height:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .2s;-moz-transition:opacity .2s;transition:opacity .2s;text-align:center;}
.is-help.flowplayer .fp-help{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.flowplayer .fp-help .fp-help-section{margin:3%;direction:ltr}
.flowplayer .fp-help .fp-help-basics{margin-top:6%}
.flowplayer .fp-help p{color:#eee;margin:.5em 0;font-size:14px;line-height:1.5;display:inline-block;margin:1% 2%}
.flowplayer .fp-help em{background:#eee;-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;margin-right:.4em;padding:.3em .6em;color:#333}
.flowplayer .fp-help small{font-size:90%;color:#aaa}
.flowplayer .fp-help .fp-close{display:block}
@media (max-width: 600px){.flowplayer .fp-help p{font-size:9px}
}.flowplayer .fp-dropdown{position:absolute;top:5px;width:100px;background-color:#000 !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;margin:0 !important;list-style-type:none !important;}
.flowplayer .fp-dropdown:before{content:'';display:block;position:absolute;top:-5px;left:calc(50% - 5px);width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid rgba(51,51,51,0.9)}
.flowplayer .fp-dropdown li{padding:10px !important;margin:0 !important;color:#fff !important;font-size:11px !important;list-style-type:none !important;}
.flowplayer .fp-dropdown li.active{background-color:#00a7c8 !important;cursor:default !important}
.flowplayer .fp-dropdown.fp-dropup{bottom:20px;top:auto;}
.flowplayer .fp-dropdown.fp-dropup:before{top:auto;bottom:-5px;border-bottom:none;border-top:5px solid rgba(51,51,51,0.9)}
.flowplayer .fp-tooltip{background-color:#000;color:#fff;display:none;position:absolute;padding:5px;}
.flowplayer .fp-tooltip:before{content:'';display:block;position:absolute;bottom:-5px;width:0;height:0;left:calc(50% - 5px);border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000}
.flowplayer .fp-timeline-tooltip{bottom:35px}
.flowplayer .fp-timeline:hover+.fp-timeline-tooltip{display:block;}
.is-touch.flowplayer .fp-timeline:hover+.fp-timeline-tooltip{display:none}
.flowplayer .fp-subtitle{position:absolute;bottom:40px;left:-99999em;z-index:10;text-align:center;width:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s;}
.flowplayer .fp-subtitle p{display:inline;background-color:#333;background-color:rgba(51,51,51,0.9);color:#eee;padding:.1em .4em;font-size:16px;line-height:1.6;}
.flowplayer .fp-subtitle p:after{content:'';clear:both}
.flowplayer .fp-subtitle p b{font-weight:bold}
.flowplayer .fp-subtitle p i{font-style:italic}
.flowplayer .fp-subtitle p u{text-decoration:underline}
.flowplayer .fp-subtitle.fp-active{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-mute,.flowplayer .fp-embed,.flowplayer .fp-close,.flowplayer .fp-play,.flowplayer .fp-menu{font-family:'fpicons' !important;color:#fff !important;font-size:15px !important;text-align:center !important;line-height:30px !important;text-decoration:none !important;}
.is-rtl.flowplayer .fp-fullscreen,.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-mute,.is-rtl.flowplayer .fp-embed,.is-rtl.flowplayer .fp-close,.is-rtl.flowplayer .fp-play,.is-rtl.flowplayer .fp-menu{-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);transform:scale(-1,1)}
.is-rtl.flowplayer .fp-menu{-webkit-transform:none;-moz-transform:none;transform:none}
.flowplayer .fp-fullscreen:before{content:"\e602"}
.flowplayer .fp-unload:before,.flowplayer .fp-close:before{content:"\e600"}
.flowplayer .fp-mute:before{content:"\e606"}
.flowplayer .fp-embed:before{content:"\e603"}
.flowplayer .fp-play:before{content:"\e608"}
.flowplayer .fp-menu:before{content:"\e604"}
.flowplayer .fp-flash-disabled{background:#333;width:390px;margin:0 auto;position:absolute;bottom:0;color:#fff}
.is-splash.flowplayer .fp-ui,.is-paused.flowplayer .fp-ui{background-size:11%;background-color:#000;}
.is-rtl.is-splash.flowplayer .fp-ui,.is-rtl.is-paused.flowplayer .fp-ui{background-size:11%}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx){.is-splash.flowplayer .fp-ui,.is-paused.flowplayer .fp-ui{background-size:11%}
.is-rtl.is-splash.flowplayer .fp-ui,.is-rtl.is-paused.flowplayer .fp-ui{background-size:11%}
}.is-fullscreen.flowplayer .fp-ui{background-size:auto}
.is-seeking.flowplayer .fp-ui,.is-loading.flowplayer .fp-ui{background-image:none}
.flowplayer .fp-brand{color:#fff !important;position:absolute;right:115px;font-weight:normal !important;font-family:'open_sansregular',Helvetica,sans-serif !important;text-decoration:none !important;line-height:15px !important;font-size:11px !important;height:15px;width:55px;bottom:9px;box-sizing:border-box;text-align:center;padding:1px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.has-menu.flowplayer .fp-brand{right:152px}
.is-rtl.flowplayer .fp-brand{right:auto;left:125px}
.has-menu.is-rtl.flowplayer .fp-brand{left:152px}
.no-brand.flowplayer .fp-brand{display:none}
.no-volume.no-mute.flowplayer .fp-brand{right:10px;}
.has-menu.no-volume.no-mute.flowplayer .fp-brand{right:47px}
.no-volume.flowplayer .fp-brand{right:50px}
.no-mute.flowplayer .fp-brand{right:95px}
.flowplayer .fp-logo{position:absolute;top:auto;left:15px;bottom:40px;cursor:pointer;display:none;z-index:100;}
.flowplayer .fp-logo img{width:100%}
.is-embedded.flowplayer .fp-logo{display:block}
.fixed-controls.flowplayer .fp-logo{bottom:15px}
.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-close{position:absolute;top:10px;left:auto;right:10px;display:block;width:30px;height:23px;text-align:center;cursor:pointer;height:30px;width:30px;}
.is-rtl.flowplayer .fp-fullscreen,.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-close{right:auto;left:10px}
.flowplayer .fp-unload,.flowplayer .fp-close{display:none}
.flowplayer .fp-play{display:none;height:30px !important;position:absolute;bottom:0;left:0;text-align:center;cursor:pointer;}
.is-rtl.flowplayer .fp-play{left:auto;right:0}
.is-playing.flowplayer .fp-play:before{content:"\e607"}
.flowplayer .fp-menu{display:none;position:absolute;bottom:0;z-index:11;right:10px;}
.is-rtl.flowplayer .fp-menu{right:auto;left:10px}
.has-menu.flowplayer .fp-menu{display:block}
.flowplayer .fp-menu .fp-dropdown{z-index:12;display:none;left:-42.5px;line-height:auto;width:149px;-webkit-transform:none;-moz-transform:none;transform:none;}
.is-rtl.flowplayer .fp-menu .fp-dropdown{left:-10px}
.flowplayer .fp-menu.dropdown-open .fp-dropdown{display:block}
.flowplayer.is-ready.is-closeable .fp-unload{display:block}
.flowplayer.is-ready.is-closeable .fp-embed{right:90px}
.flowplayer.is-ready.is-closeable .fp-fullscreen{right:50px}
.flowplayer.is-ready.is-closeable.is-rtl .fp-embed{right:auto;left:90px}
.flowplayer.is-ready.is-closeable.is-rtl .fp-fullscreen{right:auto;left:50px}
.flowplayer.is-fullscreen .fp-fullscreen{display:block !important;}
.flowplayer.is-fullscreen .fp-fullscreen:before{content:"\e601"}
.flowplayer .fp-timeline{height:3px;position:relative;overflow:hidden;top:10px;height:10px;margin:0 225px 0 55px;}
.no-brand.flowplayer .fp-timeline{margin-right:160px;}
.has-menu.no-brand.flowplayer .fp-timeline{margin-right:187px}
.no-volume.no-brand.flowplayer .fp-timeline{margin-right:95px}
.no-mute.no-brand.flowplayer .fp-timeline{margin-right:130px}
.no-mute.no-volume.no-brand.flowplayer .fp-timeline{margin-right:55px}
.has-menu.flowplayer .fp-timeline{margin-right:252px}
.no-volume.flowplayer .fp-timeline{margin-right:160px}
.no-mute.flowplayer .fp-timeline{margin-right:195px}
.no-mute.no-volume.flowplayer .fp-timeline{margin-right:120px;}
.has-menu.no-mute.no-volume.flowplayer .fp-timeline{margin-right:157px}
.is-rtl.flowplayer .fp-timeline{margin:0 55px 0 225px;}
.no-brand.is-rtl.flowplayer .fp-timeline{margin-left:160px;}
.has-menu.no-brand.is-rtl.flowplayer .fp-timeline{margin-left:197px}
.has-menu.is-rtl.flowplayer .fp-timeline{margin-left:262px}
.no-volume.is-rtl.flowplayer .fp-timeline{margin-left:95px}
.no-mute.is-rtl.flowplayer .fp-timeline{margin-left:130px}
.no-mute.no-volume.is-rtl.flowplayer .fp-timeline{margin-left:55px}
.is-long.flowplayer .fp-timeline{margin:0 255px 0 85px;}
.no-volume.is-long.flowplayer .fp-timeline{margin-right:180px}
.no-mute.is-long.flowplayer .fp-timeline{margin-right:140px}
.has-menu.is-long.flowplayer .fp-timeline{margin-right:292px}
.no-brand.is-long.flowplayer .fp-timeline{margin-right:190px;}
.no-volume.no-brand.is-long.flowplayer .fp-timeline{margin-right:125px}
.no-mute.no-brand.is-long.flowplayer .fp-timeline{margin-right:85px}
.has-menu.no-brand.is-long.flowplayer .fp-timeline{margin-right:227px}
.is-rtl.is-long.flowplayer .fp-timeline{margin:85px 0 190px 0;}
.no-volume.is-rtl.is-long.flowplayer .fp-timeline{margin-left:125px}
.no-mute.is-rtl.is-long.flowplayer .fp-timeline{margin-left:85px}
.aside-time.flowplayer .fp-timeline,.no-time.flowplayer .fp-timeline{margin:0 190px 0 10px;}
.has-menu.aside-time.flowplayer .fp-timeline,.has-menu.no-time.flowplayer .fp-timeline{margin-right:227px}
.aside-time.no-brand.flowplayer .fp-timeline{margin-right:115px}
.aside-time.no-volume.flowplayer .fp-timeline,.no-time.no-volume.flowplayer .fp-timeline{margin-right:115px}
.aside-time.no-mute.flowplayer .fp-timeline,.no-time.no-mute.flowplayer .fp-timeline{margin-right:75px}
.is-rtl.aside-time.flowplayer .fp-timeline,.is-rtl.no-time.flowplayer .fp-timeline{margin:0 10px 0 115px}
.is-rtl.aside-time.no-volume.flowplayer .fp-timeline,.is-rtl.no-time.no-volume.flowplayer .fp-timeline{margin-left:50px}
.is-rtl.aside-time.no-mute.flowplayer .fp-timeline,.is-rtl.no-time.no-mute.flowplayer .fp-timeline{margin-left:10px}
.flowplayer .fp-buffer,.flowplayer .fp-progress{position:absolute;top:0;left:auto;height:100%;cursor:col-resize}
.flowplayer .fp-buffer{-webkit-transition:width .25s linear;-moz-transition:width .25s linear;transition:width .25s linear}
.flowplayer .fp-timeline.no-animation .fp-buffer{-webkit-transition:none;-moz-transition:none;transition:none}
.flowplayer .fp-progress.animated{transition-timing-function:linear;transition-property:width,height}
.flowplayer.is-touch .fp-timeline{overflow:visible}
.flowplayer.is-touch .fp-progress{-webkit-transition:width .2s linear;-moz-transition:width .2s linear;transition:width .2s linear;box-sizing:border-box}
.flowplayer.is-touch .fp-timeline.is-dragging .fp-progress{-webkit-transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear;-moz-transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear;transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear}
.flowplayer.is-touch.is-mouseover .fp-progress:after,.flowplayer.is-touch.is-mouseover .fp-progress:before{content:'';box-sizing:border-box;display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;position:absolute;right:-5px}
.flowplayer.is-touch.is-rtl.is-mouseover .fp-progress:after,.flowplayer.is-touch.is-rtl.is-mouseover .fp-progress:before{right:auto;left:-5px}
.flowplayer.is-touch.is-rtl.is-mouseover .fp-progress:after{left:-10px;-webkit-box-shadow:-1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:-1px 0 4px rgba(0,0,0,0.5);box-shadow:-1px 0 4px rgba(0,0,0,0.5)}
.flowplayer.is-touch.is-mouseover .fp-progress:before{width:10px;height:10px}
.flowplayer.is-touch.is-mouseover .fp-progress:after{height:18px;width:18px;top:-4px;right:-10px;border:5px solid rgba(255,255,255,0.65);-webkit-box-shadow:1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:1px 0 4px rgba(0,0,0,0.5);box-shadow:1px 0 4px rgba(0,0,0,0.5)}
.flowplayer.is-touch.is-mouseover .fp-timeline.is-dragging .fp-progress:after{border:10px solid #fff;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit;top:-5px;right:-10px}
.flowplayer.is-touch.is-rtl.is-mouseover .fp-timeline.is-dragging .fp-progress:after{left:-15px;right:auto;border:10px solid #fff}
.flowplayer .fp-volume{position:absolute;height:6px;bottom:12px;left:27px;}
.has-menu.flowplayer .fp-volume{right:37px}
.is-rtl.flowplayer .fp-volume{right:auto;left:10px}
.is-rtl.has-menu.flowplayer .fp-volume{left:37px}
.flowplayer .fp-mute{position:relative;width:30px;height:30px;float:left;top:-12px;cursor:pointer;}
.is-rtl.flowplayer .fp-mute{float:right}
.no-mute.flowplayer .fp-mute{display:none}
.flowplayer .fp-volumeslider{width:75px;height:6px;cursor:pointer;float:left;}
.is-rtl.flowplayer .fp-volumeslider{float:right}
.no-volume.flowplayer .fp-volumeslider{display:none}
.flowplayer .fp-volumelevel{height:100%}
.flowplayer .fp-time{text-shadow:0 0 1px #000;font-size:11px;font-weight:normal;font-family:'open_sansregular',Helvetica,sans-serif !important;color:#fff;width:100%;}
.flowplayer .fp-time.is-inverted .fp-duration{display:none}
.flowplayer .fp-time.is-inverted .fp-remaining{display:inline}
.flowplayer .fp-time em{width:35px;height:10px;line-height:10px;text-align:center;position:absolute;bottom:9px}
.no-time.flowplayer .fp-time{display:none}
.is-long.flowplayer .fp-time em{width:65px}
.flowplayer .fp-elapsed{left:10px;}
.is-rtl.flowplayer .fp-elapsed{left:auto;right:10px}
.flowplayer .fp-remaining,.flowplayer .fp-duration{right:180px;color:#eee;}
.no-brand.flowplayer .fp-remaining,.no-brand.flowplayer .fp-duration{right:125px;}
.has-menu.no-brand.flowplayer .fp-remaining,.has-menu.no-brand.flowplayer .fp-duration{right:152px}
.no-volume.no-brand.flowplayer .fp-remaining,.no-volume.no-brand.flowplayer .fp-duration{right:50px}
.no-mute.no-brand.flowplayer .fp-remaining,.no-mute.no-brand.flowplayer .fp-duration{right:95px}
.no-mute.no-volume.no-brand.flowplayer .fp-remaining,.no-mute.no-volume.no-brand.flowplayer .fp-duration{right:10px}
.has-menu.flowplayer .fp-remaining,.has-menu.flowplayer .fp-duration{right:217px}
.no-volume.flowplayer .fp-remaining,.no-volume.flowplayer .fp-duration{right:115px}
.no-mute.flowplayer .fp-remaining,.no-mute.flowplayer .fp-duration{right:160px}
.no-mute.no-volume.flowplayer .fp-remaining,.no-mute.no-volume.flowplayer .fp-duration{right:75px;}
.has-menu.no-mute.no-volume.flowplayer .fp-remaining,.has-menu.no-mute.no-volume.flowplayer .fp-duration{right:112px}
.is-rtl.flowplayer .fp-remaining,.is-rtl.flowplayer .fp-duration{right:auto;left:180px;}
.no-brand.is-rtl.flowplayer .fp-remaining,.no-brand.is-rtl.flowplayer .fp-duration{left:115px;}
.has-menu.no-brand.is-rtl.flowplayer .fp-remaining,.has-menu.no-brand.is-rtl.flowplayer .fp-duration{left:142px}
.has-menu.is-rtl.flowplayer .fp-remaining,.has-menu.is-rtl.flowplayer .fp-duration{left:227px}
.no-volume.is-rtl.flowplayer .fp-remaining,.no-volume.is-rtl.flowplayer .fp-duration{left:50px}
.no-mute.is-rtl.flowplayer .fp-remaining,.no-mute.is-rtl.flowplayer .fp-duration{left:95px}
.no-mute.no-volume.is-rtl.flowplayer .fp-remaining,.no-mute.no-volume.is-rtl.flowplayer .fp-duration{left:10px}
.flowplayer .fp-remaining{display:none}
.flowplayer.aside-time .fp-time{position:absolute;top:10px;left:10px;bottom:auto !important;width:auto;background-color:#000;background-color:rgba(0,0,0,0.65);height:30px;padding:0 5px;-webkit-border-radius:control_border_radius;-moz-border-radius:control_border_radius;border-radius:control_border_radius;line-height:30px;text-align:center;font-size:15px;}
.no-background.flowplayer.aside-time .fp-time{background-color:transparent !important}
.flowplayer.aside-time .fp-time strong,.flowplayer.aside-time .fp-time em{position:static}
.flowplayer.aside-time .fp-time .fp-elapsed::after{content:' / '}
.flowplayer.is-splash,.flowplayer.is-poster{cursor:pointer;}
.flowplayer.is-splash .fp-controls,.flowplayer.is-poster .fp-controls,.flowplayer.is-splash .fp-fullscreen,.flowplayer.is-poster .fp-fullscreen,.flowplayer.is-splash .fp-unload,.flowplayer.is-poster .fp-unload,.flowplayer.is-splash .fp-time,.flowplayer.is-poster .fp-time,.flowplayer.is-splash .fp-embed,.flowplayer.is-poster .fp-embed,.flowplayer.is-splash .fp-title,.flowplayer.is-poster .fp-title,.flowplayer.is-splash .fp-brand,.flowplayer.is-poster .fp-brand{display:none !important}
.flowplayer.is-poster .fp-engine{top:-9999em}
.flowplayer.is-loading .fp-waiting{display:block}
.flowplayer.is-loading .fp-controls,.flowplayer.is-loading .fp-time{display:none}
.flowplayer.is-loading .fp-ui{background-position:-9999em}
.flowplayer.is-loading video.fp-engine{position:absolute;top:-9999em}
.flowplayer.is-seeking .fp-waiting{display:block}
.flowplayer.is-playing{background-image:none !important;background-color:#000;}
.flowplayer.is-playing.hls-fix.is-finished .fp-engine{position:absolute;top:-9999em}
.flowplayer.is-fullscreen{top:0 !important;left:0 !important;border:0 !important;margin:0 !important;width:100% !important;height:100% !important;max-width:100% !important;z-index:99999 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;background-image:none !important;background-color:#333;}
.is-rtl.flowplayer.is-fullscreen{left:auto !important;right:0 !important}
.flowplayer.is-fullscreen .fp-player{background-color:#333}
.flowplayer.is-error h2{font-weight:normal;font-size:large;top:40%;position:relative;padding:0 10px}
.flowplayer.is-error .fp-message{display:block}
.flowplayer.is-error .fp-ui{background:#fdfdfd !important}
.flowplayer.is-error video,.flowplayer.is-error .fp-controls,.flowplayer.is-error .fp-time,.flowplayer.is-error .fp-subtitle{display:none}
.flowplayer.is-ready.is-muted .fp-mute{opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
.flowplayer.is-ready.is-muted .fp-mute:before{content:"\e605"}
.flowplayer.is-mouseout .fp-controls{height:0;-webkit-transition:height .15s .3s;-moz-transition:height .15s .3s;transition:height .15s .3s}
.is-fullscreen.flowplayer.is-mouseout .fp-controls{height:3px;bottom:0}
.flowplayer.is-mouseout .fp-title{overflow:hidden}
.flowplayer.is-mouseout .fp-timeline{margin:0 !important}
.flowplayer.is-mouseout .fp-timeline{-webkit-transition:height .15s .3s,top .15s .3s,margin .15s .3s;-moz-transition:height .15s .3s,top .15s .3s,margin .15s .3s;transition:height .15s .3s,top .15s .3s,margin .15s .3s;height:4px;top:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.flowplayer.is-mouseout .fp-fullscreen,.flowplayer.is-mouseout .fp-unload,.flowplayer.is-mouseout .fp-elapsed,.flowplayer.is-mouseout .fp-remaining,.flowplayer.is-mouseout .fp-duration,.flowplayer.is-mouseout .fp-embed,.flowplayer.is-mouseout .fp-title,.flowplayer.is-mouseout .fp-volume,.flowplayer.is-mouseout .fp-play,.flowplayer.is-mouseout .fp-menu,.flowplayer.is-mouseout .fp-brand,.flowplayer.is-mouseout .fp-timeline-tooltip,.flowplayer.is-mouseout.aside-time .fp-time{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .15s .3s;-moz-transition:opacity .15s .3s;transition:opacity .15s .3s}
.flowplayer.is-mouseover .fp-controls,.flowplayer.fixed-controls .fp-controls{height:30px}
.flowplayer.is-mouseover .fp-title,.flowplayer.fixed-controls .fp-title{height:30px}
.flowplayer.is-mouseover .fp-fullscreen,.flowplayer.fixed-controls .fp-fullscreen,.flowplayer.is-mouseover .fp-unload,.flowplayer.fixed-controls .fp-unload,.flowplayer.is-mouseover .fp-elapsed,.flowplayer.fixed-controls .fp-elapsed,.flowplayer.is-mouseover .fp-remaining,.flowplayer.fixed-controls .fp-remaining,.flowplayer.is-mouseover .fp-duration,.flowplayer.fixed-controls .fp-duration,.flowplayer.is-mouseover .fp-embed,.flowplayer.fixed-controls .fp-embed,.flowplayer.is-mouseover .fp-logo,.flowplayer.fixed-controls .fp-logo,.flowplayer.is-mouseover .fp-volume,.flowplayer.fixed-controls .fp-volume,.flowplayer.is-mouseover .fp-play,.flowplayer.fixed-controls .fp-play,.flowplayer.is-mouseover .fp-menu,.flowplayer.fixed-controls .fp-menu{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.flowplayer.fixed-controls .fp-volume{display:block}
.flowplayer.fixed-controls .fp-controls{bottom:-30px;}
.is-fullscreen.flowplayer.fixed-controls .fp-controls{bottom:0}
.flowplayer.fixed-controls .fp-time em{bottom:-20px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.is-fullscreen.flowplayer.fixed-controls .fp-time em{bottom:10px}
.flowplayer.is-disabled .fp-progress{background-color:#999}
.flowplayer.is-flash-disabled{background-color:#333;}
.flowplayer.is-flash-disabled object.fp-engine{z-index:100}
.flowplayer.is-flash-disabled .fp-flash-disabled{display:block;z-index:101}
.flowplayer .fp-embed{position:absolute;top:10px;left:auto;right:50px;display:block;width:30px;height:30px;text-align:center;}
.is-rtl.flowplayer .fp-embed{right:auto;left:50px}
.flowplayer .fp-embed-code{position:absolute;display:none;top:10px;right:67px;background-color:#333;padding:3px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;font-size:12px;}
.is-closeable.flowplayer .fp-embed-code{right:99px}
.flowplayer .fp-embed-code:before{content:'';width:0;height:0;position:absolute;top:2px;right:-10px;border:5px solid transparent;border-left-color:#333}
.is-rtl.flowplayer .fp-embed-code{right:auto;left:67px;}
.is-rtl.flowplayer .fp-embed-code:before{right:auto;left:-10px;border-left-color:transparent;border-right-color:#333}
.flowplayer .fp-embed-code textarea{width:400px;height:16px;font-family:monaco,"courier new",verdana;color:#777;white-space:nowrap;resize:none;overflow:hidden;border:0;outline:0;background-color:transparent;color:#ccc}
.flowplayer .fp-embed-code label{display:block;color:#999}
.flowplayer.is-embedding .fp-embed,.flowplayer.is-embedding .fp-embed-code{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.flowplayer.no-time .fp-embed{left:10px !important;}
.is-rtl.flowplayer.no-time .fp-embed{left:auto;right:10px !important}
.flowplayer.is-live .fp-timeline,.flowplayer.is-live .fp-duration,.flowplayer.is-live .fp-remaining{display:none}
.flowplayer .fp-context-menu{position:absolute;display:none;z-index:1001;background-color:#fff;padding:10px;border:1px solid #aaa;-webkit-box-shadow:0 0 4px #888;-moz-box-shadow:0 0 4px #888;box-shadow:0 0 4px #888;width:170px;}
.flowplayer .fp-context-menu li{text-align:center !important;padding:10px;color:#444 !important;font-size:11px !important;margin:0 -10px 0 -10px;}
.flowplayer .fp-context-menu li a{color:#00a7c8 !important;font-size:12.100000000000001px !important}
.flowplayer .fp-context-menu li:hover:not(.copyright){background-color:#eee}
.flowplayer .fp-context-menu li.copyright{margin:0;padding-left:110px;background-image:url("img/flowplayer.png");background-repeat:no-repeat;background-size:100px 20px;background-position:5px 5px;border-bottom:1px solid #bbb;}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx){.flowplayer .fp-context-menu li.copyright{background-image:url("img/flowplayer@2x.png")}
}@-moz-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-webkit-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-o-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-ms-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@keyframes pulse{0%{opacity:0}
100%{opacity:1}
}.flowplayer.is-touch.is-mouseover .fp-progress:before{background-color:#00a7c8}
.flowplayer .fp-menu .fp-dropdown{right:-10px;left:auto;bottom:30px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.flowplayer .fp-menu .fp-dropdown:before{display:none}
.is-rtl.flowplayer .fp-menu .fp-dropdown{right:auto;left:-10px}
.flowplayer .fp-play{width:30px}
.flowplayer.aside-time .fp-time{top:0;left:0}
.no-brand.flowplayer .fp-remaining,.no-brand.flowplayer .fp-duration{right:115px}
.flowplayer .fp-fullscreen{left:132px;top:auto;bottom:0}
.flowplayer .fp-unload,.flowplayer .fp-close,.flowplayer .fp-embed{right:0;top:0;}
.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-close,.is-rtl.flowplayer .fp-embed{right:auto;left:0}
.flowplayer .fp-embed{right:32px;}
.is-rtl.flowplayer .fp-embed{right:auto;left:32px}
.flowplayer.is-closeable.is-ready .fp-fullscreen{right:32px}
.flowplayer.is-closeable.is-ready .fp-embed{right:64px}
.is-rtl.flowplayer.is-closeable.is-ready .fp-fullscreen{right:auto;left:32px}
.is-rtl.flowplayer.is-closeable.is-ready .fp-embed{right:auto;left:64px}
.flowplayer.play-button .fp-play{display:block}
.flowplayer.play-button .fp-elapsed{left:27px;}
.is-rtl.flowplayer.play-button .fp-elapsed{right:27px}
.flowplayer.play-button .fp-timeline{margin-left:72px;}
.is-rtl.flowplayer.play-button .fp-timeline{margin-right:72px}
.is-long.flowplayer.play-button .fp-timeline{margin-left:102px;}
.is-rtl.is-long.flowplayer.play-button .fp-timeline{margin-right:102px}
.no-time.flowplayer.play-button .fp-timeline,.aside-time.flowplayer.play-button .fp-timeline{margin-left:27px;}
.is-rtl.no-time.flowplayer.play-button .fp-timeline,.is-rtl.aside-time.flowplayer.play-button .fp-timeline{margin-right:27px}

/* modal Get News */

.modal.getnews {
    width: 380px;
    height: 245px;
}

.getnews-container {
    margin: 40px auto;
    max-width: 265px;
}

.getnews-container h2 {
    font-weight: normal;
}

.getnewsform .row  {
    margin-bottom: 8px;
}

.getnewsform input[name=email] {
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 265px;
    height: 40px;
    padding-left: 10px;
    padding-right: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url('mail-icon2.svg') no-repeat #ffffff scroll;
    background-position: right;
    background-size: 33px;
}

  .getnewsform input[type=submit] {
    width: 265px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #846AFF;
    font-size: 1.2em;
    color: #fff;
    font-weight: normal;
}
  .getnewsform input[type=submit]:hover {
    background: #846AFF;
    color: #fff;
    cursor:pointer;
	//outline:3px solid gray;
	box-shadow: 0px 0px 1px 1px gray;
}

.getnews-container.ajax {
	width: 100%;
	height: 100%;
	max-width:100%;
   background-image: url(ajax-loader-2.gif);
   background-position: 50% 50%;
   background-repeat: no-repeat;
   margin: 0 !important;
}

.getnewsform .email-error {
    color: red;
}
/* modal Get News end */

/* Panel Get News */

#panel .getnews {
    text-decoration: none;
	background-color: #846AFF;
    display: inline-block;
	width:95px;
    cursor: pointer;
    padding: 4px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    margin-right:10px;
}

div.header #subscription a#getnews {
    color: #2D7A2D;
    text-decoration: none;
}

#panel .getnews:hover {
    cursor:pointer;
	#outline:3px solid gray;
	box-shadow: 0px 0px 1px 1px gray;
}

#panel .getnews .mail-icon {
    display: inline-block;
    background-image: url('mail-icon.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 14px;
    vertical-align: bottom;
    margin-right:8px;
}
/* Panel Get News end */



/* Apartment Status Icons */

.status-icon {
  display: inline-block;
  vertical-align: middle;
}

.status-icon.new {
  background: url('new.svg') no-repeat;
  width: 27px;
  height: 13px;
  margin-left: 2px;
}

.status-icon.vacation {
  background: url('vacation.svg') no-repeat;
  width: 13px;
  height: 13px;
  margin-left: 2px;
}

.status-icon.maintenance {
  background: url('maintenance.svg') no-repeat;
  width: 13px;
  height: 13px;
  margin-left: 2px;
}
