@font-face {
	font-family: 'Greek'; 

	src: url('/design/greek_regular.woff') format('woff'),
	     url('/design/greek_regular.ttf'); 
}
@font-face {
    font-family: "Akathistos Ucs";
    src: url("/spravochniki/slovar/fonts/akathucs8.eot");
}
@font-face {
    font-family: "Akathistos Ucs";
    src: url("/spravochniki/slovar/fonts/akathucs8.ttf") format("truetype");
	}
@font-face { font-family: "Loaded Knijitsa";  
             src: url("/design/knijitsa.ttf") format("truetype"); 
             font-style: normal; font-weight: normal;   
}

@font-face {
font-family: 'HirmosPonomar';
	src: url('/design/HirmosPonomarSIL.ttf') format('truetype'), 
	url('/design/fonts/HirmosPonomar.woff') format('woff'),
	url('/design/fonts/HirmosPonomar.otf') format('otf');
}

.greek {
font-family: 'Greek'; 

}

.csl-ponomar {
    font-family: "HirmosPonomar" !important;
    font-size: 100%;
}

.csl-ponomar a {
    font-family: "HirmosPonomar" !important;
    font-size: 100%;
}
.csl {
    font-family: "Akathistos Ucs" !important;
    font-size: 100%;
}

.csl a {
    font-family: "Akathistos Ucs" !important;
    font-size: 100%;
}

.cslK {font-family:"Knijitsa", "Loaded Knijitsa" !important; font-weight:normal;}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clr:before,
.clr:after {
  content: " ";
  display: table;
}
.clr:after {
  clear: both;
}
.clr {
  *zoom: 1;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  background: #F1E9D6 url('../design/sky023.jpg') repeat;
  height: 100%;
  min-height: 650px;
  min-width: 940px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  /*color: #553924;*/
  margin: 8px!important; 
}
h1 {
  font-size: 23px!important; 
  font-weight: bold;
}
.name h1 {
  font-size: 22px; 
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; 
}
h2 {
  font-size: 20px; 
  margin-top:12px;
}

h3, .header_h3 {
  font-size: 18px; 
  margin-top:12px;
}
h4 {
  font-size: 16px; 
  margin-top:11px;
}
h5 {
  font-size: 14px; 
  margin-top:10px;
}


table {
  margin: 0 auto;
}
h1, h2, h3, h4, h5, .header_h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #805536;
  text-decoration: none;
}
.textmain h1 a, .textmain h2 a, .textmain h3 a, .textmain h4 a, .textmain h5 a {
  font-family: Arial, Helvetica, sans-serif; 
} 
.textmain h1 a:hover, .textmain h2 a:hover, .textmain h3 a:hover, .textmain h4 a:hover, .textmain h5 a:hover {
  text-decoration: none;
} 

ul {
	padding: 10px 0 0 25px;
	font-weight: normal;
}

li {
  text-align: left; 
  font-family: "Times New Roman",Times,serif;
font-size: 18px;
	font-weight: normal;
	
}

li a {
	font-size: 16px;
}
p {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 20px;
}
a {
  font-family: verdana,arial,"ms sans serif",sans-serif;
  color: #18530B;
  text-decoration: none; 
  border-bottom: 1px solid;
}
a:hover {
text-decoration: none; border-bottom: none;  background: #fff4e5; box-shadow: 5px 5px 7px #CCCCCC;
}
.post_tags a, .navigation_max a, .navigation a, .wrap_konvert a, #help a, a[rel="nofollow"], .links-wrapper  a, .enable_padding  a, .page__logo-wrapper  a, .backmax, .back, #toTop, .optimization a, .category_footer_info a {
	border-bottom: none;
}
.post_tags a:hover, .navigation_max a:hover, .navigation a:hover, .wrap_konvert a:hover, #help a, a[rel="nofollow"]:hover, .links-wrapper a:hover, .enable_padding a:hover, .page__logo-wrapper a:hover, .backmax:hover, .back:hover, .optimization a:hover, .category_footer_info a:hover  {
	background: none;
	box-shadow: none;
}
.enable_padding .posts a, .category_footer_info a {  
	font-family:Arial;
}
.enable_padding .posts a:hover, .category_footer_info a:hover {   
	box-shadow: 5px 5px 7px #CCCCCC;
	background: #fff4e5; 
}


a.link:link             { font-family: verdana, arial, "ms sans serif", sans-serif; font-weight: normal; color: #18530B; font-size: 13px; text-decoration: none; border-bottom: 1px solid;} 
a.link:visited          { font-family: verdana, arial, "ms sans serif", sans-serif; font-weight: normal; color: #18530B; font-size: 13px; text-decoration: underline; } 
a.link:hover            { font-family: verdana, arial, "ms sans serif", sans-serif; font-weight: normal; color: #2B9614; font-size: 13px; text-decoration: none; border-bottom:none; background: #fff4e5;box-shadow: 5px 5px 7px #CCCCCC;} 

.bg-single .path a:link          { font-family: verdana, arial, "ms sans serif", sans-serif; font-weight: normal; color: #18530B; font-size: 14px !important; text-decoration: none; border-bottom: 1px solid;}
.bg-single .path a:visited               { font-family: verdana, arial, "ms sans serif", sans-serif; font-weight: normal; color: #18530B; font-size: 14px !important; text-decoration: underline; }
.bg-single .path a:hover                 { font-family: verdana, arial, "ms sans serif", sans-serif; font-weight: normal; color: #2B9614; font-size: 14px !important;text-decoration: none; border-bottom: none;  background: #fff4e5;box-shadow: 5px 5px 7px #CCCCCC;} 


.tags li a:link {
  color: #18530b;
  font-family: verdana,arial,"ms sans serif",sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none; 
  border-bottom: 1px solid;
}
.tags li a:hover {
  color: #2b9614;
  font-family: verdana,arial,"ms sans serif",sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none; 
  border-bottom: none;
  background: #fff4e5;
  box-shadow: 5px 5px 7px #CCCCCC;
}
.main_bottom_menu a:link, 
.main_bottom_menu a:visited, 
.main_bottom_menu a:active {
  font-family: verdana, arial, "ms sans serif", sans-serif;
  color: #2e3b48;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none; 
  border-bottom: 1px solid;
}
.main_bottom_menu a:hover {
  background: #fff4e5;
  box-shadow: 5px 5px 7px #CCCCCC;
  border-bottom: none;
}

.ad a {
  color: maroon;
  font-weight: bold;
}
a.red {
  color: #800000;
}
.стиль12 {
  color: #006666;
}
.drevo {
  color: maroon;
} 
.book {
  position: relative;
  padding-bottom: 40px;
  width: 100%;
  min-width: 930px;
  min-height: 100%;
  height: 1px;
}
.book .book__content-wrapper {
  position: relative;
  padding: 0 65px 23px 45px;
  min-height: 100%;
  height: 1px;
  display: table;
  width: 100%;  
} 
 .category_footer_info a{
 word-wrap: break-word;  
 word-break: break-all; 
 }

.book-side__left, .book-side__right {
  z-index: 10;
  top: 0;
  position: absolute;
  height: 100%;
}
.book-side__left {
  width: 46px;
}
.book .book-side__left {
  left: 0;
}
.book-side__left .book-side__left-top {
  top: 0px;
  height: 30px;
  background: url('../img/bg/3_08_1.png') no-repeat left top;
}
.book-side__left .book-side__left-center {
  top: 30px;
  bottom: 43px;
  background: url('../img/bg/3_20.png') repeat-y left center;
}
.book-side__left .book-side__left-bottom {
  bottom: 0px;
  height: 43px;
  background: url('../img/bg/3_23.png') no-repeat left bottom;
}
.book-side__right {
  width: 66px;
}
.book .book-side__right {
  right: 0;
}
.book-side__right .book-side__right-top {
  top: 0px;
  height: 513px;
  background: url('../img/bg/3_10_blank_1.png') no-repeat left top;
}
.book-side__right .book-side__right-center {
  top: 513px;
  bottom: 43px;
  background: url('../img/bg/3_22.png') repeat-y left center;
}
.book-side__right .book-side__right-bottom {
  bottom: 0px;
  height: 43px;
  background: url('../img/bg/3_27.png') no-repeat left bottom;
}
.book__footer {
  position: absolute;
  bottom: 0;
  left: 45px;
  right: 66px;
  height: 43px;
  text-align: center;
  z-index: auto;
  background: url('../img/bg/3_24.png') repeat-x left center;
}
.book-side__left .book-side__left-center, 
.book-side__left .book-side__left-top, 
.book-side__left .book-side__left-bottom, 
.book-side__right .book-side__right-center, 
.book-side__right .book-side__right-top, 
.book-side__right .book-side__right-bottom {
  position: absolute;
  width: 100%;
}
.mini-version-page {
  display: table;
  width: 100%;
  height: 100%;
}
.page {
  display: table-cell;
  width: 50%;
  min-width: 480px;
  height: 1px;
  min-height: 100%;
  border: solid 1px #bca054;
  border-bottom: none;
  background: #F1E9D6;
  padding: 5px 25px 5px 25px;
}
.page.left {
  position: relative;
  padding-right: 48px;
  border-left: none;
  border-radius: 0 10px 0 0;
}
.page.right {
  vertical-align: top;
  padding-left: 48px;
  border-right: none;
  border-radius: 10px 0 0 0;
} 

.page.right .page-menu__small a{
  font-size:18px;
}
.page.right .page-menu__small a.link{
  font-size:14px;
}
.page__text p {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
}

.page__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.book__center {
  position: absolute;
  z-index: 10;
  top: 4px;
  right: -26px;
  bottom: 19px;
  width: 49px;
  background: url('../img/bg/3_21.png') repeat-y center;
}
.book__header-corner {
  position: absolute;
  top: -5px;
  z-index: 10;
  right: 1px;
  width: 49px;
  height: 8px;
  background: url("../img/bg/3_05.png") no-repeat;
}
.book__footer-corner {
  position: absolute;
  z-index: 10;
  right: -31px;
  bottom: -48px;
  width: 113px;
  height: 49px;
  background: url('../img/bg/3_25_1.png') no-repeat center;
}
.page__row {
  text-align: center;
  display: table-row;
}
.page__row.middle {
  vertical-align: middle;
}
.icon-up {
  display: none;
}
.decorator {
  position: relative;
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
  width: 100%;
}
.decorator:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
  border-bottom: solid 1px #D2BE8F;
}
.decorator:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin-left: -62px;
  width: 126px;
  height: 26px;
  background: url('../img/bg/dividers_13.png');
}
.page__logo {
  position: relative;
  left: 50%;
  margin-left: -150px;
  background: url('../img/bg/3_12.png');
  display: block;
  width: 300px;
  height: 42px; 
}
a.page__logo:hover {
background: url("../img/bg/3_12.png") repeat scroll 0% -76%;
}  
.page__row.middle .page__cell {
  vertical-align: middle;
}

a.project {
 text-decoration:none;
 font-size:16px; 
  opacity: 0.6; 
}
.page__info .page__header {
  color: #18530B;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 40px 0;
}

.page__info li{ 
  color:#805536;
}

.page__info .page__text {
  text-align: justify;
}
.page__info .page__text .page__text-more {
  font-size: 14px;
}
.page-menu {
  height: auto!important;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 25px !important;
  padding-bottom: 18px!important;
}
.page-menu__line {
  margin-bottom: 10px;
}
.page__row.bottom .page__cell {
  vertical-align: bottom;
  display: table-cell;
}
.decorator.top {
  height: 150px;
  padding: 16px 0 0 0;
  margin: 16px 0 0 0;
}
.decorator.top:before {
  top: 0px;
  bottom: auto;
  border-bottom: 0;
  border-top: solid 1px #D2BE8F;
}
.decorator.top:after {
  top: -12px;
  margin-left: -62px;
}
#alphabet_nav_m {
  display: none;
}
#alphabet_nav {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 66px;
  height: 515px;
  overflow: hidden;
  background: no-repeat url('../img/bg/3_10_blank.gif') top left;
  padding-left: 1px;
  position: relative;
  top: 1px;
}
#alphabet_nav div {
  padding-left: 1px;
  padding-top: 1px;
}
#alphabet_nav a {
  display: block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  font: bold 13px Tahoma;
  color: #805536;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.links-wrapper {
  width: 100%;
  min-height: 63px;
  overflow: hidden;
  text-align: left;
}
.links {
  float: left;
  width: 33.33%;
}
.links.social {
  text-align: left;
  width: 50%;
  opacity: 0.70;
  filter: alpha(opacity=70); /*для IE8 и более ранних версий*/
      padding-top: 10px;
}

.help-stat {
		padding-top: 9px;
}
.links.social:hover { 
  opacity: 1;
  filter: alpha(opacity=100); /*для IE8 и более ранних версий*/
}
.links.path {
  font-size: 13px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 6px;
  width: 5%;
}
.links.search {
  position: absolute;
  top: 0px;
  right: -20px;
  text-align: right;
  /*width: 30%;*/
}
.path, .path A {
  font-size: 13px !important;
}
.optimization {
  position: absolute;
  right: -15px;
  top: 66px;
}
.optimization img{
	width:24px;
}
.page__row.stupeni .page__cell { 
  vertical-align: top;
}
.title_stupeni {
	font-weight:bold;
	color:maroon;
	
}
.w {
  text-align:left;
  width: 400px;
  margin: 0 auto; 
  padding-bottom: 40px;
}
.w .e {
  position: relative;
  float: right;
  width: 390px;
  min-width: 360px;
  height: 40px;
  outline: solid 0px #E8C99F;
  background: #F3E5D1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3E5D1), color-stop(34%,#F3E5D1), color-stop(94%,#E7C69B), color-stop(100%,#c19c9c));
  background: -webkit-linear-gradient(top, #F3E5D1 0%,#F3E5D1 34%,#E7C69B 94%,#c19c9c 100%);
  background: linear-gradient(to bottom, #F3E5D1 0%,#F3E5D1 34%,#E7C69B 94%,#c19c9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3E5D1', endColorstr='#c19c9c',GradientType=0 );
  cursor: pointer;
}
.w .e .e-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #faf566;
  box-shadow: 0 0 10px #fff;
  opacity: 0;
  transition: opacity 0.87s;
}
.w .e .e-content {
  position: absolute;
  padding-left: 22px;
  transition: opacity 0.7s, padding 0.8s;
}
.e-content.up {
  top: 0px;
  left:20px;
  font-weight: bold;
  font-size: 17px;
  font-family: verdana,arial;
  color: #18530B;
  text-transform: uppercase;
}
.e-content.down {
  top: 22px;
  left:20px;
  color: #6F4920; 
  color: #553924;
  font: 13px verdana,arial;
  text-decoration: none;
}
.e-content-num {
  position: absolute;     
  top: -5px;
  left:10px;  
  text-align:center;
  font: 30px verdana;
  -moz-font-feature-settings: "kern=1", "liga=1", "case=1";
       -moz-font-feature-settings: "kern" on, "liga" on, "case" on;
  color: #6F4920; 

}
.e-content-num , x:-moz-any-link { 
  font: 24px verdana;
  top: 4px;
  left:8px;   
} 
.w .stair.rotator-selected .e-hover {
  opacity: 0.25;
}
.w .e:hover .e-hover {
  opacity: 0.5;
}
.w .e:hover .e-content {
  opacity: 1;
  padding-left: 30px;
}
.w .stair > .e:before {
  content: '';
  display: block;
  width: 396x;
  height: 5px;
  transform: skewX( -50deg );
  -ms-transform: skewX( -50deg );
  -webkit-transform: skewX( -50deg );
  position: relative;
  top: -6px;
  left: 5px;
  border-left: solid 1px #E8C99F;
  border-right: solid 1px #E8C99F;
  border-bottom: solid 1px #E8C99F;
  background: #c19c9c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19c9c), color-stop(6%,#E7C69B), color-stop(66%,#F3E5D1), color-stop(100%,#F3E5D1));
  background: -webkit-linear-gradient(top, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
  background: linear-gradient(to bottom, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c9c', endColorstr='#F3E5D1',GradientType=0 );
}
.w .stair {
  clear: both;
  margin-right: 11px;
  padding-top: 6px;
}
.b-page__row.middle .b-page__cell {
  vertical-align: middle;
}
.b-page-menu__small {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 10px 0;
}
.radio__container {
  width: 100%;
  height: 30px;
  position: relative;
}
.b-online-radio .b-online-radio__open-button {
  font-size: 38px;
}
.b-online-radio .b-online-radio__open-button {
  width: 180px;
  height: 55px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  color: #553924;
  line-height: 16px;
  cursor: pointer;
  transform: scale(0.8);
  transition: transform .3s,color .3s;
}
.decorator.top.right {
  height: 110px;
  padding: 16px 0 0 0;
}
.decorator.top:before {
  top: 0px;
  bottom: auto;
  border-bottom: 0;
  border-top: solid 1px #D2BE8F;
}
.page-menu-right-bottom {
  margin-left: -25px;
  margin-right: -25px;
  height: 25px;
}
.page-menu__line:not(.small) a:hover {
  text-decoration: none;
}
.imgtxt {
  margin: 0px;
  padding: 0px 20px;
  display: inline-block;
  width: 19%; 
  min-width: inherit;
  text-align: center;
}
.imgtxt a {
  font-size: 17px;
  color: green;
  text-decoration: none;
}
.imgtxt a:hover {
  color: maroon;
  text-decoration: underline;
}
.down_string_left {
  /*float: left;*/
  padding-left: 10px;
  margin: 10px 0 0 0;
}
.down_string_right {
  float: right;
  padding-right: 30px;
  margin: 10px 0 0 0;
}
.wrap_konvert{
  position:absolute;
  bottom:15px;
  right:-15px;
}
.konvert{
  background:url('../img/bg/konvert.png') no-repeat;
  width:19px;
  height:16px;
  display:inline-block;
}
.konvert:hover{
  background-position:0 -16px;
  margin-bottom:-3px;
  height:25px;
}
.breadcrumbs {
  margin-top: 25px;
  width: 60%;
}
.path, .path A {
  font-size: 13px !important;
}
.links.search {
  position: absolute;
  top: -4px;
  right: -20px;
  text-align: right;
  padding-top: 10px;
}
.links {
  float: left;
  width: 33.33%;
}
.cur-bread {
  font-weight: bold;
  color: #1f680b;
  font-family: Verdana,Arial,"Ms Sans Serif",sans-serif;
}
.page__row.middle .page__cell {
  vertical-align: middle;
}
.enable_padding { 
  /*padding-left: 40px;*/
  padding-bottom: 20px;
}
.enable_padding li a:hover {
  text-decoration: none;
}
h2 a, 
h2 a:link, 
h2 a:visited, 
h2 a:hover {
  padding-bottom: 6px;
  font-weight: bold;
}
h2 .bg_bibrefs_t_verses a, h3 .bg_bibrefs_t_verses a, h4 .bg_bibrefs_t_verses a, h5 .bg_bibrefs_t_verses a, h1 .bg_bibrefs_t_verses a {
	font-weight: normal;
}
.bottom-foot {
  bottom: 0;
  width: 100%;
}
.page__row.bottom .page__cell {
  vertical-align: middle;
}
.bottom-left {
  overflow: hidden;
  padding-bottom: 40px;
}
.banners {
  float: left;
}
.map_site {
  width: 88px;
  height: 31px;
  border: 0px;
  float: right;
}
.bibly {
  text-align: center;
  margin: 0 100px;
}
.bibly {
  font-size: 12px !important;
}
.bibly p {
  color: #805536;
  font-size: 16px;
  text-align: center !important;
}
.bibly p a{ 
  font-size: 12px; 
}
.indexStyle2 {
  font-size: 70%;
}

.stupeni2 p, .stupeni2 li {
  font-family: 'Georgia', 'Times New Roman', 'Arial'; 
  font-size: 19px;
  text-align: justify;
  color: #342316;
}

.stupeni2 h1 { 
  color: maroon;
	-webkit-animation: blink 2s linear; 
	animation: blink 2s linear; 
	font-weight: bold;  
} 

@keyframes blink {  
	0% { color: maroon; }
	50% { color: #ff0000; }
	100% { color:maroon; } 
}
.stupeni2 p a{
  font-family: 'Georgia', 'Times New Roman', 'Arial'; 
  font-size: 18px; 
} 
.stupeni2 p .bg_bibrefs a{
  font-size: 18px; 
}  
.stupeni2 ul li a{ 
  font-family: 'Georgia', 'Times New Roman', 'Arial'; 
  font-size: 18px; 
}

.cellpadding td{
	padding:8px;

}


/*
.stupeni2 p a{
  font-size: 16px;
}*/
.stairsQwerty1 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  color: black;
  font-family: "Georgia", "Times New Roman", serif;
}
.podlozhka {
  width: 100%;
  height: 30px;
}
.enable_padding .posts a {
  padding-bottom: 0px;
  /*font-weight: normal !important;*/
  font-weight: normal;
  font-size: 18px;
  color: #18530B;
}
.enable_padding .posts a:hover {
  font-weight: normal;
  font-size: 18px;
  color: #2B9614;
}
.indexStyle1 {
  font-size: 16px;
  color: #805536;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
}
.razdel1 {
  font-weight: bold;
  text-align: center;
  color: #805536;
  /*padding-top: 20px;*/
  margin-bottom: 10px;
}
.stupeni2 a.link {
  color: #d20000 !important;
}
.stairsStyle3 {
  font-size: 80%;
}
.bg-single {
    background: #F1E9D6;
    /*margin-top: 0!important;*/
}
.page-menu__separator {
	font-weight:bold;
}	
/*
.page-menu__separator {
  padding: 0 15px;
}*/
.page-menu__separator:after {
  /*content: '&#9634;';*/
  content: '•';
}
.tags {
  padding-left: 40px; 
  max-height: 500px;
  overflow: hidden;
}
.tags li {
  margin-left: 20px;
}
.tags_all {
  padding-left: 40px;  
}
ol {
  padding: 20px 0 20px 40px;
}
.main_bottom_menu {
  font-family: Arial, Helvetica, sans-serif;
  color: #805536;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}
.main_bottom_menu > div {
  background: rgba(255,255,255,0.4);
  border: 1px solid #000;
  margin-top: 10px;
  width: 100%;
}
.footer-top {
  padding: 0 20px;
}
.footer-top>div {
  float: left;
  vertical-align: top;
  width: 20%;
  text-align: left;
  font-size: 13px;
  font-weight: 700;
  color: #45161c;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-top:after {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 1px;
}
.footer-bot:before {
  content: '';
  display: table;
  clear: both;
}
.footer-bot {
  padding: 20px;
}
.text p, .text dir {
	font-family: "Georgia", "Times New Roman", serif;
  color: #342316;
	font-weight: normal;
	font-size: 19px;
	line-height: 1.2em;
	text-align: justify;
	word-wrap: break-word;
}


.bg-single .text li  { 
  font-size: 19px;
  line-height: 1.2em;
  font-family: "Georgia", "Times New Roman", serif;
  color: #342316;
}

.bg-single .text p a {
	font-family: "Georgia", "Times New Roman", serif;
  font-size:18px;
}

.text p .stairsQwerty1 a {
	font-size:16px;
}

.bg-single a, .bg_hlnames {
  font-family: "Georgia", "Times New Roman", serif;
} 


.stupeni2 ul li a.bg_hlnames, .stairsQwerty1 a, .bg_hlnames, .zam_link, .stupeni2 ul li .stairsQwerty1 a{  
  font-size: 15px; 
}

.bg-single .text li a.bg_hlnames, .bg-single .text li a.zam_link {
	font-size:15px;
}
 
.bg-single .text li a {
  font-family: "Georgia", "Times New Roman", serif;
   font-weight: normal; 
  color: #18530B;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid;
  
}


.textmain table, .textmain table td p {
	font-family: "Georgia", "Times New Roman", serif;
	color: #000;
	font-weight: normal;
	font-size: 18px; 
	word-wrap: break-word;
}

.text a {
	word-wrap: break-word;
}
/*
.text td p {
  padding: 8px 8px 0 8px !important;
  text-align: left !important;
  font-family: verdana,arial,"ms sans serif",sans-serif !important;
	color: #805536 !important; 
	font-size: 16px !important;
}*/
#vkwidget2 {
  display: none;
}
.radio__container {
  width: 100%;
  height: 30px;
  position: relative;
}
.b-online-radio .b-online-radio__station {
  font-size: 13px !important;
}
.b-online-radio .b-online-radio__list .b-online-radio__open-popup {
  position: absolute;
  bottom: 7px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: gray;
  left: 0;
}
#button_help_out {
  width: 189px;
  height: 41px;
  position: relative;
  float:left;
}
#help {
  background: url("/design/button.png") 0 0 no-repeat;
  height: 40px;
  width: 188px;
}
#help:hover {
  background-position: 0 -42px;
}
#help_a {
  position: absolute;
  top: 0;
  display: none;
}
button.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
  -o-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 16px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 140px; 
}
button.cupid-green:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
  -o-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer; 
}
button.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
}
.home .links-wrapper-mobile {
  display: none;
}
.bg-single .text li a:hover {
  color: #2B9614;
  text-decoration: none;
}
.text p .bg_bibrefs a, h2 .bg_bibrefs_t_verses a, h3 .bg_bibrefs_t_verses a, h4 .bg_bibrefs_t_verses a, h5 .bg_bibrefs_t_verses a, h1 .bg_bibrefs_t_verses a{
  font-size:16.5px;
  font-family: "Georgia","Times New Roman",serif;
}
a[href *="/biblia/?"] {
  font-size:15px;
}
.bg-single .text p a:hover {
	 color: #2B9614;
  text-decoration: none; 
}
/*.bg-single .b-share {
  width: 137px;
}*/

/*sidebutton begin*/
.knopikWrap { 
  position:fixed; 
  top:50%; 
  right:auto; 
  left:0; 
  max-width:500px;
  z-index:999
}
.knopikWrap.hidden { 
  right:100%; 
  left:auto;
}
.knopikWrap.sidePosRight {
  right:0; 
  left:auto;
}
.knopikWrap.sidePosRight.hidden {
  right:auto; 
  left:100%;
}
.knopikCont { 
  border-radius:10px;
  padding:20px; 
  border:2px solid #2f912d;
  color:#47dc25;
  margin:0 10px 0 5px;
  margin-right: 15px;
  background-color:#F1E9D6;
}
.knopikCont ul li a {
  font-size:16px !important;
}
.sidePosRight .knopikCont {
  margin:0 5px 0 3px;
}
.knopikBut { 
  padding:0; 
  position:absolute; 
  top:50%; 
  border:1px solid #2f912d;
  border-radius:0 10px 10px 0;
  cursor:pointer;
  background-color: #9ae5a8;
}
.knopikBut:hover {
  background-color: #50f22b;
  background-image: -webkit-linear-gradient(top, #1ec53e, #50f22b, #1ec53e);
  background-image: -moz-linear-gradient(top, #1ec53e, #50f22b, #1ec53e);
  background-image: -ms-linear-gradient(top, #1ec53e, #50f22b, #1ec53e);
  background-image: -o-linear-gradient(top, #1ec53e, #50f22b, #1ec53e);
  background-image: linear-gradient(top, #1ec53e, #50f22b, #1ec53e); 
}
.sidePosRight .knopikBut{
  border-radius:10px 0 0 10px;
}
.knopikButPos {position:relative;}
.knopikButText {
  padding:7px 15px; 
  white-space:nowrap; 
  color:#fefefe; 
  text-transform:uppercase; 
  font:700 11px/1.2em Arial, Helvetica, sans-serif; 
  letter-spacing:2px
}
.kn_2 ul {
  padding:0;
  margin:0;
  list-style:none
}
.knopikCont a:hover {
  color:#fff;
}
.knopikClose {
  position:absolute;
  left:170px;
  top:12px;
  color:maroon;
  background: linear-gradient(#82d18d, #0c9c0d) repeat scroll 0 0 #0c9c0d;
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 -1px 1px #72de26 inset, 0 1px 1px #98ff98 inset, 0 0 0 1px #3caa3c, 0 2px 5px rgba(0, 0, 0, 0.3);
  color: rgb(245, 245, 245);
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: .6em;
  font-weight: 700;
  outline: medium none;
  padding: 0.8em 1.5em;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
}
.knopikClose:active {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.8) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
}
.knopikClose:hover {
  cursor: pointer;
  color:#dc0000;
}
/*sidebutton end*/


sup a:link {
	text-decoration:none;
}


li.h3 {
	margin-left:40px;
	list-style-type: circle;
}
li.h4 {
	margin-left:80px;
	list-style-type: square;
}
li.h5 {
	margin-left:120px;
	list-style-type: square;

}
li.h55 {
	margin-left:160px;
	list-style-type: square;

}
li.h555 {
	margin-left:200px;
	list-style-type: square;

}


sup a:link {
	font-size:13px;
}

.podpisR {margin: 4px 0 12px 0; text-indent:0;text-align:right; font-size:13pt; font-style:italic;}
.podpis {margin: 4px 0 3px 0; text-indent:0;text-align:left; font-size:13pt; font-style:italic;}

.vd     { font-size: 12pt; margin:30px 30px 3px 30px;}
.vd:before { 
	content:"Источник: ";
	font-weight: bold;
	font-style:italic;
	}
p.vd > a.ext {font-size: 12pt}

.h6 {
    font-size: 13.5pt;
    margin: 9px 3em 12px;
    text-align: justify;
    padding-left: 6px;
	font-style: italic;
}

.h6C {
    font-size: 13.5pt;
    margin: 9px 3em 12px;
    text-align: center;
    padding-left: 6px;
	font-style: italic;
}


a.ext:link              { font-family: verdana, "ms sans serif", sans-serif; font-weight: normal; color: #007666; font-size: 18px;} 
a.ext:visited   { font-family: arial, verdana, "ms sans serif", sans-serif; font-weight: normal; color: #007666; font-size: 18px;}
a.ext:hover     { font-family: arial, verdana, "ms sans serif", sans-serif; font-weight: normal; color: #00BBC8; font-size: 18px; text-decoration: none; }

a.bibref:link              { font-family: arial, verdana, "ms sans serif", sans-serif; font-weight: normal; color:  #18530B;; font-size: 16px; text-decoration: underline; } 
a.bibref:visited   { font-family: arial, verdana, "ms sans serif", sans-serif; font-weight: normal; color:  #18530B;; font-size: 16px; text-decoration: none; }
a.bibref:hover     { font-family: arial, "ms sans serif", sans-serif; font-weight: normal; color: #2B9614; font-size: 16px; text-decoration: none; }


.categories {
	text-transform:uppercase;
	font-weight:bold;
	font-size:18px;
	margin-bottom: 8px;
	display: block;
}
.categories a:hover {
	text-transform:uppercase;
	font-weight:bold;
	font-size:18px;
}
.categories2 {
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px; 
	display: block;
	font-family: Arial;
}
.categories2 a:hover {
	text-transform:uppercase;
	font-weight:bold;
	font-size:18px;
}

.yaform__input-text_hint {
    background-image: url("/design/av-hint.png") !important; 
	display:block;
}
.category_footer_info  {
	padding-bottom:20px;
}
.category_footer_info p {
	font-size: 18px;
}
.category_footer_info a{
	font-size: 18px;
}
.category_footer_info .konfessii a{
	font-size: 18px;
}

.style-link-post a{
	text-transform:uppercase;
	font-weight: bold !important;
	font-size: 20px !important;
}

.style-link-post a:hover{
	text-transform:uppercase; 
	font-weight: bold !important;
}
.style-link-post a:activ{
	text-transform:uppercase;
	font-weight: bold !important;
} 
.video, a[href *= "/video/metka/"] {background: url('/wp-content/themes/azbykaadapt/images/pic/video.png') no-repeat scroll 0 0 transparent; width:24px; height:24px;padding-left:22px;} 
.word {background: url('/design/word.png') no-repeat scroll 0 0 transparent; width:24px; height:24px;padding-left:25px;} 
.online {background: url('/wp-content/themes/azbykaadapt/img/online.png') no-repeat scroll 0 0 transparent; width:24px; height:24px;padding-left:25px;padding-bottom: 4px;} 

a[href *= "/audio/metka/"], a[href *= "/audio/1/"]  {background: url('/wp-content/themes/azbykaadapt/images/pic/audio.png') no-repeat scroll 0 0 transparent; width:24px; height:24px;padding-left:22px;}


.audio a, .audiov {background: url('/wp-content/themes/azbykaadapt/images/pic/audio.png') no-repeat scroll 0 0 transparent; width:24px; height:24px;padding-left:22px;}
.textmain .shemy a, .textmain ul li a[href *= "/shemy/"] {background: url('/wp-content/themes/azbykaadapt/images/pic/shemy.png') no-repeat scroll 0 0 transparent; width:20px; height:20px;padding-left:24px;} 

.test a, a[href *= "/test/"] {background: url('/wp-content/themes/azbykaadapt/images/pic/test.png') no-repeat scroll 0 0 transparent; width:25px; height:25px;padding-left:26px;padding-bottom: 2px;}
.foto a, a[href *= "/parkhomenko/foto/"] {background: url('/wp-content/themes/azbykaadapt/images/pic/foto2.png') no-repeat scroll 0 0 transparent; width:25px; height:25px;padding-left:26px;padding-bottom: 2px;}
.crosswords a, a[href *= "/crosswords/"] {background: url('/wp-content/themes/azbykaadapt/images/pic/crosswords.png') no-repeat scroll 0 0 transparent; width:25px; height:25px;padding-left:26px;padding-bottom: 2px;}

.main-menu .back_none, .page-menu__line .back_none, .page__cell .back_none, .footer .back_none, .paskha .back_none, .stupeni2 .back_none {
	background: transparent none repeat scroll 0% 0%;
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
}

.pdf, a[href $=".pdf"] {
	background: url('/design/pdf_icon.gif') no-repeat;
	padding-left:20px;
	}
.doc, a[href $=".doc"], a[href $=".docx"] {
	background: url('/design/word.png') no-repeat;
	padding-left:26px;
	}
	
.djvu, a[href $=".djvu"] {
	background: url('/design/djvu_icon.png') no-repeat;
	padding-left:20px;
	}

.konfessii li { list-style-type: square; text-align: left; font-weight: bold; margin-top: -30px;font-family: Arial,Helvetica,sans-serif;}

.book a:hover { color:#2B9614;} 

.vignette {
	padding: 10px 0 10px;
}


.project p, .project .page__row li, .project .page__row p {
	color: #553924;
	font-size: 18px;
	margin:0;
	text-align:justify;
	font-family: Arial,Helvetica,sans-serif;
}
.project  p.center{
	text-align:center;
}
.project  p.description{
	margin:0 0 10px 0;
}
.project .razdel1 p, .project .razdel1 span{
	color:#805536;
}
.project ul{
	padding: 0 0 0 50px;
	margin-top:-15px;
}
.project .stupeni2 a{
	font-size: 18px;
	display:block;
	padding-top:20px;
}
.project .mail {
	background: transparent url("../img/bg/konvert.png") repeat scroll 0% 0%;
	/*padding-left:20px;*/
	width: 19px;
height: 15px;
display: inline-block;
margin: 0 0 0 7px;
} 


.rating_stars {
	float:right;display:inline;font-size: .7em ;
	width: 270px;
}
.razdel1 .rating_stars {
	font-weight: normal;
	color:black;
}
 
  .stupeni2 .rating_stars div{ 
	display: inline;
  }
.readoffline-embed-text {
	font-size:.9em;
}

.single-page-wrapper {
  max-width:710px;
  margin:0 auto;
  padding:5px;
}

.single-page-wrapper .decorator {
    margin: 16px 0 26px 0;
}

.single-page-wrapper .sitemap {
  float: left;
  width:30%;
  text-align:left;
}
.single-page-wrapper .print {
  float: left;
  width:35%;
  text-align:center;
}
.single-page-wrapper .socials {
  float: right;
  width:35%;
  text-align:right;
}

.bg_bibfers a{
	font-size: 16px !important;
}
.razdel1_red {
  padding-top: 20px;
}
.razdel1_red h1 {
      color: #900;
      font-size: 32px!important;
      text-align: center; 
}
.razdel1_red h2 {
      color: #900;
      font-size: 24px!important;
      text-align: center; 
}
.razdel1_red h1 a {
  color: rgb(153, 0, 0) !important;
  font-size: 32px !important;
  text-align: center !important;
  text-decoration:underline !important;
}

.razdel1_red h1 a:hover {
  text-decoration:none !important;
}

.paskha .list-left {
  float:left;
  width:50%
}
.paskha .list-right {
  float:right; 
  width:50%;
}
.paskha-poem {
  width: 400px;
  margin: 0 auto;
}
.single-page-wrapper img {
  max-width: 100%;
}

.path-wrapper .large_brown {
  color: #805536;
  font-size: 16px;
}

.single-page-wrapper .rating_stars {
  padding: 0;
}

.lestnitsa .h {text-indent:0; background:white;  color:black; text-align:center; width:15; font-style:italic; font-size:14px; white-space:nowrap; padding:0; margin:0;}
.lestnitsa .v {text-indent:0; background:silver; color:black; text-align:center; font-weight:bold;  font-size:14px; white-space:nowrap; padding:2;}
.lestnitsa .h1 {text-indent:0; background:white;  color:black; text-align:center; font-style:italic; font-size:14px; white-space:nowrap; padding:0; margin:0; width:100%;}

.lestnitsa h2  { 
  font-size: 16px; 
  color:red;
  margin-bottom: 10px; 
}

.bg-single .lestnitsa-table a {
  font-family: Arial, sans-serif;
}
.bg-single .lestnitsa-table a:hover {
  text-decoration: none;
  color: #2B9614;
}

.bg-single .lestnitsa-table a.strast {
    font-style: normal;
    font-weight: bold;
}
.lestnitsa-table {
  max-width: 600px;
  width: 100%;
}
.lestnitsa-table img {
  max-width: inherit;
}

.lestnitsa-table .step {
    width: 16;
    height: 30;
}
.lestnitsa-table tr td:last-child .step { 
  position: relative; right: -1px; 
}
.discuss {
background: url('../img/group-go-icon.png') no-repeat scroll 0 0 transparent; padding-left:34px;
}

.jspPane {
  padding-left: 40px!important;
}

.imeniny-names {
  float:left;
  width: 470px;
}

.imeniny-names-form {
  float:right;
  border: 2px dotted maroon;
  padding: 10px;
  width: 204px;
}
.wp-polls p {
	font-family: Arial,Helvetica,sans-serif;
	color: #18530B;
	padding-bottom:10px;
}
.wp-polls p a{
	color: maroon;
}
.wp-polls li {
	font-family: Arial,Helvetica,sans-serif;
	font-size:18px;
}

.searchdiv {
  display: none;
}


	.yaform__input-text_hint, .yaform__input-text {
	height: 20px; 
	}
	.yaform__submit_image {
		background: url(../images/search_ico_orange.png) no-repeat !important;
		height: 20px !important;
		width: 20px !important;
	}
	/*
	.yaform__submit_image:hover {
		background: url(../images/search_ico_orange_hover.png) no-repeat !important; 
	}*/
.download_audio {
	position:relative;
	width:24px;
	height:24px;
	background: url('../img/download_audio.png') no-repeat;
	left: 210px;				/* VBog: - подгоняем размер */
	top: -15px;
	display: block;
	margin-top: -10px;
	    border-radius: 10px;
}

.audiojs { border-radius: 6px !important; width: 240px !important;  height: 27px !important;  }

.played, .duration {
	font-weight:bold;
	font-size:1.1em;
}

.audiojs .scrubber {
	margin: 8px 10px 10px 10px !important;
	width: 100px !important;
}
.audiojs .time { 
    border-left: none  !important; 
	margin: -1px 0px 0px -6px;
}


.audiojs .play {
    margin: -1px 0px 0px 0 !important;
}
 
header.navigation { 
padding: 0 0 5px; 
background-color: #f0f5f7; 
box-shadow: 0 4px 9px 0 #2a7193;
position: relative;
z-index: 100;
margin: -8px -8px 6px -8px;
opacity: 0.8;
height:23px;
}
.navigation_max { 
padding: 0 0 5px; 
background-color: #f0f5f7; 
box-shadow: 0 0.5px 10px 0 #d0c594;
position: relative;
z-index: 100;
margin: -8px -8px 4px -8px;
opacity: 0.8;
height:23px;
}
.pagination {
	text-align: center;
}
.nav-links {
    padding: 3px 5px;
}
.page-numbers {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.main-menu {
    width: 100%;
    margin: auto;
    font-size: 0;
	    text-align: center;
}
.main-menu ul{
    padding: 0;
}

.main-menu__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.main-menu__item a{
	font-size:14px;
	font-family: Helvetica, Arial;
	text-decoration: none;
	
	color: #4d0000; 
}
.main-menu__item a:hover{
	/*color: #2B9614; */ 
	color: white; 
	text-decoration: none;
	background-color:#20d057;
	border-radius: 4px;
	padding:1.5px;
}


.link {
  text-align: center;
  padding-top:15px;
}
a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s; 
} 
a.button7:hover { background: rgb(53, 167, 110); color: white;}
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
  color: white;
}

a.button15 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #18530B;
  text-decoration: none;
  user-select: none;
  padding: .3em .7em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  /*background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);*/
  background: #f9f5eb;
  transition: all .218s ease 0s;
  opacity:0.8;
}
a.button15:hover {
  color: #18530B;
  border: 1px solid rgb(198,198,198);
  /*background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);*/
  background: #f4ead2;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  opacity:1;
}
a.button15:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  /*background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));*/
  background: #e7dbbe;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  color: #18530B;
  opacity:1;
}


.table td{
	padding: 5px;
}


	.back:hover, .backmax:hover {
    background-position: 0 -49px !important; 
    background: transparent url("../images/pic/back.png") repeat scroll 0% 0%;
   }
  .backmax {
    position: absolute;
    top: 80px;
    left: 20px;
	z-index:3;
	display: block;
    background: transparent url("../images/pic/back.png") repeat scroll 0% 0%;
    display: block;
    width: 49px;
    height: 48px;
    cursor: pointer;
	}
	.online_trans { 
	position: relative;
	left: 210px;
	width: 100px;
	top: -12px;
	background: url('/wp-content/themes/azbykaadapt/img/youtube_ico.png') no-repeat scroll 0 0 transparent;
	width: 35px;
	height: 35px;
	    padding-left: 35px;
    padding-top: 7px;
	}
	.online_a {  
	font-size: 13px; 
	color:#553924;
	text-decoration:none;
	
	}
.ya-share2__item {
    padding-top: 3px;
}

div.qtip-content img{max-width: 100% !important; text-align: center;}
div.qtip-content {text-align: center !important;}

#toTop {
    background: url(/otechnik/naverh.png) 0 0 no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 1%;
    z-index: 1000;
}

#toTop:hover{background-position:0 -58px;cursor:pointer;}
.book .page-menu .mobile_test {
	background:none;
	/*padding-left: 26px;
	padding-bottom: 2px;*/
	padding-left: 0px;
	padding-bottom: 0px;
}

.stupeni2 .button15 {
	width:auto;
	height:auto;
}
.words_accents { 
}

.mobile_links {
	display:none;
}
.project .page__row p.indexStyle3, .stupeni2 p.indexStyle3 {
    font-size: 80%;
	margin-top: 10px;
}
.page__banners textarea{
	width:550px;
}

.help-stat a {
	display: inline-block;
font-family: arial,sans-serif;
font-size: 16px;
font-weight: bold;
color:#c90f0f;
text-decoration: none;
user-select: none;
padding: .33em .7em;
outline: none;
border: 1px solid rgba(0,0,0,.25);
border-radius: 4px;
background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
background: #f9f5eb;
transition: all .218s ease 0s;
opacity: 0.8;
margin-left: -10px;
}

.rw-rating-table, .rw-right {
	    display: inline-block;
		margin-bottom: -18px !important;
}
.ratings {
	font-size:12px;
	display: inline-block;
	width: 280px;
	
}
.svideteli a:first-child {
	display:inline; 
}  

.svideteli ul {
	margin-top:-13px !important;
	margin-left:-17px !important;
}  
li.child_posts {
	    list-style-type: none;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1024px) {
  .page.left>.page__wrapper>.page__row:nth-child(1) {
    height: 100px;
  }
  .single-page-wrapper .decorator {
   /* margin: 40px 0 26px 0;*/
  }
}

@media screen and (max-width: 1745px) {
	.online_trans { 
		left: 155px;
	}
}

@media screen and (max-width: 1600px) {
  .imgtxt {
    padding: 0 10px;
  }
  .single-page-wrapper .decorator {
    margin: 10px 0 26px 0;
  }
}
@media screen and (max-width: 1500px) {
	.online_trans { 
		left: 100px; 
	}
}

@media screen and (max-width: 1280px) {
  .imgtxt {
    padding: 0 0;
  }
  .main-menu__item_16 {
	display:none;
  }
  .online_trans { 
	left: 80px;
   }
}
@media screen and (max-width: 1152px) {
  .main-menu__item_15 {
	display:none;
  }
  .online_trans { 
	left: 20px;
   }
}

@media screen and (max-width: 1024px) {
  body {
    height: 100%;
    font-size: 20px;
    min-height: 500px;
    font-family: Arial, Helvetica, sans-serif; 
    margin-right: 0px;
    min-width: inherit;
  }
  .book {
    position: relative;
    padding-bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    height: auto;
    min-width: inherit;
  }
  .book .book__content-wrapper {
    position: relative;
    overflow-x: visible;
    padding: 0 0 12px 22px;
    min-height: 100%;
    height: auto;
    display: block;
  }
  .book-side__left {
    z-index: 10;
    top: 0;
    position: absolute;
    height: 100%;
    width: 23px;
    background: url('../img/bg/3_20_1.png') no-repeat left bottom;
    background-size: 23px;
  }
  .book-side__left .book-side__left-top {
    top: 0px;
    height: 15px;
    background: url('../img/bg/3_08_1.png') no-repeat left top;
    background-size: 23px;
  }
  .book-side__left .book-side__left-center {
    top: 15px;
    bottom: 43px;
    background: url('../img/bg/3_20.png') repeat-y left center;
    background-size: 23px;
  }
  .book-side__left .book-side__left-bottom {
    bottom: 0px;
    height: 22px;
    background: url('../img/bg/3_23.png') no-repeat left bottom;
    background-size: 23px;
  }
  .book-side__right {
    display: none;
  }
  .mini-version-page {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    height: auto;
    min-height: inherit;
    border: solid 1px #bca054;
    border-bottom: none;
    background: #F1E9D6;
    padding: 4px 10px 4px 10px;
    width: 100%;
    height: inherit;
    padding-right: 21px;
    border-left: none;
    border-radius: 0 10px 0 0;
    background: linear-gradient(to right, #F1E9D6 0%,#F1E9D6 97%,#D4B597 100%);
  }
  .page {
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: inherit;
    border: none;
    border-bottom: none;
    background: none;
    padding: 0;
  }
  .page.left {
    position: relative;
    padding-right: 0;
    border-left: none;
    border-radius: 0;
  }
  .page.right {
    vertical-align: top;
    padding-left: 0;
    border-right: none;
    border-radius: 10px 0 0 0;
  }
  .page__wrapper {
    display: block;
    width: inherit;
    height: inherit;
  }
  .page__row {
    text-align: center;
    display: block;
  }
  .page__logo {
    position: relative;
    left: 50%;
    margin-left: -170px;
    background: url('../img/bg/3_12.png');
    background-size: 360px;
    display: block;
    width: 480px;
    height: 99.2px;
	width: 360px;
	height: 70.2px;
  }
  
	a.page__logo:hover {
	background: url("../img/bg/3_12.png") repeat scroll 0% -76%;
	}  
  .page__logo:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    background: url('../img/bg/3_12.png');
    background-position: 0 -99.2px;
    background-size: 480px;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s;
    opacity: 0;
  }
  .icon-up {
    position: absolute;
    left: 40px;
    top: 10px;
    width: 38px;
    height: 65px;
    background: url('../img/bg/smart.png');
    background-size: 38px;
    display: block;
	z-index:3;
  }
  .back {
    position: absolute;
    top: 25px;
    left: 130px;
	z-index:3;
	display: block;
    background: transparent url("../images/pic/back.png") no-repeat scroll 0% 0%;
    display: block;
    width: 49px;
    height: 48px;
    cursor: pointer;
	}
	.back:hover, .backmax:hover {
    background-position: 0 -49px; 
   }
  .backmax {
    position: absolute;
    top: 80px;
    left: 20px;
	z-index:3;
	display: block;
    background: transparent url("../images/pic/back.png") repeat scroll 0% 0%;
    display: block;
    width: 49px;
    height: 48px;
    cursor: pointer;
	}
	
	a.back:hover {
    background-position: 0 -49px; 
   }
  .page__row.bottom .page__cell {
    display: block;
  }
  .book__center {
    position: absolute;
    z-index: 10;
    top: 3px;
    right: 0px;
    bottom: 21px;
    width: 21px;
    display: none;
  }
  .book__header-corner {
    position: absolute;
    top: -3px;
    z-index: 10;
    right: 0px;
    width: 12px;
    height: 8px;
  }
  .book__footer-corner {
    position: absolute;
    z-index: 10;
    right: 0px;
    bottom: -24px;
    width: 29px;
    height: 25px;
    background: url('../img/bg/3_25_1m.png') no-repeat center;
    background-size: 29px;
  }
  .decorator.top.right {
    height: 140px;
    padding: 16px 0 0 0;
  }
  .book__footer {
    position: absolute;
    bottom: 0;
    left: 22px;
    right: 0;
    height: 22px;
    text-align: center;
    z-index: auto;
    background: url('../img/bg/3_24.png') repeat-x left center;
    background-size: 188px;
  }
  #alphabet_nav_m {
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 10px;
    display: block;
  }
  #alphabet_nav_m:after {
    content: '';
    display: table;
    width: 100%;
  }
  #alphabet_nav_m a {
    margin: 6px 6px;
    float: left;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 50px;
    border: solid 1px #bca054;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19c9c), color-stop(6%,#E7C69B), color-stop(66%,#F3E5D1), color-stop(100%,#F3E5D1));
    background: -webkit-linear-gradient(top, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    background: linear-gradient(to bottom, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c9c', endColorstr='#F3E5D1',GradientType=0 );
  }
  #alphabet_nav_m a {
    font: bold 40px Tahoma;
    color: #805536;
    text-decoration: none;
  }
  .page__links-wrapper.decorator {
    width: inherit;
  }
  .page__links-wrapper.decorator:before,
  .page__links-wrapper.decorator:after {
    display: none;
  }
  .optimization {
    display: none;
  }
  .w {
    text-align: left;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 10px;
  }
  .w .stair {
    clear: both;
    margin-right: 11px;
    padding-top: 6px;
  }
  .w .e {
    position: relative;
    float: right;
    width: 590px;
    min-width: 560px;
    height: 70px;
    outline: solid 0px #E8C99F;
    background: #F3E5D1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3E5D1), color-stop(34%,#F3E5D1), color-stop(94%,#E7C69B), color-stop(100%,#c19c9c));
    background: -webkit-linear-gradient(top, #F3E5D1 0%,#F3E5D1 34%,#E7C69B 94%,#c19c9c 100%);
    background: linear-gradient(to bottom, #F3E5D1 0%,#F3E5D1 34%,#E7C69B 94%,#c19c9c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3E5D1', endColorstr='#c19c9c',GradientType=0 );
    cursor: pointer;
  }
  .w .stair > .e:before {
    content: '';
    display: block;
    width: 496x;
    height: 5px;
    transform: skewX( -50deg );
    -ms-transform: skewX( -50deg );
    -webkit-transform: skewX( -50deg );
    position: relative;
    top: -6px;
    left: 5px;
    border-left: solid 1px #E8C99F;
    border-right: solid 1px #E8C99F;
    border-bottom: solid 1px #E8C99F;
    background: #c19c9c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19c9c), color-stop(6%,#E7C69B), color-stop(66%,#F3E5D1), color-stop(100%,#F3E5D1));
    background: -webkit-linear-gradient(top, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    background: linear-gradient(to bottom, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c9c', endColorstr='#F3E5D1',GradientType=0 );
  }
  a {
    font-family: verdana,arial,"ms sans serif",sans-serif;
    color: #18530B;
    font-size: 16px;
    text-decoration: none; border-bottom:1px solid;;
  }
  .w .e .e-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #faf566;
    box-shadow: 0 0 10px #fff;
    opacity: 0;
    transition: opacity 0.87s;
  }
  .e-content-num {
    position: absolute;
    top: 25px;
    left: 16px;
    text-align: center;
    font: 20px verdana;
    color: #6F4920;
  }
  .w .e .e-content {
    position: absolute;
    width: 100%;
    padding-left: 22px;
    transition: opacity 0.7s, padding 0.8s;
  }
  .e-content.up {
    top: 0px;
    left: 20px;
    font-weight: bold;
    font-size: 25px;
    font-family: verdana,arial;
    color: #18530B;
    text-transform: uppercase;
  }
  .e-content.down {
    top: 40px;
    left: 20px;
    color: #6F4920;
    color: #553924;
    font: 22px verdana,arial;
    text-decoration: none;
  }
  .links.search {
    right: 0;
  }
  .page__row.stupeni .page__cell {
    padding-top: 15px;
    /*padding-bottom: 50px;*/
    vertical-align: top;
  }
  .page-menu__line {
    margin-bottom: 20px;
    padding: 10px;
  }
  .page-menu__small p {
    margin-bottom: 20px;
    padding: 10px;
  }
  .page-menu__line a {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19c9c), color-stop(6%,#E7C69B), color-stop(66%,#F3E5D1), color-stop(100%,#F3E5D1));
    background: -webkit-linear-gradient(top, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    background: linear-gradient(to bottom, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c9c', endColorstr='#F3E5D1',GradientType=0 );
    padding: 8px 16px;
    border: outset 2px #bca054;
    border-radius: 5px;
    text-decoration: none;
  }
  .page-menu__small a {
    font-size: 16px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19c9c), color-stop(6%,#E7C69B), color-stop(66%,#F3E5D1), color-stop(100%,#F3E5D1));
    background: -webkit-linear-gradient(top, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    background: linear-gradient(to bottom, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c9c', endColorstr='#F3E5D1',GradientType=0 );
    padding: 8px 16px;
    border: outset 2px #bca054;
    border-radius: 5px;
    text-decoration: none;
  }
  .down_string_left a,
  .down_string_right a {
    font-size: 16px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19c9c), color-stop(6%,#E7C69B), color-stop(66%,#F3E5D1), color-stop(100%,#F3E5D1));
    background: -webkit-linear-gradient(top, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    background: linear-gradient(to bottom, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c9c', endColorstr='#F3E5D1',GradientType=0 );
    padding: 8px 16px;
    border: outset 2px #bca054;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }
  .imgtxt a {
    font-size: 16px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19c9c), color-stop(6%,#E7C69B), color-stop(66%,#F3E5D1), color-stop(100%,#F3E5D1));
    background: -webkit-linear-gradient(top, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    background: linear-gradient(to bottom, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c9c', endColorstr='#F3E5D1',GradientType=0 );
    padding: 8px 0;
    border: outset 2px #bca054;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
  }
  .page-menu-right-bottom {
    margin-bottom: 20px;
  }
  .decorator.top {
    height: auto;
  }
  .decorator.top:before,
  .decorator.top:after {
    display: none;
  }
  .radio__container {
    /*display: none;*/
	left: 80px;
  }
  .enable_padding {
    height: auto;
    overflow-x: visible;
    padding-left: 40px;
  }
  .center-block {
    height: auto;
    overflow: visible;
    display: block;
  }
  .podlozhka {
    width: 100%;
    height: 30px;
  }
  .page__info .page__text,
  .stupeni2 p,
  .text p {
    text-align: justify;
  }
  .tags {
    max-height: inherit;
    overflow: auto;
	margin-left: 20px;
  }
  .home .links-wrapper-mobile {
    display: block;
  }
  .home .links-wrapper {
    display: none;
  }
  #vk_like {
    margin: 0 auto!important;
  }
  .links.path a.red {
    float: left;
  }
  .links.path a {
    float: right;
  }
  .links.path .vbr {
    display: none;
  }
  .imgtxt {
    padding: 0 35px;
  }
  .links {
    width: 100% !important; 
  }
  .links.search {
    position: relative;
  } 
  .textmain .rating_stars {
    float: none; 
	display: inline;
  }
  .textmain .rating_stars div{
    float: none; 
	display: inline;
  }
  .textmain .bg_forreaders { 
	padding:10px 0 50px 0;
  }
  .single-page-wrapper .socials {
    float: none; 
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
  .jspPane {
    padding-left: 0px!important;
  }
  .jspVerticalBar {
    display: none;
  }
  .main-menu__item_14, .main-menu__item_13, .main-menu__item_12  {
	display:none;
  }
.book .page-menu .mobile_test {
	background: linear-gradient(to bottom, #c19c9c 0%,#E7C69B 6%,#F3E5D1 66%,#F3E5D1 100%);
	width: auto;
	height: auto;
  }
  
 .mobile_links {
	display:block;
	}
	.desktop_links {
		display:none; 
	}
	.book .page-menu .mobile_test {
	padding: 8px 16px;
	}
	.help-stat a {
		margin-left: 0px;
	}
}
 
@media screen and (max-width: 800px) {
  body {
    margin: 0!important;
  }
  .book-side__left {
    display: none;
  }
  .book .book__content-wrapper {
    padding: 0 0 12px 0px;
  }
  .mini-version-page {
    padding: 0!important;
  }
  .w .e {
    min-width: inherit;
    height: 50px;
  }
  .e-content-num {
    top: 13px;
  }
  .e-content.up {
    top: 5px;
  }
  .e-content.down {
    top: 25px;
  }
  .page__logo {
    position: relative;
    left: 50%;
    margin-left: -130px;
    background: url('../img/bg/3_12.png');
    background-size: 260px;
    display: block;
    width: 260px;
    height: 60.2px;
  }
  
	a.page__logo:hover {
	background: url("../img/bg/3_12.png") repeat scroll 0% -76%;
	}  
  .icon-up {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 50px;
    background: url('../img/bg/smart.png');
    background-size: 30px;
    display: block;
    z-index: 10;
  }
  .back {
    position: absolute;
    top: 10px;
    left: 10px;
	  z-index:3;
	  display: block;
    background: transparent url("../images/pic/back.png") repeat scroll 0% 0%;
    display: block;
    width: 49px;
    height: 48px;
    cursor: pointer;
	}
	
	a.back:hover {
    background-position: 0 -49px; 
   }
  .page-menu__line {
    margin-bottom: 0;
    padding: 0;
  }
  .page-menu__line a {
    display: inline-block;
    margin: 10px 0;
  }
  .book__footer {
    display: none;
  }
  .page-menu-right-bottom {
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }
  .imgtxt {
    margin-bottom: 10px;
  }
  .wrap_konvert {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .page-menu__small p {
    margin-bottom: 0;
    padding: 0;
  }
  .w .e .e-content {
    font-size: 15px;
  }
  .down_string_left {
    float: none;
    padding-left: 0;
    margin: 10px 0 0 0;
  }
  .down_string_right {
    float: none;
    padding-right: 0;
    margin: 10px 0 0 0;
  }
  .page-menu__small a {
    margin: 10px 0;
    display: inline-block;
  }
  .page-menu__separator {
    display: none;
  }
  .page__row {
    padding: 0 10px;
  }
  .decorator.top.right {
    height: auto;
  }
  .footer-top>div {
    width: 33%;
  }
  .page-menu__small p {
    color: transparent;
  }
  #orphus {
    display: none;
  }
  .single-page-wrapper .print {
    display: none;
  }
  .imgtxt {
    padding: 0 15px;
  }
  .page-menu-right-bottom {
    margin-bottom: 0;
  }
  .vignette {
	  width:600px;
  } 
  .single-page-wrapper {
    padding: 15px;
    padding-top: 5px;
  }
  .imeniny-names {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .imeniny-names-form {
    float: none;
    margin: 0 auto;
  } 
	.yaform__input-text_hint, .yaform__input-text {
	height: 30px;
	
	}
	.vklike {
	display:none;
	} 
  .backmax { 
    top: 95px; 
	} 
  .project {
	margin-top: -20px;
	display: block;
	}
  .main-menu__item_11, .main-menu__item_10 {
	display:none;
  }
  .navigation, .navigation_max  {
	margin: 0;
  }	 
}

@media screen and (max-width: 640px) {
  .page__logo {
    position: relative;
    left: 50%;
    margin-left: -150px;
    background: url('../img/bg/3_12.png');
    background-size: 300px;
    display: block;
    width: 300px;
    height: 65.2px;
  }
  
	a.page__logo:hover {
	background: url("../img/bg/3_12.png") repeat scroll 0% -102%;
	}  
  .decorator.top {
    margin: 0;
  }
  .page-menu {
    padding-top: 0!important;
  }
  .w {
    width: 400px;
  }
  .w .e {
    width: 370px;
    height: 65px;
  }
  .w .e .e-content {
    width: 90%;
    line-height: 15px;
  }
  .stupeni2 a.link,
  .page__info .page__text .page__text-more {
    background: -webkit-linear-gradient(#c19c9c 0%, #E7C69B 6%, #F3E5D1 66%, #F3E5D1 100%);
    background: -o-linear-gradient(#c19c9c 0%, #E7C69B 6%, #F3E5D1 66%, #F3E5D1 100%);
    background: linear-gradient(#c19c9c 0%, #E7C69B 6%, #F3E5D1 66%, #F3E5D1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c9c', endColorstr='#F3E5D1',GradientType=0 );
    padding: 8px 30px;
    border: outset 2px #bca054;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }    
  .main-page.page__text-more {
    padding: 3px 14px;
  }
  .link {
    text-align: center;
    margin-top: 10px;
  }  
  .footer {
    display: none;
  }
  .imgtxt {
    padding: 0 2px;
  }
  .vignette {
	width:500px;
  }
    .text p, .stupeni2 p {
	text-align:left;
  }
  .paskha .list-left {
    width: 100%;
  }
  .paskha .list-right {
    width: 100%;
    float: left;
  }
  .paskha-poem {
    width: 100%;
  }
  .bg-single li {
    font-size: 16px;
  }
  .single-page-wrapper .controll-block>div {
    float: left!important;
    width: 100%!important;
    /*margin: 10px 0;*/
    text-align: left!important;
  }
  .single-page-wrapper .controll-block>div.socials {
    float: none!important; 
  }
  .single-page-wrapper table {
    margin: 0;
  }
  .lestnitsa .h {white-space:inherit;}
  .lestnitsa .v {white-space:inherit;}
  .lestnitsa .h1 {white-space:inherit;}
  .lestnitsa-table .step {
    height: 100%;
  }
  .lestnitsa-table .step {
    max-width: 100%;
  }
  #wpadminbar { 
    top: -50px !important;
	}
	.yaform__input-text_hint, .yaform__input-text {
	height: 30px; 
	}
	.vklike {
	display:none;
	}
  .page-menu__separator {
    display: none;
  }
  .backmax {
	display:none;
  } 
  .project {
	margin-top: -20px;
	display: block;
	} 
	
  .main-menu__item_9, .main-menu__item_8 {
	display:none;
  }
  .page__row2 .project16 {
	  display:block;
  }
  
	.page__banners textarea{
		width:380px;
		font-size:14px;
	}
	.banner_468 {
		width:370px;
	}
	
	.stupeni2 p, .stupeni2 li { 
		text-align: left; 
	}
}

@media screen and (max-width: 540px) {
  .imgtxt {
    width: 100%;
    padding: 0 0;
  }
  .imgtxt a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .page-menu-right-bottom {
    padding-bottom: 50px;
    position: relative;
  }
  .main-drevo-container {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .vignette {
	width:400px;
  }
    .text p, .stupeni2 p {
	text-align:left;
  }
  /*.lestnitsa-table tr td:first-child {
    display: none;
  }
  .lestnitsa-table tr .h {
    display: none;
  }*/
  #wpadminbar { 
    top: -50px !important;
	}
	.yaform__input-text_hint, .yaform__input-text {
	height: 30px;
	
	}
	.vklike {
	display:none;
	}
  .page-menu__separator {
    display: none;
  }
  .backmax {
	display:none;
  } 
  .project {
	margin-top: -20px;
	display: block;
	}
  .main-menu__item_6, .main-menu__item_7 {
	display:none;
  }
  
.download_audio {
	left: 130px;
}

.audiojs {width: 160px !important;}
 

.audiojs .scrubber { 
	width: 40px !important;
}

.audiojs .time {
	padding:0;
}

.category_footer_info { 
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
	.category_footer_info a {
		word-wrap: normal;
		word-break: normal;
	}

	#button_help_out {
	  margin:auto;
	  float:none;
	}
	.links.path a.red {
	float:none;
	}
	.help-stat {
		text-align: center;
	}
	.page__banners textarea{
		width:300px;
		font-size:14px;
	}
	.banner_468 {
		width:300px;
	}
	.tags {
    padding-left: 0px; 
    overflow: visible;
	    margin-left: 0px;
	}
}

@media screen and (max-width: 480px) {
  .footer-top>div {
    width: 100%;
  }
  #alphabet_nav_m a {
    margin: 7px 14px;
    width: 70px;
  }
  .breadcrumbs {
    width: 100%;
  }
  .stupeni2 p {
    padding: 0 10px;
  }
  #alphabet_nav_m a {
    margin: 7px 14px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
  }
  .vignette {
	   width:400px;
  }
  .text p, .stupeni2 p {
	   text-align:left;
  }
  .single-page-wrapper .sitemap {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  #wpadminbar { 
    top: -50px !important;
	}
  .w {
    width: 100%;
  }
  .w .e {
    width: 100%;
    height: 60px;
  }
  .w .stair {
    margin-right: 0;
  }
  .page__row.stupeni .page__cell {
    padding-bottom: 20px;
  }
  .w .e .e-content {
    font-size: 12px;
  }
	.yaform__input-text_hint, .yaform__input-text {
	height: 30px;
	
	}
	.vklike {
	display:none;
	}
  .page-menu__separator {
    display: none;
  }
  .backmax {
	display:none;
  } 
  .project {
	margin-top: -20px;
	display: block;
	}
  .main-menu__item_5 {
	display:none;
  }
}

@media screen and (max-width: 360px) {
  .banners {
    float: none;
    margin-bottom: 20px;
  }
  .map_site {
    float: none;
  }
  .bibly {
    margin: 0;
  }
  .w {
    width: 100%;
  }
  .w .e {
    width: 100%;
  }
  .w .stair {
    margin-right: 0;
  }
  .page__row.stupeni .page__cell {
    padding-bottom: 20px;
  }
  .w .e .e-content {
    font-size: 12px;
  }
  .b-online-radio .b-online-radio__open-button {
    width: 100px; 
	}
	.online_trans {
    left: -60px;
	}
  .vignette {
	width:300px;
  }
    .text p, .stupeni2 p {
	text-align:left;
  }
  .textmain hr {
    width: 100%!important;
  }
	.yaform__input-text_hint, .yaform__input-text {
	height: 30px;
	
	}
	.vklike {
	display:none;
	}
  .page-menu__separator {
    display: none;
  }
  .backmax, .back {
	display:none;
  }
  .page__links-wrapper {
	padding:0;
	margin:0;
	} 
  .project {
	margin-top: -20px;
	display: block;
	}
  .main-menu__item_4 {
	display:none;
  }
}

@media screen and (max-width: 320px) {


  #alphabet_nav_m a {
    margin: 7px 9px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
  }
  .e-content.down {
    top: 34px;
  }
  .w .e {
    height: 70px;
  }
  
  .vignette {
	width:280px;
  }
    .text p, .stupeni2 p {
	text-align:left;
  }
	.yaform__input-text_hint, .yaform__input-text {
	height: 30px;
	
	}
	.vklike {
	display:none;
	}
  .page-menu__separator {
    display: none;
  }
  .backmax, .back {
	display:none;
  }
  .page__links-wrapper {
	padding:0;
	margin:0;
	} 
  .project {
	margin-top: -20px;
	display: block;
	}
}
/*MEDIA QUERIES*/

                   

