#rate-box {
	box-sizing:border-box; 
	padding:0px; 
	margin:0px;
}
#rate-box * {
	box-sizing:border-box; 
	padding:0px; margin:0px;
}
#rate-box li {
	float:left; 
	width:20px; 
	height:20px;  
	margin-right:3px; 
	list-style:none; 
	cursor:defult; 
	background-image:url(stars.png); 
	background-size:100% auto; 
	background-position:0% 100%;
}
