@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media only screen and (min-width: 992px) {

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #ff4c4c;
    color: #fff;
  }

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #ff4c4c;
    color: #fff;
  }

  .article-content > p {
      margin-left: 40px;
      margin-right: 40px;
      font-size: 17px;
      line-height: 29px;
      color: #2d3133;      
  } 
  .article-col-1 a.article .title-n-teaser, .article-col-2 a.article .title-n-teaser {
      top: auto;
      -webkit-transform: none;
      transform: none;
      text-align: left;
  }
  #topper .share-buttons {
      display: inline-block;
      width: 39%;
      position: absolute;
      right: 0;
      bottom: 0;
  }
  .single-post #topper .share-buttons, .single-news #topper .share-buttons {
      width: auto;
      position: relative;
  }

  .single-format-standard #topper, .single-news #topper {
      padding-top: 45px;
  }  
  #topper .post-category, #topper .post-date {
      margin-right: 40px;
      display: inline-block;
      padding-top: 20px;
  }  
  #topper .post-category, #topper .post-date {
      display: block;
      font-size: 17px;
      font-style: italic;
      color: #a2aab3;
  }
  .single-post #topper .share-buttons, .single-news #topper .share-buttons {
      width: auto;
      position: relative;
  }  
  #topper .share-buttons {
      display: inline-block;
      width: 39%;
      position: absolute;
      right: 0;
      bottom: 0;
  }  
  #topper .post-category, #topper .post-date {
      margin-right: 40px;
      display: inline-block;
      padding-top: 20px;
  }  
}

@media only screen and (max-width: 992px) {
  #news-trending {
      margin-top: 10px !important;
  }
}

@media screen and (max-width: 768px) {

  article.container {
      margin-top: 75px;
  }

  .carousel-caption {
      width: 95%;
      left: 20px;
      top: 56px;
  }  
  div#navbar {
      margin-left: 150px;
  }
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
    
  .carousel-indicators {
      bottom: 0;
      letter-spacing: 3px;
  }
  .navbar>.container-fluid .navbar-brand {
      margin-left: 0;
  }  
}

@media screen and (max-width: 768px) and (min-width: 480px) {

  .carousel-caption h1 {
    font-size: 24px;
  }


  h1.show-general {
    display: none;
  }

  div.indoor-items {
      min-height: 460px;
  }
  .carousel-caption h1 {
    font-size: 24px;
  }


  h1.show-general {
    display: none;
  }  
}

@media screen and (max-width: 768px) {

  section.numbers .number {
    margin-bottom: 30px;    
  }  

  body {
    margin: 0;
    padding: 0;
  }

  .carousel-caption h1 {
      font-size: 3rem;
  }

  .carousel-caption {
      width: 100%;
      left: 0;
      top: 5rem;
  }
  ul#nav {
      background-color: #2a2a2a;
  }

  div#ws-inner h1 {
    font-size: 6rem;
  }

  .navbar-nav {
    margin: 0;
    margin-bottom: 20px;
  }

  section#wifi-corner {
    background-size: 0%,100% !important;
  }

  ul.inline {
      padding-left: 15px;
  }

  h6.downlink {
      text-align: left;
      margin-left: 20px;
  }

  div#wifi-basic,div#wms,div#seamless,div#flashzone,div#corner,div#indieschool,div#movin {
    padding: 20px 10px;
  }

  div#wms h3 {
      float: none !important;
      margin-left: 15px;
  }  

  .show-tab {
    display: block !important;
  }

  h1.show-general {
    display: none;
  }  

  .input-group.search {
    padding: 0;
    margin: 0;
    margin-left: 15px;
  }

  .navbar.navbar-default.top-red {
    background: #FFFFFF;
  }  

  section#numbers {
    padding: 40px 0;
  }  

  div#parallelogram {
    display: none;
  }  

  .navbar-header {
      min-height: 55px;
      background-color: #fff;
  }  
  img.wifi-logo {
      width: 75px;
      margin: 0;
  }

  h1.slider {
    font-size: 14px;
  }

  .carousel-indicators {
      bottom: 10px;
  }

  h1.title-section {
      font-size: 28px;
  }
  h3 {
      font-size: 22px;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #fff;
  }

  div#navbar {
      margin-left: -15px !important;
      padding: 0;
      background-color: #2a2a2a !important;
  }

  .cbp-spmenu {
      background: #2a2a2a !important;
  }

  .cbp-spmenu a {
      color: #fff !important;
  }

    .navbar-default .navbar-nav>li>a {
      color: #fff;
      padding: 20px 10px;
      font-size: 16px;
    }

    .navbar-default .navbar-nav>li>a:hover {
        transition-duration: 0.3s;
        color: #D92F3D;
        background:none;
    }

  }


@media screen and (max-width: 480px) {

  img.box-news {
    margin-left: 0;
    left: 0;
    width: 100%;    
  }

  div.pad-xs {
      padding: 0;
  }

  .news-home {
    margin: 15px;
  }

  .phone-hide {
    display: none !important;
  }
  .phone-visible {
    display: block !important;
  }

  .carousel-inner > .item > img{
      display: block;
      width: auto;
      max-width: none;
      background-position: 50%;
  }  

  section#services {
    background-position: bottom;
  }

  div.indoor-items {
    min-height: 265px;
  }
  a.article .title-n-teaser, a.grid-item .title-n-teaser {
      padding: 25px 45px;
  }
  .carousel-caption h1 {
      color: #fff;
      text-align: center;
      margin-left: -15px;
      width: 100%;
      position: absolute;
      bottom: 50px;
  }

  a.btn.btn-transparent {
      margin-left: 0 !important;
  }

  ul.inline {
    padding-left: 10px;
  }

  /*Hide Indicators For Resposive Adjie*/
  .carousel-indicators {
    bottom: 0;
    /*display: none;*/
  }

  #btnfind {
    margin-top: 0;
  }


  .bread ul {
      padding-left: 3px;
  }

  img.get-app {
      width: 95px;
  }

  div.testimonials {
      height: auto; 
      background:none; 
  }

  #quote-carousel .carousel-control {
      margin-top: 12rem;
  }

  button.btn.btn-block.btn-danger.white {
      margin-bottom: 25px;
  }

  h6.downlink span {
      position: absolute;
      margin-top: -10px;
      margin-left: 15px;
  }

  .owl-theme .owl-controls .owl-buttons .owl-prev,.owl-theme .owl-controls .owl-buttons .owl-next {
      top: 50px;
      font-size: 14px;    
  }

  ul.list-buy {
      padding: 0;
  }

  a.btn-buy-wifi {
      font-size: 15px;
      padding: 10px;
  }

  footer.footer {
      text-align: center;
  }

  div.socmed-footer {
      margin-bottom: 20px;
  }

  div.logo-footer {
      margin-top: 20px;
  }


  div.info-alert a {
      font-size: 12px;
      letter-spacing: 1px;
  }

  .carousel-caption {
      text-align: left;
      top: 2rem;
      padding: 0;
      margin: 0;
      left: 2%;
  }

  /*Carousel Responsive Adjie*/
  /*.carousel-inner > .item > img {
    display: none;
  }*/



  .carousel-inner {
      height: 540px;
      /*background-image: url(../images/bg-wifi.png);*/
      background-position: 50%;
      background-size: 230%;
  }

  div.socmed {
    float: none;
    text-align: center !important;
    width: 100%;
    margin: auto;
  }

  div.info-alert {
    font-size: 10px;
  }
  section#slider {
    padding-top: 0  ;
  }

  button.btn.btn-white.btn-block {
      font-size: 11px;
  }
  section {
      padding: 5px 0;
  }
  section#how-connect {
      padding-bottom: 110px;
  }
  section#about {
      background-size: cover;
      background-position: 35%;      
  }   

  #quote-carousel .carousel-indicators .active {
      width: 50px;
      height: 50px;
  }  

  section#blog {
      padding: 20px 0;
  }

  .google-maps {
      height: 500px;
  }  

   p.hotspot-area {
      text-align: left;
      padding-left: 20px;
      padding-right: 10px;
  } 

  .input-group.search-location {
      padding-left: 5px;
  }
  div.hotspot {
      background-color: #fff;
  }  

   p.user-says {
      font-size: 14px;
  } 
}
