@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  height: 100%;
  margin: 0 auto;
  font-family: 'Roboto','Proxima-Nova', sans-serif;

  color: #2a2a2a;
  width: 100%;
}

h2.info-title {
  color: #be272e;
  font-family: 'proxima-nova-bold', sans-serif;
}

.box-home {
  max-height: 300px;
}

ul.privacy {line-height: 25px;font-size: 16px;}

.fb_iframe_widget iframe {
    margin-top: -6px !important;
}

a.btn.btn-trans.btn-number {
    color: #505050;
}

.form-horizontal .control-label {
    text-align: left;
}

i {
    width: 20px;
}

.cbp-spmenu a:hover {
    color: #D92F3D !important;
}

div#placement-bottom {
    position: absolute;
    top: -99999px !important;
    left: -99999px !important;
}

div.video-tutorial {
    padding: 10px;
    text-align: center;
    font-size: 24px;
    
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    background: rgba(234, 6, 6, 1);
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;  
}

img.box-news {
    left: 100%;
    margin-left: -125%;
    height: 100%;
}

span.card-title.cat {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

span.card-title.date{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 10px;
    background: none;
    font-weight: 300;
}

p.card-title.posts {
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    font-weight: 800;
    padding-top: 15px;
    margin-bottom: 0;
}

.card-title-news {
    position: absolute;
    bottom: 0;
    padding: 4px;
    line-height: 18px;
    width: 100%;    
    background: rgba(1,1,1,0.5);
}

.news-home {
    margin: 10px 0;
    padding: 10px;
    background-color: #666666;
    height: 197px;    
}

#news-trending {
  margin-top: 0;
}


div.box-news {
    height: 197px;
    padding: 0;
}

.lines {
    border-bottom: 1px solid #888787;
    padding-bottom: 10px;
}

.news-home h4 {
  color: #fff;
}

.news-home img {
  width: 50px;
  display: inline-block;
}

.news-home li {
  padding: 5px 0px;
}

.news-home li a {
  font-size: 14px;
  line-height: 15px;
  color: #fff;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

span.i-form button {
    background: none;
    border: none;
    position: absolute;
    z-index: 9;
    margin-left: -35px;
    margin-top: 5px;
    color: #666;
}

h3,h4,h5,h6 {
  font-family: 'proxima-nova',sans-serif;
}

div.client-partner:hover {
 background: #cccccc;
 transition: 0.3s;
}

div.client-partner {
    padding: 40px 0;
    min-height: 580px;
}

.services-item {
  color: #fff;
}

div#wifi-basic {
  padding: 40px;
  background: #666;  
}

div#wifi-basic h3{
  color: #fff;
}

div#wms {
    padding: 40px;
    color: #666;
}

div#flashzone,div#movin {
    background-color: #f2f2f2;
    padding: 40px;
}

div#IndiSchool {
    padding: 40px;
}

#wms p,#wms h3,#wms td, #wms li,#flashzone p,#flashzone h3,#IndiSchool p,#IndiSchool h3,#movin h3, #movin p{
    color: #666;
}

div#corner {
    background-color: #808080;
    padding: 40px;
}

div#corner h3 {
  color: #fff;
}

ul.nav-news {
    padding-left: 0;
}

div.news-content {
    padding: 10px 20px;
    border: 2px solid #b1b1b1;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: #333333;
}

.news-content ul {
    padding-left: 0;
}

.news-content h4 {
  font-family: proxima-nova-bold,sans-serif;
}

ul.nav-news li {
    padding: 10px;
}

div.rule-content {
  background-color: #808080;
  padding: 10px 20px;
  margin-top: 10px;    
}

h2.title-news {
    border-bottom: 3px solid #EC3E45;
}

ul.nav-news li {
    border-bottom: 1px solid #C7C7C7;
    border-bottom-style: dashed;
}

ul.nav-news li:hover > a {
  color: #fff;
}

ul.nav-news li:hover,ul.nav-news li.active {
    background-color: #EC3E45;
}

ul.nav-news li.active > a {
  color: #fff;
}

div.rule-content a {
  padding: 10px;
  color: #fff;
  font-size: 14px;
  font-family: Proxima-Light,sans-serif;
}

.panel {
  color: #111;
}

a {
  transition-duration: 0.3s;
}

ul.main-menu li a {
    font-size: 16px;
    text-align: left;
}
.cbp-spmenu-vertical a {
    border-bottom: none !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background: #ff4c4c;
    transition-duration: 0.3s;
    color: #fff;
}

span.xs-font {
    font-size: 14px;
    position: absolute;
    top: -50px;
}

a.ser,a.ser:visited,a.ser:hover,a.ser:focus {
  color: #fff;
  text-decoration: underline;
}

ul#nav {
    letter-spacing: 1px;
}

.bold {
  font-family: 'Proxima-Nova-Bold', sans-serif !important;
}

caption {
    /*font-size: 16px;*/
    font-family: 'Proxima-Nova-Bold', sans-serif;
    color: #111;
}

.carousel-caption h1 {
    font-size: 65px;
    font-family: 'Raleway', sans-serif;
}

div.promo-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ECECEC;
    margin-bottom: 20px;
    min-height: 480px;    
}

div.news-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ECECEC;
    margin-bottom: 20px;
    min-height: 480px;    
}

p.posted {
    font-size: 12px;
    color: #D9534F;
}

div.promo-item:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(35, 35, 35, 0.2);
}


ul.dot-red {
  font-size: 16px;
  list-style-type: disc;
}

.promo-item h3 {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

.promo-item p {
    font-size: 14px;
}

img.logo-partners,img.logo-clients {
    max-width: 74px;
}

ul.partner,div.clients {
    border: 1px solid #EAEAEA;
}

hr.client {
    width: 75%;
    margin: 0 auto;
    border-color: #EAEAEA;
}

img.logo-big {
    max-width: none;
    width: 60%;
}

a.btn.btn-default:hover {
    background-color: #eee;
}

a.btn.btn-default {
    background: #fff;
    border-radius: 5px;
    color: #111 !important;
}

h1.title-section {
    text-align: center;
    color: #2a2a2a;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    margin-top: 50px;    
}

h1.tentang-wifi {
    color: #2a2a2a;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    text-align: center;
    padding-bottom: 40px;
}

img.wifi-logo {
    width: 110px;
    position: absolute;
    z-index: 9;
    margin-left: 30px;
    margin-top: 10px;
}

div#navbar {
    margin-left: 200px;
}

img.logo-footer {
    width: 100px;
}

div.logo-footer {
    text-align: left;
}

div.socmed-footer {
    text-align: right;
}

.item.full {
  width: 100%;
}

img.full {
  width: 100%;
}

header.wifi-header {
  height: 100%;
}

div.info-alert {
  background-color: #db1f1f;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
div.info-alert p {
  color: #fff;
  font-family: proxima-nova-bold, sans-serif;
}

a.white {
  color: #fff !important;
}

div.bordered {
    height: 70px;
}

div.bordered p {
    border: 1px solid #FFC0C0;
    padding: 10px;
    font-family: proxima-nova-bold;
    font-size: 12px;
}

a.white:hover {
  text-decoration: none;
}


a.navbar-brand {
    padding: 10px;
}

.navbar-default {
    /*background: rgba(255,255,255,0.7);*/
    border: none;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.navbar.navbar-default.top-red {
  background: #db1f1f;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar2 {
    background-color: #E2E2E2;
    padding: 20px;
}

.navbar2 a {
    color: #666 !important;
    font-size: 14px;
    float: right;
    margin-top: -10px;
}

#parallelogram {
    width: 150px;
    height: 100px;
    position: absolute;
    margin-left: 10px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: rgba(255, 255, 255, 0.9);
    top: 0;
}

section {
    padding: 40px 0;
}

img.slider {
  width: 100%;
  height: auto;
}

div.connect {
  text-align: center;
  margin-top: 20px;
  display: none;
}

div.device {
  display: none;
}

img.connect {
  margin: auto;
}

.center {
  text-align: center;
  margin:auto;
}

p.info-more {
    margin-top: 25px;
    font-weight: 700;
}

a {
  color: #e9212a;
  font-size: 16px;
  font-family: 'Proxima-Nova-Bold', sans-serif;
}

p {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
}

a:hover,a:focus,a:visited {
  color: #e9212a;
}

p.detail-info {
  min-height: 40px;
}

button.btn.btn-red {
    background-color: #cc0002;
    color: #fff;
    border: none;
    font-family: 'Proxima-Nova',sans-serif;
    font-weight: 700;
    min-width: 120px;    
}

button.btn.btn-white {
    background-color: #FFFFFF;
    color: #ff0000;
    border: none;
    font-weight: 700;
    min-width: 110px;
}

button.btn.btn-black {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    font-family: 'Proxima-Nova',sans-serif;
    font-weight: 700;
    min-width: 120px;

}

img.promo {
    margin-bottom: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div.byaccess {
  margin: 5px 0;
}

section#slider {
  padding:0;
}

.carousel-caption {
    width: 100%;
    left: 20px;
    top: 15rem;
}

section#hotspot-area {
    padding: 0;
}

section#how-connect {
    background-size: 34%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: 100% bottom;
    color: #222;
    margin-top: 100px;
}

section#contactus {
    color: #fff;
    text-align: center;
    padding: 40px 0 100px;
    background-image: url(../images/gplaypattern.png);  
}

section#news {
    /*background-image: url(../img/notebook.png);  */
    background-color: #ecf1f6;
}

div#ws-inner h3 {
    font-family: proxima-nova-bold;
    text-align: center;
}

#news article {
    padding: 6px;
}

div#fs {
    padding: 40px;
    background-image: url(../images/bg-buy-wifi.png);
    background-repeat: repeat-y;
}

div.lws {
    padding: 40px;
    padding-bottom: 0;
}

section#buy-wifi-page {
    background-image: url(../images/bg-buy-wifi.png);
    background-size: cover;
    background-position: 10px;
    padding-bottom: 0;    
}

section#ws {
    background-color: #e4e4e4;
    min-height: 500px;
}

div#ws-inner h1 {
    color: #eb1c24;
    font-size: 10rem;
    font-family: proxima-nova-bold,sans-serif;
}

h3.pointws {
    color: #1b1b1b;
    text-align: left !important;
}

div#ws-info {
    padding: 10px;
    border: 2px solid #EB1C24;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#ws-info ul {
    list-style-type: disc;
}

div#ws-inner h1 span {
    font-size: 24px;
    position: absolute;
    margin-top: -20px;
}

div#inetp {
    background-color: #333;
    padding: 40px;
    text-align: center;
}

div#inetp h1 {
    color: #fff;
    font-size: 6rem;
    font-family: proxima-nova-bold,sans-serif;
}

div#inetp h1 span {
    color: #ed1b24;
}

div#inetp h4 {
  font-family: proxima-nova-bold,sans-serif;
  font-size: 2rem;
  color: #fff;
}

div#inetp h4 span {
  color: #ed1b24;
}

section.general {
    background-image: url(../images/bg-buy-wifi.png);
    background-size: cover;
    min-height: 550px;
}

div.show-products {
    padding-bottom: 50px;
}

.show-tab {
  display: none;
}

.img-partner-voucher {
    margin-top: 15px;
}

section#breadcrumb {
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 120px;
    text-align: center;
    padding-bottom: 45px;
    background-image: url(../images/breadcrumb.jpg);
    background-size: cover;
    background-position: 50%;
    min-height: 400px;
}

section#services {
    color: #fff;
    text-align: center;
    padding: 0;
    background-image: url(../images/bg-buy-wifi.png);
    background-size: cover;
    background-repeat: repeat;
}

img.logo-partners-home {
    padding: 20px;
    vertical-align: middle;
    max-width: 170px;
}

section.bread {
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 120px;
    text-align: center;
    padding-bottom: 45px;
    background-size: cover;
    min-height: 400px;
    background-position: 50%;
}

section#services-bread {
    background-image: url(../images/services.jpg);
    text-align: left;
    padding-top: 50px;
    min-height: 500px;
}

section#buywifi {
    background-image: url(../images/buywifi.jpg);
    text-align: left;
    padding-top: 50px;
    min-height: 500px;
}

div#seamless {
    background-color: #cacaca;
    padding: 40px;
}

section#solution {
    background-image: url(../images/solution.jpg);
    text-align: left;
    padding-top: 50px;
    height: 530px;
}

section#services-page,section#solution-page {
  padding: 40px;
  background-color: #666666;
}

.bread h1 {
    letter-spacing: 2px;
    text-align: left;
    padding-top: 40px;
    color: #2b2b2b;
    font-size: 7rem;
    font-weight: 700;
}

#solution h1 {
  color: #fff;
}

section#about {
    background: url(../images/about.png) fixed;
    background-size: cover;
    font-size: 30px;
    color: #fff;
    padding: 200px 0 100px 0;
    position: relative;
    background-position: 50%;
}

section#wifi-corner {
    background: url(../images/wifi-woman.png)no-repeat,url(../images/bg-buy-wifi.png)no-repeat;
    position: relative;
    background-position: right bottom,center;
    /*background-size: 20%,100%;*/
}

img.corner {
    max-width: 1000px;
    margin: auto;
}

div.corner {
  text-align: center;
  color: #db1f1f;
}

div.box-red {
    padding: 20px;
    border: 2px solid;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 700;
}

div.corner h1 {
  font-size: 42px;
  font-family: Raleway;
  font-weight: 700;
}

section#about2 {
    background: url(../images/gplaypattern.png);
    font-size: 30px;
    color: #1b1b1b;
    padding: 50px 0 80px;
    position: relative;
    background-position: 50%;
    text-align: justify;
}

section#testimoni {
  min-height: 550px;
}

.speaker-list {
    text-align: center;
    margin-top: 20px;
}

.speaker-list li {
    display: inline-block;
    margin: 40px -1px;
    width: 185px;
    vertical-align: top;
}

img.logo-about {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 80px;
}

section#testimonial {
    background: url(../images/notebook.png) repeat;
    min-height: 600px;
    color: #2b2b2b;
    position: relative;
}

p.hotspot-area {
  text-align: center;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #de525e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(35, 35, 35, 0.2);
  outline: 0 none;
}

.form h3 {
    font-weight: 300;
    margin-top: 40px;
    color: #c63a46;
    margin-bottom: 0;
    font-size: 30px;
}

div.tutorial h3 {
    margin-top: 40px;
    color: #c63a46;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.form .form-control:focus, textarea.form-control:focus {
    border-color: #de525e;
    box-shadow: none;
}


.form-control {
    border: 1px solid #e1e1e1;
    border-bottom: 3px solid #e1e1e1;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 15px 10px;
    height: auto;
}

.form .form-description {
    color: #999;
    border-bottom: 1px solid #efefef;
    margin-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

div.map {
  padding-top: 40px;
}

footer.footer {
    padding:40px;
    padding-bottom: 20px;
    background-color: #1a1a1a;
}

p.white {
  color: #fff;
}

p.copyright {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

p.testimonial {
    border: 1px solid #CECECE;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
}

#nav .current a {
    background: #ff0000;
    color: #FFFFFF;
}

div.divaice {
  display: none;
}

img.icon-xs {
  width: 30px;
}

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-content {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 390px;
    background-color: black;
    color: #FFF;
}

#owl-demo .item{
  margin: 5px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

p.services {
    text-align: center;
    padding: 20px;
    font-family: 'Proxima-Nova-Bold';
    letter-spacing: 1px;
    text-transform: uppercase;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 70px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 120px;
    height: 120px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

img.promo:hover {
    opacity: 0.9;
}

section#blog {
    background-color: #666666;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/preload.gif) center no-repeat #fff;
}

#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
 
#contactform { 
  position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 300px;
  margin: 60px auto 0;
  padding: 10px;
  background: black;
  height: auto;
  opacity: .45; /* Set the opacity for a slightly transparent Google Form */ 
  color: white;
}

.google-maps {
  position: relative;
  padding-bottom: 50%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

div.hotspot {
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 20px 15px;
    font-size: 16px;
}

    .headroom {position: absolute;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;z-index: 99;}
    .headroom--unpinned {top: -120px;}
    .headroom--pinned {top: 0;z-index: 99;}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff0000;
}

p.user-says {
    color: #2b2b2b;
}

.phone-visible {
    display: none !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     display: block;
     width: 100%;
     height: auto !important;
 }

 div.socmed {
    float: right;
    font-size: 18px;
    padding-right: 15px;
}

ul {
    list-style-type: none;
    overflow: hidden;    
}

li.bread {
    margin-bottom: 5px;
}

li.buy-wifi {
    display: inline;
    color: #fff;
    text-align: center;
}

a.btn-buy-wifi {
    color: #fff;
    font-size: 2rem;
}

a.btn-buy-wifi:hover,a.btn-buy-wifi:focus, a.btn-buy-wifi:active, a.btn-buy-wifi.active {
  color: #fff;
  border-bottom: 2px solid #fff;
  box-shadow: none;
}

h3.title-buy {
    background: #999;
    padding: 10px;
    color: #fff;
}

div.list-products {
    background-color: rgba(0,0,0,0.5);
    padding: 15px 5px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.grey-block {
    background-color: #4d4d4d;
    color: #fff;
}

div.red-block {
    background-color: #db1f1f;
    color: #fff;
}

a.btn.btn-transparent {
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-family: proxima-nova,sans-serif;
}

a.btn.btn-transparent:hover,a.btn.btn-transparent:focus{
  background-color: #fff;
  color: #4d4d4d;
}

ul.inline li {
    display: inline-flex;
}

a.btn.btn-bread {
    color: #1b1b1b;
    text-align: left;
    min-width: 200px;
    font-size: 16px;
    font-family: proxima-nova;
}

.panel-danger>.panel-heading {
    color: #FFFFFF;
    background-color: #f4a8a8;
    border-color: #ebccd1;
}

div.bordered p:hover {
    background: #eb1c24;
    color: #fff !important;
    transition: 0.3s;
}

h4.hdpnl {
    text-align: center;
    font-size: 3rem;
}

div.services-item h3 {
    width: 225px;
    height: 35px;
    position: relative;
    z-index: 1;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    color: #2B2B2B;
}

div#seamless p {
    color: #2B2B2B;
    line-height: 25px;
}

.btn-primary {
    background: #cacaca !important;
    border-radius: 5px !important;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary:visited {
    background: #cacaca;
}

div.services-item h3:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:3px solid #ed1c24;
}

div.services-item h3#seamless:before {
  border-color: #2b2b2b;
}

a.btn.btn-bread:hover,a.btn.btn-bread:active,a.btn.btn-bread.active {
    background-color:#c42a2a;
    color: #fff;
}

ul.socmed {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

ul.socmed li {
  float: left;
}

a.socmed {
  color: #fff;
  padding: 5px;
}

h4.panel-title {
  font-size: 18px;
  font-weight: 800;
}

a:hover,a:active,a:focus {
  text-decoration: none;
}

h1.title-bread {
    font-family: 'Proxima-Nova-Bold', sans-serif;
    font-weight: 700;
    line-height: 64px;
    font-size: 6rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 90px;
}

.input-group.search {
    padding: 5px;
    display: inline-flex;
    /*margin-left: 50px;*/
    margin-top: 8px;
    width: 250px;
}

input.form-control.search {
    height: 10px;
}

.carousel-caption.left {
    text-align: left;
    left: 20px;
    top: 30%;
}

p.slider {
    letter-spacing: 1px;
    font-size: 16px;
}

#breadcrumb h1:after {
    margin: 20px auto 0;
    display: block;
    content: '';
    height: 3px;
    width: 80px;
    background: #fff;
}

p.bold {
  font-family: 'Proxima-Nova-Bold';
}

ul.price {
  list-style-type: none; 
  padding-left:0;
}

div.get-app {
  text-align: center;
}

img.get-app {
    width: 150px;
    padding: 5px;
    margin: auto;
}

div.how-to {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.how-to .img-responsive,.voucher .img-responsive,.seamles .img-responsive {
    margin: 0 auto;
}

img.seamless {
  width: 300px;
}

div.voucher-detail {
  text-align: center;
  padding:20px;
}

img.voucher {
    border-radius: 10px;
    padding-bottom: 20px;
}

img.img-partner-voucher {
    width: 80px;
}

.price-potong {
  margin-bottom: 20px;
}

div.table-potong {
  padding-bottom: 10px;
}

p.sub-title {
    font-size: 14px;
    text-align: center;
    color: #909090;
}

h3.big-left {
    font-family: Raleway;
    font-size: 48px;
    color: #ff0000;
    text-align: right;
    line-height: 50px;
    font-weight: 700;
}

.btn-default.btn-border {
    background: none;
    border: #c63a46 1px solid;
    color: #c63a46;
    padding: 10px 20px;
    font-size: 18px;
    font-size: 'Raleway',sans-serif;
    font-weight: 700;
    margin-top: 30px;
}

.btn-default.btn-border:hover {
    background: #c63a46;
    color: #fff;
}

section.numbers {
    background: url(../images/indonesia.jpg);
    background-size: cover;
    font-size: 30px;
    color: #fff;
    min-height: 404px;
    padding: 100px 10px;
    position: relative;
    background-position: 50%;
    margin-top: 10px;
}



span.news-date-title {
    position: absolute;
    bottom: 0;
    background: rgba(48, 48, 48, 0.42);
    width: 86%;
    padding: 0 5px;
    color: #fff;
}

.side-home-news {
    background-color: #6F6F6F;
    height: 180px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

div.side-home-news a {
    font-size: 12px;
    color: #fff;
}

div#flag-news {
    background-color: #E2E2E2;
    padding: 15px 0;
}

span.news-cat {
    position: absolute;
    top: 0;
    margin: 5px;
    background: #DB1F1F;
    padding: 5px 10px;
    color: #fff;
}

.overlay {
    position: absolute;
    z-index: 0;
    background: url(../images/pattern.png),rgba(0,0,0,.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

section.numbers .number {
    color: #505050;
    font-size: 18px;
}

section.numbers .big {
    font-family: "Proxima-Nova-Bold",sans-serif;
    display: block;
    color: #505050;
    line-height: 85px;
    font-size: 4rem;
}

.btn {
  transition: background-color 0.5s ease;
}

.btn-trans {
    font-size: 24px;
    letter-spacing: 2px;
    background: none;
    border: 3px solid #fff !important;
    color: #fff;
    padding: 15px 45px;
}

.block-red {
    background-color: #DB1F1F;
    color: #fff;
    text-align: center;
}

div.item-vas {
    background-color: #979797;
    margin-top: 20px;
    padding: 20px;
    color: #fff;
}

div#vms {
  padding: 40px;
}

div#indoor {
  background-color: #808080;
  padding: 40px 40px 0 40px;
}

div#indoor p, div#indoor h3,div#lan p,div#lan h3,div#ads p,div#ads h3  {
  color: #fff;
}

div#lan {
  background-color: #808080;
  padding: 40px;
  padding-bottom: 0;
}

div#ads {
 background-color: #808080;
  padding: 40px;
}

div#roaming {
  background-color: #e6e6e6;
  padding: 40px;
}

div#m2m {
  background-color: #e6e6e6;
}

div#vms h3,div#indoor h3, div#m2m h3 {
    font-family: proxima-nova-bold;
}
div#vms h3 {
  margin-top: 80px;
}

div#m2m h3 {
  margin-top: 80px;
}

img.m2m {
  margin-left: 15px;
}

.item-vas h4 {
  font-family: proxima-nova-bold,sans-serif;
}

.btn-number {
  border: 3px solid #505050 !important;
  color: #505050;
  margin-top: 50px;
}

section#solution ul li a,section#buywifi ul li a,section#services-bread ul li a {
    color: #fff;
}

div#pilihan-vas {
    background-color: #666;
    padding: 20px 40px;
}

div.pvw {
    background-color: #e4e4e4;
    padding: 40px;
}

div.pvw h4,div.pvg h4 {
  font-family: proxima-nova-bold,sans-serif;
}

div.pvg {
    background-color: #cacaca;
    padding: 40px;
}

div.pvg h4 {
  
}


div#pilihan-vas h3 {
  color: #fff;
}

.btn {
    border: none;
    border-radius: 0;
}

.btn-trans:hover,.btn-trans:focus,.btn-trans:active {
    background: #fff;
    transition: background-color 0.5s ease;
}

.investor-list {
    text-align: center;
    margin-top: 20px;
}
.investor-list li {
    display: inline-block;
    margin: 10px 5px;
    /* width: 185px; */
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #ff0000;
    background: none;
}

ul.main-menu.nav.nav-stacked.affix-top {
    line-height: 20px;
    padding: 20px 0;
} 


.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid #ecedf1;
}
.testimonials blockquote:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote img {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid #ecedf1;
  background: white;
  bottom: -65px;
  left: 50%;
  margin-left: -25px;
}

blockquote p.clients-words {
    font-size: 14px;
}
span.clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/*
*   Owl Carousel Owl Demo Theme 
* v1.23
*/

.owl-theme .owl-controls{
  margin-top: 10px;
  text-align: center;
}
  /*Owl Indicator di Hilangkan*/  
.owl-pagination {
  display: none;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 10px 20px;
  font-size: 3rem;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}

#owl-demo .owl-item > div{
  text-align: center;
  color: white;
  font-size:32px;
  border:1px white;
  padding: 0px 30px;
}


.wrapper-with-margin{
  margin:0px 50px;
}

 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -25px;
  top: 115px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -25px;
  top: 115px;
}

div.buy-seamless {
  color: #1a1a1a;
  overflow: scroll;
  max-height: 300px;
  overflow-x: hidden;
}

img.seamless {
  margin: auto;
  margin-top: 50px;  
}

h6.downlink {
  margin-top: 40px;
}

h6.downlink span {
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

h6.downlink span a {
  color: #fff;
}

p.step-1 span {}
img.step {padding:10px;width:50px;}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

div#voucher {
    padding: 40px;
    background-color: #666;
}

div#voucher h2,div#voucher p{
  color: #fff;
}

div#ptpls {
    /*padding: 40px;*/
/*    background-image: url(../images/buywifi3.png);
    background-size: contain;
    min-height: 100%;
    height: 1000px;*/
}

span.flashzone {
    padding: 10px;
    background-color: #eb1c24;
    border-radius: 10px;  
}

span.flashzone a {
  color: #fff;
}

.newsroom-news article {
    padding: 6px;
}

a.article, a.grid-item {
    position: relative;
    display: block;
    height: 345px;
    padding: 15px;
    background-color: #272727;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.225s ease-in;
    transition: all 0.225s ease-in;
}

.grid-item-inner {
    -webkit-filter: grayscale(30%) brightness(70%);
    filter: grayscale(30%) brightness(70%);
    -webkit-transition: all 0.225s ease-in;
    transition: all 0.225s ease-in;
    background-size: cover;
    opacity: 0.6;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}


[class*="article-col-"]:hover a.article .grid-item-inner {
    opacity: 0;
}

a.article span.date, a.grid-item span.date {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(204, 204, 204, 0.25);
    padding: 10px;
    font-style: italic;
}

a.article .title-n-teaser, a.grid-item .title-n-teaser {
  height: 100%;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 0.225s ease-in;
  transition: all 0.225s ease-in;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 25px 45px;
}

span.share-buttons a {
    color: #fff;
    font-size: 2rem;
}

.hover-elements {
    top: auto;
    right: auto;
    bottom: 40px;
    left: 10%;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.225s ease-in;
    transition: all 0.225s ease-in;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

[class*="article-col-"]:hover .hover-elements, a.article:after, a.grid-item:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}


[class*="article-col-"]:hover .title-n-teaser {
  margin-top: -15px;
  transition: all 0.225s ease-in
}


div.title-n-teaser p {
    font-size: 14px;
}

.single-post #topper, .single-news #topper {
    text-align: center;
}

#topper {
    padding-top: 70px;
    padding-bottom: 50px;
    background: #1a1a1a;
    text-align: center;
    color: #fff;    
}

section#topper h1 {
    font-size: 4rem;
    font-family: proxima-nova-bold;
}

section#topper h3 {
    font-family: proxima-nova-bold;
    text-transform: uppercase;
    color: #a2aab3;
}

#topper .post-category, #topper .post-date {
    display: block;
    font-size: 17px;
    font-style: italic;
    color: #a2aab3;
}
section#topper a {
    color: #a2aab3;
    font-size: 16px;
}
span.share {
    font-size: 17px;
    font-style: italic;
    color: #a2aab3;
}

.article-content {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.article-content > p {
    margin-bottom: 30px;
}

.article-content img.aligncenter:first-of-type {
    margin-top: 0;
    margin-bottom: 50px;
}
.article-content img.aligncenter {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

article.container {
    margin-top: 5px;
    margin-bottom: 100px;
}

article ul li {
  font-size: 17px;
}

div.not-found h1 {
  font-size: 10rem;
  letter-spacing: 2rem;
  color: #DB1F1F;
}

div.not-found {
  text-align: center;
}


  .wizard {
      margin: 20px auto;
      background: #fff;
  }

      .wizard .nav-tabs {
          position: relative;
          margin: 40px auto;
          margin-bottom: 0;
          border-bottom-color: #e0e0e0;
      }

      .wizard > div.wizard-inner {
          position: relative;
      }

  .connecting-line {
      height: 2px;
      background: #e0e0e0;
      position: absolute;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 50%;
      z-index: 1;
    margin-top: 28px;      
  }

  .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
      color: #555555;
      cursor: default;
      border: 0;
      border-bottom-color: transparent;
  }

  span.round-tab {
      width: 70px;
      height: 70px;
      line-height: 70px;
      display: inline-block;
      border-radius: 100px;
      background: #fff;
      border: 2px solid #e0e0e0;
      z-index: 2;
      position: absolute;
      left: 0;
      text-align: center;
      font-size: 25px;
  }
  span.round-tab i{
      color:#555555;
  }
  .wizard li.active span.round-tab {
      background: #fff;
      border: 2px solid #DB1F1F;
      
  }
  .wizard li.active span.round-tab i{
      color: #DB1F1F;
  }

  span.round-tab:hover {
      color: #333;
      border: 2px solid #333;
  }

  .wizard .nav-tabs > li {
    width: 33%;
    margin-top: 55px;      
  }

.table>tbody>tr>td {
  border-top: 1px solid #a5a5a5 !important;
}

  .wizard li:after {
      content: " ";
      position: absolute;
      left: 46%;
      opacity: 0;
      margin: 0 auto;
      bottom: 0px;
      border: 5px solid transparent;
      border-bottom-color: #DB1F1F;
      transition: 0.1s ease-in-out;
  }

  .wizard li.active:after {
      content: " ";
      position: absolute;
      left: 47%;
      opacity: 1;
      margin: 0 auto;
      bottom: 0px;
      border: 10px solid transparent;
      border-bottom-color: #DB1F1F;
  }

  .wizard .nav-tabs > li a {
      width: 70px;
      height: 70px;
      margin: 20px auto;
      border-radius: 100%;
      padding: 0;
  }

      .wizard .nav-tabs > li a:hover {
          background: transparent;
      }

  .wizard .tab-pane {
      position: relative;
      padding-top: 50px;
  }

  .wizard h3 {
      margin-top: 0;
  }
  .step1 .row {
      margin-bottom:10px;
  }
  .step_21 {
      border :1px solid #eee;
      border-radius:5px;
      padding:10px;
  }
  .step33 {
      border:1px solid #ccc;
      border-radius:5px;
      padding-left:10px;
      margin-bottom:10px;
  }
  .dropselectsec {
      width: 68%;
      padding: 6px 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #333;
      margin-left: 10px;
      outline: none;
      font-weight: normal;
  }
  .dropselectsec1 {
      width: 74%;
      padding: 6px 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #333;
      margin-left: 10px;
      outline: none;
      font-weight: normal;
  }
  .mar_ned {
      margin-bottom:10px;
  }
  .wdth {
      width:25%;
  }
  .birthdrop {
      padding: 6px 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #333;
      margin-left: 10px;
      width: 16%;
      outline: 0;
      font-weight: normal;
  }


  /* according menu */
  #accordion-container {
      font-size:13px
  }
  .accordion-header {
      font-size:13px;
    background:#ebebeb;
    margin:5px 0 0;
    padding:7px 20px;
    cursor:pointer;
    color:#fff;
    font-weight:400;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px
  }
  .unselect_img{
    width:18px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
  }
  .active-header {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    background:#F53B27;
  }
  .active-header:after {
    content:"\f068";
    font-family:'FontAwesome';
    float:right;
    margin:5px;
    font-weight:400
  }
  .inactive-header {
    background:#333;
  }
  .inactive-header:after {
    content:"\f067";
    font-family:'FontAwesome';
    float:right;
    margin:4px 5px;
    font-weight:400
  }
  .accordion-content {
    display:none;
    padding:20px;
    background:#fff;
    border:1px solid #ccc;
    border-top:0;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px
  }
  .accordion-content a{
    text-decoration:none;
    color:#333;
  }
  .accordion-content td{
    border-bottom:1px solid #dcdcdc;
  }



  @media( max-width : 585px ) {

      .wizard {
          width: 90%;
          height: auto !important;
      }

      span.round-tab {
          font-size: 16px;
          width: 50px;
          height: 50px;
          line-height: 50px;
      }

      .wizard .nav-tabs > li a {
          width: 50px;
          height: 50px;
          line-height: 50px;
      }

      .wizard li.active:after {
          content: " ";
          position: absolute;
          left: 39%;
      }
  } 

select.form-group {
    border: 1px solid #e1e1e1;
    border-bottom: 3px solid #e1e1e1;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 15px 10px;
    height: auto;
    min-width: 400px;
}

img.box-news.innews {
    left: 0;
    margin-left: 0;
    height: auto;
    min-width: 500px;
    max-width: 565px;
}

#map {
  height: 500px;

}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#showlatlong {
 margin-top:10px;
  height: 300px;
}