@font-face {
  font-family: 'NRK Etica Slab Bold';
  src: url("fonts/NRK_Etica_Slab_Bold.woff2") format('woff2'), url("fonts/NRK_Etica_Slab_Bold.woff") format('woff'), url("fonts/NRK_Etica_Slab_Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  position: relative;
  border: 1px solid #e0e0e0;
  padding: 10px 25px 10px 15px;
  line-height: 1;
  color: #26292A;
  text-decoration: none;
}

a:hover {
  background-color: #f6f6f6;
}

.tipsboks-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.tipsboks-body {
  font-family: 'NRK Etica Slab Bold','Helvetica Neue', sans-serif;
  font-size: 26px;
  line-height: 1.4;
  color: #00A1CF;
}

.tipsboks-icon {
  display: block;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  color: #6c6c6c;
}
