.cc-previewbar{
	width:100%;
	height:40px;
	background:#000;
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	position:fixed;
	top:0;
	z-index:100;
}
.cc-leftside{
	float:left;
	width:20%;
	font-size:20px;
	padding:10px;
}
.cc-rightside{
	float:right;
	width:75%;
	font-size:14px;
	text-align:right;
	padding:10px;
}
.cc-previewbar a{
	color:#fff;
	text-decoration:none;
}
.cc-comic{
	margin: 0 auto;
	margin-top: 0px;
}
#cc-comic{
}
#cc-comicbody{
	position:relative;
}
#cc-transcriptclick{
	padding:10px;
	border:1px dashed black;
	text-align:center;
}
.cc-chapterthumb{
	padding:5px 10px 0px 5px;
	float:left;
}
.cc-chapterthumb img{
	max-width:200px;
	max-height:200px;
	width:auto;
	height:auto;
}
.cc-thumbcontain{
	float:left;
}
.cc-newsheader{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
}
.cc-publishtime{
	padding-bottom:5px;
	font-size:10px;
}
.cc-newsbody{
	padding:10px 0px;
}
.cc-transcript{
	padding:10px 0px;
}
.cc-tagline{
	padding:5px 0px;
}
.cc-commentlink{
	padding-top:10px;
}
.cc-commentheader{
	padding-top:10px;
	font-weight:bold;
	font-size:24px;
}
.cc-chapterrow{
	font-size:16px;
	font-weight:bold;
	padding:10px 0px;
	border-bottom:1px solid #000;
}
.cc-chapterrow a{
	text-decoration:none;
}
.cc-searchheader{
	font-size:24px;
	padding-bottom:10px;
	font-weight:bold;
}
.cc-searchbox{
	width:200px;
	padding:10px;
	float:left;
}
.cc-searchbox a{
	text-decoration:none;
}
.cc-searchcomicname{
	text-align:center;
	font-weight:bold;
	padding-bottom:5px;
}
.cc-searchcomicimgbox{
	text-align:center;
	height:200px;
}
.cc-searchcomicimgbox img{
	max-width:200px;
	max-height:200px;
	width:auto;
	height:auto;
}
.cc-searchprevnext{
	padding:5px 0px;
	text-align:center;
	width:100%;
	font-size:16px;
}
.cc-searchpages{
	padding:5px 0px;
	text-align:center;
	width:100%;
	font-size:16px;
}
.cc-blogtitle{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
}
.cc-blogpublishtime{
	padding-bottom:5px;
	font-size:10px;
}
.cc-blogcontent{
	padding:10px 0px;
}
.cc-transcript{
	padding:10px 0px;
}
.cc-tagline{
	padding:5px 0px;
}
.cc-blogcommentlink{
	padding-top:10px;
}
.cc-blogcommentheader{
	padding-top:10px;
	font-weight:bold;
	font-size:24px;
}
.cc-postdivider{
	clear:both;
	height:20px;
}
.cc-blogprevnext{
	padding:5px 0px;
	text-align:center;
	width:100%;
	font-size:16px;
}
.cc-blogpages{
	padding:5px 0px;
	text-align:center;
	width:100%;
	font-size:16px;
}
.cc-searchblogtitle{
	padding:10px;
	border-bottom:1px solid #000;
}
#contentwarningimg{
	background:#fff;
	top:10px;
	left:160px;
	position:absolute;
	width:400px;
	padding:15px;
	font-weight:bold;
	font-size:16px;
	text-align:center;
}
#cc-comicbody{
	position:relative;
}
#cc-coverup{
	 /* Fallback for web browsers that don't support RGBa */
	background-color: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background-color: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#cc-hoverdiv{
	position:absolute;
	width:60%;
	padding:3%;
	left:17%;
	top:35%;
	background:#fff;
	color:#000;
	font-size:2em;
	border-radius:10px;
}
.cc-gallery{
	list-style: none outside none;
}
.cc-gallery li{
	margin: 10px 10px 0px 0px;
	float:left;
	width: 125px;
	height:125px;
	text-align:center; 
	display:block;
}
.cc-gallery li a {
	height: 125px;
	width: 125px;
	cursor:pointer;
}
.customHtml{
	font-size:12px;
}
.customHtml a{
	color:#fff;
}
.cc-showbig{
	list-style: none outside none;
	padding:0;
}
.cc-showbig li{
	display:block;
}
.cc-showbig li a {
	cursor:pointer;
}