#cc-coverup{
	font-size:10px !important;
}
body{
	margin:0;
	padding:0;
	background:#d4dff1;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#comicleft a img{
	max-width:100%;
}
#buythisimg{
	display:block;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
a{
	color:#516a92;
}
.cc-publishtime{
	font-size:16px;
	font-weight:bold;
}
#wrapper{
	margin:0 auto;
	width:1175px;
	margin-top:15px;
}
#header{
	width:1175px;
	height:196px;
	background:url('images/header.png');
	position:relative;
}
#header a, #header div{
	position:absolute;
}
#menu{
	width:700px;
	height:60px;
	top:120px;
}
#logo{
	width:420px;
	height:120px;
}
#menu a{
	position:static;
	float:left;
	display:block;
	height:60px;
}
#boardleader{
	padding:4px;
	border-radius:4px;
	background:#2c4266;
	right:20px;
	top:15px;
	width:728px;
	height:90px;
}

#patreon{
	right:0px;
	width:450px;
	top:110px;
	height:85px;
}
#archive{
	width:145px;
}
#forum{
	width:120px;
}
#store{
	width:120px;
}
#facebook{
	width:195px;
}
#rss{
	width:100px;
}
#mainwrap{
	width:1095px;
	background:#fff;
	padding:20px;
	margin: 0 auto;
	border-top:15px solid #f89b69;
	border-bottom:15px solid #f89b69;
}
#comicleft{
	float:left;
	width:725px;
}
.nav{
	height: 79px;
	width: 678px;
	margin-bottom:15px;
	clear:both;
	position:relative;
}
#navtop{
	margin: 0 auto;
	width:678px;
}
#navbottom{
	width:678px;
	position:relative;
	margin:0 auto;
	height:94px;
}
.nav a{
	height:79px;
	float:left;
	display:block;
}
#aftercomic{
	position:absolute; 
	z-index:10; 
	left:500px;
	top:70px;
}
.first{
	width:102px;
	background:url('images/first.png');
}
.prev{
	width:79px;
	background:url('images/prev.png');
}
.next{
	width:76px;
	background:url('images/next.png');
}
.last{
	width:101px;
	background:url('images/last.png');
}
.navspace2{
	float:left;
	height:79px;
	width:177px;
}
.navspace1{
	float:left;
	height:79px;
	width:181px;
}
.navaux{
	width:218px;
	background:url('images/random.png');
}
#cc-comicbody{
	width:725px;	
	margin-bottom:15px;
	text-align:center;
}
#ibar{
	width:700px;
	margin: 0 auto;
	background:#516a92;
}
#sharebar{
	width:700px;
	height:95px;
	background:url('images/sharebar.png');
	margin: 0 auto;
	margin-top:15px;
}
#sharebaricons{
	height:85px;
	margin-top:5px;
	margin-left:180px;
	float:left;
}
#sharebar a{
	height:85px;
	float:left;
	display:block;
}
#facebookshare{
	width:103px;
	background:url('images/facebook.png');
}
#pinterestshare{
	width:81px;
	background:url('images/pinterest.png');
}
#redditshare{
	width:96px;
	background:url('images/reddit.png');
}
#stumbleuponshare{
	width:115px;
	background:url('images/stumbleupon.png');
}
#twittershare{
	width:101px;
	background:url('images/twitter.png');
}
#blogheader{
	clear:both;
	width:186px;
	height:106px;
	margin:20px 10px;
	background:url('images/blog.png');
}
#blogarea{
	width:700px;
	margin: 0 auto;
}
#comicright{
	width:360px;
	float:right;
}
#boxad1{
	width:300px;
	height:250px;
	background:#ccc;
	margin: 0 auto;
}
#linkarea{
	margin-top:15px;
	clear:both;
}
#linkarealeft{
	width:170px;
	float:left;
}
#linkarearight{
	width:180px;
	float:right;
}
#weinerworks{
	width:170px;
	height:69px;
	background:url('images/weinerworks.png');
	display:block;
}
#linkarea{
	font-weight:bold;
	color:#516a92;
	text-align:center;
	font-size:14px;
}
#linkarea a{
	text-decoration:none;
}
#sociallinks{
	width:130px;
	margin: 0 auto;
	margin-top:10px;
	height:61px;
	background:url('images/social.png');
	clear:both;
}
#sociallinks a{
	width:65px;
	height:69px;
	float:left;
	display:block;
}
#appearances{
	width:180px;
	height:69px;
	background:url('images/appearances.png');
}
#contact{
	width:180px;
	height:69px;
	background:url('images/contact.png');
}
#hiveworks{
	width:339px;
	height:174px;
	background:url('images/hiveworks.png');
	display:block;
	margin: 0 auto;
}
#boxad2{
	width:300px;
	height:250px;
	background:#ccc;
	margin: 0 auto;
	margin-top:15px;
}
#newinstoreheader{
	width:356px;
	height:67px;
	background:url('images/newstore.png');
	margin: 0 auto;
	margin-top:20px;
}
#newinstore{
	padding:10px;
	width:300px;
	margin: 0 auto;
	background:#2c4266;
	text-align:center;
}
#hobbits{
	width:320px;
	height:600px;
	margin: 0 auto;
	margin-top:20px;
	background:#ccc;
}
#footer{
	width:1176px;
	height:85px;
	margin: 0 auto;
	background:url('images/footer.png');
}
#footer a{
	display:block;
	float:left;
	height:85px;
}
#footerarchive{
	margin-left:20px;
	width:150px;
}
#footerforum{
	width:120px;
}
#footerstore{
	width:120px;
}
#footerfacebook{
	width:195px;
}
#footerrss{
	width:100px;
}
#privacy{
	width:160px;
	margin-left:100px;
}
.tower{
	width:160px;
	height:600px;
	float:left;
}
.desktophide{
	display:none !important;
}
#mobilemenu{
	display:none;
}
#mobilefooter{
	display:none;
}
#mobfacebook{
	display:none;
}
#mobtwitter{
	display:none;
}
#mobtumblr{
	display:none;
}


#buythisimg{
	width:480px;
}

@media only screen and (min-width: 800px) and (min-device-width: 800px){

#extracomic{
	width:102px;
	background:url('images/button.png');
	position:relative;
	left:590px;
	top:-90px;
	height:79px;
	display:block;
}
#navtop .nav,#navtop{
	width:578px;
}
}
@media only screen and (max-width: 480px) and (max-device-width: 480px){
.nav,#navbottom,#navtop{
	height:45px;
}
#buythisimg{width:240px;

}

}
@media only screen and (min-width: 481px) and (max-width:800px) and (min-device-width: 481px) and (max-device-width: 800px){
.nav,#navbottom,#navtop{
	height:80px;
}
#buythisimg{width:240px;

}


}

@media only screen and (max-width: 800px) and (max-device-width: 800px){
#buythisimg{width:240px;

}

body{
	background:#d4dff1;
}
.navspace2{
	width:0px;
}
#buttonwidth{
	width:85%;	
}
#mobfacebook{
	width:12.875%;
	float:left;
	display:block;
	position:relative !important;
}
#mobfacebook img{
	max-width:100%;
	height:auto;
}
#mobtwitter{
	width:11.625%;
	float:left;
	display:block;
	position:relative !important;
}
#mobtwitter img{
	max-width:100%;
	height:auto;
}
#mobtumblr{
	width:14.375%;
	float:left;
	display:block;
	position:relative !important;
}
#mobtumblr img{
	max-width:100%;
	height:auto;
}
#mobaftercomic{
	position:static;
	width:100%;
	display:block;
	text-align:center;
}
#mobaftercomic img{
	max-width:100%;
	height:auto;
}
.mobilehide{
	display:none !important;
}
#sharemob a img{
	max-width:100%;
	height:auto;
}
#sharemob a{
	float:left;
	display:block;
}
#extracomic{
	width:16.875% !important;
	background:none;
	left:0px !important;
	top:0px !important;
}
#facebookshare{
	width:13.75%;
	background:none;
}
#pinterestshare{
	width:10.375%;
	background:none;
}
#share{
	width:19.5%;
	float:left;
}
#stumbleuponshare{
	width:14.375% !important;
	background:none;
}
#redditshare{
	width:12.375%;
	background:none;
}
#twittershare{
	width:12.75%;
	background:none;
}
#mobilemenu{
	display:block;
	background:#2c4266;
	width:100%;
}
#mobhiveworks{
	width:41%;
	float:left;
	display:block;
}
#mobpatreon{
	width:59%;
	float:left;
	display:block;
}
#mobilemenu img{
	max-width:100%;
	height:auto;
}
#mobilefooter{
	width:100%;
	background:#d4dff1;
}
#mobilefooter img{
	max-width:100%;
	height:auto;
}
#mobilefooter a{
	float:left;
	display:block;
}
#mobcopyright{
	float:right;
	width:26%;
}
#mobweinerworks{
	width:25.375%;
}
#mobcontact{
	width:20.875%;
}
#mobarchive{
	width:34%;
	float:left;
	display:block;
}
#mobstore{
	width:34.25%;
	float:left;
	display:block;
}
#mobforum{
	width:31.75%;
	float:left;
	display:block;
}
#logo img{
	width:100%;
	height:auto;
}
.desktophide{
	display:block !important;
}
#wrapper{
	width:100%;
	background:#d4dff1;
	margin-top:0px;
}
#header{
	width:100%;
	background:#2c4266;
	height:auto;
}
#logo{
	width:61.125%;
	float:left;
	height:auto;
	position:relative !important;
}
.nav{
	margin-top:10px;
}
#navtop,#navbottom{
	width:100%;
}
.nav{
	width:85%;
}
#navtop .nav, #navbottom .nav{
	margin:0 auto;
}
#cc-comicbody{
	width:100%;
}
#mobsocial{
	width:39%;
	display:block;
	float:right;
	position:relative !important;
}
#mobad1{
	display:block;
	width:320px;
	height:50px;
	margin: 0 auto;
	background:#ccc;
	clear:both;
	position:relative !important;
	max-width:100%;
}
#mobad2{
	display:block;
	width:300px;
	height:250px;
	margin: 0 auto;
	background:#ccc;
	clear:both;
	position:relative !important;
	max-width:100%;
	margin-top:10px;
	margin-bottom:10px;
}
#mobsocial img{
	width:100%;
}
#leaderboard{
	display:none;
}
#mainwrap{
	border:none;
	width:100%;
	padding:0px;
}
#cc-comicbody img{
	max-width:100%;
	height:auto;
}
#share img{
	max-width:100%;
	height:auto;
}
#comicleft{
	width:100%;
}
.nav a{
	height:100%;
	background-size: contain;
	background-repeat:no-repeat;
}
.navspace1{
	width:31.43%;
}
.first{
	width:17.71%;
}
.prev{
	width:13.72%;
}
.navaux{
	width:37.85%;	
}
.next{
	width:13.19%;
}
.last{
	width:17.53%;
}
#mobheaderclr{
clear:both;height:10px; width:100%; position:relative !important;
}

#ibar{
	display:none;
}
#sharemob{
	width:100%;
	height:auto;
	clear:both;
}
#pagecontent{
	width:90%;
	margin: 0 auto;
}

}