@charset "utf-8";
@font-face{font-family:"mosaiqueMedium"; src:url('/fonts/mosaiqueArabic1.eot');src:url('/fonts/mosaiqueArabic1.eot?#iefix') format('embedded-opentype'), url('/fonts/mosaiqueArabic2.woff') format('woff'), url('/fonts/mosaiqueArabic3.ttf') format('truetype'); font-weight:normal;font-style:normal;}
@font-face{font-family:"mosaiqueBold"; src:url('/fonts/mosaiqueArabic-Bold1.eot'); src:url('/fonts/mosaiqueArabic-Bold1.eot?#iefix') format('embedded-opentype'), url('/fonts/mosaiqueArabic-Bold2.woff') format('woff'), url('/fonts/mosaiqueArabic-Bold3.ttf') format('truetype'); font-weight:normal; font-style:normal; }
.arabe .fa-quote-left,
.arabe .fa-quote-right,
.arabe .fa-chevron-left,
.arabe .fa-chevron-right,
.arabe .fa-angle-double-left,
.arabe .fa-angle-double-right{filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);transform: scale(-1,1); }
body.arabe{direction:rtl;font-size:14px; font-family:'Droid Arabic Naskh', Arial;}
.arabe .col-md-1, .arabe .col-md-2, .arabe .col-md-3, .arabe .col-md-4, .arabe .col-md-5, .arabe .col-md-6, .arabe .col-md-7, .arabe .col-md-8, .arabe .col-md-9, .arabe .col-md-10, .arabe .col-md-11, .arabe .col-md-12 {float:right;}
.arabe .topBar .webradio .title{padding-right:0px;padding-left:15px;left:auto;}
.arabe .topBar .socialMedias{text-align:left;}
.arabe .topBar .langues .toggle, .arabe .toggler {font-size:13px;}
.arabe .topBar .langues .check:checked ~ .switch {left: 2px;right:37.5%;}
.arabe .topBar .langues .switch {right:2px;left:37.5%;}
.arabe .liveEmission{ background-position:95% 0 !important;}
.arabe .liveEmission .detail{text-align:left;}
.arabe .nextEmission {text-align:left;}
.arabe .nextEmission::after {background-position:top right;}
.arabe .mega-menu ul.menu-links {float:right;}
.arabe .mega-menu ul.menu-links > li {float:right;}
.arabe .mega-menu .drop-down a {float:right;text-align:right; }
.arabe .mega-menu .drop-down * {float: right; }
.arabe .mega-menu [class*="grid-col-"] {float:right;}
.arabe .mega-menu .drop-down.full-width li.image-description a img {float: right;}
.arabe .mega-menu.menu-search-right .menu-search-bar {float:left;}
.arabe .mega-menu .menu-search-bar i.fa {left:0;right: auto;}
.arabe #mainMenu{left:auto; right:0;}
.arabe .list_carousel li {float:right;}
.arabe .pub .title{left:15px;text-align:left;  bottom: 3px;}
.arabe .ss-style-foldedcorner::after {background-image:linear-gradient(45deg, #f7f7f7 51%, transparent 50%);left: 0; right:auto;}
.arabe a .ss-style-foldedcorner::after {left:0;right:auto;background-image:-webkit-linear-gradient(top right, transparent 51%, #fff 50%);background-image: linear-gradient(45deg, #fff 51%, transparent 50%);}
.arabe .thumb .categorie{left:0; right:auto;}
.arabe .thumb .name { right:auto;left:-59px;/* right:0;*/ }
.arabe .categorie1 a{ padding:5px 5px 5px 10px;}
.arabe .title a {line-height:1.8em;}
.arabe .more{text-align:left;}
.arabe .more a strong {padding-right:5px; padding-left:0;}
.arabe .carousel-caption{ text-align:right;}
.arabe .carousel-indicators {right:0; left:auto;}
.arabe .block_title span{padding:0 15px 0 25px;}
.arabe .block_title a{float:left;}
.arabe .block_title a strong{padding:0 5px;}
.arabe .news .share span{float:left !important;}
.arabe .sondage .ss-style-foldedcorner::after {background-image: linear-gradient(45deg, rgb(96, 199, 130) 51%, transparent 50%);left:0; right:auto;}
.arabe .bg_black  .ss-style-foldedcorner::after{background-image: linear-gradient(45deg, rgb(34, 34, 34) 51%, transparent 50%);left:0; right:auto;}

.arabe .sondage .content .question {border-left:none; border-right:1px solid #fff;padding-left:0px;padding-right:10px;}
.arabe .sondage .content ul{padding-left:0px;padding-right:10px;}
.arabe .results button{float:left;padding:0 15px 0 20px;}
.arabe .results .ss-style-foldedcorner::after {background-image: linear-gradient(45deg, #f7f7f7 51%, transparent 50%);left:0;right:auto;}
.arabe .contentPoll .ss-style-foldedcorner::after {background-image: linear-gradient(45deg, #fff 51%, transparent 50%);}
.arabe .horoscope #prevHoro{ left:auto; right:10px}
.arabe .horoscope #nextHoro{ left:10px;right:auto;}
.arabe .meteo #prev{right:35%; left:auto;}
.arabe .meteo #next{left:27%; right:auto;}
.arabe #meteo .br_meteo{ border-right:none; border-left:1px solid #FFF;}
.arabe .podcasts .title div {float:left;}
.arabe .flash_news .item span{background:url(/images/front/bg_date_flash_news.png) left no-repeat;float:right;margin-left:10px;margin-right:0px;}
.arabe .flash_news .block_title .ss-style-foldedcorner::after {background-image:linear-gradient(45deg, #fff 51%, transparent 50%);left:0; right:auto;}
.arabe .liveScore .block_title{margin-right:0px;margin-left:10px;} 
.arabe .podcastsList .block_title {left:auto;right:20px;}
.arabe .block_gallery{direction:ltr;}
.arabe .menuTable li .pts{ float:left;}
.arabe .music .thumb {float:right;margin-left:25px;margin-right:0;}
.arabe .music .content .position{left:auto;right:90px;}
.arabe .music .content .positionStar {left:auto;right:90px;}
.arabe .music .play {right:auto;left:1px;}
.arabe .music .play a {background:url(/images/front/play.png) no-repeat left center;}
.arabe .music:hover .play a{ background:url(/images/front/play_hover.png) no-repeat left center;}
.arabe .music .play a.sm2_playing, .arabe .topMusic .play a.sm2_playing:hover {background:url(/images/front/pause.png) no-repeat left center;}
.arabe .menuMusic.play a {background-position: right center;padding-right:35px !important;padding-left:0px !important;}

.arabe .infos .comments {float:right;padding-left:20px;padding-right:0px;}
.arabe .infos .contenShares {float:left;padding-left:0px;padding-right:15px;padding-left: 15px;}
.arabe .similars .prevNext {left:15px;right:0px;}
.arabe a#collapse_btn ,.arabe span.filters{float:left;}
.arabe .mediaItem .mediaThumb1{left: 15px; right:auto;}
.arabe .mediaItem .mediaThumb2{left: 10px; right:auto}
.arabe .mediaItem .photographer {left:auto;right:0px;}
.arabe .member .intro i.fa-quote-left{ right:20px; left:auto;}
.arabe .member .intro i.fa-quote-right{ right:auto;left:20px;}
.arabe .member .intro:before { left:auto; right: -15px;border-right: 0px solid #f7f7f7;border-left: 15px solid #f7f7f7;}
.arabe .member .intro:after {left:0;right:-14px;border-right:0px solid #f7f7f7;border-left:14px solid #f7f7f7;}
.arabe .emissionsList a{margin-left:5px; margin-right:0;}
.arabe .musicWebradio .ss-style-foldedcorner::after {background-image: linear-gradient(45deg, #d7d7d7 51%, transparent 50%); }
.arabe #advancedSearch .ss-style-foldedcorner::after, .arabe .podcastsLink .ss-style-foldedcorner::after {background-image: linear-gradient(45deg, #fff 51%, transparent 50%); }
.arabe #contact_form .results .ss-style-foldedcorner::after {background-image: linear-gradient(45deg, #fff 51%, transparent 50%);}
.arabe footer .search input[type=text]{ background:url(/images/front/searchFooter.png) 3% center no-repeat #2f2f2f;padding:0 20px 0 40px;margin:10px auto 0;}
.arabe .timeline:before {right:70px;left:auto;}
.arabe .timeline > li {margin:0 0 60px 10px;}
.arabe .timeline > li > .timeline-item {margin:0 3% 0 0;}
.arabe .timeline > li > .timeline-item > .time {float:left;}
.arabe .timeline > li > .fa,.timeline > li > .glyphicon,.timeline > li > .ion {right:47px; left:auto;}
.arabe .timeline .gridTime{ background:url(/images/front/bg_dateRightPrograme.png) no-repeat left / 100% auto;padding-left:0px;padding-right:7px;font:26px/46px "mosaiqueMedium"}
.arabe .timeline > li:last-child { margin-bottom:0;}
/* player */
.arabe .playerMenu .logo {right:15px; left:0;}
.arabe .playerMenu .mega-menu ul.menu-links {float:left;}
.arabe .playerLive .liveEmission{background-position:95% 100% !important; }
.arabe .playerLive .iconVolume{left:2px; right:auto;}
.arabe .playerLineTime{right: 0; left:auto;}
.arabe .playerEmission .ss-style-foldedcorner::after {right:auto;left:0;background-image:-webkit-linear-gradient(top right, transparent 51%, #222 50%);background-image: linear-gradient(45deg, #222 51%, transparent 50%);}
.arabe .studioEmission .studioLabel a {float:left;}
.arabe .studioEmission .infosDetail {background: #1b1b1b url("/images/front/bg_encem__.png") no-repeat scroll left top;}
.arabe .palyerFooter .title {right:15px; left:auto;}
/*_*/
.arabe .morph-by-bonfire ul li a { padding: 8px 15px 8px 21px; text-align: right; }
.arabe .morph-by-bonfire .menu li span svg {  margin: 16px 2px 0 0;	}
.arabe .morph-secondary-menu-button {  left: 238px; }
.arabe .morph-by-bonfire .menu ul { margin: 2px 58px 16px 0}
.arabe .owl-nav {  left: 0; right: auto; }
.arabe .date span {  padding: 5px 0 0 5px ;}
.arabe th {text-align: right !important;}
.arabe  .podcasts .title div {  background: url("/images/front/select.png") no-repeat scroll 6% 0 !important;}
.arabe .content_player .date {  direction: rtl;  float: right; margin-left: 5px;}
.arabe .classementList .team1 { }
.arabe .sp-slide .sp-layer{ text-align: right!important; right:0!important; }
.arabe .mostNews .z-tabs.silver > ul > li{ float:right !important;  }
.arabe .mostNews .z-tabs.silver > ul > li:last-child{ margin-right:4px;}
.arabe .owl-nav{top:-50px; }
.arabe .z-tabs.silver > ul { text-align: right; float:right !important;  }
.arabe .menu-links .date { padding:0}
.arabe #compteNews > ul > li > a { padding: 0 32px;}
.arabe .mega-menu.color-style-4 .drop-down a, .arabe .mega-menu.color-style-4 .drop-down.full-width,
.arabe .mega-menu.color-style-4 .drop-down.half-width {font-size: 13px; line-height: 15px;}
.arabe .ss-style-foldedcorner .fa-chevron-circle-right{-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.arabe #meteo .today span{ float:right }
.arabe #meteo .owl-prev .fa-chevron-left::before {  content:"\f054"!important;  }
.arabe #meteo .owl-next .fa-chevron-right::before {  content:"\f053"!important;  }
.arabe #meteo .owl-nav .owl-next { right: 55px !important;}
.arabe #meteo .today span.city {  margin-left: -3px;}
.arabe .speedo-ui-close {left: 0 !important; right: auto !important;}
.arabe .classementList .team1 { text-align: left; }
.arabe .liveScore .team1 { text-align: left; }
.arabe .classementList th { text-align: center!important;}
.arabe .shareMedia{ float:left;}
.arabe #djs .owl-nav {right:auto; left: 10px;}
.arabe #djs .thumb .name{ left:auto; right:0;}
.arabe .sp-horizontal .sp-next-arrow { left: 63px!important; right: auto !important;}
.arabe .sp-horizontal .sp-previous-arrow {  left: 18px!important; right: auto !important;}
.arabe #horoscope .owl-nav .owl-prev { right: 10px !important; } 
.arabe #horoscope .owl-nav .owl-next { left: 10px !important;  right: auto!important;}
.arabe .developed_by{ text-align:left;}
.arabe #compteNews > ul > li {float: right;}
.arabe .hvr-icon-fade {padding-right: 3em; }
.arabe .hvr-icon-fade:before {left: auto; right: 1em; padding: 0 1px;}
.arabe #slideNews .title { text-align:right; }
.banner_exp_pub_{ text-align:center;}
.flash_news .item{ line-height:20px;}