@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@font-face {font-family:'ProximaNovaBlack'; src:url('/fonts/ProximaNovaBlack.eot'); src:url('/fonts/ProximaNovaBlack.eot') format('embedded-opentype'), url('/fonts/ProximaNovaBlack.woff2') format('woff2'), url('/fonts/ProximaNovaBlack.woff') format('woff'), url('/fonts/ProximaNovaBlack.ttf') format('truetype'), url('/fonts/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg');}
@font-face {font-family:'ProximaNovaBold'; src:url('/fonts/ProximaNovaBold.eot'); src:url('/fonts/ProximaNovaBold.eot') format('embedded-opentype'), url('/fonts/ProximaNovaBold.woff2') format('woff2'), url('/fonts/ProximaNovaBold.woff') format('woff'), url('/fonts/ProximaNovaBold.ttf') format('truetype'), url('/fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg'); }
@font-face {font-family:'ProximaNovaExtrabold'; src:url('/fonts/ProximaNovaExtrabold.eot'); src:url('/fonts/ProximaNovaExtrabold.eot') format('embedded-opentype'), url('/fonts/ProximaNovaExtrabold.woff2') format('woff2'), url('/fonts/ProximaNovaExtrabold.woff') format('woff'), url('/fonts/ProximaNovaExtrabold.ttf') format('truetype'), url('/fonts/ProximaNovaExtrabold.svg#ProximaNovaExtrabold') format('svg'); }
@font-face {font-family:'ProximaNovaLight'; src:url('/fonts/ProximaNovaLight.eot'); src:url('/fonts/ProximaNovaLight.eot') format('embedded-opentype'), url('/fonts/ProximaNovaLight.woff2') format('woff2'), url('/fonts/ProximaNovaLight.woff') format('woff'), url('/fonts/ProximaNovaLight.ttf') format('truetype'), url('/fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg'); }
@font-face {font-family:'ProximaNovaRegularItalic'; src:url('/fonts/ProximaNovaRegularItalic.eot'); src:url('/fonts/ProximaNovaRegularItalic.eot') format('embedded-opentype'), url('/fonts/ProximaNovaRegularItalic.woff2') format('woff2'), url('/fonts/ProximaNovaRegularItalic.woff') format('woff'), url('../fonts/ProximaNovaRegularItalic.ttf') format('truetype'), url('/fonts/ProximaNovaRegularItalic.svg#ProximaNovaRegularItalic') format('svg');}
@font-face {font-family:'ProximaNovaRegular'; src:url('/fonts/ProximaNovaRegular.eot'); src:url('/fonts/ProximaNovaRegular.eot') format('embedded-opentype'), url('/fonts/ProximaNovaRegular.woff2') format('woff2'), url('/fonts/ProximaNovaRegular.woff') format('woff'), url('/fonts/ProximaNovaRegular.ttf') format('truetype'), url('/fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg'); }

body{color:#666;font-family: 'Merriweather Sans', sans-serif;font-weight:300;font-size:12px;line-height:1.3;background-color:#f0f0f0;}
.container_body{padding-bottom:30px;} 
a {text-decoration:none;font-weight:700;color:#fc2a30;-webkit-transition-duration: 0.2s;transition-duration:0.2s; cursor:pointer;}
a:hover{ text-decoration:none;}
ul{margin:0;padding:0;list-style:none;}
p {line-height: 20px;}
.clearfix_md{clear:both;}

.mobileHeader, .morph-main-menu-button-wrapper{ display:none;}
.topBar{background:#222;position:relative; z-index:2;}
.topBar .webradio{padding:10px 0; height:50px;}
.topBar .webradio .title{ position:absolute;top:0;left:0;color:#FFF;font-size:14px; margin:0;padding-right:15px; background:#222; z-index:9999;line-height:50px;}
.topBar .socialMedias{text-align:right;padding:10px 0;}
.socialMedias a{display:inline-block;width:35px;background:#909090;color:#FFF;font-size:18px;text-align:center;padding:7px 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.socialMedias a.fa-facebook{background:#32598f;}
.socialMedias a.fa-twitter{background:#36abdf;}
.socialMedias a.fa-google-plus{background:#f66a53;}
.socialMedias a.fa-instagram{background:#748a8d;}
.socialMedias a.fa-youtube-play{background:#cc3726;}
.socialMedias a.fa-youtube{background:#cc3726;}
.socialMedias a.fa-rss{background:#f79e1c;}
.socialMedias a.fa-envelope{background:#fc2a30;}
.socialMedias a.fa-apple{background:#818181;}
.socialMedias a.fa-android{background:#94c147;}
.socialMedias a.fa-windows{background:#25aae1;}
.socialMedias a:hover{background:#909090;}

#gplus{ height:400px !important;}

.topBar .langues{background:#292929;text-align:center;}
.topBar .langues * {margin: 0;padding: 0;position: relative;}				
.topBar .langues .toggle, .toggler {display: inline-block;vertical-align: middle;margin:15px 5px;}
.topBar .langues .toggler {color:#686868;transition: .2s; cursor:pointer;}
.topBar .langues .active {color:#fff;}
.topBar .langues .b {display: block;}
.topBar .langues .toggle {width: 50px;height: 22px;border-radius: 100px;background-color: #5ec581;overflow: hidden;box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);}
.topBar .langues .check {position: absolute;display: block;cursor: pointer;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;z-index: 6;}
.topBar .langues .check:checked ~ .switch {right: 2px;left:37.5%;transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);transition-property: left, right;transition-delay: .08s, 0s;}
.topBar .langues .switch {position: absolute;left: 2px;top: 2px;bottom: 2px;right: 37.5%;background-color: #fff;border-radius: 36px;z-index: 1;transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);transition-property: left, right;transition-delay: 0s, .08s;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}

header {background: url("/images/front/bg_header.png") repeat-x scroll center bottom #e1222e;min-height:280px;position:relative; z-index:5;}
header .container{ position:relative;}
.logo{ margin-top:75px;}
header .logo img{ width:100%;}
.liveEmission{background-repeat:no-repeat;background-position:5% bottom;background-size:auto 100%;min-height:280px;}
.liveEmission .detail{color:#FFF;text-align:right;margin-top:85px;text-shadow:1px 1px #000000;}
.liveEmission .time{font-size:17px; display:block;}
.liveEmission .animator{font-size:24px;display:block;color:#FFF;}
.liveEmission .animator:hover{color: #fff;}
.liveEmission .emission{font-size:17px;}
.liveEmission .emission a{font-size:20px;color:#FFF;}
.liveEmission .emission a:hover{color: #fff;}
.liveEmission .links{ text-align:center; margin-top:60px;text-shadow:1px 1px #000000;}
.liveEmission .links a{ display:block;}
.liveEmission .links:hover{color: #000;text-shadow: 1px 1px rgba(0,0,0,0.3) !important;}
.liveEmission .links .play{font-size:83px;color:#FFF;line-height:83px;-webkit-transition-duration:0.2s;transition-duration:0.2s;}
.liveEmission .links .play:hover{opacity:.6;color:#FFF;}
.liveEmission .links .webcam{font-size:13px;text-transform:uppercase;color:#FFF; border:1px solid #FFF;padding:5px 10px; display:inline-block !important;-webkit-transition-duration: 0.2s; transition-duration: 0.2s}
.liveEmission .links .webcam i{ font-style:normal}
.liveEmission .links .webcam:hover{opacity:.6; color:#fff}
.nextEmission {display: block;min-height: 280px;position: relative;color:#FFF;font-size:24px;text-align:right;z-index: 1;font-weight:800;padding-top:80px;text-shadow:1px 1px #000000;}
.nextEmission a{ color:#FFF; font-size:17px;display:block;}
.nextEmission a:hover{color: #fff;}
.nextEmission::after {content: "";opacity: 0.35;top: 0;left: 0;bottom: 0;right: 0;position:absolute;z-index: -1;background-repeat:no-repeat;background-position:left bottom;background-size:auto 100%;}
#mainMenu{ position:absolute; left:0; bottom:0; width:100%; padding:0 15px;}
#mainMenu .mega-menu ul.menu-links > li > a{ text-transform:uppercase;font-size:16px; font-weight:800;text-shadow:1px 1px #000000;}
#mainMenu .mega-menu ul.menu-links > li > a:hover{ color:#000; text-shadow: 1px 1px rgba(0,0,0,0.3) !important;font-weight:800;}
#mainMenu a i{ font-weight:bold; font-size:18px;}
#mainMenu .mega-menu .menu-search-bar i.fa{ font-size:24px !important;}

.news24 {background:url("/images/front/bg_news.png") no-repeat scroll center center rgba(0, 0, 0, 0);border-bottom: 2px solid #dddddd;position:relative; z-index:2;}
.news24 .shadow {box-shadow: none !important;}
.news24 .smarticker .sec1-2 {background:#ddd;font-size:14px;color:#222222;font-weight:900;}
.news24 .googlefont .smarticker-category a{line-height:32px;}

#slideNews .desc{margin-bottom:15px;}
#slideNews .title{margin:10px 0 0px;font-size:14px; line-height:22px;text-align:left;}

.list_carousel {margin:0;}
.list_carousel.responsive {width:auto;position:relative; }
.list_carousel ul {margin:0;padding:0;list-style:none;display:block;}
.list_carousel li {display:block;float:left;padding:0; margin:0 15px;}
.pager {text-align:center;}
.pager a { background-color:#cfd0d4;border:1px solid #cfd0d4;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;;cursor:pointer;display:inline-block;height:10px;text-indent:-9999px;width:10px;margin:0 5px;}
.pager a.selected {background-color:#0f9feb;border:1px solid #0f9feb;}
.pager a:focus{ outline:none !important;}

.bg_gray{background:#f7f7f7;}
.bg_gray1{background:#7f7f7f;}
.bg_red{background:#fc2a30;}
.c_red{color:#fc2a30;}
.bg_purple{background:#b754e1;}
.c_purple{color:#b754e1;}
.bg_blue{background:#36abdf;}
.c_blue{color:#36abdf;}
.bg_green{background:#5fc782;}
.c_green{color:#5fc782;}
.bg_black{ background:#222222;}

.pub {background:#f7f7f7;margin-bottom:15px;padding:35px 0;position:relative;}
.pub .title{bottom:0;color:#7f7f7f;font-size:16px;position:absolute;right:15px;text-align:right;font-weight:300;}
.pub2{padding:15px 0; margin:0 0 15px;background:#f7f7f7;}

.ss-style-foldedcorner::before, .ss-style-foldedcorner::after {content: "";pointer-events: none;position: absolute;}
.ss-style-foldedcorner::before, .ss-style-foldedcorner::after {bottom: 0;height: 10px; width: 10px;}
.ss-style-foldedcorner::after {background-image: linear-gradient(315deg, #f7f7f7 51%, transparent 50%);right: 0;}

.m_bottom{margin-bottom:15px;}
.no_margin{ margin:0px !important;}
.no_padding{ padding:0px !important;}
.thumb{position:relative;}
.thumb img{width:100%;}
.thumb .play{background:url('/images/front/icone_play_video_box-022.png') no-repeat;width:50px;height:50px;position:absolute;top:50%;left:50%;margin-top:-25px;margin-left:-25px;}
.thumb .categorie{bottom:0px;font-weight:300;font-size:10px;line-height:23px;padding:0 10px;position:absolute;right:0;}
.thumb .categorie a{color:#fff;display:block;}
.thumb .name {background: #fc2a30 none repeat scroll 0 0; position: absolute;top: -15px;right: -59px;color: #fff;font-size: 20px;font-weight: 800;padding:5px 8px;}
.desc{}
.categorie1 { margin-top:15px;}
.categorie1 a{ display:inline-block; color:#FFF; text-decoration:none; font-size:10px; padding:5px 10px 5px 5px;position:relative;}
.categorie1 a:hover{} 
a .ss-style-foldedcorner::after {bottom: 0;width: 8px;height: 8px;right: 0;background-image:-webkit-linear-gradient(top left, transparent 51%, #fff 50%);background-image: linear-gradient(315deg, #fff 51%, transparent 50%);}
.title{font-weight:800;font-size:13px;margin-top:10px; min-height:24px; margin-bottom:0;}
.title a{color:#222222;line-height:1.4em;}
.bigSize{ font-size:16px;}
.title a:hover{color:#fc2a30;}
.date{color:#666666;font-weight:300; font-style:italic;font-size:10px;padding:5px 0 10px;}
.menu-links .date{ color:#fff;padding:5px 0;}
.intro { line-height:1.5em;}
.fa-comment{ margin-top:2px;}
.more{margin-top:5px;text-align:right;}.mtabs{ margin-top:10px}
.more a{ text-decoration:none;}
.more a strong {color:#858585;font-weight:400; font-style:italic;font-weight:normal;padding-left:5px;}
.more a:hover{ color:#fc2a30; text-decoration:none;}
.more a:hover strong {color:#fc2a30;}
.pagination{ background:#f3f2f4; text-align:center; width:100%; padding:15px 0;}
.pagination a{font-weight:800; font-size:13px; display:inline-block; border:1px solid #cccccc; background:#fff; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; color:#666666; text-decoration:none; line-height:34px; padding:0 15px; }
.pagination a:hover, .pagination a.now{ background:#fc2a30; border:1px solid #fc2a30; color:#FFF;}

.carousel-caption{ position:initial;text-align:left;text-shadow:none;color:#666666;padding:0;}
.carousel-indicators {width:100%;margin:0;left:0;height:32px;background:rgba(127,127,127,0.8);padding:10px 0;top:192px;}
.carousel-indicators .active{ background:#fc2a30;}
.carousel-indicators li{ background:#FFF;}

.block{padding:15px;}
.block_title{line-height:36px;margin:0 0 20px; font-size:12px;}
.block_title span{font-weight:900;color:#fff;display:inline-block;font-size:15px;padding:0 25px 0 15px;text-transform:uppercase; position:relative; }
.block_title a{float:right;background:#f7f7f7;display:block;padding:0 10px;line-height:36px;color:#fc2a30;text-decoration:none; font-size:12px;}
.block_title a strong{font-weight:400; font-style:italic; color:#858585; font-weight:normal; padding-left:5px;}
.block_title a:hover strong{color:#fc2a30;}

.news {margin-bottom:20px;}
.news .share{border-top:1px solid #ebebeb;margin-top:20px;padding-top:10px; font-size:10px;}
.news:hover .share{ border-top-color:#fc2a30}
.news .share span{float:right !important; margin-top:5px;}

.sondage{margin-bottom:15px;}
.sondage .ss-style-foldedcorner::after {background-image: linear-gradient(315deg, #222 51%, transparent 50%);right: 0;}
.sondage .content{color:#fff;font-size:14px;}
.sondage .content .question {border-left:1px solid #fff;font-weight:700;font-size:16px;margin-bottom:15px;padding-left:10px;}
.sondage .content ul{padding-left:10px;}
.sondage .content ul li{ margin-bottom:10px;}
.sondage .results{background:#f7f7f7;padding:15px 10px 10px; display:table; width:100%;}
.results button{display:inline-block;float:right;background:#fc2a30;border:none;color:#FFF;font-weight:700; font-size:12px; text-transform:uppercase; line-height:32px; padding:0 20px 0 15px; margin-top:-7px; position:relative}
.results button:hover{background:#222222;}
.results .ss-style-foldedcorner::after {background-image: linear-gradient(315deg, #f7f7f7 51%, transparent 50%);right: 0;}
.progressPolls{width:100%; height:5px; background:#fff}
.progressPollsAnswers{width:0%; height:5px; background:#c7c7c7; /*rgba(216, 13, 3, 1)*/}
.pollsList li{ padding:10px 15px; margin:0;}
.pollsList li.ODD{ background:#f9f9f9;}	
.contentPoll{ border:2px solid #f7f7f7;margin-bottom:20px;padding:20px;}
.contentPoll .question{ font-size:20px;font-weight:bold; padding:0 10px 10px;}
.contentPoll ul{ padding:0 25px 20px;}
.contentPoll .results { padding:0 10px;}
.contentPoll .ss-style-foldedcorner::after {background-image: linear-gradient(315deg, #fff 51%, transparent 50%);}
.progressContentPolls{width:100%; height:5px; background:#f7f7f7;}
.progressContentPollsAnswers{width:0%; height:5px; background:rgba(216, 13, 3, 1);}

.services{background:#f7f7f7;margin-bottom:15px;}
#horoscope, #meteo{border-bottom: none; margin-bottom:0;}

#horoscope .item {color: #7f7f7f; font-size: 14px;padding: 10px 0 15px;text-align: center;}
#horoscope img{ width:50px; display:inline-block;}
#horoscope span{display:block;color:#b754e1;font-size:18px;text-transform:uppercase;border-bottom:2px solid #f7f7f7;padding:10px;margin-bottom:15px;text-align:center;}
#horoscope .owl-item{margin:0px;padding:0px;background:#fff;border-bottom: 2px solid #b754e1;}
#horoscope .owl-nav {top:16px;color:#fff;width:100%;}
#horoscope .owl-nav .owl-prev, #horoscope .owl-nav .owl-next{color:#cccdd1;position:absolute !important; }
#horoscope .owl-nav  span{border-bottom:none;}
#horoscope .owl-nav .owl-prev{left:10px !important;}
#horoscope .owl-nav .owl-next{right:10px !important;}

#meteo .owl-nav {top:24px;color:#fff;width:100%;}
#meteo .owl-nav .owl-prev, #meteo .owl-nav .owl-next{color:#fff;position:absolute !important;}
#meteo .owl-nav .owl-prev{left:55px !important;}
#meteo .owl-nav .owl-next{right:43px !important;}
#meteo .owl-item{margin:0px;padding:0px;background:#2e9ccc;color:#ffffff;}
#meteo .today{background:#36abdf;display:table;width:100%;margin:0;padding:10px 0;text-align:center;}
#meteo .today span{float:left;}
#meteo .today .thumb{width:20%; padding:0 5px;}
#meteo .today .thumb img{width:50px;}
#meteo .today span.city{ font-size:18px; width:60%; margin-top: 17px; margin-left: 7px;}
#meteo .today span.deg{ font-size:24px;font-weight:800;width:14%; margin: 11px 0 0 -6px;}
#meteo .moreInfos{ text-align:center;}
#meteo .moreInfos img{ vertical-align:top;display:inline-block; width:20px;}
#meteo .moreInfos em{display: inline-block;vertical-align:top;font-style: normal; line-height:15px; text-align:center;}
#meteo .br_meteo{ border-right:1px solid #FFF;}

.pod { display:table; font-family:helvetica,arial,verdana,sans-serif; width:100%;border-bottom: 1px solid #343434;padding:15px 10px;}
.podPlay {display:table-cell;background-image:url("/images/audio/icomoon/entypo-25px-red/play.svg");background-position: center center;background-size:60% auto;background-repeat:no-repeat;width:40px;content:' ';padding:5px;}
.podInfos{display:table-cell;}
.podInfos b {color: #fff;font-size: 13px;font-weight: normal; font-family:display:inline-table;}
.podInfos a {font-family: helvetica,arial,verdana,sans-serif;font-weight: normal;text-rendering: optimizelegibility;font-size: 12px;overflow: hidden;padding-top: 4px;position: relative;text-align: left; text-overflow: ellipsis;	color: #adadad;}


.nav-tabs > li{ width:25%; padding:0 1px}
.nav-tabs > li > a{ border:none; color:#FFF; background:#c7c7c7; font-size:18px;padding:0;width: 100%; display:inline-block;text-align: center; line-height:35px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background:#c7c7c7}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ color:#FFF; border:none;}
.nav-tabs > li > a .fa-caret-down{ display:none}
.nav-tabs > li.active > a.bleu_face, .nav-tabs > li.active > a:hover.bleu_face, .nav-tabs > li.active > a:focus.bleu_face{ background:#325990}
.nav-tabs > li.active > a.bleu_face .fa-caret-down, .nav-tabs > li.active > a:hover.bleu_face .fa-caret-down, .nav-tabs > li.active > a:focus.bleu_face .fa-caret-down{ position:absolute; bottom:-11px; left:50%; margin-left:-4px; color:#325990; display:block}
.nav-tabs > li.active > a.bleu_twitter, .nav-tabs > li.active > a:hover.bleu_twitter, .nav-tabs > li.active > a:focus.bleu_twitter{ background:#38acdf}
.nav-tabs > li.active > a.bleu_twitter .fa-caret-down, .nav-tabs > li.active > a:hover.bleu_twitter .fa-caret-down, .nav-tabs > li.active > a:focus.bleu_twitter .fa-caret-down{ position:absolute; bottom:-11px; left:50%; margin-left:-4px; color:#38acdf; display:block}
.nav-tabs > li.active > a.rouge_google, .nav-tabs > li.active > a:hover.rouge_google, .nav-tabs > li.active > a:focus.rouge_google{ background:#e6522a}
.nav-tabs > li.active > a.rouge_google .fa-caret-down, .nav-tabs > li.active > a:hover.rouge_google .fa-caret-down, .nav-tabs > li.active > a:focus.rouge_google .fa-caret-down{ position:absolute; bottom:-11px; left:50%; margin-left:-4px; color:#e6522a; display:block}
.nav-tabs > li.active > a.gris_instagram, .nav-tabs > li.active > a:hover.gris_instagram, .nav-tabs > li.active > a:focus.gris_instagram{ background:#4a789d}
.nav-tabs > li.active > a.gris_instagram .fa-caret-down, .nav-tabs > li.active > a:hover.gris_instagram .fa-caret-down, .nav-tabs > li.active > a:focus.gris_instagram .fa-caret-down{ position:absolute; bottom:-11px; left:50%; margin-left:-4px; color:#4a789d; display:block}
.mobileApps #mobileApps{display:inline-block; vertical-align:top; width:20%;margin-bottom:10px; border:none;}
.mobileApps #mobileApps > li{float:none; width:100%; padding:0 0 2px}
.mobileApps #mobileAppsContent{ display:inline-block; vertical-align:top; width:78%;}
.mobileApps .nav-tabs > li > a .fa-caret-right{ display:none}
.mobileApps .nav-tabs > li.active > a.apple, .nav-tabs > li.active > a:hover.apple, .nav-tabs > li.active > a:focus.apple{ background:#666666}
.mobileApps .nav-tabs > li.active > a.apple .fa-caret-right, .nav-tabs > li.active > a:hover.apple .fa-caret-right, .nav-tabs > li.active > a:focus.apple .fa-caret-right{ position:absolute; margin-top: -10px;position: absolute;right: -5px;top: 50%; color:#666666; display:block}
.mobileApps .nav-tabs > li.active > a.android, .nav-tabs > li.active > a:hover.android, .nav-tabs > li.active > a:focus.android{ background:#6ab344}
.mobileApps .nav-tabs > li.active > a.android .fa-caret-right, .nav-tabs > li.active > a:hover.android .fa-caret-right, .nav-tabs > li.active > a:focus.android .fa-caret-right{ position:absolute; margin-top: -10px;position: absolute;right: -5px;top: 50%; color:#6ab344; display:block}
.mobileApps .nav-tabs > li.active > a.windows, .nav-tabs > li.active > a:hover.windows, .nav-tabs > li.active > a:focus.windows{ background:#00bcf2}
.mobileApps .nav-tabs > li.active > a.windows .fa-caret-right, .nav-tabs > li.active > a:hover.windows .fa-caret-right, .nav-tabs > li.active > a:focus.windows .fa-caret-right{ position:absolute; margin-top: -10px;position: absolute;right: -5px;top: 50%; color:#00bcf2; display:block}
.mobileApps .nav-tabs > li.active > a.windowsphone, .nav-tabs > li.active > a:hover.windowsphone, .nav-tabs > li.active > a:focus.windowsphone{ background:#5c2d91}
.mobileApps .nav-tabs > li.active > a.windowsphone .fa-caret-right, .nav-tabs > li.active > a:hover.windowsphone .fa-caret-right, .nav-tabs > li.active > a:focus.windowsphone .fa-caret-right{ position:absolute; margin-top: -10px;position: absolute;right: -5px;top: 50%; color:#5c2d91; display:block}
#socialMedias{ margin-bottom:10px; border:none;}

.podcasts {margin-bottom:20px;}
.podcasts .title {color:#fff; background:#fc2a30 none repeat scroll 0 0;line-height:30px;display:block;font-size:16px;padding:5px 10px;text-transform: uppercase; margin:0 15px 10px 15px}
.podcasts .title div {background: url(/images/front/select.png) no-repeat 96% 0;padding:0;margin:0;height:30px;overflow: hidden;width:55%;display:inline-block;float:right;}
.podcasts .title div select {/*background: #fc2a30;*/border: none;font-size:14px;height: 30px;width: 115%;font-weight:400;display: inline-block;background: transparent;padding: 5px;line-height: 1;-webkit-appearance: none;}
.podcasts .more{background:#f7f7f7;margin-top:0;padding:10px;}
.infosBar .date{line-height:30px;}
.shareMedia{float:right;}
.shareMedia a {color:#fff;cursor:pointer;display:inline-block;font-size:10px;margin:5px 2px;padding:0 10px;}
.shareMedia a i { font-size:16px;line-height:24px}
.shareMedia a.facebook{background:#32598f;}
.shareMedia a.twitter{background:#36abdf;}
.shareMedia a.google{background:#f66a53; margin-right:0;}

.flash_news, .banner_pave {margin-bottom:15px;}
.flash_news .block_title .ss-style-foldedcorner::after {background-image: linear-gradient(315deg, #fff 51%, transparent 50%);right: 0;}
.flash_news .content{border:2px solid #f7f7f7; padding:10px;}
.flash_news .block_title span{color:#7f7f7f !important;}
.flash_news .item{color: #222222;display:block;font-weight:700;margin-bottom:23px; font-size:12px;}
.flash_news .item:hover{ color:#fc2a30;}
.flash_news .item span{background:url(/images/front/bg_date_flash_news.png) right no-repeat;color:#fff;display:inline-block;float:left;font-size:10px;line-height:23px;margin-right:10px; width:50px; text-align:center;}
.flash_news .more{background:#f7f7f7;padding:11px 10px; margin:0;}

.block_gallery{ margin-bottom:15px;}
#mediasTabs{ position:absolute; z-index:999; top:-1px;}
#mediasTabs > li > a{position:relative; margin:0 !important; padding:0 !important;border:none !important;box-shadow:none !important;color:#fff !important;font-weight:800;font-size:16px;text-align:center !important;text-transform:uppercase;line-height:36px;height:36px;}
.videoTab{ background:url(/images/front/bg_ani_video-22.png) no-repeat right bottom !important; width:100px;}
.photoTab{ background:url(/images/front/bg_ani_photo-22.png) no-repeat right top !important; width:89px;}
#mediasTabs > li.z-active > a.videoTab{background:url(/images/front/bg_ani_video-22.png) no-repeat right top !important;}
#mediasTabs > li.z-active > a.photoTab{background:url(/images/front/bg_ani_photo-22.png) no-repeat right bottom !important;}
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF{ background:#222222 !important; border-bottom:1px solid #343434}
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON{ background:#343434 !important;}
.allinone_bannerWithPlaylist.elegant .thumbsHolderWrapper{background:#222222 !important;}
.allinone_bannerWithPlaylistBorder{background:#222222 !important;}
.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-corner-all {display: none !important;}
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .padding{ padding:18px 10px!important; color:#FFF !important; position:relative;}
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .reg,.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON .reg{font-family:'Merriweather Sans', sans-serif;font-weight:700 !important; font-size:14px !important;color:#FFF !important;text-shadow:1px 1px #000000}
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .title,.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON .title{font-family:'Merriweather Sans', sans-serif;font-weight:700 !important;font-size:11px !important;color:#FFF !important; font-style:italic !important;text-shadow:1px 1px #000000}
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .padding img{ border:2px solid #222222;}
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON .padding img{ border:2px solid #fd2b2e !important}
.date_elegant{font-weight:800;font-size:13px !important;color:#FFF !important;font-style:italic !important; text-shadow:1px 1px #000000;}
.titre_elegant{font-size:28px !important;text-shadow:1px 1px #000000;font-weight:800; width:70%;line-height:32px;}

.liveScore{padding-top:10px;margin:0 0 15px 0;border:2px solid #f7f7f7;}
.liveScore .block_title{margin-left:10px} 
.liveScore .score {color: #222222;font-weight:800;font-size: 20px;text-align: center;}
.liveScore .time{color:#222222;font-weight:800;text-align: center;}
.liveScore .pull{text-align: center;}
.liveScore .name{color: #222222;font-size: 13px; padding: 5px 0;text-align: center;}
.liveScore .goal {font-size: 10px; margin:3px 0}
.liveScore .carton{font-size: 10px;margin:3px 0}
.liveScore .carton .yellow {color: #ffae00;}
.liveScore .carton .red {color: #ff1b00;}
.liveScore table{ margin-bottom:0}

.menuTable li{ padding:0 0 5px !important; }
.menuTable li .rank{width:20px; text-align:center;}
.menuTable li .pts{ float:right;}
.classement{padding-top:10px;background:#f7f7f7 none repeat scroll 0 0; margin-bottom:15px;}
.classement .block_title{margin:0px 10px 10px;} 
.classement table{ margin-bottom:0;}
.classement .more{background:#f7f7f7;margin-top:0;padding:10px; border-top: 1px solid #fefefe;}

.musicNews{border-bottom:solid 1px #ebebeb;margin-bottom:20px}
#musicNews li{ background:#f7f7f7 none repeat scroll 0 0; margin:0}
.musicBox{ position:relative; margin-bottom:20px;}

.music{background:#f7f7f7;border: 1px solid #f7f7f7;width:100%;display:table;margin-bottom: 15px; position:relative;}
.music:hover{ border:1px solid #fc2a30;}
.music .content { display:table; width:100%}
.music:hover .content { background:#e8e8e8}
.music .thumb {float:left;width:110px; margin-right:25px;}
.music .thumb  img{height:87px;}
.music.mixes .thumb {width:90px;margin-right:10px;}
.music.mixes .thumb  img{width:auto;}
.music .content .position{width:40px;height:40px;position:absolute;left:90px;top:50%;margin-top: -20px;background: none repeat scroll 0 0 #474747;border: 5px solid #fff;	border-radius:50%;text-align: center;font-size: 13px;line-height: 30px;color:#ffffff;font-weight:800;}

.music .content .positionStar {width:40px;height:40px;position:absolute;left:90px;top:50%;margin-top:-20px;background:url("/images/front/musicVote.png") no-repeat scroll right center; text-align: center;	font-size: 13px;line-height:40px;color: #b05c18;font-weight:800;}
.music:hover .content .position{ background:#fc2a30;}
.music .content .name {color: #222222;font-weight:800; padding-top:15px;}
.music .content .title {color:#7f7f7f;padding:5px 0 3px;font-size:12px;font-weight:300;line-height:1.3;margin-top:0;}
.music .rating{color:#efb34a;}
.music .play {position:absolute;top:1px;right:1px;z-index:1;background:#f7f7f7;}
.music .play a {background:url(/images/front/play.png) no-repeat right center;width:88px;height:86px;display:block;}
.music:hover .play a{ background:url(/images/front/play_hover.png) no-repeat right center;}
.music .play a.sm2_playing, .topMusic .play a.sm2_playing:hover {background:url(/images/front/pause.png) no-repeat right center;}

.menuMusic {display:block; width:100%;}
.menuMusic.play a {background-image:url(/images/front/musicPlay.png); background-repeat:no-repeat; background-position: left center; width:100%;padding-left:35px !important; line-height:20px; vertical-align:middle;}
.menuMusic a.sm2_playing, .topMusic .play a.sm2_playing:hover {background-image:url(/images/front/musicPause.png);}

#djs .owl-item{ padding:0 !important;}
#djs .thumb .name{ left:0;right:auto;bottom:0;top:auto;background:#ffffff;color: #fc2a30;font-family: "Merriweather Sans",sans-serif;font-size: 16px;font-weight: 900;line-height: 30px;text-transform: uppercase;}  
#djs .owl-nav{bottom: 10px;right: 10px;top: auto;}
#djs .owl-next, #djs .owl-prev{border: 1px solid #fff;color: #fff;font-size:20px;height: 30px;line-height:30px;margin:0 2px 0 0;width:40px;}

.podcastsList{position:relative;padding:70px 100px;border:1px solid #f0f0f0;margin-top:50px;}
.podcastsList .block_title{position:absolute;top:-20px;left:20px;background:#fc2a30;color:#fff;font-size:21px;text-transform:uppercase;line-height:37px;padding:0 10px;}
.podcastsList .item{ margin:15px 0}

#compteNews > ul > li{ margin-right:3px;}
#compteNews > ul > li > a{border:none !important;box-shadow:none !important;background:#f7f7f7;color:#adadad;font-weight:600;text-transform:uppercase;padding:0 15px;line-height:36px !important;font-size:15px;}
#compteNews > ul > li > a span{ display:none;}
#compteNews > ul > li.z-active a{background:#0f9feb; color:#FFF; position:relative}
#compteNews > ul > li.z-active a span{position:absolute; display:block !important; color:#0f9feb;bottom: -9px;left: 50%;margin-left: -5px;}
.compteNews .news{ margin-bottom:20px;}
#compteNews .news2 .title{ margin-top:0px;}

.mostNews {border:2px solid #f7f7f7;padding:15px;margin:0 0 15px;}
.mostNews .z-tab { float:left; width:auto;}
.mostNews .z-tab .z-link{ padding:10px 8px;font-size:11px;}
.mostNews .z-tabs.silver > ul > li{ float:left !important; width:auto !important}
.mostNews .z-tabs.silver > ul > li:last-child{ margin-left:4px;}
.mostNews .z-tabs.silver > ul > li > a{ border:1px solid #f0f0f0; background:#FFF; color:#a1a1a1; text-decoration:none; font-size:11px; text-shadow:none; box-shadow:none;}
.mostNews .z-tabs.horizontal.top > ul > li > a{ top:0 !important; border-width:1px !important; box-shadow:none;}
.mostNews .z-tabs.silver > ul > li.z-active > a{background: none repeat scroll 0 0 #fff;border: 1px solid #f7f7f7;}
.mostNews .z-tabs.silver > ul > li > a span::before,.mostNews .z-tabs.silver > ul > li > a span::after {position: absolute;content: '';pointer-events: none;}
.mostNews .z-tabs.silver > ul > li > a .ss-style-foldedcorner::before,.mostNews .z-tabs.silver > ul > li > a .ss-style-foldedcorner::after {bottom: 0;width: 10px;height: 10px;}
.mostNews .z-tabs.silver > ul > li > a .ss-style-foldedcorner::after {right: 0;background-image: -webkit-linear-gradient(top left, transparent 51%, #f0f0f0 50%);background-image: linear-gradient(315deg, #f0f0f0 51%, transparent 50%);}
.mostNews .z-tabs.silver > ul > li.z-active > a{border:1px solid #f0f0f0; background:#f0f0f0; color:#7f7f7f; text-decoration:none; font-size:11px; text-shadow:none; box-shadow:none;}
.mostNews .z-tabs.silver > ul > li.z-active > a .ss-style-foldedcorner::after {right: 0;background-image: -webkit-linear-gradient(top left, transparent 51%, #fff 50%);background-image: linear-gradient(315deg, #fff 51%, transparent 50%);}
.z-tabs > .z-container{ border:none !important; box-shadow:none !important;}

.inner{}
.carousel-inner { }

h1.title {color: #222222;font-size: 28px; text-align: center; font-weight:normal; margin:20px 0 10px;}
h1.title span {color: #fc2a30;font-size: 18px;font-weight: 300;}
.inner .time{border-bottom: 1px solid #ebebeb;color: #fc2a30;font-size: 14px;font-weight: 300;margin: 0 auto 30px;padding: 15px 0 20px;width: 50%;}
.infos {border-bottom: 1px solid #ebebeb;height: 8px;margin:10px 0 40px;}
.infos .comments {background-color: #fff;display:inline-block;float:left;padding-right:20px;}
.infos .contenShares {background-color:#fff;display:inline-block;float:right;padding-left:20px;}
.inner .desc {line-height: 1.5;margin:20px 0;;}
.descp__content{line-height: 1.7;font-size:15px; margin-bottom:10px;}
.similars { margin-bottom:15px;}
.similars .prevNext {background:#f7f7f7 none repeat scroll 0 0;font-size: 25px;line-height:35px;position:absolute;right:15px;top:-56px;}
.similars .prevNext a {color: #cccdd1;display: inline-block;text-align: center;text-decoration: none;width: 30px;}

a#collapse_btn , span.filters{float:right;background: #fff url("/images/front/bg_select_titre.png") no-repeat scroll right bottom;border: 1px solid #7f7f7f;color: #7f7f7f;font-size: 12px; font-weight: 300; margin-top:3px;padding: 0 10px;  height: 30px; line-height: 27px;}
span.filters select { border: medium none;font-weight: bold; width: 100%!important;}
#collapseExample{ display:none;}
#advancedSearch{ border:2px solid #f7f7f7;padding:15px;background:#fff;margin-bottom:25px; }
.searchLabel{ text-transform:uppercase; font-weight:bold; font-size:14px;margin-bottom:15px;}
#advancedSearch label{ text-transform:uppercase; padding-bottom:5px;}
#advancedSearch .results{ margin-top:15px}

.mediaItem{background: #f0f0f0 none repeat scroll 0 0;padding: 5px;margin-bottom:15px;}
.mediaItem .desc{padding:5px 0;}
.mediaItem .mediaThumb1, .mediaItem .mediaThumb2{border: 2px solid #f0f0f0;position:absolute; width:40%}
.mediaItem .mediaThumb1{bottom: 15px;right: 15px;}
.mediaItem .mediaThumb2{bottom: 10px;right: 10px;}
.mediaItem .photographer {background: #fc2a30 none repeat scroll 0 0;bottom:0px;color: #fff;font-size: 11px;font-style: italic;left: 0px;line-height: 22px;padding: 0 5px; position: absolute;}

.member {border-bottom: 1px solid #f7f7f7;margin:10px 0; padding:10px 0;}
.member:last-child{ border-bottom:none;}
.member .intro {background:#f7f7f7;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;padding:30px;position:relative;color:#222222;font-size:16px;font-weight:400;font-style:italic;text-align:center;margin-top:60px;}
.member .intro i.fa-quote-left{ position:absolute; left:20px; top:20px; font-size:12px;}
.member .intro i.fa-quote-right{ position:absolute; right:20px; bottom:20px;font-size:12px;}
.member .intro:before {position: absolute;top: 15px;left: -15px;display: inline-block;border-top: 30px solid transparent;border-right: 15px solid #f7f7f7;border-left: 0 solid #f7f7f7;border-bottom: 0 solid transparent;content: " ";}
.member .intro:after {position: absolute;top: 15px;left: -14px;display: inline-block;border-top: 30px solid transparent;border-right: 14px solid #f7f7f7;border-left: 0 solid #f7f7f7;border-bottom: 0 solid transparent;content: " ";}
.member .socialMedias {color: #7f7f7f;font-size: 17px;font-weight: 700;margin-top: 20px;}
.emissionsList{font-size:16px;font-weight:700;color:#7f7f7f;margin:10px 0px;}
.emissionsList a{color:#ffffff;background:#7f7f7f;display:inline-block;margin-right:5px;padding:5px 15px; margin-bottom:3px; font-weight:400;font-size:14px;position:relative; margin-top: 3px;}
.emissionsList a:hover{background:#fc2a30;}
.liveIcon{ background:#fc2a30;display:table;margin-bottom: 5px;padding: 5px 10px;position: relative;}
.liveIcon:hover{ background:#000;}
.liveIcon a{font-family: "Merriweather Sans",sans-serif;font-size: 14px;font-weight: 900; color:#fff;}
.member .desc {padding-top:60px;}

.timeline {margin:0 0 -20px 0;padding:0;list-style: none;}
.timeline:before {content: '';position: absolute;top: 0px;bottom: 0;width: 3px;background: #fc2a30;left: 70px;border: 1px solid #fc2a30;margin: 0;}
.timeline > li {position: relative;margin-right: 10px;margin-bottom: 60px;}
.timeline > li:last-child { margin-bottom:0;}
.timeline > li:first-child { margin-bottom:47px;}
.timeline > li:before,.timeline > li:after {display: table;content: " ";}
.timeline > li:after {clear: both;}
.timeline > li > .timeline-item {color: #555;margin-left: 3%;position: relative;display:inline-block; vertical-align:top; width:79%;}
.timeline > li > .timeline-item > .time {color: #999;float: right;margin: 2px 0 0 0;}
.timeline > li > .timeline-item > .timeline-header {margin: 0;color: #555;border-bottom: 1px solid #f4f4f4;padding: 5px;font-size: 16px;line-height: 1.1;}
.timeline > li > .timeline-item > .timeline-header > a {font-weight: 600;}
.timeline > li > .timeline-item > .timeline-body,.timeline > li > .timeline-item > .timeline-footer {padding: 10px;}
.timeline > li.time-label > span {font-weight: 600;padding: 5px;display: inline-block;background-color: #fff;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.timeline > li > .fa,.timeline > li > .glyphicon,.timeline > li > .ion {width: 20px;height: 20px;font-size: 15px;line-height: 30px;position: absolute;color: #666;background: #fc2a30;border-radius: 50%;text-align: center;left: 47px;top: 0;}
.timeline .gridTime{ background:url(/images/front/bg_date_programe.png) no-repeat right / 100% auto;color:#FFF;font-size:22px;width:128px;line-height:54px; display:inline-block;height:54px; border-radius:0; position:initial; margin-top:37px; padding-left:7px;}
#interne_emmision .timeline .gridTime{ margin-top:0;}
#interne_emmision .animateur_programme{ margin-bottom:0;}

.musicWebradio {background: #d7d7d7 none repeat scroll 0 0;margin-bottom: 30px;}
.musicWebradio .ss-style-foldedcorner::after {background-image: linear-gradient(315deg, #d7d7d7 51%, transparent 50%); }
.musicWebradio .block_title{ line-height:36px; margin-bottom:10px;}
.musicWebradio .block_title span{background:#7f7f7f;}

.programGrid .title{font-size: 24px;}
.podcastsLink{background:#fc2a30; display:table;margin-top:10px;padding:5px 10px;position:relative; font-size:14px; font-weight:900;}
#advancedSearch .ss-style-foldedcorner::after, .podcastsLink .ss-style-foldedcorner::after {background-image: linear-gradient(315deg, #fff 51%, transparent 50%); }
.podcastsLink a{ color:#FFF;}
.podcastsLink:hover{ background:#000;}

#map {width: 100%;height: 400px; margin-bottom:20px;}
#content_map{display:none;height:150px;}
#contact_form .results .ss-style-foldedcorner::after {background-image: linear-gradient(315deg, #fff 51%, transparent 50%);}
.line_form{ margin-bottom:15px;}
.line_form input,.line_form select{ border:4px solid #f0f0f0; font-size:15px; color:#393939; width:100%; height:50px; padding:0 10px;}
.line_form textarea{ /*background:#222;*/ font-size:15px; color:#393939; border:none; width:100%; padding:10px; border:4px solid #f0f0f0;}
input.error, textarea.error {background: #f8dbdb none repeat scroll 0 0 !important;/*border-color:#e77776 !important;*/}
/*.form_contact input{ background-color:#f0f0f0}*/

#similarsBlock{position:fixed;top:auto;right:0;bottom:-90px;left:0;z-index:85;height:85px;overflow:hidden;background:#151A1E;font-size:12px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}
#similarsBlock.open{bottom:0px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}
#similarsBlockNews {position:relative;}
#similarsBlockNewsItems {position:relative;}
.similarsBlockNewsItem {position:absolute;top:0;right:0;bottom:0;left:0;opacity:0;}
.similarsBlockNewsItem.selected {z-index: 10}
#similarsBlock .thumb {width:200px;height:113px;background-position:center center;background-size:cover;float:left;/*position: absolute;left: 0;top: 0;*/}
#similarsBlock .thumb:after {position:absolute;left:0;top:0;width:200px;height:85px;background-image: url(/images/sprite.png);background-position: 0 -248px;content: '';}
#similarsBlock .desc{margin:30px 0 0px;}
#similarsBlock .date{ padding:5px 0;}
#similarsBlock .title { margin-top:0;}
#similarsBlock .title a {color: rgba(255,255,255,.7);}
#similarsBlock .title:hover a {color: rgb(255,255,255);}
#similarsBlockNewsHeader {position:absolute;left:210px;top:14px;}
.similarsBlockTitle {margin-top:0;color:#fff;font-weight:600;font-size:11px;text-transform:uppercase;}
#similarsBlockNewsTitle {float:left}
#similarsBlockNewsSelectors {position: relative;top:-7px;left:10px;float:left}
.similarsBlockNewsSelector {-webkit-transition:opacity 200ms;-moz-transition:opacity 200ms;-ms-transition: opacity 200ms;-o-transition: opacity 200ms;transition: opacity 200ms;position: relative;	z-index: 10;float: left;width: 32px;height: 24px;background: 0 0;opacity: .2;cursor: pointer;}
.similarsBlockNewsSelector:after {position:absolute;left: 0;top: 10px;content: '';width: 28px;height: 4px;background: #a9acaf;}
.similarsBlockNewsSelector:hover {opacity: .65;}
.similarsBlockNewsSelector.selected {opacity: 1; }

footer{background:#222222;padding-top:37px; padding-bottom:20px; position:relative; z-index:2;}
footer .menu div.h3{margin:0;padding:0 0 10px;color:#ffffff;font-size:18px;}
footer .menu ul{}
footer .menu ul li{ margin-bottom:4px}
footer .menu ul li a{color:#9c9c9c; font-weight:300; font-size:11px}
footer .menu ul li a:hover{color:#FFF;}
footer .copyright{}
footer .search input[type=text]{ background:url(/images/front/searchFooter.png) right no-repeat #2f2f2f;color:#989797;border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-family:'ProximaNovaLight';width:90%;height:44px;padding:0 40px 0 20px;margin-top:20px;margin-left:10%;}
footer .botton_footer{border-top:1px solid #484848;color:#9c9c9c;padding:15px 0;position:relative;margin-top:15px; display:inline-block; width:100%;}


#slideNews .owl-item{ margin:0px; padding:0px;}
#slideNews .owl-controls{ position:absolute; top:282px;background:rgba(127, 127, 127, 0.8) none repeat scroll 0 0; left:0; right:0; height:30px; margin:0px;}
#slideNews .owl-controls .owl-dots{ padding:5px 0;}
#slideNews .owl-controls .owl-dots .owl-dot span {background:#fff;}
#slideNews .owl-controls .owl-dots .owl-dot.active span { background:#fc2a30; }

.desc .rsDefault, .desc img, .desc .rsDef, .desc .content_player{ background-color:#f2f2f2; border:solid 1px #d6d6d6;color:#999;}
.desc .content_player .sm2-bar-ui{ display:block}
.fb_iframe_widget span,.fb_iframe_widget{ vertical-align:top !important}
.mega-menu .grid-col-3 {width: 24%;display: inline-block;float: none;vertical-align: top;}
.shares_sports{ display:table; width:100%;}
/*_*/
.ui-widget-header {  background: #fc2a30;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { color: #606060!important}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: #ffffff url("images/ui-bg_highlight-hard_100_eeeeee_1x100.png") repeat-x scroll 50% 50%!important;    border: 1px solid #ebebeb !important;color: #606060 !important;font-weight: normal !important;}
.ui-datepicker table {  color: #0d0c0c}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 2px!important;  }
.ui-datepicker .ui-datepicker-prev-hover { left:2px!important; }
.ui-datepicker .ui-datepicker-next-hover { right:2px!important; }
/*_*/
.alert-success {  background-color: rgba(0, 0, 0, 0); color: rgb(252, 42, 48);   border-color: rgbA(252, 42, 48, 0.5);  }
.alert { padding: 10px 15px; border-radius: 0; background: rgb(247, 247, 247)}
.slide_categorie {  display: inline-table;}
.z-tabs > .z-container > .z-content > .z-content-inner { height: 100%!important; }
.classementList .team1 { text-align: right; }
.liveScore .team1 { text-align: right; }
.classementList th { text-align: center}
.margin_bottom_interne{ margin-bottom:30px;}
.margin_bottom_interne_music{ margin-bottom:15px;}
.rsDefault .rsGCaption{ display:none}
.allinone_bannerWithPlaylist.elegant.ui-draggable.ui-draggable-handle{ cursor:pointer;}
.developed_by{ text-align:right;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: #f66475!important}

.content_player { margin: 9px 10% 0!important; }
.news_block .desc{  line-height: 34px; }
.news_block .date {  line-height: 15px; }
.news_block .place { line-height: 10px;}
.news_block .title { line-height: 0;}
.news_block .intro_event { margin-top: 5px;}
.news_block .website, .news_block .place , .news_block .date { background: rgb(247, 247, 247) none repeat scroll 0 0} 

.hvr-icon-fade {vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;  backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;padding-left: 3em; }
.hvr-icon-fade:before {content: "\f00c";position: absolute;left: 1em;padding: 0 1px;font-family: FontAwesome;-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-transition-duration: 0.5s;transition-duration: 0.5s;-webkit-transition-property: color;transition-property: color;}
.hvr-icon-fade:hover:before, .hvr-icon-fade:focus:before, .hvr-icon-fade:active:before {color:rgb(252, 42, 48); }
/*_*/
.morph-search-wrapper #searchform input { line-height: 26px; font-size: 17px; }
.table.table-striped.meteo__page img{-webkit-filter: contrast(30%); filter: contrast(30%);}
.speedo-content-holder .block_title{ margin-top:0px !important;}
.container_body .container{ background-color:#FFF; padding-top:15px; padding-bottom:15px; position:relative; z-index:2;}
.slide_plus_savoir i { font-size:14px;  }
.slide_plus_savoir  i.fa-angle-double-right{ color:#e1222e; }
.slide_plus_savoir a{ font-size:14px;}
.streamerz { color: #fff; font-size: 12px; font-weight: 600; }
.banner_exp_pub_{ text-align:center;}
div.strImg.mIni,
.mMove,
.mItem{ min-height:32px !important; height:32px !important;}
.podcastPlayer .sm2-bar-ui .sm2-playlist ul li{color:#ADADAD}
.arabe .podcastPlayer .sm2-bar-ui .sm2-playlist ul li b{font-size:14px;}
.arabe .podcastPlayer .sm2-bar-ui .sm2-playlist ul li{color:#ADADAD; font-size:13px; font-family:'Droid Arabic Naskh', Arial;}

.tv .time{ border:none; taxt-align:inherit; margin:0; padding:5px 0;}

.euro2016 {background: #0a498c url("/images/front/euro2016uefa.jpg") no-repeat scroll left center / auto 100%;text-indent: -9999px;width: 132px;}

.descp__content img, .descp__content input[type=image]{ max-width:100% !important; height:auto !important;}

.videoPlayer{ direction:ltr;}
#div-gpt-ad-1427365737798-0-oop{ position:relative;}