@charset "utf-8";
.border_1 {border: 1px solid #d80d03 !important;}
li.z-active a.bgNews_1, .bg_1 {background:#d80d03 !important;}
li.z-active a.bgNews_1 span, .c_1{color:#d80d03 !important;}
.sondage .ss-style-foldedcorner_1::after {background-image: linear-gradient(315deg, #d80d03 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_1{color:#d80d03 !important;}

.border_2 {border: 1px solid #eb1615 !important;}
li.z-active a.bgNews_2, .bg_2 {background:#eb1615 !important;}
li.z-active a.bgNews_2 span, .c_2{color:#eb1615 !important;}
.sondage .ss-style-foldedcorner_2::after {background-image: linear-gradient(315deg, #eb1615 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_2{color:#eb1615 !important;}

.border_3 {border: 1px solid #eb1615 !important;}
li.z-active a.bgNews_3, .bg_3 {background:#eb1615 !important;}
li.z-active a.bgNews_3 span, .c_3{color:#eb1615 !important;}
.sondage .ss-style-foldedcorner_3::after {background-image: linear-gradient(315deg, #eb1615 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_3{color:#eb1615 !important;}

.border_4 {border: 1px solid #494949 !important;}
li.z-active a.bgNews_4, .bg_4 {background:#494949 !important;}
li.z-active a.bgNews_4 span, .c_4{color:#494949 !important;}
.sondage .ss-style-foldedcorner_4::after {background-image: linear-gradient(315deg, #494949 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_4{color:#494949 !important;}

.border_5 {border: 1px solid #77868b !important;}
li.z-active a.bgNews_5, .bg_5 {background:#77868b !important;}
li.z-active a.bgNews_5 span, .c_5{color:#77868b !important;}
.sondage .ss-style-foldedcorner_5::after {background-image: linear-gradient(315deg, #77868b 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_5{color:#77868b !important;}

.border_7 {border: 1px solid #60c782 !important;}
li.z-active a.bgNews_7, .bg_7 {background:#60c782 !important;}
li.z-active a.bgNews_7 span, .c_7{color:#60c782 !important;}
.sondage .ss-style-foldedcorner_7::after {background-image: linear-gradient(315deg, #60c782 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_7{color:#60c782 !important;}

.border_8 {border: 1px solid #b754e2 !important;}
li.z-active a.bgNews_8, .bg_8 {background:#b754e2 !important;}
li.z-active a.bgNews_8 span, .c_8{color:#b754e2 !important;}
.sondage .ss-style-foldedcorner_8::after {background-image: linear-gradient(315deg, #b754e2 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_8{color:#b754e2 !important;}

.border_9 {border: 1px solid #119fe9 !important;}
li.z-active a.bgNews_9, .bg_9 {background:#119fe9 !important;}
li.z-active a.bgNews_9 span, .c_9{color:#119fe9 !important;}
.sondage .ss-style-foldedcorner_9::after {background-image: linear-gradient(315deg, #119fe9 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_9{color:#119fe9 !important;}

.border_10 {border: 1px solid #40b7cd !important;}
li.z-active a.bgNews_10, .bg_10 {background:#40b7cd !important;}
li.z-active a.bgNews_10 span, .c_10{color:#40b7cd !important;}
.sondage .ss-style-foldedcorner_10::after {background-image: linear-gradient(315deg, #40b7cd 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_10{color:#40b7cd !important;}

.border_12 {border: 1px solid #eb1615 !important;}
li.z-active a.bgNews_12, .bg_12 {background:#eb1615 !important;}
li.z-active a.bgNews_12 span, .c_12{color:#eb1615 !important;}
.sondage .ss-style-foldedcorner_12::after {background-image: linear-gradient(315deg, #eb1615 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_12{color:#eb1615 !important;}

.border_13 {border: 1px solid #99142b !important;}
li.z-active a.bgNews_13, .bg_13 {background:#99142b !important;}
li.z-active a.bgNews_13 span, .c_13{color:#99142b !important;}
.sondage .ss-style-foldedcorner_13::after {background-image: linear-gradient(315deg, #99142b 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_13{color:#99142b !important;}

.border_14 {border: 1px solid #4e1313 !important;}
li.z-active a.bgNews_14, .bg_14 {background:#4e1313 !important;}
li.z-active a.bgNews_14 span, .c_14{color:#4e1313 !important;}
.sondage .ss-style-foldedcorner_14::after {background-image: linear-gradient(315deg, #4e1313 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_14{color:#4e1313 !important;}

.border_15 {border: 1px solid #1576eb !important;}
li.z-active a.bgNews_15, .bg_15 {background:#1576eb !important;}
li.z-active a.bgNews_15 span, .c_15{color:#1576eb !important;}
.sondage .ss-style-foldedcorner_15::after {background-image: linear-gradient(315deg, #1576eb 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_15{color:#1576eb !important;}

.border_16 {border: 1px solid #15a9eb !important;}
li.z-active a.bgNews_16, .bg_16 {background:#15a9eb !important;}
li.z-active a.bgNews_16 span, .c_16{color:#15a9eb !important;}
.sondage .ss-style-foldedcorner_16::after {background-image: linear-gradient(315deg, #15a9eb 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_16{color:#15a9eb !important;}

.border_17 {border: 1px solid #046431 !important;}
li.z-active a.bgNews_17, .bg_17 {background:#046431 !important;}
li.z-active a.bgNews_17 span, .c_17{color:#046431 !important;}
.sondage .ss-style-foldedcorner_17::after {background-image: linear-gradient(315deg, #046431 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_17{color:#046431 !important;}

.border_18 {border: 1px solid #15eb46 !important;}
li.z-active a.bgNews_18, .bg_18 {background:#15eb46 !important;}
li.z-active a.bgNews_18 span, .c_18{color:#15eb46 !important;}
.sondage .ss-style-foldedcorner_18::after {background-image: linear-gradient(315deg, #15eb46 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_18{color:#15eb46 !important;}

.border_19 {border: 1px solid #097382 !important;}
li.z-active a.bgNews_19, .bg_19 {background:#097382 !important;}
li.z-active a.bgNews_19 span, .c_19{color:#097382 !important;}
.sondage .ss-style-foldedcorner_19::after {background-image: linear-gradient(315deg, #097382 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_19{color:#097382 !important;}

.border_20 {border: 1px solid #eb15a1 !important;}
li.z-active a.bgNews_20, .bg_20 {background:#eb15a1 !important;}
li.z-active a.bgNews_20 span, .c_20{color:#eb15a1 !important;}
.sondage .ss-style-foldedcorner_20::after {background-image: linear-gradient(315deg, #eb15a1 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_20{color:#eb15a1 !important;}

.border_21 {border: 1px solid #eb1615 !important;}
li.z-active a.bgNews_21, .bg_21 {background:#eb1615 !important;}
li.z-active a.bgNews_21 span, .c_21{color:#eb1615 !important;}
.sondage .ss-style-foldedcorner_21::after {background-image: linear-gradient(315deg, #eb1615 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_21{color:#eb1615 !important;}

.border_22 {border: 1px solid #06570a !important;}
li.z-active a.bgNews_22, .bg_22 {background:#06570a !important;}
li.z-active a.bgNews_22 span, .c_22{color:#06570a !important;}
.sondage .ss-style-foldedcorner_22::after {background-image: linear-gradient(315deg, #06570a 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_22{color:#06570a !important;}

.border_23 {border: 1px solid #eb1615 !important;}
li.z-active a.bgNews_23, .bg_23 {background:#eb1615 !important;}
li.z-active a.bgNews_23 span, .c_23{color:#eb1615 !important;}
.sondage .ss-style-foldedcorner_23::after {background-image: linear-gradient(315deg, #eb1615 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_23{color:#eb1615 !important;}

.border_24 {border: 1px solid #24eb15 !important;}
li.z-active a.bgNews_24, .bg_24 {background:#24eb15 !important;}
li.z-active a.bgNews_24 span, .c_24{color:#24eb15 !important;}
.sondage .ss-style-foldedcorner_24::after {background-image: linear-gradient(315deg, #24eb15 51%, transparent 50%); right: 0;}
.sondage .ss-style-foldedcorner_24{color:#24eb15 !important;}
