
                        .locker{

                            position:fixed;
                            width:100% !important;
                            top:-12px;
/*                            background-image: url();*/
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII=);

                            background-repeat: repeat;
                            display:block;
                            overflow:hidden;
                            z-index:65465465465;

                        }

                        .ad-script{
                            width:700px;
                            margin:auto;
                            clear:both;
                            position:relative;
                            margin-top:-900px;
                            overflow:hidden;
                        }

                        .ad-text{
                            width:100%;
                            text-align:center;
                            clear:both;
                            position:relative;
                            font:400 20px tahoma;
                            color:#000;
                            overflow:hidden;
                            cursor:pointer;
                            text-decoration:underline;
                            margin-top:5px;
                        }


@media only screen and (max-width: 1340px) {
    .sam {
        display: none;
    }
}

.share-icons {
 display: none;
}
/*

.aad { top: 0px; left: 0; position: fixed; width: 160px; height: 600px;}
.cad { top: 0px; right: 0; position: fixed; width: 160px; height: 600px;}
*/

.aad { top: 0px; left: 0; position: absolute; width: 160px; height: 600px;}
.cad { top: 0px; right: 0; position: absolute; width: 160px; height: 600p