
.ads2 
{
	display: inline-block;
	margin-left: 1px;
}

.ads4 
{
	margin: 3px 0px;
}

.ads6
 {
	float:right;
	margin: 2px;
	display: inline;
}

.ads9
 {
	float:right;
	display: inline;
}

.ads14
{
	margin-bottom: 25px;
}

.ads18
 {
	 display: inline-block;
	 margin-left: 30px; 
}

.ads25 
{
	float:right;
	margin: 4px 5px;
	display: inline;
}