﻿.section
{
    width: 100%;
    margin: 0 0 0px 0;
    padding-top: 0px;
}
ul.tabs {
	height: 28px;
	line-height: 25px;
	list-style: none;
 
}
.tabs li
{
    float: right;
    display: inline;
    margin: 0px 0px 0px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 11pt;
    font-family: Arial;
    background-position: 0% center;
    background-image: url(../img/MenuRep.png);
    background-repeat: repeat-x;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 2px;
    padding-top: 0px;
    background-color: #990000;
}
.tabs li:hover, .vertical .tabs li:hover
{
    color: #FFFFFF;
    padding: 0 13px 2px;
    background: #000000;
}
.tabs li.current
{
    color: #FFFFFF;
    background: #000000;
    padding: 0 13px 2px;
    font-weight: bold;
    font-size: 11pt;
    font-family: Arial;
      margin: 0px 0px 0px;
}
.box {
	display: none;
 width:100%;
	 
	padding: 0 0px;
}
.box.visible {
	display: block;
} 
