/* Reset */
.dcsmt ul, .dcsmt li, .dcsmt h3 {
	padding: 0; 
	margin: 0; 
	list-style: none!important;
}
.profile {

direction:ltr;

}
/* Main widget styles */
.dcsmt {
	font-size: 14px;
	color: #666;
font-family:Regtext;
line-height:110%;
}
.active.dcsmt .dcsmt-slider {
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
	
}
.dcsmt a {
	text-decoration:none;

}
.dcsmt-content {
	position: relative;
}

/* Tabs */
#social-tabs {z-index:200000;}
.social-tabs li {
	padding: 3px 3px 3px 4px;
	width: 27px;
	height: 26px;
	background: #d90006;
	z-index: 10;
}
.active .social-tabs li {
	z-index: 10;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
}
.active .social-tabs li.active {
	z-index: 11;
	-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
}
/** Static **/
.static .social-tabs {
	padding-left: 8px;
}
.static .social-tabs li {
	float: left;
	margin-right: 2px;
	border-radius: 5px 5px 0 0; 
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
/** Top **/
.top .social-tabs {
	padding-left: 8px;
}
.top.align-right .social-tabs {
	padding-left: 0;
	padding-right: 8px;
}
.top .social-tabs li {
	padding: 3px 4px;
	margin-right: 2px;
	float: left;
	border-radius: 0 0 5px 5px; 
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
/** Right **/
.right .social-tabs {
	padding-top: 8px;
}
.right .social-tabs li {
	margin: 0 0 2px 0;
	border-radius: 5px 0 0 5px; 
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
}
/** Bottom **/
.bottom .social-tabs {
	padding-left: 8px;
}
.bottom.align-right .social-tabs {
	padding-left: 0;
	padding-right: 8px;
}
.bottom .social-tabs li {
	padding: 4px 4px 2px 4px;
	margin: 0 2px 0 0;
	float: left;
	border-radius: 5px 5px 0 0; 
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
/** Left **/
.left .social-tabs {
	padding-top: 8px;
}
.left .social-tabs li {
	margin: 0 0 2px 0;
	border-radius: 0 5px 5px 0; 
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

/* Tab Content */
.dcsmt-slider {
	clear: both;
	overflow: hidden;
}
.tab-content {
	position: relative;
	overflow: hidden;
	z-index: 11;
	background: url(../images/loader.gif) no-repeat center 200px;
}
.tab-content ul {
	font-size: 14px;
}
.tab-content .tab-inner {
	background: #fff;
	overflow: hidden;
}
.tab-inner ul {
	padding: 0 10px;
}
.tab-inner .profile {
	position: relative;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}
.tab-inner .profile h3 {
	margin: 0;
	padding: 5px 0 3px 26px;
	position: relative;
	font-size: 14px; 
	line-height: 20px;
direction:ltr;
}
.tab-inner .profile h3 a {
	text-decoration: none;
padding:10px;
direction:ltr;
}
.tab-inner .profile h3, .tab-inner .profile h3 a {
	color: #555; 
	text-shadow: 0 1px 0 #fff;
}
.tab-inner .dcsmt-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font: bold 12px/14px Arial, sans-serif;
	display:inline-block;
	text-decoration:none;
	outline:none;
	padding: 5px 8px;
	background: #fcfcfc url(../images/btn.png) repeat-x 0 0;
    color: #fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.tab-inner .dcsmt-btn:hover{
	background-position: 0 100%;
    color: #fff;
}
.tab-inner .profile a.avatar{
	display:block;
	float:left;
	text-decoration:none;
	outline:none;
	margin:0 10px 0 0
}
.tab-inner .profile a.avatar img{
	padding:1px;
	background: #fff;
	border: 3px solid #ccc;
	display:block
}
/** Network specific profile header **/
.tab-rss .profile h3 {
	background: url(../images/rss.png) no-repeat 0 1px;
}
.tab-flickr .profile h3 {
	background: url(../images/flickr.png) no-repeat 0 1px;
}
.tab-delicious .profile h3 {
	background: url(../images/delicious.png) no-repeat 0 1px;
}
.tab-twitter .profile h3 {
	background: url(../images/twitter.png) no-repeat 0 1px;
}
.tab-facebook .profile h3 {
	background: url(../images/facebook.png) no-repeat 0 1px;
}
.tab-fblike .profile h3 {
	background: url(../images/fblike.png) no-repeat 0 1px;
}
.tab-fbrec .profile h3 {
	background: url(../images/fbrec.png) no-repeat 0 1px;
}
.tab-google .profile h3 {
	background: url(../images/google.png) no-repeat 0 1px;
}
.tab-youtube .profile h3 {
	background: url(../images/youtube.png) no-repeat 0 1px;
}
.tab-pinterest .profile h3 {
	background: url(../images/pinterest.png) no-repeat 0 1px;
}
.tab-lastfm .profile h3 {
	background: url(../images/lastfm.png) no-repeat 0 1px;
}
.tab-dribbble .profile h3 {
	background: url(../images/dribbble.png) no-repeat 0 1px;
}
.tab-vimeo .profile h3 {
	background: url(../images/vimeo.png) no-repeat 0 1px;
}
.tab-stumbleupon .profile h3 {
	background: url(../images/stumbleupon.png) no-repeat 0 1px;
}
.tab-tumblr .profile h3 {
	background: url(../images/tumblr.png) no-repeat 0 1px;
}
.tab-deviantart .profile h3 {
	background: url(../images/deviantart.png) no-repeat 0 1px;
}
.tab-linkedin .profile h3 {
	background: url(../images/linkedin.png) no-repeat 0 1px;
}
.tab-instagram .profile h3 {
	background: url(../images/instagram.png) no-repeat 0 1px;
}

/** Static **/
.static .dcsmt-slider {
	border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.static .tab-content {
	padding: 10px;
}
.static .tab-inner {
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
/** Top **/
.top .dcsmt-slider {
	border-radius: 0 0 10px 10px; 
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
}
.top .tab-inner {
	border-radius: 0 0 5px 5px; 
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
.top .tab-content {
	padding: 0 10px 10px 10px;
}
/** Right **/
.right .dcsmt-slider {
	border-radius: 10px 0 0 10px; 
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
}
.right .tab-inner {
	border-radius: 5px 0 0 5px; 
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
}
.right .tab-content {
	padding: 10px 0 10px 10px;
}
/** Bottom **/
.bottom .dcsmt-slider {
	border-radius: 10px 10px 0 0; 
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
}
.bottom .tab-inner {
	border-radius: 5px 5px 0 0; 
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
.bottom .tab-content {
	padding: 10px 10px 0 10px;
}
/** Left **/
.left .dcsmt-slider {
	border-radius: 0 10px 10px 0; 
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
}
.left .tab-inner {
	border-radius: 0 5px 5px 0; 
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}
.left .tab-content {
	padding: 10px 10px 10px 0;
}
/** Network specific colors **/
.tab-content.tab-rss, .social-tabs li.active.dcsmt-rss, .social-tabs li.dcsmt-rss:hover, .tab-rss .dcsmt-btn {
	background-color: #FF9800;
}
.tab-content.tab-flickr, .social-tabs li.active.dcsmt-flickr, .social-tabs li.dcsmt-flickr:hover, .tab-flickr .dcsmt-btn {
	background-color: #f90784;
}
.tab-content.tab-delicious, .social-tabs li.active.dcsmt-delicious, .social-tabs li.dcsmt-delicious:hover, .tab-delicious .dcsmt-btn {
	background-color: #3271CB;
}
.tab-content.tab-twitter, .social-tabs li.active.dcsmt-twitter, .social-tabs li.dcsmt-twitter:hover, .tab-twitter .dcsmt-btn{
	background-color: #4ec2dc;
}
.tab-content.tab-facebook, .social-tabs li.active.dcsmt-facebook, .social-tabs li.dcsmt-facebook:hover, .tab-facebook .dcsmt-btn {
	background-color: #3b5998;
}
.tab-content.tab-fblike, .social-tabs li.active.dcsmt-fblike, .social-tabs li.dcsmt-fblike:hover, .tab-fblike .dcsmt-btn {
	background-color: #3b5998;
}
.tab-content.tab-fbrec, .social-tabs li.active.dcsmt-fbrec, .social-tabs li.dcsmt-fbrec:hover, .tab-fbrec .dcsmt-btn {
	background-color: #3b5998;
}
.tab-content.tab-google, .social-tabs li.active.dcsmt-google, .social-tabs li.dcsmt-google:hover, .tab-google .dcsmt-btn {
	background-color: #2d2d2d;
}
.tab-content.tab-youtube, .social-tabs li.active.dcsmt-youtube, .social-tabs li.dcsmt-youtube:hover, .tab-youtube .dcsmt-btn {
	background-color: #DF1F1C;
}
.tab-content.tab-digg, .social-tabs li.active.dcsmt-digg, .social-tabs li.dcsmt-digg:hover, .tab-digg .dcsmt-btn {
	background-color: #195695;
}
.tab-content.tab-pinterest, .social-tabs li.active.dcsmt-pinterest, .social-tabs li.dcsmt-pinterest:hover, .tab-pinterest .dcsmt-btn {
	background-color: #CB2528;
}
.tab-content.tab-lastfm, .social-tabs li.active.dcsmt-lastfm, .social-tabs li.dcsmt-lastfm:hover, .tab-lastfm .dcsmt-btn {
	background-color: #C90E12;
}
.tab-content.tab-dribbble, .social-tabs li.active.dcsmt-dribbble, .social-tabs li.dcsmt-dribbble:hover, .tab-dribbble .dcsmt-btn {
	background-color: #F175A8;
}
.tab-content.tab-vimeo, .social-tabs li.active.dcsmt-vimeo, .social-tabs li.dcsmt-vimeo:hover, .tab-vimeo .dcsmt-btn {
	background-color: #4EBAFF;
}
.tab-content.tab-stumbleupon, .social-tabs li.active.dcsmt-stumbleupon, .social-tabs li.dcsmt-stumbleupon:hover, .tab-stumbleupon .dcsmt-btn {
	background-color: #EB4924;
}
.tab-content.tab-tumblr, .social-tabs li.active.dcsmt-tumblr, .social-tabs li.dcsmt-tumblr:hover, .tab-tumblr .dcsmt-btn {
	background-color: #365472;
}
.tab-content.tab-deviantart, .social-tabs li.active.dcsmt-deviantart, .social-tabs li.dcsmt-deviantart:hover, .tab-deviantart .dcsmt-btn {
	background-color: #B8C529;
}
.tab-content.tab-linkedin, .social-tabs li.active.dcsmt-linkedin, .social-tabs li.dcsmt-linkedin:hover, .tab-linkedin .dcsmt-btn {
	background-color: #006DA7;
}
.tab-content.tab-instagram, .social-tabs li.active.dcsmt-instagram, .social-tabs li.dcsmt-instagram:hover, .tab-instagram .dcsmt-btn {
	background-color: #413A33;
}

/* Feeds */
.dcsmt .stream {
	overflow: hidden;
}
.stream p {
	margin: 0;
	padding: 0;
}
.tab-inner ul.stream > li {
	padding: 5px 0 20px 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	background: none;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
}
.tab-inner ul li .thumb {
	float: left;
	margin: 0 10px 0 0;
}
.tab-inner ul li .thumb img {
	border: 3px solid #ececec;
	padding: 1px;
	background: #fff;
}
.tab-inner ul li .logo {
	margin-bottom: 3px;
}
.tab-inner ul li .title {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}
.tab-inner ul li .title.clear {
	clear: both;
}
.tab-inner ul li .text {
	display: block;
}
.tab-inner ul li .text br{
	display: none;
}
.tab-inner ul li .date {
	position: absolute;
	bottom: 5px;
	left: 0;
	font-style: italic;
	color: #999;
	font-size: 90%;
}
.tab-inner ul li .meta {
	display: block;
	font-size: 90%;
	color: #999;
}
.tab-inner ul li .meta span {
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 0 0 0 15px;
	line-height: 12px;
}
.tab-inner ul li .meta.item-comments {
	padding: 0 0 0 35px;
	margin: 0 0 5px 0;
	min-height: 30px;
	position: relative;
	clear: both;
	line-height: 1.3em;
}
.tab-inner ul li .meta.item-comments img {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
}
.tab-inner ul li .meta.item-likes {
	padding: 0;
	width: 100%;
	overflow: hidden;
	clear: both;
	line-height: 1.3em;
}
.tab-inner ul li .meta.item-likes img {
	float: left;
	margin: 0 5px 5px 0;
	width: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}
/* feeds network specific styles */
.tab-dribbble .tab-inner ul li .thumb img {
	margin-bottom: 5px;
}
.tab-lastfm .tab-inner ul li .title {
	background: url(../images/tracks.png) no-repeat 0 0;
	padding-left: 17px;
	margin-bottom: 0;
}
.tab-google .tab-inner ul li .title {
	margin-bottom: 5px;
}
.tab-vimeo .tab-inner ul li .text {
	margin-bottom: 5px;
}
.tab-inner ul li .meta span.plusones {
	padding-left: 0;
}
.tab-inner ul li .meta span.shares {
	background: url(../images/shares.png) no-repeat 0 0;
	padding-left: 20px;
}
.tab-inner ul li .meta span.views {
	background: url(../images/views.png) no-repeat 0 0;
	padding-left: 18px;
}
.tab-inner ul li .meta span.likes {
	background: url(../images/likes.png) no-repeat 0 0;
	padding-left: 16px;
}
.tab-inner ul li .meta span.comments {
	background: url(../images/comments.png) no-repeat 0 0;
}
.tab-inner ul li .meta span.users {
	background: url(../images/users.png) no-repeat 0 0;
}
.tab-inner ul li .meta span.videos {
	background: url(../images/videos.png) no-repeat 0 0;
	padding-left: 16px;
}
.tab-inner ul li.dcsmt-error {
	color: #990000;
}
.dcsmt-loading {
	background: url(../images/loader.gif) no-repeat 10px center;
	padding: 10px 30px 10px 42px;
}

/* Controls */
.dcsmt .controls {
	position: absolute;
	left: 10px;
	height: 20px;
	padding: 5px 0;
	z-index: 12;
	display: none;
	background: url(../images/bg_white.png) repeat 0 0;
}
.dcsmt .controls ul {
	padding: 0 10px;
}
.dcsmt .controls li {
	display: inline;
}
.dcsmt .controls a {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 4px;
	background: url(../images/controls.png) no-repeat 0 0;
}
.dcsmt .controls .prev {
	background-position: -40px 0;
}
.dcsmt .controls .next {
	background-position: -60px 0;
}
.dcsmt .controls .play {
	background-position: 0 0;
}
.dcsmt .controls .pause {
	background-position: -20px 0;
}
.dcsmt .controls .dcsmt-close {
	background-position: -80px 0;
}
.dcsmt .controls .prev:hover {
	background-position: -40px -20px;
}
.dcsmt .controls .next:hover {
	background-position: -60px -20px;
}
.dcsmt .controls .play:hover {
	background-position: 0 -20px;
}
.dcsmt .controls .pause:hover {
	background-position: -20px -20px;
}
.dcsmt .controls .dcsmt-close:hover {
	background-position: -80px -20px;
}
/** Static **/
.dcsmt.static .controls {
	bottom: 10px;
}
/** Top **/
.dcsmt.top .controls {
	bottom: 10px;
}
/** Right **/
.dcsmt.right .controls {
	bottom: 10px;
	right: 0;
}
/** Bottom **/
.dcsmt.bottom .controls {
	bottom: 0;
}
/** Left **/
.dcsmt.left .controls {
	bottom: 10px;
	left: 0;
}
/* twitter */
.tab-twitter .tab-inner ul li .thumb img {
	border: 1px solid #ececec;
	padding: 1px;
	background: #fff;
}
/* google */
.tab-google .tab-inner .google-page {
	overflow: hidden;
	height: 55px;
	border-bottom: 1px solid #ccc;
}
.tab-google .tab-inner .google-page.standard {
	height: 117px;
}
.tab-google .tab-inner .google-page.small iframe{
	height: 69px;
	margin-bottom: 0;
}
.tab-google .tab-inner .google-page.standard iframe{
	height: 131px;
	margin-bottom: 0;
}
/** rss **/
.tab-rss .tab-inner ul li p {
	padding: 3px 0;
}
/** Facebook **/
.tab-facebook .tab-inner ul li p {
	padding: 3px 0;
color:#333366;
}
.tab-facebook .tab-inner li img{
	float: left;
	margin: 0 7px 5px 0;
	padding: 2px;
	background: #fff;
	border: 1px solid #ececec;
}
/** Flickr **/
.tab-flickr .tab-inner ul {
	padding-top: 5px;
}
.tab-flickr .tab-inner ul.stream li {
	float: left;
	padding: 0;
	margin: 0 5px 5px 0;
	border: none;
}
.tab-flickr .tab-inner li .thumb {
	margin: 0;
}
.tab-flickr .tab-inner li img{
	height: 70px;
}
/** Youtube **/
.youtube-subscribe {
	overflow: hidden; 
	height: 105px; 
	width: 100%; 
	border: 0;
}
/* Digg */
.tab-digg .digg-widget .digg-widget-head.premium, .tab-digg .digg-widget .digg-widget-head {
    height: auto;
    overflow: hidden;
    padding: 10px;
    position: relative;
    white-space: nowrap;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}
.tab-digg .digg-widget .digg-widget-head h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 26px;
    white-space: nowrap;
	text-shadow: 0 1px 0 #fff;
	background: url(../images/digg.png) no-repeat 0 0;
}
.tab-digg .digg-widget .digg-widget-head a {
	top: 12px;
}
.tab-digg .digg-widget-content {
	border-top: 1px solid #ccc;
}
/* Pinterest */
.tab-pinterest .tab-inner ul li {
	background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    font-size: 11px;
    padding: 15px 15px 45px 15px;
    width: 192px;
	margin: 10px auto;
}
.tab-pinterest .tab-inner ul li a {

}
.tab-pinterest .tab-inner ul li img {
	background: #fff;
	margin-bottom: 2px;
	border: none;
	padding: none;
}
.tab-pinterest .tab-inner ul li p {
	text-align: left;
	padding: 0;
	line-height: 1.35em;
}
.tab-pinterest .tab-inner ul li .date {
	background-color: #F2F0F0;
    padding: 10px 15px;
	width: 192px;
	left: 0;
	bottom: 0;
	color: #8C7E7E;
	font-style: normal;
	font-weight: bold;
}
.tab-pinterest .tab-inner ul li .date {
	margin-left: 0;
}
/* tumblr */
.tab-tumblr .tab-inner ul li img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}
.tab-tumblr .tab-inner ul li p {
	padding: 3px 0;
}
.tab-tumblr .tab-inner ul li .track {
	display: block;
	background: url(../images/tracks.png) no-repeat 0 5px;
	padding: 5px 0 0 17px;
	margin-bottom: 0;
}
/* instagram */
.tab-instagram .tab-inner ul li .thumb {
	margin-bottom: 3px;
}
.tab-instagram .tab-inner ul li .meta .comments, .tab-instagram .tab-inner ul li .meta .likes {
	margin-top: 5px;
}