﻿
.infiniteCarousel {
  width: 930px;
  position: relative;

}

.infiniteCarousel .wrapper2 {
  width: 840px; /* .infiniteCarousel width - (.wrapper2 margin-left + .wrapper2 margin-right) */
  overflow: auto;
  min-height: 180px;
  margin: 0 40px;
  
  top: 0;
   
}

.infiniteCarousel ul a img {
  border: 2px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.infiniteCarousel ul a img:hover {
  border: 2px solid red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper2 ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:right;
  padding: 10px;
 
  width: 85px;
  text-align:center;
}
.infiniteCarousel ul li a
{
    font-weight: bold;
    font-family: Arial;
    font-size: 11.5pt;
    color: #333333;
    text-align: right;
    text-decoration: none;
}
.infiniteCarousel ul li a:hover
{color:Red;}
.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 36px;
  width: 37px;
  background: url(../img/arrow.png) no-repeat 0 0;
  text-indent: -999px;
  position: absolute;
  top: 37px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}



     .locker{

                            position:fixed;
                            width:100% !important;
                            top:-12px;
/*                            background-image: url();*/
                            background-repeat: repeat;
                            display:block;
                            overflow:hidden;
                            z-index:65465465465;

                        }

                        .ad-script{
                            width:700px;
                            margin:auto;
                            clear:both;
                            position:relative;
                            margin-top:-900px;
                            overflow:hidden;
                        }

                        .ad-text{
                            width:100%;
                            text-align:center;
                            clear:both;
                            position:relative;
                            font:400 20px tahoma;
                            color:#000;
                            overflow:hidden;
                            cursor:pointer;
                            text-decoration:underline;
                            margin-top:5px;
                        }
