@charset "euc-jp";
/*
### CSS Information
File name:      base.css
Created:        2014-10-08
Last update:    2015-03-03 by iwabuchi
*/

/*
### reset css
*/

body{
  font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
  line-height:1.5;
  color:#333;
  word-break:break-all;
  word-wrap:break-word;
}
a:link{
  color:#006699;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a:visited{
  color:#444499;
}
img{
  border:0;
}
table{
  border-collapse:collapse;
}

/*
###  utility
*/
 
/* 
# group
*/
.group:before,
.group:after {
  content:" ";
  display:table;
}
.group:after {
  clear:both;
}
.group{
  *zoom: 1;
}

/*
### layout
*/

/*
## u_pageContainer
*/

.u_pageContainer{
	padding: 0 10px;
  margin:0 auto;
}
.u_pageContainer.is_970{
  width:970px;
  padding-top:20px;
}

/*
## u_navi
*/

.u_navi{
  float:left;
  margin-right:20px;
}
.u_navi.is_200{
  width:200px;
}

.u_navi.is_180{
  width:180px;
}

/*
## u_contents
*/

.u_contents{
  float:left;
}
.u_contents.is_430{
  width:430px;
}
.u_contents.is_450{
  width:450px;
}
.u_contents.is_650{
  width:650px;
}

/*
## u_sidebar
*/

.u_sidebar{
  float:right;
}
.u_sidebar.is_300{
  width:300px;
  margin-bottom:20px;
}
.u_sidebar .u_bannerFrame{
  margin-bottom:20px;
}
.u_sidebar .u_bannerFrame.is_top{
  margin-bottom:0px;
}
.u_sidebar .u_bannerFrame.is_top a{
  display:block;
  margin-bottom:20px;
}

/*
# u_sidebar_snsFollow
*/

.u_sidebar_snsFollow .text{
  padding-top:5px;
  float:left;
  line-height:1.3;
}
.u_sidebar_snsFollow .icon{
  float:right;
}
.u_sidebar_snsFollow .icon li{
  float:right;
  margin-left:5px;
}

/*
# u_gridBox
*/

.u_gridBox{
  float: left;
  display: inline;
}
.u_gridBox h3{
  font-size: 16px;
  line-height: 1.4;
}
.u_grid02{
  margin: 0 0 0 -20px;
  overflow: hidden;
}
.u_grid02 .u_gridBox{
  width: 315px;
  margin-left: 20px;
}
.u_grid02 .u_thumbnail{
  float: left;
}
.u_grid02 .text{
  margin-left: 95px;
}
.u_grid02 h3{
  margin: -2px 0 2px 0;
}
.u_grid03{
  margin: 0 0 0 -15px;
  overflow: hidden;
}
.u_grid03 .u_gridBox{
  width: 206px;
  margin-left: 15px;
}
.u_grid03 .u_captionSet{
  min-height: 70px;
}
.u_grid03 h3{
  margin: 10px 0 2px 0;
}
.u_grid03 .u_txtPrice em{
  font-size: 20px;
  line-height: 1.2;
}
.u_grid03 .u_txtPrice {
  font-size: 11px;
}

/*
# to_smartphone
*/

#to_smartphone {
  padding: 25px 0px;
  background: #f2f2e8;
}
#to_smartphone a {
	display: block;
	text-decoration: none;
}
.to_smartphone_btn {
	display: block;
	margin: 0px 25px;
	padding: 15px 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #007ab2;
	background: -moz-linear-gradient(top,#bfd9e5, #3d95b7 50%,#007ab2 50%,#3d97bf);
	background: -webkit-gradient(linear, left top, left bottom, from(#bfd9e5), color-stop(0.5,#3d95b7), color-stop(0.5,#007ab2), to(#3d97bf));
	-moz-box-shadow: 1px 3px 3px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 3px 3px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
	color: #fff;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}


/*
### box
*/

/*
# u_commonBox
*/

.u_commonBox{
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom:30px;
}
.u_commonBox.is_textBox{
  background: #f6f6f6;
}
.u_commonBox.is_textBox h2{
  font-size: 16px;
  margin-bottom: 5px;
}
.u_commonBox .u_commonText{
  margin: 0;
}
.u_commonBox.is_borderNone{
  background: #f3f3f3;
  border: none;
}
.u_borderTopBlue .u_commonBox{
  border-top-width:0;
  margin-bottom: 0;
}

/*
### border
*/

.u_borderTop{
  border-top: 1px solid #ddd;
  padding-top: 8px;
  margin-top: 8px;
}
.u_borderDotTop{
  border-top: 1px dotted #ccc;
  padding-top: 8px;
  margin-top: 8px;
}
.u_borderTopBlue{
  border-top: 2px solid #0098de;
  margin-bottom: 30px;
}

/*
### heading
*/

.u_heading{
  position: relative;
}

.u_title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.u_commonHeading01{
  background: #eee;
  font-size: 16px;
  font-weight: bold;
  border-top: 2px solid #0098de;
  position: relative;
  padding: 4px 10px;
  margin-bottom: 15px;
}

.u_commonHeading02{
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #0098de;
  position: relative;
  padding: 0 0 7px 0;
  margin-bottom: 15px;
}

.u_commonHeading03{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
}

.u_headingLink{
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 6px;
	right: 10px;
}

.u_spotHeading{
  position: relative;
  width: 385px;
}

.u_spotHeading .u_spotName{
  font-weight: bold;
  margin-right: 8px;
}

.u_categoryLabel span{
  background: #fff;
  color: #999;
  font-size: 12px;
  border: 1px solid #999;
  white-space: nowrap;
  padding: 1px 6px;
  margin-right: 5px;
  zoom: 1;
}

/*
### text
*/

/*
# u_commonText
*/

.u_commonText{
  font-size: 14px;
  line-height: 1.8;
  word-break: break-all;
  margin: 5px 0 25px 0;
}

/*
# u_listTips
*/

.u_listTips{
  color: #666;
}
.u_listTips span{
  font-weight: bold;
}

/*
# u_txtPrice
*/

.u_txtPrice span{
  color: #cc3333;
  font-weight: bold;
}
.u_txtPrice em{
  font-size: 14px;
}
.u_txtPrice {
  font-size: 11px;
}

/*
# u_linkArrow
*/

.u_linkArrow{ 
  background:url(http://img.4travel.jp/img/webapp/cmn/icon/u_pointer_blue.png) no-repeat center left;
  padding-left:10px;
}
.u_linkList a{
  background:url(http://img.4travel.jp/img/webapp/cmn/icon/u_pointer_blue.png) no-repeat left 8px;
  display: inline-block;
  padding-left:10px;
}

/* Iwabuchi added */
.u_qaIcon{
  padding:1px 0 1px 25px;
  background: url(http://img.4travel.jp/img/webapp/cmn/icon/u_pointer_qa.png) no-repeat left 0.1em ;
}

/* Iwabuchi added */
.u_likeHeartIcon{
  background: url("http://img.4travel.jp/img/webapp/cmn/icon/u_pointer_like_blue.png") no-repeat left 0.1em;
  padding: 0 0 0 20px;
}

/* Iwabuchi added */
.u_questionIcon{
  padding:2px 0 2px 17px;
  background:url("http://img.4travel.jp/img/webapp/cmn/icon/u_question_contents.png") no-repeat left;
}

/* Iwabuchi added */
.u_divide{
  padding:0 10px;
  color: #ccc;
}

/*
### img
*/

/*
# u_thumbnail
*/

.u_thumbnail{
  position: relative;
}
.u_thumbnail:hover img{
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

/*
### button
*/

/*
# u_commonButton
*/

.u_commonButton a,
input.u_commonButton{
  display:block;
  font-size: 14px;
  text-align:center;
  font-weight:bold;
  margin:0 auto;
  padding: 8px 0 8px 0;
  cursor:pointer;
  background:#fafafa;
  background: -moz-linear-gradient(
  top,
  #ffffff 0%,
  #f3f3f3);
  background: -webkit-gradient(linear, left top, left bottom,from(#ffffff),to(#f3f3f3));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width:0;
  border: 1px solid #dddddd;
  border-bottom-width:2px;
  color:#006699;
}
input.u_commonButton:hover{
  text-decoration:none;
  opacity: 0.80;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
.u_commonButton a:hover{
  text-decoration:none;
  opacity: 0.80;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
.u_commonButton span.tip{
  padding-left:10px;
  background:url(/img/webapp/cmn/icon/u_pointer_blue.png) no-repeat left center;
}
.u_commonButton.is_blue a,
input.u_commonButton.is_blue{
  color:white;
  background:#0098de;
  background: -moz-linear-gradient(
  top,
  #08a7f0 0%,
  #0098de);
  background: -webkit-gradient(linear, left top, left bottom,from(#08a7f0),to(#0098de));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width:0;
  border-bottom: 1px solid #0076ac;
}
.u_commonButton.is_blue a span.tip{
  background:url(/img/webapp/cmn/icon/u_pointer_white.png) no-repeat left center;
}
.u_commonButton.is_orange a{
  color:white;
  background:#ff6600;
  background: -moz-linear-gradient(
  top,
  #ff6600 0%,
  #ef6000);
  background: -webkit-gradient(linear, left top, left bottom,from(#ff6600),to(#ef6000));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-color:#cf5300;
}
.u_commonButton.is_orange a span.tip{
  background:url(/img/webapp/cmn/icon/u_pointer_white.png) no-repeat left center;
}
.u_commonButton.is_large a{
  width: 400px;
  font-size: 16px;
  border-bottom: 2px solid #0076ac;
  padding: 10px;
}

/*
## u_footer
*/
.u_footer{
  clear:both;
}
.u_footer.is_low970{
  border-top: solid 1px #dddddd;
  padding:15px 0 12px 0 ;
}
.u_footer.is_low970 .link{
  width:970px;
  margin:0 auto;
  padding-bottom:3px;
}
.u_footer.is_low970 .link li{
  display:inline;
  padding-right:8px;
  border-right:solid 1px #000000;
  margin-right:5px;
  line-height:1.2;
}
.u_footer.is_low970 .link li:last-child{
  border-right-width:0;
}
.u_footer.is_low970 .link li a{
  color:black;
  font-size:15px;
  font-size:1.5rem;
}
.u_footer.is_low970 .copyright{
  width:970px;
  margin:0 auto;
  font-size:12px;
  font-size:1.2rem;
  color:#999999;
  padding-bottom:3px;
}

/*
# u_primaryBox
*/

.u_primaryBox{
  margin-bottom:20px;
  word-break:break-all;
}
.u_primaryBox.is_line{
  border:solid 1px #dddddd;
  border-top-width:0;
}
.u_primaryBox .titleLine{
  font-size:20px;
  font-size:2.0rem;
  padding:5px 15px;
  border-top:solid 3px #0098de;
  border-bottom:solid 1px #dddddd;
}
.u_sidebar .u_primaryBox .titleLine{
  padding:5px 10px;
  font-size:18px;
  font-size:1.8rem;
}
.u_primaryBox_wrap{
  padding:15px;
}
.u_primaryBox_wrap.is_bottomLine{
  border-bottom:solid 1px #dddddd;
}
.u_primaryBox_wrap .subtitle{
  margin-bottom:5px;
  font-weight:bold;
  font-size:17px;
  font-size:1.7rem;
}
.u_primaryBox_more{
  text-align:right;
}
.u_primaryBox_more a{
  background:url(/img/webapp/cmn/icon/u_pointer_blue.png) no-repeat center left;
  padding-left:10px;
  font-weight:bold;
}
.u_primaryBox .u_primaryBox_aleart{
  margin-bottom:10px;
  background:#fffcee;
  padding:5px;
  border:solid 1px #ff6600;
}
.u_primaryBox .u_primaryBox_aleart a{
  color:#ff6600;
  background:url(/img/webapp/cmn/icon/u_pointer_blue.png) no-repeat center left;
  padding-left:10px;
}
.u_primaryBox_timeStamp{
  font-size:12px;
  font-size:1.2rem;
  color:#999999;
}


/*
## u_advertiseBannerBox
*/
.u_advertiseBannerBox_a{
  margin-bottom: 10px;
  text-align: center;
}
.u_advertiseBannerBox_b{
  padding:30px 0;/*marginだと重なってしまうため*/
  text-align: center;
}
.u_advertiseBannerBox_c{
  margin:30px 0;
}
.u_advertiseBannerBox_d{
  margin-bottom:15px;
  text-align: center;
}


/*
# u_cautionBox
*/

.u_cautionBox{
  background: #FFFCEE;
  border: solid 1px #fdf4cc;
  display: block;
  padding:10px;
  margin-bottom:20px;
}
.u_cautionBox .title{
  font-size:17px;
  font-size:1.7rem;
  margin-bottom:10px;
}

/*
# u_commonNavi
*/

.u_commonNavi{
  border:1px solid #dddddd;
  background: #f3f3f3;
  background: linear-gradient(to bottom , #fff 0%, #f3f3f3);
  margin:5px 0 20px;
  box-shadow: 0 1px 0.1px 0 #f3f3f3;
  overflow: hidden;
  zoom:1;
}
.u_commonNavi li{
  height:36px;
  float:left;
  border-right: 1px solid #dddddd;
}
.u_commonNavi .textLink{
  display:block;
  padding:8px 15px;
  color:#0098de;
  font-weight:bold;
  text-align:center;
  font-size:14px;
}
.u_commonNavi .textLink:visited{
  color:#444499;
}
.u_commonNavi .textLink span{
  font-size:11px;
  font-weight:normal;
}
.u_commonNavi .is_current,
.u_commonNavi .is_current:hover,
.u_commonNavi .is_current:visited{
  color:#fff;
  text-decoration:none;
  background:#0098de;
}
.u_commonNavi .is_off{
  color:#999;
}
