@charset "EUC-JP";

/* -----------------------------------------------------------
CSS Information

File name:      base.css
Created:        2010-08-05
Last update:    2016-11-30 by Iwabuchi
Style Info:     reset/base
----------------------------------------------------------- */

/* -----------------------------------------------------------
Table of Contents

__reset
__base
__header
__contents
＿breadcrumbs
__footer

----------------------------------------------------------- */


/* __reset
----------------------------------------------------------- */

body, div,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, 
pre, form, fieldset,
input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.0em;
}


/* __base
----------------------------------------------------------- */

body {
	color: #333;
	font-size: 62.5%;
	font-family: "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 1.5;
	word-wrap: break-word;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:link {
	color: #0178d8;
}
a:visited {
	color: #5119ab;
}
a:hover, a:focus, a:active {
	color: #e17a00;
}
img {
	border: none;
}
em, strong {
	font-weight: bold;
	font-style: normal;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* __header
----------------------------------------------------------- */

/* global_header */

#global_header {
	min-width: 990px;
	font-size: 1.3em;
	line-height: 1.2;
}
#global_header_inner {
	width: 970px;
	margin: 0 auto;
	padding: 10px 10px 7px;
}
#global_header .identity {
	float: left;
	width: 208px;
}
#global_header .identity02 {
	float: left;
	width: 627px;
}
#global_header .identity02 .logo {
  float: left;
	margin-top: 5px;
}
#global_header .identity02 .copy {
  float: right;
  margin: 20px 0 0 15px;
  font-weight: bold;
	font-size: 1.2em;
}
#global_header .identity02 .ttl_wrap {
  float: right;
	width: 387px;
	margin: 5px 0 0 10px;
}
#global_header .identity02 .ttl_wrap .txt_copy {
	margin-bottom: 6px;
	line-height: 1.4;
	color: #666;
	font-size: 0.9em;
}
#global_header .identity02 .ttl_wrap h1 {
  font-weight: bold;
	font-size: 1.4em;
	 font-family: Meiryo,"MS PGothic",arial,sans-serif;

}
#global_header .global_header_area {
	float: right;
	width: 730px;
}
#global_header h1.global {
	margin-bottom: 6px;
	color: #666;
	font-size: 0.8em;
	font-weight: normal;
}
#global_header .search_area {
	float: left;
	width: 360px;
}
#global_header .search_area form {
	position: relative;
	padding-bottom: 5px;
	line-height: 1.0;
	zoom: 1;
}
#global_header .search_area form .keyword_box {
	padding-left: 4px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_keyword_first.png) no-repeat 0 0;
}
#global_header .search_area form .keyword {
	width: 273px;
	height: 18px;
	/margin-top: -1px;
	margin-right: 66px;
	padding: 5px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_keyword.png) repeat-x 0 0;
}
#global_header .search_area form .search_btn {
	position: absolute;
	left: 287px;
	top: 0;
}
#global_header .search_area .search_area form .search_change {
	position: absolute;
	left: 290px;
	top: 5px;
}
#global_header .search_area form .search_change input {
	margin: 1px 1px 0 0;
}
#global_header .search_area form .search_change label {
	color: #fff;
	padding-right: 5px;
	vertical-align: text-top;
}

#global_header .header_nav,
#header .header_nav {
	float: right;
	width: 230px;
	text-align: right;
}
#global_header .utility,
#header .utility {
	padding-bottom: 2px;
}
#global_header .utility li,
#header .utility li,
#global_header .member li,
#header .member li {
	display: inline;
	margin-left: 7px;
	padding-left: 7px;
	border-left: 1px solid #d3d3d3;
}
#global_header .utility .beginner,
#header .utility .beginner {
	padding-left: 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_beginner.png) no-repeat 7px 2px;
}
#global_header .regist a,
#header .regist a {
	color: #f15a24;
}
#global_header .utility .help,
#header .utility .help,
#global_header .member .regist,
#header .member .regist,
#global_header .member .traveler_name,
#header .member .traveler_name {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}
#global_header .member .traveler_name img,
#header .member .traveler_name img {
	padding-right: 3px;
	vertical-align: middle;
}




/* header 使用URL：http://4travel.jp/help/　*/

#header {
	min-width: 990px;
	border-bottom: 1px solid #ddddd5;
	font-size: 1.3em;
	line-height: 1.2;
}
#header_inner {
	width: 970px;
	margin: 0 auto;
	padding: 6px 10px 3px;
}
#header .identity {
	float: left;
	width: 600px;
}
#header .logo {
	float: left;
	width: 110px;
	padding: 0 10px 0 0;
}
#header .tagline {
	margin-left: 120px;
	padding-bottom: 2px;
	font-weight: bold;
}
#header .tagline span {
	font-weight: normal;
}
#header h1.global {
	margin-left: 120px;
	color: #0098de;
	font-size: 0.8em;
	font-weight: normal;
}
.global_header_area .header_smart {
  float: left;
  text-align: left;
}
#header_inner .header_smart {
  float: left;
  text-align: left;
}

/* cmn_header */

#cmn_header {
	min-width: 990px;
	font-size: 1.3em;
	line-height: 1.2;
}
#cmn_header .global_area {
	border-bottom: 1px solid #fff;
	background: #f8f8fa;
	background: -moz-linear-gradient(top, #ffffff, #f8f8fa); 
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8fa));
}
.overseas #cmn_header .global_area{
  padding-top: 5px;
}

#cmn_header .global_area_inner {
	width: 970px;
	margin: 0 auto;
	padding: 6px 10px 5px;
}
#cmn_header .identity {
	float: left;
	width: 630px;
}
#cmn_header .logo {
	float: left;
	width: 140px;
	padding: 0 10px 0 0;
}
#cmn_header .tagline {
	margin-left: 150px;
	padding-bottom: 2px;
	font-size: 1.2em;
	font-weight: bold;
}
#cmn_header .tagline img {
	float: left;
	margin-right: 5px;
	border: 1px solid #ddd;
}
#cmn_header .tagline span {
	font-weight: normal;
}
#cmn_header .tagline span.tagline_name {
	text-decoration:underline;
	font-weight: bold;
}
#cmn_header .tagline span.tagline_name:hover {
	color:#e17a00;
	cursor:pointer;
}
#cmn_header .tagline a {
	color: #333;
}
#cmn_header h1.global,
#cmn_header p.global {
	margin-left: 150px;
	color: #0098de;
	font-size: 0.8em;
	font-weight: normal;
}
#cmn_header .header_smart{
	float: left; 
	width: 107px; 
	text-align: left;
}
#cmn_header .header_nav {
	float: right;
	width: 320px;
	text-align: right;
}
#cmn_header .utility {
	padding-bottom: 2px;
}
#cmn_header .utility li {
	display: inline;
	margin-right: 7px;
	padding-right: 7px;
	border-right: 1px solid #d3d3d3;
}
#cmn_header .utility .home {
	padding-left: 7px;
	border-left: 1px solid #d3d3d3;
}
#cmn_header .utility .beginner {
	padding-left: 15px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_beginner.png) no-repeat 2px 2px;
}
.ssl #cmn_header .utility .beginner {
	background: url(/img/general/4travel/cmn/ver1/ico/ico_beginner.png) no-repeat 2px 2px;
}
#cmn_header .utility li a {
	color: #666;
}
#cmn_header .global_bar {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #1a86b9;
	background: #0198de;
	background: -moz-linear-gradient(top, #0198de, #31ade7); 
	background: -webkit-gradient(linear, left top, left bottom, from(#0198de), to(#31ade7));
	box-shadow: inset 0 -1px 0 rgba(119,201,238,1), 0 1px 1px rgba(233,232,232,1);
	-moz-box-shadow: inset 0 -1px 0 rgba(119,201,238,1), 0 1px 1px rgba(233,232,232,1);
	-webkit-box-shadow: inset 0 -1px 0 rgba(119,201,238,1), 0 1px 1px rgba(233,232,232,1);
}
#cmn_header .global_bar_inner {
	width: 970px;
	margin: 0 auto;
}
#cmn_header .global_nav {
	float: left;
	width: 490px;
	height: 33px;
}
#cmn_header .global_nav ul {
	border-left: 1px solid #0e7fb4;
	box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	-moz-box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	-webkit-box-shadow: inset 1px 0 0 rgba(63,178,231,1);
}
#cmn_header .global_nav li {
	float: left;
	text-shadow: -1px -1px 0 rgba(0,122,177,1);
}
#cmn_header .global_nav li a {
	display: block;
	width: 145px;
	padding: 8px 8px 9px;	
	border-right: 1px solid #0e7fb4;
	box-shadow: 1px 0 0 rgba(63,178,231,1);
	-moz-box-shadow: 1px 0 0 rgba(63,178,231,1);
	-webkit-box-shadow: 1px 0 0 rgba(63,178,231,1);
	color: #fff;
	font-size: 0.9em;
}
#cmn_header .global_nav li a:hover {
	position: relative;
	background: #007ec1;
	background: -moz-linear-gradient(top, #007ec1, #0197dd); 
	background: -webkit-gradient(linear, left top, left bottom, from(#007ec1), to(#0197dd));
	text-decoration: none;
	zoom: 1;
}
#cmn_header .global_nav li a span {
	font-size: 1.2em;
	font-weight: bold;
}
#cmn_header .global_nav li.destination {
	position: relative;
	z-index: 20;
	zoom: 1;
}
#cmn_header .global_nav li.destination span {
	padding-right: 10px;
	/*background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_open02.png) no-repeat right center;*/
}
#cmn_header .global_nav li.destination .drop {
	position: absolute;
	top: 34px;
	left: -1px;
	z-index: 70;
}
#cmn_header .global_nav li.destination .drop ul {
	border-left: none;
	box-shadow: 1px 1px 2px rgba(207,205,206,1);
	-moz-box-shadow: 1px 1px 2px rgba(207,205,206,1);
	-webkit-box-shadow: 1px 1px 2px rgba(207,205,206,1);
}
#cmn_header .global_nav li.destination .drop li {
	float: none;
	border: 1px solid #1a86b9;
	border-top: none;
	background: #0198de;
	background: -moz-linear-gradient(top, #0198de, #31ade7); 
	background: -webkit-gradient(linear, left top, left bottom, from(#0198de), to(#31ade7));
}
#cmn_header .global_nav li.destination .drop li a {
	width: 133px;
	padding-left: 20px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_list03.png) no-repeat 10px 11px;
	border-right: none;
	box-shadow: inset -1px -1px 0 rgba(104,192,233,1);
	-moz-box-shadow: inset -1px -1px 0 rgba(104,192,233,1);
	-webkit-box-shadow: inset -1px -1px 0 rgba(104,192,233,1);
	font-size: 1.1em;
	font-weight: bold;
}
.ssl #cmn_header .global_nav li.destination .drop li a {
	background: url(/img/general/4travel/cmn/ver1/ico/ico_list03.png) no-repeat 10px 11px;
}
#cmn_header .global_nav li.destination .drop li a:hover {
	background: #00538b url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_list03.png) no-repeat 10px 11px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_list03.png) no-repeat 10px 11px, -moz-linear-gradient(top, #00538b, #0478bd); 
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_list03.png) no-repeat 10px 11px, -webkit-gradient(linear, left top, left bottom, from(#00538b), to(#0478bd));
	box-shadow: inset -1px -1px 0 rgba(49,145,201,1);
	-moz-box-shadow: inset -1px -1px 0 rgba(49,145,201,1);
	-webkit-box-shadow: inset -1px -1px 0 rgba(49,145,201,1);
}
.ssl #cmn_header .global_nav li.destination .drop li a:hover {
	background: #00538b url(/img/general/4travel/cmn/ver1/ico/ico_list03.png) no-repeat 10px 11px;
	background: url(/img/general/4travel/cmn/ver1/ico/ico_list03.png) no-repeat 10px 11px, -moz-linear-gradient(top, #00538b, #0478bd); 
	background: url(/img/general/4travel/cmn/ver1/ico/ico_list03.png) no-repeat 10px 11px, -webkit-gradient(linear, left top, left bottom, from(#00538b), to(#0478bd));
}
#cmn_header .summary {
	position: relative;
	float: left;
	width: 540px;
	margin-top: -7px;
	padding-top: 7px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_header_balloon.png) no-repeat 160px 0 ;
	zoom: 1;
}
.ssl #cmn_header .summary {
	background: url(/img/general/4travel/cmn/ver1/bg/bg_header_balloon.png) no-repeat 168px 0 ;
}
#cmn_header .summary ul {
	height: 33px;
	padding: 0 8px;
	border-left: 1px solid #0e7fb4;
	box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	-moz-box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	-webkit-box-shadow: inset 1px 0 0 rgba(63,178,231,1);
}
#cmn_header .summary li {
	display: inline;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
	line-height: 33px;
}
#cmn_header .summary li span {
	padding-top: 3px;
	color: #fff;
	font-size: 1.5em;
	line-height: 1.1;
}
#cmn_header .summary li span.star00_m {
	padding-top: 2px;
	font-size: 1.0em;
}
#cmn_header .summary li.ranking {
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid #0e7fb4;
	box-shadow: 1px 0 0 rgba(63,178,231,1);
	-moz-box-shadow: 1px 0 0 rgba(63,178,231,1);
	-webkit-box-shadow: 1px 0 0 rgba(63,178,231,1);
}
#cmn_header .summary li.ranking a {
	color: #fff;
	padding-left: 23px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_crown02.png) no-repeat left center;
}
.ssl #cmn_header .summary li.ranking a {
	background: url(/img/general/4travel/cmn/ver1/ico/ico_crown02.png) no-repeat left center;
}
#cmn_header .summary li.ranking .num {
	font-size: 1.4em;
}
#cmn_header .summary li.ranking .total {
	font-size: 0.8em;
}
#cmn_header .summary li.going_now {
	padding-left: 23px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_going.png) no-repeat left center;
}
.ssl #cmn_header .summary li.going_now {
	background: url(/img/general/4travel/cmn/ver1/ico/ico_going.png) no-repeat left center;
}
#cmn_header .summary li.going_now .num {
	font-size: 1.4em;
}
#cmn_header .member {
	float: right;
	height: 33px;
	text-align: right;
	border-left: 1px solid #0e7fb4;
	box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	-moz-box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	-webkit-box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	zoom: 1;
}
#cmn_header .member ul {
	height: 33px;
	padding: 0 8px 0;
	border-right: 1px solid #0e7fb4;
	box-shadow: 1px 0 0 rgba(63,178,231,1);
	-moz-box-shadow: 1px 0 0 rgba(63,178,231,1);
	-webkit-box-shadow: 1px 0 0 rgba(63,178,231,1);
}
#cmn_header .member li {
	display: inline;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
	line-height: 33px;
}
#cmn_header .member li.traveler_name {
	position: relative;
	zoom: 1;
}
#cmn_header .member li.traveler_name a.notification {
	display: block;
	float: left;
	margin-top: 7px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_notification_off_l.png) no-repeat left top;
	text-decoration: none;
	line-height: 20px;
}
.ssl #cmn_header .member li.traveler_name a.notification {
	background: url(/img/general/4travel/cmn/ver1/bg/bg_notification_off_l.png) no-repeat left top;
}
#cmn_header .member li.traveler_name a.notification span {
	display: block;
	padding: 0 10px 1px 6px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_notification_off_r.png) no-repeat right top;
}
.ssl #cmn_header .member li.traveler_name a.notification span {
	background: url(/img/general/4travel/cmn/ver1/bg/bg_notification_off_r.png) no-repeat right top;
}
#cmn_header .member li.traveler_name a.on {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_notification_on_l.png) no-repeat left top;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(191,79,29,1);
}
.ssl #cmn_header .member li.traveler_name a.on {
	background: url(/img/general/4travel/cmn/ver1/bg/bg_notification_on_l.png) no-repeat left top;
}
#cmn_header .member li.traveler_name a.on span {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_notification_on_r.png) no-repeat right top;
}
.ssl #cmn_header .member li.traveler_name a.on span {
	background: url(/img/general/4travel/cmn/ver1/bg/bg_notification_on_r.png) no-repeat right top;
}
#cmn_header .member li.traveler_name img {
	margin-right: 3px;
	vertical-align: middle;
	border-top: 1px solid #027bb3;
	border-left: 1px solid #027bb3;
}
*html #cmn_header .member li.traveler_name img {
	margin-top: 3px;
}
#cmn_header .member li a {
	color: #fff;
	text-decoration: underline;
}
#cmn_header .member li.last {
	display: inline;
	margin: 0 0 0 7px;
	padding-left: 7px;
	border-left: 1px solid #0e7fb4;
	box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	-moz-box-shadow: inset 1px 0 0 rgba(63,178,231,1);
	-webkit-box-shadow: inset 1px 0 0 rgba(63,178,231,1);
}
#cmn_header .member li.regist a {
	color: #ffdd34;
	text-decoration: underline;
}
#cmn_header .search_box {
	width: 948px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ddd;
	border-top: none;
	background: #f2f2e8;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	box-shadow: inset -1px -1px 0 rgba(255,255,255,1), inset 1px 0 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.15), 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: inset -1px -1px 0 rgba(255,255,255,1), inset 1px 0 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.15), 0 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset -1px -1px 0 rgba(255,255,255,1), inset 1px 0 0 rgba(255,255,255,1), inset 0 1px 1px rgba(0,0,0,0.15), 0 1px 1px rgba(0,0,0,0.15);
}
#cmn_header .search_box .search {
	float: left;
	width: 490px;
	margin-right: 10px;
}
#cmn_header .search_box .search .ttl {
	padding-right: 5px;
	color: #9e9e9f;
	font-size: 0.9em;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(255,255,255,1);
}
#cmn_header .search_box .search .ttl img {
	padding-right: 3px;
	padding-bottom: 0;
	vertical-align: middle;
}
#cmn_header .search_box .search .addition {
	padding: 0 5px;
	color: #9e9e9f;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgba(255,255,255,1);
}
#cmn_header .search_box .search input.txt_searchkeyword {
	width: 200px;
	padding: 4px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 13px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1),1px 1px 0 rgba(255,255,255,1);
	-moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1), 1px 1px 0 rgba(255,255,255,1);
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1),1px 1px 0 rgba(255,255,255,1);
}
#cmn_header .search_box .search input.txt_searchkeyword:focus{
	border: 1px solid #52bcec;
	background: #faf1ca;
	box-shadow: 0 0 5px rgba(0,152,221,0.5);
	-moz-box-shadow: 0 0 5px rgba(0,152,221,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,152,221,0.5);
}
#cmn_header .search_box .search input.btn_searchkeyword {
	margin-left: 10px;
	padding: 3px 5px;
	border: 1px solid #1a86b9;
	background: #0299de;
	background: -moz-linear-gradient(top, #30ade7, #0299de); 
	background: -webkit-gradient(linear, left top, left bottom, from(#30ade7), to(#0299de));
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: inset -1px 1px 1px rgba(112,198,238,1),1px 1px 0 rgba(255,255,255,1);
	-webkit-box-shadow: inset -1px 1px 1px rgba(112,198,238,1),1px 1px 0 rgba(255,255,255,1);
	-moz-box-shadow: inset -1px 1px 1px rgba(112,198,238,1),1px 1px 0 rgba(255,255,255,1);
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-shadow: -1px -1px rgba(28,134,183,1);
}
#cmn_header .search_box .search input.area_name {
		width: 100px;
}
#cmn_header .search_box .search input.btn_searchkeyword:hover {
	background: -moz-linear-gradient(top, #0299de, #30ade7); 
	background: -webkit-gradient(linear, left top, left bottom, from(#0299de), to(#30ade7));
}
#cmn_header .search_box .hot {
	float: right;
	width: 410px;
	padding: 5px 0 5px 37px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_hot02.png) no-repeat 0 3px;
}
.ssl #cmn_header .search_box .hot {
	background: url(/img/general/4travel/cmn/ver1/ico/ico_hot02.png) no-repeat 0 3px;
}
#cmn_header .search_box .hot li {
	display: inline;
	padding-right: 5px;
	font-size: 0.9em;
	text-shadow: 1px 1px 0 rgba(255,255,255,1);
}
#cmn_header .search_box .hot li a {
	text-decoration: underline;
}


/* __guide_header_02
----------------------------------------------------------- */

#guide_header_02 .logo{
float:left;
width:140px;
padding-top:15px;
height:45px;
}
#guide_header_02.u_headerWrap .logo{
padding-top:0px;
}

/* nav */
#guide_header_02 .header_nav{
clear:both;
background:url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_guide_header.png) repeat-x;
}
#guide_header_02 .header_nav .inner{
width:970px;
margin:0 auto;
}
#guide_header_02 .menu{
width:710px;
float:left;
letter-spacing:-0.4em;
}
#guide_header_02 .menu .wrap{
display:table-cell;
*display: inline;  
*zoom: 1;
background:url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_guide_header_02_menu.png) no-repeat right center;
}
#guide_header_02 .header_nav .inner ul {
background:url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_guide_header_02_menu.png) no-repeat left center;
display:table-cell;
*display: inline;  
*zoom: 1;
height:34px;
padding-left:3px;
letter-spacing:-0.4em;
}
#guide_header_02 .header_nav .inner ul li{
display:table-cell;
*display: inline;  
*zoom: 1;
padding:8px 8px 7px 7px;
background:url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_guide_header_02_line01.png) no-repeat right center;
}
#guide_header_02 .header_nav .inner ul li.end{
background:none;
padding-right:8px;
}
#guide_header_02 .header_nav .inner ul li a{
letter-spacing:normal;
font-size:13px;
color:white;
font-weight:bold;
text-shadow: 1px 1px 0px #0078b0;
}
#guide_header_02 .search{
position:relative;
float:right;
width:260px;
height:35px;
}
#guide_header_02 .txt_searchkeyword{
width:130px;
height:15px;
margin-top:6px;
padding:3px;
border-width:1px;
border-color:#aaaaaa;
border-style:solid;
border-radius:2px;
-webkit-border-radius:2px;
-moz-border-radius:2px;
}
#guide_header_02 .txt_searchkeyword.area_name{
width:60px;
}
#guide_header_02 .btn_searchkeyword{
position:absolute;
top:5px;
right:3px;
width:31px;
height:25px;
padding:0;
background:url(http://img.4travel.jp/img/general/4travel/cmn/ver1/btn/btn_guide_header_02_search.png);
border:0;
cursor:pointer;
}


/* breadcramb */
#guide_header_02 .btn_searchkeyword:hover{
opacity:0.8;
filter:alpha(opacity=80);
-ms-filter: "alpha(opacity=80)";
}
#breadcrumbs_02{
background:url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_guide_header_02_bread.png);
border-bottom:solid 1px #dddddd;
margin-bottom:15px;
}
#breadcrumbs_02 #breadcrumb_nav,#breadcrumbs_02 .txt_breadcrumb{
padding:3px 0;
font-size:0.9em;
}
#breadcrumbs_02 .txt_breadcrumb{
width:970px;
margin:0 auto;
}

/* 20131007_seo */
#guide_header_02 .header_nav .menu_img{
background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_guide_header_02_menu.png) no-repeat right center;
float: left;
width:675px;
}
#guide_header_02 .header_nav .menu_img ul li{
padding:0 2px 0 0 ;
}
#guide_header_02 .header_nav .menu_img ul li.end{
padding:0 0 0 0;
}
#guide_header_02 .header_nav .menu_img ul{
height:35px;
overflow:hidden;
}
#guide_header_02 .header_nav .menu_img ul li a img{
vertical-align:bottom
}

#guide_header_02 .header_nav .menu_img ul li a:hover img{
opacity:0.8;
filter:alpha(opacity=80);
-ms-filter: "alpha(opacity=80)";
}







/* __contents
----------------------------------------------------------- */

#contents {
	min-width: 990px;
	font-size: 1.3em;
}
#contents_inner {
	width: 970px;
	margin: 0 auto;
	padding: 0 10px;
}

.gr {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_contents_gr.png) repeat-x left -2em;
}
.gr02 {
 background: #fbfcfd; /* Old browsers */
 background: -moz-linear-gradient(top,  #e2eaf3 0%, #ffffff 67%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2eaf3), color-stop(10%,#ffffff)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #e2eaf3 0%,#ffffff 10%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #e2eaf3 0%,#ffffff 10%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #e2eaf3 0%,#ffffff 10%); /* IE10+ */
 background: linear-gradient(to bottom,  #e2eaf3 0%,#ffffff 10%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6fa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* col_one01 ※1カラム（970） */

.col_one01 #main {
	width: 970px;
}

/* col_two01 ※2カラム（180,780） */

.col_two01 #main {
	float: right;
	width: 780px;
}
.col_two01 #sub {
	float: left;
	width: 180px;
}

/* col_two02 ※2カラム（710,240） */

.col_two02 #main {
	float: left;
	width: 710px;
}
.col_two02 #sub {
	float: right;
	width: 240px;
}

/* col_two03 ※2カラム（780,180） */

.col_two03 #main {
	float: left;
	width: 780px;
}
.col_two03 #sub {
	float: right;
	width: 180px;
}

/* col_two04 ※2カラム（650,300） */

.col_two04 #main {
	float: left;
	width: 650px;
}
.col_two04 #sub {
	float: right;
	width: 300px;
}

/* col_three01 ※3カラム（180,780（530,240）） */

.col_three01 #main {
	float: right;
	width: 780px;
}
.col_three01 #main #prm {
	float: left;
	width: 530px;
}
.col_three01 #main #sec {
	float: right;
	width: 240px;
}
.col_three01 #sub {
	float: left;
	width: 180px;
}


/* col_three02 ※3カラム（180,780（470,300）） */

.col_three02 #main {
	float: right;
	width: 780px;
}
.col_three02 #main #prm {
	float: left;
	width: 470px;
}
.col_three02 #main #sec {
	float: right;
	width: 300px;
}
.col_three02 #sub {
	float: left;
	width: 180px;
}


/* __breadcrumbs
----------------------------------------------------------- */

#breadcrumbs {
	width: 970px;
	margin: 0 auto;
	padding: 7px 0 10px;
	line-height: 1.2;
	zoom:1;
}

/* breadcrumb_nav */

#breadcrumb_nav {
	position: relative;
	width: 970px;
	margin: 0 auto;
	padding: 0 10px;
	line-height: 1.2;
  font-size:12px;
}
#breadcrumb_nav li {
	position: relative;
	display: inline;
	z-index: 50;
	zoom: 1;
	line-height: 1.5;
}
#breadcrumb_nav li a {
	display: inline-block;
}
#breadcrumb_nav li .divide_path {
	display: inline-block;
}
#breadcrumb_nav .area_drop {
	height: 16px;
	margin-bottom: -5px;
	margin-left: 3px;
	padding: 2px 0 0 17px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_breadcrumb_open.png) no-repeat 0 0;
}
.ssl #breadcrumb_nav .area_drop {
	background: url/img/general/4travel/cmn/ver1/ico/ico_breadcrumb_open_on.png) no-repeat 0 3px;
}
#breadcrumb_nav .area_drop:hover {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_breadcrumb_open_on.png) no-repeat 0 0;
}
#breadcrumb_nav li .drop {
	position: absolute;
	top: 18px;
	left: 0;
	z-index: 60;
	width: 360px;
	padding: 1px 1px 0 0;
	border: 2px solid #d4d4c8;
	background: #f2f2e8;
	box-shadow: inset -1px 1px 0 rgba(255,255,255,1), 1px 1px 2px rgba(207,205,206,1);
	-moz-box-shadow: inset -1px 1px 0 rgba(255,255,255,1), 1px 1px 2px rgba(207,205,206,1);
	-webkit-box-shadow: inset -1px 1px 0 rgba(255,255,255,1), 1px 1px 2px rgba(207,205,206,1);
	text-shadow: 1px 1px 0 rgba(255,255,255,1);
}
#breadcrumb_nav li .one_col {
	width: auto;
}
#breadcrumb_nav li .drop ul {
	float: left;
}
#breadcrumb_nav li .drop li {
	display: block;
	position: static;
	float: none;
	width: 180px;
	padding: 1px 0 0 0;
	border-top: none;
}
#breadcrumb_nav li .drop li a {
	display: block;
	padding: 2px 5px 2px 13px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_list05.png) no-repeat 5px 8px;
}
.ssl #breadcrumb_nav li .drop li a {
	background: url(/img/general/4travel/cmn/ver1/ico/ico_list05.png) no-repeat 5px 8px;
}
#breadcrumb_nav li .drop li a:hover {
	background-color: #dfdfd6;
	color: #003366;
	text-decoration: none;
}
#breadcrumb_nav li .drop .more01 {
	clear: both;
	padding: 7px 5px;
	font-size: 0.8em;
}


/* __footer
----------------------------------------------------------- */

/* page_top */

#page_top {
	clear: both;
	min-width: 990px;
	padding: 4px 0;
	border-bottom: 2px solid #0488b8;
	background: #00a7e5 url(http://img.4travel.jp/img/general/4travel/guide/ver1/cmn/bg/bg_guide_footer.png) repeat-x left top;
	font-size: 1.3em;
}
#page_top_inner {
	position: relative;
	width: 970px;
	margin: 0 auto;
	padding: 0 10px;
	zoom: 1;
}
#page_top a {
	color: #fff;
}
#page_top p {
	clear: both;
	position: absolute;
	right: 10px;
	top: -22px;
	width: 91px;
	height: 20px;
	padding: 2px 2px 0 16px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_page_top.png) no-repeat left top;
}

/* footer_ad */

#footer_ad {
	clear: both;
	min-width: 990px;
	padding: 10px 0 25px;
	background: #f2f2e8 url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_footer_ad.png) repeat-x left top;
	font-size: 1.2em;
}
#footer_ad_inner {
	width: 590px;
	margin: 0 auto;
	padding: 0 10px;
}
#footer_ad table td {
	padding: 1px
}
#footer_ad table td table td {
	padding: 4px;
}
#footer_ad table table td small {
	font-size: 1.0em;
}

/* footer_ad_bottom */

#footer_ad_bottom {
	clear: both;
	min-width: 990px;
	padding: 10px 0 25px;
	font-size: 1.2em;
}
#footer_ad_inner {
	width: 590px;
	margin: 0 auto;
	padding: 0 10px;
}
#footer_ad_bottom table td {
	padding: 1px
}
#footer_ad_bottom table td table td {
	padding: 4px;
}
#footer_ad_bottom table table td small {
	font-size: 1.0em;
}

/* global_footer */

#global_footer {
	clear: both;
	min-width: 990px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_footer.png) repeat-x left top;
	font-size: 1.3em;
}
#global_footer_inner {
	position: relative;
	width: 970px;
	height: 226px;
	margin: 0 auto;
	padding: 0 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_footer_contents.png) no-repeat left top;
	zoom: 1;
}
#global_footer .what_4t {
	position: absolute;
	left: 185px;
	top: 11px;
	z-index: 10;
}
#global_footer .what_4t span {
	font-size: 1.3em;
	font-weight: bold;
}
#global_footer .footer_nav {
	position: absolute;
	right: 47px;
	bottom: 92px;
	width: 970px;
	text-align: right;
}
#global_footer .footer_nav li {
	display: inline;
	margin-left: 40px;
	color: #fff;
	font-weight: bold;
}
#global_footer .footer_nav li a {
	color: #fff;
}
#global_footer .footer_nav li span {
	font-size: 1.3em;
}
#global_footer .footer_link {
	position: absolute;
	right: 10px;
	bottom: 33px;
	text-align: right;
}
#global_footer .footer_link li {
	display: inline;
	margin-left: 7px;
	padding-left: 7px;
	border-left: 1px solid #a2a2a1;
}
#global_footer .footer_link li.first {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}
#global_footer .protect {
	position: absolute;
	right: 10px;
	bottom: 65px;
	color: #666;
	font-size: 0.8em;
}
#global_footer .copyright {
	position: absolute;
	right: 10px;
	bottom: 4px;
	color: #666;
	font-size: 0.9em;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
#global_footer .tag_4t {
	position: absolute;
	left: 10px;
	top: 0;
}

/* global_footer_inner02 */
#global_footer_inner02 {
	position: relative;
	width: 1020px;
	height: 226px;
	margin: 0 auto;
	zoom: 1;
  text-align: left;
}
#global_footer_inner02 .ttl_4t_merit {
  margin: 20px 0 16px;
  padding: 0 0 0 18px;
  font-size: 1.6em;
  font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-weight: bold;
}
#global_footer_inner02 .ttl_4t_merit span {
  font-size: 0.7em;
  font-weight: normal;
}
#global_footer_inner02 .footer_nav02 {
  float: right;
	width: 846px;
	text-align: left;
}
#global_footer_inner02 .footer_nav02 .col {
  float: left;
  width: 185px;
  background: #fff;
  padding: 5px 3px;
  text-align: center;
}
#global_footer_inner02 .footer_nav02 .ico_arrow {
  float: left;
  width: 27px;
  padding-top: 15px;
}
#global_footer_inner02 .footer_nav02 .col span {
  margin-right: 4px;
  padding: 1px 5px;
  background: #7BBAD7;
  color: #fff;
  text-shadow: -1px -1px 1px #53AFD6,
1px 1px 1px rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
#global_footer_inner02 .footer_nav02 .ico_arrow img {
  vertical-align: middle;
}
#global_footer_inner02 .footer_nav02 .col .ttl {
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: dotted 1px #ccc;
  font-size: 1.1em;
}
#global_footer_inner02 .footer_nav02 .col .ex {
  font-size: 0.9em;
  color: #727272;
}

/* overture_ad */
.ad_overture01 {
	clear: both;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
.ad_overture02 {
	margin-top: 10px;
	padding-bottom: 15px;
}
.ad_overture_long {
	clear: both;
	width: 730px;
	margin: 0 auto;
	padding-bottom: 10px;
}


/* __u_header
----------------------------------------------------------- */

.u_header_low{
	width: 970px;
	padding:8px 10px ;
	margin: 0 auto;
	font-size: 12px;
}
.u_header .logo{
	float: left;
	margin: 6px 15px 0 0;
}
.u_header .logo img{
	width: 140px;
	height: auto;
}
.u_header .tagline{
	float: left;
	margin-top: 6px;
}
.u_header .tagline span{
	font-size: 14px;
	font-weight: bold;
}
.u_header .tagline .copy{
	font-size: 16px;
}
.u_header_link{
	float: right;
}
.u_header_link .utility{
	float: right;
	margin: 2px 0 0 10px;
}
.u_header_link ul li{
	border-left: 1px solid #ccc;
	display: inline;
	padding-left: 8px;
	margin-left: 6px;
}
.u_header_link ul li:first-child,
.u_header_member .login{
	border: none;
	padding: 0;
	margin: 0;
}


/* 2016 右フロートようこそ〇〇さんリンク 後日削除*/
.u_header .l_navActionsWrap {
  display: flex;/*IE以外*/
  float: right;
  padding: 5px 0 0 0;
  max-width: 485px;
  font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* 1セルごとにボーダ */
.u_header .l_navActionsWrap .u_cellItem {
  float: left;
  *height: 45px;/*for IE ボーダーを揃えるため*/
  box-sizing: border-box;
  padding: 0 3px;
  border-right: 1px solid #e4e4e4;
}
.u_header .l_navActionsWrap .u_cellItem a {
  color: #333;
}
.u_header .l_navActionsWrap .u_cellItem.is_greetingText {
  margin-top: 3px;
  padding: 0;
  text-align: right;
  font-size: 13px;
  border-right: none;
}
.u_header .l_navActionsWrap .u_cellItem.is_greetingText .travelerName {
  display: inline-block;
  width: 175px;
  vertical-align: bottom;
  *vertical-align: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* トラベラー写真 */
 .u_header .l_navActionsWrap .u_cellItem.is_image {
   padding: 0 10px 0 7px;
}
.u_header .l_navActionsWrap .u_cellItem.is_image a {
   display: block;
}
.u_header .l_navActionsWrap .u_cellItem.is_image a:hover {
  text-decoration:none;
}
.u_header .l_navActionsWrap .u_cellItem.is_image a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
.u_header .l_navActionsWrap .u_cellItem.is_image img {
  border-radius: 50%;
}

/* 会員登録はこちら */
.u_header .l_navActionsWrap .u_cellItem.is_regist {
  margin-right: 0;
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.u_header .l_navActionsWrap .u_cellItem.is_regist .copyText {
  margin-bottom: 2px;
  font-size: 10px;
}
/* 会員登録ボタン 汎用ボタンと組み合わせる*/
.u_header .l_navActionsWrap .u_cellItem.is_regist .u_commonButton.is_registButton a {
  padding: 3px 0 2px;
  border: 1px solid #f36d33;
  border-width: 0 1px 2px 0;
  background: #f38d33;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}
.u_header .l_navActionsWrap .u_icon4tPoint {
  padding: 1px 0 3px 21px;
  background: url(/img/webapp/cmn/icon/icon_4t_point.png) 0 0 no-repeat;
}
/* メッセージとクリップ*/
.u_header .l_navActionsWrap .u_cellItem.is_mail a,
.u_header .l_navActionsWrap .u_cellItem.is_clip a {
  display: block;
  padding-top: 28px;/*背景画像の表示確保*/
  font-size: 9px;
  text-align:center;
  white-space: nowrap;
}
.u_header .l_navActionsWrap .u_cellItem.is_mail a:hover,
.u_header .l_navActionsWrap .u_cellItem.is_clip a:hover {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
/* メールボックス */
.u_header .l_navActionsWrap .u_cellItem.is_mail {
  position: relative;
  width: 79px;
  *width: 66px;/* for IE7  border-boxが使えないため */
}
.u_header .l_navActionsWrap .u_cellItem.is_mail a {
  background: url(/img/webapp/cmn/icon/icon_mail_clip.png) no-repeat 25px 5px;/*sslページも想定して相対パス*/
}
/* クリップ */
.u_header .l_navActionsWrap .u_cellItem.is_clip {
  margin-right: 0;
  width: 53px;
  *width: 47px;/* for IE7　border-boxが使えないため */
}
.u_header .l_navActionsWrap .u_cellItem.is_clip a {
  background: url(/img/webapp/cmn/icon/icon_mail_clip.png) no-repeat -51px 5px;
}

/*プッシュ通知*/
.u_header .l_navActionsWrap .u_cellItem .u_pushCount {
  position: absolute;
  right: 20px;
  top: -3px;
  min-height: 12px;/*正方形にしたいため*/
  min-width: 12px;
  box-sizing: border-box;
  padding: 2px 1px 0 2px;
  border-radius: 50%;
  background: #e60012;
  color: #fff;
  font-size: 10.5px;
  line-height: 1.0;
  text-align:center;
}



.u_header_search{
	float: right;
}
.u_header_search .keyword{
	float: left;
	width: 190px;
	height: 22px;
	font-family: inherit;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
	padding: 0 5px;
}
.u_header_search .u_commonButton{
	float: left;
	font-size: 12px;
	font-family: inherit;
	font-weight: normal;
	line-height: 1;
	padding: 4px 8px;
	margin-left: 5px;
}
.u_header_member{
	text-align: right;
	margin: 8px 0 2px;
}
.u_header_member .regist a{
	color:white;
  background:#f38d33;
  background: -moz-linear-gradient(
  top,
  #f38d33 0%,
  #f17910);
  background: -webkit-gradient(linear, left top, left bottom,from(#f38d33),to(#f17910));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid #f36d33;
  line-height: 1;
  padding: 3px 10px;
  margin-left: 5px;
}
.u_header_member .login a{
  color: #666;
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%,#f3f3f3);
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
  border: 1px solid #dddddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 1;
  padding: 3px 10px;
  margin-left: 5px;
}
.u_header_member .regist a:hover,
.u_header_member .login a:hover{
  text-decoration: none;
  opacity: 0.80;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
.u_header_member img{
  margin-bottom: -5px;
}
.u_header_member .traveler_name img{
vertical-align: bottom;
margin-right: 5px;
}
.u_header_member .traveler_name a{
  vertical-align: bottom;
  margin-right: 5px;
  display: inline-block;
  max-width: 130px;
  white-space: nowrap;
  overflow: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.u_header_low .header_guide_banner{
  width: 320px;
  float:left;
}
.u_header_low .header_guide_banner a:hover{
  opacity:0.8;
}




/* __guide_header_02 header_nav 後日削除
----------------------------------------------------------- */
#guide_header_02{
  min-width:970px;
}
#guide_header_02 .u_header_low{
  padding: 8px 10px  8px 10px;
}
#guide_header_02 .u_header_member{
  margin: 5px 0 2px;
}
#guide_header_02 .u_header_member .traveler_name img {
  vertical-align:baseline;
  margin-bottom: -5px;
  margin-right: 3px;
}
#guide_header_02 .u_header_low img{
  vertical-align:bottom;
}
#guide_header_02 .header_nav{
  background-image:none;
  background: #0098de;
  background: -moz-linear-gradient(top, #08a7f0 0%, #0098de);
  background: -webkit-gradient(linear, left top, left bottom, from(#08a7f0), to(#0098de));
  background: -ms-linear-gradient(top, #08a7f0, #0098de);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#08a7f0', endColorstr='#0098de', GradientType=0)";
  border-bottom:solid 1px #0077ac;
}
#guide_header_02 .menu .wrap{
  vertical-align:top;
  border-right:solid 1px #6dc0ea;
  background:none;
}
#guide_header_02 .header_nav .inner ul {
  vertical-align:top;
  border-left:solid 1px #6dc0ea;
  background:none;
}
#guide_header_02 .header_nav .inner ul li{
  vertical-align:top;
  background:url(/img/general/4travel/cmn/ver1/bg/bg_guide_header_02_line03.png) no-repeat right center;
}
#guide_header_02 .header_nav .inner ul li.end{
  vertical-align:top;
  background:none;
}
#guide_header_02 .txt_searchkeyword.area_name,
#guide_header_02 .txt_searchkeyword{
  border:none;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1) inset;
  margin-top: 7px;
}
#guide_header_02 .header_nav .inner ul li a{
  text-shadow:none;
}
#guide_header_02 .btn_searchkeyword{
  margin-top:1px;
  background:url(/img/general/4travel/cmn/ver1/btn/btn_guide_header_02_search02.png);
}
#guide_header_02 .search{
  width: 255px;
}
#breadcrumbs,
#breadcrumbs_02{
  background: none;
  width: 970px;
  border-bottom: none;
  padding: 6px 0;
  margin:0 auto 10px auto;
  font-size: 13px;
}
#breadcrumbs .txt_breadcrumb,
#breadcrumbs_02 .txt_breadcrumb {
  width: 970px;
  margin: 0 auto;
  line-height: 1.5;
  font-size:13px;
}
#breadcrumbs li a,
#breadcrumbs_02 li a,
#breadcrumbs strong,
#breadcrumbs_02 strong,
#breadcrumb_nav{
  font-size:13px;
}
#breadcrumbs strong,
#breadcrumbs_02 strong{
  font-weight:normal;
}

/*__u_globalHeaderModule
ヘッダ　2016から
----------------------------------------------------------- */
.u_globalHeaderModule {
  font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.u_globalHeaderModule input {
  font-family: inherit;
}
.u_globalHeaderModule .u_globalHeaderBox {
  width: 970px;
  margin: 0 auto;
  padding: 8px 10px;
}
.u_globalHeaderModule .logoItem{
	float: left;
	margin: 6px 15px 0 0;
}
.u_globalHeaderModule .logoItem img{
	width: 140px;
}
/*スペイン広告*/
.u_globalHeaderModule .header_guide_banner {
  width: 320px;
  float:left;
}
.u_globalHeaderModule .header_guide_banner a:hover {
  opacity:0.8;
}

/* 2016 右フロートようこそ〇〇さんリンク */
.u_globalHeaderModule .l_navActionsWrap {
  display: flex;/*IE以外*/
  float: right;
  padding: 5px 0 0 0;
  max-width: 485px;
}
/* 1セルごとにボーダ */
.u_globalHeaderModule .l_navActionsWrap .u_cellItem {
  float: left;
  *height: 45px;/*for IE ボーダーを揃えるため*/
  box-sizing: border-box;
  padding: 0 3px;
  border-right: 1px solid #e4e4e4;
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem a {
  color: #333;
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_greetingText {
  margin-top: 3px;
  padding: 0;
  text-align: right;
  border-right: none;
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_greetingText .travelerName {
  display: inline-block;
  width: 175px;
  vertical-align: bottom;
  *vertical-align: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* トラベラー写真 */
 .u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_image {
   padding: 0 10px 0 7px;
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_image a {
   display: block;
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_image a:hover {
  text-decoration:none;
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_image a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_image img {
  border-radius: 50%;
}

/* 会員登録はこちら */
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_regist {
  margin-right: 0;
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_regist .copyText {
  margin-bottom: 2px;
  font-size: 10px;
}
/* 会員登録ボタン 汎用ボタンと組み合わせる*/
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_regist .u_commonButton.is_registButton a {
  padding: 3px 0 2px;
  border: 1px solid #f36d33;
  border-width: 0 1px 2px 0;
  background: #f38d33;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}
.u_globalHeaderModule .l_navActionsWrap .u_icon4tPoint {
  padding: 1px 0 3px 21px;
  background: url(/img/webapp/cmn/icon/icon_4t_point.png) 0 0 no-repeat;
}
/* メッセージとクリップ*/
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_mail a,
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_clip a {
  display: block;
  padding-top: 28px;/*背景画像の表示確保*/
  font-size: 9px;
  text-align:center;
  white-space: nowrap;
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_mail a:hover,
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_clip a:hover {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
/* メールボックス */
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_mail {
  position: relative;
  width: 79px;
  *width: 66px;/* for IE7  border-boxが使えないため */
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_mail a {
  background: url(/img/webapp/cmn/icon/icon_mail_clip.png) no-repeat 25px 5px;/*sslページも想定して相対パス*/
}
/* クリップ */
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_clip {
  margin-right: 0;
  width: 53px;
  *width: 47px;/* for IE7　border-boxが使えないため */
}
.u_globalHeaderModule .l_navActionsWrap .u_cellItem.is_clip a {
  background: url(/img/webapp/cmn/icon/icon_mail_clip.png) no-repeat -51px 5px;
}

/*プッシュ通知*/
.u_globalHeaderModule .l_navActionsWrap .u_cellItem .u_pushCount {
  position: absolute;
  right: 20px;
  top: -3px;
  min-height: 12px;/*正方形にしたいため*/
  min-width: 12px;
  box-sizing: border-box;
  padding: 2px 1px 0 2px;
  border-radius: 50%;
  background: #e60012;
  color: #fff;
  font-size: 10.5px;
  line-height: 1.0;
  text-align:center;
}

/*グローバルナビゲーション*/
.u_globalHeaderModule .l_globalHeaderNaviLow {
   background: #E5E5E5;
}
.u_globalHeaderModule .l_globalHeaderBox {
  align-items: center;
  width: 970px;
  margin: 0 auto;
  padding: 5px 0;
}
/*liタグ.u_naviItem*/
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem {
  float: left;
  height: 33px;
  width: 85px;
  border-right: 1px solid #ddd;
  background: #fff;
  text-align: center;
  line-height: 1.3;
}
/*グローバルナビリンク、虫眼鏡アイコン、検索ボタン ホバー時*/
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem:hover,
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton a:hover {
  opacity:0.7;
  filter:alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem:first-child {
  border-radius: 3px 0 0 3px;
}
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem a {
  display: block;
  padding: 8px 0;
  color: #333;
}
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem a:hover {
  text-decoration: none;
}
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem .pointIcon {
  padding: 2px 22px 2px 0;
  background: url(/img/webapp/cmn/icon/icon_4t_point.png) right 3px no-repeat;
}
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem.is_titleItem {
  background: #006699;
  font-weight: bold;
}
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem.is_titleItem a,
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem.is_mileItem a {
  color: #fff;
}
/*マイル交換！*/
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem.is_mileItem {
  width: 156px;
  padding: 0;
  border-radius: 0 3px 3px 0;
  background: #0098DE;
  font-size: 10px;
}
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem.is_mileItem a {
    padding: 3px 10px 5px;
}
.u_globalHeaderModule .l_globalHeaderBox .u_naviItem.is_mileItem .pointIcon {
  display: block;
  padding: 0 0 0 19px;/*上書き*/
  background: url(/img/webapp/cmn/icon/icon_4t_point.png) left center no-repeat;
}
/* 虫眼鏡 */
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton {
  float: right;
  position: relative;
  margin-left: 5px;
  height: 33px;
  width: 33px;
  border-radius: 3px;
  background: #006699;
}
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton a {
  display: block;
  padding: 5px;
}
/*クリックで現れる検索BOX*/
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .u_searchInner {
  overflow: hidden;
  position: absolute;
  right: 28px;
  top: 0;
  width: 0;
  height: 33px;
  background: #006699;
  transition: width 200ms ease;
}
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .u_searchInner.is_display {
  width: 365px;
}
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .u_searchInner form {
  width: 351px;
  padding: 4px 7px;
}
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .u_searchInner .kakeru {
  color: #fff;
  font-size: 15px;
}
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .searchKeyword {
  width: 116px;
  padding: 2px 7px;
  border:none;
  border-radius: 3px;
}
/* 文言「キーワード」色 まとめられないので分裂 */
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .u_searchInner ::-webkit-input-placeholder {
  color: #d0d0d0;
}
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .u_searchInner ::-moz-placeholder {
  color: #d0d0d0;
}

/*検索ボタン*/
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .submitButton {
  margin-left: 5px;
  *margin-left: -15px;
  padding: 2px 13px;
  width: 50px;
  border-radius: 3px;
  border: none;
  background: #f38d33;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.u_globalHeaderModule .l_globalHeaderBox .l_searchKeywordButton .submitButton:hover {
  background: #F8BB85;
}

/*パンくずとカテゴリーナビ*/
.u_headerBreadCategoryField {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5; /*for IE7*/
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.07);
  font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.u_headerBreadCategoryField .u_headerBreadCategoryInner {
  width: 970px;
  margin: 0 auto;
}
/*u_breadcrumbsModule パンくず*/
.u_breadcrumbsModule {
  padding: 10px 0 0;
  line-height: 1.8;
}
.u_breadcrumbsModule li {
  display: inline;
}
.u_breadcrumbsModule .divide_path {/*既存上書き*/
  color: #333;
}
/*u_areaCategoryModule*/
.u_areaCategoryModule {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 0;
  font-size: 11px;
  align-items: center;
}
.u_areaCategoryModule .areaTitleItem {
  float: left;
}
.u_areaCategoryModule .areaTitleItem span {
  padding: 0 10px;
  font-size: 16px;
  vertical-align: middle;
}
.u_areaCategoryModule .categoryItem {
  float: left;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #DCDCDC;
}
.u_areaCategoryModule .categoryItem a {
  display: block;
  padding: 3px 8px;
  color: #333;
}
.u_areaCategoryModule .categoryItem a:hover,
.u_areaCategoryModule .categoryItem a:focus {
  text-decoration: none;
  background: #efefef;
  color: #666;
}
