@charset "EUC-JP";

/* -----------------------------------------------------------
CSS Information

File name:      module.css
Created:        2010-08-05
Last update:    2016-09-07 by Bando
Style Info:     汎用スタイル
----------------------------------------------------------- */

/* -----------------------------------------------------------
Table of Contents

__clearfix
__font
__link
__more
__turn_back
__ico_help
__star
__tips_cs
__spot
__service
__heading
__lead
__tab
__sort
__page_nav
__unit_img
__box
__recommend_box
__listing
__ad
__side
__kakaku_link
__floating_footer
__to_smartphone

__button(ruby_module)

----------------------------------------------------------- */


/* __clearfix
----------------------------------------------------------- */

.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .group {
	zoom: 1;
}
*:first-child+html .group {
	zoom: 1;
}


/* __font
----------------------------------------------------------- */

.num {
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.num_m {
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.num_l {
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.divide {
	color: #cdcdcd;
	font-weight: normal;
}
.divide_path {
	padding: 0 5px;
	color: #cdcdcd;
	font-weight: normal;
}


/* __link
----------------------------------------------------------- */

.link01 a {
	text-decoration: underline;
}

/*JSリンクの時*/
.link_window_open,
.link_normal {
	cursor: pointer;
	color: #0178D8;
	text-decoration: underline;
}
.link_window_open:hover,
.link_normal:hover {
	color: #e17a00;
}


/* __more
----------------------------------------------------------- */

.more01 {
	text-align: right;
	line-height: 1.2;
}
.more01 a {
	padding: 0 10px 0 0;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_more01.png) no-repeat right center;
}

.more02,
.more03 a {
	padding: 0 10px 0 0;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_more01.png) no-repeat right center;
}

.more03 {
	margin-bottom: 30px;
	padding: 8px;
	background: #e4f1f3 url(http://img.4travel.jp/img/general/4travel/guide/ver1/cmn/bg/bg_more03.png) repeat-x left top;
	text-align:right;
}

.pointer_open{
  background: url(/img/webapp/cmn/icon/u_pointer_open.png) no-repeat 2px center;
  padding: 0 0 0 14px;
}

.pointer_close{
  background: url(/img/webapp/cmn/icon/u_pointer_close.png) no-repeat 2px center;
  padding: 0 0 0 14px;
}



/* __turn_back
----------------------------------------------------------- */

.turn_back a {
	padding: 0 0 2px 19px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 -1000px;
	font-size: 1.1em;
	text-decoration: underline;
}


/* __ico_help
----------------------------------------------------------- */

.ico_help {
	margin: 0 0 0 3px;
	border: 1px solid #90a3b8;
	background: #fff;
	color: #2c67a5;
	font-size: 0.8em;
	font-weight: bold;
}
.ico_help a {
	text-decoration: none;
}


/* __star
----------------------------------------------------------- */

/* header */

.star00_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 1px;
	font-size: 1.1em;
}
.star05_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -29px;
	font-size: 1.1em;
}
.star10_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -59px;
	font-size: 1.1em;
}
.star15_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -89px;
	font-size: 1.1em;
}
.star20_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -119px;
	font-size: 1.1em;
}
.star25_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -149px;
	font-size: 1.1em;
}
.star30_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -180px;
	font-size: 1.1em;
}
.star35_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -209px;
	font-size: 1.1em;
}
.star40_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -239px;
	font-size: 1.1em;
}
.star45_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -269px;
	font-size: 1.1em;
}
.star50_s_hdr {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -299px;
	font-size: 1.1em;
}

/* hotel */

.star00_s_htl {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1318px;
	font-family: Arial, Helvetica, sans-serif;
	zoom: 1;
}
.star10_s_htl {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1348px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	zoom: 1;
}
.star20_s_htl {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1378px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	zoom: 1;
}
.star30_s_htl {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1408px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	zoom: 1;
}
.star40_s_htl {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1438px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	zoom: 1;
}
.star50_s_htl {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1468px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	zoom: 1;
}

/* small */

.star00_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -328px;
	color: #333;
}
.star05_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -359px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star10_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -389px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star15_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -419px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star20_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -449px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star25_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -479px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star30_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -510px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star35_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -539px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star40_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -569px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star45_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -599px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star50_s {
	padding-left: 70px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -629px;
	color: #f36d33;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* medium */

.star00_m {
	padding-left: 88px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -661px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
.star05_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -684px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star10_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -714px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star15_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -744px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star20_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -774px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star25_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -804px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star30_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -834px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star35_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -864px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star40_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -894px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star45_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -924px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star50_m {
	padding-left: 90px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -954px;
	color: #f36d33;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* large */

.star00_l {
	padding: 5px 0 5px 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -990px;
	color: #333;
	font-size: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
}
.star05_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1020px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star10_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1050px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star15_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1080px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star20_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1110px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star25_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1140px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star30_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1170px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star35_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1200px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star40_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1230px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star45_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1260px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.star50_l {
	padding-left: 135px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/star/ico_star.png) no-repeat 0 -1290px;
	color: #f36d33;
	font-size: 2.0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}


/* __tips_cs
----------------------------------------------------------- */

/* small */

.tips_cs4_5_s {
	padding-left: 17px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1000px;
}
.tips_cs1_2_s {
	padding-left: 17px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1100px;
}
.tips_cs3_s {
	padding-left: 17px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1200px;
}
.tips_cs0_s {
	padding-left: 17px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1300px;
}

/* medium */

.tips_cs4_5_m {
	padding-left: 20px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -500px;
}
.tips_cs1_2_m {
	padding-left: 20px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -600px;
}
.tips_cs3_m {
	padding-left: 20px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -700px;
}
.tips_cs0_m {
	padding-left: 20px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -800px;
}

/* large */

.tips_cs4_5_l {
	padding-left: 25px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 0;
}
.tips_cs1_2_l {
	padding-left: 25px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -100px;
}
.tips_cs3_l {
	padding-left: 25px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -200px;
}
.tips_cs0_l {
	padding-left: 25px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -300px;
}


/* __spot
----------------------------------------------------------- */

/* small */

.spot_kankospot_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2698px;
}
.spot_hotel_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2598px;
}
.spot_restaurant_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2798px;
}
.spot_shopping_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2898px;
}
.spot_transport_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2998px;
}
.spot_general_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3098px;
}
.spot_onsen_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -4598px;
}

/* medium */

.spot_kankospot_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2100px;
}
.spot_hotel_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2000px;
}
.spot_restaurant_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2200px;
}
.spot_shopping_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2300px;
}
.spot_transport_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2400px;
}
.spot_general_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -2500px;
}
.spot_onsen_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -4500px;
}
.spot_airline_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -4200px;
}

.omit {
	margin-right: -0.4em;
}


/* __service
----------------------------------------------------------- */

/* small */

.service_tour_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3998px;
}
.service_airticket_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -4298px;
}
.service_ranking_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -4898px;
}
.service_community_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -5198px;
}
.service_mag_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -5498px;
}
.service_point_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -5798px;
}
.service_mobile_s {
	padding: 0 0 3px 18px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -6098px;
}

/* medium */

.service_tour_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3900px;
}
.service_airticket_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -4200px;
}
.service_ranking_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -4800px;
}
.service_community_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -5100px;
}
.service_mag_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -5400px;
}
.service_point_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -5700px;
}
.service_mobile_m {
	padding: 0 0 3px 24px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -6000px;
}


/* __heading
----------------------------------------------------------- */

.hd {
	margin: 0 0 5px;
	font-size: 1.4em;
}
.hd .ttl_bold {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Meiryo,"MS PGothic",arial,sans-serif;
}
.hd .ttl {
	display: inline;
	font-size: 1.0em;
	font-weight: bold;
}
.hd .txt {
	display: inline;
	padding-left: 5px;
	font-size: 1.0em;
	font-weight: bold;
}
.hd .num {
	padding: 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.hd .txt_s {
	font-size: 0.7em;
	font-weight: normal;
}
.hd img {
	padding-left: 5px;
	vertical-align: text-bottom;
}

.hd_b {
	width: 970px;
	margin: -5px auto 4px;
	font-size: 1.8em;
	font-family:Meiryo,"MS PGothic",arial,sans-serif;
}

.hd_b .ttl {
	display: inline;
	font-size: 1.0em;
	font-weight: bold;
}
.hd_b .txt {
	display: inline;
	padding-left: 5px;
	font-size: 1.0em;
	font-weight: bold;
}
.hd_b .num {
	padding: 0 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.hd_b .txt_s {
	font-size: 0.7em;
	font-weight: normal;
}
.hd_b img {
	padding-left: 5px;
	vertical-align: text-bottom;
}

.hd01,
.hd01_l {
	padding: 5px 8px 7px;
	border-bottom: 1px solid #0388b9;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/hd/bg_hd11.png) repeat-x left bottom;
	color: #000;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.3;
	zoom: 1;
}
.hd01_l a {
	padding-left: 0;
	background: none;
	color: #000;
	text-decoration: underline;
}
.hd01_l a:visited {
	color: #000;
}
.hd01_l a:hover {
	color: #e17a00;
}
.hd01 span.num,
.hd01_l span.num {
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.hd01 span.num span,
.hd01_l span.num span {
	padding-left: 1px;
	font-size: 0.7em;
	font-weight: normal;
}
.hd01_l span.txt_s {
	padding-left: 1px;
	font-size: 0.7em;
	font-weight: normal;
}
.hd01_l .title_txt {
	display: inline;
}
.hd01_l.is_mb10 {
	margin-bottom: 10px;
}

.col_three01 .hd01s,
.col_three01 .hd01s_l {
	padding: 12px 8px 3px 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top_240.png) no-repeat top;
	font-size: 1.0em;
	font-weight: bold;
	border: none;
	color: #000;
	zoom: 1;
}
/* col_three02  ※3カラム（180,780（470,300））*/
.col_three02 #sub .hd01s,
.col_three02 #sub .hd01s_l {
	padding: 11px 8px 3px 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top_180a.png) no-repeat top;
	font-size: 1.0em;
	font-weight: bold;
	border: none;
	color: #000;
	zoom: 1;
}
.col_three02 .hd01s,
.col_three02 .hd01s_l,
.col_two04 .hd01s_l {
	padding: 12px 8px 3px 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top_300.png) no-repeat top;
	font-size: 1.1em;
	font-weight: bold;
	border: none;
	color: #000;
	zoom: 1;
}

.col_three01 #sub .hd01s,
.col_three01 #sub .hd01s_l {
	padding: 11px 8px 3px 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top_180a.png) no-repeat top;
	font-size: 1.0em;
	font-weight: bold;
	border: none;
	color: #000;
	zoom: 1;
}


.col_two01 .hd01s,
.col_two01 .hd01s_l {
	padding: 12px 8px 3px 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top_240.png) no-repeat top;
	font-size: 1.0em;
	font-weight: bold;
	border: none;
	color: #000;
	zoom: 1;
}

.col_two01 #sub .hd01s,
.col_two01 #sub .hd01s_l {
	padding: 11px 8px 3px 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top_180a.png) no-repeat top;
	font-size: 1.0em;
	font-weight: bold;
	border: none;
	color: #000;
	zoom: 1;
}
.col_two02 #sub .hd01s,
.col_two02 #sub .hd01s_l {
	padding: 12px 8px 3px 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top_240.png) no-repeat top;
	font-size: 1.0em;
	font-weight: bold;
	border: none;
	color: #000;
	zoom: 1;
}
.col_two03 #sub .hd01s,
.col_two03 #sub .hd01s_l {
	padding: 11px 8px 3px 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top_180a.png) no-repeat top;
	font-size: 1.0em;
	font-weight: bold;
	border: none;
	color: #000;
	zoom: 1;
}
.u_commonText {
  font-size: 14px;
  line-height: 1.8;
  margin: 5px 0 20px;
  word-break: break-all;
}


/* side02 */
#sub .side02 {
	margin-bottom: 10px;
	border: solid 1px #d9d9d9;
	border-radius: 5px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_top.png) repeat-x top;
}
#sub .side02 .hd_ttl {
	margin: 0 5px;
	padding: 5px;
	border-bottom: solid 3px #048DCC;
	color: #000;
	font-weight: bold;
	font-size: 1.1em;
}
#sub .side02 .hd_ttl a {
	color: #333;
	text-decoration: underline;
}
#sub .side02 .unit {
	padding: 5px 10px;
}
#sub .side02 .more01 {
	padding-top: 7px;
	border-top: 1px solid #d1d1d1;
}
#sub .side02 .list01 dl,
#sub .side02 .list01 li,
#sub .side02 .list02 li {
	margin-top: -1px;
	padding: 5px 0 5px 7px;
	border-top: 1px dotted #cdcdcd;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 -90px;
}


#sub .ad_area_l {
	margin-bottom: 10px;
}
#sub .ad_area_l02 {
	margin-bottom: 20px;
}
.ad_area_link a {
	display: block;
	margin-bottom: 10px;
}

.hd01s_l a {
	padding-right: 0;
	color: #000;
	text-decoration: underline;
}
.hd01s_l a:visited {
	color: #000;
}
.hd01s_l a:hover {
	color: #e17a00;
}


.hd02 {
	padding: 7px 4px 4px;
	background: #f2f2e8 url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/hd/bg_hd02.png) repeat-x left top;
	font-size: 1.1em;
	font-weight: bold;
}

.hd02_s {
	padding: 5px 4px 2px;
	background: #f2f2e8 url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/hd/bg_hd02.png) repeat-x left top;
	font-weight: bold;
}

.hd03 {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #0098de;
}

.hd04 {
	margin-bottom: 10px;
	padding: 0 5px 2px 10px;
	border-bottom: 1px dotted #a6a6a6;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/hd/bg_hd04.png) no-repeat 0 0;
}


/* __lead
----------------------------------------------------------- */
.lead01 {
  position: relative;
}
.lead01 .name {
	float: left;
	width: 710px;
}
.lead01 .name h1,
.lead01 .name h2,
.lead01 .name p {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.1;
}
.lead01 .name h1 span.ico_status img,
.lead01 .name h2 span.ico_status img,
.lead01 .name p span.ico_status img {
	vertical-align: text-bottom;
}
.lead01 .name h1 .txtbox a,
.lead01 .name h2 .txtbox a,
.lead01 .name p .txtbox a {
	color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-decoration: underline;
}
.lead01 .name h1 .txtbox a:hover,
.lead01 .name h2 .txtbox a:hover,
.lead01 .name p .txtbox a:hover {
	color: #e17a00;
}
.lead01 .name span.eng {
  display: block;
	font-size: 0.6em;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
  color: #666;
  line-height: 1.3;
}
.lead01 .name .tag_line {
  display: block;
  padding: 5px 0 10px;
	font-size: 1.1em;
  font-weight: normal;
  color: #832B1A;
  font-weight: bold;
}
.lead01 .ranking {
  position: absolute;
  right: 0;
  bottom: 2px;
	float: right;
	width: 260px;
	padding-top: 2px;
	text-align: right;
}
.lead01 .ranking .info {
	float: right;
	width: 189px;
	font-weight: bold;
	line-height: 1.2;
}
.lead01 .ranking .info span {
	display: block;
	font-weight: normal;
}
.lead01 .ranking .info span span {
	display: inline;
	padding: 0 3px;
	font-weight: bold;
}
.lead01 .ranking .rank {
	float: right;
	padding-left: 5px;
	font-weight: bold;
}
.lead01 .ranking .rank span {
	margin-right: 3px;
	padding: 2px 5px;
	border: 1px solid #0b8fcd;
	background: #24a6e2;
	color: #fff;
	font-size: 1.7em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.lead01 .ranking .rank .rank1 {
	padding: 6px 10px 4px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3199px;
}
.lead01 .ranking .rank .rank2 {
	padding: 6px 10px 4px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3298px;
}
.lead01 .ranking .rank .rank3 {
	padding: 6px 10px 4px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3399px;
}

/* cate_ */

.cate_hotel .name h1,
.cate_hotel .name h2,
.cate_hotel .name p,
.cate_kankospot .name h1,
.cate_kankospot .name h2,
.cate_kankospot .name p,
.cate_restaurant .name h1,
.cate_restaurant .name h2,
.cate_restaurant .name p,
.cate_shopping .name h1,
.cate_shopping .name h2,
.cate_shopping .name p,
.cate_transport .name h1,
.cate_transport .name h2,
.cate_transport .name p,
.cate_airline .name h1,
.cate_airline .name h2,
.cate_airline .name p {
	padding-bottom: 3px;
}
.cate_hotel .name h1 .iconbox,
.cate_hotel .name h2 .iconbox,
.cate_hotel .name p .iconbox,
.cate_kankospot .name h1 .iconbox,
.cate_kankospot .name h2 .iconbox,
.cate_kankospot .name p .iconbox,
.cate_restaurant .name h1 .iconbox,
.cate_restaurant .name h2 .iconbox,
.cate_restaurant .name p .iconbox,
.cate_shopping .name h1 .iconbox,
.cate_shopping .name h2 .iconbox,
.cate_shopping .name p .iconbox,
.cate_transport .name h1 .iconbox,
.cate_transport .name h2 .iconbox,
.cate_transport .name p .iconbox,
.cate_airline .name h1 .iconbox,
.cate_airline .name h2 .iconbox,
.cate_airline .name p .iconbox {
	display: block;
	float: left;
	width: 43px;
	font-size: 150%;
}
.cate_hotel .name h1 .iconbox,
.cate_hotel .name h2 .iconbox,
.cate_hotel .name p .iconbox {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1400px;
}
.cate_kankospot .name h1 .iconbox,
.cate_kankospot .name h2 .iconbox,
.cate_kankospot .name p .iconbox {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1500px;
}
.cate_restaurant .name h1 .iconbox,
.cate_restaurant .name h2 .iconbox,
.cate_restaurant .name p .iconbox {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1600px;
}
.cate_shopping .name h1 .iconbox,
.cate_shopping .name h2 .iconbox,
.cate_shopping .name p .iconbox {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1700px;
}
.cate_transport .name h1 .iconbox,
.cate_transport .name h2 .iconbox,
.cate_transport .name p .iconbox {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1800px;
}
.cate_airline .name h1 .iconbox,
.cate_airline .name h2 .iconbox,
.cate_airline .name p .iconbox {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -4100px;
}
.cate_hotel .name h1 .txtbox,
.cate_hotel .name h2 .txtbox,
.cate_hotel .name p .txtbox,
.cate_kankospot .name h1 .txtbox,
.cate_kankospot .name h2 .txtbox,
.cate_kankospot .name p .txtbox,
.cate_restaurant .name h1 .txtbox,
.cate_restaurant .name h2 .txtbox,
.cate_restaurant .name p .txtbox,
.cate_shopping .name h1 .txtbox,
.cate_shopping .name h2 .txtbox,
.cate_shopping .name p .txtbox,
.cate_transport .name h1 .txtbox,
.cate_transport .name h2 .txtbox,
.cate_transport .name p .txtbox,
.cate_airline .name h1 .txtbox,
.cate_airline .name h2 .txtbox,
.cate_airline .name p .txtbox {
	display: block;
	float: left;
	width: 667px;
}


/* spot_lead02 施設名まわり改修 */
.spot_lead02 .spot_name_wrap {
	margin: 0 0 5px;
}
.spot_lead02 .spot_name_wrap .cate_hotel {
	padding-left: 45px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1400px;
}
.spot_lead02 .spot_name_wrap .cate_kankospot .title {
	display: block;
	padding: 6px 0 6px 45px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1500px;
}
.spot_lead02 .spot_name_wrap .cate_restaurant .title {
	display: block;
	padding: 6px 0 6px 45px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1600px;
}
.spot_lead02 .spot_name_wrap .cate_shopping .title {
	display: block;
	padding: 6px 0 6px 45px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1700px;
}
.spot_lead02 .spot_name_wrap .cate_transport .title {
	display: block;
	padding: 6px 0 6px 45px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -1800px;
}
.spot_lead02 .spot_name_wrap h1,
.spot_lead02 .spot_name_wrap h2,
.spot_lead02 .spot_name_wrap p {
	float: left;
	margin: 5px 10px 5px 0;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.1;
	font-family:Meiryo,"MS PGothic",arial,sans-serif;
}
.spot_lead02 .spot_name_wrap h1 a,
.spot_lead02 .spot_name_wrap h2 a,
.spot_lead02 .spot_name_wrap p a {
	color: #333;
	text-decoration: underline;
}

.spot_lead02 .spot_name_wrap .eng {
	display: block;
	padding-left: 45px;
	font-size: 0.6em;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	color: #666;
	line-height: 1.3;
}
.spot_lead02 .spot_name_wrap .ico_hotel_category01 {
	float: left;
	margin-top: 5px;
	background: #fff url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_hotelicon_01.png) top repeat-x;
	padding: 2px 4px;
	border: 1px solid #c5b98e;
	margin-left: 4px;
	color: #8a7f54;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 1.5;
  white-space: nowrap;
}
.spot_lead02 .spot_name_wrap .ico_category_group{
	float: left;
	margin: 5px 0 10px 45px;
}
.spot_lead02 .spot_name_wrap .ico_category {
	display: inline;
	float: left;
	margin: 8px 5px 0 0;
	padding: 0 8px;
	border: 1px solid #bebebe;
	border-radius: 3px 3px 3px 3px;
	background: #fff;
	color: #6c5a0f;
	white-space: nowrap;
	font-size: 0.9em;
}
.spot_lead02 .spot_name_wrap .ico_status {
	float: left;
	margin: 5px 2px 0;
}
.spot_lead02 .spot_name_wrap .ico_status img {
	vertical-align: middle;
}

.spot_lead02 .spot_name_wrap .txt_tag_line {
	clear: both;
	margin: 7px 0 10px;
	color: #832B1A;
	font-size: 1.1em;
	font-weight: bold;
}

/* spot_lead02 閉鎖など強調 */

.spot_lead02 .place_close,
.spot_lead03 .place_close{
	display:block;
	background:url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_place_closed.png) repeat-x bottom center #ce3535;
	margin-bottom:15px;
	padding:1px 8px 0 8px;
	border:solid 1px #ba2323;
	*zoom:1;
}
.spot_lead02 .place_close em,
.spot_lead03 .place_close em{
	display:block;
	background:url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_place_closed.png) no-repeat left center;
	padding:4px 8px 4px 21px;
	font-size:120%;
	color:white;
	text-shadow: 1px 1px 1px #000000;
	-moz-text-shadow: 1px 1px 1px #000000;
	-webkit-text-shadow: 1px 1px 1px #000000;
}


/* cate_travelogue */

.cate_travelogue {
	border-bottom: 3px solid #0098de;
}
.cate_travelogue .name {
	float: left;
	width: 520px;
	padding-top: 10px;
}
.cate_travelogue .ranking {
	float: right;
	width: 240px;
	text-align: right;
}
.cate_travelogue .ranking .info {
	width: 150px;
}
.cate_travelogue .name h1,
.cate_travelogue .name h2,
.cate_travelogue .name p {
	margin-top: 5px;
	font-size: 1.3em;
	line-height: 1.1;
	padding: 0 0 3px 0;
	margin-bottom:3px;
	background:none;
}
.cate_travelogue .name h1 .iconbox,
.cate_travelogue .name h2 .iconbox,
.cate_travelogue .name p .iconbox {
	display: block;
	float: left;
	width: 23px;
	font-size: 130%;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -400px;
}
.cate_travelogue .name h1 .txtbox,
.cate_travelogue .name h2 .txtbox,
.cate_travelogue .name p .txtbox {
	display: block;
	float: left;
	width: 497px;
	margin-bottom:3px;
}

/* __tab
----------------------------------------------------------- */

.tab {
	margin-bottom: 10px;
}
.tab ul {
	border-bottom: 4px solid #0098de;
}
.tab li {
	float: left;
}
.tab li a {
	display: block;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r.png) no-repeat right bottom;
	text-decoration: underline;
	font-size: 1.1em;
}
.tab li a span {
	display: block;
	padding: 9px 12px 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l.png) no-repeat left bottom;
	font-weight: bold;
	line-height: 23px;
}
.tab li a span span {
	display: inline;
	padding: 0;
	background: none;
	line-height: normal;
	font-size: 0.8em;
}
.tab li a span .num {
	font-size: 1.1em;
}
.tab li a.current {
	display: block;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r_current.png) no-repeat right bottom;
	color: #fff;
	font-size: 1.1em;
	text-decoration: none;
}
.tab li a.current span {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l_current.png) no-repeat left bottom;
}
.tab li a.current span span {
	background: none;
}
.tab li a:hover {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r_on.png) no-repeat right bottom;
}
.tab li a:hover span {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l_on.png) no-repeat left bottom;
}
.tab li a:hover span span {
	background: none;
}
.tab li a.current:hover {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r_current.png) no-repeat right bottom;
	text-decoration: underline;
}
.tab li a.current:hover span {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l_current.png) no-repeat left bottom;
}
.tab li a.current:hover span span {
	background: none;
}
.tab li .off {
	display: block;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r_off.png) no-repeat right bottom;
	color: #888;
	font-size: 1.1em;
}
.tab li .off span {
	display: block;
	padding: 9px 12px 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l_off.png) no-repeat left bottom;
	font-weight: bold;
	line-height: 23px;
}

/* __tab02
----------------------------------------------------------- */

.tab02 {
	margin-bottom: 10px;
}
.tab02 ul {
	border-bottom: 4px solid #0098de;
}
.tab02 li {
	float: left;
}
.tab02 li img {
  vertical-align: -7px;
}
.tab02 li a {
	display: block;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r.png) no-repeat right bottom;
}
.tab02 li a span {
	display: block;
	padding: 9px 6px 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l.png) no-repeat left bottom;
	line-height: 23px;
}
.tab02 li a.current {
	display: block;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r_current.png) no-repeat right bottom;
  color: #fff;
}
.tab02 li a.current span {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l_current.png) no-repeat left bottom;
}
.tab02 li a.current span span {
	background: none;
}
.tab02 li a:hover {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r_on.png) no-repeat right bottom;
  text-decoration: none;
  color: #0178D8;
}
.tab02 li a:visited {
  color: #0178D8;
}
.tab02 li a.current:visited {
  color: #fff;
}
.tab02 li a:hover span {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l_on.png) no-repeat left bottom;
}
.tab02 li a.current:hover {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r_current.png) no-repeat right bottom;
  color: #fff;
}
.tab02 li a.current:hover span {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l_current.png) no-repeat left bottom;
}
.tab02 li a.current:hover span span {
	background: none;
}
.tab02 li .off {
	display: block;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_r_off.png) no-repeat right bottom;
	color: #888;
	font-size: 1.1em;
}
.tab02 li .off span {
	display: block;
	padding: 9px 12px 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/tab/bg_tab_l_off.png) no-repeat left bottom;
	font-weight: bold;
	line-height: 23px;
}
.tab02 .m_official {
	float: right;
}
.tab02 .ico_flag {
	margin: 7px 2px 0 0;
}

/* ranking_tab */

.ranking_tab {
	position: relative;
	zoom: 1;
}
.ranking_tab ul {
	padding-left: 72px;
}
.ranking_tab .ranking_sort {
	position: absolute;
	top: 15px;
	left: 0;
	padding-right: 15px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 58px -195px;
	color: #0098de;
	font-weight: bold;
}
.ranking_tab li a span {
	padding:0 30px 7px 60px;
	line-height: normal;
}
.ranking_tab li a span img {
	margin-left: -50px;
	margin-bottom: -3px;
	padding-right: 10px;
}


/* __sort
----------------------------------------------------------- */

.sort {
	padding: 10px 0;
}
.sort a {
	margin-right: 1px;
	padding-right: 11px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_sort.png) no-repeat right center;
}
.sort .current span {
	font-weight: bold;
}
.sort .divide {
	margin: 0 4px 0 -1px;
}

.spot_tips_area #narrow_tips_bar {
	padding: 8px 0;
	border-bottom: dotted 1px #cccccc;
}
.spot_tips_area #narrow_tips_bar dt {
	font-weight: bold;
}
.spot_tips_area #narrow_tips_bar dt,
.spot_tips_area #narrow_tips_bar li {
	float: left;
	padding-right: 10px;
}
.spot_tips_area #narrow_tips_bar input {
	margin-right: 3px;
}
.spot_tips_area #narrow_tips_bar select {
	padding: 2px;
}
.spot_tips_area #narrow_tips_bar #clearnarrow {
	margin-top: -5px;
	*margin-top: 0px;
	_margin-top:0px;
	padding:1px 3px;
	line-height:1.2;
	width:7.5em;
}

.ttl_sort_result_hotel{
	padding-top:20px;
	margin-bottom:-3px;
	border-top:dotted 1px #cccccc;
	font-weight:bold;
}
.ttl_sort_result_hotel span{
	font-size: 1.2em;
}
.ttl_sort_result_hotel span.sorted_by{
	color: #F36D33;
	padding-right: 3px;
}
.ttl_sort_result_hotel span.number{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.4em;
}


/* __page_nav
----------------------------------------------------------- */

.page_nav {
	margin: 10px 0 15px;
	text-align: center;
}
.page_nav li {
	display: inline;
	font-size: 0.9em;
	line-height: 1.0;
}
.page_nav li strong {
	display: inline-block;
	padding: 3px 5px;
	border: 1px solid #0098de;
	background: #0098de;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.page_nav li a {
	display: inline-block;
	padding: 3px 5px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.page_nav li a:link,
.page_nav li a:visited {
	border: 1px solid #cdcdcd;
	background: #f2f2e8;
	color: #0178d8;
}
.page_nav li a:hover,
.page_nav li a:active {
	border: 1px solid #0098de;
	background: #0098de;
	color: #fff;
	text-decoration: none;
}
.page_nav li.prev a:link,
.page_nav li.prev a:visited {
	padding: 5px 5px 4px 14px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_page_nav_prev.png) no-repeat left top;
	font-family: "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
}
.page_nav li.next a:link,
.page_nav li.next a:visited {
	padding: 5px 13px 4px 9px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_page_nav_next.png) no-repeat left top;
	font-family: "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
}
.page_nav li.prev a:hover,
.page_nav li.prev a:active {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_page_nav_prev_on.png) no-repeat left top;
}
.page_nav li.next a:hover,
.page_nav li.next a:active {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_page_nav_next_on.png) no-repeat left top;
}

/* page_nav_txt */

.page_nav_txt {
	clear: both;
	margin: 20px 0;
	position: relative;
	text-align: center;
	zoom: 1;
}
.page_nav_txt p.turn_back {
	width: 580px;
	padding: 0 100px;
	text-align: center;
}
.col_two04 .page_nav_txt p.turn_back {
	width: 450px;
}
.page_nav_txt p.turn_back a {
	font-size: 1.0em;
}
.page_nav_txt .prev {
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
}
.page_nav_txt .next {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
}


/* __unit_img
----------------------------------------------------------- */

.unit_img01 .img {
	float: left;
	margin-right: 5px;
}
.unit_img01 .txt {
	overflow: hidden;
	zoom: 1;
}

.unit_img02 .img {
	float: right;
	margin-left: 5px;
}
.unit_img02 .txt {
	overflow: hidden;
	zoom: 1;
}


/* __box
----------------------------------------------------------- */

.box01_970 {
	margin-bottom: 10px;
	padding-bottom: 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box01_970_b.png) no-repeat left bottom;
	zoom: 1;
}
.box01_970 .box {
	border-left: 2px solid #0097de;
	border-right: 2px solid #0097de;
}
.box01_970 .box_ttl {
	margin: 0 -2px;
	padding: 5px 8px;
	background: #0097de url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box01_970_t.png) no-repeat left top;
	color: #fff;
}

.box02_780 {
	margin-bottom: 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box02_780_m.png) repeat-y left top;
}
.box02_780 .box {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box02_780_b.png) no-repeat left bottom;
}
.box02_780 .box_inner {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box02_780_t.png) no-repeat left top;
}

.box02_650 {
	margin-bottom: 10px;
	border: solid 1px #ccc;
}
.box02_650 .box_inner {
	border: solid 5px #E4F1F3;
}



.box_side01_240 {
	margin-bottom: 10px;
	padding-bottom: 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box_side01_240_b.png) no-repeat left bottom;
	zoom: 1;
}
.box_side01_240 .box {
	border-left: 2px solid #0097de;
	border-right: 2px solid #0097de;
}
.box_side01_240 .box_ttl {
	margin: 0 -2px;
	padding: 5px 8px;
	background: #0097de url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box_side01_240_t.png) no-repeat left top;
	color: #fff;
	font-weight: bold;
}

.box_side02_240 {
	margin-bottom: 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box_side02_240_m.png) repeat-y left top;
}
.box_side02_240 .box {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box_side02_240_b.png) no-repeat left bottom;
}
.box_side02_240 .box_inner {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box_side02_240_t.png) no-repeat left top;
}

.box_side01_180 {
	margin-bottom: 10px;
	padding-bottom: 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box_side01_180_b.png) no-repeat left bottom;
	zoom: 1;
}
.box_side01_180 .box {
	border-left: 2px solid #0097de;
	border-right: 2px solid #0097de;
}
.box_side01_180 .box_ttl {
	margin: 0 -2px;
	padding: 5px 8px;
	background: #0097de url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/box/bg_box_side01_180_t.png) no-repeat left top;
	color: #fff;
	font-weight: bold;
}

.box_side01_970 .box_ttl a,
.box_side01_240 .box_ttl a,
.box_side01_180 .box_ttl a {
	padding-right: 10px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_more03.png) no-repeat right center;
	color: #e4f1f3;
	text-decoration: underline
}
.box_side01_970 .box_ttl a:hover,
.box_side01_240 .box_ttl a:hover,
.box_side01_180 .box_ttl a:hover {
	color: #fff;
}


/* __recommend_box
----------------------------------------------------------- */

.recommend_box {
	clear: both;
	margin: 20px 0;
}
.recommend_box ul {
	margin-left: 30px;
}
.recommend_box li {
	display: inline;
	float: left;
	width: 128px;
	margin-left: 20px;
	line-height: 1.3;
}
.recommend_box ul ul {
	margin-left: 0;
}
.recommend_box li li {
	display: block;
	float: none;
	width: auto;
	margin-left: 0;
}
.recommend_box .ttl {
	padding: 5px 0;
	border-top: 1px solid #cdcdcd;
	font-size: 1.3em;
	font-weight: bold;
}
.recommend_box .ttl a {
	text-decoration: underline;
}
.recommend_box dt a {
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}
.recommend_box dt a img {
	padding: 3px;
	border: 1px solid #cdcdcd;
	vertical-align: bottom;
}
.recommend_box dt a:hover {
	border: none;
}
.recommend_box dt a:hover img {
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}
.recommend_box dt span {
	display: block;
	margin-top: 3px;
	text-decoration: underline;
}
.recommend_box dd {
	margin-top: 2px;
}
.recommend_box .price {
	color: #e17a00;
}
.recommend_box .price .num {
	font-size: 1.3em;
}
.recommend_box .tips span {
	display: block;
	color: #666;
}
.recommend_box .category span {
	display: block;
	padding-top: 1px;
}
.recommend_box .category_s {
	margin: 2px 0 4px;
	color: #666;
	font-size: 0.8em;
}
.recommend_box .theme p {
	margin-bottom: 3px;
	padding: 2px 4px 1px;
	background: #f2f2e8;
	color: #666;
	font-size: 0.8em;
}
.recommend_box .theme li {
	padding-left: 7px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 6px;
}



/* __recommend_box02
----------------------------------------------------------- */

.recommend_box02 {
	clear: both;
	margin: 10px 0;
}
#dm_area_hotel_each .recommend_box02 {
	margin-bottom: 40px;
}
.recommend_box02 h2,
.recommend_box02 h3,
.recommend_box02 p {
	margin-bottom: 10px;
}
.recommend_box02 ul {
	margin: 0 0 20px -15px;
}
.recommend_box02 li {
	display: inline;
	float: left;
	width: 118px;
	margin-left: 15px;
	line-height: 1.3;
}
.recommend_box02 ul ul {
	margin-left: 0;
}
.recommend_box02 li li {
	display: block;
	float: none;
	width: auto;
	margin-left: 0;
}
.recommend_box02 .ttl {
	padding: 5px 0;
	border-top: 1px solid #cdcdcd;
	font-size: 1.3em;
	font-weight: bold;
}
.recommend_box02 .ttl a {
	text-decoration: underline;
}
.recommend_box02 dt a {
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
}
.recommend_box02 dt img {
	padding: 3px;
	border: 1px solid #cdcdcd;
	vertical-align: bottom;
}
.recommend_box02 dt a:hover {
	border: none;
}
.recommend_box02 dt a:hover img {
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}
.recommend_box02 dt span {
	display: block;
	margin-top: 3px;
	font-weight: bold;
}
.recommend_box02 dd {
	margin-top: 2px;
}
.recommend_box02 .price {
	color: #e17a00;
}
.recommend_box02 .price .num {
	font-size: 1.3em;
}
.recommend_box02 .tips span {
	display: block;
	color: #666;
}
.recommend_box02 .category span {
	display: block;
	padding-top: 1px;
}
.recommend_box02 .category_s {
	margin: 2px 0 4px;
	color: #666;
	font-size: 0.8em;
}
.recommend_box02 .theme p {
	margin-bottom: 3px;
	padding: 2px 4px 1px;
	background: #f2f2e8;
	color: #666;
	font-size: 0.8em;
}
.recommend_box02 .theme li {
	padding-left: 7px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 6px;
}

/* _20131125 3+2枠追加 */

.recommend_box02.left_box{
float: left;
clear:none;
width: 385px;
}
.recommend_box02.right_box{
float: right;
clear:none;
width: 251px;
}





/* __recommend_box_short
----------------------------------------------------------- */

.recommend_box_short {
	clear: both;
	margin: 0 0 10px;
}
.recommend_box_short h2,
.recommend_box_short h3 {
	margin-bottom: 10px;
}
.recommend_box_short ul {
	margin-left: -15px;
}
.recommend_box_short li {
	display: inline;
	float: left;
	width: 128px;
	margin-left: 15px;
	line-height: 1.3;
}
#os_area_travelogue_each .recommend_box_short ul {
	margin-left: -35px;
}
#os_area_travelogue_each .recommend_box_short li {
	margin-left: 35px;
}
.recommend_box_short dt a {
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}
.recommend_box_short dt a img {
	padding: 3px;
	border: 1px solid #cdcdcd;
	vertical-align: bottom;
}
.recommend_box_short dt a:hover {
	border: none;
}
.recommend_box_short dt a:hover img {
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}
.recommend_box_short dt span {
	display: block;
	margin-top: 3px;
	text-decoration: underline;
}
.recommend_box_short dd {
	margin-top: 2px;
}
.recommend_box_short .price {
	color: #e17a00;
}
.recommend_box_short .price .num {
	font-size: 1.3em;
}
.recommend_box_short .tips span {
	display: block;
	color: #666;
}
.recommend_box_short .category span {
	display: block;
	padding-top: 1px;
}
.recommend_box_short .category_s {
	margin: 2px 0 4px;
	color: #666;
	font-size: 0.8em;
}


/* __recommend_box_tips
----------------------------------------------------------- */

.recommend_box_tips{
}
.recommend_box_tips ul{
	margin-left: -20px;
}
.recommend_box_tips .half_box,
.recommend_box_tips.half_box{
	float: left;
	clear: none;
	width: 315px;
	margin-left: 20px;
}
.recommend_box_tips dl{
	float: left;
}
.recommend_box_tips .tips_txt{
	margin-left: 130px;
	line-height: 1.6;
}
.recommend_box_tips .tips_txt p{
	margin: 0;
}
.recommend_box_tips .tips_txt span{
	display: inline-block;
}
.recommend_box_tips .tips_txt a{
	text-decoration: underline;
}
.recommend_box_tips .tips_txt .link_area_txt{
	display: inline-block;
	padding: 2px 8px;
	margin-top: 5px;
	font-size: 0.9em;
	background: #e4f1f3;
}
.recommend_box_tips .pic{
	float: left;
	margin-bottom: 0;
}
.recommend_box_tips .pic img{
	padding: 3px;
	border: 1px solid #cdcdcd;
	vertical-align: bottom;
}
.recommend_box_tips .pic a:hover img {
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}
.recommend_box_tips .tips_ttl{
	font-weight: bold;
}
.recommend_box_tips .star span{
	display: inline;
}

.recommend_box_tips .traveler a{
	color: #333;
	text-decoration: underline;
}
.recommend_box_tips .add_info dl{
	font-size: 0.9em;
}
.recommend_box_tips .add_info dl dt {
    background: none repeat scroll 0 0 #e8e8dc;
    clear: left;
    color: #5e6241;
    display: block;
    float: left;
    line-height: 1.4;
    margin: 5px 3px 0 0;
    padding: 1px 0;
    text-align: center;
    width: 80px;
}
.recommend_box_tips .add_info dl dd {
    color: #5e6241;
    float: left;
	line-height: 1.4;
	margin-top: 5px;
    width: 100px;
}
.recommend_box_tips .tips_txt_bottom{
	clear: both;
	background: #fff;
	border-top: 1px dotted #cdcdcd;
	line-height: 1.6;
	margin-top: 8px;
	padding-top: 8px;
}
.recommend_box_tips .tips_txt_bottom p{
	margin: 0;
}
.recommend_box_tips .tips_txt_bottom a{
	text-decoration: underline;
}
.recommend_box_tips .star00_s_htl,
.recommend_box_tips .star10_s_htl,
.recommend_box_tips .star20_s_htl,
.recommend_box_tips .star30_s_htl,
.recommend_box_tips .star40_s_htl,
.recommend_box_tips .star50_s_htl{
	height: 15px;
	vertical-align: top;
}
.tit_recommend_box{
	position: relative;
}
.tit_recommend_box .more01{
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 0.9em;
}
.recommend_box_tips .hotel_price_box{
	margin-top: 8px;
	padding: 8px;
	background: #faf1ca;
}
.recommend_box_tips .hotel_price_box p{
	margin: 0;
}
.recommend_box_tips .hotel_price_box .txt_box{
	float: left;
	text-align: center;
	width: 140px;
}
.recommend_box_tips .ttl_price{
	font-weight: bold;
}
.recommend_box_tips .price{
	color: #e7262f;
}
.recommend_box_tips .price span{
	font-family: Verdana,Geneva,sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}
.recommend_box_tips .per_room{
	padding-top: 3px !important;
	font-size: 0.85em;
}
.recommend_box_tips .hotel_price_box .btn{
	float: right;
}
.recommend_box_tips .hotel_price_box .btn_min_price{
	padding: 15px 0;
}
.recommend_box_tips .hotel_price_box .price_min{
	padding: 8px;
}
.recommend_box_tips .hotel_price_box .price_best{
	background: #fff;
	padding: 8px;
}
.recommend_box_tips .hotel_price_box .price_none{
	padding: 23px 8px;
}
.recommend_box_tips .hotel_price_box .more01{
	display: block;
	text-align: center;
	margin-top: 10px;
}

/* 口コミテンプレート用 */
.more01.is_tipsMore01 {
	margin-top: -20px;
	margin-bottom: 40px;
	clear: both;
}

.more01.is_qaMore01 {
	clear: both;
	margin-top: 30px;
	margin-bottom: 40px;
}

/* __listing
----------------------------------------------------------- */

#main .listing,
#sub .listing {
	margin: 10px 0;
	padding: 8px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#main .listing p.ttl,
#sub .listing p.ttl {
	margin-bottom: 6px;
	color: #333;
	font-size: 1.0em;
	font-weight: bold;
}
#main .listing p.more,
#sub .listing p.more {
	text-align: right;
	color: #666;
	padding: 5px 10px 0;
	position: relative;
	margin: 0;
	zoom: 1;
}
#sub .listing p.more,
#sec .listing p.more {
	font-size: 0.85em;
	padding: 0;
}
#main .listing span a:link,
#main .listing span a:visited,
#main .listing p.more a:link,
#main .listing p.more a:visited,
#sub .listing span a:link,
#sub .listing span a:visited,
#sub .listing p.more a:link,
#sub .listing p.more a:visited {
	color: #666;
	text-decoration:underline;
}
#main .listing div.section p a,
#sub .listing div.section p a {
	display: block;
	padding: 10px 0;
	text-decoration: none;
	zoom: 1;
}
#main .listing div.section p a:hover,
#sub .listing div.section p a:hover {
	background: #fffad2;
}
#main .listing div.section p a span.title,
#sub .listing div.section p a span.title {
	font-weight: bold;
	text-decoration: underline;
}
#main .listing div.section p a span.host,
#sub .listing div.section p a span.host {
	color: #008000;
	font-size: 1.0em;
}
#main .listing div.section p a span.descr,
#sub .listing div.section p a span.descr {
	color: #333333;
	font-size: 1.0em;
}
#main .listing div.section p a:hover span.title,
#sub .listing div.section p a:hover span.title {
	color: #3985d4;
}
#main .listing div.section p a:visited span.title,
#sub .listing div.section p a:visited span.title {
	color: #2c67a5;
}

/* search_listing */

#main div.search_listing {
	zoom: 1;
	margin: 10px 0;
	padding: 0 5px 5px 5px;
}

#main div.search_listing div.section {
	margin-bottom: 5px;
}

#main div.search_listing div.section p a {
	display: block;
	text-decoration: none;
	zoom: 1;
}

#main div.search_listing div.section p a:hover {
	background: #fffad2;
}

#main div.search_listing div.section p a span.title {
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
	padding-left: 14px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_arw.png) no-repeat left center;
}

#main div.search_listing div.section p a span.host {
	color: #008000;
	font-size: 0.9em;
}

#main div.search_listing div.section p a span.descr {
	color: #333333;
}

#main div.search_listing p.sponsor {
	text-align: right;
	color: #666666;
}

#main div.search_listing p.sponsor a {
	color: #666666;
	text-decoration: underline;
}


/* __ad
----------------------------------------------------------- */

/* magazine_4t_main */

.magazine_4t_main {
	clear: both;
	margin-bottom: 25px;
}
.magazine_4t_main h3,
.magazine_4t_main .hd01_l {
	margin-bottom: 2px;
}
.magazine_4t_main table td {
	width: 254px;
	padding: 6px 3px 0 3px;
	line-height: 1.0;
}
.magazine_4t_main table td a {
	display: block;
	margin: 2px;
	border: 1px solid #cdcdcd;
	font-size: 13px;
	text-decoration: none;
}
.magazine_4t_main table td a:link,
.magazine_4t_main table td a:visited {
	color: #333333;
}
.magazine_4t_main table td a:hover {
	margin: 0;
	border: 3px solid #cdcdcd;
	color: #333333;
}
.magazine_4t_main table td a span {
	display: block;
	padding: 4px 4px 3px;
	border-top: 1px solid #cdcdcd;
	background: #f1f1f1 url(http://img.4travel.jp/img/general/4travel/cmn/bg/bg_magazine_4t_main.gif) repeat-x left top;
}
.magazine {
	clear: both;
	margin-bottom: 25px;
}
.magazine h3 {
	margin-bottom: 10px;
}
.magazine table td {
	width: 254px;
	padding: 6px 3px 0 3px;
	line-height: 1.0;
}
.magazine dl dt {
	float: left;
	width: 60px;
}
.magazine dl dt a:hover img {
	filter: alpha(opacity=60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}
.magazine dl dd {
	float: right;
	width: 185px;
	font-size: 1.1em;
	line-height: 1.4em;
}
.magazine dl dd.link {
	margin-bottom: 4px;
}
.magazine dl dd a {
	font-weight: bold;
	text-decoration: underline;
}

/* magazine_4t（side） */

#sub .magazine_4t .unit,
#sub .link_box .unit {
	overflow: hidden;
	zoom: 1;
}
#sub .magazine_4t .unit a,
#sub .link_box .unit a {
	display: block;
	margin-top: 8px;
	padding-bottom: 3px;
	border-bottom: 1px solid #cdcdcd;
	font-size: 13px;
	text-align: center;
}
#sub .magazine_4t .unit a img,
#sub .link_box .unit a img {
	vertical-align: bottom;
}
#sub .magazine_4t .unit a .ttl,
#sub .link_box .unit a .ttl {
	display: block;
	padding-top: 5px;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
}
#sub .magazine_4t .unit a .txt,
#sub .link_box .unit a .txt {
	display: block;
	padding: 3px 6px;
	color: #333;
	font-size: 0.9em;
	text-align: left;
	line-height: 1.3;
}
#sub .magazine_4t .unit a:hover,
#sub .link_box .unit a:hover {
	background-color: #fffad2;
	text-decoration: none;
}
#sub .magazine_4t .unit .last a,
#sub .link_box .unit .last a {
	border-bottom: none;
}
#sub .magazine_4t .more01,
#sub .link_box .more01 {
	border-top: none;
}
#sub .magazine_4t .more01 a,
#sub .link_box .more01 a {
	display: inline;
	margin-top: 0;
	padding-bottom: 0;
	border-bottom: none;
	text-align: right;
}
#sub .magazine_4t .more01 a:hover,
#sub .link_box .more01 a:hover {
	background-color: #fff;
	text-decoration: underline;
}

/* 特集導線 */
#sub .magazine_4t .col_img_txt {
	margin-top: 5px;
	border-bottom: 1px solid #CDCDCD;
	text-align: left;
}
#sub .magazine_4t .col_img_txt:hover {
	background: #fffad2;
	cursor: pointer;
}
#sub .magazine_4t .col_img_txt .bnr_img {
	text-align: center;
}
#sub .magazine_4t .col_img_txt .txt_wrap {
	padding: 0 5px 5px 5px;
}
#sub .magazine_4t .col_img_txt .ttl_main a {
	margin-top: 0;
	padding-top: 3px;
	border-bottom: none;
	color: #0178D8;
	text-decoration: underline;
	font-weight: bold;
	text-align: left;
}
#sub .magazine_4t .col_img_txt .ttl_main a:visited {
	color:#5119ab;
}

#sub .magazine_4t .col_img_txt:hover .ttl_main a {
	color: #e17a00;
}
#sub .magazine_4t .col_img_txt .detail {
	color: #333;
	font-size: 0.8em;
}
#sub .magazine_4t .col_img_txt .detail span {
	color: #0178D8;
}
#sub .magazine_4t .col_img_txt:hover .detail span {
	color: #e17a00;
}
#sub .magazine_4t .col_img_txt .days {
	color: #626262;
}


/* 特集導線 magazine_4t02  */
#sub .magazine_4t02 .col_img_txt {
	margin: 0;
	border-bottom: 1px solid #CDCDCD;
	text-align: left;
	overflow: hidden;
	zoom:1;
}
#sub .magazine_4t02 .col_img_txt:last-child {
	border-bottom: none;
}
#sub .magazine_4t02 .col_img_txt a {
	display: block;
	padding: 10px;
}
#sub .magazine_4t02 .col_img_txt:hover {
	background: #fffad2;
	cursor: pointer;
}
#sub .magazine_4t02 .col_img_txt .bnr_img {
	position: relative;
	float: left;
	width: 110px;
	height: 90px;
	margin: 0 10px 5px 0;
	text-align: center;
	overflow: hidden;
}
#sub .magazine_4t02 .col_img_txt .bnr_img img {
	width: 100%;
	height: auto;
}
/*
#sub .magazine_4t02 .col_img_txt .bnr_img img {
	position: absolute;
	left: -30px;
}
*/
.col_two01 #sub .magazine_4t02 .col_img_txt .bnr_img {
	width: auto;
	margin: 0 0 5px 0;
	float: none;
}
.col_two01 #sub .magazine_4t02 .col_img_txt .bnr_img img {
	position: relative;
	left: 0;
}
#sub .magazine_4t02 .col_img_txt .txt_wrap {
	float: left;
	width: 158px;
	padding: 0 0 5px 0;
}
#sub .magazine_4t02 .col_img_txt .ttl_main {
	margin-top: 0;
	border-bottom: none;
	font-weight: bold;
	text-align: left;
}
#sub .magazine_4t02 .col_img_txt .ttl_main a:visited {
	color:#5119ab;
}

#sub .magazine_4t02 .col_img_txt:hover .ttl_main a {
	color: #e17a00;
}
#sub .magazine_4t02 .col_img_txt .detail {
	margin-top: 2px;
	color: #333;
}
#sub .magazine_4t02 .col_img_txt .detail span {
	color: #0178D8;
}
#sub .magazine_4t02 .col_img_txt:hover .detail span {
	color: #e17a00;
}
#sub .magazine_4t02 .col_img_txt .days {
	color: #626262;
}

/* マガジン枠　magazine_horizon */
.magazine_horizon {
	clear: both;
	margin: 15px 0 25px;
	padding: 0 10px;
	border: 1px solid #006699;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	background: #fff;
	word-break: break-all;
}
#dm_area_top .magazine_horizon {
	margin: 25px 0 15px 0;
}
#os_area_country .magazine_horizon {
	margin-top: -10px;
}
#os_area_spot_each .magazine_horizon {
	margin: 30px 0 15px 0;
}
#os_spot .magazine_horizon,
#dm_spot .magazine_horizon {
  margin:0 0 10px;
}
#os_area_hotel .magazine_horizon {
  margin: 10px 0;
}
.magazine_horizon h2,
.magazine_horizon h3,
.magazine_horizon .ttl_magazine_hd {
	background: #006699;
	border-radius: 2px 2px 0px 0px;
  -moz-border-radius: 2px 2px 0px 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 4px 5px;
  margin: 0 -10px;
}
.magazine_horizon table{
	width: 100%;
	margin-bottom: -1px;
}
/*
.col_two04 #main .magazine_horizon table {
	width: 648px;
}
.col_two01 #main .magazine_horizon table {
	width: 778px;
}
*/
.magazine_horizon table td {
	padding: 15px 5px;
  vertical-align: top;
  border-bottom: 1px solid #006699;
}
.magazine_horizon table td a {
	display: block;
}
.magazine_horizon table td .img {
	float: left;
	width: 120px;
	margin-right: 10px;
}
.magazine_horizon table td p {
	overflow: hidden;
}
.magazine_horizon table td .ttl {
	margin-bottom: 5px;
	font-weight: bold;
}
.magazine_horizon .col{
	width: 174px;
}
.magazine_horizon .col p{
	margin-left: 4px;
}
.magazine_horizon .col .txt{
	margin-top: 5px;
}
#sub .magazine_horizon{
	margin: 15px 0;
}
#sub .magazine_horizon table td {
	padding: 12px 5px;
	font-size: 12px;
}

.col_two01 #sub .magazine_horizon .img{
	float: none;
	margin-bottom: 5px;
}

.col_two04 #main .magazine_horizon td,
.magazine_horizon .syrn2 td{
	width: 50%;
}

/* sp_bnr530x90 */

.sp_bnr530x90 {
	margin: 0;
	text-align: center;
}
.sp_bnr530x90 img {
	margin: 10px 0 15px;
}

/* top_text30 */

.top_text30 {
	margin: 15px 0;
	padding: 9px;
	border: 1px solid #f6d97e;
	background: #faf1ca;
}
.top_text30 a {
	padding: 2px 0 2px 56px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_recommend.png) no-repeat left center;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
#os_area_spot_each .top_text30,
#dm_area_spot_each .top_text30{
	margin: 0 0 15px;
	padding:10px 10px 0;
	font-size:13px;
}
#os_area_spot_each .top_text30 a,
#dm_area_spot_each .top_text30 a{
	font-size:13px;
}
#os_area_spot_each .top_text30 td,
#dm_area_spot_each .top_text30 td{
	padding-bottom:10px;
}

/* hotel_text60 */

.hotel_text60 {
	margin: 0 0 8px;
}
.hotel_text60 li {
	padding: 0 0 0 25px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_pr.png) no-repeat 0 2px;
}
.hotel_text60 li a {
	font-size: 13px;
	text-decoration: underline;
}

/* sp_bnr160x600 */

.sp_bnr160x600 {
	margin-bottom: 10px;
	text-align: center;
}
.sp_bnr300x250 {
	margin-bottom: 10px;
	text-align: center;
}

/* sp_bnr780x68 */

.sp_bnr780x68 {
	clear: both;
  margin: 20px 0;
	text-align: center;
}
.sp_bnr780x68 img {
	padding: 10px 0;
}

/* u_banner300Box02 アドプラン横並び */
.u_banner300Box02{
	margin-top: 40px;
}
/* 幅が650pxの時 センター寄せ*/
.u_banner300Box02.is_width650 {
  clear: both;
  width: 650px;
  margin: 0 auto;
}
/*上限にマージン*/
.u_banner300Box02.is_marginTopBottom {
  margin-top: 20px;
  margin-bottom: 30px;
}
.u_banner300Box02 .u_banner300Box02_banner{
  float:left;
  margin-right:45px;
}
.u_banner300Box02 .u_banner300Box02_banner.is_last{
  margin-right:0;
}




#contents_inner {
  position: relative;
}

/* u_display650x330 */
.u_display650 {
	margin-top: 40px;
	width: 650px;
}

/* u_adMovie */
.u_adMovie {
	margin: 20px auto;
	padding: 10px;
	background-color: #f5f5f5;
	text-align: center;
	clear: both;
	*text-align: left;
	*padding-top: 5px;
}
.u_adMovie p.u_sponsor {
	display: block;
	width: 90px;
	margin-bottom: 5px;
	padding: 5px 10px;
	border: 1px solid #dddcd2;
	background-color: #fff;
	font-size: 0.8em;
	white-space: nowrap;
}


/* __side
----------------------------------------------------------- */

.side {
	margin-bottom: 10px;
	line-height: 1.4;
	zoom: 1;
}
.col_three01 .side {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_bottom_240.png) no-repeat bottom;
}
.col_three01 #sub .side {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_bottom_180a.png) no-repeat bottom;
}

.col_three02 #sub .side {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_bottom_180a.png) no-repeat bottom;
}

.col_two01 #sub .side {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_bottom_180a.png) no-repeat bottom;
}
.col_two02 .side {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_bottom_240.png) no-repeat bottom;
}
.col_two03 #sub .side {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_bottom_180a.png) no-repeat bottom;
}
.col_two04 #sub .side {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_bottom_300.png) no-repeat bottom;
}

.col_three01 #main .side .unit {
	padding: 0 0 10px;
	margin: 0 10px;
	border: none;
	border-top: 3px solid #048dcc;
}
.col_three01 #sub .side .unit {
	padding: 0 0 10px;
	margin: 0 10px;
	border: none;
	border-top: 3px solid #048dcc;
}
.col_three01 #sub .magazine_4t .unit {
	padding: 0 0 10px;
	margin: 0 5px;
	border: none;
	border-top: 3px solid #048dcc;
}

.col_three02 #main .side {
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_bottom_300_02.png) no-repeat right bottom;
	padding-bottom: 10px;
}
.col_three02 #main .side .unit {
	padding: 0 10px 10px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/side/bg_sideframe_middle_300.png) repeat-y left top;
}
.col_three02 #sub .side .unit {
	padding: 0 0 10px;
	margin: 0 10px;
	border: none;
	border-top: 3px solid #048dcc;
}
.col_three02 #sub .magazine_4t .unit {
	padding: 0 0 10px;
	margin: 0 5px;
	border: none;
	border-top: 3px solid #048dcc;
}

.col_two01 #sub .side .unit {
	padding: 0 0 10px;
	margin: 0 10px;
	border: none;
	border-top: 3px solid #048dcc;
}
.col_two01 #sub .magazine_4t .unit {
	padding: 0 0 10px;
	margin: 0 5px;
	border: none;
	border-top: 3px solid #048dcc;
}
.col_two02 #sub .side .unit {
	padding: 0 0 10px;
	margin: 0 10px;
	border: none;
	border-top: 3px solid #048dcc;
}
.col_two03 #sub .side .unit {
	padding: 0 0 10px;
	margin: 0 10px;
	border: none;
	border-top: 3px solid #048dcc;
}
.col_two04 #sub .side .unit {
	padding: 0 0 10px;
	margin: 0 10px;
	border: none;
	border-top: 3px solid #048dcc;
}
.col_two03 #sub .pickup_info .unit {
	margin: 0 5px;
}
.side .more01 {
	padding-top: 7px;
	border-top: 1px solid #d1d1d1;
}

.side .list01,
.side .list02 {
	overflow: hidden;
	zoom: 1;
}
.side .list01 dl,
.side .list01 li,
.side .list02 li {
	margin-top: -1px;
	padding: 5px 0 5px 7px;
	border-top: 1px dotted #cdcdcd;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 -90px;
}
.side .list01 dl,
.side .list01 li {
	padding: 5px;
	background:none;
}
#sub #yahooLink {
border: 1px solid #d9d9d9;
margin-bottom: 12px;
padding: 5px 10px 8px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}
#sub #yahooLink p {
line-height: 1.4em;
font-size: 0.9em;
}
#sub #yahooLink a {
	display: block;
	padding: 3px 0 0 9px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 -91px;
	text-decoration: underline;
}

/* clip */

#sub .clip {
	border: 3px solid #ffe26b;
	margin-bottom: 10px;
}
#sub .clip .unit_img01 {
	padding: 2px;
	background: #fffad2;
}
#sub .clip ul {
	margin: 0 2px;
	padding: 0 0 3px;
}
#sub .clip .member {
	padding-top: 5px;
	border-bottom: 1px solid #cdcdcd;
}
#sub .clip .member li {
	display: inline;
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid #d3d3d3;
}
#sub .clip .member li.first {
	margin-left: 0;
	padding-left: 2px;
	border-left: none;
}
#sub .clip li {
	padding-top: 3px;
}
#sub .clip li span {
	padding: 0 5px;
	color: #d4d4d4;
}
#sub .clip .btn {
	padding: 5px 0;
	text-align: center;
}
#sub .clip .my_clip {
	padding: 2px;
}
#sub .clip .my_clip .ttl {
	padding: 3px;
	background: #ffe26b;
}
#sub .clip .my_clip .ttl a {
	padding: 0 10px 0 0;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_more02.png) no-repeat right center;
	color: #1d4088;
}
#sub .clip .my_clip .clip_list {
	padding: 5px;
}
#sub .clip .my_clip .clip_list a {
	text-decoration: underline;
}
#sub .clip .my_clip .clip_list .num {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#sub .clip .more01 {
	padding: 0 4px 5px;
	border-top: none;
}

/* agent */

#sub .agent .unit {
	padding-top: 5px;
}
#sub .agent .balloon {
	margin-bottom: 1px;
	padding: 4px 4px 9px;
	background: #ddddd5 url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/bg_balloon01.png) no-repeat left bottom;
}
#sub .agent .unit_img01 {
	padding: 0 0 5px;
}
#sub .agent .txt a {
	display: block;
	padding-bottom: 3px;
	text-decoration: underline;
}
#sub .agent .null {
	padding: 10px 0;
}

/* point_4t */

#sub .point_4t .find {
	padding: 10px 0 0;
}
#sub .point_4t .subject {
	margin: 3px 0 7px;
	padding: 7px;
	font-weight: bold;
}
#sub .point_4t .subject span {
	display: block;
	color: #333;
}
#sub .point_4t .subject a {
	color: #e17a00;
	font-size: 1.3em;
}
#sub .point_4t .txt {
	padding: 5px 0;
}
#sub .point_4t .txt a {
	display: block;
	padding: 3px 0 0 6px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 -93px;
	text-decoration: underline;
}
#sub .point_4t .treasure {
	text-align: center;
}
/* related_info */

#sub .related_info .unit p {
	padding: 10px 0;
	text-align: center;
}
#sub .related_info .unit li {
	margin-bottom: 5px;
	padding: 0 3px;
}
#sub .related_info .unit li a {
	display: block;
	padding: 3px 0 0 6px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 -93px;
	text-decoration: underline;
	zoom: 1;
}
/* recruit */
#sub .recruit .unit .lead {
	padding: 5px 0;
}
#sub .recruit .unit li {
	padding: 3px 0 0 6px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 -93px;
	zoom: 1;
}
#sub .recruit .unit li a {
	text-decoration: underline;
}
#sub .recruit .unit ul {
	margin: 0 0 5px 0;
}

/* link_pr */
#sub .link_pr .unit p {
	padding: 3px 0 0 6px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_cmn.png) no-repeat 0 -93px;
	zoom: 1;
}
#sub .link_pr .unit p {
  margin-top: 10px;
}
#sub .link_pr .unit p a {
  text-decoration: underline;
}

/* __kakaku_link
----------------------------------------------------------- */

#kakaku_link {
	min-width: 990px;
	padding: 10px 0 20px;
	background: #ffffff;
	font-size: 1.3em;
	zoom: 1;
}
#kakaku_link_inner {
	width: 970px;
	margin: 0 auto;
	padding: 0 10px;
	color: #666666;
}
#kakaku_link_inner div{
	display: inline;
}
#kakaku_link_inner p {
	margin-bottom: 10px;
	font-weight: bold;
}
#kakaku_link_inner .p-map_ttl{
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #999999;
	font-size: 0.8em;
	display: inline;
}
#kakaku_link_inner p img {
	vertical-align: baseline;
}
#kakaku_link_inner ul {
	color: #999999;
	font-size: 0.8em;
	display: inline;
}
#kakaku_link_inner ul li {
	display: inline;
}
/*新のときだけ使う（2015.12）
#kakaku_link_inner ul li:after {
	content: "|";
	display: inline;
}
*/
#kakaku_link_inner ul li a {
	padding-right: 2px;
	color: #999999;
	text-decoration: none;
}
#kakaku_link_inner ul li a {
	color: #999999;
	text-decoration: none;
}
#kakaku_link_inner ul li a:hover {
	color: #000000;
}

/* __traveler_rkg
----------------------------------------------------------- */
#sub .traveler_rkg .ttl {
	margin: 5px 0 2px;
	padding: 5px 5px 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/hd/bg_hd02.png) repeat-x left top #F2F2E8;
	line-height: 1.2;
	font-weight: bold;
}
#sub .traveler_rkg .group {
	margin-left: -10px;
}
#sub .traveler_rkg dl {
	display: inline;
	float: left;
	width: 75px;
	margin: 5px 0 5px 10px;
	padding-bottom: 5px;
}
#sub .traveler_rkg .num {
	float: left;
	margin-right: 5px;
	color: #FFFFFF;
	text-align: center;
}
#sub .traveler_rkg .rank01 {
	padding: 1px 6px 2px 6px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3500px;
}
#sub .traveler_rkg .rank02 {
	padding: 1px 6px 2px 6px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3600px;
}
#sub .traveler_rkg dt a:hover img {
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}
#sub .traveler_rkg dl dd {
	line-height: 1.2;
	font-size: 0.85em;
	text-align: center;
}
#sub .traveler_rkg dl dd a {
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
}
#sub .traveler_rkg .more01 {
	clear: both;
	margin: 0 3px 5px 7px;
	padding-top: 5px;
	border-top: dotted 1px #ccc;
}


/* __traveler_rkg02
----------------------------------------------------------- */
#sub .traveler_rkg02 .ttl {
	margin: 5px 0 4px;
	padding: 5px 5px 3px;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/bg/hd/bg_hd02.png) repeat-x left top #F2F2E8;
	line-height: 1.2;
	font-weight: bold;
}
#sub .traveler_rkg02 .group {
	margin-left: -10px;
}
#sub .traveler_rkg02 dl {
	display: inline;
	float: left;
	width: 133px;
	margin: 5px 0 5px 10px;
	padding-bottom: 5px;
}
#sub .traveler_rkg02 .num {
	float: left;
	margin-right: 5px;
	color: #FFFFFF;
	text-align: center;
}
#sub .traveler_rkg02 .rank01 {
	padding: 1px 6px 2px 6px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3500px;
}
#sub .traveler_rkg02 .rank02 {
	padding: 1px 6px 2px 6px;
	border: none;
	background: url(http://img.4travel.jp/img/general/4travel/cmn/ver1/ico/ico_guide.png) no-repeat 0 -3600px;
}
#sub .traveler_rkg02 dt a:hover img {
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}
#sub .traveler_rkg02 dl dd {
	line-height: 1.2;
	margin-left: 25px;
}
#sub .traveler_rkg02 dl dd a {
	margin-right: 2px;
	font-weight: bold;
	text-decoration: underline;
}
#sub .traveler_rkg02 .more01 {
	clear: both;
	margin: 0 3px 5px 7px;
	padding-top: 5px;
	border-top: dotted 1px #ccc;
}

/* __floating_footer
----------------------------------------------------------- */
#top div#for_search {
	font-size: 1.3em;
}
div#for_search {
	display: none;
	position: fixed;
	/position: absolute;
	width: 100%;
	height: auto !important;
	left: 0;
	bottom: 0;
	z-index: 999;
	margin: 0;
	padding: 12px 0 3px;
	background: #d5e1e7 url(http://img.4travel.jp/img/general/4travel/traveler/y_toolbar/default/bg_for_search_top.gif) repeat-x left top;
	text-align: center;
}
div#for_search .for_search_inner {
	margin: 0 auto;
	background: #d5e1e7;
	}
div#for_search .footerLeft {
	float: left;
	width: 100px;
	text-align: left;
	margin-left: 20px;
}
div#for_search .footerRight {
	float: right;
	width: 750px;
	text-align: right;
}
div#for_search .footerRight li {
	float: right;
}
div#for_search .footerRight .txt {
	margin-right: 15px;
}
div#for_search .footerRight .txtBig {
	margin-right: 15px;
	font-size: 1.3em;
	font-weight: bold;
}
div#for_search .footerRight .bnr {
	margin-right: 15px;
}

div#for_search .footerRight .bnr img {
	margin-top: -45px;
	position: relative;
}

div#for_search .footerRight .close {
	margin-right: 15px;
}
div#for_search .footerRight .close a.close {
	padding-left: 15px;
	background:transparent url(http://img.4travel.jp/img/general/4travel/traveler/y_toolbar/default/ico_close.gif) no-repeat left 0.1px;
	color: #333333;
	font-size: 76%;
	text-decoration: none;
}


/* __臨時対策キャンペーン導線20111215
----------------------------------------------------------- */
.temporaryCampaignText {
text-align: center;
font-weight: bold;
margin: 10px 0;
}
.temporaryCampaignText a {
background: url(http://img.4travel.jp/img/general/4travel/sp/tips1112/icn_airplane.png) no-repeat;
padding: 8px 0 2px 80px;
text-decoration: underline;
}


/* __to_smartphone
----------------------------------------------------------- */

#to_smartphone {
  padding: 25px 0px;
  background: #f2f2e8;
}
#to_smartphone a {
	display: block;
	text-decoration: none;
}
.to_smartphone_btn {
	display: block;
	margin: 0px 25px;
	padding: 15px 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #007ab2;
	background: -moz-linear-gradient(top,#bfd9e5, #3d95b7 50%,#007ab2 50%,#3d97bf);
	background: -webkit-gradient(linear, left top, left bottom, from(#bfd9e5), color-stop(0.5,#3d95b7), color-stop(0.5,#007ab2), to(#3d97bf));
	-moz-box-shadow: 1px 3px 3px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 3px 3px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
	color: #fff;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

/* __ad_banner
----------------------------------------------------------- */

.ad_banner_01{
text-align:center;
margin-bottom:25px;
}
.ad_banner_02{
text-align:center;
margin-bottom:15px;
}
.ad_banner_03{
text-align:center;
margin-bottom:10px;
}
.ad_banner_04{
  padding-bottom: 30px;
  text-align:center;
}
.ad_banner_730{
width: 730px;
margin: 0 auto 20px;
text-align:center;
}
/* __map_caution
----------------------------------------------------------- */
.map_caution{
	font-size:0.8em;
	color:#777;
}
.map240 .map_caution{
	margin-top:3px;
}
.around_info .map_caution{
	margin-top:10px;
	margin-bottom:-15px;
}
.hotel_map .map_caution{
	margin-top:-2px;
	margin-bottom:5px;
}
.hotel_info_box .map_caution{
	margin-top:2px;
	text-align:right;
}


/* __button(ruby_module)
----------------------------------------------------------- */

/*
# u_commonButton
*/

.u_commonButton a,
input.u_commonButton{
  display:block;
	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  font-size: 14px;
  text-align:center;
  font-weight:bold;
  margin:0 auto;
  padding: 8px 0 8px 0;
  cursor:pointer;
  background:#fafafa;
  background: -moz-linear-gradient(
  top,
  #ffffff 0%,
  #f3f3f3);
  background: -webkit-gradient(linear, left top, left bottom,from(#ffffff),to(#f3f3f3));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width:0;
  border: 1px solid #dddddd;
  border-bottom-width:2px;
  color:#006699;
}
input.u_commonButton:hover{
  text-decoration:none;
  opacity: 0.80;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
.u_commonButton a:hover{
  text-decoration:none;
  opacity: 0.80;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}
.u_commonButton span.tip{
  padding-left:10px;
  background:url(/img/webapp/cmn/icon/u_pointer_blue.png) no-repeat left center;
}
.u_commonButton.is_blue a,
input.u_commonButton.is_blue{
  color:white;
  background:#0098de;
  background: -moz-linear-gradient(
  top,
  #08a7f0 0%,
  #0098de);
  background: -webkit-gradient(linear, left top, left bottom,from(#08a7f0),to(#0098de));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width:0;
  border-bottom: 1px solid #0076ac;
}
.u_commonButton.is_blue a span.tip{
  background:url(/img/webapp/cmn/icon/u_pointer_white.png) no-repeat left center;
}
.u_commonButton.is_orange a{
  color:white;
  background:#ff6600;
  background: -moz-linear-gradient(
  top,
  #ff6600 0%,
  #ef6000);
  background: -webkit-gradient(linear, left top, left bottom,from(#ff6600),to(#ef6000));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-color:#cf5300;
}
.u_commonButton.is_orange a span.tip{
  background:url(/img/webapp/cmn/icon/u_pointer_white.png) no-repeat left center;
}
.u_commonButton.is_large a{
  max-width: 400px;
  font-size: 16px;
  border-bottom: 2px solid #0076ac;
  padding: 10px;
}

.u_wifiHeadBanner{
  text-align:center;
  background-color:#005082
}
.u_wifiHeadBanner .u_wifiHeadBannerInner{
  width: 990px;
  margin:0 auto;
}

/*
# u_wifiPromoTextPictBox フォートラベル GLOBAL WiFi プロモーション
*/
.u_wifiPromoTextPictBox {
  margin: 20px 0;
  padding: 10px 20px;
  border: 1px solid #dddcd2;
  border-radius: 6px;
  background: #F5F5F5;
}
.u_wifiPromoTextPictBox .wifiPromoTitle {
  padding: 0 0 3px 26px;
  margin-bottom: 5px;
  background: url("http://img.4travel.jp/img/webapp/cmn/icon/u_wifi_icon_black.png") no-repeat 0 center;
  font-size: 1.3em;
  font-weight: bold;
}
.u_wifiPromoTextPictBox .wifiPromoInner {
  border: 1px solid #dddcd2;
  background: #fff;
}
.u_wifi780 .u_wifiPromoTextPictBox .wifiPromoInner {
	padding-bottom: 10px;
}
.u_wifiPromoTextPictBox .wifiPromoInner .pict {
  float: left;
  width: 135px;
}
.u_wifi780 .u_wifiPromoTextPictBox .wifiPromoInner .pict {
	width: 165px;
	padding-left: 25px;
}
.u_wifiPromoTextPictBox .wifiPromoInner .textBox {
  float: right;
  width: 460px;
  padding: 15px 10px 0 0;
  line-height: 1.7;
}
.u_wifi780 .u_wifiPromoTextPictBox .wifiPromoInner .textBox {
	width: 530px;
}
.u_wifiPromoTextPictBox .wifiPromoInner .wifiCountry {
	font-weight: bold;
}
.u_wifiPromoTextPictBox .wifiPromoInner .wifiPrice {
  color: #c33;
  font-size: 18px;
  font-weight: bold;
}
.u_wifiPromoTextPictBox .wifiPromoInner .small {
	font-size: 14px;
}
.u_wifiPromoTextPictBox .more {
  padding: 20px 0 0 0;
}
.u_wifi780 .u_wifiPromoTextPictBox .more {
	padding-top: 30px;
}
.u_wifiPromoTextPictBox .more a {
  padding: 10px 100px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  background: #f1f1f1 linear-gradient(to bottom, #ffffff 0%, #f1f1f1 40%, #f3f3f3 100%);
  font-weight: bold;
  text-decoration: underline;
  zoom: 1;/*IE7用*/
}
.u_wifi780 .u_wifiPromoTextPictBox .more a {
	margin-left: 80px;
}

/*
# u_dmAirticketTextPictBox 国内航空券 プロモーション
*/
.u_dmAirticketTextPictBox {
  margin: 20px 0;
  padding: 10px 20px;
  border: 1px solid #dddcd2;
  border-radius: 6px;
  background: #F5F5F5;
}
.u_dmAirticketTextPictBox .dmAirticketTitle {
  padding: 0 0 3px 0;
  margin-bottom: 5px;
  font-size: 1.3em;
  font-weight: bold;
}
.u_dmAirticketTextPictBox .dmAirticketInner {
  border: 1px solid #dddcd2;
  background: #fff;
  line-height: 1.7;
}
.u_dmAirticketTextPictBox .dmAirticketInner .pict {
  float: left;
}
.u_dmAirticketTextPictBox .dmAirticketInner .textBox {
  padding: 15px 10px 0;
  line-height: 1.7;
}
.u_dmAirticketTextPictBox .more {
	padding: 20px 0 15px;
	text-align: center;
}
.u_dmAirticketTextPictBox .more a {
  padding: 10px 100px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  background: #f1f1f1 linear-gradient(to bottom, #ffffff 0%, #f1f1f1 40%, #f3f3f3 100%);
  font-weight: bold;
  text-decoration: underline;
  zoom: 1;/*IE7用*/
}


/* .u_dmClickableMap
----------------------------------------------------------- */
.u_dmClickableMap {
  position: relative;
  zoom: 1;
  text-align:center;
}
.u_dmClickableMap ul {
  display:block;
}
.u_dmClickableMap li {
  margin-bottom: 3px;
  width:45px;
}
.u_dmClickableMap .u_commonButton a,
.u_osClickableMap .u_commonButton a {
  padding: 2px 0 1px;
  font-weight: normal;
  font-size: 11px;
  border:none;
}
.u_dmClickableMap .hokkaidou {
  position: absolute;
  left: 382px;
  top: 10px;
}
.u_dmClickableMap .tohoku_right {
  position: absolute;
  left: 400px;
  top: 75px;
}
.u_dmClickableMap .tohoku_left {
  position: absolute;
  left: 350px;
  top: 75px;
}
.u_dmClickableMap .kanto_right {
  position: absolute;
  left: 370px;
  top: 152px;
}
.u_dmClickableMap .kanto_left {
  position: absolute;
  left: 320px;
  top: 152px;
}
.u_dmClickableMap .hokurikukousinetsu {
  position: absolute;
  right: 211px;
  top: 13px;
}
.u_dmClickableMap .kinki {
  position: absolute;
  right: 274px;
  top: 48px;
}
.u_dmClickableMap .chugoku {
  position: absolute;
  right: 336px;
  top: 91px;
}
.u_dmClickableMap .toukai_right {
  position: absolute;
  left: 289px;
  top: 227px;
}
.u_dmClickableMap .toukai_left {
  position: absolute;
  left: 240px;
  top: 227px;
}
.u_dmClickableMap .shikoku_right {
  position: absolute;
  left: 175px;
  top: 250px;
}
.u_dmClickableMap .shikoku_left {
  position: absolute;
  left: 127px;
  top: 250px;
}
.u_dmClickableMap .kyushu {
  position: absolute;
  top: 100px;
  left: 20px;
}
.u_dmClickableMap .okinawa {
  position: absolute;
  top: 52px;
  right: 400px;
}
#dm_area_top .top_box .u_popularAreaLink {
  padding: 7px 8px 5px;
  border-top: 1px solid #ddd;
  font-size: 12px;
}
#dm_area_top .top_box .u_popularAreaLink a {
  display: inline-block;
}


/*
# asoview_side asoviewサイドバーチケット表示枠
*/
.l_asoviewSide{
	border: 1px solid #ddd;
    border-top: 2px solid #0098de;
    margin-bottom: 10px;
    background: #fff;
    font-size: 14px;
    line-height: 1.6;
	width: 100%;
}
.l_asoviewSideHeader{
    margin: 0;
    background: #f6f6f6;
}
.l_asoviewSideTitle{
	float: left;
	padding: 8px 10px 5px 10px;
}
.l_asoviewSideTitle h3{
	font-size: 16px;
    line-height: 1.4;
}
.l_asoviewSideLogo{
	float: right;
	background-color: #fff;
	margin: 6px 10px 5px 10px;
}
.l_asoviewSideLogo img{
	height: 20px;
	padding: 3px 10px;
}
.l_asoviewSideHeader:after{
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:" ";
}
.l_asoviewSideContent{
	border-top: 1px solid #ddd;
	background-color: #fff;
	padding: 8px 8px 8px;
}
.l_asoviewSidePict{
	float: left;
	width: 35%;
}
.l_asoviewSidePict img{
	height: 57px;
}
.l_asoviewSideCaption{
	float: right;
	width: 62%;
}
.l_asoviewSideCaption h4 a:hover{
	text-decoration: underline;
}
.l_asoviewSideContentHeader:after{
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:" ";
}
.l_asoviewSideTable{
	width: 100%;
	margin: 5px auto;
}
.l_asoviewSideTable td{
	font-size: 12px;
}
.l_asoviewSideTable .l_classification{
	width: 45%;
	padding-top: 5px;
}
.l_asoviewSideTable .u_fontNormalPrice{
	font-size: 0.8em;
	text-decoration:line-through;
}
.l_asoviewSideTable .l_ticketPrice{
	width: 40%;
}
.l_asoviewSideTable .u_fontTicketPrice{
    font-size: 1.5em;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
	color: #cc3333;
	padding-right: 5px;
}
.l_asoviewSideButtonArea{
	padding: 10px 11px;
	border-top: 1px solid #ddd;
	text-align: center;
}
.l_asoviewSideButtonArea a{
    font-size: 12px;
    background: #0098de;
    background: -moz-linear-gradient(top, #08a7f0 0%, #0098de);
    background: -webkit-gradient(linear, left top, left bottom,from(#08a7f0),to(#0098de));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 0;
    border-bottom: 1px solid #0076ac;
    display: block;
    padding: 9px 8px 8px;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.2;
    text-align: center;
}
.l_asoviewSideButtonArea a:hover{
	opacity: 0.8;
	text-decoration: none;
}
.u_asoviewSideButton{
	color: #fff;
}