@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #f2f2f2;
    margin: 40px 0px 0px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
}
img, a {
    outline: none;
}
* {font-size: 14px;}
h1 {
    margin: 0;
    padding: 0;
}
section#BarraTopo {
    background-color: #3a73c1;
    border-bottom: 1px solid #4b84d2;
    height: 30px;
}
section#BarraTopo section.Caixa {
    width: 1000px;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
}
section#BarraTopo section.Caixa h1 {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 30px;
}
section#BarraTopo section.Caixa h2 {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 30px;
}
header#Cabecario {
    background-color: #3a73c1;
    height: 100px;
}
header#Cabecario section.Caixa {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
header#Cabecario section.Caixa img#Logo {
    float: left;
    margin: 10px 17px;
}
header#Cabecario section.Caixa section#GnB {
    width: 728px;
    height: 90px;
    margin: 4px 15px;
    float: left;
    background-color: #2962b0;
    border: 1px solid #4b84d2;
}
nav#Menu {
    background-color: #2c60a6;
    border-top: 1px solid #4d7ec1;
    height: 40px;
}
nav#Menu ul {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    border-right: 1px solid #4d7ec1;
    border-left: 1px solid #4d7ec1;
}
nav#Menu ul li {
    float: left;
    position: relative;
    border-right: 1px solid #4d7ec1;
}
nav#Menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 10px;
}
nav#Menu ul li:hover {
    background-color: #1d529a;
}
nav#Menu ul li.Busca {
    float: right;
    border-right: 0;
    border-left: 1px solid #4b84d2;
}
nav#Menu ul li:hover ul {
    display: block;
}
nav#Menu ul li ul {
    left: -1px;
    z-index: 12;
    height: auto;
    max-height:300px;
    overflow-x: hidden;
    overflow: hidden;
    overflow-y: auto;
    display: none;
    width: 200px;
    position: absolute;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    top: 40px;
    background-color: #1d529a;
    border-bottom: 1px solid #4b84d2;

}
nav#Menu ul li ul::-webkit-scrollbar {
    width: 10px;
}

nav#Menu ul li ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

nav#Menu ul li ul::-webkit-scrollbar-thumb {
    background-color: #4b84d2;
    outline: 1px solid slategrey;
}
nav#Menu ul li ul li {
    float: none;
    display: block;
    border-top: 1px solid #3b73c1;
    border-right: 0px solid #4b84d2;
}
nav#Menu ul li ul li a {
    font-size: 12px;
}
nav#Menu ul li ul li:hover {
    background-color: #0e4189;
}
nav#Menu ul li.Busca form input[type="search"] {
    height: 30px;
    border:1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 5px;
    margin: 5px 0 5px 10px;
    outline: none;
}
nav#Menu ul li.Busca:hover {
    background: transparent;
}
nav#Menu ul li.Busca form button {
    height: 30px;
    border:1px solid #68a3f4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 30px;
    cursor: pointer;
    color:#fff;
    margin-right: 10px;
    background-color: #4d91ed;
}
nav#Menu ul li.Busca form button:hover {
    background-color: #5e92fe;
}
section#Slide {
    padding: 15px 0;
    background-color: #222;
    overflow: hidden;
}
section#Slide section.Caixa {
    width: 1000px;
    margin: 0 auto;
}
section#Slide section.Maior {
    width: 380px;
    height: 302px;
    overflow: hidden;
    float: left;
    margin: 1px;
}
section#Slide section.Medio {
    width: 307px;
    height: 150px;
    margin: 1px;
    overflow: hidden;
    float: left;
}
section#Slide section {
    position: relative;
}
section#Slide section.Maior span {
    font-size: 24px;
}
section#Slide section span {
    position: absolute;
    bottom: 10px;
    color:#fff;
    z-index: 10;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    left: 0;
    text-shadow: 0.1em 0.1em 0.2em black;
    transition: 0.3s all linear;
}
section#Slide section section:hover span {
    transition: 0.4s all linear;
    bottom: 20px;
}
section#Slide section a {
    display: block;
    background:#000;
}
section#Slide img {
    opacity: 0.8;
}
section#Slide section section:hover img {
    opacity: 0.6;
}
section#GradeCanais {
    background-color: #222;
    overflow: hidden;
    border-bottom: 1px solid #333;
}
section#GradeCanais section.Caixa {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
section#GradeCanais section.Caixa section.CaixaCar {
    width: 900px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
section#GradeCanais section.Caixa ul {
    width: auto;
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
    margin: 0 auto;
}
section#GradeCanais section.Caixa ul li {
    float: left;
}
section#Conteudo {
    width: 998px;
    overflow: hidden;
    margin: 0 auto;
    min-height: 400px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: url(../imagens/bg_lado.png);
    background-repeat: repeat-y;
    background-position: right;
    background-color: #fff;
}
section#Conteudo section#Lateral {
    float: right;
    width: 300px;
    padding: 0 2px 2px;
    border-left:1px solid #ccc;
    min-height: 400px;
}
section#Conteudo section#Lateral section.Marcador {
    background-color: #3b73c1;
    color:#fff;
    height: 30px;
    line-height:30px;
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 2px 0;
}
section#Conteudo section.Caixa {
    width: 693px;
    min-height: 400px;
    float: left;
    margin-bottom:2px;
}
section#Conteudo section.Caixa section.WD-Largo {
    float: left;
    width: 100%;
    overflow: hidden;
}
section#Conteudo section.Caixa section.WD-Largo section.Nome {
    border-bottom: 3px solid #3b73c1;
    padding: 0 10px;
    margin: 2px 2px 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}
section#Conteudo section.Caixa section.WD-Largo section.Nome span {
    display: table;
    padding: 0 10px;
    height: 30px;
    line-height: 34px;
    overflow: hidden;
    background:#3b73c1;
    color:#fff;
}
section#Conteudo section.Caixa section.WD-Largo.Novela section.Nome {
    border-bottom: 3px solid #222;
    padding: 0 10px;
    margin: 2px 2px 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}
section#Conteudo section.Caixa section.WD-Largo.Novela section.Nome span {
    display: table;
    padding: 0 10px;
    height: 30px;
    line-height: 34px;
    overflow: hidden;
    background:#222;
    color:#d4e800;
}
section#Conteudo section.Caixa section.WD-Largo section.Nome span i {
    margin-right: 5px;
}
section#Conteudo section.Caixa section.WD-Largo section.Item {
    float: left;
    width: 226.4px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border:1px solid #ccc;
    margin: 2px 0 0 2px;
    transition: 0.4s all linear;
}
section#Conteudo section.Caixa section.WD-Largo section.Item:hover {
    background-color: #f3f3f3;
    transition: 0.4s all linear;
}
section#Conteudo section.Caixa section.WD-Largo section.Item:hover img  {
    background-color: #f6f6f6;
    transition: 0.4s all linear;
    opacity: 1;
}
section#Conteudo section.Caixa section.WD-Largo section.Item img {
    opacity: 0.9;
    transition: 0.4s all linear;
}
section#Conteudo section.Caixa section.WD-Largo section.Item a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
section#Conteudo section.Caixa section.WD-Largo section.Item a.Categoria {
    position: absolute;
    top: 99px;
    right: 0px;
    color:#fff;
    z-index: 2;
    background-color: #3b73c1;
    padding: 2px 4px;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 10px;
}
section#Conteudo section.Caixa section.WD-Largo section.Item a.Categoria:hover {
    opacity: 1;
}
section#Conteudo section.Caixa section.WD-Largo section.Item a span.Titulo {
    display: block;
    margin: 4px;
    height: 50px;
    text-align: center;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe section.Item a span.Data {
    position: absolute;
    bottom: 20px;
    left: 4px;
    height: auto;
    color:#d4e800;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgba(00,00,00, 0.4);
    padding: 1px 5px;
    text-shadow: 0.1em 0.1em 0.2em black;
    transition: 0.3s all linear;
    font-weight: bold;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe section.Item:hover a span.Data {
    bottom:24px;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe section.Item a span.Titulo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    color:#fff;
    text-shadow: 0.1em 0.1em 0.2em black;
    transition: 0.3s all linear;
    font-weight: bold;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe section.Nome {
    position: relative;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe section.Nome span.Imagem {
    right: 0px;
    top: 3px;
    position: absolute;
    background: transparent;
    height: 26px;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe section.Nome span.Imagem img {
    max-width: 60px;
    max-height: 24px;
    margin: 0px 0;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe section.Item:hover a span.Titulo {
    bottom:4px;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe.Novela section.Item a span.Titulo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    color:#fff;
    text-transform: uppercase;
    background-color: rgba(00,00,00, 0.4);
    padding: 1px 5px;
    font-size: 12px;
    text-shadow: 0.1em 0.1em 0.2em black;
    transition: 0.3s all linear;
    font-weight: bold;
}
section#Conteudo section.Caixa section.WD-Largo.Baixe.Novela section.Item a img.LogoNovela {
    position: absolute;
    bottom: -100px;
    left: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 60px;
    transition: 0.3s all linear; 
}

section#Conteudo section.Caixa section.WD-Largo.Baixe.Novela section.Item:hover a img.LogoNovela {
    position: absolute;
    bottom: 44px;
    transition: 0.3s all linear; 
}
section#Conteudo section.Caixa section.WD-Largo.Baixe.Novela section.Item a.CateNov {
    position: absolute;
    top: -100px;
    right: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    background: rgba(00,00,00, 0.5);
    color:#fff;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    transition: 0.3s all linear; 
}
section#Conteudo section.Caixa section.WD-Largo.Baixe.Novela section.Item:hover a.CateNov {
    top: 4px;
    transition: 0.3s all linear; 
}
section#Conteudo section.Caixa section.WD-Largo.Baixe.Novela section.Item:hover a span.Titulo {
    bottom:4px;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Medio {
    width: 343.5px;
    float: left;
    margin: 2px 0 2px 2px;
}
section#Conteudo section.Caixa section.WD-Medio section.Nome {
    border-bottom: 3px solid #3b73c1;
    padding: 0 10px;
    height: 30px;
    margin-bottom: 2px;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}
section#Conteudo section.Caixa section.WD-Medio section.Nome span {
    display: table;
    padding: 0 10px;
    height: 30px;
    line-height: 34px;
    overflow: hidden;
    background:#3b73c1;
    color:#fff;
}
section#Conteudo section.Caixa section.WD-Medio section.Nome span i {
    margin-right: 5px;
}
section#Conteudo section.Caixa section.WD-Medio section.ItemMaior {
    border: 1px solid #ccc;
    transition: 0.3s all linear;
    position: relative;
}
section#Conteudo section.Caixa section.WD-Medio section.ItemMaior:hover {
    background: #f6f6f6;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Medio section.ItemMaior img {
    border-bottom:2px solid #3b73c1;
    width: 100%;
    opacity: 0.9;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Medio section.ItemMaior:hover img {
    opacity: 1;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Medio section.ItemMaior a {
    text-decoration: none;
    color:#000;
}
section#Conteudo section.Caixa section.WD-Medio section.ItemMaior span.Titulo {
    display: block;
    padding: 8px;
    height: 72px;
    overflow: hidden;
    font-weight: bold;
    font-size: 20px;
}
section#Conteudo section.Caixa section.WD-Medio section.ItemMaior a.Categoria {
    position: absolute;
    top: 169px;
    right: 0px;
    color:#fff;
    z-index: 2;
    background-color: #3b73c1;
    padding: 2px 4px;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 10px;
}
section#Conteudo section.Caixa section.WD-Medio section.ItemMaior a.Categoria:hover {
    opacity: 1;
}
section#Conteudo section.Caixa section.WD-Medio section.Item {
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    height: 64px;
    overflow: hidden;
    margin: 2px 0 0 0;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Medio section.Item:hover {
    background: #f6f6f6;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Medio section.Item:hover img {
    opacity: 1;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Medio section.Item img {
    width: 120px;
    float: left;
    height:64px;
    border-right:2px solid #3b73c1;
    opacity: 0.9;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.WD-Medio section.Item a {
    text-decoration: none;
    color:#000;
}
section#Conteudo section.Caixa section.WD-Medio section.Item span.Titulo {
    display: block;
    padding: 8px;
    font-weight: bold;
    float: left;
    width: 203px;
    font-size: 14px;
    overflow: hidden;
}
section#Conteudo section.Caixa section.WD-Medio section.Item a.Categoria {
    position: absolute;
    bottom: 0px;
    right: 0;
    color:#fff;
    z-index: 2;
    background-color: #3b73c1;
    padding: 2px 4px;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 10px;
}
section#Conteudo section.Caixa section.WD-Medio section.Item a.Categoria:hover {
    opacity: 1;
}
section#Conteudo section.Caixa section.WD-Medio.Amarelo section.Nome {
    border-color: #deac00;
    position: relative;
}
section#Conteudo section.Caixa section.WD-Medio.Amarelo section.Nome span {
    background: #deac00;
    color:#fff;
}
section#Conteudo section.Caixa section.WD-Medio.Amarelo section.Nome span.Imagem {
    right: 0px;
    top: 3px;
    position: absolute;
    background: transparent;
    height: 26px;
}
section#Conteudo section.Caixa section.WD-Medio.Amarelo section.Nome span.Imagem img {
    width: 60px;
    margin: 2px 0;
}
section#Conteudo section.Caixa section.WD-Medio.Amarelo  section.ItemMaior img {
    border-bottom:2px solid #deac00;
}
section#Conteudo section.Caixa section.WD-Medio.Amarelo section.Item img {
    border-right:2px solid #deac00;
}
section#Conteudo section.Caixa a.Categoria.Futebol {
    background-color:#23a400 !important;
}
section#Conteudo section.Caixa section.WD-Medio.Verde section.Nome {
    border-color: #23a400;
    position: relative;
}
section#Conteudo section.Caixa section.WD-Medio.Verde section.Nome span {
    background: #23a400;
    color:#fff;
}
section#Conteudo section.Caixa section.WD-Medio.Amarelo section.Item a.Categoria {
    background-color: #deac00;
}
section#Conteudo section.Caixa section.WD-Medio.Amarelo section.ItemMaior a.Categoria {
    background-color: #deac00;
}
section#Conteudo section.Caixa section.WD-Medio.Verde section.Nome span.Imagem {
    right: 0px;
    top: 3px;
    position: absolute;
    background: transparent;
    height: 26px;
}
section#Conteudo section.Caixa section.WD-Medio.Verde section.Nome span.Imagem img {
    width: 60px;
    margin: 2px 0;
}
section#Conteudo section.Caixa section.WD-Medio.Verde  section.ItemMaior img {
    border-bottom:2px solid #23a400;
}
section#Conteudo section.Caixa section.WD-Medio.Verde section.Item img {
    border-right:2px solid #23a400;
}
section#Conteudo section.Caixa section.WD-Medio.Verde a.Categoria {
    background-color: #23a400 !important;
}
section#Conteudo section.Caixa section.WD-Medio.Vermelho section.Nome {
    border-color: #b30000;
    position: relative;
}
section#Conteudo section.Caixa section.WD-Medio.Vermelho section.Nome span {
    background: #b30000;
    color:#fff;
}
section#Conteudo section.Caixa section.WD-Medio.Vermelho section.Nome span.Imagem {
    right: 0px;
    top: 3px;
    position: absolute;
    background: transparent;
    height: 26px;
}
section#Conteudo section.Caixa section.WD-Medio.Vermelho section.Nome span.Imagem img {
    width: 60px;
    margin: 2px 0;
}
section#Conteudo section.Caixa section.WD-Medio.Vermelho  section.ItemMaior img {
    border-bottom:2px solid #b30000;
}
section#Conteudo section.Caixa section.WD-Medio.Vermelho section.Item img {
    border-right:2px solid #b30000;
}
section#Conteudo section.Caixa section.WD-Medio.Vermelho a.Categoria {
    background-color: #b30000 !important;
}
section#Conteudo section.Caixa section#TituloCategoria {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
section#Conteudo section.Caixa section#TituloCategoria h1 {
    display: inline;
    padding: 0 0 0 10px;
    font-size: 20px;
}
section#Conteudo section.Caixa section.GnCat {
    background-color: #fafafa;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    text-align: center;
}
section#Conteudo section.Caixa section.GnCat img {
    margin: 0 auto;
}
section#Conteudo section.Caixa section.ItemCat {
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 2px;
    background-color: #fafafa;
}
section#Conteudo section.Caixa section.ItemCat img {
    float: left;
    width: 250px;
    height: 150px;
    opacity: 0.8;
    transition:0.3s all linear;
}
section#Conteudo section.Caixa section.ItemCat:hover img {
    opacity: 1;
}
section#Conteudo section.Caixa section.ItemCat section.BoxItem{
    float: left;
    width: 432px;
    overflow: hidden;
}
.ias_trigger a {
    clear: both;
    display: table;
    background-color: #3a73c1;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px auto;
    transition: 0.3s all linear;
}
.ias_trigger a:hover {
    background-color: #2c60a6;
}
section#Conteudo section.Caixa a.PGI {
    clear: both;
    display: table;
    background-color: #3a73c1;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px auto;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa a.PGI:hover {
    background-color: #2c60a6;
}
section#Conteudo section.Caixa img.erro404 {
    margin: 40px auto;
}
section#Conteudo section.Caixa section.BoxPlayer {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #222;
}
section#Conteudo section.Caixa section.BoxPlayer iframe {
display: block;
margin: 0 auto;
}
section#Conteudo section.Caixa section.ProPlayer {
    width: 100%;
    height: 386px;
    text-align: center;
    overflow: hidden;
    background-color: #222;
}
section#Conteudo section.Caixa section.ProPlayer a {
    display: block;
    height: 386px;
    line-height: 386px;
    text-decoration: none;
    font-size: 80px;
    color:#ccc;
    text-align: center;
    width: 100%;
    background: rgba(00,00,00,0.7);
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.ProPlayer img {
    width: 50px;
    margin: 0 auto;
    opacity: 0.8;
    display: inline;
    transition: 0.3s all linear;
}
section#Conteudo section.Caixa section.ProPlayer:hover img{
    width: 70px;
    opacity: 1;
}
section#Conteudo section.Caixa section.ProPlayer:hover a {
    color:#fff;
    font-size: 110px;
}
section#Conteudo section.Caixa section.Data {
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
section#Conteudo section.Caixa section.TextoPostagem {
    padding: 0 10px;
    text-align: justify;
    line-height: 20px;
}
section#Conteudo section.Caixa section.TextoPostagem img {
margin: 0 auto;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
section#Conteudo section.Caixa section.Comentarios {
    padding: 10px;
}
section#Conteudo section.Caixa section.TextoPostagem h2 {
    font-size: 20px;
}
section#Conteudo section.Caixa section.TextoPostagem a {
    color: #3b73c1;
    font-weight: bold;
}
section#Conteudo section.Caixa section.ItemCat a.Titulo {
    padding:10px;
    display: block;
    color:#23a400;
    font-size: 18px;
    float: left;
    text-decoration: none;
    font-weight: bold;
}
section#Conteudo section.Caixa section.ItemCat a.Titulo h2 {
    padding:0px;
    display: block;
    color:#23a400;
    margin: 10px 0 0;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
section#Conteudo section.Caixa section.ItemCat section.Descricao {
    padding: 0 10px 10px;
    display: block;
    color:#777;
    float: left;
    width: 414px;
    font-size: 14px;
    text-decoration: none;
}
section#Conteudo section.Caixa section.ItemCat a.Titulo:hover {
    text-decoration: underline;
}
section#Rodape {
    background-color: #2c60a6;
    border-top: 1px solid #4d7ec1;
    height: 40px;
}
section#Rodape section.Caixa {
    height: 40px;
    width: 1000px;
    margin: 0 auto;
}
section#Rodape section.Caixa img#LogoPX {
    float: left;
    width: 40px;
    margin: 10px;
}
section#Rodape section.Caixa ul {
    float: left;
    border-right: 1px solid #4d7ec1;
}
section#Rodape section.Caixa ul.Rgt {
    float: right;
}
section#Rodape section.Caixa ul li {
    float: left;
}
section#Rodape section.Caixa ul li:hover {
    background-color: #1d529a;
}
section#Rodape section.Caixa ul li a {
    color:#fff;
    text-decoration: none;
    line-height: 40px;
    display: block;
    height: 40px;
    padding: 0 10px;
    border-left: 1px solid #4d7ec1;
    font-weight: bold;
    text-transform: uppercase;
}
section#CanaisTOP {
    background-color: #222;
}
section#CanaisTOP section.Caixa {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
section#CanaisTOP section.Caixa section.TextoDestaque {
    float: left;
    width: 96px;
    border-right: 1px solid #333;
    padding:0 4.5px;
    height: 92px;
}
section#CanaisTOP section.Caixa section.TextoDestaque span.um {
    display: block;
    text-align: center;
    color:#3a73c1;
    font-size: 21px;
    line-height: 21px;
    margin-top: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
section#CanaisTOP section.Caixa section.TextoDestaque span.dois {
    display: block;
    text-align: center;
    color:#fff;
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
section#CanaisTOP section.Caixa section.Canal {
    float: left;
    border-right: 1px solid #333;
    text-align: center;
    width: 148px;
    transition:0.3s all linear;
}
section#CanaisTOP section.Caixa section.Canal:hover {
    background-color: #111;
    transition:0.3s all linear;
}
section#CanaisTOP section.Caixa section.Canal a {
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
}
section#CanaisTOP section.Caixa section.Canal a span {
    font-size: 9px;
}
section#CanaisTOP section.Caixa section.Canal img {
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
section#CanaisWID {
    background-color: #222;
    border:1px solid #333;
    padding: 10px 0;
}
section#CanaisWID section.Caixa {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
section#CanaisWID section.Caixa .prev {
    position: absolute;
    top: 41px;
    color:#fff;
    left: 12px;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s all linear;
}
section#CanaisWID section.Caixa .prev:hover {
    opacity: 1;
    transition: 0.3s all linear;
}
section#CanaisWID section.Caixa .next {
    position: absolute;
    top: 41px;
    color:#fff;
    right: 12px;
    opacity: 0.7;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s all linear;
}
section#CanaisWID section.Caixa .next:hover {
    opacity: 1;
    transition: 0.3s all linear;
}
section#Canais {
    width: 900px;
    margin: 0 auto;
}
section#Canais .item{
    width: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
section#Canais .item img {
    margin: 3px auto;
    width: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.8;
    transition: 0.3s all linear;
}
section#Canais .item img:hover{
    opacity: 1;
    transition: 0.3s all linear;
}
section.ListaUltimos section.Item {
    position: relative;
    border-bottom: 1px solid #222;
}
section.ListaUltimos section.Item a {
    color:#fff;
    z-index: 10;
    font-size: 19px;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgba(00,00,00,0.5);
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black;
    transition: 0.3s all linear;
}
section.ListaUltimos section.Item a:hover {
    background-color: rgba(00,00,00,0.3);
}
section.ListaUltimos section.Item a.Categoria {
    font-size: 10px;
    font-weight: normal;
    color:#fff;
    background-color: #4b84d2;
    display: table;
    padding: 0 4px;
    margin: 0;
    text-shadow: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
}
section.ListaUltimos section.Item a.Categoria.Futebol {
    background-color: #23a400;
}
section.ListaUltimos section.Item a.Categoria.Vermelho {
    background-color: #b30000;
}
section#AssistaTambem {
    text-align: center;
}
section#AssistaTambem span {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    display: block;
    line-height: 30px;
}
section#AssistaTambem ul li {
    border-bottom: 1px dotted #ccc;
}
section#AssistaTambem ul li a {
    line-height: 30px;
    color: #888;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    transition: 0.3s all linear;
}
section#AssistaTambem ul li a:hover {
    background-color: #f6f6f6;
}
#M131353Composite74316 {
overflow:hidden !important;
height: 90px !important;
        }
