.btn-basic,.btn-basic:active,.btn-basic:hover,.btn-basic:link,.btn-basic:visited,p a.btn-basic:focus,p a.btn-basic:hover,p a.btn-basic:link,p a.btn-basic:visited {
	text-decoration: none;
	color: #fff;
}

.btn-basic {
	display: block;
	border: 1px solid #006faa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-family: verdana,sans-serif;
	padding: 10px;
	text-shadow: -1px -1px 0 rgba(0,0,0,.3);
	font-weight: 700;
	text-align: center;
	background-color: #008bd6;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#008bd6),color-stop(100%,#005a8b));
	background-image: -webkit-linear-gradient(top,#008bd6,#005a8b);
	background-image: -moz-linear-gradient(top,#008bd6,#005a8b);
	background-image: -ms-linear-gradient(top,#008bd6,#005a8b);
	background-image: -o-linear-gradient(top,#008bd6,#005a8b);
	background-image: linear-gradient(top,#008bd6,#005a8b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#008BD6,endColorstr=#005A8B);
}

.btn-basic:hover {
	border: 1px solid #004970;
	background-color: #005a8b;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#005a8b),color-stop(100%,#003958));
	background-image: -webkit-linear-gradient(top,#005a8b,#003958);
	background-image: -moz-linear-gradient(top,#005a8b,#003958);
	background-image: -ms-linear-gradient(top,#005a8b,#003958);
	background-image: -o-linear-gradient(top,#005a8b,#003958);
	background-image: linear-gradient(top,#005a8b,#003958);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#005A8B,endColorstr=#003958);
}

.left a.btn-basic,.left a.btn-basic:active,.left a.btn-basic:focus,.left a.btn-basic:hover,.left a.btn-basic:visited,.right a.btn-basic,.right a.btn-basic:active,.right a.btn-basic:focus,.right a.btn-basic:hover,.right a.btn-basic:visited {
	text-decoration: none;
	color: #fff;
	border: 1px solid;
	padding: 10px;
}

.btn-grey,p .btn-grey,p .btn-grey:hover {
	color: #000;
}

.btn-grey {
	border-color: #444;
	background-color: #333;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#777),color-stop(100%,#333));
	background-image: -webkit-linear-gradient(top,#777,#333);
	background-image: -moz-linear-gradient(top,#777,#333);
	background-image: -ms-linear-gradient(top,#777,#333);
	background-image: -o-linear-gradient(top,#777,#333);
	background-image: linear-gradient(top,#777,#333);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#777,endColorstr=#333);
}

.btn-grey:hover {
	color: #000;
	border-color: #444;
	background-color: #777;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ccc),color-stop(100%,#777));
	background-image: -webkit-linear-gradient(top,#ccc,#777);
	background-image: -moz-linear-gradient(top,#ccc,#777);
	background-image: -ms-linear-gradient(top,#ccc,#777);
	background-image: -o-linear-gradient(top,#ccc,#777);
	background-image: linear-gradient(top,#ccc,#777);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ccc,endColorstr=#777);
}

.box-highlight {
	border: 1px solid #686869;
}

.content_wrapper .left .box-highlight,.secnav_subsite .box-highlight {
	width: 178px;
}

.content_wrapper .right .l .box-highlight,.content_wrapper .right .r .box-highlight {
	width: 318px;
}

.content_wrapper .box-highlight h3 {
	background-color: #686869;
	color: #fff;
	padding: 5px;
	margin-bottom: 0;
	font-size: 120%;
	text-transform: none;
}

.box-highlight h4 {
	padding: 10px;
	margin: 0;
	font-size: 100%;
	font-weight: 700;
}

.box-highlight h5 {
	padding: 10px 10px 5px;
	margin: 0;
	font-weight: 700;
}

.box-highlight ul {
	list-style-type: none;
	padding: 0;
}

.box-highlight li,.box-highlight p {
	padding: 10px;
	font-size: 120%;
}

.box-highlight.red {
	border-color: #ba4532;
}

.content_wrapper .box-highlight.red h3 {
	background-color: #ba4532;
}

.lower-alpha {
	list-style-type: lower-alpha;
}

.upper-roman {
	list-style-type: upper-roman;
}

.bullet-circle {
	list-style-type: circle;
}

.boxNews {
	float: left;
}

.halfwidth {
	width: 315px;
	margin: 0 15px 15px 0;
}

.pagetitle .subtitle {
	font-size: 70%;
	color: #000;
	padding: 2px 0 2px 10px;
	margin-left: 5px;
	border-left: 1px solid #ccc;
}

.systemStatusBar {
	width: 180px;
	float: left;
	padding-bottom: 3px;
	position: relative;
}

.systemStatusDesc,.systemStatusName {
	width: 142px;
	border-color: #000;
	border-width: 0 0 0 3px;
	border-style: solid;
	margin: 0;
}

.systemStatusName {
	line-height: 1.2;
	padding: 3px 0 0 35px;
}

.systemStatusDesc {
	line-height: 1.2;
	font-size: 75%;
	padding: 0 0 3px 35px;
	font-style: italic;
}

.systemStatusIcon {
	position: absolute;
	height: 36px;
	width: 36px;
	left: -2px;
	top: 0;
	background-image: url(/sjsuhome/assets/images/icon-system-sprite.png);
	background-repeat: no-repeat;
}

.systemStatusBar.operational .systemStatusDesc,.systemStatusBar.operational .systemStatusName {
	border-color: #2fcc66;
}

.systemStatusBar.operational .systemStatusIcon {
	background-position: right 2px;
}

.systemStatusBar.degraded_performance .systemStatusDesc,.systemStatusBar.degraded_performance .systemStatusName {
	border-color: #f1c40f;
}

.systemStatusBar.degraded_performance .systemStatusIcon {
	background-position: right -36px;
}

.systemStatusBar.partial_outage .systemStatusDesc,.systemStatusBar.partial_outage .systemStatusName {
	border-color: #e67e22;
}

.systemStatusBar.partial_outage .systemStatusIcon {
	background-position: right -72px;
}

.systemStatusBar.major_outage .systemStatusDesc,.systemStatusBar.major_outage .systemStatusName {
	border-color: #b30000;
}

.systemStatusBar.major_outage .systemStatusIcon {
	background-position: right -108px;
}

.systemStatusBar.alert .systemStatusDesc,.systemStatusBar.alert .systemStatusName {
	border-color: #005a8b;
}

.systemStatusBar.alert .systemStatusIcon {
	background-position: right -144px;
}

.left .systemStatusDesc,.left .systemStatusName {
	margin: 0;
	line-height: 1.2;
}

.left .systemStatusName {
	padding: 3px 0 0 35px;
}

.left .systemStatusDesc {
	font-size: 75%;
	padding: 0 0 3px 35px;
}

.table-light-blue {
	width:660px;
}

.table-light-blue th {
	background-color:#3399ff;
	border:1px solid #000;
}

.table-light-blue td {
	border:1px solid #3399ff;
}



table[data-sortable] {
	border-collapse: collapse;
	border-spacing: 0;
}

table[data-sortable] th {
	vertical-align: top;
}

table[data-sortable] td,table[data-sortable] th {
	text-align: left;
}

table[data-sortable] th:not([data-sortable=false]) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	cursor: pointer;
	text-decoration: underline;
	color: #005a8b;
}

table[data-sortable] th:not([data-sortable=false]):after {
	content: "";
	visibility: visible;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 0 1px 2px 4px;
	background-image: url(/sjsuhome/assets/images/sprite-table-sort-arrows.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

table[data-sortable] th[data-sorted-direction=ascending]:after {
	background-position: 0 -10px;
}

table[data-sortable] th[data-sorted-direction=descending]:after {
	background-position: 0 -20px;
}

table[data-sortable].alternatecolors th {
	color: #fff;
}

.table-striping--basic th {
	background-color: #dedede;
}

.table-striping--basic tr:nth-child(odd) {
	background-color: #eee;
}

.table-spacing--comfortable td,.table-spacing--comfortable th {
	padding: 10px;
}

.table-spacing--comfortable tr {
	line-height: 1.5;
}

.table-spacing--cozy th {
	padding: 8px;
}

.table-spacing--compact th,.table-spacing--cozy td {
	padding: 4px;
}

.table-spacing--cozy tr {
	line-height: 1.25;
}

.table-spacing--compact td {
	padding: 2px;
}

.table-spacing--compact tr {
	line-height: 1;
}

.table-font-size--small th {
	font-size: 87.5%;
}

.table-font-size--small td {
	font-size: 75%;
}

.table-font-size--large td,.table-font-size--large th {
	font-size: 100%;
}
