/* Global
-------------------------------------------------- */
img {
    -ms-interpolation-mode: bicubic;
}

body {
    /* fix viewport issues on iOS */
    overflow-x: hidden;
}

/* Grid
-------------------------------------------------- */

/* fluid body container */
.container_fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* equal height columns and cards */
@media screen and (min-width: 768px) {
    .card-grid .row.equal {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .card-grid .row.equal > div[class*='col-'] {
        display: -webkit-flex;
        display:flex;
        -ms-flex: 0 1 auto;
        margin-right:-1px;
    }
}

/* seamless grid */
.row.row-seamless {
  margin-right: 0;
  margin-left: 0;
}

.row.row-seamless > [class^="col-"],
.row.row-seamless > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Navbar
-------------------------------------------------- */

/* remove navbar toggle button outline */
.navbar-toggle {
    outline: none;
}

.navbar-toggle.pull-left {
    margin-left: 15px;
    margin-right: 0;
}

.navbar-toggle .sr-only-show {
    float: left;
    margin-left: 34px;
    font-size: 11px;
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    .navbar-toggle.hamburger-desktop {
        margin: 0!important;
        border-radius: 0;
        padding: 9px 15px 4px 15px;
        opacity: .9;
    }
    .navbar-toggle.hamburger-desktop:hover {
        opacity: 1;
    }
    .navbar-toggle.hamburger-desktop .sr-only-show {
        float: left;
        margin-left: 0;
        margin-top: 4px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .navbar-toggle.hamburger-desktop .icon-bar {
        width: 32px;
        height: 3px;
        border-radius: 3px;
    }
}

.navbar-brand img {
    margin-top: -5px;
    max-height: 30px;
}

.site-search-full .dropdown-menu {
    border-color:#e0e0e0;
}

.site-search-full-mobile {
    margin:0;
}

.site-search-full-mobile .dropdown-toggle {
    position:absolute;
    top:0;
    right:0;
    padding:15px;
}

.site-search-full-mobile .open .dropdown-menu {
    background-color:#fff;
    border-bottom:1px solid #e0e0e0;
}

.site-search-full-mobile .form-control {
    border:none;
    box-shadow:none;
}


@media screen and (max-width: 991px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-brand.pos_left_right,
    .navbar-brand.pos_left_right div {
        text-align: center !important;
        float: none;
    }
}


/* Navs
-------------------------------------------------- */

/* add pointer to items in menu that are not actual links */
#site-top-nav-container li a,
#main-navigation li a {
    cursor: pointer;
}


/* Top Nav
-------------------------------------------------- */

#site-top-nav .list-inline.nav-list {
    margin-left: 0;
}

#site-top-nav .list-inline.nav-list > li {
    padding: 0;
    margin-right: 12px;
}

/* Main Nav
-------------------------------------------------- */

body.fixed-nav #site-container {
    margin-top:50px;
}

#site-navbar-container.affix {
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
}

#site-navbar-container.affix-sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    z-index: 100;
    top:0;
}

#main-navigation .navbar-collapse .pull-right .tncms-block {
    float: right;
}

@media screen and (min-width: 768px) {
    #main-navigation #navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
    #main-navigation .navbar-nav.navbar-right {
        margin-right: 0;
    }
    #main-navigation .dropdown-menu li:hover > .dropdown-menu {
        display: block;
    }
    #main-navigation .dropdown-menu li {
        position: relative;
    }
    #main-navigation .dropdown-menu li .dropdown-menu {
        position: absolute;
        top:0;
        left: 100%;
        margin-top: -5px;
        margin-left: -1px;
        border:0;
    }
    #main-navigation .dropdown-menu li .fa-caret-right {
        margin-right: -5px;
        color: rgba(0,0,0,.1);
        float: right;
    }
}

@media screen and (max-width: 768px) {
    #main-navigation .dropdown-menu li .fa-caret-right {
        display: none;
    }
    #main-navigation .dropdown-menu li.open a {
        background:transparent;
    }
    #main-navigation .dropdown-menu li .dropdown-menu {
        display: block!important;
        margin-left: 10px;
    }
}

@media screen and (max-width: 991px) {
    #main-navigation {
        width: auto;
        border-right: 0;
        border-left: 0;
        margin-bottom: 0;
    }
    #main-navigation #navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        max-height: 340px;
    }
    #main-navigation #navbar-collapse .pull-right {
        float: none !important;
    }
}


/* Off Canvas
-------------------------------------------------- */

/* prevent body scroll when drawer opened. This doesnt work well on iOS. */
.drawer-open {
    overflow: hidden !important;
}
/* canvas inner content */
.offcanvas-inner {
    position: relative;
    left: 0;
    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    -o-transition: left 0.25s ease-out;
    -ms-transition: left 0.25s ease-out;
    transition: left 0.25s ease-out;
}
.offcanvas-drawer-left .tncms-region,
.offcanvas-drawer-right .tncms-region {
}
/* left drawer closed */
.offcanvas-drawer-left,
.offcanvas-content-left {
    left: -80%;
}
/* left drawer open */
.active-left .offcanvas-drawer-left,
.active-left .offcanvas-content-left {
    left: 0;
}
/* left drawer open content */
.active-left .offcanvas-inner,
/* move fixed nav */
.active-left .navbar-fixed-top,
.active-left #site-navbar-container.affix {
    left: 80%;
}
/* right drawer closed */
.offcanvas-drawer-right,
.offcanvas-content-right {
    right: -80%;
}
/* left drawer open */
.active-right .offcanvas-drawer-right,
.active-right .offcanvas-content-right {
    right: 0;
}
/* left drawer open content */
.active-right .offcanvas-inner,
.active-right .navbar-fixed-top,
.active-right #site-navbar-container.affix {
    left: -80%;
}
/* make sure fixed nav does not collapse */
.drawer-open .navbar-fixed-top,
.drawer-open #site-navbar-container.affix {
    width: 100% !important;
    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    -o-transition: left 0.25s ease-out;
    -ms-transition: left 0.25s ease-out;
    transition: left 0.25s ease-out;
}
/* affix left */
#site-navbar-container.affix {
    left: 0;
}
/* fixed nav toggle positions */
.navbar-fixed-top .navbar-toggle.pull-left {
    margin-left: 0;
}
.navbar-fixed-top .navbar-toggle.pull-right {
    margin-right: 0;
}
/* drawer base styles */
.offcanvas-drawer,
.offcanvas-content-left,
.offcanvas-content-right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80%;
    z-index: 1050;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
/* close button */
.offcanvas-close-btn {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1031;
    height: 100%;
    cursor: pointer;
    display: none;
    opacity: 0;
    width: 100%;
}
.drawer-open .offcanvas-close-btn {
    display: block;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    background-color: rgba(0, 0, 0, .5);
}
.offcanvas-drawer .hide-offcanvas {
    display: none!important;
}
.offcanvas-drawer .show-offcanvas {
    display: block!important;
}
/* Off Canvas Theme */
.drawer-open .navbar-toggle .icon-bar {
    opacity: .5;
}
.offcanvas-drawer,
.offcanvas-content-left,
.offcanvas-content-right {
    background-color: #333;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}
.offcanvas-drawer-left {
    -webkit-box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, .2);
    box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, .2);
}
.offcanvas-drawer-right {
    -webkit-box-shadow: inset 8px 0 5px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 8px 0 5px 0 rgba(0, 0, 0, .2);
}
.offcanvas-drawer .panel {
    border-radius: 0!important;
    border: 0;
    box-shadow: none;
    margin: 0!important;
    background-color: transparent;
}
.offcanvas-drawer .navbar-nav .panel-heading {
    padding: 0!important;
    background-color: transparent!important;
    border-radius: 0!important;
}
.offcanvas-drawer .navbar-nav,
.offcanvas-drawer .navbar-nav li {
    margin: 0;
    float: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) !important;
}
.offcanvas-drawer .navbar-nav li,
.offcanvas-drawer .navbar-nav .panel-title {
    border-top: 1px solid rgba(255, 255, 255, .075) !important;
    border-bottom: 1px solid rgba(0, 0, 0, .2) !important;
}
.offcanvas-drawer a,
.offcanvas-drawer a:hover {
    color: rgba(255, 255, 255, 0.6);
}
.offcanvas-drawer .navbar-nav li a,
.offcanvas-drawer .navbar-nav .panel-title a,
.offcanvas-drawer .open .dropdown-menu > li > a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    line-height: 16px;
    display: block;
    background-color: transparent;
    text-decoration: none;
    border: 0 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) !important;
}
.offcanvas-drawer .navbar-nav li a {
    padding-left: 30px;
    font-weight: normal;
}
.offcanvas-drawer .open .dropdown-menu > li > a {
    padding-left: 25px;
}
.offcanvas-drawer .dropdown ul,
.offcanvas-drawer .panel ul {
    padding: 0;
    background-color: rgba(0, 0, 0, .2);
}
.offcanvas-drawer .navbar-nav .panel-title:hover,
.offcanvas-drawer .navbar-nav li a:hover,
.offcanvas-drawer .navbar-nav li.open,
.offcanvas-drawer .navbar-nav li:active,
.offcanvas-drawer .navbar-nav li.open > a {
    background-color: rgba(0, 0, 0, .2);
}
.offcanvas-drawer .navbar-nav h3 {
    margin: 0;
    background-color: #333;
    color: #888;
    border-top: 1px solid rgba(255, 255, 255, .1);
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 15px;
}
.offcanvas-drawer .navbar-nav a.expand-children.collapsed {
    color: rgba(255, 255, 255, 0.5);
    transform: initial;
    -webkit-transform: initial;
}
.offcanvas-drawer .navbar-nav a.expand-children:hover {
    color: rgba(255, 255, 255, 0.7)
}
.offcanvas-drawer .navbar-nav a.expand-children {
    color: rgba(255, 255, 255, 0.85);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    cursor: pointer;
}
/* user controls & search block */
.user-controls .tn-user-avatar img {
    height: 18px;
}

.user-controls .large-user-avatar .tn-user-avatar img {
    height: 30px;
}

.user-controls .large-user-avatar .tn-user-avatar .user-icon {
    border-radius: 50%;
}

.offcanvas-drawer .user-controls .large-user-avatar img {
    height: 40px;
}
.offcanvas-drawer .user-controls .large-user-controls {
    font-size: 14px!important;
}
.offcanvas-drawer .user-controls .large-user-controls .user-welcome {
    max-width: 175px!important;
}
.offcanvas-drawer .user-controls {
    background-color: rgba(0, 0, 0, .2);
}
.offcanvas-drawer .user-controls .list-inline {
    margin-bottom: 0;
}
.offcanvas-drawer .search-form-container,
.offcanvas-drawer .user-controls {
    padding: 15px;
    width: auto;
    border-top: 1px solid rgba(255, 255, 255, .075) !important;
    border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}
.offcanvas-drawer .search-form-container {
    background-color: rgba(0, 0, 0, .5);
}

.yamm .user-controls .dropdown,
.yamm .search-form-dropdown.dropdown {
    position: relative;
}

.yamm .user-controls .dropdown img {
    max-width: 100%;
}

/* desktop offcanvas overwrites */
@media screen and (min-width: 991px) {
    .navbar-toggle.hamburger-desktop {
        display: block;
    }
    .navbar-toggle.hamburger-desktop.fluid-header {
        margin-left: 0;
    }
    .drawer-open {
        overflow: auto!important;
    }
    .offcanvas-drawer,
    .offcanvas-content-left {
        width: 300px;
    }
    .drawer-open .offcanvas-inner,
    .drawer-open .navbar-fixed-top,
    .drawer-open #site-navbar-container.affix {
        left: 0px;
    }
    .offcanvas-drawer-left {
        box-shadow: none;
        border-right: 1px solid rgba(0, 0, 0, .2);
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
    }
    .offcanvas-drawer .navbar-nav li,
    .offcanvas-drawer .navbar-nav .panel-title {
        border-top: 0!important;
    }
    .offcanvas-content-left {
        text-shadow: none;
    }
    .offcanvas-drawer .navbar-nav li a,
    .offcanvas-drawer .navbar-nav .panel-title a,
    .offcanvas-drawer .open .dropdown-menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        text-shadow: none;
    }
    .offcanvas-drawer .block-title {
        margin: 0;
        padding: 10px 15px;
    }
}


/* Utility Classes
-------------------------------------------------- */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Vertically center any content
 */
.centered-content-stage {
    position:relative;
}
.centered-content-container { /* any height */ }
.centered-content-container:before {
    /* The ghost, nudged to maintain mostly perfect centering. */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}
.centered-content {
    /* The element to be centered, can be any width and height */
    display: inline-block;
    vertical-align: middle;
}
.content-overlay {
    /* Add this class to the container to overlay content */
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* responsive video containers */
.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Content stream with vertical bullets and connecting line
 */
.stream-container {
    position: relative;
}

.stream-container::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 17px;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,.1);
}

.stream-item {
    position: relative
}

.stream-item-bullet {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.stream-item-content {
    position: relative;
}

.stream-container.stream-sm::before{
    left: 9px;
    border-width: 1px;
}

.stream-container.stream-sm .stream-item-bullet{
    width: 20px;
    height: 20px;
}

.show-onload {
    display: none;
}

.not-logged-in,
.logged-in {
    display: none;
}

.margin-bottom-none,
#main-body-container .margin-bottom-none .block {
    margin-bottom:0px;
}

.padding-top {
    padding-top: 15px;
}

.padding-right {
    padding-right: 15px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.padding-left {
    padding-left: 15px;
}

.border-right {
    border-right: 1px solid rgba(0,0,0,0.1);
}

.border-left {
    border-left: 1px solid rgba(0,0,0,0.1);
}

.border-top {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.text-left {
    text-align:left!important;
}
.text-right {
    text-align:right!important;
}
.text-center {
    text-align:center!important;
}
.underline {
    text-decoration: underline;
}

/* Syndicated ads */
.asset-syndicated-ads {
    margin-top: 15px;
    margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
    .asset-syndicated-ads {
        border: 1px solid rgba(0,0,0,.1);
        padding: 15px;
        background: #fff;
    }
    .asset-syndicated-ads .tnt-ads {
        margin-bottom: 10px;
    }
}
/* Pagination
-------------------------------------------------- */
.pagination-controls {
    text-align: center;
}
.pagination-controls a {
    cursor: pointer;
}

.pagination-controls a.disabled {
    cursor: not-allowed;
}

@media print{    
    .asset-content.carousel .item {
        display: block !important; 
    }
}

 */
/* Infinity scroll
-------------------------------------------------- */

/* Summary */
#infinite-container.infinity-summary-container {
    padding-bottom: 70px;
}

#infinite-container.infinity-summary-container .infinite-item {
    margin-top: 20px;
}

#infinite-container .card-compact > .card,
#infinite-container .card-compact > .card:first-child {
    border: 0px;
    border-top: 0px;
}

#infinite-more {
    font-size: 50px;
    text-align: center;
}

.infinity-ad-side-primary {
    text-align: center;
}

#infinite-container iframe,
.infinity-ad-side-primary iframe {
    border: 0;
    width: 315px;
    height: 266px;
    overflow: hidden;
}

#infinite-container.infinity-summary-container .card-lead {
    font-size: larger;
}

/* Carousel
-------------------------------------------------- */

/* carousel icons */
.carousel-control .control-left,
.carousel-control .control-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .control-left {
    left: 50%;
}

.carousel-control .control-right {
    right: 50%;
}

/* Photo Carousel
-------------------------------------------------- */

.photo-carousel .photo-ad {
    min-height: 290px;
    padding-top: 20px;
}

.photo-carousel .photo-ad.has-overline {
    min-height: 310px;
    padding-top: 20px;
}
@media screen and (max-width: 768px) {
    .photo-carousel .photo-ad {
        min-height: 250px;
        padding-top: 0;
    }
}

.photo-carousel .photo-carousel-control {
    color: rgba(0,0,0,.4);
    cursor: pointer;
    z-index: 2;
    position: absolute;
    background-color: rgba(255,255,255,.9);
    padding: 5px 10px;
    font-size: 18px;
    user-select: none;
    opacity: 0.6;
}

.photo-carousel .photo-carousel-control:hover {
    color: rgba(0,0,0,.8);
    background-color: #fff;
}

.photo-carousel:hover .photo-carousel-control {
    opacity: 1;
}

.photo-carousel .photo-carousel-control.left {
    left: auto;
    right: 40px;
    top: 5px;
}

.photo-carousel .photo-carousel-control.right {
    right: 5px;
    top: 5px;
}

.photo-carousel .item {
    text-align: center;
}

.photo-carousel .item .photo-container {
    margin: 0 auto;
    display: block;
}

.photo-carousel .item .photo-container a{
    display:block;
}

.photo-carousel .item .photo-container {
    background-color: rgba(0,0,0,.85);
}

.photo-carousel .item .photo-container img {
    display: initial;
    max-height: 500px;
    max-width:100%;
    width: auto;
    margin: 0 auto;
}

.photo-carousel.single-photo .item .photo-container img {
    width:100%;
    max-height: initial;
}

.photo-carousel.single-photo .item .photo-container.layout-vertical img,
.photo-carousel .item .photo-container.layout-vertical img,
.photo-carousel .item .photo-container.layout-square img {
    width:auto;
    max-height:500px;
}

.photo-carousel .photo-count {
    z-index: 1;
    position: absolute;
    font-weight: bold;
    padding: 10px;
}

.slideshow-carousel-container .photo-carousel .card-headline * {
    margin-top:0;
}

.photo-carousel {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.photo-carousel .caption-container {
    text-align: left;
}

.asset .photo-carousel .caption-container .caption-text p:last-child {
    margin-bottom:0px;
}

.hover-expand {
    cursor: pointer;
    position: relative;
}

.hover-expand .expand {
    transition: all 0.25s ease-out;
    opacity: 0;
    font-size: 18px!important;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.hover-expand:hover .expand {
    opacity: 1;
}

.photo-carousel .stock-photo-label {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    transition: all 0.25s ease-out;
}

.photo-carousel .loading-slide {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 30px;
    top: 0;
    bottom: 0;
    color: #fff;
    padding: 0;
    font-size: 18px;
}

.pdf-content-alt .hover-expand .expand {
    display: inline-block;
    position: static;
    opacity: 1;
    margin-bottom: 15px;
}

.photo-carousel .card-contact {
    margin-bottom: 10px;
}

.photo-carousel .card-contact .fa,
.photo-carousel .caption-social {
    opacity: .5;
}

.photo-carousel .card-contact .card-isopen {
    font-size: 12px;
    color: #51B201;
}

.photo-carousel .event .caption-date,
.photo-carousel .event .caption-venue,
.photo-carousel .event .caption-cost,
.photo-carousel .event .caption-website {
    font-size: 16px;
    margin-bottom: 8px;
}

.photo-carousel .event .caption-text {
    margin: 20px 0;
}

.photo-carousel .event .caption-details-venue .block-title h4 {
    color: rgb(0,0,0);
}

.photo-carousel .event .caption-details-venue .block-title-inner {
    border-bottom: 2px solid rgba(51,51,51,.5);
}

.photo-carousel .event .card.business {
    border: 1px solid rgba(0,0,0,.08);
}

.photo-carousel .event .card.business .card-body {
    padding: 15px;
}

@media screen and (max-width: 991px) {
    .photo-carousel .photo-carousel-control {
        opacity: 1;
    }

    .modal.fullscreen .photo-carousel .item .caption-container {
        opacity: 1!important;
    }

    .modal.fullscreen .photo-carousel .item.hover .caption-container {
        opacity: 1!important;
    }

    .modal.fullscreen .photo-carousel .photo-count {
        top: 5px;
        left: 5px;
        right: auto;
        bottom: auto;
    }

    .modal.fullscreen .photo-carousel .item .photo-container {
        padding: 0;
    }

    .modal.fullscreen .photo-carousel .photo-carousel-control {
        display: none;
    }

    .modal.fullscreen .photo-carousel-control-container {
        opacity: 1;
        position: absolute;
        background-color: rgba(0,0,0,.7);
        width: 100%;
        height: 50px;
        z-index: 5;
    }

    .modal.fullscreen.hover .photo-carousel .photo-carousel-control-container {
        opacity: 1;
    }

    .modal.fullscreen .close {
        top: 5px;
        right: 10px;
        opacity: 1;
    }

    .modal.fullscreen.hover .close {
        opacity: .5;
    }

    .hover-expand .expand {
        opacity: 1;
    }
}

/* Paging Carousel
-------------------------------------------------- */
.collection-gallery-paging .caption-container-paging {
    text-align: left;
    padding-top: 20px;
}
.collection-gallery-paging .photo-carousel-control-container-paging {
    text-align: right;
    margin-bottom: 20px;
}
.collection-gallery-paging .photo-carousel-control.left,
.collection-gallery-paging .photo-carousel-control.right {
    left: auto;
    right: auto;
    top: auto;
}
.collection-gallery-paging .photo-carousel-control {
    color: rgba(0,0,0,.4);
    opacity: 1;
    position: relative;
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,.2);
}
.collection-gallery-paging .photo-carousel-control:hover {
    background-color: rgba(0,0,0,.05);
}
.collection-gallery-paging .paging-position {
    padding-top: 20px;
}

/* Engagement module
-------------------------------------------------- */

/* Engagment with feature cards */
.engagement-container .engagement-item,
.engagement-container[data-engagement-total="1"] .engagement-item,
.engagement-container[data-engagement-total="2"] .engagement-item,
.engagement-container[data-engagement-total="3"] .engagement-item,
.engagement-container[data-engagement-total="4"] .engagement-item,
.engagement-container[data-engagement-total="5"] .engagement-item {
    width: 50%;
    float: left;
    display: none;
}

.engagement-container .engagement-item.item-1,
.engagement-container .engagement-item.item-2 {
    display: block; /* show only 2 on small devices */
}

.engagement-container[data-engagement-total="4"] .engagement-item.item-3,
.engagement-container[data-engagement-total="5"] .engagement-item.item-3,
.engagement-item.item-4,
.engagement-item.item-7 {
    clear: left;
}

.engagement-container[data-engagement-total="4"] .engagement-item.item-4,
.engagement-container[data-engagement-total="5"] .engagement-item.item-4 {
    clear: none;
}

.engagement-container .engagement-item .card-headline {
    max-height: 60px;
    overflow: hidden;
}

/* modal Engagement */
.modal.fullscreen .photo-carousel .engagement-container {
    position: relative;
    top: 25%;
}

.modal.fullscreen .photo-carousel .item .photo-container .engagement-container img {
    -webkit-transform: none!important;
    transform: none!important;
}

.engagement-container .block,
.engagement-container figure .image {
    margin-bottom: 0px!important;
}

.engagement-asset .card {
    margin-bottom: 0px;
}

.engagement-asset .card a.centered-content-link {
    z-index: 3;
}

.engagement-container .centered-content {
    position: absolute;
    max-width: 100%;
}

 .engagement-container .centered-content-container {
    opacity: 0;
}

.engagement-container .engagement-item:hover .centered-content-container,
.engagement-container .engagement-item .centered-content-stage.no-image .centered-content-container {
    background: #000;
    opacity: .85;
    transition: opacity 0.3s ease;
}

.engagement-container .engagement-item:hover .asset-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo-carousel .engagment-mask {
    height: 165px;
}

@media (min-width: 640px) {

    /* show up to 9 */
    .engagement-container .engagement-item.item-3,
    .engagement-container .engagement-item.item-4,
    .engagement-container .engagement-item.item-5,
    .engagement-container .engagement-item.item-6,
    .engagement-container .engagement-item.item-7,
    .engagement-container .engagement-item.item-8,
    .engagement-container .engagement-item.item-9 {
        display: block;
    }

    /* hide odd tiles out */
    .engagement-container[data-engagement-total="5"] .engagement-item.item-5,
    .engagement-container[data-engagement-total="7"] .engagement-item.item-7,
    .engagement-container[data-engagement-total="8"] .engagement-item.item-7,
    .engagement-container[data-engagement-total="8"] .engagement-item.item-8,
    .engagement-container[data-engagement-total="10"] .engagement-item.item-10,
    .engagement-container[data-engagement-total="11"] .engagement-item.item-10,
    .engagement-container[data-engagement-total="11"] .engagement-item.item-11 {
        display: none;
    }

    .engagement-container .engagement-item,
    .engagement-container[data-engagement-total="3"] .engagement-item,
    .engagement-container[data-engagement-total="6"] .engagement-item,
    .engagement-container[data-engagement-total="7"] .engagement-item,
    .engagement-container[data-engagement-total="9"] .engagement-item,
    .engagement-container[data-engagement-total="10"] .engagement-item,
    .engagement-container[data-engagement-total="11"] .engagement-item {
        width: 33.3333%;
    }

    .photo-carousel .engagment-mask {
        height: 380px;
    }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 1200px) {

    /* show all items */
    .engagement-container .engagement-item,
    .engagement-container[data-engagement-total="8"] .engagement-item.item-7,
    .engagement-container[data-engagement-total="8"] .engagement-item.item-8 {
        display: block;
        width: 25%;
    }

    .engagement-container[data-engagement-total="8"] .engagement-item.item-4,
    .engagement-container[data-engagement-total="8"] .engagement-item.item-7,
    .engagement-container[data-engagement-total="12"] .engagement-item.item-4,
    .engagement-container[data-engagement-total="12"] .engagement-item.item-7 {
        clear: none;
    }

    .engagement-container[data-engagement-total="8"] .engagement-item.item-5,
    .engagement-container[data-engagement-total="12"] .engagement-item.item-5,
    .engagement-container[data-engagement-total="12"] .engagement-item.item-9 {
        clear: left;
    }

    .photo-carousel .engagment-mask {
        height: 351px;
    }

}

/* Gallery engagement */
.photo-carousel .item.engagement-slide {
    text-align: left;
}

.photo-carousel .item.engagement-slide h3.engagement-description {
    padding: 5px 0 0 5px;
    margin-bottom: 5px;
    color: #fff;
}

.photo-carousel .engagment-mask {
    background:#000;
    width:100%;
}

.photo-carousel .engagment-mask .engagement-container{
    opacity: 0;
}

.photo-carousel .engagement-container{
    opacity: 1;
    transition: opacity 2s ease;
}

/* Plugins
-------------------------------------------------- */

/* yamm menu */
.yamm .nav, .yamm .collapse,
.yamm .dropup,
.yamm .dropdown,
.yamm .site-search-full .search-form-dropdown.dropdown {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
}

.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}

.yamm .yamm-content {
    padding: 10px 20px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

/* lazy load */
img.lazy-load {
    opacity: 0;
    transition: opacity .2s ease-in;
}

/* Contribute Wrapper
-------------------------------------------------- */
.panel-contribute {
    position: relative;
}
.panel-contribute > .panel-body {
    padding: 15px 111px 15px 15px;
    min-height: 136px;
}
.contribute-tools {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    height: 100%;
    background: #F3F3F3;
}
.contribute-tools .btn {
    width: 96px;
    padding: 6px 8px;
    display: block;
}
.btn-contrib {
    background-color: #E7E7E7;
    color: #333;
    text-align: left;
}
.contribute-tools .btn-contrib {
    border-top: 1px solid #d4d4d4;
}
.contribute-tools > .btn-contrib:first-child{
    border-top: none;
}
.btn-contrib:hover {
    background-color: #DBDBDB;
}
.contribute-tools .dropdown-menu li a {
    cursor: pointer;
}
@media(max-width:991px){
    .contribute-tools {
        width: auto;
    }
    .contribute-tools .btn {
        width: auto;
        text-align: center;
    }
    .panel-contribute > .panel-body {
        padding: 15px 51px 15px 15px;
    }
}

/* Ads
-------------------------------------------------- */

.tnt-ads-container{
    min-height: 1px; /* allows floated ads to be rendered */
}

.tnt-expandable-ad-wrapper .noOverlay {
    position: relative;
}

.tnt-expandable-ad-wrapper .overlay {
    position: absolute;
}


.tnt-text-ad-wrapper {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    position: relative;
}

.tnt-text-ad-wrapper a {
    font-weight: bold;
}

.tnt-text-ad-wrapper .tnt-text-ad-container {
    padding: 10px 10px 25px;
}

.tnt-text-ad-wrapper span.tnt-text-ad-flag {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 4px 0;
    float: right;
    padding: 3px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .625em;
    text-align: center;
    background: #F0F0F0;
    color: #BBB;
}

#blox-ad-position-_popup1 {
    min-height: auto;
}

.tnt-ads-popup {
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 99999;
}

.tnt-ads-popup .fa {
    color: #fff;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
	-ms-transform: translate(115%, -85%);
	-webkit-transform: translate(115%, -85%);
	-moz-transform: translate(115%, -85%);
	-o-transform: translate(115%, -85%);
	transform: translate(115%, -85%);  
}

.tnt-ads-popup .tnt-text-ad-container {
    background-color: #f0f0f0;
}

#flashcurl {
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1039;
}

.cover {
    background-image: url("../../../template/resources/images/curl.png");
    background-size: 100% auto;
    height: 75px;
    position: relative;
    right: 0;
    top: 0;
     -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
     -o-transition: all 0.8s;
    transition: all 0.8s;
    width: 75px;
    z-index: 1002;
}

#flashcurl:hover .cover {
    height: 500px;
    width: 500px;
}

#smallflash, #largeflash {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
   -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
     -o-transition: all 0.8s;
    transition: all 0.8s;
}

#smallflash {
    height: 75px;
    right: 0;
    top: 0;
    width: 75px;
    z-index: 1001;
}

#largeflash {
    height: 500px;
    right: -425px;
    top: -425px;
    width: 500px;
    z-index: 999;
}

#smallflash object {
    height: 75px;
    position: relative;
    width: 75px;
}

#largeflash object {
    height: 500px;
    position: relative;
    width: 500px;
}

#flashcurl:hover #smallflash {
    height: 75px;
    width: 75px;
    z-index: 998;
    right: -425px;
    top: -425px;
}

#flashcurl:hover #largeflash {
    height: 500px;
    right: 0;
    top: 0;
    width: 500px;
    z-index: 999;
}

#pageflip {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
#pageflip img {
    height: 75px;
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
    z-index: 99;
}
.tnt-pagecurl-ad-wrapper {
    margin-bottom: 0 !important;
    position: inherit !important;
}
#pageflip a img {
    box-shadow: -2px 2px 20px 1px rgba(0, 0, 0, 0.3);
}
#closeButton {
    float: right;
    position: relative;
    right: 434px;
    top: 480px;
    z-index: 999999;
}
#tncms-region-ads-page-curl div {
    max-width: none !important;
    margin-bottom: 0px !important;
}
.pull-right .dfp-ad {
    min-height: 1px !important;
    float:right !important;
}
.pull-left .dfp-ad {
    min-height: 1px !important;
    float:left !important;
}

/* Wallpaper Ads
*******************/

body.wallpaper-ad {
    background-position:center top;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.tnt-ads-wallpaper #wallpaper-left, .tnt-ads-wallpaper #wallpaper-right {
    height: 100%;
    position: fixed;
    top: 0;
}
.tnt-ads-wallpaper #wallpaper-left {
    left: 0;
}
.tnt-ads-wallpaper #wallpaper-right {
    right: 0;
}
.tnt-ads-wallpaper #wallpaper-left a, .tnt-ads.wallpaper #wallpaper-right a {
    display: block;
    height: 100%;
    width: 100%;
}

/* Anchor Ads
*******************/

.tnt-ads-anchor {
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px !important;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-webkit-transform: translate(-50%, 0%);
    z-index: 1039;
}

.tnt-ads-anchor.alert, .tnt-ads-container.alert {
    border: 0px none;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
}

@media (max-width:991px){
    .tnt-ads-anchor img {
        max-width: 310px;
    }
}

.tnt-flashpagecurl-ad-wrapper {
    margin-bottom: 0px !important;
}

.modal.fullscreen .photo-carousel .item .tnt-image-ad-wrapper img {
    top: initial!important;
    transform: initial!important;
    -webkit-transform: initial!important;
    -moz-transform: initial!important;
    -ms-transform: initial!important;
    -o-transform: initial!important;
}

/* Panels
-------------------------------------------------- */
.panel {
    border-radius:0;
}

/* Assets
-------------------------------------------------- */

.cutout {
    background:none !important;
    background-color:transparent !important;
}

/* Articles
-------------------------------------------------- */

/* Base styles used by all article assets */
body.article .asset {}

/* Longform */
/* Base styles used by all longform article assets */
.article-longform .asset-header .hammer,
body.article .article-longform .asset-header .kicker,
body.article .article-longform .asset-header h1 {
    margin: 0 20px;
}

@media screen and (min-width: 768px) {
    body.article .article-longform .asset-header .hammer,
    body.article .article-longform .asset-header .kicker,
    body.article .article-longform .asset-header h1 {
        margin: 0 120px;
    }
}

/* Collections
-------------------------------------------------- */

/* Series */
.series-stream.jumbotron {
    padding: 15px;
}

.collection-content.series .stream-count {
    margin-left: 7px;
}

.stream-container.stream-sm .stream-count {
    margin-left: 1px;
}

.collection-content.series .panel-body.business {
    padding: 0px 0px 0px 15px;
}

.collection-content.series .panel-body.business .card {
    border: none;
}

/* Series slide box */
#slidepanel{
    max-width:400px;
    height: auto;
    position:fixed;
    bottom:0px;
    right:-430px;
    z-index:1;
}
#slidepanel a.close{
    position:absolute;
    cursor:pointer;
    top:10px;
    right:10px;
}

/* Classified ads
-------------------------------------------------- */

.classifieds-nav.navbar.navbar-default {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.classifieds-nav .navbar-brand {
    padding: 10px 16px 10px 0;
    margin-bottom: 8px;
}

.card-classifieds-links a {
    opacity: .8;
    color: #222;    
}

.card-classifieds-links a:hover {
    opacity: 1;
    color: #222;
    text-decoration: none;
}


/* Button rows
-------------------------------------------------- */
.button-row {
    margin-left: -2px;
    margin-right: -2px;
}
.button-row > div {
    padding-left: 2px;
    padding-right: 2px;
}


/* Classified landing
-------------------------------------------------- */
.app-classifieds .cls-landing-beta .cls-info-content {
    padding: 15px;
}

.app-classifieds .cls-landing-beta.asset .asset-body ul.social-share-links {
    margin-bottom: 0;
}

.app-classifieds .cls-landing-beta .cls-info-tabs{
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    margin-bottom:10px;
}

.app-classifieds .cls-landing-beta .cls-info-tabs > li > a {
    font-weight: bold;
}

.app-classifieds .cls-landing-beta .cls-info-tabs > li > a > h4 {
    margin: 0;
}

@media print {
    .app-classifieds .cls-landing-beta .cls-info-tabs {
        display: none;
    }
    .app-classifieds .cls-landing-beta .cls-info-content > .tab-pane {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

.app-classifieds .cls-landing-beta .asset-carfax-check {
    margin-bottom: 25px;
}

.app-classifieds .cls-landing-beta .asset-price-bar {
    background-color: rgba(0,0,0,0.03);
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.08);
    border-bottom: 1px solid rgba(0,0,0,0.08);
    margin-bottom: 25px;
    text-align: center;
}

.app-classifieds .cls-landing-beta .asset-price-bar h2 {
    margin-bottom: 0;
}

.app-classifieds .cls-landing-beta .asset-price-bar .asset-price{
    display:inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.app-classifieds .cls-landing-beta .asset-price-bar .btn{
    vertical-align: middle;
    margin: 0 2px;
}

.app-classifieds .cls-landing-beta .asset-pdf-display {
    padding-bottom: 20px;
}

.app-classifieds .cls-landing-beta.asset .asset-body .cls-fields {
    margin-bottom: 0;
}

.app-classifieds .cls-landing-beta .cls-fields li {
    width: 100%;
    float: left;
    min-height: 30px;
}

.app-classifieds .cls-landing-beta .cls-fields dl.dl-info {
    font-size: 16px;
}

.app-classifieds .cls-landing-beta .cls-fields dl.dl-info dt {
    font-weight: bold;
    font-size: 14px;
}

.app-classifieds .cls-landing-beta .cls-fields dl.dl-info dd {
    word-wrap: break-word;
}

.app-classifieds .cls-landing-beta #tab-features li {
    width: 100%;
    float: left;
    min-height: 30px;
}

.app-classifieds .cls-landing-beta .feature-group {
    margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
    .app-classifieds .cls-landing-beta #tab-features li,
    .app-classifieds .cls-landing-beta .cls-fields li {
        width: 49%;
    }
}

@media screen and (min-width: 768px) {
    .app-classifieds .cls-landing-beta #tab-features li,
    .app-classifieds .cls-landing-beta .cls-fields li {
        width: 33%;
    }
}



/* Blocks
-------------------------------------------------- */

/* Base styles used by all blocks */
#main-page-container .block,
body.modal-doc .block {
    margin-bottom:20px;
}

/* block titles */
.block-title h1, .block-title h2, .block-title h3, .block-title h4, .block-title h5, .block-title h6 {
    margin:0;
}

/* block note */
.block-note {
    margin-bottom: 20px;
}

.block-title .block-title-inner {
    display:inline-block;
}

.block.heading-color .block-title-inner {
    padding:10px 20px;
}

.block-title.light > .block-title-inner > * {
    color: rgba(255,255,255,.8);
}
.block-title.light > .block-title-inner > * > small, .block-title.light > .block-title-inner > * > a {
    color: rgba(255,255,255,.8);
}
.block-title.dark > .block-title-inner > * {
    color: rgba(0,0,0,.8); }
.block-title.dark > .block-title-inner > * > small, .block-title.dark > .block-title-inner > * > a {
    color: rgba(0,0,0,.8);
}

/* block text color */
.block .calendar-time,
.block .calendar-time time {
    color: #777;
}

.block.dark a,
.block.dark a:hover {
    color:rgba(0,0,0,.8);
}

.block.dark {
    color:rgba(0,0,0,.7);
}

.block.dark .text-muted, 
.block.dark .card h5 small,
.block.dark .card .calendar-time,
.block.dark .card .calendar-time time{
    color:rgba(0,0,0,.5);
}

.block.dark .card .content-overlay,
.block.dark .card .content-overlay a,
.block.dark .card .content-overlay a:hover{
    color:rgba(0,0,0,1);
}

.block.text-shadow .block-title.dark,
.block.dark.text-shadow .card{
    text-shadow: 0 1px 3px rgba(255,255,255,.6)
}
/*
.block.light a,
.block.light a:hover {
    color:rgba(255, 255, 255, .8);
}
*/
.block.light .card a,
.block.light .card a:hover {
    color:rgba(255,255,255,.8);
}
.block.light .card {
    color:rgba(255,255,255,.7);
}

.block.light .card .text-muted, 
.block.light .card h5 small,
.block.light .card .calendar-time,
.block.light .card .calendar-time time {
    color:rgba(255,255,255,.6);
}

.block.light .card .label-flag {
    color:rgba(255,255,255,.8);
}

.block.light .card .content-overlay,
.block.light .card .content-overlay a,
.block.light .card .content-overlay a:hover{
    color:rgba(255,255,255,1);
}

.block.text-shadow .block-title.light,
.block.text-shadow .card,
.block.light.text-shadow .card{
    text-shadow: 0 1px 3px rgba(0,0,0,.6)
}

@media screen and (min-width: 768px) {
    #main-page-container .block {
        margin-bottom:40px;
    }
}

/* Cards
-------------------------------------------------- */

.card {
    width:100%;
    margin-bottom: 20px;
    position: relative;
}

.card .card-container > .card-image {
    overflow: hidden;
    position: relative;
}

.card.has-image > .card-container > .card-body {
    padding-top:10px;
}

.card .card-image .photo {
    margin:0;
}

.card .card-image-group {
    margin-bottom:10px;
}

.card .card-image img,
.photo img.full {
    width: 100%;
}

.photo img.true-size{
    margin: 0 auto;
}

.photo.layout-vertical img.letterbox {
    width: auto;
    margin: 0 auto;
}

.card .card-image .photo.layout-vertical img {
   /* letterboxed img */
   max-height: 200px;
   width: auto;
   margin: 0 auto;
}

.card .card-image .photo.layout-vertical {
    background-color: rgba(0,0,0,.85);
    text-align: center;
    overflow: hidden;
}
.card .card-image .photo.layout-vertical,
.card .card-image .photo.layout-vertical a{
    display:block;
    width:100%;
}

.card .card-labels {
    display:none;
}

.card .card-meta .cm {
    display:none;
}

.card-bg-color .card .card-image .photo {
    margin-bottom:0;
}

/* Showcase */
.card.showcase .showcase-box{
    position: relative;
    width:49%; /* initial width */
    margin:.5%;
}

.card.showcase .card-container > .card-image {
    width: 100%;
    margin-bottom: 10px;
}

.card.showcase .card-image.mugshot .photo.layout-vertical img {
    height: 220px;
}

@media screen and (min-width: 768px) {
    .card.showcase .card-image.mugshot .photo.layout-vertical img {
        height: auto;
        min-height: 220px;
        max-height: 420px;
    }
}

/* Coupon Card
-------------------------------------------------- */
.card.coupon.panel {
    box-shadow:none;
    border:2px dashed rgba(0,0,0,.08);
}

/* Cards - Panel */

.card-panel {
    width:100%;
    border-color:rgba(0,0,0,.1);
}

.card-panel .card {
    margin-bottom:0;
}

.card .card-social {
    float: right;
    margin-left: 15px;
}

.card .social-share-links>ul {
    margin-bottom:0;
}

.card .social-share-links.list-inline>li {
    padding:0;
}

/* Cards - Grid */

.card-grid .card-panel .panel-body, .card-bg-color.card-img-lg .card-panel .panel-body {
    padding:0;
}

.card-grid .card-panel .card-body, .card-bg-color.card-img-lg .card-panel .card-body {
    padding:15px;
}

.card-grid .card .card-image .photo {
    width:100%;
    margin:0;
}

/* Cards - Audio */

.card .card-body audio::-webkit-media-controls-enclosure {
    max-width: 100%;
}

.card.audio .card-image {
  width: 100%;
  padding-bottom:10px;
}

.card.audio .card-body {
    overflow: hidden;
}

.card.audio audio {
    max-width: 100%;
}

.squery-md .card.audio .card-image {
    float: left;
    width: 33%;
    padding-bottom: 0px;
}

.squery-md .card.audio.has-image .card-body {
    margin-left: 33%;
    padding-left: 15px;
}

.inline-audio .card-headline h3 {
    font-size: 18px;
}

/* Cards - Text promo */
/* TODO - Revist. This is a patch to correct a change Bootstrap made to the media object. */
.card.promo figure.pull-left img.media-object.img-thumbnail {
    max-width: 100%;
}

/* Cards - Coupon */

.card.coupon .card-business,
.card.coupon .card-disclaimer,
.card.coupon .card-meta {
    clear:both;
    margin-bottom:10px;
}

.card.coupon .save-asset{
    margin-bottom: 10px;
}

/* Cards - Coupon (related side bar)*/

.asset-related-coupon.inline-asset .card-business .card-image {
    width: 100% !important;
}

.asset-related-coupon.inline-asset .media-preview.business-asset {
    width: 50%;
    margin: 0px auto;
}

.asset-related-coupon.inline-asset .card-business .card-body {
    margin-left:0 !important;
    padding-left:10px !important;
}

.asset-related-coupon.inline-asset .panel-body {
    padding: 0px;
}

.asset-related-coupon.inline-asset .card.business .card-image img {
    margin: auto;
    width: auto;
}

.asset-related-coupon.inline-asset .card.business {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.asset-related-coupon .card.coupon .save-asset {
    margin: 5px 0 10px 0;
}

/* Cards - Product (related side bar) */

.asset-related-product.inline-asset .card-meta {
    text-align: center;
}

.asset-related-product.inline-asset .card-price {
    font-weight: bold;
    font-size: 158%;
    line-height: 25px;
}

.asset-related-product.inline-asset .card-business .card-image {
    width: 100% !important;
}

.asset-related-product.inline-asset  .media-preview.business-asset {
    width: 50%;
    margin: 0px auto;
}

.asset-related-product.inline-asset .card-business .card-body {
    margin-left:0 !important;
    padding-left:10px !important;
}

.asset-related-product.inline-asset .card.business .card-image img {
    margin: auto;
    width: auto;
}

.asset-related-product.inline-asset .card.business {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.view-button {
    font-weight:bold;
    padding: 14px 7px 14px 7px;
    font-size:14px;
}

/* Cards - Inline */

.inline-asset .card {
    border: 1px solid rgba(0,0,0,.1);
    margin:0;
}

.inline-asset .card .card-image figure {
    margin: 0;
}

.inline-collection {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-top:20px;
    padding-bottom:20px;
}

.inline-asset .card.photo-carousel {
    border: none;
}

.inline-asset .card .card-body {
    padding: 10px;
}

.inline-asset .card.summary .card-image .photo {
    width: auto;
    float: none;
}

.inline-asset .card .card-body .card-headline h3 {
    margin: 0;
    font-size: 14px;
    line-height:18px;
}

.inline-asset .card .card-body .card-lead {
    display:none;
}

.inline-asset .card .card-body .card-lead p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    overflow:hidden;
}

.dark-theme .card-panel {
    border-color:rgba(255,255,255,.1);
}

.popover-content .card:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .card .card-container > .card-image {
        width: 33%;
        float: left;
    }
    .card-img-sm .card .card-container > .card-image {
        width:15%;
    }
    .card-img-lg .card .card-container > .card-image {
        width:40%;
        max-height:none;
    }
    .card.has-image > .card-container > .card-body {
        margin-left:33%;
        padding:0 0 0 15px;
    }
    .card-img-sm .card.has-image > .card-container > .card-body {
        margin-left:15%;
    }
    .card-img-lg .card.has-image > .card-container > .card-body {
        margin-left:40%;
    }
    .card .card-labels {
        display: block;
    }
    .card .card-meta .cm {
        display:block;
    }
    .card-grid .card .card-container > .card-image {
        width: 100%;
        float: none;
    }
    .card-grid.card-img-sm .card-panel .panel-body {
        padding:15px;
    }
    .card-grid.card-img-sm .card.has-image > .card-container > .card-image {
        width:20%;
        float:right;
    }
    .card-grid.card-img-sm .card.has-image > .card-container > .card-body {
        margin:0 20% 0 0;
        padding:0 15px 0 0;
    }
    .card-grid .card.has-image > .card-container > .card-body {
        margin-left:0;
        padding:15px 0 0 0;
    }
    .card-grid .card-panel .card.has-image > .card-container > .card-body {
        padding:15px;
    }
    .card-grid.card-img-sm .card-panel .card.has-image > .card-container > .card-body {
        padding:0 15px 0 0;
    }
    .inline-asset .card .card-container > .card-image {
        width: 100%;
        float: none;
    }
    .inline-asset .card.has-image > .card-container > .card-body {
        margin:0;
        padding:10px;
    }
    .inline-asset .card .card-body .card-lead {
        display:block;
    }
}

@media (min-width: 992px) {

}

.light .asset .asset-body p,
.light div.caption-inner div.caption-text p,
.light .asset .photo-carousel .caption-container p{
    color: rgba(255,255,255,.8);
}

.dark .asset .asset-body p,
.dark div.caption-inner div.caption-text p,
.dark .asset .photo-carousel .caption-container p{
    color: rgba(0, 0, 0, 0.8);
}

/* Calendar Event List
-------------------------------------------------- */
.card.event-list {
    list-style: none;
    padding: 0;
}

.card.event-list .event-list-item {
    width: 100%;
    margin-bottom: 15px;
}

.card.event-list .event-list-item.last {
    margin-bottom: 0px;
}

.card.event-list .event-list-item .event-date-container {
    float: left;
    width: 50px;
    text-align: center;
}

.card.event-list .event-list-item .event-info {
    overflow: hidden;
    margin-left: 50px;
}

.card.event-list .event-list-item .event-info i.fa {
    width: 15px;
    text-align: center;
    margin-right: 2px;
}

.card.event-list .event-list-item .event-date-container span.event-day {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
}

.card.event-list .event-list-item .event-date-container span.event-month {
    display: block;
    text-transform: uppercase;
    line-height: 1;
}

.card.event-list .event-list-item .event-date-container span.event-past {
    display: block;
    font-size: 24px;
    line-height: 1;
}

.card.event-list .event-title h2,
.card.event-list .event-title h3,
.card.event-list .event-title h4 {
    margin: 0;
}

.card.event-list .event-title h2 {
    font-size: 24px;
}

.card.event-list .event-title h3 {
    font-size: 18px;
}

.card.event-list .event-title h4 {
    font-size: 16px;
}

.card.event-list .event-list-item .event-date p {
    margin: 0;
}

/* Business Cards
-------------------------------------------------- */
.card.business .card-tag {
    position: absolute;
    top: 0;
    right: 0;
}
.card.business .card-tag .tag-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 50px 50px 0;
}
.card.business .card-tag .tag-txt {
    padding: 6px 9px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: #fff;
}
.card.business .card-social {
    float:none;
    margin-left:0;
    margin-bottom: 10px;
}
.card.business .social-share-links.list-inline>li {
    padding:0 5px 0 0;
}
.card.business.featured .card-tag .tag-bg {
    border-color: transparent #ccc transparent transparent;
}
.card.business.power .card-tag .tag-bg {
    border-color: transparent #77bf3b transparent transparent;
}
.card.business.enhanced .card-tag .tag-bg {
    border-color: transparent #589bf7 transparent transparent;
}
/* Compact Mode - Not mobile first :_( */
@media (max-width: 767px) {
    .card-compact > .card-panel, .card-compact > .card, .card-compact > .row > div > .card-panel, .card-compact > .row > div > .card {
        width:auto;
        margin:0;
        box-shadow:none;
        border:1px solid rgba(0,0,0,.1);
        border-width:0 0 1px 0;
    }
    .card-compact > .card, .card-compact > .row > div > .card {
        padding:15px;
    }
    .card-compact > .card:first-child {
        border-top:1px solid rgba(0,0,0,.1);
    }
    .card-compact .card.has-image > .card-container > .card-image {
        width:75px;
        float:left;
        margin-right:10px;
    }
    .card-compact .card.has-image > .card-container > .card-body {
        padding-top:0;
    }
    .card-compact .card.has-image > .card-container > .card-body {
        margin-left:85px;
    }
    .card-compact .card .card-headline h1, .card-compact .card .card-headline h2, .card-compact .card .card-headline h3, .card-compact .card .card-headline h4, .card-compact .card .card-headline h5, .card-compact .card .card-headline h6 {
        margin-bottom:5px;
    }
    .card-compact .card .card-meta, .card-compact .card .card-lead, .card-compact .card .card-share, .card-compact .card .card.author {
        margin:5px 0 0 0;
    }
    .card-compact .card .card-lead p {
        margin-bottom:0;
    }
    .card-compact .card .card-meta ul {
        margin-bottom:0;
        margin-left:0;
    }
    .card-compact .card .card-meta ul li:first-child {
        padding-left:0;
    }
    .card-compact.card-img-lg .card-panel .panel-body, .card-compact > .row > div > .card-panel .panel-body {
        padding:15px;
    }
    .card-compact.card-img-lg .card-panel .card-body, .card-compact > .row > div > .card-panel .card-body {
        padding:0;
    }
}

/* Icons, flags, and labels
-------------------------------------------------- */
.premium-asset-icon {
    font-size: 62%;
    vertical-align: 5px;
}

.headline-list .premium-asset-icon {
    vertical-align: 2px;
    margin-left: -18px;
    margin-right: 4px;
}

.headline-list li.hide-bullets {
    list-style-type: none;
}

.headline-list .premium-asset-icon {
    vertical-align: 2px;
    margin-left: -18px;
    margin-right: 4px;
}

.photo .stock-photo-label {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 2px 4px;
}

.stock-photo-label {
    color: rgba(255,255,255,.6);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.card figure .image .asset-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px;
    color: #FFF;
    background-color: rgba(0,0,0,0.65);
    z-index: 2;
}

/* Top Story List
-------------------------------------------------- */

.card-top-story-list .headline-list > .card {
    border-bottom:1px solid rgba(0,0,0,.1);
    padding-left:0;
    padding-right:0;
}

.light .card-top-story-list .headline-list > .card {
    border-color:rgba(255,255,255,.2);
}

.card-top-story-list .headline-list .card .card-headline h4 {
    font-size:16px;
    line-height:1.2em;
}

.card-top-story-list .headline-list .card .card-body div:last-child,
.card-top-story-list .headline-list .card .card-body div:last-child p,
.card-top-story-list .headline-list .card .card-body div:last-child h4,
.card-top-story-list .headline-list .card .card-body div:last-child h3,
.card-top-story-list .headline-list .card .card-body div:last-child h2 {
    margin-bottom:0;
}

@media screen and (min-width: 768px) {
    .card-top-story-list .headline-list > .card {
        padding-bottom:10px;
        margin-bottom:10px;
    }
    .card-top-story-list .headline-list .card .card-headline h3 {
        font-size:20px;
        line-height:1.2em;
    }

    .card-top-story-list.top-grid .card > .card-container > .card-image {
        width:25%;
        float:left;
        margin:0 20px 10px 0;
    }

    .card-top-story-list.top-grid .card > .card-container > .card-body {
        margin:0;
        padding:0;
    }

    .card-top-story-list.top-grid .headline-list {
        display: -ms-Flexbox;
        -ms-box-orient: horizontal;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top:5px;
    }

    .card-top-story-list.top-grid .headline-list > .card {
        width:50%;
        width: 100%\9;
        margin:0;
        padding:15px 0;
        border-top:1px solid rgba(0,0,0,.1);
        border-bottom:0;
    }

    .card-top-story-list.top-grid .headline-list > .card:nth-child(even) {
        padding-left:15px;
    }

    .card-top-story-list.top-grid .headline-list > .card:nth-child(odd) {
        padding-right:15px;
    }

    .card-top-story-list.top-grid.card-bg-color .headline-list > .card:nth-child(odd) {
        border-right:1px solid rgba(0,0,0,.1);
    }

    .card-top-story-list.top-grid .headline-list > .card > .card-container {
        width:100%;
    }

}


/* Ads
-------------------------------------------------- */

.tnt-ads,
.tncms-region-ads div:first-child,
.tnt-ads-container div:first-child {
    display: block;
    margin: 0 auto 20px;
}

.tnt-ads-container iframe,
.tncms-region-ads iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tncms-region-ads :empty {
   margin-bottom: 0px;
}

.tnt-ads-impact .tnt-ads {
    margin: 0 auto;
}

#fixed-impact-top,
#fixed-impact-bottom,
#blox-ad-position-fixed-impact-top1,
#blox-ad-position-fixed-impact-bottom1 {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .tnt-ads,
    .tncms-region-ads  div:first-child,
    .tnt-ads-container div:first-child {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 320px) {
    #fixed-leaderboard-top-container {
        padding: 0;
    }
    #fixed-leaderboard-bottom-mobile {
        margin: 0 0 20px -15px;
    }
}
.tnt-ads-overline,
.tncms-region-ads div:first-child.tnt-ads-overline {
    color: #CCC;
    font-size: .625em;
    letter-spacing: 1px;
    margin: 0 0 .6em 0;
    text-align: center;
    text-transform: uppercase;
}

.tnt-ads-container.tnt-ads,
.tnt-ads-container .tnt-ads div:first-child,
.tncms-region-ads .tnt-ads div:first-child,
.tnt-ads-impact .tnt-ads {
    margin: 0 auto;
}

div[id*="debug"] {
    margin: 0 auto !important;
}


/* Search forms
-------------------------------------------------- */

.search-form-container {
    position: relative;
}

.search-form-container .centered-content {
    position: relative;
    z-index: 1;
    max-width: 100%;
}

.search-form-container .img-responsive{
    width:100%;
}

.checkbox.search-section {
    width:33%;
    float:left;
}

@media screen and (max-width: 991px) {
    .search-form-container .content-overlay {
        position: relative;
    }

    .search-form-container.has-image .centered-content-stage {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .search-form-container .centered-content-stage img {
        display:none;
    }
}

@media screen and (min-width: 992px) {
    .search-form-container.has-image .centered-content {
        max-width: 90%;
    }
}

@media screen and (min-width: 1280px) {
    .container-fullscreen-region .search-form-container .centered-content {
        max-width: 65%;
    }
}

.checkbox.search-section {
    width: 33%;
    float: left;
}

@media screen and (max-width: 768px) {
    .checkbox.search-section {
        width: 50%;
    }
}

/* Social share links
-------------------------------------------------- */

.social-share-links.stacked .social-share-link {
    margin-bottom: 1px;
}

.social-share-link {
    opacity: 0.8;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.social-share-links .social-share-link:hover {
    opacity: 1;
}

.social-share-link a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color:#222;
}



.social-share-links.icon .social-share-link a {
    color:inherit;
}

.fa-stack-2x.fa-square {
    background-color:#222;
}

.social-share-links .social-share-link a:hover .share-expand  {
    color:#fff;
}

.social-share-links .social-share-link .fb:hover .fa-stack-2x.fa-square,
.social-share-links .social-share-link .fb:hover .fa-stack + .tooltip > .tooltip-inner {
    background-color: #3B5998;
}
.social-share-links .social-share-link .fb:hover .fa-stack + .tooltip > .tooltip-arrow {
    border-left-color: #3B5998;
}

.social-share-links .social-share-link .tw:hover .fa-stack-2x.fa-square,
.social-share-links .social-share-link .tw:hover .fa-stack + .tooltip > .tooltip-inner {
    background-color: #55acee;
}
.social-share-links .social-share-link .tw:hover .fa-stack + .tooltip > .tooltip-arrow {
    border-left-color: #55acee;
}

.social-share-links .social-share-link .gp:hover .fa-stack-2x.fa-square, .social-share-links.expanding .social-share-link:hover .gp {
    background-color: #dd4b39;
}

.social-share-links .social-share-link .em:hover .fa-stack-2x.fa-square, .social-share-links.expanding .social-share-link:hover .em,
.social-share-links .social-share-link .pr:hover .fa-stack-2x.fa-square, .social-share-links.expanding .social-share-link:hover .pr {
    background-color: #111;
}

.social-share-links .social-share-link .save-asset:hover .fa-stack-2x.fa-square, .social-share-links.expanding .social-share-link:hover .save-asset {
    background-color: #f780a0;
}

.social-share-links .social-share-link a:hover .fa-stack-2x.fa-square {
    color:transparent;
}

.social-share-links .social-share-link:hover .fb {
    color: #3B5998;
}

.social-share-links .social-share-link:hover .tw {
    color: #55acee;
}

.social-share-links .social-share-link:hover .gp {
    color: #dd4b39;
}

.social-share-links .social-share-link:hover .em, 
.social-share-links .social-share-link:hover .pr {
    color: #111;
}

.social-share-links .social-share-link:hover .save-asset {
    color: #f780a0;
}
.social-share-links.expanding.icon .social-share-link:hover a {
    color: #fff;
}

.social-share-links.expanding.circle .social-share-link a {
    border-radius:15px;
}

.asset .share-container.content-left {
    margin:50px 0 50px 0;
    float:left;
    font-size:26px;
}

body.fixed-nav .asset .share-container.content-left {
    margin:100px 0 50px 0;
}

.asset .share-container.content-left.affix {
    position:fixed !important;
    top:0;
}

.list-inline.social-links {
    margin-left: 0;
}

.list-inline.social-links > li {
    padding-left: 0;
    padding-right: 0;
}


/* Avatars
-------------------------------------------------- */

.tn-user-avatar i.fa-user {
    background: #C4C4C4;
    color: #FFF;
    font-size: 23px;
    padding: 3px 0;
    width: 30px;
}

.profile-container .avatar-container i.fa-user {
    background: #C4C4C4;
    color: #FFF;
    font-size: 78px;
    padding: 11px 0;
    width: 100px;
}

.profile-container .media.comment i.fa-user {
    background: #C4C4C4;
    color: #FFF;
    font-size: 32px;
    padding: 4px 0;
    width: 40px;
}

.profile-container .media.comment .avatar {
    width: 40px;
}

/* user and author */
.card.author {
    position:inherit;
}
.card.author .avatar-box{
    position: relative;
    width: 100px; /* initial width */
}

.card.author .avatar-box:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.card.author .avatar-box .user-profile-link{
    display:block;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.block .card .card.author,
.block .card .card.author .media-list,
.block .card .card.author .card-tagline p{
    margin-bottom:0;
}

/* Date square
-------------------------------------------------- */

.date-square {
    display:block;
    border:1px solid rgba(0,0,0,.3);
    border-radius:3px;
    text-align: center;
}
.date-square .month {
    display:block;
    border-bottom:1px rgba(0,0,0,.3);
    font-weight:bold;
    text-transform:uppercase;
    background-color: rgba(0,0,0,.3);
    color: #fff;
}
.date-square .ordinal {
    padding-top:10px;
    display:block;
    line-height:1.25em;
    font-weight:bold;
    font-size:2.25em;
}
.date-square .textual {
    padding-bottom:5px;
    display:block;
    line-height:1em;
    font-size:11px;
}


/* Mini Event Cards
-------------------------------------------------- */

.card.event.mini .card-date-square a,
.event-mini-weekly-date a { text-decoration: none; }
.card.event.mini .card-date-square a:hover .date-square,
.event-mini-weekly-date a:hover .date-square { background-color: rgba(0,0,0,.05); }
.card.event.mini .date-col { padding-right:0; }
.card.event.mini .card-headline * { margin-top:0; }
.card.event.mini .card-image .photo {
    overflow: hidden;
    max-height: 200px;
    width: 25%;
    float: left;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 10px;
}
.card.event.mini .card-schedule {
    font-style: italic;
    color: #444;
}
.event-mini-weekly-date {
}


/* Modals
-------------------------------------------------- */

.modal.fullscreen {
    background-color: rgba(0,0,0,.85);
    padding-right:0!important;
}

.modal.fullscreen .close {
    position: absolute;
    color: #fff;
    opacity: .4;
    font-size: 30px;
    z-index: 2;
    top: 15px;
    right: 15px;
}

.modal.fullscreen .close:hover {
    opacity: .8;
}

.modal.fullscreen .modal-body {
    height: 100%;
    width: 100%;
    padding: 0;
}

.modal.fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.modal.fullscreen .modal-content {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

.modal.fullscreen.modal-image .modal-dialog {
    height: initial;
}

.modal.fullscreen.modal-image .close {
    position: fixed;
    right: 20px;
}

.modal.fullscreen.modal-image img {
    padding:60px 0;
}

.modal.fullscreen.modal-image .modal-image-share {
    position: fixed;
    bottom: 0px;
    left:0;
    right:0;
    text-align: center;
    opacity: 1;
    color: #fff;
    background-color: rgba(0,0,0,.7);
    padding: 20px 0 5px;
}

.modal.fullscreen .photo-carousel {
    margin: 0;
    background: transparent;
    height: 100%;
}

.modal.fullscreen .photo-carousel .carousel-inner {
    width: 900px;
    margin: 0 auto;
}

.modal.fullscreen .owl-carousel,
.modal.fullscreen .owl-wrapper-outer,
.modal.fullscreen .owl-wrapper,
.modal.fullscreen .owl-item,
.modal.fullscreen .item,
.modal.fullscreen .owl-carousel .owl-stage,
.modal.fullscreen .owl-carousel .owl-stage-outer,
.modal.fullscreen .item-container {
    height: 100%!important;
    position: relative;
}

.modal.fullscreen .photo-carousel .item .photo-container {
    background: transparent;
}

.modal.fullscreen .photo-carousel .item .photo-container img,
.modal.fullscreen .photo-carousel .item .photo-container .tnt-video-container {
    max-height: 100%;
    max-width: 100%;
    height: initial;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modal.fullscreen .photo-carousel .item .photo-container {
    height: 100%;
    padding: 3% 0;
}

.modal.fullscreen .photo-carousel .caption-container {
    width: 100%;
    opacity: 1;
    color: #fff;
    transition: all 0.25s ease-out;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    padding: 20px;
    bottom: 0;
}

.modal.fullscreen .photo-carousel .caption-container p {
    color: #eee;
}

.modal.fullscreen .photo-carousel .item:hover .caption-container {
    opacity: 1;
}

.modal.fullscreen .photo-carousel .photo-carousel-control {
    background-color: rgba(0,0,0,.3);
    color: #fff;
    font-size: 28px;
    padding: 10px;
    opacity: 1;
    bottom: 15px;
    top: auto;
    left: auto;
}

.modal.fullscreen .photo-carousel .photo-carousel-control.left {
    right: 58px;
}

.modal.fullscreen .photo-carousel .photo-carousel-control.right {
    right: 15px;
}

.modal.fullscreen .photo-carousel .photo-count {
    bottom: 72px;
    right: 22px;
    font-weight: normal;
    color: #bbb;
}

.modal.fullscreen .photo-carousel .caption-container .btn-success {
    margin-top: 10px;
}

.modal.fullscreen .photo-carousel .photo-carousel-caption-toggle {
    opacity: .4;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    outline:0;
}
.modal.fullscreen .photo-carousel .photo-carousel-caption-toggle:hover {
    opacity: .7;
}

@media screen and (max-width: 900px) {
    .modal.fullscreen .photo-carousel .carousel-inner,
    .modal.fullscreen .photo-carousel .item .photo-container .tnt-video-container {
        width: 100%;
        max-height: initial;
    }
}

@media screen and (min-width: 768px) {
    .modal.fullscreen .photo-carousel.has-ad-unit {
        padding-top: 80px;
    }
    #fixed-leaderboard-top-container.overlay-leaderboard {
        position: fixed;
        top: 10px;
        z-index: 9999;
        background: transparent!important;
    }
}

/* Thumbnail Gallery
-------------------------------------------------- */

.gallery-thumbnails .thumbnail-container {
    height: 100px;
    width: 100px;
    overflow: hidden;
}
.gallery-thumbnails .photo-container {
    margin-bottom: 10px;
    margin-right: 10px;
}
.gallery-thumbnails .thumbnail-container img {
    height: 100px;
    width: auto;
    max-width: inherit;
}
.gallery-thumbnails .layout-vertical .thumbnail-container img {
    width: 100px;
    height: auto;
}
@media screen and (max-width: 767px) {
    .gallery-thumbnails .thumbnail-container {
        height: 90px;
        width: 90px;
    }
}

/* Maps
-------------------------------------------------- */

/* map object */
.map-canvas.single-location a.static-map {
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.map-canvas .gm-style-iw .card.summary {
    margin:8px 0 8px 8px;
    max-width:420px;
}
#gmap-business-map,
#gmap-classified-map {
    margin-bottom:20px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .business-search-map-container .gmap_marker .card.business { width: 100%; }
    .business-search-map-container { right: 15px; }
    .business-search-map-container .card.business .card-content > div:last-child { width: 90%; }
}
.mapped-number-badge {
    padding: 3px 8px;
    margin-top: -3px;
    font-size: 20px;
    font-weight: normal;
    border-radius: 14px;
}

/* Pricing Table
-------------------------------------------------- */

.pricing-table {
    text-align: center;
    border: 1px solid rgba(0,0,0,.15);
    margin-bottom: 18px;
}
.pricing-table .header {
     background-color: rgba(0,0,0,.8);
     color: rgba(255,255,255,.8);
     font-size: 16px;
     padding: 8px;
     margin: -1px -1px 0 -1px;
}
.pricing-table .price {
    font-size: 24px;
    background-color: rgba(0,0,0,.05);
    padding: 8px;
    border-bottom: 2px solid rgba(0,0,0,.05);
    margin-top: 1px;
}
.pricing-table .price small {
    font-size: 12px;
}
.pricing-table .html {
    padding: 10px 20px;
    height: 320px;
    overflow: auto;
    text-align: left;
}
@media screen and (max-width: 767px) {
    .pricing-table .html {
        height: auto;
    }
}
.pricing-table .description {
    padding: 10px;
    color: rgba(0,0,0,.5);
    border-bottom: 1px dotted rgba(0,0,0,.1);
}
.pricing-table .features ul {
    margin:0;
    padding:0;
}
.pricing-table .features ul li {
    padding: 10px;
    list-style: none;
    border-bottom: 1px dotted rgba(0,0,0,.1);
}
.pricing-table .features ul li:last-child {
    border:0;
}
.pricing-table .purchase {
    padding: 15px;
    border-top: 1px solid rgba(0,0,0,.1);
}

/* Schema
-------------------------------------------------- */
.schema-price {
    display: inline;
}

/* Caption Toggle
-------------------------------------------------- */

.caption-button {
    border: none;
    background: transparent;
}


/* TNPAY Errors
-------------------------------------------------- */
.tnpay-error {
    border-radius: 0;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
    background-color: #F2DEDE;
    color: #A94442;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #EBCCD1;
}
.tnpay-error ul {
    margin: 0;
}


/* CAPTCHA
-------------------------------------------------- */
.tncms-captcha-wrapper{
    width: auto !important;
}
.tncms-captcha-help{
    font-size: 95%;
    color: rgba(0,0,0,0.7);
    margin-top: 5px;
}
.tncms-captcha-response {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.tncms-captcha-response:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
}
.tncms-captcha-response::-moz-placeholder {
    color: #777;
    opacity: 1;
}
.tncms-captcha-response:-ms-input-placeholder {
    color: #777;
}
.tncms-captcha-response::-webkit-input-placeholder {
    color: #777;
}


/* Zoom
-------------------------------------------------- */

.zoom-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div.zoom-photos.clearfix i {
    left: 45%;
    position: absolute;
    color: white;
    top: 2.7%;
    font-size: 9.2em;
}

.zoom-photos .fa-search-plus::before {
    background-position: center center;
    color: white;
    content: "\f00e";
    font-size: 6em;
    margin: 0 auto;
    opacity: 0.5;
    position: absolute;
    text-align: center !important;
    top: 40%;
    width: 100%;
}

.zoom-photos p {
    line-height: 15px;
    margin-top: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
    font-size: 12px;
}

@media screen and (min-color-index:0)
and(-webkit-min-device-pixel-ratio:0) { @media {
    .zoom-photos .fa-search-plus::before { padding-top: 30%;top:auto; }
}}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .zoom-photos .fa-search-plus::before { top: 2%; left: 40%; }
}

@media only screen and (device-width: 768px) {
    .zoom-photos .fa-search-plus::before { top: 5.5%; left: 45%;}
}

/* Asset reccomendations
-------------------------------------------------- */
.asset-recommend.outbrain {
    margin-bottom: 20px;
}

/* Recent Comments
-------------------------------------------------- */

.recent-comments.bullet-decimal {
    list-style-type: inherit !important;
}

.commentContent {
    font-style: italic;
}

#comments-collapsible {
    opacity: 1;
    height: initial;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

#comments-collapsible.collapsed {
    opacity: 0;
    height: 0px;
}

#comments-collapsible-toggle {
    height: initial;
    display: block;
    width: 60%;
    margin: 0 auto;
}

#comments-collapsible-toggle.collapsed {
    display: none;
}

/* Asset Prev/Next Links
-------------------------------------------------- */
.asset-paging .animate {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.asset-paging a.overlay {
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
}
.asset-paging .inner {
    position: relative;
    overflow: hidden;
    max-height: 140px;
}
.asset-paging .dismiss {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    display: none;
}
.asset-paging .media p {
    font-size: 13px;
}
body.trigger-next .asset-paging .next .dismiss {
    display: block;
}
/** desktop */
@media screen and (min-width: 992px) {
    /* paging side links */
    .asset-paging .paging-link {
        position: fixed;
        top: 50%;
        top: calc(50% - 30px);
        display: none;
        outline: none;
        text-align: left;
        z-index: 1000;
        -webkit-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }
    .asset-paging .paging-link.prev {
        left: 0;
    }
    .asset-paging .paging-link.next {
        right: 0;
    }
    .asset-paging .paging-link.prev.offset {
        left: -70px;
    }
    .asset-paging .paging-link.next.offset {
        right: -70px;
    }
    .asset-paging a.arrow {
        position: relative;
        display: block;
        padding: 10px;
        width: 55px;
        color: #999;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ccc;
        z-index: 100;
        border: 1px solid rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
    .asset-paging .arrow .fa {
        font-size: 40px;
        margin: 0;
        display: block;
    }
    .asset-paging .prev a.arrow {
        border-left: 0;
    }
    .asset-paging .next a.arrow {
        border-right: 0;
    }
    .asset-paging a.arrow:hover {
        color: #333;
    }
    .asset-paging .paging-link:hover a.arrow,
    body.trigger-next .asset-paging .paging-link.next a.arrow {
        border-color: transparent;
        background: transparent;
    }
    .asset-paging .paging-link:hover .direction,
    body.trigger-next .asset-paging .paging-link.next .direction {
        opacity: 0;
    }
    .asset-paging .direction {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        opacity: 1;
        color: #222;
    }
    /* paging flyout container */
    .asset-paging .item {
        position: absolute;
        top: 0;
        margin: 0;
        width: 400px;
        background: #fff;
        border: 1px solid #ddd;
        top: -65%;
        height: 148px;
        opacity: 0;
        -webkit-box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.1);
    }
    .asset-paging .next .item {
        right: -460px;
        border-right: 0;
    }
    .asset-paging .prev .item {
        left: -460px;
        border-left: 0;
    }
    .asset-paging .paging-link.prev:hover .item {
        left: 0px;
        opacity: 1;
    }
    .asset-paging .paging-link.next:hover .item,
    body.trigger-next .asset-paging .paging-link.next .item {
        right: 0px;
        opacity: 1;
    }
    /* paging content */
    .asset-paging .dismiss {
        top: -24px;
        left: -26px;
        font-size: 24px;
    }
    .asset-paging .head {
        padding: 5px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }
    .asset-paging .media {
        padding: 15px;
        margin: 0;
    }
    .asset-paging .prev .item .media {
        padding-left: 50px;
    }
    .asset-paging .next .item .media {
        padding-right: 50px;
    }
    .asset-paging .media-object {
        max-width: 80px;
    }
    .asset-paging .media-heading {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    /* fluid container fixes */
    body.fluid .asset-paging {
        margin: -20px -15px 18px -15px;
    }
    body.fluid .asset-paging .paging-link {
        position: relative;
        top: 0;
        z-index: 1;
    }
    body.fluid .asset-paging .paging-link.prev {
        float: left;
    }
    body.fluid .asset-paging .paging-link.next {
        float: right;
    }
}
/* various large viewports/condensed */
body.trigger-condensed .asset-paging .direction {
    display: none;
}
body.trigger-condensed .asset-paging .arrow .fa {
    font-size: 30px; 
}
body.trigger-condensed .asset-paging a.arrow {
    padding: 25px 10px;
    width: 30px;
}
/* mobile */
@media screen and (max-width: 991px) {
    /* add a height to container to prevent jumping. */
    .asset-paging-container {
        height: 67px;
        margin: 0 -15px 20px -15px;
        overflow: hidden;
    }
    .asset-paging {
        bottom: -150px;
        positiom: relative;
        -webkit-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }
    body.trigger-next .asset-paging {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        width: 100%;
        background: #fff;
        left: 0;
        margin: 0;
        -webkit-box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.1);
    }
    .asset-paging .paging-link {
        display: none;
        border: 1px solid rgba(0,0,0,.1);
    }
    .asset-paging .arrow {
        width: auto;
        padding-top: 18px;
        display: block;
        height: 65px;
    }
    .asset-paging .paging-link .arrow .fa {
        font-size: 28px;
        color: #222;
    }
    .asset-paging .paging-link.prev {
        float: left;
        width: 15%;
        border-right: 1px solid rgba(0,0,0,.2);
        border-left:0;
        background-color: rgba(0,0,0,.02);
    }
    .asset-paging .paging-link.prev .item {
        display: none;
    }
    .asset-paging .paging-link.next {
        float: right;
        width: 85%;
        border-right:0;
    }
    .asset-paging .paging-link.next .arrow {
        float: right;
        padding-right: 15px;
    }
    .asset-paging .inner {
        height: 65px;
        padding: 3px 10px;
        overflow: hidden;
    }
    .asset-paging .dismiss {
        top: -34px;
        right: -10px;
        font-size: 30px;
    }
    .asset-paging .head {
        font-size: 12px;
    }
    .asset-paging .media {
        margin-top: 4px;
    }
    .asset-paging .media-heading {
        font-size: 14px;
        line-height: 16px;
        margin: 0;
    }
    .asset-paging .media-object {
        max-width: 32px;
    }
}

/* Responsive logo
-------------------------------------------------- */

.site-logo-container a img.img-responsive {
    display: inherit;
}

/* print styles
-------------------------------------------------- */
@media print{
    /*
    a[href].hidden-print-url::after {
        content:"";
    }
    */
    a[href]::after {
        content:"";
    }
    a[href].print-url::after {
        content:" (" attr(href) ") ";
    }

    article[data-url]::before {
        content: attr(data-url);
        display:block;
        margin:0 0 10px;
    }

    #asset-photo-carousel .owl-carousel.carousel-inner {
        margin:auto;
        width:100%;
        overflow:visible;
    }

    .asset-related-mugshot .photo.layout-vertical {
        max-width: 225px;
        height: auto;
    }

    .paginated-asset .owl-item {
        float: none !important; 
    }
    
    @page front-matter :left {
        @bottom-left {
            content: counter(page, lower-roman);
        }
    }
}

/* Status pages
-------------------------------------------------- */
#status-404 .error-code {
    font-size:132px;
    text-align:center;
}

/* Business products
-------------------------------------------------- */
.blox-products .item { 
    margin: 5px;
}
@media (min-width:768px){ 
    .blox-products .product-items > .item { 
        width: 33%; 
        float: left; 
        margin: 0; 
        padding: 5px;
     }
    .blox-products .product-items .card .card-image img { 
        max-height: 150px;
        max-width:100%; 
        margin: 0 auto; 
    }
}
.blox-products .product-items .card .card-container > .card-image { 
    width: 100%; 
    float: none; 
}
.blox-products .product-items .card.has-image > .card-container > .card-body { 
    margin-left: 0; 
    padding-left: 0; 
}
.blox-products .product-items .card .card-image img{ 
    height:auto;
}
.blox-products .product-items .card .card-image .photo.layout-vertical { 
    background: none;
}

/* PDF extracted text
-------------------------------------------------- */
#pdf-extracted-text-container a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
#pdf-extracted-text-container a:hover,
#pdf-extracted-text-container a:focus {
    text-decoration: none;
}
#pdf-extracted-text-container pre {
    margin-bottom: 0;
    background-color: inherit;
    border: none;
}

/* CE Source Text
-------------------------------------------------- */
.exchange-source {
    font-size: 13px !important;
    font-style: italic;
    color: #777 !important;
}

/* Utility: message
-------------------------------------------------- */
.message-block h3 {
    font-size: 30px; 
    font-weight: bold;
}
.message-block h2 {
    font-weight: bold;
    font-size: 40px;
}
.message-block.double-padding-top { 
    padding-top: 20px; 
}
@media (max-width: 480px){
    .message-block h3 {
        font-size: 18px; 
    }
    .message-block h2 {
        font-size: 20px;
    }
}

/* Calendar: Search
-------------------------------------------------- */
.calendar-search.search-form-container {
    background-color: inherit;
}
.calendar-search.squery-sm legend {
    display: none;
}
.calendar-search.squery-sm .col-md-12,
.calendar-search.squery-sm .col-md-6,
.calendar-search.squery-sm .col-md-4,
.calendar-search.squery-sm .col-md-3 {
    width: 100%;
}