@import url(https://fonts.googleapis.com/css?family=Hind:400,700,500|Open+Sans:400,400italic,700,700italic);

/* lee.css
 * version 1.2.2
-------------------------------------------------- */


/* Hotfixes - Future Flex core layout or theme styles
-------------------------------------------------- */

#fixed-leaderboard-bottom-mobile { margin-left: -15px; }

.list-inline.block-links li {
    padding:4px 6px;
}

.yamm .site-search-full-mobile .search-form-dropdown.dropdown {
    position: static;
}

.site-search-full-mobile .form-control:focus {
    z-index:2;
}

/* Font
-------------------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    /* fix viewport issues on iOS */
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Hind', sans-serif;
    font-weight:500;
}

.block-title-inner h2, .block-title-inner h3, .asset .asset-header h1 {
    font-weight:700;
}

@media (min-width: 768px) {
    .asset .asset-header h1 {
        font-size:50px;
    }
}


/* Fixed Ads (make top and bottom fixed ad positions feel less jumpy while loading)
-------------------------------------------------- */
body > .tnt-ads-container .tnt-ads {
    margin-bottom:0;
}

div#fixed-impact-top iframe {
    display: block;
}

.tnt-ads-container {
    min-height: auto;
}

/* Header
-------------------------------------------------- */
#site-navbar-container .navbar, #site-navbar-container .navbar-toggle.hamburger-desktop {
    max-height:70px;
}

#site-navbar-container .navbar-brand {
    height:auto;
    padding:12px;
}

#site-navbar-container .navbar-brand img {
    max-height:25px;
    max-width:100%;
    margin:0;
}

@media (min-width: 992px) {
    #site-navbar-container.affix-top .site-logo-container {
        max-width: 240px;
        overflow: hidden;
    }
    #site-navbar-container.affix-top .navbar-brand {
        padding: 17px 15px;
    }
    #site-navbar-container.affix-top .navbar-brand img {
        max-height:35px;
    }
    #site-navbar-container.affix-top .navbar-toggle.hamburger-desktop {
        padding: 20px 15px 14px 15px;
    }
    #site-navbar-container.affix-top .navbar-nav>li>a {
        padding-top:25px;
        padding-bottom:25px;
    }
    #main-page-container > .row > .tnt-ads-container {
        border-bottom:1px solid rgba(0,0,0,.1);
        margin-bottom:20px;
    }
    #main-page-container > .row > .tnt-ads-container > .tnt-ads {
        margin-bottom:20px;
    }
    body.fixed-nav #site-container {
      margin-top:70px;
    }
}

@media (min-width: 1200px) {
    #site-navbar-container.affix-top .navbar-brand {
        padding: 12px 15px;
    }
    #site-navbar-container.affix-top .navbar-brand img {
        max-height:46px;
    }
}

/* Nav
-------------------------------------------------- */
.offcanvas-drawer .site-brand-mark {
    float:left;
    padding:10px;
    position:absolute;
}

.offcanvas-drawer .site-brand-mark img {
    max-width:32px;
}

.offcanvas-drawer .site-follow-us {
    margin-left:52px;
    padding:13px 15px 10px;
    border-left:1px solid #444;
}

.offcanvas-drawer .site-follow-us .list-inline {
    margin:0;
}

.offcanvas-drawer .block-title {
    margin:15px; 20px;
    padding:0;
    border:none;
}

.offcanvas-drawer .block-title .block-title-inner {
    padding:0;
}

@media (min-width: 992px) {
    .drawer-open .offcanvas-close-btn { background-color:transparent; }

    .offcanvas-drawer {
        width: 275px;
        background-color: #222;
    }
    .offcanvas-drawer .navbar-nav li a,
    .offcanvas-drawer .navbar-nav .panel-title a,
    .offcanvas-drawer .open .dropdown-menu > li > a {
        font-size: 14px;
        padding: 10px 30px;
    }
    .offcanvas-drawer .navbar-nav li,
    .offcanvas-drawer .navbar-nav .panel-title {
        border-bottom:0!important;
    }
    .offcanvas-drawer .block-title {
        margin:15px 30px;
        padding:0;
    }
}

/* Subscribe, Customer Service nav links
-------------------------------------------------- */
.offcanvas-drawer .user-controls .list-inline .user-control-link {
    border-color:rgba(255,255,255,.2);
}

.offcanvas-drawer .search-form-container, .offcanvas-drawer .user-controls {
    border-bottom:none !important;
}

.site-nav-sections-header .list-inline.block-links.pos-top {
    margin:0;
    padding:0 15px 10px;
    float:none;
    background:rgba(0,0,0,.2);
}

.site-nav-sections-header .list-inline.block-links.pos-top > li {
    padding:0;
}

.site-nav-sections-header .list-inline.block-links.pos-top > li {
    padding-right:5px;
    margin-right:5px;
    margin-bottom:5px;
    border-right:1px solid rgba(255,255,255,.2);
}

.site-nav-sections-header .list-inline.block-links.pos-top > li:last-child {
    padding-right:0;
    margin-right:0;
    border-right:none;
}


/* Block classes
-------------------------------------------------- */
#main-page-container .block-section-segment > .block {
    margin-bottom:0;
}

.block-light .block {
    background-color:rgba(0,0,0,.04);
    padding:20px;
    border:1px solid rgba(0,0,0,.04);
}

.block-dark .block {
    background-color:#222;
    padding:20px;
}

.block-dark .block-title {
    border-color:rgba(255,255,255,.1);
}

.block-dark .block-title .block-title-inner {
    border-color:#ccc;
}

#site-container .block-dark a {
    color:rgba(255,255,255,.8);
}

#site-container .block-dark a:hover {
    color:#fff;
}

.block-obits-search .form-group {
    margin-bottom:0;
}

@media (min-width: 768px) {
    #main-page-container .block-section-row > .block {
        margin-bottom:0;
    }
    .block-light-grid .block {
        padding-bottom:0;
    }
    .block-dark-grid .block {
        padding-bottom:0;
    }
}

/* Wells
-------------------------------------------------- */
.well {
    border-radius:0;
    box-shadow:none;
}


/* Footer
-------------------------------------------------- */
#site-footer-container .site-logo-container img {
    max-width:100%;
    padding-right:30px;
}

#site-footer {
    margin-bottom:30px;
    padding:20px 20px 0;
}

#site-footer .site-logo-container {
    margin-bottom:20px;
}

#site-footer .site-follow .list-inline, #site-footer ul {
    margin:0 0 20px;
}

#site-copyright-container {
    border-top:1px solid rgba(0,0,0,.1);
}

/* Subscriptions
-------------------------------------------------- */
#lee-subscription-modal .lee-delivery-description .image {
    display:block;
    background: url("../images/allAccess.png?_dc=2") 50% 50% no-repeat;
    background-size:contain;
    max-width:300px;
    height:200px;

}

#lee-subscription-modal .lee-digital-description .image {
    display:block;
    background: url("../images/digital.png?_dc=2") 50% 50% no-repeat;
    background-size: contain;
    max-width:300px;
    height:160px;
}

#lee-subscription-modal .btn-default,
#lee-subscription-modal .btn-primary,
#user-falcon-fail .btn-default,
#subscribeForm .btn-default,
#site-container .meter.message .btn-default,
#site-container .meter.message .btn-primary,
#site-container .meter.notification a.btn-default {
    background-color:#0272AF;
    color:#fff;
    border:1px solid #0272AF;
    border-radius: 2px;
}

#lee-subscription-modal .btn-default:hover,
#lee-subscription-modal .btn-primary:hover,
#user-falcon-fail .btn-default:hover,
#subscribeForm .btn-default:hover,
#site-container .meter.message a.btn-default:hover,
#site-container .meter.message a.btn-primary:hover,
#site-container .meter.notification a.btn-default:hover {
    color:#ffffff;
    background-color:#035D8E;
    border-color:#035D8E;
}

#lee-subscription-modal .modal-content {
    border-radius: 0;
}

#lee-subscription-modal .modal-header {
    border:none;
    padding:15px 15px 0;
}

#lee-subscription-modal .modal-title {
    font-size:20px;
    line-height:1em;
    margin:15px 0 0 0;
    text-align: center;
}

#lee-subscription-modal .logged-in,
#lee-subscription-modal .not-logged-in {
    padding:0px 30px;
}

#lee-subscription-modal .modal-body p {
    line-height: 1em;
    text-align: center;
}

#lee-subscription-modal .modal-body p strong {
    font-weight:normal;
}

#lee-subscription-modal .panel-group {
    margin-top:15px;
}

#lee-subscription-modal .panel-title a {
    display:block;
    padding:10px 15px;
}

#lee-subscription-modal h4.text-center { 
    margin-bottom: 4px; 
}

#lee-subscription-modal .panel-title a[aria-expanded="true"],
#lee-subscription-modal .panel-heading {
    background-color:#444;
    color:#fff;
}

#lee-subscription-modal .panel-title a[aria-expanded="false"] {
    background-color: #f5f5f5;
    color:#428bca;
}

#lee-subscription-modal .panel-title a[aria-expanded="false"]:hover {
    text-decoration: underline;
}

#lee-subscription-modal .panel-title a:hover,
#lee-subscription-modal .panel-title a:focus {
    text-decoration:none;
}

#lee-subscription-modal ul {
    padding:0 0 0 18px;
}

@media (min-width:768px) {
    #lee-subscription-modal .modal-title {
      font-size:30px;
      line-height:1.1em;
    }
}

#user-falcon-fail form {
    margin-bottom:20px;
}

#user-falcon-fail form fieldset legend {
    border:none;
    text-align:center;
    text-transform:uppercase;
    color:#666;
    background-color:#f5f5f5;
    padding:5px;
    font-size:16px;
}

#zipcode-restriction .alert.alert-warning.zipcode-restriction-warning {
    background-color:#d9edf7;
    border-color:#bce8f1;
    color:#31708f;
}

#zipcode-restriction strong {
  font-weight:normal;
}

#zipcode-restriction .alert.alert-warning.zipcode-restriction-warning .text-right {
  text-align:left!important;
}

#zipcode-restriction .alert.alert-warning.zipcode-restriction-warning .alert-link {
  color:#245269;
}

#zipcode-restriction .alert.alert-warning.zipcode-restriction-warning .alert-link:hover {
  color:#0272AF;
}
