/* stl.css
 * version 1.1.5.0
-------------------------------------------------- */

/* Links
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Hind', sans-serif;
    font-weight:500;
    /** 2016-07-08 dbd complaint of mangled headlines */
    -webkit-font-feature-settings:"liga" 0; 
    font-feature-settings:"liga" 0; 
    -webkit-font-variant-ligatures: no-common-ligatures;
}

.bigh2 .card .card-headline h2 {font-size:50px;font-weight:700;line-height:50px;}

.block-title-inner a, .card-headline a, .card .list-popular a {
    color:#231F20;
}

.block-title-inner a:hover, .block-title-inner a:focus, .card-headline a:hover, .card-headline a:focus, .card .list-popular a:hover, .card .list-popular a:focus {
    text-decoration:none;
}

@media (min-width: 768px) {
    .block-title-inner a:hover, .block-title-inner a:focus, .card-headline a:hover, .card-headline a:focus, .card .list-popular a:hover, .card .list-popular a:focus {
        color:#990000;
    }
}

/* hide photo caption credit, see: https://basecamp.com/1913004/projects/11270722/messages/52885557
-------------------------------------------------- */
.photo-carousel .caption-container .card-meta { display:none; }

/* hide asset-tagline, see: https://basecamp.com/1913004/projects/11270722/todos/225287627#events_todo_225287627
-------------------------------------------------- */
.asset-tagline {display:none}

/* add the weatherbird back to the 404 page */
#status-404 .img-404 { 
    text-indent: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    background-image: url('//bloximages.newyork1.vip.townnews.com/stltoday.com/content/tncms/live/global/resources/images/404-bird-2014.png?_dc=1399932769'); 
    background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; 
}

.premium-asset-icon {
    color: #fff;
    background-color: #900;
    border: 2px solid #900;
    border-radius: 3px;
    cursor: help;
}

/** redmine #8890: Put a fixed depth on some flex bloxes so we can stack them */
.depth300px {
    height: 300px;
    overflow: hidden;
}

#x-pencil-container #x-pencil-toggle {
    x-background-color:#000 !important;
    x-color:#fff !important;
    x-border: 1px solid white !important;
}



/** hide hammer, kicker per: basecamp(Hammers are appearing on site) */
div.hammer, div.kicker {display:none}

/** article body hyperlink colors redmine #8944, #9452*/
div.asset-body div.asset-content p a:link, 
div.asset-body div.asset-content li a:link {color:#0000EE;text-decoration: underline}
div.asset-body div.asset-content p a:visited, 
div.asset-body div.asset-content li a:visited {color:#551A8B;text-decoration: underline}

/** hide flags: see redmine #8921, #9349 */
.label.label-flag {display:none}
/** show the sponsored flags: see redmine #9431 */
.label.label-flag.label-flag-default.label-flag-sponsored {display:inline-block}

/** tweak the author card at the bottom of assets (redmine# 8957) */
.card.author ul.list-inline.social-links {float:left;max-width:66%;padding-right:1em}
.card.author.popup-content ul.list-inline.social-links {float:none;max-width:none;padding-right:0}

/** hide the asset meta on help/info content (redmine #8969) */
body.section-help.section-info div.meta {display:none}

.dfp-ad {min-height:1px;min-width;1px}

#sync-paywall .stlextra.red, 
#sync-paywall .stlextra.red a, 
#sync-paywall .stlextra.red a:hover, 
#sync-paywall .stlextra.red a:visited {color:#900}

/** hide parts of the page when printing */
@media print {
    body.blox-asset .dfp-ad,
    body.blox-asset .tnt-ads-container,
    body.blox-asset  #tncms-region-global-container-bottom,
    body.blox-asset  #main-top-container {
        display:none!important;       
    }
    body.blox-asset .main-content.col-lg-8.col-md-7 {
        width:100%!important;
    }
}

/** #8960 Photo credits appearing on certain image presentations */
figure.photo.layout-vertical span.credit {display:none}

/** fix broken advertiser pixels that take up space at the top of the page. (dbd 2016/05/19) */
*[id^="ttdUniversalPixel"] {display:none}
body > img[src*="adap.tv"] {display:none}


.is-homepage .card .card-labels {display: block !important;}

.topworkplaces a {background-color:#ffffff}

/** redmine #9170 Related assets displaying with too much info */
aside.related-sidebar div.inline-asset div.card-meta {display:none}

/** test out a busy cursor for gallery ads */
#fixed-big-ad-paging-gallery {width:300px;height:250px;
  background-image:url(../images/320x50_loading.gif)}
#fixed-big-ad-paging-gallery.dfp-rendered {background-image:none}

/** hide flags on /job/seekers and /job/employers articles */
body.section-jobs div.asset-label-flags, body.section-seekers div.asset-label-flags {display:none;}

/* center issuu */
#tncms-block-384566 {width:300px;margin-left:auto;margin-right:auto;margin-bottom:20px;}

/* reduce page bounce */
#fixed-leaderboard-top,#fixed-leaderboard-top-tablet {min-height:90px}
#fixed-leaderboard-top-mobile {min-height:50px}
#fixed-big-ad-top,
#fixed-big-ad-top-mobile,
#fixed-big-ad-middle,
#fixed-big-ad-middle-mobile,
#fixed-big-ad-bottom,
#fixed-big-ad-bottom-mobile {min-height:250px}
/** put some space between the content of an HTML asset and the article_links ad below it. #9450 */
#article_links_1 {margin-top:40px;}

/* fix for monster console overrun */
.nc-console-container .nc-employer-column {max-height: 354px; ! important;} 
.bottom-margin-20px {margin-bottom:20px}