@charset "gb2312";

/*
  *
  * @Description: KDS home page
  * @Author:      pqp
  * @Update:      2014-12-12
  * @public:      attribute cannot be modified
  *
*/

/* general styles */

*html
{
    background-image:url(about:blank);
    background-attachment:fixed;
}


body,h1,h2,h3,h4,ul,input,p,dd,dl{margin:0;}
ul{ list-style: none;padding:0; }
img,input{ border: 0;}
em{ font-style:normal;}
input{padding:0;}
body{font:400 14px/26px "Simsun";color: #000000;}
a{color:#333; text-decoration:none;}a:visited{}a:hover{color:#2760AA; }
a:hover {color: #e74612;}
a span,a em{cursor:pointer;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height:0;}
.clearfix{*zoom:1;}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.wrapper1 {
    margin-bottom: 10px;
}


.title_p_a p a:hover, .today_focus ul li .i2:hover, .title_p_a .title:hover, .event .detail
.detail_text p a:hover, .ul1 li a:hover span, .list li a:hover,
.prize_ul1 li a:hover span, .article ul li a:hover, .pic_show .alinks ul li a:hover, .activity
.ullist li a:hover, .rightnav ul li a:hover, .activity .act_pic .text_right a:hover
{
    color: #e74612;
}

.activity .act_pic .text_right a {
    overflow: hidden;
}

.left330 {
    width: 325px;
    margin-right: 25px;
    float: left;
    overflow: hidden;
}

.middle315 {
    width: 315px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.right315 {
    width: 315px;
    float: left;
    overflow: hidden;
}

h2 {
    text-indent: -100em;
    position: relative;
}

h2 a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.ad2 {
    width: 250px;
    float: left;
    height: 62px;
}

.ad3 {
    height: 62px;
}


#nav{ padding-left:133px; padding-top:21px; color:#FFF5B7; font-size:12px;}
#nav a{font-size:12px; color:#FFF5B7; margin:0 2px;}
#nav a:visited{color:#FFF5B7;}
#nav a:hover{color:#FFF;}
#footer-index{font-size:12px; text-align:center; color:#FFF; padding-top:40px; line-height:24px;}
#footer-index font{font-size:16px; height:24px; line-height:24px; padding-top:10px;}
#footer-index a{font-size:12px; color:#FFF; height:24px; line-height:24px;}
#footer-index a:visited{color:#FFF;}
#footer-index a:hover{color:#00F;}
.bg{overflow:hidden;clear:both; background-position:50% 0; background-repeat:no-repeat;}
.area{width:1000px;margin:0 auto;position:relative; height: 1000px;}

#topnav{ height:53px;}


/* general styles */

/** navigation**/
.navigation {
    width: 1000px;
    height: 43px;
    border-bottom: 5px solid #333333;
    position: relative;
    padding-top:20px;
}

.navigation ul {
    margin-left: 19px;
    height: 43px;
}

.navigation ul li {
    float: left;
    padding-left: 16px;
    width: 62px;
    background: url(../images/icon.png) -155px 15px;
    _background: url(../images/icon.png) -153px 15px;
    margin-right: 7px;
    overflow: hidden;
    height: 34px;
    font: 400 14px/34px "microsoft yahei";
    position: relative;
    top: 8px;
}

.navigation ul li.li4 {
    margin-right: 300px;
}

.navigation .nav_title {
    width: 153px;
    height: 42px;
    margin:  auto;
    background-image: url(../images/icon.png);
    position: absolute;
    top: 20px;
    left: 424px;
}

/** list **/
.list li {
    width: 315px;
}

.car .list li,.house .list li,.play .list li {
    width: 325px;
}

.list li {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    position: relative;
}

.list li a {
    display: block;
    background: url(../images/icon.png) -619px 14px no-repeat;
    padding-left: 24px;
    height: 32px;
    line-height: 32px;
    width: 291px;
}

.list li a em {
    text-align: left;
    float: left;
    display: block;
    width: 240px;
    height: 32px;
}

.list li a:hover {
    background: url(../images/icon.png) -619px -36px no-repeat;
}

.list li a {
    color: #666666;
}

.list li a span {
    font-size: 12px;
    color: #b8b8b8;
    display: block;
    position: absolute;
    right: 0;
}

/** title_p_a **/
.title_p_a .title {
    height: 40px;
    text-align: center;
    font: 400 20px/40px "microsoft yahei";
    color: #000000;
    display: block;
    overflow: hidden;
}

.title_p_a p {
    font: 400 12px/22px "";
    color: #b9b9b9;
    margin-bottom: 5px;
    height: 44px;
    overflow: hidden;
    text-indent: 25px;
}

.car .title_p_a p, .house .title_p_a p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.title_p_a p a {
    color: #666666;
}

/* img hover become bigger*/

.consume_left ul li img, .picture ul li a img, .game .gamelist a img,  #con .div1 a img,  #con
.div2 a img,  #con .div3 a img,
.event .detail .detail_pic img, .prize_ul1 li a img, .comment ul li a img,.activity .act_pic
.pic_left img
{
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
}

.consume_left ul li img:hover, .picture ul li a img:hover, .game .gamelist a img:hover, #con
.div1 a img:hover, #con .div2 a img:hover , #con .div3 a img:hover,
.event .detail .detail_pic img:hover, .prize_ul1 li a img:hover, .comment ul li a
img:hover,.activity .act_pic .pic_left img:hover
{
    transform: scale(1.04, 1.04);
    -ms-transform: scale(1.04, 1.04);
    -webkit-transform: scale(1.04, 1.04);
}

/* kds logo and ad */
#kds-logo {
    margin: 0 auto 10px ;
}

#kds-logo h1 {
    width: 211px;
    height: 90px;
    background: url(../images/logo.jpg);
    float: left;
    text-indent: -100em;
    margin-right: 44px;
}

#kds-logo .ad1 {
    width: 745px;
    height: 90px;
    float: left;
}

/* main nav */
#kds-nav {
    height: 80px;
    background: #272934;
    position: relative;
    background: url(../images/kds-top.jpg);
}



#kds-nav .smallnav {
    width: 44px;
    height: 110px;
    position: absolute;
    top: 30px;
    left: 2px;
    display: none;
    z-index: 999;
    border-radius: 2px;
    background: url(../images/smallarrow.png) no-repeat 5px 0;
}

#kds-nav .smallnav .ul {
    position: relative;
    top: 3px;
    background: #411f16;
    height: 105px;
    border-radius: 3px;
    left: -8px;
    padding-top: 4px;
    z-index: 999;

}

#kds-nav .smallnav .ul a {
    text-align: center;
    font: 400 13px/25px "microsoft yahei";
    color: #cccccc;
    display: block;
    width: 31px;
    height: 25px;
    text-indent: 0;
}

#kds-nav .smallnav .ul div {
    position: relative;
    width: 31px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    text-indent: 6px;
}

#kds-nav .smallnav .ul a:after {
    content: "";
    width: 6px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: -6px;
    display: block;
    z-index: 2;
    background: #cccccc;
    -webkit-transition: width 0.35s;
    transition: width 0.35s;
}

#kds-nav .smallnav .ul div:hover a:after {
    width: 120%;
}



#kds-nav .title1, #kds-nav .title2, #kds-nav .title3 {
    width: 50px;
    height: 25px;
    display: block;
    float: left;
    background-image: url(../images/icon.png);
    margin: 28px 20px 27px 36px;
    display: inline;
}

#kds-nav .title1 {
    background-position: 0 -44px;
    background-position: 0 -45px\0;
    height: 23px\0;
}


#kds-nav .title3 {
    background-position: -50px -44px;
    margin-left:48px;
}

#kds-nav .title2 {
    background-position: -100px -44px;
    margin-left: 62px;
}

#kds-nav ul {
    padding: 12px 0;
    height: 56px;
    float: left;
}

#kds-nav ul.ul1 {
    width: 230px;
}

#kds-nav ul.ul2 {
    width: 92px;
}

#kds-nav ul.ul3 {
    width: 292px;
}

#kds-nav ul.ul3 li {
    width: 73px;
}

#kds-nav ul li {
    width: 46px;
    height: 28px;
    float: left;
    position: relative;
}

#kds-nav ul li .new {
    width: 22px;
    height: 14px;
    background: url(../images/new.png) no-repeat;
    position: absolute;
    top: -2px;
    right: -10px;
}


#kds-nav ul li a {
    color: #ffffff;
    font: 400 13px/28px "Simsun";
    height: 28px;
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    text-indent: -4px;
    _line-height: 35px;
    *line-height: 32px;
    line-height: 30px\0;
}

#kds-nav ul li a.hotstyle {
    color: #e74612;
}

#kds-nav ul li a:hover {
    _text-decoration: underline;
    *text-decoration: underline;
}

#kds-nav ul li .short {
    width: 33px;
    margin: 0 auto;
    position: relative;
    left: 5px;
    position: relative;
    left: 2px;
}

#kds-nav ul.ul3 li .short {
    width: 54px;
    margin: 0 auto;
    position: relative;
    left: 1px;

}

#kds-nav ul.ul3 li a {
    text-indent: -2px;
}


#kds-nav ul li a:after {
    content: "";
    width: 6px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: -6px;
    display: block;
    z-index: 2;
    background: #ffffff;
    -webkit-transition: width 0.35s;
    transition: width 0.35s;
}

#kds-nav ul li a.hotstyle:after {
    background: #e74612;
}

#kds-nav ul li .short:hover a:after {
    width: 110%;
}

#kds-nav ul li.more:hover a:after {
    width: 0;
}

#kds-nav ul li span {
    width: 1px;
    height: 13px;
    background: url(../images/icon.png) 0 -69px;
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
}

#kds-nav ul li.more {
    background: url(../images/icon.png) -446px -512px no-repeat;
    overflow: hidden;
    height: 200px;
    position: absolute;
    top: 40px;
    left: 289px;
}

/* hot and search */
#kds-hot-search {
    height: 37px;
    font: 400 12px/37px "Simsun";
    margin-top: 10px;
    margin-bottom: 20px;
}

#kds-hot-search .hot {
    float: left;

}

#kds-hot-search .hot li {
    float: left;
    padding-left: 12px;
    margin-right: 19px;
    background: url(../images/icon.png) -155px 15px;
    _background: url(../images/icon.png) -153px 15px;
}

#kds-hot-search .hot span {
    float: left;
    margin-right: 13px;
}

#kds-hot-search .weather-forecast {
    width: 210px;
    position: absolute;
    right: 282px;
    height:37px;
}

#kds-hot-search #search {
    float: right;
    width: 225px;
    height: 35px;
    border: 1px solid #cfd0d0;
    border-radius: 3px;
}

#kds-hot-search #searchWord {
    width: 170px;
    height: 35px;
    padding-left: 10px;
    float: left;
    outline: none;
    line-height: 35px;
    overflow: hidden;
}

#kds-hot-search #searchBtn {
    width: 45px;
    height: 35px;
    background: url(../images/icon.png) no-repeat 0 -69px;
    float: left;
    cursor: pointer;
    outline: none;
}

/* area1: today focus and picture show */
.today_focus {
    width: 350px;
    height: 487px;
    overflow: hidden;
    margin-right: 20px;
    float: left;
}

.pic_show {
    width: 630px;
    height: 487px;
    overflow: hidden;
    float: left;
    position: relative;
}

.pic_show .alinks {
    height: 60px;
    position: absolute;
    top: 440px;
    width: 630px;
    left: 0;
}

.pic_show .alinks .leftlogo {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 21px;
    left: 14px;
    background: url(../images/icon.png) no-repeat -285px -388px;
    z-index: 999;
}

.pic_show .alinks ul {
    width: 630px;
    height: 37px;
    background: url(../images/icon.png) no-repeat 0 -141px;
    margin-top: 10px;
    padding-left: 47px;
}

.pic_show .alinks ul li {
    width: 170px;
    margin-right: 20px;
    float: left;
    overflow: hidden;
    height: 37px;
    font: 400 13px/37px "microsoft yahei";
}

.pic_show .alinks ul li a {
    color: #333333;
    display: block;
    width: 170px;
}

/** today focus **/
.today_focus h2{
    width: 251px;
    height: 35px;
    background: url(../images/icon.png) no-repeat 0 -104px;
    text-indent: -100em;
}

.today_focus ul {
    margin-bottom: 10px;
}

.today_focus ul li {
    height: 32px;
    line-height: 32px;
    position: relative;
    overflow: hidden;
    _height: 30px;
    _line-height: 30px;
    *height: 30px;
    #line-height: 30px;
}

.today_focus ul li .i1 {
    color: #e64612;
    font-size: 12px;
    display: block;
    float: left;
}

.today_focus ul li .i2 {
    color: #666666;
    display: block;
    float: left;
    width: 245px;
    position: absolute;
    left: 51px;
    overflow: hidden;
}


.today_focus ul li .time {
    color: #bababa;
    display: block;
    float: left;
    position: absolute;
    right: 0;
}

/* area2: interaction, interaction_video, event, prize, service */
#area2 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.service h2 {
    width: 164px;
    height: 24px;
    background: url(../images/icon3.png) -130px -86px no-repeat;
    margin: 15px 0 17px 0;
}

.service ul {
    width: 120%;
}

.service ul li {
    width: 54px;
    height: 80px;
    float: left;
    margin-right: 23px;
    margin-bottom: 7px;
    position: relative;
    z-index: 999;
}

.service ul li a {
    display: block;
    width: 54px;
    height: 80px;
    text-align: center;
    position: relative;
    z-index: 999;
    cursor:pointer;
}

.service ul li a .img {
    width: 54px;
    height: 54px;
    background-image: url(../images/icon.png);

}

.service ul li a .img1 {
    background-position: -444px -178px;
}

.transition {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.service ul li a .img2 {
    background-position: -444px -232px;
}

.service ul li a .img3 {
    background-position: -444px -285px;
}

.service ul li a .img4 {
    background-position: -448px -340px;
}

.service ul li a .img5 {
    background-position: -448px -393px;
}

.service ul li a .img6 {
    background-position: -448px -447px;
}

.service ul li a .img7 {
    background-position: -339px -381px;
}

.service ul li a .img8 {
    background-position: -339px -435px;
}

.service ul li a:hover .img1 {
    background-position: -497px -178px;
}

.service ul li a:hover .img2 {
    background-position: -498px -232px;
}

.service ul li a:hover .img3 {
    background-position: -498px -285px;
}

.service ul li a:hover .img4 {
    background-position: -502px -340px;
}


.service ul li a:hover .img5 {
    background-position: -502px -393px;
}

.service ul li a:hover .img6  {
    background-position: -502px -447px;
}


.service ul li a:hover .img7 {
    background-position: -393px -381px;
}

.service ul li a:hover .img8 {
    background-position: -393px -434px;
}

/** interaction **/
.interaction h2 {
    width: 200px;
    height: 23px;
    background: url(../images/icon3.png) -130px 0 no-repeat;
}

.interaction h2 a {
    width: 200px;
    height: 22px;
    display: block;
}

.interaction ul li {
    height: 80px;
    margin-top: 28px;
}

.interaction .pica {
    display: block;
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 80px;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
}

.interaction .pica img {
    display: block;
    width: 80px;
    height: 80px;
}

.interaction .pica:hover span {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}


.interaction .pica span {
    border-radius: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    color: #ffffff;
    background: #000000;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    text-align: center;
    line-height: 80px;
}

.interaction .texta {
    display: block;
    width: 240px;
    height: 80px;
    float: left;
    overflow: hidden;
}

.interaction .texta h3 {
    font: 400 18px/22px "microsoft yahei";
    color: #666666;
    margin: 0 0 9px 0;
    height: 42px;
    overflow: hidden;
}

.interaction .texta p {
    font: 400 12px/15px "microsoft yahei";
    color: #b9b9b9;
    text-overflow:ellipsis;
    text-indent: 25px;
    padding-right: 25px;
    width: 220px;
}

.interaction .texta:hover p,.interaction .texta:hover h3 {
    color: #e74612;
}

/** interaction_video **/
.interaction_video {
    width: 315px;
    height: 224px;
    background: url(../images/video.jpg);
}

.interaction_video embed {
    margin: 29px 0 12px 17px;
}

.interaction_video a {
    display: block;
    width: 210px;
    margin: 0 auto;
    height: 16px;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    position: relative;
    top: -2px;
}

/** event **/
.event h2 {
    width: 159px;
    height: 25px;
    background: url(../images/icon3.png) -130px -28px no-repeat;
    margin: 23px 0;
}

.event h2 a {
    width: 158px;
    height: 26px;
    display: block;
}

.event .box {
    width:295px;
    position: relative;
    overflow:hidden;
    margin-bottom: 5px;
    padding-right: 20px;
}

.event .detail {
    height: 100px;
    width: 315px;
    position: relative;
    overflow: hidden;
}

.event .detail .detail_pic {
    float: left;
    width: 120px;
    height: 100px;
    display: block;
    margin-right: 10px;
    overflow: hidden;
}

.event .detail .detail_pic img {
    width: 120px;
    height: 100px;
    display: block;
}

.event .current .title {
    display: none;
}

.event .current .detail {
    display: block;
}

.event .title {
    height:32px;
    display:block;
    cursor:pointer;
    float:left;
    color: #666666;
    font: 400 14px/32px "";
    padding: 0 50px 0 17px;
    position: relative;
    width: 248px;
    background: url(../images/icon.png) -625px 14px no-repeat;
}

.event .title span {
    color: #bababa;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 0;
}

.event .detail .detail_text {
    width: 165px;
    float: left;
    overflow: hidden;
}

.event .detail .detail_text h3 {
    font: 400 16px/20px "microsoft yahei";
    color: #000000;
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

.event .detail .detail_text p{
    font: 400 12px/22px "";
    color: #b9b9b9;
    height: 44px;
    overflow: hidden;
    text-indent: 25px;
}

.event .detail .detail_text p a {
    color: #666666;
}

/** prize **/
.prize h2 {
    width: 147px;
    height: 23px;
    background: url(../images/icon3.png) -130px -58px no-repeat;
    margin-bottom: 17px;
}

.prize h2 a {
    width: 150px;
    height: 22px;
    display: block;
}

.prize_ul1 {
    width: 120%;
}

.prize_ul1 li {
    width: 155px;
    height: 132px;
    float: left;
    margin-right: 5px;
    overflow: hidden;
}

.prize_ul1 li a {
    width: 155px;
    height: 132px;
    display: block;
}

.prize_ul1 li a img {
    width: 155px;
    height: 100px;
    display: block;
}

.prize_ul1 li a div {
    width: 155px;
    height: 100px;
    overflow: hidden;
}

.prize_ul1 li a span {
    color: #666666;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    text-align: center;
    display: block;
    width: 155px;
}

/* area3: hot,comment,activity */
#area3 .navigation .nav_title {
    background-position: 0 -179px;
}

/** hot **/
.hot h2 {
    width: 332px;
    height: 46px;
    background: url(../images/icon3.png) 0 -369px no-repeat;
    margin-top: 20px;
}

.hot ul {
    padding-left: 37px;
    background: url(../images/icon3.png) -332px -432px no-repeat;
    margin-top: 15px;
}

.hot ul li {
    width: 288px;
}

.hot ul li a {
    padding-left: 0;
    background: none;
}

.hot .list li a em {
    width: 239px;
}

.hot .list li a:hover {
    background: none;
}

/** pictures **/
#new_slider, #new_slider2, #new_slider3, #new_slider4 {
    width: 315px;
    height: 204px;
    overflow: hidden;
    position: relative;
    margin-top: 37px;
}

#new_slider ul, #new_slider2 ul, #new_slider3 ul, #new_slider4 ul {
    height: 200px;
}

#new_slider ul li, #new_slider2 ul li, #new_slider3 ul li, #new_slider4 ul li {
    width:315px;
    height:200px;
    float:left;
    text-align:center;
}

#new_slider ul li img, #new_slider2 ul li img, #new_slider3 ul li img, #new_slider4 ul li img
{
    width:315px;
    height:200px;
    display:block;
    border:none;
}

#new_slider #slider_counter, #new_slider2 #slider_counter, #new_slider3 #slider_counter,
#new_slider4 #slider_counter {
    bottom:0;
    left:0;
    position:absolute;
    height:2px;
    width: 120%;
    overflow: hidden;
}
#new_slider #slider_counter li, #new_slider2 #slider_counter li, #new_slider3 #slider_counter
li, #new_slider4 #slider_counter li {
    width:103px;
    height:2px;
    background: #333333;
    margin-right:3px;
    font-size:0;
    line-height:16px;
    cursor:pointer;
}

#new_slider #slider_counter .current, #new_slider2 #slider_counter .current, #new_slider3
#slider_counter .current, #new_slider4 #slider_counter .current {
    background:#e74612;
}

#new_slider #slider_title, #new_slider2 #slider_title, #new_slider3 #slider_title,
#new_slider4 #slider_title {
    width: 295px;
    height:28px;
    bottom:4px;
    left:0;
    position:absolute;
    background: url(../images/bg.png);
    color:#ffffff;
    font: 400 14px/28px "microsoft yahei";
    text-align: center;
    padding: 0 10px;
}

/** comment **/
.comment h2 {
    width: 166px;
    height: 27px;
    background: url(../images/icon3.png) -130px -115px no-repeat;
    margin: 20px 0 20px 0;

}

.comment ul {
    width: 120%;
}

.comment ul li {
    width: 150px;
    height: 125px;
    margin-right: 15px;
    overflow: hidden;
    float: left;
}

.comment ul li a {
    width: 150px;
    height: 125px;
    display: block;
    text-align: center;
}

.comment ul li a div {
    width: 150px;
    height: 90px;
    overflow: hidden;
    margin-bottom: 4px;
}

.comment ul li a img {
    display: block;
    width: 150px;
    height: 90px;
}

/** activity **/
.activity .act_pic {
    width: 315px;
    height: 100px;
    margin-bottom: 19px;
}

.activity h2 {
    width: 317px;
    height: 46px;
    background: url(../images/icon3.png) 0 -417px no-repeat;
    margin: 20px 0 20px 0;
}

.activity .act_pic .pic_left, .activity .act_pic .pic_left img {
    width: 120px;
    height: 100px;
    display: block;
    float: left;
    margin-right: 8px;
    overflow: hidden;
}

.activity .act_pic .text_right {
    width: 175px;
    height: 100px;
    float: left;
}

.activity .act_pic .text_right h4 {
    font: 400 16px/24px "microsoft yahei";
    height: 48px;
    overflow: hidden;
    position: relative;
    top:-5px;
}

.activity .act_pic .text_right span {
    color: #666666;
    font-size: 12px;
}

.activity .act_pic .text_right span.span1 {

    padding-left: 17px;
    background: url(../images/icon.png) no-repeat -613px -104px;
    display: block;
    height: 17px;
    line-height: 17px;
    position: relative;
    top: 35px;
}

.activity .act_pic .text_right span.span2 {
    position: relative;
    top: -5px;
}

.activity .act_pic .text_right a.amore {
    display: block;
    width: 68px;
    height: 20px;
    text-align: center;
    font: 400 14px/19px "microsoft yahei";
    color: #ffffff;
    background-color: #e74612;
    border-radius: 3px;
}

.activity .ullist {
    margin-top: 10px;
}

.activity .ullist li {
    height: 32px;
    overflow: hidden;
    line-height: 32px;
    _height: 28px;
    _line-height: 28px;
    *height: 28px;
    *line-height: 28px;
}

.activity .ullist li a {
    float: left;
    width: 200px;
}

.activity .ullist li span {
    float: right;
    display: block;
    font-size: 12px;
    color: #b8b8b8;
}

.activity .ullist li em a {
    display: block;
    width: 68px;
}


.activity .ullist li em a {
    font: 400 12px/32px "";
    color: #e54612;
}
.activity .ullist li a {
    font: 400 14px/32px "";
    color: #666666;
    _height: 28px;
    _line-height: 28px;
    *height: 28px;
    *line-height: 28px;
}

/* area4:car, travel notes, trip */

#area4 .navigation .nav_title {
    background-position: 0 -220px;
}

/** hot **/
.car h2 {
    width: 332px;
    height: 46px;
    background: url(../images/icon3.png) 0 -465px no-repeat;
    margin: 20px 0 10px 0;

}

.car h2 a {
    display: block;
    width: 101px;
    height: 45px;
}

/*** list_area_title ***/
.list_area_title {
    height: 40px;
    text-align: center;
    font: 400 20px/40px "microsoft yahei";
    color: #000000;
    display: block;
    overflow: hidden;
    padding-left: 25px;
    margin-top: 5px;
}

.list_area_title li {
    height: 32px;
    float: left;
    display: block;
}

.list_area_title span {
    display: none;
}

.list_area_title1 {
    background: url(../images/icon3.png) no-repeat -332px 5px;
}

.list_area_title2 {
    background: url(../images/icon3.png) no-repeat -332px -33px;
}

.list_area_title3 {
    background: url(../images/icon3.png) no-repeat -332px -75px;
}

.list_area_title4 {
    background: url(../images/icon3.png) no-repeat -332px -119px;
}

.list_area_title5 {
    background: url(../images/icon3.png) no-repeat -332px -159px;
}

.list_area_title6 {
    background: url(../images/icon3.png) no-repeat -332px -203px;
}

.list_area_title7 {
    background: url(../images/icon3.png) no-repeat -332px -247px;
}

.list_area_title8 {
    background: url(../images/icon3.png) no-repeat -332px -290px;
}

.list_area_title9 {
    background: url(../images/icon3.png) no-repeat -332px -336px;
}

.list_area_title10 {
    background: url(../images/icon3.png) no-repeat -332px -386px;
}

/** travel_notes **/
.travel_notes h2 {
    width: 199px;
    height: 27px;
    background: url(../images/icon3.png) -130px -147px no-repeat;
    margin: 20px 0 10px 0;
}

/** trip ***/
.trip h2 {
    width: 322px;
    height: 46px;
    background: url(../images/icon3.png) 0 -514px no-repeat;
    margin-top: 20px;
    _height:43px;
}

/* area5: house, experience, finance  */
#area5 .navigation .nav_title {
    background-position: 0 -262px;
}

.house h2 {
    width: 332px;
    height: 45px;
    background: url(../images/icon3.png) 0 -566px  no-repeat;
    margin: 20px 0 10px 0;
}

.experience h2 {
    width: 185px;
    height: 24px;
    background: url(../images/icon3.png) -130px -179px no-repeat;
    margin: 20px 0 10px 0;
    _height: 23px;
}

.finance h2 {
    width: 322px;
    height: 45px;
    background: url(../images/icon3.png) 0 -615px no-repeat;
    margin-top: 20px;
}

/* area6: play, money and pictures show*/
#area6 .navigation .nav_title {
    background-position: 0 -304px;
}

#area6 .top {
    height: 350px;
    overflow: hidden;
}

.play h2 {
    width: 330px;
    height: 45px;
    background: url(../images/icon3.png) 0 -666px no-repeat;
    margin: 20px 0 10px 0;
}

.money h2 {
    width: 322px;
    height: 45px;
    background: url(../images/icon3.png) 0 -716px no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}


/** pictures show **/
.tabframe {
    overflow: hidden;
    position: relative;
    height: 336px;
    overflow: hidden;
}

.tabframe .border {
    width: 809px;
    border-top:1px solid #b8b8b8;
    height: 1px;
    position: absolute;
    top: 12px;
    right: 0;
}

#con {
    width: 1000px;
    height: 300px;
}

#tabs{width:510px; height:26px;margin-bottom: 10px;}
#tabs li{padding: 0 20px;border-left:1px solid #b8b8b8; border-right:1px solid #b8b8b8;float:left;color: #b8b8b8;font: 400 18px/24px "microsoft yahei"; height: 24px;}
#tabs li.current{ border-left:1px solid #b8b8b8; font-weight:bold; color:#333333; border-right:1px solid #b8b8b8;}
#tabs li.li1 { border-right:none;}
#con .div1, #con .div2, #con .div3 {
    float: left;
}

#con .div1 a, #con .div2 a, #con .div3 a {
    position: relative;
}

#con .div1 {
    width: 240px;
    height: 300px;
    overflow: hidden;
}

#con .div1 a, #con .div1 a img {
    width: 240px;
    height: 300px;
    display: block;
}

#con .div2 {
    width: 220px;
    height: 300px;
    overflow: hidden;
}

#con .div2 div {
    width: 220px;
    height: 150px;
    overflow: hidden;
}

#con .div2 div a, #con .div2 div a img {
    display: block;
    width: 220px;
    height: 150px;
}


#con .div3 {
    width: 320px;
    height: 300px;
    overflow: hidden;
}

#con .div3 a, #con .div3 a img {
    display: block;
    width: 320px;
    height: 300px;
}

#con .div1 a span, #con .div2 a span, #con .div3 a span {
    display: block;
    width: 90%;
    height: 30px;
    position: absolute;
    color: #ffffff;
    bottom: 0;
    left: 0;
    font: 400 14px/30px "microsoft yahei";
    text-align: center;
    background: url(../images/bg.png);
    padding: 0 5%;
}

#con ul li {
    width: 200px;
    height: 300px;
    float: left;
    overflow: hidden;
}

#con ul li a {
    position: relative;
}

#con ul li a, #con ul li a img {
    display: block;
    width: 200px;
    height: 300px;
    overflow: hidden;
}

#con ul li a div h4 {
    color: #ffffff;
    font: 400 14px/30px "microsoft yahei";
    text-align: center;
    margin: 0 0 10px 0;
}

#con ul li a div p {
    color: #cccccc;
    font: 400 13px/24px "";
    text-indent: 25px;
}

#con ul li a div {
    padding: 0 8px;
    position: absolute;
    bottom: -90px;
    width: 184px;
    height: 120px;
    background: url(../images/bg.png);
}

/* area7: consume pictures */
#area7 .navigation .nav_title {
    background-position: 0 -346px;
}

.consume_left {
    width: 680px;
    height: 500px;
    overflow: hidden;
    float: left;
    margin: 20px 20px 0 0;
}

.consume_left ul {
    width: 120%;
}

.consume_left ul li {
    width: 330px;
    height: 240px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
}

.consume_left ul li a ,.consume_left ul li img {
    display: block;
    width: 330px;
    height: 240px;
}

.consume_left ul li a span {
    width: 310px;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: url(../images/bg.png);
    text-align: center;
    font: 400 14px/30px "microsoft yahei";
    color: #ffffff;
    padding: 0 10px;
}

.consume_right {
    width: 300px;
    height: 500px;
    float: left;
    overflow: hidden;
    margin-top: 20px;
}

.consume_right ul li a {
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.consume_right ul li .text {
    width: 245px;
    height: 78px;
    background: url(../images/bg.png);
    position: absolute;
    bottom: 10px;
    left: 8px;
    padding: 20px;
    *display: none;
}

.consume_right ul li .text h4 {
    font: 400 18px/20px "microsoft yahei";
}

.consume_right ul li .text p {
    line-height: 22px;
    margin-top: 10px;
    text-indent: 25px;
}

.consume_right ul li .text::before {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    transform: scale(0,1);
}

.consume_right ul li .text::after {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    -webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    transform: scale(1,0);
}

.consume_right ul li .text::before,.consume_right ul li .text::after {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.consume_right ul li a:hover .text::before,
.consume_right ul li a:hover .text::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* area8 */
#area8 .navigation .nav_title {
    background-position: 0 -388px;
}

#area8 .navigation .nav_title a {
    width: 100%;
    height: 100%;
    display : block;
}

.gouhuasuan {
    width: 1000px;
    height: 265px;
    overflow: hidden;
    margin-top: 21px;
}

.gouhuasuan ul {
    width: 120%;
}

.gouhuasuan ul li {
    width: 188px;
    height: 248px;
    border: 1px solid #d8d8d8;
    position: relative;
    float: left;
    margin-right: 12px;
    top:10px;
}

.gouhuasuan ul li a {
    width: 180px;
    height: 240px;
    padding: 4px;
    display: block;
}

.gouhuasuan ul li a:hover {
    box-shadow: 5px 5px 20px #999999;
}

.gouhuasuan ul li a img {
    display: block;
    width: 180px;
    height: 180px;
}

.gouhuasuan ul li a em {
    color: #e64612;
    font: 400 18px/18px "microsoft yahei";
    padding-left: 15px;
    background: url(../images/rmb.png) 1px 1px no-repeat;
    position: absolute;
    bottom: 12px;
    left: 10px;
}

.gouhuasuan ul li a span {
    display: block;
    width: 40px;
    height: 18px;
    background: #e74612;
    color: #ffffff;
    text-align: center;
    font: 400 14px/16px "microsoft yahei";
    position: absolute;
    top: 217px;
    right: 18px;
    line-height: 18px\9;
}

.gouhuasuan ul li a p{
    font: 400 14px/28px "";
    color: #333333;
    height: 28px;
    overflow: hidden;

}

/* area9: picture, game, article, download, product */
#area9 .navigation {
    margin-bottom: 20px;
}

#area9 .navigation .nav_title {
    background-position: 0 -436px;
}

#area9 .navigation .nav_title a {
    width: 100%;
    height: 100%;
    display: block;
}

/** picture **/
.picture h2 {
    background: url(../images/icon3.png) -130px -212px no-repeat;
    width: 159px;
    height: 24px;
    margin-bottom: 25px;
}

.picture ul {
    width: 120%;
}

.picture ul li {
    width: 160px;
    height: 100px;
    float: left;
    position: relative;
    margin-right: 5px;
    overflow: hidden;
}

.picture ul li a, .picture ul li a img {
    width: 160px;
    height: 100px;
    display: block;
}

.picture ul li a span {
    width: 160px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/bg.png);
    color: #ffffff;
    font: 400 14px/30px "microsoft yahei";
    overflow: hidden;
}

/** game **/
.game {
    margin: 23px 0 0 0;
    overflow: hidden;
}

.game h2 {
    width: 152px;
    height: 30px;
    background: url(../images/icon3.png) -130px -241px no-repeat;
    margin-bottom: 21px;
}

.game .gamelist {
    width: 120%;
}

.game .gamelist a {
    width: 160px;
    height: 100px;
    float: left;
    position: relative;
    margin-right: 5px;
    display: block;
    overflow: hidden;
}

.game .gamelist a img {
    width: 160px;
    height: 100px;
    display: block;
}

.game .gamelist a span {
    width: 160px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/bg.png);
    color: #ffffff;
    font: 400 14px/30px "microsoft yahei";
    overflow: hidden;
}

/** article **/
.article h2 {
    width: 161px;
    height: 23px;
    background: url(../images/icon3.png) -130px -276px no-repeat;
    margin-bottom: 15px;
}

.article ul li {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    position: relative;
    _height: 28px;
    _line-height: 28px;
    *height: 28px;
    *line-height: 28px;
}

.article ul a {
    display: block;
    background: url(../images/icon.png) -619px 14px no-repeat;
    padding-left: 24px;
    height: 32px;
    line-height: 32px;
    width: 240px;
    overflow: hidden;
    float: left;
}

.article ul li a:hover {
    background: url(../images/icon.png) -619px -36px no-repeat;
}

.article ul li a {
    color: #666666;
}

.article ul li span {
    font-size: 12px;
    color: #b8b8b8;
    float: right;
    display: block;
}

/** download **/
.download h2 {
    width: 182px;
    height: 32px;
    background: url(../images/icon3.png) -130px -305px no-repeat;
    margin: 10px 0 15px 0;
}

.download .w66h66{ height:110px; overflow:hidden; margin:0 auto 20px;width: 120%;}
.download .w66h66 li{ width:70px; height:110px; text-align:center; float:left; margin-right:10px; overflow:hidden; display: block;}
.download .w66h66 li a{width:70px; height:110px; display:block; overflow:hidden;font: 400
12px/15px "";}
.download .w66h66 li img{ width:66px; height:66px; padding:1px; border:1px solid
#ECECEC;_width: 70px;_height:70px;}
.download .w66h66 li a:hover img {
    border: solid 1px #e74612;
}

/** product **/
.product h2 {
    width: 179px;
    height: 24px;
    background: url(../images/icon3.png) -130px -343px no-repeat;
    margin: 0 0 20px 0;
}

.product ul li {
    height: 40px;
    float: left;
    font: 400 14px/40px "microsoft yahei";
    color: #ffffff;
    text-align: center;
}

.product ul li a {
    color: #ffffff;
    display: block;
}

.product ul li a:hover {
    text-shadow: 0 0 1px #FFF;
    color: #FFF;
}

.product ul li.i1 {
    background-color: #0099ff;
    width: 180px;
}

.product ul li.i2 {
    width: 135px;
    background-color: #ff9900;
}

.product ul li.i3 {
    width: 125px;
    background-color: #cc66ff;
}

.product ul li.i4 {
    width: 190px;
    background-color: #66cccc;
}

.product ul li.i5 {
    width: 180px;
    height: 80px;
    background-color: #ff99cc;
    line-height: 80px;
    font-size: 26px;
}

.product ul li.i6 {
    width: 135px;
    background-color: #ff9900;
}

.product ul li.i7 {
    width: 135px;
    background-color: #996633;
}

.product ul li.i8 {
    width: 101px;
    background-color: #cc66ff;
}

.product ul li.i9 {
    width: 101px;
    background-color: #66cccc;
}

.product ul li.i10 {
    width: 113px;
    background-color: #cc66ff;
}

.product ul li.i11 {
    width: 135px;
    background-color: #ffcc99;
}

.product ul li.i12 {
    width: 135px;
    background-color: #66ccff;
}

.product ul li.i13 {
    width: 180px;
    height: 80px;
    background-color: #ff99cc;
    float: right;
    line-height: 80px;
    font-size: 26px;
}

.product ul ul.ul1 {
    height: 80px;
    width: 315px;
    overflow: hidden;
}

.product ul ul.ul2, .product ul ul.ul3, .product ul ul.ul4 {
    height: 40px;
    width: 315px;
    overflow: hidden;
}

.product ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

/* rightnav */
.rightnav {
    width: 100px;
    height: 412px;
    background: url(../images/rightnav.jpg) no-repeat;
    position: fixed;
    left: 50%;
    top:210px;
    margin-left: 505px;
    _position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop
+document.documentElement.clientHeight-this.offsetHeight-(parseInt
(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}

.rightnav ul {
    width: 90px;
    margin-top: 27px;
    margin-left: 10px;
}

.rightnav ul li {
    font: 400 14px/31px "microsoft yahei";
    color: #000000;
    height: 31px;
}

.rightnav ul li a {
    color: #000000;
    display: block;
    height: 31px;
    padding-left: 17px;
    width: 73px;
    background-image: url(../images/icon.png);
    background-position: -308px -493px;
    background-repeat: no-repeat;
}

.rightnav ul li a:hover, .rightnav ul li a.cur {
    color: #000000;
    display: block;
    height: 31px;
    width: 73px;
    background-image: url(../images/icon.png);
    background-position: -308px -523px;
    background-repeat: no-repeat;
    color: red;
}

.rightnav .topbutton {
    width: 80px;
    height: 40px;
    margin-top: 85px;
    margin-left: 15px;
    cursor: pointer ;
}

#friendlinks{padding:12px 0;border:#999 dotted 1px; border-width:1px 0;line-height:26px;color:#999;font-size: 12px;}
#friendlinks h2, #friendlinks2 h2{font:700 14px/25px 'microsoft yahei';text-indent: 0;height:
        25px;}
#friendlinks h2{display:inline-block;float:left;margin-right: 25px;}
#friendlinks2 .i1,#friendlinks2 .i2{width:400px;float:left;}
#friendlinks2 .i2{width:600px;}
#friendlinks2 ul{width:199px;border-left:#DDD solid 1px;float:left;margin-top:10px;}
#friendlinks2 ul a{display:block;text-indent:20px;}
#friendlinks2 {
    font-size: 12px;
    line-height: 16px;
}

#kdsfoot1306 p {
    font-size: 12px;
}

/*jauery.bxslider.css*/
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
    height: 500px;
    width: 300px;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {

    background: #fff;

    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 0;
    background: url(../images/icon3.png) -60px -185px no-repeat;
}

.bx-wrapper .bx-next {
    right: 0;
    background: url(../images/icon3.png) -89px -185px no-repeat;
}

.bx-wrapper .bx-prev:hover {
    background: url(../images/icon3.png) 0 -250px no-repeat;
}

.bx-wrapper .bx-next:hover {
    background: url(../images/icon3.png) -29px -250px no-repeat;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 29px;
    height: 49px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

/*allinone_thumbnailsBanner.css*/
/* the container */
.allinone_thumbnailsBanner{position:relative;}
.allinone_thumbnailsBanner img{position:absolute;top:0px;left:0px;max-width:none;max-height:none;}
.Banner_list{margin:0;padding:0;list-style:none;display:none;}
.allinone_thumbnailsBanner .stripe{position:absolute;display:block;height:100%;z-index:1;overflow:hidden;}
.allinone_thumbnailsBanner .block{position:absolute;display:block;z-index:1;overflow:hidden;}
.mycanvas{position:absolute;top:8px;right:10px;z-index:10;}
/**COOL SKIN***/
.allinone_thumbnailsBanner.cool .bannerControls{position:absolute;left:0;top:0;z-index:5;width:100%;}
.allinone_thumbnailsBanner.cool .leftNav{position:absolute;left:0px;top:50%;width:60px;height:60px;background:url(../images/icon3.png) 0 -60px no-repeat;cursor:pointer;z-index: 999;}
.allinone_thumbnailsBanner.cool .leftNav:hover{background:url(../images/icon3.png) 0 0 no-repeat;}
.allinone_thumbnailsBanner.cool .rightNav{position:absolute;right:0px;top:50%;width:60px;height:60px;background:url(../images/icon3.png) -60px -60px no-repeat;cursor:pointer;z-index: 999;}
.allinone_thumbnailsBanner.cool .rightNav:hover{background:url(../images/icon3.png) -60px 0 no-repeat;}

.allinone_thumbnailsBanner.cool .thumbsHolderWrapper{position:absolute;border-top:1px solid #e66b19;height:93px;width:100%;overflow:hidden;z-index:10;}
.allinone_thumbnailsBanner.cool .thumbsHolderVisibleWrapper{position:absolute;width:100%;height:121px;overflow:hidden;}
.allinone_thumbnailsBanner.cool .thumbsHolder{position:absolute;}
.allinone_thumbnailsBanner.cool .thumbsHolder_ThumbOFF{float:left;display:block;width:110px;height:65px;cursor:pointer;}
.allinone_thumbnailsBanner.cool .thumbsHolder_ThumbOFF img{position:relative;}
.allinone_thumbnailsBanner.cool .thumbsHolder_ThumbON{background:url(cool/thumbActiveArrow.png) center 0px no-repeat;}

.allinone_thumbnailsBanner.cool .carouselLeftNav{position:absolute;width:29px;height:65px;background:url(../images/icon3.png) 0 -185px no-repeat!important;cursor:pointer;margin-top: 14px;}
.allinone_thumbnailsBanner.cool .carouselLeftNav:hover{background:url(../images/icon3.png) -60px -120px no-repeat!important;}
.allinone_thumbnailsBanner.cool .carouselLeftNavDisabled{background:url(../images/icon3.png) 0 -120px no-repeat!important;cursor:default;}
.allinone_thumbnailsBanner.cool .carouselLeftNavDisabled:hover{background:url(../images/icon3.png) 0 -120px no-repeat!important;}

.allinone_thumbnailsBanner.cool .carouselRightNav{position:absolute;width:29px;height:65px;background:url(../images/icon3.png) -29px -185px no-repeat!important;cursor:pointer;margin-top: 14px;}
.allinone_thumbnailsBanner.cool .carouselRightNav:hover{background:url(../images/icon3.png) -89px -120px no-repeat!important;right: 0;}
.allinone_thumbnailsBanner.cool .carouselRightNavDisabled{background:url(../images/icon3.png) -29px -120px no-repeat!important;cursor:default;}
.allinone_thumbnailsBanner.cool .carouselRightNavDisabled:hover{background:url(../images/icon3.png) -29px -120px no-repeat!important;}
/****Texts SIMPLE Fixed Dimensions***/
.textElement11_simple{width:100%;font:bold 24px/28px 'Droid Sans', Verdana, Helvetica, sans-serif;background:url(simple/textBg_transparency.png);padding:6px 0px 15px 0px;text-align:left;color:#ffffff;}
.textElement11_simple a{color:#ff0000;text-decoration:none;}
.textElement11_simple a:hover{color:#ffffff;}
.textElement12_simple{font:bold 20px/25px 'Droid Sans', Verdana, Helvetica, sans-serif;background:#FFF;text-transform:uppercase;color:#000000;}
.textElement21_simple{font:28px/32px 'Droid Sans', Verdana, Helvetica, sans-serif;color:#ffffff;text-align:left;width: 250px;height: 120px;position: relative;top: 25px;left: 45px;background: url(../images/bg.png);_background: #000000;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.textElement21_simple .detail {border: 1px solid #ffffff;width: 210px; height: 80px;margin: 8px;padding: 10px;}
.textElement21_simple a{color:#ff0000;text-decoration:none;}
.textElement21_simple a:hover{color:#ffffff;}
.textElement31_simple{font:23px/30px 'Droid Sans', Verdana, Helvetica, sans-serif;background:url(simple/textBg_transparency.png);text-align:center;padding:6px 9px 6px 9px;color:#FFFFFF;}
.textElement41_simple{font:28px/34px 'Droid Sans', Verdana, Helvetica, sans-serif;background:url(simple/textBg_transparency.png);padding:6px 9px 6px 9px;color:#ffffff;}
.textElement51_simple{width:100%;font:bold 24px/30px 'Droid Sans', Verdana, Helvetica, sans-serif;background:url(simple/textBg_transparency.png);padding:6px 0px 6px 0px;text-align:center;color:#ffffff;}
.textElement51_simple a{color:#ff0000;text-decoration:none;}
.textElement51_simple a:hover{color:#ffffff;}
.photo_texts{position:absolute;z-index:3;display:none;width:100%;text-align:left;height:100%;}
.text_line{position:absolute;}
.hideElement{display:none;}
.photo_texts a {
    width: 100%;
    height: 100%;
    display: block;
}

.photo_texts a h3 {
    font: 400 18px/24px "microsoft yahei";
    height: 24px;
    overflow: hidden;
    margin-bottom: 10px;
}

.photo_texts a p {
    font: 400 12px/1.5em "";
    height: 36px;
    overflow: hidden;
}



