@charset "utf-8";
/*font-family:'Roboto Condensed', sans-serif;*/
*{margin:0px; padding:0px; border:none; outline:none; list-style:none; text-decoration:none; font-family:'Roboto', sans-serif;}
.bx{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}
.fl div, .fl a, .fl span, .fl samp, .fl img, .fl ul, .fl li, .fl h1, .fl h2, .fl h3, .fl h4{float:left;}
.fln div, .fln a, .fln span, .fln samp, .fln img, .fln ul, .fln li, .fln h1, .fln h2, .fln h3, .fln h4{float:none;}
.or{width:992px; margin:0px auto; position:relative; float:none !important;padding-right: 0;}
body{background:#F5F5F1;}
/*--[ GENEL YAPI ]--*/
	.anagovde{width:992px; margin:0px auto;}
	.govde{float:left; width:992px;}
	.reklam{float:left; width:220px; display:inline; margin-left:10px;}
	.col-1000{width:100%; min-height:1px; margin-bottom:0px;}
	.col-992{width:992px; min-height:1px; margin-bottom:0px;}
	.col-682{width:682px; min-height:1px; margin-bottom:0px;}
	.col-660{width:660px; min-height:1px; margin-bottom:10px;}
	.col-670{width:670px; min-height:1px; margin-bottom:0px;}
	.col-440{width:400px; min-height:1px; margin-bottom:10px;}
	.col-332{width:332px; min-height:1px; margin-bottom:10px;}
	.col-322{width:322px; min-height:1px; margin-bottom:10px;}
	.col-300{width:300px; min-height:1px; margin-bottom:0px;}
	.col-240{width:240px; min-height:1px; margin-bottom:10px;}
	.col-r{margin-right:10px;}
/*--[ HEADER ]--*/
    .header{float:left; width:100%; padding-bottom:1px; background-color:#FFF; margin-bottom:0px;}
    .header .top{float:left; width:100%; height:34px;}
    .header .tarih{width:149px; height:34px; border-right:solid 1px #E5E5E5; line-height:34px; font-size:12px; color:#939393;}
    .header .weather{width:204px; height:34px; background:#F1FAFF; border-right:solid 1px #E5E5E5; position:relative;}
    .header .weather1{width:204px; height:34px;}
    .header .weather_city{height:22px; line-height:22px; color:#2C2C2C; font-size:14px; padding:0px 10px; margin:6px 0px; border-right:solid 1px #E5E5E5;}
    .header .weather_day{height:22px; line-height:22px; color:#2C2C2C; font-size:14px; padding:0px 10px; margin:6px 0px;}
    .header .weather_sun{width:34px; height:34px; margin:0; background:url(../tasarim/weather_icon.png) no-repeat; background-size: 34px 34px;}
    .header .weather samp{line-height:34px; font-size:20px; color:#2C2C2C;}
    .header .weather2{width:204px; position:absolute; top:0px; left:0px; background:#00ADED; z-index:1001; display:none;}
    .header .weather:hover .weather2{display:block;}
    .header .weather .city{width:100%; height:34px; border-bottom:solid 1px #3FBCF5; text-align:center; color:#FFF; line-height:34px; font-weight:bold; font-size:20px;}
    .header .weather .days{width:100%; height:29px; border-bottom:solid 1px #3FBCF5;}
    .header .weather .days span{width:148px; height:29px; border-bottom:solid 1px #3FBCF5; text-align:center; color:#FFF; font-size:14px; line-height:29px;}
    .header .weather .days .prev{width:8px; height:13px; display:inline; margin:8px 10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-234px -69px;}
    .header .weather .days .next{width:8px; height:13px; display:inline; margin:8px 10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-242px -69px;}
    .header .weather .info{width:100%; height:42px; padding:25px 0px; background:#3FBCF5; text-align:center;}
    .header .weather .info img{float:none !important;}
    .header .weather .info span{float:none !important; color:#FFF; font-size:42px; line-height:42px;}
    .header .weather .button{width:100%; height:56px;}
    .header .weather .button1{width:100%; height:28px;}
    .header .weather .button2{width:100%; height:28px;}
    .header .weather .button1 span{width:12px; height:12px; display:inline; margin:8px; background:url(../tasarim/sprite.png) no-repeat; background-position:-222px -60px;}
    .header .weather .button2 span{width:12px; height:12px; display:inline; margin:8px; background:url(../tasarim/sprite.png) no-repeat; background-position:-222px -72px;}
    .header .weather .button1 samp, .header .weather .button2 samp{width:160px; height:28px; font-size:12px; color: #FFF; font-weight:bold; line-height:28px;}
    .header .weather .button1:hover samp, .header .weather .button2:hover samp{color:#333;}
    .header .weather .button1 small, .header .weather .button2 small{float:left; width:4px; height:9px; display:inline; margin:9px 5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-234px -60px;}
    .borsa{width:537px;}
    .borsa div{display:inline; margin:0px 10px;}
    .borsa div i{float:left; width:12px; height:8px; margin:13px 0px;}
    .borsa .borsa_up{background:url(../tasarim/borsa_icon.png) no-repeat;}
    .borsa div span{font-size:14px; line-height:34px; color:#40A2ED; display:inline; margin:0px 5px;}
    .borsa div samp{font-size:14px; line-height:34px; color:#444444;}
    .header .social{width:99px; height:34px; border-left:solid 1px #E5E5E5;}
    .header .social a{width:24px; height:26px; display:inline; margin:4px 0px 4px 8px;}
    .header .facebook{background:url(../tasarim/sprite.png) no-repeat; background-position:-206px 0px;}
    .header .twitter{background:url(../tasarim/sprite.png) no-repeat; background-position:-230px 0px;}
    .header .google{background:url(../tasarim/sprite.png) no-repeat; background-position:-254px 0px;}
    .header .bottom{width:100%; height:50px; position:relative; margin-top:4px;}
    .header .bottom .logo{width:150px; height:50px; background:url(../tasarim/sprite.png) no-repeat;}
    .header .bottom .logo a{width:150px; height:50px;}
    .header .bottom .nav{width:670px; padding:0px 16px;}
    .header .bottom .navli{height:50px; padding:0px 10px; position:relative;}
    .header .bottom .nava{font-family:'Roboto Condensed', sans-serif; color:#FFF; font-size:15px; font-weight:700; line-height:50px;}
    .header .bottom .nava span{float:right; width:8px; height:5px; display:inline; margin:21px 0px 21px 5px; position:relative; background:url(../tasarim/sprite.png) no-repeat; background-position:-150px -18px;}
    .header .bottom .navha1{width:18px; height:18px; margin:15px 0px 14px; background:url(../tasarim/sprite.png) no-repeat; background-position:-150px 0px;}
    .header .bottom .navha2{width:18px; height:18px; margin:15px 0px 14px; background:url(../tasarim/sprite.png) no-repeat; background-position:-390px 0px;}
    .header .bottom .nav .active_white, .header .bottom .navli_white:hover{background:#FFFFFF;}
    .header .bottom .nav .active_white .nava, .header .bottom .navli_white:hover .nava{color:#4C4A4A;}
    .header .bottom .nav .active_white .nava span, .header .bottom .navli_white:hover .nava span{background:url(../tasarim/sprite.png) no-repeat; background-position:-158px -18px;}
    .header .bottom .nav .active_black, .header .bottom .navli_black:hover{background:#4C4A4A;}
    .header .bottom .navli ul{position:absolute; z-index:1000; width:150px; top:50px; left:0px; background:#FFF; padding:5px; display:none; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
    .header .bottom .navli:hover ul{display:block;}
    .header .bottom .navli ul li{width:100%;}
    .header .bottom .navli ul li a{color:#333; padding:5px 0px; font-size:12px;}
    .header .bottom .navli ul li a:hover{text-decoration:underline;}
    .header .bottom .search{width:20px; height:20px; display:inline; margin:15px 10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-168px 0px;}
    .header .bottom .searchdetail{width:510px; position:absolute; z-index:10001; right:230px; top:50px; border:solid 1px #EBEBEB; background:#FFF;}
    .header .searchdetail1{width:100%;}
    .header .searchdetail1 span{width:30px; height:30px; display:inline; margin:15px 10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-258px -56px;}
    .header .searchdetail1 input{width:430px; float:left; height:60px; font-size:20px; color:#767676; font-weight:bold;}
    .header .searchdetail1 a{font-size:20px; color:#767676; line-height:60px;}
    .header .searchdetail2{width:100%; background:url(../tasarim/arama_ap.png) repeat-x top;}
    .header .searchdetail2 .list{width:482px; padding:14px; border-top:solid 1px #EBEBEB;}
    .header .searchdetail2 .list div{width:320px; display:inline; margin-left:10px;}
    .header .searchdetail2 .list div span{width:100%; font-size:16px; font-weight:bold; color:#474747;}
    .header .searchdetail2 .list div samp{width:100%; font-size:14px; color:#6B6B6B;}
    .header .searchdetail2 .list:hover div span{color:#C12B19;}
    .header .searchdetail3{width:100%; border-top:solid 1px #EBEBEB; border-bottom:solid 3px #EBEBEB;}
    .header .searchdetail3 a{float:right;}
    .header .searchdetail3 a span{font-size:14px; line-height:33px; color:#474747;}
    .header .searchdetail3 a:hover span{color:#C12B19;}
    .header .searchdetail3 a samp{display:inline; margin:13px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -74px;}
    .header .bottom .login{background:#FFF; height:28px; width:98px; border:solid 1px #E1E1E1; margin:10px 0px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
    .header .bottom .login samp{width:18px; height:18px; display:inline; margin:5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-188px 0px;}
    .header .bottom .login span{line-height:28px; color:#454545; font-size:12px;}
    .header .bottom .login:hover span{color:#CA1000;}
    .header .bottom .user{background:#FFF; position:relative; height:28px; width:98px; border:solid 1px #E1E1E1; margin:10px 0px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
    .header .bottom .user samp{width:18px; height:18px; display:inline; margin:5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-188px 0px;}
    .header .bottom .user a{line-height:28px; color:#454545; font-size:12px;}
    .header .bottom .user a span{width:8px; height:5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-158px -18px; float:right !important; display:inline; margin:13px 0px 0px 5px;}
    .header .bottom .user a:hover{color:#CA1000;}
    .header .bottom .user ul{position:absolute; z-index:1001; display:none; right:-1px; top:28px; background:#FFF; width:120px; padding:5px 15px; border:solid 1px #E1E1E1; border-top:none; border-radius:5px 0px 5px 5px; -webkit-border-radius:5px 0px 5px 5px; -moz-border-radius:5px 0px 5px 5px; -ms-border-radius:5px 0px 5px 5px; -o-border-radius:5px 0px 5px 5px;}
    .header .bottom .user:hover ul{display:block;}
    .header .bottom .user ul li{width:100%;}

    .header .middle{width:992px; height:40px; position:relative; padding:10px 0px; position:relative;}
    .header .middle .logo{width:175px; height:40px; background:url(../tasarim/logo_footer.png)!important;}
    .header .middle .logo a{width:175px; height:40px;}
    .header .middle .search{float:right !important; width:265px; height:30px; display:inline; margin:10px 10px;}
    .header .middle .search span{width:20px; height:30px; background:url(../tasarim/sprite.png) no-repeat; background-position:-175px -194px;}
    .header .middle .search form{float:left; height:28px; border:solid 1px #E1E1E1; width:230px; padding:0px 4px; display:inline; margin-left:5px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
    .header .middle .search form .txt{float:left; height:28px; width:200px; line-height:28px; font-size:12px;}
    .header .middle .search form .btn{float:left; width:20px; height:20px; margin:4px; display:inline; background:url(../tasarim/sprite.png) no-repeat; background-position:-195px -194px;}
    .header .middle .searchdetail{width:510px; position:absolute; z-index:10001; right:111px; top:48px; border:solid 1px #EBEBEB; background:#FFF;}
    .header .middle .login{float:right !important; background:#FFF; height:28px; width:98px; border:solid 1px #E1E1E1; margin:10px 0px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
    .header .middle .login samp{width:18px; height:18px; display:inline; margin:5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-188px 0px;}
    .header .middle .login span{line-height:28px; color:#454545; font-size:12px;}
    .header .middle .login:hover span{color:#CA1000;}
    .header .middle .user{float:right !important; background:#FFF; position:relative; height:28px; width:98px; border:solid 1px #E1E1E1; margin:10px 0px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
    .header .middle .user samp{width:18px; height:18px; display:inline; margin:5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-188px 0px;}
    .header .middle .user a{line-height:28px; color:#454545; font-size:12px;}
    .header .middle .user a span{width:8px; height:5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-158px -18px; float:right !important; display:inline; margin:13px 0px 0px 5px;}
    .header .middle .user a:hover{color:#CA1000;}
    .header .middle .user ul{position:absolute; z-index:1001; display:none; right:-1px; top:28px; background:#FFF; width:120px; padding:5px 15px; border:solid 1px #E1E1E1; border-top:none; border-radius:5px 0px 5px 5px; -webkit-border-radius:5px 0px 5px 5px; -moz-border-radius:5px 0px 5px 5px; -ms-border-radius:5px 0px 5px 5px; -o-border-radius:5px 0px 5px 5px;}
    .header .middle .user:hover ul{display:block;}
    .header .middle .user ul li{width:100%;}

    .header .bottom2{width:100%; height:50px; position:relative;}
    .header .bottom2 .nav{width:100%;}
    .header .bottom2 .navli{height:50px; padding:0px 10px; position:relative;}
    .header .bottom2 .nava{font-family:'Roboto Condensed', sans-serif; color:#FFF; font-size:15px; font-weight:700; line-height:50px;}
    .header .bottom2 .nava span{float:right; width:8px; height:5px; display:inline; margin:21px 0px 21px 5px; position:relative; background:url(../tasarim/sprite.png) no-repeat; background-position:-150px -18px;}
    .header .bottom2 .navha1{width:18px; height:18px; margin:15px 0px 14px; background:url(../tasarim/sprite.png) no-repeat; background-position:-150px 0px;}
    .header .bottom2 .navha2{width:18px; height:18px; margin:15px 0px 14px; background:url(../tasarim/sprite.png) no-repeat; background-position:-390px 0px;}
    .header .bottom2 .nav .active_white, .header .bottom2 .navli_white:hover{background:#FFFFFF;}
    .header .bottom2 .nav .active_white .nava, .header .bottom2 .navli_white:hover .nava{color:#4C4A4A;}
    .header .bottom2 .nav .active_white .nava span, .header .bottom2 .navli_white:hover .nava span{background:url(../tasarim/sprite.png) no-repeat; background-position:-158px -18px;}
    .header .bottom2 .nav .active_black, .header .bottom2 {background:#4C4A4A;}
    .header .bottom2 .navli ul{position:absolute; z-index:1000; width:150px; top:50px; left:0px; background:#FFF; padding:5px; display:none; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
    .header .bottom2 .navli:hover ul{display:block;}
    .header .bottom2 .navli ul li{width:100%;}
    .header .bottom2 .navli ul li a{color:#333; padding:5px 0px; font-size:12px;}
    .header .bottom2 .navli ul li a:hover{text-decoration:underline;}

/*--[ MEGA MENÜ ]--*/
	.megamenu{border-bottom:solid 7px #D51F25; position:absolute; top:84px; left:0px; z-index:1000; width:100%; display:none;}
	.megamenuu{border-bottom:solid 7px #D51F25; position:absolute; top:144px; left:0px; z-index:1000; width:100%; display:none;}
	.mm_white{background:#FFFFFF;}
	.mm_black{background:#4C4A4A;}
	.megamenu1 ul{margin:10px 0px 15px;}
	.megamenu1 ul li{margin-right:10px;}
	.megamenu1 ul li a{line-height:30px; padding:0px 10px; font-size:16px; font-weight:500; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
	.mm_white .megamenu1 ul li a{background:#3B3B3B; color:#FFF;}
	.mm_black .megamenu1 ul li a{background:#FFF; color:#4D4B4B;}
	.megamenu1 ul li a:hover{color:#D51F25;}
	.mm_white .megamenu2 ul{width:220px; height:210px; padding-top:10px; background:#C8C8C8; display:inline; margin-right:20px;}
	.mm_black .megamenu2 ul{width:220px; height:210px; padding-top:10px; background:#565454; display:inline; margin-right:20px;}
	.megamenu2 ul li{width:100%; margin-top:5px;}
	.megamenu2 ul li a{line-height:20px; padding:0px 10px; font-size:14px; font-weight:500;}
	.mm_white .megamenu2 ul li a{color:#393939;}
	.mm_black .megamenu2 ul li a{color:#FFFFFF;}
	.megamenu2 ul li a:hover{color:#D51F25;}
	.mm_white .megamenu3 ul{width:124px; height:210px; padding:10px 20px 0px; border-left:solid 1px #9C9C9C;}
	.mm_white .megamenu3 ul:first-child{border-left:none;}
	.mm_black .megamenu3 ul{width:124px; height:210px; padding:10px 20px 0px; border-left:solid 1px #9C9C9C;}
	.mm_black .megamenu3 ul:first-child{border-left:none;}
	.megamenu3 ul li{width:100%;}
	.megamenu3 ul li a{line-height:20px; font-size:12px; margin-top:3px;}
	.megamenu3 ul li h6{line-height:20px; font-size:16px; font-weight:500; margin-top:5px;}
	.mm_white .megamenu3 ul li a, .mm_white .megamenu3 ul li h6{color:#393939;}
	.mm_black .megamenu3 ul li a, .mm_black .megamenu3 ul li h6{color:#F4F4F1;}
	.megamenu3 ul li a:hover{color:#D51F25;}
	.megamenu1 .mmhaber{width:100%; margin-bottom:10px;}
	.megamenu2 .mmhaber{width:740px; padding-top:20px; margin-bottom:20px;}
	.mmhaber a{display:inline; margin-left:10px; width:240px; height:180px; position:relative; background:#FFF;}
	.mmhaber a:first-child{margin-left:0px;}
	.mmhaber a img{width:240px; height:125px;}
	.mmhaber a .lin{line-height:18px; font-size:16px; font-weight:700; color:#474747; width:220px; height:40px; padding:5px 10px; background:#FFF;}
	.mmhaber a .lin:hover{color:#C12B19;}
	.mmhaber a .tag{position:absolute; z-index:3; bottom:60px; left:10px; line-height:12px; font-size:12px; color:#FFF; padding:3px 5px; background:#C12B19;}
	.mmhaber a .son{position:absolute; z-index:2; top:0px; left:0px; width:240px; height:125px; background:rgba(193,45,23,0.5);}
	.mmhaber a .son span{background:#C12B19; border:solid 2px #FFF; color:#FFF; padding:5px 0px; font-size:14px; display:inline; margin:40px 68px; width:100px; text-align:center; font-weight:700; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
/*--[ SON DAKKİKA ]--*/
	.sondakika{width:100%; height:38px; background:#F6AD1E; position:relative; overflow:hidden;}
	.sondakika ul{width:930px;position:absolute; top:0px; left:0px;}
	.sondakika ul li{width:920px; padding:0px 10px;}
	.sondakika ul li a{line-height:38px; font-size:20px; color:#000;}
	.sondakika ul li samp{float:right !important; width:12px; height:38px; background:url(../tasarim/sondakka_ap.png) no-repeat;}
	.sondakika ul li span{float:right !important; background-color:#1D1D1D; font-family:'Roboto Condensed', sans-serif; font-size:25px; line-height:38px; font-weight:700; color:#FFF; padding:0px 10px;}
	.sondakika_prev{float:right !important; width:31px; height:38px; background:url(../tasarim/sprite.png) no-repeat; background-position:0px -50px; background-color:#CA1000;}
	.sondakika_next{float:right !important; width:31px; height:38px; background:url(../tasarim/sprite.png) no-repeat; background-position:-31px -50px; background-color:#CA1000;}
	.sondakika_prev:hover, .sondakika_next:hover{background-color:#1D1D1D;}
/*--[ SLAYT 1 ]--*/
	.slide1{width:100%; height:440px;}
	.slide1 .body{width:100%; height:370px; position:relative;}
	/*.slide1 .body li{width:100%; height:370px; position:absolute; z-index:1; left:0px; top:0px; display:none;}*/
	/*.slide1 .body li a{width:100%; height:370px; border:solid 3px #FFF;}*/
	/*.slide1 .body li a div{width:235px; height:278px; background:url(../tasarim/slayt_ap.png) no-repeat; position:absolute; right:25px; top:30px; padding:13px; border:solid 3px #FFF;}*/
	/*.slide1 .body li a div span{width:100%; color:#F6F4A7; font-size:24px; font-family:'Roboto Condensed', sans-serif; margin-top:5px;}*/
	/*.slide1 .body li a div samp{width:100%; color:#FFFFFF; font-size:16px; font-family:'Roboto Condensed', sans-serif;}*/
	/*.slide1 .body li a div:hover samp, .slide1 .body li a div:hover span{text-decoration:underline;}*/
	.slide1 .button{width:990px; height:70px; background:#ECECEC;}
	.slide1 .button li{padding:6px 3px 5px; width:93px; height:53px; background:#FFF;}
	.slide1 .button li:hover, .slide1 .button .active{border-bottom:solid 4px #E62E26;}
/*--[ SLAYT 2 ]--*/
	.slide2{width:100%; height:150px; position:relative;}
	/*.slide2 .body{width:100%; height:150px; position:absolute; z-index:1;}*/
	/*.slide2 .body li{width:100%; height:150px; position:absolute; left:0px; top:0px; display:none;}*/
	.slide2 .button{position:absolute; width:17px; z-index:2; top:12px; right:10px;}
	.slide2 .button .prev{width:17px; height:11px; background:url(../tasarim/sprite.png) no-repeat; background-position:-74px -50px;}
	.slide2 .button .prev:hover{background:url(../tasarim/sprite.png) no-repeat; background-position:-92px -50px;}
	.slide2 .button .next{width:17px; height:11px; background:url(../tasarim/sprite.png) no-repeat; background-position:-74px -61px;}
	.slide2 .button .next:hover{background:url(../tasarim/sprite.png) no-repeat; background-position:-92px -61px;}
	.slide2 .button li .dont{width:11px; height:11px; background:url(../tasarim/sprite.png) no-repeat; background-position:-74px -72px; display:inline; margin:5px 3px;}
	.slide2 .button li:hover .dont, .slide2 .button .active .dont{background:url(../tasarim/sprite.png) no-repeat; background-position:-85px -72px;}
/*--[ SLAYT 3 ]--*/
	.slide3{width:100%; height:350px; position:relative;}
	.slide3 .body{width:100%; height:350px; position:absolute; z-index:1;}
	/*.slide3 .body li{width:100%; height:350px; position:absolute; left:0px; top:0px; display:none;}*/
	/*.slide3 .body li a{width:100%; height:350px;}*/
	/*.slide3 .body li a span{margin:15px; background:rgba(0,0,0,0.5); color:#FFF; font-size:30px; font-weight:900; padding:10px;}*/
	/*.slide3 .body li a samp{margin:0px 15px 15px; color:#FFF; font-size:20px; font-weight:700;}*/
	.slide3 .button{position:absolute; width:662px; height:31px; z-index:2; bottom:10px; left:10px; background:#FFF; border-bottom:solid 3px #E5E5E5;}
	.slide3 .button li{border-left:solid 1px #E5E5E5;}
	.slide3 .button li:first-child{border-left:none;}
	.slide3 .button li:hover, .slide3 .button .active{background-color:#ED2117;}
	.slide3 .button li a{color:#000; font-size:14px; font-weight:700; font-family:'Roboto Condensed', sans-serif; padding:5px 10px; line-height:21px; position:relative;}
	.slide3 .button li:hover a, .slide3 .button .active a{color:#FFF;}
	.slide3 .button .active a span{background:url(../tasarim/icon1.png) no-repeat center; width:100%; height:6px; position:absolute; top:-5px; left:0px;}
/*--[ SLAYT 4 ]--*/
	.slide4{width:100%; height:350px; position:relative;}
	.slide4 .body{width:100%; height:350px; position:absolute; z-index:1;}
	.slide4 .body li{width:100%; height:350px; position:absolute; left:0px; top:0px; display:none;}
	.slide4 .body li a{width:100%; height:350px;}
	.slide4 .body li span{position:absolute; top:237px; left:10px; background:#439DC2; color:#FFFFFF; font-size:12px; padding:3px 5px;}
	.slide4 .body li samp{position:absolute; top:267px; left:10px; background:#FFFFFF; color:#212121; font-size:24px; font-weight:700; width:220px; height:55px; padding:9px 11px; overflow:hidden;}
	.slide4 .button{position:absolute; width:38px; height:73px; z-index:2; bottom:10px; right:10px; background:#E8E8E8;}
	.slide4 .button a{width:38px; height:36px;}
	.slide4 .button a:first-child{border-bottom:solid 1px #D3D3D3;}
	.slide4 .button a:hover{background:#D3D3D3;}
	.slide4 .button .prev span{width:20px; height:12px; margin:12px 9px; background:url(../tasarim/sprite.png) no-repeat; background-position:-109px -50px;}
	.slide4 .button .next span{width:20px; height:12px; margin:12px 9px; background:url(../tasarim/sprite.png) no-repeat; background-position:-109px -62px;}
/*--[ SLAYT 5 ]--*/
	.slide5{width:100%; height:380px; position:relative; border-bottom:solid 3px #E5E5E5;}
	.slide5 .body{width:100%; height:380px; position:absolute; z-index:1;}
	/*.slide5 .body li{width:100%; height:380px; position:absolute; left:0px; top:0px; display:none;}*/
	/*.slide5 .body li a{width:100%; height:380px; position:relative;}*/
	/*.slide5 .body li a img{position:absolute; z-index:3px;}*/
	/*.slide5 .body li a div{position:absolute; z-index:4px; bottom:50px; left:0px}*/
	/*.slide5 .body li a div span{width:90%; padding:0px 5%; text-align:center; font-family:'Roboto Condensed', sans-serif; font-weight:700; font-size:40px; color:#FFF;}*/
	/*.slide5 .body li a div samp{width:90%; padding:0px 5%; text-align:center; font-family:'Roboto Condensed', sans-serif; font-weight:700; font-size:20px; color:#FFF;}*/
	.slide5 .button{position:absolute; width:100%; z-index:2; bottom:12px; right:0px;}
	.slide5 .button ul{position:relative; left:50%; text-align:center;}
	.slide5 .button ul li{display:block; position:relative; right:50%;}
	.slide5 .button li a{width:11px; height:11px; background:url(../tasarim/sprite.png) no-repeat; background-position:-74px -72px; display:inline; margin:5px 3px;}
	.slide5 .button li:hover a, .slide5 .button .active a{background:url(../tasarim/sprite.png) no-repeat; background-position:-85px -72px;}
/*--[ HABER KUTU 1 ]--*/
	.hkutu1{border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; display:inline; margin-left:8px; width:240px; height:170px; position:relative; background:#FFF;}
	.hkutu1:first-child{margin-left:0px;}
	.hkutu1 .img{width:240px; height:125px; position:absolute; z-index:1;}
	.hkutu1 .lin{position:absolute; z-index:3; bottom:5px; left:10px; line-height:18px; font-size:16px; font-weight:700; color:#474747; width:210px; height:40px; padding:5px; background:#FFF;}
	.hkutu1 .lin:hover{color:#C12B19;}
	.hkutu1 .tag{position:absolute; z-index:3; bottom:60px; left:10px; line-height:12px; font-size:12px; color:#FFF; padding:3px 5px; background:#C12B19;}
	.hkutu1 .son{position:absolute; z-index:2; top:0px; left:0px; width:240px; height:125px; background:rgba(193,45,23,0.5);}
	.hkutu1 .son span{background:#C12B19; border:solid 2px #FFF; color:#FFF; padding:5px 0px; font-size:14px; display:inline; margin:40px 68px; width:100px; text-align:center; font-weight:700; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;}
/*--[ HABER KUTU 2 ]--*/
	.hkutu2{border-bottom:solid 3px #E5E5E5; display:inline; margin-left:8px; width:242px; height:90px; position:relative; background:#FFF;}
	.hkutu2:first-child{margin-left:0px;}
	.hkutu2 .img{width:90px; height:90px;}
	.hkutu2 .lin{border:solid 1px #E5E5E5; border-left:none; line-height:18px; font-size:15px; font-weight:700; color:#474747; width:141px; height:60px; padding:14px 5px; background:#FFF;}
	.hkutu2 .lin:hover{color:#C12B19;}
/*--[ HABER KUTU 3 ]--*/
	.hkutu3{border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; display:inline; margin-left:7px; width:157px; height:141px; background:#FFF;}
	.hkutu3:first-child{margin-left:0px;}
	.hkutu3:nth-child(2){margin-left:8px;}
	.hkutu3:nth-child(3){margin-left:8px;}
	.hkutu3 .img{width:157px; height:71px;}
	.hkutu3 .lin{line-height:18px; font-size:15px; font-weight:700; color:#474747; width:147px; height:59px; padding:5px; background:#FFF;}
	.hkutu3 .lin:hover{color:#C12B19;}
/*--[ HABER KUTU 4 ]--*/
	.hkutu4_title{width:100%; height:31px; margin-bottom:12px; border-bottom:solid 2px #DADADA; position:relative;}
	.hkutu4_title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #74A9F0; color:#414141; font-weight:bold; font-size:22px;}
	.hkutu4{border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; display:inline; margin-right:8px; width:220px; height:155px; position:relative; background:#FFF;}
	.hkutu4:last-child{margin-right:0px;}
	.hkutu4 .img{width:220px; height:112px; position:absolute; z-index:1;}
	.hkutu4 .lin{position:absolute; z-index:3; bottom:5px; left:10px; line-height:18px; font-size:16px; font-weight:700; color:#474747; width:190px; height:40px; padding:5px; background:#FFF;}
	.hkutu4 .lin:hover{color:#C12B19;}
/*--[ HABER KUTU 5 ]--*/
	.hkutu5{border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; display:inline; margin-left:8px; width:323px; height:225px; position:relative; background:#FFF;}
	.hkutu5:first-child{margin-left:0px;}
	.hkutu5 .img{width:323px; height:185px; position:absolute; z-index:1;}
	.hkutu5 .lin{position:absolute; z-index:3; bottom:5px; left:10px; line-height:18px; font-size:16px; font-weight:700; color:#474747; width:293px; height:40px; padding:5px; background:#FFF;}
	.hkutu5 .lin:hover{color:#C12B19;}
	.hkutu5 .tag{position:absolute; z-index:3; bottom:60px; left:10px; line-height:12px; font-size:12px; color:#FFF; padding:5px 5px; background:#C12B19;}
	.hkutu5 .sari{background:#FFC13C; color:#333;}
	.hkutu5 .kirmizi{background:#EE1E23; color:#FFF;}
	.hkutu5 .kmavi{background:#286AFE; color:#FFF;}
	.hkutu5 .turuncu{background:#EB5729; color:#FFF;}
	.hkutu5 .yesil{background:#529824; color:#FFF;}
	.hkutu5 .mavi{background:#02BDF0; color:#FFF;}
	.hkutu5 .mor{background:#DE3AB2; color:#FFF;}
/*--[ HABER LİST ]--*/
	.haberlist{background:#E1E1E1; border-bottom:solid 3px #E5E5E5; padding:10px; width:312px; height:360px; overflow:hidden;}
	.haberlist li{width:100%; border-bottom:solid 1px #D1D1D1;}
	.haberlist li a{color:#000; font-size:14px; font-weight:700; padding:10px 0px;}
	.haberlist li a:hover{color:#C12B19;}
/*--[ HABER RESİM ]--*/
	.hresim1{border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; margin-bottom:10px; width:238px;}
	.hresim2{border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; width:238px;}
	.hresim3{width:682px;}
/*--[ GELİŞMELER ]--*/
	.gelismeler{width:682px;}
	.gelismeler .title{width:100%; height:31px; margin-bottom:12px; border-bottom:solid 2px #DADADA; position:relative;}
	.gelismeler .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #74A9F0; color:#414141; font-weight:bold; font-size:22px;}
	.gelismeler .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
	.gelismeler .title a:hover{color:#C12B19;}
	.gelismeler .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
	.gelismeler .body{width:100%;}
	.gelismeler .liste{width:654px; padding:13px; border:solid 1px #D3D3D3; border-bottom:none; background:#FFF;}
	.gelismeler .liste img{width:150px; display:inline; margin-right:13px;}
	.gelismeler .liste div{width:491px;}
	.gelismeler .liste div span{width:100%; color:#474747; font-size:15px; font-weight:bold; margin-bottom:5px;}
	.gelismeler .liste div samp{width:100%; color:#6B6B6B; font-size:14px;}
	.gelismeler .liste:hover div span{color:#C12B19;}
	.gelismeler .arrow{width:680px; border:solid 1px #D3D3D3; border-bottom:solid 3px #D3D3D3; background:#FFF;}
	.gelismeler .arrow_prev{width:249px; height:36px; border-right:solid 1px #D3D3D3;}
	.gelismeler .arrow_prev span{float:right; display:inline; margin:13px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -74px;}
	.gelismeler .arrow_prev:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -84px;}
	.gelismeler .arrow_all{width:180px; height:36px; text-align:center; line-height:36px; color:#535353; font-size:12px; font-weight:bold;}
	.gelismeler .arrow_all:hover{color:#C12B19;}
	.gelismeler .arrow_next{width:249px; height:36px; border-left:solid 1px #D3D3D3;}
	.gelismeler .arrow_next span{display:inline; margin:13px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -74px;}
	.gelismeler .arrow_next:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -84px;}
/*--[ TWİTTER ]--*/
	.twitter{width:300px;}
	.twitter .title{width:280px; height:16px; background:#39B7EB; color:#FFF; line-height:16px; font-size:16px; font-weight:bold; padding:10px; }
	.twitter .title span{width:25px; height:17px; float:right !important; background:url(../tasarim/sprite.png) no-repeat; background-position:-150px -23px;}
	.twitter .body{width:100%; border-bottom:solid 3px #EAEAEA;}
	.twitter .liste{width:280px; padding:9px; border:solid 1px #EAEAEA; border-bottom:none; background:#FFF;}
	.twitter .liste .img{width:60px; height:60px; border:solid 1px #D3D3D3; border-radius:31px; -webkit-border-radius:31px; -moz-border-radius:31px; -ms-border-radius:31px; -o-border-radius:31px;}
	.twitter .liste .img img{width:54px; height:54px; border:solid 3px #FFF; border-radius:31px; -webkit-border-radius:31px; -moz-border-radius:31px; -ms-border-radius:31px; -o-border-radius:31px;}
	.twitter .liste .info{width:208px; display:inline; margin-left:10px;}
	.twitter .liste .twit{width:100%;}
	.twitter .liste .twit span{width:100%; color:#474747; font-size:12px;}
	.twitter .liste .twit span a{float:none !important; font-weight:bold; color:#474747;}
	.twitter .liste .twit span a:hover{color:#000;}
	.twitter .liste .twit samp{width:100%; color:#474747; font-size:12px;}
	.twitter .liste .twit samp a{float:none !important; color:#39B7EB;}
	.twitter .liste .twit samp a:hover{text-decoration:underline;}
	.twitter .liste .expand{width:100%;}
	.twitter .liste .expand a{color:#999; font-size:11px;}
	.twitter .liste .expand a:hover{color:#000;}
	.twitter .liste .button{width:100%;}
	.twitter .liste .button1{float:right !important; width:18px; height:13px; display:inline; margin-left:5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-175px -26px;}
	.twitter .liste .button2{float:right !important; width:21px; height:12px; display:inline; margin:1px 0px 0px 5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-193px -26px;}
	.twitter .liste .button3{float:right !important; width:16px; height:14px; display:inline; margin-left:5px; background:url(../tasarim/sprite.png) no-repeat; background-position:-214px -26px;}
/*--[ YAZARLAR ]--*/
	.yazarlar{width:300px;}
	.yazarlar .title{width:280px; height:16px; background:#EF1D13; color:#FFF; line-height:16px; font-size:16px; font-weight:bold; padding:10px; }
	.yazarlar .body{width:100%;}
	.yazarlar .liste{width:280px; padding:9px; border:solid 1px #EAEAEA; border-bottom:none; background:#FFF;}
	.yazarlar .liste .img{width:60px; height:60px; border:solid 1px #D3D3D3; border-radius:31px; -webkit-border-radius:31px; -moz-border-radius:31px; -ms-border-radius:31px; -o-border-radius:31px;}
	.yazarlar .liste .img img{width:54px; height:54px; border:solid 3px #FFF; border-radius:31px; -webkit-border-radius:31px; -moz-border-radius:31px; -ms-border-radius:31px; -o-border-radius:31px;}
	.yazarlar .liste .info{width:208px; display:inline; margin-left:10px;}
	.yazarlar .liste .topic{width:100%; color:#6E6E6E; font-size:16px; font-weight:bold; margin-bottom:3px;}
	.yazarlar .liste .person{width:100%; color:#ED2118; font-size:12px;}
	.yazarlar .liste a:hover{text-decoration:underline;}
	.yazarlar .arrow{width:298px; border:solid 1px #EAEAEA; border-bottom:solid 3px #EAEAEA; background:#FFF;}
	.yazarlar .arrow_prev{width:58px; height:36px; border-right:solid 1px #D3D3D3;}
	.yazarlar .arrow_prev span{float:right; display:inline; margin:13px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -74px;}
	.yazarlar .arrow_prev:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -84px;}
	.yazarlar .arrow_all{width:180px; height:36px; text-align:center; line-height:36px; color:#535353; font-size:12px; font-weight:bold;}
	.yazarlar .arrow_all:hover{color:#C12B19;}
	.yazarlar .arrow_next{width:58px; height:36px; border-left:solid 1px #D3D3D3;}
	.yazarlar .arrow_next span{display:inline; margin:13px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -74px;}
	.yazarlar .arrow_next:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -84px;}
/*--[ EN ÇOK OKUNANA ]--*/
	.encokokunan{width:300px;}
	.encokokunan .title{width:280px; height:16px; background:#EF1D13; color:#FFF; line-height:16px; font-size:16px; font-weight:bold; padding:10px; }
	.encokokunan .body{width:100%; height:296px; position:relative;}
	.encokokunan .body li{width:100%; display:none; position:absolute; top:0px; left:0px;}
	.encokokunan .liste{width:280px; padding:9px; border:solid 1px #EAEAEA; border-bottom:none; background:#FFF;}
	.encokokunan .liste img{width:96px; height:55px;}
	.encokokunan .liste div{width:174px; display:inline; margin-left:10px; font-weight:bold; color:#474747; font-size:16px;}
	.encokokunan .liste:hover div{color:#C12B19;}
	.encokokunan .button{width:298px; height:11px; padding:6px 0px 18px; border:solid 1px #EAEAEA; border-bottom:solid 3px #EAEAEA; background:#FFF; position:relative;}
	.encokokunan .button ul{position:relative; left:50%; text-align:center;}
	.encokokunan .button ul li{display:block; position:relative; right:50%;}
	.encokokunan .button li a{width:11px; height:11px; background:url(../tasarim/sprite.png) no-repeat; background-position:-74px -83px; display:inline; margin:5px 3px;}
	.encokokunan .button li:hover a, .encokokunan .button .active a{background:url(../tasarim/sprite.png) no-repeat; background-position:-85px -83px;}
/*--[ YORUMLAR ]--*/
	.yorumlar{width:682px;}
	.yorumlar .title{width:100%; height:31px; margin-bottom:12px; border-bottom:solid 2px #DADADA; position:relative;}
	.yorumlar .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #74A9F0; color:#414141; font-weight:bold; font-size:22px;}
	.yorumlar .title a{position:absolute; top:12px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
	.yorumlar .title a:hover{color:#C12B19;}
	.yorumlar .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
	.yorumlar .add{width:662px; padding:10px; margin-bottom:10px; background:#DCDCDC; float:left; position:relative; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px;}
	.yorumlar .add img{width:58px; height:58px; display:inline; margin-right:14px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px;}
	.yorumlar .add textarea{width:568px; min-height:75px; border:solid 1px #C6CBD0; border-radius:5px; border:solid 1px #BDBDBD; padding:10px; background:#F1F1F1; float:left; margin-bottom:10px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
	.yorumlar .add .commenter_name{float:right;height:30px; width:568px; border:solid 1px #C6CBD0; border-radius:5px; border:solid 1px #BDBDBD; padding:10px; font-size:18px; line-height:30px; background:#F1F1F1; margin-bottom:10px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
	.yorumlar .add input[type=submit]{float:right; background:#81B739; height:30px; min-width:100px; color:#FFF; font-weight:700; font-size:14px; line-height:30px; cursor:pointer; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
	.yorumlar .add input[type=submit]:hover{color:#000;}
	.yorumlar .add span{position:absolute; top:35px; left:75px; width:8px; height:15px; background:url(../tasarim/sprite.png) no-repeat; background-position:-136px -50px;}
	.yorumlar .list{width:100%; margin:20px 0px;}
	.yorumlar .user{width:52px; height:52px; display:inline; margin-right:10px;}
	.yorumlar .user img{width:52px; height:52px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px;}
	.yorumlar .comment{width:620px;}
	.yorumlar .comment1{width:100%;}
	.yorumlar .comment11{width:370px;}
	.yorumlar .comment11 a{color:#4C4C4C; font-weight:bold; font-size:14px; line-height:14px;}
	.yorumlar .comment11 a:hover{color:#C12B19;}
	.yorumlar .comment11 span{width:100%; font-size:11px; line-height:11px; color:#6B6B6B;}
	.yorumlar .comment12{float:right;}
	.yorumlar .comment12 .button1{color:#81B739; background:#BEBEBE; font-weight:bold; color:#FFF; font-size:11px; line-height:22px; padding:0px 8px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
	.yorumlar .comment12 .button1:hover{background:#81B739;}
	.yorumlar .comment12 .button2{display:inline; margin:2px 0px 0px 5px;}
	.yorumlar .comment12 .button2 span{color:#81B739; line-height:14px; margin-top:4px; font-size:13px; font-weight:bold; padding-right:5px;}
	.yorumlar .comment12 .button2 samp{width:19px; height:17px; background:url(../tasarim/sprite.png) no-repeat; background-position:-150px -40px;}
	.yorumlar .comment12 .button2:hover samp{background:url(../tasarim/sprite.png) no-repeat; background-position:-150px -57px;}
	.yorumlar .comment12 .button3{display:inline; margin:2px 0px 0px 5px;}
	.yorumlar .comment12 .button3 span{color:#DC2A5C; line-height:14px; margin-top:4px; font-size:13px; font-weight:bold; padding-right:5px;}
	.yorumlar .comment12 .button3 samp{width:19px; height:17px; background:url(../tasarim/sprite.png) no-repeat; background-position:-169px -40px; margin-top:5px;}
	.yorumlar .comment12 .button3:hover samp{background:url(../tasarim/sprite.png) no-repeat; background-position:-169px -57px;}
	.yorumlar .comment2{width:100%; color:#6B6B6B; font-size:12px; margin-top:5px;}
/*--[ HABER DETAY ]--*/
	.hdetay{width:100%;}
    .hdetay .title{color:#474747; font-size:40px; font-weight:bold; width:100%; margin-bottom:10px;}
    .hdetay .date{ border-top:solid 1px #E3E3E2; width:100%; padding-top:5px; font-size:12px; color:#9F9F9F; margin-bottom:10px;}
    .hdetay .img{width:100%; margin-bottom:10px;}
    .hdetay .social{width:180px; margin-bottom:10px;}
    .hdetay .social a{display:inline; height:30px; margin-right:5px;}
    .hdetay .social1{width:90px; background:url(../tasarim/sprite.png) no-repeat; background-position:0px -94px;}
    .hdetay .social1:hover{background:url(../tasarim/sprite.png) no-repeat; background-position:0px -124px;}
    .hdetay .social2{width:103px; background:url(../tasarim/sprite.png) no-repeat; background-position:-90px -94px;}
    .hdetay .social2:hover{background:url(../tasarim/sprite.png) no-repeat; background-position:-90px -124px;}
    .hdetay .social3{width:96px; background:url(../tasarim/sprite.png) no-repeat; background-position:-193px -94px;}
    .hdetay .social3:hover{background:url(../tasarim/sprite.png) no-repeat; background-position:-193px -124px;}
    .hdetay .social4{width:100px; background:url(../tasarim/sprite.png) no-repeat; background-position:-289px -94px;}
    .hdetay .social4:hover{background:url(../tasarim/sprite.png) no-repeat; background-position:-289px -124px;}
    .hdetay .font{width:80px; display:inline; margin:0px 10px 0px 5px; height:30px; background:#3B3B3B; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
    .hdetay .font a{width:30px; height:30px; line-height:30px; text-align:center; color:#FFF; font-size:15px; font-weight:bold;}
    .hdetay .font a:hover{background:#81B739;}
    .hdetay .font span{width:20px; height:30px; line-height:30px; text-align:center; color:#FFF; font-size:15px; font-weight:bold;}
    .hdetay .yorum{float:right !important;}
    .hdetay .yorum div{padding: 0 5px;background:#81B739; min-width:30px; height:30px; position:relative; text-align:center; line-height:30px; color:#FFF; font-size:15px; font-weight:bold; display:inline; margin-right:5px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
    .hdetay .yorum div span{position:absolute; top:30px; right:10px; width:6px; height:7px; background:url(../tasarim/sprite.png) no-repeat; background-position:-230px -26px;}
    .hdetay .yorum a{background:#81B739; height:17px; padding:7px 10px 6px 5px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
    .hdetay .yorum a span{width:17px; height:17px; background:url(../tasarim/sprite.png) no-repeat; background-position:-236px -26px;}
    .hdetay .yorum a samp{line-height:17px; color:#FFF; font-weight:bold; font-size:15px; padding-left:7px;}
    .hdetay .yorum a:hover samp{color:#333;}
    .hdetay .desc{width:100%; color:#000; font-size:20px; font-weight:bold; margin-bottom:10px;}
    .hdetay .content{width:100%; color:#000; font-size:18px; margin-bottom:10px;}
	.haber_detay .content p {margin-top: 15px; margin-bottom: 15px;}
	.haber_detay .content p:first-child {margin-top: 0;}
/*--[ FOTO ]--*/
	.foto{width:100%;}
	.foto .title{width:100%; font-size:40px; color:#717171;}
	.foto .body{width:100%;}
	.foto .fotolist{display:inline; margin:1px; position:relative;}
	.foto .fotolist .bottom{position:absolute; bottom:0px; left:0px; width:100%; min-height:130px; background:url(../tasarim/foto_bottom_ap.png) repeat-x bottom;}
	.foto .fotolist:hover .bottom{background:url(../tasarim/foto_bottomh_ap.png) repeat-x bottom;}
	.foto .fotolist .bottom span{position:absolute; bottom:0px; left:0px; font-size:18px; line-height:20px; color:#FFF; width:96%; padding:2%;}
	.foto .fotolist .tag{position:absolute; top:5px; right:5px; z-index:3; line-height:12px; font-size:12px; padding:4px 5px;}
	.foto .fotolist .sari, .fotogalari .body a .sari{background:#FFC13C; color:#333;}
	.foto .fotolist .kirmizi, .fotogalari .body a .kirmizi{background:#EE1E23; color:#FFF;}
	.foto .fotolist .kmavi, .fotogalari .body a .kmavi{background:#286AFE; color:#FFF;}
	.foto .fotolist .turuncu, .fotogalari .body a .turuncu{background:#EB5729; color:#FFF;}
	.foto .fotolist .yesil, .fotogalari .body a .yesil{background:#529824; color:#FFF;}
	.foto .fotolist .mavi, .fotogalari .body a .mavi{background:#02BDF0; color:#FFF;}
	.foto .fotolist .mor, .fotogalari .body a .mor{background:#DE3AB2; color:#FFF;}
/*--[ FOTO : DETAY ]--*/
	.fotogalari{width:100%; margin-bottom:0px;}
	.fotogalari .title{width:100%; height:31px; margin-bottom:12px; border-bottom:solid 2px #DADADA; position:relative;}
	.fotogalari .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #C12B19; color:#414141; font-weight:bold; font-size:22px;}
	.fotogalari .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
	.fotogalari .title a:hover{color:#C12B19;}
	.fotogalari .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
	.fotogalari .body{width:100%;}
	.fotogalari .body a{display:inline; margin:1px; position:relative;}
	.fotogalari .body a .bottom{position:absolute; bottom:0px; left:0px; width:100%; min-height:130px; background:url(../tasarim/foto_bottom_ap.png) repeat-x bottom;}
	.fotogalari .body a:hover .bottom{background:url(../tasarim/foto_bottomh_ap.png) repeat-x bottom;}
	.fotogalari .body a .bottom div{position:absolute; bottom:10px; left:0px; width:94%; padding:3%;}
	.fotogalari .body a .bottom div samp{width:100px; height:2px; margin-bottom:5px;}
	.fotogalari .body a .bottom div span{width:100%; font-size:18px; line-height:20px; color:#FFF;}
	.fotogalari .body a .tag{position:absolute; top:0px; right:0px; z-index:3; line-height:12px; font-weight:bold; font-size:12px; padding:5px 8px;}
	.fotodetay{width:990px; border:solid 1px #DADADA; border-bottom:solid 3px #DADADA;}
	.fotodetay1{width:670px; height:452px; border-right:solid 1px #DADADA;}
	.fotodetay1 .body{width:650px; height:400px; position:relative; border-bottom:solid 1px #DADADA; padding:10px;}
	.fotodetay1 .body li{width:100%; /*height:400px; position:absolute; left:10px; top:10px;*/ display:none;}
	.fotodetay1 .button{width:100%; height:31px;}
	.fotodetay1 .button .prev{width:58px; height:31px; border-right:solid 1px #D3D3D3;}
	.fotodetay1 .button .prev span{display:inline; margin:10px 15px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -74px;}
	.fotodetay1 .button .prev:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -84px;}
	.fotodetay1 .button .next{width:58px; height:31px; border-left:solid 1px #D3D3D3;}
	.fotodetay1 .button .next span{display:inline; margin:10px 15px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -74px;}
	.fotodetay1 .button .next:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -84px;}
	.fotodetay1 .button ul{width:550px;}
	.fotodetay1 .button ul li{display:block;}
	.fotodetay1 .button li a{width:15px; height:15px; background:url(../tasarim/sprite.png) no-repeat; background-position:-170px -74px; display:inline; margin:8px 5px;}
	.fotodetay1 .button li:hover a, .fotodetay1 .button .active a{background:url(../tasarim/sprite.png) no-repeat; background-position:-185px -74px;}
	.fotodetay2{width:299px; height:431px; padding:10px;}
	.fotodetay2 .title{width:100%; font-size:25px; color:#474747; font-weight:bold;}
	.fotodetay2 .desc{width:100%; font-size:14px; margin-bottom:5px;}
/*--[ FOOTER ]--*/
	.footer{float:left; width:100%; background:#3C3C3C; padding:45px 0px;}
	.footer .logo-menu{width:700px;}
	.footer .sutun1{width:150px;}
	.footer .logo{width:150px; height:50px; margin-bottom:20px; background:url(../tasarim/sprite.png) no-repeat;}
	.footer .logo a{width:150px; height:50px;}
	.footer ul{width:100%; border-right:solid 1px #4E4E4E; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}
	.footer ul li{width:150px; margin-bottom:8px;}
	.footer ul li a{color:#BDC3C7; font-size:12px;}
	.footer ul li a:hover{color:#C12B19;}
	.footer h4{width:100%; color:#FFF; font-size:16px; margin-bottom:10px; font-weight:500;}
	.footer .sutun2{width:301px; display:inline; margin:0px 20px;}
	.footer .sutun3{width:151px; display:inline; margin:0px 20px;}
	.footer .sosyal-ebulten{width:292px;}
	.footer .sosyal{width:100%; border-bottom:solid 1px #4E4E4E; padding-bottom:10px; margin-bottom:20px;}
	.footer .sosyal a{width:50%; height:28px; margin-bottom:10px;}
	.footer .sosyal a span{width:28px; height:28px; display:inline;}
	.footer .sosyal a samp{height:28px; line-height:28px; padding-left:5px; font-size:12px; color:#FFF;}
	.footer .sosyal a:hover samp{color:#C12B19;}
	.footer .facebook span{background:url(../tasarim/sprite.png) no-repeat; background-position:-278px 0px;}
	.footer .twitter span{background:url(../tasarim/sprite.png) no-repeat; background-position:-306px 0px;}
	.footer .google span{background:url(../tasarim/sprite.png) no-repeat; background-position:-334px 0px;}
	.footer .youtube span{background:url(../tasarim/sprite.png) no-repeat; background-position:-362px 0px;}
	.footer .ebulten{width:100%;}
	.footer .ebulten span{width:60px; height:28px; background:url(../tasarim/sprite.png) no-repeat; background-position:-253px -28px;}
	.footer .ebulten samp{width:222px; padding:2px 0px 2px 10px; line-height:12px; font-size:12px; color:#FFF;}
	.footer .ebulten form{float:left; width:100%; margin-top:10px;}
	.footer .ebulten form .text{float:left; border:solid 1px #D9D9D9; border-right:0px; height:32px; width:175px; padding-left:4px; border-radius:3px 0px 0px 3px; -webkit-border-radius:3px 0px 0px 3px; -moz-border-radius:3px 0px 0px 3px; -ms-border-radius:3px 0px 0px 3px; -o-border-radius:3px 0px 0px 3px;}
	.footer .ebulten form .btn{float:left; background:#969696; height:34px; width:90px; text-align:center; cursor:pointer; color:#FFF; font-size:12px; border-radius:0px 3px 3px 0px; -webkit-border-radius:0px 3px 3px 0px; -moz-border-radius:0px 3px 3px 0px; -ms-border-radius:0px 3px 3px 0px; -o-border-radius:0px 3px 3px 0px;}
	.footer .ebulten form .btn:hover{background:#C12B19;}
	.footer .imza{width:100%; color:#838383; font-size:12px; margin-top:7px;}
/*--[ REKLAM ]--*/
	.reklam1{width:100%; margin-bottom:10px;}
/*--[ VİDEO : Slayt 1 ]--*/
	.sayfatitle{width:100%; font-size:40px; color:#717171;}
	.video{width:100%;}
	.video .title{width:100%; font-size:40px; color:#717171;}
	.videoslide{width:100%; margin-bottom:0px;}
	.videoslide .videoembed{width:682px; height:410px; overflow:hidden; position:relative;}
	.videoslide .videolist{width:308px; height:410px; border:solid 1px #DADADA;}
	.videoslide .videolist li{width:282px; height:55px; border-bottom:solid 1px #DADADA; padding:13px;}
	.videoslide .videolist li:last-child{border-bottom:none;}
	.videoslide .videolist li img{width:96px; height:55px; display:inline; margin-right:10px;}
	.videoslide .videolist li span{width:176px; height:55px; color:#474747; font-size:16px; font-weight:bold;}
	.videoslide .videolist li span:hover{color:#C12B19;}
/*--[ VİDEO : Slayt 2 ]--*/
	.videoslide2{width:100%;}
	.videoslide2 .videoembed{width:682px; height:410px; overflow:hidden; position:relative;}
	.videoslide2 .videoembed .embed{width:682px; height:410px; overflow:hidden; position:relative;}
	.videoslide2 .videolist{width:680px; height:136px; border:solid 1px #EBEBEB; border-bottom:solid 3px #EBEBEB;}
	.videoslide2 .videolist .vaciklima {width: 650px; height: 78px; padding-left: 15px; padding-right: 15px;}
	.videoslide2 .videolist .vaciklima h2 {font-size: 16px; font-weight: initial;}
	.videoslide2 .videolist .content{width:650px; padding:10px 0px 10px 30px; color:#474747; font-size:20px; font-weight:bold;}
	.videoslide2 .videolist .content h1 {font-size:20px; font-weight:bold;}
	.videoslide2 .videolist .prev, .videoslide2 .videolist .next{width:30px; height:74px;}
	.videoslide2 .videolist .prev span{width:11px; height:17px; display:inline; margin:28px 6px 28px 7px;  background:url(../tasarim/sprite.png) no-repeat; background-position:-148px -74px;}
	.videoslide2 .videolist .next span{width:11px; height:17px; display:inline; margin:28px 6px 28px 7px;  background:url(../tasarim/sprite.png) no-repeat; background-position:-159px -74px;}
	.videoslide2 .videolist .list{height:74px; width:620px; overflow:hidden; position:relative;}
	.videoslide2 .videolist ul{height:74px; position:absolute; left:0px; top:0px;}
	.videoslide2 .videolist ul li{width:118px; height:74px; display:inline; margin:0px 3px;}
	.videoslide2 .videolist ul li img{width:118px; height:74px;}
/*--[ VİDEO : Popüler Videolar ]--*/
	.popvideolar{width:100%;}
	.popvideolar .title{width:100%; height:31px; margin-bottom:2px; border-bottom:solid 2px #DADADA; position:relative;}
	.popvideolar .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #C12B19; color:#414141; font-weight:bold; font-size:22px;}
	.popvideolar .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
	.popvideolar .title a:hover{color:#C12B19;}
	.popvideolar .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
	.popvideolar .body{width:100%;}
	.popvideolar .videolist{width:323px; display:inline; margin:10px 11px 0px 0px; position:relative;}
	.popvideolar .videolist:nth-child(3n+0){margin:10px 0px 0px 0px;}
	.popvideolar .videolist .content{width:323px; border:solid 1px #EBEBEB; border-bottom:solid 3px #EBEBEB; height:86px;}
	.popvideolar .videolist .content span{width:303px; padding:15px 10px 3px 10px; color:#474747; font-size:18px; font-weight:bold;}
	.popvideolar .videolist:hover .content span{color:#C12B19;}
	.popvideolar .videolist .content samp{width:303px; padding:0px 10px; color:#A1A1A1; font-size:14px;}
	.popvideolar .videolist .tag{position:absolute; top:170px; left:10px; z-index:3; line-height:26px; font-size:14px; padding:0px 10px; border:solid 2px #FFF; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
	.popvideolar .videolist .sari{background:#FFC13C; color:#333;}
	.popvideolar .videolist .kirmizi{background:#EE1E23; color:#FFF;}
	.popvideolar .videolist .kmavi{background:#286AFE; color:#FFF;}
	.popvideolar .videolist .turuncu{background:#EB5729; color:#FFF;}
	.popvideolar .videolist .yesil{background:#529824; color:#FFF;}
	.popvideolar .videolist .mavi{background:#02BDF0; color:#FFF;}
	.popvideolar .videolist .play{position:absolute; top:65px; left:134px; z-index:3; width:55px; height:55px; background:url(../tasarim/sprite.png) no-repeat; background-position:-313px -28px;}
	.popvideolar .videolist:hover .play{background:url(../tasarim/sprite2.png) no-repeat; background-position:-368px -28px;}
/*--[ VİDEO : Popüler Videolar 2 ]--*/
	.popvideolar2{width:952px; background:#3F3F3F; padding:20px;}
	.popvideolar2 .title{width:942px; height:31px; border-bottom:solid 2px #5A5A5A; position:relative; display:inline; margin:0px 5px 2px 5px;}
	.popvideolar2 .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #C12B19; color:#FFF; font-weight:bold; font-size:22px;}
	.popvideolar2 .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #747474; color:#747474; font-weight:bold; font-size:14px;}
	.popvideolar2 .title a:hover{color:#C12B19;}
	.popvideolar2 .title a i{float:right !important; display:inline; margin:3px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-218px -40px;}
	.popvideolar2 .body{width:100%; height:570px; position:relative;}
	/*.popvideolar2 .body li{width:100%; height:570px; position:absolute; top:0px; left:0px; display:none;}*/
	.popvideolar2 .videolist{width:306px; display:inline; margin:10px 5px 0px 5px; position:relative;}
	.popvideolar2 .videolist .content{width:304px; border:solid 1px #EBEBEB; border-bottom:solid 3px #EBEBEB; background:#FFF; height:86px;}
	.popvideolar2 .videolist .content span{width:284px; padding:15px 10px 3px 10px; color:#474747; font-size:18px; font-weight:bold;}
	.popvideolar2 .videolist:hover .content span{color:#C12B19;}
	.popvideolar2 .videolist .content samp{width:303px; padding:0px 10px; color:#A1A1A1; font-size:14px;}
	.popvideolar2 .videolist .tag{position:absolute; top:170px; left:10px; z-index:3; line-height:26px; font-size:14px; padding:0px 10px; border:solid 2px #FFF; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
	.popvideolar2 .videolist .sari{background:#FFC13C; color:#333;}
	.popvideolar2 .videolist .kirmizi{background:#EE1E23; color:#FFF;}
	.popvideolar2 .videolist .kmavi{background:#286AFE; color:#FFF;}
	.popvideolar2 .videolist .turuncu{background:#EB5729; color:#FFF;}
	.popvideolar2 .videolist .yesil{background:#529824; color:#FFF;}
	.popvideolar2 .videolist .mavi{background:#02BDF0; color:#FFF;}
	.popvideolar2 .videolist .play{position:absolute; top:65px; left:134px; z-index:3; width:55px; height:55px; background:url(../tasarim/sprite.png) no-repeat; background-position:-313px -28px;}
	.popvideolar2 .videolist:hover .play{background:url(../tasarim/sprite.png) no-repeat; background-position:-368px -28px;}
	.popvideolar2 .button{position:relative; width:100%; margin-top:10px;}
	.popvideolar2 .button ul{position:relative; left:50%; text-align:center;}
	.popvideolar2 .button ul li{display:block; position:relative; right:50%;}
	.popvideolar2 .button li a{width:11px; height:11px; background:url(../tasarim/sprite.png) no-repeat; background-position:-74px -83px; display:inline; margin:5px 3px;}
	.popvideolar2 .button li:hover a, .popvideolar2 .button .active a{background:url(../tasarim/sprite.png) no-repeat; background-position:-85px -83px;}
/*--[ VİDEO : Tek ]--*/
	.videotek{width:300px; display:inline; margin-bottom:10px; position:relative;}
	.videotek:last-child{margin-bottom:0px;}
	.videotek .content{width:298px; border:solid 1px #EBEBEB; border-bottom:solid 3px #EBEBEB; height:86px;}
	.videotek .content span{width:278px; padding:10px 10px 3px 10px; color:#474747; font-size:18px; font-weight:bold;}
	.videotek:hover .content span{color:#C12B19;}
	.videotek .content samp{width:280px; padding:0px 10px; color:#A1A1A1; font-size:14px;}
	.videotek .play{position:absolute; top:62px; left:122px; z-index:3; width:55px; height:55px; background:url(../tasarim/sprite.png) no-repeat; background-position:-313px -28px;}
	.videotek:hover .play{background:url(../tasarim/sprite2.png) no-repeat; background-position:-368px -28px;}
/*--[ VİDEO : Videolar ( Öne Çıkan Videolar vs.) ]--*/
	.videolar{width:322px; display:inline;}
	.videolar:nth-child(3n+0){margin:0px 0px 10px 0px;}
	.videolar .title{width:100%; height:31px; margin-bottom:12px; border-bottom:solid 2px #DADADA; position:relative;}
	.videolar .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #C12B19; color:#414141; font-weight:bold; font-size:22px;}
	.videolar .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
	.videolar .title a:hover{color:#C12B19;}
	.videolar .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
	.videolar .body{width:100%;}
	.videolar .videolist{width:100%; margin:5px 0px; position:relative;}
	.videolar .videolist .content{width:194px; padding-left:10px; height:86px;}
	.videolar .videolist .content span{width:100%;  color:#474747; font-size:14px; margin-bottom:5px;}
	.videolar .videolist:hover .content span{color:#C12B19;}
	.videolar .videolist .content samp{width:100%; color:#A1A1A1; font-size:14px;}
	.videolar .videolist .sure{position:absolute; top:5px; left:84px; z-index:3; line-height:11px; font-size:11px; color:#FFF;}
	.videolar .videolist .play{position:absolute; top:46px; left:89px; z-index:3; width:24px; height:24px; background:url(../tasarim/sprite.png) no-repeat; background-position:-289px -56px;}
/*--[ PUAN DURUMU ]--*/
	.puandurumu{width:658px; border:solid 1px #DADADA; border-bottom:none;}
	.puandurumu .title{width:639px; padding:0px 10px; line-height:48px; color:#D71F27; font-size:22px; font-weight:bold; border-bottom:solid 1px #DADADA;}
	.puandurumu .liste_top{width:100%; border-bottom:solid 1px #DADADA;}
	.puandurumu .liste_top .team{width:118px; padding:0px 10px; line-height:40px; color:#474747; font-size:16px; font-weight:bold;}
	.puandurumu .liste_top .number{width:64px; line-height:40px; text-align:center; color:#474747; font-size:16px; font-weight:bold; border-left:solid 1px #DADADA;}
	.puandurumu .liste{width:100%; border-bottom:solid 1px #DADADA;}
	.puandurumu .liste .team{width:130px; padding:0px 4px; line-height:26px; color:#474747; font-size:12px; font-weight:bold;}
	.puandurumu .liste .team img{width:19px; height:19px; padding:3px;}
	.puandurumu .liste .number{width:64px; line-height:26px; text-align:center; color:#474747; font-size:12px; border-left:solid 1px #DADADA;}
/*--[ HABER SLAYT ]--*/
	.haberslayt{width:300px; height:556px; padding:10px; border:solid 1px #DADADA; position:relative;}
	.haberslayt .title{width:100%; color:#039F64; font-size:20px; font-weight:bold; margin-bottom:10px;}
	.haberslayt .body{width:100%; height:540px; position:relative;}
	/*.haberslayt .body li{width:100%; height:540px; position:absolute; left:0px; top:0px; display:none;}*/
	.haberslayt .haber1{width:100%; height:140px; position:relative; margin-bottom:10px;}
	.haberslayt .haber1 div{position:absolute; bottom:0px; left:0px; width:100%; min-height:130px; background:url(../tasarim/foto_bottom_ap.png) repeat-x bottom;}
	.haberslayt .haber1:hover div{background:url(../tasarim/foto_bottomh_ap.png) repeat-x bottom;}
	.haberslayt .haber1 div span{width:280px; padding:10px; color:#FFF; font-size:18px; font-weight:bold; position:absolute; bottom:0px;}
	.haberslayt .haber1:hover .div span{color:#C12B19;}
	.haberslayt .haber2{width:145px; height:145px; position:relative; margin-right:10px; display:inline;}
	.haberslayt .body li .haber2:last-child{margin-right:0px;}
	.haberslayt .haber2 span{width:100%; color:#474747; font-size: 14px; font-weight:bold; margin:5px 0px 3px;}
	.haberslayt .haber2 samp{width:100%; color:#474747; font-size: 12px; }
	.haberslayt .haber2:hover span, .haberslayt .haber2:hover samp{color:#C12B19;}
	.haberslayt .haber3{width:100%; position:relative; margin-bottom:10px; display:inline;}
	.haberslayt .haber3 div{width:100%; color:#474747; font-size:24px; font-weight:bold; margin:5px 0px 3px;}
	.haberslayt .haber3:hover div{color:#C12B19;}
	.haberslayt .button{position:absolute; width:100%; bottom:10px; left:0px;}
	.haberslayt .button ul{position:relative; left:50%; text-align:center;}
	.haberslayt .button ul li{display:block; position:relative; right:50%;}
	.haberslayt .button li a{width:11px; height:11px; background:url(../tasarim/sprite.png) no-repeat; background-position:-74px -83px; display:inline; margin:5px 3px;}
	.haberslayt .button li:hover a, .haberslayt .button .active a{background:url(../tasarim/sprite.png) no-repeat; background-position:-85px -83px;}
/*--[ HABER MODULU 1 ]--*/
	.habermodulu1{width:682px;}
	.habermodulu1 .title{width:100%; height:31px; margin-bottom:12px; border-bottom:solid 2px #DADADA; position:relative;}
	.habermodulu1 .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #74A9F0; color:#414141; font-weight:bold; font-size:22px;}
	.habermodulu1 .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
	.habermodulu1 .title a:hover{color:#C12B19;}
	.habermodulu1 .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
	.habermodulu1 .body{width:100%;}
	.habermodulu1 .liste{width:335px; display:inline; margin:0px 12px 12px 0px;}
	.habermodulu1 .liste:nth-child(2n+0){margin:0px 0px 12px 0px;}
	.habermodulu1 .liste{width:335px; display:inline; margin:0px 12px 12px 0px;}
	.habermodulu1 .liste img{width:100%; height:185px;}
	.habermodulu1 .liste div{width:313px; padding:5px 10px; height:50px; border:solid 1px #EBEBEB; border-bottom:solid 3px #EBEBEB; color:#474747; font-size:18px; font-weight:bold;}
/*--[ EKONOMİ ]--*/
	.ekonomi{width:990px; height:98px; border:solid 1px #E5E5E5; background:#FFF; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
	.ekonomi div{width:206px; height:58px; padding:20px; border-right:solid 1px #E5E5E5;}
	.ekonomi div:last-child{border-right:none;}
	.ekonomi div i{float:left; width:44px; height:44px; display:inline; margin:7px 7px 7px 0px;}
	.ekonomi div .up{background:url(../tasarim/sprite.png) no-repeat; background-position:-389px -83px;}
	.ekonomi div .down{background:url(../tasarim/sprite.png) no-repeat; background-position:-389px -127px;}
	.ekonomi div span{float:left; width:115px; color:#8FC0EA; font-size:18px; line-height:18px; margin-top:5px;}
	.ekonomi div samp{float:left; width:115px; color:#4C4C4C; font-size:30px; line-height:30px; font-weight:bold;}
/*--[ EN ÇOK OKUNANALAR ]--*/
	.encokokunanlar{width:100%;}
	.encokokunanlar .title{width:100%; height:31px; margin-bottom:12px; border-bottom:solid 2px #DADADA; position:relative;}
	.encokokunanlar .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #74A9F0; color:#414141; font-weight:bold; font-size:22px;}
	.encokokunanlar .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
	.encokokunanlar .title a:hover{color:#C12B19;}
	.encokokunanlar .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
	.encokokunanlar .body{width:680px; border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5;}
	.encokokunanlar .body1{width:310px; border-right:solid 1px #E5E5E5;}
	.encokokunanlar .body1 a{width:310px; height:400px; position:relative;}
	.encokokunanlar .body1 a img{width:310px; height:400px;}
	.encokokunanlar .body1 a .bottom{position:absolute; bottom:0px; left:0px; width:100%; min-height:130px; background:url(../tasarim/foto_bottom_ap.png) repeat-x bottom;}
	.encokokunanlar .body1 a:hover .bottom{background:url(../tasarim/foto_bottomh_ap.png) repeat-x bottom;}
	.encokokunanlar .body1 a .bottom div{position:absolute; bottom:0px; left:0px; width:94%; padding:3%;}
	.encokokunanlar .body1 a .bottom div samp{font-size:30px; line-height:30px; color:#FFF;}
	.encokokunanlar .body1 a .bottom div span{line-height:26px; font-size:14px; font-weight:bold; padding:0px 10px; margin-bottom:5px;}
	.encokokunanlar .body1 a .bottom div .sari{background:#FFC13C; color:#333;}
	.encokokunanlar .body1 a .bottom div .kirmizi{background:#EE1E23; color:#FFF;}
	.encokokunanlar .body1 a .bottom div .kmavi{background:#286AFE; color:#FFF;}
	.encokokunanlar .body1 a .bottom div .turuncu{background:#EB5729; color:#FFF;}
	.encokokunanlar .body1 a .bottom div .yesil{background:#529824; color:#FFF;}
	.encokokunanlar .body1 a .bottom div .mavi{background:#02BDF0; color:#FFF;}
	.encokokunanlar .body2{width:330px; padding:0px 19px 0px 20px;}
	.encokokunanlar .body2 a{width:100%; border-bottom:solid 1px #E5E5E5; padding:12px 0px;}
	.encokokunanlar .body2 a img{width:96px; display:inline; margin-right:10px;}
	.encokokunanlar .body2 a div{width:200px; color:#474747; font-size:16px; font-weight:bold;}
	.encokokunanlar .body2 a:hover div{color:#C12B19;}
/*--[ HABER SLAYT 2 ]--*/
	.haberslayt2{width:680px; height:388px; border:solid 1px #DADADA; border-bottom:solid 3px #DADADA;}
	.haberslayt2 .body{width:100%; height:350px; position:relative;}
	.haberslayt2 .body li{width:100%; height:350px; position:absolute; left:0px; top:0px; display:none;}
	.haberslayt2 .button{width:100%; height:31px; padding:3px 0px;}
	.haberslayt2 .button .prev{width:62px; height:31px; border-right:solid 1px #D3D3D3;}
	.haberslayt2 .button .prev span{display:inline; margin:10px 18px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -74px;}
	.haberslayt2 .button .prev:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -84px;}
	.haberslayt2 .button .next{width:62px; height:31px; border-left:solid 1px #D3D3D3;}
	.haberslayt2 .button .next span{display:inline; margin:10px 18px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -74px;}
	.haberslayt2 .button .next:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -84px;}
	.haberslayt2 .button ul{width:550px;}
	.haberslayt2 .button ul li{display:block;}
	.haberslayt2 .button li a{width:15px; height:15px; background:url(../tasarim/sprite.png) no-repeat; background-position:-170px -74px; display:inline; margin:8px 5px;}
	.haberslayt2 .button li:hover a, .haberslayt2 .button .active a{background:url(../tasarim/sprite.png) no-repeat; background-position:-185px -74px;}
/*--[ KÜLTÜR SANAT ]--*/
	.kultursanat{width:100%;}
	.kultursanat .title{width:100%; height:31px; margin-bottom:10px; border-bottom:solid 2px #DADADA; position:relative;}
	.kultursanat .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #74A9F0; color:#414141; font-weight:bold; font-size:22px;}
	.kultursanat .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
	.kultursanat .title a:hover{color:#C12B19;}
	.kultursanat .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
	.kultursanat .body{width:100%;}
	.kultursanat .body a{display:inline; margin:1px; position:relative;}
	.kultursanat .body a .bottom{position:absolute; bottom:0px; left:0px; width:100%; min-height:130px; background:url(../tasarim/foto_bottom_ap.png) repeat-x bottom;}
	.kultursanat .body a:hover .bottom{background:url(../tasarim/foto_bottomh_ap.png) repeat-x bottom;}
	.kultursanat .body a .bottom span{position:absolute; bottom:0px; left:0px; font-size:18px; line-height:20px; color:#FFF; width:96%; padding:2%;}
	.kultursanat .body a .comment{position:absolute; top:5px; right:5px; z-index:3; line-height:18px; color:#333; font-size:12px; width:30px; height:26px; text-align:center; background:url(../tasarim/sprite.png) no-repeat; background-position:-188px -40px;}
/*--[ HABER KUTULARI ]--*/
	.hkutular{width:325px; display:inline; margin:0px 10px 10px 0px;}
	.hkutular1{height:285px;}
	.hkutular2{height:405px;}
    .hkutular .title{width:100%; height:38px;}
    .hkutular_renk1 .title{background:#5193F6;}
    .hkutular_renk2 .title{background:#179F85;}
    .hkutular_renk3 .title{background:#C1D865;}
    .hkutular_renk4 .title{background:#EF7167;}
    .hkutular .title h4{font-size:20px; padding:0px 10px; line-height:38px; color:#FFF;}
    .hkutular .button{float:right; display:inline; margin:9px 16px 9px 10px;}
	.hkutular .button li{display:inline; margin:5px 4px;}
	.hkutular .button li a{width:10px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-210px -77px;}
	.hkutular .button li:hover a, .hkutular .button .active a{background:url(../tasarim/sprite.png) no-repeat; background-position:-200px -77px;}
	.hkutular .body{width:100%; border-bottom:solid 3px #E5E5E5; position:relative;}
	.hkutular1 .body{height:247px;}
	.hkutular2 .body{height:367px;}
	/*.hkutular .body li{width:100%; position:absolute; display:none;}*/
	.hkutular .hkutular11{width:100%; height:247px;}
	.hkutular .hkutular11 img{width:100%;}
	.hkutular .hkutular11 div{width:303px; border:solid 1px #E5E5E5; background:#FFF; height:40px; padding:10px; font-size:16px; font-weight:bold; color:#474747;}
	.hkutular .hkutular11:hover div{color:#C12B19;}
	.hkutular .hkutular12{width:100%;}
	.hkutular .hkutular12 div{width:323px; height:39px; border:solid 1px #E5E5E5; background:#FFF;}
	.hkutular .hkutular12 div a{color:#474747; font-size:16px; font-weight:bold; line-height:39px; width:292px;}
	.hkutular .hkutular12 div a:hover{color:#C12B19;}
	.hkutular_renk3 .body .hkutular12 div span{width:12px; height:7px; display:inline; margin:16px 9px; background:url(../tasarim/sprite.png) no-repeat; background-position:-200px -87px;}
	.hkutular_renk4 .body .hkutular12 div span{width:12px; height:7px; display:inline; margin:16px 9px; background:url(../tasarim/sprite.png) no-repeat; background-position:-212px -87px;}
/*--[ BLOGERLAR ]--*/
	.bloggerlar{width:300px;}
	.bloggerlar .title{width:280px; height:16px; background:#3B3B3B; color:#FFF; line-height:16px; font-size:16px; font-weight:bold; padding:10px; }
	.bloggerlar .body{width:100%;}
	.bloggerlar .liste{width:280px; padding:9px; border:solid 1px #EAEAEA; border-bottom:none; background:#FFF;}
	.bloggerlar .liste .img{width:47px; height:47px; border:solid 3px #3B3B3B; }
	.bloggerlar .liste .img img{width:47px; height:47px;}
	.bloggerlar .liste .info{width:208px; display:inline; margin-left:10px;}
	.bloggerlar .liste .topic{width:100%; color:#6E6E6E; font-size:14px; font-weight:bold; margin-bottom:3px;}
	.bloggerlar .liste .person{width:100%; color:#A1A1A1; font-size:12px;}
	.bloggerlar .liste a:hover{text-decoration:underline;}
	.bloggerlar .arrow{width:298px; border:solid 1px #EAEAEA; border-bottom:solid 3px #EAEAEA; background:#FFF;}
	.bloggerlar .arrow_prev{width:58px; height:36px; border-right:solid 1px #D3D3D3;}
	.bloggerlar .arrow_prev span{float:right; display:inline; margin:13px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -74px;}
	.bloggerlar .arrow_prev:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-96px -84px;}
	.bloggerlar .arrow_all{width:180px; height:36px; text-align:center; line-height:36px; color:#535353; font-size:12px; font-weight:bold;}
	.bloggerlar .arrow_all:hover{color:#C12B19;}
	.bloggerlar .arrow_next{width:58px; height:36px; border-left:solid 1px #D3D3D3;}
	.bloggerlar .arrow_next span{display:inline; margin:13px; width:26px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -74px;}
	.bloggerlar .arrow_next:hover span{background:url(../tasarim/sprite.png) no-repeat; background-position:-122px -84px;}
/*--[ HABER : Tek ]--*/
	.habertek{width:300px; display:inline; margin-bottom:10px; position:relative;}
	.habertek span{width:288px; border:solid 1px #EBEBEB; border-bottom:solid 3px #EBEBEB; padding:5px; font-size:16px; font-weight:bold; color:#474747;}
	.habertek:hover span{color:#C12B19;}
/*--[ LOGIN SINGIN ]--*/
	.loginn_singup{width:990px; border:solid 1px #E0E0E0; background:#FFF;}
	.loginn{width:370px; padding:40px 50px 40px 75px;}
	.loginn .title, .singup .title{width:100%; color:#EF5357; font-size:19px; border-bottom:solid 1px #E0E0E0;}
	.loginn .title span, .singup .title span{color:#B1B1B1; float:none;}
	.loginn .desc, .singup .desc{width:100%; color:#7D7B7B; font-size:12px; padding:20px 0px 10px;}
	.loginn .form, .singup .form{width:100%;}
	.loginn .form1, .singup .form1{width:100%; margin-bottom:15px;}
	.loginn .form1 span, .singup .form1 span{width:90px; padding-right:10px; font-size:13px; text-align:right; color:#000; line-height:34px; display:inline-block;}
	.loginn .form1 a, .singup .form1 a{padding-left:100px; font-size:12px; color:#F5795D;}
	.loginn .form1 a:hover, .singup .form1 a:hover{text-decoration:underline;}
	.loginn .form1 input, .singup .form1 input{width:260px; height:24px; padding:4px; border:solid 1px #D5D5D5; border-bottom:solid 2px #D5D5D5; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;}
	.loginn .yada{width:270px; color:#7A808D; font-size: 13px; line-height:45px; margin-left:100px; text-align:center; margin-bottom:15px;}
	.loginn .facebook{width:270px; height:40px; background:url(../tasarim/sprite.png) no-repeat; background-position:-0px -154px; display:inline; margin-left:100px;}
	.loginn .form2{width:100%; margin-bottom:15px;}
	.loginn .form2 input, .singup .form2 input{width:270px; height:40px; display:inline; margin-left:103px; background:#81B739; cursor:pointer; color:#FFF; font-size:16px; font-weight:bold;
		border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;}
	.loginn .form2 input:hover, .singup .form2 input:hover{background:#333;}
	.loginn .form3, .singup .form3{width:100%; margin-bottom:15px;}
	.loginn .form3 input, .singup .form3 input{width:15px; height:15px; display:inline; margin-left:100px; float:left;}
	.loginn .form3 span, .singup .form3 span{width:245px; font-size:11px; color:#7D7B7B; padding-left:10px;}
	.singup{width:370px; padding:40px 50px 40px 74px; border-left:solid 1px #E0E0E0;}
/*--[ ŞİFRE UNUTMA ]--*/
	.sifreunutma{width:900px; border:solid 1px #E0E0E0; background:#FFF; padding:25px 45px;}
	.sifreunutma .title{width:100%; color:#EF5357; font-size:19px; border-bottom:solid 1px #E0E0E0;}
	.sifreunutma .desc{width:100%; color:#7D7B7B; font-size:12px; padding:100px 0px 20px; text-align:center;}
	.sifreunutma .form{float:left; width:100%; padding-bottom:150px;}
	.sifreunutma .form span{width:90px; padding-right:10px; font-size:13px; text-align:right; color:#000; line-height:34px; display:inline; margin-left:170px;}
	.sifreunutma .form .txt{float:left; width:260px; height:30px; padding:4px; border:solid 1px #D5D5D5; border-radius:4px 0px 0px 4px; -moz-border-radius:4px 0px 0px 4px; -webkit-border-radius:4px 0px 0px 4px; -ms-border-radius:4px 0px 0px 4px; -o-border-radius:4px 0px 0px 4px;}
	.sifreunutma .form .btn{float:left; width:190px; height:40px; background:#81B739; cursor:pointer; color:#FFF; font-size:16px; font-weight:bold; border-radius:0px 4px 4px 0px; -moz-border-radius:0px 4px 4px 0px; -webkit-border-radius:0px 4px 4px 0px; -ms-border-radius:0px 4px 4px 0px; -o-border-radius:0px 4px 4px 0px;}
/*--[ HAVA DURUMU ]--*/
	.havadurumuap{background:url(../tasarim/havadurumu.png) no-repeat top;}
	.havadurumu{width:100%;}
	.havadurumu .sayfatitle{width:100%; color:#FFF;}
	.havadurumu1{width:990px; height:120px; border:solid 1px #E5E5E5; background:#FFF; margin-bottom:10px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; o-border-radius:5px;}
	.havadurumu11{width:176px; height:50px; padding:35px; border-right:solid 2px #E5E5E5;}
	.havadurumu11 span{width:100%; font-size:20px; color:#4C4C4C; font-weight:bold; margin-bottom:10px;}
	.havadurumu11 select{border:solid 2px #E5E5E5; width:90%; float:left;}
	.havadurumu12{width:182px; height:56px; padding:32px; border-right:solid 2px #E5E5E5;}
	.havadurumu12 span{width:100%; color:#4C4C4C; font-size:38px; line-height:45px; font-weight:bold;}
	.havadurumu12 samp{width:100%; color:#E54E1F; font-size:18px;}
	.havadurumu13{width:246px; height:120px; border-right:solid 2px #E5E5E5;}
	.havadurumu13 img{width:80px; height:70px; display:inline; margin:25px 5px 25px 15px;}
	.havadurumu13 span{padding-left:6px; color:#2D83D9; font-size:75px; line-height:120px;}
	.havadurumu13 samp{color:#2D83D9; font-size:20px; margin-top:25px;}
	.havadurumu14{width:176px; height:50px; padding:35px; line-height:25px; color:#4C4C4C; font-size:20px; font-weight:bold;}
	.havadurumu2{width:990px; border:solid 1px #E5E5E5; background:#FFF; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; o-border-radius:5px;}
	.havadurumu21{width:100%; border-bottom:solid 1px #E5E5E5;}
	.havadurumu21 a{display:inline; margin:0px 25px; color:#ADADAD; font-size:20px; font-weight:bold; line-height:50px;}
	.havadurumu21 a:hover, .havadurumu21 .active{color:#4C4C4C;}
	.havadurumu22{width:100%;}
	.havadurumu22 .prev{width:35px; height:335px;}
	.havadurumu22 .prev span{display:inline; margin:159px 12px; width:11px; height:17px; background:url(../tasarim/sprite.png) no-repeat; background-position:-225px -43px;}
	.havadurumu22 .next{width:35px; height:335px;}
	.havadurumu22 .next span{display:inline; margin:159px 12px; width:11px; height:17px; background:url(../tasarim/sprite.png) no-repeat; background-position:-236px -43px;}
	.havadurumu22 .body{width:920px; height:335px; position:relative; overflow:hidden;}
	.havadurumu22 .body ul{position:absolute; top:0px; left:0px; height:335px;}
	.havadurumu22 .body li{width:182px; height:335px; border-left:solid 1px #E5E5E5; border-right:solid 1px #E5E5E5;}
	.havadurumu22 .body li:nth-child(2n){background:#E8F4FB;}
	.havadurumu22 .body li .date{width:100%; text-align:center; color:#B9B9B9; font-size:20px; font-weight:bold; margin:20px 0px;}
	.havadurumu22 .body li .img{width:100%; text-align:center;}
	.havadurumu22 .body li .img img{float:none !important;}
	.havadurumu22 .body li .degree{width:100%; text-align:center; color:#2D83D9; font-size:45px; font-weight:bold;}
	.havadurumu22 .body li .statu{width:100%; text-align:center; color:#E54E1F; font-size:20px; margin-bottom:20px;}
	.havadurumu22 .body li .info{width:100%; text-align:center; color:#4C4C4C; font-size:16px; line-height:24px;}
/*--[ İLGİLİ HABER ]--*/
	.ilgili{width:100%;}
	.ilgili .title{width:100%; height:31px; margin-bottom:12px; border-bottom:solid 2px #DADADA; position:relative;}
	.ilgili .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #74A9F0; color:#414141; font-weight:bold; font-size:22px;}
	.ilgili .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #FFF; color:#FFF; font-weight:bold; font-size:14px;}
	.ilgili .title a:hover{color:#C12B19;}
	.ilgili .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:6px; height:9px; background:url(../tasarim/sprite.png) no-repeat; background-position:-218px -50px;}
	.ilgili .body{width:100%;}
/*--[ ALERT ]--*/
	.alert{width:100%; min-height:50px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; o-border-radius:5px;}
	.alert samp{color:#FFF; font-size:14px; font-weight:lighter; line-height:14px; padding:18px 0px;}
	.alert a{color:#FFF; font-size:14px; font-weight:bold; line-height:14px; padding:18px 15px; float:right !important;}
	.alert a:hover{color:#333;}
	.alert_error{background:#F05458;}
	.alert_error span{width:18px; height:18px; display:inline; margin:16px; background:url(../tasarim/sprite.png) no-repeat; background-position:-270px -154px;}
	.alert_succes{background:#69B552;}
	.alert_succes span{width:18px; height:18px; display:inline; margin:16px; background:url(../tasarim/sprite.png) no-repeat; background-position:-288px -154px;}
	.alert_warning{background:#FFBE0D;}
	.alert_warning samp{color:#903A39;}
	.alert_warning span{width:20px; height:20px; display:inline; margin:15px; background:url(../tasarim/sprite.png) no-repeat; background-position:-324px -154px;}
	.alert_info{background:#82CEF3;}
	.alert_info span{width:18px; height:18px; display:inline; margin:16px; background:url(../tasarim/sprite.png) no-repeat; background-position:-306px -154px;}
/*--[ KATEGORİ ]--*/
    .kategori{width:100%; min-height:30px;}
    .kategori li a{background-color:#40DBE5;}
    .kategori li samp{font-size:14px; line-height:30px; color:#FFF; padding:0px 10px;}
    .kategori li span{border-style:solid; border-width:0px 30px 30px 0px; border-color:transparent red transparent transparent;}
/*--[ YAZARLAR ]--*/
.yazarslayt{width:680px; border:solid 1px #E5E5E5; background:#FFF;}
.yazarslayt .body{width:100%; height:260px; position:relative;}
.yazarslayt .body li{width:100%; height:260px; position:absolute; top:0px;}
.yazarslayt .yazarslayt1{width:138px; height:138px; border:solid 1px #E5E5E5; background:#FFF; position:absolute; top:-40px; left:275px; border-radius:68px; -webkit-border-radius:68px; -moz-border-radius:68px; -ms-border-radius:68px; -o-border-radius:68px;}
.yazarslayt .yazarslayt1 img{width:130px; height:130px; display:inline; margin:4px; border-radius:65px; -webkit-border-radius:65px; -moz-border-radius:65px; -ms-border-radius:65px; -o-border-radius:65px;}
.yazarslayt .yazarslayt2{color:#ED2118; font-size:14px; text-align:center; width:100%; margin-top:110px;}
.yazarslayt .yazarslayt3{width:100%; color:#474747; font-size:22px; text-align:center; font-weight:bold; margin:3px 0px;}
.yazarslayt .yazarslayt4{width:100%; color:#6B6B6B; font-size:14px; text-align:center; line-height:16px;}
.yazarslayt .yazarslayt5{border:solid 1px #E5E5E5; line-height:28px; line-height:28px; width:118px; display:inline; margin:10px 280px; text-align:center; font-size:12px; color:#454545;}
.yazarslayt .body li:hover .yazarslayt3{color:#ED2118;}
.yazarslayt .body li:hover .yazarslayt5{color:#ED2118;}
.yazarslayt .button{width:100%; height:30px; border-bottom:solid 3px #EAEAEA; background:#FFF; position:relative;}
.yazarslayt .button ul{position:relative; left:50%; text-align:center;}
.yazarslayt .button ul li{display:block; position:relative; right:50%;}
.yazarslayt .button li a{width:15px; height:15px; background:url(../tasarim/sprite.png) no-repeat; background-position:-170px -74px; display:inline; margin:5px 3px;}
.yazarslayt .button li:hover a, .yazarslayt .button .active a{background:url(../tasarim/sprite.png) no-repeat; background-position:-185px -74px;}
.yazarlist{width:660px; position:relative; border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; background:#FFF; margin-top:10px; padding:10px;}
.yazarlist1{width:108px; height:108px; border:solid 1px #E5E5E5; display:inline; margin-right:10px; border-radius:54px; -webkit-border-radius:54px; -moz-border-radius:54px; -ms-border-radius:54px; -o-border-radius:54px;}
.yazarlist1 img{width:100px; height:100px; display:inline; margin:4px; border-radius:50px; -webkit-border-radius:50px; -moz-border-radius:50px; -ms-border-radius:50px; -o-border-radius:50px;}
.yazarlist2{width:540px;}
.yazarlist21{width:100%;}
.yazarlist21 span{color:#ED2118; font-size:14px;}
.yazarlist21 samp{color:#B6B6B6; font-size:14px; float:right !important;}
.yazarlist22{width:100%; color:#474747; font-size:16px; font-weight:bold; margin:3px 0px;}
.yazarlist23{width:100%; color:#6B6B6B; font-size:14px; line-height:16px;}
.yazarlist24{border:solid 1px #E5E5E5; line-height:28px; line-height:28px; padding:0px 10px; font-size:12px; color:#454545; margin-top:5px;}
/*.yazarlist:hover .yazarlist22{color:#ED2118;}*/
/*.yazarlist:hover .yazarlist24{color:#ED2118;}*/
/*--[ YAZAR BANT ]--*/
.yazarbant{width:992px;}
.yazarbant1{width:0px; margin-top:39px; height:0px; border-style:solid; border-width:35px 22px 0px 0px; border-color:transparent #A6A6A6 transparent transparent; background:#F5F5F1;}
.yazarbant2{width:970px; margin-top:39px; position:relative; height:35px; background:url(../tasarim/yazarbant.png) repeat-y;}
.yazarbant21{position:absolute; bottom:0px; left:0px; width:62px; height:35px;}
.yazarbant21 span{width:62px; height:35px; position:absolute; bottom:0px; left:0px; z-index:1; background:#A6A6A6;}
.yazarbant21 img{width:62px; height:74px; position:absolute; bottom:0px; left:0px; z-index:2;}
.yazarbant22{width:0px; height:0px; display:inline; margin-left:62px; border-style:solid; border-width:0px 0px 35px 22px; border-color:transparent transparent transparent #A6A6A6;}
.yazarbant23{height:35px; line-height:35px; font-size:21px; color:#000000; padding:0px 20px;}
.yazarbant24{width:0px; height:0px; border-style:solid; border-width:35px 22px 0px 0px; border-color:transparent #C71311 transparent transparent;}
.yazarbant25{width:0px; height:0px; border-style:solid; border-width:0px 0px 35px 22px; border-color:transparent transparent transparent #C71311;}
.yazarbant26{height:35px; line-height:35px; font-size:21px; color:#4C4D4E; padding:0px 20px;}
/*--[ YAZARLAR BANT 1 ]--*/
/*--[ YAZARLAR BANT CSS ]--*/
.yazarlarbant{width:990px; border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; background:#FFF; position:relative;}
.yazarlarbant1, .yazarlarbant3{width:30px; height:100px;}
.yazarlarbant1 span, .yazarlarbant3 span{width:30px; height:26px; background:#D8232A;}
.yazarlarbant1 a, .yazarlarbant3 a{transition:all 0.3s ease; display:inline; margin:29.5px 5px; width:20px; height:25px; background:url(../tasarim/yazarok.png) no-repeat; background-position:0px 0px; !important}
.yazarlarbant1 a{background:url(../tasarim/yazarok.png) no-repeat; background-position:0px 0px;}
.yazarlarbant1 a:hover{background:url(../tasarim/yazarok.png) no-repeat; background-position:0px -25px;}
.yazarlarbant3 a{background:url(../tasarim/yazarok.png) no-repeat; background-position:-20px 0px;}
.yazarlarbant3 a:hover{background:url(../tasarim/yazarok.png) no-repeat; background-position:-20px -25px;}
.yazarlarbant2{width:930px; height:100px; position:relative; overflow:hidden; margin-top:10px;}
.yazarlarbant2 ul{height:210px; height:100px; position:absolute; top:0px; left:0px;}
.yazarlarbant2 ul li{width:232.5px;}
.yazarlarbant2 ul li a{width:100%; height:100px; position:relative;}
.yazarlarbant2 ul li a img{width:100px; height:100px; position:absolute; right:0px; bottom:0px; z-index:2;}
.yazarlarbant2 ul li a span{transition:all 0.3s ease; width:100%; height:26px; position:absolute; left:0px; bottom:0px; color:#FFF; font-size:15px; line-height:26px; background:#D8232A; z-index:1; padding-right:95px; text-align:right; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}
.yazarlarbant2 ul li a samp{transition:all 0.3s ease; width:100%; position:absolute; bottom:50px; right:0px; color:#000; font-size:17px; line-height:18px; font-weight:bold; padding:0px 90px 0px 5px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; height: 45px;}
.yazarlarbant2 ul li a:hover span{color:#EEE}
.yazarlarbant2 ul li a:hover samp{color:#F00}
/*--[ YAZARLAR BANT CSS ]--*/
/*--[ YAZARLAR BANT 2 ]--*/
.yazarlarbantt{width:990px; height:130px; border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; background:#FFF; position:relative;}
.yazarlarbantt1{width:34px; height:30px; position:absolute; left:5px; top:9px;}
.yazarlarbantt3{width:36px; height:31px; position:absolute; right:5px; bottom:5px;}
.yazarlarbantt1 a{width:34px; height:30px; background:url(../tasarim/sprite.png) no-repeat; background-position:-269px -194px;}
.yazarlarbantt3 a{width:36px; height:31px; background:url(../tasarim/sprite.png) no-repeat; background-position:-303px -194px;}
.yazarlarbantt2{width:987px; height:120px; position:relative; overflow:hidden; position:absolute; left:0px; top:4px;}
.yazarlarbantt2 ul{height:210px; height:130px; position:absolute; top:0px; left:3px;}
.yazarlarbantt2 ul li{width:987px; height:130px; position:relative;}
.yazarlarbantt2 ul li div{width:315px; height:129px; position:relative;}
.yazarlarbantt21 a{position:absolute; left:0px; top:0px; width:353px; height:120px; background:url(../tasarim/yazarlarbant2.png) no-repeat bottom;}
.yazarlarbantt21 img{width:139px; height:120px; position:absolute; top:0px; left:15px;}
.yazarlarbantt21 a span{width:140px; height:37px; position:absolute; bottom:0px; left:158px; color:#FFF; font-size:21px; line-height:37px;}
.yazarlarbantt21 a:hover span{color:#000}
.yazarlarbantt21 a samp{width:210px; height:34px; position:absolute; top:22px; right:35px; color:#000; font-size:13px; text-align:right; line-height:17px; font-style:italic;}
.yazarlarbantt22 a{position:absolute; left:0px; top:0px; width:353px; height:120px; background:url(../tasarim/yazarlarbant3.png) no-repeat bottom;}
.yazarlarbantt22 img{width:139px; height:120px; position:absolute; top:0px; left:15px;}
.yazarlarbantt22 a span{width:140px; height:37px; position:absolute; bottom:0px; left:158px; color:#000; font-size:21px; line-height:37px;}
.yazarlarbantt22 a:hover span{color:#F00}
.yazarlarbantt22 a samp{width:210px; height:34px; position:absolute; top:22px; right:35px; color:#000; font-size:13px; text-align:right; line-height:17px; font-style:italic;}
/*--[ GAZETELER BANT 1 ]--*/
.gazetebant{width:990px; border:solid 1px #E5E5E5; border-bottom:solid 3px #E5E5E5; background:#FFF;}
.gazetebant1, .gazetebant3{width:59px; height:210px;}
.gazetebant1 a{display:inline; margin:89px 16px; width:27px; height:31px; background:url(../tasarim/sprite.png) no-repeat; background-position:-215px -194px;}
.gazetebant3 a{display:inline; margin:89px 16px; width:27px; height:31px; background:url(../tasarim/sprite.png) no-repeat; background-position:-242px -194px;}
.gazetebant2{width:872px; height:210px; position:relative; overflow:hidden;}
.gazetebant2 ul{height:210px; position:absolute; top:0px; left:0px;}
.gazetebant2 ul li{width:872px; height:170px; padding:20px 0px;}
.gazetebant2 ul li a{width:218px; height:170px; background:url(../tasarim/gazetebant.jpg) no-repeat center bottom; position:relative;}
.gazetebant2 ul li a img{width:102px; height:151px; position:absolute; top:8px; left:30px;}
.gazetebant2 ul li a span{width:102px; height:22px; position:absolute; top:65px; left:135px; color:#FFF; font-size:15px; line-height:22px;}