/*.slide3 .body{*/
/*position: relative!important;*/
/*}*/
/*.slide3 .button li a {*/
/*float: left;*/
/*padding: 0;*/
/*}*/
/*.slide3 .button li a samp {*/
/*color: #000;*/
/*font-size: 14px;*/
/*font-weight: 700;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
/*padding: 5px 10px;*/
/*line-height: 21px;*/
/*position: relative;*/
/*}*/
/*.slide3 .button .flex-active-slide samp{*/
/*color: #fff;*/
/*}*/
/*.slide3 .button .flex-active-slide {*/
/*background-color: #ED2117;*/
/*}*/
/*.slide3 .body li a samp {*/
/*width: 362px;*/
/*}*/

/*.puandurumu .liste .team {*/
/*width: 153px;*/
/*}*/

/*.puandurumu {*/
/*width: 682px;*/
/*}*/

/*.puandurumu .liste_top .team {*/
/*width: 141px;*/
/*}*/

/* TEMPORARY FIX */
.header .nav {
    width: 676px;
    padding: 0 10px 16px 16px;
}

.header .nava {
    line-height: 55px;
}

.header .nava span {
    margin-top: 24px;
}

.borsa .borsa_down {
    background: url(../tasarim/borsa_down_icon.png) no-repeat;
}

.hkutular {
    margin-bottom: 5px;
}

.widget {
    opacity: 1 !important;
    margin-bottom: 10px;
}

.yorumlar .comment12 .button2 samp.active {
    background: url(../tasarim/sprite.png) no-repeat;
    background-position: -150px -57px;
}

.yorumlar .comment12 .button3 samp.active {
    background: url(../tasarim/sprite.png) no-repeat;
    background-position: -169px -57px;
}

.sub-comment {
    width: 500px;
}

.y .header {
    z-index: 99999;
    height: 109px;
}

.sticky .header .top {
    display: none;
}

.sticky .header {
    background-position: 0 26px;
    height: 109px;
    z-index: 1000;
}

.sticky-wrapper {
    height: 110px !important;
    z-index: 999 !important;
}

.sticky .megamenuu {
    top: 109px;
}

.slide3 .button .active a span {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #EF1D13;
    background: none;
    margin-left: 30px;
}

.arabaslik h4 {
    top: 0px;
    left: 0px;
    height: 31px;
    border-bottom: solid 2px #C12B19;
    color: #414141;
    font-weight: bold;
    font-size: 22px;
}

.arabaslik h1 {
    top: 0px;
    left: 0px;
    height: 31px;
    border-bottom: solid 2px #C12B19;
    color: #414141;
    font-weight: bold;
    font-size: 22px;
}

.content_pool_square {
    width: 60px !important;
    height: 60px !important;
}

.arabaslik a i {
    float: right !important;
    display: inline;
    margin: 5px 0px 0px 5px;
    width: 7px;
    height: 10px;
    background-position: -129px -50px;
}

/* independent */
.i100-img {
    position: relative;
    float: left;
    width: 70px;
    padding: 5px;
    margin-bottom: 4px;
    max-height: 60px;
    overflow: hidden;
}

#i100-wrap {
    position: relative;
    width: 299px;
    border: 1px solid #ccc;
    background: #d0d2d5;
}

#i100-list {
    position: relative;
    width: 300px;
    margin-top: 4px;
    padding-bottom: 7px;
    margin-left: 8px;
}

.i100-item {
    position: relative;
    width: 270px;
    border: 1px solid #ccc;
    margin: 0 auto 5px;
    padding: 4px;
    border-left: 3px solid #b80000;
    -webkit-box-shadow: 0 2px 3px 0 #aaa;
    box-shadow: 0 2px 3px 0 #aaa;
    background: #fff;
}

.i100-item:hover {
    background: #e9e9e9;
}

.i100-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.i100-item.card-discover {
    border-left: 3px solid #ed1b2f;
}

.i100-item.card-news {
    border-left: 3px solid #e67e22;
}

.i100-item.card-people {
    border-left: 3px solid #f1c40f;
}

.i100-item.card-videos {
    border-left: 3px solid #57d68d;
}

.i100-item.card-sport {
    border-left: 3px solid #40a9ef;
}

.i100-item.card-tech {
    border-left: 3px solid #3f57ec;
}

.i100-item.card-offbeat {
    border-left: 3px solid #9b2fc7;
}

.i100-item.card-ents {
    border-left: 3px solid #d43998;
}

.i100-img {
    position: relative;
    float: left;
    width: 60px;
    padding: 5px;
}

.i100-txt {
    position: relative;
    float: right;
    width: 180px;
    padding: 0 3px 5px 7px;
    font-family: "Roboto Condensed", "Times New Roman", Serif;
    text-align: left;
}

.i100-txt a {
    color: #000;
    text-decoration: none;
}

.i100-count {
    font-family: 'Roboto Condensed', "Times New Roman", serif;
    color: #ec1b2e;
    font-size: 19px;
    padding-right: 4px;
    line-height: 27px;
}

/*.i100-headline {font-family: 'Roboto Condensed', serif; font-size:12px; margin-left: 18px}*/

.flexslider {
    margin: 0;
}

.flex-direction-nav {
    display: none;
}

.slide1 .button {
    height: 75px;
}

.slide1 .button li:hover, .slide1 .button .flex-active-slide {
    border-bottom: solid 4px #E62E26;
}

.mm_white .megamenu3 ul {
    width: 130px !important;
    padding: 10px 15px !important;
}

.header .navha {
    width: 18px;
    height: 18px;
    margin: 15px 0px 14px;
    background: url(../tasarim/sprite.png) no-repeat;
}

.active_black .navha, .navli_black .navha, .navli_white .navha {
    background-position: -150px 0px;
}

.active_white .navha {
    background-position: -390px 0px;
}

.header .nav .active_white, .header .navli_white:hover .navha {
    background-position: -390px 0px;
}

.header .navli_black:hover .nava span {
    background-position: -158px -18px;
}

.header .navli_black:hover .navha {
    background: url(../tasarim/sprite.png) no-repeat;
    background-position: -390px 0px;
}

.header .navli_black:hover, .header .navli_black:hover .nava {
    background: #FFF !important;
    color: #4C4A4A !important;
}

.widget.photo_gallery_list .body {
    position: relative;
    height: 374px;
}

.widget.photo_gallery_list .eisotop:nth-child(1) {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 328px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop:nth-child(2) {
    position: absolute;
    left: 330px;
    top: 0px;
    width: 329px;
    height: 512px;
}

.widget.photo_gallery_list .eisotop:nth-child(3) {
    position: absolute;
    left: 661px;
    top: 0px;
    width: 328px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop:nth-child(4) {
    position: absolute;
    left: 0px;
    top: 257px;
    width: 328px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop:nth-child(5) {
    position: absolute;
    left: 661px;
    top: 257px;
    width: 328px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop:nth-child(6) {
    position: absolute;
    left: 0px;
    top: 514px;
    width: 246px;
    height: 246px;
}

.widget.photo_gallery_list .eisotop:nth-child(7) {
    position: absolute;
    left: 248px;
    top: 514px;
    width: 246px;
    height: 246px;
}

.widget.photo_gallery_list .eisotop:nth-child(8) {
    position: absolute;
    left: 496px;
    top: 514px;
    width: 246px;
    height: 246px;
}

.widget.photo_gallery_list .eisotop:nth-child(9) {
    position: absolute;
    left: 744px;
    top: 514px;
    width: 246px;
    height: 246px;
}

.widget.photo_gallery_list .eisotop:nth-child(10) {
    position: absolute;
    left: 0px;
    top: 762px;
    width: 329px;
    height: 512px;
}

.widget.photo_gallery_list .eisotop:nth-child(11) {
    position: absolute;
    left: 331px;
    top: 762px;
    width: 658px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop:nth-child(12) {
    position: absolute;
    left: 331px;
    top: 1019px;
    width: 328px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop:nth-child(13) {
    position: absolute;
    left: 661px;
    top: 1019px;
    width: 328px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop:nth-child(14) {
    position: absolute;
    left: 0px;
    top: 1276px;
    width: 658px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop:nth-child(15) {
    position: absolute;
    left: 661px;
    top: 1276px;
    width: 328px;
    height: 255px;
}

.widget.photo_gallery_list .eisotop_wrapper {
    position: relative;
    height: 1532px;
}

.widget.foto_galeri_liste_5li_buyuk .body {
    position: relative;
    height: 514px;
}

.widget.foto_galeri_liste_5li_buyuk .eisotop:nth-child(1) {
    width: 328px;
    height: 255px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.widget.foto_galeri_liste_5li_buyuk .eisotop:nth-child(2) {
    width: 329px;
    height: 512px;
    position: absolute;
    left: 330px;
    top: 0px;
}

.widget.foto_galeri_liste_5li_buyuk .eisotop:nth-child(3) {
    width: 328px;
    height: 255px;
    position: absolute;
    left: 661px;
    top: 0px;
}

.widget.foto_galeri_liste_5li_buyuk .eisotop:nth-child(4) {
    width: 328px;
    height: 255px;
    position: absolute;
    left: 0px;
    top: 257px;
}

.widget.foto_galeri_liste_5li_buyuk .eisotop:nth-child(5) {
    width: 328px;
    height: 255px;
    position: absolute;
    left: 661px;
    top: 257px;
}

.widget.foto_galeri_liste_5li .body {
    position: relative;
    height: 374px;
}

.widget.foto_galeri_liste_5li .eisotop:nth-child(1) {
    width: 225px;
    height: 185px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.widget.foto_galeri_liste_5li .eisotop:nth-child(2) {
    width: 225px;
    height: 372px;
    position: absolute;
    left: 227px;
    top: 0px;
}

.widget.foto_galeri_liste_5li .eisotop:nth-child(3) {
    width: 225px;
    height: 185px;
    position: absolute;
    left: 454px;
    top: 0px;
}

.widget.foto_galeri_liste_5li .eisotop:nth-child(4) {
    width: 225px;
    height: 185px;
    position: absolute;
    left: 0px;
    top: 187px;
}

.widget.foto_galeri_liste_5li .eisotop:nth-child(5) {
    width: 225px;
    height: 185px;
    position: absolute;
    left: 454px;
    top: 187px;
}

.photo_gallery_next {
    width: 30px;
    height: 35px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 50%;
    margin-top: -18px;
    background: url(../images/btn_next.png);
}

.photo_gallery_prev {
    width: 30px;
    height: 35px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    margin-top: -18px;
    background: url(../images/btn_prev.png);
}

.fotodetay {
    position: relative;
}

.reklam23 {
    position: absolute;
    bottom: 10px;
}

.fotodetay1 .body {
    padding: 0;
    width: 670px;
    height: auto;
}

.fotodetay1 {
    height: auto;
}

.fotodetay1 .thumbnails {
    margin: 10px 0 0;
}

.fotodetay1 .body {
    border: none;
}

.fotodetay1 .body ul {
    width: 100%;
}

.fotodetay1 .body li {
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

.fotodetay1 .body li img {
    float: none;
}

.thumbnails a {
    margin: 0 5px 5px 0;
    opacity: 0.5;
}

/*.thumbnails a:nth-child(3n) {*/
/*margin-right: 0;*/
/*}*/

.blueimp-gallery > .indicator > li {
    width: 50px !important;
    height: 50px !important;
}

.slide3 .button {
    border: none;
}

.i100-txt3 .i100-headline {
    color: #414141;
}

.fotodetay {
    margin-bottom: 10px;
}

.slide3 .button a {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px 10px;
    line-height: 21px;
    position: relative;
}

.slide3 .button a.active {
    color: #FFF;
}

.slide3 .button .active span {
    background: url(../tasarim/icon1.png) no-repeat center;
    width: 100%;
    height: 6px;
    position: absolute;
    top: -5px;
    left: 0;
}

.slide2 .button {
    position: absolute;
    width: 20px;
    z-index: 2;
    top: 18px;
    right: 10px;
}

.slide2 .button .dont {
    width: 15px;
    height: 15px;
    background: url(../tasarim/beyaz.png) no-repeat;
    background-size: 15px 15px;
    display: inline;
    margin-bottom: 10px;
}

.slide2 .button .active.dont {
    background: url(../tasarim/kirmizi.png) no-repeat;
    background-size: 15px 15px;
}

.slide2 .button .dont:last-child {
    margin-bottom: 0;
}

.slide1 .button a {
    padding: 6px 3px 5px;
    width: 93px;
    height: 53px;
    background: #FFF;
}

.slide1 .slide_button_682 a {
    padding: 6px 4px 5px !important;

}

.slide1 .active .manset_nav_img {
    opacity: 1;
}

.i100-img3 {

    float: left !important;
}

.i100-txt3 {
    float: left !important;
}

.content #i100-wrap3 {
    background: none;
    border: none;
}

.bloggerlar .arrow_next.passive span {
    background-position: -122px -84px;
}

.bloggerlar .arrow_prev.passive span {
    background-position: -96px -84px;
}

.yazarlar .arrow_prev.passive span {
    background-position: -96px -84px;
}

.yazarlar .arrow_next.passive span {
    background-position: -122px -84px;
}

.gelismeler .arrow_prev.passive span {
    background-position: -96px -84px;
}

.gelismeler .arrow_next.passive span {
    background-position: -122px -84px;
}

.liveblogging_container {
    position: relative;
}

.liveblog.style_1 {
    position: absolute;
    left: 449px;
    top: 214px;
    width: 241px;
    height: 146px;
}

.liveblog_items {
    position: absolute;
    left: 0;
    top: 276px;
    width: 440px;
    height: 77px;

}

.liveblog_items ul {
    width: 647px;
    height: 76px;
    overflow: hidden;
}

.liveblog_items ul li {
    width: 630px;
    padding-left: 10px;
    font-size: 22px;
    line-height: 25px;
}

.fotodetay1 .body li a img {
    float: none;
}

.fotodetay1 .body li a {
    width: 670px;
    text-align: center;
}

.sondakika ul li {
    padding: 0px 0 0 10px;
}

.slide5 .button a {
    width: 11px;
    height: 11px;
    background: url(../tasarim/sprite.png) no-repeat;
    background-position: -74px -72px;
    display: inline;
    margin: 5px 3px;
}

.slide5 .button a.active {
    background: url(../tasarim/sprite.png) no-repeat;
    background-position: -85px -72px;
}

.slide5 .center {
    margin: 0 auto;
    float: none;
}

.slide5 .button .dont {
    width: 17px;
    height: 17px;
    background: url(../tasarim/beyaz.png) no-repeat;
    background-size: 17px 17px;
    display: inline;
    margin-bottom: 10px;
}

.slide5 .button .active.dont {
    background: url(../tasarim/kirmizi.png) no-repeat;
    background-size: 17px 17px;
}

.haberslayt .haber2 {
    height: auto;
}

.haberslayt .button a {
    width: 11px;
    height: 11px;
    background: url(../tasarim/siyah.png);
    background-size: 11px;
    display: inline;
    margin: 5px 3px;
}

.haberslayt .button a.active {
    background: url(../tasarim/kirmizi.png);
    background-size: 11px;
}

.haberslayt .center {
    margin: 0 auto;
    float: none;
}

.fotodetay2 .desc {
    margin-bottom: 10px;
}

.fotodetay2 .desc h2 {
    font-weight: bold;
    font-size: 18px;
}

.fotodetay2 .photo_desc {
    width: 100%;
    font-size: 14px;
    border-top: solid 1px #DADADA;
    margin-bottom: 172px;
    padding-top: 10px;
}

.hkutular .button a {
    width: 11px;
    height: 11px;
    background: url(../tasarim/beyaz.png);
    background-size: 11px;
    margin: 5px 4px;
}

.hkutular .button a.active {
    background: url(../tasarim/kirmizi.png);
    background-size: 11px;
}

.popvideolar2 .button a {
    width: 11px;
    height: 11px;
    background: url(../tasarim/beyaz.png);
    background-size: 11px;
    display: inline;
    margin: 5px 3px;
}

.popvideolar2 .button a.active {
    background: url(../tasarim/kirmizi.png);
    background-size: 11px;
}

.popvideolar2 .center {
    margin: 0 auto;
    float: none;
}

.slide_button_682 {
    width: 682px !important;
    float: none;
}

.yazarlar_detay_liste ul.pagination {
    margin-top: 10px;
}

.yeni_yazarlar_detay_liste ul.pagination {
    margin-top: 10px;
}

ul.pagination {
    display: inline-block;
    margin: 0 auto;
    float: none;
}

ul.pagination li {
    margin: 0 !important;
    width: 36px !important;
    text-align: center;
    background: #ffffff;
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0;
    border: 1px solid #DADADA;
    height: 44px;
}

ul.pagination li a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #95a5a6;
    font-size: 18px !important;
    font-weight: normal !important;
    text-decoration: none;
    padding: 12px 0px;
    display: block;
    width: 100%;
    text-align: center;
}

ul.pagination li a:hover {
    text-decoration: none;
    color: #222222;
}

ul.pagination li.current {
    border: 1px solid #000;
}

ul.pagination li.current a {
    color: #222222;
}

ul.pagination li.arrow {
    width: 54px !important;
}

ul.pagination li.arrow a {
    text-indent: -99999px;
    width: 50px !important;
}

ul.pagination li.unavailable a {
    opacity: 0.3;
}

ul.pagination li.first {
    border-left: 2px solid #dadada;
}

ul.pagination li.first a {
    background: url(../tasarim/pagination.png) no-repeat;
    display: block;
    height: 42px !important;
    padding: 0 !important;
}

ul.pagination li.prior a {
    background: url(../tasarim/pagination.png) no-repeat -50px 0;
    width: 49px !important;
    height: 42px !important;
    padding: 0 !important;
}

ul.pagination li.next a {
    background: url(../tasarim/pagination.png) no-repeat -100px 0;
    width: 49px !important;
    height: 42px !important;
    padding: 0 !important;
}

ul.pagination li.last a {
    background: url(../tasarim/pagination.png) no-repeat right 0;
    width: 49px !important;
    height: 42px !important;
    padding: 0 !important;
}

ul.pagination li.next {
    border-left: 1px solid #DADADA;
}

ul.pagination li.last {
    border-left: 1px solid #DADADA;
    border-right: 2px solid #DADADA;
}

.gelismeler .liste:last-child {
    border-bottom: solid 2px #B6B6B6 !important;
}

.body li .slider_text_line div {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 94%;
    padding: 3%;
}

.body li .slider_text_line {
    width: 100px;
    height: 2px;
    margin-bottom: 5px;
}

.body li .slider_text_line div samp {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

.body li .slider_text_line div span {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: #FFF;
}

.icerik_liste_5li .center {
    text-align: center;
    width: 682px;
    margin-top: 10px;
}

.blueimp-gallery > .description {
    position: absolute;
    top: 50px;
    left: 15px;
    color: #FFF;
    display: none;
}

.blueimp-gallery-controls > .description {
    display: block;
}

.header .middle .user {
    width: auto;
}

.header .middle .user a {
    margin-right: 5px;
}

.header {
    height: 144px;
    background-color: #F5F5F1 !important;

}

.popvideolar .videolist .play {
    width: 56px;
    height: 56px;
}

.footer .logo {
    background: url(../tasarim/logo_footer.png) no-repeat !important;
    background-size: 142px !important;
}

.kategori li:first-child samp {
    text-transform: uppercase;
}

.bloggerlar .title {
    font-size: 15px;
}

.photo_desc.position-top {
    padding-top: 0;
    border: none;
}

.popvideolar .videolist:hover .play, .videotek:hover .play {
    opacity: 0.6;
}

.icerik_liste_dikey_tumu .center, .photo_gallery_list .center {
    clear: both;
    text-align: center;
    width: 992px;
    margin-top: 10px;
}

.videoslide2 .videoembed {
    height: 390px !important;
}

.videoslide .videoembed {
    border-left: solid 1px #DADADA;
    width: 681px !important;
    height: 409px !important;
}

.author22:hover {
    color: #003399;
}

.author22 {
    width: 106px !important;
}

.govde .editable-click, a.editable-click, a.editable-click:hover {
    border: none !important;
}

.govde .editable-container span {
    width: auto !important;
    padding-right: 8px !important;
    padding-top: 0 !important;
}

.videoembed samp {
    position: absolute;
    color: #474747;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;

}

.videoembed {
    border-bottom: solid 1px #DADADA;

}

.yazarslayt .yazar_detay {
    font-size: 16px;
    position: absolute;
    margin-top: 122px;
    color: #ED2118;
    width: 100%;
    text-align: center;
    font-weight: bold;

}

.yazarslayt .yazar_detay2 {
    font-size: 16px;
    padding: 10px;
    position: absolute;
    margin-top: 160px;
    color: #6E6E6E;
    width: 100%;
}

.yazarslayt .yazar_detay1 {
    position: relative;
}

.yazarslayt .body li {
    display: none;
}

.yazarslayt .yazarslayt4 {
    padding: 10px;
    width: 660px;
}

.yazarlist2 a {
    width: 100%;
}

.yazarlist a:hover div {
    color: #ED2118;
}

.yazarbant div, .yazarbant {
    float: left !important;
}

.yazarbant {
    margin-top: 20px;
    margin-bottom: 20px;
}

.yazarlarbant2 ul li div a span, .yazarlarbantt21 a span, .yazarlarbantt22 a span {
    font-size: 15px;
}

.yazarlarbantt1, .yazarbant {
    z-index: 76;
}

.yazarbant27 {
    height: 35px;
    line-height: 35px;
    font-size: 21px;
    color: #4C4D4E;
    padding: 0px 20px;
    margin-top: 3px;
}

.yazarlar_detay .yazarslayt {
    border: none;
    background: #F5F5F1;
}

.yeni_yazarlar_detay .yazarslayt {
    border: none;
    background: #F5F5F1;
}

.arabaslik .ara_baslik {
    top: 0px;
    left: 0px;
    height: 31px;
    border-bottom: solid 2px #C12B19;
    color: #414141;
    font-weight: bold;
}

.hkutular .title h4 a {
    color: #F1F1F1;
}

.slide_992 {
    position: relative;
}

.slide_992 .button {
    position: absolute;
    width: 20px;
    z-index: 2;
    top: 13px;
    right: 5px;
}

.slide_992 .button .dont {
    width: 20px;
    height: 20px;
    background: url(../tasarim/beyaz.png) no-repeat;
    background-size: 20px 20px;
    display: inline;
    margin-bottom: 15px;
}

.slide_992 .button .active.dont {
    background: url(../tasarim/kirmizi.png) no-repeat;
    background-size: 20px 20px;
}

.slide_992 .button .dont:last-child {
    margin-bottom: 0;
}

.yazarslayt .button li a {
    background: url(../tasarim/gri.png) no-repeat;
    background-size: 15px;
}

.yazarslayt .button li.active a {
    background: url(../tasarim/kirmizi.png) no-repeat;
    background-size: 15px;
}

.kategori {
    width: 992px;
}

.icerik_tag {
    position: absolute;
    z-index: 3;
    margin-top: 53px;
    line-height: 17px;
    font-size: 10px;
    padding: 0px 3px;
    color: #ffffff;
    border: solid 2px #FFF;
}

.i100-img3 a {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}

.i100-img3 a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.i100-img3 span.photo {
    background: url(/assets/default/mobil/tasarim/icon7.png) no-repeat center;
}

.i100-img3 span.video {
    top: 50%;
    left: 50%;
    width: 56px;
    height: 56px;
    margin-top: -28px;
    margin-left: -28px;
    background: url(../tasarim/sprite.png) no-repeat -313px -28px;
}

.related_article {
    background: #442bbe;
    color: #ffffff;
    height: 17px;
    padding: 7px 10px 6px 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.puandurumu .position {
    width: 20px;
    line-height: 26px;
    text-align: center;
    color: #474747;
    font-size: 12px;
}

.puandurumu .liste .number {
    width: 61px;
}

.puandurumu .liste_top .number {
    width: 61px;
}

.puandurumu .team {
    border-left: solid 1px #DADADA;
}

.puandurumu .liste_top .position {
    line-height: 40px;
}

.header .middle .searchdetail {
    right: 95px;
    top: 38px;
}

.slide_10 .button a {

    padding: 9px 38px 0px 1px;
    width: 93px;
    height: 53px;
    background: #FFF;
}

/*Embed içerik*/
.embed_widget .news {
    position: relative;
    display: none;
}

.embed_widget {
    height: 220px;
    margin-top: 10px;
    position: relative;
}

.embed_widget .news a {
    border-bottom: none;
    display: block;
    position: relative;
    font-size: 0;
}

.embed_widget .selected {
    display: block !important;
    height: 190px;
    overflow: hidden;
    position: relative;
    width: 310px;
}

/*.embed_widget .selected img {height: 190px; width: 393px; margin-top: 24px; margin-left: -40px;}*/
.embed_widget .selected span {
    background-image: url("/assets/default/tasarim/transparent.png");
    bottom: 24px;
    color: #FFF;
    font-weight: bold;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 290px;
    font-size: 16px;
}

.embed_widget ul li {
    background-color: #F0F0F0;
    color: #333;
    float: left;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 31px;
}

.embed_widget .numbers a {
    width: 28px;
    border-bottom: 1px solid #C9C9C9;
    border-left: 1px solid #F8F8F8;
    border-right: 1px solid #D8D8D8;
    color: #444;
    display: block;
}

.embed_widget .numbers .current {
    background-color: #B91219;
    border-bottom: 1px solid #A00000;
    border-left: 1px solid #A00000;
    border-right: 1px solid #A00000;
    color: #fff;
}

.embed_widget .title {
    position: absolute;
    top: 0;
    z-index: 99;
    color: #FFF;
    font-size: 14px;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    padding-left: 7px;
    background-image: url("http://image.cdn.haber7.com/assets/haber7/images/bar_backgrounds.jpg");
    background-position: 0 -60px;
}

.embed_widget {
    width: 300px;
    height: 250px;
    margin: 0;
    padding: 0;
}

.embed_widget ul li {
    width: 30px !important;
}

/*.embed_widget .selected img {height: 222px; width:465px; margin-top: 0; margin-left: -40px;}*/
.embed_widget .selected span {
    width: 280px;
    bottom: 0;
}

.embed_widget .news {
    height: 220px;
    width: 300px;
}

.popvideolar .button {
    float: right;
    display: inline;
    margin: 9px 0 9px 10px;
}

.popvideolar .button a {
    width: 11px;
    height: 11px;
    background: url(../tasarim/siyah.png);
    background-size: 11px;
    margin: 5px 4px;
    border: none;
    position: relative;
    top: 0;
    right: 0;
}

.popvideolar .button a.active {
    background: url(../tasarim/kirmizi.png);
    background-size: 11px;
}

.popvideolar .title h4 a {
    position: relative;
    top: 0px;
    left: 0px;
    height: 31px;
    border-bottom: solid 2px #C12B19;
    color: #414141;
    font-weight: bold;
    font-size: 22px;
}

.popvideolar .title h4 a:hover {
    color: #414141;
}

.popvideolar2 .title h4 a {
    position: relative;
    top: 0px;
    left: 0px;
    height: 31px;
    border-bottom: solid 2px #C12B19;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

.popvideolar2 .title h4 a:hover {
    color: #ffffff;

}

.header .weather_city {
    width: 51px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.havadurumu12 span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.popvideolar1903 {
    width: 100%;
}

.popvideolar1903 .title {
    width: 100%;
    height: 31px;
    margin-bottom: 2px;
    border-bottom: solid 2px #DADADA;
    position: relative;
}

.popvideolar1903 .title h4 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 31px;
    border-bottom: solid 2px #C12B19;
    color: #414141;
    font-weight: bold;
    font-size: 22px;
}

.popvideolar1903 .title a {
    position: absolute;
    top: 14px;
    right: 0px;
    border-bottom: solid 2px #B4B4B4;
    color: #8C8C8C;
    font-weight: bold;
    font-size: 14px;
}

.popvideolar1903 .title a:hover {
    color: #C12B19;
}

.popvideolar1903 .title a i {
    float: right !important;
    display: inline;
    margin: 5px 0px 0px 5px;
    width: 7px;
    height: 10px;
    background: url(../tasarim/sprite.png) no-repeat;
    background-position: -129px -50px;
}

.popvideolar1903 .button {
    float: right;
    display: inline;
    margin: 9px 0 9px 10px;
}

.popvideolar1903 .button a {
    width: 11px;
    height: 11px;
    background: url(../tasarim/siyah.png);
    background-size: 11px;
    margin: 5px 4px;
    border: none;
    position: relative;
    top: 0;
    right: 0;
}

.popvideolar1903 .button a.active {
    background: url(../tasarim/kirmizi.png);
    background-size: 11px;
}

.popvideolar1903 .title h4 a {
    position: relative;
    top: 0px;
    left: 0px;
    height: 31px;
    border-bottom: solid 2px #C12B19;
    color: #414141;
    font-weight: bold;
    font-size: 22px;
}

.popvideolar1903 .title h4 a:hover {
    color: #414141;
}

.bookmarkme {
    width: 32px;
    margin-top: 4px;
    margin-left: 25px;
    position: absolute;
}

.kalan {
    float: left;
    margin: 0 0 0 38px;
    font-size: 13px;
    text-align: center;
}

.kalan strong {
    font-size: 13px;

}

.topnfo select {
    position: absolute;
    background: #fafafa;
    border: 1px solid #ddd;
    width: 169px;
    height: 28px;
    top: 18px;
    right: 13px
}

div#prayerTimeCountdownText strong {
    font-size: 16px;
}

.header .tarih {
    font-size: 11px;
}

.widget.manset_992_370_tekli .banner {
    position: relative;
}

.haber_video {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.foto_alt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.fg_a_current {
    opacity: 1 !important;
}

.content .photo_credit {
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.jw-display-icon-container.jw-background-color.jw-reset, .jw-icon.jw-icon-display.jw-button-color.jw-reset {
    float: none;
}

.fixed_block {
    position: fixed;
}

.up_to_the_top {
    z-index: 9999;
}

.mt40 {
    margin-top: 40px;
}

.mt60 {
    margin-top: 60px;
}

.manset_id_daire {
    background: url(http://www.karar.com/assets/default/tasarim/beyaz.png) no-repeat;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

.manset_682_370_20li .slide20li .button .active .manset_id_daire {
    background: url(http://www.karar.com/assets/default/tasarim/kirmizi.png) no-repeat;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

a.bdaire {
    background: none !important;
}

.zorder3 {
    z-index: 3;
    position: relative;
    display: block;
}

.footer {
    z-index: 3;
    position: relative;
    display: block;
    margin-bottom: 0 !important;
}

.banner_alani {
    position: relative;
}

.notfound {
    text-align: center;
}

.notfound .anamanset {
    width: 992px;
    height: 392px;
    overflow: hidden;
    border: 0px;
    margin: 25px auto 0 auto;
    max-width: 100%
}

.mainpage_intro {
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
    font-size: 12px;
    margin-left: 15px;
}

.mainpage_intro h1 {
    float: none;
    display: inline;
    font-size: 14px;
}

.mainpage_intro h2 {
    float: none;
    font-size: 13px;
    display: inline;
}

.headline h2 {
    font-size: 20px !important;
    font-weight: bold !important;
}

.none, .hidden {
    display: none;
}

.nofl {
    float: none !important;
}

.subscribe {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 99;
}

.box {
    position: relative;
    display: inline-block;
    width: 516px;
    margin-left: 25%;
    background-color: #2B2B2B;
    border-radius: 5px;
    bottom: 0;
    text-align: left;
}

.subscribe a {
    width: 300px;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    margin-top: 0;
    background: #76B1B9;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

.subscribe a:hover {
    box-shadow: black 0px 5px 10px;
}

.subscribe * {
    float: left;
    color: white;
    margin: 10px;
}

.subscribe p {
    width: 300px;
    margin-top: 0;
}

.subscribe img {
    border: 3px solid white;
    border-radius: 3px;
    margin-right: 0;
}

.subscribe #close_subscribe {
    width: 25px;
    border-radius: 13px;
    font-size: 16px;
    padding: 6px 0 0 0;
    height: 19px;
    right: -22px;
    top: -13px;
    position: absolute;
    line-height: 16px;
}

.header .membership {
    width: 140px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #D10A11;
    cursor: pointer;
    height: 34px;
}

.header .membership:hover {
    text-shadow: black 0px 0px 4px;
}

.pico-content .singup {
    width: 400px;
    padding: 40px;
    border: none;
    max-height: 460px;
    overflow-y: auto;
}

.formError {
    z-index: 10011 !important;
}

.formErrorContent {
    z-index: 10012 !important;
}

.formErrorArrow {
    z-index: 10013 !important;
}

.haber_detay_gorus .content p:first-child {
    margin-top: 0;
}

.haber_detay_gorus .content p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: times new roman;
    font-size: 22px;
}

.haber_detay_gorus .content span.s1 {
    font-family: times new roman;
}

.haber_detay_gorus .hdetay .img img {
    width: 800px !important;
}

.yazarlist2.width100 {
    width: 100%;
}

#interstitial div {
    height: 0px;
}

.infinite-loader {
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #D10A11;
    color: white;
    z-index: 5;
}

.infinite-loader * {
    display: block;
    padding: 10px 0;
    margin: 0 10px;
    width: auto;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}

.infinite-loader .infinite-header {
    font-size: 26px;
}

.infinite-loader .infinite-loading {
    height: 48px;
    margin: 0 auto;
}

.infinite-loader .infinite-container {
    width: 992px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    float: none;
}

.manset_liste {
    width: 100%;
}

.manset_liste_line {
    height: 252px;
    margin-bottom: 15px;
}

.manset_liste_1 {
    width: 491px;
    height: 252px;
    display: inline;
    position: relative;
    margin-left: 10px;
}

.manset_liste .center {
    text-align: center;
    width: 992px;
}

.related_news_mini {
    width: 100%;
    float: none;
    display: inline-block;
    text-align: center;
}

.related_news_mini img {
    max-width: 70%;
}

#auto_fetch {
    float: none;
    clear: both;
    display: block;
    width: 100%;
}

.dinamik_reklam_alani {
    margin: auto;
    float: none !important;
    display: inline-block;
}

.dinamik_banner_alani {
    text-align: center;
}


.poplist{width:100%;}
.poplist .title{width:100%; height:31px; margin-bottom:2px; border-bottom:solid 2px #DADADA; position:relative;}
.poplist .title h4{position:absolute; top:0px; left:0px; height:31px; border-bottom:solid 2px #C12B19; color:#414141; font-weight:bold; font-size:22px;}
.poplist .title a{position:absolute; top:14px; right:0px; border-bottom:solid 2px #B4B4B4; color:#8C8C8C; font-weight:bold; font-size:14px;}
.poplist .title a:hover{color:#C12B19;}
.poplist .title a i{float:right !important; display:inline; margin:5px 0px 0px 5px; width:7px; height:10px; background:url(../tasarim/sprite.png) no-repeat; background-position:-129px -50px;}
.poplist .body{width:100%;}
.poplist .popitem{width:300px; display:inline; margin-top:10px; position:relative;}
.poplist .popitem:nth-child(3n+0){margin:10px 0px 0px 0px;}
.poplist .popitem .content{width:298px; border:solid 1px #EBEBEB; border-bottom:solid 3px #EBEBEB; height:60px;}
.poplist .popitem .content span{width:279px; padding:17px 10px 3px 10px; color:#474747; font-size:18px; font-weight:bold;}
.poplist .popitem:hover .content span{color:#C12B19;}
.poplist .popitem .content samp{width:280px; padding:0px 10px; color:#A1A1A1; font-size:14px;}
.poplist .popitem .tag{position:absolute; top:157px; left:10px; z-index:3; line-height:26px; font-size:14px; padding:0px 10px; border:solid 2px #FFF; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;}
.poplist .popitem .sari{background:#FFC13C; color:#333;}
.poplist .popitem .kirmizi{background:#EE1E23; color:#FFF;}
.poplist .popitem .kmavi{background:#286AFE; color:#FFF;}
.poplist .popitem .turuncu{background:#EB5729; color:#FFF;}
.poplist .popitem .yesil{background:#529824; color:#FFF;}
.poplist .popitem .mavi{background:#02BDF0; color:#FFF;}
.poplist .popitem .play{position:absolute; top:65px; left:134px; z-index:3; width:55px; height:55px; background:url(../tasarim/sprite.png) no-repeat; background-position:-313px -28px;}
.poplist .popitem:hover .play{background:url(../tasarim/sprite2.png) no-repeat; background-position:-368px -28px;}


.hdetay .social1{width:30px; background:url(../tasarim/social-icons.png) no-repeat; background-position:0px 0px;transition: all .3s ease;}
.hdetay .social1:hover{background:url(../tasarim/social-icons.png) no-repeat; background-position:0px -30px;transition: all .3s ease;}
.hdetay .social2{width:30px; background:url(../tasarim/social-icons.png) no-repeat; background-position:-30px 0px;transition: all .3s ease;}
.hdetay .social2:hover{background:url(../tasarim/social-icons.png) no-repeat; background-position:-30px -30px;transition: all .3s ease;}
.hdetay .social3{width:30px; background:url(../tasarim/social-icons.png) no-repeat; background-position:-330px 0px;transition: all .3s ease;}
.hdetay .social3:hover{background:url(../tasarim/social-icons.png) no-repeat; background-position:-330px -30px;transition: all .3s ease;}
.hdetay .social4{width:30px; background:url(../tasarim/social-icons.png) no-repeat; background-position:-60px 0px;transition: all .3s ease;}
.hdetay .social4:hover{background:url(../tasarim/social-icons.png) no-repeat; background-position:-60px -30px;transition: all .3s ease;}
.hdetay .social5{width:30px; background:url(../tasarim/social-icons.png) no-repeat; background-position:-240px 0px;transition: all .3s ease;}
.hdetay .social5:hover{background:url(../tasarim/social-icons.png) no-repeat; background-position:-240px -30px;transition: all .3s ease;}

.haber_detay .content img{
    max-width:100%;
    height:auto;
}

.pswp {
    z-index:10001 !important;
}