@charset "UTF-8";
/* CSS Document */

.header .tarih {
  font-size: 11px;
}

.col-728 {
  width: 728px;
  min-height: 1px;
  margin-bottom: 0;
}

.col-254 {
  width: 254px;
  min-height: 1px;
  margin-bottom: 0;
}

.widget {
  opacity: 1 !important;
  }

.hkutu2 .lin {
  width: 135px;
  padding-left: 11px;
}

.slide1 .body li a {
  border: 0px;
}

#carousel_10 {
  border: solid 1px #fff;
  border-top: 0px;
}

.header {
  height: 124px;
  /* background: url(http://www.karar.com/assets/default/tasarim/menu-bottom-bg.png) repeat-x bottom; */
}

.header .middle .search span {
	visibility: hidden;
}

.header .middle .search form .txt {
  background-color: #F5F5F1;
}

.header .top {
  border-bottom: 1px solid #dedede;
}

.header .middle {
  padding: 5px 0px;
  height: 40px;
}

.header .middle .user {
  margin: 5px 0px;
}

.header .middle .search {
  margin: 5px 10px;
}

.header .nav {
  padding: 0 0px 0px 0px;
}

.header .bottom2 {
  height: 40px;
  background: #3c3c3c;
}

.header .bottom2 .nav .home {
  background: #3c3c3c;
}

.header .bottom2 .nav .home:hover {
  background: #fff;
}

.header .bottom2 .nav .home .navha {
  background-position: -150px 0px;
}

.header .bottom2 .nav .home:hover .navha {
  background-position: -390px 0px;
}

.header .bottom2 .nava {
  font-size: 18px;
}

.header .bottom2 .navli {
  height: 40px;
}

.header .bottom2 .nava {
  line-height: 40px;
}

.header .navha {
  margin: 9px 0px 14px;
}

.header .bottom2 .nava span {
  margin: 17px 0px 18px 5px;
}

.header .searchdetail2 .list div span {
  margin-top: 10px;
}

.header .searchdetail2 .list div samp {
  margin-top: 10px;
}
  
.sticky .header {
  height: 89px;
  z-index: 9999;
  background-position: 0 24px;
}

.sticky .megamenuu {
  top: 90px;
}

.megamenuu {
  top: 124px;
}

.mm_white .megamenu2 ul {
  background: #DFDFDF;
}

.megamenu2 ul li {
	margin-left: 15px;
}

.mm_white .megamenu2 ul {
  height: 190px;
}

.megamenu2 .mmhaber {
	padding-top: 15px;
  margin-bottom: 0px;
}



/*
.megamenu2 ul li a {
  font-size: 18px;
  line-height: 22px;
  font-family: 'PT Sans';
  font-weight: bold;
}
*/

.megamenu2 ul li a {
  font-size: 18px;
  line-height: 22px;
  /*font-family: 'Archivo Narrow', sans-serif;*/
}

.mm_white .megamenu2 ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mm_white .megamenu3 ul {
  width: 95px !important;
  padding: 10px 14px !important;
}

.sondakika {
  background: #E0E0E0;
  height: 30px;
}

.hdetay h2 {
  font-size: 22px;
}

.hdetay h6 {
  font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.hdetay a img {
  border: 2px solid #ff0000;
}

.hdetay #i100-list3 {
	margin-left: 0px !important;
}

/*.sondakika ul li a {
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
}
*/

/*bu tanım geçici olabilir*/
.sondakika_prev {
  background-position: 0px -54px;
}

.sondakika_next {
  background-position: -31px -54px;
}

.sondakika ul li a {
  /*font-weight: 700;*/
  /*font-family: 'Archivo Narrow', sans-serif;*/
  font-size: 20px;
  line-height: 30px;
}

.sondakika ul li span {
  font-size: 20px;
  line-height: 30px;
  padding: 1px 10px;
}

.sondakika ul li samp {
  background: url(http://www.karar.com/assets/default/tasarim/sondakka_ap_new.png) no-repeat !important;
  width: 22px;
}

.sondakika ul li span {
	text-shadow: 0 0 3px #FF0000;
}

.fotodetay2 .desc {
  font-weight: bold;
  font-size: 18px;
}

.bloggerlar .liste .img {
  border: 0px;
  width: 51px;
  height: 51px;
}

.bloggerlar .liste .img img {
  width: 51px;
  height: 51px;
}

.bloggerlar .liste .person {
  color: #A3503F;
  font-size: 14px;
  font-weight: bold;
}

.ara_kategori .kategori li:nth-child(n+6) a samp {
  color: #000 !important;
}

.bloggerlar .arrow_prev, .bloggerlar .arrow_all, .bloggerlar .arrow_next {
  height: 32px;
}

.yazarlar .arrow_prev, .yazarlar .arrow_all, .yazarlar .arrow_next {
  height: 32px;
}

.videoslide .videoembed {
  width: 681px;
  border: solid 1px #DADADA;
  border-right: 0;
  height: 491px !important;
}

.videoslide .videolist {
  height: 491px;
}

.videoslide .vaciklima {
    margin-top: 20px;
    padding: 10px;
}

.videoslide2 .videolist .content {
  padding-left: 15px;
}

.videoslide2 .videolist {
  height: 125px;
}

.videoslide2 .hdetay {
  margin-top: 10px;
}

.videotek .content span {
  padding: 5px 10px 3px 10px;
}

.videotek .content span.vaciklama2 {
  font-size: 14px !important;
  font-weight: 400 !important;
  padding: 0px 5px 3px 10px !important;
}

.videolar .videolist .sure {
	visibility:hidden;
}

.videotek .content samp {
	visibility:hidden;
}

.videolar .videolist .content {
  width: 184px;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.videolar .videolist .content span {
  font-size: 17px;
  font-weight: 700;
  margin-top: 5px;
}

.icerik_liste_dikey_tumu .videolar {
  width: 329px;
  margin-right: 1px;
}

.icerik_228_238 {
  margin-bottom: 0px;
}

.col-440, .col-332, .col-240 {
	margin-bottom: 0px !important;
}

.ara_baslik {
	width: 100%;
}

.arabaslik {
  width: 100%;
  height: 31px;
  border-bottom: solid 2px #DADADA;
  position: relative;
}

.arabaslik a {
  position: absolute;
  top: 14px;
  right: 0px;
  border-bottom: solid 2px #B4B4B4;
  color: #8C8C8C;
  font-weight: bold;
  font-size: 14px;
}

.arabaslik a i {
  float: right !important;
  display: inline;
  margin: 5px 0px 0px 5px;
  width: 7px;
  height: 10px;
  background: url(http://www.karar.com/assets/default/tasarim/sprite.png) no-repeat;
  background-position: -129px -50px;
}

.arabaslik .ara_baslik {
	border: 0;
}

.haberlist li a {
  padding: 5px 5px;
}

.haberlist {
  border: solid 3px #B6B6B6 !important;
  height: 357px;
  width: 306px;
}

.haber_dikey_300px {
  width: 300px !important;
  border-bottom: 2px solid #ddd;
}

.haber_dikey_300px .body {
	background-color: #CED0D3;
}

.haber_dikey_300px .body .videolist {
	background-color: #fff;
	margin-top: 5px;
	margin-bottom: 4px;
}

.haber_dikey_300px .body .videolist .content {
  height: 60px !important;
}

.haber_dikey_300px .body .videolist .content span {
	margin-top: 5px;
}

.haber_detay .center {
    clear: both;
    text-align: center;
    width: 682px;
    margin-top: 10px;
}

.videolar .title {
	margin-bottom: 10px;
}

.gelismeler .liste {
  width: 652px;
  border: solid 2px #B6B6B6;
  border-bottom: solid 0px !important;
}

.gelismeler .arrow {
  width: 678px;
  border: solid 2px #B6B6B6;
  border-bottom: solid 2px #B6B6B6;
  background: #FFF;
}

.gelismeler .arrow_prev {
  width: 247px;
  border-right: solid 2px #B6B6B6;
}

.gelismeler .arrow_next {
  width: 247px;
  border-left: solid 2px #B6B6B6;
}

.gelismeler .liste div {
  width: 489px;
}

.fotogalari .body a .bottom div span {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.habertek {
  margin-bottom: 0px;
}

.hdetay .img {
	margin-bottom: 20px;
}

.hdetay .img img {
    width: 672px !important;
}

.hdetay .yorum {
    margin-right: 10px;
}

.hdetay .date {
	width: 672px !important;
}

.hdetay .desc {
	margin-top: 5px;
}

/*.hdetay .title {
  font-size: 43px;
}*/

.haberslayt {
  height: 548px;
}

.haberslayt .button {
  bottom: 8px;
}

.manset_nav_img {
	opacity: 0.7;
}

.manset_nav_img:hover {
	opacity: 1;
}

.flex-active-slide .manset_nav_img {
	opacity: 1;
}

.ec_alternative .body {
	height: 0px;
}

.ec_alternative .body li {
	display: block !important;
	border-bottom: 3px solid #EAEAEA;
    border-top: 3px solid #EAEAEA;
}

.ec_alternative .liste {
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 6px;
	padding-right: 8px;
	height: 62px;
	width: 282px;
}

.hdetay .desc {
  width: 95%;
}

.hdetay .content {
  width: 95%;
  margin-top: 5px;
  line-height: 26px;
}

.slide3 .button {
  width: auto;
}

.button_number {
	  border: 1px solid;
}

/* independent - 1*/

#i100-list {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
}

.i100-txt {
	padding: 5px 3px 5px 7px;
}

.i100-item {
	height: 64px;
	margin: 0 auto 8px;
}

.i100-item.content_pool_item_add:last-child {
  margin-bottom: 0px;
}

/*--[ HABER SLAYT ]--*/
.ver300px {
  border: 0;
  padding: 0px;
} 

.ver300px .button {
  bottom: -20px;
}

/* independent - 1*/
.i100-wrap {
  width: 298px;
}

/* independent - 2*/
.i100-item2:hover {background:#e9e9e9;}
.i100-item2:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.i100-item2.card-discover {border-left:3px solid #ed1b2f;}
.i100-item2.card-news {border-left:3px solid #e67e22;}
.i100-item2.card-people {border-left:3px solid #f1c40f;}
.i100-item2.card-videos {border-left:3px solid #57d68d;}
.i100-item2.card-sport {border-left:3px solid #40a9ef;}
.i100-item2.card-tech {border-left:3px solid #3f57ec;}
.i100-item2.card-offbeat {border-left:3px solid #9b2fc7;}
.i100-item2.card-ents {border-left:3px solid #d43998;}
.i100-txt2 a {color:#000;text-decoration:none;}

#i100-wrap2 {
	width: 332px;
	position:relative;
	border:1px solid #ccc;
	background:#d0d2d5;
}

.i100-item2 {
	width: 304px;
	margin:0 auto 15px;
	position:relative;
	border:1px solid #ccc;
	padding:4px;
	border-left:3px solid #b80000;
	-webkit-box-shadow: 0 2px 3px 0 #aaa;
    box-shadow: 0 2px 3px 0 #aaa;
	background:#fff;
}

.i100-txt2 {
	width: 224px;
	padding: 5px 3px 5px 7px;
	position:relative;
	float:right;
	font-family:"Roboto Condensed","Times New Roman",Serif;
	text-align:left;
}

#i100-list2 {
	width: 320px;
	/*margin-top: 8px;*/
	position:relative;
	padding-bottom: 1px;
	margin-left: 8px;
}

.i100-item2.content_pool_item_add:last-child {
  margin-bottom: 0px;
}

/* independent - 3*/
.i100-item3:hover {background:#e9e9e9;}
.i100-item3:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.i100-item3.card-discover {border-left:3px solid #ed1b2f;}
.i100-item3.card-news {border-left:3px solid #e67e22;}
.i100-item3.card-people {border-left:3px solid #f1c40f;}
.i100-item3.card-videos {border-left:3px solid #57d68d;}
.i100-item3.card-sport {border-left:3px solid #40a9ef;}
.i100-item3.card-tech {border-left:3px solid #3f57ec;}
.i100-item3.card-offbeat {border-left:3px solid #9b2fc7;}
.i100-item3.card-ents {border-left:3px solid #d43998;}
.i100-txt2 a {color:#000;text-decoration:none;}
.i100-img3 {position:relative;float:left;width:150px;height:85px;padding:5px;}

.i100-byline samp {
	width:100%; 
	color:#6B6B6B; 
	font-size:14px;
}

#i100-wrap3 {
	width: 680px;
	position:relative;
	border:1px solid #ccc;
	background:#d0d2d5;
}

.i100-item3 {
	width: 650px;
	margin:0 auto 7px;
	position:relative;
	border:1px solid #ccc;
	padding:5px;
	border-left:3px solid #b80000;
	-webkit-box-shadow: 0 2px 3px 0 #aaa;
    box-shadow: 0 2px 3px 0 #aaa;
	background:#fff;
}

.i100-txt3 {
	width: 475px;
	padding: 5px 3px 5px 7px;
	position:relative;
	float:right;
	font-family:"Roboto Condensed","Times New Roman",Serif;
	text-align:left;
}

.i100-txt3 .i100-headline {font-weight: bold;font-size: 19px;}

.i100-txt3 samp {font-size: 15px;margin-top: 3px;}

#i100-list3 {
	width: 660px;
	margin-top: 6px;
	position:relative;
	padding-bottom:0px;
	margin-left: 8px;
}

/*bu alan geçici olabilir*/
.popvideolar2 .body {
  height: 540px;
}

.popvideolar .videolist .content {
  height: 67px;
}

.popvideolar2 .videolist .content {
  height: 67px;
}
/*bu alan geçici olabilir*/


.foto .fotolist .bottom span {
  font-size: 22px;
  line-height: 22px;
  padding: 10px;
  font-weight: bold;
}

.fotodetay1 .body li a img {
  margin-top: 10px;
}

.body li .slider_text_line div {
  bottom: 0px;
  height: 50%;
  background: url(http://www.karar.com/assets/default/tasarim/foto_bottomh_ap.png) repeat-x bottom;
}

.body li .slider_text_line div span {
  margin-top: 145px;
}
	
.puandurumu .title {
  line-height: 44px;
}

.manset_682_370_10lu .slide1 {
	height: 421px;
}

.manset_682_370_10lu .slide1 .button {
  height: 72px;
}

.manset_682_370_10lu .slide1 .slide_button_682 {
  width: 681px !important;
  padding-left: 1px;
}

.manset_682_370_10lu .slide1 .slide_button_682 a {
  padding: 4px 4px 5px !important;
}

.kultursanat .body a .bottom span {
	font-weight: bold;
}

ul.pagination li.first a {
	margin-top: -2px;
}

ul.pagination li.prior a {
	margin-top: -2px;
}

ul.pagination li.next a {
	margin-top: -2px;
}

ul.pagination li.last a {
	margin-top: -2px;
}

.popvideolar .videolist .play {
  height: 55px;
}

.kategori li:first-child samp {
  font-weight: bold;
  font-size: 18px;
}

ul.pagination li {
	height: 36px;
}

ul.pagination li a {
padding: 8px 0px;
}

.thumbnails a {
  margin: 0 2px 5px 3px;
  opacity: 0.5;
}

.fotodetay .fotodetay1 .hdetay {
  width: 650px;
  padding: 10px 10px 0px;
}

samp.twitter {
  float: left;
  margin-top: 7px;
}

.i100-item3.author23 {
  margin-top: -10px !important;
}

.liveblog.style_1 {
  left: 654px;
  top: 151px;
}

iframe #player-container {
  width: 320px!important;
  height: 200px!important;
}


div#player-container {
  width: 330px !important;
  height: 200px !important;
}

.liveblog_items {
  position: absolute;
  left: 0;
  top: 276px;
  width: 645px;
  height: 126px;
}

.liveblog_items ul {
  height: 126px;
}

.liveblog_items ul li {
  width: 645px;
  padding-left: 4px;
  font-size: 22px;
  line-height: 25px;
}

.bloggerlar .title {
  font-size: 14px;
  text-transform: uppercase;
}

.body li .slider_text_line div span {
  font-size: 32px;
}

.yazarlarbantt21 a samp {
  width: 170px;
  height: 55px;
  right: 35px;
  font-size: 15px;
  font-weight: bold;
  padding-right: 3px;
}

.yazarlarbantt22 a samp {
  width: 170px;
  height: 55px;
  right: 35px;
  font-size: 15px;
  font-weight: bold;
  padding-right: 3px;
}

.yorumlar .add textarea {
  font-size: 18px;
}

.yazarbant26 {
  height: 25px;
  line-height: 40px;
  font-size: 15px;
  padding: 0px 5px;
}

.yazarbant21 img {
  width: 90px;
  height: 90px;
}

.gazetebant2 ul li a {
  background: url(http://www.karar.com/assets/default/mobil/tasarim/gazetebant-new.jpg) no-repeat center bottom !important;	
  width: 165px;
  height: 181px;
  margin-left: 7px;
}

#blueimp-gallery .slides .slide img.slide-content {
  height: 90%;
  margin-top: 5%;
}

.gazete_mansetleri #blueimp-gallery .slides .slide img.slide-content {
  height: 100%;
  margin-top: 0;
}

.comment samp {
  font-size: 19px;
  color: black;
}

.slide_10 .button a {
  padding: 5px 3px 0px 3px;
}

.manset_992_370 .content_pool_square {
	width: 93px !important;
	height: 52px !important;
}

.manset_992_370 .slide1 .button {
  height: 62px;
  border-left: 1px solid #ECECEC;
}

.manset_992_370 .slide_10 {
	margin-bottom: 0px !important;
	height: 432px !important;
}

.icerik_liste_4lu .tag {
  visibility: hidden;
}

.bookmarkme {
  cursor: pointer;
  float: right !important;
}

.static_pages .hdetay {
  width: 992px;
}

.encokokunanlar .body2 a {
  border-bottom: solid 2px #E5E5E5;
  padding: 11px 0px;
}

.encokokunanlar .body2 .content_pool_item_add:last-child a {
  border-bottom: 0;
}

.kalan {
  font-size: 28px !important;
  color: red;
}

.center-992 {
    text-align: center;
    width: 992px;
}

.karar-dosya {
    margin-bottom: 15px;
}

.fotodetay2 {
  height: inherit !important;
}

.fotodetay2 .photo_desc {
  margin-bottom: 10px !important;
  margin-top: 10px;
  font-size: 16px;
}

.footer .ebulten {
  visibility: hidden;
}

.footer .sutun1 {
  margin-left: 10px;
}

.footer .imza {
  margin-left: 160px;
}

.haber_detay .content img {
  cursor: pointer;
 }

.fb-like {
   margin-right: 10px;
}

.social-like {
  margin-top: 10px;
}

/*Desktopda kullanılan bir mobil bileşen için yapılmıştır*/
.ui-mobile .timeline {
  width: 150px;
  margin-left: 15px;
}
	
.ui-mobile .timeline ul {
  visibility: hidden;
  position: absolute;
}

.ui-mobile .kalan {
  margin-left: 0px;
  margin-top: 5px;
  min-width: 150px !important;
  float: left;
}

.ui-mobile .ui-select {
  margin-top: 10px;
  margin-right: 15px;
  float: right;
}

.ui-mobile .topnfo {
  height: 65px;
  width: 100%;
}

.header .weather_sun {
    /*width: 40px;
    height: 40px;*/
	background-size: 40px 40px !important;
    margin-left: -10px;
    margin-top: -2px;
    margin-right: 5px;
}

.header .weather samp {
    font-size: 18px;
}

/*smilars.co css tanımları*/
.eng_ww_title {
    border-bottom: solid 2px #DADADA;
    width: 682px;
    margin-bottom: 0px;
	height: 35px;
}

.eng_ww_ttl_span1 {
    top: 0px;
    left: 0px;
    border-bottom: solid 2px #74A9F0;
    color: #414141;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.eng_widget_is {
    font-size: 16px;
    font-weight: 700;
    color: #474747;
}

.eng_widget_is:hover {
    color: #C12B19;
}
/*smilars.co css tanımları*/

.hdetay h3 {
    font-size: 22px;
}

.hkutu1 .lin {
    line-height: 20px !important;
    font-size: 18px !important;
}

.haber_detay ul li {
    list-style: initial;
	margin-left: 30px;
}

.ara_kategori {
     width: 992px;
     min-height: 30px;
}

.ara_kategori li:first-child samp {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
    
.ara_kategori li samp {
    font-size: 14px;
    line-height: 30px;
    color: #FFF;
    padding: 0px 10px;
}

.ara_kategori li:hover {
    background: #fff;
}

.ara_kategori li samp:hover {
    color: #000;
}

.cat-gundem {background-color: #B71C1C !important;}
.cat-dunya {background-color: #43A047 !important;}
.cat-ekonomi {background-color: #0D47A1 !important;}
.cat-spor {background-color: #1B5E20 !important;}
.cat-teknoloji {background-color: #1A237E !important;}
.cat-hayat {background-color: #FF6F00 !important;}
.cat-dizi {background: #0288D1 !important;}
.cat-sinema {background: #039BE5 !important;}
.cat-komik {background: #03A9F4 !important;}
.cat-ilginc {background: #B3E5FC !important;}
.cat-magazin {background: #81D4FA !important;}
.cat-capsler {background: #0097A7 !important;}

/* Manset 20'li */
.manset_682_370_20li .slide20li {
        height: 390px;
}
.manset_682_370_20li .slide20li .body {
        height: 350px;
}
.manset_682_370_20li .slide20li .body li a {
        display:block;
        width: 682px;
        height: 350px;
        border: 0px;
}
.manset_682_370_20li .slide20li .body .manset_text_line {
        width: 100%;
        height: 113px;
        margin-top: 237px;
        position: absolute !important;
        background: url(http://www.karar.com/assets/default/tasarim/foto_bottomh_ap.png) repeat-x bottom;
}
.manset_682_370_20li .slide20li .body .manset_text_line div {
        width: 100%;
        height: 95px;
        margin-top: 18px;
}
.manset_682_370_20li .slide20li .body .manset_text_line div span {
        line-height: 40px;
        font-weight: bold;
        color: #FFF;
        font-family: 'Whitney SSm A', 'Whitney SSm B', 'Arial';
        margin-left: 15px;
        font-size: 38px !important;
        width: 667px;
        margin-top: 0px !important;
}
.manset_682_370_20li .slide20li .body .manset_bant {
        margin-bottom: 8px;
        background: red;
        height: 20px !important;
        padding: 3px 15px 13px 15px;
        color: white;
        font-weight: bold;
        font-size: 25px;
}
.manset_682_370_20li .slide20li .button {
        width: 680px !important;
        height: 39px !important;
        margin-top: 1px;
        background: #ECECEC;
		border-left:1px solid #FFF;
		border-right:1px solid #FFF;
		/*margin-left: 1px;
		margin-right: 1px;*/
}
.manset_682_370_20li .slide20li .button a {
        padding: 2px 2px 3px !important;
        background: #FFF !important;
        width: 30px !important;
        height: 30px !important;
}
.manset_682_370_20li .slide20li .button .active {
        border-bottom: solid 4px #E62E26 !important;
}
.manset_id_button {
        font-weight: bold;
        border: 2px solid #3F35A7;
        border-radius: 8px;
        font-size: 18px;
        display: block;
        text-align: center;
        width: 26px;
		margin-top: 2px;
}
.manset_id_daire {
    background: url(http://www.karar.com/assets/default/tasarim/gri.png) no-repeat;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}
.photo_desc p {
    margin-bottom: 15px;
}
.hdetay .after_spot_haber_detay_banner {
    margin-top: 20px;
}
/*
blockquote {
    background: #e5e5e5;
    border-left: 15px solid #ccc;
    margin: 1em 10px;
    padding: 1.0em 15px;
    quotes: "\201C""\201D""\2018""\2019";
    border-top: 15px solid #969696;
    font-weight: bold;
}
blockquote:before {
    color: #000000;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.mainpage_intro {
    visibility: hidden;
}
*/
.icerik_liste_tumu .pagination {
    width: 380px !important;
}

.breadcrumb {
    visibility: hidden;
    margin-bottom: 0px !important;
    height: 0px !important;
}

.breadcrumb li {
    height: 0px;
}

.breadcrumb li a {
    height: 0px;
}

.breadcrumb li a span {
    height: 0px;
}

.yeni_yazarlar_yazi_detay .content p {
    margin-top: 15px;
    margin-bottom: 15px;
}


.quattro .yazarlarbant2 ul li div a samp {
  font-size: 15px;
  font-weight: bold;
  padding-right: 2px;
  top: -5px; /*eklendi*/
}

.yeni_yazarlar_detay .yazar_detay a:first-child {
    float: none !important;
    color: red;
}

.yeni_yazarlar_detay .yazar_detay a:nth-child(2) {
    float: none !important;
    color: blue;
	font-style: italic;
}

.yeni_yazarlar_yazi_detay .hdetay {
    margin-top: 15px;
}



.gazetebant2 ul li a span {
    width: 102px;
    height: 22px;
    position: absolute;
    top: -12px;
    left: 42px;
    color: #F00;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
}

.gazetebant2 ul li {
    height: 160px;
    padding: 25px 0px;
}