div.table-title {
    display: block;
    margin: auto;
    width: 100%;
}

.table-fill .button, .table-title .button {
    color: white;
    background-color: #D10A11;
    padding: 10px;
    margin: 10px;
    font-weight:bold;
    text-decoration: none;
    border-radius: 3px;
}
.fr {
    float:right !important;
}
.table-title .button {
    color: white;
    background-color: #D10A11;
    padding: 10px;
    margin: 0 0 0 10px;
    font-weight:bold;
    text-decoration: none;
    border-radius: 3px;
}

.table-title h2 {
    display:inline-block;
}

.table-fill .button:hover, .table-title .button:hover {
    background-color: #ea3a3d;
    text-decoration: underline;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.table-fill .form-element {
    height:28px;
    text-align: center;
    font-size:14px;
}

.table-fill label.small {
    font-size:12px;
    color:black;
}

.header-margin {
    padding:20px 0 10px 0;
}
.no-wrap {
    white-space: nowrap;
}
.table-title h2 {
    color: #313131;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}


/*** Table Styles **/

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.list-table th {
    color:#D5DDE5;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:18px;
    font-weight: 300;
    padding:18px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

.list-table th:first-child {
    border-top-left-radius:3px;
}

.list-table th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.list-table tr, .table-fill tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    height:40px;
}

.list-table tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

.list-table tr:first-child {
    border-top:none;
}

.list-table tr:last-child {
    border-bottom:none;
}

.list-table tr:nth-child(odd) td, .table-fill tr:nth-child(odd) td {
    background:#EBEBEB;
}

.list-table tr:nth-child(odd):hover td {
    background:#4E5066;
}

.list-table tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

.list-table tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

.list-table td , .table-fill td{
    background:#FFFFFF;
    padding:5px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:14px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    /*border-right: 1px solid #C1C3D1;*/
}

.list-table td:last-child {
    border-right: 0px;
}

.list-table th.text-left {
    text-align: left;
}

.list-table th.text-center {
    text-align: center;
}

.list-table th.text-right {
    text-align: right;
}

.list-table td.text-left {
    text-align: left;
}

.list-table td.text-center {
    text-align: center;
}

.list-table td.text-right {
    text-align: right;
}
