@media print {

    .print, .print * {
        visibility: visible;
    }

    .print {
        display:block;
    }

    .social, .social *,
    .font, .font *,
    .yorum, .yorum *,
    .none, .none *,
    .hidden, .hidden *,
    .banner_alani, .banner_alani *,
    .do_not_print, .do_not_print *,
    .blueimp-gallery, .blueimp-gallery *,
    samp, samp *,
    .pagination, .pagination *,
    .dinamik_banner_alani, .dinamik_banner_alani *{
        display:none !important;
    }
}