@charset "UTF-8";
/********************************************************************************/
/**                Début définition tailles pour icônes SVG                    **/
/********************************************************************************/
/********************************************************************************/
/**                Fin définition tailles pour icônes SVG                      **/
/********************************************************************************/
.a-tooltip-premium.on-disabled {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

#search-individu-homepage {
  margin-bottom: 14px; }
  #search-individu-homepage form {
    margin-bottom: 0; }
    #search-individu-homepage form h2 {
      margin-bottom: 9px; }
    #search-individu-homepage form a.form-more-criterias.discreet.text-large {
      padding-top: 1rem;
      padding-bottom: 1rem;
      line-height: normal;
      color: #222222; }
  #search-individu-homepage.with-bottom-button form {
    margin-bottom: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  #search-individu-homepage.with-bottom-button .bottom-button a {
    width: 100%;
    border-radius: 0; }
