/********************************************************************* ZAKLAD */
body {
	margin: 0;
	color: #000;
	background: #FFF none;
	font-family: Verdana, Arial;
	outline: 0;
	width: 100%;
	-webkit-text-size-adjust: 100%;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
}

/********************************************************************* ODKAZY */
a {
	outline: 0;
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}

/******************************************************************** OBRAZKY */
/* specialni nastaveni renderovani zmensenych obrazku */
img {
	-ms-interpolation-mode: bicubic;			/* IE8+ */
	max-width: 100%;
	border: none;
}

/******************************************************************* CLEARFIX */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after {
	clear: both;
	font-size: 0;
}
.clearfix {
	zoom: 1;
	clear: both;
}

/****************************************************************** ZAROVNANI */
.a-left {
	text-align: left;
}
.a-center {
	text-align: center;
}
.a-justify {
	text-align: justify;
}
.a-right {
	text-align: right;
}

/**************************************************************** FLOAT PRVKU */
.f-none {
	float: none;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}

/******************************************************* VERTIKALNI ZAROVNANI */
div.v-middle,
span.v-middle {
	display: table !important;
	height: 100%;
	width: 100%;
}
div.v-middle-in,
span.v-middle-in {
	display: table-cell !important;
	width: 100%;
	height: 100%;
	vertical-align: middle !important;
}

td.v-top {
	vertical-align: top;
}
td.v-middle {
	vertical-align: middle;
}
td.v-bottom {
	vertical-align: bottom;
}

/**************************************************************** BARVY TEXTU */
.gray {
	color: #5d5d5d;
}
.red {
	color: #F00;
}

/************************************************************* VELIKOST TEXTU */
body {
	font-size: 80%;
}
.s_0{font-size:0}.s_80p{font-size:80%}.s_90p{font-size:90%}.s_95p{font-size:95%}.s_100p{font-size:100%}.s_110p{font-size:110%}.s_120p{font-size:120%}.s_130p{font-size:130%}.s_140p{font-size:140%}.s_150p{font-size:150%}.s_160p{font-size:160%}.s_170p{font-size:170%}.s_180p{font-size:180%}.s_190p{font-size:190%}.s_200p{font-size:200%}.s_210p{font-size:210%}.s_220p{font-size:220%}.s_230p{font-size:230%}.s_240p{font-size:240%}.s_250p{font-size:250%}.s_260p{font-size:260%}.s_270p{font-size:270%}.s_280p{font-size:280%}h2.s_80p,h3.s_80p,h4.s_80p,h5.s_80p{font-size:80%}h2.s_90p,h3.s_90p,h4.s_90p,h5.s_90p{font-size:90%}h2.s_95p,h3.s_95p,h4.s_95p,h5.s_95p{font-size:95%}h2.s_100p,h3.s_100p,h4.s_100p,h5.s_100p{font-size:100%}h2.s_110p,h3.s_110p,h4.s_110p,h5.s_110p{font-size:110%}h2.s_120p,h3.s_120p,h4.s_120p,h5.s_120p{font-size:120%}h2.s_130p,h3.s_130p,h4.s_130p,h5.s_130p{font-size:130%}h2.s_140p,h3.s_140p,h4.s_140p,h5.s_140p{font-size:140%}h2.s_150p,h3.s_150p,h4.s_150p,h5.s_150p{font-size:150%}h2.s_160p,h3.s_160p,h4.s_160p,h5.s_160p{font-size:160%}h2.s_170p,h3.s_170p,h4.s_170p,h5.s_170p{font-size:170%}h2.s_180p,h3.s_180p,h4.s_180p,h5.s_180p{font-size:180%}h2.s_190p,h3.s_190p,h4.s_190p,h5.s_190p{font-size:190%}h2.s_200p,h3.s_200p,h4.s_200p,h5.s_200p{font-size:200%}h2.s_210p,h3.s_210p,h4.s_210p,h5.s_210p{font-size:210%}h2.s_220p,h3.s_220p,h4.s_220p,h5.s_220p{font-size:220%}h2.s_230p,h3.s_230p,h4.s_230p,h5.s_230p{font-size:230%}h2.s_240p,h3.s_240p,h4.s_240p,h5.s_240p{font-size:240%}h2.s_250p,h3.s_250p,h4.s_250p,h5.s_250p{font-size:250%}h2.s_260p,h3.s_260p,h4.s_260p,h5.s_260p{font-size:260%}h2.s_270p,h3.s_270p,h4.s_270p,h5.s_270p{font-size:270%}h2.s_280p,h3.s_280p,h4.s_280p,h5.s_280p{font-size:280%}

/******************************************************************** NADPISY */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	outline: 0 none;
}

/******************************************************************* ODSTAVCE */
p {
	margin: 0;
	padding: 0;
	outline: 0 none;
}

/*************************************************************** SKRYTE PRVKY */
.hidden {
	display: none;
}
/* pravidlo viditelnosti pro desktop */
.visible-phone {
	display: none !important;
}
.visible-tablet {
	display: none !important;
}
.visible-desktop {
	display: block !important;
}
.hidden-desktop {
	display: none !important;
}

/************************************************************* HTML5 ELEMENTY */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*************************************************************** CT ICON FONT */
@font-face {
	font-family: 'CTico';
	src: url('../fonts/CTico.eot?3');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CTico';
	src: url('../fonts/CTico.woff?3') format('woff'),
		url('../fonts/CTico.ttf?3') format('truetype'),
		url('../fonts/CTico.svg?3#CTico') format('svg');
	font-weight: normal;
	font-style: normal;
}
.ctico {
	display: none;
}
.no-fontface .ctico,
.no-js .ctico {
	display: none !important;
}
.fontface .ctico {
	font-family: 'CTico';
	display: inherit;
	//display:expression(this.parentNode.currentStyle['display']); /* IE7 nezna inherit */
}
.fontface .ctico.hidden {
	display: none;
}
.no-fontface .ctico-alt,
.no-js .ctico-alt {
	display: inherit;
	//display:expression(this.parentNode.currentStyle['display']); /* IE7 nezna inherit */
}
.fontface .ctico-alt {
	display: none !important;
}

/*************************************************************** IMAGES HOVER */
a.hovering img.on-hover {
	display: none;
}
.no-touch a.hovering:hover img.off-hover {
	display: none;
}
.no-touch a.hovering:hover img.on-hover {
	display: inherit;
}

/************************************************************* FLASH MESSAGES */
.flash-messages .alert {
	padding: 10px 12px;
	margin-bottom: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FCF8E3 none;
	border: 1px solid #FAEBCC;
	color: #8A6D3B;
}
.flash-messages .alert.alert-success {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #3C763D;
}
.flash-messages .alert.alert-error {
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}
.flash-messages .alert button.close {
	float: right;
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	opacity: 0.2;
	text-shadow: 0 1px 0 #FFFFFF;
	background: none;
	border: 0 none;
	cursor: pointer;
	padding: 0;
	position: relative;
	top: -3px;
	outline: none;
}
.no-js .flash-messages .alert button.close {
	display: none;
}
.flash-messages .alert button.close:hover,
.flash-messages .alert button.close:focus {
	color: #000000;
	opacity: 0.5;
	text-decoration: none;
}

/********************************************************************** FORMS */
ul.form-errors {
	list-style: none;
	padding: 0;
	margin: 0 0 10px;
}
ul.form-errors > li {
	list-style: none;
	padding: 8px 12px;
	margin-bottom: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}
ul.form-errors > li ul {
	display: inline;
}
ul.form-errors > li li {
	display: inline;
	list-style: none none;
	margin-right: 5px;
}

