/********************************************************************* FOOTER */
#wrapper-footer {
	background: #34322f url(../images/wrapper-footer.png) repeat 0 0;
	padding: 40px 0 0;
	min-width: 980px;
	text-align: left;
}
.box-left {
	float: left;
	width: 75%;
}
.box-right {
	float: left;
	width: 25%;
}
.box-left .panel-footer {
	float: left;
	width: 23%;
	margin-right: 2%;
	margin-bottom: 5%;
}
.ie7 .box-left .panel-footer {
	width: 22%;
}
.panel-footer.first-desktop {
	clear: left;
}
.panel-footer,
.panel-footer a {
	color: #FFF;
}
.panel-footer h3 {
	font-weight: normal;
	margin-bottom: 22px;
}
.panel-footer ul {
	padding: 0;
	margin: 0;
	list-style: none none;
}
.panel-footer ul li {
	padding: 0;
	margin: 10px 0;
	list-style: none none;
}
.panel-footer div.w_1of2 {
	float: left;
	width: 50%;
	padding: 7% 0;
}
.ie7 .panel-footer div.w_1of2 {
	width: 49%;
}
.panel-footer div.w_1of2.first {
	clear: left;
}
.panel-footer div.w_1of4 {
	float: left;
	width: 20%;
	padding: 7% 3.333%;
}
.panel-footer div.w_1of4.first {
	clear: left;
	padding-left: 0;
}
.panel-footer div.w_1of4.last {
	padding-right: 0;
}
.panel-footer div.aplikace {
	padding: 0 0 5%;
}
.panel-footer hr {
	border: none;
	border-top: 1px solid #595856;
}
.footer-social p {
	color: #aaa;
}

/****************************************************************** COPYRIGHT */
#wrapper-copyright {
	background: #3c3c3c url(../images/wrapper-copyright.png) repeat 0 0;
	min-width: 980px;
}
#copyright {
	padding: 30px 0;
	color: #acacac;
}
#copyright a {
	color: #acacac;
}
#cookie-notice {
	padding: 0px 0px 30px 0px;
	color: #acacac;
	text-align: left;
}
#cookie-notice a {
	color: #acacac;
	text-decoration: underline;
}
#cookie-notice a:hover {
	text-decoration: none;
}
