/********************************************************************* FOOTER */
@media (min-width: 0px) {
	#wrapper-footer {
		min-width: 0 !important;
	}
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
	.box-left,
	.box-right {
		float: none;
		width: auto;
		padding: 0 2.5%;
	}
	.box-left .panel-footer {
		width: 22%;
		margin-right: 0;
		margin-left: 3%;
	}
	.panel-footer.first-desktop {
		width: 25%;
		margin-left: 0;
	}
	.panel-footer div.w_1of2 {
		width: 50%;
	}
	.footer-search,
	.footer-social {
		float: right;
		width: 40%;
	}
	.footer-channels {
		float: left;
		width: 50%;
	}
}
/* tablet - mensi rozliseni */
@media (min-width: 481px) and (max-width: 720px) {
	.footer-search,
	.footer-social {
		width: 35%;
	}
	.panel-footer div.w_1of4 {
		width: 50%;
		padding-left: 0;
		padding-right: 0;
	}
}
/* smartphone */
@media (max-width: 480px) {
	#wrapper-footer {
		padding-top: 30px;
	}
	.box-left,
	.box-right {
		padding: 0 8%;
	}
	.box-left,
	.box-right,
	.box-left .panel-footer,
	.box-right .panel-footer {
		float: none;
		width: auto;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.footer-search {
		margin-bottom: 30px;
	}
	.footer-social {
		text-align: center;
	}
	.panel-footer div.w_1of4 {
		width: 22%;
		padding-left: 2%;
		padding-right: 2%;
	}
	.panel-footer div.w_1of4.first {
		padding-left: 0;
	}
	.panel-footer div.w_1of4.last {
		padding-right: 0;
	}
	.panel-footer h3 {
		margin-bottom: 10px;
	}
	.panel-footer ul {
		margin-bottom: 30px;
	}
}

/****************************************************************** COPYRIGHT */
@media (min-width: 0px) {
	#wrapper-copyright {
		min-width: 0 !important;
	}
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
}
/* smartphone */
@media (max-width: 480px) {
	#copyright {
		width: auto;
		padding: 20px 5%;
	}
	#copyright .f-left,
	#copyright .f-right {
		float: none;
		padding: 5px 0;
		text-align: center;
	}
	#cookie-notice {
		width: auto;
		padding: 20px 5%;
	}
}
