/**************************************** OBAL TIPU Z IVYSILANI */
#wrapper-icast-tips {
	background: #f9f8f5 /* url(../images/wrapper-icast-tips.png) no-repeat 50% 0 */;
	padding: 30px 0 30px;
}
/* smartphone */
@media (max-width: 480px) {
	#wrapper-icast-tips h2 {
		padding-left: 4%;%
	}
	#wrapper-icast-tips {
		background: #D5CFC5 none;
	}
}
/**************************************** PANEL TIPU IVYSILANI */
.panel-icast-tips {
	float: left;
	width: 24.025%;
	margin-right: 1.3%;
	background: transparent none;
	margin-bottom: 10px;
	color: #FFF;
}
.panel-icast-tips span {
	display: block;
}
.panel-icast-tips.last {
	margin-right: 0;
}
.panel-icast-tips .panel-in {
	height: 0;
	position: relative;
	padding-bottom: 56.36363636363636%;
	overflow: hidden;
	background: transparent;
}
.js .panel-icast-tips .panel-in {
	cursor: pointer;
}
.panel-icast-tips .panel-thumb {
}
.panel-icast-tips img.thumb {
	position: absolute;
	left: 67%;
	width: 100%;
	height: 100%;
}
.ie7 .panel-icast-tips img.thumb {
	height: auto;
}
.panel-icast-tips .panel-text {
	position: absolute;
	width: 67%;
	height: 100%;
	left: 0;
	background: #e1dbcd;
	color: #000;
}
.panel-icast-tips .panel-text-in {
	position: absolute;
	top: 10.967741935483872%;
	bottom: 10.967741935483872%;
	left: 8.571428571428571%;
	right: 8.571428571428571%;
	overflow: hidden;
	word-wrap: break-word;
}
.panel-icast-tips .panel-text-in h3.title {
	margin-bottom: 5px;
	font-weight: normal;
}
.js .panel-icast-tips .panel-text-in h3.title a,
.js .panel-icast-tips .panel-text-in h3.title a:hover {
	text-decoration: none;
}
.panel-icast-tips .panel-text-in .hider {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	background: transparent;
	background: -moz-linear-gradient(270deg, rgba(225, 219, 205, 0), #e1dbcd);
	background: -webkit-linear-gradient(270deg, rgba(225, 219, 205, 0), #e1dbcd);
	background: -o-linear-gradient(270deg, rgba(225, 219, 205, 0), #e1dbcd);
	background: -ms-linear-gradient(90deg, rgba(225, 219, 205, 0), #e1dbcd);
	background: linear-gradient(180deg, rgba(225, 219, 205, 0), #e1dbcd);
}
.panel-icast-tips img.play {
	position: absolute;
	width: 22.1153846%;
	right: 4%;
	top: 30.3977273%;
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
	.panel-icast-tips .panel-in {
		padding-bottom: 0;
		height: auto;
		overflow: visible;
	}
	.panel-icast-tips a {
		position: static;
		height: auto;
	}
	.panel-icast-tips img.play {
		top: 32%;
		left: 38.9423077%;
	}
	.panel-icast-tips .panel-thumb {
		position: relative;
	}
	.panel-icast-tips img.thumb {
		position: static;
		height: auto;
	}
	.panel-icast-tips .panel-text {
		position: static;
		height: auto;
		width: auto;
		left: auto !important;
		background: transparent none !important;
	}
	.panel-icast-tips .panel-text-in {
		position: static;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
	}
	.panel-icast-tips img.play {
		width: 26%;
	}
	.panel-icast-tips .panel-text-in .hider {
		display: none;
	}
}
/* tablet - mensi rozliseni */
@media (min-width: 481px) and (max-width: 720px) {
	.panel-icast-tips {
		width: 49.2%;
	}
	.panel-icast-tips.odd {
		clear: both;
		margin-right: 1.6%;
	}
	.panel-icast-tips.even {
		margin-right: 0;
	}
}
/* smartphone */
@media (max-width: 480px) {
	#wrapper-icast-tips {
		padding-bottom: 10px;
	}
	.panel-icast-tips,
	.panel-icast-tips.odd,
	.panel-icast-tips.even {
		width: 100%;
		margin-right: 0;
	}
	.panel-icast-tips .panel-in {
		padding-bottom: 10px;
		height: auto;
		overflow: visible;
	}
	.panel-icast-tips a {
		position: static;
		height: auto;
	}
	.panel-icast-tips .panel-thumb {
		position: relative;
	}
	.panel-icast-tips img.thumb {
		position: static;
		height: auto;
		display: block;
	}
	.panel-icast-tips img.play {
		top: 32%;
		left: 38.9423077%;
	}
	.panel-icast-tips .panel-text {
		position: static;
		height: auto;
		width: auto;
		left: auto !important;
		background: #FFF none;
		padding: 8px 3%;
	}
	.panel-icast-tips .panel-text-in {
		position: static;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
	}
	.panel-icast-tips .panel-text-in .hider {
		display: none;
	}
}

/**************************************** DOTYKOVA ZARIZENI */
.touch .panel-icast-tips .panel-in {
	padding-bottom: 0;
	height: auto;
	overflow: visible;
}
.touch .panel-icast-tips a {
	position: static;
	height: auto;
}
.touch .panel-icast-tips .panel-thumb {
	position: relative;
}
.touch .panel-icast-tips img.thumb {
	position: static;
	height: auto;
}
.touch .panel-icast-tips img.play {
	left: 38.9423%;
}
.touch .panel-icast-tips .panel-text {
	position: static;
	height: auto;
	width: auto;
	left: auto !important;
	background: #FFF none;
}
.touch .panel-icast-tips .panel-text-in {
	position: static;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}
.touch .panel-icast-tips .panel-text-in .hider {
	display: none;
}
