/**************************************** PANEL PRAVE BEZI */
#wrapper-onair {
	background: #eae7e2;
	padding: 20px 0;
}
.panel-onair {
	float: left;
	width: 15.929203539823%;
	margin-right: 0.884955752212389%;
	*margin-right: 0.869955752212389%;
	background: transparent none;
	margin-bottom: 10px;
	color: #FFF;
}
.panel-onair.last {
	margin-right: 0;
}
.panel-onair .panel-in {
	height: 0;
	position: relative;
	padding-bottom: 80.5555555555556%;
	overflow: hidden;
}
.panel-onair a,
.panel-onair .panel-in > span {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #222222;
	background: #f5f3f1;
	display: block;
	height: 100%;
}
.panel-onair a > span,
.panel-onair .panel-in > span > span {
	display: block;
}
.panel-onair a * {
	*cursor: pointer;
}
.panel-onair a:hover {
	text-decoration: none;
	*background: #FFF;
}
.panel-onair a:hover .onair-title,
.panel-onair a:hover .onair-live {
	background: #FFF;
}
.panel-onair .onair-title {
	height: 55.1724137931034%;
	padding: 7.78% 7.78% 0;
	line-height: 130%;
	overflow: hidden;
}
.panel-onair .onair-title span {
	padding-top: 3%;
	display: block;
	color: #5c5b5b;
}
.panel-onair .onair-progress {
	height: 2.06896551724142%;
	background: #cdc2ab;
}
.panel-onair .onair-progress .onair-progress-in {
	display: block;
	height: 100%;
	background: #999;
	position: relative;
}
.panel-onair.ct1 .onair-progress .onair-progress-in,
.panel-onair.ct1 .onair-progress .onair-progress-bubble {
	background: #ec1b23;
}
.panel-onair.ct1 .onair-live span.play-ico {
	color: #ec1b23;
}
.panel-onair.ct2 .onair-progress .onair-progress-in,
.panel-onair.ct2 .onair-progress .onair-progress-bubble {
	background: #f9a319;
}
.panel-onair.ct2 .onair-live span.play-ico {
	color: #f9a319;
}
.panel-onair.ct24 .onair-progress .onair-progress-in,
.panel-onair.ct24 .onair-progress .onair-progress-bubble {
	background: #4ba1ff;
}
.panel-onair.ct24 .onair-live span.play-ico {
	color: #4ba1ff;
}
.panel-onair.sport .onair-progress .onair-progress-in,
.panel-onair.sport .onair-progress .onair-progress-bubble {
	background: #95c94e;
}
.panel-onair.sport .onair-live span.play-ico {
	color: #95c94e;
}
.panel-onair.ct5 .onair-progress .onair-progress-in,
.panel-onair.ct5 .onair-progress .onair-progress-bubble {
	background: #d9a300;
}
.panel-onair.ct5 .onair-live span.play-ico {
	color: #d9a300;
}
.panel-onair.ct6 .onair-progress .onair-progress-in,
.panel-onair.ct6 .onair-progress .onair-progress-bubble {
	background: #625e5b;
}
.panel-onair.ct6 .onair-live span.play-ico {
	color: #625e5b;
}
.panel-onair span.onair-progress .onair-progress-bubble {
	display: block;
	height: 10px;
	width: 10px;
	position: absolute;
	top: -3px;
	right: -5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.panel-onair .panel-in span.onair-live {
	height: 33.1034482758621%;
	color: #888;
	text-align: center;
	display: table;
	width: 100%;
	*padding-top: 7.5%;
}
.panel-onair .onair-live.online {
	background: #fff;
	color: #555;
}
.panel-onair .onair-live > span {
	display: table-cell;
	vertical-align: middle;
}
.panel-onair .onair-live span.play-ico {
	display: inline;
	vertical-align: middle;
	padding: 4px 3px 4px 5px;
	border: 1px solid #cec3ac;
	background: #eae7e2;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
/* desktop s rozlisenim <= 1024 */
@media (min-width: 980px) and (max-width: 1024px) {
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
	.panel-onair {
		width: 32.444444444444%;
		margin-right: 1.3333333333333335%;
	}
	.panel-onair.item-0 {
		clear: both;
	}
	.panel-onair.item-2 {
		margin-right: 0;
	}
	.panel-onair .panel-in {
		padding-bottom: 55%;
	}
}
/* tablet - mensi rozliseni */
@media (min-width: 481px) and (max-width: 720px) {
	.panel-onair .panel-in {
		padding-bottom: 80.5555555555556%;
	}
}
/* smartphone */
@media (max-width: 480px) {
	#wrapper-onair {
		padding: 20px 0 5px;
	}
	.panel-onair {
		width: auto;
		float: none;
		margin-right: 0;
		margin-bottom: 5px;
	}
	.panel-onair .panel-in {
		padding-bottom: 35%;
	}
	.panel-onair .onair-title {
		height: 54.9524%;
		padding: 3% 2% 0;
	}
	.panel-onair .onair-title span {
		padding-top: 2%;
	}
	.panel-onair .panel-in span.onair-live {
		height: 34.179%;
	}
	.panel-onair a .onair-title,
	.panel-onair a .onair-live {
		background: #FFF;
	}
}
