/******************************************************************* NAVIGACE */
#wrapper-navigation {
	background: #FFF;
	min-width: 980px;
}

.ie7 #wrapper-navigation {
	position: relative;
	z-index: 1;
}

#navigation {
	padding: 16px 0 0;
	position: relative;
}

#quickNavigationWrapper {
	background: #f9f8f6 url(../images/quick-nav-line.gif) top left repeat-x;
}

.ie7 #quickNavigationWrapper {
	position: relative;
	z-index: 1;
}

#quickNavigation {
	position: relative;
}
/*********************************************************************** LOGO */
#navigation #logo {
	float: left;
	height: 46px;
	width: 6.123%;
}

#navigation #logo .logo-full {
	display: none;
}

#navigation #logo .logo-min {
	display: inherit;
}

#navigation #logo .logo-60 {
	display: none;
}
/**************************************************************** VYHLEDAVANI */
.navigation-search {
	position: relative;
	float: right;
	width: 28%;
	padding-top: 3px;
}

.navigation-search .search-wrapper {
	float: right;
	height: 30px;
	padding: 0;
	width: 310px;
}

.ie7 .navigation-search .search-wrapper {
	float: right;
	height: 30px;
	padding: 0;
	width: 260px;
}

.navigation-search .search-wrapper .search-input-wrapper {
	position: relative;
	display: block;
	height: 28px;
	border: 1px solid #C3C3C3;
	border-right: none;
	background: none repeat scroll 0 0 #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.ie7 .navigation-search .search-wrapper {
	overflow: hidden;
}

.navigation-menu ul li.item-next {
	display: none;
}

.navigation-search .search-wrapper #search-field {
	position: absolute;
	font-size: 13px;
	left: 25px;
	width: 223px;
	height: 100%;
	background: none;
}

.navigation-search .search-input-wrapper.focus {
	border: 1px solid #acacac;
	border-right: none;
}

.navigation-search .search-pseudotext, .navigation-search input.text {
	font-family: Verdana, Arial;
}

.navigation-search .search-pseudotext {
	top: 5px;
	left: 5px;
	position: absolute;
	font-size: 13px;
	color: #acacac;
}

.navigation-search .search-wrapper .popup-trigger {
	position: absolute;
	background: url(../images/search-arrow-down.png) no-repeat 0 2px #FFFFFF;
	top: 0;
	right: 32px;
	height: 28px;
	width: 29px;
}

.navigation-search table {
	border-collapse: collapse;
	border-spacing: 0;
	height: 19px;
	width: 100%;
}

.navigation-search table td {
	padding: 0;
}

.navigation-search .submit {
	width: 22px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.no-fontface .navigation-search table td.submit {
	width: 46px;
}

.navigation-search input.search-submit {
	background: url(../images/search-submit.png) no-repeat 0 0 #FFFFFF;
	border: 0 none;
	cursor: pointer;
	display: block;
	padding: 0 4px 0 0;
	text-align: center;
	font-size: 120%;
	position: absolute;
	top: 3px;
	right: 0;
	height: 30px;
	width: 32px;
	-webkit-appearance: none;
	-webkit-focus-ring-color: none;
}

.navigation-search input.search-submit:hover, .navigation-search input.search-submit.focus {
	background-position: 0 -30px;
}

.navigation-search input.search-submit:active {
	background-position: 0 -60px;
}

.navigation-search div.search-field-wrapper {
	background: #ffffff url(../images/search-arrow-down.png) no-repeat right 50%;
	padding: 0 20px 0 2px;
}

.navigation-search input.text {
	background: #ffffff;
	padding: 0;
	border: 0 none;
	color: #444;
	height: 100%;
	width: 100%;
	line-height: 28px;
	-webkit-appearance: none;
	-webkit-focus-ring-color: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.ie7 .navigation-search input.text {
	padding-bottom: 3px;
}

.navigation-search input.text:focus {
	outline: none;
}

.navigation-search a.cancel {
	position: absolute;
	left: 4px;
	border: none;
	display: block;
	height: 28px;
	width: 20px;
	line-height: 28px;
	text-align: center;
	color: #acacac;
	text-decoration: none;
	font-size: 16px;
}

.navigation-search a.cancel:hover {
	color: #666;
}

.navigation-search a.cancel.blur {
	color: #c3c3c3;
}

.navigation-search a.cancel span {
	visibility: hidden;
}

.navigation-search #search-popup {
	display: none;
	position: absolute;
	top: 44px;
	right: 0;
	width: 308px;
	z-index: 1001;
	margin-top: 0;
	background: #FFF;
	border: 1px solid #c3bdb1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
	padding-bottom: 10px;
}

.navigation-search #search-popup #search-arrow {
	width: 16px;
	height: 9px;
	position: absolute;
	top: -9px;
	right: 37px;
	background: transparent url(../images/search-arrow-up.png?v=1) no-repeat 0 0;
}

.navigation-search #search-popup h3 {
	color: #ababab;
	font-weight: normal;
	padding: 10px 20px;
	font-size: 18px;
}

.navigation-search #search-popup .search-words {
	width: 100%;
}

.navigation-search #search-popup .search-words h3 {
	border-top: #c3bdb1 1px solid;
	margin: 19px 19px 0 20px;
	padding: 18px 0 10px 0;
}

.navigation-search #search-popup .search-words .content {
	padding: 0 20px;
	line-height: 220%;
}

.navigation-search #search-popup.loading .search-words .content {
	height: 30px;
	background: transparent url(../images/ajax-loader-small.gif) no-repeat 50% 50%;
}

.navigation-search #search-popup .search-words .content a {
	color: #444444;
	margin: 0 5px 5px 0;
}

.navigation-search #search-popup .search-select {
	width: 100%;
}

.navigation-search #search-popup .search-select h3 {
	-webkit-border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	-ms-border-radius: 0 4px 0 0;
	-o-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

.navigation-search #search-popup .search-select ul {
	padding: 0 0 0 14px;
	margin: 0;
}

.navigation-search #search-popup .search-select ul li {
	margin: 0;
	padding: 5px 0 8px 5px;
	list-style: none;
	display: block;
	width: 48%;
	float: left;
}

.navigation-search #search-popup .search-select ul li.last {
	border-bottom: none;
}

/*****/
.search-phone-popup .search-wrapper #search-field {
	position: absolute;
	font-size: 13px;
	left: 25px;
	width: 232px;
	height: 100%;
	background: none;
}

.search-phone-popup .search-phone-wrapper {
	position: relative;
	padding-bottom: 24px;
}

.search-phone-popup .search-words {
	border-left: 1px solid #555555;
}

.search-phone-popup .search-input-wrapper {
	position: relative;
	display: block;
	height: 35px;
	border: 2px solid #555555;
	background: none repeat scroll 0 0 #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.search-phone-popup .search-input-wrapper.focus {
	border: 1px solid #acacac;
	border-right: none;
}

.search-phone-popup .search-pseudotext, .search-phone-popup input.text {
	font-family: Verdana, Arial;
}

.search-phone-popup .search-pseudotext {
	top: 9px;
	left: 10px;
	position: absolute;
	font-size: 13px;
	color: #acacac;
}

.search-phone-popup .search-wrapper .popup-trigger {
	position: absolute;
	background: url(../images/search-arrow-down.png) no-repeat 0 2px #FFFFFF;
	top: 0;
	right: 32px;
	height: 28px;
	width: 29px;
}

.search-phone-popup .submit {
	width: 22px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.search-phone-popup input.search-submit {
	background: url(../images/search-arrow-submit.png) no-repeat 50% 50% #eeeae2;
	border: none;
	border-left: 2px solid #555555;
	cursor: pointer;
	display: block;
	padding: 0 4px 0 0;
	text-align: center;
	font-size: 120%;
	position: absolute;
	top: 2px;
	right: 2px;
	height: 35px;
	width: 36px;
	-webkit-appearance: none;
	-webkit-focus-ring-color: none;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-ms-border-radius: 0 2px 2px 0;
	-o-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
}

.search-phone-popup div.search-field-wrapper {
	background: #ffffff url(../images/search-arrow-down.png) no-repeat right 50%;
	padding: 0 20px 0 2px;
}

.search-phone-popup input.text {
	background: transparent;
	padding: 0 10px;
	border: 0 none;
	color: #444;
	height: 100%;
	line-height: 28px;
	-webkit-appearance: none;
	-webkit-focus-ring-color: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-right: 68px;
}
.search-phone-popup input.text::-ms-clear {
	display: none;
}

.ie7 .search-phone-popup input.text {
	padding-bottom: 3px;
}

.search-phone-popup input.text:focus {
	outline: none;
}

.search-phone-popup a.cancel {
	position: absolute;
	top: 3px;
	right: 44px;
	display: block;
	border: none;
	height: 28px;
	width: 20px;
	line-height: 28px;
	text-align: center;
	color: #acacac;
	text-decoration: none;
	font-size: 16px;
}

.search-phone-popup a.cancel:hover {
	color: #666;
}

.search-phone-popup a.cancel.blur {
	color: #c3c3c3;
}

.search-phone-popup a.cancel span {
	visibility: hidden;
}

.search-phone-popup label {
	font-size: 110%;
}

/******************************************************************* NAVIGACE */
.navigation-menu {
	position: relative;
	margin-top: 1px;
	float: left;
	width: 65%;
	margin-left: 0;
	height: 46px;
}

.navigation-menu ul {
	margin: 0 !important;
	padding: 0;
	height: 100%;
}

.navigation-menu ul li {
	display: block;
	float: left;
	margin: 0 1.5% 0 0;
	padding: 0;
	list-style: none none;
	height: 100%;
	line-height: 28px;
}

.navigation-menu ul li.last,
.navigation-menu ul li.last-desktop {
	margin-right: 0;
}

.navigation-menu a {
	color: #000;
	text-decoration: none;
	background: transparent none;
	display: block;
	height: 25px;
	padding: 0;
	margin: 0 0 0 15px !important;
	text-align: center;
	white-space: nowrap;
	position: relative;
	border-bottom: 4px solid transparent;
	height: auto !important;
}

.navigation-menu li.active a,
.navigation-menu a.active,
.navigation-menu a:hover {
	text-decoration: none;
	border-bottom: 4px solid #cfcac1;
}

.navigation-menu a:hover {
	border-color: #ebe5db;
}

.navigation-menu ul.popupMenu {
	position: absolute;
	left: 0;
	right: 0;
	top: 36px;
	z-index: 1;
	margin-top: 0;
	display: none;
	background: #FFF;
	width: 170px;
	height: auto;
	border: 1px solid #d3cbb6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.navigation-menu ul.popupMenu li {
	display: block;
	width: 100%;
	height: auto;
	float: none;
	margin: 0;
}

.navigation-menu ul.popupMenu li a {
	display: block;
	padding: 0 10%;
	margin: 0;
	text-align: left;
	border: none;
	height: auto;
	border-bottom: 1px solid #d3cbb6;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.navigation-menu ul.popupMenu li.first a {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.navigation-menu ul.popupMenu li.last a {
	border-bottom: none;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.navigation-menu ul.popupMenu li a:active,
.navigation-menu ul.popupMenu li a:hover {
	background: #e1dbcd;
	text-decoration: none;
}

.navigation-menu ul li.item-next a {
	color: #777;
	font-size: 85%;
}

.navigation-menu ul li.item-next a, .navigation-phone-menu-toggle a {
	display: none;
	line-height: 29px;
	color: #666;
	border: #666 2px solid;
	width: 34px;
	height: 29px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.navigation-menu ul li.item-next a, .navigation-menu ul li.item-search a {
	top: -2px;
}

.navigation-search-toggle a, .navigation-phone-search-toggle a {
	display: none;
	line-height: 29px;
	color: #999;
	border: #999 2px solid;
	width: 34px;
	height: 29px;
	font-size: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.navigation-search-toggle a:hover, .navigation-phone-search-toggle a:hover, .navigation-phone-menu-toggle a:hover {
	text-decoration: none;
}

.navigation-search-toggle a:hover {
	border: 2px solid #999999 !important;
}

#quickNavigation .inline-menu {
	background: transparent url(../images/quick-navigation-sprite.png) top left no-repeat;
	margin: 0 !important;
	padding: 0;
	height: 100%;
	padding: 0 50px;
}

#quickNavigation .inline-menu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none none;
	height: 100%;
	width: 75px;
	height: 35px;
}

#quickNavigation .inline-menu li a {
	display: block;
	width: 100%;
	height: 100%;
}

#quickNavigation .inline-menu li span {
	display: none;
}

#quickNavigation .inline-menu li:hover {
	background: transparent url(../images/quick-navigation-sprite.png) -50px bottom no-repeat;
}

#quickNavigation .inline-menu .item-ct1:hover {
	background-position: -50px bottom;
}

#quickNavigation .inline-menu .item-ct2:hover {
	background-position: -125px bottom;
}

#quickNavigation .inline-menu .item-ct24:hover {
	background-position: -200px bottom;
}

#quickNavigation .inline-menu .item-ct-sport:hover {
	background-position: -275px bottom;
}

#quickNavigation .inline-menu .item-ct-d:hover {
	background-position: -350px bottom;
}

#quickNavigation .inline-menu .item-ct-art:hover {
	background-position: -425px bottom;
}

.navigation-phone-menu-channel-toggle {
	position: relative;
}

.navigation-phone-menu-channel-toggle span {
	display: block;
	width: 26px;
	height: 26px;
	border: #fff 1px solid;
	text-align: center;
	line-height: 24px;
	position: absolute;
	top: 10px;
	right: 10px;
	text-decoration: none !important;
}
