/******************************************************************* NAVIGACE */
@media (min-width: 0px) {
	#wrapper-navigation {
		min-width: 0 !important;
	}
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
}
/* tablet - mensi rozliseni */
@media (min-width: 481px) and (max-width: 720px) {
}
/* smartphone */
@media (max-width: 480px) {
}

/*********************************************************************** LOGO */
@media (min-width: 0px) {
	#navigation #logo {
		width: 5%;
	}
}
/* full logo */
@media (min-width: 1300px) {
	#navigation #logo .logo-full {
		display: inherit;
	}
	#navigation #logo .logo-min {
		display: none;
	}
	#navigation #logo .logo-60 {
		display: inline;
	}
	#navigation #logo {
		width: 17%;
		padding-top: 2px;
		height: 44px;
		margin-right: 0.5%;
	}
}
/* large desktop */
@media (min-width: 980px) and (max-width: 1200px) {
	#navigation #logo {
		margin-right: 1%;
	}
}
/* tablet */
@media (min-width: 768px) and (max-width: 979px) {
	#navigation #logo {
		width: 7%;
	}
}
/* tablet - mensi rozliseni */
@media (min-width: 311px) and (max-width: 767px) {
	#navigation #logo .logo-full {
		margin-top: 1px;
		display: inherit;
	}
	#navigation #logo .logo-min {
		display: none;
	}
	#navigation #logo {
		width: 70%;
		padding-left: 3%;
	}
}
@media (max-width: 310px) {
	#navigation #logo .logo-full {
		display: none;
	}
	#navigation #logo .logo-min {
		display: inherit;
	}
	#navigation #logo {
		width: 30%;
		padding-left: 8px;
	}
}

/**************************************************************** VYHLEDAVANI */
@media (min-width: 1101px) {
	.search-phone-popup {
		display: none;
	}
}
@media (max-width: 1100px) {
	.search-phone-popup {
		background: #34322F url("../images/wrapper-footer.png") repeat 0 0;
		color: #FFF;
		padding: 18px 9px 30px;
		position: relative;
	}
	.navigation-search {
		float: left;
		width: 50%;
		margin: 0 0 0 8%;
	}
	.navigation-search .search-wrapper {
		width: 98%;
	}

	.search-phone-popup .search-phone-popup-arrow {
		width: 38px;
		height: 9px;
		background: transparent url(../images/navigation-phone-menu-arrow.png) no-repeat 50% 0;
		position: absolute;
		top: -9px;
		right: 5%;
	}
	.search-phone-popup .search-phone-popup-close {
		position: absolute;
		top: 8px;
		right: 10px;
		text-decoration: none;
	}
	.search-phone-popup h3 {
		font-weight: normal;
		color: #acacac;
		padding-bottom: 16px;
	}
	.search-phone-popup a {
		color: #FFF;
	}
	.search-phone-popup ul {
		padding: 0;
		margin: 0;
	}
	.search-phone-popup ul li {
		float: left;
		width: 50%;
		list-style: none none;
		padding: 11px 0;
		margin: 0;
	}
	.search-phone-popup .search-words .content {
		font-size: 110%;
		line-height: 180%;
		text-align: left;
	}
	.search-phone-popup .search-words a {
		margin-right: 10px;
	}
	
	.search-phone-popup .search-select, .search-phone-popup .search-words {
		float: left;
	}
	.search-phone-popup .search-select {
		width: 48%;
		padding-left: 2%;
	}
	.search-phone-popup .search-words {
		width: 44.5%;
		padding-right: 2%;
		padding-left: 3%;
	}
}

/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
	.navigation-search .search-wrapper {
		width: 98%;
	}
}
/* tablet - mensi rozliseni */
@media (min-width: 481px) and (max-width: 720px) {
	.navigation-search {
		display: none;
	}
}
/* smartphone */
@media (max-width: 481px) {
	.search-phone-popup .search-select, .search-phone-popup .search-words {
		float: none;
		width: 100%;
	}
	.search-phone-popup .search-select {
		margin-bottom: 20px;
		padding-bottom: 15px;
	}
	.search-phone-popup .search-words {
		clear: both;
		border: none;
		border-top: 1px solid #555555;
		padding: 18px 0 0 0;
	}
	.search-phone-popup .search-words .content {
		text-align: center;
	}
	.search-separator {
		height: 12px;
		clear: both;
	}

	.search-phone-popup h3 {
		display: none;
	}
	.search-phone-popup ul li {
		padding: 4px 0;
	}
	.search-phone-popup .search-words {
		padding-top: 18px;
	}
}


/*********************************************************************** MENU */
/* full logo */
@media (min-width: 1300px) {
	.navigation-menu {
		width: 54%;
	}
}

@media (min-width: 1101px) {
	.navigation-phone-menu-toggle, .navigation-phone-search-toggle {
		display:none;
	}
	.search-phone-popup {
		visibility: hidden;
		height: 0;
	}
}

@media (max-width: 1100px) {
	.inlineMenu .item-search {
		float: right;
		display: block;
	}

	#navigation .navigation-search {
		display: none;
	}
	.navigation-phone-menu-toggle, .navigation-phone-search-toggle {
		position: absolute;
		display: block;
		width: 34px;
		height: 29px;
		top: 15px;
		right: 13px;
	}

	.navigation-search-toggle a {
		display: block;
	}
	
	.navigation-search-toggle {
		position: absolute;
		display: block;
		width: 34px;
		height: 29px;
		top: -2px;
		right: 17px;
	}

	.navigation-phone-search-toggle.active a, .navigation-search-toggle.active a {
		background: #eeeae1;
		color: #666;
		border-color: #999;
	}

	.navigation-phone-menu-toggle.active a {
		background: #eeeae1;
		color: #444;
		border-color: #666;
	}
}

@media (min-width: 1101px) {
	.inlineMenu .item-search {
		display: none;
	}
}

@media (min-width: 980px) and (max-width: 1100px) {
	#navigation .navigation-menu {
		width: 94%;
	}

	.navigation-menu ul li {
		margin-right: 4%;
	}

}

@media (min-width: 768px) and (max-width: 979px) {
	#navigation .navigation-menu {
		width: 93%;
	}

	.navigation-menu ul li {
		margin-right: 1.8%;
	}
}
@media (min-width: 768px) {
	.navigation-phone-menu-toggle {
		display: none;
	}
}

/* smartphone */
@media (max-width: 767px) {
	#quickNavigation {
		display: none;
	}

	.navigation-phone-menu-toggle {
		display: block;
		top: 15px;
		right: 60px;
	}
	.navigation-menu {
		display: none;
	}
	.navigation-phone-menu-toggle {
		float: right;
	}
	.navigation-phone-menu-toggle a {
		display: block;
		border: 2px solid #666;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		color: #666;
		text-decoration: none;
	}

	.navigation-phone-menu {
		position: relative;
	}
	.navigation-phone-menu .navigation-phone-menu-arrow {
		width: 36px;
		height: 9px;
		background: transparent url(../images/navigation-phone-menu-arrow.png) no-repeat 50% 0;
		position: absolute;
		top: -9px;
		right: 58px;
	}
	.navigation-phone-menu {
		background: #34322F url("../images/wrapper-footer.png") repeat 0 0;
	}
	.navigation-phone-menu ul {
		margin: 0;
		padding: 0 1% 0 1%;
	}
	.navigation-phone-menu ul li {
		margin: 0;
		padding: 0 0 0;
		list-style: none none;
		display: block;
		border-bottom: 1px solid #555;
	}
	.navigation-phone-menu ul li.last {
		border-bottom: none;
	}
	.navigation-phone-menu ul li a {
		padding: 15px 10% 15px 8%;
		display: block;
		color: #FFF;
	}
	.navigation-phone-menu ul li a:active,
	.navigation-phone-menu ul li a:focus,
	.navigation-phone-menu ul li a:hover {
		background: #000;
	}
}
@media (max-width: 480px) {
	.search-phone-popup  .search-phone-wrapper {
		padding-bottom: 12px;
	}
	
	.search-phone-popup input.text {
		font-size: 14px;
	}

	.search-phone-popup .search-pseudotext {
		font-size: 14px;
		top: 8px;
	}
	
}
@media (max-width: 980px) {
	.search-phone-popup .search-phone-popup-arrow {
		right: 8px;
	}
	.navigation-search-toggle {
		display: none;
	}
	.navigation-phone-search-toggle a {
		display: block;
	}

	#quickNavigation .inline-menu {
		background-position: -50px 0;
		padding: 0;
	}
	
	#quickNavigation .wrapper {
		width: 100%;
	}
}
@media (min-width: 981px) {
	.navigation-phone-search-toggle {
		display: none;
	}

	#quickNavigation .wrapper {
		padding-right: 100px;
	}

}
@media (min-width: 1101px) {
	.navigation-search-toggle {
		display: none;
	}
}
@media (min-width: 981px) and (max-width: 1100px) {
	.search-phone-popup #search {
		width: 91%;
		margin: auto;
	}

	.search-phone-popup {
		padding-left: 0;
		padding-right: 0;
	}
}
