/************************************************************* VELIKOST TEXTU */

/******************************************************************** NADPISY */
h2.block-title {
	margin-bottom: 15px;
	color: #444444;
	font-weight: normal;
}
#panels-tabs h2.block-title {
	margin-bottom: 0;
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
}
/* tablet - mensi rozliseni */
@media (min-width: 481px) and (max-width: 720px) {
}
/* smartphone */
@media (max-width: 480px) {
	h2.block-title {
		padding: 0 2%;
	}
}

/*********************************************************** ROZLOZENI PANELU */
#wrapper-panels {
	/*background: #d5cfc5 url(../images/wrapper-panels.png) repeat-x 0 0;*/
	background: #d5cfc5 url(../images/wrapper-panels.png) repeat-x 0 0;
	padding-bottom: 10px;
	position: relative;
}
/* odkaz na pozadi panelu */
/*#wrapper-panels > #behindPanelsLink {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent url(../images/panels-bg-jaro2014.jpg) no-repeat top center;
	background-color: #001619;
}*/

#wrapper-panels.color-decko {
	background-color:#c8def7;
}

#wrapper-panels > #behindPanelsLink.bg-decko {
	background: url("../images/bg-decko.jpg") no-repeat scroll center top transparent;
}

/* mezery v gridu */
.grid-padding-bottom {
	margin-bottom: 10px;
}
.grid-padding-right {
	margin-right: 10px;
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
}
/* smartphone */
@media (max-width: 480px) {
	.grid-padding-bottom {
		margin-bottom: 12px;
	}
}
/* obaly gridu panelu */
#panels-outer-wrapper {
	padding-top: 22px;
}
#panels-outer-wrapper.loading-bg,
.panels-inner-wrapper.loading-bg {
	background: #F5F4F1;
}
#panels-outer-wrapper.loading,
.panels-inner-wrapper.loading {
	background: #F5F4F1 url(../images/tab-loader.gif) no-repeat 50% 43%;
}
.panels-inner-wrapper.loading {
	height: 600px;
}
.panels-inner-wrapper {
	height: 100%;
}
#wrapper-panels .show-more {
	display: block;
	text-align: center;
	font-size: 110%;
	padding-top: 19px;
	padding-bottom: 19px;
}
#wrapper-panels .show-more a {
	border: 2px solid #6f6a6b;
	border-radius: 4px;
	color: #000;
	padding: 6px 28px 6px 8px;
	background: url(../images/hp-arrow-sprite.png) no-repeat right 14px;
}
#wrapper-panels .show-more a:hover {
	border: 2px solid #aca59f;
	background-color: #aca59f;
	color: #fff;
	text-decoration: none;
	background-position:right -31px;
}

/****************************************************** VZLED PANELU - OBECNE */
.panel {
	float: left;
	overflow: hidden;
}
.panel .panel-in {
	height: 0;
	position: relative;
	padding-bottom: 50%;
}
.panel .panel-in2 {
	background: transparent none;
	height: 100%;
	position: absolute;
	width: 100%;
	overflow: hidden;
}
.js .panel .panel-in2.has-link {
	cursor: pointer;
}
.panel.panel-noimage .panel-in2 {
	background: #FFF none;
}
.panel.panel-empty .panel-in2 {
	background: #FFF none no-repeat center center !important;
}
.panel.pseudo {
	background: transparent none;
}
.panel img {
	width: 100%;
}
.panel .img-panel-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
}
.panel .img-panel-bg img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.panel .label {
	background: #000;
	background: rgba(0, 0, 0, 0.65);
	padding: 4px 8px;
	display: block;
	color: #FFF;
}
.panel .label.outside {
	position: absolute;
	left: 0;
	top: 0;
}
.panel .content-text {
	display: block;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent none;
	color: #FFF;
	max-height: 100%;
	overflow: hidden;
}
.panel.panel-noimage .content-text {
	bottom: auto;
	top: 0 !important;
}
.panel .content-text .label {
	float: left;
}
.panel .content-text .content-text-in {
	display: block;
	clear: both;
	word-wrap: break-word;
}
.panel .content-text h3 {
	padding: 0 0 7px;
	line-height: 110%;
	font-weight: normal;
}
.panel .content-text h3 {
	text-decoration: none;
}
.panel .content-text h3 a {
	display: block;
}
.panel .content-text h3 a:hover,
.panel .content-text-in.hover-underline h3 a {
	text-decoration: underline;
}
.panel .content-text .content-text-in .text {
	display: block;
	padding: 0;
	font-weight: normal;
}
#panels-tabs .panels-tabs-prev,
#panels-tabs .panels-tabs-next {
	display: none;
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
	.panel .img-panel-bg,
	.panel .img-panel-bg img {
		height: auto;
	}
}
/* smartphone */
@media (max-width: 480px) {
	.panel {
		width: 100% !important;
		float: none !important;
	}
	.panel .panel-in {
		margin-right: 0;
	}
	.panel .img-panel-bg,
	.panel .img-panel-bg img {
		height: auto;
		position: static;
	}

	/* panely bez obrazku */
	.panel.panel-noimage {
		position: static;
	}
	.panel.panel-noimage .panel-in {
		padding-bottom: 0 !important;
		position: static;
		height: auto;
	}
	.panel.panel-noimage .panel-in2 {
		position: static;
	}
	.panel.panel-noimage .panel-in .content-text {
		position: static !important;
		max-height: none !important;
		float: none !important;
		width: 100% !important;
	}
	.panel.panel-noimage .panel-in .content-text-in {
		padding: 2% 3.22581% 3.22581% !important;
		background: #FFF !important;
		color: #000 !important;
	}
	.panel.panel-noimage .panel-in .content-text-in .hider {
		display: none !important;
	}

	.panel#panel-d.panel-noimage .label {
		position: static;
		float: left;
	}
	.panel#panel-d.panel-noimage .content-text {
		position: static;
		clear: both;
	}
	.panel#panel-d.panel-noimage .content-text-in {
		position: static;
	}
}

/********************************************* VZLED PANELU - TYP 1 (VYCHOZI) */
.panel#panel-a {
	width: 42.0353982300885%;
	position: relative;
}
.panel#panel-a .panel-in {
	padding-bottom: 67.51054852320675%;
}
.panel#panel-a .content-text-in {
	padding: 3.225806451612903%;
}
.panel#panel-b {
	width: 25.221238938053098%;
}
.panel#panel-b .panel-in {
	padding-bottom: 112.28070175438596%;
}
.panel#panel-b .content-text {
	bottom: 12%;
	max-height: 88%;
}
.panel#panel-b .content-text-in {
	padding: 3.010752688172043% 2.795698924731183%;
}
.panel#panel-cd {
	width: 32.743362831858406%;
}
.panel#panel-c {
	width: 100%;
}
.panel#panel-c .panel-in {
	padding-bottom: 41.891891891891895%;
}
.panel#panel-c .content-text-in {
	padding: 3.225806451612903% 3.870967741935484%;
}
.panel#panel-d {
	width: 100%;
	position: relative;
	margin-bottom: 0;
}
.panel#panel-d .panel-in {
	padding-bottom: 41.891891891891895%;
}
.panel#panel-d .content-text {
	width: 42.7027027%;
	top: 0;
	left: auto;
}
.panel#panel-d .content-text-in {
	padding: 7.59493671%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.panel#panel-e {
	width: 33.6283185840708%;
	position: relative;
}
.panel#panel-e .panel-in {
	padding-bottom: 71.05263157894737%;
}
.panel#panel-e .content-text-in {
	padding: 3.5135135135135136% 4.054054054054054%;
}
.panel#panel-f {
	width: 25.221238938053098%;
}
.panel#panel-f .panel-in {
	padding-bottom: 94.73684210526315%;
}
.panel#panel-f .content-text-in {
	padding: 4.363636363636364% 4%;
}
.panel#panel-g {
	width: 16.8141592920354%;
}
.panel#panel-g .panel-in {
	padding-bottom: 142.10526315789474%;
	position: relative;
}
.panel#panel-g .content-text-in {
	padding: 7.222222222222221% 8.88888888888889%;
}
.panel#panel-h {
	width: 24.336283185840706%;
}
.panel#panel-h .panel-in {
	padding-bottom: 98.18181818181819%;
}
.panel#panel-h .content-text-in {
	padding: 5.090909090909091% 4.7272727272727275%;
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
	.panel#panel-a {
		width: 62.46666666666667%;
	}
	.panel#panel-b {
		width: 37.53333333333334%;
	}
	.panel#panel-b .panel-in {
		margin-right: 0;
	}
	.panel#panel-cd {
		width: 45.2%;
		float: right;
	}
	.panel#panel-c {
		margin-bottom: 2.3529411764705883%;
	}
	.panel#panel-e {
		width: 54.800000000000004%;
	}
	.panel#panel-f {
		width: 38%;
	}
	.panel#panel-g {
		width: 25.333333333333336%;
	}
	.panel#panel-h {
		width: 36.666666666666664%;
	}
}
/* smartphone */
@media (max-width: 480px) {
	.panel#panel-d {
		width: 100%;
		position: relative;
	}
	.panel#panel-d .content-text {
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.panel#panel-e {
		position: relative;
	}

	/* zmena rozlozeni panelu 1.B */


	/* zmena rozlozeni panelu 1.B, .F, .G, .H */
	.layout-type-1 .panel#panel-b .panel-in {
		padding-bottom: 46.3%;
	}
	.panel#panel-f .panel-in {
		padding-bottom: 48.6%;
	}
	.panel#panel-g .panel-in {
		padding-bottom: 52%;
	}
	.panel#panel-h .panel-in {
		padding-bottom: 48.9%;
	}
	.layout-type-1 .panel#panel-b .panel-in2,
	.panel#panel-f .panel-in2,
	.panel#panel-g .panel-in2,
	.panel#panel-h .panel-in2 {
		background: #FFF;
	}
	.layout-type-1 .panel#panel-b .panel-in2 .img-panel-bg,
	.panel#panel-f .panel-in2 .img-panel-bg,
	.panel#panel-g .panel-in2 .img-panel-bg,
	.panel#panel-h .panel-in2 .img-panel-bg {
		position: static;
		float: left;
		width: 50%;
	}
	.layout-type-1 .panel#panel-b .content-text,
	.panel#panel-f .content-text,
	.panel#panel-g .content-text,
	.panel#panel-h .content-text {
		position: relative;
		top: auto !important;
		bottom: auto !important;
		float: right;
		width: 50%;
		height: 100%;
		max-height: none !important;
	}
	.layout-type-1 .panel#panel-b .content-text .hider,
	.panel#panel-f .content-text .hider,
	.panel#panel-g .content-text .hider,
	.panel#panel-h .content-text .hider {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 15px;
		background: transparent;
		background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0), #FFFFFF);
		background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0), #FFFFFF);
		background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0), #FFFFFF);
		background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0), #FFFFFF);
		background: linear-gradient(180deg, rgba(255, 255, 255, 0), #FFFFFF);
	}
	.layout-type-1 .panel#panel-b .content-text-in,
	.panel#panel-f .content-text-in,
	.panel#panel-g .content-text-in,
	.panel#panel-h .content-text-in {
		background: #FFF;
		color: #000;
	}
	.layout-type-1 .panel#panel-b .content-text-in a,
	.panel#panel-f .content-text-in a,
	.panel#panel-g .content-text-in a,
	.panel#panel-h .content-text-in a {
		color: #000;
	}

	/* panel 1.B */
	.layout-type-1 .panel#panel-b .panel-in2 .img-panel-bg {
		width: 40%;
	}
	.layout-type-1 .panel#panel-b .content-text {
		width: 60%;
	}

	/* panel .G */
	.panel#panel-g .panel-in2 .img-panel-bg {
		float: right;
		width: 35%;
	}
	.panel#panel-g .content-text {
		float: left;
		width: 65%;
	}
}

/******************************************************* VZLED PANELU - TYP 2 */
.layout-type-2 .panel#panel-a {
	width: 50.442477876106196%;
}
.layout-type-2 .panel#panel-a .panel-in {
	padding-bottom: 56.14035087719298%;
}
.layout-type-2 .panel#panel-a .content-text {
	bottom: 0;
}
.layout-type-2 .panel#panel-a .content-text-in {
	padding: 3.010752688172043% 2.795698924731183%;
}
.layout-type-2 .panel#panel-b {
	width: 16.8141592920354%;
	position: relative;
}
.layout-type-2 .panel#panel-b .panel-in {
	padding-bottom: 168.42105263157893%;
}
.layout-type-2 .panel#panel-b .panel-in2 {
	background: #FFF;
}
.layout-type-2 .panel#panel-b .channel-logo {
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 10%;
	color: #FFF;
}
.layout-type-2 .panel#panel-b .channel-logo a {
	color: #000;
}
.layout-type-2 .panel#panel-b .channel-logo span {
	display: block;
	padding: 4% 0;
}
.layout-type-2 .panel#panel-b .channel-logo img {
	width: 73.33%;
}
.layout-type-2 .panel#panel-b .content-text {
	top: 38%;
	bottom: auto;
	max-height: 29.5%;
	overflow: hidden;
}
.layout-type-2 .panel#panel-b .content-text .hider {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	background: transparent;
	background: -moz-linear-gradient(270deg, rgba(238, 238, 238, 0), #eeeeee);
	background: -webkit-linear-gradient(270deg, rgba(238, 238, 238, 0), #eeeeee);
	background: -o-linear-gradient(270deg, rgba(238, 238, 238, 0), #eeeeee);
	background: -ms-linear-gradient(90deg, rgba(238, 238, 238, 0), #eeeeee);
	background: linear-gradient(180deg, rgba(238, 238, 238, 0), #eeeeee);
}
.layout-type-2 .panel#panel-b .content-text .content-text-in {
	padding: 5.55% 10%;
	background: #eee;
	color: #000;
}
.layout-type-2 .panel#panel-b a.channel-view-live {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	padding-bottom: 12%;
	color: #000;
}
.layout-type-2 .panel#panel-b a.channel-view-live img {
	width: 29%;
}
.layout-type-2 .panel#panel-c .content-text {
	width: 42.7027027%;
	top: 0;
	left: auto;
}
.layout-type-2 .panel#panel-c .content-text-in {
	padding: 7.59493671%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.layout-type-2 .panel#panel-d .content-text {
	width: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: auto;
}
.layout-type-2 .panel#panel-d .content-text-in {
	position: static;
	padding: 3.225806451612903% 3.870967741935484%;
}
.layout-type-2 .panel#panel-g .panel-in img {
	display: block;
}
.layout-type-2 .panel#panel-g .content-text {
	top: auto;
	bottom: 8.148148148148149%;
	max-height: 91.8518519%;
}
.layout-type-2 .panel#panel-g .content-text-in {
	padding: 7.222222222222221% 8.88888888888889%;
}
.layout-type-2 .panel#panel-h .content-text {
	bottom: 14.074074074074074%;
	max-height: 85.9259259%;
}
/* tablet */
@media (min-width: 481px) and (max-width: 979px) {
	.layout-type-2 .panel#panel-a {
		width: 75%;
	}
	.layout-type-2 .panel#panel-a .panel-in {
		margin-right: 0;
	}
	.layout-type-2 .panel#panel-b {
		width: 25%;
	}
	.layout-type-2 .panel#panel-b .panel-in {
		margin-right: 10px;
	}
}
/* smartphone */
@media (max-width: 480px) {
	/* #81 - zmena rozloteni panelu 2.B pro mobil */
	.layout-type-2 .panel#panel-b .panel-in {
		padding-bottom: 50%;
	}
	.layout-type-2 .panel#panel-b .channel-logo {
		position: static;
		float: left;
		width: 50%;
		padding-top: 2%;
	}
	.layout-type-2 .panel#panel-b .channel-logo span {
		padding-top: 0;
	}
	.layout-type-2 .panel#panel-b .content-text {
		position: absolute;
		bottom: 0;
		float: left;
		height: 48%;
		max-height: none;
		top: auto;
		width: 50%;
		background: #EEEEEE;
	}
	.layout-type-2 .panel#panel-b a.channel-view-live {
		color: #000000;
		float: right;
		height: auto;
		padding-top: 14%;
		position: static;
		width: 50%;
	}
}

/**************************************** VZLED PANELU - TYP 3 - DEDI z TYPU 2*/
.layout-type-3 .panel#panel-b .channel-logo span {
	padding: 0;
}
.layout-type-2 .panel#panel-b .content-text {
	max-height: 45%;
}
.layout-type-3 .panel#panel-b .content-text p {
	line-height: 180%;
}
.layout-type-3 .panel#panel-b .content-text a {
	color: #000;
}
.layout-type-3 .panel#panel-b .content-text a:hover {
	text-decoration: underline;
}
/* smartphone */
@media (max-width: 480px) {
	/* #81 - zmena rozloteni panelu 3.B pro mobil */
	.layout-type-3 .panel#panel-b .panel-in {
		padding-bottom: 27%;
	}
	.layout-type-3 .panel#panel-b .channel-logo span {
		padding-top: 2%;
	}
	.layout-type-3 .panel#panel-b .content-text {
		float: right;
		height: 100%;
		position: static;
		max-height: none;
	}
	.layout-type-3 .panel#panel-b .content-text .hider {
		display: none;
	}
	.layout-type-3 .panel#panel-b .content-text .content-text-in {
		padding: 5% 10%;
	}
	.layout-type-3 .panel#panel-b .content-text p {
		line-height: 220%;
	}
}


/*********************************************************************** TABY */
#panels-tabs {
	clear: both;
	padding: 27px 0 17px;
}
#panels-tabs ul {
	margin: 0;
	padding: 0;
}
#panels-tabs ul li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
	list-style: none none;
}
#panels-tabs ul li.last {
	margin-right: 0;
}
#panels-tabs ul li a {
	display: block;
	padding: 5px 15px;
	border: 2px solid transparent;
	color: #000;
	text-decoration: none;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
#panels-tabs ul li a.disabled {
	cursor: default;
}
#panels-tabs ul li a.active,
.js.no-touch #panels-tabs ul li a:hover {
	background: #fff;
	border-color: #aeaba2;
}
#panels-tabs ul li a.active span.arrow,
.js.no-touch #panels-tabs ul li a:hover span.arrow,
.on-js #panels-tabs ul li a:hover span.arrow {
	display: block;
	height: 10px;
	width: 100%;
	background: transparent url(../images/panels-tabs-arrow.png?v=1) no-repeat 50% 0;
	position: absolute;
	bottom: -10px;
	left: 0;
}

/* smartphone + tablet */
@media (max-width: 719px) {
	#panels-tabs {
		padding: 10px 0 5px;
		height: 36px;
	}
	#panels-tabs .panels-tabs-prev,
	#panels-tabs .panels-tabs-next {
		display: block;
		padding-top: 5px;
		float: left;
		width: 10%;
		color: #999;
		text-decoration: none;
	}
	#panels-tabs .panels-tabs-slider {
		width: 80%;
		float: left;
		clear: none;
		height: 100%;
		position: relative;
		overflow: hidden;;
	}
	#panels-tabs .panels-tabs-slider-in {
		height: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 2000em;
		left: 0;
	}
	#panels-tabs ul {
		float: left;
		width: auto;
		margin: 0;
		padding: 0;
	}
}

@media (max-width: 480px) {
	#panels-tabs .panels-tabs-prev,
	#panels-tabs .panels-tabs-next {
		padding-top: 5px;
		float: left;
		width: 15%;
		color: #999;
		text-decoration: none;
	}
	#panels-tabs .panels-tabs-slider {
		width: 70%;
	}
}

/*************************************************** POSTRANNI PREPINACE TABU */
#panels {
	position: relative;
}
#panels .panels-switch {
	display: none;
}
.ie7 #panels .panels-switch,
.ie8 #panels .panels-switch {
	display: none !important;
}
@media (max-width: 1430px) {
	#panels .panels-switch {
		display: none !important;
	}
}
@media (min-width: 1430px) {
	#panels a.panels-switch {
		display: block;
		position: absolute;
		width: 100px;
		padding-top: 80px;
		height: 30px;
		top: 40%;
		text-align: center;
		color: #666;
		font-weight: bold;
		background: transparent none no-repeat 0 0;
	}
	#panels a.panels-switch:hover {
		background-position: -100px 0;
		color: #000;
	}
	#panels a.panels-switch.off {
		background-position: -200px 0;
		cursor: auto;
	}
	#panels a.panels-switch#panels-switch-left {
		left: -105px;
		background-image: url(../images/panels-switch-left.png);
	}
	#panels a.panels-switch#panels-switch-right {
		right: -105px;
		background-image: url(../images/panels-switch-right.png);
	}
}
@media (min-width: 1470px) {
	#panels a.panels-switch#panels-switch-left {
		left: -120px;
	}
	#panels a.panels-switch#panels-switch-right {
		right: -120px;
	}
}

/****************************************************** PODKLAD TEXTU V GRIDU */
.panel .content-text.transparent .content-text-in {
	background: transparent none;
}

.panel .content-text.white100 .content-text-in {
	background: #FFF;
	color: #000;
}
.panel .content-text.white90 .content-text-in {
	background: #FFF;
	background-color: rgba(255, 255, 255, 0.90);
	*background: #FFF;
	color: #000;
}
.panel .content-text.white75 .content-text-in {
	background: #FFF;
	background-color: rgba(255, 255, 255, 0.75);
	*background: #FFF;
	color: #000;
}
.panel .content-text.white50 .content-text-in {
	background: #FFF;
	background-color: rgba(255, 255, 255, 0.50);
	*background: #FFF;
	color: #000;
}
.panel .content-text.white100 .content-text-in a,
.panel .content-text.white90 .content-text-in a,
.panel .content-text.white75 .content-text-in a,
.panel .content-text.white50 .content-text-in a {
	color: #000;
}
.no-js .panel:hover .content-text.white100 .content-text-in,
.no-js .panel:hover .content-text.white90 .content-text-in,
.no-js .panel:hover .content-text.white75 .content-text-in,
.no-js .panel:hover .content-text.white50 .content-text-in,
.js .panel .content-text.white100 .content-text-in.hover,
.js .panel .content-text.white90 .content-text-in.hover,
.js .panel .content-text.white75 .content-text-in.hover,
.js .panel .content-text.white50 .content-text-in.hover {
	background: #FFF;
	color: #000;
}

.panel .content-text.black100 .content-text-in {
	background: #000;
	color: #FFF;
}
.panel .content-text.black60 .content-text-in {
	background: #000;
	background-color: rgba(0, 0, 0, 0.60);
	*background: #000;
	color: #FFF;
}
.panel .content-text.black35 .content-text-in {
	background: #000;
	background-color: rgba(0, 0, 0, 0.35);
	*background: #000;
	color: #FFF;
}
.panel .content-text.black100 .content-text-in a,
.panel .content-text.black60 .content-text-in a,
.panel .content-text.black35 .content-text-in a {
	color: #FFF;
}
.no-js .panel:hover .content-text.black100 .content-text-in,
.no-js .panel:hover .content-text.black60 .content-text-in,
.no-js .panel:hover .content-text.black35 .content-text-in,
.js .panel .content-text.black100 .content-text-in.hover,
.js .panel .content-text.black60 .content-text-in.hover,
.js .panel .content-text.black35 .content-text-in.hover {
	background: #000;
	color: #FFF;
}
