@media screen and (max-width: 123px) {
	#recruitmentNamespace{
		display:none;
	}
}


#recruitmentNamespace{
	font: 14px Verdana,Arial,sans-serif;
	line-height: 114%;
	color:black;
}
#recruitmentNamespace p{
	margin:0;
	padding:0;
}
#recruitmentNamespace a{
	color:black;
	text-decoration: none;
}
#recruitmentNamespace a:hover{
	color:black;
	text-decoration:none;
}
#recruitmentNamespace .center{
	text-align:center;
}

#recruitmentNamespace .clearer{
	clear:both;
}

/*=================================*/
#recruitmentNamespace #recruitmentStaticLayer {
	width: 270px;
	height:42px;
	background: url("../gfx/recruitmentForm/layer/help-tab-270.png") top left no-repeat;
	position: fixed;
	bottom:0;
	right: -9px;
	z-index: 10002;
	text-align: left;
}
#recruitmentNamespace.ivysilani #recruitmentStaticLayer{
	right:200px;
}
#recruitmentNamespace #recruitmentStaticLayer .innerDiv{
	padding:9px 9px 0 46px;
	line-height:33px;
}
#recruitmentNamespace #recruitmentStaticLayer .innerDiv a {
	color:white;
	font-weight:bold;
	font-size: 15px;
}
#recruitmentNamespace #recruitmentStaticLayer .innerDiv a:hover{
	text-decoration:none;
}

#recruitmentNamespace #recruitmentLayer{
	width: 369px;
	height:288px;
	background: url("../gfx/recruitmentForm/layer/tooltip-bg.png") top left no-repeat;
	position: fixed;
	bottom:20px;
	right:-13px;
	z-index: 10002;
	display:none;
	text-align: left;
}

#recruitmentNamespace.ivysilani #recruitmentLayer{
	right:187px;
}

#recruitmentNamespace #recruitmentLayer.show{
	display:block;
}

#recruitmentNamespace #recruitmentLayer .innerDiv{
	padding: 30px 38px 0px 42px;
	font-size: 14px;
	position:relative;
}

#recruitmentNamespace #recruitmentLayer #buttonClose{
	position:absolute;
	right:38px;
	top:32px;
	background:url('../gfx/recruitmentForm/layer/min-btn.png') no-repeat;
	width:25px;
	height:25px;
}
#recruitmentNamespace #recruitmentLayer #buttonClose:hover{
	background-image:url('../gfx/recruitmentForm/layer/min-btn-hover.png');
}

#recruitmentNamespace #recruitmentLayer .caption{
	background:url('../gfx/recruitmentForm/layer/heart-ico.png') left no-repeat;
	height: 34px;
	padding: 0px 40px 14px 58px;
	margin-bottom: 14px;
	font-size: 18px;
	line-height: 24px;
	colot:#444;
}

#recruitmentNamespace #recruitmentLayer p{
	line-height:22px;
	height: 88px;
	color: #333;
}

#recruitmentNamespace #recruitmentLayer #buttonOpenDialog{
	display:inline-block;
	width:150px;
	height:50px;
	line-height:50px;
	background:url('../gfx/recruitmentForm/layer/button-yes.png') no-repeat;
	color:white;
	font-weight:bold;
	font-size: 15px;
	text-align:center;
	margin-right: 14px;
}

#recruitmentNamespace #recruitmentLayer #buttonOpenDialog:hover{
	background-image:url('../gfx/recruitmentForm/layer/button-yes-hover.png');
}

#recruitmentNamespace #recruitmentLayer #buttonCancel{
	display:inline-block;
	width:117px;
	height:50px;
	line-height:50px;
	background:url('../gfx/recruitmentForm/layer/button-no.png') no-repeat;
	color:#606163;
	font-weight:bold;
	font-size: 15px;
	text-align:center;
}

#recruitmentNamespace #recruitmentLayer #buttonCancel:hover{
	background-image:url('../gfx/recruitmentForm/layer/button-no-hover.png');
}

/*=======NABOROVY FORMULAR========*/
#recruitmentNamespace #recruitment {
	display: none;
}

#recruitmentNamespace #recruitment.show{
	display:block;
}

#recruitmentNamespace #recruitment #black,
#recruitmentNamespace #confirm #black{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:10001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	display:none;
}

#recruitmentNamespace #recruitment.show #black,
#recruitmentNamespace #confirm.show #black{
	display:block;
}

#recruitmentNamespace #recruitment #data {
	display: none;
	position: absolute;
	width: 650px;
	height: auto;
	background-color: white;
	z-index:10002;
	overflow: auto;
	text-align: left;
	font-family: Verdana;
}

#recruitmentNamespace #recruitment.show #data{
	display:block;
}

#recruitmentNamespace #recruitment #data .top {
	padding: 20px 30px 0 30px;
	background: #ffffff;
	height: 180px;
}

#recruitmentNamespace #recruitment h2 {
	color: #444444;
	font-size: 22px;
	float: left;
	padding-bottom: 40px;
	font-weight: normal;
	margin-top:3px
}

#recruitmentNamespace #recruitment p {
	font-family: Verdana;
	font-size: 13px;
	padding-bottom: 15px;
	line-height: 19px;
}

#recruitmentNamespace #recruitment #data p {
	float: left;
}

#recruitmentNamespace #recruitment .close {
	float: right;

}

#recruitmentNamespace #recruitment .close .hover {
	display: none;
}

#recruitmentNamespace #recruitment .title{
	background: #ffffff;
	float:left;
	font-size: 14px;
	font-weight: bold;
}

#recruitmentNamespace #recruitment #form .values {
	font-size: 14px;
	font-weight: bold;
	width: 100%;

}

#recruitmentNamespace #recruitment #form .values span.label {
	font-weight: bold;
	padding-right: 13px;
}

#recruitmentNamespace #recruitment .starLeft,
#recruitmentNamespace #recruitment .starRight {
	display:inline-block;
}

#recruitmentNamespace #recruitment .starRight {
}

#recruitmentNamespace #recruitment .starRight img {
	position: relative;
}

#recruitmentNamespace #recruitment .starAge {
}

#recruitmentNamespace #recruitment .starLeft {
}

#recruitmentNamespace #recruitment #form .data {
	padding: 20px 30px 0 30px;
	background-color: #f5f5f5;
}

#recruitmentNamespace #recruitment #form,
#recruitmentNamespace #recruitment #form p {
	background-color: inherit;
}

#recruitmentNamespace #recruitment #recruitmentFooter {
	padding: 0 30px 0 30px;
	background: #ffffff;
}

#recruitmentNamespace #recruitment #recruitmentFooter p {
	color: #959798;
	font-size: 12px;
	text-align: center;
	padding: 20px;
}

#recruitmentNamespace #recruitment #form .visit{
	clear: both;
	padding-bottom: 14px;
}
#recruitmentNamespace #recruitment #form .thisMounth,
#recruitmentNamespace #recruitment #form .values {
	clear: both;
	padding-bottom: 25px;
}

#recruitmentNamespace #recruitment #form .plus {
	position: relative;
	left: 74px;
	color: #444444;
	font-weight: normal;
}

#recruitmentNamespace #recruitment #form .item {
	padding-bottom: 5px;
	margin-top: 10px;
}
#recruitmentNamespace #recruitment #form .item.first{
	margin-top:0px;
}

#recruitmentNamespace #recruitment #form input[type=text] {
	border: 2px solid #cccccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width: 390px;
	height: 35px;
	padding-left: 5px;
	color: #6a6a6a;
	font-family: Verdana;
	font-size:14px;
}

#recruitmentNamespace #recruitment #form .phonePart1Input,
#recruitmentNamespace #recruitment #form .ageInput {
	width: 50px !important;
}

#recruitmentNamespace #recruitment #form .ageInput {
}
#recruitmentNamespace #recruitment #form .jobInput {
}
#recruitmentNamespace #recruitment #form .emailInput {
}
#recruitmentNamespace #recruitment #form .phonePart1Input {
}
#recruitmentNamespace #recruitment #form .phonePart2Input {
	width: 146px !important;
}

#recruitmentNamespace #recruitment #form .ageText {
}
#recruitmentNamespace #recruitment #form .jobText {
}
#recruitmentNamespace #recruitment #form .emailText {
}
#recruitmentNamespace #recruitment #form .phoneText {
}

#recruitmentNamespace #recruitment #form .phonePart2 {
	width: 322px !important;
}

#recruitmentNamespace #recruitment #form label{
	font-size:14px;
	line-height:30px;
	color: #444444;
}

#recruitmentNamespace #recruitment span.label{
	display:inline-block;
	width:140px;
	text-align:right;
}

#recruitmentNamespace #recruitment #form .activeBorder {
	border-color: #0099cc !important;
	color:#000 !important;
}

#recruitmentNamespace #recruitment #form .errorInput {
	border-color: #db3a22 !important;
}

#recruitmentNamespace #recruitment #form .errorText {
	color: #db3a22 !important;
	font-weight: normal;
	font-size:14px;
}

/* submit tlacitko*/
#recruitmentNamespace #recruitment #form .submit{
	border:0px solid;
	background:url('../gfx/recruitmentForm/button-submit.png') top left no-repeat;
	width:590px;
	height:50px;
	margin-top:24px;
	color:white;
	font-weight:bold;
	font-size:18px;
	cursor:pointer;
}
#recruitmentNamespace #recruitment #form .submit:hover{
	background:url('../gfx/recruitmentForm/button-submit-hover.png') top left no-repeat;
}

#recruitmentNamespace #recruitment .hide {
	display: none;
}

#recruitmentNamespace .hrTop{
	height:7px;
	background:url('../gfx/recruitmentForm/hr.jpg') top left no-repeat;
}
#recruitmentNamespace .hrBottom{
	height:7px;
	background:url('../gfx/recruitmentForm/hr2.jpg') top left no-repeat;
	position:relative;
}


/*errros*/
#recruitmentNamespace #recruitment .errorFullName,
#recruitmentNamespace #recruitment .errorAge,
#recruitmentNamespace #recruitment .errorJob,
#recruitmentNamespace #recruitment .errorEmail,
#recruitmentNamespace #recruitment .errorPhone,
#recruitmentNamespace #recruitment .errorPhonePart1,
#recruitmentNamespace #recruitment .errorPhonePart2 {
	margin-left: 155px;
	padding-bottom: 9px;
}

#recruitmentNamespace #confirm {
	display: none;
}


#recruitmentNamespace #confirmDialog{
	width: 650px;
	height: auto;
	position: absolute;
	top: 50px;
	left: 50px;
	background: #ffffff;
	z-index:10002;
	padding: 20px 30px 0 30px;
}

#recruitmentNamespace #confirm.show{
	display:block;
}

#recruitmentNamespace #confirm h2 {
	font-size: 22px;
	color: #444444;
	text-align: left;
	font-weight: normal;
	padding-left:50px;
	height: 42px;
	line-height: 42px;
	background:url('../gfx/recruitmentForm/check.jpg') left no-repeat;
}


#recruitmentNamespace #confirm .close .hover {
	display: none;
}

#recruitmentNamespace #confirm .close {
	float: right;
}

#recruitmentNamespace #confirm .data {
	padding-top: 20px;
}

#recruitmentNamespace #confirm .check {
	float: left;
}

#recruitmentNamespace #confirm p {
	padding: 0 0 20px 12px;
	text-align: left;
}

#recruitmentNamespace #confirm .close2 {
	margin-left: 228px;
	padding-bottom: 29px
}

/*radio buttony*/

#recruitmentNamespace #recruitment #form .radioButton{
	display:inline-block;
	width:16px;
	height:16px;
	position:relative;
	top:2px;
	background:url('../gfx/recruitmentForm/radio.png') left no-repeat;
}
#recruitmentNamespace #recruitment #form .radioButton:hover{
	background:url('../gfx/recruitmentForm/radio-hover.png') left no-repeat;
}
#recruitmentNamespace #recruitment #form .radioButton.selected{
	background:url('../gfx/recruitmentForm/radio-selected.png') left no-repeat;
}
#recruitmentNamespace #recruitment #form .radioButton.selected:hover{
	background:url('../gfx/recruitmentForm/radio-selected-hover.png') left no-repeat;
}

#recruitmentNamespace .input_hidden {
	position: absolute;
	left: -9999px;
}

#recruitmentNamespace .visit label,
#recruitmentNamespace .thisMounth label {
	display: inline-block;
	cursor: pointer;
}


