#wrapper-trailers-outer {
background: #f9f8f5 url(../images/wrapper-icast-tips.png) no-repeat 50% 0;
  
}

#wrapper-trailers {
  display: table;
  width: 100%;
  height: 15Opx;
  padding: 15px 0;  
  border-bottom: 1px solid #e1dbce;
}

#wrapper-trailers a {
  display: table-cell;
  text-align: center;
  vertical-align: center;
  width: 20%;
  padding: 15px 30px;
  
}

#wrapper-trailers a img {
  max-width: 100%;
  max-height: 150px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  transition: all .2s ease;
  opacity: 0.4;
 
}

#wrapper-trailers a:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none; /* IE 6-9 */
  opacity: 1;
}
