/* generic */
body{width:988px;background:#EFEFEF url(/v007/img/bgpages.gif) top center repeat-y;margin:0 auto 0 auto !important;font:10.5pt 'Roboto',sans-serif;font-weight:normal;color:#333}
a{color:#201e1f;text-decoration:none}
a:hover{text-decoration:underline}
div,.fL{float:left}
img{border:0}
h1,h2,h3,h4,p,form,input,select,object,ul,li,dl,dt,dd{margin:0;padding:0}
ul,li{list-style:none}
h1,h2,h3,h4{float:left;font-size:13px}
input,select{font:12px tahoma}
.fR{float:right}
.vAm{vertical-align:middle}
.seriea{z-index:1 !important}

/* w */
.wM{width:100%}
.wH{width:50%}
.w988{width:988px;position:relative;background:#fff}
.w650{width:650px}
.w312{width:312px}

/* margini */
.mT13{margin-top:13px}
.mT10{margin-top:10px}
.mR10{margin-right:10px}
.mT20{margin-top:20px}
.mB20{margin-bottom:20px}
.mT35{margin-top:35px}
.mT25{margin-top:25px}
.mB25{margin-bottom:25px}
.pB25{padding-bottom:25px}
.mB26{margin-bottom:26px}
.mB40{margin-bottom:40px}
.mR26{margin-right:26px}
.mR20{margin-right:20px}
.pB20{padding-bottom:20px}	
.mB0{margin-bottom:0px !important}
.mBRed{margin-bottom:26px}
.mBRedP{margin-bottom:22px}

/* font */
.f11{font-size:11px}
.f12{font-size:12px}
.vAm{vertical-align:middle}
.tAr{text-align:right}
.tAc{text-align:center}
.Red{color:#C41200}
.Red a{color:#C41200}
.Red a:hover{color:#C41200}
a .Red{color:#C41200 !important}
a:hover .Red{text-decoration:underline;color:#C41200 !important}
.titleLink{color:#16387C}
.titleLink:hover{text-decoration:underline;color:#16387C}
.b{font-weight:bold}
.nb{font-weight:normal}
.indPos{color:#008001}

/* header */
.hD{padding:10px 0 24px 0}
.lg{width:208px;margin:14px 30px 0 0}
.lg h1 {background: transparent url(/v007/img/el.v006.png) 0px 0px no-repeat;width:208px;height:46px;float:left}
.lg h1 span {display: none}
.lg h1 a{display:block;width:208px;height:46px}
.lk{margin:6px 0 3px 0;font-size:12px;position:relative;font-size:13px;font-weight:300}
.istella_logo{position:absolute;right:-14px;top:-6px}

#SRC{width:300px;margin-right:30px}
#SRC li{float:left}
#SRC .inp{width:300px;background:#efeeee;min-height:32px;height:auto !important;height:32px;}
#SRC input{margin-top:2px;;background:#efeeee;margin-left:2px;width:240px;padding:5px 4px 4px 5px;float:left;border:0;min-height:16px;height:auto !important;height:16px;font-family:'roboto'}
.hServ{width:420px;font-size:13px;font-weight:500}
.hServ li{float:left;width:84px;text-align:center;text-transform:uppercase}
.hServImg{width:84px;height:43px;display:table-cell !important;vertical-align:middle;margin:auto auto}
/*.hServ a{float:left;width:72px;padding-top:44px;text-align:center}*/
.hServ a:hover{text-decoration:none}

.search-btn {
  float:right;
  margin-left: -2px !important;
  padding:5px 12px 3px;
  min-height:22px;height:auto !important;height:22px;
  margin-top:0 !important;
}
.button {
  background: #d9522A;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 1;
  /*font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-family: arial,sans-serif;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
    -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.button.red {
  border: 1px solid #a83f1f;
  background: #d9522a;
}

.button.red:hover {	
  background: #e27756;
}

/* header */
.hToolbar{width:988px;background:#fff;padding-bottom:25px !important;position:relative;z-index:10000001 !important;}
.hToolbar a{color:#333}
.hToolbar a:hover{text-decoration:none}
.hToolbar ul,.hToolbar ul li{float:left}
.hToolbar .channelList {width:988px;line-height:32px;background: rgba(138,92,163,1);
background: -moz-linear-gradient(top, rgba(138,92,163,1) 0%, rgba(128,77,154,1) 52%, rgba(124,79,150,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(138,92,163,1)), color-stop(52%, rgba(128,77,154,1)), color-stop(100%, rgba(124,79,150,1)));
background: -webkit-linear-gradient(top, rgba(138,92,163,1) 0%, rgba(128,77,154,1) 52%, rgba(124,79,150,1) 100%);
background: -o-linear-gradient(top, rgba(138,92,163,1) 0%, rgba(128,77,154,1) 52%, rgba(124,79,150,1) 100%);
background: -ms-linear-gradient(top, rgba(138,92,163,1) 0%, rgba(128,77,154,1) 52%, rgba(124,79,150,1) 100%);
background: linear-gradient(to bottom, rgba(138,92,163,1) 0%, rgba(128,77,154,1) 52%, rgba(124,79,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a5ca3', endColorstr='#7c4f96', GradientType=0 );}
.hToolbar .channelList li{float:left;margin-left:15px;text-transform:lowercase}
.hToolbar .menu{position:absolute;right:10px;top:8px;}
.hToolbar .menu img{float:left;}
.subInactive,.hToolbar .tabMondiali{color:#fff !important}
.channelList2L{background:#f0f0f1;width:988px;padding:20px 0;position:absolute;top:33px;left:0;z-index:10001;display:none;-webkit-box-shadow: 0px 4px 7px -4px rgba(51,51,51,1);-moz-box-shadow: 0px 4px 7px -4px rgba(51,51,51,1);box-shadow: 0px 4px 7px -4px rgba(51,51,51,1);}
.dir h2{width:100%;margin-bottom:5px;font-size:14px;font-weight:500;color:#804b9c}
.dir li{float:left;width:100%;line-height:23px;font-size:14px;font-weight:400;}
.dir{width:230px;padding-left:17px}

/* tags */
.tagsCnt{width:599px}
.tagsHead{color:#c31200;font-size:13px;font-weight:500;text-transform:uppercase}
.tagsLink{padding:1px 5px;font-size:13px;font-weight:normal;background:#f2f2f2;margin-left:5px}
.tagsLink a{color:#666}

.topBar{margin-bottom:20px}
.socialBox{width:312px;float:right;text-align:right}
.socialBox a,.socialBox div{display:inline-block;margin-left:20px;float:right}


/* reg social news */
.black_overlay_cont{display: none;position: absolute;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index:10001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}
.white_content_cont {display: none;position: absolute;top: 25%;left: 25%;width: 613px;min-height:520px;height:auto !important;height:520px;border: 6px solid #7e4a9a;background-color: white;z-index:10002;padding-bottom:10px}
.white_content_testa{width:613px;background:#7e4a9a}
.white_content_txt{width:573px;padding:20px;font-size:14px}
.white_content_form{width:573px;padding:0 20px}
.white_content_form_space{margin-right:23px}
.white_content_form_h{width:275px}
.white_content_form_h input,.white_content_form_h_3 input{width:100%;height:26px}
.white_content_form_h_3{width:174px}
.white_content_form_m{width:573px}
.white_content_form_m textarea{width:100%;height:50px}
.white_content_form_disc{width:573px}
.field{width:573px}
#customForm input.error{border:1px solid #aa0000}
.error{color:#aa0000}
#error.valid ul li{color: #aa0000}  

/* tool con meteo */
.hpT{padding:15px 0 5px 0}
.hpTSx{width:650px;margin-right:26px;background:#e9e9e9}
.cntUltimora{width:599px;margin-right:25px;padding:1px 0 2px 0}
.dataHp{width:75px;margin-right:2px;font-size:13px;font-weight:normal}
.ultimoraTicker{width:645px;padding:0px 5px 0px 0px;position:absolute;bottom:0;left:0;background:#000;background:rgba(0,0,0,0.7);z-index:2;color:#fff}
.ultimoraTicker h2{background:#c41200;padding:1px 0px 2px 0px;text-align:center;width:80px;float:left;font-weight:700;font-family:"Roboto Condensed";font-size:16px !important}
.ultimoraTicker h2 a{color:#fff}
.ultimoraTicker a{color:#fff;}
.ultimoraTicker marquee a{font-size:15px;}
.hpTDx{width:312px}
.hpTDx iframe{float:left;width:120px;padding:0;margin:0;height:25px !important}
.marquee {width:565px;margin: 0 auto;overflow: hidden;white-space: nowrap;box-sizing: border-box;animation: marquee 50s linear infinite;font-size:15px;font-weight: normal}
.marquee a,.marquee{color:#fff}
.marquee:hover {animation-play-state: paused}
.marquee li{float:left;margin-right:10px;}
.marquee li a{color:#fff}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

#ansa_layer{width:650px;background:#e9e9e9;height:473px;position:absolute;top:15px;left:0z-index:99999}
.ansa_cont{width:610px;padding:0px 20px 15px 20px;}
.ansa_tit{padding-left:20px;width:630px;font-size:16px;font-weight:bold;color:#C41200}
.ansa_cont li{float:left;width:610px;font-size:13px;margin-top:5px}
.ansa_cont li a{font-weight:bold}
.photostory_cont{width:610px;padding:10px 20px 20px 20px;}
.photostory_cont li{float:left;width:100px;font-weight:bold}
#other_1,#other_2,#other_3,#other_4{margin-right:27px}

#meteoTop{float:left;width:249px;padding:0 30px 10px}
#pMto{float:left;font-size:12px;display:block;position:absolute;top:45px;left:0px;z-index:99999;width:270px;padding:20px;background:#dddddd}
#pMto div{padding-top:7px}
#pMto .fMto{width:260px;padding-left:10px;height:20px;border:1px solid #A7A6AA;font-size:13px;font-family:'roboto';font-weight:300}
#pNto{float:left;display:block;position:absolute;top:40px;right:0px;z-index:99999;width:270px;background:#fff;border:2px solid #DCDCDC}
.cMto{width:20px;height:20px}
#search-div-t{max-height:220px;overflow-x:hidden;overflow-y:auto;border:1px solid #aaa;padding-bottom:5px;width:270px;z-index:1000000;background-color:#fff;position:absolute;top:100px;left:20px}
#search-div-t div{width:250px;padding-top:3px !important;padding-bottom:3px}
#search-div-t .tips{background-color:#eee;font-weight:300;width:260px;text-align:right;padding:5px}
#search-div-t a {float:left;width:270px;font-weight:300;text-decoration:none;text-align:left;color:#000}
.min{color:#003399}
.max{color:#be2834}

/* meteo local */
#meteoTop a{text-decoration:none}
.meteoDay{width:249px;font-size:18px;font-weight:500;margin-top:8px;margin-bottom:8px;text-align:center}
.meteoDay img{vertical-align:middle;margin-right:5px;margin-top:-2px}
.meteoNextWeek{width:83px;text-align:center}
.meteoDate{font-size:12px;font-weight:300;width:83px;margin-bottom:5px}

.flw{float:right}
.flw a{margin-left:10px}
.flw img{vertical-align:middle;margin-top:-2px}

/* pp */
.block{margin-top:25px;padding-top:2px}

/* standard-I */
.standard-I{min-height:438px;height:auto !important;height:438px}
.standard-I h3{width:100%;font-size:22px;margin-top:4px}
.standard-I p{width:100%;display:block;font-size:14px;line-height:19px}
.corrSI{margin-top:3px}

.ppVideo{width:650px;background:#000;color:#fff}
.ppVideoTitle{width:630px;padding:0 10px}
.ppVideoTitle h3{font-size:21px;margin-bottom:3px}
.ppVideoTitle a{color:#fff}


.standard-II{width:650px;height:438px;position:relative}
.gradient-img{position:absolute;top:0;left:0;width:650px;height:438px;z-index:1;/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42OSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0.69) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(36%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.69))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.69) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.69) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.69) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.69) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b0000000',GradientType=0 ); /* IE6-8 */
}

.standardII_Img{position:absolute;top:0;left:0;z-index:0}
.standardII_Txt{width:610px;padding:0 20px;position:absolute;bottom:0;left:0;z-index:2;color:#fff;padding-bottom:40px}
.standardII_Txt h3{width:610px;float:left;font-size:34px;font-weight:500}
.standardII_Txt h3 a{color:#fff;text-shadow: 0px 1px 1px #000000;filter: dropshadow(color=#000000, offx=0, offy=1)}
.corrStdIIF{padding-top:15px}
.corrStdIIF,.corrStdII{float:left;width:610px;font-size:18px}
.corrStdII{margin-top:5px}
.corrStdIIF a, .corrStdII a{color:#fff} 


/* straordinaria I */
.edStr{width:100%;background:#a11204;line-height:20px;font-weight:bold;color:#fff;display:none;}
.straordinaria-I h3{text-align:center;width:100%;margin-bottom:15px}
.straordinaria-I .straordinariaTB{font-size:40px;}
.straordinaria-I .correlatoTHp{font-size:24px !important}
.straordinaria-I h3 a,.straordinaria-ICorr .corrSII a{}
.straordinaria-I h4{float:left;text-align:center;width:100%;font-size:26px;margin-top:4px;margin-bottom:15px}
.straordinaria-I p{width:100%;float:left;font-size:16px;line-height:21px;margin-top:10px}
.straordinaria-I .corrSI{margin-top:5px !important}

.bSocial{width:312px;position:relative;margin-bottom:26px}
.bSocialImg{width:312px}
.bSocialTxt{width:135px;padding:5px 10px;background:#fff;position:absolute;top:10px;right:10px;height:120px;overflow:hidden} 
.bSocialTxt .tColl{font-size:16px !important;font-weight:500}
.bSocialTxt .nomeCollaboratore{font-size:14px !important}
.bSocialTxt .firmaColl{font-size:13px !important;font-style:italic}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;	
	border-right: 15px solid #fff;
	position:absolute;
	top:60px;
	right:160px;
}


/* social news 
.socialNews{width:310px;border:1px solid #8754a1;position:relative;margin-bottom: 25px}
.socialNews h3{float:left;width:290px;padding:4px 10px;background:#8754a1;color:#fff;height:32px}
.socialNews h3 a{color:#fff}
.cntSn{width:290px;padding:7px 10px 0;min-height:101px;height:auto !important;height:101px;overflow-x:hidden}
.avatarSn{width:40px;margin-right:10px}
.txtSn{width:240px;font-size:12px;line-height:15px}
.frSn{position:absolute;top:10px;left:-13px}
*/

/* jollybox */
.jBox{margin-bottom:26px !important}

/* multi tab */
.tabLinkHp {cursor:pointer;text-transform:uppercase;font-size:18px;font-family:'Roboto Condensed'}
.cnttab{width:650px;}
.cnttab div{line-height:30px;border-bottom:1px solid #fff;text-align:center}
.ftabmlt{width:130px}
.tabmltBrd{width:129px;border-left:1px solid #fff}
.tabmltActive{background:#c31200;color:#fff}
.tabmlt{background:#d0d1d3}
.tabCntAll{width:650px;position:relative;height:250px;}
.tabContentHp{width:650px;position:absolute;top:0;left:0;height:250px;}  
.tabContentHpImage{width:650px;}
.tabContentHpTxt{background:#fff;position:absolute;bottom:20px;left:10px;width:280px;height:165px;padding:20px 10px;overflow:hidden;background:#fff;background:rgba(255,255,255,0.8)}
.tabContentHpTxt h3{font-size:26px;font-weight:500}
.fbTabShare{width:100%;margin-top:10px}

/* redazionale seconda scermata */
.bts h2,.bss h2,.brf h2,.brfSc h2,.dot h2,.ico h2,.dotAss h2,.cbb h2,.block h2{width:100%;margin-bottom:9px}
.bss{position:relative}
.mBRedP h3{margin-bottom:9px}
.bss h3{width:312px;font-size:20px;font-weight:400;line-height:24px}
.bss .bssImage img{margin-bottom:6px}
.bss img{margin-bottom:3px}
.bss a{font-weight:normal;font-style:normal}
.bss p, .btx p,.tsr p{width:312px;float:left;line-height:17px}
.spc{background: #dcdcdc;padding-bottom: 10px;min-height:310px;height:auto !important;height:310px;}
.spc h3{width:292px;padding:6px 10px 4px;font-size:16px;}
.spc p{width:292px;padding:0 10px;float:left;line-height:17px}
.spc p img{vertical-align:top;margin-top:2px}
.bss p img,.tsr p img{margin:0}
.bssLst{margin-bottom:0 !important}
.bss .bssImage{position:relative}
.bss .bssImage span{float:left;overflow:hidden;color:#fff;background:#c31200;padding:1px 5px 2px 5px;text-transform:uppercase;position:absolute;bottom:6px;left:0;font-weight:400;font-family:"Roboto Condensed";font-size:16px}
.bss .bssImage span a{color:#fff}
.btx h3 span,.spc h3 span,.tvideo span,.spec h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#c31200;padding:1px 3px 2px 3px;text-transform:uppercase}
.bss h3 span a, .btx h3 span a,.spc h3 span a,.tvideo span a,.focus h3 span a, .spec h3 span a, .bss .bssImage span a{text-decoration:none}
#lifestyle_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#e10087 url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none}
#milleunadonna_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#E5917F url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none}
#tecnologia_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#18449A url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none}   
#vivialtop_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#238C00 url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none} 
#speciali_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#ad8700 url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none} 
#sociale_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#996600 url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none}
#ebay_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#ec2e3a url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none}
#istella_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#e3502e url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none}
#motori_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#a92415 url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none} 
#viaggi_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#fb9d00 url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none} 
#gs_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#0078b4 url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none} 
#community_block h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#fff;background:#8fbe00 url(/v007/img/freccia_trasp.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;display:none} 
#spettacoli_block .tsrImage span{background:#eb7e05 }
#lifestyle_block .tsrImage span,#lifestyle_block .specialPm  .specialPmImage span{background:#e10087 }
#milleunadonna_block .tsrImage span,#milleunadonna_block .specialPm  .specialPmImage span{background:#E5917F }
#tecnologia_block .tsrImage span,#tecnologia_block .specialPm  .specialPmImage span{background:#18449a }
#gs_block .tsrImage span,#gs_block .specialPm  .specialPmImage span{background:#000}
#viaggi_block .tsrImage span,#viaggi_block .specialPm  .specialPmImage span{background:#fb9d00 }
#vivialtop_block .tsrImage span,#vivialtop_block .specialPm  .specialPmImage span{background:#b6b6ac }
#sociale_block .tsrImage span,#sociale_block .specialPm  .specialPmImage span{background:#996600 }
#motori_block .tsrImage span,#motori_block .specialPm  .specialPmImage span{background:#a92415 }
#community_block .tsrImage span,#community_block .specialPm  .specialPmImage span{background:#8fbe00 } 
#vivialtop_block{width:988px;display:block !important}




.bgLifestyle h3 span{background-image:url(/v007/img/freccia_lifestyle.png) !important}  
.bgSpect h3 span{background-color:#fff !important;color:#eb7e05 !important;background-image:url(/v007/img/freccia_spect.png) !important}  
.bgMotori h3 span{background-image:url(/v007/img/freccia_motori.png) !important;color:#a92415 !important;background-color:#fff !important} 
.bgViaggi h3 span{background-image:url(/v007/img/freccia_viaggi.png) !important;color:#fb9d00 !important;background-color:#fff !important} 
.bgGiochi h3 span{background-image:url(/v007/img/freccia_giochi.png) !important;color:#0078b4 !important;background-color:#fff !important}
.bgTecnologia h3 span{background-image:url(/v007/img/freccia_tecnologia.png) !important;color:#18449A !important;background-color:#fff !important} 
.bgvivialtop h3 span{background-image:url(/v007/img/freccia_ambiente.png) !important;color:#238C00 !important;background-color:#fff !important}
.bgSpeciali h3 span{background-image:url(/v007/img/freccia_speciali.png) !important;color:#B92324 !important;background-color:#fff !important}
#mailLfs{margin-top:25px}
.sezSpet{overflow:hidden;color:#fff;background:#EB7E05;padding:1px 5px 2px 5px;text-transform:uppercase;position:absolute;bottom:6px;left:0;font-weight:400;font-family:"Roboto Condensed";font-size:16px}
#spettacoli_block{margin-bottom:25px}
#spettacoli_block h2{font-size:34px;color:#EB7E05;margin-bottom:18px}
#spettacoli_block h2 a{color:#EB7E05;text-decoration:none} 
.videoCorrSpett_0{margin-top:15px !important} 
.videoCorrSpett{width:292px;margin-top:4px;font-weight:bold} 
.videoCorrSpett img{margin-bottom:0px !important;vertical-align:top;margin-top:3px} 
.videoCorrSpettImg{width:141px;margin-top:4px;font-weight:bold} 
.videoCorrSpettImg img{margin-bottom:0px !important;vertical-align:top;margin-top:3px}
#lifestyle_block{margin-top:26px;margin-bottom:27px}
#milleunadonna_block{margin-top:26px;margin-bottom:27px}
#milleunadonna_block h2{margin-bottom:18px}
#lifestyle_block h2{font-size:34px;color:#E10087;margin-bottom:18px} 
#lifestyle_block h2 a{color:#E10087;text-decoration:none} 
#tecnologia_block{padding-bottom:25px}
#tecnologia_block h2{font-size:34px;margin-bottom:18px}
#tecnologia_block h2 a{color:#18449A;text-decoration:none}
#vivialtop_block{padding-bottom:25px}
#vivialtop_block h2{font-size:34px;margin-bottom:18px} 
#vivialtop_block h2 a{color:#238C00;text-decoration:none}
#speciali_block{}
#speciali_block h2{color:#ad8700;font-size:34px;margin-bottom:18px} 
#speciali_block h2 a{color:#ad8700;text-decoration:none} 
#sociale_block{margin-bottom:18px}
#sociale_block h2{font-size:34px;margin-bottom:18px}
#sociale_block h2 a{color:#996600;text-decoration:none}
#ebay_block{margin-bottom:18px;position:relative}
#ebay_block h2{color:#ec2e3a;font-size:34px;margin-bottom:18px}
#istella_block{padding-bottom:18px}
#istella_block h2{color:#d8532a;font-size:34px;margin-bottom:18px}
#motori_block{padding-bottom:18px}
#motori_block h2{font-size:34px;color:#a92415;margin-bottom:18px}
#motori_block h2 a{color:#a92415;text-decoration:none}
#viaggi_block{margin-top:26px}
#viaggi_block h2{font-size:34px;color:#fb9d00;margin-bottom:18px}
#viaggi_block h2 a{color:#fb9d00;text-decoration:none}
#community_block h2{font-size:34px;color:#8fbe00;margin-bottom:18px}
#community_block h2 a{color:#8fbe00;text-decoration:none}
#webseries_block h2{font-size:34px;color:#ff9900;margin-bottom:0px}
#gs_block{padding-bottom:25px;display:block !important}
#gs_block h2{font-size:34px;color:#0078b4;margin-bottom:18px}
#gs_block h2 a{color:#0078b4;text-decoration:none}
#indoona_block h2{font-size:34px;color:#7a5f96;margin-bottom:18px;margin-top:29px}
#indoona_block h2 a{color:#7a5f96;text-decoration:none}
#shopping_box h2{font-size:34px;color:#333;margin-top:28px;margin-bottom:18px;} 
.spc h3 span{background:#c31200 url(/v007/img/fr-occ-g.png) no-repeat right;}
.tvideo span{background:#c31200 url(/v007/img/fr-occ-n.png) no-repeat right;font-weight:bold}
.bss h3 span a, .btx h3 span a,.spc h3 span a,.tvideo span a{color:#fff}
#sez_hidd{display:none}

.bgLifestyle{background:#000;}
.bgLifestyle h4{float:left;width:292px;margin:10px 0;color:#e10087;font-size:16px}

.bgMilleunadonna{background:#000;}
.bgMilleunadonna h4{float:left;width:292px;margin:10px 0;color:#e10087;font-size:16px}

.bgSpect{background:#eb7e05;min-height:431px;height:auto !important;height:431px}
.bgSpect h4{float:left;width:292px;margin:10px 0;color:#fff;font-size:16px}

.bgGiochi{background:#0078b4;min-height:305px;height:auto !important;height:305px}
.bgGiochi h4{float:left;width:292px;margin:10px 0;color:#fff;font-size:16px}
.bgMotori{background:#A92415;min-height:210px;height:auto !important;height:210px}
.bgViaggi{background:#fb9d00;min-height:210px;height:auto !important;height:210px}
.bgTecnologia{background:#18449A}
.bgvivialtop{background:#238C00}
.bgSpeciali{background:#B92324} 

/* istella shopping */
.istella_s_cnt{width:100%}
.istella_s_t{width:249px}
.istella_s_t a{color:#d8532a}
.istella_s_src{width:489px;margin-top:12px}
.istella_s_src input{border:0px;width:100%;font-size:16px;background:#EFEEEE}
.istella_s_src input::-webkit-input-placeholder { color:#6e6d6d; }
.istella_s_src input::-moz-placeholder { color:#6e6d6d; }
.istella_s_src input:-ms-input-placeholder { color:#6e6d6d; }
.istella_s_src input:-moz-placeholder { color:#6e6d6d; }
.istella_s_fld{width:422px;padding:0 5px;min-height:26px;border-bottom:2px solid #EFEEEE;background:#EFEEEE}
.istella_s_l{width:249px;text-align:right;margin-top:8px}
.istella_s_btn{background:#d8532a;width:57px;line-height:28px;text-align:center;}
.istella_s_btn a{display:block;width:57px;height:28px}
.istella_s_btn img{vertical-align:middle;font-size:1px}
.istella-shopping-img{width:310px;line-height:162px;text-align:center;border:1px solid #DD5009;margin-bottom:6px}
.istella-shopping-img img{vertical-align:middle;font-size:1px;margin-bottom:0 !important}

/* ebay */
#ebay_block .ebay_logo{position:absolute;right:0;top:6px}
#ebay_block span{display:none}

/* maxybox redazionale */
.maxyboxRed{width:312px;position:relative}
.maxyboxRedImage{width:312px;}
.maxyboxRedCnt{width:292px;position:absolute;bottom:10px;left:10px;}
.maxyboxRedTxt{background:#fff;background:rgba(255,255,255,0.8);width:272px;padding:10px;}
.maxyboxGsTxt{background:#fff;background:rgba(0,0,0,0.5);width:272px;padding:10px;}
.maxyboxRedTxt h3{font-size:26px;font-weight:400;line-height:28px}
.maxyboxGsTxt h3{font-size:26px;font-weight:400;line-height:28px;color:#fff}
.maxyboxRedHead{color:#fff;background:#c31200;padding:1px 5px 2px 5px;text-transform:uppercase;font-weight:400;font-family:"Roboto Condensed";font-size:18px}
.maxyboxGsHead{color:#fff;background:#000;padding:1px 5px 2px 5px;text-transform:uppercase;font-weight:400;font-family:"Roboto Condensed";font-size:18px}
.maxyboxMdHead{color:#fff;background:#e5917f;padding:1px 5px 2px 5px;text-transform:uppercase;font-weight:400;font-family:"Roboto Condensed";font-size:18px}
.maxyboxRedHead a,.maxyboxGsTxt h3 a,.maxyboxGsHead a,.maxyboxMdHead a{color:#fff}
.maxyboxRedHead a:hover,.maxyboxGsHead a:hover,.maxyboxMdHead a:hover{text-decoration:none}

/* spettacoli megabox */
.spett-mb{width:312px;position:relative;height:550px;}
.spett-mb-img{width:312px;position:absolute;top:0;left:0;z-index:0}
.spett-mb-txt-cnt{width:292px;margin:10px;position:absolute;bottom:0;left:0;z-index:2;background:#eb7e05;background:rgba(235,126,5,0.8);}
.spec-mb-txt-cnt{width:292px;margin:10px;position:absolute;bottom:0;left:0;z-index:2;background:#000;background:rgba(0,0,0,0.8);}
.spett-mb-txt{width:272px;padding:10px;font-size:26px;font-weight:normal:line-height:28px}
.spett-mb-txt a{color:#fff !important}

/* webseries */
.webseries_bck{background:#000 url(/v007/img/webseries.png) no-repeat;min-height:293px;height:auto !important;height:293px;}
.webseries_blk h3 span{float:left;height:13px;overflow:hidden;font-size:11px !important;color:#000;background:#ff9900 url(/v007/img/freccia_webseries.png) no-repeat right;padding:1px 12px 2px 3px;margin:2px 2px 1px 0;text-transform:uppercase;line-height:normal} 
.webseries_blk{width:303px;padding-top:73px}
.webseries_blk1{padding-left:10px;padding-right:25px}
.webseries_blk2{padding-right:35px}
.webseries_blk h3{width:303px;font-size:14px;margin-bottom:1px;line-height:20px}
.webseriesFoto{width:272px;padding:0 16px 20px 15px}
.webseries_blk img{margin-bottom:3px}
.webseries_blk a{color:#fff}

/* giochi */
.tsrGiochi{width:312px;font-size:12px;line-height:15px;background:#e9e9e9}
.tsrGiochi h3{width:140px;margin:5px 0 0 0}
.tsrGiochi p a{text-transform:uppercase;-webkit-border-radius: 2px;-moz-border-radius: 2px;
  -ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;border: 1px solid #0078b4;  background: #0078b4;text-align: center;padding: 5px 10px 5px;color: white;text-decoration: none;
  font-weight: bold;font-size: 13px;line-height: 1;position: relative;cursor: pointer;border: none;outline: none;margin-top: 5px;float:left}
.gs_bg{width:964px;padding:12px;position:relative}
.gs_bg h3 a{color:#fff}
.gs_content{position:absolute;top:10px;left:12px;z-index:2}
.bg_gs_link{width:988px;display:block;position:absolute;top:0;left:0;z-index:1}
.gsVideo{background:#000;padding-bottom:15px;min-height:535px}
.gsIframe{padding:0 15px;position:relative}
.gsVideoIco{position:absolute;top:50%;left:50%;width:80px;height:80px;margin-top:-40px;margin-left:-40px;z-index:1px}
.gsIframeTitle{padding:15px;width:620px;font-size:28px;font-weight:bold}
.gsIframeTitle a,.gsVideoRelated a{color:#fff}
.gsVideoRelated{padding:0 15px;width:620px;font-size:18px;}

/* coll n */
.collCnt{width:940px;border:1px solid #dcdcdc;padding:0 23px 22px 23px;margin-top:25px} 
.collCnt h2{float:left;width:940px;font-size:26px;font-weight:bold;padding:18px 0 20px 0;color:#8fbe00}  
.collCnt h2 a{color:#8fbe00}
.bCollB{width:290px;margin-right:26px;position:relative}
.bCollB .imgColl{width:290px !important;margin-right:0 !important}
.bCollBTxt{width:270px;padding:0 10px 10px 10px;background:#8fbe00;min-height:90px;height:auto !important;height:90px;}
.bCollBTxt .tColl{font-size:16px !important}
.bCollBTxt p{width:270px !important}
.bCollBTxt .tColl a{color:#fff}
.bCollDx{width:624px;}
.bCollBox{width:624px}  
.bCollS{width:295px;background:#e9e9e9;padding-right:4px;position:relative} 
.imgColl{width:100px;margin-right:10px}
.tColl{font-size:14px;font-weight:bold;font-style:normal;padding-top:5px}
.firmaColl{margin-top:5px;font-size:12px} 
.nomeCollaboratore{font-weight:bold;color:#000;font-size:12px}
.profCollaboratore{font-style:italic;font-weight:normal}
.bCollS p{width:185px;float:left}
.CollLayer{width:940px;font-size:16px;font-weight:bold;padding-top:22px} 
.buttonScl{text-transform:uppercase;-webkit-border-radius: 2px;-moz-border-radius: 2px;
  -ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;border: 1px solid #a83f1f;  background: #7cb800;text-align: center;padding: 8px 10px 8px;color: white;text-decoration: none;
  font-weight: bold;font-size: 13px;line-height: 1;position: relative;cursor: pointer;border: none;outline: none;margin-left: 23px;float:right}
.arrow-up {position:absolute;top:105px;left:125px;width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #8fbe00;}

.arrow-right-coll{width: 0; height: 0; border-top: 10px solid transparent;border-bottom: 10px solid transparent; border-right:10px solid #e9e9e9;position:absolute;top:40px;left:90px;}

/* regioni fix tmp */
.regioniBoxCx img.fL{height:210px}
.regioniBoxCx > div:first-child{margin-bottom:25px !important}
.regioniBoxCx h3 span{float:left;overflow:hidden;color:#fff;background:#c31200;padding:1px 5px 2px 5px;text-transform:uppercase;position:absolute;top:183px;left:0;font-weight:400;font-family:"Roboto Condensed";font-size:16px}
  
/* focus */  
.focus{width:610px;padding:14px 20px 30px 20px;background:#e5e5e5} 
.focusBox{width:610px;}
.focusCnt{width:295px;position:relative}
.focusCnt img{margin-bottom:5px}
.focus h2{width:295px;font-size:32px;font-weight:700;padding-bottom:10px}
.focusCnt h3{width:295px;font-size:20px;line-height:24px;font-weight:normal}
.focusCnt p{width:295px;float:left;line-height:17px}
.sezFocus{float:left;overflow:hidden;color:#fff;background:#c31200;padding:1px 5px 2px 5px;font-size:16px;text-transform:uppercase;position:absolute;bottom:5px;left:0;font-weight:400;font-family:"Roboto Condensed"}
.focus h2{color:#C41200} 
.sezFocus a, .sezFocus a:hover{color:#fff;text-decoration:none}



/* redazionale terza scermata con foto */
.bts h3{width:100%;font-size:16px}
.btsImg{width:162px;margin-right:10px;margin-top:5px}
.bts p{width:140px;float:left;line-height:17px}

/* redazionale terza scermata senza foto */
.btx h3{width:312px;font-size:16px;margin-bottom:5px}  

/* teaser foto 312 */
.tsr h2{width:312px;font-size:14px;margin-bottom:2px}
.tsr h3{width:312px;margin-bottom:4px;font-size:20px;font-weight:normal;line-height:24px}
.tsr img{margin-bottom:3px}

/* teaser special 312 */
.specialPm{width:292px;padding:10px;font-size:14px;}
.specialPm h3{width:292px;margin-bottom:4px;font-size:20px;font-weight:normal;line-height:24px}
.specialPm img{margin-bottom:6px}
.specialPm p img{margin-bottom:0px} 
.specialPm a{color:#fff}
.specialPm p{width:292px;font-size:13px;font-weight:bold;margin-bottom:2px} 
.tsr h2{width:312px;font-size:14px !important;margin-bottom:2px !important;margin-top:0 !important}
.tsr h3{width:312px;margin-bottom:4px;font-size:20px;font-weight:normal;line-height:24px}
.tsr img{margin-bottom:6px} 
.tsr .tsrImage,.bss .tsrImage,.specialPm  .specialPmImage {position:relative}
.tsr .tsrImage span, .bss .tsrImage span{float:left;overflow:hidden;color:#fff;background:#c31200;padding:1px 5px 2px 5px;text-transform:uppercase;position:absolute;bottom:6px;left:0;font-weight:400;font-family:"Roboto Condensed";font-size:16px}
.tsr .tsrImage, .bss .tsrImage span a{color:#fff}
.bss .tsrImage img, .tsr .tsrImage img{margin-bottom:6px}
.specialPm  .specialPmImage span{float:left;overflow:hidden;color:#fff;background:#c31200;padding:1px 5px 2px 5px;text-transform:uppercase;position:absolute;bottom:6px;left:0;font-weight:400;font-family:"Roboto Condensed";font-size:16px}

/* teaser con bordo */
.tsrBorder{width:292px;padding:9px;border:1px solid #dcdcdc;min-height:144px;height:auto !important;height:144px}
.tsrBorder h2{width:292px;font-size:14px;margin-bottom:5px}
.tsrBorder h3{width:292px;font-size:16px;margin-bottom:5px}
.tsrBorder p{float:left;width:292px}
.tsrBorder .othCmm{width:292px;margin-top:4px}

/* oroscopo */
.oroscopo{width:650px;background:url(/v007/img/oroscopo-p.png);min-height:70px;height:auto !important;height:70px;color:#7f499d}
.oroscopo h3{width:107px;padding:27px 0 0 17px;font-size:14px}
.oroscopo .segni{width:526px}
.oroscopo .segni li{width:40px;margin-right:2px;padding-top:20px;float:left}
.oroscopo .segni a{width:40px;display:block;line-height:35px}
.oroscopo .segni a:hover{text-decoration:none}
.oroscopo a{color:#E10087}

/* oroscopo */
.oroscopo_n{width:312px;color:#7f499d}
.oroscopo_v003{width:306px;border:3px solid #e10087;background:url(/v008/img/segni-oroscopo-v2.png) no-repeat 7px 40px;color:#7f499d}
.oroscopo_n h3{width:298;padding:8px 0 0 8px;font-size:16px;font-weight:500;color:#000} 
.oroscopo_n h3 a{color:#000}
.oroscopo_n .segni_n{width:292px;padding:12px 7px 0}
.oroscopo_n .segni_n li{width:48px;margin-bottom:14px;float:left;}
.oroscopo_n .segni_n a{width:48px;display:block;line-height:32px}
.oroscopo_n .segni_n a:hover{text-decoration:none}
.oroscopo_n a{color:#e10087}
.link_oroscopo{width:290px;padding:0px 0 0 8px;font-size:14px;}
.link_oroscopo li{float:left;width:140px;margin-right:5px;margin-bottom:8px}
.lucky_sign{width:292px;padding:10px;background:#e20088;color:#fff}
.lucky_sign_head{width:100%;font-size:16px;margin-bottom:3px}
.lucky_sign_cnt{width:202px;margin-right:20px}
.lucky_sign_day{width:100%;font-size:28px;font-weight:500}
.lucky_sign_img{width:70px}
.lucky_sign a{color:#fff;text-decoration:none}


/* oroscopo */
.oroscopo_n_mud{width:312px;color:#666}
.oroscopo_v004{width:306px;border:3px solid #E5917F;background:url(/v008/img/milleunadonna-oroscopo.png) no-repeat 7px 40px;color:#666}
.oroscopo_n_mud h3{width:298;padding:8px 0 0 8px;font-size:16px;font-weight:500;color:#000} 
.oroscopo_n_mud h3 a{color:#000}
.oroscopo_n_mud .segni_n{width:292px;padding:12px 7px 0}
.oroscopo_n_mud .segni_n li{width:48px;margin-bottom:14px;float:left;}
.oroscopo_n_mud .segni_n a{width:48px;display:block;line-height:32px}
.oroscopo_n_mud .segni_n a:hover{text-decoration:none}
.oroscopo_n_mud a{color:#666}
.oroscopo_n_mud .link_oroscopo{width:290px;padding:0px 0 0 8px;font-size:14px;}
.oroscopo_n_mud .link_oroscopo li{float:left;width:140px;margin-right:5px;margin-bottom:8px}
.oroscopo_n_mud .lucky_sign{width:292px;padding:10px;background:#E5917F;color:#fff}
.oroscopo_n_mud .lucky_sign_head{width:100%;font-size:16px;margin-bottom:3px}
.oroscopo_n_mud .lucky_sign_cnt{width:202px;margin-right:20px}
.oroscopo_n_mud .lucky_sign_day{width:100%;font-size:28px;font-weight:500}
.oroscopo_n_mud .lucky_sign_img{width:70px}
.oroscopo_n_mud .lucky_sign a{color:#fff;text-decoration:none}


/* local */
.local{width:310px;padding:0px 0;border:1px solid #F2F2F2;min-height:593px;background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 59%, rgba(241,241,241,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(59%, rgba(255,255,255,1)), color-stop(100%, rgba(241,241,241,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 59%, rgba(241,241,241,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 59%, rgba(241,241,241,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 59%, rgba(241,241,241,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 59%, rgba(241,241,241,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0 );}
#regionTitle{width:300px;padding:10px 5px 6px 5px;text-align:center}
#regionTitle h3{width:292px;font-size:24px;color:#C41200;font-family: "Roboto Slab"}
#regionTitle h3 a{color:#C41200}
.cRegion{float:right;margin-top:5px;margin-right:10px}
#regionTitle h3 i{font-size:16px}
#localCnt{width:250px;padding:0 30px}
#localCnt li{float:left;width:250px;margin-bottom:11px;text-align:center}
#listaRegioni{width:310px;padding:8px 0 0px 0px;min-height:311px;height:auto !important;height:311px;}
#listaRegioni h3{width:310px;font-size:20px;text-align:center;font-weight:500;margin-bottom:9px;}
#localCnt .lstRegPp{width:250px;text-align:center}
#localCnt .lstRegPp h3{width:250px;margin-top:0;font-size:20px;font-weight:500;margin-top:2px}
#localCnt .lstRegPp img{width:250px;height:168px}
#localCnt .lstRegPp p{float:left;width:250px}
#localCnt h3{width:250px;margin-bottom:0px;padding:10px 0;font-size:16px;font-weight:300;text-align:center;border-bottom:1px solid #e8e8e8}
#localCnt h3 a div:hover{text-decoration:underline}
.regioni_layer{width:310px;}
.regioni_layer ul{float:left;width:146px}
.regioni_layer li{float:left;width:146px;line-height:20px}
#label{width:310px;font-size:18px;font-weight:500;color:#804b9c;text-align:center}
#mappa{width:310px;text-align:center;margin:auto auto;padding:20px 0}
#altreNews{width:250px;padding:0 30px}


/* twitter */
.twitter{min-height:340px;height:auto !important;height:340px}
.twtr-hd{float:none}
.twtr-widget h3,.twtr-tweet-text{float:none !important}
.twtr-tweet{display:block;width:310px !important;clear:both}
.twtr-ft div{width:292px}
.twtr-new-results div{float:none}


/* maxi box link */
.maxi-box{width:312px}
.maxi-box .tit{background:#dcdcdc}
.maxi-box li{float:left;padding:0 10px;background:#e9e9e9;width:292px;line-height:28px;border-top:1px solid #fff}
.maxi-box .casa{background:#e9e9e9 url(/v007/img/el.v006.png) 180px -375px}
.maxi-box .auto{background:#e9e9e9 url(/v007/img/edreams.gif) no-repeat 170px 6px}
.maxi-box .lavoro{background:#e9e9e9 url(/v007/img/el.v006.png) 180px -885px}
.maxi-box .assicurazioni{background:#e9e9e9 url(/v007/img/el.v006.png) 180px -404px}
.maxi-box .incotriConf{background:#e9e9e9 url(/v007/img/el.v006.png) 180px -435px}
.maxi-box .mutui{background:#e9e9e9 url(/v007/img/mutui.gif) no-repeat 180px}
.maxi-box .segugio{background:#e9e9e9 url(/v007/img/segugio.png) no-repeat 170px}
.maxi-box .prestiti{background:#e9e9e9 url(/v007/img/prestiti.gif) no-repeat 180px}
.maxi-box .crociere{background:#e9e9e9 url(/v007/img/crociere.gif) no-repeat 180px}
.maxi-box a{display:block;width:100%}

/* casa */
.casait{width:292px;padding:9px;border:1px solid #DCDCDC;min-height:228px;height:auto !important;height:228px}
.casait h3{width:100%;padding-bottom:10px;background:url(/v007/img/casa-src.png) 210px 0px no-repeat}
.casait h3 span{font-weight:normal}
.casait select{width:117px;margin-top:3px;font-size:13px}
.casa-type select{width:94px}
.maxi-box-src-lib input{width:290px;font-size:13px}

/* video immagini */
.funcool{margin-top:0 !important;padding-top:27px !important}
.video-img h2{font-size:26px;color:#ffec23}
.video-img{width:948px;background:#001216;padding:10px 20px 17px 20px;font-size:14px;min-height:213px;height:auto !important;height:213px}
.video-img div{width:292px;min-height:180px;height:auto !important;height:180px}
.video-img-cx{padding:0 36px}
.video-img-big{border:10px solid #ffec23;margin-bottom:10px}
.video-img a{color:#fff;line-height:24px;font-size:20px;font-weight:normal;}

/* bottoniera finanza*/
.labelG1 li{float:left;text-align:center;line-height:31px}
	.tabFinNb{width:104px}
	.tabFinB{width:103px;margin-left:1px}
	.tabFinActive{font-size:14px;font-weight:normal;background:#fff}
	.tabFinNActive{background:#dcdcdc;font-size:14px;font-weight:500;}
	.tabFinNb.tabFinActive{width:102px !important;border:1px solid #dcdcdc;border-bottom:0;line-height:30px}
	.tabFinB.tabFinActive{width:101px !important;border:1px solid #dcdcdc;border-bottom:0;line-height:30px}
	.tabFin{display:block}
	.tabFin:hover{text-decoration:none}

/* finanza */
.space-label-finanza{float:left;width:28px;border-bottom:1px solid #dedede;line-height:30px !important}
.finanza{width:292px;padding:9px;border:1px solid #DCDCDC;border-top:0;min-height:224px;height:auto !important;height:224px;margin-bottom:26px}
.spMib{font-size:14px;font-weight:500}
.finGraph{height:135px !important;margin-top:8px}
.finGraph img{width:292px;height:120px;}
#finanzaCnt_0,#finanzaCnt_1,#finanzaCnt_2{width:292px;float:none;\float:left;f\loat:none;min-height:185px;height:auto !important;height:185px}
#finanzaCnt_3{width:292px;margin-top:15px;float:none;min-height:60px}
.othFinanza{width:100%;margin-top:10px}
.bkCnt{background:#e9e9e9}
.finanzaGraf{width:110px;margin-top:12px;margin-right:10px}
.finanzaSPMIB{width:172px;margin-top:7px;font-size:11px}
.finanzaSPMIB table{width:172px;float:left;margin:0;padding:0;border:0;border-spacing:0; border-collapse:collapse}
.finanzaSPMIB td{width:76px;margin:0;padding:4px 5px;border-spacing:0}
#finanzaCnt_1 table,#finanzaCnt_2 table{width:292px;float:left;margin:0;padding:0;border:0;border-spacing:0; border-collapse:collapse;font-size:11px}
#finanzaCnt_1 td,#finanzaCnt_2 td{margin:0;padding:6px 5px;border-spacing:0}
#finanzaCnt_3 input{width:286px;min-height:16px;padding:3px 2px;border:1px solid #dcdcdc;font-size:13px;font-family:'roboto';color:#333;margin-bottom:10px}
#finanzaCnt_3 select{width:225px;min-height:22px;margin-right:10px;font-size:13px;font-family:'roboto';color:#333;}

/* meetic */
#MTC{width:310px;border:1px solid #DCDCDC;background:url(/v007/img/cp-meetic.jpg) no-repeat;min-height:272px;height:auto !important;height:272px;margin-bottom:25px}
#MTC h3{float:left;width:301px;font-size:16px;padding:10px 0 0 9px;color:#D33CAC}
.cntMtc{width:195px;padding:70px 20px 0 105px}
#MTC .cntMtc div{width:190px;text-align:right;margin-bottom:10px}
#MTC .wSel{width:131px;margin-left:10px}

#meetic_quad {border: 1px solid #dcdcdc;width: 310px;min-height: 272px;	font: 12px/28px "Helvetica Neue", Helvetica, Arial, sans-serif;	color: #FFFFFF;	background: url("/v007/img/mtc/visual_1215.jpg") repeat scroll 0 0 #080d09;margin-bottom:25px}
#meetic_form {width: 270px;margin: 15px 0 0 15px;}
#meetic_logo {	margin: 0 0 5px;}
#meetic_quad .me-btn:hover { background: #98dc36; /* Old browsers */
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk4ZGMzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2Nzk5MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #98dc36 0%, #679921 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98dc36), color-stop(100%,#679921)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #98dc36 0%,#679921 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #98dc36 0%,#679921 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #98dc36 0%,#679921 100%); /* IE10+ */ background: linear-gradient(to bottom,  #98dc36 0%,#679921 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98dc36', endColorstr='#679921',GradientType=0 ); /* IE6-8 */}
#meetic_quad select {display: inline-block;height:18px;padding: 0;margin-bottom: 4px;font-size: 12px;line-height: 24px;color: #454443;vertical-align: middle;border: 1px solid #dbdbdb;background-color: #fff;width: 90px;}
.selectage {width: 60px !important;}
#meetic_quad .input-mini { width: 40px;}
#meetic_quad label {display: inline-block;width: 60px; font-weight:bold}
#meetic_quad label.age {width: 10px;margin: 0;text-align: center;}
#meetic_quad {border: 1px solid #c4c6c5;}
#meetic_quad .me-btn-submit {float:left; border:1px solid #599800;color:#fff;cursor:pointer;display:block;font-size:16px;font-weight:bold;height:40px; width:150px; margin-top: 15px;-webkit-border-radius: 3px;-moz-border-radius: 3px; border-radius: 3px;    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);   box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);text-shadow: 1px 1px 0px #599800; background: #77cb02; /* Old browsers */
 /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk4ZGMzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjOThkYzM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiM3N2NiMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjc5OTIxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);background: -moz-linear-gradient(top,  #98dc36 0%, #98dc36 2%, #77cb02 3%, #679921 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98dc36), color-stop(2%,#98dc36), color-stop(3%,#77cb02), color-stop(100%,#679921)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #98dc36 0%,#98dc36 2%,#77cb02 3%,#679921 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #98dc36 0%,#98dc36 2%,#77cb02 3%,#679921 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #98dc36 0%,#98dc36 2%,#77cb02 3%,#679921 100%); /* IE10+ */ background: linear-gradient(to bottom,  #98dc36 0%,#98dc36 2%,#77cb02 3%,#679921 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77cb02', endColorstr='#679921',GradientType=0 ); /* IE6-8 */}


/* box video */
.multiLabelVideo{width:312px;background:#333333;min-height:320px;height:auto !important;height:320px}
/*.video{width:300px;border:6px solid #333333;position:relative}*/
.videoNewsBox{width:300px;border:6px solid #333333;position:relative}
.videoImg{width:300px;height:158px;overflow:hidden;text-align:center} 
.tvideo a,.videoCorr a{color:#fff}
.videoPlay{width:300px}
.videoPlay a{float:left;width:300px}
.tvideo{width:300px;padding:6px 0 6px 0px;font-size:16px}	
.videoCorr{width:300px;margin-top:4px;color:#FF0000}
.videoCorr img{margin-right: 5px}

/* social network */
.seguiciPm{width:290px;padding:7px 10px;border:1px solid #dcdcdc;border-bottom:0;min-height:140px;height:auto !important;height:140px}
.seguiciPm h3{float:left;width:100%;font-size:16px;margin-bottom:5px}
.seguiciPm img{margin-right:10px}
.socialNetwork{width:310px;padding:5px 0px 7px 0px;border:1px solid #dcdcdc}
.socialNetwork a:hover,.labelVideo a,.t-fb-active:hover,.t-fb-n-active:hover,.a-active:hover,.a-n-active:hover,.a-active-dx:hover,.a-n-active-dx:hover{text-decoration:none}
.socialNetwork h2{width:301px;padding-left:9px} 
.socialNetwork ul{float:left;width:310px;text-align:center}
.socialNetwork li{float:left;width:62px;font-size:12px}
.socialBox1{background:url(/v007/img/seguici_su_hp_small_v001.png) 0 10px no-repeat}
.socialBox1 a{padding-top:62px;display:block;width:62px}

.socialBox2{background:url(/v007/img/seguici_su_hp_small_v002.png) 0 10px no-repeat}
.socialBox2 a{padding-top:52px;display:block;width:56px}

/* box image */ 
.gallBox_1{padding:22px 56px 0}
.gallBox_5,.gallBox_6{padding:25px 56px 0}
.gallDx{width:200px;margin-bottom:26px;background:#f1f1f1;}
.cntGDx{width:200px;text-align:center;position:relative;margin-bottom:22px !important}
.cntGDx h3{width:200px;font-size:16px;font-weight:500;margin-top:7px}
.bgImagesBox{position:absolute;top:105px;left:5px;text-decoration:none}

/* box videotop */
.videoTop h3, .videoTopBrd h3{width:100%;font-size:16px;font-weight:400}
.videoTopBrd{width:246px;border-right:1px solid #fff;position:relative;overflow:hidden}
.videoTop{width:247px;position:relative}
.videoTopBrd .videosTitle{width:212px}
.videosTitle{width:213px;background-color: rgba(0, 0, 0, 0.5);background: rgba(0, 0, 0, 0.5);color: rgba(0, 0, 0, 0.5);position:absolute;bottom:0;left:0;padding:5px 4px 5px 30px}
.videosTitle a{color:#fff}
.videosBgfoto{background-image:url('/v008/img/gallery18x18.png');background-repeat: no-repeat;background-position: 4px 7px;}
.videosBgvideo{background-image:url('/v008/img/video18x18-01.png');background-repeat: no-repeat;background-position: 4px 7px;}


/* label game v001 */
.tsrGame{width:292px;padding:10px;background:#e9e9e9;min-height:240px;height:auto !important;height:240px}
.tsrGame h2{width:100%;font-size:14px}
.tsrGame h3{width:100%;font-size:16px}
.tsrGame p{width:120px;float:left;line-height:17px}
.tsrGameL{width:292px;padding-top:25px}
.tsrGameL li{float:left;width:73px;text-align:center;font-size:11px}

/* cinema boxoffice */
.boxOffice{width:304px;border:4px solid #EB7E05;background:#e9e9e9}
.boxOffice h2{width:294px;font-size:14px !important;color:#333 !important;padding-left:10px;margin-bottom:10px !important;padding-top:5px}
.linkBoxOffice{width:294px;padding-left:10px;padding-bottom:8px}
.linkBoxOffice,.topBoxOffice li{font-size:12px}
.topBoxOffice{width:284px;margin:0 10px 7px 10px;padding-bottom:9px;border-bottom:1px solid #EB7E05}
.topBoxOffice li{width:284px}
.imgBoxOffice{width:114px;padding:18px 0 18px 0}

/* altri canali */
.altri-canali{width:650px}
.altri-canali img{margin-right:20px}
.altri-canali h2{width:308px;margin:10px 0 5px 0;padding-right:10px}
.altri-canali h3{width:308px;font-size:16px;margin-bottom:3px;padding-right:10px}
.altri-canali p{width:308px;float:left;line-height:17px;padding-right:10px}
.othAltri-canali{width:308px;float:left;margin-top:5px}

/* footer */
.footer{width:988px;background:#fff;padding-top:26px;position:relative;padding-bottom:20px}
.corp{width:988px;padding-top:30px;text-align:right;font-size:12px}
.corpTop{padding-bottom:5px;margin-bottom:5px;border-bottom:1px solid #dcdcdc}
.corpBott{text-align:right}

/* teaser adv */
.tsrAdv{width:290px;padding:8px 10px;border:1px solid #DCDCDC;min-height:72px;height:auto !important;height:72px}
.tsrAdv img{float:left;margin-right:10px;border:1px solid #DCDCDC}
.tsrAdv p{width:290px;display:block;font-size:13px;line-height:16px}

/* da non perdere */
.dannperdere{width:290px;margin-top:25px;padding:5px 10px 4px 10px;border:1px solid #DCDCDC}
.dannperdere .wM{padding:11px 0}
.dannperdere img{float:left;margin-right:10px;border:1px solid #DCDCDC}	
.dannperdere .brd1d{border-bottom:1px dotted #999}

/* banner */
#banner142x120b18,#banner142x120b19,#dotnAd_142x120_b18,#dotnAd_142x120_b19{width:142px;background:#DCDCDC;height:120px;overflow:hidden}
#banner208x64premium{width:188px;padding:10px;height:44px;overflow:hidden}
#banner208x64premium div{width:100%}
#banner208x64premium img{float:left;margin-right:10px}
#banner300x250c20, #dotnAd_300x250_c20,#dotnAd_300x250_r15,.container_b_1{width:300px;background:#DCDCDC;padding:6px;height:250px}
.b600{width:300px;background:#DCDCDC;padding:6px;height:600px}
.space img,.space object,#banner300x250c20 img,#banner300x250c20 object, #dotnAd_300x250_c20 img,.container_b_1 img, .container_b_1 object, #dotnAd_300x250_c20 object, #dotnAd_300x250_r15 img, #dotnAd_300x250_r15 object{float:left !important;font-size:1px !important}
.space img,.space object,#banner300x250c20 img,#banner300x250c20 object, #dotnAd_300x250_c20 img, #dotnAd_300x250_c20 object, #dotnAd_300x250_r15 img, #dotnAd_300x250_r15 object,.b600 img, .b600 object{float:left !important;font-size:1px !important}

/* radio dj */
.dj_cnt{float:left;padding:100px 21px 25px 21px;width:946px;background:url(/v007/img/radiodj/bg_deejay.png) no-repeat}

.onair_dj{float:left;width:292px;min-height:215px;margin-right:35px;position:relative}
.onair_logo{position:absolute;right:0;top:-7px;z-index:1}
.onair_dj_foto{float:left;width:292px;height:153px;overflow:hidden}
.onair_dj_label{background:#fff;dispay:block;padding:1px 5px;color:#d61c0d;font-weight:bold;font-size:12px !important;margin-top:10px}
.onair_dj_cont{float:left;width:272px;padding:0 10px;background:#d61c0d url(/v007/img/diretta_sf_dj.png) bottom;min-height:62px}
.onair_dj_time{float:right;width:272px;color:#fff;font-size:11px;text-align:right;margin-top:8px}
.onair_dj_program{float:left;width:272px;padding:5px 0;font-size:14px;font-weight:bold}
.onair_dj_program a{color:#fff;}

.news_dj{float:left;width:292px;background:#000;min-height:215px;margin-right:35px}
.news_dj_cont{width:272px;padding:10px 10px;}
.news_dj_foto{float:left;width:292px;height:153px;overflow:hidden}
.news_dj_label{background:#fff;font-size:12px;font-weight:bold;float:left;padding:1px 5px;margin-right:5px;text-transform:uppercase}
.news_dj_title{font-size:14px;font-weight:bold;line-height:20px}
.news_dj_title a{color:#fff;}

.charts_dj{float:left;width:272px;padding:0 10px;background:#fff;min-height:215px}
.charts_dj_label{background:#d61c0d;font-size:12px;font-weight:bold;color:#fff;float:left;padding:1px 5px;margin-right:5px;margin-bottom:20px}
.charts_dj_t{width:272px;color:#d61c0d;font-weight:bold;font-size:14px}
.charts_dj_t a{color:#d61c0d}
.charts_dj_label a{color:#fff}
.charts_dj_cont{float:left;width:272px;margin-top:10px}
.charts_dj_list{float:left;width:272px;font-size:13px;font-weight:normal;margin-bottom:15px;min-height:32px}
.charts_dj_pos{float:left;width:20px;margin-right:10px;}
.charts_dj_song{float:left;width:242px;margin-top:-3px;color:#000}
.charts_dj_title{font-weight:bold;font-size:14px}
.charts_dj_song a{color:#000;text-decoration:none}

/* box newsletter */
.dN{display:none}
.mL10{margin-left:10px}
.boxNewsl{width:292px; padding:10px; background:#eee} 
.boxNewslHp{width:292px; padding:10px; margin-bottom:26px; background:#eee}
.titNewsl{width:100%; font:16px Roboto; font-weight:bold; margin-bottom:5px}
.txtNewsl, .selNewsl{width:100%; font:14px Roboto; margin-bottom:10px}
.selNewsl > div{width:100%}
.titInput{margin-right:10px; font:14px Roboto; font-weight:bold}
.newslInput{width:164px; height:20px; border:1px solid #dcdcdc}
.boxWgNewsl{height:30px}
.imgNewsletter{margin:3px 5px 3px 0}
.boxInputWdgNewsl{background:#eee; padding:0 5px} 
.boxRespWdgNewsl{width:131px; height:24px; background:#eee;padding:6px 5px 0; font:13px Roboto}
.inputWdgNewsl{width:110px; height:30px; color:#333; float:left; background:#eee; border:none; font:14px Roboto}
.boxArrowWdgNewsl{padding:8px 5px 9px}
.err{font:12px Roboto; margin:5px 0 0 50px; color:#ff0000}
#submitNB, #submitNS, #submitNA{cursor:pointer}

/* box accesso 312x450 */
.accesso_prd_dx{width:312px;margin-bottom:25px}
.accesso_product_cnt{float:left;width:310px;height:450px;overflow:hidden;border:1px solid #804D9A;text-align:center;margin-bottom:26px;}
.product_accesso_claim{float:left;width:310px;background:#804D9A;color:#FFF;font-size:18px;line-height:25px} 
.product_accesso_br_t{border-top:1px solid #fff}
.product_accesso_br_b{border-bottom:1px solid #fff}
.product_accesso_nbg{border-top:1px solid #EEE;border-bottom:1px solid #EEE;height:125px}
.product_accesso_bg{background:#EEE;height:124px}
.product_accesso{float:left;width:310px;padding-top:16px}
.product_accesso_name{float:left;width:310px;font-size:28px;color:#7F4D9C;font-weight:500}
.product_accesso_sub{float:left;width:310px;font-size:18px;color:#4A4A4A}
.product_accesso_price{float:left;width:310px;color:#7F4D9C}
.product_accesso_price_b{font-size:28px;font-weight:bold}
.product_accesso_price_s{font-size:20px;font-weight:bold}
.product_accesso_price_t{font-size:28px}
.product_accesso_action{float:left;width:310px;color:#439EDF;font-size:20px}

/* accesso 312x450 tis */
.product_accesso_tis{float:left;width:310px;padding-top:32px;height:432px;background:#eee}
.product_accesso_name_tis{float:left;width:310px;font-size:35px;color:#7F4D9C;font-weight:500;margin-bottom:20px}
.product_accesso_sub_tis{float:left;width:310px;font-size:18px;color:#4A4A4A;margin-bottom:20px}
.product_accesso_price_tis{float:left;width:310px;color:#7F4D9C;margin-bottom:20px}
.product_accesso_price_b_tis{font-size:100px;font-weight:bold;line-height:90px}
.product_accesso_price_s_tis{font-size:40px;font-weight:bold;line-height:44px}
.product_accesso_price_t_tis{font-size:18px;line-height:16px}
.product_accesso_action_tis{float:left;width:310px;color:#fff;font-size:20px;-webkit-border-radius: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;background:#439EDF;border:1px solid #439EDF;width:170px;line-height:48px;font-weight:500;margin-left:70px}
.product_accesso_subprice_tis{float:left;width:310px;font-size:28px;color:#7F4D9C;margin-bottom:20px}
.prod_tis_sx{float:left;width:40%;text-align:right}
.prod_tis_dx{float:left;width:50%}
.prod_tis_dx div{float:left;width:100%;text-align:left}

/* topbox accesso */
.store{float:left;width:253px;background:#f5f5f5;text-align:center;min-height:117px}
.store input{border:1px solid #e6e6e8;height:28px;width:220px;padding-left:5px;font-size:13px;font-family:roboto;color:#9b9b9b}
.store button{margin-top:5px;-webkit-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;padding:5px;background:#439EDF;border:1px solid #439EDF;color:#fff;font-size:14px;font-weight:500;font-family:roboto;cursor:pointer}
.store div{float:left;width:100%}
.store-head{font-size:20px;color:#7f4d9c;font-weight:500;margin-bottom:3px;padding-top:10px} 
.action_active{line-height:75px !important}
.topbox_accesso_price{float:left;width:735px;overflow:hidden;height:117px}

