@charset "shift_jis";

/*---------- body #top.tpi ----------*/ 

/* === Cancel Style === */
.rnAllcategoryBox a {text-decoration:none;}
#footer ul li {display:list-item;text-align: left;}
.BgGray1 h3 {background-image:none;padding-left:0;margin-bottom:0;}
#pointBox th {vertical-align:middle;}


/* === HTML5 Elements === */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block;}
audio[controls], canvas, video { display:inline-block;*display:inline;
*zoom:1;
}

#rnTopMainUpperArea{width:654px; height:305px; background:url(/res/img/pc/common/bg_flasharea_s1.gif) no-repeat; position:relative;}
body{background:none #ffffff;}

/* === Base === */
html { font-size:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body { margin:0;font-size:16px;line-height:1.4;text-align:left;}
body, button, input, select, textarea {font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;color:#333333;}
#top{
	width:950px;
	margin: 0 auto;
	text-align:left;
	background-color: #FFFFFF;
}
#top {position:relative;}
#top {font-size: 12px;}
body#top {width:auto;}

/* === Links === */
a { color:#333;text-decoration:none;}
a:visited { color:#333;}
a:focus { outline:thin dotted;}
a:hover, a:active { color:#3366FF;outline:0;text-decoration:underline;}

/* === Typography === */
abbr[title] { border-bottom:1px dotted;}
b, strong { font-weight:bold;}
blockquote { margin:1em 40px;}
dfn { font-style:italic;}
hr { display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins { background:#f42;color:#000;text-decoration:none;}
mark { background:#f42;color:#000;font-style:italic;font-weight:bold;}
pre, code, kbd, samp { font-family:monospace, monospace;_font-family:'courier new', monospace;font-size:1em;}
pre { white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q { quotes:none;}
q:before, q:after { content:"";content:none;}
small { font-size:85%;}
sub, sup { font-size:12px;line-height:0;position:relative;vertical-align:baseline;}
sup { top:-0.5em;}
sub { bottom:-0.25em;}

/* === Lists === */
ul, ol { margin:0;padding:0 0 0 0;list-style:none;}
dd { margin:0;}
nav ul, nav ol { list-style:none;margin:0;padding:0;}

/* === Embedded Content === */
img { border:0;-ms-interpolation-mode:bicubic;vertical-align:bottom;}
svg:not(:root) { overflow:hidden;}

/* === Figures === */
figure { margin:0;}

/* === Forms === */
form { margin:0;}
fieldset { border:0;margin:0;padding:0;}
legend { border:0;*margin-left:-7px;spadding:0;}
label { cursor:pointer;}
button, input, select, textarea { font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button, input { line-height:normal;*overflow:visible;}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"], input[type="radio"] { box-sizing:border-box;}
input[type="search"] { -moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;padding:0;}
textarea { overflow:auto;vertical-align:top;}
input:valid, textarea:valid {}
input:invalid, textarea:invalid {background-color:#f0dddd;}

/* === Table === */
table { border-collapse:collapse;border-spacing:0;}

/* === Non-semantic helper classes ==== */
.ir { display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br { display:none;}
.hidden { display:none !important;visibility:hidden;}
.visuallyhidden { border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible { visibility:hidden;}
.clearfix:before, .clearfix:after { content:"";display:table;}
.clearfix:after { clear:both;}
.clearfix { zoom:1;}

/* === XXXX === */
h1,h2,h3,h4,p {margin:0;padding:0;}
*{ letter-spacing: 0 }
.lsp {letter-spacing:-0.12em;}

/*link*/
.bannerSec a:hover img ,
.mallBannerBox a:hover img {opacity:0.5;filter:alpha(opacity=50);-ms-filter: "alpha( opacity=50 )";}

/*----------- content layout ----------*/

#contentsWrapper {width:950px;background:#FFF;margin:0 auto;position:relative;}

/*----------- General purpose ----------*/
.sec {margin-bottom:15px;}
.sec.bgg {border:1px solid #F1EEE7;background:#F8F8F0;padding:14px;}

.newIco1{width:24px;height:12px;}
