.ddsmoothmenu-v ul{
margin: 0;
padding: 0;
width: 210px; /* Main Menu Item widths */
list-style-type: none;
}
.ddsmoothmenu-v ul ul {font-size:100%;min-width: 250px !important;} 
.ddsmoothmenu-v ul li{
position: relative;
margin-bottom:4px;
}
.ddsmoothmenu-v ul li li{
margin-bottom:0px;
}
/* Top level menu links style */
.ddsmoothmenu-v ul li a{
display: block;
/*force hasLayout in IE7 */
text-decoration: none;
padding:9px 6px;
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
background: #F8F8F0 url(../../img/y2k13/ic_arrow01.gif) 14px center no-repeat; /*background of menu items (default state)*/
padding-left:24px;
}
.ddsmoothmenu-v ul li li a:link {background: #F8F8F0 url(../../img/y2k13/ic_arrow01.gif) 14px center no-repeat;}

.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #D9D9D9 url(../../img/y2k13/ic_arrow01.gif) 14px center no-repeat;; 

}

.ddsmoothmenu-v ul li a:hover {
background: #D9D9D9 url(../../img/y2k13/ic_arrow01.gif) 14px center no-repeat;/*background of menu items during onmouseover (hover state)*/
}
.ddsmoothmenu-v ul li li a:hover {background: #D9D9D9 url(../../img/y2k13/ic_arrow01.gif) 14px center no-repeat;}



/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
position: absolute;
width: 210px; /*Sub Menu Items width */
top: 0;
font-weight: normal;
visibility: hidden;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */



/* 左カラム　メニューバックグラウンド　グレー */

.ddsmoothmenu-v_02 ul{
margin: 0;
padding: 0;
width: 210px; /* Main Menu Item widths */
list-style-type: none;
}
.ddsmoothmenu-v_02 ul ul {font-size:100%;min-width: 250px !important;} 
.ddsmoothmenu-v_02 ul li{
position: relative;
margin-bottom:4px;
}
.ddsmoothmenu-v_02 ul li li{
margin-bottom:0px;
}
/* Top level menu links style */
.ddsmoothmenu-v_02 ul li a{
display: block;
/*force hasLayout in IE7 */
text-decoration: none;
padding:9px 6px;
}

.ddsmoothmenu-v_02 ul li a:link, .ddsmoothmenu-v_02 ul li a:visited, .ddsmoothmenu-v_02 ul li a:active{
background: #f7f7ef url(/pc/common/img/pc/ic_arrow01_s.gif) 14px center no-repeat; /*background of menu items (default state)*/
padding-left:24px;
}
.ddsmoothmenu-v_02 ul li li a:link {background: #D9D9D9 14px center no-repeat;}

.ddsmoothmenu-v_02 ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #D9D9D9 url(/pc/common/img/pc/ic_arrow01_s.gif) 14px center no-repeat;; 

}

.ddsmoothmenu-v_02 ul li a:hover {
background: #D9D9D9 url(/pc/common/img/pc/ic_arrow01_s.gif) 14px center no-repeat;/*background of menu items during onmouseover (hover state)*/
}
.ddsmoothmenu-v_02 ul li li a:hover {background: #bebebe 14px center no-repeat;}



/*Sub level menu items */
.ddsmoothmenu-v_02 ul li ul{
position: absolute;
width: 210px; /*Sub Menu Items width */
top: 0;
font-weight: normal;
visibility: hidden;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v_02 ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v_02 ul li a { height: 1%; }
/* End */