@charset='shift_jis';

/*header
------------------------------------------------------------------------------------------------*/
#siteid {float:left;margin-top:0;margin-left:0;position:absolute;top:22px;left:0; padding-bottom:5px; padding:0; height:33px; width:342px;}



*:first-child+html #siteid h1 {
padding:-10px;
}

#header { border-bottom:1px solid #B3B3B3; padding:0;}
#header .inner {height:130px;width:960px;clear:both;background:#FFF; padding:8px 0 0;margin:0 auto;position:relative;}
#gnav { text-align:right;float:right;display:inline;clear:right;margin-top:5px;}
#header .inner #gnav li { display:inline;float:left;margin-left:10px;font-size:10px;_text-align:left;}
#gnav li.itemlogin { text-align:right;}


#loginMenu {float:right;line-height:1.4;text-align:right;}
#loginMenu li {font-size:12px;display: inline-block;/**/*display: inline;*zoom: 1;/**/padding-left:2px;margin-left:4px;margin-top:2px;margin-bottom:3px;border-left:0px dotted #B7B7B7;text-align:right;}
#loginMenu li a {line-height:1;color:#3B73BD;text-decoration:none;}
#loginMenu li.item01 {padding:0;margin:0;border:none;vertical-align:text-top;}
#loginMenu li.item02 a {padding-left:3px;}
#loginMenu li.item03 a {}
#loginMenu li.item04 a {padding-left:3px;}

#logoutMenu {float:right;}
#logoutMenu ul {line-height:1;}
#logoutMenu li {font-size:12px;}
#logoutMenu li a {line-height:1;color:#3B73BD;}
#logoutMenu li.item01 a {background:url(/res/img/pc/common/ic_arrow05.gif) left center no-repeat;padding-left:10px;}


#menuList li {float:left;font-size:12px;margin-left:13px;}
#menuList li a {line-height:1;}
#menuList {position:absolute;bottom:7px;right:0;height:26px;width:500px;}


.switch li {float:left;font-size:12px;margin-right:9px;}
.switch li a {line-height:1;display:block;width:142px;height:39px;}
.tpi .switch li.item01 a {background:url(/res/img/pc/common/switch_tpi_cr.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.tpi .switch li.item02 a {background:url(/res/img/pc/common/switch_tci.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.tpi .switch li.item03 a {background:url(/res/img/pc/common/switch_tmi.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.tci .switch li.item01 a {background:url(/res/img/pc/common/switch_tpi.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.tci .switch li.item02 a {background:url(/res/img/pc/common/switch_tci_cr.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.tci .switch li.item03 a {background:url(/res/img/pc/common/switch_tmi.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}

.tmi .switch li.item01 a {background:url(/res/img/pc/common/switch_tpi.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.tmi .switch li.item02 a {background:url(/res/img/pc/common/switch_tci.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.tmi .switch li.item03 a {background:url(/res/img/pc/common/switch_tmi_cr.gif) 0 0 no-repeat;text-indent: 100%;white-space: nowrap;overflow: hidden;}


.switch {position:absolute;bottom:-1px;left:10px;}

/* tpoint */
.tpi .type_tpi {display:block;}
.tpi .type_tci {display:none;}
.tpi .type_tmi {display:none;}
/* tcard */
.tci .type_tpi {display:none;}
.tci .type_tci {display:block;}
.tci .type_tmi {display:none;}
/* tmoney */
.tmi .type_tpi {display:none;}
.tmi .type_tci {display:none;}
.tmi .type_tmi {display:block;}


.headerBanner {position:absolute;top:45px;right:0px; padding-bottom:5px;}
.headerBannerpark {position:absolute;top:45px;right:0px; padding-bottom:5px;}
/*nav
------------------------------------------------------------------------------------------------*/
#nav > ul > li > ul,#nav > ul > li > ul.w1 {width:238px;}
#nav > ul > li > ul.w2 {width:476px;}
#nav > ul > li > ul.w3 {width:714px;}
#nav > ul > li > ul.w4 {width:952px;}
#nav li {float:left;font-size:11px;}
#nav li a {line-height:1;padding-right:0 !important;}
#nav {margin-bottom:8px;}
.exArea {margin-bottom:8px;text-align:center;}
.exArea p a img{ }
#nav li ul {/*display:none;*/}
#nav > ul > li {position:relative;z-index:500 !important;}
#nav > ul > li > ul {padding: 0px;position: absolute;top: 39px;left: 0;display: none;background: #F2F2F2;}
#nav > ul > li > ul > li {width:inherit;position:static;display:block;}
#nav > ul > li > ul > li > ul  {width:237px;margin-top: 0px;float:left;background:#F2F2F2;display: block !important;}
#nav > ul > li > ul > li > ul > li {width:237px;display:block;margin-right: 0;}
#nav > ul > li > ul > li > ul > li > a {padding-left: 25px;background: url(/res/img/pc/common/ic_arrow04.gif) 10px center no-repeat;}
#nav > ul > li > ul > li > ul > li > ul {width:237px;position:relative;left:0 !important;display: block !important;}
#nav > ul > li > ul > li > ul > li > ul > li {float:none;}
#nav > ul > li > ul > li > ul > li > ul > li > a {padding-left: 25px;background: url(/res/img/pc/common/ic_arrow01.gif) 10px center no-repeat;} 

#nav > ul > li > ul > li a {padding:9px;display: block;}
#nav > ul > li > ul > li a:hover {background-color:#D9D9D9;}

#nav > ul > li#nav_stock > ul, #nav > ul > li#nav_stock > ul:before {}
#nav > ul > li#nav_use > ul, #nav > ul > li#nav_use > ul:before {}
#nav > ul > li#nav_search > ul, #nav > ul > li#nav_search > ul:before {}
#nav > ul > li#nav_personal > ul, #nav > ul > li#nav_personal > ul:before {}
#nav .drop_ic_ngr_wrap {width:253px;}
#nav .ic_ngr a {
  padding-left: 25px;
  background: url(/res/img/pc/common/ic_nakaguro.png) 10px center no-repeat;
  width:228px;
  display:block;
}

#nav_stock {}
#nav_use {}
#nav_search {}
#nav_personal {}
.selected ul..selected ul li {display:block !important;}
.grand {width: 1020px;}

/*新しいロゴ変更の為追加　ヘッダ部刁E*/

#new_header{
	margin:5px auto 2px;
	width:950px;
	height:82px;
	text-align:left;
}

#new_header .left_box {
   display:block;
}

#new_header .left_box ul{
	padding-left:0;
	margin:0;
}


#new_header .left_box li{
	display:block;
	margin-top:20px;
	list-style-type:none;
	float:left;
}



.announcement_box {
	padding:3px;
	font-weight:bold;
	font-size:12px;
	margin-left:12px;
	margin-top:3px;
	line-height:1.5em;
}



.announcement_box a{
	color:#333;
	text-decoration: none;
	font-weight:normal;
}

.announcement_box a:hover {
	color:#36F;
	text-decoration: none;
}


.right_box {
	width:300px;
	float:right;
	margin-top:0;
	padding-top:0;
}

.right_box #new_loginMenu{
	width:315px;	
	margin-top:0;
	padding-top:0;
	height:32px;
}

.right_box #new_loginMenu ul{
	padding-top:0;
	margin-top:0;
	padding-bottom:2px;
	padding-right:0;
}

.right_box #new_loginMenu li{
	display:block;
	list-style-type:none;
	float:right;
	font-weight:bold;
	margin-top:7px;
	margin-bottom:0;
	text-align:right;
}

.right_box #new_loginMenu li a{
	text-decoration:none;
	color:#333;
}

.right_box #new_loginMenu li a:hover{
	color:#3366FF;
	text-decoration: none;
}
	
.right_box #new_loginMenu li.item01 {
	padding:3px;
}

.right_box #new_loginMenu li.item02 {
	margin-left:3px;
	padding:3px;
	margin-left: 8px;
}

.right_box #new_loginMenu li.item03 {
	margin-top:0;
	margin-left:15px;
	padding-top:0;
	padding-right:0;
	text-align:right;
}

.img_01 {
	width:315px;
	text-align:right;
}

/*---------- Add 2016 ----------*/
/*---------- special_info ----------*/
.special_info01{
	position:absolute;
	top:20px; left:362px;
}
.special_info02{
	position:absolute;
	top:30px;
	left:362px;
}
.special_info01 .cntArea01, .special_info02 .cntArea01{text-align: left;}
.special_info01 .cntArea02, .special_info02 .cntArea02{text-align: center;}
.special_info01 .cntArea02 a img, .special_info02 .cntArea02 a img{width: 325px; height: 48px;}
.special_info01 .cntArea01 a img{ width: 300px; height: 60px;}
.special_info01 .cntArea01 span.txtBld, .special_info02 .cntArea01 span.txtBld{font-weight:bold;}
.special_info01 .cntArea01 p.txtclRed, .special_info02 .cntArea01 p.txtclRed{color:#ff0000;}
.txtundlnRed{text-decoration:underline;color:#ff0000;}
.txtundlnBlue{text-decoration:underline;color:#3366FF;}
.txtBldRed{font-weight:bold;color:#ff0000;}
/*---------- //special_info ----------*/

/*---------- pc_special_bnr ----------*/
.pcSpbnr{ }
/*---------- //pc_special_bnr ----------*/

.headerBannerpark a img, .headerBanner a img{width: 260px;height: 38px;}
.item02 a img{width: 103px; height: 30px;}
.item02 a img.faqBtn{width: 104px; height: 26px;}
.item03 a img.guideBtn{width: 92px; height: 26px;}
.item04 a img.entryBtn{width: 115px; height: 26px;}
.procedureBtn{width: 133px; height: 26px;}
.tstockBtn, .tpersonalBtn{width: 238px; height: 39px;}
.tuseBtn, .tsearchBtn{width: 237px; height: 39px;}
.taboutBtn{width: 238px; height: 39px;}
.tbalanceBtn, .tgiftBtn, .tcampaignBtn{width: 237px; height: 39px;}