@charset "shift_jis";

/*---------- MainAreaContents ----------*/
/*
------------------------------------------------------------------------------------------------*/
#leftWrapper h3,
#serviceMenuColumn h3 {font-weight:normal;font-size:12px;color:#333333;background:url(/res/img/pc/common/bg_til.jpg) left center no-repeat;background-size:12px;line-height:1.4;padding-left:14px;margin-bottom:7px;}
#MainContentsArea h3 {background-image:none;padding-left:0;font-weight: bold;}

/*Left Column
------------------------------------------------------------------------------------------------*/
/*recentlyAdded
 ============================================================*/
#recentlyAdded.sec.bgg {padding:5px;}
#recentlyAdded.sec.bgg .secInner{padding:8px;}
#recentlyAdded .item.first {margin-top:0px;padding-top:0px;border-top:none;}
#recentlyAdded .item {margin-top:8px;padding-top:8px;border-top:1px dotted #BFBFBF; border-collapse: separate;}
#recentlyAdded .item .figure {width:70px;}
#recentlyAdded .item .text {font-size:10px;vertical-align: middle;}

/*serviceMenuColumn
 ============================================================*/
#serviceList ul li ul { display:none;background:#d6f2ff;}
#allianceList ul li ul { display:none;background:#F8F8F0;padding-bottom:0;}
#serviceMenuColumn #allianceList h4 {border-top:1px dotted #B3B3B3; padding-top:15px; margin-top:15px; margin-bottom:10px;}
#serviceMenuColumn #allianceList h4.first {margin-top:5px;}
#serviceMenuColumn #allianceList p.linkArrow {text-align:right;}
#serviceMenuColumn #allianceList p.linkArrow a {padding-left: 7px; font-size: 10px; background: url(/res/img/pc/common/ic_arrow.gif) no-repeat left 0.4em;}
#slbn p {display:none;}


/*Center
------------------------------------------------------------------------------------------------*/
#indexContainer a {text-decoration:none;}

/*センターカラム
------------------------------------------------------------------------------------------------*/
#indexContainer .text a {text-decoration:underline;}
#indexContainer h3 {background:none; padding-left:0;line-height: 1.4;}
#indexContainer .contents_box h3 {padding:15px 0 15px 5px; border-top:1px solid #464646; border-bottom:2px solid #F2F1EC; font-size:87.5%; font-weight:bold; margin-bottom:15px;}
#indexContainer .innerHeader {position:relative;}
#indexContainer .innerHeader .link03 {position:absolute; top:21px; right:10px; font-size:10px;}
#indexContainer .innerHeader .link03 a {background:url(/res/img/pc/common/ic_arrow.gif) left center no-repeat; padding-left:7px;}
#indexContainer .innerHeader .tmh2t {position:absolute; top:19px; left:7em; font-size:10px;}
#indexContainer .innerHeader .tmh3t {position:absolute; top:19px; left:11em; font-size:10px;}

/*basicInformation
 ============================================================*/
.basicInformationTitle{ font-size: 12px;padding-bottom: 7px;font-weight: normal; }
.basicInformation {background:#F8F8F0; border: 1px solid #F1EEE7; padding:8px 0 0 13px; margin-bottom:15px;}
.basicInformation li {float:left; display:inline; margin-right:7px; margin-bottom:7px;}
.basicInformation li a {line-height:1;width:137px;height:68px;display:block;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.txtBanner {clear:both;font-size:11px;background:#F8F8F0; padding:0px; margin-bottom:15px;}
.txtBanner li {float:left; width:215px; padding:0 5px;font-size:11px;}
.txtBanner li a {background:url(/res/img/pc/common/ic_arrow.gif) left center no-repeat; padding-left:7px; text-decoration:none;}
.basicInformation li a span {display:none;}
.basicInformation li.item01 a {background:url(/res/img/pc/top/btn_tptc_item01.jpg) 0 0 no-repeat;}
.basicInformation li.item01 a:hover {background:url(/res/img/pc/top/btn_tptc_item01_on.jpg) 0 0 no-repeat;}
.basicInformation li.item02 a {background:url(/res/img/pc/top/btn_tptc_item02.jpg) 0 0 no-repeat;}
.basicInformation li.item02 a:hover {background:url(/res/img/pc/top/btn_tptc_item02_on.jpg) 0 0 no-repeat;}
.basicInformation li.item03 a {background:url(/res/img/pc/top/btn_tptc_item03.jpg) 0 0 no-repeat;}
.basicInformation li.item03 a:hover {background:url(/res/img/pc/top/btn_tptc_item03_on.jpg) 0 0 no-repeat;}
.basicInformation li.item04 a {background:url(/res/img/pc/top/btn_tptc_item04.jpg) 0 0 no-repeat;}
.basicInformation li.item04 a:hover {background:url(/res/img/pc/top/btn_tptc_item04_on.jpg) 0 0 no-repeat;}
.basicInformation li.item05 a {background:url(/res/img/pc/top/btn_tptc_item05.jpg) 0 0 no-repeat;}
.basicInformation li.item05 a:hover {background:url(/res/img/pc/top/btn_tptc_item05_on.jpg) 0 0 no-repeat;}
.basicInformation li.item06 a {background:url(/res/img/pc/top/btn_tptc_item06.jpg) 0 0 no-repeat;}
.basicInformation li.item06 a:hover {background:url(/res/img/pc/top/btn_tptc_item06_on.jpg) 0 0 no-repeat;}

/*bannerSec
============================================================*/
.bannerSec {margin-bottom:25px;}
.bannerSec li {float:left; display:inline; margin:0 6px 5px 0;}
.bannerSec li.first {margin-top:0;}
.bannerSec li.last {margin-right:0;}
.bannerSec li a {line-height:1;}

.bannerSec li.first img {width:450px;height:150px;}
.bannerSec li img {width:146px;height:70px;}

#mallBannerImages p.first {margin-bottom:10px;}
#mallBannerImages img {width:450px;}

/*affair
============================================================*/
.affairImg{ width: 450px; height: 45px; }

/*campaign
============================================================*/
#campaign {margin-bottom:25px;}
#campaign dl {float:left; display:inline; font-size:11px; margin:0;width:220px;}
#campaign dl.first,
#campaign dl.box1,
#campaign dl.box3 {margin-right:10px;}

#campaign dl.box1,
#campaign dl.box2,
#campaign dl.bdBottom {border-bottom:2px solid #E3E3E3; margin-bottom:20px; padding-bottom:20px;}
#campaign dt.img {float:left; width:65px; margin-bottom:5px;}
#campaign dt.img a {width:65px;height:48px;display:block;}
#campaign dt.img a:hover {border: 0px solid #8099E6;}
#campaign dd.text {float:right; width:145px; margin-bottom:5px;}
#campaign dd.period {clear:both; margin-top:5px; background:#F8F8F0; text-align:center; padding:3px 0;}

/*exchange
============================================================*/
#exchange {margin-bottom:25px;}
#exchange .leftBox {float:left; border-right:1px dotted #BABABA;padding-right: 7px !important;margin-right:8px;}
#exchange .rightBox {float:left;width: 218px !important;}
#exchange .leftBox, #exchange .rightBox {width:215px;  padding:5px 0;}
#exchange .img {width:90px; float:left;margin-right:5px;display:inline;}
#exchange .txtArea {width:120px; float:right;}
#exchange .txtArea p {margin-bottom:5px;}
#exchange .ttl {font-weight:bold; font-size:12px;}
#exchange .sub {font-size:10px;}
#exchange .point {background:url(/res/img/pc/top/ic_exchange.gif) left center no-repeat; padding-left:38px;color:#FF0032; font-weight:bold;height:20px;line-height:20px;}
#exchange .point .fsizeS {font-size:10px; color:#333333;}
#exchange .leftBox img, #exchange .rightBox img{ width: 88px;height: 88px; }

#exchange .gapporuSpace img{ height: 9px;}


/*exchange 新しいアイコン=========================*/
#exchange .point0 {background:url(/res/img/pc/top/ic_pc_chusen.gif) left center no-repeat; padding-left:26px;color:#FF0032; font-weight:bold;height:18px;line-height:20px;}

#exchange .point01 {background:url(/res/img/pc/top/ic_pc_tpoint.gif) left center no-repeat; padding-left:26px;color:#FF0032; font-weight:bold;height:18px;line-height:20px;}

#exchange .point02 {background:url(/res/img/pc/top/ic_pc_coin.gif) left center no-repeat; padding-left:26px;color:#FF0032; font-weight:bold;height:18px;line-height:20px;}


#exchange .point01 .fsizeS {font-size:10px; color:#333333;}
#exchange .point02  .fsizeS {font-size:10px; color:#333333;}

#exchange .ttl2 {font-weight:bold; font-size:12px; padding-left:15px; padding-bottom:3px; text-align:center;}

/** T-MALL **/
.tipped {color:#ccc;} /** ウォーターマーク **/

#indexContainer .contents_box .search {background:#EBE9E2; padding:10px 0;position:relative;z-index:10;/**/display:inline-block;*display:inline;*zoom:1;/**/ margin-bottom:20px;}
#indexContainer .contents_box .search .shoplistlink {position:absolute; top:18px; right:10px;}
#indexContainer .contents_box .search .shoplistlink a {padding-left:7px;background:url(/res/img/pc/common/ic_arrow.gif) left center no-repeat; font-size:10px;}
#indexContainer .addition {padding:0 10px; text-align:left;width:430px;}
#indexContainer .addition .txt {font-size:10px;line-height:1.4;}

#total_search_frm input {margin-right:3px;vertical-align:middle;}
.watermark {width:175px;border:medium none;margin:3px 0 3px 35px; font-size:12px;}
input#searchsubmit {left:-1000000em;position:absolute;z-index:10;top:-1000em;}
#searchBox {background:url(/res/img/pc/top/bg_searchbox.gif) left center no-repeat;width:260px;height:27px;z-index:10;}

#tmslider .search {margin-top:0;}

#tmslider #indexContainer .contents_box .search {padding-top: 5px;}

/*tmall
============================================================*/
#tmall .innerHeader h3 {margin-bottom:0;}
#indexContainer #tmall.contents_box h4 {font-size:87.5%; padding-top:0; margin-bottom:10px;}
.mallCategoryBox {margin-bottom:40px;}
.mallCategoryBox a {font-size:12px;}

/*mallBannerBox
============================================================*/
/** ポイントモール PC **/
#indexContainer.mainColumn div#tmslider .search {margin-bottom: 10px !important;}
.mallBannerBox {border-bottom: 1px dotted #CCC; margin-bottom:10px;}
.mallBannerBox.last {border-bottom: none;}
.mallBannerBox p {font-size: 10px;}


.mallBannerBox .mallBannerItem {width: 120px; float: left; display: inline;	margin-right: 45px; padding-bottom: 10px;text-align: center;}
.mallBannerBox .mallBannerItem.last {margin-right: 0px !important;}
.mallBannerBox.last .mallBannerItem {padding-top: 5px;}

.mallBannerItem p a img{ width:120px; height: 60px;}

/** 人気カテゴリ **/

.mallCategoryBox li {width:210px; float:left; display:inline; font-size:10px;background:#F8F8F0; padding:4px; margin-bottom:4px;}
.mallCategoryBox li.first {margin-right:4px;}
.mallCategoryBox li a {background:url(/res/img/pc/common/ic_arrow01.gif) no-repeat left 0.4em; padding-left:7px;}

.mallRandomBox {margin-bottom:25px;}

/*----------- Add 2016 ----------*/
.guideTtl{font-size: 12px;padding-bottom: 7px;font-weight: normal;}
.figure img{ width: 86px; height: 66px; }
#allianceList h4 .ttlImg00, #allianceList h4 .ttlImg01{ width: 176px; height: 29px; }
#allianceList h4 .ttlImg02{ width: 128px; height: 22px; }
