@charset "shift_jis";

/*左カラム
------------------------------------------------------------------------------------------------*/
#serviceMenuColumn { width:210px;float:left;display:inline; margin-bottom:60px;}

 /* IE6 */div.vertical_box p {  _display: inline;  _zoom: 1;}
 /* IE7 */*:first-child+html div.vertical_box p {  display: inline;  zoom: 1;}


/*センターカラム
------------------------------------------------------------------------------------------------*/
#leftContainer { width: 680px; display:inline; float:left; margin-top:5px; }
#container { width:250px;display:inline;float:right;margin-top:5px;}
#indexContainer { width:450px;float:right;display:inline;}


/*=====================================================
old style soso
========================================================*/
body#top {width:auto;} 
#top {font-size: 12px;}
#top.y2 h2 {}
#top .CommonExplanation3 {margin:0;}
#top  #CommonStaticTextArea {margin: 15px 0;}
#top #MainStaticArea {width:680px;margin:0;}
#top #CommonStaticTextArea {margin: 15px 0;}
#MainFormArea,
#MainContentsArea {font-size:12px;width:680px;margin:0 0 15px;float:left;}

#rallyaboutInner {margin-left:0;width:auto;}
/* Link */
#content a,
#MainContentsArea a ,
#MainStaticArea a:link,#MainStaticArea a:visited,
#yjContents a:link,#yjContents a:visited,
.howtoNav a:link,.howtoNav a:visited,
.exLink a:link,.exLink a:visited,
#MainFormArea a:link,#MainFormArea a:visited	{color:#3366FF;	text-decoration:none;}
#content a:hover,
#MainContentsArea a:hover ,
#MainStaticArea a:hover,
#MainFormArea a:hover,
#yjContents a:hover ,
.exLink a:hover ,
.howtoNav a:hover{color:#3366FF;text-decoration: underline;}


/*nav*/
.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}
.mega-hover ul,.mega-hover ul li {display:block !important;z-index:999;}
a.nolink:link,a.nolink:hover {color: #333;text-decoration:none;}
