@charset "utf-8";
/* start网站首页样式表 */
body {width:100%;height:auto;font-family: "宋体";font-size: 12px;line-height: 20px;color:#1C4586;font-weight: normal;text-align:center;margin:10px 0px 0px 0px;}
.yd{width:960px;margin:0 auto;background:#fff;}
a{text-decoration:none;/*blr:expression(this.onFocus=this.blur());*/font-size:14px;line-height:25px;}
a:link{color:#1C4586;}
a:visited{color:#1C4586;}
a:hover,a:active,a:focus{color:#f00;}
.bigzt{font-size:14px;line-height:25px;}
a.bigzt:link{color:#1C3D70;text-decoration:none;}
a.bigzt:visited{color:#1C3D70;text-decoration:none;}
a.bigzt:hover{color:#1C3D70;text-decoration:none;}
.12zt{font-size:12px;line-height:20px;}
a.12zt:link{color:#1C3D70;text-decoration:none;}
a.12zt:visited{color:#1C3D70;text-decoration:none;}
a.12zt:hover{color:#1C3D70;text-decoration:none;}
ul{margin:0px}
a.left_zt5:link{color:#FFFFFF;font-size:12px;text-decoration:none;}
a.left_zt5:visited{color:#FFFFFF;font-size:12px;text-decoration:none;}
a.left_zt5:hover{color:#ff0000;font-size:12px;text-decoration:none;}
a.bq_zt:link{color:#1C4586;font-size:12px;text-decoration:none;}
a.bq_zt:visited{color:#1C4586;font-size:12px;text-decoration:none;}
a.bq_zt:hover{color:#FFFFFF;font-size:14px;text-decoration:none;}
.main{width:960px;margin:0px auto;}
.left{width:740px;float:left;margin:0;}
.left_01{width:740px;float:left;margin:0 auto 0;}
.left_01_1{width:300px;float:left;}
.left_01_1_1{width:298px;border:1px solid #C1D7DE;margin-top:10px;}
.left_logo_01{width:298px;border:1px solid #C1D7DE;margin-top:10px; height:70px;}
.left_01_1_1_1{width:288px;background-image:url(../images/home/main_zmh_left_01_1_1_bg.gif);border-bottom:1px solid #C1D7DE;height:20px;text-align:left;font-weight:bold;padding-top:2px;color:#1C4586;padding-left:10px;font-size:14px; line-height:20px;}
.left_01_1_1_2{width:290px;margin:0px auto; height:130px;}
.left_01_1_1_2_pp{width:290px;text-align:left;clear:both;}
.left_01_1_1_21{width:285px;height:186px;margin-top:5px;clear:both;margin-left:1px;}
.left_01_1_1_3{width:298px;background-image:url(../images/home/main_zmh_left_01_1_1_bg.gif);height:22px;_height:20px;border-bottom:1px solid #C1D7DE;}
.left_01_1_1_3_1{width:100px;height:20px;_height:17px;background-image:url(../images/home/main_zmh_left_01_1_2_bg.gif);padding-top:3px;font-weight:bold;text-align:center;font-size:14px;float:left;border-right:1px solid #CCCCCC;cursor:pointer;}
.left_01_1_1_3_2{width:100px;*height:20px;_height:17px;padding-top:3px;text-align:center;font-size:14px;float:left;border-right:1px solid #CCCCCC;cursor:pointer;}
.left_zt{font-family:"宋体";font-size:14px;float:left;font-weight:bold;color:#D25C02;}
.left_01_2_focus{width:429px;margin:0px 0 0 0;float:right;clear:none;}
.left_01_2{width:429px;margin:10px 0 0 0;float:right;clear:none;}
.left_01_21{width:427px;border:1px solid #C4D7DE;margin-top:10px;float:right;clear:none;}
.left_01_21_1{width:415px;margin:6px auto;}
.left_01_21_2{width:415px;margin:0 auto;padding-bottom:6px;}
.left_01_21_2_1{width:205px;float:left;font-size:12px;}
.left_01_21_2_2{width:205px;float:right;font-size:12px;}
.left_01_22{width:427px;border:1px solid #C4D7DE;margin:10px auto 0;float:right;clear:none;}
.left_01_22_1{width:425px;height:29px;background-image:url(../images/home/main_zmh_left_01_22_bg.gif);background-repeat:repeat;}
.left_01_22_luntan{width:415px;background-image:url(../images/home/main_zmh_left_01_1_1_bg.gif);border-bottom:1px solid #C4D7DE;height:20px;text-align:left;font-weight:bold;padding-top:2px;color:#1C4586;padding-left:10px;font-size:14px; line-height:20px;}
.left_01_22_1_1{width:53px;white-space:nowrap;height:29px;background:url(../images/home/main_zmh_left_01_22_bg1.gif) center no-repeat;float:left;text-align:center;font-size:14px;color:#FFFFFF;font-weight:bold;cursor:pointer;}
.left_01_22_1_2{width:53px;float:left;height:27px;font-size:12px;text-align:center;padding-top:2px;background:url(../images/home/main_zmh_left_01_22_sx.gif) right no-repeat;}
.left_01_22_1_3{width:90px;padding-left:5px;padding-right:5px; white-space:nowrap;height:29px;background:url(../images/home/main_zmh_left_01_22_bg1.gif) center no-repeat;float:left;text-align:center;font-size:14px;color:#FFFFFF;font-weight:bold; cursor:pointer;}
.left_01_22_1_4{width:80px;padding-left:5px;padding-right:5px;float:left;height:27px;font-size:12px;text-align:center;background:url(../images/home/main_zmh_left_01_22_sx.gif) right no-repeat;}
.left_01_22_1_2_1{width:50px;padding-left:10px;padding-right:10px;float:left;height:27px;font-size:12px;text-align:center;padding-top:2px;}
.left_01_22_2{width:425px;margin:0px auto;float:left;}
.left_01_22_2_1{width:205px;margin:0 auto;float:left;text-align:left;padding-left:5px;}
.left_01_22_2_2{width:420px;margin:0px auto;padding:2px 0 0px 0;}
.left_01_22_2_2_1{width:130px;float:left;}
.left_01_22_2_2_2{width:290px;float:left;text-align:left;margin-left:0;}
.left_01_22_2_2_3{width:95px;float:left;}
.left_01_22_2_2_4{width:228px;float:right;}
.left_01_22_2_3{width:420px;margin:3px auto;padding:2px 0 1px 0;}
.left_01_22_2_3_1{width:95px;float:left;}
.left_01_22_2_3_2{width:115px;float:left;}
/*.left_022{width:726;margin:5px 0 5px 0;float:left;height:30px;background-color:#0000FF;}*/
.left_02{width:740px;float:left;margin:0px auto;}
.left_02_22{width:427px;border:1px solid #C4D7DE;margin:0px auto;float:right;clear:none;}
.left_03{width:740px;float:left;margin: 0 0 1px 0;}
.bq_font{font-size:12px;font-weight:bold;color:#C72401}
.left_04{width:738px;margin:10px 0 0 0;float:left;clear:none;border:1px solid #cccccc;}
.left_05{width:740px;margin:3px auto;float:left;}
.right{width:213px;float:right;clear:none;}
/*.right_00{width:213px;margin:10px auto 0;font-size:12px;color:#B12D1C;background-image:url(../images1/main/main_zmh_right_001.gif);background-repeat:no-repeat;height:69px;}*/
.right_00{width:210px;margin:10px auto 0;text-align:right; float:right;height:100px;}
a.right_000:link{color:#B12D1C;font-size:12px; text-decoration:none;}
a.right_000:visited{color:#B12D1C;font-size:12px;text-decoration:none;}
a.right_000:hover{color:#FF0000;font-size:12px;text-decoration:underline;}
a.left_zt:link{color:#017EAC;font-size:14px;font-weight:bold;text-decoration:none;}
a.left_zt:visited{color:#017EAC;font-size:14px;font-weight:bold;text-decoration:none;}
a.left_zt:hover{color:#FF0000;font-size:14px;font-weight:bold;text-decoration:underline;}
a.sy_right:link{color:#1F3A87;font-size:12px;line-height:20px;text-decoration:none;}
a.sy_right:visited{color:#1F3A87;font-size:12px;line-height:20px;text-decoration:none;}
a.sy_right:hover{color:#BC2931;font-size:12px;line-height:20px;text-decoration:underline;}
.right_01{width:208px;margin:10px auto 0;border:1px solid #C5D9E1;float:right;padding:0 0 3px 0;background-color:#DDEBF1;clear:none;}
.right_010{width:210px;margin:10px auto 0;float:right;}
.right_01_00{width:208px;background-image:url(main_right_007.gif);}
.right_01_00_1{width:104px;float:left;background-color:#DDEBF1;border-right:1px solid #A5BDC6;padding-top:2px;height:20px;color:#1C4586;font-size:14px;font-weight:bold; cursor:pointer;}
.right_01_00_2{width:102px;float:left;background-image:url(main_right_007.gif);height:20px;padding-top:2px;color:#1C4586;font-size:12px;border-right:1px solid #CCCCCC; cursor:pointer;}
.right_01_01{width:208px;}
.right_01_1{border-bottom:1px solid #CCCCCC;background-color:#FFFFFF;line-height:21px;margin-bottom:3px;}
.right_01_1_font{font-family:"宋体";font-size:12px;float:left;font-weight: bold;color:#D25C02;}
.right_01_1_font_1{font-family:"宋体";font-size:12px;float:right;color: #636363;}
.right_01_3{width:204px;text-align:left;padding:2px 0 2px 4px;}
.right_01_3_1{width:206px;float:right;text-align:left;color:#636363;line-height:20px;font-size:12px;}
.right_01_3_3 {width:190px;margin:2px auto;background-color:#FFFFFF;text-align:left;font-size:12px;line-height:20px;}
a.right_01_3_3_a:link{color:#00529B;}
a.right_01_3_3_a:visited{color:#00529B;}
a.right_01_3_3_a:hover{color:#FF0000;}
.right_01_3_4{width:176px;margin:3px auto;float:left;}
.right_02{margin-top:10px;width:210px;float:right;overflow:hidden;}
.right_02_1{font-size:12px;color:#FFFFFF;width:210px;height:22px;background-image:url(../images/home/main_zmh_right_004.gif);}
.right_02_2{width:210px;padding:5px 0 2px 0;text-align:center;background-color:#71C4DE}
.right_02_3{width:185px;padding:0px 3px 6px 8px;text-align:center;background-color:#71C4DE;clear:none;}
.right_02_3_1{width:184px;padding:3px 0 5px 0;margin:0 0 7px 7px;text-align:center;background-color:#FFFFFF}
.right_02_3_2{width:190px;margin:0px 3px 6px 8px;padding:3px 0 0 3px;clear:none; text-align:left;background-color:#FFFFFF}
.rigthzt{font-size:12px;color:#636363;line-height:18px;}
.right_logo{width:209px;margin:5px auto;}
.right_03{width:210px;clear:none;margin:10px auto 0;float:right;}
.right_03_1{width:208px;float:right;clear:none;border:1px solid #C5D9E1;background-color:#DDEBF1;text-align:left;}
.right_03_1_1{width:208px;float:right;height:22px;background-image:url(../images/home/main_right_007.gif);clear:none;}
.right_03_1_1_1{width:66px;float:left;background-color:#DDEBF1;border-right:1px solid #A5BDC6;padding-top:2px;height:20px;color:#1C4586;font-size:14px;font-weight:bold;text-align:center;cursor:pointer;}
.right_03_1_1_2{width:66px;float:left;background-image:url(../images/home/main_right_007.gif);height:20px;padding-top:2px;color:#1C4586;font-size:12px;text-align:center;border-right:1px solid #A5BDC6;cursor:pointer;}
.right_03_1_2{width:208px;float:right;clear:none;}
li {font-size: 12px;}
/* end网站首页样式表 */
/* start头部的样式表定义 */
.ttt{}
.top_table{width:960px;line-height:25px;color:#1C4586;margin:0 auto; margin-top:5px;}
.top_table .td_height{ height:50px;}
.top_table h1{ height:59px; line-height:20px;}
.top_table_0{width:440px;float:left;height:25px;line-height:25px;padding-top:5px;text-align:left;}
.top_table_00{width:100px;float:left;text-align:left;padding-top:5px;height:25px;line-height:25px;}
.top_table_000{width:290px;float:left;text-align:left;padding-top:5px;height:25px;line-height:25px;}
.top_table_0000{width:120px;float:right;text-align:left;padding-top:5px;height:25px;line-height:25px;}
a.top_text_clzt:link{color:#1C4586;font-size:12px; text-decoration:none;}
a.top_text_clzt:visited{color:#1C4586;font-size:12px;text-decoration:none;}
a.top_text_clzt:hover{color:#FF0000;font-size:12px;text-decoration:underline;}
.top_text_1{width:520px;font-size:12px;font-family:"宋体";color:#000;float:left}
.top_table_1{width:960px;margin:0 auto;}
.top_table_1_1{width:230px;float:left;border-right:1px dotted #666666;margin-top:10px;}
.top_table_1_2{width:710px;float:right;text-align:left;margin-top:10px;}
.top_text_2{width:200px;font-size:12px;font-family:"宋体";color:#911657;float:left;text-align:left}
li {font-size: 12px;}
.top_search_new{width:958px;border:1px solid #CACACA;background-image:url(../images/home/search_newbg.jpg);height:70px;margin:5px auto 0;}
.top_ss{width:960px;margin:0 auto;clear:both;}
.top_search{width:720px;margin:0 auto;clear:both;height:20px;text-align:center;}
.editbox1{margin:5px 0 0 10px;border:0px solid #ffffff;height:20px;padding:1px;}
.editbox2{margin:2px 0 0 10px;width:50px;height:23px;border:1px solid #ADCEED;background-image:url(../images/home/main_top_search_menu_06.gif);background-color:#FFFFFF;font-size:12px;color:#333333}
.top_search_1{float:left;width:180px;margin:5px 0 0 0;height:20px;text-align:center;font-size:12px;color:#FFFFFF}
.top_hot{width:720px;margin:0 auto;height:20px;text-align:center;font-size:12px;color:#FFFFFF;line-height:25px;}
.tt{}
.top_menu{width:960px;margin:0 auto;}
.top_menu_01{width:27px;height:30px;background-image:url(../images/home/main_top_search_menu_01.gif);float:left;}
.top_menu_02{width:64px;height:27px;background-image:url(../images/home/main_top_search_menu_02.gif);float:left;
text-align:center;padding:3px 0 0 0;line-height:25px;font-size:12px;font-weight:bold;color:#FFFFFF;cursor:pointer;}
.top_menu_02_1{width:64px;height:27px;background-image:url(../images/home/main_top_search_menu_02.gif);float:left;
text-align:center;padding:3px 0 0 0;line-height:25px;font-size:14px;font-weight:bold;color:#FFFFFF;cursor:pointer;}
.top_menu_03{width:64px;height:25px;background-image:url(../images/home/main_top_search_menu_03.gif);float:left;
text-align:center;padding:5px 0 0 0;line-height:25px;font-size:12px;color:#000000;cursor:pointer;}
.top_menu_03_1{width:64px;height:25px;background-image:url(../images/home/main_top_search_menu_03.gif);float:left;
text-align:center;padding:5px 0 0 0;line-height:25px;font-size:14px;font-weight:bold;color:#000000;cursor:pointer;}
.top_menu_04{width:30px;height:30px;background-image:url(../images/home/main_top_search_menu_05.gif);float:left;}
.top_menu_05{width:64px;height:30px;background-image:url(main_top_search_menu_05_1.gif);float:left;}
.top_menu_06{width:6px;height:30px;background-image:url(../images/home/main_top_search_menu_04.gif);float:left;}
.top_info{width:960px;background-image:url(../images/home/main_top_search_bg_03.gif);line-height:17px;text-align:center;font-size:12px;padding:2px 0 0 0;background-repeat:no-repeat;margin:0 auto;}
/* end头部的样式表定义 */
/* start网站底部样式表 */
.ddd{}
.bottom{width:960px;margin:10px auto 0;}
.bottom_01{width:958px;border:1px solid #dbdbdb;float:left;margin-top:10px;}
.bottom_01_1{width:23px; height:80px;min-height:100%;line-height:20px;text-align:center;border-right:1px solid #dbdbdb;float:left;background-image:url(../images/home/main_bottom_bg.gif);font-size:14px;font-weight:bold;color:#113C8B;padding:5px 0 8px 0;overflow:auto;}
.bottom_01_2_hz{width:920px;padding:10px 2px 0 5px;float:right;font-size:12px;line-height:18px;text-align:left;}
.bottom_01_2{width:920px;padding:0 2px 0 5px;float:right;font-size:12px;line-height:18px;text-align:left;}
.bottom_01_2_1{width:120px;padding:3px 8px 0 0;float:left}
.bottom_03{width:960px;margin:0 auto;}
.bottom_03_1{width:960px;border-bottom:1px solid #007DAB;text-align:center;line-height:10px; height:10px;}
.bottom_03_2{width:960px;line-height:25px;margin:5px auto;text-align:center;}
.bottom_03_3{width:960px;line-height:30px;text-align:center;}
.zt{font-size:12px;line-height:20px;}
.zt_14{font-size:14px;line-height:20px;}
/* end网站底部样式表 */