@charset "utf-8";

#navbar-2012{background-color:#000;position:relative;clear:both;top:10px;}

/****** Main Navigation ******/
#nav{
	position:relative;
	
}
#nav div.title{
	float:left;
}
#nav div.arrow,
#nav li:hover ul.nav div.arrow,
#nav li.menu-active ul.nav div.arrow{
	float:right;
	width:8px;
	height:40px;
	margin-left:5px;
	background:url('/content/includes/redesign2010/masthead/2012/images/menu-arrow-right.png') no-repeat center;
}
#nav li ul.nav li div.arrow,
#nav li:hover ul.nav li div.arrow,
#nav li.menu-active ul.nav li div.arrow{
	height:24px;
}






/****** First Level *******/
#nav li.top{
	margin-right:15px;
}
#nav li{
	display:inline;
	float:left;
	cursor:pointer;
	list-style:none;
	padding:0 10px;
	position:relative;
	white-space:nowrap;
	height:40px;
	line-height:40px;
	text-transform:uppercase;
}
#nav li:hover,
#nav li.menu-active{
	background-color:#333;
}
#nav li a,
#nav li a:hover,
#nav li a.menu-active{
	color:#fff;
	text-decoration:none;
}
#nav li:hover,
#nav li:hover a,
#nav li.menu-active a{
	color:#76b900;
}
#nav li:hover div.arrow,
#nav li.menu-active div.arrow{
	background:url('/content/includes/redesign2010/masthead/2012/images/menu-arrow-down.png') no-repeat center;
}
#nav li {
    color: #ffffff;
    text-decoration: none;
}




/******* Second Level ******/
#nav li ul.nav{
	display:none;
	position:absolute;
	top:40px;
	left:0;
	z-index:9999;
	
}
@media screen and (-webkit-min-device-pixel-ratio:0) { /* webkit has some issues... */
	#nav li ul.nav{
		white-space:normal;
		min-width:100px;
	}
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
	#nav li ul.nav{
		width:300%;
	}
}*/
#nav li:hover ul.nav,
#nav li.menu-active ul.nav{
	display:block;
}
#nav li:hover ul.nav,
#nav li:hover ul.nav a,
#nav li.menu-active ul.nav,
#nav li.menu-active ul.nav a{
	color:#fff;
}
#nav li ul.nav li a{
	display:block;
	width:100%;
	height:100%;
}
#nav li ul.nav li{
	float:left;
	height:24px;
	line-height:24px;
	width:100%;
	background:url('/content/includes/redesign2010/masthead/2012/images/item-bg-no-grad.png') no-repeat;
	text-transform:none;
}
#nav li ul.sub li{
	background:url('/content/includes/redesign2010/masthead/2012/images/item-bg.png') no-repeat;
}
#nav li ul.nav li:hover,
#nav li ul.nav li:hover a,
#nav li ul.nav li.menu-active,
#nav li ul.nav li.menu-active a{
	color:#76b900;
}
#nav li ul.nav li:hover div.arrow,
#nav li ul.nav li.menu-active div.arrow{
	background:url('/content/includes/redesign2010/masthead/2012/images/menu-arrow-right-green.png') no-repeat center;
}






/****** Third Level *******/
#nav li ul.nav li ul.nav{
	float:left;
	display:none;
	top:0;
	left:100%; 
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
	#nav li ul.nav li ul.nav{
		width:105%;
	}
}*/
#nav li ul.nav li:hover ul.nav,
#nav li ul.nav li.menu-active ul.nav{
	display:block;
}
#nav li ul.nav li:hover ul.nav,
#nav li ul.nav li:hover ul.nav a,
#nav li ul.nav li.menu-active ul.nav,
#nav li ul.nav li.menu-active ul.nav a{
	color:#fff;
}
#nav li ul.nav li ul.nav li:hover,
#nav li ul.nav li ul.nav li:hover a,
#nav li ul.nav li ul.nav li.menu-active,
#nav li ul.nav li ul.nav li.menu-active a{
	color:#76b900;
	text-decoration:underline;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* webkit has some issues... */
	#nav li ul.nav lu ul.nav{
		white-space:normal;
		min-width:100px;
	}
}




/* Rewriting as IE6 doesn't support the > or inherit targets, weakkkkkkkkkkkkkkkkk
#nav {position:relative; left:30px; top:4px;}
#nav, .nav, #nav .nav li { margin:0px; padding:0px; }
#nav li {display:inline-block; cursor:pointer; list-style:none; padding:0px 10px 0px 10px; position:relative;}
#nav li ul.first {left:0; top:37px;}
#nav li.top{padding:10px 10px; text-transform:uppercase;margin-right:10px}

#nav li, li a {color:#fff; text-decoration:none; white-space:nowrap;}
#nav .nav li { float:left;width:100%; text-indent:10px; line-height:24px; margin-right:20px; font-size:13px; background:url('/content/includes/redesign2010/masthead/2012/images/item-bg.png') no-repeat; text-transform: none;}
#nav li a {display:block; width:inherit; height:inherit;}

ul.nav { display:none; }
#nav li:hover > a, #nav li:hover { color:#76b900; }
li:hover > .nav { display:block; position:absolute; top:0px; left:100%; z-index:1000;} 
li:hover { position:relative; z-index:2000; }

#nav li.menu{	}
#nav li.menu:hover{ }
#nav li.top:hover{
	background-color:#333;
}
#nav .nav li.menu{ background:url('/content/includes/redesign2010/masthead/2012/images/item-bg.png') no-repeat;}

#nav li div.arrow,
#nav li ul li div.arrow{
	width:8px;
	height:8px;
	background:url('/content/includes/redesign2010/masthead/2012/images/menu-arrow-right.png') no-repeat;
}
#nav li:hover div.arrow,
#nav li ul li:hover div.arrow{
	background:url('/content/includes/redesign2010/masthead/2012/images/menu-arrow-down.png') no-repeat;
}
#nav div..title{
	float:left;
}
#nav div.arrow{
	float:right;
	margin:6px 0 0 5px;
}
#nav li ul.nav li{
	padding-right:10px;
}
#nav li ul.nav li div.arrow{
	background:url('/content/includes/redesign2010/masthead/2012/images/menu-arrow-right.png') no-repeat;
	margin-top:9px;
}
#nav li ul.nav li:hover div.arrow{
	background:url('/content/includes/redesign2010/masthead/2012/images/menu-arrow-right-green.png') no-repeat;
}
*/
