/* Home Page CSS */
/* MFG */
#MFG{
height:540px;
background-color:#000;
position:relative;
top:-120px;
z-index:1;
}
.mfgLoadAnim{
position:absolute;
top:280px;
left:470px;
display:none;
width:64px;
height:64px;
background:url(/content/includes/redesign2010/images/redesign10/loadAnim.gif) no-repeat;
z-index:1;
}
#MFG img{
top:0;
left:0;
position:absolute;
z-index:1;
/*opacity:0;
filter:alpha(opacity=0);*/
}
#mfgImages{
z-index:1;
/*height:540px;*/
}
#mfgImages img{
width:980px;
height:540px;
}
#mfgImages a{
z-index:1;
display:none;
opacity:0;
filter:alpha(opacity=0);
}
#mfgImages #mfg1{
display:inline;
opacity:1;
filter:alpha(opacity=1);
}
#mfgFlashPlayButton{
position:relative;
top:485px;
left:5px;
z-index:14;
}
#mfgFlashStopButton{
position:relative;
top:405px;
left:5px;
z-index:14;
display:none;
}
#mfgFlashPlayButton img,#mfgFlashStopButton img{
display:none;
z-index:100;
}
#mfgFlashPlayButton,#mfgFlashStopButton img:hover{
cursor:pointer;
}
#mfgFlash{
position:relative;
display:none;
margin-top:-18px;
z-index:2;
cursor:pointer;
}
#mfgFlashObject{
cursor:pointer;
}
.mfgFlashOnLoad{
margin-top:0 !important;
}
#mfgFlash:hover{
cursor:pointer;
}
#mfgSelector{
position:relative;
display:none;
z-index:10;
width:270px;
height:35px;
top:495px;
left:720px;
cursor:pointer;
}
#mfgSelector .mfgBlock{
float:left;
position:relative;
display:block;
width:50px;
height:35px;
margin:0 7px;
padding:0;
background-color:#000;
}
#mfgSelector img{
display:block;
border:1px solid #fff;
cursor:pointer;
opacity:0.5;
filter:alpha(opacity=50);
}
#mfgSelector img:hover{
border:1px solid #76b900;
}
.mfgSelectorSelected{
border:1px solid #76b900 !important;
}
#mfgImages #mfgPlayVideoBar {
position:absolute;
background:url(/content/includes/redesign2010/images/redesign10/transparency_playbar.png) repeat-x top;
width:980px;
height:100px;
top:420px;
z-index:20;
text-align:center;
display:none;
}
#mfgPlayVideoBar p{
padding-top:5px;
color:#fff;
}
#mfgPlayVideoBar:hover p{
color:#76b900;
cursor:pointer;
}
   


/* News Ticker */
#newsTickerHeadline{
float:left;
position:relative;
left:10px;
top:7px;
}
#newsTickerHeadline h2{
font-size:14px;
color:#76b900;
font-weight:bold;
background-image:none;
border:0;
padding:0;
margin:0;
text-shadow:#000 0 0 1px;
}
#newsTickerContent h3{
background:none;
font-weight:normal;
font-size:14px;
border:0;
margin:0;
text-shadow:#000 0 0 1px;
text-transform:none;
padding:0;
overflow:hidden;
}
#newsTickerContent{
float:left;
position:relative;
left:20px;
margin: 7px 0;
white-space:nowrap;
}
#newsTickerContent p{
font-size:14px;
color:#fff;
text-shadow:#000 0 0 5px;
}
#newsTickerContent a{
color:#fff;
text-decoration:none;
}
#newsTickerContent div{
display:none;
}
#newsTicker #newsTickerGradient{
position:absolute;
left:897px;
top:0;
width:83px;
height:35px;
background:url(/content/includes/redesign2010/images/redesign10/newsticker_right_gradient.png) no-repeat;
}
#newsRSSDefault{
display:block;
}


/* Subfeatures */
.subFeatureBox{
float:left;
display:block;
position:relative;
width:244px;
height:610px;
overflow:hidden;
padding-top:10px;
background:url(/content/includes/redesign2010/images/redesign10/subfeature_box_hover_gradient.gif) repeat-x 0 -150px;
}
#shop{
width:243px;
}
/*.subFeatureBox:hover{
background:url(/content/includes/redesign2010/images/redesign10/subfeature_box_hover_gradient.gif) repeat-x;
}*/
.subFeatureHeader{
float:left;
position:relative;
width:220px;
height:28px;
background:url(/content/includes/redesign2010/images/redesign10/subfeature_header_gradient.gif) repeat-x;
border:1px solid #aaa;
z-index:5;
left:12px;
}
.subFeatureHeader h2{
background-image:none;
font-size:16px;
font-weight:bold;
padding:3px 3px 3px 8px;
text-transform:capitalize;
color:#393939;
text-shadow:#fff 0 1px 0;
margin:0;
border:0;
}
.subFeatureContainer{
overflow:hidden;
height:600px;
position:relative;
clear:left;
}
.subFeatureContent{
float:left;
display:block;
position:absolute;
cursor:pointer;
width:200px;
padding:10px;
height:170px;
background-color:#fff;
background:url(/content/includes/redesign2010/images/redesign10/subfeature_content_gradient.gif) repeat-x bottom;
left:12px;
clip: rect(auto auto auto auto);
border-left:1px solid #aaa;
border-right:1px solid #aaa;
border-bottom:1px solid #aaa;
font-size:12px;
}
.subFeatureContent .subFeatureText{
position:relative;
top:100px;
}
.subFeatureContent .subFeatureText h3{

}
.subFeatureContent .subFeatureText p{
color:#000;
}
.subFeatureContent .subFeatureContentGradient{
position:absolute;
height:190px;
width:220px;
top:0;
left:0;
background-color:#333;
opacity:0;
filter:alpha(opacity=0);
}
.subFeatureContent img{
position:relative !important;
padding-bottom:10px;
}
.subFeatureContent a{
display:block;
width:200px;
height:190px;
font-size:11px;
text-decoration:none;
color:#666;
line-height:16px;
}
.subFeatureContent strong{
color:#000;
font-size:12px;
font-weight:bold;
}
.subFeatureSeparator{
width:1px;
float:left;
display:block;
background:url(/content/includes/redesign2010/images/redesign10/subfeature_separator.jpg) no-repeat;
height:300px;
font-size:0; /* IE6 */
}
.subFeatureBoxGradientBlock{
width:980px;
height:3px;
background:url(/content/includes/redesign2010/images/redesign10/subfeature_container_gradient.gif) repeat-x;
}
.subFeatureContentClip{
clip:rect(80px 220px 220px 0);
}
.subFeature1,
.subFeature2,
.subFeature3{
position:relative;
top:0px;
}


/* XandOs */
#xandoOverlay{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:url(/content/includes/redesign2010/images/redesign10/transparency_333333_90percent.png) repeat;
z-index:2000;
}
#xandoOverlay #videoOuter{
position:absolute;
top:50%;
left:0;
width:100%;
overflow:visible;
height:1px;
}
#xandoOverlay #videoInner{
position:absolute;
margin-left:-285px;
top:-229px;
left:50%;
width:570px;
height:458px;
}