﻿@charset "UTF-8";


/*** COMMON ***/
div#page{height:auto;}


/****HEADER****/
/*no-underline*/
#homeButton a:hover,#searchStore a:hover,#loginMmb a:hover{text-decoration:none;}
/*logoMark image*/
@media screen and (min-width:891px){
#logo .contentRecommendationWidget > .left_espot > a#contentLink_1_HeaderStoreLogo_Content > img{top:-4px;}
}
/*sitename image*/
@media screen and (min-width: 1160px){
#siteName img {width: 200px;height: 100%;background-image: url("//lp.nitori-net.jp/img/header1_img.png");background-position: 0px 5px;}
}
@media screen and (max-width: 1160px) and (min-width:891px){
#siteName img{width:80px;height:100%;background:url("//lp.nitori-net.jp/img/header1_img.png") -60px -47px;}
}
@media screen and (max-width: 890px){
#siteName img{width:57px;height:28px;margin:0;background: url("//lp.nitori-net.jp/img/header1_img_sp.png") 0px -16px;background-size: 100% auto;
}
}


/*****FOOTER****/
/*right icon image*/
#footerArea3 li a img, #footerArea3 li span img{background-image:url('//cp.nitori-net.jp/wcsstore/ec/static/common/footerIcon.png')}



/*style.css line:2211,2213,2188*/
.product_image>a,.product_image>image>a{position:relative;display:block;max-height:200px;}
.product_image>a img,.product_image>image>a img,.product > .product_image img{max-width:100% !important;max-height:100% !important;width:auto !important;height:auto !important;}
.product_image .RibbonAdDefault.MASTER_OTL_AREA{display:inline-block;width:auto !important;padding-right:5px;background:#C30016 !important;font-size:9px;bottom:10px;}
.product_image .RibbonAdDefault{display:inline-block !important;width:auto !important;height:15px;padding-left:5px;padding-right:5px;font-size:11px;line-height:15px;opacity:0.6 !important;-ms-filter: "alpha(opacity=60)" !important;color:#fff;background: #444 !important;}
.product_image .RibbonAdDefault.RIBON_icon{bottom:10px;}
.product_image .RibbonAdDefault.RIBON_icon2{bottom:30px;}
.product_image .RibbonAdDefault.RIBON_icon3{bottom:50px;}
.product_image .RibbonAdDefault.RIBON_icon4{bottom:70px;}

@media screen and (max-width:420px){
.product_image .RibbonAdDefault.MASTER_OTL_AREA{font-size:9px;}
}

/*MAILMAG SAMPLE*/
#WC_UserRegistrationUpdateForm_div_25 div.checkbox_label a,#WC_UserRegistrationAddForm_div_27.checkbox_label_registration a{display:none;}

/*PANKUZU(￥取る)*/
#widget_breadcrumb li span.divider{color:#fff !important;position:relative;}
#widget_breadcrumb li span.divider:after{color:#999 !important;content:url('//cp.nitori-net.jp/wcsstore/ec/static/common/breadcrumbArrow_1.png');font-size:10px;}

/*PANKUZU高さ*/
#contentWrapper #widget_breadcrumb{height:auto !important;}
#contentWrapper #widget_breadcrumb:after{display:block;content:"";clear:both;}

#checkout_crumb .crumb span.step_arrow{display:inline-block;width:0;height:0;margin:0px 0 1px 4px;padding:0;background:none;border-left:4px solid #59677d;border-top:3px solid transparent;border-bottom:3px solid transparent;border-right:4px solid transparent;}

@media screen and (max-width:520px){
#checkout_crumb .crumb span.step_off,#checkout_crumb .crumb span.step_on{position:relative;display:block;height:30px;padding-left:10px;line-height:30px;}

#checkout_crumb .crumb span.step_arrow{display:block;width:0;height:0;margin:5px auto 0px 50px;padding:0;background:none;border-top:5px solid #59677d;border-bottom:5px solid transparent;border-left:10px solid transparent;border-right:10px solid transparent;}

#checkout_crumb .crumb span.step_on{position:relative;display:block;}
#checkout_crumb .crumb span.step_on:after{content:"";display:block;position:absolute;left:1px;top:11px;width:0;height:0;margin:0px;padding:0;background:none;border-left:4px solid #009e96;border-top:3px solid transparent;border-bottom:3px solid transparent;border-right:4px solid transparent;}

}

/*HAISOBI*/
.nitoriCalWin{font-size:12px;line-height:20px;}
#OrderDeliverySelecter.orderDeliveryDateSelecter .clear_both>span{display:none;}/*ID-000236@Yqwt NTR_tNag_0602*/


/*HAISOBI_CALENDER*/
.nitoriCal td.nitoriCalSymbol,.nitoriCal td.nitoriTimeSelectButton{cursor:pointer;}
.nitoriCal td.nitoriCalSymbol:hover,.nitoriCal td.nitoriTimeSelectButton:hover{background:#fd6;}

.nitoriCal th.nitoriCalWeekday{background:#9a9a9a;color:#fff;}
.nitoriCal th.nitoriCalSaturday{background:#60a5ce;color:#fff;}
.nitoriCal th.nitoriCalSunday{background:#d95d5f;color:#fff;}

.nitoriCal td.nitoriCalWeekday{background:#f3f3f3 !important;}
.nitoriCal td.nitoriCalSaturday{background:#d6f0ff !important;}
.nitoriCal td.nitoriCalSunday{background:#fedada !important;}

.nitoriTimeCloseButton{border-radius:4px;border-color:#009e96;color:#fff;font-weight:bold;cursor:pointer;}
.nitoriTimeCloseButton:hover{background:#009e96;}


@media screen and (max-width:480px){
/*HAISOBI*/
#nitoriDelivery_div table caption,#inStock_div table caption,#notStock_div table caption{font-size:12px;}

#nitoriDelivery_div td.total,#inStock_div td.total,#notStock_div td.total,#nitoriDelivery_div #order_details th.nitori_product_header3:nth-child(n+5),#inStock_div th:nth-child(n+5),#notStock_div th:nth-child(n+5){display:none;}
#nitoriDelivery_div td span,#inStock_div td span,#notStock_div td span{font-size:10px;}

#nitoriDeliveryFloor{width:20px;}
#WC_OrderOther_div_6 .detail_row_float_left br{margin:5px;}
.order_detail_ex_summary{padding-right:0px !important;}
.order_detail_ex_summary .detail_row1 input[name="etcAddress"],.order_detail_ex_summary .detail_row1 input[name="etcProviso"]{width:90px;}
#payment_method_div{margin:0;}
#payment_method_div table td{height:30px;font-size:11px;}


/*HAISOBI-miniCalender*/
.nitoriCalWin{font-size:11px;line-height:20px;}

}

/*KAKUNIN*/
#box .main_header .headingtext span.main_header_text{font-size:12px;}
#shipping #OrderConfirmPagingDisplay #SingleShipment_tableCell_totalPrice{display:none;}
#shipping #OrderConfirmPagingDisplay .nitori_total_confirmation_data{display:none;}
#shipping #OrderConfirmPagingDisplay td{font-size:10px;}
#shipping #OrderConfirmPagingDisplay #SingleShipment_tableCell_unitPrice{text-align:center;white-space:nowrap;}
a#WC_SingleShipmentSummary_links{display:block;}

@media screen and (max-width:520px){
#payment_method_div img[src="/wcsstore/ec/images/scrCdImg.png"]{width:100%;height:auto;}

}

/*NINSHO*/
@media screen and (max-width:400px){
.attention_word_color#WC_PasswordResetForm_div_6{font-size:11px;}
.attention_word_color#WC_PasswordResetForm_div_6 br{display:none;}
.attention_word_fontsize#WC_PasswordResetForm_div_6{margin:6px 0;font-size:12px;}
}
.content_wrapper_position:after{content:"";display:block;clear:both;}





/*UserInquiry*/
#box>.sign_in_registration>.content>.align{margin-bottom:20px;}

/*CART PAGE*/
#box.shopping_cart_box{min-width:120px !important;}
@media screen and (max-width:375px){
div[id$="addToShoppingListBtn"] > .button > .content{width:95px;color:#eceeed;}
div[id$="addToShoppingListBtn"] > .button > .content:after{content:"お気に入りに登録";position:absolute;left:2px;top:3px;color:#49310f;}
}



/***LOG IN***/
#loginPaswNewGuestRedTxt{color:#c00;}
@media screen and (max-width:600px){
.align#WC_AccountDisplay_div_7{padding-top:30px !important;padding-bottom:60px !important;}
#WC_AccountDisplay_div_23.align{height:auto !important;}
#WC_AccountDisplay_div_23.align:after{content:"";display:block;clear:both;}
div#widget_breadcrumb {display:block;}
}


/*****MY PAGE*****/
/*MAIN PAGE*/
#myPageMainTopInfoRedTxt{display:block;font-size:11px;color:#c00;}

/*MY PAGE MEMBERS*/
.myaccount_header#WC_MembersDisplay_div_3 h2.registration_header{font-size:14px;}

/*FAVORITE*/
.right_column #right_nav{display:none;}
#WC_UserInquiry_FormInput_lastName_In_UserInquiryForm_1,#WC_UserInquiry_FormInput_firstName_In_UserInquiryForm_1{width:30%;}




/***INQUIRY *** legacy1_1.css ***/
#UserInquiryForm #WC_UserInquiry_FormInput_email1Verify_In_UserInquiryForm_1{display:block;}
/*line 74*/
.sign_in_registration .align{height:auto !important;}/*question form*/
/*line 4920*/
#UserInquiryForm label.inquiry_label3{display:inline-block;width:auto !important;}
/*line 4911*/
#UserInquiryForm label.inquiry_label1{display:inline-block;width:auto !important;}
/*line 4915 */
#UserInquiryForm label.inquiry_label2{width:auto !important;}
/*line 4943*/
p span.inquiry_content_span{line-height:15px !important;}

/*common1_1.css*/
/*line 6143*/
a.button_primary#guestShopperContinue{border:1px solid #ccc !important;background:#eee !important;color:#666 !important;}



/*OUTLET OTHER IMAGE*/
#outletCnts ul#ProductAngleImagesAreaList{display:block;height:auto;}
#outletCnts ul#ProductAngleImagesAreaList li{width:20% !important;height:auto !important;margin-right:-1px;margin-left:-1px;}
#outletCnts ul#ProductAngleImagesAreaList > li > a > img{width:100% !important;height:auto !important;}

@media screen and (max-width:480px){
#outletCnts ul#ProductAngleImagesAreaList li{width:12% !important;}
}




/*ERROR COMMENT*/
#MessageArea #msgpopup_content_wrapper.content{border:3px solid #e00;}
div.store_message{padding-right:10px;}

/*PRINT BUTTON*/
div#WC_OrderShipmentDetails_div_31_1.button_primary,div#WC_OrderShippingBillingConfirmationPage_div_32.left.left_confirmation_page{display:none;}






