@charset "utf-8";

/*$SkipWCCopr$*/
/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2008, 2010 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */
 
 /* CSS Document */
@import url("common1_1.css");

@import url("styles.css");

div.widget_quick_info_popup > .middle > .content_left_border > .content_right_border > .content > .right_column .close_group .close_text {
	font-size: 11px;
}

div.widget_quick_info_popup > .middle > .content_left_border > .content_right_border > .content > .right_column > a {
	font-size: 10px;
}

.button_primary > .button_text {
	font-size: 9px;
}