#footerArea3 li#ftrOtherContents05 {
	display:none;
}
/* 20160905 NTR_49 MOD START */
/* 20160607 NTR_0_13 ADD START 
#footerArea3 #ftrOtherContents10 img{
	background-image:url('../images/instagramIcon.png');
	background-size: 50px auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFFFFF;
	max-height: 78px;
	max-width: 79px;
	margin-top: 6px;
	margin-bottom: 6px;
	border-radius: 5px;
}

@media (max-width:600px) {
	#footerArea3 #ftrOtherContents10 img{
		background-size: 34px auto;
		max-height: 53px;
		max-width: 55px;
		margin-top: 4px;
		margin-bottom: 3px;
		border-radius: 5px;
	}
}
/* 20160607 NTR_0_13 ADD END 
*/
#footerArea3 #ftrOtherContents10 img,
#footerArea3 #ftrOtherContents11 img {
	background-size: 50px auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFFFFF;
	max-height: 78px;
	max-width: 79px;
	margin-top: 6px;
	margin-bottom: 6px;
	border-radius: 5px;
}
#footerArea3 #ftrOtherContents10 img {
	background-image:url('../images/instagramIcon.png');
}
#footerArea3 #ftrOtherContents11 img {
	background-image:url('/wcsstore/ec/Static/top/ico01.png');
}
@media (max-width:600px) {
	#footerArea3 #ftrOtherContents10 img,
	#footerArea3 #ftrOtherContents11 img {
		background-size: 34px auto;
		max-height: 53px;
		max-width: 55px;
		margin-top: 4px;
		margin-bottom: 3px;
		border-radius: 5px;
	}
}
/* 20160905 NTR_49 MOD END */
