/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2012, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

.clearFloat{
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

.product_info{
	float: left;
	width: 100%;
}

.list_mode .product_info {
	margin-top: 30px;
	margin-bottom: 10%;
}

.product_image {
	margin: 0px auto;
	padding-top: 0px;
	margin-bottom: 0;
	position: relative;
}

.product > .product_image img {
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 310px;
}

.additional_content .left_espot> img{
	width: 100%;
}

div#widget_minishopcart_popup > #cartDropdown .product > .product_image > a {
	height: 87px;
	text-align: center;
}
div#widget_minishopcart_popup > #cartDropdown .product > .product_image > a  > img{
	height: 100%;
	width: auto;
}
div#widget_minishopcart_popup_1 > #cartDropdown .product > .product_image > a {
	height: 114px;
	text-align: center;
}
div#widget_minishopcart_popup_1 > #cartDropdown .product > .product_image > a  > img{
	height: 100%;
	width: auto;
}

.quick_info_toggle {
	display: none;
}

div.widget_quick_info_popup > .top,
div.widget_quick_info_popup > .bottom {
	width: auto;
}

div.widget_quick_info_popup > .middle > .content_left_border > .content_right_border > .content > .left_column,
div.widget_quick_info_popup > .middle > .content_left_border > .content_right_border > .content > .right_column {
	width: auto;
	max-width: 330px;
}

#quickInfoPopup {
	top: 0px !important;
}

.productListingWidget {
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	padding-bottom: 10px;
}

.catPos > .container {
	width: 100%;
	min-width: 0;
	padding: 0;
	background: #f8f8f8;
	text-align: center;
}
.catPos > .container > a {
	display: block;
	padding: 8px 0;
	text-align: center;
}
.catPos > .container > a:hover {
	text-decoration: underline;
}

.product_group_name {
	color: #010f1c;
	font-size: 12px;
	float:none;
}

.catEntryList_border {
	margin: 10px 5%;
	padding-bottom: 15px;
	border-bottom: 1px dotted #c9c9c9;
	position: absolute;
	bottom: 0;
	width: 90%;
}

.catEntryGrid_border {
	display: inline-block;
	margin: 0px 5%;
	border-bottom: 1px dotted #c9c9c9;
	bottom: 0;
	width: 90%;
}

div.widget_articles_videos > .content > .header_bar {
	height: 75px;
	padding: 10px;
	border-bottom: 1px solid #e9e9e9;
	content: "";
	display: block;
	clear: both;
}

div.widget_articles_videos > .content > .header_bar > .title {
	float: left;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

div.widget_articles_videos > .content{
	width: 100%;
}

div.widget_articles_videos > .content > .header{
	padding-left: 19px;
	padding-right: 19px;
	font-size: 16px;
	padding-top: 14px;
	position: relative;
	height: 60px;
	border-bottom: 1px solid #E5E5E5;
}

div.widget_articles_videos > .content > .header > span.small{
	font-size: 12px;
	float: left;
	margin-left: 4px;
}

div.widget_articles_videos > .content > .header > .title{
	float: left;
}

div.widget_articles_videos > .content > .header > .paging_controls{
	color: #767676;
	font-size: 12px;
	height: 17px;
	line-height: 17px;
	overflow: hidden;
	position: absolute;
	right: 15px;
	top: 16px;
}

div.widget_articles_videos > .content > .header > .paging_controls > .divider{
	background-color: #BFBFBF;
	float: left;
	height: 17px;
	margin: 0 6px;
	width: 1px;
}

div.widget_articles_videos > .content > .header > .paging_controls  .left_arrow{
	background-image: url('../images/colors/color1/left_arrow_sprite.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 17px;
	width: 17px;
	margin: 0 6px;
	float: left;
}

div.widget_articles_videos > .content > .header > .paging_controls  .right_arrow{
	background-image: url('../images/colors/color1/right_arrow_sprite.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 17px;
	width: 17px;
	margin: 0 6px;
	float: left;
}

div.widget_articles_videos > .content > .header > .paging_controls  .active{
	background-color: #EF5305;
	background-position: left top;
	color: #FFFFFF !important;
	cursor: pointer;
}

div.widget_articles_videos > .content > .header > .paging_controls  .inactive{
	background-color: #BFBFBF;
	background-position: left bottom;
	color: #FFFFFF !important;
}

div.widget_articles_videos > .content > .header > .paging_controls > .pages{
	float: left;
	line-height: 17px;
	margin-left: 6px;
}

div.widget_articles_videos > .content > .header > .paging_controls > .pages > ul{
	list-style-type:none;
	overflow:hidden;
}

div.widget_articles_videos > .content > .header > .paging_controls > .pages > ul > li{
	color: #009E94;
	cursor: pointer;
	display: block;
	float: left;
	margin: 0 2px;
	min-width: 14px;
	padding: 0 2px;
	text-align: center;
}

div.widget_articles_videos > .content > .header > .paging_controls > .view_all{
	float: left;
	line-height: 17px;
	margin-left: 6px;
}

div.widget_articles_videos > .content > .header > .paging_controls > .view_all > a{
	color: #009E94;
	text-decoration: none;
}

div.widget_articles_videos > .content > .header > .sorting_controls{
	color: #666666;
	font-size: 11px;
	height: 18px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 15px;
	top: 40px;
}

div.widget_articles_videos > .content > .header > .sorting_controls > .sort_by{
	line-height: 18px;
}

div.widget_articles_videos > .content > .header > .sorting_controls > select{
	border: 1px solid #666666;
	font-size: 11px;
	height: 18px;
	min-width: 114px;
}

div.widget_articles_videos > .content > .item{
	padding-left: 19px;
	padding-right: 8px;
	padding-bottom: 17px;
	padding-top: 17px;
}

div.widget_articles_videos > .content > .divider{
	height: 1px;
	border-bottom: 1px solid #e5e5e5;
	margin-left:8px;
	margin-right: 8px;
}

div.widget_articles_videos > .content > .item > .icon{
	height: 32px;
	width: 32px;
	float: left;
}

div.widget_articles_videos > .content > .item > .description{
	font-size: 12px;
	float: left;
	line-height: 14px;
	padding-left: 11px;
	width: 630px;
}

div.widget_articles_videos > .content > .item > .description > .header {
	font-size: 14px;
	margin-bottom: 5px;
	cursor: pointer;
	float:left;
}

div.widget_articles_videos > .content > .item > .description > .header:hover{
	text-decoration:underline;
}

#articleListing {
	list-style-type: none;
	padding: 0 20px 0 20px;
	margin-top: 20px;
}

#articleListing li {
	float: left;
	width: 100%;
	min-height: 107px;
	margin-right: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e9e9e9;
}

#articleListing .icon {
	float: left;
	margin-right: 10px;
}

#articleListing .videoItem .icon .iconPlayOverlay {
	border: 0;
	position: relative;
	top: -86px;
	width: 69px;
	left: 48px;
	height: auto;
}

#videoItemScreen {
	height: auto;
	width: 100%;
	border: solid #ffffff 2px;
}

#videoContentBackground {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	padding: 1px 0 0 1px;
	z-index:100;
	background: rgba(0, 0, 0, 0.7);
}

#modelBox {
	position: fixed;
	top: 0px;
	padding: 1px 0 0 1px;
	z-index:101;
}

#videoContentFrame {
	position: fixed;
	top: 100px;
	width: 719px;
	height: 413px;
	left: 50%;
	margin-left: -360px;
}

#modelBoxClose {
	position: absolute;
	top: -10px;
	right: -10px;
	background: #000;
	color: #fff;
	border-radius: 20px;
	width: 23px;
	text-align: center;
	z-index: 10;
	border: 2px solid white;
}

#modelBoxClose:hover {
	cursor: pointer;
}

#video1 {
	width: 718px !important;
	height: 412px !important;
}

#articleListing .icon:hover {
	cursor: pointer;
}

#articleListing li .content {
	padding: 15px 20px 20px 100px;
}

#articleListing li .content h1 {
	font-size: 15px;
	padding: 0px;
}

#articleListing li .content h2 {
	font-size: 11px;
	text-transform: uppercase;
}

.tabButtonContainer {
	margin-bottom: 0px !important;
}

.tab_header {
	margin-right: 20px;
	display: table;
	border-spacing: 6px 0;
	max-width: 670px;
	margin-left: 6px;
}

.tab_header  .tab_container {
	width: 28%;
	float:none;
	padding: 9px 10px 7px 10px;
	text-transform: none;
}

.tab_header  .tab_container > .contentRecommendationWidget {
	border: 1px solid transparent;
}

.tab .productListingWidget {
	border: none;
	border-radius: 0px;
}

.tab_spacer {
	width: 1%;
	float: left;
	height: 32px;
}

.tab_container {
	text-transform: uppercase;
	font-weight: bold;
	color: #ca4000;
	font-size: 12px;
	width: 40%;
	float:left;
	padding: 10px;
	position: relative !important;
	display: table-cell;
	text-align: center;
	border-top: 2px solid #009E94;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	outline: 1px solid white;
	vertical-align: middle;
}

.tab_container:hover {
	cursor: pointer;
}

.inactive_tab {
	color: #686868;
	border-top: 2px solid #bbbbbb;
	border-bottom: 1px solid #e9e9e9;
	background-image: linear-gradient(bottom, rgb(221,221,221), rgb(255,255,255) 75%);
	background-image: -o-linear-gradient(bottom, rgb(221,221,221), rgb(255,255,255) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(221,221,221), rgb(255,255,255) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(221,221,221), rgb(255,255,255) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(221,221,221), rgb(255,255,255) 75%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); */
}

.tab {
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	margin-top: 0px !important;
	width: 99%;
}

div.widget_title_container {
	width: 100%;
	line-height: 30px;
}

div#widget_coordinate > .middle > .content > .coordinate_body > .left_column > .cross_image {
	height: 103px;
	width: 16.3333%;
	max-width: 113px;
}

div#widget_coordinate > .middle > .content > .coordinate_body > .left_column > .product {
	width: 33.3333%;
	height: auto;
	max-width: 105px;
}

div#widget_coordinate > .middle > .content > .coordinate_body > .left_column > .product img {
	width: 100%;
	height: auto;
	max-width: 105px;
}

div#widget_coordinate > .middle > .content > .coordinate_body > .right_column {
	margin-left: 0px;
	width: 100%;
}
div#widget_coordinate > .middle > .content > .coordinate_body > .left_column {
	padding-bottom:35px;
	width:100%;
}

div#widget_coordinate {
	width: 100%;
}

div#widget_coordinate > .content  {
	padding-bottom: 10px;
}

div#widget_coordinate > .content > .coordinate_title  {
	width: 20%;
}

div#widget_coordinate > .middle {
	width: 100%;
}

div#widget_coordinate > .middle > .content {
	padding: 0px 0px 40px 0px;
	width: 100%;
}

div#widget_coordinate > .middle > .content .down_arrow {
	width: 20px;
	height: 10px;
	position: absolute;
	left: 43%;
	visibility: hidden;
}

div#widget_coordinate > .middle > .content .up_arrow {
	position: absolute;
	top: -17px;
	left: 43%;
	width: 20px;
	height: 10px;
	visibility: hidden;
}

div#widget_coordinate > .middle > .content .down_active {
	visibility: visible;
}

div#widget_coordinate > .middle > .content .up_active {
	visibility: visible;
}

div.widget_sidebar_container > div.header_content {
	line-height: 25px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	padding-bottom: 4px;
	min-height: 59px;
}

#homePageEspot1,
#homePageEspot2,
#homePageEspot_Left,
#homePageEspot_Middle,
#homePageEspot_Right {
	width: 100%;
}

#homePageEspot1_Slot,
#homePageEspot2_Slot,
#homePageEspot_Left_Slot,
#homePageEspot_Middle_Slot,
#homePageEspot_Right_Slot {
	position:relative;
	z-index: 2;
}

.textContainer .title {
			font-family: arial, helvetica;
			font-weight: bold;
			font-size: 40px;
			color: #073769;
			line-height: 42px;
			margin-bottom: 10px;
			text-transform: uppercase;
	}
.textContainer .bodyText {
		font-family: arial, helvetica;
		font-size:14px;
		color: #073769;
		line-height: 14pt;
		margin-left:1px;
	}
.textContainer .button {
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		padding: 9px 20px;
		border-radius: 3px;
		background-color: #c5293e;
		font-size: 20px;
		color: #fff;

		width: 100px;
		margin-top: 15px;
		margin-left:1px;
	}

@media (min-width: 1281px) {
	.tab {
		margin-top: 0px !important;
	}
}
h1 {
	padding: 0 10px;
	font-size: 28px;
	font-weight: inherit;
}
.collapsible > h3 {
	cursor: pointer;
}
.collapsible > .content {
	overflow: hidden;
}
.collapsible[aria-expanded="false"] > .content {
	max-height: 0;
	visibility: hidden;
}
#content .collapsible,
.categoryNavWidget.collapsible,
.linkWidget.collapsible {
	padding: 10px 5%;
	background-color: #f0f0f0;
	border-radius: 5px;
	transition: background-color .2s;
}
#content .collapsible:hover,
.categoryNavWidget.collapsible:hover, 
.linkWidget.collapsible:hover{
	background-color: #e0e0e0;
}
#content .collapsible > h3,
.categoryNavWidget.collapsible > h3,
.linkWidget.collapsible > h3 {
	display: block;
	position: relative;
	margin: -10px -12px;
	padding: 10px 34px;
	font-size: 17px;
	font-weight: inherit;
	overflow: hidden;
	min-height: 1.4em;
}
#content .collapsible > .header,
.categoryNavWidget.collapsible > .header,
.linkWidget.collapsible > .header{
	font-size: 17px;
}
#content .collapsible > h3:before,
.categoryNavWidget.collapsible > h3:before ,
.linkWidget.collapsible > h3:before {
	content: url("../images/responsive/rwdUI.png");
	position: absolute;
	top: -27px;
	left: -49px;
	clip: rect(41px,78px,58px,61px);
}
#content .collapsible[aria-expanded="false"] > h3:before,
.categoryNavWidget.collapsible[aria-expanded="false"] > h3:before ,
.linkWidget.collapsible[aria-expanded="false"] > h3:before {
	left: -29px;
	clip: rect(41px,58px,58px,41px);
}
#content .collapsible > .content > ul, 
.linkWidget.collapsible > .content > ul {
	margin: 10px 0 0 0;
	background-color: #ffffff;
	font-size: 12px;
	list-style-type: none;
}
#content .collapsible > .content > ul > li ,
.linkWidget.collapsible > .content > ul > li {
	padding: 10px;
	border-top: 1px solid #f0f0f0;
}
#content .collapsible > .content > ul > li:first-of-type ,
.linkWidget.collapsible > .content > ul > li:first-of-type {
	border-top-width: 0;
}

#attachmentPaginationContainer .attachment > .attachment {
	float: left;
	max-width: 100px;
	padding-top: 2px;
	padding-right: 15px;
}

#attachmentPaginationContainer .attachment > .attachment > .description  {
	padding-left: 2px;
}

#attachmentPaginationContainer .header {
	text-transform: capitalize;
	font-size: 14px;
}

.searchAssocAssets .showDetails {
	font-size: 10px;
	text-transform: uppercase;
	line-height: 16px;
}

.searchAssocAssets {
	margin-top: 7px;
	background-color: transparent !important;
	padding: 0px !important;
	border-radius: 0px !important;
	transition: background-color .2s;
}

.searchAssocAssets[aria-expanded="true"] > a > .arrow {
	width: 15px;
	margin: 5px 3px 0px 0px;
	background-position: -241px -41px;
}

.searchAssocAssets > a > .arrow {
	float: left;
	background: url('../images/responsive/rwdUI.png') no-repeat;
	width: 10px;
	height: 10px;
	margin: 2px 5px 0px 3px;
	background-position: -221px -41px;
}

.searchAssocAssets > .product_attachment {
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 99;
}

.searchAssocAssets > .product_attachment .item_spacer_5px {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.searchAssocAssets > .product_attachment > .icon {
	float: left;
	margin-right: 5px;
}

.searchAssocAssets > .product_attachment > .details p {
	color: #666666;
	font-size: 14px;
	line-height: 14px;
	margin-left: 10px;
	margin-top: 10px;
	text-align:left;
	text-transform: capitalize;
}

.product_page_content  #productSlot56 {
	float: none;
}

.product_page_content .tab > .content {
	clear: both;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 17px;
	padding-right: 17px;
	color: #4D4D4D;
	line-height: 22px;
}

.product_page_content .tab > .content > div {
	padding-bottom: 10px;
}

.product_page_content .tab > .content > ul {
	padding-top: 2px;
	padding-left: 25px;
	padding-bottom: 10px;
}

.product_page_content .content .merchandisingAssociationWidget .product_info ul {
	padding-left: 0px;
	float: left;
	width: 100%;
}

.product_page_content .content .merchandisingAssociationWidget .product_info .product_option .button {
	width: 97%;
	min-height: 0px;
	line-height: normal;
	padding-bottom: 7px;
	padding-top: 6px;
	word-wrap: break-word;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.product_page_content .content .merchandisingAssociationWidget .product_info .selectWrapper {
	width: 90%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.product_page_content .content .merchandisingAssociationWidget .product_info .selectWrapper .dijitSelect {
	width: 100%;
	min-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.product_page_content #productSlot56 > div:nth-child(2) {
	border-bottom: none;
	display: table-cell;
	display: -moz-groupbox;
}

.product_page_content .widget_product_image_viewer > .content {
	float: right;
	padding-bottom: 20px;
}

.product_page_content .widget_product_image_viewer .image_container {
	/*border-bottom: 1px dotted #767676;(NTR_tNag0305)*/
	width: 95%;
}

div.widget_product_image_viewer {
	width: 100%;
	margin-bottom: 30px;
}

.widget_product_image_viewer .image_container > img {
	width: 100%;
	float: left;
	max-width: 402px;
	max-height: 622px;
	margin-right: 140px;
}

.definingAttributes {
	padding-bottom: 5px;
	font-size: 12px;/*NTR_tNag0316*/
}

.definingAttributes .attBorder {
	border-top: 1px solid #e5e5e5;
}

.definingAttributes .color_swatch_label {
	display: inline-block;
	padding-top: 10px;
}

.definingAttributes > div:first-child {
	padding-top: 0px;
	border-top: none;
}

.definingAttributes div[id^="swatch_selection_"] {
	display: inline-block;
}

.color_swatch_list {
	line-height: 35px;
}

.color_swatch_list > ul,
div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list > ul {
	padding: 0;
}
.color_swatch_list > ul > li,
div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list > ul > li {
	width: 34px;
	text-align: center;
}
.color_swatch_list .color_swatch,
div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list .color_swatch {
	border-radius: 100%;
	box-shadow: 0 0 0 1px #e5e5e5;
	vertical-align: middle;
}

.productDescDropMerch {
	margin-top: 7px;
	background-color: transparent !important;
	padding: 0px !important;
	border-radius: 0px !important;
}

.productDescDropMerch > a > .showDetails {
	font-size: 12px !important;
	font-weight: bold;
	color: #767676 !important;
	line-height: 21px !important;
}

.productDescDropMerch .product_info {
	margin: 0px 0px 0px 0px;
}

.productDescDropMerch .product_info > .header {
	font-size: 14px;
}

.productDescDropMerch .product_info .quantity_section {
	margin-top: 0px !important;
}

.productDescDropMerch .product_info > .product_description {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

.productDescDropMerch .product_info > .product_description > .sku {
	font-size: 10px;
	color: #777;
}

.productDescDropMerch > a > .arrow {
	float: left;
	background: url("../images/responsive/rwdUI.png") no-repeat;
	width: 15px;
	height: 15px;
	margin: 3px 5px 0 3px;
	background-position: -80px -40px;
}

.productDescDropMerch[aria-expanded="true"] > a > .arrow {
	background-position: -100px -40px;
}

#widget_coordinate .list_mode .product > .product_image_merch {
	position: relative;
	width: 100%;
	height:100px;/*NTR_tNag0318*/
	margin: 0px;
}

#widget_coordinate .list_mode .product > .product_name_merch {
	font-size: 12px;/*NTR_tNag0318*/
	color: #767676;
	height: 90px;
}

div.product_listing_container .list_mode .product .product_info > .product_color_swatches {
	clear: left;
	overflow: hidden;
}

.product_listing_container div.col {
	padding-top: 20px;
}
.product_listing_container .list_mode .product {
	float: left;
	max-width: 100%;
}
.product_listing_container .list_mode .product .product_info > .product_option {
	margin-top: 7px;
}
.color_swatch_list .color_swatch_disabled,
div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list .color_swatch_disabled {
	border-radius: 100%;
	box-shadow:0 0 0 1px #c1c1c1;
	vertical-align: middle;
	cursor: default;
}

.color_swatch_list .color_swatch_selected,
.color_swatch_list .color_swatch:hover,
div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list .color_swatch_selected,
div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list .color_swatch:hover {
	border-radius: 100%;
	box-shadow: 0 0 0 3px #fac549;
	vertical-align: middle;
}

.namePartPriceContainer h1{
	font-size: 22px;
	line-height: 24px;
}

.namePartPriceContainer h2{
	font-size: 13px;
	color:#000000;
	padding-left: 24px;
	line-height:30px;
}

div.namePartPriceContainer > .print_section{
	float: right;
	line-height: 16px;
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
}

div.namePartPriceContainer > .print_section > span{
float: right;
}

div.namePartPriceContainer > .print_section > .print_icon{
	float: right;
	margin-right: 10px;
	background: url('../images/colors/color1/widget_product_info/print_icon_sprite.png') no-repeat;
	height: 16px;
	width: 16px;
}

div.namePartPriceContainer > .print_section:hover span{
	text-decoration: underline;
}

div.namePartPriceContainer > .print_section:hover > .print_icon{
	background-position: 0px -16px;
}

div.namePartPriceContainer h1.main_header{
	font-size:16px;line-height:20px;font-weight:bold;/*(NTR_tNag0311)*/	 
	color: #767676;
	display:block;
	padding: 0px;
}

div.namePartPriceContainer > .not_available{
	font-size: 13px;
	color: #767676;
	line-height: 16px;
	font-style:italic;
}

/* DevStart: removed id #price_display since there can be multiple price in the same page */
div.namePartPriceContainer > div > span.configured{
	font-size:16px;
	color: #4d4d4e;
	line-height: 18px;
	margin-top:-2px;
	float: left;
}

div.namePartPriceContainer > div > span.old_price{
	font-size:16px;
	color: #767676;
	line-height: 18px;
	float: left;
	text-decoration: line-through;
	margin-right: 4px; /* Dev: provides space after list price and before offer price */
}


/*START NTR_tNag0311*/
div.namePartPriceContainer .includePartsSlot5 span.price{display:inline-block;height:auto;font-size:14px;line-height:32px;color:#000;font-weight: bold;}
div.namePartPriceContainer .includePartsSlot5 span.price b{font-size:28px;font-family:centuryGB,"Century Gothic",Arial,sans-serif;}
#taxIncldPrice{display:inline-block;height:auto;padding-left:10px;font-size:11px;line-height:20px;color:#000;font-weight: bold;}
#taxIncldPrice:before{content:"[ ";font-size:14px;line-height:20px;}
#taxIncldPrice:after{content:"]";font-size:14px;line-height:20px;}
#taxIncldPrice b{font-size:16px;font-family:centuryGB,"Century Gothic",Arial,sans-serif;}
#taxIncldPrice .kakko{font-size:14px;}


/*END NTR_tNag0311*/

div.namePartPriceContainer > span.sku {
	font-size:10px;
	line-height:12px;
	color: #009e96;/*NTR_tNag0309*/
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 10px;
}

div.namePartPriceContainer .promotion{
	font-size: 12px;
	color: #006ECC;
	text-decoration:none;
}

div.namePartPriceContainer .promotion:hover{
	text-decoration: underline;
}

div.namePartPriceContainer {
	/*border-bottom: 1px solid #e5e5e5; (NTR_tNag0311)*/
	padding:0 5px 4px;/* NTR_tNag0312*/
}


div.namePartPriceContainer .single_star,
.product_listing_container .list_mode .product > .product_info > .product_rating > div.star_ratings .single_star {
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	padding-right: 3px;
	margin-top: 3px;
	background: url("../images/colors/color1/star_rating.png") no-repeat 0 0;
}

div.namePartPriceContainer .single_star:hover,
.product_listing_container .list_mode .product > .product_info > .product_rating > div.star_ratings .single_star:hover {
	background-position: 0px -16px;
}

div.namePartPriceContainer > div.star_ratings {
	padding-top: 1px;
	padding-bottom: 7px;
}

div.namePartPriceContainer > div.star_ratings > span.reviews a,
.product_listing_container .list_mode .product > .product_info > .product_rating > div.star_ratings .reviews a{
	color: #006ecc;
	font-size:12px;
	float: left;
	padding-left: 8px;
	text-decoration: none;
	line-height: 22px;
}

div.namePartPriceContainer > div.star_ratings > span.reviews a:hover,
.product_listing_container .list_mode .product > .product_info > .product_rating > div.star_ratings .reviews a:hover{
	text-decoration: underline;
}

div.namePartPriceContainer div.star_ratings div.stars,
.product_listing_container .list_mode .product > .product_info > .product_rating > div.star_ratings div.stars {
	float: left;
}

.widget_product_info_viewer > .top .social{
	padding-top: 4px;
}


.product_text{
	/*border-top: 1px solid #009e96;NTR_tNag0311*/
	padding-top: 11px;
	padding-bottom: 11px;
	line-height: 22px;
}

.product_text .recurring{
	margin-top: 5px;
}

#itemMainInfomation .product_text{margin:0 5px;border-top:1px solid #009e96;}/*NTR_tNag0312*/

.product_text .recurring:hover .recurring_text{
	text-decoration:underline;
	cursor:pointer;
}

.product_text .recurring .recurring_icon{
	height: 13px;
	width: 13px;
	background: url("../images/colors/color1/widget_product_info/recurring_icon.png");
	background-repeat: no-repeat;
	float: left;
}

.product_text .recurring .recurring_text{
	float: left;
	margin-left: 3px;
	font-size: 12px;
	color: #006ECC;
	text-decoration:none;
}


.product_text > .subscription > .icon{
	height: 13px;
	width: 9px;
	background: url('../images/colors/color1/widget_product_info/subscription_icon.png');
	float: left;
}

.product_text > .subscription > a{
	font-size: 12px;
	text-decoration: none;
	color: #0030df;
	margin-left: 5px;
}

.product_text p {
	color:#4D4D4D;
	font-size:12px;
	line-height: inherit;
	font-family:Arial, Helvetica, sans-serif;
}

.product_text ul {
	padding-left: 14px;
	list-style-type:disc;

}

.product_text ul li{
	color:#4d4d4d;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: inherit;
}

.color_and_size{
	padding-top: 11px;
	padding-bottom: 11px;
	float:left;
}


.options_dropdown select{
	height: 23px; /* Dev: to override legacy css style */
	width: 164px;
}

.check_size_chart{

	color: #006ECC;
	float: left;
	font-size: 12px;
	text-decoration: none;
}

.product_listing_container .list_mode .product > .product_info > .product_option .button_secondary {
	margin-top: 7px;
}

.widget_product_info_viewer > .product_options .color_and_size .heading,
.widget_product_info_viewer > .product_options .color_and_size .header{
	font-size:14px;
}

.widget_product_info_viewer > .product_options .color_and_size .vertical_divider{
	height: 11px;
	width: 1px;
	background: #e5e5e5;
	margin-left: 13px;
	margin-right: 13px;
	margin-top: 7px;
}

.color_swatch_list ul li,
div.product_listing_container .list_mode .product > .product_info > .product_color_swatches > .color_swatch_list ul li {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	cursor: pointer;
}

.quantity_discount,
div#widget_package_summary .quantity_discount,
div.widget_bundle_package_list .quantity_discount{
	font-size: 14px;
	color: #767676;
	line-height: 16px;
}

div#widget_package_summary .quantity_discount{
	margin-bottom: 12px;
}

.quantity_discount > p > span.price,
div#widget_package_summary .quantity_discount > p > span.price,
div.widget_bundle_package_list .quantity_discount > p > span.price{
	color: #009E94;
}

.quantity_section{
	width: 90%;
	padding-top: 16px;
	padding-bottom: 6px;
}

.quantity_section > .quantity_input{
	width: 40px;
	height: 25px;
	padding: 3px;
}

.widget_product_info_viewer > .product_options .divider{
	height: 1px;
	background-color:#E5E5E5;
}

#widget_package_summary > .left_border > .right_border > .content > .item > .available {
	float: none;
	padding-bottom: 20px;
}

.available .header,
.product_listing_container .list_mode .product > .available .header,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .header {
	font-size:12px;/*NTR_tNag0316*/
	line-height: 17px;
}

.available .sublist,
.product_listing_container .list_mode .product > .available .sublist,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .sublist {
	line-height: 14px;
}

.available .sublist .text,
.product_listing_container .list_mode .product > .available .sublist .text,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .sublist .text {
	font-size: 12px;
}

.available .sublist a.store_name,
.product_listing_container .list_mode .product > .available .sublist a.store_name,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .sublist a.store_name {
	font-size: 12px;
	color: #006ECC;
	padding-left: 14px;
	text-decoration: none;
}

.available .sublist a:focus.store_name,
.available .sublist a:hover.store_name,
.product_listing_container .list_mode .product > .available .sublist a:hover.store_name,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .sublist a:hover.store_name {
	text-decoration: underline;
}

.available ul,
.product_listing_container .list_mode .product > .product_info > .available ul,
#widget_package_summary > .left_border > .right_border > .content > .item > .available ul {
	list-style-image:url("../images/colors/color1/widget_product_info/checkmark_icon.png");
}

.available .instore_sublist,
.product_listing_container .list_mode .product > .available .instore_sublist,
#widget_package_summary > .left_border > .right_border > .content > .item > .available .instore_sublist {
	margin-left: 40px;
	font-size:12px;
	line-height: 17px;

}

.available a.check_stores,
.product_listing_container .list_mode .product > .available a.check_stores,
#widget_package_summary > .left_border > .right_border > .content > .item > .available a.check_stores {
	color: #006ECC;
	float: left;
	width: 90%;
	font-size: 12px;
	margin-left: 15px;
	text-decoration: none;
	cursor:pointer;
}

.available a:focus.check_stores,
.available a:hover.check_stores,
.product_listing_container .list_mode .product > .available a:hover.check_stores,
#widget_package_summary > .left_border > .right_border > .content > .item > .available a:hover.check_stores {
	text-decoration: underline;
}

.available {
	padding: 11px 0px;
	width: 100%;
	/*border-bottom: 1px solid #e5e5e5; ((NTR_tNag0316)*/
	float: left;
}

.available > .text {
	font-size: 12px;
	padding-left: 16px;
}

.available > .sublist {
	max-width: 130px;
	float: left;
	padding-top: 4px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.available .subHeading {
	/*float: left;(NTR_tNag0316)*/
	color: #666;
	font-size: 12px;
	line-height: 14px;
	padding-top: 4px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.available .availabilityBorder {
	margin-left: 15px;
/*	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	(NTR_tNag0316)*/
}

.widget_product_info_viewer > .product_options .left_column{
	padding-top: 16px;
	float: left;
	padding-right: 12px;
}

.left_column .quantity_section{
	margin-bottom: 6px;
}

.left_column .quantity_section .header{
	font-size: 16px;
	line-height: 36px;
	padding-right: 10px;
}

.widget_product_info_viewer > .product_options .right_column{
	padding-top: 16px;
}


.widget_product_info_viewer > div.social_commerce{
	padding-top: 11px;
	padding-bottom: 6px;
	border-top: 1px solid #E5E5E5;
}


.widget_product_info_viewer > div.social_commerce .social{
	padding-right: 14px;
}

.widget_product_info_viewer > div.social_commerce .social .social_icon{
	margin-right: 5px;
	height: 25px;
}

.widget_product_info_viewer > div.social_commerce .social .divider{
	width: 1px;
	height: 24px;
	background: #e5e5e5;
	margin-right: 12px;
	margin-left: 7px;
}

.widget_product_info_viewer > div.social_commerce .send_and_print{
	height: 24px;
	line-height: 1px;
	border-left: 1px solid #e5e5e5;
	padding-left: 14px;
}

.widget_product_image_viewer > .content > .other_views {
	margin-right: 15px;
	/*border-bottom: 1px dotted #eeeeee;(NTR_tNag0317)*/
	margin-top:5px;/*(NTR_tNag0317)*/
	position: relative;
	height: 100%;
}

.widget_product_image_viewer > .content > .other_views > .other_views_text{padding:3px 0;font-size:13px;}/*NTR_tNag0317*/

.widget_product_image_viewer > .content > .other_views > ul {
	display: table;
	padding-left: 0px;
}

.widget_product_image_viewer > .content > .other_views > ul > li {
	list-style: none;
	float: left;
	width: 94px;
	height: 94px;
	text-align: center;
	border: 1px dotted #e5e5e5;
}

.widget_product_image_viewer > .content > .other_views > ul > li.selected {
    border: 1px solid #FAC549; 
}

.widget_product_image_viewer > .content > .other_views > ul > li > a > img{
	height: 100%;
	width: auto;
}

div.widget_site_popup > .middle > .content_left_border > .content_right_border > .content .product .product_image img {
	max-width: 60%;
}

div.widget_site_popup > .middle > .content_left_border > .content_right_border > .content form input {
	width: auto;
}

div.widget_site_popup > .middle > .content_left_border > .content_right_border > .content .footer .button_secondary .button_text {
	min-width: 45px;
}

.shopperActions .dropdown_list {
	top: 31px;
	min-width: 270px;
	z-index: 1000;
}

.shopperActions .dropdown_list .created_list_wrapper {
	width: auto;
}

.shopperActions .dropdown_list .message {
	font-style: italic;
	padding: 6px;
	border-bottom: 1px solid #e4e4e4;
	line-height: 14px;
}

.shopperActions .button.primary,
.shopperActions .button.secondary {
	width: 97%;
	max-width: 270px;
}

.shopperActions .dropdown_primary {
	background:#f5f5f5 url('../images/iconCart30.png') 5px -110px no-repeat;/*NTR_tNag_0316*//*(NTR_tNag0317) linear-gradient(rgb(255, 255, 255), rgb(229, 232, 233) 100%);*/
	border: 1px solid #009e96;/*NTR_tNag0317*/
	border-radius: 4px;
	position: relative;
	width: 97%;
	max-width: 250px;/*NTR_tNag0317*/
	min-height: 29px;
	height: 100%;
	
	
}
#btnFavorite{color:#009e96;font-weight:bold;}/*NTR_tNag0317*/
.shopperActions .dropdown_primary > a {
	padding-bottom: 1px;
	font-size: 14px;
	text-align: center;
	color: rgb(50, 50, 50);
	min-width: 200px;
	width: 100%;
}

.shopperActions .dropdown_primary > .drop  {
	height: 100%;
	width: 30px;
	border-left: 1px solid #009e96;/*NTR_tNag0318*/
	line-height: 29px;
	right: 0;
	position: absolute;
}

.shopperActions .dropdown_primary > .drop > a {
	padding-left: 9px;
	display: block;
	vertical-align: middle;
	height: 100%;
}

.shopperActions .dropdown_primary > .drop div {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.shopperActions .dropdown_primary .shoppping_list_content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 65%;
	padding-bottom: 5px;
	padding-top: 5px;
	word-wrap:break-word;
}

div#purchase_options input {
	vertical-align: middle;
}

.productSpecTable {
	font-size: 12px;
	padding: 10px;
}

.specTableHeading {
	border-bottom: 1px solid #999;
	padding: 10px 10px 10px 0px;
}

.specTableHeading h1 {
	font-weight: bold;
	font-size: 12px
}

.specTableRow {
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}

.productSpecs {
	font-size: 12px;
	padding: 10px;
}

#productSpecsTab {
	padding: 10px !important;
}

.widget_bundle_package_list {
	margin-right: 0px !important;
}
.widget_bundle_package_list .widget_product_listing {
	width: 100%;
}

.widget_bundle_package_list .list_mode {
	border: 1px solid #e9e9e9;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 0px !important;
}

.widget_bundle_package_list .product_listing_container > .list_mode .product {
	width: auto;
	padding: 12px 0px 0px 0px;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 20px;
	color: #4D4D4D;
	float:none;
}

.widget_bundle_package_list .product_listing_container > .list_mode div:nth-child(2) {
	border-top: none;
}

.widget_bundle_package_list .product_listing_container > .list_mode .product .product_info {
	border-right: none;
	min-width: 100px;
	width: 85%;
}

.widget_bundle_package_list .product_listing_container > .bundle_mode .product .product_info {
	border-right: 1px solid #e5e5e5;
	width: 34%;
	padding-right: 10px;
}

.widget_bundle_package_list .product_listing_container > .package_mode .product .product_info {
	width: 58.333333%;
}

.widget_bundle_package_list .product_listing_container > .package_mode .product .product_info > .product_quantity_addtolist {
	display: none;
}

.widget_bundle_package_list .product_listing_container .list_mode .product > .product_info > .product_price {
	font-weight: normal;
}

.widget_bundle_package_list .product_listing_container .list_mode .product > .product_info > div:nth-child(2) {
	font-size: 10px;
	color: #767676;
	margin-top: 7px;
	margin-bottom: 7px;
}

.widget_bundle_package_list .product_listing_container > .bundle_mode .product .product_info > .product_description {
	line-height: 22px;
}

.widget_bundle_package_list .product_listing_container .list_mode .product {
	background: none;
	max-width: none;
}

.widget_bundle_package_list .product_listing_container .list_mode .product > .product_image {
	margin: 0px;
	position: relative;
	float: left;
	width: 15%;
}

.widget_bundle_package_list .product_listing_container .bundle_mode .product > .product_image {
	width: 20%;
}

.widget_bundle_package_list .product_listing_container .bundle_mode .product > .product_image > a{
	width: 90%;
}

.widget_bundle_package_list .product_listing_container .package_mode .product > .product_image {
	width: 41.666666%;
}

.widget_bundle_package_list .product_listing_container .package_mode .product > .product_image > a{
	width: 80%;
	max-width: 285px;
}

.widget_bundle_package_list .product_listing_container .list_mode .product > .product_info > .product_name > a {
	font-size: 16px;
	padding-bottom: 0px;
	line-height: 22px;
}

.widget_bundle_package_list .product_listing_container > .list_mode .product .available {
	padding: 10px;
	border-top: none;
	border-bottom: none;
	width: 38%;
}

.list_mode .product_info {
	margin-top: 10px;
	margin-bottom: 0%;
}

.container_margin {
	margin: 0px;
}
.container_full_width_bundle {
	padding: 5px;
	width: 80%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 14px;
	padding-left: 20px;
	max-width: 330px;
	background: #767676;
	color: #fff;
}
.container_full_width_package {
	padding: 5px;
	width: 80%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 14px;
	padding-left: 20px;
	max-width: 330px;
	background: #ddd;
	color: #555;
}

@media (max-width: 600px) {
	.list_mode .product_info {
		margin-bottom: 10px;
	}
	.widget_bundle_package_list .product_listing_container > .list_mode .product .product_info {
		border:none;
		width: 58.333333%;
		padding: 0px;
	}
	.widget_bundle_package_list .product_listing_container .list_mode .product > .product_image {
		width: 41.666666%;
	}
	.widget_bundle_package_list .product_listing_container > .list_mode .product .available {
		border-top: 1px solid #e5e5e5;
		margin-left: 0px;
		float: none;
		display: block;
		width: auto;
		clear: both;
	}
	.productListingWidget {
		border-top: 1px solid #e9e9e9;
	}
	.tab .productListingWidget {
		border-top: none;
	}
	.widget_product_image_viewer > .content > .other_views > .other_views_text {
		font-size:11px;/*(NTR_tNag0317)*/
	}
	.widget_product_image_viewer > .content > .other_views > ul {
		/*padding-left: 40px;(NTR_tNag0317)*/
	}
	.widget_product_image_viewer > .content > .other_views > ul > li {
		width: 43px;
		height: 50px;
	}
	.widget_product_image_viewer > .content > .other_views > ul > li img {
		width: 32px;
		height: 50px;
	}
	div.namePartPriceContainer > .print_section {
		display:none;
	}
	div.widget_product_image_viewer {
		margin-bottom: 0px;
	}
}
@media (min-width: 601px) {
	.productListingWidget {
		border: 1px solid #e9e9e9;
		border-radius: 5px;
	}
	.tab .productListingWidget {
		border: none;
		border-radius: 0px;
	}
	.product_page_content #productSlot56 > div:nth-child(2) {
		margin: 0px 5px;
	}
}
.productListingWidget > .header_bar {
	padding: 10px;
	border-bottom: 1px solid #e9e9e9;
}
.productListingWidget > .footer_bar {
	padding: 10px;
	border-top: 1px solid #e9e9e9;
}
.productListingWidget > .header_bar > .title {
	float: left;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
.productListingWidget > .header_bar > .title > .num_products {
	font-weight: normal;
	text-transform: lowercase;
}
.productListingWidget > .header_bar:after, .productListingWidget > .footer_bar:after {
	content: "";
	display: block;
	clear: both;
}
.controls {
	float: right;
}
.controls > * {
	display: inline-block;
	padding: 5px;
}
.productListingWidget > .header_bar .controls .sorting_controls,
.productListingWidget > .header_bar .controls .view_controls {
	float: left;
	margin-left: 4px;
	padding-right: 0px;
}
.paging_controls {
	float: right;
	display: block;
}
.sorting_view_controls_container {
	padding-left: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	float: right;
	margin-left: 4px;
	display: block;
}
.sorting_controls > span, .sorting_controls > span > label ,
.view_controls > span, .sorting_controls > span > label {
	font-size: 11px;
	vertical-align: top;
}
.sorting_controls > span.page_size_label,
.sorting_controls > span.order_by_label {
	display: inline-block;
	width: 53px;
}
.page_size_label > label,
.order_by_label > label {
	text-transform: uppercase;
}
.productListingWidget #orderByDropdown,
.productListingWidget .orderByDropdown {
	margin-right: 20px;
}
.selectWrapper {
	position: relative;
	display: inline-block;
	background-color: #e9e9e9;
	border: 1px solid #ccc;/*NTR_tNag0316*/
	border-radius: 5px;
	height: 39px;
}
.selectWrapper:hover {
	background-color: #e0e0e0;
	/*border-color:#009e96;NTR_tNag0316*/
}
.selectWrapper .dijitMenuTable {
	background-color: #ffffff;
	border-collapse: collapse;
	border: 1px solid #898989;
}
.selectWrapper .dijitSelect {
	padding: 6px;
	border-radius: 5px;
	color: #545454;
	font-size: 14px;
	cursor: pointer;
	min-width: 140px;
}
.selectWrapperPageSize .dijitSelect {
	min-width: 0px;
}
.selectWrapperPageSize .dijitSelect .dijitReset:first-child {
	display: none;
}
.selectWrapper .dijitSelect .dijitButtonText {
	padding: 0 6px;
}
.selectWrapper .dijitSelect .dijitArrowButtonContainer,
.shopperActions .dropdown_primary > .drop {
	overflow: hidden;
}
.selectWrapper .dijitSelect .dijitArrowButtonContainer:before,
.shopperActions .dropdown_primary > .drop div:before {
	content: url("../images/responsive/rwdUI.png");
	display: block;
	position: relative;
	width: 12px;
	height: 6px;
	margin: 10px 7px;
	float: right;
	top: -1px;
	left: -1px;
}
.shopperActions .dropdown_primary > .drop div:before {
	top: 1px;
	left: -2px;
}
.selectWrapper .dijitSelect .dijitValidationContainer, .dijitSelect .dijitArrowButtonInner {
	display: none;
}
#pageSize_menu,
.pageSizeSelectMenu {
	width: 40px !important;
}
#orderBy_dropdown > #orderBy_menu > table ,
.orderBySelectMenu > table ,
#orderByContent_dropdown > #orderByContent_menu > table ,
#pageSize_dropdown > #pageSize_menu > table ,
.pageSizeSelectMenu > table ,
div[id^="attrValue_"]  > div[id^="attrValue_"] > table {
	position: relative;
	border: 1px solid #898989;
	background: #FFF;
	z-index: 20;
}
#orderBy_dropdown > #orderBy_menu > table tr td,
.orderBySelectMenu > table tr td,
#orderByContent_dropdown > #orderByContent_menu > table tr td,
#pageSize_dropdown > #pageSize_menu > table tr td,
.pageSizeSelectMenu > table tr td,
div[id^="attrValue_"]  > div[id^="attrValue_"] > table tr td {
	height: 16px;
	padding: 12px 0;
	font-size: 14px;
	line-height: 16px;
	padding-left: 5px;
	color: #545454;
	border-bottom: 1px solid #898989;
	list-style: none;
}
#pageSize_dropdown > #pageSize_menu > table tr td,
.pageSizeSelectMenu > table tr td {
	text-align: center;
}
#orderBy_dropdown > #orderBy_menu > table tr.dijitSelectSelectedOption,
.orderBySelectMenu > table tr.dijitSelectSelectedOption,
#orderByContent_dropdown > #orderByContent_menu > table tr.dijitSelectSelectedOption,
#pageSize_dropdown > #pageSize_menu > table tr.dijitSelectSelectedOption,
.pageSizeSelectMenu > table tr.dijitSelectSelectedOption,
div[id^="attrValue_"]  > div[id^="attrValue_"] > table tr.dijitSelectSelectedOption  {
	background: #898989;
}
#orderBy_dropdown > #orderBy_menu > table tr.dijitMenuItemSelected,
.orderBySelectMenu > table tr.dijitMenuItemSelected,
#orderByContent_dropdown > #orderByContent_menu > table tr.dijitMenuItemSelected,
#pageSize_dropdown > #pageSize_menu > table tr.dijitMenuItemSelected,
.pageSizeSelectMenu > table tr.dijitMenuItemSelected,
div[id^="attrValue_"]  > div[id^="attrValue_"] > table tr.dijitMenuItemSelected  {
	background: #898989;
}
#orderBy_dropdown > #orderBy_menu > table tr.dijitMenuItemSelected > td:nth-child(2),
.orderBySelectMenu > table tr.dijitMenuItemSelected > td:nth-child(2),
#orderByContent_dropdown > #orderByContent_menu > table tr.dijitMenuItemSelected > td:nth-child(2),
#pageSize_dropdown > #pageSize_menu > table tr.dijitMenuItemSelected > td:nth-child(2),
.pageSizeSelectMenu > table tr.dijitMenuItemSelected > td:nth-child(2),
div[id^="attrValue_"] > div[id^="attrValue_"] > table tr.dijitMenuItemSelected > td:nth-child(2) {
	color: #FFF !important;
}
#orderBy_dropdown > #orderBy_menu > table tr.dijitSelectSelectedOption > td:nth-child(2),
.orderBySelectMenu > table tr.dijitSelectSelectedOption > td:nth-child(2),
#orderByContent_dropdown > #orderByContent_menu > table tr.dijitSelectSelectedOption > td:nth-child(2),
#pageSize_dropdown > #pageSize_menu > table tr.dijitSelectSelectedOption > td:nth-child(2),
.pageSizeSelectMenu > table tr.dijitSelectSelectedOption > td:nth-child(2),
div[id^="attrValue_"]  > div[id^="attrValue_"] > table tr.dijitSelectSelectedOption > td:nth-child(2) {
	color: #FFF !important;
}
.view_controls > *, .paging_controls > * {
	display: inline-block;
	vertical-align: middle;
}
.paging_controls > .right_arrow  > img,
.paging_controls > .left_arrow  > img {
	padding: 10px;
}
.paging_controls > .left_arrow  > img {
	padding-left: 0px;
}
.paging_controls > .right_arrow  > img {
	padding-right: 0px;
}
.paging_controls > .invisible {
	visibility: hidden;
}
.paging_controls > .invisible_none {
	display: none;
}
.grid_icon, .list_icon {
	display: inline-block;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	padding: 11px;
	width: 17px;
	height: 17px;
}
.grid_icon:before, .list_icon:before {
	content: url("../images/responsive/rwdUI.png");
	position: absolute;
	top: -10px;
}
div.grid_icon, a.grid_icon:hover, div.list_icon, a.list_icon:hover {
	background-color: #767676;
}
a.grid_icon:before {
	left: -30px;
	clip: rect(21px,58px,38px,41px);
}
div.grid_icon:before, a.grid_icon:hover:before {
	left: -50px;
	clip: rect(21px,78px,38px,61px);
}
a.list_icon:before {
	left: -70px;
	clip: rect(21px,98px,38px,81px);
}
div.list_icon:before, a.list_icon:hover:before {
	left: -90px;
	clip: rect(21px,118px,38px,101px);
}

.pages > * {
	display: inline-block;
	vertical-align: middle;
}
.pages > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pages > ul > * {
	display: inline-block;
	vertical-align: middle;
}
.pages > ul > .active {
	width: 39px;
	background-color: #767676;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	color: #ffffff;
	line-height: 39px;
	text-align: center;
}
.controlBar .pageControl {
	list-style: none;
}
.pageControlMenu .controlBar .pageControl.number > a {
	margin: 0px;
}
.hoverover > a {
	display: block;
	width: 39px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	line-height: 39px;
	text-align: center;
}
.hoverover > a:hover {
	background-color: #767676;
	color: #fff;
}

.grid > .col {
	float: left;
}
.grid:after {
	content: "";
	display: block;
	clear: both;
}
.product_listing_container > .grid_mode li {
	padding-top: 20px;
}
.product_listing_container > .list_mode > li {
	min-height: 410px;
	height: 100%;
	padding-bottom: 10px;
	position:relative;
}
.product {
	max-width: 250px;
	padding: 10px;
	margin: 0 auto;
	line-height: normal;
}
.product_image {
	text-align: center;
	overflow:hidden;
}

.product > .product_image {
	overflow:visible;
}
.catPos >.product_image  {
	border: 1px solid transparent;
}
.catPos >.product_image > a {
	position:relative;
	display:block;
	height: 160px;
	text-align: center;
}
.catPos  > .product_image > a > img {
	position:relative;
	max-height: 160px;
	margin: 0 -100px;
}


.product >.product_image > a {
	display: inline-block;
	max-width: 100%;
}

.product >.product_image > a > img {
	display: block;
	margin: auto;
}

div.widget_sidebar_container > .left_border > .right_border > .content div.product {
	padding: 0px;
}

.product_image .image {
  position: relative;
  width: 100%;
}

/* Default background for all ribbon ad's */
.product_image .RibbonAdDefault {
	position:absolute;
	/*bottom:40px;(NTR_tNag_0602)*/
	left:0;
	width:110px;
	height:20px;
	background-color:#2C2C2C;
	background: -webkit-gradient(linear, left top, right top, color-stop(0.76, rgba(68, 68, 68, 1)), color-stop(1, rgba(255, 255, 255, 0)));
	background: linear-gradient(to right, rgba(68, 68, 68, 1) 76%, rgba(255, 255, 255, 0) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr='#FF444444', endColorStr='#00FFFFFF')";
	zoom: 1;
	font-size: 14px;
	line-height:20px;
	font-family: arial, Helvetica, sans-serif;
	color:#FFF;
	padding-left:10px;
	border-radius:3px;
	text-align:left;
	vertical-align:baseline;
	overflow:visible;
	white-space: nowrap;
}

.product_image .RibbonAdDefault.RIBON_icon{bottom:20px;}
.product_image .RibbonAdDefault.RIBON_icon2{bottom:50px;}
.product_image .RibbonAdDefault.RIBON_icon3{bottom:80px;}
.product_image .RibbonAdDefault.RIBON_icon4{bottom:110px;}


.product_image .RibbonAdDefault.Exclusive {
	background-color:#009E94;
	background: -webkit-gradient(linear, left top, right top, color-stop(0.76, rgba(202, 67, 0, 1)), color-stop(1, rgba(255, 255, 255, 0)));
	background: linear-gradient(to right, rgba(202, 67, 0, 1) 76%, rgba(255, 255, 255, 0) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr='#FFCA4300', endColorStr='#00FFFFFF')";
	bottom: 70px;
}
.grid_mode .product_name {
	padding: 5px 0px 0px 15px;
	min-height: 53px;
}
.list_mode .product_info > .product_name > a {
	padding-bottom: 15px;
	font-size: 17px;
	line-height: 18px;
	height: inherit;
	color: #646464;
}
.product_info > .product_name > a {
	display: block;
	color: #646464;
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 5px;
}
.product_info > .product_price {
	color: #009E94;
	font-size: 14px;
	font-weight: bold;
}
.product_info > .product_price > .old_price {
	color: #767676;
	text-decoration: line-through;
}
.grid_mode .product_price {
	padding: 5px 0px 0px 15px;
	min-height: 24px;
}
.product_info > .header {
	display: inline-block;
	font-size: 11px;
}

.button.primary,
.button.secondary {
	display: inline-block;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FBBB0B), to(#EE9505));
	background-image: linear-gradient(#FBBB0B, #EE9505);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FBBB0B', endColorStr='#EE9505')";
	border-radius: 4px;
	width: 200px;
	max-width: 100%;
	line-height: 29px;
	min-height: 29px;
	text-align:center;
	border: 1px solid #BFBFBF;
	color: #333333;
	font-size:14px;
}

#add2CartBtn.button.primary{
display:inline-block;width:270px;max-width:100%;min-height:29px;margin-right:auto;margin-left:auto;border:1px solid #d8495a;border-radius:4px;font-size:16px;line-height:29px;font-weight:bold;text-align:center;color:#fff;background:#fc527b url('../images/iconCart30.png') 5px -8px no-repeat;
}/*NTR_tNag_0316*/


.button.primary2,
.button.secondary2 {
	display: inline-block;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#bfbfbf));
	background-image: linear-gradient(#bfbfbf, #bfbfbf);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#bfbfbf', endColorStr='#bfbfbf')";
	border-radius: 4px;
	width: 200px;
	max-width: 100%;
	line-height: 29px;
	min-height: 29px;
	text-align:center;
	border: 1px solid #BFBFBF;
	color: #333333;
	font-size:10px;
}

.button.primary#ntrUnavilableArea,.button.primary2#ntrUnavilableArea{
background-image:none;background-color:#999;color:#fff;
}
/*NTR_tNag_0318*/


.button.secondary {
	background-image: linear-gradient(#f7f9f9, #e5e8e9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#e5e8e9')";
}

.button.secondary2 {
	background-image: linear-gradient(#bfbfbf, #bfbfbf);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#bfbfbf', endColorStr='#bfbfbf')";
}

.button.primary:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FED60C), to(#F8AF06));
	background-image: linear-gradient(#FED60C, #F8AF06);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FED60C', endColorStr='#F8AF06')";
}

.button.secondary:hover {
	background-image: linear-gradient(#f7f9f9, #ced2d3);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9f9), to(#ced2d3));
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f7f9f9', endColorStr='#ced2d3')";
}

.compare_target {
	display: inline-block;
	font-size: 9px;
	text-transform: uppercase;
	color: #5B5B5B;
	line-height: 15px;
	font-weight: bold;
	min-width: 90px;
	padding: 7px 7px 7px 9px;
	text-align: left;
}
.compare_target[data-state="2"] {
	padding: 0px 0px 0px 9px;
}
.compare_target[data-state="1"], .compare_target[data-state="2"] {
	background-color: #f0f0f0;
	border-radius: 4px;
}
.compare_target > input {
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	top: -1px;
}
.compare_target > label {
	cursor: pointer;
}
.compare_target > a {
	display: none;
	padding: 7px;
	background-color: #767676;
	border-radius: 0 4px 4px 0;
	color: #ffffff;
	text-decoration: none;
	margin-left: 4px;
	padding-left: 10px;
	padding-right: 10px;
}
.compare_target[data-state="2"] > a {
	display: inline-block;
}
.compare_target_hidden {
	visibility: hidden;
}
.compareCheckboxLabels {
	display: none;
}

.catPos {
	width: 90%;
	margin: 0 auto;
	background: #e9e9e9;
	border: 1px solid #cccbcb;
	overflow:hidden;
	position: relative;
	border-radius: 4px;
}

.productListHeader {
	padding: 10px 20px 0 20px;
}

.catPos_catalog {
	width: 90%;
	margin: 0 auto;
	overflow:hidden;
	border-radius: 4px;
}

#quick_cart_container, #MiniShopCartProductAdded {
	left: auto !important;
	right:0px !important;/*(NTR_tNag_I)*/
	/*top: 71px !important;(NTR_tNag_150507)*/

}
#quick_cart_container > .dijitDialogPaneContent, #MiniShopCartProductAdded > .dijitDialogPaneContent {
	width: auto !important;
	height: auto !important;
}

div#widget_breadcrumb {
	padding: 0 10px;
}
	div#widget_breadcrumb > ul {
		padding: 0;
		list-style-type: none;
	}
		div#widget_breadcrumb > ul li {
			display: inline;
			color: #009E94;
			font-size: 12px;
			margin:0;
		}
		div#widget_breadcrumb > ul li a{
			text-decoration: none;
			color: #009E94;
		}
		div#widget_breadcrumb > ul li:hover a{
			text-decoration: underline;
		}
		div#widget_breadcrumb > ul li.current {
			color: #767676;
		}
		div#widget_breadcrumb > ul span.divider,
		div#widget_breadcrumb > ul li.divider {
			margin: 0 6px;
			color: #dedede;
			font-size: 12px;
		}

/*Facets*/
.facetWidget {
	background:#f0f0f0;
	border-radius: 5px;
}

#content .facetWidget.collapsible {
	padding: 10px 5%;
	position: relative;
}

.facetWidget .dropdownIcon {
	float:left;
	width:16px;
	height:16px;
	background: url('../images/responsive/rwdUI.png');
	background-position: -61px -41px;
	margin: 3px 6px 0 0;
}
.facetWidget[aria-expanded="false"] .dropdownIcon {
	background-position: -41px -41px;
}

.optionContainer > .title {
	height: 40px;
	color: #545454;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	margin: 10px 1px 0 1px;
	padding:0 5%;
	border-radius: 5px 5px 0 0;
	background: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F1F1F1));
	background: linear-gradient(#FFFFFF, #F1F1F1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#F1F1F1')";
	cursor: pointer;
	border-bottom: 1px solid #e3e1e1;
	border-top: 1px solid #e3e1e1;
}

	.optionContainer.vertical .title {
		margin: 10px 5% 0 0;
	}

.optionContainer .arrow {
	width: 14px;
	height: 14px;
	margin: 14px 5px 0 0;
	float:left;
	position: relative;
	overflow: hidden;
}
	.optionContainer .arrow:before {
		content: url('../images/responsive/rwdUI.png');
		position: absolute;
		left: -101px;
		top: -41px;
	}
.optionContainer .arrow_collapsed:before {
	left: -81px;
}

.facetWidget .clearAll {
	float: right;
	text-align: right;
	width: 66px;
	line-height: 22px;
	font-size: 13px;
	color: #404040;
	position: absolute;
	right: 15px;
	top: 10px;
}

	.facetWidget .clearAll:hover {
		text-decoration: underline;
	}

.facetWidget .close {
	float:left;
	width: 15px;
	height: 15px;
	background: url('../images/responsive/rwdUI.png');
	background-position: -61px -1px;
	margin-top: 5px;
}

	.facetWidget .clearAll:hover .close {
		background-position: -241px -1px;
	}

#facetFilterListWrapper .facetSelectedCont {
	border-top:1px solid #e3e1e1;
	border-bottom:1px solid #e3e1e1;
	margin:7px 5% 0 0;
	padding:3px 0;
	width:95%;
}
	#facetFilterListWrapper .facetSelectedCont .filter_option img {
		border-radius:100%;
		vertical-align:middle;
	}

	#facetFilterListWrapper .facetSelected {
		list-style:none;
		font-size:13px;
		line-height:30px;
	}
		#facetFilterListWrapper .facetSelected:hover {
			text-decoration: underline;
		}
		#facetFilterListWrapper .facetSelected:hover .close{
			background-position: -241px -1px;
		}
	#facetFilterListWrapper .facetSelected.vertical {
		width:95%;
	}
		.facetSelected .close {
			margin:9px 3px 0 0;
		}
	#facetFilterListWrapper .header {
		width:95%;
		margin:0 5% 0 0;
	}

	.facetWidget > .title,  .facetWidget > .facetHeader > .title{
		color:#4D4D4D;
		font-size:17px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		text-align:left;
		cursor:pointer;
		float:left;
		position:relative;
	}

	.facetWidget .openTab {
		float:right;
		font-size: 13px;
		margin-right: 20px;
		font-style: normal;
		font-weight: normal;
		cursor: pointer;
	}

	.facetSelectContainer {
		background:#FFF;
		margin:0;
		padding:0 0 10px 0;
		border-radius:0 0 5px 5px;
	}
	.facetSelectContainer > ul {
		padding: 0;
	}
	.facetSelectContainer .facetSelectedHighlight {
		color:#009E94;
		font-weight:bold;
	}
	.facetSelectContainer .facetSelect li.singleFacet {
		border-bottom:none;
		margin-bottom:2px;
		padding:10px 5%;
		text-align:center;
		width:30px;
		float:left;
	}
	.facetSelectContainer .swatch .outline > span {
		display:table-cell;
		height:34px;
		vertical-align:middle;
	}
	.facetSelectContainer .swatch img,
	.facetSelected > a > div.filter_option > span > img {
		border-radius:100%;
		vertical-align:middle;
		box-shadow:0 0 0 1px #E5E5E5;
	}
	.facetSelectContainer .swatch .outline.facetSelectedHighlight > span > img {
		box-shadow:0 0 0 3px #FAC549;
	}

	.facetSelect .swatch .outline {
		display:inline-block;
		text-align:center;
	}
		.optionContainer.vertical .facetSelectContainer {
			margin-right:5%;
		}
	#catSelectCont,
	.col12 > .facetWidget > #facetLinkSelect {
		margin-right: 5%;
	}

	.facetWidget #facetLinkSelect {
		max-height: none;
		overflow-y: inherit;
		margin-right: 20px;
		background: none;
	}
		#facetFilterListWrapper .facetSelect {
			margin-top: 0;
		}
		.facetSelect li {
			list-style: none;
			line-height: 16px;
			font-size: 12px;
			color: #565656;
			padding:10px 5%;
			border-bottom: 1px solid #e3e1e1;
		}

		.facetSelect li a {
			display: block;
			margin: -10px -5%;
			padding: 10px 5%;
		}

		.facetSelect li a:hover {
			text-decoration: underline;
		}

		.showMore {
			line-height: 16px;
			font-size: 12px;
			color: #565656;
			cursor: pointer;
			text-align: right;
			padding: 5px 5% 0 0;
		}

			.showMore:hover {
				cursor:pointer;
			}

		#facetFilterListWrapper .facetSelect li:first-child {
			padding-top: 0;
		}

		#colorSelect .facetSelect li:first-child {
			padding-top: 10px;
		}

			/*Color Facet Selection Specifics*/

			#fSCColor ul li {
				float:left;
				text-align:center;
				width:30px;
				margin-bottom:2px;
				border-bottom: none;
				padding: 10px 5%;
			}

			#facetLinks ul li {
				border-bottom: none;
			}


			#facetLinks ul li,
			#facetCat ul li {
				padding-left: 10%;
			}

			#facetCat.col8 li {
				padding-left: 4%;
			}

			#facetCat ul li {
				background:#FFF;
			}

			#facetCat.col8 li {
				width:27.3%;
				float:left;
				margin-right:2%;
			}

			#fSCPrice input {
				height: 20px;
				border: 1px solid #767676;
			}

			.facColor {
				width:20px;
				height: 20px;
				border-radius: 10px;
				margin: 0 auto 2px auto;
			}

			.facetSelect .checkBox {
				width: 12px;
				height: 12px;
				margin: 0 5px 0 0;
				border: 1px solid #a5a5a5;
				background-color: #d7d7d7;
				float: left;
				position:relative;
				display: none;
			}
			.singleFacet .facetSelect .checkBox {
				display: block;
			}
			.facetSelect li input:checked + a .checkBox > .checkmark {
				position:absolute;
				background: url('../images/responsive/rwdUI.png');
				background-position: -81px -1px;
				margin-left: 1px;
				margin-top:1px;
				width:12px;
				height:11px;
			}

	ul.facetSelect li input[type=checkbox] {
		height:1px;
		width:1px;
		position:absolute;
		overflow:hidden;
		left:-30px;
	}
	ul.facetSelect li div.facetCountContainer {
		display:inline-block;
	}

	.optionContainer.fixed{
		min-width: 200px;
		float:left;
	}

	.optionContainer.percent{
		width: 33.33333%;
		float:left;
	}

	.optionContainer.vertical{
		width: 100%;
		float:left;
	}

#facetFilterListWrapper > .facetSelectedCont {
	border-top: 1px solid #E3E1E1;
	border-bottom: 1px solid #E3E1E1;
	margin-top: 7px;
	padding: 0px;
}
#facetFilterList li {
	font-size: 12px;
	list-style: none;
	padding: 3px 0;
	display: inline-block;
	vertical-align: top;
	line-height: 28px;
	min-width: 50%;
}

.homeHero > .textContainer > .button {
	border: 1px solid transparent;
}

.homeHero > .textContainer > .button:focus {
	border: 1px dotted #000000;
}

#pageNumber3, #pageNumber4 {
	display: none;
}

.pages .pageNumber > .arrow,
.pageControl.number > .dropdownToggleButton > .arrow {
	background: url('../images/responsive/rwdUI.png');
	background-position: -141px -1px;
	width: 7px;
	height: 9px;
	position: absolute;
	right: 2px;
	bottom: 2px;
}

.pageOptionsDropdown {
	position: absolute;
	display: none;
	top: 45px;
	left: -5px;
	z-index: 100;
	width: 84px;
	background: #FFF;
	border: 1px solid #A0A0A0;
	padding: 0px 3px 3px 0px;
}

.pageOptionsDropdown > .ellipsis {
	list-style: none;
	width: auto !important;
	text-align: center;
	line-height: 15px;
	margin: 5px 5px 5px 40px !important;
	font-weight: bold;
	border: 0 !important;
	cursor: default;
	/* Safari */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* IE */
	-ms-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.pageOptionsDropdown > .pageDropdownClose {
	list-style: none;
	float: left !important;
	width: 15px !important;
	height: 15px !important;
	border: 0 !important;
	background: url('../images/responsive/rwdUI.png');
	background-position: -61px -1px ;
	margin: 16px 0 0 15px !important;
}

.pageOptionsDropdown > .pageDropdownClose:hover {
	background-position: -241px -1px ;
}

.pageDropdownClose {
	list-style: none;
	float: left;
	width: 15px;
	height: 15px;
	background: url('../images/responsive/rwdUI.png');
	background-position: -61px -1px;
	border: 14px solid #ffffff;
}

.pageNumber:hover, .pageNumber.active {
	border-color: #767676;
	background: #767676;
	color: #FFF;
	cursor: pointer;
}

.pageNumber {
	margin-left: 3px;
	float: left;
	border: 1px solid #A0A0A0;
	background: #FFF;
	width: 37px;
	height: 30px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding-top: 8px;
	text-align: center;
	list-style: none;
}

.pagingLeft {
	float: left;
	background-position: -21px -1px;
	width: 6px;
	height: 12px;
	margin-top: 13px;
	margin-right: 17px;
}

.pagingRight {
	float: left;
	background-position: -41px -1px;
	width: 11px;
	height: 12px;
	margin-top: 13px;
	margin-left: 16px;
}

.productListingWidget > .header_bar .pagination_controls {
	clear: left;
}

@media screen and (max-width: 952px) {
	.productListingWidget > .header_bar .pagination_present {
		min-height: 91px;
	}
	.sorting_view_controls_container {
		clear: both;
		padding-top: 0px;
		padding-right: 0px
	}
	.widget_articles_videos_position .sorting_view_controls_container {
		clear: none;
		padding-top: 5px;
		padding-right: 15px;
	}
	.paging_controls > .left_arrow  > img {
		padding-left: 10px;
	}
	.paging_controls > .right_arrow  > img {
		padding-right: 10px;
	}
}

@media screen and (max-width: 856px) {
	.homePageContainerRow4 > div {
		width: 100%;
	}

	#videoContentFrame {
		width: 461px;
		height: 265px;
		margin-left: -230px;
	}

	div.widget_title_container h1 {
		font-size: 23px;
	}
}

@media screen and (max-width: 770px) {
	.productSpecTable .specTableRow .specTableLabel {
		width: 50%;
	}
	.productSpecTable .specTableRow .specTableValue {
		width: 50%;
	}
}

@media screen and (max-width: 520px) {
	.productSpecTable .specTableRow .specTableValue {
		text-align: right;
	}

	#videoContentFrame {
		width: 320px;
		height: 183px;
		margin-left: -160px;
	}

	#modelBoxClose {
		top: 12px;
		right: 12px;
	}
}

@media screen and (max-width: 1628px){
	#articleListing li {
		float: left;
		margin-right: 20px;
	}
}

@media screen and (min-width: 1660px) {
	#articleListing li {
		width: 32% !important;
	}
}

/*@BP-C 1281px+*/
@media screen and (min-width: 1281px) {
	#productsFacetsHorizontal > fieldset{
		width: 48%;
		float:left;
		padding: 1%;
		/*margin: 2px 4px 2px 4px;*/
	}

	#articleListing li {
		float: left;
		width: 47%;
		margin-right: 10px
	}
	.product_page_content #productSlot56 > div:nth-child(2) {
		margin: -10px 5px;
		display: block;
		padding: 0px 5px;
	}
	.product_page_content  #productSlot56 {
		float: left;
	}

}

/*@BP-B 601px-1280px*/
@media screen and (max-width: 1280px) {
	#productsFacetsHorizontal > fieldset{
		width: 48%;
		/*display: inline-block;*/
		float:left;
		padding: 1%;
		/*margin: 2px 4px 2px 4px;*/
	}
	#orderByDropdown .dijitSelect .dijitButtonText,
	.orderByDropdown .dijitSelect .dijitButtonText {
		display: none;
	}
	#orderByDropdown .dijitSelect,
	.orderByDropdown .dijitSelect {
		min-width: 0px;
	}
	#orderByDropdown .dijitSelect .dijitArrowButtonContainer:before,
	.orderByDropdown .dijitSelect .dijitArrowButtonContainer:before {
		float: left;
	}
	.sorting_controls .selectWrapper {
		width: 33px;
	}
	.selectWrapper .dijitSelect .dijitArrowButtonContainer:before {
		margin: 10px 5px;
	}
	.productListingWidget > .header_bar .controls > * {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 1133px) {
	.pageSelection {
		display: block;
	}
	.productListingWidget > .header_bar .controls {
		position: relative;
	}
	.pageControlMenu .controlBar .pageControl.number > a {
		margin: 4px;
	}
	.pageControlButton:focus {
		border: 1px dotted #000000;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.bundle_package_page .row .slot4 {
		width: 35%;
	}
	.bundle_package_page .row #productSlot56 {
		width: 20%;
		float: left;
	}
	.bundle_package_page .row .slot5, 
	.bundle_package_page .row .slot6,
	.bundle_package_page .row .slot8,
	.bundle_package_page .row .tabbedSlots9_10_11
	{
		width: 100%;
	}
	.bundle_package_page .slot7{
		width: 45%;
	}
	.bundle_package_page .kit_pageDesign_pageGroup #productSlot56 {
		width: 30%;
	}
	.bundle_package_page .kit_pageDesign_pageGroup .slot7{
		width: 35%;
	}
}

@media screen and (max-width: 535px) {
	#shoppingListItemAddedPopup  > div.dijitDialogPaneContent {
		width: auto !important;
		height: auto !important;
	}

	div.widget_site_popup > .middle > .content_left_border > .content_right_border > .content {
		width: auto;
	}

	.widget_subscription_item > .top, .widget_subscription_item > .bottom {
		width: auto;
	}

	.widget_subscription_item > .top > .middle {
		width: auto;
	}

	.widget_subscription_item > .middle {
		width: auto;
	}

	.widget_subscription_item > .middle > .content_left_border {
		width: auto;
	}

	.widget_subscription_item > .middle > .content_left_border > .content_right_border {
		width: auto;
	}
}

@media screen and (max-width: 480px), screen and (min-width: 601px) and (max-width: 738px) {
	.productListingWidget > .header_bar .pagination_present {
		margin-top: -30px;
	}
}

@media screen and (max-width: 420px), screen and (min-width: 601px) and (max-width: 652px) {
	.product_listing_container .list_mode .product > .product_image {
		width: 180px;
		position: relative;
	}
	.product_listing_container .list_mode .product {
		padding-left: 15px;
	}
	.product_listing_container .list_mode .catEntryList_border {
		margin: 10px 0px;
		width: 100%;
	}
}

@media screen and (max-width: 377px) {
	#articleListing li .content h1 {
		width: 100px;
	}
	.productListingWidget > .header_bar .pagination_present {
		margin-top: 0px;
	}
	.productListingWidget > .header_bar .controls {
		margin-right: -7px;
	}
	.productListingWidget #orderByDropdown, 
	.productListingWidget .orderByDropdown {
		margin-right: 0px;
	}
}

/*@BP-A 0-600px*/
@media screen and (max-width: 600px) {
	#productsFacetsHorizontal > fieldset {
		width: 98%;
	}
	div#widget_coordinate > .middle > .content {
		padding: 0px 0px 40px 0px;
	}

	div#widget_coordinate > .middle > .content > .up_arrow {
		left: 199px;
	}

	div#widget_coordinate > .middle > .content > .down_arrow {
		left: 199px;
	}
	.product_page_content #productSlot56 > div:nth-child(2) {
		display: inline-block;
	}
	.widget_product_image_viewer .image_container > img {
		margin-right: 0px;
	}
	.widget_bundle_package_list .list_mode {
		width: 99%;
	}
	.tab {
		border-radius: 0px;
		border-left: none;
		border-right: none;
		width: 100%;
	}
	.definingAttributes{
		width: 95%;
		padding-left: 10px;
	}
	.definingAttributes .color_swatch_label {
		padding-top: 10px;
	}
	.available {
		width: 95%;
		margin-left: 10px;
	}
	.shopperActions {
		padding-left: 10px;
	}
	.textContainer .title {
		font-size: 22px;
		line-height: 18pt;
	}
	.textContainer .bodyText {
		font-size: 12px;
		line-height: 13pt;
	}

	.tabButtonContainer {
		margin-bottom: 0px !important;
	}

	#quick_cart_container, #MiniShopCartProductAdded {
		left: 0 !important;
		right: 0 !important;
		top: 55px !important;(NTR_tNag_H)
	}

	#content .collapsible {
		border-radius: 0;
	}

	#contentFacet, #contentProducts {
		float: none;
		width: auto;
	}

	#contentFacet {
		height: 300px !important;
	}

	.changeOrientation {
		display: none;
	}

	#homePageEspot_Left_Slot,
	#homePageEspot_Right_Slot {
		padding-left: 10px;
	}

	div#widget_breadcrumb {
		display: none;
	}
}

/* Facebook Like Widget */
.facebookLikeWidget {
	padding: 13px 10px 20px;
}

/* Facebook Activity Widget */
.widget_fb_activity > .widget_main {
	display:block;
	border:1px solid #E5E5E5;
}

.widget_fb_activity > .widget_main > .content {
	background-color: #FFFFFF;
	height: 390px;
	position: relative;
}

.widget_fb_activity > .widget_main > .content > .logo_like {
	height: 30px;
	border-bottom: 1px solid #f1f1f1;
	padding-top: 8px;
	padding-left: 12px;
	padding-right: 12px;
}

.widget_fb_activity > .widget_main > .content > .logo_like > .facebook_like {
	height: 34px;
	float: left;
}

.widget_fb_activity > .widget_main > .content > .header {
	height: 34px;
	border-bottom: 1px solid #f1f1f1;
	line-height: 34px;
	text-transform: uppercase;
	color: #666666;
	font-size: 11px;
	padding-left: 12px;
	padding-right: 12px;
}

@media (-webkit-device-pixel-ratio: 2) {
	.searchAssocAssets > a > .arrow,
	.productDescDropMerch > a > .arrow,
	.selectWrapper .dijitSelect .dijitArrowButtonContainer:before,
	.facetWidget .dropdownIcon,
	.facetWidget .close,
	.facetSelect li input:checked + a .checkBox > .checkmark,
	.pages .pageNumber > .arrow,
	.pageControl.number > .dropdownToggleButton > .arrow,
	.pageOptionsDropdown > .pageDropdownClose,
	.pageDropdownClose {
		background: url('../images/responsive/rwdUI@2x.png');
		background-size: 300px 400px;
	}
	#content .collapsible > h3:before,
	.categoryNavWidget.collapsible > h3:before,
	.grid_icon:before,
	.list_icon:before,
	.optionContainer .arrow:before {
		content: url("../images/responsive/rwdUI@2x.png");
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0 0;
	}
	#content .collapsible > h3:before,
	.categoryNavWidget.collapsible > h3:before {
		clip: rect(82px,156px,116px,122px);
	}
	#content .collapsible[aria-expanded="false"] > h3:before,
	.categoryNavWidget.collapsible[aria-expanded="false"] > h3:before {
		clip: rect(82px,116px,116px,82px);
	}
	a.grid_icon:before {
		clip: rect(42px,116px,76px,82px);
	}
	div.grid_icon:before, a.grid_icon:hover:before {
		clip: rect(42px,156px,76px,122px);
	}
	a.list_icon:before {
		clip: rect(42px,196px,76px,162px);
	}
	div.list_icon:before, a.list_icon:hover:before {
		clip: rect(42px,236px,76px,202px);
	}
}



/*Add to NTR0305*/

#inform2 {width:100%; font-size:12px; line-height:1.5em;}
#inform2 img{max-width:100%; display:block; border:none;}
#inform2 p {margin:5px auto; padding:0;}
#inform2 p.ttl{	font-size:1.2em; font-weight:bold; border-bottom:1px dotted #999999; margin:1% 0; padding-top:1%;}
#inform2 ul {list-style-type:none; overflow:hidden; margin:0; padding:0;}
#inform2 li { width:45%; margin:1%; padding:1%; display:inline-block; vertical-align:top; border-top:1px dotted #ccc;}
#inform2 .red {color:#f00;}
.movYT{ position:relative; padding-bottom: 56.25% !important; padding-top:30px; height:0; overflow:hidden;}
.movYT iframe{ position:absolute; top:0; left:0; width:100%; height:100%; }
/*@media screen and (max-width:1280px){
#inform2 li { width:28%;}
}
*/
@media screen and (max-width:600px){
#inform2 li { width:96%;}
}
/*@media screen and (max-width:480px){
#inform2 li { width:96%;}
}
*/

#agree #agree_img_list,#agree #agree_main_img,#agree #agree_message,#agree #agree_agree{display:none;}


.column_label h1{font-size:14px;line-height:20px;}/*NTR_tNag_0602*/







