@charset "utf-8";

/* 
----------------------------------------------------------------------------- 
BACKGROUND IMAGE
-----------------------------------------------------------------------------*/

body { 
    background-image: url(../../img/common/bg_night.gif);
    background-color: #9accff ;
}
