@charset 'utf-8';

/*
-----------------------------------------------------------------------------
BASIC INLINE/TEXT STYLING
-----------------------------------------------------------------------------*/

body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Arial, sans-serif;
    /* GMO ヘッダーがないとき画面遷移時にページの表示位置がずれるのを解消 */
    position: relative;
    top: 38px;
    margin: -15px 0 20px !important;
    padding-top: 20px;
    text-align: center;
    color: #666;
    background: repeat-x top center;
}

.tooltipster-content {
    text-align: left;
}

.ie8 body {
    top: 0;
}

.main-body {
    margin: 0 10px;
}

h1 {
    display: block;
    width: 510px;
    height: 52px;
    margin: 10px 0;
    text-decoration: none;
    text-indent: -999em;
    outline-width: medium;
    outline-style: none;
    outline-color: invert;
}

/*
SITE SEARCH KEYWORD */

span.site-search-keyword {
    background-color: #fc3;
}

/*
SITE SEARCH PERPAGE */

.site-search-perpage li:not(:first-child) {
    font-weight: bold;
    padding: 0 10px;
    color: #39aaca;
    border-left: 1px solid #c0d9e1;
}

.site-search-perpage li:not(:first-child):hover {
    cursor: pointer;
    color: #fff;
    background-color: #39aaca;
}

.site-search-perpage li:first-child {
    padding: 0 10px;
}

/*
PERMALINK */

p#permalink a {
    font-size: 10px;
    text-decoration: none;
    color: #999;
}

/*
GO PAGETOP */

div.body-bottom {
    margin: 15px 0 30px;
}

div.body-bottom p#go-pagetop {
    width: 73px;
    height: 23px;
    margin: 0 0 0 435px;
    padding-top: 10px;
}

div.body-bottom p#go-pagetop a {
    display: block;
    overflow: hidden;
    width: 73px;
    height: 23px;
    text-indent: -999em;
    background: url(../../img/common/btn/btn_pagetop.gif) no-repeat top right;
}

/*
FORM */

.frm-number {
    font-size: 14px;
    padding: 2px 0;
    color: #097c8d;
    border: 1px solid #748fb5;
    background-color: #fff;

    ime-mode: disabled;
}

.frm-number-12 {
    font-size: 12px;
}

.hr {
    visibility: hidden;
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

/*
IE bug hack */

br {
    letter-spacing: 0;
}

/* PAGE HINT */
.hint {
    cursor: pointer;
    border-bottom: 1px dotted #7aafc3;
}

/* TOOL TIP */
.tooltip {
    font-size: 83%;
    position: absolute;
    display: none;
    width: 302px;
    text-align: left;
    color: #666;
}

.tooltip-title {
    font-size: 115%;
    font-weight: bold;
    display: block;
    margin: 0 20px;
    padding-top: 7px;
    padding-bottom: 10px;
    color: #ff58ae;
    background: url(../../img/common/line/line_dot_08.gif) repeat-x left bottom;
}

.tooltip-body {
    font-weight: normal;
    line-height: 1.5em;
    display: block;
    margin: 10px 20px 5px;
}

#tooltip-close {
    display: block;
    width: 48px;
    height: 13px;
    padding-right: 5px;
    text-indent: -999em;
    background: url(../../img/common/btn/btn_hint_close.gif) no-repeat 0 0;
}

#tooltip-obj {
    position: absolute;
    z-index: 110;
    top: -11px;
    left: 13px;
    width: 10px;
    height: 15px;
    background-image: url(../../../img/default/search/obj_tooltip_top.gif);
    background-repeat: no-repeat;
}

* html #tooltip-obj {
    top: -10px;
}

#tooltip-main {
    min-height: 1%;
    margin: 0;
    padding: 0;
    background-image: url(../../../img/default/search/obj_tooltip_boxbody.gif);
    background-repeat: repeat-y;
    background-position: left top;
}

#tooltip-top {
    height: 11px;
    background-image: url(../../../img/default/search/obj_tooltip_boxtop.gif);
    background-position: left bottom;
}

#tooltip-top,
#tooltip-bottom {
    background-repeat: no-repeat;
}

#tooltip-bottom {
    height: 10px;
    background-image: url(../../../img/default/search/obj_tooltip_boxbottom.gif);
}

/*
-----------------------------------------------------------------------------
TEXT
-----------------------------------------------------------------------------*/

.txt-s {
    font-size: 83%;
}
.txt-l {
    font-size: 115%;
}
.txt-10 {
    font-size: 10px;
}
.txt-11 {
    font-size: 11px;
}
.txt-14 {
    font-size: 14px;
}
.txt-16 {
    font-size: 16px;
}
.txt-18 {
    font-size: 18px;
}
.txt-20 {
    font-size: 20px;
}
.txt-22 {
    font-size: 22px;
}
.txt-24 {
    font-size: 24px;
}

.txt-n {
    font-weight: normal;
}
.txt-b {
    font-weight: bold;
}

.txt-red {
    color: #d64b45 !important;
}
.txt-blue {
    color: #0083d3;
}
.txt-orange {
    color: #f4721c;
}

.l-h-15 {
    line-height: 1.5;
}
.l-h-17 {
    line-height: 1.7;
}
.l-h-18px {
    line-height: 18px;
}

/* DECORATION ----- */
.txt-line {
    text-decoration: line-through;
}


/* POINT ----- */

.txt-point-01 {
    background-color: #ffffc3;
}

.txt-point-01,
.txt-point-02 {
    font-weight: bold;
    margin: 0 3px;
    color: #f4721c;
}


/* ATTENTION ----- */

.txt-atten {
    padding: 0 0 0 18px;
    color: #d64b45;
    background: url(../../img/common/icon/icon_atten.gif) no-repeat 0 3px;
}

/* SMILE ----- */

.txt-smile {
    padding: 0 0 0 18px;
    background: url(../../img/common/icon/icon_smile.gif) no-repeat 0 3px;
}

/* PICKUP ----- */

.txt-pickup {
    padding: 0 0 0 18px;
    background: url(../../img/common/icon/icon_pickup.png) no-repeat 0 3px;
}

/* ADVICE ----- */

.advice-q {
    color: #3b6ab0;
    background: url(../../img/common/icon/icon_advice_q.gif) no-repeat 2px 3px;
    background-color: #f3f1e0;
}

.advice-q,
.advice-a {
    font-weight: bold;
    padding: 5px 0 5px 40px;
}

.advice-a {
    margin: 5px 0 0;
    color: #f15c90;
    background: url(../../img/common/icon/icon_advice_a.gif) no-repeat 2px 3px;
}


/* IMPORTANT ----- */

.txt-imp {
    padding: 10px;
    background-color: #deffa3;
}

.txt-imp li {
    font-size: 115%;
    font-weight: bold;
    padding: 5px 0 0 28px;
    background: url(../../img/common/icon/icon_imp.gif) no-repeat 0 3px;
}


/*
-----------------------------------------------------------------------------
MARGIN
-----------------------------------------------------------------------------*/

.mg-0 {
    margin: 0!important;
}
.mg-t-0 {
    margin-top: 0!important;
}
.mg-r-0 {
    margin-right: 0!important;
}
.mg-b-0 {
    margin-bottom: 0!important;
}
.mg-l-0 {
    margin-left: 0!important;
}

.mg-0-1 {
    margin-right: 1px;
    margin-left: 1px;
}
.mg-1-0 {
    margin-bottom: 1px;
}
.mg-1-0,
.mg-t-1 {
    margin-top: 1px;
}

.mg-b-1 {
    margin-bottom: 1px!important;
}

.mg-2-0 {
    margin-top: 2px; margin-bottom: 2px;
}
.mg-0-2 {
    margin-right: 2px;
    margin-left: 2px;
}
.mg-2 {
    margin: 2px;
}
.mg-t-2 {
    margin-top: 2px;
}
.mg-b-2 {
    margin-bottom: 2px!important;
}
.mg-r-2 {
    margin-right: 2px;
}

.mg-3-0 {
    margin: 3px 0!important;
}
.mg-t-3 {
    margin-top: 3px!important;
}
.mg-b-3 {
    margin-bottom: 3px!important;
}
.mg-l-3 {
    margin-left: 3px!important;
}
.mg-r-3 {
    margin-right: 3px!important;
}

.mg-l-4 {
    margin-left: 4px!important;
}

.mg-5-0 {
    margin-top: 5px; margin-bottom: 5px;
}
.mg-0-5 {
    margin-right: 5px;
    margin-left: 5px;
}
.mg-5 {
    margin: 5px;
}
.mg-t-5 {
    margin-top: 5px!important;
}
.mg-b-5 {
    margin-bottom: 5px!important;
}
.mg-l-5 {
    margin-left: 5px!important;
}
.mg-r-5 {
    margin-right: 5px!important;
}

.mg-t-7 {
    margin-top: 7px!important;
}
.mg-b-7 {
    margin-bottom: 7px!important;
}
.mg-0-7 {
    margin-right: 7px;
    margin-left: 7px;
}
.mg-r-7 {
    margin-right: 7px!important;
}

.mg-t-8 {
    margin-top: 8px!important;
}
.mg-b-8 {
    margin-bottom: 8px!important;
}
.mg-l-8 {
    margin-left: 8px!important;
}
.mg-r-8 {
    margin-right: 8px!important;
}

.mg-t-9 {
    margin-top: 9px!important;
}
.mg-b-9 {
    margin-bottom: 9px!important;
}

.mg-10-0 {
    margin-top: 10px!important; margin-bottom: 10px!important;
}
.mg-0-10 {
    margin-right: 10px;
    margin-left: 10px;
}
.mg-10 {
    margin: 10px!important;
}
.mg-t-10 {
    margin-top: 10px!important;
}
.mg-b-10 {
    margin-bottom: 10px!important;
}
.mg-r-10 {
    margin-right: 10px!important;
}
.mg-l-10 {
    margin-left: 10px!important;
}

.mg-15-0 {
    margin-top: 15px!important; margin-bottom: 15px!important;
}
.mg-0-15 {
    margin-right: 15px;
    margin-left: 15px;
}
.mg-15 {
    margin: 15px;
}
.mg-t-15 {
    margin-top: 15px!important;
}
.mg-b-15 {
    margin-bottom: 15px!important;
}
.mg-r-15 {
    margin-right: 15px!important;
}
.mg-l-15 {
    margin-left: 15px!important;
}

.mg-20-0 {
    margin-top: 20px; margin-bottom: 20px;
}
.mg-0-20 {
    margin-right: 20px;
    margin-left: 20px;
}
.mg-20 {
    margin: 20px!important;
}
.mg-t-20 {
    margin-top: 20px!important;
}
.mg-b-20 {
    margin-bottom: 20px!important;
}
.mg-r-20 {
    margin-right: 20px;
}
.mg-l-20 {
    margin-left: 20px!important;
}

.mg-25-0 {
    margin-top: 25px; margin-bottom: 25px;
}
.mg-0-25 {
    margin-right: 25px;
    margin-left: 25px;
}
.mg-25 {
    margin: 25px;
}
.mg-t-25 {
    margin-top: 25px;
}
.mg-b-25 {
    margin-bottom: 25px;
}
.mg-r-25 {
    margin-right: 25px;
}
.mg-l-25 {
    margin-left: 25px!important;
}


.mg-30-0 {
    margin-top: 30px!important; margin-bottom: 30px!important;
}
.mg-0-30 {
    margin-right: 30px;
    margin-left: 30px;
}
.mg-30 {
    margin: 30px;
}
.mg-t-30 {
    margin-top: 30px!important;
}
.mg-b-30 {
    margin-bottom: 30px!important;
}
.mg-r-30 {
    margin-right: 30px;
}
.mg-l-30 {
    margin-left: 30px!important;
}

.mg-l-35 {
    margin-left: 35px!important;
}

.mg-40-0 {
    margin-top: 40px; margin-bottom: 40px;
}
.mg-0-40 {
    margin-right: 40px;
    margin-left: 40px;
}
.mg-40 {
    margin: 40px;
}
.mg-t-40 {
    margin-top: 40px!important;
}
.mg-b-40 {
    margin-bottom: 40px!important;
}
.mg-r-40 {
    margin-right: 40px;
}
.mg-l-40 {
    margin-left: 40px!important;
}

.mg-50-0 {
    margin: 50px 0;
}
.mg-t-50 {
    margin-top: 50px;
}
.mg-b-50 {
    margin-bottom: 50px;
}
.mg-l-50 {
    margin-left: 50px!important;
}
.mg-r-50 {
    margin-right: 50px!important;
}

.mg-l-55 {
    margin-left: 55px;
}
.mg-t-60 {
    margin-top: 60px;
}
.mg-l-60 {
    margin-left: 60px;
}
.mg-b-60 {
    margin-bottom: 60px!important;
}

.mg-t-70 {
    margin-top: 70px;
}
.mg-l-70 {
    margin-left: 70px;
}
.mg-r-70 {
    margin-right: 70px;
}
.mg-l-75 {
    margin-left: 75px;
}

.mg-b-80 {
    margin-bottom: 80px;
}

.mg-l-90 {
    margin-left: 90px;
}

.mg-l-120 {
    margin-left: 120px!important;
}

.mg-t-m20 {
    margin-top: -20px;
} /*if you put under class=tbl  block element*/
.mg-b-m20 {
    margin-bottom: -20px;
}

.mg-rl-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

/*
-----------------------------------------------------------------------------
PADDING
-----------------------------------------------------------------------------*/

.pd-0 {
    padding: 0!important;
}
.pd-t-0 {
    padding-top: 0!important;
}
.pd-b-0 {
    padding-bottom: 0!important;
}
.pd-l-0 {
    padding-left: 0!important;
}
.pd-r-0 {
    padding-right: 0!important;
}

.pd-t-2 {
    padding-top: 2px;
}

.pd-5-0 {
    padding-top: 5px; padding-bottom: 5px;
}
.pd-0-5 {
    padding-right: 5px;
    padding-left: 5px;
}
.pd-5 {
    padding: 5px!important;
}
.pd-t-5 {
    padding-top: 5px;
}
.pd-b-5 {
    padding-bottom: 5px!important;
}

.pd-t-7 {
    padding-top: 7px!important;
}

.pd-10-0 {
    padding-top: 10px; padding-bottom: 10px;
}
.pd-0-10 {
    padding-right: 10px;
    padding-left: 10px;
}
.pd-10 {
    padding: 10px!important;
}
.pd-t-10 {
    padding-top: 10px!important;
}
.pd-b-10 {
    padding-bottom: 10px!important;
}
.pd-l-10 {
    padding-left: 10px;
}
.pd-r-10 {
    padding-right: 10px;
}

.pd-15-0 {
    padding-top: 15px; padding-bottom: 15px;
}
.pd-0-15 {
    padding-right: 15px;
    padding-left: 15px;
}
.pd-15 {
    padding: 15px!important;
}
.pd-t-15 {
    padding-top: 15px;
}
.pd-b-15 {
    padding-bottom: 15px;
}
.pd-l-15 {
    padding-left: 15px;
}
.pd-r-15 {
    padding-right: 15px;
}

.pd-20-0 {
    padding-top: 20px; padding-bottom: 20px;
}
.pd-0-20 {
    padding-right: 20px;
    padding-left: 20px;
}
.pd-20 {
    padding: 20px!important;
}
.pd-t-20 {
    padding-top: 20px;
}
.pd-b-20 {
    padding-bottom: 20px;
}
.pd-l-20 {
    padding-left: 20px!important;
}
.pd-r-20 {
    padding-right: 20px;
}

.pd-25 {
    padding: 25px!important;
}

.pd-t-25 {
    padding-top: 25px;
}

.pd-r-25 {
    padding-right: 25px;
}

.pd-b-25 {
    padding-bottom: 25px;
}

.pd-l-25 {
    padding-left: 25px;
}

.pd-l-35 {
    padding-left: 35px;
}

.pd-b-40 {
    padding-bottom: 40px;
}

.pd-t-45 {
    padding-top: 45px;
}

.pd-b-45 {
    padding-bottom: 45px;
}

.pd-t-50 {
    padding-top: 50px;
}

.pd-t-140 {
    padding-top: 140px;
}

.pd-l-230 {
    padding-left: 230px;
}

.pd-l-2em {
    padding-left: 2em;
}

.pd-l-3em {
    padding-left: 3em;
}

/*
-----------------------------------------------------------------------------
POSITION, SIZE
-----------------------------------------------------------------------------*/

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}

.box-sizing {
    box-sizing: border-box;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center!important;
}

.va-middle {
    vertical-align: middle;
}
.va-bottom {
    vertical-align: bottom;
}
.va-top {
    vertical-align: top;
}

.va-minus3 {
    vertical-align: -3px;
}

.position-relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}
.display-block-important {
    display: block!important;
}

.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-18 {
    width: 18%;
}
.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%!important;
}
.w-30 {
    width: 30%!important;
}
.w-33 {
    width: 33%!important;
}
.w-35 {
    width: 35%;
}
.w-38 {
    width: 38%!important;
}
.w-40 {
    width: 40%;
}
.w-45 {
    width: 45%;
}
.w-50 {
    width: 50%;
}
.w-55 {
    width: 55%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-70 {
    width: 70%!important;
}
.w-72 {
    width: 72%;
}
.w-75 {
    width: 75%!important;
}
.w-80 {
    width: 80%!important;
}
.w-85 {
    width: 85%;
}
.w-90 {
    width: 90%;
}
.w-95 {
    width: 95%;
}
.w-100 {
    width: 100%!important;
}

.w-90px {
    width: 90px;
}
.w-100px {
    width: 100px;
}
.w-110px {
    width: 110px;
}
.w-120px {
    width: 120px;
}
.w-130px {
    width: 130px;
}
.w-140px {
    width: 140px;
}
.w-150px {
    width: 150px;
}
.w-160px {
    width: 160px;
}
.w-210px {
    width: 210px;
}
.w-220px {
    width: 220px;
}
.w-225px {
    width: 225px;
}
.w-250px {
    width: 250px;
}
.w-270px {
    width: 270px;
}
.w-300px {
    width: 300px;
}
.w-400px {
    width: 400px;
}

.w-30px-important {
    width: 30px !important;
}
.w-50px-important {
    width: 50px !important;
}
.w-70px-important {
    width: 70px !important;
}
.w-90px-important {
    width: 90px !important;
}
.w-200px-important {
    width: 200px !important;
}
.w-340px-important {
    width: 340px !important;
}

.h-20px {
    height: 20px;
}

.h-40px {
    height: 40px;
}

.h-50px {
    height: 50px;
}

.h-85px {
    height: 85px;
}

.h-min180px {
    min-height: 180px;
}

/*
-----------------------------------------------------------------------------
BORDER
-----------------------------------------------------------------------------*/

.border-bottom-none {
    border-bottom: none!important;
}

/*
-----------------------------------------------------------------------------
BORDER-RADIUS
-----------------------------------------------------------------------------*/

.border-bottom-right-radius-5,
.border-bottom-left-radius-5 {
    border-bottom-left-radius: 5px;
}

.border-radius-4 {
    border-radius: 4px;
}

/*
-----------------------------------------------------------------------------
BG COLOR
-----------------------------------------------------------------------------*/


/*
-----------------------------------------------------------------------------
BOX
-----------------------------------------------------------------------------*/

.box {
    min-height: 1%;
    margin: 15px 0;
}

.box,
.box-0 {
    padding: 12px 15px;
}

/* pink ----- */
.box-01 {
    background-color: #ffecef;
}
.box-01 dt {
    font-weight: bold;
    color: #fc4050;
    margin-bottom: 5px;
}

/* blue ----- */
.box-02 {
    background-color: #e4f4fc;
}
.box-02 dt {
    font-weight: bold;
    color: #107fbf;
    margin-bottom: 5px;
}

/* yellow ----- */
.box-03 {
    background-color: #fffedb;
}
.box-03 dt {
    font-weight: bold;
    color: #f4721c;
    margin-bottom: 5px;
}



/*
-----------------------------------------------------------------------------
ERROR
-----------------------------------------------------------------------------*/

/* error page */
.box-03 dt,
#error {
    font-weight: bold;
}
#error {
    font-size: 120%;
    margin-top: 10px;
}

p.error-navi {
    margin-top: 20px;
    text-align: right;
}

/* OK ----- */
div.success {
    color: #0086d7;
    border: 3px solid #70cfff;
    background-color: #e5f7ff;
    background-image: url(../../img/common/icon/icon_smile.gif);
}

/* NG ----- */
div.success,
div.error {
    margin: 10px 10px 10px 0;
    padding: 5px 10px 5px 26px;
    background-repeat: no-repeat;
    background-position: 12px 8px;
}
div.error {
    color: #d64b45;
    border: 3px solid #ffccc5;
    background-color: #fff4f2;
    background-image: url(../../img/common/icon/icon_err.gif);
}

input.error,
select.error,
textarea.error {
    color: #d64b45 !important;
    border: 1px solid #ff806e !important;
    background-color: #fff9c6 !important;
}

label.error {
    display: block;
    margin: 10px 10px 10px 0;
    padding: 5px 10px 5px 26px;
    color: #d64b45;
    border: 3px solid #ffccc5;
    background-color: #fff4f2;
    background-image: url(../../img/common/icon/icon_err.gif);
    background-position: 12px 8px;
}

/*
* custome select tag
*
* Markup:
* <label class="select-group">
* <select class="select">
* ...
* </select>
* </label>
*
* Modifier:
* .focus   -- focus style when .select focused
* .invalid -- invalid style when .select has .error (use javascripts)
*
*/

label.error,
.select-group {
    background-repeat: no-repeat;
}

.select-group {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    vertical-align: top;
    border: 1px solid #9c9c9c;
    border-radius: 4px;
}

.select-group.focus {
    border: solid 1px #51a7e8;
    box-shadow: 0 0 3px rgba(81,167,232,.5);
}

.select-group.invalid {
    border: solid 1px #ff1d1d;
}

.select-group .select {
    font-family: 'Lucida Grande';
    font-size: 13px;
    font-weight: normal;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 130%;
    height: 100%;
    min-height: 28px;
    padding-left: 6px;
    color: #444;
    border: none;
    border-radius: 4px;
    outline-offset: 0;
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE4IDE0Ij48cGF0aCBmaWxsPSIjOUM5QzlDIiBkPSJNOS44NTMgMTAuMjc1bDQuNTIzLTQuNTI0Yy40NTctLjQ1Ny40NTctMS4xOTggMC0xLjY1NXMtMS4xOTctLjQ1Ny0xLjY1NCAwbC0zLjY5OCAzLjY5Ni0zLjY5Ni0zLjY5NmMtLjQ1Ny0uNDU4LTEuMTk4LS40NTgtMS42NTUgMC0uNDU3LjQ1Ny0uNDU3IDEuMTk4IDAgMS42NTVsNC41MjQgNC41MjRjLjIyOS4yMjkuNTI4LjM0My44MjguMzQzcy42LS4xMTUuODI4LS4zNDN6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: center right 30%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .18);

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/*
-----------------------------------------------------------------------------
LINK
-----------------------------------------------------------------------------*/

a {
    overflow: hidden;
    margin: 0 3px;
    text-decoration: underline;
    color: #ff5f75;
    outline: none;
}

a:hover {
    color: #007bab;
}

.gray-link a {
    color: #666;
}

/* ARROW LINK----- */

.arrow-link-01 {
    font-weight: bold;
    margin: 0 0 0 -2px;
}

.arrow-link-01 a {
    padding: 0 0 4px 16px;
    background: url(../../img/common/arrow/arrow_01.gif) no-repeat top left;
}

.arrow-link-01-r {
    margin: 0 0 0 -2px;
}

.arrow-link-01-r,
.arrow-link-03 {
    font-weight: bold;
}

.arrow-link-03 a {
    padding: 0 0 0 8px;
    text-decoration: none;
    background: url(../../img/common/arrow/arrow_03.gif) no-repeat top left;
}

.arrow-link-03 a:hover {
    text-decoration: underline;
}


/* SIDE LINK----- */
a.side-link:link,
a.side-link:visited,
a.side-link:active {
    font-size: smaller; margin: 0 3px;
    color: #ff5f75;
}
a.side-link:hover {
    font-size: smaller; margin: 0 3px;
    color: #fafae0; background: #ff5f75;
}


/*
-----------------------------------------------------------------------------
LINE
-----------------------------------------------------------------------------*/

.line {
    font-size: 7px;
    height: 7px; margin: 20px 0;
}

.line-01,
.line-02,
.line-03,
.line-04,
.line-05,
.line-06,
.line-07,
.line-08 {
    font-size: 7px;
    overflow: hidden;
    height: 7px;
    margin: 20px 0;
    background: url(../../img/common/line/line.gif) repeat-x top left;
}

.line-01 {
    background-position: 0 0;
}
.line-02 {
    background-position: 0 -7px;
}
.line-03 {
    background-position: 0 -14px;
}
.line-04 {
    background-position: 0 -21px;
}
.line-05 {
    background-position: 0 -28px;
}
.line-06 {
    background-position: 0 -35px;
}
.line-07 {
    background-position: 0 -42px;
}
.line-08 {
    background-position: 0 -49px;
}

.line-dot {
    font-size: 2px;
    height: 2px; margin: 10px 0;
}

.line-dot-01 {
    background: url(../../img/common/line/line_dot_01.gif) repeat-x top left;
}
.line-dot-02 {
    background: url(../../img/common/line/line_dot_02.gif) repeat-x top left;
}
.line-dot-03 {
    background: url(../../img/common/line/line_dot_03.gif) repeat-x top left;
}
.line-dot-04 {
    background: url(../../img/common/line/line_dot_04.gif) repeat-x top left;
}
.line-dot-05 {
    background: url(../../img/common/line/line_dot_05.gif) repeat-x top left;
}
.line-dot-06 {
    background: url(../../img/common/line/line_dot_06.gif) repeat-x top left;
}
.line-dot-07 {
    background: url(../../img/common/line/line_dot_07.gif) repeat-x top left;
}
.line-dot-08 {
    background: url(../../img/common/line/line_dot_08.gif) repeat-x top left;
}
.line-dot-09 {
    background: url(../../img/common/line/line_dot_09.gif) repeat-x top left;
}

.line-0 {
    font-size: 2px;
    height: 2px;
}
.line-dot-10 {
    background: url(../../img/common/line/line_dot_10.gif) repeat-x top left;
}

.line-h-3 {
    font-size: 3px;
    height: 3px;
}
.line-dot-11 {
    background: url(../../img/common/line/line_dot_11.gif) repeat-x top left;
}

.line-s {
    font-size: 2px;
    height: 2px;
}
.line-s-01 {
    background: url(../../img/common/line/line_s_01.gif) repeat-x top left;
}

.line-dot-12 {
    background: url(../../img/common/line/line_dot_12.gif) repeat-x top left;
}

/*
-----------------------------------------------------------------------------
TABLE
-----------------------------------------------------------------------------*/

.tbl {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    table-layout: fixed;
    border-spacing: 1px;
    border-collapse: separate;
}

table.tbl th {
    font-weight: bold;
    padding: 5px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
}

table.tbl td {
    padding: 7px;
    background-color: #fcfced;
}

/* pink ----- */
.tbl-01 {
    background-color: #d64b45;
}
table.tbl-01 th {
    border-color: #ffccc5 #ff806e #ff806e #ffccc5;
    background-color: #ff806e;
}
.txt-tbl-01 {
    color: #d64b45;
}

/* blune ----- */
.tbl-02 {
    background-color: #02758d;
}
table.tbl-02 th {
    border-color: #a2e0ed #16b2d3 #16b2d3 #a2e0ed;
    background-color: #16b2d3;
}
.txt-tbl-02 {
    color: #0083d3;
}

/* green ----- */
.tbl-03 {
    background-color: #5a9440;
}
table.tbl-03 th {
    border-color: #e6f3be #a6d316 #a6d316 #e6f3be;
    background-color: #a6d316;
}
.txt-tbl-03 {
    color: #49a022;
}

/* orange ----- */
.tbl-04 {
    background-color: #d4692e;
}
table.tbl-04 th {
    border-color: #ffeaad #f2b300 #f2b300 #ffeaad;
    background-color: #f2b300;
}
.txt-tbl-04 {
    color: #e7672a;
}

/* gray ----- */
.tbl-06 {
    background-color: #737373;
}
table.tbl-06 th {
    border-color: #c7c7c7 #9b9b9b #9b9b9b #c7c7c7;
    background-color: #9b9b9b;
}
.txt-tbl-06 {
    color: #e7672a;
}

/* side-green ----- */
.tbl-side {
    margin: 5px 0 0;
    background-color: #5a9440;
}
table.tbl-side th {
    padding: 3px; border-color: #e6f3be #a6d316 #a6d316 #e6f3be;
    background-color: #a6d316;
}
table.tbl-side td {
    padding: 4px;
}

/* cam violet ----- */
.tbl-05 {
    background-color: #5c0092;
}
table.tbl-05 th {
    border-color: #b975e1 #6a169b #6a169b #b975e1;
    background-color: #6a169b;
}
.txt-tbl-05 {
    color: #985bbc;
}


th.w-10 {
    width: 10%;
}
th.w-15 {
    width: 15%;
}
th.w-18 {
    width: 18%;
}
th.w-20 {
    width: 20%;
}
th.w-25 {
    width: 25%;
}
th.w-30 {
    width: 30%;
}
th.w-35 {
    width: 35%;
}
th.w-40 {
    width: 40%;
}
th.w-50 {
    width: 50%;
}
th.w-60 {
    width: 60%;
}
th.w-72 {
    width: 72%;
}

tbl.w-75 {
    width: 75%;
}


/* td plan bgcolor ----- */
td.td-plan0 {
    background-color: #d0f4ff !important;
}
td.td-plan4 {
    background-color: #ffe9e9 !important;
}
td.td-plan5 {
    background-color: #fafae0 !important;
}
td.td-plan8 {
    background-color: #e8f0f8 !important;
}
.nowrap {
    white-space: nowrap;
}

/*
-----------------------------------------------------------------------------
LIST
-----------------------------------------------------------------------------*/
.nonlist-style li {
    margin-left: 1em;
    text-indent: -1em;
}

/*
-----------------------------------------------------------------------------
BASSIC LAYOUT
-----------------------------------------------------------------------------*/

#container {
    position: relative;
    width: 781px;
    margin: 30px auto 0;
    padding: 0;
    text-align: left;
    border: 1px solid #085700;
    background-color: #3eac00;
    background-image: url(../../img/common/bg_content_side.png);
    background-repeat: no-repeat;
    background-position: 0 150px;
}

#header,
#content,
#footer {
    width: 100%;
    text-align: left;
}

#content {
    width: 771px;
    margin: 151px auto 0;
    padding-bottom: 6px;
    background-image: url(../../img/common/bg_main_bottom.gif);
    background-repeat: no-repeat;
    background-position: 50% bottom;
}

#content .wrapper {
    width: 771px;
    background-image: url(../../img/common/bg_main.png);
    background-repeat: repeat-y;
    background-position: 0 50%;
}

#content .wrapper,
#header .wrapper,
#content .wrapper,
#footer .wrapper {
    margin: 0 auto;
}

/*
-----------------------------------------------------------------------------
HEADER
-----------------------------------------------------------------------------*/

#header {
    position: absolute;
    top: -30px;
    left: -1px;
    width: 100%;
}

#header .wrapper,
#header-bg {
    width: 783px;
    height: 181px;
}

#header-bg {
    z-index: 20;
    display: block;
    background-image: url(../../img/common/bg_header_simple.png);
    background-position: 0 0;
}

#header-bg,
#description {
    position: absolute;
    background-repeat: no-repeat;
}

#description {
    z-index: 23;
    top: 0;
    left: 10px;
    height: 180px;
    background-image: url(/img/common/obj_ojisan_normal.png);
}

#description,
#description a {
    overflow: hidden;
    text-indent: -999em;
}

#description a {
    display: block;
    width: 224px;
    height: 200px;
}

#header-paperboy {
    position: absolute;
    z-index: 30;
    top: 36px;
    left: 301px;
    overflow: hidden;
    width: 118px;
    height: 13px;
    background: url(../../img/common/obj_ppb_by_logo.png) 0 0 no-repeat;
}

#header-paperboy a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    white-space: nowrap;
    text-indent: 100%;
}

/*
LOGO */

#logo {
    position: absolute;
    z-index: 24;
    top: 24px;
    left: 150px;
}

#logo,
#logo a {
    width: 500px;
    height: 160px;
}

#logo a {
    display: block;
    overflow: hidden;
    text-indent: -999em;
}

/*
HEADER LINK */
#header-links {
    position: absolute;
    z-index: 100;
    top: -2px;
    right: 0;
    overflow: hidden;
    width: 365px;
}

#header-links .order-count {
    float: left;
    overflow: hidden;
    width: 200px;
    min-width: 150px;
    height: 15px;
    margin-top: 4px;
    margin-right: 8px;
}

#header-links .order-count-total-text {
    line-height: 15px;
    float: left;
    width: 72px;
    height: 15px;
    margin-right: 5px;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../img/common/obj_order_count_text.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#order-count {
    float: left;
    height: 15px;
}

#header-links [class*='num-'] {
    display: inline-block;
    overflow: hidden;
    width: 12px;
    height: 20px;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../img/common/obj_numbers.png);
    background-repeat: no-repeat;
}

#header-links .num-0 {
    background-position: 0 0;
}
#header-links .num-1 {
    background-position: 0 -15px;
}
#header-links .num-2 {
    background-position: 0 -30px;
}
#header-links .num-3 {
    background-position: 0 -45px;
}
#header-links .num-4 {
    background-position: 0 -60px;
}
#header-links .num-5 {
    background-position: 0 -75px;
}
#header-links .num-6 {
    background-position: 0 -90px;
}
#header-links .num-7 {
    background-position: 0 -105px;
}
#header-links .num-8 {
    background-position: 0 -120px;
}
#header-links .num-9 {
    background-position: 0 -135px;
}
#header-links .num-m {
    background-position: 0 -165px;
}
#header-links .num-n {
    background-position: 0 -180px;
}
#header-links .num-c {
    width: 4px;
    background-position: -4px -150px;
}

#header-links .site-search {
    float: right;
    width: 155px;
    text-align: right;
}

#header-links .site-search-word {
    font-size: 12px;
    width: 110px;
    height: 16px;
    margin-top: 0;
    padding: .11em .3em;
    vertical-align: top;
    border: none;
    border: 1px solid #748fb5;
    border-radius: 1px;
    background-image: none;
}

#header-links .placeholder {
    line-height: 16px;
    color: #999;
}

#header-banner-text {
    position: absolute;
    z-index: 23;
    top: 61px;
    left: 215px;
    overflow: hidden;
    width: 298px;
    height: 75px;
    white-space: nowrap;
    text-indent: 100%;
    background: url(../../img/common/obj_header_banner_text.png) 0 0 no-repeat;
}

#logo {
    position: absolute;
    z-index: 24;
    top: 0;
    left: 95px;
    width: 203px;
    height: 81px;
    background: url(../../img/common/obj_lolipop_logo.png) 0 0 no-repeat;
}

#logo a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    white-space: nowrap;
    text-indent: 100%;
}

#header-order a {
    position: absolute;
    z-index: 25;
    top: 37px;
    right: 9px;
    width: 216px;
    height: 97px;
    background: url(../../img/common/btn/btn_header_order.png) 0 0 no-repeat;
}

#header-order a:hover {
    background: url(../../img/common/btn/btn_header_order.png) bottom left no-repeat;
}

.header-order-button {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    white-space: nowrap;
    text-indent: 100%;
}


/*
NAV */

#nav {
    font-size: 12px;
    position: absolute;
    z-index: 30;
    top: 140px;
    left: 6px;
    width: 771px;
    height: 41px;
    margin: 0 auto;
}

.menu li {
    list-style-type: none;
}

#nav a {
    font-size: 12px;
    display: block;
    margin: 0;
    text-align: left;
    text-decoration: none;
}

#menu-home,
#menu-infomation,
#menu-service,
#menu-order,
#menu-manual,
#menu-support,
#menu-login {
    position: absolute;
    visibility: hidden;
    margin-top: 0;
    margin-left: 1px;
    padding: 0;
}

#menu-home li,
#menu-infomation li,
#menu-service li,
#menu-order li,
#menu-manual li,
#menu-support li,
#menu-login li {
    padding-top: 1px;
    background-image: url(../../img/common/menu_dot.gif);
    background-position: 0 0;
}

#menu-home li {
    margin-left: 4px;
}

#menu-home a,
#menu-infomation a,
#menu-service a,
#menu-order a,
#menu-manual a,
#menu-support a,
#menu-login a {
    line-height: normal;
    width: 170px;
    padding: .7em .5em .75em 1.9em;
    letter-spacing: normal;
    color: #fff;
    border-right: 1px solid #008ea3;
    border-left: 1px solid #008ea3;
    background-color: #32b6cf;
    background-image: url(../../img/common/arrow/arrow_menu.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

#menu-home a:hover,
#menu-infomation a:hover,
#menu-service a:hover,
#menu-order a:hover,
#menu-manual a:hover,
#menu-support a:hover,
#menu-login a:hover {
    color: #32b6cf;
    background-color: #fff !important;
    background-image: url(../../img/common/arrow/arrow_menu_chk.gif);
}

.menu-bg-red {
    background-color: #ff6060 !important;
}

.main-menu {
    overflow: hidden;
    width: 109px;
    height: 41px;
    text-indent: -999em;
}

#nav01 {
    width: 113px;
    background-position: 0 0;
}

#nav01,
#nav02 {
    background-image: url(../../img/common/menu_btn.png);
}

#nav02 {
    background-position: -114px 0;
}

* html #nav02 {
    background-position: -113px 0;
}

#nav03 {
    background-position: -222px 0;
}

#nav03,
#nav04 {
    background-image: url(../../img/common/menu_btn.png);
}

#nav04 {
    background-position: -330px 0;
}

#nav05 {
    background-position: -440px 0;
}

#nav05,
#nav06 {
    background-image: url(../../img/common/menu_btn.png);
}

#nav06 {
    background-position: -548px 0;
}

#nav07 {
    width: 113px;
    background-image: url(../../img/common/menu_btn.png);
    background-position: -658px 0;
}

.navi-end {
    border-bottom: 1px solid #008ea3;
    background-color: #32b6cf;
}

.navi-end:hover {
    border-bottom: 1px solid #008ea3;
    background-color: #fff;
}

.navi-top {
    border-top: 1px solid #008ea3;
    padding-top: 0 !important;
}


/*
-----------------------------------------------------------------------------
CONTENT
-----------------------------------------------------------------------------*/

/*
LOCAL NAV */

#local-nav {
    padding: 10px 0 0;
    background: url(../../img/common/bg_submenu_top.gif) no-repeat top center;
}

#local-nav div.inner {
    padding: 0 0 14px;
    background: url(../../img/common/bg_submenu_bottom.png) no-repeat bottom center;
}

#local-nav div.inner ul {
    line-height: 20px;
    width: 731px;
    padding: 0 20px 3px;
    background: url(../../img/common/bg_submenu.gif) repeat-y top center;
}

#local-nav div.inner ul li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 0 0 12px;
    white-space: nowrap;
    background: url(../../img/common/arrow/arrow_submenu.gif) no-repeat 0 50%;
}

#local-nav div.inner a {
    font-size: 12px;
    margin: 0;
    text-decoration: none;
    color: #cfcfcf;
}

#local-nav div.inner a:hover {
    margin: 0;
    color: #a6ee00;
    background-color: #944b0a;
}

#local-nav div.inner a.chk {
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    color: #a6ee00;
}

#local-nav div.inner a.chk:hover {
    font-weight: bold;
    margin: 0;
    color: #a6ee00;
    background-color: #944b0a;
}

/*
BODY */

#body {
    font-size: small;
    line-height: 20px;
    float: left;
    overflow: inherit;
    width: 510px;
    margin: 0;
    padding: 10px 18px 0 25px;
}

/* xhtml -> html5 の際にline-heightによりレイアウトにずれが出るので追加 */
#body a[href] > img,
#sidebar a[href] > img {
    line-height: 0;
    vertical-align: bottom;
}

#body a[href] > img.va-middle,
#sidebar a[href] > img.va-middle {
    vertical-align: middle;
}

/*
TOPIC PATH */

div#topic-path {
    margin: 0;
}

div#topic-path ul {
    height: auto; min-height: 1%;
}

div#topic-path li {
    float: left;
    margin: 0 10px 0 0;
}

div#topic-path li a {
    font-size: 11px;
    padding: 2px 0 0 12px;
    text-decoration: none;
    color: #008498;
    background-image: url(../../img/common/arrow/arrow_pan.gif);
    background-repeat: no-repeat;
    background-position: 0 2px;
}


div#topic-path li a:hover {
    color: #fff;
    background-color: #008498;
    background-position: 0 -13px;
}

body.menu #topic-path a {
    display: inline;
}

/*
SITE SEARCH RESULT */

div#content div#site-search-result {
    display: none;
    overflow: hidden;
    width: 510px;
    margin: 0;
}

div#content div#site-search-result h1 {
    display: block;
    overflow: hidden;
    width: 510px;
    height: 52px;
    margin-bottom: 10px;
    text-indent: -9999em;
    background-image: url(../../img/default/search/h1_search.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
}

div#content div#site-search-result p.txt-atten {
    margin: 10px;
}

div#content div#site-search-result p#site-search-result-notice {
    margin: 20px 10px;
    padding-bottom: 20px;
    background-image: url(../../img/common/line/line_06.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
}

#site-search-result-notice span.site-search-result-keyword,
#site-search-result-notice span.site-search-result-count {
    font-weight: bold;
    padding: 0 5px;
    color: #f1630c;
}

div#content div#site-search-result ol {
    margin: 0 10px;
    list-style: none;
}

#site-search-result .number {
    font-weight: bold;
    color: #1986af;
}

div#content div#site-search-result ol li {
    padding: 5px 0 0;
    text-indent: 5px;
    border-top: 2px solid #33a0c9;
    background-color: #e5f9fa;
}

div#content div#site-search-result ol li div.part {
    margin-top: 5px;
    padding: 8px 0 5px 30px;
    text-indent: 0;
    background-color: #fff;
    background-image: url(../../img/common/line/line_dot_06.gif);
    background-repeat: repeat-x;
    background-position: left 1px;
}

* html div#content div#site-search-result ol li div.part {
    padding-left: 25px;
}

div#content div#site-search-result span.keywords {
    background-color: #ff6;
}

div#content div#site-search-result div.site-search-pagination {
    margin: 20px 10px;
    text-align: center;
}

div#content div#site-search-result div.site-search-pagination span {
    font-size: 1em;
    margin: 0 .1em;
    padding: .4em .5em;
    letter-spacing: 0;
    color: #c7c7c7;
    border: 1px solid #d9e8f0;
    background-color: #eff;
}

div#content div#site-search-result div.site-search-pagination a {
    font-size: 1em;
    margin: 0 .1em;
    padding: .4em .5em;
    text-decoration: none;
    letter-spacing: 0;
    color: #4598ae;
    border: 1px solid #4598ae;
    background-color: #e5f9fa;
}

div#content div#site-search-result div.site-search-pagination a:hover {
    color: #fff;
    border: 1px solid #568608;
    background-color: #39aaca;
}

div#content div#site-search-result div.site-search-pagination span.page-current {
    color: #f1630c;
    background-color: #fff;
}

div#content div#site-search-result p#site-search-result-close-btn {
    margin-top: 20px;
}

.close-btn a {
    display: block;
    width: 112px;
    height: 13px;
    text-indent: -999em;
    background-image: url(../../img/common/btn/btn_search_close.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#site-search-result-close-btn-top {
    margin-bottom: 10px;
    margin-left: 378px;
}

#site-search-result-close-btn-bottom {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 378px;
}

/*
MAIN */

div#content div#body div#main {
    margin: 0;
}

/*
SOCIAL BUTTON */
.social-fb-like {
    width: 101px;
    margin-left: 0;
    border: none;
}

.social-fb-like,
.social-mixi {
    display: inline;
    overflow: hidden;
    height: 20px;
}

.social-mixi {
    width: 60px;
    border: 0;
}

/*
-----------------------------------------------------------------------------
SIDEBAR
-----------------------------------------------------------------------------*/

div#content div#sidebar {
    float: right;
    overflow: hidden;
    width: 206px;
    margin: 0;
    padding: 2px 7px 0 0;
}

div#content div#sidebar div.sidebar-module {
    font-size: 11px;
    padding-bottom: 20px;
}

body.menu div#content div#sidebar div.sidebar-module a {
    font-size: 11px;
    display: inline;
    margin: 0 3px;
    text-decoration: underline;
}

#sidebar .module-body {
    line-height: 18px;
    padding: 0 10px;
    letter-spacing: 1px;
}

div#content div#sidebar div.sidebar-module p.module-title {
    display: block;
    overflow: hidden;
    width: 206px;
    height: 24px;
    margin-bottom: 10px;
    text-indent: -999em;
}

div#content div#sidebar div#site-search              p.module-title {
    height: 19px;
    background: url(../../img/common/side/title_s_side_01.png) no-repeat 0 0;
}
div#content div#sidebar div#sidebar-order-count      p.module-title {
    background: url(../../img/common/side/title_s_side_01.png) no-repeat 0 -25px;
}
div#content div#sidebar div#sidebar-order            p.module-title {
    background: url(../../img/common/side/title_s_side_01.png) no-repeat 0 -50px;
}
div#content div#sidebar div#sidebar-account-chk      p.module-title {
    background: url(../../img/common/side/title_s_side_01.png) no-repeat 0 -75px;
}
div#content div#sidebar div#sidebar-order-step1      p.module-title,
div#content div#sidebar div#sidebar-order-step2      p.module-title,
div#content div#sidebar div#sidebar-order-step3      p.module-title {
    background: url(../../img/common/side/title_s_side_01.png) no-repeat 0 -100px;
}
div#content div#sidebar div#sidebar-plan-list        p.module-title {
    background: url(../../img/common/side/title_s_side_01.png) no-repeat 0 -125px;
}

div#content div#sidebar div#sidebar-first            p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 0;
}
div#content div#sidebar div#sidebar-lolipop-guide    p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -25px;
}
div#content div#sidebar div#sidebar-make-hp          p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -50px;
}
div#content div#sidebar div#sidebar-rankup           p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -75px;
}
div#content div#sidebar div#sidebar-domain-list      p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -100px;
}
div#content div#sidebar div#sidebar-domain-ranking   p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -125px;
}
div#content div#sidebar div#sidebar-domain           p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -150px;
}
div#content div#sidebar div#sidebar-muumuu           p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -175px;
}
div#content div#sidebar div#sidebar-lolipoblog       p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -200px;
}
div#content div#sidebar div#sidebar-3mm              p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -225px;
}
div#content div#sidebar div#sidebar-gtmini           p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -250px;
}
div#content div#sidebar div#sidebar-kinoko           p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -275px;
}
div#content div#sidebar div#sidebar-candybox         p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -300px;
}
div#content div#sidebar div#sidebar-lolipop-news     p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -325px;
}
div#content div#sidebar div#sidebar-heteml           p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -350px;
}
div#content div#sidebar div#sidebar-make-wp          p.module-title {
    background: url(../../img/common/side/title_s_side_02.png) no-repeat 0 -375px;
}

div#content div#sidebar div#sidebar-livehelp         p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 0;
}
div#content div#sidebar div#sidebar-faq-list         p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -25px;
}
div#content div#sidebar div#sidebar-campaign         p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -50px;
}
div#content div#sidebar div#sidebar-mainte-obsta     p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -75px;
}
div#content div#sidebar div#sidebar-calculator       p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -100px;
}
div#content div#sidebar div#sidebar-payment          p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -125px;
}
div#content div#sidebar div#sidebar-osaipo-recommend p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -150px;
}
div#content div#sidebar div#sidebar-osaipo           p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -175px;
}
div#content div#sidebar div#sidebar-affiliate        p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -200px;
}
div#content div#sidebar div#sidebar-adsense          p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -225px;
}
div#content div#sidebar div#sidebar-cmsm             p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -250px;
}
div#content div#sidebar div#sidebar-calamel          p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -275px;
}
div#content div#sidebar div#sidebar-pookmark         p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -300px;
}
div#content div#sidebar div#sidebar-pr               p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -325px;
}
div#content div#sidebar div#sidebar-pitta            p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -350px;
}
div#content div#sidebar div#sidebar-twitter          p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -400px;
}
div#content div#sidebar div#sidebar-facebook         p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -425px;
}
div#content div#sidebar div#sidebar-kumapon          p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -450px;
}
div#content div#sidebar div#sidebar-recruit          p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -475px;
}
div#content div#sidebar div#sidebar-cms              p.module-title {
    background: url(../../img/common/side/title_s_side_03.png) no-repeat 0 -500px;
}

div#content div#sidebar div#sidebar-charity          p.module-title {
    background: url(../../img/common/side/title_s_side_04.png) no-repeat 0 0;
}
div#content div#sidebar div#sidebar-famous           p.module-title {
    background: url(../../img/common/side/title_s_side_04.png) no-repeat 0 -25px;
}
div#content div#sidebar div#sidebar-sqale            p.module-title {
    background: url(../../img/common/side/title_s_side_04.png) no-repeat 0 -75px;
}
div#content div#sidebar div#sidebar-iten             p.module-title {
    background: url(../../img/common/side/title_s_side_04.png) no-repeat 0 -100px;
}
div#content div#sidebar div#ppb-info                 p.module-title {
    background: url(../../img/common/side/title_s_side_04.png) no-repeat 0 -125px;
}
div#content div#sidebar div#sidebar-lolipotouch      p.module-title {
    background: url(../../img/common/side/title_s_side_04.png) no-repeat 0 -150px;
}

div#content div#sidebar div#sidebar-faq-list ul.links li,
div#content div#sidebar div#sidebar-mainte-obsta ul.links2 li {
    font-weight: bold;
    padding: 3px 0 0 15px;
    background-image: url(../../img/common/side/arrow_s_01.gif);
    background-repeat: no-repeat;
    background-position: 0 4px;
}

div#content div#sidebar div#sidebar-account-chk p.module-btn {
    display: block;
    overflow: hidden;
    width: 136px;
    height: 33px;
    margin: 10px auto 0;
    text-indent: 0;
}

div#content div#sidebar div#sidebar-order p.module-btn {
    display: block;
    overflow: hidden;
    width: 178px;
    height: 68px;
    margin: 10px 0 0;
}

div#content div#sidebar div#sidebar-order p.module-btn a {
    display: block;
    overflow: hidden;
    width: 178px;
    height: 68px;
    text-indent: -999em;
}

div#content div#sidebar div#sidebar-order p.module-btn a,
div#content div#sidebar div#sidebar-order p.module-btn a:hover {
    background-image: url(../../img/common/side/btn_s_order.png);
}

#sidebar-order .module-body p:first-child {
    line-height: 0;
}

div#sidebar-twitter a {
    margin-right: 0;
    margin-left: 0;
}

div#content div#sidebar div#sidebar-order {
    display: none;
}

/*
ORDER COUNT */

#sidebar-order-count .module-body {
    line-height: 0;
    margin: 0 auto  !important;
    padding: 0 !important;
    text-align: center;
    ;
}

div#content div#sidebar div#order-count {
    display: inline-block;
    margin: 10px auto 0;
}

* html div#content div#sidebar div#order-count,
*:first-child + html div#content div#sidebar div#order-count {
    display: inline;
}

div#content div#sidebar div#order-count span {
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../img/common/side/obj_numbers.gif);
    background-repeat: no-repeat;
}

div#content div#sidebar div#order-count span.num-0 {
    background-position: 0 0;
}
div#content div#sidebar div#order-count span.num-1 {
    background-position: 0 -20px;
}
div#content div#sidebar div#order-count span.num-2 {
    background-position: 0 -40px;
}
div#content div#sidebar div#order-count span.num-3 {
    background-position: 0 -60px;
}
div#content div#sidebar div#order-count span.num-4 {
    background-position: 0 -80px;
}
div#content div#sidebar div#order-count span.num-5 {
    background-position: 0 -100px;
}
div#content div#sidebar div#order-count span.num-6 {
    background-position: 0 -120px;
}
div#content div#sidebar div#order-count span.num-7 {
    background-position: 0 -140px;
}
div#content div#sidebar div#order-count span.num-8 {
    background-position: 0 -160px;
}
div#content div#sidebar div#order-count span.num-9 {
    background-position: 0 -180px;
}
div#content div#sidebar div#order-count span.num-m {
    background-position: 0 -220px;
}
div#content div#sidebar div#order-count span.num-n {
    background-position: 0 -240px;
}
div#content div#sidebar div#order-count span.num-c {
    width: 9px;
    background-position: -5px -200px;
}

/*
SNS COUNT 2011/07/04add */

#sidebar-sns-count ul {
    margin: 50px 7px 0;
    padding: 6px;
    text-align: left;
    background-color: #d4eaff;
}

#sidebar-sns-count li {
    margin-top: 5px;
}

/*
FONT RESIZE */

div#content div#sidebar div#css-switch {
    overflow: hidden;
    height: 18px;
    padding: 10px 0 10px 80px;
}

div#content div#sidebar div#css-switch p.module-title {
    float: left;
    width: 56px;
    height: 11px;
    margin: 0;
    padding: 1px 0 0;
    background-image: url(../../img/common/side/title_s_size.gif);
    background-position: 0 1px;
}

div#content div#sidebar div#css-switch li {
    float: left;
    width: 20px;
    height: 15px;
}

div#content div#sidebar div#css-switch li a {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 0 0 5px;
    text-indent: -999em;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*
SEARCH */

div#content div#sidebar div#site-search {
    position: relative;
    display: none;
    height: 65px;
    margin: 0 0 20px;
    padding: 0;
}

*:first-child + html div#content div#sidebar div#site-search {
    height: auto;
    margin-top: 20px;
}

input#search-box-all-in,
#search-box-side,
#search-box-inq,
#search-box-faq,
#search-box-faq-in,
#search-box-manual,
#search-box-manual-in {
    font-size: 14px;
    width: 180px;
    margin: 0;
    padding: 2px 0 2px 20px;
    color: #097c8d;
    border: 1px solid #748fb5;
    background-color: #fff;
    background-image: url(../../img/common/side/obj_s_serch.gif);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

div#content div#sidebar div#site-search input#search-box-side {
    width: 104px;
    margin: 2px 0 0 5px;
}

.select-search-text {
    font-size: 12px;
    margin: 3px 0 0 5px;
    padding: 3px 0 1px;
    color: #097c8d;
    border: 1px solid #748fb5;
    background-color: #fff;
}

*:first-child + html input#search-box-side {
    position: relative;
    left: -3px;
}

input#site-search-btn-all-in,
#site-search-btn-side,
#site-search-btn-inq,
#site-search-btn-faq,
#site-search-btn-faq-in,
#site-search-btn-manual,
#site-search-btn-manual-in {
    width: 42px;
    height: 29px;
    margin: 0 0 3px 5px;
    vertical-align: middle;
}

* html div#content div#sidebar div#site-search #site-search-btn-side {
    position: relative;
    top: -2px;
}

*:first-child + html div#content div#sidebar div#site-search input#site-search-btn-side {
    position: relative;
    top: -2px;
    left: -3px;
}

div#content div#sidebar div#site-search p#site-search-note {
    font-size: 11px!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 206px;
    height: 19px;
    background-color: #e5e5e5;
}

/*
ACCOUNT CHECK */
div#sidebar-account-chk form#account-check-form {
    padding: 10px 0 0;

    ime-mode: disabled;
}

input#account-check-account {
    width: 80px;

    ime-mode: disabled;
}

select#account-check-subdomain-id {
    font-size: 12px;
    width: 85px;
    padding: 2px 0;
    color: #097c8d;
    border: 1px solid #748fb5;
}

div#sidebar-account-chk a#account-check-btn img {
    margin: 5px 0 0 118px;
    vertical-align: middle;
}

/*
CALCULATOR */

div#calculator {
    padding: 10px 0 0;
}

div#calculator table {
    margin-bottom: 10px;
}

div#calculator table th {
    width: 68px;
    text-align: center;
    letter-spacing: 0;
}

div#calculator div#c-result table td {
    text-align: right;
}

div#calculator table select {
    width: 90px;
    padding: 2px 0;
    color: #097c8d;
    border: 1px solid #748fb5;
}

div#calculator table td.cal-txt {
    font-size: 14px;
    color: #097c8d;
}

div#calculator p#c-btn {
    height: 30px;
    padding: 0;
    text-align: right;
}

div#calculator p#c-result-title {
    font-weight: bold;
    margin: 0 0 5px;
}

div#calculator tr#c-campaign {
    display: none;
}

div#calculator tr.sum {
    padding-top: 10px;
    border-top: 1px solid #e8e200;
}

div#calculator tr.discount td {
    font-size: larger;
    font-weight: bold;
    color: #f4721c;
}

div#calculator tr.sum th {
    border-color: #ffeaad #f2b300 #f2b300 #ffeaad;
    background-color: #f2b300;
}

tr#diskspace td {
    font-size: 108%;
}

tr#diskspace td,
tr#diskoption td {
    height: 34px;
}

* html tr#diskspace td,
* html tr#diskoption td {
    /* for IE6 */
    height: 22px;
}

tr#diskspace td,
x:-moz-read-only,
tr#diskoption td,
x:-moz-read-only {
    /* for FX1.5 - */
    height: 38px;
}

/*
-----------------------------------------------------------------------------
ORDER button
-----------------------------------------------------------------------------*/

/* button color pink */
a.order_button01,
input.order_button01 {
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 410px;
    margin: 0 auto;
    padding: 18px 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: 1px solid #f31e7f;
    border-radius: 12px;
    background: #ff6cad;
    background: -moz-linear-gradient(rgba(245,83,148,.5), rgba(245,83,148,1));
    background: -webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(245,83,148,.5)), to(rgba(245,83,148,1)));
    box-shadow: 0 1px #dc1e75,
                0 2px #dc1e75,
                0 3px #dc1e75,
                0 4px #dc1e75,
                0 5px #dc1e75,
                0 6px #dc1e75,
                0 7px #dc1e75,
                2px 7px 3px rgba(0,0,0,.3),
                0 1px rgba(255,255,255,.5) inset,
                0 -1px rgba(255,255,255,.2) inset;
    text-shadow: 0 -1px 1px #ae2f5f;
}
a.order_button01:hover,
input[type=submit].order_button01:hover {
    background: -moz-linear-gradient(rgba(245,83,148,.4), rgba(245,83,148,.9));
    background: -webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(245,83,148,.4)), to(rgba(245,83,148,.9)));
    box-shadow: 0 1px #f5356f,
                0 2px #f5356f,
                0 3px #f5356f,
                0 4px #f5356f,
                0 5px #f5356f,
                0 6px #f5356f,
                0 7px #f5356f,
                0 1px rgba(255,255,255,.5) inset,
                0 -1px rgba(255,255,255,.2) inset;
}

/* button color orange */
a.order_button02,
input.order_button02 {
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 410px;
    margin: 0 auto;
    padding: 18px 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #f25220;
    border-radius: 12px;
    background: #f78631;
    background: -moz-linear-gradient(rgba(245,111,0,.5), rgba(245,111,0,1));
    background: -webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(245,111,0,.5)), to(rgba(245,111,0,1)));
    box-shadow: 0 1px #dd441b,
                0 2px #dd441b,
                0 3px #dd441b,
                0 4px #dd441b,
                0 5px #dd441b,
                0 6px #dd441b,
                0 7px #dd441b,
                2px 7px 3px rgba(0,0,0,.3),
                0 1px rgba(255,255,255,.5) inset,
                0 -1px rgba(255,255,255,.2) inset;
    text-shadow: 0 -1px 1px #b5381f;
}
a.order_button02:hover,
input[type=submit].order_button02:hover {
    background: -moz-linear-gradient(rgba(245,111,0,.4), rgba(245,111,0,.9));
    background: -webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(245,111,0,.4)), to(rgba(245,111,0,.9)));
    box-shadow: 0 1px #ed3d1b,
                0 2px #ed3d1b,
                0 3px #ed3d1b,
                0 4px #ed3d1b,
                0 5px #ed3d1b,
                0 6px #ed3d1b,
                0 7px #ed3d1b,
                0 1px rgba(255,255,255,.5) inset,
                0 -1px rgba(255,255,255,.2) inset;
}

input.order_button02 {
    padding: 11px 10px 12px;
    margin: 20px auto;
}

a.order_button01 span,
a.order_button02 span {
    font-size: 80%;
}

/*
-----------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------*/

div#footer div.wrapper {
    font-size: 12px;
    color: #b9f34f;
}

div#footer div.wrapper a {
    display: inline;
    text-decoration: none;
    color: #fff;
}
div#footer div.wrapper a:hover {
    color: #085700;
}

div#footer div#company-info {
    height: 40px;
    padding: 15px 0 10px;
    text-align: center;
}

div#footer div#company-info ul {
    display: inline-block;
    height: 20px;
    margin: 0 auto;
}

div#footer div#company-info ul li {
    line-height: 1.0;
    float: left;
    margin: 0 0 10px;
    padding: 2px 10px;
    border-right: 1px solid #b9f34f;
}

div#footer div#company-info ul li.end {
    border: none;
}

div#footer div#copyright {
    padding: 0 0 20px;
    text-align: center;
    white-space: nowrap;
}

.copy {
    font-family: "Helvetica";
}

/* iPhone3G 3GS (portrait and landscape) */
@media screen and (max-device-width: 480px) {
    div#footer div.wrapper {
        font-size: 10px !important;
    }

    div#footer div#copyright p,
    div#footer div#copyright address {
        display: block !important;
    }

    div#footer div.wrapper {
        font-size: 10px  !important;
    }

    div#footer div#copyright {
        display: block  !important;
        white-space: normal  !important;
    }
}

/* iPad (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    div#footer div.wrapper {
        font-size: 10px !important;
    }

    div#footer div#copyright p,
    div#footer div#copyright address {
        display: block !important;
    }

    div#footer div.wrapper {
        font-size: 10px  !important;
    }

    div#footer div#copyright {
        display: block  !important;
        white-space: normal  !important;
    }
}

/* iPhone 4 (portrait and landscape) */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    div#footer div.wrapper {
        font-size: 10px !important;
    }

    div#footer div#copyright p,
    div#footer div#copyright address {
        display: block !important;
    }

    div#footer div.wrapper {
        font-size: 10px  !important;
    }

    div#footer div#copyright {
        display: block  !important;
        white-space: normal  !important;
    }
}

div#footer div#copyright p,
div#footer div#copyright address {
    display: inline;
}

/*
-----------------------------------------------------------------------------
GROUP LINKS
-----------------------------------------------------------------------------*/

#group-links {
    width: 783px;
    margin: 10px auto 58px;
    border-radius: 5px;
    background-color: #c0e4ee;
}

.ie8 #group-links {
    margin-bottom: 20px;
}

.gmo-footer-layout #group-links {
    margin-bottom: 0;
}

div#group-links p#ppb-logo {
    float: left;
    width: 186px;
    height: 12px;
    padding: 15px 0 10px 10px;
}

div#group-links p#ppb-logo a {
    display: block;
    overflow: hidden;
    width: 186px;
    height: 17px;
    text-indent: -999em;
    background-image: url(../../img/common/obj_logo_ppb.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#group-links dl {
    float: right;
    width: 562px;
    min-height: 10px;
    margin: 15px 10px 10px 0;
}

/* ie6-7 */
* html #group-links dl,
*:first-child + html #group-links dl {
    margin-bottom: 15px;
}

.group-links-category {
    font-size: 10px !important;
    line-height: 1.3;
    float: left;
    clear: both;
    width: 26%;
    margin: 0 0 5px;
    padding: 0 3px;
    text-align: left;
}

.group-links-categor span {
    height: 1em;
}

.group-links-service-box {
    font-size: 10px !important;
    margin: 0;
    padding: 0;
    text-align: left;
}

.group-links-service {
    display: block;
    float: left;
    height: 1em;
    margin: 0 0 4px;
    padding: 0 3px;
    white-space: nowrap;
    border-right: 1px solid #666;
}

.group-links-service-box li.end {
    border-right: none;
}

.group-links-service a {
    text-decoration: none;
    color: #097c8d;
}

/* not ie7 modern browser */
html > /**/body .group-links-service a {
    display: inline-block;
}

.group-links-service a:hover {
    color: #fff;
    background: #097c8d;
}

.loading-image {
    margin-left: 5px;
    background: url(../../img/common/loading.gif) no-repeat top left;
    background-repeat: no-repeat;
}

.loading-image-s {
    background: url(../../img/common/loading_s.gif) no-repeat top left;
    background-repeat: no-repeat;
}

/*
-----------------------------------------------------------------------------
TOOL'S BADGES
-----------------------------------------------------------------------------*/

.tool_badges {
    width: 783px;
    margin: -50px auto 0;
    text-align: right;
}

.tool_badges__item {
    display: inline-block;
    margin: 0 0 0 10px;
    line-height: 1;
}

/*
-----------------------------------------------------------------------------
DD_belate SETTING
-----------------------------------------------------------------------------*/

* html div#group-links {
    position: relative; top: 10px;
}

* html body {
    padding-bottom: 10px;
}

/*
-----------------------------------------------------------------------------
SUBMIT AREA
-----------------------------------------------------------------------------*/

div.main-body div#submit-area {
    position: relative;
    width: 100%;
}

div.main-body div#submit-area div#lock-submit-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    text-indent: -9999em;
         opacity: .60;
    background-color: #fff;
    background-image: url(../../img/common/loading.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    -moz-opacity: .60;
    filter: alpha(style=0, opacity=60);
}

/*
-----------------------------------------------------------------------------
TEMPORARY HEADER
-----------------------------------------------------------------------------*/

div#recommendation-browserupdate {
    font-size: 88%;
    float: none;
    clear: both;
    padding: 10px;
         opacity: .60;
    color: #ddd;
    background-color: #000;

    -moz-opacity: .60;
    filter: alpha(style=0, opacity=50);
}

/*
-----------------------------------------------------------------------------
汎用モーダル
-----------------------------------------------------------------------------*/

.modal-overlay-base {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.modal-overlay-show {
    -webkit-animation: overlay-show .2s ease-in 0s forwards;
            animation: overlay-show .2s ease-in 0s forwards;
}

.modal-overlay-hide {
    -webkit-animation: overlay-hide .2s ease-out 0s forwards;
            animation: overlay-hide .2s ease-out 0s forwards;
}

.modal-base {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    margin: auto;
}

.modal-show {
    display: block !important;
    -webkit-animation: show .2s ease-in 0s;
            animation: show .2s ease-in 0s;
    opacity: 1;
}

.modal-hide {
    display: none !important;
    -webkit-animation: hide .2s ease-out 0s;
            animation: hide .2s ease-out 0s;
    opacity: 0;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 3;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes overlay-show {
    from {
        opacity: 0;
    }
    to {
        opacity: .1;
    }
}

@keyframes overlay-show {
    from {
        opacity: 0;
    }
    to {
        opacity: .3;
    }
}

@-webkit-keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes overlay-hide {
    from {
        opacity: .3;
    }
    to {
        opacity: 0;
    }
}

@keyframes overlay-hide {
    from {
        opacity: .3;
    }
    to {
        opacity: 0;
    }
}

/*
-----------------------------------------------------------------------------
GMO HEADER
-----------------------------------------------------------------------------*/
#gmocommonheader {
    letter-spacing: 0;
}

.gmo-footer-layout #gmocommonfooter {
    width: 783px !important;
    margin-top: 10px !important;
    margin-right: auto;
    margin-left: auto;
}

/* -------------------------------------------------------------------
 maintenance 1Column
---------------------------------------------------------------------- */

.maintenance #content .wrapper {
    background: url(../../../img/common/bg_main_1column.png) repeat-y 0 50%;
}

.maintenance #local-nav {
    display: none;
}

.maintenance #body {
    display: block;
    width: 721px;
    height: auto;
}

.maintenance .body-bottom #go-pagetop {
    width: 73px;
    height: 23px;
    margin: 0 0 0 646px;
    padding-top: 10px;
}

.maintenance-inner {
    margin: 80px 0;
    text-align: center;
}

.maintenance-inner-image {
    margin: 0 auto;
    display: block;
    width: 165px;
    height: 104px;
}

.maintenance-inner h1 {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    text-indent: 0;
    width: 100%;
    height: auto;
}
