@charset "utf-8";

/*
-------------------------------------------------------------------------------
BROWSER RESET / CLEARFIX / PKG
-------------------------------------------------------------------------------*/

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,embed,object{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
html,fieldset,img,abbr{border:0;}
address,caption,cite,code,dfn,em,h1,h2,h3,h4,h5,h6,strong,th,var{font-style:normal;font-weight:normal;}
ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:1.0em;}
q:before,q:after{content:'';}
a,ins{text-decoration:none;}

/* standard helper classes */
.clr{clear: both;float: none;overflow: hidden;width: 1px;height: 1px;margin: 0 -1px -1px 0;border: 0;padding: 0;font-size: 0;line-height: 0;}
.clr hr{display:none;}
/* .pkg class wraps enclosing block element around inner floated elements */
.pkg:after {content: " ";display: block;visibility: hidden;clear: both;height: 0.1px;font-size: 0.1em;line-height: 0;}
* html .pkg {display: inline-block;}
/* no ie mac \*/
* html .pkg {height: 1%;}
.pkg {display: block;}
/* */