@charset 'utf-8';

/* ===================================================================
 HOME.CSS
====================================================================== */

/* PAGE TITLE -------------------------------------------------------- */

h1.main-title {
    background-repeat: no-repeat;
    background-position: top left;
}

.index h1 {
    height: 125px; margin: 0 0 10px; text-align: center;
    text-indent: 0;
}

#h1-txt {
    width: 508px;
    height: 20px;
    margin: 0 0 8px;
    color: #fff;
    border: solid #ff9191 1px;
    background-color: #fc4d4d;
}

.sitemap h1.main-title {
    background-image: url(../../../img/default/home/h1_map.gif);
}
.etc     h1.main-title {
    background-image: url(../../../img/default/home/h1_etc.gif);
}
.cookie  h1.main-title {
    background-image: url(../../../img/default/home/h1_cookie.gif);
}


/* -------------------------------------------------------------------
 TOP
---------------------------------------------------------------------- */

hr {
    display: none;
}

#home-various,
#home-plan,
#home-news,
#home-schedule {
    background-image: url(../../../img/default/home/h2_home.png);
    background-repeat: no-repeat;
}

/* TOPBNR -------------------- */

ul.topbnr {
    font-size: 83%;
    margin: 10px 0;
    text-align: center;
}

ul.topbnr li {
    margin: 0 0 2px;
}

.info-image01 {
    text-align: center;
}

.info-image01 a {
    margin: 0;
}

/* MIDDLE BANNER ---------------------- */
.ability-service-list {
    overflow: hidden;
    padding: 0 3px;
}

.ability-service-item {
    float: left;
    width: 124px;
    height: 124px;
    margin-right: 2px;
}

.ability-service-item a {
    margin: 0;
}

.ie8 .ability-service-item {
    margin-bottom: 6px;
}

.ability-service {
    width: 100%;
    height: 100%;
}

.ability-banner {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 124px;
    background-image: url(../../../img/default/home/obj_middle_banner.png);
    background-repeat: no-repeat;
}

.ability-service a.lolidoma {
    background-position: 0 0;
}

.ability-service a.lolidoma:hover {
    background-position: 0 -124px;
}

.ability-service a.backup {
    background-position: 0 -248px;
}

.ability-service a.backup:hover {
    background-position: 0 -372px;
}

.ability-service a.disk {
    background-position: 0 -496px;
}

.ability-service a.disk:hover {
    background-position: 0 -620px;
}

.ability-service a.trial {
    background-position: 0 -744px;
}

.ability-service a.trial:hover {
    background-position: 0 -868px;
}

.ability-service a.loliblog {
    background-position: 0 -992px;
}

.ability-service a.loliblog:hover {
    background-position: 0 -1116px;
}

.ability-service a.mt2 {
    background-position: 0 -1240px;
}

.ability-service a.mt2:hover {
    background-position: 0 -1364px;
}

.ability-service a.wp {
    background-position: 0 -1240px;
}

.ability-service a.wp:hover {
    background-position: 0 -1364px;
}

.ability-service a.cmsm {
    background-position: 0 -1488px;
}

.ability-service a.cmsm:hover {
    background-position: 0 -1612px;
}

.ability-service a.smp {
    background-position: 0 -1736px;
}

.ability-service a.smp:hover {
    background-position: 0 -1860px;
}

.ability-service a.app {
    background-position: 0 -1984px;
}

.ability-service a.app:hover {
    background-position: 0 -2108px;
}

.ability-service a.db {
    background-position: 0 -2232px;
}

.ability-service a.db:hover {
    background-position: 0 -2356px;
}

.ability-service a.ftpmailer {
    background-position: 0 -2480px;
}

.ability-service a.ftpmailer:hover {
    background-position: 0 -2604px;
}

.ability-service a.mlmm {
    background-position: 0 -2728px;
}

.ability-service a.mlmm:hover {
    background-position: 0 -2852px;
}

.ability-service a.virus {
    background-position: 0 -2976px;
}

.ability-service a.virus:hover {
    background-position: 0 -3100px;
}

.ability-service a.spam {
    background-position: 0 -3224px;
}

.ability-service a.spam:hover {
    background-position: 0 -3348px;
}

/* LIST ---------------------- */

#home-various {
    overflow: hidden;
    width: 510px;
    height: 32px;
    white-space: nowrap;
    text-indent: 100%;
    background-repeat: no-repeat;
}

ul.homelist {
    margin: 15px 0 20px 5px;
}

ul.homelist li {
    margin: 0 0 5px;
    padding: 0 0 4px 18px;
    background: url(../../../img/common/icon/icon_star_home.gif) no-repeat top left;
}


/* PLAN ---------------------- */

#home-plan {
    overflow: hidden;
    width: 510px;
    height: 35px;
    white-space: nowrap;
    text-indent: 100%;
    background-repeat: no-repeat;
    background-position: 0 -150px;
}


/* GUIDE --------------------- */

.box-guide {
    overflow: hidden;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #d4f0ff;
}

.ielt9 .box-guide {
    padding: 0 15px;
}

.box-guide ul li {
    float: left;
    margin: 0 0 10px;
}

.guide-item-step1,
.guide-item-step2,
.guide-item-step3 {
    width: 144px;
    text-align: center;
}

.guide-item-step1 a,
.guide-item-step2 a,
.guide-item-step3 a {
    display: inline-block;
    overflow: hidden;
    width: 138px;
    height: 0;
    margin: 0;
    padding-top: 100px;
    background-image: url(../../../img/default/home/obj_home_guides.png);
    background-repeat: no-repeat;
}

.guide-item-step1 a {
    background-position: 0 0;
}

.guide-item-step2 a {
    background-position: 0 -100px;
}

.guide-item-step3 a {
    background-position: 0 -200px;
}

/* INFO ---------------------- */

#home-news,
#home-schedule {
    overflow: hidden;
    width: 510px;
    height: 36px;
    white-space: nowrap;
    text-indent: 100%;
    background-repeat: no-repeat;
}

#home-news {
    background-position: 0 -50px;
}

#home-schedule {
    background-position: 0 -100px;
}

body.index #info-list li span,
body.index #schedule-list li span {
    letter-spacing: 0;
}

body.index #info-list li,
body.index #schedule-list li {
    padding-bottom: 5px;
    background-position: left bottom;
}

.release-icon,
.develop-icon,
.prepar-icon {
    height: 14px;
    height: auto;
    min-height: 14px;
    padding-right: 61px;
    padding-bottom: 2px;
    letter-spacing: 1px;
    background-image: url(../../../img/default/home/obj_plan_icon.png);
    background-repeat: no-repeat;
}

.release-icon {
    background-position: right 0;
}

.develop-icon {
    background-position: right -34px;
}

.prepar-icon {
    background-position: right -68px;
}
span .prepar-icon {
    margin: 0 3px;
    letter-spacing: 1px;
}


/* 本家トップのh2 */

h2.top-page {
    overflow: hidden;
    height: 34px;
    margin: 0 0 10px;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../../img/default/home/h2_home_001.png);
    background-repeat: no-repeat;
}

.top-page-01 {
    background-position: 0 0;
}
.top-page-02 {
    background-position: 0 -40px;
}
.top-page-03 {
    background-position: 0 -80px;
}


/* 選ばれる理由 */

h3.reason {
    overflow: hidden;
    height: 27px;
    margin: 0 0 5px;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../../img/default/home/h3_home_001.png);
    background-repeat: no-repeat;
}

.reason-01 {
    background-position: 0 0;
}
.reason-02 {
    background-position: 0 -30px;
}
.reason-03 {
    background-position: 0 -60px;
}
.reason-04 {
    background-position: 0 -90px;
}


.homebox01 {
    width: 220px;
    padding: 15px;
    text-align: center;
    background-color: #f4f4d4;
}

.homebox01 p {
    margin: 0 5px;
    padding: 5px 0 0;
    text-align: left;
    background: url(../../../img/default/home/obj_home_008.png) no-repeat center;
}


/* -------------------------------------------------------------------
 SITEMAP
---------------------------------------------------------------------- */

.sitemap dl {
    width: 235px; margin: 0 0 20px;
}

#main .sitemap dt {
    overflow: hidden;
    height: 32px;
    margin: 0 0 3px;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../../img/default/home/h2_map.gif);
    background-repeat: no-repeat;
}

.sitemap .dt-01 {
    background-position: 0 0;
}
.sitemap .dt-02 {
    background-position: 0 -35px;
}
.sitemap .dt-03 {
    background-position: 0 -70px;
}
.sitemap .dt-04 {
    background-position: 0 -105px;
}
.sitemap .dt-05 {
    background-position: 0 -140px;
}
.sitemap .dt-06 {
    background-position: 0 -175px;
}
.sitemap .dt-07 {
    background-position: 0 -210px;
}

.sitemap dd {
    margin: 0 0 0 5px;
    background: url(../../../img/default/home/obj_map_line.gif) no-repeat 0 0;
}

.sitemap .dd-01 {
    padding: 2px 0 4px 23px;
}

.sitemap .dd-02 {
    font-size: 87%;
    padding: 2px 0 2px 37px;
    background-position: 0 -50px;
}

.sitemap .dd-03 {
    font-size: 87%;
    padding: 2px 0 4px 37px;
    background-position: 0 -100px;
}

.sitemap .dd-04 {
    padding: 2px 0 4px 23px;
    background-position: 0 -150px;
}


/* -------------------------------------------------------------------
 ETC
---------------------------------------------------------------------- */

h2.etc {
    overflow: hidden;
    height: 36px;
    margin: 0 0 5px;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../../img/default/home/h2_etc.gif);
    background-repeat: no-repeat;
}

.security {
    background-position: 0 0;
}
.privacy {
    background-position: 0 -50px;
}
.link {
    background-position: 0 -100px;
}

body.etc #container dl dt {
    margin: 10px 0;
}

body.etc dl dd {
    margin: 0 0 5px;
}

/* -------------------------------------------------------------------
 header home/index
---------------------------------------------------------------------- */

.index div#container div#content div.wrapper {
    background: url(../../../img/common/bg_main_1column.png) repeat-y 0 50%;
}

.index #local-nav,
.index #local-nav,
.index div#header-board {
    display: none;
}

.index #body {
    box-sizing: border-box;
    width: 729px;
    margin: 16px 21px 0;
    padding: 0;
}

.feature-banner {
    line-height: 88px;
    width: 728px;
    height: 88px;
    margin: 0;
    text-align: center;
}

.feature-banner a {
    margin: 0;
}

.contents {
    margin-bottom: 24px;
}

.contents-title {
    overflow: hidden;
    width: 728px;
    height: 35px;
    margin: 16px 0;
    text-align: center;
    white-space: nowrap;
    text-indent: 100%;
    background: url(../../../img/default/home/h2_home_title.png) 0 0 no-repeat;
}

.contents-title.campaign-title {
    margin: 0 0 24px;
    background-position: 0 -181px;
}

.contents-title.plan-title {
    background-position: 0 0;
}

.contents-title.features-title {
    background-position: 0 -36px;
}

.contents-title.usage-title {
    background-position: 0 -72px;
}

.campaign {
    overflow: hidden;
}

.campaign ul li {
    position: relative;
    margin: 0 0 12px 10px;
    padding: 0 0 0 32px;
}

.campaign ul li:before {
    position: absolute;
    top: -8px;
    left: -4px;
    width: 31px;
    height: 31px;
    content: '';
    background-image: url(../../../img/default/home/megaphone.svg);
    background-repeat: no-repeat;
    background-size: 31px 31px;
}

.campaign a {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    max-width: 580px;
    margin: 0 7px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #0d97be;
}

.campaign span {
    font-size: 13px;
    position: relative;
    top: -6px;
    padding: 5px 10px;
    color: #ff7450;
    border-radius: 3px;
    background-color: #fff118;
}

.plan-box-container {
    font-size: 0;
    position: relative;
    width: 712px;
    margin: 28px auto 15px;
}

.plan-box-otherplan {
    width: 172px;
}
.plan-box-otherplan,
.plan-box-standardplan {
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    border-top: 1px solid #aab7ba;
    border-right: 1px solid #aab7ba;
    border-bottom: 1px solid #aab7ba;
}
.plan-box-standardplan {
    width: 196px;
}
.plan-box-otherplan:first-child,
.plan-box-standardplan:first-child {
    border-left: 1px solid #aab7ba;
    border-radius: 3px 0 0 3px;
}
.plan-box-otherplan:last-child {
    border-radius: 0 3px 3px 0;
}

.plan-box-otherplan dt,
.plan-box-standardplan dt {
    font-size: 12px;
    position: relative;
    height: 90px;
    color: #6b6b6b;
    border-bottom: 1px solid #aab7ba;
}

.plan-box-standardplan dt {
    color: #fff;
}

.plan-box-otherplan dt a,
.plan-box-standardplan dt a {
    font-size: 11px;
    text-decoration: none;
    color: #4b4b4b;
}

dt.plan-economy {
    border-radius: 3px 0 0 3px;
    background-color: #f0faeb;
}
dt.plan-lite {
    background-color: #fdf4f8;
}
dt.plan-enterprise {
    border-radius: 0 3px 3px 0;
    background-color: #fcf4f0;
}
dt.plan-standard {
    position: absolute;
    top: -18px;
    right: 172px;
    box-sizing: border-box;
    width: 197px;
    height: 110px;
    border-top: 1px solid #aab7ba;
    border-right: 1px solid #aab7ba;
    border-left: 1px solid #aab7ba;
    border-radius: 3px 3px 0 0;
    background-color: #14ade2;
}

.plan-economy img,
.plan-lite img,
.plan-enterprise img {
    position: absolute;
    top: 9px;
    left: 10px;
}
.plan-standard img {
    position: absolute;
    top: 22px;
    left: 15px;
}

.plan-box-otherplan dt p {
    right: 21px;
}

.plan-box-otherplan dt p,
.plan-box-standardplan dt p {
    position: absolute;
    bottom: 10px;
    width: 132px;
}

.plan-box-standardplan dt p {
    right: 32px;
}

.plan-box-otherplan .btn-plan-more {
    font-size: 11px;
    position: relative;
    display: block;
    width: 132px;
    margin: 3px auto 0;
    padding: 2px 0;
    color: #2b2b2b;
    border-radius: 3px;
}
.plan-economy .btn-plan-more {
    background-color: #c4efb9;
}
.plan-lite .btn-plan-more {
    background-color: #fbd6e1;
}
.plan-enterprise .btn-plan-more {
    background-color: #fedac2;
}
.plan-box-standardplan .btn-plan-more {
    font-size: 11px;
    position: relative;
    display: block;
    width: 132px;
    margin: 3px auto 0;
    padding: 2px 0;
    color: #2b2b2b;
    border-radius: 3px;
    background-color: rgba(256,256,256,.6);
}
.plan-box-otherplan .btn-plan-more:after,
.plan-box-standardplan .btn-plan-more:after {
    position: absolute;
    top: 7px;
    right: 6px;
    width: 0;
    height: 0;
    content: '';
    border-width: 5px 0 5px 7px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.plan-box-otherplan dd,
.plan-box-standardplan dd {
    font-size: 11px;
    line-height: 1.7em;
    padding: 10px 0;
    border-bottom: 1px solid #dfe9ea;
}
.plan-box-otherplan dd:last-child,
.plan-box-standardplan dd:last-child {
    border: none;
}

.plan-box-otherplan dd.unable,
.plan-box-standardplan dd.unable {
    background-color: #ededed;
}
.plan-box-otherplan dd.unable strong,
.plan-box-standardplan dd.unable strong {
    color: #666;
}

.plan-box-otherplan strong,
.plan-box-standardplan strong {
    font-size: 16px;
    font-weight: bold;
    color: #4b4b4b;
}

.plan-box-otherplan strong.special,
.plan-box-otherplan .special-red,
.plan-box-standardplan strong.special,
.plan-box-standardplan .special-red {
    color: #ef613a;
}

.btn-submit {
    font-size: 16px;
    width: 135px;
    margin: 2px 0 8px;
    padding: 10px 0;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #6ec800;
    box-shadow: rgb(106, 178, 4) 0 6px 0 0;
}

.plan-box-standardplan .btn-submit {
    width: 160px;
}

.ribbon {
    position: absolute;
    z-index: 1;
    top: -2px;
    right: -2px;
    width: 68px;
    height: 42px;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../../img/default/home/obj_home_plan_ribbon.svg);
    background-repeat: no-repeat;
    background-size: 68px 42px;
}

.ribbon,
.plan-detail-link {
    overflow: hidden;
}

.plan-attention {
    font-size: 92%;
    float: left;
    margin-top: 4px;
    margin-left: 16px;
}

.plan-function-spec-links {
    float: right;
    margin-top: 4px;
    margin-right: 16px;
}

.plan-function-link-button {
    width: 151px;
}

.plan-function-link-button,
.plan-price-link-button {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
    text-indent: 100%;
}

.plan-price-link-button {
    width: 123px;
}

.plan-function-link-button {
    background: url(../../../img/default/home/btn_home_plan_function_detail.png) 0 0 no-repeat;
}

.plan-price-link-button {
    background: url(../../../img/default/home/btn_home_plan_price_detail.png) 0 0 no-repeat;
}

.feature-block {
    overflow: auto;
    margin: 16px 24px;
}

.feature-conent {
    width: 414px;
}

.feature-conent-image {
    width: 260px;
    text-align: center;
}

.feature-block {
    margin-top: 32px;
    margin-bottom: 32px;
}

.feature-block.feature-wordpress {
    margin-top: 0;
}

.feature-title {
    overflow: hidden;
    height: 38px;
    margin-bottom: 8px;
    white-space: nowrap;
    text-indent: 100%;
    background: url(../../../img/default/home/h3_home_title.png) 0 0 no-repeat;
}

.feature-conent .content-text {
    font-size: 108%;
    line-height: 1.8;
    margin-left: 8px;
}

.feature-conent.content-left .content-text {
    margin-right: 16px;
}

.feature-wordpress .feature-title {
    margin-top: 12px;
    background-position: 0 0;
}

.feature-backup .feature-title {
    background-position: 0 -38px;
}

.feature-utilization .feature-title {
    background-position: 0 -76px;
}

.feature-support .feature-title {
    background-position: 0 -114px;
}

.features-line {
    display: block;
    height: 2px;
    margin: 0 32px;
    border: 0;
    background-color: transparent;
    background-image: url(../../../img/common/line/line_dot_11.gif);
    background-repeat: repeat-x;
    background-position: 0 0;
}

.content-left {
    float: left;
}

.content-right {
    float: right;
}

.functions {
    margin-top: 16px;
}

.functions-title {
    position: relative;
    z-index: 2;
    text-align: center;
}

.function-list {
    /* css pie seting */
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    width: 650px;
    margin: 0 auto;
    padding: 32px 16px 16px;
    border: solid 1px #efe3b3;
    border-radius: 5px;
    background-color: #f4f4d4;

    behavior: url(css/PIE.htc);
}

.functions-title {
    position: relative;
    top: 16px;
    width: 231px;
    height: 32px;
    margin-right: auto;
    margin-left: auto;
    background: url(../../../img/default/home/h3_home_functions.png) 0 0 no-repeat;
}

.functions-title,
.function-item {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}

.function-item {
    line-height: 55px;
    float: left;
    width: 150px;
    height: 57px;
    margin-right: 4px;
    margin-bottom: 16px;
    text-align: center;
    background: url(../../../img/default/home/obj_home_functions_list.png) 0 0 no-repeat;
}

.function-domain {
    background-position: 0 0;
}

.function-webftp {
    background-position: 0 -57px;
}

.function-mailer {
    background-position: 0 -114px;
}

.function-shop {
    background-position: 0 -171px;
}

.function-mysql {
    background-position: 0 -228px;
}

.function-php {
    background-position: 0 -285px;
}

.function-ssl {
    background-position: 0 -342px;
}

.function-security {
    background-position: 0 -399px;
}

.function-detail-link {
    margin-top: 24px;
    text-align: center;
}

.usage-list-block {
    /* css pie seting */
    position: relative;
    margin: 0 24px;
    padding: 16px 28px;
    border: solid 1px #b1e4ff;
    border-radius: 5px;
    background-color: #d4f0ff;

    behavior: url(css/PIE.htc);
}

.usage-list-item {
    float: left;
    margin-left: 8px;
}

.usage-list-item:first-child {
    margin-left: 0;
}

.usage-list-thumb {
    position: relative;
    display: block;
    width: 196px;
    height: 147px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-shadow: 0 0 2px #bfd8e6;
}

.usage-list-thumb[data-url='dhw.ac.jp'] {
    background-image: url(../../../img/default/home/obj_dhw_ac_jp_thumb.jpg);
}

.usage-list-thumb[data-url='mtblanc.jp'] {
    background-image: url(../../../img/default/home/obj_mtblanc_jp_thumb.jpg);
}

.usage-list-thumb[data-url='foresthuntingone.com'] {
    background-image: url(../../../img/default/home/obj_foresthuntingone_com_thumb.jpg);
}

.usage-list-thumb[data-url='sakelife.jp'] {
    background-image: url(../../../img/default/home/obj_sakelife_jp_thumb.jpg);
}

.usage-list-name {
    font-size: .8em;
    bottom: 0;
    width: 100%;
    padding: .2em .4em;
    text-align: center;
    color: #fff;
    background-color: #aaa;
    background-color: rgba(0,0,0,.4);
}

.usage-list-name,
.owl-prev,
.owl-next {
    position: absolute;
    display: block;
}

.owl-prev,
.owl-next {
    top: 60px;
    overflow: hidden;
    width: 28px;
    height: 28px;
    white-space: nowrap;
    text-indent: 100%;
    border: 1px solid #b6b6b3;
    border-radius: 56px;
    background-color: #f4f4d4;
    background-repeat: no-repeat;
    /* css pie seting */

    behavior: url(css/PIE.htc);
}

.owl-prev {
    left: -44px;
    background-image: url(../../../img/default/home/obj_prev_item_icon.png);
    background-position: 7px center;
}

.owl-next {
    right: -44px;
    background-image: url(../../../img/default/home/obj_next_item_icon.png);
    background-position: 9px center;
}

.infomations {
    overflow: hidden;
}

.infomation-block,
.schedule-block {
    position: relative;
    width: 354px;
}

.infomation-news {
    float: left;
}

.infomation-schedule {
    float: right;
}

.infomation-title,
.schedule-title {
    line-height: 36px;
    overflow: hidden;
    height: 35px;
    text-align: center;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../../img/default/home/h2_home_title.png);
    background-repeat: no-repeat;
}

.information-more {
    position: absolute;
    top: 9px;
    right: 12px;
    width: 78px;
    height: 16px;
}

.information-more-button {
    display: block;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url(../../../img/default/home/btn_infomation_more.png);
    background-repeat: no-repeat;
    background-position: -1px 0;
}

.infomation-title {
    background-position: 0 -109px;
}

.schedule-title {
    background-position: 0 -146px;
}

.infomation-item,
.schedule-item {
    line-height: 30px;
    position: relative;
    height: 30px;
    margin: 2px;
    background-position: left bottom;
}

.infomation-date,
.schedule-date {
    display: inline-block;
    width: 102px;
    vertical-align: middle;
}

.infomation-item .content-link,
.schedule-item .content-link {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.infomation-item .content-link {
    width: 229px; /* fallback for not support calc property */
    /* 100% - infomation-date width - margin - letter spacing */
    width: calc(100% - 102px - 2px - 4px);
}

.schedule-item .content-link {
    width: 180px; /* fallback for not support calc property */
    /* 100% - schedule-date width - schedule-item icons width - margin */
    width: calc(100% - 102px - 52px - 2px - 8px);
}

.schedule-item.state-release:after,
.schedule-item.state-correspondence:after,
.schedule-item.state-preparation:after {
    font-size: 11px;
    line-height: 15px;
    position: absolute;
    top: 5px; /* fallback for not support calc property */
    top: calc((30px - 20px) / 2);
    right: 1px;
    box-sizing: border-box;
    width: 52px;
    height: 18px;
    padding: 2px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
}

.schedule-item.state-release:after {
    content: '\30ea\30ea\30fc\30b9';
    background-color: #ff5f75;
}

.schedule-item.state-correspondence:after {
    content: '\5bfe\5fdc\4e2d';
    background-color: #4daa00;
}

.schedule-item.state-preparation:after {
    content: '\6e96\5099\4e2d';
    background-color: #0083bb;
}


div.body-bottom p#go-pagetop {
    width: 100%;
    margin: 0;
    text-align: right;
}

div.body-bottom p#go-pagetop a {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}

div#content div#site-search-result h1 {
    width: 729px;
    background-image: url(../../../img/default/search/h1_search_full.gif);
}

div#content div#site-search-result {
    display: none;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

#site-search-result-close-btn-top,
#site-search-result-close-btn-bottom {
    margin-left: 600px;
}

.recruit_link {
    font-size: 93%;
    position: relative;
    padding: 0 0 0 20px;
}

.recruit_link:before {
    position: absolute;
    top: -3px;
    left: -1px;
    width: 18px;
    height: 18px;
    content: url('../../../img/common/icon/icon_star.gif');
}

/* TOP TWITTER PR ---------------------- */

.twitter-block {
    position: relative;
    margin: 0 24px;
    padding: 16px 22px;
    border: solid 1px #bddff3;
    border-radius: 6px;
    background-color: #ecf7fe;
}

.twitter-block-button {
    position: absolute;
    top: 15px;
    right: 0;
    width: 241px;
    padding: 7px 0 1px;
    text-align: center;
    border-left: solid 1px #bddff3;
}

/* BALLOON ---------------------- */

.bottom-arrow-balloon {
    position: relative;
    padding: 8px 5px 7px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: #006ce2;
}

.bottom-arrow-balloon:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -7px;
    content: '';
    pointer-events: none;
    border: solid transparent;
    border-width: 7px;
    border-top-color: #006ce2;
}

.bottom-arrow-balloon-normal {
    width: 370px;
    margin-left: 260px;
}

.bottom-arrow-balloon-246 {
    width: 246px;
    margin-left: 323px;
}

.bottom-arrow-balloon-pickup {
    margin: 0 5px;
    padding: 3px;
    color: #006ce2;
    border-radius: 2px;
    background-color: #ffff2c;
}

/* lp-return-environment ---------------------- */

.lp-return-environment-title {
    font-size: 24px;
    padding: 20px 0 9px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background: #208cdf;
    box-shadow: rgba(57, 128, 183, .65) 0 0 50px 8px inset;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .24);
}

.lp-return-environment-title .big {
    font-size: 40px;
    font-weight: bold;
    line-height: 130%;
    display: block;
    padding-left: 10px;
}

.lp-return-environment-red {
    padding-bottom: 3px;
    color: #f34b3e;
    border-bottom: 3px solid #f34b3e;
}

ol.lp-return-environment-point {
    list-style-type: none;
}

.lp-return-environment-point:after {
    display: block;
    clear: both;
    content: '';
}

.lp-return-environment-point a,
.lp-return-environment-plus a {
    font-weight: bold;
    color: #0d97be;
}

.lp-return-environment-point1,
.lp-return-environment-point2,
.lp-return-environment-point3,
.lp-return-environment-no,
.lp-return-environment-plus {
    background-image: url(../../../img/default/home/obj_return_environment.svg);
    background-repeat: no-repeat;
    background-size: 674px 516px;
}

.lp-return-environment-point1,
.lp-return-environment-point2,
.lp-return-environment-point3 {
    position: relative;
    box-sizing: border-box;
    width: 243px;
    padding-top: 175px;
    border-left: 1px dashed #aab7ba;
}

.lp-return-environment-point1 {
    border-top: 2px solid #f34b3e;
    background-position: 15px 26px;
}

.lp-return-environment-point2 {
    border-top: 2px solid #5492ea;
    background-position: -225px 26px;
}

.lp-return-environment-point3 {
    border-top: 2px solid #83dddd;
    border-right: 1px dashed #aab7ba;
    background-position: -475px 28px;
}

.lp-return-environment-no {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 48px;
    height: 48px;
}

.lp-return-environment-no1 {
    background-position: -345px -381px;
}

.lp-return-environment-no2 {
    background-position: -422px -381px;
}

.lp-return-environment-no3 {
    background-position: -498px -381px;
}

.lp-return-environment-plus {
    box-sizing: border-box;
    height: 274px;
    border-top: 2px solid #6d20ed;
    border-right: 1px dashed #aab7ba;
    border-bottom: 1px dashed #aab7ba;
    border-left: 1px dashed #aab7ba;
    background-position: 490px -238px;
}

.lp-return-environment-plus-description {
    width: 430px;
    background-position: -422px -381px;
}

/* lp-standard ---------------------- */

.lp-standard {
    margin-bottom: 16px;
}

.lp-standard:after {
    display: block;
    clear: both;
    content: '';
}

.lp-standard-head {
    position: relative;
    border-radius: 6px;
    background-color: #256bcb;
    margin-bottom: 30px;
}

.lp-standard-head:after {
    position: absolute;
    top: 100%;
    left: 62%;
    width: 0;
    height: 0;
    margin-left: -12px;
    content: '';
    pointer-events: none;
    border: solid transparent;
    border-width: 14px;
    border-top-color: #256bcb;
}

.lp-standard-ribbon {
    position: absolute;
    top: 0;
    left: 0;
}

.lp-standard-pickup-badge {
    position: absolute;
    z-index: 10;
    right: 4px;
    box-sizing: border-box;
    width: 265px;
    height: 262px;
    background-repeat: no-repeat;
    background-size: 265px 262px;
}

.lp-standard-pickup-badge-speed {
    background-image: url(../../../img/default/home/obj_lp_standard_pickup.png);
    top: -14px;
}

.lp-standard-pickup-badge-cost-performance {
    background-image: url(../../../img/default/home/obj_lp_standard_pickup_cost_performance.png);
    top: -10px;
}

.lp-standard-pickup-badge-stability {
    background-image: url(../../../img/default/home/obj_lp_standard_pickup_stability.png);
    top: -9px;
}

.lp-standard-pickup-badge-easy {
    background-image: url(../../../img/default/home/obj_lp_standard_pickup_easy.png);
    top: -14px;
}

.lp-standard-pickup-badge-txt {
    position: absolute;
    top: 0;
    left: -9999em;
}

.lp-standard-pickup-badge-link {
    margin-top: 180px;
    text-align: center;
}

.lp-standard-pickup-badge-link-stability {
    margin-top: 190px;
    text-align: center;
}

.lp-standard-pickup-badge-link-stability a,
.lp-standard-pickup-badge-link a {
    color: #073b81;
    cursor: pointer;
}

.lp-standard-block {
    position: relative;
}

.lp-standard-st-position {
    width: 400px;
    padding: 50px 58px 40px;
    color: #fff;
}

.lp-standard-plan-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #4a84d4;
}

.lp-standard-plan-price {
    font-size: 16px;
    position: absolute;
    top: 1px;
    right: 0;
}

.lp-standard-plan-description {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 10px;
}

/* lp-standard plan-block ------------ */

.plan-block-wrapper {
    margin-top: 10px;
    margin-bottom: 5px;
}

.plan-block-inline {
    font-size: 0;
}

.plan-block-inline li {
    vertical-align: bottom;
}

.plan-block-default {
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
}

.plan-block-border-top {
    border-top: 1px solid #ccc;
}

.plan-block-border-right {
    border-right: 1px solid #ccc;
}

.plan-block-border-left {
    border-left: 1px solid #ccc;
}

.plan-block-border-bottom {
    border-bottom: 1px solid #ccc;
}

.plan-block-border-radius-top-left {
    border-top-left-radius: 6px;
}

.plan-block-border-radius-top-right {
    border-top-right-radius: 6px;
}

.plan-block-border-radius-bottom-left {
    border-bottom-left-radius: 6px;
}

.plan-block-border-radius-bottom-right {
    border-bottom-right-radius: 6px;
}

.plan-block-title-low,
.plan-block-title-middle,
.plan-block-title-high {
    box-sizing: border-box;
    position: relative;
}

.plan-block-title-low {
    padding-top: 22px;
    height: 80px;
}

.plan-block-title-middle {
    padding-top: 22px;
    background: #f6fafd;
    height: 80px;
}

.plan-block-title-high {
    padding-top: 26px;
    background: #256bcb;
    height: 90px;
    color: #fff;
}

.plan-block-title-name-low {
    font-size: 16px;
    color: #21373e;
}

.plan-block-title-name-middle {
    font-size: 20px;
    color: #21373e;
}

.plan-block-title-name-high {
    font-size: 24px;
    color: #fff;
}

.plan-block-description {
    font-size: 13px;
    line-height: 140%;
    border-bottom: 1px solid #ebebeb;
}

.plan-block-middle-description-bg {
    background-color: #eef8ff;
}

.plan-block-high-description-bg {
    background-color: #cce2ff;
}

.plan-block {
    width: 180px;
}

.plan-block-narrow {
    width: 176px;
}

.plan-block-wide {
    width: 190px;
    border: 2px solid #256bcb;
    border-radius: 6px 6px 0 0;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 9px 1px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.plan-block-title-price {
  margin-top: 3px;
}

.plan-block-title-price,
.plan-block-dt {
    font-size: 12px;
}

.plan-block-dt {
    padding-top: 13px;
}

.plan-block-dd {
    font-size: 16px;
    padding-bottom: 13px;
    color: #4b4b4b;
    border-bottom: 1px solid #ebebeb;
}

.spec-pickup {
    color: #256bcb;
}

.not-function {
    background-color: #f5f5f5;
}

.lp-standard-smalltext {
    font-size: 10px;
    color: #8c8c8c;
}

.lp-standard-btn-submit {
    border: 1px solid #5daa00;
    background-color: #6ec800;
    font-size: 15px;
    line-height: normal;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    width: 140px;
    margin: 0;
    padding: 10px 26px;
}

/* lp-standard-modal ----------------- */

.lp-standard-modal {
    display: none;
    height: 600px;
    width: 860px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    border-radius: 4px;
    padding: 20px 50px;
    box-sizing: border-box;
}

.lp-standard-modal .lp-standard-modal-close {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.lp-standard-modal-title {
    color: #1659b5;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 32px;  
}

.lp-standard-modal-performance:after {
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
}

.lp-standard-modal-performance:after {
    content: "";
    clear: both;
    display: block;
}

.lp-standard-modal-performance-left {
    float: left;
    width: 400px;
}

.lp-standard-modal-performance-right {
    float: right;
}

.lp-standard-modal-performance-supplemental {
    font-size: 11px;
    color: #9b9b9b;
    display: block;
}

.lp-standard-modal-performance-benchmark {
    padding: 16px;
    border: 2px solid #65c1cb;
    border-radius: 6px;
    margin-top: 20px;
}

.lp-standard-modal-performance-benchmark li {
    list-style-type: disc;
    margin-left: 18px;
}

.lp-standard-modal-inner-title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}

/* lp-cms ---------------------- */

.contents-title.cms-title {
    background-position: 0 -217px;
}

.lp-cms-introduction-bg {
    padding: 20px 0 9px;
    color: #fff;
    border-radius: 4px;
    background: #0984bc;
    border: 10px solid #107bac;
}

.lp-cms-introduction-title {
    border-bottom: 1px solid #3299c7;
    margin: 0 20px 20px;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 17px;
    text-align: center;
}

.lp-cms-introduction {
    background-image: url(../../../img/default/home/obj_lp_cms_head.png);
    background-size: 253px 175px;
    background-repeat: no-repeat;
    background-position: 18px 0;
    padding: 8px 26px 0 300px;
    min-height: 180px;
}

.lp-cms-introduction a {
    color: #fff840;
}

.lp-cms-name {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.lp-cms-wordpress-border {
    border: 1px solid #aab7ba;
    border-radius: 3px;
}

.lp-cms-wordpress {
    background-image: url(../../../img/default/home/obj_lp_cms_wordpress.svg);
    background-size: 348px 80px;
    background-repeat: no-repeat;
    background-position: center 5px;
    padding-top: 75px;
}

.lp-cms-wordpress-point-title {
    line-height: 28px;
    border-top: 1px solid #dfe9ea;
}

.lp-cms-wordpress-point-title .standard {
    color: #14ade2;
}

.lp-cms-wordpress-point-title .enterprise {
    color: #f27b2c;
}

.lp-cms-wordpress-point:after {
    display: block;
    clear: both;
    content: '';
}

.lp-cms-wordpress-point li {
    list-style-type: none;
}

.lp-cms-wordpress-point-inner {
    box-sizing: border-box;
    width: 225px;
}

.lp-cms-wordpress-point-name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-right: 8px;
}

.lp-cms-wordpress-point-no {
    color: #fff;
    background-color: #d8507a;
    padding: 2px 6px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.lp-cms-tags li {
    display: inline-block;
    margin-right: 3px;
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
}

.lp-cms-tag-install {
    background-color: #0984bc;
    border: 1px solid #056692;
}

.lp-cms-tag-website {
    background-color: #4cbc09;
    border: 1px solid #4b9205;
}

.lp-cms-tag-ecsite {
    background-color: #fdbe2c;
    border: 1px solid #dca11a;
}

.lp-cms-tag-sns {
    background-color: #ff8a27;
    border: 1px solid #d47800;
}

.lp-cms-other {
    border-top: 1px solid #aab7ba;
    border-left: 1px solid #aab7ba;
    border-radius: 3px;
}

.lp-cms-other:after {
    display: block;
    clear: both;
    content: '';
}

.lp-cms-other-contents {
    border-right: 1px solid #aab7ba;
    border-bottom: 1px solid #aab7ba;
}

.lp-cms-other-basercms {
    background-image: url(../../../img/default/home/obj_lp_cms_basercms.png);
    background-size: 174px 34px;
    background-repeat: no-repeat;
    background-position: center 30px;
}

.lp-cms-other-eccube {
    background-image: url(../../../img/default/home/obj_lp_cms_eccube.png);
    background-size: 197px 39px;
    background-repeat: no-repeat;
    background-position: center 29px;
}

.lp-cms-other-movabletype {
    background-image: url(../../../img/default/home/obj_lp_cms_movabletype.png);
    background-size: 172px 35px;
    background-repeat: no-repeat;
    background-position: center 27px;
}

.lp-cms-other-concrete5 {
    background-image: url(../../../img/default/home/obj_lp_cms_concrete5.png);
    background-size: 172px 32px;
    background-repeat: no-repeat;
    background-position: center 30px;
}

.lp-cms-other-openpne {
    background-image: url(../../../img/default/home/obj_lp_cms_openpne.png);
    background-size: 55px 44px;
    background-repeat: no-repeat;
    background-position: center 24px;
}

.lp-cms-other-drupal {
    background-image: url(../../../img/default/home/obj_lp_cms_drupal.png);
    background-size: 109px 28px;
    background-repeat: no-repeat;
    background-position: center 30px;
}

.lp-cms-other-xoopscube {
    background-image: url(../../../img/default/home/obj_lp_cms_xoopscube.png);
    background-size: 89px 29px;
    background-repeat: no-repeat;
    background-position: center 28px;
}

.lp-cms-other-description {
    min-height: 80px;
}

.lp-cms-other-description-high {
    min-height: 170px;
}

.w-364 {
    width: 364px;
}

.w-243 {
    width: 243px;
}

.w-242 {
    width: 242px;
}

.lp-cms-border-top-right-radius {
    border-top-right-radius: 3px;
}

.lp-cms-border-bottom-right-radius {
    border-bottom-right-radius: 3px;
}

.lp-cms-border-bottom-left-radius {
    border-bottom-left-radius: 3px;
}

.lp-cms-bottom-arrow-balloon {
    width: 290px;
    margin-left: 300px;
}
