#ccmenu {
position:relative;
}
ul li.drop  a {
font-size:12px;
}
.cmenu {
position: relative;
margin: -13px 0 0 738px !important;
width: 100px;
}
.cmenu ul ul a {
color:#313131 !important;
font-size:12px;
}
.cmenu li {
position:relative;
background:none;
}
.cmenu li .sub {
color:#313131 !important;
}
.cmenu a,
.cmenu a:visited {
width:100px;
text-decoration:none;
font-size:12px;
}
* html .cmenu a,
* html .cmenu a:visited {
w\idth:19px;
}
.cmenu table {
border-collapse:collapse;
border:0;
position:absolute;
left:0;
bottom:-1px;
}
.cmenu ul li {
padding-bottom:10px;
}
.cmenu ul ul li {
display:block;
text-align:left; /* right */
padding:3px 10px;
}
.cmenu ul ul ul li {
background:#333;
}
.cmenu ul ul ul ul li {
margin-top:-9px;
line-height:25px;
}
.cmenu ul {
padding:0;
margin:0;
list-style-type:none;
z-index:1000;
}
.cmenu ul ul {
background:#fff;
visibility:hidden;
position:absolute;
top:-213px; /*24px */
padding-top:12px;
left:-9px; /* -125 */
width:190px;
display:none;
}
.cmenu ul ul ul {
left:-190px;
width:190px;
margin-top:-28px;
}
.cmenu ul ul ul ul {
background:green;
margin-top:-24px;
}
* html .cmenu ul ul {  bottom:30px;}
.cmenu ul ul a,
.cmenu ul ul a:visited {
height:auto;
line-height:1.1em;
width:110px;
}
* html .cmenu ul ul a {
font-size: 12px;
w\idth:9px;
}
.cmenu ul :hover ul {
visibility:visible;
height:200px;
overflow:auto;
display:block;
}
.cmenu ul :hover ul ul{display:none;}
.cmenu ul :hover ul :hover ul ul{display:none;}
.cmenu ul :hover ul :hover ul{ display:block;bottom:0;}
.cmenu ul :hover ul :hover ul :hover ul{ display:block;bottom:0;}
.buchstaben { 
color:#C00418;
font-weight:bold;
font-size:14px;
}
.cat_big {
	font-size:11px;
	width:560px;
	float:left;
}
.cat_big img {
	width: 200px !important;
	overflow:hidden;
}
#cyb .preview .preview_4 { margin:0; }
#cyb .preview { width: 170px; }
#c_content {
padding:10px;
}
#c_content h1 {
margin-top:-10px;
margin-bottom:10px;
}
.c_list {
width:350px;
margin-right:20px;
margin-bottom:20px;
float:left;
}
.c_list h5 {
width:345px;
overflow:hidden;
}
.c_list .boxhead {
white-space:nowrap;
}
.c_list .image {
width:150px;
padding-top:10px;
text-align:center;
}
.c_list .product-image {
background:#999999;
width:135px;
margin-right:10px;
}
.c_list .text {
width:186px;
padding-top:10px;
padding-right:10px;
}
.c_list .detail {
text-align:right;
}

#einespalte {
	height: 428px;
	width: 370px;
}

#einespalte .box_rechts_content_cat {
    background: #F0F0F0;
    color: #837F80;
    margin: 0 1px 1px;
    padding: 10px;
    width: 100%;
}
#einespalte  .box_img {
    height: 240px;
    xoverflow: hidden;
    vertical-align: bottom;
    width: 370px;
}
#einespalte  .box_img a {
	float:left;
	}
#einespalte  .box_description {
float:left;
}
#einespalte  .box_img>a>img {
    max-height: 230px !important;
	float:left;
}
