/*
Theme Name: Cherry Movie
Theme URI: 
Description: Template desenvolvido por <a href="http://www.rhuancarlos.com">Rhuan Carlos</a> 
Version: 1.5
Author: Rhuan
Author URI: http://www.rhuancarlos.com
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}
del, ins {
    text-decoration: none;
}
li {
    list-style: outside none none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q::before, q::after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: baseline;
}
sub {
    vertical-align: baseline;
}
legend {
    color: #000;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select {
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
* {
    border: medium none;
    outline: medium none;
}
fieldset, img {
    border: medium none;
}
strong {
    font-weight: bold;
}
blockquote {
    background: #191919 none repeat scroll 0 0;
    border-bottom: 2px solid #bb0000;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    font-style: italic;
    margin: 10px 0 !important;
    overflow: hidden;
    padding: 40px 40px 50px;
    position: relative;
}
blockquote p {
    margin: 0 !important;
}
blockquote.left {
    float: left;
    margin: 0 10px 20px 0 !important;
    width: 48%;
}
blockquote.right {
    float: right;
    margin: 0 0 20px 10px !important;
    width: 48%;
}
.alignleft {
    float: left;
    margin: 0 10px 0 0;
}
.alignright {
    float: right;
    margin: 0 0 0 10px;
}
.aligncenter, img.aligncenter {
    display: block;
    margin: auto;
}
.clear {
    clear: both;
}
.no-text {
    font-size: 0;
    overflow: hidden;
    text-indent: -9999px;
}
.doble-dote {
    background: rgba(0, 0, 0, 0) url("images/black/doble-dote.png") repeat-x scroll 0 0;
    clear: both;
    display: block;
    height: 5px;
    position: relative;
}
.line {
    background: #181818 none repeat scroll 0 0;
    border-bottom: 1px solid #2f2f2f;
    clear: both;
    display: block;
    height: 1px;
    margin: 10px 0;
    position: relative;
}
.open-sans {
    font-family: 'Open Sans', arial,serif !important;
}
.heading {
    color: #999999;
    font-size: 18px;
    text-transform: uppercase;
}
a, a::before, a::after, a img, a strong, a span, input, textarea {
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
.pace {
    -moz-user-select: none;
    pointer-events: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #d59500 none repeat scroll 0 0;
    height: 5px;
    left: 0;
    position: fixed;
    top: 0;
    transition: width 1s ease 0s;
    z-index: 2000;
}
.pace .pace-progress-inner {
    box-shadow: 0 0 10px #d59500, 0 0 5px #d59500;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0px, -4px);
    width: 100px;
}
.pace .pace-activity {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 400ms linear 0s normal none infinite running pace-spinner;
    border-color: #d59500 transparent transparent #d59500;
    border-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    display: block;
    height: 14px;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 14px;
    z-index: 2000;
}
@keyframes pace-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes pace-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes pace-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
body {
    color: #afafaf;
    font-family: 'Open Sans' , arial,serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.custom-text, a {
    color: #bb0000;
}
.bg-vermelho {
    background: #bb0000 none repeat scroll 0 0;
}
a:hover {
    color: #ffffff;
}

.tooltip-theme {
    background: #bb0000 none repeat scroll 0 0 !important;
    color: #fff;
    font-size: 11px;
}
.tooltip-theme .tooltipster-content {
    font-family: Arial,sans-serif;
    font-size: 11px;
    line-height: 16px;
    padding: 2px 5px;
}
.tooltip-theme2 {
    background: #191919 none repeat scroll 0 0 !important;
    color: #fff;
    font-size: 11px;
}
.tooltip-theme2 .tooltipster-content {
    font-family: Arial,sans-serif;
    font-size: 11px;
    line-height: 16px;
    padding: 2px 5px;
}
.logo-link {
    float: left;
    margin: 15px 0 0;
}
.logo-link img {
    max-height: 65px;
    width: auto;
}
.menu-topo {
    float: right;
    font-size: 15px;
    margin: 10px -15px 0 0;
    padding: 0;
    text-transform: uppercase;
}
.menu-topo li {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menu-topo li a {
    animation: 0.6s ease-in-out 0s normal none 1 running all;
    background: rgba(0, 0, 0, 0) url("images/black/hover-menu.png") no-repeat scroll center -15px;
    color: #999999;
    display: block;
    padding: 22px 15px 30px;
    position: relative;
    z-index: 20;
}
.menu-topo li a:hover, .menu-topo li.sfHover a {
    animation: 0.8s ease-in-out 0s normal none 1 running all;
    background: rgba(0, 0, 0, 0) url("images/black/hover-menu.png") no-repeat scroll center bottom;
    color: #fff;
}
.menu-topo li ul {
    background: #222222 none repeat scroll 0 0;
    display: none;
    font-size: 13px;
    margin-left: 5px;
    margin-top: -2px;
    position: absolute;
    width: 180px;
    z-index: 10;
}
.menu-topo li ul li {
    float: none;
}
.menu-topo li ul li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-bottom: 1px solid #111111;
    color: #888888 !important;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;
}
.menu-topo li ul li a:hover, .menu-topo li ul li.sfHover a, .menu-topo li ul li.sfHover ul li a:hover {
    background-color: #bb0000 !important;
    color: #fff !important;
}
.menu-topo li ul li ul {
    display: none;
    left: 175px;
    margin-top: -39px;
}
.menu-topo li ul li.sfHover ul li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-bottom: 1px solid #111111;
    color: #888888 !important;
    transition: all 0.2s ease-in-out 0s;
}
.sf-sub-indicator {
    display: none;
}
.slogan {
    display: block;
    margin: 10px 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.slogan .big {
    display: block;
    font-size: 30px;
    color: #fff;
}
.slogan .small {
    display: block;
    font-size: 18px;
}
.slider { width:940px; display:block; position:relative; overflow:hidden; height:414px; background:url(images/black/fundo-slider.png) no-repeat top center; margin:auto; margin-top:-30px; z-index:2; }

.slider .flexslider { margin: 31px 0 50px !important; background: url(images/black/loading.gif) no-repeat center center; border: none !important; position: relative; box-shadow: none !important; -webkit-box-shadow:none !important; -moz-box-shadow: none !important; ) -o-box-shadow:none !important;

zoom: 1; }

.slider .flexslider .slides { background:#222222 url(images/black/loading.gif) no-repeat center center; height:340px; }

.slider .flex-control-nav { bottom:-30px !important; text-align:left !important; display:none !important; }

.slider .flex-prev { background:#bb0000 url(images/black/anterior-slider.png) no-repeat !important; height:98px !important; width:31px !important; display:block !important; left:0 !important; top:40% !important; }

.slider .flex-next { background:#bb0000 url(images/black/proximo-slider.png) no-repeat !important; height:98px !important; width:31px !important; display:block !important; right:0 !important; top:40% !important; }

.imagem_slider { height:340px; width:940px; }

.caption {
    position: absolute;
}
.caption-left-bottom {
    bottom: 50px;
    left: 50px;
    position: absolute;
    right: 50px;
}
.caption-left-top {
    left: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
}
.caption-right-top {
    left: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
}
.caption-right-bottom {
    bottom: 50px;
    left: 50px;
    position: absolute;
    right: 50px;
}
.caption-right-top .caption-preto, .caption-right-bottom .caption-preto, .caption-right-top .caption-branco, .caption-right-bottom .caption-branco {
    float: right;
}
.caption-preto {
    background: rgba(0, 0, 0, 0) url("images/black/caption.png") repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 24px;
    padding: 10px 20px;
    position: relative;
}
.caption-branco {
    background: rgba(0, 0, 0, 0) url("images/black/sub-caption.png") repeat scroll 0 0;
    color: #222;
    float: left;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
}
.caption-branco a {
    color: #bb0000;
}
.caption-branco a:hover {
    color: #222;
}
.caption-mensagem-preto {
    background: rgba(0, 0, 0, 0) url("images/black/caption.png") repeat scroll 0 0;
    color: #f5f5f5;
    overflow: hidden;
    padding: 10px 20px 20px;
    position: relative;
}
.caption-mensagem-branco {
    background: rgba(0, 0, 0, 0) url("images/black/sub-caption.png") repeat scroll 0 0;
    overflow: hidden;
    padding: 10px 20px 20px;
    position: relative;
}
.esquerda {
    display: block;
    position: relative;
    width: 945px;
}
.esquerdaother {
    display: block;
    float: none;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.direita {
    display: block;
    float: right;
    position: relative;
    width: 220px;
}
.direita img, .esquerda img {
    height: auto;
    max-width: 100%;
}
.busca {
    float: right;
}
.busca .pesquisa {
    background: #bb0000 none repeat scroll 0 0;
    border-left: 1px solid #191919;
    border-radius: 100px;
    border-top: 1px solid #191919;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    padding: 0 10px 0 30px;
    width: 200px;
}
.busca .pesquisa:focus {
    background: #6d6e71 none repeat scroll 0 0;
}
.busca .button {
    background: rgba(0, 0, 0, 0) url("images/black/buscar.png") no-repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 14px;
    margin: 8px 0 0 -190px;
    text-indent: -99999px;
    width: 14px;
}
.lista-filmes {
    background: rgba(0, 0, 0, 0) url("images/black/bg-list.png") repeat scroll 0 0;
    display: block;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.lista-filmes li {
    background: #111 none repeat scroll 0 0;
    border-bottom: 2px solid #080808;
    float: left;
    height: 260px;
    list-style: outside none none;
    margin: 0 5px 10px;
    overflow: hidden;
    padding: 0;
    transition: all 0.2s ease-in-out 0s;
    width: 146px;
}
.lista-filmes li.margem-list {
    margin: 0 5px 10px;
}
.lista-filmes li:hover {
    border-bottom: 2px solid #bb0000;
}
.lista-filmes li .titulo-box {
    background: #bb0000 none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    height: 18px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}
.lista-filmes li:hover .titulo-box {
    background: #191919 none repeat scroll 0 0;
}
.lista-filmes li .titulo-box-link {
    color: #fff;
    font-size: 13px;
}
.lista-filmes li .titulo-box-link a {
    color: #fff;
}
.lista-filmes li .capa {
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 153px;
    z-index: 999;
}
.lista-filmes li .absolute-capa {
    background: rgba(0, 0, 0, 0) url("images/black/absolute-play.png") repeat scroll center center;
    display: block;
    height: 200px;
    opacity: 0;
    position: absolute;
    width: 153px;
    z-index: 99;
}
.lista-filmes li .absolute-capa.blog-capa {
    background-image: url("images/black/absolute-read.png");
}
.lista-filmes li:hover .absolute-capa, .lista-filmes li:hover .absolute-capa.blog-capa {
    opacity: 1;
}
.lista-filmes li img {
    display: block;
    height: 200px;
    width: 153px;
}
.lista-filmes .views {
    color: #999999;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 9px 0 5px 10px;
}
.lista-filmes .balao-comentario a {
    background: rgba(0, 0, 0, 0) url("images/black/balao-comentario.png") no-repeat scroll left top;
    color: #999999;
    display: block;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 20px;
    margin: 8px 10px 5px 0;
    padding: 1px 0 0;
    position: relative;
    text-align: center;
    width: 25px;
}
.lista-filmes li:hover .balao-comentario a {
    background-image: url("images/black/balao-comentario-hover.png");
    color: #fff;
}
.navigation {
    padding: 0 0 30px;
    text-align: center;
}
.navigation .pages {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 6px 12px;
}
.navigation .current, .navigation a:hover {
    background: #bb0000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 10px;
}
.navigation a {
    background: #191919 none repeat scroll 0 0;
    color: #777;
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 10px;
}
.navigation a.next, .navigation a.prev {
    font-size: 19px;
    padding: 0 10px 4px;
}
.widgettitle {
    border-bottom: 1px solid #2f2f2f;
    color: #afafaf;
    line-height: normal;
    padding: 0 0 5px;
}
.widgettitle span {
    border-bottom: 2px solid #bb0000;
    padding: 0 0 5px;
}
.sidctn {
    display: block;
    font-size: 13px;
    line-height: 22px;
    padding: 10px 0 0;
    position: relative;
}
.sidctn a {
    color: #999;
}
.sidctn a:hover {
    color: #fff;
}
.sidctn ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.sidctn ul li {
    background: rgba(0, 0, 0, 0) url("images/black/seta-lista.png") no-repeat scroll 0 9px;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 10px;
}
.sidctn select {
    background: #191919 none repeat scroll 0 0;
    border: 1px solid #2f2f2f;
    color: #afafaf;
    padding: 5px;
    width: 100%;
}
.sidft {
    margin: 0 0 20px;
}
widget_calendar {
    float: left;
    margin: 0;
}
#calendar_wrap {
    display: block;
    overflow: hidden;
    position: relative;
    width: 220px;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    color: #222;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: right;
    text-transform: uppercase;
}
#wp-calendar thead {
    font-size: 10px;
}
#wp-calendar thead th {
    padding-bottom: 10px;
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #fff;
    padding: 4px;
    text-align: center;
}
#wp-calendar tbody td:hover {
    background: #fff none repeat scroll 0 0;
}
#wp-calendar tbody .pad {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#wp-calendar tfoot #next {
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}
#wp-calendar tfoot #prev {
    font-size: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.topfilmes-slider ul li {
    background: #191919 none repeat scroll 0 0 !important;
    display: block;
    line-height: normal;
    padding: 0;
    width: 160px !important;
}
.num-top {
    background: #bb0000 none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 22px;
    height: 35px;
    margin-left: 8px;
    margin-top: 35px;
    padding: 2px 0;
    position: absolute;
    text-align: center;
    width: 35px;
    z-index: 999;
}
.topfilmes-slider {
    background: #fff none repeat scroll 0 0;
    border: medium none !important;
    box-shadow: none !important;
    display: block !important;
    height: 290px !important;
    margin: 0 auto !important;
    position: relative !important;
    width: 160px !important;
    z-index: 2 !important;
}
.topfilmes-slider .flex-control-nav {
    bottom: -30px !important;
    display: none !important;
    text-align: left !important;
}
.topfilmes-slider .flex-direction-nav {
    background: red none repeat scroll 0 0;
    overflow: hidden;
}
.topfilmes-slider .flex-direction-nav .flex-prev {
    background: rgba(0, 0, 0, 0) url("images/black/anterior-slider2.png") no-repeat scroll 0 0 !important;
    display: block !important;
    height: 20px !important;
    left: -30px !important;
    opacity: 1 !important;
    top: 145px !important;
    width: 20px !important;
}
.topfilmes-slider .flex-direction-nav .flex-next {
    background: rgba(0, 0, 0, 0) url("images/black/proximo-slider2.png") no-repeat scroll 0 0 !important;
    display: block !important;
    height: 20px !important;
    opacity: 1 !important;
    right: -30px !important;
    top: 145px !important;
    width: 20px !important;
}
.topfilmes-slider .flex-direction-nav .flex-prev:hover, .topfilmes-slider .flex-direction-nav .flex-next:hover {
    opacity: 0.8 !important;
}
.publicidade-rodape {
    background: #191919 none repeat scroll 0 0;
    display: block;
    height: 90px;
    margin: 10px auto 40px;
    padding: 10px;
    position: relative;
    width: 728px;
}
.line-bg-footer {
    background: rgba(0, 0, 0, 0) url("images/black/line-bg-rodape.png") repeat-x scroll 0 0;
    display: block;
    height: 15px;
    position: relative;
}
footer {
    background: rgba(0, 0, 0, 0) url("images/black/pattern-rodape.png") repeat scroll 0 0;
    display: block;
    overflow: hidden;
    padding: 35px 0;
    position: relative;
}
.coll-13 {
    float: left;
    width: 300px;
}
.coll-13 .widgettitle {
    border: medium none !important;
    color: #afafaf;
    margin: 0 0 -5px;
}
.coll-13 .widgettitle span {
    border: medium none;
    padding: 0;
}
.coll-13 .sidctn {
    color: #afafaf;
}
.coll-13 .sidctn img {
    height: auto;
    max-width: 100%;
}
.coll-13 .sidctn a {
    color: #999999;
}
.coll-13 .sidctn a:hover {
    color: #bb0000;
}
.coll-13 .sidctn ul li {
    border-bottom: 1px solid #343434;
    margin: 0 0 3px;
    padding: 0 0 3px 10px;
}
.redes-lista {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.sidebar-rodape .redes-lista {
    margin: 10px 0 0;
}
.redes-lista li {
    float: left;
    height: 33px;
    list-style: outside none none;
    margin: 0 10px 0 0;
    padding: 0;
    width: 34px;
}
.redes {
    background: rgba(0, 0, 0, 0) url("images/black/redes.png") no-repeat scroll left top;
    display: block;
    position: relative;
}
.redes:hover {
    background-image: url("images/black/redes-preto.png");
}
.sidebar-rodape .redes:hover {
    background-image: url("images/black/redes-branco.png");
    display: block;
    position: relative;
}
.facebook {
    background-position: 0 0;
    height: 33px;
    width: 34px;
}
.feed {
    background-position: -39px 0;
    height: 33px;
    width: 34px;
}
.gplus {
    background-position: -78px 0;
    height: 33px;
    width: 34px;
}
.twitter {
    background-position: -117px 0;
    height: 33px;
    width: 34px;
}
.youtube {
    background-position: -156px 0;
    height: 33px;
    width: 34px;
}
.copy {
    background: #171717 none repeat scroll 0 0;
    font-size: 12px;
    overflow: hidden;
}
.copy a {
    color: #999999;
}
.breadcrumb {
    font-size: 13px;
    margin: 0 0 15px;
}
.breadcrumb a {
    color: #bb0000;
}
.breadcrumb a:hover {
    color: #ffffff;
}
.title-single {
    display: block;
    float: left;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 940px;
}
.busca-single {
    float: right;
}
.links-servidores {
    display: block;
    list-style: outside none none;
    margin: 10px -15px 5px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.links-servidores li {
    background: #bb0000 none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    list-style: outside none none;
    margin: 0 12px 12px 0;
    padding: 20px 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 166px;
}
.links-servidores li:hover, .links-servidores li.active {
    background: #191919 none repeat scroll 0 0;
}
.links-servidores li span .arrow-assistir {
    background: rgba(0, 0, 0, 0) url("images/black/seta-direita.png") no-repeat scroll center center;
    display: block;
    float: right;
    height: 14px;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
    width: 14px;
}
.links-servidores li:hover span .arrow-assistir, .links-servidores li.active span .arrow-assistir {
    background: rgba(0, 0, 0, 0) url("images/black/seta-cima.png") no-repeat scroll center center;
}
.links-servidores li a, .links-servidores li a:hover {
    color: #fff;
}
.download-lista li:hover span .arrow-assistir {
    background: rgba(0, 0, 0, 0) url("images/black/seta-baixo.png") no-repeat scroll center center;
}
.download-lista li {
    padding: 0;
}
.download-lista li a {
    display: block;
    padding: 20px 15px;
    position: relative;
}
.embeds-servidores > div {
    display: none;
}
.embeds-video {
    background: #191919 none repeat scroll 0 0;
    height: 520px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 940px;
    z-index:99999;
}
.embeds-video iframe, .embeds-video embed {
    display: block;
    height: 520px;
    position: relative;
    width: 940px;
    z-index:99999;
}
.assistir-title {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 0 38px;
    text-transform: uppercase;
}
.play-ico {
    background: rgba(0, 0, 0, 0) url("images/black/assistir-online.png") no-repeat scroll 0 3px;
}
.down-ico {
    background: rgba(0, 0, 0, 0) url("images/black/baixar-filme.png") no-repeat scroll 0 3px;
}
.trailer-ico {
    background: rgba(0, 0, 0, 0) url("images/black/trailer.png") no-repeat scroll 0 3px;
}
.error-ico {
    background: rgba(0, 0, 0, 0) url("images/black/link.png") no-repeat scroll 0 3px;
}
.relacionados-ico {
    background: rgba(0, 0, 0, 0) url("images/black/relacionados.png") no-repeat scroll 0 2px;
}
.content {

 font-size: 13px;

 line-height: 20px;

}

.content a {

 color: #bb0000;

}

.content a:visited {

 color: #afafaf;

 text-decoration: line-through;

}

.content a:hover {

 color: #ffffff;

}

.content p {

 margin: 0 0 1em 0;

}


.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #898989;
    font-family: 'Open Sans',Arial,Verdana,serif;
    font-variant: normal;
    font-weight: normal;
    margin-bottom: 15px;
    white-space: normal;
}
.content h1 {
    color: #afafaf;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
}
.content h2 {
    color: #afafaf;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
}
.content h3 {
    color: #afafaf;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.content h4 {
    color: #afafaf;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.content h5 {
    color: #afafaf;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.content h6 {
    color: #afafaf;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
}
.content input[type="text"], .content input[type="email"], .content input[type="tel"], .content input[type="password"] {
    background: #191919 none repeat scroll 0 0;
    border: 1px solid #191919;
    box-shadow: 0 0 0 5px #191919;
    box-sizing: border-box;
    color: #afafaf;
    font-size: 12px;
    margin: 5px 0 0 5px;
    padding: 5px;
}
.content input[type="submit"] {
    background: #191919 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px;
}
.content input[type="submit"]:hover {
    opacity: 0.8;
}
.content textarea {
    background: #191919 none repeat scroll 0 0;
    border: 1px solid #191919;
    box-shadow: 0 0 0 5px #191919;
    box-sizing: border-box;
    color: #afafaf;
    font-size: 12px;
    height: 150px;
    margin: 5px 0 0 5px;
    padding: 5px;
    resize: vertical;
}
.tempo-video {
    background: rgba(0, 0, 0, 0) url("images/black/tempo.png") no-repeat scroll left center;
    padding: 0 0 0 20px;
}
.lancamento-video {
    background: rgba(0, 0, 0, 0) url("images/black/lancamento.png") no-repeat scroll left center;
    padding: 0 0 0 20px;
}
.visitas-video {
    background: rgba(0, 0, 0, 0) url("images/black/visitas.png") no-repeat scroll left center;
    padding: 0 0 0 20px;
}
.categoria-video {
    background: rgba(0, 0, 0, 0) url("images/black/categoria.png") no-repeat scroll left center;
    padding: 0 0 0 20px;
}
.audio-video {
    background: rgba(0, 0, 0, 0) url("images/black/audio.png") no-repeat scroll left center;
    padding: 0 0 0 20px;
}
.tag-video {
    background: rgba(0, 0, 0, 0) url("images/black/tag.png") no-repeat scroll left center;
    padding: 0 0 0 20px;
}
.info-video {
    float: left;
    font-size: 13px;
    margin: 0 30px 0 0;
}
.info-video a {
    color: #999999;
}
.info-video a:hover {
    color: #bb0000;
}
.capa-thumb {
    border: 10px solid #161616;
    border-radius: 3px;
    float: left;
    height: 230px;
    margin-right: 12px;
    overflow: hidden;
    position: relative;
    width: 160px;
}
.capa-thumb img {
    height: 230px;
    width: 160px;
}
.fundoinfo {
    background-color: #161616;
    border: 10px solid #161616;
    border-radius: 3px;
    height: 20px;
    width: 100%;
    margin: 10px 0 10px 0;
}
.content-single {
    overflow: hidden;
}
.content-single img {
    height: auto;
    max-width: 525px;
}
.coll-relacionados-trailer {
    display: block;
    float: center;
    position: relative;
    width: 560px;
}
.content-blog {
    float: none;
    width: 700px;
}
.content-blog img {
    height: auto;
    max-width: 700px;
}
.embed-trailer, .embed-trailer embed, .embed-trailer iframe {
    display: block;
    height: 315px;
    overflow: hidden;
    width: 560px;
    border: 10px solid #161616;
    background-color: #161616;
    border-radius: 3px;
    padding: 0px 20px 20px 0px;
    float: center;
}
.slider-relacionados,

.slider-relacionados-full { background:none; box-shadow:none; padding:0; border:none; margin:0; }

.slider-relacionados-full { width:940px; margin:auto; }

.slider-relacionados-full .flex-direction-nav .flex-prev { opacity:1; top:-20px; left:890px; background:url(images/black/anterior-slider2.png) no-repeat; height:20px; width:20px; display:block; }

.slider-relacionados-full .flex-direction-nav .flex-next { opacity:1; top:-20px; right:0px; background:url(images/black/proximo-slider2.png) no-repeat; height:20px; width:20px; display:block; }

.slider-relacionados .flex-direction-nav .flex-prev { opacity:1; top:-20px; left:295px; background:url(images/black/anterior-slider2.png) no-repeat; height:20px; width:20px; display:block; }

.slider-relacionados .flex-direction-nav .flex-next { opacity:1; top:-20px; right:0px; background:url(images/black/proximo-slider2.png) no-repeat; height:20px; width:20px; display:block; }

.relacionados-icon { background:#bb0000 url(images/black/relacionados.png) no-repeat; height:25px; width:30px; display:block; position:relative; float:left; margin:5px 10px 0 0; }

.comentario-icon { background:#bb0000 url(images/black/comentario.png) no-repeat; width:32px; height:23px; display:block; position:relative; float:left; margin:5px 10px 0 0; }

.comentarios {
    margin: 20px 0 30px;
    overflow: hidden;
    padding: 0;
    text-transform: none;
}
.comentarios a {
    color: #bb0000;
}
.comentarios a:hover {
    color: #ffffff;
}
.comentarios h3 {
    color: #afafaf;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
}
ol.commentlist {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ol.commentlist li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ol.commentlist li.comment ul.children li, ol.commentlist li.comment ul li {
    background: rgba(0, 0, 0, 0) url("images/black/resposta.png") no-repeat scroll 35px 0;
    margin: 0;
    padding: 0 0 0 74px;
}
ol.commentlist li .avatar-comentario {
    display: block;
    float: left;
    height: 74px;
    margin: 0 10px 0 0;
    position: relative;
    width: 74px;
}
ol.commentlist li .comentario-campo {
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0;
}
ol.commentlist li .comentario-nome {
    overflow: hidden;
}
ol.commentlist li .nome-comentarista {
    color: #939598;
    font-size: 14px;
    font-style: italic;
    padding: 0;
}
ol.commentlist li .nome-comentarista strong {
    color: #58595b;
}
ol.commentlist li .nome-comentarista a {
    color: #58595b;
    text-decoration: underline;
}
ol.commentlist li .nome-comentarista a:hover {
    color: #ffffff;
}
ol.commentlist li .data-comentario {
    color: #939598;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}
ol.commentlist li .texto-comentario {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 10px 0;
}
ol.commentlist li .texto-comentario p {
    margin: 0;
    padding: 0;
}
ol.commentlist li .texto-comentario a {
    color: #bb0000;
    text-decoration: none;
}
ol.commentlist li .texto-comentario a:hover {
    color: #ffffff;
}
ol.commentlist li .reply-link {
    display: block;
    float: left;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    margin: 10px 0 0;
    position: relative;
    text-transform: none;
}
ol.commentlist li .reply-link a {
    background: #bb0000 none repeat scroll 0 0;
    color: #fff !important;
    display: block;
    padding: 3px 10px;
}
ol.commentlist li .reply-link a:hover {
    background: #191919 none repeat scroll 0 0;
}
.forms {
    width: 700px;
}
.forms .cancel-comment-reply {
    clear: both;
    display: block;
    margin: 0 0 8px;
    overflow: hidden;
    position: relative;
}
.forms .cancel-comment-reply a {
    background: #bb0000 none repeat scroll 0 0;
    color: #fff;
    float: left;
    padding: 5px 10px;
}
.forms .cancel-comment-reply a:hover {
    background: #191919 none repeat scroll 0 0;
}
.inputs-comentario {
    display: block;
    position: relative;
    width: 700px;
}
.inputs-comentario .input-small {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 25px;
    position: relative;
    width: 30%;
}
.inputs-comentario .input-small span {
    display: block;
    margin: 0 0 10px;
    position: relative;
}
.inputs-comentario .input-small #author, .input-small #email, .input-small #url {
    background: #191919 none repeat scroll 0 0;
    border: 1px solid #191919;
    box-shadow: 0 0 0 5px #191919;
    color: #afafaf;
    font-size: 12px;
    padding: 5px;
    width: 95%;
}
.caixa-mensagem {
    display: block;
    margin: 10px 0 0;
    position: relative;
}
.caixa-mensagem span {
    display: block;
    margin: 0 0 10px;
    position: relative;
}
.caixa-mensagem #comment {
    background: #191919 none repeat scroll 0 0;
    border: 1px solid #191919;
    box-shadow: 0 0 0 5px #191919;
    box-sizing: border-box;
    color: #afafaf;
    font-size: 12px;
    height: 150px;
    margin: 0 0 0 5px;
    padding: 5px;
    resize: vertical;
    width: 690px;
}
.inputs-comentario .input-small #author:focus, .input-small #email:focus, .input-small #url:focus, .caixa-mensagem #comment:focus {
    border: 1px solid #222222;
}
#submit {
    background: #bb0000 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    margin: 10px 0 0;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
}
#submit:hover {
    background: #191919 none repeat scroll 0 0;
}
.navi-comment {
    display: block;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    width: 700px;
}
.navi-comment a {
    display: block;
    margin: 10px 0;
    padding: 0;
}
.full-width {
    display: block;
    position: relative;
    width: 940px;
}
.content-page {
    margin: 0 0 20px;
    width: 940px;
}
.lista-search {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.lista-search li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #2f2f2f;
    display: block;
    list-style: outside none none;
    overflow: hidden;
    padding: 15px;
}
.lista-search li:hover {
    background: #191919 none repeat scroll 0 0;
}
.tipo-icon {
    background: #191919 none no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 64px;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 64px;
}
.lista-search li:hover .tipo-icon {
    background-color: #bb0000;
    background-position: 0 -64px;
}
.icon-blog {
    background-image: url("images/black/pencil.png");
}
.icon-video {
    background-image: url("images/black/video.png");
}
.info-resultado {
    float: right;
    width: 590px;
}
.nome-resultado {
    font-size: 22px;
    margin: 0 0 10px;
}
.nome-resultado a {
    color: #afafaf;
}
.nome-resultado a:hover {
    color: #bb0000;
}
.resumo-resultado {
    font-size: 13px;
}
.resumo-resultado a:hover {
    color: #fff;
}
.capa-search {
    float: left;
    height: 230px;
    padding: 5px 0;
    width: 160px;
}
.descricao-categoria {
    border-left: 1px solid #191919;
    color: #a2a2a2;
    float: left;
    font-size: 14px;
    font-style: italic;
    margin: 0 0 0 15px;
    padding: 10px 0 10px 15px;
    text-transform: none;
}
.button_link {
    color: #fff !important;
    display: inline-block;
    margin: 0 0 5px;
    padding: 6px 10px;
    text-transform: uppercase;
}
.button_link.loop {
    background-color: #191919;
}
.button_link:hover {
    background: #191919 none repeat scroll 0 0 !important;
}
.btn_big {
    padding: 10px 20px;
}
.btn_small {
    padding: 3px 8px;
}
.um_meio {
    width: 48%;
}
.um_terco {
    width: 45%;
}
.um_quarto {
    width: 22%;
}
.um_quinto {
    width: 16.8%;
}
.um_sexto {
    width: 13.33%;
}
.dois_terco {
    width: 65.33%;
}
.dois_quinto {
    width: 37.6%;
}
.tres_quarto {
    width: 74%;
}
.tres_quinto {
    width: 58.4%;
}
.quatro_quinto {
    width: 67.2%;
}
.cinco_sexto {
    width: 82.67%;
}
.um_meio, .um_terco, .dois_terco, .um_quarto, .tres_quarto, .um_quinto, .dois_quinto, .tres_quinto, .quatro_quinto, .um_sexto, .cinco_sexto {
    float: left;
    margin-right: 4%;
    position: relative;
}
.last_grid {
    clear: right;
    margin-right: 0 !important;
}
.box_mensagem {
    background-position: 20px 15px !important;
    display: block;
    margin: 10px 0;
    overflow: hidden;
    padding: 30px 20px 30px 80px;
    position: relative;
}
.sucess_box {
    background: #e9ffd2 url("inc/plugins/shortcodes/assets/ok.png") no-repeat scroll 10px 5px;
    border: 1px solid #c5e3a5;
    color: #7b995c;
}
.sucess_box a {
    color: #7b995c;
    font-weight: bold;
}
.plus_box {
    background: #eef4d4 url("inc/plugins/shortcodes/assets/add.png") no-repeat scroll 10px 5px;
    border: 1px solid #8fad3d;
    color: #596c56;
}
.plus_box a {
    color: #596c56;
    font-weight: bold;
}
.alerta_box {
    background: #fffcc8 url("inc/plugins/shortcodes/assets/alert.png") no-repeat scroll 10px 5px;
    border: 1px solid #ddcc9d;
    color: #596c56;
}
.alerta_box a {
    color: #8a864c;
    font-weight: bold;
}
.lupa_box {
    background: #f5f5f5 url("inc/plugins/shortcodes/assets/lupa.png") no-repeat scroll 10px 5px;
    border: 1px solid #dfdfdf;
    color: #596c56;
}
.lupa_box a {
    color: #596c56;
    font-weight: bold;
}
.cancelar_box {
    background: #ffc6c6 url("inc/plugins/shortcodes/assets/cancel.png") no-repeat scroll 10px 5px;
    border: 1px solid #ff9d9d;
    color: #923434;
}
.cancelar_box a {
    color: #923434;
    font-weight: bold;
}
.chat_box {
    background: #d4eff9 url("inc/plugins/shortcodes/assets/cmt.png") no-repeat scroll 10px 5px;
    border: 1px solid #b3d2de;
    color: #0088bb;
}
.chat_box a {
    color: #0088bb;
    font-weight: bold;
}
.ideia_box {
    background: #e9e9de url("inc/plugins/shortcodes/assets/idea.png") no-repeat scroll 10px 5px;
    border: 1px solid #cbccaa;
    color: #858923;
}
.ideia_box a {
    color: #858923;
    font-weight: bold;
}
.ajuda_box {
    background: #64bdfb url("inc/plugins/shortcodes/assets/ajuda.png") no-repeat scroll 10px 5px;
    border: 1px solid #54acea;
    color: #2b5e82;
}
.ajuda_box a {
    color: #2b5e82;
    font-weight: bold;
}
.light_text {
    color: #fff;
}
.lista_personalizada ul {
    display: block;
    list-style: outside none none;
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.lista_personalizada ul li {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0 5px 25px;
}
.ideia_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/idealist.png") no-repeat scroll 0 6px;
}
.estrela_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/starlist.png") no-repeat scroll 0 6px;
}
.cancelar_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/crosslist.png") no-repeat scroll 0 7px;
}
.tag_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/tag.png") no-repeat scroll 0 6px;
}
.check_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/checklist.png") no-repeat scroll 0 6px;
}
.new_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/newlist.png") no-repeat scroll 0 6px;
}
.chave_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/keylist.png") no-repeat scroll 0 12px;
}
.seta_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/arrowlist.png") no-repeat scroll 0 13px;
}
.bola_lista ul li {
    background: rgba(0, 0, 0, 0) url("inc/plugins/shortcodes/assets/blacklist.png") no-repeat scroll 0 6px;
}
ul.tabs {
    border-bottom: 1px solid #191919;
    border-left: 1px solid #191919;
    float: left;
    height: 32px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.tabs li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #222222 none repeat scroll 0 0;
    border-color: #191919 #191919 #191919 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    float: left;
    height: 31px;
    line-height: 31px;
    margin: 0 0 -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
ul.tabs li a {
    color: #afafaf;
    display: block;
    padding: 0 20px;
}
ul.tabs li a:hover {
    background: #222222 none repeat scroll 0 0;
    color: #afafaf;
}
html ul.tabs li.active, html ul.tabs li.active a:hover {
    background: #191919 none repeat scroll 0 0;
    border-bottom: 1px solid #191919;
}
.tab_container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #191919 none repeat scroll 0 0;
    border-color: -moz-use-text-color #191919 #191919;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    clear: both;
    float: left;
    width: 100%;
}
.tab_content {
    background: #191919 none repeat scroll 0 0;
    display: none;
    padding-bottom: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.tab_content p img {
    height: auto;
    max-width: 100%;
}
h3.toggler {
    clear: both;
    float: left;
    margin: 10px 0;
    padding: 0 0 0 25px;
}
.toggle_container {
    clear: both;
    display: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.toggle_container .block {
    background: #222222 none repeat scroll 0 0;
    display: table;
    padding: 0 25px;
}
.toggle_container .block p {
    margin: 5px 0;
    padding: 5px 0;
}
.menu-bg {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: block;
    height: 85px;
    margin-top: 0;
    max-width: 100%;
    position: relative;
    width: auto;
}
.menuicon {
    float: right;
    line-height: 60px;
    margin-right: 0;
}
.menuicon li {
    float: left;
    list-style: outside none none;
    padding: 15px 5px;
}
.menuicon a {
    background: #000 none repeat scroll 0 0;
    border: 0 solid #a0a0a0;
    padding: 10px 20px;
}
.menuicon a.home {
    background: rgba(0, 0, 0, 0) url("https://3.bp.blogspot.com/-lFhx8xK-yqM/WAw26MErbKI/AAAAAAAABSg/Kl00xN4rc90HaUvdsFrO2Z1fEolNGj1RQCLcB/s1600/home-amarelo.png") no-repeat scroll center center;
}
.menuicon a.home:hover {
    background: #444 url("https://2.bp.blogspot.com/-oVTaANsoc1g/WAw26KY15wI/AAAAAAAABSk/qZHGcidKasAUBCw2OOEzX3lhZIvSkEcgQCLcB/s1600/home-azul.png") no-repeat scroll center center;
}
.menuicon a.facebook {
    background: rgba(0, 0, 0, 0) url("https://2.bp.blogspot.com/-xHZ3UYWJBEE/WAw3IUL5SQI/AAAAAAAABSs/TIwZK1mm49YEaPCyar3Pg8WbnBV0Hhc2wCLcB/s1600/face-amarelo.png") no-repeat scroll center center;
}
.menuicon a.facebook:hover {
    background: #444 url("https://4.bp.blogspot.com/-0SeKi0h3CHc/WAw3IXzlmRI/AAAAAAAABSo/z8N4LZ0ILJ8WL-Nfb1wMXO3QTD7sVikMACLcB/s1600/face-azul.png") no-repeat scroll center center;
}
.menuicon a.contato {
    background: rgba(0, 0, 0, 0) url("https://2.bp.blogspot.com/-LEghdZg0xsU/WAw3avJn41I/AAAAAAAABS0/9t3W1iKST3MwWWUXMOY-KhmY1ZJTp84RgCLcB/s1600/contato-amarelo.png") no-repeat scroll center center;
}
.menuicon a.contato:hover {
    background: #444 url("https://1.bp.blogspot.com/-by1yYHGSrMQ/WAw3aqyuNMI/AAAAAAAABS4/nfwlwKJ2dWgEYBJRdtkIbf_jnvxsVx5sACLcB/s1600/contato-azul.png") no-repeat scroll center center;
}
.busca {
    float: right;
}
.busca .pesquisa {
    background: #bb0000 none repeat scroll 0 0;
    border-left: 1px solid #191919;
    border-radius: 100px;
    border-top: 1px solid #191919;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    padding: 0 10px 0 30px;
    width: 200px;
}
.busca .pesquisa:focus {
    background: #6d6e71 none repeat scroll 0 0;
}
.busca .button {
    background: rgba(0, 0, 0, 0) url("images/black/buscar.png") no-repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 14px;
    margin: 8px 0 0 -190px;
    text-indent: -99999px;
    width: 14px;
}
.search {
    float: left;
    margin: 25px 0 0 380px;
    position: absolute;
}
.search .searcher {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #191919;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 14px;
    height: 40px;
    padding: 0 10px;
    width: 382px;
}
.search .searcher:hover {
    background: #eeae00 none repeat scroll 0 0;
    border: 0 none;
}
.search .searcher:focus {
    background: #6d6e71 none repeat scroll 0 0;
    border: 0 none;
}
.search .button {
    background: rgba(0, 0, 0, 0) url("images/black/buscar.png") no-repeat scroll 0 0;
    cursor: pointer;
    float: right;
    height: 14px;
    margin: 12px 10px 0 -190px;
    text-indent: -99999px;
    width: 14px;
}
.header {
    background: #000 url("https://4.bp.blogspot.com/-7n5Ahd_ChKI/WC_6KPgWIsI/AAAAAAAABW0/NazFA1WKeQ8SYMMqk34V4X3n8BPGHJ-UACLcB/s1600/bg.jpg") repeat scroll 0 0 / cover ;
    height: 170px;
    margin: 0;
    max-width: 100%;
    width: 100%;
}
.headerh1 {
    color: #5b5b5b;
    font-size: 12px;
    left: 48px;
    position: absolute;
    text-shadow: 1px 1px 1px #000;
    top: 53px;
}
.margem {
    border-color: red;
    border-style: none;
    margin: auto;
    position: relative;
    width: 940px;
}
.fundo {
    background: #222 url("images/black/line-bg.png") repeat-x scroll center top;
    display: block;
    overflow: hidden;
    padding: 25px 0 0;
    position: relative;
    z-index: 0;
}
.fundobg {
    background: #fff url("https://2.bp.blogspot.com/-qtlODnoy1ik/WAw3pC7kjgI/AAAAAAAABS8/30_B-EtK-pYOIFTrPHHEA1R2-kbAueW6wCLcB/s1600/bg.jpg") repeat scroll 0 0;
    display: block;
    overflow: hidden;
    padding: 25px 0 0;
    position: relative;
    z-index: 0;
}
.title-filmes1 {
    border-bottom: 1px solid #185db1;
    color: #1e6dd3;
    font-family: 'Helvetica',Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    height: 32px;
    padding-bottom: 7px;
    position: relative;
    text-align: left;
    width: 100%;
}
.title-filmes2 {
    border-bottom: 1px solid #f1b000;
    color: #f1b000;
    font-family: 'Helvetica',Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    height: 32px;
    padding-bottom: 5px;
    position: relative;
    text-align: left;
    width: 100%;
}
.count_filmes {
    background-color: #185db1;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: 'Helvetica',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 6px 8px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 300px;
}
.count_filmes {
    background-color: #185db1;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: "Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 6px 8px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 300px;
}
.filmes1_hover:hover {
    opacity: 0.6;
}
.img_llc {
    height: auto;
    margin-top: 10px;
    max-width: 100%;
}
.bigcategoria {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    width: 300px;
}
.smallcategoria {
    display: inline-block;
    margin-left: 10px;
    width: 143px;
}
.miniatura-index {
    margin-top: 10px;
    padding: 0;
}
.miniatura-index li {
    float: left;
    list-style: outside none none;
}
.miniatura-index li a:hover, .mais-mais:hover {
    opacity: 0.6;
}
.title-min {
    border-bottom: 1px solid #f1b000;
    color: #f1b000;
    font-family: "Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    height: 22px;
    padding-bottom: 3px;
    position: relative;
    text-align: left;
    width: 100%;
}
.img-min {
    height: auto;
    margin-top: 10px;
    max-width: 100%;
}
.count_filmesmin {
    background-color: #185db1;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: "Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
    font-size: 10px;
    padding: 6px 8px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 135px;
}
.count_filmesmin a:link {
    background-color: #636363;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: "Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
    font-size: 10px;
    padding: 6px 8px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 135px;
}
.slider-filmes {
    height: 283px;
    width: 200%;
}
.title-slider {
    border-bottom: 0 solid #f1b000;
    color: #fff;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-style: italic;
    height: 36px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-top: 0;
    max-width: 380px;
    width: 100%;
    text-transform: UPPERCASE;
    font-weight: bold;
    text-align: left;
}
.set-left {
    background: rgba(0, 0, 0, 0) url("images/anterior-proximo-slider.png") no-repeat scroll left center;
    cursor: pointer;
    float: right;
    height: 14px;
    margin-right: 2px;
    margin-top: 10px;
    width: 14px;
}
.set-right {
    background: rgba(0, 0, 0, 0) url("images/anterior-proximo-slider.png") no-repeat scroll right center;
    cursor: pointer;
    float: right;
    height: 14px;
    margin-top: 10px;
    width: 14px;
}
.box-slider {
    height: 183px;
    margin-left: 3px;
    max-width: 968px;
    overflow: hidden;
    width: 98% !important;
}
.box-slider ul {
    margin: 0;
    padding: 0;
}
.box-slider ul li {
    background: #fff none repeat scroll 0 0;
    float: left;
    height: 183px;
    list-style: outside none none;
    margin-right: 6px;
    opacity: 0.7;
    position: relative;
    width: 132px;
}
.icon_hover {
    background: rgba(0, 0, 0, 0) url("images/relexo-lancamentos.png") no-repeat scroll 0 0;
    height: 183px;
    position: absolute;
    top: 0;
    width: 133px;
}
.box-slider ul li:hover {
    opacity: 100;
}
.button {
    background-color: #185db1;
    border: medium none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 4px 2px 20px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
z-index: 999999;
}

.buttontrailer {
    background-color: #d59500;
    border: medium none;
    border-radius: 3px;
    color: #3f3f3f;
    cursor: pointer;
    display: inline-block;
    font-family: "Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 4px 2px 20px;
    padding: 10px 15px;
    text-align: center;
    text-transform: capitalize;
    z-index: 9;
}

.assistir-trailer {
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0px 10px 33px;
    text-transform: capitalize;
    color: #fff;
}

.buttonerror {
    background-color: #185db1;
    border: medium none;
    border-radius: 3px;
    color: #3f3f3f;
    cursor: pointer;
    display: inline-block;
    font-family: "Myriad Pro","DejaVu Sans Condensed",Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 4px 2px 20px;
    padding: 10px 15px;
    text-align: center;
    text-transform: capitalize;
    z-index: 9;
}

.assistir-error{
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0px 10px 33px;
    text-transform: capitalize;
    color: #fff;
}

.hoverA {
    background: rgba(0, 0, 0, 0) url("https://1.bp.blogspot.com/-t1omL0UHYGs/WAw3z1NJBMI/AAAAAAAABTA/BQYuvO2FdIMUeKT--Q5CUnKJjH_4eJFMwCLcB/s1600/reflexo-post-single.png") no-repeat scroll center bottom;
    bottom: 0;
    height: 230px;
    left: 0;
    position: absolute;
    width: 153px;
    z-index: 5;
}
.hoverA:hover {
    opacity: 0.4;
}
.qualidade {
    background: #f1b000 none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-family: tahoma,Helvetica,Arial,sans-serif;
    font-size: 12px;
    left: 0;
    padding: 5px 12px;
    position: absolute;
    text-shadow: 1px 1px 1px #000;
    z-index: 9;
}
.dublagem {
    background: #6596d1 none repeat scroll 0 0;
    color: #fff;
    font-family: tahoma,Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 5px 12px;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px 1px #000;
    top: 0;
    z-index: 9;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
}

.fadeInBusca {
-webkit-animation: fadeIn 5s ease-in-out;
-moz-animation: fadeIn 5s ease-in-out;
-o-animation: fadeIn 5s ease-in-out;
animation: fadeIn 5s ease-in-out;
}

.fadeIncon {
-webkit-animation: fadeIn 5s ease-in-out;
-moz-animation: fadeIn 5s ease-in-out;
-o-animation: fadeIn 5s ease-in-out;
animation: fadeIn 5s ease-in-out;
}

.fadeInBody {
-webkit-animation: fadeIn 2s ease-in-out;
-moz-animation: fadeIn 2s ease-in-out;
-o-animation: fadeIn 2s ease-in-out;
animation: fadeIn 2s ease-in-out;
}