

@media (min-width:1025px) {
div.list_item{width: 32%;height:50px;display:inline-block;}}

@media (min-width:769px) and (max-width:1024px){
div.list_item{width: 47%;height:50px;display:inline-block;}}

@media (min-width:600px) and (max-width:768px){
div.list_item{width: 48%;height:50px;display:inline-block;}}

@media (max-width:599px){
div.list_item{margin-left:5px;margin-right:5px;height:50px;display:block;padding:0px;}

}

div.list_item{text-align:left}


div.nowrap{
	word-break: break-all;
}

h1{
	font-size: 14px;
	margin: 0;
	display: inline;
}

h2{
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	font-family: helvetica;
	word-spacing: 1px;
}

h3{
	font-size: 12px;
	font-weight: 600;
	font-family: helvetica;
	margin: 0;
}

div.related{
	padding: 5px;
	background: #3b5998;
	color: #fff;
	border: 1px solid #333;
	border-bottom: 2px inset #156785;
}

td.share{
	text-align:center;
	height: 80px;
}

.filelanguages{text-align:center;background: #ffffff;font-size: 14px;width: 50px;}