body {
	font-family: Arial;
	font-size: 14px;
	background-color: #f5f5f5;
	margin: 0px;
	padding: 0px;
}

table, input {
	font-family: Arial;
	font-size: 12px;
}

select {
	width: 216px;
	height: 28px;
	margin-top: 2px;
	margin-bottom: 5px;
}

input[type=text], input[type=password] {
	width: 200px;
    border: 1px solid #adadad;
    padding: 6px;
	margin-top: 2px;
	margin-bottom: 5px;
	
	-webkit-box-shadow: inset 0 1px 2px #e2e2e2;
	-moz-box-shadow: inset 0 1px 2px #e2e2e2;
	box-shadow: inset 0 1px 2px #e2e2e2;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type=file] {
	width: 225px;
	padding: 6px;
	margin-top: 2px;
	margin-bottom: 5px;
}

input[type=submit] {
	margin-top: 3px;
}

img {
	position: relative;
	top: 1px;
	margin: -1px 2px -1px -1px;
}

a img {
	border: 0px;
}

a:link {
	text-decoration: none;
	color: #074a8c;
}

a:visited {
	text-decoration: none;
	color: #01203e;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #00254a;
	text-decoration: underline;
}

.line {
	background-color: #b0b0b0;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	height: 1px;
	padding: 0px;
}

.dotted_line {
	margin-top: 4px;
	margin-bottom: 4px;
	border-bottom: 1px dotted #b3b3b3;
}

.title {
	background-color: #d2d2d2;
	margin-bottom: 2px;
	padding: 11px;
	padding-left: 8px;
}

.logo {
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 6px;
}

.header {
	/* background-image: url(../images/bg_header.png); */
	/* background-repeat: repeat-x; */
	background: #3b5998;
}

.header_item {
	display: block;
	height: 32px;
	line-height: 32px;
	text-decoration: none !important;
	color: #EEEEEE !important;
	white-space: nowrap;
	text-align: center;
}

.header_item:hover {
	background-color: #243c6d;
	border: 4px;
}

.footer {
	background-color: #e9ebee;

	line-height: 18px;
	padding: 8px;
	border-radius: 4px;
}

.inner_footer{
	max-width: 800px;
	background-color: #fff;
	border-radius: 4px;

}

.file_attr {
	background-color: #fff;
	line-height: 18px;
	/* padding: 8px 8px 0px 8px; */
	/* border-radius: 4px; */
	text-align: center;
}

.inner_file_attr{
	max-width: 800px;
	background-color: #efefef;
	/* border-radius: 4px; */
	padding: 7px;
}

.footer_item {
	display: block;
	height: 100%;
	text-decoration: none !important;
	white-space: nowrap;
	text-align: center;
	padding: 8px;
}

.footer_item:hover {
	background-color: #f3f3f3;
}

.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.content {
	background-color: #efefef;
	border-top: 1px solid #C1C1C1;
	border-bottom: 1px solid #C1C1C1;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 6px;
	padding-left: 8px;
}

.page_item {
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 3px;
	height: 27px;
	line-height: 27px;
	background-color: #9E9E9E;
	color: #ffffff !important;
	text-decoration: none !important;
	cursor: pointer;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.page_item:hover {
	background-color: #818181;
}

.page_item.selected {
	background-color: #0063BF;
}

.list_item {
	background-color: #FFFFFF;
	border-bottom: 1px solid #D0D0D0;
	padding: 10px;
	padding-left: 0px;
}

.button {
	background-image: url(../images/bg_button.png);
	background-repeat: repeat-x;
	background-color: #ffffff;
	border: 1px solid #A3A3A3;
	color: #333333;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 0px;
	min-width: 100px;
	height: 28px;
	cursor: pointer;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.languages{
	margin-top: 10px;
	text-align: center;
	margin-left: 5px;
	line-height: 10px;
}

.facebook_icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../images/icon_24x24_facebook_1.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}

.facebook_icon:hover {
	background-image: url(../images/icon_24x24_facebook_2.png);
}

.switch_item {
	cursor: pointer;
}

.switch_item.active {
	background-color: #bfbfbf !important;
}

.switch_item a {
	display: block;
	color: #0a1b5b;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
}

.navigation {
	background-color: #ffffff;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	margin-top: 12px;
}

.navigation table {
	width: 100%;
}

.navigation td {
	text-align: center;
}

.navigation a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
}

.navigation a:hover {
	background-color: #eaeaea;
}

.download_button {
	background-color: #7aad62;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
	border-radius: 4px;
	display: inline-block;
	color: #FFFFFF !important;
	cursor: pointer;
	min-width: 170px;
	padding: 12px;
	text-decoration: none !important;
	border: none !important;
	font-size: 18px;
}

.download_button:hover {
	background-color: #0092d6;
}

.download_button_img {
	background-image: url(../images/icon_16x16_down_blue.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin-right: 3px;
	vertical-align: middle;
	width: 16px;
}

.download_button_img_white {
	background-image: url(../images/icon_16x16_down.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin-right: 3px;
	vertical-align: middle;
	width: 16px;

}

.download_button_img_white2 {
	background-image: url(../images/icon_16x16_file.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin-right: 3px;
	vertical-align: middle;
	width: 16px;
}

.file_description {
	
	padding: 8px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 15px 0px 15px 0px;
	border-radius: 5px;
	text-align: left;
	background: #fff;
	border: 1px solid #ddd;
}

.file_actions {
	background-color: #E3E3E3;
	margin-top: 2px;
}

.file_actions_item {
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	cursor: pointer;
}

.file_actions_item:hover {
	background-color: #d1d1d1;
}

.file_actions_item a {
	text-decoration: none;
	color: #074A8C;
}

div.sponsors{text-align:center;padding-bottom:10px;}


div.languages > a{font-size: 12px;color: #27C;font-weight: 500;}

div.facebook_page{
	margin-left: 15px;
	display:inline-block
}

body > div > div.logo > div > img{width:20px;top:5px}

@media(max-width:332px){

div.donate{background-color: #FF7;
    width: 95%;
    padding: 5px;
    border: 3px solid #EEE;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    font-size:14px}

div.top-donate{display:block;margin-left:auto;margin-right:auto;width:300px;margin-bottom:10px}

div.mp3{display:none}

}

@media(min-width:332px){

div.donate{background-color: #FF7;
    width: 332px;
    padding: 5px;
    border: 3px solid #EEE;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    font-size:14px;
    margin-top:0px}

div.top-donate{display:block;margin-left:auto;margin-right:auto;width:320px;margin-bottom:20px;font-size:14px;font-weight:600;line-height:20px}
}

@media(max-width:450px){
div.facebook_page{display:none;}
div.logo > a{display:none}}

a{word-break:break-all}

div.listname{max-height:27px;overflow:hidden}

div.ga{
    display: block;
    width: 100%;
    min-height: 100px;
    border-bottom: 4px #156785;
    max-width: 800px;
    }

.collapse{
  cursor: pointer;
  display: block;
  background: #cdf;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}

.sprite { background: url('http://upfile.mobi/ui/images/languages.png') no-repeat top left; width: 50px; height: 33px;  } 
.sprite.gb { background-position: 0 0; } 
.sprite.id { background-position: 0 -35px; } 
.sprite.pt-br { background-position: 0 -70px; } 
.sprite.fa { background-position: 0 -105px; } 
.sprite.tr { background-position: 0 -140px; } 
.sprite.vi { background-position: 0 -175px; } 
.sprite.zh-cn { background-position: 0 -210px; } 

.filelanguages{text-align:center;background: #ffffff;font-size: 14px;width: 50px;position: absolute;margin-top: 38px;}