@charset "utf-8";
/* CSS Document */

#contactFormContainer
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size:12px;
    position:fixed;
    left:0px;
    top:32%;
	z-index:999;
}
#contactForm
{
    padding-left:20px;
    height:210px;
    width:351px;
    background:#FFF;
    border:1px solid #DDD;
    display:none;
    z-index:999;
}
#contactForm fieldset
{
    padding:30px;
    border:none;
}      
#contactForm label
{
    display: block;
    color: #333;
}      
#contactForm input[type=text]
{
    display:block;
    border:solid 1px #999;
    width:100%;
    margin-bottom:10px;
    height:24px;
}  
#contactForm textarea
{
    display:block;
    border:solid 1px #999;
    width:100%;
    margin-bottom:10px;
}  
#contactForm input[type=submit]
{
    background-color: #EEE;
    border: solid 1px #CCC;
    color: #333;
    text-shadow: 0 1px 0 #FFF;
    padding: 5px;
}                
#contactLink
{
    height:113px;
    width:31px;
    background-image:url('http://static.blogcu.com/images/v2/feedback-button.png');
    display:block;
    cursor:pointer;
    z-index:999;
    position:absolute;
    left:0;
    top:0;
}
#messageSent
{
    color:#ff9933;
    display:none;
}
