body 
{
	margin:0px;
	background-color:#ffffff;
	cursor: default;
	background-position:center;
	background-repeat:repeat-y;
	background: #e8f2fd url('img/Grad1.gif') repeat-x top center;
}

a
{
	text-decoration: none; color:#003366;
}
a:hover
{
	color:#1f7edd;
}


.bg1
{
	width:770px;
	PADDING-TOP: 0px;
	background: #003265 url('img/bg-Grad3.gif') repeat-x top; 
}

.bg2
{
	WIDTH: 750px;
}

.bg3
{
	width:770px;
	background: url('img/toplogO.gif') no-repeat top right;
	padding-bottom: 8px
}

.bgMain 
{
	MARGIN-LEFT:10px;
}

.topdivL
{
	width:97%;
	height:83px;
	background-position:Left;
	background-repeat:no-repeat;
	background-image:url('img/topL.gif');
}

.divlog
{
	border: 0px;line-height:10px; text-align:left; font-size:12px; font-family:tahoma; color:#a9c6e8; width:97%;
}
.divlog IMG { vertical-align: middle}

.divlog A {color:#ff7c00}
.divlog A:hover {color:white}
.divlog SPAN{color:#d7d4d2}

.divtops
{
	width:270px; height:27px; background: #f4f8ff url('img/mnu-header-s.gif') no-repeat top; font-family:tahoma; font-weight:600; color:#444; font-size:11px; line-height:22px; text-align:right; margin-top:3px;
}
.divtopl
{
	width:470px; height:27px; background: #f4f8ff url('img/mnu-header.gif') no-repeat top; font-family:tahoma; font-weight:600; color:#444; font-size:11px; line-height:22px; text-align:right; margin-top:3px;
}

.divtopP
{
	width:500px; height:27px; background: #f4f8ff url('img/mnu-header-panel.gif') no-repeat top; font-family:tahoma; font-weight:600; color:#444; font-size:11px; line-height:22px; text-align:right; margin-top:3px;
}
	
.divtop-st
{
	width:295px; height:27px; background: #f4f8ff url('img/mnu-stats.gif') no-repeat top; font-family:tahoma; font-weight:600; color:#444; font-size:11px; line-height:22px; text-align:right; margin-top:3px; margin-bottom:10px;
}

.divtop-st-dark
{
	width:295px; height:27px; background: #f4f8ff url('img/mnu-stats.gif') no-repeat top; font-family:tahoma; font-weight:600; color:#444; font-size:11px; line-height:22px; text-align:right; margin-top:10px; margin-bottom:10px;
}

.divtop-st-large
{
	width:600px; height:27px; background: #f4f8ff url('img/mnu-stats-large.gif') no-repeat top; font-family:tahoma; font-weight:600; color:#444; font-size:11px; line-height:22px; text-align:right; margin-top:7px; margin-bottom:10px;
}

	
.divmiddle
{
		width:470px; font-family:tahoma; font-size:12px; color:#555555; background-color: #ffffff; padding:7px 0px 7px 0px;
}
	
.divmiddleP
{
		width:500px; font-family:tahoma; font-size:12px; color:#555555; background-color: #ffffff; padding:7px 0px 7px 0px;
}

.bottompage
{
	width:760px; font-family:tahoma; font-size:8pt; color:#90a6be; line-height:12pt; LINE-HEIGHT: 12pt; direction:ltr; text-align:right; padding-top: 5px; padding-bottom: 3px; margin-top:5px;background: url('img/BotLogo.gif') no-repeat right top; margin-bottom: 15px;
}

.bottomline
{
	WIDTH:750px; HEIGHT:2px; BACKGROUND-COLOR:#dae4ed
}

.foth9b
{
	 font-family:Tahoma; color:#000000; font-size:9pt;
	}

.foth9g
{
	 font-family:Tahoma; color:#333333; font-size:9pt;
}
	
.foth9dg
{
	 font-family:Tahoma; color:#111111; font-size:9pt;
}
	
.vivtop
{
	PADDING-RIGHT:40px; padding-top:2px;
}
	
.fbutton 
{
	BACKGROUND: url(images/btnbg.gif) #ffffff;cursor: hand; FONT-SIZE: 9pt;  FONT-FAMILY: Tahoma; color:#eeeeee; HEIGHT: 25px; WIDTH: 100px; border: solid 1px #68A5D0; text-align:center; vertical-align:middle}

.txtboxes
{
	BACKGROUND: url(img/txtbgi.gif) White;border-color:#d7e4ee;border-width:1px;border-style:Solid;font-family:Tahoma;font-size:10pt; height:22px; color:#222233; width:200px
}

.txtindex
{
	BACKGROUND: url(img/txtbgi.gif) White;border-color:#d7e4ee;border-width:1px;border-style:Solid;font-family:Tahoma;font-size:10pt; height:22px; color:#222233; width:170px
}

.txtboxesm
{
	border-color:#AFC5DB;border-width:1px;border-style:Solid;font-family:Tahoma;font-size:9pt; height:18px; color:#222233;
}

.divtopmnu
{
	 text-align:center; height:33px; color:#2B477A; background: #eef4fd url(img/mnu-head.gif) no-repeat top center; font-size: 10pt; font-weight: bold; font-family: Times New Roman; MARGIN: 0 0 3 0
	}
.divbotmnu
{
	height:20px; background: white url(img/mnu-bot.gif) no-repeat top center;
	}
.mnu1 {
	PADDING: 0px; WIDTH: 140px; TEXT-ALIGN: right; background-color:#f1f7ff; margin-bottom: 8px; background: url(img/mnu-bg.gif) repeat-y top center;
}
.mnu1 A {
	 PADDING: 3 15 4 0; CURSOR: pointer; font:9pt tahoma;color:#00305F; background-color:#eef4fd; background-image:url('img/arr.gif'); background-repeat:no-repeat; background-position:right 8; TEXT-DECORATION: none; display:block; margin: 0 2 0 2;
}
.mnu1 A:hover {
	 color:#00305F; background-color:White; background-position:right -10; direction:rtl
}

.colRight
{
FLOAT:right; MARGIN-top:10px; WIDTH:140px	
}

.colCenter
{
	MARGIN:10px; FLOAT:right; OVERFLOW:hidden; WIDTH:470px
}

.colCenterP
{
	MARGIN:10px; FLOAT:right; OVERFLOW:hidden; WIDTH:500px
}

.colLeft
{
FLOAT:left; MARGIN-top:10px; WIDTH:120px	
}

.reghelp1
{
	BACKGROUND: url(img/home-help.gif); MARGIN-BOTTOM: 10px; WIDTH: 161px; HEIGHT: 27px
}
.reghelp2
{
	FONT:9pt tahoma; PADDING-TOP:5px; HEIGHT:27px; TEXT-ALIGN:right
}

.reghelp2 A
{
	COLOR:#003366; 
}
.reghelp2 A:hover
{
	COLOR:#ff6600; 
}


.dd1 {
	FONT-SIZE: 8pt; WIDTH: 130px; FONT-FAMILY: tahoma
}

.btn-Orange
{
	BORDER:0px; PADDING: 5 0 9 0; BACKGROUND:url(img/btn-bg.gif) #f98315 no-repeat left top; MARGIN:5px; FONT:9pt tahoma; WIDTH:125px; CURSOR:pointer; COLOR:white;
}

.btn-Blue
{
	BORDER:0px; PADDING: 5 0 9 0; BACKGROUND:url(img/btn-bg-b.gif) #2591e1 no-repeat left top; MARGIN:5px; FONT:9pt tahoma; WIDTH:125px; CURSOR:pointer; COLOR:white;
}

.home-tools
{
	background: #f6f7f9 url(img/icon-tools.gif) no-repeat right; text-align:right; padding: 4 30 5 0
}

.home-news
{
	background: #f6f7f9 url(img/icon-news.gif) no-repeat right; text-align:right; padding: 4 35 5 0; font: 9pt tahoma
}

.icon-stat
{
	background: #f6f7f9 url(img/icon-stat.gif) no-repeat right; text-align:right; padding: 4 25 5 0; MARGIN: 3px; FONT: 9pt tahoma; 
}

.icon-blank
{
	background: #f6f7f9 url(img/icon-blank.gif) no-repeat right; text-align:right; padding: 4 3 5 0; MARGIN: 3px; FONT: 9pt tahoma; 
}

.topAds{ BACKGROUND: url(img/ads-bg1.gif) #f8fbff no-repeat; MARGIN-TOP: 9px; WIDTH: 750px; HEIGHT: 80px}
.topAds2{ BACKGROUND: url(img/ads-bg4.gif) #f8fbff no-repeat; MARGIN: 0px 0px 10px 0px; WIDTH: 585px; HEIGHT: 80px}
.adsBox{ FLOAT:right; MARGIN:10 14 0 0; WIDTH:165px; HEIGHT:70px; text-align:right; font: 8pt tahoma; text-decoration:none}
.adsBox font{ font: 8pt tahoma; text-decoration:none; color:black}
.adsBox span{font:8pt tahoma; color: green;}
.adsBox .link{font:8pt tahoma; color: green;}
.adsBox div{font:8pt tahoma; color: green; text-align:left;}
.adsBox a{ font-family: times new roman; font-size:12pt; font-weight: bold; color: #003366; text-decoration:none}
.adsBox a:hover{color:#1f7edd}

.contentBg{ padding-top: 5px; WIDTH: 770px; background: white url('img/grad3.gif') repeat-x top; }



.tooltip-box
{
	width:189px; height:55px; background: url(img/tooltip-bg.gif) no-repeat; position:absolute; margin: -55px -21px 0px; FILTER:alpha(opacity=85); moz-opacity:0.85; OPACITY:0.85; font: 8pt tahoma; color: black; text-align: right
}
.tooltip-box .close
{
	width: 9px; height: 9px; float: left; margin: 6px 0px 0px 7px; cursor: pointer;	background: url(img/tooltip-close.gif) no-repeat center
}
.tooltip-box .message
{
	width: 158px; float: left; margin-right: 11px
}

