﻿/*Body*/
.body_bg_color{ background-color:#eeeeee;}/*Achtergrond kleur*/
.body_fg_color{color:#333333;} /*Tekst kleur*/
.body_link_color{color:#333333;} /*Link kleur*/
.body_heading_color {color:#FE002B;} /*H1-H5 tags kleuren*/
.body_button_bg_color {background-color:#007F0E;} /*Achtergrond kleur algemene buttons*/
.body_button_fg_color {color:#ffffff;} /*Tekst kleur algemene buttons*/
.body_bg_content_color{background-color: rgba(255,255,255,0.9) ;} /*Achtergrond kleur*/
.body_fg_content_color{color:#333333;} /*Tekst kleur*/

/*Header*/
.header_bg_color {background-color:#603D7C;} /*Achtergrond kleur*/
.header_fg_color {color:#ffffff;} /*Tekst kleur*/
.header_link_color  {color:#ffffff;} /*Link kleur*/

/*Footer*/
.footer_bg_color {background-color:#603D7C;} /*Achtergrond kleur*/
.footer_fg_color {color:#ffffff;} /*Tekst kleur*/
.footer_link_color  {color:#ffffff;}  /*Link kleur*/

/*loginbox*/
.loginbox_bg_color {background-color:rgba(51,51,51,1);} /*Achtergrond kleur*/
.loginbox_fg_color {color:#ffffff;} /*Tekst kleur*/
.loginbox_link_color {color:#ffffff;}  /*Link kleur*/
.loginbox_link2_color {color:#EB7070;}  /*Link kleur*/
.loginbox_button_bg_color {background-color:#ffffff;} /*Achtergrond kleur button */
.loginbox_button_fg_color {color:#603D7C;} /*Tekst kleur button*/
.logedinbox_button_fg_color {color:#ffffff;}  /*Logedin button text kleur*/

/*Aanmelder*/
.aanmelder_bg_color {background-color: transparent;}        /*Achtergrond kleur*/
.aanmelder_fg_color {background-color: #2b5a7d;}        /*Tekst kleur*/
.aanmelder_if_color {background-color: #2b5a7d;}        /*Info tekst kleur*/
.aanmelder_btnbg_color1 {background-color: #7EBF2E;}    /*Achtergrond kleur1 button*/
.aanmelder_btnbg_color2 {background-color: #37800F;}    /*Achtergrond kleur2 button*/
.aanmelder_btnfg_color {background-color: #FFFFFF;}     /*Tekst kleur button*/

/*Menubalk*/
.menubar_bg_color {background-color:#333333;} /*Achtergrond kleur*/
.menubar_fg_color {color:#ffffff;} /*Tekst kleur*/
.menubar_link_color  {color:#ffffff;}  /*Link kleur*/

/*Zoekbalk*/
.searchbar_bg_color {background-color:#e54040;} /*Achtergrond kleur*/
.searchbar_fg_color {color:#ffffff;} /*Tekst kleur*/
.searchbar_link_color  {color:#ffffff;}  /*Link kleur*/
.searchbar_button_bg_color {background-color:#50BE2A;}  /*Achtergrond kleur button*/
.searchbar_button_fg_color {color:#FFFFFF;} /*Tekst kleur button*/

/*Paginering */
.paging_selected_bg_color {background-color:#FE002B;} /*Actieve pagina achtergrond kleur*/
.paging_selected_fg_color {color:#ffffff;} /*Actieve pagina tekst kleur*/
.paging_huidige_bg_color {background-color:#ff6666;} /*Link achtergrond kleur*/
.paging_huidige_fg_color {color:#ffffff;} /*Link tekst kleur*/
.paging_bg_color {background-color:#D6D6D6;} /*Container achtergrond kleur*/
.paging_fg_color {color:#333333;} /*Container tekst kleur*/

/*Berichten inbox*/
.inbox_bericht_bg_color {background-color:#ffffff;} /*Achtergrond kleur bericht*/
.inbox_bericht_link_color  {color:#333333;} /*Link kleur bericht*/
.inbox_flirt_bg_color {background-color:#ffffff;} /*Achtergrond kleur flirt*/
.inbox_flirt_link_color {color:#333333;} /*Link kleur flirt*/
.inbox_fg_color{color:#333333;} /*Tekst kleur bericht*/
.inbox_link2_color  {color:#FE002B;} /*Link kleur match*/
.inbox_bericht_bg_link_color  {background-color:#333333;} /*Link kleur match*/
.inbox_bg_link2_color  {background-color:#FE002B;} /*Link kleur match*/

/*Berichten geschiedenis lijst*/
.stuurbericht_bg_color { background-color:#BEBEBE;} /*Achtergrond kleur verzonden bericht*/
.stuurbericht_fg_color { color:#333333;} /*Tekst kleur verzonden bericht*/
.stuurbericht_verzender_bg_color { background-color:#e54040;} /*Achtergrond kleur ontvangen bericht*/
.stuurbericht_verzender_fg_color { color:#fff;} /*Tekst kleur ontvangen bericht*/

/*Matches inbox*/
.matches_bg_color {background-color:#ffffff;}  /*Achtergrond kleur match*/
.matches_fg_color{color:#333333;} /*Tekst kleur match*/
.matches_link_color  {color:#333333;} /*Link kleur match*/
.matches_link2_color  {color:#FE002B;} /*Link kleur match*/
.matches_bg_link_color  {background-color:#333333;} /*Link kleur match*/
.matches_bg_link2_color  {background-color:#FE002B;} /*Link kleur match*/
.matches_bg_image {background-color:#9b1128;}
.matches_border_image {border-color:#9b1128;}
.matches_border_match {border-color:#333333;}
.matches_border_gegevens {border-color:#333333;}

/*Profiel pagina*/
.bekijkprofiel_fg_color{color:#333333;} /*Tekst kleur*/
.bekijkprofiel_button_bg_color {background-color:#AA61E9;}  /*Achtergrond kleur button*/
.bekijkprofiel_button_fg_color {color:#ffffff;}  /*Tekst kleur button*/




/* Plaatje voor een credit in de betaalpagina 'normaal' */
.bg_credits_normaal
{
    background-image: url('/dynamic/Images/bg_credits.png');
}
/* Plaatje voor een credit in de betaalpagina highlighted */
.bg_credits_highlight
{
    background-image: url('/dynamic/Images/bg_credits_highlight.png');
}

#aktiebalk {
    background-image: url('/dynamic/Images/aktiebalk.png');
}


lezenpopup a {
    background-image: url('/dynamic/images/berichtpopup/berichtpopup_knop.png');
}
.popupclass {
    background-image: url('/dynamic/images/berichtpopup/berichtpopup.png');
}


.bericht_listing:hover {
background:#ccc;}