@font-face {
	font-family:"Fira Sans";
	font-style:normal;
	font-weight:400;	
	src:url("/fonts/fira4/FiraSans-Regular.woff") format("woff");
	src/*\**/:url("/fonts/fira4/FiraSans-Regular.eot")\9;
}
@font-face {
	font-family:"Fira Sans";
	font-style:italic;
	font-weight:400;	
	src:url("/fonts/fira4/FiraSans-Italic.woff") format("woff");
	src/*\**/:url("/fonts/fira4/FiraSans-Italic.eot")\9;
}
@font-face {
	font-family:"Fira Sans";
	font-style:normal;
	font-weight:600;	
	src:url("/fonts/fira4/FiraSans-Medium.woff") format("woff");
	src/*\**/:url("/fonts/fira4/FiraSans-Medium.eot")\9;
}
@font-face {
	font-family:"Fira Sans";
	font-style:italic;
	font-weight:600;	
	src:url("/fonts/fira4/FiraSans-MediumItalic.woff") format("woff");
	src/*\**/:url("/fonts/fira4/FiraSans-MediumItalic.eot")\9;
}
@font-face {
	font-family:"Fira Sans";
	font-style:normal;
	font-weight:700;	
	src:url("/fonts/fira4/FiraSans-Bold.woff") format("woff");
	src/*\**/:url("/fonts/fira4/FiraSans-Bold.eot")\9;
}
@font-face {
	font-family:"Fira Sans";
	font-style:italic;
	font-weight:700;	
	src:url("/fonts/fira4/FiraSans-BoldItalic.woff") format("woff");
	src/*\**/:url("/fonts/fira4/FiraSans-BoldItalic.eot")\9;
}

a {color:#13375E; text-decoration:none}
a:hover {color:#B9151C; text-decoration:underline}

/* portalovka */
#portal {margin-bottom:15px; padding:0 0 3px}
#p-menu {z-index:98}
#p-menu > iframe {margin-top:-3px}
#p-menu.fixed {position:fixed; left:0 !important; right:0; width:100% !important}
#p-menu.fixed #p-menu-1 {border-radius:0}
#p-menu-1 > #p-aut {display:none}
#p-menu .nib {background-color:#870000} 
#p-menu li#p-sph {margin:0; border-left:12px solid #B9151C; border-radius:3px 0 0 3px;}
#p-menu-1 {color:#FFF; background:#E41F1F}
#p-menu-1 a, #p-menu-1 i {color:#FFF}
#p-sph {font-weight:700}
#p-sph a {color:#FFF; background:#B9151C; margin-left:-7px;}
#p-sph .nib {background:url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2015%2033%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolygon%20fill%3D%22%23b9151c%22%20points%3D%2215%2C16.5%202%2C33%200%2C33%200%2C0%202%2C0%20%22%2F%3E%3C%2Fsvg%3E") no-repeat -1px 50%;}
#p-dal .ico-list span  {background:url('/u/ico/default-ico.png') no-repeat 0 -650px; background:url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2021%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M5%2C9h11c0.928%2C0%2C1%2C0.8%2C1%2C1.5c0%2C0.699-0.072%2C1.5-1%2C1.5H5c-0.928%2C0-1-0.801-1-1.5C4%2C9.8%2C4.072%2C9%2C5%2C9z%20M5%2C4h11c0.928%2C0%2C1%2C0.8%2C1%2C1.5S16.928%2C7%2C16%2C7H5C4.072%2C7%2C4%2C6.2%2C4%2C5.5S4.072%2C4%2C5%2C4z%20M5%2C14h11c0.928%2C0%2C1%2C0.801%2C1%2C1.5c0%2C0.7-0.072%2C1.5-1%2C1.5H5c-0.928%2C0-1-0.8-1-1.5C4%2C14.801%2C4.072%2C14%2C5%2C14z%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 50% / contain;}
#p-dal:hover .ico-list span, #p-dal.active .ico-list span {background:url('/u/ico/default-ico.png') no-repeat -21px -650px; background:url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2021%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%232C2C2C%22%20d%3D%22M5%2C9h11c0.928%2C0%2C1%2C0.8%2C1%2C1.5c0%2C0.699-0.072%2C1.5-1%2C1.5H5c-0.928%2C0-1-0.801-1-1.5C4%2C9.8%2C4.072%2C9%2C5%2C9z%20M5%2C4h11c0.928%2C0%2C1%2C0.8%2C1%2C1.5S16.928%2C7%2C16%2C7H5C4.072%2C7%2C4%2C6.2%2C4%2C5.5S4.072%2C4%2C5%2C4z%20M5%2C14h11c0.928%2C0%2C1%2C0.801%2C1%2C1.5c0%2C0.7-0.072%2C1.5-1%2C1.5H5c-0.928%2C0-1-0.8-1-1.5C4%2C14.801%2C4.072%2C14%2C5%2C14z%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 50% / contain;}
#p-dal menu a {color:#E41F1F;}
#p-hld .ico-zoom span {border-color:#b9151c; background:url('/u/ico/default-ico.png') no-repeat 0 -475px; background:url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2021%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M17.64%2C17.767l-0.309%2C0.309c-0.651%2C0.651-1.707%2C0.651-2.358%2C0L11.7%2C14.803c-0.414-0.414-0.563-0.992-0.449-1.525c-0.837%2C0.495-1.811%2C0.784-2.854%2C0.784c-3.103%2C0-5.617-2.515-5.617-5.617c0-3.103%2C2.515-5.617%2C5.617-5.617s5.617%2C2.515%2C5.617%2C5.617c0%2C1.2-0.379%2C2.309-1.02%2C3.221c0.489-0.057%2C0.997%2C0.096%2C1.372%2C0.471l3.272%2C3.271C18.291%2C16.06%2C18.291%2C17.115%2C17.64%2C17.767z%20M8.397%2C4.755c-2.037%2C0-3.689%2C1.652-3.689%2C3.689s1.652%2C3.69%2C3.689%2C3.69c2.038%2C0%2C3.689-1.652%2C3.689-3.69S10.436%2C4.755%2C8.397%2C4.755z%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 50% / contain;}
#p-hld:hover .ico-zoom span {background:url('/u/ico/default-ico.png') no-repeat -21px -475px; background:#FFE url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2021%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%232C2C2C%22%20d%3D%22M17.64%2C17.767l-0.309%2C0.309c-0.651%2C0.651-1.707%2C0.651-2.358%2C0L11.7%2C14.803c-0.414-0.414-0.563-0.992-0.449-1.525c-0.837%2C0.495-1.811%2C0.784-2.854%2C0.784c-3.103%2C0-5.617-2.515-5.617-5.617c0-3.103%2C2.515-5.617%2C5.617-5.617s5.617%2C2.515%2C5.617%2C5.617c0%2C1.2-0.379%2C2.309-1.02%2C3.221c0.489-0.057%2C0.997%2C0.096%2C1.372%2C0.471l3.272%2C3.271C18.291%2C16.06%2C18.291%2C17.115%2C17.64%2C17.767z%20M8.397%2C4.755c-2.037%2C0-3.689%2C1.652-3.689%2C3.689s1.652%2C3.69%2C3.689%2C3.69c2.038%2C0%2C3.689-1.652%2C3.689-3.69S10.436%2C4.755%2C8.397%2C4.755z%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 50% / contain;}
#p-plus.act .ico-who span, #p-hld.act .ico-zoom span {border-color:transparent; background:url('/u/ico/default-ico.png') no-repeat -21px -200px; background:url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2021%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%232C2C2C%22%20d%3D%22M13.108%2C10.616l3.12%2C3.12c0.555%2C0.555%2C0.555%2C1.455%2C0%2C2.01l-0.604%2C0.604c-0.556%2C0.555-1.455%2C0.555-2.01%2C0l-3.034-3.034L7.548%2C16.35c-0.556%2C0.555-1.456%2C0.555-2.011%2C0l-0.604-0.604c-0.556-0.555-0.556-1.455%2C0-2.01l3.119-3.12l-3.119-3.12c-0.556-0.555-0.556-1.455%2C0-2.011l0.604-0.603c0.555-0.555%2C1.455-0.555%2C2.011%2C0l3.033%2C3.034l3.034-3.034c0.555-0.555%2C1.454-0.555%2C2.01%2C0l0.604%2C0.603c0.555%2C0.556%2C0.555%2C1.456%2C0%2C2.011L13.108%2C10.616z%22%2F%3E%3C%2Fsvg%3E") no-repeat 0 50% / contain;}
#p-hld .ico-zoom:hover span, #p-plus .ico-who:hover span {background-color:#FFC}
#p-menu #p-hld {right:4px}
#p-plus {/*margin-right:4px;*/}

/* layout */
body {text-align:center; background:#EEE;}
.content {position:relative; width:100%; margin:0; background:#FFF; font-family:'Fira Sans', sans-serif;}

.col-hp {margin:0 0 20px; padding:0 0 5px; border-bottom:1px dotted #CCC;}
.hp-a {float:left; width:560px; margin:0 0 0 40px}
.hp-b {float:right; width:350px; margin:0 5px 0 0}

.col-a {float:left; width:630px; margin:0 0 0 5px}
.col-b {float:right; width:300px; margin:0 5px 0 0}
.col {float:left; width:480px; margin:0 0 0 30px}
.col-1 {clear:both; margin-left:5px;}
#fix-block-1 {min-height:810px}

h2, #nejnovejsi h3 {margin:0 0 .3em; font-size:175%;}
h2 a, #nejnovejsi h3 a {display:inline-block; padding:0 0 0 20px; background:url('data:image/png ;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAAAAADhIwqfAAAAaElEQVQIHQXAsQoBARwG8P/7v8GXi6KkLGeFBzhZMRmUgUXqGER+qjY5gromkzeUdbKF0jdpehRdskHxHic3CoekpfCbJycF22Sl8BymeSgskx3FOZl9KZ9pckHpkg3UfZDRC2qR7MEfdN97Lw2CB8kAAAAASUVORK5CYII=') no-repeat 0 40%; color:#E41F1F;}
h2 a:hover, #nejnovejsi h3 a:hover {color:#13375E}
.missing-h2 { height:2.8em}

.art {overflow:hidden; position:relative; min-height:130px; margin:0 0 30px; padding:0 0 0 187px}
.art a {position:relative;}
.art h3 {line-height:1.2; margin-bottom:.6em; font-weight:600; font-size:142%;}
.art h3 a {display:block;}
.art h3 a:after, .q-mouse .art .art-info:after {content:''; position:absolute; top:-1000px; bottom:-1000px; left:-1000px; right:-1000px; z-index:5; background:url('/u/free.gif')}
.q-mouse .art .art-info:after {top:0; left:0;}
.art img, .art .odklad, .art .mark-video {position:absolute; top:0; left:0; z-index:1;}
.art .perex, .art p {position:relative; z-index:8; display:table; font-size:125%; font-weight:400;color:#333;}
.q-js u.odklad {background-image:none !important}
.art .art-info {margin-bottom:.3em; color:#999}
.q-mouse .art .art-info {position:relative; z-index:6;}
.art-info .time {display:block}
.opener .art-info .time {display:inline-block}
.art-info .brisk, .brisk {margin-right:.6em; padding:1px .5em; font-size:12px; font-weight:600; text-transform:uppercase; color:#FFF; background:#B9151C; white-space:nowrap}
.art-info .commercial, .commercial {padding:1px 0; color:#000; background:none}
.art-info .brisk-video, .brisk-video {padding:0 0 0 18px; color:#000; background:url('/o/sph/ico_play_sph_mini.gif') no-repeat 0 40%}
.alone {margin:-16px 0 20px; font-size:125%}
.alone + .alone {margin-top:-10px}
.alone a {display:block; padding:0 0 0 10px; background:url('data:image/png ;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAMAAACg0N8BAAAAV1BMVEUcPnn///8iQ30jRH0lRn4qSoE3VYk5V4pDX5Bac55je6NofqZwhaqKnLqLnbuYp8KdrMWzv9K7xdfFzt3J0d/e4+zi5u7k6O/r7vP29/odP3r7/P33+PqRlK2RAAAAOElEQVR4Xh3IxQ3AMADAQDtJmRn3n7NSv0dNOpQ90ij2sIhXTvmgE4zoDAO+xY8d9ypboFUqslM/PMkBy7gcZD4AAAAASUVORK5CYII=') no-repeat 0 .3em;}

.opener {padding:0;}
.opener h3 {font-size:225%}
.opener img, .opener .odklad, .odklad {float:none; position:static; display:block; width:100%; height:auto; margin:0 0 .5em}
.opener .perex {font-size:134%;}
.hp-a .art {margin-bottom:15px; padding-bottom:0; background:none;}
.hp-a .opener h3 {font-size:250%}
.hp-a .opener .perex {font-size:150%;}

.art-mini {min-height:55px}
.art-mini h3 + a {position:static}

.section-list {clear:both; float:left; width:640px; min-height:600px; /*overflow:hidden;*/ position:relative; z-index:5; background:#FFF;}
.section-list .col {width:300px;}
.section-list .art {position:relative; min-height:90px; padding:0 0 0 135px}
.section-list .art h3 {margin-bottom:0;}
.section-list .art img, .section-list .art .odklad {width:120px; height:90px;}

.section-list .art.opener {padding:0}
.section-list .art.opener h3 {margin-bottom:0.2em;}
.section-list .art.opener img {position:static; width:auto; max-width:100%; height:auto}
.section-list .art.opener .over-img {display:block; }
.section-list .art.opener .over-img img {float:left}
.section-list .art.opener .over-img img.w230 {width:205px; margin-left:10px}
.section-list .art.opener .over-img img:first-child {margin-left:0}

#art-playtvak .art {margin-bottom:15px; padding-left: 175px; }
#art-playtvak .art img {width:auto}
#art-playtvak .art span {position:absolute; top:43px; left:111px; z-index:2; width:45px; height:45px; background:url("/o/playtvak/playtko-big.png") no-repeat;}	

.over-p135 {display:block; width:100%; height:101px; overflow:hidden; margin:0 0 .5em}
.over-p135 span {display:block; margin-right:-60px; =width:700px;}
.over-p135 img, .over-p135 .odklad {float:left; margin:0 38px 0 0; width:135px; height:101px; }

.mark-video {position:relative; width:630px; margin:0 0 10px}
.mark-video a, a.mark-video {display:block; text-decoration:none; cursor:pointer}
.mark-video img, .mark-video img.gal, .mark-video .odklad {position:static; display:block; float:none; margin:0;}
.mark-video span {position:absolute; bottom:6px; right:6px; z-index:2; width:90px; height:67px; background:url('/o/sph/ico_play_big.png') no-repeat}
.midi {width:80px; height:60px}
.p135 {width:135px; height:101px}
.wmidi {width:137px; height:77px}
.midi span, .p135 span, .wmidi span {width:41px; height:31px; bottom:1px; right:1px; background:url('/o/sph/ico_play_midi.png') no-repeat}
.sp5 {width:172px; height:129px}
.w230 {width:230px; height:129px}
.sph {width:215px; height:161px}
.sp5 span, .sph span, .w230 span {width:60px; height:45px; bottom:3px; right:3px; background:url('/o/sph/ico_play_sp5.png') no-repeat}
.mark-video-text {display:inline-block; width:15px; height:11px; margin-left:4px; =vertical-align:middle; line-height:1.33; background:url('/o/sph/ico_play_sph_mini.gif') no-repeat 0 50%}

/* 
.related h2, .related h3 {font-size:122%; font-weight:700; margin:0 0 0.4em;}
.related ul {margin:0}
.related ul, .related li {display:block; list-style:none}
.related ul li {margin:0 0 0.8em 9px; padding-left:10px; font-size:100%; background:url('/o/sph/alone.gif') no-repeat 0 .4em; =zoom:1}
.related li strong {font-weight:400}
*/

.extra-art-box, .extra-tab {background:url('/u/n3/art_dots.gif') repeat-x 0 100%; background:url('data:image/gif ;base64,R0lGODlhBAABAJEAAAAAAP///5GRkf///yH5BAEAAAMALAAAAAAEAAEAAAIC1F4AOw==') repeat-x 0 100%;}

.extra-art-box {padding:0 0 1px;}
.extra-art-box img {position:static; margin:0; max-width:100%; height:auto;}
.extra-art-box .extra-img {position:relative; margin:0; =zoom:1; overflow:hidden;}
.extra-art-box .box {position:absolute; left:0; bottom:-1px; z-index:1; width:100%; background:url('/u/fog-white80.png'); background:rgba(255,255,255,.8);}
.extra-art-box .art-info {margin-bottom:-6px}
.extra-art-box .perex {padding:10px; font-size:125%}
.extra-art-box .related {position:relative; z-index:6; padding:.8em 0; font-size:125%; }
.extra-art-box .related a:after {position:static}
.extra-art-box .related li {list-style:none; display:block; margin:.8em 0 0; padding-left:10px; font-size:100%; background:url('/o/sph/alone.gif') no-repeat 0 .4em; background:url('data:image/gif ;base64,R0lGODlhBAAHAJECABM3Xv///////wAAACH5BAEAAAIALAAAAAAEAAcAAAIJRCJgodbP1hIFADs=') no-repeat 0 .4em;}
.extra-art-box .related li:first-child {margin-top:0;}
.extra-art-box .art-info .brisk {margin:0}
.extra-art-box .art-info .time {padding-left:10px; font-size:11px; color:#2C66B1;}

.extra-first-art {overflow:hidden; position:relative; margin:0 0 30px 10px; padding:0;}
.extra-first-art img {position:static; display:block}
.extra-first-art .box {position:absolute; bottom:0; left:0; z-index:1; width:100%; padding:10px 0; background:url('/u/fog-white80.png'); background:rgba(255,255,255,.8);}
.extra-first-art h3 {margin-left:10px; margin-right:10px; font-size:217%; font-weight:700;}
.extra-first-art p {margin:0 10px;}

#sky-servis {overflow:hidden; width:100%; margin:0 0 15px; padding:0 0 10px; border-bottom:1px dotted #CCC; font-size:134%;}
#sky-servis li {list-style:none; float:left; margin:0 0 0 -1px; border-left:1px solid #CCC; vertical-align:middle;}
#sky-servis a {display:block; text-align:center; padding:0 10px;}
#sky-servis .weather-1, #sky-servis .weather-2 {width:1em; vertical-align:top}

#weather-servis {margin:0 0 10px; padding:3px 0 10px; border-bottom:1px dotted #CCC; font-size:117%}
.weather-1 a, .weather-2 a {display:block; text-decoration:none}
.weather-1 a:hover .day, .weather-2 a:hover {text-decoration:underline}
.weather-1 {float:left; display:table; table-layout:fixed; width:200px; margin:0 0 10px}
.weather-1 li {display:table-cell; text-align:center; vertical-align:top}
.weather-1 img {width:42px; height:42px}
.weather-1 br {display:none}
.weather-1 .temperature {display:block; color:#e41f1f; font-weight:700}
.weather-2 {float:left; padding-left:15px}
.weather-2 .mask {position:relative; overflow:hidden; display:block; width:128px; height:77px;}
.weather-2 .mask:before {content:''; position:absolute; top:0; left:0; z-index:2; width:100%; height:100%; background:url('/o/sph/mask-map.png') no-repeat; background-size:cover;}
.weather-2 .mask img {display:block; width:100%; height:100%}

/* nejnovejsi */
#nejnovejsi {position:relative; margin:0 0 10px}
#nejnovejsi h3 {overflow:hidden; transform-origin:50% 0; margin:0}
#nejnovejsi h3:after {content:''; display:block; height:.4em}
/*#nejnovejsi.filtered h3 span:before {content:'(bez sportu)'; margin-left:1em; font-size:76.2%; color:#999}
#nejnovejsi h3:hover span:before {display:none}*/
#nejnovejsi label {position:absolute; top:0; left:135px; z-index:1; width:180px; height:2.3em; line-height:2.6; background:#FFF;}
#nejnovejsi label input {vertical-align:sub}
/*#nejnovejsi h3:hover + label, #nejnovejsi label:hover {display:block}*/
#nejnovejsi li {display:block; margin:0; font-size:125%; }
#nejnovejsi li .time {float:left; width:3.2em;}
#nejnovejsi li a {display:table-cell;}
#nejnovejsi li a:after {content:''; display:block; height:.8em}
.q-js #nejnovejsi .nejnovejsi-skryta {height:0; margin-bottom:0; overflow:hidden;}
.q-js #nejnovejsi .nejnovejsi-skryta a {margin-bottom:.8em; }
#nejnovejsi .more {font-size:125%;}
#nejnovejsi .mark-video-text {display:none}

#p51-hp {position:relative; overflow:hidden; margin:0 0 10px;}
#p51-hp img {float:left; max-width:100%; margin:0 10px 0 0;}
#p51-hp div {display:table-cell}
#p51-hp p {overflow:hidden; height:2.6em; line-height:1.3; font-size:117%}
#p51-hp p ~ a {display:table; margin:.5em 0 0; padding:.0em .5em; border-radius:.25em; box-shadow:.05em .05em .1em #FFF; text-decoration:none; text-transform:uppercase; color:#FFF; background:linear-gradient(#E10025 0%, #AB0F1C 100%); background-color:#AB0F1C; text-shadow:.05em .05em .1em #333; font-size:11px; line-height:19px; }
#p51-hp p ~ a:after {content:''; position:absolute; top:-1000px; bottom:-1000px; left:-1000px; right:-1000px; z-index:5; background:url('/u/free.gif')}
#p51-hp .art-wild {display:block; min-height:90px; margin:0; padding:0 0 0 130px;}
#p51-hp .art-wild h2 {margin:0 0 .05em}
#p51-hp .art-wild img {width:120px; height:90px;}

.video-box {position:relative; margin:20px 0 0; padding:12px 0 2px; border-top:1px dotted #CCC; background:#FFF; text-align:left;}
#video-list.video-box { margin:0 0 10px 5px;}
.video-box ul {overflow:hidden;}
#art-video.video-box ul {width:500px; margin:0 0 0 -20px;}
.video-box li {list-style:none; float:left; width:230px;}
#art-video.video-box li {margin:0 0 12px 20px;}
#art-video.video-box li:nth-child(2n+1) {clear:both;}
#art-video.video-box li+li+li {clear:both; margin-bottom:0;}  
#art-video.video-box li+li+li+li {clear:none;}
#video-list.video-box li {margin:0 0 16px 25px;}
#video-list.video-box li:nth-child(4n+1) {clear:both; margin-left:0}
#video-list.video-box li, #video-list.video-box li+li+li+li+li {clear:both; margin-left:0;}  
#video-list.video-box li+li, #video-list.video-box li+li+li+li+li+li {clear:none; margin-left:25px}
.video-art {position:relative; display:block; font-size:150%;} 
.video-art img {display:block; width:230px; height:129px; margin:0 0 5px;}
.video-art span {position:absolute; top:81px; right:3px; z-index:2; width:60px; height:45px; background:url('/o/sph/ico_play_sp5.png') no-repeat;}
.video-playtvak span {top:66px; width:50px; height:60px; background:url('/o/playtvak/logo-playtvak4.png') no-repeat 50% 50%; background-size:contain; opacity:.8;}
.video-expres span {top:105px; width:80px; height:20px; background:url('/o/expres/LogoExpres.svg') no-repeat 50% 50%; background-size:contain;}

#art-video-a1, #art-video-a2 {padding-right:1.5em;}
#art-video h2 a {color:#999}
#art-video.prep-1 #art-video-a1, #art-video.prep-2 #art-video-a2, #art-video.prep-3 #art-video-a3 {color:#E41F1F}
#art-video.prep-1 #art-video-a1:hover, #art-video.prep-2 #art-video-a2:hover, #art-video.prep-3 #art-video-a3:hover {color:#13375E}

.video-rozstrel {display:table; width:100%; line-height:1.2; margin:10px 0 0; text-decoration:none; color:#FFF; background:#E41F1F}
.video-rozstrel:hover {color:#FFF; text-decoration:none}
.video-rozstrel * {display:table-cell; vertical-align:middle;}
.video-rozstrel u {padding:0 .6em; font-weight:700; font-size:175%; text-transform:uppercase; background:#233D78}
.video-rozstrel img {width:auto; height:44px;}
.video-rozstrel span {padding:0 .6em; font-weight:600; font-size:125%;}
.video-rozstrel:hover span {text-decoration:underline}

/* vykuk pod portalovkou */
#mega-ejected {height:0; overflow:hidden;}

/* extra udalost pod portalovkou */
.extra-tab {padding:0 0 5px; margin:0 0 20px;}
.extra-tab h2 {height:auto; line-height:1.5; margin:0 auto 10px; padding:0; border:0; text-align:center; font:700 325%/1.5 Arial,Helvetica,sans-serif; color:#000; background:none; text-transform:none;}
.extra-tab h2 a {padding:0; color:#000; background:none; text-decoration:none;}
.extra-tab h2 a:hover {text-decoration:underline;}
.extra-tab table {table-layout:fixed; width:100%; margin:0; padding:0; border:0; border-collapse:collapse;}
.extra-tab td {padding:0 10px 16px; vertical-align:top; font-size:125%; font-weight:700; text-align:left;}
.extra-tab img {display:block; margin:0 0 10px;}

/* kraje selekt */
#art-kraje-select {margin-top:3px;}

/* fotka dne */
.foto-box {margin:0 0 10px;}
.foto-box img {display:block; width:100%; margin:0 0 6px}
.foto-box .nav {display:block; text-align:center;}
.foto-box .nav li {position:relative; overflow:hidden; display:inline-block; padding:0 .2em;}
.foto-box .nav li a {position:relative; display:block; width:1em; height:1em; border:1px solid #CCC; border-radius:100%; }
.prep-1 #foto-box-a1:before, .prep-2 #foto-box-a2:before, .prep-3 #foto-box-a3:before {content:''; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; display:block; width:100%; height:100%; border:1px solid #FFF; border-radius:100%; background:#999; }

/* kurzy new */
#sph-exchange {margin:0 0 20px 0px}
#sph-exchange h2 {margin-bottom:8px; font-size:125%;}
#sph-exchange h2 a {padding:0; color:#000; background:none;}
#sph-exchange h3 {margin:0 0 5px; font-size:125%;}
#sph-exchange h3 a {color:#000; text-decoration:none}
#sph-exchange h3 a:hover {color:#B9151C}
#sph-exchange .f92 {margin:3px 0 0; color:#B9151C}
#sph-exchange .w2-a {overflow:hidden; margin:0 0 14px}
#sph-exchange .w2-b {clear:both;}
#sph-exchange .table {overflow:hidden; width:100%; list-style:none}
#sph-exchange .table li {float:left; width:50%; min-height:26px; _height:26px;}
#sph-exchange .table a {display:block; padding:4px 0; min-height:18px; _height:18px; color:#000; text-decoration:none; cursor:pointer}
#sph-exchange .table img, #sph-exchange .table span {float:left; line-height:18px}
#sph-exchange .table span {padding:0 0 0 5px}
#sph-exchange .table .tar {padding:0 5px 0 0}
#sph-exchange .table .fc0 {float:none; width:100%; padding:0; line-height:0;}
#sph-exchange .w1, #sph-exchange .w2 {width:2.6em}

#sph-exchange .flag {float:left; display:inline-block; width:28px; height:18px; background:url('/o/fin/sph/flags-sph.png')}
#sph-exchange .flag-eur {background-position:0 0}
#sph-exchange .flag-gbp {background-position:0 -20px}
#sph-exchange .flag-hrk {background-position:0 -40px}
#sph-exchange .flag-usd {background-position:0 -60px}

#sph-exchange .dart {float:right; display:inline-block; width:16px; height:18px; background:url('/o/fin/sph/dart-sph.png')}
#sph-exchange .green-up {background-position:0 -18px}
#sph-exchange .green-down {background-position:0 -72px}
#sph-exchange .red-up {background-position:0 -54px}
#sph-exchange .red-down {background-position:0 -36px}

#sph-exchange .kurz-listek {font-size:117%;}
#sph-exchange .graf {position:relative; width:100%; margin:0 0 20px;}
#sph-exchange .graf a {position:relative; display:block; overflow:hidden; width:285px; height:120px;}
#sph-exchange .graf img {position:relative; left:-10px; top:-5px}

#sph-exchange > .r-head { float:right}

/* blogy */
#blogy-poutani {position:relative}
#blogy-poutani ul {list-style:none;}
ul.blogy-switch {display:none; position:absolute; bottom:100%; right:10px; z-index:1; height:1.8em; line-height:1.8em; margin-bottom:7px; font-weight:700; font-size:125%; font-family:Tahoma,Arial,sans-serif;}
.q-js ul.blogy-switch {display:block}
ul.blogy-switch li {display:inline; padding-left:10px}
.prep-1 #blogy-poutani-a1, .prep-2 #blogy-poutani-a2, .prep-3 #blogy-poutani-a3, .prep-4 #blogy-poutani-a4 {color:#000; text-decoration:none}
#blogy-poutani .arts-1, #blogy-poutani .arts-2, #blogy-poutani .arts-3, #blogy-poutani .arts-4 {min-height:222px; _height:222px}
#blogy-poutani .ico-r li {float:right;}
#blogy-poutani .ico-r a {padding-right:12px}
.blg-width-1 {width:7em}
.blg-width-2 {width:11em}
.blog-art {clear:left; margin:0 0 14px 10px}
.blog-art img {float:left; margin:0 10px 0 0}
.blog-art h3 {font-weight:400; font-size:1em}
.blog-art a {font-weight:700; font-size:1.2em}

/* blogy */
#blogy {clear:both; margin:0 0 14px; width:100%; min-height:200px; _height:200px;}
a#logo-blog {position:relative; display:block; width:130px; height:26px; margin:0 0 2px 10px; font-size:10px;}
a#logo-blog span {position:absolute; top:0; right:0; z-index:1; width:100%; height:100%; cursor:pointer; background:url('/o/sph/blog/logo-blog.gif') no-repeat}
#blogy .entry-content {clear:both; padding:10px 0; background:#DCE3E9; zoom:1;}
#blogy .entry-content .box-in {position:relative; float:left; width:100%; _height:200px; zoom:1; background:url('/o/sph/blog/blogy-box-in.gif') repeat-y 510px 0}
#blogy .blog-art p {font-size:92%}
#blogy .half-l {float:left; width:460px;}
#blogy .half-r {position:relative; float:right; width:470px;}
#blogy .half-r .blog-art {position:relative; zoom:1; padding:0 0 0 1.8em;}
#blogy .half-r .blog-art a {font-weight:400;}
#blogy .half-r .blog-art .b-numb, #blogy .half-r .blog-art .b-time {position:absolute; top:0.1em; left:0; z-index:1; font-size:125%; font-weight:700;}
#blogy .half-r .arts-1, #blogy .half-r .arts-2, #blogy .half-r .arts-3 {min-height:240px; _height:240px;}
#blogy .half-r .arts-1 .blog-art {padding-left:4em;}
#blogy .half-r .arts-1 .b-numb, #blogy .half-r .arts-2 .b-time, #blogy .half-r .arts-3 .b-time {display:none}
#blogy .navigace {position:absolute; bottom:100%; margin:0 0 10px;}
#blogy .navigace li {float:left; list-style:none;}
#blogy .navigace {text-transform:uppercase; font-size:12px; font-weight:700; font-family:Tahoma, Arial, sans-serif}
#blogy .navigace, #blogy .navigace a, #blogy .navigace span {height:26px; line-height:26px;} 
#blogy .navigace .bgr {margin:0; cursor:pointer;}
#blogy .navigace a {float:left; width:100px; margin-right:1px; white-space:nowrap; color:#5C7692; background:#F5F5F5 url('/o/sph/blog/blg_h2_pasiv.gif') repeat-x; text-align:center}
#blogy .navigace a:hover {color:#000}
#blogy .navigace span {display:block; width:100%;}
#blogy .navigace .bgl, #blogy .navigace .bgr {background:url('/o/sph/blog/blg_h2_pasiv_end.gif') no-repeat}
#blogy.prep-1 #blogy-a1, #blogy.prep-2 #blogy-a2, #blogy.prep-3 #blogy-a3 {color:#000; background:#DCE3E9 url('/o/sph/blog/blg_h2.gif') repeat-x}
#blogy.prep-1 #blogy-a1 .bgl, #blogy.prep-1 #blogy-a1 .bgr,
#blogy.prep-2 #blogy-a2 .bgl, #blogy.prep-2 #blogy-a2 .bgr,
#blogy.prep-3 #blogy-a3 .bgl, #blogy.prep-3 #blogy-a3 .bgr {background-image:url('/o/sph/blog/blg_h2_end.gif')}
#blogy .navigace .bgl {background-position:left top}
#blogy .navigace .bgr {background-position:right top}
#blogy ul.more {position:absolute; right:500px; bottom:0; z-index:1; list-style:none; height:26px; line-height:26px;}
#blogy ul.more li {float:right; margin-left:1em;}
#blogy ul.more a.ico-blog {width:12em;}
#blogy ul.more a.ico-next {width:8em;}

.q-js .arts-1, .q-js .arts-2, .q-js .arts-3, .q-js .arts-4, .q-js .arts-5, .q-js .arts-6, .q-js .arts-7, .q-js .arts-8, .q-js .arts-9, .q-js .arts-10 {display:none}
.q-js .prep-1 .arts-1, .q-js .prep-2 .arts-2, .q-js .prep-3 .arts-3, .q-js .prep-4 .arts-4, .q-js .prep-5 .arts-5, .q-js .prep-6 .arts-6, .q-js .prep-7 .arts-7, .q-js .prep-8 .arts-8, .q-js .prep-9 .arts-9, .q-js .prep-10 .arts-10 {display:block}

/* ikonky odkazu */
.content .ico, .content .ico-r, .eyes-ico {font-size:12px}
.ico {text-align:left}
.ico-r {text-align:right}
.ico-r-inline {clear:both}
.ico-r-inline li {display:inline; list-style:none; margin-left:1.5em;}
.ico-r-inline li a {position:relative; display:inline-block; padding:0 25px 0 0}
.ico-r-inline li a span {position:absolute; right:0; top:0;}
.ico a, .ico-r a {display:inline-block; height:26px; line-height:26px; font-size:100%; font-weight:700}
.ico a span, .ico-r a span {float:left; width:21px; height:21px; margin:2px 8px 0 0; _margin-right:5px; border-radius:3px; background-color:#555; background-image:url('/u/ico/default-ico.png'); background-repeat:no-repeat; text-decoration:none; font-size:0; cursor:pointer;}
.ico-r a span {float:right; margin:2px 0 0 8px; _margin-left:5px;}
.ico-right span, .ico-next span {background-position:0 0;}
.ico-left span, .ico-prev span {background-position:0 -25px;}
.ico-down span {background-position:0 -50px;}
.ico-top span {background-position:0 -75px;}
.ico-min span {background-position:0 -100px;}
.ico-max span {background-position:0 -125px;}
.ico-doc span {background-position:0 -150px;}
.ico-ok span {background-position:0 -175px;}
.ico-close span {background-position:0 -200px;}
.ico-globe span {background-position:0 -225px;}
.ico-send span {background-position:0 -250px;}
.ico-back span {background-position:0 -275px;}
.ico-moot span {background-position:0 -300px;}
.ico-audio span, .ico-voice span {background-position:0 -325px;}
.ico-help span {background-position:0 -350px;}
.ico-tip span {background-position:0 -375px;}
.ico-mail span {background-position:0 -400px;}
.ico-print span {background-position:0 -425px;}
.ico-libra span {background-position:0 -450px;}
.ico-zoom span {background-position:0 -475px;}
.ico-des span {background-position:0 -500px;}
.ico-asc span {background-position:0 -525px;}
.ico-first span {background-position:0 -550px;}
.ico-last span {background-position:0 -575px;}
.ico-blog span {background-position:0 -600px;}
.ico-rss span {background-position:0 -625px;}
.ico-list span {background-position:0 -650px;}
.ico-refresh span {background-position:0 -675px;}
.ico-info span {background-position:0 -700px;} 
.ico-decline span {background-position:0 -725px;}
.ico-stagnant span {background-position:0 -750px;}
.ico-graf span {background-position:0 -775px;}
.ico-calendar span {background-position:0 -800px;}
.ico-facebook span, .ico-google span, .ico-jagg span, .ico-linkuj span, .ico-smesk span, .ico-twitter span {width:17px !important; height:17px !important; line-height:16px !important; margin-top:5px !important; background:url('/u/ico/communi.png') !important; _background:url('/u/ico/communi.gif') !important;}
.ico-facebook span {background-position:0 0 !important;}
.ico-google span {background-position:0 -17px !important;}
.ico-jagg span {background-position:0 -34px !important;}
.ico-linkuj span {background-position:0 -51px !important;}
.ico-smesk span {background-position:0 -68px !important;}
.ico-twitter span {background-position:0 -85px !important;}
.ico-down, .ico-left, .ico-prev, .ico-right, .ico-next, .ico-top, .ico-min, .ico-max, .ico-doc, .ico-ok, .ico-close, .ico-globe, .ico-send, .ico-back, .ico-moot, .ico-audio, .ico-voice, .ico-help, .ico-tip, .ico-mail, .ico-print, .ico-libra, .ico-zoom, .ico-des, .ico-asc, .ico-first, .ico-last, .ico-blog, .ico-rss, .ico-list, .ico-refresh, .ico-info, .ico-facebook, .ico-google, .ico-jagg, .ico-linkuj, .ico-smesk, .ico-twitter, .ico-decline, .ico-stagnant, .ico-graf, .ico-calendar {display:inline-block;}
.ico a:hover span, .ico-r a:hover span {background-color:#B9151C; filter:none;}

/* male ikony pocasi */
.iw-j, .iw-sj, .iw-p, .iw-pd, .iw-pb, .iw-pds, 
.iw-ps, .iw-o, .iw-od, .iw-ob, .iw-ok, .iw-ods, 
.iw-osp, .iw-os, .iw-sz, .iw-szd, .iw-szb, .iw-szk, 
.iw-szds, .iw-szsp, .iw-szs, .iw-m, .iw-md, .iw-ms, .iw-mds,
.iw-z, .iw-zd, .iw-zb, .iw-zk, .iw-zds, .iw-zsp, 
.iw-zs, .iw-, .iw-n,
.iw-nj, .iw-nsj, .iw-np, .iw-npd, .iw-npb, .iw-npds, 
.iw-nps, .iw-no, .iw-nod, .iw-nob, .iw-nok, .iw-nods, 
.iw-nosp, .iw-nos, .iw-nsz, .iw-nszd, .iw-nszb, .iw-nszk, 
.iw-nszds, .iw-nszsp, .iw-nszs, .iw-nm, .iw-nmd, .iw-nms, .iw-nmds, 
.iw-nz, .iw-nzd, .iw-nzb, .iw-nzk, .iw-nzds, .iw-nzsp, 
.iw-nzs {width:42px; height:42px; background:url('/o/pocasi/ikon-iw.png') no-repeat; vertical-align:middle}
.iw- {/*background-position:-42px -210px; */ background-position:-1000px -1000px}
.iw-j {background-position:0 0}
.iw-sj {background-position:-42px 0}
.iw-p {background-position:-84px 0}
.iw-pd {background-position:-126px 0}
.iw-pb {background-position:-168px 0}
.iw-pds {background-position:-210px 0}
.iw-ps {background-position:0 -42px}
.iw-o {background-position:-42px -42px}
.iw-od {background-position:-84px -42px}
.iw-ob {background-position:-126px -42px}
.iw-ok {background-position:-168px -42px}
.iw-ods {background-position:-210px -42px}
.iw-osp {background-position:0 -84px}
.iw-os {background-position:-42px -84px}
.iw-sz {background-position:-84px -84px}
.iw-szd {background-position:-126px -84px}
.iw-szb {background-position:-168px -84px}
.iw-szk {background-position:-210px -84px}
.iw-szds {background-position:0 -126px}
.iw-szsp {background-position:-42px -126px}
.iw-szs {background-position:-84px -126px}
.iw-m {background-position:-126px -126px}
.iw-md {background-position:-168px -126px}
.iw-ms, .iw-mds {background-position:-210px -126px}
.iw-z {background-position:0 -168px}
.iw-zd {background-position:-42px -168px}
.iw-zb {background-position:-84px -168px}
.iw-zk {background-position:-126px -168px}
.iw-zds {background-position:-168px -168px}
.iw-zsp {background-position:-210px -168px}
.iw-zs {background-position:0 -210px}

/* reklamy */
#content #topkontakt-sph {padding-left:0}
#content #topkontakt-sph .half-tk, #content #topkontakt-sph .half-tv {float:none}

.sme-art2 {margin:0 0 20px; text-align:left}
.sme-art2 h4, .sme-art2 h3 {font-size:125%; font-weight:700;}
.sme-art2 table {width:100%; border-collapse:collapse; line-height:1.25;}
.sme-art2 td {vertical-align:top} 
.sme-art2 td.td-1 {width:80px; padding:4px 10px 0 0; text-align:right; font-weight:700;}
.sme-art2 td.td-1 a span {cursor:pointer; background-position:50% 50%; background-repeat:no-repeat; background-size:cover;}
.sme-art2 td.td-1 .fw-n {font-weight:400;}
.sme-art2 td.td-3 {padding-top:4px; font-size:117%;}
.sme-art2 .price {font-weight:700; color:#C00;}

.r-art, .section-list .r-art {min-height:1em; padding:0;}
.r-art {margin-top:-15px}
.section-list .r-art {margin:0 0 20px}
.r-art .r-head {margin:3px 0 7px}
.r-art .r-head span {width:58px; height:15px; margin-left:0; background-image:url('/u/n4/r-head-bigger.gif');}
.r-art .r-body {position:relative; overflow:hidden; min-height:90px; padding:0 0 0 135px;}
.r-art img {position:absolute; top:0; left:0; width:120px; height:90px;}
.r-art p, .r-art .perex {z-index:1}
.r-art .hid {display:block}

.s-art h2 {font-size:125%}
.s-art h2 a {display:inline; padding-left:0; color:#000; background:none}
.s-art h2 a:hover {color:#E41F1F}

.s-art-firmy {margin:0 0 16px; min-height:80px;}
.s-art-firmy .r-head {display:none}
.s-art-firmy .entry a {position:relative; display:block; min-height:60px; padding-left:90px; font-size:142%; font-weight:600; line-height:1.2}
.s-art-firmy .entry img {position:absolute; top:0; left:0; width:80px; height:60px}

.s-art-2, .section-list .s-art-2 {min-height:60px; margin:0 0 20px; padding:0 0 0 90px}
.s-art-2 .block {position:absolute; top:0; left:0; z-index:1; background-repeat:no-repeat; background-position:50% 50%; background-size:contain;}
.s-art-2 .price {color:#C00; font-weight:700}
.s-art-2 .sale {position:absolute; right:-3px; top:0; left:auto; bottom:auto; z-index:1; width:auto; height:auto; padding:2px 5px; border:1px solid #FFF; border-width:0 0 1px 1px; color:#FFF; background:#E3001C; font-weight:bold; }
.s-art-2 .sale:before {content:''; position:absolute; left:-1px; bottom:-8px; border:3px solid #F00; border-width:0 0 8px 10px; border-color:transparent transparent transparent #FFF;}
.s-art-2 .sale:after {content:''; position:absolute; left:0; bottom:-6px; border:3px solid #F00; border-width:0 0 6px 8px; border-color:transparent transparent transparent #E3001C;}


#art-lidovky .art u {position:absolute; top:0; left:0; width:120px; height:90px; background-position:50% 50%; background-size:cover;} 

.tags {margin:-10px 0 20px; color:#ccc;}
.tags a {padding:0 1px; color:#13375e; font-size:92%; font-weight:400; }
.tags a:hover {color:#e41f1f}

.print-tomorrow {min-height:76px; padding-bottom:15px; border-bottom:1px dotted #CCC; background:url('/o/sph/print-tomorrow.png') no-repeat 0 6px;}
.print-tomorrow p {z-index:1; margin:0 0 .3em; font-weight:600; color:#E01F21}
.print-tomorrow h3 {line-height:1.1; font-family:"Times New Roman", Times, serif; font-size:200%}
.print-tomorrow h3 a {color:#000}

/* sklik nasili */
.ads-sklik a {display:block; text-decoration:none}
.ads-sklik a:hover {text-decoration:none}
.ads-sklik a:hover h3, .r-art h3 a:hover {text-decoration:underline}
.col-1 .ads-sklik {margin-left:52px;}
.col-1 .ads-sklik img {width:172px; height:90px; margin-left:-187px}
.section-list .col-1 .ads-sklik {margin-left:0;}
.section-list .col-1 .ads-sklik img {width:120px; height:90px; margin-left:-135px}
