@charset "utf-8";
/* CSS Document cf2016-3 */


body{font-size:14px; text-align:center; margin:0px; padding:0px; line-height:20px; background:#fff;color:#444444; font-family: 微软雅黑,黑体,Arial, Helvetica, sans-serif,;  min-width: 1000px;}
* { margin:0; padding:0; font-family: Microsoft YaHei,SimSun, monospace !important; }

div {margin:0px auto; padding:0px; float:none; word-break:break-all;}
form,ul,li,ol,dd,dt,dl,img,tr,td{margin:0px; padding:0px; border:0px; line-height:20px; text-align:left;word-break:break-all;}

ul,li{ list-style:none; float:left;}
a:link{color:#444444; text-decoration:none;}
a:visited{color:#444444; text-decoration:none;}
a:hover{color:#c1000f; text-decoration:underline;}
a:active{text-decoration:none;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;  }
h3{ font-size:16px;}

.f12B{ font-size:12px; font-weight:normal; color:#999999;} 
.f14B{ font-size:14px; font-weight:bold;color:#000;}
.f14W{ font-size:14px; font-weight:bold;color:#FFF;}
.f14W a{ color:#fff; text-decoration:none;}
.f14W a:hover{color:#fff; text-decoration:none;}
.red{ color:#ff0000;}
.f14{ font-size:14px; color:#000;}
.f12h{ color:#999; font-size:12px; text-align:right; }
.two_px{ height:2px; line-height:0px;font-size:0px; margin:0px; padding:0px; }
.f14Bblue{ font-family:""; color:#0D53A1; font-size:16PX; height:35PX; line-height:35px; }
.orange18{ color:#ff6600; font-size:18px; font-weight:bold;}
.orange14{ color:#ff6600; font-size:14px; font-weight:bold;}
.orange14 a{color:#ff6600; }
.center_r{ text-align:right;}
.blue{ color:#00aee7;}

.l{ float:left; }
.r{ float:right;}
/* Containers
----------------------------------------------------------------------------------------------------*/
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.cl:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.cl {zoom: 1;}
	
}
.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
	zoom: 1;
}

/**/
/*行内分割竖线*/
.pipe {margin: 0 5px;color: #CCC;}
/*白色背景+阴影边框*/
.bk1 {background-color:#fff;border:solid 1px #dfdfdf;box-shadow:0 0px 4px rgba(0, 0, 0, 0.3)}
.bk2 {border:solid 1px #e5e5e5;}
.bk3{background-color:#FFF; border:1px solid #dfdfdf;
-moz-box-shadow: 1px 2px 1px #dfdfdf; /* 老的 Firefox */
box-shadow: 1px 1px 1px #f4f4f4;}
.bk4{background-color:#FFF; border:1px solid #dfdfdf;
-moz-box-shadow: 1px 2px 1px #dfdfdf; /* 老的 Firefox */
 border-bottom:0px; border-right:0px;}
/*边距*/
.mtn {margin-top: 5px!important;}
.mbn {margin-bottom: 5px !important;}
.mtm {margin-top: 10px !important;}
.mbm {margin-bottom: 10px !important;}
.mtw {margin-top: 20px !important;}
.mbw {margin-bottom: 20px !important;}
.mbT {margin-bottom: 50px !important;}
.mbTm {margin-bottom:20px !important;}
.mt60 {margin-top: 60px !important;}
.mt35 {margin-top: 35px !important;}
.mb15 {margin-bottom: 15px !important;}
.mlm{ margin-left:10px;}
.mrm{ margin-right:18px;}
/*填充*/
.ptn {padding-top: 5px!important;}
.pbn {padding-bottom: 5px !important;}
.ptm {padding-top: 10px !important;}
.pbm {padding-bottom: 10px !important;}
.ptw {padding-top: 20px !important;}
.pbw {padding-bottom: 20px !important;}
.bline{ border-bottom:1px solid #ffcc00;}
.pd10{ padding:10px;}

.cont {width:100%;
}

/*图片像框*/
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #e9e9e9;

}
