@charset "utf-8";
/* CSS Document */
#bottom{ border-top:2px solid #2b2d33;}

.bottom-link{}
.bottom-link .tit{ background:url(../img2016/index/bit6.jpg) left center no-repeat; height:50px; font-size:16px; font-weight:bold; text-indent:20px; line-height:50px; text-align:left;}
.bottom-link .link-name{ width:1000px; }
.bottom-link .link-name ul{float:left;}
.bottom-link .link-name li{ float:left;height:35px; line-height:35px; text-align:left; display:block;white-space:nowrap;  }
.bottom-link .link-name li span{  padding: 0 10px; }

.About{ background:url(../img2016/index/bottom_bg.jpg) top repeat-x; height:120px;}
.link-About{ line-height:50px; height:50px; color:#fff; padding-top:10px;}

.link-About li{}
.link-About a{ color:#fff;}
.link-About-p{ height:30px; line-height:30px; color:#fff; font-size:12px;}

.foot{ border:1px solid #e5e5e5; height:300px;}

.foot-l{ width:295px; border-right:1px solid #e5e5e5; height:250px; float:left; margin-top:25px;}

.foot-l dt{ font-size:18px; color:#575757; text-align:center; line-height:60px; margin-top:30px; width:295px;}

.foot-l dd{ background:url(../img2016/index/bit8.jpg) 50px center no-repeat;width:295px; height:90px; text-indent:120px; padding-top:30px; color:#797979;}
.foot-l dd p{ line-height:30px; }
.foot-r{ text-align:left; line-height:25px;color:#797979; width:680px; float:right; padding-top:30px; font-size:12px;margin-bottom:10px;}
.foot-r p{ color:#797979}
.foot-tu{ }
.foot-tu li{ float:left;}


