
.footfixed{
	background: rgba(110,59,142,0.8);
	background: #6e3b8e\9;
	filter: alpha(opacity=80);/* 针对 IE8 以及更早的版本 */
	width:100%;
	height:140px; /* 图片大小，宽度必须100% */
	position:fixed;
	left:0;
	bottom:0; /*固定定位，固定在浏览器底部。*/
	z-index: 99999;
}

.foot-img{ width: 1000px; height: 150px; margin: 0px auto;}
.fimg {
	position: relative;    /*父元素相对定位*/
}
.close {
	width: 21px;
	height: 21px;
	background: url(/img2016/close.png) no-repeat center center;
	position: absolute;
	right: 15px;
	top:10px;
	transition: .5s;
	cursor: pointer;   /*小手 */
}


.close:hover {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);     /* IE 9 */
	-moz-transform: rotate(180deg);    /* Firefox */
	-webkit-transform: rotate(180deg);    /* Safari 和 Chrome */
	-o-transform: rotate(180deg);       /* Opera */
} /*旋转 图片*/
