@charset "utf-8";
/* CSS Document */

.small-nav{ height:94px; margin-top:8px;}
#logo{ width:145px; height:94px; text-indent:-400px; overflow:hidden; background:url(../img2016/top/login2.png) no-repeat;}
#search{ height:50px; width:840px; margin-top:25px; font-size:14px; }



.earchBar{background:url(../img2016/top/search_bg.png) left  no-repeat;width:280px; height:38px; margin-right: 20px;}
.earchBar:hover{background:url(../img2016/top/search_bg_H.png) left  no-repeat;width:280px; height:38px; margin-right: 20px;}
.earchBar:active{background:url(../img2016/top/search_bg_H.png) left  no-repeat;width:280px; height:38px; margin-right: 20px;}
.earchBar .input-text{ border:0px; width:225px; height:34px; font-size:14px; background:none; padding-left:10px; outline: none; line-height: 34px; margin-top: 2px;}
.earchBar .input-button{ border:0px; background:none; float:left; width:45px; height:36px;cursor:pointer;}

.login{ color:#c1000f; margin-top: 8px;}
.login span{ margin-right:20px;}
.login span a{  color:#c1000f;}
.login span a:hover{  color:#444444; text-decoration:none;}
.icotu{ width:360px; background:url(../img2016/top/ico_bg.png) -5px -15px no-repeat; height:29px; margin-top:8px;}
.icotu li{ float:left;width:60px; padding-left:30px; text-align:left;}

#nav{ background:#bc000f; border:1px solid #8f000b; height:110px; width:830px; color:#fff;}
#nav .nav-l{width:235px;}
#nav .nav-l_t{ width:210px;}
#nav .nav-l_w165{ width:165px;}
#nav .nav-l_w120{ width:120px;}
#nav .nav-l_w75{ width:75px; background: none; }
#nav ul{width:235px; background:url(../img2016/top/nav_bg.jpg) right repeat-y; height:105px; padding-top:5px; float:left}
#nav ul:last-child{ background:none;}
#nav li{ float:left; height:33px; line-height:33px;display:inline; }
#nav li a{ color:#fff;}
#nav li .span{ font-size:16px; font-weight:bold; width:35px; text-align:right; display:inline-block; padding-left:15px;}
#nav li .span_l{ width:50px; text-align:left;}
#nav li .span_w{ width:94px; text-align:left;}


#nav li a{display:inline-block; width:40px; text-align:center;}
#nav li span a{ color:#fff;}


#apptu{ width:150px; height:110px; border:1px solid #e5e5e5; float:right;}

#apptu img{}

