@charset "utf-8";
/* CSS Document  cf*/

body{ background:url(../img2016/top/bg.jpg) repeat-x;}
.topnews{ height:150px;}
.k-line{ border-right:1px solid #e5e5e5; width:500px; height:150px;}
.tit_news{width:480px; float:right;}
.tit_news h1{ font-size:24px; color:#410005; font-weight:bold; line-height:60px; background:url(../img2016/index/line.jpg) bottom repeat-x; margin:0px 10px; margin-bottom:10px; width:460px; float:left; height: 60px; overflow: hidden}
.tit_news h1 a{color:#410005;}
.tit_news h1 a:hover{ text-decoration:none; color:#444;}
.tit_news ul{margin:0px 10px; margin-left: 0px; overflow:hidden; height:60px; float:left; width:470px;}
.tit_news li{ float:left; line-height:30px; text-align: center; font-weight:500; white-space:nowrap; width:470px;  }
.k-line-tab{ height:35px; border-bottom:1px solid #e3e3e3; margin-bottom:10px; width:450px;}
.k-line-tab li{ width:110px; text-align:center; font-size:14px; cursor:pointer; line-height:35px;}
.k-line-tab li.hover{ border-bottom:3px solid #bc000f; height:35px; font-weight:bold; color:#bd000f;}
.a-gu{width:450px; height:100px;}
.a-gu dl{width:210px; margin-right:10px; float:left; height:33px; font-size:12px; line-height:33px;}
.a-gu dt{ width:90px; float:left;line-height:33px;} 
.a-gu dd{ width:60px; float:left;color:#090;line-height:33px;}
.a-gu dd span{color:#bc000f;}
.a-gu dl:nth-child(odd){margin-right:0px;}
.a-gu-name{ width:75px;color:#adadad;}
.a-gu-name li{ width:75px; float:left; text-align:center; font-size:14px; cursor:pointer; line-height:33px; }
.a-gu-name li.hover{ background:url(../img2016/index/bit.jpg) right center no-repeat; height:33px; }

.a-gu-tu{ width:370px; height:100px;}

/*c*/
#news-report{ border-bottom:1px solid #000000; height:30px; background:url(../img2016/index/bit1.jpg) bottom right no-repeat;}
#news-report dl{}
#news-report dt{ width:80px; float:left;}
#news-report dd{width:900px; float:left; height:30px; overflow:hidden;}
#news-report dd li{ float:left;height:30px; line-height:30px; color:#575757;}
#news-report dd li a{color:#575757;}


/*第一屏*/
#first{}
.width345{ width:345px; }
.width370{ width:370px;}
.width245{ width:245px;}
.width637{ width:637px; }

/*焦点图*/
	/*第一个banner图*/
.banner_jd{ height:276px;}
/*焦点图*/
.focus{ position:relative; height:273px;  float: left; width:343px;}
.focus img{ width: 343px; height: 240px;} 
.focus .shadow .title{width:200px; height:35px;padding-left: 30px;padding-top: 20px; overflow: hidden}
.focus .shadow .title a{ text-decoration:none; color:#444; font-size:14px; font-weight:bolder; width:250px; display: block; line-height: 35px; height:35px;overflow:hidden;}
.focus .btn{ position:absolute; bottom:34px; left:240px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1; height:16px; z-index:10;  }  
.focus .shadow{ width:333px; position:absolute; bottom:-35px; left:10px; z-index:10; height:35px; font-size:14px; line-height:35px; color:#444; text-align:left; overflow:hidden; }
.focus .shadow a{ text-decoration:none; color:#444; font-size:14px; font-weight:bolder; width:250px; display: block; line-height: 35px; height:35px;overflow:hidden;}
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:5px; left:260px; position:absolute; height:21px; text-align:center; z-index: 200; }
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#bc0000;}
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    





/*财界观察*/
.guancha{ border-bottom:1px solid #e3e3e3; width:350px; height:35px; line-height:35px; padding-top:10px;}

.guancha li{ width:120px; text-align:center; font-size:14px; cursor:pointer; line-height:33px; }
.guancha li.hover{ border-bottom:3px solid #bd000f; height:33px; line-height:33px; font-weight:bold; font-size:16px; }
.guancha-nr{ width:330px; height:220px;}
.guancha-nr h2{ font-size:20px; text-align:center; line-height:50px; font-weight:bold; height:50px; overflow: hidden}
.guancha-nr h2 a:hover{  text-decoration:none;   font-size:20px; }
.guancha-nr p{ line-height:40px; text-align:left; font-size:16px; height: 40px; overflow: hidden}


/*必看*/
.look{ }
.look .bg{ background:url(../img2016/index/look.jpg) top left no-repeat;  height:40px;}
.look ul{ width:245px;}
.look li{ text-align:left; line-height:35px; width:245px; height: 35px; overflow: hidden;}
.read{ background:url(../img2016/index/look_bg.jpg) left center no-repeat; height:60px;}
.read li{ font-size:16px; font-weight:bold; padding-left:50px; line-height:55px; width:70px;}


/*第二屏  最新财经*/
.news-cj{ height:52px; background:url(../img2016/index/line_bg.png) bottom repeat-x;}


.news-cj ul{ display: block;}
.news-cj li{  text-align:center; width:90px; cursor:pointer; line-height:49px;  height:49px; float: left; }
.news-cj li.hover{ background:url(../img2016/index/triangle.png) center bottom no-repeat; height:49px; font-size:16px; font-weight:bold;display: block }
.news-cj-nr{ width:305px;}
.news-cj-nr li ,.news-cj-nr dl{ background:url(../img2016/index/line.jpg) bottom repeat-x; margin-bottom:10px;}
.news-cj-nr li{ width: 100%; display: block; height:65px;}
.news-cj-nr h3{ font-size:16px; line-height:30px; width: 100%; height: 30px; overflow: hidden}
.news-cj-nr p{ font-size:14px; overflow:hidden; height:30px; line-height:30px; color:#666666;}

.news-cj-nr li:last-child{ background:none;}
#nav ul:last-child{ background:none;}
.news-cj-nr dl{ height:150px;} 
.news-cj-nr dl h3{ font-weight:bold; overflow: hidden;}
.news-cj-nr dt{ width:150px; height:100px; float:left;}
.news-cj-nr dt img{ width: 150px; height:100px;}

.news-cj-nr dd{ width:140px; float:right; color:#444444;  line-height:30px; height: 120px; overflow: hidden;}

/*title 市场聚焦*/
.title-bg{ background:url(../img2016/index/line1.jpg) bottom repeat-x; height:45px; line-height:45px; font-size:18px; position:relative; font-weight: bold; text-align:left; text-indent:10px; }
.more{ position:absolute; right:10px; font-size:12px; bottom:6px; color:#8c8c8c; line-height:20px; font-weight:normal;}
.more a{color:#8c8c8c;}

/*right title*/
.title-bg-r{ background:url(../img2016/index/line2.jpg) bottom repeat-x; height:44px; line-height:44px; font-size:16px; position:relative; text-align:left; }
/*left title*/
.title-bg-l{ background:url(../img2016/index/bit4.jpg) 5px center no-repeat; text-indent:20px;border-bottom:2px solid #bd000f;  height:40px; line-height:40px; font-size:16px; position:relative; text-align:left;}

/*图文*/
.title-tu{margin:0px 10px; }
.title-tu dl{ height:93px;}
.title-tu dt{ width:120px; height:80px; float:left;  overflow:hidden;}
.title-tu dt img{transition:all 0.3s; width:120px; height:80px;}
.title-tu dt img:hover{-webkit-transform:scale(1.23);-moz-transform: scale(1.23);-o-transform:scale(1.23);transform:scale(1.23);}
.title-tu dd{ width:210px; float:right;}
.title-tu dd h4{ font-size:16px; line-height:35px; font-weight:bold; height: 35px; overflow: hidden;}
.title-tu dd p{ color:#666; line-height:25px;}

/*图文 标题置顶*/
.title-top-tu{background:url(../img2016/index/line.jpg) bottom repeat-x; height:135px;}
.title-top-tu h4{font-size:16px; line-height:50px; font-weight:bold; height:50px; width:350px; overflow:hidden;float:left;}
.title-top-tu dl{ height:96px; width:350px; margin-left:10px; float:left;}
.title-top-tu dt{ width:110px; height:80px; float:left;}
.title-top-tu dt img{transition:all 0.3s; width:95px; height:65px;}
.title-top-tu dt img:hover{-webkit-transform:scale(1.1);-moz-transform: scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.title-top-tu dd{ width:230px; float:left;}

.title-top-tu dd p{ color:#666; line-height:25px;}



.list{ width:350px;}
.list li{ font-size:16px; line-height:35px; height:35px; overflow:hidden; color:#070707; width:350px; }
.list li a{color:#070707;}
.list li a:hover{color:#c1000f; text-decoration:underline;}
.list li strong{ color:#444;}

/*大综盘述*/


.big-tu{ height:80px; background:#f5f5f5;}

.big-tu dl{ height:80px;margin:0px 10px;}
.big-tu dd{ width:120px; float:left; line-height:30px; font-size:16px; height:60px; overflow:hidden;}

.big-tu dt{ float:right; width:100px; height:70px;}
.big-tu dt img{ width: 100px; height: 70px;}
.r-list{ margin:10px auto; width:245px;}
.r-list ul{ display: block}
.r-list li{ font-size:14px; line-height:30px; height:30px; display:block;overflow:hidden; color:#070707; width:245px;}




/*column 机
构专栏*/
.column{ background:url(../img2016/index/line3.jpg) repeat-y; height:90px; margin-bottom:10px;}
.column dl{ }
.column dt{ width:95px; height:75px; float:left;padding-top:10px;}
.column dd{ width:130px; float:right;}
.column dd h3{ font-size:16px; font-weight:bold; line-height:30px; height: 30px; overflow: hidden;}
.column dd p{ line-height:25px; color:#575757;}

/*subjectN 热点专题*/
.subjectN{ height: 110px;*height: 105px;}
.subjectN dl{border-bottom:1px solid #e7e7e7; margin-bottom:30px;height:86px; *height:80px;}
.subjectN dt{ width:140px; height:70px; float:right; line-height:35px; font-weight:bold; font-size:16px; overflow: hidden}
.subjectN dd{ width:91px; float:left; height:71px; border:1px solid #e7e7e7; text-align:center; background:#fff;}
.subjectN dd img{ padding:3px; width:85px; height:65px;}
.subjectN dl:last-child{ margin-bottom:0px;}
.subjectN:last-child{ margin-bottom: 0px;}


.project{}
.project dl{border-bottom:1px solid #e7e7e7; margin-bottom:30px;height:86px;}
.project dt{ width:140px; height:70px; float:right; line-height:35px; font-weight:bold; font-size:16px; overflow: hidden}
.project dd{ width:91px; float:left; height:71px; border:1px solid #e7e7e7; text-align:center; background:#fff;}
.project dd img{ padding:3px; width:85px; height:65px;}
.project dl:last-child{ margin-bottom:0px;}
.project:last-child{ margin-bottom: 0px;}

	/*广告图*/
.ad-banner{ height:90px; width:1000px;}


/*left title*/
.tv-tu{ width:320px; }
.tv-tu dl{width:320px; height:190px;}
.tv-tu dt{ width:187px; float:left; height:188px;border:1px solid #e7e7e7; text-align:center; }
.tv-tu dt img { width:185px; height:155px; overflow:hidden; border: 0px;}
.tv-tu dt img a{ line-height:0px; display: inline-block}
.tv-tu dt h5{ height:27px; font-size:12px; border-top:0px; text-align:center; line-height:25px;}
.tv-tu dd{ width:115px; height:90px; float:right; margin-bottom:10px;}
.tv-tu dd img{ width: 115px; height:90px;}
.tv-tu ul{ width:320px;}
.tv-tu li{ background:url(../img2016/index/bit5.jpg) left center no-repeat; text-indent:30px; height:35px; line-height:35px; width:150px; margin-right:10px;}
.tv-tu li a{ color:#575757;}
.tv-tu li a:hover{ color:#c1000f;}


/*文字 title 证卷中心*/
.Stock{ background:url(../img2016/index/line.jpg) bottom repeat-x; height:105px; margin-bottom:15px;}
.Stock h3{ font-size:18px; height:40px; line-height:40px; color:#070707; width:350px; overflow: hidden;}
.Stock h3 a{ color:#070707;}
.Stock h3 a:hover{color:#c1000f}
/*
.Stock li{ background:url(../img2016/index/line4.jpg) right center no-repeat; line-height:30px; height:30px; padding-right:20px; color:#575757; margin-right:20px; padding-left:10px;}*/
.Stock li{  line-height:30px; height:30px; padding-right:20px; color:#575757; margin-right:20px; width: 100%; overflow: hidden }

.Stock li a{color:#575757;}
.Stock li:nth-child(even){ background:none; padding-left:0px;}

.Stock ul{padding: 0px 10px; display: block}
/*science科技*/

.science{ width:325px;}
.science dl{ height:140px; width:325px;}
.science dt{ width:135PX; height:135PX; margin-left:20px; display:inline; float:left;}
.science dt img{ width: 135px; height: 95px;}
.science dt h4{ height:30px; line-height:30px; text-align:center; width:135px;}
.science li{ border-bottom:1px solid #e7e7e7; height:48px; line-height:48px;*height:47px; *line-height:47px; font-size:16px; text-indent:20px; width:325px; text-align: left; overflow:hidden;}
.science li span{ font-size:14px;}
.science li:last-child{ border-bottom:0px;}

/*science1科技*/

.science1{ width:325px;}
.science1 dl{ height:140px; width:325px;}
.science1 dt{ width:135PX; height:135PX; margin-left:20px; display:inline; float:left;}
.science1 dt img{ width: 135px; height: 95px;}
.science1 dt h4{ height:30px; line-height:30px; text-align:center; width:135px;}
.science1 li{ border-bottom:1px solid #e7e7e7; height:48px; line-height:48px;*height:51px; *line-height:51px; font-size:16px; text-indent:20px; width:325px; text-align: left; overflow:hidden;}
.science1 li span{ font-size:14px;}
.science1 li:last-child{ border-bottom:0px;}


/*newsBbs社区*/

.newsBbs{ width:325px;}
.newsBbs dl{ height:140px; width:325px;}
.newsBbs dt{ width:135PX; height:135PX; margin-left:20px; display:inline; float:left;}
.newsBbs dt img{ width: 135px; height: 95px;}
.newsBbs dt h4{ height:30px; line-height:30px; text-align:center; width:135px;}
.newsBbs li{ border-bottom:1px solid #e7e7e7; height:48px; line-height:48px;*height:41px; *line-height:41px; font-size:16px; text-indent:20px; width:325px; text-align: left; overflow:hidden;}
.newsBbs li span{ font-size:14px;}
.newsBbs li:last-child{ border-bottom:0px;}

/*zhonghe综合*/

.zhonghe{ width:325px;}
.zhonghe dl{ height:140px; width:325px;}
.zhonghe dt{ width:135PX; height:135PX; margin-left:20px; display:inline; float:left;}
.zhonghe dt img{ width: 135px; height: 95px;}
.zhonghe dt h4{ height:30px; line-height:30px; text-align:center; width:135px;}
.zhonghe li{ border-bottom:1px solid #e7e7e7; height:48px; line-height:48px;*height:46px; *line-height:46px; font-size:16px; text-indent:20px; width:325px; text-align: left; overflow:hidden;}
.zhonghe li span{ font-size:14px;}
.zhonghe li:last-child{ border-bottom:0px;}

/*名家Famous*/
.famous{}

.famous dl{height:90px; width:245px; padding-top:8px; margin-bottom:8px; background:url(../img2016/index/bg_famous.jpg) no-repeat; }
.famous dt{ width:90px; height:85px; float:left;}
.famous img{ width:90px; height: 80px;}
.famous dd{ width:135px; float:right; height:90px;}
.famous dd h4{ font-size:16px; font-weight:bold; line-height:40px;}


/*money 财富八卦*/
.money{ background:url(../img2016/index/line3.jpg) -10px repeat-y; height:90px;*height:80px;}
.money dl{ }
.money dt{ width:95px; height:75px; float:left;padding-top:10px;}
.money dt img{ width: 85px; height: 65px;}

.money dd{ width:130px; float:right;}
.money dd h3{ font-size:14px; font-weight:bold; line-height:30px;}
/*侈奢品 goods*/

.goods{ width:305px; height:150px;display: inline;
	position: relative;
	background: #fff;
  display:inline-block;}


.goods img {
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
	width: 305px;
	height: 150px;
}
.goods h2 {
	position: absolute;
	bottom: 0px;
	width: 305px;left: 0;
	height: 30px;
	background: url(../img2016/index/bg_bit.png);
	color: #fff;
	font-size: 14px;
	text-align: center; font-weight:bold;
}
.goods h2 a {
	color: #fff;
	-webkit-transform: translate3d(0, 0px, 0);
	transform: translate3d(0, -0px, 0);
}
.goods:hover img {
	opacity: 0.6;
}
.goods:hover h2 {
	webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	bottom: 20px;
	-webkit-transition: bottom 1s ease;
	-moz-transition: bottom 0.2s ease;
	-o-transition: bottom 0.2s ease;
	transition: bottom 0.2s ease;
	
}


/*bbs*/
.bbs-tu{ height:165px; width:310px;}
.bbs-tu dl{ width:310px; float:left; height:160px;}
.bbs-tu dt{ width:215px; height:165px; float:right;}
.bbs-tu dt img{ width: 215px; height: 165px;}

.bbs-tu dd{ float:left; width:80px; height:75px; margin-bottom:15px;}
.bbs-tu dd img{ width: 80px; height: 75px;}

.guancha-side{ height: 220px; width: 100%; overflow: hidden;}
.a-gu-side{height: 100px;  width: 450px; overflow: hidden;}
.big-side{ height: 1080px;  width: 100%;  overflow: hidden;}

.title_red2009{ color: #85000b;}
.mbw{ margin-bottom: 15px;}
*+html .mbw { margin-bottom: 10px; }