@charset "utf-8";
/* CSS Movies Release */
body {
	position:relative;
	z-index:1;
}
.block_movie {
	float: left;
	width: 100%;
	position: relative;
}
.block_header {
	float: left;
}
.block_header-img {
}
.block_subtitle {
	float: left;
	height: 40px;
	width: 100%;
	background: url(http://ptcdn.info/movies/sub_background.gif) repeat;
	border-left: #474747 1px solid;
	border-right: #474747 1px solid;
	position:relative;
}
.subtitle_1 {
	float: left;
	padding: 5px 0 0 1%;
}
.block_search {
	float: right;
	padding: 9px 1% 0 0;
}
.block_search--input {
	margin: 0;
}
.block_search--input {
	font-size: 1em;
	font-family: tahoma;
	color: #000000;
	border: solid 1px #24233a;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: url(http://ptcdn.info/movies/search_brown_icon.png) no-repeat right #eee;
	padding-right: 25px;
	width:304px;
}
.block_thumbnail {
	float: left;
	background-color: #242424;
	order:1px solid #242424;
	width:1200px;
	margin: 0 auto;
	border-left: #474747 1px solid;
	border-right: #474747 1px solid;
	position: relative;
	padding:0 0 5px 0;
}
.thumbnail {
	height: 410px;
	float: left;
	width: 178px;
	margin: 20px 31px 5px 31px;
	text-decoration:none;
	cursor:pointer;
}
.thumbnail:hover {
	text-decoration:underline;
	color:#c2c2c2;
}
.thumbnail_img {
	text-align: center;
	width: 178px;
	padding-top: 2px;
	background-color: #060606;
}
/* ############ START Star ############ */
.list-movie-rating-wrapper{
	text-align:center;
	padding: 5px;
    position: relative;
	overflow: hidden;
	margin:0 auto;
}
.list-movie-star-wrapper {
	background-color:#060606;
}
.movie-rating-wrapper{
	/*width:120px;*/
	padding: 5px;
    position: relative;
	overflow: hidden;
	margin:0 auto;
}
/* ##### START Star Showing ##### */
.movie-star-rating {
	background:url(http://ptcdn.info/movies/movie-star-rating.png) no-repeat;
}
.showing-movie-star-rating-0-0 {
	background-position:0 -178px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-0-5 {
	background-position:0 -197px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-1-0 {
	background-position:0 -217px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-1-5 {
	background-position:0 -238px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-2-0 {
	background-position:0 -257px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-2-5 {
	background-position:0 -277px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-3-0 {
	background-position:0 -298px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-3-5 {
	background-position:0 -317px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-4-0 {
	background-position:0 -337px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-4-5 {
	background-position:0 -357px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
.showing-movie-star-rating-5-0 {
	background-position:0 -377px;
	padding:0;
	width:100px;
	height:20px;
	margin:0 auto;
}
/* ##### END Star Showing ##### */
/* ##### START Star Box ##### */
.showing-box-movie-star-rating-0-0 {
	background-position:0 -24px;
	padding:0;
	width:100px;
	height:15px;
	margin:0 auto;
	float:left;
}
.showing-box-movie-star-rating-0-5 {
	background-position:0 -38px;
	padding:0;
	width:100px;
	height:15px;
	margin:0 auto;
	float:left;
}
.showing-box-movie-star-rating-1-0 {
	background-position:0 -52px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
.showing-box-movie-star-rating-1-5 {
	background-position:0 -66px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
.showing-box-movie-star-rating-2-0 {
	background-position:0 -80px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
.showing-box-movie-star-rating-2-5 {
	background-position:0 -94px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
.showing-box-movie-star-rating-3-0 {
	background-position:0 -108px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
.showing-box-movie-star-rating-3-5 {
	background-position:0 -122px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
.showing-box-movie-star-rating-4-0 {
	background-position:0 -136px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
.showing-box-movie-star-rating-4-5 {
	background-position:0 -150px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
.showing-box-movie-star-rating-5-0 {
	background-position:0 -164px;
	padding:0;
	width:100px;
	height:15px;
	margin: 2px auto 0;
	float:left;
}
/* ##### END Star Box ##### */
/* ##### START Star voting-movie-star-rating ##### */
.voting-movie-star-rating-0-0 {
	background-position:0 -397px;
	padding:0;
	width:120px;
	height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-0-5 {
	background-position:0 -421px;
	padding:0;
	width:120px;
 	height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-1-0 {
	background-position:0 -445px;
	padding:0;
	width:120px;
 	height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-1-5 {
	background-position:0 -469px;
	padding:0;
	width:120px;
 height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-2-0 {
	background-position:0 -492px;
	padding:0;
	width:120px;
 height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-2-5 {
	background-position:0 -517px;
	padding:0;
	width:120px;
	height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-3-0 {
	background-position:0 -540px;
	padding:0;
	width:120px;
 height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-3-5 {
	background-position:0 -564px;
	padding:0;
	width:120px;
 height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-4-0 {
	background-position:0 -588px;
	padding:0;
	width:120px;
 height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-4-5 {
	background-position:0 -612px;
	padding:0;
	width:120px;
 height:24px;
	margin:0 auto;
}
.voting-movie-star-rating-5-0 {
	background-position:0 -636px;
	padding:0;
	width:120px;
 height:24px;
	margin:0 auto;
}
.active-star-left {
	float:left;
	height:24px;
	width:12px;
	background-position:0 0;
}
.active-star-right {
	float:left;
	height:24px;
	width:12px;
	background-position:-12px 0;
}

.inactive-star-right  {
	float:left;
	height:24px;
	width:12px;
	background-position:-37px 0;
}
.inactive-star-left  {
	float:left;
	height:24px;
	width:12px;
	background-position:-25px 0;
}
.inactive-star-left:hover, .inactive-star-right:hover {
	opacity:0.7;
}
.wrap-voting-star {
	overflow:hidden;
	width:120px;
	margin:0 auto;
}
.each-star {
	float:left;
}
/* ##### END Star voting-movie-star-rating ##### */
.movie-star-rating-li {
	display:inline;
}

/* ############ END Star ############ */

.thumbnail_detail {
    overflow: hidden;
    padding: 5px;
    background: none !important;
}
.thumbnail_detail-eng {
    font-size: 14px;
    color: #dbdbdb;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.thumbnail_detail-th {
    font-size: 14px;
    color: #dbdbdb;
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.thumbnail_detail-day {
    font-size: 11px;
    color: #cfcfcf;
    margin-top: 2px;
}
.thumbnail_button {
	background: url(http://ptcdn.info/movies/thumbnail_button.png) no-repeat;
	width: 145px;
	height: 37px;
	cursor: pointer;
	box-shadow:none;
}
.thumbnail_button_hover {
	background: url(http://ptcdn.info/movies/thumbnail_button-hover.png) no-repeat;
	width: 145px;
	height: 37px;
}
.block_subtitle-sub2 {
	background-color: #4c0000;
	float: left;
	width: 1148px;
	border-left: #474747 1px solid;
	border-right: #474747 1px solid;
	padding: 5px 0 5px 52px;
}
.block_oldyear {
	  height: 46px;
    position: absolute;
    right: -1.41px;
    top: -3px !important;
    width: 305px;
    z-index: 9;
	background: url(http://ptcdn.info/movies/sub_oldyear.png) no-repeat;
}
.block_oldyear select, textarea {
	border: none;
	color: #242424;
	-webkit-appearance: none;
	box-shadow: none;
}
.block_oldyear-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position: 22px 3px;
	width: 149px;
	height: 24px;
	position: absolute;
	cursor: pointer;
	background: url(http://ptcdn.info/movies/sub_oldyear-arrow.png) no-repeat right #eee;
	right: 11px;
	top: 11px;
}

/* ########## START Tab ########## */
.block_tab {
	background-color: #242424;
    border-left: 1px solid #474747;
    border-right: 1px solid #474747;
    float: left;
    padding: 0;
	width:100%;
}
.block_tab .b-block.b-block-color01 {
	background: #242424;
}
.block_tab .b-block-tabbar-wrap {
	background: #eee;
    border-bottom: 1px solid #6c73a6;
    height: 33px;
}
.block_tab .b-block-tabbar .tabbar-item {
	color: #4c4c4c;
    cursor: pointer;
    float: left;
    padding: 0 23.7px;
    position: relative;
    text-decoration: none;
	background:#eee;
}
.block_tab .b-block-tabbar .tabbar-item:hover {
	background:#fff;
	color:#4c4c4c;
}
.block_tab  .b-block-tabbar li {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #858585 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    float: left;
    height: 33px;
    line-height: 33px;
    position: relative;
	
}
.block_tab .b-block-tabbar li.last {
	border-right:none;
}
.block_tab  .b-block-tabbar .tabbar-item.selected {
	background: #242424 none repeat scroll 0 0;
    border-top: 2px solid #ffc603;
    color: #eee;
    height: 2.571em;
    white-space: nowrap;
}
.block_tab .b-block-content {
	
}
.block_tab-month {
	
}
.block_tab-day {
	
}
.block_tab .b-block-inner {
	border:none;
}
.block_tab-block-thumb {
	margin:0 25px 25px 25px;
	overflow:hidden;
}
.block_tab-thumb {
	float:left;
	background:#060606;
	height:225px;
	width:130px;
	display:block;
	margin:15px 13px 0 0;
	text-decoration:none;	
	color:#eee !important;
	overflow:hidden;
	transform: translateZ(0px);
    transition-duration: 0.5s;
    transition-property: color, background-color;
}
.block_tab-thumb:hover {
	background:#555;
	 
}
.block_tab-thumb-img {
	width:120px;
	height:180px;
	margin:5px;
}
.block_tab-thumb-title {
	font-size:11px;
	margin:5px;
}
.subtitle_3 {
	color:#eee;
	border-bottom:1px #555 solid;
	margin:5px 25px;
}
a.block_tab-thumb .block_tab-thumb p {
	width:120px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* ########## END Tab ########## */
/* ########## START Movie detail ########## */
.block_movie-desc {
    background-color: #242424;
    border-left: 1px solid #474747;
    border-right: 1px solid #474747;
    float: left;
    padding: 0 10px 10px;
    position: relative;
    width: 98.3%;
}
.subtitle_2 {
	display:block;
	overflow:hidden;
}
.block_subtitle-sub3 {
	font-size:26px;
	margin-top:15px;
	color:#dbdbdb;
}
.block_subtitle-sub4 {
	font-size:16px;
	margin:10px 0;
	color:#dbdbdb;
}
.subtitle_2-title {
	float:left;	
}
.subtitle_2-time {
	float:right;
	margin:15px 5px 0 0;
}
.subtitle_2-time-ontime {
	float:left;
	width:120px;
	height:50px;
	background:#b7b7b7;
	border-radius:3px;
	margin-right:10px;
	text-align: center;
	font-size:12px;
}
.subtitle_2-time-date {
	float:right;	
	width:120px;
	height:50px;
	background:#b7b7b7;
	border-radius:3px;
	text-align: center;
	font-size:12px;
}
.subtitle_2-time-title {
	color:#242424; display:block; line-height:25px; border-bottom:1px dashed #9f9d9e;
}
.subtitle_2-time-detail {
	color:#242424; display:block; line-height:25px; background:#eee;border-radius: 0px 0px 3px 3px;-moz-border-radius: 0px 0px 3px 3px;-webkit-border-radius: 0px 0px 3px 3px;
}


.block_movie-showing {
	display:block;
}
.block_movie-showing-poster {
	float:left;
}
.block_thumbnail-poster {
	background-color: #242424;
    float: left;
    position: relative;
    width: 244px;
}
.thumbnail_poster {
	background-color: #060606;
    float: left;
    margin:10px 0 0 0;
    width: 244px;
	border-radius:5px ;
	-moz-border-radius: 5px ;
	-webkit-border-radius:5px ;
}
.thumbnail_img-poster {
	padding-top: 4px;
    text-align: center;
    width: 244px;
}
.thumbnail_detail-poster {
	background-color: #373737;
    overflow: hidden;
}
.dashed {
	border-bottom:1px dashed #5b5b5b;
	padding:5px;
	font-size:12px;	
}
.thumbnail_officialwebsite-poster {
    background-color: #060606;
    overflow: hidden;
	border-radius: 5px ;
	-moz-border-radius:5px ;
	-webkit-border-radius: 5px ;
	padding:5px;
}
a.officialwebsite_goto {
	color:#dbdbdb;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
}
a.officialwebsite_goto img { 
	padding-top:2px;
	position:absolute;
}
.block_movie-showing-desc {
	float:right;
	margin: 12px 0 0;
	width:75%;
}
.block_movie-youtube {
	display:block;
	margin-right: 5px;
 
}
.block_movie-youtube iframe {
	border:none !important;
}
.block_movie-detail {
	display:block;
	padding:20px 0;
	color:#dbdbdb;
}
.block_movie-share {
	float:right;	
	margin-right: 5px;
}
.sub_kratoo-icon {
	background:url(http://ptcdn.info/movies/sub_kratoo-icon.png) left no-repeat;
	padding-left:20px;
	margin-left:-38px;
}
.detail-poster-bullet {
	margin:0;
}
.detail-poster-bullet li.title {
	background:url(http://ptcdn.info/movies/sub_kratoo-icon.png) left bottom no-repeat;
	text-indent:20px;
}
.detail-poster-bullet li{
	text-indent:20px;
}

/* ########## START Movie box ########## */
.sidebar-movie-title-img {
	padding: 0 0 0 12px;
}
.sidebar-movie {
	width:298px;
	margin:0 0 0 12px;
	border-left:1px solid #6c73a6;
	border-bottom:1px solid #6c73a6;
	border-right:1px solid #6c73a6;
}
.sidebar-movie-item {
	border-bottom: 1px dotted #4c4982
}
.sidebar-showall {
	margin: -4px 0 0;
	height: 20px;
	background-color: #242424;
	border-left: 1px solid #6c73a6; 
	border-bottom: 1px solid #6c73a6;   
	border-right: 1px solid #6c73a6;
	padding: 5px 5px 2px 0px;	
}
.sidebar-showall h3 {
	color: #E5C700;
    font-size: 1.143em;
    font-weight: normal;
    position: relative;
}
.sidebar-showall span.readmore {
	position: absolute;
    top: 0;
    right: 0;
    font-size: 0.750em;
}
.sidebar-showall a{
	color: #cfcfcf;
    text-decoration: none;	
}
.sidebar-showall a:hover {
    text-decoration: underline;
}
.movie-container {
	background-color:#242424;
	overflow:hidden;	
	height:415px;
}
.movie-show-all {	
	overflow:hidden;	
}
.movie-container:hover {
	overflow-y:auto;
}
.movie-slot {
	float:left;
	padding:10px;
	width:278px;
	position:relative;
	border-bottom: 1px solid #3a3b4e;
	line-height:20px;
}
.movie-slot:hover {
	background-color:#3f3f3f;
}
.movie-slot-poster {
	float:left;
	width:65px;
}
.movie-slot-name {
	float:left;
	width:200px;
	max-height: 38px;
    overflow: hidden;
	color:#cfcfcf;
	max-height:40px;
}
.movie-slot .rating-wrapper{
    /*bottom: 10px;
    left: 75px;
    position: absolute;*/
}
.movie-slot-viewall {
	background: #1b1b1b none repeat scroll 0 0;
    color:#cfcfcf !important;
    display: block;
    font-size: 0.929em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;	
}
/*########## END Movie box ########## */
/*########## START Star Rating box ##########*/
.wrap-movie-star-point {
	position:relative;
	z-index:1;
	text-align:center;
}
.movie-give-point {
	margin:10px 0 0 0;
	padding-top:2px;
	   opacity:0.7;
}
.movie-current-point {
	 opacity:0.7;
	 margin:0 0 10px 0;
}
/* mouse hover */
.movie-modal {
	position:absolute;
	background:#000;
	z-index:2;
	width:100%;
	height:100%;
	overflow:hidden;
}
.movie-modal-btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #222 !important;
  font-size: 12px;
  background: #ffdc52 ;
  padding: 5px 10px 5px 10px;
  border: solid #eee 1px;
  text-decoration: none;
}
.movie-modal-btn:hover {
	text-decoration: none;
	background: #ffe88b;
}

/*########## END Star Rating box ##########*/
/* ########## START Media query ########## */
/* Ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
.block_header-img {
	width:100%;
}
.block_header-img img {
	display:block;
    margin:0 auto;
}

.block_movie {
	float: left;
	width:100%;
	position: relative;
}
.block_subtitle {
	float: left;
	height: 40px;
	width:99.9%;
	background:url(http://ptcdn.info/movies/sub_background.gif) repeat;
	border-left: #474747 1px solid;
	border-right: #474747 1px solid;
	position:relative;
}
.block_tab {
  background-color: #242424;
  border-left: 1px solid #474747;
  border-right: 1px solid #474747;
  float: left;
  padding: 0;
}
.block_tab .b-block-tabbar .tabbar-item {
	color: #4c4c4c;
    cursor: pointer;
    float: left;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
}
.thumbnail {
  float: left;
  margin:1%;
}
.block_tab-thumb {
	height: 242px;
	margin: 10px 15px 0 0;
}
.block_tab-thumb-title {
  font-size: 15px;
  line-height:25px;
}
.block-tab-name {
	color: #dbdbdb;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}
.thumbnail_officialwebsite-poster {
	font-size:18px;
	padding:20px 5px;
}

.thumbnail_button {
  padding-top: 5px;
}
.subtitle_3 {
	font-size:18px;
	padding-bottom:5px;
}
 .block_movie-showing-desc {
	float:right;
	margin: 12px 0 0;
	width:770px;
}
.block_movie-desc {
    width: 98.2%;
}
.block_movie-detail {
	font-size:15px;
	line-height:15px;
}
.block_movie-detail strong {
	font-size:24px;
	font-weight:bold;
	padding:10px 0;
}
.block_movie-detail p {
	padding:10px 0;
	font-size:20px;
	line-height:25px;
}
.sub_kratoo-icon {
    font-size: 18px;
}
.block_subtitle-sub2 {
	 padding: 10px 0 10px 20px;
}
.list-movie-star-wrapper {
	width:100%;
}
 
.thumbnail_detail-th {
    font-size: 18px;
    color: #dbdbdb;
    word-wrap: break-word;
	overflow:hidden;
}
.thumbnail_detail-eng {
    font-size: 18px;
    color: #dbdbdb;
    word-wrap: break-word;
    padding: 3px 0;
    overflow: hidden;
}
.thumbnail_detail-day {
  font-size: 18px;
  color: #cfcfcf;
  padding-top:10px;
}
}
/* Desktop screen 1080px */
@media screen and (max-width: 1080px) {
.block_thumbnail {
	width:1080px;
    }
.thumbnail {
	height: 410px;
	float: left;
	width: 178px;
	margin: 20px 15px 5px 17px;
	text-decoration:none;
	cursor:pointer;
}
 
.block_tab .b-block-tabbar .tabbar-item {
	color: #4c4c4c;
    cursor: pointer;
    float: left;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
	background:#eee;
}
}
/* Desktop screen 1080px */
@media screen and (min-width: 1081px) {
.thumbnail {
	height: 410px;
	float: left;
	width: 178px;
	margin: 20px 31px 5px 31px;
	text-decoration:none;
	cursor:pointer;
}
}
@media screen and (min-width: 1081px)
and (max-width : 1199px) {
.block_tab .b-block-tabbar .tabbar-item {
	color: #4c4c4c;
    cursor: pointer;
    float: left;
    padding: 0 16px;
    position: relative;
    text-decoration: none;
	background:#eee;
}
	
}
/* ########## END Media query ########## */
/* ########## START ปุ่มดูโปรแกรมภาพยนตร์ทั้งหมด ########## */
a.btn-backto-allmovie {
	float:right;
	padding: 5px 0 0 1%;
	background:url(http://ptcdn.info/movies/btn_backto_allmovie.png) no-repeat;
	width:191px;
	height:33px;
	margin-top:5px;
}
a.btn-backto-allmovie:hover {
	background-position:0 -34px;
}
/* ########## END ปุ่มดูโปรแกรมภาพยนตร์ทั้งหมด ########## */
 
.block-tab-name {
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
/* ########## START Search (autocomplete) ########## */
.movie-ui-autocomplete.movie-ui-widget-content {
	background:#eee;
	margin: 0;
	list-style: none;
	border:1px solid #000;
	padding:0 !important;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.movie-ui-widget-content li {
	background:#eee;	
	list-style: none;
	border-bottom:1px solid #e0e0e0;
	text-overflow: ellipsis;
    	white-space: nowrap;
	overflow: hidden;
	color:#242424;
}
.movie-ui-widget-content li:hover {
	margin:0;
	cursor:pointer;
	color:#242424 !important;
}
.movie-ui-widget-content li a {
	color:#242424;
}
.movie-ui-widget-content li a:hover {
	color:#111;
}
.ui-state-hover {
	border:none;
	color: #781d87;
	background:#fff;
	display:block;
	padding:5px;
}
.ui-state-hover a, .ui-state-hover a:hover {
	color: #781d87;
	text-decoration: none;
	padding:5px;
}
/* ########## END Search (autocomplete) ########## */




