@media (min-width: 1024px) {.wabtn_container {display:none;}}}.wabtn_container {margin-bottom: 10px;}
.wabtn {
	background-image: url(images/whatsapp.png);
	border: 1px solid rgba(0,0,0,.1);
	display: inline-block!important;
	position: relative;
	cursor: pointer;
	border-radius: 2px;
	background-color: #5cbe4a;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding: 3px 3px 3px 22px;
	background-size: 16px;
	font-family: Arial,sans-serif;
	letter-spacing: .4px;
	cursor: pointer;
	font-weight: 400;
	text-transform: none;
	color: #fff!important;
	line-height: 1.2;
	text-decoration: none;
	text-align: left;
	font-size: 12px;
}

