aside.widget_polls-widget{
	border:2px solid #ef7f19 !important;
    box-sizing: border-box;
    padding: 2em;
    width: 100%;
    margin: 0;
    position:relative;
}

aside.widget_polls-widget .widgettitle{
    position: absolute;
    top: -.5em;
    left: 50%;
    width: 10em !important;
    height: 1em;
    margin-left: -5em !important;
    background-color: #fff !important;
    text-align: center;
    z-index: 1;
    display: block;
    overflow:hidden;
    text-indent:-1000px;
}

aside.widget_polls-widget:after{
	content: "Encuestas";
	display:block;
	width:100%;
	position:absolute;
	z-index:2;
	top:-.6em;
	left:0;
	text-align:center;
	color:#ef7f19;
	font-weight:bold;
	font-size:1.4em;
}

aside.widget_polls-widget .Buttons{
	color:#000 !important;
}

aside.widget_polls-widget .Buttons:hover{
	color:#fff !important;
}

aside div.wp-polls-ans{
	padding-bottom:2em;
}

.vc_sidebar.widget-area .wpb_content_element:last-child aside.widget{
    margin-bottom:30px;
}

.widget.xt_news .news-list .has-background{
    max-height:16em;
}

.home #inner_wrapper .vc_row .vc_col-sm-4 aside.widget {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #eaeaea;
}

.home #inner_wrapper .vc_row .vc_col-sm-4 aside.widget h3.widgettitle, .home #inner_wrapper .vc_row .vc_col-sm-4 aside.widget h2.widgettitle{
    color:#ee7f18 !important;
.TS_1.ob-vertical-strip-layout .ob-rec-source { clear: both; }

.TS_1.ob-widget .ob-rec-image-container .ob-image-ratio { padding-top: 0; }

    font-weight: lighter !important;
    font-size: 1.375rem !important;
}

.TS_1.ob-widget .ob-rec-image-container img.ob-rec-image {
    width: 25%;
    position: initial;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    opacity: 0;
    transition: all 750ms;
    float: left;
    margin-right:15px;
}

.TS_1.ob-vertical-strip-layout .ob-rec-text {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
color: #181818;
line-height: 27px; }