/*
______________________________________________________________________________________________________

Desktop version layout - place your custom code here */

.bonusText {
  position: absolute;
  top:0;
  left:0;
  background: #343399;
  color: white;
  padding: 5px 10px;
  min-width: 50px;
  font-size: 0.6vw;
  line-height: 0.6vw;
  text-transform: uppercase;
}

#product-loop {
  margin-bottom: 30px;
}

#infscr-loading {
  z-index: 10;
  position: absolute;
  bottom: -30px;
  text-align: center;
  width: 100%;
}

[data-cart]:after {
  content: attr(data-cart);
  background: #ffffff;
  color: #000000;
  font-weight: bold;
  border-radius: 45px;
  width: 15px;
  position: absolute;
  height: 15px;
  line-height: 15px;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 5px;  
}

.final_countdown { color: #ffffff; font-size: 14px; }


@font-face {
  font-family: 'Jenna Sue';
  src: url('https://cdn.shopify.com/s/files/1/1292/1989/files/JennaSue.woff?4637510907340766226') format('woff'), /* Pretty Modern Browsers */
    url('https://cdn.shopify.com/s/files/1/1292/1989/files/JennaSue.ttf?4637510907340766226')  format('truetype'), /* Safari, Android, iOS */
    url('https://cdn.shopify.com/s/files/1/1292/1989/files/JennaSue.otf?4637510907340766226') format('otf'), /* Legacy iOS */
    url('https://cdn.shopify.com/s/files/1/1292/1989/files/JennaSue.eot?13363508577089390654') format('embedded-opentype'); /* Legacy iOS */
}

#logo img {
  max-width: 320px;
  width: 100%;
}

#item_count { font-size: 18px; }

.newsletter_signup { 
  background-color: #343399;
  padding: 10px;
}

.newsletter_tag {
  color: white; 
  font-family: 'Jenna Sue';
  font-size: 32px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 0px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number] { 
  border: 1px solid #343399; 
}

#footer { 
  color: #ffffff; 
  text-align: left;
  min-height: 230px; 
  font-size: 14px;
}

#footer ul {
  list-style: none;
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

#footer ul li {
  display: block;
  color: #ffffff;
}

#footer ul li a {
  color: #ffffff;
}

#footer h3 { 
  color: #ffffff; 
  font-family: 'Jenna Sue';
  font-size: 32px;
  font-weight: 300;
}

.footer_social {
  margin: 0 !important;
  padding: 0 !important;
}

.footer_social li { 
  display: inline-block !important; 
  margin: 0px 15px 0px 0px!important;  
  text-align: center; 
}

.custom_footer { 
  color: #ffffff; 
  background-color: #434343;
}

.custom_footer a { 
  color: #ffffff; 
}

#footer_info {
  text-transform: uppercase;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  font-size: 14px;
}

#footer_info p { font-size: 13px; }

.credit p { 
  margin-bottom: 35px;
}

.bottom_nav {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  float: right;
  text-align: right;
}

.bottom_nav ul li {
  list-style: none;
  display: inline;
  margin: 0px 10px;
}

.bottom_nav ul li a {
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
}

#page {
  margin-bottom: 10px;
}

#page h1 { 
  text-align: left; 
  border-bottom: 0;
}

.shop_page ul {
  text-align: center;
}

.shop_page ul li {
  max-width: 360px;
  text-align: center;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.custom_button {
  background-color: #000000;
  padding: 10px;
  display: block;
  width: 240px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

a.custom_button{ color: #ffffff; }

.subcategories_page ul {
  text-align: left;
}

.subcategories_page ul li {
  max-width: 378px;
  text-align: center;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 0px 0px;
}

.bottom_row {
  max-width: 1200px;
  margin: 0 auto;
}

.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul, .dl-menuwrapper button, .dl-menuwrapper li.dl-back > a {
  background-color: #07174f;
  color: white;
}

.dl-trigger i { 
  color: white;
}

.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after { 
  color: white;
  line-height: 40px;
}

.entry_title {
  margin-left: 15px;
}

#recently-viewed-products {
  margin-top: 20px;
}

.cart_remove_button {
  line-height: 20px;
  display: block;
  width: 25px;
  height: 25px;
  color: white;
  border: .125rem solid #e02a77;
  border-radius: 100%;
  background: #e02a77;
  margin: 0 auto;
  font-weight: 900;
  font-size: 18px;
  transition: none;

  margin: 0;
  margin-right: 0;
  margin-left: auto;
}

.cart_remove_button:hover {
  color: #e02a77;
  border: .125rem solid #e02a77;
  background: #fff;
  transition: none;
}

td, th { 
  border: 0;
}

#order_details td, #order_details th {
  border: 1px solid #000;
}

.high_light { 
  background: #fff9c0; 
}

#tabs {
  border: 0;
  font-family: inherit;
}

.animal_tagline {
  font-family: 'Jenna Sue';
  font-weight: 300;
  text-align: center;
  font-size: 34px;
  margin-top: 50px;
}

.ui-tabs .ui-tabs-nav {
  border: 0px solid #aaaaaa;
  background: #fff;
  text-align: center;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  display: block;
  width: 100%;
  color: #ffffff;
  float: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  width: 265px;
  background: #000000;
  color: #ffffff;
  display: inline-block;
  border: 0;
  border-radius: 0;
  float: none !important;
}

.ui-tabs .ui-tabs-nav li {
  width: 265px;
  background: #000000;
  color: #ffffff;
  display: inline-block !important;
  border: 0;
  border-radius: 0;
  margin:10px 10px 10px 0px !important;
  float: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  width: 265px;
  background: #000000;
  color: #ffffff;
  display: block;
  border: 0;
  border-radius: 0;
}

#mobile-product .flex-next:before { color: #07174f; }
#mobile-product .flex-prev:before { color: #07174f; }

.call_to_action {
  background-color: #343399;
  padding: 10px;
  display: block;
  width: 240px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

a.call_to_action { color: #ffffff; }

.blog_nav {
  text-align: center;
  display: block;
  margin-bottom: -10px;
}

.blog_nav li {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  width: 125px;
}

.blog_nav li a {
  color: black;
}

.blog_nav_wrapper {
  margin-bottom: 40px;
}

.blog_logo {
  text-align: center;
}

.blog_logo img {
  max-width: 300px;
}

.blog_redirect {
  margin-top: 0px;
}

.article_img_first {
  max-width: 525px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  max-height: 510px;
  overflow: hidden;
}

.article_body_first {
  max-width: 580px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.article_body_first h1 {
  text-align: center !important;
}

.article_img {
  max-width: 230px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.article_body {
  max-width: 600px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

a.read_more {
  text-decoration: underline;
  color: #e02a77;
  display: inline-block;
}

.article_title {
  text-align: center !important;
}

#blog-sidebar h2 {
  font-family: 'Jenna Sue';
  font-size: 34px;
  font-weight: 300;
}

.blog_user {
  margin-top: 20px;
}

.blog_user img {
  width: 50px; 
  height: 50px; 
  border-radius: 100%;
  vertical-align: top;
  display: inline-block;
}

.blog_user descrip {
  font-family: 'Jenna Sue';
  font-size: 30px;
  font-weight: 300;
}

.blog_user span {
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
}

.blog_user publish_date {
  color: gray;
}

.article_body_first .share-icons {
  text-align: center !important;
}

.shop_attributes th {
  display: block;  
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 275px;
}

.product-info-inner h3 {
  font-family: 'Josefin Sans';
  text-transform: none;
}

#product-loop .product-index {
  display: inline-block;
}

#sidebar { max-width: 170px; }

#collection_add_to_cart {
  background-color: #343399;
  padding: 5px;
  display: block;
  width: 170px !important;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 16px;
}

#collection_add_to_cart:hover {
  background-color: #343399;
}

#filter_mob_button {
  color: #ffffff;
  background-color: #000000;
  font-size: 18px;
}

#subs-container input {
  padding: 5px 0px;
  margin-bottom: 7px;
}

.tgw_block {
  width: 170px;
  text-align: center;
  margin-bottom: 40px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.add-to-cart-bar {
  display: none;
  color: #111;
  border-top: 3px solid #000000;
  background-color: #f1f1f1;
  padding: 10px 20px;
}

.add-to-cart-bar:before {
  font-family: FontAwesome;
  top: .625rem;
  left: 1.5rem;
  display: inline-block;
  content: '\f02e';
  margin-right: 10px;
}

.cart-btn {
  display: block;
  float: right;
  color: #ffffff !important;
  border: none #ccc;
  border-radius: 0;
  background: #c9b0d0;
  font-size: 12px;
  padding: 0px 5px;
}

.center_head {
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.icn { display: none; }

#tabs-2 ttl { 
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  width: 270px;
  text-align: right;
  margin-right: 10px;
}

#tabs-2 value { 
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  width: 70%;
  margin-bottom: 20px;
}

.cart-qty {
  max-width: 50px; 
  text-align: center; 
  margin: 0 auto 10px; 
}

/*
______________________________________________________________________________________________

Mobile version */

@media screen and (max-width: 1220px) {
  #tabs-2 ttl { 
    text-align: left;
  }
}

@media handheld, only screen and (max-width: 767px) {

  .examplecontainer {}

  body {}

}

@media screen and (max-width: 800px) {

  .bottom_nav {
    float: none;
    width: 100%;
    text-align: center;
  }

  #footer_info { 
    margin: 0px 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .article_img_first { display: none; }

  #sidebar {
    max-width: 100%;
  }

}

@media screen and (max-width: 500px) {

  #footer { 
    text-align: center;
    margin: 0px auto;
    width: 90%;
  }

  .custom_footer{ 
    text-align: center;
  }

  .bottom_nav {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    float: none;
    text-align: center;
    margin: 20px 0px 10px 0px;
  }

  .entry_title {
    margin-left: 5px;
  }

  #order_details td, #order_details th {
    border: 0;
  }

  .blog_nav li {
    display: block;
    margin: 0 auto;
  }

  .shop_attributes th {
    text-align: center;
  }

  #sidebar {
    max-width: 100%;
  }

  .tgw_block {
    margin: 0px auto 20px;
    display: block;
  }

  #b_t_s {
    margin: 5px auto;
  }

}

/*
_______________________________

Provide higher res assets for higher resolution mobile screens */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 



}