.fs-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.instagram {
  text-align: center;
}

.instagram div.fs-has-links {
  text-indent: -9999px;
  position: static;
  font-weight: 500;
}

.instagram .fs-has-links::after {
  padding:  5px 7.5px;
  border: 1px solid #fff;
  color: #fff;
  content: "SHOP IT";
  text-indent: 0;
  display: block;
  font-size: 10pt;
  margin: 10px;
}

.instagram .fs-wrapper { 
  height: auto;
  position: inherit;
} 

.instagram .fs-entry-container {
  width: 16.6666666666% !important;
  padding-top: 16.6666666666% !important;
}

/*
.instagram .fs-slider-next-button {
  display: none !important; 
}

.instagram .fs-slider-prev-button {
  display: none !important; 
}
*/

.instagram .fs-desktop .fs-timeline-entry div.fs-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  transition: opacity .25s;
}

.instagram .fs-desktop .fs-timeline-entry .fs-text-container:hover {
  opacity: 0.7;
}

.instagram .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title {
  font-family:Times New Roman, serif;
  font-style:italic;
  font-weight:normal;
}

.instagram div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text {
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style:normal;
  font-weight:bold;
}

.instagram .fs-wrapper div.fs-text-container * {
  color:#fff;
}

.instagram .fs-wrapper div.fs-text-container {
  background-color: #343399;
  margin: 0px;
}

.instagram div.fs-entry-date {
  display:none;
}

.instagram div.fs-entry-title {
  display:none;
}

.instagram .fs-wrapper div.fs-timeline-entry {
  margin: 1px;
}

.instagram .fa-tag {
  display: none; 
}

@media(max-width: 500px) {
  .instagram .fs-mobile div.fs-entry-container, .fs-desktop div.fs-entry-container {
    width: 50% !important;
    padding-top: calc(100% / 1.5) !important;
  }
}










.lookbook div.fs-has-links {
  text-indent: -9999px;
  position: static;
  font-weight: 500;
}

.lookbook .fs-has-links::after {
  padding:  5px 7.5px;
  border: 1px solid rgb(255, 255, 255);
  color:rgb(255, 255, 255);
  content: "SHOP IT";
  text-indent: 0;
  display: block;
  font-size: 10pt;
  margin: 10px;
}

.lookbook .fs-wrapper {
  height: auto;
  position: inherit;
}

.lookbook .fs-entry-container {
  height: 300px !important; /* height: auto !important; */  
  width: 24.67% !important;
  padding-top: 10% !important;
}

/*
.lookbook .fs-slider-next-button {
  right: 11%;
  height: 60px;
  width: 60px;
  margin: auto;
  border-radius: 60px;
  border: 1px solid #c9b0d0;
  background: white;
  color: #c9b0d0;
} 
 
.lookbook .fs-slider-prev-button {
  left: 11%;
  height: 60px;
  width: 60px;
  margin: auto;
  border-radius: 60px;
  border: 1px solid #c9b0d0;
  background: white;
  color: #c9b0d0; 
}
*/

@media(max-width: 1024px) {
  .lookbook .fs-entry-container {
    width: 24.67% !important;
  }
}

@media(max-width: 768px) {
  .lookbook .fs-mobile div.fs-entry-container, .fs-desktop div.fs-entry-container {
    width: 33% !important;
  }
}

@media(max-width: 500px) {
  .lookbook .fs-mobile div.fs-entry-container, .fs-desktop div.fs-entry-container {
    width: 50% !important;
  }
}

.fs-arrow {
  stroke-width: 2px;
  stroke: #343399;
}

.lookbook .fs-desktop .fs-timeline-entry div.fs-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  transition: opacity .25s;
}

.lookbook .fs-desktop .fs-timeline-entry .fs-text-container:hover {
  opacity: 0.7;
}

.lookbook .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title {
  font-family:Times New Roman, serif;
  font-style:italic;
  font-weight:normal;
}

.lookbook div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text {
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style:normal;font-weight:bold;
}

.lookbook .fs-post-info {
  display: none;
}

.lookbook .fs-service-icon {
  display: none; 
}

.lookbook .fs-slider-next-button, .fs-slider-prev-button {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4); 
}

.lookbook .fs-wrapper div.fs-text-container * {
  color:rgb(255, 255, 255);
}

.lookbook .fs-wrapper div.fs-text-container {
  background-color: #343399;
  margin: 0px;
}

.lookbook div.fs-entry-date {
  display:none;
}

.lookbook div.fs-entry-title {
  display:none;
}

.lookbook .fs-wrapper div.fs-timeline-entry { 
  margin: 2px;
}

.lookbook .fs-timeline-text {
  display: block;
  border: 1px solid white;
}

.lookbook .fs-has-links {
  display: none !important; 
}