/* All stars */
.spr-icon {
  background-image: url("https://cdn.shopify.com/s/files/1/1292/1989/files/heart3.jpg?4016352683316934926");
  background-position: 0 0;
  display: inline-block;
  position: static;
  top: 0;
  width: 18px !important;
  height: 18px !important;
  text-indent: -30000px;
}

/* Empty star */
/* Shown in New Review form as unselected */
.spr-icon.spr-icon-star-empty,
.spr-icon.spr-icon.spr-icon-star-empty {
  background-position: 0 0;
  opacity: 1;
}

/* Empty star on hover */
/* Displayed when user hovers mouse over an empty star in the review form */
.spr-icon.spr-icon-star-empty.spr-icon-star-hover {
  background-position: 0 -18px;
}

/* Full star */
.spr-icon.spr-icon-star {
  background-position: 0 -36px;
}

/* Half star */
/* Displayed when a rating is a half value (3.5 stars) */
.spr-icon.spr-icon-star-half {
  background-position: 0 -54px;
  opacity: 1;
}

.spr-summary-caption { display: block; margin-bottom: 10px; }