.showAt980 { display: none !important; }
.showAt740 { display: none !important; }
.showAt500 { display: none !important; }

@media(max-width: 980px) { .showAt980 { display: block !important; } .hideAt980 { display: none !important; } }
@media(max-width: 740px) { .showAt740 { display: block !important; } .hideAt740 { display: none !important; } }
@media(max-width: 500px) { .showAt500 { display: block !important; } .hideAt500 { display: none !important; } }


@media screen and (min-width: 1220px) {

  #product-loop .product-index, #article-loop .article-index { width: 381px; }
  #product-loop, #article-loop { width: 1175px; }


  #four-columns #product-loop .product-index, #four-per-row #product-loop .product-index { width: 230px; }
  #four-columns #product-loop { width: 875px;}

  .subcategories_page ul li { max-width: 378px }
}

/* Tablet and smaller (devices and browsers) */

@media screen and (min-width: 980px) and (max-width: 1220px ) {

  #product-loop .product-index, #article-loop .article-index { width: 302px; }
  #product-loop, #article-loop { width: 940px; }


  #four-columns #product-loop .product-index, #four-per-row #product-loop .product-index { width: 180px; }
  #four-columns #product-loop { width: 700px;}  

  #sidebar { max-width: 140px; }

  .subcategories_page ul li { max-width: 300px }

}

@media screen and (max-width: 980px) and (min-width: 740px) {

  #product-loop .product-index, #article-loop .article-index { width: 225px; }    
  #product-loop, #article-loop { width: 705px; } 

  #four-columns #product-loop .product-index, #four-per-row #product-loop .product-index { width: 215px; }
  #four-columns #product-loop { width: 705px;}   


  /* Globals */

  ul#social-icons, ul#social-icons li { text-align: center; }  
  ul#cart {  }
  ul#cart, ul#cart li { text-align: center; }

  #hello { width: 100%; }

  .quick-shop { width: 100%; }


  .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
  #sidebar { display: none; text-align: center; }
  #sidebar.open { display: block; }
  #sidebar ul li { padding: 5px 0; } 

  .flex-caption { display: none; }

  .subcategories_page ul li { max-width: 340px }

}


/* All Mobile Sizes (devices and browser) */

@media screen and (max-width: 740px) and (min-width: 500px) { 


  ul#main-nav { display: none; }
  .dl-menuwrapper { display: block! important; }

  #product-loop .product-index, #article-loop .article-index { width: 225px; }
  #product-loop, #article-loop { width: 470px; }

  #four-columns #product-loop .product-index, #four-per-row #product-loop .product-index { width: 210px; }
  #four-columns #product-loop { width: 470px;}   


  /* Globals */

  ul#social-icons, ul#social-icons li { text-align: center; margin-bottom: 0;}  
  ul#cart {  }
  ul#cart, ul#cart li { text-align: right; }

  ul#cart li.seeks { display: none; }
  ul#cart li.seeks-mobile { display: inline; padding-left: 0px; }
  #hello { width: 100%; }

  .product-modal { display: none; }
  ul#cart li.cart-overview:hover #crt { display: none! important; }

  .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
  #sidebar { display: none; text-align: center; }
  #sidebar.open { display: block; }
  #sidebar ul li { padding: 5px 0; }

  .flex-caption { display: none; }

  #product-photos { display: none; } 
  #mobile-product { margin-bottom: 20px; display: block; }

  #page-sidebar { margin-top: 20px; text-align: center; }

  #looked-at { display: none; }  

  #cart-notes { display: none; }

  #product-description {
    text-align: center;
  }

  .add {
    margin: 20px auto;
  }

  .customNavigation { display: ; }

  .subcategories_page ul li { max-width: 100% }

}


@media screen and (max-width: 500px) {

  ul#main-nav { display: none; }
  .dl-menuwrapper { display: block! important; }  

  #product-loop .product-index, #article-loop .article-index { width: 100%; margin-left: 0; margin-right: 0; }
  #product-loop, #article-loop { width: 294px; }

  #four-columns #product-loop .product-index, #four-per-row #product-loop .product-index { width: 47%; margin-left: 0; margin-right: 0; height: 330px; }
  #four-columns #product-loop { width: 294px;}   


  /* Globals */

  ul#social-icons, ul#social-icons li { text-align: center; margin-bottom:0; }  

  ul#cart li.cart-overview:hover #crt { display: none! important; }


  ul#cart li.seeks { display: none; }
  ul#cart li.seeks-mobile { display: inline; }
  #hello { width: 100%; }  

  .product-modal { display: none; }

  .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
  #sidebar { display: none; text-align: center; }
  #sidebar.open { display: block; }  
  #sidebar ul li { padding: 5px 0; }

  .flex-caption { display: none; }

  #product-photos { display: none; }  
  #mobile-product { margin-bottom: 20px; display: block; }

  #page-sidebar { margin-top: 20px; text-align: center; }

  #looked-at { display: none; }
  #cart-notes { display: none; }

  #subscribe_popup {
    width: 100%;
  }


  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; margin: 20px 0;}

  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding: 10px; 
    text-align: center;
  }


  #shopping-cart table input { margin-top: 20px! important; }

  .cart-item { display: block; }
  .cart-image, .cart-title { display: block; width: 100%;}

  #basket-right p { text-align: center; }
  #basket-right h4 { font-weight: normal; text-align: center; margin: 20px 0 30px; }

  #shopping-cart table td:nth-of-type(2):before { content: ""; }
  #shopping-cart table td:nth-of-type(3):before { content: "Quantity: "; }
  #shopping-cart table td:nth-of-type(4):before { content: ""; }
  #shopping-cart table td:nth-of-type(4) p { display: block !important; }
  #shopping-cart table td:nth-of-type(5):before { content: "Total: "; display: inline-block; }
  #shopping-cart table td:nth-of-type(5) { font-weight: bold; }
  #shopping-cart table p { display: inline-block; margin: 0; }
  #shopping-cart table input { display: inline-block; margin: 0 !important; }
  #shopping-cart table .cart-title { margin-top: 10px; }

  #product-description {
    text-align: center;
  }

  .add {
    margin: 20px auto;
  }

  .customNavigation { display: ; }

  .subcategories_page ul li { max-width: 100% }
  .product-info-inner h3 { height: 50px; }
}
