/*
Stylesheet
*/

/* !Reset Box-sizing */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; *behavior: url(boxsizing.htc); }

/* !Defaults */
.gridlock .row { margin-left: auto; margin-right: auto; width: 960px; /* Fallback */ }
.gridlock .row:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.gridlock .row .row { margin-left: -1.0416666666666667%; margin-right: -1.0416666666666667%; width: 102.0833333333333334%; }
.gridlock .row [class*="desktop-"] { float: left; margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }
.gridlock .row [class*="desktop-"].right { float: right; }
.gridlock .row [class*="desktop-"].padded { margin-left: 0; margin-right: 0; padding-left: 1.0416666666666667%; padding-right: 1.0416666666666667%; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; *behavior: none; }

.fl { float: left; }
.fr { float: right; }

.mobile-only { display: none; }

/* !Rows, Widest to Thinest */	
@media screen and (min-width: 1220px) {
  .gridlock .row { width: 1200px; }
}
@media screen and (max-width: 1220px) {
  .gridlock .row { width: 960px; }
}
@media screen and (max-width: 980px) {
  .gridlock .row { width: 720px; }
}
@media screen and (max-width: 740px) {
  .gridlock .row { width: 480px; }
}
@media screen and (max-width: 500px) {
  .gridlock .row { width: 300px; }
}

/* !Desktop - Default, 12 column, 1220 + 960 (min 980), IE Standard */
.gridlock .row .desktop-1  { width: 6.25%; }
.gridlock .row .desktop-2  { width: 14.5833333333333333%; }
.gridlock .row .desktop-3  { width: 22.9166666666666667%; }
.gridlock .row .desktop-4  { width: 31.25%; }
.gridlock .row .desktop-5  { width: 39.5833333333333333%; }
.gridlock .row .desktop-6  { width: 47.9166666666666667%; }
.gridlock .row .desktop-7  { width: 56.25%; }
.gridlock .row .desktop-8  { width: 64.5833333333333333%; }
.gridlock .row .desktop-9  { width: 72.9166666666666667%; }
.gridlock .row .desktop-10 { width: 81.25%; }
.gridlock .row .desktop-11 { width: 89.5833333333333333%; }
.gridlock .row .desktop-12 { width: 97.9166666666666667%; }

/* Push Cells */
.gridlock .row .desktop-push-1  { margin-left: 9.375%; }
.gridlock .row .desktop-push-2  { margin-left: 17.7083333333333333%; }
.gridlock .row .desktop-push-3  { margin-left: 26.0416666666666667%; }
.gridlock .row .desktop-push-4  { margin-left: 34.375%; }
.gridlock .row .desktop-push-5  { margin-left: 42.7083333333333334%; }
.gridlock .row .desktop-push-6  { margin-left: 51.0416666666666667%; }
.gridlock .row .desktop-push-7  { margin-left: 59.375%; }
.gridlock .row .desktop-push-8  { margin-left: 67.7083333333334%; }
.gridlock .row .desktop-push-9  { margin-left: 76.0416666666668%; }
.gridlock .row .desktop-push-10 { margin-left: 84.375%; }
.gridlock .row .desktop-push-11 { margin-left: 92.7083333333335%; }

/* Center Cells */
.gridlock .row [class*="desktop-"].center { margin-left: auto; margin-right: auto; }

/* !Generic, fractions */
.gridlock .row .desktop-third { width: 31.25%; }
.gridlock .row .desktop-half { width: 47.9166666666666667%; }
.gridlock .row .desktop-full { width: 97.9166666666666667%; }

.gridlock .row .desktop-push-third { margin-left: 34.375%; }
.gridlock .row .desktop-push-half { margin-left: 51.0416666666666667%; }

/* !Desktop - Max, 12 column, 1200 (min 1221) */
@media screen and (min-width: 1221px) {
  .gridlock .row .max-1  { width: 6.25%; }
  .gridlock .row .max-2  { width: 14.5833333333333333%; }
  .gridlock .row .max-3  { width: 22.9166666666666667%; }
  .gridlock .row .max-4  { width: 31.25%; }
  .gridlock .row .max-5  { width: 39.5833333333333333%; }
  .gridlock .row .max-6  { width: 47.9166666666666667%; }
  .gridlock .row .max-7  { width: 56.25%; }
  .gridlock .row .max-8  { width: 64.5833333333333333%; }
  .gridlock .row .max-9  { width: 72.9166666666666667%; }
  .gridlock .row .max-10 { width: 81.25%; }
  .gridlock .row .max-11 { width: 89.5833333333333333%; }
  .gridlock .row .max-12 { width: 97.9166666666666667%; }

  /* Push Cells */
  .gridlock .row .max-push-1  { margin-left: 9.375%; }
  .gridlock .row .max-push-2  { margin-left: 17.7083333333333333%; }
  .gridlock .row .max-push-3  { margin-left: 26.0416666666666667%; }
  .gridlock .row .max-push-4  { margin-left: 34.375%; }
  .gridlock .row .max-push-5  { margin-left: 42.7083333333333334%; }
  .gridlock .row .max-push-6  { margin-left: 51.0416666666666667%; }
  .gridlock .row .max-push-7  { margin-left: 59.375%; }
  .gridlock .row .max-push-8  { margin-left: 67.7083333333334%; }
  .gridlock .row .max-push-9  { margin-left: 76.0416666666668%; }
  .gridlock .row .max-push-10 { margin-left: 84.375%; }
  .gridlock .row .max-push-11 { margin-left: 92.7083333333335%; }
}

/* !Tablet, 6 column, 720 (min 739) */
@media screen and (min-width: 739px) and (max-width: 980px) {
  .gridlock .row [class*="desktop-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }

  .gridlock .row .tablet-1 { width: 14.5833333333333333%; }
  .gridlock .row .tablet-2 { width: 31.25%; }
  .gridlock .row .tablet-3 { width: 47.9166666666666667%; }
  .gridlock .row .tablet-4 { width: 64.5833333333333333%; }
  .gridlock .row .tablet-5 { width: 81.25%; }
  .gridlock .row .tablet-6 { width: 97.9166666666666667%; }

  /* Push Cells */
  .gridlock .row .tablet-push-1 { margin-left: 17.7083333333333333%; }
  .gridlock .row .tablet-push-2 { margin-left: 34.375%; }
  .gridlock .row .tablet-push-3 { margin-left: 51.0416666666666667%; }
  .gridlock .row .tablet-push-4 { margin-left: 67.7083333333334%; }
  .gridlock .row .tablet-push-5 { margin-left: 84.375%; }

  /* !Generic, fractions */
  .gridlock .row .tablet-third { width: 31.25%; }
  .gridlock .row .tablet-half { width: 47.9166666666666667%; }
  .gridlock .row .tablet-full { width: 97.9166666666666667%; }

  .gridlock .row .tablet-push-third { margin-left: 34.375%; }
  .gridlock .row .tablet-push-half { margin-left: 51.0416666666666667%; }
}

/* !Mobile, 3 column, 300 + 480 (max 740) */
@media screen and (max-width: 740px) {
  .mobile-only { display: block; }
  .desktop-only { display: none !important; }
  .gridlock .row [class*="desktop-push-"], 
  .gridlock .row [class*="tablet-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }

  .gridlock .row .mobile-1 { width: 31.25%; }
  .gridlock .row .mobile-2 { width: 64.5833333333333333%; }
  .gridlock .row .mobile-3 { width: 97.9166666666666667%; }

  /* Push Cells */
  .gridlock .row .mobile-push-1 { margin-left: 34.375%; }
  .gridlock .row .mobile-push-2 { margin-left: 67.7083333333334%; }

  /* !Generic, fractions */
  .gridlock .row .mobile-third { width: 31.25%; }
  .gridlock .row .mobile-half { width: 47.9166666666666667%; }
  .gridlock .row .mobile-full { width: 97.9166666666666667%; }

  .gridlock .row .mobile-push-third { margin-left: 34.375%; }
  .gridlock .row .mobile-push-half { margin-left: 51.0416666666666667%; }
}

/* !Mobile - Min, 300 (max 500) */
@media screen and (max-width: 500px) {
  .gridlock .row .min-full { width: 97.9166666666666667%; }
}

* {
  margin: 0;
}


#ienav { display: none; }


html, body {
  height: 100%;
}

body {	
  color: #111111;
  background: #ffffff;
  
  font-size: 16px; 
  font-family:'Open Sans', sans-serif;	
  line-height: 1.6em; 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img { max-width: 100%; border: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #111111;
  font-family:'Josefin Sans', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: normal; 
  -webkit-font-smoothing: antialiased;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; color: #111111! important; }
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 14px; }

h1, h2, h3, h4, h5, h6, p, dl, hr, ol, ul, pre, table, address, fieldset { margin-bottom: 10px; }

p { font-size: 16px; margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style:italic; }
pre { font-family: "Courier New", Courier, monospace; font-size: 13px; font-weight:bold; }

p.date { }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

a { text-decoration: none; color: #343399; outline: 0;
  -webkit-transition:color .5s ease-in;
  -moz-transition:color .5s ease-in;
  -o-transition:color .5s ease-in;
  transition:color .5s ease-in;
}
a:hover { color: #111111; text-decoration: none;}
a:visited { color:#343399; text-decoration: none; }
a:focus { outline: none; }

/* .row hr, .row p, .row ul, .row ol, .row dl, .row pre, .row address, .row table, .row form {margin-bottom: 1.6em;} */

dt { font-weight: bold; }

ol { padding: 0; margin-left: 0; margin-bottom: 20px; text-indent: 0; list-style-position: inside; }
ul { padding: 0; margin: 0 0 20px 0; list-style:disc inside;}
li {  }
blockquote { font-family: Georgia, "Times New Roman", Times, sans-serif; font-size:18px; line-height: 24px; font-style:italic; padding-left:35px; color: #999; margin: 20px 0; }

input, textarea { }

hr { background:#d3d3d3; border:none; color:#d3d3d3; display:block; height:1px; margin-top: 20px; width:100%;}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* #Buttons
================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
  max-width: 100%;
  background: #000000; 
  border: none;

  -webkit-transition: background .5s ease,color .5s ease;
  -moz-transition: background .5s ease,color .5s ease;
  -o-transition: background .5s ease,color .5s ease;
  transition: background .5s ease,color .5s ease;
  border-radius: 0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  -webkit-appearance: none;

  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 15px 0;
  font-family: 'Open Sans', sans-serif; 
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #ffffff;
  background: #000000;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}




/* #Forms
================================================== */

form {
  margin-bottom: 0; }
fieldset {
  margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font: 13px 'Open Sans', sans-serif;
  color: #777;
  margin: 0;
  width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }
select {
  padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
  min-height: 60px; min-width: 300px; }
label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px; 
  margin-bottom: 5px; }
select {
  width: 220px; }
input[type="checkbox"] {
  display: inline; }
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #777;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #777;		}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #777;	}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #777;		}		


input[type=text], input[type=password], input[type=email], input[type=url], input[type=number] {
  width: 100%;
  background: #fff;
  border: 1px solid #d3d3d3;
  padding: 15px 0px;
  margin: 0px;
  margin-bottom: 20px;  
  text-indent: 17px;
  outline: none;
}

textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #d3d3d3;
  height: 200px;
  margin: 0px;
  margin-bottom: 40px;
  max-width: 100%;	
  padding: 2% 17px;
  outline: none;
}

/* =============== */
/* = Start CSS = */
/* =============== */

header { background: #000000; line-height: 30px; min-height: 50px; padding: 10px 0px; }
ul#social-icons { text-align: left; z-index: 5; position: relative; list-style: none; margin-bottom: 0px; }
ul#social-icons li { text-align: left; display: inline; padding: 0 10px 0 0; }
ul#social-icons li a { color: #ffffff; }
ul#social-icons li a:hover { color: #ffffff; }

#search { width: 300px; text-align: center; margin: 0 auto; }

#search_popup { text-align: center; }
#search_popup #q { text-indent: 0; text-align: center; }

/* ====== Quick Cart ===== */

header .icon-2x { font-size: 20px! important; }

ul#cart { text-align: right; z-index: 5; position: relative; list-style: none; margin-top: 0; font-size: 16px; margin-bottom: 0px;}
ul#cart li { display: inline; padding: 0 0 0 10px; }
ul#cart li a { color: #ffffff; }
ul#cart li a:hover { color: #ffffff; }
ul#cart li.cart-overview { position: relative; }
ul#cart li.cart-overview:hover #crt { display: block; }
ul#cart li.seeks-mobile { display: none; }

.icon-shopping-cart { margin-right: 5px; }

#crt { top: 15px; padding-top: 5px; position: absolute; right: 0; z-index: 30; width: 280px; display: none; background: #fff;  }

#crt a { }
#crt a:hover {  }

#cart-item {  border-top: 1px solid #eee; border-right: 1px solid #eee; border-left: 1px solid #eee; width: 230px; float: left; padding-top: 10px; padding-bottom: 10px;  }

.quick-cart-item { border-top: 1px solid #eee; border-right: 1px solid #eee; border-left: 1px solid #eee; width: 280px; float: left; padding-top: 10px; padding-bottom: 10px; }
.quick-cart-image { height: 80px; width: 70px; float: left;  }

.quick-cart-image img { max-width: 60px;  max-height: 80px; height: auto! important; }

.quick-cart-details { color: #fff; margin-left: 80px; line-height: 15px! important;}
.quick-cart-details p { padding: 0 10px 0 0; margin: 0! important; text-align: left; }
.quick-cart-details a { padding-left: 0! important; font-size: 12px! important; color: #fff; line-height: initial! important; height: auto! important; }

a.checkout-link { color: #ffffff! important; background: #343399; float: left; border-top: 1px solid #eee; line-height: 40px; width: 100%; clear: left; text-align: center; display: block; }   
a.checkout-link:hover { background: #343399! important; color: #ffffff! important; }


.remove_item { float: left; margin-top: 10px; }

#hello { text-align: center; }
#hello p { color: #222222; font-size: 14px; font-weight: 300; }

#logo {  position: relative; margin-top: 20px; text-align: center; padding: 0 0 10px 0; }
#logo a { font-family: 'Montserrat', sans-serif; font-size: 24px; text-transform: none; font-weight: 700; color: #111111; text-decoration: none; }

#content { margin-bottom: 25px; margin-top: 0px; position: relative; }

.smallcash {
  font-size: 12px;
  margin-left: 5px;
}


/* =============== */
/* = index.liquid = */
/* =============== */

.mask { background: url(//cdn.shopify.com/s/files/1/1338/0845/t/5/assets/mask.png?7426529758118003402); height: 100%; width: 100%; top:0; position: absolute; z-index: 1; }


#product-carousel { }

#product-carousel .product-car {
  background: #fff;
  padding: 0;
  margin: 5px;
  
  position: relative;
  text-align: center;		
  margin-bottom: 20px;
}

#product-carousel .product-car img {   
  max-width: 150px;
}

.customNavigation{
  margin: -5px 0 10px;
  text-align: center;
  position: absolute;		
  top: 40%;		
  display: block;		
  width: 100%;		
  font-size: 25px;
}

//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.customNavigation a:hover { cursor: pointer; }

.btn.next {
  border: 1px solid #f0f0f0;
  color: #444;
  padding: 4px 7px;
  font-weight: 100;
  background: #fff;
  margin-right: 5px;
  position: absolute;		
  display: block;		
  right: -15px;		
  width: 25px;		
  border: 0;		
  padding: 0;		
  margin: 0;
}

.btn.prev {
  border: 1px solid #f0f0f0;
  color: #444;
  padding: 4px 7px;
  font-weight: 100;
  background: #fff;
  margin-right: -5px;
  position: absolute;		
  display: block;		
  left: -15px;		
  width: 25px;		
  border: 0;		
  padding: 0;		
  margin: 0;
}

.prod-vendor { text-align: center; }


.section-title.lines {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-title.lines h1 {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 23px;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.section-title.lines h2 {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 23px;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.section-title h5 {
  text-align: center;
  margin-top: -3px;
}

.section-title.lines:after {
  content: '';
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #d3d3d3;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
}

#collection-loop { margin-top: -30px; }
.collection-index {   background: #fff; position: relative; }
.collection-info { padding: 10px; 0; width: 100%; text-align: center; /*position: absolute;*/ top: 50%; /*margin-top: -40px;*/ background: #000000; }
.collection-info h3 { text-transform: uppercase; margin-bottom: 0; color: white; font-size: 16px; font-weight: 700; }
.collection-info p { margin-bottom: 0; text-transform: uppercase; font-size: 12px; }
.collection-image { padding: 2px; }


#promo-images { float: left; }

#index-content-left { float: left; margin-bottom: 30px; }
#index-pages h3 { text-align: center; margin-bottom: 20px; }

.pages-left-content { padding-top: 5px; }

.padded { margin-bottom: 15px; }


/* =============== */
/* = collections = */
/* =============== */


#product-loop { margin: 0 auto; width: 100%; min-width: 100%; }

#product-loop .product-index {
  margin: 0 5px 10px;
  border-radius: 0;
  overflow: hidden;
  background: #fff;
  
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}


#collection-description { float: left; padding-bottom: 10px; margin-bottom: 10px; }
#collection-description h1 { text-align: center; margin-bottom: 10px; }
#full-width-filter { padding-bottom: 20px; border-bottom: 1px solid #d3d3d3; overflow: hidden; float: right; margin-bottom: 20px; }


span.customSelect { 
  font:12px sans-serif;
  background:#fff url(//cdn.shopify.com/s/files/1/1338/0845/t/5/assets/select.png?7426529758118003402) right center no-repeat;
  border:1px solid #ddd;
  color:#555;
  padding:7px 9px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px;
  width:100%;
}

.product-quick-view { overflow: hidden; }
.product-info form { margin-top: 20px; }
.product-index .single-option-selector { margin: 5px auto 10px; }
.selector-wrapper label { float: left; }
.product-index img {   
  display: block; 
  margin: 0 auto 0;
  max-width: 145px;


}
.product-index img a { border: 0; }

.product-index .product-info { padding-bottom: 30px; }
.product-info {
  text-align: center;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
}

#product-loop .product-index .product-info { border-bottom: 0 solid #000000; }

.product-info-inner { width: 96%; margin: 0 auto; }
.product-info-inner h4 { font-size: 11px; letter-spacing: initial; }
.product-info h3 { letter-spacing: initial; margin-bottom: 10px; font-size: 20px; }
.product-info p { font-size: 16px; margin-bottom: 0; }
.product-info a { text-decoration: none! important; text-transform: uppercase; }

.price { font-size: 18px; margin-bottom: 20px; }
.compare-price, .product-price {  }
.was, .product-compare-price, .compare-price { color: #ba2323; text-decoration: line-through; }
.was { display: inline; margin-left: 5px; }
.onsale { display: inline; }

.product-index-inner { position: relative; }

.pre-order { z-index: 2; color: #fff; background: #000;}
.new { z-index: 2; color: #fff; background: #000;}
.sale-item { color: #fff; background: #000;}
.so { z-index: 3; color: #fff; background: #000;}

.product-modal {
  font-size: 12px;
  background: #343399;
  color: #ffffff;
  padding: 5px 8px;
}

.product-modal:hover { background: #343399; color: #ffffff; }


.quick-shop { overflow: hidden; width: 720px; }
.product-quick-view #product-photos { float: left; width: 49%; margin-right: 0.8%; }
.product-quick-view #product-right { float: left; width: 49%; margin-left: 0.8%; }

.product-index:hover .icn, .product-index.hover .icn { opacity: 0; }
.product-car:hover .icn, .product-car.hover .icn { opacity: 0; }

.icn {
  -webkit-transition: opacity 1s ease-out;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 50px;  
  font-size: 11px;
}

.show { display: none; }



#sidebar h1 { margin-bottom: 20px; }
#sidebar h4 { font-family: 'Jenna Sue'; font-weight: 300; font-size: 34px; padding-bottom: 5px; margin-bottom: 5px; }
#sidebar ul { list-style-type: none; margin-bottom: 20px; }
#sidebar ul li a.current { border-bottom: 1px solid #d3d3d3; text-decoration: none; }


/* ================ */
/* = Product page = */
/* ================ */


#bigimage { text-align: center; margin-bottom: 20px; max-width: 548px; }
.active img {border:1px solid #ccc !important;}

.thumbnail { margin-bottom: 10px; }
.thumbnail img { border: 1px solid #fff; }
#product-price { font-size: 16px; margin-bottom: 10px; }


#product-right { background: #ffffff; padding: 20px; border: 7px double #ffffff; }
#product-description { text-align: left; }
#product-description h1, #product-right h5 { text-transform: none; }
#product-description form { margin-bottom: 10px; border-top: 0px solid #d3d3d3; border-bottom: 0px solid #d3d3d3; padding-top: 10px; }

.product-add { padding: 10px 0 0; }

.quantity { 
  font-weight: bold; 
  text-align: center; 
  margin: 0 5px! important; 
  width: 70px! important; 
  display: inline-block! important; 
  padding: 10px 0! important; 
  text-indent: 0! important;
}

.up {
  border: 1px solid #C9B0D0;
  padding: 6px 8px;
  display: inline;
  color: #111111;
}

.down {
  border: 1px solid #C9B0D0;
  padding: 6px 8px;
  display: inline;
  color: #111111;
}

.up:hover, .down:hover { cursor: pointer; }

.add { text-transform: uppercase; margin: 20px 0px; display: block! important; clear: left; width: 50%! important; }

.desc { padding-top: 10px; }
.full-click { display: block; text-align: center; margin-top: 20px; }

#related { margin-top: 20px; padding: 20px 0; float: left; text-align: center; } 

ul#popups { margin: 20px 0 0; list-style-type: none; text-align: center; }
ul#popups li { display: inline; margin-right 10px; border-right: 1px solid #d3d3d3; padding-right: 10px; margin-left: 10px; }
ul#popups li.first { margin-left: 0; }
ul#popups li.last { border-right: 0; }

#social { float: left; width: 100%; padding-bottom: 10px; }

#product-navigation {
  text-align: center;
}

#back-forth img { margin: 0 5px; vertical-align: middle; }

.backto {
  margin-bottom: 10px;
  display: block;
}

.prev-prod { margin-right: 10px; }
.next-prod { margin-left: 10px; }

.prev-prod, .next-prod {
  display: inline-block;
}

.share-icons a {
  margin: 0 5px;
}


#lower-description { text-align: left; } 


ul#sortme { text-align: center; list-style-type: none; width: 100%; }
ul#sortme li { text-align: left; display: inline-block; margin: 0 10px; }
ul#sortme li p { text-align: center; }
ul#sort-me li a { position: relative; z-index: 2; color: #343399; display: block; width: 100%; }
ul#sort-me li span { color: black; }
.current { position: relative; }
ul#sort-me li.current:after { 
  content: "\f00d";
  font-family: FontAwesome;
  margin-left: 5px;
  color: #343399;
  position: absolute;
  top: 0;
  right: 10px;
}

.what-is-it { margin-bottom: 15px; }
.what-is-it label { display: inline; margin-right: 10px; }

/* =============== */
/* = Cart = */
/* =============== */

#cartform { margin-top: 20px; }
.cart-item { display: table-cell; }
.cart-image { display: inline-block; margin-right: 10px; }
.cart-image img { vertical-align: middle; max-width: 100px; } 
.cart-title { display: inline-block; }

table { 
  width: 100%; 
  border-collapse: collapse; 
}


/* Zebra striping */
tr:nth-of-type(odd) { 
}
th { 
  background: #ffffff; 
  font-weight: normal; 
}
td, th { 
  padding: 10px; 
  border: 1px solid #d3d3d3; 
  text-align: left; 
}

#basket-right { text-align: center; }
#basket-right h4 {  }
#basket-right p { margin-bottom: 20px; }
#basket-right img { width: 50px; }

#note { margin-top: 10px; }


#cart-notes { margin-top: 20px; margin-bottom: 20px; }

/* =============== */
/* = Blogs & Pages = */
/* =============== */

.rte h1 {
  border-bottom: 0! important;
  text-align: inherit! important;
  margin-bottom: inherit! important;
}

#page { clear: left; margin-bottom: 50px;   }
#page h1 { text-align: center;  padding-bottom: 5px; margin-bottom: 20px; border-bottom: 1px solid #d3d3d3; }
#page h1.page-title { text-align: left! important; }

#page-sidebar h2 { padding-bottom: 8px; margin-bottom: 20px; border-bottom: 1px solid #d3d3d3; }
#page-sidebar ul { list-style-type: none; }
#page-sidebar ul li {
  display: block;
  margin-bottom: 10px;
  padding-bottom: 5px;
}


#article-loop { margin: 0 auto; width: 100%; min-width: 100%; }

.article-index {
  margin: 0 5px 10px;
  border-radius: 0;
  overflow: hidden;
  background: #fff;
  padding-top: 20px;
}

.article-info { border-bottom: 0 solid #000000; }
.article-info-inner { width: 96%; margin: 0 auto; }

.article-info h2 { letter-spacing: initial; margin-bottom: 10px; text-align: center; }
.posted { text-align: left; margin-bottom: 20px; }
.post-tags { clear: left; display: block; text-align: center; }
.article-info p { font-size: 16px; margin-bottom: 0; }
.article-info a { text-decoration: none! important; text-transform: uppercase; }
.article-content { margin-top: 10px; margin-bottom: 10px; }
.article-index .share-icons { text-align: center! important; }
.article-index .readmore { text-align: center! important; }

.share-icons a { color: #525252; }
.share-icons a:hover { color: #222222; }

#blog-article .share-icons { text-align: center! important; }




ul#blog-articles, #blog-article { list-style-type: none; }
.single-article { margin-bottom: 10px; padding-bottom: 10px; }
.single-article .posted { text-align: left; }
.single-article .post-tags { text-align: left; }

#blog-sidebar h2 .icon-rss {
  float: right;
  font-size: 16px;
}

#blog-sidebar #social-icons { font-size: 90%; margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #d3d3d3; }
#blog-sidebar #social-icons a { color: #525252; }
#blog-sidebar #social-icons a:hover { color: #222222; }


#twitter-card, #facebook-card, #instagram-card { width: 100%; float: left; clear: left; display: block; margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #d3d3d3; }
#twitter-card h3, #facebook-card h3, #instagram-card h3 { letter-spacing: initial; }

#fb-root { display: none; }

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

#instafeed {
  margin-top: 15px;
}


#page .share-icons { margin-bottom: 20px; text-align: left; margin-top: 20px;  }
#page .share-icons a { margin-right: 10px; }

ul#posts { list-style: none; }
ul#posts li { margin-bottom: 20px; padding-bottom: 0; border-bottom: 1px solid #d3d3d3; }
ul#posts li p { margin-top: 0; }
ul#posts li.tags { padding-bottom: 10px; }

#comments h4 { text-align: center; }

#comments { float: left; padding-top: 20px; margin-top: 20px; width: 100%; }
#comment-form { width: 100%; text-align: center; clear: left; float: left; }
#comments ul { margin-top: 20px; list-style-type: none; }
#comments ul li { float: left; display: block; width: 100%; margin: 0 0 20px 0; border-bottom: 1px solid #d3d3d3; padding-bottom: 20px; }

.comment-details { margin-bottom: 10px; }
.gravatar { float: left; margin-right: 20px; }
.comment { float: left; }
.comment p { margin-top: 0; }

dd { margin-left: 0; }

.notice { border: 1px dashed #eee; padding: 5px; background: ghostwhite; margin: 20px 0; }


.readmore { clear: left; text-align: left; margin: 30px auto; }
.readmore a { color: #ffffff! important; background: #343399! important; padding: 10px 20px; -webkit-transition: background .5s ease,color .5s ease; -moz-transition: background .5s ease,color .5s ease; -o-transition: background .5s ease,color .5s ease; transition: background .5s ease,color .5s ease; }
.readmore a:hover { color: #ffffff! important; background: #343399! important; text-decoration: none; }

/* =============== */
/* = Search = */
/* =============== */

#search-bar { margin-bottom: 20px; margin-top: 20px; border-bottom: 0px solid #d3d3d3; }
#search-bar #q {width: 300px;  }
#q { text-transform: uppercase; }

/* =============== */
/* = Customer Accounts = */
/* =============== */

#customer-wrapper { float: left; margin-bottom: 40px; }
#customer-wrapper p { margin-top: 0! important; margin-bottom: 0! important; }

#forgot_password { margin-bottom: 15px; }
#customer-wrapper form { margin-top: 20px; }
#admin_header { margin-bottom: 30px; }
.view_address p { margin: 0; }
#customer_detail p { margin: 0; }
.address_table { margin-bottom: 20px; }

#order_address {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

#order_details { float: left; }

#create-customer, #customer {
  margin-top: 30px;
}


/* =============== */
/* = Footer = */
/* =============== */

@media only screen and (min-width: 1024px ){

  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -52px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 52px; 
  }


}
#footer-wrapper { z-index: 2; clear: left;  }
#footer { padding: 10px 0; text-align: center; }

#subscribe_popup {
  text-align: center; 
  width: 320px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

#mc_embed_signup {
  width: 100%;
}

#mce-EMAIL {
  float: left;
  text-align: center;
  text-indent: 0;
}

#mc-embedded-subscribe {
  float: left;
  margin-top: 0;
}

#payment { text-align: center; margin-top: 30px; margin-bottom: 50px; }
#payment img { max-width: 60px; text-align: center;  margin-bottom: 10px; }


/* =============== */
/* = Mobile Hides = */
/* =============== */

#mobile-product { display: none; }

/* =============== */
/* = Global = */
/* =============== */


#pagination { clear: left; text-align: center; margin-top: 20px; padding-top: 20px; margin-bottom: 20px;  }
#pagination a { 
  margin: 0 1px;
  color: #ffffff;
  background: #000000;		
  padding: 2px 5px;		
  transition: none;		
  border-radius: 25px;		
  border: 2px solid #000000;		
  display: inline-block;		
  width: 33px;
}
#pagination a:hover { text-decoration: none; background: transparent; color: #000000; transition: none; }

#pagination .current { 		
  padding: 2px 5px;		
  text-decoration: none; 		
  background: transparent; 		
  color: #000000; 		
  transition: none; border-radius: 25px;		
  border: 2px solid #000000;		
  display: inline-block;		
  width: 33px; 		
}

#pagination .count { margin-right: 20px; }


#breadcrumb { text-transform: uppercase; font-size: 14px; margin-bottom: 20px; text-align: left; }
#breadcrumb a { padding: 0 5px 0 0; }
#breadcrumb p { padding: 0 5px 0 0; }
.separator { padding-right: 5px; }



/* Hiding the drop-downs. */
#product-variants, .selector-wrapper, .select { display: none; }




/* 
Swatches Styles
*/



.swatch { 
  margin:0; 
}
/* Label */
.swatch .header {
  margin: 0.5em 0;
}
/* Hide radio buttons.*/
.swatch input { 
  display:none;
}

.color label { width: 40px! important; }

.swatch label {
  /* Cross-browser inline-block */
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  /* Content must stretch all the way to borders */
  padding:0;
  /* Background color */
  background-color: #fcfcfc;
  /* Spacing between buttons */
  margin:0px 5px 10px;
  /* Fake that those are buttons, i.e. clicky */
  cursor:pointer;
  /* The border when the button is not selected */
  border: #DDD 1px solid !important;
  /* To position the sold out graphic and tooltip */
  position:relative;
  /* Text styling */
  text-transform:uppercase;
  font-size:13px;
  min-width:30px !important; 
  height:30px !important;
  line-height:28px;
  white-space:nowrap;
  text-transform:uppercase;
  text-align: center;
  font-weight: 400;
}
.swatch-element label { padding:0 10px; }
.color.swatch-element label { padding:0; }
/* Styling selected swatch */
/* Slightly raised */
.swatch input:checked + label {
  border:#999 1px solid !important;
  background: #333;
  color: #fff;
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.25);
  box-shadow:0px 1px 2px rgba(0,0,0,0.25);
} 
.swatch .swatch-element {
  display: inline-block;
  -webkit-transform:translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
  /* To position the sold out graphic and tooltip */
  position:relative;
}
/* Image with the cross in it */
.crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
.swatch .swatch-element .crossed-out { display:none; }
.swatch .swatch-element.soldout .crossed-out { display:block; }
.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60); /* internet explorer */
  -khtml-opacity: 0.6;      /* khtml, old safari */
  -moz-opacity: 0.6;       /* mozilla, netscape */
  opacity: 0.6;           /* fx, safari, opera */
}
/* Tooltips */
.swatch .tooltip {
  text-align:center;
  background:gray;
  color:#fff;
  bottom:100%;
  padding: 10px;
  display:block;
  position:absolute;
  width:100px;
  left:-33px;
  margin-bottom:15px;
  /* Make it invisible by default */
  filter:alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity:0;
  visibility:hidden;
  /* Animations */
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}
.swatch .tooltip:before {
  bottom:-20px;
  content:" ";
  display:block;
  height:20px;
  left:0;
  position:absolute;
  width:100%;
}
/* CSS triangle */
.swatch .tooltip:after {
  border-left:solid transparent 10px;
  border-right:solid transparent 10px;
  border-top:solid gray 10px;
  bottom:-10px;
  content:" ";
  height:0;
  left:50%;
  margin-left:-13px;
  position:absolute;
  width:0;
}
.swatch .swatch-element:hover .tooltip {
  filter:alpha(opacity=100);
  -khtml-opacity:1;
  -moz-opacity:1;
  opacity:1;
  visibility:visible;
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px);
}
.swatch.error {
  background-color:#E8D2D2!important;
  color:#333!important;
  padding:1em;
  border-radius:5px;
}
.swatch.error p {
  margin:0.7em 0;
}
.swatch.error p:first-child {
  margin-top:0;
}
.swatch.error p:last-child {
  margin-bottom:0;
}
.swatch.error code {
  font-family:monospace;
}


.scrollup{
  width:30px;
  height:30px;
  opacity:0.3;
  position:fixed;
  bottom:50%;
  right:20px;
  display:none;
  z-index: 3;
  text-align: center;
}

.scrollup:hover { text-decoration: none; }


iframe { width: 100%; }


/* Navigation */


/* Dropdown Navigation */

.dl-menuwrapper {
  display: none;
  width: 100%;  
}

.mobile-menu {
  width: 100% !important;
  margin: 0;
}

.mobile-menu li {
  display: inline-block;
  width: 25% !important;
  margin: 0px !important;
}

.mobile-menu li i {
  top: 1px;
  position: relative;
  font-size: 16px;
}

.mobile-menu a {
  padding: 0px !important;
  text-align: center;
  padding-top: 14px !important;
  padding-bottom: 11px !important;
}

#dl-menu {
  position: relative;
}

.dl-menu {
  top: 45px !important;
  margin: 0 !important;
  z-index: 5;
}

.dl-menuwrapper:first-child {
  margin-right: 100px;
}

.dl-menuwrapper button {
  width: 100%;
  height: 45px;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: #ffffff;
}

/*
.dl-menuwrapper button:after {
content: '';
position: absolute;
width: 68%;
height: 5px;
top: 10px;
left: 16%;	
}
*/

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li a {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;  
  outline: none;
  text-transform: uppercase;
  
  transition: initial !important;
}

.mobile-menu li a {
  color: #111111 !important;
  background: #ffffff !important;
}

.dl-trigger, .dl-trigger i {
  color: #111111 !important;
  background: #ffffff !important;
}

.dl-menuopen li {
  border-bottom: 1px solid #ccc; 
}

.dl-menuopen, .dl-menuopen li a {
  color: #ffffff !important;
  background: #000000 !important;
}

.dl-menuopen li a:hover {
  color: #000000 !important;
  background: #ffffff !important; 
}


.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: #ffffff;
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: 'FontAwesome';
  speak: none;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  content: "\f054";
}

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: #111111;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none;
  margin-bottom: 0;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  /*top: 60px;*/
  left: 0;
  margin: 0! important;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  -moz-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  -moz-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  -moz-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  -moz-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  -moz-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut1 {
  50% {
    -moz-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -moz-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -moz-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut2 {
  100% {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut3 {
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut4 {
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut5 {
  100% {
    -moz-transform: translateY(40%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut1 {
  50% {
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@keyframes MenuAnimOut2 {
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut3 {
  100% {
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes MenuAnimOut4 {
  100% {
    transform: translateZ(-300px);
    opacity: 0;
  }
}

@keyframes MenuAnimOut5 {
  100% {
    transform: translateY(40%);
    opacity: 0;
  }
}

.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  -moz-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  -moz-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  -moz-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  -moz-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  -moz-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn1 {
  0% {
    -moz-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -moz-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    -moz-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn2 {
  0% {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn3 {
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn4 {
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn5 {
  0% {
    -moz-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes MenuAnimIn1 {
  0% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes MenuAnimIn2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn3 {
  0% {
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn4 {
  0% {
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn5 {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  -moz-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  -moz-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  -moz-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  -moz-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn1 {
  0% {
    -moz-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn2 {
  0% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn3 {
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn4 {
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn5 {
  0% {
    -moz-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn1 {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn3 {
  0% {
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn4 {
  0% {
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn5 {
  0% {
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  -moz-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  -moz-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  -moz-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  -moz-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut1 {
  0% {
    -moz-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(50%);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut2 {
  0% {
    -moz-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut3 {
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut4 {
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut5 {
  0% {
    -moz-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -moz-transform: translateZ(-200px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut1 {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut2 {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut3 {
  0% {
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    transform: translateZ(-300px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut4 {
  0% {
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut5 {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-200px);
    opacity: 0;
  }
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
  margin-bottom: 0! important;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}






/* Owl Carousel */




/* 
* 	Core Owl Carousel CSS File
*	v1.24
*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
  cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* CSS3 Transitions */

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x : 50%;
  -webkit-perspective-origin-y : 50%;
  -moz-perspective : 1200px;
  -moz-perspective-origin-x : 50%;
  -moz-perspective-origin-y : 50%;
  perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}



.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  clear: left;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


ul#main-nav { 
    
  width: 100%; 
  background: #ffffff; 
  margin-bottom: 10px;
  list-style: none; 
  text-align: center;
  border-top: 0px solid #ffffff;
  border-bottom: 0px solid #ffffff;
}


ul#main-nav li { 
  display: inline-block; 
  position: relative; 
  line-height: 50px; 
}

ul#main-nav li:hover { background: #ffffff;  }

ul#main-nav li a { 
  font-family: 'Roboto Condensed', sans-serif; 
  font-weight: normal; 
  font-size: 14px; 
  color: #111111; 
  display: block; 
  padding: 0 20px; 
  text-transform: uppercase;
}

ul#main-nav li a:hover {
  color: #111111; 
  text-decoration: none;
}


ul#main-nav li ul{
  display: none;
  position: absolute;
  top: 50px;
  z-index: 5;
  left: 0;
  background: #000000;  
  border-bottom: 3px solid #454545;
  border-left: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
}

ul#main-nav li:hover ul{
  display: block;
}

ul#main-nav li ul li{
  line-height: 40px! important;
  margin: 0; 
  padding: 0;
  width: 100%;
  white-space: nowrap;
  background: transparent! important;
  min-width: 220px;
  float: left;
  border-bottom: 1px solid #ccc;
}

ul#main-nav li ul li:hover {
  background: #ffffff! important; 
}


ul#main-nav li ul li a{
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
  font-size: 14px;
}


ul#main-nav li ul li a:hover {
  color: #000000;
}

.dl-menuwrapper li a { font-size: 11px; }


