/* CLEARFIX */

header > div:after,
#videoList:after,
#videoList article:after,
#playerBox:after,
#pager ul:after,
#title:after,
#postedTitle li:after,
#account:after {
	content: "."; 
	display: block; 
	height: 0; 
 	font-size: 0;	
	clear: both; 
	visibility: hidden;
}

/* STRUCTURE */

body {
	font-family: 'Lato', sans-serif;
	background: #202027;
}

header {
	background: #17151D;
}

#wrapper {
	position: relative;
	background: #1D1D24;
}

h1,
h2,
h3 {
	font-weight: normal;
}

/* HEADER */

header > div,
footer {
	width: 990px;
	padding: 15px 0;
	margin: 0 auto;
}

@media(max-width:767px) {
	header > div,
	footer {
		width: auto;
		padding: 10px;
	}
}

h1 {
	float: left;
	width: auto;
	font-size: 32px;
	line-height: 32px;
}

@media(max-width:767px) {
	h1 {
		font-size: 24px;
		line-height: 24px;
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
}

h1 a {
	color: #FFF;
	text-decoration: none;
}

h1 a span {
	color: #2DC9FF;
}

header p {
	float: right;
	width: auto;
	color: #8F8F93;
	line-height: 32px;
}

@media(max-width:767px) {
	header p{
		float: none;
		line-height: 1.5;
		text-align: center;
	}
}

/* FAM */

#fam {
	display: none;
}

@media(max-width:767px) {
	#fam {
		display: block;
		padding: 10px;
		background: #202027;
	}
	
	#fam a {
		text-decoration: none;
	}
	
	#fam span {
		color: #FFF;
		line-height: 1.3;
	}
}

/* LIST */

#videoList {
	width: 990px;
	padding: 30px 0 0;
	margin: 0 auto;
}

@media(max-width:767px) {
	#videoList {
		width: auto;
		padding: 0;
		margin-bottom: 10px;
	}
}

#videoList article {
	float: left;
	width: 240px;
	height: 260px;
	margin-right: 10px;
}

@media(max-width:767px) {
	#videoList article {
		float: none;
		width: auto;
		height: auto;
		padding: 10px;
		margin-right: 0;
	}
}

#videoList article:nth-child(4n) {
	margin-right: 0;
}

@media(max-width:767px) {
	#videoList article:nth-child(even) {
		background: #202027;
	}
}

#videoList h3 a {
	color: #FFF;
	line-height: 1.3;
	text-decoration: none;
}

#videoList figure {
	margin-bottom: 10px;
}

@media(max-width:767px) {
	#videoList figure {
		float: left;
		margin-right: 10px;
		margin-bottom: 0;
	}
}

#videoList figure img {
	width: 240px;
	height: 180px;
}

@media(max-width:767px) {
	#videoList figure,
	#videoList figure img {
		width: 128px;
		height: 96px;
	}
}

/* PAGER */

#pager {
	width: 990px;
	margin: 0 auto;
}

@media(max-width:767px) {
	#pager {
		width: auto;
		padding: 0 10px;
	}
}

#pager ul {
	padding-bottom: 30px;
}

#pager li {
	float: left;
	margin-right: 10px;
}

@media(max-width:767px) {
	#pager li {
		margin-bottom: 10px;
	}
}

#pager li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	background: #202027;
	padding: 0 15px;
	line-height: 40px;
}

#pager .current a {
	background: #2DC9FF;
}

/* VIDEO */

#playerArea {
	padding: 30px 0;
}

@media(max-width:767px) {
	#playerArea {
		padding: 10px 0 30px;
	}
}

#playerBox {
	width: 990px;
	margin: 0 auto 15px;
}

@media(max-width:767px) {
	#playerBox {
		width: 320px;
	}
}

#player {
	float: left;
	width: 680px;
	height: 510px;
	background: #000;	
	position: relative;
}

@media(max-width:767px) {
	#player {
		float: none;
		width: 320px;
		height: 240px;
		overflow: hidden;
	}
}

#deleted {
	font-size: 30px;
	text-align: center;
	line-height: 510px;
}

@media(max-width:767px) {
	#deleted {
		font-size: 16px;
		line-height: 240px;
	}
}

#side {
	float: right;
	width: 300px;
}

@media(max-width:767px) {
	#side {
		display: none;
	}
}

.banner {
	height: 250px;
	margin-bottom: 10px;
}

#videoInfo,
#disqus {
	width: 990px;
	margin: 0 auto;
}

@media(max-width:767px) {
	#videoInfo,
	#disqus {
		width: auto;
		padding: 0 10px;
	}
}

#videoInfo p,
footer p {
	line-height: 1.5;
}

h2 {
	color: #FFF;
	font-size: 32px;
	line-height: 1.3;
}

@media(max-width:767px) {
	h2 {
		font-size: 20px;
	}
}

#title {
	margin-bottom: 10px;
}

#title p {
	float: left;
	color: #FFF;
	font-size: 16px;
	background: #FF632D;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
}

#postedTitle {
	margin-bottom: 10px;
}

#postedTitle li {
	font-size: 16px;
	background: #2E2E35;
	line-height: 40px;
	margin-bottom: 5px;
}

#postedTitle li strong {
	font-weight: normal;
}

#check,
.like,
.btnLike {
	display: block;
	color: #FFF;
	padding: 0 10px;
	line-height: 40px;
}

#check {
	float: right;
	background: #2DC9FF;
}

.like {
	float: left;
	width: 60px;
	text-align: center;
	background: #FF632D;
	margin-right: 10px;
}

.btnLike {
	float: left;
	background: #2DC9FF;
	cursor: pointer;
}

#postTitle {
	background: #2E2E35;
	padding: 10px;
}

#postTitle input,
#postTitle button {
	vertical-align: top;
	border: none;
	font-size: 16px;
	height: 40px;
}

#postTitle input {
	width: 60%;
	padding: 0 10px;
	border-radius: 0;
}

#postTitle button {
	color: #FFF;
	line-height: 40px;
	width: 10%;
	background: #2DC9FF;
}

@media(max-width:767px) {
	#postTitle button {
		width: 20%;
	}
}

.commentError {
	margin-bottom: 10px;
}

/* FOOTER */

footer p {
	color: #8F8F93;
}

footer ul {
	margin-bottom: 10px;
}

footer li {
	display: inline;
	margin-right: 10px;
}

/* BANNER */

#bannerLeft {
	position: absolute;
	left: 0;
	top: 30px;
}

#bannerRight {
	position: absolute;
	right: 0;
	top: 30px;
}

@media(max-width:767px) {
	#bannerLeft,
	#bannerRight {
		display: none;
	}
}

/* CUSHION */

#cushion {
	padding: 30px 0;
}

@media(max-width:767px) {
	#cushion {
		padding: 10px 0;
	}
}

#cushion div {
	position: relative;
	width: 640px;
	height: 480px;
	margin: 0 auto 30px;
}

@media(max-width:767px) {
	#cushion div {
		width: 320px;
		height: 240px;
		margin: 0 auto 10px;
	}
}

#cushion div a {
	display: block;
}

#cushion div img {
	width: 640px;
	height: 480px;
}

@media(max-width:767px) {
	#cushion div img {
		width: 320px;
		height: 240px;
	}
}

#cushion div span {
	position: absolute;
	display: block;
	width: 56px;
	height: 56px;
	left: 292px;
	top: 212px;
	background: #000;
	border: 1px solid #333;
	border-radius: 50%;
	text-align: center;
}

@media(max-width:767px) {
	#cushion div span {
		left: 132px;
		top: 92px;
	}
}

#cushion div span i {
	color: #FFF;
	font-size: 28px;
	line-height: 56px;
}

#cushion div a:hover span {
	background: #333;
}

#cushion div a:hover span i {
	color: #2DC9FF;
}

#cushion h2 {
	text-align: center;
}

/* TOS */

#tos,
#signUp,
#account,
#takedown {
	width: 990px;
	padding: 30px 0;
	margin: 0 auto;
}

@media(max-width:767px) {
	#tos {
		width: auto;
		padding: 30px 10px;
		margin-bottom: 10px;
	}
}

#tos h2,
#signUp h2,
#account h2,
#takedown h2 {
	margin-bottom: 30px;
}

#tos h3,
#tos p,
#tos ul {
	margin-bottom: 30px;
}

#tos h3 {
	font-size: 24px;
	margin-top: 30px;
}

@media(max-width:767px) {
	#tos h3 {
		font-size: 16px;
	}
}

#tos ul {
	background: #202027;
	padding: 20px;
	margin-left: 30px;
}

#tos p,
#tos li {
	color: #8F8F93;
	line-height: 1.5;
}

#tos li {
	list-style: disc inside;
	margin-bottom: 10px;
}

#tos li:last-child {
	margin-bottom: 0;
}

/* SIGN UP */

#signUp table,
#agree,
#takedown table {
	margin-bottom: 20px;
}

#signUp th,
#signUp td,
#accountTable th,
#accountTable td,
#uploadTable th,
#uploadTable td,
#videosTable th,
#videosTable td,
#takedown th,
#takedown td {
	padding: 10px 20px;
	vertical-align: middle;
	border: 1px solid #2E2E35;
}

#signUp th,
#accountTable th,
#uploadTable th,
#videosTable th,
#takedown th {
	font-weight: normal;
	line-height: 40px;
	background: #202027;
}

#signUp th,
#accountTable th,
#uploadTable th {
	text-align: right;
}

#takedown th {
	width: 150px;
}

#signUp input[type="text"],
#uploadTable input[type="text"],
#takedown input[type="text"],
#signUp input[type="password"],
#signUp button,
#account button,
#takedown button {
	color: #FFF;
	font-size: 16px;
	height: 40px;
	border: none;
}

#signUp input[type="text"],
#uploadTable input[type="text"],
#takedown input[type="text"],
#signUp input[type="password"] {
	padding: 0 10px;
	background: #2E2E35;
	border-radius: 0;
}

#signUp input[type="text"],
#signUp input[type="password"] {
	width: 300px;
}

#takedown input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}

#signUp button,
#account button,
#takedown button {
	cursor: pointer;
	line-height: 40px;
	background: #2DC9FF;
	padding: 0 30px;
}

#errorList,
#attentionList {
	list-style: disc inside;
	margin-bottom: 30px;
}

#errorList li {
	color: #FF632D;
	margin-bottom: 10px;
}

/* ACCOUNT */

#accountTable,
#uploadTable,
#videosTable {
	width: 100%;
}

#accountTable th {
	width: 100px;
}

#account nav {
	float: left;
	width: 200px;
}

#account nav li {
	line-height: 40px;
	background: #2E2E35;
	padding: 0 10px;
	margin-bottom: 1px;
}

#account #cnt {
	margin-left: 220px;
}

#attentionList {
	background: #202027;
	padding: 20px;
}

#attentionList li {
	margin-bottom: 10px;
}

#attentionList li:last-child {
	margin-bottom: 0;
}

#uploadTable {
	margin-bottom: 20px;
}

#uploadTable input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}

#uploadTable td span {
	display: block;
	color: #8F8F93;
	margin-top: 10px;
}

#videosTable th {
	font-weight: normal;
}

#videosTable td {
	color: #8F8F93;
}

#videosTable td span {
	color: #FF632D;
}

/* USER */

#user {
	background: #202027;
}

#user > div {
	width: 990px;
	height: 40px;
	padding: 10px 0;
	margin: 0 auto;
}

#user > div p {
	float: left;
	width: auto;
	font-size: 20px;
	line-height: 40px;
}

#user > div p span {
	color: #8F8F93;
	font-size: 12px;
	margin-left: 10px;
}

#user > div a {
	display: block;
	float: right;
	color: #FFF;
	font-size: 16px;
	line-height: 40px;
	text-decoration: none;
	height: 40px;
	padding: 0 30px;
	background: #2E2E35;
}

/* TAKEDOWN */

#takedown dl {
	background: #202027;
	padding: 20px;
	margin-bottom: 20px;
}

#takedown dt {
	color: #8F8F93;
	line-height: 1.5;
	margin-bottom: 10px;
}

#takedown dd,
#takedown h3 {
	font-size: 16px;
}

#takedown h3 {
	margin-bottom: 20px;
}

#takedown p {
	color: #8F8F93;
	line-height: 1.5;
	margin-bottom: 10px;
}

#takedown p strong {
	color: #FF632D;
	font-weight: normal;
}