@charset "utf-8";
/* CSS Document */




nav, header, footer {
	display:none !important;
}

/* Se anulan los anuncios */

#sidebar, #nav-footer, #google-search, #com970s, #com_sky_sup, #com320, #menu-tema, #cvs, #cvi, #com970i, #com_sk_inf, #com_vin_la {
	display:none !important;
}

/* Se anulan las redes sociales */

#fb-root, #to, #rrss-wrapper,
 {
	display:none;
}


section {	
	box-shadow:none;
	border:none;
	visibility:visible !important;
	display:block !important;
}



h1 {
	color:#900;
}