/*
Theme Name: IQS
Description: IQS
Version: 1.0
*/

@import url("css/font-awesome.css");
@import url("css/font-awesome.min.css");
@font-face{
font-family:"Nexa W04_n1";
src:url("Fonts/1a3362c8-030e-498b-9aa2-682bca2f03c6.eot?#iefix") format("eot")
}
@font-face{
font-family:"Nexa W04";
src:url("Fonts/1a3362c8-030e-498b-9aa2-682bca2f03c6.eot?#iefix");
src:url("Fonts/1a3362c8-030e-498b-9aa2-682bca2f03c6.eot?#iefix") format("eot"),url("Fonts/834de728-bab0-4ef9-acfb-5a3da563d625.woff") format("woff"),url("Fonts/0c84d411-3d61-4a9b-a128-7a623ebea0ac.ttf") format("truetype"),url("Fonts/ab335045-ac4c-4a11-89bb-768f659169e2.svg#ab335045-ac4c-4a11-89bb-768f659169e2") format("svg");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"Nexa W04_n3";
src:url("Fonts/53ab90f6-7683-41a6-928a-7e7dd18f7e4e.eot?#iefix") format("eot")
}
@font-face{
font-family:"Nexa W04";
src:url("Fonts/53ab90f6-7683-41a6-928a-7e7dd18f7e4e.eot?#iefix");
src:url("Fonts/53ab90f6-7683-41a6-928a-7e7dd18f7e4e.eot?#iefix") format("eot"),url("Fonts/27373b7d-c38b-471d-99ca-a4de98412073.woff") format("woff"),url("Fonts/d4d9fbf1-2306-456f-b514-1ac216d601a1.ttf") format("truetype"),url("Fonts/59004ccb-27c7-49b0-a5c2-364c6cea93da.svg#59004ccb-27c7-49b0-a5c2-364c6cea93da") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Nexa W04_n4";
src:url("Fonts/06727d37-7c85-4caa-ab18-fdaea97d11a9.eot?#iefix") format("eot")
}
@font-face{
font-family:"Nexa W04";
src:url("Fonts/06727d37-7c85-4caa-ab18-fdaea97d11a9.eot?#iefix");
src:url("Fonts/06727d37-7c85-4caa-ab18-fdaea97d11a9.eot?#iefix") format("eot"),url("Fonts/8d2052bf-185a-4419-b3e8-02fdd2034fb3.woff") format("woff"),url("Fonts/d40c047d-1a56-424f-9c3a-1fdddcf28eb1.ttf") format("truetype"),url("Fonts/7acffe9f-9b93-4407-845f-787fda851515.svg#7acffe9f-9b93-4407-845f-787fda851515") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Nexa W04_n7";
src:url("Fonts/447e8198-0ac1-4287-ba2b-d63678378e37.eot?#iefix") format("eot")
}
@font-face{
font-family:"Nexa W04";
src:url("Fonts/447e8198-0ac1-4287-ba2b-d63678378e37.eot?#iefix");
src:url("Fonts/447e8198-0ac1-4287-ba2b-d63678378e37.eot?#iefix") format("eot"),url("Fonts/1914b2d7-de7a-4879-8740-da3f6c79cd81.woff") format("woff"),url("Fonts/243ca121-30dc-43e3-abb9-2b2991d96721.ttf") format("truetype"),url("Fonts/ed965fc5-6a45-4b1b-ba87-24074d20c425.svg#ed965fc5-6a45-4b1b-ba87-24074d20c425") format("svg");
font-weight: 700;
font-style: normal;
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}

html{overflow-x:hidden;}
body{margin:0; padding:0; color:#333333; font-family:"Nexa W04", Arial; font-size:14px; font-weight:300;}
img{border:none;}
.wpb_row  img{max-width:100%;height: auto;}

a{color: #d0112b; text-decoration:none;}
a:hover{ text-decoration:underline;}

strong{font-weight:700;}

.container{width: 1280px; margin:0 auto!important; max-width: 100%; padding-left:15px;padding-right:15px;}
.container:after{content: " ";clear: both;display: table;}

h1{text-transform:uppercase; font-size:36px; font-weight:700; color:#cf0a2c; margin:35px 0; padding:0;}
h2{text-transform:uppercase; color:#d0112b; font-size:32px; font-weight:700; margin:0; padding:0;}
h3{text-transform:uppercase; font-size:36px; font-weight:300; margin:0 0 5px 0; padding:0;}
h4{text-transform:uppercase; font-size:24px; font-weight:300; margin:0; padding:0;}

p{margin:0 0 30px 0; padding:0;}

.top_header{background:#56565b; text-align:right; color:#a0a9b1; font-size:12px; padding:10px 0;}
.top_header strong{font-weight:normal; color:#fff;}
.top_header a{color: #a0a9b1;}
.top_header span{margin:0 10px 0 5px; text-transform:capitalize;}
.top_header i{margin-left:10px; font-size:14px;}
.top_header a:hover i{color: #fff;}
.top_header .textwidget{float:right;}

#header{background:#fff no-repeat top center url('images/header_bg.png');}

a#logo{display:block;float:left;margin-top:20px;}
#menu-top-wrapper{min-height:118px; padding-top:30px; margin-left:120px; text-align:right;}
#menu-menu, #menu-top-menu{margin:15px 0 0; padding:0;}
#menu-menu li, #menu-top-menu li{display:inline-block;font-size:14px;font-weight:700; padding-top:3px; text-transform:uppercase; margin:0 12px;list-style-type: none; list-style-image: none; transition: all 300ms ease 0s; border-top:#fff 3px solid;}
#menu-menu li.current-menu-item, #menu-menu li.current-page-ancestor, #menu-top-menu li.current-menu-item, #menu-top-menu li.current-page-ancestor{border-top:#cf0a2c 3px solid; }
#menu-menu li:hover, #menu-top-menu li:hover{border-top:#cf0a2c 3px solid;}
#menu-menu li a, #menu-top-menu li a{ transition: all 300ms ease 0s;display:inline-block; color:#252525; transition: all 300ms ease 0s;}
#menu-menu li.current-menu-item a, #menu-menu li.current-page-ancestor a, #menu-top-menu li.current-menu-item a, #menu-top-menu li.current-page-ancestor a{color:#cf0a2c;}
#menu-menu li a:hover, #menu-top-menu li a:hover{color:#cf0a2c; text-decoration:none;}

#menu-top-wrapper{position:relative;}
.search_form_wrapper{border:1px solid #56565B; background:#fff; display: none;position: absolute;right:0;top: 80px;height: 34px;width:275px;}
.search_form_wrapper label{display:none;}
.search_form_wrapper input[type="text"]{color:#333333; text-transform:none; font-family:"Open Sans", Arial; background:#fff; font-size:14px;float:left; height: 32px; width:198px; border:none; padding:7px 20px;}
.search_form_wrapper input[type="text"]:hover, .search_form_wrapper input[type="text"]:focus{border:none; outline:none;}
.search_form_wrapper #searchsubmit{color:#333333; font-family:"Open Sans", Arial; float:left; padding:0; cursor:pointer;height: 32px; width:75px; border:none; border-left:1px solid #56565B; color:#fff; text-transform:uppercase; font-size:12px; font-weight:300; background:#cf0a2c;}
.search_form_wrapper #searchsubmit:hover{background:#333}

.item_search{cursor:pointer; position:relative; margin:0 12px;}
.item_search:before{display:block; content: "\f002";font: normal normal normal 14px/1 FontAwesome; position:absolute; bottom:-5px; left:0; overflow:hidden; width:14px; height:17px;}
.item_search:hover:before{color:#cf0a2c;}
.item_search_open:before{content: "\f00d";}

header.sticky{position:fixed; width:100%; background:#fff; z-index:150;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);}
.admin-bar header.sticky{margin-top:32px;}
.menu-padding{padding-top:129px;}
header.sticky a#logo{margin-top:5px;}
header.sticky #logo img{width:70px;}
header.sticky #menu-top-wrapper{min-height:60px;padding-top:5px;}
header.sticky .fb{margin-top:5px;}
header.sticky .search_form_wrapper{top: 60px;}
header.sticky .search_form_wrapper:after { top: auto;bottom: 100%;border-top-color: transparent;border-bottom-color: #54311d;}


.align-right{text-align:right;}
.align-center{text-align:center;}

.header_main{background: no-repeat top center url('images/header_main_bg.jpg');min-height:315px;overflow:hidden;font-size:20px; text-transform:uppercase; color:#56565b; line-height:100%!important;}
.header_main .wpb_row.container{padding-left:0;padding-right:0;}
.header_main a{color:#56565b;display:block; padding-bottom:10px;}
.header_main a:hover{color:#cf0a2c; text-decoration:none;}
.header_main strong{font-size:52px;display:block; margin:20px 0; font-weight:700;}

.header_main em{display:block; font-style:normal;font-weight:700;font-size:36px; line-height:32px;}
.header_main .container{padding-top:73px;}
.header_main_td_with_pad{padding-top:20px;}
.header_main .wpb_text_column{position:relative;}
.header_main .wpb_text_column:before{display:block; content: "\f054";font: normal normal normal 70px/1 FontAwesome; position:absolute; bottom:20px; left:100%; margin-left:-35px; width:45px; height:65px;}
.header_main .container .wpb_column:last-child .wpb_text_column:before{display:none;}
.header_main .container .wpb_column.vc_span3:first-child{width:22%!important;}
.header_main .container .wpb_column.vc_span3:nth-child(3){width:29%!important;}
.header_main .container .wpb_column.vc_span3:last-child{width:24%!important;}

.lang_en .header_main .container{padding-top:103px;}
.lang_en .header_main strong{font-size:30px;}
.lang_en .header_main_td_with_pad{padding-top:0;}
.lang_en .header_main .container .wpb_column.vc_span3{width:24%!important;}
.lang_en .header_main .container .wpb_column.vc_span3:first-child{width:31%!important;}
.lang_en .header_main .container .wpb_column.vc_span3:nth-child(3){width:29%!important;}
.lang_en .header_main .container .wpb_column.vc_span3:last-child{width:16%!important;}
.lang_en .header_main .wpb_text_column:before{bottom:5px;}

.wpb_button { transition: all 300ms ease 0s;text-transform:uppercase;border-color: #cf0a2c!important;position:relative; border-radius: 0!important;background-color: #cf0a2c!important;color: #fff!important;font-size:16px!important; font-weight:300!important;text-shadow: none!important;padding: 10px 30px!important;}
.wpb_button:hover{border-color: #333333!important;background-color: #333333!important;}
.header_main .wpb_button{padding: 7px 30px 7px 10px!important;font-size: 13px!important; font-weight:400!important;}
.header_main .wpb_button:hover{border-color: #cf0a2c!important;background-color: #cf0a2c!important;}
.header_main .wpb_button:before{transition: all 300ms ease 0s;display:block; content: "\f054";font: normal normal normal 14px/1 FontAwesome; position:absolute; bottom:12px; right:10px; width:10px; height:10px;}
.header_main .wpb_button:hover:before{right:5px;}
.vc_btn { transition: all 300ms ease 0s;text-transform:uppercase;border-color: #cf0a2c!important;position:relative; border-radius: 0!important;background-color: #cf0a2c!important;color: #fff!important;font-size:16px!important; font-weight:300!important;text-shadow: none!important;padding: 10px 30px!important;}
.vc_btn:hover{border-color: #ccc!important;background-color: #ccc!important;}
.vc_btn.vc_btn_grey {color: #fff!important;}


.footer_main{background:#56565b;padding:30px 0 20px 0; font-size:13px; color:#fff;}
.footer_main .vc_row-fluid{margin-bottom:0 !important;}
.footer_main .wpb_row{margin-bottom:0 !important;}
.footer_main ul, .footer_main li{list-style-type: none; margin:0; padding:0;}
.footer_main li{border-bottom:#999 1px solid; padding:7px 0;}
.footer_main li:last-child{border-bottom:none;}
.footer_main li a{color: #c8c8c8; display:inline-block; position:relative; padding-left:10px;}
.footer_main li a:hover{color: #fff; text-decoration:none;}
.footer_main li a:before{display:block; content: "\f105";font: normal normal normal 14px/1 FontAwesome; position:absolute; top:0; left:0; width:10px; height:10px;}
a.link_footer{transition: all 300ms ease 0s; display:inline-block; color:#fff; margin:32px 0 15px; text-transform:uppercase; font-size:14px; font-weight:700; background:#54311d; padding:15px 30px;}
a.link_footer:hover{background: #000; color:#fff;}
.footer_main h5{font-size:15px; font-weight:700; text-transform:uppercase; margin:0; padding:0 0 10px;}
.footer_main .align-right{font-weight:700; font-size:16px; text-transform:uppercase;}
.footer_main a i {color:#c8c8c8; font-size:40px; display:inline-block; vertical-align:middle; margin-right:10px;}
.footer_main a:hover i {color:#fff;}
.footer_main .fa-facebook{color:#56565b; font-size:24px; padding:3px 10px; border-radius:3px; background:#c8c8c8;}
.footer_main a:hover .fa-facebook{background:#fff; color:#56565b;}
.footer_partners  img{max-width:100%;}

.logo_foot{padding:15px 0 5px;}
.logo_foot img{width:70px;}

footer {background:#747482; padding:10px 0; font-size:12px; color:#a0a9b1;}
footer  a{color: #a0a9b1;}
footer span{margin:0 10px;}
footer  img{max-width:100%;transition: all 300ms ease 0s; vertical-align:middle; margin: 0 5px;}
footer a img:hover{opacity:0.7;}
footer .wpb_row{margin-bottom:0 !important;}

input[type="text"], input[type="email"], textarea{color:#777; text-transform:uppercase; border:1px solid #cccccc; background:#fff; font-family:"Open Sans", Arial; width:100%; font-size:11px;padding:10px 20px;}
textarea{height:105px;}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus{border:1px solid #999;}
input[type="submit"]{ransition: all 300ms ease 0s;float:right;border:none; font-family:"Open Sans", Arial; cursor:pointer; padding:9px 30px; color:#fff; text-transform:uppercase; font-size:14px; font-weight:700; background:#cc0033;}
input[type="submit"]:hover{background:#333;}


.clear{clear:both; height:1px;}

.vc_cta3-content{position:relative;background: #fff!important;min-height:76px;padding: 0 0 0 100px !important;border: 1px solid #fff !important;font-size:24px; color:#999999; font-weight:700; text-transform:uppercase; text-align:right;}
.vc_cta3-content h2{font-size:24px; margin-right:200px;margin:0; padding-top:10px; color:#d0112b;}
.vc_cta3-content strong{display:block;font-size:24px; margin-right:200px;margin:0; color:#d0112b;}
.vc_cta3-content p{margin:0;}
.vc_cta3-content img{position:absolute; left:0; top:0;}
.vc_cta3-content .vc_cta_btn{margin-left:0!important; margin-top:20px;}
/*.vc_cta3-content hgroup{margin-top:5px;float:left;width:80%;}*/
.vc_cta3-actions {padding-left: 60px;}

.code_bg{padding-top:50px;padding-bottom:50px;background:repeat-y top center url('images/code_bg_full.jpg');}
/*.code_bg .vc_span3{padding: 30px 0 20px 0;}*/
.code_bg .vc_col-sm-3{padding: 10px 0 6px 0;}
.code_bg .wpb_text_column{min-height:160px!important;}
.code_bg .vc_col-sm-3 h3{font-size:24px; font-weight:100;}
.code_bg .vc_col-sm-3 h3 strong{font-weight:700;}
.code_bg .container:first-child .vc_col-sm-3:nth-child(2){background: #cf0a2c; color:#fff;}
.code_bg .container:first-child .vc_col-sm-3:nth-child(3){background: url('images/block_bg_1.png');}
.code_bg .container:last-child .vc_col-sm-3:nth-child(3){background: #56565b; color:#fff;min-height: 186px;}
.code_bg .wpb_content_element {margin-bottom: 0px;}

.footer_partners{font-size:17px; font-weight:700; font-family:Arial;min-height: 110px;}
.footer_partners .align-center{padding-top:15px;}
.footer_partners img{margin-bottom: 20px;}

.about_us_icons strong{display:block; float:left; width:37%; margin-right:3%; text-align:center;}
.about_us_icons em{display:block; padding-top:20px; font-size:16px; font-style:normal; float:left; width:60%; text-transform:uppercase;}
.about_us_icons{clear:both;height:120px;}

h3.h3_w_arr{color:#d0112b; font-weight:700;padding-top: 40px;}
h3.h3_w_arr i{display:inline-block;font-size:18px; color:#56565b;vertical-align:middle; margin-left:10px; margin-top:-10px;}

.about_us_liczby{padding:50px 0; background:top left url('images/about_us_liczby_bg.png'); color:#56565b;}
.about_us_liczby strong{font-size:70px; font-weight:700; color:#d0112b;line-height:100%;}
.about_us_liczby em{font-size:40px; font-style:normal; font-weight:700; color:#d0112b;line-height:100%;}
.about_us_liczby_icon{height:205px; position:relative;}
.about_us_liczby_icon img{position:absolute; left:0; bottom:0;}
.about_us_liczby .wpb_text_column, .about_us_liczby .wpb_single_image{max-width:280px; margin:0 auto;}

.about_us_posiadamy .wpb_text_column{min-height:120px!important; text-transform:uppercase; font-weight:700;}
.about_us_posiadamy .vc_col-sm-3{padding: 50px 0 20px 0; color:#56565b;}
.about_us_posiadamy .container:first-child .vc_col-sm-3:nth-child(2){background: #56565b; color:#fff;}
.about_us_posiadamy .container:first-child .vc_col-sm-3:nth-child(3){background: #d0112b; color:#fff;}
.about_us_posiadamy .container:first-child .vc_col-sm-3:nth-child(4){background: #d0112b; text-align:center;}
.about_us_posiadamy .container:last-child .vc_col-sm-3:first-child{background: #85858f; color:#fff;}
.about_us_posiadamy .container:last-child .vc_col-sm-3:nth-child(2){background:top right url('images/code_bg.png');}
.about_us_posiadamy .container:last-child .vc_col-sm-3:nth-child(3){background:top right url('images/code_bg.png');}

.text_as_h5{font-size:24px; color:#56565b; font-weight:300; text-transform:uppercase;}
.text_as_h5 h3{margin-bottom:10px;}


.org_logos{padding-top:50px; color:#56565b; font-size:18px; font-weight:300;}
.org_logo{height:70px; position:relative;}
.org_logo img{position:absolute; left:0; bottom:20px;}
.org_logos .wpb_text_column, .org_logos .wpb_single_image{max-width:220px; margin:0 auto;}

.font_36_thin{font-size:36px; font-weight:300; text-transform:uppercase; color:#56565b;}
.logo_img_for_center{max-width:220px; margin:0 auto; position:relative;}
.logo_img_for_center:after{display:block; content: "\f054";font: normal normal normal 20px/1 FontAwesome; color:#58585d; position:absolute; top:20px; left:105%; width:10px; height:10px;}
.text_with_padding{padding-top:55px; color:#56565b;}
.code_bg .wpb_text_column.text_with_padding{min-height:auto!important;}

.count_result{margin:20px 0;}
.search_result_item {background: #85858F; margin-bottom:20px; padding:20px; color: #FFF;}
.search_result_item a{color:#fff;}
.search_result_item h3{margin-bottom:10px;}
.search_result_more{margin-top:10px; text-transform:uppercase; font-weight:700;}
.screen-reader-text{display:none;}

.liner_header{height:73px; background:#f7f7f7 no-repeat top center url('images/header_main_bg.jpg');}

h1 {border-bottom:1px solid #c2c2c2; padding-bottom:10px;}
.post_title span{ font-weight:300; color:#666;}
.post_title a{color:#666;}

.blogpost{float:left;text-align:justify; border:#cccccc 1px solid; width:49%; padding:20px 20px 7px 20px; margin-bottom:20px;}
.blogpost:nth-child(2n+1){ margin-right:2%;}
.blogpost h3{font-size:24px; text-align:left; font-weight:300; margin:15px 0;}
.blogpost h3 a{color:#333333;}
.blogpost_more{display:block; position:relative; width:185px; font-size:12px; color:#fff; background:#cc0033; padding:10px 20px; margin:15px 0 7px -21px;}
.blogpost_more:hover{text-decoration:none;}
.blogpost_more:before{transition: all 300ms ease 0s;display:block; content: "\f054";font: normal normal normal 12px/1 FontAwesome; position:absolute; bottom:14px; right:10px; width:10px; height:10px;}
.blogpost_more:hover:before{right:5px;}
.blogpost_meta{color:#999999; font-size:10px;}

.list_categories, .list_categories ul, .list_categories li{list-style:none outside none; margin:0; padding:0;}
.list_categories{background:#56565b; padding:20px; margin-bottom:20px; color:#fff;}
.list_categories li{text-transform:uppercase; font-weight:700; font-size:18px;}
.list_categories ul{margin-top:10px;}
.list_categories ul li{padding:4px 0 4px 15px;position:relative;text-transform:none; font-weight:400; font-size:14px;}
.list_categories ul li:before{display:block; content: "\f054";font: normal normal normal 10px/1 FontAwesome; position:absolute; top:7px; left:0; width:10px; height:10px;}
.list_categories ul li a{color:#fff;}
.sb_widget_t{font-size:18px; margin:0; padding:15px 0; position:relative;}
.sb_widget_t:before{display:block; content: " "; position:absolute; top:0; left:0; width:50%; height:2px; background:#cc0033;}
.blanck_block{margin-top:35px; height:120px; background: url('images/block_bg_1.png');}

.zdjecie_1, .zdjecie_2{width:50%; float:left; position:relative; margin-bottom:110px;}
.zdjecie_1 span{display:block; z-index:1; position:absolute; left:100%; top:0; width:170px; background:#cc0033; padding:15px 20px; font-weight:700; color:#fff;}
.zdjecie_2 span{display:block; z-index:1; position:absolute; right:0; top:100%; width:170px; text-align:right; margin-top:-5px; background:#56565b; padding:15px 20px; font-weight:700; color:#fff;}
.zdjecie_1 i, .zdjecie_2 i {display:block;margin-bottom:20px;}

.font12{font-size:12px;}
.contact_sum{position:relative; padding-bottom:20px; padding-top:10px;}
.contact_sum:before{display:block; content: " "; position:absolute; top:0; left:0; width:20%; height:2px; background:#cc0033;}

.team .wpb_text_column{padding-right: 15px;}
.team_member{background:#cc0033; max-width:60%; padding:15px 20px; line-height:100%; color:#fff; text-transform:uppercase; font-size:12px;}
.team_member h3{font-size:14px; font-weight:700;}
.team .wpb_single_image {margin-bottom: 0!important; line-height:0!important;}
.team .wpb_single_image img{width:100%;}
.team .vc_span6:first-child{padding-right:5px!important;}
.team .vc_span6:last-child{padding-left:5px!important;}
.team_member_email{font-size:12px; color:#999; text-align:center; font-style:italic;}
.team_member_email em{font-style:normal; color:#cc0033;}

.mapka{margin:25px 0 35px 0;}
.form_title{background:#56565b;padding:15px 25px;text-transform:uppercase;font-weight:300;font-size:24px;color:#fff;position:absolute; bottom:0; left:0;}

.bg_with_code{padding-top:10px;margin-bottom:35px;background:repeat-y top center url('images/code_bg_full.jpg');}

div.wpcf7-validation-errors {border: none; background: #cc0033; color:#fff;}
div.wpcf7-mail-sent-ok {order: none; background: #398F14; color:#fff;}
div.wpcf7-response-output {margin: 0;padding: 10px 20px;}
span.wpcf7-not-valid-tip {color: #cc0033;}

.tozsamosc_bg{background: no-repeat top center url('images/tozsamosc_bg.jpg');min-height:556px; padding-top:35px; margin-bottom:0!important;}
.inside_tozsamosc_bg.tozsamosc_bg{min-height:100px;}
.tozsamosc_links a{display:block; border:1px solid #d8d8d8; text-transform:uppercase; color:#fff; line-height:100%; font-weight:700; padding:20px; height:120px;}
.tozsamosc_links a strong{display:block; font-size:36px; margin:14px 0; font-weight:700;}
.tozsamosc_links a em{display:block; font-style:normal; font-weight:700; font-size:26px;}
.tozsamosc_links .wpb_column.vc_span3:nth-child(3) a{padding-top:35px;}
.tozsamosc_links .wpb_text_column{margin-bottom:105px!important;}
.tozsamosc_links .wpb_text_column:hover{margin-bottom:100px!important; border-bottom:5px solid #cc0033;}
.tozsamosc_links a:hover{border-bottom:none; text-decoration:none;}
.tozsamosc_links .tozsamosc_link_active{position:relative; margin-bottom:100px!important; border-bottom:5px solid #cc0033;}
.tozsamosc_links .tozsamosc_link_active a{border-bottom:none;}
.tozsamosc_links .tozsamosc_link_active:after{display:block;  color:#fff; content: "\f078";font: normal normal normal 40px/1 FontAwesome; position:absolute; top:100%; margin-top:20px; left:45%;}
.inside_tozsamosc_bg .tozsamosc_links .wpb_text_column{margin-bottom:70px!important;}
.inside_tozsamosc_bg .tozsamosc_links .wpb_text_column:hover{margin-bottom:65px!important;}
.inside_tozsamosc_bg .tozsamosc_links .tozsamosc_link_active{margin-bottom:65px!important;}

.lang_en .tozsamosc_links a strong{font-size:20px;}
.lang_en .tozsamosc_links .wpb_column.vc_span3:nth-child(3) a{padding-top:20px;}

.sklep .wpb_text_column{border:#cccccc 1px solid; padding:20px 20px 7px 20px;}
.sklep h3{font-size:24px;}
.sklep p{margin-bottom:10px;text-align:justify;}

.sklep a{display:block; text-transform:uppercase; position:relative; width:195px; font-size:12px; color:#fff; background:#999; padding:10px 20px; margin:15px 0 7px -21px;}
.sklep a:hover{text-decoration:none;}
.sklep a:before{transition: all 300ms ease 0s;display:block; content: "\f054";font: normal normal normal 12px/1 FontAwesome; position:absolute; bottom:14px; right:10px; width:10px; height:10px;}
.sklep a:hover:before{right:5px;}

.shop a{transition: all 300ms ease 0s;display:block; text-transform:uppercase; position:relative; width:305px; height: 60px; font-size:14px; color:#fff; background:#999; border: solid 1px #999; padding:10px 45px 10px 0px; text-align: right;}
.shop a:hover{text-decoration:none;background-color: #fff;color: #000; border: solid 1px #cecece;}
.shop a:before{transition: all 300ms ease 0s;
    display: block;
    content: "\f054";
    font: normal normal normal 18px/1 FontAwesome;
    position: absolute;
    bottom: 28px;
    right: 17px;
    width: 10px;
    height: 10px;}
.shop a:hover:before{right:8px;color: #cecece;}

.sklep a.order_link{background:#cc0033; width:195px;}
.shop a.shop_link{background:#cc0033;border: solid 1px #cc0033;line-height: 40px; }
.shop a.shop_link:hover{background:#fff;}
.shop a.present_link{float: right;line-height: 40px; }

.cta_on_red.vc_call_to_action{background: #cc0033!important;min-height:76px;padding: 20px !important;border: 1px solid #fff !important; border-radius:0!important;font-size:14px; color:#fff; font-weight:normal; text-transform:none; text-align:left;}
.cta_on_red.vc_call_to_action h2{font-size:18px; margin-right:0;margin:0; padding-top:0; color:#fff;}
.cta_on_red.vc_call_to_action .vc_cta_btn{margin-left:0!important; margin-top:20px;}
.cta_on_red.vc_call_to_action hgroup{margin-top:0;float:none;width:auto;}
.cta_on_red.vc_call_to_action .vc_cta_btn{margin:20px auto 0!important; font-size:12px!important; border:1px solid #fff!important; width:120px; padding-right:40px!important; display:block!important;}
.cta_on_red.vc_call_to_action .vc_cta_btn:hover{background: #cc0033!important;}
.cta_on_red.vc_call_to_action .vc_cta_btn:before{transition: all 300ms ease 0s;display:block; content: "\f054";font: normal normal normal 14px/1 FontAwesome; position:absolute; bottom:12px; right:15px; width:10px; height:10px;}
.cta_on_red.vc_call_to_action .vc_cta_btn:hover:before{right:10px;}

.badania_block{padding:35px 0;margin-bottom:35px;background:repeat-y top center url('images/code_bg_full.jpg');}
.badania_img, .badania_txt{float:left; width:33.33%; height:277px; overflow:hidden;}
.badania_txt{padding:20px;}
.badania_txt p{margin:0 0 10px 0; text-align:justify;}
.badania_img{line-height:0; position:relative;}
.badania_img img{width:500px; position:absolute; top:0; left:0;height: auto;}
.badania_txt h5{font-weight:300; text-transform:uppercase; font-size:18px; margin:0 0 10px 0; padding:0;}
.badania_1 .badania_txt{background:#cc0033; color:#fff;}
.badania_2 .badania_txt{float:right; background:#56565b; color:#fff; position:relative;}
.badania_3 .badania_txt{text-align:right;}
.badania_2 .badania_txt i{position:absolute; top:30px; right:20px;}
.badania_img img:hover{opacity:0.8;}
.badania_more{margin:0 10px; display:inline-block; color:#fff; background:#cc0033; padding:7px 20px; border:#fff 1px solid;}
.badania_more:hover{text-decoration:none; background:#333;}

.search-results input[type="text"]{max-width:350px;}
.search-results input[type="submit"] {float:none;}

.search_result .wpb_text_column{border:#cccccc 1px solid; padding:20px 20px 7px 20px;}
.search_result h3{font-size:24px;}
.search_result p{margin-bottom:10px;}
.search_result a.blogpost_more{display:block; text-transform:uppercase; position:relative; width:120px; font-size:12px; color:#fff; background:#cc0033; padding:10px 20px; margin:15px 0 7px -21px;}
.search_result a.blogpost_more:hover{text-decoration:none;}
.search_result a.blogpost_more:before{transition: all 300ms ease 0s;display:block; content: "\f054";font: normal normal normal 12px/1 FontAwesome; position:absolute; bottom:14px; right:15px; width:10px; height:10px;}
.search_result a.blogpost_more:hover:before{right:10px;}


.page-id-9 .vc_separator{display:none!important;}


.white {
	color: #fff;
}

a.link-cover {
	height:100%; width:100%; display:block; background:#fff; opacity: 0;
}
a.link-cover:hover {
	height:100%; width:100%; display:block; background:#fff; opacity: 0.3;
}
.shop-single-top {
	margin-bottom: 30px;
    background-color: #e7e7e7;
}
.shop-single-left {
	background-color: #fff;
}
.shop-single-right {
	padding: 30px;
    font-size: 16px;
}
