@charset "utf-8";
 /*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* ==========================================================================
   base style
   ======================================================================= */

html {
  font-size: 62.5%;
  line-height: 1.2;
}

body{
  font-family:'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  color: #3c3c3c;
  background: #FFF;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  word-break: normal;
  word-wrap: break-word
}

/*
//-ms-word-break: break-all;
//word-break: break-word;
//word-wrap: break-word;
//-webkit-hyphens: auto;
//-moz-hyphens: auto;
//-ms-hyphens: auto;
//hyphens: auto;
*/

ul,ol {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  list-style:none;
}
dl,dd{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
p{
  margin: 0;
}
em{
  font-style: normal;
}
img {
  max-width: 100%;
}
.lt-ie9 img {
  width: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
/*.no-touch a:hover,
.no-touchevents a:hover{
    text-decoration: underline;
}*/
button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
button:focus{
  outline: none;
}
i {
  position:relative;
  display: inline-block;
  vertical-align: middle;
}
i .ico,
i img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

