@charset "UTF-8";

/* CSS Document */

.feat-content img {
	max-width: 100%;
}

.feat-btn-padding {
	padding: 0 5px;
}


/*slideshow overrides*/

.cycle-wrapper .cycle-caption {
	padding: 15px 0 14px 0;
}

.cycle-wrapper .cycle-container,
.cycle-wrapper .slideshow,
.cycle-wrapper .slide,
.cycle-wrapper .cycle-nav-vertical {
	overflow: hidden;
}

.cycle-wrapper .cycle-container a.nav-prev,
.cycle-wrapper .cycle-container a.nav-next,
.cycle-wrapper .cycle-caption {
	background-color: rgba(0, 0, 0, 0) !important;
}

.cycle-wrapper .cycle-container a.nav-prev {
	left: 3%;
}

.cycle-wrapper .cycle-container a.nav-next {
	right: 3%;
}

.cycle-wrapper .nav-next .nav-icon,
.cycle-wrapper .nav-prev .nav-icon {
	font-size: 8rem !important;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.cycle-wrapper .cycle-pager-feat {
	left: 50%;
	position: absolute;
	top: 100% !important;
	-webkit-transform: translate(-50%, -100%);
	-moz-transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	z-index: 699;
}

.cycle-wrapper .cycle-pager-feat .pager {
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	/*0px 0px 15px rgba(0,0,0,.6);*/
	width: 26px;
}

.cycle-wrapper .cycle-pager-feat .pager .fa-circle-o {
	display: inline;
}

.cycle-wrapper .cycle-pager-feat .pager .fa-circle {
	display: none;
}

.cycle-wrapper .cycle-pager-feat .cycle-pager-active .fa-circle-o {
	display: none;
}

.cycle-wrapper .cycle-pager-feat .cycle-pager-active .fa-circle {
	display: inline;
}


/*****************************/


/**MOBILE SPECIFIC OVERRIDES**/


/*****************************/


/*OVERRIDES FOR FAKE MOBILE NAV*/

.mobile-fake-nav-20160109 {
	padding: 35px 6px;
}

.mobile-fake-nav-btn-padding {
	padding: 0 2%;
}

p.mobile-fake-nav-top-cta-btn {
	background-color: rgba(20, 20, 20, 0);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: black;
	font-size: 1.1rem;
	padding: 10px 8px;
	text-align: center;
}

p.mobile-fake-nav-cta-btn {
	background-color: rgba(20, 20, 20, 0);
	border-bottom: 1px solid black;
	color: black;
	font-size: 1.1rem;
	padding: 0 8px 10px;
	text-align: center;
}

.border-rt {
	border-right: 1px solid black;
}

@media (max-width: 767px) and (min-width: 1px) {
	.border-rt {
		border-right: none !important;
		border-bottom: 1px solid black;
	}
}
