@charset "UTF-8";

/* CSS Document */


/*MISC*/

.row.no-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.no-pad {
	padding: 0px !important;
}

.black-it {
	color: black !important;
}

.white-it {
	color: white !important;
}

.auto-width {
	width: auto !important;
}

.full-width {
	width: 100% !important;
}

.flex-it {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-it .col-sm-6 {
	width: 100%;
}


/*end MISC*/


/*FLEX */

.row-eq-height-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-content: center;
	align-content: center;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-moz-box-align: center;
}

.row-eq-height-top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-content: flex-start;
	align-content: flex-start;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-items: flex-start;
}

.row-eq-height-bottom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-content: flex-end;
	align-content: flex-end;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	align-items: flex-end;
}


/*end FLEX*/


/*BUTTONS*/

.border-gray {
	border: #ccc solid 1px !important;
}

.border-dk {
	border: black solid 1px !important;
}

.border-lt {
	border: white solid 1px !important;
}

.broder-trans {
	border: transparent !important;
}

button.lt:hover,
button.lt-all:hover,
button.dk:hover,
a.le-btn:hover {
	text-decoration: none !important;
}

button.lt {
	background-color: rgba(255, 255, 255, 1);
	color: black;
	font-family: "lato", sans-serif;
	font-size: 1.3rem !important;
	margin: 5px 0 5px;
	padding: 10px 15px;
	/*	line-height: 40px;*/
	border: none;
	text-transform: uppercase;
}

button.lt-all {
	background-color: rgba(255, 255, 255, 1);
	color: black;
	font-family: "lato", sans-serif;
	font-size: 1.4rem !important;
	margin: 5px 0 5px;
	padding: 10px 15px;
	/*	line-height: 40px;*/
	border: 1px solid black;
	text-transform: uppercase;
}

button.dk {
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
	font-family: "lato", sans-serif;
	font-size: 1.4rem !important;
	margin: 5px 0 5px;
	padding: 10px 15px;
	/*	line-height: 40px;*/
	border: none;
	text-transform: uppercase;
}

button.trans-dk {
	background-color: transparent;
	border: 1px solid #000;
	color: #000;
	font-family: "lato", sans-serif;
	font-size: 1.4rem !important;
	margin: 5px 0 5px;
	padding: 10px 15px;
	/*	line-height: 40px;*/
	text-transform: uppercase;
}

button.trans-lt {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-family: "lato", sans-serif;
	font-size: 1.4rem !important;
	margin: 5px 0 5px;
	padding: 10px 15px;
	/*	line-height: 40px;*/
	text-transform: uppercase;
}

.btn-xs-6,
.btn-xs-12 {
	width: auto !important;
	display: inline;
}


/*end BUTTONS*/


/* TABS*/

#tab-subs .sz-rel-copy {
	position: relative;
	text-align: center;
	padding: 15px 5px;
}


/*TABS*/


/*CENTER-ALL*/

.center-all,
.center-all-m,
.center-all-bg {
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	padding: 10px;
	left: 0px;
	right: 0px;
}


/*end CENTER-ALL*/


/*HIDE/SHOW w/DATA IDs*/

.show-it {
	display: none;
	padding: 15px;
	height: auto;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}


/*end HIDE/SHOW W/DATA IDs*/


/*FONTS*/

.lato-reg {
	font-family: "lato", sans-serif;
	font-weight: 200;
}

.lato-black {
	font-family: "lato", sans-serif;
	font-weight: bold;
}

h1.lg-title {
	font-size: 4.5rem !important;
	line-height: 45px !important;
	z-index: 10;
	font-weight: bold;
	font-family: "lato", sans-serif;
	padding: 5px 0 5px;
	margin: auto;
	text-transform: uppercase;
}

h1.sm-title {
	font-size: 2.7rem !important;
	letter-spacing: 0.1rem;
	font-weight: normal;
	font-family: "lato", sans-serif;
	padding: 5px 0 5px;
	margin: auto;
}

h2.lg-title {
	font-size: 3rem !important;
	z-index: 10;
	font-weight: bold;
	font-family: "lato", sans-serif;
	padding: 5px 0 5px;
	margin: auto;
}

h2.sm-title {
	font-size: 2rem !important;
	letter-spacing: 0.05rem;
	font-weight: normal;
	font-family: "lato", sans-serif;
	padding: 5px 0 5px;
	margin: auto;
}

h3.lg-title {
	font-size: 2.8rem !important;
	z-index: 10;
	font-weight: bold;
	font-family: "lato", sans-serif;
	padding: 5px 0 5px;
	margin: auto;
}

h3.sm-title {
	font-size: 1.8rem !important;
	letter-spacing: 0.05rem;
	font-weight: normal;
	font-family: "lato", sans-serif;
	padding: 5px 0 5px;
	margin: auto;
}

h4.lg-title {
	font-size: 2.4rem !important;
	z-index: 10;
	font-weight: bold;
	font-family: "lato", sans-serif;
	padding: 5px 0 5px;
	margin: auto;
}

h4.sm-title {
	font-size: 1.4rem !important;
	letter-spacing: 0.05rem;
	font-weight: normal;
	font-family: "lato", sans-serif;
	padding: 5px 0 5px;
	margin: auto;
}

.txt-shadow {
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}

.txt-uppercase {
	text-transform: uppercase !important;
}

.txt-inherit {
	text-transform: inherit !important;
}

.txt-lowercase {
	text-transform: lowercase !important;
}

.txt-left {
	text-align: left !important;
}

.txt-center {
	text-align: center !important;
}

.txt-right {
	text-align: right !important;
}


/*end FONTS*/


/*CENTERED TABLE*/

.table-row {
	display: table;
}

.table-centered,
.table-centered-m {
	vertical-align: middle;
	display: table-cell;
	float: none;
}


/*end CENTERED TABLE*/


/*start MOBILE NAV*/

.nav-border-top {
	border-top: 1px solid black;
}

.nav-xs-title {
	font-family: 'lato';
	font-size: 1.2rem;
	font-weight: 800;
	text-transform: uppercase;
	padding-bottom: 15px;
	padding-top: 30px;
	text-align: center;
}

.nav-xs-6 {
	position: relative;
	display: inline-block;
	width: 45%;
	border-bottom: 1px solid black;
	margin-left: 2%;
	margin-right: 2%;
}

.nav-xs-6-btn {
	border: 1px solid black;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	position: relative;
	width: 45%;
}

.mobile-btn {
	background-color: rgba(255, 255, 255, 1);
	display: inline-block !important;
	font-family: "lato", sans-serif;
	font-size: 1.1rem;
	margin: 0;
	padding: 10px 5px;
	text-transform: uppercase;
	transition: all 0.3s ease 0.075s;
	width: 100%;
	text-align: center;
	line-height: 20px;
}


/*end MOBILE NAV*/

@media (max-width: 1199px) {}

@media (max-width: 991px) {
	button.dk,
	button.lt,
	button.lt-all,
	button.trans-lt,
	button.trans-dk {
		font-size: 1.1rem !important;
		/*padding: 0px 18px;
		line-height: 30px;*/
	}
	h1.lg-title {
		font-size: 2.8rem !important;
	}
	h1.sm-title {
		font-size: 1.8rem !important;
	}
	h2.lg-title {
		font-size: 2.6rem !important;
	}
	h2.sm-title {
		font-size: 1.6rem !important;
	}
	h3.lg-title {
		font-size: 2.4rem !important;
	}
	h3.sm-title {
		font-size: 1.4rem !important;
	}
	h4.lg-title {
		font-size: 2rem !important;
	}
	h4.sm-title {
		font-size: 1.2rem !important;
	}
}

@media screen and (min-width: 1px) and (max-width: 767px) {
	/*MOBILE MISC*/
	.auto-width {
		width: 100% !important;
	}
	.black-it-m {
		color: black !important;
	}
	.white-it-m {
		color: white !important
	}
	.flex-it {
		display: block;
	}
	/*end MOBILE MISC*/
	/*TAB MOBILE SPACING*/
	#tab-subs .col-xs-12 {
		padding-top: 20px !important;
	}
	#tab-subs .col-xs-12:last-child {
		padding-bottom: 20px !important;
	}
	/*end TAB MOBILE SPACING*/
	/*MOBILE FONTS*/
	h1.lg-title {
		font-size: 2.4rem !important;
	}
	h1.sm-title {
		font-size: 1.8rem !important;
		margin: 0 0 20px !important;
	}
	h2.lg-title {
		font-size: 2.2rem !important;
	}
	h2.sm-title {
		font-size: 1.6rem !important;
	}
	h3 {
		font-size: 1.8rem !important;
	}
	h3.lg-title {
		font-size: 2rem !important;
	}
	h3.sm-title {
		font-size: 1.4rem !important;
	}
	h4.lg-title {
		font-size: 1.8rem !important;
	}
	h4.sm-title {
		font-size: 1.2rem !important;
	}
	/*end MOBILE FONTS*/
	/*MOBILE BUTTONS*/
	button.dk,
	button.lt,
	button.lt-all,
	button.trans-lt,
	button.trans-dk {
		font-size: 1rem !important;
		/*padding: 0px 15px;
		line-height: 30px;*/
	}
	.m-btn-bg {
		background-color: #16232c;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.m-btn-bg button.lt,
	.m-btn-bg button.trans-lt,
	.m-btn-bg button.trans-dk,
	.m-btn-bg button.dk {
		background-color: rgba(35, 35, 35, 0.7);
		border: 1px solid white;
		color: white;
	}
	.m-btn-bg button.lt-all {
		background-color: rgba(255, 255, 255, 0.7);
		border: 1px solid black;
		color: black;
	}
	.m-btn-bg .btn-xs-6:nth-child(odd) {
		padding-right: 5px;
		padding-left: 10px;
	}
	.m-btn-bg .btn-xs-6:nth-child(even) {
		padding-left: 5px;
		padding-right: 10px;
	}
	.center-all .row.m-btn-bg:nth-child(odd),
	.sz-rel-copy .row.m-btn-bg:nth-child(odd) {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.center-all .row.m-btn-bg:nth-child(even),
	.sz-rel-copy .row.m-btn-bg:nth-child(even) {
		padding-bottom: 10px;
		padding-top: 10px;
		margin-top: -20px;
	}
	.btn-xs-6 {
		width: 50% !important;
		float: left !important;
	}
	.btn-xs-12 {
		width: 100% !important;
		float: left !important;
		padding-right: 10px;
		padding-left: 10px;
	}
	/*end MOBILE BUTTONS*/
	/*MOBILE CENTER-ALL*/
	.center-all {
		position: relative;
		text-align: center;
		top: 0%;
		-webkit-transform: translateY(-0%);
		-moz-transform: translateY(-0%);
		-ms-transform: translateY(-0%);
		transform: translateY(-0%);
		width: 100%;
		padding: 10px 0px !important;
	}
	/*end MOBILE CENTER-ALL*/
	/*MOBILE TABLE CENTERED*/
	.table-centered {
		display: block;
		float: none;
		vertical-align: middle;
	}
	/*end MOBILE TABLE CENTERED*/
}
