@charset "UTF-8";

/* CSS Document */
.shop-our-brand{
	padding-bottom:45px;
	padding-top:20px;
	color:#54524e;
}
.mid-subs a {
	color:#54524e; !important;
}

.mid-subs a:hover {
	text-decoration: none;
}

.hp-description {
	color:#54524e;
	padding: 15px;
}

.hp-description p.lato-black {
	font-size: 1.6rem;
	padding-top: 10px;
	line-height: 16px;
}

.hp-description p {
	line-height: 15px;
}

.hp-description p.text-link {
	line-height: 25px;
	padding-top: 5px;
}

.mid-row-content {
	background-color: #efefef;
}

.mid-row-content img {
	max-width: 100%;
}

.top-subs,
.social-subs {
	max-width: 95%;
	margin: auto;
	padding-top: 5%;
	padding-left: 1%;
	padding-right: 1%;
}

.col-xs-6.col-sm-6.col-md-4.mid-subs {
	background-color: white;
	border: 20px solid #efefef;
	/*size overrid for FLEXBOX on safari and ipad*/
	width: 33.3% !important;
	/*size overrid for FLEXBOX*/
}


/*HP EMAIL SIGNUP STYLES*/

#hp-email-signup {
	/*control height of container*/
	position: relative;
	color: black;
	padding: 0 3%;
}

#hp-email-signup .hp-form-container {
	margin: auto;
	max-width: 450px;
	padding: 10px 0 0;
}
#hp-email-signup h3{
	color:#54524e;
}
#hp-email-signup p{
	color:#54524e;
	padding-bottom: 15px;
	max-width: 600px;
	margin: auto;
}
#hp-email-signup form .input-group .input-group-addon {
	background-color: rgba(0, 0, 0, 0) !important;
}

/*INSTAGRAM BANNER*/

.social-insta-bg{
	position:relative;
	background-image:url('/hpincludes/mid-row/images/20161103-insta.jpg');
	background-size:cover;
	padding-bottom: 21.81%;
	min-height:350px;
	background-position:center;
}

@media (max-width: 991px) and (min-width: 768px) {
	/*size overrid for FLEXBOX on safari and ipad*/
	.col-xs-6.col-sm-6.col-md-4.mid-subs {
		width: 49.9% !important;
	}
	/*size overrid for FLEXBOX on safari and ipad*/
}

@media (max-width: 767px) and (min-width: 1px) {
	.col-xs-6.col-sm-6.col-md-4.mid-subs {
		background-color: white;
		border: 8px solid #efefef;
		/*size overrid for FLEXBOX on safari and ipad*/
		width: 49.8% !important;
		/*size overrid for FLEXBOX on safari and ipad*/
	}
	.col-xs-6.col-sm-6.col-md-4.mid-subs {
		padding: 0px !important;
	}
	.shop-our-brand{
		padding-bottom:10px;
	}
	.hp-description {
		background-color: white;
		padding: 10px;
	}
	.hp-description p.text-link {
		line-height: 10px;
		padding-top: 5px;
	}
	.hp-description p.lato-black {
		font-size: 1.4rem;
		padding-top: 0px;
		line-height: 14px;
		letter-spacing: 0px;
	}
	.hp-description p {
		line-height: 12px;
		font-size: 1.2rem;
	}
	.midrow-block {
		margin-bottom: 20px;
	}
	.mid-row-content {
		width: 100%;
		margin: auto;
		background-color: #ffffff;
	}
	p.cta-m {
		text-decoration: underline;
		color: inherit;
		font-size: 1.2rem;
	}
	.midrow-block:hover p.cta-m,
	.midrow-block:focus p.cta-m {
		text-decoration: underline;
	}
	.midrow-block a:hover,
	.midrow-block a:focus {
		text-decoration: none;
	}
	#hp-email-signup .hp-form-container {
		padding: 10px 0 30px;
	}
	.social-insta-bg{
		height:175px;
		min-height: 0;
	}
}
