[clearfix]:before,[clearfix]:after{content:"";display:table}[clearfix]:after{clear:both}@-webkit-keyframes spin{100%{-webkit-transform:rotate(360deg)}}.layout-responsive #content{background:#fff;padding-left:12px;padding-right:12px}@media screen and (min-width: 600px){.layout-responsive #content{padding-left:24px;padding-right:24px}}@media screen and (min-width: 1024px){.layout-responsive #content{padding-left:48px;padding-right:48px}}.layout-responsive #page,.layout-responsive .footer .footer-content{width:auto;max-width:1000px;margin:0 auto}.layout-responsive #content-3,.layout-responsive .item{width:100%}@media screen and (min-width: 600px){.layout-responsive .item{width:32%;max-width:316px}}@media screen and (min-width: 1024px){.layout-responsive #content-3{width:25.44%;max-width:25.44%}}@media screen and (min-width: 840px) and (max-width: 1023px){.layout-responsive.blogs #content-3{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.layout-responsive.blogs #content-3 .widget{width:30%}}.layout-responsive #content-1,.layout-responsive .full-width-content #content-2,.layout-responsive .full-width-content #content-2 .item-count-1 .item,.layout-responsive #content-3,.layout-responsive #content-4,.layout-responsive #content-5,.layout-responsive #content-5 .layout-6x1 .item{width:100%}.layout-responsive #gallery,.layout-responsive #content-2 .item-count-1 .item{width:100%}@media screen and (min-width: 600px){.layout-responsive #gallery,.layout-responsive #content-2 .item-count-1 .item{width:66%}}.layout-responsive #content-2{width:100%}@media screen and (min-width: 1024px){.layout-responsive #content-2{width:69.56%;margin-right:5%}}.layout-responsive #content-5 .layout-6x1 .module{width:100%}@media screen and (min-width: 600px){.layout-responsive #content-5 .layout-6x1 .module{width:15%;max-width:149px}}.layout-responsive .footer .footer-legals li.desktop{display:none}
/* CAROUSEL */
/* ------------------------------ */
.carousel-slider-inactive-tabs, .carousel-slider-inactive-tab {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-widget.module {
    width: 649px;
    background: #fff;
    border-right: 1px solid #eee;
}

.carousel-widget.module .module-header {
    height: 36px;
    margin-bottom: 0;
    background-color: #fff;
}

.carousel-widget.module .module-header .heading {
    display: inline-block;
}

.carousel-widget.module .module-header .heading a {
    color: #fff;
}

.carousel-wrapper {
    height: 304px;
    width: 649px;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.carousel-items {
    display: inline-block;
    height: 600px;
    width: 3600px;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 0px;
}

.carousel-item {
    width: 316px;
    height: 301px;
    float: left;
    position: relative;
    margin: 0 -43px;
    -webkit-transform: none !important;
    /* disabling the scale css rule added by CoverFlow which caused unwanted cropping on mobile iOS */
}

.carousel-item img {
    width: 316px;
}

.carousel-item .image-block {
    width: 316px;
    box-shadow: 1px -1px 14px -7px #000;
    background: #fff;
}

.carousel-item .story-block {
    display: none;
    width: 316px;
    height: 58px;
    box-shadow: 1px -1px 14px -7px #000;
    background: #fff;
}

.carousel-item .story-block .heading {
    width: 300px;
    float: left;
    font-size: 23px;
    line-height: 24px;
    height: 53px;
    overflow: hidden;
}

.carousel-item.active {
    height: 301px;
}

.carousel-item.active .story-block {
    display: block;
}

.carousel-nav {
    position: absolute;
    width: 650px;
    top: 110px;
    height: 35px;
}

.carousel-nav a {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    font: 20px/20px "brandify",sans-serif;
    text-indent: -100px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 10;
    transition: background 0.12s;
}

.carousel-nav a:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-indent: 0;
    text-align: center;
    line-height: 34px;
}

.carousel-nav a.prev:before {
    content: '\e601';
}

.carousel-nav a.next {
    left: auto;
    right: 1px;
}

.carousel-nav a.next:before {
    content: '\e600';
}

.carousel-nav a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-nav a.inactive {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: default;
}

.carousel-slider-wrapper {
    position: relative;
    height: 7px;
    width: 100%;
}

.carousel-slider {
    position: relative;
    margin-top: 20px;
    height: 7px;
    width: 100%;
}

.carousel-slider-inactive-tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
}

.carousel-slider-inactive-tab {
    display: block;
    float: left;
    height: 7px;
    width: 100%;
    background: #d9d9d9;
}

.carousel-slider-inactive-tab + .carousel-slider-inactive-tab {
    box-shadow: inset 1px 0 0 #fff;
}

.carousel-slider-wrapper .ui-slider-handle {
    top: -2px;
    margin-left: 0px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: none;
    outline: none;
}

.carousel-slider-wrapper .ui-slider-handle:before {
    content: " ";
    position: absolute;
    top: 2px;
    left: 0;
    height: 7px;
    width: 100%;
    overflow: hidden;
    text-indent: -100px;
    box-shadow: inset 1px 0 0 #fff;
}

.carousel.item-count-2 .ui-slider-horizontal {
    width: 50%;
}

.carousel.item-count-2 .ui-slider-handle {
    width: 100%;
}

.carousel.item-count-2 .carousel-slider-inactive-tab {
    width: 50%;
}

.carousel.item-count-3 .ui-slider-horizontal {
    width: 66.6666666667%;
}

.carousel.item-count-3 .ui-slider-handle {
    width: 50%;
}

.carousel.item-count-3 .carousel-slider-inactive-tab {
    width: 33.3333333333%;
}

.carousel.item-count-4 .ui-slider-horizontal {
    width: 75%;
}

.carousel.item-count-4 .ui-slider-handle {
    width: 33.3333333333%;
}

.carousel.item-count-4 .carousel-slider-inactive-tab {
    width: 25%;
}

.carousel.item-count-5 .ui-slider-horizontal {
    width: 80%;
}

.carousel.item-count-5 .ui-slider-handle {
    width: 25%;
}

.carousel.item-count-5 .carousel-slider-inactive-tab {
    width: 20%;
}

.carousel.item-count-6 .ui-slider-horizontal {
    width: 83.3333333333%;
}

.carousel.item-count-6 .ui-slider-handle {
    width: 20%;
}

.carousel.item-count-6 .carousel-slider-inactive-tab {
    width: 16.6666666667%;
}

.carousel.item-count-7 .ui-slider-horizontal {
    width: 85.7142857143%;
}

.carousel.item-count-7 .ui-slider-handle {
    width: 16.6666666667%;
}

.carousel.item-count-7 .carousel-slider-inactive-tab {
    width: 14.2857142857%;
}

.carousel.item-count-8 .ui-slider-horizontal {
    width: 87.5%;
}

.carousel.item-count-8 .ui-slider-handle {
    width: 14.2857142857%;
}

.carousel.item-count-8 .carousel-slider-inactive-tab {
    width: 12.5%;
}

.carousel.item-count-9 .ui-slider-horizontal {
    width: 88.8888888889%;
}

.carousel.item-count-9 .ui-slider-handle {
    width: 12.5%;
}

.carousel.item-count-9 .carousel-slider-inactive-tab {
    width: 11.1111111111%;
}

.carousel.item-count-10 .ui-slider-horizontal {
    width: 90%;
}

.carousel.item-count-10 .ui-slider-handle {
    width: 11.1111111111%;
}

.carousel.item-count-10 .carousel-slider-inactive-tab {
    width: 10%;
}

/*# sourceMappingURL=carousel.css.map */