.clear {clear: both;}


.footnotes
{
font-size:90%;
}

.contentItem table
{
    margin:25px 0 0;
}
#personal .contentItem table,
#personalHome .contentItem table,
#business .contentItem table,
#businessHome .contentItem table,
#premier .contentItem table,
#advance .contentItem table,
#genericPopupWin .contentItem table
{
    margin:15px 0 25px;
}
.grid .contentItem table
{
    width:940px;
}
.grid .grid_18 .contentItem table
{
    width:700px;
}
.grid .grid_17 .contentItem table
{
    width:660px;
}
.grid .grid_16 .contentItem table
{
    width:620px;
}
.grid .grid_12 .contentItem table
{
    width:460px;
}
.contentItem table th,
.contentItem table td
{
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    padding:9px 20px;
}
.contentItem table thead tr th
{
    background-color:#dbdcdd;
    color:#000;
    font-weight:bold;
    font-size:87.5%;
    line-height:20px;
    padding:8px 20px;
}
.contentItem table thead tr th span
{
    display:block;
    font-weight:normal;
    padding:0 0 4px;
    font-size:85.71%;
}
.contentItem table tr th,
.contentItem table tr td
{
    background-color:#f0f0f0;
    color:#4c4c4c;
    font-size:75%;
    line-height:18px;
}
.contentItem table tr th
{
    color:#000;
    font-weight:bold;
}
.contentItem table tr.odd th,
.contentItem table tr.odd td
{
    background-color:#e4e4e4;
}
#grid img,
.jqmWindow img
{
    vertical-align:bottom;
}
#grid .grid_18 .contentItem img,
#genericPopupWin #grid_18 .contentItem img
{
    padding:10px 10px 20px 0;
}
#grid .grid .contentItem img.left,
#genericPopupWin #grid .contentItem img.left
{
    float:left;
    padding:5px 20px 15px 0;
}
#grid .grid .contentItem img.right,
#genericPopupWin #grid .contentItem img.right
{
    float:right;
    padding:5px 10px 15px 25px;
}
#grid p,
#grid li,
.jqmWindow p,
.jqmWindow li
{
    color:#333;
    font-size:75%;
}
.jqmWindow a,
#fixed-table-header a,
#productComparison td a,
#grid a
{
    color:#333;
    text-decoration:none;
}
#grid h2,
#grid h3,
#grid h4,
#grid h5
{
    color:#000;
    font-weight:bold;
}
#grid h2 a,
#grid h3 a,
#grid h4 a,
#grid h5 a
{
    color:#000;
}
.jqmWindow a:hover,
.jqmWindow a:active,
.jqmWindow a:focus,
#fixed-table-header a:hover,
#fixed-table-header a:active,
#fixed-table-header a:focus,
#productComparison td a:hover,
#productComparison td a:active,
#productComparison td a:focus,
#grid a:hover,
#grid a:active,
#grid a:focus
{
    text-decoration:underline;
}
.jqmWindow .productItem,
#grid .productItem,
.jqmWindow .productRow,
#grid .productRow,
#grid .contentItem
{
    float:left;
}
.jqmWindow .grid .productItem p,
.jqmWindow .grid_8 .scroll p,
#grid .contentItem p,
#grid .productItem p
{
    line-height:18px;
    padding:0 0 10px;
}
#grid .contentItem p.intro,
#grid .productItem p.intro
{
    line-height:24px;
    font-size:112.5%;
    color:#000;
}
#grid .contentItem #smallPrint,
#grid .productItem #smallPrint
{
    background:url("../images/content/border_grey.gif") left top no-repeat;
    float:left;
    margin:20px 0 0;
    padding:21px 0 0;
    width:100%;
}
#grid .productItem #smallPrint
{
    margin:10px 0 0;
    padding:11px 0 0;
}
#grid .contentItem #smallPrint p,
#grid .contentItem p.note,
#grid .productItem #smallPrint p
{
    font-size:68.75%;
    padding:0 15px 5px 0;
    line-height:17px;
    color:#666;
}
#grid .contentItem #smallPrint p a,
#grid .productItem #smallPrint p a
{
    color:#666;
}
#grid .contentItem p.note,
#grid .contentItem p.note a
{
    color:#999;
}
#grid .contentItem ul,
#grid .contentItem ul li,
#grid .productItem ul,
#grid .productItem ul li,
.jqmWindow .grid_8 .column ul,
.jqmWindow .grid_8 .column ul li,
#grid .grid .grid_8 .column ul,
#grid .grid .grid_8 .column ul li
{
    float: none;
    list-style:disc outside none;
}
#grid .contentItem ol,
#grid .contentItem ol li,
#grid .productItem ol,
#grid .productItem ol li,
.jqmWindow .grid_8 .column ol,
.jqmWindow .grid_8 .column ol li,
#grid .grid .grid_8 .column ol,
#grid .grid .grid_8 .column ol li
{
    float: none;
    list-style:decimal outside none;
}
#grid .contentItem ol,
#grid .productItem ol,
.jqmWindow .grid_8 .column ol,
#grid .grid .grid_8 .column ol
{
    padding:0 0 5px 20px;
}
#grid .productItem ul,
#grid .contentItem ul,
.jqmWindow .grid_8 .column ul,
#grid .grid .grid_8 .column ul
{
    padding:0 0 5px 15px;
}
#grid .contentItem li,
#grid .productItem li,
.jqmWindow .grid_8 .column li,
#grid .grid .grid_8 .column li
{
    line-height:18px;
    padding:0 0 5px;
}
#grid .contentItem table a,
#grid .contentItem p a,
#grid .contentItem li a,
#grid .productItem p a,
#grid .productItem li a,
.jqmWindow .grid_8 .column li a,
.jqmWindow .grid_8 .column p a,
#grid .grid .grid_8 .column li a,
#grid .grid .grid_8 .column p a
{
    text-decoration:underline;
	outline:0 none;
}
#grid .contentItem table a:hover,
#grid .contentItem table a:active,
#grid .contentItem table a:focus,
#grid .contentItem p a:hover,
#grid .contentItem p a:active,
#grid .contentItem p a:focus,
#grid .contentItem li a:hover,
#grid .contentItem li a:active,
#grid .contentItem li a:focus,
#grid .productItem p a:hover,
#grid .productItem p a:active,
#grid .productItem p a:focus,
#grid #smallPrint p a:hover,
#grid #smallPrint p a:active,
#grid #smallPrint p a:focus,
#grid .productItem li a:hover,
#grid .productItem li a:active,
#grid .productItem li a:focus,
.jqmWindow .grid_8 .column p a:hover,
.jqmWindow .grid_8 .column p a:active,
.jqmWindow .grid_8 .column p a:focus,
.jqmWindow .grid_8 .column li a:hover,
.jqmWindow .grid_8 .column li a:active,
.jqmWindow .grid_8 .column li a:focus,
#grid .grid .grid_8 .column p a:hover,
#grid .grid .grid_8 .column p a:active,
#grid .grid .grid_8 .column p a:focus,
#grid .grid .grid_8 .column li a:hover,
#grid .grid .grid_8 .column li a:active,
#grid .grid .grid_8 .column li a:focus
{
    color:#db0011;
}
#grid .contentItem table a:active,
#grid .contentItem table a:focus,
#grid .contentItem p a:active,
#grid .contentItem p a:focus,
#grid .contentItem li a:active,
#grid .contentItem li a:focus,
#grid .productItem p a:active,
#grid .productItem p a:focus,
#grid .productItem li a:active,
#grid .productItem li a:focus,
.jqmWindow .grid_8 .column p a:active,
.jqmWindow .grid_8 .column p a:focus,
.jqmWindow .grid_8 .column li a:active,
.jqmWindow .grid_8 .column li a:focus,
#grid .grid .grid_8 .column p a:active,
#grid .grid .grid_8 .column p a:focus,
#grid .grid .grid_8 .column li a:active,
#grid .grid .grid_8 .column li a:focus
{
    /*outline:1px solid #db0011;*/
	outline:0 none;
}
#businessHome #grid .grid .contentItem ul li a
{
    text-decoration:none;
}
#businessHome #grid .grid .contentItem ul li a:hover,
#businessHome #grid .grid .contentItem ul li a:active,
#businessHome #grid .grid .contentItem ul li a:focus
{
    color:#333;
    text-decoration:underline;
    outline:0;
}
#grid .contentItem h2,
#grid .contentItem h3,
#businessHome #grid .grid .contentItem h4,
#business #grid .grid_17 .contentItem h4
{
    font-size:100%;
    line-height:20px;
    padding:0 0 10px;
}
#grid .contentItem h2 a,
#grid .contentItem h3 a,
#grid .contentItem h4 a,
#grid .contentItem h5 a,
#searchResults .searchListing h4 a
{
    background:url("../images/content/lrg_red_arrow.gif") right bottom no-repeat;
    padding:0 11px 0 0;
    line-height:19px;
}
#advance #grid .contentItem h3 a,
#premier #grid .contentItem h3 a
{
    background:url("../images/content/lrg_red_arrow_down.gif") right bottom no-repeat;
    padding:0 15px 0 0;
}
#grid .grid_17 .contentItem h3,
#grid .grid_18 .contentItem h3,
#personal #grid .grid_12 .contentItem h3,
#businessHome .grid_12 .contentItem h3,
#genericPopupWin .contentItem h3,
.jqmWindow .grid .productItem h2,
#grid .grid .productItem h2,
.jqmWindow .grid .productItem h3,
#grid .grid .productItem h3,
#advance #grid .grid .menu .contentItem h2
{
    line-height:34px;
    font-size:175%;
}
#grid .grid .contentItem h4
{
    line-height:26px;
    font-size:125%;
    padding:0 0 10px;
}
.jqmWindow .grid .productItem h4,
#grid .grid .productItem h4,
#grid .grid .contentItem h5
{
    line-height:22px;
    font-size:100%;
    padding:0 0 10px;
}
.jqmWindow .grid .productItem h5,
#grid .grid .productItem h5
{
    line-height:18px;
    font-size:75%;
    padding:0 0 10px;
}
#personal .grid_12 .contentItem img,
#businessHome .grid_12 .contentItem img
{
    padding:10px 0 0;
}
#personalHome .grid_12 .contentItem h2,
#businessHome .grid_12 .contentItem h2,
#businessHome .grid_12 .contentItem h4
{
    line-height:30px;
    font-size:150%;
    padding:10px 0;
}
#grid .grid_6 .contentItem h2,
#businessHome #grid .grid .contentItem h4
{
    padding:0 0 6px;
}
#grid .grid_18 .contentItem p,
#grid .grid_17 .contentItem p,
#grid .grid_12 .contentItem p
{
    padding:0 15px 10px 0;
}
#grid .grid_17 .contentRow p.intro
{
    line-height:20px;
    font-size:87.5%;
    font-weight:bold;
    padding:0 15px 14px 0;
}
#grid .grid_7 .contentRow h3
{
    font-weight:normal;
    font-size:125%;
    padding:0 0 15px;
    line-height:24px;
}
#grid .grid_18 .contentRow .contentItem h2,
#grid .grid_18 .contentRow .contentItem h4,
#grid .grid_17 .contentRow .contentItem h2,
#business #grid .grid_7 .contentRow .contentItem h4
{
    padding:0 0 6px;
    font-size:100%;
    line-height:20px;
}
#grid .grid_17 .contentRow .contentItem h2,
#businessHome .grid_18 .contentItem p
{
    padding:0 0 10px;
}
#premier #grid .grid .contentRow .contentItem,
#advance #grid .grid .contentRow .contentItem
{
    width:620px;
    padding:0 20px 0 0;
    position:relative;
}
#premier #grid .grid .menu .contentItem,
#advance #grid .grid .menu .contentItem
{
    width:460px;
}
#premier #grid .grid .contentItem p,
#advance #grid .grid .contentItem p
{
    padding:0 10px 10px 0;
}
#premier #grid .grid .contentRow .contentItem p.intro,
#advance #grid .grid .contentRow .contentItem p.intro,
#premier #grid .grid .column p.intro,
#advance #grid .grid .column p.intro
{
    font-size:100%;
    line-height:22px;
    padding:0 20px 30px 0;
}
#grid .grid .contentRow .contentItem img
{
    float:left;
    padding:0 25px 0 0;
}
#grid .grid .menu .contentItem img
{
    float:none;
    padding:15px 0 0;
}
#grid .grid .caption
{
    position:absolute;
    bottom:0;
    left:0;
    width:250px;
    background:#000;
    opacity:0.9;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter:alpha(opacity=90);
}
#grid .grid .menu .caption
{
    width:460px;
}
#premier #grid .grid .contentItem .caption p,
#advance #grid .grid .contentItem .caption p
{
    padding:7px 15px 8px;
    color:#fff;
    line-height:20px;
    font-weight:bold;
}
#grid .grid .caption p a
{
    color:#fff;
    text-decoration:none;
}
#grid .grid .caption p a:hover,
#grid .grid .caption p a:active,
#grid .grid .caption p a:focus
{
    text-decoration:underline;
    color:#fff;
    outline:0;
}
#grid .grid_18 .contentRow .contentItem
{
    width:320px;
    padding:10px 30px 0 0;
}
#businessHome .grid_18 .contentRow .contentItem
{
    width:220px;
    padding:0 20px 23px 0;
}
#grid .grid_6 .contentItem img,
#business #grid .grid_7 .contentItem img
{
    padding:0 0 10px;
    border:0;
    float:none;
}
#grid .grid a.backtoTop
{
    background:url("../images/content/sml_red_arrow_up.gif") left center no-repeat;
    display:block;
    font-size:75%;
    line-height:15px;
    float:left;
    padding:0 0 0 15px;
}
#grid .grid .compare a.backtoTop
{
    float:right;
    padding:9px 15px;
}
#grid .grid_17 .contentRow .contentItem a.backtoTop
{
    bottom:10px;
    position:absolute;
    right:15px;
}
.jqmWindow a.greyBtn,
.jqmWindow a.redBtn,
#grid a.greyBtn,
#grid a.redBtn
{
    background:url("../images/content/bg_lightgrey_btn_left.gif") left top no-repeat;
    display:block;
    font-weight:bold;
    float:left;
    padding:0 0 0 4px;
    color:#000;
    margin:0 10px 0 0;
}
.jqmWindow a.redBtn,
#grid a.redBtn
{
    background:url("../images/content/bg_btn_left.gif") left top no-repeat;
    color:#fff;
}
#grid .prev a.greyBtn
{
    background:url("../images/content/bg_lightgrey_btn_right.gif") right top no-repeat;
    padding:0 4px 0 0;
}
#grid .column .apply a.redBtn
{
    margin:0 0 15px;
    clear:both;
}
#premier #grid .about a.greyBtn
{
    background-image:url("../images/content/bg_purple_btn_left.gif");
    color:#fff;
}
#grid .about a.greyBtn,
#premier .grid_8 .promo a.greyBtn,
#premier #grid .about a.greyBtn,
#grid .applyBox a.redBtn,
.jqmWindow .right a.redBtn,
#propositionDetails .right a.redBtn,
#productDetails .right a.redBtn
{
    margin:0;
}
#grid .compare a.greyBtn
{
    background-image:url("../images/content/bg_darkgrey_btn_left.gif");
    color:#fff;
    float:right;
    margin:0;
}
#grid .grid_18 .applyBox a.redBtn,
#grid .grid_17 .applyBox a.redBtn,
#grid .grid_16 .applyBox a.redBtn,
#grid .grid_12 .applyBox a.redBtn
{
    float:right;
}
.jqmWindow a.greyBtn:hover,
.jqmWindow a.redBtn:hover,
#grid a.greyBtn:hover,
#grid a.redBtn:hover
{
    color:#db0011;
    text-decoration:none;
}
.jqmWindow a.greyBtn:active,
.jqmWindow a.greyBtn:focus,
#grid a.greyBtn:active,
#grid a.greyBtn:focus
{
    color:#db0011;
}
.jqmWindow a.redBtn:hover,
.jqmWindow a.redBtn:active,
.jqmWindow a.redBtn:focus,
#grid a.redBtn:hover,
#grid a.redBtn:active,
#grid a.redBtn:focus,
#grid .compare a.greyBtn:hover,
#grid .compare a.greyBtn:active,
#grid .compare a.greyBtn:focus
{
    color:#fff;
    background-image:url("../images/content/bg_btn_left_hover.gif");
}
#premier #grid .about a.greyBtn:hover,
#premier #grid .about a.greyBtn:active,
#premier #grid .about a.greyBtn:focus
{
    color:#d2caf9;
}
.jqmWindow a.greyBtn span,
.jqmWindow a.redBtn span,
#grid a.greyBtn span,
#grid a.redBtn span
{
    background:url("../images/content/bg_lightgrey_btn.gif") right top no-repeat;
    display:block;
    float:left;
    font-size:87.5%;
    line-height:14px;
    padding:9px 23px 10px 8px;
}

#grid #propositionDetails .right a.greyBtn span.eligChevron
{
    background:url("../images/content/bg_lightgrey_btn.gif") right top no-repeat;
}


#grid .about a.greyBtn span,
#premier .grid_8 .column a.greyBtn span,
#grid #propositionDetails .right a.greyBtn span,
#grid .applyBox a.greyBtn span,
#grid a.greyBtn span.new
{
    /*background-image:url("../images/content/bg_lightgrey_btn_new.gif");*/   
	  background-image:url("../images/content/bg_lightgrey_btn.gif");
	  padding:9px 35px 10px 8px;
}
#premier #grid .about a.greyBtn span
{
    background-image:url("../images/content/bg_purple_btn_new.gif");
}
.jqmWindow a.redBtn span,
#grid a.redBtn span
{
    background:#db0011 url("../images/content/bg_btn.gif") right top no-repeat;
    padding:9px 12px 10px 8px;
}
#grid .prev a.greyBtn span
{
    background:url("../images/content/bg_lightgrey_btn_prev.gif") left top no-repeat;
    padding:9px 8px 10px 23px;
}
#grid .compare a.greyBtn span
{
    background:#494848 url("../images/content/bg_darkgrey_btn.gif") right top no-repeat;
    padding:9px 12px 10px 8px;
}
.jqmWindow a.redBtn:hover span,
.jqmWindow a.redBtn:active span,
.jqmWindow a.redBtn:focus span,
#grid a.redBtn:hover span,
#grid a.redBtn:active span,
#grid a.redBtn:focus span,
#grid .compare a.greyBtn:hover span,
#grid .compare a.greyBtn:active span,
#grid .compare a.greyBtn:focus span
{
    background:#db0011 url("../images/content/bg_btn_hover.gif") right top no-repeat;
}
#heroContainer
{
    padding:0 20px 0 0;
    width:940px;
}
#hero
{
    width:940px;
    z-index:1;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
    top:-10px;
    background-color:#626469;
}
#hero .carouselWrapper
{
    width:940px;
    overflow:hidden;
}
#hero .carouselWrapper ul
{
    width:9999px;
    margin:0;
    padding:0;
}
#hero ul li
{
    display:block;
    float:left;
    padding:0;
    height:340px;
    overflow:hidden;
    width:940px;
    background-color:#626469;
    font-size:100%;
}
#heroContainer .tabArticleText
{
    position:absolute;
    z-index:20;
    top:0;
    padding:30px;
    width:32em;
}
#carousel-2 .tabArticleText,
#carousel-3 .tabArticleText,
#carousel-4 .tabArticleText
{
    display:none;
}
#heroContainer .tabArticleText h2
{
    font-size:200%;
    line-height:36px;
    padding:0 0 6px;
    color:#000;
}
#heroContainer .tabArticleText p
{
    font-size:125%;
    line-height:24px;
    padding:0 0 12px;
    color:#000;
}
#heroContainer .bgLight,
#heroContainer .bgProp
{
    background:#fff;
    opacity:0.9;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter:alpha(opacity=90);
    width:25em;
    padding:20px;
    top:36px;
}
#heroContainer .bgLight
{
    width:32em;
}
#heroContainer .bgProp
{
    padding:20px 20px 20px 57px;
}
#heroContainer .advance
{
    padding:20px;
}
#heroContainer .bgProp .overline
{
    background:url("../images/content/horiz_ribbon.gif") left top no-repeat;
    height:340px;
    left:20px;
    opacity:0.9;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter:alpha(opacity=90);
    position:absolute;
    top:-36px;
    width:17px;
    z-index:50;
}
#heroContainer .advance .overline
{
    display:none;
}
#heroContainer .bgProp h2
{
    height:1%;
    font-size:1%;
    line-height:1%;
    padding:0;
}
#heroContainer .bgProp h2 img
{
    padding:0 0 15px;
}
#personalHome #heroContainer .tabArticleText p,
#personalHome #heroContainer .tabArticleText h2
{
    color:#fff;
}
#personalHome #heroContainer .bgLight p,
#personalHome #heroContainer .bgLight h2,
#personalHome #heroContainer .bgProp p,
#personalHome #heroContainer .bgProp h2
{
    color:#000;
}
#heroContainer .alignLeft
{
    left:0;
}
#heroContainer .alignRight
{
    right:0;
}
#hero li#carousel-1 .carouselTab,
#hero li#carousel-2 .carouselTab,
#hero li#carousel-3 .carouselTab,
#hero li#carousel-4 .carouselTab
{
    background:url("../images/content/carousel_divider_small.gif") center top no-repeat;
    opacity:0.9;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter:alpha(opacity=90);
    color:#fff;
    font-weight:bold;
    display:none;
    float:left;
    line-height:20px;
    padding:25px 10px 15px 25px;
    position:absolute;
    top:280px;
    z-index:50;
}
#personalHome #hero li#carousel-1 .carouselTab,
#personalHome #hero li#carousel-2 .carouselTab,
#personalHome #hero li#carousel-3 .carouselTab,
#personalHome #hero li#carousel-4 .carouselTab
{
    top:260px;
    background:url("../images/content/carousel_divider.gif") center top no-repeat;
}
#hero a#carouselTab1
{
    left:0;
    width:200px;
}
#hero a#carouselTab2
{
    left:235px;
    width:200px;
}
#hero a#carouselTab3
{
    left:470px;
    width:200px;
}
#hero a#carouselTab4
{
    left:705px;
    width:200px;
}
#hero li#carousel-1 .carouselTab
{
    background:url("../images/content/carousel_divider_small_1.gif") center top no-repeat;
}
#hero li#carousel-4 .carouselTab
{
    background:url("../images/content/carousel_divider_small_4.gif") center top no-repeat;
}
#personalHome #hero li#carousel-1 .carouselTab
{
    background:url("../images/content/carousel_divider_1.gif") center top no-repeat;
}
#personalHome #hero li#carousel-4 .carouselTab
{
    background:url("../images/content/carousel_divider_4.gif") center top no-repeat;
}
#hero li#carousel-1 a.current,
#hero li#carousel-2 a.current,
#hero li#carousel-3 a.current,
#hero li#carousel-4 a.current,
#personalHome #hero li#carousel-1 a.current,
#personalHome #hero li#carousel-2 a.current,
#personalHome #hero li#carousel-3 a.current,
#personalHome #hero li#carousel-4 a.current
{
    background:url("../images/content/carousel_arrow.gif") center top no-repeat;
}
#hero li#carousel-1 a.carouselTab:hover,
#hero li#carousel-2 a.carouselTab:hover,
#hero li#carousel-3 a.carouselTab:hover,
#hero li#carousel-4 a.carouselTab:hover
{
    text-decoration:none;
}
#productNav
{
    background:url("../images/content/border_grey.gif") left bottom no-repeat;
    float:left;
    width:940px;
    padding:26px 20px 16px 0;
}
#genericPopupWin #productNav
{
    background:url("../images/content/border_grey.gif") left bottom no-repeat;
    float:left;
    width:720px;
    padding:26px 0 16px;
}
#businessHome #productNav .branding,
#business #productNav .branding
{
    float:right;
    padding:5px 0 9px;
}
#productNav h2
{
    font-weight:normal;
    float:left;
    font-size:150%;
    padding:0 0 5px;
}
#productNav ul
{
    float:right;
}
#productNav ul li
{
    float:left;
    font-size:100%;
    padding:0;
    position:relative;
    z-index:100;
}
#productNav ul li a
{
    display:block;
    padding:12px 12px 12px 43px;
    background-color:#fff;
    background-position:8px center;
    line-height:20px;
    background-repeat:no-repeat;
}
#productNav ul li a.acctService
{
    padding:12px 0 12px 43px;
}
#productNav li a#accountsTab,
#grid .grid .accounts
{
    background-image:url("../images/content/productNavAccounts.gif");
}
#productNav li a#mortgagesTab,
#grid .grid .mortgages
{
    background-image:url("../images/content/productNavMortgages.gif");
}
#productNav li a#toolsTab,
#grid .grid .tools
{
    background-image:url("../images/content/productNavTools.gif");
}
#productNav li a#adviceTab,
#grid .grid .advice
{
    background-image:url("../images/content/productNavAdvice.gif");
}
#productNav li a#shareTab
{
    background-image:url("../images/content/productNavShare.gif");
    display:none;
}
#productNav li.on a,
#productNav li a:hover,
#productNav li a:active,
#productNav li a:focus
{
    color:#db0011;
}
#productNav li.on a#accountsTab,
#productNav li a#accountsTab:hover,
#productNav li a#accountsTab:active,
#productNav li a#accountsTab:focus
{
    background-image:url("../images/content/productNavAccountsOver.gif");
}
#productNav li.on a#mortgagesTab,
#productNav li a#mortgagesTab:hover,
#productNav li a#mortgagesTab:active,
#productNav li a#mortgagesTab:focus
{
    background-image:url("../images/content/productNavMortgagesOver.gif");
}
#productNav li.on a#toolsTab,
#productNav li a#toolsTab:hover,
#productNav li a#toolsTab:active,
#productNav li a#toolsTab:focus
{
    background-image:url("../images/content/productNavToolsOver.gif");
}
#productNav li.on a#adviceTab,
#productNav li a#adviceTab:hover,
#productNav li a#adviceTab:active,
#productNav li a#adviceTab:focus
{
    background-image:url("../images/content/productNavAdviceOver.gif");
}
#productNav li.on a#shareTab,
#productNav li a#shareTab:hover,
#productNav li a#shareTab:active,
#productNav li a#shareTab:focus
{
    background-image:url("../images/content/productNavShareOver.gif");
}
#productNav ul li.open a,
#productNav ul li.open a:hover,
#productNav ul li.open a:active,
#productNav ul li.open a:focus
{
    color:#fff;
    background-color:#000;
}
#productNav ul li.open a#accountsTab,
#productNav ul li.open a#accountsTab:hover,
#productNav ul li.open a#accountsTab:active,
#productNav ul li.open a#accountsTab:focus
{
    background-image:url("../images/content/productNavAccountsOpen.gif");
}
#productNav ul li.open a#mortgagesTab,
#productNav ul li.open a#mortgagesTab:hover,
#productNav ul li.open a#mortgagesTab:active,
#productNav ul li.open a#mortgagesTab:focus
{
    background-image:url("../images/content/productNavMortgagesOpen.gif");
}
#productNav ul li.open a#toolsTab,
#productNav ul li.open a#toolsTab:hover,
#productNav ul li.open a#toolsTab:active,
#productNav ul li.open a#toolsTab:focus
{
    background-image:url("../images/content/productNavToolsOpen.gif");
}
#productNav ul li.open a#adviceTab,
#productNav ul li.open a#adviceTab:hover,
#productNav ul li.open a#adviceTab:active,
#productNav ul li.open a#adviceTab:focus
{
    background-image:url("../images/content/productNavAdviceOpen.gif");
}
#productNav ul li.open a#shareTab,
#productNav ul li.open a#shareTab:hover,
#productNav ul li.open a#shareTab:active,
#productNav ul li.open a#shareTab:focus
{
    background-image:url("../images/content/productNavShareOpen.gif");
}
#productNav li a span
{
    background:url("../images/content/productArrow.gif") right center no-repeat;
    display:block;
    padding:0 29px 0 0;
    line-height:20px;
}
#productNav li.on a span,
#productNav li a:hover span,
#productNav li a:active span,
#productNav li a:focus span
{
    background-image:url("../images/content/productArrowOver.gif");
}
#productNav li.open a.acctService span
{
    background-image:url("../images/content/productArrowOpen.gif");
}
#productNav li ul.dropDown
{
    background-color:#000;
    display:none;
    padding:10px 0 7px;
    position:absolute;
    width:100%;
    z-index:100;
}
#productNav li.open ul.dropDown
{
    display:block;
}
#productNav li .dropDown li
{
    float:none;
    padding:0 11px 8px;
    width:auto;
    font-size:75%;
    display:block;
    line-height:15px;
    color:#fff;
}
#productNav ul li ul.dropDown li a
{
    background:url("../images/content/sml_white_arrow.gif") right bottom no-repeat;
    padding:0 12px 0 0;
    color:#fff;
    line-height:15px;
    display:inline;
}
#productNav .dropDown a img
{
    padding:0 0 0 8px;
}
#productDetails
{
    float:left;
    width:940px;
    position:relative;
    background:url("../images/content/border_grey.gif") left bottom no-repeat;
    height:180px;
    top:-10px;
}
#advance #productDetails
{
    background:url("../images/content/advance_product_hero.jpg") left top no-repeat;
    height:200px;
}
#premier #productDetails
{
    background:url("../images/content/premier_product_hero.jpg") left top no-repeat;
    height:240px;
}
#propositionDetails
{
    float:left;
    height:413px;
    width:940px;
    position:relative;
    top:-10px;
}

#advance #overview #propositionDetails
{
    background:url("../images/content/SupportingCast_940x413.jpg") left top no-repeat;
}
#advance #fastaccess #propositionDetails
{
    background:url("../images/content/BalloonSmiles_940x413.jpg") left top no-repeat;
}

#advance #onside #propositionDetails
{
    background:url("../images/content/FamilyCelebration_940x413.jpg") left top no-repeat;
}

#advance #support #propositionDetails
{
    background:url("../images/content/DalmationPicnic_940x413.jpg") left top no-repeat;
}

#advance #rates #propositionDetails
{
    background:url("../images/content/FatherSonWoods_940x413.jpg") left top no-repeat;
}

#personal #howtoapply #propositionDetails
{
    background:url("../images/content/YellowWall_940x413.jpg") left top no-repeat;
}


#premier #propositionDetails
{
    background:url("../images/content/premier_prop_hero.jpg") left top no-repeat;
}

#grid .greylist li {
    color: #4c4c4c;
}

#propositionDetails #stage
{
    position:absolute;
    top:80px;
    width:900px;
    left:40px;
}
#advance #propositionDetails #stage
{
    width:760px;
    left:180px;
}
#advance #propositionDetails #stage img
{
    float:left;
    padding:0 20px 30px 0;
}
#propositionDetails #stage h2
{
    font-size:150%;
    line-height:28px;
}
#premier #propositionDetails #stage h2
{
    color:#fff;
    font-weight:normal;
}
#advance #propositionDetails #stage h2
{
    padding:20px 0 0;
}
#propositionDetails #stage p
{
    line-height:28px;
    padding:0 0 10px;
}
#premier #propositionDetails #stage p
{
    color:#fff;
    font-weight:bold;
    font-size:150%;
}
#premier #propositionDetails #stage p a
{
    color:#fff;
    background:url("../images/content/stage-chevron-white.gif") right center no-repeat;
    padding:0 14px 0 0;
}
#advance #propositionDetails #stage p
{
    font-size:112.5%;
}
#detailsInner
{
    height:117px;
    float:left;
    position:absolute;
    bottom:0;
    left:0;
    width:940px;
}
#advance #detailsInner
{
    background:#fff;
    opacity:0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter:alpha(opacity=70);
    width:900px;
}
#premier #detailsInner
{
    background:#fff;
    height:109px;
    opacity:0.9;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter:alpha(opacity=90);
    width:900px;
    bottom:8px;
}
#premier #propositionDetails #detailsInner
{
    height:137px;
}
#advance #propositionDetails #detailsInner
{
    height:145px;
}
#productDetails h2
{
    font-size:137.5%;
    position:absolute;
    bottom:78px;
    left:0;
}
#premier .jqmWindow .grid_16 h3,
#premier .jqmWindow .grid_12 h2,
#premier .jqmWindow .grid_8 .column h3,
#premier .jqmWindow .grid_8 .column h2,
#premier #grid .grid_16 h3,
#premier #grid .grid_8 .column h3,
#premier #grid .grid_12 h2,
#premier #grid .grid_12 h3,
#premier #grid .grid .contentItem h2,
#premier #grid .grid .contentRow .shaded h3,
#premier #grid .grid .columnRow .promo h3,
#premier #propositionTabs #pageTabs li.selected a,
#premier #propositionTabs #pageTabs li.selected a span,
#premier #grid .popupMenu .popupMenuItemContent p.popupItemTitle,
#personalHome #grid #heroContainer .premier p
{
    color:#1d1060;
}
#premier .jqmWindow .grid_8 .scroll h3
{
    color:#000;
}
#grid .grid_16 .column .apply h3
{
    padding:0 0 10px;
}
#advance #productDetails .branding,
#premier #productDetails .branding
{
    right:40px;
    position:absolute;
    bottom:60px;
}
#advance #propositionDetails .branding,
#premier #propositionDetails .branding
{
    left:40px;
    position:absolute;
    bottom:87px;
}
#propositionTabs #pageTabs
{
    position:absolute;
    top:-111px;
    display:block;
    left:0;
    width:860px;
    padding:0 40px;
}
.jqmWindow #propositionTabs #pageTabs
{
    position:static;
    width:930px;
    padding:0 0 25px;
    float:left;
}
#productDetails #pageTabs
{
    position:absolute;
    bottom:0;
    left:0;
    display:block;
}
#advance #productDetails h2,
#advance #productDetails #pageTabs,
#premier #productDetails h2,
#premier #productDetails #pageTabs
{
    left:40px;
}
#advance #detailsInner,
#premier #detailsInner,
#advance #grid #productDetails .back,
#premier #grid #productDetails .back
{
    left:20px;
}
#propositionTabs #pageTabs li,
#productDetails #pageTabs li
{
    float:left;
    font-size:100%;
}
#propositionTabs #pageTabs li a,
#productDetails #pageTabs li a
{
    float:left;
    display:block;
    background:url("../images/content/tab.gif") center top no-repeat;
    font-size:87.5%;
    color:#fff;
    line-height:32px;
}
#propositionTabs #pageTabs li a
{
    width:172px;
}
.jqmWindow #propositionTabs #pageTabs li a
{
    width:186px;
}
#premier #pageTabs li a
{
    background-image:url("../images/content/tab-premier.gif");
}
#propositionTabs #pageTabs li.first a,
#productDetails #pageTabs li.first a
{
    background-position:left top;
}
#propositionTabs #pageTabs li.last a,
#productDetails #pageTabs li.last a
{
    background-position:right top;
}
#propositionTabs #pageTabs li a:hover,
#productDetails #pageTabs li a:hover,
#propositionTabs #pageTabs li a:active,
#productDetails #pageTabs li a:active,
#propositionTabs #pageTabs li a:focus,
#productDetails #pageTabs li a:focus
{
    text-decoration:none;
    background-image:url("../images/content/tab-hover.gif");
}
#propositionTabs #pageTabs li.selected a,
#productDetails #pageTabs li.selected a
{
    margin:0 0 0 -1px;
    background:url("../images/content/tab-selected.gif") left top no-repeat;
    padding:0 0 0 22px;
    color:#db0011;
}
#propositionTabs #pageTabs li.selected a
{
    padding:0;
    background:url("../images/content/tab-selected.gif") right top no-repeat;
}
#propositionTabs #pageTabs li.first a,
#productDetails #pageTabs li.first a
{
    margin:0;
}
#propositionTabs #pageTabs li a span,
#productDetails #pageTabs li a span
{
    color:#fff;
    line-height:32px;
    display:block;
    padding:11px 24px 6px 23px;
    background:url("../images/content/tab-separator.gif") right center no-repeat;
    text-align:center;
}
#propositionTabs #pageTabs li a
{
    font-size:125%;
}
#propositionTabs #pageTabs li a span span
{
    font-size:60%;
    padding:0!important;
    display:inline!important;
    line-height:12px!important;
    background:0!important;
}
#premier #pageTabs li a span
{
    background-image:url("../images/content/tab-separator-premier.gif");
}
#propositionTabs #pageTabs li.last a span,
#productDetails #pageTabs li.last a span
{
    background:none;
    padding:11px 23px 6px;
}
#propositionTabs #pageTabs li.selected a span,
#productDetails #pageTabs li.selected a span
{
    color:#db0011;
    font-weight:bold;
    padding:11px 23px 6px 0;
    background:url("../images/content/tab-selected.gif") right top no-repeat;
}

#propositionTabs #pageTabs li.selectedA a span,
#productDetails #pageTabs li.selectedA a span
{
    color:#db0011;
    font-weight:bold;
    padding:11px 0 10px 0;
    background:url("../images/content/tab-selected.gif") right top no-repeat;
}

#advance #propositionTabs #pageTabs li.selected a,
#advance #propositionTabs #pageTabs li.selected a span
{
    color:#000;
}
#propositionTabs #pageTabs li.selected a span
{
    background:url("../images/content/tab-selected.gif") left top no-repeat;
}
#propositionTabs #pageTabs li.selected a span,
#propositionTabs #pageTabs li.last a span,
#propositionTabs #pageTabs li a span
{
    padding:21px 0 11px;
}
#propositionTabs #pageTabs li.selected a:hover,
#productDetails #pageTabs li.selected a:hover,
#propositionTabs #pageTabs li.selected a:active,
#productDetails #pageTabs li.selected a:active,
#propositionTabs #pageTabs li.selected a:focus
{
    background-image:url("../images/content/tab-selected.gif");
}
#propositionTabs #pageTabs li a:active,
#propositionTabs #pageTabs li a:focus,
#productDetails #pageTabs li a:active,
#productDetails #pageTabs li a:focus
{
    text-decoration:underline;
}
#propositionDetails .right,
#productDetails .right
{
    position:absolute;
    bottom:14px;
    right:0;
}
#advance .right,
#premier .right
{
    right:40px;
}
#premier #productDetails .right
{
    bottom:18px;
}
#premier #propositionDetails .right,
#advance #propositionDetails .right
{
    bottom:92px;
}
#propositionDetails .rightInner,
#productDetails .rightInner,
#grid .grid .applyBox .rightInner
{
    float:right;
}
#propositionDetails .right p,
#productDetails .right p,
#grid .grid .applyBox .right p
{
    font-size:87.5%;
    float:left;
    font-weight:bold;
    color:#000;
    width:320px;
    text-align:right;
    padding:9px 10px 10px 0;
}
#propositionDetails .right p,
#grid .grid .applyBox .right p
{
    width:440px;
}
.jqmWindow .grid_16 .productRow,
.jqmWindow .grid_16 .productItem,
#grid .grid_16 .productRow,
#grid .grid_16 .productItem
{
    width:620px;
}
.jqmWindow .grid_12 .productRow,
.jqmWindow .grid_12 .productItem,
#grid .grid_12 .productRow,
#grid .grid_12 .productItem
{
    width:460px;
}
.jqmWindow .grid_16 .productRow .productItem,
#grid .grid_16 .productRow .productItem
{
    width:290px;
    padding:0 20px 0 0;
}
.jqmWindow .grid_12 .productRow .productItem,
#grid .grid_12 .productRow .productItem
{
    width:210px;
    padding:0 20px 0 0;
}
#personal .jqmWindow .grid_16 .productRow,
#advance .jqmWindow .grid_16 .productRow,
#advance #grid .grid_16 .productRow
{
    padding:10px 0 0;
}
.jqmWindow .grid .productItem h2,
#grid .grid .productItem h2,
.jqmWindow .grid .productItem h3,
#grid .grid .productItem h3,
#advance #grid .grid .menu .contentItem h2
{
    padding:0 20px 25px 0;
    line-height:32px;
}
.jqmWindow .grid .productItem h3 span,
#grid .grid .productItem h3 span,
#advance #grid .grid .menu .contentItem h2 span
{
    font-size:85.71%;
    display:block;
    font-weight:normal;
    line-height:32px;
}
.jqmWindow .lightview .grid_8 .scroll h2,
.jqmWindow .grid_12 .productItem h2,
#grid .grid_12 .productItem h2,
#advance #grid .grid .menu .contentItem h2,
#advance #grid .grid .contentItem h2,
#premier #grid .grid .contentItem h2
{
    font-size:150%;
    line-height:28px;
}
#advance #grid .grid .contentItem h2,
#premier #grid .grid .contentItem h2
{
    padding:0 0 30px;
}
.jqmWindow .lightview .grid_8 .scroll h2
{
    padding:0 0 20px;
}
.jqmWindow .lightview .grid_8 .scroll h3,
#advance #grid .grid .contentRow .contentItem h3,
#premier #grid .grid .contentRow .contentItem h3
{
    padding:0 0 10px;
    font-size:125%;
    line-height:24px;
}
#advance #grid .grid .menu .contentItem h3,
#premier #grid .grid .menu .contentItem h3,
.jqmWindow .lightview .grid_8 .scroll h5
{
    font-size:100%;
    line-height:20px;
    padding:0;
}
.jqmWindow .lightview .grid_8 .scroll h5
{
    padding:0 0 10px;
}
.jqmWindow .grid_12 .productItem h2 span,
#grid .grid_12 .productItem h2 span,
#advance #grid .grid .menu .contentItem h2 span
{
    font-size:83.33%;
    line-height:28px;
    font-weight:normal;
}
#personal .jqmWindow .grid .productItem h3,
#advance .jqmWindow .grid .productItem h3,
#advance #grid .grid .productItem h3,
#personal .jqmWindow .grid .productItem h2,
#advance .jqmWindow .grid .productItem h2,
#advance #grid .grid .productItem h2,
#advance #grid .grid .menu .contentItem h2,
#personalHome #grid #heroContainer .advance p
{
    background:url("../images/content/advance_product_intro.gif") left top no-repeat;
    padding:9px 20px 25px 35px;
}
#personalHome #grid #heroContainer .advance p
{
    padding:0 0 12px 35px;
    font-size:112.5%;
}
#personalHome #grid #heroContainer .advance p strong
{
    font-size:111.11%;
}
#personal .jqmWindow .grid_12 .productItem h2,
#advance .jqmWindow .grid_12 .productItem h2,
#advance #grid .grid_12 .productItem h2
{
    padding:9px 20px 15px 35px;
}
#premier .jqmWindow .scroll h2,
#premier .jqmWindow .grid .productItem h2,
#premier #grid .grid .productItem h2,
#premier #grid .grid .contentItem h2,
#premier .jqmWindow .grid .productItem h3,
#premier #grid .grid .productItem h3,
#premier #grid .grid .menu .contentItem h2
{
    font-weight:normal;
}
.jqmWindow .grid_16 .productItem ul,
#grid .grid_16 .productItem ul,
.jqmWindow .grid_12 .productItem ul,
#grid .grid_12 .productItem ul
{
    padding:5px 0 10px;
    list-style:none;
}
.jqmWindow .grid_16 .productItem ul li,
#grid .grid_16 .productItem ul li,
.jqmWindow .grid_12 .productItem ul li,
#grid .grid_12 .productItem ul li
{
    line-height:18px;
    list-style:none;
    padding:0 0 15px 28px;
    background:url("../images/content/lrg_tick.gif") left top no-repeat;
}
.jqmWindow .grid .productItem li span,
#grid .grid .productItem li span
{
    font-weight:bold;
    font-size:133.33%;
    line-height:22px;
    color:#000;
}
.jqmWindow .grid_12 .productItem li span,
#grid .grid_12 .productItem li span
{
    font-size:116.67%;
    line-height:20px;
}
#grid .grid_24 .featureBox
{
    width:910px;
    float:left;
    padding:15px;
    background:#e6e6e6 url("../images/content/bg_teaser.gif") top left no-repeat;
}
#premier #grid .grid_24 .featureBox
{
    background:#1d1060 url("../images/content/bg_footer_feature.gif") top left no-repeat;
}
#grid .grid_24 .featureBox img,
#grid .grid_24 .featureBox .inner
{
    float:left;
    padding:0 20px 0 0;
}
#grid .grid_24 .featureBox .inner
{
    width:890px;
}
#advance #grid .grid_24 .featureBox .inner,
#premier #grid .grid_24 .featureBox .inner
{
    width:605px;
}
#grid .grid_24 .featureBox p
{
    padding:6px 0 0;
    color:#000;
    font-size:100%;
    line-height:20px;
}
#grid .grid_24 .featureBox p span
{
    font-weight:bold;
    font-size:125%;
    display:block;
    padding:0 0 10px;
}
#grid .grid_24 .featureBox .about
{
    float:right;
    width:236px;
    border-left:1px solid #b9b9b9;
    padding:28px 0 28px 48px;
}
#premier #grid .grid_24 .featureBox .about
{
    border-left:1px solid #6d6496;
}
#grid .grid .back
{
    float:left;
    position:relative;
    bottom:-10px;
    padding:15px 0 0;
    width:940px;
}
#grid .grid .grid_16 .back
{	
    width:620px;
}
#grid .grid .grid_18 .back
{	
    width:700px;
}
#grid .grid .back a.backtoTop
{
    float:right;
}
#grid #productDetails .back
{
    top:20px;
    position:absolute;
    padding:0;
    float:none;
    left:0;
}
#grid #productNav .back
{
    top:-16px;
    padding:0 0 4px;
}
#grid .back a,
#grid .grid a.pdfLink
{
    background:url("../images/content/sml_red_arrow_back.gif") left bottom no-repeat;
    padding:0 0 0 12px;
    font-size:75%;
    line-height:15px;
    float:left;
}
#grid .back a
{
    color:#000;
}
#grid .grid a.pdfLink
{
    background:url("../images/content/icon_pdf_launch.gif") left bottom no-repeat;
    float:none;
    padding:0 0 0 20px;
    color:#000;
}
#grid .grid .productItem a.redLink,
#grid .grid .contentItem a.redLink,
#grid .grid .productItem a.overlayLaunchLink,
#grid .grid .contentItem a.overlayLaunchLink,
#grid .grid .productItem a.pdfLink,
#grid .grid .contentItem a.pdfLink
{
    margin:0 0 10px;
    display:inline-block;
}
#smallCarousel
{
    float:left;
    width:458px;
    border:1px solid #ccc;
    margin:5px 0;
}
#businessHome #smallCarousel
{
    margin:0;
}
#premier #smallCarousel,
#advance #smallCarousel
{
    margin:20px 0 0;
}
.boxshadow #smallCarousel
{
    -moz-box-shadow:0 0 20px #ccc;
    -webkit-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}
#smallCarousel .gallery
{
    overflow:hidden;
    height:170px;
}
#businessHome #smallCarousel .gallery,
#premier #smallCarousel .gallery,
#advance #smallCarousel .gallery
{
    height:190px;
}
#smallCarousel .gallery a
{
    display:none;
    font-size:1%;
    border:2px solid #fff;
}
#smallCarousel .gallery a#first
{
    display:block;
}
#smallCarousel .galleryControls
{
    overflow:hidden;
    background:#fff url("../images/content/bg-gallery-controls.gif") left bottom repeat-x;
    width:458px;
    height:45px;
    display:none;
}
#smallCarousel .galleryControls div
{
    float:right;
}
#smallCarousel .galleryControls ul,
#smallCarousel .galleryControls ul li
{
    float:left;
    padding:0 0 0 9px;
}
#smallCarousel .galleryControls ul
{
    padding:8px 19px 8px 6px;
}
#smallCarousel .galleryControls ul#galleryPager
{
    padding:16px 0 16px;
}
#smallCarousel .galleryControls li a
{
    background:url("../images/content/bg-account-selector-gallery.gif") left top no-repeat;
    text-indent:-9999px;
    display:block;
}
#smallCarousel .gallery a:hover,
#smallCarousel .gallery a:active,
#smallCarousel .gallery a:focus
{
    text-decoration:none;
    border-color:#626469;
}
#smallCarousel .galleryControls li a:active,
#smallCarousel .galleryControls li a:focus
{
    text-decoration:none;
    border-color:#626469;
}
#smallCarousel .galleryControls li a
{
    width:26px;
    height:26px;
    border:1px solid transparent;
}
#smallCarousel .galleryControls li a#galleryNext
{
    background-position:left -29px;
}
#smallCarousel .galleryControls ul#galleryPager li a
{
    width:12px;
    height:12px;
    background-position:left -58px;
}
#smallCarousel .galleryControls ul#galleryPager li a.selected
{
    background-position:left -78px;
}
#productComparisonTools
{
    float:left;
    width:940px;
    padding:0 20px 10px 0;
}
#productSelector
{
    float:left;
    width:940px;
}
#productSelector #productTabs
{
    display:none;
    border-bottom:25px solid #fff;
    padding:0 2px 0 0;
    background:url("../images/content/productTabEnd.gif") right bottom no-repeat;
    float:left;
    clear:both;
}
#productSelector #productTabs li
{
    float:left;
    border-top:1px solid #dadcdc;
    background:url("../images/content/productTab.gif") left bottom no-repeat;
    padding:0;
    line-height:18px;
    font-size:87.5%;
}
#productSelector #productTabs li.selected
{
    background:url("../images/content/productTabSelected.gif") left top no-repeat;
}
#productSelector #productTabs li a
{
    display:block;
    text-align:center;
    color:#000;
    font-weight:bold;
    padding:15px 25px 25px;
}
#productSelector #productTabs li.selected a
{
    background:url("../images/content/productTabArrow.gif") center bottom no-repeat;
    color:#db0011;
}
form#productSelector fieldset p.intro
{
    padding:0 0 10px;
    line-height:20px;
    font-size:100%;
}
form#productSelector fieldset p
{
    padding:0 0 25px;
}
#products
{
    float:left;
    clear:both;
    width:940px;
}
#products table,
#products table tbody,
#products table tr,
#products tr.spacer td,
form#productSelector #products table thead
{
    width:940px;
}
#products tr.productInfo
{
    width:939px;
    border-right:1px solid #d3cfcf;
}
#products tr.spacer
{
    height:25px;
}
#products table colgroup
{
    width:940px;
}
#products table col.name
{
    width:181px;
}
#products table col.price
{
    width:134px;
}
#products table col.other
{
    width:178px;
}
form#productSelector #products table col.name
{
    width:209px;
}
form#productSelector #products table col.price
{
    width:116px;
}
form#productSelector #products table col.other
{
    width:150px;
}
div#productSelector #products table thead
{
    display:table-row-group;
    height:1%;
    font-size:1%;
    color:#fff;
}
#products .productInfo th,
#products .productInfo td
{
    padding:15px;
    background-color:#e6e6e6;
    border-bottom:1px solid #d3cfcf;
    vertical-align:middle;
}
#products .productInfo td a.greyBtn span
{
    white-space:nowrap;
}
form#productSelector #products table thead th
{
    padding:9px 0;
    vertical-align:middle;
    background:#e6e6e6 url("../images/content/td_divider.gif") right center no-repeat;
    border-bottom:1px solid #d3cfcf;
}
#products .productInfo td
{
    vertical-align:top;
    background:#e6e6e6 url("../images/content/td_divider.gif") left center no-repeat;
}
form #products .productInfo th
{
    padding:15px 0;
}
form#productSelector #products table thead th.sortby
{
    background:url("../images/content/table_sortby_bg.gif") right top no-repeat;
}
form#productSelector #products table thead th.sortby p
{
    padding:0 20px 0 0;
}
form #products .productInfo td
{
    padding:15px 5px 15px 15px;
}
form #products .productInfo td label
{
    font-size:75%;
    font-weight:bold;
    display:block;
    float:left;
    width:130px;
    color:#333;
    line-height:25px;
    vertical-align:middle;
}
form #products .productInfo td input
{
    height:13px;
    display:inline;
    width:13px;
    margin:6px 5px;
}
form #products .productInfo td.price
{
    padding:15px 10px;
}
form#productSelector #products table thead th p a
{
    background:none;
}
#products .productInfo td p
{
    line-height:16px;
    color:#333;
    padding:0;
}
#products .productInfo th h4,
#products .productInfo td.price p
{
    text-align:center;
}
#products .productInfo th h4 span,
#products .productInfo td.price p span
{
    text-align:center;
    display:block;
}
#products .productInfo th h4
{
    font-size:87.5%;
    line-height:14px;
}
#products .productInfo th h4 span
{
    font-size:142.86%;
    line-height:20px;
}
#products .productInfo td.price p,
form#productSelector #products table thead th p
{
    text-transform:uppercase;
    line-height:15px;
    padding:0;
    text-align:center;
    font-size:62.5%;
}
#products .productInfo th h4.premier span,
.productComparison th h3.premier span
{
    text-indent:-9999px;
    background:url("../images/content/hsbc-premier.gif") center 1px no-repeat;
}
#products .productInfo th h4.advance span,
.productComparison th h3.advance span
{
    text-indent:-9999px;
    background:url("../images/content/hsbc-advance.gif") center 1px no-repeat;
}
#products .productInfo td.price p span
{
    font-size:160%;
    font-weight:bold;
    line-height:24px;
}
#products .productInfo td.price p .yes
{
    background:url("../images/content/included_dark.gif") center bottom no-repeat;
    text-indent:-9999px;
}
#products .productInfo td.price p .no
{
    background:url("../images/content/not_included.gif") center bottom no-repeat;
    text-indent:-9999px;
}
#products .furtherInfo
{
    width:940px;
    position:relative;
    min-height:25px;
    float:left;
}
#products .furtherInfo td
{
    width:940px;
    float:left;
}
#products .furtherInfo .handle
{
    display:none;
    position:absolute;
    left:8px;
    height:21px;
    bottom:0;
    border-top:4px solid #d8d8d8;
    padding:0 18px;
    text-transform:uppercase;
    font-size:68.75%;
    line-height:14px;
    width:888px;
}
#products .furtherInfo .handle a
{
    padding:2px 36px 5px 10px;
    float:left;
    color:#000;
    display:block;
    background:#d8d8d8 url("../images/content/bg-account-info-handle.gif") right center no-repeat;
}
#products .furtherInfo .handle a.selected
{
    background-image:url("../images/content/bg-account-info-handle-up.gif");
}
#productSelector #productTabs li a:hover,
#products .furtherInfo .handle a:hover
{
    text-decoration:none;
}
#productSelector #productTabs li a:hover,
#productSelector #productTabs li a:active,
#productSelector #productTabs li a:focus,
#products .furtherInfo .handle a:hover,
#products .furtherInfo .handle a:active,
#products .furtherInfo .handle a:focus
{
    color:#db0011;
}
#products .furtherInfo .content
{
    border-bottom:1px solid #d8d8d8;
    border-left:5px solid #d8d8d8;
    border-right:5px solid #d8d8d8;
    overflow:hidden;
    padding:20px 17px;
    width:880px;
    margin:0 8px 25px 8px;
}
#products .furtherInfo .features
{
    padding:0 15px 0 0;
    float:left;
    width:380px;
}
#grid #products .furtherInfo h5
{
    padding:10px 0;
    line-height:16px;
}
#grid #productComparisonTools .inner
{
    float:left;
    clear:both;
    width:220px;
    padding:5px 0 15px;
}
#grid #productComparisonTools .prev,
#grid #productComparisonTools .compare
{
    float:left;
    clear:both;
    width:940px;
}
#productTable
{
    float:left;
    width:940px;
    padding:15px 0 25px;
}
#productComparison,
#fixed-table-header
{
    clear:both;
    width:940px;
    border-collapse:separate;
}
#fixed-table-header
{
    z-index:10;
}
.productComparison tr.productHeadings,
.productComparison tr.productLinks
{
    background-color:#fff;
}
.productComparison td
{
    color:#333;
}
.productComparison th
{
    color:#000;
    font-weight:normal;
    line-height:20px;
}
.productComparison tr.productHeadings td,
.productComparison tr.productHeadings th
{
    padding:18px 20px 7px;
}
.productComparison tr.productHeadings td
{
    background-color:#fff!important;
    color:#fff;
}
.productComparison tr.productLinks td
{
    padding:0 20px 10px;
}
#productComparison tr.rowContent td
{
    padding:0 20px 20px;
}
.productComparison tr.rowContent th
{
    padding:8px 35px 20px 0;
    vertical-align:top;
}
.productComparison tr .even,
.productComparison tr.productLinks .odd
{
    background-color:#f6f6f6;
}
.productComparison tr .odd,
.productComparison tr.productLinks .even
{
    background-color:#e6e6e6;
}
.productComparison tr.bgRow
{
    background:url("../images/content/bg_table_row.png") center top repeat-x;
    height:4px!important;
}
#productComparison tr.rows-separator
{
    height:2px!important;
    background:url("../images/content/bg_table_separator.gif") center top repeat-x;
}
.productComparison tr.bgRow td,
.productComparison tr.rows-separator td
{
    padding:0;
    font-size:1px;
    line-height:1%;
    height:1px;
}
#productComparison tr.sectionType th,
#productComparison tr.sectionType td
{
    padding:13px 0;
}
#productComparison tr.sectionType a.expand
{
    background:url("../images/content/roundArrowOpen.gif") left center no-repeat;
    display:block;
    padding:5px 0 3px 35px;
    color:#000;
    font-size:125%;
    white-space:nowrap;
    font-weight:bold;
}
#productComparison tr.closed a.expand
{
    background-image:url("../images/content/roundArrow.gif");
}
.productComparison tr ul
{
    padding:0 0 0 2px;
}
#productComparison tr ul li,
#fixed-table-header tr ul li
{
    color:#333;
    font-size:75%;
    line-height:16px;
    float:left;
    display:inline;
    padding:0 7px 7px 0;
}
#productComparison th h3,
#fixed-table-header th h3
{
    padding:0 0 10px 2px;
    font-size:100%;
    line-height:16px;
}
#productComparison th h3 span,
#fixed-table-header th h3 span
{
    font-size:125%;
    line-height:20px;
    display:block;
    background-position:left 2px;
}
#productComparison td p
{
    line-height:16px;
    padding:10px 0 0;
}
#productComparison td p strong
{
    font-size:133.33%;
    line-height:20px;
}
.productComparison td a
{
    padding:0 11px 0 0;
    cursor:pointer;
}
.productComparison tr ul li a
{
    background:url("../images/content/moreLink.gif") right center no-repeat;
}
#productComparison td a.more
{
    background:url("../images/content/moreLinkDown.gif") right center no-repeat;
}
#productComparison td a.open
{
    background:url("../images/content/moreLinkUp.gif") right center no-repeat;
}
#productComparison td .yes,
#productComparison td .no
{
    text-indent:-9999px;
    padding:18px 0 0;
    height:20px;
}
#productComparison td .yes
{
    background:url("../images/content/lrg_tick.gif") left 18px no-repeat;
}
#productComparison td.even .yes
{
    background:url("../images/content/included.gif") left 18px no-repeat;
}
#productComparison td.odd .yes
{
    background:url("../images/content/included_dark.gif") left 18px no-repeat;
}
#productComparison td .no
{
    background:url("../images/content/not_included_light.gif") left 18px no-repeat;
}
#productComparison td.odd .no
{
    background:url("../images/content/not_included.gif") left 18px no-repeat;
}
#otherAccounts
{
    float:left;
    border:1px solid #ccc;
    width:920px;
    padding:15px 0 15px 18px;
    margin:25px 0 0;
}
.boxshadow #otherAccounts
{
    -moz-box-shadow:0 0 20px #ccc;
    -webkit-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}
#productFooter
{
    background:url("../images/content/border_grey.gif") left top no-repeat;
    float:left;
    width:960px;
    padding:22px 0 15px;
}
.jqmWindow .grid .column,
#grid .grid .column
{
    padding:29px 20px 0 0;
    background-color:#fff;
    background-position:left top;
    float:left;
    width:220px;
    background-repeat:no-repeat;
}
#grid .grid .contentRow .column
{
    padding:0;
    width:300px;
    margin:0 20px 0 0;
    display:inline;
}
#grid .grid .contentRow .promo
{
    width:282px;
    border:1px solid #ccc;
    padding:8px;
}
#grid .grid_6 .column
{
    padding:44px 15px 15px 15px;
    background-position:15px 15px;
    border:1px solid #ccc;
    margin:0 0 20px;
    width:188px;
}
#grid .grid_6 .promo
{
    padding:0 0 20px;
    width:218px;
}
.jqmWindow .grid_8 .column,
#grid .grid_8 .column,
#grid .grid_16 .column
{
    padding:10px 20px 20px;
    border:1px solid #ccc;
    width:258px;
    margin:0 0 20px;
}
#grid .grid_16 .column
{
    width:618px;
    padding:20px 0;
}
#grid .grid_16 .column .inner
{
    background:url("../images/content/bg_apply_divider.gif") top left repeat-y;
    float:left;
    width:618px;
}
#grid .grid_16 .column .apply
{
    width:165px;
    float:left;
    padding:0 21px 10px 20px;
}
.jqmWindow .grid_8 .promo,
#grid .grid_8 .promo
{
    padding:20px;
}
.boxshadow .grid_8 .promo,
#grid .grid .contentRow .promo,
.boxshadow .grid_8 .column,
.boxshadow .grid_16 .column
{
    -moz-box-shadow:0 0 20px #ccc;
    -webkit-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}
#grid .promo .inner
{
    padding:5px 20px 0;
    float:left;
    width:178px;
}
#grid .grid_8 .promo .inner
{
    padding:5px 0 0;
    width:258px;
}
#grid .grid .grid_8 .column hr
{
    color:#d9d9d9;
    margin:15px 0 5px;
    border:0;
    border-bottom:1px solid #d9d9d9;
}
#grid .grid a.overlayLaunchLink
{
    font-size:75%;
    line-height:15px;
    padding:0 18px 0 0;
    background:url("../images/content/icon_overlay_launch.gif") right bottom no-repeat;
    color:#000;
}
#premier #grid .grid_24 .featureBox p,
#premier #grid .grid .featureBox a.overlayLaunchLink
{
    color:#fff;
}
#premier #grid .grid .featureBox a.overlayLaunchLink
{
    background-image:url("../images/content/icon_white_overlay_launch.gif")
}
#grid .shaded .inner
{
    padding:5px 21px 0;
}
#grid .grid .contentRow .promo a
{
    border:2px solid #fff;
    display:block;
    width:278px;
}
#grid .grid .contentRow .promo a:active,
#grid .grid .contentRow .promo a:focus
{
    border-color:#626469;
}
#grid .grid .contentRow .column h3
{
    line-height:20px;
    padding:0 0 10px;
}
#grid .grid_6 .promo a.greyBtn,
#grid .grid_6 .promo a.redBtn
{
    margin:5px 0 0;
}
#grid .grid .grid_6 .promo p
{
    font-size:87.5%;
    line-height:20px;
}
#grid .grid_7 .divider
{
    border-bottom:1px solid #c2c2c2;
    margin:0 0 10px;
}
#grid #otherAccounts .column
{
    padding:0 10px 0 0;
}
#grid #products .furtherInfo .column
{
    padding:0 15px 0 0;
}
#grid .grid .popupMenu,
#grid #products .furtherInfo .help,
#grid .grid_6 .featureBox,
#grid .grid .applyBox
{
    padding:5px 15px;
    background:url("../images/content/bg_help.gif") left top no-repeat;
}
#grid #products .furtherInfo .help
{
    background:#f0eff0 url("../images/content/bg_grad.gif") left bottom repeat-x;
}
.jqmWindow .grid_8 .shaded,
#grid .grid_8 .shaded,
#grid .grid .contentRow .shaded
{
    border:0;
    width:260px;
    padding:10px 20px 20px;
}
#grid .grid .contentRow .shaded
{
    padding:20px
}
.boxshadow .grid_8 .shaded,
.boxshadow .grid_16 .quote
{
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#grid .grid_6 .featureBox
{
    width:180px;
    float:left;
    padding:10px 20px;
}
#grid .grid .applyBox
{
    float:left;
    width:928px;
    padding:12px 32px 12px 0;
}
#grid .grid_18 .applyBox,
#grid .grid_17 .applyBox,
#grid .grid_16 .applyBox,
#grid .grid_12 .applyBox
{
    width:660px;
    padding:15px 20px;
    border-top:20px solid #fff;
    border-bottom:10px solid #fff;
}
#grid .grid_17 .applyBox
{
    width:620px;
}
#grid .grid_16 .applyBox
{
    width:580px;
}
#grid .grid_12 .applyBox
{
    width:420px;
}
#grid .grid .grid_16 .quote
{
    width:600px;
    padding:16px 17px 10px 3px;
    background:none;
    border:0;
    margin:10px 0 0;
    border-top:1px solid #d9d9d9;
}
.jqmWindow .grid .grid_8 .quote,
#top #grid .grid .grid_8 .quote
{
    padding:20px;
}
.jqmWindow .grid .grid .quote p,
#grid .grid .grid .quote p
{
    background:url("../images/content/leftQuote_lrg.gif") 2px 4px no-repeat;
    padding:0 60px 5px 65px;
    color:#000;
    font-size:125%;
    line-height:24px;
}
.jqmWindow .grid .grid_8 .quote p,
#grid .grid .grid_8 .quote p
{
    font-size:100%;
    line-height:20px;
    padding:0 0 5px 50px;
    background-image:url("../images/content/leftQuote_blk.gif");
}
#grid .grid .grid .quote p span
{
    color:#666;
    font-size:55%;
}
#premier .jqmWindow .grid .grid_8 .quote p,
#premier #grid .grid .grid_8 .quote p
{
    background-image:url("../images/content/leftQuote.gif");
    color:#1d1060;
}
.jqmWindow .grid .grid_8 .quote p span,
#grid .grid .grid_8 .quote p span
{
    font-size:68.75%;
}
#premier .jqmWindow .grid .grid_8 .quote p span,
#premier #grid .grid .grid_8 .quote p span
{
    color:#1d1060;
}
.jqmWindow a.redLink,
#grid .grid a.redLink
{
    font-size:75%;
}
.jqmWindow .grid .grid_8 .quote a.redLink,
#grid .grid .grid_8 .quote a.redLink
{
    padding:0 12px 0 50px;
}
.jqmWindow .grid .grid_16 .quote a.redLink,
#grid .grid .grid_16 .quote a.redLink
{
    padding:0 12px 0 65px;
}
#grid .grid_6 .shaded
{
    border:0;
    padding:0 0 20px;
    width:220px;
}
#grid .grid .contact
{
    background-image:url("../images/content/productNavContact.gif");
}
#grid .grid .articles
{
    background-image:url("../images/content/productNavArticles.gif");
}
.jqmWindow .grid .column h2,
#grid .grid .column h2,
#grid .grid_6 .featureBox h2,
.jqmWindow .grid .column h3,
#grid .grid .column h3,
#grid .grid_6 .featureBox h3,
#grid .grid_6 .featureBox h4
{
    line-height:20px;
    padding:10px 0;
}
#premier .jqmWindow .grid_8 .shaded h2,
#grid .grid_8 .shaded h2,
#premier #grid .grid_8 .shaded h2,
#premier .jqmWindow .grid_8 .shaded h3,
#grid .grid_8 .shaded h3,
#premier #grid .grid_8 .shaded h3
{
    color:#000;
}
#grid .grid .column ul,
#grid .grid_6 .featureBox ul
{
    padding:5px 0;
}
#grid .grid_6 .promo h2,
#grid .grid_6 .promo h3
{
    font-size:125%;
    line-height:24px;
}
#grid .grid_6 .coloured h2,
#grid .grid_6 .coloured h3
{
    color:#db0011;
    font-size:100%;
    line-height:20px;
}
#grid .grid_6 .coloured p
{
    font-size:75%;
    line-height:16px;
}
#grid .grid_18 .applyBox p,
#grid .grid_17 .applyBox p,
#grid .grid_16 .applyBox p,
#grid .grid_12 .applyBox p
{
    float:left;
    font-size:100%;
    line-height:21px;
    padding:6px 0;
    color:#000;
}
#grid .grid_6 .promo h2 span,
#grid .grid_6 .promo h3 span
{
    font-weight:normal;
}
#grid .grid_6 .promo h2 img,
#grid .grid_6 .promo h3 img
{
    padding:10px 0 6px;
    display:block;
}
#grid #otherAccounts .column h3,
#grid #otherAccounts .column ul
{
    padding:0;
}
.jqmWindow .grid .shaded p,
.jqmWindow .grid .promo p,
#grid .grid .column ul li,
#grid .grid .column p,
#grid .grid_6 .featureBox ul li,
#grid .grid_6 .featureBox .column p
{
    line-height:16px;
    padding:0 0 10px;
}
#grid .grid .column ul li,
#grid .grid_6 .featureBox ul li,
#grid #products .furtherInfo .column ul,
#businessHome #grid .grid .contentItem ul,
#businessHome #grid .grid .contentItem ul li
{
    padding:0 0 5px;
    list-style:none;
    clear:both;
}
#business #grid .grid_6 .promo ul
{
    padding:0;
}
#business #grid .grid_6 .promo ul li
{
    padding:10px 8px 0 30px;
    background:url("../images/content/tick.gif") left 12px no-repeat;
}
.jqmWindow a.redLink,
#grid .grid .column ul li a,
#grid .grid a.redLink,
#grid .grid_6 .featureBox ul li a,
#businessHome #grid .grid .contentItem ul li a,
#grid .popupMenu .popupMenuItemContent p a
{
    background:url("../images/content/sml_red_arrow.gif") right bottom no-repeat;
    padding:0 12px 0 0;
    line-height:15px;
    color:#000;
}
#business #grid .grid_6 .promo ul li a
{
    background:none;
    padding:0;
}
#grid .grid .column p.phone
{
    font-size:100%;
    line-height:22px;
    padding:0 20px 13px 0;
}
#grid .grid .column p.smallPhone
{
    font-size:75%;
    line-height:16px;
}
#grid .grid .column p.phone span
{
    color:#000;
    display:block;
    font-size:150%;
    margin:2px 0 0;
    font-weight:bold;
}
#grid .grid .grid_6 .promo p.phone,
#grid .grid .grid_6 .promo p.smallPhone
{
    float:left;
    padding:10px 0 0;
    width:100%;
    clear:both;
}
#grid .grid .column .apply p.phone
{
    clear:both;
    font-size:87.5%;
    line-height:18px;
    padding:0 0 10px;
    color:#000;
}
#grid .grid .column .apply p.phone span
{
    font-size:100%;
    display:inline;
}
#grid .grid .contentRow
{
    float:left;
    padding:0 0 40px;
    width:960px;
}
#grid .grid_17 .contentRow
{
    padding:30px 0 43px;
    position:relative;
    width:660px;
}
#grid .grid_7 .contentRow
{
    padding:20px;
    width:220px;
}
#grid .grid_18 .contentRow
{
    width:700px;
    padding:0;
}
#businessHome #grid .grid_18 .contentRow
{
    width:720px;
    padding:0;
}
#grid .grid_18 .first
{
    border-bottom:29px solid #fff;
}
#grid .grid .shaded
{
    background:url("../images/content/bg_propositionContent.gif") left bottom no-repeat;
}
#grid .grid_18 .shaded,
#grid .grid_17 .shaded
{
    background:url("../images/content/bg_businessContent.gif") left bottom no-repeat;
}
#grid .grid_7 .contentRow,
#grid .grid_6 .shaded,
#grid .grid_8 .shaded,
#grid .grid .contentRow .shaded
{
    background:url("../images/content/bg_help.gif") left top no-repeat;
}
#grid .grid_6 .shaded
{
    background:#f0eff0 url("../images/content/bg_grad.gif") left bottom repeat-x;
}
#grid .grid .columnRow
{
    float:left;
    width:320px;
}
#grid .grid .columnRow .promo
{
    margin:20px 20px 0 0;
    padding:20px;
    width:258px;
}
#grid .grid .contentRow .promo li a
{
    border:none;
    display:inline;
    width:auto;
}
#grid .grid .popupMenu
{
    min-height:213px;
    padding:28px 14px;
    width:912px;
    float:left;
    border-bottom:15px solid #fff;
    position:relative;
}
#grid .grid .popupMenu .popupMenuItem,
#grid .grid .popupMenu .popupMenuItemInner
{
    width:200px;
    padding:0 14px;
    float:left;
}
#grid .grid .popupMenu .popupMenuItemInner
{
    padding:0;
}
.boxshadow #grid .grid .popupMenuItemInner
{
    -moz-box-shadow:0 0 20px #ccc;
    -webkit-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}
#grid .grid .popupMenu .expanded
{
    width:300px;
    position:absolute;
    top:0;
    left:0;
    padding:12px;
    z-index:2;
}
#grid .grid .expanded .popupMenuItemInner
{
    width:300px;
}
#grid .grid .expanded .popupMenuItemInner img
{
    width:auto;
    height:auto;
}
#grid .grid .popupMenu .popupMenuItemContent
{
    background:#fff;
    min-height:36px;
    padding:6px 11px 11px;
}
#grid .grid .popupMenu .expanded .popupMenuItemContent
{
    padding:13px 16px 16px;
    min-height:91px;
}
#grid .popupMenu .popupMenuItemContent p
{
    line-height:18px;
    padding:10px 0;
}
#grid .popupMenu .popupMenuItemContent p.popupItemTitle
{
    font-size:87.5%;
    color:#000;
    padding:0;
}
#grid .popupMenu .expanded p.popupItemTitle
{
    font-size:150%;
    line-height:28px;
}
#grid .pillarPagination
{
    width:940px;
    padding:20px 20px 0 0;
    float:left;
}
#grid .pillarPagination div,
#grid .pillarPagination a.pillarArrow,
#grid .pillarPagination a.pillarArrow span
{
    float:left;
    display:block;
}
#grid .pillarPagination a.pillarArrow
{
    border:2px solid #7b7b7b;
}
#premier #grid .pillarPagination a.pillarArrow
{
    border:2px solid #181236;
}
#grid .pillarPagination a.pillarArrow span
{
    width:46px;
    height:108px;
    text-indent:-9999px;
}
#grid .pillarPagination a.pillarArrow:active,
#grid .pillarPagination a.pillarArrow:focus
{
    border:2px solid #db0011;
}
#premier #grid .pillarPagination a.pillarArrow:active,
#premier #grid .pillarPagination a.pillarArrow:focus
{
    border:2px solid #999;
}
#grid .pillarPagination .pillarPrev span
{
    background:url("../images/content/pillar-prev-advance.gif") left top no-repeat;
}
#premier #grid .pillarPagination .pillarPrev span
{
    background-image:url("../images/content/pillar-prev.gif");
}
#grid .pillarPagination .pillarNext span
{
    background:url("../images/content/pillar-next-advance.gif") left top no-repeat;
}
#premier #grid .pillarPagination .pillarNext span
{
    background-image:url("../images/content/pillar-next.gif");
}
#grid .pillarPagination .pillarNextDisabled span,
#grid .pillarPagination .pillarPrevDisabled span
{
    background-image:url("../images/content/pillar-disabled-advance.gif");
    cursor:auto;
}
#premier #grid .pillarPagination .pillarPrevDisabled span,
#premier #grid .pillarPagination .pillarNextDisabled span
{
    background-image:url("../images/content/pillar-disabled.gif");
}
#grid .pillarPagination .pillarContent
{
    width:840px;
    background:url("../images/content/pillar-bg-advance.jpg") left top repeat-y;
}
#premier #grid .pillarPagination .pillarContent
{
    background-image:url("../images/content/pillar-bg-premier.jpg");
}
#grid .pillarPagination .pillarContent ul
{
    float:left;
    padding:0;
}
#grid .pillarPagination .pillarContent ul li
{
    width:420px;
    height:112px;
    float:left;
}
#grid .pillarPagination .pillarContent ul li .pillar
{
    padding:14px 0 14px 20px;
}
#grid .pillarPagination .pillarContent ul li img
{
    float:left;
}
#grid .pillarPagination .pillarContent ul li .pillarContentInner
{
    float:left;
    padding:0 20px;
    width:263px;
}
#premier #grid .pillarPagination .pillarContent ul li .pillarContentInner
{
    width:243px;
}
#grid .pillarPagination .pillarContent h2
{
    color:#000;
    font-size:133.3%;
    line-height:20px;
    padding:5px 0 10px;
}
#grid .pillarPagination .pillarContent p
{
    color:#000;
    font-size:100%;
    line-height:16px;
}
#premier #grid .pillarPagination .pillarContent h2,
#premier #grid .pillarPagination .pillarContent p
{
    color:#fff;
    font-weight:bold;
}
#premier #grid .pillarPagination .pillarContent h2 a,
#premier #grid .pillarPagination .pillarContent p a
{
    color:#fff;
}
#grid .portalRow
{
    float:left;
    clear:both;
    width:620px;
    padding:0 0 20px;
}
#grid .portalRow .portalItem
{
    float:left;
    width:176px;
    padding:0 30px 0 0;
}
#grid .contentItem .portalRow .portalItem img
{
    float:none;
    padding:0;
}
#premier #grid .contentItem .portalRow .portalItem h3,
#advance #grid .contentItem .portalRow .portalItem h3
{
    padding:15px 0 5px;
    font-size:100%;
    line-height:19px;
}
#premier #grid .contentItem .portalRow .portalItem h3 a,
#advance #grid .contentItem .portalRow .portalItem h3 a
{
    font-size:100%;
    line-height:19px;
    padding:0 18px 0 0;
    background:url("../images/content/icon_overlay_launch_lrg.gif") right bottom no-repeat;
}
#premier #grid .contentItem .portalRow .portalItem p,
#advance #grid .contentItem .portalRow .portalItem p
{
    padding:0 0 10px;
}
#searchResults
{
    width:700px;
    float:left;
}
#searchResults h3
{
    font-size:150%;
    line-height:30px;
    padding:0 0 25px;
}
#searchResults h3 span
{
    color:#db0011;
}
#searchResults .searchMenu
{
    border-bottom:25px solid #fff;
    background-color:#e6e6e6;
    padding:10px 15px;
    width:670px;
}
#searchResults .searchMenu li
{
    display:inline;
    line-height:15px;
    padding:0 4px 0 0;
}
#searchResults .searchMenu li a
{
    line-height:15px;
}
#searchResults .searchMenu li.current a
{
    padding:0 4px;
    color:#fff;
    background-color:#db0011;
}
#searchResults .searchMenu li.next a
{
    padding:0 12px 0 8px;
    background:url("../images/content/moreLink.gif") right center no-repeat;
}
#searchResults .searchMenu li.prev a
{
    padding:0 8px 0 12px;
    background:url("../images/content/moreLinkBack.gif") left center no-repeat;
}
#searchResults .searchListing li
{
    font-size:100%;
}
#searchResults .searchListing h4
{
    line-height:20px;
    padding:0 0 10px;
}
#searchResults .searchListing p
{
    line-height:16px;
    padding:0 0 30px;
}
#treeNav
{
    border-bottom:1px solid #d9d9d9;
    float:left;
    padding:0 0 10px;
    width:200px;
}
#treeNav ul li
{
    padding:0 0 11px;
    font-size:100%;
}
#treeNav ul li.closed ul
{
    display:none;
}
#treeNav ul li.open ul
{
    display:block;
}
#treeNav ul li p,
#treeNav ul li ul li
{
    font-size:75%;
    padding:0 0 4px;
    line-height:20px;
}
#treeNav ul li p
{
    font-size:87.5%;
    padding:0 0 6px;
}
#treeNav ul li ul
{
    padding:0 0 0 20px;
}
#treeNav ul li a
{
    color:#333;
}
#treeNav ul li.on p a,
#treeNav ul li ul li.on a
{
    color:#db0011;
}
#mortgageForm
{
    background-color:#e6e6e6;
    float:left;
    display:inline;
    padding:20px 20px 10px;
    margin:0 0 25px;
    position:relative;
    width:900px;
}
#mortgageForm fieldset .mandatory
{
    font-size:75%;
    line-height:16px;
    position:absolute;
    right:20px;
    top:20px;
}
#mortgageForm fieldset .searchBtn
{
    position:absolute;
    right:20px;
    bottom:24px;
}
#mortgageForm ul
{
    padding:0 0 15px;
    width:780px;
}
#mortgageForm ul li
{
    position:relative;
    float:left;
    width:260px;
}
#mortgageForm ul,
#mortgageForm ul li label,
#mortgageForm ul li input,
#mortgageForm ul li select
{
    float:left;
}
#mortgageForm ul li label
{
    width:190px;
    padding:2px 29px 12px 0;
    position:relative;
    line-height:17px;
}
#mortgageForm span.help
{
    position:absolute;
    right:0;
    top:0;
}
#mortgageForm span.help a
{
    background:url("../images/content/icon_tooltip.gif") top left no-repeat;
    display:block;
    height:19px;
    border:1px solid #e6e6e6;
    width:19px;
}
#mortgageForm span.help a:active,
#mortgageForm span.help a:focus
{
    border:1px solid #000;
}
#mortgageForm fieldset select
{
    width:220px;
}
#mortgageForm fieldset input.question
{
    width:212px;
    padding:1px 3px;
}
#mortgageForm fieldset input.question,
#mortgageForm fieldset select
{
    border:1px solid #ccc;
    background-color:#fff;
    color:#333;
}
#mortgageForm .hide
{
    display:none;
}
#mortgageForm .helpText
{
    position:absolute;
    left:0;
    top:-60px;
    width:185px;
    padding:10px;
    line-height:16px;
    background-color:#626469;
    border:2px solid #999;
    float:left;
    color:#fff;
}
#mortgageForm fieldset input.question:active,
#mortgageForm fieldset input.question:focus
{
    background-color:#626469;
    color:#fff;
}
#mortgageForm fieldset input[type="submit"],
#productSelector fieldset input[type="submit"]
{
    background-origin:border-box;
    -moz-background-origin:border;
    -webkit-background-origin:border;
    background-clip:border-box;
    -moz-background-clip:border;
    -webkit-background-clip:border;
}
#mortgageForm fieldset input.searchBtn,
#productSelector fieldset input.compareBtn
{
    background-image:url("../images/content/bg_search_btn.gif");
    background-position:left top;
    background-repeat:no-repeat;
    background-color:#e6e6e6;
    font-size:100%;
    cursor:pointer;
    display:block;
    height:33px;
    font-size:75%;
    float:left;
    line-height:15px!important;
    text-indent:-9999px;
    width:73px;
}
#productSelector fieldset input.compareBtn
{
    background-image:url("../images/content/bg_compare_btn.gif");
    background-color:#fff;
    float:right;
    width:87px;
}
#mortgageForm fieldset input.searchBtn:hover,
#mortgageForm fieldset input.searchBtn:active,
#mortgageForm fieldset input.searchBtn:focus
{
    background-image:url("../images/content/bg_search_btn_hover.gif");
}
#productSelector fieldset input.compareBtn:hover,
#productSelector fieldset input.compareBtn:active,
#productSelector fieldset input.compareBtn:focus
{
    background-image:url("../images/content/bg_compare_btn_hover.gif");
}
#mortgageForm fieldset input.searchBtn:active,
#mortgageForm fieldset input.searchBtn:focus,
#productSelector fieldset input.compareBtn:active,
#productSelector fieldset input.compareBtn:focus
{
    border:1px solid #000;
}
#mortgageForm fieldset input[type="submit"]:active::-moz-focus-inner,
#mortgageForm fieldset input[type="submit"]:focus::-moz-focus-inner,
#productSelector fieldset input[type="submit"]:active::-moz-focus-inner,
#productSelector fieldset input[type="submit"]:focus::-moz-focus-inner
{
    border:0!important;
}
.jqmOverlay
{
    background-color:#4e4e4e;
    overflow:hidden;
}
.jqmWindow
{
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:50px;
}
.jqmWindow a span
{
    cursor:pointer;
}
.lightview
{
    margin:0 auto;
    background-color:#fff;
    position:relative;
}
.lightview:after
{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.jqmWindow .close
{
    height:52px;
    position:absolute;
    right:-12px;
    top:-12px;
    width:52px;
}
.jqmWindow .close span
{
    background:url("../images/common/closemodal_window.gif") left top no-repeat;
    height:52px;
    width:52px;
    display:block;
}
.jqmWindow .close a:active span,
.jqmWindow .close a:focus span
{
    outline:1px solid #db0011;
}
#lightviewDetails .lightview,
#lightviewShare .lightview

{
    width:540px;
    padding:30px 40px 40px;
}
#lightviewDetails1 .lightview,
#lightviewDetails2 .lightview,
#lightviewDetails3 .lightview,
#lightviewDetails4 .lightview,
#lightviewDetails5 .lightview,
#lightviewDetails6 .lightview,
#lightviewDetails7 .lightview,
#lightviewDetails8 .lightview,
#lightviewDetails9 .lightview,
#lightviewDetails10 .lightview,
#lightviewDetails11 .lightview,
#lightviewDetails12 .lightview,
#lightviewDetails13 .lightview,
#lightviewDetails14 .lightview,
#lightviewDetails15 .lightview,
#lightviewShare.lightview
{
    width:540px;
    padding:40px;
}
#lightviewProposition .lightview,
#lightviewProduct .lightview
{
    width:980px;
    padding:20px 0 18px;
}
.lightviewHeading
{
    float:left;
    width:930px;
    padding:25px 25px 15px;
}
#lightviewProduct .lightviewHeading
{
    border-bottom:8px solid #db0011;
}
.lightviewHeading h2
{
    float:left;
}
.lightviewHeading img
{
    padding:9px 0 9px 2px;
    float:left;
}
#lightviewProduct .lightviewHeading h2
{
    font-size:150%;
    padding:5px 20px 0 0;
    line-height:28px;
}
.lightviewHeading .right
{
    float:right;
}
.lightviewHeading .right p
{
    font-size:87.5%;
    float:left;
    font-weight:bold;
    color:#333;
    padding:9px 10px 10px 0;
}
.lightviewFooter
{
    float:left;
    width:930px;
    padding:57px 25px 0;
    background:url("../images/content/bg_footer.gif") left top no-repeat;
}
#lightviewDetails1 .lightviewFooter,
#lightviewDetails2 .lightviewFooter,
#lightviewDetails3 .lightviewFooter,
#lightviewDetails4 .lightviewFooter,
#lightviewDetails5 .lightviewFooter,
#lightviewDetails6 .lightviewFooter,
#lightviewDetails7 .lightviewFooter,
#lightviewDetails8 .lightviewFooter,
#lightviewDetails9 .lightviewFooter,
#lightviewDetails10 .lightviewFooter,
#lightviewDetails11 .lightviewFooter,
#lightviewDetails12 .lightviewFooter,
#lightviewDetails13 .lightviewFooter,
#lightviewDetails14 .lightviewFooter,
#lightviewDetails15 .lightviewFooter,
#lightviewShare .lightviewFooter
{
    width:520px;
    padding:40px 10px 0;
    background:none;
}
.jqmWindow .lightviewFooter a.redLink
{
    float:right;
    background:url("../images/content/footer_red_arrow.gif") right bottom no-repeat;
    font-size:87.5%;
    line-height:14px;
}
#lightviewDetails .grid_8 .column
{
    width:498px;
    padding:10px 20px 20px;
    margin:0;
}
#lightviewDetails1 .grid_8 .scroll,
#lightviewDetails2 .grid_8 .scroll,
#lightviewDetails3 .grid_8 .scroll,
#lightviewDetails4 .grid_8 .scroll,
#lightviewDetails5 .grid_8 .scroll,
#lightviewDetails6 .grid_8 .scroll,
#lightviewDetails7 .grid_8 .scroll,
#lightviewDetails8 .grid_8 .scroll,
#lightviewDetails9 .grid_8 .scroll,
#lightviewDetails10 .grid_8 .scroll,
#lightviewDetails11 .grid_8 .scroll,
#lightviewDetails12 .grid_8 .scroll,
#lightviewDetails13 .grid_8 .scroll,
#lightviewDetails14 .grid_8 .scroll,
#lightviewDetails15 .grid_8 .scroll
{
    width:500px;
    padding:20px;
    border:0;
    margin:0;
    height:300px;
    overflow-y:auto;
    overflow-x:hidden;
}
.boxshadow .grid_8 .scroll
{
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#lightviewDetails .grid_8 .shaded
{
    padding:0;
    margin:0 0 10px;
    width:540px;
}
#lightviewDetails .grid_8 .column img
{
    float:left;
    padding:10px 20px 0 0;
}
.jqmWindow .closeHidden
{
    height:auto;
    position:static;
    width:auto;
}
.jqmWindow .closeHidden a
{
    position:absolute;
    display:block;
    right:40px;
    top:-99999px;
    font-size:75%;
    font-weight:bold;
    text-decoration:underline;
    color:#db0011;
    padding:10px;
    line-height:15px;
}
.jqmWindow .closeHidden a:active,
.jqmWindow .closeHidden a:focus
{
    right:40px;
    top:0;
}

ul.greenTick {
	padding-left: 0 !important;
}

ul.greenTick li {
	background: url("../images/content/included.gif") no-repeat scroll left top transparent;
	padding-left: 25px !important;
	list-style-type: none !important;
}


section#buissness_card img{
    position: relative;
    left: -20px;
    top: -20px;
}

.borderBottom{
    width: 100%;
    padding: 0 0 18px;
    border-bottom: 1px solid #ccc;
    float: left;
}

.premier-credit-cards-articles article {
    float: left;
    margin-bottom: 26px;
}

.premier-credit-cards-articles article .article-photo {
    float: left;
    margin-right: 20px;
    width: 220px;
    height: 124px;
    overflow: hidden;
}


p.premier-credit-cards-paragraph{
    font-size: 14px !important;
    color: #000 !important;
    line-height: 18px;
}

p.article-content a{
    text-decoration: underline !important;
}

p.premier-credit-cards-details{
    font-size: 12px !important;
    clear: both;
    margin-bottom: 20px;
}

.premier-credit-cards-articles article header h3{
    margin-bottom: 10px;
    font-weight: normal !important;
}

.premier-credit-cards-articles article header h3 a{
    color: #292278 !important;
    font-size: 22px;
    text-decoration: none !important;
    cursor: pointer;
}

.premier-credit-cards-articles article p.article-content{
    line-height: 18px;
    color: #000000 !important;
    font-size: 14px !important;
    overflow: hidden;
	margin-right:*margin-right:-2px;
}
.itemLI{color:#292278 !important; font-size:22px !important;} /*This is used for rewards page Items*/







.premierCreditArticles article {
    float: left;
    margin-bottom: 26px;
}

.premierCreditArticles article .article-photo {
    float: left;
    margin-right: 20px;
    width: 220px;
    height: 124px;
    overflow: hidden;
}


.premierCreditArticles article header h3{
    margin-bottom: 10px;
    font-weight: normal !important;
}

.premierCreditArticles article header h3 a{
    color: #292278 !important;
    font-size: 22px;
    text-decoration: none !important;
    cursor: pointer;
}

.premierCreditArticles article p.article-content{
    line-height: 18px;
    color: #000000 !important;
    font-size: 14px !important;
    overflow: hidden;
	margin-right:*margin-right:-2px;


}






.hsbc-advance-sp{color:#db0011 !important;font-weight:bold !important;}

#grid .mdText{padding-left: 29px !important;font-size: 14px !important;}

.premier2014 .featuresDetails p.intropara{font-size:142%;}







/*va non js*/
#jsVA{
    display:none;
}

#nonjsVA{
    display:block;
}


#grid .EligibilityGenerealContent {
	font-size:90%;

}
#grid .grid li.spacep{padding:9px 0 7px 0 !important;}

/*end va non js*/

.hideLongVersion .longVersion {
	display: none;
}

.CTAbox {
	float:right;
	width:220px;
	border:1px solid #ebebeb;
	position:relative;
	margin-top:50px;
}

.CTAboxInner{
	padding:25px;
}

.CTAbox .CTAWhiteBtn {
border: 1px solid #d91419;
color: #d91419 !important;
display: inline-block;
font-size: 1em;
line-height: 1em;
padding: 12px 20px;
}

.CTAbox p {
	margin-bottom:20px;
	font-size:0.875em;
	line-height:1.286em;
}

.CTAboxTitle {
	font-size:1.25em;
	line-height:1.250em;
	margin-bottom:12px;
}

.CTAboxTitle a .icon {
	background: url(../images/uk-content/lrg_red_arrow2.gif) no-repeat center;
	display: inline-block;
	width: 8px;
	height: 16px;
	padding-left: 9px;
	vertical-align: baseline;
}



.CTARedBtn {
	border: 1px solid #db1711;
	background: #d40500;
	padding: 12px 20px;
	display: inline-block;
	font-size: 1em;
	line-height: 1em;
	color: #ffffff !important;
	cursor: pointer;	
}

.CTARedBtn span {
	padding-right: 20px;
	background: url(../images/uk-content/arr-white-right2.png) no-repeat right center;
}


#propositionTabs #pageTabs.sixTabs
{
width:940px;padding:0px;
}


#propositionTabs #pageTabs.sixTabs ul
{
width:940px;padding:0px;top: -91px;
}


#propositionTabs #pageTabs.sixTabs ul a
{
width:156px;margin:0;padding:0;height: 65px;
}


.img_right
{
float:right;
}
/* <TESTING> */
.contentItem table tr.odd td.colm_colour_ovride
{
background-color:#c8e8a1;
} 

.contentItem table tr td.colm_colour_ovride
{
background-color:#daf0c1;
}
/* <TESTING> */

<!--[if IE 7]>
.CTAboxTitle a .icon {
	background-position-y:0px !important;
}
<![endif]-->


/* <TESTING> */
/* Superscript is inconsistent across IE and FF (often as large as the supporting text or too small to be legible) and looks untidy jammed left against the supporting text.
This changes forces a consistent size across the site and introduces a small gap on the left to stop it merging with the text. If it passes cross-browser testing it should be moved to an appropriate place in the CSS file */
sup {
    font-size: 9px!important;
    padding-left: 2px;
}

.sup_overide
{
font-size: 10px !important;
}

/* In some locations (see hsbc-advance/protection), button text can be too small (on IE, which doesn't honour the font weight at this font size). This optional rule forces it to be body-text size for consistency */

.jqmWindow a.greyBtn span.buttonFix, .jqmWindow a.redBtn span.buttonFix, #grid a.greyBtn span.buttonFix, #grid a.redBtn span.buttonFix {
    font-size: 100%;
}

}

/* </TESTING> */

sup.test
{
font-size:75%;
}

#grid .productItem p.textSize
{
    line-height:18px;
    padding:0 0 10px;
	font-size:14px;
}

.rightSideBottomBanner {
	
	float: right; 
	padding-right:40px;
	padding-bottom:40px
	
}

.studentRightSideBottomBanner {
	
	float: right;
	padding-right: 62px;
	padding-top: 20px;
		
}

.premierRightSideBottomBanner {	
	
	padding-left: 795px;
	margin-bottom: 40px;
	
}


#helpMainContent h3 a{line-height:15px !important;} 
