#grid .grid .supportRow {
    float: left;
    width: 960px;
}

#grid .grid .supportRow .supportSelect {
    background: url("../images/uk-content/supportShadow.gif") no-repeat scroll center bottom transparent;
    border-bottom: 30px solid #FFFFFF;
    float: left;
    padding: 17px 0 28px;
    width: 940px;
}

.boxshadow #grid .grid .contactUsSelect, .boxshadow #grid .grid .supportRow .supportBox {
    box-shadow: 0 0 15px #E2E2E2;
}

#grid .grid .supportRow .supportBox {
    border: 1px solid #E2E2E2;
    float: left;
    width: 938px;
}

#grid .grid .supportRow .supportBox ul {
    background: url("../images/uk-content/supportDivider.gif") no-repeat scroll left top transparent;
    float: left;
    width: 938px;
}

#grid .grid .supportRow .supportBox li {
    color: #000000;
    float: left;
    font-size: 87.5%;
    font-weight: bold;
    height: 140px;
    line-height: 18px;
    position: relative;
    text-align: center;
    width: 134px;
}

#grid .grid .supportRow .supportBox li.selected {
    background-color: #4D4D4D;
    color: #FFFFFF;
}

#grid .grid .supportRow .supportBox li a {
    color: #000000;
    display: block;
    font-weight: bold;
    left: 0;
    line-height: 18px;
    padding: 16px 0 126px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 134px;
}

#grid .grid .supportRow .supportBox li.selected a {
    color: #FFFFFF;
}

/*#grid .grid .supportRow .supportBox li a.box01 {
    background: url("../images/uk-content/box01.gif") no-repeat scroll center bottom transparent;
    padding: 16px 0 108px;
}

#grid .grid .supportRow .supportBox li a.box02 {
    background: url("../images/uk-content/box02.gif") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box03 {
    background: url("../images/uk-content/box03.gif") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box04 {
    background: url("../images/uk-content/box04.gif") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box05 {
    background: url("../images/uk-content/box05.gif") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box06 {
    background: url("../images/uk-content/box06.gif") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box07 {
    background: url("../images/uk-content/box07.gif") no-repeat scroll center bottom transparent;
}*/


#grid .grid .supportRow .supportBox li a.box01 {
    background: url("../images/uk-content/travel_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
    padding: 16px 0 108px;
}

#grid .grid .supportRow .supportBox li a.box02 {
    background: url("../images/uk-content/dining_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box03 {
    background: url("../images/uk-content/shopping_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box04 {
    background: url("../images/uk-content/health_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box05 {
    background: url("../images/uk-content/lounge_box1_134x82px_d099.jpg") no-repeat scroll center 79px transparent; 
}

#grid .grid .supportRow .supportBox li a.box06 {
    background: url("../images/uk-content/vouchers_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box07 {
    background: url("../images/uk-content/holidays_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box08 {
    background: url("../images/uk-content/wine_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box09 {
    background: url("../images/uk-content/charity_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li a.box10 {
    background: url("../images/uk-content/auto_box_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}


#grid .grid .supportRow .supportBox li.selected a.box01 {
    background: url("../images/uk-content/travel_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box02 {
    background: url("../images/uk-content/dining_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box03 {
    background: url("../images/uk-content/shopping_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box04 {
    background: url("../images/uk-content/health_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box05 {
    background: url("../images/uk-content/lounge_box_selected_134x82px_d099.jpg") no-repeat scroll center 79px transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box06 {
    background: url("../images/uk-content/voucher_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box07 {
    background: url("../images/uk-content/holidays_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box08 {
    background: url("../images/uk-content/wine_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box09 {
    background: url("../images/uk-content/charity_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}

#grid .grid .supportRow .supportBox li.selected a.box10 {
    background: url("../images/uk-content/auto_box_selected_134x120px_d099.jpg") no-repeat scroll center bottom transparent;
}


#grid .grid .supportRow .supportContent {
    float: left;
    padding: 0 0 20px;
    width: 940px;
}

#grid .grid .supportRow .supportContent .contentItem {
    padding: 24px 80px 0 20px;
    width: 300px;
}

#grid .grid .supportRow .supportContent h4, #grid .grid .supportRow .supportContent p.intro, #grid .grid .supportRow .supportContent .contentItem h5 {
    font-size: 112.5%;
    line-height: 24px;
    padding: 0 0 12px;
}

#grid .grid .supportRow .supportContent .contentItem ul {
    background: url("../images/uk-content/wideDotted.gif") repeat-x scroll left top transparent;
    margin: 13px 0 0;
    padding: 0;
    width: 300px;
    list-style: none outside none;
}

#grid .grid .supportRow .supportContent .contentItem ul li {
    background: url("../images/uk-content/wideDotted.gif") repeat-x scroll left bottom transparent;
    color: #000000;
    font-size: 87.5%;
    list-style: none outside none;
    padding: 10px 0 9px;
}

#grid .grid .supportRow .supportContent .contentItem ul li a {
    color: #000000;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}

#grid .grid .supportRow .supportContent .contentItem ul li a:focus, #grid .grid .supportRow .supportContent .contentItem ul li a:hover {
	text-decoration: underline !important;	
}