#grid #breadcrumb,
#grid #rightNav,
#grid a.redBtn,
#grid a.greyBtn,
#grid a.redLink,
#grid a.pdfLink,
#grid #pageNav,
#grid .applyNav,
#grid a.overlayLaunchLink,
#detailsTable thead,
#grid .contentItem table tbody tr th span.help a,
#grid .helpText p strong,
#grid #detailsTable table td p.more
{
	display:none!important;
}
#grid ol,
#grid .contentItem ul,
#grid .productItem ul,
#grid #detailsTable table td ul
{
	padding:0 0 0 20px!important;
	margin:15px 0!important;
}
#grid .productItem p,
#grid .contactRow p,
#grid .grid .ctaRow p
{
	margin:15px 0!important;
	padding:0!important;
}
#grid .grid .ctaRow
{
	position:static!important;
	margin:0 0 5px!important;
	width:100%!important;
}
#grid .grid .productItem h3 span,
#grid .grid .ctaRow span
{
	display:inline!important;
}
#grid #detailsTable table,
#grid .contactRow .column
{
	width:100%!important;
}
#grid #detailsTable table th,
#grid #detailsTable table td
{
	width:25%!important;
	padding:0 30px 0 0!important;
	vertical-align:top!important;
	text-align:left!important;
}
#grid #detailsTable table td
{
	width:75%!important;
	padding:0!important;
}
#grid #detailsTable table tr.rowContent,
#grid #detailsTable table,
#grid .grid .eligibilityRow
{
	page-break-after:always!important;
}
#grid .ratesRow #detailsTable table tr.rowContent,
#grid .ratesRow #detailsTable table,
#grid .tableRow #detailsTable table tr.rowContent,
#grid .tableRow #detailsTable table
{
	page-break-after:avoid!important;
}
#grid #detailsTable table th h4,
#grid #detailsTable table th h5,
#grid #detailsTable table td p,
#grid #detailsTable table td h5
{
	margin:0 0 10px!important;
	vertical-align:top!important;
}
#grid #detailsTable caption
{
	font-size:16pt!important;
	font-weight:bold!important;
	line-height:18pt!important;
	color:#000!important;
	margin:10px 0!important;
}
#grid #detailsTable table th h4,
#grid #detailsTable table td h5
{
	font-size:12pt!important;
	line-height:16pt!important;
}
#grid #detailsTable .moreDetails
{
	display:block!important;
}