@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 700;
  src: local('Averia Libre Bold'), local('AveriaLibre-Bold'), url(http://fonts.gstatic.com/s/averialibre/v4/r6hGL8sSLm4dTzOPXgx5XX06qf9KHRHwsVx7iw5MXmY.ttf) format('truetype');
}
