html {
  /*background: #222;*/
  background: #FFF;
}
body {
/*  font-size: 160%;
  font-size: 140%;
  font-weight: 300;
*/
  color: #333;
}
/*h1,*/
h2,
h3 {
  font-weight: normal;
  margin-bottom: 2rem;
font-size: 22px;
}

p,
p:last-child {
  margin-bottom: 2rem;
}
.carousel-control {
  font-size: 3rem;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}


.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-brand {
  /*font-weight: normal;*/
    font-size: 34px;
  color: #333333 !important;
  text-shadow: 2px 2px 4px #fff;
}
.navbar-brand img {
    float: left;
 /*   height: 8.2rem;*/
    width: auto;
    margin: -0.6rem 1rem 0 0;
}

.navbar #block-search-form {
    float: none;
    margin: 0px 0 0px 5px;
}

.header {
  position: relative;
/*
  margin-top:30px;
*/
  padding: 5px;
/*  padding-top: 10px;*/
  text-align: center;
  border-bottom: 1px solid #dddddd;
  background: #eeeeee no-repeat center center;
  background:url(./images/bg-iitm.png);
  background-size: cover;
/*display:none;*/
}
.header .breadcrumb {
  background: transparent;
  font-size: 12px;
  opacity: 0.5;
}
.header .jumbotron {
  margin: 0;
  padding: 5rem 0 0 0;
  /*padding: 12rem 0 6rem 0;*/
  background-color: transparent;
}
.header .jumbotron h1,
.header .jumbotron h2 {
  font-size: 42px;
  font-weight: 300;
  margin: 0 0 1rem 0;
 /* margin: -5px 0 -5px 0;*/
}
.header-top {
  position: absolute;
  top: 5rem;
  width: 100%;
  z-index: 1;
}
.header-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.header-bottom .nav-tabs {
  margin-bottom: 0;
  border-bottom: none;
}
.main {
  /*padding: 4rem 0 2rem 0;*/
  padding: 1px 0 2px 0;
}
.main-col {
  margin-bottom: 2rem;
}

.region-sidebar-first .nav {
  margin: 0 -1.9rem;
}
.region-sidebar-first .nav > li > a {
  padding: 1rem 1.9rem;
}
.bottom {
  background: #eeeeee;
  padding: 4rem 0;
}
.region-share .at-share-btn {
  float: left;
  width: 20%;
  max-width: none !important;
  max-height: 5rem !important;
  margin: 0 !important;
  padding: 0.9rem;
  text-align: center;
  cursor: pointer;
}
.region-share .at_flat_counter {
  float: left;
  margin: 0.9rem 0 0.9rem -6rem !important;
}
.footer {
  background: #222;
  color: #777777;
  margin-top: 0;
  padding: 2rem 0;
  border: none;
  text-align: center;
}
.footer a {
  color: #9d9d9d;
  text-decoration: none;
}
.footer a:hover {
  color: white;
}
.footer hr {
  border-color: #333333;
}
.footer .block {
  padding: 2rem 0;
}
.footer .block + .block {
  border-top: 1px solid #333333;
}
#block-menu-menu-footer-sitemap {
  text-align: left;
}
#block-menu-menu-footer-sitemap li {
  margin-top: 0.5rem;
}
#block-menu-menu-footer-sitemap li.root {
  margin-bottom: 1.5rem;
}
#block-menu-menu-footer-sitemap li.root > a {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}
#block-menu-menu-footer-sitemap li.root > ul {
  margin-top: 1.5rem;
}

.well {
min-height: 20px;
margin-bottom: 20px;
padding: 10px 0 0 10px;
background-color: #fff;
border: 0;
border-radius: 0;
background-image: none;
}
a {
    color: #444;
    text-decoration: none;
}
a,a:focus {
	color: #B68838;
    text-decoration: none !important;
}
/*
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; 
}
*/


h1 {
  /*
  text-shadow: 0 1px 0 #444,
               0 2px 0 #449D44,
               0 3px 0 #555,
               0 4px 0 #449D44,
               0 5px 0 #666,
               0 6px 1px #449D44,
               0 0 5px #449D44,
               0 1px 3px #449D44,
               0 3px 5px #449D44,
               0 5px 10px #449D44,
               0 10px 10px #449D44,
               0 20px 20px rgba(0,0,0,.15);


color: rgba(0, 0, 0, 0.2); 
-webkit-text-stroke: 1px black;
*/
}

.achivementheader  {
    height: 28px;
    font-size: 15px;
    padding: 8px 10px 0px;
    margin-bottom: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 2px 0 #999999;
    -webkit-box-shadow: 1px 1px 2px 0 #999999;
    box-shadow: 1px 1px 2px 0 #999999;
	color: #FFF;
	background-color: #4f7319;
}

#researchhighlights {
color: #34A6E7;
   background: none;
   background-images: none;
   border: none;
}

.breadcrumb {
    margin-bottom: 0px;
    background-color: #fff;
}

.iitmsearch {
	margin-top:12px;
}

footer {
    background-color: #332D22;
    /*padding-top: 5px;*/
    width: 100px;
    text-align: center;
    color: White;
    display: block;
    /*
    text-align: left;
    position: absolute;
    */
}

footer a{
  color: #FFF;
}

.afa-color {
/*    color: #fff;*/
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.fa-flag:hover {
    color: yellow;
}
/*
.headerimg {
    margin-top: 18px;
    text-align: center;
}
*/

.panelbg {
    margin-top: 3px;
	
/*
background-color: #eff;
background: transparent url("http://hebroninvest.com/images/backgrounds/patterns/diagonal-line2.png") repeat scroll 0% 0%;
background: transparent url("http://hebroninvest.com/images/backgrounds/patterns/img-bg.jpg") repeat scroll 0% 0%;
*/
}

.panel-primary {
    border-color: #fff;
}

.panelbg a{
/*color: #335;*/
color: #666;
}

.panelbg li {
  padding: 0;
  margin: 0;
  list-style: none;
 /* border-bottom: 1px solid #ddd;*/
  padding: 7px;
}

.panelbg li:before {
  content: '\f006';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #0074D9;
}
/*
li {
    font-family: FontAwesome;
    content: "\f073";
    color:grey;
    font-size:25px;
}
*/
.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 2px auto 0;
/*  margin: 26px auto 0;*/
  max-width: 550px;
  min-height: 300px;
  padding: 0 12 0 12px;
  /*padding: 24px;*/
  position: relative;
/*  width: 80%;*/
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}


.block-title {
 display:none;
}

/* add a little bottom space under the images */
.thumbnail {
		margin-bottom:7px;
	}

/*
.thumbnail {
border: 0px;
border-top: 1px solid #dddddd;
}
*/

/*
header {
font-size: 17px;
line-height: 1.6;
width: auto;
background-color: #40ABE8;
color: #fff;
padding: 8px 12px;
}

.node-readmore {
    right: -10px;
    bottom: 10px;
    color: #fff;
    padding: 1px 6px;
    position: absolute;
    background: #72c02c;
    display: inline-block;
}
*/

.news-btn-style a{
    right: -10px;
    bottom: 10px;
    color: #fff;
    padding: 1px 6px;
    position: absolute;
    background: #72c02c;
    display: inline-block;
}

.hover-effect {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


.view-content{

/*font-family: Consolas,"courier new";*/
font-size: 14px;
line-height: 1.6;
width: auto;
background-color: #fff;
padding: 2px 2px;
/*border-bottom: 1px solid #888;*/
word-wrap: break-word;
margin-left: -20px;
}


.section-lines {
	  border-top: solid 1px #ddd;
	    border-bottom: solid 1px #ddd;
	      margin-bottom: 40px;
	        background-color: #f9f9f9;
	}
	.section-title {
		  border-bottom: solid 1px #ddd;
		    padding-bottom: 15px;
		      margin-top: 39px;
		        color: #000;
		}
		.section-title:first-letter {
			  color: #0099da;
		  }
		  .css-section {
			    margin-bottom: 50px;
		    }
.more-link {
	float: right;
	margin-top: -17px;
	margin-bottom: 1px;
  /*
	color: rgb(9, 9, 0);
	background-color: rgb(69, 67, 69);
	background-color: #73AD21;
	*/
	/*background-color: #F0CFFC;*/
	color: #D92238;
	/*border-radius: 5px;*/
	padding: 1px;
}


/*** Sub menu **/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dark-background {
    background-color: #66430B;
    padding-top: 5px;
    width: 100%;
}

.views-row-4 { 
display:none;
}
.views-row-5 { 
display:none;
}
/* added by Irudayaraj on 29th Sept 2016 */
.slider {
  height: 48px;
  font-size: 26px;
  overflow: hidden;
/*  background-color: lightgrey;*/
}

.slider div, .slider div p {
  margin: 0;
  padding: 0;
}

.slider div {
  animation: slide 10s 5s infinite;
}

@keyframes slide {
  0% { margin-top: 0; }
  25% { margin-top: -18px; }
  50% { margin-top: -36px; }
  75% { margin-top: -54px; }
  100% { margin-top: 0; }
}

