@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: local('Yeseva One'), local('YesevaOne'), url(https://fonts.gstatic.com/s/yesevaone/v10/AehIYCFomPDBe18pH83xwy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
