
/**
 * Dragdealer.js 0.9.8
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */

.dragdealer {
  position: relative;
  height: 54px;
  background: #EEE;
}

@media (max-width: 991px){
	.dragdealer{
		height:32px;
	}	
}


.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index:71;
}
.dragdealer .gray-bar {
  width: 100px;
  height: 54px;
  background: #e0e0de;
  color: #999999;
  font-size: 24px;
  line-height: 55px;
  text-align: center;
}

@media (max-width: 991px){
	.dragdealer .gray-bar {
		width:50px;
  		font-size:13px;
  		height:32px;
		line-height: 32px;
	}	
}
			
.dragdealer .disabled {}

#act-timeline{
	background-color:#fff;
}
				
	#act-timeline #act-timeline-main{
		position:relative;
		height:334px;
		overflow:hidden;
	}
	.act-timeline-cover{
		position:relative;
		z-index:99;
		width:100%;
		height:100%;
	}
	#act-timeline .row.featured-row h4{
		overflow:hidden;
		white-space: nowrap;
		margin-right:10px;
	}
	
	@media (max-width: 991px){
		#act-timeline .row.featured-row h4{
			font-size:20px;
			margin-top:15px;
		}
	}
	
	#act-timeline .row.featured-row h6{
		text-transform:uppercase;
		white-space: nowrap;
	}
				
	@media (max-width: 767px){
		#act-timeline #act-timeline-main{
			height:450px;
		}
	}
	
		#act-timeline #act-timeline-main .fade-history{
			height:50px;
			width:100%;
			position:absolute;
			top:auto;
			bottom:25px;
			z-index:101;
		}
		
			#act-timeline #act-timeline-main .fade-history .gradient-bottom {
				width:100%;
				height:50px;
				z-index:100;
				background: -webkit-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
				background: -o-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
				background: -moz-linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
				background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
			}

		/* #act-timeline #act-timeline-main #act-timeline-overview, */
		#act-timeline #act-timeline-main #act-timeline-events-container{
			position:absolute;
			height:334px;
			width:100%;
			top:0;
			left:0;
			z-index:99;
		}
		
		#act-timeline #act-timeline-main #act-timeline-overview{
			-webkit-overflow-scrolling:touch;
		}
				
		@media (max-width: 767px){
			#act-timeline #act-timeline-main #act-timeline-overview,
			#act-timeline #act-timeline-main #act-timeline-events-container{
				height:450px;
			}
		}
		
		#act-timeline #act-timeline-main #act-timeline-overview{
			color:#666;
			padding:30px 44px 20px 44px;
			height:304px;
			overflow-y:auto;
			width:100%;
			display:block;
			background-color:#fff;
			z-index:99;			
		}
		#act-timeline #act-timeline-main #act-timeline-overview #mCSB_container{
			background-color:#fff;
		}
		
		#act-timeline #act-timeline-main #act-timeline-overview::-webkit-scrollbar {
    		-webkit-appearance: none;
    		width: 7px;
		}
		
		#act-timeline #act-timeline-main #act-timeline-overview::-webkit-scrollbar-thumb {
    		border-radius: 4px;
   			background-color: rgba(0,0,0,.5);
   			-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
		}
		
		@media (min-width: 992px){
			#act-timeline #act-timeline-main #act-timeline-overview{
				overflow:hidden;
			}	
		}
		
		@media (max-width: 767px){
			#act-timeline #act-timeline-main #act-timeline-overview{
				height:420px;
			}	
		}
			
			#act-timeline #act-timeline-main #act-timeline-overview .act-history{
				text-transform: uppercase;
				font-size:13px;
				font-weight:bold;
				text-align:center;
				color:#ababab;
			}
			
			#act-timeline #act-timeline-main #act-timeline-overview h2{
				color:#152e62;
				font-size:2.2em;
			}
						
		#act-timeline #act-timeline-main #act-timeline-events-container{
			display:block;
			overflow:hidden;
			/*border:1px solid black;*/
			position:relative;
			z-index:57;
		}
		
			#act-timeline #act-timeline-main #act-timeline-events-container .gradient-right {
				float:right;
				width:140px;
				height:244px;
				z-index:100;
				left:10px;
				position:absolute;
				background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
				background: -o-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
				background: -moz-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
				background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
			}
			
			#act-timeline #act-timeline-main #act-timeline-events-container .gradient-left {
				float:left;
				width:140px;
				height:244px;
				z-index:100;
				position:absolute;
				background: -webkit-linear-gradient(left,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
				background: -o-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
				background: -moz-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
				background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
			}
			
			@media (max-width: 767px){
				#act-timeline #act-timeline-main #act-timeline-events-container .gradient-right,
				#act-timeline #act-timeline-main #act-timeline-events-container .gradient-left {
					height:350px;
				}	
			}
			
			#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events{
				height:244px;
				/*border:1px solid black;*/
				width:9000px;
				/*left:400px;*/
				position:absolute;
				z-index:0;
			}
			
			@media (max-width: 767px){
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events{
					height:360px;
				}	
			}
		
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event{
					float:left;
					display:inline-block;
					height:244px;
				}
				
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event img{
					width:100%; 
					height:244px;
				}
				
				@media (max-width: 767px){
					#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event img{
						height:190px;
					}	
				}
			
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event .inner-sec{
					height:244px;
					overflow-y:auto;
					overflow-x:hidden;
					-webkit-overflow-scrolling:touch;
				}

				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event .inner-sec::-webkit-scrollbar {
    				-webkit-appearance:none;
    				width: 7px;
				}
				
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event .inner-sec::-webkit-scrollbar-thumb {
    				border-radius: 4px;
   					background-color: rgba(0,0,0,.5);
    				-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
				}

					@media (max-width: 767px){
						#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event{
							height:360px;
						}
						
						#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event .inner-sec{
							height:360px;
						}	
					}
			
					#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event h2{
						color:#152e62;
						font-size:2.5em;
						margin-top:0px;
					}
					
					#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event h6{
						text-transform:uppercase;
					}
		
			#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-years{
				text-align:center;
				margin:20px 0;
				color:#666;
			}
			
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-years .year{
					cursor:pointer;
					cursor:hand;
				}
				
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-years .year:after{
    				content: ' • ';
				}
				
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-years .year:last-child:after{
    				content: '';
				}
				
				#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-years .year.active{
					font-weight:800;
				}
		
	#act-timeline #act-timeline-nav{
		margin-left:0px;
		left:0px;
	}

		#act-timeline #act-timeline-nav #act-timeline-slider,
		#act-timeline #act-timeline-nav #act-timeline-bar{
			width:100%;
			margin-left:0;
			left:0;
		}
		
		#act-timeline #act-timeline-nav #act-timeline-slider{}
		
			#act-timeline #act-timeline-nav #act-timeline-slider .gray-bar-arrow{
				background:url('act-about/images/bg-gray-bar-arrow.png') no-repeat top left;
				height:11px;
				width:100%;
				position:relative;
				top:-1px;
			}
		
		#act-timeline-bar{
			margin-top:13px;
			height:1px;
			background-color:#ccc;
		}

			#act-timeline #act-timeline-nav #act-timeline-bar .timeline-event-marker{
				width:5px;
				height:5px;
				border-radius:2px;
				-moz-border-radius:2px;
				margin-top:-2px;
				display:block;
				background-color:#e32b21;
				position:absolute;
				z-index:25;
				cursor:pointer;
				cursor:hand;
			}
			
				@media (max-width: 991px){
					#act-timeline #act-timeline-nav #act-timeline-bar .timeline-event-marker{
						cursor:default;
					}
				}
				
				#act-timeline #act-timeline-nav #act-timeline-bar .timeline-event-marker p{
					font-size:14px;
					margin-top:6px;
					color:#565656;
					margin-left:-10px;
				}

	#act-timeline .act-timeline-controls{
		font-size:2em;
		position:relative;
		top:-56px;
		z-index:70;
		width:100%;
	}
	
	@media (max-width: 991px){
		#act-timeline .act-timeline-controls {
			top:-40px;
			font-size:1.5em;
		}	
	}

		#act-timeline .act-timeline-controls a{
			color:#565656;
			padding:0;
			margin:0;
			text-decoration:none;
		}
	
		#act-timeline .act-timeline-controls a:hover,
		#act-timeline .act-timeline-controls a:visited,
		#act-timeline .act-timeline-controls a:link,
		#act-timeline .act-timeline-controls a:active{
			text-decoration:none;
		}
		
		#act-timeline .act-timeline-controls a#act-timeline-prev{
			padding-left:5px;
		}
		
		#act-timeline .act-timeline-controls a#act-timeline-next{
			padding-right:5px
		}

@media (max-width: 767px){
	 #act-timeline #act-timeline-main #act-timeline-overview{
	 	padding:30px 26px 20px 26px;
	 }
}
.carousel-content-pods.aboutact .video-item h5{
	text-transform:uppercase;
}

.carousel-content-pods.aboutact h6{
	/* line-height:2.2em; */
}

@media (max-width:991px) {
	.carousel-content-pods.aboutact h6{
		/* line-height:3.3em; */
	}
}
