* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important;height: auto!important;position: static!important;min-height: intial!important;background-color: white!important; transition:none !important;} /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline;color:blue!important;margin:0!important;  }
  a[href]:after { content: " "; }
  /* a[href]:after { content: " (" attr(href) ")"; } */
  /* abbr[title]:after { content: " (" attr(title) ")"; } */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img  { page-break-inside: avoid; }
  img { max-width: 100% !important;text-align: left; margin: 20px auto;
    page-break-before: avoid; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: avoid; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
  }
  
  @page { margin: 1.5cm; }
  p, h1, h2, h3 { orphans: 3; widows: 3; }
  h1, h2, h3 { page-break-after: avoid; }
  h1, h2, h3, h4, h5, h6{margin: 15px 0;display: block;}
  body { 
    background: white; 
    font-family: Arial, sans-serif !important;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5; 
  }
  
/******Custom styling For Print******/  
h1{font-size:50px !important; max-height: inherit !important;}
h2{font-size:40px !important; max-height: inherit !important;}
h3{font-size:30px !important; max-height: inherit !important;}
h4{font-size:25px !important; max-height: inherit !important;}
h5{font-size:20px !important; max-height: inherit !important;}
h6{font-size:15px !important; max-height: inherit !important;}

p{font-size: 13px !important; line-height: 20px !important; max-height: inherit !important;}

ul{margin:0;}

ul li{font-size: 13px !important;}


table{border: 1px solid black !important;font-size:13px !important;}  
button a, button{ text-decoration: none !important; }
a.gradient-btn{ color: #fff !important; background:#ec5822 !important;text-decoration: none !important; -webkit-print-color-adjust: exact; }
.gradient-btn span{ color: #fff !important; background:#ec5822 !important; -webkit-print-color-adjust: exact; }
a.gradient-btn, button.gradient-btn{padding:10px 20px; }
#_atssh{display: none;}
.gradient-btn .white-caret{ color: #fff !important; background:#ec5822 !important; -webkit-print-color-adjust: exact; }
.gradient-btn .white-caret:after{ color: #fff !important; }
a.gradient-btn:after{ display: inline-block !important;}
  
 textarea, button{display: none;}

/******Custom CSS For Print******/
#wrapper{padding: 0;width: 100%;}
#page-content-wrapper{ padding: 0 !important;}
 .feature-carousel .slide .product-column{height:auto!important;}
.exp-tray-wrapper{margin:0!important;padding:0!important;}
.reset-col, .hero-img-medium, .hero-img-container, .banner-cover, .heroimgfixedslider{display:none!important;}
.lookup-bar .search-label,.lookup-bar .cat-select, .lookup-bar .cat-select select{position:static!important; }
ul{margin-left: 0 !important;}
.gradient-btn{ background:#ec5822 !important; color: #fff !important; margin: 15px 0 !important;-webkit-print-color-adjust: exact; }


/*research detail page print css*/
.feature-carousel .slide .location-line-height{margin-top: 10px !important;}
.content-floor .content-floor-text h4{ margin-top: 10px !important;}
.article-body-content h3{padding-top:20px;}
.report-table table{border: 1px solid black !important;margin-left: 0 !important;}
.report-table{padding: 0 !important;}
.report-inner-sec .col-lg-9, .report-inner-sec .col-md-9{padding: 0 !important;}
.title-bar-research .report-search{display: none!important;}
.title-bar-research .report-title{border-right: none !important;padding: 0 !important;}
.title-bar-research{padding-top:0 !important; border: none !important;}
.chartWrapper .select{display: block !important;}
.infographic-tab .label-cover{display: inline-block; padding: 0 !important; margin-bottom: -10px;border-radius: 0 !important;top: initial !important;height: 5px !important;}
.note-callout{padding-left: 0 !important;}
span.footnote.clickable{font-size: 11px !important; border-radius:0 !important; border: 1px solid black !important;height:auto !important;
width: auto !important;padding: 0 5px;}
.note-callout h3{font-size: 15px !important;}
.right-rail-pod img{display: inline-block !important;}
.col-infographic{display:block !important;}
.infographic-floor .infographic-content{display: block !important;}
.infographic-floor .infographic-content .tableau, .infographic-floor .infographic-content .chart{display: block !important;}
.content-floor .content-floor-text .contect-floor-icons{margin-top: 20px !important; padding-left: 0;}
.content-floor .content-floor-text .floor-icon{padding-left: 0;}
.infographic-tab input.toggle + span{display: none!important;}
.infographic-content .col-md-12{padding:0!important;}
.lookup-bar{margin-top: -50px;}
.title-bar-research .hidden-xs, .title-bar-research .hidden-sm{display: block !important;}
.title-bar-research .report-title h1{padding:0 !important;margin-left: -15px !important;}
.infographic-content .report-table th{border: none !important;}
.infographic-content .report-table td{border-left: 1px solid black !important;border-bottom:1px solid black !important;}
.infographic-content .report-table td:first-child{border-left: none!important;}
.infographic-content .report-table tr:last-child td{border-bottom: none !important;}
.download-assets{display: none !important;}
.infographic-content .chart{overflow: hidden !important;}
.chartWrapper:first-child{margin-left: 0 !important;}
.report-table{padding-left: 0 !important;}
.infographic-tab{padding-left: 0 !important;}
.content-floor .content-floor-text{padding: 0 !important;}
.infographic-head{padding-left: 0 !important;}
ul.list-footnote{margin-left:0 !important;padding-left:0 !important;padding-top: 0 !important;}
.report-inner-sec{ padding: 0;}
.cover-page-text{ padding: 0; margin: 0 -15px;}
.btn-prev, .btn-next{ display: inline-block;}
.chapter-slide{ display: none !important;}
.multi-page-nav-comp .multipage-carousel{ padding: 0;}
.multi-page-nav-comp{ margin: 15px 0;}
.chapter-slide.active{ display: block !important; border: 1px solid #fdf9e8;}
.multi-page-nav-comp .multipage-carousel .multipage-carousel-container{ width: 100% !important;}
.multi-page-nav-comp .multipage-carousel .multipage-carousel-container .clearfix{ width: 100% !important;}
.multi-page-nav-comp .multipage-carousel ul li .paging a:first-child{ border-bottom-left-radius: 0;}
.paging .active{ color: #253D71 !important; background: #fdf9e8 !important; -webkit-print-color-adjust: exact;}
.multi-page-nav-comp .multipage-carousel ul li small{ font-size: 11px;}



/*Newsroom page print css*/
.lookup-bar{display:block !important; margin-bottom: 15px ;}
.lookup-bar > .hidden-xs{display: block !important;}
.lookup-bar .lookup-headline{border-right: none !important;padding: 0 !important;padding-top: 0; margin:  0 -15px;}
.lookup-bar .search-bar{padding: 0;}
.lookup-bar .search-bar .col-md-1, .lookup-bar .search-bar .col-md-6, .lookup-bar .search-bar .col-md-3, .lookup-bar .search-bar .col-md-2{ padding: 0;}
.lookup-bar .search-bar input[type="text"]{padding-left:10px; margin-bottom: 20px; height: 34px !important;}
.lookup-bar .cat-select select, .lookup-bar .cat-select input{opacity:1; margin-bottom: 15px; width: 100%;}
.lookup-bar .cat-select input.form-control{display: none;}
.lookup-bar .lookup-headline{padding: 0 !important;}
.lookup-bar .lookup-headline h1{ font-size: 30px !important; margin-bottom: 15px;}
.article-content{padding: 0 !important;padding-top: 0 !important;}
.grid-left-col, .grid-right-col{border: 0 !important;padding: 0 15px !important;}
.border-right{border: 0 !important;}
.brdr-bottom{border: 0 !important;}
.article-grid{ padding-right: 15px;}
.article-grid .article-body{height: auto !important;}
.article-content .short-desc{display: block !important;}
.article-content .mob-short-desc{display: none !important;}
.article-body .visible-md, .article-body .visible-lg{display: block !important;}
.article-body .visible-sm, .article-body .visible-xs{display: none !important;}
.contact-title{padding-left: 15px !important;}
.contact-detail{padding-left: 15px !important;}
.social-cta{padding-left: 15px !important;}
.contact-card .hidden-xs{display: inline-block !important;}
.contact-card{margin-left: 0 !important;}
.contact-card{ text-align: left !important;}
legend.sr-only{display: none;}
.signup-bar{padding-left: 0;}
.lookup-bar .submit-button a{font-size: 12px;}
.featured-article .hidden-xs{ display: block !important;}
.short-desc{padding-right: 15px;}
.radio input[type=radio]{display: inline-block;margin: 0 0 0 1px;}
.article-content ul.trail-breadcrumb li{ display: inline-block !important;}
.article-content h4 a{ color: inherit !important; text-decoration : none !important;}
.article-grid .article-body h4 a{ color: inherit !important; text-decoration : none !important;}
.contactus-social{width: 100%;}



/*product detail page print css*/
.callout-promo-pod .callout-promo-inner .promo-content{padding: 0;}
.callout-promo-pod .callout-promo-inner{border:0 !important;}
.callout-promo-pod .callout-promo-inner hr.seprate{display: none !important;}
.note-callout{display: none !important;}
.qa-header{padding-left: 0; padding-top:0;}
.qa-header h6{font-size: 16px !important;;}
.qa-header .visible-xs{display: none !important;}
.passage-row .passage-body{padding:0;}
.passage-row .passage-body .quiz-area-scroll{height: auto !important; margin-right: 0;}
.passage-row .passage-body .quiz-area-scroll:before, .passage-row .passage-body .quiz-area-scroll:after{ display: none !important; height: 1px !important;}
.passage-row .mCustomScrollbar{height: auto !important;}
.quiz_list > li .order-list-no{display: inline-block;}
.quiz_list h5{display:inline-block;}
.quiz_list ol li .radio label:before{display: none !important;}
.social-cta{display:none;}
.quiz-next{ margin: 0;}
.ques-area .social-cta a{ font-size: 12px;}
.ques-area .social-cta span{display: none;}
.ques-area .social-cta .pull-left{float: none !important;}
.ques-area .social-cta{ display: block;}
.quiz_list > li{margin-left:0;padding-left:15px;}
.quiz_list > li ol{padding-left: 30px;}
.quiz_list ol li label p{line-height: inherit !important;}
.radio span{display: block;}
.quiz_list .radio input[type=radio]{display: inline-block;margin-left: 1px; width: 5%;}
.quiz_list ol li label{width: 85%;}
.callout-header .inner-sec{padding: 0;}
.callout-panel .pull-left{float: none !important;}
.callout-header .callout-panel, .callout-header .copy-panel {margin: 0 -15px;}
.passage-row .passaage-top-curve{display: none !important;}
.title-bar .hidden-xs{display: block !important;width:100%;}
list-inline sub-cat-links{display: block !important;}
.content-floor-links .title-bar .title{height: auto;padding: 20px 0;}
.content-floor-links .sub-cat-links li{border: none;}
.content-floor-links .sub-cat-links{text-align: left;}
.content-floor-links .title-bar .title{padding-left: 0;}
.content-floor-links .copy-panel .textured-bg-cfl{border-right: none;}
.content-floor-links .copy-panel .copy-panel-body{padding-left: 0; margin: 0 -15px;}
.quiz-area{height: auto !important;}
.mCSB_scrollTools{ display: none !important;}





/*product Page print css*/

.content-floor-overlay .content-floor-text{padding:0 !important;}
.chart-box-inner .hidden-xs{display: block !important;}
.text-img-comp .inner-sec{padding: 0 15px; margin: 0 -15px;}


/*Leadership Bio print css*/

.text-img-comp .col-md-4{display: block;float: none !important;}
.text-img-comp .inner-sec > a{display: none !important;}
.text-block .inner-sec{ padding: 0; width: 100% !important; margin: 0 -15px;}
.text-block .second-body-text{ padding: 0;}


/*Leadership print css*/

.leader-picture .hidden-xs{display: inline-block !important;}
.leader-picture .hidden-lg{ display: none !important;}
.leadership-box{padding: 0;}
.leadership-box  h6 a{font-size: 15px;}
.leadership-board-box{margin-left: -15px;}
.leadership-board-box .hidden-xs{display: block !important;}
.leadership-board-box .hidden-md{display: none !important;}


/*Product Subdetail print css*/
.practice-test-comp .instruction-column{padding: 0;}
.practice-test-comp .instruction-column .col-md-6{display: block;}
.practice-test-comp .col-md-6{display: block; }
.practice-test-comp .instruction-column h4{font-weight: normal;}
.multi-page-nav-comp .multipage-carousel{padding: 0;}
.multi-page-nav-comp .multipage-carousel ul li:before{display: none;}
.multi-page-nav-comp .multipage-carousel .carousel-controls span.prev-multi:after{display: none;}
.multi-page-nav-comp .multipage-carousel .carousel-controls span.next-multi:after{display: none;}
.multi-page-nav-comp .multipage-carousel ul li:after{display: none;}


/*Community Page Print CSS*/
.content-floor{height: auto !important;}
.content-floor .content-floor-text{padding-bottom: 0 !important;padding-top: 0 !important;}
.content-floor.content-floor-sec-cta{ height: auto !important;}
.text-img-comp .inner-sec .chartbox-content h4{max-height: inherit;}
.text-img-comp .chart-box-inner{height: auto !important;}
.text-img-comp .inner-sec {padding-bottom: 0;}
.text-img-comp .inner-sec .chartbox-content h4{line-height: 1.2 !important;}
.text-img-comp .inner-sec .chartbox-content hr.seprate{ display: block !important;}
.content-floor-img{ margin: 10px 0 !important;}


/*Working For ACT Page Print CSS*/
.feature-carousel .slide .product-column .product-panel{display: block !important;}
.socialpod .text-img-comp.hidden-xs{display: block !important;}
.career-outerbg{padding: 0;margin:0;}
.jobsearch input.form-control{display: none;}
.carousel-wrapper{max-width: 100% !important;}
.featured-row{padding-left: 0 !important;}
.feature-carousel .slide h6{padding-left: 15px !important;}
.feature-carousel{padding-top: 0 !important;}
#job-search-component #job-search-title{ margin: 0 -15px;}
#job-search-form .cat-select{ margin: 0 -15px;}
.carouselfeaturedjob .hidden-xs{ display: block !important;}
.carouselfeaturedjob .hidden-md{ display: none !important;}
.feature-carousel .slide .product-column .result-img{ margin: 0;}
.feature-carousel .slide .product-column .product-title h4 a{ color: inherit !important; text-decoration: none !important;}
.controls-nav .carousel-prev, .controls-nav .carousel-next{display: none;}
.product-results.feature-carousel{ margin: 0 !important;}

/*Product Landing Page Print CSS*/
.product-filter .visible-xs-block{display: none !important;}
.getting-start-ipad{display: none !important;}
.result-img.hidden-xs{display: block !important;}
.list-view{display: block !important;}
.product_panel{display: block !important;}
.product-filter .prod-sec{padding: 0;min-height: inherit !important;}
.product-results{ width: 100% !important; margin: 0 !important;}
.list-view{ width: 100%; margin: 0;}
.prod-result-head h6{padding: 0;}
.product-title a{ text-decoration : none !important;}
.content-floor-overlay{ height: auto !important;}
.product-results.product-results-register .product-column{ height: auto !important; }


/*Event Landing Page Print CSS*/
.featured-event .hidden-xs{display: block !important;}
.featured-event .article-content{padding: 0 !important;}
.more-label{display: none !important;}
.submit-event-form{display: none !important;}
.event-grid .more{margin-top: 20px;}
.grid-left-col{padding: 0 !important;}
.brdr-lft-rht{border: 0 !important;}
.event-lookup-bar .reset-bt{display: none;}
.col-sm-push-0, .col-xs-push-6{left: inherit; text-align: left;}
.event-lookup-bar{ padding-left: 0; margin: 0 -15px;}
.event-lookup-bar .lookup-headline{ margin: 0 !important;}
.submit-button{margin: 0;}
.event-lookup-bar .col-md-2, .event-lookup-bar .col-md-3, .event-lookup-bar .col-md-1{padding: 0;}
.event-grid .article-body h4{font-weight: normal;}



/*Event Detail Page Print CSS*/
.tray-content-wrapper{display: block !important;}
.cont-flr-event-detail .panel-wrap{border: none !important;}
.cont-flr-event-detail .panel-wrap .reg-panel{padding: 0 0 20px 0 !important;}
.cont-flr-event-detail .event-copy-panel{padding: 0 !important;}
.exp-tray-wrapper{padding: 0 !important;}
.tray-envelope{padding: 0 !important;}
.back-top-cta{display: none !important;}
.pres-block .presenter{display: block !important;}
.load-label{display: none !important;}
.cont-flr-event-detail{border: none !important;}
.exp-tray-wrapper{margin-bottom: 30px !important; }
.exp-tray-wrapper .exp-tray .tray-icon{margin-top: -1px;}
.sessions-tray .sessions .sub-section{display: block !important;}
.tray-toggle{display: none; margin-left: 40%;}
.pres-lookup-bar div{ float: none;}
.pres-lookup-bar .form-control{ margin: 2px  0 2px 0 !important;} 
.tray-content-wrapper.presenter-tray .pres-lookup-bar .brdr-lft-rht{border: none;}
.tray-content-wrapper.presenter-tray .pres-lookup-bar .reset-bt{display: none;}
.col-sm-push-0{left: inherit;}
.event-copy-panel{font-size: 13px;}
.exp-tray-wrapper .exp-tray h4 span{ display: none;}
.exp-tray-wrapper .tray-content-wrapper .tray-body-content ul li:before{display: none;}
.exp-tray-wrapper .tray-content-wrapper .tray-body-content ul li{padding-left: 0;}
.exp-tray-wrapper .tray-content-wrapper .tray-body-content ul {list-style: square;margin-left: 30px;}
.exp-tray-wrapper .tray-content-wrapper .tray-body-content{padding: 30px;}
.cat-select:after{display: none !important;}



/*Contact Us Page Print CSS*/
.form-container{padding: 0;}
.contactus-form .clearfix{height: 1px !important;display: none !important;}
.contactus-headline{padding: 0 15px;}


/*Taking the test Page Print CSS*/
.content-panel-tab .panel-inner{display: block !important;}
.contactus-form .marL15{ margin: 0 -15px;}
.contactus-form .marL15:before{display: table; content: '';}
.contactus-form .marR15{ margin: 0 -15px;}
.contactus-form .marR15:before{display: table; content: '';}
.title-bar-tab .title{display: block !important;}
.title-bar-tab .sub-titles{display: block !important;float: none !important;width: 100% !important;}
.sub-cat-tabs li{border: none;box-shadow: none;}
.sub-cat-tabs div{display: block !important;height: auto !important;}
.sub-cat-tabs li a{display: block !important;text-align: left !important;}
.sub-cat-tabs li a span{height: auto !important;}
.list-inline{margin: 0 !important;padding: 0 !important;display: block !important;}
.list-inline li{display: block !important;}
.cont-flr-fees .fee-section div.fee-amount:after{border: none !important;}
.table-scroll table{border-color: #000 !important;}
.body-content table tr td, .body-content table tr th{border-color: #000 !important;}
.content-panel-tab{margin: 0 !important; padding: 20px 0 !important;}
.sub-cat-tabs li{width: 100% !important;}
.title-bar-tab .title h3{padding: 0 !important;}
.sub-cat-tabs{padding: 0 !important;}
.sub-cat-tabs li{ margin: 0;}
.back-cta{ display: none;}
.content-floor-links .hidden-xs{ display: block !important;}
.content-floor-links .copy-panel .copy-icons img{ max-width: 150px !important; max-height: 150px !important; }
.exp-cont-flr .hidden-xs{ display: block !important;}
.flr-wrapper{ padding: 0; margin: 0;}
.flr-wrapper .img-section-outer .img-section{ margin: 0 -15px;}


/*About ACT Page Print CSS*/
.career-outerbg .content-floor .content-floor-text{padding: 0 !important;}
.content-floor .col-lg-6{display: block !important;}
.act-timeline-event{display: block !important; float: none !important;}
#act-timeline-events-container{display: block !important; }
#act-timeline-overview{display: block !important;padding: 0 15px !important;margin: 0 -15px;}
#act-timeline #act-timeline-main{overflow: visible !important;}
#act-timeline-overview .col-md-4{display: block !important;}
.act-timeline-event .inner-sec{margin: 0 !important;padding: 0 15px 0 0 !important;}
#act-timeline #act-timeline-main #act-timeline-events-container{overflow: visible !important;}
.act-map .hidden-xs{display: block !important;}
.state-info{display: block !important;}
#act-timeline-bar{ display: none;}
span.sr-only{ display: none;}
#act-timeline-next span{ margin: 0 !important;}


/*Research Landing Print CSS*/
.research-results .rep-result-tile .rep-detail .detail-view{display: block !important;}
.research-results .rep-result-tile .rep-detail .detail-view .hidden-xs{display: block !important;}
.rep-detail .hidden-xs{display: block !important;float: none !important;}
.rep-detail col-md-6{display: block !important;}
.rel-report-detail .hidden-xs{display: block !important;}
.detail-view{ display: block !important;float: none !important;}
.show-report .filter-arrow{display: none !important;}
.rel-report-detail .col-md-6{display: block !important;}
.rel-report-detail div{float: none !important;display: block !important;}
.research-results .rep-result-tile .report-head{padding: 0 !important;margin: 0 -15px !important;}
.research-results .related-reports{padding: 0 !important; margin: 0 -15px !important;}
.masonry-brick{margin-bottom: 20px !important;}
.results-label{margin: 0 -15px !important;}
.mCustomScrollBox{overflow: visible !important;}
.mCSB_container{overflow: visible !important;}
#act-timeline #act-timeline-main #act-timeline-events-container #act-timeline-events .act-timeline-event .inner-sec{overflow: visible !important;}
#act-timeline div{float:none !important;}
.advanced-filters .hidden-xs{ display: block !important;}
.filter-toggle-block{ margin: 10px 0;}
.filter-toggle-block .filter-toggle:before{border-top: none;}
.keyword-search-bar{padding: 0;}
.keyword-search-bar .col-xs-12{display: block; float: none; margin-bottom: 20px;}
.keyword-search-bar .dropdown-filter .cat-select input[type="text"]{display: none;}
.inner-addon .glyphicon{position: none;}
.glyphicon.glyphicon-search{display: none;}
.keyword-search-bar .search-bar .search-label input[type="text"]{padding-left: 12px;}
.reset-label .hidden-xs{display: block;}
.reset-label .hidden-md{display: none;}
.filters .advanced-filters{margin:0;}
.filters .advanced-filters-mob{display: none;}
.signupform .hidden-xs{display: block !important;}
.signup-form .cat-dropdown .caret:after{display: none;}
.signup-form .cat-dropdown .caret{border:inherit;position: none;}
.signup-form .cat-dropdown{margin-bottom: 20px;}
.signup-form .form-group{display: block !important;float: none !important;}
.signup-form .clearfix{display: none;}
.signup-form legend{display: none;}
.signup-form{padding: 0 15px;}
.dropdown-filter select.selectpicker{display: block !important;}
.dropdown-filter select{display: block !important;}
.dropdown-filter .bootstrap-select{display: none !important;opacity: 1 !important;}
.keyword-search-bar .dropdown-filter .cat-select select{opacity: 1;}
.signup-form .cat-dropdown .caret:after{display:none;}
.signup-form .cat-dropdown .caret{margin-left: 92%;position: none;background: initial;border-top: 4px solid;border-left:4px solid transparent;border-right:4px solid transparent;}
input.form-control{-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
input.input-shadow{-webkit-box-shadow: none !important; box-shadow: none !important;}
.advanced-filters input[type="checkbox"]{display: inline-block !important;margin-right: 4px;}
.signup-fields{margin: 0 -15px;}
.filters .advanced-filters .state-filter .btn-group .caret{margin-left: 88%;position: none;background: initial;border-top: 4px solid;border-left:4px solid transparent;border-right:4px solid transparent;}
.filters .advanced-filters .state-filter .btn-group .caret:after{display: none;}
.filters .advanced-filters .state-filter {margin-bottom: 20px;}
.filters .advanced-filters .edu-cont-filter, .filters .advanced-filters .pb-date-filter, .filters .advanced-filters .pg-no-filter{padding-left: 0;}
.research-results .related-reports .rel-report-cover .rel-report-detail small{display: inline-block;padding-top: 20px;}
.research-results .related-reports .rel-report-cover .rel-report-detail .cta-label{width: 33%;}


/*Register Landing Page Print CSS*/
.c-day{-webkit-print-color-adjust: exact;}
.grey-dates{-webkit-print-color-adjust: exact; background: #dadada !important;}
.c-today{-webkit-print-color-adjust: exact; background:#3266a2 !important; color: #fff;}
.c-grid{border: 1px solid #e1e1e1;}
.content-events-calendar{ padding: 0; margin: 15px -15px;}
.prod-results-register{ margin: 0;}
.prod-result-head{ padding-top: 0;}
.product-results{ margin: 0 -15px !important;}
.tablet-nav .hidden-xs{ display: block !important;}
.product-filter .btn-blocks .btn-block-inner label input{ display: inline-block; margin-right: 4px;}
.tag-filter input{ display: none;}
.product-filter .btn-blocks .btn-block-inner label:before{ display: none;}
.product-results .product-column { border: 1px solid #878787;}
.product-results.product-results-register .product_panel{ height: auto !important;}
.product-filter .button-navigation .btn-group .btn-primary h4{ font-weight: normal; font-size: 13px !important;}
.product-filter .button-navigation .btn-group .btn-primary{ width: auto; border: 1px solid #000;; box-shadow: none; }
.product-filter .button-navigation .btn-group .btn-primary div{ padding: 0 10px}
.product-results.product-results-register .product_panel{ height: auto;}


/*Home Page Print CSS*/
.prepping-box{padding: 0;}
.prepping-box h2{ padding: 0;}
.twitter-box.hidden-xs{ display: block !important; padding: 0;}
.twitter-box h2{padding: 0;font-size: 20px;}
.first-quote-box-outer p, .second-quote-box-outer p{font-size: 30px !important;}
.first-quote-box-outer{padding: 0; border: 4px solid green;}
.act-work-wrapper{padding: 0;}
.twitter-box a.follow-act{font-size: 12px;}
.content-floor .hidden-xs{ display: block !important;}
.twitter-scroll-box .load-more{font-size: 12px;}
.act-work-wrapper .act-work-content h4{max-height: inherit;}
.first-quote-box-outer p, .first-quote-box-outer small, .second-quote-box-outer p, .second-quote-box-outer small{line-height: 1.2 !important;}
.first-quote-box-outer p, .second-quote-box-outer p{min-height: inherit;}
.graph-box .searchbox{padding-left: 10px;}
.graph-box-outer .hidden-xs{display: block !important;}
.student-img{text-align: left;}
.graph-box > label{ display: block; float: none;}
.graph-box{ padding: 0; margin: 0 -15px;}
.page-break{page-break-before: always; page-break-inside: avoid; }
.noPrint {display:none;}
div[class*='col-']{
    float: none !important;
}
.full-wid-div{ float: none;}
.text-block ul li:before{ display: none;}
.text-block ul{ list-style: inside square !important; }

/*Digital Media Library Page Print CSS*/
.dig-media-search .hidden-xs{ display: block !important;}
.dig-media-search .visible-xs-block{ display: none !important;}
.filters.dig-media-search .category-filter, .filters.dig-media-search .audience-filter, .filters.dig-media-search .file-type-filter{ padding-left: 0;}
.filters .advanced-filters .highlight-txt{ border: none; float: none !important; width: 45% !important; display: inline-block !important; margin: 0 !important; padding: 0 15px !important; vertical-align: top;}
.assets-grid{ padding: 0; margin: 0 -15px;}
.assets-grid .col-sm-4{ float: none; display: inline-block; padding-left: 0; max-width: 200px; overflow: hidden;}
.keyword-search-bar.digital-keyword{ padding: 0; margin: 0 -15px;}
.keyword-search-bar.digital-keyword .search-button{ float: none; display: inline-block; padding-top: 0;}
.rel-prod-filter col-md-6{ width: 100%; float: none;}
.results-block .col-xs-2{ width: 100%;}
label.sr-only{ display: none;}
.test-center .cat-select input[type="text"]{ display: none;}
.chosen-container-single .chosen-single div{ position: relative; display: inline-block !important; top: inherit; right: inherit; margin-right: 0;}
.chosen-container-single .chosen-single span{ display: inline-block !important; float: none !important; width: 93% !important;}
.chosen-container .chosen-drop{ display: none;}
.test-center .form-group{ margin-bottom: 20px;}
div.text-right{ display: none;}
.lookup-panel{ padding: 0;}
.test-center .lookup-headline{ padding: 0;}
.outer-lookup-panel .lookup-panel-head{ padding: 0;}
.content-floor-links .title-bar .title{ padding-left: 0; margin: 0 -15px; display: block;}
.content-floor-links .title-bar .sub-cat-links{ margin: 0 -15px; text-align: left;}
.content-floor-links .sub-cat-links li a{ display: inline-block; }
.ms-slide-container{ transform: none !important; transform-style: inherit !important;}
.ms-layout-partialview .ms-view{ overflow: hidden; perspective: none; height: 466px !important;}
.ms-slide{ left: auto !important; opacity: 1 !important; height: 466px !important;  position: relative !important; transform: none !important; display: none; }
.ms-slide img{ margin: 0 !important; height: 100% !important;}
.ms-slide.ms-sl-selected{ display: block !important;}
.ms-ctrl-hide{ display: none;}
.evt-photo-gallery h4{ padding: 0;}
.evt-photo-gallery h4 img{ max-width: 27px !important;}
.ms-nav-next:after, .ms-nav-prev:after{ display: none;}
.ms-nav-next:before, .ms-nav-prev:before{ display: none;}
.enalrge-btn img{ display: none; }
.lookup-form .option-cta a{ font-size: 12px;}
.enlargeimage{ margin: 15px 0;}
.slides-viewport{ margin: 0 !important;}




 /*#comments { page-break-before: always; } apply on class name where we want page break before that element*/