@charset "utf-8";
/* CSS Document */

/*-------------------------- WWW ---------------------------------*/
#droite,
#navigation,
#barre_navigation,
#sl,
#annuaire_recherche,
.liste_bas,
.fil_arianne,
.section_lien,
.plus,
.posezQR,
.separateur_savoir_plus,
.plus_coordonnees,
.menu_vertical_univers,
.barre_recherche,
.lien_telecharger,
.all_menu_sommaire,
.section_qr li span{
	display:none;
}
.carrousel_mag a + a:after,
.wrapper a:after,
.resultat_fiche a:after,
.article_voir a:after,
.section_qr a:after,
.lien_droit a:after,
.extraits a:after,
.savoir_plus a:after{
	content : "(" attr(href) ")";
	font:normal 10pt/120% Arial, Helvetica, sans-serif;
	color:#666;
}
.wrapper img{
	display:block;
}
.section_qr li{
	border:1px solid #ccc;
	list-style:none;
	padding:5px;
}
.carrousel_mag li{
	list-style:none;
}
/*-------------------------- STYLE VIDEOS ---------------------------------*/
.imprimer_materiel{
	.rounded(3px);
	border: 1px solid #999;
	margin: 50px auto 0 auto;
	overflow: auto;
	padding: 0 0 20px;
	position: relative;
	width: 650px;
	.bt_imprimer{
		display:none;
	}
	h1{
		font:20px/25px Arial, Helvetica, sans-serif;
		background:#eee;
		color:#333;
		border-bottom:1px solid #999;
		text-align:center;
		margin:0 0 20px 0;
		padding:10px 20px;
	}
	ul{
		padding:0 20px;
		margin:0 auto;
		width:600px;
		li{
			font:12px/40px Arial, Helvetica, sans-serif;
			list-style:none;
			background:#eee;
			padding:0 0 0 10px;
			margin:10px 0;
			.rounded(0 3px 0 0);
			border-left:5px solid #09c;
			overflow:auto;
			border-bottom:1px solid #09c;

			span{
				float:right;
				padding:0 10px;
				font:11px/40px Arial, Helvetica, sans-serif;
				margin:0 0 0 20px;
				color:#333;
			}
		}
	}
}
