/*#########################################################################################
## CreateSpace sitewide.css
## First Version: 1/28/09
## Last Updated:  2/11/09
## Author: Brandon D. Ove (bove@createspace.com) / Mark Treat (mtreat@createspace.com)
#########################################################################################*/

/* DOCUMENT BASE ########################################################################*/

body {
   margin:           5px 10px 0px 10px;
   padding:          0;
   background:       white;
   color:            black;
   font:             12px Verdana, Arial, Helvetica, sans-serif;
}

#wrapper {
   width:            975px; 
   margin:           0px 0px; 
   padding:          0px;
}

a, a:visited, a:hover, a:active {
   color:            #164879;
   text-decoration:  underline;
}

.inactiveColor {
   color: #666;
}

/* IMAGE STYLES ########################################################################*/

img {
   border:           0;
}

img.left {
   float:            left;
   margin-right:     10px;
   clear:            left;
}

img.right {
   float:            right;
   margin-left:      10px;
   clear:            right;
}

.blend_bg img.blend {
   height:           100%;
   width:            100%;
   position:         absolute;
   left:          0px;
   top:           0px;
   z-index:       0;
}

.blend_bg * {
   position:         relative;
   z-index:       1;
}

.blend_bg {
   position:         relative;
}

.surveyBox {
   background-image:url(https://ssl.images-createspace.com/csp/Special/Img/bg_blue_fade.gif);
   border:1px solid #BDE2F4;
   padding:10px;
}

/* TEXT STYLES #########################################################################*/

h1, h2, h3, h4, h5, h6 {
	color:            #E47911;
   margin:           0px;
   padding:          0px;
   font-family:      Verdana, Arial, Helvetica, sans-serif;
	font-weight:      normal;
}

h1 {
   margin-top:       10px;
   font-size:        24px;
   margin:           0px 0px 0px 0px;
}

h2 {
   font-weight:      bold;
   font-size:        16px;
   margin:           30px 0 0px 0;
}

h2.page_subtitle {
   font:             bold 18px;
   color:            #333;
   margin-top:       -3px;
   margin-bottom:    15px;
   padding-left:     15px;
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/arrow_you-are-here.gif) left no-repeat;
}

h2.news_headline {
   text-align:       center;
   margin-bottom:    30px;
}

h2.news_headline span {
   display:          block;
   font-size:        14px;
   color:            black;
   margin-top:       10px;
}

h3 {
   font-size:        14px;
   font-weight:      bold;
   margin-top:       8px;
   margin-bottom:    8px;
}

ul ul, ol ol, ul ol, ol ul {
   margin-top:       10px;
}

ul {
   padding-left:     15px;
   margin-top:       0;
}

ul.emphasis_list li {
   font-weight:      bold;
}

ul.emphasis_list li strong {
   color:            #E47911;
}

ul.feedback_messages {
   background:       #FFF8F0;
   border:           1px solid #FFCC00;
   display:       block;
   padding:       5px;
   margin-left:      0;
}

ul.feedback_messages li {
   list-style:       none;
   margin-left:      5px;
   padding-left:     25px;
}

ul.feedback_messages li.error {
   background:       url(/Common/Pix/icons/icon_error.gif) left center no-repeat;
}

ul.feedback_messages li.warning {
   background:       url(/Common/Pix/icons/icon_warn.gif) left center no-repeat;
}

ul.feedback_messages li.error strong {color: #c00;}
ul.feedback_messages li.warning strong {color: #f60;}

li {
   margin-bottom:    10px;
}

p {
   margin-top:       0;
   line-height:      18px;
   text-align:       justify;
}

p.attention {
   border:           1px solid red;
   background-color: #ffeaea;
   color:            red;
   padding:          6px;
   text-align:       center;
   font-weight:      bold;
}

p.attention strong {
   color:            black;
}

span.attention {
   color:            red;
   font-weight:      bold;
}

span.video_title {
   font-style:       italic;
}

.intro {
   font-size:        14px;
}

.beta_flag {
   font-size:        10px;
   font-style:       italic;
   font-weight:      bold;
   color:            #999;
    vertical-align:  baseline;
    position:        relative;
    bottom:          .9em;
}

.coming_soon {
   font:             10px Verdana, Arial, Helvetica, sans-serif;
   font-style:       italic;
   color:            #999;
}

.note {
   color:            #666;
   font-size:        11px;
   font-weight:      normal;
   clear:both;
}

.datatable p {
   margin:           0;
   text-align:       inherit;
}

.red_unit_price {
   color:            #C00;
}

.error {
   color: #c00;   
}

.field_error {
   font: bold 14px Verdana, Arial, Helvetica, sans-serif;
   color: #C00;
}

.error_box {
   font: bold 18px Verdana, Arial, Helvetica, sans-serif;
   text-align: center;
   color: #C00;
   background: url(/Common/Pix/error-bg.gif) transparent repeat;
   height: 50px;
   width: 604px;
}

.errorHeading
{
   text-align: center;
   color: #ff0000;
   font-size: 150%;
}

.required_mark {
   font:          14px bold;
   color:            #F40;
}

.defaultArtistColor {
   color: #cccccc;
}

.splashNote {
   color: #666666;
   font-size: 11px;
   font-weight: normal;
}

.termsAgree {
   font-size: 12px;
   width: 760px;
}

.play_btn {
   float: left;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/abna/icon_play.gif) no-repeat;
   background-position: left 2px;
   width: 180px;
   margin: 0px;
   padding: 0px;
}

#ABNA_list {
   margin-left: 20px;
   list-style-image: url(https://ssl.images-createspace.com/csp/Special/Img/abna/icon_play.gif);
}

.news {
   font-family:      Arial, Helvetica, Verdana, sans-serif;
   font-size:        10px;
   font-weight:      bolder;
   color:            #000;
}

.news a, .news a:visited, .news a:hover {
   font:             normal 12px Verdana, Arial, Helvetica, sans-serif;
   text-decoration:  none;
}

.black {
   color:            #000;
}

.orange {
   color:            #E47911;
}

.charcoal {
   color:            #333;
}

.gray {
   color: #c0c0c0 
}

/* FORM STYLES ##########################################################################*/

.input_image {
   border:        none;
   padding:    0;
   margin:        0;
}

/* HEADER BASE ##########################################################################*/
#header {
	height: 85px;
}

#page_body {
	margin: 25px 0px 0px 15px;
}

#logo {
	float: left;
	width: 110px;
	height: 52px;
	padding: 0px 0px 0px 27px;
	margin: 0px 0px -16px 0px;
}

#logo h1 {
	display: none;
}

.tabs-left-cap {
	float: left;
	width: 152px;
	height: 24px;
	margin-left: 10px;
	background: url(https://ssl.images-createspace.com/csp/Special/Img/header-tabs_left-cap.png) no-repeat right;
}

.nav_tabs {
	float: left;
	height: 24px;
	background: url(https://ssl.images-createspace.com/csp/Special/Img/header-tabs_center-bg.png) repeat-x;
}

.tabs-right-cap {
	float: left;
	width: 15px;
	height: 24px;
	background: url(https://ssl.images-createspace.com/csp/Special/Img/header-tabs_right-cap.png) no-repeat left;
}

.nav_tabs ul {
	float: left;
	margin: 0px 0px 0px -5px;
	padding-left: 0px;
	list-style: none;
}

.nav_tabs li {
	float: left;
	margin: 0px;
	padding-top: 0px;
}

.nav_tabs li a {
   display: block;
   float: left;
   margin-top: 6px;
   padding: 0px 13px 0px 10px;
   border-right: 1px solid  #82ACC4;
}

.nav_tabs li a:focus {
	outline: 0;
}

.nav_tabs li a,.nav_tabs li a:visited,.nav_tabs li a:hover {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
}

.nav_tabs .last {
	padding-right: 8px;
	border-right: none;
}

#end-nav {
	float: right;
	height: 24px;
	margin-top: 37px;
	margin-right: 7px;
	margin-bottom: -30px;
	font-size: 11px;
}

#end-nav ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#end-nav li {
	float: left;
	margin: 0px 0px 0px 10px;
	padding-bottom: 4px;
}

#end-nav li a.cart {
   float: left;
   display: block;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/icon_header-cart.gif) no-repeat 3px 1px;
   padding-left: 24px;
   padding-bottom: 4px;
}

.subnav {
	float: left;
	width: 965px;
	height: 18px;
	padding: 5px 0px;
	font-size: 11px;
	background: url(https://ssl.images-createspace.com/csp/Special/Img/header-bar_center-bg.png) repeat-x;
}

.subnav #tagline {
	margin-top: -5px;
	padding-left: 17px;
	float: left;
}

.subnav #login {
   padding-right: 20px;
	float: right;
	color: #FFF;
}

.subnav-left-cap,.subnav-right-cap {
	float: left;
	width: 5px;
	height: 28px;
}

.subnav-left-cap {
	background: url(https://ssl.images-createspace.com/csp/Special/Img/header-bar_left-cap.png) no-repeat;	
}

.subnav-right-cap {
	background: url(https://ssl.images-createspace.com/csp/Special/Img/header-bar_right-cap.png) no-repeat;
}

.subnav a,.subnav a:visited,.subnav a:hover {
	color: white;
	text-decoration: underline;
}

/* SITE SEARCH STYLES */

.subnav #sitesearch {
   float: right;
   width: 240px;
   height: 24px;
   margin-top: -3px;
}

#sitesearch #sitesearch_query {
   height: 22px;
   width: 148px;
   border-color: #666666;
   border-style: solid;
   border-width: 1px 0;
   padding: 0 0 0 4px;
   float: right;
   background: white;
   line-height: 22px;
   font: 13px/13px Arial, sans-serif;
}

#sitesearch #sitesearch_send {
   height: 24px;
   width: 24px;
   float: right;
}

#sitesearch .sitesearch_select {
   width: 62px;
   float: right;
   font: 13px/13px Arial, sans-serif;
}

#sitesearch .sitesearch_selected {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/header/sitesearch/search_drop_down.png) no-repeat;
   height: 12px;
   padding: 6px 0;
   width: 62px;
   float: right;
   font: 12px/12px Arial, sans-serif;
   text-indent: 6px;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
   position: absolute;
   z-index: 2;
}

#sitesearch .sitesearch_select_options {
   width: 60px;
   padding: 27px 0 5px;
   border: 1px solid #666666;
   background: white;
   position: absolute;
   z-index: 1;
}

#sitesearch .sitesearch_select_option {
   display: block;
   width: 60px;
   height: 12px;
   padding: 6px 0;
   font: 12px/12px Arial, sans-serif;
   color: #666666;
   text-indent: 6px;
   cursor: default;
}

#sitesearch .sitesearch_select_option:hover {
   color: #000000;
   background-color: #E2EAF8;
}

/* SUB MENU STYLES */

.subWrapper {
   width:190px;
   padding: 0;
   margin: 0;
   z-index: 1000;
}

.subMenu {
   background-color:#FBF6E2;
   width: 188px;
   height:inherit;
   padding-left:0px;
   border:1px solid #BABB9D;
   border-radius: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   -khtml-border-radius: 3px;
   
   /* For SubMenu drop shadows */
   -khtml-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            
   margin-top: 0px;
   clear: none;
   z-index: 100000;
}

.subMenu ul {
   padding: 0;
   margin-bottom: 0;
}

.subWrapper li{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:bold;
   list-style-type: none;
   margin-bottom: 0px;
   padding-top:4px;
   padding-bottom:4px;
   border-bottom: solid;
   border-bottom-width:1px;
   border-bottom-color:#E1DEC6;
   line-height:11px;
   display:block;
}

.subWrapper li p{
   padding-left:11px;
   margin-bottom: 0px;
   line-height:11px;
}
.subWrapper li.category {
   border-bottom: none;
   padding-bottom:2px;
   padding-top:12px;
   
   
}

.subWrapper li.last {
   border-bottom: none;
   padding-bottom:8px;
   
}

.subWrapper a {
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   font-weight:normal;
   text-decoration:none;
   color:#134679;
   display:block;
}

.subWrapper a:hover {
   text-decoration:underline;
}

.subMenuTop {
   height:8px;
   width: 190px;
   margin: -7px 0 0 0;
   padding: 0px;
   position: absolute;
}

#book_subMenuTop {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/header/book_menu_top.png) center top no-repeat;
}
#music_subMenuTop {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/header/music_menu_top.png) center top no-repeat;
}
#film_subMenuTop {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/header/film_menu_top.png) center top no-repeat;
}
#fpr_subMenuTop {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/header/fpr_menu_top.png) center top no-repeat;
}
#memberwork_subMenuTop {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/header/member_menu_top.png) center top no-repeat;
}
#account_subMenuTop {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/header/account_menu_top.png) center top no-repeat;
}

.subGreyText {
   display: block;
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size:10px;
   font-weight:normal;
   color:#666;
   line-height:10px;
}

/* PAGE BODY ##########################################################################*/
.product_button .left {
   float:            left;
   width:            12px;
   height:           25px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/product-button_left.gif);
}

.product_button .mid {
   float:            left;
   height:           25px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/product-button_mid.gif);
   background-repeat:repeat-x;
}

.product_button .right {
	float:           left;
	width:           12px;
	height:          25px;
	background-image:url(https://ssl.images-createspace.com/csp/Special/Img/product-button_right.gif);
}

.maintenance  .product_button .left {
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/product-maintenance_button_left.gif);
}

.maintenance .product_button .mid {
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/product-maintenance_button_mid.gif);
   background-repeat:repeat-x;
}

.maintenance .product_button .right {
   background-image:url(https://ssl.images-createspace.com/csp/Special/Img/product-maintenance_button_right.gif);
}

.maintenance_message {
	  color:          red;
	  font-weight:    bold;
	  font-size:      15px;
}

.product_button img {
   float:            left;
   margin-top:       2px;  
}

.product_button img{
	float: left;
	margin-top: 2px;
}

.product_button a, .product_button a:visited, .product_button a:hover {
   float:            left;
   margin-left:      5px;
   padding-top:      5px;
   text-decoration:  none;
   font-family:      Verdana, Helvetica, Arial, sans-serif;
   font-weight:      bold;
   font-size:        12px;
   color:            #000;
}
	
.blue_bubble {
   clear:               both;
}

.blue_bubble, .blue_bubble a:link, .blue_bubble a:hover, .blue_bubble a:visited {
   font:                bold 10px Verdana, Arial, Helvetica, sans-serif;
   color:               #FFFFFF;
   text-decoration:     none;
}

.blue_bubble_left {
   float:               left;
   width:               7px;
   height:              15px;
   background-repeat:   no-repeat;
   background-image:    url(https://ssl.images-createspace.com/csp/Special/Img/blue_bubble_left.gif);
}

.blue_bubble_middle {
   float:               left;
   height:              15px;
   background-color:    #164879;
}

.blue_bubble_right {
   float:               left;
   width:               7px;
   height:              15px;
   background-repeat:   no-repeat;
   background-image:    url(https://ssl.images-createspace.com/csp/Special/Img/blue_bubble_right.gif);  
}

.blue_bubble_large, .blue_bubble_large a:link, .blue_bubble_large a:hover, .blue_bubble_large a:visited {
	float:               left;
   margin-top:          4px;
   font:                bold 12px Verdana, Arial, Helvetica, sans-serif;
   color:               #FFFFFF;
   text-decoration:     none;
}

.blue_bubble_large_left {
   float:               left;
   width:               10px;
   height:              24px;
   background-repeat:   no-repeat;
   background-image:    url(https://ssl.images-createspace.com/csp/Special/Img/blue_bubble_large_left.gif);
}

.blue_bubble_large_middle {
   float:               left;
   height:              24px;
   background-color:    #164879;
}

.blue_bubble_large_right {
   float:               left;
   width:               10px;
   height:              24px;
   background-repeat:   no-repeat;
   background-image:    url(https://ssl.images-createspace.com/csp/Special/Img/blue_bubble_large_right.gif);  
}


/* PAGE LAYOUT ##########################################################################*/

#content {
   width:            525px;
   border-right:     1px solid #ccc;
   float:            left;
   padding-right:    20px;
   margin:           10px 10px 20px 0;
}

#content ul {
   list-style: url(https://ssl.images-createspace.com/csp/Special/Img/blue_bullet.gif);
   padding-left:     15px;
}

#right_content {
   width:            200px;
   float:            left;
   margin:           -8px 0px 0 0;
}

#right_content p {
   text-align:       left;
}

#right_content li {
   font-size:        12px;
}

#right_content hr {
   margin:           20px 0;
   border-top:       1px solid #e5e5e5;
}

#full_content {
   width:            940px; 
}

.js_login_err {
   width: 250px;
   padding-top: 3px;
   padding-left: 25px;
   float: left;
   clear: none;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/icon_javascript-red.gif) no-repeat;
   color: #900;
}

.js_login_err #sub {
   font-weight: normal;
}

.js_login_info {
   height: 25px;
   width: 250px;
   padding-top: 3px;
   padding-left: 25px;
   float: left;
   clear: none;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/icon_javascript-blue.gif) no-repeat;
    color: #666;
}

#noscript_wrap  {
   overflow: hidden;
   width: 100%;
   height: 560px;
}

#noscript {
   position: absolute;
   width: 100%;
   height: 560px;
   background-color: #fff;
   opacity: .5;
   mozopacity: 0.5;
   khtmlopacity: 0.5;   
   filter: alpha(opacity =     50);
   z-index: 2;
}

#noscript_msg_drop {
   position: absolute;
   width: 640px;
   height: 180px;
   left: 179px;
   top: 185px;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/noscript_msg_drop.png);
   z-index: 4;
}

#noscript_msg {
   position: absolute;
   width: 630px;
   height: 174px;
   left: 183px;
   top: 180px;
   z-index: 5;
   color: #fff;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/noscript_msg.png);
}

#noscript_msg h1 {
   color: #fff;
   position: relative;
   left: 100px;
   top: 15px;
   font-size: 25px;
   z-index: 6;
}

#noscript_msg p {
   position: relative;
   font-weight: bold;
   left: 100px;
   top: 15px;
   z-index: 6;
}

#noscript_msg #note {
   position: relative;
   font-weight: bold;
   font-size: 15px;
   left: 30px;
   top: 28px;
   color: #8294a6;
   z-index: 6;
}

#noscript_msg #close {
   position: relative;
   left: 25px;
   width: 175px;
   font-size: 14px;
   background: #0069ac url(https://ssl.images-createspace.com/csp/Special/Img/forms/button_blue_bg.gif) repeat-x
      ;
   border: 1px outset #0068ac;
   z-index: 6;
   cursor: pointer;
}

#member_content {
   width:            535px;
   float:             left;
   padding-bottom:    20px;
}

#customer_content {
   width:            740px;
   float:             left;
   padding-bottom:    20px;
}

#pagetitle span,
#full_pagetitle span {
   font-size:        12px;
   color:            #666;
}
.inset,
.inset_full {
   float:            right;
   width:            200px;
   margin:           0 0 10px 10px;
   padding:       10px;
   background:       #f3f3f3 url(https://ssl.images-createspace.com/csp/Special/Img/content_inset_background.gif) repeat-x top;
   border:           1px solid #ccc;
}

.inset h2,
.inset_full h2 {
   margin:           0;
}

.inset ul, 
.inset ol,
.inset_full ul,
.inset_full ol {
   padding:       0;
   padding-left:     15px;
   margin:           0;
   margin-top:       10px;
}

.inset p,
.inset_full p,
.product_desc .inset p,
.product_desc .inset_full p {
   margin:           0;
   margin-left:      0;
}

.inset_full {
   float:            none;
   width:            96%;
   margin:           10px 0;
}

hr {
   height:           0px;
   border:           0;
   border-top:       1px solid #ccc;
}

#startpage {
   height:           1px;
}

#endpage {
   clear:            both;
   height:           10px;
}

.clearer {
   clear:            both;
}

#branded_content {
   width:            800px;
   padding-left:     15px;
   margin:           3px 0 20px 0;
}

#branded_cart_bar {
   height:20px;
   width:745px;
   padding:0px;
   margin-left:15px;
}

#customer_login_content {
   width:      570px;
   margin-left:155px;
}


/* HOME LAYOUT ##########################################################################*/

#homepage {
   float:            left;
   width:            740px;
}

#intro_text {
   height:           70px;
   font-size:        12px;
   padding:          20px 0 10px 30px;
}

#intro_text h1 {font-weight:bold;}

#intro_text h1 strong {
   color:            black;
}

#main_bucket_left {
   width:            15px;
   height:           330px;
   float:            left;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/home-main_left.png);
}

#main_bucket_middle {
   width:            690px;
   height:           330px;
   float:            left;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/home-main_middle.png);
}

#main_bucket_middle a {
   color:            #164879;
   text-decoration:  none;
}

#main_bucket_right {
   width:            15px;
   height:           330px;
   float:            left;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/home-main_right.png);
}

#authors_bucket {
   float:            left;
   width:            240px;
   text-align:       center;
}

#musicians_bucket {
   float:            left;
   width:            240px;
   text-align:       center;
}

#filmmakers_bucket {
   float:            left;
   width:            210px;
   text-align:       center;
}

#space_bucket {
   height:           202px;
}

#main_text_left {
   float:            left;
   width:            340px;
   margin-top:       30px;
   margin-left:      -5px;
}

#main_text_left p {
	font-size:       11px;
	line-height:     16px;
}

#main_text_middle {
   float:            left;
   width:            30px;
}

#main_text_right {
   float:            left;
   width:            355px;
   font-family:      Verdana, Arial, Helvetica, sans-serif;
}

#easy_as_123 {
   float:            left;
   width:            355px;
   height:           112px;
   margin-top:       20px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/home-easy_as_steps.png);
}

#easy_as {
   margin-bottom:    10px;
   color:            #E47911;
   font-size:        20px;
}

.dist .top {
	clear:            both;
	margin:           0px;
	padding:          0px;
	margin-top:       20px;
   width:            200px;
   height:           7px !important;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/dist_top.png);
   background-repeat:no-repeat;
}

.dist .middle {
	clear:            both;
	width:            198px;
	margin:           0px;
	padding:          0px;
   color:            #000;
   font-size:        12px;
   font-family:      Verdana, Arial, Helvetica, sans-serif;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/dist_grad.png);
   background-repeat:repeat-x;
   background-position:top;
   background-color: #F9F7DE;
   border-left:      1px solid #DDDAC0;
   border-right:     1px solid #DDDAC0;
}

.dist span {
	margin-left:      10px;
	font-weight:      bold;
   font-size:        11px;
   color:            #333333;
}

.dist .title {
   margin-left:      10px;
   margin-right:     10px;
   margin-top:       5px;
   border-top:       1px solid #DDDAC0;
   border-bottom:    1px solid #FFF;   
}

.dist .inner {
   margin-left:      10px;
   margin-right:     10px;	
}

.dist h3 {
   font-size:        12px;
   margin-top:        5px;
   margin-bottom:     3px;	
}

.dist .spacer {
   width:            178px;
   height:           3px;
}

.dist .middle a:link, .dist .middle a:visited {
   color:            #103A62;
   font-size:        11px;
   text-decoration:  none;
}

.dist .middle a:hover {
   text-decoration:  underline;
}

.dist .bottom {
	clear:            both;
   width:            200px;
   height:           7px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/dist_bottom.png);
   background-repeat:no-repeat;
}

.tool {
   margin-top: 20px;
   margin-bottom: 40px;
}

#news {
   float:            left;
   margin-top:       20px;
}

/* HYBRID LAYOUT ########################################################################*/

#author_top {
   float:            left;
   width:            300px;
   height:           210px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/author-logo.png);
}

#author_bottom {
   clear:            both;
   background-color: #F2F7FA;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-bg.png);
   background-repeat:   repeat-x;
   width:            975px;
   height:           291px;
}

#filmmaker_top {
   float:            left;
   width:            300px;
   height:           210px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/filmmaker-logo.png);
}

#filmmaker_bottom {
   clear:            both;
   background-color: #F2F7FA;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-bg.png);
   background-repeat:   repeat-x;
   width:            975px;
   height:           291px;
}

#musician_top {
   float:            left;
   width:            300px;
   height:           210px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-logo.png);
}

#musician_bottom {
   clear:            both;
   background-color: #F2F7FA;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-bg.png);
   background-repeat:   repeat-x;
   width:            975px;
   height:           291px;
}

#tools_bottom {
   clear:            both;
   background-color: #F2F7FA;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-bg.png);
   background-repeat:   repeat-x;
   width:            915px;
   margin-top:       20px;
   border-top:       1px solid #B2D1E0;
   padding:          10px 20px;
}

#left_list {
   margin:           0px;
   padding:       0px;
   width:            280px;
   float:            left;
   margin-left:      10px;
}


.two_column #left_list {
   margin:           0px;
   padding:          0px;
   width:            460px;
   float:            left;
   margin-left:      10px;
}

.left_img {
   margin:           0px;
   padding:       0px;
   float:            left;
   width:            90px;
   height:           90px;
}

#mid_list {
   width:            1px;
   height:           260px;
   border-left:      1px solid #B2D1E0;
   margin:           0px;
   padding:       0px;
   float:            left;
   margin-left:      12px;
   margin-right:     8px;
}

#right_list {
   margin:           0px;
   padding:       0px;
   width:            325px;
   float:            left;
}

.right_img {
   margin:           0px;
   padding:          0px;
   float:            left;
   width:            90px;
   height:           90px;
}

#phone_support {
   width:            50px;
   height:           50px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/phone_support.png);
   float:            right;
}

.right_img #kindle {
   width:            90px;
   height:           90px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/author-kindle.png);
}

.right_img #video {
	width:            65px;
	height:           70px;
	margin-left:      10px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/filmmaker-video_download.png);
}

.right_img #audio {
	width:            65px;
	height:           70px;
	margin-left:      10px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-mp3_download.png);
}

.hybrid_title {
   float:            left;
   margin-top:       30px;
   font-family:      Verdana, Arial, Helvetica, sans-serif;
   font-weight:      bold;
   font-size:        16px;
   color:            #E47911;
}

.hybrid_info {
   float:            left;
   width:            290px;
   height:           135px;
}

.two_column .hybrid_info {
   float:            left;
   width:            460px;
   height:           135px;
}

.hybrid_list {
   margin:           0px;
   padding:       0px;
   margin-left:      20px;
   margin-right:     20px;
}

.hybrid_list li {
   margin-bottom:    20px;
   font-size:        12px;
   font-family:      Verdana, Arial, Helvetica, sans-serif;
   list-style:       url(https://ssl.images-createspace.com/csp/Special/Img/blue_bullet.gif);
}

.hybrid_buttons {
   clear:            both;
   margin-left:      7px;
}

.hybrid_create {
   float:            left;
   margin-right:     5px;
}

.hybrid_learn {
   float:            left;
   margin-top:       5px;
}

#diagram {
   float:            left;
   width:            310px;
   height:           262px;
}

.two_column #diagram {
   float:            left;
   width:            460px;
   height:           262px;
}

.diagram_left {
   float:            left;
   width:            30px;
   height:           262px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-left.png);
}

.diagram_mid {
   width:            200px;
   height:           25px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-middle.png);
}

.two_column .diagram_mid {
   width:            350px;
   height:           25px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-middle.png);
   background-size:  350px 25px;
}

.diagram_right {
   float:            left;
   width:            80px;
   height:           262px;
}

.diagram_bg {
   width:            200px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-middle_bg.png);
}

.two_column .diagram_bg {
   width:            350px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-middle_bg.png);
}

.diagram_title {
   float:            left;
   width:            180px;
   height:           18px;
   font-family:      Verdana, Arial, Helvetica, sans-serif;
   font-size:        14px;
   color:            #E47911;
   margin-left:      12px;
}

.diagram_text {
   float:            left;
   width:            180px;
   font-family:      Verdana, Arial, Helvetica, sans-serif;
   font-size:        11px;
   margin-left:      12px;
}

.two_column .diagram_text {
   float:            left;
   width:            320px;
   font-family:      Verdana, Arial, Helvetica, sans-serif;
   font-size:        11px;
   margin-left:      12px;
   margin-top:       5px;
}

/* PRODUCT LAYOUT #######################################################################*/

#highdef_top {
   float:            left;
   width:            226px;
   height:           177px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/high-definition_product.jpg);
}

#highdef_bottom {
   clear:            both;
   background-color: #F2F7FA;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/musician-bg.png);
   background-repeat:   repeat-x;
   width:            975px;
   height:           371px;
}

#product_img {
   float:            left;
   margin-left:      30px;
   width:            155px;
}

#submission_img {
   float:            left;
   width:            167px;
   height:           143px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/product-book_submission_img.png);
   margin-top:-40px;
   margin-left:-20px;
}

.faq_div {
   width:            300px;
   height:           1px;
   border-top:       1px solid #ADD2E2;
   margin:           10px;
}

#product_intro {
   float:            left;
   width:            555px;
   height:           250px;
}

#product_tabs {
   clear:            both;
   width:            725px;
   margin-top:       20px;
   margin-left:      20px;
}

.product_tab_space {
   float:            left;
   width:            12px;
   height:           23px;
   border-bottom:    1px solid #9DC4D8;
}

.product_tab_left {
   float:            left;
   width:            5px;
   height:           23px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/product-tab_left.png);
   border-bottom:    1px solid #9DC4D8;
}

.product_tab_mid {
   float:            left;
   height:           20px;
   font-size:        13px;
   padding-top:      3px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/product-tab_mid.png);
   background-repeat:   repeat-x;
   text-align:       center;
   border-bottom:    1px solid #9DC4D8;
   cursor:           pointer;
}

.product_tab_mid a, .product_tab_mid a:visited, .product_tab_mid a:hover {
	font-family:      Arial, Helvetica, Verdana, sans-serif;
   color:            #000;
}

.product_tab_right {
   float:            left;
   width:            5px;
   height:           23px;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/product-tab_right.png);
   border-bottom:    1px solid #9DC4D8;
}

#product_content {
   float:            left;
   margin:           0px;
   margin-left:      20px;
   padding:          10px;
   width:            699px;
   border-left:      1px solid #9DC4D8;
   border-right:     1px solid #9DC4D8;
   border-bottom:    1px solid #9DC4D8;
   background-image: url(https://ssl.images-createspace.com/csp/Special/Img/products-content_bg.png);
   background-repeat:   repeat-x;
   background-position:top;
   background-color: #F8FBFC;
}

/* MEMBER ACCOUNT MENU ##################################################################*/

div #member_nav, 
div #dashboard_iconlegend,
div #dashboard_videotutorial {
   float:            left;
   width:            160px;
   margin-right:     20px;
   margin-bottom:    20px;
}

#member_left {
   float:            left;
}

#member_left #member_nav, 
#member_left #dashboard_iconlegend,
#member_left #dashboard_videotutorial {
   float:            none;
}

#member_nav h2, 
#dashboard_iconlegend h2,
#dashboard_videotutorial h2 {
   display:       none;
}

#member_nav h3 {
   margin-top: 13px;
}

#member_nav p, 
#dashboard_iconlegend p,
#dashboard_videotutorial p {
   text-align:       left;
   margin-bottom: 10px;
}

#member_nav {
   width:            160px;
}

#member_nav #member_nav_body, 
#dashboard_iconlegend #dashboard_iconlegend_body,
#dashboard_videotutorial #dashboard_videotutorial_body {
   border:           1px solid #ccc;
   border-top:       0 none;
   padding:       3px 5px;
}

#member_nav #member_nav_header, 
#dashboard_iconlegend #dashboard_iconlegend_header,
#dashboard_videotutorial #dashboard_videotutorial_header {
   width:            160px;
   height:           20px;
   padding:       0;
   margin:           0;
}

#member_nav #member_nav_header {
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_header_myaccount.jpg) no-repeat;
}

#dashboard_iconlegend #dashboard_iconlegend_header {
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_header_icon-legend.gif) no-repeat;
}

#dashboard_videotutorial #dashboard_videotutorial_header {
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_header_video-tutorial.gif) no-repeat;
}

#dashboard_videotutorial_icon {
	float: left;
	width: 16px;
	height: 16px;
	padding: 2px;
	padding-right: 3px;
	margin-top: 3px;
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_videotutorial_icon_play.gif) no-repeat;
}

#member_nav #member_nav_footer {
   width:            160px;
   height:           19px;
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_footer_contactsupport.gif) 0 -1px no-repeat;
}

#dashboard_iconlegend #dashboard_iconlegend_footer {
   width:            160px;
}

#member_nav a, 
#dashboard_iconlegend a,
#dashboard_videotutorial a {
   font-size:        12px;
   margin-bottom:    5px;
}

#dashboard_iconlegend a:visited {
   color:            blue;
}

#member_nav hr, 
#dashboard_iconlegend hr {
   margin-bottom: 7px;
}

#dashboard_iconlegend, 
#dashboard_iconlegend td {
   font-size:     11px;
   font-family:      Arial, Helvetica, sans-serif;
}

#dashboard_videotutorial_body_text {
   font-size:     11px;
   font-family:      Arial, Helvetica, sans-serif;
}

/* DICTIONARY DATA OUTPUT ###############################################################*/

.recent_messages dl {
   margin-top: 3px;
   margin-bottom: 3px;
   font-size: 12px;
}

.recent_messages dt {
   font-weight:   bold;
   float:         left;
   clear:         left;
   width:         8em;
   margin-left:   10px;
}

.recent_messages dd {
   margin-left:   9em;
}

.data_dictionary dt {
   font-weight:   bold;
   float:         left;
   clear:         left;
   width:         12em;
}

.data_dictionary dd {
   margin-left:   9em;
   margin-bottom: 10px;
}

#book_estore_details dl {
   margin-top: 0;
}

#book_estore_details dt {
   width:         auto;
}

#book_estore_details dd {
   margin-bottom: 2px;
   margin-left:   12em;
}

/* TABLE WIDTHS FOR PAGE TYPES ##########################################################*/

#content .datatable {
   width:            540px;
}

#full_content .datatable {
   width:            720px;
}

#member_content .datatable {
   width:            615px;
}

#workflow_content .datatable { 
     margin:                    10px 0; 
     width:                    605px; 
}

.datatable,
.carttable,
.detailtable {
   margin-bottom:    20px;
   border:           1px solid #ccc;
   border-top:       0 none;
   border-bottom:    0 none;
   background-color: #FFF;
}

.cartCCNote {
   border: 1px red solid;
   padding: 5px;
}

/* TABLE HEADERS #########################################################################*/

.datatable tfoot tr td {
   background: #E2E2E2;
}

.datatable th,
.datatable .header {
   font-size:        12px;
   background-color:    #E2E2E2;
   text-align:       left;
   padding:       3px;
   padding-left:     10px;
   vertical-align:   top;
   font-weight:      bold;
   color:            black;
}

.detailtable th,
.detailtable .header {
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_bg_startproj.gif) repeat-x;
   font:          bold 12px Verdana, Arial, Helvetica, sans-serif;
   text-align:       left;
   padding:       3px;
   padding-left:     6px;
   vertical-align:   top;
   color:            black;
   border:           1px solid #A4D3FF;
   border-left:      0 none;
   border-right:     0 none;
}

.detailtable .subheader {
   font-weight:      bold;
}

.carttable th,
.carttable .header {
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_bg_startproj.gif) repeat-x;
   background-color:       #E6F3FF;
   font:          bold 14px Verdana, Arial, Helvetica, sans-serif;
   text-align:       left;
   padding:       3px;
   padding-left:     6px;
   vertical-align:   top;
   color:            black;
   border:           1px solid #A4D3FF;
   border-left:      0 none;
   border-right:     0 none;
}

.datatable td,
.detailtable td {
   padding:       3px;
   padding-left:     10px;
   vertical-align:   top;
   border-bottom:    1px solid #ccc;
}

.carttable td {
   color:            black;
   background-color:    #FFFFFF;
   padding:       3px;
   padding-left:     10px;
   vertical-align:   top;
   border-bottom:    1px solid #ccc;
}

.datatable  .header td,
.detailtable  .header td {
   padding:       3px;
   padding-left:     10px;
   vertical-align:   top;
   border-top:       1px solid #ccc;
}

.datatable  .oddrow,
.detailtable .oddrow {
   background-color:    #F6F6F6;
}

.carttable .oddrow td {
   color:            black;
   background-color:    #F6F6F6;
}

.datatable  .divider,
.carttable  .divider,
.detailtable .divider {
   border-right:     1px solid #E5E5E5;
}

.datatable .endrow td,
.detailtable .endrow td,
.detailtable td.endrow {
   border-bottom:    0 none;
}

.carttable  .baserow td {
   background-color:    #E5E5E5;
   font-weight:         bold;
   color:               black;
}

.carttable  .totalrow td {
   background-color:    #E5E5E5;
   font:          bold 14px Verdana, Arial, Helvetica, sans-serif;
   text-align:       left;
   padding:       3px;
   padding-left:     6px;
   vertical-align:   top;
   color:            black;
   border:           1px solid #A4D3FF;
   border-left:      0 none;
   border-right:     0 none;
}

/* MEMBER PROFILE #######################################################################*/

#profile {
   border:        1px solid #ccc;
   float:         left;
   clear:         left;
   padding:    5px;
   margin:        0 10px 20px 0;
   width:         345px;
   background:    white url(https://ssl.images-createspace.com/csp/Special/Img/spotlight_bg_fade.gif) repeat-x;
}

#profile_member {
   border:        1px solid #989898;
   float:         right;
   width:         90px;
   height:        110px;
   margin:        5px;
   margin-bottom: 10px;
}

/* inner border of member image */
#profile_member div {
   border:        1px solid white;
   opacity:    0.3;
   margin:        5px;
   height:        98px;
}

#profile p {
   font-size:     11px;
   line-height:   13px;
   margin-left:   5px;
   margin-right:  108px;
   text-align:    justify;
}

#profile h2 {
   font-size:     14px;
   margin:        0;
}

#profile h3 {
   color:         #666;
   font-size:     12px;
   font-weight:   normal;
   margin:        0;
}

#profile hr {
   border-top:    1px solid #d9d9d9;
   margin:        0 0 12px 0;
}

#profile p.video_link {
   clear:         left;
   margin-left:   0;
   width:         auto;
   padding-left:  5px;
   font-size:     13px;
   font-weight:   bold;
}

.profile_footer {
   clear:         right;
   margin:        0 0 -5px -5px;
   padding-right: 5px;
   width:         350px;
   background:    #ababab url(https://ssl.images-createspace.com/csp/Special/Img/bucket_footer_fade.gif) repeat-x;
   font-size:     11px;
   font-weight:   bold;
   text-align:    right;
}

.profile_footer a {
   color:         white;
   text-decoration: none;
}

/* Checlist Checkbox ###################################################################*/

div .checklist_box {
   display:    inline;
   width:         18px;
   height:        18px;
   margin-right:  10px;
   border:        1px solid black;
}

/* BOXED LIST ##########################################################################*/

.boxed {
   border:           1px solid #ccc;
}

.boxed div {
   margin:        4px;
   padding:    6px;
   border:        1px solid #efefef;
}

.boxed ul {
   list-style:       none;
   margin:           5px;
   padding:       0;
}

/* Helpful Boxes #######################################################################*/

.helpfulbox-200 {width:200px; margin-right:10px;}
.helpfulbox-200 #top {height:5px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-200_top.gif) no-repeat;}
.helpfulbox-200 #bottom {height:10px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-200_bottom.gif) no-repeat;}
.helpfulbox-200 #body {padding:5px 10px 0; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-200_fill.gif) repeat-y;}
.helpfulbox-200 #body h4, .helpfulbox-740 #body h4 {color:black; font-size:11.5px; font-weight:bold;}
.helpfulbox-200 #body p, .helpfulbox-740 #body p {text-align:left; font-size:11px; line-height: 1.2em; margin-bottom:0px; padding-bottom:12px;}

.helpfulbox-740 {width:740px;}
.helpfulbox-740 #top {font-size:1px; height:5px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-740_top.gif) no-repeat;}
.helpfulbox-740 #bottom {font-size:1px; height:10px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-740_bottom.gif) no-repeat;}
.helpfulbox-740 #body {padding:5px 10px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-740_fill.gif) repeat-y;}

.helpfulbox-378 {width:378px;}
.helpfulbox-378 #top {font-size: 1px; line-height: 1; height:5px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-378_top.gif) no-repeat;}
.helpfulbox-378 #bottom {font-size: 1px; line-height: 1; height:5px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-378_bottom.gif) no-repeat;}
.helpfulbox-378 #body {padding:5px 10px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-378_fill.gif) repeat-y;}

.helpfulbox-540 {width:540px;}
.helpfulbox-540 #top {font-size:1px; height:5px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-540_top.gif) no-repeat;}
.helpfulbox-540 #bottom {font-size:1px; height:10px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-540_bottom.gif) no-repeat;}
.helpfulbox-540 #body {padding:5px 10px; background:url(https://ssl.images-createspace.com/csp/Special/Img/helpfulbox-540_fill.gif) repeat-y;}

/* Info Box #######################################################################*/

.infoBoxWrapper {
   float: left;
}

.infoBoxTopLeft, .infoBoxTopCenter, .infoBoxTopRight, 
.infoBoxBottomLeft, .infoBoxBottomCenter, .infoBoxBottomRight {
	font-size: 1px;
}

.infoBoxTopLeft {
   clear: both;
   float: left;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/info_box_tl.png) no-repeat;
   width: 4px;
   height: 4px;
   padding: 0px;
   margin: 0px;
}

.infoBoxTopCenter {
   float: left;
   width: 282px;
   height: 4px;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/info_box_t.png) repeat-x;
   padding: 0px;
   margin: 0px;
}

.infoBoxTopRight {
   float: left;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/info_box_tr.png) no-repeat;
   width: 4px;
   height: 4px;
   padding: 0px;
   margin: 0px;
}

.infoBoxMiddleLeft {
   clear: left;
   float: left;
   width: 1px;
   background-color: #B2D1E0;
   padding: 0px;
   margin: 0px;
}

.infoBoxMiddleCenter {
   float:left;
   width: 280px;
   background-color: #FFF;
   border-left: 1px solid #a8c6d4;
   border-right: 1px solid #a8c6d4;
   padding-left: 8px;
}

.infoBoxMiddleRight {
   float: left;
   width: 1px;
   height: 52px;
   background-color: #B2D1E0;
}

.infoBoxBottomLeft {
   clear: left;
   float: left;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/info_box_bl_review.png) bottom no-repeat;
   width: 5px;
   height: 9px;
}

.infoBoxBottomCenter {
   float: left;
   height: 9px;
   width: 280px;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/info_box_b_review.png) bottom repeat-x;
}

.infoBoxBottomRight {
   float: left;
   background: url(https://ssl.images-createspace.com/csp/Special/Img/info_box_br_review.png) bottom no-repeat;
   width: 5px;
   height: 9px;
}

/* Misc Link Types #####################################################################*/

a.large_button {
   color:            black;
   text-decoration:  none;
   display:       block;
   width:            332px;
   height:           28px;
   padding:       2px;
   padding-top:      4px;
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/forms/btn_create_my_account.png);
   border:        0 none;
   font:          bold 16px Arial, Helvetica, Verdana, sans-serif;
   text-align:       center;
   vertical-align:      middle;
}

input.generic_button, input.cancel_button, a.generic_button, a.generic_button:hover, a.cancel_button, a.cancel_button:hover {
   font-size:        12px;
   font-weight:      bold;
   background:       #efefef url(https://ssl.images-createspace.com/csp/Special/Img/forms/button_generic_bg.gif) repeat-x;
   border:           1px outset #666;
}

a.generic_button, a.generic_button:hover, a.cancel_button, a.cancel_button:hover {
   color:            black;
   padding:       3px 5px;
   margin-bottom:    10px;
   text-align:       center;
   text-decoration:  none;
}

.disabled_button {
   font-size:        12px;
   font-weight:      bold;
   background:       #efefef url(https://ssl.images-createspace.com/csp/Special/Img/forms/button_generic_bg.gif) repeat-x;
   border:           1px outset #666;
   color:            #CCCCCC;
   margin:           0px;
   padding:          3px 3px 3px 3px;
   text-align:       center;
}

input.cancel_button, a.cancel_button {
   font-size:        16px;
}

input.submit_button, a.submit_button, a.submit_button:hover {
   font-size:        16px;
   font-weight:      bold;
   background:       #E8F3FF url(https://ssl.images-createspace.com/csp/Special/Img/forms/button_submit_bg.gif) repeat-x;
   border:           1px outset #248CFE;
}

a.submit_button, a.submit_button:hover {
   color:            black;
   padding:       3px 5px;
   margin-bottom:    10px;
   width:            193px;
   display:       block;
   text-align:       center;
   text-decoration:  none;
}

input.alert_button, a.alert_button, a.alert_button:hover {
   font-size:        16px;
   font-weight:      bold;
   background:       #FFFF99 url(https://ssl.images-createspace.com/csp/Special/Img/forms/button_alert_bg.gif) repeat-x;
   border:           1px outset #FF9900;
}

a.alert_button, a.alert_button:hover {
   color:            black;
   padding:       3px 5px;
   width:            193px;
   margin-bottom:    10px;
   display:       block;
   text-align:       center;
   text-decoration:  none;
}

.cancel_button,
.generic_button,
.submit_button,
.alert_button {
   cursor:           pointer;
}

.linkout {color:black;padding-left:20px; background:url(https://ssl.images-createspace.com/csp/Special/Img/link-arrow.gif) no-repeat 5px 4px; clear:left; font-weight:bold; font-size: 12px; margin-bottom:10px;}
.linkout .note {font-weight:normal;}

/* FOOTER ##############################################################################*/

#footer {
   width:            959px; 
   height:           90px;
   margin-top:       20px;
   margin-left:      20px;
   padding-top:      10px;
   border-top:       1px solid #ADD2E2;
}

#footer div {
   font-size:        10px;
   color:            #999;
}

#footer a, #footer a:visited, #footer a:hover {
   display:          block;
   float:            left;
   color:            #146EB4;
   text-decoration:  none;
}

#footer a:hover {
   text-decoration:  underline;	
}

#footer a.last {
   border:           none;
}

#footer ul {
   float:            left;
   margin-left:      0px;
   list-style:       none;
}

#footer li {
   float:            left;
}

.footer {
   margin-right:     54px;
   width:            100px;
}

/* PAGE SPECIFIC ########################################################################*/

/* MEMBER DASHBOARD & MESSAGE CENTER ----------------------------------------------------*/

#message {
   border-bottom: 1px solid #ccc;
}

table.message_table,
table.dashboard_table,
table.alert_table  {
   width:            605px;
}

table.dashboard_mc_table {
   width:            605px;
   border:             1px solid #ffcc01;
   border-spacing:     0px;
   font:          14px Arial, Helvetica, Verdana, sans-serif;
}

.message_table th,
.dashboard_table th {
   font:          bold 12px Arial, Helvetica, sans-serif;
   color:            black;
   background:       #efefef;
   padding:       0 4px;
   border-bottom:    1px solid #ccc;
}

.message_table th,
.alert_table th,
.dashboard_mc_table th {
   text-align:left;
}

.justify_left {
   text-align:       left;
}

.message_table td,
.dashboard_table td,
.alert_table td {
   padding:       3px 5px;
}

.dashboard_mc_table td {
    padding:            10px 10px 10px 15px;
    font:    14px Arial, Helvetica, Verdana, sans-serif;
    text-align: left;
    vertical-align: middle;
}

.message_table .even,
.dashboard_table .even {
   background:       #f5f5f5;
}

#alert {
   border-bottom: 1px solid #efd1a9;
}

.alert_table th {
   font:          bold 12px Arial, Helvetica, sans-serif;
   color:            black;
   background:       #ffe6ca;
   padding:       0 4px;
   border-bottom:    1px solid #efd1a9;
}

.alert_table .odd,
.dashboard_mc_table .odd  {
   background:       #fff5e1;
}

hr.alert {
   border-top:       1px solid #ffcc01;
}

/* PRODUCT SELECTION --------------------------------------------------------------------*/

#product_selection_pg {
   float:            left;
   width:            960px;
}


#product_selection_pg h2 {
   font:          bold 14px Verdana, Arial, Helvetica, sans-serif;
   padding:       0px 0 1px 0;
   margin:        0px 10px 5px 0;
}


#product_selection_pg #left_col,
#product_selection_pg #right_col {
   float:            left;
   width:            460px;
   margin-right:     20px;
}


#member_content #product_selection_pg {
   float:            left;
   width:            780px;
   margin:           0px;
   margin-right:     -10px;
}


#member_content #product_selection_pg #left_col,
#member_content #product_selection_pg #right_col {
   float:            left;
   width:            370px;
   margin:           10px;
}

.product_desc {
   margin-bottom:    15px;
   float:            left;
   border-top:       1px solid #efefef;
}

.product_desc h3 {
   font:          bold 16px Verdana, Arial, Helvetica, sans-serif;
   padding:       0px;
   margin-bottom:    0px;
}

.product_desc img {
   float:            left;
   margin-right:     10px;
}

.product_desc p {
   font-size:        14px;
   line-height:      1.5em;
   text-align:       left;
   display:       block;
   margin-left:      85px;
   margin-bottom:    0px;
}

.product_desc .flag {
   float:            none;
   margin:           4px 0 0 5px;
}

/* HELP INDEX ---------------------------------------------------------------------------*/

#help_index_col_a,
#help_index_col_b,
#help_index_col_c {
   width:            240px;
   float:            left;
}

.help_index_section {
   border:           1px solid #efefef;
   padding:       10px;
   margin:           0 10px 10px 0;
}

.help_index_section h2 {
   margin:           0 0 5px 0;
   padding-bottom:      3px;
   border-bottom:    1px solid #ccc;
}

#help_contact {
   width:            160px;
   height:           20px;
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_footer_contactsupport.gif);
}

/* NEC / NEB Workflow Header ------------------------------------------------------------*/
#workflow_content {
   width:            605px;
   float:            left;
   margin-bottom:    20px;
}

#workflow_header {
   margin-top:       15px;
   width:            612px;
}

#workflow_steps3 .defaulted,
#workflow_steps4 .defaulted,
#workflow_steps5 .defaulted,
#workflow_substeps .defaulted  {
   color: #999;
}

#workflow_steps3 ol,
#workflow_steps4 ol,
#workflow_steps5 ol {
   list-style:       none;
   margin:           0px;
   padding:       0px;
}

#workflow_steps3 li,
#workflow_steps4 li,
#workflow_steps5 li {
   padding:       6px;
   display:       block;
   float:            left;
   height:           28px;
   font:          bold 15px Arial, Helvetica, sans-serif;
   line-height:      .95em;
}

#workflow_steps3 li span,
#workflow_steps4 li span,
#workflow_steps5 li span {
   font-size:        11px;
}

#workflow_steps3 li {
   width:            187px;
   background:       #efefef no-repeat;
   background:       #efefef no-repeat;
   border:           1px solid #ccc;
}

#workflow_steps3 .past span {
   color:            #4AB9F9;
}

#workflow_steps4 li {
   width:            137px;
   background:       #efefef no-repeat;
   border:           1px solid #ccc;
}

#workflow_steps4 span {
   color:            #999;

}

#workflow_steps3 .current, #workflow_steps4 .current {
   background:       #E8F3FF;
   border:           1px solid #ccc;
   border-bottom:    1px solid #E8F3FF;
   height:           32px;
   margin-top:       -4px;
}

#workflow_steps3 .current span, #workflow_steps4 .current span {
   color:            #FF9900;
}

#workflow_steps3 .past span, #workflow_steps4 .past span {
   color:            #4AB9F9;
}

#workflow_steps5 li {
   width:            104px;
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/wfhdr_main5_future.gif) no-repeat;
   margin:           0 6px 0 0;
}

#workflow_steps5 .current {
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/wfhdr_main5_current.gif) no-repeat;
}

#workflow_steps5 .past {
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/wfhdr_main5_past.gif) no-repeat;
}

#workflow_substeps {
   width:            602px;
   margin-top:       -10px;
   clear:            left;
   float:            left;
   background:       #E8F3FF;
   font:          13px Verdana, Arial, Helvetica, sans-serif;
   border:           1px solid #ccc;
   border-top:       0 none;
   margin-bottom:    15px;
}

#workflow_substeps h3 {
   font:          bold 16px Verdana, Arial, Helvetica, sans-serif;
   margin:           10px 0 3px 20px;
   color:            #666;
}

#workflow_substeps p {
   margin:           0 20px 3px 20px;
}   

#workflow_substeps #subprocess_2up, 
#workflow_substeps #subprocess_3up, 
#workflow_substeps #subprocess_4up, 
#workflow_substeps #subprocess_5up,
#workflow_substeps #subprocess_6up {
   height:           30px;
}


#workflow_substeps #subprocess_2up ol,
#workflow_substeps #subprocess_3up ol,
#workflow_substeps #subprocess_4up ol,
#workflow_substeps #subprocess_5up ol,
#workflow_substeps #subprocess_6up ol {
   list-style:       none;
   margin:           0px;
   margin-left:      0px;
   padding:       0px;
   width:            100%;
}

#workflow_substeps #subprocess_2up li,
#workflow_substeps #subprocess_3up li,
#workflow_substeps #subprocess_4up li,
#workflow_substeps #subprocess_5up li,
#workflow_substeps #subprocess_6up li {
   padding-top:      8px;
   display:       block;
   float:            left;
   width:            150px;
   height:           25px;
   background:       #E8F3FF;
   font:          bold 11px Verdana, Arial, Helvetica, sans-serif;
   border:           1px solid #A0A0A0;
   border-right:     0 none;
   border-bottom:    0 none;
   text-align:       center;
   margin-left:      -1px;
   margin-top:       10px;
   margin-bottom:    0;
   color:            #999;
}

#workflow_substeps #subprocess_2up li {
   width:            301px;
}

#workflow_substeps #subprocess_3up li {
   width:            200px;
}

#workflow_substeps #subprocess_4up li {
   width:            150px;
}

#workflow_substeps #subprocess_5up li {
   width:            120px;
}

#workflow_substeps #subprocess_6up li {
   width:            86px;
}

#workflow_substeps #subprocess_2up .current,
#workflow_substeps #subprocess_3up .current,
#workflow_substeps #subprocess_4up .current,
#workflow_substeps #subprocess_5up .current,
#workflow_substeps #subprocess_6up .current {
   background:       #fff url(https://ssl.images-createspace.com/csp/Special/Img/wfhdr_sub_current.gif) no-repeat top center;
   color:            black;
   font-weight:      bold;
   border-top:       1px solid #00A1FE;
}

#workflow_substeps #subprocess_2up .past,
#workflow_substeps #subprocess_3up .past,
#workflow_substeps #subprocess_4up .past,
#workflow_substeps #subprocess_5up .past,
#workflow_substeps #subprocess_6up .past {
   color:            #00A1FE;
   border-top:       1px solid #00A1FE;
}

#workflow_attention {
   border:           1px solid #FFCC00;
   width:            602px;
   margin-left:      -10px;
}

#workflow_attention div {
   padding:       10px;
}

#workflow_attention h2 {
   margin:           3px 0 5px 0;
   padding-left:     35px;
   font-size:        18px;
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/icon_attention.png) left center no-repeat;
}

#workflow_attention h2 span {
   color:         black;
}

#workflow_attention p {
   margin-bottom:    0;
}

#workflow_attention #choose {
   background:       #FFF8F0;
   padding:       0;
}

#workflow_attention #choose p {
   font-size:        12px;
   text-align:       left;
}

#workflow_attention #choose div {
   width:            275px;
   float:            left;
   margin:           0 3px;
}

#workflow_cart {
   width:            605px;
}

#skip_proofing {
   position: absolute;
   z-index: 4;
   background: #ffffff;
   border: 1px solid #FFCC00;
   width: 602px;
   top: 180px;
   left: 220px;
}

#skip_proofing div {
   padding:       10px;
}

#skip_proofing h2 {
   margin:           3px 0 5px 0;
   padding-left:     35px;
   font-size:        18px;
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/icon_attention.png) left center no-repeat;
}

#skip_proofing h2 span {
   color:         black;
}

#skip_proofing p {
   margin-bottom:    0;
}

#skip_proofing #choose {
   background:       #FFF8F0;
   padding:       0;
}

#skip_proofing #choose p {
   font-size:        12px;
   text-align:       left;
}

#skip_proofing #choose div {
   width:            275px;
   float:            left;
   margin:           0 3px;
}

/* Base Profiles Styles ========================================== */

.profile_new_existing {
   font-weight: bold;
   font-size:   14px;
}

.profile_select_name {
   font-weight: bold;
   font-size:   13px;
   display:     block;
   color:       #000000;
   
   text-overflow:         ellipsis;
   -o-text-overflow:      ellipsis;
   -icab-text-overflow:   ellipsis;
   -khtml-text-overflow:  ellipsis;
   -moz-text-overflow:    ellipsis;
   -webkit-text-overflow: ellipsis;
   overflow:              hidden;
   white-space:           nowrap;
}

.profile_default_flag {
   position:  relative; 
   float:     right; 
}

.profile_select_content a,
.profile_select_content a:visited,
.profile_select_content a:hover,
.profile_select_content a:active,
.profile_view a,
.profile_view a:visited,
.profile_view a:hover,
.profile_view a:active {
   color:            #0099FF;
   text-decoration:  none;
}

.profile_select_content a:hover,
.profile_view a:hover {
   text-decoration:  underline;
}

.profile_select_text {
   font-size:   12px;
   padding:     0;
   color:       #000000;
   display:     block;
   width:       100%;
   
   text-overflow:         ellipsis;
   -o-text-overflow:      ellipsis;
   -icab-text-overflow:   ellipsis;
   -khtml-text-overflow:  ellipsis;
   -moz-text-overflow:    ellipsis;
   -webkit-text-overflow: ellipsis;
   overflow:              hidden;
   white-space:           nowrap;
}

.moz-ellipsisDefaultHeader > DIV:first-child, 
.moz-ellipsisBlue > DIV:first-child, 
.moz-ellipsisGray > DIV:first-child {
  float: left;
  margin-right: -26px;
}

.moz-ellipsisDefaultHeader > DIV + DIV, 
.moz-ellipsisBlue > DIV + DIV, 
.moz-ellipsisGray > DIV + DIV {
  float: right;
  margin-top: -1.2em;
  padding-left: 26px;
}

.moz-ellipsisDefaultHeader > DIV + DIV {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/moz_ellipsis_white.png) repeat-y;
   background-position: 0px -4px;
}

.moz-ellipsisBlue > DIV + DIV {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/moz_ellipsis_blue.png) repeat-y;
}

.moz-ellipsisGray > DIV + DIV {
   background: url(https://ssl.images-createspace.com/csp/Special/Img/moz_ellipsis_gray.png) repeat-y;
}

.moz-ellipsisDefaultHeader > DIV + DIV::after {
  background-color:    #E6F3FF;
  background:          url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_bg_startproj.gif) repeat-x;
  background-position: 0px -4px;
  color: #AAAAAA;
  content: '...';
}

.moz-ellipsisBlue > DIV + DIV::after {
  background-color: #E6F3FF;
  color: #446B8F;
  content: '...';
}

.moz-ellipsisGray DIV + DIV::after {
  background-color: #EEEEEE;
  color: #999999;
  content: '...';
}

.profile_select_left {
   float: left;
   width: 294px;
}

.profile_select_right {
   float: right;
   width: 297px;
}

.profile_select_content_default, .profile_select_content, .profile_view {
   float:            left;
   width:            286px;
   padding:          4px 4px 4px 4px;
   color:            black;
   border:           1px solid #CCCCCC;
   background-color: #EEEEEE;
}

.profile_select_content_default {
   background:       url(https://ssl.images-createspace.com/csp/Special/Img/sidebar_bg_startproj.gif) repeat-x;
   background-color: #E6F3FF;
}

.profile_remove {
   padding: 10px 10px 10px 10px;
   color: black;
   background-color:       #FFFFFF;
}

/* Migrated Styles ========================================== */

.coverText {
   text-align: center;
   font-family: arial, helvetica, sans-serif;
   width: 93px;
   max-width: 93px;
   font-size: 7pt;
   color: #000000;
}

.title {
   background: #ffffff;
}

th.spotlightHeader {
   width: 100%;
   color: #ffffff;
   border: solid 1px #666666;
   background: #666666;
   font-weight: bold;
   height: 25px;
   text-decoration: none;
}

th.spotlightImage {
   color: #000000;
   background: #ffffff;
   border: solid 1px #666666;
}

td.spotlightContents {
   width: 100%;
   vertical-align: top;
   border: solid 1px #666666;
   padding: 6px 6px 0px 6px;
}
.categoryHeading {
   font-family: arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
   line-height: 180%;
   color: #000000;
}

/* Cover Creator Styles ================================= */
table.coverCreator {
   border-width: 0px 0px 0px 0px;
   border-spacing: 0px;
   MARGIN: 0px;
   border-style: none none none none;
   border-color: gray gray gray gray;
   border-collapse: collapse;
   background-color: white;
}
table.coverCreator th {
   border-width: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   border-style: none none none none;
   border-color: gray gray gray gray;
   background-color: white;
   -moz-border-radius: 0px 0px 0px 0px;
}
table.coverCreator td {
   border-width: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   border-style: none none none none;
   border-color: gray gray gray gray;
   background-color: white;
   -moz-border-radius: 0px 0px 0px 0px;
}

div.coverCreator {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:55px;
    width:auto;
    height:auto;
}

div.coverCreatorSubmit {
    position:absolute;
    height:45px;
    top:auto;
    left:0;
    right:0;
    bottom:5px;
    width:auto;
}

/* Begin Sauna Styles ================================= */

.serviceTitle, .serviceTitleLoading {
   font: 18px Arial, Helvetica, Verdana, sans-serif;
   font-weight: bold;
}

.serviceTitleLoading {
   color: #AAAAAA
}

.service {
  width: 800px;
}

.memberService {
  width: 750px;
}

.serviceMemberTask {
   width: 650px;
   padding: 15px;
   margin: 10px 10px 20px 20px;
   border: 1px #9dc4d8 solid;
   background: #f2f7fa;
}

.serviceMemberTaskWrapper {
   width: 725px;
   padding: 15px;
   margin: 10px;
   background:       #FFFFFF url(/Common/Pix/taskbg.png) repeat-x top;
}

.serviceMemberProgressContainer {
   height: 20px;
   border: 1px #84ABBF solid;
   background: #F6FBFE;
}

.serviceMemberProgress {
   height: 20px;
   background: #9DC1EE;
   border-right: 1px #84ABBF solid;
   display: block;
}

.serviceTask {
   width: 750px;
   padding: 15px;
   margin: 10px;
   background: #c2d6ff;
}

.serviceData {
   width: 750px;
   padding: 15px;
   margin: 10px;
   background: #ede9e3;
}

.serviceInstruction {
   width: 750px;
   padding: 15px;
   margin: 10px;
   overflow: auto;
   max-height: 250px;
}

.serviceLabel { 
   float: left;
   font:    12px Arial, Helvetica, Verdana, sans-serif;
   margin: 5px;
   margin-top: 2px;
}

.serviceField {
   margin: 10px;
   margin-left: 110px;
   margin-top: 0px;
}

.serviceNote {
   color: #535231;
   font-size: 10px;
}

.serviceAssign {
   font: 11px Arial, Helvetica, Verdana, sans-serif;
   margin: 10px;
   padding: 10px;
   float: left;
   width: 355px;
   background: #ede9e3;
}

.serviceMessage {
   font:             11px Arial, Helvetica, Verdana, sans-serif;
   margin: 10px;
   padding: 10px;
   float: left;
   margin-left: 20px;
   width: 355px;
   background: #ede9e3;
}

.memberServiceMessage {
   margin: 10px;
   padding: 10px;
   float: left;
   margin-left: 11px;
   width: 650px;
}

.additionalMessage {
   font:             11px Arial, Helvetica, Verdana, sans-serif;
   margin: 10px;
   padding: 10px;
   float: left;
   width: 600px;
   background: #E9EEF1;
   border-width: 1px;
   border-color: #000000;
   border-style: solid;
}


.questionnaireTitle {
   font: 18px Arial, Helvetica, Verdana, sans-serif;
   font-weight: bold;
}

.questionnaireService {
   font: 16px Arial, Helvetica, Verdana, sans-serif;
   font-weight: bold;
}

.questionnaireAddNote {
   width: 300px;
   padding: 15px;
   float: right;
   background: #EDE9E3;
   border-top: 1px solid #F7F3ED;
   border-left: 1px solid #F7F3ED;
   border-right: 1px solid #C5C2BD;
   border-bottom: 1px solid #C5C2BD;
}

.questionnaireNoteText {
   font: 14px Arial, Helvetica, Verdana, sans-serif;
   font-weight: bold;
}

.questionnaireAnnotations {
   width: 570px;
   padding: 15px;
   background: #EDE9E3;
   border-top: 1px solid #F7F3ED;
   border-left: 1px solid #F7F3ED;
   border-right: 1px solid #C5C2BD;
   border-bottom: 1px solid #C5C2BD;
}

.questionnaireAnnotationTitle {
   font: 16px Arial, Helvetica, Verdana, sans-serif;
   font-weight: bold;
}

.questionnaireName {
   float: left;
   margin: 5px;
}

.questionnaireResponse {
   float: left;
   margin: 5px;
}

/* caveat - scroll table headers are not static in safari */
.scrollTableContainer {
   overflow-y: auto;
   overflow-x: hidden;
   margin: 0 auto;
   background:  #dcd8d2;
   border: 1px #AAAAAA solid;
}

.saunaTable,
.scrollTable {
   width: 99%;
   border: none;
   border-spacing:   0px;
}

.saunaTable {
   border: 1px #AAAAAA solid;
}

.saunaTable td,
.saunaTable th {
   padding: 5px;
}

.scrollTable tbody {
   overflow: auto; 
   overflow-x: hidden;
}

.saunaTable tbody td,
.scrollTable tbody td {
   font:       11px Arial, Helvetica, Verdana, sans-serif;
   padding:    2px;
   border-right: 1px #cdc9c3 solid;
   background: #eeefea;
}

.saunaTable .oddRow td,
.saunaTable .odd td,
.scrollTable .oddRow td {
   background: #ffffff;
}

.saunaTable .serviceRow td,
.scrollTable .serviceRow td {
   background: #e3e2e1;
}

.saunaTable .oddServiceRow td,
.scrollTable .oddServiceRow td {
   background: #f3f3f3;
}

.saunaTable .separator td,
.scrollTable .separator td {
   height: 1px; 
   padding: 0;
   background: #888888;
}

.saunaTable .serviceSeparator td,
.scrollTable .serviceSeparator td {
   height: 1px; 
   padding: 0;
   background: #CCCCCC;
}

.scrollTable tbody tr {
   height: auto;
}

.saunaTable thead th,
.scrollTable thead th {
   font:             12px Arial, Helvetica, Verdana, sans-serif;
   font-weight:      bold;
   text-align:       left;
   height:           14px;
   color:            black;
   background:       #dcd8d2;
}

.scrollTable thead th select {
   font-size: 10px;
}

.saunaTable thead th {
   border-bottom: 1px #AAAAAA solid;
}

.scrollTable thead tr   {
   position:relative;
}

.scrollTable tbody td:last-child {
   padding-right: 20px;
}

#fileHandler {
   display     : none;
   visibility  : hidden;
   height      : 1px;
}

.headerLink {
   font-size:        12px;
   font-weight:      normal;
}

.uploadResponse {
   position: absolute;
   left: 275px;
   top: 10px;
   width: 250px;
   padding: 10px;
   text-align: center;
   color: white;
   font-weight: bold;
   border: 1px black solid;
   font-size: 15px;
}

.uploadFormLeft {
   float: left;
   position: relative;
   height: 80px;
}

.questionnaireLabel { 
   float: left;
   font:    12px Arial, Helvetica, Verdana, sans-serif;
   margin: 5px;
   margin-top: 0px;
   width: 300px;
}

.questionnaireLabel p {
   text-align: left;
}

.questionnaireField {
   margin: 10px;
   margin-left: 300px;
   margin-top: 0px;
}

textarea.saunaText {
   height: 75px;
   width: 225px;
   overflow: auto;
}

.dueDateOnTime {
   color: #000000;
}

.dueDateCaution {
   color: #000000;
   background: #FFFF00;
}

.dueDateLate {
   color: #000000;
   background: #FF0000;
}

/* WHOLESALE ########################################################################*/

.wholesaleTableHeader {
   background-color: #efefef;
   border-bottom: 1px solid #ccc;
   height: 30px;
}

#wholesaleTable .oddRow {
   background-color: #EFEFEF;
}

#wholesaleTable td {
   padding: 4px;
}

.wholesaleRowError {
   font-size: 15px;
   font-weight: bold;
   color: #F00;
   background: URL('/Common/Pix/error-bg.gif') transparent repeat;
}

.wholesaleRowError input {
   color: #F00;
}

#generalErrors {
   font-size: 15px;
   font-weight: bold;
   color: #F00;
}

.wholesaleTitleName {
   float:left;
   padding-top:3px;
   font-size: 13px;
   font-weight: bold;
   color: #000;
   overflow-x:hidden;
}

.wholesaleListPrice, .wholesaleSalePrice {
   float: right;
   padding-left: 5px;
}

.wholesaleListPrice {
   padding-top:4px;
   width:50px;
   font-size: 12px;
   text-decoration: line-through;
}

.wholesaleSalePrice {
   padding-top:3px;
   width:55px;
   font-size: 13px;
   font-weight: bold;
   color: #990000;
}

.helpWideBackground {
   width: 595px;
   background: #FFFFCC;
   border-color: #FFCC34;
   border-style: solid;
   border-width: 1px;
}

.helpIcon {
   float: left;
   padding: 10px;
   width: 16px;
}

.helpMessage {
   float: left;
   padding: 10px;
   padding-left: 0px;
   width: 504px;
}

.helpDismiss {
   float: right;
   padding: 10px;
   padding-left: 0px;
   width: 35px;
}

input.bisac_add_button {
   font-size:        15px;
   font-weight:      bold;
   background:       #efefef url(https://ssl.images-createspace.com/csp/Special/Img/forms/button_generic_bg.gif) repeat-x;
   border:           1px outset #666;
}

.bisacPrimary {
   width: 595px;
   background: #D9E1EC;
   margin-top: 5px;
   height: 30px;
}

.bisacSecondary {
   width: 595px;
   background: #EFEFEF;
   margin-top: 5px;
   height: 30px;
}

.bisacTypeLabel {
   float: left;
   padding: 7px;
   padding-left: 10px;
   width: 150px;
   font-weight: bold;
}

.bisacMessage {
   float: left;
   padding: 7px;
   padding-left: 0px;
}

.bisacRemove {
   float: right;
   padding: 4px;
   padding-top: 5px;
   padding-left: 0px;
   width: 25px;
}

.bisacEnterCodeLabelBackground {
   float: left;
   width: 421px;
   height: 30px;
   background: #EFEFEF;
   margin-top: 5px;
}

.bisacEnterCodeLabelError {
   float: left;
   font: bold 12px Verdana, Arial, Helvetica, sans-serif;
   color: #C00;
   background: url(/Common/Pix/error-bg.gif) transparent repeat;
   width: 421px;
   height: 30px;
   margin-top: 5px;
}

.bisacEnterCodeLabel {
   float: left;
   padding: 7px;
}



input.role_add_button {
   font-size:        15px;
   font-weight:      bold;
   background:       #efefef url(https://ssl.images-createspace.com/csp/Special/Img/forms/button_generic_bg.gif) repeat-x;
   border:           1px outset #666;
}

.requiredContributor {
   width: 565px;
   background: #EFEFEF;
   padding: 5px;
   padding-left: 24px;
   padding-right: 0px;
}
.optionalContributor {
   width: 565px;
   background: #EFEFEF;
   padding: 5px;
   padding-left: 24px;
   margin-top: 10px;
}

.contributorHeader {
   float: left;
   padding-bottom:8px;
   font-weight: bold;
}
.contributorNote {
   float: left;
   margin-top: 3px;
}

.contributorBio {
	margin-top:10px;
	clear:both;
	float:left;
	width: 575px;
}

.contributorSalutation {
   float: left;
}
.contributorFirstName {
	padding-left: 8px;
   float: left;
}
.contributorLastName {
	padding-left: 8px;
   float: left;
}
.contributorMiddleName {
	padding-left: 8px;
	text-align: center;
   float: left;
   width: 565px;
   background: #EFEFEF;
}
.contributorSuffix {
	padding-left: 8px;
   float: left;
}
.contributorRemove {
   float: left;
   width: 20px;
   margin-left: 15px;
}

.click2CallTimes{
	color:            #666;
   font-size:        10px;
   font-weight:      normal;
   clear:both;
   line-height:      125%;
}
.click2CallHelp{
   vertical-align: text-top; 
}
.click2CallHelp a {
	font-size: 10px;
}

.tip_box {width:200px; float:right; margin:70px 15px 0px 0px;}
.tip_box .top {width:200px; height:5px; background: url(https://ssl.images-createspace.com/csp/Special/Img/services/cross_top.png) no-repeat;}
.tip_box .middle {width:178px; padding:10px; background:#F8F5D8 url(https://ssl.images-createspace.com/csp/Special/Img/services/fade-bg_tan.png) repeat-x; border-left:1px solid #DDDAC0; border-right:1px solid #DDDAC0;}
.tip_box .bottom {width:200px; height:5px; background:url(https://ssl.images-createspace.com/csp/Special/Img/services/cross_bottom.png) no-repeat;}
.tip_box h4 {color:#E47911; font-size:1.0em; font-weight:bold;}
.tip_box p {line-height:16px; margin-bottom:5px; text-align:left;}

.price {
    color: #990000;
    font-size: 16px;
    font-weight: normal;
}

.price_block {
    font-size: 11px;
}
