.overlay_window {
	background: #222F38;
	filter: alpha(opacity =   60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	z-index: 2;
}

.window_nw {
	background: url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/top-left.png) no-repeat 0 0;
	width: 18px;
	height: 17px;
}

.window_n {
	background: url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/top-middle.png) repeat-x 0 0;
	height: 17px;
}

.window_ne {
	background: url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/top-right.png) no-repeat 0 0;
	width: 18px;
	height: 17px;
}

.window_w {
	background: url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/frame-left.png) repeat-y top left;
	width: 18px;
}

.window_e {
	background: url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/frame-right.png) repeat-y top right;
	width: 18px;
}

.window_sw {
	background: url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/bottom-left.png) no-repeat 0 0;
	width: 18px;
	height: 17px;
}

.window_s {
	background: url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/bottom-middle.png) repeat-x 0 0;
	height: 17px;
}

.window_se {
	background: url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/bottom-right.png) no-repeat 0 0;
	width: 18px;
	height: 17px;
}

.csp_ie6 .window_s {
	height: 18px;
}

.window_content {
	overflow: hidden;
	color: #000;
	font: 14px Arial, Helvetica, Verdana, sans-serif;
	background: #FFFFFF;
}

.overlay_dialog {
   background-color: #666666;
   filter:alpha(opacity=60);
   -moz-opacity: 0.6;
   opacity: 0.6;
}

.dialog_nw {
   width: 9px;
   height: 23px;
   background: transparent url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/top_left.gif) no-repeat 0 0;    
}

.dialog_n {
   background: transparent url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/top_mid.gif) repeat-x 0 0;   
   height: 23px;
}

.dialog_ne {
   width: 9px;
   height: 23px;
   background: transparent url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/top_right.gif) no-repeat 0 0;      
}

.dialog_e {
   width: 2px;
   background: transparent url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/center_right.gif) repeat-y 0 0; 
}

.dialog_w {
   width: 2px;
   background: transparent url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/center_left.gif) repeat-y 0 0;     
}

.dialog_sw {
   width: 9px;
   height: 19px;
   background: transparent url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/bottom_left.gif) no-repeat 0 0;       
}

.dialog_s {
   background: transparent url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/bottom_mid.gif) repeat-x 0 0;      
   height: 19px;
}

.dialog_se {
   width: 9px;
   height: 19px;
   background: transparent url(https://ssl.images-createspace.com/csp/v28037154/Common/img/window/bottom_right.gif) no-repeat 0 0;         
}

/* DO NOT CHANGE THESE VALUES*/
.dialog {
   display: block;
   position: absolute;
}

.dialog table.table_window  { 
   border-collapse: collapse; 
   border-spacing: 0; 
   width: 100%;
   margin: 0px;
   padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th { 
   padding: 0; 
}