@font-face{font-family:Assistant-Regular;src:url(fonts/Assistant-Regular.eot?#iefix) format("embedded-opentype"),url(fonts/Assistant-Regular.woff) format("woff"),url(fonts/Assistant-Regular.ttf) format("truetype"),url(fonts/Assistant-Regular.svg#Assistant-Regular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:Assistant-SemiBold;src:url(fonts/Assistant-SemiBold.eot?#iefix) format("embedded-opentype"),url(fonts/Assistant-SemiBold.woff) format("woff"),url(fonts/Assistant-SemiBold.ttf) format("truetype"),url(fonts/Assistant-SemiBold.svg#Assistant-SemiBold) format("svg");font-weight:600;}
body{font-family:Assistant-Regular!important;margin:0;font-size:15px;color:#000;padding:0}
.mowticker {float: left;background: #C00; text-align: center; width: 100%; padding: 5px 0; color: #fff; font-size: 12px; font-weight: 700;
margin: 5px 0 10px 0;}
.mowticker a{color: #fff !important; text-decoration: none;  font-size: 16px;}
.colorgraph{height:7px;border-top:0;background:#7f9c10;border-radius:0;background-image:-webkit-linear-gradient(left,#7f9c10,#7f9c10 25%,#df3a26 25%,#df3a26 50%,#241c5d 50%,#241c5d 75%,#fcd21c 75%,#fcd21c);background-image:-moz-linear-gradient(left,#7f9c10,#7f9c10 25%,#df3a26 25%,#df3a26 50%,#241c5d 50%,#241c5d 75%,#fcd21c 75%,#fcd21c);background-image:-o-linear-gradient(left,#7f9c10,#7f9c10 25%,#df3a26 25%,#df3a26 50%,#241c5d 50%,#241c5d 75%,#fcd21c 75%,#fcd21c);background-image:linear-gradient(left,#7f9c10,#7f9c10 25%,#df3a26 25%,#df3a26 50%,#241c5d 50%,#241c5d 75%,#fcd21c 75%,#fcd21c)}
.container{width:1010px;margin:0 auto}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-12,.custom-col-lg-5.custom-col-lg-8{float:left}.col-lg-1{width:8.33333333%}.col-lg-2{width:16.66666667%}.col-lg-3{width:25%}.col-lg-4{width:33.33333333%}.col-lg-5{width:41.66666667%}.col-lg-6{width:50%}.col-lg-7{width:58.33333333%}.col-lg-8{width:66.66666667%}.col-lg-9{width:75%}.col-lg-10{width:83.33333333%}.col-lg-12{width:100%}.custom-col-lg-5{width:38.666667%}.custom-col-lg-8{width:63.666667%}.text-center{text-align:center}.text-right{text-align:right}.pad-right-none{padding-right:0}.pad-left-none{padding-left:0}.pad-lr-none{padding-left:0;padding-right:0}header,section,figure,figcaption{display:block}figure{margin:0}
a{color:#272b2e;outline:0;border:0;text-decoration:none}a:hover,a:focus,a:visited{color:#272b2e;text-decoration:none}img{outline:0;border:0}
.main{width:100%;float:left}
header{background:#F6F6F6}
.logo{float:left;width:86px;height:110px;margin:5px 0 0}
.logo img{width:90px;height:90px}
.sitename{color:#112D67;float:left;font-size:21px;text-align:left;width:165px;padding:43px 0 0 10px;font-weight:700}
.sitename span{color:#ADAEB2;font-size:10px;float:left}
.logo-728-ad{padding-top:8px}
.country-slt{border:solid 1px #ccc;margin:0;padding:0;height:34px}
.search_form{border:none;height:27px;margin:3px 0 0;padding-left:3%;width:calc(97% - 32px);float:left;outline:0;border:0}
.search-wrp{margin-top:14px;margin-left:15px}
#countrysubmit{background:url(../../images2016/icons/down_arrow.png) no-repeat left top;border:none;color:#fff;height:27px;padding:0 10px;width:30px;margin:3px 0 0;outline:none}
.pad{margin:38px 0 0}
.county_search_wrp{position:relative}
#country_list{top:75px;width:99.6%}
.contact{padding-top:0}
.contact span{font-size:15px;float:left;color:#000}
.contact span a{font-size:15px;color:#000;letter-spacing:.03em}
.contact span img{margin:0 5px}
.google_input{float:left;padding:1px 1% 0;border:none;outline:0;height:27px;width:calc(98% - 70px)}
.gsearch{width:100%;margin:5px 0 0;float:left;border:1px solid #ccc;background:#fff;padding:0;height:auto;padding:3px}
.googlesub{width:70px;float:left;height:27px;border:0;outline:0;background:#D73A27;color:#FFF;display:inline-block;font-size:14px;font-weight:600;line-height:19px;text-align:center;cursor:pointer;border-radius:5px}
.shelbox{position:relative}
.shelbox a{position:absolute;top:15px;left:35px;width:100%}
.paceholder::-webkit-input-placeholder{font-size:12px;color:#2c2c2c}
.paceholder:-moz-placeholder{font-size:12px;color:#2c2c2c}
.paceholder:-ms-input-placeholder{font-size:12px;color:#2c2c2c}
/********map-section***********/
.map-section{background:#f9f9f9;padding-top:15px;border-top:1px solid #eaeaea;margin-top:10px;padding-bottom:22px}
.h1_div{width:490px;margin:0 auto 20px;text-align:center;position:relative}
.h1_bdr{border-top:solid 1px #7C7C7C;position:absolute;top:25px;width:100%}
.h1_div h1{position:relative;color:#333;font-weight:700;margin:0;font-size:35px}
.h1_div span{background:#F9F9F9;padding:0 10px;font-family:Assistant-SemiBold;}
.mapdiv{margin:0;width:925px;padding:0;position:relative}
.tpaddiv{margin:0 auto;width:963px;padding:15px;background-image:url(../../images2015/home-page-thumb/placeholder-pattern.jpg);clear:both;height:132px}
.btn_wrp{margin:0 auto;width:943px}
.btn_wrp .btn-box{width:auto;float:left;margin-right:4%;margin-bottom:5px}
.btn_wrp .btn-box:last-child{margin-right:0}
.btn_wrp small{font-weight:600;margin-right:0;font-family:arial;float:right;font-size:14px}
.btn_wrp img{width:auto;padding-right:10px;float:left}
.btn_wrp a{color:#272b2e}
.dbline1{line-height:35px!important}
.dbline{line-height:16px!important;padding-top:2px}
.download_map{position:relative}
#lightbox-panel{display:none;position:absolute;top:39px;left:-1px;width:175px;background:#183440;padding:3px 5px 7px 8px;border:2px solid #EDEDED;z-index:1001}
.txt_box a{color:#fff;font-weight:400}
.download-btn:hover #lightbox-panel{display:block}
.download_map a{padding:0;margin:0;float:left;text-decoration:none;color:#fff}
.icons{padding:0;margin:9px 0 0;height:18px;width:17px;float:left}.email{background:url(../../images2015/icons/mail.png) no-repeat}.jpg{background:url(../../images2015/icons/jpg.png) no-repeat}.pdf{background:url(../../images2015/icons/pdf.png) no-repeat;margin-top:6px}.printb{background:url(../../images2016/icons/print.jpg) no-repeat;width:18px}
.txt_box{padding:5px 5px 0;margin:0 4px 0 0;float:left;font-weight:700}
.txt_box a{color:#fff}
.txt_box:last-child{margin-right:0}
.buy-txt{display:block;text-transform:uppercase;border:1px solid #898989;width:48px;border-radius:5px;background:url(../../images2016/icons/arrow_black.png) no-repeat 35px 3px;margin-left:-5px;margin-bottom:2px;padding-left:3px}
.buy-txt a{width:100%;display:block;padding:1px 5px 0 4px}
.buy-txt:hover{background:url(../../images2016/icons/arrow_white.png) no-repeat 35px 3px #cc2326;color:#fff;border-color:#cc2326}
.buy-txt:hover a{color:#fff;text-decoration:none}
.amazon-btn{margin-top:-5px}
.map-aside{width:143px;position:absolute;top:111px;right:-145px}
a.online-store{margin: 10px 0 0 9px;}
.view-large,.click-to-view{width:143px;display:block;margin-bottom:10px;position:relative;font-family:Helvetica;font-weight:700}
.view-large{height:83px;font-size:18px;padding: 8px 0 0 0px;line-height:20px;cursor:pointer;margin-left: 12px;width: 131px;border-radius: 5px;background: #EFC717;background: -webkit-linear-gradient(left, #EFC717 , #fffe00);background: -o-linear-gradient(right, #efc400, #fffe00);background: -moz-linear-gradient(right, #EFC717, #fffe00);background: linear-gradient(to right, #EFC717 , #fffe00);}
.view-large .clkmore{color:#fff;background:#26272b;float:left;border-radius:5px;padding:3px 12px 3px 10px;font-weight:500;font-size:17px;margin:10px 0 0 10px}
.view-large:after{content:"";position:absolute;top:37px;left:-12px;border-color:transparent #EFC400;border-style:solid;border-width:9px 12px 9px 0px;
height:0px;width:0px;}
.wbwm-name{margin:0 0 5px;line-height:18px;float:left}
.free-shipping{color:#FEF700;font-size:16px;margin:0 0 10px;float:left}
.free-shipping b{font-size:18px}
.view-large a:hover{text-decoration:none}
.click-to-view{height:67px;margin-left: 12px;width: 119px;border-radius: 5px;background: #003d69;background: -webkit-linear-gradient(left, #003d69 , #00a6ce);background: -o-linear-gradient(right, #003d69, #00a6ce);background: -moz-linear-gradient(right, #003d69, #00a6ce);background: linear-gradient(to right, #003d69 , #00a6ce);color:#fff;padding: 10px 0 0 10px;font-size:16px;line-height:19px;word-spacing:-1px;position: relative;}
.click-to-view:after{content:"";position:absolute;top: 29px;left:-12px;border-color: transparent #0061a8;border-style:solid;border-width:9px 12px 9px 0px;}
a.clkmore i{margin-top:0px;float:left;width:13px}
.sprite-btn{margin:10px 0;width:147px;background:url(../../images2016/icons/download.png) no-repeat;height:42px}
.sprite-btn .bx{float:left;height:42px;width:44px;cursor:pointer;position:relative}
img.dsp-mob{display:none}
.download-btn{margin-left:12px}
.download-btn:hover{background:url(../../images2016/icons/download-bg.png) no-repeat -1px 0;margin-top:1px;width:44px}
.share-btn:hover{background:url(../../images2016/icons/share.png) no-repeat -1px 0;margin-top:1px;width:44px;height:40px;border-right:1px solid #e36652;border-left:1px solid #e36652}
.share-btn:hover .addthis_toolbox{display:block}
.addthis_wrpper{width:auto;float:left;position:fixed;bottom:0;left:0;padding:5px 5px 3px 10px;background:url(../images2015/black-bg.png);z-index:9999;border-radius:5px 5px 0 0}
.share-btn .addthis_toolbox{width:173px;height:33px;float:left;position:absolute;left:-45px;top:41px;display:none;background:#183440;padding:5px;border:1px solid #EDEDED;z-index:9999999}
.print-btn:hover{background:url(../../images2016/icons/print-bg.png) no-repeat -2px 0;margin-top:1px;width:44px}
.at-amazon{font-size:18px;font-family:helvetica;background:#102C3A;color:#fff;margin:0 0 0 12px;padding:10px;border-radius:5px}
.at-amazon .buytxt{font-size:28px}
.at-amazon strong{color:#FF8C00}
.at-amazon span{color:#FEF700;font-weight:700;font-size:30px;margin:-10px 0 5px;float:left}
.disclaimer,.img-desc{font-size:13px}
.disclaimer{position:relative;padding-top:10px;}
.desc-button{padding:0 5px 0 0;list-style:none;margin:0;float:right;padding-right:5px;}
.desc-button li{display:inline-block;padding:2px;}
#LightBox{display:none;position:absolute;width:530px;right: 75px;z-index:999999;padding:8px;border:1px solid #ccc;background:#fff;box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);top: 30px;}
#LightBox p{margin:5px 0;}
#show-disclamer{cursor:pointer;}
.desc-button #show-disclamer:hover #LightBox{display:block}
.detail-map,.detail-map .contact{margin-top:10px}
.quote{position:relative}
.quote #show-panel4{background: url(../../images2016/icons/home/white_arrow.png) #303030 no-repeat 6px 8px;color:#fff;padding: 4px 10px 4px 20px;border-radius:5px;float:left;margin-top:7px;font-size: 0.85em;}
.quote #show-panel4:hover{background:url(../../images2016/icons/home/black_arrow.png) #ffd702 no-repeat 7px 8px;;color:#171515}
.img-desc{margin-top:-2px;line-height:14px}
.red_col_hed{color:#c20;padding:25px 0 5px;float:left;font-size:22px}
.yellow_col_hed{color:#f5d522;padding:25px 0 5px;float:left;font-size:22px}
.dimention_wrp,.formate_list{list-style:none;padding:0;margin:0;font-size:15px}
.dimention_wrp li{width:50%;float:left;line-height:23px}
.opt-hed{font-size:17px;color:#2f2f2f;line-height:19px;margin-bottom:10px}
.dmn-first{border-right:1px solid #c8c8c8;margin-right:6%}
.formate_list li{float:left;padding-right:5px;padding-bottom:5px}
.yellow_btn,.red_btn{margin-bottom:10px;float:left}
.yellow_btn a{background:#ffd702 url(../../images2016/icons/home/CTA_black_arrow.png) no-repeat 10px 10px;color:#000;padding:6px 15px 6px 35px;border-radius:5px;float:left;text-align:left;font-size:16px;text-shadow:1px 1px 10px #FABC00}
.red_btn a{background:#da3019 url(../../images2016/icons/home/CTA_white_arrow.png) no-repeat 10px 9px;color:#fdfcff;padding:6px 10px 6px 35px;border-radius:5px;float:left;text-align:left;font-size:16px;text-shadow:1px 1px 10px #b42d1a}
.formate_wrp{width:19%;float:left}
.buy-link-wrp{width:28%;float:right;margin-right:-3%;margin-top:40px}
.for-border-right{border-right:1px solid #a6a6a6;float:left;width:91%}
.red_btn a:hover{text-shadow:none}
.map-description .red_btn a:hover,.wbwm-btn-wrp .red_btn a:hover{background-color:#303030 !important}
.byuing-link-wrp .red_btn a:hover{background-color:#9EBC17 !important}
.option-box{display:none}
/******wbwm-sec*********/
.wbwm-sec{background:url(../../images2016/shadow.png) no-repeat top center #9ebc17;padding-bottom:20px}
.wbwm-hed{font-size:36px;color:#fdfffa;text-align:center;padding:40px 0 30px;position:relative;letter-spacing:-.5px;margin:0;font-family:Assistant-SemiBold}
.wbwm-hed:before,.wbwm-hed:after{content:'';width:130px;position:absolute;background:#feffaa;height:1px;top:57%;left:14%}
.wbwm-hed:after{left:auto;right:14%}
.wbwm-feature{margin-top:-10px}
.wbwm-zoom{margin:10px 35px 10px 0;float:right;cursor:pointer;color:#fff}
.wbwm-price{color:#feffff;font-size:65px;font-family:helvetica;font-weight:bolder;letter-spacing:-3px;padding:30px 0 10px}
.wbwm-btn-wrp{width:46%;float:left;padding:5px 0;border-right:1px solid #bcd545}
.wmwm-buy-txt{color:#fff;text-transform:uppercase;padding:19px 0 0 15px}
.more-about{margin:40px auto 0;display:inline-block}
.more-about a{background:url(../../images2016/icons/home/more-arrow.png) #fff no-repeat 12px 13px;padding:10px 15px 10px 30px;color:#8ba514;border-radius:5px;box-shadow:0 1px 0 #799012;font-size:18px}
.more-about a:hover{text-decoration:none}
.aboutwbwm b{padding-bottom:7px}
.aboutwbwm{color:#FEFFFF;font-size:15px;margin-top:30px}
.wbwm-map{width:64%;float:left}
.wbwm-desc{width:36%;float:left}
.white-view-btn a{background:url(../../images2016/icons/home/CTA_white_arrow.png) no-repeat 20px 18px;border:2px solid #fff;border-radius:5px;padding:15px 40px;float:left;margin:5px 0 15px;font-weight:700;color:#fff}
.white-view-btn a:hover{background:url(../../images2016/icons/home/CTA_yellow_arrow.png) no-repeat 20px 18px;color:#FABC00}
.black-view-btn a:hover{background:url(../../images2016/icons/home/CTA_red_arrow.png) no-repeat 20px 18px;color:#DA3019}
.yellow_btn a:hover{background-color:#FABC00}
.read_about{color:#fff;margin:0 0 0 30px;background:url(../../images2016/icons/home/white_arrow.png) no-repeat 5px 5px;padding-left:20px;text-decoration:underline;}
.read_about:hover, .read_about:focus, .read_about:visited{color:#fff}
.read_page{display:none}
/********LightBox************/
.model{display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.8);padding-top:60px}
.modal-content{background-color:#fefefe;margin:0 auto auto;border:1px solid #888;width:925px;position:relative}
.close-modal{color:#fff;padding:7px;border-radius:50%;position:absolute;top:-16px;right:-13px;width:31px;height:31px;text-align:center;cursor:pointer;z-index:999999999}
.close-modal img{background:#fff}
.animate{-webkit-animation:animatezoom .6s;animation:animatezoom .6s}@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)}to{-webkit-transform:scale(1)}}@keyframes animatezoom{from{transform:scale(0)}to{transform:scale(1)}}.animate-back{-webkit-animation:animatezoomout .6s;animation:animatezoomout .6s}@-webkit-keyframes animatezoomout{from{-webkit-transform:scale(1)}to{-webkit-transform:scale(0)}}@keyframes animatezoomout{from{transform:scale(1)}to{transform:scale(0)}}
/********End LightBox************/
/******featured-sec section***********/
.featured-sec{background-color:#273041;color:#fff;padding-bottom:10px}
.featured-sec .opt-hed{color:#fff}
.fmap-priview{margin:0}
.fmap-priview img{margin-left:-15px}
.thumb-bx-wrp{margin-top:40px}
.map-dimension-wrp .yellow_col_hed{padding:0 0 5px}
.map-name{margin:0 0 10px;font-size:25px;display:block}
.map-dimension-wrp{margin-top:35px}
.map-dimension-wrp ul{list-style:none;padding:0;font-size:15px;margin:15px 0 0;line-height:23px}
.for-border-right{border-right:1px solid #a6a6a6;float:left;width:91%}
.map-link-wrp{margin-top:-25px}
.thumb-heading{font-size:20px;font-weight:500;margin:30px 0 15px}
.white-line{display:inline-block;background:#fff;height:1px;width:110px;position:relative;left:20px;top:-3px}
.thumb-wrapper figure{float:left;width:193px;min-height:200px;text-align:center;position:relative;cursor:pointer;margin:0 25px 0 0}
.thumb-wrapper figure:last-child{margin-right:0}
.thumb-wrapper figure figcaption{padding:12px}
.thumb-wrapper figure:hover .map-thumb-layer{display:block}
.thumb-wrapper figure:hover img{opacity:0.7}
.byuing-link-wrp,.map-dimension-wrp,.fmap-priview{display:none}
.active_map{display:block}
.map-thumb-layer{position:absolute;width:100%;height:100%;left:0;top:0;z-index:999999;display:none}
.map-focus{background:#1F1715;border:1px solid #1F1715;color:#fff;padding:3px 10px;position:absolute;top:25%;left:28%;cursor:pointer;outline:none;border-radius:4px;z-index:9999}
.byuing-link-wrp{float:left;padding-left:30px;padding-top:40px}
.us-txt-img{background-color:#2d384a;padding:69px 40px 30px}
.view-link-btn-wrp{padding-left:30px}
/******fourth-sec section***********/
.fourth-sec{background-color:#e4e9ed;padding:25px 0 50px;clear:both}
.map-box figure{margin:0}
.map-box figure img{width:310px}
.map-box{float:left;background-color:#fff;padding:5px;margin-bottom:15px}
.select-box{position:relative;height:33px}
.select-box label{width:95%;float:left;background:#fff;padding:7px 2%;border:solid 1px #d9d9d9;position:absolute;top:0;left:0;height:-moz-calc(33px - 14px);height:-webkit-calc(33px - 14px);height:calc(33px - 14px)}
.select-box label:after{content:'';position:absolute;width:30px;height:27px;background:#e03f21 url(../../images2016/icons/home/drop_down_arrow.png) no-repeat 8px 10px;border-radius:5px;right:3px;top:3px}
.select-box select{opacity:0;width:100%;float:left;height:35px;cursor:pointer}
.click-box{width:95%;float:left;padding:7px 2%;background:url(../../images2016/icons/home/arrow.png) no-repeat 99% 3px;height:-moz-calc(33px - 14px);height:-webkit-calc(33px - 14px);height:calc(33px - 14px)}
.click-box a{display:block}
.wtrm{background:#fff}
.wm-bdr-line{display:inline-block;background:#000005;height:1px;width:52px;position:relative;left:8px;top:-4px}
.wm-title{letter-spacing:-.4px;font-size:1.5em;margin:15px 0 13px;padding-left:1%;display:block}
.wm-left{width:68%;float:left;margin-right:2%}
.wm-right{float:left;width:30%;padding-top:25px}
.mw-inside-box{float:right}
.continents{padding-right:8px}
.city-thumb-scroll ul{list-style:none;margin:0;padding:0}
.city-thumb-scroll ul li{float:left;width:120px;margin-right:7px}
.city-thumb-scroll ul li:nth-child(3),.city-thumb-scroll ul li:nth-child(6){margin-right:0}
.city-thumb-scroll ul li span{display:block;text-align:center;font-size:14px;padding:5px 0 10px;color:#000}
.bdr-line{display:inline-block;background:#000005;height:1px;width:100px;position:relative;left:8px;top:-4px}
.city-wrp{width:58%;float:left}
.inside-city-wrp{width:97%;float:left;border-right:1px solid #ced3d7}
.kids-zone-wrp{width:42%;float:left}
.ul-with-arrow-bg{float:left;margin:15px 0 0;list-style-image:url(../../images2016/icons/home/black_arrow.png);padding-left:7%;width:93%}
.ul-with-arrow-bg a{color:#000;line-height:25px}
.kids-zone-wrp .ul-with-arrow-bg a:hover{color:#F44336}
input#src_city{border:0;outline:0;padding:9px 2% 0;width:85%}
.select_list{width:99.8%;position:absolute;left:0;top:34px;background:#fff;box-shadow:0px 0px 5px #ddd;border:1px solid #ddd;border-top-color:#fff;z-index:99999999;max-height:250px;overflow-y:auto;display:none}
.select_list ul{padding:0;list-style:none;float:left;width:100%;margin:0}
.select_list ul li a{width:91%;float:left;padding:5px 4%;border-bottom:1px solid #ddd;font-size:14px}
.select_list ul li a:hover{background:#ddd}
.aco-overlay,.label-overlay{width:100%;height:100%;position:fixed;top:0;left:0;opacity:0;z-index:9999;display:none}
.city_search{width:80%;float:left;background:#fff;border:1px solid #cccdd1;position:relative;height:33px;margin-top:25px}
.city_search:after{content:'';position:absolute;width:30px;height:27px;background:#e03f21 url(../../images2016/icons/home/search.png) no-repeat 8px 7px;border-radius:5px;right:3px;top:3px}
/******fourth-sec section***********/
.fifth-sec{padding:40px 0 115px;clear:both}
.us-election{width:254px;height:307px;float:right;background:url(../../images2016/us-election-bg.jpg) top left no-repeat;background-size:254px 307px}
.sec-title{font-size:1.3em;color:#FFF;padding:3px 0 0px 11px;position:relative;text-shadow:1px 1px 1px rgba(70,66,66,0.13);margin:15px 0 0 15px;display:inline-block;}
.us-election ul{width:95%;float:left;margin:9px 0 0 5%;padding:0;list-style:none}
.us-election ul li{float:left;width:95%;margin:3px 0;padding:0 0 0 15px;color:#fff;font-size:13px;background:url("http://www.mapsofworld.com/images2016/icons/home/white_arrow.png") no-repeat scroll 0px 3px transparent;line-height:15px}
.us-election ul li a{color:#FFF;font-size:15px;}
.link-box{float:left;padding:5%;margin-left:2.5%;height:282px;width:88%;position:relative}
.box-height .link-box{height:282px;}
.wminfo{background-color: rgb(255, 197, 122);}
.lnk-wrp-box{margin-bottom: 5px;}
.mapinfo{background-color:#f7e698}
.mapinfo ul li a{line-height:23px}
.mapinfo ul li a:hover{color:#4e4004}
.traval-tools{background-color:#98d8fb}
.traval-tools ul li a:hover{color:#053b59}
.thematic-map{background-color:#b3db85}
.thematic-map ul li a:hover{color:#2f4c0d}
.small-bdr-line{display:inline-block;background:#000005;height:1px;width:30px;position:relative;left:8px;top:-4px}
.us-bdr-line{display:none}
.fifth-sec-title{letter-spacing:-.4px;font-size:1.3em;margin:15px 0 0;padding-left:1%;display:block}
.view-more{position:absolute;bottom:10px;right:15px;border-bottom:1px solid #333}
.view-more a{color:#000}
.view-more a:hover{color:#F44336}
.view-more:hover{border-bottom:1px solid #F44336}
.custom-mapping{background-color:#283641;color:#fff;margin-top:5px}
.custom-mapping a{color:#fff}
.custom-mapping-wrapper{display:inline-block;padding:15px}
.hed1{font-size:20px;font-weight:700}
.servies-link{float:left;margin:15px 0 0;list-style-image:url(../../images2016/icons/home/white_arrow.png);padding-left:5%;font-size:14px;position:relative}
.servies-link li{width:50%;float:left}
.servies-link:after{content:'';border-right:1px solid #65737e;position:absolute;right:22px;top:-15px;height:130%}
.strp{margin:7px 0 12px}
.pad-top{padding:39px 0 0}
.about-text{position:relative}
.about-text:after{content:'';border-right:1px solid #65737e;position:absolute;right:22px;top:6px;height:93%}
.graphic{margin-top:5px}
.graphic figure{float:left;width:248.7px;margin-right:5px;position:relative}
.graphic figure:last-child{margin-right:0}
.graphic figure img{width:100%;float:left}
.graphic figure figcaption a{color:#fffcfd;background:url(../../images2016/icons/home/white_big_arrow.png) no-repeat scroll 95% 95% transparent;-webkit-transition:background-position ease .3s;-moz-transition:background-position ease .3s;-o-transition:background-position ease .3s;-ms-transition:all ease .3s;transition:background-position ease .3s;display:block}
.graphic figure figcaption{color:#fffcfd;padding:10px 4%;position:absolute;width:92%;left:0;bottom:-65px}
.graphic figure figcaption b{font-size:24px;font-weight:bolder;font-family:helvetica;text-transform:uppercase}
.graphic figure figcaption span{display:block;font-size:19px}
.graphic figure figcaption a:hover{background-position:99% 95%}
.app-caption{background-color:#009fd6}
.video-caption{background-color:#173c68}
.infographics-caption{background-color:#87075a}
.quiz-caption{background-color:#0b7ad6}
/*******link-section*******/
.link-section{background-color:#f9f9f9;padding:10px 0 20px 0;}
.link-box-wrp .link-box:after{content:'';width:1px;height:79%;background:#c7c7c7;position:absolute;top:8%;right:3px;}
.link-box-wrp .lnk-wrp-box:last-child .link-box:after{display:none}
.link-box-wrp .link-box .view-more{left:15px;right:auto}
/******Sixth section***********/
.sixth-sec{background-color:#333544;color:#c7c9ff;padding:40px 0;clear:both}
.sixth-sec a{color:#c7c9ff}
.sixth-sec a:hover{color:#fff}
.on_thisday_box{width:26%;float:left;margin-right:3%;font-size:20px}
.nat_day_date{width:37%;float:left;margin-right:1%}
.ad360{width:33%;float:left}
.onday-title{font-size:38px;font-weight:400;line-height:33px;margin:0;letter-spacing:-.8px;margin-bottom:20px}
.onday-title b{display:block;font-size:31px;font-weight:bolder;font-family:helvetica}
.onday-title a{color:#fefdff}
.cal_day{font-size:55px;letter-spacing:-.8px;line-height:35px}
#month_cal{font-size:32px;border-bottom:1px solid #535468;font-weight:400;padding-bottom:4px;text-transform:uppercase}
.event-date{font-size:25px;padding-top:9px}
.nat-title{margin:0 0 15px}
.nat-title a{color:#fefdff}
.ind-date{font-size:30px;text-transform:uppercase;margin-bottom:10px}
.ind-date a{color:#bdbdd7}
.nal_day_thumb img{width:130px;border:5px solid #fff}
.nat-link{float:left;margin:15px 0 0;list-style-image:url(../../images2016/icons/home/arrow_purple.png);padding-left:9%;width:82%}
/******Seventh section***********/
.seventh-sec{background-color:#fff;padding:40px 0 25px}
.sec7-title,.sec8-title{width:400px;margin:0 auto;text-align:center;position:relative}
.sec7-title span,.sec8-title span{background-color:#fff;position:absolute;top:10px;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);font-size:35px;width:190px;color:#292929}
.sec7-title:before,.sec8-title:before{content:'';width:100%;border-bottom:1px solid #b8b8b8;position:absolute;left:0;top:10px;z-index:0}
.world-fact-wrp{margin-top:60px}
.fact-wrp .fact-img,.fact-wrp span,.fact-wrp b{width:100%;float:left}
.fact-wrp{width:200px;float:left;text-align:center;position:relative;padding-bottom:10px;margin-bottom:15px}
.fact-wrp:after{content:"";position:absolute;left:9%;bottom:0;width:85%;border-bottom:1px solid #eaeaea}
.bottom-line:after{border-bottom:1px solid #fff}
.fact-wrp b{color:#4d4b58}
.fact-sprite{width:50px;height:50px;margin:0 auto;background-image:url(../../images2016/icons/home/facts_sprite.png)}.age-earth{background-position:-7px -5px}.water-area{background-position:-76px -5px}.total-countries{background-position:-142px -5px}.escape-velocity{background-position:-211px -5px}.radius-of-earth{background-position:-265px -5px}.surface-area{background-position:-76px -55px}.total-coastline{background-position:-7px -55px}.highest-point{background-position:-142px -55px}.circumference{background-position:-208px -55px}.orbit-speed{background-position:-265px -55px}.land-area{background-position:-318px -5px}.world-population{background-position:-318px -55px}.lowest-point{background-position:-385px -5px}.diameter-of-earth{background-position:-393px -55px}.sun-orbit{background-position:-440px -55px}
/******Eighth section***********/
.eighth-sec{background:url(../../images2016/shadow.png) no-repeat top center #f4f8f7;padding:50px 0 40px}
.sec8-title{width:600px}
.sec8-title span{background-color:#f4f8f7;width:270px}
.flag-slide .slide-wrp{list-style:none;margin:0 0 0 -10px;padding:0;width:100%;float:left;height:109px;clear:both;position:absolute;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out}
.flag-wrp{margin:60px 0 20px;position:relative}
.slide-wrp figure{width:113px;float:left;margin-right:15px}
.slide-wrp figure:last-child{margin-right:0}
.slide-wrp figure img{width:110px;height:85px;padding-left:9px}
.slide-wrp figcaption{text-align:left;margin-bottom:5px;padding-left:9px}
.flag-wrp .view-more{bottom:0px}
.flag-slide{overflow:hidden;height:115px;position:relative;margin-bottom:15px}
.arraw-icon{width:37px;height:37px;position:absolute;top:40px;cursor:pointer;z-index:99999999;background:url(../../images2016/icons/home/slider-arrow.png) no-repeat}
.prev{left:-11px;background-position:-78px 0px}
.next{right:-10px;background-position:-120px 0px}
.fn-bdr-line{display:inline-block;background:#000005;height:1px;width:50px;position:relative;left:8px;top:17px}
.finance-wrp{background:#f9e2b9;position:relative;float:left;padding:5px 2% 31px 5%;width:93%}
.fns-link{margin:0}
.fns-link li{width:50%;float:left}
.world-top-ten{width:67%;float:left;background-color:#d1d6d9;margin-right:1%;padding:2px 1% 2px;position:relative;}
.ad300{float:left;width:30%}
.finance-wrp .wm-title{margin:15px 0 0}
.mr-top{margin-top:3px}
.world-top-ten ul{list-style:none;padding:0 2%;float:left;margin:0 0 10px}
.world-top-ten ul li{float:left;width:25%;text-align:center}
.world-top-ten ul li span{width:100%;float:left;color:#000104;letter-spacing:.03em;padding:5px 0;line-height:15px}
.world-top-ten ul li img{width:100%}
.world-top-ten .view-more{bottom:auto;top:20px}
.footer-top{background-color:#141821;padding:50px 0;color:#AFC0D0}
.footer-top a,.footer-top a:visited,.footer-top a:focus{color:#AFC0D0}
.footerarea{width:200px;float:left}
.link-list{float:left;margin:15px 0 0;list-style-image:url(../../images2016/icons/home/arrow_dark-bottom.png);padding-left:7%;position:relative;width:93%}
.link-heading{font-weight:700;font-size:1.2em;position:relative}
.link-head-bdr-line{display:inline-block;background:#AFC0D0;height:1px;width:25px;position:relative;left:7px;top:14px}
.link-list:after{content:'';position:absolute;height:100%;right:13%;top:0;border-right:1px solid #2d313a}
.footerarea:last-child ul:after{display:none}
.footer-top a{line-height:22px}
.social-wrp{margin-top:15px}
.socila-ico{background-image:url(../../images2016/icons/home/social.png);width:37px;height:35px;float:left;margin-left:5px;-webkit-transition:background-position ease .3s;-moz-transition:background-position ease .3s;-o-transition:background-position ease .3s;-ms-transition:background-position ease .3s;transition:background-position ease .3s}
.socila-ico a{width:37px;height:35px;float:left}.fb{background-position:0 0}.twt{background-position:-42px 0}.gplus{background-position:-85px 0}.pinit{background-position:-127px 0}.fb:hover{background-position:0 -36px}.twt:hover{background-position:-42px -36px}.gplus:hover{background-position:-85px -36px}.pinit:hover{background-position:-127px -36px}.footer-middle{background-color:#0f0f0f;padding:30px 0;color:#B1B1B1}.footer-middle a,.footer-middle a:visited,.footer-middle a:focus{color:#B1B1B1;line-height:25px}.footer-bottom{background-color:#040404;padding:10px 0;color:#ABA1A1}.footer-bottom a,.footer-bottom a:visited,.footer-bottom a:focus{color:#ABA1A1}.footer-top a:hover,.footer-middle a:hover,.footer-bottom a:hover{color:#fff}
#back-top{position:fixed;bottom:105px;right:65px;z-index:99}
#back-top a{width:63px;display:block;-webkit-transition:1s;-moz-transition:1s;transition:1s}
#back-top span{width:63px;height:63px;display:block;background:url(../../images2016/icons/home/top.png) no-repeat center;-webkit-transition:1s;-moz-transition:1s;transition:1s}
#lightbox-panel4{display:none;position:absolute;top:34px;left:33%;margin-left:-200px;width:355px;background:#fff;padding:8px 15px 15px;z-index:1001;box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}
span.ask_for_quote{position:relative}
.query_form{width:355px;height:452px;border:1px solid #cacaca;margin-top:18px;background-color:#DDD}
.form_heading{background-color:#193541;color:#FFF;font-family:sans-serif;font-size:22px;font-weight:700;height:38px;width:355px;padding-top:4px;text-align:center}
.details{padding-left:10px;margin-top:10px;font-family:sans-serif}
.form_text{font-family:sans-serif;font-size:15px;margin:0;padding:0;color:#1A3642}
.button{background:url(http://www.mapsofworld.com/custom-maps/images/sprite-menu.png) no-repeat scroll -81px -19px;height:29px;width:72px;border:medium none;margin-top:10px;font-weight:700;cursor:pointer}
.input_border1{width:318px;height:30px;border:medium none}
.input_border2{width:315px;height:65px;border:medium none}
input#vercode{width:50%}
.buyclose2{position:absolute;top:-10px;right:-23px}
.resp_menu,.mob_ad300,.bottom_mob_ad300{display:none}
.balck_overlay{width:100%;height:100%;position:fixed;left:0;top:0;background:rgba(0,0,0,0.9);z-index:9999999999}
.konw-more-site{width:620px;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);z-index:9999999999999;color:#fff}
.know-more-hed{font-size:25px}
.know-more-hed:before{content:'';width:95px;border-bottom:1px solid #565859;position:absolute;left:0;top:18px;z-index:0}
.know-more-hed:after{content:'';width:95px;border-bottom:1px solid #565859;position:absolute;right:0;top:18px;z-index:0}
.knmore{font-size:30px}
.knmore a,.knmore a:hover,.knmore a:focus,.knmore a:visited{color:#efc703}
.cross_cw_popup{position:absolute;background:#fff;z-index:99999999999999999;top:148px;right:20%;cursor:pointer}
/*******Ad code*********/
#div-gpt-ad-1461737709184-0,#div-gpt-ad-1378097497377-21,#div-gpt-ad-1460355642440-0,#div-gpt-ad-1379909196487-1,#div-gpt-ad-1430989235335-2{background:url(../../images2011/advertisement1.png) no-repeat!important}
#div-gpt-ad-1461737709184-0,#div-gpt-ad-1378097497377-21{width:728px;height:90px;padding:10px 0 5px}
#div-gpt-ad-1378097497377-21{margin:0px auto;width:728px}
#div-gpt-ad-1460355642440-0{width:336px;height:280px;padding:10px 0 5px}
#div-gpt-ad-1379909196487-1,#div-gpt-ad-1430989235335-2{width:300px;height:250px;padding:10px 0 5px}
.headlins-world{background-color:#2a343d;color:#fff;padding-bottom:40px}
.headlins-world a{color:#fff}
.hw-container{position:relative}
.headlines-world-img{background:#34424d;padding:45px 33px 22px}
.post-text{position:absolute;top:0;right:0}
.post-name{font-size:21px;font-family:Assistant-SemiBold;line-height:32px;margin-bottom:15px;display:block}
.post-text .post_text_wrp{position: absolute;top: 35px;right: 0;}
.recent-post{font-size:20px;margin-top:40px}
.read-post{font-size:18px;margin-top:20px}
figure.post-priview img{border:5px solid #fff}
.post-priview{display:none}
.active_post{display:block}
.post-head{list-style:none;padding:0;float:left;margin:30px 0 0}
.post-desc{padding-right:15px}
.post-head li{float:left;width: 28%;padding-right: 5%;font-size:17px;font-weight:700;font-family:Assistant-SemiBold;position:relative;color:#91989e;min-height:70px;cursor:pointer;}
.post-head li.act_post{color:#E5E6E7}
.post-head li:after{content:'';position:absolute;right: 10%;top:0;width:1px;height:100%;background:#feffff;}
.post-head li:last-child:after{display:none}
.view-all-post .white-view-btn a{background-color:#282f41}
.view-all-post{margin-top:25px;display:inline-block;}
b{font-family: Assistant-SemiBold;}
#hw-sec-hed{display:none}
.mow-awards{display:inline-block;margin:0 0 0 11px;}

/******When customize home page*************/
.sec-title a{color:#fff;}
.after-logo-panel{margin-top:15px;}
.shelbox{position:relative;top:0;left:10px;width:130px;}
.shelbox a{position:static;}
.map-aside{top:0;}
header{background:#fff}
.logo{float:left;width:67px;height: 65px;margin:5px 0 0;}
.sitename{padding:22px 0 0 10px;}
.pad{margin: 29px 0 0;}
.h1_div{margin:0 auto 5px;}
.after-logo-panel{margin-top:0px;}
.map-section{padding-top:0px;}
.search-wrp{margin-top:5px;}
.logo img{width:67px;height:60px;}
.small-bdr-line{width:17px}
.fifth-sec{padding:10px 0 30px 0;}
#div-gpt-ad-1378097497377-21{margin: 20px auto 0 auto;}
#div-gpt-ad-1378097497377-20{width:728px;height:90px;padding:10px 0 5px;background: url(images2011/advertisement1.png) no-repeat!important;margin:10px auto 0 auto}
.mapsprite-option{margin-top:3px;}
.buy-link-wrp{width:50%;float:left;margin-right:0;margin-top:-105px;}
.map-description{position:relative}
.at-amazon{display:none}
/****************/
@media screen and (max-width:1024px){
.container{width:calc(100% - 30px);float:left;padding:0 15px}
.col-tab-3,.col-tab-4,.col-tab-6,.col-tab-7,.col-tab-8,.col-tab-9,.col-tab-12{float:left}.col-tab-3{width:25%}.col-tab-4{width:33.33333333%}.col-tab-6{width:50%}.col-tab-8{width:66.66666667%}.col-tab-9{width:75%}.col-tab-12{width:100%}
#div-gpt-ad-1461737709184-0{margin-left:-60px}
.shelbox a{top:17px}
.shelbox img{width:150px;margin-left:-20px}
.thumb-wrapper figure{min-height:180px}
.thumb-heading{margin:10px 0 15px}
.thumb-wrapper{padding:15px 0 0}
.byuing-link-wrp{padding-left:0;padding-top:0px}
.map-link-wrp{margin-top:20px}
.view-link-btn-wrp{padding-left:0px}
.inside-city-wrp{width:98%}
.graphic figure{width:244.7px}
.on_thisday_box{font-size:17px}
.onday-title{font-size:30px}
.onday-title b{font-size:25px}
.cal_day{font-size:40px}
#month_cal{font-size:25px}
.event-date{font-size:20px}
.world-top-ten ul{padding:0 1%}
.footerarea{width:197px}
.world-fact-wrp{overflow:auto}
.world-fact-slide{width:2475px;float:left}
.fact-wrp{width:165px}
.flag-slide ul{margin:0 0 0 -15px}
.flag-slide ul li{padding-left:12px}
.prev{left:-8px}
.next{right:-14px}
.map-aside{width:100%;position:static;float:left;}
.sprite-btn{width:auto;float:left;background-position: -11px 0;margin-top: 6px;}
.download-btn{margin-left: 0px;}
.view-large{width:195px;height:65px;float:left;background:url('../../images2016/mobile_click_to_large_button.png') no-repeat;padding:5px 0 0 15px;font-size:15px;margin:10px 4% 0 6%}
.view-large .col-xs-12{padding-right:0px;}
.view-large a{margin:0px;}
.click-to-view{width:132px;height:65px;float:left;background:url('../../images2016/mobile_click_to_country_button.png') no-repeat;padding: 5px 0px 10px 9px;line-height: 18px;margin: 10px 0 0 0;}
.at-amazon,.small_gsearch,.selt_menu,.anchor{display:none}
.small_gsearch,.selt_menu{visibility:hidden;}
.search_form{width:calc(96% - 35px);height:25px;}
a.online-store{float:right;}
.mow-awards,.shelbox{display:none}
}
@media screen and (max-width:800px){
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-12,.custom-col-sm-5.custom-col-sm-8{float:left}.col-sm-1{width:8.33333333%}.col-sm-2{width:16.66666667%}.col-sm-3{width:25%}.col-sm-4{width:33.33333333%}.col-sm-5{width:41.66666667%}.col-sm-6{width:50%}.col-sm-7{width:58.33333333%}.col-sm-8{width:66.66666667%}.col-sm-9{width:75%}.col-sm-10{width:83.33333333%}.col-sm-12{width:100%}
#div-gpt-ad-1378097497377-21{display:none}
#div-gpt-ad-1430989235335-8,#div-gpt-ad-1408355438089-0{width:300px;height:250px;padding:10px 0 5px;background:url(../../images2011/advertisement1.png) no-repeat!important;margin: 20px 0;float: left;}
.mob_ad300{margin:0 auto;width:300px;float:left;display: block;margin-top:10px;}
.bottom_mob_ad300{display:block;margin:0 auto;width:300px;clear:both}
.hidden-sm{display:none}
.img-responsive{width:100%}
.small_gsearch,.selt_menu{visibility:visible;}
.selt_menu .col-xs-4{padding-left:0}
.resp_menu .col-xs-4,.no-pad{padding-left:0;padding-right:0}
.resp_menu{height:90px;display:block}
.small_logo{width:95%;padding-left:5%}
.small_logo img{width:80px;height:80px}
.logo{height:85px}
.store-section-mob{width:100%;float:left;margin-bottom:15px}
.store-section-mob a{color:#fff;float:right;background:url(../../images2016/icons/arrow_white.png) no-repeat 80% 10px #db4120;padding:5px 35px 5px 12px;border-bottom-left-radius:5px;font-size:15px}
.dx-wrp{width:110px;float:right}
.small_search{float:left;margin:0 15px 0 0;border-right:1px solid #d2d2d2;text-align:left;padding:5px;width:35px}
.small_menu{width:25px;padding:5px;float:left}
.small_logo .sitename{padding-top:15px}
.mobile_nav{top:95px;background:#000;z-index:9999999999999;padding:0 0 10px;position:absolute;right:0;width:315px;display:none}
.mobile_nav ul{margin:0;padding:0;list-style:none}
.mobile_nav ul li{display:block;border-bottom:#B2B3B8 solid 2px;float:left;width:calc(98% - 30px);padding:5px 15px}
.mobile_nav ul li a{color:#fff}
#bottom_link{background:#fff;float:left;width:96%;margin:15px 0 0 2%}
#bottom_link li{float:left;display:inline;width:auto;border:none;padding:0;height:auto;border-right:#0B81FA solid 1px;margin:4px 0}
#nextbutton,#prebutton,.crnt_evnt img,.mapinfo .bordrt,.storebgrow .rt1{display:none}
#bottom_link li a{padding:0 10px;font-size:12px;font-weight:700;color:#0B81FA}
.gsearch{width:98%;margin-bottom:5px;display:none}
.googlesub{width:27px}
.google_input{width:calc(98% - 27px)}
.selt_menu{display:none}
.btn_wrp small{font-size:12px}
.btn_wrp .btn-box{margin-right:3%}
.logo-box{float:left;width:58.33333333%}
.col-xs-5{float:right;width:41.66666667%}
.aboutwbwm br{display:none}
.wbwm-map-img{text-align:center}
.wbwm-hed:before{left:0}
.wbwm-hed:after{right:0}
.wbwm-hed{padding:25px 0 20px}
.quote{margin-top:-5px}
.link-btn-wrp{float:left;margin-left:10px}
.wbwm-price{padding:0}
.red_btn a,.yellow_btn a{background-position:8px 9px;font-size:14px;padding:6px 8px 6px 25px}
.amz_btn a{padding:6px 15px 6px 25px}
.buy-link-wrp{width:31%;float:left;margin-right:0%}
.aboutwbwm{margin-top:10px}
.img-desc{padding-top:16px}
.img-desc br{display:none}
#LightBox{left:0;right:auto}
.modal-content{width:95%}
.more-about{display:inherit;width:340px;margin:30px auto 10px}
.mw-inside-box{float:left;margin-bottom:5px}
.wm-left{margin:0}
.inside-city-wrp{width:94%}
.us-election{width:99.8%;height:302px;background:#003F70;float:left}
.traval-tools{margin-left:0;width:90%}
.us-bdr-line{display:inline-block;background:#fff}
.us-election .sec-title{margin:15px 0 0;padding:0px 0 0 15px}
.link-box{height:272px;margin-bottom:5px;padding:15px 5%}
.servies-link{width:95%;margin:15px 0 10px}
.servies-link:after{display:none}
.fourth-sec{padding:25px 0 20px}
.flag-slide{overflow:auto}
.fifth-sec{padding:20px 0}
.flag-slide .slide-wrp{width:1030px}
.dimention_wrp, .formate_list{font-size:14px}
.link-list:after,.link-head-bdr-line{display:none}
.aco-icon{width:50px;height:18px;float:right;top:8px;padding-right:10px;background:url("../../images2016/icons/home/plus.png") center no-repeat;position:absolute;right:0}
.footerarea, .footerarea:nth-child(3),.footerarea:last-child,.social-wrp{width:100%;margin-bottom:5px}
.footerarea:last-child ul{width:96%}
.footer-top{padding:20px 0}
.link-heading{background:#2F84B3;padding:5px 0 5px 3%;font-size:1em}
.link-heading a{color:#fff}
.link-list{display:none;margin:7px 0 10px;padding-left:4%}
.social-wrp{margin-top:10px}
.mob{width:100%;float:left;margin-top:5px;padding:10px 0;background:url(http://www.mapsofworld.com/images2011/advertisement1.png) no-repeat}
.anchor{position:fixed;bottom:0;padding:8px 0 5px!important;margin:0;background:url(http://www.mapsofworld.com/images-mow/advertisement-wht.png) no-repeat grey;z-index:99;display:block}
#back-top{position:fixed;bottom:50px;right:10px}
#back-top a{width:35px}
#back-top span{width:35px;height:35px;background-size:35px 35px}
.ul-with-arrow-bg a{line-height:27px;}
.slide-wrp a{width:100%;float:left;height:100%;}
.view-more a{line-height:23px;}
.footer-middle a{padding:5px;}
.post-text{position:static;}
#hw-sec-hed{display:block;font-size:35px;margin-top:15px;}
.thumb-bx-wrp figure{width:100%;float:left;text-align:center}
.post-name{text-align:center}
.view-all-post{display:inherit;width:318px;margin:15px auto 0 auto}
.post-head-wrp{overflow:auto}
.post-head{width:740px}
.post-head li{width:220px;padding-right:25px;min-height:50px;}
.post-head li:after{right:17px;}
.thumb-bx-wrp{margin-top:20px;}
.post-text .post-priview{margin-top:15px;}
.post-text .post_text_wrp {position:static;}
.recent-post{margin-top:10px;}

#div-gpt-ad-1378097497377-20{display:none}.buy-link-wrp{position:absolute;width:30%;top:37px;right:0;margin-top:0}.link-box-wrp .lnk-wrp-box:nth-child(2) .link-box:after{display:none}.link-box-wrp .link-box .view-more{left:auto;right:15px}
}
@media only screen and (max-device-width:768px)  and (orientation:portrait){div#light{position:absolute;top:10%;z-index:9999;left:14%}.black_overlay{background:#000;width:100%;position: fixed;height:100%;top:0;left:0;opacity:0.6;z-index:999}}
@media screen and (max-width:767px){
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-12,.custom-col-xs-5.custom-col-xs-8{float:left}.col-xs-1{width:8.33333333%}.col-xs-2{width:16.66666667%}.col-xs-3{width:25%}.col-xs-4{width:33.33333333%}.col-xs-5{width:41.66666667%}.col-xs-6{width:50%}.col-xs-7{width:58.33333333%}.col-xs-8{width:66.66666667%}.col-xs-9{width:75%}.col-xs-10{width:83.33333333%}.col-xs-12{width:100%}.hidden-xs{display:none}
.selt_menu{background:#393939;color:#fff;padding:5px 15px 5px;width:calc(100% - 30px);float:left}
.selt_menu h1{width:100%;color:#fff;text-align:right;padding-right:15px;font-size:15px;font-family:sintony;font-weight:700;margin:0}
.btn_wrp,.map-aside{display:none}
.map-section{padding-top:0px;}
.h1_div{width:100%;margin:0 auto 10px;}
.map-section{margin-top:0}
.sprite-btn{width:50%;margin:0}
.opBox{background:url(../../images2016/icons/arrow_white.png) no-repeat 6px 14px;color:#fff !important;font-size:13px;font-weight:bold;padding:12px 0 11px 20px;width:calc(100% - 20px);float:left;height:calc(42px - 23px);font-family:arial}
.buyBox{background-color:#a4c51c}
.cusmBox{background-color:#5198d8}
.amznBox{background:#f7a300 url(../../images2016/icons/cart-buy.png) no-repeat 6px 11px;padding:12px 0 11px  35px;width:calc(100% - 35px);}
.podBox{background-color:#06ccbb}
.posterBox{background-color:#a472d5}
.opBox:hover a{text-decoration:none}
.buyBox:hover{background-color:#6f9a13}
.cusmBox:hover{background-color:#3877c5}
.amznBox:hover{background-color:#f07f17}
.podBox:hover{background-color:#13b19a}
.posterBox:hover{background-color:#8b5bc6}
.option-box{display:block;position:relative;margin-top:-4px}
.viewInlarge{position:absolute;top:-34px;left:0}
.option-box .sprite-btn{background:#DE3F1B !important;padding:0px}
.bx{width:33% !important;background-position:center 10px !important;margin-left:0}
.download-btn{background:url(../../images2016/icons/grey.png) no-repeat;border-right:1px solid #A5837D}.share-btn{background:url(../../images2016/icons/share_grey.png) no-repeat;border-right:1px solid #A5837D}.print-btn{background:url(../../images2016/icons/print_grey.png) no-repeat}.download-btn:hover{background:url(../../images2016/icons/white.png) no-repeat #005AA4}.share-btn:hover{background:url(../../images2016/icons/share_white.png) no-repeat #ff6c00}.print-btn:hover{background:url(../../images2016/icons/print_white.png) no-repeat #f2b800;margin-top:0}.buy_now-mob{background:#0F2B3C;color:#fff;height:136px;display:none}.buy_now-mob_wrp{display:block;padding:10px}
.fall_sale-mob{text-align:center;padding-bottom:10px;margin-top:15px}
img.map-mob{float:left}
.buy-pr{ float:left;width:73px;margin:0 0 0 10px}
.buy-pr span{width:100%;float:left;color:#FEF700;font-weight:bold;font-size:24px;font-family:helvetica}
.buy_now-txt{width:96%;float:left;line-height:22px;font-size:15px;margin:-5px 0 0 4%;font-family:helvetica}
.buy_now-txt span{color:#FF9000;font-weight:bold;font-size:17px}
.wbwm-hed,.sec7-title span, .sec8-title span{font-size:26px}
.wbwm-hed:before, .wbwm-hed:after,.sec7-title:before, .sec8-title:before{display:none}
.sec8-title{width:100%}
.eighth-sec{padding:30px 0 0px}
.flag-wrp{margin:40px 0 20px}
.kid-thumb{width:140px;margin-right:10px}
.ul-with-arrow-bg{padding-left:5%;width:95%}
.inside-city-wrp{width:100%;border-right:0}
.city-thumb-scroll ul{width:760px}
.city-thumb-scroll ul li:nth-child(3){margin-right:7px}
.city-thumb-scroll{overflow:auto}
.about-text:after{display:none}
.wm-languages,.wm-continents,.wm-travel{width:50%;}
.box-height .link-box{height:auto}
}
@media screen and (max-width:680px){.wm-languages,.wm-continents,.wm-travel{width:100%;}}
@media screen and (max-width:620px){
.wbwm-price{width:45%;padding:0;font-size:30px;letter-spacing:0.04px}
.buying_option{width:55%}
.wbwm-btn-wrp{width:100%;border-right:0}
.city-thumb-scroll{width:100%}
.wmwm-buy-txt{display:none}
.wbwm-zoom{margin:10px 05px 10px 0}
.wbwm-map-img img{width:100%;height:auto}
.wbwm-btn-wrp .amz_btn{margin-right:10px}
.lnk-wrp-box{width:100%}
.link-box{margin-left:0%;width:90%}
.us-election{height:auto;padding-bottom:10px}
.link-box{height:auto;padding-bottom:25px}
.kids-zone-wrp ul li,.us-election ul li,.lnk-wrp-box ul li{width:50%;float:left}
.us-election ul li{width:47%;float:left}
.us-election{margin-bottom:5px}
.mob_ad300{display:block;margin:0 auto;width:300px;clear:both;float:none}
.mapinfo ul li a{padding-right:25px;display:block;}
.link-box-wrp .lnk-wrp-box .link-box:after{display:none}
}
@media screen and (max-width:500px){
.us-election ul li{width:97%}
.servies-link li,.kids-zone-wrp ul li,.lnk-wrp-box ul li{width:100%}
figure.post-priview img{width:100%;height:auto}
}
@media screen and (max-width:420px){
.logo{width:60px;height:80px}
.small_logo img{width:55px;height:65px}
.sitename{font-size:16px;width:110px;padding:43px 0 0 5px}
.more-about{width:290px}
.more-about a{font-size:15px}
.opBox{font-size:12px}
.bx{width:32.8% !important}
.buy-pr{width:73px;margin:0 0 0 5px}
img.map-mob{float:left;width:45px}
.buy_now-mob_wrp{float:left}
.fall_sale-mob img{width:120px;margin:12px 0px}
.h1_div h1{font-size:29px;}
.h1_bdr{top:20px;}
.view-all-post{width:284px;}
.view-all-post .white-view-btn a{font-size:17px;font-family:Assistant-SemiBold;padding:15px 10px 15px 40px;}
.small_logo img{width:60px;height:57px;}.sitename{padding:22px 0 0 0px;
}
@media screen and (max-width:360px){
.wm-title{font-size:1.2em}
.map-box,.mw-inside-box{width:100%}
.map-box figure img{width:100%}
.kid-thumb:last-child{margin-right:0px}
}