.productBadge { 
	background-color: #ffffff; 
	border: 1px solid black; 
	display: inline-block; 
	font-family: "Lato","HelveticaNeue","Helvetica","Arial",sans-serif !important; 
	margin-bottom: 20px; 
	padding: 0; 
	text-align: center; 
	box-shadow:2px 2px 2px #cccccc; 
	position:relative; 
	left:10px; 
	bottom:0;
}

.productBadge .productBadgeText {
	display: inline; 
	font-size: 14px; 
	line-height: 14px; 
	padding: 4px 6px; 
	font-weight:700;
}

/*Custom styles for badge types*/
.info-black, .info-black * {
	border-color: black;
	color: black;
}

.info-blue, .info-blue * {
	border-color: blue;
	color: blue;
}

.info-green, .info-green * {
	border-color: green;
	color: green;
}

.info-orange, .info-orange * {
	border-color: orange;
	color: orange;
}
