/*===============================================================================
 There are 5 components. Each comp can be refered to using the syntax below:
     .hp-comp-[comp no.]

  Fonts
 -------
 .hp-light = font-weight: 300;
 .hp-reg = font-weight: normal;
 .hp-bold = font-weight: bold;

 .hp-size-18 = font-szie:18px;
 .hp-size-22 = font-szie:22px;
 .hp-size-34 = font-szie:34px;

  Hover
 -------
.hp-hover-70-5s = opacity:0.7; 5s transition all
.hp-hover-80-5s = opacity:0.8; 5s transition all

================================================================================
Import Icon Font - Muyalto

- Use data-icon-before = "[letter]" in HTML to add icon before
- Use data-icon-after = "[letter]" in HTML to add icon after
================================================================================*/
@font-face {
	font-family: "muyalto";
	src: url("../fonts/muyalto.eot");
	src: url("../fonts/muyalto.eot?#iefix") format("embedded-opentype"), url("../fonts/muyalto.woff") format("woff"), url("../fonts/muyalto.ttf") format("truetype"), url("../fonts/muyalto.svg#muyalto") format("svg");
	font-weight: normal;
	font-style: normal;
}
/*------------------------------------------------------
data-icon-before
-------------------------------------------------------*/
[data-icon-before]:before {
	font-family: "muyalto" !important;
	content: attr(data-icon-before);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*------------------------------------------------------
data-icon-after
-------------------------------------------------------*/
[data-icon-after]:after {
	font-family: "muyalto" !important;
	content: attr(data-icon-after);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*===============================================================================
 Origin site overrides
 ================================================================================*/
#content588 {
	width: 100%;
}
#content588 h1 {
	width: 100%;
	padding: 15px 0;
	background-color: transparent;
	font-size: 65px;
}
#content588 h1,
#content588 h2 {
	font-weight: normal;
}
#content588 h3 {
	font-weight: 300;
	margin-bottom: 0; 
}

#box a {
    color: #404040;
    display: inline; 
}
#box a:hover {
	text-decoration: none;
}

#box p, #box span {
    line-height: normal; 
    font-size:11px; 
}
/*div[id*="WC_ContentAreaESpot_div"],
div[id*="ad_HP_"],
div[id*="WC_ContentAreaESpot_div"] *,
div[id*="ad_HP_"] *,
#espotalign {
    width: auto;
    float: none;
    padding: 0;
    margin: 0;
}*/
#ad_HP_Hero {
	height: 538px;
}
div[id*="WC_ContentAreaESpot_div"] {
	width: 1000px;
}

#delivery_bar, 
#offer_bars {
	display: none;
}
/*===============================================================================
  Generic Styles
 ================================================================================*/

#box {
	margin-top: 20px;
	width: 1000px;
	overflow: hidden;
}
#box *,
#hp-ol-content * {
	font-family: 'Lato', "Century Gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}
#box .hp-georgia {
	font-family: Georgia, serif !important;  
}
#box .hp-light {font-weight: 300 !important;}
#box .hp-reg {font-weight: normal !important;}
#box .hp-bold {font-weight: bold !important;}
#box .hp-italics {font-style: italic;}
#box .hp-size-18, #box .hp-size-18 * {font-size: 18px;}
#box .hp-size-20, #box .hp-size-20 * {font-size: 20px;}
#box .hp-size-22, #box .hp-size-22 * {font-size: 22px;}
#box .hp-size-32, #box .hp-size-32 * {font-size: 32px;}
#box .hp-size-34, #box .hp-size-34 * {font-size: 34px;}
#box .hp-size-48, #box .hp-size-48 * {font-size: 48px;}
#box .hp-size-60, #box .hp-size-60 * {font-size: 60px;}
#box .hp-size-70, #box .hp-size-70 * {font-size: 70px;}
#box .hp-size-86, #box .hp-size-86 * {font-size: 86px;}
#box .hp-hover-70-5s,
#box .hp-hover-80-5s {
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
}
#box .hp-hover-70-5s:hover {
	opacity: 0.7;
	filter:alpha(opacity=70);
}
#box .hp-hover-80-5s:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#box .hp-bx-pager .pager-active:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
#box .hp-red-cta {
	text-align: center;
	font-size: 18px;
	padding: 5px 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #fff;
	color: #cc0000;
	border: 1px #cc0000 solid;
}
#box .hp-red-cta:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
/*===============================================================================
 Comp - 1       (.hp-comp-1)
 ================================================================================*/
#box .hp-comp-1 .slide .hp-overlay-centered {
	position: absolute;
	margin: auto auto;
	width: 100%;
	text-align: center;
}
#box .hp-comp-1 .slide h2 {
	font-size: 30px;
	font-weight: 300;
	padding-bottom: 25px;
}
#box .hp-comp-1 #hp-hero-slider {
	height: 500px;
	overflow: hidden;
}
#box .hp-comp-1 #slide-1 {
	position: relative;
	z-index: 5;
}
#box .hp-comp-1 .slide .hp-overlay-left {
	position: absolute;
	padding-left: 50px;
}
#box .hp-comp-1 .hp-slider .hp-info-area {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	background-color: #fff;
	font-size: 18px;
	border: 1px #EEE solid;
}
#box .hp-comp-1 .hp-slider .hp-info-area h4 {
	font-size: 18px;
	font-weight: normal;
	padding: 5px;
	line-height: 1;
}
#box .hp-comp-1 .hp-slider .hp-info-area h4:before {
	float: left;
	font-size: 40px;
	margin: 0 8px 0 5px;
	width: 40px;
	height: 40px;
	display: block;
}
#box .hp-comp-1 .slide .hp-slide-cta {
	font-size: 20px;
	line-height: 40px;
	height: auto;
}
#box .hp-comp-1 .slide .hp-slide-cta:after {
	content: "r";
	font-family: "muyalto";
	font-size: 9px;
	line-height: 45px;
	padding-left: 10px;
}
/*-- T&C--*/

#box .hp-comp-1 .hp-tc-icon {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: block;
	padding: 5px 10px 5px 5px;
	background: #fff;
	z-index: 1;
	font-size: 13px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
#box .hp-comp-1 .hp-tc-icon:after {
	padding-left: 5px;
}
#box .hp-comp-1 .hp-tc-content {
	background-color: #fff;
	display: none;
	bottom: 0;
	right: 0;
	padding: 15px 140px 15px 10px;
	position: absolute;
	z-index: 0;
	max-width: 313px;
	min-height: 20px;
	font-size: 13px;
}
#box .hp-comp-1 .hp-tc-content * {
	font-size: 13px;
}
/*-- Pager --*/

#box .hp-comp-1 .hp-bx-pager {
	margin: 5px 0 30px 0;
}
#box .hp-comp-1 .hp-bx-pager a {
	display: inline-block;
	width: 310px;
	height: 33px;
	background-color: #EEE;
	color: #666;
	padding: 0 10px;
	text-align: center;
	font-size: 18px;
	line-height: 33px;
}
#box .hp-comp-1 .hp-bx-pager .hp-comp-1-pager-2 {
	margin: 0 5px;
}
#box .hp-build-pager {
	display: none;
}

/*-- Controls --*/
#hp-hero-slider .bx-prev, 
#hp-hero-slider .bx-next {
	position: absolute;
	z-index: 110;
	height: 65px;
	width: 32px;
	background-color: rgba(255, 255, 255, 0.6);
	top: 50%;
	margin-top: -32px;
	font-size: 0;
	font-family: "muyalto" !important;
	text-align: center;
	transition: .2s all;
	-webkit-transition: .2s all;
	-moz-transition: .2s all;
	-o-transition: .2s all;
	color: #404040;
}

#hp-hero-slider .bx-next:before {
	content: "r";
	font-size: 28px;
	line-height: 65px;
}
#hp-hero-slider .bx-prev:after {
	content: "q";
	font-size: 28px;
	line-height: 65px;
	display: block;
}
#hp-hero-slider .bx-next {
	right: -32px;
}
#hp-hero-slider .bx-prev {
	left: -32px;
}
/*===============================================================================
 Component - 2      (.hp-comp-2) 
 ================================================================================*/

#box .hp-comp-2 .hp-four-col-banner, 
#box .hp-comp-2 .hp-three-col-banner, 
#box .hp-comp-2 .hp-two-col-banner,
#box .hp-comp-2 .hp-one-col-banner {
	margin-top: 30px;
	font-size: 0;
}
#box .hp-comp-2 .hp-four-col-banner a {
	width: 250px;
	text-align: left;
}
#box .hp-comp-2 .hp-four-col-banner span {
	display: block;
	font-weight: 300;
}
#box .hp-comp-2 .hp-four-col-banner .hp-comp-2-col-1:before {
	padding-left: 10px;
}
#box .hp-comp-2 .hp-four-col-banner a:before {
	float: left;
}
#box .hp-comp-2 > div > a {
	height: 50px;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	background-color: #FFF;
	overflow: hidden;
}
#box .hp-comp-2 .hp-two-col-banner a {
	width: 500px;
	line-height: 50px;
}
#box .hp-comp-2 > div > a:before {
	font-size: 35px;
	padding: 0px 15px 0 0;
	height: 50px;
	line-height: 50px;
	vertical-align: -20%;
	transition: .5s color;
	-webkit-transition: .5s color;
}
[data-icon-before=paypal]:before {
	content: '' !important;
	background: url('../img/paypal_hp.gif') no-repeat 50% bottom;
	width: 35px;
	display: inline-block;
	height: 35px !important;
}
#box .hp-comp-2 .hp-three-col-banner a {
	width: 333px;
	line-height: 50px;
	overflow: hidden;
}

#box .hp-comp-2 a span {
    font-size: 16px; 
}
#box .hp-comp-2 .hp-three-col-banner .hp-comp-2-col-2 {
	width: 334px;
}
#box .hp-comp-2 .hp-one-col-banner a {
	width: 1000px;
	line-height: 50px;
}
/*===============================================================================
 Component - 3      (.hp-comp-3)
 ================================================================================*/

#box .hp-comp-3 {
	margin-top: 30px;
	height: 472px;
	background-color: #838383;
	position: relative;
}
#box .hp-comp-3 h2 {
	text-align: center;
	font-size: 30px;
	height: 73px;
	line-height: 73px;
	color: #fff;
}
#box .hp-comp-3 .hp-slider {
	overflow: hidden;
	height: 322px;
	font-size:0;
}
#box .hp-comp-3 .hp-thumb-slide-content {
	display: inline-block;
	margin: 0 10px;
	width: 207px;
	position: relative;
	vertical-align: top;
}

#box .hp-comp-3 .slide > .hp-thumb-slide-content:last-child {
	margin-right: 0;
}

#box .hp-comp-3 .hp-thumb-slide-content > span {
	display: block;
	width: 187px;
	height: 85px;
	background-color: #EEE;
	padding: 15px 10px;
	text-align: center;
	overflow: hidden;
	color: #404040; 
}
#box .hp-comp-3 .hp-thumb-slide-content > span > strong {
	color: #cc0000;
}
#box .hp-comp-3 .hp-comp-3-tc {
	position: absolute;
	right: 5px;
	bottom: 5px;
	color: #fff;
	font-size: 13px;
}
#box .hp-comp-3 .hp-thumb-slide-content:first-child,
#box .hp-comp-3 .hp-thumb-slide-content.hp-first {
	margin-left: 0px;
}
#box .hp-comp-3 .bx-prev, #box .hp-comp-3 .bx-next {
	position: absolute;
	display: block;
	height: 65px;
	width: 32px;
	background-color: rgba(255, 255, 255, 0.5);
	top: 50%;
	margin-top: -33px;
	font-size: 0;
	font-family: "muyalto" !important;
	text-align: center;
}
#box .hp-comp-3 .bx-next {
	right: 0;
}
#box .hp-comp-3 .bx-next:before {
	content: "r";
	font-size: 28px;
	line-height: 65px;
}
#box .hp-comp-3 .bx-prev:before {
	content: "q";
	font-size: 28px;
	line-height: 65px;
}
/*-- stop slides going under arrows--*/

#box .hp-comp-3 .bx-window {
	width: 900px !important;
	margin-left: 53px;
}
#box .hp-comp-3 .hp-thumb-cta-container {
	margin: 20px 0;
	text-align: center;
}

/* --------------------------------------------
	View More
---------------------------------------------*/

#box .hp-thumb-static {
	height: auto;
	margin-bottom: 30px;
}

#box .hp-thumb-static .hp-slider {
	width: 895px;
	margin: 0 auto;
	height: auto;
}

#box .hp-thumb-static .hp-thumb-cta-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	height: 114px;
	padding-top: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: rgba(162, 30, 35);
	background: rgba(162, 30, 35, 0.7);
}

#box .hp-thumb-static .slide {
	margin-bottom: 20px;
}

#box .hp-thumb-static .slide:last-child {
	margin-bottom: 0;
}

#box .hp-thumb-static .hp-red-cta {
	padding: 5px 90px;
	position: relative;
}

#box .hp-thumb-static .hp-red-cta:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

#box .hp-thumb-static .hp-red-cta:after,
#box .hp-thumb-static .hp-red-cta:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

#box .hp-thumb-static .hp-red-cta:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

#box .hp-thumb-static .hp-red-cta:before {
	border-color: rgba(245, 0, 0, 0);
	border-top-color: #f50000;
	border-width: 11px;
	margin-left: -11px;
}

#box .hp-thumb-static #hp-thumb-slider {
	max-height:456px;
	overflow: hidden;
	transition: max-height .5s;
	-moz-transition: max-height .5s;
	-webkit-transition: max-height .5s;
	-o-transition: max-height .5s;
}

/* For the transition to work give it a max height */
#box .hp-thumb-static.hp-expanded #hp-thumb-slider{
	max-height: 2000px;
}

#box .hp-thumb-static.hp-expanded .hp-thumb-cta-container {
	position: relative;
	height: 95px;
	padding-top: 41px;

}

#box .hp-thumb-static.hp-expanded .hp-red-cta:after,
#box .hp-thumb-static.hp-expanded .hp-red-cta:before {
	border: none;
}

#box .hp-thumb-static .hp-comp-3-tc {
	bottom: -25px;
	color: #000;
}


/*===============================================================================
 Component - 4      (.hp-comp-4)
 ================================================================================*/

#box .hp-comp-4 {
	margin-top: 30px;
	font-size: 0;
}
#box .hp-comp-4 .hp-4-one-col {
	display: inline-block;
	width: 235px;
	height: 376px;
	overflow: hidden;
	text-align: center;
	border: 1px #D5D5D5 solid;
	color: #333;
	margin-right: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#box .hp-comp-4 h3 {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#box .hp-comp-4 .hp-4-one-col > div {
	padding: 0 10px;
	overflow: hidden;
	background-color: #EEE;
}
#box .hp-comp-4 .hp-4-one-col .hp-4-txt {
	font-size: 18px;
	height: 282px;
	display: table-cell;
	vertical-align: middle;
}
#box .hp-comp-4 .hp-4-one-col img {
	padding-top: 10px;
}
#box .hp-comp-4 .hp-4-one-col .hp-4-cta {
	display: block;
	padding: 10px 0;
	text-align: right;
	font-size: 18px;
}
#box .hp-comp-4 .hp-4-one-col .hp-4-cta:after, 
#box .hp-comp-4 .hp-vert-slider-container .slide .hp-4-cta:after {
	content: "r";
	font-family: "muyalto" !important;
	font-size: 14px;
	padding: 0 10px;
}

#box .hp-comp-4 > h2 {
	text-align: center;
	border: 1px #D5D5D5 solid;
	border-bottom: 0;
	margin-bottom: 0;
	padding: 20px 0;
	font-size: 22px;
	line-height: 1
}

#box .hp-comp-4 .hp-4-full-wid > div,
#box .hp-comp-4 .hp-4-full-wid img {
	padding: 0;
}

#box .hp-comp-4 .hp-4-full-wid .hp-4-cta {
	background: #fff;
	text-align: center;
	font-size: 16px;
	padding: 10px 5px;
}

#box .hp-comp-4 .hp-4-full-wid .hp-4-cta:after {
	content: '';
	padding: 0;
}

#box .hp-comp-4 .hp-4-full-wid:last-child {
	margin-right: 0;
}

#box .hp-comp-4 .hp-4-two-col {
	display: inline-block;
	width: 490px;
	height: 376px;
	overflow: hidden;
	border-left: 1px #D5D5D5 solid;
	border-top: 1px #D5D5D5 solid;
	border-right: 1px #D5D5D5 solid;
	font-size: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	vertical-align: top;
}
#box .hp-comp-4 .hp-comp-4-build-pager {
	display: none;
}
#box .hp-comp-4 .hp-vert-slider-container {
	overflow: hidden;
	width: 279px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	right: 0;
}
#box .hp-comp-4 .hp-comp-4-bx-pager {
	width: 209px;
	overflow: hidden;
	float: left;
	height: 326px;
	background-color: #D5D5D5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#box .hp-comp-4 .hp-comp-4-bx-pager a {
	display: block;
	height: 71px;
	text-align: center;
	background-color: #EEE;
	font-size: 16px;
	border-bottom: 2px #D5D5D5 solid;
	color: #333;
	padding: 14px 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#box .hp-comp-4 .hp-comp-4-bx-pager span {
	display: block;
	font-size: 16px; 
}
#box .hp-comp-4 .hp-4-two-col .slide span {
	font-size: 18px;
	height: 44px;
	padding: 0;
	line-height: 44px;
	text-align: right;
	display: block;
}
#box .hp-comp-4 .hp-4-two-col .slide > a {
	font-size: 0;
}
/*===============================================================================
 Component - 5      (.hp-comp-5)
 ================================================================================*/

#box .hp-comp-5 {
	margin: 30px 0 20px;
	font-size: 0;
}
#box .hp-comp-5 .hp-5-left-col {
	padding: 10px;
	width: 468px;
	display: inline-block;
	border: 1px #D5D5D5 solid;
	font-size: 0;
	text-align: center;
	overflow: hidden;
	vertical-align: top;
}
#box .hp-comp-5 .hp-5-first-col {
	margin-right: 18px;
}
#box .hp-comp-5 .hp-5-left-col h3 {
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	height: 58px;
	line-height: 48px;
}
#box .hp-comp-5 .hp-5-one-col {
	display: inline-block;
	width: 225px;
	position: relative;
	margin-bottom: 20px;
	vertical-align: top;
	background-color: #EEE;
	height: 346px;
}
#box .hp-comp-5 .hp-5-inner-wrapper strong {
	font-weight: bold;
}
#box .hp-comp-5 .hp-5-inner-wrapper > span, 
#box .hp-comp-5 .hp-5-inner-wrapper strong {
	font-size: 16px;
	color: #333;
}
#box .hp-comp-5 .hp-5-inner-wrapper > span {
	display: block;
}
#box .hp-comp-5 .hp-5-inner-wrapper {
	display: block;
	padding: 15px 10px 33px;
	height: 78px;
	text-align: left;
	overflow: hidden;

}
#box .hp-comp-5 .hp-5-inner-wrapper:after {
	position: absolute;
	right: 12px;
	bottom: 12px;
}
#box .hp-comp-5 .hp-5-cta-container {
	text-align: center;
	height: 45px;
	line-height: 35px;
}
#box .hp-comp-5 .hp-5-cta {
	background-color: #EFEFEF;
	color: #333;
	border: #333 1px solid;
}
#box .hp-comp-5 .hp-5-right-col {
	display: inline-block;
	width: 490px;
	height: 858px;
	margin-left: 20px;
	overflow: hidden;
	border: #D5D5D5 1px solid;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#box .hp-comp-5 .hp-5-right-col .hp-5-inner-wrapper {
	position: absolute;
	bottom: 0;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
	height: auto;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	padding-bottom: 0;
}
#box .hp-comp-5 .hp-5-right-col .hp-5-inner-wrapper {
	max-height: 100%;
	background: #EEE;
}
#box .hp-comp-5 .hp-5-right-col .hp-5-inner-wrapper > span {
	margin: 15px 0;
	display: block;
}

#box .hp-comp-5 .hp-5-right-col .hp-5-right-header {
	font-size: 20px;
	text-align: center;
	display: block;
	line-height: 50px;
	height: 50px;
}
/*===============================================================================
 Disable hover effect on tablets to avoid 2 clicks
 ================================================================================*/

@media only screen and (max-device-width: 800px) {
	#box .hp-hover-70-5s:hover,
	#box .hp-hover-80-5s:hover {
		opacity: 1;
	}
	#hp-hero-slider .bx-prev, 
	#hp-hero-slider .bx-next {
		display: none;
	}
}

/*===============================================================================
 Black friday popup 2015
 ================================================================================*/
/* -- Lightbox styles--*/
#hp-ol {
	background-color: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}
#hp-ol-content {
	width: 1001px;
	margin: 0 auto;
	text-align: center;
	top: 0 !important;
	position: absolute !important;
}

#hp-ol-content .ol-logo {
	position: absolute;
	top: 23px;
	left: 15px;
	z-index: 1;
	cursor: pointer;
}

#hp-ol-content .ol-close {
	z-index: 1;
	color: #fff;
	line-height: 44px;
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 28px;
	right: 102px;
}

#hp-ol-content .ol-close:before {
	font-size: 30px;
	vertical-align: sub;
}
#hp-ol-content a:hover,
#hp-ol-content a:hover:before {
	text-decoration: none;
}

#hp-ol-content .hp-ol-inner {	
	background-color: #000;
	padding-bottom: 20px;
	position: relative;
	padding-top: 75px;
	display:none;
	max-width: 1000px;
	left: 1px;
}

.hp-ol-inner {
	display:none;
}
/* -- Lightbox content styles--*/

#hp-ol-content a:hover:after {
	text-decoration: none;
}

#hp-ol-content .ol-intro {
	margin: 14px 0 0;
}

#hp-ol-content .ol-intro > p {
	font-size: 30px;
	color: #fff;
}
#hp-ol-content .ol-intro > a {
	text-align: center;
	font-size: 18px;
	padding: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #cb0934;
	color:#FFF;
	position: relative;
	display: block;
	max-width: 219px;
	margin: 14px auto 0;
	border: 2px solid #fff;
}

#hp-ol-content .ol-intro > a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

#hp-ol-content .ol-intro > a:after {
	font-size: 14px;
	right: 17px;
	position: absolute;
	top: 10px;
} 

#hp-ol-content .ol-b-wrap {
	margin: 0 auto;
	overflow: hidden;
	width: 796px;
	padding-bottom: 30px;
}

#hp-ol-content .ol-b-wrap .ol-row > .ol-last-prod {
	margin-right: 0 !important;
}

#hp-ol-content .ol-b-wrap .ol-row > div {
	margin-right: 20px;
	float: left;
	width: 252px;
	background: #fff;
	margin-top: 20px;
	overflow: hidden;
}

#hp-ol-content .ol-b-wrap a {
	display: block;	
	padding: 4px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#hp-ol-content .ol-b-wrap a:hover * {
	text-decoration: none;
	opacity: 0.8;
	filter:alpha(opacity=80);
	transition: .5s opacity;
	-webkit-transition: .5s opacity;
	-moz-transition: .5s opacity;
	-o-transition: .5s opacity;
}

#hp-ol-content .ol-b-top,
#hp-ol-content .ol-b-bottom > span {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 14px;
	display: block;
}

#hp-ol-content .ol-b-top {
	background-color: #cb0934;
	color: #ffffff;
	padding: 27px 5px 23px;
	display: block;
	height: 134px;
	margin-bottom: 4px;
}

#hp-ol-content .ol-b-top .ol-b-upto {
	color: #ffffff;
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	padding-bottom: 5px;
	display: inline-block;
}

#hp-ol-content .ol-b-top .ol-b-title {
	color: #ffffff;
	font-size: 26px;
	line-height: 27px;
	font-weight: bold;
}

#hp-ol-content .ol-b-top .ol-b-stitle {
	color: #ffffff;
	font-size: 22px;
	line-height: 27px;
}

#hp-ol-content .ol-b-cta {
	display: block;
	padding: 9px 0;
	background-color: #000;
	color: #ffffff;
	margin-top: 4px;
	font-size: 18px;
}

#hp-ol-content .ol-b-cta:after {
	font-size: 12px;
	padding-top: 7px;
	padding-left: 10px;
	position: absolute;
}

#hp-ol-content .ol-tc {
	text-align: right;
	margin-top: 10px;
}

#hp-ol-content .ol-tc a {
	color: #fff;
	font-size: 12px;
	display: inline;
	padding: 0;
}

#hp-ol-content .ol-tc a:hover {
	text-decoration: underline;
}

#hp-ol-content .ol-tc a:after {
	font-size: 10px;
	padding-left: 5px;
	display: inline-block;
	position: relative;
	top: 1px;
}

#hp-ol-content .ol-row {
	float: left;
	clear: both;
	width:100%;
}

#hp-ol-content .ol-b-top sup {
	font-size: 20px !important;
	vertical-align: top;
	position: relative;
	top: -5px;
}

#hp-ol-content .hp-ol-inner {
	background: url('/wcsstore/DebenhamsStorefrontAssetStore/img/BF_HP_lightbox_bg.png') repeat fixed;
}

/* BF Preview */
#hp-ol-content .black-fri-pre .ol-b-wrap .ol-row > div {
	width: 48.31%;
	margin-right: 26px;
}

#hp-ol-content .black-fri-pre .ol-b-top {
	padding: 22px 14px 16px; 
	height:auto;
}

/* BF WKND */
#hp-ol-content .black-fri-wknd .ol-b-wrap {
	padding-bottom: 20px;
}

#hp-ol-content .hp-ol-inner.black-fri-wknd {
	background: url('/wcsstore/DebenhamsStorefrontAssetStore/img/BF_wknd_HP_lightbox_bg.jpg') 0 0 no-repeat;
}

/* Cyber Mon */
#hp-ol-content .hp-ol-inner.cyber-mon {
	background: url('/wcsstore/DebenhamsStorefrontAssetStore/img/CM_HP_lightbox_bg.png') repeat fixed;
}

#hp-ol-content .cyber-mon .ol-b-top {
	background-color: #000;
}

#hp-ol-content .cyber-mon .ol-b-cta {
	background-color: #A50D2D;
}

#hp-ol-content .cyber-mon .ol-intro > a {
	background-color: #000;
}

#box .hp-comp-2 strong {
    color: #404040; 
}
