@font-face {
    font-family: "muyalto";
    src: url("../fonts/muyalto.eot");
    src: url("../fonts/muyalto.eot?#iefix") format("embedded-opentype"), url("../fonts/muyalto.woff") format("woff"), url("../fonts/muyalto.ttf") format("truetype"), url("../fonts/muyalto.svg#muyalto") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*	Survey Prompt
===========================================*/
#survey-prmt-ol {background-color: #000;}
.survey-prmt { display: none;background-color: #FFF;width:823px;height:480px;position:relative;z-index:2000; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;padding: 40px 40px;}
.survey-prmt * {font-family:"Lato","HelveticaNeue","Helvetica","Arial",sans-serif!important;}
.survey-prmt br {display:inline !important;}
.survey-prmt p {font-size: 16px; font-weight: 500;margin: 15px 0 20px}
.survey-prmt .survey-prmt-header{overflow:hidden;text-align:left;font-weight:300;font-size:28px;}
.survey-prmt button{color:#fff;background-color:#EB712D;-moz-box-shadow:#BA490B 0 3px 0;-webkit-box-shadow:#BA490B 0 3px 0;box-shadow:#BA490B 0 3px 0;max-width:280px;padding: 10px 35px;display:inline-block;font-size:17px;font-weight:400;border:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;cursor:pointer;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-right:5px}
.survey-prmt button:after{content: 'r';font-family: 'Muyalto';display: inline-block;font-size: 13px;padding-left: 5px;}
.survey-prmt button.no-thanks {background-color: #f2fbfa;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;color: #20a696;padding-bottom: 13px; border: 1px solid #20a696}
.survey-prmt button.no-thanks:after {content: ''; padding: 0}
.survey-prmt a{line-height: 1;position: absolute;right: 10px;top: 10px;text-align: center;font-weight: 700;cursor: pointer;font-size: 14px;}
.survey-prmt a:hover{text-decoration: underline}
.survey-prmt a:before{content: 'x';font-family: 'Muyalto';vertical-align: top;padding-right: 3px;font-weight: 300;display: inline-block;}
.survey-prmt a:hover:before{text-decoration: none}

/*	Survey Questions
===========================================*/
#debs-survey {
    background-color: #eee!important;
    margin: 0;
    min-width: 320px;
}

#debs-survey * {
    font-family: "Lato", HelveticaNeue, Helvetica, Arial, sans-serif;	
}

#debs-survey .survey-header {
    background-color: #FFF;
    width: 100%;
    border-bottom: 2px solid #00b39e;
    padding: 20px 0;
    height: 50px;
    overflow: hidden;
    position: relative;
}

#debs-survey .survey-header:before {
    content: '-';
    font-size: 250px;
    margin: 0 auto;
    color: #000;
    background-color: #FFF;
    font-family: 'Muyalto';
    left: 50%;
    position: absolute;
    margin-left: -125px;
    display: block;
    top: -90px;
}

/* Holding Page */

#debs-survey h1 {
    font-size: 28px;
    margin-top: 0;
    font-weight: 300;
}

#debs-survey .bg-text {
    font-size: 16px;
}

/* Form */
#debs-survey .form-body {
    background-color: #fff;
    margin: 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#debs-survey .form-wrapper {
    display: none;
}

#debs-survey .input input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

#debs-survey .input input[type="checkbox"]:checked:before {
    content: 'w';
    font-family: 'Muyalto';
    color: #00B39E;
    font-size: 14px;
    display: inline-block;
    padding: 1px 0 0 1px;
}

#debs-survey .input textarea {
    width:98%;
    margin-bottom: 10px;
}

#debs-survey .input .questionLabel {
    margin-bottom: 10px;
    margin-left:0;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

#debs-survey .input label:first-child {
    margin-left: 0;
}

#debs-survey .input label {
    display: block;
    font-size: 14px;
    margin-left: 20px;
}

#debs-survey .input h1 {
    display: none;
}

#debs-survey .input {
    overflow: hidden;
}

#debs-survey .nextPageButton {
    color: #fff;
    background-color: #EB712D;
    -moz-box-shadow: #BA490B 0 3px 0;
    -webkit-box-shadow: #BA490B 0 3px 0;
    box-shadow: #BA490B 0 3px 0;
    padding: 7px 20px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    font-weight: 400;
    margin-top: 20px;
}

#debs-survey .nextPageButton:after {
    content: 'r';
    font-family: 'Muyalto';
    font-size: 12px;
    display: inline-block;
    padding-left: 5px;
}

#debs-survey input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #ccc;
    border-radius: 20px;
    height:20px;
    width: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

#debs-survey input[type="radio"]:checked {
    background-color: #00B39E;
    box-shadow: 0px 0px 0px 3px #FFF inset;
    -webkit-box-shadow: 0px 0px 0px 3px #FFF inset;
    -moz-box-shadow: 0px 0px 0px 3px #FFF inset;
}

/* Linear radio btns */

/* Button titles */
#debs-survey .input > span {
    float: right;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
}

#debs-survey .radio-linear .radio-headers {
    float: right;
    width:50%;
    clear:both;
    margin-right: 5px;
    margin-bottom: 15px;
}

#debs-survey .radio-headers span {
    width: 16.66%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

#debs-survey .radio-headers.five-items span {
    width: 20.00%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}


#debs-survey .radio-q-wrap {
    overflow: hidden;
    width: 100%;
    padding: 15px 0;
    float: left;
    clear: both;
    border-top: 1px solid #ccc;
}

#debs-survey .radio-headers + .radio-q-wrap {
    border-top: 0;
}

#debs-survey .radio-q-wrap > * {
    float: left;
    width: 50%;
}

#debs-survey .radio-q-wrap .radio-btns-wrapper > span {
    width: 16.66%;
    display: inline-block;
    text-align: center;
}

#debs-survey .radio-q-wrap .radio-btns-wrapper.five-items > span {
    width: 20.00%;
    display: inline-block;
    text-align: center;
}

#debs-survey .radio-q-wrap input {
    margin:0;
    cursor: pointer;
}

#debs-survey .questionLabelLinear {
    font-size: 16px;
    font-weight: 400;
}

/* ERROR */
#debs-survey .error-no-input input {
    border: #C50000 2px solid !important;
}

#debs-survey .error {
    color: #C50000;
}

@media only screen and (max-width: 550px) {
    #debs-survey .form-body {
        margin: 5px;
        padding: 10px;
    }

    #debs-survey .input label {
        margin-left: 5px;
    }

    /* #debs-survey .radio-headers span {
            -ms-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    }*/
}

#survey-prmt-claire {
    background-image: url('/wcsstore/DebenhamsUKSite/Img/Survey/Survey-Intro.jpg');
    background-size: 823px 480px;
}

.survey-prmt-body {
    padding: 30px;
}

body#debs-survey.claire-survey div#form-body > h1 {
    display:none;
}

div#survey-prmt-claire button.no-thanks {
    display: none;
}

div#survey-prmt-claire .survey-prmt-header {
    display: none;
}

div#survey-prmt-claire .survey-prmt-body {
    margin-top: 35px;
}

div#survey-prmt-claire a#SurveyCloseButtonSmall {
    margin-top: 11px;
    margin-right: 8px;
    font-size: 18px;
    color: transparent;
}

body#debs-survey.claire-survey div.survey-header {
    /*display:none;*/
}

body#debs-survey.claire-survey div.form-body {
    margin-bottom:50px;
    margin-left:40px;
    margin-right:40px;
}

body#debs-survey.claire-survey {
    background-image: url('/wcsstore/DebenhamsUKSite/Img/Survey/survey-Background.png');
    /*background-image: url('/wcsstore/DebenhamsUKSite/Img/Survey/QuestionPopUp_Background.png');*/
    background-position: bottom;
    background-size: cover;
    min-height: 700px;
}

#debs-survey.claire-survey .survey-header {
    border-bottom: 0px #fff hidden;
}

body#debs-survey.claire-survey img.progress-indicator {
    width: 100%;
    height: 100%;
    position: relative;
    top: -19px;
}


#debs-survey.claire-survey .radio-q-wrap {
    overflow: hidden;
    width: 100%;
    padding: 15px 10px;
    float: left;
    clear: both;
    border-top: 0px none #000;
    background-color: #f2f2f2;
    margin: 5px 0px;
}

#debs-survey.claire-survey  .radio-q-wrap > * {
    margin-left: -12px;
}

body#debs-survey.claire-survey.emailfield form#survey > div.input > div.input,body#debs-survey.claire-survey.emailfield form#survey > div.input > div.input + p {
    background-color: #f2f2f2;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px;
}

#debs-survey.claire-survey.completed form#survey{
    text-align: center;
}

body#debs-survey.claire-survey.emailfield form#survey > div.input > div.input + p {
    font-size: smaller;
    color: gray;
    padding-top: 0px;
}

body#debs-survey.claire-survey.emailfield input#page_3_elem_CLREmailCapture {
    width: 40%;
    border-radius: 2px;
    height: 1.5em;
}

img#success-check {
    height: 75px;
}