/* BLACK FRIDAY LINK
 --------------------------------------------------------*/
@media (min-width: 1024px) and (orientation: portrait), 
(min-width: 971px) and (orientation: landscape) {
	li.header-black-friday-link {
		background-color: #000; 
		margin-left: 15px !important;
		margin-right: 8px !important;
		padding-left: 9px !important;
		padding-right: 9px !important;
	}

	li.header-black-friday-link > a {
		color: #fff !important; 
	}

	li.header-black-friday-link > a:hover {
		color: #fff !important; 
	}
}

@media (min-width: 550px) and (max-width: 1023px) and (orientation: portrait), 
(min-width: 550px) and (max-width: 970px) and (orientation: landscape) {
	.tablet-menu-show li.header-black-friday-link {
		background-color: #000 !important; 
	}

	.tablet-menu-show li.header-black-friday-link > a {
		color: #fff !important; 
	}

}

/* PSP Banners
 --------------------------------------------------------*/
/* === Default === */
#ad_PS_1 {padding-bottom: 10px}
#PSP_H1 {margin-right: 0; text-align: center}
#PSP_H1 #page_header {margin-bottom: 15px}
body#WC_Shop_ProductSelectionPage_PSP_Body .main-wrapper #page_header h1 .h1AttributeElements {line-height: 1; padding-top: 2px; font-weight: 300}
.psp-banner {padding-bottom: 20px; color: #000}
.psp-banner > div {width:630px; margin: 0 auto;}	
.psp-banner h2 {font-family: 'Georgia', 'Arial', sans-serif !important; font-size: 22px; font-style: italic; font-weight: 400; padding: 0; color: inherit;line-height: 1.2;padding-bottom: 8px;}
.psp-banner p {font-size: 16px; font-weight: 300; color: inherit}	
.psp-banner p a {font-weight: 400; color: inherit}	
.psp-banner p a:hover {font-weight: 400; color: inherit; text-decoration: underline}
.psp-banner .psp-links {padding-top: 12px}
.psp-banner .psp-links a {display: inline-block; margin-right: 20px; font-size: 16px; color: inherit; font-weight: 300; padding-bottom: 20px}
.psp-banner .psp-links a:last-child{margin-right: 0; padding-bottom: 0}
.psp-banner .psp-links a:after {display: inline-block;font-family: 'Muyalto';content: 'r';padding-left: 3px;font-size: 13px; vertical-align: middle;}
.psp-banner .psp-links a:hover {text-decoration: underline}
.psp-banner .psp-links a:hover:after {text-decoration: none;}
.psp-banner * {color: inherit}
.psp-banner.border-top {border-top:1px solid #ccc}
.psp-banner.border-bottom {border-bottom:1px solid #ccc}
/* === Attr Level === */
.psp-banner.attr-level {padding: 45px 0 0; margin-bottom: 20px; background-size: cover !important; height: 257px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box}
.psp-banner.attr-level > div {width:35%}
.psp-banner.attr-level {background-position: 100% 0 !important;}
.psp_bxslider ul.bxslider > li a {display:inline;}
/* New/old style banner fix */
#ad_PS_2{width: auto; text-align:inherit;}
#ad_PS_2 #herobox{left:50%;position:relative;margin-left:-380px;width:759px;text-align: left}
/* Slim banner */
.psp-sb-content {width: 100%;overflow: hidden; text-align: center}
.psp-sb-content a{display: block}
.psp-sb-content img {position: relative;left: 100%;margin-left: -200%}

@media screen and (max-width:1000px) {#PSP_H1 {margin: 0}}
@media screen and (max-width:900px) {
	.psp-banner.attr-level > div {width:30%}
}
@media screen and (max-width:850px) {
	.psp-banner.attr-level > div {margin-left: 30px;width: 320px;}
	.psp-banner.attr-level p, .psp-banner.attr-level .psp-links, .psp-banner.attr-level h2 {display: block;}
}

@media screen and (max-width:630px) {
	/*#WC_ContentAreaESpot_div_1_PS_1 img {width: 160%;margin-left: -22%;}*/
	.psp-banner > div {width:100%;}
	.psp-banner p, .psp-banner .psp-links {display: none;}
	.psp-banner.attr-level {display: none;}
	.psp-sb-content{display:none}
}
@media screen and (max-width:550px) { .psp-banner h2 {display: none;} }


/* Footer Dev styles (Dev3 + Dev4)
--------------------------------------------
--------------------------------------------*/
#ShopCartDisplay #checkoutOverlay{left:50%;top:50%;margin:-150px 0 0 -275px;}

#categoriespromotion_type a {color: #ed1944 !important;}
.item a {text-decoration: none;}
.item .discount_badge {background-color: #CC0000;position: absolute;top: 170px;left: 1px;}
.item .discount_savings {color: #ffffff;display: inline;float: left;font-size: 11px;font-weight: bold;padding: 2px 4px;}
#navigation_panel_container {border-top: 1px solid #FFFFFF;overflow: hidden;padding: 10px 0 5px;width: 100%;}
.no_display {display: none !important;}
#PSPEnhanced {display: none;}

/* Gift cards overlay
--------------------------------------------*/
#GC-overlay{background-color:#000;cursor:wait;}
#GC-dialog{display:inline;width:398px;height:398px;color:#333;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;background-position:top left;}
#GC-buy-card, #GC-personalise-card{clear:both; display:inline; float:left;}
#GC-dialog a.modalCloseImg{background:url('/wcsstore/DebenhamsIESite/Img/x.png') no-repeat;width:25px;height:29px;display:inline;z-index:3200;position:absolute;top:-12px;right:-15px;cursor:pointer;_background:none;_right:-14px;_width:22px;_height:26px;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wcsstore/DebenhamsIESite/Img/x.png',sizingMethod='scale');}
#GC-inner{position:absolute;left:85px;top:180px;width:275px;text-align:left;}
#GC-inner a.stronglink:hover{color:#000 !important;text-decoration: underline;}
#GC-buy-card{position: relative; top: -5px; left: 16px;}
#GC-personalise-card{position: relative; top: 168px; left:16px;}
#GC-buy-card span, #GC-personalise-card span{font-size:12px;}
#PR-dialog a.simplemodal-close{display:none;}

/* SimpleModal popup 
--------------------------------------------*/
#SM-dialog {display:inline;width:398px;height:398px;color:#333;border:2px solid #ddd;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;background-position:top left;background-repeat:no-repeat;}
#SM-dialog a.modalCloseImg {background: url('/wcsstore/DebenhamsStorefrontAssetStore/img/modal-x.png') no-repeat;width: 25px;height: 29px;display: inline;z-index: 3200;position: absolute;top: -12px;right: -15px;cursor: pointer;_background: none;_right: -14px;_width: 22px;_height: 26px;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wcsstore/DebenhamsIESite/Img/x.png',sizingMethod='scale');}
#SM-dialog .tandc {display: block;height: 46px;position: absolute;bottom: 0px;left: 0px;width: 399px;}

/* Expand and collapse content for PDP 
--------------------------------------------*/
.deb-vmore {overflow: hidden}
.deb-vmore .collapsed-content {display:block}
.deb-vmore.collapsed .collapsed-content {display:none}
.deb-vmore > a {display:none;float: right;margin-top: 5px}
.deb-vmore.collapsed > a {display:block}
.deb-vmore > a:hover {text-decoration: none}
.deb-vmore > a:before {font-family: "muyalto";content: "p";color: #20a696;font-size: 12px;margin-right: 5px}
.deb-vmore.expanded > a:before {content: "s"}
.deb-vmore > a > span {color: #20a696;font-size: 16px;font-weight: 700}
.deb-vmore .deb-pre,.deb-vmore.expanded .deb-post {display: inline}
.deb-vmore.expanded .deb-pre,.deb-vmore .deb-post {display: none}

/* Modify Video Icon 
--------------------------------------------*/
#pdpVideoTrigger {bottom: 5px;background: none;display: inline-block;width: 94px;height: 38px;border: 1px solid #20A696;border-radius: 6px;right: 65px;color: #20A696;font-weight: bold;}
#pdpVideoTrigger:before {content: 'P';font-family: 'Muyalto';font-size: 22px;float: left;line-height: 40px;padding: 0 7px 0 12px;}
#pdpVideoTrigger:after {content: 'Video';float: left;font-size: 17px;line-height: 40px;}

/* SB discount & OOS msg alignment fix
--------------------------------------------*/
#WC_Shop_OrderItemDisplay_Body .subtotal-discount,
#WC_Shop_OrderItemDisplay_Body .itemspecs {text-align:right;}
#WC_Shop_OrderItemDisplay_Body .out-of-stock-flag,
#WC_Shop_OrderItemDisplay_Body .low-stock-flag {margin-right: 25px}


/* Flix media video icon
 --------------------------------------------------------*/
#flix-minisite a img {display: none;}
#flix-minisite a {display: inline-block;width: 94px;height: 38px;border: 1px solid #20A696;border-radius: 6px;text-decoration:none;}
#flix-minisite a:before {content: 'P';font-family: 'Muyalto';font-size: 22px;float: left;line-height: 40px;padding: 0 7px 0 12px;}
#flix-minisite a:after {content: 'Video';float: left;font-size: 17px;line-height: 40px;}

.debs-footer-holder{padding-top:40px;}