/* CSS Document */

.dj_contentbox #dropdown_menu ul li ul.hidediv { /* hide dropdowns with CSS as soon as JS enabled, don't wait for JS to hide them */
	left:-999em;
	left:auto;
}

.dj_contentbox #dropdown_menu ul li.hovered ul.hidediv { /* hide dropdowns with CSS as soon as JS enabled, don't wait for JS to hide them */
	left:auto;
}


.dijitMenuBar {			
			margin:0;
			cursor:pointer;
			height:27px;
		}

		/* comment to allow mini shopping cart to be click able
		#dropdown_menu{
			z-index:1600;
		}*/
		
		.dijitMenuBar ul {
			list-style-image:none;
			list-style-type:none;
			list-style-position:outside;
			margin:0;
			padding:0;
		}

		.dijitMenuBar li {
			float:left;
			border-left:1px solid #3E3E3E;
			border-right:1px solid #181818;
			_width:1px;
		}
		
		.dijitMenuBar ul li.hovered a {
			background:#fff;
		}
		
		.dijitMenuBar ul li.inside a { /* K separated top level ones from dropdown ones*/
			color:#CCC;
			padding:0 12px;
			z-index:3000;
			text-decoration:none; 
			font-family:Tahoma,Arial,sans-serif;
			font-size:1.2em;
			height:32px;
			line-height:32px;
			display:block;
			white-space:nowrap;
		}
		
		.dijitMenuBar ul li.inside ul li a {
			color:#333;
			padding:0 12px;
			z-index:3001;
			text-decoration:none; 
			font-family:Tahoma,Arial,sans-serif;
			font-size:1em;
			height:18px;/* K shrank links a bit, shortns the dropdown*/
			line-height:18px;
			display:block;
			background: #fff;
			white-space:nowrap;
		}
		
		.dijitMenuBar ul li:hover a, .dijitMenuBar ul li.hovered a {/* K made top level ones stay white when they or their dropdown hovered*/
			background:#fff!important;
			color:#333;
			z-index:3001;
			text-decoration:none; 
			}
		.dijitMenuBar ul li a:hover {/* make sure hovered links have white background and dark colour*/
			background:#fff!important;
			color:#333333!important;
			}
		.dijitMenuBar ul li:hover ul li a, .dijitMenuBar ul li.hovered ul li a {/* K separated dropdown links style (in a hovered dropdown, I guess)*/
			background:#fff;
			color:#333333;
			z-index:43001;
			text-decoration:none; 
			}

		.dijitMenuBar ul li:hover ul li a:hover, .dijitMenuBar ul li.hovered ul li a:hover {/* K separated dropdown links style (in a hovered dropdown, I guess)*/
			background:#fff;
			color:#333333;
			z-index:3001;
			text-decoration:underline; 
			}

			
		.dijitMenuBar li#CachedHeaderDisplayMenuOverlayItem_1 {
			border-left-width:0;
		}

		
		.dijitMenuBar ul li a:hover {
			background: #fff!important;
		}
		
		
		.dijitMenuBar li ul {
			border:1px solid #dedede;
			border-top-width:0;
			background-color:#FFF;
			font-weight:normal;
			position:absolute;
			
			font-size:11px;
			z-index:3000;
			
			-moz-box-shadow: 1px 10px 15px #aaa;
			-webkit-box-shadow: 1px 10px 15px #aaa;
			box-shadow: 1px 10px 15px #aaa;
			
			/*white-space:nowrap;
			width:158px;*/
		}

		/* html .dijitMenuBar li ul li a{width:200px;} IE6, min-width 200px..*/
			
		.dijitMenuBar li ul li a:hover {
			text-decoration:underline;
		}

		.dijitMenuBar li ul ul {
			margin: -1.95em 0 0 158px;
		}
		
		.dijitMenuBar li ul li {
			float:none;
			border-width:0;
		}


		.dijitMenuBar .dijitHotKey {
			text-decoration:underline;
		}

		.tundra .dijitMenuBar .dijitMenuHasChildren {			
			background-repeat:no-repeat;
			background-position: right center;
		}
.remove_style .dijitMenuBar li ul {background:none; border:none;}


		/* all hovered LI's get white background, hopefully */
		.dijitMenuBar ul li:hover, .dijitMenuBar ul li.hovered {
			background:#fff!important;
		}
