.footer_body_panel {
	overflow: auto;
	background: #ffffff;
	width: 1000px;
	clear: both;
}

.footer_div {
	clear: both;
	overflow: auto;
	padding-left: 205px;
	padding-top: 16px;
	padding-bottom: 25px;
}

*html .footer_div {
	width: 791px;
}

#main_content_wrapper_layoutcontainerbottom_1 .footer,
#main_content_wrapper_layoutcontainerbottom .footer { /* _1_ K added prefix, rest of pages sometimes using .footer*/
	background: #171717;
	width: 1000px;
	margin-left: 0px;
}

#footer_navigation {
	background: url("../images/designineverydepartment.gif") no-repeat 32px
		62px;
}

.footer .footer_div h3 {
	margin-bottom: 0.75em;
	color: #cccccc;
	font-weight: normal;
	font-size: 1.1em;
}

.footer .footer_navigation_panel {
	float: left;
	width: 155px;
	padding-left: 3px;
}

.footer .footer_div ul.navigation {
	border-top: 1px solid #3e3e3e;
	padding:0;
}

.footer .footer_div ul.navigation li {
	float: none;
	margin: 7px 0px;
	list-style:none outside none;
}

.footer .footer_div ul.navigation li a {
	margin: 0px;
	color:#CCCCCC !important;
	list-style:none outside none; 
	font-family:Tahoma,Arial,sans-serif;
	font-size:11px;
}

.footer .footer_div ul.navigation li a:hover {
	color: #ccc;
}

.footer #subscribe_div {
	width: 350px;
	float: left;
}

.footer #subscribe_div p {
	color: #888888;
}

.footer #options_div {
	float: right;
	width: 380px;
	text-align: right;
	margin-right: 28px;
}

.footer #options_form div {
	display: inline;
	vertical-align: super;
}

.custom_input {
	border: 0 none;
	border-color: transparent;
	margin: 0px 0px 0px 3px;
	font-weight: bold;
	font-size: 1em;
	cursor: text;
	text-align: left;
	padding: 0px 4px 0px;
	height: 21px;
	vertical-align: middle;
}

.footer #email_div {
	height: 21px;
	width: 200px;
	background:
	url(../images/text_field_bg.gif) no-repeat top left;
	padding: 0px 3px 0px 0px;
	float: left;
	margin-right: 4px;
}

.footer #email {
	height: 15px;
	width: 193px;
	margin: 2px 0 0 3px;
	padding: 0px 0px 0px 4px;
	font-weight: normal;
}

.footer #email.firefox_pad {
	padding-top: 2px;
}

.footer #subscribe_btn {
	width: 78px;
	text-align: center;
	background: url(../images/button_bg.gif) no-repeat top left;
	cursor: pointer;
}

.footer #subscribe_btn :hover {
	background: url(../images/button_bg.gif) no-repeat 0px -21px;
}

* html a:hover #subscribe_btn {
	background: url(../images/button_bg.gif) no-repeat 0px -21px;
}

#promotion_type a.facet_title {
	color: #ee1c23 !important;
}

.footer_div {
	padding-left: 60px;
	padding-top: 16px;
	padding-bottom: 15px;
}

html .footer_div {
	width: 1000px;
	clear: both;
	overflow: auto;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 16px;
}

#footer_navigation {
	display: inline;
	float: left;
	background: url(../images/designineverydepartment.gif) no-repeat 32px 35px;
	padding-left: 0px;
}

#footer_disclaimer {
	text-align:center;
	width:980px;	
}

#footer_social {
	padding-left: 20px;
	background: url(../images/footer-social-icons.gif) no-repeat 0px 5px;
}

.footer .navigation_panel {
	float: left;
	width: 150px;
	padding-left: 3px;
}

.footer #subscribe_div {
	width: 1000px;
	float: left;
	display: inline;
}

#footer-cards-bg {
	background:url("../images/footer-all-cards.gif") no-repeat scroll right top transparent;
float:right;
margin:0 13px 0 0;
min-height:40px;
width:441px;
}

.footer a.notNormalLink {
	color: #888 !important;
	text-decoration: none !important;
}

.footer a.notNormalLink:hover {
	text-decoration: underline !important;
	color: #ccc !important;
}
.footer_div ul li a {	
	text-decoration: none; 
}
.footer_div ul li a:hover {	
	text-decoration: underline; 
}

