/*
31/05/13 header links back to bold+white
*/
#header_logo {
top: 27px;
}

#header-search {
width:200px; 
height:27px;
background: url('../images/search_field_bg.gif') 75px 0px no-repeat;
}

#CatalogSearchForm_searchKeywords {
padding-left: 0px;
position:relative;
}

#searchTextHolder {
padding-left:30px; 
background: url('../images/header-ireland-flag.gif') 0px 2px no-repeat;
}

.search-btn {
left: 175px;
}

#header_phone_message {
line-height:19px; 
padding-left: 20px; 
position:absolute; 
left:500px; 
top:12px; 
font-weight:bold; 

}

#header_phone_message span {
float:left;
color:#ccc !important;

}

#header_phone_gap {
display:block;
width:25px;
height:17px;
background: url('../images/header-phone-icon.gif') top right no-repeat;
}
/* New Header */
/* Header Logo */
#header #header_logo a h3 {display: none;}

#header #header_logo {
	float: left;
	cursor: pointer;
}

#welcomeMainDiv {
	float: right;
	right: 265px;
	position: relative;
	margin-top: 15px;
}

#headerLinks_container #headerLinks li {
	list-style: none;
	display: inline;
	border-left: #666666 1px solid;
	padding-left: 3px; 
    padding-right: 3px; 
} 
#headerLinks_container #headerLinks li a {
	color: #999;
}
#headerLinks_container #headerLinks li:last-child a {
    font-weight: bold;
}
#headerLinks_container #headerLinks li.last-child a {
    font-weight: bold;
}
#headerLinks_container #headerLinks .first-child {
	border-left: none;
}
#headerLinks_container #headerLinks .first-child {
	border-left: none;
}
/* Shopping basket */
#header #headerShoppingBasket {
	padding-left: 20px;
	margin-top: 12px;
	border-left: #4C4B4B 1px solid;
	position: absolute;
	left: 762px;
	top: 0px;
}
#header #headerShoppingBasket #headerShoppingBasketIcon {
	width: 48px;
	height: 57px;
	float: left;
	background: url('../img/icon-bag.png') no-repeat;
	_background: url('../img/icon-bag_png8.png') no-repeat;
	cursor:pointer;
	position:relative;
	z-index:1899; /* one less then the popup masks */
}
#header #headerShoppingBasket #headerShopCart {
	margin-right: 20px;
	float: left;
}
#header #headerShoppingBasket h4,#header #headerShoppingBasket h3 {
	display: block;
	float: left;
	width: 120px;
}
#header #headerShoppingBasket h4{width:150px}
#header #basket-items {
	color: #CCC !important;
}

/* Search Engine */
#header #CatalogSearchForm {
	position: absolute;
	left: 490px;
	top: 40px;
}	
#header #header-search {
	position: relative;	
	top: 0px;
	right: 0px;	
	height: 30px;
	width: 250px;
	background: url('../img/header_search_box.png') 0px 0px no-repeat ;
	_background: url('../img/header_search_box_png8.png') 0px 0px no-repeat;
	padding: 0px 5px 0px 5px;
}
#header-search .nodisplay, #header-search #searchTextHolder {
	display: none !important;
}
#header-search #searchTextHolder {
	background: none;
}	

#header-search #searchSuggestSelect {
	border: none;
	outline: none;
	width: 173px;
	font-size: 13px;
	margin: 0px !important;
	padding: 0px 0px 0px;
	line-height: 20px;
	height: 24px;
	background: none;
	/*_background: #FFFFFF;*/
}


#header-search #WC_CachedHeaderDisplay_button_1 {
	position: absolute;
	left: 190px;
	*left: 195px;
	_left: 195px;
	height: 27px;
	width: 51px;
	margin: 0px;
	padding: 0;
	border: 0;
	cursor: pointer;
	font-size: 10px;
	text-align: center;
	background: url('../img/header_search_button.png') 0px 0px no-repeat;
	_background: url('../img/header_search_button_png8.png') 0px 0px no-repeat;	
}
#header-search #WC_CachedHeaderDisplay_button_1:hover {
	background: url('../img/header_search_button.png') 0px -38px no-repeat;
	_background: url('../img/header_search_button_png8.png') 0px -38px no-repeat;	
}
#header-search #WC_CachedHeaderDisplay_button_1 span {
	color: #333 !important;
}


/* Shopping Basket Drop Down */
#quick_cart_container  {
	background: #FFFFFF;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 230px;
	_width: 248px;
	z-index: 4000;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-box-shadow: 1px 10px 15px #aaa;
	-webkit-box-shadow: 1px 10px 15px #aaa;
	box-shadow: 1px 10px 15px #aaa;
	border: 0px solid #DEDEDE;
	padding: 0px;
}
#quick_cart_container .checkOutButton, #MiniShopCartProductAdded .checkOutButton{
	display: block;
	text-align: center;
	color: #FFFFFF !important;
	font-size: 12px;
	height: 30px;
	text-decoration: none;
	font-weight: bold;
	padding-top: 15px;
	background: url('../img/button_purple.png') 0px 0px no-repeat;	
	clear:both;
	border:none;
	margin-left:6px;
}
#quick_cart_container{width:230px;}
#quick_cart_container .checkOutButton:hover {
	background: url('../img/button_purple.png') 0px -49px no-repeat;
	_background: url('../img/button_purple_png8.png') 0px -49px no-repeat;
}	
#MiniShopCartProductsList {
border-left: 1px solid #6E6E6E;
border-right: 1px solid #6E6E6E;}
/* Shopping bag products drop down */
#shoppingBagProducts li {
	list-style: none;
	border-bottom: 1px solid #e3e3e3;
	clear:both;
	padding-bottom: 10px;
	margin-bottom: 10px;
	height: 60px;
}
#shoppingBagProducts li a {
	float: left;
}
#shoppingBagProducts li a img {
	clear:both;
	margin-right: 10px;
	border: #ececec 1px solid;
	height:60px;
	width:60px;
	
}
#shoppingBagProducts li h4 a {
	float: left;
	font-size: 11px;
	color: #666666 !important;
	margin-bottom: 10px;
	font-weight: bold;
	}	
#shoppingBagProducts li h5 {
	font-weight: normal;
	
}	
#total_items strong{
padding-left:5px;
padding-bottom:5px;}

#quick_cart_container #total_items strong, #quick_cart_container #total_items #numberItems, #quick_cart_container #total_items #totalPrice {
	font-size: 13px;
	color: #666666 !important;
	margin-bottom: 10px;
	width: 60px;
	_width: 60px;
	display: block;
	float: left;
}
#quick_cart_container #total_items #numberItems {
	text-align: center;
}
#quick_cart_container #total_items #totalPrice {
	text-align: right;
	color: #DD1313 !important;
	font-weight: bold;
	padding-right: 4px;
    text-align: right;
    float:right;
}

#total_items #totalPrice{width:60px;}
#quick_cart_container #close a{
	color: #75297c !important;
	font-size: 10px;
}
#quick_cart_container #close {
	background-color: #FFFFFF;
	margin-bottom: 5px;
	text-align: right;	
}
#mini_shopping_cart {
	
    width: 150px;
    padding-left: 68px;
	margin-top: -55px;
	*margin-top: 0px; /*  (Issue with IE7 - TA - 20/03/12) */
	_margin-top: 0px; 
	/* *margin-top: -27px; (Issue with IE7 - TA - 20/03/12) */
}

#MiniShopCartProductsList, #MiniShopCartProductAdded{
border-left: 1px solid #E1E1E1;
border-right: 1px solid #E1E1E1;
border-bottom: 1px solid #E1E1E1;
padding-bottom:6px;
}
#MiniShopCartProductAdded #WC_MiniShopCartDisplay_div_9	{padding:10px;}
#MiniCartFocusReceiver1
{padding:10px;}

#WC_MiniShopCartDisplay_td_1_1 img {padding-right:4px;}

#header-loggedin {
position: absolute;
right: 520px;
top: 46px;
}
#header-loggedin #loggedin-hello {
font-weight:bold;
font-size:11px;
}
#header-loggedin #loggedin-hello a {
font-weight: normal;
}

/* Quick Drop Down Add to bag message - Remvoe Blue - 30th March 2012 - 10:04 */
#quick_cart #MiniShopCartProductAdded #WC_MiniShopCartDisplay_div_9 {
	font-weight: bold;padding: 10px 0px 10px 0px;text-align: center;background: white;border: 0px;
}
/*IE7 and IE6 alignment of quick shopping cart in header*/
#shoping_cart_main{*margin-top:-25px;}
#shoping_cart_main{_position:absolute !important;_left:10px;_top:55px;}

/*Drop down menu got overlapped in - IE6-Not able to select sub cat under top category from PDP page*/
#dropdown_menu{z-index:1601}


/* Payment Progress Page - One of the only CSS documents referenced in this page, so sadly this has to live in the header. */
#WC_Shop_PaymentProgress_Body {
	background: #FFFEFE url(/wcsstore/DebenhamsStorefrontAssetStore/img/quarantine_background.png) repeat-x !important;
}
#WC_Shop_PaymentProgress_Body #pay_header {
	background: none !important;
	margin-bottom: 20px !important;
}
#WC_Shop_PaymentProgress_Body .footer {
		border: #b9babd 1px solid;
	border-left: 0px;
	border-right: 0px;
	padding: 15px 0px 0px 0px;
	height: 50px;
	background: url(/wcsstore/DebenhamsStorefrontAssetStore/img/quarantine_secure.png) no-repeat 95% 50%;
}	

#WC_Shop_PaymentProgress_Body #progress {
	height: 315px;
}