/*
	04/09/12 - TA - Remove visited state along with 404 fix
	10/09/12 - TA - Removed pink colouring on facets
	09/10/12 - TB - Merged V7UK, fixed img links
	14/01/13 - TB - Social icons and footer flags

	VERSION: 1.09
 */


/*  --------------------------------------------------------------------------
	White Header
 -------------------------------------------------------------------------- */
body #page,
body #header,
.footer,
#footer_flag {background: none !important;}

/* Header */

/* Top Navigation */
body #main_navigation {z-index:1600; clear: both; display: inline;  float: left; height: 28px; padding-top: 0;text-align: center; width: 1000px;}
body #main_navigation  li {list-style: none; float: left; display: inline; height: 28px; position: relative; float:left;position:relative;z-index:1601;}
body #main_navigation  li .dropdown {display: none;}
body #main_navigation li .inner a{color: #4a4a4a !important; display: block;font-family: Tahoma,Arial,Sans-serif !important; font-size: 12px; font-weight: bold;  height: 28px;line-height: 28px; background: url('/wcsstore/DebenhamsStorefrontAssetStore/img/divider-grey-1x11.gif') no-repeat 100% 50%;}
body #main_navigation > li:hover .inner a {background: none;}
body #main_navigation #topnav_Offers .inner a {background: none;}
body #main_navigation .inner {border-right: 1px solid #fffefe;border-left: 1px solid #fffefe; }
body #main_navigation li a:visited {text-decoration: none !important;}
body #main_navigation li a:hover {text-decoration: none;}

/* Meganav */
body #main_navigation li .dropdown {border: 1px solid #A7A9AC;  padding: 30px 25px 10px 25px; position: absolute;  top: 28px;  z-index: 2500;background: #f4f3f4;}
body #main_navigation  .dropdown ul {display: inline; float: left; margin-right: 15px; width: 155px; font-size: 11px; text-align: left;}
body #main_navigation .dropdown ul li {display: block; list-style-image: url(data:0); width: 100%; margin-bottom: 7px; height: auto; line-height: 13px !important;}
body #main_navigation .dropdown ul h2 {color: #333333; font-weight: bold; height: 11px; padding-bottom: 10px; margin-bottom: 5px; border-bottom: 1px solid #c6c9ce; text-transform: uppercase; line-height: normal;font-size: 12px;}
body #main_navigation .dropdown a {background: none; display: inline; padding: 0px; color: #222222; font-size: 11px !important; font-weight: normal !important;}
body #main_navigation .dropdown a:hover {color: #777777;  }
body #main_navigation .dropdown ul.widecol {width: 170px; margin-right: 0px;}
body #main_navigation .dropdown ul.lastcol {margin-right: 0px;}

/* Hover */
body #main_navigation li:hover .inner { border-color: #a7a9ac; background: #f4f3f4; height: 29px; z-index: 3000; position: relative; left: -2px;}
body #main_navigation li:hover .inner a { /*color: #333132;*/ color: #000 !important; position: relative; left: 2px; }
body #main_navigation li:hover .dropdown {display: block;}


/* Sales button fix */
body #main_navigation li#topnav_Sale .mid { width: 74px; _width:50px !important; }
body #main_navigation li#topnav_Sale .inner { _width:50px !important; width: 74px; }
body #main_navigation li#topnav_Sale .inner a {background-image: none;}
body #main_navigation li#topnav_Sale .outer { _width:50px !important; }
body #main_navigation li#topnav_Sale:hover a.tcatLink {color: #000 !important;}
body #main_navigation #topnav_Sale a.tcatLink {color: #ffffff !important;}

/*  --------------------------------------------------------------------------
	White Footer
 -------------------------------------------------------------------------- */
/*** FOOTER **/
#w_footer .doubleBorder {border-bottom: #ededee 1px solid; border-top: #b9babc 1px solid; clear:both;}
#w_footer a {font-weight: normal; color: rgb(64, 64, 64); font-weight: normal;}
#w_footer li {font-size: 12px; line-height: normal;}
#w_footer h3 {padding: 0;}

/* Newsletter */
#footer_newsletter {	height: 24px;	padding: 15px 0px 15px 0px;}
#footer_newsletter h3 {color: #333132; font-size: 11px; font-family: "Tahoma", "Trebuchet MS", Arial, sans !important; margin-left: 30px; float: left; display:inline; height: 23px; line-height: 23px;}
#footer_newsletter #email_div #email {margin-top: 0px !important; height: 23px; line-height: 23px; padding: 0 0 0 6px; border: #a7a9ac 1px solid; width: 200px; margin-left: 10px; float: left; display: inline; font-weight: normal;  font-family: "Tahoma", "Trebuchet MS", Arial, sans; margin-right: 10px;}
#footer_newsletter #email_div {margin-right: 0px;background-image: none;padding-right: 30px;}
body #footer_newsletter #subscribe_btn {height: 25px; width: 78px !important; float: left; display: inline; text-align: center; color: #ffffff; font-weight: bold; font-size: 12px; background: url(/wcsstore/DebenhamsStorefrontAssetStore/img/subscribe_btn.png) no-repeat 0px 2px !important; border: none; cursor: pointer; padding: 0px; font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif !important;}
body #footer_newsletter #subscribe_btn:hover {background-position: 0px -23px !important;}

/* Marketing */
#footer_marketing {	height: 47px;	background: #f1f2f2 url(/wcsstore/DebenhamsStorefrontAssetStore/img/footer_background.png) repeat-x; }
#marketing_links {margin: 0px; padding: 0px; float: left; display: inline;}
#marketing_links li {width:170px;list-style: none; float: left; display: inline; height: 47px; padding: 0px 8px; line-height: 47px; border-right: #bbbdbf 1px solid; border-left: #ecf7f6 1px solid; text-align: center;}
#marketing_links li a span {background: url(/wcsstore/DebenhamsStorefrontAssetStore/img/footer_arrow.png) no-repeat 100% 50%; padding-right: 8px; font-family: Georgia, "Times New Roman", serif !important; font-size: 12px;}
#marketing_links li a {color: #333132; font-size: 12px; font-family: "Georgia", "Times New Roman", "Times", serif !important;}
#marketing_links li a:hover {text-decoration: none; color: #515152;}

/* Social */
#marketing_links #social_facebook { width: 18px; }
#marketing_links #social_twitter { width: 30px; }
#marketing_links #social_googleplus { width: 30px; }
#marketing_links #social_pinterest { width: 20px; }
#marketing_links #social_youtube { width: 60px; }
#marketing_links  #social_facebook a {padding: 0px; width: 18px; height: 25px; display: block; margin: 10px 0; background: url(/wcsstore/DebenhamsUKSite/Img/footer_sprite.png)  no-repeat 5px -45px;}
#marketing_links  #social_twitter a {padding: 0px; width: 30px; height: 25px; display: block; margin: 10px 0; background: url(/wcsstore/DebenhamsUKSite/Img/footer_sprite.png) no-repeat scroll 2px -82px transparent; }
#marketing_links  #social_googleplus a {padding: 0px; width: 30px; height: 30px; display: block; margin: 9px 0; background: url(/wcsstore/DebenhamsUKSite/Img/footer_sprite.png)  no-repeat 0px -136px;}
#marketing_links  #social_pinterest a {padding: 0px; width: 20px; height: 25px; display: block; margin: 10px 0; background: url(/wcsstore/DebenhamsUKSite/Img/footer_sprite.png) no-repeat scroll 0px -173px transparent; }
#marketing_links  #social_youtube a {padding: 0px; width: 60px; height: 25px; display: block; margin: 10px 0; background: url(/wcsstore/DebenhamsUKSite/Img/footer_sprite.png)  no-repeat 0px -106px; }
#marketing_links  #social_facebook a:hover,#marketing_links  #social_twitter  a:hover,#marketing_links  #social_youtube  a:hover, #marketing_links  #social_googleplus a:hover, #marketing_links  #social_pinterest a:hover
{opacity: 0.80;  filter: alpha(opacity = 80);}
#marketing_links #social_youtube {border-right: 0px;}



/* Site Map Headings */
#w_footer #footer_sitemap_heading {height: 32px; line-height: 32px;padding-left: 30px; border-top: 0px;}
#footer_sitemap_heading h3 {font-size:11px; font-weight: bold; color: #333132; float:left; display: inline; width: 190px; line-height: 32px;}

/* Site Map */
#footer_sitemap {padding: 0px 0px 0px 30px; *padding-left: 15px; height: 160px;}
#footer_sitemap .sitemap_block {float: left;display: inline; margin: 0px; padding: 0px; width: 190px;}
#footer_sitemap .sitemap_block li {list-style: none; padding: 10px 0px 0px 0px;}
#footer_sitemap .sitemap_block li a {font-size: 11px;}
#footer_sitemap .sitemap_block li a:hover {text-decoration: underline;}

/* Terms and cards */
#footer_terms_cards {height: 58px;  position: relative;}
#footer_terms_cards ul { margin: 0px; padding: 15px 0px 0px 20px;}
#footer_terms_cards ul li {list-style: none; border-right: #333132 1px solid; padding: 0px 5px 0px 5px; float: left; display: inline; }
#footer_terms_cards .last-item {border-right: none;}
#footer_terms_cards ul li a {color: #333132; font-size: 11px; font-weight: bold;}
#footer_terms_cards h4 { clear:both;padding: 5px 0px 15px 25px; color: #333132; font-size: 9px; font-weight: normal;}
#footer_terms_cards h4  a {font-size: 9px;}
#footer_terms_cards #accepted_cards {position: absolute;width: 402px;height: 37px;right: 25px;top: 7px;background: url(/wcsstore/DebenhamsUKSite/Img/footer_sprite.png) no-repeat 5px 0px;line-height: 37px;font-weight: bold;font-size: 12px;text-align: right;padding-right: 150px;}

/* Footer Flags */
#footer_flags {padding: 12px 0px 0px 25px; border-bottom: 0px; height: 130px; position: relative;}
#footer_flags a { position: relative; float: left; display: inline; text-align: center; width: 45px; height: 45px; text-indent: -9000px; background: url(/wcsstore/DebenhamsUKSite/Img/footer_flags.png) no-repeat 0px 0px; }
#footer_flags a:hover {opacity: 0.85;  filter: alpha(opacity = 85);}
#footer_flags a:hover span {color: #000;}
#footer_flags #uk {background-position: -310px 0px; left: 400px;}
#footer_flags #ireland {background-position: -420px 0px; left: 510px;}
#footer_flags  #germany {background-position: -542px 0px; left: 535px;}
#footer_flags #all {background-position: 0 -62px; position: absolute;display: block;width: 950px;height: 44px;top: 90px;left: 25px;}
#footer_flags  h4 {	color: #333132; font-size: 14px; font-weight: bold; margin: 0px; padding: 0px 0px 10px 0px; line-height: 16px;}
#footer_flags a span {color: #333132; font-size: 9px}


/*  --------------------------------------------------------------------------
	Old CSS in Header.html
 -------------------------------------------------------------------------- */
#breadcrumb_cat{ display: block; margin: 0 auto; width: 1000px;}
#t8 #body_wrapper{ display: inline;float: left;clear:both;}
#main_content_wrapper_layoutcontainertop{clear:both;}

/* NEW LAYOUTS */
#hidden_spots{display:none!important;}

/* NEW STYLES */
.bluebtn,.bluebtn span{position:relative!important;top:0!important;text-decoration:none!important;color:#fff!important;height:24px!important;line-height:24px!important;display:inline-block!important;cursor:pointer;}
.bluebtn{background-position:0 0!important;margin-right:17px;}
.bluebtn span{padding:0 12px 0 0!important;background-position:100% 0!important;right:-12px!important;font-weight:600!important;}
.bluebtn:hover{background-position:0 -25px!important;}
.bluebtn:hover span{background-position:100% -25px!important;}

.stronglink{margin-right:3px!important;text-decoration:none!important;}
.stronglink span{font-weight:bold!important;color:#000!important;background-position:100% -53px!important;padding:0 10px 0 0!important;}
.stronglink:hover span{color:#1564a0!important;background-position:100% -72px!important;text-decoration:none!important;}

.bluebtn,.bluebtn span,.stronglink span{filter:none!important;background-repeat:no-repeat;	background-image:url('/wcsstore/DebenhamsUKSite/Img/new-style-sprite.png') !important;_background-image:url('/wcsstore/DebenhamsUKSite/Img/new-style-sprite_8.png') !important;}

/* JQ SLIDESHOW ON T-CATS */
#jQnav {position:absolute;bottom:16px;background:transparent;z-index:1000;padding:0;margin:0;height:19px;left:11px;}
#jQnavMid {display:inline;float:left;height:19px;padding:2px 0 0 0;margin:0 0 0 470px;}
#jQnav a {outline:0;display:inline;float:left;width:15px;height:15px;overflow:hidden;text-indent:-123px;
    background:url('/wcsstore/DebenhamsUKSite/Img/new-style-sprite.png') -16px -52px no-repeat;padding:0;margin:0 1px 0 0;cursor:pointer;}
#jQnav .current {background-position:0 -52px;}
#WC_Shop_TopCategory_TCAT_Body #jQnav {bottom:-2px;}
#WC_Shop_TopCategory_TCAT_Body #jQnavMid {margin:0 0 0 390px;}
#WC_Shop_TopCategory_TCAT_Body #jQnav a{background-position:-16px -68px;}
#WC_Shop_TopCategory_TCAT_Body #jQnav .current {background-position:0 -68px;}
#espotalign_cat .advert_third a span{color:#000;}
#content588 {padding-top:0px;}

.no_display{display:none!important;}

/* Badging */
.item a{text-decoration: none;}:hover, .product_detail a:hover .discount_savings{text-decoration: none;}.item .discount_badge{background-color:#CC0000; position: absolute; top: 170px; left: 1px;}.item .discount_savings{color: #ffffff; display: inline; float: left; font-size: 11px; font-weight: bold; padding: 2px 4px;}
.item .quickDelivery_badge{ background-color: #ffffff; border: 1px solid black; display: inline-block; font-family: "Lato","HelveticaNeue","Helvetica","Arial",sans-serif !important; margin-bottom: 20px; padding: 0; text-align: center; box-shadow:2px 2px 2px #cccccc; position:relative; left:10px; bottom:0;} .item .quickDelivery_badge span{color: black;display: inline; font-size: 14px; line-height: 14px; padding: 4px 6px; font-weight:700;}
.item .productTxtCls .discount_price{color: #F42E38;}

/*  --------------------------------------------------------------------------
	Homepage fixes (Time between old style black homepage and white one)
 -------------------------------------------------------------------------- */
#hp_mid {border: none !important;}
#ad_HP_2 {background: none !important;}
#WC_Shop_TopCategoriesDisplay_Body #jQslides {border-bottom: #b9babc 1px solid !important;}
#WC_Shop_TopCategoriesDisplay_Body #jQnav a {background-position: -16px -67px;}
#WC_Shop_TopCategoriesDisplay_Body #jQnav .current {background-position:0 -67px;}



/* TA: Visted States */
#WC_Shop_TopCategoriesDisplay_Body #page a:visited,
#main_navigation a:visited,
#w_footer a:visited,
#header a:visited {text-decoration: none !important; outline: 0 !important;}

/* TA: Fix 404 back background */
.container {background: none !important;}

/* PRoverlay */
#PR-dialog{display:inline;width:398px;height:398px;color:#333;border:2px solid #ddd;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;background-position:top left;background-repeat:no-repeat;}


/* ----------------------------------------------------------------------------------------
Gallery page facets
---------------------------------------------------------------------------------------- */
#WC_Shop_GalleryDisplay_Body { background: white!important; }
#WC_Shop_GalleryDisplay_Body #main_content_wrapper_layoutcontainertop { background: white!important; }
#WC_Shop_GalleryDisplay_Body #body_content {width: 77.36% }
#WC_Shop_GalleryDisplay_Body h1 { padding: 0px 0;   font-size: 1.2em;   text-align: left;   font-weight: bold; }
#WC_Shop_GalleryDisplay_Body #breadcrumb_cat .breadcrumb_links { margin-left: 3.63% }
#WC_Shop_GalleryDisplay_Body .form-row label > span { display: none!important; }


/* ----------------------------------------------------------------------------------------
	Recently viewed carousel
---------------------------------------------------------------------------------------- */
.debRVslider {visibility: hidden}
.debRVslider img {z-index:1;position:relative;}
.debRVslider .bx-prev,.debRVslider .bx-next {text-indent: initial;background:#fff;position: absolute;top: 31%;width: auto;height: auto;font-size: 0;margin: 0;text-align: left;}
.debRVslider .bx-prev:hover,.debRVslider .bx-next:hover {text-decoration: none;}
.debRVslider .bx-prev:before,.debRVslider .bx-next:before,.debRVslider .bx-prev:after,.debRVslider .bx-next:after {font-family: "Muyalto";font-size: 32px;display:block;color:#20A696}
.debRVslider .bx-prev:before, .debRVslider .bx-prev:after {content: "q";}
.debRVslider .bx-next:before,.debRVslider .bx-next:after {content: "r"; margin-right: 0}
.debRVslider .bx-prev:after,.debRVslider .bx-next:after{color:#FFF;position: absolute;top: 0;}
.debRVslider .bx-prev:after{left:-3px;}
.debRVslider .bx-next:after{right:2px}
.debRVslider .bx-prev {left: -16px;}
.debRVslider .bx-next {right:-13px;}
.debRVslider .bx-pager{width:100% !important;text-align:center;height:12px;display:block;padding:15px 0;margin:0}
.debRVslider .bx-pager a{background:#ddd;height:15px;width:15px;display:inline-block;text-indent:-9999px;font-size:12px;border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;-moz-border-radius:50px;margin: 0 5px;}
.debRVslider .bx-pager a.pager-active{background:#EB712D;}
.pdp_row .debRVslider li {border-right:0; padding-left: 10px; padding-right: 30px}


/* 	Offers Bar
------------------------------------- */
[data-icon-before]:before{font-family:"muyalto"!important;content:attr(data-icon-before);font-style:normal!important;font-weight:400!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
[data-icon-after]:after{font-family:"muyalto"!important;content:attr(data-icon-after);font-style:normal!important;font-weight:400!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
#offer_bars{box-shadow:0 0 5px 0 #ccc;-webkit-box-shadow:0 0 5px 0 #ccc;background-color: #fff}
#offer_bars *{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
#offer_bars .del-bar{overflow:hidden;max-width:1000px;margin:0 auto;text-align: center}
#offer_bars .del-bar li{float:left;list-style:none;padding:0;margin:0;width:33.33%;text-align:center}
#offer_bars .del-bar li:last-child a{border-right:0}
#offer_bars .del-bar li a{display:inline-block;width:100%;margin: 10px 0;color:#000;font-size:13px;font-weight:400;border-right:1px solid #ccc;padding: 0;font-family: 'Lato', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif !important;}
#offer_bars .del-bar li a:before{color:#00B49E;padding-right: 9px;font-size:18px;vertical-align:top;display:inline-block}
#offer_bars .del-bar li:first-child{ text-align: left;}
#offer_bars .del-bar li:last-child{ text-align: right;}
#offer_bars .del-bar li a:hover:before{text-decoration: none}
#offer_bars .del-bar li a:hover{text-decoration:underline}
#offer_bars .del-bar img {max-width: 100%;}
#offer_bars .del-bar.del-two-col li{width:50%}

.genericESpot a { font-weight: initial }
#WC_ContentAreaESpot_div_1_HP_3 { clear: left }
#WC_ContentAreaESpot_div_1_HP_4 { clear: left }

#ad_Standard_Return_Policy a {
	font-weight: 700;
}