/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2008 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/* Perform mass width resets */
body,
html,
div#page,
div#content_wrapper,
table#order_details,
div.body,
div#shipping,
div#total_breakdown,
div#box
 {
	width: auto;
}




/* Perform mass element hiding */
div#header,
div#footer,
div#page_shadow,
div#checkout_crumb div.crumb span a, 
div#box div.content_footer,
div#checkout_crumb,
div#header_nav,
div#header_links,
div#header-search,
div#box div.main_header div.left img,
div#box div.main_header div.right img,
div#box div.contentline div.left img,
div#box div.contentline div.right img,
div.title,
div.left_nav_options,
div.left_nav,
div.left_nav_container,
#breadcrumb,
div.contentline,
div.my_account div.body div.order_details_my_account,
div.my_account div#WC_OrderShipmentDetails_div_2,
div.my_account div#WC_OrderShipmentDetails_div_6 {
	display: none;
	position: relative;
	margin: 0; padding: 0;
	width: 0; height: 0;
}


/* Remove background images from some elements */
body, 
#breadcrumb, 
#header,div#box div.main_header,
div#page,
div#page_shadow {
	background: #fff url('');
}

/*Make it so that no hidden elements overflow the page*/
#page {
	overflow: hidden;
}

/*Header realignment and addition of Order Confirmation text*/
#header, WC_CachedHeaderDisplay_div_1, CatalogSearchForm, header_links{
	margin-left: -20px;
	z-index: -1;
	width: 100px;
	overflow: hidden;
	border: 2px;
}

/* Display the printer header*/
#orderConfirmationHeader {
	display: block;
	float:left;
	font-size: 16pt;
}

/* Layout the printer header store logo to the left of the header text*/
#orderConfirmationHeader #orderConfirmImage {
	width: 200px;
	float: left;
}

/* Layout the printer header text to the right of the header store logo*/
#orderConfirmationHeader #orderConfirmText {
	width: 350px;
	padding-left: 200px;
	padding-top: 10px;
	float: left;
}

/* Remove border from bottom of billing information section */
#billing th,
#billing td {
	border-bottom: none;	
}

/* Re-aligns shipping address information*/
#shipping .shipping_address {
	padding: 1px 50px 5px 3px	
}

/* Re-aligns shipping method information*/
#shipping .shipping_method {
	float:left;
	padding:1px 0 5px 3px;
}
	
/* Adds a line under the Shipping Information title*/
div#box div.body {
	border-top: 1px solid #C9D3DE;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

/* Removes a line from above the Shipping Information title */
div#box div#WC_OrderShipmentDetails_div_6 {
	border: none;
}


/*Sets the width of the "Product" column of the product list grid*/
table#order_details td.details {
	width: 460px;
}


/*Sets the width of the "Total" column in the product list grid.*/
table#order_details td.total {
	width: 70px;
	padding-right: 17px;
}


/* Sets the width of Shipping Information and Billing Information sections 
of the page and removes the right and left borders. */
#box .my_account .body{
	width: 674px;
	border-right: none;
	border-left: none;
}

/* Sets the width for the order totals section as well as insetting it from the right. */
#total_breakdown {
	width: 600px;
	padding-right: 17px;
}

