#header-search {
	background: url("../images/search_field_bg.gif") no-repeat scroll 69px 0 transparent;
	height: 27px;
	width: 200px;
	right: 15px;
	top: 10px;	
	line-height: 20px;
	padding-right: 0;
	position: absolute;
	color: #999999 !important ;
	/* overflow: scroll; */
}
#widget_searchSuggestSelect_dropdown {
	z-index: 1603 !important;
}
.search-btnSS {
      background: url("../img/header_search_button.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 25px;
    left: 190px;
	top: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px; 
    position: absolute;
    width: 51px;
}

.search-input {
    background-color: transparent !important;
    background-image: none !important;
    border: 0 none !important;
    color: #999999;
    display: inline;
    font-family: sans-serif;
    font-size: 11px;
    margin: 1px !important;
    position: static !important;
    vertical-align: top !important;
    width: 90px;
}    


#searchTextHolder {
    background: url("../images/header-ireland-flag.gif") no-repeat scroll 0 2px transparent;
    padding-left: 30px;
    font-family: Tahoma,Arial,Verdana,Helvetica,sans-serif;
    font-size: 11px;
    display: inline !important;
    float: left;
    padding-right: 4px;
}

.search-txt {
    background-color: transparent !important;
    background-image: none !important;
    border: 0 none !important;
    color: #999999;
    display: inline;
    font-family: sans-serif;
    font-size: 11px;
    margin: 3px !important;
    position: static !important;
    vertical-align: top !important;
    width: 100% !important;
}    
/* from dijit.css */
.dijitPopup {
	position: absolute;
	background-color: transparent;
	margin: 0;
	border: 0;
	padding: 0;
}

.dijitMenu {
	top :3px;
	border: 0px ;
	margin: 0px;
	padding: 3px;
	background-color: #f7f7f7;
	color: #333333;
        font-family: Tahoma,Arial,sans-serif;
        font-size: 11px;	
}

.dijitMenuTable {
	margin:1px 0;
	border-collapse:collapse;
	border-width:0;
	background-color:white;
}

/* workaround for webkit bug #8427, remove this when it is fixed upstream */
.dj_webkit .dijitMenuTable td[colspan="2"]{
	border-right:hidden;
}

.dijitMenuItem{
	text-align: left;
	white-space: nowrap;
	padding:.1em .2em;
	cursor:pointer;
}

.dijitMenuPassive .dijitMenuItemHover,
.dijitMenuItemSelected {
	background-color: #FFFFFF;
	color:#000000;
	font-weight:bold;
}

.dijitMenuItemIcon, .dijitMenuExpand {
	background-repeat: no-repeat;
}

.dijitMenuItemDisabled * {
	/* for a disabled menu item, just set it to mostly transparent */
	opacity:0.3;
	cursor:default;
}
.dj_ie .dijit_a11y .dijitMenuItemDisabled td,
.dj_ie .dijitMenuItemDisabled *,
.dj_ie .dijitMenuItemDisabled td {
	color:gray !important;
	filter: alpha(opacity=35);
}

.dijitMenuItemLabel {
	position: relative;
	vertical-align: middle;
}

.dijit_a11y .dijitMenuItemSelected .dijitMenuItemLabel {
	border-width: 1px;
	border-style: solid;
}
.dijit_a11y .dijitMenuItemSelected {
	border: 1px #fff dotted !important;
}

.dijitMenuExpandA11y {
	display: none;
}
.dijit_a11y .dijitMenuExpandA11y {
	display: inline;
}

.dijitMenuSeparator td {
	border: 0;
	padding: 0;
}

/* separator can be two pixels -- set border of either one to 0 to have only one */
.dijitMenuSeparatorTop {
	height: 50%;
	margin: 0;
	margin-top:3px;
	font-size: 1px;
}

.dijitMenuSeparatorBottom {
	height: 50%;
	margin: 0;
	margin-bottom:3px;
	font-size: 1px;
}

/* the checked menu item */
.dijitCheckedMenuItemIconChar {
	vertical-align: middle;
	visibility:hidden;
}
.dijitCheckedMenuItemChecked .dijitCheckedMenuItemIconChar {
	visibility: visible;
}
.dijit_a11y .dijitCheckedMenuItemIconChar {
	display:inline !important;
}
.dijit_a11y .dijitCheckedMenuItemIcon {
	display: none;
}



/* from tundra Menu.css */
.searchSuggest .dijitMenu,
.searchSuggest .dijitMenuBar {
	top :3px;
	border: 0px ;
	margin: 0px;
	padding: 3px;
	background-color: #f7f7f7;
	color: #333333;
        font-family: Tahoma,Arial,sans-serif;
        font-size: 11px;	
}

.searchSuggest .dijitBorderContainer .dijitMenuBar {
	border:1px solid #ccc;
}

.searchSuggest .dijitMenuItem {
	font-family: sans-serif;
	margin: 0;
}

.searchSuggest .dijitMenuBar .dijitMenuItem {
	font-family: sans-serif;
	margin: 0;
}

.searchSuggest .dijitMenuPreviousButton, .searchSuggest .dijitMenuNextButton {
	font-style: italic;
}
.searchSuggest .dijitMenuItem td {
	padding: 2px;
}

.searchSuggest .dijitMenuPassive .dijitMenuItemHover,
.searchSuggest .dijitMenuItemSelected {
	background-color: #FFFFFF;
	color:#000000;
	font-weight:bold;
}

.searchSuggest .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}

.searchSuggest .dijitMenuExpand {
	width: 7px;
	height: 7px;
	background-position: -14px 0px;
}
.dj_ie6 .searchSuggest .dijitMenuExpand {
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.searchSuggest .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}

.searchSuggest .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}

/* the checked menu item */
.searchSuggest .dijitCheckedMenuItemIconChar {
	display: none;
}

.searchSuggest .dijitCheckedMenuItemIcon {
	background-position: -80px;
}

.dj_ie6 .searchSuggest .dijitCheckedMenuItemIcon {
}

.searchSuggest .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}

/* from tundra form/Common.css */

/****
		dijit.form.TextBox
		dijit.form.ValidationTextBox
		dijit.form.SerializableTextBox
		dijit.form.RangeBoundTextBox
		dijit.form.NumberTextBox
		dijit.form.CurrencyTextBox
		dijit.form.NumberSpinner
		dijit.form.ComboBox (partial)
 ****/

.searchSuggest .dijitInputField INPUT,
.searchSuggest .dijitTextBox,
.searchSuggest .dijitComboBox,
.searchSuggest .dijitSpinner {
	margin: 0em 0.1em;
}

.searchSuggest .dijitTextBox,
.searchSuggest .dijitComboBox,
.searchSuggest .dijitSpinner,
.searchSuggest .dijitTextArea {
	font-family: sans-serif;
	font-size: 100%;
	vertical-align: middle;
    	width: 180px;
    	_width:150px;
}

.searchSuggest .dijitTextArea {
	padding: 3px;
}

.searchSuggest .dijitTextBox,
.searchSuggest .dijitComboBox,
.searchSuggest .dijitSpinner,
.searchSuggest .dijitTextArea,
.searchSuggest .dijitInlineEditor input {
	/* 	For all except dijit.form.NumberSpinner:  the actual input element.
		For TextBox, ComboBox, Spinner: the div that contains the input.
		Otherwise the actual input element.
	*/
	border:0px;
	line-height: normal;
	font-size: 1em;
}

.searchSuggest .dijitTextBox input,
.searchSuggest .dijitComboBox input,
.searchSuggest .dijitSpinner input {
    background-color: transparent !important;
    background-image: none !important;
    border: 0 none !important;
    color: #999999;
    display: inline;
    font-family: sans-serif;
    font-size: 11px;
    margin: 3px !important;
    _margin: -10px 0 0 3px !important;
    position: static !important;
    vertical-align: top !important;
    width: 100% !important;
}

.searchSuggest .dijitTextBoxDisabled,
.searchSuggest .dijitComboBoxDisabled,
.searchSuggest .dijitSpinnerDisabled,
.searchSuggest .dijitTextAreaDisabled {
	color: gray;
}
.dj_webkit .searchSuggest .dijitTextBoxDisabled,
.dj_webkit .searchSuggest .dijitComboBoxDisabled,
.dj_webkit .searchSuggest .dijitSpinnerDisabled,
.dj_webkit .searchSuggest .dijitTextAreaDisabled {
	color: #eee;
}

/* ComboBox specifix rules*/
.searchSuggest .dijitComboBox .dijitInputField {
	padding: 1px 0;
	border-top-width:3px;
}

.searchSuggest .dijitComboBox .dijitButtonNode {
	padding: 1px 0.2em;
}
.searchSuggest .dijitComboBox .dijitButtonNode,
.searchSuggest .dijitSpinner .dijitButtonNode {
	/* line between the input area and the drop down button */
	border-color: #9b9b9b;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	visibility: hidden;
	display: none;
}

.searchSuggest .dijitTextBoxFocused,
.searchSuggest .dijitComboBoxFocused,
.searchSuggest .dijitSpinnerFocused, .searchSuggest .dijitSpinnerUpArrowActive, .searchSuggest .dijitSpinnerDownArrowActive,
.searchSuggest .dijitTextAreaFocused {
	/* input field when focused (ie: typing affects it) */
	border-color:#406b9b;
}
.searchSuggest .dijitComboBoxFocused .dijitButtonNode,
.searchSuggest .dijitSpinnerFocused .dijitButtonNode,
.searchSuggest .dijitSpinnerUpArrowActive .dijitButtonNode,
.searchSuggest .dijitSpinnerDownArrowActive .dijitButtonNode {
	border-left-color:#366dba;
}
.searchSuggest .dijitSpinnerFocused .dijitDownArrowButton,
.searchSuggest .dijitSpinnerUpArrowActive .dijitDownArrowButton,
.searchSuggest .dijitSpinnerDownArrowActive .dijitDownArrowButton {
	border-top-color:#366dba;
}

.searchSuggest .dijitError {
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .searchSuggest .dijitError INPUT {
	/* background-color: transparent on an <input> doesn't work on IE6 */
	background-color:#f9f7ba !important;
}

.searchSuggest .dijitErrorFocused {
	background-color:#f9f999;
	background-image:none;
}
.dj_ie6 .searchSuggest .dijitErrorFocused INPUT {
	/* background-color: transparent on an <input> doesn't work on IE6 */
	background-color:#f9f999 !important;
}

/* Validation errors  */
.searchSuggest .dijitValidationIcon {
	/* prevent height change when widget goes from valid to invalid state */
	width: 16px;
    display: block;
    float: right;
    height: auto;
    padding: 0 2px;
    visibility: hidden;	
}

.searchSuggest .dijitValidationIconText {
    display: none;
    float: right;
    font-family: sans-serif;
    font-size: 0.75em;
    font-style: italic;
    line-height: 160%;
    padding-right: 0.15em;
    visibility: hidden;
}


/* inline edit boxen */
.searchSuggest .dijitInlineValue {
	/* span around an inline-editable value when NOT in edit mode */
	padding:3px;
	margin:4px;
}


/* MOW: trying to get this to look like a mini-dialog.  Advised? */
.searchSuggest .dijitInlineEditor {
	/* fieldset surrounding an inlineEditor in edit mode */
	display: inline-block;
	display: -moz-inline-stack;
	#display:inline;
	/*
	border-style: solid;
	border-color: #7788a0 #344257 #344257 #7788a0;
	border-width:1px 2px 2px 1px;
	-moz-border-radius:0px 2px 0px 2px;	make BL and TR corners indent on Moz so it looks like we have a shadow
	background-color:white;
	*/
}

.dijitInlineEditor .saveButton,
.dijitInlineEditor .cancelButton {
	margin:3px 3px 3px 0px;
}

/* The highlight is shown in the ComboBox menu. */
.searchSuggest .dijitComboBoxHighlightMatch {

}


.searchSuggest .dijitReset {
	margin:0;
	border:0;
	padding:0;
	line-height:normal;
	font: inherit;
	color: inherit;
}

.searchSuggest .dijitLeft {
	background-position: left top;
	background-repeat: no-repeat;
}

.searchSuggest .dijitInlineTable {
	display: -moz-inline-stack;
	display:inline-table;
	display:inline-block;	
	box-sizing: content-box; -moz-box-sizing: content-box;
	border:0;
	padding:0;
}

.searchSuggest div.dijitArrowButton {
    float: right;
}

.searchSuggest .dijitButtonNode, .dijitButtonNode * {
    cursor: pointer;
}

.searchSuggest .dijitButtonNode {
    line-height: normal;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.searchSuggest .dijitRight {
    background-position: right top;
    background-repeat: no-repeat;
}

.searchSuggest .dijitComboBox .dijitArrowButtonInner {
    display: block;
}

.searchSuggest .dijitButtonNode .dijitArrowButtonInner {
    background: none no-repeat scroll center center transparent;
    width: 16px;
}

.searchSuggest .dijitArrowButtonChar {
    display: none !important;
}

.searchSuggest .dijitInputField {
    overflow: hidden;
}