@charset "utf-8";

/* ######################################################

	[要素のスタイル初期化]
	
	適用範囲: Webサイト共通
	※追記・改変の際は、管理者に問い合わせること

######################################################## */

body,abbr,blockquote,code,dfn,em,h1,h2,h3,h4,h5,h6,
kbd,p,pre,cite,div,q,samp,span,strong,var,ul,ol,li,dl,dt,dd,param,
hr,ins,del,form,fieldset,label,legend,caption.table,th,td,img {margin: 0;padding: 0;border: none;outline: none;vertical-align: baseline;font-size: 100%;font-family:"ヒラギノ角ゴ Pro W3",'Helvetica Neue',"メイリオ","ＭＳ Ｐゴシック",sans-serif;}
abbr,code,dfn,em,kbd,cite,q,samp,span,strong,var,strong {display: inline;font-style: normal;}
h1,h2,h3,h4,h5,h6,em,strong {font-weight: bold;}
input, fieldset, form, textarea {font-size: 100%;font-family: "ヒラギノ角ゴ Pro W3",'Helvetica Neue',"メイリオ","ＭＳ Ｐゴシック",sans-serif;}
body {font-size: 62.5%; /* = 10px */line-height: 1.4;color: #333333;/* background-color: #f5f3f0; */}

li {list-style: none;}
input[type=text] {/* height: 1em; */line-height: 1em;}
img {vertical-align: bottom;}

/*  リンク色 */
a {text-decoration: none;color: #1D3685;}
a:link {/* color:#000; */color: #1D3685;}
a:visited {color: #1D3685;}
a:hover,a:active {/* text-decoration: underline;color: #cc6600; */color: #20ACEC;}
:focus {outline: none;}