@charset "utf-8";

/* 環境 */

/* CQ Rteプラグイン用CSS作成
アラート コンポーネント ベース
---------------------------------*/
/*
.support .infoBoard{
  border-top: 5px solid #CCC;z
  background: #F6F6F6;
}
*/
/*
.support .infoBoard h2
*/
#CQrte h2 {
  padding:7px 20px;
  margin:0;
  font-size:16px;
  border-bottom:solid 1px #D3D3D3;
}

/*
.support .infoBoard .sectionBody
*/
#CQrte ul,
#CQrte ol{
  padding:7px 20px;
  border-top:solid 1px #fff;
}
/*
.support p
*/
#CQrte p{
  margin: 0 0 5px;
  line-height: 1.4;
}
/*
.support .point{
*/
#CQrte .point{
  display: block;
  padding: 2px 0 2px 22px;
  background:url(//askul.c.yimg.jp/resource/images/shared/icn/notice03_icn.png) no-repeat 0 2px;
}

/* CQ Rteプラグイン用CSS作成
 アラート的なコンポーネント1
---------------------------------*/
#CQrte ul li {
  margin: 0 0 5px 15px;
  font-size: 12px;
}
/* END アラート的なコンポーネント1
---------------------------------*/
/*
.support .contentHeader p {
	margin:0 20px;
}
.support .section,
.support .infoBoard{
	margin:0 0 20px;
}
*/
/*
.support .section h2,
.support .infoBoard h2
*/
#CQrte h2 {
  padding:0 20px 3px;
  margin:0 0 10px;
  border-bottom:solid 1px #ccc;
  font-size:22px;
  font-weight:bold;
}

/*
.support .section h3,
.support .section h4,
.support .infoBoard h3,
.support .infoBoard h4
*/
#CQrte h3 h4 {
  margin:0 0 10px;
  font-size:18px;
  font-weight:bold;
}

/*
.support .section .sectionBody,
.support .infoBoard .sectionBody{
	padding:0 20px;
}
.support .section .sectionBody img{
  display:block;
  padding:1px;
  border:solid 1px #ccc;
}
*/
/*
.support .section ol,
.support .infoBoard ol
*/
#CQrte ol {
	margin:0 0 20px 22px;
}
/*
.support .section ol li,
.support .infoBoard ol li
*/
#CQrte ol li {
  list-style:outside decimal;
  margin:0 0 15px;
  font-weight:bold;
}
/*
.support .section ol li p,
.support .infoBoard ol li p
*/
#CQrte ol li p {
	font-weight:normal;
}
/*
.support .section ul li,
.support .infoBoard ul li
*/
#CQrte ul li {
  list-style:outside disc;
  margin: 0 0 4px 15px;
}
/*
.support .sectionBody ul > li > ul
*/
#CQrte ul > li > ul {
  margin-top: 4px;
}
/*
.support .section .innerSection,
.support .infoBoard .innerSection {
  margin-bottom:15px; 
}
*/