@charset "utf-8";

@media only screen and (min-width: 600px){
#content {
  width: 100%;
  margin: 0 auto;
}
}

img {
  max-width: 100%;
}
/*     font-color
------------------------------*/
.txtRed{color:#D80000;}
.txtYellow{color:#F7C500}
.txtBlue{color:#0047B3}
.txtGreen{color:#339900}
.txtGray{color:#999999}

.fwb {font-weight:bold;}
/* popup */
.popup{
  margin:0 auto;
  width: 760px;
  font-size:14px;
}
.popup.pc_width{
  width: 960px;
}
.popup .linkBlank{
  display: inline-block;
  padding: 0 11px 0 0;
  margin: 0 2px;
  background: url(//askul.c.yimg.jp/resource/images/shared/icn/popup-icn.png) no-repeat right .4em;
}
/* ページトップへコンポーネント
---------------------------------*/
.popup .pageTop{
  margin: 20px 0 0;
  font-size: 12px;
  text-align: right;
  clear: both;
}
.popup .pageTop a{
  background: url(//askul.c.yimg.jp/resource/images/shared/icn/pagetop-icn.png) no-repeat left center;
  padding: 0 0 0 12px;
}
/* END ページトップへコンポーネント
---------------------------------*/
.popup .popcloseBtn{
  margin: 10px auto 0;
  text-align: center;
}
.btn{
  display: inline-block;
  margin: 0 2px;
  padding: 0.5em 2em 0.55em;
  -webkit-border-radius:.4em;
  -moz-border-radius:.4em;
  border-radius:.4em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: medium none;
  font: bold 14px/100% Arial,Helvetica,sans-serif;
  text-align: center;
  text-decoration: none !important;
  vertical-align: baseline;
  white-space: nowrap;
}
.btn.popupClose{
  background: #f3f3f3;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
  border:solid 1px #d4d4d4;
  color: #5B5B5B;
}
#header{
  margin:0 0 10px;
  padding:14px 7px 12px;
  border-top:solid 5px #333;
  border-bottom:solid 3px #999;
}
#header .headerInner{
  margin-left: 20px;
}
#siteLogo img {
  width: 206px;
  height: 29px;
  display: block;
}
#footer{
	margin:20px 0 0;
}
#footer .footerInner{
  border-left:solid 1px #424242;
  border-right:solid 1px #8B8A8A;
  border-top:solid 1px #000;
  background-color: #595757;
  color: #B5B5B6;
  font-size: 10px;
  text-align: left;
}
#footer .footerInner p{
  margin:0;
  padding:3px 20px;
  border-bottom:solid 1px #333;
  border-top:solid 1px #8B8A8A;
  color:#B5B5B6;
  font-size:10px;
  text-align:left;
}
#footer .footerInner p.copy{
  padding:3px 20px;
  border-top:1px solid #777;
  color:#000;
  font-size:10px;
  text-align:left;
}


/*   パンくずコンポーネント 
------------------------------*/
.breadcrumb{
  margin:0 0 20px 20px;
  font-size:12px;
}
.breadcrumb li{
  display:inline-block;
  _display:inline;
  *display:inline;
  margin-left:5px;
}
.breadcrumb li a{
  padding-right:10px;
  background: url(//askul.c.yimg.jp/resource/images/shared/bg/arrow-topicpath-bg-02.gif) no-repeat right center;
}
/* END  パンくずコンポーネント 
------------------------------*/

/*    目次コンポーネント
------------------------------*/
.tableOfContents{
  margin:0 0 20px;
  padding:15px 15px 10px;
  border:5px solid #ccc;
  background-color: #f6f6f6;
}
.tableOfContents h2{
  margin:0 0 5px;
  font-size:16px;
}
.tableOfContents ul li{
  margin: 0 0 3px 15px;
  list-style-type:disc;
  list-style-position:outside;
}
.tableOfContents ul li a span{
	color:inherit;
}
/*  END  目次コンポーネント
------------------------------*/

/*    h1コンポーネント
------------------------------*/
.support .contentHeader{
	margin:0 0 20px;
}
.support .contentHeader h1{
  margin:0 0 10px;
  padding: 0 2px 5px 20px;
  font-size:26px;
  font-weight:bold;
}
.support .contentHeader h1.bdr{
  border-bottom: 2px solid #000;
}
/*  END  h1コンポーネント
------------------------------*/
.support .contentHeader p {
	margin:0 20px;
}
.support .section,
.support .infoBoard{
	margin:0 0 20px;
}
.support .section h2,
.support .infoBoard h2{
  padding:0 20px 3px;
  margin:0 0 10px;
  border-bottom:solid 1px #ccc;
  font-size:22px;
  font-weight:bold;
}
.support .section h3,
.support .section h4,
.support .infoBoard h3,
.support .infoBoard h4 {
  margin:0 0 10px;
  font-size:18px;
  font-weight:bold;
}
.support .section .sectionBody,
.support .infoBoard .sectionBody{
	padding:0 20px;
}
.support .section .sectionBody img{
  display:block;
  padding:1px;
  border:solid 1px #ccc;
}
.support .section ol,
.support .infoBoard ol{
	margin:0 0 20px 22px;
}
.support .section ol li,
.support .infoBoard ol li{
  list-style:outside decimal;
  margin:0 0 15px;
  font-weight:bold;
}
.support .section ol li p,
.support .infoBoard ol li p{
	font-weight:normal;
}
.support .section ul li,
.support .infoBoard ul li{
  list-style:outside disc;
  margin: 0 0 4px 15px;
}
.support .sectionBody ul > li > ul{
  margin-top: 4px;
}
.support .section .innerSection,
.support .infoBoard .innerSection {
  margin-bottom:15px; 
}


/*  アラート カラー バリエーション
---------------------------------*/
.support .infoBoard.yellowBlock{ border-top:solid 5px #f1b802; background:#fff4c4;}
.support .infoBoard.yellowBlock h2{ border-bottom:solid 1px #edc674;}
.support .infoBoard.yellowBlock .sectionBody{ border-top:solid 1px #fffae1;}

.support .infoBoard.redBlock{ border-top:solid 5px #ee2b2b; background:#ffe1e1;}
.support .infoBoard.redBlock h2{ border-bottom:solid 1px #e87171;}
.support .infoBoard.redBlock .sectionBody{ border-top:solid 1px #fffbfb;}

.support .infoBoard.greenBlock{ border-top:solid 5px #390; background:#ECF2E8;}
.support .infoBoard.greenBlock h2{ border-bottom:solid 1px #B3CEA3;}
.support .infoBoard.greenBlock .sectionBody{ border-top:solid 1px #fff;}

.support .infoBoard.blueBlock{ border-top: solid 5px #4B9DE0; background: #EBF3FC;}
.support .infoBoard.blueBlock h2{ border-bottom:solid 1px #B1D1E7;}
.support .infoBoard.blueBlock .sectionBody{ border-top:solid 1px #fff;}
/* アラート コンポーネント ベース
---------------------------------*/
.support .infoBoard{
  border-top: 5px solid #CCC;
  background: #F6F6F6;
}
.support .infoBoard h2{
  padding:7px 20px;
  margin:0;
  font-size:16px;
  border-bottom:solid 1px #D3D3D3;
}
.support .infoBoard .sectionBody{
  padding:7px 20px;
  border-top:solid 1px #fff;
}
.support p{
  margin: 0 0 5px;
  line-height: 1.4;
}
.support .point{
  display: block;
  padding: 2px 0 2px 22px;
  background:url(//askul.c.yimg.jp/resource/images/shared/icn/notice03_icn.png) no-repeat 0 2px;
}

/*          SP 
------------------------------*/
@media only screen and (max-device-width: 599px){
img {
	max-width: 98%;
}
body {
	-webkit-text-size-adjust: none;
}
/*   SP用 HEADER
-----------------------*/
#header {
  margin: 0 0 10px;
  padding: 0;
  border-top: none;
  border-bottom: solid 2px #D3D3D3;
  background: #F7F7F7;
}
#header .headerInner {
	margin-left: 0;
  padding: 5px 10px 5px;
  border-bottom: 1px solid #fff;
  background: #F7F7F7;
}
#siteLogo img {
  /*width: 36%;*/
  width: 114px;
  height: 16px;
  display: block;
}

/*   SP用 FOOTER
-----------------------*/
#footer .footerInner {
  border-left: none;
  border-right: none;
  border-top: solid 2px #333333;
  background-color: #696969;
  color: #FFF;
  font-size: 10px;
  text-align: left;
}
#footer .footerInner p {
  margin: 0;
  padding: 5px 10px;
  border-bottom: none;
  border-top: none;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}
#footer .footerInner p.copy {
  padding: 1px 0 5px;
  border-top: none;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}


.popup, .popup.pc_width {
  width: 100%;
}
#content {
  width: 100%;
  margin: 0 auto;
}
.innerContent {
  margin: 0 5px;
}
.support .contentHeader P {
  margin: 0 0 5px 5px;
}
.support .contentHeader P:last-child {
  margin: 0 0 0 5px;
}
.support .section h2 {
  padding: 0 5px 3px;
  margin: 0 0 10px;
  font-size: 14px;
}
.support .infoBoard h2 {
  padding: 5px;

  font-size: 14px;
}
.support .infoBoard h3,
.support .infoBoard h4,
.support .section h3,
.support .section h4 {
	font-size: 14px;
}
.support p {
	font-size: 12px;
}
.support .infoBoard .sectionBody {
	padding: 5px !important;
}
.support .section .sectionBody {
	padding: 0 5px 5px;
}
.support .infoBoard .sectionBody ul,
.support .section .sectionBody > ul {
  margin-left: 3px;
}
.support .section ul li {
  margin: 0 0 5px 15px;
  font-size: 12px;
  word-break: break-all;
}
.support .point {
  padding: 0px 0 2px 10px;
  background: url(//askul.c.yimg.jp/resource/images/shared/icn/notice03_icn.png) no-repeat 0 2px;
  background-size: 10px 10px;
  -webkit-background-size: 10px 10px;
}
/*    h1コンポーネント
------------------------------*/
.support .contentHeader {
	margin: 0 0 20px;
}
.support .contentHeader h1 {
	font-size: 14px;
  margin: 0 0 10px;
  padding-left: 5px !important;
}
/*  END  h1コンポーネント
------------------------------*/ 
/*  パンくずコンポーネント 
------------------------------*/
.breadcrumb {
	font-size: 10px;
  margin: 0 0 20px;
  padding: 0; 
}
/* END  パンくずコンポーネント 
------------------------------*/

/*      目次コンポーネント
---------------------------------*/
.tableOfContents {
  padding: 5px;
}
.tableOfContents h2 {
  font-size: 14px;
}
.tableOfContents ul {
  margin-left: 3px;
}
.tableOfContents ul li {
  font-size: 12px;
}
/*  END   目次コンポーネント
---------------------------------*/

/* アラート的なコンポーネント1
---------------------------------*/
.support .infoBoard.noticeBlock h2 {
  padding: 5px 10px;
  font-size: 14px;
}
.support .infoBoard.noticeBlock .sectionBody {
	padding: 5px 10px;
}
.support .infoBoard ul li {
  margin: 0 0 5px 15px;
  font-size: 12px;
}
/* END アラート的なコンポーネント1
---------------------------------*/

.popup .infoDesk h2 {
  padding: 5px 10px;
  font-size: 14px;
}
.popup .infoDesk .sectionBody {
  padding: 5px 10px;
}
}

/*          SP 
------------------------------*/
@media only screen and (max-device-width: 599px){
img {
	max-width: 98%;
}
body {
	-webkit-text-size-adjust: none;
}
/*   SP用 HEADER
-----------------------*/
#header {
  margin: 0 0 10px;
  padding: 0;
  border-top: none;
  border-bottom: solid 2px #D3D3D3;
  background: #F7F7F7;
}
#header .headerInner {
	margin-left: 0;
  padding: 5px 10px 5px;
  border-bottom: 1px solid #fff;
  background: #F7F7F7;
}
#siteLogo img {
  /*width: 36%;*/
  width: 114px;
  height: 16px;
  display: block;
}

/*   SP用 FOOTER
-----------------------*/
#footer .footerInner {
  border-left: none;
  border-right: none;
  border-top: solid 2px #333333;
  background-color: #696969;
  color: #FFF;
  font-size: 10px;
  text-align: left;
}
#footer .footerInner p {
  margin: 0;
  padding: 5px 10px;
  border-bottom: none;
  border-top: none;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}
#footer .footerInner p.copy {
  padding: 1px 0 5px;
  border-top: none;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}


.popup, .popup.pc_width {
  width: 100%;
}
#content {
  width: 100%;
  margin: 0 auto;
}
.innerContent {
  margin: 0 5px;
}
.support .contentHeader P {
  margin: 0 0 5px 5px;
}
.support .contentHeader P:last-child {
  margin: 0 0 0 5px;
}
.support .section h2 {
  padding: 0 5px 3px;
  margin: 0 0 10px;
  font-size: 14px;
}
.support .infoBoard h2 {
  padding: 5px;
  font-size: 14px;
}
.support .infoBoard h3,
.support .infoBoard h4,
.support .section h3,
.support .section h4 {
	font-size: 14px;
}
.support p {
	font-size: 12px;
}
.support .infoBoard .sectionBody {
	padding: 5px !important;
}
.support .section .sectionBody {
	padding: 0 5px 5px;
}
.support .infoBoard .sectionBody ul,
.support .section .sectionBody > ul {
  margin-left: 3px;
}
.support .section ul li {
  margin: 0 0 5px 15px;
  font-size: 12px;
  word-break: break-all;
}
.support .point {
  padding: 0px 0 2px 10px;
  background: url(//askul.c.yimg.jp/resource/images/shared/icn/notice03_icn.png) no-repeat 0 2px;
  background-size: 10px 10px;
  -webkit-background-size: 10px 10px;
}
/*    h1コンポーネント
------------------------------*/
.support .contentHeader {
	margin: 0 0 20px;
}
.support .contentHeader h1 {
	font-size: 14px;
  margin: 0 0 10px;
  padding-left: 5px !important;
}
/*  END  h1コンポーネント
------------------------------*/ 
/*  パンくずコンポーネント 
------------------------------*/
.breadcrumb {
	font-size: 10px;
  margin: 0 0 20px;
  padding: 0; 
}
/* END  パンくずコンポーネント 
------------------------------*/

/*      目次コンポーネント
---------------------------------*/
.tableOfContents {
  padding: 5px;
}
.tableOfContents h2 {
  font-size: 14px;
}
.tableOfContents ul {
  margin-left: 3px;
}
.tableOfContents ul li {
  font-size: 12px;
}
/*  END   目次コンポーネント
---------------------------------*/

/* アラート的なコンポーネント1
---------------------------------*/
.support .infoBoard.noticeBlock h2 {
  padding: 5px 10px;
  font-size: 14px;
}
.support .infoBoard.noticeBlock .sectionBody {
	padding: 5px 10px;
}
.support .infoBoard ul li {
  margin: 0 0 5px 15px;
  font-size: 12px;
}
/* END アラート的なコンポーネント1
---------------------------------*/

.popup .infoDesk h2 {
  padding: 5px 10px;
  font-size: 14px;
}
.popup .infoDesk .sectionBody {
  padding: 5px 10px;
}
}


/*          SP 
------------------------------*/
@media only screen and (min-device-width: 600px) and (max-device-width: 1000px) {
img {
	max-width: 98%;
}
body {
	-webkit-text-size-adjust: none;
}
/*   SP用 HEADER
-----------------------*/
#header {
  margin: 0 0 10px;
  padding: 0;
  border-top: none;
  border-bottom: solid 2px #D3D3D3;
  background: #F7F7F7;
}
#header .headerInner {
	margin-left: 0;
  padding: 5px 10px 5px;
  border-bottom: 1px solid #fff;
  background: #F7F7F7;
}
#siteLogo img {
  /*width: 36%;*/
  width: 114px;
  height: 16px;
  display: block;
}

/*   SP用 FOOTER
-----------------------*/
#footer .footerInner {
  border-left: none;
  border-right: none;
  border-top: solid 2px #333333;
  background-color: #696969;
  color: #FFF;
  font-size: 10px;
  text-align: left;
}
#footer .footerInner p {
  margin: 0;
  padding: 5px 10px;
  border-bottom: none;
  border-top: none;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}
#footer .footerInner p.copy {
  padding: 1px 0 5px;
  border-top: none;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}


.popup, .popup.pc_width {
  width: 100%;
}
#content {
  width: 100%;
  margin: 0 auto;
}
.innerContent {
  margin: 0 5px;
}
.support .contentHeader P {
  margin: 0 0 5px 5px;
}
.support .contentHeader P:last-child {
  margin: 0 0 0 5px;
}
.support .section h2 {
  padding: 0 5px 3px;
  margin: 0 0 10px;
  font-size: 14px;
}
.support .infoBoard h2 {
  padding: 5px;
  font-size: 14px;
}
.support .infoBoard h3,
.support .infoBoard h4,
.support .section h3,
.support .section h4 {
	font-size: 14px;
}
.support p {
	font-size: 12px;
}
.support .infoBoard .sectionBody {
	padding: 5px !important;
}
.support .section .sectionBody {
	padding: 0 5px 5px;
}
.support .infoBoard .sectionBody ul,
.support .section .sectionBody > ul {
  margin-left: 3px;
}
.support .section ul li {
  margin: 0 0 5px 15px;
  font-size: 12px;
  word-break: break-all;
}
.support .point {
  padding: 0px 0 2px 10px;
  background: url(//askul.c.yimg.jp/resource/images/shared/icn/notice03_icn.png) no-repeat 0 2px;
  background-size: 10px 10px;
  -webkit-background-size: 10px 10px;
}
/*    h1コンポーネント
------------------------------*/
.support .contentHeader {
	margin: 0 0 20px;
}
.support .contentHeader h1 {
	font-size: 14px;
  margin: 0 0 10px;
  padding-left: 5px !important;
}
/*  END  h1コンポーネント
------------------------------*/ 
/*  パンくずコンポーネント 
------------------------------*/
.breadcrumb {
	font-size: 10px;
  margin: 0 0 20px;
  padding: 0; 
}
/* END  パンくずコンポーネント 
------------------------------*/

/*      目次コンポーネント
---------------------------------*/
.tableOfContents {
  padding: 5px;
}
.tableOfContents h2 {
  font-size: 14px;
}
.tableOfContents ul {
  margin-left: 3px;
}
.tableOfContents ul li {
  font-size: 12px;
}
/*  END   目次コンポーネント
---------------------------------*/

/* アラート的なコンポーネント1
---------------------------------*/
.support .infoBoard.noticeBlock h2 {
  padding: 5px 10px;
  font-size: 14px;
}
.support .infoBoard.noticeBlock .sectionBody {
	padding: 5px 10px;
}
.support .infoBoard ul li {
  margin: 0 0 5px 15px;
  font-size: 12px;
}
/* END アラート的なコンポーネント1
---------------------------------*/

.popup .infoDesk h2 {
  padding: 5px 10px;
  font-size: 14px;
}
.popup .infoDesk .sectionBody {
  padding: 5px 10px;
}
}



/* 最新のお知らせコンポーネント 
------------------------------*/
.newsBord {
  height: 100%;
}

.innerContent:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;s
}

.support .newsBord p {
	font-size: 14px;
}

div.newsList,
div.newsDetails {
	padding: 0 0 10px;
	float: left;
	_display: inline;
	width: 740px;
	margin-top: 10px;
}

div.newsList h1.newsTtl,
div.newsDetails h1.newsTtl {
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
	font-size: 26px;
	padding: 0 2px 5px 20px;
}

div.newsList .new-ico {
  display: inline-block;
  background-color: #ffff00;
  color: #000;
  margin: 0;
  font-size: 12px;
  padding: 0 6px;
  margin-right: 8px;
  vertical-align: text-top;
  font-weight: bold;
}

@media only screen and (max-device-width: 769px){
div.newsList,
div.newsDetails {
	padding: 0 0 10px;
	float: none;
	_display: inline;
	width: 100%;
	margin-top: 20px;
}

.support .newsDetails .contentHeader {
margin: 0 0 10px;
}


div.newsList h1.newsTtl,
div.newsDetails h1.newsTtl {
  font-size: 16px;
  padding: 0 2px 5px 5px;
}

div.newsList .new-ico {
  display: inline-block;
  background-color: #ffff00;
  color: #000;
  margin: 0;
  font-size: 12px;
  padding: 0 6px;
  margin-right: 8px!important;
  vertical-align: text-top;
  font-weight: bold;
}
}

/* カテゴリーアイコン設定 --*/
.newsBord .folder {
  background: url(../images/shared/icn/ico_newslist_14.png) no-repeat 0 -84px;
  background-size: 14px auto;
}

.newsBord .ico01 {
  background: url(../images/shared/icn/ico_newslist_14.png) no-repeat 0 4px;
  background-size: 14px auto;
}

.newsBord .ico02 {
  background: url(../images/shared/icn/ico_newslist_14.png) no-repeat 0 -40px;
  background-size: 14px auto;
}

/* カテゴリーアイコン設定 --*/
@media only screen and (max-device-width: 599px){
.newsBord .folder {
  background: url(../images/shared/icn/ico_newslist.png) no-repeat 0 -86px;
  background-size: 14px auto;
}

.newsBord .ico01 {
  background: url(../images/shared/icn/ico_newslist.png) no-repeat 0 2px;
  background-size: 14px auto;
}

.newsBord .ico02 {
  background: url(../images/shared/icn/ico_newslist.png) no-repeat 0 -42px;
  background-size: 14px auto;
}
}


/* 最新のお知らせリスト --*/
div.newsList dl {
	margin: 0;
}

div.newsList dt {
	float: left;
	width: 120px;
	padding: 1px 10px 6px 20px;
	clear: both;

}

div.newsList dd {
	padding: 0 10px 6px 20px;
	margin-bottom: 9px;
	border-bottom: #ccc dashed 1px;
}

div.newsList dd:first-child {
	border-top: #ccc dashed 1px;
}

div.newsList dd span {
  display: block;
  margin: 0 0 3px 130px;
  padding: 0;
  color: #999999;
  word-break: break-all;
}

div.newsList dd span a {
  font-size: 16px;
  display: block;
}

@media only screen and (max-device-width: 769px){
div.newsList dd span a {
  font-size: 14px;
  display: block;
}
}

div.newsList dd span.folder {
	padding-left: 20px;
}


@media only screen and (max-device-width: 769px){
div.newsList dd span.folder {
  font-size: 12px;
}

div.newsList dl {
	margin: 0 0 0 0;
	width: 100%;
	/*border-top: #ccc dashed 1px;*/
}

div.newsList dt {
	float: left;
	width: auto;
	padding: 0 5px 3px;
	clear: both;
	font-size: 12px;
}

div.newsList dd {
	width: auto;
	padding: 0 5px 9px;
	border-bottom: #ccc dashed 1px;
   margin-bottom:9px;
}

div.newsList dd:first-child {
	border-top: #ccc dashed 1px;
}

div.newsList dd span {
  display: block;
  margin: 0 0 3px 130px;
  padding: 0;
  color: #999999;
}

div.newsList dd span:last-child {
  margin: 0;
  clear:both;
}

div.newsList dd span.folder-ico01 {
	padding-left: 25px;
}
}


/* 最新のお知らせカテゴリメニュー --*/
div.newsCat {
	float: right;
	_display: inline;
	width: 200px;
	margin:0;
	padding: 0 0 5px;
}

div.newsCat p {
	font-weight: bold;
	border-bottom: #ccc solid 2px;
	font-size: 16px;
	padding:20px 5px 5px;
}

div.newsCat ul {
	padding: 0 5px;
}

div.newsCat ul li {
	list-style: none!important;
	line-height: 1.6;
	padding: 4px 0;
	margin: 0 0 0 0!important;
	font-size: 13px;
}

div.newsCat ul li:last-child {
	border:none;
}

div.newsCat ul li a {
	display: block;
	padding-left:25px
}

div.newsCat ul li a.current {
  font-weight: bold;
}

@media only screen and (max-device-width: 599px){
div.newsCat {
	float: none;
	width: 100%;
	padding: 0 0 10px;
	border-bottom: #ccc solid 1px;
	margin: 20px 0 0 0;
}
}
@media only screen and (max-device-width: 949px){
div.newsCat{
	float:none;
	width:95%;
}
div.newsList, div.newsDetails{
	float:none;
}
}

/* 最新のお知らせ本文 -------*/
.entryCat {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.entryCat span {
  display: block;
}

.entryCat:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.entryCat .catName {
  float: right;
  padding:0 30px 0 0;
}

@media only screen and (max-device-width: 599px){
.entryCat .catName {
  float: right;
  padding:0 20px 0 0;
}
}

.entryCat .catName span {
  padding-left: 22px;
  color: #999;
}

@media only screen and (max-device-width: 599px){
.entryCat .catName span {
  padding-left: 20px;
  color: #999;
  font-size: 12px;
}
}

.newsBord .date {
float: right;
padding: 0 20px 0 0;
}

.newsBord .guideWysiwyg {
  padding:0 20px;
  margin:0;
  word-break: break-all;
}

.newsBord .infoBoard .guideWysiwyg {
  padding:0;
  margin:0;
  word-break: break-all;
}

.newsDetails p + p {
  margin-bottom: 15px;
}

@media only screen and (max-device-width: 599px){
.newsBord .date {
float: right;
padding: 0 5px 0 0;
font-size:12px;
}

.newsDetails .section {
  padding:0;
  word-break: break-all;
}

.newsDetails .infoBoard h2 {
  margin: 0;
}


.newsDetails p + p {
  margin-bottom: 15px;
}
}






.simpleHeader {
margin: 0 0 10px;
padding: 14px 7px 12px;
border-top: solid 5px #333;
border-bottom: solid 3px #999;
}

.simpleHeader h1 {
display: inline-block;
float: none;
background: url(//askul.c.yimg.jp/resource/images/sp/common/images/parts/sprites/icon_header_logo.png) no-repeat 0 0;
background-size: 206px auto;
height: 33px;
width: 230px;
text-indent: -9999px;
margin-left: 20px;
}

.simpleHeader h1 a:link, header h1 a:visited {
text-decoration: none;
color: #333;
display: block;
padding-bottom: 10px;
}

.drugError {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0;
}

.drugError .section {
	margin: 30px auto 20px;
	min-height: 50px;
	text-align: center;
}


#footerInnerBottom{
	margin:20px 0 0;
	background-color: #696969;
	letter-spacing: -0.001em; 
  border-left:solid 1px #424242;
  border-right:solid 1px #8B8A8A;
  border-top:solid 1px #000;
  background-color: #595757;
  color: #B5B5B6;
  font-size: 10px;
  text-align: left;
}

#footerInnerBottom p{
  margin:0;
  padding:3px 20px;
  border-bottom:solid 1px #333;
  border-top:solid 1px #8B8A8A;
  color:#B5B5B6;
  font-size:10px;
  text-align:left;
}

#footerInnerBottom p.copyright{
  padding:3px 20px;
  border-top:1px solid #777;
  color:#000;
  font-size:10px;
  text-align:left;
}

p.backBtn {
	text-align: center;
}

a#btnBack {
-webkit-border-radius: 1.4em;
-moz-border-radius: 1.4em;
-o-border-radius: 1.4em;
-ms-border-radius: 1.4em;
border-radius: 1.4em;
padding: 10px 25px;
clear: both;
margin: 0;
text-shadow: none!important;
-webkit-box-shadow: none!important;
-moz-box-shadow: none!important;
color: #5b5b5b;
border: solid 1px #D4D4D4;
background: #FFFFFF;
background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F3F3F3));
background: -webkit-linear-gradient(#FFFFFF, #F3F3F3);
background: -moz-linear-gradient(#FFFFFF, #F3F3F3);
background: -o-linear-gradient(#FFFFFF, #F3F3F3);
background: -ms-linear-gradient(#FFFFFF, #F3F3F3);
background: linear-gradient(#FFFFFF, #F3F3F3);
font-weight: bold;
}


@media only screen and (max-device-width: 599px){
#wrapper {
position: relative;
min-height: 100%;
}

header.simple {
-webkit-box-shadow: none;
box-shadow: none;
border-bottom: 1px solid #FFF;
height: 38px;
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f3f3f3));
position: relative;
z-index: 21;
}

.simpleHeader {
margin: 0;
padding: 0;
border-top: none;
border-bottom:none;
}

header.simple h1 {
display: inline-block;
float: none;
background: url(//askul.c.yimg.jp/resource/images/sp/common/images/parts/sprites/icon_header_logo.png) no-repeat 10px 0;
background-size: 115px auto;
height: 16px;
width: 178px;
margin-top: 12px;
margin-left: 0;
text-indent: -9999px;
}

header h1 a:link, header h1 a:visited {
text-decoration: none;
color: #333;
}

.drugError {
	margin: 5px 0 20px;
	width: 100%;
}

.drugError .section {
	margin: 0 20px;
}

#footerInnerBottom {
padding: 15px 0;
}

#footerInnerBottom{
	margin:0;
	background-color:none;
	letter-spacing: 0; 
  border-left:none;
  border-right:none;
  border-top:none;
  background-color:none;
  color: #FFF;
  font-size: 10px;
  text-align: left;
}

#footerInnerBottom p{
  margin:0;
  padding:0;
  border-bottom:none;
  border-top:none;
  color:#FFF;
  font-size:10px;
  text-align:center;
}

#footerInnerBottom p.copyright{
  padding:0;
  border-top:none;
  color:#FFF;
  font-size:10px;
  text-align:center;
}

.cfx {
display: block;
min-height: 1%;
position: relative;
}

.cfx:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}


}

@media only screen and (max-device-width: 999px){

	footer { margin: 0px 0 0 0; border-top: 2px solid #575757; background-color: #696969; font-size: 11px; letter-spacing: -0.001em; }
	
	footer {
	margin: 10px 0 0 0;
	border-top: 2px solid #575757;
	background-color: #696969;
	font-size: 11px;
	letter-spacing: -0.001em;
	}
	
	footer #copyrightWrap {
	float: none;
	width: auto;
	text-align: center !important;
	border: none;
	padding: 0 5px;
	color: #FFF;
	}
}