/* 
    Document   : aboutus
    Created on : Jul 30, 2014, 11:42:41 AM
    Author     : Andesoft
    Description:
        Purpose of the stylesheet follows.
*/

/********************************** About Us What We Do CSS Starts Here *****************************************/

#block-views-about-us-block-what-we-do {
    overflow: hidden; width: 100%; float: left; border-top: 1px solid #a4a4a4; padding-top: 35px; margin-bottom: 0;
}

#main #block-views-779a2cb0f85e6a0135bc79156d60b286 .view .item-list {
    margin-bottom: 0;
}

#block-views-about-us-block-what-we-do .views-field-field-sub-heading .field-content table, #block-views-about-us-block-what-we-do .views-field-body .field-content table {
    margin-bottom: 0;
}

.logged-in #block-views-about-us-block-what-we-do .quick-edit-link {margin-bottom: 20px;}

#block-views-about-us-block-what-we-do .view-about-us .views-field-title span.field-content {
    color: #2f9cd5;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
}
#block-views-about-us-block-what-we-do .view-about-us .views-field-title {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
#block-views-about-us-block-what-we-do .view-about-us .views-field-field-about-icon {
    font-family: Tikona-IconFont;
    margin-left: 10px;
    font-size: 28px;
    color: #2f9cd5;
    line-height: 23px;
}
/*#block-views-about-us-block-what-we-do .view-about-us .views-field-field-sub-heading {
    clear: both;
    background-color: #fff;
    color: #646464;
    padding: 11px 18px 8px;
    border-radius: 10px;
    margin: 15px 0 25px;
    line-height: 1.4;
    font-size: 20px;
}*/
#block-views-about-us-block-what-we-do .view-about-us .views-field-body p {
    margin-bottom: 10px;
}
#block-views-about-us-block-what-we-do .view-about-us .views-field-body .leftHd {
    /*border-right: 1px solid #bfbfbf;
    box-shadow: 1px 0 0 #fff;
    padding-right: 27px;
    float: left;
    width: 45.5%;*/
    width: 100%;
}
#block-views-about-us-block-what-we-do .view-about-us .views-field-field-designation2 .rightHd { 
    width: 46%;
}

/********************************** About Us What We Do CSS Ends Here *****************************************/

/********************************** About Us Vision Section CSS Starts Here *****************************************/

#block-views-779a2cb0f85e6a0135bc79156d60b286 {
    clear: both;
    background-color: #2d9ed6;
    margin-top: 20px;
    padding: 0px 25px 25px 25px;
    color: #fff;
    overflow: hidden;
}
#block-views-779a2cb0f85e6a0135bc79156d60b286 .view-display-id-block_vision_and_mission ul li {
    width: 46%;
    padding: 0 1% 0 1%;
    margin-top: 35px;
    float: left;
    color: #fff;
    list-style-image: none;
    list-style-type: none;
    height: 290px;
}
#block-views-779a2cb0f85e6a0135bc79156d60b286 .view-display-id-block_vision_and_mission ul li:first-child {
    border-right: 1px solid #2686b5;
    box-shadow: 1px 0 0 #57b1de;
}
#block-views-779a2cb0f85e6a0135bc79156d60b286 .view-display-id-block_vision_and_mission ul li:last-child {
    padding-left: 40px;
}
#block-views-779a2cb0f85e6a0135bc79156d60b286 .view-display-id-block_vision_and_mission ul li .views-field-field-about-icon {
    font-family: Tikona-IconFont;
    font-size: 85px;
    height: 109px;
    width: 97px;
    line-height: 100px;
}
#block-views-779a2cb0f85e6a0135bc79156d60b286 .view-display-id-block_vision_and_mission ul li .views-field-title {
    font-family: UbuntuBold;
    font-size: 24px;
    text-transform: uppercase;
}
/*#block-views-779a2cb0f85e6a0135bc79156d60b286 .view-display-id-block_vision_and_mission ul li .views-field-body p, #block-views-779a2cb0f85e6a0135bc79156d60b286 .view-display-id-block_vision_and_mission ul li .views-field-body .visionTextWrapper { 
    margin: 10px 0 0 0;
    font-size: 14px;
}*/

/********************************** About Us Vision Section CSS Ends Here *****************************************/

/********************************** About Us Values Section CSS Starts Here *****************************************/

#block-views-about-us-block-values {
    overflow: hidden;
}
#block-views-about-us-block-values h2 {
    color: #2f9cd5;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 23px;
    padding-top: 10px;
}
#block-views-about-us-block-values .view-display-id-block_values {
    margin: 35px 0;
}
#block-views-about-us-block-values .view-display-id-block_values ul li {
    width: 23%;
    float: left;
    margin-right: 1.5%;
    list-style-image: none;
    list-style-type: none;
}
#block-views-about-us-block-values .view-display-id-block_values ul li .views-field-field-about-icon {
    font-size: 107px;
    height: 63px;
    margin: 40px 0 30px;
    color: #2d9ed6;
    font-family: Tikona-IconFont;
}
#block-views-about-us-block-values .view-display-id-block_values ul li .views-field-title {
    color: #2d9ed6;
    margin: 10px 0;
    font-size: 24px;
}
#block-views-about-us-block-values .view-display-id-block_values ul li .views-field-body {
    color: #646464;
    font-size: 14px;
}

/********************************** About Us Values Section CSS Ends Here *****************************************/



/************************************************************************
=====================  For Home Red Footer CSS Here =====================
*************************************************************************/

#block-tikonaaboutus-aboutus-common-footer {width: 100%; background-color: #555555; float: left; margin: 0;}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action .footer-social-icon {
    margin-top: 102px;
    border-top: 1px solid #686868;
}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action {
    width: 25%; float: right; background-color: #5e5e5e; padding: 76px 18px 10px; color: #fff;
}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action .headingFooter {
    text-transform: uppercase; font-size: 18px; color: #fff;
}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action > ul {
    margin-top: 14px
}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action ul li {
    list-style-image: none; list-style-type: none; display: block; font-size: 14px; padding: 6px 0;
}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action .TelephoneNumber {
    padding: 24px 0 24px 17px; border-bottom: 1px solid #686868; border-top: 1px solid #686868; box-shadow: 0px 1px 0 #585858; margin: 10px 0 10px -17px; font-size: 34px;
}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action .footer-social-icon ul li {
    list-style-image: none;  width: 61px; padding: 12px 0 0; float: left; 
}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action .footer-social-icon ul li a{font-family: Tikona-IconFont; list-style-type: none; font-size: 25px; color: #fff;}

#block-tikonaaboutus-aboutus-common-footer .footer-quick-action .footer-social-icon ul li.tikonaForum a{ font-family: 'Tikona_1'}
/*===================== left section  ======================*/

/***************  bottom section  ***************/

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-services {
    width: 100%; font-size: 11px; border-top: 1px solid #434242; margin-left: 15px; margin: 55px 0 20px;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-services ul li {
    list-style-image: none; list-style-type: none; display: inline-block; padding: 18px 40px 0 0; color: #fff;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-services ul li:last-child {padding: 18px 0 0;}

/*************  top section  ******************/

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter {
    width: 67%; float: left; margin-left: 2%;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab > ul { border-bottom: 1px solid #434242}


#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab > ul > li {text-transform: uppercase;    
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab > ul > li.footer-tab-link.active {
    border-bottom: 4px solid #fff; color: #fff; font-weight: bold; padding: 8px 0;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab > ul > li {
    list-style-image: none; list-style-type: none; border-bottom: 4px solid #565455; color: #717171; font-size: 11px; margin: 11px 0 0; padding: 5px 0; display: inline-block; vertical-align: top; cursor: pointer; margin-right: 13%;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab > ul > li:hover {
    border-bottom: 4px solid #fff; height: 26px; color: #fff;
}


#block-tikonaaboutus-aboutus-common-footer .topLeftFooter  .footer-tab .footer-sub-menu li {
    vertical-align: top; width: 25%; margin-right: 0; float: left; list-style: none;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li.views-row {width: 100%;}


#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .details-forhome, #block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .details-foroffice, #block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .details-aboutus {
    height: 282px; margin-top: 30px;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li a:hover {
    color: #a4a4a4
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu > li > a {
    color: #fff; font-size: 15px; text-transform: uppercase;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li .footer-sub-menu-select {
    margin-top: 22px; position: relative;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li .footer-sub-menu-select .view-about-us {margin-top: 20px;}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li .footer-sub-menu-select .menu-left, #block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li .footer-sub-menu-select .menu-right {
    float: left; width: 100% !important;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li .footer-sub-menu-select div a {
    font-size: 12px; color: #fff; line-height: 2.2em;
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li .footer-sub-menu-select div a:hover {
    color: #a4a4a4
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-tab .footer-sub-menu li .footer-sub-menu-select .menu-right {
    margin-top: 22px
}

#block-tikonaaboutus-aboutus-common-footer .details-forhome.active, #block-tikonaaboutus-aboutus-common-footer .details-foroffice.active, #block-tikonaaboutus-aboutus-common-footer .details-aboutus.active {
    display: block
}

#block-tikonaaboutus-aboutus-common-footer .details-foroffice, #block-tikonaaboutus-aboutus-common-footer .details-forhome, #block-tikonaaboutus-aboutus-common-footer .details-aboutus {
    display: none
}

#block-tikonaaboutus-aboutus-common-footer .footer-tab ul li.footer-tab-link.active:hover {
    height: auto
}

#block-tikonaaboutus-aboutus-common-footer .topLeftFooter .footer-services ul li span.footerlast {cursor: hand;cursor: pointer;}



/******************************** Bottom Footer Container CSS Starts Here *************************************/

.footer-outer .footer-last {
    clear: both;
    width: 100%;
    position: relative;
    padding-top: 40px;
    background-color: #f4f4f4;
    overflow: hidden;
}
.footer-outer .footer-last .close-btn {
    position: absolute;
    right: 0;
    top: 40px;
    font-family: Tikona-IconFont;
    color: #424242;
    font-size: 20px;
    cursor: hand;
    cursor: pointer;
}
.footer-outer .footer-last .close-btn:hover {
    color: #e63b33;
}
.footer-outer .footer-last .view-id-faqs {
    background-color: #f4f4f4;
    border-top: none;
}
.footer-outer .footer-last .privacy-header, .footer-outer .footer-last .terms-header {
    color: #424242;
    font-size: 24px;
    float: left;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-outer .footer-last .privacy-desc, .footer-outer .footer-last .terms-desc {
    clear: both;
}
.footer-outer .footer-last .privacy-desc p, .footer-outer .footer-last .terms-desc p {
    color: #646464;
    font-size: 14px;
    margin-bottom: 15px;
}
.footer-outer .footer-last .quicktabs-wrapper .quicktabs-tabpage .quicktabs-views-group .faq-title h2 {
    color: #424242;
}
.footer-outer .footer-last .quicktabs-wrapper .quicktabs-tabpage .quicktabs-views-group {
    border-bottom: 1px solid #c0c0c0;
    padding: 0 0 15px 0;
}

.footer-outer .footer-last .view-id-faqs .view-content ul {
    margin: 0;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li {
    list-style-image: none;
    list-style-type: none;
    padding-bottom: 16px;
}

.footer-outer .footer-last .view-id-faqs .view-content ul li .faq-title h2 {
    font-size: 18px;
    color: #424242;
    font-weight: normal;
    cursor: hand;
    cursor: pointer;
    margin-bottom: 0;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li .quick-edit-link {
    border-bottom: none;
    float: right;
    width: auto;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li:first-child .quick-edit-link {
    margin-top: 18px;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li .quick-edit-link a {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.footer-outer .footer-last .view-id-faqs .view-content ul li.views-row:first-child {
    border-top: 1px solid #c0c0c0;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li.views-row {
    border-bottom: 1px solid #c0c0c0;
    clear: both;
}

.footer-outer .footer-last .view-id-faqs .view-content ul li .faq-title h2:after {
    content: ")";
    font-family:Tikona-IconFont;
    font-weight: bold;
    margin-left: 10px;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li .faq-title.active h2:after {
    content: "g";
    font-family:Tikona-IconFont;
    font-weight: bold;
    margin-left: 10px;
}



.footer-outer .footer-last .quicktabs-wrapper .quicktabs-tabpage .quicktabs-views-group:first-child {
    border-top: 1px solid #c0c0c0;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li .faq-body p {
    color: #646464;
    font-size: 14px;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li .faq-body ul {
    margin: 0 0 15px 0;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li .faq-body ul li {
    color: #646464;
    margin-left: 38px;
    padding-bottom: 0;
    list-style-type: disc;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li .faq-body ol li {
    margin-bottom: 5px;
    padding-bottom: 0;
    display: list-item;
    list-style-type: decimal;
}
.footer-outer .footer-last .view-id-faqs .view-content ul li .faq-body ol {
    margin: 0 0 10px 25px;
    padding: 0;
}
.refer-friend h2 a {
    color: #e63b33;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: -40px;
    text-transform: uppercase;
}
.refer-friend .field-type-text-with-summary p {
    margin-bottom: 10px;
}
.refer-friend .field-type-text-with-summary .leftHd ul {
    margin: 0 0 10px 0;
    padding: 0;
}
.refer-friend .field-type-text-with-summary .leftHd ul li {
    margin-left: 40px;
}
.refer-friend .webform-client-form #webform-component-your-details p, .refer-friend .webform-client-form #webform-component-your-friends-details p {
    color: #646464;
    font-family: UbuntuBold;
    font-size: 21px;
    margin-top: 30px;
}
.refer-friend .webform-client-form .webform-hints-field, .refer-friend .form-select {
    font-size: 14px;
}


/******************************** Bottom Footer Container CSS Ends Here *************************************/


/********************************** About Us Awards Section CSS Starts Here *****************************************/

#block-views-faqs-block-awards {
    background-color: #f4f4f4;
    /*padding-bottom: 100px;*/
    overflow: hidden;
}
#block-views-faqs-block-awards .view-id-faqs {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f4f4f4;
    overflow: hidden;
}
#block-views-faqs-block-awards .view-header {
    padding-top: 35px;
}
#block-views-faqs-block-awards .view-header .awards-header {
    font-size: 24px;
    color: #2d9ed6;
    text-transform: uppercase;
    vertical-align: top;
}
#block-views-faqs-block-awards .view-header .awards-header span.fontfamilyTikona {
    font-family: Tikona-IconFont;
    margin-left: 10px;
    font-size: 28px;
    text-transform: none;
}
#block-views-faqs-block-awards .view-id-faqs ul li {
    list-style-image: none;
    list-style-type: none;
    margin: 15px 0 0 0;
    color: #646464;
    border-bottom: 1px solid #c1c1c1;
    box-shadow: 0px 1px 0px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
    overflow: hidden;
}
#block-views-faqs-block-awards .view-id-faqs ul li .quick-edit-link {
    border-bottom: medium none;
    float: right;
    width: auto;
}
#block-views-faqs-block-awards .view-id-faqs ul li .quick-edit-link a {
    border-radius: 4px;
}
#block-views-faqs-block-awards .view-id-faqs ul li .faq-title h2 {
    cursor: pointer;
    margin: 0 0 10px 0;
    font-size: 18px;
    cursor: pointer;
    font-weight: normal;
}
#block-views-faqs-block-awards .view-id-faqs ul li .faq-body .answers p {
    margin-bottom: 10px;
    font-size: 14px;
}
#block-views-faqs-block-awards .view-id-faqs ul li .faq-body .answers p a {
    color: #a0a0a0;
}
#block-views-faqs-block-awards .view-id-faqs ul li .faq-body .answers p a:hover {
    color: #646464;
}
#block-views-faqs-block-awards .view-id-faqs ul li .faq-body .answers p:last-child {
    margin-bottom: 15px;
}
#block-views-faqs-block-awards .view-id-faqs ul li .faq-title h2:after {
    content: ")";
    font-family: Tikona-IconFont;
    font-weight: bold;
    margin-left: 10px;
    color: #2F9CD5;
}
#block-views-faqs-block-awards .view-id-faqs ul li .faq-title.active h2:after {
    content: "g";
    font-family: Tikona-IconFont;
    font-weight: bold;
    margin-left: 10px;
    color: #2F9CD5;
}
/********************************** About Us Awards Section CSS Ends Here *****************************************/

/********************************** About Us Media Center Section CSS Starts Here *****************************************/

#block-views-media-center-block {
    max-width: 1200px;
    width: 99%;
    padding-top: 50px;
}
#block-views-media-center-block h2 {
    text-transform: uppercase;
    padding-top: 4px;
    font-size: 24px;
    color: #2f9cd5;
    margin: 0 0 10px 0;
    font-weight: normal;
}
#block-views-media-center-block h2:after {
    margin-left: 6px;
    font-family: Tikona-IconFont;
    font-size: 28px;
    text-transform: none;
    content: "x";
}
#block-views-media-center-block h2 .press-icon {
    margin-left: 10px;
    font-family: Tikona-IconFont;
    font-size: 28px;
    text-transform: none;
}
#block-views-media-center-block .view-media-center ul li {
    display: list-item;
    list-style-type: disc;
    padding: 5px 0;
    margin-left: 10px;
    color: #646464;
    font-size: 14px;
}
#block-views-media-center-block .view-media-center ul {
    margin-left: 16px;
}
#block-views-media-center-block .view-media-center ul li .press-release .press-title {
    font-weight: bold;
}
#block-views-media-center-block .view-media-center ul li .press-release a:hover {
    color: #646464;
}

/********************************** About Us Media Center Section CSS Ends Here *****************************************/


/********************************** About Us News Section CSS Starts Here *****************************************/

#block-quicktabs-news- {
    width: 100%;
    padding-top: 30px;
    position: relative;
    border-top: 1px solid #a4a4a4;
}
#block-quicktabs-news- h2 {
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 15px;
    font-size: 24px;
    color: #2f9cd5;
    margin: 0;
    font-weight: normal;
    border-bottom: 1px solid #d1d1d1;
}
#block-quicktabs-news- h2:after {
    margin-left: 10px;
    font-family: Tikona-IconFont;
    font-size: 28px;
    text-transform: none;
    content: "x";
}
#block-quicktabs-news- h2 .press-icon {
    margin-left: 10px;
    font-family: Tikona-IconFont;
    font-size: 28px;
    text-transform: none;
}
/*#block-quicktabs-news- .quicktabs-wrapper {
    position: absolute;
    top: 36px;
    width: 100%;
}*/
#block-quicktabs-news- .quicktabs-wrapper ul.quicktabs-tabs {
    position: absolute;
    top: 36px;
    width: 100%;
    text-align: right;
}
#block-quicktabs-news- .quicktabs-wrapper ul.quicktabs-tabs li:first-child {
    margin-right: 20px;
}
#block-quicktabs-news- .quicktabs-wrapper ul.quicktabs-tabs li {
    margin-left: 15px;
    padding-bottom: 16px;
    text-transform: uppercase;
}
#block-quicktabs-news- .quicktabs-wrapper ul.quicktabs-tabs li.active a {
    color: #646464;
}
#block-quicktabs-news- .quicktabs-wrapper ul.quicktabs-tabs li.active  {
    border-bottom: 6px solid #646464;
}
#block-quicktabs-news- .quicktabs-wrapper ul.quicktabs-tabs li:hover {
    border-bottom: 6px solid #646464;
}
#block-quicktabs-news- .quicktabs-wrapper .quicktabs_main {
    margin-top: 0px;
}
#block-quicktabs-news- .view-media-center ul li {
    display: list-item;
    list-style-type: disc;
    padding: 0;
    margin-left: 10px;
    color: #646464;
    font-size: 14px;
    line-height: 15px;
}
#block-quicktabs-news- .view-media-center ul {
    margin-left: 16px;
}
#block-quicktabs-news- .view-media-center ul li .press-release .news-title {
    font-weight: bold;
}
#block-quicktabs-news- .view-media-center ul li .press-release a:hover {
    color: #646464;
}
#block-quicktabs-news- .view-media-center ul li .press-release p {
    display: inline-block;
}

#block-views-7d4c31fdd8c86824862a8a698c23165e .view-id-user_guide_and_tips .view-content table tr td a span {
    color: #646464 !important;
    text-decoration: underline;
}
#block-views-7d4c31fdd8c86824862a8a698c23165e .view-id-user_guide_and_tips .view-content table tr td a span:hover {
    color: #424242 !important;
    text-decoration: underline;
}

/********************************** About Us News Section CSS Ends Here *****************************************/


/************************************* Leadership Team Page CSS Starts Here ******************************************/

#block-views-about-us-block-1 {
    background-color: #e4e4e4;
    clear: both;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0px auto 0;
    padding: 0;
}
#block-views-about-us-block-1 .view-content .views-row .views-field-body {
    max-width: 1200px;
    width: 99%;
    margin: 0 auto;
}
#block-views-about-us-block-1 .view-content .views-row .views-field-body.profile-anchor {
    padding-top: 50px;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row {
    clear: both;
    border-bottom: 1px solid #a4a4a4;
    overflow: hidden;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row.views-row-2 .views-field-body .profile-image {
    height: 405px;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row .views-field-body .profile-image {
    float: left;
    border-right: 1px solid #BFBFBF;
    box-shadow: 1px 0 0 #FFFFFF;
    height: 495px;
    width: 415px;
    position: relative;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row .views-field-body .profile-image img {
    position: absolute;
    bottom: 0;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row .views-field-body .profile-container {
    width: 545px;
    float: right;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row .views-field-body .profile-title {
    color: #2d9ed6;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row .views-field-body .profile-designation {
    /*margin-top: 13px;*/
    margin-bottom: 25px;
    color: #646464;
    font-size: 24px;
    line-height: 27px;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row .views-field-body .profile-desc p {
    margin-bottom: 10px;
}
#block-views-about-us-block-1 .view-id-about_us .view-content .views-row .views-field-body .profile-desc .leaderShipColumn {
    /*-webkit-column-count: 2;
    -webkit-column-gap: 5em;
    -moz-column-count: 2;
    -moz-column-gap: 2em;
    column-count: 2;
    column-gap: 5em;*/
    margin-bottom: 8px;
    width: 525px;
}

/************************************* Leadership Team Page CSS Ends Here ******************************************/


/***************** Main Navigation CSS Starts Here *****************/

#block-om-maximenu-om-maximenu-4 {
    clear: both;
    margin-top: 75px;
}
#block-om-maximenu-om-maximenu-4 .om-maximenu > .om-menu-ul-wrapper > .om-menu {
    width: 764px; margin-top: 24px; margin: 0; transition: border-bottom 0.3s; border-bottom: 4px solid #d5d5d1;
}
#block-om-maximenu-om-maximenu-4 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li {
    position: relative; float: left; display: block; padding: 0; margin: 0; height: 30px;
}
#block-om-maximenu-om-maximenu-4 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li > a {
    font-size: 19px; line-height: 22px; color: #2f9cd5; display: inline-block; text-align: center; text-decoration: none; padding: 0 39px; border-right: 1px solid #8e8d8d; height: 19px;
}
#block-om-maximenu-om-maximenu-4 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li:hover, #block-om-maximenu-om-maximenu-4 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li.active {
    transition: border-bottom 0.3s; border-bottom: 4px solid #2f9cd5;
}
/* new css added - start */
#block-om-maximenu-om-maximenu-4 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li:last-child a{
    border-right: none;
}
/* new css added - end */
#block-om-maximenu-om-maximenu-4 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li .om-maximenu-content {
    position: absolute;
    top: 26px;
    left: -50px;
}
.om-maximenu-simple .om-maximenu-middle-right, .om-maximenu-simple .om-maximenu-bottom, .om-maximenu-simple .om-maximenu-bottom-right, .om-maximenu-simple .om-maximenu-bottom-left, .om-maximenu-simple .om-maximenu-middle-right, .om-maximenu-simple .om-maximenu-middle-left {
    background-image: none
}
.om-maximenu .om-maximenu-middle-right {
    padding: 0
}
.om-maximenu.om-maximenu-block-down .om-maximenu-content {
    margin-top: 8px
}
#block-om-maximenu-om-maximenu-2 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li .om-maximenu-content {
    position: absolute;
    top: 26px;
    left: -50px;
}
#block-om-maximenu-om-maximenu-2 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li:hover  {
    transition: border-bottom 0.3s; border-bottom: 4px solid #64bf02;
}
#block-om-maximenu-om-maximenu-2 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li .om-maximenu-middle a:hover {
    border-bottom: 0;
}
/* new css added - start */
#block-om-maximenu-om-maximenu-2 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li:last-child a {
    border-right: none;
}
/* new css added - end */
.om-maximenu.om-maximenu-block-down .om-maximenu-content h3 {
    margin: 0
}
.om-maximenu-no-style .om-maximenu-middle .block {
    margin-bottom: 0;
}
#block-om-maximenu-om-maximenu-1 .om-maximenu > .om-menu-ul-wrapper > .om-menu > li.leaf-broadband-plans .om-maximenu-middle {
        padding: 10px 0;
    }
.om-maximenu-no-style .om-maximenu-middle {
    background-color: #D1D1D1; color: #646464; border-top: 1px solid #9d9d9d; border-right: 1px solid #656565; border-bottom: 1px solid #656565; width: 175px; padding: 10px 20px 10px 0; margin-left: 50px;
}
#block-om-maximenu-om-maximenu-4 .om-menu-ul-wrapper ul li.leaf-company-overview .om-maximenu-middle {
    width: 392px;
}
#block-om-maximenu-om-maximenu-4 .om-menu-ul-wrapper ul li.leaf-company-overview .om-maximenu-middle .block-tikonaaboutus-id-aboutus_company_overview, #block-om-maximenu-om-maximenu-4 .om-menu-ul-wrapper ul li.leaf-company-overview .om-maximenu-middle .block-views-id-about_us-block_company_profiles {
    width: 195px;
    float: left;
}
#block-om-maximenu-om-maximenu-4 .om-menu-ul-wrapper ul li.leaf-company-overview .om-maximenu-middle .block-views-id-about_us-block_company_profiles {
    border-left: 1px solid #c4c4c4
}
.om-menu-ul-wrapper .om-maximenu-open {
    display: none
}
.om-maximenu .om-maximenu-middle-right .content .componentAnchors {
    color: #646464; display: block; padding: 12px 10px; width: 175px; border-bottom: none; font-size: 14px;
}
.om-maximenu .om-maximenu-middle-right .content .componentAnchors:hover {
    background-color: #646464; color: #fff;
}
.om-maximenu .om-maximenu-middle-right .block-tikonaaboutus, .om-maximenu .om-maximenu-middle-right .block-views-id-about_us-block_company_profiles {
    margin-bottom: 0px;
}

/***************** Main Navigation CSS Starts Here *****************/

/*
#block-views-slider-block #views_slideshow_cycle_div_slider-block_0, #block-views-slider-block #views_slideshow_cycle_div_slider-block_1, #block-views-slider-block #views_slideshow_cycle_div_slider-block_2, #block-views-slider-block #views_slideshow_cycle_div_slider-block_3, #block-views-slider-block #views_slideshow_cycle_div_slider-block_4 {
    position: relative !important;
}
#block-views-slider-block #views_slideshow_cycle_teaser_section_slider-block .views-slideshow-cycle-main-frame-row .views-field views-field-field-slider-image {
    width: 60%;
}
#block-views-slider-block #views_slideshow_cycle_teaser_section_slider-block .views-slideshow-cycle-main-frame-row .views-field-body,#block-views-slider-block .view-slider .views-field-body

{
    width: 40%;
    margin-top: 150px;
}
#block-views-slider-block #views_slideshow_cycle_teaser_section_slider-block .views-slideshow-cycle-main-frame-row .views-field-body .aboutUsBlue {
    color: #2f9cd5;
}
.page-about-us #widget_pager_bottom_slider-block .views-slideshow-pager-field-item.active, .page-about-us #widget_pager_bottom_slider-block .views-slideshow-pager-field-item:hover {
    background-color: #2f9cd5;
    color: #fff;
}
#block-views-slider-block #views_slideshow_cycle_div_slider-block_2 .views-field-field-slider-image {
    margin-top: 260px;
}
.page-about-us #block-views-slider-block {
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 10px 0 20px 0;
    min-height: 490px;
    border-bottom: 1px solid #a4a4a4;
}*/


/*****************************************************************
***************** Plan Selector CSS Starts Here ******************
*****************************************************************/


.carouselCode .flex-viewport li:first-child {
    margin-left:0;
}
.carouselCode .flex-viewport li:nth-child(5), .carouselCode .flex-viewport li:nth-child(9), .carouselCode .flex-viewport li:nth-child(13), .carouselCode .flex-viewport li:nth-child(17), .carouselCode .flex-viewport li:nth-child(21), .carouselCode .flex-viewport li:nth-child(25), .carouselCode .flex-viewport li:nth-child(29), .carouselCode .flex-viewport li:nth-child(33), .carouselCode .flex-viewport li:nth-child(37) {
    margin-left: 4px;
}
.carouselCode .flex-viewport li {    
    background-color: #d1d1d2;
    border-radius: 7px;
    height: 375px;
    position: relative;
    width: 231px !important;
    margin-left: 19px;
    margin-right: 0;
}

/*.plan-slideshow .flex-viewport li:first-child {margin-left: 0;}*/

/*.carouselCode .flex-viewport li .views-field {padding: 0 10px; }*/

.carouselCode .flex-viewport li span.best-seller {font-size: 27px;  color: #424242; font-family: Tikona-IconFont; line-height: 28px; }

.carouselCode .flex-viewport li .views-field-title {font-family: UbuntuBold;width: 150px;font-size: 24px; color: #e63b33; float: left;}

.carouselCode .flex-viewport li .views-field-field-price {font-family: UbuntuBold; width: 150px;}    


.carouselCode .flex-viewport li .views-field-field-subscription .planview-2 {
    position: absolute;
    bottom: 10px;
    width: 211px;
}

/***************** View Plans CSS Starts Here *****************/

.css_1 .plansChooseRequirementContent .plansBox {
    background-color: #d1d1d2;
    width: 246px;
    height: 375px;
    border-radius: 7px;
    position: relative;
}
.carouselCode .flex-viewport li .views-field-field-bestseller {
    padding: 0;
} 
.carouselCode .flex-viewport li .views-field-field-limit-fup-1, .carouselCode .flex-viewport li .views-field-field-limit-fup-2 {
    font-family: UbuntuBold;
    font-size: 24px; 
    color: #e63b33;
}
.carouselCode .flex-viewport li .views-field-field-limit-fup-2 span.usage, .carouselCode .flex-viewport li .views-field-field-limit-fup-1 span.usage {
    font-size: 18px;
    font-family: UbuntuRegular;
}
.carouselCode .flex-viewport li .views-field-field-limit-fup-2 span.usage {
    margin-left: 6px;
}
.carouselCode .flex-viewport li .views-field-field-price {
    font-family: UbuntuBold;
    font-size: 24px; 
    color: #e63b33;
}
.carouselCode .flex-viewport li .views-label-field-price {
    font-family: Tikona-IconFont;
    font-size: 20px;
}
.carouselCode .flex-viewport li .views-field-field-duration {
    font-family: UbuntuBold;
    font-size: 12px;
    color: #e63b33;
    margin-top: 12px;
}
.carouselCode .flex-viewport li .views-field-field-limit-1 span.views-label-field-limit-1 {
    margin-right: 5px;
    float: left;
}
.carouselCode .flex-viewport li .views-field-field-limit-1 .field-content {
    margin-right: 5px;
    float: left;
} 
.carouselCode .flex-viewport li .views-field-field-limit-1, .carouselCode .flex-viewport li .views-field-field-limit-fup-1, .plan-slideshow .flex-viewport li .views-field-field-limit, .plan-slideshow .flex-viewport li .views-field-field-limit-fup {
    color: #646464;
    font-family: UbuntuBold;
    font-size: 15px;
    margin-top: 12px;
    float: left;
}
.carouselCode .flex-viewport li .views-field-field-post-fup-speed-1 {
    font-size: 12px;
    color: #646464;
    font-family: UbuntuBold;
    line-height: 14px;
    float: left;
    clear: both;
}
.carouselCode .flex-viewport li .views-field-field-post-fup-speed-1 .field-content {
    font-family: UbuntuRegular;
}
.carouselCode .flex-viewport li .views-field-nothing {
    float: right; margin-top: 5px; padding: 0 5px;
}
.findAPlanRequirementContent .carouselCode .flex-viewport li .views-field-field-usage {
    display: none;
}

.carouselCode .flex-viewport li .book-now {
    border: 1px solid #CCCDD0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 0 0 #646464;
    background-color: #fff;
    color: #6A6A6A;
    font-size: 14px;
    letter-spacing: -0.2px;
    padding: 6px 9px 3px;
    text-align: center;
    width: 77px;
    cursor: hand;
    cursor: pointer;
    text-transform: uppercase;
}
.carouselCode .flex-viewport li .more-info {
    color: #6a6a6a;
    background-color: #ffffff;
    border: 1px solid #cccdd0;
    padding: 4px 0px;
    border-radius: 20px;
    box-shadow: none;
    font-size: 11px;
    width: 84px;
    text-align: center;
    cursor: hand;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.carouselCode .flex-viewport li .more-info:hover {
    color: #e63b33;
    background-color: #fff;
    border: 1px solid #e63b33;
}

.carouselCode .flex-viewport li .plan-contention, .carouselCode .flex-viewport li .plan-login-allowed, .carouselCode .flex-viewport li .plan-no-of-device  {
    display: none;
}

.findAPlanRequirementContent {
    font-size: 18px;
    color: #e63b33;
    margin-top: 15px;
}
.planhead {
    margin-right: 45px;
}
.headMargin {
    padding-left: 50px;
    border-left: 1px solid #e4e4e4;
    margin-right: 9px;
}
.selectedCost {
    margin-right: 45px;
}
.resetFilters {
    float: right;
}
#resetFilters {
    border: 1px solid #CCCDD0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 0 0 #646464;
    color: #6A6A6A;
    padding: 7px 11px 5px;
    text-align: center;
    width: 87px;
    cursor: hand;
    cursor: pointer;
}
#resetFilters:hover {
    color:#e63b33; border:1px solid #e63b33; box-shadow:0 3px 0 0 #e63b33;
}
.speed-details .plansRed2 {
    width: 84px;
    height: 44px;
    position: relative;
    font-size: 80px;
    top: 35px;
    color: #e63b33;
    left: 53px;
}
.usage-details .plansRed2 {
    width: 84px;
    height: 44px;
    position: relative;
    font-size: 65px;
    top: 20px;
    color: #e63b33;
    left: 53px;
}
.speed-details .selBudget {
    text-align: left !important;
    margin: 12px 0 0 103px;
}
.usage-details .selBudget {
    padding-top: 21px;
}
.speed-details, .usage-details {
    margin-top: 53px;
}
.plan-selector-middle .plansBtn {
    margin-top: 38px;
}
.plansBtn {
    margin: 26px 40px 0;
}
.plansBtn .btnRoundedReview.innerBackBtn {
    margin-right: 25px;
}
.plan-selector-middle .speed-details .rdbtnWrapper {
    padding-top: 48px;
}

.moreInfopayLaterContent {
    margin-left: 50px;
}


.plan-more-info {
    width: 100%;
    overflow: hidden;
    clear: both;
}
#block-tikona-forhome-broadband-view-plans .moreInfopayLater {
    background-color: #e9eeee;
}
#block-tikona-forhome-broadband-plan-selector .moreInfopayLater {
    background-color: #fff;
}
.plan-more-info .moreInfopayLater {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
    padding-bottom: 45px;
    padding-top: 40px;
}
.plan-more-info .step1Wrapper .iconPlansLeftBuy {
    width: 80px;
    height: 50px;
    margin: 25px 0 17px 0;
    font-size: 65px;
}
#block-tikona-forhome-broadband-view-plans .plan-more-info .step1Wrapper {
    margin-top: 17px;
}

.plan-more-info .step1Wrapper {
    width: 190px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    color: #e63b33;
    border: 1px solid #a4a4a4;
    margin-top: 58px;
}
.plan-more-info .step2and3Wrapper {
    margin: 58px 0 0 22px;
    color: #646464;
    width: 640px !important;
    font-size: 12px;
}
.plan-more-info .step2and3Wrapper .leftbuyNow2 {
    padding-right: 20px;
    width: 240px;
    border-right: 1px solid #a3a3a3;
    float: left;
    margin-right: 40px;
}
.plan-more-info .step2and3Wrapper .leftbuyNow2 p.flexi_soho_display.download_data {
    font-family: UbuntuBold;
}
.plan-more-info .step2and3Wrapper .leftbuyNow3 {
    float: left;
    width: 330px;
}
.plan-more-info .step2and3Wrapper .leftbuyNow2 p, .plan-more-info .step2and3Wrapper .leftbuyNow3 p {
    margin-bottom: 18px; margin-top: 0;
}
.plan-more-info .step2and3Wrapper .leftbuyNow2 .download_data, .plan-more-info .step2and3Wrapper .leftbuyNow3 .download_data {
    font-family: UbuntuBold;
}
.plan-more-info .step2and3Wrapper .leftbuyNow2 .data_plan_name, .plan-more-info .step2and3Wrapper .leftbuyNow3 .data_plan_name {
    font-family: UbuntuBold;
}
.plan-more-info .data_speed {
    font-family: UbuntuBold;
    font-size: 32px;
}
.plan-more-info .data_speed .usage {
    font-size: 18px;
    font-family: UbuntuRegular;
}
.plan-more-info .data_price {
    font-size: 30px;
    font-family: UbuntuBold;
}
.plan-more-info .fontSize36px .fontFamilyTikona{
    font-size: 24px;
}
.plan-more-info .fontSize36px {
    line-height: 24px;
}
.plan-more-info .data_interval{
    
}
.plan-more-info .data_interval {
    font-size: 18px;
    font-family: UbuntuBold;
    text-transform: capitalize;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 25px;
    margin-bottom: 15px;
}
.plan-more-info .data_interval div:nth-child(2) {
    font-size: 12px;
}
.plan-more-info .gbLimit {
    color: #646464;
    margin-top: 13px;
    font-size: 32px;
    line-height: 28px;
    font-family: UbuntuBold;
}
.plan-more-info .gbLimit .post-consume {
    font-size: 12px;
    margin: 10px 0 3px 0;
}
.plan-more-info .gbLimit .plan-validity-soho {
    font-size: 12px;
    font-family: UbuntuRegular;
}
.plan-more-info .post-limit {
    font-size: 12px;
    margin: 20px 0 10px 0;
}
.plan-more-info .post-fup-limit {
    font-size: 12px;
    font-family: UbuntuRegular;
}
.plan-more-info .gbLimit #more_info-fup-limit-up {
    font-size: 30px;
    font-family: UbuntuBold;
    display: inline-block;
    margin-bottom: 6px;
}
.plan-more-info .gbLimit .fontFamilyRegular {
    font-size: 12px;
}
.plan-more-info .btnOR {
    float: left;
    margin-right: 25px;
    margin-top: 9px;
}
.plan-more-info .book_more_info, .plan-more-info #go_back {
    border: 1px solid #CCCDD0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 0 0 #646464;
    background-color: #fff;
    color: #6A6A6A;
    cursor: hand;
    cursor: pointer;
    margin-right: 25px;
    font-size: 14px;
    letter-spacing: -0.2px;
    padding: 9px 11px 7px;
    text-align: center;
    width: 87px;
    float: left;
}
.plan-more-info .book_more_info:hover, .plan-more-info #go_back:hover {
    background-color: #fff; border: 1px solid #e63b33; color: #e63b33; box-shadow: 0 3px 0 0 #e63b33;
}
.plan-selector-middle .plansFirst.paddy26px {
    padding-top: 0;
}
.plan-selector-middle .usage-details {
    margin-top: 65px;
}
.plan-selector-middle .usage-details .selBudget {
    margin: 10px auto 7px auto;
}

/***************** Plan Selector CSS Ends Here *****************/


/*texonomy discription*/

.view-taxonomy-desc {
    border-top: 1px solid #9d9d9d;
    padding-top: 20px;
    float:left; width: 100%;
    margin-top: 40px;
}
.view-taxonomy-desc p {font-size: 13px; color:#646464;}

/*********************************************************************
***************** Home Page Coverage Section CSS Starts Here ******************
********************************************************************/

.logged-in #block-views-taxonomy-lists-block-1 {
    margin: 30px 0 0 0;
    clear: both;
}
.logged-in #block-views-taxonomy-lists-block-city-lists {
    border-top: none;
}
.logged-in #block-views-taxonomy-lists-block-1 .view-taxonomy-lists {padding-top: 30px;}



#block-views-taxonomy-lists-block-city-lists {
    border-top: 1px solid #a4a4a4; padding-top: 37px; width: 100%; float: left; margin-bottom: 0px;
}
.logged-in #block-views-taxonomy-lists-block-city-lists {
    padding-top: 40px;
}
#block-views-taxonomy-lists-block-city-lists .coverage-header h2 {
    font-size: 24px;
    color: #e63b33;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    line-height: 20px;
    margin-bottom: 10px;
}
#block-views-taxonomy-lists-block-city-lists .view-header {
    position: relative;
}
#block-views-taxonomy-lists-block-city-lists .coverage-header .coverage-description {
    color: #646464;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
#block-views-taxonomy-lists-block-city-lists .coverage-book-now {
    position: absolute;
    top: 100px;
    right: 0;
}
#block-views-taxonomy-lists-block-city-lists .view-content table {
    width: 80% !important;
    border: none !important;
}
#block-views-taxonomy-lists-block-city-lists .view-content table tr td {
    font-size: 14px !important;
    color: #646464 !important;
    height: 28px !important;
    padding: 0 !important;
    width: 16%;
}
.page-about-us #block-views-taxonomy-lists-block-city-lists .coverage-book-now #book-now:hover {
    background-color: #2C9ED6;
    color: #fff;
}
#block-views-taxonomy-lists-block-city-lists .coverage-book-now #book-now:hover {
    background-color: #e63b33;
    color: #fff;
}
#block-views-taxonomy-lists-block-city-lists .coverage-book-now #book-now:hover .book-now-icon .fontFamilyTikona, #block-views-taxonomy-lists-block-city-lists .coverage-book-now #book-now:hover .book-now-btn .btnbooknow, #block-views-taxonomy-lists-block-city-lists .coverage-book-now #book-now:hover .book-now-btn .pay-in-home {
    color: #fff;
}
.page-about-us #block-views-taxonomy-lists-block-city-lists .coverage-book-now #book-now {
    box-shadow: 0 5px 0 #2C9ED6;
}
#block-views-taxonomy-lists-block-city-lists .coverage-book-now #book-now {
    background-color: #fff;
    border: 1px solid #b4b5b5;
    border-radius: 30px;
    height: 50px;
    display: block;
    position: relative;
    width: 204px;
    z-index: 1;
    color: #e63b33;
    box-shadow: 0 5px 0 #e63b33;
}
#block-views-taxonomy-lists-block-city-lists .coverage-book-now .btnbooknow {
    font-family: UbuntuBold;
    font-size: 18px;
    color: #e63b33;
}
#block-views-taxonomy-lists-block-city-lists .coverage-book-now .pay-in-home {
    display: block;
    font-size: 12px;
    color: #e63b33;
}
#block-views-taxonomy-lists-block-city-lists .coverage-book-now .book-now-icon {
    margin: 14px 0 0 13px;
    font-size: 30px;
    float: left;
}
#block-views-taxonomy-lists-block-city-lists .coverage-book-now .book-now-btn {
    padding: 9px 10px 0 7px;
    line-height: 17px;
    text-align: left;
}



/**************************************************************************
******************* For Office Banner CSS Starts Here  ********************
***************************************************************************/
.view-display-id-block_slider {position: relative;}

#block-views-slider-block-10 {
float: left; width: 100%; margin: 0; position: relative !important;
}

#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row {width: 100% !important; height: 479px !important;}

#block-views-slider-block-10 .views-field-field-slider-image {
    width: 100%; float: left; position: absolute; bottom: 0;}

#block-views-slider-block-10 .views-field-field-slider-image img {display: block;}

#block-views-slider-block-10 .views-field-body{/*width: 40%; position: absolute; right: 0; top: 150px;*/}

#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .about-us-slider-title {width: 40%; position: absolute; right: 0; top: 90px;}

#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .about-us-slider-title h2 {font-family: UbuntuBold; font-size: 32px; color: #2f9cd5;}


#views_slideshow_cycle_main_for_office_product_and_services_-block_slider .views-field-field-office-slider-image {width: 61%; display: inline-block;}

#views_slideshow_cycle_main_for_office_product_and_services_-block_slider .views-field-field-slider-desription- {display: inline-block; float: right; width: 37%; line-height: 1;}

#views_slideshow_cycle_main_for_office_product_and_services_-block_slider .views-field-field-slider-desription- .rightHdMargin {margin: 10px 0 0 0;}

#views_slideshow_cycle_main_for_office_product_and_services_-block_slider .views-field-field-slider-desription- .rightHdCloud {width: auto;}

#views_slideshow_cycle_main_for_office_product_and_services_-block_slider .views-field-field-slider-desription- .rightHdCloud .hdBox1 {width: auto;}

#views_slideshow_cycle_main_for_office_product_and_services_-block_slider #views_slideshow_cycle_teaser_section_for_office_product_and_services_-block_slider {width: 100% !important;}

#block-views-fa92b0621605edd5c42dac3d15d687d9 .views-slideshow-controls-bottom {position: absolute; top: auto; width: 215px; z-index: 99; bottom: 10px; left:0; right: 0; margin: 0 auto;}
#block-views-fa92b0621605edd5c42dac3d15d687d9 .views-slideshow-controls-bottom .views-slideshow-pager-fields {display: table; margin: 0 auto;}

#block-views-fa92b0621605edd5c42dac3d15d687d9 {position: relative; width: 100%;}

#widget_pager_bottom_for_office_product_and_services_-block_slider .views-slideshow-pager-field-item{margin-left:0;display:block;float:left;height:13px;width:40px;background-color:#fff;border:1px solid #d1d1d1;cursor:pointer;color:#fff;text-indent:0;}
#widget_pager_bottom_for_office_product_and_services_-block_slider .views-slideshow-pager-field-item:first-child{border-radius:15px 0 0 15px;}
#widget_pager_bottom_for_office_product_and_services_-block_slider .views-slideshow-pager-field-item:last-child{border-radius:0 15px 15px 0;}
#widget_pager_bottom_for_office_product_and_services_-block_slider .views-slideshow-pager-field-item.active, 
#widget_pager_bottom_for_office_product_and_services_-block_slider .views-slideshow-pager-field-item:hover{background-color:#66bd00;color:#66bd00;}



/************* Start - New css added for the banner ****************/


/***  Common Button CSS Starts Here ***/

#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper {
    position: absolute;
    right: 0px;
    top: 0px;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .colorBtnWrapper {
    width: 204px;
    height: 100px;
    margin: 0 auto;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper {
    position: relative;
    margin: 10px 0 0;
    width: 207px;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .colorBtnWrapper .redBtn {
    background: #2d9cd4;
    background: -moz-linear-gradient(top, #2d9cd4 0%, #288ec0 47%, #237ca8 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d9cd4), color-stop(47%,#288ec0), color-stop(99%,#237ca8));
    background: -webkit-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: -o-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: -ms-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: linear-gradient(to bottom, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d9cd4', endColorstr='#237ca8',GradientType=0 );
    width: 100px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .colorBtnWrapper a:hover.redBtn {
    background: #237ca8;
    background: -moz-linear-gradient(top, #237ca8 1%, #288ec0 47%, #2d9cd4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#237ca8), color-stop(47%,#288ec0), color-stop(100%,#2d9cd4));
    background: -webkit-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: -o-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: -ms-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: linear-gradient(to bottom, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#237ca8', endColorstr='#2d9cd4',GradientType=0 );
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .colorBtnWrapper .btnVerticalLine {
    border-right: 1px solid #57b1dd;
    border-left: 1px solid #247eab;
    width: 1px;
    height: 100%;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .colorBtnWrapper .blackBtn {
    width: 100px;
    height: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #2d9cd4;
    background: -moz-linear-gradient(top, #2d9cd4 0%, #288ec0 47%, #237ca8 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d9cd4), color-stop(47%,#288ec0), color-stop(99%,#237ca8));
    background: -webkit-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: -o-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: -ms-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: linear-gradient(to bottom, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d9cd4', endColorstr='#237ca8',GradientType=0 );
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .colorBtnWrapper a:hover.blackBtn {
    background: #237ca8;
    background: -moz-linear-gradient(top, #237ca8 1%, #288ec0 47%, #2d9cd4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#237ca8), color-stop(47%,#288ec0), color-stop(100%,#2d9cd4));
    background: -webkit-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: -o-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: -ms-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: linear-gradient(to bottom, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#237ca8', endColorstr='#2d9cd4',GradientType=0 );
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper .topBtn {
    background-color: #FFFFFF;
    border: 1px solid #B4B5B5;
    border-radius: 30px;
    height: 50px;
    position: relative;
    width: 204px;
    z-index: 1;
    box-shadow: 0 4px 0 #2C9ED6;
    color: #2C9ED6;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper .topBtn:hover {
    background-color: #2C9ED6;
    color: #fff !important;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper .topBtn:hover .widgetContact a {
    color: #fff !important;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .lineHeight {
    line-height: 70px;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper .iconBtn {
    margin: 14px 0 0 13px;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper .btnFont {
    padding: 9px 0 0 7px;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper .btnFont .widgetContact {
    padding: 4px 0 0 2px;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper .btnFont .widgetContact a {
    color: #646464 !important;
}
#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper .bigBtnWrapper .btnFont .widgetContact a:hover {
    color: #fff !important;
}

#block-views-slider-block-10 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-content.aboutus .banner-heading {
    font-size: 30px;
    line-height: 33px;
    color: #2d9ed6;
    font-family: UbuntuBold;
}

/***  Common Button CSS Ends Here ***/

/************* Slide 01 ************/

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_0 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-img.aboutus {
    position: absolute;
    bottom: -5px;
    left: 130px;
}

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_0 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-content.aboutus {
    position: absolute;
    top: 160px;
    left: 490px;
}

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_0 .views-slideshow-cycle-main-frame-row-item .about-us-slider-title {
    top: 145px;
    left: 530px;
    width: auto;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_0 .views-slideshow-cycle-main-frame-row-item .views-field-body {
    left: 0px;
    width: auto;
    top: 0px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_0 .views-slideshow-cycle-main-frame-row-item .views-field-body .field-content p {
    width: 225px;
    font-size: 13px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_0 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper {
    position: absolute;
    right: 25px;
    top: 150px;
}


/************* Slide 02 ************/

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_1 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-img.aboutus {
    position: absolute;
    bottom: 30px;
    left: 0px;
}

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_1 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-content.aboutus {
    position: absolute;
    top: 160px;
    left: 500px;
}

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_1 .views-slideshow-cycle-main-frame-row-item .views-field-field-slider-image {
    bottom: 50px;
    left: 25px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_1 .views-slideshow-cycle-main-frame-row-item .views-field-body {
    left: 0;
    width: auto;
    top: 0px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_1 .views-slideshow-cycle-main-frame-row-item .about-us-slider-title {
    top: 145px;
    left: 530px;
    width: auto;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_1 .views-slideshow-cycle-main-frame-row-item .views-field-body .field-content p {
    width: 225px;
    font-size: 13px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_1 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper {
    position: absolute;
    right: 25px;
    top: 150px;
}

/************* Slide 03 ************/

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_2 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-img.aboutus {
    position: absolute;
    bottom: -5px;
    left: 30px;
}

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_2 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-content.aboutus {
    position: absolute;
    top: 160px;
    left: 480px;
}

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_2 .views-slideshow-cycle-main-frame-row-item .views-field-body {
    left: 0px;
    width: auto;
    top: 0px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_2 .views-slideshow-cycle-main-frame-row-item .about-us-slider-title {
    top: 145px;
    left: 530px;
    width: auto;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_2 .views-slideshow-cycle-main-frame-row-item .views-field-body .field-content p {
    width: 225px;
    font-size: 13px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_2 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper {
    position: absolute;
    right: 25px;
    top: 150px;
}

/************* Slide 04 ************/

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_3 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-img.aboutus {
    position: absolute;
    bottom: -5px;
    left: 30px;
}

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_3 .views-slideshow-cycle-main-frame-row-item .views-field-body .banner-content.aboutus {
    position: absolute;
    top: 160px;
    left: 490px;
}

#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_3 .views-slideshow-cycle-main-frame-row-item .views-field-body {
    left: 0px;
    width: auto;
    top: 0px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_3 .views-slideshow-cycle-main-frame-row-item .about-us-slider-title {
    top: 145px;
    left: 530px;
    width: auto;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_3 .views-slideshow-cycle-main-frame-row-item .views-field-body .field-content p {
    width: 225px;
    font-size: 13px;
}
#block-views-slider-block-10 #views_slideshow_cycle_div_slider-block_10_3 .views-slideshow-cycle-main-frame-row-item .views-field-body .btnWrapper {
    position: absolute;
    right: 25px;
    top: 150px;
}

/************* End - New css added for the banner ****************/



/*#views_slideshow_cycle_main_for_office_product_and_services_-block_slider .views-slideshow-cycle-main-frame-row .views-field-field-slider-desription- .rightHdCloud .internetText {
    line-height: 1;
}
#views_slideshow_cycle_main_for_office_product_and_services_-block_slider .views-slideshow-cycle-main-frame-row .views-field-field-slider-desription- .rightHdCloud .askBtn a {
    color: #6a6a6a;
    background-color: #ffffff;
    border: 1px solid #cccdd0;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    display: block;
}
#views_slideshow_cycle_main_for_office_product_and_services_-block_slider .views-slideshow-cycle-main-frame-row .views-field-field-slider-desription- .rightHdCloud .askBtn a:hover {
    color: #66be00;
    background-color: #fff;
    border: 1px solid #66be00;
}*/


#block-views-slider-block-10 .views-slideshow-controls-bottom {position: absolute; top: auto; width: 100%; z-index: 99; bottom: 15px;}
#block-views-slider-block-10 .views-slideshow-controls-bottom .views-slideshow-pager-fields {display: table; margin: 0 auto;}
#widget_pager_bottom_slider-block_10 .views-slideshow-pager-field-item{margin-left:0;display:block;float:left;height:13px;width:40px;background-color:#fff;border:1px solid #d1d1d1;cursor:pointer;color:#fff;text-indent:0;}
#widget_pager_bottom_slider-block_10 .views-slideshow-pager-field-item:first-child{border-radius:15px 0 0 15px;}
#widget_pager_bottom_slider-block_10 .views-slideshow-pager-field-item:last-child{border-radius:0 15px 15px 0;}
#widget_pager_bottom_slider-block_10 .views-slideshow-pager-field-item.active, 
#widget_pager_bottom_slider-block_10 .views-slideshow-pager-field-item:hover{background-color:#2f9cd5;color:#2f9cd5;}

/**************** About Us -- Company Overview -- Reviews Section CSS Ends Here *****************/



/**************** About Us -- Company Overview -- Reviews Section CSS Starts Here *****************/

.page-about-us #block-tikona-forhome-reviews h2 {
    color: #2d9ed6; padding-top: 10px;
}
.page-about-us #block-tikona-forhome-reviews h2 span.fontFamilyTikona {
    display: none;
}
.page-about-us #block-tikona-forhome-reviews .social-links {
    background-color: #2d9ed6;
}
.page-about-us #block-tikona-forhome-reviews .social-links .view-reviews-testimonial .views-row {
    border-top: 1px solid #2686B5;
    box-shadow: 0px -1px 0px 0px #57B1DE;
    -moz-box-shadow: 0px -1px 0px 0px #57B1DE;
    -webkit-box-shadow: 0px -1px 0px 0px #57B1DE;
}
.page-about-us #block-tikona-forhome-reviews .view-footer .btnRounded {
    color: #6a6a6a;
    background-color: #fff;
    border: 1px solid #cccdd0;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
}
.page-about-us #block-tikona-forhome-reviews .view-footer .btnRounded:hover {
    color: #2c9ed6;
    background-color: #fff;
    border: 1px solid #2c9ed6;
}
.page-about-us #block-views-taxonomy-lists-block-city-lists .coverage-header h2 {
    color: #2c9ed6;
}
.page-about-us #block-views-taxonomy-lists-block-city-lists .coverage-book-now #book-now {
    color: #2c9ed6;
}




/**************** About Us -- Company Overview -- Reviews Section CSS Ends Here *****************/




/********************************** For About Us Banner CSS Starts Here *********************************/

.page-about-us #block-views-slider-block .view-slider .views-slideshow-cycle-main-frame-row-item .views-field .field-content {display: table-cell; height: auto; vertical-align: bottom;}

.page-about-us #block-views-slider-block .view-slider .views-field-body {float: right;position: absolute; right: 75px; width: 300px; top: 150px;}
                                                                             
.page-about-us #block-views-slider-block .view-slider .views-field-field-slider-image img {
    position: absolute;
    bottom: 0;
    max-width: none !important;
}
.page-about-us #block-views-slider-block .view-slider .views-field-body .bannerTextWrapper .internetText {
    color: #2d9ed6;
    margin-bottom: 7px;
}
.page-about-us #widget_pager_bottom_slider-block .views-slideshow-pager-field-item.active, .page-about-us #widget_pager_bottom_slider-block .views-slideshow-pager-field-item:hover {
    background-color: #2d9ed6;
}

/********************************** For About Us Banner CSS Ends Here *********************************/



/********************************* For Office - Internet Leased Line Section CSS Starts Here *************************/

.enquiryHD .visit-form-foroffice .webform-client-form .form-item p {
    font-size: 12px;
    margin: 0;
}
.enquiryHD .visit-form-foroffice .webform-client-form .form-actions {
    margin: 0px 0 10px 0;
}
.enquiryHD .visit-form-foroffice .webform-client-form .form-actions .form-submit {
    background-color: #fff;
    border: 1px solid #CCCDD0;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    color: #6A6A6A;
    padding: 7px 13px;
    text-align: center;
    margin-right: 13px;
}
.enquiryHD .visit-form-foroffice .webform-client-form .form-actions .form-submit:hover {
    color: #64bf02;
    border: 1px solid #64bf02 !important;
}



/********************************* For Office - Internet Leased Line Section CSS Ends Here *************************/



/*********************** Banner Top Button CSS Starts Here **********************/

#block-tikonaaboutus-aboutus-banner-links {
    /*position: relative;*/ margin: 0; display: none;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links {
    /*position: absolute; top: 0; right: 10px;*/ float: right; margin-right: 10px;
}

#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-what-we-do, #block-tikonaaboutus-aboutus-banner-links .banner-links .banner-reviews, #block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now {
    display: inline-block;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-what-we-do {
    background: #2d9cd4;
    background: -moz-linear-gradient(top, #2d9cd4 0%, #288ec0 47%, #237ca8 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d9cd4), color-stop(47%,#288ec0), color-stop(99%,#237ca8));
    background: -webkit-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: -o-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: -ms-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: linear-gradient(to bottom, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d9cd4', endColorstr='#237ca8',GradientType=0 );
    width: 125px;
    height: 60px;
    vertical-align: top;
    border-bottom-left-radius: 10px;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-what-we-do:hover {
    background: #237ca8;
    background: -moz-linear-gradient(top, #237ca8 1%, #288ec0 47%, #2d9cd4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#237ca8), color-stop(47%,#288ec0), color-stop(100%,#2d9cd4));
    background: -webkit-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: -o-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: -ms-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: linear-gradient(to bottom, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#237ca8', endColorstr='#2d9cd4',GradientType=0 );
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-reviews {
    width: 125px;
    height: 60px;
    vertical-align: top;
    border-bottom-right-radius: 10px;
    background: #2d9cd4;
    background: -moz-linear-gradient(top, #2d9cd4 0%, #288ec0 47%, #237ca8 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d9cd4), color-stop(47%,#288ec0), color-stop(99%,#237ca8));
    background: -webkit-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: -o-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: -ms-linear-gradient(top, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    background: linear-gradient(to bottom, #2d9cd4 0%,#288ec0 47%,#237ca8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d9cd4', endColorstr='#237ca8',GradientType=0 );
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-reviews:hover {
    background: #237ca8;
    background: -moz-linear-gradient(top, #237ca8 1%, #288ec0 47%, #2d9cd4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#237ca8), color-stop(47%,#288ec0), color-stop(100%,#2d9cd4));
    background: -webkit-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: -o-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: -ms-linear-gradient(top, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    background: linear-gradient(to bottom, #237ca8 1%,#288ec0 47%,#2d9cd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#237ca8', endColorstr='#2d9cd4',GradientType=0 );
}

#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-what-we-do .fontFamilyTiokna {
    font-family: Tikona-IconFont;
    color: #fff;
    font-size: 35px;
    display: inline-block;
    margin-top: 21px;
    margin-left: 10px;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-what-we-do .what_we_do_txt {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    width: 54px;
    float: right;
    text-align: center;
    margin-top: 9px;
    padding: 0 10px;
}

#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-reviews .fontFamilyTiokna {
    font-family: Tikona-IconFont;
    color: #fff;
    font-size: 35px;
    display: inline-block;
    margin-top: 21px;
    margin-left: 10px;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .banner-reviews .reviews_txt {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    width: 58px;
    float: right;
    text-align: center;
    margin-top: 19px;
    padding: 0 10px;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now  {
    background-color: #fff;
    border: 1px solid #b4b5b5;
    border-radius: 0 0 10px 10px;
    height: 55px;
    position: relative;
    width: 190px;
    z-index: 1;
    color: #2C9ED6;
    box-shadow: 0 3px 0 #2C9ED6;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now:hover, #block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now:hover .book_now_txt, #block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now:hover .fontFamilyTiokna {
    color: #fff;
    background-color: #2C9ED6;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now .fontFamilyTiokna {
    font-family: Tikona-IconFont;
    color: #2C9ED6;
    font-size: 35px;
    display: inline-block;
    margin-top: 18px;
    margin-left: 13px;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now .book_now_txt {
    display: inline-block;
    color: #646464;
    font-size: 24px;
    width: 130px;
    float: right;
    text-align: left;
    margin-top: 19px;
    padding: 0 6px 0 0;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now .book_now_txt .book-now-title {
    font-family: UbuntuBold;
}
#block-tikonaaboutus-aboutus-banner-links .banner-links .abt-us-banner-book-now .book_now_txt .small-txt {
    font-size: 12px;
}


/*********************** Banner Top Button CSS Ends Here **********************/



#block-views-media-center-block .view-content .item-list li, #block-views-media-center-block-print-news .view-content .item-list li, #block-views-media-center-block-web-news .view-content .item-list li {
    display: list-item;
    list-style-type: disc;
    margin: 0;
}
#block-views-media-center-block-print-news .view-content .item-list li .quick-edit-link, #block-views-media-center-block-web-news .view-content .item-list li .quick-edit-link {
    border-bottom: none;
    float: right;
    width: auto;
    margin-top: 9px;
}
#block-views-media-center-block .view-content .item-list li .quick-edit-link {
    border-bottom: none;
    float: right;
    width: auto;
}
#block-views-media-center-block .view-content .item-list li .quick-edit-link a, #block-views-media-center-block-print-news .view-content .item-list li .quick-edit-link a, #block-views-media-center-block-web-news .view-content .item-list li .quick-edit-link a {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


/**** New CSS for Nav Menu Starts Here ****/

/*#block-om-maximenu-om-maximenu-1 .om-maximenu-no-style .om-menu li.leaf-customer-support .om-maximenu-middle {
    width: 200px;
}
#block-om-maximenu-om-maximenu-1 .om-maximenu-no-style .om-menu li.leaf-tikona-social .om-maximenu-middle {
    width: 154px;
}
#block-om-maximenu-om-maximenu-1 .om-maximenu-no-style .om-menu li.leaf-contact-us .om-maximenu-middle {
    width: 135px;
}*/

/**** New CSS for Nav Menu Ends Here ****/