@font-face{font-family:'UbuntuBold';src:url('fonts/ubuntu-b-webfont.ttf') format('truetype'),url('fonts/ubuntu-b-webfont.svg') format('svg'),url('fonts/ubuntu-b-webfont.eot'),url('fonts/ubuntu-b-webfont.eot#iefix') format('embedded-opentype'),url('fonts/ubuntu-b-webfont.woff') format('woff')}@font-face{font-family:'UbuntuRegular';src:url('fonts/ubuntu-r-webfont.ttf') format('truetype'),url('fonts/ubuntu-r-webfont.woff') format('woff'),url('fonts/ubuntu-r-webfont.eot'),url('fonts/ubuntu-r-webfont.eot#iefix') format('embedded-opentype'),url('fonts/ubuntu-r-webfont.svg') format('svg')}@font-face{font-family:'Tikona-IconFont';src:url('fonts/Tikona.eot');src:url('fonts/Tikona.eot?#iefix') format('embedded-opentype'),url('fonts/Tikona.woff') format('woff'),url('fonts/Tikona.ttf') format('truetype'),url('..fonts/Tikona.svg#Tikona') format('svg')}@font-face{font-family:'Tikona_1';src:url('fonts/Tikona_1.eot');src:url('fonts/Tikona_1.eot?#iefix') format('embedded-opentype'),url('fonts/Tikona_1.woff') format('woff'),url('fonts/Tikona_1.ttf') format('truetype'),url('fonts/Tikona_1.svg#Tikona_1') format('svg')}



/*

 ********************** Office Theme *****************************
  ================================================== 


.section-for-office #navigation #om-menu-maxi-main-menu-ul-wrapper ul li.active a {
    color: #64bf02;
    font-weight: 600;
}

.fontColorGreen { color: #66bd00 }

.rightHdCloud { height: 345px; width: 361px; }

.hdGreyCircle { background-color: #dddfdf; border-radius: 40px; height: 80px; width: 80px; }

.hdGreyMargin { margin: 20px 0 0; text-align: center; }

.paddyTop { padding: 20px 0 0 15px; width: 200px; }

.askBtn { margin: 12px 0 0 }

.btnRoundedReview { background-color: #ffffff; border: 1px solid #cccdd0; border-radius: 20px; color: #6a6a6a; cursor: pointer; padding: 7px 15px; }

.internetText1 { line-height: 1.4 }

.hdBox1 { padding: 10px 0 0; width: 410px; }

.rightHdMargin { margin: 50px 0 0 60px }

 ********************** About Page *****************************
  ================================================== 

.aboutLineHeight { line-height: 33px }

.aboutUsBlue { color: #2d9ed6 }

.aboutPara { padding: 15px 0 0 }

.lineMargin { line-height: 1.4 }

.bannerTextWrapper { width: 244px }

.bannerMarginText1 { margin: 152px 0 0 40px }

.bannerMarginText9 { margin: 106px 0 0 250px }

 ********************** Admin Section *****************************
  ================================================== 

.node-plans-form .form-wrapper, .node-plans-form .form-item { float: left; width: 48%; margin: 10px 0 5px; min-height: 45px; }

.node-plans-form .form-wrapper input.form-text, .node-plans-form .form-item input.form-text, .node-plans-form .form-wrapper .form-select { width: 300px }

.node-plans-form .form-wrapper.form-actions { float: none }

 ********************** Brodnband a/c Section *****************************
  ================================================== 

.view-display-id-block_my_account { background-color: #e63b33; height: 400px; color: #fff; }

.view-display-id-block_my_account .view-content { margin: 0 auto; padding: 35px 0 100px; width: 1200px; }

.view-display-id-block_my_account .view-content h2 a { color: #fff; padding-top: 14px; font-size: 24px; font-weight: normal; }

.view-display-id-block_my_account .view-content .field-name-body h2 { font-size: 18px; margin: 0; font-weight: normal; }

.view-display-id-block_my_account .view-content .field-name-body ul { float: left; list-style: none; margin-top: 72px; }

.view-display-id-block_my_account .view-content .field-name-body ul li { font-size: 18px }

.view-display-id-block_my_account .view-content .field-name-body ul li:first-child { font-family: Tikona-IconFont; font-size: 60px; height: 48px; margin-right: 198px; }

.view-display-id-block_my_account .view-content .field-name-body .lbtn-outer { float: left; margin: 40px 0 0; text-align: center; width: 85%; }

.view-display-id-block_my_account .view-content .field-name-body .btnRounded { background-color: #e63b33; border: 1px solid #cccdd0; border-radius: 20px; color: #fff; cursor: pointer; font-size: 14px; padding: 7px 15px; text-transform: uppercase; display: inline-block; }

.view-display-id-block_my_account .view-content .field-name-body .btnRounded .fontFamilyTikona { float: right; margin-left: 5px; }

.view-display-id-block_my_account .view-content .field-name-body .btnRounded:hover { background-color: #fff; border: 1px solid #e63b33; color: #e63b33; }

 ********************** User Guide Section *****************************
  ================================================== 

.view-display-id-block_user_guide .view-content { background-color: #f4f4f4; height: 400px; margin: 0 auto; max-width: 1350px; position: relative; width: 1200px; background: url("../images/userguide_1.jpg") no-repeat center bottom; }

.view-display-id-block_user_guide .view-content .item-list { margin: 30px 50px 0; width: 100%; }

.view-display-id-block_user_guide .view-content .item-list ul { list-style: none; min-height: 385px; }

.view-display-id-block_user_guide .view-content .item-list li { margin: 90px 0 0; width: 230px; float: left; }

.view-display-id-block_user_guide .view-content .item-list li:last-child { float: right; margin-right: 90px; }

.view-display-id-block_user_guide .view-content .item-list li .page-title { text-decoration: underline; color: #ee3a33; }

.view-display-id-block_user_guide .view-content .item-list li .page-title a { font-size: 36px; font-family: UbuntuBold; color: #ee3a33; }

.view-display-id-block_user_guide .view-content .item-list li .page-body { margin: 17px 0 0; font-size: 14px; color: #646464; }

.view-display-id-block_user_guide .view-content .item-list li .page-download { background-color: #e4e4e4; border: 1px solid #cccdd0; border-radius: 20px; box-shadow: 0 3px 0 0 #646464; color: #424242; font-size: 14px; padding: 7px 13px; text-align: center; background: #ffffff; width: 104px; margin-top: 15px; cursor: pointer; }

.view-display-id-block_user_guide .view-content .item-list li .page-download a { color: #424242 }

.view-display-id-block_user_guide .view-content .item-list li .page-download > a:after { content: "c"; float: left; font-family: Tikona-IconFont; }

.view-display-id-block_user_guide .view-content .item-list li .page-download:hover { border: 1px solid #e63b33; box-shadow: 0 3px 0 0 #e63b33; color: #e63b33; cursor: pointer; }


 ********************** Right Part Section *****************************
   ================================================== 

.tikona-care .contactRightWrapper { border-left: 1px solid #c0c0c0; float: right; margin: -25px 10px 0; padding-left: 50px; width: 330px; }

.tikona-care .contactRightWrapper h2 { margin: 0 0 10px; color: #646464; padding-top: 7px; font-family: UbuntuBold; font-size: 24px; line-height: 25px; }

.tikona-care .contactRightWrapper p { padding-bottom: 20px; color: #646464; }

 ********************** Payment Methods Section *****************************
   ================================================== 

.payment-methods { width: 1200px; padding: 0 25px; margin: 0 auto; }

.payment-methods h2 { color: #e63b33; font-size: 24px; font-weight: normal; margin-bottom: -40px; }

.payment-methods h2 .fontFamilyTikona { font-size: 35px; margin-left: 10px; }

.methodWrapper { display: block }

.methodWrapper a { height: 296px; width: 566px; color: #e63b33; text-align: center; margin-top: 60px; }

.methodWrapper a:first-child { border-right: 1px solid #c0c0c0 }

.methodWrapper .cashIcon { color: #e63b33; font-size: 107px; height: 60px; margin-top: 100px; }

.methodWrapper .cashText { font-size: 18px }

.methodWrapper .view-details { background-color: #e63b33; border: 1px solid #cccdd0; border-radius: 20px; color: #fff; cursor: pointer; font-size: 14px; padding: 7px 15px; text-transform: uppercase; display: inline-block; margin-top: 10px; }

.methodWrapper .view-details:hover { background-color: #fff; border: 1px solid #e63b33; color: #e63b33; }

.payment-methods .quicktabs-wrapper { display: block; width: 100%; }

.payment-methods .quicktabs-wrapper .item-list { display: inline-block; width: 100%; border-bottom: 1px solid #c0c0c0; }

.payment-methods ul.quicktabs-tabs.quicktabs-style-navlist { float: right; width: auto; padding: 0; }

.payment-methods ul.quicktabs-tabs.quicktabs-style-navlist li.active { border-bottom: 3px solid #646464; background: none; border-top: none; }

.payment-methods ul.quicktabs-tabs.quicktabs-style-navlist li { display: inline-block; padding-bottom: 15px; margin-left: 15px; }

.payment-methods ul.quicktabs-tabs.quicktabs-style-navlist li a { color: #646464; font-weight: normal; padding: 0; }

.payment-methods ul.quicktabs-tabs.quicktabs-style-navlist li.active a { color: #424242 }

.payment-methods .quicktabs_main.quicktabs-style-navlist { width: 100%; background: none; border: none; }

.payment-methods .quicktabs_main.quicktabs-style-navlist ul { margin: auto; padding: 10px; }

 ********************** Refer Friends Section *****************************
   ================================================== 

.refer-friend { max-width: 1200px; position: relative; margin: 0 auto; }

.whitePatch { background-color: #fff; border-radius: 10px; font-size: 20px; line-height: 1.5; margin: 10px 0 27px; padding: 10px 10px 2px 15px; }

.leftHd { width: 45% }

.rightHd { width: 50% }

.borderedHD { border: 1px solid #bfbfbf; box-shadow: 1px 0 0 #fff; height: 197px; margin: 0 2%; width: 0; }

.refer-friend .refer-friend .webform-client-form { display: block; float: left; }

.refer-friend .webform-client-form .form-item { float: left; width: 48%; margin-right: 2%; }

.refer-friend .webform-client-form #webform-component-your-details, .refer-friend .webform-client-form #webform-component-your-friends-details { width: 100%; float: left; margin: 0; }

.refer-friend .webform-client-form #webform-component-preffered.form-item { margin: 0 }

.refer-friend .webform-client-form #webform-component-preffered.form-item p { padding: 0; margin: 0; font-size: 12px; }

.refer-friend .webform-client-form .captcha, .refer-friend .webform-client-form .captcha img { float: left }

.refer-friend .webform-client-form .captcha .form-item { float: left; margin: 0 0 0 20px; width: auto; font-size: 12px; }

.refer-friend .webform-client-form .form-actions { float: right; width: 48%; margin: 20px 2% 20px 0; }

#webform-ajax-wrapper-1457 .messages.error { display: none }

.links a.ajax-processed { background: #e63b33; border-radius: 10px; color: #fff; float: left; margin: 20px 0; padding: 10px 0; text-indent: 20px; width: 100%; }

.refer-friend .webform-client-form .webform-hints-field, .refer-friend .form-select { background-color: transparent; border-color: #b2b2b2; border-radius: 0; border-style: none none solid; border-width: 0 0 1px; box-shadow: none; margin-bottom: -1px; padding: 0; width: 100%; }

.refer-friend .form-select { width: 110% !important }

.refer-friend .fieldset.collapsible { float: left }

.form-submit { background-color: #fff; border: 1px solid #cccdd0; border-radius: 20px; box-shadow: 0 3px 0 0 #646464; color: #6a6a6a; padding: 7px 13px; text-align: center; }

********************** Social Media Page Section ******************************
   ================================================== 

.tikona-social { background-color: #e63b33; margin: 0 auto; width: 100%; color: #fff; float: left; }

.tikona-social .social-media-policy { width: 1200px; margin: 0 auto; }

.tikona-social h2 { padding-top: 43px; font-size: 24px; line-height: 27px; font-weight: normal; }

.tikona-social .policyWrapper, .tikona-social .social-more { font-size: 14px; float: left; width: 586px; }

.tikona-social .social-full { float: left; width: 586px; padding-bottom: 130px; }

.tikona-social .policyWrapper p, .tikona-social .social-full p { padding-bottom: 10px; font-size: 14px; }

.tikona-social .social-full .social-less { float: right }

.tikona-social .channelsWrapper { border-left: 1px solid #f76857; padding-left: 30px; }

.tikona-social .channelsWrapper h3 { padding: 0; margin: 0 0 30px; font-weight: normal; }

.tikona-social ul { list-style: none }

.tikona-social ul li { border-right: 1px solid #f76857; padding: 10px 27px; display: inline-block; }

.tikona-social ul li a { font-family: 'Tikona_1','Tikona-IconFont'; color: #fff; line-height: 50px; font-size: 33px; }

********************** Social Forum Section ******************************
   ================================================== 

.displayB { display: block }

#rssMainWrapper { margin: 0 auto; max-width: 1350px; width: 1200px; position: relative; }

#rssMainWrapper .replyMainWrapper { background-color: #d1d1d1 }

#rssMainWrapper h2 { color: #e63b33; padding-top: 9px; font-size: 24px; font-weight: normal; }

.fontFamilyTikona1 { font-family: 'Tikona_1' }

#rssMainWrapper ul { list-style: none; margin: 0; padding: 0; }

#rssMainWrapper ul:nth-child(2n+1) { background-color: #f4f4f4 }

#rssMainWrapper ul li { float: left; padding: 12px 0 12px 15px; border-left: 1px solid #e4e4e4; color: #333; }

#rssMainWrapper ul li:first-child { width: 69.9%; border-left: none; }

.btnWrapper { margin: 25px 0 20px }

.sec-tikona-social .btnRoundedReview { background-color: #ffffff; border: 1px solid #cccdd0; border-radius: 20px; color: #6a6a6a; cursor: pointer; padding: 7px 15px; font-size: 12px; float: left; }

********************** For Office Introduction Section ******************************
   ================================================== 


.office-introduction { max-width: 1200px; padding-bottom: 30px; padding-top: 35px; padding-top: 35px; margin: 0 auto; }

.office-introduction .introduction { width: 45%; float: left; }

.office-introduction .introduction .for-office-title { font-size: 24px; color: #64bf02; padding-top: 4px; }

.office-introduction .introduction .introduction-content { margin-top: 20px; border-right: 1px solid #bfbfbf; padding-bottom: 20px; padding-right: 10px; min-height: 160px; }

.office-introduction .introduction .introduction-content { font-size: 14px; color: #646464; }

.office-introduction .office-menu-link, .office-introduction .services { width: 50%; float: right; margin-top: 20px; }

.office-introduction .services ul { margin-left: 15px; color: #a0a0a0; }

.office-introduction .office-menu-link .office-link-header { color: #646464; font-size: 18px; }

.office-introduction .services ul li { padding-left: 10px; margin-bottom: 5px; }


********************** For Office Main menu ******************************
   ================================================== 

.section-for-office .outer-wrapper {margin: 0 auto; padding: 0;}

.section-for-office .om-maximenu-no-style .om-maximenu-middle {width: 260px;}

.section-for-office #navigation #block-superfish-1 ul li.active-trail a { color: #64bf02; font-weight: 600; }

.section-for-office #navigation #block-om-maximenu-om-maximenu-2 { clear: both }

.section-for-office #navigation #block-om-maximenu-om-maximenu-2 ul#om-menu-for-home---sub-menu { display: block; margin: 0; padding: 0; width: 95%; }

.section-for-office #navigation #block-om-maximenu-om-maximenu-2 ul.om-menu > li { width:30%; }

.section-for-office.om-maximenu.om-maximenu-block ul.om-menu { float: none }

.section-for-office #navigation #block-om-maximenu-om-maximenu-2 ul.om-menu > li a { border-bottom: 4px solid #d5d5d1; color: #64bf02; display: inline-block; font-size: 21px; padding: 24px 0 4px; text-align: center; transition: border-bottom 0.3s ease 0s; width: 100%; }

.section-for-office #navigation #block-om-maximenu-om-maximenu-2 ul.om-menu > li .om-maximenu-content ul {list-style: none;}

.section-for-office #navigation #block-om-maximenu-om-maximenu-2 ul.om-menu > li .om-maximenu-content ul li a, 
.section-for-office #navigation #block-om-maximenu-om-maximenu-2 ul.om-menu > li .om-maximenu-content .om-maximenu-middle div a {font-size: 16px; color: #646464; display: block; padding: 12px 10px; width: 260px; border-bottom: none; text-align: left;}

.section-for-office #navigation #block-om-maximenu-om-maximenu-2 .om-maximenu-middle .edit-block {display: none;}

.section-for-office #navigation #block-om-maximenu-om-maximenu-2 ul.om-menu > li .om-maximenu-content ul li a:hover,*.section-for-office #navigation #block-om-maximenu-om-maximenu-2 ul.om-menu > li .om-maximenu-content .om-maximenu-middle div a:hover {background: #646464; color: #fff;}

.section-for-office .contact-forms .webform-client-form .form-item textarea {background-color: transparent;
                                                                             border: 1px solid #b2b2b2;
                                                                             border-radius: 10px;
                                                                             box-shadow: none;
                                                                             font-family: UbuntuRegular;
                                                                             height: 114px;
                                                                             line-height: 2.92;
                                                                             margin-bottom: 0;
                                                                             padding: 10px;
                                                                             resize: none;}

.section-for-office .midmiddleNav ul li {
    background: linear-gradient(180deg, #4b8b00 0%, #66be00 17%) repeat scroll 0 0 transparent;
    border-right: 1px solid #4b8b00;
    box-shadow: 1px 0 0 #66be00;
    margin: 0 auto;
    padding: 0 1%;
    width: 14.55%;
    float: left;
}
.section-for-office .midmiddleNav {
    height: 66px;
    width: 88%;
}
.section-for-office .midmiddleNav ul li:first-child {
    border-left: 1px solid #4b8b00;
}
for office inner page css

INTERNET LEASED LINE

.section-for-office .column #page-title {
    float: right; margin: 70px 80px 0 0; width: 361px; text-transform: uppercase; font-family: UbuntuBold; color: #66bd00; font-size: 42px; line-height: 1;
}

.section-for-office .column .field-name-field-service-image {
    float: left; width: 700px; margin-top: 10px;
}

.section-for-office .column .field-name-body {
    float: right; width: 361px; margin-right: 80px;
}

.section-for-office .column .field-name-body .benefits {
    margin: 12px 0
}

.section-for-office .column .field-name-field-service-description {
    float: left; width: 100%;
}

.section-for-office .column .field-name-field-benefit {
    float: left; width: 100%;
}

.section-for-office .column .enquiryHD {
    background-color: #66bd00; width: 100%; color: #fff; padding-bottom: 30px;
}

.section-for-office .enquiryHD .enquiryHDContent {
    max-width: 1200px;  width: 99%; margin: 0 auto;
}

.section-for-office .enquiryHD .enquirHDLeft {
    margin-top: 35px; width: 50%;
}

.section-for-office .enquiryHD .enquirHDLeft .headingService {
    margin: 10px 0 15px
}

.section-for-office .enquiryHD .enquirHDLeft ul {
    list-style-type: disc; margin-left: 15px; margin-top: 8px;
}

.section-for-office .enquiryHD .enquirHDLeft ul li {
    display: list-item; line-height: 1.9;
}

.section-for-office .enquiryHD .enquirHDRight {
    background-color: #ffffff; border-radius: 0 0 20px 20px; box-shadow: 0 5px 0 #5c834e; padding: 20px 0 15px 19px;
}

.section-for-office .enquiryHD .enquirHDRight {
    position: relative; width: 470px; color: #939393; 
}

.section-for-office .enquiryHD .enquirHDRight .fontColorGreen {
    color: #66bd00
}

.section-for-office .enquiryHD .enquirHDRight .webform-client-form .form-item {
    float: left; margin: 10px 0; padding: 0; width: 94%;
}

.section-for-office .enquiryHD .enquirHDRight .webform-client-form .form-item .element-invisible {
    position: relative; font-size: 14px; margin-top: 6px; width: 150px; float: left; height: auto; overflow: auto; position: relative !important; color: #66bd00; font-weight: normal;
}

.section-for-office .enquiryHD .enquirHDRight .webform-client-form .form-item .form-required {
    color: #66bd00
}

.section-for-office .enquiryHD .enquirHDRight .webform-client-form .form-item input, .section-for-office .enquiryHD .enquirHDRight .webform-client-form .form-item .form-select {
    background-color: #e4e4e4; border: 1px solid #e4e4e4; border-radius: 22px; color: #000; font-family: UbuntuRegular; padding: 5px 15px; width: 263px; color: #646464;
}

.section-for-office .enquiryHD .enquirHDRight .webform-client-form .captcha {
    float: left;
    margin: 10px 0;
    width: 100%;
}
.section-for-office .enquiryHD .enquirHDRight .webform-client-form .captcha img {
    border: 1px solid #ccc;
    float: left;
    padding: 10px 0;
    width: 45%;
}
.section-for-office .enquiryHD .enquirHDRight .webform-client-form .captcha .form-item-captcha-response {
    float: right;
    margin: 0 !important;
    width: 50%;
}

.section-for-office .enquiryHD .enquirHDRight .webform-client-form .captcha .form-item-captcha-response label {
    font-size: 12px;
    margin: 0;
    width: auto;
    color: #66bd00;
    font-weight: normal;
}
.section-for-office .enquiryHD .enquirHDRight .webform-client-form .captcha .form-item-captcha-response .form-text {
    width: 180px;
}
.section-for-office .enquiryHD .enquirHDRight .webform-client-form .captcha .form-item-captcha-response .description {
    color: #a0a0a0;
    font-size: 11px;
    width: auto;
}
.section-for-office .enquiryHD .enquirHDRight .webform-client-form .form-actions {
    float: left;
    text-align: center;
    width: 100%;
}

.section-for-office .page-bottom-office {
    width: 1200px;
    margin: 45px auto 10px;
}

.section-for-office .page-bottom-office .hd2Content h2{text-transform: uppercase; font-size: 24px; padding-top: 4px; color: #64bf02; margin: 0;}

.section-for-office .page-bottom-office .hd2Content h2 .fontFamilyTikona {display: inline-block; margin-left: 10px; font-size: 28px;}

.section-for-office .page-bottom-office .hd2Content {padding-bottom: 30px; padding-top: 35px; float: left; width: 100%;}

.section-for-office .page-bottom-office .hd2Content .field-name-field-service-description {width: 45%; float: left; border-right: 1px solid #bfbfbf; padding-right: 20px; min-height: 220px;  color: #646464; font-size: 14px; line-height: 22px;}

.section-for-office .page-bottom-office .hd2Content .field-name-field-benefit {float: right; width: 50%; color:#646464;}

.section-for-office .page-bottom-office .hd2Content .field-name-field-benefit .field-label {font-size: 18px; margin-bottom: 10px; font-weight: normal;}

.section-for-office .page-bottom-office .hd2Content .field-name-field-benefit ul {
    list-style: disc outside none;
    margin-top: 10px; font-size: 14px; margin-left: 13px;
}
.section-for-office .page-bottom-office .hd2Content .field-name-field-benefit ul li {
    line-height: 2.3;
    margin-bottom: 5px;}

for office contact us css
.section-for-office .office-contact-us{ background-color: #f4f4f4;
                                        height: 490px;
                                        margin: 41px auto 0;
                                        position: relative;
                                        width: 1200px;
}

.section-for-office .Nav, 
.section-for-office .midFirstNav {background: #66be00;}

.section-for-office .office-contact-us .quicktabs-wrapper .item-list {
    border-bottom: 1px solid #8a8a8a;
    margin-top: 10px;
}


.section-for-office .office-contact-us .quicktabs-wrapper .item-list ul li{ border-bottom: 5px solid #f4f4f4;
                                                                            display: block; margin: 0 127.3px 0 0; padding: 18px 0 5px; text-transform: uppercase; display: inline-block;}

.section-for-office .office-contact-us .quicktabs-wrapper .item-list ul li.active {border-bottom: 5px solid #646464;
}
.section-for-office .office-contact-us .quicktabs-wrapper .item-list ul li.active a {color: #646464;}

.section-for-office .webform-client-form .form-item { padding: 25px 0 0; width: 48%; float: left; margin-right: 2%;}

.section-for-office .webform-client-form .form-item input {   background-color: transparent;
                                                              border-top: 0;
                                                              border-left: 0;
                                                              border-right: 0;
                                                              border-bottom: 1px solid #B2B2B2;
                                                              box-shadow: none;
                                                              margin-bottom: -1px;
                                                              padding: 0;
                                                              border-radius: 0;
                                                              width: 100%;
                                                              font-size: 14px;}

.section-for-office .webform-client-form .form-select { background-color: transparent;
                                                        border-top: 0;
                                                        border-left: 0;
                                                        border-right: 0;
                                                        border-bottom: 1px solid #B2B2B2;
                                                        box-shadow: none;
                                                        margin-bottom: -1px;
                                                        padding: 0;
                                                        color: #a4a4a4;
                                                        font-size: 14px;
                                                        border-radius: 0;
                                                        width: 104%;}

.section-for-office .webform-client-form #webform-component-select-service{background: url("../images/arrow.png") no-repeat 95% 44px; overflow: hidden; padding-bottom: 1px;}

.section-for-office .webform-client-form .captcha-admin-links {float: left;
                                                               margin-right: 2%;
                                                               padding: 0;
                                                               width: 48%;}

.section-for-office .webform-client-form  .form-actions {width: 48%; float: left;}*/
