/*.banner-col{position:absolute; top: 0px;}*/
.body_wrapper, #overall_content, #primary_content{position:relative; height:100%;}
.body_wrapper{background: rgba(0,0,0, 0.5);}

.footer {
  padding: 12px 0 43px 0;
  position: absolute;
  width: 100%;
  margin-top: -143px;
}

.footer .row {
  padding: 5px 0px;
}

@media (max-width: 767px){
  .splash_tagline{
    font-size: 16px;
    margin-top:20px;
  }
  .footer {
    display:none;
  }
}

@media (max-height: 580px) {
  #overall_content {
    overflow: hidden;
  }
  .footer {
    position: inherit;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .body_wrapper, #overall_content, #primary_content {
    position:relative;
    height:100%;
  }
}
