/* mark-new-posts */
.mnp-image-before {
    float: left;
}

/* captcha */
.cptch_block {
	direction: rtl;
}

.post-ratings {
    width: 60%;
}

.tablepress th{padding:8px;border:none;background:0 0;text-align:right;float:none!important}
.tablepress td{padding:8px;border:none;background:0 0;text-align:right;float:none!important}


/* submitted-posts */
div#user-submitted-posts fieldset input.usp-input {
    float: right; 
	}
	
	div#user-submitted-posts fieldset label {
    float: right;
	}

#usp_form {
  text-align: right;
}


