
/* override the background for now */


.apphub_HomeHeader
{
	margin: 0 auto 8px auto;
	max-width: 948px;
}
.apphub_HomeHeader .responsive_tab_ctn {
	margin-top: 8px;
}
.apphub_HomeHeaderContent
{
	padding: 10px 0 0 0;
}
body.apphub_blue
{
	background: #1b2838;
	color: #636363;
}
.apphub_Cards
{
	position: relative;
}

.apphub_GetMoreContent, .apphub_GetMoreContentWait
{
	max-width: 948px;
	height: 300px;
	line-height: 300px;
	text-align: center;
	margin: 0 auto;
	border:  1px solid transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}

.apphub_GetMoreContentWait img
{
	vertical-align: middle;
	padding-right: 10px;
}

.apphub_NoMoreContent
{
	max-width: 948px;
	margin: 0 auto;
	height: 229px;
	color: #c4c4c4;
	background: url( 'http://steamcommunity-a.akamaihd.net/public/images/apphubs/bg_hubbottom.png' ) no-repeat center top;
	text-align: center;
}

.apphub_NoMoreContentText1
{
	max-width: 410px;
	font-size: 18px;
	padding-top: 100px;
	margin: 0 auto;
}

.apphub_NoMoreContentText2
{
	max-width: 410px;
	font-size: 23px;
	margin: 0 auto;
}

.apphub_NoMoreArtwork
{
	max-width: 550px;
	font-size: 14px;
	padding-top: 10px;
	margin: 0 auto;
}


.appHubLoadingPageModal
{
	font-size: 14px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			text-align: center;
	line-height: 35px;
	height: 75px;
	overflow: hidden;
}

.appHubLoadingPageModal a
{
	text-decoration: underline;
}

.appHubLoadingPageModal img
{
	vertical-align: middle;
	padding-right: 10px;
}

.apphub_BackToTop
{
	position: fixed;
	margin-right: -616px;
	right: 50%;
	bottom: 0px;
	height: 33px;
	width: 131px;
	z-index: 800;
	text-align: center;
}

.apphub_BackTopTopShadow
{
	background-image: url( 'http://steamcommunity-a.akamaihd.net/public/images/apphubs/btn_back_top_shadow.png' );
	margin-left: 5px;
	width: 949px;
	height: 20px;
}

.apphub_BackToTopButton
{
	background-image: url( 'http://steamcommunity-a.akamaihd.net/public/images/apphubs/btn_back_top_active.png' );
	width: 3px;
	height: 33px;
	line-height: 33px;
	float: left;
	display: inline-block;
}

.apphub_BackToTop:hover .apphub_BackToTopButton
{
	background-image: url( 'http://steamcommunity-a.akamaihd.net/public/images/apphubs/btn_back_top_hover.png' );
}

.apphub_BackToTopButton.middle
{
	left: 3px;
	width: 125px;
	background-position: 0px -33px;
	background-repeat: repeat-x;
}

.apphub_BackToTopButton.leftcap
{
	left: 0px;
	background-position: 0px 0px;
}

.apphub_BackToTopButton.rightcap
{
	right: 0px;
	background-position: 0px -66px;
}

.appHub_BackToTopBody a
{
	color: #b7b7b7;
}

/* section filter */

.apphub_SectionFilter
{
	position: relative;
	margin: 0 auto;
	background-color: #2a2d33;
	background-color: rgba( 0, 0, 0, 0.4 );
	min-height: 46px;
	max-width: 946px;
}

.apphub_SectionFilterLabel
{
	float: left;
	color: #2f89bc;
	text-transform: uppercase;
	padding-left: 12px;
	line-height: 46px;
	font-size: 11px;
}

.apphub_SectionFilterLabel.language
{
	padding-left: 20px;
}


.apphub_SectionFilter .learnMore
{
	float:right;
	padding-top: 16px;
	padding-right: 16px;
	color: #c6d4df;
}
.apphub_SectionFilter .learnMore a {
	text-decoration: underline;
	color: #c6d4df;
}
.apphub_SectionFilter .learnMore a:hover {
	color: #fff;
}

@media screen and (max-width: 750px)
{
	html.responsive .apphub_SectionFilter .learnMore {
		display: none;
	}

	html.responsive .apphub_SectionFilterLabel.language {
		clear: left;
		padding-left: 12px;
	}
}

.apphub_AllContentText
{
	position: relative;
	color: #d1d1d1;
	text-align: center;
	line-height: 32px;
	font-size: 12px;
	padding-top: 10px;
}

.apphub_HubDivider
{
	background-image: url( 'http://steamcommunity-a.akamaihd.net/public/images/apphubs/hub_divider.png?v=1' );
	height: 4px;
}

.apphub_MostPopularLink
{
	font-size: 12px;
	color: #6ca1d5;
	cursor: pointer;
}

.apphub_SectionFilter .apphub_MostPopularLink
{
	line-height: 46px;
	float: left;
	padding-left: 10px;
	padding-right: 2px;
}

.apphub_MostPopularExplanationTitle
{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

.apphub_MostPopularExplanationText
{
}

.apphub_FollowGame
{
	line-height: 46px;
	float: right;
	padding-right: 10px;
}
.apphub_FollowGameTooltip
{
	font-size: 12px;
	color: #6ca1d5;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 2px;
}

.apphub_UploadImageLink
{
	float: right;
	margin: 5px 10px 5px 0;
}

.responsive_page_menu .apphub_UploadImageLink
{
	float: none;
}

/* filter */

.filterselect_subtext
{
	font-size: 10px;
}

div.filterselect
{
	position: relative;
	cursor: pointer;
	width: 215px;
	height: 26px;
	line-height: 26px;
	color: #66C0F4;
	font-size: 12px;
	background: rgba( 103, 193, 245, 0.2 );
	border-radius: 2px;
	float: left;
	margin-top: 9px;
	margin-left: 10px;
	text-align: left;
	text-transform: uppercase;
}
div.filterselect:hover {
	color: white;
	background: rgba( 103, 193, 245, 1 );
}

div.filterselect_options {
	text-align: left;
	width: 215px;
	line-height: 26px;
	color: white;
	font-size: 12px;
	background-color: #417A9B;
	z-index: 3;
	text-transform: uppercase;
}

div.filterselect_options.language {
	width: auto;
}

div.filterselect .filterselect_arrow, div.filterselect #filterselect_arrow {
	position: absolute;
	right: 0px;
	top: 2px;
	width: 17px;
	height: 20px;
	background-image: url( 'http://steamcommunity-a.akamaihd.net/public/images/sharedfiles/workshop_dateselect_arrow.png' );
	background-repeat: no-repeat;
	background-position: top center;
}

div.filterselect.focus #filterselect_arrow{
	background-position: bottom;
}

div.filterselect div.option, div.filterselect_options div.option {
	padding-left: 7px;
	height: 24px;
	line-height: 24px;
	cursor: default;
	border-bottom: none;
}

div.filterselect #filterselect_activefilter
{
	background-color: #719F33;
	color: #ffffff;
	border-bottom: 1px solid #707070;
}

div.filterselect_options div.option{
	border-bottom: none;
}

div.filterselect_options div.option:hover {
	background-color: #333333;
}

div.filterselect div.option img, div.filterselect_options div.option img {
	vertical-align: middle;
}

div.filterselect.user_reviews_rating_filter {
	width: auto;
	min-width: 150px;
}
div.filterselect_options.user_reviews_rating_filter {
	width: auto;
	min-width: 150px;
}

/* stats filter */
div.statsselect
{
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 12px;
	line-height: 19px;
	color: white;
	font-size: 12px;
	margin-top: 26px;
	margin-left: 6px;
	text-align: left;
	text-transform: uppercase;
}

.statsselect_text
{
	font-size: 12px;
	color: white;
	text-transform: none;
	margin-right: 17px;
	padding-left: 5px;
	text-decoration: underline;
}

div.statsselect_options {
	text-align: left;
	width: 215px;
	line-height: 26px;
	color: white;
	font-size: 12px;
	background-color: #3B3938;
	border: 1px solid #82807C;
	cursor: pointer;;
	background-image: url( '/skin_1/gamelist_popup_bg.gif' );
	z-index: 3;
}

div.statsselect #statsselect_arrow {
	position: absolute;
	right: 0px;
	top: -2px;
	width: 17px;
	height: 20px;
	background-image: url( 'http://steamcommunity-a.akamaihd.net/public/images/sharedfiles/workshop_dateselect_arrow.png' );
	background-repeat: no-repeat;
	background-position: top center;
}

div.statsselect.focus #statsselect_arrow{
	background-position: bottom;
}

div.statsselect div.option, div.statsselect_options div.option {
	padding-left: 7px;
	height: 24px;
	line-height: 24px;
	cursor: default;
	border-bottom: none;
}

div.statsselect #statsselect_activestats
{
	background-color: #719F33;
	color: #ffffff;
	border-bottom: 1px solid #707070;
}

div.statsselect_options div.option{
	border-bottom: none;
	cursor: pointer;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.statsselect_options div.option:hover {
	background-color: #333333;
}

div.statsselect div.option img, div.statsselect_options div.option img {
	vertical-align: middle;
}

/* search */
.appHubSearchTextForm
{
	float: left;
	padding-left: 8px;
	margin: 9px 0;
}

.appHubSearchTextInput
{
	height: 24px;
	line-height: 24px;
	width: 235px;
	border: 1px solid #6283b2;
	background-color: #2f3e55;
	font-size: 11px;
	color: white;
	padding-left: 5px;
}

.appHubSearchTextImage
{
	position: absolute;
	top: 5px;
	right: 3px;
	width: 23px;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
}

/* store info header */

.apphub_StoreInfoHeader
{
	/*background-image: url( 'http://steamcommunity-a.akamaihd.net/public/images/apphubs/bg_gameinfo.png' );*/
    border-top: 1px solid #272f38;
    background-color: rgba( 0, 0, 0, 0.8 );
	max-width: 904px;
	min-height: 182px;
	text-align: left;
	padding: 15px 22px;
	margin: 0 auto;
}

.apphub_StoreAppLogo
{
	width: 374px;
	height: auto;
	float: left;
	margin-right: 2%;
	max-width: 45%;
}

.apphub_StoreAppText
{
	color: #8c8b8a;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-size: 14px;
	text-align: left;
}

.apphub_StoreAppData
{
	padding-top: 20px;
	float: left;
}

.apphub_StorePrice
{
	position: relative;
	height: 28px;
	width: 100px;
	border: 1px solid #4e4c4a;
	margin-right: 5px;
	float: left;
}

.apphub_StorePrice .price
{
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}

.apphub_StorePrice .discount_prices
{
	position: absolute;
	left: 50px;
}

.apphub_StorePrice .discount_prices_no_percentage
{
	position: absolute;
	left: 5px;
	text-align: center;
}

.apphub_StorePrice .discount_pct
{
	background-color: #4c6b22;
	color: white;
	position: absolute;
	left: 0px;
	width: 40px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}

.apphub_StorePrice .discount_original_price
{
	position: relative;
	top: 0px;
	font-size: 11px;
	text-decoration: line-through;
	color: #676767;
}

.apphub_StorePrice .discount_final_price
{
	position: relative;
	top: -3px;
	font-size: 12px;
	color: white;
}

.apphub_SwitchSitesBtn.storeInfo
{
	float: left;
}

.apphub_EarlyAccess
{
	background: no-repeat url( 'http://steamcommunity-a.akamaihd.net/public/images/apphubs/early_access_banner.jpg' );
	max-width: 948px;
	height: 38px;
	line-height: 38px;
	margin: 0 auto;
}

.apphub_EarlyAccess_Title
{
	padding-left: 15px;
	float: left;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-size: 18px;
	color: white;
}

.apphub_EarlyAccess_Desc
{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 10px;
	padding-top: 1px;
	font-size: 14px;
	color: #a1b8cc;
}

/* discussions */
.leftcol
{
	float: left;
	width: 640px;
}

.rightcol {
	float: right;
	width: 295px;
}

.rightbox_header, .rightbox_footer {
	/*background: no-repeat url( 'http://steamcommunity-a.akamaihd.net/public/images/groups/rightcol_box_topbtm.png' );*/
	width: 295px;
	height: 4px;
}
.rightbox_header {
	background-position: top;
}
.rightbox_footer {
	background-position: bottom;
	height: 5px;

	margin-bottom: 18px;
}
.rightbox {
	background: repeat-y url( 'http://steamcommunity-a.akamaihd.net/public/images/groups/rightcol_box_repeat.png' );
}
.rightbox .content {
	padding: 16px 14px;
}
.rightbox .rule {
	height: 1px;
	background-color: #333333;
	border-top: 1px solid #000000;
}

.rightbox_list_header, .rightbox_content_header {
	color: #676765;
	font-size: 12px;
	margin-bottom: 12px;
}

.rightbox_content_header {
	padding: 11px 14px;
	margin-bottom: 0px;
}

.rightbox_list_option {
	position: relative;
	line-height: 37px;
	height: 37px;
	color: #c9c9c9;
}

.rightbox_list_option_content {
	position: relative;
}

.rightbox_list_option.selected .rightbox_list_selection_background {
	display: block;
}

.rightbox_list_selection_background {
	position: absolute;
	display: none;
	left: -27px;
	top: 0px;
	background-image: url( 'http://steamcommunity-a.akamaihd.net/public/images/groups/rightcol_option_selected.png' );
	width: 306px;
	height: 37px;
}



.weblink {
	line-height: 24px;
}

.weblink a {
	color: #e1e1e1;
}

.weblink a:hover {
	text-decoration: underline;
	color: #ffffff;
}

.weblink img {
	vertical-align: middle;
}

.forum_list_unread {
	font-weight: bold;
	color: #ffffff;
}

.forum_list .rightbox_list_option.selected {
	color: #ffffff;
}

.forum_list_postcount {
	float: right;
	padding-right: 6px;
}

.forum_list_name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;;
}

.rightbox .content .forum_button {
	margin: 0px;
}

/* reported content */
.reported_content_gradient {

	background: -moz-linear-gradient(top,  rgba(27,27,27,0) 0%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,27,27,0)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(27,27,27,0) 0%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(27,27,27,0) 0%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(27,27,27,0) 0%,rgba(27,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(27,27,27,0) 0%,rgba(27,27,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b1b1b', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.reported_item_checkbox
{
	position: absolute;
	width: 25px;
	height: 25px;
	right: 0px;
	bottom: 0px;
}

.reported_review_quality_dropdown {
	width: 100px;
}

@media screen and (max-width: 910px)
{
	html.responsive .leftcol,
	html.responsive .rightcol {
		width: auto;
		float: none;
	}

	html.responsive .leftcol {
		max-width: 640px;
	}
}