
body
{
    /*	background: #262627 url('http://steamcommunity-a.akamaihd.net/public/images/skin_1/community_2_background_gradient.png') top repeat-x;
        background-position: 0 105px; */
    background: #1b2838;
    color: #636363;
}

.community_home_header
{
	position: relative;
	max-width: 948px;
	margin: 0px auto;
	padding: 20px 1% 0 1%;
	text-align: left;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.community_home_title
{
	font-weight: normal;
	font-size: 26px;
	color: #FFFFFF;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			text-align: left;
}

.community_home_subtitle
{
    font-weight: normal;
    font-size: 17px;
    color: #9099a1;
    font-family: Arial, Sans-Serif;
    text-align: left;
    padding-top: 5px;
}

.community_home_stats
{
	padding-top: 5px;
	font-size: 17px;
	color: #5a5a5a;
}

.num_contributions
{
	color: #cdcdcd;
}
.num_contributions_text
{
	color: #939393;
	font-weight: normal;
}

.num_accounts_game
{
	color: #8BC53F;
}
.num_accounts_game_text
{
	color: #5c7e10;
	font-weight: normal;
}

.num_accounts_online
{
	color: #529cde;
}
.num_accounts_online_text
{
	color: #62A7E3;
	font-weight: normal;
}

.community_home_tabs
{
	position: relative;
	max-width: 948px;
	padding: 0 1%;
	margin: 0px auto;
	padding-top: 5px;
	padding-bottom: 10px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.appHubShortcutText {
	overflow: hidden;
}

.community_home_header .appHubShortcut, .community_home_header .appHubShortcut a, .community_home_header .appHubShortcut a:visited
{
	color: #dadada;
}

.community_home_header .appHubShortcut a:hover
{
	color: #ffffff;
	text-decoration: underline;
}

.appHubShortcut_Title
{
	line-height: 15px;
    font-size: 13px;
}

.new_items_num
{
	font-size: 12px;
    line-height: 15px;
	color: #2f89bc;
}

.new_items_text
{
	color: #2f89bc;
}

.community_home_app_shortcuts
{
	margin-top: 15px;
	width: 66%;
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid transparent;
	float: left;
}

.community_home_shortcut_content {
	padding: 10px;
	min-height: 200px;
}

.community_home_app_shortcuts .community_home_shortcut_content {
	padding-bottom: 0;
	min-height: 210px;
}

.community_home_login
{
	float: left;
	width: 50%;
	font-size: 12px;
	line-height: 17px;
	color: #c6d4df;
}

.community_home_login_content {
	padding: 0 10px 0 0;
}

.community_home_join_steam
{
	padding-top: 10px;
}

.community_home_join_steam a, .community_home_join_steam a:visited
{
	color: #c6d4df;
	text-decoration: underline;
}
.community_home_join_steam a:hover
{
	color: #ffffff;
}

.community_home_app_shortcuts_list_header
{
	font-size: 11px;
	color: #8f98a0;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.community_home_app_shortcuts_list
{
	float: left;
	width: 50%;
}

.community_home_search_box
{
	margin-top: 15px;
	width: 33%;
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid transparent;
	float: right;
}

html.responsive .responsive_page_menu .community_home_app_shortcuts_list {
	float: none;
	width: auto;
}

.community_home_search_divider
{
	width: 100%;
	height: 1px;
	border-top: 1px solid #000000;
	background-color: #333333;
	margin: 35px 0;
}

html.responsive .responsive_page_menu .community_home_search_divider {
	margin: 15px 0;
}

.community_home_search_title
{
	font-size: 11px;
	color: #8f98a0;
	text-transform: uppercase;
	padding-bottom: 5px;
}

.community_home_search_apps
{
	position: relative;
	height: 20px;
	margin-top: 5px;
	background-color: #2a3f5a;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #45556c;
    color: #fff;
    padding: 5px;
}

input.community_home_search_app_input
{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	position: absolute;
	box-shadow: none;
	top: 6px;
	left: 6px;
	width: 90%;
	font-style: italic;
	background-color: #2a3f5a;
}

.community_home_search_apps_image
{
	position: absolute;
	top: 5px;
	right: 4px;
	width: 23px;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #2f3e55;
}

.community_home_search_players
{
    position: relative;
    height: 20px;
    margin-top: 5px;
    background-color: #2a3f5a;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #45556c;
    color: #fff;
    padding: 5px;
}

input.community_home_search_players_input
{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	position: absolute;
	box-shadow: none;
	top: 6px;
	left: 6px;
	width: 90%;
	background-color: #2a3f5a;
	font-style: italic;
}

.community_home_search_players_image
{
	position: absolute;
    background-color: #2a3f5a;
	top: 5px;
	right: 4px;
	width: 23px;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
}

.community_home_sort_options
{
	max-width: 948px;
	padding: 0 1% 20px 1%;
	margin: 0 auto;
	text-align: left;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.community_home_sort_buttons
{
	float: right;
}

.community_home_workshop_desc_link
{
	padding-top: 5px;
}

@media screen and (max-width: 910px)
{
	html.responsive .community_home_search_box {
		float: none;
		width: auto;
		margin: 8px 0;
	}

	html.responsive .community_home_search_ctn {
		float: left;
		width: 50%;
	}

	html.responsive .community_home_search_ctn.left .community_home_search_content {
		padding-right: 5%;
	}

	html.responsive .community_home_search_ctn.right .community_home_search_content {
		padding-left: 5%;
	}

	html.responsive .community_home_search_divider {
		display: none;
	}

	html.responsive .community_home_search_box .community_home_shortcut_content {
		min-height: 0;
	}
}

@media screen and (max-width: 450px)
{
	html.responsive .community_home_search_ctn {
		float: none;
		width: auto;
	}

	html.responsive .community_home_search_ctn.left .community_home_search_content {
		padding: 0;
		margin-bottom: 12px;
	}
	html.responsive .community_home_search_ctn.right .community_home_search_content {
		padding: 0;
	}
}