/*
 Font: 		Motiva Sans
 URL: 		http://www.youworkforthem.com/product.php?sku=T2982
 Foundry: 	Niramekko
 Foundry: 	http://www.youworkforthem.com/designer/293/niramekko
 Copyright:	Copyright  2011 by Rodrigo Saiani. All rights reserved.
 Version: 	1.0
 Created:	August 09, 2012
 License: 	http://www.youworkforthem.com/font-license
 License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			 WebFont license rules. All other parties are strictly restricted
			 from using the WebFonts(s) listed without a purchased license.
			 All details above must always remain unaltered and visible in your CSS.
 */

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/MotivaSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/MotivaSans-Light.ttf') format('truetype');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/MotivaSans-Thin.ttf') format('truetype');
	font-weight: 200; /* Ultra-Light / Thin */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/MotivaSans-Medium.ttf') format('truetype');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/MotivaSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/motiva-sans-regular-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/motiva-sans-light-italic.ttf') format('truetype');
	font-weight: 300; /* Light */
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/motiva-sans-bold-italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('http://steamcommunity-a.akamaihd.net/public/shared/fonts/MotivaSans-Black.ttf') format('truetype');
	font-weight: 900; /* Black */
	font-style: normal;
}

