body {
  background-color: #f6f6f6;
  font-family: "Microsoft YaHei";
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
div,
p,
img,
a {
  border: 0;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #eee;
  margin: -2px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  min-height: 150px;
  min-width: 150px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background: #555;
}
::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555;
}
.mgl15 {
  margin-left: 15px;
}
.mgl20 {
  margin-left: 20px;
}
.topbar-bigbox {
  width: 100%;
  height: 80px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  min-width: 1274px;
  position: fixed;
  -webkit-transform: translateZ(0);
}
.topbar-bigbox .topbar-mainbox {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox {
  display: block;
  float: left;
  margin-left: 60px;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox .topbar-logo {
  width: 110px;
  height: 40px;
  display: block;
  float: left;
  margin-top: 20px;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul {
  width: 270px;
  height: 80px;
  float: left;
  margin-left: 60px;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul li {
  height: 80px;
  float: left;
  line-height: 80px;
  color: #333;
  font-size: 18px;
  text-align: center;
  margin-right: 5px;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul li a {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  color: #333;
  text-decoration: none;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul li a i {
  font-size: 14px;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul li .father-nav {
  padding: 0 20px;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame {
  position: relative;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame .hotgame-box {
  position: absolute;
  left: 10px;
  top: 80px;
  width: 310px;
  height: 280px;
  background-color: #fff;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame .hotgame-box p {
  top: 0;
  left: 0;
  text-align: left;
  height: 21px;
  line-height: 21px;
  margin-top: 20px;
  padding-left: 20px;
  color: #333;
  font-size: 16px;
  width: 100%;
  float: left;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame .hotgame-box .hot-list {
  padding-left: 10px;
  padding-top: 10px;
  clear: both;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame .hotgame-box .hot-list a {
  margin-top: 12px;
  *margin-top: 0px;
  _margin-top: 0px;
  margin-left: 12px;
  display: inline-block;
  float: left;
  width: 78px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #666;
  font-size: 12px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  text-decoration: none;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame .hotgame-box .hot-list a:hover {
  color: #fff;
  background-color: #f05b3d;
  border-color: #f05b3d;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame .hotgame-box .hotgame-bottombox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #fafafa;
  border-top: 1px solid #ececec;
  color: #f05b3d;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame .hotgame-box .hotgame-bottombox:hover {
  border-top: solid 1px #e5e5e5;
  background-color: #f5f5f5;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame .hotgame-box:after {
  position: absolute;
  left: 20px;
  top: -3px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 3px solid #fff;
  content: ' ';
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame i {
  position: relative;
  top: -3px;
  margin-left: 5px;
  display: inline-block;
  width: 12px;
  height: 7px;
  background: url('../images/index-s.png') no-repeat 0 0;
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .li-hotgame:hover .hotgame-box {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul li:hover {
  text-align: center;
  background-color: #fafafa;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul li:hover a {
  color: #f05b3d;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul li:hover i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .active {
  border-top: 3px solid #f05b3d;
  *height: 77px;
  _height: 77px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  background-color: #fafafa;
  padding-top: 0px;
}
.topbar-bigbox .topbar-mainbox .topbar-leftbox ul .active .nav-active {
  color: #f05b3d;
  position: relative;
  top: -3px;
}
.topbar-bigbox .topbar-mainbox .topbar-ad {
  width: 150px;
  height: 78px;
  float: left;
  margin-top: 1px;
  display: block;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox {
  display: block;
  float: right;
  margin-right: 25px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox form {
  width: 180px;
  float: left;
  margin-top: 24px;
  border: solid 1px #ccc;
  border-radius: 6px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox form input {
  width: 120px;
  height: 30px;
  line-height: 30px;
  display: block;
  float: left;
  border: 0 none;
  margin-left: 10px;
  font-size: 14px;
  color: #ccc;
  outline: none;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox form input:focus {
  outline: none;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox form button {
  height: 18px;
  width: 18px;
  line-height: 18px;
  margin-top: 6px;
  padding: 0;
  margin-right: 8px;
  display: block;
  float: right;
  background-color: #fff;
  border: none;
  top: 0px;
  outline: none;
  background: url("../images/index-icon.png") 0 -461px no-repeat;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox a {
  float: left;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #666;
  margin-top: 28px;
  text-decoration: none;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #login {
  margin-left: 20px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box {
  float: left;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 {
  float: left;
  height: 80px;
  line-height: 80px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg {
  position: relative;
  display: inline-block;
  float: left;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg #topbar-userimg {
  margin-top: 0px;
  margin-left: 20px;
  padding: 24px 19px 0;
  height: 80px;
  display: inline-block;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg #topbar-userimg img {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg #topbar-userimg .message-count {
  font-style: normal;
  position: absolute;
  display: inline-block;
  line-height: 14px;
  color: #fff;
  padding: 0 5px;
  font-size: 11px;
  background-color: #f05b3d;
  border-radius: 8px;
  top: 20px;
  left: 60px;
  z-index: 2;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg #topbar-userimg:hover {
  background-color: #fafafa;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul {
  position: absolute;
  z-index: 101;
  width: 140px;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  top: 80px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  left: 25px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul a {
  height: 40px;
  line-height: 40px;
  margin-top: 0;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul a li {
  height: 40px;
  line-height: 40px;
  width: 140px;
  float: left;
  display: inline-block;
  padding-left: 40px;
  color: #666;
  background: url('../images/user_list_icon.png') no-repeat;
  border-radius: 3px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul .u1 {
  background-position: 10px 9px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul .u2 {
  background-position: 10px -77px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul .u2 .message-count {
  font-style: normal;
  display: inline-block;
  line-height: 14px;
  color: #fff;
  padding: 0 5px;
  font-size: 11px;
  background-color: #f05b3d;
  border-radius: 8px;
  margin-left: 10px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul .u3 {
  background-position: 10px -125px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul .u4 {
  background-position: 10px -215px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul .u5 {
  background-position: 10px -168px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul .u6 {
  background-position: 10px -32px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul li:hover {
  background-color: #f6f6f6;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg ul:after {
  position: absolute;
  left: 25px;
  top: -3px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 3px solid #fff;
  content: ' ';
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-userimg:hover ul {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 #topbar-usersub {
  margin-top: 0;
  padding: 27px 15px 0;
  display: inline-block;
  height: 80px;
  font-size: 14px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 #topbar-usersub i {
  width: 9px;
  height: 5px;
  position: relative;
  display: inline-block;
  background: url('../images/index-s.png') -67px 0 no-repeat;
  top: -3px;
  left: 5px;
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 #topbar-usersub:hover {
  background-color: #fafafa;
  color: #f05b3d;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub {
  position: relative;
  display: inline-block;
  float: left;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box {
  position: absolute;
  top: 80px;
  right: 0;
  width: 330px;
  background-color: #fff;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list {
  float: left;
  display: inline-block;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a {
  display: block;
  margin-top: 0;
  padding: 20px;
  width: 330px;
  height: 81px;
  overflow: hidden;
  line-height: 22px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.3s;
  /* Safari and Chrome */
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a img {
  float: left;
  margin-right: 10px;
  display: inline;
  width: 40px;
  height: 40px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a h4 {
  margin-top: -2px;
  margin-bottom: 0px;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 235px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a p {
  color: #666;
  font-size: 12px;
  margin-top: -6px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a p span {
  margin: 0;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a p .off {
  float: right;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a p .on {
  float: right;
  color: #f05b3d;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a p .username {
  margin-right: 5px;
  padding-left: 22px;
  float: left;
  background: url('../images/index-s.png') no-repeat 0 -25px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a p .view {
  padding-left: 22px;
  float: left;
  background: url('../images/index-s.png') no-repeat 0 -62px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a:last-child {
  border: 0;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list a:hover {
  background-color: #f0f0f0;
  border-bottom: solid 1px #eaeaea;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-list .no-subscribe {
  height: 72px;
  width: 330px;
  padding: 10px;
  color: #666;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-bottombox {
  margin: 0;
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #fafafa;
  border-top: 1px solid #ececec;
  color: #f05b3d;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box .mysubscribe-bottombox:hover {
  border-top: solid 1px #e5e5e5;
  background-color: #f5f5f5;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub .mysubscribe-box:after {
  position: absolute;
  top: -3px;
  right: 38px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 3px solid #fff;
  content: ' ';
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub:hover .mysubscribe-box {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #topbar-login-box2 .topbar-usersub:hover i {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #ask-for-live {
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 6px;
  margin: 24px 0 0 20px;
  background-color: #f05b3d;
  color: #fff;
  font-size: 16px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #ask-for-live i {
  width: 18px;
  height: 18px;
  display: inline-block;
  float: left;
  background: url('../images/index-icon.png') no-repeat 0 -610px;
  position: relative;
  top: 8px;
  left: 12px;
  margin-right: 16px;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox #ask-for-live:hover {
  background-color: #E5573A;
}
.topbar-bigbox .topbar-mainbox .topbar-rightbox span {
  height: 24px;
  line-height: 24px;
  display: block;
  float: left;
  color: #666;
  margin: 28px 5px 0 5px;
}
.topbar-bigbox .topbar-mainbox .mgl0 {
  margin-left: 0;
}
.topbar-bigbox .topbar-mainbox .mgr0 {
  margin-right: 0;
}
.topbar-bigbox .w1200 {
  width: 1200px;
}
#zhezhao {
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
  z-index: 1031;
}
.leftmenu-l-bigbox {
  display: block;
  position: fixed;
  width: 230px;
  height: 100%;
  background-color: #333;
  border-right: 1px solid #000;
  margin-top: 80px;
  float: left;
  z-index: 1020;
  -webkit-transform: translateZ(0);
}
.leftmenu-l-bigbox .leftmenu-close {
  position: absolute;
  right: -9px;
  top: 50%;
  width: 11px;
  height: 70px;
  background: url('../images/list-s.png') no-repeat 0 0;
  cursor: pointer;
  z-index: 10;
  margin-top: -35px;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox {
  height: 155px;
  background-color: #2d2d2d;
  border-bottom: 1px solid #292929;
  overflow: hidden;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .logout-bigbox p {
  margin-top: 40px;
  color: #999;
  font-size: 14px;
  text-align: center;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .logout-bigbox .btn-box {
  display: inline-block;
  margin-top: 20px;
  margin-left: 15px;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .logout-bigbox .btn-box #register-btn {
  display: inline-block;
  width: 94px;
  height: 30px;
  line-height: 30px;
  background-color: #414244;
  color: #999;
  text-align: center;
  border-radius: 3px;
  float: left;
  text-decoration: none;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .logout-bigbox .btn-box #login-btn {
  display: inline-block;
  width: 94px;
  height: 30px;
  line-height: 30px;
  background-color: #f05b3d;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  float: left;
  margin-left: 10px;
  text-decoration: none;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .logout-bigbox .btn-box #login-btn:hover {
  background-color: #E5573A;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .user-info {
  padding-left: 15px;
  padding-top: 20px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .user-info span {
  max-width: 150px;
  height: 22px;
  line-height: 22px;
  color: #ccc;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 19px;
  margin-left: 6px;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .user-info img {
  border-radius: 3px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .user-info .login-out {
  position: absolute;
  right: 15px;
  top: 42px;
  width: 16px;
  height: 16px;
  background: url('../images/index-s.png') no-repeat -121px 0;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .user-info .lv-img {
  position: absolute;
  left: 66px;
  top: 40px;
  width: 25px;
  height: 20px;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .experience-line {
  position: relative;
  margin: 20px 15px 10px;
  height: 4px;
  background-color: #424242;
  border-radius: 2px;
  cursor: pointer;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .experience-line .lv-loading {
  position: absolute;
  width: 0%;
  height: 4px;
  top: 0;
  left: 0;
  background-color: #f05b3d;
  border-radius: 2px;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .experience-line .lv-jy {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: -34px;
  margin-left: -50px;
  width: 140px;
  height: 26px;
  line-height: 24px;
  color: #333;
  font-size: 12px;
  text-align: center;
  background-color: #eaeaea;
  background-color: rgba(234, 234, 234, 0.9);
  border-radius: 3px;
  transition: left 0.5s;
  -moz-transition: left 0.5s;
  /* Firefox 4 */
  -webkit-transition: left 0.5s;
  /* Safari and Chrome */
  -o-transition: left 0.5s;
  -ms-transition: left 0.5s;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .experience-line .lv-jy em {
  font-style: normal;
  color: #f05b3d;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox .experience-line:hover .lv-jy {
  visibility: visible;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox ul {
  border-top: 1px solid #1F1F1F;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox ul li {
  padding-top: 11px;
  width: 76px;
  height: 60px;
  float: left;
  text-align: center;
  line-height: 20px;
  color: #ccc;
  position: relative;
  border-top: solid 1px #3B3B3B;
  border-left: solid 1px #363636;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox ul li span {
  color: #f05b3d;
}
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox ul li .xiandou-num-change,
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox ul li .catcoin-num-change,
.leftmenu-l-bigbox .leftmenu-user-bigbox .login-bigbox ul li .catbean-num-change {
  position: absolute;
  top: -5px;
  text-align: center;
  width: 76px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav {
  height: 150px;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #292929;
  border-right: 1px solid #36383b;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a {
  display: block;
  padding: 13px 0 13px 15px;
  line-height: 24px;
  color: #999;
  font-size: 16px;
  text-decoration: none;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a i {
  float: left;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: url('../images/list-s.png') no-repeat;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a .icon-all-live {
  background-position: -245px -171px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a .icon-all-game {
  background-position: -245px -207px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a .icon-my-rss {
  background-position: -245px -241px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a:hover {
  color: #fff;
  background-color: #393939;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a:hover .icon-all-live {
  background-position: -286px -171px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a:hover .icon-all-game {
  background-position: -286px -207px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul li a:hover .icon-my-rss {
  background-position: -286px -241px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe {
  position: relative;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box {
  position: absolute;
  top: -15px;
  left: 230px;
  width: 330px;
  background-color: #fff;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list {
  float: left;
  display: inline-block;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a {
  display: block;
  margin-top: 0;
  padding: 20px;
  width: 330px;
  height: 81px;
  overflow: hidden;
  line-height: 22px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.3s;
  /* Safari and Chrome */
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a img {
  float: left;
  margin-right: 10px;
  display: inline;
  width: 40px;
  height: 40px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a h4 {
  margin-top: -2px;
  margin-bottom: 0px;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 235px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a p {
  color: #666;
  font-size: 12px;
  margin-top: -6px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a p span {
  margin: 0;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a p .off {
  float: right;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a p .on {
  float: right;
  color: #f05b3d;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a p .username {
  margin-right: 5px;
  padding-left: 22px;
  float: left;
  background: url('../images/index-s.png') no-repeat 0 -25px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a p .view {
  padding-left: 22px;
  float: left;
  background: url('../images/index-s.png') no-repeat 0 -62px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a:last-child {
  border: 0;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list a:hover {
  background-color: #f0f0f0;
  border-bottom: solid 1px #eaeaea;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-list .no-subscribe {
  height: 72px;
  width: 330px;
  padding: 10px;
  color: #666;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-bottombox {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #fafafa;
  border-top: 1px solid #ececec;
  color: #f05b3d;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box .mysubscribe-bottombox:hover {
  border-top: solid 1px #e5e5e5;
  background-color: #f5f5f5;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe .mysubscribe-box:after {
  position: absolute;
  top: 20px;
  left: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
  content: ' ';
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-nav ul #leftmenu-l-subscribe:hover .mysubscribe-box {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-gamelist {
  padding-top: 15px;
  padding-bottom: 5px;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #292929;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-gamelist p {
  padding-left: 15px;
  height: 22px;
  line-height: 22px;
  color: #bbb;
  font-size: 13px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-gamelist .hot-list {
  margin-left: 8px;
  padding-top: 4px;
  border-radius: 2px;
  margin-bottom: 8px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-gamelist .hot-list a {
  display: inline-block;
  margin-left: 8px;
  margin-top: 3px;
  width: 61px;
  *width: 57px;
  _width: 57px;
  height: 28px;
  line-height: 28px;
  color: #999;
  background-color: #434343;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;
  text-decoration: none;
  padding: 0 5px;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-gamelist .hot-list a:hover {
  color: #fff;
  background-color: #f05b3d;
}
.leftmenu-l-bigbox .leftmenu-main .line {
  margin: 0px;
  height: 0;
  border-top: 1px solid #3d3d3d;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-adcqbox {
  width: 200px;
  margin: 0 auto;
}
.leftmenu-l-bigbox .leftmenu-main .leftmenu-adcqbox a img {
  display: block;
  margin-top: 15px;
  width: 200px;
  height: 100px;
}
.leftmenu-l-bigbox .mysubscribe-box {
  position: absolute;
  top: 260px;
  left: 230px;
  width: 330px;
  background-color: #fff;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list {
  float: left;
  display: inline-block;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a {
  display: block;
  margin-top: 0;
  padding: 20px;
  width: 330px;
  height: 81px;
  overflow: hidden;
  line-height: 22px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.3s;
  /* Safari and Chrome */
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a img {
  float: left;
  margin-right: 10px;
  display: inline;
  width: 40px;
  height: 40px;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a h4 {
  margin-top: -2px;
  margin-bottom: 0px;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 235px;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a p {
  color: #666;
  font-size: 12px;
  margin-top: -6px;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a p span {
  margin: 0;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a p .off {
  float: right;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a p .on {
  float: right;
  color: #f05b3d;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a p .username {
  margin-right: 5px;
  padding-left: 22px;
  float: left;
  background: url('../images/index-s.png') no-repeat 0 -25px;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a p .view {
  padding-left: 22px;
  float: left;
  background: url('../images/index-s.png') no-repeat 0 -62px;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a:last-child {
  border: 0;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list a:hover {
  background-color: #f0f0f0;
  border-bottom: solid 1px #eaeaea;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-list .no-subscribe {
  height: 72px;
  width: 330px;
  padding: 10px;
  color: #666;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-bottombox {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #fafafa;
  border-top: 1px solid #ececec;
  color: #f05b3d;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.leftmenu-l-bigbox .mysubscribe-box .mysubscribe-bottombox:hover {
  border-top: solid 1px #e5e5e5;
  background-color: #f5f5f5;
}
.leftmenu-l-bigbox .mysubscribe-box:after {
  position: absolute;
  top: 20px;
  left: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
  content: ' ';
}
.leftmenu-l-bigbox .leftmenu-nonebox {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #3d3d3d;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox {
  position: absolute;
  width: 230px;
  bottom: 0;
  height: 100px;
  background-color: #333;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox .join-us {
  margin: auto;
  width: 174px;
  height: 20px;
  background: url('../images/list-s.png') no-repeat 0 -480px;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox .live_apply {
  display: block;
  margin: 15px auto 0;
  padding-left: 85px;
  width: 200px;
  *width: 120px;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  background: #f05b3d url('../images/list-s.png') no-repeat 62px -118px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox .live_apply:hover {
  background: #E5573A url('../images/list-s.png') no-repeat 62px -118px;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox .line {
  margin-top: 15px;
  height: 0;
  border-top: 1px solid #292929;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox .tool-list {
  height: 46px;
  line-height: 46px;
  text-align: center;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox .tool-list a {
  margin: 0 12px;
  color: #999;
  text-decoration: none;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox .tool-list .mgl20 {
  margin-left: 15px;
}
.leftmenu-l-bigbox .leftmenu-bottom-bigbox .tool-list .mgr20 {
  margin-right: 15px;
}
.leftmenu-s-bigbox {
  display: block;
  position: fixed;
  width: 60px;
  height: 100%;
  background-color: #333;
  border-right: 1px solid #000;
  margin-top: 80px;
  float: left;
  z-index: 1020;
  -webkit-transform: translateZ(0);
}
.leftmenu-s-bigbox .leftmenu-open {
  position: absolute;
  right: -9px;
  top: 50%;
  margin-top: -100px;
  width: 11px;
  height: 70px;
  background: url('../images/list-s.png') no-repeat -34px 0;
  cursor: pointer;
  z-index: 10;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox {
  height: 74px;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #3d3d3d;
  overflow: hidden;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .logout-bigbox a {
  display: block;
  height: 69px;
  color: #666;
  text-align: center;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .logout-bigbox a p i {
  display: block;
  margin: 15px auto 0;
  width: 30px;
  height: 30px;
  background: url('../images/list-s.png') no-repeat -239px 0;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox {
  height: 74px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-left: 9px;
  margin-top: 15px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox {
  position: absolute;
  top: 0px;
  left: 60px;
  width: 310px;
  height: 190px;
  background-color: #fff;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .user-info {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 12px;
  overflow: hidden;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .user-info span {
  max-width: 150px;
  height: 22px;
  line-height: 22px;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 24px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .user-info p {
  max-width: 100px;
  height: 22px;
  line-height: 22px;
  color: #ccc;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 39px;
  padding: 0;
  left: 95px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .user-info .red {
  color: #f05b3d;
  top: 49px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .user-info .red i {
  font-style: normal;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .user-info img {
  width: 60px;
  height: 60px;
  margin: 0;
  margin-right: 15px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .user-info .lv-img {
  position: absolute;
  top: 22px;
  left: 190px;
  width: 25px;
  height: 20px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .experience-line {
  position: relative;
  margin: 20px 20px 10px;
  height: 4px;
  background-color: #f0f0f0;
  border-radius: 2px;
  cursor: pointer;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .experience-line .lv-loading {
  position: absolute;
  width: 0%;
  height: 4px;
  top: 0;
  left: 0;
  background-color: #f05b3d;
  border-radius: 2px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .experience-line .lv-jy {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: -34px;
  margin-left: -50px;
  width: 140px;
  height: 26px;
  line-height: 24px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  transition: left 0.5s;
  -moz-transition: left 0.5s;
  /* Firefox 4 */
  -webkit-transition: left 0.5s;
  /* Safari and Chrome */
  -o-transition: left 0.5s;
  -ms-transition: left 0.5s;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .experience-line .lv-jy em {
  font-style: normal;
  color: #f05b3d;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .experience-line:hover .lv-jy {
  visibility: visible;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox p {
  padding-left: 20px;
  color: #999;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox p span {
  margin-top: -2px;
  color: #f05b3d;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .login-bottombox {
  width: 310px;
  height: 40px;
  border-top: 1px solid #ebebeb;
  background-color: #fafafa;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .login-bottombox a {
  width: 149px;
  line-height: 40px;
  text-align: center;
  display: block;
  float: left;
  color: #666;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox .login-bottombox .exit {
  border-left: 1px solid #ebebeb;
}
.leftmenu-s-bigbox .leftmenu-user-bigbox .leftmenu-loginbox .login-bigbox:after {
  position: absolute;
  top: 20px;
  left: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
  content: ' ';
}
.leftmenu-s-bigbox .leftmenu-user-bigbox #show-userinfo:hover .login-bigbox {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.leftmenu-s-bigbox .live-bigbox {
  height: 74px;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #3d3d3d;
  overflow: hidden;
}
.leftmenu-s-bigbox .live-bigbox a {
  display: block;
  height: 69px;
  color: #666;
  text-align: center;
  text-decoration: none;
}
.leftmenu-s-bigbox .live-bigbox a p i {
  display: block;
  margin: 15px auto 0;
  width: 30px;
  height: 30px;
  background: url('../images/list-s.png') no-repeat -239px -36px;
}
.leftmenu-s-bigbox .game-bigbox {
  height: 74px;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #3d3d3d;
  overflow: hidden;
}
.leftmenu-s-bigbox .game-bigbox a {
  display: block;
  height: 69px;
  color: #666;
  text-align: center;
  text-decoration: none;
}
.leftmenu-s-bigbox .game-bigbox a p i {
  display: block;
  margin: 15px auto 0;
  width: 30px;
  height: 30px;
  background: url('../images/list-s.png') no-repeat -241px -66px;
}
.leftmenu-s-bigbox .sub-bigbox {
  height: 74px;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #3d3d3d;
  overflow: hidden;
}
.leftmenu-s-bigbox .sub-bigbox a {
  display: block;
  height: 69px;
  color: #666;
  text-align: center;
  text-decoration: none;
}
.leftmenu-s-bigbox .sub-bigbox a p i {
  display: block;
  margin: 15px auto 0;
  width: 30px;
  height: 30px;
  background: url('../images/list-s.png') no-repeat -239px -102px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box {
  position: absolute;
  top: 180px;
  left: 60px;
  width: 330px;
  background-color: #fff;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  /* Firefox 4 */
  -webkit-transition: transform 0.3s;
  /* Safari and Chrome */
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list {
  float: left;
  display: inline-block;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a {
  text-align: left;
  display: block;
  margin-top: 0;
  padding: 20px;
  width: 330px;
  height: 81px;
  overflow: hidden;
  line-height: 22px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.3s;
  /* Safari and Chrome */
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a img {
  float: left;
  margin-right: 10px;
  display: inline;
  width: 40px;
  height: 40px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a h4 {
  margin-top: -2px;
  margin-bottom: 0px;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 235px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a p {
  color: #666;
  font-size: 12px;
  margin-top: -6px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a p span {
  margin: 0;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a p .off {
  float: right;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a p .on {
  float: right;
  color: #f05b3d;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a p .username {
  margin-right: 5px;
  padding-left: 22px;
  float: left;
  background: url('../images/index-s.png') no-repeat 0 -25px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a p .view {
  float: left;
  padding-left: 22px;
  background: url('../images/index-s.png') no-repeat 0 -62px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a:last-child {
  border: 0;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list a:hover {
  background-color: #f0f0f0;
  border-bottom: solid 1px #eaeaea;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-list .no-subscribe {
  height: 72px;
  width: 330px;
  padding: 10px;
  color: #666;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-bottombox {
  margin: 0;
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #fafafa;
  border-top: 1px solid #ececec;
  color: #f05b3d;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box .mysubscribe-bottombox:hover {
  border-top: solid 1px #e5e5e5;
  background-color: #f5f5f5;
}
.leftmenu-s-bigbox .sub-bigbox .mysubscribe-box:after {
  position: absolute;
  top: 75px;
  left: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
  content: ' ';
}
.leftmenu-s-bigbox .sub-bigbox:hover .mysubscribe-box {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.leftmenu-s-bigbox .line {
  height: 0;
  border-top: 1px solid #292929;
}
.footer-bigbox {
  margin-top: 30px;
  width: 100%;
  height: 417px;
  background-color: #333;
  min-width: 1200px;
}
.footer-bigbox .footer-topbox {
  width: 1200px;
  margin: 0 auto;
  height: 250px;
}
.footer-bigbox .footer-topbox ul {
  width: 240px;
  *width: 200px;
  _width: 200px;
  float: left;
  padding-top: 40px;
  padding-left: 40px;
}
.footer-bigbox .footer-topbox ul li {
  color: #999;
  height: 30px;
  line-height: 30px;
}
.footer-bigbox .footer-topbox ul li a {
  height: 30px;
  line-height: 30px;
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
.footer-bigbox .footer-topbox ul li a .chat-qq {
  width: 81px;
  height: 23px;
  position: relative;
  top: 5px;
  display: inline-block;
  background: url("../images/footer-icon.png") no-repeat 0 -36px;
}
.footer-bigbox .footer-topbox ul li a .qq-weibo,
.footer-bigbox .footer-topbox ul li a .sina-weibo {
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  display: inline-block;
  background: url("../images/footer-icon.png") no-repeat 0 0;
}
.footer-bigbox .footer-topbox ul li a .sina-weibo {
  background: url("../images/footer-icon.png") no-repeat -36px 0px;
  left: 10px;
}
.footer-bigbox .footer-topbox ul li a:hover {
  color: #f05b3d;
}
.footer-bigbox .footer-topbox ul .pl26 {
  margin-top: 5px;
  padding-left: 26px;
}
.footer-bigbox .footer-topbox ul .pl2 {
  margin-top: 5px;
  padding-left: 2px;
}
.footer-bigbox .footer-topbox ul img {
  padding: 5px;
  display: block;
  width: 110px;
  height: 110px;
  background-color: #fff;
}
.footer-bigbox .footer-topbox ul .title {
  margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
}
.footer-bigbox .link-mainbox {
  width: 1120px;
  margin: 0 auto;
  height: 50px;
  position: relative;
}
.footer-bigbox .link-mainbox span {
  float: left;
  height: 50px;
  line-height: 50px;
  color: #fff;
  display: block;
  font-size: 14px;
}
.footer-bigbox .link-mainbox #link-scrollleft {
  position: absolute;
  left: 75px;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
}
.footer-bigbox .link-mainbox #link-scrollleft i {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url('../images/link-arrow-left.png') 0 0 no-repeat;
}
.footer-bigbox .link-mainbox #link-scrollright {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
}
.footer-bigbox .link-mainbox #link-scrollright i {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url('../images/link-arrow-right.png') 0 0 no-repeat;
}
.footer-bigbox .link-mainbox #link-scrollbox {
  float: left;
  width: 1000px;
  margin-left: 25px;
  overflow: hidden;
}
.footer-bigbox .link-mainbox #link-scrollbox ul {
  width: 5000px;
}
.footer-bigbox .link-mainbox #link-scrollbox ul li {
  width: 100px;
  height: 50px;
  text-align: center;
  float: left;
}
.footer-bigbox .link-mainbox #link-scrollbox ul li a {
  height: 50px;
  line-height: 50px;
  color: #999;
  font-size: 12px;
  text-decoration: none;
}
.footer-bigbox .link-mainbox #link-scrollbox ul li a:hover {
  color: #f05b3d;
}
.footer-bigbox .footer-line {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #242424;
}
.footer-bigbox .footer-line2 {
  width: 100%;
  height: 0;
  border-top: 1px solid #424242;
}
.footer-bigbox .footer-bottombox {
  width: 1200px;
  padding: 20px 0;
  height: 115px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  color: #7f7f7f;
  font-size: 12px;
}
.footer-bigbox .footer-bottombox a {
  margin: 0 10px;
  color: #7f7f7f;
}
.footer-bigbox .footer-bottombox a:hover {
  color: #f05b3d;
}
.footer-bigbox .footer-bottombox .wen {
  width: 20px;
  height: 20px;
  position: relative;
  top: -1px;
  margin-right: 2px;
  /* background: url("../images/footer-icon.png") no-repeat 0 -76px; */
}
.footer-bigbox .footer-bottombox .wen img {
  width: 24px;
  height: 24px;
}
.footer-bigbox .footer-bottombox .wen .wen_in {
  width: 20px;
  height: 20px;
}
.login-backgroundbox {
  width: 650px;
  height: 542px;
  min-height: 450px;
}
.register-box-mobile {
  height: 600px;
}
.login-box-user {
  height: 410px;
  min-height: 410px;
}
.change-password-box {
  width: 340px;
  height: 390px;
  min-height: 390px;
}
.change-nickname-box {
  width: 340px;
  height: 260px;
  min-height: 260px;
}
.add-nickname-box {
  width: 435px;
  height: 287px;
}
.change-userimg-box {
  width: 650px;
  height: 530px;
}
.tlayer {
  width: 318px!important;
  position: fixed;
  left: 50%;
  top: 50%;
  border: 1px solid #E5E5E5;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 9999;
}
.tlayer-bx {
  background-color: #fff;
  padding-bottom: 20px;
  border-radius: 4px;
  margin-top: -20px;
}
.tlayer h2 {
  display: block;
  padding-left: 20px;
  height: 60px;
  line-height: 60px;
  color: #444;
  font-size: 18px;
  background: url('../images/pay.png') repeat-x;
  border-bottom: 1px solid #e3e3e3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tlayer h2 em {
  margin-left: 10px;
  color: #ff3922;
  font-size: 12px;
}
.tlayer .close {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 16px;
  height: 16px;
  background: url('../images/pay.png') no-repeat 0 -64px;
  cursor: pointer;
  opacity: 0.8;
}
.tlayer .other-close {
  height: 70px;
  width: 100%;
  background: url('../images/other-close.png') no-repeat;
  position: relative;
}
.tlayer .other-close span {
  width: 80px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background: #F05B3D;
  display: block;
  position: absolute;
  top: 20px;
  left: 120px;
  border-radius: 5px;
  cursor: pointer;
}
.tlayer .other-close a {
  text-decoration: none;
  width: 80px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background: #F05B3D;
  display: block;
  position: absolute;
  top: 20px;
  left: 120px;
  border-radius: 5px;
  cursor: pointer;
}
.tlayer .form {
  padding-top: 25px;
  padding-left: 25px;
}
.tlayer .form-input {
  position: relative;
  height: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
.tlayer input {
  width: 248px;
  height: 28px;
  line-height: 28px;
  padding: 10px 15px;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.04);
  transition: border 0.3s ease-out;
}
.tlayer input:focus {
  border: 1px solid #09f!important;
  outline: none;
  box-shadow: 2px 2px 2px rgba(12, 2, 2, 0.12);
}
.tlayer input.err {
  border-color: #f30!important;
}
.tlayer input.err:focus {
  border-color: #f30!important;
}
.tlayer .l-err {
  position: absolute;
  left: 0;
  top: -40px;
  height: 40px;
  width: 100%;
  display: none;
}
.tlayer .l-err .l-mask {
  width: 100%;
  height: 40px;
  background-color: #000;
  opacity: .8;
  filter: alpha(opacity=80);
  border-radius: 3px;
}
.tlayer .l-err .l-text {
  padding: 0 10px 0 38px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  background: url('../images/login-s.png') no-repeat 15px -66px;
}
.tlayer .l-err i {
  position: absolute;
  top: 40px;
  left: 22px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #000;
  filter: alpha(opacity=90);
}
.tlayer .form-btn {
  margin-left: -25px;
  padding-bottom: 34px;
  height: 40px;
  margin-top: 30px;
  text-align: center;
}
.tlayer .form-btn a {
  display: inline-block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #e93220;
  border-radius: 3px;
}
.tlayer .tlayer-text {
  padding: 55px 0 55px;
  font-size: 20px;
  text-align: center;
}
.tlayer .tlayer-text img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.tlayer .tlayer-text em {
  color: #e93220;
  margin: 0 5px;
}
.tlayer .err {
  color: #ff3400;
}
.tlayer .warn {
  color: #f93;
}
.tlayer .suc {
  color: #0c0;
}
.tlayer .normal {
  color: #666;
  font-size: 14px;
}
.tlayer .normal img {
  position: relative;
  top: -5px;
}
.tlayer .tlayer-text .chat-lv {
  position: relative;
  top: 3px;
  margin-right: 3px;
}
.tlayer .danmu {
  padding: 49px 20px;
  text-align: center;
}
.tlayer .danmu .suc {
  height: 30px;
  line-height: 30px;
  color: #0c0;
  font-size: 20px;
}
.tlayer .danmu .suc img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.tlayer .text {
  margin-top: 20px;
  line-height: 26px;
  color: #666;
  font-size: 14px;
}
.tlayer .text img {
  display: inline-block;
  vertical-align: top;
}
.tlayer .wenxin {
  margin-top: 45px;
  color: #999;
  text-align: left;
}
.tlayer .tlayer-btn {
  margin-top: 35px;
  height: 40px;
  text-align: center;
  padding-bottom: 40px;
}
.tlayer .tlayer-btn button,
.tlayer .tlayer-btn a {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
}
.tlayer .tlayer-btn button.ok,
.tlayer .tlayer-btn a.ok {
  background-color: #e93220;
}
.tlayer .tlayer-btn button.cancel,
.tlayer .tlayer-btn a.cancel {
  background-color: #b6b6b6;
  margin-left: 20px;
}
.aui_titleBar {
  display: none;
}
.parental_warp {
  width: 1200px;
  height: auto;
  position: relative;
  margin: 80px auto 0;
  font-size: 14px;
}
.parental_tab {
  height: 40px;
  line-height: 40px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.parental_tab ul li {
  width: 170px;
  text-align: center;
  background: #D7D7D7;
  float: left;
  font-style: normal;
  margin-right: 10px;
  list-style-type: none;
}
.parental_tab ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}
.parental_tab ul .current a {
  color: #fff;
}
.parental_tab ul .current {
  background: #666;
}
.parental_main {
  display: none;
}
.parental_main div {
  margin-bottom: 50px;
}
.parental_main a {
  color: #FF3300;
}
#u24 span a {
  color: #FF3300;
  text-decoration: underline;
}
.parental_main_last {
  line-height: 30px;
}
.parental_main_show {
  display: block;
}
.show_snxy {
  width: 203px;
  height: 78px;
  background: url('../images/showtime4.gif?v=7') no-repeat;
  float: left;
  margin-top: 1px;
  display: block;
}
.spot {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  height: 35px;
  cursor: move;
}
.spot p {
  font-size: 16px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4D000000", EndColorStr="#4D000000");
  zoom: 1;
}
.spot .drag-close {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url('../images/bbb.png') no-repeat;
  cursor: pointer;
  opacity: 1;
}
.spot .drag-close:hover {
  background-position: 0 -16px;
}
