pre {
  border: none;
  padding: 0;
}
body {
  min-height: 2000px;
}
.liveroom-bigbox {
  width: 100%;
  min-width: 1200px;
  height: 826px;
  margin-top: 80px;
  padding-top: 24px;
  background: url('') center 0 no-repeat;
}
.liveroom-bigbox .bg-href {
  width: 100%;
  min-width: 1200px;
  height: 826px;
  position: absolute;
  top: 80px;
}
.liveroom-bigbox .liveroom-mainbox {
  width: 1200px;
  height: 562px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-bgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 562px;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox {
  width: 1000px;
  height: 562px;
  display: inline-block;
  float: left;
  position: relative;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox #flash-bigbox {
  width: 1000px;
  height: 562px;
  background-color: #222;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .information-bgbox {
  position: absolute;
  top: 0;
  width: 1000px;
  height: 100px;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: block;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .information-bigbox {
  position: absolute;
  width: 1000px;
  height: 100px;
  top: 0;
  display: block;
  padding: 20px;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .information-bigbox img {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 20px;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .information-bigbox p {
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .information-bigbox p span {
  margin-right: 20px;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .information-bigbox .title {
  font-size: 18px;
  color: #ff3922;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .hover-box {
  position: absolute;
  width: 1000px;
  height: 307px;
  top: 0;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .hover-box a {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -90px;
  width: 180px;
  height: 52px;
  line-height: 48px;
  color: #f05b3d;
  font-size: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  filter: alpha(opacity=30);
  border-radius: 5px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  border: solid 2px #f05b3d;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  text-decoration: none;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-leftbox .hover-box a:hover {
  background-color: #f05b3d;
  filter: alpha(opacity=100);
  color: #fff;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox {
  width: 200px;
  height: 562px;
  display: inline-block;
  float: right;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul {
  width: 180px;
  margin-left: 10px;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li {
  width: 180px;
  height: 100px;
  margin-top: 10px;
  position: relative;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a {
  width: 180px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a img {
  width: 180px;
  height: 100px;
  transform: scale(1);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a .tj-bg {
  width: 180px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  z-index: 2;
  filter: alpha(opacity=0);
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */
  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a span {
  width: 180px;
  *width: 160px;
  _width: 160px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 10px;
  z-index: 5;
  color: #fff;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
  text-overflow: ellipsis;
  overflow: hidden;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a .active-box {
  width: 184px;
  height: 100px;
  background: url('../images/channel-item-border.png') 0 0 no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  opacity: 0;
  filter: alpha(opacity=0);
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a .active {
  filter: alpha(opacity=100);
  opacity: 1;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a:hover .tj-bg {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a:hover span {
  filter: alpha(opacity=100);
  opacity: 1;
}
.liveroom-bigbox .liveroom-mainbox .liveroom-rightbox ul li a:hover .active-box {
  opacity: 1;
}
.liveroom-bigbox .recommend-mainbox {
  width: 1200px;
  height: 190px;
  margin: 0 auto;
  margin-top: 20px;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox {
  position: relative;
  display: inline-block;
  width: 390px;
  *width: 360px;
  _width: 360px;
  height: 190px;
  *height: 160px;
  _height: 160px;
  margin-right: 15px;
  float: left;
  padding-left: 15px;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-bgbox {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 390px;
  height: 190px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-topbox {
  text-align: center;
  height: 53px;
  width: 360px;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-topbox a {
  font-weight: bold;
  line-height: 53px;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-smallbox {
  width: 175px;
  float: left;
  margin: 0 10px 0 0 ;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-smallbox a {
  color: #fff;
  width: 175px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-smallbox a img {
  width: 175px;
  height: 100px;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-smallbox a p {
  width: 175px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-smallbox a:hover p {
  color: #ff3922;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-smallbox a:hover .playing {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-smallbox a:hover .no-playing {
  margin-top: -2px;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .recommend-smallbox .playing {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  transform: scale(1.5);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  background: url('../images/index-s.png') no-repeat -440px -146px;
}
.liveroom-bigbox .recommend-mainbox .recommend-middlebox .last {
  margin-right: 0;
}
.liveroom-bigbox .recommend-mainbox .last {
  margin-right: 0;
}
.main-box {
  display: block;
  width: 1200px;
  margin: 0 auto;
  height: 760px;
}
.main-box .host-bigbox {
  width: 840px;
  height: 355px;
  display: block;
  float: left;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-top: 30px;
}
.main-box .host-bigbox .host-topbox {
  width: 790px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}
.main-box .host-bigbox .host-topbox i {
  display: inline-block;
  float: left;
  width: 28px;
  height: 28px;
  background: url('../images/index-icon.png') 0 -119px no-repeat;
  margin-top: 21px;
  margin-right: 10px;
}
.main-box .host-bigbox .host-topbox span {
  color: #f05b3d;
  font-size: 20px;
}
.main-box .host-bigbox .host-topbox a {
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  margin-top: 25px;
  margin-left: 10px;
  float: right;
  color: #f05b3d;
  text-align: center;
  text-decoration: none;
}
.main-box .host-bigbox .host-topbox a:hover,
.main-box .host-bigbox .host-topbox .active {
  background-color: #F05B3D;
  color: #fff;
  border-radius: 3px;
}
.main-box .host-bigbox .host-mainbox {
  margin-top: -4px;
  height: 264px;
  position: relative;
}
.main-box .host-bigbox .host-mainbox #host-scrollleft {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -38px;
  width: 18px;
  height: 80px;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
  border-radius: 3px;
}
.main-box .host-bigbox .host-mainbox #host-scrollleft i {
  width: 8px;
  height: 16px;
  display: inline-block;
  margin-top: 33px;
  margin-left: 5px;
  background: url('../images/index-icon.png') -1px -485px no-repeat;
}
.main-box .host-bigbox .host-mainbox #host-scrollright {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -38px;
  width: 18px;
  height: 80px;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
  border-radius: 3px;
}
.main-box .host-bigbox .host-mainbox #host-scrollright i {
  width: 8px;
  height: 16px;
  display: inline-block;
  margin-top: 33px;
  margin-left: 5px;
  background: url('../images/index-icon.png') -31px -485px no-repeat;
}
.main-box .host-bigbox .host-mainbox #host-scrollright:hover,
.main-box .host-bigbox .host-mainbox #host-scrollleft:hover {
  background-color: #f05b3d;
  opacity: 1;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox {
  width: 788px;
  height: 264px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul {
  width: 5000px;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul div {
  width: 1452px;
  display: inline-block;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul li {
  width: 128px;
  height: 128px;
  float: left;
  margin-right: 4px;
  overflow: hidden;
  transition: width 0.3s;
  -moz-transition: width 0.3s;
  /* Firefox 4 */
  -webkit-transition: width 0.3s;
  /* Safari and Chrome */
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
  position: relative;
  margin-top: 4px;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul li a .live-dnf {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 5px;
  width: 40px;
  *width: 31px;
  _width: 31px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: url("../images/index-icon.png") no-repeat 0px -552px;
  text-decoration: none;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul li a img {
  width: 260px;
  height: 128px;
  float: left;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul li a span {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 128px;
  height: 24px;
  text-align: center;
  color: #fff;
  background: url("../images/hoster-bg.png") 0 0 no-repeat;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul li div {
  position: absolute;
  top: 0;
  left: 128px;
  width: 132px;
  height: 128px;
  z-index: 2;
  float: left;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul li div a {
  line-height: 21px;
  color: #f05b3d;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 10px;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul li div p {
  display: block;
  width: 115px;
  color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  font-size: 12px;
  margin-top: 5px;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul li:hover {
  width: 260px;
}
.main-box .host-bigbox .host-mainbox #host-scrollbox ul .first {
  width: 260px;
}
.main-box .news-bigbox {
  width: 350px;
  height: 355px;
  display: block;
  float: right;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-top: 30px;
  position: relative;
}
.main-box .news-bigbox .news-topbox {
  width: 310px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}
.main-box .news-bigbox .news-topbox i {
  display: inline-block;
  float: left;
  width: 27px;
  height: 27px;
  background: url('../images/index-icon.png') 0 -160px no-repeat;
  margin-top: 24px;
  margin-right: 10px;
}
.main-box .news-bigbox .news-topbox span {
  color: #f05b3d;
  font-size: 20px;
  float: left;
}
.main-box .news-bigbox .news-topbox a {
  width: 42px;
  height: 20px;
  line-height: 20px;
  margin-top: 25px;
  margin-left: 5px;
  float: right;
  color: #666;
  text-align: center;
  text-decoration: none;
}
.main-box .news-bigbox .news-topbox a:hover,
.main-box .news-bigbox .news-topbox .active {
  background-color: #F05B3D;
  color: #fff;
  border-radius: 3px;
}
.main-box .news-bigbox .news-lunbobox {
  width: 312px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
.main-box .news-bigbox .news-lunbobox #news-scrollleft {
  position: absolute;
  left: 13px;
  top: 50%;
  margin-top: -10px;
  width: 10px;
  height: 20px;
  display: inline-block;
  background: url('../images/index-icon.png') 0 -346px no-repeat;
  z-index: 4;
  cursor: pointer;
}
.main-box .news-bigbox .news-lunbobox #news-scrollleft:hover {
  background: url('../images/index-icon.png') 0 -390px no-repeat;
}
.main-box .news-bigbox .news-lunbobox #news-scrollright {
  position: absolute;
  right: 13px;
  top: 50%;
  margin-top: -10px;
  width: 10px;
  height: 20px;
  display: inline-block;
  background: url('../images/index-icon.png') -30px -346px no-repeat;
  z-index: 4;
  cursor: pointer;
}
.main-box .news-bigbox .news-lunbobox #news-scrollright:hover {
  background: url('../images/index-icon.png') -30px -390px no-repeat;
}
.main-box .news-bigbox .news-lunbobox #news-scrollbox {
  width: 312px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
.main-box .news-bigbox .news-lunbobox #news-scrollbox ul {
  position: absolute;
  width: 5000px;
}
.main-box .news-bigbox .news-lunbobox #news-scrollbox ul li {
  float: left;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
}
.main-box .news-bigbox .news-lunbobox #news-scrollbox ul li img {
  width: 100%;
  height: 100%;
}
.main-box .news-bigbox .news-lunbobox #news-scrollbox ul li span {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #000;
  z-index: 4;
  opacity: 0.7;
  filter: alpha(opacity=70);
  top: 0;
  left: 0;
}
.main-box .news-bigbox .newslist-bigbox {
  width: 312px;
  margin: 0 auto;
}
.main-box .news-bigbox .newslist-bigbox ul li {
  height: 26px;
  line-height: 26px;
}
.main-box .news-bigbox .newslist-bigbox ul li .span {
  width: 33px;
  color: #999;
  margin-right: 5px;
}
.main-box .news-bigbox .newslist-bigbox ul li i {
  width: 26px;
  height: 13px;
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  background: url('../images/index-icon.png') 0px -369px no-repeat;
}
.main-box .news-bigbox .newslist-bigbox ul li a {
  color: #666;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  float: left;
  text-decoration: none;
}
.main-box .news-bigbox .newslist-bigbox ul li a:hover {
  color: #F05B3D;
}
.main-box .news-bigbox #news2-box ul li,
.main-box .news-bigbox #news3-box ul li {
  height: 28px;
  line-height: 28px;
}
.main-box .news-bigbox .news-morebtn {
  width: 310px;
  height: 30px;
  line-height: 28px;
  color: #333;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #FCFCFC;
  border: solid 1px #EFEFEF;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
}
.main-box .news-bigbox .news-morebtn:hover {
  background-color: #F05B3D;
  color: #fff;
}
.main-box .event-bigbox {
  width: 840px;
  height: 360px;
  display: block;
  float: left;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-top: 10px;
}
.main-box .event-bigbox .event-topbox {
  width: 790px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}
.main-box .event-bigbox .event-topbox i {
  display: inline-block;
  float: left;
  width: 32px;
  height: 25px;
  background: url('../images/index-icon.png') 0 -40px no-repeat;
  margin-top: 24px;
  margin-right: 10px;
}
.main-box .event-bigbox .event-topbox span {
  color: #f05b3d;
  font-size: 20px;
  float: left;
}
.main-box .event-bigbox .event-mainbox {
  height: 268px;
  position: relative;
}
.main-box .event-bigbox .event-mainbox #event-scrollleft {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -38px;
  width: 18px;
  height: 80px;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  border-radius: 3px;
}
.main-box .event-bigbox .event-mainbox #event-scrollleft i {
  width: 8px;
  height: 16px;
  display: inline-block;
  margin-top: 32px;
  margin-left: 5px;
  background: url('../images/index-icon.png') -1px -485px no-repeat;
}
.main-box .event-bigbox .event-mainbox #event-scrollright {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -38px;
  width: 18px;
  height: 80px;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  border-radius: 3px;
}
.main-box .event-bigbox .event-mainbox #event-scrollright i {
  width: 8px;
  height: 16px;
  display: inline-block;
  margin-top: 33px;
  margin-left: 5px;
  background: url('../images/index-icon.png') -31px -485px no-repeat;
}
.main-box .event-bigbox .event-mainbox #event-scrollright:hover,
.main-box .event-bigbox .event-mainbox #event-scrollleft:hover {
  background-color: #f05b3d;
  opacity: 1;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox {
  width: 792px;
  height: 264px;
  margin: 0 auto;
  top: -2px;
  overflow: hidden;
  position: relative;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul {
  width: 5000px;
  margin-left: 1px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul div {
  width: 792px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li {
  width: 185px;
  height: 260px;
  float: left;
  margin-right: 16px;
  border: solid 1px #EDEDED;
  position: relative;
  margin-top: 2px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li a {
  text-decoration: none;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li a .red-kuang {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  width: 187px;
  height: 262px;
  border: 2px solid #f05b3d;
  margin-left: -2px;
  margin-top: -2px;
  text-decoration: none;
  z-index: 3;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li a img {
  margin-left: -1px;
  width: 185px;
  height: 185px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li a .logo-icon {
  width: 36px;
  height: 36px;
  top: 166px;
  left: 75px;
  position: absolute;
  z-index: 3;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li a p {
  margin-left: 5px;
  width: 175px;
  text-align: center;
  color: #999;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li a .event-title {
  margin-top: 24px;
  font-size: 14px;
  color: #333333;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bgbox {
  width: 185px;
  height: 185px;
  margin-left: -1px;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 185px;
  height: 185px;
  z-index: 3;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .match-topbox {
  margin-top: 10px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .match-topbox .match-leftimg {
  width: 65px;
  height: 1px;
  display: inline-block;
  background: url("../images/event-bg.png") 0 0 no-repeat;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .match-topbox span {
  color: #fff;
  font-size: 12px;
  padding: 4px;
  position: relative;
  top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .match-topbox .match-rightimg {
  width: 65px;
  height: 1px;
  display: inline-block;
  background: url("../images/event-bg.png") 0 -6px no-repeat;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .match-time {
  width: 183px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-top: 15px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .team1 {
  width: 72px;
  float: left;
  text-align: center;
  margin-top: 15px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .team1 img {
  width: 45px;
  height: 45px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .team1 span {
  width: 76px;
  display: block;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .team2 {
  width: 72px;
  float: right;
  text-align: center;
  margin-top: 15px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .team2 img {
  width: 45px;
  height: 45px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .team2 span {
  width: 76px;
  display: block;
  text-align: center;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  padding: 3px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li .match-bigbox .bifen {
  width: 40px;
  text-align: center;
  float: left;
  display: block;
  color: #F05B3D;
  font-size: 20px;
  margin-top: 30px;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li:hover {
  transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  /* Firefox 4 */
  -webkit-transition: box-shadow 0.3s;
  /* Safari and Chrome */
  -o-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  box-shadow: 0 0 10px 2px rgba(240, 91, 61, 0.4);
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li:hover .red-kuang {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.main-box .event-bigbox .event-mainbox #event-scrollbox ul li:hover .event-title {
  color: #f05b3d;
}
.main-box .match-r-bigbox {
  width: 350px;
  height: 360px;
  display: block;
  float: right;
  background-color: #fff;
  border: 1px solid #efefef;
  margin-top: 10px;
}
.main-box .match-r-bigbox .match-r-topbox {
  width: 310px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}
.main-box .match-r-bigbox .match-r-topbox i {
  display: inline-block;
  float: left;
  width: 30px;
  height: 25px;
  background: url('../images/index-icon.png') 0 -198px no-repeat;
  margin-top: 22px;
  margin-right: 10px;
}
.main-box .match-r-bigbox .match-r-topbox span {
  color: #f05b3d;
  font-size: 20px;
  float: left;
}
.main-box .match-r-bigbox .match-r-topbox a {
  width: 42px;
  height: 20px;
  line-height: 20px;
  margin-top: 25px;
  margin-left: 5px;
  float: right;
  color: #666;
  text-align: center;
  text-decoration: none;
}
.main-box .match-r-bigbox .match-r-topbox a:hover,
.main-box .match-r-bigbox .match-r-topbox .active {
  background-color: #F05B3D;
  color: #fff;
  border-radius: 3px;
}
.main-box .match-r-bigbox .match-list {
  width: 348px;
  border-top: solid 1px #EFEFEF;
  height: 290px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.main-box .match-r-bigbox .match-list ul {
  width: 310px;
  margin: 0 auto;
}
.main-box .match-r-bigbox .match-list ul li {
  width: 310px;
  height: 72px;
  border-bottom: solid 1px #EFEFEF;
  position: relative;
}
.main-box .match-r-bigbox .match-list ul li img {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  float: left;
}
.main-box .match-r-bigbox .match-list ul li .li-bg {
  width: 350px;
  height: 70px;
  position: absolute;
  background-color: #FAFAFA;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: -20px;
}
.main-box .match-r-bigbox .match-list ul li .time {
  height: 36px;
  line-height: 18px;
  margin-right: 15px;
  color: #666;
  width: 36px;
  font-size: 14px;
  display: block;
  float: left;
  text-align: center;
}
.main-box .match-r-bigbox .match-list ul li .time em {
  font-size: 12px;
  font-style: normal;
}
.main-box .match-r-bigbox .match-list ul li a {
  color: #333;
  margin-top: 18px;
  height: 18px;
  line-height: 18px;
  display: inline-block;
  float: left;
  font-size: 14px;
  position: absolute;
  z-index: 3;
}
.main-box .match-r-bigbox .match-list ul li a div {
  max-width: 70px;
  overflow: hidden;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-box .match-r-bigbox .match-list ul li a span {
  float: left;
  color: #F05B3D;
}
.main-box .match-r-bigbox .match-list ul li p {
  font-size: 12px;
  width: 158px;
  height: 18px;
  line-height: 18px;
  display: block;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #666;
}
.main-box .match-r-bigbox .match-list ul li .tx {
  font-size: 12px;
  width: 42px;
  height: 20px;
  line-height: 20px;
  float: right;
  color: #fff;
  text-align: center;
  background-color: #F05B3D;
  border-radius: 3px;
  margin-top: -9px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  right: 5px;
  top: 35px;
}
.main-box .match-r-bigbox .match-list ul li:last-child {
  border-bottom: none;
}
.main-box .match-r-bigbox .match-list ul li:hover .li-bg {
  opacity: 1;
  visibility: visible;
}
.main-box .match-r-bigbox .match-list ul li:hover .tx {
  opacity: 1;
  visibility: visible;
}
.main-box .match-r-bigbox .match-list ul .no-match {
  color: #C4c4c4;
  width: 310px;
  line-height: 280px;
  font-size: 16px;
  text-align: center;
}
.big-adbox {
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}
.big-adbox img {
  width: 1200px;
  height: 100px;
}
#guosheng_game p {
  color: #f05b3d;
  font-size: 20px;
  float: left;
  line-height: 50px;
}
#guosheng_game p i {
  display: inline-block;
  float: left;
  width: 30px;
  height: 25px;
  background: url('../images/index-icon.png') 0 -198px no-repeat;
  margin-top: 12px;
  margin-right: 10px;
}
.clearboth {
  height: 0;
  clear: both;
}
.zhuanqu-kuang {
  display: block;
  width: 1200px;
  margin: 0 auto;
  height: 1350px;
}
.zhuanqu-kuang .zhuanqu-bigbox {
  width: 595px;
  width: 593px\9;
  height: 665px;
  border: solid 1px #efefef;
  float: left;
  display: block;
  margin-right: 10px;
  background-color: #fff;
  margin-top: 10px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-topbox {
  width: 545px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-topbox i {
  display: inline-block;
  float: left;
  width: 28px;
  height: 28px;
  background: url('../images/index-icon.png') 0 -79px no-repeat;
  margin-top: 21px;
  margin-right: 10px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-topbox span {
  color: #f05b3d;
  font-size: 20px;
  float: left;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-topbox a {
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  margin-top: 25px;
  margin-left: 10px;
  float: right;
  color: #f05b3d;
  text-align: center;
  text-decoration: none;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-topbox a:hover,
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-topbox .active {
  background-color: #F05B3D;
  color: #fff;
  border-radius: 3px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox {
  width: 265px;
  height: 110px;
  overflow: hidden;
  position: relative;
  margin-left: 23px;
  float: left;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox .zhuanqu-scrollleft {
  position: absolute;
  left: 0;
  top: 10px;
  width: 77px;
  height: 90px;
  display: inline-block;
  background: url('../images/arrow-keng.png') 0 0 no-repeat;
  z-index: 4;
  cursor: pointer;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox .zhuanqu-scrollright {
  position: absolute;
  right: 0;
  top: 10px;
  width: 77px;
  height: 90px;
  display: inline-block;
  background: url('../images/arrow-keng.png') -85px 0 no-repeat;
  z-index: 4;
  cursor: pointer;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox .zhuanqu-scrollleft:hover {
  background: url('../images/arrow-keng.png') 0 -90px no-repeat;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox .zhuanqu-scrollright:hover {
  background: url('../images/arrow-keng.png') -85px -90px no-repeat;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul {
  position: absolute;
  width: 5000px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul li {
  float: left;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul li a .live-dnf {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 5px;
  width: 40px;
  *width: 31px;
  _width: 31px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: url("../images/index-icon.png") no-repeat 0px -552px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul li a img {
  width: 100%;
  height: 100%;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul li a span {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #000;
  z-index: 4;
  opacity: 0.3;
  filter: alpha(opacity=30);
  top: 0;
  left: 0;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul li a p {
  transition: height 0.3s;
  -moz-transition: height 0.3s;
  /* Firefox 4 */
  -webkit-transition: height 0.3s;
  /* Safari and Chrome */
  -o-transition: height 0.3s;
  -ms-transition: height 0.3s;
  width: 100%;
  padding: 0 7px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  filter: alpha(opacity=50);
  color: #fff;
  text-align: center;
  display: none;
  line-height: 20px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul li a p em {
  line-height: 24px;
  font-style: normal;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul li a p i {
  width: 100%;
  height: 1px;
  background-color: #fff;
  filter: alpha(opacity=30);
  opacity: 0.3;
  display: block;
  margin-bottom: 10px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-scrollbox ul li:hover p {
  height: 110px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event {
  width: 265px;
  height: 110px;
  float: left;
  margin-left: 15px;
  position: relative;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox {
  border: solid 1px #E1E3E6;
  padding: 2px;
  position: absolute;
  width: 265px;
  height: 110px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox a {
  text-decoration: none;
  position: relative;
  top: -3px;
  left: -3px;
  display: inline-block;
  width: 265px;
  height: 110px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox a .red-kuang {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  width: 267px;
  height: 112px;
  border: 2px solid #f05b3d;
  margin-left: -2px;
  margin-top: -2px;
  z-index: 2;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox p {
  color: #b2b2b2;
  text-align: center;
  margin: 0 auto;
  margin-top: 8px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .team1 {
  width: 72px;
  float: left;
  text-align: center;
  margin-top: 5px;
  margin-left: 12px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .team1 img {
  width: 45px;
  height: 45px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .team1 span {
  width: 72px;
  display: block;
  color: #666;
  text-align: center;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .team2 {
  width: 72px;
  float: right;
  text-align: center;
  margin-top: 5px;
  margin-right: 12px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .team2 img {
  width: 45px;
  height: 45px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .team2 span {
  width: 72px;
  display: block;
  color: #666;
  text-align: center;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .vs-box {
  width: 70px;
  float: left;
  margin-top: 5px;
  margin-left: 14px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .vs-box .zhibo {
  width: 70px;
  text-align: center;
  float: left;
  display: block;
  color: #F05B3D;
  font-size: 12px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .vs-box .no-zhibo {
  width: 70px;
  text-align: center;
  float: left;
  display: block;
  color: #666666;
  font-size: 12px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox .vs-box .bifen {
  width: 70px;
  font-family: "Impact";
  text-align: center;
  float: left;
  display: block;
  color: #F05B3D;
  font-size: 28px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox:hover {
  transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  /* Firefox 4 */
  -webkit-transition: box-shadow 0.3s;
  /* Safari and Chrome */
  -o-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  border: solid 2px #F05B3D;
  box-shadow: 0 0 10px 2px rgba(240, 91, 61, 0.4);
  padding: 1px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox:hover p {
  color: #F05B3D;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-event-bigbox:hover .red-kuang {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-adbox {
  padding: 3px;
  position: absolute;
  width: 265px;
  height: 110px;
  z-index: 3;
  display: none;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-adbox a {
  text-decoration: none;
  position: relative;
  top: -3px;
  left: -3px;
  display: inline-block;
  width: 265px;
  height: 110px;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-adbox a .red-kuang {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  width: 267px;
  height: 112px;
  border: 2px solid #f05b3d;
  margin-left: -2px;
  margin-top: -2px;
  z-index: 5;
}
.zhuanqu-kuang .zhuanqu-bigbox .zhuanqu-ad-event .zhuanqu-adbox:hover .red-kuang {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.zhuanqu-kuang .zhuanqu-bigbox .lol-topbox i {
  background: url('../images/index-icon.png') 0 0 no-repeat;
}
.zhuanqu-kuang .zhuanqu-bigbox .csgo-topbox i {
  background: url('../images/index-icon.png') 0 -232px no-repeat;
}
.zhuanqu-kuang .zhuanqu-bigbox .yule-topbox i {
  background: url('../images/index-icon.png') 0 -271px no-repeat;
}
.zhuanqu-kuang .last {
  margin-right: 0;
}
.videolist-bigbox {
  margin-left: 23px;
}
.list-smallbox {
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  width: 265px;
  height: 215px;
}
.list-smallbox a {
  display: inline-block;
  position: relative;
  border: 1px solid #E1E3E6;
  text-decoration: none;
  width: 265px;
  *width: 255px;
  _width: 255px;
  height: 215px;
  *height: 205px;
  _height: 205px;
}
.list-smallbox a .live-dnf,
.list-smallbox a .event-dnf {
  position: absolute;
  left: -1px;
  top: -1px;
  padding-left: 5px;
  width: 40px;
  *width: 31px;
  _width: 31px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: url("../images/index-icon.png") no-repeat 0px -552px;
}
.list-smallbox a .event-dnf {
  background-position: 0 -578px;
}
.list-smallbox a .red-kuang {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  width: 267px;
  height: 217px;
  border: 2px solid #f05b3d;
  margin-left: -2px;
  margin-top: -2px;
}
.list-smallbox a img {
  width: 265px;
  height: 150px;
  margin-left: -1px;
  margin-top: -1px;
}
.list-smallbox a p {
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
  padding-left: 10px;
  height: 22px;
  line-height: 22px;
  margin-right: 10px;
}
.list-smallbox a p span {
  font-size: 12px;
  color: #666;
  float: left;
}
.list-smallbox a p .viewer {
  width: 15px;
  height: 13px;
  margin-right: 5px;
  display: inline-block;
  float: left;
  background: url('../images/index-icon.png') -25px -615px no-repeat;
  position: relative;
  top: 5px;
}
.list-smallbox a p em {
  font-style: normal;
}
.list-smallbox a p .tag {
  float: right;
  color: #ff3922;
}
.list-smallbox a .title {
  margin-top: 10px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-smallbox a .title em {
  width: 175px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}
.list-smallbox a:hover {
  box-shadow: 0 0 10px 2px rgba(240, 91, 61, 0.4);
  transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  /* Firefox 4 */
  -webkit-transition: box-shadow 0.3s;
  /* Safari and Chrome */
  -o-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
}
.list-smallbox a:hover p {
  color: #ff3922;
}
.list-smallbox a:hover .red-kuang {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.list-smallbox a:hover .playing {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.list-smallbox a:hover .title em {
  width: 258px;
  transition: width 0.3s;
  -moz-transition: width 0.3s;
  /* Firefox 4 */
  -webkit-transition: width 0.3s;
  /* Safari and Chrome */
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
}
.list-smallbox .playing {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 50%;
  top: 45px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  transform: scale(1.5);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari and Chrome */
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  background: url('../images/index-s.png') no-repeat -440px -146px;
}
.list-smallbox .no-playing {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -48px;
  width: 96px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 3px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.list-smallbox .no-playing-box {
  background-color: #000;
  position: absolute;
  width: 265px;
  height: 150px;
  top: -1px;
  left: -1px;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.mgt0 {
  margin-top: 0px;
}
.living-bigbox {
  width: 1198px;
  height: 628px;
  border: 1px solid #efefef;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10px;
}
.living-bigbox .living-topbox {
  width: 1150px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
}
.living-bigbox .living-topbox i {
  display: inline-block;
  float: left;
  width: 39px;
  height: 25px;
  background: url('../images/index-icon.png') 0 -311px no-repeat;
  margin-top: 21px;
  margin-right: 10px;
}
.living-bigbox .living-topbox span {
  color: #f05b3d;
  font-size: 20px;
  float: left;
}
.living-bigbox .living-topbox a {
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  margin-top: 25px;
  margin-left: 10px;
  float: right;
  color: #f05b3d;
  text-align: center;
  text-decoration: none;
}
.living-bigbox .living-topbox a:hover,
.living-bigbox .living-topbox .active {
  background-color: #F05B3D;
  color: #fff;
  border-radius: 3px;
}
.living-bigbox .living-mainbox {
  width: 1150px;
  height: 456px;
  margin: 0 auto;
  display: block;
}
.living-bigbox .living-mainbox .list-smallbox {
  width: 277px;
  height: 220px;
  margin-left: 0;
  margin-right: 14px;
}
.living-bigbox .living-mainbox .list-smallbox a {
  width: 277px;
  *width: 267px;
  _width: 267px;
  height: 220px;
  *height: 210px;
  _height: 210px;
}
.living-bigbox .living-mainbox .list-smallbox a img {
  width: 277px;
  height: 156px;
}
.living-bigbox .living-mainbox .list-smallbox a .red-kuang {
  width: 279px;
  height: 222px;
}
.living-bigbox .living-mainbox .list-smallbox a .title {
  width: 265px;
}
.living-bigbox .living-mainbox .list-smallbox a .title-box {
  width: 265px;
  overflow: hidden;
}
.living-bigbox .living-mainbox .list-smallbox .playing {
  top: 48px;
}
.living-bigbox .living-mainbox .list-smallbox .no-playing-box {
  width: 277px;
  height: 156px;
}
.living-bigbox .living-mainbox .list-smallbox a:hover .title {
  transition: width 0.3s;
  -moz-transition: width 0.3s;
  /* Firefox 4 */
  -webkit-transition: width 0.3s;
  /* Safari and Chrome */
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
  width: 380px;
}
.living-bigbox .living-mainbox .last {
  margin-right: 0px;
}
.living-bigbox .more {
  width: 1150px;
  height: 56px;
  padding: 2px;
  line-height: 52px;
  border: solid 1px #EFEFEF;
  background-color: #FCFCFC;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #333333;
  font-size: 16px;
  margin-top: 20px;
  text-decoration: none;
}
.living-bigbox .more:hover {
  color: #fff;
  background-color: #F05B3D;
}
.flr {
  float: right;
}
.sroll-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 56px;
  height: 227px;
  z-index: 9999;
}
.sroll-top ul li {
  display: block;
  width: 56px;
  height: 56px;
  margin-bottom: 2px;
}
.sroll-top ul li em {
  display: block;
  width: 100%;
  height: 56px;
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#80333333", EndColorStr="#80333333");
  position: absolute;
  z-index: -1;
}
.sroll-top ul li a {
  width: 27px;
  margin: 0 auto;
  height: 40px;
  display: block;
  color: #fff;
  text-decoration: none;
}
.sroll-top ul li a .qr-code {
  background: url('../images/download-app.png') no-repeat;
  width: 120px;
  height: 150px;
  display: none;
  position: absolute;
  left: -120px;
  top: 0px;
}
.sroll-top ul li a span {
  display: block;
  line-height: 85px;
}
.sroll-top ul li .down-app {
  background: url('../images/scroll-top.png') 4px 8px no-repeat;
}
.sroll-top ul li .my-live {
  background: url('../images/scroll-top.png') 1px -33px no-repeat;
}
.sroll-top ul li .my-guest {
  background: url('../images/scroll-top.png') 2px -73px no-repeat;
}
.sroll-top ul li .srolltop {
  background: url('../images/scroll-top.png') 3px -117px no-repeat;
}
.sroll-top ul li:hover {
  background: #f05b3d;
}
.sroll-top ul .down-last {
  visibility: hidden;
}
