html {
  direction: rtl; }

html {
  min-height: 100vh; }

body {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  min-height: 100vh;
  align-content: stretch;
  align-items: stretch; }

body, input, select {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px; }

.Content {
  flex-grow: 1; }

.Header {
  position: fixed;
  height: 110px;
  display: flex;
  display: -webkit-flex;
  color: white;
  width: 100%;
  z-index: 500; }
  .Header .logo {
    display: block;
    color: white;
    text-decoration: none;
    width: 200px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 32px;
    flex-shrink: 0;
    -webkit-flex-shrink: 0; }
    .Header .logo i {
      width: 40px;
      text-align: center; }
  .Header .menus {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%; }
    .Header .menus .categories, .Header .menus .subcategories {
      display: flex;
      display: -webkit-flex;
      width: 100%;
      height: 50%; }
      .Header .menus .categories a, .Header .menus .subcategories a {
        color: white;
        padding: 10px 24px;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        display: -webkit-flex;
        align-items: center; }
        .Header .menus .categories a span, .Header .menus .subcategories a span {
          margin: 0 8px;
          white-space: nowrap; }
    .Header .menus .categories {
      margin-bottom: 16px; }
    .Header .menus .categories a.user {
      background: grey; }
    .Header .menus .subcategories a.active {
      background: rgba(255, 255, 255, 0.7); }
  .Header .hamburger {
    display: none; }

@media (max-width: 1200px) {
  .Header {
    height: 80px; }
    .Header .logo {
      width: 120px;
      padding: 16px;
      font-size: 24px; }
      .Header .logo i {
        width: 30px; }
    .Header .menus .categories a, .Header .menus .subcategories a {
      font-size: 14px;
      padding: 6px 16px; }
    .Header .menus .categories {
      margin-bottom: 8px; } }

@media (max-width: 1000px) {
  .Header {
    height: 60px; }
    .Header .logo {
      width: 80px;
      padding: 8px;
      font-size: 20px; }
      .Header .logo i {
        width: 20px; }
    .Header .menus .categories a, .Header .menus .subcategories a {
      padding: 4px 8px; }
    .Header .menus .categories {
      margin-bottom: 4px; } }

@media (max-width: 800px) {
  .Header {
    position: fixed;
    height: 40px;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .Header .logo {
      width: 100px; }
    .Header .menus {
      max-height: 0;
      overflow: hidden;
      flex-direction: row;
      -webkit-flex-direction: row;
      position: fixed;
      top: 40px;
      left: 0;
      right: 0;
      transition: max-height .3s; }
      .Header .menus.visible {
        max-height: 100%; }
      .Header .menus .categories, .Header .menus .subcategories {
        flex-direction: column;
        -webkit-flex-direction: column;
        width: 45%;
        height: 100%;
        margin-left: 16px; }
        .Header .menus .categories a, .Header .menus .subcategories a {
          padding: 12px 8px;
          font-size: 16px; }
          .Header .menus .categories a i, .Header .menus .subcategories a i {
            display: inline-block;
            width: 20px;
            text-align: center; }
    .Header .hamburger {
      display: block;
      font-size: 24px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer; } }

.SubHeader {
  margin-top: 110px; }
  .SubHeader .google-warning {
    background: #F33;
    color: white;
    padding: 12px; }
  .SubHeader .subscribe {
    background: #FF9;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 6px; }
    .SubHeader .subscribe > * {
      margin: 6px; }

@media (max-width: 1200px) {
  .SubHeader {
    margin-top: 80px; } }

@media (max-width: 1000px) {
  .SubHeader {
    margin-top: 60px; } }

@media (max-width: 800px) {
  .SubHeader {
    margin-top: 40px; } }

.List {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column; }
  .List .filters {
    padding: 8px;
    color: black; }
  .List .list {
    height: 100%;
    padding: 16px; }
    .List .list .items {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      justify-content: space-around;
      -webkit-justify-content: space-around; }
      .List .list .items .item {
        margin: 10px 4px;
        padding: 4px;
        color: black;
        text-decoration: none;
        width: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .List .list .items .item.invisible {
          opacity: 0.5; }
        .List .list .items .item img {
          width: 200px;
          height: 300px; }
        .List .list .items .item .title {
          display: block;
          font-size: 18px;
          padding: 8px; }
        .List .list .items .item .info {
          display: block;
          padding: 8px;
          font-size: 16px; }
      .List .list .items .filler {
        margin: 0 4px;
        padding: 0 4px;
        width: 200px; }
  .List .nope {
    background: #EEE;
    padding: 32px;
    font-size: 20px; }
  .List .pager {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    text-align: center; }
    .List .pager li {
      display: inline-block;
      margin: 0 5px; }
      .List .pager li a {
        display: block;
        color: white;
        padding: 5px 10px;
        text-decoration: none; }
      .List .pager li.active a {
        font-weight: bold;
        outline: 1px solid white; }

body.apps .List .list .items .item img, body.music .List .list .items .item img {
  height: 200px; }

@media (max-width: 400px) {
  .List .list .items {
    justify-content: space-around;
    -webkit-justify-content: space-around; } }

.ContentPage > .main {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  min-height: 100%; }
  .ContentPage > .main > .image {
    flex-shrink: 0;
    width: 500px; }
    .ContentPage > .main > .image > img {
      width: 500px;
      position: fixed; }
  .ContentPage > .main > .content {
    min-width: 500px;
    max-width: 800px;
    padding: 32px; }
    .ContentPage > .main > .content h1 .year {
      opacity: 0.7; }
    .ContentPage > .main > .content > .description p, .ContentPage > .main > .content > .description img {
      max-width: 100%;
      height: auto; }
    .ContentPage > .main > .content .groups {
      margin: 16px 0; }
      .ContentPage > .main > .content .groups .group {
        margin: 8px 0;
        border: 1px solid grey; }
        .ContentPage > .main > .content .groups .group > .name {
          border: 1px solid white;
          background: #EEE;
          font-size: 20px;
          padding: 8px;
          cursor: pointer; }
          .ContentPage > .main > .content .groups .group > .name .fa {
            opacity: 0.5; }
        .ContentPage > .main > .content .groups .group > .description {
          padding: 8px; }
        .ContentPage > .main > .content .groups .group .download {
          margin: 24px; }
          .ContentPage > .main > .content .groups .group .download .name {
            font-size: 24px; }
            .ContentPage > .main > .content .groups .group .download .name .size {
              float: left;
              font-size: 20px;
              opacity: 0.7; }
          .ContentPage > .main > .content .groups .group .download .links {
            background: #EEE;
            padding: 8px;
            margin: 8px 0; }
            .ContentPage > .main > .content .groups .group .download .links a {
              display: inline-block;
              margin: 8px; }
        .ContentPage > .main > .content .groups .group.closed > .description {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          opacity: 0.7;
          cursor: pointer; }
        .ContentPage > .main > .content .groups .group.closed .group-content {
          display: none; }

@media (max-width: 1000px) {
  .ContentPage > .main {
    flex-direction: column;
    -webkit-flex-direction: column; }
    .ContentPage > .main > .image {
      flex-shrink: 0;
      width: 100%;
      height: 250px;
      text-align: center; }
      .ContentPage > .main > .image > img {
        width: auto;
        height: 250px;
        position: static; }
    .ContentPage > .main > .content {
      min-width: 0; } }

.LinkPage {
  padding: 64px; }
  .LinkPage .thumb {
    width: 200px;
    float: right; }
  .LinkPage .link-content {
    margin-right: 232px;
    font-size: 24px; }
    .LinkPage .link-content > div {
      margin: 16px 0; }
    .LinkPage .link-content .content-name {
      font-size: 36px; }
    .LinkPage .link-content .captcha img {
      float: right; }
    .LinkPage .link-content .captcha .answer {
      margin-right: 216px;
      line-height: 100px;
      vertical-align: middle; }
    .LinkPage .link-content .download-button button {
      font-size: 48px; }
    .LinkPage .link-content .incorrect, .LinkPage .link-content .disclaimer {
      font-size: 16px;
      color: maroon; }

@media (max-width: 800px) {
  .LinkPage {
    padding: 32px; }
    .LinkPage .thumb {
      display: none; }
    .LinkPage .link-content {
      margin-right: 0; }
      .LinkPage .link-content .captcha img {
        float: none;
        display: block; }
      .LinkPage .link-content .captcha .answer {
        margin-right: 0; } }

.Create {
  padding: 16px 32px; }
  .Create > div {
    margin: 16px 0; }

.Edit {
  padding: 16px 32px; }
  .Edit > div {
    margin: 16px 0; }
  .Edit iframe {
    border: 0;
    width: 300px;
    height: 30px; }
  .Edit .groups li {
    font-size: 20px; }
    .Edit .groups li.invisible {
      opacity: 0.5; }

.EditGroup {
  padding: 16px 32px; }
  .EditGroup > div {
    margin: 16px 0; }
  .EditGroup textarea {
    width: 500px; }
  .EditGroup iframe {
    border: 0;
    width: 300px;
    height: 30px; }
  .EditGroup .move-delete {
    float: left; }
  .EditGroup .images .thumb {
    display: inline-block;
    width: 300px;
    height: 200px;
    position: relative; }
    .EditGroup .images .thumb i {
      position: absolute;
      top: 0;
      right: 0;
      color: red;
      cursor: pointer; }
  .EditGroup .download {
    border: 1px solid grey;
    padding: 8px 16px; }
    .EditGroup .download select {
      display: block;
      margin: 8px 0; }

body.default .Header,
body.default .Header .menus,
body.default .ContentPage > .main > .image,
body.default .List .pager {
  background: #FFAC00; }

body.default .Header .subcategories a.active {
  color: #FFAC00; }

.Header .categories a.default {
  background: #FFAC00; }

.List .items .item.default {
  border: 2px solid #FFAC00; }

body.movies .Header,
body.movies .Header .menus,
body.movies .ContentPage > .main > .image,
body.movies .List .pager {
  background: #333; }

body.movies .Header .subcategories a.active {
  color: #333; }

.Header .categories a.movies {
  background: #333; }

.List .items .item.movies {
  border: 2px solid #333; }

body.tv .Header,
body.tv .Header .menus,
body.tv .ContentPage > .main > .image,
body.tv .List .pager {
  background: #83BF17; }

body.tv .Header .subcategories a.active {
  color: #83BF17; }

.Header .categories a.tv {
  background: #83BF17; }

.List .items .item.tv {
  border: 2px solid #83BF17; }

body.games .Header,
body.games .Header .menus,
body.games .ContentPage > .main > .image,
body.games .List .pager {
  background: #CD1719; }

body.games .Header .subcategories a.active {
  color: #CD1719; }

.Header .categories a.games {
  background: #CD1719; }

.List .items .item.games {
  border: 2px solid #CD1719; }

body.apps .Header,
body.apps .Header .menus,
body.apps .ContentPage > .main > .image,
body.apps .List .pager {
  background: #0B99BC; }

body.apps .Header .subcategories a.active {
  color: #0B99BC; }

.Header .categories a.apps {
  background: #0B99BC; }

.List .items .item.apps {
  border: 2px solid #0B99BC; }

body.music .Header,
body.music .Header .menus,
body.music .ContentPage > .main > .image,
body.music .List .pager {
  background: #AA2159; }

body.music .Header .subcategories a.active {
  color: #AA2159; }

.Header .categories a.music {
  background: #AA2159; }

.List .items .item.music {
  border: 2px solid #AA2159; }

.NotFound {
  padding: 64px; }

.k1 { 
  padding: 5px; 
  width: 190px;
  height: 290px;
 
}

.k1 span { 
  background-color: black;
  color: #fff; 
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}