/* ----- ///////// CSS Reset ///////// ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    display: block;
}
textarea {
    resize: none;
}
legend {
    position: absolute;
    left: -9999px;
}
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input:invalid, input:-moz-ui-invalid {
    border: 0;
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
.text input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
textarea {
    overflow: auto;
    resize: none;
}
a {
    text-decoration: none;
    outline: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
a[href^=tel] {
    color: inherit;
    text-decoration: none;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

/* Sanitation */
hr {
    border: 1px solid;
    margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
b, strong, em, small, code {
    line-height: 1;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

/* ----- ///////// Template Styles ///////// ----- */
::-webkit-input-placeholder {
    color: #666;
}
:-moz-placeholder {
    color: #666;
}
::-moz-placeholder {
    color: #666;
}
:-ms-input-placeholder {
    color: #666;
}
.clear {
    clear: both;
}
.hidden {
    position: absolute !important;
    left: -9999px !important;
}
body, input, textarea, select {
    font-family: 'open_sansregular', Arial, sans-serif;
    font-size: 16px;
    color: #353535;
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
    font-family: 'open_sansregular', Arial, sans-serif;
    background: #000;
}
.wrapper {
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/* ----- ///////// Header ///////// ----- */
#header {
    z-index: 5000;
    position: relative;
    color: #FFF;
    background: #434343;
}
#header a {
    color: #FFF;
}
#header .wrapper {
    position: relative;
    font-size: 0;
    overflow: visible;
}
#header ul li {
    float: left;
    padding: 12px 0;
    font-size: 14px;
    line-height: 16px;
}
#header .contact {
    float: left;
}
#header .contact li {
    margin: 0 0 0 20px;
}
#header .contact li:first-child {
    margin: 0;
}
#header .contact li span {
    font-weight: bold;
}
#header .links {
    float: right;
}
#header .links li:first-child a {
    margin-left: 0;
    padding-left: 0;
}
#header .links li::after {
    content: "|";
    padding: 0 10px;
}
#header .links li:last-child::after {
    content: normal;
    padding: 0;
}
#header .links li.countries {
    position: relative;
}
#header .links li.countries ul {
    display: none;
    position: absolute;
    top: 32px;
    left: -6px;
    padding: 0;
    width: 30px;
    background: #434343;
}
#header .links li.countries:hover ul {
    display: block;
}
#header .links li.countries ul li {
    float: none;
    margin: 0 0 5px 0;
    padding: 0;
    border: none;
}
#header .links li.countries ul li::after {
    content: normal;
    padding: 0;
}
#header .links li.countries ul li a {
    margin: 0 auto;
}
#header .links li.countries a {
    display: block;
    width: 16px;
    height: 11px;
    margin: 2px auto 0 auto;
    text-indent: -9999px;
    border: 1px solid #b0b0b0;
    background-position: 0 0;
    background-repeat: no-repeat;
}
#header .links li.countries a:hover, #header .links li.countries a:active, #header .links li.countries a:focus {
    border-color: #FFF;
}
#header .links li.countries a.dk {
    background-image: url('../images/flags/dk.png');
}
#header .links li.countries a.fr {
    background-image: url('../images/flags/fr.png');
}
#header .links li.countries a.de {
    background-image: url('../images/flags/de.png');
}
#header .links li.countries a.it {
    background-image: url('../images/flags/it.png');
}
#header .links li.countries a.ie {
    background-image: url('../images/flags/ie.png');
}
#header .links li.countries a.nl {
    background-image: url('../images/flags/nl.png');
}
#header .links li.countries a.es {
    background-image: url('../images/flags/es.png');
}
#header .links li.countries a.se {
    background-image: url('../images/flags/se.png');
}
#header .links li.countries a.uk {
    background-image: url('../images/flags/uk.png');
}
#header .links li.countries a.us {
    background-image: url('../images/flags/us.png');
}
#header .links li.countries a.au {
    background-image: url('../images/flags/au.png');
}
#logo-wrap {
    padding: 25px 0;
    background: #FFF;
}
#logo-wrap #main-logo {
    float: left;
    display: block;
    width: 203px;
}
#logo-wrap #main-logo img {
    width: 100%;
    height: auto;
}
#logo-wrap .wrapper .toggle {
    display: none;
}
#main-nav-wrap {
    background: #e4e4e4;
}
#main-nav-wrap .wrapper {
    text-align: center;
}
#main-nav-wrap .wrapper nav ul {
    font-size: 0;
    padding: 5px 0;
}
#main-nav-wrap .wrapper nav ul li {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
}
#main-nav-wrap .wrapper nav ul li a {
    color: #353535;
}
#main-nav-wrap .wrapper .toggle {
    display: none;
}
#cta-nav-wrap {
    background: #FFF;
    padding: 40px 0 0;
    position: relative;
}
#cta-nav-wrap .wrapper {
    /* border-bottom: 1px solid #DBDBDB;
    */
    padding-bottom: 30px;
    text-align: center;
}
#cta-nav-wrap .wrapper nav ul {
    font-size: 0;
    padding: 15px 0 20px 0;
}
#cta-nav-wrap .wrapper nav ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    padding: 0;
    font-size: 22px;
    line-height: 25px;
    position: relative;
    width: 14%;
}
#cta-nav-wrap .wrapper nav ul li::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 113%;
    width: 1px;
    background: linear-gradient(180deg, hsla(0, 0%, 90%, 0), hsla(0, 0%, 90%, 1) 50%, hsla(0, 0%, 90%, 0) 100%) 2%;
    z-index: 0;
}
#cta-nav-wrap .wrapper nav ul li:last-child:after {
    content: "";
    background:none;
}
#cta-nav-wrap .wrapper nav ul li.last-icon::after {
    content: none;
}
#cta-nav-wrap .wrapper nav ul li a {
    font: 1.2rem/1.775rem 'open_sansregular';
    padding: 115px 0 0 0;
    color: #424242;
    text-align: center;
    background: 50% 0 no-repeat;
    display: block;
}
#cta-nav-wrap .wrapper nav ul li a:hover, #cta-nav-wrap .wrapper nav ul li a:active, #cta-nav-wrap .wrapper nav ul li a:focus {
    text-decoration: none;
}
#cta-nav-wrap .wrapper nav ul li a span {
}
#cta-nav-wrap .wrapper .toggle {
    display: none;
}
.ie7 #header ul, .ie7 #header ul li, .ie7 #main-nav-wrap .wrapper nav ul li, .ie7 #main-nav-wrap .wrapper nav ul li, .ie7 #cta-nav-wrap .wrapper nav ul li {
    display: inline;
    zoom: 1;
}

/* ----- ///////// Banners ///////// ----- */
#banner-wrap {
    background: top center no-repeat #FFF;
    overflow: hidden;
    position: relative;
    height: 300px;
}
#banner-wrap .wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}
#banner-wrap .slides-wrap {
    z-index: 999;
    position: relative;
}
#banner-wrap .slides-wrap .slides {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#banner-wrap .slides-wrap .slides li {
    width: 100%;
    height: 100% !important;
    background: top center no-repeat #FFF;
    background-size: auto;
}
#banner-wrap .slides-wrap .slides li .text {
    display: none;
}
#banner-wrap .details {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    width: 410px;
    margin: 0 0 0 -30px;
    color: #000;
    background: url('../images/bg-banner-details.png') 0 0 repeat;
}
#banner-wrap .details .inner {
    padding: 20px;
    overflow: hidden;
}
#banner-wrap .details .inner h1 {
    margin: 0 0 25px 0;
    font-size: 44px;
    font-family: 'open_sansbold';
    text-transform: uppercase;
}
#banner-wrap .details .inner p {
    margin: 0 0 25px 0;
    font-size: 19px;
    line-height: 26px;
}
#banner-wrap .details .inner .logo {
    float: left;
    display: block;
    width: 125px;
    height: auto;
}
#banner-wrap .details .inner .more {
    float: right;
    display: block;
    width: auto;
    padding: 0 25px;
    font-size: 18px;
    line-height: 38px;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}
#banner-wrap .details .inner .more:hover, #banner-wrap .details .inner .more:active, #banner-wrap .details .inner .more:focus {
    color: #FFF;
    text-decoration: none;
    background: #000;
}


.slides-wrap a.prev, .slides-wrap  a.next {
    background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 85px;
}
.slides-wrap a.prev {            left: -22px;
                    background-position: 0 0; }
.slides-wrap a.prev:hover {      background-position: 0 -50px; }
.slides-wrap a.prev.disabled {   background-position: 0 -100px !important;  }
.slides-wrap a.next {            right: -22px;
                    background-position: -50px 0; }
.slides-wrap a.next:hover {      background-position: -50px -50px; }
.slides-wrap a.next.disabled {   background-position: -50px -100px !important;  }
.slides-wrap a.prev.disabled, a.next.disabled {
    cursor: default;
}

.slides-wrap a.prev span, .slides-wrap a.next span {
    display: none;
}
.slides-wrap .pagination {
    text-align: center;
}
.slides-wrap .pagination a {
    background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.slides-wrap .pagination a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.slides-wrap .pagination a span {
    display: none;
}
.slides-wrap .clearfix {
    float: none;
    clear: both;
}

/* ----- ///////// Generic Styles /////////------*/

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

/* ----- ///////// Content ///////// ----- */
#content-wrap {
    background: #FFF;
}
#content-wrap .wrapper {
    padding: 60px 10px;
    background: #FFF;
}
#content {
    float: left;
    width: 65%;
}
#content h1 {
    /* margin: 0 0 15px 0;
    font-size: 29px;
    line-height: 36px;
    */
    color: #3f3f3f;
    font: 38px/1.210526316em 'open_sansregular', sans-serif;
    margin-bottom: 0.60526316em;
    text-transform: uppercase;
}
#content h2 {
    margin: 0 0 15px 0;
    padding: 10px 0 0 0;
    font-size: 22px;
    line-height: 28px;
    font-family: 'open_sansbold';
}
#content h3 {
    margin: 0 0 15px 0;
    padding: 10px 0 0 0;
    font-size: 18px;
    line-height: 24px;
}
#content p {
    /* margin: 0 0 15px 0;
    line-height: 1.4em;
    */
    font: 16px/1.9375em 'open_sansregular', sans-serif;
    margin-bottom: 1.4375em;
    margin-top: 1.4375em;
}
#content .details h2 {
    font-size: 1.357142857em;
    /* line-height: 1.052631579em;
    */
    line-height: 1.421052632em;
    margin-top: 1.05263158em;
    margin-bottom: 1.05263158em;
    padding-top: 0;
}
#content .details p {
    font: 14px/1.4em 'open_sansregular', sans-serif;
}
#content a {
    color: #fd2800;
}
#content a:hover, #content a:active, #content a:focus {
    color: #fd2800;
}
#content ul, #content ol {
    margin: 0 0 15px 0;
    line-height: 1.4em;
}
#content ul li, #content ol li {
    margin: 0 0 5px 0;
}
#content ul li {
    padding: 0 0 0 15px;
    background: url('../images/bg-content-li.png') 2px 7px no-repeat;
}

/* we only need this for inline content - need to remove it for sharing */
#content .sd-content ul li {
    padding: 0 0 0 15px;
    background: none;
}

#content ol li {
    margin-left: 20px;
    *margin-left: 25px;
    list-style: decimal;
    background: none;
}
#content .logo-list {
    font-size: 0;
    padding-top: 60px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: 60px 0;
}
#content .logo-list li {
    display: inline-block;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    background: none;
}
#content .logo-list::before {
    background: #353535;
    content: "";
    top: 0;
    width: 150px;
    height: 2px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
}
.ie7 #content .logo-list li {
    display: inline;
    zoom: 1;
}
#content .text-img-list {
    padding: 20px 0 0 0;
    font-size: 0;
    overflow: hidden;
}
#content .text-img-list li {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 14px;
    background: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
#content .text-img-list li .thumb {
    float: left;
    width: 31%;
}
#content .text-img-list li .thumb img {
    width: 100%;
}
#content .text-img-list li .details {
    float: right;
    width: 69%;
    padding: 0 0 0 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content .text-img-list li .details h2 a {
    text-decoration: none;
    color: #868686;
}
#content .text-img-list.col-2 li {
    /* display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 20px 0 0;
    */
    background-color: #f6f6f6;
    float: left;
    margin-right: 3%;
    padding: 20px;
    width: 47%;
    height: 417px;
}
#content .text-img-list.col-2 li:nth-child(2) {
    content: "";
    margin-right: 0;
}
.ie7 #content .text-img-list.col-2 li {
    display: inline;
    zoom: 1;
}
#content .text-img-list.col-2 li .thumb {
    width: 33%;
}
#content .text-img-list.col-2 li .details {
    width: 63%;
}
#content .text-img-list.col-2.cat li .thumb {
    width: 100%;
    height: auto;
    /* margin: 0 0 10px 0;
    */
}
#content .text-img-list.col-2.cat li .details {
    width: auto;
    padding: 0;
}
#content .pageControls {
    display: none !important;
}

/* .category #content .page-controls {
    display: none
}
*/
#content #infscr-loading {
    clear: both;
    width: 100% !important;
    text-align: center;
    font-style: italic;
}
#content #infscr-loading img {
    display: none !important;
}
#content #infscr-loading .loading {
    padding-top: 90px;
    background: url('../images/loading.gif') center 10px no-repeat;
}
#content .latest-wrap .header {
    overflow: hidden;
}
#content .latest-wrap .header h2 {
    float: left;
    margin: 0;
    padding: 0;
}
#content .latest-wrap .header .more {
    float: right;
}

/* ---- Home content ---- */
.home #content {
    float: none;
    margin: 0 auto;
    position: relative;
    width: 80%;
}
.home #content-wrap .wrapper {
    padding: 10px 10px;
}
.home #content h1 {
    color: #7E7E7E;
    font-family: 'open_sanslight';
    font-size: 2.125rem;
    line-height: 3.125rem;
    margin-bottom: 1.5625rem;
    /* margin-top: 1.5625rem;
    */
    text-align: center;
    text-transform: uppercase;
}
.home #content p {
    /* margin: 0 0 15px 0;
    line-height: 1.4em;
    */
    font-size: 1.125rem;
    line-height: 1.9375rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
    text-align: center;
}

/* ---- Single content ---- */
.single #content {
    padding-left: 6%;
    width: 53%;
}
.single #content h1 {
    color: #3f3f3f;
    font: 38px/1.210526316em 'open_sansregular', sans-serif;
    /* margin-top: 1.21052632em;
    */
    margin-bottom: 0.60526316em;
}
.single #content h2 {
    color: #3f3f3f;
    font: 23px/1.52173913em 'open_sansregular', sans-serif;
    /* margin-top: 1.52173913em;
    */
    margin-bottom: 1.52173913em;
}
.single #content p, 
.single #content ul, 
.single #content ol, 
.single #content pre, 
.single #content table, 
.single #content blockquote {
    font: 16px/1.9375em 'open_sansregular', sans-serif;
    margin-bottom: 1.4375em;
    margin-top: 1.4375em;
}
.single #content blockquote p {
    border-left: 2px solid #EF3D2D;
    color: #EF3D2D;
    font: 25px/1.5em 'open_sansregular', sans-serif;
    margin-left: -11%;
    padding-left: 25px;
    width: 111%;
}
.single #content a {
    color: #EF3D2D;
    text-decoration: none;
}
.single #content a:hover {
    color: #BE2D2E;
}
/*.single #content img {
    margin-left: -11%;
    width: 111%;
}*/

/* ----- ///////// Single Category Page - Content ///////// ----- */

.single #content {
    float: left;
    width: 65%;
    padding-left:0;
}
.single-category_page #content h1 {
    /* margin: 0 0 15px 0;
    font-size: 29px;
    line-height: 36px;
    */
    color: #3f3f3f;
    font: 38px/1.210526316em 'open_sansregular', sans-serif;
    margin-bottom: 0.60526316em;
    text-transform: uppercase;
}
.single-category_page #content h2 {
    margin: 0 0 15px 0;
    padding: 10px 0 0 0;
    font-size: 22px;
    line-height: 28px;
    font-family: 'open_sansbold';
}
.single-category_page #content .details h2 {
    font-size: 1.357142857em;
    /* line-height: 1.052631579em;
    */
    line-height: 1.421052632em;
    margin-top: 1.05263158em;
    margin-bottom: 1.05263158em;
    padding-top: 0;
}
.single-category_page #content .details p {
    font: 14px/1.4em 'open_sansregular', sans-serif;
}

.single-category_page #content .latest-wrap .header {
    overflow: hidden;
}
.single-category_page #content .latest-wrap .header h2 {
    float: left;
    margin: 0;
    padding: 0;
    font-family: 'open_sansbold';
}
#content .latest-wrap .header .more {
    float: right;
}
.single-category_page #content ul, .single-category_page #content ol {
    margin: 0 0 15px 0;
    line-height: 1.4em;
}

/* ---- People content ---- */

/* ---- DEPRECATED ---- */
.people #content .text-img-list.col-2 li,
.equipe #content .text-img-list.col-2 li {
    padding: 0;
    width: 48.5%;
}
.people #content .text-img-list li:nth-child(2n+0),
.equipe #content .text-img-list li:nth-child(2n+0) {
    margin-right: 0;
}
.people #content .text-img-list li .details h2,
.equipe #content .text-img-list li .details h2 {
    margin: 0 0 1em;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.people #content .text-img-list.col-2 li,
.equipe #content .text-img-list.col-2 li {
    background-color: white;
    float: left;
    height: auto;
}
.people #content .text-img-list li .details p,
.equipe #content .text-img-list li .details p {
    font: 1em/1.5em 'open_sansregular', sans-serif;
    margin-bottom: 1.4375em;
}
.people #content .text-img-list li .details,
.equipe #content .text-img-list li .details {
    width: 63%;
    margin-left: 4%;
    padding: 0;
}

/* ---- END OF DEPRECATED SECTION ---- */

#content  .people-list.col-2 li {
    padding: 0;
    width: 48.5%;
}
#content .people-list li:nth-child(2n+0) {
    margin-right: 0;
}
#content .people-list li .details h2 {
    margin: 0 0 1em;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
#content .people-list.col-2 li {
    background-color: white;
    float: left;
    height: auto;
}
#content .people-list li .details p {
    font: 1em/1.5em 'open_sansregular', sans-serif;
    margin-bottom: 1.4375em;
}
#content .people-list li .details {
    width: 63%;
    margin-left: 4%;
    padding: 0;
}
/* ---- Page controls ---- */
.pageControls {
    margin-top: 60px;
}
.pageControls nav a {
    text-decoration: none !important;
}
.pageControls nav a .prev {
}
.pageControls nav a .next {
}

/* ---- Call tracking ---- */
.call-tracking #content-wrap .wrapper #content img {
    float: left;
    margin-right: 6%;
}
.call-tracking #content-wrap .wrapper #content img.response-tap {
    margin-top: 30px;
}
.call-tracking #content-wrap .wrapper #content img.infinity {
    margin-top: 10px;
}
.call-tracking #content-wrap .wrapper #content img.freespee {
    margin-top: 33px;
}

/* ----- ///////// Content SIGN UP page ///////// ----- */
/* Contact Form */
#content .contentForm {
    padding: 30px 20px;
    background: #f3f3f3;
}
#content .contentForm .honeypot {
    display: none;
}
#content .contentForm .intro {
    padding: 0 10px;
}
#content .contentForm .intro .info {
    margin: 0;
    font-size: 11px;
}
#content .contentForm .field {
    position: relative;
    float: left;
    width: 50%;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
#content .contentForm .field label {
    position: absolute;
    left: -9999px;
}
#content .contentForm .field input {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    color: #000;
    border: 1px solid #CCC;
    background: #FFF;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content .contentForm .select select {
    float: left;
    width: 100%;
    height: 40px;
}
#content .contentForm .select .customSelect {
    /* float: left;
    */
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #000;
    border: 1px solid #CCC;
    background: url('../images/bg-custom-select.png') top right no-repeat #FFF;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content .contentForm .textarea {
    clear: both;
    float: none;
    width: 100%;
}
#content .contentForm .textarea textarea {
    float: left;
    width: 100%;
    height: 120px;
    padding: 10px;
    color: #000;
    border: 1px solid #CCC;
    background: #FFF;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content .contentForm .controls {
    width: 100%;
}
#content .contentForm .controls input {
    float: right;
    width: auto;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    color: #FFF;
    border: none;
    background: #fd2800;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
#content .contentForm .controls input:hover {
    background: #000;
}
#content .contentForm .field label.error {
    position: absolute;
    left: auto;
    top: 15px;
    right: 15px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url('../images/bg-label-error.png') 0 0 no-repeat;
}
#content .contentForm .field p.error {
    color: #fd2800;
    font-weight: bold;
}
.prev {
    margin-right: 20px;
}

/* -----  ///////// Side Column ///////// ----- */
#side-col {
    float: right;
    width: 30%;
}
#side-col .cta {
    margin: 0 0 30px 0;
}
#side-col .staff {
    margin-top: 40px;
}
#side-col p {
    margin: 0 0 15px 0;
    line-height: 1.4em;
}
#side-col a {
    color: #353535;
}
#side-col a:hover, #side-col a:active, #side-col a:focus {
    color: #fd2800;
    text-decoration: none;
}
#side-col .button.cta {
    display: block;
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    background: #ffde00;
}
#side-col .button.cta:hover, #side-col .button.cta:active, #side-col .button.cta:focus {
    text-decoration: none;
    background: #fdc224;
}
#side-col .quotes {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 25px 25px 5px 25px;
    font-size: 18px;
    line-height: 22px;
}
#side-col .quotes .quotes-list li {
    margin: 0 0 20px 0;
}
#side-col .quotes .quotes-list li blockquote {
    display: block;
    margin: 0 0 15px 0;
}
#side-col .quotes .quotes-list li .company {
    font-weight: bold;
}
#side-col .staff .staff-list li {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    background: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
#side-col .staff .staff-list li .thumb {
    width: 33%;
    float: left;
}
#side-col .staff .staff-list li .thumb img {
    width: 100%;
}
#side-col .staff .staff-list li .details {
    float: right;
    width: 67%;
    padding: 0 0 0 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#side-col .staff .staff-list li .details h2 {
    margin: 0;
    padding: 0;
    font: 1rem/1.375rem 'open_sansregular';
    margin-bottom: 0.17rem;
    padding-top: 0;
}
#side-col .staff .staff-list li .details h2 a {
    color: #EF3D2D;
}
#side-col .staff .staff-list li .details h2 a:hover {
    color: #871816;
}
#side-col .staff .staff-list li .details p {
    font: 14px/1.4em 'open_sansregular', sans-serif;
}
#side-col .links .links-list li {
    margin: 0 0 20px 0;
}
#side-col .links .links-list li h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.quotes-list blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.quotes-list blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
#side-col .quotes-list blockquote p {
    font: 16px/1.375em 'open_sansregular', sans-serif;
    margin-bottom: 1.375em;
    margin-top: 1.375em;
    display: inline;
}
.quotes-list li .name {
    color: #999999;
    font-size: 14px;
    display: block;
    margin: 5px 0 0 15px !important;
}
.quotes-list li .name:before {
    content: "\2014 \2009";
}
.quotes-list li .company {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0 0 15px !important;
}

/* ----- ///////// Footers ///////// ----- */
#subfooter {
    color: #5e5e5e;
    background: #e4e4e4;
}
#subfooter a {
    color: #5e5e5e;
}
#subfooter .wrapper {
    padding: 30px 10px;
}
#subfooter .wrapper .col {
    float: left;
    width: 200px;
}
#subfooter .wrapper .col h3 {
    margin: 0 0 15px 0;
    font-size: 20px;
}
#subfooter .wrapper .col ul li {
    margin: 0 0 10px 0;
}
#footer {
    font-size: 13px;
    color: #FFF;
    background: #000;
}
#footer .wrapper {
    padding: 30px 10px 20px;
    line-height: 20px;
}
#footer-info {
    float: right;
    margin-top: 10px;
}
#footer .copy, #footer .privacy-footer , .impressum-footer{
    float: left;
}
#footer .privacy-footer, .impressum-footer{
    margin-right: 30px
}
.privacy-footer a , .impressum-footer a{
    color: #EF3D2D;
}
#footer-social {
    float: left;
}
#footer-social ul li {
    float: left;
}
.social-icon {
    color: white;
    padding-top: 10px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    display: block;
}
#facebook-icon {
    background: url(../../images/facebook-icon.png) 0 0 no-repeat;
}
#twitter-icon {
    background: url(../../images/twitter-icon.png) 0 0 no-repeat;
}
#google-icon {
    background: url(../../images/google-icon.png) 0 0 no-repeat;
}
#linkedin-icon {
    background: url(../../images/linkedin-icon.png) 0 0 no-repeat;
}
#evdw-icon {
    background: url(../../images/code-of-conduct.png) 0 0 no-repeat;
	float: left;
}

.evdw {
    color: white;
    padding-top: 10px;
    margin-right: 15px;
    width: 110px;
    height: 41px;
    display: block;
}

/* ----- New changes ----- */
#content.signup-content {
    float: none;
    width: auto;
}
.signup-main-btn {
    background-color: #ffde00;
    display: block;
    font-size: 18px;
    margin-top: 25px;
    padding: 12px 30px;
    text-decoration: none !important;
    width: 103px;   
}
.signup-main-btn.matched-height {
    position: absolute;
    bottom: 0; 
}
.signup-col {
    margin-top: 40px;
    position: relative;
}
.signup-main-btn:hover {
    background-color: #fdc224;
    color: #000 !important;
}
#adv-col {
    float: left;
    margin-right: 5%;
    width: 30%;
}
#pub-col {
    float: left;
    margin-right: 5%;
    width: 30%;
}
#agen-col {
    float: left;
    width: 30%;
}

/* ----- ///////// Cookies page ///////// ----- */
#content .keypointstitle h2 {
    background-color: #D71920;
    color: #fff;
    margin-bottom: 0;
    padding: 15px 30px;
}
.keypoints {
    border: 1px solid #D71920;
    padding: 25px;
}
.keypoints ul {
    padding-left: 20px;
    list-style-type: none;
}
#content .keypoints ul li {
    background: none;
    padding-left: 10px;
    list-style-type: circle;
    font: 16px/1.9375em "open_sansregular", sans-serif;
    margin-bottom: 1.4375em;
}
#content #title-table-cookies {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.357142857em;
    line-height: 1.421052632em;
    margin-top: 1.42105263em;
    margin-bottom: 1.42105263em;
}
#content #table-coockies-wrap {
    background-color: #f3f3f3;
    padding: 30px;
}
#content #table-coockies-wrap h1, #content .greypanel h1 {
    font: 700 16px/1.9375em 'Open Sans', sans-serif;
}
#table-coockies {
    margin-bottom: 40px;
}
#table-coockies table {
    font-size: 14px
}
#table-coockies table th {
    padding: 15px 11px;
    background-color: #666;
    color: #FFF;
    border-bottom: 5px solid #F7F7F7;
    text-align: left;
}
#table-coockies table tr.rowone {
    background-color: #fff;
}
#table-coockies table tr.rowtwo {
    background-color: #FBFBFB;
}
#table-coockies table td {
    padding: 8px;
    border-bottom: 5px solid #F7F7F7;
    text-align: left;
    line-height: 1.928571429em;
}
#table-coockies table td ul li {
    line-height: 1.928571429em;
}
#content .greypanel {
    background-color: #c9c9c9;
    padding: 20px;
}
#content .greypanel p {
    font: 14px/1.9375em 'open_sansregular', sans-serif;
}
#content .greypanel ul li {
    font: 14px/1.9375em 'open_sansregular', sans-serif;
}

/* ----- ///////// Cookies page ///////// ----- */
.error404 #banner-wrap {
    background: top center no-repeat #FFF;
    overflow: hidden;
    position: relative;
    height: auto;
}
.error404 #banner-wrap .wrapper img {
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    width: 55%;
}
.error404 #message {
    float: left;
    margin-left: 4%;
    padding-top: 45px;
    width: 35%;
}
.error404 #message h1 {
    color: #D63D2F;
    font-size: 10em;
    font-weight: 700;
    margin-bottom: 0.2em;
}
.error404 #message h2 {
    font: 23px/1.52173913em 'open_sansbold', sans-serif;
    /* margin-bottom: 1.52173913em;
    */
}
.error404 #message h3 {
    font: 16px/1.9375em 'open_sansregular', sans-serif;
    margin-top: 0.71875em;
}