.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  font-size: 1px;
}

img {
  border: 0;
}

@font-face {
  font-family: 'omnes_mediumroman';
  src: url("omnes/omnesmedium-roman-webfont.eot");
  src: url("omnes/omnesmedium-roman-webfont.eot?#iefix") format("embedded-opentype"), url("omnes/omnesmedium-roman-webfont.woff") format("woff"), url("omnes/omnesmedium-roman-webfont.ttf") format("truetype"), url("omnes/omnesmedium-roman-webfont.svg#omnes_mediumroman") format("svg");
  font-weight: normal;
  font-style: normal;
}

.hf-wrapper {
  margin: auto;
}
.hf-wrapper * {
  font-family: 'omnes_mediumroman', Arial, Verdana;
}
.hf-wrapper ul {
  padding: 0;
}
.hf-wrapper a:link, .hf-wrapper a:visited {
  /*color: #333;*/
  text-decoration: none;
}
.hf-wrapper #header-wrapper {
  background-image: url(../images/sisal/backgroundMenu.jpg);
  background-repeat: repeat-x;
  background-position: top;
  padding: 0 50px;
}
.hf-wrapper #header-wrapper * {
  font-size: 14px;
}
.hf-wrapper #header-wrapper .headerFirst {
  list-style: none;
  margin: 0;
}
.hf-wrapper #header-wrapper .headerFirst > li {
  float: left;
}
.hf-wrapper #header-wrapper .headerFirst > li > a {
  color: #fff;
  display: block;
  padding: 6px 0 11px 0;
  float: left;
  outline: none;
}
.hf-wrapper #header-wrapper .headerFirst > li > a:hover {
  color: #85d90d;
}
.hf-wrapper #header-wrapper .headerFirst > li .headerSecondWrapper {
  display: none;
  position: absolute;
  width: 149px;
  margin: -2px 0 0 0;
  z-index: 100000;
}
.hf-wrapper #header-wrapper .headerFirst > li .headerSecondWrapperBottom {
  background-image: url(../images/sisal/backgroundHeaderBottom.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 6px;
}
.hf-wrapper #header-wrapper .headerFirst > li .headerSecond {
  background-image: url(../images/sisal/backgroundHeader.png);
  background-repeat: repeat-y;
  list-style: none;
  margin: 0;
}
.hf-wrapper #header-wrapper .headerFirst > li .headerSecond li {
  background-image: url(../images/sisal/separator.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding: 0 0 3px 0;
}
.hf-wrapper #header-wrapper .headerFirst > li .headerSecond li a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: #006633;
}
.hf-wrapper #header-wrapper .headerFirst > li .headerSecond li a:hover {
  background-color: #cccccc;
  color: #fff;
}
.hf-wrapper #header-wrapper .headerFirst > li .headerSecond li.last {
  background-image: none;
}
.hf-wrapper #header-wrapper .headerFirst > li .selectedLinkLeft, .hf-wrapper #header-wrapper .headerFirst > li .selectedLinkRight {
  float: left;
  width: 18px;
  padding: 6px 0 11px 0;
}
.hf-wrapper #header-wrapper .headerFirst > li.hasChild {
  margin-right: 0;
}
.hf-wrapper #header-wrapper .headerFirst > li.hasChild > a {
  min-width: 114px;
  text-align: center;
}
.hf-wrapper #header-wrapper .headerFirst > li.hasChild > a span {
  margin: auto;
  padding-right: 15px;
  background-image: url(../images/sisal/arrow_off.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.hf-wrapper #header-wrapper .headerFirst > li.hasChild > a:hover span {
  background-image: url(../images/sisal/arrow_on.png);
}
.hf-wrapper #header-wrapper .headerFirst > li.hasChild.selected > a span {
  background-image: url(../images/sisal/arrow_selected.png);
}
.hf-wrapper #header-wrapper .headerFirst > li.selected .headerSecondWrapper {
  margin-left: 0;
}
.hf-wrapper #header-wrapper .headerFirst > li.selected .selectedLinkLeft {
  background-image: url(../images/sisal/backgroundSelectedLeft.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.hf-wrapper #header-wrapper .headerFirst > li.selected .selectedLinkRight {
  background-image: url(../images/sisal/backgroundSelectedRight.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.hf-wrapper #header-wrapper .headerFirst > li.selected > a {
  background-image: url(../images/sisal/backgroundSelectedCenter.png);
  background-repeat: repeat-x;
  background-position: top;
  color: #006633;
}
.hf-wrapper #footer-wrapper * {
  color: #505050;
  font-size: 12px;
}
.hf-wrapper #footer-wrapper #footerFirstWrapper {
  /*background-image: url(../images/sisal/backgroundFooter.png);			background-repeat: repeat-x;			background-position: top;*/
  padding: 0 50px 0 40px;
  background-color: #e5e5e5;
}
.hf-wrapper #footer-wrapper #footerFirstWrapper .footerFirst {
  list-style: none;
  margin: 0;
  float: left;
}
.hf-wrapper #footer-wrapper #footerFirstWrapper .footerFirst > li {
  text-align: left;
  float: left;
  width: 150px;
  padding: 10px 0 10px 15px;
  /*background-image: url(../images/sisal/footer-separator.gif);					background-repeat: no-repeat;					background-position: 95% 50%;*/
}
.hf-wrapper #footer-wrapper #footerFirstWrapper .footerFirst > li.last {
  background-image: none;
}
.hf-wrapper #footer-wrapper #footerFirstWrapper .cercapunto {
  display: block;
  float: right;
  margin: 10px 5px 0 0;
}
.hf-wrapper #footer-wrapper #footerFirstWrapper .cercapunto img {
  float: left;
  margin-right: 5px;
}
.hf-wrapper #footer-wrapper #footerSecondWrapper {
  display: none;
  /*background-image: url(../images/sisal/backgroundFooter.png);			background-repeat: repeat-x;			background-position: top;*/
  background-color: #e5e5e5;
  padding: 0 50px 0 40px;
}
.hf-wrapper #footer-wrapper .footerSecond {
  list-style: none;
  float: left;
  width: 160px;
  margin: 0 0 10px 15px;
}
.hf-wrapper #footer-wrapper .footerSecond a {
  font-weight: normal;
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  .hf-wrapper #header-wrapper, .hf-wrapper #footerFirstWrapper, .hf-wrapper #footerSecondWrapper {
    min-width: 768px !important;
    padding: 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hf-wrapper #header-wrapper, .hf-wrapper #footer-wrapper, .hf-wrapper #footerFirstWrapper, .hf-wrapper #footerSecondWrapper {
    padding: 0 !important;
  }
}
@media screen and (max-width: 1024px) {
  .hf-wrapper .cercapunto span {
    display: none;
  }
}
