/*XFS 2.1*/

body{margin:0;height:auto;font:13px Tahoma;color:#ffffff;background:#000000; background-repeat:repeat; text-align:center;}
body * {margin:auto;}
a, a:visited {color: #ffffff;}
p {margin-top:4px;font-family: Tahoma;text-align:left;}
h2 {font: bold 19px Tahoma;margin:1px; padding-bottom:25px;}
h3 {font: bold 18px Tahoma;margin:1px; padding-bottom:25px;}
strong {font-size:15px;}
table {font: 13px Tahoma;text-align:left;}
small a {font-size:11px;color: #227;text-decoration:none;}
small a:hover {color: #119;text-decoration:underline;}

.paging {margin:10px 0 5px 0;font:13px Tahoma;}
.paging a, .paging a:visited {border: 1px solid #9aafe5;margin-right:3px;padding:1px 7px;text-decoration: none;color: #2e6ab1;}
.paging a:hover {border: 1px solid #2b66a5;color: #000;background-color: lightyellow;}
.paging b {margin-right:3px;padding:1px 7px;font-weight: bold;color: #FFF;background-color: #2e6ab1;border: 1px solid #0e4a91;}
.paging small {font:11px Tahoma;color:#777;line-height:18px;}

.result_slot {background: #F3F6FB; border:1px solid #c3d3dc;text-align:left;color:#111;padding:3px;}
.result_slot td {font:13px Tahoma;}
.result_slot input, .result_slot textarea {border:1px solid #AAA;color:#444;}
.file_slot {/*background:#ECF3F9;*/border:1px solid #CAD6E6;font: 13px Tahoma; padding:10px;}
.file_slot small a{color:#FFCC00;}
.file_slot tr.hdr td {background-color:#DCE3E9; font-weight: bold; text-align:center;}
.captcha_code {border: 1px solid #777;font: 19px Tahoma;width:50px;text-align:center;}
.pic {border:1px solid #909090;}

form {margin:0;}
.txt12 {font: 12px Arial;}
.div1, .file_list {text-align: left; color: #484B50; font-family: Tahoma, sans-serif; font-size: 11px;}
.div1 {width: 495px; padding: 5px; top:-9999px;}

.upload_input {background: url("http://www.uploadrocket.net/images/upload_back.png") no-repeat scroll left 0 transparent;
    height: 53px;
    width: 379px;
	margin-top:5px;
	float:left;
	}
.upload_input input {cursor: pointer;
    float: left;
    height: 50px;
    opacity: 0;
    width: 379px;
    z-index: 2;
	margin-top:40px;
	margin-left: 5px !important;
    margin-top: 0 !important;
	}

/*.upload_input input {font: 12px Tahoma; border: 1px solid #636363; margin-top: 1px; width:100%;}*/
.myForm {font: 12px Tahoma; border: 1px solid #636363; margin-top: 1px;}
.xrow {background:#ffffff;border:1px solid #b3b3b3;padding:2px;margin-top:2px;font: 12px Tahoma; float:left; margin-left:0px; width:98%;}
.xrow input {font: 12px Arial; border: 1px solid #c3c3c3; margin-top: 1px;}
.xrow input.input_url {font: 12px Tahoma; border: 1px solid #636363; margin-top: 1px; width: 90%;}
.xrow a img {border:none;float:right;width:16px;height:16px;}
.xfname  {color: #333;font-weight:bold;float:left;height:16px;}
.xfsize  {color: #555;font-weight:normal;float:left;margin-left:10px;font-style:italic;}
.xdescr  {color: #999;font: 12px Tahoma;}
.fdescr {width: 325px;}
#optidiv, #optidiv2, #optidiv3, #optidiv4 {position:absolute;top:-9999px;margin-top:2px;padding:3px; color:#fff; text-transform:uppercase;}
#div_file{position:static;top:-9999px;background:url(images/blue_back.png); background-repeat:repeat;}
#div_url, #div_rs, #div_tt, #div_ff, #div_copy, #div_ftp, #div_mapp, #div_dapp  {position:absolute;top:-9999px;background:url(images/blue_back.png); background-repeat:repeat;}
.ok {font:bold 50px Arial;color:red;float:left}
.err {font:bold 13px Arial;color: #fc0;}
#news {font-family: Arial, Tahoma, Verdana; font-size:13px;}
#news a.title {font-family: Tahoma, Arial,'Trebuchet MS',Verdana,Sans-Serif;color:#3399CC;font-size:17px;text-decoration:none;}
#news_last {margin:7px auto;width:550px;text-align:left;}
#news_last a {color:#447;}
a.cmt_link {background: url(images/comments.gif) no-repeat left center; padding-left: 16px;color:#336699;}
.cmt_hdr {background-color:#c7cfd4;padding:4px;font-size:11px;}
.cmt_hdr a {text-decoration:none;}
.cmt_hdr b, .cmt_hdr b a {font-size:13px;color: #202020;}
.cmt_txt {padding: 5px;margin-bottom:10px;}
.sinput input, .sinput textarea {font:12px Arial;border:1px solid #707070;margin:2px;}

/*#lang{position:absolute;top:0px;padding:3px; padding-right:0px;right:0;}*/
#lang{position:absolute;top:0px;padding:3px; padding-right:0px;right:0;width:100%}
/*#lang ul{width:100px;float:left;margin:0px;padding:0;list-style:none;}*/
#lang ul{width:100%;float:left;margin:0px;padding:0;list-style:none;}
/*#lang ul li {text-align:left;padding:3px;}*/
#lang ul li {text-align:left;padding:0px;}
/* #lang ul li a{color:#fff;text-decoration:none;display:block;width:100%; font-size:11px; text-transform:uppercase; font-family:Verdana, Arial, Helvetica, sans-serif;}*/
#lang ul li a{color:#fff;text-decoration:none;display:inline;width:100%; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif;}
#lang img{border:none;margin-right:3px;}
/*#lang ul li {display:none;background:#081d3a;border:1px solid transparent;}*/
#lang ul li {display:inline;background:#081d3a;border:1px solid transparent;}
/*#lang ul .top {display:block;background:none;border:none;}*/
#lang ul .top {display:inline;background:none;border:none;}
#lang ul li:hover{border-color:#555;}
/*#lang ul:hover li {display:block;}
#lang ul:hover li {display:block;}*/

/* CSS below required for Inline3 mode */
.data {border-collapse:collapse; background-color: #e9e9e9; width: 400px; margin-bottom: 3px;}
.data TR TD {border: 1px solid #a3a3a3; font: 12px Arial;}
.bar1 {border: 1px solid #a3a3a3; background-color: #f6f6f6; text-align: left; vertical-align: middle; height: 20px; width: 98%;}
.bar2 {width: 1%; background-color: #c9c9c9; height: 20px; text-align: left;}
.message {width: 400px; border: 1px solid #909090; font: 11px Arial; margin-top: 5px; text-align: left; padding-left: 3px; background-color: #f9f9f9;}
.myLink  {font: bold 13px Arial; color: #303030; text-decoration: none;}
.myForm {font: 12px Tahoma; border: 1px solid #636363;margin-right:2px;}
.btn     {font: 15px Tahoma; margin-top: 3px; margin-bottom: 5px; width:200px;}
.btn2, .btndiv {font: 12px Tahoma;border:1px solid #909090;background:#e9e9e9;}
.btn2:active {position: relative;top: 1px;left: 1px;}
.btndiv  {width:120px;height:16px;text-align:center;padding:1px 4px 0px 4px;margin:auto;margin-top:1px;}
div.tabbertab div.hover { background-color:#e9f3e9; }

.tbl1 {text-align:left;border-collapse: collapse; color:#000;}
.tbl1 tr td, .tbl1 tr th {border:1px solid #c3c3c3; padding:3px;}
.tbl1 tr td {background-color: #FFFFFF; font-size: 12px; color:#000;}
.tbl1 tr td a{
 color:#000;
 }
.tbl1 tr.hi td {background-color: #F3F3F3;}
.tbl1 tr:hover td {background-color: #E9F0FF; color:#000}
.tbl1 tr:hover td a{color:#000;}
.tbl1 tr td.pub {background-color: #E0FFE0;}
.tbl1 tr.hdr td, .tbl1 th, .hdr {background-color:#d9d9d9; font-weight: bold; text-align:center; color:#000;}
.tbl1 tr.hdr a{
color:#000;
}
.tbl1 tr.hi2 td {background-color: #D9ECFF;}

/* 7/27/14 .rrd {width:945px;/*background:#f3f3f3;border:1px solid #d3d3d3;*/padding:15px;margin:5px auto 5px auto;background:url(images/blue_back.png); color:#ffffff;} */
.rrd {width:970px;/*background:#f3f3f3;border:1px solid #d3d3d3;*/padding:15px;margin:5px auto 5px auto;background:url(images/blue_back.png); color:#ffffff;}

.tabberlive .tabbertabhide {display:none;}
.tabber {}
.tabberlive {margin-top:1px;}
ul.tabbernav{margin:0;padding: 3px 0;border-bottom: 1px solid #778;font: bold 12px Verdana, sans-serif;}
ul.tabbernav li{list-style: none;margin: 0;display: inline;}
ul.tabbernav li a {background: #F3F6FB; border: 1px solid #778; padding: 3px 3px;margin-left: 3px;border-bottom: none;text-decoration: none;}
ul.tabbernav li a:link { color: #66A; }
ul.tabbernav li a:visited { color: #667; }
ul.tabbernav li a:hover{color: #000;background: #AAE;border-color: #227;}
ul.tabbernav li.tabberactive a{background-color: #fff;border-bottom: 1px solid #fff;color: #448;}
ul.tabbernav li.tabberactive a:hover{color: #000;background: white;border-bottom: 1px solid white;}
.tabberlive .tabbertab {padding:5px;border:1px solid #aaa;border-top:0;background-color:#FFF;text-align:center;}
.tabberlive .tabbertab h2 {display:none;}
/* 7/27/14 #utmodes{background:url(images/utback1.png); width:798px; height:30px; padding-top: 85px; background-repeat:no-repeat; padding-left:15px; text-align:left;} */
/* 8/07/14#utmodes{width:798px; height:30px; background-repeat:no-repeat; padding-left:15px; text-align:left;}*/
#utmodes{height:40px; background-repeat:no-repeat;}
#utmodes input {border:0px solid #d3d3d3;background:transparent;margin-right:0px;font-family:Tahoma; color:#ffffff; /*text-transform:uppercase;background:url(images/dvr.png); background-position:left; padding-left:12px; background-repeat:no-repeat; width:150px;*/ padding-left:7px; padding-right:7px; cursor:pointer;}
#utmodes input.active {border:0px solid #a3a3a3;background:#e3e3e3;background:url(images/input_active.png); background-repeat:repeat-x;}

/* XFSCUSTOM.COM #upload_div {width:504px;margin-top:50px; float:left;} */
#upload_div {width:728px;margin-top:25px; float:left;}
.upload_block {height:140px;min-height:140px;margin-top:0px;}
html>body .upload_block {height:auto}
#progress_div {position:absolute;top:-9999px;}
.file_block {margin-top:5px;width:100%;border-collapse: collapse;}
.file_block TR TD {padding:3px;border:1px dotted #999;}
.file_block div.link {width:200px;overflow:hidden;}
.file_block div.link a {font-weight:bold;text-decoration:none;}
img.cat_img {border:1px solid #b3b3b3;padding:26px;background:#edf3fa;}
.url2 {font-size:12px;color:yellow;text-decoration:none;}

.uploadv {text-align: center; overflow: hidden; width: 400px; height: 30px; background:url(btn2.gif) no-repeat;color: #444; font: bold 20px Arial; line-height:30px; background-color: #a3a3a3;}
.uploadv input {margin-top: -50px; margin-left:-410px;  -moz-opacity: 0;  filter: alpha(opacity=0);   opacity: 0;  font-size: 140px; height: 100px;}

/*.trf{background-image:url(images/flags.png);height:11px;width:16px;background-repeat:no-repeat;overflow:hidden;display:inline-block;margin-left:8px;}*/
.trf{background-image:url(images/flags.png);height:11px;width:16px;background-repeat:no-repeat;overflow:hidden;display:inline-block;margin-left:5px;}
.trf-za{background-position:-24px 0;}
.trf-al{background-position:-48px 0;}
.trf-arabic{background-position:-72px 0;}
.trf-by{background-position:-96px 0;}
.trf-bg{background-position:-120px 0;}
.trf-catalonia{background-position:-144px 0;}
.trf-cn{background-position:-168px 0;}
.trf-tw{background-position:-192px 0;}
.trf-hr{background-position:-216px 0;}
.trf-cz{background-position:-240px 0;}
.trf-dk{background-position:-264px 0;}
.trf-dutch{background-position:-288px 0;}
.trf-ee{background-position:-312px 0;}
.trf-fi{background-position:-336px 0;}
.trf-french{background-position:-360px 0;}
.trf-galicia{background-position:-384px 0;}
.trf-german{background-position:-408px 0;}
.trf-gr{background-position:-432px 0;}
.trf-hebrew{background-position:-456px 0;}
.trf-in{background-position:-480px 0;}
.trf-hungary{background-position:-504px 0;}
.trf-indonesia{background-position:-528px 0;}
.trf-it{background-position:-552px 0;}
.trf-is{background-position:-576px 0;}
.trf-ie{background-position:-600px 0;}
.trf-japan{background-position:-624px 0;}
.trf-kr{background-position:-648px 0;}
.trf-lv{background-position:-672px 0;}
.trf-lt{background-position:-696px 0;}
.trf-mk{background-position:-720px 0;}
.trf-my{background-position:-744px 0;}
.trf-mt{background-position:-768px 0;}
.trf-no{background-position:-792px 0;}
.trf-ir{background-position:-816px 0;}
.trf-polish{background-position:-840px 0;}
.trf-pt{background-position:-864px 0;}
.trf-ro{background-position:-888px 0;}
.trf-russian{background-position:-912px 0;}
.trf-rs{background-position:-936px 0;}
.trf-sk{background-position:-960px 0;}
.trf-sl{background-position:-984px 0;}
.trf-spanish{background-position:-1008px 0;}
.trf-ke{background-position:-1032px 0;}
.trf-se{background-position:-1056px 0;}
.trf-ph{background-position:-1080px 0;}
.trf-thai{background-position:-1104px 0;}
.trf-turkish{background-position:-1128px 0;}
.trf-ua{background-position:-1152px 0;}
.trf-vn{background-position:-1176px 0;}
.trf-wales{background-position:-1200px 0;}
.trf-europeanunion{background-position:-1224px 0;}

.icon {width:100px; height:90px; border:solid 1px #C3C3C3;position:relative;background:#FFFFFF;padding:1px;text-align:left}
.icon a:link, .icon a:visited {height:90px;width:100%;display:block;}
.icon a:hover {display:block;position:absolute;z-index:999;left:-40px;top:-28px;width:160px;height:140px;border:solid 1px #C3C3C3;}

.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	padding: 10px;
	width: 350px;
	text-align:left;
	color:black;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
	float:left;
}

#fileQueue{
	margin-top: 5px;
	padding: 3px;
	background-color: white;
	border: 1px solid #cecece;
	overflow: auto;
	height: 170px;
	width: 400px;
}

#recaptcha_response_field {border: 1px solid #444;}

fileinput-button, #files_container { float: none; display: inline-block; overflow: hidden; position: relative; text-align: center; line-height: 50px; }
#files_container { width: 117px; height: 40px; }
#drag_container { display: none; width: 646px; height: 69px; margin-bottom: 15px; padding-top: 15px; border-radius: 6px; background-image: url('/images/drag-n-drop.png'); font-color: #aaa; }
#drag_container input[type="file"] { position: fixed; left: 0; top: 0; width: 100%; height: 100%; margin: 0 auto; z-index: 9999;}
.navbar-inner{background-color:#333;height:45px}
.container{ margin-right: auto; margin-left: auto; vertical-align: center; width: auto; height: 100%;}
.nav>.pull-right{float:right; margin-right: 0;}
.brand{display:block;float:left;padding:7px;position:absolute;left:30px;}
.brand img{border: 0}
[class*="span"].pull-right,.row-fluid [class*="span"].pull-right{float:right}

.navbar .pull-right>li>.dropdown-menu .dropdown-menu,.navbar .nav>li>.dropdown-menu.pull-right .dropdown-menu{right:100%;left:auto;margin-right:-1px;margin-left:0;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px}
.pull-right>li{display: inline; float:left}
.nav-menu ul { margin: 15px 0px; font-family: 'gotham_bookregular'; display: inline-block; }
.nav-menu ul li{display:inline;margin-left:20px}
input[type="file"] { font-family: 'gotham_bookregular'; }

.nav li a { color: #fff; }
.nav li a:visited { color: #fff; }
.nav li a:hover { color: #f3f3f3; text-decoration: none; }
.nav li .btn_blue { padding: 8px; }

#upload_controls .btn_white { /*background-color: #fff; border: 1px #b3b3b3 solid; */color: #333; }
#upload_controls input { margin: 0; }
#upload_controls { width: 100%; }
.share img { width: 24px; height: 24x; }

.topnav{
background-color:#df3521; height:45px;
}
.topnavinner{
width:970px; height:45px;
}
.topnavinner ul{
float:left;
margin:0px;
padding:0px;
}
.topnavinner ul li{
float:left;
margin:0px;
padding:0px;
/*padding-left:18px;
padding-right:18px;*/
padding-left:13px;
padding-right:15px;
list-style:none;
margin-top:8px;
}
.topnavinner ul li a{
float:left;
padding-top:7px;
color:#ffffff;
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
cursor:pointer;
/*text-transform:uppercase;*/
text-transform:none;
}
.topnavinner ul li a.active{
background:url(./images/active.png) no-repeat;
background-repeat:no-repeat;
cursor:pointer;
width:119px;
height:30px;
}
.topnavinner ul li a.premium{
background:url(./images/starmark.png) no-repeat;
background-repeat:no-repeat;
background-position:left;
padding-left:17px;
background-position:left;
}
.login_area{
float:right; margin-top:45px; color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px;
}
#header_div{
/*padding-bottom: 150px;*/
position:relative;
width:970px;
margin: 0 auto 0 auto;
text-align:center;
height:130px;
}
.user a{
color:#ffffff;
text-decoration:none;
padding-left:7px;
padding-right:7px;
font-weight:bold;
text-transform:uppercase;
font-size:13px;
font-family:Arial, Helvetica, sans-serif;
}
.login_back{
background:url(./images/login_back.png) no-repeat;
height:39px;
width:195px;
/*padding-left:10px;*/
background-repeat:no-repeat;
}
.password_back{
background:url(./images/password_back.png) no-repeat;
height:39px;
width:195px;
/*padding-left:10px;*/
background-repeat:no-repeat;
}
.login_back input, .password_back input{
border:none;
color:#d7d7d7;
}
.login-submit{
background:url(./images/button_submit.png) no-repeat center top;
border:none;
color: #fff;
height:35px;
width:50px;
cursor:pointer;
}
.footer{
background-color:#000000;
height:120px;
/*position:static;
bottom:0px;
width:100%;*/
font-size:11px !important;
color:#ffffff;
text-transform:uppercase;
float:left;
width:100%;
}
.footer table{
font-size:11px !important;
text-transform:uppercase !important;
}
.footer a{
font-size:11px !important;
color:#ffffff;
text-decoration:none;
}
.footer b{
font-size:12px !important;
color:#ffffff;
font-weight:normal;
text-transform:uppercase;
}
.upload_area{
width:970px; 
margin:auto;
/* background:url(./images/upload_area2.png) no-repeat center bottom; */
min-height:355px;
}
.middle{
background:#081d3a url(images/back.png);
width:100%;
float:left;
padding-bottom:20px;
min-height:485px;
}
.btn_upload{
background:url(images/btn_upload.png);
background-repeat:no-repeat;
width:98px;
height:58px;
background-position:bottom;
}
.btnUpload{
background:url(images/uploadBack.png);
background-repeat:no-repeat;
/*width:59px;*/
width:100%;
height:58px;
background-position:bottom;
border:0px;
cursor:pointer;
color:white;
font-size: 20px;
text-align: center;
font-family: Arial,Helvetica,sans-serif;
}
.tbl_pre {text-align:left;border-collapse: collapse;}
.tbl_pre tr td, .tbl1 tr th {border:1px solid #c3c3c3; padding:6px; 
background:#f3f3f3 url(./images/feature_table.png) repeat-x center top;}
.tbl_pre tr td {font-size: 12px; color:#000;}
.home_banner{
background:url(./images/upgrade.png);
height:271px;
width:250px;
background-repeat:no-repeat;
background-position:bottom;
}
.btn_signup{
background:url(./images/btn_signup.png);
height:47px;
width:202px;
background-repeat:no-repeat;
color:#ffffff !Important;
font-size:24px;
line-height:47px;
text-align:center;
background-position:left bottom;
text-decoration:none;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
}

.dtab {

background-image: linear-gradient(bottom, rgb(117,132,148) 15%, rgb(74,108,140) 79%);
background-image: -o-linear-gradient(bottom, rgb(117,132,148) 15%, rgb(74,108,140) 79%);
background-image: -moz-linear-gradient(bottom, rgb(117,132,148) 15%, rgb(74,108,140) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(117,132,148) 15%, rgb(74,108,140) 79%);
background-image: -ms-linear-gradient(bottom, rgb(117,132,148) 15%, rgb(74,108,140) 79%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.15, rgb(117,132,148)),
	color-stop(0.79, rgb(74,108,140))
);



border-color: #758494;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    /*float: left;
    margin-left: 102px;*/
    margin-top: 50px;
}
.btnn {
  background: #fceabb; /* Old browsers */
background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 16%, #f8b500 57%, #fbdf93 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(16%,#fccd4d), color-stop(57%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 16%,#f8b500 57%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 16%,#f8b500 57%,#fbdf93 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 16%,#f8b500 57%,#fbdf93 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 16%,#f8b500 57%,#fbdf93 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */


  border:1px solid transparent;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  box-shadow:rgba(0, 0, 0, 0.199219) 3px 6px 5px;
  cursor:pointer;
  display:block;
  font-family:Arial, Tahoma;
  font-size:29px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:normal;
  margin-bottom:15px;
  margin-top:15px;
  padding:10px;
  text-align:center;
  vertical-align:middle;
  width:400px;
}

#drag_container input[type="file"] { position: fixed; left: 0; top: 0; width: 100%; height: 100%; margin: 0 auto; z-index: 9999;}
.upload_block input[type="file"], #files_container input[type="file"] { margin-top: -40px; margin-left: -58px; font-size: 23px; /*width: 420px; height: 130px; */opacity: 0; }

.tier{
background:url("http://www.kingfiles.net/images_megablue/earn_bk.png");
width:750px;
height:200px;
}

.InnerShadow1 {
width:600px;
height:100%;
padding:10px;
background-color: rgb(217, 217, 217);
box-shadow: 10px 10px 5px #888888;
text-align:center;
border:2px solid;
border-radius:25px;
}

.Width780 {
width:780px;
}

/* Buttons */
.button-wrapper{
	width: 320px;
	margin: 0 auto;
    padding: 20px 0;
}
.button-wrapper-large{
	width:500px;
	margin: 0 auto;
/*    padding: 20px 0; */
	height: 80px;
}
.a-btn{
    background:#80a9da;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#80a9da,0),color-stop(#6f97c5,1));
    background:-webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:-moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:-o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background:linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
    padding-left:20px;
    padding-right:80px;
    height:38px;
    display:inline-block;
    position:relative;
    border:1px solid #5d81ab;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    float:left;
    clear:both;
    margin:10px 0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn-text{
    padding-top:5px;
    display:block;
    font-size:18px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#446388;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-slide-text{
    position:absolute;
    height:100%;
    top:0px;
    right:52px;
    width:0px;
    background:#63707e;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    font-size:18px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:10px;
    overflow:hidden;
    line-height:38px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(../images/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn:hover{
    padding-right:180px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.a-btn:hover .a-btn-text{
    text-shadow:0px 1px 1px #5d81ab;
    color:#fff;
}
.a-btn:hover .a-btn-slide-text{
    width:100px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity:1;
}
.a-btn:active{
    position:relative;
    top:1px;
    background:#5d81ab;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}

input.dlbutton, a.dlbutton, a.dlbutton_green  {
    background: transparent url('http://www.uploadrocket.net/images/dl_right.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 51px;
    margin-right: 6px;
    padding-right: 45px; /* sliding doors padding */
    text-decoration: none;
}

a.dlbutton_green  {
    background: transparent url('http://www.uploadrocket.net/images/dl_right_green.png') no-repeat scroll top right;
}

input.dlbutton span, a.dlbutton span, a.dlbutton_green span {
    background: transparent url('http://www.uploadrocket.net/images/dl_left.png') no-repeat;
    display: block;
    line-height: 41px;
    padding: 5px 0 5px 42px;
	color: white;
	font-size: 20px;
	font-weight: bold;
} 

a.dlbutton_green span {
    background: transparent url('http://www.uploadrocket.net/images/dl_left_green.png') no-repeat;
} 

input.dlbutton:hover, a.dlbutton:hover, a.dlbutton_green:hover {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

input.dlbutton:hover span, a.dlbutton:hover span, a.dlbutton_green:hover span {
    background-position: bottom left;
	color: black;
} 
.download b{
	color:#2cc702; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px;
	font-weight:normal;
	text-align:left;
}

/* XFSCUSTOM.COM: start */
.hideall { visibility: hidden; }
.unhideall { visibility: visible; } 

#glasstop
{
    /* Do not display it on entry */
    display: block; 
 
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:1001;
     
    /* make it cover the whole screen */
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 300%; 
 
    /* make it white but fully transparent */
/*    background-color: black;  */
    opacity:.20; 
    filter: alpha(opacity=20); 
}

input#bigbutton {
width:500px;
background: #3e9cbf; /*the colour of the button*/
padding: 8px 14px 10px; /*apply some padding inside the button*/
border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
font-size:1.5em;
font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
letter-spacing:.1em;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
color: #fff;
/*give the corners a small curve*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
input#bigbutton:hover, input#bigbutton:focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#aad4ff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
/* XFSCUSTOM.COM: end */