.tile .template1 .tile_description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
}
.tile .template1 .tile_description .text {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #000;
}
.tile .template1 .tile_description .text:before {
  background-image: url('/storageFiles/21.png');
  background-repeat: no-repeat;
  background-color: #ffffff;
  content: '';
  position: absolute;
}
.tile.medium .template1 .text,
.tile.small .template1 .text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  box-shadow: -8px 0px 0px 0px #ffffff, 8px 0px 0px 0px #ffffff;
  -webkit-box-shadow: -8px 0px 0px 0px #ffffff, 8px 0px 0px 0px #ffffff;
  -moz-box-shadow: -8px 0px 0px 0px #ffffff, 8px 0px 0px 0px #ffffff;
}
.tile.small .template1 .tile_description {
  margin: 0px 12px 25px 7px;
}
.tile.small .template1 .tile_description .text:before {
  width: 32px;
  height: 18px;
  background-position: 6px -28px;
  right: -8px;
  bottom: -20px;
  border-top: 2px solid #fff;
}
.tile.medium .template1 .tile_description {
  margin: 0px 15px 7px 15px;
}
.tile.medium .template1 .tile_description .text:before {
  width: 52px;
  height: 30px;
  background-position: center 4px;
  right: -8px;
  top: -36px;
  border-bottom: 5px solid #fff;
}
.tile.big .template1 .tile_description {
  margin: 0px 12px 50px 17px;
}
.tile.big .template1 .tile_description .text {
  font-size: 18px;
  line-height: 25px;
  box-shadow: -8px 0px 0px 0px #ffffff, 8px 0px 0px 0px #ffffff;
  -webkit-box-shadow: -8px 0px 0px 0px #ffffff, 8px 0px 0px 0px #ffffff;
  -moz-box-shadow: -8px 0px 0px 0px #ffffff, 8px 0px 0px 0px #ffffff;
}

.tile.big .template1 .tile_description .text.slot2, .tile.medium.template1 .tile_description .text.slot2 {
  display:none;
}
.tile.small .template1 .tile_description .text.slot2 {
  display:none;
}
.tile.big .template1 .tile_description .text:before {
  width: 52px;
  height: 30px;
  background-position: center 3px;
  left: -8px;
  bottom: -40px;
  border-bottom: 5px solid #fff;
}

	.tile .template2 .tile_description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
}
.tile .template2 .tile_description .text {
  background: #ba0009;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.tile .template2 .tile_description .text:before, .tile .template2 .tile_description .text:after {
  background-repeat: no-repeat;
  background-color: none;
  content: '';
  position: absolute;
}

.tile.medium .template2 .text,
.tile.small .template2 .text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.tile.small .template2 .tile_description {
  margin-bottom:21px;
}
.tile.small .template2 .tile_description .text {
	font-size: 14px;
	line-height: 14px;
	display: block;
	width: 146px;
	padding: 4px 6px 5px;
	z-index: 100;
	margin-top: 20px;
	font-weight:bold
}
.tile.small .template2 .tile_description .text:before {
	width: 158px;
	height: 45px;
	bottom: -60px;
}

.tile.small .template2 .tile_description .text:before {
	width: 158px;
	height: 21px;
	z-index: 1;
	left: 0;
	bottom: -21px;
	background-image: url('/storageFiles/44.png');
}

.tile.small .template2 .tile_description .text:after {
	width: 158px;
	height: 20px;
	top: 0px;
	left: 0;
	background-image: url('/storageFiles/45.png');
}
.tile.small .template2 .text {
	background: url('/storageFiles/41.jpg') top left no-repeat;
}




.tile.medium .template2 .tile_description {
  margin-bottom:40px;
}
.tile.medium .template2 .tile_description .text {
	font-size: 18px;
	line-height: 19px;
	display: block;
	width: 306px;
	padding: 7px 10px 10px;
	z-index: 100;
	margin-top: 20px;
	font-weight:bold
}
.tile.medium .template2 .tile_description .text:before {
	width: 326px;
	height: 60px;
	bottom: -60px;
}

.tile.medium .template2 .tile_description .text:before {
	width: 326px;
	height: 40px;
	z-index: 1;
	left: 0;
	bottom: -40px;
	background-image: url('/storageFiles/42.png');
}

.tile.medium .template2 .tile_description .text:after {
	width: 326px;
	height: 20px;
	top: 0px;
	left: 0;
	background-image: url('/storageFiles/43.png');
}

.tile.medium .template2 .text, .tile.big .template2 .text {
	background: url('/storageFiles/41.jpg') top left no-repeat;
}

.tile.big .template2 .tile_description {
	margin-bottom: 40px;
}
.tile.big .template2 .tile_description .text {
	font-size: 20px;
	line-height: 21px;
	display: block;
	width: 306px;
	padding: 7px 10px 10px;
	z-index: 100;
	margin-top: 20px;
	font-weight:bold
}

.tile.big .template2 .tile_description .text:before {
width: 326px;
height: 40px;
z-index: 1;
left:0;
bottom: -40px;
background-image: url('/storageFiles/42.png');
}

.tile.big .template2 .tile_description .text:after {
width: 326px;
height: 132px;
top: 0px;
left: 0;
background-image: url('/storageFiles/43.png');
}

.tile.big .template2 .tile_description .text.slot2, .tile.medium .template2 .tile_description .text.slot2, .tile.small .template2 .tile_description .text.slot2 {
  display:none;
}
.tile .template3 .tile_description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
  /*background: url('/i/design/tiles/template2.png') no-repeat;*/
}
.tile .template3 .tile_description .text {
  color: #fff;
  font-family: 'Roboto', sans-serif;
display:none
}
.tile .medium .template3 .text,
.tile .big .template3 .text {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.tile .medium .template3 .tile_description,
.tile .big .template3 .tile_description {
  background-position: 0px 0px;
  width: 302px;
  height: 80px;
  padding: 33px 11px 10px 11px;
}
.tile .small .template3 .text {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}
.tile .small .template3 .tile_description {
  background-position: 0px -125px;
  width: 136px;
  height: 53px;
  padding: 31px 10px 21px 10px;
}
.tile .template4 .tile_description {
		  position: absolute;
		  bottom: 0px;
		  left: 0px;
		  display: inline-block;
		}
		.tile .template4 .tile_description .text {
		  background: #fff;
		  font-family: 'Roboto', sans-serif;
		  font-weight: 500;
		  color: #000;
		}
		.tile .template4 .tile_description .text:before {
		  background-image: url('/storageFiles/21.png');
		  background-repeat: no-repeat;
		  background-color: #ffffff;
		  content: '';
		  position: absolute;
		}
		
		.tile.small .template4 .tile_description {
		  margin-bottom: 16px;
		}
		
		.tile.medium .template4 .tile_description {
		  margin-bottom:16px;
		}
		
		.tile.big .template4 .tile_description {
		  bottom: 30px;
		}
		.tile.big .template4 .tile_description .text, .tile.medium.template4 .tile_description .text {
		  font-size: 18px;
		  line-height: 22px;
		}

		
		.tile.big .template4 .tile_description .text.slot1, .tile.medium .template4 .tile_description .text.slot1, .tile.small .template4 .tile_description .text.slot1 {
			background-color:#f79c05;
			color:#000;
			display:block;
			overflow:hidden;
			font-weight:bold
		}
		
		.tile.big .template4 .tile_description .text.slot2, .tile.medium .template4 .tile_description .text.slot2, .tile.small .template4 .tile_description .text.slot2 {
			background-color:#ab010a;
background: url(' /storageFiles/46.jpg') left top no-repeat;
			color:#fff;
			display:block;
			overflow:hidden;
			font-weight:bold
		}
		
		.tile.big .template4 .tile_description .text.slot1, .tile.medium .template4 .tile_description .text.slot1 {
			width:249px;
			padding:3px 9px 4px;
			overflow:hidden;
			line-height:19px;
font-size:18px
		}
		
		.tile.big .template4 .tile_description .text.slot2, .tile.medium .template4 .tile_description .text.slot2 {
			width:259px;
			padding:4px 8px 5px;
			margin-left:55px;
			overflow:hidden;
			font-size:21px;
line-height:20px
		}
		
		.tile.small .template4 .tile_description .text.slot1 {
			font-size: 13px;
			line-height: 14px;
			padding: 2px 5px;
			width: 112px;
		}
		
		.tile.small .template4 .tile_description .text.slot2 {
			font-size: 15px;
			line-height: 16px;
			padding: 1px 5px 2px 6px;
			width: 125px;
			margin-left: 21px;
		}


.tile .template5 .tile_description {
  position: absolute;
  bottom: 0px;
  left: 7px;
  display: inline-block;
}
.tile .template5 .tile_description .text {

  /*background: #fff;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  color: #000;
}

.tile.small .template5 .tile_description {
  margin-bottom: 16px;
}

.tile.medium .template5 .tile_description {
  margin-bottom:16px;
}

.tile.big .template5 .tile_description {
  bottom: 30px;
}

.tile.big .template5 .tile_description .text, .tile.medium .template5 .tile_description .text, .tile.small .template5 .tile_description .text {
  padding: 0px 0px 3px;
  /*background-color:#ba0109;*/
  color:#fff;
  font-weight:bold;
  font-family: 'Roboto Condensed', sans-serif;

}
.tile.small .template5 .tile_description .text {
	font-size: 21px;
line-height: 21px;
padding: 0px;
}		
.tile.medium .template5 .tile_description .text {
	font-size:24px;
line-height:24px
}
.tile.big .template5 .tile_description .text {
	font-size:28px;
line-height:28px
}

.tile.big .template5 .tile_description .bg-color {
	background-color:#ba0109;
	padding:8px 0 0px;
}

.tile.medium .template5 .tile_description .bg-color {
	background-color:#ba0109;
	padding:6px 0 0px;
}

.tile.small .template5 .tile_description .bg-color {
	background-color:#ba0109;
	padding:2px 0 0px;
}

.tile.big .template5 .tile_description .bg-color, .tile.medium .template5 .tile_description .bg-color, .tile.small .template5 .tile_description .bg-color {
	box-shadow: -7px 0px 0px 0px #ba0109, 7px 0px 0px 0px #ba0109;
	-webkit-box-shadow: -7px 0px 0px 0px #ba0109, 7px 0px 0px 0px #ba0109;
	-moz-box-shadow: -7px 0px 0px 0px #ba0109, 7px 0px 0px 0px #ba0109;
}

.tile.big .template5 .tile_description .text.slot1, .tile.medium .template5 .tile_description .text.slot1, .tile.small .template5 .tile_description .text.slot1 {
	overflow:hidden;
}

.tile.big .template5 .tile_description .text.slot2, .tile.medium .template5 .tile_description .text.slot2, .tile.small .template5 .tile_description .text.slot2 {
	display:none;
}


.tile .template6 .tile_description {
  position: absolute;
  bottom: 0px;
  left: 12px;
  display: inline-block;
}
.tile .template6 .tile_description .text {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000;
}

.tile.small .template6 .tile_description {
  margin-bottom: 16px;
}

.tile.medium .template6 .tile_description {
  margin-bottom:16px;
}

.tile.big .template6 .tile_description {
  bottom: 30px;
}

.tile.big .template6 .tile_description .text, .tile.medium .template6 .tile_description .text, .tile.small .template6 .tile_description .text {
  background-color:#ff9b00;
  color:#000;
  font-family: 'Roboto', sans-serif;
}

.tile.big .template6 .tile_description .text, .tile.medium .template6 .tile_description .text {	
	padding:0 0 1px;
	box-shadow: -5px 0px 0px 0px #ff9b00, 5px 0px 0px 0px #ff9b00, -12px 0px 0px 0px #ba0009;
	-webkit-box-shadow: -5px 0px 0px 0px #ff9b00, 5px 0px 0px 0px #ff9b00, -12px 0px 0px 0px #ba0009;
	-moz-box-shadow: -5px 0px 0px 0px #ff9b00, 5px 0px 0px 0px #ff9b00, -12px 0px 0px 0px #ba0009;
}
.tile.small .template6 .tile_description .text {
	font-size: 16px;
	display: block;
	padding: 0px 6px 2px;
	width: 146px;
	margin-left: -14px;
line-height:19px
}		
.tile.medium .template6 .tile_description .text {
	font-size:16px;
	line-height:23px;
}
.tile.big .template6 .tile_description .text {
	font-size:18px;
	line-height:26px;
}

.tile.big .template6 .tile_description .text.slot1, .tile.medium .template6 .tile_description .text.slot1, .tile.small .template6 .tile_description .text.slot1 {
	overflow:hidden;
}

.tile.big .template6 .tile_description .text.slot2, .tile.medium .template6 .tile_description .text.slot2, .tile.small .template6 .tile_description .text.slot2 {
	display:none;
}


.tile .template7 .tile_description {
  position: absolute;
  bottom: 0px;
  left: 15px;
  display: inline-block;
}
.tile .template7 .tile_description .text {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000;
}

.tile.small .template7 .tile_description {
  margin-bottom: 10px;
}

.tile.medium .template7 .tile_description {
  	top:10px;
	left:10px
}

.tile.big .template7 .tile_description {
  bottom: 20px;
}

.tile.big .template7 .tile_description .text, .tile.medium .template7 .tile_description .text, .tile.small .template7 .tile_description .text {
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 1);
}

.tile.small .template7 .tile_description {
	left:7px
}
.tile.small .template7 .tile_description .text {
	font-size: 23px;
	line-height: 20px
}		

.tile.medium .template7 .tile_description .text {
	font-size:26px;
	line-height:26px;
}
.tile.big .template7 .tile_description .text {
	font-size:40px;
	line-height:32px;
	
}

.tile.big .template7 .tile_description .text.slot1, .tile.medium .template7 .tile_description .text.slot1, .tile.small .template7 .tile_description .text.slot1 {
	overflow:hidden;
}

.tile.big .template7 .tile_description .text.slot2, .tile.medium .template7 .tile_description .text.slot2, .tile.small .template7 .tile_description .text.slot2 {
	display:none;
}



		.tile .template8 .tile_description {
		  position: absolute;
		  bottom: 0px;
		  left: 0px;
		  display: inline-block;
		}
		.tile .template8 .tile_description .text {
		  background: #fff;
		  font-family: 'Roboto Condensed', sans-serif;
		  font-weight: 500;
		  color: #000;
		}
		.tile .template8 .tile_description .text:before {
		  background-image: url('/storageFiles/21.png');
		  background-repeat: no-repeat;
		  background-color: #ffffff;
		  content: '';
		  position: absolute;
		}
		
		.tile.small .template8 .tile_description {
		  margin-bottom: 16px;
		}
		
		.tile.medium .template8 .tile_description {
		  margin-bottom:16px;
		}
		
		.tile.big .template8 .tile_description {
		  bottom: 30px;
		}
		.tile.big .template8 .tile_description .text {
		  font-size: 18px;
		}

		
		.tile.big .template8 .tile_description .text.slot1, .tile.medium .template8 .tile_description .text.slot1, .tile.small .template8 .tile_description .text.slot1 {
			background-color:#fff;
			border-top:1px solid #ccc;
			border-bottom:1px solid #ccc;
			color:#000;
			display:block;
			overflow:hidden;
			font-weight:bold;
			text-transform:uppercase
		}
		
		 .tile.small .template8 .tile_description .text.slot1 {
			border-top:1px solid #000;
			border-bottom:1px solid #000
		 }
		
		.tile.big .template8 .tile_description .text.slot2, .tile.medium .template8 .tile_description .text.slot2, .tile.small .template8 .tile_description .text.slot2 {
			background: url('/storageFiles/25.png') top left repeat;
			color:#fff;
			display:block;
			overflow:hidden;
			font-weight:bold
		}
		
		.tile.big .template8 .tile_description .text.slot1 {
			/*width:249px;*/
			overflow:hidden;
			line-height:26px;
			font-size:26px;
			padding:1px 9px;
		}
		
		.tile.medium .template8 .tile_description .text.slot1 {
			/*width:249px;*/
			font-size:26px;
			padding:1px 9px;
			overflow:hidden;
			line-height:26px;
		}
		
		.tile.big .template8 .tile_description .text.slot2 {
			width:259px;
			padding:2px 8px 4px;
			margin-left:51px;
			overflow:hidden;
			font-size:21px;
		    line-height: 22px;
		}
		
		.tile.medium .template8 .tile_description .text.slot2 {
			width:259px;
			padding:2px 8px 4px;
			margin-left:51px;
			overflow:hidden;
			font-size:21px;
		    line-height: 22px;
		}
		
		.tile.small .template8 .tile_description .text.slot1 {
			font-size: 16px;
			line-height: 14px;
			padding: 3px 5px;
			/*width: 112px;*/
		}
		
		.tile.small .template8 .tile_description .text.slot2 {
			font-size: 14px;
			line-height: 16px;
			padding: 2px 5px 3px 6px;
			width: 124px;
			margin-left: 21px;
		}



	.tile .template9 .tile_description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
}
.tile .template9 .tile_description .text {
  background: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #ba0009;
}
.tile .template9 .tile_description .text:before, .tile .template9 .tile_description .text:after {

  background-repeat: no-repeat;
  background-color: none;
  content: '';
  position: absolute;
}

.tile.medium .template9 .text,
.tile.small .template9 .text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /*box-shadow: -9px 0px 0px 0px #ffffff, 9px 0px 0px 0px #ffffff;
  -webkit-box-shadow: -9px 0px 0px 0px #ffffff, 9px 0px 0px 0px #ffffff;
  -moz-box-shadow: -9px 0px 0px 0px #ffffff, 9px 0px 0px 0px #ffffff;*/
}

.tile.small .template9 .tile_description {
  margin-bottom:42px;
}
.tile.small .template9 .tile_description .text {
	font-size: 14px;
	line-height: 14px;
	display: block;
	width: 148px;
	padding: 3px 5px;
	z-index: 100;
	margin-top: 38px;
}
.tile.small .template9 .tile_description .text:before {
	width: 158px;
	height: 45px;
	background-position: center 3px;
	bottom: -60px;
}

.tile.small .template9 .tile_description .text:before {
	width: 158px;
	height: 45px;
	z-index: 1;
	left: 0;
	bottom: -42px;
	background-image: url('/storageFiles/28.png');
}

.tile.small .template9 .tile_description .text:after {
	width: 158px;
	height: 38px;
	top: 0px;
	left: 0;
	background-image: url('/storageFiles/29.png');
}

.tile.medium .template9 .tile_description {
  margin-bottom:42px;
}
.tile.medium .template9 .tile_description .text {
	font-size: 21px;
	line-height: 22px;
	display: block;
	width: 306px;
	padding: 0 10px 7px;
	z-index: 100;
	margin-top: 128px;
}
.tile.medium .template9 .tile_description .text:before {
	width: 326px;
	height: 60px;
	background-position: center 3px;
	bottom: -60px;
}

.tile.medium .template9 .tile_description .text:before {
	width: 326px;
	height: 42px;
	z-index: 1;
	left: 0;
	bottom: -39px;
	background-image: url('/storageFiles/26.png');
}

.tile.medium .template9 .tile_description .text:after {
	width: 326px;
	height: 132px;
	top: 0px;
	left: 0;
	background-image: url('/storageFiles/27.png');
}


.tile.big .template9 .tile_description {
	margin-bottom: 60px;
}
.tile.big .template9 .tile_description .text {
	font-size: 21px;
	line-height: 22px;
	display: block;
	width: 306px;
	padding: 0 10px 8px;
	z-index: 100;
	margin-top: 128px;
}

.tile.big .template9 .tile_description .text:before {
width: 326px;
height: 60px;
z-index: 1;
left:-20px;
bottom: -60px;
background-image: url('/storageFiles/26.png');
}

.tile.big .template9 .tile_description .text:after {
width: 326px;
height: 132px;
top: 0px;
left: 0;
background-image: url('/storageFiles/27.png');
}

.tile.big .template9 .tile_description .text.slot2, .tile.medium .template9 .tile_description .text.slot2, .tile.small .template9 .tile_description .text.slot2 {
  display:none;
}



	.tile .template10 .tile_description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
}
.tile .template10 .tile_description .text {
  background: #ba0009;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.tile .template10 .tile_description .text:before, .tile .template10 .tile_description .text:after {
  background-repeat: no-repeat;
  background-color: none;
  content: '';
  position: absolute;
}

.tile.medium .template10 .text,
.tile.small .template10 .text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.tile.small .template10 .tile_description {
  margin-bottom:23px;
}
.tile.small .template10 .tile_description .text {
	font-size: 14px;
	line-height: 14px;
	display: block;
	width: 148px;
	padding: 4px 5px;
	z-index: 100;
	margin-top: 23px;
	font-weight:bold
}
.tile.small .template10 .tile_description .text:before {
	width: 158px;
	height: 45px;
	background-position: center 3px;
	bottom: -60px;
}

.tile.small .template10 .tile_description .text:before {
	width: 158px;
	height: 21px;
	z-index: 1;
	left: 0;
	bottom: -18px;
	background-image: url('/storageFiles/32.png');
}

.tile.small .template10 .tile_description .text:after {
	width: 158px;
	height: 23px;
	top: 0px;
	left: 0;
	background-image: url('/storageFiles/33.png');
}
.tile.small .template10 .text {
	background: url('/storageFiles/35.jpg') top left no-repeat;
}




.tile.medium .template10 .tile_description {
  margin-bottom:42px;
}
.tile.medium .template10 .tile_description .text {
	font-size: 18px;
	line-height: 19px;
	display: block;
	width: 306px;
	padding: 4px 10px 5px;
	z-index: 100;
	margin-top: 23px;
	font-weight:bold
}
.tile.medium .template10 .tile_description .text:before {
	width: 326px;
	height: 60px;
	background-position: center 3px;
	bottom: -60px;
}

.tile.medium .template10 .tile_description .text:before {
	width: 326px;
	height: 33px;
	z-index: 1;
	left: 0;
	bottom: -30px;
	background-image: url('/storageFiles/30.png');
}

.tile.medium .template10 .tile_description .text:after {
	width: 326px;
	height: 23px;
	top: 0px;
	left: 0;
	background-image: url('/storageFiles/31.png');
}

.tile.medium .template10 .text, .tile.big .template10 .text {
	background: url('/storageFiles/34.jpg') top left no-repeat;
}

.tile.big .template10 .tile_description {
	margin-bottom: 40px;
}
.tile.big .template10 .tile_description .text {
	font-size: 20px;
	line-height: 21px;
	display: block;
	width: 306px;
	padding: 3px 10px 6px;
	z-index: 100;
	margin-top: 23px;
	font-weight:bold
}

.tile.big .template10 .tile_description .text:before {
width: 326px;
height: 33px;
z-index: 1;
left:0;
bottom: -33px;
background-image: url('/storageFiles/30.png');
}

.tile.big .template10 .tile_description .text:after {
width: 326px;
height: 132px;
top: 0px;
left: 0;
background-image: url('/storageFiles/31.png');
}

.tile.big .template10 .tile_description .text.slot2, .tile.medium .template10 .tile_description .text.slot2, .tile.small .template10 .tile_description .text.slot2 {
  display:none;
}
