/*清除 clearfix*/
.clearfix:after{ clear:both; display:block; height:0px; content:"."; visibility: hidden;}
.clearfix {*zoom: 1; _zoom: 1;}

/*熱門影音 .etvideo_collect_2==========*/
.etvideo_collect_2{ clear:both; width:980px; margin:0px auto 15px auto;}
.etvideo_collect_2 *{ padding:0; margin:0; -moz-box-sizing:border-box; -webkit-box-sizing: border-box; box-sizing:border-box;}
.etvideo_collect_2 h2.title{ height:25px; line-height:25px; color:#fff; font-size:15px; text-align:center; border-radius:3px 3px 0px 0px;
background:-webkit-linear-gradient(top, #106099, #044674);
background:-moz-linear-gradient(top, #106099, #044674);
background:linear-gradient(top, #106099, #044674);
background-color:#106099;}
/*內容*/
.etvideo_collect_2 .content{ clear:both; height:125px; background:#fff; border:1px solid #1d699f; padding:10px 0px; overflow:hidden;}
.etvideo_collect_2 .content .piece:first-of-type{ margin-left:17px;}
.etvideo_collect_2 .content .piece{ text-align:center; float:left; margin-bottom:15px; position:relative;}
.etvideo_collect_2 .content .piece > a{ display:block; width:180px; height:101px; background:#eee;}
.etvideo_collect_2 .content .piece:not(:last-of-type) a{ margin-right:10px;}
.etvideo_collect_2 .content .piece > a::after{ display:block; width:50px; height:35px; background:url(../images/et_media-play.svg) no-repeat; content:""; opacity:0.85; position:absolute; top:-30px; right:0px; bottom:0px; left:0px; margin:auto;/*置中*/}
.etvideo_collect_2 .content .piece img.pic{ display:inline-block; width:auto; height:100%;}
.etvideo_collect_2 .content .piece h3.title{ width:180px; background:rgba(0,0,0,0.8); font-size:13px; text-align:left; padding:5px 10px; overflow:hidden; position:absolute; left:0px; bottom:0px;}
/*連結狀態*/
.etvideo_collect_2 .content .piece a:link, .etvideo_collect_2 .content .piece a:visited { color:#fff; text-decoration:none;}
.etvideo_collect_2 .content .piece a:hover, .etvideo_collect_2 .content .piece a:active { color:#999;}

/*圖文原生廣告 .ad_pictxt_1 =====*/
.etvideo_collect_2 .content .piece .ad_pictxt_1{ width:180px; height:101px; text-align:center; margin-right:10px; position:relative;}

.etvideo_collect_2 .content .piece .ad_pictxt_1 a.pic{ display:block; width:180px; height:101px; background:#eee;}
.etvideo_collect_2 .content .piece .ad_pictxt_1 a.pic::after{ display:block; width:50px; height:35px; background:url(../images/et_media-play.svg) no-repeat; content:""; opacity:0.85; position:absolute; top:-30px; right:0px; bottom:0px; left:0px; margin:auto;/*置中*/}
.etvideo_collect_2 .content .piece .ad_pictxt_1 a.pic img{ display:inline-block; width:auto; height:100%;}
.etvideo_collect_2 .content .piece .ad_pictxt_1 h3{ width:100%; background:rgba(0,0,0,0.8); font-size:13px; text-align:left; padding:5px 10px; overflow:hidden; position:absolute; left:0px; bottom:0px;}
.etvideo_collect_2 .content .piece .ad_pictxt_1 span.date{ display:none;}
.etvideo_collect_2 .content .piece .ad_pictxt_1 span.tag{ display:none;}
/*連結狀態*/
.etvideo_collect_2 .content .piece .ad_pictxt_1 h3 a:link, .etvideo_collect_2 .content .piece .ad_pictxt_1 h3 a:visited{ color:#fff; text-decoration:none;}
.etvideo_collect_2 .content .piece .ad_pictxt_1 h3 a:hover, .etvideo_collect_2 .content .piece .ad_pictxt_1 h3 a:active{ color:#999;}