/* 影音圖集 .etvideo_collect_1===================*/
/*外掛歸零====*/
.etvideo_collect_1 .bx-wrapper{ margin:0 auto;}
.etvideo_collect_1 .bx-wrapper .bx-viewport{ border:none; box-shadow:none; left:0px;}
/*樣式=========*/
.etvideo_collect_1{ width:938px; height:0px; min-height:60px; background:#fff; border:1px solid #777; padding:10px 20px; overflow:hidden; position:fixed; left:50%; bottom:-200px; z-index:20;
-webkit-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-ms-transform:translateX(-50%);
-o-transform:translateX(-50%);
transform:translateX(-50%);}
.etvideo_collect_1 *{ padding:0; margin:0; -moz-box-sizing:border-box; -webkit-box-sizing: border-box; box-sizing:border-box;}
/*CSS:先隱藏圖片，JS:圖集load之後再show(修正會閃圖:先看到第一張圖再看到random的圖)*/
.etvideo_collect_1 img{ display:none; width:100%; height:auto;}
/*左右箭頭*/
.etvideo_collect_1 .bx-wrapper .bx-controls-direction a{ width:20px; height:80px; position: absolute; top:0px; margin-top:-10px;}
.etvideo_collect_1 .bx-wrapper .bx-controls-direction a.disabled{ display:block;}
.etvideo_collect_1 .bx-wrapper .bx-prev{ background:#fff url(../images/et_arrow.png) 0px center no-repeat; left:-20px;}
.etvideo_collect_1 .bx-wrapper .bx-next{ background:#fff url(../images/et_arrow.png) -20px center no-repeat; right:-19px;}
/*連結狀態*/
.etvideo_collect_1 .bx-wrapper .bx-prev:hover, .etvideo_collect_1 .bx-wrapper .bx-prev:active{ background-position: -40px center;}
.etvideo_collect_1 .bx-wrapper .bx-next:hover, .etvideo_collect_1 .bx-wrapper .bx-next:active{ background-position: -60px center;}

/*內容========*/
.etvideo_collect_1 .run .inner .piece{}
.etvideo_collect_1 .run .inner .piece > a{ display:block; height:59px;}
.etvideo_collect_1 .run .inner .piece .pic{ width:105px; height:59px; background:#ccc; text-align:center; float:left; margin-right:2px; position:relative;}
.etvideo_collect_1 .run .inner .piece .pic::after{ display:block; width:30px; height:21px; background:url(../images/et_media-play.svg) no-repeat; content:""; opacity:0.85; position:absolute; top:0px; right:0px; bottom:0px; left:0px; margin:auto;/*置中*/}
.etvideo_collect_1 .run .inner .piece .pic img{ display:inline-block; width:auto; height:100%;}
.etvideo_collect_1 .run .inner .piece h3.title{ display:table-cell; height:59px; font-size:13px; font-weight:normal; vertical-align:middle;/*垂直置中*/ }
/*連結狀態*/
.etvideo_collect_1 .run .inner .piece a:link, .etvideo_collect_1 .run .inner .piece a:visited{ color:#333; text-decoration:none;}
.etvideo_collect_1 .run .inner .piece a:hover, .etvideo_collect_1 .run .inner .piece h3 a:active{ text-decoration:underline;}

/*圖文原生廣告 .ad_pictxt_1=====*/
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1{}
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1 a.pic{ display:block; width:105px; height:59px; background:#ccc; text-align:center; float:left; margin-right:2px; position:relative;}
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1 a.pic::after{ display:block; width:30px; height:21px; background:url(../images/et_media-play.svg) no-repeat; content:""; opacity:0.85; position:absolute; top:0px; right:0px; bottom:0px; left:0px; margin:auto;/*置中*/}
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1 a.pic img{ display:inline-block; width:auto; height:100%;}
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1 h3{ display:table-cell; height:59px; font-size:13px; font-weight:normal; vertical-align:middle;/*垂直置中*/}
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1 span.date{ display:none;}
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1 span.tag{ display:none;}
/*連結狀態*/
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1 h3 a:link, .etvideo_collect_1 .run .inner .piece .ad_pictxt_1 h3 a:visited{ color:#333; text-decoration:none;}
.etvideo_collect_1 .run .inner .piece .ad_pictxt_1 h3 a:hover, .etvideo_collect_1 .run .inner .piece .ad_pictxt_1 h3 a:active{ text-decoration:underline;}

/*自定義 左右箭頭*/
.etvideo_collect_1 .operate{ width:970px; height:0px; position:absolute; left:3px; top:5px;}
.etvideo_collect_1 .operate a.prev{ display:block; width:20px; height:80px; background:#fff url(../images/et_arrow.png) 0px center no-repeat; left:-20px; float:left;}
.etvideo_collect_1 .operate a.next{ display:block; width:20px; height:80px; background:#fff url(../images/et_arrow.png) -20px center no-repeat; right:-19px; float:right;}

