@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input {
    margin: 0;
    padding: 0;
}
li { list-style-type: none; }
img { display: block; border: none; }

body {  background-color: rgb(30,30,30); color: rgb(130,130,130); text-align: center; font-family: 'Dosis', sans-serif; font-size: 13px; }

a {  text-decoration: none; transition: 0.2s; }

h1 { text-transform: capitalize; line-height: 30px; font-size: 26px; display: block; }
h2 { text-transform: capitalize; border-radius: 9px; margin: 0 0px 5px 0px; line-height: 30px; padding: 5px 0; font-size: 24px; display: block;  }

a, h1, .SHBotDesc span { color: rgb(210,210,210); }
a:hover { color: rgb(255,110,165); }

.SThCategoryTotalVideos, .SCTxTL a, .SCTxTL a:hover, .SNaviBlock span { color: rgb(130,130,130); }

.SHBotBlock { background-color: rgb(0,0,0); background: linear-gradient(to bottom,rgb(0,0,0),rgb(0,0,0)); }

.TopLineWrap, .STh, .SHFootBlock, .SNaviBlock a, .SHVidBlock_Desc span { background-color: rgb(0,0,0); }

.STh, .SNaviBlock a, .SNaviBlock span.PgsNum { border: 1px solid rgb(10,10,10); }
.STh:hover, .SNaviBlock a:hover { border-color: rgb(255,110,165);  }

.SHTopSearch form input.SHTopSearchButtonF, .SHBotBlock li a, h2, .SHFootName, .SHVidBlock_Desc a { background-color: rgb(210,210,210); background: linear-gradient(to bottom,rgb(230,230,230),rgb(190,190,190)); color: rgb(20,20,20); }
.SHTopSearch form input.SHTopSearchButtonF:hover,  .SHBotBlock li a:hover, .SHVidBlock_Desc a:hover, .SNaviBlock span.PgsNum { background-color: rgb(255,110,165); background: linear-gradient(to bottom,rgb(255,130,185),rgb(235,90,145)); color: rgb(20,20,20); }

.WrCont { min-width: 300px; width: 100%; }

.SHBlock { margin: 0 0 10px 0; }

.TopLineWrap { padding: 0 0 5px 0; }
.TopLine { margin: 0 auto; width: 99%; font-size: 0; overflow: hidden; }
.TopLineLeft { display: inline-block; vertical-align: top; padding-top: 5px; font-size: 14px; }
.TopLineLeft span { }
.TopLineLeft a {  margin: 0 0 0 5px; }
.TopLineLeft a:hover {  text-decoration: underline;  }

.SHTopSearch { display: inline-block; vertical-align: top; height: 25px; width: 200px; margin: 5px 0 0 5px; }
.SHTopSearch form { border-radius: 3px; display: block; height: 25px; line-height: 25px; width: 100%; overflow: hidden; }
.SHTopSearch form input { color: rgb(196,65,64); font-weight: bold; font-family: 'Titillium Web', sans-serif; height: 25px; line-height: 25px; border: none; text-align: center; display: block; float: left; }
.SHTopSearch form input.SHTopSearchTextF { text-align: left; background-color: rgb(255,255,255); border-radius: 3px 0 0 3px; width: 70%; }
.SHTopSearch form input.SHTopSearchButtonF { transition: 0.2s; cursor: pointer; border-radius: 0 3px 3px 0; width: 30%; }

.SHBotBlock { font-size: 0; margin: 10px auto; width: 99%; border-radius: 6px;  padding: 0 0 10px 0; }

.SHBotLogo { font-size: 12px; background-image: url(http://xxxindianfilms.com/images/xxxindianfilms.png); display: inline-block; vertical-align: top; margin: 10px 5px 0 5px; background-repeat: no-repeat; width: 260px; height: 70px; background-size: 260px 70px; }
.SHBotDesc { font-size: 12px; line-height: 15px; display: inline-block; vertical-align: top; margin: 10px 5px 0 5px; }
.SHBotDesc span { font-weight: bold; }
.SHBotBlock h1 { display: inline-block; vertical-align: middle; margin: 10px 5px 0 5px; font-size: 22px; line-height: 24px; }
.SHBotBlock ul { display: inline-block; vertical-align: top; }
.SHBotBlock li { display: inline-block; vertical-align: top; margin: 10px 5px 0 5px; height: 25px; line-height: 25px; width: 140px; }
.SHBotBlock li a { border-radius: 5px; font-weight: bold; font-size: 13px; display: block;  }

.SCBlock { width: 100%; }

.TpTtl { }

.SCThumbsBlock { font-size: 0; }

.STh { font-size: 12px; border-radius: 9px; margin: 2px 1px 0 1px; position: relative; transition: 0.2s; width: 250px; height: 205px; display: inline-block; vertical-align: top;  }
.STh a { display: block; }
.STh img { border-radius: 9px 9px 0 0; transition: 0.2s; background-color: rgba(255,255,255,0.1); display: block; width: 250px; height: 165px; }
.SThName { padding-left: 5px; text-align: left; font-size: 13px; text-transform: capitalize; font-weight: bold; height: 20px; line-height: 20px; display: block; overflow: hidden; }
.SThViews { padding-left: 5px; float: left; }
.SThDuration { padding-right: 5px; float: right; }

.SThCategory { height: 195px; }
.SThCategory .SThName { padding: 0; text-transform: uppercase; font-size: 15px; height: 30px; line-height: 30px; float: left; margin: 0 0 0 5px; }
.SThCategoryTotalVideos { float: right; height: 30px; line-height: 30px; font-size: 12px; margin: 0 5px 0 0; }

.SNaviBlock { clear: both; margin: 10px 0 0 0; }
.SNaviBlock ul { font-size: 0; display: block; }
.SNaviBlock li { font-size: 12px; font-weight: bold; display: inline-block; vertical-align: top; margin: 5px 3px 0 3px; height: 34px; line-height: 30px; }
.SNaviBlock a { border-radius: 6px; display: block; width: 30px; }
.SNaviBlock span.PgsNum { border-radius: 6px; display: block; width: 30px; }
.SNaviBlock a span.PgsNum { background: inherit; color: inherit; border: none; border-radius: 6px; }



.SCTxTL { margin: 15px 0 0 0; font-size: 0; }
.SCTxTL ul { font-size: 12px; display: inline-block; vertical-align: top; margin: 5px 0.5% 0 0.5%; width: 49%; }
.SCTxTL li { height: 25px; line-height: 25px; overflow: hidden; }
.SCTxTL a { font-weight: bold; font-size: 14px; display: block; }
.SCTxTL a:hover { text-decoration: underline; }

.SHVidBlock { min-width: 300px; width: 98%; margin: 0 1%; padding-bottom: 10px; }
.SHVidBlockL { text-align: left; margin: 10px 0 0 0; width: 100%; }
.SHVidBlockL h1 { display: block; vertical-align: top; font-size: 22px; line-height: 25px; margin: 0 0 5px 0; }
.player { background-color: rgb(0,0,0); width: 100%; height: 350px; position: relative; }
.player iframe { width: 100%; height: 100%; }
.player embed { width: 100% !important; height: 100% !important; }
.player object { width: 100% !important; height: 100% !important; }
#on_video { display: none; }
#on_video iframe { width: 300px !important; height: 250px !important; }

.SHVidBlockR {  }
.SHVidBlockR_Bn { background-color: rgba(0,0,0,0.1); display: inline-block; vertical-align: top; width: 300px; height: 250px; margin: 10px 3px 0 3px; }
.SHVidBlockR_Bn_2 { display: none; }
.SHVidBlockR_Bn_3 { display: none; }

.SHVidBlock_Desc { padding: 5px 0 0 0; margin: 0; }
.SHVidBlock_Desc ul { display: inline-block; vertical-align: top; }
.SHVidBlock_Desc li { font-size: 13px; text-transform: uppercase; display: inline-block; vertical-align: top; line-height: 25px; margin: 6px 5px 5px 5px; }
.SHVidBlock_Desc span { border-radius: 5px; margin-left: 5px; display: inline-block; padding: 0 10px; text-transform: capitalize; }
.SHVidBlock_Desc a { border-radius: 5px; font-weight: bold; text-transform: capitalize; display: block; padding: 0 10px; }

.SHVidBlockUndBn { width: 98%; margin: 0 auto 10px auto; max-width: 1200px; }
.SHVidBlockUndBn a { display: block; background: none !important; }
.SHVidBlockUndBn img { width: 100%; height: auto; max-height: 80px; }

.SAbnsBotBl { margin: 10px 0 0 0; }
.SAbnBot { background-color: rgba(0,0,0,0.1); display: inline-block; vertical-align: top; width: 300px; height: 250px; margin: 5px 3px 0 3px; }
.SAbnBot_2 { display: none; }
.SAbnBot_3 { display: none; }
.SAbnBot_4 { display: none; }

.SHFootBlock { margin: 20px 0 0 0; padding: 0 0 10px 0; clear: both; }
.SHFootName { font-weight: bold; display: inline-block; height: 20px; line-height: 20px; border-radius: 0 0 50% 50%; padding: 10px 40px; max-width: 220px; }




@media screen and (min-width: 630px) {
.SAbnBot_2 { display: inline-block; }
.SHVidBlockR_Bn_2 { display: inline-block; }
.player { height: 400px; }
#on_video { display: block; }
.SCTxTL ul { width: 32%; }
}

@media screen and (min-width: 710px) {
.player { height: 450px; }
}
    
@media screen and (min-width: 810px) {
.player { height: 500px; }
}


@media screen and (min-width: 940px) {
.SAbnBot_3 { display: inline-block; }
.player { height: 550px; }
.SHVidBlockR_Bn_3 { display: inline-block; }
}


@media screen and (min-width: 1020px) {
.TopLineLeft { float: left; }
.SHTopSearch { float: right; }

.SCBlock, .TopLine { width: 1016px; margin: 0 auto; }
.SHBotBlock { width: 1016px; }

.SHBotBlock { overflow: hidden; padding: 0; height: 70px; overflow: hidden; }
.SHBotLogo { float: left; margin: 0 5px 0 0; }
.SHBotDesc { float: left; width: 620px; height: 60px; font-size: 11px; overflow: hidden; text-align: left; margin: 5px 10px 5px 0; }
.SHBotBlock ul { float: right; width: 110px; }
.SHBotBlock li { width: 100px; margin: 7px 10px 0 0; }

.SHVidBlock { overflow: hidden; width: 1016px; margin: 0 auto; }
.SHVidBlockL { float: left; width: 680px; margin: 10px 0 0 0; }
.player { height: 510px; }
.SHVidBlockR { float: right; width: 300px; }
.SHVidBlockR_Bn { display: block; margin: 10px 0px 0 0px; }
.SHVidBlockR_Bn_2, .SHVidBlockR_Bn_3 { display: block; }
.SCTxTL ul { width: 15.6666%; }
.SCTxTL li { text-align: left; }
}

@media screen and (min-width: 1275px) {
.SCBlock, .TopLine { width: 1270px; }
.SHBotBlock { width: 1270px; }
.SHBotDesc { width: 820px; font-size: 13px; }
.SHBotBlock ul { width: 150px; }
.SHBotBlock li { width: 140px; }
.SAbnBot_4 { display: inline-block; }
.SHVidBlock { width: 1270px; }
.SHVidBlockL { width: 930px; }
.SCTxTL ul { font-size: 13px; }
}

.TopLineWrap, .SHBotBlock { display: none; }
.STh { border-width: 0; margin: 1% 0.5% 0 0.5%; width: 98%; height: auto; padding-bottom: 3px; }
.STh img { width: 100%; height: auto; }
.SThCategory { height: auto; }

.MobBbL { text-align: center; }
.MobB { display: inline-block; vertical-align: top; margin: 10px 5px 0 5px; }

@media screen and (min-width: 400px) {
.STh { width: 49%; }
}

@media screen and (min-width: 600px) {
.STh { width: 32%; }
}

@media screen and (min-width: 800px) {
.STh { width: 24%; }
}

@media screen and (min-width: 1020px) {
.MobBbL { display: none; }
.TopLineWrap, .SHBotBlock { display: block; }
.STh { margin: 2px 1px 0 1px; width: 250px; height: 205px; border-width: 1px; padding-bottom: 0; }
.STh img { width: 250px; height: 165px; }
.SThCategory { height: 190px; }
}

                                