@charset "utf-8";

/* minicart ltr : start */
.cart-list-wrap{display:none;position:absolute;z-index:1020;right:40px;top:0;width:340px;height:auto;padding:0;background:#fff;cursor:default;text-align:left;font-weight:normal}
.cart-list-wrap h3{padding:20px;font-size:20px;color:#fff;background:#5a5a5a}
.cart-list-wrap .cart-close{position:absolute;right:18px;top:20px;color:#fff; font-size:28px; }
.on .cart-list-wrap{display:block}
.on .cart-list-wrap .cart-list{max-height:528px;overflow:hidden;overflow-y:scroll}
.cart-products{overflow:hidden;*zoom:1;background:#fff;display:table;padding:20px 0;position:relative;height:auto;color:#292929;width:100%;border-bottom:1px solid #f1f1f1}
.product-image{width:35%}
.product-btn{width:6%}
.product-desc{width:59%}
.product-image img{margin-left:0}
.vertical-align-content{display:table-cell;vertical-align:middle;background:#fff}
.vertical-align-top{display:table-cell;vertical-align:top}
.product-btn{padding:5px}
.icon-close-x{display:block;height:21px;width:21px;background:url(/master/common/img/btn-close.png) no-repeat;}
.product-image{display:table-cell;text-align:center}
.product-desc{display:table-cell;line-height:1;white-space:normal}
.colour-selection{display:block;padding:0 0 5px;border-bottom:none;border-top:none;font-size:1rem;font-size:16px}
.product-desc .product-title{padding-right:10px;display:table-cell}
.product-desc .product-title a{padding:0;border:0}
.product-desc .product-title a{padding:0;border:0}
.product-desc .product-title .product-title-label{display:block;overflow:hidden;min-height:34px;width:100%;white-space:pre-wrap;word-break:break-word;font-weight:700}
.product-desc .product-title .product-title-code{display:block;margin-top:5px;margin-bottom:5px;font-size:.75rem;font-size:12px}
.colour-selection{overflow:hidden;padding-top:5px}
.colour-selection span{float:left;vertical-align:middle;font-size:14px}
.colour-selection ul{display:table-cell;overflow:hidden;*zoom:1;vertical-align:middle;float:right}
.colour-selection ul li .colour-box{display:inline-block;float:left;width:14px;height:14px;margin-right:6px}
.product-quantity{overflow:hidden;display:block;padding-top:5px}
.product-quantity span{float:left;margin-right:10px;font-size:.9rem;font-size:14px;vertical-align:middle}
.product-quantity span.product-quantity-label{float:right;margin-right:10px;font-size:.9rem;font-size:14px;vertical-align:middle;color:#0071bf}
.product-price{overflow:hidden;padding-top:4px;width:100%;display:block}
.product-price span{float:left;line-height:30px;font-size:14px}
.product-price span+span{float:right;vertical-align:middle;color:#0071bf;letter-spacing:0;font-size:26px}
.total{overflow:hidden;padding:16px 16px 26px;color:#292929;background:#5a5a5a}
.total .btn{position:relative;float:left;overflow:hidden;height:38px;width:100%}
.total .price{overflow:hidden;margin:0 0 26px;color:#fff}
.total .price strong{float:left;padding:0;text-transform:none;font-size:1.45rem;font-size:24px}
.total .price span{float:right;padding:0;margin:0;display:inline-block;font-weight:700;vertical-align:middle;color:#fff;font-size:1.45rem;font-size:24px;letter-spacing:0}
.cart-products.no-data{text-align:center;padding:33px 0}
.cartnum{position:absolute;top:4px;right:2px;padding:1px 0;width:20px;letter-spacing:0;line-height:1.1;background:#de3d04;font-size:11px;font-family:tahoma;color:#fff!important;border-radius:7px;text-align:center}
.cart-list-wrap .ss-button{position:absolute;display:inline-block;font-weight:400;color:#fff;line-height:38px;text-transform:uppercase;text-decoration:none;transition:all .3s ease 0;-moz-transition:all .3s ease 0;-webkit-transition:all .3s ease 0;text-align:center;cursor:pointer;left:0;top:0;width:100%;height:38px;font-size:10px;font-weight:bold}
.cart-list-wrap .ss-button.darkblue{background:none repeat scroll 0 0 #1428a0;color:#fff}
.cart-list-wrap .ss-button.darkblue:hover{text-decoration:none;background-color:#292929}

@media(max-width: 1024px){
.cart-list-wrap{right:20px}
.cart-list-wrap{width:100%;top:50px;right:0}
}

/* minicart ltr : end */

 /*********************************************get sign.css*********************************************/
#sign_wrap img{vertical-align:middle}
#sign_wrap legend,hr{display:none}
#sign_wrap legend{position:absolute;top:0;left:0;width:0;height:0;display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
#sign_wrap input,select,textarea{font-size:100%;color:#707070;}
#sign_wrap button{border:0 none;background:transparent}
#sign_wrap caption{font-size:0;line-height:0;width:0;height:0;text-indent:-1000px;overflow:hidden}
#sign_wrap .layer_popup a,.layer_popup a:link,.layer_popup a:visited{text-decoration:none}
#sign_wrap a:hover,#sign_wrap a:active{text-decoration:none}
#sign_wrap a:focus{text-decoration:none}
#sign_wrap *{font-weight:normal}
#sign_wrap input[readonly="readonly"]{color:#999;cursor:default}
#sign_wrap .layer_popup{font-size:.75em;color:#747474}
#sign_wrap .mgt5{margin-top:5px!important}
#sign_wrap .mgt10{margin-top:10px!important}
#sign_wrap .mgt15{margin-top:15px!important}
#sign_wrap .ac{text-align:center!important}
#sign_wrap .al{text-align:left!important}
html.ltr .ss_samsung .sign-inner-wrap input[type="checkbox"]{left:-9999em;position:absolute}
html.ltr .ss_samsung .sign-inner-wrap input[type="checkbox"]+label{float:left}
.ss_samsung .sign-inner-wrap input[type="checkbox"]+label{clear:none;cursor:pointer;line-height:20px!important}
html.ltr .ss_samsung .sign-inner-wrap input[type="checkbox"]+label:before,html.ltr .ss_samsung .sign-inner-wrap .input [type="checkbox"].placeholder+label:before{float:left}
html.ltr .ss_samsung .sign-inner-wrap input[type="checkbox"]+label:before{margin-right:10px}
.ss_samsung .sign-inner-wrap input[type="checkbox"]+label:before{width:20px!important;height:20px!important;background:#a6a8aa;content:""}
.ss_samsung .sign-inner-wrap input[type="checkbox"]:checked+label:before{background:#0071bf;font-family:"samsungIcon";content:"\e003";color:#fff;font-size:10px;font-size:1rem;text-align:center;line-height:26px;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1}
.ss_samsung form:not(#foo)>fieldset input[type="checkbox"]:checked+label:before{font-size:.8em}
.layer_popup{z-index:9990;display:none}
.layer_popup+.lightbox-skrim{display:none;z-index:8999}
.ss_samsung #sign_wrap .input{padding:0}
.layer_popup #popup_signin_all .sign-inner-wrap .popup_cont .sign_content .signin .member_wrap .email .remember_email_check .jqTransformCheckboxWrapper .jqTransformCheckbox,.layer_popup #popup_sign .popup_cont .member_wrap .email .remember_email_check .jqTransformCheckboxWrapper .jqTransformCheckbox{width:16px;height:16px;background:url(http://store.samsung.com/_ui/desktop/common/images/form/bg_checkbox.gif) no-repeat 0 0;display:inline-block;text-indent:-2000px}
.layer_popup #popup_signin_all .popup_cont .order_num .input .input_wrap input{width:420px;height:18px;padding:3px 0 0 10px;margin-top:3px}
#popup_sign{position:absolute;z-index:9999;display:block}
.ss_samsung button.btnType01{margin:15px 10px;border:1px solid #ccc;border-radius:5px;background:#f1f2f4;padding:10px}
.ss_samsung .error,.ss_samsung p.error{margin-bottom:0;font-size:1.12em}
.ss_samsung #sign_wrap .input input,.ss_samsung #sign_wrap .input .placeholder{font-size:16px}
#sign_wrap .jqTransformHidden{display:none}
#sign_wrap .jqTransformInputWrapper{height:20px;background:#f1f1f1!important}

/* common popup */
/* layer_popup default */
.layer_popup sup{color:#c13b00;vertical-align:top;padding-left:3px}
.ss_samsung.sign #content{padding-top:50px;padding-bottom:50px}
@media (max-width:768px) {.ss_samsung.sign #content{padding-top:0;padding-bottom:0} }
.layer_popup .sign-inner-wrap{position:relative;padding:30px 20px 0}
.layer_popup .sign-inner-wrap .popup_title{color:#333;font-size:20px;font-weight:normal;line-height:20px}
.layer_popup .sign-inner-wrap .close{position:absolute;top:10px;right:10px;padding:10px}
.layer_popup .sign-inner-wrap .close-button{position:absolute;right:30px;top:30px;font-size:28px;color:#292929}
@media (min-width:48em) {.layer_popup .sign-inner-wrap .close-button{right:30px;top:30px;font-size:28px; } }

/* popup_sign and common */
.layer_popup #sign_wrap{position:absolute;z-index:9000;width:500px;color:#292929;left:50%;top:50%;margin:-25% 0 0 -250px}
@media screen and (max-width:768px){.layer_popup #sign_wrap{width:100%;left:0;top:50%;margin:-25% 0 0 0;padding:0 20px;box-sizing:border-box}}
@media (min-width:48em) {.layer_popup #sign_wrap{position:absolute} }
#sign_wrap{font-family:"SamsungIFRg";overflow:hidden}
@media (min-width:768px) and (max-width:960px) {#sign_wrap{border:1px solid #e2e2e2;margin:0 50px} }
@media (min-width:961px) {#sign_wrap{font-family:"SamsungIFRg";margin:0 auto;width:960px;border:1px solid #e2e2e2} }
#sign_wrap .sign-inner-wrap{background:#fff;position:relative;padding:30px}
@media (min-width:48em) {#sign_wrap .sign-inner-wrap{padding:30px} }
#sign_wrap .sign-inner-wrap .title{color:#000;font-size:22px;background:#fff}
@media (min-width:48em) {#sign_wrap .sign-inner-wrap .title{font-size:32px;font-family:"SamsungIFBd"} }
#sign_wrap .popup_cont .sub-tit{font-size:16px;margin:25px 0 15px;font-family:"SamsungIFBd"}
@media (min-width:48em) {#sign_wrap .popup_cont .sub-tit{font-size:22px;margin:35px 0 25px} }
#sign_wrap .input-wrap{clear:both}
#sign_wrap .input-wrap label{font-size:14px;color:#000;margin-bottom:5px;display:inline-block}
#sign_wrap .input-wrap label sup{color:#d64100}
@media (min-width:48em) {#sign_wrap .input-wrap label{font-size:16px;margin-bottom:7px} }
#sign_wrap .input-wrap .input{margin-bottom:5px}
#sign_wrap .input-wrap .input input{padding:3px 5px 4px!important;margin:0;width:90%}
#sign_wrap .chk{position:relative;overflow:hidden}
#sign_wrap .chk label{font-size:12px;font-family:"SamsungIFRg"}
@media (min-width:48em) {#sign_wrap .chk label{font-size:14px} }
#sign_wrap .sign-link a{font-size:12px!important;font-family:"SamsungIFRg";color:#0071bf!important}
@media (min-width:48em) {#sign_wrap .sign-link a{font-size:15px!important} }
#sign_wrap .btn-wrap{margin-top:25px}
@media (min-width:48em) {#sign_wrap .btn-wrap{margin-top:40px} }
#sign_wrap .btn-wrap .button{font-size:14px;padding:12px 40px}
@media(min-width:48em) {#sign_wrap .btn-wrap .button{font-size:16px;padding:14px 60px} }
#sign_wrap .btn-wrap p{margin-top:10px;font-size:15px!important}
#sign_wrap .btn-wrap p a{font-family:"SamsungIFRg";color:#0071bf!important}
@media (min-width:48em) {#sign_wrap .btn-wrap p,#sign_wrap .btn-wrap p a{font-size:15px} }
#sign_wrap .connect_wrap{margin-top:30px;padding-top:20px;border-top:1px solid #d2d2d2}
@media (min-width:48em) {#sign_wrap .connect_wrap{margin-top:20px;padding-top:15px} }
#sign_wrap .connect_wrap .connet-tit{font-size:16px;font-family:"SamsungIFBd";margin-bottom:10px}
@media (min-width:48em) {#sign_wrap .connect_wrap .connet-tit{font-size:22px;margin-bottom:15px} }
@media (max-width:48em) {
	#sign_wrap .sns-wrap{text-align:center}
	#sign_wrap .sns-wrap a img{height:48px}
}
@media (max-width:22.5em) {#sign_wrap .sns-wrap a img{height:40px} }
@media (max-width:320px) {#sign_wrap .sns-wrap a img{height:34px} }
#sign_wrap .sns-wrap a+a{margin-left:4px}
#sign_wrap .sns-wrap .ico-desctop{display:none}
@media (min-width:48em) {
	#sign_wrap .sns-wrap .ico-mobile{display:none}
	#sign_wrap .sns-wrap .ico-desctop{display:block}
}
#sign_wrap .sign-inner-wrap .error{margin-bottom:5px;font-size:13px}

@media (min-width:1920px) {.layer_popup #sign_wrap{position:absolute;width:500px; left: 50% !important; margin:0 0 0 -250px; } }

/* check-out sign */
#sign_wrap .sign-inner-wrap .sign-cont{margin-top:20px;padding-bottom:20px}
#sign_wrap .sign-inner-wrap .sign-cont:after{content:" ";display:block;clear:both}
#sign_wrap .sign-inner-wrap .sign-cont .left-group{width:100%}
#sign_wrap .sign-inner-wrap .sign-cont .right-group{width:100%}
@media (min-width:640px) {
	#sign_wrap .sign-inner-wrap .sign-cont .left-group{float:left;width:50%}
	#sign_wrap .sign-inner-wrap .sign-cont .right-group{float:right;width:50%}
}
#sign_wrap .sign-inner-wrap .sign-cont .sub-tit{color:#000;font-family:"SamsungIFBd";font-size:18px;margin-bottom:20px}
@media (min-width:960px) {#sign_wrap .sign-inner-wrap .sign-cont .sub-tit{font-size:22px} }
#sign_wrap .sign-inner-wrap .sign-cont .btn-guest{color:#292929;background:#e2e2e2;min-width:220px;font-size:14px}
@media (min-width:960px) {#sign_wrap .sign-inner-wrap .sign-cont .btn-guest{min-width:280px;font-size:18px} }
@media (max-width:640px) {#sign_wrap .sign-inner-wrap .sign-cont .right-group .guset-section{margin-top:20px} }
#sign_wrap .sign-inner-wrap .sign-cont .right-group .guset-section .title{font-family:Arial;font-size:18px}
#sign_wrap .sign-inner-wrap .sign-cont .right-group .guset-section .sign-link{margin-top:20px}
@media (min-width:640px) and (max-width:768px) {
	#sign_wrap .sign-inner-wrap .sign-cont .left-group .input-wrap .input{width:270px}
	#sign_wrap .sign-inner-wrap .sign-cont .right-group .guset-section{padding:0 0 0 45px}
}
@media (min-width:768px) {
	#sign_wrap .sign-inner-wrap .sign-cont .left-group .input-wrap .input{width:280px}
	#sign_wrap .sign-inner-wrap .sign-cont .right-group .guset-section{padding:0 0 0 45px}
	#sign_wrap .sign-inner-wrap .sign-cont .right-group .guset-section .sign-link{text-align:right;margin-top:160px}
}
@media (min-width:960px) {
	#sign_wrap .sign-inner-wrap .sign-cont .left-group .input-wrap .input{width:370px}
	#sign_wrap .sign-inner-wrap .sign-cont .right-group .guset-section{padding:0 0 0 85px}
}
@media (min-width:768px) and (max-width:960px) {.question-wrap{border:1px solid #e2e2e2;margin:20px 50px 0} }
@media (min-width:961px) {.question-wrap{font-family:"SamsungIFRg";margin:20px auto;width:960px;border:1px solid #e2e2e2} }
.question-wrap .q-inner{overflow:hidden}
@media (min-width:768px) {.question-wrap .q-inner{background:#fbfbfb} }
.question-wrap .title{font-family:"SamsungIFBd";width:50%;float:left}
.question-wrap .title h2{font-size:20px;margin:20px 0 0 30px}
.question-wrap .title h2 span{color:#0079c5}
.question-wrap .title h2 .number{color:#000;font-size:16px;display:inline-block;height:20px;line-height:20px;border-left:1px solid #e2e2e2;padding-left:15px;margin-left:15px}
@media (max-width:800px) {
	.question-wrap .title h2{font-size:18px}
	.question-wrap .title h2 .number{font-size:15px}
}
.question-wrap .list{float:right;width:49%;border-left:1px solid #e2e2e2}
.question-wrap .list .list-cont{margin-left:70px;padding:13px 0}
.question-wrap .list .list-cont li{padding-left:10px;background:url(/common/next/img/bg_dot.gif) no-repeat 0 10px}
.question-wrap .list .list-cont li a{font-size:14px;color:#444}
.question-wrap .list .list-cont li a:hover{text-decoration:underline}
@media (max-width:768px) {
	.question-wrap .title{float:none;width:100%}
	.question-wrap .title h2{margin-left:20px}
	.question-wrap .list{float:none;border:none;width:100%}
	.question-wrap .list .list-cont{margin-left:20px}
}

/* Member, Guest Sign In */
#sign_wrap .sign-inner-wrap .sign-cont .sign_tab:after{content:" ";display:block;clear:both}
#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li{float:left;width:50%}
#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li{background:#e7e7e6}}
@media (max-width:560px) {
	#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li.last a{padding:10px 0}
	#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li.last em{display:block}
}
#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li.on{background:#52565a}
#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li a{display:block;text-align:center;font-size:14px;color:#000;font-family:"SamsungIFBd";padding:18px 0}
#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li.on a{color:#fff}
#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li.on{background:#52565a}
@media (min-width:768px) {#sign_wrap .sign-inner-wrap .sign-cont .sign_tab li a{font-size:18px} }
#sign_wrap .sign-inner-wrap .sign-cont .tab-cont{margin-top:35px}
#sign_wrap .sign-inner-wrap .sign-cont .tab-cont li{display:none}
#sign_wrap .sign-inner-wrap .sign-cont .tab-cont li.on{display:block}
#sign_wrap .sign-inner-wrap .sign-cont .tab-cont .connect_wrap .connet-tit{font-family:"SamsungIFBd";font-size:18px}
@media (min-width:768px) {#sign_wrap .sign-inner-wrap .sign-cont .tab-cont .connect_wrap .connet-tit{font-size:24px} }
#sign_wrap .sign-inner-wrap .sign-cont .tab-cont .connect_wrap{border:0 none}
#sign_wrap .sign-inner-wrap .sign-cont .tab-cont .sns-wrap a+a{margin-left:10px}
@media (min-width:768px) and (max-width:960px) {
	#sign_wrap .sign-inner-wrap .sign-cont .tab-cont .sns-wrap{text-align:center}
	#sign_wrap .sign-inner-wrap .sign-cont .tab-cont .sns-wrap a img{width:190px}
	#sign_wrap .sign-inner-wrap .sign-cont .tab-cont .sns-wrap a+a{margin-left:8px}
}
#sign_wrap .sign-inner-wrap .sign-cont .sub-tit .sub-tit-desc{display:block;font-size:13px;font-family:"SamsungIFRg"}
@media (min-width:768px) {#sign_wrap .sign-inner-wrap .sign-cont .sub-tit .sub-tit-desc{font-size:15px} }

#sign_wrap .button{background:#1428a0;color:#fff;min-width:10em;padding:.8em 0;display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;text-transform:uppercase;text-align:center;font-family:"SamsungIFBd",Arial,sans-serif;font-weight:normal;text-decoration:none}
#sign_wrap.button.gray{background:#e2e2e2;color:#292929}
#sign_wrap .button.gray:hover,.ss_samsung .button.gray:active{color:#fff}
#sign_wrap .button:hover{background:#666;color:#fff}
#sign_wrap .button:active{background:#292929}

.lightbox-skrim{position:fixed;top:0;left:0;background:#000;width:100%;height:100%;z-index:1021;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=66);opacity:.66}

/* Auto Complate */
.auto-complete{display:none;top:35px;margin:0;padding:0;width:100%;height:auto;border:none;background:none}
.auto-complete{background:#fff;width:100%;position:absolute;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;height:0;display:none;z-index:800}
.auto-complete div{display:block}
.auto-complete li a{font-family:"SamsungIFRg"}
.auto-complete .auto-complete-wrap{display:block;margin:0 0 10px 0;padding:15px 15px;border:none;border:1px solid #ececec;background:#fff}
.auto-complete .autocomplete-list{display:none;opacity:1;max-height:none;padding:10px 0 15px 0;background:#fff;border:1px solid #eaeaea}
.auto-complete .autocomplete-list li{margin:0}
.auto-complete .autocomplete-list li a{padding:5px 10px;font-size:16px}
@media(max-width: 1280px){
.auto-complete{display:none;left:0;top:34px;margin:0;padding:0;width:100%;height:auto;border:none}
.auto-complete .auto-complete-wrap{overflow:hidden;margin:0 10px 10px 10px;padding:15px 15px;border:none;border:1px solid #ececec;background:#fff}
.auto-complete div{display:block}
.auto-complete div.popular{float:left;width:48%}
.auto-complete div.recently-viewed{float:right;width:48%;margin:0;padding:0;border:none}
.auto-complete .autocomplete-list{display:block;opacity:1;max-height:250px;padding:10px 0 15px 0;background:#fff;border:1px solid #eaeaea}
.auto-complete .autocomplete-list li{margin:0}
.auto-complete .autocomplete-list li a{padding:5px 10px;font-size:16px}
}
@media(max-width: 1024px){
.auto-complete{display:none;top:30px;margin:0;padding-left:0;padding-right:0;height:auto;border:none}
.auto-complete .auto-complete-wrap{margin:0}
.auto-complete div{display:block}
.auto-complete div.popular{float:none;width:auto}
.auto-complete div.recently-viewed{float:none;width:auto;margin-top:12px;padding-top:12px;border-top:1px solid #a6a8aa}
.auto-complete .autocomplete-list{display:block;opacity:1;max-height:none;margin:1px 0 0 0;padding:10px 0 15px 0;background:#fff;border:1px solid #eaeaea}
.auto-complete .autocomplete-list li{margin:0}
.auto-complete .autocomplete-list li a{padding:5px 10px;font-size:16px}
}
@media(max-width: 767px){
.auto-complete{display:none;left:0;top:30px;margin:0;padding:0;width:100%;height:auto;border:none;background:none}
.auto-complete .auto-complete-wrap{overflow:hidden;margin:0 10px 10px 10px;padding:15px 15px;border:none;border:1px solid #ececec;background:#fff}
.auto-complete div{display:block}
.auto-complete div.popular{float:left;width:48%}
.auto-complete div.recently-viewed{float:right;width:48%;margin:0;padding:0;border:none}
.auto-complete li a{font-size:13px}
.auto-complete .autocomplete-list{display:block;opacity:1;max-height:none;padding:10px 0 15px 0;background:#fff;border:1px solid #eaeaea;overflow-x:hidden}
.auto-complete .autocomplete-list li{margin:0}
.auto-complete .autocomplete-list li a{padding:5px 10px;font-size:16px}
}
.auto-complete.search-form-ac.on.results-returned{border:none}
.auto-complete div{display:none;margin-top:12px;padding-top:12px;border-top:1px solid #a6a8aa}
.auto-complete div.popular{border-top-width:0;margin-top:0;padding-top:0}
.auto-complete div h5, .auto-complete div .auto-tit {font-size:16px;font-size:1rem;font-family:"SamsungIFBd",Arial,sans-serif;font-weight:normal;color:#000;text-transform:uppercase}
@media (min-width:80.063em) {.auto-complete div h5, .auto-complete div .auto-tit {font-size:18px;font-size:1.125rem} }
.auto-complete div li{font-size:16px;font-size:1rem;margin-bottom:.3em}
.auto-complete li{margin:7px 0 0 0;color:#000}
.auto-complete li.first{margin-top:0!important}
.auto-complete li a{color:#0071bf;display:block;padding:0;font-size:18px;font-size:1.125rem}
html.ltr .auto-complete li a{padding-right:1em}
.auto-complete li a:hover,.auto-complete li a:focus{color:#666;background:none}
.auto-complete li a:active{color:#292929}
.auto-complete .autocomplete-list{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;height:0;max-height:0;overflow:auto;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
@media (min-width:80.063em) {.auto-complete .autocomplete-list li{margin-top:12px} }
.auto-complete .ac-message{display:none;color:#000;margin:0;font-size:18px;font-size:1.125rem}
.auto-complete.on{display:block!important;height:auto;max-height:22.5em}
.auto-complete.on .autocomplete-list{max-height:16.5625em;height:auto}
.auto-complete.no-results-returned .ac-message{display:none}
.auto-complete.no-results-returned div{display:block!important}
.auto-complete.no-results-returned .autocomplete-list{height:0!important}
.auto-complete.no-results-returned .popular{padding-top:0}
.auto-complete.results-returned .autocomplete-list{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;filter:"progid:DXImageTransform.Microsoft.Alpha(enabled=false)"}
.auto-complete.results-returned div{display:none!important}
.auto-complete.results-returned div.link,.auto-complete.results-returned div.img-container{border:none!important;margin:0;padding:0;display:table-cell!important}
.auto-complete.results-returned div.link{font-family:"SamsungIFRg",Arial,sans-serif;font-weight:normal;color:#292929;vertical-align:top;padding:2% 5% 0;width:60%}
.auto-complete.results-returned div.link:hover{color:#0071bf}
.auto-complete.results-returned div.img-container{vertical-align:middle;padding-right:5%;width:25%}
.auto-complete.results-returned div.img-container img{width:100%}
}
/* location */
.breadcrumbs{min-height:40px;background:#f5f5f5}
.breadcrumbs-inner{position:relative;max-width:1280px;margin:0 auto}
.location{padding:13px 87px 13px 40px;text-transform:capitalize}
.location a{position:relative;padding-right:14px;font-size:13px;color:#0072cc}
.location a:after{position:absolute;top:0;right:0;content:'>'}
.location span{font-size:13px;color:#5f5f5f}
.link-area{position:absolute;top:13px;right:40px}
.link-area a{font-size:13px;color:#0072cc}
.share-cta:after,.sns-share:after,.sns-share a:after{overflow:hidden;display:inline-block;background:url(/common/img/ha-sns-ir.gif) no-repeat;line-height:999px}
.share-cta{position:relative;padding:8px 0 7px 18px}
.share-cta:after{position:absolute;top:50%;left:0;width:14px;height:14px;margin-top:-8px;background-position:-124px 0;content:'';}
.sns-share{display:none;position:absolute;top:30px;right:0;z-index:40;
	width:auto;padding:6px 13px;border:1px solid #dadee2;background:#f5f5f5;text-align:center}
.sns-share:after{display:block;position:absolute;top:-8px;right:16px;width:14px;height:8px;background-position:-124px -18px;content:''}
.sns-share a{display:table-cell;position:relative;padding-left:34px;border-left:6px solid #f5f5f5;border-right:6px solid #f5f5f5;font-size:12px;color:#525252;height:27px;line-height:27px}
.sns-share a:after{position:absolute;top:0;left:0;width:30px;height:29px;content:''}
.sns-share .btn-facebook:after{background-position:0 0}
.sns-share .btn-twitter:after{background-position:-30px 0}
.sns-share .btn-google:after{background-position:-60px 0}
.sns-share .btn-pinterest:after{background-position:-91px 0}
.share-area.is-open .sns-share{display:table-row}

@media screen and (max-width:1024px){ 
.location{padding:13px 91px 13px 10px}
.link-area{right:10px}
}

@media screen and (max-width:767px){ 
.share-cta:after,.sns-share a:after{background:url(/common/img/ha-sns-ir_2x.gif) no-repeat;background-size:129px auto}
.share-cta:after{background-position:-116px 0}
.sns-share{width:auto;height:26px;padding:11px 13px}
.sns-share:after{background-position:0 -28px}
.sns-share a{padding-left:27px}
.sns-share a:after{width:27px;height:26px}
.sns-share .btn-facebook:after{background-position:0 0}
.sns-share .btn-twitter:after{background-position:-29px 0}
.sns-share .btn-google:after{background-position:-58px 0}
.sns-share .btn-pinterest:after{background-position:-87px 0}
}