@charset "utf-8";

/* local font */
html[lang="zh"] .single-p5 .prd-info .prd-tit{font-family:'SamsungSharpSans','Microsoft Yahei', arial !important}
html[lang="zh"] .single-p5 .prd-info .prd-txt,
html[lang="zh"] .single-p5 .button-prd,
html[lang="zh"] .privacy p{font-family:'SamsungOne','Microsoft Yahei', arial !important}

html[lang^="zh-"] .single-p5 .prd-info .prd-tit{font-family:'SamsungSharpSans','Microsoft JhengHei','微软雅黑','Simsun','宋体',arial !important}
html[lang^="zh-"] .single-p5 .prd-info .prd-txt,
html[lang^="zh-"] .single-p5 .button-prd,
html[lang^="zh-"] .privacy p{font-family:'SamsungOne','Microsoft JhengHei','微软雅黑','Simsun','宋体',arial !important}

html[lang^="fa"] .single-p5 .prd-info .prd-tit,
html[lang^="ar"] .single-p5 .prd-info .prd-tit{font-family:'SamsungSharpSans', tahoma !important}
html[lang^="fa"] .single-p5 .prd-info .prd-txt,
html[lang^="ar"] .single-p5 .prd-info .prd-txt,
html[lang^="fa"] .single-p5 .button-prd,
html[lang^="ar"] .single-p5 .button-prd,
html[lang^="fa"] .privacy p,
html[lang^="ar"] .privacy p{font-family:'SamsungOne','SamsungOneArabic',tahoma !important}

html[lang^="he"] .single-p5 .prd-info .prd-tit{font-family:'SamsungSharpSans', tahoma !important}
html[lang^="he"] .single-p5 .prd-info .prd-txt,
html[lang^="he"] .single-p5 .button-prd,
html[lang^="he"] .privacy p{font-family:'SamsungOne','SamsungOneHebrew',tahoma !important}

html[lang^="th"] .single-p5 .prd-info .prd-tit{font-family:'SamsungSharpSans','pslKittithadabold', arial !important}
html[lang^="th"] .single-p5 .prd-info .prd-txt,
html[lang^="th"] .single-p5 .button-prd,
html[lang^="th"] .privacy p{font-family:'pslKittithadabold', arial !important}

html[lang^="vi"] .single-p5 .prd-info .prd-tit{font-family:'SamsungSharpSans_Bd','SamsungOne', arial !important}
html[lang^="vi"] .single-p5 .prd-info .prd-txt,
html[lang^="vi"] .single-p5 .button-prd,
html[lang^="vi"] .privacy p{font-family:'SamsungOne', arial !important}

html[lang^="ru"] .single-p5 .prd-info .prd-tit,
html[lang^="uk"] .single-p5 .prd-info .prd-tit,
html[lang^="bg"] .single-p5 .prd-info .prd-tit{font-family:'SamsungSharpSans', arial !important}

/* button */
.button-prd{display:inline-block;font-family:"SamsungOne",sans-serif;font-size:12px;text-transform:uppercase;padding:10px 20px;border:1px solid #5f5f5f;margin-top:10px;background-color:transparent;color:#000;-webkit-transition-property:all;-moz-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;-moz-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-in;-moz-transition-timing-function:ease-in;transition-timing-function:ease-in}
.prd-link:hover .button-prd,.prd-link:focus .button-prd{border-color:#000;background-color:#000;color:#fff;-webkit-transition-property:all;-moz-transition-property:all;transition-property:all;-webkit-transition-duration:.25s;-moz-transition-duration:.25s;transition-duration:.25s;-webkit-transition-timing-function:ease-in;-moz-transition-timing-function:ease-in;transition-timing-function:ease-in}
.button-media{position:absolute;top:4%;left:3%}
.button-media:after{position:absolute;top:50%;left:0;width:45px;height:45px;margin-top:-23px;overflow:hidden;-webkit-transition:0.25s background;-moz-transition:0.25s background;transition:0.25s background;background:url(/common/img/home/btn-play.png) no-repeat;content:''}
.button-media span{font-family:'SamsungIFBd',sans-serif;display:block;padding-left:56px;font-size:22px;color:#fff}
.prd-link:hover .button-media:after,.prd-link:focus .button-media:after{background:url(/common/img/home/btn-play-over.png) no-repeat}
.touch-device .prd-link .button-prd{color:#000}
.touch-device .prd-link:hover .button-prd,.touch-device .prd-link:focus .button-prd{border-color:#5f5f5f;background-color:transparent;color:#5f5f5f}
.touch-device .prd-link .button-prd:hover,.touch-device .prd-link .button-prd:focus{border-color:#000;background:#000;color:#fff}
#content{font-size:17px;min-width:320px;position:relative}

/* loading */
@-webkit-keyframes bouncedelay{
	0%,80%,100%{
	-webkit-transform:scale(0);
	}

	40%{
	-webkit-transform:scale(1);
	}
}

@keyframes bouncedelay{
	0%,80%,100%{
	transform:scale(0);
	-webkit-transform:scale(0);
	}

	40%{
	transform:scale(1);
	-webkit-transform:scale(1);
	}
}

.loader{
	position:absolute;
	width:100%;height:100%;
	z-index:100;
	background-image:url(/common/img/home/logo-start-bg.png);
	background-repeat:no-repeat;
	background-position:center 250px;
	background-color:#17181B;
	-webkit-transition:opacity 0.5s ease-out;
	-moz-transition:opacity 0.5s ease-out;
	transition:opacity 0.5s ease-out;
}
.spinner{
	position:absolute;
	left:50%;
	top:370px;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	width:70px;
	text-align:center;
}
.spinner>div{
	width:18px;
	height:18px;
	background-color:#FFF;
	border-radius:100%;
	display:inline-block;
	-webkit-animation:bouncedelay 1.4s infinite ease-in-out;
	animation:bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}
.spinner .bounce1{
	-webkit-animation-delay:-0.32s;
	animation-delay:-0.32s
}
.spinner .bounce2{
	-webkit-animation-delay:-0.16s;
	animation-delay:-0.16s
}

.loader.hide{opacity:0}
.loader.lower{z-index:-1}
.story-cluster{position:relative;font-size:1.3vw;height:100%;max-height:700px;overflow:hidden;background:-webkit-linear-gradient(180deg,#f2f2f2,#dbdbdb);background:-o-linear-gradient(180deg,#f2f2f2,#dbdbdb);background:-moz-linear-gradient(180deg,#f2f2f2,#dbdbdb);background:linear-gradient(180deg,#f2f2f2,#dbdbdb);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f2f2f2', endColorstr='#dbdbdb')}
.stroy-cluster:after{display:block;clear:both;content:''}

.cluster-minheight{min-height:500px}
.prd-heading{display:block;font-size:2.5vw;font-weight:normal;line-height:110%;max-width:1280px;margin:0 auto;padding:28px 40px 11px;color:#000;box-sizing:border-box}
.section-wrap{position:relative;clear:both;max-width:1280px;max-height:625px;margin:0 auto;padding:0 40px;box-sizing:border-box}
.section-wrap:after{display:block;content:'';clear:both}
.prd-area{float:left;width:50%;padding-left:28px;box-sizing:border-box}
.prd-item{position:relative;z-index:2;box-sizing:border-box}
.prd-area:after,.prd-item:after{display:block;clear:both;content:''}
.prd-frame{top:4%;left:0;width:100%;height:70%}
.prd-second{height:50%;padding-bottom:25px}
.prd-third,.prd-fourth{float:left;width:50%}
.prd-third{padding-right:13px}
.prd-fourth{padding-left:13px}
.prd-link{display:block;position:relative}
.prd-tit{font-family:"SamsungSharpSans","Arial";font-size:1.6vw;line-height:100%;color:#000}
.prd-info{position:absolute;top:0;left:0;z-index:3}
.prd-img{position:relative;z-index:1;width:100%}
.prd-img img{width:100%}
.sub-tit{display:block;font-family:"SamsungOne","Arial"}
.has-frame{position:relative;float:left;width:50%;max-height:625px;padding-right:28px}
.has-frame .prd-img{position:relative;z-index:2}
.has-frame .prd-img img{width:131.5%;margin-left:-24.5%}
.has-frame .prd-tit{font-size:2.7vw;font-family:"SamsungSharpSans","Arial";line-height:105%}

/* animating box */
.prd-frame{position:absolute;z-index:1}
.animating-box .border{background-color:#42b6f8;position:absolute}
.animating-box .top-border,.animating-box .bottom-border{height:5px}
.animating-box .right-border,.animating-box .left-border{width:5px}
.animating-box .top-border{top:0;left:0;width:0;-webkit-transition:width 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 900ms;-moz-transition:width 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 900ms;transition:width 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 900ms}
.animating-box .left-border{bottom:0;left:0;height:0;-webkit-transition:height 150ms cubic-bezier(0.215, 0.61, 0.355, 1) 1500ms;-moz-transition:height 150ms cubic-bezier(0.215, 0.61, 0.355, 1) 1500ms;transition:height 150ms cubic-bezier(0.215, 0.61, 0.355, 1) 1500ms}
.animating-box .right-border{top:0;right:0;height:0;-webkit-transition:height 150ms linear 1200ms;-moz-transition:height 150ms linear 1200ms;transition:height 150ms linear 1200ms}
.animating-box .bottom-border{bottom:0;right:0;width:0;-webkit-transition:width 150ms linear 1350ms;-moz-transition:width 150ms linear 1350ms;transition:width 150ms linear 1350ms}
.has-animated .top-border,.has-animated .bottom-border{width:100%}
.has-animated .right-border,.has-animated .left-border{height:100%}

/* motion */
.top-to-bot{
	opacity:0;
	-webkit-transform:translateY(-50px);
	-moz-transform:translateY(-50px);
	-ms-transform:translateY(-50px);
	-o-transform:translateY(-50px);
	transform:translateY(-50px)
}
.bot-to-top{
	opacity:0;
	-webkit-transform:translateY(50px);
	-moz-transform:translateY(50px);
	-ms-transform:translateY(50px);
	-o-transform:translateY(50px);
	transform:translateY(50px)
}
.left-to-right{opacity:0;
	-webkit-transform:translateX(-50px);
	-moz-transform:translateX(-50px);
	-ms-transform:translateX(-50px);
	-o-transform:translateX(-50px);
	transform:translateX(-50px)
}
.right-to-left{opacity:0;
	-webkit-transform:translateX(50px);
	-moz-transform:translateX(50px);
	-ms-transform:translateX(50px);
	-o-transform:translateX(50px);
	transform:translateX(50px)
}

.fade-in{opacity:0}

.has-animated .top-to-bot,.has-animated .bot-to-top,.has-animated .left-to-right,.has-animated .right-to-left,.prd-heading.has-animated{opacity:1;
	-webkit-transform:translate(0px,0px);
	-moz-transform:translate(0px,0px);
	-ms-transform:translate(0px,0px);
	-o-transform:translate(0px,0px);
	transform:translate(0px,0px)
}
.has-animated .fade-in{opacity:1;
	-webkit-transition:opacity 400ms ease 300ms;
	-moz-transition:opacity 400ms ease 300ms;
	transition:opacity 400ms ease 300ms
}
.has-animated .top-to-bot{
	-webkit-transition:-webkit-transform 600ms ease 300ms,opacity 600ms ease 300ms;
	-moz-transition:-moz-transform 600ms ease 300ms,opacity 600ms ease 300ms;
	transition:transform 600ms ease 300ms,opacity 600ms ease 300ms
}
.has-animated .bot-to-top{
	-webkit-transition:-webkit-transform 600ms ease 500ms,opacity 600ms ease 500ms;
	-moz-transition:-moz-transform 600ms ease 500ms,opacity 600ms ease 500ms;
	transition:transform 600ms ease 500ms,opacity 600ms ease 500ms
}
.has-animated .left-to-right{
	-webkit-transition:-webkit-transform 600ms ease 700ms,opacity 600ms ease 700ms;
	-moz-transition:-moz-transform 600ms ease 700ms,opacity 600ms ease 700ms;
	transition:transform 600ms ease 700ms,opacity 600ms ease 700ms
}
.has-animated .right-to-left{
	-webkit-transition:-webkit-transform 600ms ease 700ms,opacity 600ms ease 700ms;
	-moz-transition:-moz-transform 600ms ease 700ms,opacity 600ms ease 700ms;
	transition:transform 600ms ease 700ms,opacity 600ms ease 700ms
}

/* video */
.video-area{overflow:visible;display:none;position:absolute;width:100%;height:auto;top:0;left:0;right:0;bottom:0;z-index:100}
.video-area:before{position:fixed;content:'';background:rgba(0,0,0,.8);width:100%;height:100%;top:0;left:0;right:0;bottom:0}
.video-wrap .button-close{width:31px;height:31px;position:absolute;top:-35px;right:0;background:url(/common/img/home/btn-close.png) no-repeat 5px 5px;line-height:100px;font-size:1px;overflow:hidden}
.grids-video-player{width:100%;height:100%;position:absolute;left:0;right:0;top:0;bottom:0}
.video-wrap{position:relative;display:inline-block;vertical-align:baseline;zoom:1;*display:inline;*vertical-align:auto;vertical-align:top;width:100%;width:100%;max-width:1024px;top:50%;left:50%;background-color:#000000 }
.video-wrap:after{padding-top:56.25%;content:'';display:block }
.video-open #wrap{overflow-x:hidden}
.video-open .story-cluster,.video-open .section-wrap{position:static}

/* 1st cluster */
.top-area .prd-info{top:5.5%;left:7%}
.top-area .has-frame .prd-info{top:10.5%;left:auto;right:8%;text-align:right}
.top-area .prd-second .prd-info{top:5%;left:3.5%}

/* 2nd cluster */
.middle-area .has-frame .prd-info{top:10.5%;left:auto;right:8%;text-align:right}
.middle-area .prd-second .button-media{top:auto;left:3.5%;bottom:12.5%}
.middle-area .prd-third .prd-info{top:auto;bottom:3.5%;left:7%}
.middle-area .prd-fourth .prd-info{position:absolute;top:auto;left:7%;bottom:3.5%}
.middle-area .prd-fourth .prd-tit{color:#fff}
.middle-area .prd-fourth .button-prd{border-color:#fff;color:#fff}
.middle-area .prd-fourth .prd-link:hover .button-prd,
.middle-area .prd-fourth .prd-link:focus .button-prd{border-color:#fff;background:#fff;color:#000}

/* 3rd cluster */
.bottom-area .prd-info{top:auto;bottom:3.5%;left:7%}
.bottom-area .prd-frame{top:25%}
.bottom-area .has-frame .prd-info{top:auto;left:auto;right:8%;bottom:11%;text-align:right}
.bottom-area .prd-second .button-media{top:auto;left:3.5%;bottom:12.5%}

.privacy{background-color:#f2f2f2;border-top:1px solid #dadee2;padding:17px 40px 18px}
.privacy p{max-width:1200px;margin:0 auto;font-size:12px;line-height:1.34;color:#363636;font-family:'SamsungOne', arial}
.privacy p+p{margin-top:10px}
.privacy p a{color:#1428a0;text-decoration:underline}
.privacy.type_new{background-color:#f7f7f7;padding-left:24px;right:24px}
.privacy.type_new p{box-sizing:border-box;max-width:1430px;padding:0 6.75%;margin:0 auto}

/* ie8 */
.lt-ie8 .prd-heading{font-size:33px}

@media screen and (min-width:1280px){
	.cluster-minheight{min-height:700px}
}

@media screen and (min-width:1200px){
	.prd-heading{font-size:33px}
	.prd-tit{font-size:22px}
	.has-frame .prd-tit{font-size:38px}
	.story-cluster{font-size:17px}
	.button-prd{font-size:12px}
}
@media screen and (max-width:1100px){
	.button-prd{font-size:1.2vw}
}
@media screen and (max-width:1024px){
	.video-wrap .button-close{background:url(/common/img/home/btn-close_2x.png) no-repeat 0 5px;background-size:21px 21px}
	.story-cluster,.section-wrap,.has-frame{max-height:100%}
	.section-wrap{max-width:1024px;min-height:460px;margin:0 auto 30px;padding:0 20px}
	.button-prd{margin-top:4%;padding:11px 20px 10px}
	.button-media span{font-size:1.7vw}
	.prd-heading{padding:3.3% 20px 1.3%;font-size:3vw}
	.prd-area{width:49%;padding-left:20px}
	.prd-tit{font-size:1.8vw}
	.prd-second{padding:2.5% 0 20px}
	.prd-third{padding-right:10px}
	.prd-fourth{padding-left:10px}
	.has-frame{width:51%;padding-right:20px}
	.has-frame .prd-tit{font-size:3.6vw}
	.has-frame .prd-img img{width:100%}
	.has-frame .button-prd{margin-top:7px}
	.has-frame .prd-info{top:8.7%;right:6.7%}
	.top-area .has-frame .prd-info{top:7.6%;left:6.8%}
	.top-area .has-frame .prd-img img{margin:36.5% 0 0 0}
	.top-area .prd-frame{top:2.2%;height:75%}
	.top-area .prd-info{top:7%}
	.top-area .prd-second .prd-info{top:7%}
	.top-area .prd-second .prd-img{text-align:right}

	.middle-area .has-frame .prd-info{top:8.3%;right:7.2%}
	.middle-area .has-frame .prd-img img{width:74%;margin:34% 0 0 9.2%}
	.middle-area .prd-frame{top:2.5%;height:67.5%}
	.middle-area .prd-fourth .prd-info{left:9%;bottom:9%}

	.bottom-area .prd-frame{top:36%;height:93.5%}
	.bottom-area .has-frame .prd-info{right:7.5%;bottom:-20.5%}
	.bottom-area .has-frame .prd-img img{width:105%;margin:4% 0 0 5%}

	.privacy{padding-left:20px;padding-right:20px}
	.privacy.type_new{padding-left:24px;padding-right:24px}
}
@media screen and (max-width:980px){
	.section-wrap{min-height:100%;margin-bottom:0;padding-bottom:4%}
	.loader{background-image:none}
	.prd-tit{font-size:1.9vw}
	.button-prd{font-size:1.4vw}
}
@media screen and (max-width:768px){
	.privacy.type_new{padding-left:24px;padding-right:24px}
	.privacy.type_new p{padding:0}
}
@media screen and (max-width:767px){
	.section-wrap{max-width:747px;margin-bottom:15px;padding:0 10px}
	.story-cluster{font-size:2.2vw}
	.prd-link{width:100%}
	.prd-area,.has-frame{float:none;width:100%;padding:0}
	.prd-heading{padding:3.3% 10px 1.3%;font-size:3.3vw}
	.prd-tit{font-size:3vw}
	.prd-item{max-height:100%;margin-top:13px}
	.prd-item.has-frame{margin-top:0}
	.prd-item.prd-second{padding-bottom:0}
	.has-frame .prd-item{padding-top:0}
	.has-frame .prd-tit{font-size:4.5vw}
	.button-media span{font-size:3vw}
	.top-area .prd-frame{height:84%}
	.top-area .has-frame,.top-area .prd-area{width:100%}
	.top-area .has-frame .prd-info{top:5.5%;right:3.5%}
	.top-area .has-frame .prd-img img{margin-top:21.5%}
	.top-area .prd-second .prd-info{top:6.5%;text-align:left}
	.top-area .prd-third{padding-left:0}
	.top-area .prd-fourth{padding-right:0}
	.middle-area .prd-frame{height:67%}
	.middle-area .prd-area:after{display:block;height:100%;clear:both;content:''}
	.middle-area .prd-heading{text-align:left}
	.middle-area .prd-area,.middle-area .has-frame{float:none;width:100%;padding:0}
	.middle-area .has-frame .prd-img img{margin:26% 0 0 9%}
	.middle-area .has-frame .prd-info{top:5.5%;right:3.5%}
	.middle-area .prd-second .button-media{left:3.5%;bottom:15%}
	.middle-area .prd-fourth .prd-info{left:5.5%;bottom:5.5%}
	.bottom-area .has-frame.prd-item{padding-bottom:22.5%}
	.bottom-area .has-frame .prd-info{right:3.5%;bottom:-25.5%}
	.bottom-area .has-frame .prd-img{margin-top:0}
	.bottom-area .prd-second .button-media{left:1.8%;bottom:7.5%}

	.animating-box .top-border,.animating-box .bottom-border{width:100%}
	.animating-box .right-border,.animating-box .left-border{height:100%}
	.top-to-bot,.bot-to-top,.left-to-right,.right-to-left,.fade-in{opacity:1;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none}
	.story-cluster .section-wrap{opacity:0}
	.story-cluster.has-animated .section-wrap{opacity:1;transition:-webkit-transform opacity 500s ease 500ms;transition:opacity 500ms ease 500ms}

	.privacy{padding-left:10px;padding-right:10px}
}
@media screen and (max-width:640px){
	.prd-heading{font-size:22px}
	.prd-tit{font-size:18px}
	.button-prd{padding:8px 20px;font-size:12px}
	.has-frame .prd-tit{font-size:23px}
	.top-area .has-frame .prd-info{top:6%;right:4%}
	.top-area .has-frame .prd-img img{margin-top:23%}
	.middle-area .has-frame .prd-info{top:6%;right:4%}
	.middle-area .button-media span,
	.bottom-area .button-media span{font-size:18px}
}
@media screen and (max-width:480px){
	.story-cluster{font-size:3.8vw}
	.prd-heading{font-size:5.5vw}
	.prd-tit{font-size:4.5vw}
	.has-frame .prd-tit{font-size:5vw}
	.button-prd{padding:8px 18px;font-size:12px}
	.top-area .has-frame .prd-img img{margin-top:33%}
	.middle-area .has-frame .prd-img img{margin-top:32%}
	.middle-area .prd-frame{height:70.5%}
	.bottom-area .has-frame .prd-info{right:5.5%;bottom:-24%}
	.bottom-area .prd-second{margin-top:13px}
	.bottom-area .prd-second .button-media{left:3.5%;bottom:15%}
	.middle-area .button-media span, .bottom-area .button-media span{font-size:4.5vw}
}
@media screen and (max-width:320px){
	.story-cluster{font-size:4vw}
	.prd-heading{font-size:5.5vw}
	.prd-tit{font-size:4.3vw}
	.has-frame .prd-tit{font-size:6vw}
	.button-prd{padding:8px 20px;font-size:3vw}
	.top-area .has-frame .prd-info{top:10%;right:8%}
	.top-area .has-frame .prd-img img{margin-top:43.5%}
	.top-area .prd-second{padding-top:5%}
	.top-area .prd-second .prd-info{top:5%;left:3%}
	.middle-area .has-frame .prd-info{top:10%;right:8%}
	.middle-area .has-frame .prd-img img{margin-top:42%}
	.middle-area .prd-third{padding-bottom:0}
	.bottom-area .prd-frame{top:27%;height:130%}
	.bottom-area .has-frame.prd-item{padding-bottom:37%}
	.bottom-area .has-frame .prd-info{right:8%;bottom:-44%}
	.bottom-area .has-frame .prd-img img{margin-bottom:-10%}
	.bottom-area .prd-second .button-media{left:3.5%;bottom:15%}

}

/* single-p5 cluster */
.single-p5{max-height:770px;min-height:auto !important;height:auto;background:#fff;filter:none}
.single-p5.js-height-fit{min-height:558px !important;padding:0 !important}
.single-p5.odd{background:#FFFFFF}
.single-p5.even{background:#F5F5F5}
.single-p5.has-animated{opacity:1}
.single-p5 .section-wrap{position:relative;clear:both;max-width:1440px;height:100%;max-height:100%;margin:0 auto;padding:0;box-sizing:border-box}
.single-p5 .section-wrap:first-child{padding:0}
.single-p5 .section-wrap:after{display:block;content:'';clear:both}
.single-p5 .prd-item{position:relative;float:none;width:100%;height:auto;max-height:100%;overflow:hidden}
.single-p5 .prd-item:before{content:'';display:block;padding-top:53.3%}
.single-p5 .prd-text-area{position:absolute;top:0;left:0;right:0;bottom:0;width:41.8%;height:100%;padding-left:5%;padding-right:18px;box-sizing:border-box;vertical-align:middle}
.single-p5 .prd-vertical-wrap{position:relative;width:100%;top:50%;left:0;right:0;bottom:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.single-p5 .prd-img{position:absolute;top:0;left:0;right:0;bottom:50%;margin:0;width:57.4%;height:100%;overflow:hidden;text-align:center}
.single-p5 .prd-img img{width:auto;height:100%;position:absolute;left:0;bottom:0}
.single-p5 .prd-heading{position:absolute;top:3.5%;left:0;padding:0;width:100%;text-align:center;font-size:2.6vw;line-height:1}
.single-p5 .prd-heading strong{display:inline-block;font-weight:normal}
.single-p5 .prd-info{width:100%;max-width:100%;text-align:left;vertical-align:middle;position:static}
.single-p5 .prd-info .prd-tit{color:#000;font-size:4.58333vw;vertical-align:middle;text-transform:none;line-height:1.17;font-family:"SamsungSharpSans","Arial";font-weight:bold}
.single-p5 .prd-info .prd-txt{color:#000;margin-top:14px;margin-top:0.97222vw;font-size:20px;font-size:1.38889vw;line-height:1.4;font-family:"SamsungOne","Arial"}
.single-p5 .button-prd{display:inline-block;padding:0 25px;padding:0 1.73611vw;height:30.2px;height:2.35916vw;border:2px solid #000;-webkit-border-radius:5px;border-radius:5px;background-color:transparent;font-weight:700;-webkit-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out;-webkit-transition-property:background-color, border-color, color;-o-transition-property:background-color, border-color, color;transition-property:background-color, border-color, color;font-size:13px;font-size:0.90278vw;color:#000;line-height:31.7px;line-height:2.47712vw;text-transform:uppercase;letter-spacing:.1em;white-space:nowrap;font-family:"SamsungOne","Arial";margin-top:26px;margin-top:1.80556vw;margin-right:4%;box-sizing:content-box !important}
.single-p5 .button-prd:last-child{margin-right:0}
.single-p5 .button-prd:hover, .single-p5 .button-prd:focus, .single-p5 .button-prd:active{border-color:#5f5f5f;background-color:#5f5f5f;color:#fff}
.single-p5 .prd-img.prd-align-left{text-align:left}
.single-p5 .prd-img.prd-align-right{text-align:right}

html[lang^="ko"] .single-p5 .button-prd{line-height:2.54892vw} /* height * 1.08 */

html[lang^="th"] .single-p5 .prd-info .prd-tit .font-local{font-size:6.18745vw;line-height:0.936} /* 135% */
html[lang^="th"] .single-p5 .prd-info .prd-txt{font-size:30px;font-size:2.08335vw;line-height:1.12} /* 150% */
html[lang^="th"] .single-p5 .button-prd{font-size:1.44448vw} /* 160% */

.single-p5 .type-left,
.single-p5 .type-right{padding:0}

.single-p5 .type-left .prd-img,
.rtl .single-p5 .type-right .prd-img{left:0;right:auto}

.single-p5 .type-left .prd-text-area,
.rtl .single-p5 .type-right .prd-text-area{right:0;left:auto}

.single-p5 .type-right .prd-img,
.single-p5 .type-right .prd-img img,
.rtl .single-p5 .type-left .prd-img,
.rtl .single-p5 .type-left .prd-img img{right:0;left:auto}

.single-p5 .type-right .prd-text-area,
.rtl .single-p5 .type-left .prd-text-area{left:0;right:auto}

.rtl .single-p5 *{direction:rtl}
.rtl .single-p5 .prd-info{text-align:right}
.rtl .single-p5 .prd-text-area{padding-right:4.17%;padding-left:24px}
.rtl .single-p5 .button-prd{margin-left:4%;margin-right:0}
.rtl .single-p5 .button-prd:last-child{margin-left:0}

.lt-ie8 .single-p5 .prd-vertical-wrap{top:0}
.lt-ie8 .single-p5 .type-right .prd-vertical-wrap,
.lt-ie8 .single-p5 .type-left .prd-vertical-wrap{top:50px}

@media (min-width:1440px){
	.single-p5 .prd-info .prd-tit{font-size:66px}
	.single-p5 .prd-info .prd-txt{font-size:20px}
	.single-p5 .button-prd{margin-top:26px}
	.single-p5 .prd-info .prd-txt{margin-top:14px}
	.single-p5 .button-prd{font-size:13px;padding:0 25px;height:35px;line-height:36.75px}

	html[lang^="ko"] .single-p5 .button-prd{line-height:37.8px} /* height * 1.08 */

	html[lang^="th"] .single-p5 .prd-info .prd-tit .font-local{font-size:89.1px} /* 135% */
	html[lang^="th"] .single-p5 .prd-info .prd-txt{font-size:28.6px} /* 155% */
	html[lang^="th"] .single-p5 .button-prd{font-size:20.8px} /* 160% */
}

@media screen and (max-width:1024px){
	body{background-color:#fff}
	.single-p5, .single-p5.js-height-fit{max-height:auto !important;height:auto !important}
	.single-p5 .type-right{padding:0}
	.single-p5 .type-left{padding:0}
	.single-p5 .prd-info .prd-txt{font-size:18px;font-size:1.75781vw}
	.single-p5 .button-prd{height:2.61485vw;line-height:2.74559vw;font-size:12px;font-size:1.17188vw}

	html[lang^="ko"] .single-p5 .button-prd{line-height:2.82403vw} /* height * 1.08 */
	html[lang^="th"] .single-p5 .prd-info .prd-txt{font-size:27.9px;font-size:2.7246vw}  /* 155% */
}

@media screen and (max-width:768px){
	.single-p5__text{padding:69.12px 34.13333px 42.66667px;padding:9vw 4.44444vw 5.55556vw}
	.single-p5{max-height:inherit}
	.single-p5:before, .single-p5:after{content:'';display:block;clear:both}
	.single-p5 .prd-text-area{position:static;width:auto;height:100%;top:0;bottom:0;text-align:center;white-space:normal;padding:45.46px 17.06px;padding:9vw 4.44444vw 5.55556vw}
	.single-p5 .prd-text-area:after{}
	.single-p5 .section-wrap{padding:0;margin:0}
	.single-p5 .prd-vertical-wrap{position:static;top:0%;left:0;right:0;bottom:0;-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);box-sizing:border-box}
	.single-p5 .prd-item{margin:0;max-height:inherit}
	.single-p5 .prd-item:before{display:none}
	.single-p5 .prd-img{width:100%;padding:0;box-sizing:border-box;position:static;height:100%}
	.single-p5 .prd-img img{position:inherit;height:auto;width:100%}
	.single-p5 .prd-info,
	.single-p5 .prd-heading{text-align:center}
	.btn-prev, .btn-next{display:none}
	.single-p5 .prd-info .prd-tit{font-size:68.17px;font-size:8.88888vw}
	.single-p5 .prd-info .prd-txt{margin-top:46.93333px;margin-top:6.11111vw;font-size:34.08px;font-size:4.44444vw}
	.single-p5 .button-prd{margin-top:38.4px;margin-top:5vw;padding:0 25.6px;padding:0 3.33333vw;height:27.717px;height:7.69922vw;line-height:29.1px;line-height:8.08418vw;font-size:25.6px;font-size:3.33333vw}

	html[lang^="ko"] .single-p5 .button-prd{line-height:8.31516vw} /* height * 1.08 */

	html[lang^="th"] .single-p5 .prd-info .prd-tit .font-local{font-size:129.6px;font-size:16.875vw} /* 135% */
	html[lang^="th"] .single-p5 .prd-info .prd-txt{font-size:34.56px;font-size:7.5vw} /* 155% */
	html[lang^="th"] .single-p5 .button-prd{font-size:40.96px;font-size:5.3328vw} /* 160% */

	.rtl .single-p5{max-height:inherit}
	.rtl .single-p5 .section-wrap:before, .single-p5 .section-wrap:after{content:'';display:block;clear:both}
	.rtl .single-p5 .prd-text-area:after{display:inline-block;height:100%;vertical-align:middle;content:''}
	.rtl .single-p5 .section-wrap{padding:0;margin:0}
	.rtl .single-p5 .prd-vertical-wrap{position:static;top:0%;left:0;right:0;bottom:0;-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);box-sizing:border-box}
	.rtl .single-p5 .prd-item{margin:0;max-height:inherit}
	.rtl .single-p5 .prd-item:before{display:none}
	.rtl .single-p5 .prd-img{width:100%;padding:0;box-sizing:border-box;position:static;height:100%}
	.rtl .single-p5 .button-prd{margin-top:20px}
	.rtl .single-p5 .prd-text-area{position:static;width:auto;height:100%;top:0;bottom:0;text-align:center;white-space:normal;padding:11.38889vw 4.44444vw 5.55556vw}
	.rtl .single-p5 .prd-info,
	.rtl .single-p5 .prd-headin{text-align:center}
	.rtl .btn-prev, .btn-next{display:none}

	/* Note7 Cluster Size 160810 */
	style + .single-p5 .prd-text-area:after,
	link + .single-p5 .prd-text-area:after,
	.single-p5:first-child .prd-text-area:after,
	.single-p5.note7 .prd-text-area:after,
	.single-p5.single-area.video-KV .prd-text-area:after{display:inline-block;vertical-align:middle;content:''}
	style + .single-p5 .prd-img,
	link + .single-p5 .prd-img,
	.single-p5:first-child .prd-img,
	.single-p5.note7 .prd-img,
	.single-p5.single-area.video-KV .prd-img{overflow:visible}
	style + .single-p5 .prd-img img,
	link + .single-p5 .prd-img img,
	.single-p5:first-child .prd-img img,
	.single-p5.note7 .prd-img img,
	.single-p5.single-area.video-KV .prd-img img{margin-top:-15%}
	html.sitecd-sec .single-p5 .prd-img img{margin-top:inherit} /* 한총 초기화 */
	style + .single-p5 .prd-text-area,
	link + .single-p5 .prd-text-area,
	.single-p5:first-child .prd-text-area,
	.single-p5.note7 .prd-text-area,
	.single-p5.single-area.video-KV .prd-text-area{position:relative;z-index:10;padding:7vw 1vw 0 !important}
	style + .single-p5 .prd-info .prd-txt,
	link + .single-p5 .prd-info .prd-txt,
	.single-p5:first-child .prd-info .prd-txt,
	.single-p5.note7 .prd-info .prd-txt,
	.single-p5.single-area.video-KV .prd-info .prd-txt{margin-top:0.7vw}
	style + .single-p5 .button-prd,
	link + .single-p5 .button-prd,
	.single-p5:first-child .button-prd,
	.single-p5.note7 .button-prd,
	.single-p5.single-area.video-KV .button-prd{margin-right:2% !important;padding-left:2vw !important;padding-right:2vw !important}
}

/* for IE9 */
@media screen and (max-width:360px){
	.single-p5__text{padding:41px 16px 20px}
	.single-p5 .prd-text-area{padding:28.8px 7.99px 9px;padding:8vw 4vw 2.5vw}
	.single-p5 .prd-info .prd-tit{font-size:32px;font-size:8.88888vw;min-height:40px;min-height:11.11vw;}
	.single-p5 .prd-info .prd-txt{margin-top:6.34px;margin-top:1.76vw;font-size:16px;font-size:4.44444vw}
	.single-p5 .button-prd{margin-top:18px;margin-top:3vw;font-size:12px;font-size:3.33333vw}
	html[lang^="th"] .single-p5 .prd-info .prd-tit .font-local{font-size:129.6px;font-size:16.875vw} /* 135% */
	html[lang^="th"] .single-p5 .prd-info .prd-txt{font-size:30px;font-size:7.5vw} /* 155% */
	html[lang^="th"] .single-p5 .button-prd{height:27.717px;height:7.69922vw;line-height:29.1px;line-height:8.08418vw;font-size:19.2px;font-size:5.3328vw} /* 160% */
}

@media (-webkit-min-device-pixel-ratio:1.2) and (max-width:767px){
	.single-p5 .button-prd{line-height:8.39128vw} /* height * 1.09 */
	html[lang^="ko"] .single-p5 .button-prd{line-height:8.469142vw} /* height * 1.1 */
}
/* end single-p5 cluster */