@charset "utf-8";

/* FONTS : Custom Samsung font. */
@font-face {font-family:"samsungIcon";src:url("/common/next/font/samsungIcon.woff") format("woff"),url("/common/next/font/samsungIcon.ttf") format("truetype"),url("/common/next/font/samsungIcon.svg#samsung") format("svg");font-weight:normal;font-style:normal}

@font-face {font-family:"SamsungIFRg";src:url("/common/next/font/SamsungIF_Rg.woff") format("woff"),url("/common/next/font/SamsungIF_Rg.ttf") format("truetype"),url("/common/next/font/SamsungIF_Rg.svg#SamsungIF_Rg") format("svg");font-weight:normal;font-style:normal}
@font-face {font-family:"SamsungIFBd";src:url("/common/next/font/SamsungIF_Bd.woff") format("woff"),url("/common/next/font/SamsungIF_Bd.ttf") format("truetype"),url("/common/next/font/SamsungIF_Bd.svg#SamsungIF_Bd") format("svg");font-weight:normal;font-style:normal}
@font-face {font-family:"SamsungIFBlk";src:url("/common/next/font/SamsungIF_Blk.woff") format("woff"),url("/common/next/font/SamsungIF_Blk.ttf") format("truetype"),url("/common/next/font/SamsungIF_Blk.svg#SamsungIF_Blk") format("svg");font-weight:normal;font-style:normal}

@font-face {font-family:"SamsungSharpSans";src:url("/common/font/SamsungSharpSansRg.woff") format("woff"),url("/common/font/SamsungSharpSansRg.ttf") format("truetype"),url("/common/font/SamsungSharpSansRg.svg#SamsungSharpSansRg") format("svg");font-weight:300; font-style:normal}
@font-face {font-family:"SamsungSharpSans";src:url("/common/font/SamsungSharpSansMd.woff") format("woff"),url("/common/font/SamsungSharpSansMd.ttf") format("truetype"),url("/common/font/SamsungSharpSansMd.svg#SamsungSharpSansMd") format("svg");font-weight:normal;font-style:normal}
@font-face {font-family:"SamsungSharpSans";src:url("/common/font/SamsungSharpSansBd.woff") format("woff"),url("/common/font/SamsungSharpSansBd.ttf") format("truetype"),url("/common/font/SamsungSharpSansBd.svg#SamsungSharpSansBd") format("svg");font-weight:bold;font-style:normal}

@font-face {font-family:"SamsungOne";src:url("/common/font/SamsungOneLt.woff") format("woff"),url("/common/font/SamsungOneLt.ttf") format("truetype"),url("/common/font/SamsungOneLt.svg#SamsungOneLt") format("svg");font-weight:normal;font-style:normal}
@font-face {font-family:"SamsungOne";src:url("/common/font/SamsungOneRg.woff") format("woff"),url("/common/font/SamsungOneRg.ttf") format("truetype"),url("/common/font/SamsungOneRg.svg#SamsungOneRg") format("svg");font-weight:bold;font-style:normal}

@font-face {font-family:"SamsungOneArabic";src:url("/common/font/SamsungOneArabicLt.woff") format("woff"),url("/common/font/SamsungOneArabicLt.ttf") format("truetype"),url("/common/font/SamsungOneArabicLt.svg#SamsungOneArabicLt") format("svg");font-weight:normal;font-style:normal}
@font-face {font-family:"SamsungOneArabic";src:url("/common/font/SamsungOneArabicRg.woff") format("woff"),url("/common/font/SamsungOneArabicRg.ttf") format("truetype"),url("/common/font/SamsungOneArabicRg.svg#SamsungOneArabicRg") format("svg");font-weight:bold;font-style:normal}

@font-face {font-family:"SamsungOneHebrew";src:url("/common/font/SamsungOneHebrewLt.woff") format("woff"),url("/common/font/SamsungOneHebrewLt.ttf") format("truetype"),url("/common/font/SamsungOneHebrewLt.svg#SamsungOneHebrewLt") format("svg");font-weight:normal;font-style:normal}
@font-face {font-family:"SamsungOneHebrew";src:url("/common/font/SamsungOneHebrewRg.woff") format("woff"),url("/common/font/SamsungOneHebrewRg.ttf") format("truetype"),url("/common/font/SamsungOneHebrewRg.svg#SamsungOneHebrewRg") format("svg");font-weight:bold;font-style:normal}

@font-face {font-family:"SamsungOneSCN";src:url("/common/font/SamsungOneSCN-450.woff") format("woff"),url("/common/font/SamsungOneSCN-450.ttf") format("truetype"),url("/common/font/SamsungOneSCN-450.svg#SamsungOneSCN-450") format("svg");font-weight:normal;font-style:normal}
@font-face {font-family:"SamsungOneSCN";src:url("/common/font/SamsungOneSCN-600.woff") format("woff"),url("/common/font/SamsungOneSCN-600.ttf") format("truetype"),url("/common/font/SamsungOneSCN-600.svg#SamsungOneSCN-600") format("svg");font-weight:bold;font-style:normal}

@font-face {font-family:"SamsungOneTCN";src:url("/common/font/SamsungOneTCN-450.woff") format("woff"),url("/common/font/SamsungOneTCN-450.ttf") format("truetype"),url("/common/font/SamsungOneTCN-450.svg#amsungOneTCN-450") format("svg");font-weight:normal;font-style:normal}
@font-face {font-family:"SamsungOneTCN";src:url("/common/font/SamsungOneTCN-600.woff") format("woff"),url("/common/font/SamsungOneTCN-600.ttf") format("truetype"),url("/common/font/SamsungOneTCN-600.svg#SamsungOneTCN-600") format("svg");font-weight:bold;font-style:normal}