@charset "utf-8";

.single-area.skin-unpack1608{height:100%;background:#fff;opacity:0;min-height:inherit !important;max-height:720px;filter:none}
.single-area.skin-unpack1608.has-animated{opacity:1}
.single-area.skin-unpack1608 .section-wrap{max-height:100%}
.single-area.skin-unpack1608 .prd-item{max-height:700px;float:none;width:100%}
.single-area.skin-unpack1608 .prd-item:before{content:'';display:block;padding-top:58.4%}
.single-area.skin-unpack1608 .prd-text-area{position:absolute;height:50%;top:50%;left:auto;right:0;bottom:0}
.single-area.skin-unpack1608 .prd-vertical-wrap{position:relative;width:100%;top:50%;left:0;right:0;bottom:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.single-area.skin-unpack1608 .prd-img{position:absolute;top:0;left:0;right:0;bottom:50%}
.single-area.skin-unpack1608 .button-prd{margin-top:3%;margin-right:2%}
.single-area.skin-unpack1608 .button-prd:hover,
.single-area.skin-unpack1608 .button-prd:focus{border-color:#000;background-color:#000;color:#fff !important;}
.single-area.skin-unpack1608 .prd-heading{width:100%;text-align:center;font-size:2.6vw;line-height:1;padding:0;position:absolute;top:0;left:0}
.single-area.skin-unpack1608 .prd-heading strong{display:inline-block;font-weight:normal}
.single-area.skin-unpack1608 .prd-img{width:100%;margin:0;overflow:hidden;text-align:center}
.single-area.skin-unpack1608 .prd-info{width:100%;max-width:100%;text-align:center;display:table;vertical-align:middle;position:static}
.single-area.skin-unpack1608 .prd-info .prd-tit{font-size:4.2vw;display:table-row;vertical-align:middle;text-transform:none;line-height:120%}
.single-area.skin-unpack1608 .prd-info .prd-txt{margin-top:1.6%;font-size:1.8vw}
.single-area.skin-unpack1608 .prd-img.prd-align-left{text-align:left}
.single-area.skin-unpack1608 .prd-img.prd-align-right{text-align:right}

.single-area.skin-unpack1608 .type-1 .prd-img{bottom:45.5%}
.single-area.skin-unpack1608 .type-1 .prd-heading{top:5%}
.single-area.skin-unpack1608 .type-1 .prd-text-area{top:54.5%;height:45%}
.single-area.skin-unpack1608 .type-1 .prd-info{padding-top:2%}

.single-area.skin-unpack1608 .type-2 .prd-text-area{top:0;height:45%}
.single-area.skin-unpack1608 .type-2 .prd-heading{top:9%}
.single-area.skin-unpack1608 .type-2 .prd-info{padding-top:2%}
.single-area.skin-unpack1608 .type-2 .prd-img{top:45.5%;bottom:0}

.single-area.skin-unpack1608 .type-3{padding:0}
.single-area.skin-unpack1608 .type-3 .prd-heading{position:absolute;top:3.5%;left:0;text-align:left}
.single-area.skin-unpack1608 .type-3 .prd-img{width:50%;height:89%;top:11%;left:0;right:auto}
.single-area.skin-unpack1608 .type-3 .prd-img img{width:100%;height:auto;position:absolute;left:0;bottom:0}
.single-area.skin-unpack1608 .type-3 .prd-text-area{width:49%;right:0;top:10%;height:80%}
.single-area.skin-unpack1608 .type-3 .prd-info{text-align:left}
.single-area.skin-unpack1608 .type-3 .prd-tit{font-size:60px;display:table-row;vertical-align:middle;text-transform:none;line-height:120%;color:#000;font-family:'SamsungSharpSans','SmasungOne',arial;font-weight:bold}
.single-area.skin-unpack1608 .type-3 .prd-tit span{display:block}
.single-area.skin-unpack1608 .type-3 .prd-txt{font-family:'SamsungOneLt';font-size:22px;color:#5f5f5f;line-height:28px;margin-top:10px}
.single-area.skin-unpack1608 .type-3 .prd-txt span{display:block}
.single-area.skin-unpack1608 .type-3 .button-prd{margin-top:35px;text-transform:uppercase;border:2px solid #000;border-radius:5px;color:#000;font-family:'SamsungOneLt';font-size:13px}

html[lang^="fa"] .single-area.skin-unpack1608 .type-3 .prd-tit,
html[lang^="he"] .single-area.skin-unpack1608 .type-3 .prd-tit,
html[lang^="ar"] .single-area.skin-unpack1608 .type-3 .prd-tit{font-family:'SamsungSharpSans','tahoma', arial !important}
html[lang^="th"] .single-area.skin-unpack1608 .type-3 .prd-tit{font-family:'SamsungSharpSans','pslKittithadabold', arial !important;font-size:60px !important;line-height:120% !important}
html[lang^="vi"] .single-area.skin-unpack1608 .type-3 .prd-tit{font-family:'SamsungSharpSans_Bd','SmasungOne', arial !important}
html[lang^="zh-"] .single-area.skin-unpack1608 .type-3 .prd-tit{font-family:'SamsungSharpSans','Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif' !important}

html[lang^="fa"] .single-area.skin-unpack1608 .type-3 .prd-txt,
html[lang^="ar"] .single-area.skin-unpack1608 .type-3 .prd-txt{font-family:'SamsungOneLt','samsungOneArabic',arial !important}
html[lang^="he"] .single-area.skin-unpack1608 .type-3 .prd-txt{font-family:'SamsungOneLt','samsungOneHebrew',arial !important}
html[lang="zh"] .single-area.skin-unpack1608 .type-3 .prd-tit{font-family:'SamsungOneLt','Microsoft Yahei', arial !important}
html[lang^="zh-"] .single-area.skin-unpack1608 .type-3 .prd-txt{font-family:'SamsungOneLt','Microsoft JhengHei', '微軟正黑體', 'Arial', 'sans-serif' !important}

.single-area.skin-unpack1608 .type-4{padding:0}
.single-area.skin-unpack1608 .type-4 .prd-heading{position:absolute;top:3.5%;left:0;text-align:left}
.single-area.skin-unpack1608 .type-4 .prd-img{width:53%;height:89%;top:11%;left:0}
.single-area.skin-unpack1608 .type-4 .prd-img img{width:100%;height:auto;position:absolute;left:0;bottom:0}
.single-area.skin-unpack1608 .type-4 .prd-text-area{width:44%;right:0;left:auto;top:11%;height:89%}
.single-area.skin-unpack1608 .type-4 .prd-info{text-align:left}
.single-area.skin-unpack1608 .type-4 .prd-txt{margin-top:4%}
.single-area.skin-unpack1608 .type-4 .button-prd{margin-top:8%}

.lt-ie8 .single-area.skin-unpack1608 .prd-vertical-wrap{top:0}
.lt-ie8 .single-area.skin-unpack1608 .type-2 .prd-text-area,
.lt-ie8 .single-area.skin-unpack1608 .type-3 .prd-vertical-wrap,
.lt-ie8 .single-area.skin-unpack1608 .type-4 .prd-vertical-wrap{top:50px}

@media screen and (max-width:1280px){
	.single-area.skin-unpack1608 .type-3 .prd-tit{font-size:50px}
	.single-area.skin-unpack1608 .type-3 .prd-txt{font-size:18px;line-height:120%}
	.single-area.skin-unpack1608 .type-3 .button-prd{margin-top:30px}
}
@media screen and (max-width:1024px){
	body{background-color:#fff}
	.single-area.skin-unpack1608{max-height:600px}
	.single-area.skin-unpack1608 .section-wrap{padding:0 20px 0;margin:0}
	.single-area.skin-unpack1608 .type-1{padding:0}
	.single-area.skin-unpack1608 .type-2{padding:0}
	.single-area.skin-unpack1608 .type-3{padding:0}
	.single-area.skin-unpack1608 .type-4{padding:0}
	.single-area.skin-unpack1608 .prd-info .prd-txt{font-size:1.6vw}
	.single-area.skin-unpack1608 .type-2 .prd-info{padding-top:4%}
	.single-area.skin-unpack1608 .type-3 .prd-tit{font-size:40px}
	.single-area.skin-unpack1608 .type-3 .prd-txt{font-size:14px;line-height:120%}
	.single-area.skin-unpack1608 .type-3 .button-prd{font-size:12px;margin-top:20px}
	.single-area.skin-unpack1608 .type-3 .prd-img {width:45%}
}

@media screen and (max-width:767px){
	.single-area.skin-unpack1608{min-height:468px;height:auto;max-height:1000px}
	.single-area.skin-unpack1608 .section-wrap{padding:0;margin:0}
	.single-area.skin-unpack1608 .prd-item{margin:0;height:auto;max-height:1000px}
	.single-area.skin-unpack1608 .prd-item:before{display:none}
	.single-area.skin-unpack1608 .prd-img{height:auto;position:static;text-align:center}
	.single-area.skin-unpack1608 .prd-img img,
	.single-area.skin-unpack1608 .type-2 .prd-img img,
	.single-area.skin-unpack1608 .type-3 .prd-img img,
	.single-area.skin-unpack1608 .type-4 .prd-img img{width:100%;height:auto;position:static;box-sizing:border-box}
	.single-area.skin-unpack1608 .prd-text-area,
	.single-area.skin-unpack1608 .type-1 .prd-text-area,
	.single-area.skin-unpack1608 .type-2 .prd-text-area{height:253px;position:relative}
	.single-area.skin-unpack1608 .prd-heading{font-size:16px}
	.single-area.skin-unpack1608 .prd-info .prd-tit{font-size:33px;line-height:90%}
	.single-area.skin-unpack1608 .prd-info .prd-txt{font-size:12px;display:block;line-height:130%;width:90%;margin:2% auto 0}
	.single-area.skin-unpack1608 .button-prd{margin-top:20px}
	.single-area.skin-unpack1608 .type-3 .prd-heading{top:5%}
	.single-area.skin-unpack1608 .type-4 .prd-heading{top:50%}
	.single-area.skin-unpack1608 .type-3 .prd-text-area,
	.single-area.skin-unpack1608 .type-4 .prd-text-area{width:100%;height:290px;position:static;text-align:center}
	.single-area.skin-unpack1608 .type-3 .prd-img,
	.single-area.skin-unpack1608 .type-4 .prd-img{width:100%;position:static;text-align:center}
	.single-area.skin-unpack1608 .type-3 .prd-info,
	.single-area.skin-unpack1608 .type-3 .prd-heading,
	.single-area.skin-unpack1608 .type-4 .prd-info,
	.single-area.skin-unpack1608 .type-4 .prd-heading{text-align:center}
	.single-area.skin-unpack1608 .type-1 .button-prd,
	.single-area.skin-unpack1608 .type-2 .button-prd,
	.single-area.skin-unpack1608 .type-3 .button-prd,
	.single-area.skin-unpack1608 .type-4 .button-prd{margin-top:20px}
	.single-area.skin-unpack1608 .type-3 .prd-info{padding-top:4%}
	.single-area.skin-unpack1608 .type-4 .prd-info{padding-top:2%}
	.single-area.skin-unpack1608 .type-3 .prd-info .prd-tit{line-height:43px;width:90%;margin:0 auto;display:block}
	.single-area.skin-unpack1608 .type-1 .prd-img img,
	.single-area.skin-unpack1608 .type-2 .prd-img img{position:relative;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
	.btn-prev, .btn-next{display:none}
	.single-area.skin-unpack1608 .type-3 .prd-txt span{display:inline}
	.single-area.skin-unpack1608 .type-3 .prd-txt {margin-top:30px;font-size:20px;line-height:1.4}
	.single-area.skin-unpack1608 .type-3 .prd-tit span{display:inline}
	.single-area.skin-unpack1608 .type-3 .prd-tit {font-size:38px;line-height:1.4}
}
@media screen and (max-width:360px){
	.single-area.skin-unpack1608 .type-3 .prd-text-area, .single-area.skin-unpack1608 .type-4 .prd-text-area{height:320px}
}

/* rtl */
html.rtl .single-area.skin-unpack1608 .type-3 .prd-img{left:0;right:auto}
html.rtl .single-area.skin-unpack1608 .type-3 .prd-text-area{right:0;left:auto}
html.rtl .single-area.skin-unpack1608 .type-3 .prd-info{text-align:right}
html.rtl .single-area.skin-unpack1608 .button-prd{margin-right:0;margin-left:2%}
@media screen and (max-width:767px){
	html.rtl .single-area.skin-unpack1608 .type-3 .prd-info{text-align:center}
}

/* video KV */
.single-area.video-KV.on{max-height:720px}
.single-area.video-KV.on .videoKV{display:block}
.single-area.video-KV.on .prd-item {display:none}

.videoKV{display:none;position:relative;top:0;left:0;width:100%;height:auto;z-index:10;box-sizing:content-box}
.videoKV:after{content:'';display:block;padding-top:56.25%;} /* 16:9 */
.videoKV iframe{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;border:0}
.videoKV #brightCoveArea2{z-index:5}
.videoKV .btn_videoKV_close{position:absolute;right:25px;top:25px;overflow:hidden;width:32px;height:32px;background:url(/common/img/btn-vedeo-close.png) no-repeat 50% 50%;line-height:100px;font-size:1px;z-index:10;opacity:1}

.videoKV .bc-cplayer-control{position:absolute !important;bottom:0 !important;top:auto !important}
.videoKV .bc-cplayer-container{display:block !important;position:absolute;top:0;left:0;right:0;bottom:0}
.videoKV .bc-cplayer-container #bc0_holder{display:block !important}
.videoKV .bc-cplayer-container .video{top:0}
.videoKV .bc-cplayer-container .video object{position:absolute}
.videoKV #brightCoveArea2 > object{position:absolute} /* for iphone */
@media screen and (max-width:1024px) {
	.videoKV .btn_videoKV_close{top:0;right:0;width:44px;height:44px;background-image:url(/common/img/btn-vedeo-close-2x.png);background-size:21px auto}
}

/* brightcove video KV */
/* .video-open .story-cluster.skin-unpack1608 .section-wrap{padding:56.25% 0 0} */
/* .video-open .story-cluster.skin-unpack1608 .prd-item{display:none} */
/*.video-open .story-cluster.skin-unpack1608, .video-open .section-wrap{position:relative}*/
.video-open .story-cluster.skin-unpack1608 .section-wrap{position:relative}
.skin-unpack1608 .video-area{position:absolute;top:0;left:0;bottom:auto;width:100%;height:100%;z-index:10;display:none;padding-bottom:56.25%;height:0}
.skin-unpack1608 .video-area:before{display:none}
.skin-unpack1608 .video-wrap{
	position:inherit;
	display:inherit;
	vertical-align:inherit;
	zoom:1;
	*display:inherit;
	*vertical-align:inherit;
	vertical-align:inherit;
	width:100%;
	height:100%;
	max-width:inherit;
	top:auto !important;
	left:auto !important;
	background-color:#fff;
}
.skin-unpack1608 .video-wrap .button-close{right:24px;top:25px;background:url(/common/img/btn-vedeo-close.png) no-repeat 50% 50%}

/* LayerPopup */
.modal-open{overflow:hidden}
.modal-open #wrap{height:100%}
.modal-open #wrap:after{position:fixed;left:0;top:0;right:0;bottom:0;background-color:#000;opacity:.66;content:'';z-index:1021}
.modal-open #oo_tab{z-index:0}

.popup-unpack2016{position:absolute;z-index:9999;display:block;background:#000;border:1px solid #999}
.popAlign.popup-unpack2016 .icon-close-x{background:url(/common/img/btn-vedeo-close.png) no-repeat 50% 50% !important}
.popup-fullheight .popup-unpack2016{position:fixed;top:0 !important;bottom:0 !important;height:100% !important;box-sizing:border-box}
.popup-fullheight .popup-unpack2016 .popup_wrap{height:100% !important}

.popup-unpack2016 .popup_wrap{overflow:hidden;padding:60px 30px 30px 30px;box-sizing:border-box}
.touch .popup-unpack2016 .popup_wrap{overflow-y:auto;-webkit-overflow-scrolling:touch}
.popup-unpack2016 iframe{position:relative;width:100%;height:100%;border:0;box-sizing:border-box}
.layer_popup .popup-unpack2016.skin-blk .close-button{position:absolute;right:25px;top:25px;overflow:hidden;width:32px;height:32px;background:url(/common/img/btn-vedeo-close.png) no-repeat 50% 50% !important;line-height:100px;font-size:1px;z-index:10}
@media screen and (max-width:586px){
	.popup-unpack2016{position:fixed;left:0 !important;top:0 !important;right:0;bottom:0;width:100%}
	.popup-unpack2016 .popup_wrap{width:100% !important;height:100% !important}
}
@media screen and (max-width:1024px){.layer_popup .popup-unpack2016.skin-blk .close-button{top:20px;right:20px;width:28px;height:28px;background-image:url(/common/img/btn-vedeo-close-2x.png) !important;background-size:18px auto}}

/* for IE */
#brightCoveArea2 span {display:inline !important}

/* fix bc html5 player */
#brightCoveArea2 .vjs-control-text{display:none !important;}
.single-area.video-KV.on {max-height: 810px; overflow: hidden;}
.vjs-big-play-button{left:0 !important; right:0 !important; top:0 !important; bottom:0 !important; margin: auto;}
.vjs-playing .vjs-big-play-button{display:none !important;}

.rtl .vjs-control-bar, .rtl .vjs-control-bar *{direction:ltr !important;}

