@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #fff;
    /*background: #232323;*/
    /*border: 0;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);*/
    /*-moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);*/
    /*box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);*/
    /*width: 183px;*/
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 183px;
    min-height: 33px;
    margin: 0;
    line-height: 1;
}

.pika-title {
    position: relative;
    text-align: center;
    padding: 2px;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 1px;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
}

.pika-ico-calendar {
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAHlBMVEX///9dXV1hYWFiYmJjY2NnZ2eCgoKYmJienp7///9HT2x4AAAACXRSTlMAGx8hISVCWV+HLSYGAAAAQUlEQVR42mWLQQrAMAzD1HRZ4v9/uGzJoKMCH4RtHtQB7SDg7pQVbRMcrCyFy1FWZ193/kKYLhSvjYCEGP/laTsLyYACTK0GwFIAAAAASUVORK5CYII=') no-repeat center transparent;
    width: 13px;
    height: 13px;
    margin: 0 4px 0 0;
    cursor: pointer;
    vertical-align: middle;
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: .8;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAAOVBMVEX9ihz9ix7+gw3+hA/+hRH/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQCw2TrmAAAAEnRSTlMAAAAAAAACSFV9i7TB4/j6+/5ydZ+GAAAAM0lEQVQI12NgZGTjFWBgYOAR4mNg5RISZGfgEBLiZGXgF+JmhZEQERawLDMzSCUTE1AXADqlAfzcR6evAAAAAElFTkSuQmCC');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAAKlBMVEX/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD/fQD1jKClAAAADXRSTlMAAkhVfYu0weP4+vv+Ck7a8QAAACtJREFUCNdj4OZgZGBg4ORlB5JMPLysQIqFl5cZSLHxcsFIsAhEFqISrAsAIfABH3YKT5QAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-container {
    overflow: hidden;
    height: 0;
}

.pika-container.animation {
    transition: all .5s;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    position: relative;
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table:before {
    border-top: 1px solid #979797;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -80px;
    position: absolute;
    top: 0;
    width: 160px;
}

.pika-table thead tr {
    display: table-row;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #fff;
    font-size: 13px;
    padding: 7px 2px 0;
    line-height: 18px;
    text-align: center;
}

.pika-button {
    background: #232323;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 85%;
    padding: 1px;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #ff6700;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #ff6700;
    box-shadow: inset 0 1px 3px #ff6700;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
}

.is-outside-current-month .pika-button {
    pointer-events: none;
    cursor: default;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #ff6700;
    box-shadow: none;
}
