body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
td {
	padding: 0px 0px 0px 0px;
}
th {
	padding: 0px 0px 0px 0px;
}
a {
	font-size: 13px;
	color: #000;
	text-decoration: none;
}
div#outsideContainer {
	width: 980px;
	margin: -8px auto 0;
}
div.topRegion {
	width: 100%;
	height: 64px;
	margin-bottom: 20px;
	border-bottom: 1px solid #fc0;
}
div#toptitle {
	width: 705px;
	float: left;
}
div#find {
	width: 275px;
	height: 64px;
	float: left;
	clear: right;
	background-image: url(../img/cerca_bkg.png);
	background-repeat: repeat-y;
}
div#find table {
	width: 275px;
	border-collapse: collapse;
	border-spacing: 0px;
	height: 64px;
	font-weight: bold;
}
div#find table tr.pix {
	height: 1px;
}
input#findField {
	width: 155px;
	height: 22px;
	margin-bottom: 3px;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #dcdcdc;
	background-color: #fff;
	color: black;
	background-image: url(../img/findField_bkg.png);
	background-position: top left;
	background-repeat: no-repeat;
}
div.mainMenu {
	width: 100%;
	clear: left;
	height: 260px;
	margin-bottom: 20px;
	background-image: url(../img/header_miur_05.png);
}
div.mainMenu_natale {
	width: 100%;
	clear: left;
	height: 300px;
	margin-bottom: 20px;
	background-image: url(../img/header_natale.jpg);
}
div.miurKeys {
	margin-left: 0px;
	width: 285px;
	height: 260px;
	float: left;
}
div.miurTable {
	padding-top: 11px;
	padding-left: 18px;
}
div.miurTable table {
	width: 100%;
}
div.miurKeys td {
	padding: 1px 0px 1px 0px;
}
div.miurKeys a, a:visited, a:hover, img {
	border: 0px;
	font-weight: bold;
}
div.rightKeyboard {
	width: 195px;
	height: 260px;
	float: left;
}
div.rightKeyboardTable {
	padding-top: 110px;
}
div.rightKeyboardTable table {
	width: 100%;
}
div.rightKeyboard td {
	height: 50px;
	vertical-align: middle;
}
div.rightKeyboard td.spazio21 {
	width: 21px;
}
div.rightKeyboard td.textLink {
	width: 148px;
}
div.rightKeyboard td.frecciaLink {
	width: 26px;
}
div.rightKeyboardTable a.nero, a.nero:visited, a.nero:hover, img {
	border: 0px;
	font-weight: bold;
}
div.rightKeyboardTable a.bianco, a.bianco:visited, a.bianco:hover, img {
	border: 0px;
	font-weight: bold;
	color: #FFF;
	padding-top: 0px;
}
div.leftRegion {
	width: 480px;
	float: left;
	margin-right: 20px;
}
div.centralRegion {
	width: 265px;
	float: left;
	margin-right: 20px;
}
div.rightRegion {
	width: 195px;
	float: left;
}
div.focusContent {
	width: 476px;
	border: 2px solid #e5e4e4;
}
div.focusContent table {
	background-image: url(../img/focus_back.png);
	background-repeat: no-repeat;
	background-position: 0px 48px;
}
div.focusContent table th {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	height: 40px;
}
div.focusContent table td {
	text-align: justify;
}
div.focusContent table img.foto {
	float: left;
	margin-top: 3px;
	margin-right: 10px;
	margin-bottom: 2px;
}
div.focusContent table img.freccia {
	float: left;
	margin-top: 0px;
	margin-right: 5px;
}
div.focusContent table a, a:hover, a:visited {
	font-weight: bold;
}
div.focusContent table td.follow {
	text-align: left;
	height: 36px;
}
div.inEvidenza {
	width: 480px;
}
div.inEvidenza table {
	margin-top: 13px;
}
div.inEvidenza th {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	height: 34px;
}
div.inEvidenza table td {
	text-align: left;
	padding-bottom: 12px;
}
div.inEvidenza table td.follow {
	text-align: left;
	height: 36px;
}
div.inEvidenza table a, a:hover, a:visited {
	font-weight: bold;
}
div.inEvidenza table img.freccia {
	float: left;
	margin-top: 0px;
	margin-right: 5px;
}
div.inEvidenza table td.txt_center {
	text-align:center;
	vertical-align:top;
}
div.salaStampa {
	background-color: #eaeaea;
	width: inherit;
}
div.salaStampa th {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	height: 50px;
}
div.salaStampa table td.content {
	text-align: left;
	padding-bottom: 20px;
}
div.salaStampa table a, a:hover, a:visited {
	font-weight: bold;
}
div.salaStampa table img.freccia {
	margin-bottom: 12px;
	vertical-align: top;
	margin-right: 5px;
}
table.movie th {
	background-color: #ccc;
	text-align: center;
}
table.movie td.didascalia {
	padding-top: 10px;
	padding-bottom: 10px;
	font-style: italic;
}
div.eMailCheck {
	width: 195px;
	height: 114px;
	background-image: url(../img/posta_elettronica_bg.gif);
	background-repeat: no-repeat;
}
div.eMailCheck th {
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	height: 30px;
}
div.eMailCheck table td {
	text-align: left;
}
div.eMailCheck table a, a:hover, a:visited {
	font-weight: bold;
}
div.eMailCheck table td.accedi {
	text-align: right;
	padding-right: 5px;
	height: 32px;
	font-weight: bold;
}
div.eMailCheck table img.freccia {
	vertical-align: middle;
	margin-left: 5px;
}
input#userName, input#passWord {
	width: 137px;
	height: 16px;
	margin-bottom: 3px;
	border-bottom: 0px;
	border-left: 2px solid #555;
	border-right: 0px;
	border-top: 2px solid #555;
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity: 0.6;
	color: black;
}
div.rightBannerUp {
	width: 195px;
	margin-top: 2px;
}
div.rightBannerUp img {
	margin-bottom: 2px;
}
div.rightBannerDown {
	width: 195px;
	margin-top: 12px;
}
div.rightBannerDown img {
	margin-bottom: 12px;
}
div#footer {
	margin-top: 20px;
	padding-top: 16px;
	width: 100%;
	border-top: 1px solid #000;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
	clear: both;
}
#outsideContainer #footer a {
	font-weight: normal;
}
#outsideContainer a:hover {
	text-decoration: underline;
}
.sfondo_news_1p {
	background-image: url(../img/numeridellascuola.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 265px;
	border: 2px solid #EAEAEA;
	background-position: 0px 0px;
}
#outsideContainer .centralRegion .movie tr .sfondo_news_1p p a {
	font-size: 16px;
	font-weight: bold;
}
/* ::::: http://jquerytools.org/media/css/standalone.css ::::: */



a:active {
	outline: medium none;
}
:focus {
}
/* ::::: http://jquerytools.org/media/css/tabs-slideshow.css ::::: */

.contimages {
	border: 2px solid #E4E4E4;
	height: 260px;
}
.images {
	position: relative;
	height: 230px;
	width: 480px;
	float: left;
	cursor: pointer;
}
.images div {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 7px;
	height: 256px;
	font-size: 12px;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 15px;
	visibility: visible;
}
.images h3 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(0,0,0);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.slidetabs {
	clear: both;
	margin-left: 70px;
	padding-top: -10px;
}
.slidetabs a {
	width: 8px;
	height: 8px;
	float: left;
	margin: 3px;
	display: block;
	font-size: 1px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../img/navigator.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.slidetabs a:hover {
	background-position: 0px -8px;
}
.slidetabs a.current {
	background-position: 0px -16px;
}
.forward, .backward {
	float: left;
	margin-top: 140px;
	background: url('hori_large.png') no-repeat scroll 0% 0% rgb(255, 255, 255);
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	font-size: 1px;
	text-indent: -9999em;
}
.forward {
	background-position: 0px -30px;
	clear: right;
}
.forward:hover {
	background-position: -30px -30px;
}
.forward:active {
	background-position: -60px -30px;
}
.backward:hover {
	background-position: -30px 0px;
}
.backward:active {
	background-position: -60px 0px;
}
#outsideContainer .leftRegion .images div p a {
	font-size: 13px;
	font-weight: bold;
}
#outsideContainer .leftRegion .images div p a:hover {
	text-decoration: underline;
}
#outsideContainer .leftRegion .images div p {
	margin-left: 160px;
}
h4 {
	color: #ABABAD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 15px;
}
/* --------- Content Slider del Focus ------- */
#sliderFrame {
	position: relative;
	width: 480px; /*center-aligned*/
	margin-top: 0;
	margin-bottom: 0;
	border: 2px solid #eaeaea;
}
#slider, #slider div.sliderInner {
	width: 480px;
	height: 210px;/* Must be the same size as the slider images */
}
#slider {
	position: relative;
	margin: 0 auto; /*center-aligned*/
	transform: translate3d(0, 0, 0);
	background-color: #fff;
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
/* image wrapper */
#slider a.imgLink, #slider div.video {
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position: absolute;
	width: 280px;
	height: auto;
	padding: 0px 0;/* 10px will increase the height.*/
	left: 180px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	margin-top: -40px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index: 3;
	overflow: hidden;
	font-size: 0;
}
#slider div.mc-caption-bg {
	/* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background: none;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2 {
	background: none;
}
#slider div.mc-caption {
	color: #000;
	z-index: 4;
	text-align: left;
	background: none;
	font-family: Arial;
	font-size: 12px;
}
/* ------ built-in navigation bullets wrapper ------*/
#slider div.navBulletsWrapper {
	top: 180px;/* Its position is relative to the #slider */
	left: 50px;
	text-align: center;
	background: none;
	position: absolute;
	z-index: 5;
	
}
/* each bullet */
#slider div.navBulletsWrapper div {
	width: 11px;
	height: 11px;
	font-size: 0;
	color: White;
	display: inline-block;
	*display:inline;
	zoom: 1;
	overflow: hidden;
	cursor: pointer;
	margin: 0 6px;/* set distance between each bullet*/
	background-color: transparent;
	background-image: url(../img/bullet.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#slider div.navBulletsWrapper div.active {
	background-position: 0 -11px;
}
/* --------- Others ------- */

#slider div.loading {
	width: 100%;
	height: 100%;
	background: transparent url(loading.gif) no-repeat 50% 50%;
	filter: alpha(opacity=60);
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
}
#slider img, #slider>b, #slider a>b {
	position: absolute;
	border: none;
	display: none;
}
#slider div.sliderInner {
	overflow: hidden;
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position: absolute;
	top: 0px;
	left: 15px;
}
#slider>a, #slider video, #slider audio {
	display: none;
}
#sliderFrame #slider {
	background-repeat: no-repeat !important;
	background-position: 15px 0px !important;
}
/* For generic page styles. Not for sliders. */


h2 {
	display: inline;
}
.div1, .div2 {
	width: 700px;
	margin: 0 auto;
}
.div1 {
	margin-top: 30px;
	margin-bottom: 60px;
	text-align: center;
	line-height: 20px;
}
.div1 P {
	font-size: 18px;
}
.div1 a, .div2 a {
	color: #07C;
}
.div1 a {
	margin: 0 8px;
}
.div1 a.current {
	color: black;
	text-decoration: none;
}
.div2 {
	margin-top: 70px;
}
.div2 li {
	padding-top: 6px;
	padding-bottom: 6px;
}
.green {
	color: Green;
}

#status {
	display: inline-block;
	margin-left: 26px;
	line-height: 50px;
	height: 50px;
	vertical-align: middle;
}
.code {
	border: dashed 1px #BCBCCB;
	padding: 8px 12px;
	background-color: #F3F3F9;
	white-space: pre;
	font-size: 12px;
	margin: 6px 0;
	overflow: auto;
}
.titolo_focus {
	font-size: 14px;
	font-weight: bold;
	padding-top: 22px !important;
}
#sliderFrame a {
	font-weight: bold;
	background-image: url(../img/freccettagialla_ombra.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}
#mainmenu {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	height: 260px;
}
#mainmenudx {
	background-image: url(../img/header_miurdx.png);
	background-repeat: no-repeat;
	height: 260px;
	float: right;
	background-position: 0px;
}
#outsideContainer .leftRegion #sliderFrame img {
	margin-left: 15px;
	padding-right: 10px;
	float:left;
}
#outsideContainer .leftRegion #sliderFrame p {
	padding-right: 10px;
	padding-top: 0px;
}
