@charset "utf-8";

/* ---------------------- GENERAL ---------------------- */
BODY {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	background: #f5f5f5;
	margin: 0px;
	padding: 0px;
	position: relative;
}

IMG {border: 0px;}
A IMG {vertical-align:top;}

DIV, FORM, INPUT, SELECT, TEXTAREA, BUTTON {
	margin: 0px;
	padding: 0px;
}
UL, OL {padding-left: 20px;}
IFRAME {
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/* ---------------------- BASICS ---------------------- */
.left {float: left;}
.right {float: right;}

.clear {
	float: none;
	clear: both;
	overflow: hidden;
	display: block;
}

.spacer {
	width: 1px;
	height: 1px;
	clip: rect(0px, 0px, 1px, 1px);
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

HR {
	background: #d4d4d4;
	color: #d4d4d4;
	clear: both;
	float: none;
	height: 1px;
	border: none;
	margin: 20px 0px 20px 0px;
}

/* ---------------------- HEADLINES ---------------------- */
H1 {
	font-size: 36px;
	line-height: 40px;
	font-weight: normal;
	margin: 0px 0px 15px 0px;
	display: block;
}

H1 .small {
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	font-style: italic;
	margin: 0px;
	display: block;
}

H1.medium {
	font-size: 24px;
	line-height: 26px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	display: block;
}

H2 {
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
}

H2.small {
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
}

H3 {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
}

H2.titleBlue, H2.titleBlue *,
H3.titleBlue, H3.titleBlue * {
	color: #034ea2 !important;
}

H2.titleRed, H2.titleRed *,
H3.titleRed, H3.titleRed * {
	color: #ed1c24 !important;
}

.teaserBasic H3.titleBlue, .teaserBasic H3.titleRed {
	margin: 0px 0px 10px 0px;
}

.teaserBasic .teaserHeader H3 {
	float: left;
	margin-right: 20px;
}

H3.medium {
	font-size: 16px;
	line-height: 20px;
}

H3.small {
	font-size: 14px;
	line-height: 18px;
}

H4 {
	margin: 0px 0px 5px 0px;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
}

/* ---------------------- ABSTÄNDE ---------------------- */
.h0 {height: 0px !important;}
.h4 {height: 4px !important;}
.h5 {height: 5px !important;}
.h6 {height: 6px !important;}
.h10 {height: 10px !important;}
.h15 {height: 15px !important;}
.h20 {height: 20px !important;}
.h30 {height: 30px !important;}
.h40 {height: 40px !important;}

/* ---------------------- TEXTFORMATIERUNG ---------------------- */
.bold, .Bold {font-weight: bold !important;}
.normal {font-weight: normal !important;}
.italic {font-style: italic !important;}

.txtdecNone {text-decoration: none !important;}
.txtdecUnder {text-decoration: underline !important;}

.txtUppercase {text-transform: uppercase;}

.txtCenter {text-align: center !important;}
.txtLeft {text-align: left !important;}
.txtRight {text-align: right !important;}

.txtRed {color: #ed1c24 !important;}
.txtBlack {color: #000000 !important;}
.txtBlue {color: #034ea2 !important;}
.txtWhite {color: #ffffff !important;}

.greyLine {
	width: 100%;
	height: 1px;
	display: block;
	clear: both;
	background: #a6a6a6;
}

.txt12 {
	font-size: 12px !important;
	line-height: normal;
}

.txt13 {
	font-size: 13px !important;
	line-height: normal;
}

.txt16 {
	font-size: 16px !important;
	line-height: 18px !important;
}

.txt18 {
	font-size: 18px !important;
	line-height: 22px !important;
}

.txt22 {
	font-size: 22px !important;
	line-height: 24px !important;
}

.lh24 {line-height:24px !important;}

.mt0 {margin-top: 0px !important;}
.mt2 {margin-top: 2px !important;}
.mt3 {margin-top: 3px !important;}
.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}

.mr0 {margin-right: 0px !important;}
.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr11 {margin-right: 11px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}

.mb0 {margin-bottom: 0px !important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}

.ml0 {margin-left: 0px !important;}
.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}

.pt0 {padding-top: 0px !important;}
.pt3 {padding-top: 3px !important;}
.pt5 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}

.pr0 {padding-right: 0px !important;}
.pr5 {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}

.pb0 {padding-bottom: 0px !important;}
.pb5 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}

.pl0 {padding-left: 0px !important;}
.pl5 {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {margin-left: 20px !important;}

.pm0 {padding: 0px !important; margin:0px !important;}

.imgAlignLeft IMG {
	float: left;
	margin: 0px 10px 5px 0px;
}
.imgAlignRight IMG {
	float: right;
	margin: 0px 0px 5px 10px;
}

.show {display: block;}
.hide, .hidden {display: none !important;}

.nowrap {white-space:nowrap;}

/* ---------------------- LINKS ---------------------- */
A {
	color: #034ea2;
	text-decoration: none;
}
A:hover {text-decoration: underline;}

H1 a:link, H1 a:visited, H1 a:active, H1 a:hover,
H2 a:link, H2 a:visited, H2 a:active, H2 a:hover,
H3 a:link, H3 a:visited, H3 a:active, H3 a:hover,
H4 a:link, H4 a:visited, H4 a:active, H4 a:hover  {
	color: #000000;
}

/* ---------------------- FORMULARE ---------------------- */
TABLE, INPUT, SELECT, TEXTAREA {
	color: #000000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
}

INPUT, SELECT, TEXTAREA {border: 1px solid #848484;}

INPUT[type="image"] {border: 0px;}

INPUT, TEXTAREA {padding: 2px 0;}

INPUT, SELECT {vertical-align: middle;}

TEXTAREA {vertical-align: top;}

.form_line {
	width: 100%;
	min-height: 26px;
	padding-bottom: 5px;
}
.form_line .form_error {
	font-size: 16px;
	color: #ed1c24;
	display: block;
}
.form_line_left {
	width: 49%;
	margin-right: 1%;
	float: left;
}
.form_line_right {
	float: right;
	width: 49%;
}
.form_line_label {
	display: inline;
	float: left;
}
.form_line_right input,
.form_line_left input,
.form_line_left textarea,
.form_line_right textarea {
	width: 286px;
	display: block;
	padding: 5px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	font-size: 13px;
	line-height: 15px;
}
.form_line_right input.i_short,
.form_line_left input.i_short{
	display: inline;
	width: 85px;
	margin-right: 5px;
}
.form_line_right select,
.form_line_left select {
	width: 296px;
	display: block;
	padding: 5px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	font-size: 11px;
	line-height: 13px;
}
.form_line_left_66 select[disabled]{
	cursor: not-allowed;
	background-color: #EEE;
}
.form_line_right input.i_medium,
.form_line_left input.i_medium {
	display: inline;
	width: 180px;
	margin-right: 5px;
}
.form_line_left_66 {
	width: 65%;
	margin-right: 1%;
	float: left;
}
.form_line_right_33 {
	width: 32%;
	float: right;
}
.form_line_left_66 select,
.form_line_right_33 select {
	display: block;
	padding: 5px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	font-size: 11px;
	line-height: 13px;
}
.form_line_left_66 select {
	width: 400px;
}
.form_line_right_33 select {
	width: 193px;
}
.i_check {
	margin-top: 6px;
	width: 15px;
	float: left;
	vertical-align: middle;
	margin-right: 10px;
}
.i_check_label {
	display: block;
	margin-left: 25px;
}
.formScroll {
	height: 100px;
	overflow: auto;
	display: block;
	background: #ffffff;
	border-color: #808080 #D4D0C8 #D4D0C8 #808080;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}
INPUT.submit {
	width: 100%;
	border-radius: 3px;
	display: block;
	color: #ffffff;
	padding: 6px 10px 6px 10px;
	background: #034ea2;
}
INPUT.submit-kino{
	width: 100px;
	border-radius: 3px;
	display: block;
	color: #ffffff;
	padding: 6px 10px 6px 10px;
	background: #034ea2;
	float: right;
}
INPUT.submit:hover {
	background: #ed1c24;
	cursor: pointer;
}

/* ---------------------- JAVASCRIPT SCROLLBAR ---------------------- */

.scrollInside { overflow: auto; height: 322px; width: 100%;}

.jspContainer {overflow: hidden; position: relative;}
.jspPane {position: absolute;}
.jspVerticalBar {position: absolute; top: 0; right: 0; width: 10px; height: 100%;}
.jspHorizontalBar {position: absolute; bottom: 0; left: 0; width: 100%; height: 10px;}
.jspVerticalBar *, .jspHorizontalBar * {margin: 0; padding: 0;}
.jspCap {display: none;}
.jspHorizontalBar .jspCap {float: left;}
.jspTrack {background: #D4D4D4; position: relative; border-radius: 5px;}
.jspDrag {background: #034ea2; position: relative; top: 0; left: 0; cursor: pointer; border-radius: 5px;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {float: left; height: 100%;}
.jspArrow {background: #50506d; text-indent: -20000px; display: block; cursor: pointer;}
.jspArrow.jspDisabled {cursor: default; background: #80808d;}
.jspVerticalBar .jspArrow {height: 10px;}
.jspHorizontalBar .jspArrow {width: 10px; float: left; height: 100%;}
.jspVerticalBar .jspArrow:focus {outline: none;}
.jspCorner {float: left;height: 100%;}
html .jspCorner {margin: 0 -3px 0 0;}

.wrap {
	margin-top: 20px;
}
