@charset "utf-8";

/* ---------------------- WRAP ---------------------- */
.pWrap {
	width: 1225px;
	display: block;
	margin: 10px auto;
	position: relative;
}
#AIPsmall .pWrap {width: 1040px;}

.cWrap {
	width: 1225px;
	display: block;
	position: relative;
}
#AIPsmall .cWrap {width: 1040px;}

/* ---------------------- CONTENT ---------------------- */
.pContent {
	width: 996px;
	display: block;
	position: relative;
	padding: 24px 0px 0px 9px;
}
#AIPsmall .pContent {width: 810px;}

.cContent {
	width: 996px;
	display: block;
	clear: both;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 8px #d6d6d6;
	-moz-box-shadow: 0px 0px 8px #d6d6d6;
	box-shadow: 0px 0px 8px #d6d6d6;
	position: relative;
	z-index: 10;
}
#AIPsmall .cContent {width: 810px;}

/* ---------------------- HEADER ---------------------- */
.header {
	display: block;
	clear: both;
	position: relative;
}

.header .arcorLogo {
	width: 189px;
	height: 47px;
	display: block;
	position: absolute;
	top: 21px;
	left: 30px;
}

.header .emailButton {
	width: 58px;
	height: 53px;
	display: block;
	position: absolute;
	top: 18px;
	left: 356px;
}
#AIPsmall .header .emailButton {
	left: 294px;
}

.header .diensteButton {
	width: 58px;
	height: 53px;
	display: block;
	position: absolute;
	top: 18px;
	left: 549px;
}
#AIPsmall .header .diensteButton {
	left: 426px;
}

.header .gSearch {
	width: 240px;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
}

.googlesearch_blank {color: #445058;}

.googlesearch {background: url('/content/govento/imgs/_channelizer/suche/google_search.gif') no-repeat scroll left top #FFFFFF;}

.searchLogo {position: absolute; right: 10px; top: 5px; margin:0px;}

.header .gSearch .boxContent {padding-bottom: 0px !important;}

.searchWrapper {
	height: 57px;
	overflow: hidden;
}

.searchWrapper INPUT {
	/*height: 14px;*/
}

/* ---------------------- META-NAV ---------------------- */
.metaNavWrap {
	height: 24px;
	display: block;
	position: absolute;
	top: -24px;
	right: 0px;
}

UL.metaNav {
	height: 24px;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

UL.metaNav LI {
	display: block;
	float: left;
}

UL.metaNav LI A, UL.metaNav LI SPAN {
	height: 22px;
	display: block;
	float: left;
	color: #767676;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	background-color: #ededed;
	margin: 2px 0px 0px 3px;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
}
UL.metaNav LI A:hover {background-color: #dddddd;}

UL.metaNav LI A.vf, UL.metaNav LI.vfFlyout SPAN, UL.metaNav LI.vfFlyout UL LI A {
	height: 24px;
	color: #ffffff;
	font-size: 11px;
	line-height: 24px;
	font-weight: bold;
	background-color: #ff0000;
	margin: 0px 0px 0px 1px;
	padding: 0px 10px 0px 10px;
}
UL.metaNav LI.vfFlyout SPAN {cursor: default;}
UL.metaNav LI.vfFlyout UL LI A, UL.metaNav LI.vfFlyout UL LI {
	width: 83px;
	display: block;
}
UL.metaNav LI.vfFlyout UL LI {border-top: 1px solid #ffffff;}
UL.metaNav LI A.vf:hover, UL.metaNav LI.vfFlyout:hover SPAN, UL.metaNav LI.vfFlyout UL LI A:hover {background-color: #cc0202;}

UL.metaNav LI A.rss {
	padding-left: 28px;
	background-image: url('/content/govento/imgs/_channelizer/icon_rss_blue.png');
	background-repeat: no-repeat;
	background-position: 10px 5px;
}

UL.metaNav LI A.vfShop {
	padding-left: 35px;
	background-image: url('/content/govento/imgs/_channelizer/icon_vf_shop.png');
	background-repeat: no-repeat;
	background-position: 10px 2px;
}

UL.metaNav LI.vfFlyout {
	position: relative;
}

UL.metaNav LI.vfFlyout UL {
	width: 100%;
	display: none;
	position: absolute;
	top: 24px;
	left: 0px;
	z-index: 20;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
/* ---------------------- NAVIGATION ---------------------- */
.navigation {
	display: block;
	clear: both;
	margin: 87px 0px 10px 0px;
}

UL.pNav {
	width: 976px;
	display: block;
	float: left;
	clear: both;
	background: #f5f5f5;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	padding: 0px 10px;
	margin: 0px;
	list-style-type: none;
}
#AIPsmall UL.pNav {width: 790px;}

UL.pSubNav {
	width: 976px;
	display: block;
	float: left;
	clear: both;
	background: #d4d4d4;
	padding: 0px;
	margin: 0px 10px;
	list-style-type: none;
	-webkit-box-shadow: inset 0px 2px 2px #b4b4b4;
	-moz-box-shadow: inset 0px 2px 2px #b4b4b4;
	box-shadow: inset 0px 2px 2px #b4b4b4;
}
#AIPsmall UL.pSubNav {width: 790px;}

UL.pNav LI, UL.pSubNav LI {
	font-size: 1px;
	line-height: 1px;
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
	position: relative;
}

UL.pSubNav LI UL,
UL.pSubNav LI UL LI UL {
	display: none;
	margin:0px;
	padding:0px;
}
UL.pSubNav LI:hover > UL {
	display: block;
	position: absolute;
	background: #d4d4d4;
	z-index: 999999999;
}
UL.pSubNav LI:hover LI {float: none; margin:0px; padding:0px;}

UL.pSubNav LI UL LI:hover UL {
	display: block;
	position: absolute;
	background: #c0c0c0;
	left: 100%;
	top: 0px;
}


UL.pNav LI A, UL.pSubNav LI A {
	display: inline-block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #464646;
	padding: 0px 10px;
	border-right: 1px solid #d4d4d4;
	text-decoration: none;
}

UL.pNav LI A:hover, UL.pSubNav LI A:hover, UL.pNav LI.active > A, UL.pSubNav LI.active > A {color: #ed1c24;}

UL.pNav LI.active A {background: #d4d4d4;}

UL.pSubNav LI A {border-right: 1px solid #f5f5f5;}

UL.pSubNav LI UL LI A {
	border-top: 1px solid #f5f5f5;
	border-right: none;
	display: block;
	list-style-type: none;
	white-space: nowrap; 
}
UL.pSubNav LI UL LI UL LI A {border-left: 1px solid #f5f5f5;}
UL.pSubNav LI.active UL LI A {color: #464646;}
UL.pSubNav LI UL LI A:hover, UL.pSubNav LI UL LI.active > A {color: #ed1c24;}

UL.pSubNav LI.arrow > A {
	background: url('/content/govento/imgs/_content/icon_arrow_right_mr5.png') no-repeat right center;
	padding-right: 15px;
}

/* ---------------------- FOOTER ---------------------- */
.footer {
	font-size: 14px;
	line-height: 16px;
	clear: both;
	text-align: center;
	padding-top: 20px;
}
.footerNav {
	padding-bottom: 10px;
}
.footerNav LI {
	border-left: 1px solid #333333;
	display: inline;
	margin-left: 15px;
	padding-left: 18px;
}
#AIPsmall .footerNav LI {
	margin-left: 5px;
	padding-left: 8px;
}

.footerNav LI.first {
	border-left: medium none;
	margin-left: 0px !important;
	padding-left: 0px !important;
}

.footerNav LI A {
	color: #464646;
	text-decoration: none;
}
.footerNav LI A:hover {color: #ed1c24;}

/* ---------------------- ADVERTISING ---------------------- */
.advTop {
	margin: 0px 0px 10px 0px;
	position: relative;
}

.advRight {
	margin: 0px;
	width: 200px;
	position: absolute;
	top: 0px;
	left: 1016px;
}
#AIPsmall .advRight {
	top: 0px;
	left: 830px;
}

#superbanner_1 {text-align: center;}
	
#adBanner, #adMedium {text-align: center;}

#adBannerTmp {display: none;}

#adMediumTmp {
	display: none;
	background-color: #e8eef0;
	padding: 10px;
	margin-bottom: 10px;
}

#top_sbanner {
	top: 0px !important;
	left: 287px !important;
}
#AIPsmall #top_sbanner {left: 101px !important;}

#right_sky {
	top: 0px !important;
	left: 1015px !important;
}
#AIPsmall #right_sky {left: 829px !important;}

.adDslWrapper {display: none;}

.cookiepopup {
	width: 100%;
	background: #d4d4d4;
	position: relative;
	font-size: 16px;
	line-height: 18px;
}
.cookiepopup .message {
	width: 1225px;
	margin: 0px auto;
	text-align: center;
	padding: 10px 0px;
}
.cookiepopup .close {
	position: absolute;
	top: 8px;
	right: 15px;
}