
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.slide_container {
  /*margin-bottom:25px;*/
  position: relative;
  float: left;
  width: 100%;
  }

.slide {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  /* 2016 05 27 .slide */
  /*padding-bottom: 108px;*/
  }

.slide li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }
  
 .slide img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

/* 2016 05 27 .slide */
.slide .cap {
  display: block;
  position: absolute;
  z-index: 2;
  background:none;
  left: 0;
  right: 0;
  top: 100%;
}

.slide .cap a {
  display: block;
  font-size:2rem;
  line-height:2.75rem;
  text-shadow: none;
  color: #000;
  padding: 10px 0;
  margin: 0;
  max-width: 100%;
  text-decoration:none;
  }
  
 .slide .cap a:hover {
  color: #b40505;
  text-decoration:none;
  }
  
 .slide_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top:47%;
  left: 0;
  opacity:0.8;
  z-index:2;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height:50px;
  width:50px;
  background: transparent url(../images/default/mslider.png) no-repeat left top;
  margin-top: -50px;
  }

.slide_nav:active ,.slide_nav:hover{
  opacity: 1.0;
  }

.slide_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

/* 640以下不執行slider功能 */
@media screen and (max-width: 640px) {
  .rslides li {
    display: block;
  }
  .rslides li:first-child {
    float: none;
  }
  .rslides img {
    float: none;
    display: block;
    max-width: 100%;
  }
  .slide li, .slide .cap {
    position: relative;
  }
  .slide li {
    padding-bottom: .5rem;
  }
  .slide .cap a {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 480px) {
 .slide .cap a {
	padding:5px 0 10px 0;
    font-size: 1.4rem;
    line-height: 1.75rem;
  }
  }