@-ms-viewport {
  width: device-width;
}
.btn {
  font-weight: 500;
}
.btn.btn-link {
  font-weight: normal;
}
form.form-horizontal .control-label {
  font-weight: bold;
}
.form-messages .alert {
  display: none;
}
.form-messages .alert.now_visible {
  display: block;
}
a {
  color: #7facd0;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #3e7aab;
  text-decoration: underline;
}
ul.prominent li {
  font-size: 18px;
  margin-bottom: 8px;
}
ul.stacked {
  margin: 0;
}
ul.stacked li {
  list-style: none;
  border-top: 1px dotted #ccc;
  margin: 0;
  padding: 1em 0;
}
ul.stacked li:last-child {
  border-bottom: 1px dotted #ccc;
}
ul.stacked li.feature {
  border: none;
  height: 60px;
  padding: 0 20px 2em;
}
ul.stacked li.feature .icon {
  float: left;
  width: 100px;
  text-align: center;
}
ul.stacked li.feature .icon img {
  background: #ccc;
  height: 60px;
  width: 60px;
  margin: 0 auto;
}
ul.stacked li.feature .content {
  display: block;
  margin-left: 120px;
}
ul.class_facts_features li {
  padding-bottom: 15px;
}
ul.brand_bullets {
  list-style-image: url('/images/shared/base/lists/list-brand-bullet.png');
}
ul.brand_bullets.prominent {
  list-style-image: url('/images/shared/base/lists/list-brand-bullet-large.png');
}
ul.no_bullets {
  list-style: none;
  margin: 0;
}
ul li.button_item {
  list-style: none;
}
ul li.button_item:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  visibility: hidden;
}
ul li.button_item .btn {
  float: left;
  margin-right: 12px;
  margin-bottom: 15px;
}
ul li.button_item span {
  display: block;
}
ul li.button_item span.muted {
  font-style: italic;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
}
.underline {
  text-decoration: underline;
}
.muted {
  color: #91999e;
}
p,
ol,
ul {
  margin-bottom: 20px;
}
strong {
  font-weight: 500;
}
.line-spacing-150pct {
  line-height: 1.5;
}
.line-spacing-150pct * {
  line-height: 1.5;
}
.line-spacing-175pct {
  line-height: 1.75;
}
.line-spacing-175pct * {
  line-height: 1.75;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1.heading-flush,
h2.heading-flush,
h3.heading-flush,
h4.heading-flush,
h5.heading-flush,
h6.heading-flush {
  margin-top: 0;
}
h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 20px 0px 10px;
}
h2 {
  font-size: 28px;
  line-height: 1.2;
  margin: 0 0 20px;
  text-align: center;
}
h2.align-left {
  text-align: left;
  color: #999;
}
h3 {
  margin: 30px 0 10px;
  font-size: 24px;
  color: #333;
}
h4 {
  margin: 20px 0 10px;
}
h5 {
  margin: 0;
}
label,
input,
button,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.full_width {
  width: 100%;
}
.overflow-hidden {
  overflow: hidden;
}
.preview {
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
}
.preview.preview-small {
  height: 220px;
}
.preview.preview-small .screen-overlay-icon {
  zoom: 0.72;
}
.preview.our-story-video {
  background-image: url('/images/splash/modules/preview/founder-video-preview.jpg');
}
.preview.product-demo {
  background-image: url('/images/splash/modules/preview/demo_screenshot.jpg');
}
.preview-caption {
  margin-bottom: 20px;
  margin-top: 5px;
  font-style: italic;
  text-align: center;
  color: #91999e;
}
.screen-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.2);;
  -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.2);;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.2);;
  color: inset 0 0 1px 1px rgba(0,0,0, 0.2);;
  -webkit-transition: background 100ms linear, opacity 100ms linear;
  -moz-transition: background 100ms linear, opacity 100ms linear;
  -o-transition: background 100ms linear, opacity 100ms linear;
  -ms-transition: background 100ms linear, opacity 100ms linear;
  transition: background 100ms linear, opacity 100ms linear;
  overflow: hidden;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.1em;
  /*.screen-overlay-glare {
    background: white;
    opacity: 0;
    .rotate(53deg);
    .pz-size(500px, 300px);
    .pz-position-absolute(@top:-115px, @right: -283px);
  }*/
}
.screen-overlay .screen-overlay-caption {
  line-height: 1.4;
  background: black;
  opacity: 0.75;
}
.screen-overlay .screen-overlay-caption small {
  font-weight: normal;
  opacity: 0.5;
}
.screen-overlay .screen-overlay-caption.screen-overlay-demo-class {
  float: right;
  padding: 10px;
}
.screen-overlay .screen-overlay-play-pill {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
  background: black;
  opacity: 0.5;
  padding: 10px 0;
  border-radius: 3px;
  width: 130px;
}
.screen-overlay .screen-overlay-play-pill i {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 26px solid white;
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
}
.screen-overlay:hover .screen-overlay-play-pill {
  opacity: 0.7;
  transition: 0.2s;
}
.screen-overlay:hover .screen-overlay-caption {
  background: none;
  -webkit-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -ms-transition: background 100ms linear;
  transition: background 100ms linear;
}
@media (min-width: 1200px) {
  .qa_homepage_container .container {
    width: 970px;
  }
}
.mobile-topbar.container {
  padding-left: 15px;
}
@media screen and (min-width: 991px) {
  .set_container_width.container {
    width: 970px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .set_container_width.container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .school_logo_container_dec_2016 .school-logo {
    height: 50px;
    width: 125px;
    background: url('https://d1b10bmlvqabco.cloudfront.net/careers/splash_images/homepage_shared_logo_sprite.jpg') no-repeat 0 0;
    background-size: auto 150px;
    margin: 0px auto;
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
  .school_logo_container_dec_2016 .school-logo.mit {
    background-position: 0px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.princeton {
    background-position: -125px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.carnegie_mellon {
    background-position: -250px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.penn {
    background-position: -375px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_washington {
    background-position: -500px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_texas_austin {
    background-position: -625px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_waterloo {
    background-position: 0px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.northwestern {
    background-position: -125px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.purdue {
    background-position: -250px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.u_wisconsin_madison {
    background-position: -375px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.usc {
    background-position: -500px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.u_maryland {
    background-position: -625px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.brown {
    background-position: 0px -100px;
  }
  .school_logo_container_dec_2016 .school-logo.vanderbuilt {
    background-position: -125px -100px;
  }
}
@media screen and (max-width: 991px) {
  .school_logo_container_dec_2016 .school-logo {
    height: 40px;
    width: 100px;
    background: url('https://d1b10bmlvqabco.cloudfront.net/careers/splash_images/homepage_shared_logo_sprite.jpg') no-repeat 0 0;
    background-size: auto 120px;
    margin: 0px auto;
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
  .school_logo_container_dec_2016 .school-logo.mit {
    background-position: 0px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.princeton {
    background-position: -100px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.carnegie_mellon {
    background-position: -200px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.penn {
    background-position: -300px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_washington {
    background-position: -400px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_texas_austin {
    background-position: -500px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_waterloo {
    background-position: 0px -40px;
  }
  .school_logo_container_dec_2016 .school-logo.northwestern {
    background-position: -100px -40px;
  }
  .school_logo_container_dec_2016 .school-logo.purdue {
    background-position: -200px -40px;
  }
  .school_logo_container_dec_2016 .school-logo.u_wisconsin_madison {
    background-position: -300px -40px;
  }
  .school_logo_container_dec_2016 .school-logo.usc {
    background-position: -400px -40px;
  }
  .school_logo_container_dec_2016 .school-logo.u_maryland {
    background-position: -500px -40px;
  }
  .school_logo_container_dec_2016 .school-logo.brown {
    background-position: 0px -80px;
  }
  .school_logo_container_dec_2016 .school-logo.vanderbuilt {
    background-position: -100px -80px;
  }
}
@media screen and (max-width: 768px) {
  .school_logo_container_dec_2016 .school-logo {
    height: 50px;
    width: 125px;
    background: url('https://d1b10bmlvqabco.cloudfront.net/careers/splash_images/homepage_shared_logo_sprite.jpg') no-repeat 0 0;
    background-size: auto 150px;
    margin: 0px auto;
    display: block;
    opacity: 1;
    transition: 0.3s;
  }
  .school_logo_container_dec_2016 .school-logo.mit {
    background-position: 0px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.princeton {
    background-position: -125px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.carnegie_mellon {
    background-position: -250px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.penn {
    background-position: -375px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_washington {
    background-position: -500px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_texas_austin {
    background-position: -625px 0px;
  }
  .school_logo_container_dec_2016 .school-logo.u_waterloo {
    background-position: 0px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.northwestern {
    background-position: -125px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.purdue {
    background-position: -250px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.u_wisconsin_madison {
    background-position: -375px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.usc {
    background-position: -500px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.u_maryland {
    background-position: -625px -50px;
  }
  .school_logo_container_dec_2016 .school-logo.brown {
    background-position: 0px -100px;
  }
  .school_logo_container_dec_2016 .school-logo.vanderbuilt {
    background-position: -125px -100px;
  }
}
@media screen and (min-width: 768px) {
  .school_logos {
    margin: 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .school_logos > div {
    margin-bottom: 12px;
  }
}
.school_logo_container_dec_2016 {
  margin-bottom: 20px;
}
#product_video_modal .modal-dialog,
.careers_product_video_modal .modal-dialog {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 0px;
  margin: 0px;
}
#product_video_modal .modal-dialog .modal-body,
.careers_product_video_modal .modal-dialog .modal-body {
  padding: 30px;
}
#product_video_modal .modal-dialog .modal-body .close,
.careers_product_video_modal .modal-dialog .modal-body .close {
  position: absolute;
  right: 30px;
  top: 5px;
  left: auto;
  color: #ddd;
  transition: 0.3s;
  opacity: 1;
  font-weight: 300;
  font-size: 14px;
  text-shadow: none;
}
#product_video_modal .modal-dialog .modal-body .close:hover,
.careers_product_video_modal .modal-dialog .modal-body .close:hover {
  color: white;
  opacity: 1;
}
#product_video_modal .modal-dialog .modal-content,
.careers_product_video_modal .modal-dialog .modal-content {
  border-radius: 0px;
  box-shadow: none;
  background: black;
}
.new_splash .navbar {
  background-color: white;
  transition: box-shadow 0.4s ease-out;
}
.new_splash .navbar .navbar-brand {
  background: url('/images/splash2/topbar/piazza_logo_blue.png') left top no-repeat;
  margin-right: 0px;
  margin-top: 12px;
  width: 125px;
  height: 30px;
  background-size: 125px auto;
  margin-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .new_splash .navbar .navbar-header {
    display: block;
    width: 100%;
  }
  .new_splash .navbar .navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .new_splash .navbar .navbar-nav.main_nav li > a {
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media screen and (max-width: 767px) {
  .new_splash .navbar .navbar-brand {
    margin-left: 10px;
    margin-top: 19px;
  }
  .new_splash .navbar .login_button {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 870px) {
  .new_splash .navbar .container {
    padding-left: 15px;
  }
}
.new_splash .navbar .navbar-right .btn-default,
.new_splash .navbar .navbar-right-no-float .btn-default {
  font-size: 15px;
  margin: 7px 2px;
  color: #428bca;
  border: 1px solid #428bca;
  font-weight: 400;
  background: white;
  transition: 0.3s;
  font-weight: 300;
}
.new_splash .navbar .navbar-right .btn-default:hover,
.new_splash .navbar .navbar-right-no-float .btn-default:hover {
  color: white;
  background: #428bca;
  border-color: #428bca;
}
.new_splash .navbar .navbar-right .btn-default:focus,
.new_splash .navbar .navbar-right-no-float .btn-default:focus {
  outline: none;
  color: white;
  background: #428bca;
  border-color: #428bca;
}
.new_splash .navbar .navbar-right .dropdown-menu,
.new_splash .navbar .navbar-right-no-float .dropdown-menu {
  min-width: 220px;
  padding: 10px 10px 0px;
}
.new_splash .navbar .navbar-right .dropdown-menu .btn,
.new_splash .navbar .navbar-right-no-float .dropdown-menu .btn {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.new_splash .navbar .navbar-right .dropdown-menu a.signup_dropdown_careers_hook,
.new_splash .navbar .navbar-right-no-float .dropdown-menu a.signup_dropdown_careers_hook {
  color: #7facd0;
  cursor: pointer;
  font-size: 13px;
  margin-top: -5px;
  margin-top: -10px;
  padding: 5px 13px;
}
.new_splash .navbar .navbar-right .dropdown-menu a.signup_dropdown_careers_hook:hover,
.new_splash .navbar .navbar-right-no-float .dropdown-menu a.signup_dropdown_careers_hook:hover {
  text-decoration: underline;
}
.new_splash .navbar .navbar-right.sign_up_navbar li.accessibility_container > a,
.new_splash .navbar .navbar-right-no-float.sign_up_navbar li.accessibility_container > a {
  padding: 0px;
}
.new_splash .navbar .navbar-right.sign_up_navbar li.accessibility_container,
.new_splash .navbar .navbar-right-no-float.sign_up_navbar li.accessibility_container {
  margin-left: -7px;
  margin-right: 3px;
}
.new_splash .navbar .navbar-right.sign_up_navbar,
.new_splash .navbar .navbar-right-no-float.sign_up_navbar {
  margin-right: -10px;
}
.new_splash .navbar .navbar-right-mobile {
  float: right;
  margin-right: 10px;
}
.new_splash .navbar .navbar-right-mobile li {
  float: left;
}
.new_splash .navbar .navbar-right-mobile .dropdown-menu li {
  float: none;
}
.new_splash .navbar .navbar-right-mobile li.accessibility_container > a {
  padding: 10px 5px;
}
.new_splash .navbar .navbar-right-mobile li a .topbar_accessibility_icon {
  margin-top: 0px !important;
  width: 60px;
}
@media screen and (max-width: 767px) {
  .new_splash .navbar .navbar-brand {
    margin-top: 23px;
    background-size: 100px auto;
    width: 100px;
  }
  .new_splash .navbar .navbar-right-mobile .btn-default {
    font-size: 13px !important;
    margin: 7px 2px !important;
  }
  .new_splash .navbar .navbar-right-mobile .btn-default.btn {
    padding: 6px 8px;
  }
  .new_splash .navbar .navbar-right-mobile .btn-default:hover,
  .new_splash .navbar .navbar-right-mobile .btn-default:focus {
    color: #428bca;
    background: white;
  }
}
.new_splash .navbar .navbar-toggle {
  border-color: #333;
}
.new_splash .navbar .navbar-toggle .icon-bar {
  background-color: #333;
}
.new_splash .navbar .nav .companies_dropdown {
  right: 14px;
  top: 47px;
  left: auto !important;
  width: 220px;
  padding: 10px 10px 0px;
}
.new_splash .navbar .nav .companies_dropdown .btn {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.new_splash .navbar .nav .companies_dropdown .companies_get_started {
  background: #074c7a !important;
  border: #074c7a !important;
}
.new_splash .navbar .nav .companies_dropdown .students_find_opportunities {
  background: #5fa6bb !important;
  border: #5fa6bb !important;
}
.new_splash .navbar .nav li a {
  color: #888;
  font-size: 15px;
  transition: 0.3s;
  font-weight: 300;
  cursor: pointer;
}
.new_splash .navbar .nav li a:hover,
.new_splash .navbar .nav li a:focus {
  background-color: white;
  color: #428bca;
}
.new_splash .navbar .nav li.active a {
  color: #357ebd;
}
.new_splash .navbar .nav li a .topbar_accessibility_icon {
  margin-top: 13px;
  width: 60px;
}
.new_splash .navbar.navbar-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.4s ease-in;
}
.new_splash .careers_mobile_topbar a {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mobile-topbar .col-xs-6,
.mobile-topbar .col-xs-12 {
  padding: 0 0 3px 0;
}
.mobile-topbar a {
  background-color: #e9e9e9;
  color: #999999;
  display: block;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.mobile-topbar a:hover {
  background-color: #fafafa;
  color: #999999;
}
.mobile-topbar .demo_link a,
.mobile-topbar .prod_pdf a {
  color: #428bca;
}
.mobile-topbar .demo_link a:hover,
.mobile-topbar .prod_pdf a:hover {
  color: #357ebd;
}
.splash_panel.product_brief {
  padding-top: 0px !important;
  padding-bottom: 25px !important;
}
.splash_panel.product_brief.careers_product_brief {
  padding-bottom: 0px !important;
}
.splash_panel.product_brief.careers_product_brief .container {
  padding-left: 15px;
}
.splash_panel.product_brief .startup_buttons {
  padding-top: 20px;
}
.splash_panel.product_brief ul {
  padding-left: 13px;
  font-size: 16px;
}
.splash_panel.product_brief li {
  line-height: 2.4;
}
.splash_panel.product_brief .btn {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  .splash_panel.product_brief .features_list {
    padding-left: 0px;
  }
  .splash_panel.product_brief .col-md-4 {
    padding-right: 0px;
  }
  .splash_panel.product_brief li {
    line-height: 2.5;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .splash_panel.product_brief .btn {
    font-size: 15px;
  }
  .splash_panel.product_brief ul {
    padding-left: 160px;
  }
  .splash_panel.product_brief .col-sm-4 {
    padding-right: 0px;
  }
}
.splash_panel.product_brief .btn-default {
  border-color: #ebebeb;
  background-color: #ebebeb;
  color: #333;
  transition: 0.3s;
}
.splash_panel.product_brief .btn-default:hover {
  background-color: #fff;
  border-color: #ccc;
}
.splash_panel.product_brief .preview {
  border-radius: 3px;
  width: 454px;
  margin: 0px auto;
}
.splash_panel.product_brief .preview .screen-overlay {
  box-shadow: none;
}
.splash_panel.product_brief .preview .screen-overlay .screen-overlay-play-pill {
  left: 50%;
  margin-left: -35px;
  top: 50%;
  bottom: auto;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  padding: 20px 0px;
  border-radius: 10px;
}
@media screen and (max-width: 484px) {
  .splash_panel.product_brief .preview {
    width: 100%;
  }
  .splash_panel.product_brief .preview.product-demo {
    height: 235px;
    background-size: auto 230px;
  }
}
.splash_panel.product_brief .ferpa_note_text {
  font-size: 12px;
  margin-bottom: -20px;
  margin-top: 5px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .new_mobile_splash .product_brief .col-md-6 {
    margin-left: 260px;
  }
}
.new_mobile_splash .prof_brief .thumbnail .name {
  color: #428bca;
  text-decoration: underline;
}
body.new_splash {
  background: white;
  padding-top: 55px;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body.new_splash {
    padding-top: 97px;
  }
  .new_splash .main_nav {
    clear: left;
  }
}
@media screen and (max-width: 768px) {
  body.new_splash {
    padding-top: 65px;
  }
}
#fancybox-wrap {
  box-sizing: content-box;
}
#fancybox-wrap * {
  box-sizing: content-box;
}
.new_splash a {
  color: #7facd0;
  transition: 0.3s;
}
.new_splash a:hover {
  text-decoration: none;
  color: #357ebd;
}
.new_splash .black_box {
  background: black;
  padding: 10px;
  margin-top: 10px;
}
.new_splash .black_box h3 {
  color: white;
  text-align: left;
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
  margin: 0px;
}
.new_splash .black_box .btn-success {
  color: white;
}
.new_splash .black_box .btn-success:hover,
.new_splash .black_box .btn-success:active,
.new_splash .black_box .btn-success:focus {
  color: white;
  text-decoration: none;
}
.new_splash .outline_button {
  border: 1px solid #428bca;
  color: #428bca;
  margin: 20px 0px;
  font-size: 22px;
  padding: 15px 20px;
  background: transparent;
}
.new_splash .outline_button:hover {
  background: #428bca;
  color: #fff;
}
.new_splash .btn-primary {
  border-color: #428bca;
  background: #428bca;
  transition: 0.3s;
  font-weight: 300;
}
.new_splash .btn-primary:hover {
  background: #2769a1;
  border-color: #357ebd;
}
.new_splash .btn-success {
  border-color: #5cb85c;
  background: #5cb85c;
  transition: 0.3s;
  font-weight: 300;
}
.new_splash .btn-success:hover {
  background: #3f913f;
  border-color: #4cae4c;
}
.new_splash .btn-default {
  font-weight: 300;
}
.new_splash h1 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}
.new_splash h2 {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  color: #999;
}
.new_splash h3 {
  font-size: 26px;
  font-weight: 300;
  text-align: left;
  color: #999;
}
@media screen and (max-width: 991px) {
  .new_splash h1 {
    font-size: 30px;
  }
  .new_splash h2,
  .new_splash h3 {
    font-size: 22px;
  }
}
.new_splash .school_image_wrapper {
  width: 80%;
  margin: 0px auto;
  margin-top: -30px;
}
.new_splash .school_image_wrapper img {
  width: 100%;
}
.new_splash .splash_panel {
  padding: 20px 0px 40px;
}
.new_splash .splash_panel h2 {
  text-align: left;
  color: #333;
  margin-bottom: 10px;
}
.new_splash .splash_panel h3 {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 40px;
}
.new_splash .splash_panel .splash_ctr {
  padding-top: 70px;
  margin-top: -70px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .new_splash .splash_panel .splash_ctr {
    padding-top: 117px;
    margin-top: -117px;
  }
}
@media screen and (max-width: 767px) {
  .new_splash .splash_panel .splash_ctr {
    padding-top: 85px;
    margin-top: -85px;
  }
}
.new_splash .splash_panel.alt_panel {
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.new_splash .subnav {
  background: #f5f5f5;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  position: relative;
  margin-top: -4px;
}
.new_splash .subnav .nav-tabs {
  border-bottom: none;
  margin-bottom: 0;
  font-size: 0;
  text-align: center;
}
.new_splash .subnav .nav-tabs li {
  border: 1px solid #e8e8e8;
  border-top-color: transparent;
  border-bottom-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  margin-right: -1px;
  margin-bottom: 0;
  border-radius: 0px;
  text-transform: uppercase;
}
.new_splash .subnav .nav-tabs li a {
  color: #999;
  border: none;
  border-radius: 0px;
}
.new_splash .subnav .nav-tabs li a:hover {
  background: #fafafa;
}
.new_splash .subnav .nav-tabs li.demo_link,
.new_splash .subnav .nav-tabs li.prod_pdf {
  float: right;
}
.new_splash .subnav .nav-tabs li.demo_link a,
.new_splash .subnav .nav-tabs li.prod_pdf a {
  color: #428bca;
}
.new_splash .subnav .nav-tabs li.demo_link a:hover,
.new_splash .subnav .nav-tabs li.prod_pdf a:hover {
  color: #357ebd;
  background: transparent;
}
.new_splash .subnav .nav-tabs li.demo_link:hover,
.new_splash .subnav .nav-tabs li.prod_pdf:hover {
  background: transparent;
}
.new_splash .subnav .nav-tabs li:first-child {
  border-left: 1px solid #e8e8e8;
}
.new_splash .subnav .nav-tabs li:hover {
  background: #fafafa;
}
.new_splash .subnav .nav-tabs li.active {
  background: #e9e9e9;
  color: #666;
}
.new_splash .subnav .nav-tabs li.active a {
  background: #e9e9e9;
  color: #666;
}
.new_splash .subnav .nav-tabs li.active a:hover {
  background: #e9e9e9;
}
.new_splash .profs_panel {
  padding-bottom: 0;
}
.new_splash .profs_panel .jennifer_schwartz_icon {
  background: url(/images/splash2/professors_ie_145.png) -290px 0 no-repeat;
}
.new_splash .profs_panel .ron_lee_icon {
  background: url(/images/splash2/professors_ie_145.png) -435px 0 no-repeat;
}
.new_splash .profs_panel .slobodan_simic_icon {
  background: url(/images/splash2/professors_ie_145.png) 0 0 no-repeat;
}
.new_splash .profs_panel .paul_hegarty_icon {
  background: url(/images/splash2/professors_ie_145.png) -145px 0 no-repeat;
}
.new_splash .profs_panel .emily_grad_icon {
  background: url(/images/splash2/professors_ie_145.png) -435px -145px no-repeat;
}
.new_splash .profs_panel .jeff_offutt_icon {
  background: url(/images/splash2/professors_ie_145.png) 0px -145px no-repeat;
}
.new_splash .profs_panel .ming_chow_icon {
  background: url(/images/splash2/professors_ie_145.png) -145px -145px no-repeat;
}
.new_splash .profs_panel .lorena_barba_icon {
  background: url(/images/splash2/professors_ie_145.png) -580px 0 no-repeat;
}
.new_splash .profs_panel .bob_neer_icon {
  background: url(/images/splash2/professors_ie_145.png) -290px -145px no-repeat;
}
.new_splash .profs_panel .prof_icon {
  display: block;
  height: 145px;
  width: 145px;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.new_splash .profs_panel .thumbnail {
  padding: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 2px 3px 0px transparent;
  text-align: center;
}
.new_splash .profs_panel .thumbnail:hover {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  background: #f2f2f2;
}
.new_splash .profs_panel .thumbnail .caption .name {
  font-size: 19px;
  font-weight: 600;
  margin-top: 5px;
}
.new_splash .profs_panel .thumbnail .caption .university,
.new_splash .profs_panel .thumbnail .caption .subject {
  font-size: 16px;
}
.new_splash .profs_panel .thumbnail .caption .quote {
  font-size: 14px;
  padding-top: 8px;
  border-top: 1px solid #ddd;
  margin-top: 8px;
  height: 100px;
}
@media screen and (min-width: 992px) {
  .new_splash .profs_panel .thumbnail .caption .quote {
    height: 125px;
  }
}
.new_splash .schools.splash_panel {
  padding-bottom: 0px;
}
.new_splash .schools .school_icon {
  display: block;
  height: 75px;
  opacity: 1;
  transition: 0.3s;
  width: 155px;
}
.new_splash .schools .school_icon:hover {
  opacity: 0.4;
}
.new_splash .schools .stanford_icon {
  background: url(/images/splash2/schools.jpg) 0 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .berkeley_icon {
  background: url(/images/splash2/schools.jpg) -150px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .princeton_icon {
  background: url(/images/splash2/schools.jpg) -305px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .mit_icon {
  background: url(/images/splash2/schools.jpg) -468px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .upenn_icon {
  background: url(/images/splash2/schools.jpg) -623px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .harvard_icon {
  background: url(/images/splash2/schools.jpg) -776px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .cmu_icon {
  background: url(/images/splash2/cmu_logo.png) 0 60% no-repeat;
  background-size: 155px auto;
}
.new_splash .schools .duke_icon {
  background: url(/images/splash2/schools.jpg) -1243px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .illinois_icon {
  background: url(/images/splash2/schools.jpg) -929px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .cornell_icon {
  background: url(/images/splash2/schools.jpg) -1086px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .umich_icon {
  background: url(/images/splash2/schools.jpg) -1395px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .uwaterloo_ca_icon {
  background: url(/images/splash2/schools.jpg) -1551px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .utexas_icon {
  background: url(/images/splash2/schools.jpg) -1707px 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .ucla_icon {
  background: url(/images/splash2/schools.jpg) 0 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .purdue_icon {
  background: url(/images/splash2/schools.jpg) 0 0 no-repeat;
  background-size: auto 75px;
}
.new_splash .schools .row img {
  width: 155px;
  margin: 0px auto;
  opacity: 1;
  display: block;
  transition: 0.3s;
  backface-visibility: hidden;
}
.new_splash .schools .row img:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .new_splash .schools .stanford_icon {
    background: url(/images/splash2/schools.jpg) 0 0 no-repeat;
  }
  .new_splash .schools .berkeley_icon {
    background: url(/images/splash2/schools.jpg) -125px 0 no-repeat;
  }
  .new_splash .schools .princeton_icon {
    background: url(/images/splash2/schools.jpg) -252px 0 no-repeat;
  }
  .new_splash .schools .mit_icon {
    background: url(/images/splash2/schools.jpg) -390px 0 no-repeat;
  }
  .new_splash .schools .upenn_icon {
    background: url(/images/splash2/schools.jpg) -520px 0 no-repeat;
  }
  .new_splash .schools .harvard_icon {
    background: url(/images/splash2/schools.jpg) -644px 0 no-repeat;
  }
  .new_splash .schools .gatech_icon {
    background: url(/images/splash2/schools.jpg) -1030px 0 no-repeat;
  }
  .new_splash .schools .illinois_icon {
    background: url(/images/splash2/schools.jpg) -773px 0 no-repeat;
  }
  .new_splash .schools .cornell_icon {
    background: url(/images/splash2/schools.jpg) -902px 0 no-repeat;
  }
  .new_splash .schools .umich_icon {
    background: url(/images/splash2/schools.jpg) -1162px 0 no-repeat;
  }
  .new_splash .schools .uwaterloo_ca_icon {
    background: url(/images/splash2/schools.jpg) -1286px 0 no-repeat;
  }
  .new_splash .schools .utexas_icon {
    background: url(/images/splash2/schools.jpg) -1413px 0 no-repeat;
  }
  .new_splash .schools .ucla_icon {
    background: url(/images/splash2/schools.jpg) 0 0 no-repeat;
  }
  .new_splash .schools .purdue_icon {
    background: url(/images/splash2/schools.jpg) 0 0 no-repeat;
  }
  .new_splash .schools .school_icon {
    width: 130px;
    background-size: auto 62px;
  }
  .new_splash .schools .school_icon.cmu_icon {
    background-size: 130px auto;
  }
  .new_splash .schools .school_icon.duke_icon {
    background-position: -1025px 0;
  }
}
.new_splash .schools .expand_link {
  text-align: center;
}
.new_splash .schools .expand_link a {
  display: none;
  border-bottom: none;
  padding: 5px 15px;
  border-radius: 4px 4px 0 0;
  transition: 0.3s;
  display: inline-block;
}
.new_splash .schools .expand_link a:hover {
  background-color: #f5f5f5;
}
.new_splash .schools .expanded_schools .school_name {
  display: block;
  padding: 5px 0;
  color: #999;
}
.new_splash .schools .show_less_link {
  padding-top: 10px;
}
@media screen and (min-width: 992px) {
  .new_mobile_splash .product_brief .col-md-6 {
    margin-left: 260px;
  }
}
.new_mobile_splash .prof_brief .thumbnail .name {
  color: #428bca;
  text-decoration: underline;
}
.new_splash .subject_button {
  margin: 10px 0;
  padding: 10px;
  background: inherit;
  border-color: #428bca;
  border-size: 2px;
  color: #428bca;
  font-size: 16px;
  font-weight: 300;
  transition: 0.3s;
  margin-top: 0;
}
.new_splash .subject_button.btn-sm {
  padding: 5px 10px;
  font-size: 13px;
}
.new_splash .subject_button.btn-sm .subject_icon {
  background-size: 24px;
  width: 24px;
  height: 24px;
}
.new_splash .subject_button.btn-sm .subject_name {
  top: -5px;
}
.new_splash .subject_button:hover {
  color: white;
  background: #428bca;
}
.new_splash .subject_button .subject_name {
  position: relative;
  top: -9px;
}
.new_splash .subject_button .computer_science_icon {
  background: url('/images/splash2/subject_icons.png') -5px 0 no-repeat;
  width: 45px;
}
.new_splash .subject_button .biology_icon {
  background: url('/images/splash2/subject_icons.png') -404px 0 no-repeat;
  width: 27px;
}
.new_splash .subject_button .chemistry_icon {
  background: url('/images/splash2/subject_icons.png') -163px 0 no-repeat;
  width: 18px;
}
.new_splash .subject_button .economics_icon {
  background: url('/images/splash2/subject_icons.png') -61px 0 no-repeat;
  width: 26px;
}
.new_splash .subject_button .engineering_icon {
  background: url('/images/splash2/subject_icons.png') -109px 0 no-repeat;
  width: 27px;
}
.new_splash .subject_button .math_icon {
  background: url('/images/splash2/subject_icons.png') -357px 0 no-repeat;
  width: 22px;
}
.new_splash .subject_button .physics_icon {
  background: url('/images/splash2/subject_icons.png') -251px 0 no-repeat;
  width: 35px;
}
.new_splash .subject_button .psychology_icon {
  background: url('/images/splash2/subject_icons.png') -303px 0 no-repeat;
  width: 28px;
}
.new_splash .subject_button .history_icon {
  background: url('/images/splash2/subject_icons.png') -206px 0 no-repeat;
  width: 27px;
}
.new_splash .subject_button .subject_icon {
  background-size: auto 70px;
  height: 35px;
  display: inline-block;
}
.new_splash .subject_button:hover .computer_science_icon {
  background: url('/images/splash2/subject_icons.png') -5px -35px no-repeat;
  width: 45px;
}
.new_splash .subject_button:hover .biology_icon {
  background: url('/images/splash2/subject_icons.png') -404px -35px no-repeat;
  width: 27px;
}
.new_splash .subject_button:hover .chemistry_icon {
  background: url('/images/splash2/subject_icons.png') -163px -35px no-repeat;
  width: 18px;
}
.new_splash .subject_button:hover .economics_icon {
  background: url('/images/splash2/subject_icons.png') -61px -35px no-repeat;
  width: 26px;
}
.new_splash .subject_button:hover .engineering_icon {
  background: url('/images/splash2/subject_icons.png') -109px -35px no-repeat;
  width: 27px;
}
.new_splash .subject_button:hover .math_icon {
  background: url('/images/splash2/subject_icons.png') -357px -35px no-repeat;
  width: 22px;
}
.new_splash .subject_button:hover .physics_icon {
  background: url('/images/splash2/subject_icons.png') -251px -35px no-repeat;
  width: 35px;
}
.new_splash .subject_button:hover .psychology_icon {
  background: url('/images/splash2/subject_icons.png') -303px -35px no-repeat;
  width: 28px;
}
.new_splash .subject_button:hover .history_icon {
  background: url('/images/splash2/subject_icons.png') -206px -35px no-repeat;
  width: 27px;
}
.new_splash .subject_button:hover .subject_icon {
  background-size: auto 70px;
  height: 35px;
  display: inline-block;
}
.new_splash .subject_button_sm {
  padding: 3px 20px;
  margin: 0 5px 15px 5px;
}
.new_splash .subject_button_sm .subject_name {
  top: -4px;
  font-size: 15px;
}
.new_splash .subject_button_sm .chemistry_icon {
  background: url('/images/splash2/subject_icons.png') -102px 0 no-repeat;
  width: 12px;
}
.new_splash .subject_button_sm .economics_icon {
  background: url('/images/splash2/subject_icons.png') -38px 0 no-repeat;
  width: 17px;
}
.new_splash .subject_button_sm .math_icon {
  background: url('/images/splash2/subject_icons.png') -225px 0 no-repeat;
  width: 12px;
}
.new_splash .subject_button_sm .computer_science_icon {
  background: url('/images/splash2/subject_icons.png') -2px 0 no-repeat;
  width: 28px;
}
.new_splash .subject_button_sm .subject_icon {
  position: relative;
  top: 2px;
  background-size: auto 44px;
  height: 22px;
  display: inline-block;
}
.new_splash .subject_button_sm:hover .chemistry_icon {
  background: url('/images/splash2/subject_icons.png') -102px -22px no-repeat;
  width: 12px;
}
.new_splash .subject_button_sm:hover .economics_icon {
  background: url('/images/splash2/subject_icons.png') -38px -22px no-repeat;
  width: 17px;
}
.new_splash .subject_button_sm:hover .math_icon {
  background: url('/images/splash2/subject_icons.png') -225px -22px no-repeat;
  width: 12px;
}
.new_splash .subject_button_sm:hover .computer_science_icon {
  background: url('/images/splash2/subject_icons.png') -2px -22px no-repeat;
  width: 28px;
}
.new_splash .subject_button_sm:hover .subject_icon {
  position: relative;
  top: 2px;
  background-size: auto 44px;
  height: 22px;
  display: inline-block;
}
@media screen and (max-width: 450px) {
  .new_splash .media .pull-left {
    float: none !important;
    margin-bottom: 15px;
  }
}
.new_splash .our_story h2 {
  margin-bottom: 20px;
}
.new_splash .our_story .screen-overlay {
  border: 5px solid #eee;
}
.new_splash .about_story h1 {
  margin-bottom: 20px;
}
.new_splash .preview.product-demo {
  height: 285px;
  background: url("/images/splash2/product_demo_still2.jpg") no-repeat 0 0;
  background-size: auto 275px;
}
.form-body {
  margin-bottom: 15px;
}
.new_splash .login-modal .modal-error-summary {
  padding: 20px 20px 0 20px;
  text-align: center;
}
.new_splash .login-modal .modal-error-message {
  color: #c00;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .new_splash .login-modal .modal-dialog {
    width: 400px;
  }
}
.new_splash .login-modal .remember_me_label {
  font-weight: 600;
}
.new_splash .login-modal .form-group {
  margin-bottom: 25px;
}
.mobile-topbar .col-xs-6,
.mobile-topbar .col-xs-12 {
  padding: 0 0 3px 0;
}
.mobile-topbar a {
  background-color: #e9e9e9;
  color: #999999;
  display: block;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.mobile-topbar a:hover {
  background-color: #fafafa;
  color: #999999;
}
.mobile-topbar .demo_link a,
.mobile-topbar .prod_pdf a {
  color: #428bca;
}
.mobile-topbar .demo_link a:hover,
.mobile-topbar .prod_pdf a:hover {
  color: #357ebd;
}
.new_splash .footer {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  color: #777;
  border-top: 1px solid lightgray;
}
.new_splash .footer .footer_col {
  padding-right: 0;
}
.new_splash .footer ul {
  list-style: none;
  padding: 5px 0;
  margin-bottom: 10px;
}
.new_splash .footer ul a {
  color: #777;
  transition: 0.3s;
  line-height: 1.5;
}
.new_splash .footer ul li {
  cursor: pointer;
}
.new_splash .footer ul li:hover a {
  color: #333;
  text-decoration: none;
}
.new_splash .footer .title {
  color: #666;
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 5px;
  text-transform: none;
}
.new_splash .footer hr {
  border-top-color: #ddd;
}
.new_splash .footer .social li {
  float: right;
}
.new_splash .footer .social li a {
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: 0.3s;
}
.new_splash .footer .social li a:hover {
  opacity: 1;
}
.new_splash .footer .social li a.twitter-link {
  background: url(/images/splash2/twitter.png) 0 0 no-repeat;
  background-size: 30px;
}
.new_splash .footer .social li a.facebook-link {
  background: url(/images/splash2/facebook.png) 0 0 no-repeat;
  background-size: 30px;
}
@media screen and (min-width: 992px) {
  .new_splash .footer .about_panel.col-md-2 {
    width: 13%;
  }
  .new_splash .footer .support_panel.col-md-2 {
    width: 18%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .new_splash .footer .about_panel.col-sm-3 {
    width: 18%;
  }
}
.new_splash .footer .col-xs-6 {
  height: 150px;
}
.new_splash .footer .legal {
  clear: both;
  text-align: right;
  margin-top: 5px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .new_splash .footer .legal {
    font-size: 11px;
  }
}
.new_splash .profs_index .jennifer_schwartz_icon,
.new_splash .profs_show .jennifer_schwartz_icon {
  background: url(/images/splash2/professors.png) -400px 0 no-repeat;
}
.new_splash .profs_index .ron_lee_icon,
.new_splash .profs_show .ron_lee_icon {
  background: url(/images/splash2/professors.png) -600px 0 no-repeat;
}
.new_splash .profs_index .slobodan_simic_icon,
.new_splash .profs_show .slobodan_simic_icon {
  background: url(/images/splash2/professors.png) 0 0 no-repeat;
}
.new_splash .profs_index .paul_hegarty_icon,
.new_splash .profs_show .paul_hegarty_icon {
  background: url(/images/splash2/professors.png) -200px 0 no-repeat;
}
.new_splash .profs_index .emily_grad_icon,
.new_splash .profs_show .emily_grad_icon {
  background: url(/images/splash2/professors.png) -600px -200px no-repeat;
}
.new_splash .profs_index .jeff_offutt_icon,
.new_splash .profs_show .jeff_offutt_icon {
  background: url(/images/splash2/professors.png) 0 -200px no-repeat;
}
.new_splash .profs_index .ming_chow_icon,
.new_splash .profs_show .ming_chow_icon {
  background: url(/images/splash2/professors.png) -200px -200px no-repeat;
}
.new_splash .profs_index .lorena_barba_icon,
.new_splash .profs_show .lorena_barba_icon {
  background: url(/images/splash2/professors.png) -800px 0 no-repeat;
}
.new_splash .profs_index .bob_neer_icon,
.new_splash .profs_show .bob_neer_icon {
  background: url(/images/splash2/professors.png) -400px -200px no-repeat;
}
.new_splash .profs_index .prof_icon,
.new_splash .profs_show .prof_icon {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .new_splash .profs_index .jennifer_schwartz_icon,
  .new_splash .profs_show .jennifer_schwartz_icon {
    background: url(/images/splash2/professors_ie_170.png) -340px 0 no-repeat;
  }
  .new_splash .profs_index .ron_lee_icon,
  .new_splash .profs_show .ron_lee_icon {
    background: url(/images/splash2/professors_ie_170.png) -510px 0 no-repeat;
  }
  .new_splash .profs_index .slobodan_simic_icon,
  .new_splash .profs_show .slobodan_simic_icon {
    background: url(/images/splash2/professors_ie_170.png) 0 0 no-repeat;
  }
  .new_splash .profs_index .paul_hegarty_icon,
  .new_splash .profs_show .paul_hegarty_icon {
    background: url(/images/splash2/professors_ie_170.png) -170px 0 no-repeat;
  }
  .new_splash .profs_index .emily_grad_icon,
  .new_splash .profs_show .emily_grad_icon {
    background: url(/images/splash2/professors_ie_170.png) -510px -170px no-repeat;
  }
  .new_splash .profs_index .jeff_offutt_icon,
  .new_splash .profs_show .jeff_offutt_icon {
    background: url(/images/splash2/professors_ie_170.png) 0 -170px no-repeat;
  }
  .new_splash .profs_index .ming_chow_icon,
  .new_splash .profs_show .ming_chow_icon {
    background: url(/images/splash2/professors_ie_170.png) -170px -170px no-repeat;
  }
  .new_splash .profs_index .lorena_barba_icon,
  .new_splash .profs_show .lorena_barba_icon {
    background: url(/images/splash2/professors_ie_170.png) -680px 0 no-repeat;
  }
  .new_splash .profs_index .bob_neer_icon,
  .new_splash .profs_show .bob_neer_icon {
    background: url(/images/splash2/professors_ie_170.png) -340px -170px no-repeat;
  }
  .new_splash .profs_index .prof_icon,
  .new_splash .profs_show .prof_icon {
    display: block;
    height: 170px;
    width: 170px;
    margin: 0 auto;
  }
  .new_splash .profs_index .prof_info,
  .new_splash .profs_show .prof_info {
    padding-left: 25px;
  }
}
.new_splash .profs_index .prof_panel,
.new_splash .profs_show .prof_panel {
  padding-bottom: 0px;
}
.new_splash .profs_index .prof_panel .container,
.new_splash .profs_show .prof_panel .container {
  padding-top: 50px;
  margin-top: -50px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .new_splash .profs_index .prof_panel .container,
  .new_splash .profs_show .prof_panel .container {
    padding-top: 97px;
    margin-top: -97px;
  }
}
@media screen and (max-width: 767px) {
  .new_splash .profs_index .prof_panel .container,
  .new_splash .profs_show .prof_panel .container {
    padding-top: 65px;
    margin-top: -65px;
  }
}
.new_splash .profs_index .subjects-label,
.new_splash .profs_show .subjects-label {
  display: block;
  float: left;
  line-height: 27px;
  padding: 6px 12px;
  margin: 10px 0;
}
.new_splash .profs_index .subject,
.new_splash .profs_show .subject {
  padding: 1px 12px;
}
.new_splash .profs_index .subject .subject_icon,
.new_splash .profs_show .subject .subject_icon {
  width: 35px;
  background-size: 35px;
  height: 27px;
  top: 0px;
}
.new_splash .profs_index .subject .subject_name,
.new_splash .profs_show .subject .subject_name {
  line-height: 27px;
  top: -5px;
}
.new_splash .profs_index .prof_info,
.new_splash .profs_show .prof_info {
  padding-top: 5px;
}
.new_splash .profs_index .prof_info .name,
.new_splash .profs_show .prof_info .name {
  font-size: 19px;
  font-weight: 600;
}
.new_splash .profs_index .prof_info .university,
.new_splash .profs_show .prof_info .university,
.new_splash .profs_index .prof_info .subject_name,
.new_splash .profs_show .prof_info .subject_name {
  font-size: 19px;
}
.new_splash .profs_index .prof_info .quote,
.new_splash .profs_show .prof_info .quote {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 19px;
}
@media screen and (max-width: 767px) {
  .new_splash .profs_index .prof_info,
  .new_splash .profs_show .prof_info {
    text-align: center;
  }
}
.new_splash .profs_index .row,
.new_splash .profs_show .row {
  padding-top: 20px;
}
.new_splash .profs_index img,
.new_splash .profs_show img {
  width: 90%;
}
.new_splash .profs_index .prof_summary,
.new_splash .profs_show .prof_summary {
  font-size: 16px;
}
.new_splash .profs_index .full_story_link .col-md-12,
.new_splash .profs_show .full_story_link .col-md-12 {
  text-align: center;
}
.new_splash .profs_index .full_story_link a,
.new_splash .profs_show .full_story_link a {
  display: inline-block;
  border: 1px solid lightgray;
  border-bottom: none;
  padding: 5px 15px;
  border-radius: 4px 4px 0 0;
  transition: 0.3s;
}
.new_splash .profs_index .full_story_link a:hover,
.new_splash .profs_show .full_story_link a:hover {
  background-color: #f5f5f5;
}
.new_splash .profs_index .col-xs-6,
.new_splash .profs_show .col-xs-6 {
  padding-left: 15px;
  padding-right: 5px;
}
.new_splash .profs_index .col-xs-6 .subject_button_sm,
.new_splash .profs_show .col-xs-6 .subject_button_sm {
  margin: 0 0 10px 0;
}
.new_splash .profs_index .col-xs-6-alt,
.new_splash .profs_show .col-xs-6-alt {
  padding-left: 5px;
  padding-right: 15px;
}
.new_splash .profs_index .question {
  font-weight: bold;
}
.new_splash .profs_index .answer {
  padding: 10px 0;
}
.new_splash .profs_index .answer.nq_answer {
  padding: 0 0 10px 0;
}
.new_splash .profs_show p {
  margin-bottom: 10px;
}
.new_splash .profs_show .btn-default {
  border-color: #ebebeb;
  background-color: #ebebeb;
  color: #333;
  transition: 0.3s;
}
.new_splash .profs_show .btn-default:hover {
  background-color: #fff;
  border-color: #ccc;
}
.new_splash .profs_show .story_navigation {
  padding: 25px 0px;
}
.new_splash .profs_show h2 {
  font-size: 36px;
  font-weight: 300;
  text-align: left;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 5px;
}
.new_splash .profs_show h3 {
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  color: #999999;
  margin: 0px;
  line-height: 1.3;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 767px) {
  .new_splash .profs_show h2,
  .new_splash .profs_show h3 {
    text-align: center;
  }
}
.new_splash .profs_show .prof_info .name {
  font-size: 16px;
}
.new_splash .profs_show .prof_info .university,
.new_splash .profs_show .prof_info .subject_name {
  font-size: 16px;
}
.new_splash .profs_show .prof_qa {
  padding: 30px 0px 0px;
}
.new_splash .profs_show .prof_qa strong {
  font-weight: 600;
}
.new_splash .profs_show .prof_qa .question {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
