/*main*/
a{color:#fff;text-decoration:none;}
a:hover{color:#fff;text-decoration:underline;}
a img{border: 0;}
body{font:80% Verdana, Arial, Helvetica, sans-serif;color:#fff;margin:0;padding:0;background:#000;}
.clear{clear:both;}

/*header*/
#top_head{background:#370057;padding:2px 10px 2px 10px;border-bottom:1px solid #b75efa;}
#top_head table{width:100%;margin:0;padding:0;}

.one_h2{width:33%;color:#fff;font-size:14px;color:#fff;text-shadow:1px 1px 1px #000;}
.one_h2 h2{float:left;margin:0;padding:0;color:#fff;font-size:14px;}
.one_h2 a{font-size:14px;color:#ffa530;}
.one_h2 a:hover{text-decoration:none;}

.cat_cent{width:33%;}
.cat_cent select{border:1px solid #b75efa;color:#d1d0d0;text-shadow:1px 1px 1px #000;width:170px;background-color:#11011e;cursor:pointer;}
.cat_cent select option{cursor:pointer;}

.two_add{width:33%;}
.two_add .addthis_button{margin-top:3px;float:right;}

#header{background:#0d0014 url(bgh.jpg) top repeat-x;margin:0;padding:0;}
#header table{width:1070px;}

.one{width:350px;}
.one a.logo{width:340px;height:60px;}
.one a.logo h1{text-indent:-9999em;background:url(logo.png) no-repeat;width:340px;height:60px;margin:5px 0 0 7px;padding:0;}
.one div.addthis_toolbox{width:170px;float:right;color:#d1d0d0;text-shadow:1px 1px 1px #000;}

.two{width:578px;padding:10px 0 10px 0;}

.two .text_search{display:inline;float:left;margin:3px 20px 0 35px;text-shadow:1px 1px 1px #000;font-size:14px;color:#d1d0d0;}
.two .text_search strong{font-weight:normal;}
.two .form_search{display:inline;float:left;}

.two ul{width:540px;margin:10px auto 0 auto;padding:0;list-style:none;}
.two ul li{float:left;margin-right:5px;}
.two ul li a{display:block;color:#fff;font-size:16px;font-family:Arial, Helvetica, sans-serif;white-space:nowrap;letter-spacing:0px;height:36px;vertical-align:text-bottom;text-shadow:1px 1px 1px #000;}

.two ul li a .tm_l{display:block;background:url(li_l.png) no-repeat left top; width:130px;float:left;}
.two ul li a .tm_r{display:block;background:url(li_r.png) no-repeat right top;padding:0 5px;}
.two ul li a .tm_m{display:block;padding:0px 7px;line-height:36px;text-align:center;background:url(li_c.png) repeat-x left top;}

.two ul li a:hover{color:#fff;text-decoration:none;}

.two ul li a:hover .tm_l{background:url(li_l.png) no-repeat left bottom;}
.two ul li a:hover .tm_r{background:url(li_r.png) no-repeat right bottom;}
.two ul li a:hover .tm_m{background:url(li_c.png) repeat-x left bottom;}

/*search*/
.form{width:281px;margin:0 auto;}
.web2o_search{float:left;background:#11011e;border:2px solid #b75efa;color:#fff;width:200px;height:20px;font-size:14px;padding-left:2px;padding-right:2px;}
.web2o_search{padding-top /*\**/:4px\9;height /*\**/:16px\9;}
*+html .web2o_search{padding-top:4px;height:16px;}
.but{float:left;width:70px;height:26px;background:#11011e;border:2px solid #b75efa;color:#fff;font-size:14px;cursor:pointer;margin-left:3px;}

/*top*/
.foot-top{width:998px;margin:10px 0 0 8px;font-size:14px;font-family: Verdana, Geneva, sans-serif;}
.foot-top h2{color:#fff;text-shadow:1px 1px 1px #000;border-left:1px solid #b75efa;border-right:1px solid #b75efa;padding:0 10px 2px 10px;margin:0;background:url(li_c.png) repeat-x top;text-align:center;font-size:18px;font-family:'Trebuchet MS',Arial,sans-serif;text-transform:lowercase;font-weight:bold;}
.foot-tab{background:#11011e;border:1px solid #b75efa;color:#cd7afe;font-size:16px;}
.foot-tab a{font-weight:bold;text-shadow:1px 1px 1px #000;font-size:16px;text-decoration:none;color:#fff;}
.foot-tab a:hover{text-decoration:underline;}
.foot-tab td{padding:5px 0px 5px 10px;text-align:left;}

/*footer*/
#footer{background:#370057;border-top:1px solid #b75efa;font-size:11px;margin:10px 0 0 0;padding:2px 0 2px 8px;color:#fff;}
#footer table{width:990px;}
#footer table td.link_foot{width:200px;text-align:left;}
#footer table td.link_foot a{text-shadow:1px 1px 1px #000;}
#footer table td.copy_foot{width:790px;text-align:center;text-shadow:1px 1px 1px #000;}


.arc a {
color:#FFF;
border:1px solid;
width:27px;
padding:2px 1px 1px 0;
text-align:center;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:700;
font-size:12px;
float:left;
border-color:#CB78FC;
margin:2px;
height: 16px;
line-height: 14px;
margin-top: 4px;
background-color: #220037;
}

.arc A:hover {
color:#FFFFFF;
background-color:#FF80D9;
border-color:#FF88D8;
}

.category { width:325px; height:290px; display: inline; display: -moz-inline-stack; display: inline-block; zoom: 1;*display: inline;}

.category a.cat-box {
	width:324px;
	height:281px;
	position:relative;
	float:center;
	display: inline;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;*display: inline;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#473C8B;
	border:1px solid #836FFF;
	display:block;
	text-decoration: none;
}

.category a.cat-box:hover{
	background:#8B4789;
	border:1px solid #FF83FA;
}

.category b {
	color:#fff;
	font-size:20px;
	position:absolute;
	left: 5px;
	top: 247px;
	#width: 220px;
	text-align:center;
	text-decoration: none;
	text-shadow:2px 2px 2px #000;
}

.category img{
	padding: 2px 2px 2px 2px;
}

#askbox{
	float: left;
	position: relative;
	width: 80%;
	margin: 0 10px 0px 0;
}

#askbox form{
	margin-bottom: 0px;
}

#askbox form #q{
	width: 400px;
	height: 34px;
	padding: 3px;
	margin: 0px 10px;
	border: 3px solid #836FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#askbox form #button{
	display: inline-block;
	font-size: 14px;
	padding: 8px 14px 9px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	background-color: #473C8B;
	width: 90px;
}

.category {
	position: relative;
}

.see-more{
	position: absolute;
	bottom: 10px;
	right: 5px;
	padding: 3px;
	font-size: 11px;
}

.top-list-out{
	clear:both;
	overflow:auto;
	padding: 0px 0px 0px 10px;
	margin: 0px;
}

.top-list-out li{
	float:left;
	font-size: 90%;
}

.top-list-out li a{
	display:block;
}

.langbox{
	float:left;
	overflow: hidden;
}

.langbox select{
	height: 24px;
	padding: 3px;
	margin: 0px 10px;
	border: 3px solid #836FFF;
	background: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
