@charset "utf-8";
/* =============================================== */
/** Index Page Layout*//*
- *.*Index Common Style

/* ----------------------------------------------- */
/* ==================*.*Index Common Style ==================*/
body,html{
background: #f8f8f9;
overflow: hidden;
}
#wrapper{
width: 978px;
height: 3000px;
margin: 0 auto;
text-align: center;
background: #fff;
}
#indexLogo{
width: 98%;
margin: 0 auto;
background: #fff url(../images/atnextindex_logo_bg.gif) bottom left repeat-x;
padding-top: 85px;
}
#indexLogo h1{
width: 411px;
height: 164px;
background: url(../images/nextdigital_index_logo.gif) top left no-repeat;
text-indent: -9999px;
margin: 0 auto;
display: block;
}
#indexEntry{
width: 98%;
border-top: 1px solid #c00;
margin: 5px auto 0 auto;
}
#indexEntry ul{
width: 450px;
margin: 40px auto 0 auto;
}
#indexEntry ul li{
float: left;
}
#indexEntry ul li.hk a{
width: 210px;
height: 40px;
background: url(../images/atnextindex_logo_hk.gif) top left no-repeat;
text-indent: -9999px;
display: block;
}
#indexEntry ul li.tw a{
width: 210px;
height: 40px;
margin: 0 0 0 30px;
background: url(../images/atnextindex_logo_tw.gif) top left no-repeat;
text-indent: -9999px;
display: block;
}