@charset "utf-8";
/****** custom OPENVOTING 
 color azul OV #0054e4 ****/
 
.appElectionsOS {
	font-family:'Roboto',Tahoma,Arial,Sans,sans-serif;
	color:#333;
	font-size:11px;
	text-align:left;
	background-color:#fff;
}

.appElectionsOS p {
	font-family:'Roboto',Tahoma,Arial,Sans,sans-serif;
	color:#333;
	font-size:11px;
	text-align:left;
	background-color:#fff;
}

.appElectionsOS a {color:#0054e4;text-decoration:none}
.boxModulo  {	
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.16);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.16);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.16);
}
.appElectionsOS h2 {font-size:1.5em; font-weight: bold;}
.appElectionsOS img {vertical-align: inherit;}
/*---- TITULOS ---*/
.appElectionsOS .modulo, .appElectionsOS .box_title {border-bottom:1px solid #333;}
.appElectionsOS .box_title h1,.appElectionsOS .box_title h2 {color:#333;}
.appElectionsOS .box_title h1 a{color:#2f2f2f}
.appElectionsOS .box_contenido h3{color:#000;}
.appElectionsOS .box_contenido h4{color:#333;}

/*---- TABLAS ---*/
.appElectionsOS table th {background-color:#fff;color:#333;border-bottom:2px solid #333 !important;}
.appElectionsOS table tr td {background-color:#fff;color:#666;border-bottom:1px dotted #ccc;}
.appElectionsOS table tr td.col_1 {background-color:#fff;color:#666;border-bottom:1px dotted #ccc;}
	.appElectionsOS table tr td.partido, 
	.appElectionsOS table tr td .nombre_partido {color:#000;}
	.appElectionsOS table tr td .nombre_partido a{color:#5d5d5d}
.appElectionsOS table .celda_divisora{background-color:#fff !important;border-bottom:1px solid #fff !important;}
.appElectionsOS table tr.total td {background-color:#9cb6d2 !important;color:#000;border-bottom:none !important;}
.appElectionsOS table tr.total td.col_1  {background-color:#91aac7 !important;border-bottom:none !important;}
.appElectionsOS table tr.total td.celda_divisora{background-color:#fff !important;}
.appElectionsOS table tr.vacio td {background-color:#fff !important;}

/*NAVEGACION entre ciudades  >  encima de la tabla */
.appElectionsOS ul.tabNavegacion_ciudades {border-bottom:2px solid #333;}
.appElectionsOS ul.tabNavegacion_ciudades li {background-color:#FFF;border:1px solid #666;border-bottom: 0;}
.appElectionsOS ul.tabNavegacion_ciudades li a {color:#999;}
.appElectionsOS ul.tabNavegacion_ciudades li.active {background-color:#333;border:1px solid #333;color:#fff;}
.appElectionsOS ul.tabNavegacion_ciudades li.active a {color:#fff;}
.appElectionsOS .tabContenido_ciudades {margin-top:1px;background-color:#fff;}

/*NAVEGACION entre concejales/porcentaje/votos  >  encima de la tabla */
.appElectionsOS ul.tabNavegacion_ConcejalesPorcentajeVotos li {background-color:#fff;color:#333;}
.appElectionsOS ul.tabNavegacion_ConcejalesPorcentajeVotos li:after {color:#333;}
.appElectionsOS ul.tabNavegacion_ConcejalesPorcentajeVotos li a {color:#333;}
.appElectionsOS ul.tabNavegacion_ConcejalesPorcentajeVotos li.active {border-bottom:3px solid #0054e4;color:#0054e4;}
.appElectionsOS ul.tabNavegacion_ConcejalesPorcentajeVotos li.active a {color:#0054e4;}
.appElectionsOS .tabContenido_ConcejalesPorcentajeVotos {background-color:#fff;}

/* NAVEGACION paginas tabla */
.appElectionsOS ul.paginacionNavegacion li.pag_siguiente, .appElectionsOS ul.pagination li.pag_siguiente {background-color:#fff;}
.appElectionsOS ul.paginacionNavegacion li.active a,.appElectionsOS ul.pagination li.active a{background-color:#0054e4!important; color:#fff !important;
	border-radius: 3px 3px 3px 3px; -moz-border-radius:  3px 3px 3px 3px; -webkit-border-radius:  3px 3px 3px 3px;}

/* NAVEGACION pestañas principales est|ccaa|prov */
.appElectionsOS ul.global_nav_ppal {background-color:#ddd;}	
.appElectionsOS ul.global_nav_ppal li a {color:#333;;}
.appElectionsOS ul.global_nav_ppal li.active a {color:#fff;}

/* GRAFICOS > popup encima de los graficos (tooltip)*/
.appElectionsOS .mapa_tooltip {background-color:#333;color:#d6d5d1;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.appElectionsOS .mapa_tooltip .mapaTooltip_titulo {border-bottom:1px dotted #d6d5d1;color:#d6d5d1;}
.appElectionsOS ul.mapaTooltip_participacion li .mapaTooltip_participacionNumero {color:#d6d5d1;}
.appElectionsOS ul.mapaTooltip_rtdoPartidos li .mapaTooltip_partidoEscanos {color:#d6d5d1;background-color:#000;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.appElectionsOS ul.mapaTooltip_rtdoPartidos li .mapaTooltip_partidoPorcentaje {color:#d6d5d1;}
.appElectionsOS ul.mapaTooltip_rtdoPartidos li .mapaTooltip_partidoColor {color:#d6d5d1;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}

/*NAVEGACION por años > encima el mapa*/
.appElectionsOS ul.tabNavegacion_anyos li{color:#333;}
.appElectionsOS ul.tabNavegacion_anyos li:after {color:#333;}
.appElectionsOS ul.tabNavegacion_anyos li a{color:#333;}
.appElectionsOS ul.tabNavegacion_anyos li.active{background-color:#fff;border-bottom:3px solid #0054e4;color:#0054e4;}
.appElectionsOS ul.tabNavegacion_anyos li.active a{color:#0054e4;}

/*NAVEGACION entre años > encima arcos */
.appElectionsOS .year_actual{color:#333;}
.appElectionsOS .year_comparative{color:#333;font-weight:bold;}

/* DATOS ARCOS */
.appElectionsOS .data {background-color: #333;border-radius: 5px;}

/*LEYENDAS graficos > partidos debajo del mapa */
.appElectionsOS ul.leyenda_elecciones{background-color:#F5F5F5;}
.appElectionsOS ul.leyenda_elecciones li{color:#494947;}


/* BUSCADOR > caja buscador autocompletable */
.appElectionsOS .boxBuscador_input {background-color:#dddddd;border:1px solid #dddddd;}
.appElectionsOS .boxBuscador_input input, .appElectionsOS .boxBuscador_input .editableArea {font-size:12px;
	background-color:#fff;color:#333;
	border-top:1px solid #a19fa0;border-left:1px solid #a19fa0;
	border-bottom:1px solid #fff;border-right:1px solid #fff;
    -webkit-box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.14);
	box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.14);
	-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
::-webkit-input-placeholder {color:#333;}
.appElectionsOS .boxBuscador_input .editableArea span{color:#626262;}
.appElectionsOS .boxBuscador_input .options_autocomplete ul {background-color:#fff;border: 1px solid #DDD;}
.appElectionsOS .boxBuscador_input .options_autocomplete ul li {font-size:12px;}
.appElectionsOS .boxBuscador_input .options_autocomplete ul li a {color:#000;}
.appElectionsOS .boxBuscador_input .options_autocomplete ul li.hover a {background-color:#ddd;color:#333;}

.appElectionsOS .boxBuscador_select {margin-top:0px;width:100%;text-align:left; padding:20px;float:left; position:absolute;top:125px;}
.appElectionsOS #modulo_buscador .boxBuscador_select {position:relative;top:0px;}
.appElectionsOS .boxBuscador_select h4 {margin-bottom:15px;}
.appElectionsOS .boxBuscador_select p{margin:10px 0 8px 10px;font-size:14px;color:#000}

/* BUSCADOR > combos select para provincias y ccaa */
.appElectionsOS .boxBuscador_select div.wrap-dd-select{
	background-color:#fff;color:#333;
	border-top:1px solid #a19fa0;border-left:1px solid #a19fa0;
	border-bottom:1px solid #fff;border-right:1px solid #fff;
    -webkit-box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.14);
	box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.14);
	-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;
}
.appElectionsOS .boxBuscador_select .selected{color:#535353;}
.appElectionsOS .boxBuscador_select ul.dropdown{background-color:#ddd;border-color:#ddd;border-radius:5px 5px 0 0;}
.appElectionsOS .boxBuscador_select ul.dropdown li a {color:#535353;}
.appElectionsOS .boxBuscador_select ul.dropdown li a:hover {background-color:#e5e5e5;color:#444;}
.appElectionsOS .box_select ul.dropdown li:hover a{color:#000}
