html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{font:12px Arial, Helvetica, sans-serif;color:#333;background:#eee;margin:0 auto;padding:0;min-width:240px;}
#nwrap {
	width: 100%;
	max-width: 1070px;
	margin: 0 auto;
}
#stickyunit{position:fixed;width:160px;height:600px;top:10px;right:50px}
@media screen and (max-width:1085px){#stickyunit{display:none}}
#wrap{width:866px;background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;/*margin:0 auto;*/padding:5px 10px;}
#container{width:866px;margin:0;padding: 10px 0 0 0;border-top: 2px solid #CBDEED;}
#contents{float:left;width:541px;padding:5px 10px 5px 5px;}
#sidebar{float:right;width:300px;padding:5px;}
a{text-decoration:none;}
h3{font-size:14px;margin:0;}
p{line-height:20px;margin:0;padding:0;}
img, p img{max-width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic;}
#header{width:100%;height:auto;text-align:left;clear:both;display:none;}
.post{min-height:20px;text-align:justify;font-size:13px;clear:both;display:block;}
.post p,.post ul,.post ol{margin-bottom:12px;}
/*.posttitle{margin:0 0 10px 0;}*/
.title h2{text-align:left;margin: 0;padding: 0;}
.current{border-color:#999 !important;box-shadow:0 2px 3px rgba(0, 0, 0, 0.15);}
#nav{font:bold 13px Arial, Sans-Serif;clear:both;margin:13px 0px 5px;position:relative;}
#nav ul{background:#464647;overflow:auto;margin:0;padding:0px 0px 0px 110px;border-radius:3px;}
#nav li{list-style:none;float:left;display:inline;position:relative;}
#nav li a{display:block;color:#fff;line-height:22px;padding:2px 4px 3px 6px;background-color:#3D3C3C;border-style:solid;border-width:1px;border-color:#404040 #1a1a1a #1a1a1a #505050;transition:.3s;}
#nav li a:hover{background:#756E6E;color:#f5f5f5;border-top-color:#756E6E !important;border-left-color:#756E6E;background-color:#756E6E;}
.jfx{ min-width:75px }
.bold{ font-weight: bold; }
.center{ text-align:center }
.imgcenter{ display: block;margin:auto }
.w108{ width:108px }
.w94{ width:94px }
.green{ background-color:#24F988; }
.note2{ background: #F3F3F3; padding: 2px; }
.notes{ background-color: #DEFC16 }
.ffmobile{ position:fixed;bottom:0;left:0;width:100%;font-weight: bold; }
#closeNotes{ margin-bottom: 5px; }
#closeNotes span{ padding: 3px; border: 1px solid #bbb; background-color: #4D90FE; color: #fff;cursor: pointer;}
#sidebar .box{padding-top:5px;padding-bottom:10px;border:#333;}
.box ul{margin:0;padding:0;text-align:center;}
.box li{list-style:none;background:#f3f3f3;display:inline-block;text-align:center;font:bold 11px Helvetica, Arial, sans-serif;text-decoration:none;border:solid 1px #dcdcdc;border-radius:2px;margin: 3px 2px;text-shadow:0 1px 0 #fff;transition:border-color .4s;}
.box li:hover{border-color:#CBC5C5;box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);}
.box h3{text-align:center;font-size:12px;text-transform:uppercase;border-bottom:2px solid #DDCDCD;margin:0 0 4px 0;padding:0;}
.box h3 span{background-color:#E6E6E6;padding:6px 12px 3px;line-height:21px;border-radius:2px 2px 0 0;}
.box a{font-weight: bold;display: block;min-width: 86px;padding: 4px 2px;}
#breadchumb{float:left;font-size:11px;text-align:left;color:#999;clear:both;border-top:1px solid #DDCDCD;width:100%;margin:13px 0px 5px 0;padding:3px 0px 0px;}
#breadchumb a{color:#999;padding-left:5px;}
#footer{width:866px;height:auto;color:#6E6E6E;border-top:2px solid #EEE;text-align:center;font-size:12px;padding-top:6px;padding-bottom:12px;}
#footer a:link,#footer a:visited{color:#404040;text-decoration:none;}
#footer ul li{float:left;}
a:link, a:visited,#sidebar a:hover{color:#167AC6;}
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited{color:#167AC6;}
h1, h2, h3{text-align:center;color:#666666;font:700 16px Arial, Helvetica, sans-serif;text-transform:capitalize;padding-bottom:5px;margin:0;}
#header .logo,.header h1{font:700 16px Arial;}
.ikltop{text-align:center;margin:10px auto;clear:both;min-width:280px;max-width:750px;width:100%}
.iklbtm {width:auto; max-width:346px; max-height: 290px; margin:0 auto; padding:5px}

.iklfix{max-width:350px; margin:15px auto; padding:0;clear:both; }
/*.bodiads{ background-color: #E6E6E6;}*/
.bodiads > ins { margin:0 auto}
.iklresp{ text-align:center;margin-top:10px;margin-bottom:10px;clear:both; }
.headads{ margin: 0 auto;text-align: center }
.headads span{ font-size: 11px;background-color: #F6F7F8;color:#6C6767 }
.tombolmenu{ clear: both;margin: 10px 0;font-size: 12px; }
.tombolmenu a{border: 1px solid #DCDCDC;padding: 3px 4px;font-weight: bold;background-color: #f3f3f3  }
#navitop{text-align:center;margin:10px 0 5px;}
.navi{background-color:#4D90FE;border-radius:2px;display:inline-block;white-space:nowrap;border:1px solid #4D90FE;text-align:center;font:normal 11px Arial, Sans-Serif;text-transform:uppercase;text-decoration:none;color:#fff !important;margin:3px;padding:4px;font-weight: bold;}
.navi:hover{border-color:#999;transition:border-color .4s;box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);}
#stream{position:relative;padding-bottom:74%;height:0;overflow:hidden;}
#stream iframe,#stream embed,#stream object{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;border:0px;}
#report{font-size:12px;line-height:20px;position:absolute;top:0;right:0;background-color:#f3f3f3;border:1px solid #DFDFDF;border-radius:1px;padding:1px 2px 2px;color:#6E6E6E;z-index:999;}
#report:hover{cursor:pointer;border:1px solid #999999;}
#sh{background-color: #F6F7F8;height: 26px;padding: 5px 0px 0px;border: 1px solid #E9EAED;margin:5px 0}
.sharrre{float:left;cursor:pointer;margin:0 0 0 5px;}
.sharrre .count{margin:0px 0px 0px 8px;border:1px solid #BCB9B9;padding:0px 6px 0px 5px;float:right;height:18px;line-height:19px;font-size:11px;background-color:#E6E6E6;position:relative;color:#8C6E6E;}
.sharrre .count:after, .sharrre .count:before{right:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;}
.sharrre .count:after{border-color:rgba(136, 183, 213, 0);border-right-color:#E6E6E6;border-width:5px;margin-top:-5px;}
.sharrre .count:before{border-color:rgba(194, 225, 245, 0);border-right-color:#BCB9B9;border-width:7px;margin-top:-7px;}
.shareTxt{line-height:21px;color:#8C6E6E;font-weight:bold;cursor:default;}
.sharrre .box .share{}
.icon{display:block;margin:0 0 0 5px;width:20px;height:20px;float:left;background:url(/dokitv/images/sosmed.png) no-repeat;}
#fb .icon{background-position:0 0;}
#tw .icon{background-position:0 -40px;}
#gp .icon{background-position:0 -20px;}
.clear{clear:both;}
#bgtv{width:100%;border:none;margin:0;padding:0;max-width:100%;height:auto;text-align: center;}
#deskripsi{margin:10px 0;}
#copyright{font-style:italic;font-size:9px;margin:00px 0 0 0;}
#stasiuntv{border:1px solid #eee;border-radius:3px;}
#stasiuntv ul{padding:0;text-align:center;}
#stasiuntv ul li{list-style:none;margin:2px;display:inline;padding:0;}
#stasiuntv img:hover{box-shadow:0 1px 3px #6E6E6E;transition:box-shadow .4s;}
#stasiuntv img{width:125px;height:auto;}
#logo{position:relative;}
#logo img{position:absolute;top:0px;z-index:999;left:10px;}
.judul{margin-bottom: 5px !important;text-align:center;}
.judul span{font-weight:bold;}
.tanggal{position:absolute;right:1px;top:1px;color:#fff;padding:5px;font-weight:normal;display:block;}
#jadwaltv{list-style:none;margin:0;padding:0;}
#jadwaltv li{float:left;border:1px solid #DCDCDC;border-radius:3px;width:120px;position:relative;margin:4px;height:114px;display:block;}
#jadwaltv li img{position:absolute;border:0px none;top:3px;left:3px;width:114px;}
#jadwaltv li a{top:0px;text-align:center;display:block;position:absolute;z-index:999;width:100px;padding-top:78px;left:10px;}
#jadwaltv li:hover{border:1px solid #CBC5C5;box-shadow:0 1px 2px rgba(0, 0, 0, 0.30);}
.list_jadwal{list-style:none;padding:0;margin:0;width:100%}
.waktu{ width:30px }
.list_jadwal a{display: block; width: 100px;font-weight: bold;color: #167AC6;float: right;padding-left: 6px;border-left: 1px solid #DCDCDC;}
.list_jadwal tr:hover{border-color: #CBC5C5;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);background-color:#B9FCAC;transition: box-shadow .3s;}
.clearfix{clear:both}
.tanggalMain{line-height: 24px; width: 100%;background:#3EA6DE;border-bottom:2px solid #80756A;font-size:13px;border-top:0;color:#fff;font-weight: bold;margin: 10px 0px 0px;text-align: center;}
.list_jadwal h4{padding:0;margin:0;font-size:14px;text-align:center}
.list_jadwal li{padding:5px 7px;font-weight:bold;border-bottom:1px solid #D9D9D9;font-size:12px;color:#444}
.list_jadwal .time2,.list_jadwal .time2:hover{padding:5px 10px;background:#3EA6DE;border-bottom:2px solid #80756A;font-size:12px;border-top:0;color:#fff}
.list_jadwal .team .t1{float:left;width:42%;display:block;vertical-align:top}
.list_jadwal .team .t2{float:right;width:42%;text-align:right;display:block;vertical-align:top}
.list_jadwal .team .t3{float:left;display:block;color:#360;border-right:1px solid #999;padding-right:10px;vertical-align:top}
.list_jadwal .team .t4{float:left;display:block;padding-left:5px;padding-right:5px;vertical-aalign:top;width:80px;text-align:center}
.t4 a{color: #167AC6}
.list_jadwal .team .t5{overflow:hidden;text-align:left;display:block;padding-left:10px;vertical-align:top;border-left:1px solid #999;}
.spasi{margin:0 5px;}
.spasi20{ margin: 20px 5px;display: block; }
.jadwal_bola{width:100%}
#deskripsi table, .jadwal_bola{border-collapse:collapse;color:#444;font-size:12px;width:100%;margin: 5px 0 10px;}
#deskripsi table, th, td, .jadwal_bola table, th, td {border:1px solid #DCDCDC;}
#deskripsi td, .jadwal_bola td{padding:4px 6px}
#deskripsi th, .jadwal_bola th{background-color:#3EA6DE;color:#fff;text-align:center;padding:5px}
#deskripsi h3, .jadwal_bola h3{font-size:14px;padding:0;}
.even{background:#f5f5f5;}
.jam{width:35px;color:#360;text-align: center;}
.tayang{background:#B9FCAC;font-weight:bold;}
.tayang a{line-height:16px;background-image:url("/images/tayang.png");background-repeat:no-repeat;background-position:0px center;padding:0px 0px 0px 30px;}
.note{margin:10px 0;}
.note span{background:#B9FCAC;}
#list-mivo{ list-style: none;padding:0 5px;margin: 0; }
#list-mivo li{float:left;list-style-type: square;margin:4px 10px;}
.l{ float:left;width:auto;max-width:100% }
.l img{margin:5px 10px 0 0;border:0 }
.r{ float:right}
.r img{ margin: 0 0 0 10px;border:0 }
.ftl{ margin:5px 0 }
.ftl a{ margin:0 5px }
.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;}
#gplus-comments{ position: relative; width:100% !important;margin:15px 0 !important }
.cinput{width:185px;}
#form1 textarea{width:99%;height:150px}
.expand{ float: right;cursor: pointer;margin: 1px 5px 0 0; }
.expand img:hover{ width:85px;height:20px}
#lengkap{margin:0px;padding:0px;color:#167AC6;cursor:pointer}
td:nth-child(2){ text-align: left; }
.iklfb{ width:320px;margin:5px auto }

@media (max-width:800px){#wrap{width:auto;}
#container{width:100%;}
#contents{width:auto;padding:5px;float:none;}
#sidebar{width:auto;padding:5px;float:none;}
#footer{width:100%;}
img, iframe, embed, object{max-width:100%;}
#sh{margin:4px 2%;}
.note{margin:10px 2%;}
.list_jadwal{width:100%;}
#deskripsi table{ width:99% }
.tanggalMain{ width: 99% }
.spasi20{ margin:0 }
}
@media (max-width:630px){
.tanggal{font-size:11px;}
}
@media (max-width:600px){#wrap{width:auto;padding:0px;}
#nav li a{padding:0px 5px 2px;margin:2px}
#breadchumb{display:none;}
#contents{width:auto;padding:5px;float:none;}
#sidebar{width:auto;padding:5px;float:none;}
#footer{width:100%;}
#stasiuntv img{width:125px;height:auto;}
.posttitle{margin:15px 0 0 0;}
.tanggal{font-size:11px;}
}
@media (max-width:580px){.tanggal{display:none;}
}
@media (max-width:540px){#logo img{top:4px;width:88px;left:4px;}
.dua{min-width:45%;max-width:55%;text-align:center;}
.tilu{min-width:30%;max-width:40%;text-align:center;}
#nav{margin:2px 1px}
#nav ul{padding:0px 0px 0px 95px;}
.posttitle{margin:5px 0 0 0;}
}
@media (max-width:480px){#jadwaltv li{height:94px;width:92px;}
#jadwaltv li img{left:3px;width:85px;}
#jadwaltv li a{width:92px;padding-top:60px;left:0}

}
@media (max-width:430px){
.list_jadwal a{font-weight: bold;color: #167AC6;display: block;float: none;border: none;padding: 2px 0;margin: 3px 0px 2px;}
}
@media (max-width:360px){
#stasiuntv img{width:104px;height:auto;}
}

@media screen and (max-width:320px){#wrap{width:auto;padding:0px;}
#nav{font:bold 12px Arial,sans-serif;}
.dua{min-width:49%;max-width:51%;text-align:center;}
.tilu{min-width:33%;max-width:40%;text-align:center;}
#nav li a{padding:0px 5px 2px;}
.spacer{width:100%;display:block;}
#breadchumb{display:none;}
#contents{width:auto;padding:5px;float:none;}
#sidebar{width:auto;padding:5px;float:none;}
#footer{width:100%;}
.list_jadwal li{padding:5px}
.list_jadwal .team .t4{padding:0;}
.list_jadwal .team .t5{padding-left:8px;min-height:30px;}
.list_jadwal .team .t3{padding-right:6px;min-height:30px;}
#logo img{top:6px;width:80px;left:5px;}
.dua{min-width:47%;max-width:55%;text-align:center;}
.tilu{min-width:25%;max-width:40%;text-align:center;}
#nav{margin:2px 1px}
#nav ul{padding:0px 0px 0px 87px;}
#stasiuntv img{width:90px;height:auto;}
}
@media screen and (max-width:240px){#logo{display:none;}
#nav ul{padding:0;}
.tilu{min-width:30%;max-width:40%;text-align:center;}
.dua{width:50%;text-align:center;}
}