/*
Theme Name: BarisDerin
Theme URI: http://barisderin.com/
Description: The theme for barisderin.com based on default Wordpress theme.
Version: 0.1
Author: Baris Derin
Author URI: http://barisderin.com/
Tags: black, two columns

	BarisDerin v0.1
	http://barisderin.com/
	
	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/

/*GENERIC*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0pt none ; margin: 0pt; padding: 0pt; background: transparent none repeat scroll 0% 0%; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0pt; font-size: 100%; vertical-align: baseline; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
body {background: #191919 none repeat scroll 0% 0%;line-height:1;-moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
:focus {outline-color:-moz-use-text-color;outline-style:none;outline-width:0pt;}
html,body{height:100%;}
html{font-size:76%;}
body{font-family:Arial,Helvetica,sans-serif;font-size:1.1em;line-height:1.4em;}
.clear{margin:0;padding:0;clear:both;width:1px;height:1px;}
#mainwrapper { margin: 0pt; background: rgb(25, 25, 25) url('') repeat-y scroll 0% 0%; width: 980px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; min-height: 100%; height: auto ! important; float:left;}

/*LEFT COLLUMN AND NAVIGATION*/
#leftcollumn { margin: 0pt; width: 335px;  float:left; /*background-color: rgb(25, 25, 25);*/}
#leftcollumn a { color: rgb(111, 129, 130); text-decoration: none; text-transform: uppercase; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#leftcollumn a:hover { text-decoration: underline; }
#mainnavigation { margin: 0 auto; padding: 0pt 20px 0px; background-color: transparent; color: rgb(111, 129, 130); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; text-transform: uppercase; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 18px; padding-right: 0px; padding-top: 35px; width: 300px; -moz-border-radius-topright: 8px;-webkit-border-radius-topright: 8px;border-radius-top-right: 8px;-moz-border-radius-bottomright: 8px;-webkit-border-radius-bottomright: 8px;border-radius-bottom-right: 8px;/* z-index:9999; margin-top:-237.5px; position: fixed; top: 50%;*/}
#mainnavigation img { margin: 0pt 20px 20px 0pt; }
#sitelogo { background-image: url('http://cdn.barisderin.com/wp-content/themes/barisderin/images/sitelogo.png'); height: 66px; background-repeat: no-repeat; margin-bottom: 50px; margin-left: 9px; }

/*RIGHT COLLUMN*/
#rightcollumn { border-right: 1px solid rgb(25, 25, 25); margin: 0pt; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 644px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-left:335px; }

/*CONTENT*/
#content { padding: 0 20px 0 20px; width: 604px; }
#content p { color: rgb(33, 33, 33); font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 20px; }
#content img.mainimage {-moz-box-shadow: 0 0 1em #666;-webkit-box-shadow: 0 0 1em #666;box-shadow: 0 0 1em #666;border: 1px solid rgb(233, 233, 233); padding: 7px; margin-bottom: 25px; width: 589px; height: 315px; background-color:  rgb(242, 242, 241); }
#content h1 { color: rgb(25, 25, 25); letter-spacing: -1px; padding-bottom: 15px; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 24px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
#content h1.contentheading { padding-bottom: 10px; font-family:	Lucida Grande,Verdana,Geneva,sans-serif;font-size:27.6px;font-weight:bold;text-shadow:0 0 11px #888888;}
#content div.hr {border: 0pt none;margin: 0pt 0pt 26px;background:transparent url('http://cdn.barisderin.com/wp-content/themes/barisderin/images/hr.gif') no-repeat scroll 0% 0%; height: 1px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#content hr {display: none;}
#content .hrtop {margin-top:25px;}
#content .wrapdiv{padding: 20px 0pt;position:relative;}
#content .single{padding:0;padding-bottom:2px;}
#content .wrapdiv .says { background: transparent none no-repeat scroll right center; color: rgb(102, 102, 102); cursor: default; margin-right: 8px; padding-right: 8px; text-decoration: none; text-transform: uppercase; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#content .wrapdiv a { background: transparent none no-repeat scroll right center; color: rgb(102, 102, 102); margin-right: 8px; padding-right: 8px; text-decoration: none; text-transform: uppercase; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#content .wrapdiv a.entryanchor {color:#352515;font-family:"Trebuchet MS",Verdana,Arial,sans-serif;font-size:16px;font-style:normal;font-weight:400;line-height:22.7667px;border-bottom:1px dashed #BBBBBB;padding-right:0;margin-right:0;text-transform: none;}
#content .wrapdiv a.entryanchor:hover {text-decoration:none;}
#content .wrapdiv a:hover { text-decoration: underline; }
#content div.entry_content p {padding-bottom: 20px;}
#content div.entry_content p{font-family:"Trebuchet MS",Verdana,Arial,sans-serif;font-size:16px;font-weight:400;font-style:normal;color:#352515;line-height:22.7667px;}
#donationbox{text-align: center; background-color: lightYellow; padding-top: 21px; margin-bottom: 26px; -moz-border-radius: 8px 8px 8px 8px;-moz-box-shadow: 0 0 1em gold;-webkit-box-shadow: 0 0 1em gold;-webkit-border-radius: 8px 8px 8px 8px;border-radius: 8px 8px 8px 8px;box-shadow: 0 0 1em gold;}

/*COMMENT FORM AND COMMENTS*/
#commentform p{margin-bottom:25px;}
#commentform{margin-top:15px;background-color:#f2f2f2;padding:30px;border:1px solid #E9E9E9;}
#commentform input {width:100%;-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#F7FCFF none repeat-x scroll left top;border:1px solid #97B5D2;color:#25313C;font-family:Georgia,Times,"Times New Roman",serif;font-size:28px;}
#commentform label small{color:#888888;display:block;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:18px;margin-bottom:5px;line-height:25px;}
#commentform textarea {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#F7FCFF none repeat-x scroll left top;border:1px solid #97B5D2;color:#25313C;font-family:Georgia,Times,"Times New Roman",serif;font-size:28px;}
#commentform textarea,#commentform input{border:5px solid #E9E9E9;-moz-appearance:none;background-color:white;}
.commentlist li {-moz-box-shadow: 0 0 1em grey;-webkit-box-shadow: 0 0 1em grey;box-shadow: 0 0 1em grey;margin-left:0;margin-right:0;padding:15px;}
#comments{border-top:1px solid #F2F2F2;font-style:italic;font-weight:normal;letter-spacing:1px;margin-bottom:15px;margin-top:25px;padding-top:15px;text-transform:uppercase;}
#content .comment-body > p{font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;font-size:13px;font-weight:400;}
#content .comment-body .comment-meta {height:40px;}
cite.fn,cite.fn a.url{color:#007BC4 !important;font-weight:bold !important;}
cite.fn a.url{text-decoration:underline !important;font-style:italic !important;font-size:13.383px !important;text-transform:none !important;padding-right:0 !important;margin-right:0 !important;}
.comment-author-admin{background-color:LemonChiffon !important;}
body,#mainwrapper {background-image:url(http://cdn.barisderin.com/wp-content/themes/barisderin/images/bg.png) !important;background-repeat:repeat-x !important;background-attachment:fixed !important;}
.comment-body p a {text-transform:lowercase !important;display:block !important;font-size:13px !important;line-height:20px !important;font-family:	"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif !important;}
.comments-heading{padding: 15px 15px; text-align: center; margin-top: 15px; margin-bottom: 15px;}
.comments-heading-span {-moz-box-shadow: 0 0 1em grey;-webkit-box-shadow: 0 0 1em grey;box-shadow: 0 0 1em grey; text-transform: uppercase; font-style: italic; padding: 10px 25px;  text-align: center; margin-top: 15px; margin-bottom: 15px;font-weight:normal; -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.contentheading{-moz-box-shadow: 0 0 1em #666 !important;-webkit-box-shadow: 0 0 1em #666 !important;box-shadow: 0 0 1em #666 !important;color:#352515 !important;padding-left:0 !important;padding-top:10px !important;text-align:center !important;}
#content{padding-top:0 !important;}
.sitemap-link {-moz-border-radius: 5px 5px 5px 5px;-moz-box-shadow: 0 0 1em grey;-webkit-box-shadow: 0 0 1em grey;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;box-shadow: 0 0 1em grey;font-style:italic;font-weight:normal;margin-bottom:0px;margin-top:0px;text-align:center;text-transform:uppercase;padding-left: 8px; padding-top: 2px; padding-bottom: 2px;padding-right:25px;}
.sitemap-wrapper{text-align: center; padding: 0px; margin: 25px 15px 21px;}
.sitemap-link-wrapper > ul > li {margin-bottom:30px;margin-left:15px;}
.gallery-icon{float:left;margin:0 5px;}
.gallery-icon img{float:left;width:110px;-moz-background-origin:content;-moz-background-size:110px 110px;-moz-border-radius: 5px;-moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);-webkit-border-radius: 5px;border-radius: 5px;box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);background-attachment:scroll;background-color:#FFFFFF;background-position:center center;background-repeat:no-repeat;border-bottom-color:rgba(0, 0, 0, 0.25);border-bottom-style:solid;border-bottom-width:1px;border-top-color:rgba(0, 0, 0, 0.25);border-top-style:solid;border-top-width:1px;display:block;height:auto;padding-bottom:4px;padding-left:4px;padding-right:4px;padding-top:4px;}
.gallery-icon img:hover {-moz-box-shadow: 0 0 1em #FF003B;-webkit-box-shadow: 0 0 1em #FF003B;box-shadow: 0 0 1em #FF003B;}
.navigation {text-align: center; margin-bottom: 15px;}
.navigation .alignleft,.navigation .alignright{display:inline;}
.navigation .alignleft a,.navigation .alignright a{-moz-border-radius: 5px 5px 5px 5px;-moz-box-shadow: 0 0 1em grey;-webkit-box-shadow: 0 0 1em grey;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;box-shadow: 0 0 1em grey; font-style: italic; font-weight: normal; margin-bottom: 0pt; margin-top: 0pt; padding: 2px 25px 2px 8px; text-align: center; text-transform: uppercase;}
#donationbox p{color: rgb(53, 37, 21); font-family: "Trebuchet MS",Verdana,Arial,sans-serif; font-size: 16px; font-style: normal; font-weight: 400; line-height: 22.7667px; margin-bottom: 0px; padding-bottom: 20px;}
#babylon{text-align: center; margin-bottom: 20px;}
.horadpanel {background-color: rgb(221, 221, 221) !important; text-align: center !important; -moz-box-shadow: 0 0 1em black !important;-webkit-box-shadow: 0 0 1em black !important;box-shadow: 0 0 1em black !important; margin-bottom:20px !important;}
.horpadpanelintro {margin-top:10px !important;}
#bdlsb{background-color: rgb(255, 255, 255); text-align: center; margin-bottom:20px;padding-bottom:20px;}
#bdupperhad{text-align:center;display: block; padding-bottom: 20px; margin-bottom: 10px;}
.upperintroad{text-align:center; display: block; padding-bottom: 20px; margin-bottom: 20px;}
.installpersonasplus{padding-bottom:0 !important;}

.projectimg{
	margin-top:25px !important;
	text-align:center !important;
}

.pagenavigation{
	padding-left: 20px;
	padding-top: 30px;
}





/* Place Above */

#comments_wrapper { float:right; width:540px; padding:0 0 15px 0; }

#comment_area, #trackback_area { margin:15px 0 20px 0; padding:0 0 5px 0; border-bottom:1px solid #ccc; }
#trackback_area { display:none; }


/*  ------ comment_header ----------------------------------------------------------------------------------------------------------------------- */
#comment_header { border-bottom:1px solid #ccc; font-size:11px; position:relative; }
#comment_header li { display:inline; float:left; padding:5px 10px; }

#comment_header_left { float:left; display:inline; margin:0 0 0 5px; }
#add_comment a { background:none no-repeat left center; padding:0 0 0 20px; }
#comment_feed a { background:none) no-repeat left center; padding:0 0 0 20px; }

#comment_header_right { clear:left; position:absolute; top:-1px; right:15px;  background:#fff; }
#comment_header_right li, #comment_header_right #trackback_closed { border-top:1px solid #fff; border-bottom:1px solid #ccc;  }
#comment_header_right li.comment_switch_active,#comment_header_right #comment_closed { border:1px solid #ccc; border-bottom:1px solid #fff; }
.comment_switch_active a { color:#33a8e5; }


/*  ------ comment ------------------------------------------------------------------------------------------------------------------------------ */
.commentlist { list-style-type:none; margin:0; padding:0; }
.comment { border:1px solid #ccc; color:#777; margin:0 15px 15px; padding:15px 0 3px; background:#eee; }
.even_comment, .odd_comment_children { background:#eee; }
.odd_comment, .even_comment_children { background:#fdfdfd; }
.admin-comment { }

/* ----- comment-meta ----- */
.comment-meta { height:56px; position:relative; }

.comment-meta-left { position:absolute; left:15px; top:0; }
.avatar { border:1px solid #ccc; background:#fff; width:37px; height:37px; padding:2px; display:inline; float:left; margin:0 15px 0 0; }
.comment-name-date { padding:6px 0 0 0; float:left; }

.commentlist a, .commentlist a:visited, .comment-name { color:#2d96bd; }
.commentlist a:hover { color:#ef3982; }
a.admin-url { text-decoration:underline; }
a.guest-url { text-decoration:underline; }

.comment-date { font-size:11px; color:#757676; margin:0 0 0 0; }

.comment-act { background:none no-repeat left 5px; font-size:11px; position:absolute; right:12px; top:5px; padding:0 0 0 13px; }
.comment-act li { display:inline; }
.comment-reply a, .comment-reply a:visited { border-right:1px solid #aaa; padding:0 10px 0 0; margin:0 6px 0 0; }
.comment-edit a, .comment-edit a:visited { border-left:1px solid #aaa; padding:0 0 0 10px; margin:0 0 0 6px; }

/* ----- comment-contents ----- */
.comment-content { padding:0; clear:both; margin:0 15px; }
* html .comment-content { padding:5px 0 0 0; }
.comment-content a, .comment-content a:visited { text-decoration:underline; }
.comment-content a:hover { }
.comment blockquote span { margin:0 0 -1em 0; display:block; }

.comment-note { display:block; font-size:11px; margin:0 0 1em 0; color:#33a8e5; border:1px solid #94ddd4; padding:10px 15px; background:#d6f4f0; }

.comment_closed { border:1px solid #ccc; text-align:center; margin:0 15px 15px 15px; padding:15px; background:#fff none left top; }
#trackback_closed { background:none no-repeat left center; padding:0 0 0 12px; }

/* ----- trackback-contens ----- */
.trackback_time { font-size:11px; color:#757676; margin:0 0 7px 15px; }
.trackback_title { margin:2px 0 8px 0; margin:0 0 10px 15px; }

#trackback_url_wrapper { margin:0 15px 20px; font-size:11px; }
#trackback_url_wrapper label { margin:0 0 2px 5px; display:block; }
#trackback_url_wrapper input { background:#fff none no-repeat 10px center; border:1px solid #ccc; color:#777; padding:5px 20px; width:468px; }

/* ----- comment-pager ----- */
#comment_pager { margin:0 15px 10px 15px; height:24px; }
#comment_pager a, #comment_pager span { display:inline; float:left; margin:0 10px 0 0; }
#comment_pager .current { text-decoration:underline; }



/* ---------- form area ------------------------------------------------------------------------------------------------------------------------- */
.comment_form_wrapper { border:1px solid #ccc; margin:0 15px 15px; padding:15px; background:#fff none left top; }

#cancel_comment_reply  { background:none no-repeat left center; margin:0 0 1em 0; padding:0 0 0 11px; }

#comment_user_login p { padding:0 0 0 1px; margin:0; line-height:100%; }
#comment_user_login span { margin:0 0 0 40px; }

#comment_login { background:none no-repeat left bottom; margin:0; padding:3px 30px 10px 30px; }
#comment_login p { margin:0; padding:12px 0 11px 36px; line-height:100%; background:none no-repeat left 4px; }
#comment_login a { margin:0 0 0 20px; padding:0 0 0 20px; background:none no-repeat 10px 3px; }

#guest_info { padding:0; width:98%; }
#guest_info div { margin:0 0 12px 0; text-align:left; }
#guest_info input { margin:0; border:1px solid #ccc;  padding: 3px 5px; width:70%; background:#fff; color:#777; }
#guest_info label { display:block; margin:0 0 5px 0; padding:0 0 0 0; font-size:11px; color:#888;}
#guest_info span { color:#666; margin:0 10px 0 0; }

#comment_textarea textarea { width:90%; margin:15px 0 0 0; padding:15px; height:150px; border:1px solid #ccc;
                             background:#fff; color:#777; font-size:11px; overflow:aut o; }

#submit_comment { margin:30px auto 0 auto; width:200px; display:block; background:#fff; color:#666; border:1px solid #ccc; padding:4px 0; cursor:pointer; }
#submit_comment:hover { border:1px solid #33a8e5; color:#33a8e5; }

#back_top_comment { float:right; background:none no-repeat left center; padding:0 0 0 16px; display:inline; margin:0 15px 10px 0; font-size:11px; }

#input_hidden_field { display:none; }

/* ----- password protected ----- */
.nocomments { text-align:center; margin:0 15px; color:#e2415b; border:1px solid #ccc; background:#fff none left top; }
.nocomments p { margin:15px 20px; font-size:12px; }