/* --- COMICBOOK.COM BASE STYLES --- */

/*	SASS variables
	@darkBlue: #233870;
	@blue: #256295;
	@brightBlue: #14437e;
	@yellow: #f4df3f;
	@lightGrey: #f7f7f7;
*/

/* background images */
/*body.homepage { background: url(http://media.comicbook.com/uploads1/2015/04/bpchlcthkr5iohacwqjqwu-133153-640x960.png) no-repeat #f7f7f7; background-size: 100%; }*/
@media screen and (min-width: 768px) {
	/*body.homepage { background: url(http://media.comicbook.com/uploads1/2015/04/bpchlcthkr5iohacwqjqwu-133153-1280x1920.png) no-repeat #f7f7f7; background-size: 100%; }*/
}

/* header and nav */
body > header { background-color: #233870; }
.channel-nav > ul > li > a { color: #233870; }
.full-nav { background-color: #233870; }
.full-nav > ul > li > a { color: #fff; box-shadow: inset 0 0 0 #fff; }
.full-nav > .site-nav > li > a.active { box-shadow: inset 0 -4px 0 #fff; background-color: rgba(255,255,255,0.1); }
.subnav_lst { background-color: #14437e; }
.full-nav .navlst_blk .subnav_lst > li > a:hover { background-color: rgba(255,255,255,0.1); }
.full-nav.focused > ul > li > a { color: #7b7b7b !important; }
.full-nav.focused > ul > li > a.active { color: #fff !important; }
.full-nav.focused > ul > li > a:hover { color: #fff !important; }
.full-nav.focused > ul > li.search > a > b { color: #7b7b7b; }
.full-nav.focused > ul > li.search > a.active > b { color: #fff; }
.full-nav > ul > li.search > a > b { color: #fff; }
.full-nav > ul > li.search {color: #fff; }
.full-nav > ul > li.search > .navlst_blk > div { background-color: #fff; }
.full-nav > ul > li.search > .navlst_blk > div button { color: #fff; background-color: #7b7b7b; }
.full-nav > ul > li.search > .navlst_blk > div button:hover { background-color: #333; color: #f4df3f; }
.full-nav > .user-nav > .menu > .main_menu:hover { color: #333; }

.nav-icon { background: #fff; }
.nav-icon:before { background: #fff; }
.nav-icon:after { background: #fff; }

/* --- logged in user menu --- */
.full-nav > .user-nav > .user > .usernav_blk { background-color: #0C2140; }
.full-nav > .user-nav > .user > .usernav_blk a:hover { color: #eee; background-color: rgba(255,255,255,0.1); }

/* --- logged out user menu --- */
.usernav_blk > header { background-color: #0C2140; }
.usernav_blk > header > h2 { color: #fff; }
.usernav_blk > header > div > .soclogin_lst > li { background: none; }
.usernav_blk > header > div > .soclogin_lst > li > a { color: #fff; }
.full-nav > .user-nav > .log-in > .usernav_blk { background-color: #efefef; border: solid 1px #777; }
.usernav_blk .login_frm > fieldset > input[type="text"],
	.usernav_blk .login_frm > fieldset > input[type="password"] { border-color: #999; }
.login_frm > .remember_fds > label { color: #000; }
.usernav_blk .login_blk { border-top: solid 1px #ddd; color: #999; }
.usernav_blk .login_blk > p > a { color: #233670; }
.usernav_blk .subnav_lst > li { border-bottom: #2B558B; }
.usernav_blk .subnav_lst > li > a { color: #fff; }

/* mobile nav <880px */
.nav > div { background-color: #194c85; }
.nav > div > div,
	.nav > div > menu,
	.nav > div > div > .search,
	.nav > div > .navsocial_blk { background-color: #1d619a; }

@media screen and (min-width: 768px) {
	.full-nav > .large-menu > li > a:hover { background-color: #14437e; }
	.full-nav .navlst_blk .subnav_lst > li > a:hover { background-color: rgba(255,255,255,0.1); }
}

/* links */
.blue { color: #233870; }
a { color: #256295; }
@media screen and (min-width: 600px) {
	.acticle2_cmp > article > h3 > a {
	    color: #0c5ea3;
	}
}

/* inputs */
.btn { background-color: #233870; }
.show-hide-comments { background: #fff; }
button,
	input[type="submit"] { background-color: #233870; }

/* sidebar headers */
@media screen and (min-width: 768px) {
	.sidebar .cmp > header { background-color: #fff; }
	.sidebar .category_cmp > header { background-color: #233870; color: #fff; }
}

/* database page */
.database-nav { background-color: #233870; }
.database-nav > li:hover { box-shadow: inset 0 -5px 0 0 #f4df3f; }

/* article page */
.article_pg .main-article { border-top: solid 4px #233870; }
.thumbgallery_blk > .thumbgallery_lst li.active {outline: 5px solid #233870; }

/* galleries and slideshows */
	section.content-gallery > div > nav .start-slideshow,
	section.content-gallery > div > nav .next_btnshow,
	section.content-gallery > div > nav .start-gallery_btn,
	section.content-gallery > div > nav .start-slideshow_btn,
	section.content-gallery > div > nav .next-gallery,
	section.content-gallery > div > nav .back-to-article_btn,
	section.content-gallery > div > nav .next-slideshow_btn,
	section.content-gallery > div > nav .previous_btn,
	section.content-gallery > div > nav .next_btn {
	    background-color: #233870; color: #fff; transition: color 150ms ease;
	}
section.content-gallery > div > nav .start-slideshow:hover,
	section.content-gallery > div > nav .next_btnshow:hover,
	section.content-gallery > div > nav .start-gallery_btn:hover,
	section.content-gallery > div > nav .start-slideshow_btn:hover,
	section.content-gallery > div > nav .next-gallery:hover,
	section.content-gallery > div > nav .back-to-article_btn:hover,
	section.content-gallery > div > nav .next-slideshow_btn:hover,
	section.content-gallery > div > nav .previous_btn:hover,
	section.content-gallery > div > nav .next_btn:hover { color: #fff; }
.thumbgallery_blk > .thumbgallery_lst li.active { outline: 5px solid #233870; }

/* movie page */
.movierankreview_blk > div > .ranking_blk > .rank { background-color: #f4df3f; color: #333; }
.movierankreview_blk > .composite_blk > .ranking_blk > a { color: #f4df3f; }
.movierankreview_blk > .composite_blk { background: rgba(219, 203, 25, 0.3) none repeat scroll 0 0; }
.movieinfo_blk > .info_blk > .movietickets > span > span { color: #f4df3f; }
.stars > a:hover { color: #f4df3f; }
.movieinfo_blk > .info_blk > a { color: #f4df3f; }

/* user pages */
.userprofilenav_lst > li > .active,
	.userprofilenav_lst > li > .active:hover { background-color: #233870 }
.shared_lst > li:first-of-type { background-color: #233870; }
.user-options-menu > li > .current { background-color: #233870; }
.shared_lst > li:first-of-type { border: 0; }
.thread_cmp > header { background-color: #233870; }
.socialtab_lst > li > ul > li { color: #233870; }
.socialtab_lst > li > ul > .connect_itm { background-color: #233870; }
.gallery_blk { background-color: #233870; }
.pollicon_blk { background-color: #233870; }
.poll-list > .submit_itm > input { background-color: #233870; }
.answer-list > li .bar { background-color: #233870; }
.answer-list > li .percentage { color: #233870; }
.comment-box { background: #233870; }
.comment-box:before { border-color: #233870 #233870 transparent transparent; }
.comment-box.white:before { color: #233870; }
.comment-box.white { color: #233870; }
div > .search input.gsc-search-button { background-color: #233870;}
.gsc-search-box input.gsc-search-button {  background-color: #233870; }
.socialnav_blk { background-color: #233870; }
.btn.grey { color: #233870; }
.newsletterlanding_cmp > header { background-color: #233870; }
.newsletterlanding_cmp > section > p { color: #233870; }
.newsletterlanding_cmp > section > .form_blk > a { color: #233870; }
.reply_lst > .main-topic { border-bottom: solid 3px #233870; }
.spoiler.on:before {  background-color: #233870; }
.soclogin_lst > li > a { color: #334c8f; }
.soclogin_lst.skn3 > li { background-color: #334c8f; }
.soclogin_lst.skn3 > li:hover { background-color: #394C7E; }
.usernav_blk > header { background-color: #334c8f; }
.btn:hover { background-color: #294b82; }
@media screen and (min-width: 600px) {
	/*.acticle2_cmp { background: none; }*/
}

/* embeds */
.embed > .rating-container > .stars > .icon-star:hover { color: #ccc; text-decoration: none; }
.embed > .rating-container > .stars > .movieyellow,
	.embed > .rating-container > .stars > .starselected { color: #ccc; }