@font-face {
	font-family: 'comicbook';
	src:url('../../fonts/comicbook/comicbook.eot?-gkhajv');
	src:url('../../fonts/comicbook/comicbook.eot?#iefix-gkhajv') format('embedded-opentype'),
		url('../../fonts/comicbook/comicbook.woff2?-gkhajv') format('woff2'),
		url('../../fonts/comicbook/comicbook.ttf?-gkhajv') format('truetype'),
		url('../../fonts/comicbook/comicbook.woff?-gkhajv') format('woff'),
		url('../../fonts/comicbook/comicbook.svg?-gkhajv#comicbook') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'comicbook';
	speak: none;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ticket:before {
    content: "\e901";
}
.icon-arrow-down-solid:before {
  	content: "\e616";
}
.icon-youtube:before {
	content: "\e610";
}
.icon-sms:before {
	content: "\32";
}
.icon-video:before {
	content: "\26";
}
.icon-time:before {
	content: "\65";
}
.icon-board-group:before {
	content: "\e011";
}
.icon-quote:before {
	content: "\e016";
}
.icon-close-alt:before {
	content: "\e018";
}
.icon-follow:before {
	content: "\e019";
}
.icon-image:before {
	content: "\69";
}
.icon-board:before {
	content: "\61";
}
.icon-thumbs-up:before {
	content: "\62";
}
.icon-up-arrow:before {
	content: "\e03b";
}
.icon-star:before {
	content: "\64";
}
.icon-rss-two:before {
	content: "\e053";
}
.icon-flagged:before {
	content: "\e055";
}
.icon-tag:before {
	content: "\e601";
}
.icon-dashboard:before {
	content: "\e606";
}
.icon-article:before {
	content: "\72";
}
.icon-ignore:before {
	content: "\f05e";
}
.icon-out:before {
	content: "\6f";
}
.icon-close:before {
	content: "\6c";
}
.icon-tags:before {
	content: "\54";
}
.icon-check:before {
	content: "\36";
}
.icon-home:before {
	content: "\68";
}
.icon-googleplus:before {
	content: "\67";
}
.icon-facebook:before {
	content: "\66";
}
.icon-twitter:before {
	content: "\74";
}
.icon-user:before {
	content: "\75";
}
.icon-search:before {
	content: "\73";
}
.icon-gallery:before {
	content: "\47";
}
.icon-settings:before {
	content: "\53";
}
.icon-comments:before {
	content: "\63";
}
.icon-plus:before {
	content: "\2b";
}
.icon-arrow-left:before {
	content: "\78";
}
.icon-arrow-down:before {
	content: "\7c";
}
.icon-arrow-up:before {
	content: "\7e";
}
.icon-arrow-right:before {
	content: "\79";
}
.icon-arrow-left2:before {
	content: "\3c";
}
.icon-arrow-down2:before {
	content: "\2c";
}
.icon-arrow-up2:before {
	content: "\2e";
}
.icon-arrow-right2:before {
	content: "\3e";
}
.icon-books:before {
	content: "\e600";
}
.icon-envelope:before {
	content: "\e60b";
}
.icon-pin:before {
	content: "\e602";
}
.icon-user2:before {
	content: "\22";
}
.icon-user3:before {
	content: "\e60c";
}
.icon-expand:before {
	content: "\e60a";
}
.icon-lock:before {
	content: "\e603";
}
.icon-unlock:before {
	content: "\e605";
}
.icon-postlevel:before {
	content: "\50";
}
.icon-bars:before {
	content: "\e60d";
}
.icon-permalink:before {
	content: "\e05a";
}
.icon-big-arrow-right:before {
	content: "\e059";
}
.icon-big-arrow-left:before {
	content: "\e608";
}
.icon-paragraph-right:before {
	content: "\e60e";
}
.icon-pinterest:before {
	content: "\e604";
}
.icon-mail:before {
	content: "\6d";
}
.icon-user-female:before {
	content: "\e60f";
}
.icon-calendar:before {
	content: "\e609";
}
.icon-list:before {
	content: "\e615";
}
.icon-instagram:before {
	content: "\e607";
}
.icon-reddit:before {
	content: "\e611";
}
.icon-minus:before {
	content: "\e612";
}
.icon-plus2:before {
    content: "\e614";
}
.icon-facebook2:before {
    content: "\e613";
}