/* ==========================================================================
   s5-allProducts
   ========================================================================== */
.s5-allProducts {
  color: #b3b3b3;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  padding: 1px 0 10px;
  background: #1F2024; }
  .s5-returnToTop + .s5-allProducts {
    margin-top: 0; }
  .s5-allProducts.s5-allProducts--max950, .s5-allProducts.s5-allProducts--fix950 {
    min-width: 950px; }
  .s5-allProducts.s5-allProducts--fix1200 {
    min-width: 1200px; }
  @media \0screen {
    .s5-allProducts {
      min-width: 1039px; } }
  .s5-allProducts ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .s5-allProducts li {
    margin: 0; }
  .s5-allProducts a {
    color: inherit !important;
    text-decoration: none; }
    .s5-allProducts a:hover {
      color: #fff !important; }

@media screen and (max-width: 767px) {
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) {
    padding: 0 20px; } }

@media screen and (max-width: 639px) {
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) {
    padding: 0 20px; }
    .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200).s5-allProducts--max950 {
      min-width: 0; } }

/* sitemap
   ========================================================================== */
.s5-allProducts__inner {
  table-layout: fixed;
  display: table;
  max-width: 1140px;
  margin: 50px auto 30px; }
  .s5-allProducts--max950 .s5-allProducts__inner, .s5-allProducts--fix950 .s5-allProducts__inner {
    width: 950px; }
  .s5-allProducts--fix1200 .s5-allProducts__inner {
    width: 1200px; }

.s5-allProducts__products {
  font-size: 11px;
  display: table-cell;
  width: 75%; }

.s5-allProducts__header {
  display: table;
  margin-bottom: 16px; }

.s5-allProducts__heading {
  color: #fff;
  font-size: 18px;
  display: table-cell; }

.s5-allProducts__misc {
  display: table-cell;
  padding-left: 30px; }
  .s5-allProducts__misc a {
    font-size: 12px; }
    .s5-allProducts__misc a:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 10px;
      margin-bottom: .1em;
      background: url(../images/sprite_01.png ) no-repeat; }
    .s5-allProducts__misc a:hover:before {
      background-position: -10px 0; }

.s5-allProducts__row {
  table-layout: fixed;
  display: table;
  width: 100%; }
  .s5-allProducts__row .s5-allProducts__column {
    font-size: 12px;
    table-layout: fixed;
    display: table-cell;
    padding-right: 24px; }
    .s5-allProducts__row .s5-allProducts__column li {
      margin-bottom: 10px; }
    .s5-allProducts__row .s5-allProducts__column a {
      color: inherit;
      display: inline-block; }
      .s5-allProducts__row .s5-allProducts__column a:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin-bottom: .1em;
        background: url(../images/sprite_01.png ) no-repeat; }
      .s5-allProducts__row .s5-allProducts__column a:hover:before {
        background-position: -10px 0; }

@media screen and (max-width: 1260px) {
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__inner {
    margin-left: 30px;
    margin-right: 30px; } }

@media screen and (max-width: 767px) {
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__inner {
    display: block;
    width: auto;
    min-width: 280px;
    padding: 0 20px;
    margin: 0 -20px; }
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__products {
    display: block;
    width: auto; }
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__header {
    cursor: pointer;
    display: block;
    padding: 0;
    margin-bottom: 0; }
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__heading {
    position: relative;
    font-size: 14px;
    display: block;
    padding: 14px 0; }
    .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__heading:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 15px;
      height: 10px;
      margin-top: -5px;
      background: url(../images/sprite_01.png ) no-repeat -10px -10px;
      background-size: 25px 20px; }
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__misc {
    display: none; }
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__productsBody {
    display: none;
    padding-bottom: 10px; }
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__products--open .s5-allProducts__productsBody {
    display: block; }
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__column {
    display: block;
    width: auto;
    padding-right: 0; }
    .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__column a:before {
      margin-right: 2px;
      background-position: 0 -10px;
      background-size: 25px 20px; }
    .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__column a:hover {
      color: inherit; }
      .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__column a:hover:before {
        background-position: 0 -10px; } }

@media screen and (max-width: 639px) {
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__inner {
    display: block;
    width: auto;
    min-width: 280px;
    padding: 0 20px;
    margin: 0 -20px; }
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__products {
    display: block;
    width: auto; }
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__header {
    cursor: pointer;
    display: block;
    padding: 0;
    margin-bottom: 0; }
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__heading {
    position: relative;
    font-size: 14px;
    display: block;
    padding: 14px 0; }
    .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__heading:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 15px;
      height: 10px;
      margin-top: -5px;
      background: url(../images/sprite_01.png ) no-repeat -10px -10px;
      background-size: 25px 20px; }
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__misc {
    display: none; }
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__productsBody {
    display: none;
    padding-bottom: 10px; }
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__products--open .s5-allProducts__productsBody {
    display: block; }
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__column {
    display: block;
    width: auto;
    padding-right: 0; }
    .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__column a:before {
      margin-right: 2px;
      background-position: 0 -10px;
      background-size: 25px 20px; }
    .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__column a:hover {
      color: inherit; }
      .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__column a:hover:before {
        background-position: 0 -10px; } }

/* see all link
   ========================================================================== */
.s5-allProducts__productsSeeAll {
  display: none; }
  .s5-allProducts__productsSeeAll a {
    color: inherit;
    padding-left: 10px; }

@media screen and (max-width: 767px) {
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__productsSeeAll {
    display: block; } }

@media screen and (max-width: 639px) {
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__productsSeeAll {
    display: block; } }

/* info
   ========================================================================== */
.s5-allProducts__siteInfo {
  font-size: 14px;
  display: table-cell;
  width: 25%; }
  .s5-allProducts__siteInfo ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .s5-allProducts__siteInfo ul li {
      margin-bottom: 16px; }
  .s5-allProducts__siteInfo a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 0 4px .1em 0;
    background: url(../images/sprite_01.png ) no-repeat 0 -10px; }
  .s5-allProducts__siteInfo a:hover:before {
    background-position: -10px -10px; }

@media screen and (max-width: 767px) {
  .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo {
    font-size: 12px;
    display: block;
    margin: 0 -20px;
    border-top: 1px solid #3B3C40;
    width: auto; }
    .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo .s5-allProducts__header {
      display: none; }
    .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo li {
      padding: 16px 20px;
      border-bottom: 1px solid #3B3C40;
      margin: 0; }
    .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo a {
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-top: -16px;
      margin-bottom: -16px; }
      .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo a:before {
        margin-right: 2px;
        background-position: 0 -10px;
        background-size: 25px 20px; }
      .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo a:hover {
        color: inherit; }
        .s5-allProducts:not(.s5-allProducts--max950):not(.s5-allProducts--fix950):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo a:hover:before {
          background-position: 0 -10px; } }

@media screen and (max-width: 639px) {
  .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo {
    font-size: 12px;
    display: block;
    margin: 0 -20px;
    border-top: 1px solid #3B3C40;
    width: auto; }
    .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo .s5-allProducts__header {
      display: none; }
    .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo li {
      padding: 16px 20px;
      border-bottom: 1px solid #3B3C40;
      margin: 0; }
    .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo a {
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-top: -16px;
      margin-bottom: -16px; }
      .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo a:before {
        margin-right: 2px;
        background-position: 0 -10px;
        background-size: 25px 20px; }
      .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo a:hover {
        color: inherit; }
        .s5-allProducts:not(.s5-allProducts--fix950):not(.x):not(.s5-allProducts--fix1200) .s5-allProducts__siteInfo a:hover:before {
          background-position: 0 -10px; } }
