/* ==========================================================================
   s5-pageFooter
   ========================================================================== */
.s5-pageFooter {
  color: #b3b3b3;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.6;
  text-align: left;
  padding: 1px 0 10px;
  border-top: 1px solid #3B3C40;
  margin-top: 50px;
  background: #1F2024; }
  .s5-returnToTop + .s5-pageFooter {
    margin-top: 0; }
  .s5-categoryFooter + .s5-pageFooter {
    margin-top: -50px; }
  .s5-allProducts + .s5-pageFooter {
    margin-top: -1px; }
  .s5-pageFooter.s5-pageFooter--max950, .s5-pageFooter.s5-pageFooter--fix950 {
    min-width: 950px; }
  .s5-pageFooter.s5-pageFooter--fix1200 {
    min-width: 1200px; }
  @media \0screen {
    .s5-pageFooter {
      min-width: 1039px; } }
  .s5-pageFooter ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .s5-pageFooter li {
    font-size: 100%;
    color: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0; }
    .s5-pageFooter li a {
      color: #ccc;
      text-decoration: none; }
      .s5-pageFooter li a:hover {
        color: #fff !important; }

@media screen and (max-width: 767px) {
  .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) {
    padding: 0 20px; } }

@media screen and (max-width: 639px) {
  .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) {
    padding: 0 20px; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200).s5-pageFooter--max950 {
      min-width: 0; } }

.s5-pageFooter__inner {
  clear: both;
  max-width: 1140px;
  padding: 30px;
  margin: 0 auto; }
  .s5-pageFooter--max950 .s5-pageFooter__inner, .s5-pageFooter--fix950 .s5-pageFooter__inner {
    width: 890px;
    margin: 0 auto; }
  .s5-pageFooter--fix1200 .s5-pageFooter__inner {
    width: 1140px;
    margin: 0 auto; }

.s5-pageFooter__legalLinks {
  font-size: 12px;
  padding: 0 0 12px; }
  .s5-pageFooter__legalLinks ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .s5-pageFooter__legalLinks li {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 20px 0 0; }

.s5-pageFooter__jasrac {
  float: right; }

.s5-pageFooter__copyright {
  color: #b0b0b0;
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 20px; }
  .s5-pageFooter__copyright:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("//www.sony.jp/header-footer/footer/images/copyright.png") no-repeat; }
  .s5-pageFooter__copyright.s5-pageFooter__copyright--sonymarketing:before {
    background-position: 0 -30px; }
  .s5-pageFooter__copyright.s5-pageFooter__copyright--business:before {
    background-position: 0 -60px; }
  .s5-pageFooter__copyright br {
    display: none; }

@media screen and (max-width: 767px) {
  .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__inner {
    min-width: 280px;
    padding: 1px 20px 10px;
    border-top: none;
    margin: 0 -20px; }
  .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__legalLinks {
    font-size: 10px;
    table-layout: fixed;
    display: table;
    width: 100%;
    margin: 14px 0; }
    .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__legalLinks ul {
      display: table-cell; }
    .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__legalLinks li {
      display: block;
      padding: 10px 0; }
    .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__legalLinks a {
      display: block;
      margin: -10px 0;
      padding: 10px 0; }
  .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__jasrac {
    font-size: 10px;
    text-align: right;
    float: none;
    margin: 14px 0; }
  .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright {
    position: relative;
    width: auto;
    padding-top: 20px;
    border-top: 1px solid #3B3C40;
    margin: 0 -20px;
    background: none;
    text-align: center;
    height: 40px;
    line-height: 1.2;
    font-size: 10px; }
    .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright br {
      display: block; }
    .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright:before {
      display: none; }
    .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright:after {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -91.5px;
      width: 183px;
      height: 30px;
      background: url("//www.sony.jp/header-footer/footer/images/copyright.png") no-repeat;
      background-size: 320px 130px;
      background-position: 0 -45px; }
    .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright.s5-pageFooter__copyright--sonymarketing:after {
      background-position: 0 -80px; }
    .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright.s5-pageFooter__copyright--business {
      padding-top: 25px; }
      .s5-pageFooter:not(.s5-pageFooter--max950):not(.s5-pageFooter--fix950):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright.s5-pageFooter__copyright--business:after {
        top: 25px;
        margin-left: -142px;
        width: 284px;
        height: 15px;
        background-position: 0 -115px; } }

@media screen and (max-width: 639px) {
  .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__inner {
    min-width: 280px;
    padding: 1px 20px 10px;
    border-top: none;
    margin: 0 -20px; }
  .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__legalLinks {
    font-size: 10px;
    table-layout: fixed;
    display: table;
    width: 100%;
    margin: 14px 0; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__legalLinks ul {
      display: table-cell; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__legalLinks li {
      display: block;
      padding: 10px 0; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__legalLinks a {
      display: block;
      margin: -10px 0;
      padding: 10px 0; }
  .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__jasrac {
    font-size: 10px;
    text-align: right;
    float: none;
    margin: 14px 0; }
  .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright {
    position: relative;
    width: auto;
    padding-top: 20px;
    border-top: 1px solid #3B3C40;
    margin: 0 -20px;
    background: none;
    text-align: center;
    height: 40px;
    line-height: 1.2;
    font-size: 10px; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright br {
      display: block; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright:before {
      display: none; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright:after {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -91.5px;
      width: 183px;
      height: 30px;
      background: url("//www.sony.jp/header-footer/footer/images/copyright.png") no-repeat;
      background-size: 320px 130px;
      background-position: 0 -45px; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright.s5-pageFooter__copyright--sonymarketing:after {
      background-position: 0 -80px; }
    .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright.s5-pageFooter__copyright--business {
      padding-top: 25px; }
      .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200) .s5-pageFooter__copyright.s5-pageFooter__copyright--business:after {
        top: 25px;
        margin-left: -142px;
        width: 284px;
        height: 15px;
        background-position: 0 -115px; }
  .s5-pageFooter:not(.s5-pageFooter--fix950):not(.x):not(.s5-pageFooter--fix1200).s5-pageFooter--max950 .s5-pageFooter__inner {
    width: auto; } }

/* ==========================================================================
   s5-MSCFooterLink
   ========================================================================== */
.s5-MSCFooterLink {
  clear: both;
  overflow: hidden;
  padding: .2em 30px;
  margin: 0 auto 50px;
  max-width: 1140px; }
  .s5-MSCFooterLink.s5-MSCFooterLink--fix950 {
    width: 950px; }
  .s5-MSCFooterLink.s5-MSCFooterLink--fix1200 {
    width: 1200px; }
  .s5-MSCFooterLink.s5-MSCFooterLink--max950 {
    max-width: 950px; }

.s5-MSCFooterLink__item {
  font-size: 10px;
  float: left;
  margin-right: 10px; }
  .s5-MSCFooterLink__item a {
    color: #333;
    font-weight: bold;
    text-decoration: none; }
    .s5-MSCFooterLink__item a:before {
      content: '';
      vertical-align: middle;
      position: relative;
      top: -.1em;
      display: inline-block;
      width: 6px;
      height: 10px;
      margin: 0 .4em 0 0;
      background: url(../images/sprite_02.png ) no-repeat; }
    .s5-MSCFooterLink__item a:hover {
      color: #999; }
      .s5-MSCFooterLink__item a:hover:before {
        background-position: -6px 0; }
