/* ==========================================================================
   s5-pageHeader
   ========================================================================== */
.s5-pageHeader {
  font-family: sans-serif;
  line-height: 1.6;
  text-align: left;
  position: relative;
  z-index: 3;
  background: #1a1a1a; }
  .s5-pageHeader.s5-pageHeader--max950, .s5-pageHeader.s5-pageHeader--fix950 {
    min-width: 950px;
    letter-spacing: normal; }
  .s5-pageHeader.s5-pageHeader--fix1200 {
    min-width: 1200px;
    letter-spacing: normal; }
  @media \0screen {
    .s5-pageHeader {
      min-width: 1039px; } }
  .s5-pageHeader ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .s5-pageHeader li {
    line-height: inherit;
    list-style: none;
    padding: 0;
    margin: 0; }
  .s5-pageHeader a {
    color: inherit !important;
    text-decoration: none; }
    .s5-pageHeader a:hover {
      color: inherit;
      text-decoration: none; }

.s5-pageHeader__inner {
  position: relative;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  padding: 0 30px; }
  .s5-pageHeader--max950 .s5-pageHeader__inner, .s5-pageHeader--fix950 .s5-pageHeader__inner {
    width: 950px;
    padding: 0; }
  .s5-pageHeader--fix1200 .s5-pageHeader__inner {
    width: 1200px;
    padding: 0; }

.s5-pageHeader__logo {
  line-height: inherit;
  float: left; }
  .s5-pageHeader__logo a {
    display: block; }
  .s5-pageHeader__logo img {
    display: block;
    border: none; }

.s5-pageHeader__navHead.s5-pageHeader__navHead--business {
  color: #1A1A1A;
  font-size: 0;
  position: relative;
  float: left;
  width: 120px;
  height: 70px;
  margin: 0 -10px 0 30px;
  background: url(../images/sprite_01.png ) no-repeat -360px -140px; }
  .s5-pageHeader__navHead.s5-pageHeader__navHead--business:after {
    content: '';
    position: absolute;
    top: 10px;
    right: -20px;
    bottom: 10px;
    display: block;
    width: 1px;
    background: #FFF; }

.s5-pageHeader__mainInner {
  text-align: right; }

@media screen and (max-width: 979px) {
  .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navHead.s5-pageHeader__navHead--business:after {
    right: -10px; } }

@media screen and (max-width: 767px) {
  .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navHead.s5-pageHeader__navHead--business {
    margin: 0 -20px 0 10px; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navHead.s5-pageHeader__navHead--business:after {
      right: 0; } }

@media screen and (max-width: 639px) {
  .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) {
    color: #F7F7F7; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200).s5-pageHeader--max950 {
      min-width: 0; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__inner {
      min-width: 280px;
      height: 50px;
      padding: 0; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200).s5-pageHeader--max950 .s5-pageHeader__inner {
      width: auto; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__logo {
      position: relative;
      top: auto;
      left: auto;
      z-index: 1;
      float: none;
      background: #1a1a1a;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      transition: box-shadow .5s; }
      .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__logo a {
        margin: 0 auto; }
      .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__logo img {
        display: block;
        width: 71px;
        height: 50px;
        margin: 0 auto; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200).s5-pageHeader--open {
      z-index: 200; }
      .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200).s5-pageHeader--open .s5-pageHeader__logo {
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5); }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navHead.s5-pageHeader__navHead--business {
      overflow: hidden;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      float: none;
      width: 100px;
      height: 0;
      padding-top: 50px;
      margin: 0;
      background-position: -180px -105px;
      background-size: 420px 175px; }
      .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navHead.s5-pageHeader__navHead--business:after {
        content: none; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__main:before {
      content: '';
      cursor: pointer;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: block;
      float: none;
      width: 60px;
      height: 50px;
      border-right: 1px solid #3c3c42;
      background: url(../images/sprite_01.png ) no-repeat 0 -105px;
      background-size: 420px 175px; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200).s5-pageHeader--open .s5-pageHeader__main:before {
      background-position: -60px -105px; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__mainInner {
      text-align: left;
      position: absolute;
      top: -400px;
      width: 100%;
      padding-top: 78px;
      background: #1a1a1a;
      transition: top .5s; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200).s5-pageHeader--open .s5-pageHeader__mainInner {
      top: 100%; } }

/* search
   ========================================================================== */
.s5-pageHeader__search {
  position: absolute;
  right: 30px;
  bottom: 14px; }
  .s5-pageHeader--max950 .s5-pageHeader__search, .s5-pageHeader--fix950 .s5-pageHeader__search, .s5-pageHeader--fix1200 .s5-pageHeader__search {
    right: 0; }
  .s5-pageHeader__search form {
    position: relative;
    width: 150px;
    height: 24px;
    margin: 0; }
  .s5-pageHeader__search input.s5-pageHeader__searchInput {
    color: #ccc;
    font-size: 12px;
    line-height: 1;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 24px 4px 10px;
    border: none;
    background: #414349;
    -webkit-transition: background .2s;
    -ms-transition: background .2s;
    transition: background .2s; }
    .s5-pageHeader__search input.s5-pageHeader__searchInput:hover, .s5-pageHeader__search input.s5-pageHeader__searchInput:focus {
      background: #7a7c80;
      -webkit-transition: none;
      -ms-transition: none;
      transition: none; }
    .s5-pageHeader__search input.s5-pageHeader__searchInput:focus {
      color: #FFF; }
    .s5-pageHeader__search input.s5-pageHeader__searchInput.s5-pageHeader__searchInput--focus {
      color: #FFF; }
    .s5-pageHeader__search input.s5-pageHeader__searchInput:-ms-input-placeholder {
      color: #ccc; }
  .s5-pageHeader__search input.s5-pageHeader__searchSubmit {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 0;
    padding: 20px 0 0 0;
    border: none;
    background: url(../images/sprite_01.png ) no-repeat -2px -166px; }

@media screen and (max-width: 979px) {
  .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__search {
    position: static; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__search form {
      width: 100%; } }

@media screen and (max-width: 767px) {
  .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__search form {
    width: 130px; } }

@media screen and (max-width: 639px) {
  .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__search, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 18px; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__search form, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__search form {
      width: auto;
      height: 40px; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__search input.s5-pageHeader__searchInput, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__search input.s5-pageHeader__searchInput {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 10px 10px 45px; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__search input.s5-pageHeader__searchSubmit, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__search input.s5-pageHeader__searchSubmit {
      left: 5px;
      top: 50%;
      right: auto;
      width: 40px;
      padding-top: 40px;
      margin-top: -20px;
      background-position: -120px -105px;
      background-size: 420px 175px;
      appearance: none; } }

/* navMain
   ========================================================================== */
.s5-pageHeader__navMain {
  float: left;
  padding-left: 50px;
  margin-right: -240px; }
  .s5-pageHeader__navMain li {
    float: left;
    margin-right: 20px; }
    .s5-pageHeader__navMain li a {
      overflow: hidden;
      display: block;
      width: 120px;
      height: 0;
      padding-top: 70px;
      background: url(../images/sprite_01.png ) no-repeat;
      transition: background-color .3s; }
      .s5-pageHeader__navMain li a:hover {
        background-color: #666;
        transition: background-color 0; }
    .s5-pageHeader__navMain li.s5-pageHeader__navItem--product a {
      background-position: 0 0; }
    .s5-pageHeader__navMain li.s5-pageHeader__navItem--support a {
      background-position: -120px 0; }
    .s5-pageHeader__navMain li.s5-pageHeader__navItem--sonyclub a {
      background-position: -240px 0; }
    .s5-pageHeader__navMain li.s5-pageHeader__navItem--business a {
      background-position: -360px 0; }
    .s5-pageHeader__navMain li.s5-pageHeader__navItem--buy a {
      background-position: -480px 0; }
    .s5-pageHeader__navMain li.s5-pageHeader__navItem--current a {
      padding-top: 66px;
      border-bottom: 4px solid #bcbccc; }

@media screen and (max-width: 979px) {
  .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain {
    padding-left: 30px;
    margin-right: 0; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li {
      margin-right: 12px; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--product a {
        width: 113px;
        background-position: -4px 0; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--support a {
        width: 97px;
        background-position: -132px 0; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--sonyclub a {
        width: 104px;
        background-position: -248px 0; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--business a {
        width: 79px;
        background-position: -380px 0; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--buy a {
        width: 78px;
        background-position: -501px 0; } }

@media screen and (max-width: 767px) {
  .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain {
    padding-left: 20px; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li {
      margin-right: 0; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--product a {
        width: 76px;
        background-position: 0 -70px; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--support a {
        width: 99px;
        background-position: -120px -70px; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--sonyclub a {
        width: 74px;
        background-position: -240px -70px; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--business a {
        width: 79px;
        background-position: -360px -70px; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--buy a {
        width: 78px;
        background-position: -480px -70px; } }

@media screen and (max-width: 639px) {
  .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain {
    float: none;
    padding-left: 0;
    margin-right: 0; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li {
      float: none;
      margin: 0; }
      .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--product a, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--support a, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--sonyclub a, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--business a, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--buy a {
        color: #F7F7F7;
        font-size: 14px;
        display: block;
        width: auto;
        height: auto;
        padding: 18px 16px;
        border-top: 1px solid #3c3c42;
        background: none;
        width: auto;
        border-bottom: none; }
        .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--product a:hover, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--support a:hover, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--sonyclub a:hover, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--business a:hover, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navMain li.s5-pageHeader__navItem--buy a:hover {
          color: #F7F7F7;
          background: none; } }

/* navSub
   ========================================================================== */
.s5-pageHeader__navSub {
  color: #CCC;
  font-size: 12px;
  line-height: 1.2;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
  padding-top: 2px; }
  .s5-pageHeader__navSub li {
    vertical-align: middle;
    color: #ccc;
    display: inline-block;
    margin-left: 14px; }
    .s5-pageHeader__navSub li a {
      text-decoration: none;
      display: inline-block;
      transition: all .2s; }
      .s5-pageHeader__navSub li a:hover {
        color: #FFF !important; }
      .s5-pageHeader__navSub li a:before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 3px 0 0;
        background: url(../images/sprite_01.png ) no-repeat; }
    .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a, .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a {
      font-size: 12px;
      color: #ccc;
      padding: 2px 7px;
      border: 1px solid #ccc; }
      .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a:hover, .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a:hover {
        border-color: #FFF; }
      .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a:before, .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a:before {
        background-position: 0 -152px; }
      .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a:hover:before, .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a:hover:before {
        background-position: -12px -152px; }
    .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a {
      font-size: 12px;
      color: #ccc; }
      .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a:before {
        background-position: 0 -140px; }
      .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a:hover:before {
        background-position: -12px -140px; }

@media screen and (max-width: 979px) {
  .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub {
    color: #2f353d;
    font-size: 12px;
    text-align: left;
    position: relative;
    float: left;
    display: block;
    padding-top: 0; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__navSubOpener {
      cursor: pointer;
      display: block;
      width: 70px;
      height: 70px;
      background: url(../images/sprite_01.png ) no-repeat -600px 0;
      transition: background-color .3s; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__navSubOpener:hover {
        background-color: #666;
        transition: background-color 0; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub.s5-pageHeader__navSub--open .s5-pageHeader__navSubOpener {
      background-position: -720px 0;
      background-color: #666; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__navSubBody {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 180px;
      padding: 20px 20px 10px;
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
      background: #FFF; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub.s5-pageHeader__navSub--open .s5-pageHeader__navSubBody {
      display: block; }
    .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li {
      display: block;
      margin: 0 0 10px; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li a:hover {
        color: inherit; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a, .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a {
        color: #ccc;
        padding: 0;
        border: none; }
        .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a:before, .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a:before {
          background-position: -24px -152px; }
        .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a:hover:before, .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a:hover:before {
          background-position: -36px -152px; }
      .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a {
        color: #ccc; }
        .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a:before {
          background-position: -24px -140px; }
        .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a:hover:before {
          background-position: -36px -140px; } }

@media screen and (max-width: 639px) {
  .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub {
    color: inherit;
    font-size: 100%;
    line-height: inherit;
    text-align: left;
    position: static;
    float: none;
    display: block;
    padding-top: 0; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__navSubOpener {
      display: none; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub .s5-pageHeader__navSubBody {
      display: block;
      position: static;
      width: auto;
      padding: 0;
      box-shadow: none;
      background: none; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub.s5-pageHeader__navSub--open .s5-pageHeader__navSubBody {
      display: block; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li {
      display: block;
      margin: 0; }
      .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a {
        color: #F7F7F7;
        font-size: 12px;
        position: relative;
        display: block;
        width: auto;
        height: auto;
        padding: 14px 18px 14px 28px;
        border: none;
        border-top: 1px solid #3c3c42;
        background: none; }
        .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a:hover, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a:hover, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a:hover {
          color: #F7F7F7;
          background: none; }
        .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a:before, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--business a:hover:before, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a:before, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--personal a:hover:before, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a:before, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__navSub li.s5-pageHeader__navItem--reader a:hover:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 18px;
          width: 10px;
          height: 8px;
          margin: -5px 0 0 0;
          background: url(../images/sprite_01.png ) no-repeat 0 -155px;
          background-size: 420px 175px; } }

/* sonyjp
   ========================================================================== */
.s5-pageHeader__sonyjp {
  vertical-align: middle;
  display: inline-block;
  margin-left: 12px; }
  .s5-pageHeader__sonyjp a {
    overflow: hidden;
    display: block;
    width: 74px;
    height: 0;
    padding-top: 12px;
    background: url(../images/sprite_01.png ) no-repeat;
    background-position: 0 -188px; }
    .s5-pageHeader__sonyjp a:hover {
      background-position: -74px -188px; }

@media screen and (max-width: 979px) {
  .s5-pageHeader:not(.s5-pageHeader--max950):not(.s5-pageHeader--fix950):not(.s5-pageHeader--fix1200) .s5-pageHeader__sonyjp {
    position: absolute;
    top: 10px;
    right: 10px; } }

@media screen and (max-width: 639px) {
  .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__sonyjp {
    position: static;
    display: block;
    margin-left: 0; }
    .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__sonyjp a {
      color: #F7F7F7;
      font-size: 12px;
      position: relative;
      display: block;
      width: auto;
      height: auto;
      padding: 14px 18px 14px 28px;
      border: none;
      border-top: 1px solid #3c3c42;
      background: none; }
      .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__sonyjp a:hover {
        color: #F7F7F7;
        background: none; }
      .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__sonyjp a:before, .s5-pageHeader:not(.s5-pageHeader--fix950):not(.x):not(.s5-pageHeader--fix1200) .s5-pageHeader__sonyjp a:hover:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 18px;
        width: 10px;
        height: 8px;
        margin: -5px 0 0 0;
        background: url(../images/sprite_01.png ) no-repeat 0 -155px;
        background-size: 420px 175px; } }
