/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
 body{
	font-family:Arial, Helvetica, sans-serif;
	background:#ECECEC;
 }
  .wrap{
	width:100%;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
 }
 .header{
 	 background:#314D68;
 }
 .logo{
	float:left;
	margin-top:2px;
	padding-left: 15px;
 }
 .logo a{ 
 	display:block;
 }
.logo a img{ 
	display:block;
 }
  /********* Search box ***********/
.search_box {
	background:#486179;
	border:1px solid #486179;
	position: relative;
	float:left;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	margin:6px 0 0px 10em;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:0.85em;
	color:#94A3B1;
	font-family: 'Oxygen', sans-serif;
	width:65px;
	padding:7px;
	-webkit-apperance:none;
	margin:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.search_box form input[type="text"]:focus{
	color:#FFF;
	width:200px;
}
.search_box form input[type="submit"] {
	border: none;
	outline:none;
	cursor: pointer;
	background: url(/wp-content/themes/w3layouts/images/web/search.png) no-repeat 0; 
	width:30px;
	height:25px;
	padding:8px;
}	
/****** Navigation *********/
.flexy-menu{
	margin:0;
	padding:0;
	float:right;
	list-style:none;
	font-family: 'Oxygen', sans-serif;
 }
.flexy-menu li{
	display:inline;
	margin:0;
	padding:0;
	float:left;
}
.flexy-menu>li>a{
	color:#fff;
	text-shadow: 0px 1px #000;
	text-decoration:none;
	display:block;
	font-size: 1em;
	font-weight: 700;
	font-family: 'Oxygen', sans-serif;
	-webkit-transition:color .2s linear,background .2s linear;
	-moz-transition:color .2s linear,background .2s linear;
	-o-transition:color .2s linear,background .2s linear;
	transition:color .2s linear,background .2s linear;
}
.flexy-menu li:hover>a,
.flexy-menu li.active a{
	color:#C2E0F5;
}
.flexy-menu li.right{
	float:right;
}
.flexy-menu ul{
	list-style:none;
	margin:0;
	padding:0;
	display:none;
	position:absolute;
	z-index:99999;	
	background:#314D68;
	box-shadow:0 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3);
	-o-box-shadow:0 1px 1px rgba(0,0,0,0.3);
}
.flexy-menu ul.categories{
		width:38.4%;
		padding:10px 0;
}
.flexy-menu ul.services{
		width:14%;
}
.submenu{
	float:left;
	width:33.3%;
}
.flexy-menu ul{
	top:40px;
	right:14em;
}
.flexy-menu ul li ul{
	top:0;
	left:100%;
}
.flexy-menu ul li{
	clear:both;
	width:100%;
	border:0;
	font-size:12px;
}
.flexy-menu ul li a{
	padding:10px 20px;
	width:100%;
	color:#DAE7F8;
	font-size:13px;
	text-decoration:none;
	display:inline-block;
	float:left;
	clear:both;
	box-sizing:border-box;
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
	-webkit-transition:color .2s linear,background .2s linear;
	-moz-transition:color .2s linear,background .2s linear;
	-o-transition:color .2s linear,background .2s linear;
	transition:color .2s linear,background .2s linear;
}
.flexy-menu>li .arrow{
	position:absolute;
	color:#dedede;
	top:20px;
	right:8px;
	font-size:17px;
}
.flexy-menu ul>li .arrow{
	top:10px;
	right:8px;
}
.thin > li > a{
	padding:12px 22px;
}
.thin ul{
	top:40px;
}
.thin>li .arrow{
	top:10px;
}
.thick>li>a{
	padding:12px 22px;
}
.thick ul{
	top:44px;
}
.thick>li .arrow{
	top:40px;
}
.flexy-menu i{
	line-height:20px!important;
	margin-right:6px;
	font-size:18px;
	float:left;
}
.flexy-menu>li.showhide{
	display:none;
	width:25px;
	height:42px;
	cursor:pointer;
	color:#dedede;
	position: absolute;
	top: 0;
	right: 15px;
}
.flexy-menu>li.showhide span.title{
	margin:15px 0 0 25px;
	float:left;
	background: none;
	border: none;
	padding: 0;
	color: #fff;
	display:none;
}
.flexy-menu>li.showhide span.icon{
	margin:14px 0px 0 0;
	float:right;
}
.flexy-menu>li.showhide .icon em{
	margin-bottom:3px;
	display:block;
	width:20px;
	height:2px;
	background:#FFF;
}
.flexy-menu ul li:hover{
	background: #293D50;	
}
.flexy-menu ul li:hover a{
	color:#FFF;
}
.flexy-menu.vertical{
	width:200px;
}
.flexy-menu.vertical li{
	width:100%;
}
.flexy-menu.vertical li a{
	display:inline-block!important;
	width:100%;
	padding:18px 20px 16px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.flexy-menu.vertical ul li{
	width:100%;
}
.flexy-menu.vertical ul,.flexy-menu.vertical ul li ul{
	width:150px;
}
.flexy-menu.vertical ul{
	top:0;left:100%;
}
.flexy-menu.vertical ul li ul{
	top:0;
}
.flexy-menu.vertical.right{
	float:right!important;
}
.flexy-menu.vertical.right ul{
	left:-150px!important;
}
.flexy-menu.vertical > li .arrow{
	top:17px;
	right:15px;
	font-size:17px;
}
.flexy-menu.vertical ul > li .arrow{
	top:18px;
	right:15px;
}

	/*-- warning-message --*/

	.warning-message {
   	    text-align: center;
	}
	h3.warning-head {
	    letter-spacing: 1px;
            text-align: left;
            margin-left: 10px;
	}
	.warning-message p {
    	    font-size: 19px;
   	    line-height: 32px;
   	    margin-bottom: 20px;
   	    color: #828282;
	}
	.warning-message p q {
	    display: block;
	    color: #43729e;
	}
	a.agreetodownload {
    	    display: inline-block;
    	    background: #3498db;
    	    padding: 16px 1.5em;
    	    font-size: 16px;
    	    font-weight: 700;
    	    color: #D2EDFF;
    	    border-radius: 5px;
    	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -o-border-radius: 5px;
	    font-family: 'Oxygen', sans-serif;
	    border-bottom: 5px solid #2482C0;
	    -webkit-transition: all 0.5s ease-in-out;
	    -moz-transition: all 0.5s ease-in-out;
	    -o-transition: all 0.5s ease-in-out;
	    transition: all 0.5s ease-in-out;
	}
	a.agreetodownload:hover {
	    background-color: #2B84C0;
	    border-bottom: 5px solid #206FA3;
	    color: #EAF7FF;
	}
	a.agreetodownload:active {
	    position: relative;
	    bottom: -3px;
	}
	
	/*-- //warning-message --*/
@media only screen and (max-width:1680px){
	.flexy-menu ul.categories{
		width:36.2%;
	}
 }
 @media only screen and (max-width:1600px){
	.flexy-menu ul.categories{
		width:38.4%;
	}
 }
@media only screen and (max-width:1440px){
	.flexy-menu ul.categories{
		width:43%;
	}
	.flexy-menu ul.services{
		right:16em;
	}
 }
 @media only screen and (max-width:1366px){
	.flexy-menu ul.categories{
		width:45.4%;
	}
 }
  @media only screen and (max-width:1280px){
	.flexy-menu ul.categories{
		width:48.5%;
	}
 }
 @media only screen and (max-width:1024px){
	.flexy-menu ul.categories{
		width:61%;
		right:13em;
	}
	.flexy-menu ul.services{
		width:18%;
	}
 }
@media only screen and (max-width:800px){
	.thick > li > a{
		padding:12px 12px;
	}
	.flexy-menu ul.categories{
		width:78.6%;
		right:1em;
	}
	.flexy-menu ul.services{
		width:25%;
	}
	.flexy-menu ul.services{
		right:10em;
	}
 }
@media only screen and (max-width:768px){
 .flexy-menu.vertical{
	  width:100%;
 }
 .flexy-menu{
 	float:none;
 }
 .flexy-menu li{
	display:block;
	width:100%;
 }
 .thick > li > a {
		padding: 8px 12px;
  }
 .submenu{
	float:none;
	width:100%;
 }
 .flexy-menu ul.services {
	 width:100%;
  }
  .flexy-menu ul.categories{
  	 width:100%;
  }
.flexy-menu a{
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.flexy-menu ul,.flexy-menu ul li ul,.flexy-menu.vertical ul,
.flexy-menu.vertical ul li ul{
	width:100%;
	margin-left:2%;
	left:0;
	border-left:0;
	position:static;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-shadow:none;
}
.flexy-menu ul li a{
	padding:10px 15px;
}
.flexy-menu ul li{
	border-left:0;
	border-right:0;
}
.flexy-menu ul>li>a{
	padding-left:40px!important;
}
.flexy-menu>li .arrow{
	top:15px;
	right:25px;
	font-size:17px;
}
.flexy-menu ul>li .arrow{
	display:none;
}
}
@media only screen and (max-width:320px){
.flexy-menu>li.showhide span.title{
	margin: 14px 0 0 0px;
 }
}
/**** End Navigation ******/

/**** LOGIN_SIGNUP ******/
/* Form styles */
	#signup ol
	{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	#signup li
	{
		position: relative;
	}
	#signup fieldset input,
	#signup fieldset textarea,
	#signup fieldset select
	{
		background: #fff url(ico_validation.png) 379px 24px no-repeat;
		display: inline-block;
		width: 371px;
		border: 1px solid #fff;
		padding: 3px 26px 3px 3px;
		
		-moz-transition: background-color 1s ease;
		-webkit-transition: background-color 1s ease;
		-o-transition: background-color 1s ease;
		transition: background-color 1s ease;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	#signup fieldset select		{ width: 401px; padding: 3px; }
	#signup fieldset #postcode	{ padding: 3px; width: 400px; }
	

#signup input::-webkit-input-placeholder,
#signup input:-moz-placeholder {
	color: #A6A6A6;
}

#signup .validation01
{ 
	background: red;
	color: #fff;
	display: none;
	font-size: 12px;
	padding: 3px;
	position: absolute;
	right: -160px;
	text-align: center;
	top: 0;
	width: 150px;
	outline: 0;
	
	-moz-box-shadow: 0px 0px 4px #ffffff;
	-webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#signup input:focus + .validation01 							{ display: block; }

#signup input:focus:required:invalid + .validation01 .valid,
#signup input.error:focus + .validation01 .valid,
#signup input.required:focus + .validation01 .valid,
#signup input:focus + .validation01 .valid					{ display: none; }

#signup input:focus:required:valid + .validation01,
#signup input.valid:focus + .validation01					{ background: green; }

#signup input:focus:required:valid + .validation01 .invalid,
#signup input.valid:focus + .validation01 .invalid			{ display: none; }

#signup input:focus:required:valid + .validation01 .valid,
#signup input.valid:focus + .validation01 .valid				{ display: block; }

#signup fieldset input:required:valid
{ 
	background-color: #fff;
	background-position: 379px -61px;
}

/* Enhanced error styling */
#signup input.error
{
	background-color: pink; 
	background-position: 379px 3px;
	outline: none; 
}
#signup input.required
{
	background-color: #fff; 
	background-position: 379px -29px;
}
#signup input.valid 
{ 
	background-color: #fff;
	background-position: 379px -61px;
}

#signup input.error::-webkit-input-placeholder,
#signup inputerror :-moz-placeholder {
	color: #fff;
}
input#email {
    width: 85%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(/wp-content/themes/w3layouts/images/user.png)no-repeat 8px 10px #fff;
}
input#tel {
    width: 85%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	    background: url(/wp-content/themes/w3layouts/images/mobilenum.png)no-repeat 8px 8px #fff;
}
.modal-content {
    background: #fff;
}
.header_right{
	float:right;
}
li.login {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
	padding-right:15px;
}
li.login a {
    color: #fff;
    text-decoration: none;
    outline: none;
    padding: 5px 16px;
    margin-top: 7px;
    display: block;
    background: #007CCC;
    text-shadow: none;
}
li.login a span {
    margin-right: 8px;
    font-size: 11px;
    top: 0px;
}
/*-- login --*/

.modal-body {
    padding: 30px 35px 35px;
}
.login-form input[type="text"],.login-form input[type="password"]  {
    width: 85%;
    padding: 10px 10px 10px 35px;
    font-weight: normal;
    background: none;
    border: 1px solid #8FA4B9;
    color: #545454;
    outline: none;
    font-size: 14px;
    margin: 6px 0 17px 0px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.login-form input[type="text"]:hover,.login-form input[type="password"]:hover {
    border: 1px solid #314D68;	
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.login-form input[type="submit"] { 
	background:#314D68;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    outline: none;
	cursor:pointer;
    -webkit-appearance: none;
    padding: 10px 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.login-form input[type="submit"]:hover {
    opacity:0.95;
}
.login-form input.user {
  background: url(/wp-content/themes/w3layouts/images/user.png)no-repeat 8px 10px #fff;
}
.login-form input.lock {
  background: url(/wp-content/themes/w3layouts/images/lock.png)no-repeat 8px 10px #fff;
}
.login-form input.mobilenum {
  background: url(/wp-content/themes/w3layouts/images/mobilenum.png)no-repeat 8px 8px #fff;
}
.modal-dialog {
    width: 380px;
    margin: 92px auto 0;
}
.modal-header {
    border-bottom: none;
	text-align:center;
	background-color: #314D68;
	padding: 22px 12px;
}
.close {
    float: right;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    color: #90B8DD;
    text-shadow: 0 0px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 1;
}
.modal-header .close {
    margin-top: -15px;
}
.modal-header h3 {
    color: #ffffff;
    font-size: 22px;
}
span.checkbox1 {
    float: left;
}
a.forgot {
    float: right;
	color:#ce451b;
	text-decoration:none;
	font-size: 0.875em;
}
label.checkbox {
    margin: 0;
}
.checkbox input[type="checkbox"]{
    margin-left: 0px;
}
.signin-rit .checkbox {
    position: relative;
    font-size: 0.91em;
    font-weight: normal;
    color: #999;
    padding: 0em 0.5em 0em 1.1em;
    margin: 0;
}
.signin-rit .checkbox input {
    position: absolute;
    left: 0px;
    margin-left: 0;
    top: -2px;
}
.signin-rit {
    margin: 1.2em 0;
}
.login-form p {
	text-align:center;
	margin-top:1em;
	font-size:0.95em;
	letter-spacing:1px;
}
.login-form p a {
	color:#ce451b;
}
h5.or {
    text-align: center;
    margin: 20px 0;
    color: #314D68;
}
.social-icons {
    text-align: center;
}
.social-icons ul li {
	display:inline-block;
	margin:0 5px;
}
/*-- //login --*/
a.pp {
    color: #ce451b;
    margin-left: 6px;
    font-size: 15px;
}
p.get-pw {
    color: #989898;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 0;
}
.modal-content.modal-info {
    border-radius: 0;
    border: none;
}
/* Styles for dialog window */
#small-dialog,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5,#small-dialog6,#small-dialog7,#small-dialog8{
    width: 380px;
    margin: 0 auto;
}
#small-dialog-it,#small-dialog-in,#small-dialog-fr,#small-dialog-sh,#small-dialog-sf,#small-dialog-su,#small-dialog-me,#small-dialog-ch,#small-dialog-pi,#small-dialog-am {
	background: white;
	padding:20px;
	text-align: left;
	max-width: 450px;
	margin: 40px auto;
	position: relative;
	text-align:center;
}
/**

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in #small-dialog {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog2 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
.my-mfp-zoom-in #small-dialog3 {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog2 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.my-mfp-zoom-in.mfp-ready #small-dialog3 {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog2 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
.my-mfp-zoom-in.mfp-removing #small-dialog3 {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  background: #FFF;
  opacity: .5;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
 }

.mfp-close {
	width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    outline: none;
 }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }

.mfp-close-btn-in .mfp-close {
	    background: none;
  }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; 
}
@media all and (max-width:768px){
	#small-dialog, #small-dialog2 {
		  max-width: 85% !important;
	}
	
}
@media all and (max-width:991px){
	.social-sits ul li a {
		font-size: 13px;
	}
}
@media all and (max-width:768px){
	#small-dialog, #small-dialog2, #small-dialog3{
		 max-width: 80%;
	}
}
@media all and (max-width:320px){
	#small-dialog, #small-dialog2 {
		max-width: 95% !important;
	}
	#small-dialog, #small-dialog2, #small-dialog3{
		max-width: 95%;
	}
} 

/**** END-LOGIN_SIGNUP ******/

/**** USER ALREADY EXISTS ******/
.error_strip  {
	background:#c43830;
	color:#fff;
	padding:17px 0;
	font-size:14px;
	letter-spacing:1px;
}
.error_strip img {
	vertical-align: bottom;
	margin-right:5px;
}
/**** //USER ALREADY EXISTS ******/

/**** Successfully Registered ******/
.success {
	background:#008000;
	color:#fff;
	padding:17px 0;
	font-size:14px;
	letter-spacing:1px;
}
/**** //Successfully Registered ******/
/**** User dropdown ******/

/* No CSS3 support */
.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}
.wrapper-dropdown-2.active .dropdown {
	opacity: 1;
	pointer-events: auto;
	text-align: left;
	  border: 1px solid #EBEBEB;
}
/*****/
.user-drop-down {
    float: right;
	cursor: pointer;
	margin: 7px 15px 7px;
}
span.username {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 5px;
    vertical-align: middle;
}
img.user_icon {
    vertical-align: middle;
}
/***** Messages *************/
.wrapper-dropdown-1{
    position: relative;
	outline: none;
	text-align:left;
}
.wrapper-dropdown-1:focus.wrapper-dropdown-1:active {
	background:transparent;
}
.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown{
	width:210px;
	margin-top: 10px;
	/* Size & position */
    position: absolute;
    right: 0px;
    /* Styles */
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index:1;
    background-color: #FFF;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	-o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}
.wrapper-dropdown .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}
.wrapper-dropdown-1 .dropdown li{
	border-bottom: 1px solid #F0F0F0;
	float: none;
	margin: 0;
	  width: 100%;
}
.wrapper-dropdown-1 .dropdown li{
	padding:14px;
}
.wrapper-dropdown-1 .dropdown li:hover{
	background:#FDFDFD;
}
.wrapper-dropdown-1 .dropdown li a{
    display: block;
    text-decoration: none;
    color: #9A9A9A;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0;
    border: none;
    font-size: 14px;
}
.wrapper-dropdown-1 .dropdown li a:hover {
	color:#314D68;
}
/* Active state */
.wrapper-dropdown-1.active:after{
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-1.active .dropdown,.wrapper-dropdown-2.active .dropdown,.wrapper-dropdown-3.active .dropdown {
   max-height: 400px;
}
.wrapper-dropdown-2 {
    position: relative;
	cursor: pointer;
	outline: none;
	color: #FFFFFF;
	font-size: 1.1em;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	text-transform: capitalize;
	font-weight: 400;
	text-align: center;
}
.wrapper-dropdown-2 .dropdown li:last-child{
	border-bottom:none;
}
.wrapper-dropdown-2 .dropdown li
{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.wrapper-dropdown-2 .dropdown li a {
    display: block;
	text-decoration: none;
	color: #000;
	font-weight:600;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: capitalize;
	font-size: 1em;
	font-weight: 100;
}
/* Hover state */
.wrapper-dropdown-2 .dropdown  li:nth-child(1) {
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-o-border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-o-border-top-right-radius:5px;
}
.wrapper-dropdown-2 .dropdown  li:last-child{
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	border-top:1px solid #eee;
}
.wrapper-dropdown-2 .dropdown  li:nth-child(2),.wrapper-dropdown-2 .dropdown  li:nth-child(3),.wrapper-dropdown-2 .dropdown  li:nth-child(4)
{
	border-radius: none;
}
/* Active state */
.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/* No CSS3 support */
.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}
.wrapper-dropdown-2.active .dropdown {
	opacity: 1;
	pointer-events: auto;
	text-align: left;
	  border: 1px solid #EBEBEB;
}
/*****/
.wrapper-dropdown-2 span {
	float: left;
	vertical-align: middle;
	margin-left: 1.5em;
	    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 5px;
    vertical-align: middle;
}
/***** Messages *************/
.wrapper-dropdown-1,.wrapper-dropdown-2,.wrapper-dropdown-3 {
    position: relative;
	outline: none;
	text-align:left;
}
.wrapper-dropdown-2 .dropdown {
      width: 210px;
    position: absolute;
    right: 0px;
	    top: 37px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index: 1;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    max-height: 0;
    overflow: hidden;
}
.wrapper-dropdown .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}
.wrapper-dropdown-1 .dropdown li,.wrapper-dropdown-2 .dropdown li,.wrapper-dropdown-3 .dropdown li,.wrapper-dropdown-4 .dropdown li{
	border-bottom: 1px solid #F0F0F0;
	float: none;
	margin: 0;
	  width: 100%;
	      padding: 14px;
}
.wrapper-dropdown-1 .dropdown li:last-child,.wrapper-dropdown-3 .dropdown li:last-child,.wrapper-dropdown-2 .dropdown li:last-child{
	border-bottom:none;
}
.wrapper-dropdown-2 .dropdown li a:hover {
    color: #314D68;
}
.wrapper-dropdown-1 .dropdown li a,.wrapper-dropdown-2 .dropdown li a,.wrapper-dropdown-3 .dropdown li a {
    display: block;
	text-decoration: none;
	color:#757575;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 0;
    border: none;
	display: block;
    text-decoration: none;
    color: #9A9A9A;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0;
    border: none;
    font-size: 14px;
}
/* Active state */
.wrapper-dropdown-1.active:after,.wrapper-dropdown-2.active:after,.wrapper-dropdown-3.active:after{
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p{
	color:#424242;
}
/**** //User dropdown ends******/
/********* Subscribe ***********/
.subscribe {	
	padding:10px 0;
	margin-top:1em;
}
.subscribe h3{
	font-size:1em;
	color: #575757;
	font-weight: 700;
	padding-bottom:10px;
	text-transform:uppercase;
}
.subscribe p{
	font-size:0.8em;
	color: #5F5F5F;
	line-height: 1.6em;
	margin-bottom: 10px;
	text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.43);
}
.subscribe input[type="text"] {
	border: none;
	outline: none;
	background:#F2F2F2;
	font-size:0.8em;
	 color: #5C5C5C;
	 border: 1px solid #C9C9C9;
	width:96%;
	padding:10px 5px;
    -webkit-appearance:none;
	font-family:'Oxygen', sans-serif;
	margin:0;
}
.subscribe input[type="text"]:focus{
	color:#141414;
}
.subscribe input[type="submit"] {
	border: none;
	outline:none;
	cursor: pointer;
	background:#3498DB;
	margin-top:10px;
	font-size:0.8em;
	color:#FFF;
	padding:8px 15px;
	font-family:'Oxygen', sans-serif;
	float: right;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}	
.subscribe input[type="submit"]:hover{
	background:#007CCC;
}

.wp-categories{
	margin-bottom: 20px;
}
.wp-categories ul{
	margin:0;
}
.wp-categories li{
	display:block;
	border-bottom:1px solid #e3e3e3;
	border-top:1px solid #fff;
}
.wp-categories li a{
	font-size:14px;
	padding:8px 10px;
	display:block;
	color:#767676;
}
.wp-categories li a:hover{
	color:#006cb3;
	background:#fff;
}
.wp-categories li:first-child{
     border-top:2px solid #314D68;
}
.wp-categories li a:active{
	color:#B30013;
}
 /********* Main *************/
.main{
	font-family: 'Oxygen', sans-serif;
	margin-bottom:25px;
	min-height:800px;
}
.main h1{
	font-size:1.2em;
	color:#575757;
	font-weight:700;
	padding-top: 20px;
	padding-left: 15px;
}
.title h2 {
	font-size: 16px;
    font-weight: bold;
    padding: 10px 0 10px 15px;
}
.title p {
	padding-left: 15px;
	font-size: 15px;
	line-height: 1.6em;
	color: #656565;
}
.content{
	float: left;
    width: 71%;
    padding-left: 10px;
}
/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_3,.grid_1_of_4{
	display: block;
	float:left;
	margin:2% 0 2% 2%;
}
.grid_1_of_3:first-child,.grid_1_of_4:first-child { 
	margin-left: 0; 
} 
.images_1_of_3,.images_1_of_4 {
	width:32%;
	padding: 0; 
	box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
	-webkit-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
	-moz-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
	-o-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
}
.images_1_of_4 {
  width:23.5%;	
}
.images_1_of_3 a,.images_1_of_4 a{
	display:block;
	  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.images_1_of_3 a img,.images_1_of_4 a img{
	max-width:100%;
	display:block;
	width:100%;
}
.images_1_of_3 a h2,.images_1_of_4 a h2{
	color:#979797;
	font-size:1em;
	font-weight:700;
	background:#FFF;
	padding:10px;
	text-align:center;
	text-transform:uppercase;
}
.images_1_of_3 a:hover h2,.images_1_of_4 a:hover h2{
    color:#396FA3 !important;
}

/*--Pagenation--*/
ul.pagination {
	height: 100%;
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	font-size:1.2em;
	font-weight:700;
	margin:20px 0px;
}
ul.pagination li:first-child {
	margin-left: 0px;
}
ul.pagination li {
	display:inline-block;
	margin: 0px;
	margin-left:10px;
	padding: 0px;
}
li a.currention {
	color:#486179 !important;
}
ul.pagination li a {
	color:#c5c5c5 !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.pagination li a:hover, ul.pagination li a.current {
	color:#486179 !important;
}
/*---start-sidebar-----*/
.add{
	margin-top:1em;
}
.sidebar{
float: left;
width: 22%;
padding: 0 1.5%;
margin-left: 2%;
background: #FFF;
margin-top: 1.3em;
}
.sidebar h1{
	font-size:1.2em;
	color:#575757;
	font-weight:700;
	padding:20px 0;
}
.latest_template a{
	display:block;
	border:1px solid #e0e0e0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.latest_template a:hover{
	border:1px solid #999;
}
.latest_template a img{
	display:block;
	max-width:100%;
	width:100%;
	opacity:0.8;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
.latest_template a img:hover{
	opacity:1;
}
.sidebar a h2{
	color:#979797;
	font-weight:700;
	background:#FFF;
	padding:6px 10px;
	text-align:center;
	text-transform:uppercase;
}
.sidebar a:hover h2{
	color:#396FA3 !important;
}
.latest_template{
	margin-bottom:20px;
}
/******** Footer ***********/
.footer{
	background:#2A435A;
	font-family: 'Oxygen', sans-serif;
}
.foot-logo{
	float: left;
	width: 20.8%;
	margin-top: 3%;
	text-align: center;

}
.foot-links ul{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	width: 20.8%;
	padding:1.5%; 
}
.social{
	text-align: right;
}
.foot-links h3{
	font-size:1.2em;
	color:#AFCFEC;
	padding-bottom:7px;
	margin-bottom:7px;
	border-bottom: 2px ridge rgba(67, 98, 129, 0.6);
}
.foot-links li a{
	color:#90B8DD;
	font-size: 15px;
	padding:6px 0;
	display:block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
} 
.foot-links li a:hover{
	color:#fff;
}
.foot-links li span{
	background: #4C7488;
	color: #fff;
	padding: 3px 5px;
}

/********** Rreview Page ************/
.Preview-page{
  background:#FFF;
  padding:20px 3%;
  margin-top:1.3em;
  min-height:800px;
}
.devices{
	padding-bottom:2em;
}
.web_1_of_3 {
	width:49.2%;
	padding:0%; 
	float: left;
	text-align: center;
}
.web{
	background: url('/wp-content/themes/w3layouts/images/web/desktop.png') center;
	background-repeat: no-repeat;
	height:450px;
	width:525px;
	margin: 0 auto;
	position:relative;
}
.web_preview{
	margin-left: 22px;
	padding-top:35px;
	height:85%;
	width: 91.8%;
	overflow: hidden;
}
.smart_1_of_3 {
	width: 21.2%;
	padding:0%; 
	float: left;
	text-align: center;
	margin:0 4.8%;
}
.smart{
	background: url('/wp-content/themes/w3layouts/images/web/smartphone.png') center;
	background-repeat: no-repeat;
	height: 450px;
	width: 225px;
	margin: 0 auto;
	position:relative;
}
.smartphopne_preview{
	margin-left:17px;
	padding-top:88px;
	height: 62%;
	width:86%;
	overflow: hidden;
}
.high_1_of_3 {
	width: 19.8%;
	padding:0%; 
	float: left;
	text-align: center;
}
.mobile{
	background: url('/wp-content/themes/w3layouts/images/web/mobile.png') center;
	background-repeat: no-repeat;
	height:450px;
	width: 210px;
	margin: 0 auto;
	position:relative;
}
.mobile_preview{
	margin-left:15px;
	padding-top:80px;
	height:68%;
	width:85.5%;
	overflow: hidden;
}
.high_1_of_3 h3,
.smart_1_of_3 h3,
.web_1_of_3 h3{
	color: #666;
	font-size: 1em;
	margin-bottom: 5%;
}
.prev_1_of_3 img{
	margin: 0 auto;
}	
.prev_1_of_3  img {
	max-width:100%;
	display:block;
	width:100%;
}
.links{
	text-align: center;
	background:#333333;
	position: absolute;
}
.links,
.links a{
	color:#FFF;
	font-size:12px;
}
.links a:hover{
	color:#A3D9FF;
}
.webe_links{
	padding:5px 20px;
	bottom:33px;
	left: 22px;
}
.smartphone_links{
	padding: 5px 0px;
	bottom: 82px;
	left: 17px;
	width:86%;
}
.mobile_links{
	padding:5px 0;
	bottom: 64px;
	left: 15px;
	width:85.5%;
}
/******** Post Description **************/
.post_description{
	padding:1em 0;
	border-top:1px solid #EEE;	
}
/******** Socila Networks *********/
.social-networks{
	float:none;
	width:100%;
	margin-top:1em;
}
.social-networks p{
	font-size: 16px;
	font-weight: bold;
	color: #505050;
	margin-bottom: 15px;
}
.social-networks li{
	display:inline-block;
	margin-left:10px;
	margin-bottom:10px;
}
.social-networks li:first-child{
	margin-left:0;
}
.social-networks li a{
	color:#444;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.social-networks li:hover a{
	color: #137CC6;
}
.networks_img{
	float:left;
}
.networks_img img{
	display:block;
	opacity:0.8;
	transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
}
.social-networks li:hover img{
	opacity:1;
}
.count_numbers{
	float:left;
	margin-left:10px;
	padding:6px 15px;
	border:1px solid #D1D1D1;
	position:relative;
	font-size:13px;
}
.count_numbers:after {
	content: '';
	position: absolute;
	left: -7px;
	top: 8px;
	border-right:6px solid #D1D1D1;
	border-bottom: 6px solid rgba(23, 29, 31, 0);
	border-top: 6px solid rgba(0, 0, 0, 0);
}
/********** Download Pack ********/
.download_pack{
	float:right;
	text-align:right;
}
.download_pack:first-child{
	margin-bottom:0;
}
.download_button{
	margin-bottom:1px;
}
.donate_button a{
	float:right;
	margin-bottom:5px;
	border-radius:2px;
}
.download_button a{ 
	display:inline-block;
	background:#3498db;
	border-bottom:4px solid #348CC7;
	padding:20px 20px;
	color: #FFF;
	font-size: 1em;
	font-weight:700;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.download_button a span{
	font-size:26px;
	font-weight:400;
	padding-right:5px;
	vertical-align:sub;
}
.download_button a:hover{ 
    background:#167BBE;
	border-bottom:4px solid #196AA0;
}
.download_button a:active{
	position:relative;
	bottom:-3px;
}
.download_button a > i img{
	display:inline-block;
	margin:0px 2px -7px 0px;
}
.download_digits{
	display:inline-block;
	font-weight: 100;
	font-size: 15px;
}
.download-buttons li:first-child{
	margin-left:0;
}
.download-buttons li{
	float:left;
	width:23.5%;
	text-align:center;
	display:inline-block;
	margin-left:2%;
	
}
.download-buttons li a{
	font-size:15px;
	color:#FFF;
	font-weight:200;
	display:block;
	padding:15px 5px;
	border-radius:2px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.bg-blue li a{
	background:#3498db;
	border-bottom:4px solid #2C86C2;
}
.bg-blue li a:hover{
	background:#167BBE;
	border-bottom:4px solid #196AA0;
}
.bg-orange li a {
	background:#F26C4F;
	border-bottom:4px solid #DA5A3F;
}
.bg-orange li a:hover {
	 background:#D86045;
	 border-bottom:4px solid #C64B30;
}
.download-buttons li a:active{
	position:relative;
	bottom:-3px;
}
.download-buttons li a span{
	width:28px;
	height:28px;
	display:inline-block;
	background:url("/wp-content/themes/w3layouts/images/web/w3-icons.png") no-repeat;
	margin-bottom:-10px;
}
.download-buttons li a span.monitor-icon {
	background-position:-34px -3px;
	margin-right:5px;
}
.download-buttons li a span.smartphone-icon {
	background-position:-65px -4px;
}
.download-buttons li a span.mobile-icon {
	background-position:-88px -4px;
}
.download-buttons li a span.downloadpack-icon {
	background-position:-3px -4px;
}
.download-buttons p{
	font-size:18px;
	color:#444;
	margin:1em 0;
	font-weight:700;
	float:left;
}
.perview_pade_add{
	margin-top:50px;
}
.post_data h2{
	font-size:1.2em;	
	color:#444;
	padding:15px 0;
	font-weight:700;
	line-height:1.6em;
}
.post_data h3{
	font-size:1.1em;
	font-weight:700;
	color:#5C5C5C;
	line-height:1.6em;
}
.post_data h4{
	color;#6B6B6B;
	font-size:1em;
	font-weight:700;
	line-height:1.6em;
}
.post_data p,.post_data article{
	font-size: 1em;
	color: #5E5E5E;
	line-height:2em;
	padding:10px 0;
}
.post_data a,.post_data article a{ 
	color:#137cc6;
	font-weight:bold;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.post_data a:hover{
   color:#0165AC;
}
.post_data strong,.post_data span{
	font-weight:bold;
}
.post_data li{
	padding:8px 0;
	color:#5E5E5E;
	font-size:1em;
	line-height:1.8em;
}
.post_data li b{
	font-weight:bold;
}

/************* Comment Section ***************/
/*---comment box--*/
.comments{
	position:relative;
	padding:30px 0;
}
.comments h2{
	margin:0;
	border:1px solid #DFDFDF;
	padding:10px 15px;
}
.comments .box{
	float:left;
}
.comments .box div{
	padding:5px;
	border:none;
}
.comments h2{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	font-size:1em;
	padding:8px;
	color:#7E7E7E;
}
.comments h2 span{
	color:#F26C4F;
	font-size:1.2em;
	font-weight:700;
}
.comments ul.list{
	margin:0;
	padding:0;
	list-style:none;
}
.comments .list li{
	display:block;
	padding:10px 0;
	margin:0 0 15px 0;
}
.comments ul.children li{
	padding:10px 0 0 30px;
}
.comments footer,
.comments .comment_desc{
	float:left;
}
.comment-list article{
	margin-top:1em;
}
.comment-author{
	width:100px;
	text-align:center;
	margin-top:35px;
}
.preview a{
	display:block;
	text-align:center;
	color: #666;
}
.preview a{
  color:#444;	
}
.preview a span{
	display:block;
	color: #666;
	font-size: 16px;
}
.preview a span.commentor_designation{
	color:#999;
	font-style:italic;
	font-size:12px;
}
.comment-author img{
	max-width:100%;
	margin-bottom:10px;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
	margin: 0 auto;
    display: block;
}
.comment-author .fn{
	font-size:1em;
	color:#999999;
	font-weight:bold;
}
.comment-author .says{
	color: #999;
    font-weight: normal;
    font-size: 0.85em;
}
.commnet em {
	font-size: 0.8em;
	/* font-weight: bold; */
	color: #FA5F31;
}
.comment_desc{
	width: 85%;
	margin-left:3%;
}
.comment_desc span.posted_date,.comment-meta a{
	color: #999;
	font-size: 12px;
	display:block;
	margin:10px 0;
}
.comment_data,.comment-content{
	padding:2%;
	background:rgba(52, 152, 219, 0.09);
	border:1px solid rgba(52, 152, 219, 0.15);
	position:relative;
	margin-bottom:4px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
}
.comment_data:after ,.comment-content:after {
		content: '';
		position: absolute;
		left:-16px;
		top:15px;
		border-top: 10px solid rgba(0, 0, 170, 0);
		border-right: 15px solid rgba(52, 152, 219, 0.21);
		border-bottom: 10px solid rgba(0, 0, 0, 0);
	}	
.comment_desc p,.comment-content p{
	color:#555555;
	font-size:1em;
	line-height:1.8em;
}
.comment_desc span.posted_date{
	padding:10px 0;
}
.comment_desc span.posted_date a time{
	color:#858585;	
}
.comment_desc span.posted_date a,.reply a{
	color:#137CC6;
	font-size:0.8em;
	text-decoration:underline;
}
.reply a:hover{
	text-decoration:none;
}

/********* Comment Area ******/
#respond label{
	float:left;
	width:18%;
}
#respond{
	margin-top:3em;
	border-top:1px solid #EEE;
}
#respond h3{
	color: #525252;
	font-size:20px;
	line-height: 1.2em;
	font-weight:700;
	text-transform:uppercase;
}

#respond p{
	display:block;
	font-size:0.85em;
	color:#7E7E7E;
	padding:10px 0;
}

#respond .required{
	color:red;
	display:inline;
	padding-left:2px;
}
#respond input[type="text"],#respond textarea{
		    padding:10px;
			display:inline-block;
			width:50%;
			background:rgba(238, 238, 238, 0.4);
			border:1px solid rgba(228, 228, 228, 0);
			outline:none;
			color:#444;
			font-size:1em;
			font-family:'Oxygen', sans-serif;			
			-webkit-appearance:none;
			transition: border-color 0.3s;
			-o-transition: border-color 0.3s;
			-ms-transition: border-color 0.3s;
			-moz-transition: border-color 0.3s;
			-webkit-transition: border-color 0.3s;
}
#respond input[type="text"]:hover,#respond textarea:hover,#respond input[type="text"]:focus,#respond textarea:focus{
	border-color:rgba(109, 109, 109, 0.19);
}
#respond textarea{
		    resize:none;
		    height:150px;
			width:65%;
}
#submit{
    background:#3498DB;
	color:#FFF;
	font-size:1em;
	padding:10px 10px;
	border:none;
	text-decoration: none;
	font-family: 'Oxygen', sans-serif;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    display:inline-block;
    cursor:pointer;
    -webkit-appearance:none;
}
#submit:hover{
		background:#0880D1;	
}
.content .comment-reply-title a{
	color:#F26C4F;
} 

/************** About Page *******/
.about_desc{
	background: #FFF;
	padding:3%;
	margin-top: 1.3em;
	min-height:800px;
}
.about_desc h2,.about_desc h3,.about_desc h4,.content h3{
	font-size:1.1em;
	font-weight:700;
	color:#6B6B6B;
	padding:10px 0;
}
.content h3,.about_desc h3{
 	color:#858585;
 	font-size:1em;
 	font-weight:normal;
}
.about_desc h4{
	font-size:1em;
	color:#868686;
}
.about_desc p{
   font-size:1em;
	color:#797979;
	line-height: 2em;
	padding: 15px 0;
}
.about_desc a{
	color:#137CC6;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.about_desc a:hover{
	color:#025996;
}
.content  h3 a{
	color:#137CC6;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.content h3 a:hover{
	color:#025996;
}
.content strong,.main span{
  font-weight:bold;
}
.content strong,.about_desc span{
  font-weight:bold;
}
.about_desc strong a,.about_desc span a{
	font-weight:bold;
}
.about_desc li{
	padding:8px 0;
	color:#444444;
	font-size:1em;
}	
.about_desc li a{
	display:block;
	color:#137CC6;
}
.about_desc div{
	padding:7px 0;
}
.about_desc label{
	display:block;
	font-size:0.85em;
	color:#7E7E7E;
	padding-bottom:5px;
}
.about_desc label span.red{
	color:red;
	display:inline;
	padding-left:2px;
}
.about_desc input[type="text"],.about_desc textarea,.about_desc input[type="password"]{
		    padding:10px;
			display:block;
			width:100%;
			background:#fcfcfc;
			border: 1px solid #CCC;
			outline:none;
			color:#464646;
			font-size:1em;
			font-family:Arial, Helvetica, sans-serif;
			-moz-box-shadow: #ccc 1px 1px 2px;
			-webkit-box-shadow: #CCC 1px 1px 2px;
			-webkit-appearance:none;
			border-radius:3px;
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			-o-border-radius:3px;
}
.about_desc input[type="text"]:focus,.about_desc textarea:focus,.about_desc input[type="password"]{
	border-color:#BDBDBD;
	-moz-box-shadow: #ccc 3px 3px 6px;
	-webkit-box-shadow: #CCC 3px 3px 6px;
}
.about_desc textarea{
		resize:none;
		height:100px;		
}
.about_desc input[type="submit"]{
    background:#3498DB;
	color: #FFF;
	font-size:1em;
	font-weight:700;
	padding:10px 20px;
	border:none;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    display:inline-block;
    font-family: 'Oxygen', sans-serif;
    cursor:pointer;
    -webkit-appearance:none;
}
.about_desc input[type="submit"]:hover{
        text-shadow: 0px 0px 1px #000;
		background:#0880D1;
}
/*----FAQ-----*/
.faq{
	color: #666;
	font-size:1em;
}
.question-answers{
	padding-top:50px;
}	
.answers{
	margin:40px 0; 
}
.questions h3,
.faq h3{
	color: #555;
	font-size:25px;
	margin-bottom:30px; 
}
.faq h4{
	color: #2DAEBF;
	font-size: 15px;
	margin-bottom:8px; 
}
.questions a{
	font-size:1em;
	color:#3787BE;
}
.questions a:hover{
	color:#0365AA;
}
.questions h4 {
	color:#006FBA;
	font-size: 16px;
	margin-bottom: 9px;
	font-weight: normal;
}
.questions p {
	margin: 20px 0;
	line-height: 2em;
	font-size: 12px;
	color: #444;
}
/*----Contact form----*/
.contact{
	background: #FFF;
	padding: 3%;
	margin-top: 1.3em;
}
.contact-form{
	float: left;
	width: 50%;
	margin-right: 4%;
}
.form div{
	padding:6px  0;
}
.form span{
	display: block;
	padding: 3px;
}
.form .green {
	color: #86C840;
	display: inline;
	padding-left: 2px;
	font-size: 18px;
}
.form label{
	font-size: 16px;
	color: #444;
	line-height:2em;
}
.form .required {
	color: #F00;
	display: inline;
	padding-left: 2px;
}
.form input[type="text"],
.form input[type="password"],
.form select,
.form textarea{
	font-family: 'Oxygen', sans-serif;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font-size: 15px;
	color:#2B2B2B;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding: 5px;
	font-size: 15px;
	border-color: #e5e5e5;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	box-shadow:none;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form select:focus,
.form textarea:focus{
	border-color: #2DA5DA;
}
.form input[type="text"]:hover,
.form input[type="password"]:hover,
.form select:hover,
.form textarea:hover{
	border-color: #2DA5DA;
}
.form  textarea{
	height: 150px;
}
.form input[type="submit"]{
	font-family: 'Oxygen', sans-serif;
	border:none;
	background: #3498db;
	padding:10px 25px;
	color: #FFF;
	font-size: 1em;
	font-weight:700;
	-webkit-appearance:none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor:pointer;
}
.form input[type="submit"]:hover{
	 background:#167BBE;
}
.address {
	float: left;
	width:46%;
}
.address h3{
	font-size: 1.2em;
	color:#727272;
	padding: 15px 0;
	font-weight: 700;
}
/*----services---*/
.services_1_of_3{
	display: block;
	float:left;
	text-align: center;
	margin: 1.5% 0 2.5% 3%;
}
.services_1_of_3:first-child { 
	margin-left: 0; 
}
.services_1_of_3 h1{
	font-size:1.2em;
	color: #444;
	font-weight:700;
	margin-bottom: .2em;
}
.services_1_of_3 p{
	font-size: 13px;
	line-height: 1.8em;
	color: #777;
	margin-bottom: .2em;
}
.services_1_of_3 img{
	width: 80%;
	margin:  0 auto;
}
/***** Download Page *****/
.donation-price-details h3{
	color: #858585;
	font-size:12px;
	font-weight: normal;	
	margin-bottom:5px;
	text-align:right;
}
.download-page h3 a{
	color: #137CC6;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight:bold;
}
.download-page h3 a:hover{
	color:#025996;
}

.dloadbutton-share{
	 margin-top: 30px;
	text-align:center;
}
.dloadbutton-share a{ 
	display:inline-block;
	background: #3498db;
	padding:16px 1.5em;
	font-size:16px;
	font-weight:700;
	color:#D2EDFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	font-family:'Oxygen', sans-serif;
	border-bottom:5px solid #2482C0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dloadbutton-share a:hover{
	background-color:#2B84C0;
	border-bottom:5px solid #206FA3; 
	color:#EAF7FF;
}
.dloadbutton-share a:active{
	position:relative;
	bottom:-3px;
}

.dload-button{
	float:right;
	text-align:center;
	color: #D2EDFF;
}
.dload-button-card a{ 
	background:#3498db url("/wp-content/themes/w3layouts/images/credit-card-green-bg.png") no-repeat 15px;
	display:inline-block;
	padding:15px 1.5em 15px 3em;
	font-size:16px;
	font-weight:700;
	color:#D2EDFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	font-family:'Oxygen', sans-serif;
	border-bottom:5px solid #2482C0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dload-button-card a:hover{
	background-color:#2B84C0;
	border-bottom:5px solid #206FA3; 
	color:#EAF7FF;
}
.dload-button-card a:active{
	position:relative;
	bottom:-3px;
}
.dload-button-card{
	float:right;
	text-align:center;
}
.dload-button a{ 
	display:inline-block;
	background: #3498db;
	padding:16px 1.5em;
	font-size:16px;
	font-weight:700;
	color:#D2EDFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	font-family:'Oxygen', sans-serif;
	border-bottom:5px solid #2482C0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dload-button a:hover{
	background-color:#2B84C0;
	border-bottom:5px solid #206FA3; 
	color:#EAF7FF;
}
.dload-button a:active{
	position:relative;
	bottom:-3px;
}
/** Donation Prices **/
.donation-prices{
	margin-top:2em;
	border:1px solid  #bce8f1;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.donation-prices h4{
	font-size:20px;
	color:#31708f;
	background-color: #d9edf7;
	padding:20px;
	font-weight:600;
}
.donation-price-details{
	padding:30px 5%;
}
.donation-price-details ul{
	float:left;
	width:50%;
}
.radio {
	position: relative;
	display: block;
}
.radio {
	padding-left: 28px;
	color: #404040;
	cursor: pointer;
	margin-bottom:25px;
}
.radio label{
	font-size:15px;
	font-family:'Oxygen', sans-serif;
	color:#808080;
}
.radio label span{
	color:#222;
}
.radio  input[type="radio"]{
	position: absolute;
	left: -9999px;
}
.radio i {
	position: absolute;
	top:2px;
	left: 0;
	display: block;
	width: 13px;
	height: 13px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: #fff;
	cursor:pointer;
}
.radio i {
	border-radius: 50%;
}
.radio input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
span.WebRupee {
    font-size: 17px;
    font-weight: normal;
    vertical-align: middle;
    margin-right: 2px;
}
 .radio input + i:after {
	content: '';
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.radio input:checked + i:after{
	opacity: 1;
}
/*** normal state ***/
.radio i {
	border-color: #e5e5e5;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
/*** hover state ***/
 .radio:hover i {
	border-color: #8dc9e5;
}
/*** focus state ***/
.radio input:focus + i {
	border-color: #2da5da;
}
/*** checked state ***/
.radio input + i:after {
	background-color: #2da5da;	
}
.radio input:checked + i {
	border-color: #2da5da;	
}
/*** error state ***/
.radio.state-error i {
	background: #fff0f0;
}
/*** success state ***/
.radio.state-success i{
	background: #f0fff0;
}
/*** disabled state ***/
.radio.state-disabled {
	cursor: default;
	opacity: 0.5;
}
.radio.state-disabled:hover i {
	border-color: #e5e5e5;
}
/**PayU Style*/

.PayU-details{
	padding-top:10px;
    border-top: 1px solid #eee;
}
.PayU_button_form{
		float:left;
		line-height:0;
}
.PayU_button_form_submit{
	background:#3498db url("/wp-content/themes/w3layouts/images/credit-card-green-bg.png") no-repeat 15px;
	border:none;
	outline:none;
	padding:15px 1.5em 15px 3em;
	font-size:16px;
	color:#D2EDFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	font-family:'Oxygen', sans-serif;
	border-bottom:5px solid #2482C0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor:pointer;
	font-weight:700;
	
}
.PayU_button_form_ahref{
	background:#3498db;
	border:none;
	outline:none;
	float: right;
    text-align: center;
	padding:15px 1.5em 34px 3em;
	font-size:16px;
	color:#D2EDFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	font-family:'Oxygen', sans-serif;
	border-bottom:5px solid #2482C0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor:pointer;
	font-weight:700;
	
}
.PayU_button_form_submit:hover{
	background-color:#2B84C0;
	border-bottom:5px solid #206FA3; 
	color:#EAF7FF;
}
.PayU_button_form_submit:active{
	position:relative;
	bottom:-3px;
}
.PayU-details h3 a{
	font-size:13px;
	color: #137CC6;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.PayU-details h3 a:hover{
	color:#025996;
	text-decoration:underline;
}
/**paypal*/
.paypal-details{
	padding-top:10px;
    border-top: 1px solid #eee;
}
.paypal_button_form{
		float:left;
		line-height:0;
		margin-right: 10px;
}
.paypal_button_form_submit{
	background:#3498db url("/wp-content/themes/w3layouts/images/web/paypal.png") no-repeat 15px;
	border:none;
	outline:none;
	padding:15px 1.5em 15px 3em;
	font-size:16px;
	color:#D2EDFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	font-family:'Oxygen', sans-serif;
	border-bottom:5px solid #2482C0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor:pointer;
	font-weight:700;
	margin-right: 10px;
	float:left;
	
}
.paypal_button_form_submit:hover{
	background-color:#2B84C0;
	border-bottom:5px solid #206FA3; 
	color:#EAF7FF;
}
.paypal_button_form_submit:active{
	position:relative;
	bottom:-3px;
}
.paypal-details h3 a{
	font-size:13px;
	color: #137CC6;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.paypal-details h3 a:hover{
	color:#025996;
	text-decoration:underline;
}
/*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:10px;
	right: 10px;
	overflow: hidden;
	width:30px;
	height:30px;
	border: none;
	text-indent: 100%;
	background: url(/wp-content/themes/w3layouts/images/web/scroll-top.png) no-repeat center;
}
#toTop:hover{
	outline: none;
	background: url(/wp-content/themes/w3layouts/images/web/scroll-top-hover.png) no-repeat center;
}
/**** Page Not Found *****/
.pagenot{
	margin:0px auto;
	text-align: center;
	position:relative;
}
.pagenot h2{
	font-size:15em;
	color:#314D68;
	font-weight: bold;
	padding:0;
}
.pagenot-text{
	position:absolute;
	top:125px;
	background:#FFF;
	width:100%;
}
.pagenot-text h3{
	font-size:1.2em;
	color:#314D68;
	padding:0px;
}
.pagenot  p{
	font-size: 1.5em;
	color:#858585;
	line-height: 1.6em;
	padding:0;
	font-weight:400;
	width:60%;
	margin:0 auto;
}
.search_form{
	margin-top:15px;
}
.search_form input[type="text"]{
	display: inline-block;
	padding:10px 10px;
	width:300px;
	margin:0;
	border:1px solid #EBEBEB;
	background:#F2F2F2;
	color:#C4C4C4;
	font-size:1em;
	outline:none;
	font-family: 'Oxygen', sans-serif;
	box-shadow:none;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
}
.search_form input[type="text"]:focus{
	color:#575757;
	box-shadow:none;
	border-color:#D1D1D1;
}
.search_form input[type="submit"]{
	font-family: 'Oxygen', sans-serif;
	border: none;
	background: #3498DB;
	padding: 10px 25px;
	color: #FFF;
	font-size: 1em;
	font-weight: 700;
	-webkit-appearance: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.search_form input[type="submit"]:hover{
	background: #167BBE;
}
/** Web elements Preview **/
.webelements_preview{
	text-align:center;
	padding-bottom:1em;
}
.webelements_preview ul{
	margin-top:10px;
}
.webelements_preview li{
	display:inline-block;
	margin-left:5px;
}
.webelements_preview li:first-child{
	margin-left:0;
}
.webelements_preview li a{
	display:block;
	padding:10px 15px;
	color:#FFF;
	font-size:0.8em;
	background:#3498DB;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.webelements_preview li a:hover{
	background:#167BBE;
}
.web-version-preview{
	text-align:center;
	padding-bottom:1em;
}
.web-version-preview ul{
	margin-top:10px;
}
.web-version-preview li{
   display:inline-block;
   margin-left:5px;	
}
.web-version-preview li:first-child{
	margin-left:0;
}
.web-version-preview li a{
	display:block;
	background: #3498db;
	border-bottom: 4px solid #348CC7;
	padding: 20px 20px;
	min-width:150px;
	color: #FFF;
	font-size: 1em;
	font-weight: 700;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.web-version-preview li a:hover{
	background:#167BBE;
	border-bottom:4px solid #196AA0;
}
.web-version-preview li a:active{
	position:relative;
	bottom:-3px;
}
/** Web elements Preview END **/
/** Responsive-design **/
@media only screen and (max-width: 1440px) and (min-width: 1400px){
	.web_1_of_3{
		width:53.3%;
	}
	.smart_1_of_3{
		margin:0 2.8%
	}
}
@media only screen and (max-width: 1366px) {
	.wrap{
		width:100%;
	}
	.web_1_of_3 {
		width: 47.2%;
	}
	.web {
		background-size: 450px;
		height: 360px;
		width: 445px;
	}
	.webe_links{
		bottom:18px;
		left: 18px;
	}
	.web_preview {
		margin-left: 18px;
		padding-top: 18px;
		height:90%;
		width: 92%;
    }
    .smart {
		background-size: 195px;
		height:360px;
		width:190px;
	}
	.smartphopne_preview {
		margin-left: 14px;
		padding-top: 60px;
		height: 65%;
		width: 86%;
	}
	.smartphone_links {
		padding: 5px 0px;
		bottom: 65px;
		left: 14px;
		width: 86%;
	}
	.mobile {
		background-size: 187px;
		height:365px;
		width:180px;
	}
	.mobile_preview {
		margin-left: 15px;
		padding-top: 66px;
		height: 67%;
		width: 82.5%;
	}
	.mobile_links {
		padding: 5px 0;
		bottom: 54px;
		left: 15px;
		width: 83%;
	}
	.social-networks {
		width:100%;
	}
}
@media only screen and (max-width: 1280px)  {
	.wrap{
		width:100%;
	}
	.web_1_of_3 {
		width: 49.2%;
	}
	.social-networks {
		width:100%;
	}
	.content{
		width: 70%;
	}
	.sidebar{
		width:24%;
	}
}
@media only screen and (max-width: 1024px)  {
	.wrap{
		width:100%;
	}
	.search_box{
		margin:5px 0 5px 5%; 
	}
	.web_1_of_3 {
		width:100%;
		margin-bottom:20px;
	}
	.smart_1_of_3 {
		width: 50.2%;
    }
    .high_1_of_3 {
		width:30.8%; 
    }
    .social-networks{
    	width:100%;
    }
	.comment_desc{
		width:80%;
	}
	.post_description{
		padding:1em 0;
	}
	.content{
		width: 65%;
	}
	.sidebar{
		width:29%;
		margin-top:0.8em;
	}
	.download-buttons li{
	 width:49%;
	 margin-left:0;
	 margin-top:3px;
  }
  .download-buttons li:nth-child(2),.download-buttons li:nth-child(4) {
  	 margin-left:5px;
  }
  .web-version-preview li:last-child a{
  	 margin-top:10px;
  }
}
@media only screen and (max-width:800px) {
	.wrap{
		width:100%;
	}
	.search_box{
		margin:6px 0 5px 3%; 
	}
	.search_box form input[type="text"]:focus{
		width:120px;
	}
	.content{
       float:none;
       width:100%;
       padding-left:0;	
	}
	.sidebar{
		 float:none;
         width:89%;
         padding:5%;
		 margin-left:0;
	}
	.grid_1_of_3,.grid_1_of_4 { 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_3,.images_1_of_4 {
		width:94%;
		padding:0 3%;
	}
	/**** Preview ****/
	.web_1_of_3,.smart_1_of_3,.high_1_of_3{
	 	width:100%;
		padding:0%;
		float:none;
	    margin-bottom:5px;
	}
	.smart_1_of_3{
	  margin:0;
	}
	.social-networks{
	  float:none;
	  width:100%;
	}	
	.comment_desc{
	  width:75%;
	}
   
}
@media only screen and (max-width:640px) {
	.wrap{
		width:100%;
	}
	.search_box{
		margin:5px 0 5px 10%; 
	}
	.webe_links{
		bottom: 18px;
		left: 20px;
	}
	.web_preview {
		margin-left: 19px;
		padding-top: 18px;
		height:90%;
		width: 92%;
    }
	.foot-logo{
		float:none;
		width:94%;
		padding:3%;
		margin:0;
	}
	.foot-links ul{
		float:none;
		margin:0;
		width:94%;
		padding:3%;
	}
	.pagenot p{
		width:100%;
	}	
	.donation-price-details ul{
		float:none;
		width:100%;
	}
	
	#signup .validation01
	{ 
		right: -90px;
		top: 30px;
		z-index:9999;
	}

}
@media only screen and (max-width:480px) {
	.wrap{
		width:100%;
	}
	.contact-form,.address{
		float:none;
		width:100%;
		margin:0;
	}
	.devices{
		padding-bottom:0;
	}
	.post_description{
		padding:1em 0;
	}
	.comment_desc{
		width:70%;
	}
	.comment_data{
		padding:10px;
	}
	#respond input[type="text"], #respond textarea,#respond textarea{
		width:75%;
	}
	.pagenot p{
		width:100%;
		font-size:1em;
	}
	.pagenot h2{
		font-size:9em;
	}
	.about_desc div{
		padding:5px 0;
	}
	.pagenot-text h3{
		font-size:0.95em;
	}
	.search_form input[type="text"]{
		width:90%;
	}
	.pagenot-text{
		top:75px;
	}
	.search_form input[type="submit"]{
		margin-top:8px;
	}
	.web {
		background-size: 280px;
		height: 235px;
		width: 275px;
	}
	.webe_links{
		bottom: 17px;
		left:10px;
	}
	.web_preview {
		margin-left: 10px;
		padding-top: 16px;
		height: 86%;
		width: 93%;
    }	
	.modal-dialog {
		width: 360px;
		margin: 80px auto 0;
	}
	#signup .validation01
	{ 
		right: -30px;
		top: 30px;
	}
}
@media only screen and (max-width:430px) {
	.web-version-preview li{
		display:block;
		margin-left:0;
		margin-top:10px;
	}
	.login-form p {
		letter-spacing: 0px;
	}
	.modal-body {
		padding: 30px 25px 35px;
	}
	.login-form input[type="text"], .login-form input[type="password"] {
		width: 83%;
	}
	#small-dialog, #small-dialog2 {
		max-width: 90% !important;
	}
}
@media only screen and (max-width:320px) {
	.wrap{
		width:100%;
	}
	.search_box{
		margin:5px 0 5px 5%; 
	}
	.search_box form input[type="text"]:focus {
		width:115px;
	}
	.preview{
		margin-top:15px;
	}
	.web {
		background-size: 280px;
		height: 235px;
		width: 275px;
	}
	.webe_links{
		bottom: 17px;
		left:10px;
	}
	.web_preview {
		margin-left: 10px;
		padding-top: 16px;
		height: 86%;
		width: 93%;
    }
	.comment_desc{
	   width:85%;
	   margin-left:10%;
	}
	.preview img{
		margin-bottom:0;
	}
	#respond label{
		float:none;
		width:100%;
		line-height:1.8em;
	}
	.download-buttons li{
	 float:none;
	 width:100%;
	 margin-left:0;
	 margin-top:3px;
	 text-align:left;
  }
  .download-buttons li:nth-child(2),.download-buttons li:nth-child(4) {
  	 margin-left:0px;
  }
	.modal-dialog {
		width: 290px;
		margin: 60px auto 0;
	}
	.modal-body {
    padding: 30px 15px 35px;
}
  .login-form p {
    font-size: 0.9em;
    letter-spacing: 0px;
}
.signin-rit .checkbox {
    padding: 0em 0em 0em 1.1em;
}
	.popupContainer {
		width: 300px;
		    left: 50%!important;
			    top: 10px!important;
	}
}