/*
	Theme Name: Reporter Live Version 2.0
	Theme URI: http://www.reporterlive.com
	Description: Reporter Live theme
	Version: 2.0
	Author: Haris
	Author URI: http://www.kanudigital.com
*/
/*************************************************************************************************
													RESET
***************************************************************************************************/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:none;}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*{ margin: 0; padding: 0; list-style-type: none;} 
/*************************************************************************************************
													FONTS
***************************************************************************************************/
/*@font-face {
    font-family: 'ReporterBold';
    src: url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/EggsReporterBd.eot');
    src: url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/EggsReporterBd.eot?#iefix') format('embedded-opentype'),
         url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/eggsreporterbd-webfont.woff') format('woff'),
         url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/eggsreporterbd-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'ReporterRegular';
    src: url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/EggsReporterRg.eot');
    src: url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/EggsReporterRg.eot?#iefix') format('embedded-opentype'),
         url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/eggsreporterrg-webfont.woff') format('woff'),
		 url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/EggsReporterRg.ttf') format('truetype'),
         url('http://www.reporterlive.com/wp-content/themes/reporter_v2/fonts/eggsreporterrg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*************************************************************************************************
													COMMON
***************************************************************************************************/
iframe, object{max-width:100%;}
.p5{padding:5px;} .p10{padding:10px;} .p15{padding:15px;} .p20{padding:20px;} .p25{padding:25px;} .p30{padding:20px;} .ptop5{padding-top:5px;} .ptop10{padding-top:10px;} .ptop15{padding-top:15px;} .ptop20{padding-top:20px;} .pbtm5{padding-bottom:5px;} .pbtm10{padding-bottom:10px;} .pbtm15{padding-bottom:15px;} .pbtm20{padding-bottom:20px;} .prite5{padding-right:5px;} .prite10{padding-right:10px;} .prite15{padding-right:15px;} .prite20{padding-right:20px;} .plft5{padding-left:5px;} .plft10{padding-left:10px;} .plft15{padding-left:15px;} .plft20{padding-left:20px;} .m5{margin:5px} .m10{margin:10px} .m15{margin:15px} .m20{margin:20px} .m25{margin:25px} .m30{margin:30px} .mtop5{margin-top:5px;} .mtop10{margin-top:10px;} .mtop15{margin-top:15px;} .mtop20{margin-top:20px;} .mtop30{margin-top:30px;} .mbtm5{margin-bottom:5px;} .mbtm10{margin-bottom:10px;} .mbtm15{margin-bottom:15px;} .mbtm20{margin-bottom:20px;} .mrite5{margin-right:5px;} .mrite10{margin-right:10px;} .mrite15{margin-right:15px;} .mrite20{margin-right:20px;} .mlft5{margin-left:5px;} .mlft10{margin-left:10px;}.mlft15{margin-left:15px;} .mlft20{margin-left:20px;} 
.ttc{text-transform:capitalize;}
.ttu{text-transform:uppercase;}
.container{max-width:1160px;width:100%;margin-right:auto;margin-left:auto;margin-bottom:0;margin-top:0;background-color:#fff;padding:0 20px;}
.row{width:100%;}
.row-half{width:50%;float:left;}
.row-three{width:33.33333333%;float:left;}
.row-four{width:25%;float:left;}
.row-five{width:20%;float:left;}
.row-thirty{width:30%;float:left;}
.row-fourty{width:40%;float:left;}
.row-sixty{width:60%;float:left;}
.row-seventy{width:70%;float:left;}
.row-eighty{width:80%;float:left;}
/* clear floats */
.container:after, .container:before, .row:after, .row:before{display: table;content: " ";clear: both;}
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display:block;clear: both;} 
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
body{margin:0;padding:0;width:100%;color: #525252;font-family: "ReporterRegular",sans-serif;background-color:#f6f6f6}
a{color: #525252;}
a:hover{color:#F1111D;}
p{font-size: 17px; line-height: 20px; margin-bottom: 10px;}   
.etext, .etext a{font-family: 'Open Sans', sans-serif;}
.mtext, .mtext a{font-family: "ReporterRegular",sans-serif;}
.btext, .btext a{font-family: "ReporterBold",sans-serif;}
.clear , .cb{ clear: both; }
.left, .alignleft{float:left;}
.right, .alignright{float:right;}
.center{text-align:center;}
.t-right{text-align:right;}
.t-left{text-align:left;}
.inline{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
img{max-width:100%;height:auto;vertical-align:bottom; }
a, a:hover{text-decoration:none;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
*, *:after, *:before { -moz-box-sizing:border-box; box-sizing:border-box; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; text-rendering:optimizeLegibility; } 
input:focus { outline:0; border:1px solid #04A4CC; } 
/*Core*/
.alignnone { margin:0 20px 20px 0; } .aligncenter, div.aligncenter { display:block; margin:0 auto 5px auto; } .alignright { float:right; margin:0 0 20px 20px; } .alignleft { float:left; margin:0 20px 20px 0; } a img.alignright { float:right; margin:0 0 20px 20px; } a img.alignnone { margin:0 20px 20px 0; } a img.alignleft { float:left; margin:0 20px 20px 0; } a img.aligncenter { display:block; margin-left:auto; margin-right:auto; } .wp-caption { background:#FFF; border:1px solid #F0F0F0; max-width:96%; padding:5px 3px 10px; text-align:center; } .wp-caption.alignnone { margin:5px 20px 20px 0; } .wp-caption.alignleft { margin:5px 20px 20px 0; } .wp-caption.alignright { margin:5px 0 20px 20px; } .wp-caption img { border:0 none; height:auto; margin:0; max-width:98.5%; padding:0; width:auto; } .wp-caption .wp-caption-text, .gallery-caption { font-size:11px; line-height:17px; margin:0; padding:0 4px 5px; } 
::selection { background:#04A4CC; color:#FFF; text-shadow:none; } ::-webkit-selection { background:#04A4CC; color:#FFF; text-shadow:none; } ::-moz-selection { background:#04A4CC; color:#FFF; text-shadow:none; } 
/*************************************************************************************************
													Header
***************************************************************************************************/
#menu-trigger { display: none; } 
.logo-hide{  float: left;padding-top: 11px;margin-left: 5%;display:none;}
.container.head-meta{padding-top:35px;overflow:hidden;}
.logo{padding-bottom: 25px;}
.top-links ul li{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
.top-links ul li a{font-size: 13px;padding: 0 10px;border-right: 1px solid;  display: block;line-height: 12px;}
.top-links ul li.first a{padding: 0 10px 0 0;}
.top-links ul li.last a{border:0;}
.mdate{font-size: 80px;letter-spacing: -10px;font-weight: 300;color: #000;padding-right: 20px;margin-top: -21px;}
.myear{  border-left: 1px solid #e9e9e9;padding-left: 10px;}
a.live-link{width:72px;height:20px;background:url(images/live.png) no-repeat;}
.year-inner{font-size:12px;}
.flash.row-eighty{padding-left:83px;background:url(images/j-in.png) no-repeat left center;border-top:1px solid #e9e9e9;width: 100%;padding-right: 35px;}
#marquee{width:100%;height:30px;padding-top:9px;overflow:hidden;}
#marquee div{padding:0 5px;height:30px;color:#525252;}
#marquee div a{color:#ee1b24}
.search > .search-toggle{width:36px;height:31px;background:url(images/srch.png) no-repeat;float: right;cursor:pointer;}
.close{ color: #777; font: 14px/100% arial, sans-serif; position: absolute; left: 5px; text-decoration: none; text-shadow: 0 1px 0 #fff; top: 8px; cursor: pointer; } 
.close:after { content: '✖'; /* UTF-8 symbol */ } 
.flash-search{overflow:hidden;}
.row.srch{position:relative;}
.search { width: 0%; height: 31px; float: right; } 
.serch-holder{  display: none; width: 100%; position: absolute; right: 0; top: 0;} 
.search input[type="text"]{  width: 100%; padding: 10px 10px 10px 25px; background-color: #e9e9e9; border: 0; font-size: 14px; } 
.search input[type="submit"]{  position: absolute; top: 25%; right: 1%; padding: 0; margin: 0; border: 0; width: 16px; height: 16px; background: url(images/s-icon.png) no-repeat;}   
.dont-miss-top{ width: 98%; margin: 0 auto;} 
.dont-miss-top img{float: left;margin-right: 10px;width:115px;}
.dont-miss-top .row-th{ padding: 15px; height: 75px; overflow: hidden;} 
.dont-miss-top .row-th a.tpa{  height: 55px;line-height:18px;}
.c-hamburger { display: block; position: absolute; overflow: hidden; margin: 0; padding: 0; width: 40px; height: 28px; font-size: 0; text-indent: -9999px; appearance: none; box-shadow: none; border-radius: none; border: none; cursor: pointer; transition: background 0.3s; left: 50%; bottom: -10px; } 
.c-hamburger:focus { outline: none; } 
.c-hamburger span { display: block; position: absolute; top: 7px; left: 8px; right: 10px; height: 3px; background: #5A5656; } 
.c-hamburger span::before, .c-hamburger span::after { position: absolute; display: block; left: 0; width: 100%; height: 3px; background-color: #525252; content: ""; } 
.c-hamburger span::before { top: -6px; } 
.c-hamburger span::after { bottom: -6px; } 
.c-hamburger--htx { background-color:transparent; } 
.c-hamburger--htx span { transition: background 0s 0.3s; } 
.c-hamburger--htx span::before,
.c-hamburger--htx span::after { transition-duration: 0.3s, 0.3s; transition-delay: 0.3s, 0s; } 
.c-hamburger--htx span::before { transition-property: top, transform; } 
.c-hamburger--htx span::after { transition-property: bottom, transform; } 
.c-hamburger--htx.is-active { background-color:transparent; } 
.c-hamburger--htx.is-active span { background: none; } 
.c-hamburger--htx.is-active span::before { top: 0; transform: rotate(45deg); } 
.c-hamburger--htx.is-active span::after { bottom: 0; transform: rotate(-45deg); } 
.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after { transition-delay: 0s, 0.3s; }
.mob-d{display:none;}
/*************************************************************************************************
												BREAKING
***************************************************************************************************/
.container.break{background: none;padding: 0;margin-top:15px;text-align: center;}
.break-main{padding: 15px;background: #cc0000;color: #fff;font-size: 23px;font-weight: bold;}
.break-main a{color: #fff;font-size: 25px;font-weight: bold;}
.break-small{background: #000;color: #fff; padding: 10px; font-size: 22px;}
.break-outer{height:40px;overflow:hidden;}
/*************************************************************************************************
													Menu
***************************************************************************************************/
.logo a.live.in-menu{display:none;}
.main-nav{padding-bottom:20px;position: relative;}
#menu-wrap{background:#525252;z-index: 99999999;}
#menu, #menu ul { margin: 0; padding: 0; list-style: none; } 	
#menu { width: 100%; }  
#menu:before, #menu:after { content: ""; display: table; }  
#menu:after { clear: both; }  
#menu { zoom:1; }  
#menu a.has-sub:after{content:'+';  margin-left: 5px;}
#menu li { float: left; position: relative; }  
#menu a { float: left; padding: 12px 25px; color: #fff; text-transform: uppercase; text-decoration: none; font-size: 14px; }  
#menu > li:hover > a { color: #000;background-color:#fff; }  
*html #menu li a:hover { /* IE6 only */ color: #f9f9f9;}  
#menu ul { margin: 20px 0 0 0; _margin: 0; /*IE6 only*/ opacity: 0; visibility: hidden; position: absolute; top: 38px; left: 0; z-index: 1;    background: #5a5656; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out;  }
#menu li:hover > ul { opacity: 1; visibility: visible; margin: 0; }  
#menu ul ul { top: 0; left: 150px; margin: 0 0 0 20px; _margin: 0; /*IE6 only*/ -moz-box-shadow: -1px 0 0 rgba(255,255,255,.3); -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3); box-shadow: -1px 0 0 rgba(255,255,255,.3);}  
#menu ul li { float: none; display: block; border: 0; _line-height: 0; /*IE6 only*/  }  
#menu ul li:last-child {   -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;    }#menu ul a {    padding: 10px; width: 130px; _height: 10px; /*IE6 only*/ display: block; white-space: nowrap; float: none; text-transform: none; }  
#menu ul a:hover { background-color: #fff;color:#444 }  
#menu ul li:first-child > a { }  
#menu ul li:first-child > a:after { content: ''; position: absolute; left: 40px; top: -6px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #444; }  
#menu ul ul li:first-child a:after { left: -6px; top: 50%; margin-top: -6px; border-left: 0;	 border-bottom: 6px solid transparent; border-top: 6px solid transparent; border-right: 6px solid #3b3b3b; } 
#menu ul li:first-child a:hover:after { border-bottom-color: #5a5656; }#menu ul ul li:first-child a:hover:after { border-right-color: #0299d3; border-bottom-color: transparent; 	 }  
#menu ul li:last-child > a { -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }  
/*************************************************************************************************
													FRONT PAGE
***************************************************************************************************/	
span.r-text a{font-weight: 600;color: #cc0000;font-size: 15px;text-transform: uppercase;}
.common-top{margin-top:15px;padding-top: 20px;}
.first-row h1{margin:0;font-weight: bold;}
h1{font-size: 25px;font-weight: normal;margin: 0 0 15px 0;line-height: 28px;}
h1 a{color: #525252;font-weight: bold;}
h1 a:hover{color:#F1111D}
.first-thumb{width:60%;margin-right:2%;}
.post-meta{width:38%;}
.content-inner{width:70%;}
.sidebar{width:30%;float:left;min-height:600px;padding-left: 2%;}
.p-tags{font-size:12px;font-weight:400;text-transform:uppercase;padding: 5px 0;}
.p-tags a{font-size: 12px;font-weight: 600;color: #F1111D;}
.related a{font-size: 15px;display: block;padding: 10px 0;border-top:1px solid #ccc;}
.post-info{margin:5px 0;}
a.cat-title{  font-size: 14px; text-transform: uppercase; background: url(images/cat-bg.png) no-repeat left center; padding-left: 20px; margin-bottom: 10px; display: inline-block; font-weight: 600;}
span.time{  font-size: 14px;position:relative;padding:0 20px;}
span.time:before{  content: ""; position: absolute; height: 12px; width: 1px; background-color: #525252; top: 4px; left: 8px;}   
span.time:after{  content: ""; position: absolute; height: 12px; width: 1px; background-color:#525252; top: 4px; right: 8px;} 
.row-thirty.front-top{padding-left: 2%;}
.front-top .news-slide{max-height: 320px;overflow: hidden;}
.front-top img{float:left;margin-right:10px;}
a.tpa, a.tpa2{  font-size: 15px;display: block;line-height: 17px;  overflow: hidden;}
.top-story a.tpa{height:50px;}
.wppp_list .top-story a.tpa{height:auto;}
.more-top-stories .top-story a.tpa{height:auto;}
.top-story{  padding: 10px 0;border-bottom: 1px solid #e3e3e3;}
a.v-more{display: block; color: #F1111D; font-size: 14px; margin-top: 5px;}   
.latest-inner.row-four img{width:100%;display:block;}
.latest-inner.row-four{  width: 23%;float: left;min-height: 170px;margin-bottom: 20px;margin-right: 2.6%;  max-height: 170px;}
.latest-inner.row-four.mr4,  .latest-inner.row-four.mr8{margin-right:0;}
.latest-row a.tpa, a.tpa2{padding: 10px 0 10px 0;}
.tabs-menu { height: 30px; float: left; clear: both; } 
.tabs-menu li {height: 30px;line-height: 30px;float: left;background-color: #e4e4e4;border-right: 1px solid #fff;} 
.tabs-menu li.current { position: relative;background-color: #FC0D1B;z-index: 5; } 
.tabs-menu li a { padding: 10px; text-transform: uppercase; color: #000; text-decoration: none;font-size:14px;}
.tabs-menu .current a { color: #fff; } 
.tab {float: left; margin-bottom: 20px; width: 100%; } 
.tab-content {display: none;padding-top:20px; } 
.tab-content a.tpa{margin-top:10px;}
.tab-content img{width:100%;}
#tab-3 { display: block;   }
ul.sub-links a{font-size: 13px;position: relative;padding: 0 10px; }
ul.sub-links a:after{content: ""; position: absolute; height: 12px; width: 1px; background-color: #9f9f9f; top: 5px; right: 0px;}   
ul.sub-links li.last a:after {width:0;}
.title-meta{border-bottom:1px solid #e3e3e3;margin-bottom:20px;}
.row-half.ent-big{padding-right:2%;}
.row-half.ent-big img{width:100%;margin-bottom:10px;}
.row-half.ent-small{padding-left:2%;}
.row-half.ent-small img{float:left;margin-right:10px;}
.tab .row-four{width:24%;margin-right: 1.3%;}
.tab .row-four.rgt4{margin-right:0;}
a.epa{  font-size: 18px;display: block;line-height: 22px;margin-bottom: 10px;}
a.tpa2{display:none;}
.ent-small-in.es1{padding:0 0 10px 0;border-top:0}
.ent-small-in{padding:10px 0;  border-top: 1px solid #e3e3e3;}  
a.tooltip{display:none;} 
.business-tech .row-half img{}
.cmn2 .row-half ul li a{display: block; height: 35px; line-height: 20px; overflow: hidden; background: url(images/li-bg.png) no-repeat left 4px; padding-left: 20px;}   
.cmn2 .row-half ul li{padding:10px 0;border-bottom:1px solid #e2e2e2}
.cmn2 .row-half ul li.fst4{border:0;}
.row-half.tech{padding-right:2%;}
.row-half.business{padding-left:2%;}
.cat-big{position:relative;} 
.cat-big a.epa{ position: absolute;width: 96%;background: #fff;z-index: 99999;margin-left: auto;margin-right: auto;left: 0;right: 0;padding: 10px;bottom: -10px;}
.videos .row-four img{width:100%;} 
.videos .row-four{width: 23%;margin: 0% 2.6% 3% 0;  min-height: 140px;}
.videos .row-four.sd4, .videos .row-four.sd8{margin-right:0;}
.videos .row-four a.tpa{margin-top: 10px;height: 34px;overflow: hidden;}
.img-holder{position:relative;}
.hover-image{width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0.5; background-position: center center!important; background-image: url(images/play-icon.png); background-repeat: no-repeat;}   
.hover-image:hover{background-color:rgba(0,0,0,0.5)!important;opacity:1;-webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;}    
/*************************************************************************************************
													POST PAGE
***************************************************************************************************/  
.post-content li, .post-content ol{list-style-type: disc;margin-left: 20px;margin-bottom: 20px;}
.mobile-share{display:none;}
.mobile-share img{width:40px;}
.banner{max-width:728px;margin:0 auto;overflow:hidden;}
.banner *{max-width:100%!important}
.video-container { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0;margin-bottom: 20px; } 
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
.post-content{width:78%;  padding-left: 2%;}
#single-post img{margin: 10px 0 15px 0;}
#single-post img.alignleft{margin: 0 10px 10px 0;}
.single-sidebar{width:22%;}
.post-cat a, a.live.in-menu{background-color:#F1111D;display: block;color: #fff;font-size: 12px;background-image:url(images/cat-bg-white.png);background-repeat:no-repeat;margin-bottom: 5px;padding: 2px 0 2px 20px;background-position:5px center;background-size: 12px;} 
.post-cat a:hover{background-color:black;}
.social-share{margin: 20px 0 10px 0;}
.related-posts img{margin-bottom:10px;width: 100%;}
span.date{font-size: 14px; padding: 5px 0 5px 20px; display: block; margin-bottom: 10px; margin: 10px 0 10px 0; background: url(images/time.png) no-repeat left center;}       
.topics{color: #000; font-size: 14px; padding-bottom: 5px; margin-bottom: 10px; border-bottom: 1px solid #ccc;}   
ul.rltd li a{display: block; float: left; font-size: 13px; text-transform: capitalize; position: relative; padding-left: 10px;margin:0 5px 5px 0;}     
ul.rltd li a:before{content:"#";position:absolute;left:0;} 
.related-posts h3{ background: url(images/cat-bg.png) no-repeat left 4px;font-weight: 400; text-transform: uppercase; font-size: 15px; padding-bottom: 5px; border-bottom: 1px solid #ccc; margin-bottom: 15px;padding-left: 20px;} 
.related-posts .row-three { width: 100%; margin-right: 0; margin-bottom: 20px; }     
.bawmrp_manual:nth-child(3n) {margin-right: 0;}  
.related-posts .row-three a{font-size: 15px;}  
/*live blog*/
#single-post div{line-height: 24px;}
.post-content div#status_bar{font-family: 'Open Sans', sans-serif;background-color: rgb(90, 86, 86)!important;}
.post-content div#status_bar p{font-size: 14px;}
.post-content div time{font-family: 'Open Sans', sans-serif;}
.content-inner h1{font-size: 25px;margin: 0 0 10px 0;font-weight: bold;}  
#single-post{font-size:17px;line-height: 24px;}
#single-post p{font-size:inherit;  line-height: 24px;} 
.post-meta-top{  font-size: 13px;padding-bottom: 10px;}
.post-meta-top span{display: block;float: left;padding: 0 15px;position:relative;}
.post-meta-top span.author{padding:0 15px 0 0;}
.post-meta-top span.text-resize:after, .post-meta-top span.author:after{  content: ""; position: absolute; right:0; height: 10px; width: 1px; background-color:#5A5656; top: 8px;} 
.post-meta-top span.fb_comments_count{padding: 0;}
.post-meta-top span strong{color: #F1111D;}
span.text-resize{font-size: 14px;}
span.text-resize a{padding-right:5px;} 
span.comment-count{  background: url(images/comment.png) no-repeat left center; padding: 0 0 0 30px; margin-left: 10px;}   
.before-comment{max-height:230px;clear:both;display:none;}
a.cm-button{display: block; padding: 10px; text-align: center; margin-bottom: 10px; background: #5A5656; color: #fff;} 
.before-comment .etext.center{font-size: 14px; margin-bottom: 10px;} 
section.bottom > .container{background-color:transparent;  padding: 40px 0 0px 0;}
.dont-miss .row-three{  width: 24%; margin-right: 1.3%; margin-bottom: 1.3%; background-color: #fff; position: relative; border: 1px solid #f1f1f1;}   
.dont-miss .row-three img{width:100%;}
.dont-miss .row-three img, .dont-miss .row-three{-webkit-transition: all 0.5s;transition: all 0.5s; -moz-transition:all 0.5s, -o-transition: all 0.5s; }
.dont-miss .row-three.dm4, .dont-miss .row-three.dm8{margin-right:0;}
.dont-miss a.tpa{  padding: 20px 15px;height:105px;font-size: 16px;line-height: 19px;}   
.saturate {-webkit-filter: saturate(1.5);filter:saturate(1.5);-moz-filter:saturate(1.5);-o-filter:saturate(1.5)}
.dont-miss-single a img:hover, a img.saturate:hover{-webkit-filter: none;filter:none; -moz-filter:none;-o-filter:none;}
a.current-cat{position: absolute; top: 5px; background: tomato; font-size: 13px; padding: 2px 5px; color: #fff;} 
.dont-miss .row-three:hover a.current-cat{background-color:#fff;color:tomato;}
.dont-miss .row-three:hover{background-color:tomato}
.dont-miss .row-three:hover a{color:#fff;}
.video-big, .video-small{position:relative;  overflow: hidden;}
.title-meta-bottom{position: absolute; bottom: 0; background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); background: -o-linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); background: -moz-linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); width: 100%; } 
.video-big a.ta, .video-small a.ta{color: #fff;display: block;padding: 80px 20px 30px 20px;font-size: 20px;line-height: 22px;}
.video-big:hover a.ta{padding: 200px 20px 30px 20px;}
.vid-small-container .video-small a.ta{  font-size: 16px;padding: 80px 10px 10px 10px;line-height: 19px;}
.vid-small-container .video-small:hover a.ta{padding: 100px 10px 50px 10px;}  
.video-big a.ex{display: block; margin: 0 20px; margin-bottom: -50px;color:#fff; line-height: 23px;}   
.video-big:hover a.ex{margin-bottom:0;padding-bottom:20px;}
.dm-title{height: 1px; background: #E0E0E0; margin-bottom: 35px; position: relative;} 
.dm-title span{position: absolute; top: -10px; background: #F6F6F6; padding: 0 2.5%; left: 44%; color: #5A5656; font-weight: 600;} 
 /*************************************************************************************************
													SIDE BAR
***************************************************************************************************/	 
.top-story img{  float: left;margin-right: 10px;} 
.widget{margin-bottom:20px;}
/*************************************************************************************************
													COMMON CATEGORY
***************************************************************************************************/ 
.cat-content{ width: 78%; padding-left: 3%; }  
.dont-miss-cat  img{width:100%;margin-bottom:10px;}
.cat-single-story p{font-size:15px;}
.cat-single-story  span.date{padding:0 0 0 20px;margin:0 0 10px 0;font-size: 13px;}
.cat-lead-story{padding-bottom: 15px;}
.cat-single-story{padding:20px 0 15px 0;border-top: 1px solid #ddd;}  
.cat-single-story img{float: left;margin-right: 3%;width: 30%;} 
.cat-single-story-inner{  width: 67%; float: left; max-height: 105px; overflow: hidden;}   
.cat-single-story-inner a{font-size: 17px; display: block; margin-bottom: 10px;} 
.ivision-trigger-next a{background: #00B7FA; display: inline-block; padding: 5px; font-size: 14px; color: #fff; margin-bottom: 20px;} 
.dont-miss-cat{position:relative;}
/*************************************************************************************************
													VIDEO
***************************************************************************************************/ 
#video-stories img{width:100%;}
#video-stories .row-three{width: 31%;margin-right: 3.5%;  height: 215px;}
#video-stories .row-three.sd2{margin-right:0;}
a.vpa{  display: block;margin: 10px 0;}
.video-navigation a{  background: #00B7FA; display: inline-block; padding: 5px; font-size: 14px; color: #fff; margin-bottom: 20px;}   
#video-stories a.cat-title{display: block;}
/*************************************************************************************************
													PAGES
***************************************************************************************************/
#privacy, .font-page{font-size: 14px;}
.search-cse .gs-webResult.gs-result a.gs-title{font-family: "ReporterRegular",sans-serif;color:#5a5657;}
.search-cse .gs-webResult .gs-snippet{  font-family: "ReporterRegular",sans-serif;line-height: 20px!important;margin-top: 10px;font-size: 16px;}
.search-cse .gs-web-image-box img.gs-image, .search-cse .gs-promotion-image-box img.gs-promotion-image{max-width: 150px;max-height: none;}
.search-cse .gs-web-image-box, .search-cse .gs-promotion-image-box{width:auto;}
.search-cse .gs-webResult div.gs-visibleUrl-long, .search-cse .gs-promotion div.gs-visibleUrl-long{font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 15px;}
.search-cse .gsc-results .gsc-cursor-box .gsc-cursor-page{  font-family: 'Open Sans', sans-serif;font-size: 16px;}
#map_canvas #map, #map_canvas {height: 350px;}
#single-post.contact, #single-post.contact p{font-size:14px;}
/*************************************************************************************************
													FORMS
***************************************************************************************************/
input[type="text"], input[type="email"], textarea{background: #f9f9f9; border: 1px solid #e1e1e1; color: #666666; font-size: 15px; font-weight: 300; margin: 0; padding: 10px; width:100%;} 
input[type="submit"]{  background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #5A5656; cursor: pointer; display:block; font-size: 15px; font-weight: 300; margin-bottom: 0; padding: 8px 25px; float: none; transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s; width: auto; border-radius: 0; color: #5A5656; margin: 10px 0; box-shadow: none;}
input[type="submit"]:hover{background-color:#5A5656;color:#fff;}
 /*************************************************************************************************
													FOOTER
***************************************************************************************************/  
.container.ft{padding:0;}
.explore{padding: 15px 20px; background: #5A5656; color: #fff; font-size: 24px; font-weight: 300; } 
.foot-menus{padding:20px;background-color: #E4E4E4;}  
.footer-title.small a{text-transform: uppercase; font-weight: 600; padding-bottom: 5px; border-bottom: 1px solid #ccc; margin-bottom: 10px;font-size: 16px;} 
.foot-menus a{font-size: 14px;display: block;}
.foot-menus .row-four {padding-right: 3%;}
.foot-menus .row-five.last a{padding: 7px 0;border-top: 1px solid #ccc;}
p.copyright{padding: 10px 0; margin: 0; display: block; background: #333131; color: #fff; font-size: 14px;} 
.social a{ display: block; width: 35px; height: 35px; background: url(images/footer-social1.png) no-repeat; float: left; margin-left: 5px; }  
.social a.twitter{background-position: -42px 0px;}
.social a.google{background-position: -84px 0px;}
.social a.utube{background-position: -126px 0px;}
.social a.pinit{ background-position: -166px 0px;}
.social a.rss{background-position: -205px 0px;}
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* image replacement properties */ overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(232, 98, 86, 0.8) url(images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s; } 
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover { -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s; } 
.cd-top.cd-is-visible { visibility: visible; opacity: 1; } .cd-top.cd-fade-out { opacity: .5; } 
.no-touch .cd-top:hover { background-color: #e86256; opacity: 1; } 
.no-transition { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; opacity: 1; visibility: visible; display: none;  		 } 	#menu li:hover >.no-transition { display: block; }
/*************************************************************************************************
													Sliders
***************************************************************************************************/
.owl-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } .owl-carousel{ display: none; position: relative; width: 100%; -ms-touch-action: pan-y; } .owl-carousel .owl-wrapper{ display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px); } .owl-carousel .owl-wrapper-outer{ overflow: hidden; position: relative; width: 100%; } .owl-carousel .owl-wrapper-outer.autoHeight{ -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }  .owl-carousel .owl-item{ float: left; } .owl-controls .owl-page, .owl-controls .owl-buttons div{ cursor: pointer; } .owl-controls { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } .grabbing { cursor:url(grabbing.png) 8 8, move; } .owl-carousel  .owl-wrapper, .owl-carousel  .owl-item{ -webkit-backface-visibility: hidden; -moz-backface-visibility:    hidden; -ms-backface-visibility:     hidden; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); } 
.owl-controls.clickable{position:relative;}
.owl-prev, .owl-next{position: absolute; top: -60px; width: 20px; height: 50px; text-indent: -99999px; background: url(images/owl-button-new.png) no-repeat;} .owl-prev{left: -15px;background-position: -23px 0px;}
.owl-next{right: -15px;}
#owl-example .item img{ display: block; width: 100%; height: auto; } 
#bar{ width: 0%; max-width: 100%; height: 4px; background: #7fc242; } 
#progressBar{ width: 100%; background: #EDEDED; } 
/*************************************************************************************************
													Sidebar
***************************************************************************************************/
.owl-carousel a.mtext{ background-color: #202830; display: block; color: #fff; padding: 10px; height: 75px; overflow: hidden; line-height: 20px; text-align: center;} 
.fb-side *{width: 100% !important;}
 /*************************************************************************************************
													RESPONSIVE
***************************************************************************************************/  
@media only screen and ( max-width: 1300px ){
.logo-hide{margin-left:10px;}	
}
@media only screen and ( max-width: 1250px ){
#menu li.last{display:none;}
}
@media only screen and (min-width: 1024px) {
.cd-top { height: 60px; width: 60px; right: 30px; bottom: 30px; }
}
@media only screen and ( max-width: 1140px ){
.container{padding: 0 2%;}
#menu a{padding: 12px 18px;}
.container.common-top{padding:15px 2% 0 2%;}
.container.main-nav{padding:0 2% 20px 2%;}
}
@media only screen and ( max-width: 1040px ){
#menu a {padding: 12px 12px;}
}
@media only screen and (max-width: 970px){
.first-thumb {width: 100%;margin-right: 0;float: none;}
.post-meta {width: 100%;float:none;}
.first-row .row-seventy{width:60%;}
.row-thirty.front-top {width:40%;padding-left: 2%;}
.front-top .news-slide {max-height: 600px;}
.content-inner {width: 65%;}
.sidebar {width: 35%;}
.dont-miss-top .row-th{height:auto}	
}
@media only screen and (max-width: 920px){
.logo-hide{display:none!important}
.dont-miss .row-three { width: 32%; margin-right: 2%; margin-bottom: 2%;} 
.dont-miss .row-three.dm4{  margin-right: 2%;}
.dont-miss .row-three.dm3, .dont-miss .row-three.dm6{margin-right:0;}
}
@media only screen and (max-width: 870px){
#menu a {padding: 12px 8px;}
}
@media only screen and (max-width: 800px){
#menu a {padding: 12px 6px;}
}
@media only screen and (max-width: 768px){
.cd-top { right: 20px; bottom: 20px; }
#menu-wrap { position: relative; } 
#menu-wrap * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 
#menu-trigger {display: block; height: 40px; line-height: 40px; cursor: pointer; padding: 1px 0 0 20px; color: #fafafa; font-weight: bold; background-color: #A00202; font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: uppercase; font-size: 15px;}   
#menu-trigger:before { display: block; content: ''; position: absolute; height: 3px; width: 22px; border-top: 2px solid #ffffff; right: 20px; top: 26px; }  
#menu-trigger:after{ display: block; content: ''; position: absolute; height: 7px; width: 22px; border-top: 2px solid #ffffff; border-bottom: 2px solid #ffffff; right: 20px; top: 16px; } 
#menu {margin: 0; padding: 10px; position: absolute; top: 40px; width: 100%; z-index: 1; background-color:#F9F9F9; display: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;border-bottom: 1px solid #ccc;overflow-y: scroll;overflow-x: hidden;height: 100vh;} 
#menu:after { content: ''; position: absolute; left: 25px; top: -8px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #fff; }	 
#menu ul { position: static; visibility: visible; opacity: 1; margin: 0; background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;} 
#menu ul ul { margin: 0 0 0 20px !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;} 
#menu li { position: static; display: block; float: none; border: 0; margin: 5px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;} 
#menu ul li{ margin-left: 20px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;} 
#menu a{  display: block; float: none; padding: 5px; color: #080000; border-bottom: 1px solid #ccc;}     
#menu li ul li a{border:0;padding: 4px 0;}
#menu a:hover{ color: #fafafa; }	 
#menu ul a{ padding: 0; width: auto;		 } 
#menu ul a:hover{ background: none;	 } 
#menu ul li:first-child a:after, #menu ul ul li:first-child a:after { border: 0; }	
.row-half.lg{width:60%;}
.row-half.t-right{width:40%;}
.first-row .row-seventy {width: 100%;}
.post-meta {margin-top: 15px;}
.row-thirty.front-top {width: 100%;padding-left: 0;  margin-top: 20px;}
.front-top .news-slide {max-height: 320px;}
.content-inner, .sidebar{width: 100%;  padding: 0;}
.owl-carousel img{width:100%;}
.foot-menus .row-eighty{width:100%;float:none;;}
.foot-menus .row-five { width: 100%; float: none; text-align: center; clear: both; padding-top: 30px; } 
.post-content, .single-sidebar { width: 100%; padding-left: 0; float:none;}   
.dont-miss .row-three {width: 48%;margin-right: 4%;margin-bottom: 4%;}
.dont-miss .row-three.dm3{margin-right: 4%;}
.dont-miss .row-three.dm2, .dont-miss .row-three.dm4, .dont-miss .row-three.dm6{margin-right:0;}
.dont-miss-top img{  float: none;margin-right: 0;margin-bottom: 10px;}
.owl-buttons{display:none;}
.cat-content {width:100%;float:none;padding-left: 0%;}
.header.clear.mtop15{margin-top:0;}	
.contact .row-half, .contact .row-three{width:100%;float:none;margin-bottom: 20px;}
.break-main{font-size:22px;}
.break-small{font-size:17px;}
.break-outer {height:60px;}
.related-posts .row-three{min-height:10px!important;max-height:none!important;}
.mobile-share{display:block;}
}
@media all and (max-width: 670px){
.top-links{display:none;}
.container.head-meta {padding-top:0;}
.logo { padding: 15px 0; position: relative; } 
.logo img{width: 250px;}
.row-half.t-right{display:none;}
.row-half.lg {width:100%;float:none;text-align:center;}
.latest-inner.row-four {width: 49%;max-height: none;margin-right:2%;}
.latest-inner.row-four.mr2, .latest-inner.row-four.mr6 {margin-right:0;}
a.tpa2{display:block;}
.tab .row-four {width: 49%;margin-right: 2%;}
.tab .row-four.rgt2{margin-right:0;}
.row-half.ent-big,.row-half.ent-small{padding-right: 0;padding-left: 0;width: 100%;float:none;}
.cmn2 .row-half{width:100%;}
.row-half.business{padding:0;}
.videos .row-four {width: 49%;margin: 0% 2% 3% 0;}
.videos .row-four.sd2, .videos .row-four.sd6{margin-right:0;}
.foot-menus .row-four {width:50%}
.foot-menus .row-four .row{margin-bottom:15px;}
.explore > .footer-title{  width: 100%;text-align: center;float:none;}
.explore .social.right{float:none;width:100%;text-align:center;margin-top: 10px;}
.explore .social a{display:inline-block;float:none;}
.explore {padding: 5px;}
.logo a.live.in-menu { display:block; width: 70px; margin: 10px auto 0 auto; padding: 3px 2px 2px 10px; font-weight: 600; letter-spacing: 1px; } 
.container.common-top { padding: 15px 4% 0 4%; } 
.container {padding: 0 4%;}
.container.main-nav {padding: 0 4% 20px 4%;}
.container.head-meta{height:90px!important;}	
.sub-links{float:none;  text-align: center;width:100%;}
.title-meta{text-align:center;}
}
@media all and (max-width: 590px){
#video-stories .row-three {width: 48%;margin-right: 4%;height: 215px;}
#video-stories .row-three.sd2, #video-stories .row-three.sd1{margin-right: 4%;}
#video-stories .row-three.ad2, #video-stories .row-three.ad4, #video-stories .row-three.ad6, #video-stories .row-three.ad8, #video-stories .row-three.ad10, #video-stories .row-three.ad12, #video-stories .row-three.ad14, #video-stories .row-three.ad16, #video-stories .row-three.ad18, #video-stories .row-three.ad20{margin-right:0;}
.bawmrp_manual:nth-child(3n) {margin-right: 4%;}
.bawmrp_manual:nth-child(2n){margin-right:0;}
}
@media all and (max-width: 520px){
.dont-miss .row-three { width: 100%; margin-right: 0; border:0; } 
.cat-single-story img { float: none; margin-right: 0; width: 100%; margin-bottom: 10px; } 
.cat-single-story-inner { width: 100%; float: none; max-height: none; overflow: hidden; } 
.mob-d{display:block;}
.desk-d{display:none;}
}
@media all and (max-width: 420px){
#video-stories .row-three { width: 100%; margin-right: 0; height: auto; margin-bottom: 10px; } 
.related-posts .row-three {width: 100%;margin-right: 0;float: none;margin-bottom: 15px;}
}