
	/*fix for 5th column links in FH dropdown - unbold*/
	/*header #megaMenu .menuItems .menuCol .menuFH h3 a.pheadlink {
	font-weight: normal;
	font-size: 12px;
	}*/

	/*temporary fix to add marginabove footer for signin pages*/
	body#signin div#footerInner, body#pgSignIn div#footerInner {margin-top:60px;}
	/*end*/

	div#footerInner {width: auto;}
	div#footerInner a {text-decoration: none; color: #545454; opacity: 1;}
	div#footerInner a:hover {transition: all 0.5s ease; opacity: 0.7; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
	div#footerInner div#footerBody {padding: 0; float: none;}
	div#footerInner #footerBottom {display: none;}
	div#footerInner #footerTop {float: none; border-bottom: 0px; border-top: 1px; padding: 0;}
	div#footerInner #footerTop ul li, div#footerInner #footerBottom ul, div#footerInner #footerBottom ul li {font-family: "avalonregular", arial, helvetica, sans-serif;}

	div#footerInner #footerTop .footerWrap, .footerBottom {letter-spacing: 0.03em; width: auto; display: block; position: relative; color: #545454; font-family: "avalonregular", arial, helvetica, sans-serif; background: #f8f8f8; }
	div#footerInner #footerTop .footerCols a, .footerCols a:visited {color: #545454; text-decoration: none;}
	/*div#footerInner #footerTop .footerWrap a:hover {color: #b8b8b8;}*/

	div#footerInner #footerTop .footerHead {font-size:14px; padding: 13px 20px 12px;position: relative; font-family: "avalonbold", arial, helvetica, sans-serif;}
	div#footerInner #footerTop .footerHead ul li {font-size:14px; text-transform: none; color: #545454; font-family: "avalonbold", arial, helvetica, sans-serif; display: inline-block; vertical-align: middle;}

	/*EMAIL SIGNUP*/
	div#footerInner #footerTop .footerHead span.email_signup {/*display: inline-block; text-align:left;*/ float: left; margin: 5px 0 0 0; }
	div#footerInner #footerTop .footerHead span.email_signup a,
		div#footerInner #footerTop .footerHead span.email_signup a:visited {/*color: #212121;*/ text-decoration: none; font-size: 14px; font-family: "avalonbold", arial, helvetica, sans-serif;}
	div#footerInner #footerTop .footerHead span.email_signup a {background: #545454;color: #ffffff;padding: 5px 8px 6px;margin: 0 0 0 2px;}
	
	/*div#footerInner #footerTop .footerHead span.email_signup_tablet a:hover,
		div#footerInner .tab-mob-only span.email_signup_tablet a:hover {color: #b8b8b8;}*/
	
	/*SOCIAL*/
	div#footerInner #footerTop .footerHead .social {float: right; margin-bottom: 10px;}
	div#footerInner #footerTop .footerHead .social li {margin-left: 8px;}
	div#footerInner #footerTop .footerHead .social span {display: none;}

	
	div#footerInner #footerTop .footerCols {width: auto; padding: 10px 20px; border-top: 1px solid #dadada; clear: both;position: relative;}
	div#footerInner #footerTop .footerCols .col {text-align: left; display: inline-block; *zoom: 1; *display: inline; vertical-align: top; font-size: 14px; width: 15%; padding-right: 5%;}
	div#footerInner #footerTop .footerCols .col.about {padding-right: 0;}
	div#footerInner #footerTop .footerCols .col ul {padding-left: 0; margin: 10px 0;}
	div#footerInner #footerTop .footerCols .col li {list-style: none; padding: 0; margin:0 0 14px 0; display: block; text-transform:none; font-family: "avalonregular", arial, helvetica, sans-serif;}
	div#footerInner #footerTop .footerCols .col li {font-size: 14px; color: #545454;}
	div#footerInner #footerTop .footerCols .col li a {color: #545454;}
	div#footerInner #footerTop .footerCols .col li img {display: none;}
	div#footerInner #footerTop .footerCols .col li.heading {font-family: "avalonbold", arial, helvetica, sans-serif; margin-bottom: 20px;}
	div#footerInner #footerTop .footerCols .colWrap {width: 100%;}
	div#footerInner #footerTop .footerCols span.email_signup_tablet {display: none;}

	.sprite {background: url('//images.selfridges.com/is/image/selfridges/141010-icon-social-sprite?qlt=68,1&fmt=png-alpha&scl=1') no-repeat top left; width: 23px; height: 24px;} 
	.sprite a {width:24px; height:24px; text-indent:-99999px; display:block;}
	.sprite.social-sprite-instagram {background-position: 0px 0px !important;} 
	.sprite.social-sprite-facebook {background-position: -24px 0px !important;} 
	.sprite.social-sprite-twitter {background-position: -48px 0px !important;} 
	.sprite.social-sprite-pinterest {background-position: -72px 0px !important;} 
	.sprite.social-sprite-gplus {background-position: -96px 0px !important;} 
	.sprite.social-sprite-youtube {background-position: -120px 0px !important;} 
	.sprite.social-sprite-weibo {background-position: -144px 0px !important;} 

	/* FOOTER BOTTOM */
	div#footerInner #footerTop .footerBottom {font-family: arial, helvetica, sans-serif; min-height: 40px; padding: 10px 20px; background: #e7e7e7; clear: both; font-size: 10px; vertical-align: top; position: relative;}
	div#footerInner #footerTop .footerBottom ul li {text-transform: none; font-family: arial, helvetica, sans-serif; font-size: 12px; padding-left: 10px;}
	div#footerInner #footerTop .footerBottom .footer-left {float: left; padding-top: 10px;}
	div#footerInner #footerTop .footerBottom .awards span {font-family: "avalonbold", arial, helvetica, sans-serif;}
	div#footerInner #footerTop .footerBottom .copyright {float: right; padding: 0; vertical-align: top; text-align: right; color: #9c9c9c;}
	div#footerInner #footerTop .footerBottom .copyright span { font-weight: bold; vertical-align: top; display: inline-block; padding:2px 0 0 10px;}
	div#footerInner #footerTop .footerBottom .reg {text-align: right; line-height: 13px; margin-top: 3px;}
	div#footerInner #footerTop .footerBottom .logo {display: inline-block;}
	/*div#footerInner #footerTop .tab-mob-only {display: none;}*/

	.awards {display: block; padding: 14px; text-align: center; border-top: 1px solid #dadada; font-size: 14px;}
	.awards span {font-family: "avalonbold", arial, helvetica, sans-serif; }
	.global-links {display: inline-block; margin-left: 5px; vertical-align: middle; height: 22px;font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: bold;}

	
	@media all and (max-width: 1020px) {
		div#footerInner #footerTop .footerCols {padding: 10px 20px 0;}
		div#footerInner #footerTop .footerCols .colWrap {text-align: left; margin: 0 auto; /*padding-bottom: 35px;*/}

		div#footerInner #footerTop .footerCols .col {width: auto; padding-right: 40px;}
		div#footerInner #footerTop .footerCols .col.international {padding-right: 0;}
		div#footerInner #footerTop .footerCols .col.about {width:auto; clear: both; display: block;}
		div#footerInner #footerTop .footerCols .col.about li.heading {display: block;}
		div#footerInner #footerTop .footerCols .col.about li {display: inline-block; padding-right: 15px;}
		/*div#footerInner #footerTop .tab-mob-only span.email_signup_tablet {display: inline-block; margin-right: 20px;}
		div#footerInner #footerTop .tab-mob-only {display: inline-block; position: absolute; bottom: 15px; left: 20px;}*/
		div#footerInner #footerTop .footerHead .social li.heading {display: none;}


		/*.footerCols .col.social {clear: both; display: block; width: auto; text-align: right; padding-top: 5px; border-top: 1px solid #dadada;}*/
		div#footerInner #footerTop .footerCols .col li img {display: inline-block;}
		div#footerInner #footerTop .footerCols .col li span {display: none;}
		div#footerInner #footerTop .footerBottom .copyright {margin-top: -10px;}
		.global-links {float: right; text-align: right;margin-top: 8px;}
		div#footerInner #footerTop .footerBottom .logo {padding-top: 20px;}
		div#footerInner #footerTop .footerBottom .footer-left {float: none; padding-top: 0px;}
		div#footerInner #footerTop .footerBottom {min-height: 60px;}
		.not-tablet {display: none;}

	}
	/*@media all and (max-width: 720px) {
		.footerCols .col {width: 24%; padding-right: 0;}
		.footerCols .col.social {clear: both; display: block; width: auto;}
		.footerCols .col.social li {display: inline-block; margin: 0 20px 0 0;}
	}*/