#saleBanner {
    max-width: 2000px;
    position: relative;
    font-family: 'avalonbold', 'Century Gothic', Arial, sans-serif !important;
    font-size: 1.5em;
    line-height: 1.5em;
}

#saleBanner.gen-sale-banner-bg-1 {
    background: url("http://images.selfridges.com/is/image/selfridges/161225-wintersale-generic-phase1-2000?scl=1&qlt=89,1&fmt=gif") no-repeat center center #f6323e;
}

#saleBanner.gen-sale-banner-bg-2 {
    background: url("http://images.selfridges.com/is/image/selfridges/161225-wintersale-generic-phase2-2000?scl=1&qlt=89,1&fmt=gif") no-repeat center center #f6323e;
}

#saleBanner.bags-sale-banner-bg-1 {
    background: url("http://images.selfridges.com/is/image/selfridges/161225-wintersale-bags-phase1-2000?scl=1&qlt=89,1&fmt=gif") no-repeat center center #f6323e;
}

#saleBanner a {
    color: #fff;
    text-decoration: none;
}

#saleBanner,
#saleBanner div {
    margin: 0 auto;
    width: 100%;
    height: 232px;
}

#saleBanner ul.links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    margin-left: 170px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#saleBanner ul a {
    color: #fff;
    text-decoration: none;
    padding: 0;
    width: 100%;
    display: block;
    background-color: #f6323e;
}

#saleBanner ul a:hover {
    /* background-color: #fd3cb5; */
    text-decoration: underline;
}

#saleBanner .logoLink {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -350px;
    width: 520px;
    height: 232px;
}

#saleBanner .mob {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

@media all and (max-width: 720px) {
    #saleBanner {
        background-image: none!important;
        max-width: 720px;
        height: 60px;
    }
    #saleBanner ul.links,
    #saleBanner .logoLink {
        display: none;
    }
    #saleBanner .mob {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -75px;
        display: block;
        font-size: 2em;
    }
}
