#navTop, #cabecera #cabeceraRC, #menu, .cabeceras, #leftColumn, #rightColumn, #breadcrumb, #botonera {
	display: none !important;
}

#html {
	margin: 0px !important;
	width: 100%;
}

#cabecera{
	margin-bottom: 30px;
}