.ad-container > div,
.ad-container {
    display: inline;
    margin: 0 auto;
    text-align: center;
}

#articles .ad_300x250 {
    margin-bottom: 10px;
    display: block;
    height: auto!important;
}

.ad_1200x250 div div {
    display: block!important;
    position: relative;
    z-index: 500;
    overflow: visible;
    width: 1200px;
    height: 250px;
    margin: 0 auto;
}


.ad_1200x250 div iframe {
    height: 100%;
}

.top-branding {
    position:relative;
    width:1200px;
    margin:0 auto;
}

.top-branding .ad-container.ad_120x600:first-child,
.top-branding .ad-container.ad_120x601:first-child {
    position:absolute;
    top:0;
    left:-120px;
}

.top-branding .ad-container.ad_120x601:nth-child(2),
.top-branding .ad-container.ad_120x600:nth-child(2) {
    position:absolute;
    top:0;
    right:-120px;
}

.heading-now-topics{
    padding-bottom: 8px;
    margin-bottom: 6px;
}
.entry-meta .author-name{
    color:#3201a3;
}
.entry-meta .author-name-slider {
    color:#fff;

}

.important-topics .dl-nav dd a {
    color:#fff;
}
.important-topics .dl-nav {
    background-color:#222;
}
.important-topics .dl-nav dd:not(:last-child) {
    border-bottom:1px solid #fff;
}
.min-height-2-rows {
    min-height: 47px;
}
.min-height-3-rows > h2 {
    min-height: 61px;
}
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
    font-size:1.75rem !important;
}


.nav-link-tab{text-decoration:none;color:#888;}
.nav-link-tab{display:block;padding:.5em 0em;}
.nav-link-tab{border-color:#eaeaea #eaeaea #ddd}
.nav-link-tab:not(.disabled):not(.tag) {color: #222;}

span.cross-btn{
    background-color: #FFFFFF;
    color: #222222;
    display: block;
    position: absolute;
    z-index: 1;
    width: 72px;
    height: 18px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #222222;
    font-size: 9px;
    line-height: 18px;
    vertical-align: middle;
    font-weight:bold;
    left:2px;
    bottom:2px;
}