@import url('iberia-fonts_acc.css');


/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.AACSSLoaded{font-family: 'IBERIA';}

/*
	GRID
 */
.clearfix { /**zoom: 1;*/ }
.clearfix:before,
.clearfix:after { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }

.row { /*margin-left: -10px;*/ /**zoom: 1;*/ }
.row.aln-center{ margin: 0 auto; width: 1002px; }
.row { /*margin-left: -10px;*/ /**zoom: 1;*/position:relative; }
.row:before, .row:after { display: table; content: ""; line-height: 0; }
.row:after { clear: both; }
[class*="columns"] { float: left; min-height: 1px; margin-left: 10px; }
[class*="columns"]:first-child { margin-left: 0; }
[class*="columns"].padding-left > *{ padding-left: 20px; }
[class*="columns"].padding-right > *{ padding-right: 20px; }
[class*="columns"].padding-x > *{ padding-right: 20px; padding-left: 20px; }

[class*="columns"].h-pdg-x20 > *{ padding-right: 20px; padding-left: 20px; }
[class*="columns"].padding-x-25 > *{ padding-right: 25px; padding-left: 25px; }
[class*="columns"].h-pdg-l25 > *,
[class*="columns"].padding-l-25 > *{ padding-left: 25px; }
[class*="columns"].h-pdg-r25 > *,
[class*="columns"].padding-r-25 > *{ padding-right: 25px; }
[class*="columns"].h-pdg-r25{ padding-right: 0;}
[class*="columns"].h-pdg-r25 > *{ padding-right: 25px; }
[class*="columns"].padding-y-25 > *{ padding-top: 25px; padding-bottom: 25px; }
[class*="columns"].padding-t-25 > *{ padding-top: 25px; }
[class*="columns"].padding-b-25 > *{ padding-bottom: 25px; }

[class*="columns"].h-mgn-l25{ margin: 0 0 0 10px;}
[class*="columns"].h-mgn-l25:first-child{ margin: 0;}
[class*="columns"].h-mgn-l25 > * { margin-left: 25px; }
[class*="columns"].h-mgn-l35 > * { margin-left: 35px; }
[class*="columns"].h-mgn-r25{ margin: 0 0 0 10px;}
[class*="columns"].h-mgn-r25:first-child{ margin: 0;}
[class*="columns"].h-mgn-r25 > * { margin-right: 25px; }
[class*="columns"].h-mgn-r30{ margin: 0 0 0 10px;}
[class*="columns"].h-mgn-r30:first-child{ margin: 0;}
[class*="columns"].h-mgn-r30 > * { margin-right: 30px; }
[class*="columns"].h-mgn-r35 > * { margin-right: 35px; }
[class*="columns"].h-mgn-x20{ margin: 0 0 0 10px;}
[class*="columns"].h-mgn-x20:first-child{ margin: 0;}
[class*="columns"].h-mgn-x20 > * { margin-left: 20px; margin-right: 20px; }
[class*="columns"].h-mgn-x25{ margin: 0 0 0 10px;}
[class*="columns"].h-mgn-x25:first-child{ margin: 0;}
[class*="columns"].h-mgn-x25 > * { margin-left: 25px; margin-right: 25px; }
[class*="columns"].h-mgn-x25 > hr.full-hr { margin-left: 0; margin-right: 0; }

[class*="columns"].margin-right > *{ margin-right: 25px; }
[class*="columns"].margin-x > *{ margin-left: 25px; margin-right: 25px; }
[class*="columns"].margin-x > .no-margin-x{ margin-left: 0; margin-right: 0;}

.column-header{ padding: 27px 0 13px;}
.column-header img{ margin:12px 0 0;}
.column-header [class*="heading"]{ display: block;}
.column-main{ min-height: 104px;}
.column-main .heading-5{ display: block; margin: 0 0 8px;}
.column-footer{ padding: 0 0 30px;}
.column-footer .btn{ margin: 0 0 5px;}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container { width: 1001.9999600000001px; }
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container { width: 1001.9999600000001px; }

.columns12 { width: 1001.9999600000001px; }
.columns11 { width: 917.66663px; }
.columns10 { width: 833.3333px; }
.columns9 { width: 748.9999700000001px; }
.columns9.h-w738 { width: 738px; }
.columns9.h-w738 .columns3{ width: 239px;}
.columns9.h-w728 { width: 728px; }
.columns9.h-w728 .columns3{width: 236px;}
.columns8 { width: 664.66664px; }
.adapted-columns .columns9 { width: 678px;margin-left:0; }
.slide-down-collapsed.adapted-columns {margin-top:0;float:none;margin-left:0;}
.adapted-columns .content-inner {width:auto;padding-bottom:0;}
.columns7 { width: 580.33331px; }
.columns6 { width: 495.99998000000005px; }
.columns5 { width: 411.66665px; }
.columns4 { width: 327.33332px; }
.columns3 { width: 242.99999000000003px; }
.columns2 { width: 158.66666px; }
.columns1 { width: 74.33333px; }
.offset12 { margin-left: 1021.9999600000001px; }
.offset11 { margin-left: 937.66663px; }
.offset10 { margin-left: 853.3333px; }
.offset9 { margin-left: 768.9999700000001px; }
.offset8 { margin-left: 684.66664px; }
.offset7 { margin-left: 600.33331px; }
.offset6 { margin-left: 515.99998px; }
.offset5 { margin-left: 431.66665px; }
.offset4 { margin-left: 347.33332px; }
.offset3 { margin-left: 262.99999px; }
.offset2 { margin-left: 178.66666px; }
.offset1 { margin-left: 94.33333px; }

.row-fluid { width: 100%; /**zoom: 1;*/ }
.row-fluid:before,
.row-fluid:after { display: table; content: ""; line-height: 0; }
.row-fluid:after { clear: both; }
.row-fluid [class*="columns"] { display: block; width: 100%; min-height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; margin-left: 0.9980040318564483%; }
.row-fluid [class*="columns"]:first-child { margin-left: 0; }
.row-fluid .controls-row [class*="columns"] + [class*="columns"] { margin-left: 0.9980040318564483%; }
.row-fluid .columns12 { width: 100%; }
.row-fluid .columns11 { width: 91.58349966401195%;}
.row-fluid .columns10 { width: 83.16699932802392%;}
.row-fluid .columns9 { width: 74.75049899203589%;}
.row-fluid .columns8 { width: 66.33399865604784%;}
.row-fluid .columns7 { width: 57.91749832005981%;}
.row-fluid .columns6 { width: 49.50099798407177%;}
.row-fluid .columns5 { width: 41.08449764808373%;}
.row-fluid .columns4 { width: 32.6679973120957%; }
.row-fluid .columns3 { width: 24.251496976107664%;}
.row-fluid .columns2 { width: 15.834996640119625%;}
.row-fluid .columns1 { width: 7.418496304131589%; }
.row-fluid .offset12 { margin-left: 101.99600806371289%;}
.row-fluid .offset12:first-child { margin-left: 100.99800403185645%;}
.row-fluid .offset11 { margin-left: 93.57950772772485%;}
.row-fluid .offset11:first-child { margin-left: 92.5815036958684%;}
.row-fluid .offset10 { margin-left: 85.16300739173681%;}
.row-fluid .offset10:first-child { margin-left: 84.16500335988037%;}
.row-fluid .offset9 { margin-left: 76.74650705574878%;}
.row-fluid .offset9:first-child { margin-left: 75.74850302389234%; }
.row-fluid .offset8 { margin-left: 68.33000671976073%;}
.row-fluid .offset8:first-child { margin-left: 67.33200268790429%; }
.row-fluid .offset7 { margin-left: 59.91350638377271%;}
.row-fluid .offset7:first-child { margin-left: 58.91550235191626%; }
.row-fluid .offset6 { margin-left: 51.49700604778467%;}
.row-fluid .offset6:first-child { margin-left: 50.49900201592822%; }
.row-fluid .offset5 { margin-left: 43.08050571179663%;}
.row-fluid .offset5:first-child { margin-left: 42.08250167994018%; }
.row-fluid .offset4 { margin-left: 34.6640053758086%; }

.row-fluid .offset4:first-child { margin-left: 33.666001343952146%; }
.row-fluid .offset3 { margin-left: 26.24750503982056%;}
.row-fluid .offset3:first-child { margin-left: 25.249501007964113%; }
.row-fluid .offset2 { margin-left: 17.831004703832523%;}
.row-fluid .offset2:first-child { margin-left: 16.833000671976073%; }
.row-fluid .offset1 { margin-left: 9.414504367844485%; }
.row-fluid .offset1:first-child { margin-left: 8.416500335988037%; }
[class*="columns"].hide,
.row-fluid [class*="columns"].hide { display: none; }
[class*="columns"].pull-right,
.row-fluid [class*="columns"].pull-right { float: right; }

.row.striped > [class*="columns"]{ border-right: 1px solid #e8e8e8; text-align: center; display: table-cell!important; float: none;}
.row.striped > [class*="columns"]:last-child{ border: none; }

.row.row-img{text-align: center; }
.row.row-img img{ border: 1px solid   #777;}
.row-fluid .columns3.nomargin { margin-left:0; }


/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid, .block-grid li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.block-grid { display: block; overflow: hidden; padding: 0; }
.block-grid > li { display: block; height: auto; float: left; }
.block-grid.one-up { margin: 0; }
.block-grid.one-up > li { width: 100%; padding: 0 0 15px; }
.block-grid.two-up { margin: 0 -15px; }
.block-grid.two-up > li { width: 50%; padding: 0 15px 15px; }
.block-grid.two-up > li:nth-child(2n+1) { clear: both; }
.block-grid.three-up { margin: 0 -12px; }
.block-grid.three-up > li { width: 33.33333%; padding: 0 12px 12px; }
.block-grid.three-up > li:nth-child(3n+1) { clear: both; }
.block-grid.four-up { margin: 0 -10px; }
.block-grid.four-up > li { width: 25%; padding: 0 10px 10px; }
.block-grid.four-up > li:nth-child(4n+1) { clear: both; }
.block-grid.five-up { margin: 0 -8px; }
.block-grid.five-up > li { width: 20%; padding: 0 8px 8px; }
.block-grid.five-up > li:nth-child(5n+1) { clear: both; }
.block-grid.six-up { margin: 0 -8px; }
.block-grid.six-up > li { width: 16.66667%; padding: 0 8px 8px; }
.block-grid.six-up > li:nth-child(6n+1) { clear: both; }
.block-grid.seven-up { margin: 0 -8px; }
.block-grid.seven-up > li { width: 14.28571%; padding: 0 8px 8px; }
.block-grid.seven-up > li:nth-child(7n+1) { clear: both; }
.block-grid.eight-up { margin: 0 -8px; }
.block-grid.eight-up > li { width: 12.5%; padding: 0 8px 8px; }
.block-grid.eight-up > li:nth-child(8n+1) { clear: both; }
.block-grid.nine-up { margin: 0 -8px; }
.block-grid.nine-up > li { width: 11.11111%; padding: 0 8px 8px; }
.block-grid.nine-up > li:nth-child(9n+1) { clear: both; }
.block-grid.ten-up { margin: 0 -8px; }
.block-grid.ten-up > li { width: 10%; padding: 0 8px 8px; }
.block-grid.ten-up > li:nth-child(10n+1) { clear: both; }
.block-grid.eleven-up { margin: 0 -8px; }
.block-grid.eleven-up > li { width: 9.09091%; padding: 0 8px 8px; }
.block-grid.eleven-up > li:nth-child(11n+1) { clear: both; }
.block-grid.twelve-up { margin: 0 -8px; }
.block-grid.twelve-up > li { width: 8.33333%; padding: 0 8px 8px; }
.block-grid.twelve-up > li:nth-child(12n+1) { clear: both; }

/* Layout */
* html {height:100%;}
html {width:100%;height:100%;-webkit-font-smoothing: antialiased;}
body {background:#eee; color: #333; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:62.5%;height:100%; color: #333; min-width:1002px;}
body {background:  #eeeeee;} /* Contraste */
em{ font-style: italic; }
em.small{ font-size: .889em;}
p {font-size:1.3em;line-height:1.154em; padding-bottom: 10px; }
p.no-padding{ padding-bottom: 0;}
#pretty-alert-generic-message p{ padding-right: 50px;}
strong{ font-weight: bold;}
.paragraph-13 {font-size:1.3em; line-height: 1.3em; }
p.paragraph-13{ line-height: 1.45em;}
ul.paragraph-13{ line-height: 1.35em;}
a {text-decoration:none; /*outline:0; necesita un outline por accesibilidad*/}
input {font-family:Verdana, Arial, Helvetica, sans-serif;}
input[type="submit"] {cursor:pointer;}
input[type="text"],
input[type="password"] {background-color: #fff;border: none;color: #363636;font-family: Verdana,Arial,Helvetica,sans-serif;/*height: 18px;*/padding: 5px;font-size:1.3em;border:1px solid   #777;-webkit-border-radius: inherit;-webkit-appearance:none}
input[type=text]:focus,
input[type="password"]:focus,
textarea:focus {box-shadow: 0 0 3px 2px #5B9DD9, 0 0 0 1px #5B9DD9;}

input[type="text"],
input[type="password"]{background-image:none}

input[type="text"].like-select { background: #F0EFEF; border-color:#F0EFEF;}
.booking-form .form-text.maxlength-5 {width:3.2em;}
.booking-form .form-text.maxlength-6 {width:4em;}
.change-route .open-calendar input[type="text"] {width:10em;}
input:disabled {color:#3b3b3b;}
input::-ms-clear {display: none;}
input.disabled,
input[disabled="disabled"],
input.readonly,
select.readonly
.newListSelected.disabled,
.newListSelected.readonly{  opacity: .5; -ms-filter: "alpha(opacity=50)";}
textarea {background-color: #fff; color: #363636;font-family: Verdana,Arial,Helvetica,sans-serif; padding: 5px;font-size:1.3em;border:1px solid   #777;}
label {font-size:1.5em;}
label.s-label { font-size:1.2em; float:left; margin-top:.4em; }
label.small-label { font-size:1em; }
label.label-s-check {font-size:1.3em; float:left; margin-top:4px; }
.type-select input[type="text"] {border-color:#F0EFEF;background:#F0EFEF;}
hr, .hr { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #d4d4d4; border-image: none; border-style: solid; border-width: 1px 0 0; clear: both; height: 0;}
hr.margin-x, .hr.margin-x  { margin-left: 25px; margin-right: 25px; }
.border-red-top {border-top:1px solid #B80F21;padding-top: 10px;}
.aln-right{ text-align: right;}
.aln-left{ text-align: left; }
.aln-center{ text-align: center; }
.no-wdth{ width: auto;}
.ok{ color: #629b00;}
.ko{ color: #89000b;}
.oculto { position: absolute !important; left:-9999px;top:-9999px; clip: rect(1px, 1px, 1px, 1px); text-indent: -999px;}
.bloque {display: block;}
.border-shadow{ border:1px solid #777; box-shadow: 0 0 15px 0 #777; }

.inline{ display: inline; }
.list-inline-block > * { display: inline-block; }

.heading-2 + hr.full-hr, .heading-2 + .hr.full-hr {margin-top: 15px;}
.heading-2 + hr.full-hr.h-mgn-b0 {margin-bottom: 0;}

.color-light{ color:  #777;}
.color-med{ color: #666;}

.content-inner { width:1002px; height:auto; margin:0 auto;  position:relative; }
#main-content .content-inner { height:100%; }


.rltv{ position: relative;}


#header {position:relative;z-index:9999;margin-bottom:1.5em;}
.iberia-empresa #header {margin-bottom:3em;}
.home #header {margin-bottom:0;}
#header-tools {height: 29px;color:#383838;font-family: Verdana, Arial, Helvetica, sans-serif;box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);-o-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1); }
#header-tools .content-inner, #header-nav .content-inner {padding-bottom:0;}
#header-tools ul {float:left;padding:4px 0 0;}
#header-tools ul.fl-right { float:right; }
#header-tools li {float:left;background: url(../img/divide-header-tools.png) no-repeat right 4px;margin:0 .6em 0 0;padding:0 .6em 0 0;}
#header-tools li a, #header-tools .country-dropdown > a {color:#383838;text-decoration:none;font-size:1.3em;line-height:1.3em;}
#header-tools li a:hover, #header-tools .country-dropdown > a:hover { text-decoration:underline; }
#header-tools li li a, #header-tools .letter-filter li a {font-size:1em;}
#header-tools li.last {margin:0;padding-right:0;background:none;}
#header-tools li.lang span { font-size:1.3em; line-height:1.3em; }


#header .logo-print { display:none; }

/*Country select*/

.country-dropdown ul { margin:0; padding:0;  }
.country-dropdown .country-selector-outer { position:relative; }
.country-dropdown > a { display:block; }
.country-dropdown > a span { cursor:pointer; display:block; position:relative; padding-right:8px; margin-right:7px; }
.country-dropdown > span.special {  display:block; position:relative; padding-right:0; margin-right:0; font-size:1.2em; margin-top:3px; }
.country-dropdown > a span:after { content:""; position: absolute; top:7px; right:-5px; border:5px solid transparent; border-top:5px solid #5c5c5c; display:block; }
.country-dropdown > span.special:after { border:0; }
#header-tools #country-select.country-dropdown .destination-cities .letter-filter, #header-tools .country-dropdown .country-selector-outer .cities-list {  list-style:none; padding:5px 0;  width:auto; min-width:125px;  }
#header-tools .country-dropdown .country-selector-outer li { background-image:none; margin:0; padding:0; float:none; white-space:nowrap; }
.country-dropdown span.value { display:none; }
.country-dropdown .country-selector-outer a { padding:5px; display:block; }
.country-selector span { font-size:1.2em; margin-bottom:8px; display:block; }
.country-selector label { font-size:1.2em; margin-bottom:8px; display:block; }
.country-selector span + .newListSelected { position:relative !important; }
.country-selector .newListSelected { margin-bottom:10px; z-index:999; }
.country-selector .newListSelected .newList { width:99.5% !important; }
.country-selector span + .newListSelected .newList { top:30px; height:100px; overflow-y:scroll; width:99% !important; }
.country-selector .btn { float:right; color:#FFF !important; padding:5px 10px; font-size:1.2em; }
.country-selector .btn:hover { text-decoration:none !important; }

#header-tools li .selectedTxt a { line-height:1em; font-size:1em; }


#help-search {float: left;margin-left:3em;position: relative;}
#help-search.open {background:#333;}
#help-search strong {float:left;display:block;}
#help-search ul li strong {display:inline;float:none;}
#help-search .typeahead {display: block;left: 0 !important;max-width: none;width: 286px !important;z-index: 1;border:none;padding:2em 2.5em 1em;top:46px!important;box-shadow:0 .3em .3em rgba(0,0,0,0.3);-moz-box-shadow:0 .3em .3em rgba(0,0,0,0.3);-webkit-box-shadow:0 .3em .3em rgba(0,0,0,0.3);-o-box-shadow:0 .3em .3em rgba(0,0,0,0.3);}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
  #help-search .typeahead {width: 288px !important;}
}*/
#help-search .typeahead li {border-right: none;display: block;margin: 0;padding: 0 0 1.5em;background:#fff;}
#help-search .typeahead li a {padding: 0;color:#D7192D;}
#help-search .typeahead li a:hover {color:#333;}
#help-search .help-title {color: #383838;font-size: 1.3em;line-height: 1em;text-decoration: none; margin-top: 9px; padding:0 15px 0 10px; z-index:2;position:relative; font-weight:100; float:left; display:block; }
#help-search .help-title:after {  content: ''; position: absolute; top:5px; right: 0; border-top: 5px solid #383838; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid transparent; display: block; }
#help-search.open .help-title:after { border-bottom: 5px solid #fff; border-top: 5px solid transparent; display: block;top:1px; }
#help-search.open .help-title {color:#fff;}


#search-wrapper {float:left;width:195px;}
#search-wrapper input#search, #search-wrapper input[type="text"] {float:left;margin: 0.1em 0.5em;padding: .1em .4em;border:1px solid #dbdbdb;background: #fff; width:13em;font-size:1.3em; }
#search-wrapper input.full-width { width: 1000px; height: 53px; }
#search-wrapper legend {left: -999em;margin: 0;padding: 0;position: absolute;text-indent: -999em;}
#search-wrapper input {color: #777;font-size:1.4em;height:21px;padding: 0 .5em 0 0;margin:0;position:relative;z-index:2;}
#search-wrapper input {color: #777;}
#search-wrapper input[type="submit"] {background:url(../img/sp-iconos-misc.png) no-repeat -14px 0; float: right;height: 24px;padding: 0;position: absolute;right: 14px;top: 2px;text-indent: -999em;width: 24px;border:none;}

#helper-wrapper input#search {float:left;margin: .5em;padding: .4em;border:1px solid #dbdbdb;background: #fff; width:13em;font-size:1.3em; }
#helper-wrapper input.full-width { width: 100%; height: 53px; padding-left: 20px; font-size: 2em; }
#helper-wrapper legend {left: -999em;margin: 0;padding: 0;position: absolute;text-indent: -999em;}
#helper-wrapper input {color: #777;font-size:1.4em;height:21px;padding: 0 .5em 0 0;margin:0;position:relative;z-index:2;}
#helper-wrapper input[type="submit"] {background:url(../img/sp-iconos-misc.png) no-repeat -14px 0;float: right;height: 24px;padding: 0;position: absolute;right: 14px;top:12px;text-indent: -999em;width: 24px;border:none;}
#helper-wrapper input[type="submit"] {background: url("../img/bg-input-search-full.gif") no-repeat scroll 0 0 transparent;float: right;height: 37px;padding: 0;position: absolute;right: 11px;top:9px;text-indent: -999em;width: 37px;border:none;}

#member-log {float:right;font-size:1.2em;/*width:33em;*/}
#member-log li {border-right:1px solid #686868;background: none;line-height:1.3em;}
#member-log li.last {border:none;}
#member-log li span {color:#666;}
#member-log li:first-child { vertical-align:top;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;max-width:13em; }
#member-log li:first-child span { vertical-align:top; height:1.5em; }
#member-log li a { font-size:1em; color:#D7192D; text-decoration:none; }
#member-log li a:hover { text-decoration:underline; }
#member-tools {float:left;margin-left:.5em;}
#member-tools img {margin-top:7px;}

#header-tools .serviberia ul {padding-top:8px;display:table;height:30px;}
#header-tools .serviberia ul li {background: none;border-left:1px solid #d4d4d4;font-size:1.3em;padding:0 10px;margin:0;display: table-cell;float:none;vertical-align:middle;}
#header-tools .serviberia ul li:first-child {border-left:none;margin:0;padding:0 10px;}
.serviberia strong {color: #D7192D;font-size: 1.308em;font-weight: normal;text-transform: uppercase;}
.serviberia span {color:#333;font-size:.846em;text-align: center;}
form.serviberia strong { color:#333; font-size:1em; font-weight:bold; text-transform:none; }
form.serviberia strong.heading-3 { font-size:2.5em; font-weight:normal; }

#header-nav {background: #d7192c; /* Old browsers */
background: -moz-linear-gradient(top,  #d7192c 0%, #d7192c 50%, #a90e1f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7192c), color-stop(50%,#d7192c), color-stop(100%,#a90e1f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* W3C */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7192c', endColorstr='#a90e1f',GradientType=0 )"; /* IE6-9 */
min-height: 83px;clear:both; }
#header > #header-nav:first-child { margin-top: 46px;}
#logo {float:left;width: 18.5em; text-indent:-999em;padding-top: 27px;}
#logo img {float:left;}
.logo-title {position: absolute;text-indent: -999em;}
#header-nav .logo-oneworld {display: inline-block;width:48px;padding-top: 24px;vertical-align: middle;}
#header-nav .logo-oneworld img {display:block;margin:0 auto;}
#mainmenu {float: left;}
#mainmenu>ul>li {float:left;border-right:1px solid #b42030;position:static;}
#mainmenu>ul>li:first-child {border-left:1px solid #b42030;}
#mainmenu>ul>li.last {margin:0;padding:0;background:none;/*position: relative;*/}

/*#mainmenu li.before-special {background: none;}*/
#mainmenu li a, #mainmenu li .parent-link {color: #FFF;display: block;font-size: 1.6em;height: 83px;line-height: 83px;padding: 0 10px;text-decoration: none;position:relative;cursor: default; z-index: 1;}
#mainmenu li .parent-link {text-align: center;}
  #mainmenu > ul > li > a:after, #mainmenu > ul > li .parent-link:after { /*background:url(../img/sp-arrows.png) no-repeat -22px -39px; */display:inline-block; content:" "; width:8px; height:4px; position:absolute; right:10px; top:43px; }
  #mainmenu > ul > li.special > a:after, #mainmenu > ul > li.special .parent-link:after{right:20px}
#mainmenu li.no-child a {background: none;padding: 0 .5em;}
#mainmenu li a.selected {color:#fcd100;}
#mainmenu li.special a, #mainmenu li.special .parent-link {/*padding-right: 44px;border-left: 1px solid #B42030;border-right: 1px solid #B42030;*/position: relative;z-index: 1;}
   #mainmenu li.special > a:after, #mainmenu li.special .parent-link:after { /*background:url(../img/sp-arrows.png) no-repeat 0 -39px; */display:inline-block; content:" "; width:20px; height:12px; position:absolute; right:16px; top:38px; }
#mainmenu li.special .link-go + .parent-link {display: none;}
#mainmenu li a.active:before, #mainmenu li .parent-link.active:before, #mainmenu li.maintainHover .parent-link:before {display:block;content:'';width:100%;height:6px;background: #fcd100;position:absolute;bottom:0;left:0;}
.no-touch #mainmenu li li a:hover:before, #mainmenu li li a.active:before  {display:none;}
#mainmenu li a.active, #mainmenu li .parent-link.active {background-position: 98% -52px;color: #fcd100;}
    /*.no-touch #mainmenu li.special.maintainHover .parent-link:after { background-position:0 -51px; }*/
.no-touch #mainmenu li.special a:hover {color:#fcd100;}
/*#mainmenu li.special a.active:after, #mainmenu li.special .parent-link.active:after { background-position:0 -51px; }*/

#mainmenu .submenu-content {
	background:url(/ibcomv3/images/0.gif);
	position: absolute;
	top:83px;
	display:none;
	left:222px;
	height: 32.8em;
	width: 72em; 
	background: white;
}

/* Class for menu-aim */
/*.no-touch*/ #mainmenu li.maintainHover .submenu-content {display: block;}
.no-touch #mainmenu li.maintainHover .parent-link {color: #fcd100;}
   #mainmenu li.maintainHover .parent-link:after { background-position:-22px -43px; }

#mainmenu li.special .submenu-content {left: auto; right: 59px; height: 40.3em;width: 81.4em;}
.normal-protocol #mainmenu li.special .submenu-content {right:-193px;}
/*#mainmenu li.special .link-go {position: absolute;left: 0;text-indent: -999em;height:91px;width:69%;background:url("../img/bug-padding-ie.png");cursor:pointer;border: none;z-index: 2;padding:0;}
*/

#mainmenu .submenu-content ul.first-show {z-index:10;}
#mainmenu .submenu-content a:hover {background: none;}
#mainmenu li li {float:none;}
#mainmenu li li a{z-index:50;}
.no-touch #mainmenu li li a:hover, .no-touch #mainmenu li.special li a:hover {background:none;color:#333;display: block;}
#mainmenu li li a.active, #mainmenu li.special li a.active {background:none;color:#333;display: block;}
#mainmenu li li a.active2, #mainmenu li.special li a.active2 {background:none;color:#333;display: block;}
#mainmenu ul ul ul {background: #F0F0F0;width:21em;min-height: 32.5em;border-right:1px solid #e5e5e5;z-index:9;position: absolute;box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);-o-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);border-top:3px solid #FCD100;}
#mainmenu ul .special ul ul { min-height: 40em; }
#mainmenu ul .special ul ul ul { min-height: 38.8em; }
#mainmenu li li li {background: none;width:91%;position: static;cursor: default;}
.no-touch #mainmenu li li li:hover ul, #mainmenu li li li ul.topLayer {z-index:20;}
#mainmenu li li li a, #mainmenu li li li .parent-link2 {color:#d7192d;background: none;height:auto;line-height: 1.1em;position: relative;width: 178px; z-index: 99;padding-left:5px;padding-right:26px;word-wrap:break-word;}
/*#mainmenu li.special li li .parent-link2 {padding-right:25px;}*/
#mainmenu li li li .parent-link2 {font-size: 1.5em;display: block;padding:1.2em 18px 1.2em 1em}
   #mainmenu li li li .parent-link2.active + .parent-title + .popover { display:block !important; }
  #mainmenu li li li .parent-title {display:none!important;/*font-size: 1.4em; background-color:#FFF; display:block; position:absolute; left:14.3em; z-index:40; top:15px;  height:2em; width:16em; font-weight:bold; */}
    .no-touch #mainmenu li li li > .parent-title.first-show, #mainmenu li li li > .parent-title.first-show.active, #mainmenu li li li > .parent-title.active { z-index:41; }
    .no-touch #mainmenu li li li:hover > .parent-title, .no-touch #mainmenu li li li:hover > .parent-title.first-show  { z-index:42; }
#mainmenu li.special li a {color:#d7192d;border: none;background: none;}
#mainmenu li.special li li a {padding-right: 27px;}
#mainmenu li li li.expand a.active, #mainmenu li li li.expand .parent-link2.active {background:#FFF;color: #333;font-weight:bold;}
#mainmenu li li li.expand a.active2, #mainmenu li li li.expand .parent-link2.active2 {background:#FFF;color: #333;font-weight:bold;}
.no-touch #mainmenu li li li.expand li a:hover {background: none;}

#mainmenu ul ul ul ul {position: absolute;top:-3px; background: #fff;margin-left:1px;width:24.4em;}
#mainmenu li ul ul li ul {left:21em; /*height:30.1em; padding-top:2.4em;*/ }
#mainmenu li li li.expand li a.active {background:none;}
#mainmenu li ul ul ul li {padding:.7em 1em;position:relative;}
#mainmenu li ul ul ul a {font-size:1.4em;width:200px;padding-left:10px;cursor:pointer;}
  #mainmenu li ul ul ul a:after { background:transparent; }
#mainmenu li ul ul ul ul {width:25.5em;height:25.5em;padding:0;left:-999em;border:none;}

*|html[xmlns*=""] body {display:none;background: #000!important;}
#mainmenu li ul ul ul ul li {padding:0;}
#mainmenu li ul ul ul ul li img {position: absolute;z-index: 1;}
#mainmenu ul ul ul ul {box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);-o-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);width:25.5em;min-height: 31.3em;padding-top: 1.2em;}
#mainmenu ul .special ul ul ul {box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);-o-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);}
#mainmenu ul ul ul ul li.menu-highlight {position:absolute;top:-3px;left:100%;padding:0;box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);-o-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);width:25.5em;border-top:3px solid #FCD100;}
#mainmenu ul ul ul ul li.menu-highlight a {padding:0;width:100%;display:block;color:#fff;height:325px;position:relative;background-color: #fff; }
#mainmenu ul ul ul ul li.menu-highlight a:hover {color:#fff;}
#mainmenu ul ul ul ul li.menu-highlight .text-over { position: absolute; top: 22px; left: 19px; padding-right: 19px; color: #333; font-family: 'maven_pro', Verdana, Arial, Helvetica, sans-serif;; font-size: 2.5em; line-height: 100%; letter-spacing: -.05em}
#mainmenu ul ul ul ul li.iberia-app .text-over { width:180px;position: absolute;top: 0; left: 19px; padding-right: 19px; color: #333; font-family: 'maven_pro', Verdana, Arial, Helvetica, sans-serif; font-size: 28px; line-height: 100%; letter-spacing: -.05em}
#mainmenu ul ul ul ul .info-highlight {position:absolute;bottom:10px;left:1em;z-index:2;height:41px;width:15.5em;padding-top:1em;}
#mainmenu ul ul ul ul .destiny {font-family: 'maven_pro', Verdana, Arial, Helvetica, sans-serif;font-size:2.5em;color:#f0d031;line-height: .8em;padding-bottom: .1em;display: block;}
#mainmenu ul ul ul ul .info-destiny {font-family: 'maven_pro', Verdana, Arial, Helvetica, sans-serif;font-size:2.5em;color:#fff;line-height: 1em;}
#mainmenu ul ul ul ul .price {font-family: Verdana, Arial, Helvetica, sans-serif;font-size:.85em;position:absolute;bottom:.4em;left:0;line-height:2em;}
#mainmenu ul ul ul ul li .price span {font-family: 'maven_pro', Verdana, Arial, Helvetica, sans-serif;font-size:3.157em;display:block;}
#mainmenu ul ul ul ul li .arrow-go {display:block;background:url(../img/sp-arrows.png) no-repeat -104px -90px;width:40px;height: 40px;position:absolute;bottom:0;right:0;}
#mainmenu ul ul ul ul li .arrow-go .over {background:url(../img/sp-arrows.png) no-repeat -137px -53px;display: none;height: 40px;width: 40px;position: absolute;z-index:2;}

#mainmenu ul .special ul ul ul   {width:35em;}
#mainmenu li.special li.iberia-app a {width:100%;background: none; position:absolute; bottom:0;  }
#mainmenu .info-app {padding-top:1em;display: block;float:left;width:170px;}
#mainmenu .iberia-app  {padding:0;position:absolute;bottom:0;padding-left: 1em;}
#mainmenu .iberia-app .info-highlight { width:22em; }
#mainmenu .iberia-app img {float:left;margin-right:10px}
#mainmenu .iberia-app .title {font-size:2.39em;font-family:'maven_pro', Verdana, Arial, Helvetica, sans-serif;line-height:1.05em;padding-bottom: 10px;display:block;}
.app-store {background:url(../img/disponible-app-store.png) no-repeat;text-indent: -999em;display:block;width:116px;height:40px; }
#mainmenu li li li.iberia-plus-connect {min-height: 400px;width:283px;display:block;position:absolute;background: #d7192d;left:531px;top:-3px;padding: 0;box-shadow:0 2px 2px rgba(0, 0, 0, 0.4);-o-box-shadow:0 2px 2px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.4);border-top:3px solid #fcd100;z-index:20;}
.normal-protocol #mainmenu li li li.iberia-plus-connect, .normal-protocol #mainmenu li.special li li li.menu-highlight {display:none;}
#mainmenu li li li.iberia-plus-connect .title {font-size:1.8em;color:#fcd100;font-family: 'maven_pro', Verdana, Arial, Helvetica, sans-serif;display:block;padding-bottom:.5em;}
li.iberia-plus-connect .block {padding:1.3em 1.8em;display: block;border-bottom:1px solid #a80e1f;clear:both;}
li.iberia-plus-connect .block.last {border:none;}
li.iberia-plus-connect .form-item {display:block;margin-bottom:10px;}
li.iberia-plus-connect .form-item .label-block {font-family:Verdana, Arial, Helvetica, sans-serif;color:#fff;font-size:0.87em;text-align: right;width:6.1em;padding:.5em .5em 0 0;display: inline-block;}
li.iberia-plus-connect .form-item input {border:0; font-family:Verdana, Arial, Helvetica, sans-serif; height:20px;width:143px; padding:5px; color:#363636; background-color:#f0efef; font-size:1.2em;}
#mainmenu  li.iberia-plus-connect .form-item input { font-size: .8em;}
#header-nav li.iberia-plus-connect .form-item .error-message { display: inline-block; margin-bottom: 0; margin-left: 37%; font-size: 0.87em !important; color: #fcd100; background-image: url("../img/error-ico-yellow.gif");}

#mainmenu li.iberia-plus-connect .btn.btn-facebook, #header-tools #loginBox .btn.btn-facebook{padding:0;border:none;background: #556491;}
#mainmenu li.iberia-plus-connect .btn.btn-facebook .logo-facebook, #header-tools #loginBox .btn.btn-facebook .logo-facebook{background: url("../img/f-facebook.png") no-repeat scroll 15px center transparent;border-right: 1px solid #384365;display: block;height: 25px;padding: 6px 13px;width: 12px;}
#mainmenu li.iberia-plus-connect .btn.btn-facebook span, #header-tools #loginBox .btn.btn-facebook span{border-left: 1px solid #6C7BA6;display: block;float: left;padding: 10px 8px 10px;top: 0; font-size:.8em; color:#fff}

#mainmenu li.iberia-plus-connect .btn.btn-linkedin, #header-tools #loginBox .btn.btn-linkedin{padding:0;border:none;background: #4393bb; }
#mainmenu li.iberia-plus-connect .btn.btn-linkedin .logo-linkedin, #header-tools #loginBox .btn.btn-linkedin .logo-linkedin{background: url("../img/l-linkedin.png") no-repeat scroll 12px center transparent;border-right: 1px solid #386b8c;display: block;height: 25px;padding: 6px 13px;width: 12px;}
#mainmenu li.iberia-plus-connect .btn.btn-linkedin span, #header-tools #loginBox .btn.btn-linkedin span{border-left: 1px solid #5aa1ce;display: block;float: left;padding: 10px 8px 10px;top: 0; font-size:.8em; color:#fff}


#mainmenu li.iberia-plus-connect .btn.btn-facebook:hover,
#mainmenu li.iberia-plus-connect .btn.btn-linkedin:hover{
  box-shadow:2px 0 4px #9a0414;
}

#mainmenu li.iberia-plus-connect .btn.btn-facebook:hover,
#header-tools #loginBox .btn.btn-facebook:hover{color:#fff;border:none;background: #6070a0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNzBhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDRhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
  background: -moz-linear-gradient(top,  rgba(96,112,160,1) 0%, rgba(61,74,114,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,112,160,1)), color-stop(100%,rgba(61,74,114,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(96,112,160,1) 0%,rgba(61,74,114,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(96,112,160,1) 0%,rgba(61,74,114,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(96,112,160,1) 0%,rgba(61,74,114,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(96,112,160,1) 0%,rgba(61,74,114,1) 100%); /* W3C */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#6070a0', endColorstr='#3d4a72',GradientType=0 )"; /* IE6-8 */
  box-shadow:2px 0 4px #9a0414;
}

#mainmenu li.iberia-plus-connect .btn.btn-linkedin:hover,
#header-tools #loginBox .btn.btn-linkedin:hover{color:#fff;border:none;background: #48a0c9; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4YTBjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzkzYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
  background: -moz-linear-gradient(top,  rgba(72,160,201,1) 0%, rgba(67,147,187,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,160,201,1)), color-stop(100%,rgba(67,147,187,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(72,160,201,1) 0%,rgba(67,147,187,1) 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(72,160,201,1) 0%,rgba(67,147,187,1) 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(72,160,201,1) 0%,rgba(67,147,187,1) 100%);/* IE10+ */
  background: linear-gradient(to bottom,  rgba(72,160,201,1) 0%,rgba(67,147,187,1) 100%); /* W3C */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#48a0c9', endColorstr='#4393bb',GradientType=0 )"; /* IE6-8 */
  box-shadow:2px 0 4px #9a0414;

}

#mainmenu li.iberia-plus-connect .btn.btn-facebook:hover:before,
#mainmenu li.iberia-plus-connect .btn.btn-linkedin:hover:before{ position: absolute; content: ""; top: 0; left: 0; right: 0; height:1px; background: #7183b6;}

		#mainmenu li.iberia-plus-connect .btn-facebook {width:auto;margin-right:.5em;}
#mainmenu li.iberia-plus-connect .btn-linkedin {width:auto;margin-right:.5em;}
#mainmenu li.iberia-plus-connect .btn.register-now {width:auto;display:block;}
#mainmenu li.iberia-plus-connect .no-pin {width:auto;color: #FFF;display: block;font-size: 1.2em; float:right; text-decoration:underline; padding-right:0; }
#mainmenu li.iberia-plus-connect .tools {padding-top:1em;display:block;float:left; }
#mainmenu li.iberia-plus-connect input[type="submit"] {height:37px;padding:0 22px 2px; width:100%; margin-top:1em; }

#mainmenu li li li.iberia-plus-connect ul { width:auto; min-height: 0; left:0; background:transparent; position:relative; margin-left:0; box-shadow:none ;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none; border-right:0; float:right; width:135px; padding-top:0; }
li.iberia-plus-connect .login-block { padding:0 1.8em 1.3em; }
li.iberia-plus-connect .login-block:first-child { padding:1.3em 1.8em; }
li.iberia-plus-connect .login-block ul { border-left:1px solid #950002; }
li.iberia-plus-connect .login-block:first-child ul { border-left:0; }

li.iberia-plus-connect .login-block img { float:left; }
li.iberia-plus-connect .login-block span { float:left; width:100px; color:#FFF; font-size:1.15em; line-height:1.3em; }
li.iberia-plus-connect .login-block span strong { display:block; }
#mainmenu li li li.iberia-plus-connect .login-block ul { border-top:none; }
#mainmenu li li li.iberia-plus-connect .login-block ul li { width:100%; padding:.2em 1em .7em; }
#mainmenu li li li.iberia-plus-connect .login-block ul a { color:#FFF; text-decoration:underline; background:transparent; width:auto; font-size:1.15em; padding-left:0; padding-right:0; line-height:1.2em;  }
#mainmenu li li li.iberia-plus-connect .login-block ul span { color:#FCD100; float:none; width:auto; display:block; line-height:1.7em; font-size:1.2em; }

li.iberia-plus-connect .highlight-block { border:1px solid #950002; background-color:#C0071B; margin:0 1.8em; padding:15px; color:#FFF; }
li.iberia-plus-connect .highlight-block .title { font-size:1.7em !important; padding-bottom:.3em !important; }
#mainmenu li.iberia-plus-connect .highlight-block .avios-offer { font-family: 'maven_pro', Verdana, Arial, Helvetica, sans-serif; font-size:2.1em; line-height:1.1em; text-decoration:none; margin-bottom:7px; }

#mainmenu li.iberia-plus-connect a.link-white {cursor: pointer; color:#FFF; text-decoration:underline; font-size:1.3em; padding-left:0; padding-right:0; background-image:none; width:auto; }
#mainmenu li.iberia-plus-connect .highlight-block a { color:#FFF; text-decoration:underline; font-size:1.2em; padding-left:0; padding-right:0; background-image:none; width:auto; }
#mainmenu li.iberia-plus-connect .highlight-block a:hover { color:#FFF; }
#mainmenu li.iberia-plus-connect .highlight-block .offer-price { line-height:1.5em; }
#mainmenu li.iberia-plus-connect .highlight-block .offer-price span { color:#FCD100; display:block; font-family: 'maven_pro', Verdana, Arial, Helvetica, sans-serif; font-size:1.9em; }

#mainmenu li.iberia-plus-connect .highlight-block .next-flight { font-size:1.5em; margin-top:7px; }
#mainmenu li.iberia-plus-connect .highlight-block .next-flight span { display:block; font-size:.8em; }

#mainmenu li.special .link-go {padding: 0 10px;}
/*#mainmenu li.special .link-go {background: transparent;border: none;cursor: pointer;height: 91px;left: 0;padding: 0 10px;position: absolute;text-indent: 0;top: 0;width: 69%;z-index: 100;}
  #mainmenu li.special .link-go:after { background:transparent; }*/

.last-info  {font-family: Verdana, Arial, Helvetica, sans-serif;background: #fff;padding:3em 0;margin-bottom:1em; margin-top:3em; }
.last-info .heading-4 {font-size:1.5em;color:#333;padding-bottom:1em;}
.last-info p {font-size:1.25em;color: #777;line-height:1.2em;}
.last-info p {color:  #777;} /* contraste */
.last-info img {margin:0 auto;display:block;}

#mainmenu #submenu-registro-cip .menu-highlight{padding:0;bottom: 0;padding-left: 2em;top: 0; left: 0;border: none;}
#mainmenu #submenu-registro-cip .menu-highlight a{bottom:0;position: absolute;}
#mainmenu #submenu-registro-cip .menu-highlight img {float:left;margin-right:10px;height: inherit;}
#mainmenu #submenu-registro-cip .menu-highlight .info-highlight {left:10em;}

/****************************************** ME ******************************************/

small,
.small{ font-size: 1.3em; color: #666;}
p small{ font-size: .9em;}

.content-inner { padding-bottom:34px; }
.content-inner.no-padding { padding-bottom:0; }
.content-inner.no-margin { margin-bottom:0; }

.link-arrow,
a.link-arrow,
button.link-arrow{ color: #D7192D; font-size: 1.3em; position: relative; padding: 0;  }
.link-arrow,
button.link-arrow{ background: none; border: none; cursor: pointer; display: inline; margin-top: -2px; margin-left: -2px;}
.contCalendarH .link-arrow {margin-left:0;}
.block-modal a.link-arrow, .block-modal button.link-arrow {padding-bottom:2px;}
.link-arrow:hover,
button.link-arrow:hover{ text-decoration: underline; }
a.link-arrow.txt-12{ font-size: 1.2em; }
.link-arrow:after,
a.link-arrow:after,
button.link-arrow:after{ content: ''; border-left: 4px solid #D7192D; border-top: 4px solid transparent; border-right: 4px solid transparent; border-bottom: 4px solid transparent; display: inline-block; margin-left: 5px;}
.link-arrow.paginator-left-next,
a.link-arrow.paginator-left-next,
button.link-arrow.paginator-left-next,
.link-arrow.paginator-right-next,
a.link-arrow.paginator-right-next,
button.link-arrow.paginator-right-next { 	border-left: 1px solid  #777; padding-left: 10px; margin-left: 4px;}
.jp-disabled + .link-arrow.paginator-left-next,
.jp-disabled + a.link-arrow.paginator-left-next,
.jp-disabled + button.link-arrow.paginator-left-next,
.jp-disabled + .link-arrow.paginator-right-next,
.jp-disabled + a.link-arrow.paginator-right-next,
.jp-disabled + button.link-arrow.paginator-right-next { border-left: none;}

.link-arrow.paginator-left-previous:after,
a.link-arrow.paginator-left-previous:after,
button.link-arrow.paginator-left-previous:after,
.link-arrow.paginator-right-previous:after,
a.link-arrow.paginator-right-previous:after,
button.link-arrow.paginator-right-previous:after{ content: inherit; border: none;}
.link-arrow.paginator-left-previous:before,
a.link-arrow.paginator-left-previous:before,
button.link-arrow.paginator-left-previous:before,
.link-arrow.paginator-right-previous:before,
a.link-arrow.paginator-right-previous:before,
button.link-arrow.paginator-right-previous:before{ content: ''; border-right: 4px solid #D7192D; border-top: 4px solid transparent; border-left: 4px solid transparent; border-bottom: 4px solid transparent; display: inline-block; margin-right: 5px;}

a.link-arrow:hover { color: #D7192D; }
a.link-arrow-back { color: #D7192D; font-size: 1.3em; position: relative; padding:0;  }
a.link-arrow-back:before { content: ''; border-right: 4px solid #D7192D; border-top: 4px solid transparent; border-left: 4px solid transparent; border-bottom: 4px solid transparent; display: inline-block; margin-right: 5px; }
input.link-arrow {background: url(../img/arrow-red.png) transparent no-repeat right center;border: none;color: #D7192D;font-size: 1.3em;padding: 0 6px 2px 0; cursor:pointer; }
input.link-arrow:hover {text-decoration: underline;}
a.link-arrow.close-popup {background: none;width:auto;height:auto;}
button {-webkit-font-smoothing: antialiased;}

a.link-yellow-arrow{ color: #fcd100; font-size: 1.3em; position: relative; padding: 0 10px 0 0; white-space:nowrap;  }
a.link-yellow-arrow:after{ content: ''; position: absolute; top:4px; right: -5px; border-left: 5px solid #d7192d; border-top: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid transparent; display: block;}
a.link-yellow-arrow:hover:after { border-left: 5px solid #FFF; }
a.link-yellow-arrow:hover { color: #fcd100; text-decoration: underline; }
.v-middle.fl-right a.link-arrow {display: inline;margin-right: 20px;}
a.link-white,
a.link-white:hover{ color: #fff; text-decoration: underline; }
a.link-white:after{ border-left-color:#fff!important; }
a.link-yellow{ color: #fcd100; }
a.link-yellow:after{ border-left-color:#fcd100; }
a.link-yellow.link-arrow:hover:after{ border-left-color: #fff;}
.search-content a.link-arrow:hover:after{ border-left-color: #d7192d;}
a.link-clock { line-height:1.5em; }
a.link-clock:before { content:""; background-image:url(../img/bg-clock.png); background-repeat:no-repeat; background-position:left top; padding-left:9px; width:21px; height:21px; display:inline-block; vertical-align:middle; }
.link-cancel { line-height:1.5em; white-space:nowrap; }
span.link-cancel{ font-size: 1em;}
.link-cancel:before { content:""; background-image:url(../img/bg-link-cancel.png); background-repeat:no-repeat; background-position:left top; padding-left:5px; width:32px; height:25px; display:inline-block; vertical-align:middle; }

a.link-white-arrow{ color: #fff; font-size: 1em; position: relative; padding: 0 10px 0 0;  }
a.link-white-arrow:after{ content: ''; margin-left:5px;border-left: 5px solid #fff; border-top: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid transparent; display: inline-block;}
a.link-white-arrow:hover:after { border-left: 5px solid #fcd100; }
a.link-white-arrow:hover { color: #fcd100; text-decoration: underline; }

/* Links */
a{ font-size: 1.5em; color: #D7192D;}
p a,
h3 a{ font-size: 1em; }
a:hover{ color: #000; transition: color .3s linear; -webkit-transition: color .3s linear; -moz-transition: color .3s linear; }
a.link-yellow:hover {color: #fff;}

a.more:after { content:""; background-image:url(../img/sp-arrow-more.png); background-repeat:no-repeat; background-position:left top; display:inline-block; width:4px; height:7px; margin-left:3px; }




/* Highlights */
.highlights{ padding-bottom: 24px; }
.highlights > li{ background: #fff; margin-bottom: 10px; position: relative; overflow: hidden; height: 242px; overflow: hidden; }
.highlights img, .highlight-info { float: left;}
.highlight-info{ width: 205px; padding: 23px 20px 0 28px; }
.highlight-info .info-header { height: 86px; overflow: hidden; }
.highlight-info .info-main { height: 72px; overflow: hidden; }
.highlight-info .info-footer{ height: 43px; }
.highlight-info .heading{ font-size: 3.5em; }
.highlights .img-mask {width: 242px;height: 242px;position: relative;overflow: hidden;float: left;}
.highlights .img-mask img {position: absolute;top: 0;left: 0;}


/* Big header */
.head-bg { text-align: center; padding-top: 185px; }
.head-bg .heading-1 { font-size: 4.7em; margin-bottom: 20px; color: #333; }
.head-bg .heading-2 { font-size: 2.5em; margin-bottom: 10px; color: #333; }
.head-bg p { font-size: 1.5em; line-height: 1.2em; color:   #777; }
.head-bg .btn { margin: 40px 0 30px; }

.head-bg.hd-compass { background: url(../img/head-bg--compass.png ) no-repeat center 20px; padding-top: 177px; }
.head-bg.hd-ok { background: url(../img/head-bg--ok.png ) no-repeat center 19px; padding-top: 124px; }
.head-bg.hd-ko { background: url(../img/head-bg--ko.png ) no-repeat center 19px; padding-top: 124px; }
.head-bg.hd-info { background: url(../img/head-bg-info.gif ) no-repeat center 19px; padding-top: 124px; }
.head-bg.hd-cancelled { background: url(../img/head-bg--cancelled.png ) no-repeat center 19px; padding-top: 105px; }


/* Generales para todos los listados */
.info-price strong{ font-size: 4em; float: left; color: #D7192D; display: block; }
.highlight-info small { display: block; }
.highlight-info .button-next{ float: right;}


/* Titles */
.heading, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6, .txt-headline, .discount, .banner p, .info-price strong, .telephone-numbers strong, .table-bordered th{
  font-family: 'maven_pro',Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
}

.heading-1 { font-size:6.6em; display:inline-block; letter-spacing: -1px;}

.heading-2 { font-size:2.5em; margin:0 0 7px; display:inline-block; letter-spacing: -1px; }

.heading-3 { font-size:2.5em; margin:0 0 7px; }

.heading-4 { font-size:2.5em; }

.heading-1 a, .heading-2 a, .heading-3 a, .heading-4 a, .heading-5 a, .heading-6 a { color:#b81f30; }

.heading-group .heading-1{ line-height: .8em; font-size:5.6em; }
.heading-group .heading-2{  line-height: .5em; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1.3em !important; letter-spacing: -.075em !important }
.heading-group .heading-2.big-heading { font-size:1.6em; line-height:1.4em; }

.row-title{ border-bottom: 1px solid #d3d3d3; padding: 10px 0; margin-bottom: 10px; }
.row-title .nav{margin: 6px 0 0 ;}

.icon-title{}
.icon-title p,
.icon-title img{ float: left;}
.icon-title p{ margin: 7px 7px 0; line-height: 15px;font-weight:bold;}

/* Buttons */

button{ font-family: Verdana, Arial, Helvetica, sans-serif;}
button.btn,
.back.search-content-colored input.btn{ font-weight: normal; margin: 0; height: auto; font-size: 1.3em;}
button.btn.h-mgn-l10{ margin-left: 10px;}
.btn,
.back.search-content-colored input.btn,
#mainmenu li.iberia-plus-connect .btn,
#pretty-alert-generic-message .block-modal .trigger-pos-1,
.dropzone a{ display: inline-block; cursor: pointer; background: #A8191A; color: #fff; padding: 13px 22px; border: 1px solid #6F000C;font-size:1.6em;line-height: 0.7em;white-space: nowrap;}
.btn:hover,
.back.search-content-colored input.btn:hover,
#mainmenu li.iberia-plus-connect .btn:hover, 
#mainmenu li.iberia-plus-connect .btn.register-now:hover,
#pretty-alert-generic-message .block-modal .trigger-pos-1:hover,
.dropzone a:hover{ color: #fff; position: relative; text-decoration:none;
  background: #a20104; /* Old browsers */
  background: -moz-linear-gradient(top,  #A8191A 0%, #6F000C 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8191A), color-stop(100%,#6F000C)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #A8191A 0%,#6F000C 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #A8191A 0%,#6F000C 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #A8191A 0%,#6F000C 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #A8191A 0%,#6F000C 100%); /* W3C */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#a20104', endColorstr='#870002',GradientType=0 )"; /* IE6-8 */
}
.btn:active,
.back.search-content-colored input.btn:active,
#mainmenu li.iberia-plus-connect .btn:active, 
#mainmenu li.iberia-plus-connect .btn.register-now:active,
#pretty-alert-generic-message .block-modal .trigger-pos-1:active,
.dropzone a:active{background: #6F000C;}

.btn-large{ font: 1.5em Verdana, Arial, Helvetica, sans-serif }

.btn-more{ width: 40px; height: 40px; border: 5px solid #d0d0d0; border-radius: 30px;}
.btn-more:before{ font-family: 'icons'; font-size: 2em; color: #d0d0d0; display: block; content: 'j'; text-indent: 0; padding: 9px 8px; }
.btn-more span{ text-indent: -9999px; display: block;}
.btn-more:hover, .btn-more:hover:before{ border-color: #b81f30; color: #b81f30; transition:border-color .5s linear, color .5s linear; -webkit-transition: border-color .5s linear, color .5s linear; -moz-transition: border-color .5s linear, color .5s linear }

.button-more{ display: block; width: 2.65em; height: 2.7em; text-indent: -9999px; position: relative; overflow: hidden;}
.button-more.hover{
  -webkit-animation-name: slide-x; -webkit-animation-duration: .3s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease-in-out; -webkit-animation-fill-mode: forwards; -webkit-animation-direction:alternate;
  -moz-animation-name: slide-x; -moz-animation-duration: .3s; -moz-animation-iteration-count: 1; -moz-animation-timing-function: ease-in-out; -moz-animation-fill-mode: forwards; -moz-animation-direction:alternate;
  -o-animation-name: slide-x; -o-animation-duration: .3s; -o-animation-iteration-count: 1; -o-animation-timing-function: ease-in-out; -o-animation-fill-mode: forwards; -o-animation-direction:alternate;
  animation-name: slide-x; animation-duration: .3s; animation-iteration-count: 1; animation-timing-function: ease-in-out; animation-fill-mode: forwards; animation-direction:alternate;
}
.button-more.reverse{ -webkit-animation-name: test-v2; -webkit-animation-duration: .3s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease-in-out; -webkit-animation-fill-mode: forwards; -webkit-animation-direction:alternate; }
.button-more img{ position: absolute; left: -40px; top: 0;}


.button-next{ display: block; width: 40px; height: 40px; background-image: url(../img/button_next.png); background-position: right; text-indent: -9999px; position: relative; overflow: hidden;text-align:left;}
.button-next.button-white{ background-image: url(../img/button_next-w.png);}
.button-close{ display: block; width: 29px; height: 28px; background-image: url(../img/button_close.png); background-position: right; text-indent: -9999px; position: relative; overflow: hidden;}
.button-plus{ display: block; width: 41px; height: 40px; background-image: url(../img/button_plus.png); background-position: right; text-indent: -9999px; position: relative; overflow: hidden;}

.button-like{ display: block; width: 57px; height: 51px; background-image: url(../img/button_like.png); background-position: bottom; text-indent: -9999px; position: relative; overflow: hidden;}
.button-like.active{ -webkit-animation-name: slide-y; -moz-animation-name: slide-y; -o-animation-name: slide-y; animation-name: slide-y; }
.button-like.inactive{ -webkit-animation-name: slide-y-reverse; -moz-animation-name: slide-y-reverse; -o-animation-name: slide-y-reverse; animation-name: slide-y-reverse;}
.lte-ie9 .button-like.active{ background-position: top; }
.lte-ie9 .button-like.inactive{ background-position: bottom; }

.icon-social{ width: 41px; height: 39px; display: block; overflow: hidden; text-indent: -9999px; position: relative; }
.icon-social img{ position: absolute; left: -40px; top: 0; }


.close-popup{ display: block; width: 65px; height: 65px; border: 1px solid transparent; padding: 0 !important; background: url(../img/sp-arrows.png) no-repeat -38px top; position: absolute; top: 1px; right: 0;z-index:99999999;}
.close-popup.white{ background-position: -39px -65px; }
.close-popup.no-popup{ position: relative; }

  .close-popup-small, .bl-calendar .close-calendar { width:39px; height:39px; background:url(../img/sp-arrows.png) no-repeat left top; }
  .bl-calendar .close-calendar { display: block; position: absolute; top: 0;z-index:99999999;right:-1px; }

.modal-video .close-popup {background-position: -39px -65px; top:-40px;right:-55px;}
.modal-close-out .close-popup {background-position: -39px -65px; right: -55px;top: -40px;}

.table .expand-info-cont .close-expand-info { width:39px; height:39px; background:url(../img/sp-arrows.png) no-repeat left top; display: block;position: absolute;right: -10px;top: -10px;z-index: 99999999; }
.CKIANCUPP .expand-info-cont { position: relative; }
.CKIANCUPP .expand-info-cont .close-expand-info { width:39px; height:39px; background:url(../img/sp-arrows.png) no-repeat left top; display: block;position: absolute;right: -10px;top: -10px;z-index: 99999999; }
.CKIANCUPP .expand-info-cont .close-expand-info {
    width: 39px;
    height: 39px;
    background: url(../img/sp-arrows.png) no-repeat left top;
    display: block;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 99999999;
}
.CKIANCUPP .tick {font-size: 1.4em;}
.CKIANCUPP .tick li {padding-bottom: 4px; padding-right: 44px;}
.CKIANCUPP .tick .listaDisc {padding: 15px 0 15px 20px;}
.CKIANCUPP .tick .listaDisc li {padding-bottom: 4px;}

.close-slide.white{ background:url(../img/sp-arrows.png) no-repeat -39px -65px;display: block; width: 65px; height: 65px;position: absolute; top: 0; right: 0;z-index:100; }

.foot-tools {padding-top: 20px;}
.foot-tools .close-popup {background: none;height: auto;position: relative;width: auto;}
.foot-tools li {padding-bottom: 10px;}

.social-links a:hover{text-decoration: none;}
.social-links a:hover img{ -webkit-animation-name: social-icons; -moz-animation-name: social-icons; -o-animation-name: social-icons; animation-name: social-icons;}
.social-links a img{transition: all .1s linear; -webkit-transition: all .1s linear; -moz-transition: all .1s linear;}
.lte-ie9 .button-close:hover, .lte-ie9 .button-next:hover, .lte-ie9 .button-plus:hover { background-position: left; }
.lte-ie9 .social-links a:hover img { left: 0; }


.button-next:hover,
.button-plus:hover,
.button-close:hover{ -webkit-animation-name: slide-x; -moz-animation-name: slide-x; -o-animation-name: slide-x; animation-name: slide-x; } 


/* Navs */
.nav li{ display: inline-block; border-left: 1px solid #989898; padding: 0 0 0 7px; margin: 0 0 0 7px; }
.nav li:first-child{ border: none; padding: 0; margin: 0;}
.nav li a{ color: #d7192d; text-decoration: none;}
.nav li a:hover{ color: #000;}
.nav li.active a{color: #333; cursor: default; }


/* Discount module*/
.thumbnails li .discount {position: absolute; z-index: 3; left: 6px; top:50px;background:url(../img/sp-iconos-misc.png) no-repeat 0px -74px;width:69px;height: 59px;display:block;font-size:2.1em;font-family:'maven_pro', Verdana, Arial, Helvetica, sans-serif;color:#fff;padding-top:32px;padding-left:10px;} 
.thumbnails li .discount span {font-size:.762em;}



/* Banner */
.banner,
.thumbnails li.banner{ background: #d7192c; /* Old browsers */
background: -moz-linear-gradient(top,  #d7192c 0%, #d7192c 50%, #a90e1f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7192c), color-stop(50%,#d7192c), color-stop(100%,#a90e1f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* W3C */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7192c', endColorstr='#a90e1f',GradientType=0 )"; /* IE6-9 */}
.banner .btn{ margin-left: 23px; }
.banner .btn.fl-left{ margin-left: 0;}
.banner p{ font-size: 3.5em; line-height: 1.086em; font-weight: normal; color: #fff; padding: 16px 24px 11px; }
.banner p.h-pdg-t0{ padding-top: 0;}
.banner p.h-pdg-b6{ padding-bottom: 6px;}
.banner p.txt-30{ font-size: 3em;}
.banner p.txt-30 strong{ font-weight: normal; }
.banner p.txt-30 .txt-20{ font-size: .667em; }

.banner p span{ color: #fcd100;}

.IBCOSE .banner a.btn {
	white-space: normal;
	margin-left: 15px;
	width: 68%;
	position: relative;
}


/* Footer */
#footer {clear:both;}

.highlight-links{ background: #d7192c; color: #fff; padding-top: 29px; }
.highlight-links .heading-4{ padding-bottom: 22px; margin-bottom: 0;}
.highlight-links li{padding-bottom: 1em;}
.highlight-links .social-links .heading-4{ padding-bottom: 10px;}
.highlight-links .social-links li{ padding-bottom: 11px; position:relative; }
.highlight-links li a{ margin-right: 5px; color: #fff; }
.highlight-links a:hover { color:#FCD100; }
.highlight-links li a, .highlight-links li span{ display: inline-block; vertical-align: middle; }
.highlight-links li span {width:160px;}
.highlight-links li span.icon-social {width:41px;}

.copy { padding:.8em 0 1em; text-align:right; }
.copy div:first-child { text-align:left; }
.copy img { margin-top:1.2em; }
.copy .small { color:   #777; }

.telephone-numbers{ background: #d7192c; /* Old browsers */
background: -moz-linear-gradient(top,  #d7192c 0%, #d7192c 50%, #a90e1f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7192c), color-stop(50%,#d7192c), color-stop(100%,#a90e1f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d7192c 0%,#d7192c 50%,#a90e1f 100%); /* W3C */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7192c', endColorstr='#a90e1f',GradientType=0 )"; /* IE6-9 */ padding: 2em 0; color: #fff; border-top: 1px solid #9c0010; }
.telephone-numbers strong{ color: #fcd100; font-size: 2.4em; display:block; margin-top:.4em; }
.telephone-numbers a { color:#FFF; }
.telephone-numbers a:hover { color: #fcd100; }
.telephone-numbers li li { margin-bottom:5px; }
#footer .columns3:first-child { width:252px; }
#footer .columns3 { width:240px; }


/* Autocomplete */
.auto-complete{ display: inline-block; width: auto; padding:7px; border: 1px solid #d0d0d0; background: #fff; cursor: pointer; position: relative; font: 1.6em Verdana, Arial, Helvetica, sans-serif; margin:-16px 12px 0; }
.ui-autocomplete,
.dropdown-menu{ position: absolute; left: 305px!important; top: 41px!important; z-index: 999; min-width: 33.1em; max-height: 21.3em;overflow: auto;padding:10px; border: 1px solid #fff; border-left-color: #d0d0d0; background: #fff; box-shadow: 0 .5em .7em #333; font: 1.067em Verdana, Arial, Helvetica, sans-serif;}
.dropdown-menu:after { content: ""; }
.dropdown-menu strong{ font-weight: bold;}
.ui-helper-hidden-accessible{ font-size: 1.4em; color: #989898; }
#IBSPT1 ul.dropdown-menu{min-width: 26em;}

.two-col-50-50 .col {width:49%;float:left;}
.two-col-50-50 .col:first-child {padding-right:2%;}



/*Your opinion*/
.textarea-container label { display:block; font-weight:bold; font-size:1.2em; margin-bottom:10px; }
.textarea-container textarea { width:630px; height:80px; }
.textarea-container textarea + span { color:  #777; display:block; font-size:1.2em; margin-top:5px; }
.opinion-privacy .heading-3 { font-size:1.8em; }
.opinion-privacy .content ul { font-size:1.3em; }
.opinion-privacy .content ul ul { font-size:1em; }
.opinion-privacy .content li  { margin-bottom:10px; line-height:1.3em; background-image:url(../img/black-bullet.png); background-repeat:no-repeat; background-position:left 7px; padding-left:10px; }
.opinion-privacy .content a { font-size:1em; }
.opinion-privacy .content strong { font-size:.95em; }

.captcha-container label { display:block; font-weight:bold; font-size:1.2em; margin-bottom:10px; }
.contact-thanks { font-size:1.3em; padding-left:80px; margin-top:15px; }
.contact-thanks li { float:left; width:35%; margin-bottom:15px; background-image:url(../img/sp-opinion-thanks.png); background-repeat:no-repeat; background-position:left top; padding-left:60px; height:38px; display:inline-block; padding-top:7px; line-height:1.2em;padding-right:30px; }
.contact-thanks li.sac { background-position:left -15px; padding-top:2px; }
.contact-thanks li.fb { background-position:left -358px; }
.contact-thanks li.mail { background-position:left -206px; }
.contact-thanks li.tw { background-position:left -520px; }


.contact-thanks.hght-auto li { min-height:38px; height: auto; }





/*Iberia Empresa
-------------------------------------------------------------------------------------------------*/
.iberia-empresa #member-log li {border-right: 1px solid #d4d4d4;position: relative;}
.iberia-empresa #member-log li a {color: #333;}
.iberia-empresa #member-log li a.btn-s {padding: 10px 15px;margin-top: -10px;color: #fff;}
.iberia-empresa #member-log li.opener {padding-right: 1.8em;cursor: pointer;}
.iberia-empresa #member-log li.opener a.op:after { content:""; position: absolute; top:6px; right:7px; border:5px solid transparent; border-top:5px solid #5c5c5c; display:block; }

.iberia-empresa #member-log .register-layer {position: absolute;left: -999em;z-index: 999;width: 600px;}
.iberia-empresa #member-log li.opener:hover ul {left: -346px;}
.iberia-empresa #member-log .register-layer li {margin: 0;padding: 0;border: 0;border-top: 1px solid #d4d4d4;}
.register-layer .heading-2 {font-size: 2.917em;line-height: 1em;padding-bottom: 10px;}
.register-layer .block1 {background: #f9f9f9;float: left;width: 291px;height: 285px;padding: 20px;}
.register-layer .block2 {background: #fff;float: left;width: 229px;height: 285px;padding: 20px;}
.iberia-empresa #member-log li a.btn-m {color: #fff;font-size: 1.25em;}
.iberia-empresa #member-log .form-item {display: block;margin-bottom: 10px;}
.iberia-empresa #member-log .form-item label {width: 100px;text-align: right;float: left;padding-top: 8px;margin-right: 5px;font-size: 1.083em;margin-bottom: 5px;}
.iberia-empresa #member-log .form-item input {float: left;width: 160px;font-size:1.083em;}
.iberia-empresa #member-log .form-item-onecol {margin-left: 100px;margin-bottom: 10px;display: block;}
.iberia-empresa  #member-log .register-layer a {color: #D7192D;}
.iberia-empresa #member-log fieldset {margin-bottom: 20px;}
.iberia-empresa .arrow-layer {background: url("../img/arrow-tooltip-top2.png") no-repeat;width: 29px;height: 15px;display: block;position: absolute;top: -15px;right: 114px;}

.iberia-empresa .one-world {float: right;margin-left: 15px;margin-top: 29px;}

.iberia-empresa #footer {margin-top:30px;}
.iberia-empresa #footer .content-inner {border-top: 2px solid #D7192D;padding-bottom: 10px;}
.iberia-empresa .copy {padding: 15px 0 0;}
.iberia-empresa .copy img {margin-top: 2px;}
.iberia-empresa .copy li {float: left;}
.iberia-empresa .copy li a {padding: 0 5px;border-left: 1px solid #d4d4d4;}
.iberia-empresa .copy li:first-child a {border-left: none;}

/* Modal contacta */
.list-big-icons li {float:left;width:148px;text-align:center;padding:0 10px;}
.list-big-icons li a .title {color:#333;}
.list-big-icons li a:hover .title {text-decoration: none;}
.list-big-icons li a:hover strong {text-decoration: underline;}
.list-big-icons li span.title {display:block;font-size:1.5em;padding-bottom:80px;}
.list-big-icons li a span.title {font-size:1.154em;}
.list-big-icons li strong {font-weight:normal;font-size:1.3em;}
.list-big-icons li.mail {background: url(../img/ico-mail-m.png) no-repeat center center;}
.list-big-icons li.mail strong {font-size:1em;}
.list-big-icons li.fax {background: url(../img/ico-fax-m.png) no-repeat center center;}
.list-big-icons li.phone {background: url(../img/ico-phone-m.png) no-repeat center center;}


/*Sitemap
-------------------------------------------------------------------------------------------------*/
.sitemap { margin-left:20px; }
.sitemap .expand { float:left; margin-right:1%; }
.sitemap.cols4 .expand { width:24%; }
.sitemap.cols4more .expand { width:24%; min-height:220px; }
.sitemap.cols3 .expand { width:32%; }
.sitemap .expand > a { color:#333; font-weight:bold; }
.sitemap .expand > strong { font-size:1.4em; }
.sitemap .expand ul { margin-top:7px; }
.sitemap .expand ul li { margin-bottom:7px; color:#333; }
.sitemap .expand ul li a { color:#D7192D; }
.sitemap .expand ul li a:hover { text-decoration:underline; }
.sitemap .expand ul ul { margin-left:20px; }

/*Faqs
-------------------------------------------------------------------------------------------------*/
.faqs-block ul { list-style:disc; margin-left:20px; padding-right:30px;}
.faqs-block li { font-size:1.2em;  line-height:1.25em; margin-bottom:5px;  }

/*Modal iframe
-------------------------------------------------------------------------------------------------*/
#modal-iframe .block-modal {padding:0;}
#modal-iframe iframe {margin-top:65px;}
body.modal-iframe {min-width:0;background: #fff;}
body.modal-iframe .content-inner {width:auto;}
body.modal-iframe .block-style {padding-top:0;}
body.modal-iframe .block-style .block-style { padding:25px; }
body.modal-iframe .heading-1 {font-size:4.7em;}


/*SEO 2014 COUNTRY-LANG
-------------------------------------------------------------------------------------------------*/

#header-tools .country-list {
  float: left;
  padding: 3px 0 0;
}

#header-tools .country-list .country-list-inner {
	float: left;
	background: url(../img/world-lang-select.png) no-repeat left center;
	margin: 0 .6em 0 0;
	padding: .4em 0 0.4em 3em;
}

#header-tools p.country-header{
	float: left;
	background: url(../img/world-lang-select.png) no-repeat left center;
	margin: 0 .6em 0 0;
	padding: .6em 0 0.4em 2.4em;
}

#header-tools .country-dropdown .country-selector {
	background-color:#fff;
	position:absolute;
	left: -30px;
	top: 6px;
	width: 1002px; 
	padding: 0;
	min-height:1px;
	height: auto;
	z-index:999999;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
	display:none;
}

#country-select .destination-countries {
	float: left;
	display: inline;
	width: 150px !important;
}

#country-select .destination-countries li.active{
	background-color: #d7192d;
	color: #fcd100;
}

#country-select .destination-countries li {
	color: #333;
	border-bottom: 1px solid #d1d1d1;
	height: 34px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.51em;
	cursor: pointer;
	vertical-align: middle;
	padding: 30px 15px 15px !important;
}

#header-tools #country-select.country-dropdown li { 
	white-space: normal;
}

#header-tools #country-select.country-dropdown .destination-cities{
	border:none;
	height:100%;
}

#header-tools #country-select.country-dropdown .destination-cities .heading-3{
	font-size:28px;
  line-height: 1.154em;
	margin:0;
	padding: 0;
}

#header-tools #country-select.country-dropdown .destination-cities li{
	float:left;
	width:auto;
}

#header-tools #country-select.country-dropdown .destination-cities .letter-filter{
	font-size:15px;
	font-weight:normal;
}

#header-tools #country-select.country-dropdown .destination-cities .letter-filter span.inactive{
	padding: 0 6px;
	line-height: 1.3em;
	font-size: 19px;
	margin-bottom:0;
	color:#c0c0c0;
}

#header-tools #country-select.country-dropdown .destination-cities .cities{
	font-size:12px;
	overflow: hidden;
	margin-top: 0;
	max-height: 100%;
}

#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list {
  float: left;
  display: inline;
  width: 28%;
  margin-right: 0;
  position: relative;
}

#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list ul {
	float: left;
	display: inline;
	width: 28%;
	margin-right: 0;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	position: relative;
}

#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list > .cities-item > ul {
	float: left;
	width: 100%;
	margin-bottom: 0.9em;
	padding: 0;
	position: relative;
}

#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list > .cities-item > ul:hover {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list > .cities-item > ul > li {
	padding: 0.4em 0 0.3em 0.7em;
}

#header-tools #country-select.country-dropdown .destination-cities .cities .cities-item,
#header-tools #country-select.country-dropdown .destination-cities .cities ul li {
	color: #fff;
	float:left;
	position:relative;
	clear: both;
	margin-bottom: 0 !important;
	padding: 0;
	min-height: 15px;
	width: 96%;
}

#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list .cities-item ul li.selected,
#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list .cities-item ul li:hover.selected{
	background-color:#c4061c;
}

#header-tools #country-select.country-dropdown .destination-cities .cities ul li.selected a{
	color: #fff !important;
}
#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list .cities-item ul li:hover{
	background-color:#f0f0f0;
}
#header-tools #country-select.country-dropdown .destination-cities .cities .cities-list .cities-item ul li a:hover{
	color:#383838;
}


#header-tools #country-select.country-dropdown .destination-cities .cities ul li a{
	font-size:12px;
	padding:0;
	text-decoration: none;
	width: 100%;
}

#header-tools #country-select.country-dropdown .destination-countries li:hover{
	background-color: #fff;
	
}

#header-tools #country-select.country-dropdown ul.destination-countries {
	width:150px !important;
	min-width: 150px !important;
	padding:0;
	
	border-right: 1px solid #d1d1d1;
}

#header-tools #country-select.country-dropdown ul.destination-countries li.active,
#header-tools #country-select.country-dropdown ul.destination-countries li:hover{
	background-color:#fff;
	color: #d7192d;
}

#header-tools #country-select.country-dropdown ul.destination-countries li {
	background-color:#f0f0f0;
	width: 100%;
	height: 128px;
	padding:0 !important;
	text-align:left;
	position:relative;
	background-image: url(../img/world_lang_sprite.png);
	background-position:0 -7px;

}

#header-tools #country-select.country-dropdown ul.destination-countries li span, #header-tools #country-select.country-dropdown ul.destination-countries li a {
	position:absolute;
	bottom:0px;
	left:15px;
	text-decoration: none;
}

#header-tools #country-select.country-dropdown ul.destination-countries li.active span, #header-tools #country-select.country-dropdown ul.destination-countries li.active a { bottom: -2px; left: 13px;}

#header-tools #country-select.country-dropdown ul.destination-countries li.todos {
	background-position: 0 0;
}
#header-tools #country-select.country-dropdown ul.destination-countries li.todos.active,
#header-tools #country-select.country-dropdown ul.destination-countries li.todos:hover{
    background-position: -150px 0;
}

#header-tools #country-select.country-dropdown ul.destination-countries li.america {
    background-position: 0 -135px;
}
#header-tools #country-select.country-dropdown ul.destination-countries li.america.active,
#header-tools #country-select.country-dropdown ul.destination-countries li.america:hover{
    background-position: -150px -135px;
}


#header-tools #country-select.country-dropdown ul.destination-countries li.europe {
    background-position: 0 -257px;
}
#header-tools #country-select.country-dropdown ul.destination-countries li.europe.active,
#header-tools #country-select.country-dropdown ul.destination-countries li.europe:hover{
    background-position: -150px -257px;
}


#header-tools #country-select.country-dropdown ul.destination-countries li.africa_oriente-medio {
    background-position: 0 -392px;
}
#header-tools #country-select.country-dropdown ul.destination-countries li.africa_oriente-medio.active,
#header-tools #country-select.country-dropdown ul.destination-countries li.africa_oriente-medio:hover{
    background-position: -150px -392px;
}

#header-tools #country-select.country-dropdown ul.destination-countries li.asia_oceania {
    background-position: 0 -530px;
}
#header-tools #country-select.country-dropdown ul.destination-countries li.asia_oceania.active,
#header-tools #country-select.country-dropdown ul.destination-countries li.asia_oceania:hover{
    background-position: -150px -530px;
}


#header-tools #country-select.country-dropdown ul.destination-countries .inner { position: absolute; top: 0; bottom: 0; left: 0; width: 100%;}

.booking-form .two-cols { margin-bottom:10px; }

/* @marcogiacomuzzi: se comentan los estilos a continuación
por ser duplicados en iberia-booking_acc.css. Además, dichos
estilos ya no se aplican a LABEL sino a .label_block.
*/
/*.booking-form .two-cols label,
.booking-form .two-cols .ppal-label,
.one-col-margin .internal-radio label { color:#333; font-size:1.5em !important; float:left; width:40%; text-align:right; margin-right:10px; display:block; margin-top:.4em; }*/

.booking-form .select-content { margin-right:10px; float:left; }
.IBDAPE .booking-form .select-content {margin-right: 10px;
float: left;
display: block;
width: 14%; }
.IBDAPE .custom-select-container .custom-select span span {font-size: 13px;}
.booking-form .newListSelected { float:left; width:13em; }
.booking-form .select-content .newListSelected { width: 7.5em; }
.booking-form [class*="fechas_"] .select-content .custom-select-container { float: none }


/* -----------------------------------
 Clases para el menú de navegación:
 de uso para los contenidos.
----------------------------------- */
/*Tipo tipografia*/
.texto-verdana { font-family: Verdana, Arial, Helvetica, sans-serif !important }

/*Tamaño texto*/
.texto-24, .texto-30, .texto-48 { line-height: 100% !important }
.texto-24 { font-size: .69em !important }
.texto-30 { font-size: .86em !important }
.texto-48 { font-size: 1.3725em !important }

/*Color texto*/
.color-blanco { color: #fff !important }
.color-amarillo { color: #fcd100 !important }
.color-rojo { color: #d7192d !important }

/*Margen superior e izquierdo*/
.mtop-md, .mtop-lg, .mleft-xs, .mleft-sm { position: relative !important }
.mtop-md { top: 6px !important }
.mtop-lg { top: 84px !important }
.mleft-xs { left: -18px !important }
.mleft-sm { left: -11px !important }

.IBPURC .modal-inner .noDsp {text-align: center;}
.IBTIMT a.link-white,.IBTIMT a.link-white:hover {
    color: #fff;
}
.PAHMPA .h-media > :last-child {
    display: inline-block;
    padding-top: 4px;
}
.PAHMPA .h-media #check-avios2 + label {
    padding-top: 0px;
}
.PAHMPA .h-media .n-tooltip {
    margin: 6px 0 19px 6px;
}
.IBIMTA .welcome h2 {
    font-size: 3em;
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-family: 'maven_pro',Verdana, Arial, Helvetica, sans-serif;
}

.IBDBEN .accordion-block .accordion-title a {color: #333;}
.IBDBEN .accordion-block .accordion-title a:hover {text-decoration: none;}

/* Página */

.ATCOFAS #encabezado_ancho h2 {
    font-family: 'maven_pro',Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    float: left;
    display: block;
    width: 100%;
    font-size: 3em;
    margin: 1em 0 .5em;
}
.ACTOFAS .flyDetail h3  {    font-size: 1.3em;}
.ACTOFAS .custom-select-container {min-width: 9em;}

.ATCPCC #centralCol01 #encabezado_ancho h1 {
  margin-top: 0.44em;
  margin-bottom: 0.1em;
  font-family: 'maven_pro',Verdana,Arial,Helvetica,sans-serif;
  font-size: 4.7em;
  font-weight: normal;
}   
/* Login permanente */
.top-tooltip { position: relative; z-index: 999999999; }
.top-tooltip .content-tooltip { display: none; position: absolute; bottom: 0; left: 0; width: 21em; margin-bottom: 3em; background-color: #FFF;
box-shadow: 0 3px 5px rgba(0, 0, 0, .8); padding: 1em; color: #383838; }
.top-tooltip .content-tooltip:before { content: ''; border-style: solid; border-color:#FFF transparent transparent; border-width: 10px; position: absolute; bottom: -20px; left: 25%; }
.top-tooltip:hover .content-tooltip { display: block; }
.top-tooltip p { font-size: 1em; }
.top-tooltip *[class*="heading-"] { margin-bottom: .5em; }
.top-tooltip.red-top-tooltip .content-tooltip {  background-color: #D62528; color: #FFF; }
.top-tooltip.red-top-tooltip .content-tooltip:before { border-color:#D62528 transparent transparent; }
/*fix navbar iberia-plus-connect */
.navbar .iberia-plus-connect .top-tooltip { font-size: 12px; }
.navbar .iberia-plus-connect .top-tooltip .content-tooltip { width: 19em; }
