/* Iberia Fonts */
@font-face {
    font-family: 'iberia_architecture';
    src: url('../fonts/eot/iberia_architecture-regular-webfont.eot');  /* IE9 Compat Modes */
    src: url('../fonts/eot/iberia_architecture-regular-webfont.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
         url('../fonts/woff/iberia_architecture-regular-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ttf/iberia_architecture-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/svg/iberia_architecture-regular-webfont.svg#iberia_architectureregular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
 

}

@font-face {
    font-family: 'iberia_bold_italic';
    src: url('../fonts/eot/iberia_text-bold_italic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/eot/iberia_text-bold_italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/woff/iberia_text-bold_italic-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ttf/iberia_text-bold_italic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/svg/iberia_text-bold_italic-webfont.svg#iberia_textbold_italic') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'iberia_bold';
    src: url('../fonts/eot/iberia_text-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/eot/iberia_text-bold-webfont.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
         url('../fonts/woff/iberia_text-bold-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ttf/iberia_text-bold-webfont.ttf') format('truetype'),  /* Safari, Android, iOS */
         url('../fonts/svg/iberia_text-bold-webfont.svg#iberia_textbold') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
 

}

@font-face {
    font-family: 'iberia_italic';
    src: url('../fonts/eot/iberia_text-italic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/eot/iberia_text-italic-webfont.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
         url('../fonts/woff/iberia_text-italic-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ttf/iberia_text-italic-webfont.ttf') format('truetype'),  /* Safari, Android, iOS */
         url('../fonts/svg/iberia_text-italic-webfont.svg#iberia_textitalic') format('svg');  /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'iberia_regular';
    src: url('../fonts/eot/iberia_text-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/eot/iberia_text-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/woff/iberia_text-regular-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ttf/iberia_text-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/svg/iberia_text-regular-webfont.svg#iberia_textregular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
  

}

@font-face {
    font-family: 'iberia_headline';
    src: url('../fonts/eot/iberia-headline-webfont.eot');/* IE9 Compat Modes */
    src: url('../fonts/eot/iberia-headline-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/woff/iberia-headline-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ttf/iberia-headline-webfont.ttf') format('truetype'),  /* Safari, Android, iOS */
         url('../fonts/svg/iberia-headline-webfont.svg#iberia_headlineregular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'maven_pro';
    src: url('../fonts/eot/mavenprolight-300-webfont.eot');/* IE9 Compat Modes */
    src: url('../fonts/eot/mavenprolight-300-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/woff/mavenprolight-300-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ttf/mavenprolight-300-webfont.ttf') format('truetype'),  /* Safari, Android, iOS */
         url('../fonts/svg/mavenprolight-300-webfont.svg#maven_pro_light300') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;


}

