﻿#StockQuote {
	color: #8c847c;
}

#StockQuote tr:nth-child(odd) {
	background-color: #f2f2f2;
}

#StockQuote td {
	font-size: 0.75em;
}

#StockQuote td:first-child {
	font-weight: bold;
}

#StockQuote td:last-child {
	padding-left: 0.5em;
}

#StockQuote a {
	font-size: 0.75em;
}

#StockQuote td .d0 {
	font-size: 0.75em;
	font-weight: bold !important;
}


#StockQuote td .d1 {
	font-size: 0.75em;
}

#StockQuote #disclaimer {
	margin-top: 0.2em;
	font-size: 0.8em;
}
