.scaling-svg-container {
    position: relative; 
    height: 0; 
    width: 400px;
    margin:0 auto;
    padding: 0;
    padding-bottom: 100%; 
    /* override this inline for aspect ratio other than square */
}
.scaling-svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
}
.screenreaders-only {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}
.header-banner#a2144298 .mid-align a.button {
    background-color:rgba(255,255,255,0.4);
    border-color:#036;
    color:#036;
}
.header-banner#a2144298 .mid-align a.button:hover {
    background-color:#0076de;
    border-color:transparent;
    color:#fff;
}
.header-banner#a2144298 .mid-align a.button:after {
    color:inherit;
}
.header-banner#a2144298 .blurred {
    background:rgba(255,255,255,0.3);
    box-shadow:0 0 100px 100px rgba(255,255,255,0.3);
}
@media screen and (max-width: 600px) {
    .scaling-svg-container {
         width: 300px;
    }
}