@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=4HOQfjGzBi9PTdOKlaW7C-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165&v=v6) format('truetype');
}
