body, img {
    background-color: #FFFFFF;
    border: 0 none;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
.headerback {
    background: url("../images/headerrepeat.png") repeat-x scroll 0 0 transparent;
    height: 128px;
    width: 100%;
    z-index: 1;
}
.container {
    background: url("../images/pagegrad.png") repeat-y scroll 0 0 transparent;
    display: table;
    margin: -128px auto 0;
    width: 1054px;
}
.maincontainer {
    display: table;
    margin: 0 0 0 17px;
    width: 1018px;
}
.headercontainer {
    background: url("../images/headerback.png") repeat-y scroll -93px 0 transparent;
    height: 128px;
    position: relative;
}
.logocontainer {
    background: url("../images/headerback.png") no-repeat scroll -93px -39px transparent;
    cursor: pointer;
    height: 88px;
    left: 0;
    position: absolute;
    top: 39px;
    width: 270px;
}
.footerback {
    background-color: #C8C8C8;
    display: table;
    width: 100%;
}
.footerbackcenter {
    background: url("../images/pagegrad.png") repeat-y scroll 0 0 transparent;
    display: table;
    height: 75px;
    margin: 0 auto;
    width: 1054px;
}
.footercontainer {
    background: url("../images/footerback.png") repeat-x scroll 0 0 transparent;
    display: table;
    height: 75px;
    margin: 0 0 0 17px;
    position: relative;
    width: 1018px;
}
.footercopyinfo {
    color: #FFFFFF;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 32px;
}

.footercopyinfo a{
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: underline;
}

.footercopyinfo a:hover{
    text-decoration: none;
}


.footercounters {
    position: absolute;
    right: 10px;
    top: 23px;
}
#topmenu {
    left: 10px;
    position: absolute;
    top: 12px;
}
#topmenu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#topmenu li {
    float: left;
    padding: 0 8px;
}
#topmenu a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}
#topmenu a:hover {
    text-decoration: underline;
}
#searchbox {
    background-color: #FFFFFF;
    border: 1px solid #8EC9F0;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 175px;
}
#searchbox input {
    border: 0 none;
    color: #6B6B6B;
    font-size: 12px;
    outline: medium none;
    padding: 1px 0 0 5px;
    width: 150px;
}
#searchbox div {
    background: url("../images/search.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 1px;
    top: 0;
    width: 20px;
}
#mainmenu {
    background: url("../images/menurepeat.png") repeat-x scroll 0 0 transparent;
    display: table;
    height: 57px;
    position: relative;
    width: 1018px;
}
#mainmenu ul {
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
}
#mainmenu li {
    float: left;
    padding: 10px 5px;
}
#mainmenu li a {
    color: #626262;
    font-size: 17px;
    padding: 5px 10px;
    text-decoration: none;
}
#mainmenu li a:hover {
    background-color: #4D96C7;
    color: #FFFFFF;
}
#mainmenu .social {
    margin: 0;
    position: absolute;
    right: 12px;
    top: 12px;
}
#mainmenu .social div {
    border: 0 solid;
    cursor: pointer;
    float: left;
    height: 34px;
    margin: 0 0 0 9px;
    width: 34px;
}
#mainmenu .facebook {
    background: url("../images/socialicons.png") no-repeat scroll -2px -1px transparent;
}
#mainmenu .twitter {
    background: url("../images/socialicons.png") no-repeat scroll -46px -1px transparent;
}
#mainmenu .youtube {
    background: url("../images/socialicons.png") no-repeat scroll -91px -1px transparent;
}
#mainmenu .rss {
    background: url("../images/socialicons.png") no-repeat scroll -135px -1px transparent;
}

#mainmenu .mobile {
    background: url("../images/mobile.png") no-repeat;
}

#mainmenu .mail {
    background: url("../images/socialicons.png") no-repeat scroll -182px -1px transparent;
}
#submenu {
    background-color: #F3F3F3;
    border-bottom: 1px solid #C5C5C5;
    border-top: 1px solid #C5C5C5;
    display: none;
    padding: 0;
    width: 100%;
}
#submenu ul {
    border: 0 solid;
    display: table;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 169px;
}
#submenu li:hover > a {
    color: #FFFFFF;
    text-decoration: none;
}
#submenu li:hover {
    background-color: #4D96C7;
}
#submenu li {
    padding: 5px 3px;
    height: 17px;
}
#submenu li a {
    color: #626262;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
}
#submenu li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#topslider {
    display: table;
    height: 110px;
    padding: 6px 0;
    width: 100%;
}
#topslider .left {
    border: 0 solid;
    float: left;
    height: 110px;
    position: relative;
    width: 33px;
}
#topslider .right {
    border: 0 solid;
    float: left;
    height: 110px;
    position: relative;
    width: 33px;
}
#topslider .center {
    border: 0 solid;
    float: left;
    height: 110px;
    width: 952px;
}
#topslider ul {
    height: 110px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 952px;
}
#topslider li {
    display: inline;
    float: left;
    height: 110px;
    margin: 0;
    outline: 0 solid;
    padding: 0;
    width: 136px;
}
#topslider .subitem {
    border: 5px solid #D8D8D8;
    float: left;
    height: 90px;
    margin: 5px 3px 0;
    position: relative;
    width: 120px;
}
#topslider .subitem:hover {
    border: 5px solid #4D96C7;
}
#topslider .subitem:hover > .subitemtext {
    display: block;
}
#topslider .subitem:hover > .subitemoverlay {
    display: block;
}
#topslider .subitemimage {
    height: 90px;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 120px;
    z-index: 100;
}
#topslider .subitemimage img {
    border: 0 none;
    height: 90px;
    width: 120px;
}
#topslider .subitemtext {
    display: none;
    height: 84px;
    left: 0;
    padding: 3px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 114px;
    z-index: 101;
}
#topslider .subitemtext a {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
#topslider .subitemtext a:hover {
}
#topslider .subitemoverlay {
    background-color: #E6E3E1;
    display: none;
    height: 90px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: 100;
}
#topslider .leftbutton {
    background: url("../images/topleft.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 44px;
    left: 0;
    position: absolute;
    top: 33px;
    width: 44px;
}
#topslider .rightbutton {
    background: url("../images/topright.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 44px;
    left: -8px;
    position: absolute;
    top: 33px;
    width: 44px;
}
#mainpagelayout {
    display: table;
    margin: 0 0 5px;
    outline: 0 solid;
    width: 100%;
}
#mainpagelayout .left {
    display: table;
    float: left;
    margin: 0 0 0 7px;
    outline: 0 solid;
    width: 500px;
}
#mainpagelayout .right {
    float: left;
    margin: 0;
    outline: 0 solid;
    width: 220px;
}
#mainpagelayout .center {
    border: 0 solid;
    display: table;
    float: left;
    margin: 0 7px 0 6px;
    padding: 0;
    width: 265px;
}
#mainslider {
    border: 1px solid #175C8A;
    display: table;
    height: 262px;
    margin: 0;
    width: 500px;
}
#mainslider .header {
    background-color: #175C8A;
    display: table;
    height: 40px;
    width: 100%;
}
#mainslider .headertitle {
    background-color: #2B2B2B;
    border: 0 solid;
    left: 0;
    margin: 0;
    min-height: 60px;
    opacity: 0.8;
    outline: 0 solid;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 490px;
    z-index: 10;
}
#mainslider .headertitle a {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
#mainslider .headertitle a:hover {
    text-decoration: underline;
}
#mainslider .headercontrols {
    border: 0 solid;
    display: table-cell;
    float: right;
    height: 40px;
    text-align: right;
    width: 350px;
}
#mainslider .headercontrols ul {
    border: 0 solid;
    display: table;
    float: right;
    list-style: none outside none;
    margin: 12px 9px 0 0;
    padding: 0;
    width: auto;
}
#mainslider .headercontrols li {
    cursor: pointer;
    float: left;
    height: 15px;
    margin: 0 3px;
    width: 15px;
}
#mainslider .headercontrols .selectedslide {
    background-color: #4D96C7;
}
#mainslider .headercontrols .normalslide {
    background-color: #FFFFFF;
}
#mainslider .headercontrols li:hover {
    background-color: #4D96C7;
}
#mainslider .mainslidercontainer {
    display: none;
    height: 375px;
    position: relative;
    width: 100%;
}
#mainslider .sliderleftbutton {
    background: url("../images/sliderleft.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: pointer;
    height: 46px;
    left: 0;
    position: absolute;
    width: 46px;
    z-index: 100;
}
#mainslider .sliderleftbutton:hover {
    background: url("../images/sliderleft_hover.png") no-repeat scroll 0 0 #2B2B2B;
    width: 100px;
}
#mainslider .sliderleftbutton:hover > .sliderleftbuttonthumb {
    display: block;
}
#mainslider .sliderleftbuttonthumb {
    display: none;
    left: 44px;
    position: absolute;
    top: 3px;
    z-index: 100;
}
#mainslider .sliderleftbuttonthumb img {
    border: medium none;
    height: 40px;
    width: 53px;
}
#mainslider .sliderrightbutton {
    background: url("../images/sliderright.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: pointer;
    height: 46px;
    position: absolute;
    right: 0;
    width: 46px;
    z-index: 100;
}
#mainslider .sliderrightbuttonthumb {
    display: none;
    left: 3px;
    position: absolute;
    top: 3px;
    z-index: 100;
}
#mainslider .sliderrightbuttonthumb img {
    border: medium none;
    height: 40px;
    width: 53px;
}
#mainslider .sliderrightbutton:hover {
    background: url("../images/sliderright_hover.png") no-repeat scroll 54px 0 #2B2B2B;
    width: 100px;
}
#mainslider .sliderrightbutton:hover > .sliderrightbuttonthumb {
    display: block;
}
#mainslider .sliderplaybutton {
    background: url("../images/sliderpause.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 46px;
    position: absolute;
    right: 125px;
    width: 46px;
    z-index: 100;
}
#mainslider .sliderplaybutton:hover {
    background: url("../images/sliderpause_hover.png") no-repeat scroll 0 0 transparent;
}
#mainslider .ulcontainer {
    height: 375px;
    list-style: none outside none;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 500px;
}
#mainslider .licontainer {
    display: inline;
    float: left;
    height: 375px;
    margin: 0;
    padding: 0;
    width: 500px;
}
#mainslider .divcontainer {
    display: table;
    height: 375px;
    position: relative;
    width: 100%;
}
#mainslider .divcontainer img {
    border: medium none;
    height: 375px;
    width: 500px;
}
#mainslider .leftcontainer {
    border: 0 solid;
    float: left;
    height: 222px;
    margin: 0;
    padding: 0;
    width: 204px;
}
#mainslider .lefttextcontainer {
    bottom: 0;
    position: absolute;
    width: 204px;
}
#mainslider .rightcontainer {
    float: right;
    height: 375px;
    margin: 0;
    padding: 0;
    width: 500px;
}
#mainslider .toplink {
    display: table;
    margin: 0;
    padding: 0 3px 10px;
    width: 100%;
}
#mainslider .toplink a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
#mainslider .toplink a:hover {
    text-decoration: underline;
}
#mainslider .centercontent {
    color: #FFFFFF;
    display: table;
    font-size: 12px;
    padding: 0 3px 5px;
    text-align: left;
    width: 203px;
}
#mainslider .bottomlink {
    border: 0 solid;
    display: table;
    padding: 0 0 8px;
    text-align: right;
    width: 193px;
}
#mainslider .bottomlink a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
}
#mainslider .bottomlink a:hover {
    text-decoration: none;
}
#mainblocks {
    display: table;
    width: 100%;
}
#mainblocks .mainblockscontainer {
    border: 1px solid #175C8A;
    margin: 6px 0 0;
}
#mainblocks .header {
    background-color: #175C8A;
    display: table;
    height: 40px;
    width: 100%;
}
#mainblocks .headertitle {
    color: #FFFFFF;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    margin: 9px 0 0 10px;
    padding: 0;
    text-transform: uppercase;
    width: 240px;
}
#mainblocks .headerlink {
    float: right;
    margin: 12px 10px 0 0;
    text-align: right;
    width: 200px;
}
#mainblocks .headerlink a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
#mainblocks .headerlink a:hover {
    text-decoration: underline;
}
#mainblocks .inside {
    display: table;
    height: 185px;
    width: 100%;
}
#mainblocks .insideleft {
    display: table;
    float: left;
    width: 252px;
}
#mainblocks .insideright {
    display: table;
    float: right;
    width: 248px;
}
#mainblocks .insideul {
    color: #2B2B2B;
    font-size: 12px;
    height: 185px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 252px;
}
#mainblocks .insideli {
    font-size: 14px;
    margin: 0;
    padding: 3px;
    width: 246px;
}
#mainblocks .insideliselected {
    background-color: #DDDDDD;
}
#mainblocks .insideli:hover {
    background-color: #DDDDDD;
}
#mainblocks .insideli:hover > a {
    text-decoration: underline;
}
#mainblocks .insideli a {
    color: #2B2B2B;
    font-size: 12px;
    text-decoration: none;
}
#mainblocks .insideli a:hover {
    text-decoration: underline;
}
#mainblocks .insideright img {
    border: 0 none;
    height: 185px;
    width: 248px;
}
#mainblocks .insideright a {
}
#mainblocks .mainblocsmediacontainer {
    display: table;
    margin: 6px 0 0;
    width: 100%;
}
#mainblocks .mediainsideleft {
    float: left;
    width: 248px;
}
#mainblocks .mediainsideright {
    float: right;
    width: 248px;
}
#mainblocks .mediainsidetitle {
    background-color: #175C8A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    padding: 5px 0 0 10px;
    text-transform: uppercase;
    width: 238px;
}
#mainblocks .mediainsidecontainer {
    border: 3px solid #383838;
    height: 182px;
    margin: 2px 0 0;
    position: relative;
    width: 242px;
}
#mainblocks .mediainsideul {
    list-style: none outside none;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}
#mainblocks .mediainsideli {
    display: inline;
    float: left;
    height: 182px;
    position: absolute;
    width: 242px;
}
#mainblocks .mediainsiderel {
    display: table;
    height: 182px;
    position: relative;
    width: 242px;
}
#mainblocks .mediainsidelink {
    height: 182px;
    left: 0;
    position: absolute;
    top: 0;
    width: 242px;
}
#mainblocks .mediainsidelink a {
}
#mainblocks .mediainsidelink a:hover {
}
#mainblocks .mediainsidelink img {
    border: 0 none;
    height: 182px;
    width: 242px;
}
#mainblocks .mediainsideoverlay {
    background-color: #383838;
    bottom: 0;
    display: table;
    height: 42px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    width: 245px;
}
#mainblocks .mediainsidetext {
    bottom: 0;
    display: table;
    height: 31px;
    left: 0;
    outline: 0 solid red;
    padding: 5px;
    position: absolute;
    width: 237px;
}
#mainblocks .mediainsidetext a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
#mainblocks .mediainsidetext a:hover {
    text-decoration: underline;
}
#mainblocks .medialeftbutton {
    background: url("../images/mediasliderleft.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    left: 0;
    position: absolute;
    top: 75px;
    width: 32px;
}
#mainblocks .medialeftbutton:hover {
    background: url("../images/mediasliderleft_hover.png") repeat scroll 0 0 transparent;
}
#mainblocks .mediarightbutton {
    background: url("../images/mediasliderright.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 0;
    top: 75px;
    width: 32px;
}
#mainblocks .mediarightbutton:hover {
    background: url("../images/mediasliderright_hover.png") repeat scroll 0 0 transparent;
}
#newslent {
    border: 1px solid #175C8A;
    display: table;
    outline: 0 solid;
    width: 100%;
}
#newslent .newslentheader {
    background-color: #175C8A;
    height: 40px;
    position: relative;
    width: 100%;
}
#newslent .newslentheadertext {
    border: 0 solid red;
    color: #FFFFFF;
    display: table;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 9px;
}
#newslent .newslentcontainer {
    display: table;
    width: 100%;
}
#newslent .newslentul {
    list-style: none outside none;
    margin: 0;
    outline: 0 solid;
    padding: 0 7px;
    width: 249px;
}
#newslent .newslentdateli {
    border-bottom: 2px solid #175C8A;
    color: #175C8A;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
}
#newslent .newslentli {
    font-size: 12px;
    padding: 5px 0;
}
#newslent .newslentli span {
    font-weight: bold;
    #color: #fdfdfd;
    #background-color: #175C8A;

}
#newslent .newslentli a {
    color: #2B2B2B;
    font-size: 12px;
    text-decoration: none;
}
#newslent .newslentli a:hover {
    text-decoration: underline;
}
#newslent .newslentarchivelink {
    float: left;
    padding: 5px 0;
    text-align: right;
    width: 259px;
}
#newslent .newslentarchivelink a {
    color: #175C8A;
    font-size: 14px;
    font-weight: bold;
}
#newslent .newslentarchivelink a:hover {
    text-decoration: none;
}
#popularnews {
    border: 1px solid #175C8A;
    display: table;
    margin: 6px 0;
    outline: 0 solid;
    width: 100%;
}
#popularnews .popularnewsheader {
    background-color: #175C8A;
    height: 40px;
    position: relative;
    width: 100%;
}
#popularnews .popularnewsheadertext {
    border: 0 solid red;
    color: #FFFFFF;
    display: table;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 9px;
}
#popularnews .popularnewscontainer {
    display: table;
    width: 100%;
}
#popularnews .popularnewsul {
    list-style: none outside none;
    margin: 0;
    outline: 0 solid;
    padding: 0;
    width: 100%;
}
#popularnews .popularnewsli {
    font-size: 12px;
    padding: 0;
}
#popularnews .popularnewslileft {
    display: table;
    float: left;
    height: 79px;
    margin: 2px 0;
    outline: 0 solid;
    width: 104px;
}
#popularnews .popularnewsliright {
    border: 0 solid;
    float: right;
    height: 79px;
    margin: 2px 0;
    width: 159px;
}
#popularnews .popularnewsli img {
    border: 2px solid #D8D8D8;
    height: 72px;
    margin: 0;
    width: 96px;
}
#popularnews .popularnewsli img:hover {
    border: 2px solid #175C8A;
}
#popularnews .popularnewsli a {
    color: #2B2B2B;
    font-size: 12px;
    margin: 2px;
    text-decoration: none;
}
#popularnews .popularnewsli a:hover {
    text-decoration: underline;
}
#popularnews .popularnewsbuttons {
    display: table;
    height: 40px;
    margin: 5px 0;
    width: 100%;
}
#popularnews .popularnewsbutton {
    background-color: #DDDDDD;
    border: 1px solid #C5BDBD;
    color: #2B2B2B;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    margin: 2px;
    padding: 12px 0 0;
    text-align: center;
    text-shadow: 1px 1px white;
    text-transform: uppercase;
    width: 82px;
}
#popularnews .popularnewsbuttonselected {
    background-color: #2B2B2B;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}
#popularnews .popularnewsbutton:hover {
    background-color: #2B2B2B;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}
#authorblock {
    border: 1px solid #175C8A;
    display: table;
    height: 590px;
    margin: 0;
    outline: 0 solid;
    position: relative;
    width: 220px;
}
#authorblock .authorblockheader {
    background-color: #175C8A;
    height: 40px;
    position: relative;
    width: 100%;
}
#authorblock .authorblockheadertext {
    border: 0 solid red;
    color: #FFFFFF;
    display: table;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 9px;
}
#authorblock .authorblockcontainer {
    border: 0 solid;
    display: table;
    width: 100%;
}
#authorblock .authorblocksul {
    list-style: none outside none;
    margin: 0;
    outline: 0 solid;
    padding: 0;
    width: 220px;
}
#authorblock .authorblocksli {
    float: left;
    font-size: 12px;
    padding: 0;
    position: absolute;
    width: 220px;
}
#authorblock .authorblocksinsideul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#authorblock .authorblocksinsideli {
    width: 100%;
}
#authorblock .authorblocksinsideli img {
    border: 2px solid #D8D8D8;
    height: 85px;
    width: 70px;
}
#authorblock .authorblocksinsideli img:hover {
    border: 2px solid #4D96C7;
}
#authorblock .authorblockleft {
    border: 0 solid;
    float: left;
    height: 95px;
    outline: 0 solid;
    padding: 11px 3px 0;
    width: 128px;
}
#authorblock .authorblockright {
    border: 0 solid;
    float: right;
    height: 92px;
    outline: 0 solid;
    padding: 7px;
    width: 70px;
}
#authorblock .authorblocklink1 {
    color: #175C8A;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 2px;
    text-decoration: none;
    width: 100%;
}
#authorblock .authorblocklink1:hover {
    text-decoration: underline;
}
#authorblock .authorblocklink2 {
    color: #2B2B2B;
    text-decoration: none;
}
#authorblock .authorblocklink2:hover {
    text-decoration: underline;
}
#authorblock .authorblocklink3 {
}
#authorblock .authorblocklink3:hover {
}
#authorblock .authorcontrols {
    border: 0 solid;
    bottom: 0;
    display: table-cell;
    float: right;
    height: 35px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#authorblock .authorcontrols ul {
    border: 0 solid;
    display: table;
    list-style: none outside none;
    margin: 12px auto;
    padding: 0;
    width: auto;
}
#authorblock .authorcontrols li {
    cursor: pointer;
    float: left;
    height: 15px;
    margin: 0 3px;
    width: 15px;
}
#authorblock .authorcontrols .selectedslide {
    background-color: #085284;
}
#authorblock .authorcontrols .normalslide {
    background-color: #BDBDBD;
}
#authorblock .authorcontrols li:hover {
    background-color: #085284;
}
#voteblock {
    border: 1px solid #175C8A;
    display: table;
    margin: 6px 0 0;
    outline: 0 solid;
    position: relative;
    width: 220px;
}
#voteblock .votepanel {
    display: block;
    width: 100%;
}
#voteblock .voteresultpanel {
    display: none;
    width: 100%;
}
#voteblock .showvote {
    margin: 8px 0;
}
#voteblock .showvote a {
    color: #175C8A;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 0 7px;
    text-decoration: underline;
}
#voteblock .showvote a:hover {
    text-decoration: none;
}
#voteblock .voteheader {
    background-color: #175C8A;
    height: 40px;
    position: relative;
    width: 100%;
}
#voteblock .voteheadertext {
    border: 0 solid red;
    color: #FFFFFF;
    display: table;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 9px;
}
#voteblock .votequery {
    color: #5587A9;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px 5px;
    width: 210px;
}
#voteblock .voteanswer {
    display: table;
    padding: 0;
    width: 220px;
}
#voteblock .voteanswerleft {
    float: left;
    padding: 2px;
    width: 20px;
}
#voteblock .voteanswerleft input {
}
#voteblock .voteanswerright {
    border: 0 solid;
    float: left;
    padding: 5px 0 5px 1px;
    width: 190px;
}
#voteblock .voteanswerright label {
    font-size: 12px;
}
#voteblock .voteresult {
    display: table;
    width: 100%;
}
#voteblock .voteresult input[type="button"] {
    background-color: #4D96C7;
    border: 1px solid #4D96C7;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    margin: 5px 0 9px 5px;
    outline: medium none;
    text-transform: uppercase;
    width: 100px;
}
#voteblock .voteresult input[type="button"]:hover {
    background-color: #2B2B2B;
    border: 1px solid #2B2B2B;
}
#voteblock .voteresult a {
    color: #175C8A;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 0 31px;
    text-decoration: underline;
}
#voteblock .voteresult a:hover {
    text-decoration: none;
}
#selectedblock {
    border: 1px solid #175C8A;
    display: table;
    margin: 6px 0 0;
    outline: 0 solid;
    position: relative;
    width: 220px;
}
#selectedblock .selectedblockheader {
    background-color: #175C8A;
    height: 40px;
    position: relative;
    width: 100%;
}
#selectedblock .selectedblockheadertext {
    border: 0 solid red;
    color: #FFFFFF;
    display: table;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 9px;
}
#selectedblock .selectedblockcontainer {
    display: table;
    width: 100%;
}
#selectedblock .selectedblockcontainer ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#selectedblock .selectedblockcontainer li {
    border: 0 solid;
    display: table;
    padding: 5px;
    width: 210px;
}
#selectedblock .selectedblockcontainer li img {
    border: 2px solid #D8D8D8;
    float: left;
    height: 45px;
    margin: 0 7px 0 0;
    width: 60px;
}
#selectedblock .selectedblockcontainer li img:hover {
    border: 2px solid #175C8A;
}
#selectedblock .selectedblocklink {
    color: #2B2B2B;
    text-decoration: none;
}
#selectedblock .selectedblocklink:hover {
    text-decoration: underline;
}
#insidepagelayout {
    display: table;
    margin: 10px 0;
    outline: 0 solid;
    width: 100%;
}
#insidepagelayout .right {
    border: 0 solid;
    display: table;
    float: right;
    margin: 0 11px 0 0;
    outline: 0 solid;
    padding: 0;
    width: 265px;
}
#insidepagelayout .left {
    float: left;
    margin: 0 0 0 8px;
    outline: 0 solid;
    width: 726px;
}
#newsreadblock {
    display: table;
    outline: 0 solid;
    width: 100%;
}
#newsreadblock .newstitle {
    color: #175C8A;
    display: table;
    font-size: 24px;
    font-weight: normal;
    outline: 0 solid;
    padding: 6px 0 7px 2px;
    width: 100%;
}
#newsreadblock .metablock {
    background-color: #F4F4F4;
    border: 1px solid #D1D1D1;
    display: table;
    height: 37px;
    margin: 1px 0 10px;
    position: relative;
    width: 100%;
}
#newsreadblock .metablockinfo {
    color: #618FAD;
    display: table;
    font-size: 12px;
    font-weight: bold;
    left: 10px;
    outline: 0 solid;
    position: absolute;
    text-align: left;
    top: 5px;
    vertical-align: top;
    width: 300px;
}
#newsreadblock .metablocksocialicons {
    position: absolute;
    right: -10px;
    top: 10px;
	width:190px;
}
#newsreadblock .textcontainer {
    color: #2B2B2B;
    display: table;
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
}
#newsreadblock .textcontainer img {
    margin: 5px 6px 3px 0;
    max-width: 718px;
}
#newsreadblock .textcontainer a {
    color: #2B2B2B;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
}
#newsreadblock .textcontainer a:hover {
    text-decoration: underline;
}
#newsreadblock .textimage {
    border: 0 none;
    float: left;
    height: 263px;
    margin: 4px 10px 8px 0;
    width: 350px;
}
#newsreadblock .smallfacebookicon {
    background: url("../images/socialicons2.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    margin: 3px;
    outline: 0 solid;
    width: 18px;
}
#newsreadblock .smalltwittericon {
    background: url("../images/socialicons2.png") no-repeat scroll -24px 0 transparent;
    display: block;
    float: left;
    height: 18px;
    margin: 3px;
    outline: 0 solid;
    width: 18px;
}
#newsreadblock .smallsendicon {
    background: url("../images/socialicons2.png") no-repeat scroll -97px 0 transparent;
    display: block;
    float: left;
    height: 18px;
    margin: 3px;
    outline: 0 solid;
    width: 18px;
}
#newsreadblock .smallfontplusicon {
    background: url("../images/aplus.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 18px;
    margin: 3px;
    width: 18px;
}
#newsreadblock .smallfontminusicon {
    background: url("../images/aminus.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 18px;
    margin: 3px;
    width: 18px;
}
#newsreadblock .smallpdficon {
    background: url("../images/pdf.png") no-repeat scroll 0 1px transparent;
    display: block;
    float: left;
    height: 18px;
    margin: 3px;
    width: 18px;
}
#newsreadblock .smallprinticon {
    background: url("../images/print.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    margin: 3px;
    width: 18px;
}
#relatednewsblock {
    border-top: 2px solid #175C8A;
    display: table;
    margin: 10px 0 0;
    width: 100%;
}
#relatednewsblock .relatedheader {
    color: #175C8A;
    font-size: 24px;
    padding: 8px 0;
}
#relatednewsblock .relatedcontainer {
    margin: 0 0 0 -7px;
    text-align: center;
}
#relatednewsblock .relatedthumb {
    background-color: #D8D8D8;
    border: 5px solid #D8D8D8;
    display: table;
    float: left;
    margin: 0 0 0 7px;
    outline: 0 solid;
    padding: 0;
    width: 166px;
}
#relatednewsblock .relatedthumb:hover {
    background-color: #175C8A;
    border: 5px solid #175C8A;
}
#relatednewsblock .relatedthumb:hover > .relatedthumbcenter a {
    color: #FFFFFF;
}
#relatednewsblock .relatedthumbtop {
    display: table;
    width: 100%;
}
#relatednewsblock .relatedthumbtop img {
    height: 123px;
    width: 164px;
}
#relatednewsblock .relatedthumbtop img:hover {
}
#relatednewsblock .relatedthumbcenter {
    border: 0 solid;
    height: 40px;
    margin: 5px 0;
    text-align: left;
    width: 166px;
}
#relatednewsblock .relatedthumbcenter a {
    color: #2B2B2B;
    display: none;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
#relatednewsblock .relatedthumbcenter a:hover {
    text-decoration: underline;
}
#newsgallery {
    display: table;
    margin: 0 0 5px;
    width: 100%;
}
#newsgallery .newsgalleryleft {
    border: 0 solid;
    float: left;
    height: 110px;
    outline: 0 solid;
    position: relative;
    width: 35px;
}
#newsgallery .newsgalleryleftbtn {
    background: url("../images/topleft.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 44px;
    left: 0;
    position: absolute;
    top: 33px;
    width: 44px;
}
#newsgallery .newsgalleryright {
    border: 0 solid;
    float: left;
    height: 110px;
    outline: 0 solid;
    position: relative;
    width: 31px;
}
#newsgallery .newsgalleryrightbtn {
    background: url("../images/topright.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 44px;
    left: -8px;
    position: absolute;
    top: 33px;
    width: 44px;
}
#newsgallery .newsgallerycenter {
    float: left;
    height: 110px;
    margin: 0;
    outline: 0 solid;
    width: 660px;
}
#newsgallery .newsgalleryul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 660px;
}
#newsgallery .newsgalleryli {
    border: 5px solid #D8D8D8;
    float: left;
    height: 86px;
    margin: 7px 0 0 5px;
    padding: 0;
    width: 115px;
}
#newsgallery .simplegalleryul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#newsgallery .simplegalleryli {
    margin: 1px 0;
    padding: 0;
}
#newsgallery .simplegalleryli img {
    border: 0 none;
    margin: 0;
}
#newsgallery .newsgalleryli:hover {
    border: 5px solid #4D96C7;
}
#newsgallery .newsgalleryli img {
    height: 86px;
    width: 115px;
}
.popupgallerylink {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 0 0 15px;
    text-decoration: none;
}
.popupgallerylink:hover {
    text-decoration: underline;
}
#commentsblock {
    border-top: 2px solid #175C8A;
    display: table;
    margin: 10px 0 0;
    width: 100%;
}
#commentsblock .commentsheader {
    color: #175C8A;
    font-size: 24px;
    font-weight: normal;
    outline: 0 solid;
    padding: 8px 0;
}
#commentsblock .sendcomment {
    background-color: #4D96C7;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    padding: 5px 10px;
}
#commentsblock .sendcomment:hover {
    background-color: #2B2B2B;
}
#commentsblock .commmentcontainer {
    margin: 0 0 10px;
    width: 100%;
}
#commentsblock .commentitem {
    display: table;
    margin: 10px 0 0;
    width: 100%;
}
#commentsblock .subcommentitem {
    border-style: solid;
    border-width: 0 0 0 4px;
    color: #CCCCCC;
    display: table;
    margin: 10px 0 0 73px;
    outline: 0 solid;
    padding: 0 0 0 10px;
    width: 639px;
}
#commentsblock .commentitemheader {
    display: table;
    width: 100%;
}
#commentsblock .commentinfo {
    color: #232323;
    display: table;
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    width: 50%;
}
#commentsblock .commentinfo span {
    color: #979595;
    font-size: 10px;
    font-weight: normal;
    line-height: 15px;
}
#commentsblock .commentreply {
    float: right;
    text-align: right;
    width: 50%;
}
#commentsblock .commentreply a {
    color: #175C8A;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
#commentsblock .commentreply a:hover {
    text-decoration: underline;
}
#commentsblock .commentcontent {
    border-bottom: 1px solid #CCCCCC;
    color: #232323;
    font-size: 13px;
    margin: 0;
    padding: 2px 0 10px;
}
.intp1 {
    border: 1px solid #CCCCCC;
    margin: 5px 0 10px;
    padding: 5px;
    width: 250px;
}
.intp1:focus {
    border: 1px solid #4D96C7;
}
.intp2 {
    border: 1px solid #CCCCCC;
    margin: 5px 0 10px;
    padding: 5px;
    width: 130px;
}
.intp2:focus {
    border: 1px solid #4D96C7;
}
.area1 {
    border: 1px solid #CCCCCC;
    height: 132px;
    margin: 5px 0 10px;
    padding: 5px;
    resize: none;
    width: 350px;
}
.area1:focus {
    border: 1px solid #4D96C7;
}
.submit1 {
    background-color: #4D96C7;
    border: 0 none;
    color: white;
    height: 30px;
    margin: 0 0 0 263px;
    outline: 0 none;
    width: 100px;
}
.submit1:hover {
    background-color: #2B2B2B;
}
#newspaperblock {
    border: 1px solid #175C8A;
    display: table;
    margin: 6px 0 0;
    outline: 0 solid;
    position: relative;
    width: 220px;
}
#newspaperblock .newspaperheader {
    background-color: #175C8A;
    height: 40px;
    position: relative;
    width: 100%;
}
#newspaperblock .newspaperheadertext {
    border: 0 solid red;
    color: #FFFFFF;
    display: table;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 9px;
}
#newspaperblock .newspapercontainer {
    display: table;
    width: 100%;
}
#newspaperblock .newspapercontainer img {
    border: 0 none;
    height: 310px;
    width: 220px;
}
#kivdf {
    border: 1px solid #175C8A;
    display: table;
    margin: 6px 0 0;
    outline: 0 solid;
    position: relative;
    width: 220px;
}
#kivdf {
    background: url("../images/kivdf.jpg") no-repeat scroll 15px 15px #AE1B2D;
    border: 1px solid #175C8A;
    display: table;
    height: 180px;
    margin: 6px 0 0;
    outline: 0 solid;
    position: relative;
    width: 220px;
}
#kivdf .kivdflink {
    bottom: 0;
    left: 0;
    padding: 0 5px 8px;
    position: absolute;
    text-align: center;
    width: 210px;
}
#kivdf .kivdflink a {
    color: white;
    text-decoration: none;
}
#kivdf .kivdflink a:hover {
    text-decoration: underline;
}
#archivepagelayout {
    border: 0 solid;
    display: table;
    margin: 10px 0;
    outline: 0 solid;
    padding: 10px;
    width: 998px;
}

#archivepagelayout .catnameheader {
    background-color: #175C8A;
    height: 40px;
    position: relative;
    width: 100%;
}
#archivepagelayout .catnameheadertext {
    border: 0 solid red;
    color: #FFFFFF;
    display: table;
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 9px;
}

#archivepagelayout .searchboxcontainer {
}
#archivepagelayout .searchboxcontainer label {
    font-size: 14px;
}
#archivepagelayout .searchboxcontainer input[type="text"] {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
#archivepagelayout .searchboxcontainer input[type="text"]:focus {
    border: 1px solid #4D96C7;
}
#archivepagelayout .searchboxcontainer input[type="submit"], input[type="button"] {
    background-color: #4D96C7;
    border: 0 none;
    color: white;
    height: 30px;
    outline: 0 none;
    width: 92px;
}
#archivepagelayout .searchboxcontainer input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #2B2B2B;
}
#archivepagelayout .searchboxcontainer select {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
#archivepagelayout .searchboxcontainer select:focus {
    border: 1px solid #4D96C7;
}
#archivepagelayout .searchboxcontainer .searchboxcontainertitle {
}
#archivepagelayout .searcitemscontainer {
    display: table;
    margin: 20px 0 10px;
    width: 100%;
}
#archivepagelayout .searchitem {
    display: table;
    margin: 5px 0 0;
    width: 100%;
}
#archivepagelayout .searchitemleft {
    float: left;
    width: 126px;
}
#archivepagelayout .searchitemleft img {
    border: 3px solid #D8D8D8;
    height: 90px;
    width: 120px;
}
#archivepagelayout .searchitemleft img:hover {
    border: 3px solid #4D96C7;
}
#archivepagelayout .searchitemright {
    border: 0 solid;
    float: left;
    padding: 0 0 0 5px;
    width: 866px;
}

#archivepagelayout .searchitemright a {
    color: #2B2B2B;
    font-size: 14px;
    text-decoration: underline;
}
#archivepagelayout .searchitemright a:hover {
    text-decoration: none;
}
#archivepagelayout .searchitemdate {
    color: #2B2B2B;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
}
#archivepagelayout .searchitemsubtitle {
    color: #2B2B2B;
    font-size: 12px;
}
#pager {
    margin: 15px 0 0;
    text-align: center;
}
#pager a {
    background-color: #4D96C7;
    border: 1px solid #4D96C7;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 9px;
    text-decoration: none;
}
#pager a:hover, .pagination a:active {
    background-color: #4C4B4B;
    border: 1px solid #4C4B4B;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}
#pager .current {
    background-color: #4C4B4B;
    border: 1px solid #4C4B4B;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    padding: 5px 9px;
}
#pager .disabled {
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    font-size: 14px;
    padding: 5px 9px;
    text-decoration: none;
}

#langbox {
    display: table;
    position: absolute;
    right: 240px;
    top: 7px;
}
#langbox a {
    color: white;
    display: block;
    float: left;
    font-family: Arial;
    font-weight: bold;
    height: auto;
    padding: 5px 0 5px 30px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
#langbox a:hover {
    text-decoration: underline;
}
#langbox .azlang {
    background: url("../images/az.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#langbox .rulang {
    background: url("../images/ru.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#langbox .enlang {
    background: url("../images/az.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
