@font-face{font-family:'yekan';src:url('../fonts/BYekan.eot?#') format('eot'),
url('../fonts/BYekan.woff') format('woff'),
url('../fonts/BYekan.ttf') format('truetype'),
url('../fonts/BYekan.otf') format('opentype'),
url('../fonts/BYekan.svg') format('svg'),
local('B Yekan');font-weight:normal;font-style:normal;}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video{margin:0;padding:0;border:0;font-size:100%;font:inherit;text-decoration:none;vertical-align:baseline;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{display:block;}
audio,
canvas,
progress,
video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],
template{display:none;}
ul{list-style:none;}
blockquote,
q{quotes:none;}
blockquote:before,
blockquote:after,
q:before, q:after{content:'';content:none;}
h1 a ,
h2 a ,
h3 a{color:inherit;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
dfn{font-style:italic;}
mark{color:#000;background:#ff0;}
small{font-size:80%;}
sub,
sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
code,
kbd,
pre,
samp{font-family:monospace, monospace;font-size:1em;}
button,
input,
optgroup,
select,
textarea{font:inherit;color:inherit;}
button,
select{text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],
html input[disabled]{cursor:default;}
button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type="checkbox"],
input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid #c0c0c0;}
legend{padding:0;border:0;}
textarea{overflow:auto;}
optgroup{font-weight:bold;}
table{border-spacing:0;border-collapse:collapse;}
td,
th{padding:0;}
del{text-decoration:line-through;}
code,
kbd,
pre,
samp{font-family:Menlo, Monaco, Consolas, "Courier New", monospace;}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;color:#333;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px;}
pre code{padding:0;font-size:inherit;color:inherit;white-space:pre-wrap;background-color:transparent;border-radius:0;}
.hide{opacity:0;visibility:hidden;}
.hide-c{display:none;}
.wpas-multi-select{min-height:180px;}
.post-des-box .desc-text,
.post-des-box ul.desc-text,
.post-des-box ul.desc-text a{color:#000;}
.container{margin-right:auto;margin-left:auto;*zoom:1;}
.container:before,
.container:after{display:table;line-height:0;content:"";}
.container:after{clear:both;}
.p-r-20{width:20px;display:inline-block;}
.p-r-30{width:30px;display:inline-block;}
.row{*zoom:1;width:100%;}
.row:before,
.row:after{display:table;line-height:0;content:"";}
.row:after{clear:both;}
.col{float:right;}
.go-left{float:left;}
.ltr{direction:ltr;display:inline-block;}
.fast-transition{-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;-ms-transition:all 150ms ease-in-out;-o-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out;}
.medium-transition{-webkit-transition:all 250ms ease-in-out;-moz-transition:all 250ms ease-in-out;-ms-transition:all 250ms ease-in-out;-o-transition:all 250ms ease-in-out;transition:all 250ms ease-in-out;}
.slow-transition{-webkit-transition:all 400ms ease-in-out;-moz-transition:all 400ms ease-in-out;-ms-transition:all 400ms ease-in-out;-o-transition:all 400ms ease-in-out;transition:all 400ms ease-in-out;}
.clearfix{*zoom:1;}
.clearfix:before,
.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
code{padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:2px;padding:2px 4px;white-space:nowrap;direction:ltr;text-align:left;}
pre{margin:8px;}
input[type="radio"],
input[type="checkbox"]{margin:4px 0 0;margin-top:1px \9;line-height:normal;}
input[type="file"]{display:block;}
input[type="range"]{display:block;width:100%;}
select[multiple],
select[size]{height:auto;}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"]{cursor:not-allowed;}
.inline-list ul li{float:right;}
.browsehappy{background:#ccc;color:#000;padding:0.2em 0;text-align:center;position:fixed;top:0;width:100%;}
.browsehappy a{text-decoration:underline;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,
*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
::selection{background:#C569A6;color:#fff;}
::-moz-selection{background:#C569A6;color:#fff;}
p{line-height:1.7em;}
html{font-size:11px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{font-family:"tahoma","yekan","dinar","Verdana","Arial";font-size:11px;line-height:1.6;color:#333;background-color:#fff;overflow-x:hidden;}
a{color:#428bca;-webkit-transition:color 200ms ease-in-out,
opacity 200ms ease-in-out,
padding 200ms ease-in-out,
border-color 200ms ease-in-out,
box-shadow 200ms ease-in-out,
background-color 200ms ease-in-out;-moz-transition:color 200ms ease-in-out,
opacity 200ms ease-in-out,
padding 200ms ease-in-out,
border-color 200ms ease-in-out,
box-shadow 200ms ease-in-out,
background-color 200ms ease-in-out;-ms-transition:color 200ms ease-in-out,
opacity 200ms ease-in-out,
padding 200ms ease-in-out,
border-color 200ms ease-in-out,
box-shadow 200ms ease-in-out,
background-color 200ms ease-in-out;-o-transition:color 200ms ease-in-out,
opacity 200ms ease-in-out,
border-color 200ms ease-in-out,
padding 200ms ease-in-out,
box-shadow 200ms ease-in-out,
background-color 200ms ease-in-out;transition:color 200ms ease-in-out,
padding 200ms ease-in-out,
opacity 200ms ease-in-out,
border-color 200ms ease-in-out,
box-shadow 200ms ease-in-out,
background-color 200ms ease-in-out;text-decoration:none;}
p a:hover{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
li a{color:inherit;}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee;}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
pre,
blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr,
img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p,
h2,
h3{orphans:3;widows:3;}
h2,
h3{page-break-after:avoid;}
}
.in-height p{line-height:inherit;}
.wrapper{width:100%;}
.wrapper:before,
.wrapper:after{display:table;line-height:0;content:"";}
.wrapper:after{clear:both;}
.inner-el{width:1000px;}
.icon{display:inline-block;background:url(../images/icons.png) no-repeat;}
.block{display:block;}
.d-table{display:table}
.aligncenter{display:block;margin:14px auto;}
.icon-anchor{width:20px;height:10px;background-position:-290px -109px;}
.icon-arw-down-green{width:25px;height:13px;background-position:-171px -140px;}
.icon-arw-down{width:18px;height:11px;background-position:-356px -89px;}
.icon-arw-left3{width:7px;height:13px;background-position:-123px -110px;}
.icon-arw-left4{width:7px;height:13px;background-position:-370px -122px;}
.icon-arw-left5{width:6px;height:17px;background-position:-331px -108px;}
.icon-arw-left6{width:17px;height:20px;background-position:-275px -209px;}
.icon-arw-left-blank{width:6px;height:10px;background-position:-304px -17px;}
.icon-arw-left-dark{width:6px;height:10px;background-position:-297px -39px;}
.icon-arw-left-gray{width:6px;height:15px;background-position:-297px -23px;}
.icon-arw-left-green{width:6px;height:15px;background-position:-167px -109px;}
.icon-arw-left-violet{width:6px;height:10px;background-position:-287px -75px;}
.icon-arw-left{width:8px;height:14px;background-position:-309px -226px;}
.icon-author2{width:21px;height:17px;background-position:-96px -91px;}
.icon-author-white{width:20px;height:17px;background-position:-155px -91px;}
.icon-author{width:16px;height:13px;background-position:-150px -109px;}
.icon-bell{width:14px;height:20px;background-position:-362px -101px;}
.icon-blogger{width:17px;height:17px;background-position:-66px -106px;}
.icon-book{width:69px;height:47px;background-position:-134px -210px;}
.icon-bubble{width:19px;height:14px;background-position:-202px -37px;}
.icon-cart-dark2{width:23px;height:20px;background-position:-317px 0;}
.icon-cart-dark{width:23px;height:20px;background-position:-242px -23px;}
.icon-cart-red{width:22px;height:17px;background-position:-332px -126px;}
.icon-cart-white2{width:20px;height:20px;background-position:-266px -23px;}
.icon-cart-white{width:20px;height:20px;background-position:-304px -28px;}
.icon-cat{width:18px;height:13px;background-position:-131px -110px;}
.icon-clock{width:15px;height:14px;background-position:-325px -21px;}
.icon-close{width:16px;height:18px;background-position:-225px -23px;}
.icon-comments-bubles{width:17px;height:14px;background-position:-153px -195px;}
.icon-css3{width:31px;height:30px;background-position:-294px -78px;}
.icon-double-arw-left2{width:9px;height:10px;background-position:-84px -106px;}
.icon-double-arw-left{width:9px;height:10px;background-position:-352px -110px;}
.icon-double-arw-right{width:11px;height:13px;background-position:-322px -213px;}
.icon-download-green{width:24px;height:21px;background-position:-98px -109px;}
.icon-download-it{width:15px;height:14px;background-position:-275px -230px;}
.icon-download-white{width:24px;height:21px;background-position:-334px -213px;}
.icon-drrrrr{width:296px;height:8px;background-position:0 -372px;}
.icon-email{width:20px;height:15px;background-position:-311px -128px;}
.icon-eye-disabled{width:28px;height:23px;background-position:-119px -131px;}
.icon-eye-violet{width:28px;height:16px;background-position:-293px -209px;}
.icon-eye{width:18px;height:12px;background-position:-275px -245px;}
.icon-facebook2{width:65px;height:61px;background-position:0 -87px;}
.icon-facebook3{width:9px;height:18px;background-position:-287px -23px;}
.icon-facebook{width:10px;height:20px;background-position:-345px -89px;}
.icon-games{width:64px;height:46px;background-position:-311px -144px;}
.icon-gears{width:15px;height:16px;background-position:-301px 0;}
.icon-google_plus2{width:65px;height:61px;background-position:0 -149px;}
.icon-google_plus3{width:19px;height:18px;background-position:-311px -109px;}
.icon-google_plus{width:19px;height:19px;background-position:-291px -138px;}
.icon-graphics{width:66px;height:47px;background-position:-223px -93px;}
.icon-hand{width:52px;height:51px;background-position:-331px -37px;}
.icon-heart-white{width:43px;height:36px;background-position:-341px 0;}
.icon-heart{width:14px;height:11px;background-position:-208px -106px;}
.icon-hits{width:16px;height:13px;background-position:-291px -176px;}
.icon-home{width:21px;height:21px;background-position:-149px -152px;}
.icon-html5{width:31px;height:30px;background-position:-176px -91px;}
.icon-info{width:34px;height:24px;background-position:-287px -50px;}
.icon-internet-tools{width:67px;height:51px;background-position:-66px -205px;}
.icon-ivahid{width:75px;height:22px;background-position:-225px 0;}
.icon-key{width:17px;height:17px;background-position:-202px -122px;}
.icon-light-black{width:20px;height:20px;background-position:-98px -131px;}
.icon-light{width:20px;height:20px;background-position:-134px -174px;}
.icon-link{width:15px;height:16px;background-position:-309px -191px;}
.icon-lock{width:13px;height:14px;background-position:-141px -91px;}
.icon-logo-foot{width:318px;height:113px;background-position:0 -258px;}
.icon-logo{width:85px;height:65px;background-position:-205px -141px;}
.icon-mag{width:17px;height:18px;background-position:-123px -91px;}
.icon-mobile{width:65px;height:49px;background-position:-205px -207px;}
.icon-multimedia{width:61px;height:48px;background-position:-225px -44px;}
.icon-nav-sep2{width:3px;height:47px;background-position:-198px -122px;}
.icon-nav-sep{width:3px;height:48px;background-position:-271px -207px;}
.icon-newsletter{width:102px;height:90px;background-position:-99px 0;}
.icon-next2{width:22px;height:36px;background-position:-202px 0;}
.icon-next{width:8px;height:19px;background-position:-322px -49px;}
.icon-pinterest{width:14px;height:18px;background-position:-355px -122px;}
.icon-popular{width:24px;height:24px;background-position:-359px -229px;}
.icon-position{width:16px;height:17px;background-position:-290px -120px;}
.icon-prev2{width:22px;height:36px;background-position:-202px -52px;}
.icon-prev{width:8px;height:19px;background-position:-322px -227px;}
.icon-qr{width:18px;height:18px;background-position:-77px -87px;}
.icon-reply{width:14px;height:16px;background-position:-208px -89px;}
.icon-respond{width:18px;height:18px;background-position:-326px -89px;}
.icon-rss2{width:17px;height:18px;background-position:-291px -190px;}
.icon-rss{width:65px;height:61px;background-position:-319px -255px;}
.icon-security{width:65px;height:46px;background-position:0 -211px;}
.icon-share{width:26px;height:24px;background-position:-171px -154px;}
.icon-shares{width:98px;height:86px;background-position:0 0;}
.icon-size{width:14px;height:14px;background-position:-134px -155px;}
.icon-sokhan-wrap{width:384px;height:27px;background-position:0 -381px;}
.icon-star-empty{width:18px;height:18px;background-position:-355px -191px;}
.icon-star{width:18px;height:17px;background-position:-291px -158px;}
.icon-statistics{width:33px;height:30px;background-position:-171px -179px;}
.icon-tags-t{width:15px;height:15px;background-position:-293px -226px;}
.icon-tags{width:19px;height:18px;background-position:-359px -210px;}
.icon-thumb-down{width:13px;height:14px;background-position:-338px -110px;}
.icon-thumb-up{width:12px;height:12px;background-position:-309px -241px;}
.icon-tik{width:10px;height:7px;background-position:-66px -87px;}
.icon-tools{width:19px;height:19px;background-position:-331px -235px;}
.icon-tooltip-arw{width:8px;height:8px;background-position:-322px -69px;}
.icon-triangle-left{width:22px;height:26px;background-position:-148px -125px;}
.icon-twitter2{width:65px;height:61px;background-position:-319px -317px;}
.icon-twitter3{width:18px;height:14px;background-position:-134px -195px;}
.icon-twitter{width:21px;height:17px;background-position:-174px -122px;}
.icon-w3{width:31px;height:30px;background-position:-66px -124px;}
.icon-web-design{width:67px;height:49px;background-position:-66px -155px;}
.icon-yasdl{width:29px;height:21px;background-position:-325px -191px;}
ul.tabs li{-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.head-wrap{background-color:#3B3B3B;}
.header{color:#fff;padding:40px 10px 30px;}
.header h1{font:11px tahoma;margin:0;}
.head-stuff{margin-right:10px;}
.top-yasdl-social{background-color:#515151;height:31px;margin-top:3px;width:340px;-webkit-border-radius:30px/35px;-moz-border-radius:40px/35px;border-radius:40px/35px;}
.lt-ie9 .top-yasdl-social,
.lt-ie10 .top-yasdl-social{width:348px;}
.yasdlver{background-color:#fff;height:31px;color:#5d5d5d;font:20px/1 yekan;padding:5px 21px 5px 12px;-webkit-border-radius:40px/35px;-moz-border-radius:40px/35px;border-radius:40px/35px;}
.yasdlver .ver{font:11px tahoma;color:#fff;background-color:#2BD66B;text-shadow:0 -1px 0 #54b678;padding:2px 12px;display:inline-block;-webkit-border-radius:40px/35px;-moz-border-radius:40px/35px;border-radius:40px/35px;}
.social-icons-top{padding:4px 9px;}
.social-icons-top a{background-color:#787878;margin-left:8px;}
.social-icons-top a:hover{background-color:#C9C9C9;}
.top-quote{position:relative;padding:3px 15px;}
.top-quote .icon-sokhan-wrap{position:absolute;right:0;top:0;}
.top-quote .icon-arw-left{margin:0 0 -3px 2px;}
.top-quote .text{position:relative;z-index:444;}
.search-top-nav{margin-right:55px;}
.top-nav li a{color:#9d9d9d;}
.top-nav li:hover a{color:#41e95c;}
.top-nav li:hover a .icon{background-position:-167px -109px;}
.top-nav li a .icon{margin:0 10px -4px 14px;}
.top-nav li:last-child a .icon{display:none;}
.searchform{margin-top:12px;}
.customselect{position:relative;overflow:hidden;width:120px;height:38px;background-color:#525252;}
.lt-ie9 .top-nav li a .icon{margin:0 8px -4px 12px;}
.customselect .arrow{position:absolute;top:50%;left:9px;margin-top:-5.5px;}
.customselect select{height:100%;width:160%;background:none;cursor:pointer;border:none;-webkit-appearance:textfield;padding-right:6px;color:#fff;}
.lt-ie9 .customselect select{padding:0 6px 12px;}
.searchform input{background-color:#fff;height:38px;width:215px;border:none;color:#787878;padding:0 10px;}
.lt-ie9 .searchform input{padding:14px 10px;}
.searchform button{float:right;border:none;background-color:#2FA342;width:50px;height:38px;padding-top:6px;}
.main-nav-wrap{background-color:#2E2E2E;height:68px;}
.js .main-nav-wrap{top:0;z-index:1000000;}
.main-nav-wrap.scrolling{height:45px;background-color:rgba(46,46,46,0.8);}
.main-nav ul li{position:relative;}
.main-nav > ul > li{padding-top:10px;height:68px;}
.main-nav-wrap.scrolling > .main-nav > ul > li{height:45px !important;padding-top:3px;}
.main-nav-wrap.scrolling .icon-nav-sep{height:35px !important;opacity:0.3;}
.main-nav > ul > li:hover{background-color:#3B3B3B;}
.main-nav ul li .icon-arw-down-green{visibility:hidden;}
.main-nav ul li .icon-nav-sep{display:none;}
.main-nav > ul > li > .icon-nav-sep{display:inline-block;}
.main-nav ul li .icon-arw-down-green{position:absolute;left:50%;margin-left:-12px;top:0;z-index:-1;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.main-nav > ul > li:hover > .icon-arw-down-green{z-index:100;display:inline-block;top:17px;visibility:visible;}
.main-nav-wrap.scrolling > .main-nav > ul > li:hover > .icon-arw-down-green{top:11px;}
.no-js .main-nav > ul > li:hover .icon-nav-sep{visibility:hidden;}
.main-nav ul li .icon-nav-sep{visibility:hidden;}
.main-nav > ul > li .icon-nav-sep{visibility:visible;}
.main-nav ul li a{color:#fff;}
.main-nav > ul > li > a{color:#fff;font:13px yekan;padding:12px 15px;float:right;}
.main-nav-wrap.scrolling .main-nav > ul > li > a{font:11px tahoma;}
.main-nav > ul > li:hover > a{padding-top:21px;}
.main-nav li ul{position:absolute;width:190px;padding:10px 7px;visibility:hidden;opacity:0;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.main-nav li:hover > ul{visibility:visible;opacity:1;z-index:10000;}
.main-nav > ul > li > ul{background-color:rgb(59,59,59);background-color:rgba(59,59,59,.85);right:0;top:68px;}
.main-nav-wrap.scrolling > .main-nav > ul > li > ul{top:45px;}
.main-nav > ul > li > ul > li > ul{background-color:#3B3B3B;left:-197px;top:0;}
.lt-ie10 .main-nav > ul > li > ul > li > ul{left:-190px;}
.main-nav > ul > li > ul > li > .icon-arw-left3{position:absolute;left:10px;top:50%;margin-top:-6px;}
.main-nav > ul > li > ul > li:hover > .icon-arw-left3{background-position:-370px -122px;}
.main-nav li ul li a{color:#D8D8D8;display:block;width:100%;height:100%;}
.main-nav li ul li{float:none;width:100%;background-color:#646464;background-color:rgba(255,255,255,.14);margin-bottom:3px;padding:5px 11px;min-height:28px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.main-nav li ul li:hover{background-color:#434343;background-color:rgba(0,0,0,.14);}
.main-nav li ul li:hover a{color:#fff;}
.information-bar{background-color:#FFC96B;height:50px;}
.information-bar .title{width:18.6%;background-color:#FFB22D;font:13px yekan;color:#61481c;height:100%;padding:14px 20px;}
.information-bar .title .icon{margin:0 0 -8px 3px;}
.information-bar .text{width:81.4%;height:100%;color:#61481c;position:relative;padding:6px 19px;line-height:40px;}
.information-bar .text .icon-close{position:absolute;left:17px;top:17px;cursor:pointer;}
.top-ads-wrap{background-color:#F6F6F6;margin-bottom:16px;}
.top-ads{padding:40px 10px;}
.top-ads .ads{display:inline-block;margin-bottom:10px;}
.top-ads .ads468 ,
.top-ads .ads468 img{width:468px;height:60px;}
.top-ads .p-l{margin-left:30px;}
.breadcrumb-wrap{background-color:#F2F2F2;height:46px;-webkit-box-shadow:inset 0 5px 5px rgba(0,0,0,0.07);-moz-box-shadow:inset 0 5px 5px rgba(0,0,0,0.07);box-shadow:inset 0 5px 5px rgba(0,0,0,0.07);color:#656565;}
.lt-ie10 .breadcrumb-wrap{box-shadow:inset 0 5px 10px rgba(0,0,0,0.07);}
.breadcrumb{padding:16px;}
.breadcrumb .icon-position{margin:0 0 -5px 10px;}
.breadcrumb .icon-arw-left5{margin:0 10px -4px 15px;}
.breadcrumb span,
.breadcrumb a{color:#4d4d4d;}
.main-holder{margin-top:15px;padding:0 10px;}
.content-holder{width:657px;margin:7px 7px 0 7px;}
.post h1.post-title{width:612px;min-height:32px;font:16px yekan;color:#366266;padding:2px 10px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.post h3.post-title{width:612px;height:32px;font:16px yekan;color:#366266;padding:2px 10px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.post .before-h2,
.post .after-h2{width:45px;height:32px;background-color:#6ED4DD;padding-top:6px;text-align:center;}
.post.fixed-post .before-h2{background-color:#FFA762;}
.post .after-h2{width:24px;padding-top:10px;}
.post h2.post-title{width:612px;height:32px;font:16px yekan;color:#366266;padding:2px 10px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.lt-ie10 .post h2.post-title{box-shadow:-2px 2px 5px rgba(0,0,0,0.2),1px 2px 5px rgba(0,0,0,0.2);}
.lt-ie9 .post h2.post-title{border:1px solid #E0E0E0;}
.post h2.post-title a{color:#366266;}
.fixed-post h2.post-title a{color:#5f5f5f;}
.single-post h2.post-title{width:588px;}
.post-body{margin:8px 0 22px;padding:15px 0;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.lt-ie10 .post-body{box-shadow:-2px 2px 5px rgba(0,0,0,0.2),1px 2px 5px rgba(0,0,0,0.2);}
.lt-ie9 .post-body{border:1px solid #E0E0E0;}
.post-meta{padding:0 10px 10px;border-bottom:1px solid #E4E4E4;}
.post-meta li{width:265px;color:#898989;margin-bottom:5px;}
.post-meta li .icon{margin:0 0 -3px 7px;}
.post-meta li a{color:#898989;}
.post-meta li a:hover{color:#525252;}
.post-text{padding:22px 14px;line-height:2.2;color:#3e3d3d;}
.post.fixed-post .post-text{padding-top:0px;}
.post.fixed-post .aligncenter{margin:4px auto 14px;}
.post-bot{padding:0 10px;color:#787878;}
.post-bot .rating{margin-top:14px;}

.post-bot .rating .vottxt{clear:both;}
.read-more-link,
.sabet-more-link,
.post-bot-links a,
.send-comment button,
.yasdl-button{width:161px;height:45px;color:#787878;background-color:#5CC073;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.post-bot-links{display:table;width:auto;margin:0 auto 20px;}
.post-bot-links a,
.send-comment button,
.yasdl-button{margin-left:18px;width:auto;height:35px;border:none;padding:0;text-align:right;}
.comment-buttons .yasdl-button{height:25px;margin-left:12px;cursor:pointer;}
.comment-buttons .yasdl-button.thumb-like-dislike.like{background-color:#B9E18E;}
.comment-buttons .yasdl-button.thumb-like-dislike.like .text{border-color:#B9E18E;}
.comment-buttons .yasdl-button.thumb-like-dislike.dislike{background-color:#F09797;}
.comment-buttons .yasdl-button.thumb-like-dislike.dislike .icon-holder{padding-top:6px;}
.comment-buttons .yasdl-button.thumb-like-dislike.dislike .text{border-color:#F09797;}
.comment-buttons .yasdl-button.reply-link{background-color:#BEBEBE;}
.comment-buttons .yasdl-button.reply-link a{color:#727272;}
.comment-buttons .yasdl-button.reply-link .icon-holder{padding-top:6px;}
.comment-buttons .yasdl-button.reply-link .text{border-color:#BEBEBE;}
.send-comment button{background-color:#BABABA;margin-left:30px;}
.post-bot-links a:last-child{margin-left:0;}
.post-bot-links a.help{background-color:#318EF7;}
.post-bot-links a.report{background-color:#FF6161;}
.post-bot-links a.review{background-color:#F7994D;}
.lt-ie9 .read-more-link,
.lt-ie9 .sabet-more-link,
.lt-ie9 .yasdl-button,
.lt-ie9 .post-bot-links a,
.lt-ie9 .send-comment button{border:1px solid #E0E0E0;}
.sabet-more-link{font:16px yekan;background-color:#fff;width:auto;padding:0;}
.read-more-link .icon-holder,
.post-bot-links a .icon-holder,
.send-comment button .icon-holder,
.yasdl-button .icon-holder{width:26%;height:45px;text-align:center;padding-top:12px;}
.post-bot-links a .icon-holder,
.send-comment button .icon-holder,
.yasdl-button .icon-holder{width:33px;height:35px;padding-top:8px;}
.send-comment button .icon-holder{padding-top:10px;}
.comment-buttons .yasdl-button .icon-holder{padding-top:4px;width:25px;height:25px;}
.read-more-link .text ,
.post-bot-links a .text,
.send-comment button .text,
.yasdl-button .text{width:74%;height:100%;color:#787878;background-color:#fff;padding:12px 6px;border-left:3px solid #5CC073;display:inline-block;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.comment-buttons .yasdl-button .text{border-left:0px;border-right:3px solid #5CC073;padding:3px 10px;}
.post-bot-links a .text,
.send-comment button .text,
.yasdl-button .text{width:auto;padding:8px 14px;}
.send-comment button .text{border-color:#BABABA;}
.post-bot-links a.help .text{border-color:#318EF7;}
.post-bot-links a.report .text{border-color:#FF6161;}
.post-bot-links a.review .text{border-color:#F7994D;}
.sabet-more-link .text{padding:8px 15px;color:#787878;min-width:120px;}
.sabet-more-link .icon-holder{background-color:#FF7910;text-align:center;width:55px;height:45px;padding-top:11px;}
.read-more-link:hover{background-color:#727272;}
.read-more-link:hover .text{border-color:#727272;}
.shop-products-box{padding:0;}
.shop-products-top{height:40px;background-color:#F5F5F5;padding:11px;margin-bottom:12px;}
.shop-products-top .icon-cart-red{margin:0 0 -4px 4px;}
.slider-controll .next_prev{margin-right:10px;cursor:pointer;opacity:0.44;-webkit-transition:all 250ms ease-in-out;-moz-transition:all 250ms ease-in-out;-ms-transition:all 250ms ease-in-out;-o-transition:all 250ms ease-in-out;transition:all 250ms ease-in-out;}
.slider-controll .next_prev:hover,
.slider-controll .next_prev:focus,
.slider-controll .next_prev:active{opacity:1;}
.shop-products-slider-holder{width:100%;padding:0 6px;}
.shop-products-slider{width:100%;position:relative;overflow:hidden;}
.shop-products-slider ul{width:20000em;position:relative;}
.shop-products-slider li{width:203px;margin-left:18px;float:right;}
.shop-products-slider li .image-holder{width:100%;height:163px;padding:5px;border:1px solid #D9D9D9;position:relative;}
.shop-products-slider li .image-holder img{width:100%;height:100%;}
.shop-products-slider li .image-holder .shadow{position:absolute;bottom:5px;left:2.5%;width:95%;height:151px;background:#333;background:rgba(0,0,0,0.7);z-index:10000;opacity:0;visibility:hidden;-webkit-transition:all 250ms ease-in-out;-moz-transition:all 250ms ease-in-out;-ms-transition:all 250ms ease-in-out;-o-transition:all 250ms ease-in-out;transition:all 250ms ease-in-out;}
.shop-products-slider li .image-holder .shadow a{width:90%;background-color:#181818;background:rgba(0,0,0,0.8);display:block;margin:60px auto 0;color:#fff;padding:7px 0;text-align:center;}
.shop-products-slider li .image-holder:hover .shadow{opacity:1;visibility:visible;}
.shop-products-slider li .cart-button{background-color:#F6FF62;height:36px;color:#555555;text-align:center;margin:11px 0;padding-top:7px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.shop-products-slider li .cart-button .icon{margin:0 0 -4px 4px;}
.shop-products-slider li .cart-button:hover{background-color:#E6E6E6;-webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 0 rgba(0,0,0,0.2);box-shadow:0 0 0 rgba(0,0,0,0.2);}
.sidebar{width:300px;}
.sidebar-luv-box{background-color:#00D8FF;border-bottom:4px solid #16B6D3;color:#fff;font-family:yekan;padding:22px 20px;line-height:1.2;margin-bottom:10px;display:block;height:90px;}
a.sidebar-luv-box:hover{border-bottom-width:1px;}
.sidebar-luv-box.request{background-color:#27E59B;border-color:#2FBA84;margin-bottom:30px;}
.sidebar-block{margin-bottom:30px;color:#555555;width:300px;}
.sidebar-block h3{font:16px yekan;color:#818181;margin:0 7px 11px;}
.linkduni ul li ,
.defaul-sidebar-block ul li{border-bottom:1px solid #D6D6D6;padding:9px 7px 11px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.defaul-sidebar-block ul li{border:0;padding:4px 7px;}
.linkduni ul li a,
.defaul-sidebar-block ul li a{color:#727272;}
.defaul-sidebar-block ul li a:before{content:'';display:inline-block;background:url(../images/icons.png) no-repeat;width:6px;height:10px;background-position:-304px -17px;}
.linkduni ul li .icon-arw-left-blank,
.defaul-sidebar-block ul li a:before{background-color:#E098E4;margin:0 0 -2px 7px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.linkduni ul li:hover{-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);}
.linkduni ul li:hover .icon-arw-left-blank,
.defaul-sidebar-block ul li:hover a:before{background-color:#818181;}
.sidebar-top{border-bottom:1px solid #D6D6D6;padding-bottom:8px;margin-bottom:17px;}
.sidebar-top .title{font:16px yekan;color:#818181;}
.sidebar-top .en{color:#a2a2a2;margin-top:7px;}
.sidebar-top .en .new{color:#fff;background-color:#37C66D;padding:0 2px;margin-right:2px;}
.advanced-search .icon-tools{margin:0 3px -6px 4px;}
.sidebar-block-body{padding:0 3px;}
.advanced-search .textfield{background-color:#EFEFEF;height:38px;width:100%;margin:15px 0;display:block;border:none;color:#797979;padding:11px;}
.advanced-search .checkboxes{padding:0 5px;}
.advanced-search .customcheckbox{width:94px;position:relative;margin-bottom:5px;}
.advanced-search .customcheckbox input{float:right;}
.advanced-search .customcheckbox label{margin-right:7px;float:right;cursor:pointer;}
.customcheckbox.customized input{position:absolute;z-index:-100;top:0;left:0px;float:left;visibility:hidden;}
.no-borderradius .customcheckbox.customized input{position:static;float:right;visibility:visible;}
.customcheckbox.customized label{margin:0;}
.no-borderradius .customcheckbox.customized label{margin-right:7px;}
.customcheckbox.customized .check{width:15px;height:15px;background-color:#DCDCDC;float:right;line-height:1;padding-top:1px;text-align:center;margin:3px 0 0 4px;}
.no-borderradius .customcheckbox.customized .check{display:none;}
.customcheckbox.customized .check .icon{display:none;}
.customcheckbox.customized input:checked + label .check .icon{display:inline-block;}
.advanced-search button{width:152px;height:45px;border:1px solid #EAEAEA;padding:4px;color:#555555;background-color:#fff;margin-top:10px;}
.advanced-search button .inner{height:100%;background-color:#FFDE00;display:inline-block;padding-top:7px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.advanced-search button .inner .icon{margin:0 0 -6px 15px;}
.advanced-search button:hover .inner{opacity:0.8;}
.tab-posts .tabs{margin-bottom:18px;}
.tab-posts .tabs li{padding:12px;text-align:center;font:13px yekan;color:#6f6f6f;margin-left:8px;cursor:pointer;position:relative;height:78px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.lt-ie9 .tab-posts .tabs li{margin-left:5px;}
.tab-posts .tabs li.active{background-color:#F3F3F3;color:#9563aa;-webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 0 rgba(0,0,0,0.2);box-shadow:0 0 0 rgba(0,0,0,0.2);}
.tab-posts .tabs li.active:after{content:'';background:url(../images/tr-down.png) no-repeat;width:13px;height:11px;margin-left:-5.5px;position:absolute;left:50%;bottom:-10px;}
.tab-posts .tabs li.active .icon{width:28px;height:16px;background-position:-293px -209px;margin:5px 0 2px;}
.tab-posts .tabs li:last-child{margin-left:0;}
.tab-posts .tab-content ul li{border-bottom:1px solid #E0E0E0;padding:5px 6px 8px;color:#898989;line-height:2;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.tab-posts .tab-content ul li:hover{-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);}
.tab-posts .tab-content ul li a{color:#4B4B4B;}
.tab-posts .tab-content ul li .icon-eye,
.tab-posts .tab-content ul li .icon-heart{background-color:#8C8C8C;margin:0 5px -2px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.tab-posts .tab-content ul li .icon-heart{margin-bottom:-1px;}
.tab-posts .tab-content ul li:hover .icon-eye{background-color:#4AC779;}
.tab-posts .tab-content ul li:hover .icon-heart{background-color:#F36060;}
.newsletter-top{margin-bottom:20px;}
.newsletter-top .right{width:175px;}
.newsletter-top h4{height:26px;background-color:#FFFE63;display:table;position:relative;color:#93922c;font:16px yekan;padding:0 7px;margin-bottom:8px;}
.newsletter-top h4 .icon{position:absolute;top:0;left:-22px;}
.newsletter-form{height:42px;margin-bottom:20px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.lt-ie9 .newsletter-form{border:1px solid #F2F2F2;}
.newsletter-form .textfield,
.newsletter-form .nl-submit{height:100%;color:#929292;background:none;border:none;}
.newsletter-form .textfield{width:82%;padding:11px;}
.newsletter-form .nl-submit{width:17%;border-right:1px solid #F2F2F2;font-weight:bold;}
.social-sidebar a{float:left;height:58px;margin-right:8px;background-color:#CECECE;}
.social-sidebar a.facebook:hover{background-color:#3b5998;}
.social-sidebar a.twitter:hover{background-color:#0cd4ff;}
.social-sidebar a.google_plus:hover{background-color:#ff3e3e;}
.social-sidebar a.rss:hover{background-color:#ff6c1c;}
.yas-shop-slider{width:100%;position:relative;overflow:hidden;}
.yas-shop-slider ul{width:20000em;position:relative;}
.yas-shop-slider li{width:300px;float:right;}
.yas-shop-slider ul li h4 a{font:16px yekan;color:#555555;}
.yas-shop-slider ul li span.price{background-color:#ffde00;padding:0px 5px;display:inline-block;margin-left:8px;}
.yas-shop-slider ul li img{width:100%;height:234px;margin:10px 0;}
.yas-shop-slider ul li .button{width:140px;height:36px;background-color:#FFDE00;padding:8px 10px;color:#555555;}
.yas-shop-slider ul li .button.desc .icon{margin:0 0 -6px 10px;}
.yas-shop-slider ul li .button.cart .icon{margin:0 0 -4px 5px;}
.yas-shop-slider ul li .button:hover{color:#fff;background-color:#7C7C7C;}
.yas-shop-slider ul li .button:hover .icon-cart-dark{background-position:-304px -28px;width:20px;margin-right:3px;}
.yas-shop-slider ul li .button:hover .icon-light-black{background-position:-134px -174px;}
.app-recommend ul li{border-bottom:1px solid #D6D6D6;padding:10px 8px;-webkit-transition:all 100ms ease-in-out;-moz-transition:all 100ms ease-in-out;-ms-transition:all 100ms ease-in-out;-o-transition:all 100ms ease-in-out;transition:all 100ms ease-in-out;}
.app-recommend ul li:hover{background-color:#FAFAFA;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);box-shadow:0 2px 5px rgba(0,0,0,0.2),0 -2px 0 rgb(255,255,255);}
.app-recommend ul li img{float:right;margin-left:9px;width:56px;height:56px;}
.app-recommend ul li .app{width:210px;}
.app-recommend ul li:hover img{-webkit-filter:grayscale(100%);filter:gray;filter:grayscale(100%);filter:url(../svg/filters.svg#grayscale);}
.app-recommend ul li .app .en,
.app-recommend ul li .app .fa{color:#616161;text-transform:uppercase;}
.app-recommend ul li .app .fa{font:13px yekan;margin-top:5px;}
.sidebar-mid-ads.ads-300 img{width:300px;height:250px;}
.sidebar-textads ul li{margin-bottom:6px;color:#8A8A8A;padding:0 3px;}
.sidebar-textads ul li .icon-double-arw-left{margin:0 0 -1px 6px;}
.sidebar-textads ul li .icon-anchor{background-color:#B583DC;margin:0 3px -2px 0;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.sidebar-textads ul li:hover .icon-anchor{background-color:#8D8D8D;}
.sidebar-textads ul li .desc{margin:7px 0;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.sidebar-textads ul li:hover .desc{color:#4A4A4A;}
.sidebar-textads ul li .text-ads-top{padding:7px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.sidebar-textads ul li:hover .text-ads-top{background-color:#F1EAF7;}
.sidebar-textads ul li a.title{color:#616161;}
.sidebar-textads ul li a.www{color:#8a8a8a;}
.sidebar-bot-ads .sidebar-top{border:none;margin-bottom:7px;}
.sidebar-bot-ads .sidebar-top .en{background-color:#FEFD88;color:#cdcc89;padding:1px 7px;}
.bot-box-wrap{background-color:#3B3B3B;}
.foot-boxes{padding:25px 7px;color:#fff;}
.foot-box.list-box{width:165px;margin-left:12px;}
.tag-cloud-box{width:900px;margin-right:8px;}
.foot-box h3{height:34px;background-color:#272727;}
.foot-box.list-box h3{margin-bottom:8px;}
.foot-box h3 .iconi{width:34px;height:34px;text-align:center;background-color:#2BD66B;padding-top:5px;}
.foot-box.pop-cat h3 .iconi{background-color:#E92F2F;}
.tag-cloud-box h3 .iconi{background-color:#32D6FF;padding-top:8px;}
.foot-box h3 .text{height:34px;font:13px yekan;padding:6px 7px;}
.foot-box.list-box h3 .text{width:131px;}
.foot-box.list-box ul li{height:28px;width:100%;margin-bottom:3px;}
.foot-box.list-box ul li a{color:#fff;display:block;width:100%;height:100%;padding:4px 8px;background-color:#464646;}
.foot-box.list-box ul li:hover a{background-color:#2E2E2E;}
.foot-box.list-box ul li .circle{width:5px;height:5px;display:inline-block;margin-left:6px;background-color:#8C8C8C;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.foot-box.list-box ul li:hover .circle{background-color:#2BD66B;}
.foot-box.list-box.pop-cat ul li:hover .circle{background-color:#FF2E2E;}
.tag-cloud-box .tagcloud{width:100%;background-color:#464646;padding:8px;}
.tag-cloud-box .tagcloud a{color:#959595;padding:0 3px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.tag-cloud-box .tagcloud a:hover{color:#fff;background-color:#38A8C4;padding:2px 3px;}
.foot-wrap{background:#212121 url(../images/foot-bg.gif) repeat top;}
.footer{padding:20px 15px;color:#A1A1A1;}
.nav-cright{width:600px;}
.foot-nav{margin:10px 0 18px;}
.foot-nav li a{float:right;height:28px;border-bottom:1px solid #245336;background-color:#282828;margin-left:5px;padding:4px 17px;color:#A0A0A0;}
.foot-nav li a:hover{border-color:#424D45;background-color:#151515;color:#BFBFBF;}
.copyright{line-height:2;margin-bottom:14px;}
.copyright a,
.copyright a:hover{color:#A1A1A1;}
.valid-icons{position:relative;}
.valid-icons a{margin-left:8px;float:right;}
.valid-icons a:hover{opacity:0.7;}
.valid-icons .icon-ivahid{position:relative;margin:2px 0 0 28px;z-index:100;}
.valid-icons .icon-arw-left6{position:absolute;right:72px;top:4px;z-index:2;}
.siteinfo .icon-logo-foot{color:#BEBEBE;padding:21px 0 0 92px;position:relative;}
.siteinfo .icon-logo-foot .ver{position:absolute;color:#fff;right:13px;top:45px;width:63px;padding-top:2px;text-align:center;height:21px;text-shadow:0 -1px 0 #54b678;}
.siteinfo .icon-logo-foot .links{background-color:#CAC951;height:18px;width:212px;position:absolute;bottom:15px;left:90px;-webkit-border-radius:10px 0 10px 0;-moz-border-radius:10px 0 10px 0;border-radius:10px 0 10px 0;}
.siteinfo .icon-logo-foot .links a{float:left;width:87px;text-align:center;color:#969552;}
.siteinfo .icon-logo-foot .links a.ad{width:125px;}
.siteinfo .icon-logo-foot .links a.active{background-color:#FEFD88;-webkit-border-radius:10px 0 10px 0;-moz-border-radius:10px 0 10px 0;border-radius:10px 0 10px 0;}
.footer .siteinfo{width:316px;}
.foot-statistics{padding:0 35px;margin-top:-10px;color:#fff;text-transform:uppercase;line-height:1.4;}
.foot-statistics .icon{margin-top:30px;}
.foot-statistics .text{margin-left:22px;}
.post-des-box{padding-right:9px;margin-bottom:20px;}
.post-des-box .titles{border-bottom:4px solid #6ED4DD;padding:0 2px 0 12px;color:#828282;}
.post-des-box.green .titles{border-color:#64DC91;}
.post-des-box.orange .titles{border-color:#F1A94D;}
.post-des-box.red .titles{border-color:#FF6262;}
.post-des-box.gray .titles{border-color:#999999;}
.post-des-box .titles .title{height:26px;color:#fff;padding:5px 20px 0;background-color:#6ED4DD;float:right;margin-left:5px;}
.post-des-box.ltr .titles .title{float:left;}
.post-des-box.green .titles .title{background-color:#64DC91;}
.post-des-box.orange .titles .title{background-color:#F1A94D;}
.post-des-box.red .titles .title{background-color:#FF6262;}
.post-des-box.gray .titles .title{background-color:#999999;}
.post-des-box .titles.tabs .title{opacity:0.7;cursor:pointer;}
.post-des-box .titles .left-text .icon{margin:3px 2px -3px 0;}
.post-des-box .titles.tabs .title.active{opacity:1;}
.post-des-box .desc-text{color:#9b9b9b;border-right:5px solid #EEEEEE;border-bottom:1px solid #D8E6E7;padding:10px;}
.post-des-box ul.desc-text a{color:#2F5A5D;}
.post-des-box ul.desc-text{border:0;padding:0;color:#2F5A5D;}
.post-des-box ul.desc-text li{width:100%;border-bottom:1px solid #D8E6E7;border-right:5px solid #D8E6E7;padding:6px 9px 7px;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.post-des-box.green ul.desc-text li{border-color:#CFE7D8;color:#2C593D;}
.post-des-box.green ul.desc-text li a{color:#2C593D;}
.post-des-box.green ul.desc-text li:hover{border-right-color:#62C386;}
.post-des-box.blue.writer-relateds ul.desc-text li:hover{border-right-color:#6ED4DD;}
.post-des-box ul.desc-text li .icon{margin:0 0 -4px 7px;}
.post-des-box ul.desc-text li .icon-download-it{opacity:0.4;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.post-des-box ul.desc-text li:hover .icon-download-it{opacity:1;}
.post-gallery-slider{width:85%;}
.single-post .post-body{padding-bottom:0px;}
.post-gallery{background-color:#B6B6B6;padding:17px;color:#f2f2f2;position:relative;}
.post-gallery-slider{width:92%;height:130px;position:relative;overflow:hidden;margin-top:15px;}
.post-gallery-slider ul{width:20000em;position:relative;}
.post-gallery-slider li{width:182px;height:130px;margin-left:15px;opacity:0.57;float:right;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.post-gallery-slider li img{width:100%;height:100%;}
.post-gallery-slider li:hover{opacity:1;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);}
.post-gallery .next_prev{position:absolute;bottom:70px;z-index:100;cursor:pointer;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.post-gallery .next_prev.next{right:11px;}
.post-gallery .next_prev.prev{left:11px;}
.post-gallery .next_prev.inactive{opacity:0.2;}
.share-post{background-color:#F3F3F3;border-top:1px solid #fff;padding:23px 20px 14px;color:#787878;}
.share-post .rating{margin-left:0px;}
.sharing a{width:51px;text-align:center;border-left:1px solid #cecece;display:inline-block;height:27px;padding-top:5px;float:right;}
.sharing a:last-child{border:none;}
.sharing a .icon{background-color:#C1C1C1;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.sharing a.blogger:hover .icon{background-color:#f86813;}
.sharing a.pinterest:hover .icon{background-color:#cd3b40;}
.sharing a.email:hover .icon{background-color:#5ad462;}
.sharing a.rss:hover .icon{background-color:#e39745;}
.sharing a.google_plus:hover .icon{background-color:#e33939;}
.sharing a.twitter:hover .icon{background-color:#00d8ff;}
.sharing a.facebook:hover .icon{background-color:#3679b7;}
.tooltip{position:absolute;white-space:nowrap;display:none;top:-30px;left:0;color:#494747;background-color:#fff;padding:3px 14px;z-index:999999;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);box-shadow:0 2px 5px rgba(0,0,0,0.2);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.tooltip .icon{position:absolute;bottom:-7px;left:50%;margin-left:-4px;background-color:transparent !important;}
.post-tabs{padding:0;}
.post-tabs-top{border-bottom:1px solid #CCCCCC;}
.post-tabs-top.tabs li{height:42px;color:#6F6F6F;float:right;padding:10px 28px;border-left:1px solid #CCCCCC;cursor:pointer;}
.post-tabs-top.tabs li.active{background-color:#EEEEEE;}
.post-tabs .tab-content{padding:11px;color:#727272;}
.send-comment{padding-right:24px;}
.send-comment label{float:right;width:46px;}
.send-comment .textfield{float:right;margin-bottom:14px;border:1px solid #DBDBDB;width:260px;height:33px;padding:3px 7px;color:#727272;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
.send-comment textarea.textfield{width:580px !important;height:114px !important;resize:none;margin-bottom:20px;}
.send-comment .textfield.required{border-left:4px solid #76C840;}
.send-comment-bot a{color:#727272;margin-right:4px;}
.related-posts ul li a{display:block;width:100%;border-right:5px solid #6ED4DD;border-left:5px solid #6ED4DD;margin-bottom:8px;color:#757575;padding:5px 10px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.1);-moz-box-shadow:0 2px 5px rgba(0,0,0,0.1);box-shadow:0 2px 5px rgba(0,0,0,0.1);-webkit-transition:all 100ms ease-in-out;-moz-transition:all 100ms ease-in-out;-ms-transition:all 100ms ease-in-out;-o-transition:all 100ms ease-in-out;transition:all 100ms ease-in-out;}
.related-posts ul li a:hover{background-color:#F5F5F5;border-color:#979797;-webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 0 rgba(0,0,0,0.2);box-shadow:0 0 0 rgba(0,0,0,0.2);}
.comments{padding:0 !important;}
.comment{width:100%;padding:0 11px;margin-bottom:15px;}
.comment-inner{width:100%;border-bottom:1px solid #D9D9D9;padding:14px 0;}
.comment.replied{background-color:#F6FFEC;margin-top:-17px;border:none;}
.comment.replied .comment-inner{border:none;}
.comment .comment-text{margin-top:5px;}
.comment-details{margin:3px 10px;color:#727272;}
.comment-details a{color:#727272;}
.comment-details a:hover{color:#aaa;}
.comment-like-dislike .sep{color:#A4A4A4;margin:0 10px;}
.comment-like-dislike .votes-up{color:#86B850;}
.comment-like-dislike .votes-down{color:#DC8181;}
.comment-buttons{padding-top:12px;margin-left:20px;}
.post-tags{position:relative;padding:11px;}
.post-tags a{color:#9B9B9B;padding:0 2px;}
.post-tags a:hover{color:#fff;background-color:#C0C0C0;}
.post-tags .title{background-color:#ECECEC;color:#6F6F6F;padding:10px;min-width:104px;display:inline-block;margin:-11px -11px 4px 4px;}
.post-tags .title .icon{margin:0 0 -4px 7px;}
.post-tags .tags{white-space:nowrap;display:inline;}
.post-tags a{display:inline-block;}
.iconic-categories ul li{height:56px;border:1px solid #DCDCDC;color:#a2a2a2;position:relative;line-height:56px;padding-right:16px;margin-bottom:5px;}
.iconic-categories ul li:hover{border-color:#328D55;background-color:#37C66D;color:#fff;}
.iconic-categories ul li .fa_title{font:16px/52px yekan;color:#a2a2a2;-webkit-transition:none;-moz-transition:none;-ms-transition:none;transition:none;-o-transition:color 0 ease-in;}
.iconic-categories ul li:hover .fa_title{color:#fff;}
.iconic-categories ul li .icon-holder{position:relative;height:100%;width:70px;margin:0 9px;}
.iconic-categories ul li .icon{background-color:#B4B4B4;position:absolute;left:0px;bottom:0px;}
.iconic-categories ul li:hover .icon{background-image:url(../images/iconic-categories-hover.png) !important;background-color:#fff !important;}
.pagination-wrap{border:1px solid #E1E1E1;padding:15px;margin-bottom:20px;}
.pagination{width:78%;}
.pagination-wrap .links a{color:#787878;}
.pagination-wrap .links a:first-child{margin-bottom:14px;}
.pagination-wrap .links a span{font-size:15px;line-height:0;display:inline-block;}
.pagination-wrap .links a:hover{color:#bfbfbf;}
.pagination .page-numbers{width:35px;height:28px;border:1px solid #e9e9e9;color:#a3a3a3;padding-top:3px;text-align:center;float:left;margin:0 4px 4px 0;}
.pagination .page-numbers.current{background-color:#6CCE91;color:#fff;}
.report-link{width:500px;padding:20px 15px;background:#fff;margin:20px auto;-webkit-box-shadow:0 0 10px #999;-moz-box-shadow:0 0 10px #999;box-shadow:0 0 10px #999;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.report-link .textfield,
.report-link label,
.report-link .tip,
.report-link textarea{float:right;}
.report-link label{width:135px;line-height:30px;color:#797979;}
.report-link .textfield{height:30px;padding:0 6px;}
.report-link .textfield,
.report-link textarea{width:285px;margin-bottom:15px;border:1px solid #ededed;color:#AFAFAF;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-transition:all 270ms ease-in-out;-moz-transition:all 270ms ease-in-out;-ms-transition:all 270ms ease-in-out;-o-transition:all 270ms ease-in-out;transition:all 270ms ease-in-out;}
.report-link textarea{height:100px;padding:10px;}
.report-link .textfield:focus,
.report-link textarea:focus{background:#fafafa;border:1px solid #E3E3E3;}
.report-link .tip{width:50px;padding-right:10px;color:#999;line-height:30px;}
.report-link .report-submit{background:#F7F7F7;border:1px solid #E3E3E3;padding:10px 20px;float:left;margin-left:50px;color:#AFAFAF;-webkit-transition:all 270ms ease-in-out;-moz-transition:all 270ms ease-in-out;-ms-transition:all 270ms ease-in-out;-o-transition:all 270ms ease-in-out;transition:all 270ms ease-in-out;}
.report-link .report-submit:hover{background:#F0F0F0;}
.tip.error{color:#EA2727;}
.error_message{width:300px;color:#620000;background:#FF5A5A;padding:10px 0;text-align:center;margin:10px auto;}
.error_message.success{background:#4BD62E;color:#294D05;}
.comments p a,
.send-comment p a,
.send-comment small a{color:#aaa;}
.dw-popup{position:relative;background:#fff;color:#484848;padding:30px 20px;width:auto;max-width:50%;margin:0 auto;}
.post-text .search-term{background-color:#FFFB00;padding:0 5px 1px;color:rgb(116, 119, 13);font-weight:normal;}
.linkduni-single,
.linkduni-single body{height:100%;overflow:hidden;}
.linkduni-single .bar{background-color:#dfebee;height:8%;position:relative;z-index:10000;padding:11px 20px;}
.linkduni-single .bar ul li a{float:right;color:#B4B4B4;background-color:#fff;padding:3px 11px;margin-left:8px;}
.linkduni-single .bar ul li a:hover{color:#fff;background-color:#BFD1D5;}
.linkduni-single iframe{width:100%;height:92%;display:block;}
.advanced_search_link{background-position:-315px -428px;color:#A8A8A8;height:26px;margin:6px 8px 0 0;padding:3px 0;width:36px;}
.iconic-cattie{display:inline-block;position:absolute;left:0px;bottom:0px;}
.iconic-cattie.mobile-cat{background-position:-191px -428px;height:49px;width:65px;}
.iconic-cattie.app-cat{background-position:-63px -428px;height:48px;width:67px;}
.iconic-cattie.anim-cat{background-position:-130px -428px;height:48px;width:61px;}
.iconic-cattie.religious-cat{background-position:-256px -428px;height:48px;width:59px;}
.iconic-cattie.clip-cat{background-position:0px -428px;height:48px;width:63px;}
.wpas-field{color:#444;margin-left:14px;width:100%;*zoom:1;}
.wpas-field:before,
.wpas-field:after{display:table;line-height:0;content:"";}
.wpas-field:after{clear:both;}
.wpas-field .label-container,
.wpas-field input,
.wpas-field select{float:right;margin:0 0 14px 12px;}
.wpas-field .label-container{width:120px;}
.top-quote{}
.wpas-multi-select{min-height:180px;}
.post-des-box .desc-text,
.post-des-box ul.desc-text,
.post-des-box ul.desc-text a{color:#3E3D3D;}
#cboxOverlay,#cboxWrapper,#colorbox{position:absolute;top:0;left:0;z-index:9999;overflow:hidden}#cboxWrapper{max-width:none}#cboxOverlay{position:fixed;width:100%;height:100%}#cboxBottomLeft,#cboxMiddleLeft{clear:left}#cboxContent{position:relative}#cboxLoadedContent{overflow:auto;-webkit-overflow-scrolling:touch}#cboxTitle{margin:0}#cboxLoadingGraphic,#cboxLoadingOverlay{position:absolute;top:0;left:0;width:100%;height:100%}#cboxClose,#cboxNext,#cboxPrevious,#cboxSlideshow{cursor:pointer}.cboxPhoto{float:left;margin:auto;border:0;display:block;max-width:none;-ms-interpolation-mode:bicubic}.cboxIframe{width:100%;height:100%;display:block;border:0}#cboxContent,#cboxLoadedContent,#colorbox{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}#cboxOverlay{background:#000}#colorbox{outline:0}#cboxContent{margin-top:20px;background:#000}.cboxIframe{background:#fff}#cboxError{padding:50px;border:1px solid #ccc}#cboxLoadedContent{border:5px solid #000;background:#fff}#cboxTitle{position:absolute;top:-20px;left:0;color:#ccc}#cboxCurrent{position:absolute;top:-20px;right:0;color:#ccc}#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center}#cboxClose,#cboxNext,#cboxPrevious,#cboxSlideshow{border:0;padding:0;margin:0;overflow:visible;width:auto;background:0 0}#cboxClose:active,#cboxNext:active,#cboxPrevious:active,#cboxSlideshow:active{outline:0}#cboxSlideshow{position:absolute;top:-20px;right:90px;color:#fff}#cboxPrevious{position:absolute;top:50%;left:5px;margin-top:-32px;background:url(../images/controls.png) no-repeat top left;width:28px;height:65px;text-indent:-9999px}#cboxPrevious:hover{background-position:bottom left}#cboxNext{position:absolute;top:50%;right:5px;margin-top:-32px;background:url(../images/controls.png) no-repeat top right;width:28px;height:65px;text-indent:-9999px}#cboxNext:hover{background-position:bottom right}#cboxClose{position:absolute;top:5px;right:5px;display:block;background:url(../images/controls.png) no-repeat top center;width:38px;height:19px;text-indent:-9999px}#cboxClose:hover{background-position:bottom center}
.cboxContent,.cboxLoadedContent,.cboxPhoto{max-width:1000px!important}.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-preloader a:hover{color:#fff}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;color:#fff;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #fff;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure{line-height:0}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
.post-tags a{font-size:9px;white-space:nowrap;}
.post-des-box .titles.tabs{white-space:nowrap;}
.post-des-box.green ul li a{white-space:nowrap;}

.cloob-share-icon{
  background:url(../images/share-cloob.png) no-repeat;
  width:19px;
  height:19px;
  display:inline-block;
}

.sharing a.cloob:hover .cloob-share-icon {
  background:url(../images/share-cloob-hover.png) no-repeat;
}

.linkedin-share-icon{
  background:url(../images/share-linkedin.png) no-repeat;
  width:19px;
  height:19px;
  display:inline-block;
}

.sharing a.linkedin:hover .linkedin-share-icon {
  background:url(../images/share-linkedin-hover.png) no-repeat;
}

.linkduni .bottom-links{
  font:13px yekan;
  padding:10px 4px;
}

.linkduni .bottom-links a{
  color:#BCBCBC;
}

.single-post h1.post-title{width:588px;}

.warning-box{
width: 90%;
margin: 0 auto 20px;
background-color: #FF6161;
border: 1px solid #D11414;
border-radius: 7px;
padding: 7px;
color: #FFF;
}

.warning-body {
  box-shadow: 0px 2px 5px rgba(195, 0, 0, 0.2);
  padding: 7px;
  color: #AB1A1A;
}

.yasdlbanner {

    padding: 10px 10px 0px 10px;
    text-align: center;
}

.yasdl-topbanners-body {
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
}

.yasdl-top-banners-right {
    float: right;
    margin: 0px 0px 10px 0px;
}

.yasdl-top-banners-left {
    float: left;
    margin: 0px 0px 10px 0px;
}


@media screen and (max-width: 980px)
{
  
.yasdl-topbanners-body {
    width: 93%;
}
.yasdlbanner div {
    float: none;
}  
.yasdlbanner img {
    max-width: 100% !important;
}
}

.yasadv {
	
    left: 0;
    bottom: 0;
    position: absolute;
    background: #CCCACA;
    color: #fff;
font-family: Tahoma;
    border-radius: 0 0 0 0;
    font-size: 10px;
    padding: 0px 5px 0 4px;
}
.related-yasdl-post { padding:0px; margin: 0; padding-top:1em!important; padding-bottom:1em!important; width:100%; display: block; font-weight:bold; background-color:#eaeaea; border:0!important; border-right:4px solid #C0392B!important; text-decoration:none; } .related-yasdl-post:active, .related-yasdl-post:hover { opacity: 1; transition: opacity 250ms; webkit-transition: opacity 250ms; text-decoration:none; } .related-yasdl-post { transition: background-color 250ms; webkit-transition: background-color 250ms; opacity: 1; transition: opacity 250ms; webkit-transition: opacity 250ms; } .related-yasdl-post .ctaText { font-weight:bold; color:#0E6EA1; text-decoration:none; font-size: 16px; } .related-yasdl-post .postTitle { color:#000000; text-decoration: underline!important; font-size: 16px; } .related-yasdl-post:hover .postTitle { text-decoration: underline!important; }			
			
.widget_rss .widget-title img {
  display: none;
}

.widget_rss li {
  list-style: none;
    padding: 9px 7px 11px;
    margin: 3px;
    border-right: 4px solid #6ED4DD;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.widget_rss li:hover {
  background-color:#F5F5F5;border-color:#979797;-webkit-box-shadow:0 0 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 0 rgba(0,0,0,0.2);box-shadow:0 0 0 rgba(0,0,0,0.2);}
}
.widget_rss li a {
  display: block;
  color: #727272;
}
@media (min-width:768px){
.plusone{ 
border: 2px solid #C53929;
border-left:3px solid #C53929;
    z-index: 500;
    width: 70px;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 20px;
    background-color: #DB4437;
    background-repeat: repeat;
}
}
@media (max-width:768px){
.plusone {
display:none;
visibility: hidden;
    clear: both;
	}
}

@media (min-width:768px){.top-quote{width: 450px;}}
@media (max-width:768px){.top-quote{width:450px;}}
@media (max-width:400px){.top-quote{width:275px;}}


#agahiBottom {
left:0;
position: fixed;
text-align:center;
bottom: 0px;
width:100%;
z-index:999;
}
