﻿/*----------------------------------
	
	
	------------------------------------------------------------------------*/
	@import url('./main-menu.css'); /* Import Menu Stylesheet */
	@import url('./base.css'); /* Import Basic Styles, Typography, Forms etc stylesheet */
	@import url('./skeleton2.css'); /* Import Skeleton (Responsive Grid System) Stylesheet */
	@import url('./elements.css'); /* Import Elements stylesheet */
	@import url('./blox.css'); /* Import Full width Sections + Parallax Stylesheet */
	/*@import url('./blog.css'); /* Import Blog stylesheet */
	/*@import url('./portfolio.css'); /* Import Portfolio Stylesheet */
	/*@import url('./pages.css'); /* Import Pages stylesheet */
	@import url('./icon-box.css'); /* Import Icon Boxes stylesheet */
 
	@import url('./widgets.css'); /* Import Widgets stylesheet */
	/*@import url('./prettyPhoto.css'); /* Import prettyPhoto Stylesheet */
	/*@import url('../layerslider/css/layerslider.css'); /* Import LayerSlider Stylesheet */
	/*@import url('./slide1.css'); /* Import Florida Custom LayerSlider Stylesheet */
	/*@import url('./flexslider.css'); /* Import Flex Slider Stylesheet */
	@import url('./icomoon.css'); /* Import Vector Icons Stylesheet */
	
	/*-----------------------------------------------------------------------------------*/
	

	
@font-face {
    font-family: "dinLight";
    src: url('font/pfdintextcomppro-light-webfont.eot');
    src: url('font/pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/pfdintextcomppro-light-webfont.woff') format('woff'),
         url('font/pfdintextcomppro-light-webfont.ttf') format('truetype'),
         url('font/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_pro_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "dinMedium";
    src: url('font/pfdintextcomppro-medium-webfont.eot');
    src: url('font/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('font/pfdintextcomppro-medium-webfont.ttf') format('truetype'),
         url('font/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_pro_mediumRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


	.fourone{
	
		width:210px;
		height:190px;
		float:left;
		margin-right:20px; 
		background: none repeat scroll 0 0 #f8f8f8;
		box-shadow: 0 1px 1px 0 #d3d3d3;
	    overflow: hidden;
		position: relative;
	
	}

	.fouroneimg{
	
		width:210px;
		max-height:150px;
		margin-right:auto;
		margin-left:auto;

	}

	 .topfour .fourone:first-child{
		margin-left:20px;
	 }

	a span.newsTitle {
		color: #454545;
		display: block;
		font-family: "dinMedium","Roboto",sans-serif;
		font-size: 28px;
		font-weight: normal;
		line-height: 30px;
		padding: 4px 10px 0px;
		transition-duration: 0.3s;
		transition-property: color;
	}


	a:hover span.newsTitle  { color: #ed1c24; background: none repeat scroll 0 0  #fff; }

	





	.form1 {
		margin: 0px; }
 
	.input1  {
		border: 1px solid #e5e5e5;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		border-radius: 1px;
		color: #888;
		margin: 0;
		width: 210px;
		max-width: 100%;
		min-height: 21px;
		display: block;
		margin-bottom: 0px;
		background: #fdfdfd;
 } 
 
	/* #Site Styles
	================================================== */
	
	/* WRAPPER */ 
	
	#wrap { margin: 0 auto; position: relative; padding: 0;   }
	#boxed-wrap { margin: 0 auto; background: #fff; overflow:hidden; width: 970px;  }
	#boxed-wrap { border: 0px solid #d6dbdc\9; border-bottom: none; }
	#full-width, #hero { width: 100%; padding: 0; clear: both; border-bottom: 1px solid #d6d6d6; }
	#full-width img, #hero img { margin: 0; max-width: 100%; margin-bottom: -6px; }
	#headline, #headline2 { width: 100%; height: 82px; padding: 16px 0 20px; background: #fafafa; display: table; }
	#headline h3, #headline2 h3 { color: #424748; font-size: 56px; line-height:1.3; margin: 20px 10px; position: relative; text-transform: capitalize; font-weight: 100; letter-spacing: 0; }
	#headline h3 small, #headline2 small { font-size: 56%; color: rgba(255,255,255,0.8); font-weight: 300; margin-left: 10px; letter-spacing: -0.07em; text-transform: capitalize; }
	#headline h3 small { color: #808080; font-weight: 100; }
	#headline2 { padding: 25px 0 12px; background: #0093d0; }
	#headline2 h3 { color: #fff; border: 0 none; }
	#header h6, .top-bar h6, .top-inf h6  { font-size:16px; margin:20px; font-weight:400; color:#797979; display:inline-block;}
	#header h6 i, .top-bar h6 i, .top-inf h6 i { background:#f1f1f1; color:#545454; display:inline; margin:7px; padding:7px; border-radius:4px; vertical-align:middle;}
	.tbg1 { background: url(../images/tbg1.png) repeat-x; }
	
		
	/* TOP-BAR  */ 
	.top-bar { background:#fff; min-height:26px; padding:12px 0; border-bottom:1px solid #f3f3f3; } 
	.top-bar h6 { font-size:12px; font-weight:400; margin:0 20px 0 0; color:#999; letter-spacing:0.6px;} 
	.top-links { float:left; color:#a9b2b4; font-size:11px; padding:4px 0 0 4px; }
	.top-links.rgtflot { float:right; padding-right:10px;}
	.top-links img, .container .top-links p { float:left; margin:4px 3px 0 0;}
	.container .top-links p { color:#d9d9d9; font-weight:bold; font-size:12px; line-height:1; margin:5px 9px 0 0;}
	.top-links a, .top-links span { color: #9aa6af; font-size:10px; display:inline; margin:0 6px; text-transform:uppercase; font-weight:bold; }
	.top-links a:hover { color:#ff932a}
	.top-co-inf .top-links { float:right; margin-top:8px;}
	.top-co-inf .top-links p { color:#6d6e71; }

	
	/* HEADER  */ 
	#header { border-bottom: 4px solid #f0f0f0; margin:0; }
	#header.transed { position: fixed; background: rgba(255,255,255,0.8); width: 100%; z-index: 9100; }
	#header.super-fixed { background:#fff; border:none; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); width:100%; height:90px; z-index: 9100;}
	.logo { height:100%; }
	.logo img { max-width: 100%; height:auto; max-height:100%; min-height:54px; }
	#header.super-fixed .logo img, header.super-fixed .logo { max-height:90px; width:auto;}
	
	#sticker { background: #fff\9; z-index: 90000; width: 100%; height: auto; position: relative; }
	.darkhalf #sticker { position:fixed; top:0;}
	.darkhalf section.homedark{ margin-top:-114px;}
	header.sticky { margin: 0; position: fixed; top: 0; z-index: 100; }
	
	.is-sticky #header { margin-top:-50px; background:rgba(255,255,255,0.98); border-bottom: 4px solid #f0f0f0; }
	.is-sticky .logo { height:54px; margin-top:50px; }
	.is-sticky .logo img { max-height:48px; width:auto; }
	.is-sticky #header.super-fixed { margin:0; border:none; background:#fff;}
	.is-sticky #header.super-fixed .logo,
	.is-sticky #header.super-fixed .logo img { max-height:90px; margin:0;}
	
	
	#search-form { float:right; margin:61px 0 auto 16px; position:relative;}
	#search-form .search-text-box, #search-form2 .search-text-box2 { background-color: #f3f3f3;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; border: 0 none; border-radius: 18px; box-shadow: none; color: transparent; cursor: text; font-size: 13px; color:#444; height:18px; line-height: 18px; padding: 7px 5px 8px 30px; transition: all 0.3s ease-in-out 0s; width: 1px;}	
	#search-form2 { display:none; position:relative; }
	#search-form2 .search-text-box2 { width:220px; margin:auto; position:relative; }
	#header.super-fixed #search-form { margin-top:29px;}
	
	
	/* --------------------- */
	
	/* Side Nav */
	
	#side-content { float:right;}
	#side-nav { float:left; z-index:979;}
	#side-nav ul { padding:10px 20px; background:#fff;  border:3px solid #f3f3f3; list-style:none;}
	#side-nav ul li { border-bottom:1px solid #eaeaea; padding:0; margin:0;}
	#side-nav ul li:last-of-type { border-bottom:0 none;}
	#side-nav ul li ul { border:0 none; padding:0; padding-left:20px; margin:0; background:#fdfdfd; display:none;}
	#side-nav a { display:block; color:#575757; padding:14px 0; text-transform:capitalize; font-size:13px; font-weight:400; letter-spacing:0.2px;  }
	#side-nav a:after { float:right;  font-family: 'icomoon'; font-size:10px; color:#878787; content: "\e3b0"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1;	-webkit-font-smoothing: antialiased;}
	#side-nav a:hover, #side-nav a:hover:after { color:#ff9900;}
	#side-nav li.current a, #side-nav li.current a:after { color:#0093d0;}
	#side-nav ul li ul li a { padding:10px 0; font-size:12px;}
	#side-nav ul li:hover > ul { display:block;}
	
	
	/* Image Gallery */
	
	.image-gallery { display:block; margin:10px 0;}
	.image-gallery ul li { float:left; width:215px; height:215px; margin:1px; overflow:hidden;}
	.image-gallery ul li img { max-width:420px; width:auto; height:215px; border-radius:1px; text-align:center}
	.image-gallery .zoomex { bottom:0;}
	
	
	
	/* --------------------- */
	
	
	/* FOOTER */
	
	
	#footer { width: 100%; padding: 10px 0 0 0; background: #2d2d2d; border-top: 8px solid #222; }
	#footer.litex { background: #fafafa;  border-top: 6px solid #e9e9e9; }
	.footer-in { margin: 0 auto; padding-bottom: 50px; color: #ccc; position: relative; }
	.footer-in .columns { margin-top: 20px; }
	.footer-in h5.subtitle { color: #ddd; display: block; border-bottom: 1px solid #212121; padding-bottom: 6px; margin: 0; margin: 35px 0; -webkit-box-shadow: 0 1px #373737; -moz-box-shadow: 0 1px #373737; box-shadow: 0 1px #373737; position: relative; }
	#footer.litex .footer-in h5.subtitle { color:#414141;}
	#footer h5.subtitle span { position: absolute; right: 0; text-align: right; }
	#footer h5.subtitle span a { color: #787878; font-size: 10px; font-weight: 400; }
	.lts-news { height: 64px; overflow: hidden; margin-bottom: 15px; }
	.lts-news .img-hover { float:left; margin:0 10px 0 0;}
	.lts-news img { height: 64px; }
	.lts-news h5 { font-size: 16px; font-weight: 500; border: none; margin: 0; padding: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; white-space:nowrap;}
	.lts-news a { color: #ddd; }
	.footer-in .lts-news p { font-size: 11px; line-height: 17px; color: #9c9b9b; margin-bottom:5px; letter-spacing:0; }
	.lts-news .img-hover:before { -webkit-box-shadow: inset 0 0 0 3px #fff; -moz-box-shadow: inset 0 0 0 3px #fff; box-shadow: inset 0 0 0 3px #fff; opacity: .5; }
	.lts-news:hover .img-hover:before { opacity: 1; -webkit-box-shadow: inset 0 0 0 3px #e84a52; -moz-box-shadow: inset 0 0 0 3px #e84a52; box-shadow: inset 0 0 0 3px #e84a52; }
	.lts-news:hover h5 a { color: #e84a52; }
	.footer-in hr { border-color: #373737; }
	.footer-in .copyright-txt { font-size: 12px; }
	.footer-in p { line-height: 19px; color: #898989; }
	.contact2 div { line-height: 21px; }
	.footer-in a { text-decoration: none; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease; }
	.footer-sbc { position: relative; text-align: center; margin: 0 auto; }
	.footer-sbc input[type="text"], .footer-sbc input[type="submit"] { float: left; margin: 4px 7px; }
	/* Social Icons */
	.social-icons a { border: 0; float: left; margin: 1px 7px 0 12px; opacity: 0.5; text-decoration: none; -webkit-transition: opacity 0.5s ease; -moz-transition: opacity 0.5s ease; -ms-transition: opacity 0.5s ease; -o-transition: opacity 0.5s ease; transition: opacity 0.5s ease; }
	.social-icons a:hover { opacity: 1; }
	.social-icons.members { clear: both; text-align: center; margin-bottom: 10px; }
	.social-icons.members a { text-align: center; float: none; }
	.footer-in a img { float: left; }
	.contact-inf span { display: block; color: #9b9b9b; font-family: Arial; font-size: 14px; }
	.contact-inf i { margin-right: 5px; color: #474747; }
	.contact-inf form { margin-top: 20px; }
	.footer-in .contact-inf input, .footer-in .contact-inf textarea { display: block; min-width: 97%; margin: 10px 0; background: #2b2928; color: #ccc; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 6px 0px 6px 12px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; -moz-box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; box-shadow: inset 0 0 3px 1px #222, 1px 1px #424242; }
	.footer-in .contact-inf button { padding: 10px 20px; font-size: 12px; font-weight: 400; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #373737; background: -moz-linear-gradient(top, #373737, #252525); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(100%, #252525)); background: -webkit-linear-gradient(top, #373737, #252525); background: -ms-linear-gradient(top, #373737, #252525); background: -o-linear-gradient(top, #373737, #252525); background: linear-gradient(top, #373737, #252525); border: none; float: right; }
	.footer-in a:hover { color: #85b940; }
	#footer.litex .footer-in a { color: #0093d0; }
	.footer-in a.terms { color: #578f1a; }
	.footer-in .lts-tweets { padding: 12px; padding-top: 34px; text-align: center; position: relative; }
	.footer-in .lts-tweets i { font-size: 80px; color: #333; position: absolute; top: 2px; left: 40%; z-index: 9; }
	.footer-in .lts-tweets h3 { z-index: 12; position: relative; }
	.footer-in .lts-tweets h5 { color: #82878a; padding: 0 10px; font-size: 16px; font-weight: 400; font-family: "Roboto Slab"; }
	
	.partner-website h5 { margin: 20px 0; }
	.partner-website a { display: block; color: #808080; font-family: Arial, Helvetica, sans-serif; font-size: 12px; -webkit-transition: all .08s ease; -moz-transition: all .08s ease; -ms-transition: all .08s ease; -o-transition: all .08s ease; transition: all .08s ease; }
	.partner-website a:hover { color: #fff; }
	.partner-website a i { margin: 0 5px; -webkit-transition: all .18s ease; -moz-transition: all .18s ease; -ms-transition: all .18s ease; -o-transition: all .18s ease; transition: all .18s ease; }
	.partner-website a:hover i { margin-left: 10px; }
	.footbot { margin: 0 auto; position: relative; background: #222; padding: 26px 0 18px; text-align: right; border-top-right-radius: 2px; border-top-left-radius: 1px; }
	#footer.litex .footbot { background:#e9e9e9}
	#footer.litex .footbot, #footer.litex .footer-in h4, #footer.litex .footer-in hr { border-color: #e0e0e0; color: #5b5b5b; }
	.footbot img { position: relative; margin: 6px 40px 0 0; opacity: 0.93; }
	.footer-navi { float: left; line-height: 38px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #9B9B9B; text-transform: capitalize; }
	.footer-navi ul { margin-left: 40px; }
	.footer-navi a { color: #a9b2b4; margin: 0 4px; }
	.footer-navi a:hover { color: #ccc; text-decoration: underline; }
	.socailfollow { float: right; }
	.socailfollow a { height: 18px; padding: 10px; float: left; text-decoration: none; display: block; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }
	.socailfollow a:first-of-type { margin-left: 0; }
	.footer-in .socailfollow a:hover { text-decoration: none; }
	.socailfollow a.facebook:hover { background: #3b5996; }
	.top-bar .socailfollow a.facebook:hover i, .our-team .socailfollow a.facebook:hover i { color: #3b5996; }
	.socailfollow a.twitter:hover { background: #00acee; }
	.top-bar .socailfollow a.twitter:hover i, .our-team .socailfollow a.twitter:hover i { color: #00acee; }
	.socailfollow a.vimeo:hover { background: #0dadd6; }
	.top-bar .socailfollow a.vimeo:hover i, .our-team .socailfollow a.vimeo:hover i { color: #0dadd6; }
	.socailfollow a.dribble:hover { background: #d53e68; }
	.top-bar .socailfollow a.dribble:hover i, .our-team .socailfollow a.dribble:hover i { color: #d53e68; }
	.socailfollow a.youtube:hover { background: #cb322c; }
	.top-bar .socailfollow a.youtube:hover i, .our-team .socailfollow a.youtube:hover i { color: #cb322c; }
	.socailfollow a.pinterest:hover { background: #cb2027; }
	.top-bar .socailfollow a.pinterest:hover i, .our-team .socailfollow a.pinterest:hover i { color: #cb2027; }
	.socailfollow a.google:hover { background: #c3391c; }
	.top-bar .socailfollow a.google:hover i, .our-team .socailfollow a.google:hover i { color: #c3391c; }
	.socailfollow a.linkedin:hover { background: #0073b2; }
	.top-bar .socailfollow a.linkedin:hover i, .our-team .socailfollow a.linkedin:hover i { color: #0073b2; }
	.socailfollow a.rss:hover { background: #f29a1d; }
	.top-bar .socailfollow a.rss:hover i, .our-team .socailfollow a.rss:hover i { color: #f29a1d; }
	.socailfollow a.instagram:hover { background: #457399; }
	.top-bar .socailfollow a.instagram:hover i, .our-team .socailfollow a.instagram:hover i { color: #457399; }
	.socailfollow a.other-social:hover { background: #ff5d5e; }
	.top-bar .socailfollow a.other-social:hover i, .our-team .socailfollow a.other-social:hover i { color: #ff5d5e; }
	.socailfollow img { opacity: 0.79; }
	.socailfollow i { font-size: 18px; color: #fff; opacity: 0.95; }
	#footer.litex .socailfollow i { color: #343434; }
	#footer.litex .socailfollow a:hover i { color: #fff; }
	.top-bar .socailfollow { float: right; margin-right: 10px; }
	.top-bar .socailfollow.lftflot { float: left; }
	.top-bar .socailfollow img { opacity: 0.97; }
	.top-bar .socailfollow a, .our-team .socailfollow a { padding: 4px; margin: 1px 4px; background: #fff; }
	.top-bar .socailfollow i, .our-team .socailfollow i { color: #979797; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -ms-transition: all 0.125s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
	.top-bar .socailfollow a:hover, .our-team .socailfollow a:hover { background: none; }	
	
	
	
	/* #Misc
	================================================== */
	
	/* EXTRAS */
	
	.brdr-r1, .brdr-r2 { border-right: 1px solid #e5e5e5; padding-right: 19px; }
	.brdr-l1, .brdr-l2 { border-left: 1px solid #e5e5e5; padding-left: 19px; }
	.brdr-r2 { padding-right: 27px; }
	.brdr-l2 { padding-left: 27px; }
	.pad-r27 { padding-right: 27px; }
	.pad-l27 { padding-left: 27px; }
	.alignright { text-align: right; }
	img.alignright { float: right; }
	.alignleft { text-align: left; }
	img.alignleft { float: left; }
	.aligncenter { text-align: center; }
	.wp-caption { display: block; color: #444; }
	.wp-caption-text { font-size: 15px; }
	.sticky { color: #555; }
	.gallery-caption { display: inline; }
	.bypostauthor { font-size: 13px; }
	.moonicons-box1 { font-size: 16px; display: inline-block; width: 15em; padding: .25em .5em; background: #fff; margin: .5em 1em .5em 0; border: 1px solid #e8e8e8; }
	.alignright { text-align: right; }
	img.alignright { float: right; }
	.alignleft { text-align: left; }
	img.alignleft { float: left; }
	.aligncenter { text-align: center; }
	.wp-caption { display: block; color: #444; }
	.wp-caption-text { font-size: 15px; }
	.sticky { color: #555; }
	.gallery-caption { display: inline; }
	.bypostauthor { font-size: 13px; }
	/* Scroll to top */
	#scroll-top a { width: 16px; height: 16px; padding: 6px 8px 9px; border-radius: 4px; background: #818c90; position: fixed; bottom: 48px; right: 32px; display: none; opacity: 0.89; filter: alpha(opacity=89); z-index: 499841; }
	#scroll-top a i { font-size: 16px; color: #fff; }
	#scroll-top a:hover { background-color: #ffcc00; cursor: pointer; }
	
	h1.pnf404 { font-size: 176px; line-height: 1.1; font-weight:900;}
	h2.pnf404 { font-size: 42px; line-height: 1.2; font-weight:700; }
	input.txbx404 { float:left; margin-top:2px; margin-right:4px; padding:7px 4px; min-height:inherit; border-radius:3px; }
	input.btn404 { float:left; margin:1px; padding:8px 12px 9px; }
	
	.v-shadow-l { background:url(../images/v-shadow-left.png) no-repeat right center; }
	.v-shadow-r { background:url(../images/v-shadow-right.png) no-repeat left center; }
	.v-shadow-r, .v-shadow-l {  min-height:320px; }
	.pad-r10 { padding-right:10px; }
	.pad-r20 { padding-right:20px; }
	.pad-r30 { padding-right:30px; }
	.pad-r40 { padding-right:40px; }
	.pad-l10 { padding-left:10px; }
	.pad-l20 { padding-left:20px; }
	.pad-l30 { padding-left:30px; }
	.pad-l40 { padding-left:40px; }
	
	/* #Column Shortcodes
	----------- */
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { margin-right: 4%; float: left; margin-bottom:0px; }
	.one_half { 	width: 48%; }
	.one_third { width: 30.6666%; }
	.two_third { width: 65.3332%; }
	.one_fourth { width: 22%; }
	.three_fourth { width: 74%; }
	.one_fifth { width: 16.8%; }
	.two_fifth  { width: 37.6%; }
	.column-last { margin-right: 0 !important; clear: right; }
	
	
	.easyPieChart { position: relative; text-align: center; }
	.easyPieChart canvas { position: absolute; top: 0; left: 0; }
	.pie { text-align:center; font-size:49px; position:relative; margin:0 auto 20px; }
	.pie p { font-size:16px; color:#888; font-weight:400; position:absolute; bottom:-52px; width:100%; padding-top:10px; border-top:2px solid #f9f9f9;}
	.container .pie p { margin-bottom:0;}
	

	.rightcons {
	 
	margin-left: 0px;
	margin-right: 10px;
}

.rightcons li {
	background-color: #e3e3e3;
	margin-bottom: 5px;
	width: 600px;
	height: 80px;
	overflow: hidden;
	font-weight:bold;
	display:block;
	position:relative;
	font-size:18px;
	line-height: 18px;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Helvetica Neue", Helvetica, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva,  'Open Sans Condensed',Arial, sans-serif;
}
.rightcons li:hover {
	background-color: #b56eae;
	color: #fff;
}
.rightcons li a:link,.rightcons li a:visited{
	text-shadow: 0px 1px #fff;
}
.rightcons li:hover a, .rightcons li a:hover, .rightcons  li a:active {
	color: #fff;
	text-shadow: 0px 1px #000;
}
.rightcons li img{

	width:120px;
	height:80px;
	padding:0;
	position:relative;
	margin-right:10px;
	float:left;
}
.rightcons li .news{
	 
	height:112px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;
	display:block;
}
.rightcons li .news a{
	display:block;
	 
	height:80px;
	font-size:18px;
	line-height: 18px;
}

#resimreklam, #reklamdetay {
	float:left;
}

#reklamdetay {
	margin-right:10px;
}

#fb1,#fb2 {
    color: #2d609b;
    font-style: normal;
    font-weight: bold;
    line-height: 50px;
    font-size: 36px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	white-space: nowrap;
	text-align:center;
;
 
}

.caption {
    color: #8a8c8e;
    font-family: Arial,sans-serif;
    margin-top: -13px;
    text-transform: uppercase;
    font-size: 11px;
	white-space: nowrap;
	text-align:center;
 
}

.totalshare{
	min-width:100px;
	margin-right:40px;
	display: inline-block;
	white-space: nowrap;
	text-align:center;
	position: relative;

}
	
	
	/* #Media Queries
	================================================== */
	
	/* Smaller than standard 960 (devices and browsers) */

	
	.img-box { width: 256px; height: 188px; }
	.last-project .img-box { background: #EA3C3C; }
	.last-project .img-box:nth-child(even) { background: #F66060; }
	.ab-box { height: 235px; }
	.author-detail { width: 218px; }
	.comment-contents { width: 343px; }
	.child-comment .comment-contents { width: 263px; }
	.contact input { width: 330px; float: none; }
	.contact textarea { width: 486px; }
	.row.magic, .s-qoute-man { padding: 0; margin-bottom: 10px; }
	a.get { margin-bottom: 14px; }
	.pad-r10, .pad-r20, .pad-r30, .pad-r40 { padding-right: 5px; }
	.pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding-left: 5px; }
	#main-content-pin .container { width: auto; }
	
 

	

	/* ---------------------

