@charset "utf-8";
/* CSS Document */

div.contentListing div.contentItem.grayed div.contentItemInner{ background-color:#2e2e2e; border-left:1px solid #989898; border-bottom:1px solid #989898; }
div.contentListing div.contentItem.grayed div.contentItemInner div.artist{ color:#dedede; }
div.contentListing div.contentItem div.contentItemInner div.text.countdown{text-align:center; font-weight:bold; font-size:18px; line-height:40px; color:#0D7BC0; background:#E7E7E7; border:1px solid #BCBCBC;}
div.contentListing div.contentItem.grayed div.contentItemInner div.text.countdown{ background:#1e1e1e; border-color:#6d6d6d; }
div.contentListing div.contentItem.grayed div.contentItemInner div.divider{ background-image:url(/images/contentItemDividerDark.png); }

div.superspotlight{ width:100%; margin-bottom:10px; }
div.superspotlight.hidden{ display:none; margin:0; }
div.superspotlight a.mixtape{ display:inline-block; width:200px; height:200px; margin:3px; border:1px solid #c1c1c1; position:relative; }
div.superspotlight a.mixtape:first-child,
div.superspotlight a.mixtape:nth-child(4){ margin-left:0; }
div.superspotlight a.mixtape:last-child,
div.superspotlight a.mixtape:nth-child(6){ margin-right:0; }
div.superspotlight a.mixtape:hover{ border-color:#8b8b8d; }
div.superspotlight a.mixtape img{ width:100%; height:100%; }
div.superspotlight a.mixtape>span{ position:absolute; bottom:5px; width:100%; left:0; box-sizing:border-box; padding:5px; background-color:rgba(0, 0, 0, 0.7); color:#0DC6FE; font-size:1.1em; font-family: 'Lato', sans-serif; text-transform:uppercase; font-weight:bold; text-align:center; }
div.superspotlight a.mixtape>span span{ font-size:.9em; color:#d1d1d1; display:block; }
div.superspotlight a.mixtape:hover>span{ background-color:#000; }

div.featuredcollection{ background:#fff; border:1px solid #414141; border-top:3px solid #1e1e1e; border-bottom:3px solid #1e1e1e; margin:15px auto; padding:8px; text-align:left; border-radius:8px; }
div.featuredcollection.hidden{ display:none; margin:0; }
div.featuredcollection h3{ background:url('http://hw-static.datpiff.com/images/clear.gif') left center no-repeat; background-size:contain; color:#fff; text-align:left; text-indent:40px; font-size:23px; margin:0; margin-bottom:10px; }
div.featuredcollection a.mixtape{ display:inline-block; width:190px; height:190px; margin:3px; border:1px solid #c1c1c1; position:relative; }
div.featuredcollection a.mixtape:first-child,
div.featuredcollection a.mixtape:nth-child(4){ margin-left:0; }
div.featuredcollection a.mixtape:last-child,
div.featuredcollection a.mixtape:nth-child(6){ margin-right:0; }
div.featuredcollection a.mixtape:hover{ border-color:#8b8b8d; }
div.featuredcollection a.mixtape img{ width:100%; height:100%; }
div.featuredcollection a.mixtape>span{ position:absolute; bottom:5px; width:100%; left:0; box-sizing:border-box; padding:5px; background-color:rgba(0, 0, 0, 0.7); color:#0DC6FE; font-size:1.1em; font-family: 'Lato', sans-serif; text-transform:uppercase; font-weight:bold; text-align:center; }
div.featuredcollection a.mixtape>span span{ font-size:.9em; color:#d1d1d1; display:block; }
div.featuredcollection a.mixtape:hover>span{ background-color:#000; }
div.featuredcollection.small a.mixtape{ width:142px; height:142px; }
div.featuredcollection.small a.mixtape>span{ font-size:1em; }
div.featuredcollection.small a.mixtape:nth-child(4){ margin-left:3px; }
div.featuredcollection.small a.mixtape:nth-child(6){ margin-right:3px; }
div.featuredcollection.small a.mixtape:nth-child(5){ margin-left:3px; }
div.featuredcollection.small a.mixtape:nth-child(7){ margin-right:3px; }
