@charset "utf-8";

/* element composition */
.visible{ visibility:visible; display:block; }
.hidden{ visibility:hidden; display:none; }
img{ border:none; }
div.breaker{ float:none; clear:both; font-size:1px; }
h1{ margin:0px; padding:0px; }
p{ margin-top:0px; }
a{ font-weight:bold; color:#45ac02; }
ul{ margin:0; padding:0; }
ul.easy{ margin-left:-2px; padding:inherit; }
ul.easy li{ margin-bottom:3px; line-height:16px; }
div.siteMessage{ clear:both; display:block; width:70%; margin:0 auto 10px auto; border:1px dotted #4c4b4b; color:#4c4b4b; font-weight:bold; text-align:center; padding:2px; }
.timesGray{ font-family:"Times New Roman", Times, serif; color:#7b8978; font-style:italic; }
.lightgray{ color:#a0a0a0; }
.whitegray{ color:#dbdbdb; }
.darkGray{ color:#5b5b5b; }
.charcoal{ color:#4c4b4b; }
.darkCharcoal{ color:#2e2e2e; }
.magenta{ color:#ff0030; }
.teal{ color:#01bfd3; }
.green{ color:#45ac02; }
.clickable{ cursor:pointer; }
.strong, strong, b{ font-weight:bold; }

/* forms */
form div.title{ font-size:17px; font-weight:bold; color:#878787; font-style:italic; padding-bottom:8px; text-indent:18px; clear:both; font-family:"Times New Roman", Times, serif; background:url(http://hw-static.datpiff.com/images/contentItemDivider.gif) repeat-x bottom; margin:20px 0 10px -10px; }
form div.text{ margin-bottom:10px; }
form label{ display:block; color:#646464; font-size:16px; margin:5px 0 10px 0; font-family:Arial, Helvetica, sans-serif; text-transform:capitalize; font-weight:bold; clear:both; background:url(http://edge-static.datpiff.com/images/labelArrow.gif) 0px 3px no-repeat; text-indent:8px; width:100%; }
form label.half{ float:left; width:43%; clear:none; margin-right:10px; }
form label.radio{ margin:15px 0 2px 0; }
form label input, form select, form textarea{ border:1px dotted #000000; color:#646464; display:block; clear:both; margin-top:3px; padding:2px; font-size:16px; font-weight:bold; width:80%; background:#e9e9e9; /*min-width:300px;*/ }
form select.auto{ width:auto; display:inline-block; }
form input[type="radio"], form input[type="checkbox"]{ width:auto; font-weight:normal; background:none; border:none; }
form label span{ display:block; clear:both; color:#6e776c; font-style:italic; font-size:10px; font-weight:normal; font-family:Tahoma; margin-top:3px; line-height:12px; text-transform:none; text-indent:0; }
form label span.hint{ display:inline-block; background:url(http://hw-static.datpiff.com/images/btnHint.gif) no-repeat; cursor:pointer; width:9px; height:11px; margin-left:5px; }
form label input:focus{ border:2px solid #00c6da; }
form label.file{ position:relative; background:url(http://hw-static.datpiff.com/images/btnBrowseBackground.gif) no-repeat; }
form label.file input.dummy{ width:400px; position:relative; z-index:1; clear:both; display:block;  }
form label.file input.file{ position: absolute; text-align: right; -moz-opacity:0; filter:alpha(opacity: 0); opacity: 0; z-index: 2; top:20px; }

div.form{ clear:both; }
div.form div.title{ font-size:17px; font-weight:bold; color:#878787; font-style:italic; padding-bottom:8px; text-indent:18px; clear:both; font-family:"Times New Roman", Times, serif; background:url(http://hw-static.datpiff.com/images/contentItemDivider.gif) repeat-x bottom; margin:20px 0 10px -10px; }
div.form div.row{clear:both; width:550px; margin-top:5px;}
div.form div.row div.label{ float:left; width:150px; font-weight:bold; background:url(http://hw-static.datpiff.com/images/labelArrow.gif) no-repeat top left; padding-left:10px; }
div.form div.row div.data{ float:left; width:300px; }
/* end forms */
	
/* document composition */
body{ margin:0px;font-family:Tahoma;font-size:12px;color:#6a6969;background: /*#fcfcfc*/ #FFFFFF url(http://hw-static.datpiff.com/images/siteBackground.jpg) no-repeat top center;}

#siteContainer{width:1000px;margin-left:auto;margin-right:auto;}

#siteHeader{}
#siteHeader #headerTop{ height:116px;position:relative;	}
#siteHeader #headerTop #logo{ width:215px;height:118px;position:absolute;background:url(http://hw-static.datpiff.com/images/logo.png) no-repeat;z-index:3;top:54px;	left:-29px;	}
#siteHeader #headerTop #logo img{width:215px;height:118px;}
#siteHeader #headerTop #leaderboard{background-color:#f0f1f0;border:1px solid #cbcccc;width:728px;height:90px;position:absolute;left:218px;	top:3px;}
#siteHeader #headerTop #loginbox{ position:absolute; width:263px; left: 716px; top: 98px; z-index:9999; }
#siteHeader #headerTop #loginbox #tab{float:right; margin-right:10px; height:24px; background:url(http://hw-static.datpiff.com/images/loginboxTabBackground.gif) repeat-x; cursor:pointer; /*min-width:150px;*/ text-align:center; /*position:relative; z-index:3;*/}
#siteHeader #headerTop #loginbox #tab span{display:block; height:24px; background:url(http://hw-static.datpiff.com/images/loginboxTabLeft.gif) no-repeat top left;}
#siteHeader #headerTop #loginbox #tab span span{background:url(http://hw-static.datpiff.com/images/loginboxTabRight.gif) no-repeat top right;}
#siteHeader #headerTop #loginbox #tab span span span{background:none; line-height:22px; color:#899184; font-size:11px; padding-left:4px; padding-right:4px;}
#siteHeader #headerTop #loginbox #tab span.username{font-weight:bold; color:#45ac02; background:none; display:inline; padding:0px;}
#siteHeader #headerTop #loginbox #loginContentHolder{display:none; visibility:hidden; clear:both; position:relative; z-index:1;}
#siteHeader #headerTop #loginbox #loginContentHolder #header{height:14px; background:url(http://hw-static.datpiff.com/images/loginboxTop.gif) no-repeat top center;}
#siteHeader #headerTop #loginbox #loginContentHolder #content{background:#d2d6d5 url(http://hw-static.datpiff.com/images/loginboxBackground.gif) repeat-x; min-height:50px; border-left:1px solid #b0b1b1; border-right:1px solid #b0b1b1; padding:0 5px 5px 5px; margin-top:-8px; color:#333333; font-size:11px;}
#siteHeader #headerTop #loginbox #loginContentHolder #content a{ font-weight:normal; }
#siteHeader #headerTop #loginbox form{ width:257px; height:46px; background:url(http://hw-static.datpiff.com/images/loginBoxFormBackground.gif) no-repeat; margin:-6px 0 0 -3px; padding:0 0 0 6px; }
#siteHeader #headerTop #loginbox form label{ font-size:11px; color:#bec2c3; margin:2px 0 3px 0; width:115px; float:left; clear:none; background:none; text-indent:0; }
#siteHeader #headerTop #loginbox form label input{ font-size:11px; color:#545557; width:100px; background-color:#e4e5e5; border:1px solid #313234; }
#siteHeader #headerTop #loginbox form input.go{ background:url(http://hw-static.datpiff.com/images/loginboxFormBtnGo.gif) no-repeat; width:22px; height:19px; float:left; margin:20px 0 0 -8px; }
/* logged in */
#siteHeader #headerTop #loginbox #loginContentHolder #content div.topBar{ background:url(http://hw-static.datpiff.com/images/loginboxMemberBackground.gif) no-repeat; width:257px; height:29px;  margin:-3px 0 0 -3px; overflow:visible;   }
#siteHeader #headerTop #loginbox #loginContentHolder #content div.topBar div.avatar{ width:50px; margin:0 0 0 3px; text-align:center; float:left; }
#siteHeader #headerTop #loginbox #loginContentHolder #content div.topBar div.avatar img{ width:46px; height:46px; display:inline-block; background-color:#f1f1f1; border:2px solid #000000; margin:5px 0 0 3px; }
#siteHeader #headerTop #loginbox #loginContentHolder #content div.topBar div.avatar a{ font-weight:bold; text-decoration:none; }
#siteHeader #headerTop #loginbox #loginContentHolder #content div.topBar div.username{ color:#bec2c3; font-size:14px; font-weight:bold; float:left; margin-left:10px; padding-top:3px; }
#siteHeader #headerTop #loginbox #loginContentHolder #content div.topBar a.profile{ width:68px; height:20px; float:right; background:url(http://hw-static.datpiff.com/images/loginboxBtnProfile.gif); margin:3px 6px 0 0; }
#siteHeader #headerTop #loginbox #loginContentHolder #content ul{ margin-left:70px; padding-left:2px; }

/* Old Navbar
#siteHeader #navigation{width:1000px; height:56px; background:url(http://hw-static.datpiff.com/images/navigation.png) no-repeat; font-size:20px; }
#siteHeader #navigation #links{margin-left:370px; font-size:17px; font-weight:bold;}
#siteHeader #navigation #links a.navlink{height:36px; display:block; float:left; text-decoration:none; color:#9ba2a4; padding-top:20px; padding-left:14px; padding-right:14px; cursor:pointer;}
#siteHeader #navigation #links a.navlink:hover{color:#FFFFFF;}
#siteHeader #navigation #links a.active{color:#FFFFFF; background:url(http://hw-static.datpiff.com/images/navbutton.gif) repeat-x; padding:0px; height:56px;}
#siteHeader #navigation #links a.active span{display:block; height:56px; background:url(http://hw-static.datpiff.com/images/navbutton_left.gif) no-repeat top left;} /* display:inline-block; causes weird issues in FF2
#siteHeader #navigation #links a.active span span{background:url(http://hw-static.datpiff.com/images/navbutton_right.gif) no-repeat top right;}
#siteHeader #navigation #links a.active span span span{height:37px; background:none; padding-top:19px; padding-left:30px; padding-right:30px;}
#siteHeader #navigation #links a.active+a{padding-left:0px;}
*/

/* new navbar with dropdowns */
#siteHeader #navigation{width:1000px; height:56px; background:url(http://hw-static.datpiff.com/images/navigation.png) no-repeat; font-size:20px; /*position:relative; z-index:2;*/}
#siteHeader #navigation #links{margin-left:370px; font-size:17px; font-weight:bold; position:relative; }
#siteHeader #navigation #links a.navlink{height:36px; display:inline-block; float:left; text-decoration:none; color:#9ba2a4; padding:20px 14px 0 14px; cursor:pointer; position:relative; z-index:11;}
#siteHeader #navigation #links a.navlink:hover{color:#FFFFFF;}
#siteHeader #navigation #links a.active{color:#FFFFFF; background:none; padding:0px; height:56px; display:inline-block;}
#siteHeader #navigation #links a.active span{display:block; height:56px; background:url(http://hw-static.datpiff.com/images/navbutton_left.png) no-repeat top left; } /* display:inline-block; causes weird issues in FF2 */
#siteHeader #navigation #links a.active span span{background:url(http://hw-static.datpiff.com/images/navbutton_right.png) no-repeat top right;}
#siteHeader #navigation #links a.active span span span{height:37px; background:url(http://hw-static.datpiff.com/images/navbutton.gif) repeat-x; padding-top:21px; padding-left:30px; padding-right:30px; padding:21px 0 0 3px; margin:0 33px 0 30px;}
#siteHeader #navigation #links a.active+a{padding-left:0px;}

#siteHeader #navigation #links span.menuitem{ position:relative; width:auto; display:inline-block; float:left; }
#siteHeader #navigation #links span.menuitem span.submenu{ display:none; visibility:hidden; position:absolute; width:100%; top:8px; left:-4px; background:url(http://hw-static.datpiff.com/images/navigation-sublink-background-right.png) no-repeat 100% 0; padding-right:10px; }/*#1B1B1C */
#siteHeader #navigation #links span.menuitem span.submenu span.links{ display:inline-block; background:url(http://hw-static.datpiff.com/images/navigation-sublink-background-left.png) no-repeat top left; width:100%; }
#siteHeader #navigation #links span.menuitem span.submenu span.links a{ display:block; font-size:12px; font-weight:bold; color:#9ba2a4; font-variant:small-caps; text-decoration:none; margin:2px 0 1px 18px; }
#siteHeader #navigation #links span.menuitem span.submenu span.links a:first-child{ margin-top:40px; }
#siteHeader #navigation #links span.menuitem span.submenu span.links a:hover{ color:#fff; }
#siteHeader #navigation #links span.menuitem span.submenu span.menufooter{ display:block; height:25px; background:url(http://hw-static.datpiff.com/images/navigation-sublink-background-right.png) no-repeat 100% 100%; margin-bottom:-18px; margin-right:-10px; padding-right:10px; }
#siteHeader #navigation #links span.menuitem span.submenu span.menufooter>span{ display:block; height:25px; background:url(http://hw-static.datpiff.com/images/navigation-sublink-background-left.png) no-repeat bottom left; width:100%; }
#siteHeader #navigation #links span.menuitem:hover span.submenu{ display:inline-block; visibility:visible; /*padding-top:30px;*/ z-index:10; }
#siteHeader #navigation #links span.menuitem:hover a.navlink{color:#FFFFFF;}

/* This is the green version of the submenu */
#siteHeader #navigation #links span.menuitem.active span.submenu{ background-position:100% -25px; top:50px; left:2px; width:72%;  }
#siteHeader #navigation #links span.menuitem.active span.submenu span.links{ background-position:left -25px;}
#siteHeader #navigation #links span.menuitem.active span.submenu span.links a{ margin-left:12px; }
#siteHeader #navigation #links span.menuitem.active span.submenu span.links a:first-child{ margin-top:9px; }
#siteHeader #navigation #links span.menuitem.active span.submenu span.menufooter{ margin-right:0; width:100%; }


#siteHeader #bar980{ text-align:center; background-color:#F1F1F1; border-left:1px solid #d2d0d0; border-right:1px solid #d2d0d0; }
#siteHeader #bar980 img{ border:none; background:none; }
#siteHeader #releasecountdown{ background:#F1F1F1; color:#1e1e1e; /*color:#721c00;*/ text-align:center; }

#siteBody{background-color:#F1F1F1; border-left:1px solid #d2d0d0; border-right:1px solid #d2d0d0; padding:15px; /*position:relative; z-index:2;*/}

#siteBody #leftColumnWide{float:left; width:630px;}
	
#siteBody #leftColumnWide div.filterBar{min-height:26px; margin:11px 0 10px 0; background:url(http://hw-static.datpiff.com/images/filterbarBackground.gif) no-repeat; line-height:26px; font-size:11px; padding-left:8px;}
#siteBody #leftColumnWide div.filterBar a.filterButton{float:left; height:26px; background:url(http://hw-static.datpiff.com/images/filterBarButtonBackground.gif) repeat-x; margin:0px 1px 0px 1px; text-decoration:none; color:#919191; cursor:pointer;}
#siteBody #leftColumnWide div.filterBar a.filterButton.active{/*height:27px;*/ background:url(http://hw-static.datpiff.com/images/filterBarButtonActiveBackground.gif) repeat-x; /*margin-top:-2px;*/ color:#6a6969; font-weight:bold;}
#siteBody #leftColumnWide div.filterBar a.filterButton.active span{display:block; background:url(http://hw-static.datpiff.com/images/filterBarButtonActiveLeft.gif) no-repeat top left; float:left;}
#siteBody #leftColumnWide div.filterBar a.filterButton.active span span{background:url(http://hw-static.datpiff.com/images/filterBarButtonActiveRight.gif) no-repeat top right;}
#siteBody #leftColumnWide div.filterBar a.filterButton span span span{background:none; padding:0px 7px 0px 7px;}
#siteBody #leftColumnWide div.filterBar a.filterButton.active span span span{font-size:13px;}
#siteBody #leftColumnWide div.filterBar a.filterButton span span span img{vertical-align:baseline; margin-right:5px;}
#siteBody #leftColumnWide div.filterBar a.filterLink{float:right; height:26px; font-weight:normal; margin:0px 3px 0px 3px; background:none;}
#siteBody #leftColumnWide div.filterBar a.filterLink.active{text-decoration:none; color:#919191; font-weight:bold;}
#siteBody #leftColumnWide div.filterBar.breadCrumbs{ color:#6a6969; font-weight:normal; }
#siteBody #leftColumnWide div.filterBar.breadCrumbs h1{ color:#6a6969; font-weight:bold; font-size:11px; display:inline; margin-right:5px; }
#siteBody #leftColumnWide div.filterBar.breadCrumbs span.active{ font-weight:bold; color:#45ac02; }
#siteBody #leftColumnWide div.filterBar div.filterbarSub{ clear:both; display:block; height:31px; line-height:31px; /*background:url(http://hw-static.datpiff.com/images/filterbarSubBackground.gif) repeat-x;*/ margin:-2px 0 0 0; padding:0 3px 0 3px; font-size:12px; }

#siteBody #leftColumnWide div.filterBar div.filterbarSub a{height:20px; line-height:18px; display:inline-block; text-decoration:none;  cursor:pointer; background:url(http://hw-static.datpiff.com/images/filterbarSubLinkBackground.gif) repeat-x; font-size:11px; font-weight:normal;  }
#siteBody #leftColumnWide div.filterBar div.filterbarSub a span{display:inline-block; height:20px; background:url(http://hw-static.datpiff.com/images/filterbarSubLinkLeft.gif) no-repeat top left;}
#siteBody #leftColumnWide div.filterBar div.filterbarSub a span span{background:url(http://hw-static.datpiff.com/images/filterbarSubLinkRight.gif) no-repeat top right;}
#siteBody #leftColumnWide div.filterBar div.filterbarSub a span span span{height:20px; background:none; padding:0 8px 0 8px;}
#siteBody #leftColumnWide div.filterBar div.filterbarSub a img{ text-decoration:none; border-bottom:none; margin-right:6px; vertical-align:text-top; opacity:.3; filter:alpha(opacity=30); }
#siteBody #leftColumnWide div.filterBar div.filterbarSub a.active{color:#000000; font-weight:bold; background:url(http://hw-static.datpiff.com/images/filterbarSubLinkActiveBackground.gif) repeat-x; }
#siteBody #leftColumnWide div.filterBar div.filterbarSub a.active span{background:url(http://hw-static.datpiff.com/images/filterbarSubLinkActiveLeft.gif) no-repeat top left;}
#siteBody #leftColumnWide div.filterBar div.filterbarSub a.active span span{background:url(http://hw-static.datpiff.com/images/filterbarSubLinkActiveRight.gif) no-repeat top right;}
#siteBody #leftColumnWide div.filterBar div.filterbarSub a.active img{ font-weight:bold; text-decoration:none; color:#6a6969; opacity:1; filter:alpha(opacity=100);}
	
#siteBody #leftColumnWide div.filterBar div.filterbarSub span.breadCrumbs{ color:#6a6969; font-weight:normal; }
#siteBody #leftColumnWide div.filterBar div.filterbarSub span.breadCrumbs span.title{ color:#6a6969; font-weight:bold; font-size:11px; display:inline; margin-right:5px; }
#siteBody #leftColumnWide div.filterBar div.filterbarSub span.breadCrumbs span.active{ font-weight:bold; color:#45ac02; }
#siteBody #leftColumnWide div.filterBar div.filterbarSub span.breadCrumbs a{ text-decoration:none; font-weight:normal; color:#6a6969; background:none; }
#siteBody #leftColumnWide div.filterBar div.filterbarSub span.breadCrumbs a.active{ text-decoration:none; font-weight:bold; color:#45ac02; }

/*
#siteBody #leftColumnWide h1.banner{height:70px; background:#f1f1f1 url(http://hw-static.datpiff.com/images/bannerTitleBackground.gif) repeat-x; margin:0px; padding:0px; margin-left:-30px; float:left; position:relative; clear:both; }
#siteBody #leftColumnWide h1.banner span.icon{position:absolute; z-index:4; float:left; display:inline; padding:0; margin-left:-61px; margin-top:-5px;}
#siteBody #leftColumnWide h1.banner span.icon.mixtape{width:50px; height:35px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconMixtape.gif) no-repeat;}
#siteBody #leftColumnWide h1.banner span.icon.video{width:52px; height:46px; margin-left:-61px; margin-top:-8px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconVideo.gif) no-repeat;}
#siteBody #leftColumnWide h1.banner span.icon.podcast{width:50px; height:44px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconPodcast.gif) no-repeat;}
#siteBody #leftColumnWide h1.banner span.icon.user{width:50px; height:45px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconUser.gif) no-repeat;}
#siteBody #leftColumnWide h1.banner span{display:block; height:70px; background:url(http://hw-static.datpiff.com/images/bannerTitleLeft.gif) no-repeat top left; float:left; position:relative; z-index:1;}
#siteBody #leftColumnWide h1.banner span span{background:url(http://hw-static.datpiff.com/images/bannerTitleRight.gif) no-repeat top right;}
#siteBody #leftColumnWide h1.banner span span span{background:none; height:52px; padding:18px 45px 0px 50px; font-size:17px; color:#2e2e2e; font-weight:bold;}
#siteBody #leftColumnWide h1.banner span span span a{ color:#2e2e2e; text-decoration:none; }
#siteBody #leftColumnWide h1.banner span span span em{display:block; color:#FFFFFF; font-size:10px; background:url(http://hw-static.datpiff.com/images/bannerTitleSubarrow.gif) no-repeat left; height:12px; line-height:10px; text-indent:15px; margin:0px; padding:0px; font-style:normal;}
*/

#siteBody #leftColumnWide h1.banner{ height:70px; margin:0px; padding:0px; margin-left:-33px; position:relative; clear:both; }

#siteBody #leftColumnWide h1.banner span{ display:block; height:71px; float:left; background:url(http://hw-static.datpiff.com/images/bannerTitleSprite.png) left top no-repeat; position:relative; z-index:1;}
#siteBody #leftColumnWide h1.banner span span{ background-position:100% -140px; height:65px; }
#siteBody #leftColumnWide h1.banner span span span{ background-position:0 -71px; background-repeat:repeat-x; height:47px; margin:0px 54px 0 17px; padding:18px 5px 0px 30px; font-size:17px; color:#2e2e2e; font-weight:bold; }
#siteBody #leftColumnWide h1.banner span span span a{ color:#2e2e2e; text-decoration:none; }
#siteBody #leftColumnWide h1.banner span span span em{display:block; color:#FFFFFF; font-size:10px; background:url(http://hw-static.datpiff.com/images/bannerTitleSubarrow.gif) no-repeat left; height:12px; line-height:10px; text-indent:15px; margin:0px; padding:0px; font-style:normal;}

#siteBody #leftColumnWide h1.banner span.icon{position:absolute; z-index:4; float:left; display:inline; padding:0; margin-left:-61px; margin-top:-5px;}
#siteBody #leftColumnWide h1.banner span.icon.mixtape{width:50px; height:35px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconMixtape.png) no-repeat;}
#siteBody #leftColumnWide h1.banner span.icon.video{width:52px; height:46px; margin-left:-61px; margin-top:-8px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconVideo.png) no-repeat;}
#siteBody #leftColumnWide h1.banner span.icon.podcast{width:50px; height:44px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconPodcast.gif) no-repeat;}
#siteBody #leftColumnWide h1.banner span.icon.user{width:50px; height:45px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconUser.gif) no-repeat;}

/* ============================================== */
/* BEGIN MAIN MODULES */
/* ============================================== */
#siteBody #leftColumnWide div.module1, #siteBody div.module2{width:630px; padding:0px; clear:both; margin-bottom:15px;}
	
#siteBody #leftColumnWide div.banner, #siteBody #rightColumnWide div.banner{position:absolute; z-index:6; width:76px; height:48px; margin:-2px 0 0 -4px;}
#siteBody #leftColumnWide div.banner.featured, #siteBody #rightColumnWide div.banner.featured{background:url(http://hw-static.datpiff.com/images/banner-featured.png) no-repeat;}
#siteBody #leftColumnWide div.banner.sponsor, #siteBody #rightColumnWide div.banner.sponsor{background:url(http://hw-static.datpiff.com/images/banner-sponsored.png) no-repeat;}
#siteBody #leftColumnWide div.banner.hot, #siteBody #rightColumnWide div.banner.hot{background:url(http://hw-static.datpiff.com/images/banner-hot.png) no-repeat;}
#siteBody #leftColumnWide div.banner.new, #siteBody #rightColumnWide div.banner.new{background:url(http://hw-static.datpiff.com/images/bannerNew.png) no-repeat;}
#siteBody #leftColumnWide div.banner.exclusive, #siteBody #rightColumnWide div.banner.exclusive{background:url(http://hw-static.datpiff.com/images/banner-exclusive.png) no-repeat;}
#siteBody #leftColumnWide div.banner.vlad, #siteBody #rightColumnWide div.banner.vlad{background:url(http://hw-static.datpiff.com/images/bannerVlad.png) no-repeat;}
#siteBody #leftColumnWide div.banner.c2c, #siteBody #rightColumnWide div.banner.c2c{background:url(http://hw-static.datpiff.com/images/banner-c2c.png) no-repeat;}
#siteBody #leftColumnWide div.banner.ssmoke, #siteBody #rightColumnWide div.banner.ssmoke{background:url(http://hw-static.datpiff.com/images/bannerSsmoke.png) no-repeat;}
#siteBody #leftColumnWide div.banner.official, #siteBody #rightColumnWide div.banner.official{ left:-1px; top:110px; margin:0; width:132px; height:39px; background:url(http://hw-static.datpiff.com/images/banner-official.png) no-repeat; }
#siteBody #leftColumnWide div.contentListing.wide div.banner.official{ left:21px; top:156px; } /* Featured */
#siteBody #leftColumnWide div.module1 div.banner.official{ display:none; }

#social-bar{ position:fixed; margin:0 0 0 -88px; top:200px; width:70px; min-height:200px; z-index:1; background:#0b0b0b url(http://hw-static.datpiff.com/images/sidebar-background.png) left top repeat-y; border:2px solid #504f4f; border-right:none; border-radius:5px; border-top-right-radius:0; border-bottom-right-radius:0; }
#social-bar>*{ min-width:50px; min-height:30px; margin:8px auto 3px auto; text-align:center; padding-bottom:2px; background:url(http://hw-static.datpiff.com/images/sidebar-divider.png) bottom center no-repeat; }
#social-bar>*.comments{ width:56px; height:65px; background:url(http://hw-static.datpiff.com/images/sidebar-comment-sprite.png) 0 6px no-repeat; display:block; color:#000; text-decoration:none; font-size:22px; font-weight:bold; line-height:50px; overflow:hidden; }
#social-bar>*.comments:hover{ background-position:0 -62px; color:#fff; }
#social-bar>*:last-child{ padding-bottom:0; background:none; }
#social-bar div.fb-like iframe{ background:rgb(156, 154, 154); }
	
#siteBody #leftColumnWide div.module1 div.header{height:8px; background:url(http://hw-static.datpiff.com/images/leftColumnModule1Header.gif) no-repeat;}
#siteBody #leftColumnWide div.module1 div.content{min-height:48px; background:#FFFFFF url(http://hw-static.datpiff.com/images/leftColumnModule1ContentBackground.gif) repeat-x bottom left; padding:9px 15px 5px 15px; border-right:1px solid #D1D1D1; border-left:1px solid #D1D1D1; position:relative;}
#siteBody #leftColumnWide div.module1 div.content h1{font-size:17px; font-weight:bold; color:#01bfd3; text-transform:capitalize; font-family:Arial, Helvetica, sans-serif;}
#siteBody #leftColumnWide div.module1 div.content h1 a{ color:#01bfd3; text-decoration:none; }
#siteBody #leftColumnWide div.module1 div.content h1 img{margin:0 5px 0 5px;}
/*#siteBody #leftColumnWide div.module1 div.content h1.banner{background:#ffffff url(http://hw-static.datpiff.com/images/bannerTitleBackgroundWhite.gif) repeat-x;}
#siteBody #leftColumnWide div.module1 div.content h1.banner span{background:url(http://hw-static.datpiff.com/images/bannerTitleLeftWhite.gif) no-repeat top left;}*/
#siteBody #leftColumnWide div.module1 div.content h1.banner span.icon{margin-left:-60px;}
#siteBody #leftColumnWide div.module1 div.content h1.banner span.icon.form{width:45px; height:43px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconForm.png) no-repeat;}
#siteBody #leftColumnWide div.module1 div.content h1.banner span.icon.mixtape{width:50px; height:35px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconMixtape.gif) no-repeat;}
#siteBody #leftColumnWide div.module1 div.content h1.banner span.icon.video{width:52px; height:46px; margin-left:-61px; margin-top:-8px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconVideo.gif) no-repeat;}
#siteBody #leftColumnWide div.module1 div.content h1.banner span.icon.podcast{width:50px; height:44px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconPodcast.gif) no-repeat;}
#siteBody #leftColumnWide div.module1 div.content h1.banner span.icon.user{width:50px; height:45px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconUser.png) no-repeat;}
#siteBody #leftColumnWide div.module1 div.content h1.banner span.icon.search{width:50px; height:45px; background:url(http://hw-static.datpiff.com/images/bannerTitleIconSearch.png) no-repeat;}
/*#siteBody #leftColumnWide div.module1 div.content h1.banner span span{background:url(http://hw-static.datpiff.com/images/bannerTitleRightWhite.gif) no-repeat top right;}*/
#siteBody #leftColumnWide div.module1 div.content img.btnFloat{float:right; margin:-2px 3px 0 0;}
#siteBody #leftColumnWide div.module1 div.content div.divider{border:none; width:600px; background:url(http://hw-static.datpiff.com/images/divider_large.gif) repeat-x; clear:both; margin:5px 0px 5px 0px; height:1px;}
#siteBody #leftColumnWide div.module1 div.content div.thumbnail{width:136px; min-height:136px; background:url(http://hw-static.datpiff.com/images/contentItemThumbBack.gif) no-repeat top left; float:left;}
#siteBody #leftColumnWide div.module1 div.content div.thumbnail.video{width:133px; min-height:101px; background:url(http://hw-static.datpiff.com/images/contentItemThumbVideoBack.gif) no-repeat top left; float:left;}
#siteBody #leftColumnWide div.module1 div.content div.thumbnail img{border:1px solid #5b5b5b; background-color:#f1f1f1; width:128px; height:128px;}
#siteBody #leftColumnWide div.module1 div.content div.thumbnail.video img{border:1px solid #5b5b5b; background-color:#f1f1f1; width:124px; height:92px;}
#siteBody #leftColumnWide div.module1 div.content div.thumbnail a.next, #siteBody #leftColumnWide div.module1 div.content div.thumbnail a.prev{margin-top:5px; display:inline-block; float:left; color:#bdbdbd; font-size:10px; text-decoration:none; background:url(http://hw-static.datpiff.com/images/arrowLeftGray.gif) no-repeat left bottom; text-indent:8px;}
#siteBody #leftColumnWide div.module1 div.content div.thumbnail a.next{float:right; background:url(http://hw-static.datpiff.com/images/arrowRightGray.gif) no-repeat right bottom; padding-right:9px; text-indent:0px;}
#siteBody #leftColumnWide div.module1 div.content div.thumbnail a.active{color:#84beeb; background:url(http://hw-static.datpiff.com/images/arrowLeftBlue.gif) no-repeat left bottom;}
#siteBody #leftColumnWide div.module1 div.content div.thumbnail a.active.next{background:url(http://hw-static.datpiff.com/images/arrowRightBlue.gif) no-repeat right bottom; padding-right:9px; text-indent:0px;}
#siteBody #leftColumnWide div.module1 div.content div.description{float:left; margin-left:18px; width:440px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#siteBody #leftColumnWide div.module1 div.content div.description div.stats{border:1px solid #dadada; float:right; min-width:152px; padding:5px 14px 5px 14px; font-family:Tahoma; font-size:11px; color:#8a8a8a; margin:0px 0px 5px 5px;}
#siteBody #leftColumnWide div.module1 div.content div.description div.stats div{margin-bottom:2px;}
#siteBody #leftColumnWide div.module1 div.content div.description div.stats.mixtape{ width:auto; min-width:0; background:#FAFAFA; }
#siteBody #leftColumnWide div.module1 div.content div.description div.stats.mixtape>div{ text-align:center; margin:0; }
#siteBody #leftColumnWide div.module1 div.content div.description div.stats.mixtape>div.number{ font-size:12px; font-weight:bold; }
#siteBody #leftColumnWide div.module1 div.content div.description div.stats.mixtape>div.number.views{ color:#00BFD9; }
#siteBody #leftColumnWide div.module1 div.content div.description div.stats.mixtape>div.number.streams{ color:#6DB23E; }
#siteBody #leftColumnWide div.module1 div.content div.description div.stats.mixtape>div.ndumber.downloads{ color:#3B3536; }
#siteBody #leftColumnWide div.module1 div.content div.description div.stats.mixtape>div.subtext{ margin:0 0 5px 0; color:#4c4b4b; }
#siteBody #leftColumnWide div.module1 div.content div.detailbar{ height:20px; line-height:20px; background:#fbfbfb url(http://hw-static.datpiff.com/images/keywordsBackground.gif) bottom repeat-x; font-size:12px;border-top:1px solid #dadada; border-bottom:1px solid #dadada; padding:2px 10px 2px 10px; clear:both; margin:5px 0 5px 0; }
#siteBody #leftColumnWide div.module1 div.content div.detailbar>div.left{ float:left; width:260px; } /* total width is 598 */
#siteBody #leftColumnWide div.module1 div.content div.detailbar>div.right{ float:right; width:310px; text-align:right; overflow:hidden; }
/*#siteBody #leftColumnWide div.module1 div.content div.description div.stats div a{ text-decoration:none; color:#4c4b4b; font-weight:normal; }*/
#siteBody #leftColumnWide div.module1 div.content div.description div.stats.wide{ background:url(http://hw-static.datpiff.com/images/statsBackground.gif) bottom right no-repeat; width:415px; }
#siteBody #leftColumnWide div.module1 div.content div.keywords{min-height:10px; background:#fbfbfb url(http://hw-static.datpiff.com/images/keywordsBackground.gif) bottom repeat-x; border-top:1px solid #dadada; border-bottom:1px solid #dadada; padding:9px 10px 9px 10px; line-height:13px; font-size:10px; /*text-indent:10px;*/ clear:both; margin:5px 0 5px 0; }
#siteBody #leftColumnWide div.module1 div.content div.sponsoredBanner{ padding:3px; font-weight:bold; border-bottom:1px solid #DADADA; }
#siteBody #leftColumnWide div.module1 div.content div.sponsoredBanner>span{ color:#01BFD3; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner{ text-decoration:none; display:inline-block; width:596px; height:31px; font-weight:bold; font-size:13px; line-height:31px; text-indent:43px; margin-bottom:3px; background-repeat:no-repeat; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.diamond2x{ background-image:url(http://hw-static.datpiff.com/images/award-bar-diamond2x.jpg); color:#00c7e4; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.diamond2x>span{ color:#1c5c63; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.diamond{ background-image:url(http://hw-static.datpiff.com/images/award-bar-diamond.jpg); color:#00c7e4; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.diamond>span{ color:#1c5c63; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.dblplatinum{ background-image:url(http://hw-static.datpiff.com/images/award-bar-dblplatinum.jpg); color:#5a5a5a; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.platinum{ background-image:url(http://hw-static.datpiff.com/images/award-bar-platinum.jpg); color:#5a5a5a; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.platinum>span{ color:#01BFD3; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.gold{ background-image:url(http://hw-static.datpiff.com/images/award-bar-gold.jpg); color:#926a00; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.silver{ background-image:url(http://hw-static.datpiff.com/images/award-bar-silver.jpg); color:#5a5a5a; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.bronze{ background-image:url(http://hw-static.datpiff.com/images/award-bar-bronze.jpg); color:#594324; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.official{ background-image:url(http://hw-static.datpiff.com/images/award-bar-official.jpg); color:#365c1b; text-indent:98px; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.official>span{ color:#152907; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.sponsor{ background-image:url(http://hw-static.datpiff.com/images/award-bar-sponsored.jpg); line-height:31px; font-size:12px; text-indent:0; padding-top:2px; }
#siteBody #leftColumnWide div.module1 div.content .awardBanner.sponsor>span{ color:#01BFD3; font-size:18px; line-height:31px; display:inline-block; float:left; margin:-2px 4px 0 43px; }
#siteBody #leftColumnWide div.module1 div.content form .submit{ background:url(http://hw-static.datpiff.com/images/btnSubmitBackground.gif) no-repeat; width:226px; height:63px; border:none; cursor:pointer; font-family:Tahoma; color:#b3b5b3; font-size:9px; text-align:left; margin-right:-28px; display:inline; float:right;  }
#siteBody #leftColumnWide div.module1 div.content form .submit span{ display:block; margin-left:110px; text-transform:uppercase; width:110px; }
#siteBody #leftColumnWide div.module1 div.content form:after{content:"."; display: block; clear: both; height:0; visibility:hidden; }
#siteBody #leftColumnWide div.module1 div.footer{height:8px; background:url(http://hw-static.datpiff.com/images/leftColumnModule1Footer.gif) no-repeat; position:relative; clear:both; }
#siteBody #leftColumnWide div.module1 div.footer div.footerOverlay{background:url(http://hw-static.datpiff.com/images/footerOverlayBackground.png) no-repeat top; display:none; visibility:hidden; position:relative; z-index:4;  /*top:-82px; min-height:80px; */ bottom:82px; padding:20px 30px 10px 30px; height:auto; overflow:hidden; }
#siteBody #leftColumnWide div.module1 div.footer div.footerOverlay a{ color:#CCCCCC; }

#siteBody #leftColumnWide div.module1 div.footer div.footerOverlay div.title{ font-size:11px; color:#cfcfcf; font-family:Tahoma; background:url(http://hw-static.datpiff.com/images/labelArrowDark.gif) no-repeat 0px 3px; font-weight:bold; margin:5px 0 5px -10px; padding-left:10px; }
#siteBody #leftColumnWide div.module1 div.footer div.footerOverlay div.smalltext{ color:#808080; font-size:10px; font-family:Arial; font-style:italic; }
#siteBody #leftColumnWide div.module1 div.footer div.footerOverlay li{ list-style:none; margin-bottom:3px; }
#siteBody #leftColumnWide div.module1 div.footer div.footerOverlay input[type="text"], #siteBody #leftColumnWide div.module1 div.footer div.footerOverlay textarea{ background:#e9e9e9; border:1px solid #000000; width:550px; color:#333333; padding:2px; font-size:11px; font-weight:bold; font-family:Arial; }
#siteBody #leftColumnWide div.module1 div.footer div.footerOverlay textarea{ height:30px; }

#siteBody #leftColumnWide div.module1 div.subfooterContent{text-align:center; height:31px; background:url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooterBackground.gif) repeat-x; padding:0px 0px 0px 25px; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:31px; text-transform:uppercase; font-weight:bold; color:#9ba2a4; position:relative; z-index:5;}
#siteBody #leftColumnWide div.module1 div.subfooterContent a{height:31px; line-height:31px; text-transform:uppercase; font-weight:bold; color:#9ba2a4; text-decoration:none; display:block; float:left; background:url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooterDivider.gif) no-repeat right; padding:0px 15px 0px 10px; cursor:pointer;}/* display:inline-block; causes weird issues in FF2 */
#siteBody #leftColumnWide div.module1 div.subfooterContent a span{ /*background:none; padding:5px;*/ }
#siteBody #leftColumnWide div.module1 div.subfooterContent a.hovered{ background:#191919 url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooterDividerHover.gif) repeat-x; margin-left:-2px; padding-left:12px;}
#siteBody #leftColumnWide div.module1 div.subfooterContent a.hovered span{ /*background:#191919;*/ }
#siteBody #leftColumnWide div.module1 div.subfooterContent a.last{height:31px; line-height:31px; text-transform:uppercase; font-weight:bold; color:#9ba2a4; text-decoration:none; display:inline-block; background:none; padding:0px 15px 0px 10px;}
#siteBody #leftColumnWide div.module1 div.subfooterContent a.last.hovered{ background:#191919 url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooterDividerHover.gif) repeat-x; }
#siteBody #leftColumnWide div.module1 div.subfooterContent a img{/*width:10px; height:10px;*/ margin-right:5px; vertical-align:middle;}
#siteBody #leftColumnWide div.module1 div.subfooter{height:6px; background:url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooter.gif) no-repeat;}
#siteBody #leftColumnWide div.module1 div.wholefooter{clear:both; height:23px; background:url(http://hw-static.datpiff.com/images/leftColumnModule1WholeFooter.gif) no-repeat;}

#siteBody #leftColumnWide div.module1 div.subfooterContent{text-align:center; height:31px; background:url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooterBackground.gif) repeat-x; padding:0px 0px 0px 25px; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:31px; text-transform:uppercase; font-weight:bold; color:#9ba2a4; position:relative; z-index:5;}
#siteBody #leftColumnWide div.module1 div.subfooterContent>span{height:31px; line-height:31px; text-transform:uppercase; font-weight:bold; color:#9ba2a4; text-decoration:none; display:block; float:left; background:url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooterDivider.gif) no-repeat right; padding:0px 15px 0px 10px; cursor:pointer;}/* display:inline-block; causes weird issues in FF2 */
#siteBody #leftColumnWide div.module1 div.subfooterContent>span span{ /*background:none; padding:5px;*/ }
#siteBody #leftColumnWide div.module1 div.subfooterContent>span.hovered{ background:#191919 url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooterDividerHover.gif) repeat-x; margin-left:-2px; padding-left:12px;}
#siteBody #leftColumnWide div.module1 div.subfooterContent>span.hovered span{ /*background:#191919;*/ }
#siteBody #leftColumnWide div.module1 div.subfooterContent>span.last{height:31px; line-height:31px; text-transform:uppercase; font-weight:bold; color:#9ba2a4; text-decoration:none; display:inline-block; background:none; padding:0px 15px 0px 10px;}
#siteBody #leftColumnWide div.module1 div.subfooterContent>span.last.hovered{ background:#191919 url(http://hw-static.datpiff.com/images/leftColumnModule1SubFooterDividerHover.gif) repeat-x; }
#siteBody #leftColumnWide div.module1 div.subfooterContent>span img{/*width:10px; height:10px;*/ margin-right:5px; vertical-align:middle;}
	
#siteBody #leftColumnWide div.module1.video div.content div.video{margin:10px 0 10px 0; text-align:center;}
#siteBody #leftColumnWide div.module1.video div.content div.description{margin:0px; width:576px;}

/* Module 2 */
#siteBody div.module2 h1{height:39px; line-height:39px; background:url(http://hw-static.datpiff.com/images/leftColumnModule2H1.gif) no-repeat; padding-left:15px; font-size:15px; color:#474747; font-weight:bold; overflow:hidden;}
#siteBody div.module2 h1 img.icon{margin-right:8px; vertical-align:middle;}
#siteBody div.module2 div.header{height:8px; background:url(http://hw-static.datpiff.com/images/leftColumnModule1Header.gif) no-repeat;}
#siteBody div.module2 div.content{background-color:#FFFFFF; border-left:1px solid #acacac; border-right:1px solid #acacac; padding:15px;}
#siteBody div.module2 div.content ul.tracklist{margin:0; padding:0; list-style-position:outside; list-style-type:none; color:#a1a1a1; font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
#siteBody div.module2 div.content ul.tracklist li{border-bottom:1px solid #bcbcbc; /*height:25px;*/ line-height:25px; /*overflow:hidden;*/ margin:0; padding:0; position:relative;}
#siteBody div.module2 div.content ul.tracklist li.row0{background-color:#e6f6f7;}
#siteBody div.module2 div.content ul.tracklist li span.tracknumber{display:inline-block; width:25px; vertical-align:top;}
#siteBody div.module2 div.content ul.tracklist li span.trackTitle{font-weight:normal; color:#3f3f3f; font-size:12px; height:20px; display:inline-block; max-width:570px; overflow:hidden; }
#siteBody div.module2 div.content ul.tracklist li span.icons{ float:right; margin-right:5px; position:absolute; z-index:2; right:-1px; top:3px; visibility:hidden; }
#siteBody div.module2 div.content ul.tracklist li.hovered{ background-color:#45ac02; border:1px solid #494949; color:#FFFFFF; font-weight:bold; border:none; border-right:3px solid #484848; cursor:pointer; /* width:598px; border-bottom:3px solid #484848; background-position:580px; z-index:5;*/}
#siteBody div.module2 div.content ul.tracklist li.hovered span.trackTitle{ font-weight:bold; color:#FFFFFF; max-width:520px; }
#siteBody div.module2 div.content ul.tracklist li.hovered span.icons{ visibility:visible; }
#siteBody div.module2 div.content div.episodes{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#696969; width:600px; }
#siteBody div.module2 div.content div.episodes div.episode{border-bottom:1px solid #bcbcbc; min-height:25px; clear:both; }
#siteBody div.module2 div.content div.episodes div.episode.row0{background-color:#e6f6f7;}
#siteBody div.module2 div.content div.episodes div.episode div.num{ float:left; width:25px; font-weight:bold; font-size:13px; color:#a1a1a1;}
#siteBody div.module2 div.content div.episodes div.episode div.details{ float:left; width:535px; border-right:1px solid #bcbcbc; padding:3px 5px 0 0;}
#siteBody div.module2 div.content div.episodes div.episode div.details div.title{ float:left; font-weight:bold; font-size:11px; }
#siteBody div.module2 div.content div.episodes div.episode div.details div.stats{ float:right; font-size:10px; font-family:Tahoma; color:#8a8a8a; }
#siteBody div.module2 div.content div.episodes div.episode div.details div.description{ clear:both; width:535px; padding:3px 0 3px; }
#siteBody div.module2 div.content div.episodes div.episode div.button{ float:left; width:30px; }
#siteBody div.module2 div.content div.episodes div.episode div.button img{ padding:3px; }
#siteBody div.content div.commentBox{border-bottom:1px solid #bfbfbf; min-height:74px; height:auto; overflow:hidden; clear:both; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; }
#siteBody div.content div.commentBox div.avatar{width:67px; height:67px; background:url(http://hw-static.datpiff.com/images/avatarBackground.gif) no-repeat; margin-right:10px; float:left;}
#siteBody div.content div.commentBox div.avatar img{width:57px; height:57px; border:3px solid #4e4e4e; background-color:#f1f1f1; display:block; visibility:visible;}
#siteBody div.content div.commentBox div.titlebar{color:#afafaf; height:17px; background:url(http://hw-static.datpiff.com/images/divider_large.gif) repeat-x bottom left; float:left; padding-bottom:4px; width:520px;}
#siteBody div.content div.commentBox div.titlebar span.username{font-weight:bold; color:#00b3c6; font-size:12px;}
#siteBody div.content div.commentBox div.titlebar span.username a{color:#00b3c6; text-decoration:none;}
#siteBody div.content div.commentBox div.titlebar span.date{font-family:Tahoma; font-size:11px; font-weight:normal; color:#3b3939;}
#siteBody div.content div.commentBox div.titlebar div.buttons{float:right; display:inline-block; visibility:visible;}
#siteBody div.content div.commentBox div.titlebar div.buttons img{cursor:pointer; margin-right:2px;}
#siteBody div.content div.commentBox div.titlebar div.buttons span.score{ height:12px; min-width:20px; font-size:11px; font-weight:bold; padding:0 2px 0 2px; border:1px solid #CCCCCC; background-color:#FFFFCC; margin-left:4px; vertical-align:top; color:#959595; }
#siteBody div.content div.commentBox div.titlebar div.buried{float:right; display:none; visibility:hidden;}
#siteBody div.content div.commentBox div.comments{color:#3f3f3f; font-size:11px; float:left; width:520px; margin:5px 0px 5px 0px; display:inline-block; visibility:visible;}
#siteBody div.content div.commentBox div.comments .postedfrom{ display:block; margin:9px 0 4px 0; }
#siteBody div.content div.commentBox div.comments .postedfrom span{  background:#f1f1f1; border:1px solid #d1d1d1; padding:2px; }
#siteBody div.content div.commentBox div.comments .postedfrom span a{ text-decoration:none; color:#00b3c6; }
#siteBody div.content div.commentBox div.replyForm{ background:url(http://hw-static.datpiff.com/images/commentsNestedArrow.gif) no-repeat; min-height:74px; padding-left:40px; border-top:1px solid #bfbfbf; margin-top:5px; position:relative; overflow:hidden; }
#siteBody div.content div.commentBox div.replyForm div.loading{ background:url(http://hw-static.datpiff.com/images/icon_loading.gif) center no-repeat #FFFFFF; height:100%; width:100%; position:absolute; z-index:2; }
#siteBody div.content div.commentBox div.replyForm form label{ font-size:12px; background-position:0px 0px; font-family:Tahoma; }
#siteBody div.content div.commentBox div.replyForm form div.formButtons{ width:80%; margin-bottom:15px; }
#siteBody div.content div.commentBox div.replyForm form div.formButtons img{ cursor:pointer; margin-left:2px; }
#siteBody div.content div.commentBox.nested{background:url(http://hw-static.datpiff.com/images/commentsNestedArrow.gif) no-repeat;}
#siteBody div.content div.commentBox.nested div.avatar{margin-left:40px;}
#siteBody div.content div.commentBox.nested div.titlebar{width:480px;}
#siteBody div.content div.commentBox.nested div.titlebar div.buttons img.reply{display:none; visibility:hidden;}
#siteBody div.content div.commentBox.nested div.comments{width:480px;}
#siteBody div.content div.commentBox.buried{background-color:#ececec; margin-top:-5px; height:23px; min-height:0px; background-position:0px -35px;}
#siteBody div.content div.commentBox.buried div.avatar{background:none; height:23px;}
#siteBody div.content div.commentBox.buried div.avatar img{display:none; visibility:visible;}
#siteBody div.content div.commentBox.buried div.titlebar{background:none; height:23px; line-height:23px; padding:0;}
#siteBody div.content div.commentBox.buried div.titlebar span.username{font-weight:bold; color:#b0b0b0; font-size:12px;}
#siteBody div.content div.commentBox.buried div.titlebar span.username a{color:#b0b0b0;}
#siteBody div.content div.commentBox.buried div.titlebar span.date, #siteBody div.content div.commentBox.buried div.titlebar div.buried{font-family:Tahoma; font-size:11px; font-weight:normal; color:#9d9d9d;}
#siteBody div.content div.commentBox.buried div.titlebar div.buttons{display:none; visibility:hidden;}
#siteBody div.content div.commentBox.buried div.titlebar div.buried{float:right; display:block; visibility:visible; margin-right:20px;} /*display:inline-block*/
#siteBody div.content div.commentBox.buried div.titlebar div.buried a{background:url(http://hw-static.datpiff.com/images/commentBuriedPlus.gif) no-repeat right top; padding-right:10px; color:#9d9d9d;}
#siteBody div.content div.commentBox.buried div.comments{display:none; visibility:hidden;}
#siteBody div.content div.commentOverflow{ background:#ECECEC; margin:3px 0; border-top:1px solid #BFBFBF; border-bottom:1px solid #BFBFBF; text-align:center; padding:5px 0; }
#siteBody div.content div.commentOverflow a{ text-decoration:none; font-weight:bold; color:#1e1e1e; cursor:pointer; }
#siteBody div.module2 div.content form .submit{ background:url(http://hw-static.datpiff.com/images/btnSubmitBackground.gif) no-repeat; width:226px; height:63px; border:none; cursor:pointer; font-family:Tahoma; color:#b3b5b3; font-size:9px; text-align:left; margin-right:-23px; display:inline; float:right;  }
#siteBody div.module2 div.content form .submit span{ display:block; margin-left:110px; text-transform:uppercase; width:110px; }
#siteBody div.module2 div.content form:after{content:"."; display: block; clear: both; height:0; visibility:hidden; }
#siteBody div.module2 div.footer{height:7px; background:url(http://hw-static.datpiff.com/images/leftColumnModule2Footer.gif) no-repeat;}
/* ============================================== */
/* END MAIN MODULES */
/* ============================================== */

/* GENERAL CONTENT LISTING */
div.contentListing{width:630px; padding:0px; clear:both;}
div.contentListing div.contentItem{width:141px; height:227px; float:left; background-color:#d8d8d8; padding: 4px 4px 4px 3px; margin:0px 4px 15px 4px;}
div.contentListing div.contentItem div.contentItemInner{width:131px; height:218px; padding:5px; background-color:#FFFFFF; border-left:1px solid #989898; border-bottom:1px solid #989898; position:relative; }
div.contentListing div.contentItem div.contentItemInner div.contentThumb{width:130px; height:130px; background:url(http://hw-static.datpiff.com/images/contentItemThumbBackNormal.png) no-repeat; /*position:relative;*/}
div.contentListing div.contentItem div.contentItemInner div.contentThumb img{width:124px; height:124px; border:1px solid #5b5b5b; background-color:#f1f1f1; /*position:relative; z-index:4;*/}
div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon{position:absolute; z-index:5; float:left; margin:-1px 0px 0px -1px;}
div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon.mixtape{width:18px; height:14px; background:url(http://hw-static.datpiff.com/images/icon_mixtape.gif) no-repeat #FFFFFF;}
div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon.video{width:18px; height:16px; background:url(http://hw-static.datpiff.com/images/icon_video.gif) no-repeat #FFFFFF;}
div.contentListing div.contentItem div.contentItemInner div.title{color:#00c6da; font-size:12px; min-height:13px; max-height:28px; margin-top:5px; font-family:Arial, Helvetica, sans-serif; text-transform:capitalize; font-weight:bold; width:124px; overflow:hidden;}
div.contentListing div.contentItem div.contentItemInner div.title a{color:#00c6da;  text-decoration:none;}
div.contentListing div.contentItem div.contentItemInner div.artist{color:#6e776c; font-size:12px; min-height:13px; max-height:15px; font-family:"Times New Roman", Times, serif; font-style:italic; text-transform:capitalize; font-weight:bold; width:124px; overflow:hidden;}
div.contentListing div.contentItem div.contentItemInner div.divider{height:13px; background:url(http://hw-static.datpiff.com/images/contentItemDivider.png) no-repeat;}
div.contentListing div.contentItem div.contentItemInner div.text{font-size:10px; color:#8a8a8a;}
div.contentListing div.contentItem div.contentItemInner div.text span{color:#3b3939;}
div.contentListing div.contentItem.awarded div.contentItemInner{ background:#FFF url(http://hw-static.datpiff.com/images/clear.gif) bottom right no-repeat;}
div.contentListing div.contentItem.awarded.diamond div.contentItemInner{ background-image:url(http://hw-static.datpiff.com/images/award-bg-diamond.png); }
div.contentListing div.contentItem.awarded.diamond2x div.contentItemInner{ background-image:url(http://hw-static.datpiff.com/images/award-bg-diamond2x.png); }
div.contentListing div.contentItem.awarded.platinum div.contentItemInner{ background-image:url(http://hw-static.datpiff.com/images/award-bg-platinum.png); }
div.contentListing div.contentItem.awarded.dblplatinum div.contentItemInner{ background-image:url(http://hw-static.datpiff.com/images/award-bg-dblplatinum.png); }
div.contentListing div.contentItem.awarded.gold div.contentItemInner{ background-image:url(http://hw-static.datpiff.com/images/award-bg-gold.png); }
div.contentListing div.contentItem.awarded.silver div.contentItemInner{ background-image:url(http://hw-static.datpiff.com/images/award-bg-silver.png); }
div.contentListing div.contentItem.awarded.bronze div.contentItemInner{ background-image:url(http://hw-static.datpiff.com/images/award-bg-bronze.png); }
div.contentListing div.contentItem.video{height:195px;}
div.contentListing div.contentItem.video div.contentItemInner{height:186px;}
div.contentListing div.contentItem.video div.contentItemInner div.contentThumb{width:130px; height:98px; background:url(http://hw-static.datpiff.com/images/contentItemThumbBackVideoNormal.gif) no-repeat; /*position:relative;*/}
div.contentListing div.contentItem.video div.contentItemInner div.contentThumb img{height:92px;}
div.contentListing div.contentItem.video div.contentItemInner div.artist{ display:none; visibility:hidden; }
div.contentListing div.contentItem.podcast{height:108px; width:623px; float:none; clear:both; margin:0px 0px 8px 0px; }
div.contentListing div.contentItem.podcast div.contentItemInner{height:98px; width:613px; position:relative; }
div.contentListing div.contentItem.podcast div.contentItemInner div.icon{  background:url(http://hw-static.datpiff.com/images/btnPlay.gif) no-repeat top right; width:21px; height:20px; position:absolute; z-index:2; left:595px; top:5px; }
div.contentListing div.contentItem.podcast div.contentItemInner div.title{ width:610px; height:17px;font-family:Arial, Helvetica, sans-serif; text-transform:none; background:url(http://hw-static.datpiff.com/images/icon_podcast.gif) no-repeat top left; text-indent:18px;}
div.contentListing div.contentItem.podcast div.contentItemInner div.divider{border:none; width:610px; background:url(http://hw-static.datpiff.com/images/divider_large.gif) repeat-x; clear:both; margin:5px 0px 5px 0px; height:1px;}
div.contentListing div.contentItem.podcast div.contentItemInner div.description{ font-size:11px; color:#4c4b4b; font-family:Arial, Helvetica, sans-serif; margin-bottom:3px; }
div.contentListing div.contentItem.podcast div.contentItemInner div.details{height:22px; padding:3px; background:#fbfbfb url(http://hw-static.datpiff.com/images/keywordsBackground.gif) repeat-x; line-height:20px; border:1px solid #dadada; font-size:12px; clear:both;}
div.contentListing div.contentItem.podcast div.contentItemInner div.text{ float:right; margin:0 3px 0 3px; }
div.contentListing div.contentItem.podcast div.contentItemInner div.text.left{ float:left; margin:0; }
div.contentListing div.contentItem.podcast div.contentItemInner div.text a{ text-decoration:none; }
div.contentListing div.contentItem.news{height:108px; width:623px; float:none; clear:both; margin:0px 0px 8px 0px; }
div.contentListing div.contentItem.news div.contentItemInner{height:98px; width:613px; position:relative; }
div.contentListing div.contentItem.news div.contentItemInner div.thumbnail{ width:65px; height:65px; float:right; }
div.contentListing div.contentItem.news div.contentItemInner div.thumbnail img{ width:60px; height:60px; border:1px solid #000000; margin:2px 0 0 2px; }
div.contentListing div.contentItem.news div.contentItemInner div.title{ width:545px; height:17px; font-family:Arial, Helvetica, sans-serif; text-transform:none; background:no-repeat top left; text-indent:18px;}
div.contentListing div.contentItem.news div.contentItemInner div.divider{border:none; width:545px; background:url(http://hw-static.datpiff.com/images/divider_large.gif) repeat-x; margin:5px 0px 5px 0px; height:1px;}
div.contentListing div.contentItem.news div.contentItemInner div.description{ font-size:11px; width:545px; color:#4c4b4b; font-family:Arial, Helvetica, sans-serif; margin-bottom:3px; }
div.contentListing div.contentItem.news div.contentItemInner div.details{height:22px; padding:3px; background:#fbfbfb url(http://hw-static.datpiff.com/images/keywordsBackground.gif) repeat-x; line-height:20px; border:1px solid #dadada; font-size:12px; clear:both; margin-top:3px;}
div.contentListing div.contentItem.news div.contentItemInner div.text{ float:right; margin:0 3px 0 3px; }
div.contentListing div.contentItem.news div.contentItemInner div.text.left{ float:left; margin:0; }
div.contentListing div.contentItem.news div.contentItemInner div.text a{ text-decoration:none; }
div.contentListing div.contentItem.news.ds div.contentItemInner div.title{ background:url(http://hw-static.datpiff.com/images/icons/ds.gif) no-repeat top left;}
div.contentListing div.contentItem.news.dp div.contentItemInner div.title{ background:url(http://hw-static.datpiff.com/images/icons/dp.gif) no-repeat top left;}
div.contentListing div.contentItem.news.dx div.contentItemInner div.title{ background:url(http://hw-static.datpiff.com/images/icons/dx.gif) no-repeat top left;}
div.contentListing.wide{}
div.contentListing.wide div.contentItem{width:192px; height:258px; background-color:#d8d8d8; padding: 4px 4px 4px 3px; margin:0px 5px 15px 5px;}
div.contentListing.wide div.contentItem div.contentItemInner{width:176px; height:242px; padding:10px 6px 6px 10px;}
div.contentListing.wide div.contentItem div.contentItemInner div.contentThumb{width:175px; height:175px; background:url(http://hw-static.datpiff.com/images/contentItemThumbBackWide.gif) no-repeat; /*position:relative;*/}
div.contentListing.wide div.contentItem div.contentItemInner div.contentThumb img{width:167px; height:167px;}
div.contentListing.wide div.contentItem div.contentItemInner div.contentThumb div.icon{margin:-6px 0px 0px -6px;}
div.contentListing.wide div.contentItem div.contentItemInner div.title{max-height:13px; margin-top:2px; width:167px;}
div.contentListing.wide div.contentItem div.contentItemInner div.artist{width:167px;}

div.contentListing div.contentItem.noMedia{width:148px; height:234px; float:left; background-color:#d8d8d8; padding: 0; margin:0px 4px 15px 4px; background-position:bottom;}
div.contentListing div.contentItem.noMedia.position1{ background:url(http://hw-static.datpiff.com/images/noMixtapeBackground1.gif) no-repeat bottom;}
div.contentListing div.contentItem.noMedia.position2{ background:url(http://hw-static.datpiff.com/images/noMixtapeBackground2.gif) no-repeat bottom;}
div.contentListing div.contentItem.noMedia.position3{ background:url(http://hw-static.datpiff.com/images/noMixtapeBackground3.gif) no-repeat bottom;}

div.contentListing div.contentItem.noMedia.video{width:148px; height:202px; float:left; background-color:#d8d8d8; padding: 0; margin:0px 4px 15px 4px;}

div.genericLoadingDiv{ background:url(http://hw-static.datpiff.com/images/icon_loading.gif) center no-repeat; height:40px; padding-top:60px; text-align:center; }

a.uploadButtonRaised{ position:absolute; top:10px; right:10px; width:84px; height:16px; background:url(http://hw-static.datpiff.com/images/btnUploadBackground.gif) no-repeat; color:#7d7d7d; font-size:10px; text-transform:uppercase; text-decoration:none; padding:28px 0 0 13px; }

#siteBody #leftColumnWide div.module1 div.content div.ownContentListing{ background-color:#d8d8d8; padding:5px 5px 2px 5px; clear:both; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem{ background-color:#FFFFFF; border-left:1px solid #999999; border-bottom:1px solid #999999; height:46px; padding:5px 13px 5px 7px; margin-bottom:5px; clear:both; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.thumb{ width:44px; height:44px; background:url(http://hw-static.datpiff.com/images/ownContentItemThumbBackground.gif) no-repeat; margin-right:14px; float:left; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.thumb img{ border:2px solid #5b5b5b; background-color:#f1f1f1; width:36px; height:36px; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.title{ float:left; width:415px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#00c6da; font-size:12px; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.title a{ color:#00c6da; text-decoration:none; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.status{ float:right; width:90px; font-weight:bold; color:#6a6969; text-transform:uppercase; text-align:right; cursor:pointer; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.divider{ float:left; width:505px; clear:none; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.stats{ float:left; width:400px; text-transform:lowercase; font-size:11px; color:#8a8a8a; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.actions{ float:left; width:90px; text-align:right; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem div.actions a{ color:#8a8a8a; text-decoration:none; margin-right:2px; }

#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem.offline{ background:#f0f0f0; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem.offline div.title{ color:#969696; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem.offline div.title a{ color:#969696; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem.offline div.status{ background:url(http://hw-static.datpiff.com/images/ownContentOffline.gif) no-repeat left top; }
#siteBody #leftColumnWide div.module1 div.content div.ownContentListing div.contentItem.online div.status{ background:url(http://hw-static.datpiff.com/images/ownContentOnline.gif) no-repeat left top; color:#45ac02; }

div.pagination{height:28px; background:#fbfbfb url(http://hw-static.datpiff.com/images/keywordsBackground.gif) repeat-x; border-top:1px solid #dadada; border-bottom:1px solid #dadada; line-height:28px; font-size:12px; clear:both; text-align:center;}
div.pagination div.links{float:left; min-width:500px;}
div.pagination a{margin:0 3px 0 3px; text-decoration:underline;}
div.pagination a.active{color:#3b3939; text-decoration:none; font-size:14px;}
div.pagination a.previous{/*color:#3b3939;*/ text-decoration:none; background:url(http://hw-static.datpiff.com/images/arrowLeftGrayLarge.gif) left no-repeat; padding-left:15px; float:left; display:block;}
div.pagination a.next{/*color:#3b3939;*/ text-decoration:none; background:url(http://hw-static.datpiff.com/images/arrowRightGrayLarge.gif) right no-repeat; padding-right:15px; float:right; display:block;}

div.content div.pagination{ margin:5px 0 8px 0; }
div.content div.pagination div.links{float:left; width:450px;}


#siteBody #rightColumnNarrow{float:left; width:325px; background:url(http://hw-static.datpiff.com/images/rightColumnBackground.gif) repeat-y; margin-left:12px; position:relative;}
/*#siteBody #rightColumnNarrow>div{width:305px; margin-left:auto; margin-right:auto;}*/
#siteBody #rightColumnNarrow span.header{width:325px; height:8px; display:block; background:url(http://hw-static.datpiff.com/images/rightColumnHeader.gif) no-repeat;}
#siteBody #rightColumnNarrow span.footer{width:325px; height:8px; display:block; background:url(http://hw-static.datpiff.com/images/rightColumnFooter.gif) no-repeat;}
		
#siteBody #rightColumnNarrow div.module{ margin:0 auto 10px auto; width:305px; /*position:relative;*/}
#siteBody #rightColumnNarrow div.module h1{background:url(http://hw-static.datpiff.com/images/rightColumnModuleH1.gif) no-repeat; height:40px; line-height:40px; text-indent:12px; font-size:15px; font-weight:bold; margin:0px; width:305px;}
#siteBody #rightColumnNarrow div.module h1 span.icon{margin-right:3px; vertical-align:text-top; display:inline-block;}
#siteBody #rightColumnNarrow div.module h1 span.icon.mixtape{ background:url(http://hw-static.datpiff.com/images/icon_mixtape.gif) no-repeat; width:16px; height:12px; margin-top:3px;}
#siteBody #rightColumnNarrow div.module h1 span.icon.video{ background:url(http://hw-static.datpiff.com/images/icon_video.gif) no-repeat; width:16px; height:14px; margin-top:2px;}
#siteBody #rightColumnNarrow div.module h1 span.icon.news{ background:url(http://hw-static.datpiff.com/images/icon_news.gif) no-repeat; width:16px; height:14px; margin-top:2px;}
#siteBody #rightColumnNarrow div.module h1 span.icon.facebook{ background:url(http://hw-static.datpiff.com/images/icon_facebook.png) no-repeat; width:16px; height:16px; margin-top:2px;}
#siteBody #rightColumnNarrow div.module div.content{min-height:100px; background:url(http://hw-static.datpiff.com/images/rightColumnModuleVariantBackground.gif) repeat-y;}
#siteBody #rightColumnNarrow div.module div.footer{background:url(http://hw-static.datpiff.com/images/rightColumnModuleFooter.gif) no-repeat; height:10px;}
#siteBody #rightColumnNarrow div.module.variant1 h1{background:url(http://hw-static.datpiff.com/images/rightColumnModuleH1Variant.gif) no-repeat; height:27px; line-height:27px; text-indent:24px; font-size:11px; font-weight:bold;}
#siteBody #rightColumnNarrow div.module.search{}
#siteBody #rightColumnNarrow div.module.search div.searchbar{background:url(http://hw-static.datpiff.com/images/rightColumnModuleSearchTop.gif) no-repeat; height:44px;}
#siteBody #rightColumnNarrow div.module.search div.searchbar input[type="text"]{margin-top:13px; margin-left:17px; border:none; font-size:13px; font-weight:bold; text-transform:lowercase; background:none; width:243px; color:#6a6969; cursor:text;}
#siteBody #rightColumnNarrow div.module.search div.searchbar input[type="image"]{background-image:url(http://hw-static.datpiff.com/images/clear.gif); height:30px; width:30px; vertical-align:middle;}
#siteBody #rightColumnNarrow div.module.search div.searchoptionsHeader{background:url(http://hw-static.datpiff.com/images/rightColumnModuleSearchInner.gif) no-repeat; padding-left:17px; padding-top:0px; padding-right:11px; font-size:9px; color:#abaaaa; line-height:14px; max-height:15px;}
#siteBody #rightColumnNarrow div.module.search div.searchoptionsHeader img{vertical-align:middle;}
#siteBody #rightColumnNarrow div.module.search div.searchoptions{background:url(http://hw-static.datpiff.com/images/rightColumnModuleSearchInnerRepeat.gif) repeat-y; padding:5px; padding-left:17px; padding-right:11px; font-size:9px; color:#abaaaa; height:0%; display:none; visibility:hidden; overflow:hidden; }
#siteBody #rightColumnNarrow div.module.search div.footer{background:url(http://hw-static.datpiff.com/images/rightColumnModuleSearchFooter.gif) no-repeat; height:9px;}

#siteBody #rightColumnNarrow div.module.socialbox{ background:#f1f1f1; border:2px solid #2E2E2E; position:relative; }
#siteBody #rightColumnNarrow div.module.socialbox iframe{ width:215px; border:none; }
#siteBody #rightColumnNarrow div.module.socialbox div.icons{ position:absolute; height:26px; right:8px; top:17px; }
#siteBody #rightColumnNarrow div.module.socialbox a.socialbutton{ display:inline-block; height:26px; width:26px; background:url(http://hw-static.datpiff.com/images/social-buttons-sprite.png); margin-left:2px; }
#siteBody #rightColumnNarrow div.module.socialbox a.socialbutton:hover{ background-position:0 -26px; }
#siteBody #rightColumnNarrow div.module.socialbox a.socialbutton.plus{ background-position:-28px 0; }
#siteBody #rightColumnNarrow div.module.socialbox a.socialbutton.plus:hover{ background-position:-28px -26px; }
#siteBody #rightColumnNarrow div.module.socialbox a.socialbutton.twitter{ background-position:-56px 0; }
#siteBody #rightColumnNarrow div.module.socialbox a.socialbutton.twitter:hover{ background-position:-56px -26px; }

#siteBody #rightColumnNarrow div.contentListing{width:300px; padding:5px 0 5px 0; clear:both;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem{width:279px; height:95px; background-color:#d8d8d8; padding:4px 4px 4px 3px; margin:0 5px 5px 8px;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner{width:269px; height:85px; padding:5px; background-color:#FFFFFF; border-left:1px solid #989898; border-bottom:1px solid #989898;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.contentThumb{ float:left;width:84px; height:84px; background:url(http://hw-static.datpiff.com/images/contentItemThumbBackSmall.gif) no-repeat; margin-right:5px; /*position:relative;*/}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.contentThumb img{width:79px; height:79px; border:1px solid #5b5b5b; background-color:#f1f1f1; /*position:relative; z-index:4;*/}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon{position:absolute; z-index:5; float:left; margin:-1px 0px 0px -1px;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon.mixtape{width:18px; height:14px; background:url(http://hw-static.datpiff.com/images/icon_mixtape.gif) no-repeat #FFFFFF;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon.video{width:18px; height:16px; background:url(http://hw-static.datpiff.com/images/icon_video.gif) no-repeat #FFFFFF;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.title{ float:left; color:#00c6da; font-size:12px; min-height:13px; max-height:28px; margin-top:5px; font-family:Arial, Helvetica, sans-serif; text-transform:capitalize; font-weight:bold; width:171px; overflow:hidden;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.artist{ float:left;color:#6e776c; font-size:12px; min-height:13px; font-family:"Times New Roman", Times, serif; font-style:italic; text-transform:capitalize; font-weight:bold; width:171px; overflow:hidden;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.divider{ float:left; width:171px; height:13px; background:url(http://hw-static.datpiff.com/images/contentItemDivider.gif) no-repeat;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.text{ width:171px; float:left; font-size:10px; color:#8a8a8a;}
#siteBody #rightColumnNarrow div.contentListing div.contentItem div.contentItemInner div.text span{color:#3b3939;}

#siteBody #rightColumnNarrow div.contentListing.video div.contentItem{height:75px;}
#siteBody #rightColumnNarrow div.contentListing.video div.contentItem div.contentItemInner{height:65px; }
#siteBody #rightColumnNarrow div.contentListing.video div.contentItem div.contentItemInner div.contentThumb{ height:64px; background-position:bottom; }
#siteBody #rightColumnNarrow div.contentListing.video div.contentItem div.contentItemInner div.contentThumb img{ height:58px;}
#siteBody #rightColumnNarrow div.contentListing.video div.contentItem div.contentItemInner div.title{ margin-top:0px;overflow:hidden; }

#siteBody #rightColumnNarrow div.module.skycontent{}
#siteBody #rightColumnNarrow div.module.skycontent h1{background:url(http://hw-static.datpiff.com/images/rightColumnSkyContentH1.gif) no-repeat; height:42px; line-height:35px; text-indent:12px; font-size:15px; }
#siteBody #rightColumnNarrow div.module.skycontent div.header{background:url(http://hw-static.datpiff.com/images/rightColumnModuleSkyContentHeader.gif) no-repeat; height:15px;}
#siteBody #rightColumnNarrow div.module.skycontent div.content{min-height:100px; background:url(http://hw-static.datpiff.com/images/rightColumnModuleSkyContentBackground.gif) repeat-y; padding-top:4px;}
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing{width:300px; padding:0; margin-left:14px; clear:both; float:left; width:108px;}
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem{width:94px; height:103px; background:url(http://hw-static.datpiff.com/images/skycontentItemBackground.gif) no-repeat; padding:3px; overflow:hidden; margin-bottom:13px; }
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem div.contentItemInner{ background:url(http://hw-static.datpiff.com/images/skycontentItemInnerBackground.gif) repeat-x; height:105px; width:91px; padding:0; margin:0; border:none; border-bottom:none;}
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem div.contentItemInner div.contentThumb{ float:none; width:81px; height:81px; background:none; border:none; margin:auto; padding-top:5px;}
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem div.contentItemInner div.contentThumb img{width:76px; height:76px; border:2px solid #000000; background:none; margin:1px; /*position:relative; z-index:4;*/}
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon{margin:1px 0px 0px 1px; }
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon.mixtape{ background-color:#000000; }
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem div.contentItemInner div.contentThumb div.icon.video{ background-color:#000000; }
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem div.contentItemInner div.rating{ width:91px; height:15px; }
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing div.contentItem div.contentItemInner div.rating img{ width:51px; margin:3px 20px 3px 20px; }
#siteBody #rightColumnNarrow div.module.skycontent div.skyscraper{ float:left; width:160px; height:600px; background-color:#696b6a; border:1px solid #989898; margin-left:3px; }
#siteBody #rightColumnNarrow div.module.skycontent div.skyscraper iframe{ width:160px; height:600px; background-color:#696b6a; }
#siteBody #rightColumnNarrow div.module.skycontent div.footer{background:url(http://hw-static.datpiff.com/images/rightColumnModuleSkyContentFooter.gif) no-repeat; height:15px;}

#siteBody #rightColumnNarrow div.module.skycontent div.contentListing.video{width:300px; padding:0; margin-left:14px; clear:both; float:left; width:108px;}
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing.video div.contentItem{width:94px; height:80px; background:url(http://hw-static.datpiff.com/images/skycontentItemBackground.gif) no-repeat; /*padding:3px;*/ overflow:hidden; margin-bottom:13px; }
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing.video div.contentItem div.contentItemInner{ background:url(http://hw-static.datpiff.com/images/skycontentItemInnerBackground.gif) top repeat-x; height:80px; width:91px; padding:0; margin:0; border:none; border-bottom:none;}
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing.video div.contentItem div.contentItemInner div.contentThumb{ float:none; width:81px; height:61px; background:none; border:none; margin:auto; padding-top:5px;}
#siteBody #rightColumnNarrow div.module.skycontent div.contentListing.video div.contentItem div.contentItemInner div.contentThumb img{width:76px; height:56px; border:2px solid #000000; background:none; margin:1px; /*position:relative; z-index:4;*/}

#siteBody #rightColumnNarrow div.module.skycontent div.tagCloud{ text-align:center; width:285px; padding:5px 7px 5px 5px; margin:auto; }
#siteBody #rightColumnNarrow div.module.skycontent div.tagCloud a{ color:#CCCCCC; text-decoration:none; font-weight:normal; }
#siteBody #rightColumnNarrow div.module.skycontent div.tagCloud a:hover{ color:#CCCCCC; text-decoration:underline; }

/* Indy Spotlight */
#siteBody #rightColumnNarrow a.module.indyfeature{ display:block; margin:5px auto 10px auto; width:300px; height:150px; position:relative;border :1px solid #1e1e1e; }
#siteBody #rightColumnNarrow a.module.indyfeature img{ margin:0; border:0; width:300px; height:150px; }
#siteBody #rightColumnNarrow a.module.indyfeature>span.scrim{ position:absolute; bottom:0px; width:100%; left:0; box-sizing:border-box; padding:5px; background-color:rgba(0, 0, 0, 0.7); color:#0DC6FE; font-size:1.1em; font-family: 'Lato', sans-serif; text-transform:uppercase; font-weight:bold; text-align:center; }
#siteBody #rightColumnNarrow a.module.indyfeature>span.scrim span:last-child{ font-size:.9em; color:#d1d1d1; display:block; }
#siteBody #rightColumnNarrow a.module.indyfeature:hover>span{ background-color:#000; }
#siteBody #rightColumnNarrow a.module.indyfeature>span.flag{ top:10px; left:-1px; background:#fff844; border-right:1px solid #000; border-bottom:1px solid #000; position:absolute; padding:5px; color:#000; }


#siteFooter{clear:both; float:none;}
#siteFooter div.container{background-color:#F1F1F1; border-left:1px solid #d2d0d0; border-right:1px solid #d2d0d0; padding-top:20px;}
#siteFooter div #linkbar{width:971px; margin-left:auto; margin-right:auto; background:url(http://hw-static.datpiff.com/images/footerlinkbar.gif) no-repeat; height:38px; font-size:12px; font-weight:bold; text-transform:uppercase;}
#siteFooter div #linkbar a.footerlink{float:left; display:block; height:26px; color:#9ba2a4; text-decoration:none; padding-top:12px; padding-left:30px; padding-right:30px; text-align:center; background:url(http://hw-static.datpiff.com/images/footerlinkseperator.gif) no-repeat left;}
#siteFooter div #linkbar a.footerlink:hover{ color:#FFFFFF; }
#siteFooter div #sublinkbar{width:971px; margin-left:auto; margin-right:auto; background:url(http://hw-static.datpiff.com/images/footersublinkbar.gif) no-repeat; height:25px; line-height:25px; font-size:11px; font-weight:normal; color:#7b8183; text-align:center;}
#siteFooter div.footerEnd{height:11px; background:url(http://hw-static.datpiff.com/images/footerend.png) no-repeat; margin-bottom:10px;}

/* end document composition */

/* random elements */

div.largeLabelTitle{background:url(http://hw-static.datpiff.com/images/labelArrow.png) no-repeat left center; padding-left:8px; font-size:13pt; color:#646464; font-weight:bold; clear:both; margin-bottom:7px;}
div.besideBanner{ /*float:right; height:50px;*/ position:absolute; right:10px; top:10px; }

div.moduleSearch{ width:624px; height:71px; margin:auto; margin-bottom:15px; }
div.moduleSearch div.top{ background:url(http://hw-static.datpiff.com/images/moduleSearchTop.gif) no-repeat; width:612px; height:31px; padding:8px 0 0 10px; position:relative; }
div.moduleSearch div.top input.text{ border:none; width:560px; padding:2px; font-weight:bold; text-transform:lowercase; background:none; color:#6a6969; cursor:text; }
div.moduleSearch div.top input.btn{ height:30px; width:30px; vertical-align:middle; margin:-4px 0 0 2px; }
div.moduleSearch div.bottom{ background:url(http://hw-static.datpiff.com/images/moduleSearchBottom.gif) no-repeat; width:606px; height:28px; font-family:Tahoma; font-weight:bold; color:#f1f1f1; font-size:12px; padding:4px 0 0 18px; }
div.moduleSearch div.bottom label{ font-size:11px; color:#FFFFFF; cursor:pointer; display:inline; margin:0; font-family:Tahoma; text-transform:none; font-weight:normal; clear:none; background:none; text-indent:0; width:auto;  }
div.moduleSearch div.bottom label input[type="checkbox"]{ vertical-align:middle; clear:both; border:none; display:inline; }

#siteBody div.module3{ width:630px; padding:0px; clear:both; margin-bottom:15px; background:url(http://hw-static.datpiff.com/images/module3Background.png) no-repeat #f1f1f1; }
#siteBody div.module3.mixtape{ background:url(http://hw-static.datpiff.com/images/module3BackgroundMixtape.png) no-repeat; }
#siteBody div.module3.video{ background:url(http://hw-static.datpiff.com/images/module3BackgroundVideo.png) no-repeat; }
#siteBody div.module3 h1{height:39px; line-height:39px; background:url(http://hw-static.datpiff.com/images/leftColumnModule3H1.png) no-repeat; padding-left:15px; font-size:15px; color:#474747; font-weight:bold; overflow:hidden;}
#siteBody div.module3 h1 img.icon{margin-right:8px; vertical-align:middle;}
#siteBody div.module3 div.content{border-left:1px solid #acacac; border-right:1px solid #acacac; padding:9px 0px 0px 0px; }
#siteBody div.module3 div.content.padded{ padding:9px 5px 5px 5px; }

#siteBody div.module3 div.content form .submit{ background:url(http://hw-static.datpiff.com/images/btnSubmitBackground.gif) no-repeat; width:226px; height:63px; border:none; cursor:pointer; font-family:Tahoma; color:#b3b5b3; font-size:9px; text-align:left; margin-right:-23px; display:inline; float:right;  }
#siteBody div.module3 div.content form .submit span{ display:block; margin-left:110px; text-transform:uppercase; width:110px; }
#siteBody div.module3 div.content form:after{content:"."; display: block; clear: both; height:0; visibility:hidden; }
#siteBody div.module3 div.footer{height:7px; background:url(http://hw-static.datpiff.com/images/leftColumnModule3Footer.gif) no-repeat;}

#siteBody #leftColumnWide div.module1.basicProfile{}
#siteBody #leftColumnWide div.module1.basicProfile div.content div.container{ clear:both; margin-top:3px; }
#siteBody #leftColumnWide div.module1.basicProfile div.content div.container div.avatar{ background:url(http://hw-static.datpiff.com/images/avatarBackgroundLarge.gif) no-repeat right bottom; width:126px; height:126px; float:left; }
#siteBody #leftColumnWide div.module1.basicProfile div.content div.container div.avatar img{ width:118px; height:118px; border:1px solid #000000; }
#siteBody #leftColumnWide div.module1.basicProfile div.content div.container div.profileStats{ float:left; width:430px; min-height:116px; margin-left:10px; background:url(http://hw-static.datpiff.com/images/statsBackgroundDark.gif) no-repeat right bottom #FFFFFF; border:1px solid #dadada; padding:5px 5px 5px 10px; font-size:11px; }
#siteBody #leftColumnWide div.module1.basicProfile div.content div.container div.profileStats a{ text-decoration:none; font-weight:normal; color:#2e2e2e; }
#siteBody #leftColumnWide div.module1.basicProfile div.content div.container div.profileStats a:hover{ text-decoration:underline; }


div.alternatingListing{ color:#696969; width:600px; }
div.alternatingListing div.row{border-bottom:1px solid #bcbcbc; min-height:25px; clear:both; }
div.alternatingListing div.row.alt0{background-color:#e6f6f7;}
div.alternatingListing div.row div.column{ float:left; width:25px; padding:3px 0 0 0; }


div.adsenseBlock{ width:630px; height:71px; background:url(http://hw-static.datpiff.com/images/adsenseBlockBackground.gif) no-repeat; margin:10px auto 10px auto; padding:10px 0 0 0; }
div.adsenseBlock div.adsense{ width:468px; height:60px; border:1px solid #383838; margin:auto; }

/* New User Boxes */
#siteBody #rightColumnNarrow div.module.userbox{}
#siteBody #rightColumnNarrow div.module.userbox div.header{ background:url(http://hw-static.datpiff.com/images/rightColumnModuleSkyContentHeader.gif) no-repeat; height:15px; }
#siteBody #rightColumnNarrow div.module.userbox div.content{ background:url(http://hw-static.datpiff.com/images/rightColumnModuleSkyContentBackground.gif) repeat-y; padding:5px 15px; margin:0; min-height:0; }
#siteBody #rightColumnNarrow div.module.userbox div.content a.avatar{ width:80px; height:80px; display:block; float:left; }
#siteBody #rightColumnNarrow div.module.userbox div.content a.avatar img{ width:80px; height:80px; border:2px solid #ccc; }
#siteBody #rightColumnNarrow div.module.userbox div.content div.rightSide{ width:180px; float:left; margin-left:10px; }
#siteBody #rightColumnNarrow div.module.userbox div.content div.rightSide div.username{ font-weight:bold; font-size:14px; color:#dddddd; width:180px; height:21px; line-height:21px; text-indent:22px; background:url(http://hw-static.datpiff.com/images/userBoxUsernameBackground.png) no-repeat; }
#siteBody #rightColumnNarrow div.module.userbox div.content div.rightSide ul{ list-style-image:url(http://hw-static.datpiff.com/images/userbox-gray-arrow.gif); padding:0; list-style-position:inside; margin:5px 0 0 5px; }
#siteBody #rightColumnNarrow div.module.userbox div.content div.rightSide ul li a{ color:#bbbaba; font-size:12px; text-decoration:none; }
#siteBody #rightColumnNarrow div.module.userbox div.content div.rightSide ul li a:hover{ color:#01bfd3; text-decoration:none; }
#siteBody #rightColumnNarrow div.module.userbox div.content div.rightSide ul li a.red:hover{ color:#cc0000; text-decoration:none; }
#siteBody #rightColumnNarrow div.module.userbox div.footer{ background:url(http://hw-static.datpiff.com/images/rightColumnModuleSkyContentFooter.gif) no-repeat; height:15px; }
#siteBody #rightColumnNarrow div.module.userbox.premium div.content div.rightSide ul{ background:url(http://hw-static.datpiff.com/images/userbox-premium.jpg) bottom right no-repeat; }

#siteBody #rightColumnNarrow form div.module.userbox.loggedout div.content div.rightSide div.login{}
#siteBody #rightColumnNarrow form div.module.userbox.loggedout div.content div.rightSide div.login label{ width:85px; float:left; clear:none; color:#dddddd; font-size:11px; margin:0 0 0 4px; padding:0; font-weight:bold; background-image:none; text-align:left; position:relative; }
#siteBody #rightColumnNarrow form div.module.userbox.loggedout div.content div.rightSide div.login label input{ font-size:12px; padding:1px; background:#e4e5e5; border:2px solid #3a3b3d; width:70px; margin-top:2px; }
#siteBody #rightColumnNarrow form div.module.userbox.loggedout div.content div.rightSide div.login label input.lgn{ width:11px; height:19px; float:right; background:url(http://hw-static.datpiff.com/images/userbox-login.gif) no-repeat; border:none; text-indent:-999px; cursor:pointer; margin:0 0 0 -5px; position:absolute; right:0; bottom:0; }
#siteBody #rightColumnNarrow form div.module.userbox.loggedout div.content div.rightSide div.links{ font-size:10px; text-indent:5px; margin-top:4px; padding-top:12px; background:url(http://hw-static.datpiff.com/images/userbox-or.jpg) top center no-repeat; text-align:center; }

/* 11/17/2015 */
#siteBody #rightColumnNarrow div.module2015{ margin:0 auto 10px auto; width:290px; padding:10px 5px 10px 10px; background:#fff; border:2px solid #D1D1D1; /*border-top:2px solid #2f3239;*/ }
#siteBody #rightColumnNarrow div.module2015.userbox{ border-top:3px solid #0F0F0F; border-radius:5px 5px 5px 5px; }
#siteBody #rightColumnNarrow div.module2015.userbox div.form-top{ height:50px; }
#siteBody #rightColumnNarrow div.module2015.userbox div.form-top .avatar{ display:inline-block; width:50px; height:50px; background:url(/images/default_avatar.jpg) center; background-size:cover; border-radius:10%; }
#siteBody #rightColumnNarrow div.module2015.userbox div.form-top>div{ display:inline-block; position:relative; font-size:1.2em; vertical-align:top; }
#siteBody #rightColumnNarrow div.module2015.userbox div.form-top>div>div{ display:block; margin-bottom:5px; }
#siteBody #rightColumnNarrow div.module2015.userbox div.form-top>div input{ background:#fff; border:1px solid #DADFE1; height:23px; padding:2px 4px; font-size:.85em; width:100px; display:inline-block;  }
#siteBody #rightColumnNarrow div.module2015.userbox div.form-top>div input[type="text"]{ margin-right:10px; }
#siteBody #rightColumnNarrow div.module2015.userbox div.buttons{ margin:15px 0 20px 0; clear:both; }
#siteBody #rightColumnNarrow div.module2015.userbox div.buttons button{ display:inline; cursor:pointer; padding:4px 8px; text-align:center; color:#fff; text-transform:uppercase; border:none; font-weight:bold; font-size:1em; }
#siteBody #rightColumnNarrow div.module2015.userbox div.buttons button.facebook{ background:#3a589a; }
#siteBody #rightColumnNarrow div.module2015.userbox div.buttons button[type="submit"]{ background:#00c0ff; }
#siteBody #rightColumnNarrow div.module2015.userbox div.buttons>span{  display:inline-block; background: #0e1014; border-radius: 50%; width: 18px; height: 16px; padding:2px 0 0 0; margin: 0 3px; text-align: center; text-transform: uppercase; font-size: .7em; font-weight:bold; color: #8f979b; line-height: 14px; }
#siteBody #rightColumnNarrow div.module2015.userbox div.links{ text-align:center; font-weight:bold; text-transform:uppercase; font-size:.8em; margin-bottom:5px; }
#siteBody #rightColumnNarrow div.module2015.userbox div.links a{ color:#000; text-decoration:none; }
#siteBody #rightColumnNarrow div.module2015.userbox div.links a:hover{ color:#00C0FF; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin{ border-radius:5px 5px 10px 10px; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.form-top img.avatar{background:none;  border-radius:25%;  }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.form-top div.username{ padding-left:10px; font-weight:bold; font-size:1.5em; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.form-top div.links{ padding-left:10px; font-size:.75em; text-transform:none; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.form-top div.links a{ text-decoration:underline; color:#00C0FF; margin-left:15px; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.form-top div.links a:first-child{ margin:0; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.form-top div.links a.red{ color:#cc0000; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.footer{ background-color: #545252; position:relative; margin: 10px 0 -10px -10px; width:305px; height:50px; border-bottom-right-radius:10px; border-bottom-left-radius:10px; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.footer a{ text-align:center; width:48%; display:inline-block; height:40px; padding-top:10px; line-height:50px; font-weight:normal; color:#fff; background-position:center 7px; background-repeat:no-repeat; background-size:auto 18px; text-decoration:none; }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.footer a.favorites{ background-image:url(/images/icon-heart.png); }
#siteBody #rightColumnNarrow div.module2015.userbox.loggedin div.footer a.logout{ background-image:url(/images/icon-signout.png); }

#siteBody #rightColumnNarrow div.module2015.socialbox{ height: 88px; color: #fff; overflow: hidden; text-align: center; border-top:3px solid #0F0F0F; border-radius:5px 5px 5px 5px; padding:0; width:306px; }
#siteBody #rightColumnNarrow div.module2015.socialbox div{ width: 33%; min-height: 100%; float: left; }
#siteBody #rightColumnNarrow div.module2015.socialbox .facebook { background: #385699; }
#siteBody #rightColumnNarrow div.module2015.socialbox .twitter { width:34%; background: #00C0FF; }
#siteBody #rightColumnNarrow div.module2015.socialbox .instagram { background: #f79012; }
#siteBody #rightColumnNarrow div.module2015.socialbox .socialIcon { width: 38%; margin-left: 28%; min-height: 41px; }
#siteBody #rightColumnNarrow div.module2015.socialbox .socialIcon img { max-width: 66%; margin-top: 12px; }
#siteBody #rightColumnNarrow div.module2015.socialbox span.count { width: 100%; text-align: center; margin-top: -30px; font-size: 10px; margin-left: 1px; }
#siteBody #rightColumnNarrow div.module2015.socialbox span.count strong { font-size: 15px; margin-top: 21px; }
#siteBody #rightColumnNarrow div.module2015.socialbox .click-button { position: absolute; margin-left: 8%; margin-top: 2px; min-height: 0px!important; }
#siteBody #rightColumnNarrow div.module2015.socialbox .twitter .click-button { margin-left: 0px; }
#siteBody #rightColumnNarrow div.module2015.socialbox .twitter img { margin-left: 6px; }

#siteBody #rightColumnNarrow div.module2015.searchbox{ background: #303439; padding: 10px; border-radius: 10px; width: 87%; margin: 0 auto; margin-bottom: 10px;  max-height: 44px; overflow:hidden; -webkit-transition: max-height 0.8s; -moz-transition: max-height 0.8s; transition: max-height 0.8s; }
#siteBody #rightColumnNarrow div.module2015.searchbox:hover{ max-height:150px; }
#siteBody #rightColumnNarrow div.module2015.searchbox input#inptSearch{ width: 92%; padding: 10px; border-radius:5px;  border: solid 1px #ccc; color: #9A9999; font-size: 15px; }
#siteBody #rightColumnNarrow div.module2015.searchbox input[type="submit"] { position: absolute; right: 28px;  top: 25px; width: 30px; height: 30px; margin: 0; border: 0; background: transparent url(/images/btn-search.png) no-repeat center top; overflow: hidden; cursor: pointer; cursor: hand; text-indent: -9999px; background-size: 100%; }
#siteBody #rightColumnNarrow div.module2015.searchbox div.popSearches{ margin-top: 13px; }
#siteBody #rightColumnNarrow div.module2015.searchbox div.popSearches a{ font-size: 10px;  color: #ccc; text-decoration:none; -webkit-transition:color 0.2s; -moz-transition:color 0.2s; transition:color 0.2s; }
#siteBody #rightColumnNarrow div.module2015.searchbox div.popSearches a:hover{ color:#00C0FF; }

