.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-radius: 5px;
    display: block;
    width: 100%;
    border: 1px solid #dbdbdb;
    color: #999;
    background-color: #fff;
    padding: 15px 5px 15px 20px;
    margin-bottom: 15px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    resize: none;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
}

.angucomplete-dropdown1 {
    background: #fff;
    width: 100%;
    position: absolute;
    top: 48px;
    z-index: 9999;
    border: 1px solid #dbdbdb;
    overflow-y: auto;
    max-height: 212px; // your preference
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
    display: none;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 0px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: #eee;
    color: #999;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
