@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-be19vo');
	src:url('../fonts/icomoon.eot?#iefix-be19vo') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-be19vo') format('woff'),
		url('../fonts/icomoon.ttf?-be19vo') format('truetype'),
		url('../fonts/icomoon.svg?-be19vo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
	content: "\e600";
}
.icon-cursor:before {
	content: "\e601";
}
.icon-pencil:before {
	content: "\e602";
}
.icon-music:before {
	content: "\e603";
}
.icon-pacman:before {
	content: "\e604";
}
.icon-clock:before {
	content: "\e605";
}
.icon-clock2:before {
	content: "\e606";
}
.icon-alarm:before {
	content: "\e607";
}
.icon-stopwatch:before {
	content: "\e608";
}
.icon-mobile:before {
	content: "\e609";
}
.icon-mobile2:before {
	content: "\e60a";
}
.icon-tablet:before {
	content: "\e60b";
}
.icon-tv:before {
	content: "\e60c";
}
.icon-undo:before {
	content: "\e60d";
}
.icon-redo:before {
	content: "\e60e";
}
.icon-user:before {
	content: "\e60f";
}
.icon-users:before {
	content: "\e610";
}
.icon-user2:before {
	content: "\e611";
}
.icon-users2:before {
	content: "\e612";
}
.icon-user3:before {
	content: "\e613";
}
.icon-quotes-left:before {
	content: "\e614";
}
.icon-spinner:before {
	content: "\e615";
}
.icon-spinner2:before {
	content: "\e616";
}
.icon-spinner3:before {
	content: "\e617";
}
.icon-spinner4:before {
	content: "\e618";
}
.icon-key:before {
	content: "\e619";
}
.icon-lock:before {
	content: "\e61a";
}
.icon-lock2:before {
	content: "\e61b";
}
.icon-unlocked:before {
	content: "\e61c";
}
.icon-wrench:before {
	content: "\e61d";
}
.icon-cog:before {
	content: "\e61e";
}
.icon-cogs:before {
	content: "\e61f";
}
.icon-cog2:before {
	content: "\e620";
}
.icon-pie:before {
	content: "\e621";
}
.icon-stats:before {
	content: "\e622";
}
.icon-bars:before {
	content: "\e623";
}
.icon-remove:before {
	content: "\e624";
}
.icon-remove2:before {
	content: "\e625";
}
.icon-switch:before {
	content: "\e626";
}
.icon-powercord:before {
	content: "\e627";
}
.icon-signup:before {
	content: "\e628";
}
.icon-list:before {
	content: "\e629";
}
.icon-list2:before {
	content: "\e62a";
}
.icon-numbered-list:before {
	content: "\e62b";
}
.icon-menu:before {
	content: "\e62c";
}
.icon-tree:before {
	content: "\e62d";
}
.icon-cloud:before {
	content: "\e62e";
}
.icon-cloud-download:before {
	content: "\e62f";
}
.icon-cloud-upload:before {
	content: "\e630";
}
.icon-link:before {
	content: "\e631";
}
.icon-flag:before {
	content: "\e632";
}
.icon-star:before {
	content: "\e633";
}
.icon-star2:before {
	content: "\e634";
}
.icon-heart:before {
	content: "\e635";
}
.icon-notification:before {
	content: "\e636";
}
.icon-question:before {
	content: "\e637";
}
.icon-info:before {
	content: "\e638";
}
.icon-info2:before {
	content: "\e639";
}
.icon-close:before {
	content: "\e63a";
}
.icon-checkmark:before {
	content: "\e63b";
}
.icon-checkmark2:before {
	content: "\e63c";
}
.icon-play3:before {
	content: "\e63d";
}
.icon-shuffle:before {
	content: "\e63e";
}
.icon-share:before {
	content: "\e63f";
}
.icon-facebook:before {
	content: "\e640";
}
.icon-facebook3:before {
	content: "\e641";
}
.icon-facebook4:before {
	content: "\e642";
}
.icon-manage:before {
	content: "\e643";
}
.icon-rescan:before {
	content: "\e644";
}
.icon-affiliate:before {
	content: "\e645";
}
.icon-insights:before {
	content: "\e646";
}
.icon-horn:before {
	content: "\e647";
}
.icon-arrow-left:before {
	content: "\e648";
}
.icon-arrow-down:before {
	content: "\e649";
}
.icon-arrow-up:before {
	content: "\e64a";
}
.icon-arrow-right:before {
	content: "\e64b";
}
