@charset "utf-8";
/*/////////////////////////////////////////////////////////////////////////
TVer (min-width:721px)
/////////////////////////////////////////////////////////////////////////*/
* { margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
html, body { height:100%;}
body { text-align:center; font:13px/1.231 sans-serif; font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif; *font-size:small; *font:x-small;}
h1, h2, h3, h4, h5, h6, table, caption, thead, tr, th, td, form { font-size:100%;}
article, aside, footer, header, nav, section { display:block;}
a,embed,object { outline:none;}
img { border:none; box-sizing:content-box; -webkit-box-sizing:content-box; -moz-box-sizing:content-box;}
hr { display:none;}
li { list-style:none;}
.alt { position:absolute; top:-5000px; left:-9999px; text-align:left;}
.clearfix:after { content:""; clear:both; display:block;}
a { color:#262626; text-decoration:none; -webkit-transition:all 0.18s; -moz-transition:all 0.18s; transition:all 0.18s;}

/*@common
//////////////////////////////////////////////////////*/
body {
	background:#2d2d2d; color:#262626; line-height:1;
	min-width:1040px; -webkit-text-size-adjust:100%;
	padding-top:134px;
}
body.fixed{padding-top:70px;}
#bg { background:url(../img/bg.jpg);}
#contents { text-align:left; background:url(../img/bg.jpg); padding-top:40px;}
#contents .topicsList { background:#eaeaea url(../img/bg1.png) center 0; padding-top:40px;}
.inner { width:1000px; text-align:left; margin:0 auto; position:relative;}
.inner h2 { font-size:24px; padding-left:5px; margin-bottom:22px;}
.credit { font-size:10px; color:#909090; line-height:1.5; padding:20px;}
.mask { width:100%; height:100%; position:fixed; top:0; left:0; opacity:0;}
h1,h2,h3,h4,h5 { font-weight:normal;}

body.smartappbnr{padding-top:0;}
body.smartappbnr.info #bg{padding-top:0;}
body.smartappbnr #header{position:relative;}

/*header*/
#header {
	width:100%; height:134px; min-width:1040px;
	background:#fff; border-bottom:1px solid #ddd;
	position:fixed; top:0; z-index:1010;
	}
	#header .inner { height:78px; text-align:right; padding:30px 10px 0;}
	/*title*/
	#header a { color:#1aa1ff;}
	#header h1 {
		width:145px; height:80px; text-align:left;
		background:url(../img/parts.png) no-repeat -380px -175px;
		position:absolute; top:28px; left:0;
	}
	.idx #header h1 { text-indent:-9999px;}
	#header h1 a { display:block; width:145px; height:80px; text-indent:-9999px;}
	#header h1:before {
		content:""; display:block; width:170px; height:20px;
		background:url(../img/parts.png) no-repeat -460px -55px;
		position:absolute; top:9px; left:170px;
	}
	#header .m0 {
		display:inline-block; height:30px; font-size:16px; line-height:32px; vertical-align:top;
		text-align:center; background:#f2f0ee; border-radius:50px; padding:0 26px;
	}
	#header .m0:hover { color:#fff; background:#1aa1ff;}
	.about #header .m0.about,
	.app #header .m0.app { color:#fff; background:#1aa1ff;}
	/*お知らせ*/
	#header .oshirase{ display:inline-block; position:relative; z-index:1000; display:none;}
	#header .oshirase > a {
		display:inline-block; height:30px; font-size:16px; line-height:29px; vertical-align:top;
		text-align:center; background:#fff; border-radius:50px;
		border:solid 1px #1aa1ff; padding:0 16px 0 20px; margin-right:3px; cursor:pointer;
		}
		#header .oshirase > a:hover{
			background-color:#e9f9ff; border-color:#d8f4ff;
		}
	#header .oshirase h2 { font-size:16px; font-weight:normal; padding:0; margin:0;}
	#header .oshirase h2:after {
		content:""; display:inline-block; width:15px; height:10px;
		background:url(../img/parts.png) no-repeat -350px -240px; margin-left:4px;
	}
	#header .oshirase .active h2:after { background-position:-350px -255px;}
	#header .oshirase > a span {
		position:absolute; right:2px; top:-7px;
		display:inline-block; width:17px; height:17px; text-indent:-9999px;
		background:#f03e34; border:3px solid #fff; border-radius:50%;
	}
	#header .oshirase > .active, #header .oshirase > .active:hover{
		background-color:#fff; border-color:#fff;
	}
	#header .oshirase > a span.hasread,
	#header .oshirase > .none span,
	#header .oshirase > .active span { display:none;}
	#header .oshirase .oshiraseIn {
		display:block; width:400px;
		text-align:left; padding:10px 25px 16px;
		position:absolute; top:40px; left:-33px;
		background:rgb(255, 255, 255); background:rgba(255, 255, 255, 0.95);
		border:solid 2px #cbcbcb; border-radius:10px;
		box-shadow:rgba(0, 0, 0, 0.15) 0 2px 8px;
		display:none;
		}
		#header .oshirase .oshiraseIn:after, #header .oshirase .oshiraseIn:before {
			content:" "; width:0; height:0;
			position:absolute; left:75px; bottom:100%;
			border:solid transparent;
			pointer-events:none;
		}
		#header .oshirase .oshiraseIn:after {
			border-color:rgba(255, 255, 255, 0);
			border-bottom-color:#fff;
			border-width:9px;
			margin-left:-9px;
		}
		#header .oshirase .oshiraseIn:before {
			border-color:rgba(203, 203, 203, 0);
			border-bottom-color:#cbcbcb;
			border-width:12px;
			margin-left:-12px;
		}
		#header .oshirase .oshiraseIn > a {
			display:block; height:36px; font-size:16px; color:#fff;
			text-align:center; line-height:36px; background:#1aa1ff;
			border-radius:6px;
		}
		#header .oshirase ul li { font-size:14px; line-height:1.5; border-top:solid 1px #ddd;padding:10px 0;}
		#header .oshirase ul li:first-child{ border:none;}
		#header .oshirase ul li a { color:#262626; text-decoration:underline;}
		#header .oshirase ul li a:hover { text-decoration:none;}
		#header .oshirase li .date{
			color:#1aa1ff; font-weight:bold; font-size:12px;
			display:block; line-height:1.6; margin-bottom:3px;
		}
		/*close*/
		#header .oshirase .oshiraseIn .close {
			display:block; width:46px; height:42px; text-indent:-9999px;
			/*border:2px solid #cbcbcb; border-radius:50px;*/
			background:none; cursor:pointer; opacity:0.4;
			position:absolute; top:0; right:0;
		}
		#header .oshirase .oshiraseIn .close:after {
			content:""; display:block; width:20px; height:20px;
			background:url(../img/parts.png) no-repeat -230px -260px;
			position:absolute; top:50%; left:50%; margin:-10px 0 0 -10px;
		}
	#header .oshirase.disp{ display:inline-block;}
	/*sns*/
	#header .snsbtn { display:inline-block; text-align:left; vertical-align:top; padding:2.5px 0 0 10px;}
	#header .snsbtn a {
		display:inline-block; width:25px; height:25px; text-indent:-9999px;
		background:url(../img/parts.png) no-repeat; margin:0 7px;
	}
	#header .snsbtn .fb { background-position:-580px -170px;}
	#header .snsbtn .tw { background-position:-610px -170px;}
	.detail.bangumi #header .snsbtn,
	.detail.talent #header .snsbtn { display:none;}
	#footer .snsbtn { display:none;}
	/*menu*/
	#menu h2 { display:none;}
	#menu > ul { width:1000px; margin:0 auto; font-size:0; text-align:left; padding-left:165px;}
	#menu > ul > li { display:inline-block; vertical-align:top; font-size:17px; margin:0 0.1em; position:relative;}
	#menu > ul > li > a {
		display:inline-block; height:30px; line-height:32px; border-radius:50px;
		text-align:center; padding:0 0.71em; position:relative;
	}
	#menu > ul > li > a:hover,
	.idx #menu .m1 > a,
	.ranking #menu .m2 > a,
	.soon #menu .m3 > a,
	.yesterday #menu .m4 > a,
	.yesterday2 #menu .m5 > a,
	.search #menu .m6 > a,
	.mylist #menu .m7 > a,
	.topics #menu .m8 > a,
	.epg #menu .m9 > a { color:#fff; background:#1aa1ff;}
	#menu .m6 > a:before,
	#menu .m7 > a:before,
	#menu .m8 > a:before,
	#menu .m9 > a:before {
		content:""; display:inline-block; width:20px; height:20px; vertical-align:top;
		background:url(../img/parts.png) no-repeat; margin-top:5px;
	}
	#menu .m6 > a:before { background-position:-90px 0;}
	#menu .m7 > a:before { background-position:-90px -25px;}
	#menu .m8 > a:before { background-position:-90px -50px; margin-right:3px;}
	#menu .m9 > a:before { background-position:-430px -260px; margin-right:3px;}
	#menu .m6 > a:hover:before,
	.search #menu .m6 > a:before { background-position:-340px -55px;}
	#menu .m7 > a:hover:before,
	.mylist #menu .m7 > a:before { background-position:-370px -55px;}
	#menu .m8 > a:hover:before,
	.topics #menu .m8 > a:before { background-position:-400px -55px;}
	#menu .m9 > a:hover:before,
	.epg #menu .m9 > a:before { background-position:-455px -260px;}
	#menu .m10,
	#menu .m11 { display:none;}
	#menu .m6 > a:after {
		content:""; display:inline-block; width:20px; height:20px; vertical-align:top;
		background:url(../img/parts.png) no-repeat -480px -260px; margin-top:5px;
	}
	/*さがす*/
	#menu .mlist {
		width:150px; text-align:left; padding:10px 0;
		background:rgb(255, 255, 255); background:rgba(255, 255, 255, 0.9);
		box-shadow:rgba(0, 0, 0, 0.15) 0 3px 8px; display:none;
	}
	#menu .mlist { position:absolute; top:100%; left:0;}
	#menu .mlist li a { display:block; height:36px; line-height:36px; padding:0 12px;}
	#menu .mlist li a:before {
		content:""; display:inline-block; width:20px; height:20px; vertical-align:middle;
		background:url(../img/parts.png) no-repeat -380px -260px; margin:-2px 3px 0 0;
	}
	#menu .mlist li a:hover { color:#fff; background:#1aa1ff;}
	#menu .mlist li a:hover:before { background-position:-405px -260px;}
	#menu .m6:hover .mlist { display:block;}
#header #coming{text-align:left;width:1000px;position:relative;margin:0 auto;}
#header #coming a{
	background:#3c3c3c;
	color:#fff;
	font-size:115%;
	display:inline-block;
	border-radius:0 0 5px 5px;
	padding:11px 12px 9px 38px;
	position:absolute;
	right:10px; top:26px;
	}
	#header #coming a:before {
		content:""; display:block; width:25px; height:25px;
		background:url(../img/icon_coming.png) no-repeat;
		background-size:25px auto;
		position:absolute; top:4px; left:8px;
	}
	#header #coming a:hover,
	.comingsoon #header #coming a { background-color:#1aa1ff;}
#header .lineup{text-align:left;width:1000px;position:relative;margin:0 auto;}
#header .lineup a {
	display:inline-block; font-size:15px; color:#fff;
	background:#3c3c3c;
	border-radius:0 0 5px 5px;
	padding:11px 14px 9px 12px;
	position:absolute; right:10px; top:26px;
	}
	#header .lineup a span { display:inline-block; padding-left:28px; position:relative;}
	#header .lineup a .icon1 { padding-right:15px;}
	#header .lineup a span:before {
		content:""; display:inline-block; width:25px; height:25px;
		background:transparent no-repeat;
		background-size:25px auto;
		position:absolute; top:-6px; left:0;
	}
	#header .lineup a .icon1:before { background-image:url(../img/icon_lineup.png);}
	#header .lineup a .icon2:before { background-image:url(../img/icon_coming.png); left:-2px;}
	#header .lineup a:hover,
	.comingsoon #header .lineup a { background-color:#1aa1ff;}

/*header-fixed*/
body.fixed #header { width:100%; height:70px; position:fixed; top:0; z-index:1010;}
	body.fixed #header .inner { height:70px;}
	body.fixed #header h1 {
		width:80px; height:70px;
		background-position:0 0;
		position:absolute; top:0; left:0; z-index:1010;
	}
	body.fixed #header h1 a { width:80px; height:70px;}
	body.fixed #header h1:before,
	body.fixed #header .oshirase,
	body.fixed #header .m0 { display:none;}
	body.fixed #header #menu { position:relative; top:-44px;}
	body.fixed #header #menu > ul { padding-left:100px;}
	body.fixed #header #menu > ul li { font-size:16px;}
	body.fixed #header .snsbtn { position:absolute; top:27px; right:0; padding:0; z-index:1010;}
	body.fixed #header #coming a{top:-30px;}
	body.fixed #header .lineup a{top:-30px;}

/*footer*/
#footer li { display:inline-block; vertical-align:top;}
#footer .f1 { background:#fff; padding:40px 0;}
	#footer .f1 ul { display:inline-block; font-size:0;}
	#footer .f1 li { margin:0 10px;}
	#footer .f1 li a {
		display:inline-block; width:170px; height:85px; text-indent:-9999px;
		background:url(../img/icon_vod.png) no-repeat;
	}
	#footer .f1 li.t1 a { background-position:0 0;}
	#footer .f1 li.t2 a { background-position:-180px 0;}
	#footer .f1 li.t3 a { background-position:-360px 0;}
	#footer .f1 li.t4 a { background-position:-540px 0;}
	#footer .f1 li.t5 a { background-position:-720px 0;}
#footer .f2 { background:#2d2d2d; padding:35px 0;}
	#footer .f2 a { color:#fff;}
	#footer .f2 .officialLink { font-size:0; padding-bottom:15px;}
	#footer .f2 .officialLink li a {
		display:inline-block; width:95px; height:50px; text-indent:-9999px;
		background:#fff url(../img/parts.png) no-repeat; margin:0 3px;
		border-radius:1px;
	}
	#footer .f2 .officialLink li.t1 a { background-position:-120px 0;}
	#footer .f2 .officialLink li.t2 a { background-position:-225px 0;}
	#footer .f2 .officialLink li.t3 a { background-position:-330px 0;}
	#footer .f2 .officialLink li.t4 a { background-position:-435px 0;}
	#footer .f2 .officialLink li.t5 a { background-position:-540px 0;}
	#footer .f2 .officialLink li.t6 a { width:180px; background:#00a5ff; position:relative;margin-left:6px;}
	#footer .f2 .officialLink li.t6 a:after {
		content:""; display:block; width:170px; height:42px;
		background:url(../img/parts.png) no-repeat -540px -200px;
		position:absolute; top:4px; left:5px;
	}
	#footer .f2 .txtLink { padding:30px 0;}
	#footer .f2 .txtLink li { font-size:12px; margin:0 10px;}
	#footer .f2 .txtLink li a { border-bottom:1px solid #aaa; padding-bottom:0.1em;}
	#footer .f2 .txtLink li a:hover { color:#ccc; border-color:transparent;}
	#footer .f2 .copyright { font-size:10px; color:#ccc; font-family:helvetica; }
	/*mail*/
	#footer .f2 .txtLink li.mail:before {
		content:""; display:inline-block; width:20px; height:20px;
		background:url(../img/parts.png) no-repeat -200px -260px;
		vertical-align:top; margin:-3px 5px 0 0;
	}
	/*lineup*/
	#footer .f2 .txtLink li.lineup:before {
		content:""; display:inline-block; width:20px; height:20px;
		background:url(../img/parts.png) no-repeat -260px -260px;
		vertical-align:top; margin:-3px 5px 0 0;
	}
	
	/*7局*/
	#footer .f1 li { margin:0 6px;}
	#footer .f1 li a {
		display:inline-block; width:130px; height:65px; text-indent:-9999px;
		background:url(../img/icon_vod.png) no-repeat;
		background-size:685px auto;
	}
	#footer .f1 li.t1 a { background-position:0 0;}
	#footer .f1 li.t2 a { background-position:-138px 0;}
	#footer .f1 li.t3 a { background-position:-277px 0;}
	#footer .f1 li.t4 a { background-position:-415px 0;}
	#footer .f1 li.t5 a { background-position:-554px 0;}
	#footer .f1 li.t6 a { background-position:0 -207px;}
	#footer .f1 li.t7 a { background-position:-138px -207px;}

/*ptop*/
#ptop { display:none; position:fixed; bottom:110px; right:30px; z-index:999;}
	#ptop a {
		display:block; width:85px; height:80px; text-indent:-9999px;
		background:rgb(26, 161, 255); background:rgba(26, 161, 255, 0.8); position:relative;
	}
	#ptop a:before {
		content:""; display:block; width:40px; height:30px;
		background:url(../img/parts.png) no-repeat -480px -140px;
		position:absolute; top:50%; left:50%; margin:-15px 0 0 -20px;
	}
	#ptop a:hover { filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}

/*tv_icon*/
.tv { background:#fff url(../img/icon_vod.png) no-repeat; text-indent:-9999px; z-index:10;}
	/*L*/
	.tv.sizeL { width:150px; height:75px; display:block;}
	.tv.sizeL.ntv { background-position:0 -90px;}
	.tv.sizeL.ex { background-position:-160px -90px;}
	.tv.sizeL.tbs { background-position:-320px -90px;}
	.tv.sizeL.tx { background-position:-480px -90px;}
	.tv.sizeL.cx { background-position:-640px -90px;}
	.tv.sizeL.mbs { background-position:-360px -270px;}
	.tv.sizeL.abc { background-position:-520px -270px;}
	/*M*/
	.tv.sizeM { width:85px; height:43px; position:absolute; top:-14px; left:16px; display:block;}
	.tv.sizeM.ntv { background-position:0 -170px;}
	.tv.sizeM.ex { background-position:-95px -170px;}
	.tv.sizeM.tbs { background-position:-190px -170px;}
	.tv.sizeM.tx { background-position:-285px -170px;}
	.tv.sizeM.cx { background-position:-380px -170px;}
	.tv.sizeM.mbs { background-position:-680px -260px;}
	.tv.sizeM.abc { background-position:-770px -260px;}
	/*S*/
	.tv.sizeS { width:60px; height:30px; position:absolute; top:-9px; left:10px; display:block;}
	.tv.sizeS.ntv { background-position:-470px -170px;}
	.tv.sizeS.ex { background-position:-535px -170px;}
	.tv.sizeS.tbs { background-position:-600px -170px;}
	.tv.sizeS.tx { background-position:-665px -170px;}
	.tv.sizeS.cx { background-position:-730px -170px;}
	.tv.sizeS.mbs { background-position:-680px -310px;}
	.tv.sizeS.abc { background-position:-750px -310px;}
	.tv.vod.sizeS.ntv { background-position:-470px -220px;}
	.tv.vod.sizeS.ex { background-position:-535px -220px;}
	.tv.vod.sizeS.tbs { background-position:-600px -220px;}
	.tv.vod.sizeS.tx { background-position:-665px -220px;}
	.tv.vod.sizeS.cx { background-position:-730px -220px;}
		/*hulu*/
		.tv.vod.sizeS.hulu { background:#fff url(../img/vod_hulu.png) center center no-repeat; background-size:auto 20px; }
	/*局ロゴ*/
	.tv.sizeS.other { background-image:none; text-indent:0; overflow:hidden;  text-align:center;}
	.tv.sizeS.other img { height:100%;}
.tv:after { content:""; display:block; background:url(../img/parts.png) no-repeat; position:absolute; top:0;}
	.tv.sizeM:after { width:11px; height:14px; right:-11px; background-position:-460px -140px;}
	.tv.sizeS:after { width:8px; height:9px; right:-8px; background-position:-460px -160px;}
/*tv_logo*/
.tvLogo { width:150px; height:75px; text-align:center; background:#fff; z-index:10;}
.tvLogo img { height:100%;}

/*動画リスト*/
.progList { padding-bottom:40px; font-size:0;}
.progList h2 { color:#1aa1ff; margin-bottom:35px;}
	.progList li {
		display:inline-block; width:230px; min-height:230px;
		vertical-align:top; margin:0 10px; position:relative; z-index:1;
		opacity:0;
	}
	.bknm .progList li,
	.chup .progList li { opacity:1;}
	.progList li:before, .progList li a { display:block; width:230px; height:132px;}
	.progList li:before { content:""; background:#e5e5e5; position:absolute; top:0; left:0;}
	.progList li a { background:#fff; padding:3px; position:relative; z-index:1;}
	.progList li a:before, .progList li a:after {
		content:""; display:block; position:absolute;
		background:url(../img/parts.png) no-repeat;
	}
	.progList li a:before { width:27px; height:70px; top:0; right:-27px; background-position:-270px -190px;}
	.progList li a:after { width:70px; height:30px; top:132px; left:0; background-position:-380px -140px;}
	.progList li a > span:not(.progress) {
		display:block; width:100%; height:100%; text-indent:-9999px;
		position:relative; overflow:hidden; z-index:-1;
		background-color:#e0e0e4;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
	}
	.progList li .progtitle {
		max-height:50px; font-size:16px; line-height:1.35; padding:8px 5px 0;
		overflow:hidden; position:relative; z-index:10;
		text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
	}
	.progList li .sub {
		font-size:12px; color:#696969; line-height:1.35; padding:3px 5px 5px;
		overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
	}
	.progList li .sub span { padding-right:0.6em;}
	/*デフォルト*/
	.progList.normal li a:hover span { filter:alpha(opacity=80); opacity:0.8;}
	/*動画一覧*/
	.progList.video li { min-height:230px;}
	.progList.video li a > span:not(.progress):before {
		content:""; display:block; width:62px; height:62px;
		background:url(../img/parts.png) no-repeat -200px -190px;
		position:absolute; top:50%; left:50%; margin:-31px 0 0 -31px;
		filter:alpha(opacity=60); opacity:0.6;
	}
	.progList.video li a > span:not(.progress):after {
		content:""; display:block; width:24px; height:28px;
		background:url(../img/parts.png) no-repeat -640px -170px;
		position:absolute; top:50%; left:50%; margin:-14px 0 0 -7px;
	}
	.progList.video li a:hover > span:not(.progress):before { filter:alpha(opacity=1); opacity:1;}
	.progList.video li .attn {
		width:224px; height:25px; font-size:13px; line-height:24px; color:#fff; text-align:center;
		background:rgb(227, 30, 30); background:rgba(227, 30, 30, 0.85);
		position:absolute; bottom:3px; left:3px; padding-top:1px;
	}
	/*トピックス*/
	.progList.tpc li { width:224px; min-height:265px; margin:0 13px;}
	.progList.tpc li:before, .progList.tpc li a { width:224px; height:168px; padding:0;}
	.progList.tpc li a:after { top:168px;}
	.progList.tpc li a:hover span { filter:alpha(opacity=80); opacity:0.8;}
	.progList.tpc li .progtitle { padding:8px 5px 0;}
	.progList.tpc li a span { background-size:contain;}
	/*キャスト*/
	.progList.cast { padding-bottom:0;}
	.progList.cast li { width:122px; min-height:180px; margin:0 10px 16px 10px;}
	.progList.cast li:before, .progList.cast li a { width:122px; height:122px; padding:0;}
	.progList.cast li a:after { top:122px;}
	.progList.cast li .progtitle { font-size:14px; text-align:center; padding:8px 0 0;}
	.progList.cast li a span { padding-top:100%;}
	.progList.cast li a:hover span { filter:alpha(opacity=80); opacity:0.8;}
	/*pickup*/
	.progList .pickup { height:460px; position:relative;}
	.progList .pickup li { position:absolute; margin:0;}
	/*01*/
	.progList li.pickup1 { width:480px; height:auto; top:0; left:10px;}
	.progList li.pickup1:before,
	.progList li.pickup1 a { display:block; width:480px; height:273px;}
	.progList li.pickup1 a:before { width:60px; height:150px; top:0; right:-60px; background-position:-310px -80px;}
	.progList li.pickup1 a:after { width:150px; height:55px; top:273px; left:0; background-position:-380px -80px;}
	.progList li.pickup1 a > span:not(.progress):before {
		width:100px; height:100px;
		background-position:-200px -80px;
		margin:-50px 0 0 -50px;
	}
	.progList li.pickup1 a > span:not(.progress):after {
		width:40px; height:46px;
		background-position:-640px -120px;
		margin:-23px 0 0 -12px;
	}
	.progList.video li.pickup1 .progtitleL {
		max-height:80px; font-size:26px; line-height:1.35;
		padding:10px 5px 0; margin-bottom:5px;
		overflow:hidden; position:relative; z-index:10;
		text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
	}
	.progList.video li.pickup1 .sub { font-size:16px;}
	/*02-05*/
	.progList li.pickup2 { top:0; left:510px;}
	.progList li.pickup3 { top:0; left:760px;}
	.progList li.pickup4 { top:230px; left:510px;}
	.progList li.pickup5 { top:230px; left:760px;}
	/*再生中*/
	.progList li.playing { filter:alpha(opacity=50); opacity:0.5;}
	.progList li.playing a span:before,
	.progList li.playing a span:after { display:none;}
	/*contain*/
	.progList.contain li a span { background-size:contain;}
	/*progressbar*/
	.progList li .progress {
		display:block; width:100%; height:3px;
		background:rgba(0, 0, 0, 0.3);
		margin-top:-3px; position:relative;
	}
	.progList li .progress .bar {
		display:block; width:100%; height:3px;
		background:#00ebf6;
		position:absolute; top:0; left:0;
	}

/*もっと見る*/
.more { text-align:center; padding:0 10px;}
	.more a {
		display:inline-block; height:40px; font-size:18px; line-height:41px;
		background:#e4e4e1; border-radius:50px; padding:0 30px 0 55px;
	}
	.more a:after {
		content:""; display:inline-block; width:30px; height:18px; vertical-align:middle;
		background:url(../img/parts.png) no-repeat -210px -55px; margin:-5px 0 0 10px;
	}
	.more a:hover { background:#fff;}
	.more.all a { display:block;}
	.more.close a:after { background-position:-310px -240px; margin-top:-7px;}
.moreLink { text-align:center; padding:0 10px;}
	.moreLink a {
		display:inline-block; height:40px; font-size:18px; line-height:39px;
		background:#fff; border:1px solid #262626; padding:0 140px 0 130px; position:relative;
	}
	.moreLink a:after {
		content:""; display:block; width:20px; height:20px;
		background:url(../img/parts.png) no-repeat -150px -55px;
		position:absolute; top:50%; right:14px; margin-top:-10px;
	}
	.moreLink a:hover { color:#fff; background:#262626;}
	.moreLink a:hover:after { background-position:-180px -55px;}

/*otherlink*/
.otherlink { text-align:center; position:absolute; top:0; right:0;}
	.otherlink a {
		display:inline-block; height:30px; font-size:14px;
		background:#3c3c3c; color:#fff; border-radius:50px;
		padding:9px 30px 0 20px; margin-left:10px; position:relative;
	}
	.otherlink a:after {
		content:""; display:block; width:8px; height:8px;
		border-top:1px solid #fff;
		border-right:1px solid #fff;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		position:absolute; top:50%; right:15px; margin-top:-4px;
	}
	.otherlink a:hover { background:#1aa1ff;}

/*@mylist
//////////////////////////////////////////////////////*/
.mylist #headings { height:84px; background:#1aa1ff; position:relative;}
	.mylist #headings h1 {
		font-size:26px; color:#fff;
		position:absolute; top:26px; left:0;
	}
	.mylist #headings h1:before {
		content:""; display:inline-block; width:34px; height:34px; vertical-align:middle;
		background:url(../img/parts.png) no-repeat -540px -120px; margin:0 5px 8px 0;
	}
	/*絞り込み*/
	.mylist #headings .selectBox { position:absolute; top:23px; left:210px; z-index:100;}
	.mylist #headings .selectOpen {
		width:570px; font-size:24px; cursor:pointer;
		padding:10px 15px 10px 5px; position:relative;
		white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	}
	.mylist #headings .selectOpen:before {
		content:""; display:inline-block; width:30px; height:20px; vertical-align:bottom;
		background:url(../img/parts.png) no-repeat -210px -55px; margin-right:10px;
	}
	.mylist #headings .selectBox dl {
		width:460px; min-height:200px; background:#fbfbfb;
		position:absolute; top:47px; left:0; display:none;
	}
	.mylist #headings .selectBox dl:after {
		content:" "; position:absolute; bottom:100%; left:15%;
		border:solid transparent;
		border-color:rgba(255, 255, 255, 0); border-bottom-color:#f3f3f3;
		border-width:12px; margin-left:-12px;
	}
	.mylist #headings .selectBox dt,
	.mylist #headings .selectBox dd { height:46px; font-size:18px; line-height:46px;}
	.mylist #headings .selectBox dt { color:#505050; background:#f3f3f3; padding:0 16px;}
	.mylist #headings .selectBox dd { border-top:1px solid #f3f3f3;}
	.mylist #headings .selectBox dd a { display:block; color:#1aa1ff; padding:0 16px;}
	.mylist #headings .selectBox dd a:hover { color:#fff; background:#1aa1ff;}
	
	/*リストの編集*/
	.mylist #headings .listOpen {
		display:block; height:46px; font-size:18px; color:#1aa1ff; line-height:48px;
		background:#fff; padding:0 22px 0 26px;
		 position:absolute; top:20px; right:10px;
	}
	.mylist #headings .listOpen:after {
		content:""; display:inline-block; width:20px; height:20px; vertical-align:middle;
		background:url(../img/parts.png) no-repeat -310px -55px; margin:-2px 0 0 15px;
	}
/*/////////////listBox/////////////*/
#listBox { width:810px; background:#fff; text-align:left; margin:40px auto;}
	#listBox h2 {
		height:46px; font-size:18px; line-height:46px;
		background:#f3f3f3; padding:0 40px;
	}
	#listBox .delete {
		display:block; width:100%; height:60px; font-size:18px; line-height:60px;
		text-align:center; color:#fff; background:#1aa1ff; cursor:pointer;
	}
	#listBox .delete.off{
		background:#61ade2; cursor:default; color:#c3dff2;
	}
	#listBox ul { padding:10px 40px 40px;}
	#listBox ul li { display:inline-block; width:240px; vertical-align:top; padding:12px 0 12px 10px;}
	/*input*/
	#listBox input[type=checkbox] { display:inline-block; width:20px; height:20px; vertical-align:middle; margin-right:6px;}
	#listBox input[type=checkbox] + label {
		position:relative; display:inline-block; margin-right:16px;
		font-size:16px; line-height:1.35; cursor:pointer;
	}
	@media (min-width:1px) {
		#listBox input[type=checkbox] { display:none;}
		#listBox input[type=checkbox] + label { padding:3px 0 0 35px;}
		#listBox input[type=checkbox] + label::before {
			content:""; display:block; width:26px; height:26px;
			background:#fff; border:2px solid #cdcdd2; border-radius:50%;
			position:absolute; top:0; left:0;
			box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
		}
		#listBox input[type=checkbox]:checked + label::before {
			background:#1aa1ff; border:none;
			box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
		}
		#listBox input[type=checkbox]:checked + label::after {
			content:""; display:block; width:12px; height:5px;
			border-left:2px solid #fff; border-bottom:2px solid #fff;
			position:absolute; top:8px; left:6px;
			-webkit-transform:rotate(-45deg);
			-ms-transform:rotate(-45deg);
			transform:rotate(-45deg);
		}
	}

/*@topics
//////////////////////////////////////////////////////*/
.topics #contents { padding:0;}
.topics .credit { padding-bottom:0;}
.topics .topicsList h2:before {
	content:""; display:inline-block; width:34px; height:34px; vertical-align:middle;
	background:url(../img/parts.png) no-repeat -540px -160px; margin:0 10px 5px 0;
}
.topics .progList.tpc li { margin-bottom:20px;}
.progList.tpc h2 { color:#262626; margin-bottom:22px;}

/*@epg
//////////////////////////////////////////////////////*/
.epg #contents { padding:30px 0;}
.epg #contents iframe { border:0; width:100%;}
.epg #contents .inner { width:90%; min-width:1000px;}

/*@search
//////////////////////////////////////////////////////*/
.search #contents h2 { color:#1aa1ff; margin-bottom:35px;}
.search #contents h2:before {
	content:""; display:inline-block; width:34px; height:34px; vertical-align:middle;
	background:url(../img/parts.png) no-repeat -540px -80px; margin:-5px 10px 0 0;
}
.search.result h2:before { display:none;}
.search .searchArea { padding:0 55px 20px;}
	.search .searchArea h3 { font-size:22px; color:#797979; margin-bottom:12px;}
	.search .searchArea h4 { font-size:20px; color:#797979; text-align:left; margin-bottom:12px;}
	.search .searchArea input[type="text"] {
		width:98%; height:44px; font-size:1.3em; line-height:1.5; outline:0;
		background:#fff; border:1px solid #aaa; border-radius:6px; position:relative;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		vertical-align:baseline; padding:10px 14px; margin-bottom:20px;
	}
	.search .searchArea input[type="text"]::-webkit-input-placeholder,
	.search .searchArea input[type="text"]:-ms-input-placeholder,
	.search .searchArea input[type="text"]::-moz-placeholder { color:#aaa;}
	.search .searchArea input[type="text"]::-moz-focus-inner { padding:0; border:0;}
	.search .searchArea input[type="text"]:focus { border-color:#1aa1ff;}
	/*btn*/
	.search .searchArea button {
		display:block; width:300px; height:42px; line-height:41px; font-size:18px;
		color:#fff; background:#61ade2􏰀; outline:none; padding:0; cursor:pointer;
		-webkit-box-shadow:none; box-shadow:none; -webkit-appearance:none;
		border:0; border-radius:6px; margin:0 auto; position:relative; z-index:10;
	}
	.search .searchArea button.off { background:#61ade2;cursor:default; color:#c3dff2;}
	.search .searchArea button.active { background:#1aa1ff;}
	.search .searchArea button.active:hover { background:#008cee;}
	/*絞り込み*/
	.search .searchIn { text-align:center; background:#d8d8d8; border-radius:12px; padding:28px 24px; margin-bottom:40px;}
	.search .searchIn ul { font-size:0;}
	.search .searchIn li {
		display:inline-block; vertical-align:top; font-size:18px;
		color:#797979; background:#f0f0f0;
		border:2px solid transparent; cursor:pointer;
	}
	.search .searchIn li:hover { background:#fff;}
	.search .searchIn li.this { background:#fff; border-color:#1aa1ff;}
	/*select-tv*/
	.search #select-tv { margin-bottom:34px; position:relative;}
	.search #select-tv ul + ul { padding-top:8px;}
	.search #select-tv:after {
		content:"＋"; display:block; width:100%; font-size:40px; color:#fff;
		text-align:center; position:absolute; bottom:-54px; left:0;
	}
	/*
	.search #select-tv li {
		width:160px; height:100px; border-radius:8px; text-indent:-9999px;
		margin:0 4px; position:relative;
	}
	.search #select-tv li:after {
		content:""; display:block; width:150px; height:75px;
		background:url(../img/icon_vod.png) no-repeat;
		position:absolute; top:50%; left:50%; margin:-37.5px 0 0 -75px;
	}
	.search #select-tv li.tv1:after { background-position:0 -90px;}
	.search #select-tv li.tv2:after { background-position:-160px -90px;}
	.search #select-tv li.tv3:after { background-position:-320px -90px;}
	.search #select-tv li.tv4:after { background-position:-480px -90px;}
	.search #select-tv li.tv5:after { background-position:-640px -90px;}
	.search #select-tv li.tv6:after { background-position:-360px -270px;}
	.search #select-tv li.tv7:after { background-position:-520px -270px;}
	*/
	.search #select-tv li {
		width:130px; height:80px; border-radius:8px; text-indent:-9999px;
		margin:0 4px; position:relative;
	}
	.search #select-tv li:after {
		content:""; display:block; width:120px; height:60px;
		background:url(../img/icon_vod.png) no-repeat;
		background-size:715px auto;
		position:absolute; top:50%; left:50%; margin:-30px 0 0 -60px;
	}
	.search #select-tv li.tv1:after { background-position:0 -72px;}
	.search #select-tv li.tv2:after { background-position:-128px -72px;}
	.search #select-tv li.tv3:after { background-position:-257px -72px;}
	.search #select-tv li.tv4:after { background-position:-385px -72px;}
	.search #select-tv li.tv5:after { background-position:-514px -72px;}
	.search #select-tv li.tv6:after { background-position:-289px -216px;}
	.search #select-tv li.tv7:after { background-position:-417px -216px;}
	/*select-genre*/
	.search #select-genre { margin-bottom:34px; position:relative;}
	.search #select-genre:after {
		content:"＋"; display:block; width:100%; font-size:40px; color:#fff;
		text-align:center; position:absolute; bottom:-54px; left:0;
	}
	.search #select-genre li {
		height:46px; line-height:44px; text-align:center;
		border-radius:8px; padding:0 20px; margin:0 4px;
	}
	/*select-day*/
	.search #select-day { margin-bottom:34px;}
	.search #select-day li {
		width:92px; height:46px; line-height:42px; font-size:24px;
		border-radius:50px; padding-left:6px; margin:0 4px;
	}
	.search #select-day li span { font-size:16px; margin-left:4px;}
	.search #select-day li.sat { color:#2a6acb;}
	.search #select-day li.sun { color:#c71b1b;}
/*result*/
.result #contents { padding-top:24px;}
.result .headings { margin-bottom:40px;}
.result .headings h1 {
	width:1000px; font-size:16px; line-height:1.5; border-radius:12px; border:1px solid #ddd;
	background:#f7f7f7; padding:16px 16px 15px 20px; margin:0 auto;
}
.result .headings h1 .word { font-size:24px;}
.result .headings h1 .word span { color:#1aa1ff; margin:0 8px;}
.result #contents .none p { font-size:18px; text-align:center; padding:50px 0 200px;}

/*@comingsoon
//////////////////////////////////////////////////////*/
.comingsoon .progList_line h2:before {
	content:""; display:inline-block; width:37px; height:37px;
	background:url(../img/icon_coming.png) no-repeat 0 -44px;
	background-size:37px auto;
	vertical-align:middle; margin:-4px 10px 0 0;
}

/*/////////////2列表示リスト/////////////*/
.progList_line { padding-bottom:40px; font-size:0;}
.progList_line > h2 { color:#1aa1ff; margin-bottom:35px;}
.progList_line > h2 span { font-size:12px; color:#444;}
	.progList_line li {
		display:inline-block; width:500px;
		position:relative; z-index:1; margin-bottom:26px;
		/*opacity:0;*/
	}
	.progList_line li a { display:block; width:100%;}
	.progList_line li a:after { content:""; clear:both; display:block;}
	.progList_line li a:hover .pic { filter:alpha(opacity=80); opacity:0.8;}
	/*サムネイル*/
	.progList_line li .pic {
		display:block; width:230px; height:132px; float:left;
		position:relative; z-index:1;
	}
	.progList_line li .pic:before,
	.progList_line li .pic:after {
		content:""; display:block; position:absolute;
		background:url(../img/parts.png) no-repeat;
	}
	.progList_line li .pic:before { width:27px; height:70px; top:0; right:-27px; background-position:-270px -190px;}
	.progList_line li .pic:after { width:70px; height:30px; top:132px; left:0; background-position:-380px -140px;}
	.progList_line li .pic span {
		display:block; width:100%; height:100%; text-indent:-9999px;
		position:relative; overflow:hidden; z-index:-1;
		background-color:#e0e0e4;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		border:3px solid #fff;
	}
	/*テキスト*/
	.progList_line li .text { width:260px; float:left; line-height:1.35; padding:5px 10px 5px 16px;}
	.progList_line li .progtitle {
		max-height:50px; font-size:17px; line-height:1.35;
		overflow:hidden; position:relative; z-index:10;
		text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
	}
	.progList_line li .sub {
		font-size:12px; color:#696969; line-height:1.35; padding:3px 0 5px;
		overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
	}
	.progList_line li .sub span { display:block;}
	.progList_line li .flag.coming { font-size:12px; color:#1aa1ff; margin-top:5px;}
	.progList_line li .flag.coming:before {
		content:""; display:inline-block; width:18px; height:18px;
		background:url(../img/icon_coming.png) no-repeat 0 -21px;
		background-size:18px auto;
		vertical-align:middle; margin:-3px 2px 0 0;
	}

/*/////////////配信ラインナップ/////////////*/
.lineup #headings { display:table; table-layout:fixed;}
	.lineup #headings .cell { display:table-cell; vertical-align:top;}
	.lineup #headings .cell.left { width:360px;}
	.lineup #headings h2 { color:#1aa1ff; margin-bottom:15px;}
	.lineup #headings .attn { width:360px; font-size:12px; color:#444; padding:0 0 20px 5px;}
	.lineup #headings .attn li { text-indent:-1em; padding:0 0 6px 1em;}
	.lineup #headings .week { text-align:right; padding-bottom:10px; margin-top:-5px;}
	.lineup #headings .week li { display:inline-block; vertical-align:top; margin:0 2px 15px;}
	.lineup #headings .week li a {
		display:table-cell; height:40px; font-size:20px; color:#1aa1ff; text-align:center;
		background:#fff; padding:1px 10px 0; vertical-align:middle; position:relative;
	}
	.lineup #headings .week li.small a { font-size:15px;}
	.lineup #headings .week li a:after {
		content:" "; width:0; height:0; pointer-events:none;
		position:absolute; bottom:-10px; left:50%;
		border:5px solid transparent;
		border-top-color:#1aa1ff;
		border-width:7px 5px 0 5px;
		margin-left:-5px; opacity:0;
		-webkit-transition:all 0.18s; -moz-transition:all 0.18s; transition:all 0.18s;
	}
	.lineup #headings .week li a:hover { background:#1aa1ff; color:#fff;}
	.lineup #headings .week li a:hover:after { opacity:1;}
/*title*/
.lineup .comingList { padding:0 0 40px;}
	.lineup .comingList .cominghead { background:#1aa1ff; padding:9px 0 4px;}
	.lineup .comingList .cominghead h2 { font-size:20px; color:#fff; margin-bottom:0;}
	.lineup .comingList h2:before {
		content:""; display:inline-block; width:30px; height:30px;
		background:url(../img/icon_coming.png) no-repeat 0 0;
		background-size:30px auto;
		vertical-align:middle; margin:-5px 10px 0 0;
	}
	.lineup .comingList h2 span { font-size:12px; color:#fff;}
	.lineup .comingList .none { background:#fff; padding:60px 0;}
	.lineup .comingList .none p { font-size:17px; text-align:center; line-height:1.6;}
.lineup .lineupList { border-bottom:1px solid #bbb;}
	.lineup .lineupList h3 { font-size:18px; color:#fff; line-height:36px; background:#262626;}
	.lineup .lineupList h3 span { display:block; padding-left:5px;}
/*list*/
.lineup #contents .comingList .list li { background:#fff; border-bottom:1px solid #ddd;}
.lineup #contents .lineupList .list li { border-bottom:1px solid #bbb;}
.lineup #contents .lineupList .list li:last-child { border-bottom:none;}
	.lineup #contents .list li a { display:block; width:100%;}
	.lineup #contents .list li a:hover { background:#fff;}
	.lineup #contents .list li a:not([href]) { background:transparent; cursor:default;}
	.lineup #contents .list li a .inner { display:table; width:1000px; table-layout:fixed; padding:8px 0; margin:0 auto;}
	.lineup #contents .list li a .inner > div { display:table-cell; vertical-align:middle;}
	.lineup #contents .list li .time { width:100px; font-size:18px; text-align:center; padding-right:10px;}
	.lineup #contents .list li .time .tv.sizeM { position:static; background-color:transparent; margin:0 auto;}
	.lineup #contents .list li .time .tv.sizeM:after { display:none;}
	.lineup #contents .list li .title { padding:0 20px;}
	.lineup #contents .list li .title .bangumi {
		display:block; width:100%; max-height:48px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
		font-size:18px; line-height:1.35;
	}
	.lineup #contents .list li .title .onair { display:block; font-size:12px; color:#666; margin-top:5px;}
	.lineup #contents .list li .pic {
		width:120px; height:68px;
		position:relative; z-index:1;
	}
	.lineup #contents .list li .pic span {
		display:inline-block; width:120px; height:68px; text-indent:-9999px;
		position:relative; overflow:hidden; z-index:-1;
		background-color:#e0e0e4;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
	}
	.lineup #contents .list li .flag { margin-top:8px;}
	.lineup #contents .list li .flag .coming { display:inline-block; font-size:12px; color:#1aa1ff; padding-right:0.5em;}
	.lineup #contents .list li .flag .coming:before {
		content:""; display:inline-block; width:18px; height:18px;
		background:url(../img/icon_coming.png) no-repeat 0 -21px;
		background-size:18px auto;
		vertical-align:middle; margin:-3px 2px 0 0;
	}
	.lineup #contents .list li .delivery { font-size:13px; color:#e31e1e;}

/*@detail
//////////////////////////////////////////////////////*/
.detail #headings1 { min-height:274px; background:url(../img/bg.jpg); border-bottom:1px solid #ddd;}
	.detail #headings1 .inner { width:980px;}
	.detail #headings1 .pic { overflow:hidden; position:absolute; top:0; text-align:center;}
	.detail #headings1 .pic span {
		display:block; width:100%; height:100%; text-indent:-9999px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
	}
	.detail.bangumi #headings1 .pic { width:485px; height:273px; right:0;}
	.detail.bangumi #headings1 .program { width:490px; line-height:1.35; padding:30px 0 10px;}
	.detail.bangumi #headings1 .program h1 { padding-top:10px;}

.detail #headings2 { background:#262626 url(../img/bg2.png) center 0;}
	.detail #headings2 .inner { width:980px; padding:25px 0 35px;}
	/*再生*/
	.detail #headings2 .player_,
	.detail #headings2 .player { width:850px; margin:0 auto;}
	.detail #headings2 .playerIn { min-height:480px; position:relative;}
	.detail #headings2 .playerIn#movie_player { min-height:545px;}
	.detail #headings2 .playerIn > a {
		display:block; width:100%; height:100%; position:absolute; top:0; left:0;
		background:#000; z-index:1;
	}
	.detail #headings2 .playerIn > a:after {
		content:""; display:block; width:190px; height:190px;
		background:url(../img/parts.png) no-repeat 0 -80px;
		position:absolute; top:50%; left:50%; margin:-95px 0 0 -95px;
	}
	.detail #headings2 .playerIn > a span {
		display:block; width:100%; height:100%; text-indent:-9999px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover; z-index:-1;
	}
	.detail #headings2 .playerIn > a:hover span { filter:alpha(opacity=70); opacity:0.7;}
	/*再生しますか*/
	.detail #headings2 .playerIn .how {
		width:850px; height:480px; background:#000;
		font-size:20px; color:#777; text-align:center;
	}
	.detail #headings2 .playerIn#movie_player .how { height:545px;}
	.detail #headings2 .playerIn .how p { font-size:28px; color:#fff; padding:150px 0 100px;}
	.detail #headings2 .playerIn .how a {
		font-size:20px; color:#fff; background:#222;
		border-radius:50px; padding:10px 26px; margin:0 8px;
	}
	.detail #headings2 .playerIn .how a:hover { color:#fff; background:#1aa1ff;}
	/*番組名*/
	.detail #headings2 .program {
		min-height:90px; color:#fff; line-height:1.35;
		padding:20px 0 0 180px; position:relative;
	}
	.detail #headings2 .program .tv.sizeL { position:absolute; top:20px; left:0;}
	/*配信終了*/
	.detail #headings2 .expired{ 
		text-align:center; color:#bbb; 
		font-size:160%; padding:230px 0; 
		line-height:3;
	}
	.detail #headings2 .expired a{ background:#1aa1ff;display:inline-block;color:#fff;padding:20px 60px;font-size:100%;line-height:1; }

.detail #description { background:#fff; border-bottom:1px solid #ddd;}
	.detail #description .inner { width:980px;}
	/*リンク*/
	.detail #description .link a { display:inline-block; /*vertical-align:top;*/ position:relative;}
	.detail #description .link .official {
		width:185px; height:50px; font-size:18px; text-align:center; line-height:51px;
		background:#fff; border:1px solid #262626; padding-right:7px; margin-right:10px;
	}
	.detail #description .link .official:after {
		content:""; display:block; width:20px; height:20px;
		background:url(../img/parts.png) no-repeat -120px -55px;
		position:absolute; top:50%; right:12px; margin-top:-10px;
	}
	.detail #description .link .official:hover { background:#262626; color:#fff;}
	.detail #description .link .official:hover:after { background-position:-430px -55px;}
	.detail #description .link .fb,
	.detail #description .link .tw { font-size:12px; font-weight:bold; margin:21px 0 0 20px;}
	.detail #description .link .fb { color:#3b5998;}
	.detail #description .link .tw { color:#68abdd;}
	.detail #description .link .fb:before,
	.detail #description .link .tw:before {
		content:""; display:inline-block; width:25px; height:25px;
		background:url(../img/parts.png) no-repeat;
		vertical-align:middle; margin:-2px 7px 0 0;
	}
	.detail #description .link .fb:before { background-position:-580px -170px;}
	.detail #description .link .tw:before { background-position:-610px -170px;}
	/*登録*/
	.detail #description .register { width:100%; position:absolute; top:20px; right:0;}
	.detail #description .register .regBtn {
		display:block; width:155px; height:50px; line-height:44px;
		font-size:18px; text-align:center; color:#fff;
		background:#1aa1ff; border:4px solid #1aa1ff;
		padding-right:10px; position:absolute; top:0; right:0;
	}
	.detail #description .register .regBtn:after {
		content:""; display:block; width:20px; height:20px;
		background:url(../img/parts.png) no-repeat -280px -55px;
		position:absolute; top:50%; right:16px; margin-top:-9px;
	}
	.detail #description .register .regBtn.off { color:#1aa1ff; background:#ddf1ff;}
	.detail #description .register .regBtn.off:after { background-position:-250px -55px;}
	.detail #description .register .regBtn:hover { filter:alpha(opacity=80); opacity:0.8;}
	.detail.talent #description .register .regBtn { width:200px; padding-right:25px;}
	.detail #description .register p {
		width:300px; font-size:14px; text-align:right; line-height:50px;
		white-space:nowrap; overflow:hidden;
		position:absolute; top:0; right:170px;
		display:none;
	}
	.detail #description .register p .num { display:inline-block; font-size:28px; margin-left:0.3em;}
	.detail #description .register .note {
		width:220px; font-size:11px; color:#555; line-height:1.6;
		position:absolute; top:10px; right:210px;
	}
	/*テキスト*/
	.detail #description .text { display:table-cell; width:700px; padding:40px 0 20px; vertical-align:top;}
	.detail #description .textIn { height:100px; font-size:18px; line-height:1.8; overflow:hidden; margin-bottom:20px;}
	.detail #description .textIn p { margin-bottom:30px;}
	.detail #description .textIn h2 { font-size:20px; color:#1faaff; padding:0; margin-bottom:3px;}
	/*これまでの*/
	.detail #description .bknm { display:table-cell; width:260px; padding:30px 0 0 40px; vertical-align:top;}
	.detail #description .bknm h2 { font-size:20px; padding-left:0; margin-bottom:15px;}
	.detail #description .bknm .progList { padding:0;}
	.detail #description .bknm .progList a:hover span { filter:alpha(opacity=80); opacity:0.8;}
	.detail #description .bknm p { font-size:12px; color:#555; line-height:1.2; padding:5px 45px 0 3px; position:relative;}
	.detail #description .bknm p:after {
		content:""; display:block; width:20px; height:20px;
		background:url(../img/parts.png) no-repeat -120px -55px;
		position:absolute; top:50%; right:14px; margin-top:-10px;
	}
	/*キャッチアップ*/
	.detail #description .chup { display:table-cell; width:260px; padding:25px 0 0 40px; vertical-align:top;}
	.detail #description .chup h2 { font-size:20px; padding-left:0; margin-bottom:0;}
	.detail #description .chup .progList { padding:0;}
	.detail #description .chup .progList li { margin-top:20px !important;}
	.detail #description .chup .progList li .progtitle { padding:4px 5px 0;}
	.detail #description .chup .progList a:hover span { filter:alpha(opacity=80); opacity:0.8;}

/*cast*/
.detail #cast { border-bottom:1px solid #ddd;}
/*cathup*/
.detail #cathup { width:980px; height:100%; position:absolute; top:0; left:50%; margin-left:-490px; z-index:1;}
	.detail #cathupIn { width:260px; height:100%; background:#262626; position:absolute; top:0; right:0; padding:40px 0;}
	.detail #cathup h2 { font-size:19px; color:#fff; text-align:center; margin-bottom:40px;}
/*movList*/
.detail #movList {
	height:250px; background:#262626 url(../img/bg2.png) center 0; text-align:center;
	border-bottom:1px solid #4f4f4f; padding:0; overflow:hidden;
	position:relative;
	}
	.detail #movList .slider { padding-top:35px;}
	.detail #movList .slider li { display:inline-block; width:216px; height:240px; margin:0 auto;}
/*bkLink*/
.detail .bkLink a {
	display:block; width:100%; height:46px; line-height:46px;
	font-size:18px; color:#fff; background:#1aa1ff; vertical-align:middle;
	}
	.detail .bkLink a:after {
		content:""; display:inline-block; width:20px; height:20px;
		background:url(../img/parts.png) no-repeat -180px -55px;
		vertical-align:middle; margin:-2px 0 0 5px;
	}
	.detail .bkLink a:hover { background:#008cee;}

/*sns*/
.detail #contents .snsbtn2 { text-align:center; padding:20px 0;}
	.detail #contents .snsbtn2 a {
		display:inline-block; width:310px; height:60px;
		font-size:14px; text-align:left; background:#fff;
		padding:16px 5px 0 68px; margin:0 5px 15px; position:relative;
	}
	.detail #contents .snsbtn2 a:before {
		content:""; display:block; width:40px; height:40px;
		background:url(../img/parts.png) no-repeat;
		position:absolute; top:50%; left:14px; margin-top:-20px;
	}
	.detail #contents .snsbtn2 .fb:before { background-position:-580px -80px;}
	.detail #contents .snsbtn2 .tw:before { background-position:-580px -125px;}
	.detail #contents .snsbtn2 a:hover { filter:alpha(opacity=80); opacity:0.8;}
	.detail #contents .snsbtn2 a span { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.detail #contents .snsbtn2 a .url { font-size:70%; padding-top:5px;}
	.detail #contents .snsbtn2 .line { display:none;}

/*/////////////番組詳細/////////////*/
.detail.bangumi .program h1 { font-size:28px; padding-bottom:6px;}
.detail.bangumi .program p { font-size:18px;}
.detail.bangumi .program p span { display:inline-block;}
.detail.bangumi .program p .num { font-size:22px; margin-right:1em;}
.detail.bangumi .program p .day { margin-right:1em;}
.detail.bangumi .program p .red { color:#e31e1e;}
.detail.bangumi .program p .num:empty,
.detail.bangumi .program p .day:empty { display:none;}
.detail.bangumi #description .inner { padding:20px 0;}
.detail.bangumi #contents { min-height:1000px; padding:0; position:relative;}
.detail.bangumi #contents .inner { width:720px; left:-130px; z-index:10;}
.detail.bangumi #contents .inner h2 { padding-top:40px;}

/*/////////////タレント詳細/////////////*/
.detail.talent #headings1 .inner { padding:0 150px;}
	.detail.talent #headings1 .profile { width:400px; line-height:1.35; padding-top:20px;}
	.detail.talent #headings1 .profile h1 { font-size:24px; padding:10px 0 6px;}
	.detail.talent #headings1 .pic { width:273px; height:273px; right:150px;}
	/*プロフィール*/
	.detail.talent #headings1 dl { padding:10px 0 10px 2px;}
	.detail.talent #headings1 dl:after { content:""; clear:both; display:block;}
	.detail.talent #headings1 dt { width:6em; float:left; font-size:12px; padding:5px 0;}
	.detail.talent #headings1 dd { font-size:16px; padding:3px 0 5px 6em;}
.detail.talent #description .inner { height:90px; padding-top:20px;}
.detail.talent .progList h2 { color:#262626;}

/*サムネイル*/
.bangumi .progList.video li { width:216px; min-height:180px;}
	.bangumi .progList.video li:before,
	.bangumi .progList.video li a { width:216px; height:124px;}
	.bangumi .progList.video li a:after { top:124px;}
.detail.bangumi .progList.tpc li { width:210px; min-height:250px;}
	.detail.bangumi .progList.tpc li:before,
	.detail.bangumi .progList.tpc li a { width:210px; height:157.5px;}
	.detail.bangumi .progList.tpc li a:after { top:157.5px;}
	.detail.bangumi .progList.tpc li .progtitle { font-size:15px;}
.detail #cathup .progList li { height:auto; margin:0 22px 22px;}
	.detail #cathup .progList li a:before,
	.detail #cathup .progList li a:after { display:none;}
	.detail #cathup .progList li .progtitle { color:#fff; font-size:15px;}
	.detail #cathup .progList li .sub { color:#fff;}
	.detail #cathup .progList li .sub span { font-size:15px;}
.detail #description .bknm .progList li,
.detail #description .chup .progList li { width:210px; min-height:0; margin:0;}
	.detail #description .bknm .progList li:before,
	.detail #description .bknm .progList li a,
	.detail #description .chup .progList li:before,
	.detail #description .chup .progList li a { width:210px; height:121px;}
	.detail #description .bknm .progList li a:after,
	.detail #description .chup .progList li a:after { top:121px;}
.detail #movList .progList { text-align:center; padding-bottom:0;}
	.detail #movList .progList li { width:216px; min-height:180px; text-align:left; margin-bottom:50px;}
	.detail #movList .progList li:before,
	.detail #movList .progList li a { width:216px; height:124px;}
	.detail #movList .progList li a:before,
	.detail #movList .progList li a:after { display:none;}
	.detail #movList .progList li .progtitle { color:#fff; font-size:15.5px;}
	.detail #movList .progList li .sub { color:#fff;}
	.detail #movList .progList li .sub span { font-size:15px;}

/*@info
//////////////////////////////////////////////////////*/
.info { padding-top:110px;}
.info #headings { height:50px; background:#fff; padding:0 30px; margin:24px 0 12px; position:relative;}
.info #headings h1 { width:1000px; font-size:24px; color:#1aa1ff;line-height:50px; text-align:left; margin:0 auto;}
.info #bg { padding:24px 0;}
.info #contents { background:#fff; padding-bottom:24px;}
.info #contentsIn { width:1000px; min-height:300px; color:#444; padding:10px 50px 40px; margin:0 auto;}
	.info #contentsIn h2 { font-size:22px; margin-bottom:16px;}
	.info #contentsIn h3 { font-size:18px; margin-bottom:10px;}
	.info #contentsIn p { font-size:14px; line-height:1.8; padding-bottom:20px;}
	.info #contentsIn p.none { padding-bottom:0;}
	.info #contentsIn a { border-bottom:1px solid #262626; padding-bottom:0.05em;}
	.info #contentsIn a:hover { border-color:transparent;}
	.info #contentsIn ul.indent { padding-left:0;}
	.info #contentsIn ul.indent li { list-style:none; text-indent:-1em; padding-left:1em;}
.info #contentsIn > ol { display:table; font-size:22px; padding:20px 0 20px 0;}
	.info #contentsIn > ol > li { display:table-row; counter-increment:table-ol;}
	.info #contentsIn > ol > li:after { content:""; display:block; margin-bottom:1.5em;}
	.info #contentsIn > ol > li:before {
		content:counter(table-ol) "."; display:table-cell;
		padding-right:0.6em; text-align:right;
	}
	.info #contentsIn ol ol,
	.info #contentsIn ol ul { font-size:14px; line-height:1.8; padding:0 0 20px 24px;}
	.info #contentsIn ol ol li { list-style:decimal; margin-bottom:5px;}
	.info #contentsIn ol ul li { list-style:disc; margin-bottom:5px;}
.info #contentsIn .block { font-size:14px; line-height:1.8; background:#f5f5f5; padding:24px 40px; margin-top:20px;}
	.info #contentsIn .block h3 { font-size:20px;}
	.info #contentsIn .block dl { font-size:14px; padding-bottom:20px;}
	.info #contentsIn .block dl:after { content:""; clear:both; display:block;}
	.info #contentsIn .block dt { width:7em; float:left;}
	.info #contentsIn .block dd { text-indent:-1em; padding:0 0 0 8em;}
	.info #contentsIn .block h3#tgtsmph { margin-top:20px;}
	.info #contentsIn .block h4 { font-size:16px;}
/*guide*/
.guide #contentsIn > ol { padding-top:0;}
.guide #contentsIn > ol > li:before { color:#1aa1ff;}
.guide #contentsIn > ol li.download:after { margin-bottom:3em;}
.guide #contentsIn > ol > li > h2 { position:relative; padding-bottom:10px; margin-bottom:22px;}
.guide #contentsIn > ol > li > h2:after {
	content:""; display:block; width:900px; height:2px; background:#1aa1ff;
	position:absolute; bottom:0; left:-33px;
}
/*faq*/
.faq #contentsIn h2 { font-size:24px;}
.faq #contentsIn > dl { font-size:16px; line-height:1.8; padding:10px 0 60px;}
.faq #contentsIn > dl:last-child { padding-bottom:0;}
	.faq #contentsIn > dl > dt { font-size:18px; color:#1aa1ff; padding-left:2em; margin-bottom:8px; position:relative;}
	.faq #contentsIn > dl > dd { padding-left:2.3em; margin-bottom:30px; position:relative;}
	.faq #contentsIn > dl > dt:before,
	.faq #contentsIn > dl > dd:before { display:block; font-size:22px; position:absolute; left:3px;}
	.faq #contentsIn > dl > dt:before { content:"Q"; top:-3px;}
	.faq #contentsIn > dl > dd:before { content:"A"; color:#e31e1e; top:-4px;}
.faq #contentsIn .block { font-size:16px;}
.faq #contentsIn h2 { font-size:24px;}
/*terms*/
.terms #contentsIn p { padding-bottom:40px;}
/*contact*/
.contact #contentsIn { width:600px; padding:10px 0 40px;}
.contact #contentsIn form { margin-bottom:70px;}
.contact.end #contentsIn { min-height:300px;}
.contact.end #contentsIn h2 { text-align:center;}
.contact #contentsIn form > input[type="email"] {
	width:100%; line-height:1.5; font-size:1.3em; outline:0;
	background:#fff; border:1px solid #262626; position:relative;
	-webkit-appearance:none; -moz-appearance:none; appearance:none;
	padding:10px 1em 9px; margin-bottom:20px;
	}
	.contact #contentsIn form > input[type="email"]::-webkit-input-placeholder { color:#262626; opacity:1;}
	.contact #contentsIn form > input[type="email"]::-moz-placeholder { color:#262626; opacity:1;}
	.contact #contentsIn form > input[type="email"]:-ms-input-placeholder { color:#262626;}
	.contact #contentsIn form > input[type="email"]:focus::-webkit-input-placeholder { color:#ccc;}
	.contact #contentsIn form > input[type="email"]:focus::-moz-placeholder { color:#ccc;}
	.contact #contentsIn form > input[type="email"]:focus:-ms-input-placeholder { color:#ccc;}
.selectContact { width:100%; margin-bottom:16px; position:relative;}
	.selectContact select {
		width:100%; line-height:1.5; font-size:1.3em; background:#fff;
		border:1px solid #262626; border-radius:0; outline:0;
		padding:10px 1em 14px; position:relative; cursor:pointer;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
	}
	.selectContact:after {
		content:""; display:block; width:30px; height:20px; pointer-events:none;
		background:#fff url(../img/parts.png) no-repeat -210px -53px;
		border:9px solid #fff;
		position:absolute; top:2px; right:12px;
	}
.contact form textarea {
	width:100%; height:200px; line-height:1.35; font-size:13px; background:#fff;
	border:1px solid #262626; border-radius:0; position:relative;
	-webkit-appearance:none; -moz-appearance:none; appearance:none;
	padding:10px; margin-bottom:30px;
}
.contact form button {
	display:block; width:300px; height:42px; line-height:41px; font-size:18px;
	color:#fff; background:#262626; outline:none; padding:0; cursor:pointer;
	-webkit-box-shadow:none; box-shadow:none; -webkit-appearance:none;
	border:1px solid #262626; border-radius:6px; margin:0 auto; position:relative; z-index:10;
	}
	.contact form button:hover { color:#262626; background:#fff;}
	.contact form::-moz-focus-inner { padding:0; border:0;}
/*about
.about #contentsIn { width:850px; padding:10px 0 40px;}
	.about #contentsIn h2 {
		font-size:32px; color:#1aa1ff; line-height:1.35;
		border-bottom:2px solid #1aa1ff; text-align:center;
		padding-bottom:10px; margin-bottom:22px;
	}
	.about #contentsIn p { font-size:16px;}
.about #videoplayer { width:850px; margin:15px auto 30px;}
	.about #videoplayerIn { height:0; padding-top:56.23%; position:relative;}
	.about #videoplayer iframe,
	.about #videoplayer object { width:100%; height:100%; position:absolute; top:0; left:0;}
.about .note { line-height:1.5;}
.about .note dt { position:absolute;width:3em;text-align:right;}
.about .note dd { margin:0 2em 10px 3.5em;}
*/

/*about*/
.about #headings { height:0; background:none; padding:0; margin:24px 0 0;}
.about #headings h1 { display:none;}
.about #contents { padding:0;}
	.about #contents h2 {
		font-size:32px; color:#fff; line-height:1.8; text-align:center;
		background:#1aa1ff; padding:34px 0 30px;
	}
	.about #contents h2 span { font-size:40px; color:#ff0;}
	.about .block1 .read {
		width:730px; margin:0 auto;
		font-size:16px; line-height:2; padding:30px 0;
	}
	.about .block1 ul {
		width:1000px; height:450px; margin:0 auto 36px;
		background:url(../img/about0.png) no-repeat center center;
	}
	.about .block1 ul li { display:none;}
	.about .block2 {
		min-height:570px; background:#1aa1ff;
		background:linear-gradient(to bottom,  #1aa1ff 1%,#158eff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aa1ff', endColorstr='#158eff',GradientType=0 );
	}
	.about .block2 ul { text-align:center; padding:60px 0;}
	.about .block2 ul li { display:inline-block; width:480px; vertical-align:top; color:#fff;}
	.about .block2 ul li h3 { font-size:34px; margin-bottom:30px;}
	.about .block2 ul li p { font-size:16px; margin-bottom:24px;}
	.about .block2 ul li.a1 img { width:440px; margin-left:40px;}
	.about .block2 ul li.a2 img { width:434px; margin-left:40px;}
	.about .block2 ul li.a3 img { width:427px; margin-left:26px;}
	.about .block2 ul li.a4 img { width:454px; margin-left:42px;}

/*app*/
.app #contentsIn { width:930px; padding:20px 0 30px; position:relative;}
	.app #contentsIn img.smp { display:block; width:420px; position:absolute;}
	.app #contentsIn .text { min-height:470px; padding-left:460px;}
	.app #contentsIn .text p { font-size:16px; padding-bottom:30px;}
	.app #contentsIn ul.indent li { font-size:12px; margin-bottom:5px;line-height:1.2; }
	.app #contentsIn .kakomi {
		background:#f1f1f1; border:1px solid #e3e0e0; text-align:center;
		padding:20px 20px 30px; margin-top:30px;
	}
	.app #contentsIn .kakomi h2 { font-size:20px; font-weight:bold;}
	.app #contentsIn .kakomi h2 span { color:#1aa1ff;}
	.app #contentsIn .kakomi h2 br { display:none;}
	.app #contentsIn .kakomi h2:after {
		content:""; display:inline-block; width:166px; height:32px;
		background:url(../img/parts.png) no-repeat -540px -250px;
		margin-top:20px;
	}
	.app #contentsIn .kakomi a { border:none;}
	.app #contentsIn .kakomi img { margin:0 6px;}
/*notice*/
.notice #contentsIn ul li { font-size:16px; line-height:1.5; border-top:solid 1px #ddd; padding:20px 0;}
.notice #contentsIn ul li:first-child{ border:none;}
.notice #contentsIn a { color:#444; border-color:#444;}
.notice #contentsIn li .date {
	color:#1aa1ff; font-weight:bold; font-size:12px;
	display:block; line-height:1.6; margin-bottom:3px;
}
/*notice_絞り込み*/
.notice #headings .selectBox { width:1000px; margin:0 auto; position:relative; top:-47px; z-index:100;}
.notice #headings .selectOpen {
	font-size:24px; color:#444; cursor:pointer;
	padding:10px 15px 10px 5px; position:relative;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	position:absolute; top:0; left:5.5em; z-index:100;
	}
	.notice #headings .selectOpen:before {
		content:""; display:inline-block; width:30px; height:20px; vertical-align:bottom;
		background:url(../img/parts.png) no-repeat -210px -55px; margin-right:10px;
	}
	.notice #headings .selectBox ul {
		width:200px; min-height:100px; text-align:left;
		background:rgb(255, 255, 255); background:rgba(255, 255, 255, 0.9);
		box-shadow:rgba(0, 0, 0, 0.15) 0 3px 8px;
		position:absolute; top:47px; left:135px; display:none;
	}
	/*
	.notice #headings .selectBox ul:after {
		content:" "; position:absolute; bottom:100%; left:15%;
		border:solid transparent;
		border-color:rgba(255, 255, 255, 0); border-bottom-color:#f3f3f3;
		border-width:12px; margin-left:-12px;
	}
	*/
	.notice #headings .selectBox li { height:46px; font-size:18px; line-height:46px; border-top:1px solid #f3f3f3;}
	.notice #headings .selectBox li:first-child { border-top:none;}
	.notice #headings .selectBox li a { display:block; color:#1aa1ff; padding:0 16px 0 10px;}
	.notice #headings .selectBox li a:before {
		content:""; display:inline-block; width:20px; height:20px; vertical-align:middle;
		background:url(../img/parts.png) no-repeat -380px -260px; margin:-2px 3px 0 0;
	}
	.notice #headings .selectBox li a:hover { color:#fff; background:#1aa1ff;}
	.notice #headings .selectBox li a:hover:before { background-position:-405px -260px;}

/*お知らせフラグ*/
#header .oshirase li .date span,
.notice #contentsIn .date span {
	display:inline-block; font-size:11px; color:#fff; line-height:1; vertical-align:bottom;
	border-radius:50px; padding:4px 10px; background:#ccc; margin-right:10px;
	}
	#header .oshirase li .date.red, .notice #contentsIn .date.red { color:#f03e34;}
	#header .oshirase li .date.blue, .notice #contentsIn .date.blue { color:#1aa1ff;}
	#header .oshirase li .date.gray, .notice #contentsIn .date.gray { color:#7c7c8c;}
	#header .oshirase li .date.red span, .notice #contentsIn .date.red span { background:#f03e34;}
	#header .oshirase li .date.blue span, .notice #contentsIn .date.blue span { background:#1aa1ff;}
	#header .oshirase li .date.gray span, .notice #contentsIn .date.gray span { background:#7c7c8c;}

/*notice_詳細*/
.notice.detail #contentsIn .date { font-weight:bold; margin-bottom:10px;}
.notice.detail #contentsIn .date span { vertical-align:middle; margin-top:-3px;}
.notice.detail #contentsIn h2 {
	line-height:1.5; border-bottom:3px solid #1aa1ff;
	padding-bottom:10px; margin-bottom:30px;
}
.notice.detail #contentsIn p { font-size:15px;}
.notice.detail .back { font-size:14px; text-align:center;}
.notice.detail .back span:before {
	content:""; display:inline-block; width:20px; height:20px; vertical-align:middle;
	background:url(../img/parts.png) no-repeat -505px -260px; margin:-2px 3px 0 0;
	filter:alpha(opacity=80); opacity:0.8;
}
.notice.detail #contentsIn .back { padding-top:40px;}
.notice.detail #headings .back { width:1000px; position:absolute; top:0; left:50%; margin-left:-500px;}
.notice.detail #headings .back span { display:block; position:absolute; top:20px; left:8em; z-index:100;}
.notice.detail #headings .back a { color:#444;}

.notice .rellink{}
.notice .rellink a{
	display:block;
	border:solid 1px #c9c9c9 !important;
	padding:10px 10px 10px 26px !important;
	border-radius:6px;
	background:#fff url(/img/arr.png) 5px center no-repeat;
	background-size:auto 18px;
	color:#333;
	text-decoration:none;
	margin-top:10px;
	font-size:110%;
}
.notice .rellink a:hover{ background-color:#fcfcfc; }

/*mailmagazine*/
.mailmagazine #contentsIn { text-align:center; padding:40px 0 30px; position:relative; margin:0 auto;}
	.mailmagazine #contentsIn > p { font-size:18px;}
	.mailmagazine #contentsIn > p.note { width:600px; font-size:13px; text-align:left; margin:0 auto;}
	.mailmagazine #form { width:600px; padding:10px 0 30px; margin:0 auto;}
	.mailmagazine #form .msg { font-size:16px; padding:20px; display:none;}
	.mailmagazine #form input[type="email"] {
		width:100%; line-height:1.5; font-size:1.3em; outline:0;
		background:#fff; border:3px solid #1aa1ff; border-radius:5px; position:relative;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		padding:8px 1em; margin-bottom:20px;
	}
	.mailmagazine #form input[type="email"]::-webkit-input-placeholder { color:#3daaf6; opacity:1;}
	.mailmagazine #form input[type="email"]::-moz-placeholder { color:#3daaf6; opacity:1;}
	.mailmagazine #form input[type="email"]:-ms-input-placeholder { color:#3daaf6;}
	.mailmagazine #form input[type="email"]:focus::-webkit-input-placeholder { color:#ccc;}
	.mailmagazine #form input[type="email"]:focus::-moz-placeholder { color:#ccc;}
	.mailmagazine #form input[type="email"]:focus:-ms-input-placeholder { color:#ccc;}
	.mailmagazine #form button {
		display:inline-block; width:200px; height:42px; line-height:41px; font-size:18px;
		color:#fff; background:#1aa1ff; outline:none; padding:0; cursor:pointer;
		-webkit-box-shadow:none; box-shadow:none;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		border:none; border-radius:6px; margin:0 auto; position:relative; z-index:10;
	}
	.mailmagazine #form button:hover { background:#006bb5;}
	.mailmagazine form::-moz-focus-inner { padding:0; border:0;}
	/*loader*/
	.loader { padding-top:12px;}
	.loader img { display:block; width:230px; margin:0 auto;}
	.success {
		text-align:center;
		font-size:18px; border-radius:4px; padding:10px 0; margin:0 auto;
	}
	#form .msg{ font-size:18px; color:#e00; }

/*browserNA*/
#browserNA{ background:#3c3c3c;color:#fff;display:none;padding:20px;vertical-align:middle;font-size:120%; }
#browserNA a{ color:#1aa1ff;background:url(../img/arr_ie8.png) right center no-repeat;display:inline-block;padding-right:20px;white-space:nowrap }
#browserNA a:hover{ text-decoration:underline; }
body.browserNA{ padding-top:0; }
body.browserNA #header{ position:static; }
body.browserNA #bg{ padding:0; }

/*transition*/
.progList.normal li a span,
.progList.video li a span:before,
.progList.tpc li a span,
.progList.cast li a span,
.progList_line li a .pic,
.detail #description .bknm .progList span,
.detail #headings2 .player span,
.contact form button,
.search .searchIn li,
.search .searchArea button { -webkit-transition:all 0.2s; -moz-transition:all 0.2s; transition:all 0.2s;}


/*＠Slider
//////////////////////////////////////////////////////*/
.bx-wrapper { /*position:relative;*/ margin:0 auto 60px; padding:0; *zoom:1; -ms-touch-action:pan-y; touch-action:pan-y;}
.bx-wrapper img { max-width:100%; display:block;}
.bxslider { margin:0; padding:0;}
.bx-viewport { -webkit-transform:translatez(0);}
/*左右ボタン*/
.bx-wrapper .bx-controls-direction a {
	width:60px; height:70px; text-indent:-9999px;
	position:absolute; top:65px; z-index:999;
	}
	.bx-wrapper .bx-prev { left:0;}
	.bx-wrapper .bx-next { right:0;}
	.bx-wrapper .bx-controls-direction a:before {
		content:""; display:block; width:60px; height:70px;
		background:rgb(26, 161, 255); background:rgba(26, 161, 255, 0.8);
		position:absolute; top:0; left:0;
		-webkit-transition:all 0.15s ease; -moz-transition:all 0.15s ease; transition:all 0.15s ease;
	}
	.bx-wrapper .bx-controls-direction a:after {
		content:""; display:block; width:40px; height:50px;
		background:url(../img/parts.png) no-repeat;
		position:absolute; top:10px;
	}
	.bx-wrapper .bx-controls-direction .bx-prev:after { background-position:-640px 0; left:8px;}
	.bx-wrapper .bx-controls-direction .bx-next:after { background-position:-640px -60px; left:12px;}
	.bx-wrapper .bx-controls-direction .bx-prev:before { border-radius:0 6px 6px 0;}
	.bx-wrapper .bx-controls-direction .bx-next:before { border-radius:6px 0 0 6px;}
	.bx-wrapper .bx-controls-direction a:hover:before { filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
	
.bx-wrapper .bx-controls-direction a.disabled { display:none;}
/*none*/
.bx-wrapper .bx-pager { display:none;}
.bx-wrapper .bx-pager-item { display:none;}
.bx-wrapper .bx-controls-auto { display:none;}
.bx-wrapper .bx-caption { display:none;}


/*＠Overlay
///////////////////////////////////////////////////////*/
.mfp-bg {
	width:100%; height:100%; background:#000;
	position:fixed; top:0; left:0; z-index:1042; overflow:hidden;
	opacity:0.3; filter:alpha(opacity=0.3);
}
.mfp-wrap {
	width:100%; height:100%; position:fixed; top:0; left:0; z-index:1043;
	outline:none !important; -webkit-backface-visibility:hidden;
}
.mfp-container {
	width:100%; height:100%; text-align:center;
	position:absolute; top:0; left:0;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.mfp-container:before { content:''; display:inline-block; height:100%; vertical-align:middle;}
.mfp-align-top .mfp-container:before { display:none;}
.mfp-content { width:100%; position:relative; display:inline-block; text-align:left; vertical-align:middle; margin:0 auto; z-index:1045;}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content { width:100%; cursor:auto;}
.mfp-ajax-cur { cursor:progress;}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor:-moz-zoom-out; cursor:-webkit-zoom-out; cursor:zoom-out;}
.mfp-zoom { cursor:pointer; cursor:-webkit-zoom-in; cursor:-moz-zoom-in; cursor:zoom-in;}
.mfp-auto-cursor .mfp-content { cursor:auto;}
.mfp-close, .mfp-arrow,
.mfp-preloader,
.mfp-counter { -webkit-user-select:none; -moz-user-select:none; user-select:none;}
.mfp-loading.mfp-figure { display:none;}
.mfp-hide { display:none !important;}
.mfp-preloader {
	position:absolute; top:50%; left:8px; right:8px; z-index:1044;
	width:auto; text-align:center; color:#ccc; margin-top:-0.8em;
	}
	.mfp-preloader a { color:#ccc;}
	.mfp-preloader a:hover { color:#fff;}
	.mfp-s-ready .mfp-preloader { display:none;}
.mfp-s-error .mfp-content { display:none;}
/*close/arrow*/
button.mfp-close, button.mfp-arrow {
	display:block; overflow:visible; cursor:pointer; border:0; outline:none;
	padding:0; text-indent:-9999px; z-index:1046;
	-webkit-box-shadow:none; box-shadow:none; -webkit-appearance:none;
	}
	button::-moz-focus-inner { padding:0; border:0;}
	/*close*/
	button.mfp-close {
		position:absolute; bottom:-30px; left:50%; z-index:1046;
	}
/*counter*/
.mfp-counter {display:none;}
/*IE*/
.mfp-ie7 .mfp-img { padding:0;}
.mfp-ie7 .mfp-bottom-bar { width:600px; left:50%; margin-left:-300px; margin-top:5px; padding-bottom:5px;}
.mfp-ie7 .mfp-container { padding:0;}
.mfp-ie7 .mfp-content { padding-top:44px;}
.mfp-ie7 .mfp-close { padding-top:0;}

/*///////////animation///////////*/
.mfp-zoom-in .mfp-content,
.mfp-zoom-in .mfp-arrow {
	opacity:0;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	-ms-transform:scale(0.8);
	-o-transform:scale(0.8);
	transform:scale(0.8);
}
.mfp-zoom-in.mfp-ready .mfp-content,
.mfp-zoom-in.mfp-ready .mfp-arrow {
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.mfp-zoom-in.mfp-removing .mfp-content,
.mfp-zoom-in.mfp-removing .mfp-arrow {
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	-ms-transform:scale(0.8);
	-o-transform:scale(0.8);
	transform:scale(0.8);
	opacity:0;
}
/*bg*/
.mfp-zoom-in.mfp-bg {
	opacity:0;
	-webkit-transition:opacity 0.3s ease-out;
	-moz-transition:opacity 0.3s ease-out;
	-o-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready.mfp-bg { opacity:0.3;}
.mfp-zoom-in.mfp-removing.mfp-bg { opacity:0;}

/*/////////////mailmagazine/////////////*/
/*
#mailmagazine {
	width:700px; background:#fff; text-align:center;
	padding-bottom:30px; position:relative; margin:0 auto;
	}
	#mailmagazine h1 { font-size:24px; color:#fff; background:#1aa1ff; padding:16px;}
	#mailmagazine > p { font-size:18px; padding:40px 10px 20px;}
	#mailmagazine > p br { display:none;}
	#mailmagazine #form { padding-bottom:30px;}
	#mailmagazine .msg { font-size:16px; padding:20px; display:none;}
	#mailmagazine input[type="email"] {
		width:400px; height:44px; line-height:42px; font-size:1.3em; outline:0;
		background:#fff; border:solid 3px #1aa1ff; border-radius:5px; position:relative;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		padding:0 1em; margin-right:5px;
	}
	#mailmagazine input[type="email"]::-webkit-input-placeholder { color:#3daaf6; opacity:1;}
	#mailmagazine input[type="email"]::-moz-placeholder { color:#3daaf6; opacity:1;}
	#mailmagazine input[type="email"]:-ms-input-placeholder { color:#3daaf6;}
	#mailmagazine input[type="email"]:focus::-webkit-input-placeholder { color:#ccc;}
	#mailmagazine input[type="email"]:focus::-moz-placeholder { color:#ccc;}
	#mailmagazine input[type="email"]:focus:-ms-input-placeholder { color:#ccc;}
	#mailmagazine .btn {
		display:inline-block; width:80px; height:42px; line-height:41px; font-size:18px;
		color:#fff; background:#1aa1ff; outline:none; padding:0; cursor:pointer;
		-webkit-box-shadow:none; box-shadow:none;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		border:none; border-radius:5px;
	}
	#mailmagazine .btn:hover { background:#006bb5;}
*/
.contact form button {
	display:block; width:300px; height:42px; line-height:41px; font-size:18px;
	color:#fff; background:#262626; outline:none; padding:0; cursor:pointer;
	-webkit-box-shadow:none; box-shadow:none; -webkit-appearance:none;
	border:1px solid #262626; border-radius:6px; margin:0 auto; position:relative; z-index:10;
	}
	.contact form button:hover { color:#262626; background:#fff;}
	.contact form::-moz-focus-inner { padding:0; border:0;}

/*＠TOP Overlay
///////////////////////////////////////////////////////*/
#overlaybg {
	width:100%; height:100%;
	position:fixed; top:0; left:0; z-index:1042;
	overflow:hidden;
	background:rgba(0, 0, 0, 0.8);
}
#overlay {
	width:100%; height:100%; text-align:center;
	position:absolute; top:0; left:0; z-index:1043;
	outline:none !important; -webkit-backface-visibility:hidden;
}
/*
#overlaycontainer {
	width:100%; height:100%; text-align:center;
	position:absolute; top:0; left:0;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
#overlaycontainer:before { content:''; display:inline-block; height:100%; vertical-align:middle;}
*/
#overlay .inbox {
	width:800px; display:block;
	position:absolute; top:50%; left:50%; z-index:1045;
	margin:-370px 0 0 -400px;
	/*display:inline-block; vertical-align:middle;
	margin:40px auto; position:relative; z-index:1045;*/
}
@media screen and (max-height:880px) {
	#overlay .inbox { top:0; margin-top:40px;}
}
/*btn*/
#overlay .btn {
	display:inline-block; width:380px; height:48px; line-height:50px;
	font-size:24px; font-weight:bold; color:#204469; cursor:pointer;
	background:#fff; border-radius:10px; position:relative;
	}
	#overlay .btn:after {
		content:""; display:block; width:12px; height:12px;
		border-top:2px solid #204469; border-right:2px solid #204469;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		position:absolute; top:50%; right:40px; margin-top:-6px;
	}
	#overlay .btn:hover { color:#fff; background:#1aa1ff;}
	#overlay .btn:hover:after { border-color:#fff;}
#overlay .close {
	display:inline-block; width:50px; height:50px;
	text-indent:-9999px; cursor:pointer;
	background:url(../img/close.png) no-repeat;
	background-size:contain;
	position:absolute; top:-26px; right:-24px;
}
/*checkbox*/
#overlay .ckbtn { padding:20px 0 20px 10px; position:relative;}
#overlay input[type=checkbox] { display:inline-block; margin-right:6px;}
#overlay input[type=checkbox] + label {
	display:inline-block; font-size:16px; font-weight:bold; color:#fff; line-height:30px;
	margin-right:12px; position:relative; cursor:pointer;
}
@media (min-width:1px) {
	#overlay input[type=checkbox] { display:none; margin:0;}
	#overlay input[type=checkbox] + label { padding:0 0 0 30px;}
	#overlay input[type=checkbox] + label::before {
		content:""; display:block; width:20px; height:20px;
		background:#fff; border-radius:5px;
		position:absolute; top:50%; left:0; margin-top:-10px;
	}
	#overlay input[type=checkbox]:checked + label::before { background:#1aa1ff;}
	#overlay input[type=checkbox]:checked + label::after {
		content:""; display:block; width:10px; height:5px;
		position:absolute; top:50%; left:4px; margin-top:-5px;
		border-left:2px solid #fff; border-bottom:2px solid #fff;
		-webkit-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
}
#overlaybg,#overlay{display:none;}

/*/////////////campaign/////////////*/
#campaign h1 {
	width:800px; height:615px; text-indent:-9999px;
	margin-bottom:20px; cursor:pointer;
}