@charset "utf-8";
/*/////////////////////////////////////////////////////////////////////////
TVer (max-width:720px)
/////////////////////////////////////////////////////////////////////////*/
* { margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
html, body { height:100%;}
body { text-align:center; font:13px/1.231 sans-serif; font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif; *font-size:small; *font:x-small;}
h1, h2, h3, h4, h5, h6, table, caption, thead, tr, th, td, form { font-size:100%;}
article, aside, footer, header, nav, section { display:block;}
a,embed,object { outline:none;}
img { border:none; box-sizing:content-box; -webkit-box-sizing:content-box; -moz-box-sizing:content-box;}
hr { display:none;}
li { list-style:none;}
.alt { position:absolute; top:-5000px; left:-9999px; text-align:left;}
.clearfix:after { content:""; clear:both; display:block;}
a { color:#262626; text-decoration:none; -webkit-transition:all 0.18s; -moz-transition:all 0.18s; transition:all 0.18s;}

/*@common
//////////////////////////////////////////////////////*/
body {
	background:url(../img/bg.jpg); color:#262626;
	line-height:1; -webkit-text-size-adjust:100%;
}
#contents { text-align:left; padding-top:20px; position:relative;}
#contents h2 { font-size:20px; font-weight:normal; padding:0 12px; margin-bottom:12px;}
.credit { font-size:70%; color:#909090; line-height:1.5; padding:12px;}
.mask { width:100%; height:100%; position:fixed; top:0; left:0; opacity:0;}
h1,h2,h3,h4,h5 { font-weight:normal;}

/*header*/
#header { height:44px; text-align:left; background:#fff; border-bottom:1px solid #ddd; position:relative;}
	/*title*/
	#header a { color:#1aa1ff;}
	#header h1 { width:70px; height:44px; margin:0 auto;}
	.idx #header h1 { text-indent:-9999px;}
	#header h1 a { display:block; width:70px; height:44px; text-indent:-9999px; position:relative; z-index:1010;}
	#header h1:before {
		content:""; display:block; width:50px; height:44px;
		background:url(../img/smp_parts.png) no-repeat 0 0;
		background-size:340px auto;
		position:absolute; top:0; left:50%; margin-left:-20px;
	}
	#header h1:after {
		content:""; display:block; width:105px; height:10px;
		background:url(../img/smp_parts.png) no-repeat -110px 0;
		background-size:340px auto;
		position:absolute; top:18px; left:10px;
	}
	#header .m0 { display:none;}
	/*お知らせ*/
	#header .oshirase{
		width:100%; text-align:center;
		position:absolute; top:0; left:0; z-index:1000;
		display:none;
	}
	#header .oshirase > a {
		display:inline-block; width:45px; height:43px;
		cursor:pointer; margin-left:114px; position:relative;
	}
	#header .oshirase h2 {
		display:block; width:30px; height:19px; text-indent:-9999px;
		background:url(../img/smp_parts.png) no-repeat -170px -140px;
		background-size:340px auto;
		position:absolute; top:15px; left:0; z-index:1001;
	}
	#header .oshirase > a span {
		display:inline-block; width:10px; height:10px; text-indent:-9999px;
		position:absolute; right:10px; top:10px; z-index:1002;
		background:#f03e34; border:1px solid #fff; border-radius:50%;
	}
	#header .oshirase > a span.hasread {
		text-indent:-9999px; background:none; border:none;
	}
	#header .oshirase > .none span { display:none;}
	#header .oshirase > .active span {
		display:inline-block !important; text-indent:-9999px;
		background:none; border-radius:0;
		border:none; top:7px; left:24px;
	}
	#header .oshirase > .active span:before,
	#header .oshirase > .active span:after {
		content:""; display:block; width:12px; height:1px;
		background:#b2b2b2;
		position:absolute; top:8px; left:7px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	}
	#header .oshirase > .active span:after {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	#header .oshirase .oshiraseIn {
		display:block; width:300px; position:relative;
		text-align:left; padding:10px 20px; margin:6px auto 0;
		background:rgb(255, 255, 255); background:rgba(255, 255, 255, 1);
		border:solid 2px #cbcbcb; border-radius:10px;
		box-shadow:rgba(0, 0, 0, 0.15) 0 2px 8px;
		display:none;
		}
		#header .oshirase .oshiraseIn:after, #header .oshirase .oshiraseIn:before {
			content:" "; width:0; height:0;
			position:absolute; left:208px; bottom:100%;
			border:solid transparent;
			pointer-events:none;
		}
		#header .oshirase .oshiraseIn:after {
			border-color:rgba(255, 255, 255, 0);
			border-bottom-color:#fff;
			border-width:12px;
			margin-left:-12px;
		}
		#header .oshirase .oshiraseIn:before {
			border-color:rgba(203, 203, 203, 0);
			border-bottom-color:#cbcbcb;
			border-width:15px;
			margin-left:-15px;
		}
		#header .oshirase .oshiraseIn > a {
			display:block; height:34px; font-size:14px; color:#fff;
			text-align:center; line-height:34px; background:#1aa1ff;
			border-radius:6px; margin-bottom:5px;
		}
		#header .oshirase ul li { font-size:13px; line-height:1.5; border-top:solid 1px #ddd;padding:10px 0;}
		#header .oshirase ul li:first-child{ border:none;}
		#header .oshirase ul li a { color:#262626; text-decoration:underline;}
		#header .oshirase ul li a:hover { text-decoration:none;}
		#header .oshirase li .date{
			color:#1aa1ff; font-weight:bold; font-size:12px;
			display:block; line-height:1.6; margin-bottom:3px;
		}
		/*close*/
		#header .oshirase .oshiraseIn .close {
			display:block; width:40px; height:40px; text-indent:-9999px;
			background:none; cursor:pointer; opacity:0.4;
			position:absolute; top:0; right:0;
		}
		#header .oshirase .oshiraseIn .close:after {
			content:""; display:block; width:15px; height:15px;
			background:url(../img/smp_parts.png) no-repeat -83px -20px;
			background-size:340px auto;
			position:absolute; top:50%; left:50%; margin:-7.5px 0 0 -7.5px;
		}
	#header .oshirase.disp{ display:inline-block;}
	/*sns*/
	#header .snsbtn { position:absolute; top:60px; right:10px; z-index:999; display:none;}
	#header .snsbtn a {
		display:inline-block; width:28px; height:28px;
		background:url(../img/smp_parts.png) no-repeat;
		background-size:340px auto; text-indent:-9999px;
		margin:0 6px;
	}
	#header .snsbtn .fb { background-position:-245px -65px;}
	#header .snsbtn .tw { background-position:-275px -65px;}
	.detail.bangumi #header .snsbtn,
	.detail.talent #header .snsbtn,
	.epg #header .snsbtn,
	.detail.bangumi #footer .snsbtn,
	.detail.talent #footer .snsbtn,
	.epg #footer .snsbtn { display:none;}
	/*menu*/
	#menu h2 {
		width:60px; height:44px; text-indent:-9999px;
		position:absolute; top:0; right:10px; z-index:1010; cursor:pointer;
	}
	#menu h2:after {
		content:""; display:block; width:60px; height:15px;
		background:url(../img/smp_parts.png) no-repeat -45px 0;
		background-size:340px auto;
		position:absolute; top:50%; left:0; margin-top:-7.5px;
	}
	#menu h2.active:after { background-position:-45px -20px;}
	#menu > ul {
		width:230px; background:rgba(38, 38, 38, 0.95); padding:8px 0 10px;
		position:absolute; top:44px; right:0; z-index:1010; display:none;
	}
	#menu ul a {
		display:block; height:37px; font-size:15px; color:#dedfe2; line-height:37px;
		padding:0 10px 0 48px; position:relative;
	}
	#menu ul a:before {
		content:""; display:block; width:15px; height:15px;
		background:url(../img/smp_parts.png) no-repeat -305px -15px;
		background-size:340px auto;
		position:absolute; top:50%; left:20px; margin-top:-7.5px;
	}
	#menu ul li.m6 > a:before { background-position:-325px -15px;}
	#menu ul li.m7 a:before { background-position:-305px -35px;}
	#menu ul li.m8 a:before { background-position:-325px -35px;}
	#menu ul li.m9 a:before { background-position:-305px -55px;}
	#menu ul li.m10 a:before { width:18px; height:18px; background-position:-305px -75px; margin-top:-9px;}
	#menu ul li.m11 a:before { background-position:-100px -50px;}
	#menu_carpet{display:none;}
	#menu_carpet.active{
		background:rgba(38, 38, 38, 0.1);
		width:100%; position:absolute; top:0;
		z-index:1005;display:block;
	}
	#menu .mlist li a:before { background-position:-325px -70px;}
	#menu ul li.m6 {
		border-top:1px solid rgba(91, 91, 91, 0.5);
		border-bottom:1px solid rgba(91, 91, 91, 0.5);
		margin:6px 0; padding:6px 0;
	}
#header #coming{position:relative;z-index:5;}
#header #coming a{
	background:#3c3c3c;
	color:#fff;
	font-size:100%;
	display:inline-block;
	border-radius:0 0 5px 5px;
	padding:10px 9px 9px 29px;
	position:absolute;
	right:10px; top:0px;
	}
	#header #coming a:before {
		content:""; display:block; width:22px; height:22px;
		background:url(../img/icon_coming.png) no-repeat;
		background-size:22px auto;
		position:absolute; top:5px; left:5px;
	}
#header .lineup{position:relative;z-index:5;}
#header .lineup a{
	display:inline-block; color:#fff;
	background:#3c3c3c;
	border-radius:0 0 5px 5px;
	padding:10px 9px 9px 8px;
	position:absolute; right:10px; top:0px;
	}
	#header .lineup a span { display:inline-block; padding-left:24px; position:relative;}
	#header .lineup a .icon1 { padding-right:10px;}
	#header .lineup a span:before {
		content:""; display:inline-block; width:22px; height:22px;
		background:transparent no-repeat 0 0;
		background-size:22px auto;
		position:absolute; top:-5px; left:0;
	}
	#header .lineup a .icon1:before { background-image:url(../img/icon_lineup.png);}
	#header .lineup a .icon2:before { background-image:url(../img/icon_coming.png); left:-1px;}


/*footer*/
#footer li { display:inline-block; vertical-align:top;}
#footer .f1 { background:#fff; padding:16px 0;}
	#footer .f1 ul { font-size:0;}
	#footer .f1 li { margin:5px 10px;}
	#footer .f1 li a {
		display:inline-block; width:85px; height:42.5px; text-indent:-9999px;
		background:#fff url(../img/icon_vod.png) no-repeat;
		background-size:445px auto;
	}
	#footer .f1 li.t1 a { background-position:0 0;}
	#footer .f1 li.t2 a { background-position:-90px 0;}
	#footer .f1 li.t3 a { background-position:-180px 0;}
	#footer .f1 li.t4 a { background-position:-270px 0;}
	#footer .f1 li.t5 a { background-position:-360px 0;}
	#footer .f1 li.t6 a { background-position:0 -135px;}
	#footer .f1 li.t7 a { background-position:-90px -135px;}
#footer .f2 { background:#2d2d2d; padding:20px 0; position:relative;}
	#footer .f2 a { color:#fff;}
	#footer .f2 .officialLink { font-size:0; padding-bottom:0;}
	#footer .f2 .officialLink li { width:17%; margin:0 0.6%;}
	#footer .f2 .officialLink li a {
		display:block; width:100%; height:30px; text-indent:-9999px;
		background:#fff; position:relative;
		border-radius:1px;
	}
	#footer .f2 .officialLink li a:before {
		content:""; display:block; width:55px; height:30px;
		position:absolute; top:0; left:50%; margin-left:-27.5px;
		background:url(../img/smp_parts.png) no-repeat;
		background-size:340px auto;
	}
	#footer .f2 .officialLink li.t1 a:before { background-position:0 -105px;}
	#footer .f2 .officialLink li.t2 a:before { background-position:-60px -105px;}
	#footer .f2 .officialLink li.t3 a:before { background-position:-120px -105px;}
	#footer .f2 .officialLink li.t4 a:before { background-position:-180px -105px;}
	#footer .f2 .officialLink li.t5 a:before { background-position:-240px -105px;}
	#footer .f2 .officialLink li.t6 { width:190px; margin:10px 0 0;}
	#footer .f2 .officialLink li.t6 a { height:40px; background:#00a5ff;}
	#footer .f2 .officialLink li.t6 a:before { width:165px; background-position:0 -140px; top:5px; margin-left:-82.5px;}
	#footer .f2 .officialLink li.snsbtn { width:90px; margin:10px 0 0 15px;}
	#footer .f2 .officialLink li.snsbtn a {
		display:inline-block; width:28px; height:28px;
		background:url(../img/smp_parts.png) no-repeat;
		background-size:340px auto; text-indent:-9999px;
		margin:6px 8px 0;
	}
	#footer .f2 .officialLink li.snsbtn .fb { background-position:-245px -65px;}
	#footer .f2 .officialLink li.snsbtn .tw { background-position:-275px -65px;}
	#footer .f2 .officialLink li.snsbtn a:before { display:none;}
	
	#footer .f2 .txtLink { font-size:0; text-align:left; padding:24px 16px 32px; margin:0 auto;}
	#footer .f2 .txtLink li { width:33%; font-size:10px; line-height:1.5; margin:2px 0;}
	#footer .f2 .txtLink li:nth-child(7) { width:50%;}
	#footer .f2 .txtLink li a { display:block; width:100%; padding:5px 0 5px 15px; position:relative;}
	#footer .f2 .txtLink li a:before {
		content:""; display:block; width:10px; height:10px;
		background:url(../img/smp_parts.png) no-repeat -325px -55px;
		background-size:340px auto;
		position:absolute; top:50%; left:0; margin-top:-5px;
	}
	#footer .f2 .copyright { font-size:50%; color:#ccc;padding:0 10px; font-family:helvetica; }

/*ptop*/
#ptop { display:none; position:fixed; bottom:28px; right:10px; z-index:1010;}
	#ptop a {
		display:block; width:50px; height:35px; text-indent:-9999px;
		background:rgb(26, 161, 255); background:rgba(26, 161, 255, 0.8); position:relative;
	}
	#ptop a:before {
		content:""; display:block; width:20px; height:15px;
		background:url(../img/smp_parts.png) no-repeat -70px -80px;
		background-size:340px auto;
		position:absolute; top:50%; left:50%; margin:-7.5px 0 0 -10px;
	}

/*tv_icon*/
.tv {
	background:#fff url(../img/icon_vod.png) no-repeat;
	background-size:445px auto; text-indent:-9999px; z-index:10;
	display:none;
	}
	/*L*/
	.tv.sizeL { width:75px; height:37.5px; display:block;}
	.tv.sizeL.ntv { background-position:0 -45px;}
	.tv.sizeL.ex { background-position:-80px -45px;}
	.tv.sizeL.tbs { background-position:-160px -45px;}
	.tv.sizeL.tx { background-position:-240px -45px;}
	.tv.sizeL.cx { background-position:-320px -45px;}
	.tv.sizeL.mbs { background-position:-180px -135px;}
	.tv.sizeL.abc { background-position:-260px -135px;}
	/*M*/
	.tv.sizeM { width:75px; height:37.5px; position:absolute; top:-12px; left:16px; display:block;}
	.tv.sizeM.ntv { background-position:0 -45px;}
	.tv.sizeM.ex { background-position:-80px -45px;}
	.tv.sizeM.tbs { background-position:-160px -45px;}
	.tv.sizeM.tx { background-position:-240px -45px;}
	.tv.sizeM.cx { background-position:-320px -45px;}
	.tv.sizeM.mbs { background-position:-180px -135px;}
	.tv.sizeM.abc { background-position:-260px -135px;}
	/*S*/
	.tv.sizeS { width:42.5px; height:21.5px; position:absolute; top:-10px; left:14px; display:block;}
	.tv.sizeS.ntv { background-position:0 -85px;}
	.tv.sizeS.ex { background-position:-47.5px -85px;}
	.tv.sizeS.tbs { background-position:-95px -85px;}
	.tv.sizeS.tx { background-position:-142.5px -85px;}
	.tv.sizeS.cx { background-position:-190px -85px;}
	.tv.sizeS.mbs { background-position:-340px -130px;}
	.tv.sizeS.abc { background-position:-385px -130px;}
	.tv.vod.sizeS.ntv { background-position:0 -110px;}
	.tv.vod.sizeS.ex { background-position:-47.5px -110px;}
	.tv.vod.sizeS.tbs { background-position:-95px -110px;}
	.tv.vod.sizeS.tx { background-position:-142.5px -110px;}
	.tv.vod.sizeS.cx { background-position:-190px -110px;}
		/*hulu*/
		.tv.vod.sizeS.hulu { background:#fff url(../img/vod_hulu.png) center center no-repeat; background-size:auto 14px; }
	/*局ロゴ*/
	.tv.sizeS.other { background-image:none; text-indent:0; overflow:hidden;  text-align:center;}
	.tv.sizeS.other img { display:inline !important; width:auto !important; height:100%;}
.tv:after {
	content:""; display:block; position:absolute; top:0;
	background:url(../img/smp_parts.png) no-repeat;
	background-size:340px auto;
	}
	.tv.sizeM:after { width:10px; height:12px; right:-10px; background-position:-305px 0; display:block;}
	.tv.sizeS:after { width:9px; height:10px; right:-9px; background-position:-320px 0; display:block;}
/*tv_logo*/
.tvLogo { width:75px; height:37.5px; text-align:center; background:#fff; z-index:10;}
.tvLogo img { height:100%;}

/*動画リスト*/
.progList { padding-bottom:20px;}
.progList h2 { color:#1aa1ff;}
	.progList ul { padding:12px 7px 0 5px; overflow:hidden;}
	.progList li {
		display:inline-block; width:49%; padding:0 0 20px 6px;
		font-size:13px; line-height:1.35;
		vertical-align:top; position:relative; z-index:1;
		opacity:0;
	}
	.bknm .progList li,
	.chup .progList li { opacity:1;}
	.progList li:before, .progList li a { display:block; width:100%;}
	.progList li:before { content:""; background:#e5e5e5; position:absolute; top:0; left:0;}
	.progList li a { background:#fff; padding:3px; position:relative; z-index:1;}
	.progList li a:before,
	.progList li .progtitle:before,
	.progList li.pickup1 .progtitleL:before {
		content:""; display:block; position:absolute;
		background:url(../img/smp_parts.png) no-repeat; background-size:340px auto;
	}
	.progList li a:before { width:17px; height:31px; top:0; right:-17px; background-position:-170px -20px;}
	.progList li .progtitle:before { width:55px; height:25px; top:0; left:0; background-position:-110px -20px;}
	.progList li a > span:not(.progress) {
		display:block; width:100%; height:0; padding-top:56.25%;
		position:relative; overflow:hidden; z-index:-1;
		background-color:#e0e0e4;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
	}
	.topics .progList li a > span:not(.progress) { background-size:contain;}
	.progList li img { display:block; width:100%; position:relative; z-index:-1;}
	.progList li .progtitle {
		width:100%; max-height:43px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
		padding:7px 5px 3px; position:relative; z-index:10;
	}
	.progList li .sub {
		font-size:75%; color:#696969; padding:0 5px 5px;
		overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
	}
	.progList li .sub span { padding-right:0.6em;}
	.progList li:empty { display:none;}
	
	/*動画一覧*/
	.progList.video li { min-height:180px;}
	.progList.video li a > span:not(.progress):before {
		content:""; display:block; width:40px; height:40px;
		background:rgba(255, 255, 255, 0.5); border-radius:50%;
		position:absolute; top:50%; left:50%; margin:-20px 0 0 -20px;
	}
	.progList.video li a > span:not(.progress):after {
		content:""; display:block; width:16px; height:16px;
		background:url(../img/smp_parts.png) no-repeat -50px -75px;
		background-size:340px auto;
		position:absolute; top:50%; left:50%; margin:-8px 0 0 -6px;
	}
	.progList.video li a:hover > span:not(.progress):after { filter:alpha(opacity=1); opacity:1;}
	.progList.video li .attn {
		width:100%; height:22px; font-size:70%; line-height:18px; color:#fff; text-align:center;
		background:rgb(227, 30, 30); background:rgba(227, 30, 30, 0.85);
		position:absolute; bottom:3px; left:0; padding-top:1px;
		border-left:3px solid #fff; border-right:3px solid #fff;
	}
	/*トピックス*/
	.progList.tpc h2 { color:#262626;}
	.progList.tpc ul { padding:12px 10px 0 7px;}
	.progList.tpc li { padding:0 0 20px 10px;}
	.progList.tpc li a { padding:0;}
	.progList.tpc li a span { padding-top:75%; background-size:contain;}
	/*キャスト*/
	.progList.cast ul { padding:12px 10px 0 6px;}
	.progList.cast li { padding:0 0 20px 9px;}
	.progList.cast li { width:32%;}
	.progList.cast li a { padding:0;}
	.progList.cast li a span { padding-top:100%;}
	.progList.cast li .progtitle { text-align:center; padding:8px 8px 3px;}
	/*pickup*/
	/*01*/
	.progList li.pickup1 { display:block; width:90%; font-size:16px; margin:0 auto;}
	.progList li.pickup1 a:before { width:21px; height:40px; top:0; right:-21px; background-position:-265px -20px;}
	.progList li.pickup1 .progtitleL:before { width:72px; height:30px; top:0; left:0; background-position:-190px -20px;}
	.progList li.pickup1 .progtitleL {
		width:100%; max-height:50px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
		padding:5px 5px 3px; position:relative; z-index:10;
	}
	.progList li.pickup1 a span:before { width:56px; height:56px; margin:-28px 0 0 -28px;}
	.progList li.pickup1 a span:after { width:20px; height:23px; background-position:-50px -50px; margin:-11.5px 0 0 -6px;}
	/*再生中*/
	.progList li.playing { filter:alpha(opacity=50); opacity:0.5;}
	.progList li.playing a span:before,
	.progList li.playing a span:after { display:none;}
	/*contain*/
	.progList.contain li a span { background-size:contain;}
	/*progressbar*/
	.progList li .progress {
		display:block; width:100%; height:3px;
		background:rgba(0, 0, 0, 0.3);
		margin-top:-3px; position:relative;
	}
	.progList li .progress .bar {
		display:block; width:100%; height:3px;
		background:#00ebf6;
		position:absolute; top:0; left:0;
	}

/*もっと見る*/
.more { text-align:center; padding:0 16px;}
	.more a {
		display:inline-block; height:32px; font-size:14px; line-height:32px;
		background:#e4e4e1; border-radius:50px; padding:0 35px 0 50px;
	}
	.more a:after {
		content:""; display:inline-block; width:20px; height:15px; vertical-align:middle;
		background:url(../img/smp_parts.png) no-repeat -280px 0;
		background-size:340px auto; margin:-2px 0 0 10px;
	}
	.more.all a { display:block;}
	.more.close a:after { background-position:-75px -50px; margin-top:-3px;}
.moreLink { text-align:center; padding:0 30px;}
	.moreLink a {
		display:block; width:100%; height:35px; font-size:14px; line-height:33px;
		background:#fff; border:1px solid #262626; position:relative;
	}
	.moreLink a:after {
		content:""; display:block; width:15px; height:15px;
		background:url(../img/smp_parts.png) no-repeat -240px 0;
		background-size:340px auto;
		position:absolute; top:50%; right:14px; margin-top:-7.5px;
	}

/*otherlink*/
.otherlink { text-align:center; padding:20px 20px 0;}
	.otherlink a {
		display:block; height:40px; font-size:14px; line-height:40px;
		background:#fff; border:1px solid #333;
		padding:0 35px 0 50px; margin-top:12px; position:relative;
	}
	.otherlink a:after {
		content:""; display:block; width:10px; height:10px;
		border-top:1px solid #333;
		border-right:1px solid #333;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		position:absolute; top:50%; right:20px; margin-top:-5px;
	}


/*@mylist
//////////////////////////////////////////////////////*/
.mylist .progList.video { padding-bottom:30px;}
.mylist .progList.video:first-child { padding-bottom:40px;}
.mylist #headings { height:90px; background:#1aa1ff; position:relative;}
	.mylist #headings h1 {
		font-size:20px; color:#fff;
		position:absolute; top:14px; left:10px;
	}
	.mylist #headings h1:before {
		content:""; display:inline-block; width:20px; height:20px; vertical-align:middle;
		background:url(../img/smp_parts.png) no-repeat -25px -50px;
		background-size:340px auto; margin:0 5px 6px 0;
	}
	/*絞り込み*/
	.mylist #headings .selectBox {
		width:100%; height:44px; background:rgba(0, 0, 0, 0.1);
		position:absolute; top:46px; left:0; z-index:100;
	}
	.mylist #headings .selectOpen {
		width:60%; height:34px; font-size:16px; line-height:34px;
		text-align:left; cursor:pointer; padding:0 10px;
		white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
		position:absolute; top:5px; left:0;
	}
	.mylist #headings .selectOpen:before {
		content:""; display:inline-block; width:20px; height:15px; vertical-align:middle;
		background:url(../img/smp_parts.png) no-repeat -280px 0;
		background-size:340px auto; margin:-3px 5px 0 0;
	}
	/*list*/
	.mylist #headings .selectBox dl {
		width:85%; text-align:left; background:#fbfbfb;
		position:absolute; top:42px; left:20px; display:none;
	}
	.mylist #headings .selectBox dl:after {
		content:" "; position:absolute; bottom:100%; left:20%;
		border:solid transparent;
		border-color:rgba(255, 255, 255, 0); border-bottom-color:#f3f3f3;
		border-width:10px; margin-left:-10px;
	}
	.mylist #headings .selectBox dt,
	.mylist #headings .selectBox dd { font-size:14px;}
	.mylist #headings .selectBox dt { background:#f3f3f3; padding:16px 16px 10px;}
	.mylist #headings .selectBox dd { border-top:1px solid #f3f3f3;}
	.mylist #headings .selectBox dd a { display:block; color:#1aa1ff; padding:14px 16px;}
	.mylist #headings .selectBox dd a:hover { color:#fff; background:#1aa1ff;}
	
	/*リストの編集*/
	.mylist #headings .listOpen {
		display:block; width:38%; height:32px; font-size:14px; color:#1aa1ff; line-height:32px;
		background:#fff; position:absolute; top:52px; right:5px; z-index:100;
	}
	.mylist #headings .listOpen:after {
		content:""; display:inline-block; width:12px; height:12px; vertical-align:middle;
		background:url(../img/smp_parts.png) no-repeat -290px -35px;
		background-size:340px auto; margin:-2px 0 0 5px;
	}
/*/////////////listBox/////////////*/
#listBox { width:90%; background:#fff; text-align:left; margin:40px auto;}
	#listBox h2 { font-size:14px; background:#f3f3f3; padding:10px 16px;}
	#listBox .delete {
		display:block; width:100%; height:40px; font-size:14px; line-height:40px;
		text-align:center; color:#fff; background:#1aa1ff; cursor:pointer;
	}
	#listBox .delete.off {
		background:#61ade2; color:#c3dff2;
	}
	#listBox ul { padding:16px;}
	#listBox ul li { display:inline-block; width:49%; vertical-align:top; margin-bottom:10px;}
	/*input*/
	#listBox input[type=checkbox] { display:inline-block; width:20px; height:20px; vertical-align:middle;}
	#listBox input[type=checkbox] + label {
		position:relative; display:inline-block; margin-right:10px;
		font-size:12px; line-height:1.35; cursor:pointer;
	}
	@media (min-width:1px) {
		#listBox input[type=checkbox] { display:none;}
		#listBox input[type=checkbox] + label { padding:5px 0 5px 25px;}
		#listBox input[type=checkbox] + label::before {
			content:""; display:block; width:20px; height:20px;
			background:#fff; border:2px solid #cdcdd2; border-radius:50%;
			position:absolute; top:2px; left:0;
			box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
		}
		#listBox input[type=checkbox]:checked + label::before {
			background:#1aa1ff; border:none;
			box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
		}
		#listBox input[type=checkbox]:checked + label::after {
			content:""; display:block; width:9px; height:4px;
			border-left:2px solid #fff; border-bottom:2px solid #fff;
			position:absolute; top:8px; left:4.5px;
			-webkit-transform:rotate(-45deg);
			-ms-transform:rotate(-45deg);
			transform:rotate(-45deg);
		}
	}

/*@topics
//////////////////////////////////////////////////////*/
.topics #contents { padding:0;}
.topics .credit { padding-bottom:0;}
.topics .topicsList h2:before {
	content:""; display:inline-block; width:20px; height:20px; vertical-align:middle;
	background:url(../img/smp_parts.png) no-repeat 0 -75px;
	background-size:340px auto; margin:0 6px 5px 0;
}
/*リスト*/
.topicsList { background:#eaeaea url(../img/smp_bg1.png) center 0; background-size:50% auto; padding:20px 0 10px;}
.topicsList h2 { margin-bottom:5px !important;}

/*@epg
//////////////////////////////////////////////////////*/
.epg #contents { padding-top:60px;}
.epg #epgArea { width:100%; height:0; padding-top:100%;}
.epg #epgArea iframe {
	width:100%; height:100%; border:0;
	position:absolute; top:0; left:0;
}

/*@search
//////////////////////////////////////////////////////*/
.search h2 { color:#1aa1ff;}
.search h2:before {
	content:""; display:inline-block; width:20px; height:20px; vertical-align:middle;
	background:url(../img/smp_parts.png) no-repeat 0 -50px;
	background-size:340px auto; margin:0 6px 5px 0;
}
.search.result h2:before { display:none;}
.search .searchArea { padding:10px 16px 20px;}
	.search .searchArea h3 { font-size:18px; color:#797979; margin-bottom:8px;}
	.search .searchArea h4 { font-size:16px; color:#797979; text-align:left; margin-bottom:10px;}
	.search .searchArea input[type="text"] {
		width:98%; height:42px; font-size:16px; line-height:1; outline:0;
		background:#fff; border:1px solid #aaa; border-radius:6px; position:relative;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		vertical-align:baseline; padding:3px 10px 0; margin-bottom:16px;
	}
	.search .searchArea input[type="text"]::-webkit-input-placeholder,
	.search .searchArea input[type="text"]:-ms-input-placeholder,
	.search .searchArea input[type="text"]::-moz-placeholder { color:#aaa;}
	.search .searchArea input[type="text"]::-moz-focus-inner { padding:0; border:0;}
	.search .searchArea input[type="text"]:focus { border-color:#1aa1ff;}
	/*btn*/
	.search .searchArea button {
		display:block; width:70%; height:40px; line-height:40px; font-size:18px;
		color:#fff; background:#61ade2; outline:none; padding:0; cursor:pointer;
		-webkit-box-shadow:none; box-shadow:none; -webkit-appearance:none;
		border:0; border-radius:6px; margin:0 auto; position:relative; z-index:10;
	}
	.search .searchArea button.off { background:#61ade2;color:#c3dff2;}
	.search .searchArea button.active { background:#1aa1ff;}
	.search .searchArea button.active:hover { background:#008cee;}
	/*絞り込み*/
	.search .searchIn { text-align:center; background:#d8d8d8; border-radius:12px; padding:20px 10px; margin-bottom:30px;}
	.search .searchIn:last-child { margin-bottom:0;}
	.search .searchIn ul { font-size:0;}
	.search .searchIn li {
		display:inline-block; vertical-align:top; font-size:12px;
		color:#797979; background:#f0f0f0;
		border:2px solid transparent; cursor:pointer;
	}
	.search .searchIn li:hover { background:#fff;}
	.search .searchIn li.this { background:#fff; border-color:#1aa1ff !important;}
	/*select-tv*/
	.search #select-tv { margin-bottom:20px; position:relative;}
	.search #select-tv:after {
		content:"＋"; display:block; width:100%; font-size:30px; color:#fff;
		text-align:center; position:absolute; bottom:-36px; left:0;
	}
	/*
	.search #select-tv li {
		width:31%; height:60px; border-radius:5px; text-indent:-9999px;
		margin:0 1% 8px; position:relative;
	}
	.search #select-tv li:after {
		content:""; display:block; width:75px; height:37.5px;
		background:url(../img/icon_vod.png) no-repeat;
		background-size:445px auto;
		position:absolute; top:50%; left:50%; margin:-18.75px 0 0 -37.5px;
	}
	.search #select-tv li.tv1:after { background-position:0 -45px;}
	.search #select-tv li.tv2:after { background-position:-80px -45px;}
	.search #select-tv li.tv3:after { background-position:-160px -45px;}
	.search #select-tv li.tv4:after { background-position:-240px -45px;}
	.search #select-tv li.tv5:after { background-position:-320px -45px;}
	.search #select-tv li.tv6:after { background-position:-180px -135px;}
	.search #select-tv li.tv7:after { background-position:-260px -135px;}
	*/
	.search #select-tv li {
		width:31%; height:53px; border-radius:5px; text-indent:-9999px;
		margin:0 1% 8px; position:relative;
	}
	.search #select-tv li:after {
		content:""; display:block; width:80px; height:40px;
		background:url(../img/icon_vod.png) no-repeat;
		background-size:480px auto;
		position:absolute; top:50%; left:50%; margin:-20px 0 0 -40px;
	}
	.search #select-tv li.tv1:after { background-position:0 -48px;}
	.search #select-tv li.tv2:after { background-position:-86px -48px;}
	.search #select-tv li.tv3:after { background-position:-172px -48px;}
	.search #select-tv li.tv4:after { background-position:-258px -48px;}
	.search #select-tv li.tv5:after { background-position:-345px -48px;}
	.search #select-tv li.tv6:after { background-position:-194px -145px;}
	.search #select-tv li.tv7:after { background-position:-280px -145px;}
	
	/*select-genre*/
	.search #select-genre { margin-bottom:20px; position:relative;}
	.search #select-genre:after {
		content:"＋"; display:block; width:100%; font-size:30px; color:#fff;
		text-align:center; position:absolute; bottom:-36px; left:0;
	}
	.search #select-genre li {
		width:31%; height:38px; line-height:36px; text-align:center;
		border-radius:5px; padding:0 0; margin:0 1% 8px;
	}
	.search #select-genre li:nth-child(4) { width:50%;}
	/*select-day*/
	.search #select-day { margin-bottom:16px;}
	.search #select-day ul { display:table; width:100%; table-layout:fixed;}
	.search #select-day li {
		display:table-cell; font-size:16px;
		border-radius:50px; padding:12px 0; margin:0 1.5px;
		border-color:#d8d8d8;
	}
	.search #select-day li span { display:block; font-size:60%; padding-top:3px;}
	.search #select-day li.sat { color:#2a6acb;}
	.search #select-day li.sun { color:#c71b1b;}
/*result*/
.result #contents { padding-top:55px;}
.result .headings { padding:0 16px; margin-bottom:20px;}
.result .headings h1 {
	width:100%; font-size:12px; line-height:1.5; border-radius:12px; border:1px solid #ddd;
	background:#f7f7f7; padding:12px;
}
.result .headings h1 .word { font-size:16px;}
.result .headings h1 .word span { color:#1aa1ff; margin:0 4px;}
.result #contents .none p { font-size:16px; text-align:center; padding:50px 0 200px;}

/*@comingsoon
//////////////////////////////////////////////////////*/
.comingsoon .progList_line h2:before {
	content:""; display:inline-block; width:25px; height:25px;
	background:url(../img/icon_coming.png) no-repeat 0 -30px;
	background-size:25px auto;
	vertical-align:middle; margin:-4px 5px 0 0;
}

/*/////////////1行表示/////////////*/
.progList_line { padding-bottom:20px;}
.progList_line h2 { color:#1aa1ff;}
.progList_line h2 span { display:block; font-size:12px; color:#444; padding:10px 0 3px;}
	.progList_line ul { padding:12px 7px 0 5px; overflow:hidden;}
	.progList_line li { width:98%; margin:0 auto 20px; position:relative; z-index:1;}
	.progList_line li:after {
		content:""; display:block; width:10px; height:10px;
		border-top:1px solid #333;
		border-right:1px solid #333;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		position:absolute; top:50%; right:5px; margin-top:-5px;
	}
	.progList_line li a { display:block; width:100%;}
	.progList_line li a:after { content:""; clear:both; display:block;}
	/*サムネイル*/
	.progList_line li .pic { width:45%; float:left; position:relative; z-index:1;}
	.progList_line li .pic:before,
	.progList_line li .pic:after {
		content:""; display:block; position:absolute;
		background:url(../img/smp_parts.png) no-repeat; background-size:340px auto;
	}
	.progList_line li .pic:before { width:17px; height:31px; top:0; right:-17px; background-position:-170px -20px;}
	.progList_line li .pic:after { width:55px; height:25px; bottom:-25px; left:0; background-position:-110px -20px;}
	.progList_line li .pic span {
		display:block; width:100%; height:0; padding-top:56.25%;
		position:relative; overflow:hidden; z-index:-1;
		background-color:#e0e0e4;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		border:3px solid #fff;
	}
	.progList_line li img { display:block; width:100%; position:relative; z-index:-1;}
	/*テキスト*/
	.progList_line li .text { width:55%; float:left; line-height:1.35; padding:0 20px 0 10px;}
	.progList_line li .progtitle {
		font-size:15px;
		max-height:43px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
	}
	.progList_line li .sub {
		font-size:11px; color:#696969; padding:5px 0; margin-bottom:8px;
		max-height:32px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
	}
	.progList_line li .sub span { display:block;}
	.progList_line li .flag.coming { font-size:11px; color:#1aa1ff;}
	.progList_line li .flag.coming:before {
		content:""; display:inline-block; width:15px; height:15px;
		background:url(../img/icon_coming.png) no-repeat 0 -18px;
		background-size:15px auto;
		vertical-align:middle; margin:0 2px 3px 0;
	}
	.progList_line li .tv.sizeS { left:8px;}

/*/////////////配信ラインナップ/////////////*/
.lineup #headings h2 { color:#1aa1ff; margin-bottom:10px;}
.lineup #headings .attn { font-size:11px; color:#444; padding:0 12px 10px;}
	.lineup #headings .attn li { display:block; text-indent:-1em; padding:0 0 5px 1em;}
.lineup #headings .week { padding:0 12px 10px;}
	.lineup #headings .week li { display:inline-block; vertical-align:top; margin:0 2px 10px;}
	.lineup #headings .week li a {
		display:table-cell; height:30px; font-size:14px; color:#1aa1ff; text-align:center;
		background:#fff; padding:1px 10px 0; vertical-align:middle; position:relative;
	}
	.lineup #headings .week li.small a { font-size:11px;}
	.lineup #headings .week li a:after {
		content:" "; width:0; height:0; pointer-events:none;
		position:absolute; bottom:-10px; left:50%;
		border:5px solid transparent;
		border-top-color:#1aa1ff;
		border-width:7px 5px 0 5px;
		margin-left:-5px; opacity:0;
		-webkit-transition:all 0.18s; -moz-transition:all 0.18s; transition:all 0.18s;
	}
/*title*/
.lineup .comingList { padding:0 0 30px;}
	.lineup .comingList .cominghead { background:#1aa1ff; padding:8px 0 7px;}
	.lineup .comingList .cominghead h2 { font-size:16px; color:#fff; margin-bottom:0 !important;}
	.lineup .comingList h2:before {
		content:""; display:inline-block; width:25px; height:25px;
		background:url(../img/icon_coming.png) no-repeat 0 0;
		background-size:25px auto;
		vertical-align:middle; margin:-4px 7px 0 0;
	}
	.lineup .comingList h2 span { display:block; font-size:11px; color:#fff; margin-top:5px;}
	.lineup .comingList .none { background:#fff; padding:60px 0;}
	.lineup .comingList .none p { font-size:17px; text-align:center; line-height:1.6;}
.lineup .lineupList { border-bottom:1px solid #bbb;}
	.lineup .lineupList h3 { font-size:16px; color:#fff; line-height:36px; background:#262626; padding:0 12px;}
	.lineup .lineupList h3 span { display:block; padding-left:5px;}
/*list*/
.lineup #contents .comingList .list li { background:#fff; border-bottom:1px solid #ddd;}
.lineup #contents .lineupList .list li { border-bottom:1px solid #bbb;}
.lineup #contents .lineupList .list li:last-child { border-bottom:none;}
	.lineup #contents .list li a { display:block; width:100%; position:relative;}
	.lineup #contents .list li a:after {
		content:""; display:block; width:10px; height:10px;
		border-top:1px solid #333;
		border-right:1px solid #333;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		position:absolute; top:50%; right:15px; margin-top:-5px;
	}
	.lineup #contents .list li a .inner { display:table; width:100%; min-height:60px; table-layout:fixed; padding:6px 0; margin:0 auto;}
	.lineup #contents .list li a .inner > div { display:table-cell; vertical-align:middle;}
	.lineup #contents .list li .time { width:85px; width:60px; font-size:14px; text-align:center; padding-left:5px;}
	.lineup #contents .list li .title { font-size:14px; line-height:1.2; padding:0 30px 1px 8px;}
	.lineup #contents .list li .title .bangumi {
		display:block; width:100%;
		max-height:38px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box;
		-webkit-box-orient:vertical; -webkit-line-clamp:2;
	}
	.lineup #contents .list li .title .onair { font-size:10px; color:#666; padding-top:3px;}
	.lineup #contents .list li a:not([href]):after { display:none;}
	.lineup #contents .list li a:not([href]) .title { padding-right:12px;}
	.lineup #contents .list li .pic {
		width:70px; height:39px;
		position:relative; z-index:1;
	}
	.lineup #contents .list li .pic span {
		display:block; width:70px; height:39px; text-indent:-9999px;
		position:relative; overflow:hidden; z-index:-1;
		background-color:#e0e0e4;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
	}
	.lineup #contents .list li .flag { margin-top:3px;}
	.lineup #contents .list li .flag .coming { display:block; font-size:11px; color:#1aa1ff;}
	.lineup #contents .list li .flag .coming:before {
		content:""; display:inline-block; width:15px; height:15px;
		background:url(../img/icon_coming.png) no-repeat 0 -18px;
		background-size:15px auto;
		vertical-align:middle; margin: 0 2px 3px 0;
	}
	.lineup #contents .list li .delivery { font-size:11px; color:#e31e1e;}
	/*tv_icon*/
	.lineup #contents .list li .time .tv.sizeM {
		width:42.5px; height:21.5px; position:static;
		background-color:transparent; margin:0 auto;
	}
	.lineup #contents .list li .time .tv.sizeM:after { display:none;}
	.lineup #contents .list li .time .tv.sizeM.ntv { background-position:0 -85px;}
	.lineup #contents .list li .time .tv.sizeM.ex { background-position:-47.5px -85px;}
	.lineup #contents .list li .time .tv.sizeM.tbs { background-position:-95px -85px;}
	.lineup #contents .list li .time .tv.sizeM.tx { background-position:-142.5px -85px;}
	.lineup #contents .list li .time .tv.sizeM.cx { background-position:-190px -85px;}
	.lineup #contents .list li .time .tv.sizeM.mbs { background-position:-340px -130px;}
	.lineup #contents .list li .time .tv.sizeM.abc { background-position:-385px -130px;}

/*@detail
//////////////////////////////////////////////////////*/
.detail #headings1 { border-bottom:1px solid #ddd;}
	.detail #headings1 .pic span {
		display:block; width:100%; height:0;
		text-indent:-9999px; padding-top:56.25%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
	}
	.detail #headings1 .pic img { display:block; width:100%;}
.detail #headings2 { background:#262626 url(../img/smp_bg2.png) center 0; background-size:50% auto;}
	/*再生*/
	.detail #headings2 .player { width:100%; height:0; padding-top:56.25%; position:relative;}
	.detail #headings2 .player iframe,
	.detail #headings2 .player object { width:100%; height:100%; position:absolute; top:0; left:0;}
		.detail #headings2 .player.pc { width:850px; height:auto; padding-top:0; position:relative;}
		.detail #headings2 .player.pc iframe,
		.detail #headings2 .player.pc object { width:850px; height:478px; position:relative;}
	
	.detail #headings2 .playerIn > a { width:100%; height:100%; position:absolute; top:0; left:0;}
	.detail #headings2 .playerIn > a:before {
		content:""; display:block; width:80px; height:80px;
		background:rgba(255, 255, 255, 0.5); border-radius:50%;
		position:absolute; top:50%; left:50%; margin:-40px 0 0 -40px;
	}
	.detail #headings2 .playerIn > a:after {
		content:""; display:block; width:33px; height:40px;
		background:url(../img/smp_parts.png) no-repeat -300px -95px;
		background-size:340px auto;
		position:absolute; top:50%; left:50%; margin:-20px 0 0 -10px;
	}
	.detail #headings2 .playerIn > a span {
		display:block; width:100%; height:0;
		text-indent:-9999px; padding-top:56.25%;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
	}
	/*再生しますか*/
	.detail #headings2 .player .how {
		width:100%; height:100%;
		position:absolute; top:0; left:0;
		text-align:center; background:#000;
	}
	.detail #headings2 .player.pc .how { width:850px; height:478px; position:relative;}
	.detail #headings2 .playerIn .how p {
		width:100%; font-size:18px; color:#fff; text-align:center;
		position:absolute; top:30%; left:0;
	}
	.detail #headings2 .playerIn .how .btn {
		width:100%; text-align:center;
		position:absolute; top:55%; left:0;
	}
	.detail #headings2 .playerIn .how a {
		font-size:14px; color:#fff; background:#222;
		border-radius:50px; padding:8px 16px; margin:0 3px;
	}
	.detail #headings2 .playerIn .how a:hover { color:#fff; background:#1aa1ff;}
	/*配信終了*/
	.detail #headings2 .expired{ 
		text-align:center; color:#aaa; 
		font-size:130%; padding:150px 0; 
		line-height:3;
	}
	.detail #headings2 .expired a{ background:#1aa1ff;display:inline-block;color:#fff;padding:20px 60px;font-size:100%;line-height:1; }
/*番組名*/
.detail.bangumi .program { text-align:left; line-height:1.35; padding:10px 16px 10px; position:relative;}
.detail.bangumi #headings2 .program { color:#fff;}
	.detail.bangumi .program .tv.sizeL { position:absolute; top:-30px; left:16px;}
	.detail.bangumi .program h1 { font-size:20px; padding:8px 0 6px;}
	.detail.bangumi .program p { font-size:13px;}
	.detail.bangumi .program p span { display:inline-block;}
	.detail.bangumi .program p .num { font-size:13px; margin-right:1em;}
	.detail.bangumi .program p .day { margin-right:1em;}
	.detail.bangumi .program p .red { color:#e31e1e; padding-top:3px;}
	.detail.bangumi .program p .num:empty,
	.detail.bangumi .program p .day:empty { display:none;}
.detail.bangumi #headings2 .program.pc{padding-left:100px;}
	.detail.bangumi .program.pc .tv.sizeL { position:absolute; top:12px; left:12px;}
	.detail.bangumi #headings2 .program.pc h1{ padding:0;line-height:1.3; }
.detail #description { background:#fff; border-bottom:1px solid #ddd; text-align:left;}
	/*登録*/
	.detail #description .register { min-height:48px; border-bottom:1px solid #ddd; padding:6px 16px; position:relative;}
	.detail #description .register .regBtn {
		display:block; width:110px; height:35px; line-height:31px;
		font-size:13px; text-align:center; color:#fff;
		background:#1aa1ff; border:2px solid #1aa1ff;
		position:absolute; top:6px; right:16px; padding-right:6px;
	}
	.detail #description .register .regBtn:after {
		content:""; display:block; width:12px; height:12px;
		background:url(../img/smp_parts.png) no-repeat -290px -20px;
		background-size:340px auto;
		position:absolute; top:50%; right:10px; margin-top:-6px;
	}
	.detail #description .register .regBtn.off { color:#1aa1ff; background:#ddf1ff;}
	.detail #description .register .regBtn.off:after { background-position:-290px -50px;}
	.detail.talent #description .register .regBtn { width:130px; padding-right:14px;}
	.detail #description .register p {
		width:188px; height:35px; font-size:10px;
		white-space:nowrap; overflow:hidden; padding-top:10px;
		display:none;
	}
	.detail #description .register p .num { display:inline-block; font-size:16px; margin-left:0.3em;}
	.detail #description .register .note { font-size:10px; color:#777; line-height:1.35; padding:5px 140px 0 0;}
	/*リンク*/
	.detail #description .link { position:relative; padding:10px 16px; height:55px;}
	.detail #description .link .official {
		display:block; width:50%; height:35px;
		font-size:13px; text-align:center; line-height:35px;
		background:#fff; border:1px solid #262626;
		padding-right:7px; margin-right:10px; position:relative;
	}
	.detail #description .link .official:after {
		content:""; display:block; width:15px; height:15px;
		background:url(../img/smp_parts.png) no-repeat -220px 0;
		background-size:340px auto;
		position:absolute; top:50%; right:12px; margin-top:-7.5px;
	}
	/*sns*/
	.detail #description .link .fb,
	.detail #description .link .tw {
		content:""; display:block; width:28px; height:28px;
		background:url(../img/smp_parts.png) no-repeat;
		background-size:340px auto; text-indent:-9999px;
		position:absolute; top:14px;
	}
	.detail #description .link .fb { background-position:-245px -65px; right:63px;}
	.detail #description .link .tw { background-position:-275px -65px; right:18px;}
	/*テキスト*/
	.detail #description .text { border-bottom:1px solid #ddd; padding:10px 16px 20px;}
	.detail #description .textIn { height:60px; font-size:13px; line-height:1.5; overflow:hidden; margin-bottom:20px;}
	.detail #description .textIn p { margin-bottom:20px;}
	.detail #description .textIn h2 { font-size:14px; color:#1faaff; padding:0; margin-bottom:3px;}
	/*これまでの*/
	.detail #description .bknm { padding:22px 0 0; position:relative;}
	.detail #description .bknm h2 {
		font-size:16px; padding-left:16px; margin-bottom:10px;
		position:absolute; top:20px; left:48%;
	}
	.detail #description .bknm p {
		width:45%; font-size:11px; color:#555; line-height:1.35;
		padding:5px 0 0 16px; position:absolute; top:45px; left:48%;
	}
	.detail #description .bknm p:after {
		content:""; display:block; width:15px; height:15px;
		background:url(../img/smp_parts.png) no-repeat -220px 0;
		background-size:340px auto;
		position:absolute; bottom:-10px; right:0;
	}
	.detail #description .bknm .progList,
	.detail #description .bknm .progList li { padding:0;}
	.detail #description .bknm .progList { padding-left:16px;}
	.detail #description .bknm .progList li { width:45%;}
	.detail #description .bknm .progList li .tv { left:8px;}
	.detail #description .bknm .progList li:after {
		content:""; display:block; width:55px; height:25px;
		background:url(../img/smp_parts.png) no-repeat -110px -20px;
		background-size:340px auto;
	}
	/*キャッチアップ*/
	.detail #description .chup { padding:22px 0 10px; position:relative;}
	.detail #description .chup h2 { font-size:18px; padding-left:16px; margin-bottom:15px;}
	.detail #description .chup .progList,
	.detail #description .chup .progList li { padding:0; display:block;}
	.detail #description .chup .progList li { width:47%; padding:0 3px;}
	.detail #description .chup .progList { padding-left:16px;}
	.detail #description .chup .progList.video li { min-height:1px !important;}
	.detail #description .chup .progList li .tv { left:8px;}
	.detail #description .chup .progList li .chupIn { width:100%; position:absolute; top:5px; left:103%;}
	.detail #description .chup .progList li .progtitle:before { display:none;}
	.detail #description .chup .progList li:after {
		content:""; display:block; width:55px; height:25px;
		background:url(../img/smp_parts.png) no-repeat -110px -20px;
		background-size:340px auto;
	}
	
	
	
	
.detail #contents h2 { padding:0 12px; margin-bottom:7px;}
/*cast*/
.detail #cast { border-bottom:1px solid #ddd; margin-bottom:20px;}
/*cathup*/
.detail #cathup { background:url(../img/smp_bg2.png) center 0; background-size:50% auto; padding:30px 0 0;}
	.detail #cathup h2 { font-size:18px; color:#fff; padding-left:16px; margin-bottom:20px;}
	.detail #cathup .progList ul { padding:12px 10px 0 8px;}
	.detail #cathup .progList li { padding:0 0 10px 8px;}
	.detail #cathup .progList li .progtitle,
	.detail #cathup .progList li .sub { color:#fff;}
	.detail #cathup .progList li a:before,
	.detail #cathup .progList li .progtitle:before { display:none;}
	.detail #cathup .progList li .tv { left:16px;}
/*movList*/
.detail #movList { height:200px; background:#262626 url(../img/bg2.png); padding-top:16px; overflow:hidden;}
.detail #movList .progList { text-align:center; padding:0;}
	.detail #movList .progList li { min-height:auto; text-align:left; margin-bottom:50px; width:180px !important;}
	.detail #movList .progList li a:before,
	.detail #movList .progList li a:after { display:none;}
	.detail #movList .progList li .progtitle { color:#fff;}
	.detail #movList .progList li .progtitle:before { display:none;}
	.detail #movList .progList li .sub { color:#fff;}

/*bkLink*/
.detail .bkLink a {
	display:block; width:100%; height:42px; line-height:42px;
	font-size:14px; color:#fff; background:#1aa1ff; vertical-align:middle;
	}
	.detail .bkLink a:after {
		content:""; display:inline-block; width:15px; height:15px;
		background:url(../img/smp_parts.png) no-repeat -260px 0;
		background-size:340px auto;
		vertical-align:middle; margin:-2px 0 0 5px;
	}
	.detail .bkLink a:hover { background:#008cee;}
/*sns*/
.detail #contents .snsbtn2 { padding:20px 30px 0;}
	.detail #contents .snsbtn2 a {
		display:block; width:100%; height:60px; font-size:13px; background:#fff;
		padding:16px 5px 0 68px; margin:0 auto 10px; position:relative;
	}
	.detail #contents .snsbtn2 a:before {
		content:""; display:block; width:37px; height:37px;
		background:url(../img/smp_parts.png) no-repeat;
		background-size:340px auto;
		position:absolute; top:50%; left:14px; margin-top:-18.5px;
	}
	.detail #contents .snsbtn2 .fb:before { background-position:-125px -55px;}
	.detail #contents .snsbtn2 .tw:before { background-position:-205px -55px;}
	.detail #contents .snsbtn2 .line:before { background-position:-165px -55px;}
	.detail #contents .snsbtn2 a span { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.detail #contents .snsbtn2 a .url { font-size:70%; padding-top:5px;}
	.detail #contents .snsbtn2 .line { padding-top:24px;}

/*/////////////タレント詳細/////////////*/
.detail.talent #headings1 .pic { display:table-cell; width:180px; text-align:center; vertical-align:middle; padding:0 12px;}
.detail.talent #headings1 .pic span { padding-top:100%;}
.detail.talent #headings1 .pic img { display:inline-block;}
.detail.talent #headings1 .profile { display:table-cell; vertical-align:top; text-align:left; padding:16px 16px 16px 0;}
	.detail.talent #headings1 .profile h1 { font-size:17px; line-height:1.35; padding-bottom:12px;}
	/*プロフィール*/
	.detail.talent #headings1 dl { padding-left:2px;}
	.detail.talent #headings1 dl:after { content:""; clear:both; display:block;}
	.detail.talent #headings1 dt { width:6em; float:left; font-size:10px; padding-bottom:6px;}
	.detail.talent #headings1 dd { font-size:10px; padding:0 0 6px 6em;}
/*.detail.talent #description { padding-bottom:10px;}*/
.detail.talent .progList h2 { color:#262626;}

/*@info
//////////////////////////////////////////////////////*/
.info #header .snsbtn { top:64px; right:10px; z-index:999;}
.info #headings { height:44px; background:#fff; text-align:left; padding:0 16px; margin:12px 0;}
.info #headings h1 { font-size:19px; color:#1aa1ff; line-height:45px;}
.info #contents { background:#fff; margin-bottom:12px;}
.info #contentsIn { min-height:200px; color:#444; line-height:1.6; padding:12px 16px 16px;}
	.info #contentsIn h2 { font-size:18px; line-height:1.5; margin-bottom:12px; padding:0;}
	.info #contentsIn h3 { font-size:16px; margin-bottom:10px;}
	.info #contentsIn h4 { font-size:14px; margin-bottom:5px;}
	.info #contentsIn p { font-size:13px; padding-bottom:20px;}
	.info #contentsIn p.none { padding-bottom:0;}
	.info #contentsIn a { border-bottom:1px solid #262626; padding-bottom:0.05em;}
	.info #contentsIn a:hover { border-color:transparent;}
	.info #contentsIn ul.indent { padding-left:0;}
	.info #contentsIn ul.indent li { list-style:none; text-indent:-1em; padding-left:1em;}
.info #contentsIn > ol h2 { margin-bottom:8px;}
.info #contentsIn > ol { display:table; font-size:18px; padding-top:20px;}
	.info #contentsIn > ol > li { display:table-row; counter-increment:table-ol;}
	.info #contentsIn > ol > li:after { content:""; display:block; margin-bottom:0.8em;}
	.info #contentsIn > ol > li:before {
		content:counter(table-ol) "."; display:table-cell;
		padding-right:0.4em; text-align:right;
	}
	.info #contentsIn ol ol { font-size:13px; padding:0 0 20px 20px;}
	.info #contentsIn ol ol li { list-style:decimal; margin-bottom:5px;}
	.info #contentsIn ol ul { font-size:13px; padding-left:20px;}
	.info #contentsIn ol ul li { list-style:disc; padding-bottom:5px;}
	.info #contentsIn ol ul li:last-child { padding-bottom:0;}
.info #contentsIn .block { font-size:13px; background:#f5f5f5; padding:14px 16px; margin-top:16px;}
	.info #contentsIn .block h2 { font-size:16px;}
	.info #contentsIn .block h3 { padding-top:8px;}
	.info #contentsIn .block dl { font-size:12px; padding-bottom:10px;}
	.info #contentsIn .block dl:after { content:""; clear:both; display:block;}
	.info #contentsIn .block dt { width:7em; float:left; padding-bottom:5px;}
	.info #contentsIn .block dd { text-indent:-1em; padding:0 0 5px 8em;}
	.info #contentsIn .block p { font-size:12px;}
	.info #contentsIn .block .small { font-size:10px; display:block; margin-bottom:5px;}
/*guide*/
.guide #contentsIn > ol { padding-top:0;}
.guide #contentsIn > ol > li:before { color:#1aa1ff;}
.guide #contentsIn > ol > li:after { margin-bottom:2em;}
.guide #contentsIn > ol > li:last-child:after { margin-bottom:0.5em;}
.guide #contentsIn > ol > li > h2 { position:relative; padding-bottom:6px; margin-bottom:18px;}
.guide #contentsIn > ol > li > h2:after {
	content:""; display:block; width:107%; height:2px; background:#1aa1ff;
	position:absolute; bottom:0; left:-24px;
}
/*faq*/
.faq #contentsIn > dl { font-size:14px; padding:10px 0 26px;}
.faq #contentsIn > dl:last-child { padding-bottom:0;}
	.faq #contentsIn > dl > dt {
		font-size:15px; color:#1aa1ff; line-height:1.5;
		padding-left:2.3em; margin-bottom:8px; position:relative;
	}
	.faq #contentsIn > dl > dd { padding-left:2.3em; margin-bottom:30px; position:relative;}
	.faq #contentsIn > dl > dt:before,
	.faq #contentsIn > dl > dd:before { display:block; font-size:22px; position:absolute; left:3px; top:-6px;}
	.faq #contentsIn > dl > dt:before { content:"Q"; top:-6px;}
	.faq #contentsIn > dl > dd:before { content:"A"; color:#e31e1e;}
.faq #contentsIn h2 { font-size:19px;}
.faq #contentsIn .block { font-size:14px;}
/*terms*/
.terms #contentsIn { padding-bottom:26px;}
.terms #contentsIn h2 { padding-top:10px;}
.terms #contentsIn h2:first-child { padding-top:0;}
.terms #contentsIn p { padding-bottom:20px;}
/*contact*/
.contact #contentsIn { padding:12px 10% 10px;}
.contact #contentsIn form { margin-bottom:30px;}
.contact.end #contentsIn { min-height:150px;}
.contact.end #contentsIn h2 { text-align:center;}
.contact #contentsIn form > input[type="email"] {
	width:100%; line-height:1.5; font-size:14px; outline:0;
	background:#fff; border:1px solid #262626; border-radius:0;
	padding:9px 1em 8px; margin-bottom:16px;
	-webkit-appearance:none; -moz-appearance:none; appearance:none;
	}
	.contact #contentsIn form > input[type="email"]::-webkit-input-placeholder { color:#262626; opacity:1;}
	.contact #contentsIn form > input[type="email"]::-moz-placeholder { color:#262626; opacity:1;}
	.contact #contentsIn form > input[type="email"]:-ms-input-placeholder { color:#262626;}
	.contact #contentsIn form > input[type="email"]:focus::-webkit-input-placeholder { color:#ccc;}
	.contact #contentsIn form > input[type="email"]:focus::-moz-placeholder { color:#ccc;}
	.contact #contentsIn form > input[type="email"]:focus:-ms-input-placeholder { color:#ccc;}
.selectContact { width:100%; margin-bottom:16px; position:relative;}
	.selectContact select {
		width:100%; line-height:1.5; font-size:14px; background:#fff;
		border:1px solid #262626; border-radius:0; outline:0;
		padding:9px 1em 12px; position:relative; cursor:pointer;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
	}
	.selectContact:after {
		content:""; display:block; width:20px; height:15px;
		background:url(../img/smp_parts.png) no-repeat -280px 0;
		background-size:340px auto; pointer-events:none;
		position:absolute; top:50%; right:16px; margin-top:-7.5px;
	}
.contact textarea {
	width:100%; height:200px; line-height:1.35; font-size:13px; background:#fff;
	border:1px solid #262626; border-radius:0; position:relative;
	-webkit-appearance:none; -moz-appearance:none; appearance:none;
	padding:10px; margin-bottom:20px;
}
.contact form button {
	display:block; width:80%; height:42px; line-height:41px; font-size:16px;
	color:#fff; background:#262626; outline:none; padding:0; cursor:pointer;
	-webkit-box-shadow:none; box-shadow:none; -webkit-appearance:none;
	border:1px solid #262626; border-radius:6px; margin:0 auto; position:relative; z-index:10;
	}
	.contact form button:hover { color:#262626; background:#fff;}
	.contact form::-moz-focus-inner { padding:0; border:0;}
/*about
.about #contentsIn { padding-top:0;}
.about #contentsIn h2 {
	font-size:20px; color:#1aa1ff; border-bottom:2px solid #1aa1ff; text-align:center;
	padding-bottom:6px; margin-bottom:18px;
}
.about #contentsIn p { font-size:14px;}
.about #videoplayer { width:100%;}
	.about #videoplayerIn { height:0; padding-top:56.23%; position:relative;}
	.about #videoplayer iframe,
	.about #videoplayer object { width:100%; height:100%; position:absolute; top:0; left:0;}
.about .note { font-size:11px; padding:24px 10px 0;}
.about .note dt { position:absolute;width:3em;}
.about .note dd { margin:0 0 10px 2.5em;}
*/

/*about*/
.about #headings { height:0; background:none; padding:0; margin:12px 0 0;}
.about #headings h1 { display:none;}
.about #contents { padding:0;}
	.about #contents h2 {
		font-size:24px; color:#fff; line-height:1.5; text-align:center;
		background:#1aa1ff; padding:24px 16px 20px; margin:0;
	}
	.about #contents h2 span { font-size:28px; color:#ff0;}
	.about .block1 .read { font-size:14px; line-height:1.6; padding:16px 16px;}
	.about .block1 ul {
		width:95%; height:0; padding-top:46.96%; margin:0 auto 24px;
		background:url(../img/sp_about0.png) no-repeat;
		background-size:contain;
	}
	.about .block1 ul li { display:none;}
	.about .block2 ul li { color:#fff; text-align:center; background:#1aa1ff; padding:33px 16px;}
	.about .block2 ul li.a2,
	.about .block2 ul li.a4 { background:#158eff;}
	.about .block2 ul li h3 { font-size:24px; margin-bottom:20px;}
	.about .block2 ul li p { font-size:13px; line-height:1.35; margin-bottom:12px;}
	.about .block2 ul li img { display:block; width:80%; margin:0 auto;}

/*app*/
.app #contentsIn { position:relative;}
	.app #contentsIn img.smp { display:block; width:80%; margin:0 auto;}
	.app #contentsIn .text p { font-size:14px; padding-bottom:20px;}
	.app #contentsIn ul.indent li { font-size:10px; margin-bottom:3px;}
	.app #contentsIn .kakomi {
		width:100%; background:#f1f1f1; border:1px solid #e3e0e0; text-align:center;
		padding:20px 0; margin-top:20px;
	}
	.app #contentsIn .kakomi h2 { font-size:18px; font-weight:bold; padding-bottom:40px; position:relative;}
	.app #contentsIn .kakomi h2 span { color:#1aa1ff;}
	.app #contentsIn .kakomi h2:after {
		content:""; display:inline-block; width:120px; height:23px;
		background:url(../img/smp_parts.png) no-repeat -205px -140px;
		background-size:340px auto;
		position:absolute; bottom:5px; left:50%; margin-left:-60px;
	}
	.app #contentsIn .kakomi a { border:none;}
	.app #contentsIn .kakomi img { height:42px; margin:0 1px;}
/*notice*/
.notice #contentsIn { padding-top:0;}
.notice #contentsIn ul li { font-size:14px; line-height:1.5; border-top:solid 1px #ddd; padding:10px 0;}
.notice #contentsIn ul li:first-child{ border:none;}
.notice #contentsIn a { color:#444; border-color:#444;}
.notice #contentsIn li .date{
	color:#1aa1ff; font-weight:bold; font-size:12px;
	display:block; line-height:1.6; margin-bottom:3px;
}
/*notice_絞り込み*/
.notice #headings .selectBox { height:44px; position:relative; top:-46px; left:0; z-index:100;}
	.notice #headings .selectOpen {
		height:34px; font-size:16px; line-height:34px;
		text-align:left; cursor:pointer; padding:0 10px;
		white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
		position:absolute; top:7px; left:80px; z-index:100;
	}
	.notice #headings .selectOpen:before {
		content:""; display:inline-block; width:20px; height:15px; vertical-align:middle;
		background:url(../img/smp_parts.png) no-repeat -280px 0;
		background-size:340px auto; margin:-3px 5px 0 0;
	}
	/*list*/
	.notice #headings .selectBox ul {
		width:180px; text-align:left; background:#fff;
		box-shadow:rgba(0, 0, 0, 0.15) 0 3px 8px;
		position:absolute; top:42px; left:85px; display:none;
	}
	/*
	.notice #headings .selectBox ul:after {
		content:" "; position:absolute; bottom:100%; left:20%;
		border:solid transparent;
		border-color:rgba(255, 255, 255, 0); border-bottom-color:#f3f3f3;
		border-width:10px; margin-left:-10px;
	}
	*/
	.notice #headings .selectBox li { font-size:14px; border-top:1px solid #f3f3f3;}
	.notice #headings .selectBox li:first-child { border-top:none;}
	.notice #headings .selectBox li a { display:block; color:#1aa1ff; padding:14px 16px 14px 26px; position:relative;}
	.notice #headings .selectBox li a:hover { color:#fff; background:#1aa1ff;}
	.notice #headings .selectBox li a:before {
		content:""; display:block;
		width:6px; height:6px;
		border-top:1px solid #1aa1ff;
		border-right:1px solid #1aa1ff;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		position:absolute; top:50%; left:10px; margin-top:-3.5px;
	}
	.notice #headings .selectBox li a:hover:before { border-color:#fff;}

/*お知らせフラグ*/
#header .oshirase li .date span,
.notice #contentsIn .date span {
	display:inline-block; height:18px; font-size:10px; color:#fff; line-height:20px; vertical-align:bottom;
	border-radius:50px; padding:0 7px 0; background:#ccc; margin-right:8px;
	}
	#header .oshirase li .date.red, .notice #contentsIn .date.red { color:#f03e34;}
	#header .oshirase li .date.blue, .notice #contentsIn .date.blue { color:#1aa1ff;}
	#header .oshirase li .date.gray, .notice #contentsIn .date.gray { color:#7c7c8c;}
	#header .oshirase li .date.red span, .notice #contentsIn .date.red span { background:#f03e34;}
	#header .oshirase li .date.blue span, .notice #contentsIn .date.blue span { background:#1aa1ff;}
	#header .oshirase li .date.gray span, .notice #contentsIn .date.gray span { background:#7c7c8c;}

/*notice_詳細*/
.notice.detail #contentsIn .date { font-weight:bold; margin-bottom:10px;}
.notice.detail #contentsIn .date span { vertical-align:middle; margin-top:-3px;}
.notice.detail #contentsIn h2 {
	line-height:1.35; border-bottom:3px solid #1aa1ff;
	padding-bottom:10px; margin-bottom:20px;
}
.notice.detail #contentsIn p { font-size:14px;}
.notice.detail .back { font-size:12px; text-align:center;}
.notice.detail .back span:before {
	content:""; display:inline-block;
	width:6px; height:6px;
	border-top:1px solid #444;
	border-right:1px solid #444;
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
	transform:rotate(-135deg);
	vertical-align:middle; margin:-2px 4px 0 0;
}
.notice.detail #contentsIn .back { padding:20px 0;}
.notice.detail #headings { position:relative;}
.notice.detail #headings .back { position:absolute; top:17px; left:9em; z-index:100;}
.notice.detail #headings .back span { display:block;}
.notice.detail #headings .back a { color:#444;}

.notice .rellink{}
.notice .rellink a{
	display:block;
	border:solid 1px #c9c9c9 !important;
	padding:10px 10px 10px 26px !important;
	border-radius:6px;
	background:#fff url(/img/arr.png) 5px center no-repeat;
	background-size:auto 18px;
	color:#333;
	text-decoration:none;
	margin-top:10px;
	font-size:110%;
}
.notice .rellink a:hover{ background-color:#fcfcfc; }

/*mailmagazine*/
.mailmagazine #contentsIn { }
	.mailmagazine #contentsIn > p { font-size:15px; line-height:1.6; padding:0 10px 10px;}
	.mailmagazine #contentsIn > p.note { font-size:12px; padding-bottom:20px;}
	.mailmagazine #form { width:95%; padding-bottom:20px; margin:0 auto;}
	.mailmagazine #form .msg { font-size:14px; padding:20px; display:none;}
	.mailmagazine #form input[type="email"] {
		width:100%; line-height:1.5; font-size: 1.3em;
		font-family:helvetica; letter-spacing:0.03em; color:#262626;
		border:solid 3px #1aa1ff; border-radius:5px; outline:0;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		padding:8px 10px; margin:0 auto 10px;
	}
	.mailmagazine #form input[type="email"]::-webkit-input-placeholder { color:#3daaf6; opacity:1;}
	.mailmagazine #form input[type="email"]::-moz-placeholder { color:#3daaf6; opacity:1;}
	.mailmagazine #form input[type="email"]:-ms-input-placeholder { color:#3daaf6;}
	.mailmagazine #form input[type="email"]:focus::-webkit-input-placeholder { color:#ccc;}
	.mailmagazine #form input[type="email"]:focus::-moz-placeholder { color:#ccc;}
	.mailmagazine #form input[type="email"]:focus:-ms-input-placeholder { color:#ccc;}
	.mailmagazine #form button {
		display:block; width:50%; height:42px; line-height:41px; font-size:16px; color:#fff;
		background:#1aa1ff; border-radius:6px; border:none; outline:0;
		-webkit-box-shadow:none; box-shadow:none;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		cursor:pointer; margin:5px auto 0; position:relative; z-index:10;
	}
	.mailmagazine #form button:hover { background:#006bb5;}
	
	/*loader*/
	.loader { padding-top:12px;}
	.loader img { display:block; width:230px; margin:0 auto;}
	.success {
		width:90%; text-align:center;
		font-size:15px; padding:10px 0; margin:0 auto;
	}
	#form .msg{ font-size:15px; color:#e00; }

/*browserNA*/
#browserNA{ background:#3c3c3c;color:#fff;display:none;padding:20px;vertical-align:middle;font-size:110%;line-height:1.3; }
#browserNA a{ color:#1aa1ff;background:url(../img/arr_ie8.png) right center no-repeat;display:inline-block;padding-right:20px;white-space:nowrap; }
#browserNA a:hover{ text-decoration:underline; }

/*＠Slider
//////////////////////////////////////////////////////*/
.bx-wrapper { position:relative; margin:0 auto 60px; padding:0; *zoom:1; -ms-touch-action:pan-y; touch-action:pan-y;}
.bx-wrapper img { max-width:100%; display:block;}
.bxslider { margin:0; padding:0;}
.bx-viewport { -webkit-transform:translatez(0);}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto { position:absolute; bottom:-30px; width:100%;}
.bx-wrapper .bx-controls-direction a.disabled { display:none;}
/*none*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-caption,
.bx-wrapper .bx-controls-direction { display:none;}


/*＠Overlay
///////////////////////////////////////////////////////*/
.mfp-bg {
	width:100%; height:100%; background:#000;
	position:fixed; top:0; left:0; z-index:1042; overflow:hidden;
	opacity:0.3; filter:alpha(opacity=0.3);
}
.mfp-wrap {
	width:100%; height:100%; position:fixed; top:0; left:0; z-index:1043;
	outline:none !important; -webkit-backface-visibility:hidden;
}
.mfp-container {
	width:100%; height:100%; text-align:center;
	position:absolute; top:0; left:0;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.mfp-container:before { content:''; display:inline-block; height:100%; vertical-align:middle;}
.mfp-align-top .mfp-container:before { display:none;}
.mfp-content { width:100%; position:relative; display:inline-block; text-align:left; vertical-align:middle; margin:0 auto; z-index:1045;}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content { width:100%; cursor:auto;}
.mfp-ajax-cur { cursor:progress;}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor:-moz-zoom-out; cursor:-webkit-zoom-out; cursor:zoom-out;}
.mfp-zoom { cursor:pointer; cursor:-webkit-zoom-in; cursor:-moz-zoom-in; cursor:zoom-in;}
.mfp-auto-cursor .mfp-content { cursor:auto;}
.mfp-close, .mfp-arrow,
.mfp-preloader,
.mfp-counter { -webkit-user-select:none; -moz-user-select:none; user-select:none;}
.mfp-loading.mfp-figure { display:none;}
.mfp-hide { display:none !important;}
.mfp-preloader {
	position:absolute; top:50%; left:8px; right:8px; z-index:1044;
	width:auto; text-align:center; color:#ccc; margin-top:-0.8em;
	}
	.mfp-preloader a { color:#ccc;}
	.mfp-preloader a:hover { color:#fff;}
	.mfp-s-ready .mfp-preloader { display:none;}
.mfp-s-error .mfp-content { display:none;}
/*close/arrow*/
button.mfp-close, button.mfp-arrow {
	display:block; overflow:visible; cursor:pointer; border:0; outline:none;
	padding:0; text-indent:-9999px; z-index:1046;
	-webkit-box-shadow:none; box-shadow:none; -webkit-appearance:none;
	}
	button::-moz-focus-inner { padding:0; border:0;}
	/*close*/
	button.mfp-close {
		position:absolute; bottom:-30px; left:50%; z-index:1046;
	}
/*counter*/
.mfp-counter {display:none;}
/*IE*/
.mfp-ie7 .mfp-img { padding:0;}
.mfp-ie7 .mfp-bottom-bar { width:600px; left:50%; margin-left:-300px; margin-top:5px; padding-bottom:5px;}
.mfp-ie7 .mfp-container { padding:0;}
.mfp-ie7 .mfp-content { padding-top:44px;}
.mfp-ie7 .mfp-close { padding-top:0;}

/*///////////animation///////////*/
.mfp-zoom-in .mfp-content,
.mfp-zoom-in .mfp-arrow {
	opacity:0;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	-ms-transform:scale(0.8);
	-o-transform:scale(0.8);
	transform:scale(0.8);
}
.mfp-zoom-in.mfp-ready .mfp-content,
.mfp-zoom-in.mfp-ready .mfp-arrow {
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.mfp-zoom-in.mfp-removing .mfp-content,
.mfp-zoom-in.mfp-removing .mfp-arrow {
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	-ms-transform:scale(0.8);
	-o-transform:scale(0.8);
	transform:scale(0.8);
	opacity:0;
}
/*bg*/
.mfp-zoom-in.mfp-bg {
	opacity:0;
	-webkit-transition:opacity 0.3s ease-out;
	-moz-transition:opacity 0.3s ease-out;
	-o-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready.mfp-bg { opacity:0.3;}
.mfp-zoom-in.mfp-removing.mfp-bg { opacity:0;}

/*/////////////mailmagazine/////////////*/
/*
#mailmagazine {
	width:90%; background:#fff; text-align:center;
	padding-bottom:20px; position:relative; margin:40px auto;
	}
	#mailmagazine h1 { font-size:16px; color:#fff; background:#1aa1ff; padding:16px;}
	#mailmagazine > p { font-size:14px; line-height:1.6; padding:30px 10px 10px;}
	#mailmagazine #form { padding-bottom:20px;}
	#mailmagazine .msg { font-size:14px; padding:20px; display:none;}
	#mailmagazine input[type="email"] {
		width:85%; height:40px; line-height:38px; font-size: 1.3em;
		font-family:helvetica; letter-spacing:0.03em; color:#262626;
		border:solid 3px #1aa1ff; border-radius:5px;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		padding:5px 10px; margin:0 auto 10px;
	}
	#mailmagazine input[type="email"]::-webkit-input-placeholder { color:#3daaf6; opacity:1;}
	#mailmagazine input[type="email"]::-moz-placeholder { color:#3daaf6; opacity:1;}
	#mailmagazine input[type="email"]:-ms-input-placeholder { color:#3daaf6;}
	#mailmagazine input[type="email"]:focus::-webkit-input-placeholder { color:#ccc;}
	#mailmagazine input[type="email"]:focus::-moz-placeholder { color:#ccc;}
	#mailmagazine input[type="email"]:focus:-ms-input-placeholder { color:#ccc;}
	#mailmagazine .btn {
		width:40%; height:40px; line-height:38px; font-size:14px; color:#fff;
		background:#1aa1ff; border-radius:5px; border:none;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		cursor:pointer; margin-top:2px;
	}
	#mailmagazine .btn:hover { background:#006bb5;}
*/
	/*loader*/
	#mailmagazine .loader { padding-top:12px;}
	#mailmagazine .loader img { display:block; width:230px; margin:0 auto;}
	
	#mailmagazine .success {
		width:550px;
		font-size:16px; border-radius:4px; padding:10px 0; margin:0 auto;
	}

/*＠TOP Overlay
///////////////////////////////////////////////////////*/
#overlaybg {
	width:100%; height:100%;
	position:fixed; top:0; left:0; z-index:1042;
	overflow:hidden;
	background:rgba(0, 0, 0, 0.8);
}
#overlay {
	width:100%; height:100%;
	position:absolute; top:0; left:0; z-index:1043;
	outline:none !important; -webkit-backface-visibility:hidden;
}
#overlaycontainer {
	width:100%; height:100%; text-align:center;
	position:absolute; top:0; left:0;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
#overlaycontainer:before { content:''; display:inline-block; height:100%; vertical-align:middle;}
#overlay .inbox { width:95%; display:inline-block; vertical-align:middle; margin:40px auto; position:relative; z-index:1045;}
/*btn*/
#overlay .btn {
	display:inline-block; width:90%; height:48px; line-height:50px;
	font-size:20px; font-weight:bold; color:#204469;
	background:#fff; border-radius:10px; position:relative;
	}
	#overlay .btn:after {
		content:""; display:block; width:12px; height:12px;
		border-top:2px solid #204469; border-right:2px solid #204469;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
		position:absolute; top:50%; right:40px; margin-top:-6.5px;
	}
	/*
	#overlay .btn:hover { color:#fff; background:#1aa1ff;}
	#overlay .btn:hover:after { border-color:#fff;}
	*/
#overlay .close {
	display:inline-block; width:36px; height:36px;
	text-indent:-9999px; cursor:pointer;
	background:url(../img/close.png) no-repeat;
	background-size:contain;
	position:absolute; top:-20px; right:-5px;
}
/*checkbox*/
#overlay .ckbtn { padding:16px 0 16px 10px;}
#overlay input[type=checkbox] { display:inline-block; margin-right:6px;}
#overlay input[type=checkbox] + label {
	display:inline-block; font-size:14px; font-weight:bold; color:#fff; line-height:30px;
	margin-right:12px; position:relative; cursor:pointer;
}
@media (min-width:1px) {
	#overlay input[type=checkbox] { display:none; margin:0;}
	#overlay input[type=checkbox] + label { padding:0 0 0 28px;}
	#overlay input[type=checkbox] + label::before {
		content:""; display:block; width:18px; height:18px;
		background:#fff; border-radius:5px;
		position:absolute; top:50%; left:0; margin-top:-9px;
	}
	#overlay input[type=checkbox]:checked + label::before { background:#1aa1ff;}
	#overlay input[type=checkbox]:checked + label::after {
		content:""; display:block; width:10px; height:5px;
		position:absolute; top:50%; left:4px; margin-top:-5px;
		border-left:2px solid #fff; border-bottom:2px solid #fff;
		-webkit-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
}
#overlaybg,#overlay{display:none;}

/*/////////////campaign/////////////*/
#campaign h1 {
	width:100%; height:0; padding-top:104.8%; text-indent:-9999px;
	margin-bottom:16px;
}
