img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index:-99;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.dividertext{
	font-size: 18px;
	font-family: 'ascLato', sans-serif;
	font-weight: normal;
	color: #888;	
	padding:10px;
	float:left;
	padding-top:27px;
}

.divider{
	float:left;
	background:url('../images/divider.png') no-repeat center center;
	height:80px;
	width:30px;
	position:relative;	
}

.tt_formbox
{
	background-color:#fafafa;	
	border:1px solid #bbb;

}


.tt_formboxheader
{
	background-color:#5fb7e7;
	color:#fff;	
	width:100%;
	font-size:18px;
	/*font-family: 'ascLato', sans-serif;*/
}

.tt_fixedheightpart
{
	min-height:250px;
	padding:0px;
	margin:0px;
}

.tt_forminside
{
	padding:10px;	
}

.buttonrow{
	padding-top:50px;
}

.tt_forminside fieldset
{
	margin:20px 0px 20px 0px;
    border:1px solid #ddd;
}

.tt_forminside button
{
	margin:10px;
	padding:10px;
	float:right;
}

.tt_formheader
{
	padding:10px 10px 13px 10px;
	float:left;
}

.tt_formelementWrapper
{
 	float:left;
}

.tt_formelement
{
	padding: 0px 15px 0px 15px;
}

.tt_formelement label
{
 /*width:160px;*/
 display:block;
 padding:12px 0px 8px 0px;
 font-weight:500;
 color:#000;
 font-size:13px;
}

.tt_formelement input
{
	border:0; 
	font-size:13px;
	padding:7px;
	margin:-7px;
	color:#1465ab; 
	border:solid 1px #eee; 
	width:100%;
}

.tt_formelement select
{
	border:0; 
	font-size:13px;
	padding:6px;
	margin:-7px;
	color:#1465ab; 
	border:solid 1px #eee; 
	width:108%;
}

.tt_priceinfo{
	padding:10px 10px 13px 10px;
	float:right;
}

.paymentboxWrapper
{
	padding:2px;
	margin:5px;
}

.paymentbox{
	border:1px solid #bbb;
	background-color:#fff;
	cursor: pointer;
	display:table;
	width:100%;
}

.paymentbox div{
	display:table-cell;
	vertical-align:middle;
}

.paymentbox img{
	display:table-cell;
	vertical-align:middle;
	float:left;
	margin-top:-7px;
}

.tt_extrarow div
{
	padding:10px;	
	vertical-align:middle;
	display:table-cell;
}

.tt_paymentcaption
{
	color: rgb(44, 147, 227);
	font-family: Lato, sans-serif;
	font-size: 18px;
	padding:2px 15px 2px 15px;
	width:200px;
}



.tt_miniicon{
	margin-right:10px;	
}

@-webkit-keyframes anim-rotate {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes anim-rotate {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.tt_loaderbox
{
	color:#0e7ca6;
	float:right; padding:10px; margin:10px;
	display:none;
}

.tt_spinner{
	display:inline-block;
	float:right;
	font-size:20px;
	height: 1em;
	line-height: 1;
	margin:0px 0px 0px 5px;
	-webkit-animation: anim-rotate 2s infinite linear;
	animation: anim-rotate 2s infinite linear;
	text-shadow: 0 0 .25em rgba(255,255,255, .3);
}

.clickable{

cursor:pointer;
	
}

.greyhover{
	
}

.greyhover:hover{

	color:#333;
	
}

a   {
	color:#555;
  	text-decoration: none;
}


a:hover   {

  	text-decoration: underline;
}

 .wrapper {
	min-height:100%;
	position:relative; 
	z-index:0;
 }
 
 
 
.header {
 	width: 900px;
	margin: 0 auto;
  
}


.ppadder{
	text-align:justify;
	padding:0px 0px 12px 0px;	
}

#contentbox {
	position:relative;
	  width: 990px;

	margin: 0 auto;
	padding: 0px;
	padding-bottom: 200px; 
	

}
	
	
	.content {
		width: 990px;
	border: 0px solid #c0c0c0;
   background-color: #FFF;
	margin: 0 auto;
			-webkit-box-shadow:0 0 4px rgba(0,0,0,.3);
	   -moz-box-shadow:0 0 4px rgba(0,0,0,.3);
	        box-shadow:0 0 4px rgba(0,0,0,.3);
          ; 
}

	
	
	
.hlavneokno	  {  
	                 		margin: 0 auto;
	                 	min-height:500px; 
	                 		width: 900px;
 }

.tt_fulldiv{
	width:94%; float:left; padding:0 3% 0 3%;
	} 

 

 
 


#spodnemenu li {display: inline;
list-style-type: none;
border-right: 1px solid;
  margin-right:.5em;
   padding-right:.5em;
}



.spodnemenu  {
	clear:right;
	position:relative;
	right:0px;
	width: 400px;
	float: right;
	height: auto;
	text-align: right;
	margin-top: 50px;
	padding: 0;
	top:00px;
    color: #888;
	
}
.spodnemenu a {

	color: #888;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;

}

.spodnemenu a:hover {
	
	color: #fff;
}






hr {
    position:relative;
   border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	clear:both;
	top:0px;
}



.languageselect {
	position: relative;
	float: right;
  top: 10px;                  
 	font-size: 10px;
	margin-right: 10px;
	padding-left: 2px;
	padding-right: 2px;
	
	text-align: right;
	color: #666;

}





.popis_left {
	color: #555555;
  font-size: 26px;
font-family: 'Lato', sans-serif;
 	font-weight: 900;
}


.popistext_left {
	color: #555555;
	font-size: 13px;
font-family: 'Lato', sans-serif;
}



.popis {
	text-align: right;
	color: #555555;
  font-size: 28px;
font-family: 'Lato', sans-serif;
 	font-weight: 900;

}


.popistext {
	text-align: right;
	color: #8B8B8B;
	font-size: 14px;
font-family: 'Lato', sans-serif;

}

ul{
	margin: 0;
	padding: 0;
}

ul li{
	margin:0px;
	font-size:12px;
	color:#808080;
}

.buttonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:#ccc;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
}
.buttonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}


/* blue */
.blue {
	color: #ffffff;
	border: solid 1px #0076a3;
	background: #2c93e3;

}
.blue:hover {
	background: #2377b8;

}

/* blue */
.grey {
	color: #ffffff;
	border: solid 1px #707070;
	background: #a3a3a3;

}

/* button 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: baseline;
	margin: 20px 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	/*font-family: 'Lato', sans-serif;*/
	/*font-weight: 900;*/
	padding: .4em 1em .4em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
}

.button:hover {
	text-decoration: none;
}


.tt_paymentbutton{
	padding:10px;
	margin:7px 20px 7px 20px;
	float:right;
}

.trial {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	text-shadow: 0 0px 0px rgba(0,0,0,.2);
	width: 200px;
	color: #666666;
	margin: 8px 10px 10px 8px;
	height:73px;
	padding-top:8px;
	background-image: url(images/kolesa.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.trial:hover {
	color: #2c93e3;
	background-color: #FFF;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
	-moz-box-shadow:    inset 0 0 0 3px #666666;
	-webkit-box-shadow: inset 0 0 3px #666666;
	box-shadow:         inset 0 0 3px #666666;
	background-image: url(images/kolesa_over.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.menu_text {
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}

.mainmenu  {
	width: 100%;
	background-color: #FFF;
	height: 100px;
	color: #dddddd;
	background-image: url(images/menubgblue.png);
	background-repeat: repeat-x;
}

.menu1 {
	left: 200px;
	width: 150px;
	color: #555555;
	border: 0px solid #fff;
	margin: 10px;
	text-align: center;
	font-size: 10px;
}

.menu_nadpis {
	font-size:12px;
	font-family: 'Lato', sans-serif;
	margin-top:5px;
}
	
img
{
	border-style: none;
}

.sipka{
	background-image:url(images/sipka.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center top; 
}

.separator{
	background-image:url(images/separator.png);
	background-repeat:no-repeat;
	height:73px;
	width: 3px;
	margin: 10px 0px 0px 0px;
}

.winapple{
	background-image:url(images/winapple.png);
	background-repeat:no-repeat;
	height:30px;
	width: 120px;
	margin: 0px 0px 0px 0px;
}

.features_separator {
	background-color: #FFF;
	width: 990px;
	margin: 0 auto;
	padding: 0px;
	height:20px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#contentbox2 {
	background-color: #FFF;
	width: 990px;
	margin: 0 auto;
	padding: 0px;
	margin-bottom:10px;
	-webkit-box-shadow:0 0 4px rgba(0,0,0,.3);
	-moz-box-shadow:0 0 4px rgba(0,0,0,.3);
	box-shadow:0 0 4px rgba(0,0,0,.3);
}

#footer {
	background-color: #000;
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	margin-top:10px;
}

.footer_box {
	margin: 0 auto;
	border: 0px solid #c0c0c0;
	width: 990px;
	height: 1%; overflow: hidden;
	margin-top:10px;
}

.footer_box p {
	font-size:15px;
	padding:0px;
	color:#aaa;
}

.footer_heading {
	color:#fff;
	font-size: .95em;
	text-transform: uppercase;
	font-weight:bold;
	float:right;
	border: 0px solid #c0c0c0;
	width: 400px;
	padding:10px 10px 0px 10px;
	text-align:right;
}

.footer_text {
	font-size:12px;
	float:right;
	border: 0px solid #c0c0c0;
  	width: 400px;
	padding:2px 10px 10px 10px;
	clear:right;
	color:#cccccc;
	text-align:right;
}

.footer_heading2 {
	color:#fff;
	font-size: .95em;
	text-transform: uppercase;
	font-weight:bold;
	clear:left;
	border: 0px solid #c0c0c0;
	width: 400px;
	padding:10px 10px 0px 10px;
}

.footer_text2 {
	font-size:12px;
	border: 0px solid #555555;
	width: 400px;
	padding:2px 10px 10px 10px;
	clear:left;
	color:#888;
}

.asc{
	font-size:24px;
	color:#C00;
	font-weight:bold;
}
	
#muchmorebox2 {
	width: 990px;
	margin: 0 auto;
	padding: 0px;
	margin-top:10px;
}
	
.muchmore_box {
	margin: 0 auto;
	border: 0px solid #c0c0c0;
	width: 600px;
	height: 1%; overflow: hidden;
	margin-top:10px;
}


.muchmore_heading {
	font-family: 'Lato', sans-serif;
	color:#2c93e3;
	font-size:18px;
	font-weight:bold;
	border: 0px solid #c0c0c0;
	padding:10px 10px 0px 10px;
	text-align:center;
}

.muchmore_text {
	font-size:12px;	
	border: 0px solid #c0c0c0;
	padding:2px 10px 10px 10px;
	text-align:center;
}  

.order {
	height:422px;
}

.support {
	height:422px;
	background-image:url('../images/contactOBR.jpg'); background-repeat:no-repeat;     
}

.download {
	height:422px;
}

.styled-select select {
	background: url(../images/new_arrow.png) no-repeat right ; 
	padding: 0px;
	font-size: 10px;
	height: 20px;
	-webkit-appearance: none;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.logo a{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.logo a:hover{
	text-decoration: none;
}

.logotimetable {
	font-size: 30px;
	color:#106BB3;
}

.logoasc {
	font-size: 20px;
	color:#F00;
}

#footer h3{
	margin-top:20px;
	font-weight: 300;
	font-family: roboto;
	color: #fff;
	font-size:20px;
	padding-left:8px;
}

#footer ul{
	list-style-type: none;
}

#footer li{
	font-size:16px;
	padding-left:8px;
}

#footer a{
	color:#ccc;
}

#footer hr{
	border:0px;
	border-top: #555 dashed 1px;
}