.pricingcheck_gray
{
	background:url('../images/check_gray.png') no-repeat center center;
	background-position-y:30%;
}

.pricingcheck_text
{
	background:url('../images/check.png') no-repeat center center;
	background-position-y:30%;
}

.superred
{
	color:#F00;
	font-size:15px;	
}

.slider_details {
	float:right;
	clear: right;
}

.slider_details p {
	text-align:right;
	padding:0px;
}

.slider_header{
	float:right;
	clear: right;
	margin-top:30px;
}

.slider_header h2{
	text-align:right;
}

#sliderFrame {
    margin: 0 auto;
    border-radius: 0px 0px 0 0;
}

.etabs { 	
	height: 100px;	 
	text-align:center;  
	font-size:12px; 
	padding:2px;
}

.etabs li{
	background-repeat:no-repeat;
	background-position:center 4px;
	width: 19%;
	height:90px;
	margin: 5px 2px 10px 2px;
	display: inline-block;
	*display:inline;
	vertical-align: top;
	font-family:roboto;
}

.etabs li .featuretext {
	height:90px;
	line-height: 6px;
	display: block;
	padding: 63px 10px 0px 10px;
	outline: none;
	color: #f2f0e9;
	font-family: 'Roboto', sans-serif; 
}

.featuretext .featureheader
{
	font-size: 17px;
	font-weight:400;
}

.featuretext .featuredetail
{
	font-size: 12px;
	line-height:25px;
}

.panel-container {
	margin-bottom: -15px;
	border: solid #666 0px;
	padding:0px;
	background: url(../images/featuresbarcb.png) no-repeat 0px 515px;
}

.features_box {
	margin:250px 20px;
	height:315px;
}

.textibox{
	display:table;	
	font-size:14px;
	color:#747474;
	font-weight:500;
	padding:10px 0px;
}

.textibox div{
	margin-bottom: 5px;
}

.textibox .testitext{
	display:table-cell;
	width:410px;
	padding: 10px 90px 10px 60px;	
	font-style:italic;
	vertical-align:middle;
	font-weight:400;
	position:relative;
	color:#bbb;
}

.textibox img{
	display:table-cell;
}

.textibox .testicontactbox{
	display:table-cell;
	vertical-align:middle;
}

.textibox .testicontactbox .testiname{
	color:#fff;
	line-height:4px;
}

.standardpadding{
	padding: 5px 50px 10px 50px;	
}

#featuresbox h3{
	font-weight:200;
	color:#eee;	
	font-family: 'Roboto', sans-serif;
	font-weight:200;
}

#featuresbox .ascsg_miniicon
{
	font-size: 34px;
	float: left;
	height: 59px;
	color:#ddd;
	padding-top: 10px;
	margin-bottom:-5px;
	width: 42px;	
	text-align:center;
}

#langinfobox tr td
{
	padding:3px;
}

#langinfobox tr td span
{
   margin:0px;
   font-family: 'Droid Serif', serif;
   font-size:12px;
   color:#808080;
}

#langinfobox tr td img
{
	box-shadow: 0px 0px 5px #888888;
}

.tt_leftHalfButton
{
	display:block; float:left; margin:0px; border-bottom-right-radius:0px; border-top-right-radius:0px; border-right:0px; box-shadow:none;
	padding:10px;
}

.tt_rightHalfButton
{
	display:block; float:left;  margin:0px; border-bottom-left-radius:0px; border-top-left-radius:0px; border-left:0px; box-shadow:none;
	padding:5px 0px 15px 12px;
	border-left:1px solid #0076a3;
}

.pricing_planname{
	font-size:18px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #2780af;
}

.pricing_plantagline{
	font-family: 'Droid Serif', serif;
	font-size:13px;
	color: #a7a7a7;
	padding-top:8px;
	font-weight: normal;
}

.pricingtable{
	border-collapse:collapse;
	width:100%;
}

.pricingtable td{
	padding:15px;
	text-align:center;
	border:1px solid #ddd;
}

.pricingtd
{
	font-family: 'Droid Serif', serif;
	color:#333;
	font-weight: normal;
	font-size:13px;
	text-shadow: rgb(255, 255, 255) 1px 1px 1px;
}

.pricetd{
	height:30px;
	background-color:#f5f5f5;
}


.pricingprice{
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	font-size:36px;	
	color:#555;

}

.pricing_tableheader{
	vertical-align:top;	
	padding-top:50px;
}

.testiCountry{
line-height: 1px;
color: #888;	
}

.testischool{
	color: #bbb;	
}