@font-face
{
	font-family: ascLato;
	font-style: normal;
    font-weight: 400;
	src: url('../fonts/ascLato-Reg.ttf'),
		 url('Sansation_Light.eot'); /* IE9 */
}

@font-face {
  font-family: ascLato;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/ascLato-Bla.ttf'),
	   url('Sansation_Light.eot'); /* IE9 */
}

html,
body {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	margin:0;
	padding:0;
	height:100%; 
}

#ttMainPH{
	clear:both;	
}

.sig_closebutton{
	position: absolute;
	right: -21px;
	top: -1px;
	background-image:url(../images/close.png);
	width:50px;
	height:50px;
	cursor:pointer;
}

.sig_closebutton:hover{
	background-image:url(../images/close_hov.png);
}

#modal_overlay{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:#000;
	display:none;
	opacity:0.5;
	z-index:19;
}

a {
	color: #2c93e3;
}

p {
	font-size: 16px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	margin:0px;
    color:#5b6064;
	padding-bottom:12px;
}

p::selection {
	background: #e04e3b;
	color:#fff;
}

p::-moz-selection {
	background: #e04e3b;
	color:#fff;
}

h1{
	font-size: 50px;
	font-family: 'ascLato', sans-serif;
 	font-weight: 900;
	color:#2c93e3;
	border: 0px solid #c0c0c0;
	padding:0px;
	margin:20px 0px 12px 0px;
	line-height:46px;
}

h2{
	color: #555555;
	font-size: 28px;
	font-family: 'ascLato', sans-serif;
	font-weight: 900;
	margin:0px;	
}

h3{
	color:#2c93e3;
	font-size: 28px;
	font-family: 'ascLato', sans-serif;
	font-weight: 900;
	margin:0px;	
}

h4{
	font-weight: 200;
	font-family: roboto;
	margin-bottom: -36px;
	font-size: 66px;	
	color:#2c93e3;
	margin-top:3px;
}

h5{
	font-family: roboto;
	font-weight: 100;
	font-size: 20px;
}

.ascsg_topMenu {
	position:relative;
	bottom:-0px;
	border-bottom:1px solid #abc;
}

.ascsg_secondaryMenu {
	border-bottom:0px;
	color: #2c93e3;
}

.ascsg_secondaryMenu a{
	color: #acacac!important;
}

.ascsg_topMenu a{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ascsg_secondaryMenu a:hover{
	color: #000!important;
}

.ascsg_topMenu li {
	display: inline;
	list-style-type: none;
	padding-right: 8px;
	font-family: 'ascLato', sans-serif;
	 
}

.ascsg_topMenu_Wrapper {
	clear:right;
	position:relative;
	right:0px;
	width: 600px;
	float: right;
	height: 22px;
	text-align: right;
	margin: 0;
	padding: 0;
	top:13px;
	bottom:-10px;
	z-index:99;
}

.ascsg_scrollarrow {
	background: url(../images/uparrow.png) no-repeat center center;
	width: 80px;
	height: 81px;
	background-color: #fff;
	border-radius: 15px 0px 0px 15px;	
	box-shadow: #111 0px 2px 7px;
	z-index: -1;
}

.ascsg_scrollarrow:hover{
	background-color: #dff3ff;
}

.ascsg_topMenu a {
    text-transform:uppercase;
	color: #808080;
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
}

.ascsg_topMenu a:hover {
	color: #454545;
}

.ascsg_1_8, .ascsg_2_8, .ascsg_3_8, .ascsg_4_8, .ascsg_5_8, .ascsg_6_8, .ascsg_7_8, .ascsg_8_8{
	float:left;
	padding:0 3% 0 3%;
	position:relative;
}

.ascsg_1_8{	width:9.5%;}
.ascsg_2_8{	width:19%;}
.ascsg_3_8{	width:31.5%;}
.ascsg_4_8{	width:44%;}
.ascsg_5_8{	width:56.5%;}
.ascsg_6_8{	width:69%;}
.ascsg_7_8{	width:82.25%;}
.ascsg_8_8{	width:94%;}

.off_1_8{ margin-left:12.5%;}
.off_2_8{ margin-left:25%;}
.off_3_8{ margin-left:37.5%;}
.off_4_8{ margin-left:50%;}
.off_5_8{ margin-left:62.5%;}
.off_6_8{ margin-left:75%;}
.off_7_8{ margin-left:87.5%;}
.off_8_8{ margin-left:100%;}

.g_1_8, .g_2_8, .g_3_8, .g_4_8, .g_5_8, .g_6_8, .g_7_8, .g_8_8{
	float:left;
}

.g_1_8{	width:12.5%;}
.g_2_8{	width:25%;}
.g_3_8{	width:37.5%;}
.g_4_8{	width:50%;}
.g_5_8{	width:62.5%;}
.g_6_8{	width:75%;}
.g_7_8{	width:87.5%;}
.g_8_8{	width:100%;}

.ascsg_contentPadder{
	padding:10px 40px 40px 40px	
}

.ascsg_padderGrey
{
	background-color:#363636;
}

.ascsg_padderGrey h1, .ascsg_padderGrey h2, .ascsg_padderGrey h3, .ascsg_padderGrey p
{
	color:#eee;
}

.ascsg_padderGrey label
{
	color:#eee;
	font-weight:400;
	padding-top:20px;
}

.ascTable_firstrow{
	font-family: 'Roboto', sans-serif;
	color:#333;
	font-weight: normal;
	font-size:13px;
	text-shadow: rgb(255, 255, 255) 1px 1px 1px;
}

.ascTable{
	border-collapse:collapse;
	width:100%;
}

.ascTable td{
	padding:15px;
	font-size:14px;
	text-align:center;
	border:1px solid #ddd;
	font-family: 'Roboto', sans-serif;
}

.pricingcheck
{
	background:url('../images/check.png') no-repeat center center;
}

.depricingcheck
{
	background:url('../images/decheck.png') no-repeat center center;
}

.pricingcheck_text
{
	background:url('../images/check.png') no-repeat center center;
	background-position-y:30%;
}

.depricingcheck_text
{
	background:url('../images/decheck.png') no-repeat center center;
	background-position-y:30%;
}

.pricinginfinite
{
	background:url('../images/infinite.png') no-repeat center center;
}

.pricingcross
{
	background:url('../images/cross.png') no-repeat center center;
}

.ascsg_catchytext{
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size:36px;	
	color:#555;	
}

.ascsg_visibleFont{
	font-size:18px;
	font-family: 'ascLato', sans-serif;
	font-weight: normal;
	color: #2780af;	
}

.ascsg_tagline{
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	color: #a7a7a7;
	padding-top:8px;
	font-weight: normal;	
}

.ascsg_miniicon{
	margin-right:10px;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;	
}

.ascLogo
{
	color:#F00;
	text-shadow: rgb(255, 255, 255) 1px 1px 1px;	
}

.dividerRight
{
	border-right:1px solid #CCC;
	margin-right:-1px;	
}

.ascsg_smallerfont, .ascsg_smallerfont div{
	font-size:13px;
	font-family: 'Roboto', sans-serif;
	margin-bottom:12px;
}

#langbox
{
	float:right; padding-top:4px ; padding-right:15px
}


.textibox{
	display:table;	
	font-size:14px;
	color:#747474;
	font-weight:500;
	padding:10px 0px;
}

.textibox div{
	margin-bottom: 5px;
}

.textibox .testitext{
	display:block;
	float:left;
	width:410px;
	padding: 10px 90px 10px 60px;	
	font-style:italic;
	vertical-align:middle;
	font-weight:400;
	position:relative;
	color:#bbb;
}

.textibox img{
	display:table-cell;
}

.textibox .testicontactbox{
	display:table-cell;
	vertical-align:middle;
}

.textibox .testicontactbox .testiname{
	color:#fff;
	line-height:4px;
}

.lefttick{
	position:absolute; left:26px; top:5px;
}

.righttick{
	position:absolute; right:62px; bottom:2px;
}

.testicomment{
	padding-top:14px;
	text-align:justify;
}

.testiimg{
	display:table-cell;
	vertical-align:middle;	
}

.darkhover:hover
{
	color: #2c93e3;	
}

.testiCountry{
line-height: 1px;
color: #888;	
}

.testischool{
	color: #bbb;	
}

.clear{
	clear:both;
}

/*** Margin ***/
.m-auto {margin:auto;}
.m-0 {margin:0 !important;}
.m-5 {margin:5px !important;}
.m-10 {margin:10px !important;}
.m-20 {margin:20px !important;}
/*** Margin Top ***/
.m-t-0 {margin-top:0px !important;}
.m-t-5{margin-top:5px !important; }
.m-t-10{margin-top:10px !important;}
.m-t-20{margin-top:20px !important;}
.m-t-30{margin-top:30px !important;}
.m-t-60{margin-top:60px !important;}
/*** Margin Bottom ***/
.m-b-0 {margin-bottom:0px !important;}
.m-b-5 {margin-bottom:5px !important;}
.m-b-6 {margin-bottom:6px !important;}
.m-b-10 {margin-bottom:10px !important;}
.m-b-20 {margin-bottom:20px !important;}
.m-b-30 {margin-bottom:30px !important;}
.m-b-40 {margin-bottom:40px !important;}
.m-b-60 {margin-bottom:60px !important;}
.m-b-80 {margin-bottom:80px !important;}
.m-b-245 {margin-bottom:245px !important;}
.m-b-m30 {margin-bottom:-30px !important;}
.m-b-m50 {margin-bottom:-50px !important;}
/*** Margin Left ***/
.m-l-5 {margin-left:5px !important;}
.m-l-10 {margin-left:10px !important;}
.m-l-20 {margin-left:20px !important;}
.m-l-30 {margin-left:30px !important;}
.m-l-60 {margin-left:60px !important;}
/*** Margin Right ***/
.m-r-5 {margin-right:5px !important;}
.m-r-10 {margin-right:10px !important;}
.m-r-20 {margin-right:20px !important;}
.m-r-30 {margin-right:30px !important;}
.m-r-60 {margin-right:60px !important;}
/*** Padding ***/
.p-0 {padding:0 !important;}
.p-5 {padding:5px !important;}
.p-10 {padding:10px !important;}
.p-15 {padding:15px !important;}
.p-20 {padding:20px !important;}
.p-30 {padding:30px !important;}
.p-40 {padding:40px !important;}
/*** Padding  Top ***/
.p-t-0 {padding-top:0 !important;}
.p-t-10 {padding-top:10px !important;}
.p-t-20 {padding-top:20px !important;}
.p-t-40 {padding-top:40px !important;}
.p-t-50 {padding-top:50px !important;}
/*** Padding  Bottom ***/
.p-b-0 {padding-bottom:0 !important;}
.p-b-10 {padding-bottom:10px !important;}
.p-b-20 {padding-bottom:10px !important;}
.p-b-30 {padding-bottom:30px !important;}
.p-b-40 {padding-bottom:30px !important;}
/*** Padding  Left ***/
.p-l-5 {padding-left:5px !important;}
.p-l-10 {padding-left:10px !important;}
.p-l-20 {padding-left:20px !important;}
.p-l-30 {padding-left:30px !important;}
/* Padding  Right ***/
.p-r-5 {padding-right:5px !important;}
.p-r-10 {padding-right:10px !important;}
.p-r-20 {padding-right:20px !important;}
.p-r-30 {padding-right:30px !important;}

.h-10{height: 10px !important;}
.h-20{height: 20px !important;}
.h-30{height: 30px !important;}
.h-40{height: 40px !important;}
.h-60{height: 60px !important;}
.h-120{height: 120px !important;}

.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}

/****  Font Size  ****/
.f-12{font-size:12px !important;}
.f-14{font-size:14px !important;}
.f-15{font-size:15px !important;}
.f-16{font-size:16px !important;}
.f-18{font-size:18px !important;}
.f-20{font-size:20px !important;}
.f-24{font-size:24px !important;}
.f-32{font-size:32px !important;}
.f-60{font-size:60px !important;}
.f-65{font-size:65px !important;}
.f-80{font-size:80px !important;}
.f-150{font-size:150px !important;}

.extra_pricing h2{
	font-family: Roboto!important;
	font-weight: 100;
	margin-top: 28px;
}

.extra_pricing p{
	padding-bottom:2px;
	font-size:14px;
}

.extra_pricing .extraprice{
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	font-size:36px;
	color:#ddd;
	padding-top:10px;
	width:90px;
	text-align: right;
}

.extra_pricing .ag_extrarow{
	display:table;
	width: 100%;
	border-bottom:1px solid #ddd;
}

.extra_pricing .extrabutton{
	position:relative;
	/*top:-3px;*/
	margin:7px;
	width:100px;
}

.extra_pricing a:hover{
	text-decoration: none!important;
}

.extra_pricing .extradescription{
	/*width:600px;*/
	padding-right:50px;
	color:#ddd;
}

.extra_pricing input{
	padding: 9px;
	width: 100%;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	border: 0px;
	text-align: center;
	font-size: 18px;
	font-family: 'Droid Serif', serif;
	outline: none
}

.clickableRow{
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.clickableRow td{
	color: #2a80c9!important;
}

.clickableRow:hover{
	background-color: #EAF2FA;
}