@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
	content: "\e600";
}
.icon-fastdown:before {
	content: "\e608";
}
.icon-home:before {
	content: "\e609";
}
.icon-book:before {
	content: "\e605";
}
.icon-calendar-alt-fill:before {
	content: "\e60a";
}
.icon-search:before {
	content: "\e615";
}
.icon-keyboard:before {
	content: "\e616";
}
.icon-office:before {
	content: "\e617";
}
.icon-globe:before {
	content: "\e61c";
}
.icon-arrow-right:before {
	content: "\e601";
}
.icon-arrow-left:before {
	content: "\e602";
}
.icon-earth:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e60b";
}
.icon-pencil:before {
	content: "\e60c";
}
.icon-chat:before {
	content: "\e60d";
}
.icon-camera:before {
	content: "\e60e";
}
.icon-envelope:before {
	content: "\e61e";
}
.icon-shopping-cart:before {
	content: "\e604";
}
.icon-group:before {
	content: "\e60f";
}
.icon-food:before {
	content: "\e610";
}
.icon-user-md:before {
	content: "\e613";
}
.icon-lightbulb:before {
	content: "\e618";
}
.icon-wrench:before {
	content: "\e619";
}
.icon-plus-sign:before {
	content: "\e61f";
}
.icon-credit:before {
	content: "\e620";
}
.icon-print:before {
	content: "\e621";
}
.icon-thumbs-up:before {
	content: "\e606";
}
.icon-thumbs-down:before {
	content: "\e607";
}
.icon-address-book:before {
	content: "\e611";
}
.icon-megaphone:before {
	content: "\e614";
}
.icon-brush:before {
	content: "\e61a";
}
.icon-phone:before {
	content: "\e61b";
}
.icon-satellite:before {
	content: "\e61d";
}
.icon-clock:before {
	content: "\e612";
}
