small { display: block; font-size: 12px; font-style: italic; margin-bottom: 35px; }

/** main body content **/

/** form stuff */
form { display: block; padding-bottom: 0px; }
form label { font-size: 12px; font-weight: bold; color: #4a4a4a; display: block; margin-bottom: 0px; }

form .err { color: #fff; background: #9d5050; border-radius: 4px; display: none; position: absolute; right: 400px;  padding: 4px 7px; }
form .capter {  }
form .txarea { }
form .topp {  }

form #captchaimg { display: block; border: 0px solid #a1a1a1; margin-bottom: 7px; }

form .sendbtn { display: block; font-size: 20px; padding: 3px 6px; }

form .textinput { display: block; outline: none; width: 360px; border: 1px solid #ddd; padding: 2px 3px; margin-bottom: 10px; font-size: 12px; color: #888;  background-color: #e8f4fd; border-radius: 6px; }
form .textcaptcha { display: block; outline: none; width: 360px; border: 1px solid #ddd; padding:2px 3px; margin-bottom: 00px; font-size: 12px; color: #888;  background-color: #e8f4fd; border-radius: 6px; }
form .textinput:focus, form .textcaptcha:focus { color: #565656; border-color: #c6c6c6; }

form .msgtextarea { display: block; outline: none; font-size: 12px; padding: 2px 3px; resize: none; width: 360px; height: 130px; border: 1px solid #ddd; color: #888; margin-bottom: 10px; background-color: #e8f4fd;  border-radius: 6px; }
form .msgtextarea:focus { color: #565656; border-color: #c6c6c6; }


form a.btn {
background-color: #eee;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
background-image: -webkit-linear-gradient(top, #eee, #ccc);
background-image: -moz-linear-gradient(top, #eee, #ccc);
background-image: -ms-linear-gradient(top, #eee, #ccc);
background-image: -o-linear-gradient(top, #eee, #ccc);
background-image: linear-gradient(top, #eee, #ccc);
border: 1px solid #ccc;
border-bottom: 1px solid #bbb;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #333;

font-weight: bold;
text-decoration: none;
padding: 12px 22px;
text-align: center;
text-shadow: 0 1px 0 #eee;
}

form a.btn:hover { 
background-color: #ddd;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #bbb));
background-image: -webkit-linear-gradient(top, #ddd, #bbb);
background-image: -moz-linear-gradient(top, #ddd, #bbb);
background-image: -ms-linear-gradient(top, #ddd, #bbb);
background-image: -o-linear-gradient(top, #ddd, #bbb);
background-image: linear-gradient(top, #ddd, #bbb);
border: 1px solid #bbb;
border-bottom: 1px solid #999;
cursor: pointer;
text-shadow: 0 1px 0 #ddd;
}
form a.btn:active {
border: 1px solid #aaa;
border-bottom: 1px solid #888;
-webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
-moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}