.snapchatFontThin {
	font-family: 'HelveticaNeue-Thin', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

a {
	cursor: pointer;
}

.snapchatHeader .column {
	margin-top: 2rem !important;
	margin-bottom: 1rem;
	padding-top: 1rem !important;
	padding-bottom: 1rem;
}
	.snapchatHeader .logo {
		width: 80px;
	}

.snapchatInvertedHeader {
	text-align: center;
}
	.snapchatInvertedHeader .logo {
		padding-top: .5rem;
		width: 36px;
	}

/* Simple Header */
.snapchatSimpleHeader .column {
	padding-top: .5rem !important;
	padding-bottom: .5rem;
	background: #fefb00;
}
	/* Simple Header */
	.snapchatSimpleHeader.black .column {
		background: #262626;
	}
	
	.snapchatSimpleHeader .logo {
		width: 40px;
		margin: 0 auto;
		display: block;
	}

.snapchatBody.stackable.grid {
	padding-bottom: 5rem !important;
}

/* Footer */
.snapchatFooter.stackable.grid {
	margin-top: 0;
	padding-top: 3rem;
	padding-bottom: 4rem;
	border-top: 1px solid #EEE;
}

	.snapchatFooter.stackable.grid h5 {
		text-transform: uppercase;
	}