/** background image file **/
/** benefits background image file **/
/** vip icon background image file **/
/** benefit channel background image file **/
/** hyperlinks anchor **/
/** buttons red **/
/** buttons red in header **/
/** buttons blue **/
/** green **/
/** buttons blink yellow **/
/** other **/
/**  header **/
/** 回饋標示 **/
/**main nav**/
/*query nav*/
/*reputation*/
/** touch **/
/**
 * respond( $a [ ,$b ] )
 * Generate media quereis string
 * 
 * @include respond( 0, 799 ) {}    // <=800  (0~800)
 * @include respond( 800, 1199 ) {} // 800~1199
 * @include respond( 1200 ) {}      // >=1200
 */
/**
 * Cozy Layout ( 1240+ )
 */
/**
 * Compact Layout ( 0~1239 )
 */
/**
 * Mobile Layout ( 0~700 )
 */
/**
 * Box-sizing
 */
/**
 * clearfix
 */
/**
 * font-family
 */
/**
 * hide text
 */
/**
 * border-radius
 */
/**
 * box-shadow
 */
/**
 * background-gradient
 */
/**
 * columns
 */
/**
 * Opacity
 */
/**
 * other minins by yougi
 */
/**
 * <div class="cover">
 *   <img/>
 * </div>
 * <p class="title">
 *   <strong>TITLE</strong>
 * </p>
 * <div class="info">
 * </div>
 * <p class="tel"></p>
 * <p class="addr"></p>
 */
/**
 * benefit background
 */
/**
 * benefit background2
 */
/**
 * vip icon background
 */
/**
 * vip icon background2
 */
/**
 * benefit channel background
 */
/**
 * benefit channel background2
 */
/**
 * background
 */
/**
 * background2
 */
/**
 * background-image
 */
/** background image file **/
/** benefits background image file **/
/** vip icon background image file **/
/** benefit channel background image file **/
/** hyperlinks anchor **/
/** buttons red **/
/** buttons red in header **/
/** buttons blue **/
/** green **/
/** buttons blink yellow **/
/** other **/
/**  header **/
/** 回饋標示 **/
/**main nav**/
/*query nav*/
/*reputation*/
/** touch **/
/**
 * respond( $a [ ,$b ] )
 * Generate media quereis string
 * 
 * @include respond( 0, 799 ) {}    // <=800  (0~800)
 * @include respond( 800, 1199 ) {} // 800~1199
 * @include respond( 1200 ) {}      // >=1200
 */
/**
 * Cozy Layout ( 1240+ )
 */
/**
 * Compact Layout ( 0~1239 )
 */
/**
 * Mobile Layout ( 0~700 )
 */
/**
 * Box-sizing
 */
/**
 * clearfix
 */
/**
 * font-family
 */
/**
 * hide text
 */
/**
 * border-radius
 */
/**
 * box-shadow
 */
/**
 * background-gradient
 */
/**
 * columns
 */
/**
 * Opacity
 */
/**
 * other minins by yougi
 */
/**
 * <div class="cover">
 *   <img/>
 * </div>
 * <p class="title">
 *   <strong>TITLE</strong>
 * </p>
 * <div class="info">
 * </div>
 * <p class="tel"></p>
 * <p class="addr"></p>
 */
/**
 * benefit background
 */
/**
 * benefit background2
 */
/**
 * vip icon background
 */
/**
 * vip icon background2
 */
/**
 * benefit channel background
 */
/**
 * benefit channel background2
 */
/**
 * background
 */
/**
 * background2
 */
/**
 * background-image
 */
#index-page {
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /**
   * Columns Layout
  */
}
#index-page {
  zoom: 1;
}
#index-page:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .content {
  float: left;
}
@media only screen and (min-width: 1240px) {
  #index-page .content {
    width: 880px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .content {
    width: 690px;
  }
}
#index-page .content .tab {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin-bottom: 10px;
}
#index-page .content .tab .tab-content {
  padding: 12px 15px;
}
#index-page .content .tab ul {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
#index-page .content .tab li {
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#index-page .content .tab li a, #index-page .content .tab li a:hover, #index-page .content .tab li a:visited, #index-page .content .tab li a:focus {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  display: block;
  background: #f7f7f7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7');
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, white, #f7f7f7);
  background-image: -moz-linear-gradient(top, white, #f7f7f7);
  background-image: -ms-linear-gradient(top, white, #f7f7f7);
  background-image: -o-linear-gradient(top, white, #f7f7f7);
  background-image: linear-gradient(top bottom, #ffffff, #f7f7f7);
  border-bottom: 1px solid #CCC;
}
#index-page .content .tab li a {
  border-top: 1px #FFF solid;
  border-left: 1px solid #CCC;
  height: 26px;
  line-height: 26px;
}
#index-page .content .tab li:first-child a {
  border-left: none;
  border-top-left-radius: 5px;
}
#index-page .content .tab li:last-child a {
  border-top-right-radius: 5px;
}
#index-page .content .tab li a.active {
  color: #C9151E;
  border-bottom: 1px #FFF solid;
  background: #f0f0f0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff');
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(white));
  background-image: -webkit-linear-gradient(top, #f0f0f0, white);
  background-image: -moz-linear-gradient(top, #f0f0f0, white);
  background-image: -ms-linear-gradient(top, #f0f0f0, white);
  background-image: -o-linear-gradient(top, #f0f0f0, white);
  background-image: linear-gradient(top bottom, #f0f0f0, #ffffff);
}
#index-page .content .tab article.buttons {
  position: relative;
  padding: 0 0 5px 0;
}
#index-page .content .tab article.buttons {
  zoom: 1;
}
#index-page .content .tab article.buttons:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .right-column {
  width: 300px;
  float: right;
}
#index-page .rss {
  float: left;
  margin-left: 15px;
}
#index-page .rss a {
  color: #888;
  font-size: 12px;
  line-height: 12px;
}
#index-page .rss a:hover {
  text-decoration: none;
}
#index-page .rss .rss-button {
  color: #FFF;
  font-size: 10px;
  line-height: 10px;
  padding: 0 .5em;
  border-radius: 3px;
  background: #ff5500;
  margin-right: .5em;
}
#index-page .ad-btn {
  float: left;
}
#index-page .ad-btn a {
  color: #888;
  font-size: 12px;
  line-height: 12px;
}
#index-page .ad-btn a:hover {
  text-decoration: none;
}
#index-page .ad-btn .ad-button {
  color: #FFF;
  background: #be252c;
  font-size: 10px;
  line-height: 10px;
  padding: 0 .5em;
  border-radius: 3px;
  margin-right: .5em;
}
#index-page .more-button {
  border: 1px solid #cccccc;
  display: inline-block;
  padding: .2em 12px .2em .2em;
  line-height: 10px;
  float: right;
  position: relative;
}
#index-page .more-button:after {
  content: "";
  border-left: 6px solid #0077b1;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  display: block;
  position: absolute;
  right: 3px;
  top: 3px;
}
#index-page .more-button a {
  font-size: 12px;
  line-height: 12px;
}
#index-page .more-button a:hover {
  color: #0077b1;
}
#index-page li.disc {
  position: relative;
  padding-left: 1em;
}
#index-page li.disc:before {
  content: "\25A0";
  display: block;
  position: absolute;
  font-size: 10px;
  color: #999;
  text-shadow: #ccc 2px 2px;
  top: -2px;
  left: 0;
}

#index-page .content_top {
  zoom: 1;
}
#index-page .content_top:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .content_top .keyword h3 {
  color: #be252c;
  background: #F2F2F2;
  line-height: 28px;
  font-size: 15px;
  font-weight: bold;
  padding: 0 5px;
}
#index-page .content_top .keyword h3 .more-button {
  margin-top: 5px;
  border: none;
}
#index-page .content_top .keyword dl {
  border-bottom: 1px dashed #DEDEDE;
}
#index-page .content_top .keyword dl {
  zoom: 1;
}
#index-page .content_top .keyword dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .content_top .keyword dl dd {
  float: left;
  height: 85px;
  line-height: 40px;
}
#index-page .content_top .keyword dl dt {
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  width: 23%;
  float: left;
}
#index-page .content_top .keyword dl dt a {
  display: block;
  line-height: 40px;
  height: 40px;
  padding: 0 5px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#index-page .content_top .keyword dl dt a.heighlight {
  color: #be252c;
}
#index-page .content_top .keyword .belt-ad {
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
}
#index-page .content_top .keyword .belt-ad .ad {
  background-color: #FFF;
}
#index-page .content_top .keyword .belt-ad div {
  margin: 0 auto;
}
#index-page .content_top .keyword .belt-ad .nav {
  width: 160px;
  float: left;
}
#index-page .content_top .keyword .belt-ad .google_ad_box {
  width: 720px;
  float: right;
}
@media only screen and (max-width: 1239px) {
  #index-page .content_top .keyword .belt-ad .google_ad_box {
    width: 530px;
  }
}

#index-page .tab-newcmm .hoverable li {
  width: 25%;
}
#index-page .tab-newcmm .tab-content .upper, #index-page .tab-newcmm .tab-content .lower {
  zoom: 1;
}
#index-page .tab-newcmm .tab-content .upper:after, #index-page .tab-newcmm .tab-content .lower:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .tab-newcmm .tab-content .lower > div {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333333%;
}
#index-page .tab-newcmm .tab-content .pframe a {
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #F2F2F2;
  line-height: 0;
  max-width: 260px;
}
#index-page .tab-newcmm .tab-content .pframe a span {
  height: 1.7em;
  padding: 0 .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: -1.7em;
  line-height: 1.7em;
  color: #FFF;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  transition: bottom 0.2s;
}
#index-page .tab-newcmm .tab-content .pframe a:hover span {
  bottom: 0;
}
#index-page .tab-newcmm .tab-content .upper {
  border-bottom: 1px dotted #CCC;
}
#index-page .tab-newcmm .tab-content .upper .first-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.666666%;
  float: left;
  border-right: 1px dotted #CCC;
  padding-bottom: 10px;
}
#index-page .tab-newcmm .tab-content .upper .first-section > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
#index-page .tab-newcmm .tab-content .upper div.left-block {
  width: 50%;
}
#index-page .tab-newcmm .tab-content .upper div.left-block.pframe a {
  width: 93%;
}
#index-page .tab-newcmm .tab-content .upper div.left-block.pframe a img {
  width: 100%;
  max-width: 260px;
  height: auto;
}
#index-page .tab-newcmm .tab-content .upper div.left-block.pframe a span {
  width: 100%;
}
#index-page .tab-newcmm .tab-content .upper .middle-block {
  padding: 0 10px;
}
#index-page .tab-newcmm .tab-content .upper .middle-block article:first-child {
  margin: 8px 0 22px;
}
#index-page .tab-newcmm .tab-content .upper .middle-block h4 {
  font-size: 15px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
}
#index-page .tab-newcmm .tab-content .upper .middle-block p {
  font-size: 13px;
  line-height: 2em;
  margin: 5px 0;
}
#index-page .tab-newcmm .tab-content .upper .middle-block p .author {
  color: #000;
  font-weight: bold;
}
#index-page .tab-newcmm .tab-content .upper .middle-block p .author:hover {
  color: #0077b1;
  text-decoration: none;
}
#index-page .tab-newcmm .tab-content .upper .middle-block .title-list {
  margin-top: 24px;
}
#index-page .tab-newcmm .tab-content .upper .middle-block .title-list li {
  display: block;
  float: none;
  border: 0;
  background: transparent;
  width: 100%;
  margin-bottom: 7px;
}
#index-page .tab-newcmm .tab-content .upper .middle-block .title-list li.disc:before {
  top: -5px;
}
#index-page .tab-newcmm .tab-content .upper .middle-block .title-list li a {
  border: 0;
  text-align: left;
  background: transparent;
  color: #0077b1;
  line-height: 15px;
  height: 13px;
}
#index-page .tab-newcmm .tab-content .upper .middle-block .title-list li a:hover {
  text-decoration: underline;
}
#index-page .tab-newcmm .tab-content .upper .right-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333333%;
  float: right;
  padding: 0 10px;
}
#index-page .tab-newcmm .tab-content .upper .right-block .pframe {
  margin-bottom: 15px;
}
#index-page .tab-newcmm .tab-content .upper .right-block .pframe a {
  width: 100%;
}
#index-page .tab-newcmm .tab-content .upper .right-block .pframe a img {
  width: 100%;
  max-width: 260px;
  height: auto;
}
#index-page .tab-newcmm .tab-content .upper .right-block .pframe a span {
  width: 100%;
}
#index-page .tab-newcmm .tab-content .upper .right-block article:last-child {
  margin-top: 12px;
}
#index-page .tab-newcmm .tab-content .upper .right-block h4 {
  font-size: 15px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
}
#index-page .tab-newcmm .tab-content .upper .right-block p {
  font-size: 13px;
  line-height: 2em;
  margin: 5px 0;
}
#index-page .tab-newcmm .tab-content .upper .right-block p .author {
  color: #000;
  font-weight: bold;
}
#index-page .tab-newcmm .tab-content .upper .right-block p .author:hover {
  color: #0077b1;
  text-decoration: none;
}
#index-page .tab-newcmm .tab-content .lower > div {
  padding: 0 .8em;
}
#index-page .tab-newcmm .tab-content .lower > div:nth-child(2) {
  border-left: 1px dotted #CCC;
  border-right: 1px dotted #CCC;
}
#index-page .tab-newcmm .tab-content .lower .pframe {
  margin: 12px auto 10px;
}
#index-page .tab-newcmm .tab-content .lower .pframe a {
  width: 100%;
}
#index-page .tab-newcmm .tab-content .lower .pframe a img {
  width: 100%;
  max-width: 260px;
  height: auto;
}
#index-page .tab-newcmm .tab-content .lower .pframe a span {
  width: 100%;
}
#index-page .tab-newcmm .tab-content .lower h4 {
  font-size: 15px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
}
#index-page .tab-newcmm .tab-content .lower p {
  font-size: 13px;
  line-height: 2em;
  margin: 5px 0;
}
#index-page .tab-newcmm .tab-content .lower p .author {
  color: #000;
  font-weight: bold;
}
#index-page .tab-newcmm .tab-content .lower p .author:hover {
  color: #0077b1;
  text-decoration: none;
}
#index-page .tab-newcmm .more-button {
  margin-right: 15px;
}

@media only screen and (max-width: 1239px) {
  #index-page .tab-newcmm .tab-content .upper .middle-block p,
  #index-page .tab-newcmm .tab-content .upper .right-block p {
    line-height: 170%;
  }

  #index-page .tab-newcmm .tab-content .upper .middle-block .title-list {
    margin-top: 12px;
  }

  #index-page .tab-newcmm .tab-content .upper div.left-block.pframe a,
  #index-page .tab-newcmm .tab-content .upper div.left-block.pframe a img,
  #index-page .tab-newcmm .tab-content .upper .right-block .pframe a img,
  #index-page .tab-newcmm .tab-content .lower .pframe a img {
    width: 200px;
  }
}
#index-page .tab-focus li {
  width: 33.3333333333333333%;
}
#index-page .tab-focus .tab-content {
  font-size: 13px;
}
#index-page .tab-focus .focus-tab-content {
  zoom: 1;
}
#index-page .tab-focus .focus-tab-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .tab-focus .rss {
  margin-left: 0;
}
#index-page .tab-focus .main {
  float: left;
  padding-right: 12px;
  width: 40%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#index-page .tab-focus .main {
  zoom: 1;
}
#index-page .tab-focus .main:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .tab-focus .main > a {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (min-width: 1240px) {
  #index-page .tab-focus .main > a {
    width: 326px;
    height: 245px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .tab-focus .main > a {
    width: 250px;
    height: 188px;
  }
}
#index-page .tab-focus .main img {
  width: auto;
  height: auto;
}
@media only screen and (min-width: 1240px) {
  #index-page .tab-focus .main img {
    max-width: 326px;
    max-height: 245px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .tab-focus .main img {
    max-width: 250px;
    max-height: 188px;
  }
}
#index-page .tab-focus .main article {
  margin-top: 12px;
}
#index-page .tab-focus .main h5 {
  color: #be252c;
  font-size: 12px;
}
#index-page .tab-focus .main h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}
#index-page .tab-focus .main p {
  font-size: 13px;
  overflow: hidden;
  margin: 5px 0;
}
#index-page .tab-focus .main p .author {
  color: #000;
  font-weight: bold;
}
#index-page .tab-focus .main p .author:hover {
  color: #0077b1;
  text-decoration: none;
}
#index-page .tab-focus .list {
  float: right;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 1px dotted #CCC;
}
#index-page .tab-focus .list {
  zoom: 1;
}
#index-page .tab-focus .list:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .tab-focus .list .item {
  margin-bottom: 12px;
}
#index-page .tab-focus .list .item {
  zoom: 1;
}
#index-page .tab-focus .list .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .tab-focus .list .image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 30%;
  overflow: hidden;
}
@media only screen and (min-width: 1240px) {
  #index-page .tab-focus .list .image {
    width: 146px;
    height: 109px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .tab-focus .list .image {
    width: 114px;
    height: 86px;
  }
}
#index-page .tab-focus .list .image .align {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (min-width: 1240px) {
  #index-page .tab-focus .list .image .align {
    width: 146px;
    height: 109px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .tab-focus .list .image .align {
    width: 114px;
    height: 86px;
  }
}
#index-page .tab-focus .list .image .align img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
@media only screen and (min-width: 1240px) {
  #index-page .tab-focus .list .image .align img {
    max-width: 146px;
    max-height: 109px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .tab-focus .list .image .align img {
    max-width: 114px;
    max-height: 86px;
  }
}
#index-page .tab-focus .list .desc {
  float: right;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
}
#index-page .tab-focus .list .desc h5 {
  color: #be252c;
  font-size: 12px;
}
#index-page .tab-focus .list .desc h4 {
  font-size: 15px;
  font-weight: bold;
}
#index-page .tab-focus .list .desc p {
  margin: 3px 0 0;
}
#index-page .tab-focus #focus-media h4 a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#index-page .tab-focus #focus-reputation img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
}

#index-page .tab-benefit .hoverable li {
  width: 33.3333333333333333%;
}
#index-page .tab-benefit .tab-content {
  font-size: 13px;
}
#index-page .tab-benefit .tab-shop-content {
  zoom: 1;
}
#index-page .tab-benefit .tab-shop-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .tab-benefit .item {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
#index-page .tab-benefit .item {
  zoom: 1;
}
#index-page .tab-benefit .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .tab-benefit .item .percent {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFFFFF;
  background: #be252c;
  border-radius: 50px;
  font-size: 13px;
  height: 54px;
  left: -5px;
  line-height: 10px;
  padding-top: 4px;
  position: absolute;
  text-align: center;
  top: -5px;
  width: 54px;
}
#index-page .tab-benefit .item .percent b {
  color: #FFFF00;
  font-size: 16px;
  font-weight: bold;
}
#index-page .tab-benefit .item .pframe {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 40%;
  overflow: hidden;
}
@media only screen and (min-width: 1240px) {
  #index-page .tab-benefit .item .pframe {
    width: 169px;
    height: 169px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .tab-benefit .item .pframe {
    width: 130px;
    height: 130px;
  }
}
#index-page .tab-benefit .item .pframe .align {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #DEDEDE;
}
@media only screen and (min-width: 1240px) {
  #index-page .tab-benefit .item .pframe .align {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .tab-benefit .item .pframe .align {
    width: 125px;
    height: 125px;
  }
}
#index-page .tab-benefit .item .pframe .align img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
@media only screen and (min-width: 1240px) {
  #index-page .tab-benefit .item .pframe .align img {
    max-width: 150px;
    max-height: 150px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .tab-benefit .item .pframe .align img {
    max-width: 125px;
    max-height: 125px;
  }
}
#index-page .tab-benefit .item article {
  float: right;
  width: 60%;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#index-page .tab-benefit .item h5 {
  color: #be252c;
  font-size: 12px;
}
#index-page .tab-benefit .item h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}
#index-page .tab-benefit .item p {
  font-size: 13px;
  margin: 5px 0;
}
#index-page .tab-benefit .item p .sname {
  text-decoration: underline;
  color: #ff5500;
}
#index-page .tab-benefit .item p .exchange {
  height: 20px;
  line-height: 30px;
  font-size: 12px;
  padding: .2em .5em;
  width: 60px;
  text-align: center;
  color: #be252c;
  border: 1px solid #F2CD1F;
  border-radius: 3px;
  white-space: nowrap;
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff9b2), to(#fff586));
  background-image: -webkit-linear-gradient(top, #fff9b2, #fff586);
  background-image: -moz-linear-gradient(top, #fff9b2, #fff586);
  background-image: -ms-linear-gradient(top, #fff9b2, #fff586);
  background-image: -o-linear-gradient(top, #fff9b2, #fff586);
  background-image: linear-gradient(top bottom, #fff9b2, #fff586);
  -webkit-box-shadow: 0 1px 2px 1px #e8e8e8;
  -moz-box-shadow: 0 1px 2px 1px #e8e8e8;
  box-shadow: 0 1px 2px 1px #e8e8e8;
}
#index-page .tab-benefit .item p .exchange:hover {
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffab8), to(#fff694));
  background-image: -webkit-linear-gradient(top, #fffab8, #fff694);
  background-image: -moz-linear-gradient(top, #fffab8, #fff694);
  background-image: -ms-linear-gradient(top, #fffab8, #fff694);
  background-image: -o-linear-gradient(top, #fffab8, #fff694);
  background-image: linear-gradient(top bottom, #fffab8, #fff694);
  border-color: #E6B801;
  box-shadow: none;
  text-decoration: none;
}
#index-page .tab-benefit .item .discount-list {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
#index-page .tab-benefit .item .discount-list li {
  float: none;
  text-align: left;
}
#index-page .tab-benefit .item .discount-list li a {
  border: 0;
  height: auto;
  border-radius: 0;
  background: none;
  color: #0077b1;
}
#index-page .tab-benefit .item .discount-list li a:hover {
  text-decoration: underline;
}
#index-page .tab-benefit .item .discount-list li.item {
  position: relative;
  padding-left: 1.2em;
  width: 100%;
}
#index-page .tab-benefit .item .discount-list li.item:before {
  content: "A";
  display: block;
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  font-family: verdana;
  color: #999;
  border: 1px solid #CCCCCC;
  padding: 1px;
  top: 1px;
  left: 0;
  margin-top: 5px;
}
#index-page .tab-benefit .item .discount-list li.item-a:before {
  content: "A";
}
#index-page .tab-benefit .item .discount-list li.item-b:before {
  content: "B";
}
#index-page .tab-benefit #benefit-coupon h4, #index-page .tab-benefit #benefit-icoupon h4 {
  font-size: 15px;
}

#index-page .vip-shop {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin-bottom: 10px;
}
#index-page .vip-shop header {
  border-bottom: 1px solid #CCC;
}
#index-page .vip-shop header h3 {
  border-top: 1px solid #FFF;
  color: #be252c;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0F0', endColorstr='#FFFFFFFF');
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(white));
  background-image: -webkit-linear-gradient(top, #f0f0f0, white);
  background-image: -moz-linear-gradient(top, #f0f0f0, white);
  background-image: -ms-linear-gradient(top, #f0f0f0, white);
  background-image: -o-linear-gradient(top, #f0f0f0, white);
  background-image: linear-gradient(top bottom, #f0f0f0, #ffffff);
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  padding: 0 8px;
}
#index-page .vip-shop header h3 a {
  float: right;
  color: #ff5500;
}
#index-page .vip-shop .vip-content {
  padding: 12px 5px;
}
#index-page .vip-shop .vip-content {
  zoom: 1;
}
#index-page .vip-shop .vip-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .vip-shop .vip-content .single-shop {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  border-right: 1px solid #DEDEDE;
}
#index-page .vip-shop .vip-content .single-shop.last-shop {
  border-right: none;
}
#index-page .vip-shop .vip-content .image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #DEDEDE;
  margin: 0 auto;
}
@media only screen and (min-width: 1240px) {
  #index-page .vip-shop .vip-content .image {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .vip-shop .vip-content .image {
    width: 150px;
    height: 150px;
  }
}
#index-page .vip-shop .vip-content .image .align {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (min-width: 1240px) {
  #index-page .vip-shop .vip-content .image .align {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .vip-shop .vip-content .image .align {
    width: 150px;
    height: 150px;
  }
}
#index-page .vip-shop .vip-content .image .align img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
@media only screen and (min-width: 1240px) {
  #index-page .vip-shop .vip-content .image .align img {
    max-width: 200px;
    max-height: 200px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .vip-shop .vip-content .image .align img {
    max-width: 150px;
    max-height: 150px;
  }
}
#index-page .vip-shop .vip-content div.shop-content {
  margin: 0 auto;
  padding: 0 .2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 1240px) {
  #index-page .vip-shop .vip-content div.shop-content {
    width: 200px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .vip-shop .vip-content div.shop-content {
    width: 150px;
  }
}
#index-page .vip-shop .vip-content div.shop-content header {
  border: 0;
}
#index-page .vip-shop .vip-content div.shop-content h4 {
  font-size: 13px;
  font-weight: bold;
  color: #ff5500;
  margin: 5px 0;
}
#index-page .vip-shop .vip-content div.shop-content h4 a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#index-page .vip-shop .vip-content div.shop-content p {
  font-size: 13px;
  overflow: hidden;
  margin: 5px 0;
}
#index-page .vip-shop .vip-content div.shop-content p.cate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#index-page .vip-shop .vip-content div.shop-content p.intro {
  background-color: #FFFDD9;
  color: #888888;
  min-height: 5.4em;
  padding: 5px 7px;
}

#index-page .expert {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin-bottom: 10px;
}
#index-page .expert header {
  border-bottom: 1px solid #CCC;
}
#index-page .expert header h3 {
  border-top: 1px solid #FFF;
  color: #be252c;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0F0', endColorstr='#FFFFFFFF');
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(white));
  background-image: -webkit-linear-gradient(top, #f0f0f0, white);
  background-image: -moz-linear-gradient(top, #f0f0f0, white);
  background-image: -ms-linear-gradient(top, #f0f0f0, white);
  background-image: -o-linear-gradient(top, #f0f0f0, white);
  background-image: linear-gradient(top bottom, #f0f0f0, #ffffff);
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  padding: 0 8px;
}
#index-page .expert header h3 span {
  display: inline-block;
}
#index-page .expert header h3 span.super {
  width: 60%;
}
#index-page .expert .expert-content {
  padding: 12px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#index-page .expert .expert-content > div {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#index-page .expert .expert-content .image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
}
#index-page .expert .expert-content .image .align {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #DEDEDE;
}
#index-page .expert .expert-content .image .align img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
#index-page .expert .expert-content article.content {
  padding-left: 12px;
  width: 60%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#index-page .expert .expert-content article.content header {
  border: 0;
}
#index-page .expert .expert-content article.content h4 {
  font-size: 13px;
  font-weight: bold;
  color: #ff5500;
}
#index-page .expert .expert-content article.content h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
#index-page .expert .expert-content article.content p {
  font-size: 13px;
  overflow: hidden;
  margin: 5px 0;
}
#index-page .expert .expert-content article.content p.author {
  color: #000;
  font-weight: bold;
}
#index-page .expert .expert-content article.content p.author a {
  font-weight: bold;
  margin-right: .5em;
}
#index-page .expert .expert-content article.content .other {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
#index-page .expert .expert-content article.content .other li {
  float: none;
  text-align: left;
}
#index-page .expert .expert-content article.content .other li a {
  border: 0;
  height: auto;
  border-radius: 0;
  background: none;
  color: #0077b1;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#index-page .expert .expert-content article.content .other li a:hover {
  text-decoration: underline;
}
#index-page .expert .expert-content .superuser {
  width: 60%;
}
#index-page .expert .expert-content .superuser {
  zoom: 1;
}
#index-page .expert .expert-content .superuser:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
@media only screen and (min-width: 1240px) {
  #index-page .expert .expert-content .superuser .image {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .expert .expert-content .superuser .image {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 1240px) {
  #index-page .expert .expert-content .superuser .image .align {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .expert .expert-content .superuser .image .align {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 1240px) {
  #index-page .expert .expert-content .superuser .image .align img {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .expert .expert-content .superuser .image .align img {
    width: 150px;
    height: 150px;
  }
}
#index-page .expert .expert-content .sharer {
  width: 40%;
  float: right;
}
#index-page .expert .expert-content .sharer {
  zoom: 1;
}
#index-page .expert .expert-content .sharer:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .expert .expert-content .sharer .image {
  width: 30%;
}
@media only screen and (min-width: 1240px) {
  #index-page .expert .expert-content .sharer .image {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .expert .expert-content .sharer .image {
    width: 75px;
    height: 75px;
  }
}
@media only screen and (min-width: 1240px) {
  #index-page .expert .expert-content .sharer .image .align {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .expert .expert-content .sharer .image .align {
    width: 75px;
    height: 75px;
  }
}
@media only screen and (min-width: 1240px) {
  #index-page .expert .expert-content .sharer .image .align img {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 1239px) {
  #index-page .expert .expert-content .sharer .image .align img {
    width: 75px;
    height: 75px;
  }
}
#index-page .expert .expert-content .sharer article.content {
  width: 70%;
}
#index-page .expert .expert-content .sharer .item {
  margin-bottom: 8px;
}
#index-page .expert .expert-content .sharer .item {
  zoom: 1;
}
#index-page .expert .expert-content .sharer .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .expert .expert-content .sharer .author {
  margin-top: 0;
}
#index-page .expert article.buttons {
  clear: both;
}
#index-page .expert article.buttons .superuser {
  width: 60%;
}
#index-page .expert article.buttons .superuser .pframe, #index-page .expert article.buttons .superuser .content {
  float: left;
}
#index-page .expert article.buttons .sharer {
  width: 40%;
}

#index-page .right-column section {
  margin-bottom: 10px;
}
#index-page .right-column .aside-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}
#index-page .right-column .aside-box header {
  border-bottom: 1px solid #CCC;
}
#index-page .right-column .aside-box header h3 {
  border-top: 1px solid #FFF;
  color: #be252c;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0F0', endColorstr='#FFFFFFFF');
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(white));
  background-image: -webkit-linear-gradient(top, #f0f0f0, white);
  background-image: -moz-linear-gradient(top, #f0f0f0, white);
  background-image: -ms-linear-gradient(top, #f0f0f0, white);
  background-image: -o-linear-gradient(top, #f0f0f0, white);
  background-image: linear-gradient(top bottom, #f0f0f0, #ffffff);
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
  padding: 0 0 0 8px;
}
#index-page .right-column .aside-box .aside-box-content {
  padding: 12px 5px 6px 10px;
}
#index-page .right-column .aside-box .aside-box-content {
  zoom: 1;
}
#index-page .right-column .aside-box .aside-box-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .right-column li.heighlight a, #index-page .right-column li.set a {
  color: #be252c;
}
#index-page .right-column li.heighlight a:hover, #index-page .right-column li.set a:hover {
  color: #0077b1;
}
#index-page .right-column .fb-box .likebox {
  min-height: 400px;
}

#index-page .right-column #side-floating-AD {
  background-color: #EEEEEE;
  height: 170px;
  position: absolute;
  right: -110px;
  top: 180px;
  width: 100px;
}

#index-page .right-column .login-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #F5F5F5;
  border: 1px solid #dedede;
  padding: 3px;
}
#index-page .right-column .login-box header {
  background: #FFF;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  padding: 5px 3px 0;
}
#index-page .right-column .login-box header h3 {
  border-bottom: 1px solid #DEDEDE;
  padding: 0 3px 5px;
}
#index-page .right-column .login-box .login-box-content {
  background: #FFF;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px 3px;
}
#index-page .right-column .login-box .login-box-content {
  zoom: 1;
}
#index-page .right-column .login-box .login-box-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#index-page .right-column .login-box .login-box-content .login-button {
  float: left;
  width: 91px;
  height: 97px;
  margin: 0 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px #e9e8e8;
  -moz-box-shadow: 0 1px 2px #e9e8e8;
  box-shadow: 0 1px 2px #e9e8e8;
}
#index-page .right-column .login-box .login-box-content .login-button a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dedede;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  font-weight: bold;
  display: table-cell;
  width: 91px;
  height: 97px;
  text-align: center;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#ECECECEC');
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ececec));
  background-image: -webkit-linear-gradient(top, white, #ececec);
  background-image: -moz-linear-gradient(top, white, #ececec);
  background-image: -ms-linear-gradient(top, white, #ececec);
  background-image: -o-linear-gradient(top, white, #ececec);
  background-image: linear-gradient(top bottom, #ffffff, #ececec);
}
#index-page .right-column .login-box .login-box-content .login-button a:hover {
  color: #0077b1;
  border-color: #bebebe;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#EFEFEFEF');
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef));
  background-image: -webkit-linear-gradient(top, white, #efefef);
  background-image: -moz-linear-gradient(top, white, #efefef);
  background-image: -ms-linear-gradient(top, white, #efefef);
  background-image: -o-linear-gradient(top, white, #efefef);
  background-image: linear-gradient(top bottom, #ffffff, #efefef);
}
#index-page .right-column .login-box .login-box-content .login-button a .logo {
  display: block;
  margin: 20px auto 10px;
  width: 40px;
  height: 40px;
}
#index-page .right-column .login-box .login-box-content .login-button a .logo {
  position: relative;
}
#index-page .right-column .login-box .login-box-content .login-button a .logo:after {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(/images/frame/login_icon.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #index-page .right-column .login-box .login-box-content .login-button a .logo:after {
    background-image: url(/images/frame/login_icon.png);
    background-size: 200px 40px;
  }
}
#index-page .right-column .login-box .login-box-content .login-button.register .logo:after {
  width: 40px;
  padding-top: 40px;
  background-position: 0 0;
  top: 0;
  left: 0;
}
#index-page .right-column .login-box .login-box-content .login-button.mobile .logo:after {
  width: 40px;
  padding-top: 40px;
  background-position: -40px 0;
  top: 0;
  left: 0;
}
#index-page .right-column .login-box .login-box-content .login-button.guide .logo:after {
  width: 40px;
  padding-top: 40px;
  background-position: -80px 0;
  top: 0;
  left: 0;
}
#index-page .right-column .login-box .login-box-content .login-button.home .logo:after {
  width: 40px;
  padding-top: 40px;
  background-position: -120px 0;
  top: 0;
  left: 0;
}
#index-page .right-column .login-box .login-box-content .login-button.account .logo:after {
  width: 40px;
  padding-top: 40px;
  background-position: -160px 0;
  top: 0;
  left: 0;
}

#index-page .right-column .action-box .pframe {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #DEDEDE;
  width: 278px;
}
#index-page .right-column .action-box .pframe a {
  display: block;
  line-height: 0;
}
#index-page .right-column .action-box .pframe img {
  width: 278px;
  height: auto;
}
#index-page .right-column .action-box .action-content {
  border-bottom: 1px dotted #DEDEDE;
  padding-bottom: 8px;
}
#index-page .right-column .action-box .action-content.last-child {
  border: none;
  margin-bottom: 5px;
}
#index-page .right-column .action-box .action-content header {
  border: none;
}
#index-page .right-column .action-box .action-content header h4 {
  font-size: 15px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 8px 0;
}
#index-page .right-column .action-box .action-content p {
  line-height: 150%;
}

#index-page .right-column .announce-box .aside-box-content ul {
  margin-bottom: 5px;
}

#index-page .right-column .group-box .aside-box-content ul {
  margin-bottom: 5px;
}
#index-page .right-column .group-box .aside-box-content ul a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
