/*Geneal Styles*/
a:active, a:hover, a:focus {
    outline: 0 !important;
}
body {
  background-color: #313335;
}
p {
    font-weight: normal;
}
.container-fluid {
    background-color: #313335;
}
.container-items {
  background-color: #ffffff;
  padding: 80px 40px;
}
.btn {
  border:0;
}
/*Header*/
.header-logo {
    height: 60px;
    width: 251px;
}
/*Hsoub*/
.container-title {
    padding: 80px 0;
}
.block-desc, .block-404 {
    text-align: center;
    margin-bottom: 60px;
}
.block-desc.block-desc-sub {
    margin-top: 60px;
    margin-bottom: 40px;
}
.desc-title {
    font-size: 24px;
}
.desc-context {
    padding: 0 24%;
    line-height: 30px;
    margin-top: 20px;
}
.brand-item-meta {
  float: right;
  margin-right: 15px;
  width: 70%;
}
.brand-item-meta a {
  color: #585e67;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.brand-item-meta-title {
    margin-top: 12px;
}
.brand-item-meta p {
    margin: 8px 0 2px 0;
}
.brand-item-icon {
    background: rgba(0, 0, 0, 0) url("/assets/images/brands-colors.svg") no-repeat scroll 0 0;
    float: right;
    height: 53px;
    outline: medium none;
    width: 53px;
}
.brand-hsoub {
    background-position: left 0px;
}
.brand-mostaql {
    background-position: left -138px;
}
.brand-khamsat {
    background-position: left -276px;
}
.brand-io {
    background-position: left -413px;
}
.brand-academy {
    background-position: left -551px;
}
.brand-suar {
    background-position: left -688px;
}
.brand-item:last-child {
    border-bottom: 1px solid #ebeff3;
}
/*404 Page*/
.container-404{
  min-height: 600px;
}
.btn-homeback {
  background-color: #555963;
}
.error-number {
  color: #c2c4c4;
  font-family: open sans;
  font-size: 50px;
  font-weight: 300;
}
/*Footer*/
.footer-social {
    text-align: center;
    padding-top: 30px;
}
.footer-social ul {
    padding: 0;
}
.footer-social ul li {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.footer-social ul li a {
    height: 42px;
    width: 42px;
    display: block;
    background-color: #3d4042;
    border-radius: 50px;
    padding-top: 13px;
}
.footer-social i {
    color: white;
    font-size: 16px;
}
.footer-copyrights,
.footer-languages {
    color: #6d7072;
    direction: rtl;
    font-size: 10px;
    font-family: tahoma, sans-serif !important;
    margin: 20px;
    text-align: center;
}

/*LTR*/
html[dir="ltr"] body {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
html[dir="ltr"] [class*="col-"] {
    float: left;
}
html[dir="ltr"] .brand-item-icon {
    float: left;
}
html[dir="ltr"] .brand-item-meta {
    float: left;
    margin-right: 0;
    margin-left: 15px;
}
html[dir="ltr"] .brand-item-meta p {
    margin: 2px 0 2px 0;
}

html[dir="ltr"] .h1, html[dir="ltr"] h1,
html[dir="ltr"] .h2, html[dir="ltr"] h2,
html[dir="ltr"] .h3, html[dir="ltr"] h3,
html[dir="ltr"] .h4, html[dir="ltr"] h4,
html[dir="ltr"] .h5, html[dir="ltr"] h5,
html[dir="ltr"] .h6, html[dir="ltr"] h6,
html[dir="ltr"] .btn,
html[dir="ltr"] p {
    font-family: 'Open Sans', sans-serif;
}
html[dir="ltr"] .btn,
html[dir="ltr"] .h5, html[dir="ltr"] h5 {
    font-weight: normal;
    font-size: 14px;
}

html[dir="ltr"] .footer-copyrights {
    direction: ltr;
}

html[dir="ltr"] .container-number-float .number-item .number-title {
    font-size: 14px;
}

/*Responsiveness*/

@media only screen and (max-width: 1080px) {
    .container-items {
        background-color: #ffffff;
        padding: 80px 20px;
    }
}
@media only screen and (max-width: 992px) {
    .block-desc {
        padding: 0 40px;
    }
    .desc-context {
        padding: 0 0;
    }
}
@media only screen and (max-width: 768px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .container-title {
    padding: 40px 0;
    }
    .container-brand-float [class*="col-"] {
        padding-bottom: 20px;
        padding-top: 15px;
    }
    .block-desc {
        padding: 0 40px;
    }
    .desc-context {
        padding: 0 0;
    }
}
@media only screen and (max-width: 600px) {
    .desc-title {
        font-size: 18px;
    }
    .desc-context {
        font-size: 14px;
    }
}
@media only screen and (max-width: 480px) {
    .brand-item-meta {
        float: right;
    }
    .block-desc {
        padding: 0 10px;
        text-align: center;
    }
    .container-brand-float .brand-item {
        text-align: center;
    }
    .brand-item-meta {
        float: none;
        margin-right: 0px;
        width: 100%;
        margin-top: 10px;
    }
    .brand-item-icon {
        display: block;
        float: none;
        margin: 0 auto;
    }
}
