

/*
 * base stylesheets included in every chart
 */
.chart #header {
  min-height: 1px;
  position: relative;
}
.chart #header .header-right {
  position: absolute;
  right: 10px;
  z-index: 20;
}
.chart #footer {
  min-height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
}
.chart #footer .footer-left,
.chart #footer .footer-right {
  position: absolute;
  bottom: 5px;
  z-index: 1000;
}
.chart #footer .footer-left {
  left: 5px;
}
.chart #footer .footer-right {
  right: 5px;
}
.chart .logo {
  position: absolute;
  right: 0;
  bottom: 0;
}
.chart .logo .big {
  display: none;
}
.chart.plain #footer {
  height: 10px;
}
.chart.js .noscript {
  display: none;
}
.chart .hidden {
  display: none;
}
.chart .label.annotation span {
  background: transparent;
}



html, body {
  overflow: hidden;
}
.chart.vis-d3-maps-choropleth {
  position: relative;
  overflow: hidden;
}
.chart.vis-d3-maps-choropleth .zoom-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}
.chart.vis-d3-maps-choropleth .zoom-buttons .zoom-btn {
  width: 23px;
  height: 23px;
  line-height: 23px;
  margin-bottom: 1px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.16);
  transition: background 0.3s;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.chart.vis-d3-maps-choropleth .zoom-buttons .zoom-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
.chart.vis-d3-maps-choropleth .map-key {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
}
.chart.vis-d3-maps-choropleth .map-key-br {
  right: 0px;
  bottom: 0px;
}
.chart.vis-d3-maps-choropleth .map-key-tr {
  right: 30px;
  top: 0px;
}
.chart.vis-d3-maps-choropleth .map-key-bl {
  left: -10px;
  bottom: 0px;
}
.chart.vis-d3-maps-choropleth .map-key-tl {
  left: -10px;
  top: 0px;
}
.chart.vis-d3-maps-choropleth .map-key .label {
  font-size: 13px;
}
.chart.vis-d3-maps-choropleth .map-key-title {
  margin-bottom: 5px;
  font-weight: bold;
}
.chart.vis-d3-maps-choropleth .map-key-title.label {
  font-size: 14px;
}
.chart.vis-d3-maps-choropleth .map-key .stops .stop {
  white-space: nowrap;
  margin-bottom: 2px;
}
.chart.vis-d3-maps-choropleth .stop-swatch {
  display: inline-block;
  width: 15px;
  vertical-align: middle;
  height: 15px;
  margin-right: 5px;
}
.chart.vis-d3-maps-choropleth .stop-label {
  display: inline-block;
}
.chart.vis-d3-maps-choropleth .dw-tooltip {
  position: absolute;
  z-index: 100;
  visibility: hidden;
  background: white;
  max-width: 200px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 11px;
  border: 1px solid whitesmoke;
  color: #000;
}
.chart.vis-d3-maps-choropleth .dw-tooltip h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 13px;
}
.chart.vis-d3-maps-choropleth .dw-tooltip table {
  border-spacing: 0;
}
.chart.vis-d3-maps-choropleth .dw-tooltip td,
.chart.vis-d3-maps-choropleth .dw-tooltip th {
  text-align: left;
  padding: 0 5px 3px 0;
}
.chart.vis-d3-maps-choropleth .dw-tooltip ul,
.chart.vis-d3-maps-choropleth .dw-tooltip ol {
  padding-left: 15px;
}
.chart.vis-d3-maps-choropleth .dw-tooltip ul li,
.chart.vis-d3-maps-choropleth .dw-tooltip ol li {
  margin-bottom: 2px;
}
.chart.vis-d3-maps-choropleth rect.background {
  fill: none;
  pointer-events: all;
}
.chart.vis-d3-maps-choropleth #footer, .chart.vis-d3-maps-choropleth .dw-chart-footer {
  position: fixed!important;
  width: 100%;
  bottom: 0;
}
.chart.vis-d3-maps-choropleth .dw-chart-body, .chart.vis-d3-maps-choropleth #chart {
    position: relative;
}
.chart.vis-d3-maps-choropleth path.bg {
  fill: #dddddb;
  opacity: 0.5;
}
.chart.vis-d3-maps-choropleth path.region {
  fill: #bebcba;
}
.chart.vis-d3-maps-choropleth path.region-outline {
  stroke: none;
  fill-opacity: 0;
  stroke-linejoin: round;
}
.chart.vis-d3-maps-choropleth path.region-outline:hover {
  stroke: black;
}
.chart.vis-d3-maps-choropleth path.region-outline.sticky {
  stroke: black;
  stroke-width: 1px;
}
.chart.vis-d3-maps-choropleth path.borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.chart.vis-d3-maps-choropleth path.borders2 {
  stroke-width: 1.1px;
}
.chart.vis-d3-maps-choropleth .dw-chart-footer {
  position: fixed!important;
  width: 100%;
  bottom: 0;
}
.chart.vis-d3-maps-choropleth svg text.label,
.chart.vis-d3-maps-choropleth svg text.buffer {
  text-anchor: middle;
  font-size: 10px;
  fill: #222;
}
.chart.vis-d3-maps-choropleth svg g.label text.buffer {
  stroke: white;
  opacity: 0.5;
  stroke-width: 4px;
  stroke-linejoin: round;
}
.chart.vis-d3-maps-choropleth svg g.label.inverted text.buffer {
  stroke: black;
  opacity: 0.2;
}



/*
 * Default Theme
 * -------------
 *
 */


a { color: #0088CC; }

.chart {
    font-family: Helvetica Neue, Arial;
    font-weight: 400;
    font-size: 12px;
    margin: 0 0px;
    background: transparent;
    height: 100%;
}

h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 10px;
    text-align: left;
}

h1 span {
}

/* NOTE: On IE, there is a border around each image which is a link */
a img { border:0px; }

.chart p { margin: 5px 0 10px!important; line-height: 17px;}

#chart, .dw-chart-body {
    margin-top: 10px;
}

.label {
    font-size: 12px;
}

.label span {
    color: #333;
    text-shadow: 0 0 2px #fff;
}

.label.inverted span {
    text-shadow: 0 0px 2px #000000;
}

.label.outline span {
    text-shadow: 0 1px 0 #FFFFFF, 1px 0 0 #FFFFFF, 0 -1px 0 #FFFFFF, -1px 0 0 #FFFFFF,
        1px 1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF,
        0 2px 1px #FFFFFF, 2px 0 1px #FFFFFF, 0 -2px 1px #FFFFFF, -2px 0 1px #FFFFFF,
        -1px 2px 0px #FFFFFF, 2px -1px 0px #FFFFFF, -1px -2px 0px #FFFFFF, -2px -1px 0px #FFFFFF,
        1px 2px 0px #FFFFFF, 2px 1px 0px #FFFFFF, 1px -2px 0px #FFFFFF, -2px 1px 0px #FFFFFF;
}

.label.outline span sup {
    text-shadow: none;
}

.label.highlighted, .label.axis {
    font-size: 12px;
    z-index: 100;
}

.label.hover {
    font-weight: bold;
}

.label.inverted span {
    color: #fff;
}

.label.highlighted {
    font-weight: bold;
}

.label.value span {
    font-size: 12px;
}

.label.series span {
    font-size: 12px;
}


.tooltip {
    z-index: 200;
    padding-bottom: 0px;
}

.tooltip .content {
    background-color: #fff;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 5px 8px;
}

.tooltip label {
    font-weight: 700;
}

.tooltip label:after {
    content: ": ";
}

.dw-chart-notes {
    font-style: italic;
    margin-bottom: 10px;
}

.chart.theme-default .dw-chart-notes {
    font-style: italic;
    margin-bottom: 5px;
    position: relative;
    margin-top: 10px;
}

#footer, .dw-chart-footer {
    font-size: 11px;
    color: #888;
    /* The footer must now cover the chart to allow
    the toggleable panel to "go up" */
    z-index: 1100;
    /* Sets the background here to propagate it to its children */
    background:transparent;
}

.chart.theme-default .dw-chart-footer .footer-left {
    left: 0;
}


#footer .footer-left,
.dw-chart-footer .footer-left {
    bottom:0;
    /* Vertical text align */
}

/* We have to break to absolute positionof the footer
to allow absolute positioning related to the .dw-chart-footer
within the .toggleable-panel */
.dw-chart-footer .footer-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

svg .axis, svg .tick, svg .grid, svg rect {
    shape-rendering: crispEdges;
}


.label.rotate90 {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.label.smaller span {
    font-size: 80%;
}

.filter-links {
    height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 1px solid #ccc;
}

.filter-links a {
    color: #666;
    height: 28px;
    line-height: 28px;
    padding: 10px;
    text-decoration: none;
}

.filter-links a:hover {
    background: #fff;
    color: #222;
}

.filter-links a.active {
    font-weight: bold;
    color: #000;
    box-shadow: none;
    background: #fff;
    cursor: default;
    text-decoration: none;

    border-bottom: 3px solid #555;
    padding: 10px 10px 6px 10px;

}

.filter-select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 6px;
    vertical-align: middle;
    font-size: 12px;
}

.line-chart .tooltip {
    border-radius: 5px;
}

.point {
    border: 1px solid #ccc;
    display: inline-block;
    position: absolute;
    background: #fff;
    z-index: 100;
    cursor: pointer;

    height: 20px;
    width: 20px;
    border-radius: 20px;
    top: 20px;
}

.point:hover {
    background: #ebebeb;
}

.point-label {
    position: absolute;
}

.point.active {
    background: #ccc;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    top: 20px;
    border-color: #888;
}  

.line {
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 1;
}

.dataTable td {
    border: 1px solid #e6e6e6 !important;
}

.chart.vis-data-table .datatable-default td, 
.chart.vis-data-table .datatable-default th {
    padding: 10px !important;
}

.chart.vis-data-table .datatable-default th {
    background: #08c;
    color: #fff;
    border: none;
}

.chart.vis-data-table .datatable-default th.sorting_desc:after,
.chart.vis-data-table .datatable-default th.sorting_asc:after {
    color: #fff;
    margin-left: 10px;
}

.chart.vis-data-table .datatable-default thead tr {
    border-bottom: 1px solid #e6e6e6 !important;
}

.chart.vis-data-table .datatable-default tbody tr.even {
    background: #fafafa !important;
}

.chart.vis-data-table .datatable-default th.sorting:hover, .chart.vis-data-table .datatable-default th.sorting_desc:hover, .chart.vis-data-table .datatable-default th.sorting_asc:hover {
    text-decoration: none;
}

.chart.vis-data-table #datatable_previous:before {
    content: '← ';
    color: #777;
}

.chart.vis-data-table #datatable_next:after {
    content: ' →';
    color: #777;
}

.chart.vis-data-table #datatable_length, #datatable_filter {
    margin-bottom: 20px !important;
} 

.chart.vis-data-table #datatable_info,
.chart.vis-data-table #datatable_paginate {
    margin-bottom: 10px;
    margin-top: 10px;
}

.dataTables_filter input {
    margin-left: 8px;
}

.vis-pie-chart path,
.vis-donut-chart path,
.vis-election-donut-chart path {
    stroke-width: 0.5;
}




