html, body, div, ul {
  margin: 0px;
  padding: 0px;
}

#hf_header_wrapper {
  margin: 10px 5px 0px 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  min-height: 55px;
}

#hf_header_wrapper li {
  float: left;
  list-style: none;
}

#hf_header_wrapper ._logo {
  margin-top: 5px;
}

#hf_header_wrapper img {
  vertical-align: baseline;
}

#hf_header_wrapper ._slogan, #hf_header_wrapper ._social_icons_top, #hf_header_wrapper ._search, #hf_header_wrapper ._main_menu {
  display: none;
}

#hf_header_wrapper ._langswitch {
  float: right;
  z-index: 999;
  position: relative;
}

#hf_header_wrapper ._langswitch ul {
  border: 1px solid #dedede;
  border-bottom: 2px solid #38b1ef;
  margin-top: 35px;
  padding: 0;
  background-color: #fff;
  display: none;
  position: absolute;
}

#hf_header_wrapper ._langswitch li {
  float: none;
  padding: 3px 20px;
  font-size: 14px;
  color: #000;
}

#hf_header_wrapper ._langswitch li a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

#hf_header_wrapper ._langswitch li a:hover {
  color: #38b1ef;
}

#hf_header_wrapper ._langswitch ._active_mobile, #hf_header_wrapper ._langswitch ._mobile_icon {
  float: right;
  height: 20px;
  display: block;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 7px 4px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#hf_header_wrapper ._langswitch ._mobile_icon {
  padding: 7px 8px;
}

#hf_header_wrapper ._langswitch ._active {
  display: none;
  padding: 10px 20px;
  cursor: pointer;
}

#hf_header_wrapper ._mobile_menu {
  display: none;
  clear: both;
  overflow: hidden;
}

#hf_header_wrapper ._main_menu_mobile li {
  float: none;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 5px;
}

#hf_header_wrapper ._main_menu_mobile li a {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

#hf_header_wrapper ._main_menu_mobile li a:hover {
  color: #aaa;
}

#hf_header_wrapper ._main_menu_mobile ._last {
  border: 0;
}

#hf_header_wrapper .menu-home-icon a {
  padding-bottom: 12px !important;
}

#hf_header_wrapper ._mobile_search {
  margin: 10px 0;
  padding: 15px 0;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

#hf_header_wrapper ._mobile_search ._mobile_search_input {
  color: #818181;
  border: 1px solid #e4e4e4;
  font-size: 13px;
  height: 35px;
  width: 100%;
  padding: 0 10px;
}

#hf_header_wrapper ._mobile_search ._mobile_search_submit {
  position: relative;
  float: right;
  width: 36px;
  height: 37px;
  border: 0;
  margin-top: -37px;
  padding: 0;
  background: #000 url(../img/search-glass.png) no-repeat scroll center center;
}

._graylinetop {
  border: none;
  height: 2px;
  background-color: #d6d6d6;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #hf_header_wrapper {
    margin: 0;
  }
  #hf_header_wrapper ._header_container {
    margin: 0 auto;
    margin-bottom: -2px;
    width: 768px;
  }
  #hf_header_wrapper ._logo img {
    width: 240px;
    height: 47px;
  }
  #hf_header_wrapper ._slogan {
    color: #333;
    margin: 15px 0 0 10px;
    padding-left: 10px;
    border-left: 1px solid #dedede;
  }
  #hf_header_wrapper ._social_icons_top {
    display: block;
    float: right;
    border: 1px solid #dedede;
    border-right: 0;
    padding: 0 10px;
    height: 40px;
  }
  #hf_header_wrapper ._social_icons_top img:hover {
    opacity: 0.4;
  }
  #hf_header_wrapper ._social_icons_top ul {
    padding: 7px 0 0 0;
  }
  #hf_header_wrapper ._social_icons_top li {
    margin: 0 3px;
  }
  #hf_header_wrapper ._social_icons_top li ._arrow {
    margin-top: 5px;
  }
  #hf_header_wrapper ._social_icons_top ._rarrow {
    display: none;
  }
  #hf_header_wrapper ._langswitch {
    font-size: 14px;
    float: right;
    border: 1px solid #dedede;
    border-right: 0;
    height: 40px;
  }
  #hf_header_wrapper ._langswitch ul {
    margin-top: 1px;
    width: 105px;
    margin-left: -1px;
  }
  #hf_header_wrapper ._langswitch ._active {
    display: block;
  }
  #hf_header_wrapper ._langswitch ._active_mobile, #hf_header_wrapper ._langswitch ._mobile_icon {
    display: none;
  }
  #hf_header_wrapper ._search {
    display: block;
    float: right;
    border: 1px solid #dedede;
    height: 40px;
  }
  #hf_header_wrapper ._search ._search_submit {
    float: right;
    border: 0;
    margin-top: 10px;
    margin-right: 5px;
    width: 19px;
    height: 18px;
    background: transparent url(../img/icon-search-black.png) no-repeat 0 0;
  }
  #hf_header_wrapper ._search input {
    color: #818181;
    outline: 0;
    font-size: 14px;
    border: 0;
    transition: all 0.5s ease 0s;
    width: 90px;
    height: 38px;
    padding: 0 8px;
  }
  #hf_header_wrapper ._main_menu {
    display: block;
    height: 29px;
    padding: 20px 0 0 0;
    margin: 0;
    clear: both;
    overflow: hidden;
  }
  #hf_header_wrapper ._main_menu li a {
    padding: 9px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }
  #hf_header_wrapper ._main_menu li a:hover {
    color: #aaa;
    border-bottom: 2px solid #0e2240;
  }
  .hf_es #hf_header_wrapper ._main_menu li a {
    font-size: 12px;
    padding: 7px;
  }
}

@media (min-width: 960px) {
  #hf_header_wrapper ._header_container {
    width: 960px;
  }
  #hf_header_wrapper ._slogan {
    display: block;
  }
  #hf_header_wrapper ._main_menu {
    height: 34px;
  }
  #hf_header_wrapper ._main_menu li a {
    padding: 13px;
    font-size: 14px;
  }
  .hf_es #hf_header_wrapper ._main_menu li a {
    font-size: 14px;
    padding: 11px;
  }
}

.hf_ar #hf_header_wrapper {
  font-family: 'Noto Naskh Arabic';
}

.hf_ar #hf_header_wrapper ._logo img {
  width: 117px;
}

.hf_ar #hf_header_wrapper li {
  float: right;
}

.hf_ar #hf_header_wrapper ._langswitch li {
  float: none;
}

.hf_ar #hf_header_wrapper ._main_menu_mobile {
  padding: 0;
}

.hf_ar #hf_header_wrapper ._main_menu_mobile li {
  float: none;
}

.hf_ar #hf_header_wrapper ._search, .hf_ar #hf_header_wrapper ._langswitch, .hf_ar #hf_header_wrapper ._social_icons_top, .hf_ar #hf_header_wrapper ._active_mobile, .hf_ar #hf_header_wrapper ._mobile_icon {
  float: left;
}

.hf_ar #hf_header_wrapper ._active_mobile, .hf_ar #hf_header_wrapper ._mobile_icon {
  margin-left: 0;
  margin-right: 5px;
}

.hf_ar #hf_header_wrapper ._mobile_search ._mobile_search_submit {
  float: left;
}

@media (min-width: 768px) {
  .hf_ar #hf_header_wrapper ._slogan {
    padding-right: 10px;
    border-left: 0;
    border-right: 1px solid #dedede;
    margin: 15px 10px 0 0;
  }
  .hf_ar #hf_header_wrapper ._search ._search_submit {
    float: left;
    margin-right: 0px;
    margin-left: 5px;
  }
  .hf_ar #hf_header_wrapper ._social_icons_top {
    border: 1px solid #dedede;
    border-left: 0;
    padding: 0 10px;
    height: 40px;
  }
  .hf_ar #hf_header_wrapper ._social_icons_top ._rarrow {
    display: block;
  }
  .hf_ar #hf_header_wrapper ._social_icons_top ._larrow {
    display: none;
  }
  .hf_ar #hf_header_wrapper ._langswitch {
    border: 1px solid #dedede;
    border-left: 0;
  }
  .hf_ar #hf_header_wrapper ._main_menu li a {
    padding: 7px;
  }
  .hf_ar #hf_header_wrapper ._logo img {
    width: 150px;
  }
}

@media (min-width: 960px) {
  .hf_ar #hf_header_wrapper ._main_menu li a {
    padding: 12px;
  }
}

.hf_cn #hf_header_wrapper ._logo img {
  width: auto;
  height: 50px;
}

#hf_footer_wrapper {
  clear: both;
  padding-top: 15px;
  margin: 0 5px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

#hf_footer_wrapper ._grayline {
  border: none;
  height: 1px;
  background-color: #adadad;
  margin-bottom: 15px;
}

#hf_footer_wrapper ._group, #hf_footer_wrapper ._parent {
  display: block;
}

#hf_footer_wrapper ._col5 {
  display: none;
}

#hf_footer_wrapper ._col1, #hf_footer_wrapper ._col2, #hf_footer_wrapper ._col3, #hf_footer_wrapper ._col4 {
  width: 49%;
  float: left;
  margin-right: 1%;
}

#hf_footer_wrapper a {
  text-decoration: none;
}

#hf_footer_wrapper a:hover {
  text-decoration: underline;
}

#hf_footer_wrapper li {
  list-style: none;
  display: none;
}

#hf_footer_wrapper li a {
  color: #818181;
}

#hf_footer_wrapper ._group {
  clear: both;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

#hf_footer_wrapper ._group a {
  color: #000;
}

#hf_footer_wrapper ._parent, #hf_footer_wrapper ._bold {
  font-weight: bold;
}

#hf_footer_wrapper ._parent a, #hf_footer_wrapper ._bold a {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

#hf_footer_wrapper ._2lines {
  line-height: 14px;
  margin: 8px 0;
}

#hf_footer_wrapper ._indent {
  margin-left: 15px;
}

#hf_footer_wrapper ._bottom {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

#hf_footer_wrapper ._bottom li {
  display: block;
  float: left;
  margin-right: 20px;
}

#hf_footer_wrapper ._bottom li a {
  color: #818181;
  font-weight: 600;
}

#hf_footer_wrapper ._bottom ._bottom_logo {
  width: 100%;
  margin-top: 0;
}

#hf_footer_wrapper ._lowercase {
  text-transform: none;
}

#hf_footer_wrapper ._bottom_left {
  clear: both;
}

#hf_footer_wrapper ._bottom_left ul {
  width: 100%;
  float: left;
}

#hf_footer_wrapper ._bottom_left li {
  display: block;
  float: left;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #ccc;
  line-height: 16px;
}

#hf_footer_wrapper ._bottom_left li a {
  color: #333;
  font-size: 11px;
}

#hf_footer_wrapper ._bottom_left ._last {
  border: 0;
}

#hf_footer_wrapper ._bottom_left ._copyright {
  color: #333;
  font-size: 11px;
}

#hf_footer_wrapper ._bottom_right {
  margin-top: 5px;
}

#hf_footer_wrapper ._bottom_right a {
  font-size: 11px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

#hf_footer_wrapper ._bottom_right div {
  line-height: normal;
}

#hf_footer_wrapper ._hr {
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

._hide {
  display: none;
}

@media (min-width: 768px) {
  #hf_footer_wrapper {
    margin: 0 auto;
    width: 768px;
  }
  #hf_footer_wrapper ._group, #hf_footer_wrapper ._parent, #hf_footer_wrapper ._social_icons, #hf_footer_wrapper ._newsletter, #hf_footer_wrapper ._bold {
    display: block;
  }
  #hf_footer_wrapper ._parent._nolink, #hf_footer_wrapper ._hide {
    display: none;
  }
  #hf_footer_wrapper ._col1, #hf_footer_wrapper ._col2, #hf_footer_wrapper ._col3, #hf_footer_wrapper ._col4 {
    float: left;
    width: 16.6%;
  }
  #hf_footer_wrapper ._col5 {
    display: block;
    float: left;
    width: 29%;
  }
  #hf_footer_wrapper ._bottom ._bottom_logo {
    width: auto;
  }
  #hf_footer_wrapper ._bottom li {
    margin-top: 7px;
  }
  #hf_footer_wrapper ._ibrd {
    padding-left: 20px;
    border-left: 1px solid #ccc;
  }
  #hf_footer_wrapper ._bottom_left {
    width: 50%;
    float: left;
  }
  #hf_footer_wrapper ._bottom_left li {
    padding-right: 10px;
    margin-right: 10px;
  }
  #hf_footer_wrapper ._bottom_right {
    margin-top: 0;
    width: 48%;
    float: right;
    text-align: right;
  }
  ._middle {
    margin-top: 10px;
  }
  ._mob {
    display: none !important;
  }
}

@media (min-width: 960px) {
  #hf_footer_wrapper {
    width: 960px;
  }
  #hf_footer_wrapper ul {
    width: 16.6%;
  }
  #hf_footer_wrapper li, #hf_footer_wrapper ._nolink, #hf_footer_wrapper ._hide {
    display: block;
  }
  #hf_footer_wrapper ._col1, #hf_footer_wrapper ._col5 {
    width: 22.5%;
  }
}

.hf_ar #hf_footer_wrapper {
  font-family: 'Noto Naskh Arabic';
}

.hf_ar #hf_footer_wrapper ._col1, .hf_ar #hf_footer_wrapper ._col2, .hf_ar #hf_footer_wrapper ._col3, .hf_ar #hf_footer_wrapper ._col4 {
  float: right;
  margin: 0;
  margin-left: 1%;
}

.hf_ar #hf_footer_wrapper ._social_icons ul li {
  float: right;
  margin: 0;
  margin-left: 10px;
}

.hf_ar #hf_footer_wrapper ._bottom li {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

.hf_ar #hf_footer_wrapper ._bottom ._ibrd {
  padding-left: 0;
  padding-right: 20px;
  border: 0;
  border-right: 1px solid #ccc;
}

.hf_ar #hf_footer_wrapper ._bottom_left {
  float: right;
}

.hf_ar #hf_footer_wrapper ._bottom_left li {
  float: right;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  margin-left: 10px;
  border-right: 0;
  border-left: 1px solid #ccc;
  line-height: 16px;
}

.hf_ar #hf_footer_wrapper ._bottom_left ._last {
  border: 0;
}

.hf_ar #hf_footer_wrapper ._bottom_left {
  width: 77%;
}

.hf_ar #hf_footer_wrapper ._bottom_right {
  width: 21%;
  clear: right;
}

.hf_ar #hf_footer_wrapper ._newsletter_mobile ul li {
  float: right;
}

.hf_ar #hf_footer_wrapper ._newsletter_submit {
  background: transparent url(../img/searchboxarrow-w-ar.png) no-repeat 0 0;
  width: 42px;
  height: 37px;
  float: left;
  padding: 0;
  border: 0;
  position: relative;
}

@media (min-width: 768px) {
  .hf_ar #hf_footer_wrapper ._bottom_right {
    clear: left;
    text-align: right;
    margin-right: 15px;
  }
}

#hf_footer_wrapper ._social_icons ul {
  clear: both;
  width: 100%;
  margin-bottom: 5px;
}

#hf_footer_wrapper ._social_icons ul li {
  display: block;
  float: left;
  margin-right: 10px;
}

#hf_footer_wrapper ._newsletter_input {
  border: 1px solid #ccc;
  width: 94%;
  height: 37px;
  margin: 0;
  padding: 0 5px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
}

#hf_footer_wrapper ._newsletter_submit {
  background: transparent url(../img/searchboxarrow-w.png) no-repeat 0 0;
  width: 42px;
  height: 37px;
  float: right;
  padding: 0;
  border: 0;
  margin-top: -38px;
  position: relative;
}

#hf_footer_wrapper ._newsletter_mobile {
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#hf_footer_wrapper ._newsletter_mobile ul {
  clear: both;
  width: 100%;
  margin-bottom: 5px;
}

#hf_footer_wrapper ._newsletter_mobile ul li {
  display: block;
  float: left;
  margin-right: 10px;
}

#hf_footer_wrapper ._newsletter_mobile ._group {
  margin-bottom: 5px;
}

#hf_footer_wrapper ._newsletter_mobile ._newsletter_input {
  height: 35px;
}

#hf_footer_wrapper ._newsletter_mobile ._newsletter_submit {
  margin: -37px 0 0 0;
}

@media (min-width: 768px) {
  ._newsletter_mobile {
    display: none;
  }
}

@media (min-width: 960px) {
  ._newsletter {
    margin-bottom: 20px;
  }
}
