/* Fonts */
@font-face {
  font-family: "OttoSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/otto-sans.woff") format("woff"), url("../fonts/otto-sans.ttf") format("truetype"), url("../fonts/otto-sans.svg#OttoSans") format("svg");
}
@font-face {
  font-family: "OttoSans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/otto-sans-bold.woff") format("woff"), url("../fonts/otto-sans-bold.ttf") format("truetype"), url("../fonts/otto-sans-bold.svg#OttoSans") format("svg");
}
@font-face {
  font-family: "OttoSansThin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/otto-sans-thin.woff") format("woff"), url("../fonts/otto-sans-thin.ttf") format("truetype"), url("../fonts/otto-sans-thin.svg#OttoSansThin") format("svg");
}
