.bc-wrapper{
    position: relative;
}

.bc-wrapper .bc-menu{
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: none;
}

.input-group .bc-wrapper .bc-menu {
    top: 38px;
}