body,
h1,
h2,
dl,
dt,
dd {
    margin: 0;
    padding: 0
}
body {
    background: #fafafa;
    overflow-x: hidden;
    font-family: Arial, '微軟正黑體';
    font-size: 12px
}
body.is-ut header>h1 {
    background-position: 10px 33.333%
}
body.is-ut footer>dl>dt {
    color: #319323
}
body.is-tc header>h1 {
    background-position: 10px 66.667%
}
body.is-tc footer>dl>dt {
    color: #00619b
}
body.is-hf header>h1 {
    background-position: 10px 100%
}
body.is-hf footer>dl>dt {
    color: #e06000
}
header {
    margin: 0 auto;
    padding: 1em 0 0;
    background: #fff
}
header>h1 {
    margin: 0 auto;
    background: url('logo.png') no-repeat 10px 0;
    font-size: 1em;
    max-width: 1280px;
    width: 100%;
    height: 60px;
    text-indent: -10em;
    overflow: hidden
}
.m-content {
    padding: 170px 0 40px;
    background: #fff;
    color: #888
}
.m-content .m-section {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100px
}
.m-content .m-section>h2 {
    position: absolute;
    margin-left: -350px;
    font-weight: normal;
    letter-spacing: 5px;
    font-size: 79px;
    top: 0;
    left: 50%
}
.m-content .m-section>p {
    position: absolute;
    margin-left: -60px;
    font-size: 16px;
    line-height: 1.75em;
    width: 418px;
    left: 50%
}
.m-content .m-section>p .title {
    display: block
}
.m-content .m-section>p .mail>span:after {
    content: ':'
}
.m-content .m-section>p .mail>a {
    white-space: nowrap;
    color: #777;
    text-decoration: none
}
footer {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%
}
footer>dl {
    position: absolute;
    margin-left: -60px;
    line-height: 17px;
    top: 45px;
    left: 50%;
    width: 400px
}
footer>dl>dt {
    margin: 0 0 13px;
    font-size: 15px;
    border-right: 1px solid #777;
    font-weight: bold;
    width: 90px;
    color: #c83424;
    float: left;
    clear: left
}
footer>dl>dd {
    margin: 0 0 13px;
    font-size: 16px;
    text-indent: 13px;
    color: #777;
    white-space: nowrap;
    width: 309px
}
@media(min-width:50px) and (max-width:750px) {
    header>h1 {
        margin: 0 1.5em;
        background-size: auto 400%;
        width: 100%;
        height: 2.5em;
        max-width: 640px
    }
    .m-content {
        padding: 3em 0
    }
    .m-content .m-section {
        width: auto;
        height: auto;
        max-width: 640px
    }
    .m-content .m-section>h2,
    .m-content .m-section>p {
        position: static;
        margin: 0 3.5em !important;
        padding: 0;
        letter-spacing: 0;
        font-size: 1.25em;
        line-height: 1.6667em;
        width: auto;
        height: auto
    }
    .m-content .m-section>h2 .title,
    .m-content .m-section>p .title {
        display: inline
    }
    .m-content .m-section>h2 .mail,
    .m-content .m-section>p .mail {
        margin: 1.5em 0 0;
        display: block;
        white-space: nowrap
    }
    .m-content .m-section>h2 .mail>span:after,
    .m-content .m-section>p .mail>span:after {
        content: ' / '
    }
    .m-content .m-section>h2 .mail>a,
    .m-content .m-section>p .mail>a {
        display: block
    }
    .m-content .m-section>h2:after {
        content: '，'
    }
    footer {
        width: auto;
        max-width: 640px
    }
    footer>dl {
        position: static;
        font-size: 1.25em;
        margin: 3em 3.5em !important;
        width: auto
    }
    footer>dl>dt,
    footer>dl dd {
        margin: 0 0 .8462em;
        font-size: .8667em;
        line-height: 1.1538em
    }
    footer>dl>dt {
        border-right: .0769em solid #777;
        font-weight: bold;
        width: 6em;
        color: #c83424;
        float: left;
        clear: left
    }
    footer>dl>dd {
        text-indent: .8em;
        color: #777
    }
    footer>dl>dd.url {
        padding-left: .8em;
        text-indent: 0;
        word-wrap: break-word;
        white-space: normal;
        width: 9em;
        float: left
    }
}
@media(min-width:320px),
(max-width:320px) {
    html body {
        font-size: 12px
    }
}
@media(min-width:360px) {
    html body {
        font-size: 13.5px
    }
}
@media(min-width:400px) {
    html body {
        font-size: 15px
    }
}
@media(min-width:440px) {
    html body {
        font-size: 16.5px
    }
}
@media(min-width:480px) {
    html body {
        font-size: 18px
    }
}
@media(min-width:520px) {
    html body {
        font-size: 19.5px
    }
}
@media(min-width:560px) {
    html body {
        font-size: 21px
    }
}
@media(min-width:600px) {
    html body {
        font-size: 22.5px
    }
}
@media(min-width:640px) {
    html body {
        font-size: 24px
    }
}