@charset "utf-8";
.fm_best_widget { line-height: 1.5; }
.fm_best_widget._widget { padding-top:0; }
.fm_best_widget * { margin:0; padding:0; list-style:none; font-family: Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif; }
.fm_best_widget div { color: #686868;}
.fm_best_widget a { text-decoration:none; }
.fm_best_widget a { color: #3262C5; }
.fm_best_widget a:visited { color:#95AFFF; }
.fm_best_widget a.on { color:#0000AF; }
.fm_best_widget a:hover { color: #0000FF; text-decoration:underline; }
.fm_best_widget a:active { color: #FF0000; }
.fm_best_widget ul { padding:1px 3px 0 1px; }
.fm_best_widget li.li { position:relative; *zoom:1; padding:0; }
.fm_best_widget._widget li.li { margin-left:0; }
.fm_best_widget li.li:after { display:block; clear:both; content:""; }
/*.fm_best_widget li.li:hover, */
.fm_best_widget li.li.on { background:#eee; }
.fm_best_widget li.li.on a { /*font-weight:normal; */}
.fm_best_widget .thumb { position:absolute; left:0; top:3px; }
.fm_best_widget .regdate { font-size:11px; }
.fm_best_widget { font-size:11px; }
.fm_best_widget .title { font-size:16px;text-decoration:none; }
.fm_best_widget .read_more { position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden; font-size:0; line-height:0; text-indent:-200px; }
.fm_best_widget .category a { color:#369 }
.fm_best_widget .category a:hover { text-decoration:underline; }
.fm_best_widget .category a:active { color:red; }
/*.fm_best_widget .read_more:hover,
.fm_best_widget .read_more:focus { border:2px solid #3262C5; }
.fm_best_widget .voted_count { margin:5px 5px 0 0; padding:9px 15px; float:right; border:1px solid #ddd; color:#888; font:bold 16px Gulim,Verdana; }
*/
._bd_mobile li.li .title { font-weight:normal; }
._bd_mobile { padding:0 5px; }

div.grayWidgetStyle_content { margin:10px; }
