@charset "UTF-8";
/*----------------------------------------------------------------▲付きリンク*/
/*グローバルナビゲーション：リンクの▲*/
#gNavi li ul li a, /*下層ページ共通関連リンク：リンクの▲*/
ul.relatedLink a, /*右ペインのスライダー：リンクの▲*/
ul.paneRightLi li a, ul.paneRightLi li.hyoshi p a, /*右ペインのjジャンプニュース：リンクの▲*/
.jumpnews a,
.relationLink a {
	display: block;
	background: url(../_image/cmn_arow_trigona_right_bk.gif) no-repeat 0 8px;
	padding: 5px 0 5px 10px;
	font-size: 13px;
	line-height: 1.2;
}

 /*コミックス一覧*/
.comics .column3List li ul.comicsBtn li a{
	display: block;
	background: url(../_image/cmn_arow_trigona_right_bk.gif) no-repeat 0 8px;
	padding: 5px 0 5px 10px;
	font-size: 11px;
	line-height: 1.2;
	}

/*コミックス一覧（無料試し読みボタン）*/
.comics .column3List li ul.comicsBtn li.none {
		background: #a6a6a6;
		margin:0 0 7px;
	padding: 7px 0 5px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	text-decoration: none;
}
/*コミックス一覧（無料試し読みボタン）*/
.comics .column3List li .comicsBtn li.read a {
	margin:0 0 7px;
		background: #ed3d3d;
	padding: 7px 0 5px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	text-decoration: none;
}

.comics .column3List li .comicsBtn li.read a:hover {
 opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha( opacity=60 )";
}
/*------------------------------------*/
/*イレギュラー対応*/

/*コミックス一覧*/
ul.comicsBtn2 li a{
	display: block;
	background: url(../_image/cmn_arow_trigona_right_bk.gif) no-repeat 0 8px;
	padding: 5px 0 5px 10px;
	font-size: 11px;
	line-height: 1.2;
	}
	
	/*コミックス一覧（無料試し読みボタン）*/
ul.comicsBtn2 li.none {
		background: #a6a6a6;
		margin:0 0 7px;
	padding: 7px 0 5px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	text-decoration: none;
}
/*コミックス一覧（無料試し読みボタン）*/
ul.comicsBtn2 li.read a {
	margin:0 0 7px;
		background: #ed3d3d;
	padding: 7px 0 5px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	text-decoration: none;
}

.comicsBtn2 li.read a:hover {
 opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha( opacity=60 )";
}


/*------------------------------------*/

/*ジャンプNEXT!! バックナンバーボタン*/
.jumpnext .comicsBtn li.read a {
	display: block;
	background: #ed3d3d;
	margin:0 0 4px;
	padding: 7px 0 5px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	text-decoration: none;
}

.jumpnext .comicsBtn li.none a {
	display: block;
	background: #a6a6a6;
	margin:0 0 4px;
	padding: 7px 0 5px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	text-decoration: none;
}

.jumpnext .comicsBtn a:hover {
 opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha( opacity=60 )";
}








/*----------------------------------------------------------------▲付きリンク*/
/*------------------------------------------------------------------▲を無しに*/
/*グローバルナビゲーション：リンクの▲を無しに*/
#gNavi li ul li.first-child a, /*グローバルナビゲーション：ボックス内レイアウト：リンクの▲を無しに*/
#gNavi li ul li dt a, /*右ペインのスライダー：リンクの▲を無しに*/
ul.paneRightLi li.hyoshi a, ul.paneRightLi li.next a {
	display: inline;
	background: none;
	padding: 0;
}

.jumpmenu li a:link,.jumpmenu li a:visited {
	color:#FFF;
	text-decoration:none;}
.jumpmenu li a:hover,.jumpmenu li a:active {
	color:#CCC;
	text-decoration: none;}
