@charset "UTF-8";
/*-------------------------------------------------------------------基本設定*/
/*--------------------------------------------------------------ページ別背景色*/

body {
	min-width: 1090px;
}
/*ジャンプ背景色*/
body.jump, body.saikyo {
	background: #F3EFE7;
}
/*death note2016背景色*/
body.deathnote{
	background: #000;
	background: url("/j/sp_deathnote2016/_img/bg_noise.jpg");
}
/*4月のジャンプ大攻勢背景色
body.return{
	background: #ff992c;
}*/
/*ジャンプNEXT背景色*/
body.jumpnext {
	background: #DAEDD8;
}
/*ジャンプGIGA背景色*/
body.jumpgiga {
	background: #ffe5d3;
}
/*コミックス背景色*/
body.comics {
	background: #F6F3CD;
}
/*ジャンプ背景色*/
body #wrapper1{
	background: url("/j/_common/jack/bg.jpg");
	background-position:center top;
}
/*------------------------------------------------------------基本設定:ヘッダー*/
/*--------------------------------------------------------------------------*/
/*ヘッダー*/
#header {
	width: 990px;
	margin: 0 auto 24px;
	font-size: 0;
	zoom: 1;
}
/*回り込みクリア*/
#header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
#header + * {
	clear: both;
}
/*------------------------------------------------------------基本設定:ヘッダー*/
/*-----------------------------------------------------------------------ロゴ*/
/*ジャンプロゴ*/
h1 {
	width: 316px;
	margin: 6px 0 0 0;
	float: left;
}
/*------------------------------------------------------------基本設定:ヘッダー*/
/*--------------------------------------------------------------スーパーバナー*/
/*スーパーバナー*/
.spbn {
	width: 674px;
	margin: 16px 0 0 0;
	float: right;
}
/*------------------------------------------------------------基本設定:ヘッダー*/
/*----------------------------------------------基本設定:グローバルナビゲーション*/
/*--------------------------------------------------------------------------*/
/*グローバルナビゲーション*/
#gNavi {
	position: relative;
	width: 858px;
	height: 95px;
	margin: 0 auto 8px;
	z-index: 999;
}
#gNavi li {
	position: relative;
	font-size: 0;
	line-height: 0;
	float: left;
}
/*------------------------------------------------------------基本設定:ヘッダー*/
/*----------------------------------------------基本設定:グローバルナビゲーション*/
/*----------------------------------------------------ドロップダウンサブメニュー*/
/*少年ドロップダウンサブメニュー*/
#gNavi ul.jumpLi {
	display: none;
	position: absolute;
	width: 1005px;
	top: 95px;
	left: -73px;
}
* html #gNavi ul.jumpLi {
	line-height: 0;
}
/*----------------------------------------------------ドロップダウンサブメニュー*/
/*ジャンプNEXT!!ドロップダウンサブメニュー*/
#gNavi ul.nextLi {
	display: none;
	position: absolute;
	width: 653px;
	top: 95px;
	left: -73px;
}
* html #gNavi ul.nextLi {
	line-height: 0;
}
/*----------------------------------------------------ドロップダウンサブメニュー*/
/*コミックスドロップダウンサブメニュー*/
#gNavi ul.comicsLi {
	display: none;
	position: absolute;
	width: 388px;
	top: 95px;
	left: -73px;
}
#gNavi ul.comicsLi2 {
	width: 290px;
}
* html #gNavi ul.comicsLi {
	line-height: 0;
}
/*------------------------------------------------------------基本設定:ヘッダー*/
/*----------------------------------------------基本設定:グローバルナビゲーション*/
/*----------------------------------------------------ドロップダウンサブメニュー*/
/*--------------------------------------------------ドロップシャドウ付きボックス*/
/*floatをクリア*/
#gNavi ul li {
	float: none;
}
/*--------------------------------------------------ドロップシャドウ付きボックス*/
/*ドロップシャドウ付きボックス*/
#gNavi ul li.inner {
	background: #FFF;
	padding: 0 10px 20px;
	border-top: 5px solid #c72222;
	border-bottom: 5px solid #c72222;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); /*CSS3*/
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); /* Firefox用*/
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); /* Google Chrome, Safari用*/
	zoom: 1;
}
/*回り込みクリア*/
#gNavi ul li.inner:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
#gNavi ul li.inner + * {
	clear: both;
}
/*--------------------------------------------------ドロップシャドウ付きボックス*/
/*----------------------------------------------------------------IE7用ハック*/
/*IE７のみ.innerをマイナスマージン*/
*:first-child+html #gNavi ul li.inner {
	margin-top: -20px;
}
*+html #gNavi ul li.inner {
	margin-top: -20px;
}
/*--------------------------------------------------ドロップシャドウ付きボックス*/
/*赤い下向き矢印*/
#gNavi ul span.arrow {
	display: block;
	height: 20px;
	padding: 0 0 0 136px;
	font-size: 0;
}
#gNavi ul span.arrow img {
	display: block;
	max-width: 100%;
}
/*--------------------------------------------------ドロップシャドウ付きボックス*/
/*リストの最初にon状態の画像を入れる*/
#gNavi ul li.first-child {
	margin: 0;
	padding: 0 0 0 73px;
	float: none;
}
/*画像をナビゲージョン画像に重ねる*/
#gNavi ul li.first-child img {
	margin: -95px 0 0;
	vertical-align: top;
}
/*--------------------------------------------------ドロップシャドウ付きボックス*/
/*--------------------------------------------------------ボックス内レイアウト*/
/*ボックス内レイアウト基本設定*/
#gNavi div {
	min-height: 248px;
	height: auto !important;
	margin: 0;
	padding: 0 14px;
	border-right: 1px solid #c3c3c3;
	float: left;
}
#gNavi ul.jumpLi div {
	min-height: 335px;
}
/*内容ボックス ボーダー無し*/
#gNavi div.noborder {
	border: none;
}
/*--------------------------------------------------------ボックス内レイアウト*/
/*画像つきボックス*/
#gNavi div.column1 {
	width: 288px;
}
/*--------------------------------------------------------ボックス内レイアウト*/
/*マンガ賞一覧ボックス*/
#gNavi div.column2 {
	width: 236px;
}
/*--------------------------------------------------------ボックス内レイアウト*/
/*グッズ一覧／アニメ／アプリ*/
#gNavi div.column3 {
	width: 172px;
}
/*--------------------------------------------------------ボックス内レイアウト*/
/*コミックス一覧*/
#gNavi div.column4 {
	width: 342px;
}
/*--------------------------------------------------------ボックス内レイアウト*/
/*コミックス一覧*/
#gNavi div.column5 {
	width: 342px;
	min-height: 160px;
}
/*--------------------------------------------------------ボックス内レイアウト*/
/*コミックス一覧*/
#gNavi div.column6 {
	width: 240px;
	min-height: 100px;
}
#gNavi div.column6 dt {
	display: none;
	width: 0;
}
#gNavi div.column6 dd {
	margin: 0 0 0 10px;
}
/*--------------------------------------------------------ボックス内レイアウト*/
/*ボックス内タイトル*/
#gNavi div strong {
	display: block;
	margin: 0 0 12px;
	padding: 0 4px 4px;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	border-bottom: 2px solid #c3c3c3;
}
/*ボックス内タイトル上マージン*/
#gNavi div strong.mt {
	display: block;
	margin: 12px 0 12px;
	padding: 0 4px 4px;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	border-bottom: 2px solid #c3c3c3;
}
/*--------------------------------------------------------ボックス内レイアウト*/
/*-----------------------------------------------------ボックス内画像付きリスト*/
#gNavi dl {
	font-size: 13px;
	zoom: 1;
}
/*回り込みクリア*/
#gNavi dl:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
#gNavi dl + * {
	clear: both;
}
/*-------------------------------------------------基本設定:ボックス内レイアウト*/
/*-----------------------------------------------------ボックス内画像付きリスト*/
/*画像のボックス*/
#gNavi dt {
	width: 156px;
	float: left;
	clear: both;
}
/*テキストのボックス*/
#gNavi dd {
	margin: 0 0 0 156px;
}
/*-----------------------------------------------------------基本設定:フッター*/
/*-------------------------------------------------------------フッターバナー*/
/*フッターバナー*/
.bnArea {
	width: 960px;
	margin: 20px auto 0;
	padding: 20px 0 10px;
}
/*-------------------------------------------------------------フッターバナー*/
.bnArea ul {
	width: 930px;
	margin: 0 auto;
	zoom: 1;
}
/*回り込みクリア*/
.bnArea ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
.bnArea ul .link + * {
	clear: both;
}
/*---------------------------------------------------------------------------*/
.bnArea ul li {
	width: 310px;
	text-align: center;
	padding: 0 0 10px;
	float: left;
}
.bnArea ul li img {
	display: block;
	margin: 0 auto;
}
/*-----------------------------------------------------------基本設定:フッター*/
/*-------------------------------------------------------------------------*/
/*フッター*/
#footer {
	background: #262424;
	margin: 0 auto;
}
/*---------------------------------------------------------------------------*/
/*フッター幅*/
#footer .inner {
	width: 930px;
	margin: 0 auto;
}
/*-----------------------------------------------------------基本設定:フッター*/
/*----------------------------------------------------------フッター外部リンク*/
/*フッター外部リンク*/
#footer .inner .link {
	zoom: 1;
}
/*回り込みクリア*/
#footer .inner .link:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
#footer .inner .link + * {
	clear: both;
}
/*----------------------------------------------------------フッター外部リンク*/
#footer .inner .link li {
	width: 300px;
	margin: 0 10px 0 0;
	line-height: 1.6;
	float: left;
}
/*SNSのリストの幅を小さく*/
#footer .inner .link li.sns {
	width: 150px;
	margin: 0 10px 0 0;
	float: left;
}
/*リストの最後の右マージン削除*/
#footer .inner .link li.last-child {
	width: 150px;
	margin: 0 0 0 0;
	float: left;
}
/*----------------------------------------------------------フッター外部リンク*/
/*---------------------------------------------------フッター外部リンクのリスト*/
/*リンクのリスト*/
#footer .inner .list {
	margin: 0 0 0 2px;
	font-size: 93%;
	zoom: 1;
}
/*回り込みクリア*/
#footer .inner .list:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
#footer .inner .list + * {
	clear: both;
}
/*----------------------------------------------------------フッター外部リンク*/
/*---------------------------------------------------フッター外部リンクのリスト*/
#footer .inner .list li {
	width: 148px;
	margin: 0 0 0 0;
	line-height: 1.6;
	float: left;
}
#footer .inner .list li.last-child {
	width: 148px;
	margin: 0 0 0 0;
	float: left;
}
/*----------------------------------------------------------フッター外部リンク*/
/*---------------------------------------------------フッター外部リンクのリスト*/
/*-------------------------------------------------------------------タイトル*/
/*関連ポータルサイトタイトル*/
#footer .inner .ttl_portal {
	margin: 18px 0 4px 2px;
	padding: 4px 0 0 0;
	font-size: 108%;
	color: #FFF;
	border-bottom: 2px solid #e60012;
}
/*-------------------------------------------------------------------------*/
/*作品公式サイトタイトル*/
#footer .inner .ttl_site {
	margin: 18px 0 4px 2px;
	padding: 4px 0 0 0;
	font-size: 108%;
	color: #FFF;
	border-bottom: 2px solid #3cc517;
}
/*-------------------------------------------------------------------------*/
/*SNSタイトル*/
#footer .inner .ttl_sns {
	margin: 18px 0 4px 2px;
	padding: 4px 0 0 0;
	font-size: 108%;
	color: #FFF;
	border-bottom: 2px solid #f7ff7e;
}
/*-------------------------------------------------------------------------*/
/*英語サイトタイトル*/
#footer .inner .ttl_eng {
	margin: 18px 0 4px 2px;
	padding: 4px 0 0 0;
	font-size: 108%;
	color: #FFF;
	border-bottom: 2px solid #ff2ff8;
}
/*-----------------------------------------------------------基本設定:フッター*/
/*-------------------------------------------------------------------------*/
/*編集部からのテキスト*/
#footer .inner p {
	margin: 18px 0 12px;
	background: #FFF;
	padding: 20px 30px;
	line-height: 1.4;
}
/*週刊少年ジャンプ編集部 署名*/
#footer .inner span {
	display: block;
	text-align: right;
}
/*-----------------------------------------------------------基本設定:フッター*/
/*-----------------------------------------------------------------著作権表示*/
/*コピーライト*/
#footer .Copyright {
	padding: 0 0 36px 0;
	font-size: 93%;
	color: #FFF;
}
/*-----------------------------------------------------------基本設定:フッター*/
/*-----------------------------------------------フッター外部リンクリンク色設定*/
/*フッター外部リンク色*/
#footer ul a:link, #footer ul a:visited {
	font-size: 93%;
	color: #FFF;
	text-decoration: none;
}
#footer ul a:hover, #footer ul a:active {
	font-size: 93%;
	color: #FFF;
	text-decoration: underline;
}
/*-------------------------------------------------------------基本設定その他*/
/*--------------------------------------------------------------パンくずリスト/
/*パンくずリスト*/
.pageLink {
	margin: 12px 0 12px 0;
	font-size: 12px;
	color: #666;
}
.pageLink li {
	display: inline;
}
/*パンくずリストリンク設定*/
.pageLink li a:link, .pageLink li a:visited {
	color: #333;
	font-size: 93%;
	text-decoration: none;
}
.pageLink li a:hover, .pageLink li a:active {
	color: #333;
	font-size: 93%;
	text-decoration: underline;
}
/*-------------------------------------------------------------基本設定その他*/
/*--------------------------------------------------------このページのトップへ*/
/*このページのトップへ*/
.pagetop {
	width: 920px;
	margin: 0 auto;
	padding: 0 0 20px;
	text-align: right;
	zoom: 1;
}
/*回り込みクリア*/
.pagetop:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
.pagetop + * {
	clear: both;
}
/*-------------------------------------------------------------基本設定その他*/
/*---------------------------------------------------------------リンク色設定*/
/*文字色*/
a:link, a:visited {
	color: #1596cc;
	text-decoration: none;
	overflow:hidden;
	outline:none;
}
a:hover, a:active {
	color: #1596cc;
	text-decoration: underline;
}
/*-------------------------------------------------------------基本設定その他*/
/*---------------------------------------------------------------最小高さ設定*/
/*最小高さ設定*/
.minheight {
	min-height: 100px;
	height: auto !important;
	height: 100px;
}
/*-------------------------------------------------------------基本設定その他*/
/*----------------------------------------------------------画像マウスオーバー*/
.alpha a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha( opacity=60 )";
	background: #fff;
}
/*----------------------------------------------------------------------その他*/
/*----------------------------------------------------------------------------*/
/*リンクの点線消去*/
a {
	overflow:hidden;
	outline:none;
}

/*フロート解除*/
.clear {
	zoom:1;
}

/*フロート解除:回り込みクリア*/
.clear:after {
	content:".";
	display: block;
	height:0px;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}

/*----------------------------------------------------
	ボタン出し分け
----------------------------------------------------*/

.jigenAfter{ display: none;}
body.close .jigenAfter{ display: inherit;}

.jigenBefore{ display: inherit;}
body.close .jigenBefore{ display: none;}



