@charset "UTF-8";
/*-----------------------------------------------------トップページスライド設定*/
/*-------------------------------------------------------------------------*/
/*背景色黒*/
.main {
	background: #2b2e31;
	padding: 10px 10px 20px;
	font-size:0;
}
/*-----------------------------------------------------トップページスライド設定*/
/*-----------------------------------------------------少年ジャンプ用ボタン配置*/
/*少年ジャンプ用*/
#mainSlide .weekly {
	position: relative;
}
/*ボタンを絶対配置*/
#mainSlide .weekly ul {
	position: absolute;
	width: 265px;
	left: 14px;
	bottom: 10px;
}
#mainSlide .weekly ul li {
	margin: 0 0 5px;
	font-size: 0;
}

/*-----------------------------------------------------トップページスライド設定*/
/*-----------------------------------------------------------新連載用ボタン配置*/
/*少年ジャンプ用*/
#mainSlide .shinrensai {
	position: relative;
}
/*ボタンを絶対配置*/
#mainSlide .shinrensai ul {
	position: absolute;
	width: 600px;
	left: 10px;
	bottom: 10px;
}
#mainSlide .shinrensai ul li {
	margin: 0 3px 5px 0;
	font-size: 0;
	float:left;
}


