@charset "UTF-8";
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------------------ニュース一覧*/
/*H2基本*/
h2 {
	padding: 6px 14px;
	color: #FFF;
	zoom: 1;
}
/*回り込みクリア*/
h2:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
h2 + * {
	clear: both;
}
/*-----------------------------------------------------------------<h2>基本*/
/*-------------------------------------------------------------------------*/
/*アイコン付きテキスト*/
h2 span {
	display: block;
	min-height: 32px;
	height: auto !important;
	height: 32px;
	padding: 0 0 0 36px;
	font-size: 14px;
	line-height: 32px;
}
/*-----------------------------------------------------------------<h3>基本*/
/*-------------------------------------------------------------------------*/
/*H3基本*/
h3 {
	background: #2b2e31;
	padding: 6px 5px;
	color: #FFF;
	zoom: 1;
}
/*回り込みクリア*/
h3:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
h3 + * {
	clear: both;
}
/*-----------------------------------------------------------------<h3>基本*/
/*-------------------------------------------------------------------------*/
/*左ボーダー付きテキスト*/
h3 span {
	display: block;
	min-height: 22px;
	height: auto !important;
	height: 22px;
	padding: 0 0 0 6px;
	font-size: 12px;
	line-height: 22px;
}

h3 span.mini {
	display: inline;
	padding:0;
	font-size:17px;
}

/*-----------------------------------------------------------------<h2>基本*/
/*-------------------------------------------------------------トップページ用*/
/*最新のトピックス*/
h2.topics {
	padding: 3px 0px;
	color: #333;
	border-bottom: 1px solid #CCC;
}
/*アイコン付きテキスト*/
h2.topics span {
	background: url(../_image/icon_topics.png) no-repeat left center;
}
/*-----------------------------------------------------------------<h2>基本*/
/*-------------------------------------------------------------トップページ用*/
/*サイト更新情報*/
h2.siteinfo {
	background:#da3838;
	padding: 6px 14px;
	color: #FFF;
	zoom: 1;
}
/*アイコン付きテキスト*/
h2.siteinfo span {
	background: url(../_image/icon_siteinfo.png) no-repeat left center;
	display: block;
	min-height: 32px;
	height: 32px;
	padding: 0 0 0 36px;
	font-size: 14px;
	line-height: 32px;
}
/*-----------------------------------------------------------------<h2>基本*/
/*-------------------------------------------------------------トップページ用*/
/*ジャンプメニュー*/
h2.jumpmenu {
	padding: 3px 0;
	color: #333;
}
/*アイコン付きテキスト*/
h2.jumpmenu span {
	background: url(../_image/icon_jumpmenu.png) no-repeat left center;
}
/*-----------------------------------------------------------------<h2>基本*/
/*------------------------------------------------------トップページ用右ペイン*/
/*ジャンプニュース*/
h2.news {
	background: #da3838;
}
/*アイコン付きテキスト*/
h2.news span {
	background: url(../_image/icon_news.png) no-repeat left center;
	float: left;
}
/*---------------------------------------------------バックナンバー付きタイトル*/
/*バックナンバー*/
h2.news em {
	margin: 5px 0 0 0;
	font-size: 11px;
	float: right;
}
/*バックナンバー リンク*/
h2.news a:link, h2.news a:visited {
	display: block;
	width: 2em;
	height: 1.5em;
	padding: 4px 4px 0;
	color: #FFF;
	border: 1px solid #FFF;
	text-align:center;
}
h2.news a:hover, h2.news a:active {
	background: #da3838;
	text-decoration: none;
}






/*-----------------------------------------------------------------<h2>基本*/
/*------------------------------------------------------トップページ用右ペイン*/
/*編集部からのお知らせ*/
h2.info {
	background: #0083b3;
}
/*アイコン付きテキスト*/
h2.info span {
	background: url(../_image/icon_info.png) no-repeat left center;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*今週／次号の少年ジャンプ*/
h2.weekly {
	background: #3ab3ea;
}
/*アイコン付きテキスト 今週のジャンプ*/
h2.weekly span.jump {
	background: url(../_image/icon_jump.png) no-repeat left center;
}
/*アイコン付きテキスト 次号のジャンプ*/
h2.weekly span.next {
	background: url(../_image/icon_next.png) no-repeat left center;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*連載作品*/
h2.rensai {
	background: #5035c8;
}
/*アイコン付きテキスト*/
h2.rensai span {
	background: url(../_image/icon_rensai.png) no-repeat left center;
}
/*--------------------------------------------------------------------<h3>*/
/*左ボーダー付きテキスト*/
h3.rensai span {
	border-left: 5px solid #5035c8;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*特集*/
h2.tokushu {
	background: #67ba92;
}
/*アイコン付きテキスト*/
h2.tokushu span {
	background: url(../_image/icon_tokushu.png) no-repeat left center;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*マンガ賞*/
h2.mangasho {
	background: #ad8416;
}
/*アイコン付きテキスト*/
h2.mangasho span {
	background: url(../_image/icon_mangasho.png) no-repeat left center;
}
/*--------------------------------------------------------------------<h3>*/
/*左ボーダー付きテキスト*/
h3.mangasho span {
	border-left: 5px solid #ad8416;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*グッズ*/
h2.goods {
	background: #407713;
}
/*アイコン付きテキスト*/
h2.goods span {
	background: url(../_image/icon_goods.png) no-repeat left center;
}
/*--------------------------------------------------------------------<h3>*/
/*左ボーダー付きテキスト*/
h3.goods span {
	border-left: 5px solid #407713;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*アニメ*/
h2.anime {
	background: #5035c8;
}
/*アイコン付きテキスト*/
h2.anime span {
	background: url(../_image/icon_anime.png) no-repeat left center;
}
/*--------------------------------------------------------------------<h3>*/
/*左ボーダー付きテキスト*/
h3.anime span {
	border-left: 5px solid #5035c8;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*アプリ*/
h2.app {
	background: #ce18d1;
}
/*アイコン付きテキスト*/
h2.app span {
	background: url(../_image/icon_app.png) no-repeat left center;
}
/*--------------------------------------------------------------------<h3>*/
/*左ボーダー付きテキスト*/
h3.app span {
	border-left: 5px solid #ce18d1;
}

/*--------------------------------------------------------------------<h3>*/
/*左ボーダー付きテキスト*/
h3.toko span {
	border-left: 5px solid #9cbc1e;
}

/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*コミックス*/
h2.comics {
	background: #ff6c0a;
}
/*-------------------------------------------------------------------------*/
/*コミックス（下層ページ用）※上下パディング調整*/
.rensai h2.comics {
	padding: 2px 14px;
}
/*アイコン付きテキスト*/
h2.comics span {
	background: url(../_image/icon_jc.png) no-repeat left center;
}
/*--------------------------------------------------------------------<h3>*/
/*左ボーダー付きテキスト*/
h3.comics span {
	border-left: 5px solid #ff6c0a;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*ジャンプネクスト*/
h2.jumpnext {
	background: #ea0035;
}
/*アイコン付きテキスト*/
h2.jumpnext span {
	background: url(../_image/icon_jumpnext.png) no-repeat left center;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*ジャンプGIGA*/
h2.jumpgiga {
	background: #ff6c0a;
}
/*アイコン付きテキスト*/
h2.jumpgiga span {
	background: url(../_image/icon_jumpgiga.png) no-repeat left center;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*ジャンプGIGA*/
h2.jumpcross {
	background: #CC0000;
}
/*アイコン付きテキスト*/
h2.jumpcross span {
	background: url(../_image/icon_jumpcross.png) no-repeat left center;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*ジャンプ+*/
h2.jumpplus {
	background: #0063d3;
}
/*アイコン付きテキスト*/
h2.jumpplus span {
	background: url(../_image/icon_jumpplus.png) no-repeat left center;
}
/*左ボーダー付きテキスト*/
h3.jumpplus span {
	border-left: 5px solid #0063d3;
}
/*-----------------------------------------------------------------<h2>基本*/
/*---------------------------------------------------下層ページ用ページタイトル*/
/*---------------------------------------------------バックナンバー付きタイトル*/
/*バックナンバー付きタイトル*/
h2.backNum {
	background: #1d9ace;
}
/*---------------------------------------------------バックナンバー付きタイトル*/
/*テキスト*/
h2.backNum span {
	display: inline;
	padding: 0;
	float: left;
}
/*---------------------------------------------------バックナンバー付きタイトル*/
/*バックナンバー*/
h2.backNum em {
	margin: 5px 0 0 0;
	font-size: 11px;
	float: right;
}
/*バックナンバー リンク*/
h2.backNum a:link, h2.backNum a:visited {
	display: block;
	width: 5em;
	height: 1.5em;
	padding: 4px 4px 0;
	color: #FFF;
	border: 1px solid #FFF;
}
h2.backNum a:hover, h2.backNum a:active {
	background: #3ca2cd;
	text-decoration: none;
}
/*-------------------------------------------------------------下層ページ共通*/
/*--------------------------------------------------------------------<h3>*/
/*-----------------------------------------------------------各ページタイトル*/
/*各ページタイトル*/
.lower h3 {
	position: relative;
	width:654px;
	background: #FFF;
	margin: 0 auto 24px;
	padding: 0 4px 6px;
	color: #333;
	border-bottom: 1px solid #d9d9d9;
}
/*下線なし*/
.lower h3.noborder {
	border-bottom: none;
}
/*--------------------------------------------------------------------<h3>*/
/*-----------------------------------------------------------各ページタイトル*/
/*テキスト*/
.lower h3 p {
	width: 410px;
	font-size: 20px;
	float: left;
}
/*テキストニュース用*/
.lower h3 p.news {
	width: auto;
	font-size: 20px;
	float: none;
}

/*--------------------------------------------------------------------<h3>*/
/*-----------------------------------------------------------各ページタイトル*/
/*テキスト下の赤い文字*/
.lower h3 em {
	display: block;
	padding: 4px 0 0 0;
	font-size: 12px;
	color: #f00;
}
/*-----------------------------------------------------------各ページタイトル*/
/*-----------------------------------------------------------ソーシャルボタン*/
/*ソーシャルボタン*/
.socialArea {
	position: absolute;
	width: 240px;
	right: 16px;
	bottom: 6px;
}
/*-----------------------------------------------------------ソーシャルボタン*/
/*フェイスブック*/
.facebookTag {
	width: 120px;
	float: right;
}
/*-----------------------------------------------------------ソーシャルボタン*/
/*ツイッター*/
.twitterTag {
	width: 120px;
	float: left;
}
v 
/*-----------------------------------------------------------各ページタイトル*/
/*----------------------------------------------------各ページタイトル下線の色*/
/*今週のジャンプ*/
.lower .weekly h3 {
	border-bottom: 1px solid #47b8eb;
}
/*タイトルテキストの色*/
.lower .comics h3 p {
	color:#ff6c0a;
}
/*コミックス*/
.lower .comics h3 {
	border-bottom: 1px solid #ff6c0a;
}

/*-------------------------------------------------------------下層ページ共通*/
/*--------------------------------------------------------------------<h4>*/
/*H4基本*/
h4 {
	margin: 0 0 2px;
	padding: 6px 14px;
	color: #FFF;
	zoom: 1;
}
/*回り込みクリア*/
h4:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
h4 + * {
	clear: both;
}
/*--------------------------------------------------------------------<h4>*/
/*----------------------------------------------------------------関連リンク*/
/*関連リンク*/
h4.relatedLink {
	background: #4d4d4d;
}
/*--------------------------------------------------------------------<h4>*/
/*----------------------------------------------------------------関連リンク*/
/*テキスト*/
h4 span {
	display: block;
	min-height: 32px;
	height: auto !important;
	height: 32px;
	padding: 0;
	font-size: 14px;
	line-height: 32px;
}
/*----------------------------------------------------------------関連リンク*/
/*-----------------------------------------------------------関連リンクリスト*/
/*関連リンクリスト*/
ul.relatedLink {
	background: #FFF;
}
/*----------------------------------------------------------------関連リンク*/
/*-----------------------------------------------------------関連リンクリスト*/
ul.relatedLink li {
	padding: 4px 8px;
	border-bottom: 1px solid #d9d9d9;
	zoom: 1;
}
/*回り込みクリア*/
ul.relatedLink li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
ul.relatedLink li + * {
	clear: both;
}
/*----------------------------------------------------------------関連リンク*/
/*-----------------------------------------------------------関連リンクリスト*/
/*最後の要素のボーター削除*/
ul.relatedLink li.last-child {
	padding: 8px;
	border-bottom: none;
}
/*----------------------------------------------------------下層ページ用ページ*/
/*--------------------------------------------------------新連載作品の試し読み*/
/*新連載作品の試し読み*/
h5.shinrensai {
    width: 510px;
	margin: 8px auto;
	padding: 0 4px 4px;
	border-bottom: 1px solid #d9d9d9;
	zoom: 1;
}
/*回り込みクリア*/
h5.shinrensai:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
h5.shinrensai + * {
	clear: both;
}
/*----------------------------------------------------------下層ページ用ページ*/
/*--------------------------------------------------------新連載作品の試し読み*/
/*テキスト*/
h5.shinrensai span {
	display: inline;
	padding: 0;
	font-size: 16px;
	float: left;
}
/*----------------------------------------------------------下層ページ用ページ*/
/*--------------------------------------------------------新連載作品の試し読み*/
/*バックナンバー*/
h5.shinrensai em {
	font-size: 11px;
	float: right;
}
/*バックナンバー リンク*/
h5.shinrensai a:link, h5.shinrensai a:visited {
	display: block;
	width: 5em;
	height: 1.5em;
	padding: 4px 4px 0;
}
h5.shinrensai a:hover, h5.shinrensai a:active {
}
