@charset "UTF-8";
/*-------------------------------------------------------------下層ページ共通*/
/*-------------------------------------------------------------コンテンツ領域*/
#contents {
	width: 1004px;
	margin: 0 auto;
	zoom: 1;
}
/*回り込みクリア*/
#contents:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
#contents + * {
	clear: both;
}
/*-------------------------------------------------------------トップページ用*/
/*------------------------------------------------------------------右ペイン*/
/*右ペイン*/
#paneRight {
	width: 370px;
	float: right;
}
/*-------------------------------------------------------------トップページ用*/
/*-------------------------------------------------------------コンテンツ領域*/
/*コンテンツ領域*/
#contentsChild {
	width: 614px;
	float: left;
}
/*トピックスバナー大*/
.topicsbnr {
	display: block;
	width: 610px;
	margin: 0 auto 6px auto;
}
/*-------------------------------------------------------------下層ページ共通*/
/*------------------------------------------------------------------右ペイン*/
/*右ペイン*/
.lower #paneRight {
	width: 300px;
	float: right;
}
/*-------------------------------------------------------------下層ページ共通*/
/*-------------------------------------------------------------コンテンツ領域*/
/*コンテンツ領域*/
.lower #contentsChild {
	width: 685px;
	float: left;
}
/*-------------------------------------------------------------下層ページ共通*/
/*--------------------------------------------------------コンテンツ領域背景白*/
/*背景白*/
.mainContents {
	background: #FFF;
	margin: 0 0 10px;
	padding: 18px 0 0;
}
/*コミックス一覧背景白*/
.comics .mainContents {
	background: #FFF;
	margin: 0;
	padding: 18px 0 0;
	border-bottom: 1px solid #d9d9d9;
}
/*コミックス一覧背景グレー*/
.comics .mainContentsSub {
	background: #f9f9f9;
	margin: 0;
	padding: 18px 0 0;
	border-bottom: 1px solid #d9d9d9;
}
/*----------------------------------------------------------------トップページ*/
/*--------------------------------------------------------------最新トピックス*/
/*バナー配置*/
.topics {
	width: 611px;
	margin: 8px auto;
	zoom: 1;
}
/*回り込みクリア*/
.topics:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
.topics + * {
	clear: both;
}
/*----------------------------------------------------------------トップページ*/
/*--------------------------------------------------------------最新トピックス*/
.topics li {
	margin: 0 10px 6px 0;
	float: left;
}
/*--------------------------------------------------------------最新トピックス*/
/*偶数はマージンを0に*/
.topics li.even {
	margin: 0 0 6px 0;
	float: left;
}
/*----------------------------------------------------------------トップページ*/
/*------------------------------------------------------------ジャンプメニュー*/
.jumpmenu {
	width: 616px;
	margin: 8px auto;
	zoom: 1;
}
/*回り込みクリア*/
.jumpmenu:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
.jumpmenu + * {
	clear: both;
}
/*----------------------------------------------------------------トップページ*/
/*------------------------------------------------------------ジャンプメニュー*/
.jumpmenu li {
	width: 149px;
	margin: 0 5px 14px 0;
	float: left;
}
/*------------------------------------------------------------ジャンプメニュー*/
/*連載陣のみ幅が2倍*/
.jumpmenu li.double {
	width: 304px;
}
/*------------------------------------------------------------ジャンプメニュー*/
/*ジャンプ+とアプリの右マージン削除*/
.jumpmenu li.nth-child-4, .jumpmenu li.nth-child-8 {
	margin: 0 0 14px 0;
	float: left;
}
/*---------------------------------------------------------------トップページ*/
/*------------------------------------------------------------------右ペイン*/
/*------------------------------------------------------------ジャンプニュース*/
.jumpnews {
	background: #FFF;
	margin: 0 0 10px;
}
/*------------------------------------------------------------------右ペイン*/
/*------------------------------------------------------------ジャンプニュース*/
.jumpnews li {
	padding: 8px;
	border-bottom: 1px solid #d9d9d9;
	zoom: 1;
}
/*回り込みクリア*/
.jumpnews li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
.jumpnews li + * {
	clear: both;
}
/*------------------------------------------------------------------右ペイン*/
/*------------------------------------------------------------ジャンプニュース*/
/*最後の要素のボーター削除*/
.jumpnews li.last-child {
	padding: 8px;
	border-bottom: none;
}
/*------------------------------------------------------------ジャンプニュース*/
/*ニュースアイコン*/
.jumpnews img {
	float: left;
}
/*------------------------------------------------------------ジャンプニュース*/
/*テキストのボックス*/
.jumpnews div {
	width: 275px;
	float: right;
}
/*ニュースの日付*/
.jumpnews span {
	display: block;
	margin: 4px 0 0;
	font-size: 10px;
	color: #666;
}
/*---------------------------------------------------------------トップページ*/
/*------------------------------------------------------------------右ペイン*/
/*--------------------------------------------------------編集部からのお知らせ*/
.infoList {
	background: #FFF;
	margin: 0 0 10px;
}
/*------------------------------------------------------------------右ペイン*/
/*--------------------------------------------------------編集部からのお知らせ*/
.infoList li {
	padding: 8px 12px;
	border-bottom: 1px solid #d9d9d9;
	zoom: 1;
}
/*回り込みクリア*/
.infoList li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
.infoList li + * {
	clear: both;
}
/*--------------------------------------------------------編集部からのお知らせ*/
/*最後の要素のボーター削除*/
.infoList li.last-child {
	padding: 8px;
	border-bottom: none;
}
/*編集部からのお知らせの日付*/
.infoList span {
	display: block;
	margin: 4px 0 0;
	font-size: 10px;
	color: #666;
}
/*--------------------------------------------------------編集部からのお知らせ*/
/*リンク*/
.infoList a {
	display: block;
	padding: 5px 0;
	font-size: 13px;
	color: #333;
	line-height: 1.2;
}
/*-----------------------------------------------------------------下層ページ*/
/*-------------------------------------------------------------------右ペイン*/
/*--------------------------------------------------------------------バナー*/
#paneRight ul.bnr li {
	margin: 0 0 4px;
}
/*-----------------------------------------------------------------下層ページ*/
/*-------------------------------------------------------------------右ペイン*/
/*----------------------------------------------------------週刊少年ジャンプ用*/
/*右ペインリスト基本*/
ul.paneRightLi {
	background: #FFF;
	margin: 0 0 10px;
}
/*リストの基本*/
ul.paneRightLi li {
	padding: 4px 10px;
	font-size: 12px;
	border-bottom: 1px solid #d9d9d9;
}
/*----------------------------------------------------------------------------*/
/*最後の要素のボーター削除*/
ul.paneRightLi li.last-child {
	border-bottom: none;
}
/*-------------------------------------------------------------------右ペイン*/
/*----------------------------------------------------------週刊少年ジャンプ用*/
/*----------------------------------------------------------書影が入るブロック*/
/*書影が入るブロック*/
ul.paneRightLi li.hyoshi {
	padding: 8px 18px;
	zoom: 1;
}
/*回り込みクリア*/
ul.paneRightLi li.hyoshi:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
/*DW*/
ul.paneRightLi li.hyoshi + * {
	clear: both;
}
/*-------------------------------------------------------------------右ペイン*/
/*----------------------------------------------------------週刊少年ジャンプ用*/
/*----------------------------------------------------------書影が入るブロック*/
/*書影の回り込み*/
ul.paneRightLi li.hyoshi img {
	float: left;
}
/*書影のにボーダー追加*/
ul.paneRightLi li.hyoshi.comicsSlide img {
	border: 1px solid #CCC;
}
/*----------------------------------------------------------書影が入るブロック*/
/*テキストボックスの回り込み*/
ul.paneRightLi li.hyoshi p {
	width: 150px;
	padding: 32px 0 0 0;
	line-height: 1.6;
	float: right;
}
/*----------------------------------------------------------書影が入るブロック*/
/*号数／コミックスのタイトル*/
ul.paneRightLi li.hyoshi p span {
	display: block;
	padding: 0 0 3px;
	line-height: 1.2;
	color: #d91111;
}
/*-------------------------------------------------------------------右ペイン*/
/*-------------------------------------------------------------ジャンプNEXT!!*/
/*ジャンプNEXT!!の書影が入るブロック*/
ul.paneRightLi li.next {
	margin: 0;
	padding: 0;
}
ul.paneRightLi li.next img {
	display: inline;
	vertical-align: bottom;
}
/*次号予告*/
.next_img {
	margin: 0 auto 30px;
	padding: 0;
}
.sp_day {
	display: none;
}
/*-------------------------------------------------------------------ニュース*/
/*----------------------------------------------------------------------------*/

.mainContents .newsDetail {
	padding: 0 10px 36px;
}
.mainContents .newsDetail p {
	margin: 0 0 24px;
	padding: 0 10px;
}
/*-------------------------------------------------------------------ニュース*/
/*----------------------------------------------------------------リンクボタン*/

.newsDetail a:link.link, .newsDetail a:visited.link {
	display: block;
	background: #867c72;
	padding: 0 10px;
	font-size: 123.1%;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}
.newsDetail a:hover.link, .newsDetail a:active.link {
	display: block;
	background: #9e968e;
	text-align: center;
	text-decoration: none;
}
.newsDetail a.link strong {
	background: url(../../news/_image/btn_parts1.png) no-repeat left center;
	padding: 20px 0 20px 20px;
	line-height: 52px;
}
.newsDetail a.link em {
	background: url(/j/_common/_image/cmn/arrow_white.png) no-repeat right center;
	padding: 20px 40px 20px 0;
	line-height: 52px;
}
.newsImg3 {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 10px auto;
}
.newsDetail .mt {
	margin: 10px 0 0 0;
}
/*-------------------------------------------------------------------テキスト*/
/*----------------------------------------------------------------hr*/

.hrtxt {
	display: inline-block;
	border-bottom: 1px solid #333;
	width: 30px;
	margin: 0 1px;
}
/*-----------------------------------------------------------------*/	
/*ニュース用*/
.news0322 {
	width: 100%;
	margin: 0 auto;
}
.news0322 ul {
	margin: 0 auto 20px;
}
.news0322 ul li {
	display: inline;
	margin: 0 5px;
}
.news0322 ul li img {
	display: inline-block;
	width: 320px;
	margin: 5px 0;
}
.news0322 ul li.news0322_li {
}
.news0322 ul li.news0322_li img {
	display: inline-block;
	width: 152px;
	margin: 5px 0;
}
.news0322 a img {
	display: block;
	width: 60%;
	margin: 0 auto;
}
/*ニュースのtable*/
.news0322 table {
	table-layout: auto;
	width: 98%;
	margin: 0 auto 20px;
}
.news0322 table.fixed {
	table-layout: auto;
}
.news0322 table th, .news0322 table td {
	width: 80%;
	padding:5px;
	word-wrap: break-word;
}
.news0322 table td.td1st {
	width:20%;
	background: #fffdea;
}
