/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html {
	color: #333;
	background: #FFF
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
fieldset, img {
	border: 0
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal
}
ol, ul {
	list-style: none
}
caption, th {
	text-align: left
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}
q:before, q:after {
	content: ''
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}
input, textarea, select {
*font-size:100%
}
legend {
	color: #000
}
#yui3-css-stamp.cssreset {
	display: none
}
/*---------------------------------------------フォントサイズ YUI 3: CSS Fonts*/
/*----------------------------------------------------------------------------*/

body {
	font:13px/1.231 Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	*font-size:small;
	*font:x-small;
}
* + html body {
	font-family: "メイリオ","Meiryo";
}
.eps {
	font:13px/1.231 Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	*font-size:small;
	*font:x-small;
}
select, input, button, textarea {
	font:99% Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre, code, kbd, samp, tt {
	font-family:monospace;
	*font-size:108%;
	line-height:100%;
}
/*---------------------------------------------フォントサイズ YUI 3: CSS Fonts*/
/*----------------------------------------------------------------------------

10px 	77%
11px 	85%
12px 	93%
13px 	100%
14px 	108%
15px 	116%
16px 	123.1%
17px 	131%
18px 	138.5%
19px 	146.5%
20px 	153.9%
21px 	161.6%
22px 	167%
23px 	174%
24px 	182%
25px 	189%
26px 	197%*/

/*----------------------------------------------------------------------その他*/
/*----------------------------------------------------------------------------*/
/*リンクの点線消去*/
a {
	overflow:hidden;
	outline:none;
}
