@media screen and (max-width:500px) {
	.pag_generica .box_FreeHtml .button{width: 100%!important;}
	
/*==========================================================================
	GRID WITH CAPTIONS
	==========================================================================*/
	.pag_generica .box_FreeHtml .imgRow.captions.row1 ul li,
	.pag_generica .box_FreeHtml .imgRow.captions.row2 ul li,
	.pag_generica .box_FreeHtml .imgRow.captions.row3 ul li,
	.pag_generica .box_FreeHtml .imgRow.captions.row4 ul li,
	.pag_generica .box_FreeHtml .imgRow.captions.row5 ul li,
	.pag_generica .box_FreeHtml .imgRow.captions.row6 ul li
	{width: 100%!important;}
}


@media screen and (max-width:767px) {
/*==========================================================================
	ALERT COOKIE
	==========================================================================*/

	.box_Cookie{-webkit-text-size-adjust:100%; display: block; position: fixed;top: 0px;left: 0px;z-index: 1000;width: 100%;height: 100%;background: rgba(0,0,0,0.7);}
	.box_Cookie > div {display: block;position: fixed;bottom: 0px;left: 0px;z-index: 1000;width: 100%;height: auto;padding: 20px;background: #018ECC;}

	.box_Cookie > div .box_Msg{display: block;float: left;width: 100%;padding: 0px 0px 0px 0px;}

	.box_Cookie > div .box_Msg h2{font-size:18px; color:#333; margin: 0px 0px 10px 0px; font-weight: bold;}
	.box_Cookie > div .box_Msg p{font-size:14px;}

	.box_Cookie > div .box_Button {display: block; float:left; width: 100%; text-align: center; border: 0px; margin: 10px  auto 0px; padding: 0px 0px 0px 0px;}
	.box_Cookie > div .box_Button button{display: block; width: 100%; cursor: pointer; text-align: center; font-size:18px; line-height: 50px;color: #fff;background: #333; border: 0px; padding: 0px;}


/*==========================================================================
	NEW TARIFFA - 11/2016
 ==========================================================================*/
	.box_NewTariffa {overflow: hidden;}
	.box_NewTariffa .box_MainContent {padding: 0;}
	.box_NewTariffa .box_MainContent .box_Container {width: auto; margin: 0 0 32px 0;}
	/*.box_NewTariffa .box_Breadcrumb, .box_NewTariffa .box_Top_Banner, .box_NewTariffa .box_Main {width: 100%; margin: 0 auto;}*/

	/* ----------- Header */
	.box_NewTariffa .box_Title .tit_Title img {max-width: 90%;}

	/* -----------  boxes size	*/
	.list_05_Elements li {width: 100%; margin: 0 0 16px 0;}
		.list_05_Elements li.el_01 {margin-left: 0;}
	.list_04_Elements li {width: 100%; margin: 0 0 16px 0;}
		.list_04_Elements li.el_01 {margin-left: 0;}
	.list_03_Elements li {width: 100%; margin: 0 0 16px 0;}
		.list_03_Elements li.el_01 {margin-left: 0;}
	.list_02_Elements li {width: 100%; margin: 0 0 16px 0;}
		.list_02_Elements li.el_01 {margin-left: 0;}

	/* -----------  special button	*/
	.box_SpecialButton {padding: 0 16px;}
	.box_SpecialButton .btn_Button {}

	/* -----------  generic text	*/
	.box_NewTariffa .pag_generica {padding: 0 16px 42px 16px;}
	.box_NewTariffa .pag_generica .box_FreeHtml.txtBox_cms img {}
	.box_NewTariffa .pag_generica .box_FreeHtml .imgLeft.middleTxt p {display: block;}

	/* -----------  new filter box	*/
	.box_NewTariffa .box_Filter {margin-left: 0;}
}

@media only screen and (max-device-width:767px) and (orientation : landscape) {
	.box_Cookie > div .box_Msg p { font-size:12px;}
	.box_Cookie > div .box_Button button{ font-size:14px;}



}


@media screen and (max-width:767px) {
	
/*==========================================================================
	BOX UTILITIES
	==========================================================================*/
	.box_Utilities{position:fixed; top: 0px; left: 0px; z-index: 100; display: block;width: 100%;height: 40px;padding: 0px 10px 0px 10px;background: #333;}
	.box_Utilities .box_Link{display: block;height: 40px;}
	.box_Utilities .box_Link a{height: 40px; line-height: 43px;}

	.box_Utilities .box_Search{display: none;}
	.box_Utilities .list_Social{display: none;}

 /*==========================================================================
	HEADER
	==========================================================================*/
	.box_Menu_First {display:block; position: absolute; height: 60px!important; margin-right: 10px; border-right: 1px solid #999; }
	.box_Header .box_Menu_First ul li span{display: none!important;}
	.box_Header .box_Menu_First ul li {margin: 0px 0px 0px 0px;}
	.box_Header .box_Menu_First ul li a{ width: 60px; height: 60px; border-radius: 0px!important; color: #888!important; text-indent: -9000px; overflow: hidden;}
	.box_Header .box_Menu_First a.ico_Privati:before,
	.box_Header .box_Menu_First a.ico_Business:before,
	.box_Header .box_Menu_First a.ico_Reserved:before {display: block; width: 40px!important; float: left; text-align: center;font-size: 24px;margin: 0px 0px!important;line-height: 60px; text-indent: 0px!important;}
	.box_Header .box_Menu_First ul li a.selected,
	.box_Header .box_Menu_First ul li a:hover {color: #333!important;background-color: #ddd;}


	.box_Header{height:66px;position:fixed;top:40px;left:0;border-top:5px solid #000;padding:0 10px;background: url('../imgs_S/bg_Header.png') repeat-x;}
	.box_Header .box_Logo {width:34px; height:50px;margin:5px 0;background-image:url('../imgs_W/logo_Tre_it.png'); background-size: 34px 50px;}
	.box_Header .box_Logo a{width:34px; height:50px;display:block;}
	.box_Header .btn_Toggle{width:50px;height:33px;display:block;position:relative;float:right;margin-top: 14px;background:transparent;background-color:none;border:0;cursor:pointer;padding:0;}
	.box_Header .btn_Toggle:after{content:"L"; font-family: 'Tre_it';font-size:30px;line-height:30px;text-align:center;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
	.box_Header  .btn_Toggle:focus{outline:0;}
	.btn_Toggle.active {width:50px;height:50px;margin-top: 10px;background-image:url('../imgs_S/btn_Menu_Close.png');}
	.btn_Toggle.active:after{content:"";}



	/* ----------- header - nav */
	.box_Nav_Section {position:fixed;top:106px;left:0;width:100%; background-color: #fff;overflow-y:scroll;}
	.box_Nav_Section .box_Nav  {display:none;height: 200vh;  max-height:900px;position:relative;padding:0 18px 18px 18px;}

	.box_Nav > ul {margin-bottom: 160px; }
	.box_Nav > ul > li:hover {background: transparent;}
	.box_Nav > ul > li > a:link,
	.box_Nav > ul > li > a:visited,
	.box_Nav > ul > li > a:active {color:#9F9F9F;line-height:30px;font-size:21px;display:block; margin: 20px 0px 6px 0px;background: transparent; border-bottom: 4px solid #eee;}

	/*.box_Nav ul li.js_SubMenu{width:100%;} */
	.box_Nav .list_Menu{display:block!important;}
	.box_Nav .list_Menu,
	.list_Menu .list_SubMenu{position: relative;width:100%;height:auto;top:0;left:0px;padding:0px 0px 0px 0px; background: transparent; box-shadow: none;}
	.list_Menu .tit_Section:link, .list_Menu .tit_Section:visited, .list_Menu .tit_Section:active {display:block;font-size: 18px; border: 0px; margin: 0px 0px 0px 0px;}
	.list_Menu > .js_SubMenu {padding:3px 10px 3px 10px; border-bottom: 1px solid #eee;}
	.list_Menu > .js_SubMenu .tit_Section:after{float: right; font-family:"Tre_it"; color: #ccc; font-weight: normal; font-size: 12px;}
	.list_Menu > .js_SubMenu .tit_Section:after{content:"M";}
	.list_Menu > .js_SubMenu .tit_Section.selected:after{content:"N";}

	.list_Menu .list_SubMenu {display: none; padding:0;}
	.list_Menu .list_SubMenu > li > a:link, .list_Menu .list_SubMenu > li > a:visited, .list_Menu .list_SubMenu > li > a:active {display:block;padding: 0px 10px 0px 10px;margin: 0px;border: 0px;font-family: 'Helvetica-Bd', Arial, sans-serif;font-size: 17px;}
	.list_Menu .list_SubMenu > li > a:before{content:"\2022";color: #ccc;margin: 0px 10px 0px 0px;}
	.list_Menu .list_SubMenu li:last-child{ margin: 0px 0px 5px 0px;}

	.list_Menu .js_SubMenu .list_SubMenu {display: none;}
	.list_Menu .js_SubMenu.open .list_SubMenu {display: block!important; margin: 0px 0px 0px 0px;}

	.list_Menu .list_PlansDetails .tit_SubSection,.list_Menu .list_SubMenu .list_PlansDetails,.list_Menu .hr_Menu, .js_Back{display: none!important;}

	.container_Search{display:block; position:fixed; z-index: 1000; width: 100%; box-sizing: border-box;left: 0px; bottom: 0px; padding: 20px; background: #fff;box-shadow: 0px 0px 40px 20px #fff;}
	.box_Search{display:block; width: 100%; margin: 0px;}
	.box_Search input{display:block; float: left;  width: 90%; margin: 0px; color: #555;}

	.scroller {overflow: hidden;max-height:100%;}
	.list_Menu .openAll{display: none;}
	
/*==========================================================================
	HOMEPAGE
	==========================================================================*/
	.box_BodyContent{margin-top: 107px;}
	.tit_SubSection{font-size:20px;}

	/* ----------- banner AD*/
	.box_Banner.bnr_AD_Rotating {width:100%;height: 180px!important;position:relative;padding: 0px;margin-bottom:40px;}
	.bnr_AD_Rotating .box_Container {height:180px;width:100%; padding: 0px!important;}
	.bnr_AD_Rotating .owl-carousel .owl-item{overflow:hidden; }
	.bnr_AD_Rotating .owl-carousel .owl-item a,.bnr_AD_Rotating .bnr_Premium{height: 156px!important;background-size: auto 156px;}
	.bnr_AD_Rotating .bnr_Premium{width:311px; margin:0 auto;}
	.bnr_AD_Rotating .bnr_Premium img{height: 156px;margin-left:-219px;}

	/* ----------- carousel Prodotti */
	.box_Product_List {height:370px;width:100%;clear:both;padding:0 5px;margin-bottom:20px;}
	.box_Product_List .owl-carousel {height:325px;padding:0 35px; }
	.box_Product_List .owl-stage-outer{width:220px; margin:20px auto 10px auto;}
	.box_Product_List .box_Product{width:200px!important;position:relative;height:325px;background-image:url('../imgs_W/bg_Product.png');background-repeat:no-repeat;background-position:center bottom;}
	.box_Product .box_Img{height:232px;width:119px;margin:10px auto 0 auto;}
	.box_Product .box_Img a{display:block;}
	.box_Product .box_Description a:link,.box_Product_List .box_Description a:visited{display:block;text-decoration:none;font-size:18px;color:#999999;text-align:center;}
	.box_Product .box_Description a span{ display:block;font-size:21px;font-family: 'Helvetica-Bd';}
	.box_Product .box_Price {top:160px;left:17px;width:150px;height:46px;}
	.box_Product .box_Price:after {background:url('../imgs_W/bg_Price.png') no-repeat left bottom;content:'';height:18px;width:25px;position:absolute;top:44px;left:0;z-index:1;}

	/* ----------- box Ricarica */
	.box_Ricarica{margin:0 10px 20px 10px;clear:both;}
	.box_RicaricaOnline .tit_Title, .box_TreStore .tit_Title{font-size:20px;line-height:24px;}
	.box_TreStore{margin-bottom:10px;}
	.box_TreStore .txt_SubTitle{width:60%;max-width: 230px;}
	.box_TreStore .box_Img{display:inline-block;}
	.box_RicaricaOnline .box_Form{width:228px;margin:0 auto;position:relative;}
	.box_RicaricaOnline  .box_Input_Small, .box_RicaricaOnline  .box_Input_Small .inp_Text {width:168px;}
	.box_RicaricaOnline .link_Accedi{font-size:14px;display:block;text-align:center;float:none;}

	/* ----------- carousel News */
	.box_News_List{margin-bottom:20px;padding:20px 10px;}
	.box_News_List .owl-carousel {padding: 0 25px;}
	.box_News_List .owl-carousel .owl-item{overflow:hidden;}
	.box_News_List .owl-stage-outer{width:230px; margin:0 auto;}
	.box_News {width:230px!important;}
	.box_News .tit_News{font-size:20px;}
	.box_News .box_Img{width:224px; margin:0 auto;}

	/* ----------- list Banner */
	.list_Banner, .list_SubSections{margin-left:10px;margin-right:10px;overflow:hidden;}
	.list_Banner .li_Banner, .list_SubSections .li_SubSection {margin: 1.5%;}
	.list_SubSections .li_SubSection .box_Banner {height:98px;}
	.list_SubSections .tit_Section, .list_SubSections .txt_Paragraph{max-width:50%;}

	/* ----------- Smart Links */
	.list_SmartLinks{width:100%!important;padding:0 10px;float:left;}
	.list_SmartLinks li{width:33%;margin-bottom:20px;}
	.list_SmartLinks li a img{width:66px;height:66px;}
	.list_SmartLinks li a span{ word-break: break-word;height:40px;font-size:13px;}
	
/*==========================================================================
	COUNTDOWN
	==========================================================================*/
	.box-date { max-width: 25px; }
	
	.box-date .box-value-date { padding: 10px 4px; }
	
	.box-date .label-date { font-size: 1.4em; margin-top: 4px }

	/*==========================================================================
	MAIN COUNT
	==========================================================================*/
	.bnr_AD_Rotating #countdown_dashboard{
	-ms-transform: scale(0.6); /* IE 9 */
    -webkit-transform: scale(0.6); /* Chrome, Safari, Opera */
    transform: scale(0.6);
	}

	.bnr_AD_Rotating #countdown_dashboard.top{top: 00px;}
	.bnr_AD_Rotating #countdown_dashboard.bottom{bottom: 00px;}

	.bnr_AD_Rotating #countdown_dashboard.left{left: -40px; margin: 0px;}
	.bnr_AD_Rotating #countdown_dashboard.right{right: -40px; margin: 0px;}


/*==========================================================================
	MAIN CONTENT
	==========================================================================*/
	.box_Breadcrumb{display:none;}

	.box_MainContent {padding:17px 10px 0 10px;}
	.box_c000 .box_Main, .box_Main{margin-top:0;}
	.box_Top_Banner + .box_Main{margin-top:20px;}

	/* ----------- Box Main */
	.box_Main,.box_Title {width:100%;}
	.box_c000 .box_Title {padding: 0 15px 10px 15px;}
	.box_Title .tit_Title{font-size:25px;line-height:25px;text-align:center;display:inline-block;width:auto;}

	/* ----------- Box Bottom */
	.box_Bottom {width: 100%; box-sizing: content-box; margin:0px 0px 0px -10px; padding:0px 20px 0px 0px;}
	.box_Bottom > div{width:100%; height: auto!important; margin:0 auto; padding:0 10px;}
	.box_Bottom .txtBox_cms{float: none; margin: 10px; font-size:25px; width: 100%; text-align: center;}

	.box_Bottom .box_Social{float: none;width: 214px;height: 20px;margin: 20px auto 10px auto;}
	.box_Bottom .box_Social span{float: left;margin: 3px 12px 0px 0px;font-size: 14px;text-transform: uppercase;}
	.box_Social .list_Social {float:none;margin:7px 0;}
	.box_c000 ~ .box_Bottom{padding:0px 10px 0px 0px;}

	/* ----------- Box Notes */
	.box_Notes ul li,.box_Notes ul li:first-child,.list_Products  + .box_Notes ul li{width: 100%;margin: 0px 0px 10px 0px !important;; padding: 0px!important;}
	.box_Notes ul > li > .btn_Note:link{font-size: 18px;width:100%;}
	.box_Notes ul li .txt_Note{position: relative;top: 10px;width:100%;margin-bottom:10px;}
	.txt_Note .list_Product_Feature dd.txt_Description{width:100%;}

	.box_BodyContent .box_Container{padding: 0px 10px 0px 10px;}

	/* ----------- Altre opzioni */
	.box_More {width: 100%; box-sizing: content-box; margin:0px 0px 30px -10px; padding:30px 20px 0px 0px;}
	.box_More > div{width:100%; height: auto!important; margin:0 auto; padding:0 10px;}

	.box_More .box_Options{float: left; width: 100%; margin-left: 10px;}
	.box_More .box_Options ul{float: none; width: 100%; height: 100%;list-style: none; margin: 0px auto;}
	.box_More .box_Options.open ul{float: none; width: 100%;}
	.box_More .box_Options ul li,
	.box_More .box_Options ul li:first-child{ display: block; margin: 0px 0px 30px 0px; width: 100%!important; }
	.box_More .box_Options ul li .txt_Option{width: 100%;}
	.box_More .box_Other{float: right; width: 100%; margin: 40px 0px 0px 0px;}
	.box_More .box_Other .btn_Big{width: 100%; margin-left: 10px!important;}

	/* ----------- Lista prodotti */
	.list_Products {float: left; width: 100%; }
	.list_Products .box_Product{float: none; width: 230px; margin: 0px auto 90px auto;}


	/* ----------- Lista prodotti - filtri */
	.box_Filter {width: 100%;padding: 20px 0px 30px 0px;}
	.box_Filter .box_Select{width: 100%;padding: 0px; margin: 0px 0px 30px 0px;}
	.box_Filter .box_Select label{width: 90%; margin: 0 0 0 5%;}
	.box_Select div {width: 90%; margin: 0 0 0 5%;}
	.box_Select select {width: 110%;}


/*==========================================================================
	PRODUCT PAGE
	==========================================================================*/
	/* ----------- Product Data and Gallery*/
	.box_Product_Data{padding:0;}
	.box_Product_Data .box_Gallery,.box_Colors{width:100%;max-width:300px;margin:0 auto;}
	.box_Product_Data .box_Gallery,.box_Product_Data .box_Gallery .owl-carousel {height:265px;}
	.box_Product_Data .box_Gallery .owl-carousel .owl-item img{height:230px;width:auto;margin:0 auto;}
	.box_Product_Data .box_FreeHtml{display:none;}

	.box_Colors{margin:20px auto;}
	.box_Colors .tit_Section{clear:both;}
	.box_Colors ul{margin:0 auto;max-width:230px;}
	.box_Colors ul li,.box_Colors ul .li_Last{margin-right:14px;margin-bottom:14px;}

	.box_Divider {width:100%;height:22px;min-height:22px;position:relative;left:0;background-image:url('../imgs_S/bg_Divider.png');background-position:left top;z-index:1;}
	.box_Divider .box_DividerTop{background-image:url('../imgs_S/bg_DividerTop.png');width:32px;height:21px;top:0;left:45%;}

	.box_c000 .box_Title{display:block;text-align:center;float:none; padding:0px 10px;}
	.box_c000 .box_Title .box_FreeHtml{line-height:18px;text-align:left;font-size:15px;}

	/* ----------- Box Tabs */
	.box_Modalities {float:none!important;}
	.box_Modalities .tit_Section{font-size:16px;text-align:center;}
	.box_Modalities .box_Tabs{margin-top:20px;}
	.box_Tabs .list_Tabs li{width:45%;}
	.box_Tabs .list_Tabs .li_First{margin-left:4%;}
	.box_Tabs .list_Tabs li a:link, .box_Tabs .list_Tabs li a:visited{font-size:18px;line-height:40px;}
	.list_Tabs li a.active:before{width:100%;}

	.box_Modalities .box_Tab_Container {padding:30px 20px 20px 20px;margin:0 -20px;}
	.box_Modalities .box_TabPlan {background-color:transparent;padding:0;overflow:hidden;position:relative;}
	.box_Modalities .box_Top {height:60px;padding:10px;margin:0;border:none;background-color:#FFF;}
	.box_Top .box_Price_Mobile {display:block;margin-left:16px;display:table-row;float:right;}
	.box_Price_Mobile .txt_Label_Mobile, .box_Price_Mobile .txt_Price_Mobile{display:table-cell;vertical-align:bottom;height:41px;}
	.box_Price_Mobile .txt_Label_Mobile{font-size:13px;width:53px;}
	.box_Price_Mobile .txt_Price_Mobile{font-size:20px;max-width:90px;}
	.box_Modalities .box_TabTitle{min-width: 100px;max-width:50%;height:auto;line-height:17px; }
	.box_Modalities .box_TabTitle a:link,.box_Modalities .box_TabTitle .tit_Plan {font-size:13px;padding: 4px 10px 4px 10px;display:block;}
	.box_Modalities .box_TabTitle:after{content: "";right: -6px;border-width: 12px 0 12px 6px;}
	.box_Modalities .box_TabTitle.arrow_resize:after{height:100%;border-width: 20px 0 20px 6px;}
	.btn_Opener{display:block;float:left;width:16px;height:16px; font-family: 'Tre_it';font-size:16px;background:transparent;background-color:none;border:0;cursor:pointer;outline:none;padding:0;margin-right:8px;}
	.btn_Opener:after{content:"M";}
	.btn_Opener.active:after{content:"N";}

	/* Caso tre tab */
	.box_Tabs .list_Tabs .li_First.list_Tabs_Promo{margin-left:0}
	.box_Tabs .list_Tabs li.li_First.list_Tabs_Promo{width:40%;}
	.box_Tabs .list_Tabs li.li_Last.list_Tabs_Promo{width:35%; margin-right:7px;}
	.box_Tabs .list_Tabs li.li_Last.list_Tabs_Promo.promo{width:15%;}
	.box_Tabs .list_Tabs li.li_Last.list_Tabs_Promo.promo a span{display:none}
	.box_Tabs .list_Tabs li.li_Last.list_Tabs_Promo.promo a:after {font-family: 'Tre_it'; content:"g"; font-size:32px}
	.box_Tabs .list_Tabs li.list_Tabs_Promo a:link,
	.box_Tabs .list_Tabs li.list_Tabs_Promo a:visited{font-size:15px}

	.box_Tabs_c00 #tab3 .btn_Opener:after, .box_Tabs_c00 #tab3 .btn_Opener.active:after{color: rgb(255,51,153)}

	.bannerPromo{ margin-bottom: 0 }

	.box_Lightbox .box_Content.box_Content_Promo{ max-height: 70%; top: 22%; max-width:70%; margin-left:-35% }

	/* definizione colori per prodotti smartphone  */
	.box_Tabs_c00 #tab1 .btn_Opener:after, .box_Tabs_c00 #tab1 .btn_Opener.active:after  {color:#009900;}
	.box_Tabs_c00 #tab2 .btn_Opener:after, .box_Tabs_c00 #tab2.btn_Opener.active:after  {color:#018ECC;}

	/* definizione colori per prodotti tablet/chiavette/internet */
	.box_Tabs_c01 #tab1 .btn_Opener:after, .box_Tabs_c01 #tab1 .btn_Opener.active:after  {color:#BB3734;}
	.box_Tabs_c01 #tab2 .btn_Opener:after, .box_Tabs_c01 #tab2.btn_Opener.active:after  {color:#8D2A28;}

	.box_Modalities .box_Top .box_Buttons_Service {display:none;}

	/* ----------- List Tariff */
	.list_Tariff{display:none;margin-left:0;margin-top:3px;background-color:#FFF;padding:0 10px;}
	.list_Tariff > li{display:block;border-bottom: 2px dashed #E5E5E5;position:relative;}
	.list_Tariff .col_Description {padding:10px;}
	.list_Tariff .col_Description .box_FreeHtml{font-size:14px;padding:10px 0px;}
	.list_Tariff .col_Description .moreInfoPromo{margin-top:0px;}
	.list_Tariff .li_Last {display:block;height:86px;padding:17px 0;border-bottom:none;}
	.list_Tariff .li_Last .box_Buttons_Service{width:100%;max-width:236px;margin:0 auto;float:none;}
	.box_Buttons_Service li {width:54px;}
	.box_Buttons_Service li:first-child {margin-left:0;}
	.box_Buttons_Service li a span{font-size:13px;line-height:16px;}
	.list_Tariff .txt_Label, .list_Tariff .txt_Info{display:table-cell;height:45px;vertical-align:middle;}
	.list_Tariff .txt_Label{min-width:120px;}
	.list_Tariff .txt_Info {border:none;text-align:left;}

	.list_Tariff  ~ .box_FreeHtml{display:none;background-color:#FFF;padding:10px;margin-top:0px;}
	.list_Tariff  ~ .moreInfoPromo{display:none;background-color:#FFF;padding:10px;margin-top:3px;}

	.box_Notes ~ .box_Img{width:100%;margin-bottom:10px;}

	.box_Lightbox .box_Content{max-width:250px;height: 370px;padding:20px;width: 100%;margin: 100px 0 0 -125px;top:0;left: 50%;}
	.box_Lightbox .box_Img{width:150px;margin-bottom:5px;}
	.box_Lightbox .box_Img img,.box_Img img{width:100%;height:auto;}
	.box_Lightbox .box_Img.fleft {margin-right:0;float:none;}

	/* ----------- rata finale */
	.btn_MoreInfo{width: 100%;}
	.box_FinalPrice ul.list_Final li{display:inline-block;width: 100%; margin: 10px 0px 10px 0px;}
	.box_FinalPrice ul.list_Final li h3{width: 100%;margin: 0px 0px 12px 0px;}

/*==========================================================================
	TARIFF PAGE
	==========================================================================*/
	.box_Title{width: 100%; margin: 0px 0px 20px 0px;}
	.box_TabPlans{width: 100%; margin: 0px 0px 0px 0px;}
	.box_Title .tit_Title{width: 100%;}

	/* ----------- box Tab Plans */
	.box_TabPlans section{width: 100%;}

	.box_TabPlans section #PlanFeatures li{min-width: 50%!important;/*width: 50%!important; */ margin: 5px 0px 5px 0px;}
	.box_TabPlans section #PlanFeatures li:nth-child(3){border-left: 0px; border-top: 2px dashed #e6e6e6; padding: 20px 10px 0px 10px;}
	.box_TabPlans section #PlanFeatures li:nth-child(4){border-top: 2px dashed #e6e6e6; padding: 20px 10px 0px 10px;}

	.box_TabPlans section #PlanFeatures li._last{width: 100%!important;}


	.box_TabPlans section + section{margin-top: 30px;}
	.box_TabPlans section.device{width: 99%;}
	.box_TabPlans section.device:after{top: -3px;}
	.box_TabPlans section.device span{display: block;float: left;}
	.box_TabPlans section.device .label {font-size:11px;}
	.box_TabPlans section .mid{min-height: auto;}

	.box_TabPlans section .label {padding: 0px 5px 0px 5px;}
	.box_TabPlans section h3{font-size:13px;}

	.safari-mac .box_TabPlans section .top .label{font-size:10px;}
	.safari-mac .box_TabPlans section h3{font-size:13px;}
	.safari-mac .box_TabPlans section #PlanFeatures li strong{font-size:24px;}

	.box_TabPlans section.x2{width: 100%;}
	.box_TabPlans section.client{width: 100%;}
	.box_TabPlans section.client .old{float: left; margin: 20px 0px 0px 0px;}

	.box_TabPlans section.client .new{float: left; width: 100%; text-align: center;}
	.box_TabPlans section.client .new strong{float: left; width: 100%; text-align: center;}
	.box_TabPlans section.client ul{display: block; float: left; width: 100%; margin: 0px auto; text-align: center; margin: 10px 0px 0px 0px;}
	.box_TabPlans section.client ul li{display: inline-block; float: none!important;  margin: 5px 10px 0px 10px;}



/*==========================================================================
	POPUP
	==========================================================================*/

	.popupAlert > div {display: block;position: absolute;top: 30%;left: 50%;width: 90%;height: auto; padding: 20px; margin: 0px 0px 0px -45%;}
	.popupAlert > div p{font-size: 16px;}

	
/*==========================================================================
	PAGINA GENERICA
	==========================================================================*/
	.tit_Page{width: 100%;font-size: 25px;color: #333;text-align: center;margin: 10px 0px 20px 0px;}
	.subtit_Page{font-size: 18px;margin: 20px 0px 20px 0px;}


	.tab_Type a{font-size:18px;margin: 0px 11px 0px 11px;}
	.pag_generica .box_FreeHtml .fRight{width: 100%; float: left;margin: 20px 0px 20px 0px;}
	.pag_generica .box_FreeHtml .fLeft{width: 100%; float: left;margin: 20px 0px 20px 0px;}
	.pag_generica .box_FreeHtml.txtBox_cms img{width: 100%;}


/*==========================================================================
	MODULI GENERICA
	==========================================================================*/

	.pag_generica .box_FreeHtml .imgRow{display: block;float: left;width: 100%; margin: 20px 0px 10px 0px;}
	.pag_generica .box_FreeHtml .imgRow ul{display: block;float: left;width: 100%;list-style: none;padding: 0px;margin: 0px 0px 0px 0px;}
	.pag_generica .box_FreeHtml .imgRow ul li{display: block;float: left; width: 50%;padding: 0px 10px 20px 10px;}
	.pag_generica .box_FreeHtml .imgRow ul li img{width:100%;}

	.pag_generica .box_FreeHtml .imgRow.row1 ul li{width: 100%;}
	.pag_generica .box_FreeHtml .imgRow.row2 ul li{width: 50%;}
	.pag_generica .box_FreeHtml .imgRow.row3 ul li{width: 50%;}
	.pag_generica .box_FreeHtml .imgRow.row4 ul li{width: 50%;}
	.pag_generica .box_FreeHtml .imgRow.row5 ul li{width: 50%;}
	.pag_generica .box_FreeHtml .imgRow.row6 ul li{width: 50%;}
	
	.pag_generica .box_FreeHtml .imgRow.captions.row1 ul li{width: 100%;}
	.pag_generica .box_FreeHtml .imgRow.captions.row2 ul li{width: 50%;}
	.pag_generica .box_FreeHtml .imgRow.captions.row3 ul li{width: 50%;}
	.pag_generica .box_FreeHtml .imgRow.captions.row4 ul li{width: 50%;}
	.pag_generica .box_FreeHtml .imgRow.captions.row5 ul li{width: 50%;}
	.pag_generica .box_FreeHtml .imgRow.captions.row6 ul li{width: 50%;}

	.pag_generica .box_FreeHtml .doubleTab{display: block;float: left; width: 100%;margin: 20px 0px 20px 0px;}
	.pag_generica .box_FreeHtml .doubleTab table{float: left;width: 100%;margin: 0px 0px 20px 0px;}

	.pag_generica .box_FreeHtml table.tab_Responsive,
	.pag_generica .box_FreeHtml table.tab_Responsive.tab_Responsive thead,
	.pag_generica .box_FreeHtml table.tab_Responsive tbody,
	.pag_generica .box_FreeHtml table.tab_Responsive th,
	.pag_generica .box_FreeHtml table.tab_Responsive td,
	.pag_generica .box_FreeHtml table.tab_Responsive tr {display: block;}

	.pag_generica .box_FreeHtml table.tab_Responsive img {width: auto;}

	.pag_generica .box_FreeHtml table.tab_Responsive .tit th {position: static;top: 0px;left: 0px;}

	.pag_generica .box_FreeHtml table.tab_Responsive th {position: absolute;top: -9999px;left: -9999px; border: 0px;}

	.pag_generica .box_FreeHtml table.tab_Responsive tr { border: opx solid #ccc; }

	.pag_generica .box_FreeHtml table.tab_Responsive td {border: none;border-bottom: 1px solid #eee; position: relative;padding-left: 50%; text-align: left!important; }

	.pag_generica .box_FreeHtml table.tab_Responsive td:before { position: absolute;top: 10px;left: 6px;width: 45%; color: #4abde6; padding-right: 10px; text-align: left!important; white-space: nowrap;}

	.pag_generica .box_FreeHtml .imgLeft img{margin: 0px 0px 20px 0px;}
	.pag_generica .box_FreeHtml .imgRight {float: none;height: auto; display:-moz-box;display:-webkit-box;display:box;-moz-box-orient:vertical;-webkit-box-orient:vertical;box-orient:vertical;}
	.pag_generica .box_FreeHtml .imgRight img {position: relative; margin: 0px 0px 0px 0px; -moz-box-ordinal-group: 2;-webkit-box-ordinal-group: 2;box-ordinal-group: 2;   }
	.pag_generica .box_FreeHtml .imgRight p{ margin: 0px 0px 20px 0px;-moz-box-ordinal-group: 1;-webkit-box-ordinal-group: 1;box-ordinal-group: 1;   }


/*==========================================================================
	LISTA TARIFFE
	==========================================================================*/
	.box_Main .list_Plans{width: 100%;}

	/* ----------- gruppi Tariffe */
	.box_Main .list_Plans .Plan{ margin: 40px 0px 0px 0px;}
	.box_Main .list_Plans h3{text-transform: none; font-size: 16px; color: #999;}
	.box_Main .list_Plans h3:before{display: none;}
	.box_Main .list_Plans h3:after{content: ":";}
	.box_Main .list_Plans ul{width: 100%; margin: 0px 0px 0px 0px;}
	.box_Main .list_Plans ul li{display: block; float: left; width: 100%; padding: 16px 0px 0px 0px;}

	/* ----------- box Tariffa */
	.box_Main .list_Plans ul li .box_PlanDetails{display: block; float: left; padding: 0px 0px 6px 0px;width: 100%;height: auto; background: transparent;}
	.box_Main .list_Plans ul li .box_PlanDetails h2 {display: block; float: left;position: static; width: 100%;height: auto; margin: 0px 0px 6px 0px;}
	.box_Main .list_Plans ul li .box_PlanDetails h2 a{display: inline; float: left; width: auto;height: auto; margin: 0px 0px 0px 0px; color: #999;  font-size: 16px; padding: 0px; background: transparent!important;}
	.box_Main .list_Plans ul li .box_PlanDetails h2 a:after{display: none;}
	.box_Main .list_Plans ul li .box_PlanDetails h2 a:hover{width: auto;background: transparent;}

	.box_Main .list_Plans ul li .box_PlanDetails .box_container_features{float:none;}

	.box_Main .list_Plans ul li .box_PlanDetails .box_feature{display: block; float: right; width: 66%; max-width: initial; height: 50px;text-align: center; padding: 0px 10px 0px 10px; margin: 0px 0px 10px 0px; border-radius: 3px; background: #eee;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.price {display: block; float: left; width: 30%; margin: 0px 3% 0px 0px;max-width: initial; height: 230px; min-height: 90px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.price span,
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice span{text-align: center; float: none; display: inline; font-size: 16px; line-height: 40px;}

	.box_Main .list_Plans ul li .box_PlanDetails .box_feature strong{ display: table-cell; width: 100%; height: 50px!important; vertical-align: middle;text-align: left;font-size:15px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.price strong{ display: block; height: auto; color: #3a3a3a;  font-size: 30px; line-height: 30px; text-align: center;}

	.box_Main .list_Plans ul li a.link_Smartphone{display: none; font-size: 12px; color:#333; text-decoration: none; margin: 15px 0px 15px 0px; }
	.box_Main .list_Plans ul li a.link_Smartphone:hover{opacity: 0.6;}

	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice {display:table; float: left; width: 30%; max-width: initial; height: 230px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice strong{ display: table; height: auto; color: #3a3a3a;  font-size: 30px; line-height: 70px; text-align: center; padding: 0px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice strike{ display: block; height: auto; color: #3a3a3a;  font-size: 20px; line-height: 20px; text-align: center;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice .txt_Strike {display: block; height: auto; color: #3a3a3a;  font-size: 20px; line-height: 20px; text-align: center;text-indent:0;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice .txt_Strike:before{width:46px;left:50%;margin-left:-23px;}

	/* Gestione colonne con valori tagliati (tutte eccetto il costo) */
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice2 .txt_Strike { display:none; }
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice2 strong,
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.ico_internet4G.oldPrice2 strong { font-size: 15px; line-height: 15px }
	
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature span{text-indent: -9000px; width: 50px; display: block; float: left;   white-space: initial;overflow: initial;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature strong{text-indent: 0px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature span:after{display: block; text-indent: 0px; float: left; color: #999; font-size: 30px; line-height: 50px; font-weight:normal; font-family:"Tre_it"; margin: 1px 0px 0px 5px;}

	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.ico_tel span:after{content:"O";}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.ico_sms span:after{content:"P";}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.ico_internet span:after{content:"Q";}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.ico_smart_rate span:after{content:"X";}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.ico_roaming span:after{content:"j"; text-transform:lowercase;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.ico_internet4G span:after{content:"i"; text-transform:lowercase;}

	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.ico_no span{text-indent: 0px; margin: 0px 10px 0px 5px; line-height: 50px; width: auto; display: block; float: left;}

	.box_Main .list_Plans ul li .box_PlanDetails .box_feature .txt_4g {font-size:15px;}

	.box_Main .list_Plans ul li .box_PlanDetails .box_feature strong .txt_Number{text-indent: 0px;font-size:15px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature strong .txt_Number:after{content:"";}

	#box_tabs li {width: auto;margin: 0px 1% 0px 1%; padding: 0px 1% 0px 1%;}
	#box_tabs li.selected {margin: 0px 0px -5px 0px; }
	#box_tabs li a{font-size: 13px; }


	/* ----------- Colori tariffe abbonamento (verde)*/
	.box_Main .list_Plans .c001 ul li .box_PlanDetails .box_feature span:after{color: #7FC026;}
	.box_Main .list_Plans .c001d ul li .box_PlanDetails .box_feature span:after{color: #009d00;}

	/* ----------- Colori tariffe ricaricabile (azzurro)*/
	.box_Main .list_Plans .c002 ul li .box_PlanDetails .box_feature span:after{color: #4ABDE6;}
	.box_Main .list_Plans .c002d ul li .box_PlanDetails .box_feature span:after{color: #018ECC;}

	/* ----------- Colori tariffe dati (rosso)*/
	.box_Main .list_Plans .c003 ul li .box_PlanDetails .box_feature span:after{color: #BB3734;}
	.box_Main .list_Plans .c003d ul li .box_PlanDetails .box_feature span:after{color: #8D2A28;}
	
	/* ---------- Intestazione gruppo tariffe */
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.price strong em,
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice strong em, 
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice2 strong em { 
		float: left; line-height: 15px;
	}


/*==========================================================================
	LISTA PRODOTTI
	==========================================================================*/
	/* ----------- box Controls */
	.box_Controls .list_Filters a span,.box_Controls .box_ViewControls,.btn_ResetView{display:none;}
	.box_Controls .list_Filters a:before{margin-right:0;}
	.box_Controls .box_Search.small {max-width:130px;}

	.list_Filters .box_Filter:after{/*left:65px;*/left:18px;}
	.list_Filters .box_Filter .box_Select{margin:20px 0 0 0;}
	.list_Filters .box_Filter .btn_ResetFilter, .list_Filters .box_Filter .btn_Search{margin:20px 20px 0 0;}
	.box_Fieldset_Medium{width:100%;}

	/* ----------- box Product */
	.box_Content .list_Products .box_Product{width:100%;height:280px;margin:20px auto 30px auto;}
	.box_Content .list_Products .box_Product .box_Description, .grid .box_Description{height:auto;max-height:60px;margin-bottom:10px;}
	.box_Content .list_Products .box_Product.box_LabelNew{height:300px;}
	.box_Content .list_Products .box_Product.box_LabelNew .box_Description{height:auto;margin-bottom:30px;}
	.box_Product .box_Confronta{display:none;}


/*==========================================================================
	CONFRONTA PRODOTTI
	==========================================================================*/
	.tab_Compare_Products {display:none;}
/*==========================================================================
	ESTERO
	==========================================================================*/

	/* ----------- Select Country*/
	.box_Country{height: auto; padding: 0px 0px 50px 0px;}
	.box_Country:after{display: none;}

	.box_Country ul.list_Options{width: 100%;height: 54px; border-right: 0px; border-bottom: 1px solid #c7c7c7;}
	.box_Country ul.list_Options li{display: block;float: left;box-sizing: border-box;width: 50%;height: 54px;padding: 0px;}
	.box_Country ul.list_Options li:first-child{border-right: 1px solid #c7c7c7; border-bottom: 0px;}
	.box_Country ul.list_Options li:last-child{border-left: 1px solid #e1e1e1; border-top: 0px;}
	.box_Country ul.list_Options li a{display: block; width: 100%;height: 53px; line-height: 52px; text-align: center;font-size: 14px;}

	.box_Country .box_SelectCountry{display: block;float: left; position: relative; width: 100%; height: auto;margin: 70px auto 0px auto; padding: 0px 0px 0px 0pz;}
	.box_Country .box_SelectCountry .ico_flag {position: absolute; top: -50px; left: 50%; margin: 0px 0px 0px -23px;}
	.box_Country .box_SelectCountry .box_select {width: 80%!important;height: 30px; margin: 0px 10% 20px 10%; padding: 0px 45px 0px 0px;}
	.box_Country .box_SelectCountry .box_select + .box_select  {margin: 0px 10% 0px 10%!important;}
	.box_Country .box_SelectCountry .box_select select {width: 135%!important;min-width:230px;}
	.box_Country .box_SelectCountry button{margin:0; position:absolute;bottom:-150px;left:50%;margin: 0px 0px 0px -25px;}
	.box_Country a.button{ width: 80%; margin: 20px 10% 0px 10%;}
	.box_Country a.button:hover{opacity: 0.8;}
	.box_Country a.button.selected{color: #fff;border: 1px solid #018ecc;background: #4abde6;}

	.box_Country .box_SelectCountry button.inp_Submit{position: static;float: left;width: 50%;height: 30px; text-align: center;  margin: 20px 25% 0px 25%; padding: 0px 0px 0px 0px;}

	.box_Country .box_SelectCountry button.inp_Submit:before{content:"Cerca"!important;font-family: 'Arial'; text-align: center;width: 100%;  position:static;color:#88;font-size:18px;line-height:30px;}

	.box_SelectType{ margin-left: 0 }


	/* ----------- Faq Estero*/
	.box_miniFaq{width: 100%;}
	.box_miniFaq ul li{margin: 10px 0px 0px 0px;}
	.box_miniFaq  ~ .list_Banner{clear:both;margin:0 0 20px 0;}
	.box_miniFaq  ~ .list_Banner .li_Banner{margin:10px 0;}
	.box_miniFaq  ~ .list_Banner .li_Last {display:none;}

	/* ----------- Info*/
	.box_InfoEstero{height: auto!important;}
	.box_InfoEstero > ul li,
	.box_InfoEstero > ul li:first-child{width: 100%;margin: 0px 0px 20px 0px;}
	.box_InfoEstero > ul li a{font-size: 20px;}
	.box_InfoEstero > ul li.selected a:after{left: 0;margin: 0px 0px 0px 0px;}

	/* ----------- Box Dati */
	.box_InfoEstero > ul > li .box_Dati{position: relative;top: 10px;width: 100%;padding: 20px 0 40px 0;}
	.box_InfoEstero > ul > li.selected .box_Dati{display: block;}
	.box_InfoEstero > ul > li .box_Dati table{margin-bottom:20px;}
	.box_InfoEstero > ul > li .box_Dati table,.box_InfoEstero > ul > li .box_Dati .box_FreeHtml,.box_InfoEstero > ul > li .box_Dati	.box_Paragraph{float:none;}
	.box_InfoEstero > ul > li .box_Dati table tr.tit td{padding:10px;font-size: 18px;}
	.box_InfoEstero > ul > li .box_Dati .tab_Prices tr td {padding:20px 10px 20px 10px;font-size: 14px;}
	.box_InfoEstero > ul > li .box_Dati .tab_Prices td.option{display:none;}
	.box_InfoEstero > ul > li .box_Dati .tab_Prices td.base { width: 500px;}
	.box_InfoEstero > ul > li .box_Dati table tr td span{display: block; width: 100%;}
	.box_InfoEstero > ul > li .box_Dati .box_FreeHtml{padding: 20px 10px 0 10px;margin:0;display:none;}
	.box_InfoEstero > ul > li .box_Dati	.tit_Paragraph{width:100%;font-size:16px;}
	.box_InfoEstero > ul > li .box_Dati .btn_Note{display:block; padding: 20px 10px 10px 10px;}
	.box_InfoEstero > ul > li .box_Dati .btn_Note:after{left:20px;top:22px;  }
	.box_InfoEstero > ul > li .box_Dati .btn_Note.active:after  {border-width: 0 10px 10px 10px;border-color: transparent transparent #fff ;top:-15px; }
	.box_InfoEstero > ul > li .box_Dati .btn_Tariff:link{font-size:16px;padding: 0 10px;}
	.box_InfoEstero > ul > li .box_Dati .btn_Tariff:after{border:none;}
	.box_InfoEstero > ul > li .box_Dati .btn_Tariff  ~ .box_FreeHtml {margin: 0px 0px 0px 0px;}

	/* ----------- Box Dati - Domande frequenti*/
	.box_InfoEstero > ul > li .box_Dati .list_Faq{float:none;margin-left:5px;padding:0px 10px 0px 20px;}
	.box_InfoEstero > ul > li .box_Dati .list_Faq li {margin:0px 0px 15px 0px;}
	.box_InfoEstero > ul > li .box_Dati .list_Faq li a:link{font-size:16px;}

	/* ----------- Box Dati - Tab Resposive  */
	.tit_tab_Responsive{width:100%;display:block;font-size:20px;color: #333;font-family: 'Helvetica-Bd', Arial, sans-serif; font-weight:normal;padding:10px;}
	.tab_Responsive, .tab_Responsive thead,.tab_Responsive tbody,.tab_Responsive tr .tab_Responsive th, .tab_Responsive td{display:block;}
	.tab_Responsive, .tab_Responsive tr{width:100%;float:left;}
	.tab_Responsive thead tr{position:absolute;top:-9999px;left:-9999px;}
	.tab_Responsive td,.tab_Responsive th{text-align:left;vertical-align:top;}
	.tab_Responsive th{font-weight:bold;}
.tab_Responsive td,.tab_Responsive th{position:relative;float:left;width:100%;/*word-wrap:break-word;*/}
.tab_Services.tab_Responsive td {padding:10px 2% 15px 34% !important; font-size:14px;}
.tab_Responsive td:before,.tab_Responsive th:before{position:absolute;top:auto;left:0;width:54%;padding:2% 10px;font-weight:bold;font-size:14px;content:attr(data-th);}
.tab_Responsive tbody tr:first-child td:first-child,.tab_Responsive tbody tr:first-child th:first-child{width:100%;}
.tab_Responsive tbody th{background: #f4f4f4;font-size: 15px;padding:10px;margin-top:15px;}
.tab_Responsive tbody th strong{font-size: 18px;}

.tab_Zone.tab_Responsive  td{padding: 20px 10px 20px 10px!important;font-size:14px;}
.box_Dati .ico_Check{text-align:left;}

/*==========================================================================
	TEASER
	==========================================================================*/

	.box_Teaser ul{width: 100%; margin: 0px;}
	.box_Teaser ul li{width: 100%; margin: 0px 0px 20px 0px;}
	.box_Teaser ul li img{height: auto!important;}
	.box_Teaser ul li.col1,
	.box_Teaser ul li.col2,
	.box_Teaser ul li.col3,
	.box_Teaser ul li.col4{width: 100%;}

/*==========================================================================

==========================================================================*/

.box_Controls .box_Search{margin: 0px 0px 0px 0px!important; width: 100%;}
.box_Controls .box_Search input{width: 100%;}
.box_Controls .box_select{display: none;}

.box_Faq ul{padding: 0px 0px 0px 0px;}

/*==========================================================================
	VISITA AGENTE
	==========================================================================*/

	.form_Agente ul{padding: 0px 0px 0px 0px!important;}
	.form_Agente ul li.col1,
	.form_Agente ul li.col2{width: 100%;}
	.form_Agente ul li.col1 input,
	.form_Agente ul li.col2 input,
	.form_Agente ul li textarea{width: 100%;}

	.form_Agente ul li.col1 select,
	.form_Agente ul li.col2 select{width: 106%!important;}

/*==========================================================================
	COMUNICATI STAMPA
	==========================================================================*/
	.list_Filters .box_FilterPress .btn_Search{float:right;}

	.box_Press ul li{width: 100%; margin: 0px; padding: 20px 0px 20px 0px;border-bottom: 4px solid #8d8d8d;}
	.box_Press ul li:last-child{border-bottom: 0px solid #8d8d8d;}
	.box_Press ul li p{display: none;}
	.box_Press ul li.highlight{width: 100%; height: auto;padding: 20px 0px 20px 0px; margin: 0px}
	.box_Press ul li.highlight p{display: none;}

	.btn_Opzioni:before{content:"U";}

	/* ----- paginations */

	.box_Pagination ul.list_Pages {display: none;}

/*==========================================================================
	COPERTURA
	==========================================================================*/
	.box_Coverage{width: 100%;height: auto;background: #ff0000;box-shadow: none;}
	.box_Coverage #box_Map{display: none;}
	.box_Coverage .form_Search{display: block;position: relative;top: 0px;left:0px;width: 100%;height: auto;padding: 0px 0px 0px 0px;margin: 0px 0px 20px 0px!important;border: 0px;}
	.box_Coverage .form_Search label{font-size: 18px;}
	.box_Coverage .form_Search input{left: 0px; margin: 10px 0px 20px 0px; width: 100%;}
	.box_Coverage .form_Search button{left: 0px; margin: 0px 0px 0px 0px; width: 100%; height: 40px;}

	.box_Coverage .box_Legend{height: 30px;line-height: 14px;}
	.box_Coverage .box_Legend strong{display: block;}
	.box_Coverage .box_Legend:before{width: 30px;height: 30px;}

	/* ------- copertura risultati */
	.box_Coverage.result {}
	.box_Coverage.result #box_Map{display: block; float: left;  height: 350px; opacity: 1;filter: blur(0px);border: 1px solid #aaa;}
	.box_Coverage.result .form_Search{float: left;position: static;top: 0px;left: 0px;width: 100%;height: auto;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;border: 0px; }
	.box_Coverage.result .form_Search label{display: block;}
	.box_Coverage.result .form_Search input{margin: 20px 0px 0px 0px; }
	.box_Coverage.result .form_Search button{left: 0px; margin: 20px 0px 0px 0px; width: 100%; height: 40px;}


/*==========================================================================
	SEARCH
	==========================================================================*/

	.box_Search_Results ul li{width: 100%; height: auto;padding: 20px 0px 20px 0px; margin: 0px}
	.box_Search_Results ul li:nth-child(1){border: 0px;}
	.box_Search_Results ul li:nth-child(2){border-top: 4px solid #8d8d8d;}
	.box_Search_Results ul li p{ /*display: none;*/ display: block; min-height: 100px; height: inherit; }

	.tit_Result{width: 100%; float: left; line-height: 110%;}

	.box_Search_Results .box_Offerta,
	.box_Search_Results .box_Assistenza{display: block;float: left;width: 100%;}

	.box_Search_Results .box_Offerta .tit_Result,
	.box_Search_Results .box_Offerta .txt_Result,
	.box_Search_Results .box_Assistenza .tit_Result,
	.box_Search_Results .box_Assistenza .txt_Result{float: left; width: 100%;}
	.box_Search_Results .box_Offerta .link_seeAll,
	.box_Search_Results .box_Assistenza .link_seeAll{float: left; width: 100%; margin: 0px 0px 30px 0px;}
/*==========================================================================
	FOOTER
	==========================================================================*/
	.box_Footer{padding:0 10px;}

	/* ----------- footer - top */
	.box_Footer_Top{position:relative;}
	.box_Footer_Top .box_FooterMenu{width:100%;margin-right:0;}
	.box_Footer_Top .box_FooterMenu .tit_Title a:link {display:none;}
	.box_FooterMenu .js_Title  a.visible{display:block!important;}
	.box_Footer_Top .list_FooterMenu{padding-bottom:15px;}
	.box_Footer_Top .list_FooterMenu li a:link {display:block;line-height:18px;}
	.box_Footer_Top .btn_Expand{position:absolute; top:0; right:0;}

	/* ----------- footer - bottom */
	.box_Footer_Bottom{border-top:none;height:90px; padding:10px 0!important;}
	.box_Footer_Bottom .txt_Copright{margin-bottom:20px;display:block;}
	.box_Footer_Bottom .txt_Copright a:link{display:block;}
	.box_Footer_Bottom .list_Menu_Cross{float:left;}
	.box_Footer_Bottom .list_Menu_Cross .li_First{margin-left:0;padding-left:0;}


/*==========================================================================
	COUNTDOWN
	==========================================================================*/


	.box_Countdown {display: block; float: left; width: 100%; margin-bottom: 50px;}


	#container {display: block;float: left;width: 100%;}

	#countdown_dashboard {float: left;display: block;width: 100%;height: 150px;}

	.box_Countdown .dash {
		float: left;
		text-alifn: center;
		width: 33.33%;
		height: 170px;
		text-align: center;
		padding: 60px 0px 0px 0px;
		position: relative;
	}

	.dash .digit {
		width: 35px;
		height: 55px;
		float: none;
		text-align: center;
		font-family: Helvetica;
		line-height: 55px;
		font-size: 46px;
		margin: 0px 0px 0px 0px;
		font-weight: bold;
		position: relative;
		border-radius: 4px;
		background: #333;
		display: inline-block;
	}

	.dash .digit:after {
		content:"";
		display: block;
		position: absolute;
		top: 50%;
		width: 35px;
		height: 2px;
		background: rgba(255,255,255,0.2);
	}
	.dash .digit:before {
		content:"";
		display: block;
		position: absolute;
		top: 50%;
		margin: 2px 0px 0px 0px;
		width: 35px;
		height: 2px;
		background: rgba(0,0,0,0.5);
	}
	.dash_title,
	a .dash_title {
		font-size: 20px;
	}

/*==========================================================================
		FLEXBOX
		==========================================================================*/

		/* .box_c000 .box_Main {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;


			-webkit-flex-flow: column nowrap;
			flex-flow: column nowrap;

			box-orient:vertical;
			-webkit-box-orient:vertical;


		}

		.box_c000 .box_Title {
			-webkit-box-ordinal-group: 1;
			-moz-box-ordinal-group: 1;
			-ms-flex-order: 1;
			-webkit-order: 1;
			order: 1;

			width: 100%;
			-webkit-box-flex: 1;
			-moz-box-flex: 1;
			-ms-flex: 1;
			-webkit-flex: 1;
			flex: 1 100%;
			display:block!important;

		}

		.box_c000 .box_Product_Data {
			-webkit-box-ordinal-group: 2;
			-moz-box-ordinal-group: 2;
			-ms-flex-order: 2;
			-webkit-order: 2;
			order: 2;

			-webkit-box-flex: 1;
			-moz-box-flex: 1 ;
			width: 100%;
			-ms-flex: 1;
			-webkit-flex: 1;
			flex: 1 100%;
			display:block!important;
		}

		.box_c000 .box_Divider {
			-webkit-box-ordinal-group: 3;
			-moz-box-ordinal-group: 3;
			-ms-flex-order: 3;
			-webkit-order: 3;
			order: 3;

			-webkit-box-flex: 1;
			-moz-box-flex: 1;
			width: 100%;
			-ms-flex: 1;
			-webkit-flex: 1;
			flex: 1 100%;
			display:block!important;
		}

		.box_c000 .box_Modalities {
			-webkit-box-ordinal-group: 4;
			-moz-box-ordinal-group: 4;
			-ms-flex-order: 4;
			-webkit-order: 4;
			order: 4;

			-webkit-box-flex: 1;
			-moz-box-flex: 1;
			width: 100%;
			-ms-flex: 1;
			-webkit-flex: 1;
			flex: 1 100%;
		} */



/*==========================================================================
	3 ITALIA
 ==========================================================================*/

.list_Button{height: auto; margin: 0px 0px 20px 0px;}
.list_Button li.li_Button{width: 100%;margin: 0px 0px 20px 0px;}
.list_Button li.li_Button:first-child{margin: 0px 0px 20px 0px;}
.list_Button li.li_Button a{float: left;width: 100%;height: 105px;}
.list_Button li.li_Button:nth-child(2) a{	background: #f5f5f5 url('../imgs_W/bkg_btn_3it.gif'); 	background-size: 100% 100%;}
.list_Button li.li_Button a:before{margin: 4px 0px 0px 0px;}


/*==========================================================================
	PRODUCT LIST NEW
 ==========================================================================*/
.list_ProductsNew .box_Product {width: 100%;}
.list_ProductsNew .box_Product .box_Fee {right: 50%; margin-right: -155px;}


/*==========================================================================
	GSA
	==========================================================================*/
	.box_Google_Result {display:none;}

	.box_Search_Results .list_Result li img{margin: 0px 20px 0px 0px;}
	.box_Search_Results .list_Result li .tit_Title,.box_Search_Results .list_Result li .txt_Abstract{float:none;margin-left:0;}
	.box_Search_Results ul li{width: 100%; height: auto;padding: 20px 0px 20px 0px; margin: 0px}
	.box_Search_Results ul li h3 a{margin: 0px 0px 15px 0px;}
	.box_Search_Results ul li:nth-child(1){border: 0px;}
	.box_Search_Results ul li:nth-child(2){border-top: 4px solid #8d8d8d;}
	.box_Search_Results .tit_Title{width: 100%; float: left;}
	.box_Search_Results .txt_Abstract{width: 100%; float: left;}
}

@media only screen and (min-device-width:480px) and (max-device-width:767px) and (orientation : landscape){

	.zoom{zoom:0.72;}

	/*==========================================================================
				HOMEPAGE
				==========================================================================*/
				/* ----------- banner AD*/
				.box_Banner.bnr_AD_Rotating {width:100%;height: 250px!important;position:relative;}
				.bnr_AD_Rotating .box_Container {height:auto;width:100%; padding: 0px;}
				.bnr_AD_Rotating .owl-carousel .owl-item a, .bnr_AD_Rotating .bnr_Premium{height: 230px!important;background-size: auto 230px;}
				.bnr_AD_Rotating .bnr_Premium{width:462px !important; margin:0 auto;}
				.bnr_AD_Rotating .bnr_Premium img{height: 230px!important;margin-left:-321px;}

				.box_Ricarica{width:40%;float:left;clear:none;}
				.box_TreStore .txt_SubTitle{width:156px;font-size:17px;}
				.box_TreStore .box_Img {display:inline;}
				.box_TreStore .box_Img img{max-width:70px;}

				.box_RicaricaOnline .box_Form{width:228px;}
				.box_RicaricaOnline .box_Input_Small, .box_RicaricaOnline .box_Input_Small .inp_Text {width: 168px;}

				/* ----------- carousel Prodotti */
				.box_Product_List {width:50%;float:left;clear:none;margin-right:25px;}

				/* ----------- carousel News */
				.box_News_List .owl-stage-outer{width:100%;}
				.box_News{width:80%!important; margin: 0 10%;}

				/* ----------- list Banner */
				.list_Banner .li_Banner, .list_SubSections .li_SubSection {float:left;}
				.list_Banner .li_Banner.singleColumn, .list_SubSections .li_SubSection.singleColumn{width:47%;}
				.list_Banner .li_Banner.doubleColumn {width:708px;}

				/* ----------- Smart Links */
				.box_SmartLinks{margin-bottom:40px;}
				.list_SmartLinks{width:100%; margin:0 auto;}
				.list_SmartLinks li{width:16%;}
				.list_SmartLinks li a img{width:80px;height:80px;}

	/*==========================================================================
		PRODUCT PAGE
		==========================================================================*/

		.btn_Opener{width:24px; height:24px;  font-size: 24px;}
		.box_Modalities .box_TabTitle{height: 36px;  max-width: 70%;}
		.box_Modalities .box_TabTitle a:link {font-size:22px;padding:7px 11px 7px 10px;display:block;}
		.box_Modalities .box_TabTitle:after {right: -7px;  border-width: 18px 0 18px 7px;}

		.box_Price_Mobile .txt_Label_Mobile{font-size:18px;}
		.box_Price_Mobile .txt_Price_Mobile{font-size:28px;padding-left: 10px;}

		.list_Tariff .txt_Label{font-size:20px;min-width: 180px;}
		.list_Tariff .txt_Info{font-size:18px;}
		.list_Tariff .col_Price .txt_Info {font-size:26px;}
	}

	@media screen and (min-width: 600px) and (max-width:767px) {
		/* ----------- banner AD*/
		.box_Banner.bnr_AD_Rotating {height: 290px!important;}
		.bnr_AD_Rotating .box_Container {height:290px;}
		.bnr_AD_Rotating .owl-carousel .owl-item a,.bnr_AD_Rotating .bnr_Premium{height: 260px!important;background-size: auto 260px;}
		.bnr_AD_Rotating .bnr_Premium{width:522px;margin:0 auto;}
		.bnr_AD_Rotating .bnr_Premium img{height: 260px;margin-left:-363px;}
	}

	@media screen and (max-width:336px) {
		.box_Tabs .list_Tabs li a:link, .box_Tabs .list_Tabs li a:visited{font-size:16px;}
		.box_Buttons_Service li{margin-left:0;}
		.box_Buttons_Service li a:link, .box_Buttons_Service li a:visited{font-size:13px;}

		.box_LoginForm .tit_Title {font-size: 20px;}
	}

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		/* IE10-specific styles go here */
		.box_c000 .box_Main {
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
		}
	}
