@media screen and (min-width: 768px) and (max-width:1023px){

.box_Utilities .box_Container, .box_Header .box_Container,.box_BodyContent .box_Container {width:748px; margin:0 auto;padding:0 10px;}
 /*==========================================================================
	HEADER
 ==========================================================================*/
.box_Utilities {display:block;}

.box_Header{height:100px;position:relative;background: url('../imgs_T/bg_Header.png') repeat-x;}
	.box_Header .box_Menu_First ul li a:link,.box_Header .box_Menu_First ul li a:visited{font-size:15px;}
	.js_Header.sticky {position:fixed; top:0;height:66px;background: url('../imgs_S/bg_Header.png') repeat-x;animation: headfix 300ms linear;-webkit-animation: headfix 300ms linear;}
	.js_Header.sticky .box_Logo {width:34px; height:50px;margin:7px 0;background-image:url('../imgs_W/logo_Tre_it.png'); background-size: 34px 50px;}
	.js_Header.sticky .box_Logo  a{width:34px; height:50px;}
	.js_Header.sticky .box_Menu_First{display:none;}
	.js_Header.sticky .box_Nav_Section .box_Nav {top:20px;}
	.js_Header.sticky .box_Nav_Section .box_Search{top:-2px;}
	.js_Header.sticky + section {margin-top:128px;}
.box_Header .box_Logo {width:54px; height:80px;margin:7px 0;background-image:url('../imgs_W/logo_Tre_it.png'); background-size: 54px 80px;}
.box_Header .box_Logo a {width:54px; height:80px;display:block;}
.box_Header .btn_Toggle,.js_Back,.tit_Menu{display:none;}

/* ----------- header - nav */
.box_Nav_Section {position:relative;}
.box_Nav_Section .box_Nav {position:absolute;left:75px; top:58px;width:652px;}
.box_Nav_Section .box_Nav > ul > li {padding:0 15px;height:40px;}
	.box_Nav > ul > li{list-style:none; float:left;}
	.box_Nav .list_Menu {top:40px;left:-76px;width:728px;padding:18px 0;}
	.box_Nav .list_Menu > li  {float:left;width:160px;margin-left:20px;}
	.box_Nav > ul > li:hover > .list_Menu{display:block;}
	.list_Menu .list_SubMenu li ul li{margin-left:20px;}
	.list_Menu .list_PlansDetails .tit_SubSection {display:none;}

/*trick ipad*/
.box_Nav_Section .box_Nav.trickIpad > ul > li {padding:0 11px;}
.box_Nav_Section .box_Nav.trickIpad > ul > li  > a {font-size: 15px;}

/*fix menu*/
.box_Nav > ul > .js_SubMenu{position: relative;}
.box_Nav > ul > .js_SubMenu:hover{box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);}
.box_Nav > ul > .js_SubMenu > .list_Menu{position: absolute; left: 0px; top: 37px;}
.box_Nav > ul li.menuAssistenza > .list_Menu{position: absolute; left: -581px; }
/*fine fix menu*/

.box_Search	{float:right; width:165px;margin:5px 20px 5px 0;z-index: 99999;/*-webkit-box-shadow: 0 0 1px 2px rgba(214,214,214,0.5);-moz-box-shadow: 0 0 1px 2px rgba(214,214,214,0.5);box-shadow: 0 0 1px 2px rgba(214,214,214,0.5);*/}
	.box_Search .inp_Search {width:116px;box-sizing: content-box;font-size:16px;}
	.box_Search .inp_Submit{width:32px;}

.container_Search{display:none;}


.list_Menu .openAll{display: block;float: left;width: 100%!important;}
.list_Menu .openAll a{display: block;float: left;width: 100%!important;padding: 0px 40px 0px 0px;margin: 20px 0px 0px 0px;}
.list_Menu .openAll a span{display: block;float: left;width: 100%!important;color: #fff;text-align: center;border-radius: 3px;background: #4abde6;line-height: 30px;font-size: 14px;}

/*==========================================================================
	HOMEPAGE
 ==========================================================================*/
.tit_SubSection{font-size:25px;}

/* ----------- banner AD*/
.box_Banner.bnr_AD_Rotating {width:100%;height: 350px!important;position:relative;margin-bottom:40px;}
.bnr_AD_Rotating .box_Container {height:auto;width:100%; padding: 0px;}
.bnr_AD_Rotating .owl-item a,.bnr_AD_Rotating .bnr_Premium{height: 300px!important;background-size: auto 300px;}
.bnr_AD_Rotating .bnr_Premium{width:748px;margin:0 auto;}
.bnr_AD_Rotating .bnr_Premium img{height:300px;margin-left:-346px;}

.js_AD_Rotating .owl-controls .owl-nav [class*='owl-']{width:48px;height:48px;}
.js_AD_Rotating .owl-controls .owl-nav .owl-prev{left:10px;top:30% !important;background-image:url('../imgs_W/btn_Prev_01.png');background-repeat:no-repeat;}
.js_AD_Rotating .owl-controls .owl-nav .owl-next{right:10px;top:30%!important;background-image:url('../imgs_W/btn_Next_01.png');background-repeat:no-repeat;}

.js_AD_Rotating .owl-controls .owl-nav .owl-prev:hover{background-image:url('../imgs_W/btn_Prev_01_hover.png');background-repeat:no-repeat;}
.js_AD_Rotating .owl-controls .owl-nav .owl-next:hover{background-image:url('../imgs_W/btn_Next_01_hover.png');background-repeat:no-repeat;}


/* ----------- carousel Prodotti */
.box_Product_List {height:370px;width:470px;float:left;margin-right:5px;margin-bottom:40px;}
.box_Product_List .owl-carousel {height:325px;padding:0 35px;}
	.box_Product_List .owl-stage-outer{margin-top:20px;margin-bottom:10px;}
	.box_Product_List .owl-carousel .owl-item{width:200px!important;}
	.box_Product_List .box_Product{position:relative;height:325px;background-image:url('../imgs_W/bg_Product.png');background-repeat:no-repeat;background-position:center bottom;}
		.box_Product .box_Img{height:232px;width:119px;margin:10px auto 0 auto;}
		.box_Product .box_Description a:link,.box_Product_List .box_Description a:visited{display:block;text-decoration:none;font-size:18px;color:#999999;text-align:center;}
		.box_Product .box_Description a span{ display:block;font-size:21px;font-family: 'Helvetica-Bd';}
		.box_Product .box_Price {top:160px;left:17px;width:150px;height:46px;}
		.box_Product .box_Price:after {background:url('../imgs_W/bg_Price.png') no-repeat left bottom;content:'';height:18px;width:25px;position:absolute;top:44px;left:0;z-index:1;}

/* ----------- box Ricarica */
.box_Ricarica{width:250px;float:left;height:350px;}
.box_RicaricaOnline .tit_Title, .box_TreStore .tit_Title{font-size:24px;letter-spacing:-0.01em;}
.box_TreStore{margin-bottom:20px;}
	.box_TreStore .txt_SubTitle{width:157px;font-size:18px;}
.box_RicaricaOnline  .box_Input_Small, .box_RicaricaOnline  .box_Input_Small .inp_Text {width:168px;}
.box_RicaricaOnline .link_Accedi{font-size:12px;}

/* ----------- carousel News */
.box_News_List{margin-bottom:40px;padding:20px 0;}
	.box_News_List .owl-carousel {padding:0 28px;}
	.box_News .tit_News{font-size:25px;}
	.box_News .txt_Paragraph{line-height:20px;width:210px;margin-left:auto;margin-right:auto;}

/* ----------- list Banner */
.list_Banner, .list_SubSections{margin-bottom:0;}
	.list_Banner .li_Banner, .list_SubSections .li_SubSection {float:left;margin:0 10px 20px 10px;}
	.list_Banner .li_Banner{margin-bottom:15px;}
	.list_Banner .li_Banner.singleColumn, .list_SubSections .li_SubSection.singleColumn{width:344px;}
	.list_Banner .li_Banner.doubleColumn {width:708px;}
	.list_SubSections .li_SubSection .box_Banner {height:98px;}
		.list_SubSections .tit_Section, .list_SubSections .txt_Paragraph{max-width:160px;}

/* ----------- Smart Links */
.box_SmartLinks{margin-bottom:40px;}
.list_SmartLinks{margin:0 auto;}
	.list_SmartLinks li{width:105px;margin:0 10px;}
	.list_SmartLinks li a img{width:80px;height:80px;}


	/*==========================================================================
	MAIN COUNT
	==========================================================================*/
	.bnr_AD_Rotating #countdown_dashboard{
	-ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8);
	}

	.bnr_AD_Rotating #countdown_dashboard.top{top: 20px;}
	.bnr_AD_Rotating #countdown_dashboard.bottom{bottom: 20px;}

	.bnr_AD_Rotating #countdown_dashboard.left{left: 0px; margin: 0px;}
	.bnr_AD_Rotating #countdown_dashboard.right{right: 0px; margin: 0px;}

/*==========================================================================
	MAIN CONTENT
 ==========================================================================*/
.box_MainContent {min-height: 550px;}

.box_Breadcrumb{display:block;}
	.box_Breadcrumb a:link, .box_Breadcrumb a:visited, .box_Breadcrumb a:hover, .box_Breadcrumb a:active{line-height:34px;}

/* ----------- Box Main */
.box_c000 .box_Main, .box_c001 .box_Main, .box_c002 .box_Main, .box_c003 .box_Main{margin-top:30px;}

/* ----------- Box Bottom */
.box_Bottom > div{width:748px; height: 33px; margin:0 auto; padding:0 10px;}
.box_Bottom .txtBox_cms{font-size:25px; margin: 4px 0px 0px 0px;}

/* ----------- Box Notes */
.box_Notes ul li{margin: 0px 0px 0px 8px;}
.box_Notes ul > li > .btn_Note:link{font-size: 18px;}
.box_Notes ul li .txt_Note{width: 100%;}
	.txt_Note .list_Product_Feature dd.txt_Description{width:468px;}

.box_Notes.box_Notes_Full ul > li {width:auto;margin: 0px 0px 0px 8px;}
.box_Notes.box_Notes_Full ul > li > .btn_Note:link{padding:0 4px;}

	/* ----------- Box Notes sotto lista prodotti */
	.box_Notes ul li {width: 224px;margin: 0px 0px 0px 27px;}

/* ----------- Altre opzioni */
.box_More > div{width:748px; height: auto; margin:0 auto; padding:0 10px;}
.box_More .box_Options ul li{margin: 0px 0px 22px 19px;}

.box_More .box_Other{width: 100%; margin: 40px 0px 0px 0px;}
.box_More .box_Other .btn_Big{float: left;  box-sizing: border-box; width: 354px; height: 60px;  margin: 0px 20px 0px 0px;}

/* ----------- Lista prodotti */
.list_Products{margin-bottom:40px;}
.list_Products .box_Product{width: 230px;/* margin: 20px 0px 60px 10px;*/}

/*==========================================================================
	NEW TARIFFA - 11/2016
 ==========================================================================*/
.box_NewTariffa .box_MainContent .box_Container {width: auto; margin: 0 0 32px 0;}
.box_NewTariffa .box_Breadcrumb, .box_NewTariffa .box_Top_Banner, .box_NewTariffa .box_Main, .box_NewTariffa .pag_generica {width: 748px; margin: 0 auto;}

/* ----------- Header */
.box_NewTariffa .box_Title .tit_Title img {max-width: 700px;}
.box_NewTariffa .box_Title .box_FreeHtml {padding: 0 100px;}

/* -----------  boxes size	*/
.list_05_Elements li {width: 358px; margin-bottom: 16px;}
	.list_05_Elements li.el_01 {margin-left: 8px;}
	.list_05_Elements li.el_05 {margin-right: 8px;}
	.list_05_Elements li.el_05 {width: 732px;}
.list_04_Elements li {width: 358px; margin-bottom: 16px;}
	.list_04_Elements li.el_01 {margin-left: 8px;}
.list_03_Elements li {width: 358px; margin-bottom: 16px;}
	.list_03_Elements li.el_01 {margin-left: 8px;}
	.list_03_Elements li.el_03 {width: 732px;}
.list_02_Elements li {width: 358px; margin-bottom: 16px;}
	.list_02_Elements li.el_01 {margin-left: 8px;}

/* -----------  generic text	*/
.box_NewTariffa .pag_generica .box_FreeHtml.txtBox_cms img {max-width: none;}

/* -----------  new filter box	*/
.box_NewTariffa .box_Filter {margin-left: 0;}
.box_NewTariffa .box_Filter .box_Select {margin-bottom: 16px;}
.box_NewTariffa .box_Filter .box_Select:first-child {margin-left: 160px;}
.box_NewTariffa .box_Filter .box_Select:last-child {margin-left: 406px; margin-bottom: 0;}

/*==========================================================================
	PRODUCT PAGE
 ==========================================================================*/

/* ----------- Product Data and Gallery*/
.box_Product_Data{float:left; width:184px;}
	.box_Product_Data .box_Gallery .owl-carousel .owl-item img{width:140px; margin:0 auto; }
	.box_Colors ul{margin:0 auto;width:124px;height:28px;}

.box_Divider {background-image:url('../imgs_W/bg_Divider.png');background-position:left top;left:184px;top:0;}
	.box_Divider .box_DividerTop{background-image:url('../imgs_W/bg_DividerTop.png');width:21px;height:32px;top:308px;left:0px;}

.box_c000 .box_Title{width:525px;padding:0 0 0 30px;}
	.box_c000 .box_Title .tit_Title{font-size:30px;line-height:37px;display:inline-block;}
	.box_c000 .box_Title .box_FreeHtml{margin-top:16px;line-height:22px;font-size:18px;}

/* ----------- List Plans */
.box_Modalities{width:544px; margin-top:35px;}
	.box_Modalities .tit_Section{font-size:18px; padding-left:30px;}
	.box_Modalities .box_Tabs{margin-left:30px;margin-top:15px;}
		.box_Tabs .list_Tabs .li_First{width:202px;}
		.box_Tabs .list_Tabs .li_First a.active:before{width:200px;}
		.box_Tabs .list_Tabs .li_Last{width:182px;}
		.box_Tabs .list_Tabs .li_Last a.active:before{width:180px;}
		.box_Tabs .list_Tabs li a:link, .box_Tabs .list_Tabs li a:visited{font-size:25px;line-height:40px;}

.box_Modalities .box_Top{position:relative;float:left;width:100%;}
	.box_Modalities .box_TabTitle{height: 36px;}
		.box_Modalities .box_TabTitle a:link, .box_Modalities .box_TabTitle .tit_Plan{font-size:25px;display:block;position:relative;padding:4px 10px 4px 10px;}
		.box_Top .box_Price_Mobile {display:none;}
	.btn_Opener{display:none;}
	.box_Buttons_Service {float:left;clear:both;margin-top:10px;}

	.list_Tariff{float:left;display:block !important;}
	.list_Tariff > li {width:159px;float:left;margin-right:2px;margin-bottom:10px;}
	.list_Tariff .txt_Label {text-align:center;}
	.list_Tariff .txt_Info{width:159px;padding:0 10px;position:relative;}
	.list_Tariff .col_Description{display:none;}

	.list_Tariff  ~ .moreInfoPromo{display:block!important;}
	.box_Notes ~ .box_Img{margin-left:10px;}

	.box_FreeHtml.phone_hidden{display:block!important}

	/* Caso in cui ci sono 3 tabs */
	.box_Tabs .list_Tabs .li_First.list_Tabs_Promo{ width: 152px!important }
	.box_Tabs .list_Tabs .li_First.list_Tabs_Promo a.active:before { width: 150px!important }
	.box_Tabs .list_Tabs li.list_Tabs_Promo a:link,
	.box_Tabs .list_Tabs li.list_Tabs_Promo a:visited{font-size:21px;}

	.box_Tabs .list_Tabs .li_Last.list_Tabs_Promo{width:142px; margin-right:7px}
	.box_Tabs .list_Tabs .li_Last.list_Tabs_Promo a.active:before{width:140px;}

	.box_Lightbox .box_Content.box_Content_Promo{ width: 80%; max-width: 70%; margin-left: -35%; top: 18%;}
/*==========================================================================
	TARIFF PAGE
 ==========================================================================*/
.box_Title{width: 100%; margin: 0px 0px 20px 0px;}
.box_Title .tit_Title{width: 100%;}

	.box_TabPlans section #PlanFeatures li strong.small{font-size: 18px;}

/* ----------- box Tab Plans */
.box_TabPlans{width: 100%; margin: 0px 0px 0px 0px;}
	.box_TabPlans section{width: 354px;}
	.box_TabPlans section.device{width: 718px;}

.box_TabPlans section.x2{width: 100%;}
.box_TabPlans section.client{width: 100%;}

/*==========================================================================
	LISTA TARIFFE
 ==========================================================================*/

/* ----------- box Tariffa */
.box_Main .list_Plans ul li .box_PlanDetails{padding: 0px 0px 0px 200px;}
	.box_Main .list_Plans ul li .box_PlanDetails h2 a{width: 170px;}
	.box_Main .list_Plans ul li .box_PlanDetails h2 a:hover{width: 185px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature{max-width: 105px;padding:10px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature strong{font-size:18px;}
	.box_Main .list_Plans ul li .box_PlanDetails .box_feature.oldPrice .txt_Strike:before{left: 25%;}

/*==========================================================================
	PAGINA GENERICA
 ==========================================================================*/
.pag_generica .box_FreeHtml.txtBox_cms img{max-width: 100%; margin: 0px; padding: 0px;}
.pag_generica .box_FreeHtml .fRight{width: 100%; margin: 0px 0px 20px 0px;}
.pag_generica .box_FreeHtml .fLeft{width: 100%; margin: 0px 0px 20px 0px;}

/*==========================================================================
	MODULI GENERICA
 ==========================================================================*/


.pag_generica .box_FreeHtml .imgLeft img{float: left; margin: 0px 20px 20px 0px;}

.pag_generica .box_FreeHtml .imgRight img{float: right; margin: 0px 0px 0px 20px;}



/*==========================================================================
	LISTA PRODOTTI
 ==========================================================================*/
/* ----------- box Controls */
.box_Fieldset_Medium{width:460px;margin:0 auto;}
.box_Fieldset_Small{width:230px;float:left;}
#radiobox1{margin-left:134px;}

/* ----------- box Product */
.box_Content .list_Products .box_Product {margin:20px 5px 40px 4px;}
.list .box_Product .box_Left{width:150px;}
.list .box_Product .box_Right{width:518px;margin-left:20px;}

.box_FinalPrice ul.list_Final li{display:inline-block;width: 100%; margin: 10px 0px 10px 0px;}
.box_FinalPrice ul.list_Final li h3{width: 100%;margin: 0px 0px 12px 0px;}

/*==========================================================================
	ESTERO
 ==========================================================================*/

.box_Country{padding: 0px 60px 0px 0px;height:204px;}
.box_Country:after{right: -140px;}
.box_Country ul.list_Options{width: 231px;}
.box_Country ul.list_Options li{width: 230px;height:100px;}
.box_Country ul.list_Options li a{width: 230px;height:100px;}

.box_Country .box_SelectCountry{height:70px;width: 400px;padding-left:60px;position:relative;}
.box_Country .box_SelectCountry .box_select {width: 182px;}
.box_Country .box_SelectCountry .box_select + .box_select  {margin: 0px 0px 0px 16px!important;}
.box_Country .box_SelectCountry .box_select select{width: 220px;}
.box_Country a.button{width:162px;}

	.box_Country .box_SelectCountry .box_select#divCountries{width: 260px; margin: 10px 0px 0px 0px!important;}
	.box_Country .box_SelectCountry .box_select#divCountries select{width: 288px;}

	.box_SelectType{margin-left: 310px;}

	.box_Country .box_SelectCountry button{top: 40px!important; right: 10px!important; float: right;width: 60px;height: 30px; z-index: 100;text-indent: -9000px;overflow: hidden;margin: 30px 0px 0px 35px;padding: 0px 0px 0px 0px;border: 1px solid #bcbcbc;background: #cdcdcd;cursor: pointer;  border-radius: 2px;outline:0;}
	.box_Country .box_SelectCountry button:before{width: 58px;}


/* ----------- Faq Estero*/
.box_miniFaq  ~ .list_Banner{float:right;margin-bottom:40px;}
.box_miniFaq  ~ .list_Banner .li_First {margin-right:0;width:230px;}
.box_miniFaq  ~ .list_Banner .li_Last {display:none;}

/* ----------- Info*/
.box_InfoEstero > ul li{margin: 0px 0px 0px 20px;}
.box_InfoEstero > ul li a{font-size: 20px;margin-right:20px;}

/* ----------- Box Dati */
.box_InfoEstero > ul > li .box_Dati{width: 728px;}
.box_InfoEstero > ul > li.selected .box_Dati{display: block;}
.box_InfoEstero > ul > li .box_Dati table tr td{padding:20px 10px 20px 10px;font-size:15px;line-height:20px;}
.box_InfoEstero > ul > li .box_Dati table tr.tit td{padding:10px 10px 10px 10px;}
.box_InfoEstero > ul > li .box_Dati table tr td span{display: block; width: 100%;}
.box_InfoEstero > ul > li .box_Dati .option span {margin: 0 0 2px 0;}
.box_InfoEstero > ul > li .box_Dati .btn_Note{display:none;}

/* ----------- Box Dati - Tab Resposive  */
.tab_Services td {max-width:100px;}
.tab_Responsive{display:table;}
.tab_Responsive thead{display:table-header-group;}
.tab_Responsive tbody{display:table-row-group;}
.tab_Responsive tfoot{display:table-footer-group;}
.tab_Responsive tr{display:table-row;}
.tab_Responsive td,.tab_Responsive th{display:table-cell;}
.tab_Responsive thead tr{position:static;}

.tab_Responsive td,.tab_Responsive th{position:static;float:none;width:auto;}
.tab_Responsive td:before,.tab_Responsive th:before{display:none;content:'';}
.tit_tab_Responsive{display:none;}

.tab_Responsive thead tr th {height:72px;vertical-align:middle; padding:10px 10px 10px 10px;}
.tab_Responsive thead tr th:first-child, .tab_Responsive thead tr th:last-child {width:40%;text-align:left;}
.tab_Responsive tbody th{vertical-align:middle;text-align:left;}
.box_InfoEstero .tab_Prices td{width: 30%;}
.box_InfoEstero .tab_Services tbody th{padding:20px 10px 20px 10px;}
.box_InfoEstero .tab_Services tbody td{width:5%;max-width:100px;}
.box_InfoEstero .tab_Zone tbody th{width:100px;border-bottom:1px solid #E0E0E0;background-color:#F4F4F4;text-align:center;}

/*==========================================================================
	TEASER
 ==========================================================================*/

.box_Teaser ul{width: 748px;}
.box_Teaser ul li.col1{width: 167px;}
.box_Teaser ul li.col2{width: 354px;}
.box_Teaser ul li.col2 img{height: 248px;}
.box_Teaser ul li.col3{width: 541px;}
.box_Teaser ul li.col4{width: 728px;}

/*==========================================================================
	FAQ
 ==========================================================================*/

.box_Faq ul{padding: 0px 0px 0px 0px;}

/*==========================================================================
	VISITA AGENTE
 ==========================================================================*/

.form_Agente ul{padding: 0px 74px 0px 74px!important;}

/*==========================================================================
	COMUNICATI STAMPA
 ==========================================================================*/

.box_Press ul li{width: 688px;}
.box_Press ul li h3 a{margin: 10px 0px 15px 22px;}
.box_Press ul li p{display: none;}
.box_Press ul li.highlight{width: 324px;height: 240px;margin: 4px 20px -4px 20px;border-bottom: 4px solid #8d8d8d;}
.box_Press ul li.highlight p{padding: 0px 22px 0px 22px;}

/*==========================================================================
	SEARCH
 ==========================================================================*/

.box_Search_Results ul li{width: 324px;height: 240px;margin: 4px 20px -4px 20px;}
.box_Search_Results ul li h3 a{margin: 10px 0px 15px 22px;}
.box_Search_Results ul li p{padding: 0px 22px 0px 22px;}

.box_Search_Results .box_Offerta .tit_Result,
.box_Search_Results .box_Offerta .txt_Result{float: left; width: 324px;}
.box_Search_Results .box_Assistenza .tit_Result,
.box_Search_Results .box_Assistenza .txt_Result{float: right; width: 324px;}


.box_Search_Results .box_Offerta .link_seeAll,
.box_Search_Results .box_Assistenza .link_seeAll{width: 324px; margin: 0px 0px 30px 0px;}
/*==========================================================================
	FOOTER
 ==========================================================================*/
.box_Footer .box_Container{width:748px; margin:0 auto;}
.box_Footer_Top{padding-top:10px;}
	.box_Footer_Top .box_FooterMenu{/*width:125px;larghezza quando sono 5 box*/width:168px;}
	.box_Footer_Top .box_FooterMenu .tit_Title a:link,.box_Footer_Top .box_FooterMenu .tit_Title a:visited{font-size:15px;}

	.box_Footer_Bottom .txt_Copright{float:left;}
	.box_Footer_Bottom .list_Menu_Cross{float:right;}

/*==========================================================================
	GSA
 ==========================================================================*/
.box_Result_Preview {width: 600px;right: 10%;top: 144px;}
.box_Result_Preview .box_Main{width: 600px;padding:20px;margin:0;}
.box_Result_Preview .box_Section,.box_Result_Preview .box_Section .box_Main{width: 270px; padding:0;}
.box_Result_Preview:after{left:370px;}
.box_Result_Preview:before{left:371px;}

.box_Search_Results ul li{width: 324px;height: 240px;margin: 4px 20px -4px 20px;}
.box_Search_Results .list_Result li .tit_Title,.box_Search_Results .list_Result li .txt_Abstract{width: 210px;}



/*==========================================================================
	3 ITALIA
 ==========================================================================*/

.list_Button li.li_Button{width: 229px;}
.list_Button li.li_Button a{width: 229px;}


/*==========================================================================
	COUNTDOWN
 ==========================================================================*/

.box_Countdown {display: block; float: left; width: 100%; margin-bottom: 50px;}


#container {display: block;float: left;width: 100%;}

#countdown_dashboard {float: left;display: block;width: 100%;}

.box_Countdown  .dash {
float: left;
text-alifn: center;
width: 33.33%;
height: 170px;
padding: 60px 0px 0px 36px;
position: relative;
}


/*==========================================================================
	PRODUCT LIST NEW
 ==========================================================================*/
.list_ProductsNew .box_Product {width: 344px;}


/*HEADERFIX */
@keyframes headfix{from{top:-50px}to{top:0px}}
@-webkit-keyframes headfix{from{top:-50px}to{top:0px}}
}
