/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.rev-slider-container{
	width:100%;
	position:relative;
	padding:0;
	margin-bottom: 30px;
}

.rev-slider{
	opacity: 0;
	width:100%;
	height: 500px;
	position:relative;
}

.rev-slider-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

