@font-face {
  font-family: 'Puritan';
  font-style: normal;
  font-weight: 400;
  src: local('Puritan Regular'), local('Puritan-Regular'), url(http://fonts.gstatic.com/s/puritan/v8/iSKzJuATi2QbcRz6wSY7rg.ttf) format('truetype');
}
