img#shadow {
	float: left;
	background: url(../images/shadow-1000x1000.gif) no-repeat right bottom;
	padding: 5px 10px 10px 5px;
}
.artista {
	width: 523px;
	height: 112px;
	background: url(../images/bg_artist.png) top left no-repeat;
	margin-left: 116px;
	margin-bottom: 20px;
	position: relative;
}
.artista h2, .artista .h2 {
	float: left;
	height: 19px;
	display: inline-block;
	background-color: #FFF;
	margin: 0px;
	padding: 0px 10px;
	padding-top: 5px;
	font-size: 14px;
}
.artista h2 a, .artista .h2 a {
	font-size: 12px;
	font-weight: normal;
}
.art_options {
	position: absolute;
	bottom: 3px;
	right: 40px;
}
.art_options a {
	float: left;
	margin-left: 30px;
}

.cloud {
	padding: 5px;
	margin-top: 20px;
}
.cloud h1, .cloud .h1 {
	height: auto;
	font-size: 12px;
	padding-left: 0px;
	display: inline;
}
.cloud a, .cloud a:visited{
	white-space:nowrap;
	position:relative;
	padding: 2px;
	color: #798992;
	font-style: normal;
	text-decoration: none;
}
.cloud a:hover {
	color: #a82927!important;
}
.box_search {
	width: 590px;
	height: 151px;
	background: url(../images/bg_box_search.png) top left no-repeat;
	position: relative;
	margin-bottom: 20px;
	padding-left: 28px;
	padding-right: 20px;
	padding-top: 20px;
}
.radio p {
	margin-bottom: 6px;
}
.radio p * {
	vertical-align: middle;
}
.choice {
	height: 31px;
	line-height: 31px;
	position: relative;
	background: url(../images/bg_opt.png) top left repeat-x;
	padding-left: 10px;
	z-index: 1000;
}
.choice a {
	margin-left: -10px;
	padding-left:10px;
	font-style:normal;
	color:#000;
	text-decoration:none;
	display:block;
	cursor:pointer;
}
.choice a:hover {
	font-style:normal;
	color:#FFF;
	background-color:#007cc3;
}
.choice img {
	position: absolute;
	right: 4px;
	bottom: 4px;
}
.choice .active, .choice .active:hover {
	color:#BBB !important;
}
#ch_inst, #ch_lev {
	width: 83px;
	overflow: hidden;
	margin-bottom: 20px;
}
#order, #filter, #order2, #filter2 {
	float: right;
	width: 80px;
	height: 25px;
	line-height: 31px;
}
.lista h2, .lista .h2 {
	padding-left: 25px;
	font-size: 16px;
	width: 300px;
	font-weight: normal;
	padding-bottom: 2px;
}
.chord h2, .chord .h2 {
	padding-left: 0px;
	width: auto;
	padding-bottom: 2px;
}
.compositores h2, .compositores .h2 {
	font-size: 14px;
}
.lista .itm, .lista h1, .lista .h1, .lista_album h1, .lista_album .h1, .lista_artista h1, .lista_artista .h1 {
	font-size: 18px;
	color: #000;
	padding-left: 25px;
	width: 300px;
	padding-top: 2px;
	font-weight: normal;
}
.lista h2, .lista .h2 a {
	color: #798992;
	font-style: normal;
	text-decoration: none;
}
.lista p.h2l a {
	color: #333;
	font-style: normal;
	text-decoration: none;
}
.chord h2 a, .chord .h2 a {
	color: #000;
}
.lista .itm a, .lista h1 a, .lista .h1 a, .lista_artista h1 a, .lista_artista .h1 a {
	color: #000;
	font-style: normal;
	text-decoration: none;
}
.types {
	float: right;
	margin-right: 15px;
	margin-top: 7px;
}
.types a, .types span {
	float: left;
	width: 19px;
	height: 19px;
	margin-left: 7px;
	background: top left no-repeat;
}
.lista_news, .lista_news_big {
	padding: 5px;
	padding-left: 25px;
	padding-right: 10px;
}
.lista_news {
	min-height: 33px;
}
.lista_news_big{
	min-height: 75px;
}
.lista_news h2, .lista_news .h2 {
	font-size: 12px;
}
.lista_news_big h2 {
	font-size: 14px;
	margin-top: 25px;
}
.lista_artista, .lista_album {
	border: 1px solid #d7d8d9;
	margin-bottom: 15px;
	background: url(../images/bg_lista.png) top left repeat-x;
	background-color: #f6f8f9;
	padding: 10px;
	font-size: 12px;
	text-align: left;
	min-height: 100px;
}
.lista_album .thumb,  .lista_artista .thumb, .lista_news .thumb, .lista_news_big .thumb{
	float: left;
	margin-right: 20px;
}
.lista_artista {
	min-height: 30px;
	margin-bottom: 5px;
} 
.lista_artista:hover {
	background: url(../images/bg_lista_over.png) top left repeat-x;
}
.lista_artista h1, .lista_artista .h1 {
	font-size: 16px;
	color: #000;
	width: 300px;
	font-weight: normal;
	padding: 0px;
	padding-bottom: 3px;
}
.lista_artista .thumb {
	margin-left: 5px;
	margin-right: 15px;
}
.lista_album h1, .lista_album .h1 {
	width: auto;
	font-style: normal;
	font-size: 16px;
}
.lista_album p {
	margin-top: 18px;
}
p.tracks a {
	color: #798992;
	font-style: normal;
	text-decoration: none;
}
p.tracks a:hover, h1 a:hover, .h1 a:hover, .alphabet a:hover {
	color: #a82927!important;
}
.stars {
	float: right;
}
.alphabet p * {
	vertical-align: middle;
}
.alphabet p {
	margin-bottom: 7px;
}
.alphabet img {
	margin-right: 5px;
}
.alphabet a {
	font-style: normal;
	color: #000;
	text-decoration: none;
}

#rel_leg {
	text-align: center;
	padding-top: 4px;
	font-size: 13px;
	clear: both;
}
.aba_results {
	background:url(../images/bg_aba_results.png) top left no-repeat;
	width: 180px;
	text-align: center;
	display: inline-block;
	height: 40px;
	line-height: 35px;
	margin-right: 5px;
}
.aba_results:hover {
	background:url(../images/bg_aba_results_over.png) top left no-repeat;
}
.key {
	background-color: #B3D8EF;
	padding: 2px;
	display: inline-block;
}
/* ícones */
a.tb {
	background-image:url(../images/icons/peqbaixo.png);
}
a.td {
	background-image:url(../images/icons/peqbateria.png);
}
a.ti {
	background-image:url(../images/icons/peqcavaco.png);
}
a.ta {
	background-image:url(../images/icons/peqcifra.png);
}
a.te {
	background-image:url(../images/icons/peqeasy.png);
}
a.tf {
	background-image:url(../images/icons/peqflauta.png);
}
a.th {
	background-image:url(../images/icons/peqgaita.png);
}
a.tt {
	background-image:url(../images/icons/peqtab.png);
}
a.tk {
	background-image:url(../images/icons/peqteclado.png);
}
a.tv {
	background-image:url(../images/icons/peqvideo.png);
}
a.tu {
	background-image:url(../images/icons/peqcavaco.png);
}

a.tb:hover {
	background-image:url(../images/icons/hover/peqbaixo.png);
}
a.td:hover {
	background-image:url(../images/icons/hover/peqbateria.png);
}
a.ti:hover {
	background-image:url(../images/icons/hover/peqcavaco.png);
}
a.ta:hover {
	background-image:url(../images/icons/hover/peqcifra.png);
}
a.te:hover {
	background-image:url(../images/icons/hover/peqeasy.png);
}
a.tf:hover {
	background-image:url(../images/icons/hover/peqflauta.png);
}
a.th:hover {
	background-image:url(../images/icons/hover/peqgaita.png);
}
a.tt:hover {
	background-image:url(../images/icons/hover/peqtab.png);
}
a.tk:hover {
	background-image:url(../images/icons/hover/peqteclado.png);
}
a.tv:hover {
	background-image:url(../images/icons/hover/peqvideo.png);
}
a.tu:hover {
	background-image:url(../images/icons/hover/peqcavaco.png);
}

span.tb2 {
	background-image:url(../images/icons/off/peqbaixo.png);
}
span.td2 {
	background-image:url(../images/icons/off/peqbateria.png);
}
span.ti2 {
	background-image:url(../images/icons/off/peqcavaco.png);
}
span.ta2 {
	background-image:url(../images/icons/off/peqcifra.png);
}
span.te2 {
	background-image:url(../images/icons/off/peqeasy.png);
}
span.tf2 {
	background-image:url(../images/icons/off/peqflauta.png);
}
span.th2 {
	background-image:url(../images/icons/off/peqgaita.png);
}
span.tt2 {
	background-image:url(../images/icons/off/peqtab.png);
}
span.tk2 {
	background-image:url(../images/icons/off/peqteclado.png);
}
span.tv2 {
	background-image:url(../images/icons/off/peqvideo.png);
}
span.tu2 {
	background-image:url(../images/icons/off/peqcavaco.png);
}
a.tv2 {
	background-image:url(../images/icons/off/peqvideo.png);
}