body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.content {
    margin: 25px auto 0;
	position: relative;
    width: 650px;
}

h1 {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0 0;
}

h1 img {
	margin-right: 15px;
	vertical-align: middle;
}

p {
    margin-bottom: 20px;
    margin-top: 15px;
}

#ads {
    background-color: #F4F9FC;
}

#adsby {
	color: #999999;
	font-size: 11px;
	position: absolute;
	right: 10px;
	text-decoration: none;
	margin-top: 15px;
	z-index: 1000;
}

.form-abuse {
	margin-bottom: 20px;
}

.form-abuse p {
	margin-bottom: 15px;
    margin-top: 0px;
}

.form-abuse .error {
	color: #dd0000;
}

.form-abuse .reload {
	font-size: 11px;
	text-decoration: none;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input {
	font-family: inherit;
	font-size: inherit;
	padding: 3px;
}

.control-group {
	margin-bottom: 5px;
}

.control-label {
	padding-top: 5px;
}

.small {
	font-size: 11px;
}
.afs .label {
    display: none;
}
.afs-loaded .label {
    display: block;
    color: #777;
    font-size: 11px;
    line-height: 11px;
    padding-left: 4px;
}
.afs .label a {
  color: #777;
  text-decoration: none;
}
