
#quicklink_container {
    position: fixed;
    bottom: 0px;
    right: 50%;
    z-index: 99;
    margin-right: -549px;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.15);

/*    position: absolute;
    right: 50%;
    top: 0;
    margin-right: -535px;

  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -ms-transition: -ms-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;*/
}
#quicklink_container.active #quicklink_container {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
#quicklink_container #quicklink_container_bg {
    background-color: #f96519;
    width: 205px;
    height: 32px;
    position: relative;
}
#quicklink_container #quicklink_container_bg:after {
content: " ";
    border-bottom: 8px solid rgb(37,37,37);
    border-right: 14px solid rgba(0,0,0,0);
    right: 0px;
    top: -8px;
    z-index: 1;
    position: absolute;
}
#quicklink_container #quicklink {
    width: 205px;
    height: 32px;
    background-color: #f96519;
    font-family: tahoma;

    z-index: 18;

    position: absolute;
    top: 0px;
}
#quicklink_container #quicklink #goTop {
    color: #ffe8cd;
    /*padding: 5px;*/
    width: 56px;
    height: 32px;
    position: relative;
    float: left;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
}
#quicklink_container #quicklink #goBottom {
    color: #ffe8cd;
    /*padding: 5px;*/
    width: 56px;
    height: 32px;
    position: relative;
    float: left;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
}
#quicklink_container #quicklink #goTop:after, #quicklink_container #quicklink #goBottom:after {
    content: " ";
    background: #fd9864;
    position: absolute;
    width: 1px;
    height: 25px;
    top: 4px;
    right: 0px;
}
#quicklink_container #quicklink #goTop:hover, #quicklink_container #quicklink #goBottom:hover, #quicklink_container #quicklink #shortcut:hover {
    background: #ee5304;
}

/*#quicklink_container.active #quicklink #goTop:before {
    content: " ";
    background: #e4970a;
    position: absolute;
    width: 74px;
    height: 1px;
    bottom: 1px;
    left: 0px;
}
#quicklink_container.active #quicklink #goTop:after {
    content: " ";
    background: #f7b743;
    position: absolute;
    width: 74px;
    height: 1px;
    bottom: 0px;
    left: 0px;
}*/
/*#quicklink_container #quicklink #goBottom:before {
    content: " ";
    background: #e4970a;
    position: absolute;
    width: 1px;
    height: 29px;
    top: 0px;
    right: 0px;
}
#quicklink_container #quicklink #goBottom:after {
    content: " ";
    background: #f7b743;
    position: absolute;
    width: 1px;
    height: 29px;
    top: 0px;
    right: -1px;
}*/
/*#quicklink_container.active #quicklink #goBottom:before {
    height: 29px;
}
#quicklink_container.active #quicklink #goBottom:after {
    height: 29px;
}*/
#quicklink_container #quicklink #shortcut {
    position: relative;
    float: left;
    width: 93px;
    height: 32px;
    color: #ffe8cd;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    margin-left: -3px;
}
#quicklink_container #quicklink #shortcut span {
    position: absolute;
    font-size: 15px;
    top: 7px;
    left: 11px;
}
#quicklink_container #quicklink #shortcut img {
    position: relative;
    top: 5px;
}
#quicklink_container #quicklink .closed {
    position: absolute;
    top: 9px;
    right: -15px;
    z-index: 1;
    background-color: #252525;
    width: 15px;
    height: 15px;
}
#quicklink_container #quicklink .closed:hover {
    cursor: pointer;
}
#quicklink_container #quicklink .closed i.fa {
    color: #ffe8cd;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 12px;
}
#quicklink_container #quicklink #goTop:hover, #quicklink_container #quicklink #goBottom:hover, #quicklink_container #shortcut:hover {
    cursor: pointer;
}
#quicklink_container #quicklink #goTop:hover {
    color: #fff;
}
#quicklink_container #quicklink #goBottom:hover {
    color: #fff;
}
#quicklink_container #quicklink #goTop .fa {
    position: absolute;
    top: 2px;
    /*text-shadow: 2px 1px 5px rgba(0,0,0,0.5);*/
    right: 10px;
    font-size: 13px;
}
#quicklink_container #quicklink #goTop span {
    position: absolute;
    font-family: tahoma;
    font-size: 10px;
    top: 14px;
    right: 4px;
}
#quicklink_container #quicklink #goBottom .fa {
    position: absolute;
    top: 2px;
    /*text-shadow: 2px 1px 5px rgba(0,0,0,0.5);*/
    left: 11px;
    font-size: 13px;
}
#quicklink_container #quicklink #goBottom span {
    position: absolute;
    font-family: tahoma;
    font-size: 10px;
    top: 14px;
    left: 3px;
}
#quicklink_container #shortcut_menu {
    width: 147px;
    height: auto;

    z-index: 19;

    position: absolute;
    top: 2px;
    right: 5px;

    box-shadow: 3px 3px 0px rgba(86, 71, 71, 0.2);

    -webkit-transform: translateY(-390px);
    -moz-transformhttps://www.dek-d.com/board/entertainment/: translateY(-390px);
    -ms-transform: translateY(-390px);
    -o-transform: translateY(-390px);
    transform: translateY(-390px);

  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -ms-transition: -ms-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;

}
#quicklink_container.active #shortcut_menu {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
#quicklink_container #shortcut_menu span.main_color {
    color: #acacac;
    font-family: tahoma;
    font-weight: bold;
}
#quicklink_container #shortcut_menu i.main_color_icon {
    color: #acacac;
}

/*
#quicklink_container #shortcut_menu:before {
    content: " ";
    background: #e1a001;
    position: absolute;
    width: 76px;
    height: 1px;
    top: 1px;
    left: 0px;
}
#quicklink_container #shortcut_menu:after {
    content: " ";
    background: #fdcb4f;
    position: absolute;
    width: 76px;
    height: 1px;
    top: 0px;
    left: 0px;
}
*/
#quicklink_container #menu_container {
    height: 305px;
    width: 157px;
/*    overflow: hidden;*/
    position: absolute;
    right: -4px;
    top: -336px;
    z-index: 20;

    display: none;

/*    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);

    transform-origin: top center;

  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -ms-transition: -ms-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;*/
}
#quicklink_container #menu_container:after {
    content: " ";
    border-bottom: 8px solid rgb(37,37,37);
    border-right: 14px solid rgba(0,0,0,0);
    right: 4px;
    top: -6px;
    z-index: 5;
    position: absolute;
}
#quicklink_container.active #menu_container {
    display: block;
/*    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);*/
}
#quicklink_container ul#shortcut_menu li {
    font-size: 15px;
    color: #636363;
    line-height: 25px;
    width: 138px;
    height: 25px;
    border: 0px;
    text-align: left;
    padding-left: 9px;
    font-family: tahoma;
    font-size: 13px
}
#quicklink_container ul#shortcut_menu li:nth-child(even) {
    background-color: #fff;
}
#quicklink_container ul#shortcut_menu li:nth-child(odd) {
    background-color: #f8f8f8;
}
#quicklink_container ul#shortcut_menu li:hover {
/*    background-color: #c57b0a;*/
    color: #f96519;
    cursor: pointer;
}
#quicklink_container ul#shortcut_menu li:hover .main_color {
    color: #f96519;
}
/*
#quicklink_container ul#shortcut_menu li:first-child:hover {
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
*/
#quicklink_container #shortcut_menu a:hover {
    color: #fff;
}

/* main-nav เกาะข้างบน */
/*#main-nav.set-fix #quicklink_container:after {
    content: " ";
    background: #fff;
    position: absolute;
    width: 157px;
    height: 2px;
    bottom: 0px;
    left: 0px;
    z-index: 18;
}*/
/*#main-nav.set-fix #quicklink_container #quicklink #goBottom:before {
    height: 32px;
}
#main-nav.set-fix #quicklink_container #quicklink #goBottom:after {
    height: 32px;
}
#main-nav.set-fix #quicklink_container #quicklink_container_bg {
    height: 35px;
}
#main-nav.set-fix #quicklink_container #quicklink {
    height: 35px;
}
#main-nav.set-fix #quicklink_container #quicklink #goTop {
    height: 35px;
}
#main-nav.set-fix #quicklink_container #quicklink #goBottom {
    height: 35px;
}
#main-nav.set-fix #quicklink_container #quicklink #goTop .fa {
    top: 4px;
}
#main-nav.set-fix #quicklink_container #quicklink #goTop span {
    top: 16px;
}
#main-nav.set-fix #quicklink_container #quicklink #goBottom .fa {
    top: 4px;
}
#main-nav.set-fix #quicklink_container #quicklink #goBottom span {
    top: 16px;
}
#main-nav.set-fix #quicklink_container #quicklink #shortcut span {
    top: 9px;
}
#main-nav.set-fix #quicklink_container #menu_container {
    top: 33px;
}
#main-nav.set-fix #quicklink_container #shortcut_menu {
    top: 0px;
}
#main-nav.set-fix #quicklink_container.active #quicklink #goTop:before {
    bottom: 3px;
}
#main-nav.set-fix #quicklink_container.active #quicklink #goTop:after {
    bottom: 2px;
}*/

/*
#quicklink_container #menu_container.active:before {
    content: " ";
    background: #e4970a;
    position: absolute;
    width: 74px;
    height: 1px;
    top: 3px;
    left: 0px;
}
#quicklink_container #menu_container.active:after {
    content: " ";
    background: #f7b743;
    position: absolute;
    width: 74px;
    height: 1px;
    top: 2px;
    left: 0px;
}
*/
/*
#main-nav.set-fix #quicklink_container #quicklink #goTop:before {
    content: " ";
    background: #e1a001;
    position: absolute;
    width: 74px;
    height: 1px;
    bottom: 3px;
    left: 0px;
}
#main-nav.set-fix #quicklink_container #quicklink #goTop:after {
    content: " ";
    background: #fdcb4f;
    position: absolute;
    width: 74px;
    height: 1px;
    bottom: 2px;
    left: 0px;
}
*/