.admissionTeamOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);

    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.admissionTeamOverlay.active {
    z-index: 10000;
    opacity: 1;
    filter: alpha(opacity=100);
}
.admissionTeamOverlayOpenBody {
    overflow: hidden;
}

.admissionTeamPopup {
    position: fixed;
    top: calc(50% - 295px);
    left: calc(50% - 355px);
    /*transform: translate(-50%, -50%);*/
    width: 580px;
    height: 501.5px;
    border: 5px solid #464646;
    border-radius: 15px;
    background-color: #f5f5f5;
    padding: 40px 60px;

    font-family: tahoma;
    font-size: 13px;
    color: #636363;
    text-align: center;

    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.admissionTeamPopup.active {
    z-index: 10001;
    opacity: 1;
    filter: alpha(opacity=100);
}
.admissionTeamPopup a#close_btn {
    display: block;
    width: 27px;
    height: 27px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px #FFF;
    background: url(/admission/direct2015/images/ic_x.png) no-repeat center center #000;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 5;
}
.admissionTeamPopup a#close_btn:hover {
    background-color: #f37a01;
}
.admissionTeamPopup h1 {
    font-family: sukhumvitlight;
    font-size: 38px;
    color: #f37a01;
}
.admissionTeamPopup .teamname {
    color: #aaa;
    font-size: 14px;
    line-height: 10px;
}
.admissionTeamPopup hr {
    margin-top: 30px;
    border: 0;
    height: 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #fff;
}
.admissionTeamPopup .team {
    display: inline-block;
    margin-top: 15px;
}
.admissionTeamPopup .team:not(.first) {
    margin-left: 18px;
}
.admissionTeamPopup .team a.linkteam {
    position: relative;
}
.admissionTeamPopup .team a.linkteam.notwitter:hover {
    cursor: default;
}
.admissionTeamPopup .team a.linkteam img {
    width: 127px;
    height: 137px;
}
.admissionTeamPopup .team a.linkteam:not(.notwitter):hover img {
    -ms-transform: translateY(5px); /* IE 9 */
    -webkit-transform: translateY(5px); /* Safari */
    transform: translateY(5px);
}
.admissionTeamPopup .team a.linkteam:before {
    content: " ";
    position: absolute;
    left: 6px;
    top: -116px;
    width: 115px;
    height: 119px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    z-index: -1;
}
.admissionTeamPopup .team a.linkteam:after {
    content: " ";
    background: #ddd;
    position: absolute;
    z-index: -1;
    width: 16px;
    height: 16px;
    top: -6px;
    left: 56px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.admissionTeamPopup .team a.linkteam:not(.notwitter):hover:before {
    content: none;
}
.admissionTeamPopup .team a.linkteam:not(.notwitter):hover:after {
    content: none;
}
.admissionTeamPopup .team .name {
    color: #f37a01;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}
.admissionTeamPopup .team .desc {
    color: #acacac;
    font-size: 11px;
    line-height: 14px;
}
.admissionTeamPopup .team .twitter-button {
    background-color: #00bff3;
    color: #fff;
    padding: 1px 15px 3px 15px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.admissionTeamPopup .team .twitter-button:hover {
    background-color: #0192ba;
}

/* responsive */
@media screen and (max-width: 767px) {

    .admissionTeamPopup {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 85%;
        height: auto;
        border: 0px;
        border-radius: 15px;
        padding: 8px;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .admissionTeamPopup .team .twitter-button {
        padding: 1px 8px 3px 8px;
        font-size: 11px;
    }
    .admissionTeamPopup .teamname {
        font-size: 12px;
    }
    .admissionTeamPopup a#close_btn {
        right: -15px;
        top: -15px;
    }
    .admissionTeamPopup br {
        display: none;
    }
    .admissionTeamPopup hr {
        display: none;
    }
    .admissionTeamPopup h1 {
        font-size: 30px;
    }
    .admissionTeamPopup .team a.linkteam img {
        width: 70%;
        height: auto;
    }
    .team a.linkteam:before , .team a.linkteam:after {
        content: none !important;
    }
    .admissionTeamPopup .team a.linkteam:not(.notwitter):hover img {
        -ms-transform: translateY(0px); /* IE 9 */
        -webkit-transform: translateY(0px); /* Safari */
        transform: translateY(0px);
    }
    .admissionTeamPopup .team:not(.first) {
        margin-left: 0px;
    }
    .admissionTeamPopup .team {
        float: left;
        width: 25%;
        margin-top: 10px;
    }
    .admissionTeamPopup .team:nth-child(odd) {
        position: relative;
        text-align: center;
        right: 0px;
    }
    .admissionTeamPopup .team:nth-child(even) {
        position: relative;
        text-align: center;
        left: 0px;
    }
    .admissionTeamPopup .team:nth-child(5n-1) {
        margin-left: 12%;
    }
    .admissionTeamPopup .team a.linkteam img {
        width: 63px;
        height: 68px;
    }
    .admissionTeamPopup .team .name {
        font-weight: normal;
    }
    .admissionTeamPopup .team .desc {
        display: none;
    }
    .admissionTeamPopup .team:nth-child(odd) .name {
        position: relative;
        right: 0px;
        top: -5px;
    }
    .admissionTeamPopup .team:nth-child(even) .name {
        position: relative;
        left: 0px;
        top: -5px;
    }
    .admissionTeamPopup .team:nth-child(odd) .twitter-button {
        position: relative;
        left: 1px;
    }
    .admissionTeamPopup .team:nth-child(even) .twitter-button {
        position: relative;
        right: 1px;
    }

}

@media screen and (max-width: 320px) {
    .admissionTeamPopup .team {
        width: 50%;
        margin-top: 5px;
    }
    .admissionTeamPopup .team:nth-child(odd) {
        text-align: right;
        right: 20px;
    }
    .admissionTeamPopup .team:nth-child(even) {
        text-align: left;
        left: 20px;
    }
    .admissionTeamPopup .team:nth-child(odd) .name {
        right: 15px;
    }
    .admissionTeamPopup .team:nth-child(even) .name {
        left: 15px;
    }
    .admissionTeamPopup a#close_btn {
        right: -5px;
        top: -5px;
    }
    .admissionTeamPopup .team:nth-child(5n-1) {
        margin-left: 0px;
    }
}
