.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);

    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.overlay.active {
    z-index: 10000;
    opacity: 1;
    filter: alpha(opacity=100);
}
.open_overlay {
    overflow: hidden;
}
.dd2015Popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 550px;
    height: auto;
    border: 5px solid #464646;
    border-radius: 15px;
    background-color: #FFF;
    padding: 10px 20px !important;

    font-family: tahoma;
    font-size: 13px;
    color: #636363;
    text-align: center;

    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;

  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dd2015Popup.active {
    z-index: 10001;
    opacity: 1;
    filter: alpha(opacity=100);
}
.dd2015Popup h1 {
    font-family: sukhumvitlight;
    font-size: 36px;
    line-height: 55px;
    margin: 0 auto;
    font-weight: normal;
    color: #f37a01;
}
.dd2015Popup .content a {
    color: #f37a01;
}
.dd2015Popup .main-button-gray {
    background-color: #ebebeb;
    border: solid 1px #ccc;
    color: #636363;
    text-align: center;
    font-family: tahoma;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 0px;
    height: 14px;
    line-height: 14px;
    float: left;
    border-right: 0px;
}
.dd2015Popup .main-button-gray {
    width: 100%;
    height: 35px;
    margin: 17px 0px 8px 0px;
    border-right:1px solid #CCC;
}
.dd2015Popup .main-button-gray:hover {
    border: 1px solid #f96519;
    background-color: #f96519;
    color: #fff;
}
.dd2015Popup .main-button-gray:hover {
    border-right:0px;
}

/* hotsocial */
.dd2015Popup .content ul.hotsocial-list h1, .dd2015Popup ul.list h1 {
    font-family: tahoma;
    font-size: 15px;
    line-height: 15px;
    margin: 0 auto;
    font-weight: normal;
    text-align: left;
}
.dd2015Popup .content ul.hotsocial-list li {
    border-bottom: 1px solid #f2f2f2;
}
.dd2015Popup .content ul.hotsocial-list li:nth-child(6) {
  margin-top: 17px;
}
.dd2015Popup .content ul.hotsocial-list li span.set-text {
    font-family: tahoma;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 425px;
    color: #555;
}
.dd2015Popup .content ul.hotsocial-list li a, .dd2015Popup ul.list li a {
    font-size: 13px;
    color: #7d7d7d;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    padding: 5px 10px;
}
.dd2015Popup .content ul.hotsocial-list li a:visited {
    color: #725546;
}
.dd2015Popup .content ul.hotsocial-list li .share {
    color: #acacac;
    position: absolute;
    left: 90%;
    top: 5px;
    font-size: 11px;
}
.dd2015Popup ul.list li .view {
    color: #acacac;
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 11px;
}
.dd2015Popup .content ul.hotsocial-list li span.set-text .count {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a1a1a1;
    float: left;
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 14px;
    margin-right: 7px;
    position: relative;
    top: 2px;
}
.dd2015Popup .content ul.hotsocial-list li:hover span.set-text .count {
    background-color: #636363;
}
.dd2015Popup .content ul.hotsocial-list li:hover , .dd2015Popup ul.list li:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}
.dd2015Popup .content ul.hotsocial-list li:hover .share {
    color: #f37a01;
}

/* list */
.dd2015Popup ul.list li {
    position: relative;
    padding-left: 15px !important;
}
 .dd2015Popup ul.list li span.set-text {
    font-family: tahoma;
    font-size: 15px;
    line-height: 23px;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 400px;
    color: #555;
    height: 23px;
}
.dd2015Popup ul.list li article::before {
    content: "•";
    font-size: 140%;
    position: absolute;
    left: 8px;
    top: 5px;
    color: rgb(204, 204, 204);
}
.dd2015Popup ul.list li .viewcm .view {
    color: #acacac;
    position: absolute;
    right: 7px;
    top: 10px;
    font-size: 11px;
    line-height: 11px;
    font-family: tahoma;
}
.dd2015Popup ul.list li .view i.fa-eye {
    position: absolute;
    right: 43px;
}
.dd2015Popup ul.list li .view span {
    position: absolute;
    left: -40px;
}

.dd2015Popup ul.list li.flag {
  padding-left: 0px !important;
}
.dd2015Popup ul.list li.flag img {
  top: 2px;
  position: relative;
}
.dd2015Popup ul.list li.flag span.set-text {
    width: calc(100% - 80px) !important;
}
.dd2015Popup ul.list li.flag article::before {
  content: none;
}

.dd2015Popup .dd2015_popup {
  display: block !important;
}
.dd2015Popup br.clear {
  clear: both;
}

/*.dd2015Popup .content {
  max-height: 330px;
  overflow-y: auto;
}*/
.dd2015Popup #interest_board .category-tag {
  padding: 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95px;
  vertical-align: middle;
  display: inline-block;
}
.dd2015Popup #interest_board li span.set-text {
  width: 370px;
}
.dd2015Popup #interest_board, .dd2015Popup #interest_article {
  max-height: 395px;
  overflow-y: auto;
}
.dd2015Popup #interest_article .item {
  width: 152px;
  height: 166px;
}
.dd2015Popup #interest_article .item.hide {
  display: block;
}
.dd2015Popup #interest_article .item .cover {
  width: 150px;
}
.dd2015Popup #interest_article .item .desc {
  position: relative;
  top: -8px;
}
.dd2015Popup #interest_article .item .tag {
  bottom: 16px;
}

/*.dd2015Popup ul#scholarship_top_board.list li {
  padding-left: 0px !important;
}*/

/*.dd2015Popup .list h1 {
    font-family: tahoma;
    font-size: 15px;
    line-height: 15px;
    margin: 0 auto;
    font-weight: normal;
    text-align: left;
}*/

/* responsive */
@media screen and (max-width: 767px) {

    .dd2015Popup .hide-moible {
      display: none !important;
    }

    .dd2015Popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      width: 93vw;
      height: auto;
      border: 0px;
      border-radius: 5px;
      background-color: #FFF;
      padding: 0px !important;
      overflow: hidden;
      font-family: tahoma;
      font-size: 13px;
      color: #636363;
      text-align: center;
      z-index: 1;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: z-index 200ms step-end, opacity 200ms ease-in-out;
      -moz-transition: z-index 200ms step-end, opacity 200ms ease-in-out;
      -ms-transition: z-index 200ms step-end, opacity 200ms ease-in-out;
      -o-transition: z-index 200ms step-end, opacity 200ms ease-in-out;
      transition: z-index 200ms step-end, opacity 200ms ease-in-out;
      pointer-events: none;
    }

    .dd2015Popup.active {
      z-index: 10001;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition: z-index 200ms step-start, opacity 200ms ease-in-out;
      -moz-transition: z-index 200ms step-start, opacity 200ms ease-in-out;
      -ms-transition: z-index 200ms step-start, opacity 200ms ease-in-out;
      -o-transition: z-index 200ms step-start, opacity 200ms ease-in-out;
      transition: z-index 200ms step-start, opacity 200ms ease-in-out;
      pointer-events: auto;
    }

    .dd2015Popup h1 {
      font-family: sukhumvitlight;
      font-size: 26px;
      line-height: 32px;
      padding: 15px 10px 5px 10px;
    }

    .dd2015Popup .content {
      line-height: 18px;
      padding: 0px;
      font-size: 14px !important;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    .dd2015Popup .content ul.hotsocial-list li {
        border-bottom: 1px solid #f2f2f2;
        height: 32px;
        line-height: 22px;
    }

    .dd2015Popup .content ul.hotsocial-list li span.set-text {
      width: 98%;
      font-size: 15px;
      line-height: 20px;
    }

    .dd2015Popup .content ul li h1 {
      padding: 0px;
    }

    .dd2015Popup .content a {
      color: #f37a01;
    }

    .dd2015Popup .main-button-gray {
      width: 93%;
      margin: 17px 0px 10px 0px;
      height: 35px;
      border-right: 1px solid #CCC;
      float: none;
    }

    .dd2015Popup ul.list li span.set-text {
      width: calc(100% - 60px) !important;
    }

}
