#main-nav.set-fix {
    z-index: 9999;
    border-bottom: solid 2px #fff;
}
#main-nav ul li.active {
    background-color: #FFF;
}
#main-nav ul li.active:hover {
    background-color: #FFF;
    border-right: 1px solid #f37a01;
}
#main-nav ul li.active a {
    color: #f96519;
}
.allow-ads .ads-btn {
    color: #ccc;
}
#wrapper .stage-wrapper.main2015 {
	border-bottom: 0px;
	background-color: #FFF;
	position: relative;
}