br.clear {
  clear: both;
}
#footer {
    font-family: tahoma;

    width: 100%;
    background-color: #f8f8f8;
    /*box-shadow: inset 0px 50px 8px -48px rgba(0,0,0,0.3);*/
    padding: 25px 15px 15px 15px;
    color: #898989;

    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
    position: relative;
}
#footer:before {
    content: " ";
    left: 0px;
    top: -8px;
    position: absolute;
    width: 100%;
    height: 16px;
    background: #ebebeb;
    border-radius: 50%;
}
#footer a {
    color: #898989;
    display: block;
}
#footer a:hover {
    color: #FFF;
}
#footer a.agreement {
    display: inline-block;
    margin-left: 5px;
    text-decoration: none !important;
}
#footer a.agreement:hover {
    color: #f37a01;
    text-decoration: underline;
}
#footer br.rpbr {
    display: none;
}
#footer h2 {
    margin: 0;
    padding: 0;
}
#footer hr {
    border: 0px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    margin-top: 20px;
}
#footer .logo {
    position: relative;
    top: 20px;
}
#footer .logo .download {
    font-size: 11px;
    position: absolute;
    top: -3px;
    left: 0px;
}
#footer .logo .download:after {
    content: " ";
    background: #f37a01;
    position: absolute;
    width: 6px;
    height: 6px;
    bottom: -3px;
    left: 40px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#footer .logo .download a {
    background: #f37a01;
    color: #fff;
    padding: 2px 5px;
    border-radius: 15px;
    text-decoration: none;
}
#footer .logo .txt a {
    position: absolute;
    bottom: 6px;
    left: 30px;
    color: #898989;
    font-size: 12px;
    text-decoration: none;
}
#footer .footer-full-box {
    width: 360px;
}
#footer .footer-full-box.box-1 {
    width: 435px;
}
#footer .footer-full-box.box-2 {
    width: 295px;
}
#footer .footer-full-box a {
    color: #898989;
    float: left;
    width: 135px;
    height: 39px;
    margin-right: 5px;
    margin-bottom: 5px;
}
#footer .footer-full-box.problem a { 
    float: left;
    width: 121px;
    height: 77px;
}
#footer a:hover .footer-box {
    background: #f37a01;
    color: #FFF;
}
#footer .footer-full-box h2 {
    color: #f37a01;
    font-family: sukhumvitlight;
    font-size: 22px;
    line-height: 18px;
    font-weight: normal;
}
#footer .footer-box {
    background-color: #EEE;
    padding: 7px;
    width: 134px;
    text-align: left;
    font-size: 13px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 22px;
    position: relative;
    height: 39px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#footer .footer-box.right {
    margin-right: 0px;
}
#footer .footer-full-box.problem {
    width: auto;
}
#footer .footer-full-box.problem .footer-box {
    padding: 15px;
    width: 127px;
    text-align: center;
    height: 84px;
    font-size: 14px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#footer .footer-box .fa {
    font-size: 20px;
    position: relative;
    top: 3px;
}
#footer .footer-box .fa-mobile {
    font-size: 32px;
    position: absolute;
    left: 10px;
    top: 4px;
}
#footer .footer-box span {
    position: absolute;
    left: 30px;
    top: 9px;
}
#footer .footer-box .fa-wrench {
    font-size: 28px;
    margin-top: 0px;
    position: relative;
    display: block;
}
#footer .footer-box .fa-users {
    font-size: 17px;
}
#footer .footer-box .fa-plane {
    font-size: 22px;
}
#footer .footer-box .fa-cloud-download {
    font-size: 18px;
    top: 4px;
}
#footer .footer-full-box.problem .footer-box span {
    margin-left: 0px;
    left: 13px;
    top: auto;
    bottom: 6px;
}
#footer #copyright {
    text-align: center;
    font-size: 11px;
}
#footer .desktop_btn {
    width: 100%;
    padding: 10px;
    background-color: #959595;
    color: #FFF;
    border: 1px solid #898989;
    text-align: center;
    margin-top: 10px;
    font-family: sukhumvitlight;
    font-size: 20px;

    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 1px;
    display: none;
}
#footer .desktop_btn span {
    margin-left: 7px;
}