html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; }

article, aside, figure, footer, header, nav, section, details, summary { display: block; }

img { max-width: 100%; vertical-align: bottom; }

html { overflow-y: scroll; }

ul, ol { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

th { font-weight: bold; vertical-align: bottom; }

td { font-weight: normal; vertical-align: top; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input, input:focus { outline: none; -webkit-tap-highlight-color: transparent; }

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

select, input, textarea { font: 99% sans-serif; }

table { font-size: inherit; font: 100%; }

small { font-size: 85%; }

strong { font-weight: bold; }

td, td img { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

.clickable, label, input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }

button, input, select, textarea { margin: 0; }

button, input[type=button] { width: auto; overflow: visible; }

input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button { padding: 0; margin: 0; }

body { background-color: #f3f5f9; font: 12px/24px "Microsoft Yahei"; color: #868b97; }

.cl:before, .row:before, .cl:after, .row:after { content: ""; display: block; height: 0; overflow: hidden; }

.cl:after, .row:after { clear: both; }

.cl, .row { zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.tac { text-align: center; }

.tal { text-align: left; }

.tar { text-align: right; }

.vm { vertical-align: middle; }

.fw7 { font-weight: 700; }

.fw4 { font-weight: 400; }

.h10 { height: 10px; }

.h20 { height: 20px; }

.h1 { height: 1px; overflow: hidden; }

.bd1 { border: 1px solid #eceff7; }

.bgWhite { background-color: #FFF; }

.mt-md-20 { margin-top: 20px; }

.mb-md-20 { margin-bottom: 20px; }

.ml-md-20 { margin-left: 20px; }

.mr-md-20 { margin-right: 20px; }

.ml-md-lose20 { margin-left: -20px; }

.mt-md-lose20 { margin-top: -20px; }

.mb-md-lose20 { margin-bottom: -20px; }

.mr-md-lose20 { margin-right: -20px; }

.ml-md-0 { margin-left: 0; }

.mt-md-0 { margin-top: 0; }

.mb-md-0 { margin-bottom: 0; }

.mr-md-0 { margin-right: 0; }

.p_r { position: relative; }

.p_a { position: absolute; }

.pt-md-20 { padding-top: 20px; }

.pb-md-20 { padding-bottom: 20px; }

.pl-md-20 { padding-left: 20px; }

.pr-md-20 { padding-right: 20px; }

.text-metud { color: #868b97; }

.text-stress { color: #0098ee; }

.text-err { color: #fd4b83; }

.text-info { color: #0066cc; }

.text-black { color: #32353c; }

.text-success { color: #10c780; }

.a-info { color: #0066cc; }

a { color: #32353c; text-decoration: none; }
a:visited { color: #a5a5a5; }
a:hover { color: #0098ee; text-decoration: underline; }

.tag_green, .tag_blue, .tag_pink, .tag_black { display: inline-block; padding: 0 15px; border-style: solid; border-width: 1px; border-radius: 20px; height: 14px; line-height: 14px; font-family: Tahoma; text-decoration: none; vertical-align: middle; }
.tag_green:hover, .tag_blue:hover, .tag_pink:hover, .tag_black:hover { text-decoration: none; }

.tag_green { border-color: #10c780; color: #10c780; }
.tag_green:link { color: #10c780; }
.tag_green:visited { color: #10c780; }
.tag_green:hover { border-color: #11a96e; color: #11a96e; }

.tag_blue { border-color: #0098ee; color: #0098ee; }
.tag_blue:link { color: #0098ee; }
.tag_blue:visited { color: #0098ee; }
.tag_blue:hover { border-color: #3c62a3; color: #3c62a3; }

.tag_pink { border-color: #fd4b83; color: #fd4b83; }
.tag_pink:link { color: #fd4b83; }
.tag_pink:visited { color: #fd4b83; }
.tag_pink:hover { border-color: #e61959; color: #e61959; }

.tag_black { border-color: #868b97; color: #868b97; }
.tag_black:link { color: #868b97; }
.tag_black:visited { color: #868b97; }
.tag_black:hover { border-color: #32353c; color: #32353c; }

.tips_blue, .tips_pink { display: inline-block; margin-right: 20px; position: relative; height: 22px; color: #FFF; line-height: 22px; background: #0098ee; padding: 0 20px; }
.tips_blue b, .tips_pink b { display: block; position: absolute; right: -10px; top: 0; height: 22px; background: url(http://www.a9vg.com/css/images/tips_bg.png) 0 0 no-repeat; width: 10px; }
.tips_blue:link, .tips_pink:link { color: #FFF; }
.tips_blue:visited, .tips_pink:visited { color: #FFF; }
.tips_blue:hover, .tips_pink:hover { text-decoration: underline; color: #FFF; }

.tips_pink { background-color: #fd4b83; }
.tips_pink b { background-position: 0 -40px; }

.tab_container .tabMenu { border-bottom: 2px solid #0098ee; }
.tab_container .tabMenu li { width: 24.9999%; text-align: center; background-color: #e8f7ff; color: #3c62a3; font-family: Tahoma; height: 32px; line-height: 32px; }
.tab_container .tabMenu li a { color: #3c62a3; }
.tab_container .tabMenu .on { background-color: #0098ee; color: #FFF; }
.tab_container .tabMenu .on a { color: #FFF; }
.tab_container .tabBox .cnt { display: none; }

.col-md-span-1 { width: 60px; }

.col-md-span-2 { width: 140px; }

.col-md-span-3 { width: 220px; }

.col-md-span-4 { width: 300px; }

.col-md-span-5 { width: 380px; }

.col-md-span-6 { width: 460px; }

.col-md-span-7 { width: 540px; }

.col-md-span-8 { width: 620px; }

.col-md-span-9 { width: 700px; }

.col-md-span-10 { width: 780px; }

.col-md-span-11 { width: 860px; }

.col-md-span-12 { width: 940px; }

.col-md-span-13 { width: 1020px; }

.col-md-span-14 { width: 1100px; }

.col-md-span-15 { width: 1180px; }

.offset-row-md-1 { margin-left: 100px; }

.offset-row-md-2 { margin-left: 180px; }

.offset-row-md-3 { margin-left: 260px; }

.offset-row-md-4 { margin-left: 340px; }

.offset-row-md-5 { margin-left: 420px; }

.offset-row-md-6 { margin-left: 500px; }

.offset-row-md-7 { margin-left: 580px; }

.offset-row-md-8 { margin-left: 660px; }

.offset-row-md-9 { margin-left: 740px; }

.offset-row-md-10 { margin-left: 820px; }

.offset-row-md-11 { margin-left: 900px; }

.offset-row-md-12 { margin-left: 980px; }

.offset-row-md-13 { margin-left: 1060px; }

.offset-row-md-14 { margin-left: 1140px; }

.offset-row-md-15 { margin-left: 1220px; }

.row { min-height: 1px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; }

.container { width: 980px; margin-left: auto; margin-right: auto; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }

.col-md-span-1, .col-md-span-2, .col-md-span-3, .col-md-span-4, .col-md-span-5, .col-md-span-6, .col-md-span-7, .col-md-span-8, .col-md-span-9, .col-md-span-10, .col-md-span-11, .col-md-span-12, .col-md-span-13, .col-md-span-14, .col-md-span-15 { float: left; min-height: 1px; margin-left: 20px; }

.col-md-12 { width: 100%; }

.col-md-11 { width: 91.66666667%; }

.col-md-10 { width: 83.33333333%; }

.col-md-9 { width: 75%; *width: 74.7999999%; }

.col-md-8 { width: 66.66666667%; }

.col-md-7 { width: 58.33333333%; }

.col-md-6 { width: 50%; *width: 49.7999999%; }

.col-md-5 { width: 41.66666667%; }

.col-md-4 { width: 33.33333333%; }

.col-md-3 { width: 25%; *width: 24.7999999%; }

.col-md-2 { width: 16.66666667%; }

.col-md-1 { width: 8.33333333%; }

.col-md-pull-12 { right: 100%; }

.col-md-pull-11 { right: 91.66666667%; }

.col-md-pull-10 { right: 83.33333333%; }

.col-md-pull-9 { right: 75%; *right: 74.79%; }

.col-md-pull-8 { right: 66.66666667%; }

.col-md-pull-7 { right: 58.33333333%; }

.col-md-pull-6 { right: 50%; *right: 49.79%; }

.col-md-pull-5 { right: 41.66666667%; }

.col-md-pull-4 { right: 33.33333333%; }

.col-md-pull-3 { right: 25%; *right: 24.79%; }

.col-md-pull-2 { right: 16.66666667%; }

.col-md-pull-1 { right: 8.33333333%; }

.col-md-pull-0 { right: auto; }

.col-md-push-12 { left: 100%; }

.col-md-push-11 { left: 91.66666667%; }

.col-md-push-10 { left: 83.33333333%; }

.col-md-push-9 { left: 75%; *left: 74.79%; }

.col-md-push-8 { left: 66.66666667%; }

.col-md-push-7 { left: 58.33333333%; }

.col-md-push-6 { left: 50%; *left: 49.79%; }

.col-md-push-5 { left: 41.66666667%; }

.col-md-push-4 { left: 33.33333333%; }

.col-md-push-3 { left: 25%; *left: 24.79%; }

.col-md-push-2 { left: 16.66666667%; }

.col-md-push-1 { left: 8.33333333%; }

.col-md-push-0 { left: auto; }

.col-md-offset-12 { margin-left: 100%; }

.col-md-offset-11 { margin-left: 91.66666667%; }

.col-md-offset-10 { margin-left: 83.33333333%; }

.col-md-offset-9 { margin-left: 75%; *margin-left: 74.79%; }

.col-md-offset-8 { margin-left: 66.66666667%; }

.col-md-offset-7 { margin-left: 58.33333333%; }

.col-md-offset-6 { margin-left: 50%; *margin-left: 49.79%; }

.col-md-offset-5 { margin-left: 41.66666667%; }

.col-md-offset-4 { margin-left: 33.33333333%; }

.col-md-offset-3 { margin-left: 25%; *margin-left: 24.79%; }

.col-md-offset-2 { margin-left: 16.66666667%; }

.col-md-offset-1 { margin-left: 8.33333333%; }

.col-md-offset-0 { margin-left: 0; }

.col-md-hide { display: none; }

.col-md-show { display: block; }

.ml-md-lose20 { margin-left: -20px; }

.mt-md-lose20 { margin-top: -20px; }

.mb-md-lose20 { margin-bottom: -20px; }

.mr-md-lose20 { margin-right: -20px; }

.mt-md-20 { margin-top: 20px; }

.mt-md-30 { margin-top: 30px; }

.mt-md-5 { margin-top: 5px; }

.mb-md-20 { margin-bottom: 20px; }

.ml-md-20 { margin-left: 20px; }

.mr-md-20 { margin-right: 20px; }

.ml-md-0 { margin-left: 0; }

.mt-md-0 { margin-top: 0; }

.mb-md-0 { margin-bottom: 0; }

.mr-md-0 { margin-right: 0; }

.mt-md-10 { margin-top: 10px; }

.mb-md-10 { margin-bottom: 10px; }

.ml-md-10 { margin-left: 10px; }

.mr-md-10 { margin-right: 10px; }

.topBar { background: #373737; }
.topBar .container { height: 40px; line-height: 40px; color: #e2e5e9; overflow: hidden; }
.topBar img.vm { border-radius: 20px; width: 24px; height: 24px; margin-right: 10px; cursor: pointer; }
.topBar a { color: #FFF; }
.topBar a:hover { color: #78CEFD; text-decoration: none; }
.topBar .msg, .topBar .person, .topBar .quit { display: inline-block; background: url(http://www.a9vg.com/css/images/ico_msg.png) 50% 50% no-repeat; width: 22px; height: 22px; margin-left: 5px; vertical-align: middle; }
.topBar .msg:hover, .topBar .person:hover, .topBar .quit:hover { background-image: url(http://www.a9vg.com/css/images/ico_msg_hover.png); }
.topBar .person { background-image: url(http://www.a9vg.com/css/images/ico_person.png); background-position: 0 50%; }
.topBar .person:hover { background-image: url(http://www.a9vg.com/css/images/ico_person_hover.png); }
.topBar .quit { background-image: url(http://www.a9vg.com/css/images/ico_quit.png); }
.topBar .quit:hover { background-image: url(http://www.a9vg.com/css/images/ico_quit_hover.png); }
.topBar .topNav li { float: left; padding-right: 25px; }

.header { background-color: #FFF; height: 80px; line-height: 80px; border-bottom: 1px solid #eceff7; position: relative; z-index: 100; }
.header .logo { float: left; width: 119px; height: 80px; }
.header .logo a { display: inline-block; background: url(http://www.a9vg.com/css/images/logo.png) 0 50% no-repeat; width: 100%; height: 100%; vertical-align: middle; }
.header .nav { float: left; font-family: "Microsoft Yahei"; font-size: 18px; border-right: 1px solid #eceff7; padding: 0 15px; }
.header .nav li { position: relative; height: 80px; float: left; padding: 0 8px; }
.header .nav li .ico { display: inline-block; vertical-align: middle; margin-left: 5px; width: 9px; height: 5px; background: url(http://www.a9vg.com/css/images/ico_arrow_bottom.png) 0 0 no-repeat; }
.header .nav li a { display: block; height: 80px; padding: 0 5px; color: #32353c; }
.header .nav li a:hover { background: url(http://www.a9vg.com/css/images/head-nav-a.gif) 0 bottom repeat-x; text-decoration: none; }
.header .nav .on a:hover { background: none; }
.header .nav .dropList { position: absolute; font-size: 12px; background-color: #FFF; border: 1px solid #eceff7; border-bottom: 0 none transparent; top: 80px; left: 0px; width: 238px; z-index: 2; display: none; }
.header .nav .dropList a { display: block; width: 48.888%; background: url(http://www.a9vg.com/css/images/dot.gif) 10px 15px no-repeat; line-height: 36px; color: #868b97; height: 36px; overflow: hidden; text-indent: 30px; float: left; padding: 0; }
.header .nav .dropList a:hover { background: url(http://www.a9vg.com/css/images/dot.gif) 10px 15px no-repeat; color: #0098ee; text-decoration: underline; }
.header .nav .dropList .box { padding: 10px; border-bottom: 4px solid #0098ee; overflow: hidden; }
.header .search { float: right; margin-top: 20px; }
.header .search .box { border: 1px solid #eceff7; border-radius: 40px; height: 40px; line-height: 40px; padding: 0 20px; width: 160px; }
.header .search .box:hover { border-color: #95d9ff; box-shadow: 0 0 4px rgba(115, 215, 255, 0.22); }
.header .search .txt { border: 0 none transparent; height: 40px; line-height: 40px; color: #32353c; vertical-align: top; width: 110px; padding: 0; float: left; outline: none; }
.header .search .btn { border: 0 none transparent; float: right; height: 40px; width: 30px; background: url(http://www.a9vg.com/css/images/ico_search_btn.png) 50% 50% no-repeat; }
.header .search .btn:hover { background-image: url(http://www.a9vg.com/css/images/ico_search_btn_hover.png); }
.header .navbar-toggle { position: absolute; width: 100px; left: 0; top: 0; background: url(http://www.a9vg.com/css/images/navbar-toggle.png) 50% 50% no-repeat; cursor: pointer; height: 100%; display: none; z-index: 100; }
.header .navbar-toggle:after { content: ""; display: none; width: 10px; height: 10px; position: absolute; left: 0; right: 0; bottom: -6px; margin: 0 auto; background-color: #fafafa; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); z-index: 1000; }
.header .search-toggle { position: absolute; width: 80px; right: 0; top: 0; background: url(http://www.a9vg.com/css/images/search-toggle.png) 20px 50% no-repeat; cursor: pointer; height: 100%; display: none; }
.header .navbar-toggle.collapsed { background: url(http://www.a9vg.com/css/images/navbar-toggle1.png) 50% 50% no-repeat #0098ee; display: block; }
.header .navbar-toggle.collapsed::after { display: block; z-index: 100; }
.header .dropMenu { position: absolute; top: 80px; left: 0; background-color: #fafafa; border-top: 1px solid #0098ee; width: 100%; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19); display: none; z-index: 99; }
.header .dropMenu .container { height: auto; padding: 10px 0; }
.header .dropMenu li { font: 1.1rem/2rem "Microsoft Yahei"; margin-bottom: 5px; }
.header .dropMenu a { display: inline-block; margin-left: 10px; color: #32353c; border-radius: 50px; padding: 0 15px; }
.header .dropMenu a:hover { background-color: #0098ee; text-decoration: none; color: #FFF; }

[placeholder] { font-family: 'Microsoft yahei'; }

::-moz-placeholder { font-weight: 400; opacity: 1; color: #d4d5d9; font-family: "SimSun"; }

:-ms-input-placeholder { font-weight: 400; color: #d4d5d9; font-family: "SimSun"; }

::-webkit-input-placeholder { font-weight: 400; color: #d4d5d9; font-family: "SimSun"; }

.footer { margin-top: 20px; }
.footer .footer-info { background-color: #FFF; padding: 35px 0 20px; }
.footer .footer-info .qr dl { border: 1px solid #eceff7; width: 90%; max-width: 103px; padding: 8px 0 5px; }
.footer .footer-info .qr dl dt { margin: 0 5px; }
.footer .footer-info .qr .qr-box { float: left; width: 50%; *width: 49.999%; }
.footer h3 { font: 400 18px/40px "Microsoft Yahei"; color: #323d56; }
.footer .links { line-height: 30px; }
.footer .links a { color: #999da7; display: inline-block; margin-right: 20px; }
.footer .footer-b { background-color: #323d56; padding: 30px 0; color: #adb9d4; font-family: arial; }
.footer .footer-b a { color: #adb9d4; }
.footsec.bdr { border-top: 1px solid #445577; margin-top: 15px; padding-top: 20px; }
.footsec .rd_logo { margin-right: 10px; }
.footsec .rd_logo img { width: 86px; }
.footsec p a { margin-right: 10px; }

/* FOCUS NEWS */
.focus-box { padding-top: 30px; padding-bottom: 20px; }
.focus-box ul { position: relative; height: 0; width: 100%; padding-bottom: 35.6667%; }
.focus-box .box { display: none; position: absolute; width: 70%; height: 70%; top: 15%; left: 15%; overflow: hidden; cursor: pointer; }
.focus-box .tit { font: 24px/30px "Microsoft Yahei"; color: #ffffff; display: block; margin-bottom: 15px; cursor: pointer; }
.focus-box .des { color: #c9ced9; cursor: pointer; }
.focus-box .bg { width: 100%; height: 100%; background: url(http://www.a9vg.com/css/images/mask2.png); position: absolute; top: 0; left: 0; transition: all 0.3s; opacity: 0; cursor: pointer; }
.focus-box li { position: relative; float: left; top: 0; overflow: hidden; }
.focus-box li .hor { display: block; width: 100%; height: 2px; background-color: #f3f5f9; left: 0; bottom: 0; position: absolute; }
.focus-box li .por { display: block; width: 2px; height: 100%; background-color: #f3f5f9; right: 0; top: 0; position: absolute; }
.focus-box img { vertical-align: bottom; }
.focus-box .n1 { width: 62.295%; left: 0; }
.focus-box .n2 { width: 37.704%; }
.focus-box .n3 { width: 24.59%; }
.focus-box .n3 .tit { font-size: 18px; margin-top:15px;}
.focus-box .n4 { width: 13.114%; }
.focus-box .n4 .tit { font-size: 14px; }
.focus-box .n1 .tit { margin-top: 25%; }
.focus-box a { display: block; overflow: hidden; position: relative; text-decoration: none; }
.focus-box a:hover .box { display: block; }
.focus-box a:hover .bg { opacity: 1; }

.recAD { height: 90px; overflow: hidden; }
.recAD a { height: 100%; width: auto; display: block; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; overflow: hidden; }

.hotList { background-color: #fdfeff; border: 1px solid #eceff7; }
.hotList .m { position: relative; padding: 20px 20px 20px 110px; }
.hotList h3 { position: absolute; width: 90px; left: 20px; top: 20px; color: #32353c; font: 400 18px/20px "Microsoft Yahei"; }
.hotList a.fr { display: none; }
.hotList li { float: left; white-space: nowrap; margin-right: 20px; }
.hotList .h1 { background-color: #eceff7; }

.img-News dt { position: relative; width: 140px; color: #ddd; color: rgba(255, 255, 255, 0.9); }
.img-News dt img { width: 100%; }
.img-News dt a { color: rgba(255, 255, 255, 0.9); color: #dddddd \9; text-decoration: none; }
.img-News dt .belongs { display: inline-block; width: 50px; background-color: #000; text-align: center; }
.img-News dt .belongs:hover { color: #FFF; text-decoration: underline; }
.img-News dt .num { background: url(http://www.a9vg.com/css/images/ico_msg3.png) 0 50% no-repeat; display: inline-block; padding-left: 18px; padding-right: 10px; font-family: arial; }
.img-News dt .num:hover { color: #FFF; text-decoration: underline; background-image: url(http://www.a9vg.com/css/images/ico_msg4.png); }
.img-News dt .remark-box { display: none; position: absolute; background: url(http://www.a9vg.com/css/images/mask.png); width: 100%; bottom: 0; left: 0; height: 22px; line-height: 22px; }
.img-News dt:hover .remark-box, .img-News dt.on .remark-box { display: block; }
.img-News dd { margin-left: 150px; }
.img-News h3 { font-weight: 400; max-height: 48px; overflow: hidden; }

.img-News2 dt { position: relative; width: 140px; color: #d1d0d0; color: rgba(255, 255, 255, 0.8); }
.img-News2 dt img { width: 100%; }
.img-News2 dt:hover .remark-box { display: block; }
.img-News2 dt a { color: rgba(255, 255, 255, 0.8); color: #d1d0d0 \9; text-decoration: none; }
.img-News2 dt .belongs { display: inline-block; width: 50px; background-color: #000; text-align: center; }
.img-News2 dt .num { background: url(http://www.a9vg.com/css/images/ico_msg.png) 0 50% no-repeat; display: inline-block; padding-left: 18px; padding-right: 10px; font-family: arial; }
.img-News2 dt .remark-box { display: none; position: absolute; background: url(http://www.a9vg.com/css/images/mask.png); width: 100%; bottom: 0; left: 0; height: 22px; line-height: 22px; }
.img-News2 dt:hover .remark-box, .img-News2 dt.on .remark-box { display: block; }
.img-News2 dd { margin-left: 150px; }
.img-News2 h3 { font-weight: 400; }

.keywords { font-size: 12px; font-family: arial; max-height: 24px; overflow: hidden; }
.keywords a { margin-right: 5px; }

.txt-box { position: relative; }
.txt-box .txt-mask { position: absolute; overflow: hidden; width: 100%; height: 100%; left: 0; top: 0; }
.txt-box .p-mask { position: absolute; width: 100%; height: 30px; background: url(http://www.a9vg.com/css/images/p-mask.png) 0 bottom repeat-x; left: 0; bottom: 0; }

.rec-img-News dt { color: #48b6fb; width: 100%; float: none; }
.rec-img-News dt .remark-box { height: 26px; line-height: 26px; }
.rec-img-News dt .belongs { width: 60px; background-color: #068fdd; }
.rec-img-News dt .belongs:hover { background-color: #31a0e6; text-decoration: none; }
.rec-img-News dt .num { color: #48b6fb; background-image: url(http://www.a9vg.com/css/images/ico_msg2.png); }
.rec-img-News h3 { font: 700 16px/24px "Microsoft Yahei"; color: #585858; margin: 10px 0; }
.rec-img-News h3 a { color: #585858; }
.rec-img-News h3 a:link { color: #585858; }
.rec-img-News h3 a:visited { color: #a5a5a5; }
.rec-img-News h3 a:hover { color: #0098ee; }
.rec-img-News dd { margin-left: 0; height: 125px; }

.tit_common { background: url(http://www.a9vg.com/css/images/tit-bg.gif) 0 50% repeat-x; height: 26px; overflow: hidden; line-height: 26px; }
.tit_common a.fr { font-size: 12px; color: #868b97; display: inline-block; height: 26px; background-color: #FFF; padding-left: 15px; }
.tit_common a.fr:link { color: #868b97; }
.tit_common a.fr:visited { color: #868b97; }
.tit_common a.fr:hover { text-decoration: none; color: #0098ee; }
.tit_common h3 { background-color: #FFF; padding-left: 15px; padding-right: 15px; color: #0098ee; border-left: 3px solid #0098ee; font: 400 24px/26px "Microsoft Yahei"; }
.tit_common h3 a { color: #0098ee; }
.tit_common h3 a:link { color: #0098ee; }
.tit_common h3 a:visited { color: #0098ee; }
.tit_common h3 a:hover { color: #0098ee; text-decoration: none; }

.tit_common_s { height: 26px; overflow: hidden; line-height: 26px; }
.tit_common_s a.fr { font-size: 12px; color: #868b97; display: inline-block; height: 26px; background-color: #FFF; padding-left: 15px; color: #0098ee; }
.tit_common_s a.fr:link { color: #868b97; }
.tit_common_s a.fr:visited { color: #a5a5a5; }
.tit_common_s a.fr:hover { color: #0098ee; text-decoration: none; }
.tit_common_s h3 { background-color: #FFF; padding-left: 15px; padding-right: 15px; color: #0098ee; border-left: 3px solid #0098ee; font: 400 20px/26px "Microsoft Yahei"; }
.tit_common_s h3 a:link { color: #0098ee; }
.tit_common_s h3 a:visited { color: #a5a5a5; }
.tit_common_s h3 a:hover { color: #0098ee; text-decoration: none; }

.module_1 dd { margin-left: 112px; height: 66px; overflow: hidden; line-height: 22px; }
.module_1 dl { padding: 20px 0 15px; border-bottom: 1px solid #eceff7; }
.module_1 dt { padding-top: 5px; width: 100px; }
.module_1 li { background: url(http://www.a9vg.com/css/images/dot_blue.gif) 10px 15px no-repeat; border-bottom: 1px solid #eceff7; padding: 5px 0 5px 24px; }

.module_2 dt a { display: block; position: relative; width: 100%; }
.module_2 dt a img { width: 100%; }
.module_2 dt a .mask, .module_2 dt a .btn { display: block; position: absolute; height: 100%; width: 100%; left: 0; top: 0; cursor: pointer; }
.module_2 dt a .mask { background: url(http://www.a9vg.com/css/images/mask3.png); }
.module_2 dt a .btn { background: url(http://www.a9vg.com/css/images/vedio_paly2.png) 50% 50% no-repeat; }
.module_2 dt a:hover .mask { display: none; }
.module_2 dd { padding-top: 10px; height: 105px; }
.module_2 dd h3 { font: 700 14px/24px "arial"; padding: 5px 0; overflow: hidden; }

.follow { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #eceff7; *zoom: 1; position: relative; z-index: 2; }
.follow .and, .follow .ios, .follow .win, .follow .wx, .follow .wb { display: block; float: left; width: 36px; height: 36px; background: url(http://www.a9vg.com/css/images/follow.png) 0 0 no-repeat; margin-left: 20px; overflow: hidden; }
.follow .and:hover, .follow .ios:hover, .follow .win:hover, .follow .wx:hover, .follow .wb:hover { background-position: 0 -44px; }
.follow .ios { background-position: -46px 0; }
.follow .ios:hover { background-position: -46px -44px; }
.follow .win { background-position: -92px 0; }
.follow .win:hover { background-position: -92px -44px; }
.follow .wx { background-position: -138px 0; }
.follow .wx:hover { background-position: -138px -44px; }
.follow .wb { background-position: -185px 0; width: 82px; }
.follow .wb:hover { background-position: -185px -44px; }

#wxCode, .follow .ios_code, .follow .and_code { display: none; position: absolute; width: 100%; top: 57px; left: 0; border-bottom: 3px solid #0098ee; background: #FFF; }
#wxCode .innerBox, .follow .ios_code .innerBox, .follow .and_code .innerBox { padding: 10px; border-left: 1px solid #eceff7; border-right: 1px solid #eceff7; }
#wxCode dl, .follow .ios_code dl, .follow .and_code dl { padding-left: 14px; padding-top: 5px; }
#wxCode dl dd, .follow .ios_code dl dd, .follow .and_code dl dd { width: 130px; margin-left: 100px; }
#wxCode dl dd h3, .follow .ios_code dl dd h3, .follow .and_code dl dd h3 { font-size: 16px; color: #585858; padding: 10px 0 5px; }

.search_PSN { padding: 15px; }
.search_PSN p { color: #585858; font-size: 12px; }
.search_PSN .form { border: 1px solid #dadfe6; border-radius: 15px; height: 34px; padding: 0 0 0 20px; padding-right: 36px; position: relative; overflow: hidden; }
.search_PSN .form:hover { border-color: #95d9ff; box-shadow: 0 0 4px rgba(115, 215, 255, 0.22); }
.search_PSN .form .inp input { display: block; width: 100%; border: 0 none transparent; height: 34px; line-height: 34px; }
.search_PSN .btn { position: absolute; right: 10px; top: 0; height: 34px; width: 30px; background: url(http://www.a9vg.com/css/images/ico_search_btn.png) 50% 50% no-repeat; border: 0 none transparent; }
.search_PSN .btn:hover { background-image: url(http://www.a9vg.com/css/images/ico_search_btn_hover.png); }

.module_3 img { width: 100%; }

.module_4 dd { height: 80px; overflow: hidden; }

.module_5 dt { width: 300px; position: relative; }
.module_5 dt a { color: rgba(255, 255, 255, 0.9); color: #dddddd \9; }
.module_5 dt img { width: 100%; }
.module_5 dt .belongs { display: inline-block; width: 60px; background-color: #068fdd; text-align: center; }
.module_5 dt .belongs:hover { background-color: #31a0e6; text-decoration: none; }
.module_5 dt .num { background: url(http://www.a9vg.com/css/images/ico_msg2.png) 0 50% no-repeat; display: inline-block; padding-left: 18px; padding-right: 10px; font-family: arial; color: #48b6fb; }
.module_5 dt .num:hover { color: #FFF; text-decoration: underline; background-image: url(http://www.a9vg.com/css/images/ico_msg4.png); }
.module_5 dt .remark-box { position: absolute; background: url(http://www.a9vg.com/css/images/mask.png); width: 100%; bottom: 0; left: 0; height: 26px; line-height: 26px; }
.module_5 dt .belongs:hover { background-color: #31a0e6; text-decoration: none; }
.module_5 dd { height: 170px; margin-left: 320px; }
.module_5 dd .tag { height: 18px; line-height: 18px; }
.module_5 dd h4 { font-size: 16px; padding: 5px 0; }

.module_7 .tabBox .cnt { display: none; }
.module_7 .tabBox li { background-color: #f9fafc; position: relative; margin-top: 1px; }
.module_7 .tabBox .date { position: absolute; width: 80px; display: block; left: 0; top: 0; height: 76px; text-align: center; }
.module_7 .tabBox .date .day { display: block; color: #0098ee; font: 400 36px/40px arial; padding-top: 15px; }
.module_7 .tabBox .date b { display: block; font: 400 10px/14px arial; }
.module_7 .tabBox .txt { height: 58px; padding-top: 15px; margin-left: 80px; }
.module_7 .tabBox .txt h3 { font-size: 14px; height: 24px; overflow: hidden; font-weight: 700; }

.module_8 .cnt li { padding: 9px 12px; background-color: #f9fafc; margin-top: 1px; }
.module_8 .cnt li:hover { background-color: #edf6fb; }
.module_8 .cnt li:hover a { color: #0098ee; }
.module_8 dd { margin-left: 70px; height: 56px; overflow: hidden; }
.module_8 dd h3 { height: 24px; overflow: hidden; font-size: 14px; }
.module_8 dd h3 a { color: #585858; }
.module_8 dd h3 a:hover { color: #0098ee; }
.module_8 dd .text-err { font-size: 14px; font-family: arial; padding: 0 8px; }

.photo_moudel ul { padding-bottom: 28.135%; position: relative; height: 0; }
.photo_moudel li { float: left; position: relative; }
.photo_moudel .box { display: none; position: absolute; width: 70%; height: 50%; top: 35%; left: 15%; overflow: hidden; cursor: pointer; }
.photo_moudel .tit { font: 400 16px/24px "Microsoft Yahei"; color: #fff; display: block; margin-bottom: 15px; cursor: pointer; }
.photo_moudel .bg { width: 100%; height: 100%; background: url(http://www.a9vg.com/css/images/mask2.png); position: absolute; top: 0; left: 0; transition: all 0.3s; opacity: 0; cursor: pointer; }
.photo_moudel a { display: block; overflow: hidden; position: relative; text-decoration: none; }
.photo_moudel a:hover .box { display: block; }
.photo_moudel a:hover .bg { opacity: 1; }
.photo_moudel img { width: 100%; }
.photo_moudel .line1, .photo_moudel .line2 { display: block; position: absolute; overflow: hidden; background-color: #FFF; }
.photo_moudel .n1 { width: 50.049%; font-size: 24px; }
.photo_moudel .n1 .line1 { width: 2px; height: 100%; right: 0; top: 0; }
.photo_moudel .n1 .tit { font-size: 24px; line-height: 36px; }
.photo_moudel .n2 { width: 24.975%; }
.photo_moudel .n2 .line2 { height: 1px; width: 100%; left: 0; bottom: 0; }
.photo_moudel .n2 .line1 { width: 1px; height: 100%; right: 0; top: 0; }
.photo_moudel .n3 { width: 24.975%; }
.photo_moudel .n3 .line2 { height: 1px; width: 100%; left: 0; bottom: 0; }
.photo_moudel .n3 .line1 { width: 1px; height: 100%; left: 0; top: 0; }
.photo_moudel .n4 { width: 24.975%; }
.photo_moudel .n4 .line2 { height: 1px; width: 100%; left: 0; top: 0; }
.photo_moudel .n4 .line1 { width: 1px; height: 100%; right: 0; top: 0; }
.photo_moudel .n5 { width: 24.975%; }
.photo_moudel .n5 .line2 { height: 1px; width: 100%; left: 0; top: 0; }
.photo_moudel .n5 .line1 { width: 1px; height: 100%; left: 0; top: 0; }

#backTop { width: 52px; height: 52px; display: none; position: fixed; background: url(http://www.a9vg.com/css/images/back_top.png) 0 0 no-repeat; left: 50%; bottom: 30px; margin-left: 500px; z-index: 1000; }
#backTop:hover { background-position: 0 -68px; }

.crumbs { border-bottom: 1px solid #dfdfdf; margin: 0 20px; padding-top: 20px; padding-bottom: 10px; padding-left: 25px; background: url(http://www.a9vg.com/css/images/crumbs.png) 0 24px no-repeat; height: 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #868b97; }
.crumbs a { color: #32353c; }
.crumbs span { color: #c6c6c6; padding: 0 10px; }
.crumbs b { font-weight: 400; }

.sideNav { background-color: #fdfeff; border: 1px solid #eceff7; padding: 0 0 20px 24px; }
.sideNav dt { font: 18px/30px "Microsoft Yahei"; padding: 15px 0; height: 30px; overflow: hidden; }
.sideNav dt a { color: #32353c; }
.sideNav dt a:link { color: #32353c; }
.sideNav dt a:hover { color: #0098ee; text-decoration: underline; }
.sideNav dt.on a { color: #0098ee; text-decoration: none; }
.sideNav ul { margin-left: 10px; border-left: 1px solid #d9dbe0; padding-left: 20px; }
.sideNav ul a { color: #868b97; }
.sideNav ul a:link { color: #868b97; }
.sideNav ul a:hover { color: #0098ee; text-decoration: underline; }
.sideNav ul li.on a { color: #0098ee; text-decoration: none; }

.article_list .headLine { border-bottom: 1px solid #dfdfdf; font: 400 20px/40px "Microsoft Yahei"; color: #0098ee; }
.article_list .headLine span { color: #dfdfdf; padding: 0 10px; font-size: 20px; font-family: "arial"; }
.article_list .list dt { width: 140px; position: relative; color: #d1d0d0; color: rgba(255, 255, 255, 0.8); }
.article_list .list dt img { width: 100%; }
.article_list .list dt a { color: rgba(255, 255, 255, 0.8); color: #d1d0d0 \9; text-decoration: none; }
.article_list .list dt .belongs { display: inline-block; width: 50px; background-color: #000; text-align: center; }
.article_list .list dt .belongs:hover { color: #FFF; }
.article_list .list dt .num { background: url(http://www.a9vg.com/css/images/ico_msg3.png) 0 50% no-repeat; display: inline-block; padding-left: 18px; padding-right: 10px; font-family: arial; }
.article_list .list dt .num:hover { color: #FFF; text-decoration: underline; background-image: url(http://www.a9vg.com/css/images/ico_msg4.png); }
.article_list .list dt .remark-box { position: absolute; background: url(http://www.a9vg.com/css/images/mask.png); width: 100%; bottom: 0; left: 0; height: 22px; line-height: 22px; }
.article_list .list dt:hover .remark-box, .article_list .list dt.on .remark-box { display: block; }
.article_list .list dd { height: 80px; margin-left: 150px; overflow: hidden; }
.article_list .list dd .tag { max-height: 18px; line-height: 18px; overflow: hidden; margin-bottom: 5px; }
.article_list .list dd .tag a { color: #0098ee; margin-right: 8px; }
.article_list .list dd .tag a:hover { color: #fd4b83; text-decoration: underline; }
.article_list .list dd h4 { font-size: 16px; padding: 0 0 5px; }
.article_list .list dd h4 a { color: #585858; }
.article_list .list dd h4 a:link { color: #585858; }
.article_list .list dd h4 a:hover { color: #0098ee; text-decoration: none; }
.article_list .list dd p { line-height: 18px; }
.article_list .list dd .author { margin-bottom: 5px; }
.article_list .list dl { padding: 20px 0; border-bottom: 1px dotted #c2c2c2; }

.module_9 li { padding: 9px 10px 9px 5px; background-color: #f9fafc; margin-top: 1px; }
.module_9 li:hover { background-color: #edf6fb; }
.module_9 li:hover a { color: #0098ee; }
.module_9 li:hover .text-metud { color: #868b97; }
.module_9 li.f b { background-position: 0 100%; color: #fd4b83; }
.module_9 b { display: inline-block; width: 30px; height: 30px; background: url(http://www.a9vg.com/css/images/rank_bg.png) 0 0 no-repeat; vertical-align: top; text-align: center; line-height: 30px; font: 400 16px/30px Arial; margin-right: 5px; margin-top: 10px; }
.module_9 dd { margin-left: 100px; height: 56px; overflow: hidden; }
.module_9 dd h3 { height: 24px; overflow: hidden; font-size: 14px; }
.module_9 dd h3 a { color: #585858; }
.module_9 dd h3 a:link { color: #585858; }
.module_9 dd h3 a:hover { color: #0098ee; }
.module_9 dd .text-metud { font-family: arial; padding-right: 8px; color: #868b97; }
.module_9 dd .text-metud:link { color: #868b97; }
.module_9 a:visited { color: #a5a5a5; }
.module_9 a:hover { color: #0098ee; text-decoration: underline; }

.module_10 .cnt li { padding: 9px 12px; background-color: #f9fafc; margin-top: 1px; }
.module_10 .cnt li:hover { background-color: #edf6fb; }
.module_10 .cnt li:hover a { color: #0098ee; }
.module_10 dd { margin-left: 110px; height: 56px; overflow: hidden; }
.module_10 dd h3 { font-size: 14px; max-height: 48px; overflow: hidden; font-weight: normal; }
.module_10 dd h3 a { color: #585858; }
.module_10 dd h3 a:hover { color: #0098ee; }

.pages_list { margin: 20px 0; color: #aeaeae; text-align: center; }
.pages_list a { color: #0098ee; display: inline-block; padding: 2px 8px; margin: 0 2px; }
.pages_list a:hover { color: #0098ee; }
.pages_list .on { color: #FFF; display: inline-block; padding: 0 8px; margin: 0 3px; background-color: #0098ee; border-radius: 100px; }
.pages_list .pre, .pages_list .next { color: #868b97; background: none; }

.related_game { padding-bottom: 19px; background: url(http://www.a9vg.com/css/images/dotted-line.gif) 0 100% repeat-x; }
.related_game dt img{width: 56px;}
.related_game dt{width: 56px; max-height:70px ; overflow: hidden;}
.related_game dd { margin-left: 65px; }

.related_game dd div { height: 30px; }
.related_game h3 { font: 700 18px/24px "Microsoft Yahei"; color: #32353c; padding-right: 20px; }
.related_game h3 a { color: #32353c; }
.related_game a { color: #868b97; margin-right: 20px; }
.related_game a:hover { color: #0098ee; }

.news-hdr { background: url(http://www.a9vg.com/css/images/dotted-line.gif) 0 100% repeat-x; padding-bottom: 15px; padding-top: 15px; }
.news-hdr h1 { font: 400 30px/48px "Microsoft Yahei"; padding-bottom: 10px; color: #32353c; }
.news-hdr .title-bar a { color: #868b97; }
.news-hdr .title-bar a:hover { color: #0098ee; }
.news-hdr .title-bar p span { padding-right: 20px; }
.news-hdr .title-bar p .editor b, .news-hdr .title-bar p .editor a { font-weight: 400; }
.news-hdr .title-bar p a:hover { color: #0098ee; text-decoration: underline; }
.news-hdr .title-bar .comment a { background: url(http://www.a9vg.com/css/images/ico_comment.png) 0 50% no-repeat; padding-left: 18px; display: inline-block; vertical-align: middle; height: 24px; }
.news-hdr .title-bar .comment a:hover { background-image: url(http://www.a9vg.com/css/images/ico_msg2.png); text-decoration: none; }
.news-hdr .title-bar .bdshare-button-style1-16 .bds_more { background: url(http://www.a9vg.com/css/images/ico_share.png) 0 50% no-repeat; padding-left: 18px; display: inline-block; vertical-align: middle; height: 24px; margin: 0 10px 0 0; line-height: 24px; }
.news-hdr .title-bar .bdshare-button-style1-16 .bds_more:hover { background-image: url(http://www.a9vg.com/css/images/ico_share_hover.png); text-decoration: none; }

.article-body { font: 14px/30px "arial"; color: #32353c; padding-top: 20px; }
.article-body p { padding-bottom: 15px; }
.article-body p img, .article-body p object, .article-body p embed, .article-body p audio, .article-body p video { max-width: 100%; }
.article-body a { color: #0098ee; }
.article-body .all-sub-title { padding-bottom: 15px; margin-bottom: 15px; color: #585858; background: url(http://www.a9vg.com/css/images/dotted-line.gif) 0 100% repeat-x; }
.article-body .all-sub-title .page-index-ico { color: #FFF; text-align: center; display: inline-block; margin-right: 10px; background-color: #0098ee; height: 24px; vertical-align: middle; padding: 0 8px; border-radius: 50px; font: 400 12px/24px Arial; }

.article-tips { padding: 10px 0 0; margin-top: 20px; font-family: arial; color: #999; }
.article-tips a { color: #999; margin-right: 20px; }
.article-tips a:hover { color: #1799eb; }

.article_pages { padding: 35px 0 20px; text-align: center; }
.article_pages a, .article_pages span { display: inline-block; padding: 0 11px; height: 30px; font: 12px/30px Arial; color: #58aff1; border: 1px solid #0098ee; border-radius: 20px; margin: 0 3px; vertical-align: middle; }
.article_pages a:hover, .article_pages .on { background-color: #0098ee; color: #FFF; text-decoration: none; }
.article_pages .pre, .article_pages .next { background: url(http://www.a9vg.com/css/images/page_arrow.png) 50% 0 no-repeat; width: 50px; }
.article_pages .pre:hover { background-position: 50% -80px; }
.article_pages .pre.dis { opacity: 0.4; cursor: default; background-position: 50% 0; }
.article_pages .pre.dis:hover { background-color: transparent; background-position: 50% 0; }
.article_pages .next { background-position: 50% -40px; }
.article_pages .next:hover { background-position: 50% -120px; }
.article_pages .next.dis { opacity: 0.4; cursor: default; }
.article_pages .next.dis:hover { background-color: transparent; background-position: 50% -40px; }
.article_pages .dotted { border-color: transparent; color: #3bb0f2; padding: 0 3px; cursor: default; }

.article_pages_bar { color: #999999; text-align: center; padding-bottom: 30px; }
.article_pages_bar a { color: #1799eb; margin-left: 30px; }
.article_pages_bar a:hover { color: #FA4884; }

.article-nav { padding: 20px 0 20px 0; position: relative; }
.article-nav h3 { color: #585858; font-size: 14px; padding-left: 20px; line-height: 36px; }
.article-nav .readAll { position: absolute; right: 20px; top: 20px; display: none; color: #1799eb; }
.article-nav .readAll:hover { color: #FA4884; }
.article-nav ul { width: 49.999%; float: left; }
.article-nav li { height: 36px; overflow: hidden; text-indent: 20px; color: #585858; line-height: 36px; font-family: Arial; }
.article-nav .cur a { color: #1799eb; }

.article_good { padding: 20px 0; margin-bottom: 30px; background: url(http://www.a9vg.com/css/images/dotted-line.gif) 0 100% repeat-x; }
.article_good .iLike a { background: url(http://www.a9vg.com/css/images/iLike.png) 0 0 no-repeat; display: inline-block; width: 38px; height: 38px; vertical-align: middle; margin: 0 5px; position: relative; }
.article_good .iLike a:hover { background-position: 0 bottom; }
.article_good .iLike a.active { cursor: default; background-position: 0 bottom; }
.article_good .iLike a b { position: absolute; font-family: arial; width: 100%; left: 0; top: 0; text-align: center; color: #fd4b83; opacity: 0; }
.article_good .share-bottom .bdshare-button-style1-24 .bds_more { display: none; }
.article_good .share-bottom .share_txt { margin-right: 10px; margin-top: 5px; }

.article_photo_gather { position: relative; width: 620px; max-width: 620px; margin: 0 auto 0; /* ===============================================================
Basic Swiper Styles 
================================================================*/ /* IE10 Windows Phone 8 Fixes */ /* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/ }
.article_photo_gather .swiper-container { margin: 0 auto; position: relative; overflow: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; /* Fix of Webkit flickering */ z-index: 1; }
.article_photo_gather .swiper-wrapper { position: relative; width: 100%; -webkit-transition-property: -webkit-transform, left, top; -webkit-transition-duration: 0s; -webkit-transform: translate3d(0px, 0, 0); -webkit-transition-timing-function: ease; -moz-transition-property: -moz-transform, left, top; -moz-transition-duration: 0s; -moz-transform: translate3d(0px, 0, 0); -moz-transition-timing-function: ease; -o-transition-property: -o-transform, left, top; -o-transition-duration: 0s; -o-transform: translate3d(0px, 0, 0); -o-transition-timing-function: ease; -o-transform: translate(0px, 0px); -ms-transition-property: -ms-transform, left, top; -ms-transition-duration: 0s; -ms-transform: translate3d(0px, 0, 0); -ms-transition-timing-function: ease; transition-property: transform, left, top; transition-duration: 0s; transform: translate3d(0px, 0, 0); transition-timing-function: ease; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.article_photo_gather .swiper-free-mode > .swiper-wrapper { -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto; }
.article_photo_gather .swiper-slide { float: left; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; text-align: center; }
.article_photo_gather .swiper-wp8-horizontal { -ms-touch-action: pan-y; }
.article_photo_gather .swiper-wp8-vertical { -ms-touch-action: pan-x; }
.article_photo_gather .swiper-container { /* Specify Swiper's Size: */ /*width:200px;
height: 100px;*/ width: 620px; height: 348px; overflow: hidden; position: relative; }
.article_photo_gather .swiper-slide { /* Specify Slides's Size: */ /*width: 100%;
height: 100%;*/ float: left; position: relative; }
.article_photo_gather .swiper-title { background: url(http://www.a9vg.com/css/images/mask2.png); height: 56px; overflow: hidden; color: #FFF; font: 400 18px/56px "Microsoft Yahei"; width: 100%; top: 292px; left: 0; position: absolute; cursor: default; z-index: 10; }
.article_photo_gather .swiper-title span { font-family: arial; padding-left: 20px; padding-right: 20px; font-family: 24px; }
.article_photo_gather .swiper-title b { font-size: 30px; }
.article_photo_gather .swiper-title b, .article_photo_gather .swiper-title strong { font-weight: 400; }
.article_photo_gather .swiper-title a { color: #FFF; }
.article_photo_gather .zoom { position: absolute; right: 0; top: 0; width: 40px; height: 40px; background: url(http://www.a9vg.com/css/images/ico_zoom.png) 0 0 no-repeat; display: block; }
.article_photo_gather .zoom:hover { background-position: 0 bottom; }
.article_photo_gather .arrow-left, .article_photo_gather .arrow-right { display: block; position: absolute; left: 0; top: 50%; margin-top: -34px; background: url(http://www.a9vg.com/css/images/slide_btn.png) 0 0 no-repeat; width: 34px; height: 65px; z-index: 100; }
.article_photo_gather .arrow-right { background-position: 0 -80px; right: 0; left: auto; }
.article_photo_gather .arrow-right:hover { background-position: 0 -240px; }
.article_photo_gather .arrow-left:hover { background-position: 0 -160px; }
.article_photo_gather .pagination { height: 68px; overflow: auto; white-space: nowrap; overflow-y: hidden; padding-top: 5px; }
.article_photo_gather .pagination span { display: inline-block; width: 118px; height: 66px; margin-right: 8px; cursor: pointer; border: 1px solid #FFF; background-position: 50% 50%; background-repeat: no-repeat; }
.article_photo_gather .pagination span.swiper-active-switch, .article_photo_gather .pagination span:hover { border: 1px solid #0098ee; box-shadow: 0px 0px 5px rgba(0, 152, 238, 0.45); }

/* Large desktop*/
@media only screen and (min-width: 1240px) { .col-lg-span-1, .col-lg-span-2, .col-lg-span-3, .col-lg-span-4, .col-lg-span-5, .col-lg-span-6, .col-lg-span-7, .col-lg-span-8, .col-lg-span-9, .col-lg-span-10, .col-lg-span-11, .col-lg-span-12, .col-lg-span-13, .col-lg-span-14, .col-lg-span-15 { float: left; min-height: 1px; margin-left: 20px; }
  .col-lg-span-1 { width: 60px; }
  .col-lg-span-2 { width: 140px; }
  .col-lg-span-3 { width: 220px; }
  .col-lg-span-4 { width: 300px; }
  .col-lg-span-5 { width: 380px; }
  .col-lg-span-6 { width: 460px; }
  .col-lg-span-7 { width: 540px; }
  .col-lg-span-8 { width: 620px; }
  .col-lg-span-9 { width: 700px; }
  .col-lg-span-10 { width: 780px; }
  .col-lg-span-11 { width: 860px; }
  .col-lg-span-12 { width: 940px; }
  .col-lg-span-13 { width: 1020px; }
  .col-lg-span-14 { width: 1100px; }
  .col-lg-span-15 { width: 1180px; }
  .offset-row-lg-1 { margin-left: 100px; }
  .offset-row-lg-2 { margin-left: 180px; }
  .offset-row-lg-3 { margin-left: 260px; }
  .offset-row-lg-4 { margin-left: 340px; }
  .offset-row-lg-5 { margin-left: 420px; }
  .offset-row-lg-6 { margin-left: 500px; }
  .offset-row-lg-7 { margin-left: 580px; }
  .offset-row-lg-8 { margin-left: 660px; }
  .offset-row-lg-9 { margin-left: 740px; }
  .offset-row-lg-10 { margin-left: 820px; }
  .offset-row-lg-11 { margin-left: 900px; }
  .offset-row-lg-12 { margin-left: 980px; }
  .offset-row-lg-13 { margin-left: 1060px; }
  .offset-row-lg-14 { margin-left: 1140px; }
  .offset-row-lg-15 { margin-left: 1220px; }
  .mt-lg-20 { margin-top: 20px; }
  .mb-lg-20 { margin-bottom: 20px; }
  .ml-lg-20 { margin-left: 20px; }
  .mr-lg-20 { margin-right: 20px; }
  .ml-lg-lose20 { margin-left: -20px; }
  .mt-lg-lose20 { margin-top: -20px; }
  .mb-lg-lose20 { margin-bottom: -20px; }
  .mr-lg-lose20 { margin-right: -20px; }
  .ml-lg-0 { margin-left: 0; }
  .mt-lg-0 { margin-top: 0; }
  .mb-lg-0 { margin-bottom: 0; }
  .mr-lg-0 { margin-right: 0; }
  .container { width: 1220px; margin-left: auto; margin-right: auto; }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66666667%; }
  .col-lg-10 { width: 83.33333333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66666667%; }
  .col-lg-7 { width: 58.33333333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66666667%; }
  .col-lg-4 { width: 33.33333333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.66666667%; }
  .col-lg-1 { width: 8.33333333%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-pull-11 { right: 91.66666667%; }
  .col-lg-pull-10 { right: 83.33333333%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-8 { right: 66.66666667%; }
  .col-lg-pull-7 { right: 58.33333333%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-5 { right: 41.66666667%; }
  .col-lg-pull-4 { right: 33.33333333%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-2 { right: 16.66666667%; }
  .col-lg-pull-1 { right: 8.33333333%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-push-11 { left: 91.66666667%; }
  .col-lg-push-10 { left: 83.33333333%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-8 { left: 66.66666667%; }
  .col-lg-push-7 { left: 58.33333333%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-5 { left: 41.66666667%; }
  .col-lg-push-4 { left: 33.33333333%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-2 { left: 16.66666667%; }
  .col-lg-push-1 { left: 8.33333333%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.66666667%; }
  .col-lg-offset-10 { margin-left: 83.33333333%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-8 { margin-left: 66.66666667%; }
  .col-lg-offset-7 { margin-left: 58.33333333%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-5 { margin-left: 41.66666667%; }
  .col-lg-offset-4 { margin-left: 33.33333333%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-2 { margin-left: 16.66666667%; }
  .col-lg-offset-1 { margin-left: 8.33333333%; }
  .col-lg-offset-0 { margin-left: 0; }
  .col-lg-hide { display: none; }
  .col-lg-show { display: block; }
  .header .nav { padding: 0 40px; }
  .header .search .box { width: 260px; }
  .header .search .txt { width: 200px; }
  .hotList .m { padding: 0; }
  .hotList h3 { position: static; background-color: #f6f7f9; height: 56px; border-bottom: 1px solid #eceff7; width: auto; line-height: 56px; padding-left: 20px; }
  .hotList ul { padding: 7px 10px 7px 20px; }
  .hotList li { float: none; height: 40px; line-height: 40px; overflow: hidden; padding-right: 0; margin-right: 0; white-space: normal; }
  .hotList a.fr { display: inline-block; margin-top: 13px; margin-left: 10px; width: 40px; padding: 0 5px; overflow: hidden; text-align: center; }
  .module_7 .tabBox .txt { height: 60px; }
  .module_6 dl { margin-top: 5px; }
  .focus-box ul { padding-bottom: 35.2%; }
  #backTop { margin-left: 620px; }
  .img-News2 { padding-top: 10px; }
  .img-News2 dl { border-bottom: 1px solid #eceff7; padding-bottom: 10px; margin-top: 10px; }
  .img-News2 dt { position: relative; width: 100px; color: #d1d0d0; color: rgba(255, 255, 255, 0.8); }
  .img-News2 dt img { width: 100%; }
  .img-News2 dt:hover .remark-box { display: none; }
  .img-News2 dt a { color: rgba(255, 255, 255, 0.8); color: #d1d0d0 \9; text-decoration: none; }
  .img-News2 dt .belongs { display: inline-block; width: 50px; background-color: #000; text-align: center; }
  .img-News2 dt .num { background: url(http://www.a9vg.com/css/images/ico_msg.png) 0 50% no-repeat; display: inline-block; padding-left: 18px; padding-right: 10px; font-family: Tahoma; }
  .img-News2 dt .remark-box { display: none; position: absolute; background: url(http://www.a9vg.com/css/images/mask.png); width: 100%; bottom: 0; left: 0; height: 22px; line-height: 22px; }
  .img-News2 dd { margin-left: 110px; height: 60px; line-height: 20px; overflow: hidden; }
  .img-News2 h3 { font-weight: 400; }
  .img-News2 dl:last-child { display: none; }
  .img-News2 dl:nth-last-child(2) { border-bottom: none; }
  .article_list .headLine { font-size: 24px; }
  .article_list .list dt { width: 220px; }
  .article_list .list dd { min-height: 125px; height: auto; margin-left: 240px; } }
/* tablet desktop */
@media only screen and (max-width: 998px) { .col-sm-1 { width: 11.39241%; }
  .col-sm-2 { width: 24.05063%; }
  .col-sm-3 { width: 36.70886%; }
  .col-sm-4 { width: 49.36709%; }
  .col-sm-5 { width: 62.02532%; }
  .col-sm-6 { width: 74.68354%; }
  .col-sm-7 { width: 87.34177%; }
  .col-sm-8 { width: 100%; }
  .col-sm-offset-1 { margin-left: 13.92405%; }
  .col-sm-offset-2 { margin-left: 26.58228%; }
  .col-sm-offset-3 { margin-left: 39.24051%; }
  .col-sm-offset-4 { margin-left: 51.89873%; }
  .col-sm-offset-5 { margin-left: 64.55696%; }
  .col-sm-offset-6 { margin-left: 77.21519%; }
  .col-sm-offset-7 { margin-left: 89.87342%; }
  .col-sm-offset-8 { margin-left: 102.53165%; }
  .container { width: auto; margin-left: auto; margin-right: auto; max-width: 860px; padding-left: 20px; padding-right: 20px; }
  .container *, .container *:before, .container *:after { box-sizing: border-box; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8 { float: left; margin-left: 0; min-height: 1px; padding-left: 10px; padding-right: 10px; }
  .row { margin-left: -10px; margin-right: -10px; }
  .mt-sm-20 { margin-top: 20px; }
  .mb-sm-20 { margin-bottom: 20px; }
  .ml-sm-20 { margin-left: 20px; }
  .mr-sm-20 { margin-right: 20px; }
  .ml-sm-lose20 { margin-left: -20px; }
  .mt-sm-lose20 { margin-top: -20px; }
  .mb-sm-lose20 { margin-bottom: -20px; }
  .mr-sm-lose20 { margin-right: -20px; }
  .ml-sm-0 { margin-left: 0; }
  .mt-sm-0 { margin-top: 0; }
  .mb-sm-0 { margin-bottom: 0; }
  .mr-sm-0 { margin-right: 0; }
  .col-sm-offset-0 { margin-left: 0; }
  .pl-sm-0 { padding-left: 0; }
  .pt-sm-0 { padding-top: 0; }
  .pb-sm-0 { padding-bottom: 0; }
  .pr-sm-0 { padding-right: 0; }
  .col-sm-hide { display: none; }
  .col-sm-show { display: block; }
  .header .container { position: relative; height: 80px; }
  .header .logo { width: 119px; height: 36px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }
  .header .logo a { display: block; background-size: auto 100%; }
  .header .nav { display: none; }
  .header .search { display: none; position: absolute; margin: 0; top: 20px; width: auto; right: 0; width: 100%; background-color: #FFF; }
  .header .search .box { margin-left: 110px; width: auto; position: relative; }
  .header .search .txt_box { margin-right: 30px; overflow: hidden; height: 38px; overflow: hidden; }
  .header .search .txt { display: block; width: 100%; }
  .header .search .btn { position: absolute; right: 10px; top: 0; float: none; }
  .header .navbar-toggle, .header .search-toggle { display: block; }
  .footer .footer-info .qr img { width: 100%; }
  .footer .footer-info h3 { font-size: 17px; }
  /* FOCUS NEWS */
  .focus-box { padding-top: 20px; padding-bottom: 0; margin-left: -20px; margin-right: -20px; }
  .focus-box ul { position: relative; width: 100%; padding-bottom: 0; height: auto; }
  .focus-box .box { display: block; position: absolute; width: 100%; height: 45px; top: auto; bottom: 0; left: 0; overflow: hidden; cursor: pointer; }
  .focus-box .tit { font: 1.1rem/45px "Microsoft Yahei"; color: #ffffff; display: block; margin-bottom: 0; overflow: hidden; cursor: pointer; padding: 0 10px; text-overflow: ellipsis; white-space: nowrap; }
  .focus-box .des { display: none; }
  .focus-box .bg { background: url(http://www.a9vg.com/css/images/mask2.png); width: 100%; height: 45px; top: auto; bottom: 0; left: 0; overflow: hidden; cursor: pointer; display: block; opacity: 1; }
  .focus-box li { position: relative; float: none; top: auto; overflow: hidden; height: 200px; margin-bottom: 20px; }
  .focus-box li .hor { display: none; }
  .focus-box li .por { display: none; }
  .focus-box img { width: 100%; height: auto; }
  .focus-box a { position: static; }
  .focus-box .n1 { width: 100%; }
  .focus-box .n2 { width: 100%; }
  .focus-box .n3 { width: 100%; }
  .focus-box .n4 { display: none; }
  .focus-box .n1 .tit { margin-top: 0; }
  .img-News h3 { font-size: 14px; overflow: hidden; }
  .img-News dt { width: 48%; }
  .img-News dt img { width: 100%; }
  .img-News dd { margin-left: 50%; }
  .rec-img-News dt { width: 100%; }
  .rec-img-News dt img { width: 100%; }
  .rec-img-News dd { height: 100px; margin-left: 0; }
  .search_PSN { padding: 10px; }
  .search_PSN p { color: #585858; font-size: 14px; font-weight: 700; }
  .module_3 img { width: 100%; }
  .module_3 .col-sm-4:last-child { display: none; }
  .module_4 dd { height: 0; padding-bottom: 27%; }
  .module_1 dd { margin-left: 50%; height: 0; padding-bottom: 29%; line-height: 22px; font-weight: 400; font-size: 14px; }
  .module_1 dl { padding: 20px 0 15px; border: 0 none transparent; }
  .module_1 li { border: 0 none transparent; background-position: 0 15px; padding-left: 15px; }
  .module_1 dt { padding-top: 8px; width: 48%; }
  .module_1 dt img { width: 100%; }
  .module_5 dt { width: 48%; }
  .module_5 dd { margin-left: 50%; height: 0; padding-bottom: 27%; }
  .module_5 dd h4 { font: 22px/30px "Microsoft Yahei"; }
  .module_7 .tabBox .cnt:first-child { display: block; }
  .module_7 .tabBox ul { overflow: hidden; }
  .module_7 .tabBox li { float: left; width: 49.999%; }
  .module_7 .tabBox .txt { height: 80px; padding-top: 20px; margin-left: 80px; }
  .module_7 .tabBox .txt h3 { font-size: 14px; height: 24px; overflow: hidden; font-weight: 700; }
  .module_8 .cnt:first-child { display: block; }
  .module_8 .cnt:first-child li { float: left; width: 49.999%; padding: 8px; }
  .module_8 dt img { width: 100%; }
  .module_8 dd { margin-left: 70px; height: 56px; overflow: hidden; }
  .module_8 dd h3 { height: 24px; overflow: hidden; font-weight: 400; }
  .module_10 .cnt:first-child { display: block; }
  .module_10 .cnt:first-child li { float: left; width: 49.999%; padding: 8px; }
  .module_10 dt { width: 25%; margin-right: 2%; }
  .module_10 dt img { width: 100%; }
  .module_10 dd { margin-left: 27%; height: auto; overflow: hidden; }
  .module_10 dd h3 { font-weight: 400; }
  .img-News2 dl:last-child { display: none; }
  #backTop { width: 30px; background-size: 100% auto; left: auto; margin: 0; right: 10px; bottom: 10px; height: 30px; }
  #backTop:hover { background-position: 0 bottom; }
  .crumbs { border-bottom: 1px solid #dfdfdf; margin: 0; padding-top: 10px; padding-bottom: 8px; padding-left: 25px; background: url(http://www.a9vg.com/css/images/crumbs.png) 0 12px no-repeat; height: 38px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #868b97; line-height: 20px; }
  .crumbs a { color: #32353c; }
  .crumbs span { color: #c6c6c6; padding: 0 10px; }
  .sideNav_small { font-family: "Microsoft Yahei"; color: #868b97; font-size: 16px; background-color: #fdfeff; border: 1px solid #eceff7; }
  .sideNav_small h3 { color: #585858; font: 400 16px/30px "Microsoft Yahei"; padding-left: 10px; border-bottom: 1px solid #eceff7; }
  .sideNav_small dl { padding: 10px 10px 0; }
  .sideNav_small dd { margin-left: 5.5em; }
  .sideNav_small a { color: #585858; display: inline-block; padding: 3px 15px; border-radius: 15px; margin: 0 5px 5px 0; }
  .sideNav_small a.on, .sideNav_small a:hover { text-decoration: none; color: #FFF; background-color: #0098ee; }
  .article_list { font-family: "Microsoft Yahei"; }
  .article_list .list dt { width: 25%; position: relative; max-width: 220px; margin-right: 2%; }
  .article_list .list dt img { width: 100%; }
  .article_list .list dt .remark-box { display: none; }
  .article_list .list dt:hover .remark-box, .article_list .list dt.on .remark-box { display: none; }
  .article_list .list dd { height: auto; margin-left: 27%; }
  .article_list .list dd .tag { margin-bottom: 10px; padding-bottom: 0; }
  .article_list .list dd .tag a { color: #868b97; margin-right: 5px; }
  .article_list .list dd h4 { font-size: 16px; line-height: 20px; font-weight: 400; }
  .article_list .list dl { padding: 20px 0 0; border-bottom: none; }
  .moreLoad_list { border: 1px solid #e7eaef; height: 30px; font: 1rem/30px "arial"; text-align: center; margin-top: 20px; background-color: #fcfcfd; }
  .moreLoad_list a { display: block; width: 100%; height: 100%; color: #868b97; }
  .moreLoad_list a::after { content: ''; display: inline-block; height: 30px; background: url(http://www.a9vg.com/css/images/ico_arrow_bottom.png) 50% 50% no-repeat; width: 20px; vertical-align: middle; }
  .r_ad { text-align: center; }
  .r_ad img { width: 100%; max-width: 350px; }
  .module_9 li { float: left; width: 49.999%; padding: 8px; }
  .module_9 dd { margin-left: 98px; height: 56px; overflow: hidden; }
  .module_9 dd h3 { height: 24px; overflow: hidden; }
  .bdshare_popup_box { left: auto !important; right: 0 !important; }
  .article_good { font-size: 14px; }
  .article_good .iLike a { width: 25px; height: 25px; background-size: 100% auto; }
  .article_photo_gather { width: 100%; /* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/ }
  .article_photo_gather .swiper-container { width: 100%; margin: 0 auto; height: auto; }
  .article_photo_gather .swiper-container img, .article_photo_gather .swiper-container .swiper-slide { width: 100%; max-width: 620px; height: auto !important; }
  .article_photo_gather .swiper-wrapper, .article_photo_gather .swiper-container { height: auto !important; }
  .article_photo_gather .swiper-title { background: none; color: #030a0c; font: 400 1.1rem/1.6rem "Microsoft Yahei"; position: static; height: auto; margin-top: 8px; }
  .article_photo_gather .swiper-title span { font-family: arial; padding-left: 10px; padding-right: 10px; color: #777777; font-size: 1rem; }
  .article_photo_gather .swiper-title b { font-size: 1.2rem; color: #0098ee; }
  .article_photo_gather .swiper-title a { color: #030a0c; }
  .article_photo_gather .zoom { width: 20px; height: 20px; background-size: 100% auto; }
  .article_photo_gather .arrow-left, .article_photo_gather .arrow-right { top: 0; bottom: 0; margin-top: auto; margin-bottom: auto; background-size: 100% auto; width: 20px; height: 38px; }
  .article_photo_gather .arrow-right { background-position: 0 -48px; }
  .article_photo_gather .arrow-right:hover { background-position: 0 bottom; }
  .article_photo_gather .arrow-left:hover { background-position: 0 -94px; }
  .photo_moudel .n1 .tit { font-size: 16px; line-height: 24px; } }
/* mobile */
@media only screen and (max-width: 640px) { body { font: 1em/1.8em "Microsoft Yahei"; }
   .youku-a9vg { height: 240px !important; }
  .container { font-family: "Microsoft Yahei"; border: 0 none transparent; padding-left: 10px; padding-right: 10px; }
  .row { margin-left: -10px; margin-right: -10px; }
  .mt-xs-20 { margin-top: 20px; }
  .mb-xs-20 { margin-bottom: 20px; }
  .ml-xs-20 { margin-left: 20px; }
  .mr-xs-20 { margin-right: 20px; }
  .mt-xs-10 { margin-top: 10px; }
  .mb-xs-10 { margin-bottom: 10px; }
  .ml-xs-10 { margin-left: 10px; }
  .mr-xs-10 { margin-right: 10px; }
  .ml-xs-lose20 { margin-left: -20px; }
  .mt-xs-lose20 { margin-top: -20px; }
  .mb-xs-lose20 { margin-bottom: -20px; }
  .mr-xs-lose20 { margin-right: -20px; }
  .mt-xs-10 { margin-top: 10px; }
  .mb-xs-10 { margin-bottom: 10px; }
  .ml-xs-10 { margin-left: 10px; }
  .mr-xs-10 { margin-right: 10px; }
  .ml-xs-lose10 { margin-left: -10px; }
  .mt-xs-lose10 { margin-top: -10px; }
  .mb-xs-lose10 { margin-bottom: -10px; }
  .mr-xs-lose10 { margin-right: -10px; }
  .ml-xs-0 { margin-left: 0; }
  .mt-xs-0 { margin-top: 0; }
  .mb-xs-0 { margin-bottom: 0; }
  .mr-xs-0 { margin-right: 0; }
  .pl-xs-0 { padding-left: 0; }
  .pt-xs-0 { padding-top: 0; }
  .pb-xs-0 { padding-bottom: 0; }
  .pr-xs-0 { padding-right: 0; }
  .pl-xs-10 { padding-left: 10px; }
  .pt-xs-10 { padding-top: 10px; }
  .pb-xs-10 { padding-bottom: 10px; }
  .pr-xs-10 { padding-right: 10px; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; padding-left: 10px; padding-right: 10px; }
  .col-xs-12 { width: 100%; margin-left: 0; margin-right: 0; }
  .col-xs-11 { width: 91.66666667%; }
  .col-xs-10 { width: 83.33333333%; }
  .col-xs-9 { width: 75%; }
  .col-xs-8 { width: 66.66666667%; }
  .col-xs-7 { width: 58.33333333%; }
  .col-xs-6 { width: 50%; }
  .col-xs-5 { width: 41.66666667%; }
  .col-xs-4 { width: 33.33333333%; }
  .col-xs-3 { width: 25%; }
  .col-xs-2 { width: 16.66666667%; }
  .col-xs-1 { width: 8.33333333%; }
  .col-xs-pull-12 { right: 100%; }
  .col-xs-pull-11 { right: 91.66666667%; }
  .col-xs-pull-10 { right: 83.33333333%; }
  .col-xs-pull-9 { right: 75%; }
  .col-xs-pull-8 { right: 66.66666667%; }
  .col-xs-pull-7 { right: 58.33333333%; }
  .col-xs-pull-6 { right: 50%; }
  .col-xs-pull-5 { right: 41.66666667%; }
  .col-xs-pull-4 { right: 33.33333333%; }
  .col-xs-pull-3 { right: 25%; }
  .col-xs-pull-2 { right: 16.66666667%; }
  .col-xs-pull-1 { right: 8.33333333%; }
  .col-xs-pull-0 { right: auto; }
  .col-xs-push-12 { left: 100%; }
  .col-xs-push-11 { left: 91.66666667%; }
  .col-xs-push-10 { left: 83.33333333%; }
  .col-xs-push-9 { left: 75%; }
  .col-xs-push-8 { left: 66.66666667%; }
  .col-xs-push-7 { left: 58.33333333%; }
  .col-xs-push-6 { left: 50%; }
  .col-xs-push-5 { left: 41.66666667%; }
  .col-xs-push-4 { left: 33.33333333%; }
  .col-xs-push-3 { left: 25%; }
  .col-xs-push-2 { left: 16.66666667%; }
  .col-xs-push-1 { left: 8.33333333%; }
  .col-xs-push-0 { left: auto; }
  .col-xs-offset-12 { margin-left: 100%; }
  .col-xs-offset-11 { margin-left: 91.66666667%; }
  .col-xs-offset-10 { margin-left: 83.33333333%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-8 { margin-left: 66.66666667%; }
  .col-xs-offset-7 { margin-left: 58.33333333%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-5 { margin-left: 41.66666667%; }
  .col-xs-offset-4 { margin-left: 33.33333333%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-2 { margin-left: 16.66666667%; }
  .col-xs-offset-1 { margin-left: 8.33333333%; }
  .col-xs-offset-0 { margin-left: 0; }
  .col-xs-hide { display: none; }
  .col-xs-show { display: block; }
  .topBar .container { height: 30px; line-height: 30px; color: #e2e5e9; overflow: hidden; font-size: 0.75rem; }
  .topBar .msg, .topBar .person, .topBar .quit { background-size: 60% auto; }
  .topBar .person { background-position: 50% 50%; background-size: 60% auto; }
  .topBar .quit { background-size: 70% auto; }
  .header { height: 45px; line-height: 45px; }
  .header .container { height: 45px; }
  .header .logo { width: 100px; height: 30px; }
  .header .logo a { background-size: auto 80%; }
  .header .navbar-toggle { background-size: auto 35%; width: 55px; }
  .header .navbar-toggle.collapsed { background-size: auto 35%; }
  .header .search-toggle { width: 55px; background-position: 50% 50%; background-size: auto 40%; }
  .header .search { margin-top: auto; margin-bottom: auto; top: 0; bottom: 0; background-color: #FFF; }
  .header .search .box { margin-left: 65px; height: 26px; line-height: 26px; margin-top: 10px; padding: 0 10px; }
  .header .search .txt { height: 24px; line-height: 24px; overflow: hidden; font-size: 0.9rem; }
  .header .search .btn { height: 26px; }
  .header .dropMenu { top: 45px; }
  .header .dropMenu li { font: 0.775rem/1.5rem "Microsoft Yahei"; padding: 0; }
  .header .dropMenu a { height: 1.5rem; overflow: hidden; text-transform: uppercase; margin-left: 5px; padding: 0 5px; }
  .header .dropMenu .container { padding: 10px 0; }
  .header .dropMenu ul { margin-left: 2px; margin-right: 0; }
  .footer { font-size: 0.75rem; }
  .footer .footer-info, .footer .footer-b { padding: 10px; }
  .footer h3 { font: 1.1rem/3rem "Microsoft Yahei"; }
  .footer .qr dl { margin-left: auto; margin-right: auto; }
  .footer .footer-b { line-height: 1.8em; }
  .footsec .rd_logo img { width: 70px; }
  /* FOCUS NEWS */
  .focus-box { margin-left: -10px; margin-right: -10px; }
  .focus-box li { height: 160px; }
  .focus-box .box, .focus-box .bg { height: 28px; }
  .focus-box .tit { height: 28px; line-height: 28px; font-size: 0.9375rem; }
  .keywords { font: 0.75rem/1rem "Microsoft Yahei"; max-height: 1rem; }
  .tips_blue, .tips_pink { display: inline-block; font: 0.75rem/1 "Microsoft Yahei"; overflow: hidden; padding: 3px 10px; vertical-align: middle; height: 12px; box-sizing: content-box; }
  .tips_blue b, .tips_pink b { display: none; }
  .txt-box { position: relative; }
  .txt-box .txt-mask { position: static; width: 100%; height: auto; }
  .txt-box .p-mask { display: none; }
  .img-News dt:hover .remark-box, .img-News dt.on .remark-box { display: none; }
  .img-News dd { margin-left: 0; position: relative; padding: 1px 0 1px 13px; height: auto; }
  .img-News dd:before { content: ""; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 10px; background: url(http://www.a9vg.com/css/images/dot_blue_xs.gif) 2px 12px no-repeat; }
  .img-News dl:nth-child(5)::after { content: ""; display: block; height: 10px; border-bottom: 1px solid #eceff7; margin-bottom: 10px; }
  .img-News .keywords { max-height: 0.9rem; overflow: hidden; }
  .rec-img-News { font: 0.8rem/1rem "Microsoft Yahei"; }
  .rec-img-News dl { overflow: hidden; padding-bottom: 10px; }
  .rec-img-News dt { float: left; width: 25%; padding-top: 5px; }
  .rec-img-News .img-box { float: left; }
  .rec-img-News h3 { font: 1rem/1.1rem "Microsoft Yahei"; padding: 5px 0 0 0; }
  .rec-img-News h3 a { color: #32353c; }
  .rec-img-News dd { margin-left: 27%; padding-left: 0; }
  .rec-img-News dd::before { display: none; }
  .tit_common { background: url(http://www.a9vg.com/css/images/tit-bg.gif) 0 50% repeat-x; height: 1.2rem; overflow: hidden; line-height: 1.2rem; }
  .tit_common a.fr { font-size: 0.8rem; height: 1.2rem; padding-left: 8px; font-family: "Microsoft Yahei"; }
  .tit_common h3 { background-color: #FFF; padding-left: 8px; padding-right: 8px; font: 400 1.125rem/1.2rem "Microsoft Yahei"; }
  .module_2 { font: 0.8rem/1rem "Microsoft Yahei"; }
  .module_2 dt { float: left; width: 25%; padding-top: 5px; }
  .module_2 dt a img { width: 100%; }
  .module_2 dt a .mask, .module_2 dt a .btn { display: none; position: absolute; height: 100%; width: 100%; left: 0; top: 0; cursor: pointer; }
  .module_2 dd { margin-left: 27%; padding-top: 0; padding-left: 0; height: auto; }
  .module_2 dd h3 { font: 400 0.9rem/1.1rem "Microsoft Yahei"; padding: 5px 0; max-height: none; overflow: hidden; }
  .search_PSN p { color: #585858; font-size: 1em; font-weight: 400; }
  .module_4 .txt-box { height: auto; padding-bottom: 0; }
  .module_1 { line-height: 1.1rem; font-size: 0.9rem; }
  .module_1 dt { width: 25%; overflow: hidden; padding-top: 4px; margin-right: 2%; }
  .module_1 dd { height: auto; margin-left: 27%; padding-bottom: 0; font-weight: 400; line-height: 1.1rem; float: none; }
  .module_1 dl { padding: 10px 0 10px; border-bottom: 1px solid #eceff7; width: 100%; margin-bottom: 5px; }
  .module_1 li { background-position: 2px 12px; padding-left: 15px; background-image: url(http://www.a9vg.com/css/images/dot_blue_xs.gif); font-size: 0.75rem; }
  .module_5 dt { width: 25%; margin-top: 5px; }
  .module_5 dt .remark-box { display: none; }
  .module_5 dd { height: auto; padding-bottom: 0; margin-left: 27%; margin-top: 0; }
  .module_5 dd .tips { height: 20px; line-height: 20px; margin-top: 0; }
  .module_5 dd .tips .tips_pink, .module_5 dd .tips .tips_blue { background: none; padding: 0; margin-right: 5px; color: #868b97; }
  .module_5 dd h4 { font-size: 0.9rem; line-height: 1.2rem; padding: 0; }
  .module_6 { margin-top: 15px; }
  .module_6 dl:nth-child(5)::after { display: none; }
  .module_6 dl:nth-child(4)::after { content: ""; display: block; height: 10px; border-bottom: 1px solid #eceff7; margin-bottom: 10px; }
  .module_7 .tabBox li { float: none; width: 100%; padding: 8px; }
  .module_7 .tabBox .txt { margin-left: 64px; height: 45px; overflow: hidden; font-size: 0.75rem; padding-top: 0; }
  .module_7 .tabBox .txt h3 { font-weight: 400; }
  .module_7 .tabBox .date { height: 100%; }
  .module_7 .tabBox .date .day { padding-top: 0; font: 1.8rem/2.4rem arial; }
  .module_8 .cnt:first-child li { float: none; width: 100%; padding: 8px; }
  .module_8 dd { margin-left: 64px; height: 56px; overflow: hidden; font-size: 0.75rem; }
  .module_8 dd h3 { height: 1.3rem; font-weight: 400; overflow: hidden; font-size: 0.9rem; line-height: 1.3rem; }
  .module_8 dd .text-err { font-size: 1rem; font-family: Tahoma; padding: 0 8px; }
  .photo_moudel ul { padding-bottom: 0; position: relative; height: auto; }
  .photo_moudel li { position: relative; padding-bottom: 10px; }
  .photo_moudel .box { display: block; position: static; width: 100%; height: auto; }
  .photo_moudel .tit { font: 400 0.8rem/1.3rem "Microsoft Yahei"; color: #000; margin-bottom: 0; }
  .photo_moudel .bg { display: none; }
  .photo_moudel .line1, .photo_moudel .line2 { display: none; }
  .photo_moudel .n1 { width: 100%; }
  .photo_moudel .n1 .tit { font-size: 1rem; }
  .photo_moudel .n2 { width: 50%; padding-right: 1px; }
  .photo_moudel .n3 { width: 50%; padding-left: 1px; }
  .photo_moudel .n4 { width: 50%; padding-right: 1px; }
  .photo_moudel .n5 { width: 50%; padding-left: 1px; }
  .img-News2 dl:nth-child(5) dt, .img-News2 dl:first-child dt { position: relative; width: 25%; margin-right: 2%; display: block; padding-top: 5px; }
  .img-News2 dl:nth-child(5) dt:hover .remark-box, .img-News2 dl:first-child dt:hover .remark-box { display: none; }
  .img-News2 dl:nth-child(5) dd, .img-News2 dl:first-child dd { margin-left: 27%; background: none; padding-left: 0; }
  .img-News2 dl:nth-child(5) .keywords, .img-News2 dl:first-child .keywords { display: block; }
  .img-News2 dd { margin-left: 0; position: relative; padding: 1px 0 1px 13px; height: auto; background: url(http://www.a9vg.com/css/images/dot_blue_xs.gif) 2px 12px no-repeat; }
  .img-News2 h3 { font: 400 0.75rem/1.1rem "Microsoft Yahei"; }
  .crumbs { font-size: 0.8rem; }
  .crumbs a { color: #32353c; }
  .crumbs span { font-family: "arial"; }
  .sideNav_small { font-family: "Microsoft Yahei"; font-size: 0.75rem; }
  .sideNav_small h3 { font: 400 0.75rem/1.8rem "Microsoft Yahei"; }
  .sideNav_small a { padding: 0 7px; border-radius: 10px; margin: 0 3px 5px 0; }
  .sideNav_small dd { margin-left: 5em; }
  .article_list { font-family: "Microsoft Yahei"; }
  .article_list .list dt { width: 25%; position: relative; max-width: 220px; }
  .article_list .list dt img { width: 100%; }
  .article_list .list dt .remark-box { display: none; }
  .article_list .list dt:hover .remark-box, .article_list .list dt.on .remark-box { display: none; }
  .article_list .list dd { height: auto; margin-left: 27%; }
  .article_list .list dd .tag { font-size: 0.75rem; margin-bottom: 3px; padding-bottom: 0; }
  .article_list .list dd .tag a { color: #868b97; margin-right: 5px; }
  .article_list .list dd h4 { font-size: 0.875rem; line-height: 1.1rem; font-weight: 400; }
  .article_list .list dl { padding: 12px 0 0; }
  .moreLoad_list { font-family: "Microsoft Yahei"; font-size: 0.8rem; }
  .module_9 li { float: none; width: 100%; padding: 8px; }
  .module_9 b { width: 25px; height: 25px; background-size: 100% auto; line-height: 25px; }
  .module_9 dd { margin-left: 90px; height: 56px; overflow: hidden; font-size: 0.75rem; }
  .module_9 dd h3 { height: 1.3rem; font-weight: 400; overflow: hidden; font-size: 0.9rem; line-height: 1.3rem; }
  .module_9 dd .text-err { font-size: 1rem; font-family: Tahoma; padding: 0 8px; }
  .module_10 .cnt:first-child li { width: 100%; float: none; padding: 9px 12px; background-color: #f9fafc; margin-top: 1px; }
  .module_10 .cnt:first-child li:hover { background-color: #edf6fb; }
  .module_10 .cnt:first-child li:hover a { color: #3c62a3; }
  .module_10 dt { width: 25%; margin-right: 2%; }
  .module_10 dd { margin-left: 27%; height: auto; }
  .module_10 dd h3 { font-size: 0.8rem; height: auto; overflow: hidden; line-height: 1.1rem; }
  .news-hdr { background: url(http://www.a9vg.com/css/images/dotted-line.gif) 0 100% repeat-x; padding-bottom: 10px; padding-top: 0; }
  .news-hdr h1 { font: 400 1.3rem/1.8rem "Microsoft Yahei"; padding-bottom: 10px; }
  .news-hdr .title-bar { font-size: 0.75rem; }
  .news-hdr .title-bar p { height: 1.8rem; overflow: hidden; }
  .news-hdr .title-bar p span { padding-right: 10px; }
  .article-body { font: 0.9rem/1.6rem "Microsoft Yahei"; padding-top: 10px; }
  .article-body p { padding-bottom: 10px; }
  .article-body .all-sub-title { padding-bottom: 11px; margin-bottom: 10px; }
  .article-tips { font-size: 0.75rem; font-family: "Microsoft Yahei"; color: #585858; padding-top: 3px; padding-bottom: 3px; border-bottom: 1px dotted #c2c2c2; border-top: 1px dotted #c2c2c2; }
  .article-tips a { color: #585858; }
  .mobile_read_all { padding-top: 20px; }
  .mobile_read_all a { display: block; height: 1.8rem; font-size: 0.9rem; text-align: center; background-color: #0098ee; color: #FFF; }
  .mobile_read_all a::after { content: ""; width: 7px; height: 7px; border-bottom: 2px solid #FFF; border-right: 2px solid #FFF; display: inline-block; margin-left: 8px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); vertical-align: baseline; margin-bottom: 2px; }
  .article_good { font-size: 0.8rem; }
  .article_good .iLike a { width: 20px; height: 20px; background-size: 100% auto; }
  .article_photo_gather .swiper-title { font-size: 1rem; }
  .article_photo_gather .swiper-title span { font-size: 0.9rem; }
  .article_photo_gather .swiper-title b { font-size: 1.1rem; }
  .img-News h3 { padding: 5px 0 5px 0; line-height: 1.1rem; font-size: 0.75rem; } }
@media only screen and (max-width: 480px) { /* FOCUS NEWS */
  .focus-box li { height: 100px; }
  .focus-box .n3 .tit { font-size: 0.9375rem; }
  .rec-img-News h3 { font: 0.9rem/1.1rem "Microsoft Yahei"; padding: 0; } }
/* ie6,7,8 */
@media \0screen\,screen\9 { .header .search .box { overflow: hidden; height: 40px; }
  /* FOCUS NEWS */
  .focus-box .bg { display: none; }
  .focus-box a:hover .bg { display: block; }
  .photo_moudel .bg { display: none; }
  .photo_moudel a:hover .bg { display: block; }
  .article_pages .pre.dis { filter: alpha(opacity=40); }
  .article_pages .next.dis { filter: alpha(opacity=40); }
  .module_9 dt { width: 91px; }
  .topBar div.fr { white-space: nowrap; width: 200px; } }

/* 2015.12.15 新增 关于我们 联系我们 网站地图 */
.ourinfo{padding: 4px 0 20px 32px;background-color: #fdfeff;border: 1px solid #eceff7;float: left;width: 186px;margin-left: 20px;}
.ourinfo a{display: block;width: 120px;height: 32px;line-height: 32px;color: #32353c;font-size: 18px;background-color: #f2f2f2;border-radius: 32px;text-align: center;margin-top: 20px;text-decoration: none;}
.ourinfo a:hover{background-color: #e4e4e4;}
.ourinfo a.on,.sideNav .ourinfo a.on:hover{background-color: #0098ee;color: #fff;}
.ourcontent{float: left;width: 940px;padding-left: 20px;}
.ourcontent h3{border-bottom: 1px solid #dfdfdf;color: #0098ee;font-size: 24px;line-height: 40px;font-weight: normal;}
.ourcontent h4{color: #32353c;font-size: 22px;line-height: 32px;margin-top: 25px;font-weight: normal;}
.ourcontent h5{color: #32353c;font-size: 16px;line-height: 32px;font-weight: normal;}
.ourcontent p{color: #32353c;font-size: 16px;line-height: 32px;}
.ourcontent p a{color: #868b97;margin-right: 20px;font-size: 14px;}
.ourcontent p.ts a{font-size: 16px;color: #32353c;}
.ourcontent p.mt{margin-top: 20px;}
@media screen and (max-width: 1240px){
    .ourinfo{width: 140px;padding-left: 20px;}
    .ourcontent{width: 760px;}
}
@media screen and (max-width: 998px){
    .ourinfo{width: 96%;float: none;margin: 0 2%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
    .ourinfo a{display: inline-block;margin-right: 10px;}
    .ourcontent{width: 100%;float: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0 20px;margin-top: 20px;}
}