@charset  "utf-8";
/* ### reset all styles ### */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	vertical-align: top;
}
a img {
	border: 0;
}
th {
	font-style: normal;
	font-weight: 400;
	text-align: left;
}
ol,ul,dl,dt,dd {
	list-style: none;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
	text-align: left;
}
h1,h2,h3,h4 {
	font-size: 100%;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
table {
	font-size: inherit;
	font: 100%;
}

body {
	font-family: Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",Arial,Sans-serif;
	font-size: 75%;
}
/* without ie8 and before hack */
html:not(:target) body {
	font-size: 12px;
}
/* ie9 hack */
@media screen\0 {
	html:not(:target) body {
		font-size: 75%;
	}
}
body {
	line-height: 1.231;
	letter-spacing: 0;
}

input,textarea {
	font-family: Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",Arial,Sans-serif;
}
/* without ie8 and before hack */
html:not(:target) input,
html:not(:target) textarea {
	font-size: 12px;
}

/* ### base structure ### */
body {
	margin: 0;
	padding: 0;
	text-align: center;
}
#body {
	margin: 0 0 43px;
}

/* minimum width */
#bodyWrapper {
	width: auto;
	margin: 0 auto;
	min-width: 86.3em;
	text-align: left;
	background: #fff;
	zoom: 1;
	position: relative;
}
#minWidth {
	min-width: 85em;
}
#minWidthInbox {
	margin: 0 auto;
	min-width: 1020px;
	padding: 0 0.65em;
	position: relative;
	width: 85em;
}

/* 3 column */
#colwrapper {
	float: left;
	min-width: 660px;
	width: 64.7%;
}
#ccol {
	float: right;
	min-width: 435px;
	width: 65.9%;
}
#lcol {
	float: left;
	min-width: 215px;
	width: 32.57%;
}
#rcol {
	float: right;
	min-width: 350px;
	width: 34.08%;
}

/* ### public style ### */
a {
	color: #0029a6;
	text-decoration: none;
}
a:visited {
	color: #609;
	text-decoration: none;
}
a:hover {
	color: #c30;
	text-decoration: underline;
}
span.iconup {
	vertical-align: baseline !important;
	padding: 0 0 0 1px;
	width: 11px;
	height: 9px;
	background-position: -130px -100px;
}
span.iconnew {
	vertical-align: baseline !important;
	padding: 0 0 0 1px;
	margin: 0 0 0 .1em;
	width: 17px;
	height: 9px;
	background-position: -130px -112px;
}
span.iconphoto {
	vertical-align: baseline !important;
	padding: 0 0 0 1px;
	margin: 0 0 0 .1em;
	width: 10px;
	height: 10px;
	background-position: -131px -66px;
}
span.iconpr {
	vertical-align: baseline !important;
	padding: 0 0 0 1px;
	margin: 0 0 0 .2em;
	width: 23px;
	height: 11px;
	background-position: -158px -110px;
}
.imagebox a img {
	border: solid 1px #7996ef;
	margin: 0 0 3px;
}
.imagebox a:visited img {
	border: solid 1px #609;
}
div.hd h2 {
	float: left;
}
div.hd h2 a {
	color: #333;
	text-decoration: underline;
}
div.hd h2 a:visited {
	color: #333;
	text-decoration: underline;
}
div.hd h2 a:hover {
	color: #c30;
	text-decoration: none;
}
div.hd div.setting {
	font-size: 108%;
	float: right;
}
div.hd div.setting span {
	display: inline-block;
	*display: inline;
	zoom: 1;
	background-color: #fff;
	margin: 2px 3px 0;
}
div.hd div.setting span a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	background-position: right -223px;
	padding: 5px 16px 4px 8px;
}
div.hd div.setting span a:link,
div.hd div.setting span a:visited {
	color: #0029a6;
}
div.hd div.setting span a:hover {
	color: #c30;
}
div.hd div.setting span.on {
	background: #434343;
	z-index: 21;
}
div.hd div.setting span.on a {
	color: #fff;
	border-top: solid 1px #fff;
	padding-top: 4px;
	text-decoration: underline;
}
div.cont ul li {
	padding: 0 0 .5em;
}

/* ### header sprite image ### */
#hdtext div.today span,
#hdtext dl.settheme dt a,
#hdtext div.setstart a,
#hdsupport li a span,
#hdhistory dt,
#personal ul.button li a {
	background: url(../img/new_header_sprite.png?160617) no-repeat;
}

/* ### sprite image ### */
#hmenu .change a,
#ocnmail div.mailinbox a.mailtitle span.read,
#mypoint div.mypointinbox a.pointtitle span.read,
div.hd div.setting span a,
#pointblock div.hd h2 span,span.iconup,span.iconnew,span.iconphoto,span.iconpr,
#weather .warning ul li span.normal,
#weather .warning ul li a.notice,
#weather .warning ul li a.typhoon,
#mailfloatbox div.status p.desc,
#pointmenu #logfloatbox div.floathd div.lead,
#pointmenu div.floatbox div.floathd a.closeicon,
#pointmenu div.nologin .inbox .btn .btnlogin,
#ocnmail div.mailinbox a.icon,
#mypoint div.mypointinbox a.icon,
#mypoint .goopoint span,
#mypoint .pointalk span,
#logfloatbox div.table table.cal td div.coin span,
#servicelist div.btnclose a,
#businesslist div.btnclose a,
#ocnsupport .closesupport a,
#recentlykeyword .closesupport a,
#joyful #customers div.btnclose a,
#shufoo div.setting span a,
#fortune div.star span,
#newsft div.cp a,
#rcol #trendtopics ol li .rank,
#rcol #trendtopics .accordion i {
	display: inline-block;
	*display: inline;
	zoom: 1;
	background-image: url(../img/new_sprite.png?20160617);
	background-repeat: no-repeat;
	vertical-align: top;
}
#hsearch ul.schtype li#moresearch a span,
#hsearch form input.submit,
#loginmypoint a,
#loginmypocket a,
#personal div.floatbox div.floathd div.lead,
#personal div.floatbox div.floathd a.closeicon,
#mailfloatbox div.result ul li a,
#mypointfloatbox div.announce p.qalink,
#cpickup ul.cpickuplist li a,
#provider li.marker a,
#ocnmail .hukidashi,
#mypoint .hukidashi,
#selection div.cont ul li a,
#oshiete ul.q li a,
#press div.cont ul li a,
#transit .form input.search,
#pointmenu a.pointmenu,
#pointmenu div.nologin .inbox .howto .lead,
#servicelist h3,
#businesslist h3,
#joyful #customers .guide ul li span.guidemarker,
#ocnsupport .sugbody ul li,
#recentlykeyword .sugbody ul li,
#newsft ul li,
#hsearch ul.schtype li.on a,
#topicsbox div.topicslc ul li,.newspr,
#train ul li,
#wcup2014brazil div.wcup2014today div.pickup ul li,.gooad-ldtext2 a.osmelink span.osmeh2,
#ccol #osusume h2,
#ccol #osusume span.lead,
#todayscolumn .logo,
#selection ul.pagingselection li.prev,
#selection ul.pagingselection li.next,
#zipcode div.submit input.image,
#rcol div.rcollabo .lead,
#ocncampaign ul li,
#announce .txtbox .list li span {
	background-image: url(../img/new_sprite.png?20160617);
	background-repeat: no-repeat;
}
#earthquake h2,
#selection div.hd ul li.on a,
#logfloatbox div.table table.cal td.on div.calbg,
#logfloatbox div.table table.cal td.sel div.calbg,
#importantinfo h2,
#selection ul.pagingselection li.on,
#pointblock div.cont .inbox {
	background-image: url(../img/gr.gif);
	background-repeat: repeat-x;
}
#hmenu .change a span,
#ocnmail div.mailinbox a.mailtitle span.read span,
#mypoint div.mypointinbox a.pointtitle span.read span,
#personal ul.button li a span,
#personal div.floatbox div.floathd a span,
#personal div.floatbox div.floathd div.lead span,
#mailfloatbox div.status p.desc span,
#pointmenu div.connect a.on span,
#pointmenu div.connect a.off span,
#pointmenu div.floatbox div.floathd a.closeicon span,
#logfloatbox div.table table.cal td div.coin span span,
#ocnsupport .closesupport a span,
#recentlykeyword .closesupport a span,
#servicelist div.btnclose a span,
#businesslist div.btnclose a span,
#pointmenu #logfloatbox div.floathd div.lead span,
#newsft div.cp a span,span.iconup span,span.iconnew span,span.iconphoto span,
#fortune div.star span span,
#pointmenu div.nologin .inbox .howto .lead span,
#pointmenu div.nologin .inbox .btn .btnlogin span,
#joyful #customers div.btnclose a span,
#ocnmail div.mailinbox a.icon span,
#weather .warning ul li span,
#todayscolumn .logo span,
#pointapply,
#pointapplying,
#pointapplied,
#pointerror,
#hdhistory dt span {
	display: none;
}

/* ### center column ### */
#ccol {
	margin: 0 0 10px;
	color: #333;
}
#ccol h2 {
	font-size: 116%;
	font-weight: 700;
	padding: 4px 4px 4px 11px;
}
#ccol div.hd {
	border-bottom: 0;
	padding-top: 2px;
}
#ccol div.hd div.setting {
	margin-top: -1px;
}
#ccol div.cont {
	padding: 8px 8px 4px;
}
#ccol div.hd .addlink {
	font-size: 108%;
	float: right;
	padding: 4px;
	color: #bcc0cc;
}

/* news topics */
#news {
	background: #fff;
	margin: 0 0 10px;
	*position: relative;
	*z-index: 10;
	zoom: 1;
}
#newstab {
	border-right: solid 1px #bcc0cc;
	border-top: solid 1px #bcc0cc;
	font-size: 108%;
	position: relative;
	z-index: 9;
	zoom: 1;
	overflow: hidden;
}
#newstab li {
	float: left;
	text-align: center;
}
#newstab li.on {
	font-weight: 700;
}
#newstab li.tab1,
#newstab li.tab2,
#newstab li.tab3,
#newstab li.tab4 {
	width: 14%;
}
#newstab li.tab5,
#newstab li.tab6 {
	width: 15%;
}
#newstab li.tab7 {
	margin-right: -2px;
	position: relative;
	width: 14%;
}
#newstab li.tab7 span {
	margin: 0 -2px 0 -1px;
	padding: 0 2px 0 1px;
	position: relative;
}
#newstab li span {
	display: block;
	background: #f0f3f8;
	border-left: solid 1px #bcc0cc;
	border-bottom: solid 1px #bcc0cc;
	margin: 0;
	zoom: 1;
}
#newstab li.on span {
	background: #fff;
	border-bottom: 0;
	position: relative;
}
#newstab li span a {
	display: block;
	padding: 7px 0 6px;
	zoom: 1;
}
#newstab li.on span a {
	padding-top: 7px;
	padding-bottom: 7px;
}
#newstab li a {
	color: #4e5860;
}
#newstab li.on a {
	color: #333;
}
#newstab li a:hover {
	color: #c30;
}

#topicsbox {
	border-right: solid 1px #bcc0cc;
	border-bottom: solid 1px #bcc0cc;
	border-left: solid 1px #bcc0cc;
	padding: 13px 9px 4px;
}
#topicsbox div.topicsrc {
	width: 133px;
	float: right;
	min-height: 330px;
}
#topicsbox .imagebox {
	text-align: center;
	margin: 0 3px .8em 0;
}
#topicsbox .imagebox p {
	text-align: left;
	margin: 0;
	color: gray;
}
#topicsbox .imagebox p a {
	font-size: 108%;
}
#topicsbox .imagebox .image {
	display: table;
	*display: block;
	margin: 0 0 .25em;
	text-align: center;
	background: #ededed;
	border: 1px solid #dde2f0;
	width: 128px;
	height: 88px;
	overflow: hidden;
	*layout-grid-line: 100%;
}
#topicsbox .imagebox .image span {
	display: table-cell;
	vertical-align: middle;
}
#topicsbox .imagebox img {
	float: none;
	margin: 0;
	vertical-align: middle;
	*vertical-align: top;
	border: 0;
	max-height: 88px;
	max-width: 128px;
}
#topicsbox .update {
	font-size: 100%;
	text-align: right;
	padding: 4px 0 4px 4px;
}
#topicsbox div.topicslc {
	font-size: 116%;
	margin: 0 141px 12px 0;
	min-height: 318px;
	*height: auto;
}
#topicsbox div.topicslc ul li {
	margin: 0 0 10px;
	padding: 0 0 0 6px;
	background-position: -335px -470px;
	*background-position: -335px -466px;
	white-space: nowrap;
}
#topicsbox div.topicslc ul li a {
	zoom: 1;
}
#topicsbox div.topicslc ul li a,
#topicsbox div.topicslc ul li span.iconphoto,
#topicsbox div.topicslc ul li span.iconnew {
	*vertical-align: middle !important;
}
#topicsbox div.topicslc ul li span.iconphoto,
#topicsbox div.topicslc ul li span.iconnew {
	margin-left: -.15em;
	*margin-left: 1px;
}

#newsft {
	font-size: 108%;
	padding: 1px 2px 3px;
}
#newsft div.cp {
	float: right;
	padding: 2px 0;
}
#newsft div.cp a.goonews {
	width: 77px;
	height: 15px;
	background-position: 0 -394px;
}
#newsft ul {
	float: left;
}
#newsft ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 10px 0 0;
	padding: 2px 9px 2px 0;
	background-position: right -415px;
}
#newsft ul li.last {
	margin: 0;
	padding: 2px 0;
	background: transparent;
}

#gooad-tpxtext_1 {
	clear: both;
	zoom: 1;
}

.newspr {
	margin: 0 0 10px;
	padding: 0 0 0 6px;
	background-position: -335px -470px;
	*background-position: -335px -468px;
	white-space: nowrap;
}
.newspr a {
	color: #0029a6;
}
.newspr img {
	vertical-align: middle;
	margin-bottom: 0 !important;
	margin-top: -3px;
}

#ccol #osusume {
	background: #f7f7f7;
	padding: 8px;
	margin: 0 0 10px;
	border: solid 1px #bcc0cc;
}
#ccol #osusume h2,
#ccol #osusume span.lead {
	padding: 0 0 0 12px;
	font-weight: 700;
	margin: 0 0 .4em;
	background-position: -330px -574px;
}
#ccol #osusume span.lead,
#ccol #osusume span.text {
	display: block;
}
#ccol #osusume.gooad-ldtext2,
#osusume2.gooad-ldtext2 {
	min-height: 0;
}
.gooad-ldtext2 a.osmelink {
	color: #000;
	display: block;
	min-height: 100px;
	padding: 5px 5px 5px 4px;
	text-decoration: none;
}
.gooad-ldtext2 a.osmelink:hover {
	background-color: #efefef;
	text-decoration: none;
	color: #000;
}
.gooad-ldtext2 a.osmelink span.osmeh2 {
	padding: 0 0 0 12px;
	font-weight: 700;
	margin: 0 0 .4em;
	background-position: -330px -574px;
	display: block;
}
.gooad-ldtext2 a.osmelink span.osmetxt {
	line-height: 1.5;
	margin: 0 0 0 1px;
	display: block;
}
.gooad-ldtext2 a.osmelink span.osmetxt strong {
	color: #0029a6;
	font-weight: 400;
}
.gooad-ldtext2 a.osmelink img {
	float: right;
	margin-left: .5em;
}

body #body #ccol .ocnad-ldtext {
	padding: 4px;
}
.ocnad-ldtext a {
	color: #000;
	display: block;
	min-height: 100px;
	padding: 5px 9px 5px 5px;
	text-decoration: none;
}
.ocnad-ldtext a:hover {
	background-color: #efefef;
	text-decoration: none;
	color: #000;
}
.ocnad-ldtext a img {
	float: right;
	margin-left: .5em;
}
.ocnad-ldtext a strong {
	color: #0029a6;
	font-weight: 400;
}
.ocnad-ldtext a span.text {
	line-height: 1.5;
	margin-top: .6em;
	padding-left: 4px;
}

#selection {
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
	padding: 7px 0 13px;
}
#selection div.cont {
	background: none;
}
#selection ul.pagingselection {
	font-size: 108%;
	width: 224px;
	margin: 0 auto;
	padding: 0;
	border: solid 1px #bcc0cc;
	border-left: 0;
}
#selection ul.pagingselection li {
	border-left: solid 1px #bcc0cc;
	width: 27px;
	float: left;
	text-align: center;
	margin: 0;
	padding: 0;
}
#selection ul.pagingselection li a {
	display: block;
	zoom: 1;
	margin: 0;
	padding: 3px 0 1px;
}
#selection ul.pagingselection li.on {
	background-color: #414b54;
	background-position: 0 -680px;
}
#selection ul.pagingselection li a:hover {
	color: #c30;
}
#selection ul.pagingselection li.on a {
	color: #fff;
	font-weight: 700;
}
#selection ul.pagingselection li.prev {
	background-position: 0 -463px;
}
#selection ul.pagingselection li.next {
	background-position: -90px -463px;
}
#selection ul.pagingselection li.prev span,
#selection ul.pagingselection li.next span {
	visibility: hidden;
}
#selection div.pickup {
	line-height: 1.4;
	padding: 0 0 11px;
	margin: 0 0 8px;
}
#selection div.pickup .imagebox {
	width: 140px;
	float: left;
}
#selection div.pickup .lead {
	font-size: 133%;
	font-weight: 700;
	margin: 0 0 .3em 150px;
}
#selection div.pickup p {
	font-size: 116%;
	margin: 0 0 0 150px;
}
#selection div.cont ul {
	font-size: 108%;
	padding: 0 0 14px;
}
#selection div.cont ul li {
	width: 49.5%;
	float: left;
	padding: 0 0 .3em;
}
#selection div.cont ul li a {
	background-position: -333px -144px;
	padding: 0 0 0 7px;
}

#digitalstore {
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
}
#digitalstore div.cont {
	padding: 9px 10px 10px;
}
#digitalstore div.cont p {
	font-size: 116%;
	margin: 0 0 10px;
	padding: 0;
	overflow: hidden;
	*zoom: 1;
}
#digitalstore div.cont span.rtlink {
	float: right;
}
#digitalstore #digitalstorebox .boxl {
	float: left;
}
#digitalstore #digitalstorebox .boxm,
#digitalstore #digitalstorebox .boxr {
	float: right;
}
#digitalstore #digitalstorebox .boxin {
	float: left;
	width: 66%;
}
#digitalstore #digitalstorebox .boxr {
	width: 31%;
	margin: 0;
	padding: 0;
}
#digitalstore #digitalstorebox .boxl,
#digitalstore #digitalstorebox .boxm {
	width: 48%;
	margin: 0;
	padding: 0;
}
#digitalstore #digitalstorebox .ttl {
	font-size: 108%;
	clear: both;
}
#digitalstore #digitalstorebox img {
	display: block;
	margin: 0 auto 5px;
	border: 1px #bcc0cc solid;
}

#ocnshoping {
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
}
#ocnshoping div.cont {
	padding: 9px 10px 10px;
}
#ocnshoping #ocnshopingbox {
	line-height: 1.45;
}
#ocnshoping #ocnshopingbox .ttl {
	font-size: 108%;
	margin: 0 0 0 75px;
	min-width: 120px;
}
#ocnshoping #ocnshopingbox .ttl a {
	display: block;
	padding-top: .55em;
}
#ocnshoping #ocnshopingbox .boxl {
	float: left;
	width: 49%;
}
#ocnshoping #ocnshopingbox .boxr {
	float: right;
	width: 49%;
}
#ocnshoping #ocnshopingbox img {
	border: 1px #bcc0cc solid;
	float: left;
}
#ocnshoping #ocnshopingbox .boxin {
	margin-bottom: 6px;
}
#ocnshoping #ocnshopingbox .boxin:after {
	content: "";
	display: block;
	clear: both;
}
#ocnshoping #ocnshopingbox .boxin {
	*height: 1%;
}

#fortune {
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
}
#fortune div.zodiac {
	padding: 0 6px 3px 0;
	float: left;
}
#fortune div.fortunebox {
	display: inline-block;
	margin: 6px 0 0;
}
#fortune div.fortunebox div {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
#fortune div.seiza {
	font-size: 116%;
	font-weight: 700;
}
#fortune div.seiza span.month {
	font-weight: 400;
	font-size: 75%;
	margin: 0 0 0 3px;
}
#fortune div.rank {
	font-size: 116%;
	font-weight: 700;
	color: #cd0909;
	margin-left: 14px;
}
#fortune div.rank span {
	margin: 0 2px;
	vertical-align: baseline;
}
#fortune div.rank span.all {
	background: none;
	color: #000;
}
#fortune div.rank span.num {
	background: none;
	font-size: 18px;
}
#fortune div.star span {
	margin: 0 2px;
	vertical-align: baseline;
	width: 13px;
	height: 13px;
}
#fortune div.star span.allon {
	background-position: 0 -446px;
}
#fortune div.star span.alloff {
	background-position: -13px -446px;
}
#fortune div.star span.loveon {
	background-position: -26px -446px;
}
#fortune div.star span.loveoff {
	background-position: -39px -446px;
}
#fortune div.star span.kinon {
	background-position: -52px -446px;
}
#fortune div.star span.kinoff {
	background-position: -65px -446px;
}
#fortune div.star span.workon {
	background-position: -78px -446px;
	width: 16px;
}
#fortune div.star span.workoff {
	background-position: -93px -446px;
	width: 16px;
}
#fortune div.star span.more {
	background: none;
	margin: 0 0 0 8px;
	width: auto;
	vertical-align: top;
}

#oshiete {
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
}
#oshiete div.cont {
	padding: 3px 1px;
}
#oshiete ul.tab li {
	font-size: 108%;
	float: left;
	width: 20%;
	text-align: center;
}
#oshiete ul.tab li span {
	display: block;
	border-right: solid 1px #bcc0cc;
}
#oshiete ul.tab li.on span {
	background: #e4e9f2;
}
#oshiete ul.tab li.last span {
	border: 0;
}
#oshiete ul.tab li span a {
	display: block;
	border-right: solid 1px #fff;
	border-left: solid 1px #fff;
	padding: 4px 0 3px;
	color: #333;
}
#oshiete ul.tab li span a:hover {
	color: #c30;
}
#oshiete ul.q {
	font-size: 108%;
	padding: 6px 8px 1px;
}
#oshiete ul.q li a {
	background-position: -333px -144px;
	padding: 0 7px;
}

#support,
#press {
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
}
#press h3 {
	padding: 0 0 8px;
	font-weight: 700;
}
#press h3 a {
	color: #333;
	text-decoration: underline;
}
#press h3 a:hover {
	color: #c30;
	text-decoration: none;
}
#press div.cont {
	font-size: 108%;
}
#press div.cont ul li a {
	background-position: -333px -144px;
	padding: 0 0 0 7px;
}

#ccol .ccolpickup {
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
}
#ccol .ccolpickup div.cont {
	padding: 10px 13px 12px;
}
#ccol .ccolpickup .ccolpickinbox .boxl {
	float: left;
}
#ccol .ccolpickup .ccolpickinbox .boxm,
#ccol .ccolpickup .ccolpickinbox .boxr {
	float: right;
}
#ccol .ccolpickup .ccolpickinbox .boxin {
	float: left;
	width: 65.61%;
}
#ccol .ccolpickup .ccolpickinbox .boxr {
	width: 31%;
	margin: 0;
	padding: 0;
}
#ccol .ccolpickup .ccolpickinbox .boxl,
#ccol .ccolpickup .ccolpickinbox .boxm {
	width: 47.36%;
	margin: 0;
	padding: 0;
}
#ccol .ccolpickup .ccolpickinbox .ttl {
	font-size: 108%;
	line-height: 1.5;
	margin: 0 .25em;
	word-break: break-all;
}
#ccol .ccolpickup .ccolpickinbox .ttl span {
	color: #959595;
	margin-left: .25em;
}
#ccol .ccolpickup .ccolpickinbox .image {
	background: #f2f5fa;
	display: table;
	*display: block;
	margin-bottom: 5px;
	width: 100%;
	height: 70px;
	text-align: center;
}
#ccol .ccolpickup .ccolpickinbox .image span {
	display: table-cell;
	vertical-align: middle;
	border: 1px #dde2f0 solid;
	*display: block;
	*height: 68px;
	*layout-grid-line: 100%;
	*vertical-align: top;
}
#ccol .ccolpickup .ccolpickinbox .image span img {
	*vertical-align: top;
	max-height: 68px;
	max-width: 124px;
}

.pagingcommon {
	font-size: 116%;
	padding: 5px 5px 15px;
	text-align: center;
}
.pagingcommon ul {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}
.pagingcommon li {
	border-left: solid 1px #bcc0cc;
	float: left;
}
.pagingcommon li a {
	display: inline-block;
	margin: 0 2px;
	padding: 0 6px;
	width: 1em;
	vertical-align: top;
}
.pagingcommon li.on a {
	color: #333;
	font-weight: bold;
}
.pagingcommon .prev,
.pagingcommon .prev + li,
.pagingcommon .next {
	border-left: 0;
}
.pagingcommon .prev a,
.pagingcommon .next a {
	padding: 0.3em;
}
.pagingcommon .prev span,
.pagingcommon .next span {
	border: 0.3em solid transparent;
	display: inline-block;
	height: 0;
	overflow: hidden;
	vertical-align: top;
	width: 0;
}
.pagingcommon .prev span {
	border-right-color: #bcc0cc;
	border-right-width: 0.45em;
}
.pagingcommon .next span {
	border-left-color: #bcc0cc;
	border-left-width: 0.45em;
}
.pagingcommon .prev a:hover span {
	border-right-color: #c30;
}
.pagingcommon .next a:hover span {
	border-left-color: #c30;
}

#announce {
	font-size: 116%;
	margin: 0 0 10px;
}
#announce .banner {
	text-align: center;
}
#announce .txtbox {
	border: 1px solid #bcc0cc;
	padding: 9px;
}
#announce .txtbox .thumb {
	margin-right: 9px;
	float: left;
}
#announce .txtbox .list {
	margin: 0 0 0 60px;
	padding: 4px 0 0;
	line-height: 1.5;
}
#announce .txtbox .list li {
	padding: 2px 0;
}
#announce .txtbox .list span {
	display: inline-block;
	padding: 0 0 0 6px;
	background-position: -335px -468px;
}
#announce .txtbox .list a {
	zoom: 1;
}
#announce .single .list {
	padding: 14px 0 0;
}
#announce .nothumb .list {
	margin: 0;
	padding: 0;
}

/* ### left column ### */
#lcol {
	margin: 0 0 10px;
	color: #333;
}
#lcol div.lbox {
	background: #edf2ff;
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
}
#lcol div.btn {
	margin: 0 0 10px;
}
#lcol div.banner {
	margin: 0 0 10px;
	text-align: center;
}
#lcol div.hd .addlink {
	float: right;
	padding: 6px 4px 4px;
}
#lcol h2 {
	font-size: 116%;
	font-weight: 700;
	padding: 7px 4px 3px 8px;
}
#lcol div.hd div.setting span {
	margin-top: 5px;
}
#lcol div.hd div.setting span a {
	border: solid 1px #bcc0cc;
	padding: 2px 13px 1px 6px;
}
#lcol div.cont {
	padding: 10px 4px 4px;
}
#lcol div.cont ul {
	padding: 0 4px;
}
#lcol div.wimage {
	margin: 0 0 4px;
}
#lcol div.wimage img {
	float: left;
}
#lcol div.wimage p {
	font-size: 108%;
	margin: 0 0 0 50px;
}

#lcol .topinfo,
#lcol .topinfo2 {
	font-size: 116%;
	line-height: 1.4;
	margin: 0 0 10px;
}
#lcol .topinfo {
	background: #edf2ff;
	border: solid 1px #bcc0cc;
	padding: 10px 8px 8px;
}
#lcol .topinfo .infotitle {
	font-weight: 700;
	margin: 0 0 7px;
}
#lcol .topinfo ul li {
	margin-bottom: 7px;
}
#lcol .topinfo ul li.last {
	margin-bottom: 0;
}
#lcol .topinfo2 {
	background: #fff !important;
	border: solid 3px #bcc0cc;
	font-size: 116%;
	padding: 8px 6px 2px;
}
#lcol .topinfo2 ul.topinfo2list li {
	margin: 0 0 7px;
}

#lcol #emergency {
	background: #fff;
	border: solid 3px #bcc0cc;
}
#lcol #emergency h2 {
	background: transparent;
	padding: 5px 4px 3px;
	color: #c33;
}
#lcol #emergency h2 a {
	color: #c33;
}
#lcol #emergency div.hd {
	background-image: url(../img/gr.gif);
	background-repeat: repeat-x;
	border: solid 1px #fff;
	border-top: 0;
	background-color: #f3f3f3;
	background-position: 0 -610px;
	color: #c33;
}
#lcol #emergency div.cont {
	background: none !important;
	padding: 8px 2px 2px;
}
#lcol #emergency ul.emergencylist li {
	font-size: 116%;
	margin: 0 0 7px;
	padding: 0;
}

#personal {
	border: 1px solid #bcc0cc;
	margin: 0 0 10px;
	background: #edf2ff;
	zoom: 1;
}
#personal .outbox {
	margin: 1px;
}
#personal .inbox {
	padding: 4px;
}
#personal .user {
	font-size: 116%;
	margin: 0 0 3px;
	padding: 5px 0;
}
#personal .user a {
	font-weight: 700;
	padding: 0 .2em;
}

#ocnmail div.mailinbox a.icon:hover,
#mypoint div.mypointinbox a.icon:hover {
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter: alpha(opacity=60);
}
#ocnmail div.mailinbox a.mailtitle:hover span,
#mypoint div.mypointinbox a.pointtitle:hover span {
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter: alpha(opacity=60);
}
#ocnmail {
	margin: 0 0 6px;
	background: #fff;
	border: 1px solid #bcc0cc;
	position: relative;
	zoom: 1;
	z-index: 10;
}
#ocnmail div.mailinbox {
	position: relative;
}
#ocnmail div.mailinbox a.mailtitle {
	padding: 10px 6px 0;
	display: block;
	cursor: pointer;
	zoom: 1;
}
#ocnmail div.mailinbox a.mailtitle span.read {
	background-position: -200px -23px;
	width: 114px;
	height: 17px;
	margin: 0 0 10px;
}
#ocnmail div.mailinbox a.mailtitle span.unread {
	display: block;
	color: #333;
}
#ocnmail div.mailinbox a.icon {
	background-position: -119px -40px;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 17px;
	height: 17px;
}
#ocnmail div.mailinbox a:hover {
	text-decoration: none;
}
#ocnmail span.unread {
	border-top: 1px dotted #bcc0cc;
	padding: 6px 0 5px;
	font-size: 13px;
}
#ocnmail span.unread strong {
	padding: 0 0 0 10px;
	color: #ed000d;
}

#mypoint {
	margin: 0 0 6px;
	background: #fff;
	border: 1px solid #bcc0cc;
	position: relative;
	zoom: 1;
	z-index: 10;
}
#mypoint div.mypointinbox {
	position: relative;
}
#mypoint div.mypointinbox a.pointtitle {
	padding: 7px 6px 0;
	display: block;
	cursor: pointer;
	zoom: 1;
}
#mypoint div.mypointinbox a.pointtitle span.read {
	background-position: 0 -481px;
	width: 114px;
	height: 23px;
	margin: 0 0 7px;
}
#mypoint div.mypointinbox a.pointtitle span.unread {
	display: block;
	color: #333;
}
#mypoint div.mypointinbox a.icon {
	background-position: -65px -39px;
	position: absolute;
	top: 6px;
	right: 9px;
	width: 26px;
	height: 26px;
}
#mypoint div.mypointinbox a:hover {
	color: #333;
	text-decoration: none;
}
#mypoint ul {
	border-top: 1px dotted #bcc0cc;
	padding: 8px 0;
}
#mypoint ul strong {
	padding: 0 3px 0 0;
	color: #ed000d;
}
#mypoint ul li {
	line-height: 1.7;
	text-align: center;
}
#mypoint ul li.secclm {
	margin-top: 4px;
}
#mypoint ul li span {
	font-size: 12px;
	height: 20px;
	width: 100%;
}
#mypoint ul li.pointalk span {
	background-position: -2px -531px;
	text-align: right;
}
#mypoint ul li.goopoint span {
	background-position: -2px -509px;
	text-align: right;
}
#mypoint.pointlogout {
	margin-top: -6px;
	border-top: none;
}
#mypoint .hukidashi {
	background-position: -331px -617px;
	width: 15px;
	height: 20px;
	position: absolute;
	top: 37px;
	left: -5px;
	z-index: 20;
}

#personal div#mypointfloatbox {
	background-color: #fff;
	border: solid 1px #d7dbde;
	width: 170px;
	z-index: 10;
}
#personal div#mypointfloatbox div.inbox {
	border: none;
}
#personal div#mypointfloatbox div.inbox div.inbox div.inbox {
	background-color: #FDFBE4;
	border: solid 2px #8b8b8b;
	margin: 1px;
}
#personal div#mypointfloatbox div.floathd {
	background: none;
	padding-bottom: 0;
}
#personal div#mypointfloatbox div.floathd a.closeicon {
	background-position: -160px -40px;
}
#personal div#mypointfloatbox div.floathd a.closeicon:hover {
	text-decoration: none;
	color: #333;
}
#mypointfloatbox div.announce {
	padding: 4px 12px 5px;
	text-align: center;
}
#mypointfloatbox div.announce p.desc {
	font-size: 13px;
	line-height: 1.4;
	padding: 0 0 10px;
}
#mypointfloatbox div.announce p.qalink {
	background-position: -333px -68px;
	padding: 0 0 5px 10px;
}

#mymenu {
	position: relative;
	margin: 0 0 4px;
	border-top: 1px solid #bcc0cc;
}
#mymenu img {
	vertical-align: top;
}
#mymenu li {
	border: 1px solid #bcc0cc;
	border-top: 0;
	background: #fff;
	zoom: 1;
}
#mymenu a.mymenu {
	font-size: 116%;
	padding: 7px 0 6px 31px;
	display: block;
	zoom: 1;
}
#mymenu a.point {
	text-align: right;
	padding: 6px 10px 4px 31px;
	display: block;
	zoom: 1;
}
#mymenu a.point:hover {
	color: #915b00;
}
#mymenu a.point span {
	font-size: 150%;
	color: #915b00;
	margin: 0 0 0 .2em;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 1;
}
#mymenu a.point span span {
	font-size: 75%;
	letter-spacing: 0;
}

#loginmypoint a {
	background-position: 1px -289px;
}
#loginmypocket a {
	background-position: -310px -369px;
}

#personal ul.button {
	margin: 0 -6px 6px -3px;
	text-align: center;
}
#personal ul.button li {
	display: inline;
	padding: 0 4px 0 3px;
}
#personal ul.button li a {
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
}
#personal ul.button li a,
#personal ul.button li a.first,
#personal ul.button li a.rireki {
	width: 88px;
	height: 20px;
}
#personal ul.button li a.login {
	background-position: 0 -420px;
}
#personal ul.button li a.logout {
	background-position: 0 -440px;
}
#personal ul.button li a.first {
	background-position: 0 -460px;
}
#personal ul.button li a.rireki {
	background: transparent;
	height: auto;
	margin: 4px 0 0;
}
#personal div.floatbox {
	position: absolute;
	z-index: 10;
	left: 100%;
	top: -27px;
	width: 205px;
	margin-left: 10px;
}
#personal div.floatbox div.inbox {
	margin: 0 1px;
	padding: 0;
	border: 0;
	border-top: solid 1px #d7dbde;
	border-bottom: solid 1px #d7dbde;
	background: #fdfbe4;
}
#personal div.floatbox div.inbox div.inbox {
	margin: 0 -1px;
	border: 0;
	border-left: solid 1px #d7dbde;
	border-right: solid 1px #d7dbde;
	zoom: 1;
}
#personal div.floatbox div.inbox div.inbox div.inbox {
	margin: 0;
	border: solid 1px #fdfbe4;
	text-align: left;
}
#personal div.floatbox div.floathd {
	width: 100%;
	display: inline-block;
	padding: 4px 0;
	background: #fdc75d;
}
#personal div.floatbox div.floathd div.lead {
	float: left;
	background-position: 0 -213px;
	width: 131px;
	height: 14px;
	margin: 0 0 0 8px;
}
#personal div.floatbox div.floathd a.closeicon {
	float: right;
	margin: 0 4px 0 0;
	background-position: -99px -41px;
	width: 12px;
	height: 12px;
}

#mailfloatbox div.status {
	padding: 10px 12px 5px;
	text-align: center;
}
#mailfloatbox div.status p.desc {
	background-position: 0 -157px;
	width: 165px;
	height: 48px;
	margin: 0 0 8px;
}
#mailfloatbox div.result .btn {
	margin: 0 0 10px;
}
#mailfloatbox div.result .txt {
	margin: 0 0 10px;
	text-align: center;
}
#mailfloatbox div.result ul {
	text-align: left;
	margin: 0 0 0 8px;
}
#mailfloatbox div.result ul li {
	padding: 0 0 7px;
}
#mailfloatbox div.result ul li a {
	background-position: -333px -66px;
	padding: 0 0 0 10px;
}

#ocnmail .hukidashi {
	background-position: -333px 0;
	width: 7px;
	height: 11px;
	position: absolute;
	top: 40px;
	left: -6px;
	z-index: 20;
}

#clist div.cont {
	padding: 2px 0 0;
}
#clist h3 {
	font-size: 108%;
	padding: 0 4px;
	font-weight: 700;
	margin: 0 0 .5em;
}

#cpopuler,
#ccontents,
#cpickup {
	padding: 8px 0 4px 4px;
}
#cpopuler {
	border-bottom: solid 1px #bcc0cc;
}
#cpopuler ul li,
#ccontents ul li {
	font-size: 116%;
	width: 50%;
	*width: 49.9%;
	float: left;
}
#lcol #cpopuler ul,
#lcol #ccontents ul {
	padding: 0 0 0 4px;
}
#cpickup ul.cpickuplist li a {
	background-position: -333px -147px;
	padding: 0 0 0 7px;
}

#servicelist {
	position: absolute;
	width: 48em;
	border: solid 1px #d7dbde;
	background: #fff;
	padding: 1px;
	z-index: 20;
}
#servicelist div.inbox {
	border: solid 4px #434343;
	background: #d7dbde;
	padding: 1px;
}
#servicelist div.inbox div.inbox {
	border: 0;
	background: #fff;
	padding: 4px 10px 6px;
}
#servicelist h3 {
	border-top: solid 1px #dadada;
	border-bottom: solid 1px #dadada;
	background-position: -330px -252px;
	padding: 3px 0 2px 8px;
	margin: .7em 0 .5em;
}
#clist #servicelist ul {
	font-size: 108%;
	padding: 0;
	margin: 0;
}
#clist #servicelist ul li {
	width: 24%;
	float: left;
	padding: 2px 0;
}
#servicelist div.btnclose {
	text-align: right;
	margin: 4px -5px -1px 0;
}
#servicelist div.btnclose a {
	width: 13px;
	height: 13px;
	background-position: -160px -40px;
}

#business li {
	color: #bcc0cc;
	font-size: 116%;
}
#businesslist {
	position: absolute;
	width: 53.7em;
	border: solid 1px #d7dbde;
	background: #fff;
	padding: 1px;
	z-index: 19;
}
#businesslist div.inbox {
	border: solid 4px #434343;
	background: #d7dbde;
	padding: 1px;
}
#businesslist div.inbox div.inbox {
	border: 0;
	background: #fff;
	padding: 4px 10px 6px;
}
#businesslist h3 {
	border-top: solid 1px #dadada;
	border-bottom: solid 1px #dadada;
	background-position: -330px -252px;
	font-size: 108%;
	font-weight: 700;
	padding: 3px 0 2px 8px;
	margin: .7em 0 .5em;
}
#lcol #businesslist ul {
	padding: 0;
}
#businesslist ul li {
	float: left;
	font-size: 108%;
	line-height: 1.25;
	margin: 0;
	padding: 2px 0;
	width: 50%;
}
#businesslist ul li:nth-child(2n+1) {
	clear: left;
}
#businesslist div.btnclose {
	text-align: right;
	margin: 4px -5px -1px 0;
}
#businesslist div.btnclose a {
	width: 13px;
	height: 13px;
	background-position: -160px -40px;
}
#businesslist div.right {
	text-align: right;
}

#pointblock div.hd {
	border: solid 1px #fff;
	border-bottom: 0;
}
#pointblock div.hd h2 {
	background: #fab93a;
	font-size: 116%;
	padding: 4px;
	float: none;
}
#pointblock div.hd h2 span {
	width: 16px;
	height: 16px;
	background-position: -140px -40px;
	margin: 0 5px 0 0;
}
#pointblock div.cont {
	text-align: center;
	padding: 1px 0 0;
}
#pointblock div.cont .inbox {
	padding: 8px 5px;
	background-color: #fefcf9;
	background-position: bottom;
}
#pointblock div.cont p {
	text-align: center;
	margin: 0 0 8px;
}
#pointblock div.cont .btn {
	margin: 0 0 8px;
}
#pointblock div.cont span.point_login {
	background: url(../img/new/mypage_support.png?20150325) 0 -135px no-repeat;
	display: block;
	text-indent: -9999px;
	width: 160px;
	height: 35px;
	margin: 0 auto;
}
#pointblock div.cont p.error {
	color: #c33;
	font-weight: 700;
}
#pointblock div.cont p.error span {
	margin: 0 0 0 14px;
}
#pointblock div.cont ul,
#pointblock div.cont ul li {
	padding: 0;
}
#pointblock div.cont > .inbox > p {
	font-size: 108%;
}
#pointblock.apply #pointapply {
	display: block;
}
#pointblock.applying #pointapplying {
	display: block;
}
#pointblock.applied #pointapplied {
	display: block;
}
#pointblock.error #pointerror {
	display: block;
}

#pointmenu {
	position: relative;
	margin: 0 0 4px;
	border-top: 1px solid #bcc0cc;
	text-align: left;
}
#pointmenu img {
	vertical-align: top;
}
#pointabout,
#pointcalendar {
	border: 1px solid #bcc0cc;
	border-top: 0;
	background: #fff;
	zoom: 1;
}
#pointmenu a.pointmenu {
	font-size: 116%;
	padding: 6px 10px 5px 30px;
	display: block;
	zoom: 1;
	border: 1px solid #fff;
	border-right: 0;
}
#pointabout a {
	background-position: 1px -290px;
}
#pointcalendar a {
	background-position: -310px -322px;
}
#pointcalendar a.on {
	background-color: #515151;
	color: #fff;
	position: relative;
	width: 122px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#lcol #pointblock div.hd h2 a {
	color: #333;
}
#lcol #pointblock div.hd h2 a:hover {
	color: #c30;
}
#pointmenu div.floatbox {
	position: absolute;
	z-index: 10;
}
#pointmenu div.floatbox div.inbox {
	margin: 0 1px;
	padding: 0;
	border: 0;
	border-top: solid 1px #d2d2d2;
	border-bottom: solid 1px #d2d2d2;
	background: #fff;
	background: #515151;
}
#pointmenu div.floatbox div.inbox p {
	text-align: left;
}
#pointmenu div.floatbox div.inbox div.inbox {
	margin: 0 -1px;
	border: 0;
	border-left: solid 1px #d2d2d2;
	border-right: solid 1px #d2d2d2;
	zoom: 1;
}
#pointmenu div.floatbox div.inbox div.inbox div.inbox {
	margin: 0;
	padding: 3px;
	border: solid 1px #fff;
	color: #fff;
}
#pointmenu div.floatbox div.floathd {
	padding: 2px 0 4px;
	position: relative;
}
#pointmenu div.floatbox div.floathd div.lead {
	float: left;
}
#pointmenu div.floatbox div.floathd a.closeicon {
	float: right;
	margin: 4px 4px 0 0;
	width: 12px;
	height: 12px;
	background-position: 0 -125px;
}
#pointmenu div.floatbox div.floathd a.information {
	float: right;
	margin: 0 4px 0 0;
	color: #fff;
	text-decoration: underline;
	padding: 4px 0 0;
}
#pointmenu div.floatbox div.floathd a.information:hover {
	text-decoration: none;
}
#pointmenu div.nologin {
	border: solid 1px #8b8b8b;
	padding: 1px;
	line-height: 1.4;
}
#pointmenu div.nologin .inbox {
	background: #fff !important;
	color: #333 !important;
	padding: 0 !important;
}
#pointmenu div.nologin .inbox p {
	padding: 5px 8px 8px;
}
#pointmenu div.nologin .inbox p.announce {
	padding: 5px 3px 8px;
	text-align: center;
}
#pointmenu div.nologin .inbox .howto {
	margin: 10px 0 13px;
	min-height: 99px;
	position: relative;
}
#pointmenu div.nologin .inbox .howto .htbg {
	position: absolute;
	width: 112px;
	height: 131px;
	left: 19px;
	top: -8px;
}
#pointmenu div.nologin .inbox .howto .lead {
	margin: 5px 0 0 140px;
	width: 65px;
	height: 24px;
	background-position: 0 -234px;
	position: relative;
}
#pointmenu div.nologin .inbox .howto ol {
	margin: -15px 0 0;
	padding: 22px 5px 1px 166px;
	zoom: 1;
}
#pointmenu div.nologin .inbox .howto ol li {
	list-style-type: decimal;
	margin: 0 0 .4em;
	display: list-item;
	vertical-align: top;
	line-height: 1.3;
}
#pointmenu div.nologin .inbox .btn {
	text-align: center;
}
#pointmenu div.nologin .inbox .btn .btnlogin {
	background-position: -79px 0;
	width: 79px;
	height: 20px;
	margin: 0 0 6px;
}
#pointmenu #logfloatbox div.floathd div.lead {
	width: 160px;
	height: 21px;
	background-position: -22px -121px;
}

#logfloatbox div.nologin .inbox .howto ol {
	background: #dff8ff;
}
#logfloatbox div.nologin .inbox .howto .htbg {
	background: url(../img/new/nologin_logbg.gif) left top no-repeat;
}
#logfloatbox div.table {
	border: solid 1px #8b8b8b;
	padding: 1px;
	line-height: 1.4;
	color: #000;
	min-height: 285px;
}
#logfloatbox div.table #mylogtable {
	min-height: 245px;
}
#logfloatbox div.table table.cal {
	width: 100%;
	background: #fff;
}
#logfloatbox div.table table.cal th,
#logfloatbox div.table table.cal td {
	border-top: solid 1px #e6e6e6;
	border-right: solid 1px #e6e6e6;
	font-weight: 700;
	width: 14%;
}
#logfloatbox div.table table.cal th.sun,
#logfloatbox div.table table.cal td.sun {
	color: #ff6c01;
}
#logfloatbox div.table table.cal th.sat,
#logfloatbox div.table table.cal td.sat {
	color: #0065cc;
	border-right: 0;
}
#logfloatbox div.table table.cal th {
	text-align: center;
	padding: 2px 4px 1px;
}
#logfloatbox div.table table.cal td {
	padding: 1px;
}
#logfloatbox div.table table.cal td div.calbg {
	min-height: 41px;
	padding: 3px 3px 2px;
}
#logfloatbox div.table table.cal td.on div.calbg {
	background-color: #def;
	background-position: 0 -780px;
	cursor: pointer;
}
#logfloatbox div.table table.cal td.sel div.calbg {
	background-color: #ffe4da;
	background-position: -100px -780px;
	cursor: pointer;
}
#logfloatbox div.table table.cal td div.coin {
	text-align: right;
}
#logfloatbox div.table table.cal td div.coin span {
	width: 24px;
	height: 24px;
	background-position: -198px -56px;
}
#logfloatbox div.table table.cal td div.coin span.c10 {
	width: 25px;
	background-position: -223px -54px;
}
#logfloatbox div.table table.cal td div.coin span.c20 {
	width: 25px;
	background-position: -252px -54px;
}
#logfloatbox div.table table.cal td div.coin span.c30 {
	width: 32px;
	background-position: -280px -54px;
}
#logfloatbox div.table div.caltitle {
	background: #f4f4f4;
	text-align: center;
	padding: 2px 4px 1px;
}
#logfloatbox div.table div.caltitle div.month {
	font-weight: 700;
}
#logfloatbox div.table div.caltitle div.mprev {
	margin: -1.4em 0 0;
	float: left;
}
#logfloatbox div.table div.caltitle div.mprev a {
	color: #333;
}
#logfloatbox div.table div.caltitle div.mprev span {
	width: 12px;
	height: 14px;
	background-position: -120px -83px;
	margin: 0 2px 0 0;
}
#logfloatbox div.table div.caltitle div.mnext {
	margin: -1.4em 0 0;
	float: right;
}
#logfloatbox div.table div.caltitle div.mnext a {
	color: #333;
}
#logfloatbox div.table div.caltitle div.mnext span {
	width: 12px;
	height: 14px;
	background-position: -132px -83px;
	margin: 0 0 0 2px;
}
#logfloatbox div.warning {
	margin-top: 2px;
}
#logfloatbox div.warning div.winbox {
	min-height: 0;
	background: #fff9e2;
	color: #333;
	padding: 8px 8px 2px;
}
#logfloatbox div.warning div.lead {
	background: url(../img/icon_notice.gif) 0 0 no-repeat;
	padding: 0 0 0 15px;
	margin: 0 0 4px;
}
#logfloatbox div.warning ul {
	padding: 0 0 0 14px;
}
#logfloatbox div.warning ul li {
	float: left;
	margin: 0 1em .2em 0;
}
#logfloatbox div.warning ul li span.icon {
	vertical-align: bottom;
}
#logfloatbox div.table div.loading {
	text-align: center;
	background: #fff;
	min-height: 242px;
	color: #333;
}
#logfloatbox div.table div.loading .loadingimg {
	margin: 0 0 10px;
	padding: 48px 0 0;
}

#provider li {
	color: #bcc0cc;
	font-size: 116%;
}
#provider li.marker a {
	background-position: -333px -147px;
	padding: 0 0 0 7px;
}
#provider li.line {
	margin-bottom: .5em;
}

/* ### right column ### */
#rcol {
	margin: 0 0 10px;
	color: #333;
}
#rcol div.rbox {
	background: #fff;
	border: solid 1px #bcc0cc;
	margin: 0 0 10px;
}
#rcol .pr {
	margin: 0 0 10px;
	text-align: center;
}
#rcol h2 {
	font-size: 116%;
	font-weight: 700;
	padding: 5px 4px 4px 10px;
}
#rcol div.hd {
	border-bottom: 0;
	padding-top: 1px;
}
#rcol div.hd .addlink {
	font-size: 108%;
	float: right;
	padding: 6px 5px 4px 4px;
}
#rcol div.cont {
	padding: 10px;
}
#rcol h3 {
	border-bottom: solid 1px #bcc0cc;
	font-size: 108%;
	padding: 3px 0 2px;
	margin: 0 0 8px;
}
#rcol h3 span {
	display: block;
}
#rcol div.addmenu {
	font-size: 108%;
	float: right;
	margin-top: -2.1em;
	color: #bcc0cc;
}
#rcol #trendtopics ol li {
	font-size: 116%;
	margin: 0 0 .5em;
}
#rcol #trendtopics ol span {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-right: 8px;
	text-align: center;
	width: 1.66em;
	vertical-align: top;
}
#rcol #trendtopics ol span.rank {
	text-indent: -9999px;
	height: 17px;
	width: 20px;
	position: relative;
	top: -.17em;
	*display: block;
	*float: left;
	*top: 0;
}
#rcol #trendtopics ol span.rank1 {
	background-position: 0 -580px;
}
#rcol #trendtopics ol span.rank2 {
	background-position: 0 -600px;
}
#rcol #trendtopics ol span.rank3 {
	background-position: 0 -620px;
}
#rcol #trendtopics ol a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}
#rcol #trendtopics ol li.rest {
	display: none;
}
#rcol #trendtopics .accordion {
	border: 1px solid #bcc0cc;
	color: #0029a6;
	cursor: pointer;
	font-size: 108%;
	margin: 12px 60px 0;
	padding: .45em 0;
	text-align: center;
}
#rcol #trendtopics .accordion:hover {
	text-decoration: underline;
}
#rcol #trendtopics .accordion span {
	vertical-align: middle;
}
#rcol #trendtopics .accordion i {
	background-position: 0 -640px;
	margin-left: .5em;
	height: 4px;
	width: 7px;
	vertical-align: middle;
	overflow: hidden;
}
#rcol #trendtopics .closed i {
	background-position: -329px -230px;
}
#rcol #areainfo {
	background: #edf2ff;
}
#rcol #areainfo div.cont {
	padding-bottom: 0;
}
#rcol div.areabox {
	margin: 0 0 15px;
}

#ocncampaign {
	padding: 10px 10px 0;
	zoom: 1;
}
#ocncampaign dl dt a img {
	border: solid 1px #7996ef;
	position: relative;
}
#ocncampaign dl dt a:visited img {
	border: solid 1px #609;
}
#ocncampaign dl dd {
	margin: -58px 0 10px 88px;
	min-height: 58px;
	line-height: 1.5;
}
#ocncampaign ul li {
	background-position: -335px -470px;
	padding: 0 0 0 6px;
}

#rcol div.rcollabo div.hd {
	background: transparent;
}
#rcol div.rcollabo h2 {
	background: transparent;
	padding: 5px 4px 4px 10px;
}
#rcol div.rcollabo div.cont {
	font-size: 108%;
	padding: 10px;
}
#rcol div.rcollabo div.cont *:last-child{
	margin-bottom: 0;
}
#rcol div.rcollabo .image {
	float: left;
}
#rcol div.rcollabo .banner {
	margin: 0 0 6px;
}
#rcol div.rcollabo .lead {
	line-height: 1.4;
	background-position: bottom;
	background-repeat: repeat-x;
	margin: 0 0 6px 126px;
	padding: 0 0 4px 2px;
}
#rcol div.rcollabo ul {
	margin: 0 0 6px 126px;
	padding: 0 0 0 2px;
}
#rcol div.rcollabo ul li {
	padding: 0 0 .1em;
}
#rcol div.rcollabo ul.harf li {
	float: left;
	width: 49%;
}
#rcol div.rcollabo ul.inline {
	margin: 0 0 6px;
	padding: 0;
}
#rcol div.rcollabo p {
	margin: 0 0 6px 128px;
	line-height: 1.5;
}
#rcol div.rcollabo div.notice {
	color: #c33;
	margin: 0 0 6px;
}

#weather h3 {
	border: 0;
	margin-bottom: 3px;
}
#weather div.addmenu {
	padding-top: 6px;
}
#weather .weatherinner {
	background: #fff;
	border: 1px solid #bcc0cc;
}
#weather .seldaysweather {
	margin: 0 0 5px;
}
#weather .seldaysweather .selday {
	float: left;
	width: 50%;
}
#weather .seldaysweather p.date {
	background: #dce6ff;
	padding: 4px 0 1px;
}
#weather .seldaysweather p.date span {
	margin: 0 0 0 11px;
}
#weather .seldaysweather .forecast {
	margin: 7px 0 0;
}
#weather .seldaysweather .wicon {
	float: left;
	text-align: center;
	width: 55%;
}
#weather .seldaysweather ul {
	float: right;
	width: 45%;
}
#weather .seldaysweather ul li {
	padding: 0 0 3px 5px;
}
#weather .seldaysweather ul li.degree span.temperture span.max {
	color: red;
}
#weather .seldaysweather ul li.degree span.temperture span.min {
	color: #0600ff;
}
#weather .otdaysweather {
	float: left;
	width: 235px;
}
#weather .otdaysweather .otdy {
	float: left;
	width: 25%;
	*width: 24.5%;
	text-align: center;
}
#weather .otdaysweather p.date {
	background: #dce6ff;
	padding: 4px 0 1px;
	text-align: center;
}
#weather .otdaysweather .wicon {
	margin: 6px 0 0;
	padding: 0 0 6px;
}
#weather .warning {
	float: right;
}
#weather .warning ul {
	display: inline-block;
	margin: 0 4px 0 0;
}
#weather .warning ul li {
	padding: 0 0 5px;
	text-align: right;
}
#weather .warning ul li span.normal {
	background-position: 0 -264px;
	width: 83px;
	height: 17px;
}
#weather .warning ul li a.notice {
	background-position: 0 -20px;
	width: 83px;
	height: 17px;
}
#weather .warning ul li a.typhoon {
	background-position: -148px -20px;
	width: 27px;
	height: 16px;
}

#train div.addmenu {
	color: #333;
}
#train ul {
	font-size: 108%;
	margin: 0 0 0 10px;
}
#train ul li {
	margin: 0 0 6px;
	padding: 0 0 0 6px;
	background-position: -335px -470px;
}

#transit .form form {
	margin: 0;
	padding: 0;
}
#transit .form .row {
	margin: 0 0 4px;
}
#transit .form input {
	margin: 2px 2px 4px 10px;
	*margin: 0 0 0 10px;
}
#transit .form input.search {
	background-position: -85px -20px;
	cursor: pointer;
	width: 62px;
	height: 16px;
	border: 0;
	text-indent: -9999px;
}
#transit .form input.text {
	width: 22%;
	margin: 0;
	border: 1px solid #7f9db9;
}
#transit .form select {
	margin: 0 2px 0 0;
}

#coupon div.inbox {
	margin: 0 0 8px;
}
#coupon div.image {
	float: left;
}
#coupon div.image img {
	background:#fff;
	border:1px #bcc0cc solid;
}
#coupon div.text {
	font-size: 108%;
	margin: 0 0 0 90px;
	line-height: 1.6;
}

#shufoo div.setting {
	float: right;
	margin-top: -2.5em;
	position: relative;
}
#shufoo div.setting span a {
	background-position: -249px -178px;
	padding: 4px 14px 3px 8px;
}
#shufoo div.setting span.on {
	display: block;
	background: #434343;
	z-index: 21;
	position: relative;
	border: solid 1px #d2d2d2;
	border-bottom: 0;
	padding: 0;
}
#shufoo div.setting span.on a {
	color: #fff;
	text-decoration: underline;
	border: solid 1px #fff;
	border-bottom: 0;
	padding: 2px 12px 3px 8px;
	background-position: -249px -179px;
}
#shufoo div.inbox {
	margin: 0 0 8px;
}
#shufoo div.image {
	float: left;
}
#shufoo div.image img {
	background:#fff;
	border:1px #bcc0cc solid;
}
#shufoo div.text {
	font-size: 108%;
	margin: 0 0 0 90px;
	line-height: 1.6;
}
#shufoo div.inbox div.loading {
	padding: 1px;
	text-align: center;
}
#shufoo div.inbox p.error {
	color: #c00;
	font-size: 108%;
	height: 60px;
	margin: 0;
}

#zipcode {
	position: absolute;
	width: 18em;
	border: solid 1px #d7dbde;
	background: #fff;
	padding: 1px;
	z-index: 20;
}
#zipcode form {
	display: block;
	margin: 0;
	padding: 0;
}
#zipcode div.inbox {
	border: solid 4px #434343;
	background: #d7dbde;
	padding: 1px;
	margin: 0;
}
#zipcode div.inbox div.inbox {
	border: 0;
	background: #fff;
}
#zipcode p {
	padding: 6px 10px 4px;
}
#zipcode .zipinput {
	padding: 0 9px 10px;
}
#zipcode .zipinput input#zipcode1 {
	width: 2.5em;
	margin-right: .4em;
}
#zipcode .zipinput input#zipcode2 {
	width: 4em;
	margin-left: .4em;
}
#zipcode div.submit {
	background: #f0f1f1;
	text-align: center;
	padding: 6px 10px 5px;
}
#zipcode div.submit input.image {
	background-position: -88px -260px;
	border-width: 0;
	cursor: pointer;
	width: 76px;
	height: 21px;
}

#todayscolumn p {
	line-height: 1.6;
}
#todayscolumn div.cont {
	font-size: 108%;
}
#todayscolumn .readmore {
	float: left;
	margin: 6px 0 0;
}
#todayscolumn .logo {
	background-position: -72px -235px;
	float: right;
	margin: 2px 0 0;
	width: 68px;
	height: 20px;
}

/* ### baseballscore ### */
#baseballscore .date p,
#baseballscore .title,
#baseballscore .nogame p,
#baseballscore h3 {
	font-size: 116%;
}
#baseballscore h3 {
	font-weight: 700;
	border-bottom: none;
	margin-top: -5px;
	margin-bottom: 0;
	padding: 0;
}
#baseballscore .date p {
	text-align: center;
	margin-top: -1.23em;
}
#baseballscore .date i {
	display: none;
}
#baseballscore .title {
	background-color: #edf2ff;
	line-height: 1.6em;
	margin-top: 5px;
}
#baseballscore .title p {
	font-weight: 700;
	text-align: center;
}
#baseballscore .unit,
#baseballscore .other li span {
	font-size: 108%;
}
#baseballscore .unit {
	text-align: center;
	width: 100%;
}
#baseballscore .unit tr .state .num {
	font-size: 109%;
	font-weight: 700;
}
#baseballscore .unit tr .state .win {
	color: #c33;
}
#baseballscore .unit td {
	line-height: 1.2em;
}
#baseballscore .unit .play td {
	width: 30%;
	padding: 7px 0 3px;
	border-top: 1px solid #edf2ff;
}
#baseballscore .unit .status td {
	padding-bottom: 3px;
}
#baseballscore .team1 {
	text-align: right;
}
#baseballscore .team2 {
	text-align: left;
}
#rcol #baseballscore .cont {
	padding-bottom: 0;
}
#baseballscore .nogame p {
	text-align: center;
	padding: 12px 0;
}
#baseballscore .other {
	margin: 0 -10px;
	background: #edf2ff;
	padding: 8px 0;
	position: relative;
	line-height: 1.5;
	overflow: hidden;
}
#baseballscore .other ul {
	position: relative;
}
#baseballscore .other ul:after {
	content: "";
	display: block;
	clear: both;
}
#baseballscore .other ul {
	*height: 1%;
}
#baseballscore .other li {
	float: left;
	width: 33.3%;
	text-align: center;
	padding: 0;
	position: relative;
}
#baseballscore .other li:before {
	background: #bcc0cc;
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -.5em;
	height: 1em;
	width: 1px;
}
#baseballscore .other li:first-child:before {
	display: none;
}
#baseballscore .other li a {
	display: block;
	*border-left: 1px solid #bcc0cc;
	line-height: 1;
}
#baseballscore .other li:first-child a {
	border-left: 0;
}
#baseballscore .other li img {
	margin-right: 5px;
	width: 26px;
	vertical-align: middle;
}
#baseballscore .other li span {
	vertical-align: middle;
}

#rcol div[id^=janpi] {
	padding: 10px;
}
#rcol div[id^=janpi] img {
	float: left;
}
#rcol div[id^=janpi] p {
	font-size: 108%;
	margin-left: 140px;
	line-height: 1.35;
}
#rcol div[id^=janpi]:after {
	content: "";
	display: block;
	clear: both;
}
#rcol div[id^=janpi] {
	*height: 1%;
}

/* ### header ### */
#hdtext {
	padding: 4px 0 4px 4px;
	position: relative;
	color: #bcc0cc;
	min-height: 18px;
	border: 0;
}
#hdtext p,
#hdtext div.today,
#hdtext dl.settheme,
#hdtext div.setstart {
	font-size: 116%;
}
#hdtext p {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	padding: 0;
	float: left;
	*margin-top: -2px;
}
#hdtext div.today {
	float: right;
	text-align: center;
	margin-left: 15px;
	min-width: 10.14em;
	color: #505050;
}
#hdtext div.today span {
	background-position: 0 -117px;
	display: block;
	padding: 0 0 0 16px;
	width: 9.25em;
	min-height: 1em;
	text-align: left;
	white-space: nowrap;
}
#hdtext dl.settheme {
	float: right;
	margin: 0 0 0 15px;
}
#hdtext dl.settheme * {
	display: block;
	min-height: 1em;
}
#hdtext dl.settheme dt {
	float: left;
}
#hdtext dl.settheme dt a {
	background-position: 0 -58px;
	padding-left: 17px;
}
#hdtext dl.settheme dd {
	margin: -1px 0 0 6px;
	float: left;
}
#hdtext div.setstart {
	float: right;
	margin: 0 0 0 15px;
	padding: 0;
}
#hdtext div.setstart a {
	display: block;
	padding: 0 0 0 18px;
	background-position: 0 3px;
}

#hdwrapper {
	padding: 0;
}

#hlogo {
	float: left;
	padding: 2px 20px 10px;
	position: relative;
}
#hlogo a,
#hlogo img {
	vertical-align: middle;
}
#hlogo .hlogocamp {
	margin-left: 10px;
}
#hlogo .hlogocamp:hover {
	opacity: .8;
}

#hdsupport {
	float: right;
	padding: 14px 5px 18px;
}
#hdsupport li {
	float: left;
	font-size: 116%;
	margin-left: 6px;
}
#hdsupport li a {
	background: #fafcff;
	border: 1px solid #e6e8eb;
	border-right-color: #c2c9d1;
	border-bottom-color: #c2c9d1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-weight: 700;
	padding: 8px 8px 6px;
	text-align: center;
	min-width: 95px;
}
#hdsupport li a,
#hdsupport li a:visited {
	color: #333;
}
#hdsupport li a:hover {
	color: #c30;
}
#hdsupport li a span {
	display: inline-block;
	line-height: 1.28;
	min-height: 18px;
	padding-left: 24px;
}
#hdsupport li a:hover span {
	cursor: pointer;
}
#hdsupport li.hdmail a span {
	background-position: 0 -299px;
}
#hdsupport li.hdmypage a span {
	background-position: 0 -239px;
}
#hdsupport li.hdsupport a span {
	background-position: 0 -180px;
	padding-left: 26px;
}

#hdwrapin {
	margin: 0;
	clear: both;
	background: #fafcff;
	border: 1px solid #dde2f0;
}
#hdwrapin .inbox {
	margin: 0;
	padding: 5px 0 5px 215px;
}

div#hschwrap {
	float: left;
	width: 100%;
	margin: 0;
}
div#hschwrap .inbox {
	padding: 0;
}

#hsearch {
	float: none;
	width: 44.4em;
	min-width: 510px;
	padding: 7px 17px 7px 7px;
	position: relative;
}
#hsearch ul.schtype {
	position: relative;
	padding-bottom: 3px;
	z-index: 10;
	zoom: 1;
}
#hsearch ul.schtype li {
	float: left;
	font-size: 116%;
	text-align: center;
	zoom: 1;
}
#hsearch ul.schtype li a {
	display: block;
	color: #818a92;
	text-decoration: none;
	cursor: pointer;
}
#hsearch ul.schtype li a:hover {
	color: #c30;
	text-decoration: underline;
}
#hsearch ul.schtype li a span {
	display: block;
	padding: 0 3px;
}
#hsearch ul.schtype li a span span {
	padding: 0 2px 4px;
}
#hsearch ul.schtype li.on {
	float: left;
	text-align: center;
}
#hsearch ul.schtype li.on a {
	background: none;
}
#hsearch ul.schtype li.on a:hover {
	background-color: transparent;
	text-decoration: none;
}
#hsearch ul.schtype li.on a span span {
	color: #333;
	font-weight: 700;
	padding: 0 2px 4px;
}
#hsearch ul.schtype li.w2 a span span,
#hsearch ul.schtype li.w3 a span span,
#hsearch ul.schtype li#supporttab a span span {
	padding: 0 .75em;
	width: auto;
}
#hsearch ul.schtype li#supporttab a span span {
	font-weight: 700;
}
#hsearch ul.schtype li#moresearch a span {
	background-position: -329px -110px;
	margin: 0 11px;
	width: 6px;
	height: 16px;
}
#hsearch form {
	display: block;
	padding: 0;
	margin: -2px 0 0;
	position: relative;
	z-index: 9;
}
#hsearch form div.inbox {
	padding: 0;
}
#hsearch form input.submit {
	background: #06d url(../img/header_search_new.png) 50% 50% no-repeat;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	float: right;
	position: relative;
	top: 2px;
	left: 6px;
	text-indent: -9999px;
	height: 40px;
	width: 96px;
	vertical-align: top;
}
#hsearch form input.submit:hover {
	background-color: #3384e3;
}
#hsearch form div.query {
	float: left;
	width: 100%;
	padding: 0 2px 0 0;
	margin-right: -106px;
}
#hsearch form div.query div.inbox {
	background: #fff;
	margin: 2px 96px 2px 2px;
	padding: 0;
}
#hsearch form div.query div.inbox div.inbox {
	border: 1px solid #999;
	padding: 2px 0 1px 5px;
	margin: 0;
	min-height: 25px;
}
#hsearch form div.query div.inbox div.inbox:hover {
	border-color: #bbb;
}
#hsearch form div.query input {
	width: 98%;
	font-size: 18px;
	border: 0;
	padding: 5px 0;
	*padding: 4px 0;
	height: 25px;
	line-height: 19px;
	outline: none;
}

#hdnavi {
	margin: 4px 0;
	padding: 7px 30px;
	border-top: none;
}
#hdnavi li {
	width: 33%;
	float: left;
	text-align: center;
}

#hdhistory {
	display: inline-block;
	margin: 3px 0 0;
	line-height: 1.3;
	*display: inline;
	zoom: 1;
}
#hdhistory dl {
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 435px;
}
#hdhistory dt,
#hdhistory dd {
	display: inline;
	vertical-align: middle;
}
#hdhistory dd {
	margin-right: .8em;
}
#hdhistory dt {
	background-position: 2px -360px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 20px;
	height: 15px;
}

/* ### footer ### */
#footer {
	border-top: 1px dotted #bcc0cc;
}

#joyful {
	margin: 0 auto;
	min-width: 1020px;
	position: relative;
	width: 85em;
	zoom: 1;
}
#joyful ul {
	padding: 15px 0 8px;
}
#joyful ul li {
	width: 24%;
	margin: 0 1% 0 0;
	float: left;
}
#joyful ul li.last {
	margin: 0;
}
#joyful ul li div.image {
	float: left;
	padding: 5px;
	display: table;
	height: 2.462em;
	width: 30px;
	*display: block;
	*layout-grid-line: 100%;
}
#joyful ul li div.image > * {
	display: table-cell;
	vertical-align: middle;
}
#joyful ul li p {
	margin: 0 0 0 40px;
	padding: 5px 0;
}
#joyful > ul li {
	font-size: 116%;
}
#joyful #customers {
	margin-top: 17px;
	position: absolute;
	width: 318px;
}
#joyful #customers .guide {
	border: solid #d7dbde 2px;
	padding: 9px 10px 6px;
	background: #fff;
	zoom: 1;
}
#joyful #customers .guide ul {
	padding: 0;
}
#joyful #customers .guide ul li {
	float: none;
	width: 100%;
}
#joyful #customers .guide ul li span.guidemarker {
	display: block;
	background-position: -330px -255px;
	padding: 0;
	height: 1em;
}
#joyful #customers .guide ul li p {
	margin: -1em 0 0;
	padding: 0 0 15px 8px;
	line-height: 1.3;
}
#joyful #customers .guide ul li a {
	font-weight: 700;
}
#joyful #customers div.btnclose {
	text-align: right;
	margin: -9px -5px -1px 0;
}
#joyful #customers div.btnclose a {
	width: 13px;
	height: 13px;
	background-position: -160px -40px;
}
#joyful #customers .hukidashi {
	width: 13px;
	height: 12px;
	margin: -2px 0 0 13px;
	background: url(../img/hukidashi.gif) 0 0 no-repeat;
}

#fabout {
	border-top: 1px dotted #bcc0cc;
	margin: 0 auto;
	min-width: 1020px;
	padding: 5px 0;
	width: 85em;
}
#fabout ul.certification {
	float: right;
}
#fabout ul.certification li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	border-left: solid 1px #bcc0cc;
	padding: 5px;
}
#fabout ul.about {
	text-align: center;
	padding: 19px 0 15px;
}
#fabout ul.about li {
	display: inline;
	border-right: solid 1px #bcc0cc;
	padding: 0 .7em;
}
#fabout ul.about li.last {
	border: 0;
}

#clogowrap {
	background: #fafcff;
	border-top: 1px solid #ebeff7;
}
#clogoinner {
	margin: 0 auto;
	min-width: 1020px;
	padding: 12px 0;
	width: 85em;
}
#clogo {
	float: left;
	padding: 1px 0 0 8px;
}

#corpraitinfo {
	float: right;
}
#corpraitinfo ul {
	text-align: center;
	padding: 3px 0;
}
#corpraitinfo ul li {
	display: inline;
	border-left: 1px solid #bbb;
	padding: 0 .7em;
}
#corpraitinfo ul li.first {
	border: 0;
	padding: 0 .7em 0 0;
}
#corpraitinfo address {
	margin: 0 0 3px;
}

#modeSelecter {
	text-align: center;
	margin: 0 0 36px;
}
#modeSelecter ul {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 10px 126px;
	border: 1px solid #bcc0cc;
	font-size: 200%;
}
#modeSelecter ul li {
	display: inline;
	vertical-align: middle;
}
#modeSelecter ul li.pc {
	padding-left: 7px;
	border-left: 2px solid #bcc0cc;
	margin-left: 6px;
}
#modeSelecter ul li a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 2px;
	text-decoration: underline;
}

/* ### earth quake ### */
#earthquake {
	background: #fff;
	margin: 0 0 10px;
	padding: 1px;
	border: solid 1px #d7dbde;
	text-align: center;
	font-size: 134%;
}
#earthquake h2 {
	margin: 0 0 14px;
	padding: 3px;
	font-weight: 700;
	background-color: #5a5a5a;
	background-position: 0 0;
	color: #fd3;
	zoom: 1;
}
#earthquake p {
	margin: 0 0 12px;
	text-align: center;
	font-weight: 700;
	color: red;
}
#earthquake .message {
	margin: 0 0 6px;
	color: #555;
	font-weight: 700;
}

/* ### importantinfo ### */
#importantinfo {
	margin: 0 0 10px;
	padding: 1px;
	background: #fff;
	border: solid 1px #ca3231;
	font-size: 134%;
}
#importantinfo h2 {
	margin: 0 0 12px;
	padding: 3px;
	text-align: center;
	font-weight: 700;
	background-color: #de535a;
	background-position: 0 -1400px;
	color: #fd3;
	zoom: 1;
}
#importantinfo .message {
	margin: 0 0 12px 20px;
	color: #555;
	font-weight: 700;
}
#importantinfo .message span.category {
	margin: 0 10px 0 0;
	text-align: center;
	font-weight: 700;
	color: red;
}
#importantinfo .message span.date {
	font-weight: 400;
}
#importantinfo .message span.more {
	font-weight: 400;
	margin: 0 0 0 10px;
}

/* ### clearfix ### */
#hsearch form:after,
div.hd:after,
div.cont:after,
#header:after,
#body:after,
#footer:after,
#newstab ul:after,
#newsft:after,
#selection div.pickup:after,
#selection div.cont ul:after,
#oshiete ul.tab:after,
#lcol div.wimage:after,
#pointmenu div.floatbox div.floathd:after,
#cpopuler:after,
#ccontents:after,
#cpickup:after,
#servicelist ul:after,
#businesslist ul:after,
#rcol div.rcollabo ul:after,
#train dl dd:after,
#hdtext:after,
#hdwrapper:after,
#hlogo:after,
#hsearch form div.inbox div.inbox:after,
#hsearch:after,
#hsearch ul.schtype:after,
#hdnavi:after,
#joyful ul:after,
#fabout:after,
#coupon div.inbox:after,
#shufoo h3:after,
#shufoo div.inbox:after,
#mailfloatbox div.mailfloatboxft:after,
#logfloatbox div.warning ul:after,
#diet #recipe:after,
#weather:after,
#weather .seldaysweather:after,
#weather .otdaysweather:after,
#weather .seldaysweather .forecast:after,
#selection ul.pagingselection:after,
#announce .txtbox:after,
#weather .weatherinner:after,
#topicsbody:after,
#clogoinner:after {
	content: "";
	display: block;
	clear: both;
}

#hsearch form,
div.hd,
div.cont,
#header,
#body,
#footer,
#newstab ul,
#newsft,
#selection div.pickup,
#selection div.cont ul,
#oshiete ul.tab,
#lcol div.wimage,
#pointmenu div.floatbox div.floathd,
#cpopuler,
#ccontents,
#cpickup,
#servicelist ul,
#businesslist ul,
#rcol div.rcollabo ul,
#train dl dd,
#hdtext,
#hdwrapper,
#hlogo,
#hsearch form div.inbox div.inbox,
#hsearch,
#hsearch ul.schtype,
#hdnavi,
#joyful ul,
#fabout,
#coupon div.inbox,
#shufoo h3,
#shufoo div.inbox,
#mailfloatbox div.mailfloatboxft,
#logfloatbox div.warning ul,
#diet #recipe,
#weather,
#weather .seldaysweather,
#weather .otdaysweather,
#weather .seldaysweather .forecast,
#announce .txtbox,
#weather .weatherinner,
#topicsbody,
#clogoinner {
	*height: 1%;
}

/* ### suggest ### */
#suggest,
#ocnsupport,
#recentlykeyword {
	position: absolute;
	z-index: 50000;
	text-align: left;
}
#suggest .top,
#ocnsupport .top,
#recentlykeyword .top {
	background-position: -153px -252px;
	font-size: 1px;
	line-height: 1px;
}
#suggest .top span,
#ocnsupport .top span,
#recentlykeyword .top span {
	display: block;
	background-position: right -902px;
	padding: 0 10px 0 9px;
}
#suggest .top span span,
#ocnsupport .top span span,
#recentlykeyword .top span span {
	background: transparent;
	height: 4px;
	border-top: solid 1px #c7c7c7;
	background: #fff;
}
#suggest .sugbody,
#ocnsupport .sugbody,
#recentlykeyword .sugbody {
	border: 1px solid #d7dbde;
	font-size: 133%;
}
#suggest .sugbody .inbox,
#ocnsupport .sugbody .inbox,
#recentlykeyword .sugbody .inbox {
	padding: 0;
}
#suggest .sugbody .inbox ul {
	background: #fff;
	zoom: 1;
}
#suggest .btm,
#ocnsupport .btm,
#recentlykeyword .btm {
	background-position: -153px -243px;
	font-size: 1px;
	line-height: 1px;
}
#suggest .btm span,
#ocnsupport .btm span,
#recentlykeyword .btm span {
	display: block;
	background-position: right -893px;
	padding: 0 11px 0 9px;
}
#suggest .btm span span,
#ocnsupport .btm span span,
#recentlykeyword .btm span span {
	background-position: 0 -527px;
	background-repeat: repeat-x;
	height: 9px;
}
#ocnsupport .sugbody div.lead,
#recentlykeyword .sugbody div.lead {
	padding: 6px 0 6px 11px;
	font-weight: 700;
	background: #fff;
	color: #adaeb3;
}
#ocnsupport .sugbody ul,
#recentlykeyword .sugbody ul {
	background: #fff;
	padding-bottom: 20px;
}
#ocnsupport .sugbody ul li,
#recentlykeyword .sugbody ul li {
	background-position: -340px -45px;
}
#ocnsupport .sugbody ul li a,
#recentlykeyword .sugbody ul li a {
	color: #000;
	display: block;
	padding-left: 13px;
	line-height: 1.6em;
}
#ocnsupport .sugbody ul li a:visited,
#recentlykeyword .sugbody ul li a:visited {
	color: #000;
}
#ocnsupport .sugbody ul li a:hover,
#recentlykeyword .sugbody ul li a:hover {
	background-color: #e7f2fb;
	color: #c30;
	text-decoration: none;
}
#ocnsupport .closesupport,
#recentlykeyword .closesupport {
	margin: -1.3em 0 0;
	padding: 0 5px;
	float: right;
}
#ocnsupport .closesupport a,
#recentlykeyword .closesupport a {
	width: 13px;
	height: 13px;
	background-position: -160px -40px;
}

#suggestBody {
	margin: 0;
	background-color: #fff;
	line-height: 1.231;
	text-align: left;
	letter-spacing: 0;
}
#suggestBody ul {
	margin: 0;
	padding: 0;
}
#suggestBody li {
	margin: 0;
	padding: 4px 13px;
	min-height: 1.2em;
	list-style: none;
	vertical-align: middle;
	clear: both;
}
#suggestBody li.selected {
	background: #e7f2fb;
	cursor: pointer;
	color: #c30;
}
#suggestBody div {
	float: left;
}
#suggestBody div.recommend {
	font-size: 80%;
	float: right;
	text-align: right;
	color: #f88;
}
#suggestBody ul.nallow_ul {
	position: absolute;
	border: solid 1px #999;
	background: #fff;
	width: 16em;
	z-index: 105;
	padding: 4px;
	margin: -8px 0 0 14px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	zoom: 1;
}
#suggestBody ul.nallow_ul li {
	background: none;
	color: #000;
	*display: inline;
	*width: 100%;
	*zoom: 1;
}
#suggestBody ul.nallow_ul li.balloon {
	width: 10px;
	height: 9px;
	background: url(../img/suggest_balloon.gif) no-repeat;
	font-size: 1px;
	line-height: 1px;
	position: absolute;
	margin-top: 8px;
	left: -10px;
}
#suggestBody ul.nallow_ul ul {
	background: none;
}
#suggestBody ul.nallow_ul li.nl_li_selected {
	color: #c30;
	text-decoration: underline;
}
#suggestBody li#info_box {
	text-align: right;
	padding: 6px;
	border-bottom: 0;
}
#suggestBody .searchedWord {
	position: relative;
}
#suggestBody .history {
	color: #828282;
	position: absolute;
	right: 0;
	top: 0;
}

@media not screen and (1) {
	/* hack for Opera11 */
	#newstab li.tab7 {
		width: 15%;
	}
}
@media (min-resolution:.001dpcm) {
	/* hack for Opera12 */
	_:-o-prefocus, #newstab li.tab7 {
		width: 15%;
	}
}