@font-face {
	font-family: 'entypo';
	src:url('../fonts/entypo2.eot');
	src:url('../fonts/entypo2.eot?#iefix') format('embedded-opentype'),
		url('../fonts/entypo2.ttf') format('truetype'),
		url('../fonts/entypo2.woff') format('woff'),
		url('../fonts/entypo2.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="sicon-"], [class*=" sicon-"] {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sicon-phone:before {
	content: "\e62a";
}
.sicon-mobile:before {
	content: "\e62b";
}
.sicon-mouse:before {
	content: "\e62c";
}
.sicon-directions:before {
	content: "\e62d";
}
.sicon-mail:before {
	content: "\e62e";
}
.sicon-paperplane:before {
	content: "\e62f";
}
.sicon-pencil:before {
	content: "\e630";
}
.sicon-feather:before {
	content: "\e631";
}
.sicon-paperclip:before {
	content: "\e632";
}
.sicon-drawer:before {
	content: "\e633";
}
.sicon-reply:before {
	content: "\e634";
}
.sicon-reply-all:before {
	content: "\e635";
}
.sicon-forward:before {
	content: "\e636";
}
.sicon-user:before {
	content: "\e602";
}
.sicon-users:before {
	content: "\e627";
}
.sicon-user-add:before {
	content: "\e637";
}
.sicon-vcard:before {
	content: "\e638";
}
.sicon-export:before {
	content: "\e628";
}
.sicon-location:before {
	content: "\e639";
}
.sicon-map:before {
	content: "\e63a";
}
.sicon-compass:before {
	content: "\e63b";
}
.sicon-location2:before {
	content: "\e63c";
}
.sicon-target:before {
	content: "\e63d";
}
.sicon-share:before {
	content: "\e626";
}
.sicon-sharable:before {
	content: "\e63e";
}
.sicon-heart:before {
	content: "\e600";
}
.sicon-heart2:before {
	content: "\e601";
}
.sicon-star:before {
	content: "\e624";
}
.sicon-star2:before {
	content: "\e625";
}
.sicon-thumbs-up:before {
	content: "\e622";
}
.sicon-thumbs-down:before {
	content: "\e623";
}
.sicon-chat:before {
	content: "\e63f";
}
.sicon-comment:before {
	content: "\e640";
}
.sicon-quote:before {
	content: "\e641";
}
.sicon-house:before {
	content: "\e642";
}
.sicon-popup:before {
	content: "\e643";
}
.sicon-search:before {
	content: "\e644";
}
.sicon-flashlight:before {
	content: "\e645";
}
.sicon-printer:before {
	content: "\e646";
}
.sicon-bell:before {
	content: "\e647";
}
.sicon-link:before {
	content: "\e648";
}
.sicon-flag:before {
	content: "\e649";
}
.sicon-cog:before {
	content: "\e64a";
}
.sicon-tools:before {
	content: "\e64b";
}
.sicon-trophy:before {
	content: "\e64c";
}
.sicon-tag:before {
	content: "\e64d";
}
.sicon-camera:before {
	content: "\e64e";
}
.sicon-megaphone:before {
	content: "\e64f";
}
.sicon-moon:before {
	content: "\e650";
}
.sicon-palette:before {
	content: "\e651";
}
.sicon-leaf:before {
	content: "\e652";
}
.sicon-music:before {
	content: "\e603";
}
.sicon-music2:before {
	content: "\e604";
}
.sicon-new:before {
	content: "\e653";
}
.sicon-graduation:before {
	content: "\e654";
}
.sicon-book:before {
	content: "\e655";
}
.sicon-newspaper:before {
	content: "\e656";
}
.sicon-bag:before {
	content: "\e657";
}
.sicon-airplane:before {
	content: "\e658";
}
.sicon-lifebuoy:before {
	content: "\e659";
}
.sicon-eye:before {
	content: "\e65a";
}
.sicon-clock:before {
	content: "\e65b";
}
.sicon-microphone:before {
	content: "\e621";
}
.sicon-calendar:before {
	content: "\e65c";
}
.sicon-bolt:before {
	content: "\e65d";
}
.sicon-thunder:before {
	content: "\e65e";
}
.sicon-droplet:before {
	content: "\e65f";
}
.sicon-cd:before {
	content: "\e629";
}
.sicon-briefcase:before {
	content: "\e660";
}
.sicon-air:before {
	content: "\e661";
}
.sicon-hourglass:before {
	content: "\e662";
}
.sicon-gauge:before {
	content: "\e663";
}
.sicon-language:before {
	content: "\e664";
}
.sicon-network:before {
	content: "\e665";
}
.sicon-key:before {
	content: "\e666";
}
.sicon-battery:before {
	content: "\e667";
}
.sicon-bucket:before {
	content: "\e668";
}
.sicon-magnet:before {
	content: "\e669";
}
.sicon-drive:before {
	content: "\e66a";
}
.sicon-cup:before {
	content: "\e66b";
}
.sicon-rocket:before {
	content: "\e66c";
}
.sicon-brush:before {
	content: "\e66d";
}
.sicon-suitcase:before {
	content: "\e66e";
}
.sicon-cone:before {
	content: "\e66f";
}
.sicon-earth:before {
	content: "\e670";
}
.sicon-keyboard:before {
	content: "\e671";
}
.sicon-browser:before {
	content: "\e672";
}
.sicon-publish:before {
	content: "\e673";
}
.sicon-progress-3:before {
	content: "\e674";
}
.sicon-progress-2:before {
	content: "\e675";
}
.sicon-brogress-1:before {
	content: "\e676";
}
.sicon-progress-0:before {
	content: "\e677";
}
.sicon-sun:before {
	content: "\e678";
}
.sicon-sun2:before {
	content: "\e679";
}
.sicon-adjust:before {
	content: "\e67a";
}
.sicon-code:before {
	content: "\e67b";
}
.sicon-screen:before {
	content: "\e67c";
}
.sicon-infinity:before {
	content: "\e67d";
}
.sicon-light-bulb:before {
	content: "\e67e";
}
.sicon-credit-card:before {
	content: "\e67f";
}
.sicon-database:before {
	content: "\e680";
}
.sicon-voicemail:before {
	content: "\e681";
}
.sicon-clipboard:before {
	content: "\e682";
}
.sicon-cart:before {
	content: "\e683";
}
.sicon-box:before {
	content: "\e684";
}
.sicon-ticket:before {
	content: "\e685";
}
.sicon-rss:before {
	content: "\e686";
}
.sicon-signal:before {
	content: "\e687";
}
.sicon-thermometer:before {
	content: "\e688";
}
.sicon-droplets:before {
	content: "\e689";
}
.sicon-uniE68A:before {
	content: "\e68a";
}
.sicon-statistics:before {
	content: "\e68b";
}
.sicon-pie:before {
	content: "\e68c";
}
.sicon-bars:before {
	content: "\e68d";
}
.sicon-graph:before {
	content: "\e68e";
}
.sicon-lock:before {
	content: "\e68f";
}
.sicon-lock-open:before {
	content: "\e690";
}
.sicon-logout:before {
	content: "\e691";
}
.sicon-login:before {
	content: "\e692";
}
.sicon-checkmark:before {
	content: "\e693";
}
.sicon-cross:before {
	content: "\e694";
}
.sicon-minus2:before {
	content: "\e610";
}
.sicon-plus2:before {
	content: "\e60f";
}
.sicon-cross2:before {
	content: "\e695";
}
.sicon-minus:before {
	content: "\e60d";
}
.sicon-plus:before {
	content: "\e60e";
}
.sicon-cross3:before {
	content: "\e696";
}
.sicon-minus3:before {
	content: "\e61f";
}
.sicon-plus3:before {
	content: "\e620";
}
.sicon-erase:before {
	content: "\e697";
}
.sicon-blocked:before {
	content: "\e698";
}
.sicon-info:before {
	content: "\e699";
}
.sicon-info:before {
	content: "\e61e";
}
.sicon-question:before {
	content: "\e69a";
}
.sicon-help:before {
	content: "\e69b";
}
.sicon-warning:before {
	content: "\e69c";
}
.sicon-cycle:before {
	content: "\e61d";
}
.sicon-cw:before {
	content: "\e61b";
}
.sicon-ccw:before {
	content: "\e61c";
}
.sicon-shuffle:before {
	content: "\e61a";
}
.sicon-arrow:before {
	content: "\e69d";
}
.sicon-arrow2:before {
	content: "\e69e";
}
.sicon-retweet:before {
	content: "\e69f";
}
.sicon-loop:before {
	content: "\e6a0";
}
.sicon-history:before {
	content: "\e6a1";
}
.sicon-back:before {
	content: "\e6a2";
}
.sicon-switch:before {
	content: "\e6a3";
}
.sicon-list:before {
	content: "\e6a4";
}
.sicon-add-to-list:before {
	content: "\e6a5";
}
.sicon-layout:before {
	content: "\e6a6";
}
.sicon-list2:before {
	content: "\e6a7";
}
.sicon-text:before {
	content: "\e6a8";
}
.sicon-text2:before {
	content: "\e6a9";
}
.sicon-document:before {
	content: "\e6aa";
}
.sicon-docs:before {
	content: "\e6ab";
}
.sicon-landscape:before {
	content: "\e6ac";
}
.sicon-pictures:before {
	content: "\e6ad";
}
.sicon-video:before {
	content: "\e6ae";
}
.sicon-music3:before {
	content: "\e619";
}
.sicon-folder:before {
	content: "\e6af";
}
.sicon-archive:before {
	content: "\e6b0";
}
.sicon-trash:before {
	content: "\e6b1";
}
.sicon-upload:before {
	content: "\e6b2";
}
.sicon-download:before {
	content: "\e6b3";
}
.sicon-disk:before {
	content: "\e6b4";
}
.sicon-install:before {
	content: "\e6b5";
}
.sicon-cloud:before {
	content: "\e6b6";
}
.sicon-upload2:before {
	content: "\e6b7";
}
.sicon-bookmark:before {
	content: "\e6b8";
}
.sicon-bookmarks:before {
	content: "\e6b9";
}
.sicon-book2:before {
	content: "\e6ba";
}
.sicon-play:before {
	content: "\e60c";
}
.sicon-pause:before {
	content: "\e60b";
}
.sicon-record:before {
	content: "\e60a";
}
.sicon-stop:before {
	content: "\e609";
}
.sicon-next:before {
	content: "\e605";
}
.sicon-previous:before {
	content: "\e606";
}
.sicon-first:before {
	content: "\e607";
}
.sicon-last:before {
	content: "\e608";
}
.sicon-resize-enlarge:before {
	content: "\e6bb";
}
.sicon-resize-shrink:before {
	content: "\e6bc";
}
.sicon-volume:before {
	content: "\e618";
}
.sicon-sound:before {
	content: "\e6bd";
}
.sicon-mute:before {
	content: "\e6be";
}
.sicon-flow-cascade:before {
	content: "\e6bf";
}
.sicon-flow-branch:before {
	content: "\e6c0";
}
.sicon-flow-tree:before {
	content: "\e6c1";
}
.sicon-flow-line:before {
	content: "\e6c2";
}
.sicon-flow-parallel:before {
	content: "\e6c3";
}
.sicon-arrow-left:before {
	content: "\e6c4";
}
.sicon-arrow-down:before {
	content: "\e6c5";
}
.sicon-arrow-up--upload:before {
	content: "\e6c6";
}
.sicon-arrow-right:before {
	content: "\e6c7";
}
.sicon-arrow-left2:before {
	content: "\e6c8";
}
.sicon-arrow-down2:before {
	content: "\e6c9";
}
.sicon-arrow-up:before {
	content: "\e6ca";
}
.sicon-arrow-right2:before {
	content: "\e6cb";
}
.sicon-arrow-left3:before {
	content: "\e6cc";
}
.sicon-arrow-down3:before {
	content: "\e6cd";
}
.sicon-arrow-up2:before {
	content: "\e6ce";
}
.sicon-arrow-right3:before {
	content: "\e6cf";
}
.sicon-arrow-left:before {
	content: "\e617";
}
.sicon-arrow-down:before {
	content: "\e616";
}
.sicon-arrow-up:before {
	content: "\e615";
}
.sicon-arrow-right:before {
	content: "\e614";
}
.sicon-arrow-left4:before {
	content: "\e6d0";
}
.sicon-arrow-down4:before {
	content: "\e6d1";
}
.sicon-arrow-up3:before {
	content: "\e6d2";
}
.sicon-arrow-right4:before {
	content: "\e6d3";
}
.sicon-arrow-left5:before {
	content: "\e6d4";
}
.sicon-arrow-down5:before {
	content: "\e6d5";
}
.sicon-arrow-up4:before {
	content: "\e6d6";
}
.sicon-arrow-right5:before {
	content: "\e6d7";
}
.sicon-arrow-left6:before {
	content: "\e6d8";
}
.sicon-arrow-down6:before {
	content: "\e6d9";
}
.sicon-arrow-up5:before {
	content: "\e6da";
}
.sicon-uniE6DB:before {
	content: "\e6db";
}
.sicon-arrow-left7:before {
	content: "\e6dc";
}
.sicon-arrow-down7:before {
	content: "\e6dd";
}
.sicon-arrow-up6:before {
	content: "\e6de";
}
.sicon-arrow-right6:before {
	content: "\e6df";
}
.sicon-menu:before {
	content: "\e6e0";
}
.sicon-ellipsis:before {
	content: "\e6e1";
}
.sicon-dots:before {
	content: "\e6e2";
}
.sicon-dot:before {
	content: "\e6e3";
}
.sicon-cc:before {
	content: "\e6e4";
}
.sicon-cc-by:before {
	content: "\e6e5";
}
.sicon-cc-nc:before {
	content: "\e6e6";
}
.sicon-cc-nc-eu:before {
	content: "\e6e7";
}
.sicon-cc-nc-jp:before {
	content: "\e6e8";
}
.sicon-cc-sa:before {
	content: "\e6e9";
}
.sicon-cc-nd:before {
	content: "\e6ea";
}
.sicon-cc-pd:before {
	content: "\e6eb";
}
.sicon-cc-zero:before {
	content: "\e6ec";
}
.sicon-cc-share:before {
	content: "\e6ed";
}
.sicon-cc-share2:before {
	content: "\e6ee";
}
.sicon-daniel-bruce:before {
	content: "\e6ef";
}
.sicon-daniel-bruce2:before {
	content: "\e6f0";
}
.sicon-github:before {
	content: "\e6f1";
}
.sicon-github2:before {
	content: "\e6f2";
}
.sicon-flickr:before {
	content: "\e6f3";
}
.sicon-flickr2:before {
	content: "\e6f4";
}
.sicon-vimeo:before {
	content: "\e6f5";
}
.sicon-vimeo2:before {
	content: "\e6f6";
}
.sicon-twitter:before {
	content: "\e6f7";
}
.sicon-twitter2:before {
	content: "\e6f8";
}
.sicon-facebook:before {
	content: "\e6f9";
}
.sicon-facebook2:before {
	content: "\e6fa";
}
.sicon-facebook3:before {
	content: "\e6fb";
}
.sicon-googleplus:before {
	content: "\e6fc";
}
.sicon-googleplus2:before {
	content: "\e6fd";
}
.sicon-pinterest:before {
	content: "\e6fe";
}
.sicon-pinterest2:before {
	content: "\e6ff";
}
.sicon-tumblr:before {
	content: "\e700";
}
.sicon-tumblr2:before {
	content: "\e701";
}
.sicon-linkedin:before {
	content: "\e702";
}
.sicon-linkedin2:before {
	content: "\e703";
}
.sicon-dribbble:before {
	content: "\e704";
}
.sicon-dribbble2:before {
	content: "\e705";
}
.sicon-stumbleupon:before {
	content: "\e706";
}
.sicon-stumbleupon2:before {
	content: "\e707";
}
.sicon-lastfm:before {
	content: "\e708";
}
.sicon-lastfm2:before {
	content: "\e709";
}
.sicon-rdio:before {
	content: "\e70a";
}
.sicon-rdio2:before {
	content: "\e70b";
}
.sicon-spotify2:before {
	content: "\e613";
}
.sicon-spotify:before {
	content: "\e611";
}
.sicon-qq:before {
	content: "\e70c";
}
.sicon-instagram:before {
	content: "\e70d";
}
.sicon-dropbox:before {
	content: "\e70e";
}
.sicon-evernote:before {
	content: "\e70f";
}
.sicon-flattr:before {
	content: "\e710";
}
.sicon-skype:before {
	content: "\e711";
}
.sicon-skype2:before {
	content: "\e712";
}
.sicon-renren:before {
	content: "\e713";
}
.sicon-sina-weibo:before {
	content: "\e714";
}
.sicon-paypal:before {
	content: "\e715";
}
.sicon-picasa:before {
	content: "\e716";
}
.sicon-soundcloud:before {
	content: "\e612";
}
.sicon-mixi:before {
	content: "\e717";
}
.sicon-behance:before {
	content: "\e718";
}
.sicon-circles:before {
	content: "\e719";
}
.sicon-vk:before {
	content: "\e71a";
}
.sicon-smashing:before {
	content: "\e71b";
}
.bg-twitter { background: #00aced; }
.bg-facebook { background: #3b5998; }
.bg-googleplus { background: #dd4b39; }
.bg-pinterest { background: #cb2027; }
.bg-linkedin { background: #007bb6; }
.bg-youtube { background: #bb0000; }
.bg-vimeo { background: #aad450; }
.bg-tumblr { background: #32506d; }
.bg-instagram { background: #517fa4; }
.bg-flickr { background: #ff0084; }
.bg-dribbble { background: #ea4c89; }
.bg-quora { background: #a82400; }
.bg-foursquare { background: #0072b1; }
.bg-forrst { background: #5B9A68; }
.bg-vk { background: #45668e; }
.bg-wordpress { background: #21759b; }
.bg-stumbleupon { background: #EB4823; }
.bg-yahoo { background: #7B0099; }
.bg-blogger { background: #fb8f3d; }
.bg-soundcloud { background: #ff3a00; }