.centerColumn {
    padding: 0;
    position: relative
}
#play {
    float: left;
    position: relative
}
#play_list {
    float: left
}
#play_list a {
    display: inline-block
}
#play_text {
    position: absolute;
    bottom: 6px;
    right: 5px
}
#play_text ul {
    opacity: .8
}
#play_text ul li {
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "arial";
    height: 15px;
    line-height: 15px;
    margin: 2px;
    text-align: center;
    width: 15px
}
.flashnumf {
    background: none repeat scroll 0 0 #fff
}
.flashnumc {
    background: none repeat scroll 0 0 #5B74A8;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700
}
.banner_r {
    margin-left: 6px;
    float: left
}
.banner_r div:first-child {
    margin-bottom: 7px
}
#mage_sales {
    margin: 10px 0
}
.index_DailyDeals_top {
    position: relative;
    width: 790px;
    left: 0;
    height: auto
}
#mage_sales_bj {
    width: 790px;
    height: 39px;
    background: url(//images.td-imgs.com/rs/img/ad/lightingsale_en.jpg);
    z-index: 0
}
#amazing_deals {
    margin: 5px
}
.mega-tab {
    border-bottom: 1px solid #bfbfbf
}
.mega-tab i {
    width: 7px;
    height: 3px;
    display: block;
    font-size: 0;
    position: absolute;
    bottom: 0;
    left: 45%;
    background: url(./images/bottom_v2.png) no-repeat 0 -912px;
    display: none;
}
.mega-tab li {
    position: relative;
    height: 35px;
    line-height: 35px;
    float: left;
}
.mega-tab a {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #404040;
    padding: 0 20px;
}
.mega-tab li.on a,
.mega-tab li a:hover {
    color: #eb6100;
    border-bottom: 1px solid #EB6100;
    text-decoration: none;
}
.mega-tab li.on i {
    display: block
}
.home-seckill .clock {
    background: url(./images/bottom_v2.png) no-repeat 0 -880px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.home-seckill .seckill_time {
    position: absolute;
    top: 10px;
    z-index: 10;
    right: 20px;
    color: #eb6100;
    font-size: 14px;
}
.home-seckill .time {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    vertical-align: middle;
}
.mamzing_0 {
    clear: both;
    width: 91px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 495px;
    display: block
}
.mamzing_1 {
    clear: both;
    width: 101px;
    height: 72px;
    position: absolute;
    left: 595px;
    top: 0;
    display: block
}
.mamzing_2 {
    width: 99px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 701px;
    display: block;
    clear: both
}
.mamzing_t1 {
    color: #1A75CF;
    font-size: 23px;
    font-weight: 700;
    margin-left: 660px;
    width: 143px;
    font-family: Arial;
    position: relative;
    line-height: 54px
}
.bought_history_bg {
    background: url(./images/bought_history_bg.png) repeat-x 0 -55px
}
.ui-state-default,
.ui-widget-content .ui-state-default {
    background: none repeat scroll 0 0 #EDF8FB;
    border: 1px solid #AAA;
    color: #555;
    font-weight: 400;
    outline: medium none
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555;
    outline: medium none;
    text-decoration: none
}
.ui-state-active,
.ui-widget-content .ui-state-active {
    background: url(./images/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 0 50% #FFF!important;
    border: 1px solid #AAA;
    color: #212121;
    font-weight: 400;
    outline: medium none
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121!important;
    outline: medium none;
    text-decoration: none
}
#brand h3 {
    color: #333;
    padding-bottom: 2px;
    border-bottom: 1px solid #CCC
}
.brand_more {
    margin: 0 20px 0 0;
    float: right
}
.brand_more a {
    font-size: 12px;
    font-weight: 700;
    font-family: arial;
    color: #333;
    font-style: normal
}
.brand_more a:hover {
    color: #f47b20
}
.brand_title {
    height: 20px;
    text-align: center;
    font-size: 14px;
    width: 180px
}
#top_brand {
    padding-top: 8px;
}
#top_brand ul {
    margin: 0;
    padding: 0;
    margin-left: 6px
}
#top_brand ul li {
    margin: 0 5px 10px 0;
    float: left;
    display: block;
    width: 180px;
    height: 75px;
    padding: 10px 4px;
    border: 1px solid #F5F5F5
}
#top_brand ul li a {
    color: #666
}
#top_brand ul li a:hover {
    color: #f47b20
}
#top_brand ul li:hover {
    border: 1px solid #ccc
}
#top_brand ul li img {
    border: 1px solid #ccc
}
#top_brand ul li div {
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    width: 180px
}
.filter {
    position: relative;
    margin: 0;
    padding: 0;
    border: 2px solid #61BCEB
}
.filter .moreFt {
    display: none;
    position: absolute;
    bottom: -13px;
    left: 45%
}
.filter .moreFt .btn-more {
    height: 13px;
    line-height: 12px;
    text-align: center;
    background: #61BCEB;
    margin: 0;
    width: 139px;
    display: block;
    border-radius: 0 0 5px 5px
}
.filter .moreFt a {
    color: #fff;
    text-decoration: none
}
.filter .moreFt a:hover {
    background: #55A1C9;
    text-decoration: none
}
.filter .moreFt a s {
    width: 8px;
    height: 4px;
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 2px;
    background: url(./images/mark.png) no-repeat -1px -17px
}
.filter .moreFt a s.down {
    background: url(./images/mark.png) no-repeat -1px -2px
}
.fil_header {
    padding-left: 10px;
    background: #E7F7F6;
    border: 1px solid #D3D7DA;
    height: 30px;
    line-height: 30px;
    font-size: 16px
}
.fil_text {
    height: auto;
    line-height: 30px;
    border-bottom: 1px solid #d3d7da
}
.fil_text div.catalog_name {
    display: block;
    width: 160px;
    text-align: right;
    float: left;
    font-size: 13px;
    white-space: normal;
    line-height: 15px
}
.fil_text td.type {
    padding-top: 10px
}
.fil_text td.type_sep {
    width: 5px;
    padding-top: 3px
}
.fil_text a {
    color: #332886;
    font-size: 13px;
    line-height: 30px;
    margin-right: 15px
}
.fil_text a em {
    color: #929292;
    font-weight: 400;
    font-style: inherit
}
.filter_td {
    display: block;
    height: 30px;
    overflow: hidden;
    position: relative
}
.showImgOn {
    position: absolute;
    right: 6px;
    top: 9px;
    display: none
}
.showImgOn .showOn {
    width: 9px;
    height: 9px;
    background: url(./images/add2.png) no-repeat;
    cursor: pointer
}
.showImgOn .showOff {
    background: url(./images/subtract.png) no-repeat
}
.slide {
    position: relative;
    width: 792px;
    height: 222px
}
.slide .pic {
    overflow: hidden;
    width: 700px;
    float: left;
    position: relative
}
.slide .pic a {
    display: none
}
.slide .pic img {
    width: 700px;
    height: 220px
}
.slide .pic a.cur {
    display: block
}
.slide .thumb {
    width: 90px;
    float: right;
    overflow: hidden
}
.slide .thumb a {
    display: block;
    height: 50px;
    margin-bottom: 2px;
    border: #fff 1px solid;
    padding: 1px
}
.slide .thumb a img {
    width: 85px;
    height: 50px
}
.lxfscroll {
    width: 742px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    height: 260px
}
.lxfscroll ul li {
    width: 772px;
    text-align: center;
    line-height: 18px;
    position: absolute;
    font-size: 12px;
    font-weight: 700
}
.lxfscroll ul li div {
    width: 185px;
    float: left
}
.cellphone_cate {
    width: 790px;
    margin-bottom: 15px;
    position: relative;
}
.cellphone_cate .frist_category_title{margin:5px 0;}
.frist_category_title {
    clear: both;
    font-size: 19px;
    font-weight: bold;
    height: 25px;
    font-family: arial;
    margin: 0;
    border-bottom: 1px solid #A0A0A0;
    display: block;
}
.p_box_img_b {
    height: 180px;
    text-align: center;
    display: block;
    position: relative;
    width: 193px
}
.bought_history_bg {
    width: 800px;
    height: 280px
}
.slide .thumb .cur,
.slide .thumb a:hover {
    border: #269bfe 2px solid
}
.p_box_price_new {
    color: #EB6100;
    font-size: 17px;
    font-weight: 700
}
.p_box_height {
    background: #fff
}
.frist_category_more {
    margin-right: 5px;
    margin-top: 8px
}
.category_products_more {
    margin-right: 5px;
    margin-top: 10px
}
.p_box_star {
    border: none;
    padding: 0 5px;
}
.pic {
    cursor: pointer;
    float: left
}
.fea_k22 {
    left: 4px;
    margin-left: 165px;
    padding-top: 20px;
    position: relative
}
.fea_k22 ul {
    list-style: none outside none;
    width: 190px
}
.fea_k22_title {
    color: #4A5A6F;
    font-weight: 700
}
.fea_k22_title:hover {
    color: #E47911
}
.fea_k22 ul li {
    font-size: 14px;
    height: auto;
    line-height: 18px;
    margin-top: 4px
}
#fea2_more_size {
    font-size: 10px
}
.fea_k2 {
    margin: 5px 0 10px;
    clear: both
}
.fea_k2 table {
    width: 100%
}
.fea_k2_title a {
    color: #4A5A6F;
    font-weight: 700
}
.fea_k2_title a:hover {
    color: #E47911
}
.fea_k2 td {
    font-size: 16px;
    height: auto;
    line-height: 18px;
    margin-top: 4px
}
#fea_k3_size {
    font-size: 12px
}
#fea_k3_size span {
    color: red
}
#fea_more_size {
    font-size: 12px;
    text-align: right
}
.call-nextBtn {
    padding-top: 83px
}
.call-bimg {
    margin-bottom: 5px
}
.left_margin {
    margin-left: 30px
}
.clear {
    clear: both
}
.w360 {
    width: 360px;
    padding-left: 15px
}
.centerBoxWrapper h2.thematic_recommdation_title {
    background-position: 0 -28px
}
.recent_sold_a {
    top: 4px
}
.feature-cate {
    margin-bottom: 25px;
}
.feature-cate .tab {
    border-left: 1px solid #e8e8e8;
    width: 100%;
    box-sizing: border-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: box;
    overflow: hidden;
}
.feature-cate .tab li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -ms-flex: auto;
    display: inline\9;
    width: 16.666666666666%\9;
    float: left\9;
}
.feature-cate .tab li a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f5f5f5;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden\9;
}
.feature-cate .tab li.on a,
.feature-cate .tab li a:hover {
    background: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: #eb6100;
}
.feature-cate .ads a {
    border: 1px solid #E8E8E8;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.feature-cate .ads a.last {
    margin: 0;
}
.feature-cate .prd {
    width: 580px;
    float: left;
    margin-bottom: 10px;
}
.feature-cate .ad {
    float: right;
}
.cates-info {
    margin-top: 10px;
    display: none
}
.cates-info.on {
    display: block;
}
.feature-cate .p_box_wrapper {
    width: 33%;
    min-height: 220px;
}
.feature-cate .p_box_wrapper .normalprice {
    display: none;
}
.feature-cate .p_box_wrapper:hover .normalprice {
    display: block;
}
.p-tags a {
    display: inline-block;
    padding: 2px 5px;
    margin-right: 4px;
    border: 1px solid #e8e8e8;
    margin-bottom: 2px;
}
.feature-cate .p_box_wrapper .p_box_title {
    height: 9px;
    min-height: 9px;
    margin-bottom: 9px
}
.feature-cate .p_box_star {
    display: none;
}
.feature-cate .p_box_wrapper .freeshiptext {
    display: none;
}
.feature-cate .p_box_img {
    height: 170px;
}
.feature-cate .p_box_wrapper .productListing-even {
    min-height: 0
}
.home-salehub {
    margin: 20px 0;
}
.m-brand {
    margin-bottom: 40px;
}
.brand-desc {
    background: #f4f4f4;
    padding: 10px;
}
.brand-cont {
    float: right;
    width: 780px;
}
.brand-logo {
    display: inline-block;
    margin-right: 10px;
    float: left;
}
.brand-desc p {
    display: inline-block;
    float: left;
    margin: 0;
    max-height: 36px;
    overflow: hidden;
    font-family: verdana;
    color: #898989;
    width: 590px;
}
.m-brand .p_box_wrapper {
    width: 50%;
    min-height: 0;
}
.m-brand .p_box_wrapper .productListing-even {
    width: 380px;
    min-height: 0;
    left: 0;
    margin-left: 0;
}
.m-brand .p_box_wrapper .p_box_img {
    text-align: left;
    float: left;
    margin-right: 10px;
}
.m-brand .p_box_wrapper .p_box_star {
    display: inline-block;
}
.brand-desc p a {
    color: #0068b7;
    text-decoration: underline;
}
.m-brand .p_box_wrapper .p_box_title {
    margin-top: 20px;
}
.brand-prod {
    display: none
}
.brand-prod.on {
    display: block
}
.m-brand h2 {
    margin-bottom: 10px;
}
.brand-list {
    width: 188px;
    float: left;
    border-left: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc
}
.brand-list a {
    display: block;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    background: #f4f4f4;
}
.brand-list li.on a,
.brand-list a:hover {
    border-right: 0;
    background: #fff
}